[2021-10-19 06:31] lucaderi commented on #5937
I have manually reloaded an element on 194.... to which you have access. I see no alert triggered even though I have moved the severity for the recipient/endpoint to info. However, I see alert drops so I cannot guarantee the behaviour is the one I see (no alert) due to alert drop.
So @simonemainardi if you are confident this bug is fixed, please close this ticket. The #5968 issue is still open, ho

[2021-10-19 06:32] lucaderi commented on #5858
Verified as fixed

[2021-10-19 06:32] #5858 closed, assigned to MatteoBiscosi

[2021-10-19 06:33] lucaderi commented on #5904
@MatteoBiscosi Asking again: how did you test it?

[2021-10-19 06:35] lucaderi commented on #5992
sFlow is a sampled technology so we see a packet in X, meaning that we do not see the beginning of the connection. What you are asking is to manually revert the connection direction as we do with DNS. @simonemainardi Can you implement this?

[2021-10-19 06:38] lucaderi commented on #5994
Hi Martin, it should be already there (I will add telnet in a moment)

ftp_control.c:    ndpi_set_risk(ndpi_struct, flow, NDPI_CLEAR_TEXT_CREDENTIALS);
http.c:    ndpi_set_risk(ndpi_struct, flow, NDPI_CLEAR_TEXT_CREDENTIALS);
mail_imap.c:	  ndpi_set_risk(ndpi_struct, flow, NDPI_CLEAR_TEXT_CREDENTIALS);
mail_pop.c:      ndpi_set_risk(ndpi_struct, flow, NDPI_CLEAR_TEXT_CREDENTIALS);
mail_pop.c:

[2021-10-19 06:44] lucaderi commented on #5994
https://github.com/ntop/nDPI/commit/06f13fd2de45237b0643b2a26c76f57967b8e93e

[2021-10-19 07:27] martinscheu commented on #5994
Hi Luca,
Yes perfect, that is the correct behavior.
Thank you

[2021-10-19 07:31] #5994 closed, assigned to nobody

[2021-10-19 07:36] martinscheu commented on #5992
we see same behavior in NTP, server is marked as Client, Client as server:

<img width="1041" alt="Screenshot 2021-10-19 at 09 35 54" src="https://user-images.githubusercontent.com/38549755/137864357-86b2f84c-e109-4858-b7ea-a00f36d25ea7.png">
:

[2021-10-19 07:42] MatteoBiscosi commented on #5928
Closing for inactivity, please reopen if needed

[2021-10-19 07:42] #5928 closed, assigned to MatteoBiscosi

[2021-10-19 09:06] #5937 closed, assigned to simonemainardi

[2021-10-19 09:12] simonemainardi commented on #5992
@StrilGit please provide an sFlow pcap with which I can reproduce the behavior. Swap should have already been implemented so there may be something with your sFlow that hasn't been handled. Please, send privately at mainardi at ntop dot org

[2021-10-19 09:16] MatteoBiscosi commented on #5988
As requested, now alerts having HTTP protocols, are going to have, if available, the last HTTP method as shown in the screenshot below

![Screenshot from 2021-10-19 11-13-26](https://user-images.githubusercontent.com/49585191/137880378-62da48dc-1499-491a-bf84-272618b66220.png)

[2021-10-19 09:20] simonemainardi commented on #5991
When processing a pcap, alerts are timestamped with the current time even if they preserve the real flow first / last seen. Adding an "All" will basically equal the "Last 30 mins".

What we can do, in case of pcaps, is to query the timestamp of the oldest alert inserted and forcefully set the begin time to this timestamp, while leaving the end time to the current time.

Please, explain if this sol

[2021-10-19 09:27] simonemainardi commented on #5961
Alert description is built ad query time from a JSON stored in the database.

To search we can:
1. Use SQLite JSON support to query straight into a JSON field of the alert (as we are considering ClickHouse support, we should verify if this will be supported)
2. Query straight into the JSON as if it was a string

Please comment on the desired solution.

[2021-10-19 09:29] simonemainardi commented on #5801
Do you have any feedback on this? Can this be closed?

[2021-10-19 09:33] simonemainardi commented on #2906
A possibility is to add an extra host check callback `escalate` to perform additional actions. It would be better however to list all the possible use cases before jumping to the implementation to see if this can met the expectations.

[2021-10-19 09:41] simonemainardi commented on #4060
@lucaderi you mentioned in a meeting that this might no longer be necessary. Please confirm.

[2021-10-19 09:55] MatteoBiscosi commented on #5989
As shown in the screenshot below, a description reporting the predominant direction has been added. Due to the issue mentioned by you above i preferred adding a "generic" description ('Download' or 'Upload') instead of the specific number of bytes to avoid a misleading description.

![Screenshot from 2021-10-19 11-53-01](https://user-images.githubusercontent.com/49585191/137886789-04e6795b-1d49-48

[2021-10-19 10:52] simonemainardi commented on #5269
ts.lua is now able to return data into the old 24-h format. Use ts.lua as usual, just add parameter `by_24h=true` to have the desired behavior.

Example, for flows:

[code]

![image](https://user-images.githubusercontent.com/3397663/137895001-f8f01253-1b4a-4467-928a-8286b47b48bf.png)

Example, for hosts (historical):

[code]

![image](https://user-images.githubusercontent.com/3397663/137895187-78f

[2021-10-19 11:52] MatteoBiscosi commented on #5966
Closing for inactivity, please reopen if needed

[2021-10-19 11:52] #5966 closed, assigned to MatteoBiscosi

[2021-10-19 14:32] MatteoBiscosi commented on #5993
Implemented as requested.
Added a new checkbox, that enable/disable the alert page auto-refresh using the last refresh-rate set. Other then that if a user click onto 'Auto-Refresh', it is going to be redirected to the preferences page, in this way it is going to change the refresh rate as it likes.

![Screenshot from 2021-10-19 16-17-00](https://user-images.githubusercontent.com/49585191/137931779

[2021-10-19 14:32] #5993 closed, assigned to MatteoBiscosi

[2021-10-19 15:00] #5269 closed, assigned to simonemainardi, MatteoBiscosi

[2021-10-19 15:39] MatteoBiscosi commented on #5973
Verified as Implemented

[2021-10-19 15:39] #5973 closed, assigned to nobody

[2021-10-19 15:40] MatteoBiscosi commented on #5972
Verified as Implemented

[2021-10-19 15:40] #5972 closed, assigned to nobody

[2021-10-19 15:40] MatteoBiscosi commented on #5971
Verified as Fixed

[2021-10-19 15:40] #5971 closed, assigned to simonemainardi

[2021-10-19 16:50] lucaderi commented on #5496
Please check if this feature is already implemented

[2021-10-19 16:51] lucaderi commented on #4060
It is necessary but not a priority with 180+ tickets

[2021-10-19 16:54] lucaderi commented on #2906
Please solve it in the gui reporting alerts with state that have been open for too long

[2021-10-19 17:03] lucaderi commented on #5470
Implemented also in ntopng

[2021-10-19 17:03] #5470 closed, assigned to lucaderi

[2021-10-19 17:05] lucaderi commented on #4280
This is no longer a priority

[2021-10-19 17:05] #4280 closed, assigned to simonemainardi, cardigliano

[2021-10-19 17:06] lucaderi commented on #3820
No longer necessary as disaggregation is implemented with networks (-m)

[2021-10-19 17:06] #3820 closed, assigned to simonemainardi, lucaderi

[2021-10-19 17:27] lucaderi commented on #5933
Verified as fixed

[2021-10-19 17:27] #5933 closed, assigned to MatteoBiscosi

[2021-10-20 10:25] simonemainardi commented on #5893
Implemented as stateful alert as requested

![image](https://user-images.githubusercontent.com/3397663/138075339-2f4cb5e2-6562-4bad-b323-a8f8357f38c7.png)

![image](https://user-images.githubusercontent.com/3397663/138075391-4160b686-843f-4217-bb1c-73493d4e6fd1.png)

Configurable under the SNMP device checks

![image](https://user-images.githubusercontent.com/3397663/138075440-e3ef9316-bbf7-4e61-8

[2021-10-20 10:37] deanfourie1 opened #5995 "Email notifications not working"
I have an issue with email notifications. When testing a recipient the test throws a error, however the email sends. The real problem lies in the fact that the notifications once triggered are not being delivered to the recipient.

I've tried 2x new fresh installs of ntopng
running latest version on Raspbian on a raspberrypi.

Any ideas? Screenshot attached below

Thanks in advance.

![InkedScreen

[2021-10-20 10:55] deanfourie1 commented on #5995
Ok ive narrowed it down to this.

systemctl stop ntopng
rm -rf /var/lib/ntopng/category_lists
systemctl start ntopng

https://github.com/ntop/ntopng/issues/2456

Must be running as root. Is there any way to prevent ntopng as running as root on boot?

Thanks

[2021-10-20 11:27] deanfourie1 commented on #5995
Also am still not receiving active host monitoring notifications

[2021-10-20 13:27] lucaderi commented on #5094
Just implemented

[2021-10-20 13:27] #5094 closed, assigned to nobody

[2021-10-20 14:06] simonemainardi commented on #5995
ntopng doesn't need to run as root. By default, it runs using unprivileged user `ntopng`

Assuming you have installed it from the standard site `packages.ntop.org` you can:
- stop ntopng
-  `chown -R ntopng:ntopng /var/lib/ntopng`
- restart ntopng

[2021-10-20 14:09] MatteoBiscosi commented on #5829
Changed the only thing that could rollback the ip address resolved into the mac address again, please update and let me know if now works correctly (pro rep.)

[2021-10-20 15:57] martinscheu opened #5996 "Add context for host anomaly alert"
Dear ntop team
Currently the Score Anomaly Alert triggers when the score is outside of the expected range. That is ok, the smoothing / interpolation too. But for figuring out what is the issue with the host, we miss context, like how the host score is put together.
As with the information as is I can not go further or drill down to explore what caused the score to increase or which issues where su

[2021-10-20 19:20] lucaderi opened #5997 "Wrong attacker alert"
This host has only incoming flows (i.e. is the server) and this score
![image](https://user-images.githubusercontent.com/4493366/138157060-b5aa54ac-9c8a-439c-a5db-04d16bb2b150.png)

These are the flows of the host

![image](https://user-images.githubusercontent.com/4493366/138157037-86d5f051-3570-4314-a371-a21f99c36505.png)
and its role is marked as an attacker but it is the victim
![image](https:

[2021-10-20 19:24] lucaderi commented on #5989
![Screen Shot 2021-10-20 at 21 23 21](https://user-images.githubusercontent.com/4493366/138158459-2f39d947-e348-402e-ba79-d9aaba3db8d9.png)
Still bugged: missing HTTP method

[2021-10-20 19:26] lucaderi commented on #5988
![Screen Shot 2021-10-20 at 21 26 00](https://user-images.githubusercontent.com/4493366/138158806-945f5c65-45a8-4215-8524-ebeb79dddd5e.png)
Still bugged

[2021-10-20 19:27] lucaderi commented on #5985
Verified

[2021-10-20 19:27] #5985 closed, assigned to simonemainardi

[2021-10-20 19:30] lucaderi commented on #5969
After cache cleanup, it seems to work. Closing for now but I have the feeling it will appear again

[2021-10-20 19:30] #5969 closed, assigned to simonemainardi, MatteoBiscosi

[2021-10-20 19:33] lucaderi commented on #5829
Finally fixed :-)

[2021-10-20 19:33] #5829 closed, assigned to MatteoBiscosi

[2021-10-20 19:45] lucaderi commented on #5893
Verified as fixed

[2021-10-20 19:45] #5893 closed, assigned to simonemainardi

[2021-10-20 20:00] MatteoBiscosi commented on #5989
Added the predominant direction even to 'Other issues' section

[2021-10-21 07:00] martinscheu commented on #5988
Hi @MatteoBiscosi
That is very helpful, if you could add the server status code, e.g. 200 as well?
Thank you!

[2021-10-21 07:47] MatteoBiscosi commented on #5988
Hi @martinscheu , sure, if available I'm going to add it!

[2021-10-21 14:08] MatteoBiscosi commented on #5988
Hi @martinscheu, as requested the Status Code has been added to the HTTP alerts, however it seems there is a bug with nProbe flows and ntopng is not receiving HTTP stats (status code, ecc.) so right now if you capture flows from a non-nProbe interface is working correctly, otherwise no HTTP stats is showing up. I'm working on fixing it

[2021-10-21 14:21] lucaderi opened #5998 "Invalid Flow Risk stored"
Currently ntopng stored in the DB only the first (numeric) risk instead of all risks

[2021-10-22 08:00] LarsMde opened #5999 "NTOPNG: Hosts shows me more than 1400 entries, almost all IPv6"
I have a problem since ntopng 5.x.
I have about 30 physical hosts in my network, but instead of these 30 local hosts, about 1400 are now counted, because all IPv6 multicast addresses (ff02::) are also counted as local hosts (under flows also because IPv6 Neighbor Solicitation). Ntopng even made DNS requests for all these hosts, which my external DNS server could not resolve, of course. I was able

[2021-10-22 08:38] lucaderi commented on #5610
Verified as fixed

[2021-10-22 08:38] #5610 closed, assigned to simonemainardi

[2021-10-22 08:44] lucaderi commented on #5931
Fixed. On Windows disabled interfaces (eg. a VPN) are not listed until they show-up. The solution has been to ad (in nProbe) a * heading char. Example -i "*WAN" so as soon as an interface containing in his named the word WAN, nProbe will initialize and start creating flows.  If at some point the interface will go down (e.g. disconnect from VPN), nProbe will wait until the interface goes back to li

[2021-10-22 08:44] #5931 closed, assigned to nobody

[2021-10-22 16:56] lucaderi commented on #5929
@Taralas Can you please update and report: we believe we have fixed the issues

[2021-10-23 05:53] Niklasr69 opened #6000 "Not possible to change DSCP value in the client DSCP filter"
After creating a DSCP filter in "historical flow explorer" page, is not possible to change the DSCP value.

![image](https://user-images.githubusercontent.com/26242302/138544279-f9acd9b0-bba2-4a02-a859-b1a7a2813ccb.png)

![image](https://user-images.githubusercontent.com/26242302/138544290-aab7393a-33ab-44d3-bd52-adddd01cdca8.png)

The Client DSCP filter is also missing when clicking on filter add

[2021-10-23 05:59] Niklasr69 opened #6001 ""Flow exporter" filter can't handle hostname "historical flow explorer" page"
Today only  IP can be used as parameter in filter flow exporter. Need the option to use hostname instead of IP.

![image](https://user-images.githubusercontent.com/26242302/138544478-33c46eea-d2e3-412b-9153-414d9f705169.png)

[2021-10-23 21:22] mzac commented on #5718
I am trying to install ntopng on a Raspberry Pi 3B+ running Raspbian 64 bit and getting an error during the install.  From this thread I see only the armhf version is available and not the arm64 yet.

Note: on this same Pi I had installed Raspbian armhf 32 bit and I was able to install all the packages and get it up and running.  Now I'm trying arm64.

[code]

[2021-10-23 22:53] lazyandproud commented on #5947
If thats hardcoded, maybe it's a good idea to also add the Antimalware Updates an Exchange Server 2016 > CU4 pulls constantly. It's annoying ;)

As far as I found out so far it's amupdatedl.microsoft.com and amupdatedl[1-9].microsoft.com

![image](https://user-images.githubusercontent.com/58183116/138573750-bed1dbc3-0204-421b-adaf-765c9e89051c.png)

ref from ms: https://social.technet.microsoft.co

[2021-10-25 02:27] bojangles9 opened #6002 "Feature Request - Timeseries export by lat/long"
I'd like to reproduce the "geomap" in the ntop-ng GUI, in Grafana.

This would be a modification to the Country:traffic export stat, but would export lat/long instead.

[2021-10-25 07:37] thomasbruchet commented on #5984
Hello
The file has just been sent by email.

For information:
WHen I try to delete a subinterface with () in the name I've this log:
25/Oct/2021 10:10:25 [LuaEngine.cpp:1219] WARNING Script failure [/usr/share/ntopng/scripts/lua/pro/enterprise/delete_sub_interface.lua][...opng/scripts/lua/pro/enterprise/delete_sub_interface.lua:22: Missing interface index]

[2021-10-25 08:37] Niklasr69 opened #6003 "snmp polling delayed/timeout"
The SNMP polling doeas not work as it should when number of flow exporters increasing.
In our setup, 40 flow exporters sending flows.
Will be more soon.
The CPU is not high.
snmp walk from OS works fine.

The number of devices with problem are more, only an example.
![image](https://user-images.githubusercontent.com/26242302/138662738-cd218efa-1f94-46bc-accc-0254b2122be3.png)

[2021-10-25 14:02] lucaderi opened #6004 "Invalid interface selection"
![Screen Shot 2021-10-25 at 16 00 49](https://user-images.githubusercontent.com/4493366/138709786-0872dd37-3341-4a25-8d23-60baef730cc4.png)
Flows coming from loopback and enp0s31f6 are mixed on the same page

[2021-10-25 14:05] lucaderi opened #6005 "Flow pagination is not implemented"
Flow pagination is not implemented. This is what I see
![Screen Shot 2021-10-25 at 16 02 24](https://user-images.githubusercontent.com/4493366/138710033-5e2b9540-e7b7-4bf3-8725-b87367915f92.png)
and this is what I would expect
![Screen Shot 2021-10-25 at 16 04 57](https://user-images.githubusercontent.com/4493366/138710480-fecfe343-af10-4938-9c58-e799d9421484.png)

[2021-10-25 14:06] lucaderi opened #6006 "Flow entries pagination is not working"
![Screen Shot 2021-10-25 at 16 06 00](https://user-images.githubusercontent.com/4493366/138710615-73700d41-27d7-452c-b90b-67990dc1b020.png)

Actually it is working only if a new query is performed and not when then menu value is changed

[2021-10-25 14:08] lucaderi opened #6007 "Invalid application name reported"
![Screen Shot 2021-10-25 at 16 07 57](https://user-images.githubusercontent.com/4493366/138710933-64fcf2d0-a193-454b-8462-fe4b239355d7.png)

It seems that the application name is not properly formatted

[2021-10-25 14:10] lucaderi opened #6008 "Record download is not working"
Clicking on this button
![Screen Shot 2021-10-25 at 16 09 57](https://user-images.githubusercontent.com/4493366/138711238-cd8a8b25-4909-4843-a737-fc1177218bfd.png)
triggers this output

HTTP/1.1 302 Found
Server: ntopng 5.1.211021 (x86_64)
Set-Cookie: session=ff0ba6128503967960b70cb1e1c204f0; path=/; HttpOnly; SameSite=lax
Location: /lua/http_status_code.lua?message=internal_error&referer=192.168.

[2021-10-25 14:11] vadchen opened #6009 "Is it possible to have resolved IPs in active flows API response?"
We do see resolved IPs in the UI and in some API responses (lua/pro/rest/v1/get/db/flows.lua?ifid=0),
but in active flows API (lua/rest/v1/get/flow/active.lua) we get only IP:

`
"server": {

    "is_broadcast": true,
    "ip": "151.101.1.44",
    "is_blacklisted": false,
    "name": "151.101.1.44",
    "is_dhcp": false,
    "port": 443

}
`

![image](https://user-images.githubusercontent.com/6987

[2021-10-25 14:12] lucaderi opened #6010 "Select hosts based on location"
Please implement the ability to filter client or server hosts based on their location (local or remote).
![Screen Shot 2021-10-25 at 16 11 27](https://user-images.githubusercontent.com/4493366/138711526-83c9440f-983e-4d12-a02d-825ea2e5ee7f.png)
Example:
- select all flows from remote hosts using SSH as application protocol

[2021-10-25 14:13] lucaderi opened #6011 "Flow risk is not formatted properly"
![Screen Shot 2021-10-25 at 16 12 50](https://user-images.githubusercontent.com/4493366/138711813-47763999-eeca-442d-8a64-00941732c7e9.png)

[2021-10-25 14:14] lucaderi opened #6012 "Client DSCP is not properly populated"
![Screen Shot 2021-10-25 at 16 13 46](https://user-images.githubusercontent.com/4493366/138711942-cedf2b90-d05c-4c24-bb6b-12fed579c570.png)

[2021-10-25 14:15] lucaderi opened #6013 "Server DSCP is not present"
Server DSCP is not reported as client DSC
![Screen Shot 2021-10-25 at 16 15 01](https://user-images.githubusercontent.com/4493366/138712136-22e4cf4f-00fd-417a-8fc7-8d0d513b7a0c.png)
P

[2021-10-25 14:16] MatteoBiscosi commented on #6004
Interface id was missing from where statement, now should be fixed (pro repo), please update and let me know

[2021-10-25 14:21] lucaderi opened #6014 "IP filtering is not working as expected"
![Screen Shot 2021-10-25 at 16 21 19](https://user-images.githubusercontent.com/4493366/138713298-c39da243-f537-4e22-b61c-8807d8a26502.png)
![Screen Shot 2021-10-25 at 16 22 12](https://user-images.githubusercontent.com/4493366/138713517-9ce2b90c-475e-4b16-a805-b2ef9a34a96b.png)
![Screen Shot 2021-10-25 at 16 22 39](https://user-images.githubusercontent.com/4493366/138713587-6e1d34fb-067c-4bd2-ba9

[2021-10-25 14:23] lucaderi opened #6015 "REST Error during ClickHouse Flow Query"
25/Oct/2021 16:23:10 [LuaEngine.cpp:1253] WARNING: Script failure [/home/deri/ntopng/scripts/lua/pro/rest/v2/get/host/flows/flows_info.lua][...png/scripts/lua/pro/modules/flow_db/clickhouse_utils.lua:451: bad argument #4 to 'format' (number expected, got nil)]

[2021-10-25 14:28] MatteoBiscosi commented on #6007
Fixed, pro repo

[2021-10-25 14:34] MatteoBiscosi commented on #6015
Should be fixed, please update and let me know (pro repo)

[2021-10-25 14:41] MatteoBiscosi commented on #6012
Removed Unknown label (pro repo)

[2021-10-25 15:40] lucaderi commented on #6015
A new bug arose
25/Oct/2021 17:39:42 [MySQLDB.cpp:1016] ERROR: MySQL error: [Code: 53. DB::Exception: Cannot convert string 90.147.160.70 to type UInt32: while executing 'FUNCTION equals(IPV4_DST_ADDR : 6, '90.147.160.70' : 7) -> equals(IPV4_DST_ADDR, '90.147.160.70') UInt8 : 9'. (TYPE_MISMATCH) (version 21.10.2.15 (official build))][53][SELECT COUNT(*) AS totalRows FROM flows WHERE (( (IPV4_DST_A

[2021-10-25 16:03] MatteoBiscosi commented on #6015
this bug was due to the fact that the ip was not converted into the numeric version, please update pro repo, the problem should be fixed

[2021-10-25 16:06] MatteoBiscosi commented on #6014
should be fixed, same as #6015 (pro repo)

[2021-10-25 17:24] lucaderi commented on #6014
![Screen Shot 2021-10-25 at 19 23 19](https://user-images.githubusercontent.com/4493366/138741600-a9c8e895-5fa0-4500-a7a9-c6e9704afd0c.png)
IPv4 seems to work now, IPv6 still bugged

[2021-10-25 17:24] lucaderi commented on #6015
Seems to work now

[2021-10-25 17:24] #6015 closed, assigned to nobody

[2021-10-25 17:28] lucaderi opened #6016 "Invalid Mix of IPv4 and IPv6"
![Screen Shot 2021-10-25 at 19 25 45](https://user-images.githubusercontent.com/4493366/138741935-3690ff6f-f578-4161-8d4f-35c9bc6f237e.png)

This screenshot shows two bugs
- The code does not seem to check the protocol version so you mix IPv4 with IPv6 results. With IPv6 the IPv4 address is set to 0.0.0.0 and thus is selected. With an IP-based filter, once you know the family (v4 or v6) you need t

[2021-10-25 17:38] MatteoBiscosi commented on #6005
Should be fixed now. In Clickhouse I remind that this function is available, instead it's not available in nIndex (caching problem).

[2021-10-25 17:41] MatteoBiscosi commented on #6006
Please try again after updating, probably it was due to #6015

[2021-10-25 18:21] lucaderi commented on #6006
Working now

[2021-10-25 18:21] #6006 closed, assigned to nobody

[2021-10-25 18:22] lucaderi commented on #6012
![Screen Shot 2021-10-25 at 20 22 07](https://user-images.githubusercontent.com/4493366/138749308-e2740521-0c7f-40dc-843c-150c248f3fc8.png)
Empty now: not working yet

[2021-10-25 18:23] lucaderi commented on #6007
Seems to work now

[2021-10-25 18:23] #6007 closed, assigned to nobody

[2021-10-25 18:23] lucaderi commented on #6005
Working now

[2021-10-25 18:23] #6005 closed, assigned to nobody

[2021-10-25 18:24] lucaderi commented on #6004
![Screen Shot 2021-10-25 at 20 24 20](https://user-images.githubusercontent.com/4493366/138749615-33c2a102-fee9-43c3-a063-e60bcfe23ba0.png)
Still broken

[2021-10-25 18:25] lucaderi commented on #6012
Actually sometimes is populated as shown in https://github.com/ntop/ntopng/issues/6004
There is something wrong either when writing to the DB or when reading it

[2021-10-25 22:50] phantomski77 commented on #5718
The problem with [official ntop deb packages](https://packages.ntop.org/) for Raspberry Pi is that they don’t contain `arm64` platform specific binaries, so your 64 bit kernel installation instead defaults to only `arm64` repositories available and known to dpkg - which are Debian/Raspbian (not ntop.org) maintained and very old (3.x). These are not compatible with ntop-data, which is oddly availab

[2021-10-26 05:42] Niklasr69 opened #6017 "top talkers in history flow explorers page"
Missing the function to be able to get top talkers from the "history flows explorer" page.
After filtering out flow exporter (optional in / out interface) :
show that a Source or Destination is occupying the percentage of a BW available so that we can have idea as who is the most polluted IP(Source/Dest) to be worked upon. It should show all the flows associated to that particular IP also. It shou

[2021-10-26 09:11] MatteoBiscosi commented on #6012
The problem should be fixed now (pro repo). The insert into the DB was wrong, in fact instead of getting the DSCP info from the flow it got the TCP flags, for this reason the values were not correct.

[2021-10-26 09:30] MatteoBiscosi commented on #6016
Fixed, pro repo. The problem was that when filtering no ip version was added into the where

[2021-10-26 14:00] MatteoBiscosi commented on #6008
The CSV download should now be working correctly. In my labs I was able to download 70k values without problems in a few seconds (pro repo)

[2021-10-26 18:48] SARBLA opened #6018 "Top application for interface represented incorrect, instead APP names ext label populated with interface."
Bug or Misconfiguration.
Good day,  labels graph on Top talkers for sflow: interface showing not apps but only interface name, not sure it is misconfig or bug

[root@localhost 0]# ntopng --version
Version:        5.0.211022 [Enterprise/Professional build]
GIT rev:        5.0-stable:2c37b2a1233e3c494d09f478653bf36fba9b3fee:20211022
Pro rev:        r4204
Built on:       CentOS Linux release 7.9.2009

[2021-10-26 19:21] SARBLA commented on #6018
Need help with this thanks in advnce.

[2021-10-26 19:26] mzac commented on #5718
Thanks @phantomski77 !  I had actually found that config not long after I posted and it worked!  Now I have a very 'hot' Pi3 that I need to get better cooling for ! ;D

[2021-10-26 20:49] lucaderi commented on #5906
Marco Tranchida <m.tranchida1@studenti.unipi.it> is working to implement this check

[2021-10-27 07:41] tomkolp opened #6019 "5.1.211027 the service stops after a while (opnsense)"
After upgrading to 5.1.211027, the Ntopng service stops after a while. OPNsense 21.7.3_3-amd64 no logs from this event. I do the update every day, yesterday there was no problem.

[2021-10-27 07:54] lucaderi commented on #6016
Seems to be fixed

[2021-10-27 07:54] #6016 closed, assigned to nobody

[2021-10-27 07:56] lucaderi opened #6020 "Broken IP address sort"
![image](https://user-images.githubusercontent.com/4493366/139024090-37706efa-1bee-4f0c-bb46-86d54c89fce8.png)

This feature was present and is now gone

[2021-10-27 07:57] lucaderi commented on #6014
Verified as fixed

[2021-10-27 07:57] #6014 closed, assigned to nobody

[2021-10-27 07:58] lucaderi commented on #6012
Verified as fixed

[2021-10-27 07:58] #6012 closed, assigned to nobody

[2021-10-27 08:07] lucaderi commented on #6008
Not quite
27/Oct/2021 10:07:00 [MySQLDB.cpp:1016] ERROR: MySQL error: [Code: 62. DB::Exception: Syntax error: failed at position 545 ('nil'): nil LIMIT 10 OFFSET 0. Expected one of: UNION, LIMIT, DoubleColon, LIKE, GLOBAL NOT IN, end of query, AS, DIV, IS, UUID, INTO OUTFILE, EXCEPT, OR, QuestionMark, BETWEEN, OFFSET, NOT LIKE, MOD, AND, Comma, alias, SETTINGS, IN, ILIKE, INTERSECT, FORMAT, Dot, N

[2021-10-27 08:12] lucaderi commented on #6008
The problem above appears from time to time, not always. Please check parameters value

[2021-10-27 08:13] lucaderi commented on #6004
Seems to work now

[2021-10-27 08:13] #6004 closed, assigned to MatteoBiscosi

[2021-10-27 08:19] lucaderi opened #6021 "Invalid flow drill down with ClickHouse"
![image](https://user-images.githubusercontent.com/4493366/139027515-d9893cbb-1d5b-4079-a36c-d4467d954e9d.png)
Clicking on the + icon leads to
![Screen Shot 2021-10-27 at 10 18 13](https://user-images.githubusercontent.com/4493366/139027581-50eef518-01dc-4c50-9589-be6a0b034b1e.png)

[2021-10-27 08:21] lucaderi opened #6022 "Merge MySQL Flow Explorer with Historical Flows"
When ClickHouse is enabled, the old MySQL flow search is no longer working. This is to request to merge features (if any) from the MySQL flow explorer into historical flow explorer and discontinue the old MySQL flow search.

Please make a plan first that will be validated *before* the implementation

[2021-10-27 08:38] lucaderi commented on #6011
See also #5998

[2021-10-27 09:16] lucaderi opened #6023 "Add support for MS Teams in WebHook"
This is to request the support of Microsoft Teams in Web hooks

[2021-10-27 09:26] simonemainardi commented on #5997
I have relaxed the condition to also consider the server an attacker. Ideally, we should at least keep into account the application or the category to consider the server as attacker.

Note that alerts are not swapped. You are getting those alerts as 'Application on Non-Standard Port' so it is OK to see seemingly ephemeral ports as server ports. If you look at the flows, they are all on the standa

[2021-10-27 09:28] simonemainardi commented on #6021
Link should be changed as follow:
- Show the link only when clickhouse support is enabled
- The link should point to the clickhouse explorer with a filter set on the host

[2021-10-27 09:54] MatteoBiscosi commented on #6008
Should be fixed, pro repo

[2021-10-27 09:54] simonemainardi commented on #5998
Addressed, pro part. The whole risk bitmap is now stored.

[2021-10-27 11:12] lucaderi opened #6024 "Create a new Recipient/Endpoint Family named IPS"
Currently, endpoint/recipients are used both for logging (e.g. builtin SQLite) and blocking (e.g. Fail2Ban). They need to be divided into two families where

- blocking recipients are automatically bound only to the "Jailed Pool" and cannot be moved to other pools
- logging (i.e. non blocking) recipients can't be bound to "Jailed Pool"

Blocking recipients are called when a host is added and remov

[2021-10-27 11:13] MatteoBiscosi commented on #6020
Fixed, pro repo

[2021-10-27 11:13] lucaderi opened #6025 "Rework Check "Intrusion Detection and Prevention Log""
The check "Intrusion Detection and Prevention Log" needs to be converted into an IPS recipient.

This ticket depends on #5024

[2021-10-27 15:06] simonemainardi commented on #6011
Implemented under pro, along with query functionalities. Flow risks are now stored as a bitmap.

Example

<img width="1269" alt="image" src="https://user-images.githubusercontent.com/3397663/139093340-ea1b5719-ecdc-4cdd-90e5-4914c7db6908.png">

[2021-10-27 15:06] simonemainardi commented on #6011
<img width="1265" alt="image" src="https://user-images.githubusercontent.com/3397663/139093432-780020d1-128d-495c-85e6-715f4c047507.png">

multiple statuses are supported too and shown as a CSV list.

[2021-10-27 18:38] lucaderi opened #6026 "Revamp SNMP Blocking"
What is described in https://www.ntop.org/ntop/how-attack-mitigation-works-via-snmp/ is no longer working since v5. This code needs to be redesigned and updated with the current release.

[2021-10-28 05:43] tomkolp commented on #6019
It's working now ntopng v.5.1.211028 (OPNsense 21.7.4-amd64)

[2021-10-28 05:43] #6019 closed, assigned to nobody

[2021-10-28 07:14] simonemainardi commented on #5952
@martinscheu can you please check and report whether this is solved after the latest fixes?

[2021-10-28 07:46] MatteoBiscosi commented on #6018
Hi @SARBLA could you please check if there is for instance some error into ntopng after you click in 'Top Applications' in the dropdown menu? to check it please go into the system interface and check from 'Health->System' (see screenshot below)
![Screenshot from 2021-10-28 09-42-06](https://user-images.githubusercontent.com/49585191/139209812-1bdd75da-a08c-432f-9122-1e83767790eb.png)
otherwise che

[2021-10-28 08:00] simonemainardi commented on #5968
I get proper updates using the latest build.

<img width="1255" alt="image" src="https://user-images.githubusercontent.com/3397663/139212523-5d226a30-4335-471a-94c3-e2968e5e7605.png">

Report the following:
- Are you running the packaged version?
- Are you running ntopng as root (e.g., --dont-change-user) or as unprivileged user?
- If running as unprivileged user, give details about how you've cre

[2021-10-28 08:02] simonemainardi commented on #5965
This issue has been fixes in the latest build. Please, update and reopen if necessary.

[2021-10-28 08:02] #5965 closed, assigned to simonemainardi

[2021-10-28 08:03] simonemainardi commented on #5929
Other users have reported that the issue has been fixed on pfSense. So I'm closing for now, asking @Taralas to check and reopen if necessary.

[2021-10-28 08:03] #5929 closed, assigned to cardigliano

[2021-10-28 08:04] simonemainardi commented on #5927
This has been fixed in the latest builds, both dev and stable. Issue was due to Lua VM re-use.

[2021-10-28 08:04] #5927 closed, assigned to simonemainardi

[2021-10-28 08:05] simonemainardi commented on #5984
@MatteoBiscosi please check this

[2021-10-28 12:57] Taralas commented on #5929
Sadly, I am still getting nightly crashes, but I do not believe they are related to the lua issues.

From: Simone ***@***.***>
Sent: Thursday, October 28, 2021 3:03 AM
To: ***@***.***>
Cc: Shawn ***@***.***>; ***@***.***>
Subject: Re: [ntop/ntopng] Segfault on pfSense related to LuaEngine (#5929)

Other users have reported that the issue has been fixed on pfSense. So I'm closing for now, asking @T

[2021-10-28 18:17] SARBLA commented on #6018
Hello Mateo sorry for late reply. I have  brough it up again with sflow.
No errors during in systemctl but in inspect from chrome and firefox see the same picture attached.
Can you suggest something.

Here is my config and version atatched.

[root@localhost ~]# cat /etc/nprobe/nprobe-sflow.conf | grep -v #
Usage: grep [OPTION]... PATTERN [FILE]...
Try 'grep --help' for more information.
[root@loca

[2021-10-29 09:13] mrfellas opened #6027 "Disk size not correctly detected after increase partition in SO"
We have increased the disk partition where ntopng is installed from 18GB to 50GB because lack of space, after this change the ntopng start normally but it appears that it doesn't assume the new disk space.

After some hours running the service stopped and i cannot start it again.
In log file i see this error

terminate called after throwing an instance of 'std::logic_error'
  what():  basic_string

[2021-10-29 09:42] phantomski77 commented on #5965
I can confirm this has been fixed in `211024`. Tested and behaves well as the previous versions.
Thank you!

[2021-10-29 10:12] deanfourie1 commented on #5995
I have tried the above, however im still getting the same issue? Any other ideas? Thanks

[2021-10-29 10:26] #6027 closed, assigned to nobody

[2021-10-29 12:34] Niklasr69 commented on #6000
The fix and new function works fine.
The issue can be closed.

[2021-10-29 12:42] simonemainardi commented on #5952
Closing for inactivity. Reopen if necessary.

[2021-10-29 12:42] #5952 closed, assigned to simonemainardi

[2021-10-29 12:59] simonemainardi commented on #6000
Thanks for reporting

[2021-10-29 12:59] #6000 closed, assigned to MatteoBiscosi

[2021-10-29 13:09] simonemainardi commented on #6017
It's unclear what you are saying. Enclosed pic doesn't come from ntopng.

Please, explain with details and examples.

[2021-10-29 13:21] simonemainardi commented on #5496
After internal review we have seen this is no longer needed.

[2021-10-29 13:21] #5496 closed, assigned to nobody

[2021-10-29 13:29] simonemainardi commented on #6009
Tells you the historical name, i.e., the name resolved at the time when the historical flow was seen

Sure, see REST endpoint `rest/v2/get/dns/resolve.lua`

[2021-10-29 13:29] #6009 closed, assigned to nobody

[2021-10-29 13:53] simonemainardi commented on #6021
Addressed as requested.

[2021-10-29 18:22] phantomski77 commented on #5718
No probs. I found the older builds before `211017` to use significantly less CPU. I'm not sure what changed, but `ntopng` is now very demanding process indeed, roughly 10x higher load, maxing out one core on my rPi4. I'm keeping an eye on it for upcoming versions and will flag it if necessary.

[2021-10-29 20:30] lucaderi opened #6028 "Not all the flow IEs are reported in the GUI"
Start nProbe as follows
- nprobe -i XXX --zmq tcp://127.0.0.1:1234 -T "@NTOPNG@ %TLS_CIPHER %TLS_VERSION %SRC_TO_DST_MAX_THROUGHPUT %JA3C_HASH %JA3S_HASH"
and ntopng as
- ntopng -i tcp://127.0.0.1:1234

As you can see JA3 information is missing but the throughout is instead reported.

![Screen Shot 2021-10-29 at 22 29 43](https://user-images.githubusercontent.com/4493366/139498029-8c9989d9-ea67-4d

[2021-10-30 07:58] lucaderi opened #6029 "Rework light mode timeseries"
This is to request the rework of host timeseries preferences

![Screen Shot 2021-10-30 at 09 54 44](https://user-images.githubusercontent.com/4493366/139525097-71ac308b-c9c4-4d05-8d0e-2b66b2a78b34.png)

In light mode please
- remove all DSCP charts that will go to full
![Screen Shot 2021-10-30 at 09 52 48](https://user-images.githubusercontent.com/4493366/139525060-0c9d5ae1-d686-49a8-89df-684008f1

[2021-10-30 08:01] lucaderi opened #6030 "Implement ClickHouse retention"
Currently -F clickhouse does not yet implements retention: this needs to be fixed

See https://fastnetmon.com/docs-fnm-advanced/data-retention-for-clickhouse-persistent-data-storage/

[2021-10-30 08:02] lucaderi opened #6031 "Port Alerts over ClickHouse"
In case clickhouse is used, alerts need to go to it instead of using SQLite. This allows long retention and better reporting.

[2021-10-30 11:57] SARBLA opened #6032 "NTOPNG +NPROBE Base functions not working -- HELP needed."
Good day, team after 5 days of reading and dealing with docs and internet search, reainstalling i need your help with ofiicilay bought product.

- Issues that to my undertanding should work. but they dont for me.
- NTOPNG not guessing protocols from Netflow flows.
- Netflow flows not dumped to MySQL
- Application always unknown despite...

This all prevent me from Using NTOPNG + NProbe as even at

[2021-10-31 10:05] deanfourie1 commented on #5995
Upon another fresh install, the exact same behavior. I'm sure this is nothing I am doing wrong.

[2021-11-01 03:35] araemo commented on #5848
I also ran into this.  Since I was trying to build stable versions of each based on the latest _stable release_, I used [nDPI-4.0](https://github.com/ntop/nDPI/releases/tag/4.0), which as noted is missing this call (and you can see in that link, there are 4 commits to 4.0-stable since that release was cut, one of which adds this call.

Perhaps this should be a bug in nDPI instead of ntopng, but ei

[2021-11-01 05:29] Niklasr69 commented on #6017
The idea with the image from our legacy system was to explain what we need.

We need to be able to filter out top talker clients from a certain exporter and interface for a certain history time.
I.E add together all the flows that a client has created so you get a total throughput consumption. Preferably percent rate of the available BW for the interface

[2021-11-02 08:25] martinscheu opened #6033 "Exclude Checks - add between hosts possibility"
Hello ntop Team

It would be helpful to have the possibility only to mute alert between the two hosts:
 ![Screenshot 2021-10-29 at 10 00 34](https://user-images.githubusercontent.com/38549755/139810744-95b8158d-9a1d-4357-91a5-511f335b6b26.png)
as I dont want to mute all remote alerts for one of the host

[2021-11-02 08:28] martinscheu opened #6034 "Service map - host IP address"
Hello ntop Team!

In the Hosts Stats Window it would be helpful to have the IP address displayed:
![Screenshot 2021-10-29 at 10 55 58](https://user-images.githubusercontent.com/38549755/139811338-ae1dc753-196a-46e1-829f-2e51e30b1065.png)
thank you

[2021-11-02 08:33] martinscheu opened #6035 "Maps access - also for non priviledged user"
Hello ntop Team

It would be good if also non privileged user can access / view the service, periodicity etc. maps.

Thank you.

[2021-11-02 09:02] MatteoBiscosi commented on #6034
Hi @martinscheu , as requested now the host ip/mac is going to be shown in the host stats window. When the new build is going to be released please update and let me know if everything works fine for you too.
![Screenshot from 2021-11-02 10-00-34](https://user-images.githubusercontent.com/49585191/139816799-8490c758-2dbb-40c6-99f7-ff67488d84cf.png)

[2021-11-02 09:15] simonemainardi commented on #5984
Crash seems to be due to the nBPF tree match. Actually, it's the custom callback that contains an invalid address:

![image](https://user-images.githubusercontent.com/3397663/139818902-87c8bb21-c90b-4c32-9529-f84b034a292c.png)

[2021-11-02 09:24] cardigliano commented on #5984
It is likely this has been fixed in https://github.com/ntop/PF_RING/commit/b72ea12f66ab1962039687d211d791b002c76240

[2021-11-02 10:53] MatteoBiscosi commented on #6029
As requested now in light mode no DSCP ts is going to show up, instead flows and alerts ts have been added
![Screenshot from 2021-11-02 11-52-13](https://user-images.githubusercontent.com/49585191/139833616-4b584ee2-0695-450f-a26f-c57127c6b9cd.png)

[2021-11-02 11:34] MatteoBiscosi commented on #6018
Hi @SARBLA  I'm sorry but I'm unable to reproduce this behavior, in my lab everything works fine, could you please describe in detail the actions you do to come in this page? maybe I'm trying in an other way and the issue is not reproducing.
If you try changing timeserie from the dropdown and go back to this timeserie is the issue going to be fixed or not?

[2021-11-02 11:43] MatteoBiscosi commented on #6002
Hi @renoir789 what do you mean by a `modification to the Country:traffic export stat`? I'm going to create a new endpoint from which even the geomap is going to ask for the data and it's going to send back info like now, a list containing the relative hosts info, ip, lat and long and info like that
![Screenshot from 2021-11-02 12-41-58](https://user-images.githubusercontent.com/49585191/139839949-

[2021-11-02 12:00] MatteoBiscosi commented on #5996
Hi @martinscheu unfortunately it's not possible to get specific information on what generated that score, so this is the best I can do. If it could be helpful I could add some reference to the host timeseries and flow alerts filtered on that host.

[2021-11-02 13:54] martinscheu commented on #5996
Hi @MatteoBiscosi any information in the first step would be helpful. How it is now I would need to investigate what the issues are and that takes too much time, so I would disable this check. Thank you.

[2021-11-02 14:13] thomasbruchet commented on #5984
Hello;

After the debug session with simonemainardi this morning and an update of ntopng, the application start without any problem.
Thank you for your support.

[2021-11-02 14:46] simonemainardi commented on #5984
Thanks for reporting this.

[2021-11-02 14:46] #5984 closed, assigned to simonemainardi, cardigliano

[2021-11-02 15:00] martinscheu opened #6036 "DNS packet larger than 512 bytes - falsely alerting on packet size"
Hello ntop Team

The DNS packet larger than 512 bytes - Alert is alerting when packet size is over 512 bytes instead of DNS payload size is over 512 bytes.

Thank you.

[2021-11-02 15:27] MatteoBiscosi commented on #5996
Hi @martinscheu unfortunately this is all i can do for now, I added a reference to the flow alerts, ecc. in fact that score is calculated from the sum of the various score alerts so it is possible to check which was the cause of the sudden change by taking a look at the various alerts (more info here https://www.ntop.org/guides/ntopng/basic_concepts/alerts.html#behavior-alerts).
![Screenshot from

[2021-11-02 15:27] #5996 closed, assigned to MatteoBiscosi

[2021-11-02 16:37] lucaderi commented on #6032
Please mail me (deri@ntop.org) so we can have an interactive troubleshoot session. FLows do not carry DPI and DPI (as well plugin) need 'P' namely packets. I hope this explains you why for instance the application name is unknown for soem of your flows.

[2021-11-02 16:42] simonemainardi commented on #2918
Implemented and documented in referenced commits (and pro companion commits)

![image](https://user-images.githubusercontent.com/3397663/139907979-eb87ebcc-7cb6-4377-9775-7867822d7ba7.png)

[2021-11-02 22:00] lucaderi commented on #6036
If you talk about the flow risk as you can see in https://github.com/ntop/nDPI/blob/dev/src/lib/protocols/dns.c#L540 we consider the UDP payload that should be as you expect. Please explain the problem you reported more in detail.

[2021-11-02 22:33] lucaderi opened #6037 "Implement Historical Flow Explorer"
The current implementation of the historical flow explorer is a simple Excel-like reporting tool. What is missing is a way to simplify data exploration by implementing:
- a set of pre-defined queries
- a framework to add new queries in a simple fashion

The configuration should be implemented in JSON or similar but not on Lua or using a programming language; this is to ease the addition of new que

[2021-11-03 09:58] thomasbruchet commented on #5984
Hello;

Yesterday's debugging solved the multi-crash problem but I still have a problem with non-deletable interfaces.
![image](https://user-images.githubusercontent.com/86605223/140040290-77bed586-38be-477f-a364-4390a66279b4.png)
When I click on [Delete], nothing append.

[2021-11-03 10:02] thomasbruchet commented on #5984
nov. 03 10:56:52 MCONSPP01 ntopng[31420]: 03/Nov/2021 10:56:52 [LuaEngine.cpp:1253] WARNING: Script failure [/usr/share/ntopng/scripts/lua/pro/enterprise/delete_sub_interface.lua][...opng/scripts/lua/pro/enterprise/delete_sub_interface.lua:22: Missing interface index]

[2021-11-03 13:05] sneak commented on #2455
This should be better documented.  The fact that ntopng has components required for basic functionality that are not free software basically means that ntopng, community edition aside, is not free software as it does not function correctly without use of proprietary software.

Thus, on systems that don't run nonfree software, ntopng is useless and unsuitable.

[2021-11-03 15:40] MatteoBiscosi commented on #5904
To test it i run `for i in {1..100}; do ping -c 2 1.1.1.$i; done;` in my terminal with ntopng up and set up ntopng ICMP Flood Flows/sec threshold to 1 Flow per second and in a few seconds the alert is going to show up.
![Screenshot from 2021-11-03 16-39-23](https://user-images.githubusercontent.com/49585191/140093217-45238a5b-3dc2-4054-900a-ed1b9ec4517d.png)

[2021-11-03 17:01] simonemainardi commented on #2455
This statement is not accurate. You can build and run ntopng from sources and run it on any system. Without anything proprietary. Extra 'proprietary' functionalities extend base community functionalities and are part of a popular business model. See https://en.wikipedia.org/wiki/Freemium

[2021-11-03 18:33] #6032 closed, assigned to lucaderi

[2021-11-03 18:33] lucaderi commented on #6013
Verified as fixed

[2021-11-03 18:33] #6013 closed, assigned to nobody

[2021-11-03 21:09] martinscheu commented on #6036
yes you are right. Issue is, that we have lots of false positives. I have standard query responses over 1096, lots from Microsoft. Is the alert checking the request or response?
And when alerted, we have no context, would be nice to have the url:
<img width="1091" alt="Screenshot 2021-11-03 at 22 08 45" src="https://user-images.githubusercontent.com/38549755/140193107-8a874898-4d10-4d60-bcf7-57c93

[2021-11-03 21:10] martinscheu commented on #6034
it is working fine, thanks @MatteoBiscosi !

[2021-11-03 21:10] #6034 closed, assigned to MatteoBiscosi

[2021-11-03 21:31] martinscheu opened #6038 "HTTP suspicious content alert"
Hello @MatteoBiscosi
I checked the HTTP suspicious content alert and have noticed two things:
1) could you please move the link icon (the square with arrow) to the left of the URL? is with long URLs is difficult to find it.
2) I got the alert but without any additional information:
<img width="1740" alt="Screenshot 2021-11-03 at 22 27 53" src="https://user-images.githubusercontent.com/38549755/140

[2021-11-03 21:35] martinscheu commented on #5801
@simonemainardi it was an issue with RDP over UDP, but it looks like ok now, so I close the ticket. thank you.

[2021-11-03 21:35] #5801 closed, assigned to simonemainardi

[2021-11-03 21:39] martinscheu commented on #6035
@MatteoBiscosi is working, thank you.

[2021-11-03 21:39] #6035 closed, assigned to MatteoBiscosi

[2021-11-04 00:05] schuc opened #6039 "MaxMind geolocation in ntopng (No ntopng-data package to install?)"
I am trying to get GEO-IP working in ntopng in OpnSense and the instructions at https://github.com/ntop/ntopng/blob/dev/doc/README.geolocation.md say it's more accurate to use MaxMind. So, the very first step says to install ntopng-data package... However, there is no package of that name in the package list in OpnSense.

My package list for ntop has: os-ntopng and ntopng.

I must be missing somet

[2021-11-04 08:06] lucaderi commented on #6023
Verified together as fixed

[2021-11-04 08:06] lucaderi commented on #6021
Verified as fixed

[2021-11-04 08:06] #6021 closed, assigned to simonemainardi

[2021-11-04 08:08] lucaderi opened #6040 "Invalid not filter"
![Screen Shot 2021-11-04 at 09 08 16](https://user-images.githubusercontent.com/4493366/140278804-4849139e-c751-4229-88c1-a398518abb78.png)

04/Nov/2021 09:07:45 [MySQLDB.cpp:1015] ERROR: MySQL error: [Code: 53. DB::Exception: Cannot convert string 12.97.98.159 to type UInt32: while executing 'FUNCTION notEquals(IPV4_DST_ADDR : 7, '12.97.98.159' : 10) -> notEquals(IPV4_DST_ADDR, '12.97.98.159') UI

[2021-11-04 08:13] lucaderi opened #6041 "IP address name resolution is working randomly"
![Screen Shot 2021-11-04 at 09 12 47](https://user-images.githubusercontent.com/4493366/140279498-e969ee79-80f6-47e9-adfc-9282dde476e4.png)

In this example sometimes 255.255.255.255 is converted to symbolic name, sometimes it is not.

[2021-11-04 08:14] lucaderi commented on #6020
Verified as fixed

[2021-11-04 08:14] #6020 closed, assigned to MatteoBiscosi

[2021-11-04 08:17] lucaderi commented on #6011
The fix has introduced a new bug
- the risk is too short, in particular when several flow risks are reported. As of today it kind of useless
![Screen Shot 2021-11-04 at 09 16 13](https://user-images.githubusercontent.com/4493366/140279916-204a528f-326c-415c-a8a1-2e6977729695.png)
- Clicking in the info (?) leads to a wrong page (https://www.ntop.org/guides/nDPI/flow_risks.html#risk-039) for anothe

[2021-11-04 08:20] lucaderi opened #6042 "Flow risk filtering is not working as it should"
Flow risk is a bitmap and thus it cannot be filtered as today. For instance the filter below means "find flows that have exactly risk set to Malformed Packet" (so =) whereas the filter should be "find flows that have risk containing Malformed Packet" (so ||)

![Screen Shot 2021-11-04 at 09 18 45](https://user-images.githubusercontent.com/4493366/140280248-9e951cc5-4ab9-431e-a19d-7247d825cfe3.png)

[2021-11-04 08:23] lucaderi commented on #5991
Verified as fixed

[2021-11-04 08:23] #5991 closed, assigned to MatteoBiscosi

[2021-11-04 08:24] lucaderi opened #6043 "Code leftover breaks alerts layout"
![Screen Shot 2021-11-04 at 09 23 42](https://user-images.githubusercontent.com/4493366/140280971-eec1dec2-f02d-4c78-b1ae-c7a594032241.png)
This appears with clickhouse Alerts -> Flows

Please scan all the source code with a grep and fix this problem forever not just on this script

[2021-11-04 08:25] #6023 closed, assigned to MatteoBiscosi

[2021-11-04 08:26] lucaderi commented on #5904
Verified as fixed

[2021-11-04 08:26] #5904 closed, assigned to MatteoBiscosi

[2021-11-04 08:29] lucaderi commented on #5989
Verified as fixed

[2021-11-04 08:29] #5989 closed, assigned to MatteoBiscosi

[2021-11-04 08:30] lucaderi commented on #6008
Still bugged with a new error
![Screen Shot 2021-11-04 at 09 29 56](https://user-images.githubusercontent.com/4493366/140281906-2814c637-deb9-4b0b-a6d3-4f2e6aa09669.png)

[2021-11-04 08:34] lucaderi commented on #5997
Still bugged. Just tested and this is what I see: no one is marked. I expect the host making FTP requests (the client) to be the attacker and the other one to be the victim.

![image](https://user-images.githubusercontent.com/4493366/140282417-f4416505-0027-44cd-b480-b8b1421d42a6.png)

[2021-11-04 08:41] lucaderi commented on #6029
Verified as fixed

[2021-11-04 08:41] #6029 closed, assigned to MatteoBiscosi

[2021-11-04 08:46] lucaderi commented on #5998
See #6011

[2021-11-04 08:54] Cyphon00 commented on #5025
Hi @cardigliano - Can this issue be reopened please.

[2021-11-04 08:54] lucaderi opened #6044 "Code mix in Clickhouse HostFlows"
Open a host and click on the link

![image](https://user-images.githubusercontent.com/4493366/140284877-cc16d437-8a03-47a7-a3a9-2710a0c7753a.png)

this is what I see

![image](https://user-images.githubusercontent.com/4493366/140285022-e977bf9f-44f4-4ffd-81be-9be2a526c6ac.png)

The bottom filter is not working and using clickhouse it MUST move to the historical explorer to avoid writing similar co

[2021-11-04 09:12] thomasbruchet opened #6045 "Can't delete a sub-interface"
Hello,

I've a problem on some Interfaces created with Custom Traffic Disaggregation, I can not delete them.
I had created several new interface and named them like that: VLAN_name(VLAN_ID)
I've deleted all the old interface that was just named like "VLAN_name" withtout the "(xxx)" withtout any problem.

The problem occur when I create a Custom Traffic Disaggregation with "( )" in the name and try

[2021-11-04 09:38] cardigliano commented on #5025
@Cyphon00 what ntopng are you running now? Please note 4.2 is no longer supported, I suggest to test if you are able to reproduce the same on 5.1

[2021-11-04 10:25] #6043 closed, assigned to MatteoBiscosi

[2021-11-04 10:42] MatteoBiscosi commented on #6008
Fixed pro repo, tested right now with over 66k flows and it's working correctly

[2021-11-04 10:58] Cyphon00 commented on #5025
@cardigliano Hi, I'm on ntopng Community v.4.2.210729.
I'm running it on a pfSense box, so it's part of the pfSense package (and I'd prefer not to install v5 unless absolutely necessary, as it's not natively supported).

I did attempt the above with v5, and did have a similar issue however.

[2021-11-04 11:03] cardigliano commented on #5025
@Cyphon00 please note we reworked some code of this component in 5.1, thus I am not able to support 4.2, and I recommend testing the latest 5.1

[2021-11-04 11:06] AlphaDE commented on #5025
The issue still persists on all my 4 instances on ntopng /Embedded v.5.1.211031 (Raspbian GNU/Linux 10 (buster))
I also see persisting high load on all 4 which can be temporarily resolved by restarting ntopng.

[2021-11-04 11:30] Cyphon00 commented on #5025
@AlphaDE Thanks for the suggestion. After restarting mine (v4.2), speedtest has worked twice in a row. :)
It was still configured to run in Active Monitoring. I'm curious how long it lasts.

@cardigliano I don't recall if I tested v5.0 or v5.1 (as it was ~2 months ago), but I'll keep monitoring this thread as I'm curious how this gets resolved for AlphaDE. I'm hopeful that I can benefit from any f

[2021-11-04 12:08] MatteoBiscosi commented on #6045
Hi @thomasbruchet Thanks to your help I was finally able to reproduce this behavior. in my lab i was able to fix it and now everything works fine, please wait for a few hours and a new update should be available. Are you using Dev or Stable version (5.1 or 5.0)? currently it's fixed only for Dev, if you are using the Stable let me know and I'll fix there too.

[2021-11-04 13:25] thomasbruchet commented on #6045
Hello;

I'm running the stable version I guess, I don't know where to find this information.
When I do an apt update:
[code]
My version is ntopng Enterprise M v.5.1.211102

[2021-11-04 14:13] MatteoBiscosi commented on #6045
Hi @thomasbruchet , you have the dev version, the dev version is ntopng 5.1 instead the stable one is ntopng 5.0.
A new update should be ready soon

[2021-11-04 14:22] MatteoBiscosi commented on #6038
Hi @martinscheu regarding the link icon, no problem about that however you just need to click the url, you don't need to click the link icon to open the redirect modal. What do you mean with your second point? which additional information are you referring to?

[2021-11-04 15:34] MatteoBiscosi commented on #6044
Removed flows, talkers and apps tabs due to the fact that those pages are not supported by clickhouse. Now when clicking onto the lens to get the alerted flows, the user is going to be redirected to the 'Historical Flow Explorer'. At the same time fixed the issue where when clicking 'Raw Flows' the user was redirected to the old nIndex Historical Explorer.
Please report if new wrong redirections h

[2021-11-04 15:59] MatteoBiscosi commented on #6041
Fixed, pro repo. The problem came from the fact that the client didn't have a name and the server instead had; a wrong check brought to not assigning the name to the server

[2021-11-04 16:28] simonemainardi commented on #2915
Implemented. Now the traffic for each physical interface is compared with userspace traffic. Example.

![image](https://user-images.githubusercontent.com/3397663/140379453-74ff79e4-c0f5-4c98-b787-bf23717b0ffe.png)

[2021-11-04 16:30] simonemainardi commented on #2046
Implemented. For each physical interface now there's a details page with information, total traffic, throughput and historical charts. Example:

![image](https://user-images.githubusercontent.com/3397663/140379686-c2176601-1dd7-49bf-ae72-b9979b4865ec.png)

![image](https://user-images.githubusercontent.com/3397663/140379771-9bf2e7bc-ee0e-4f95-a0a5-b86cf6623cbd.png)

[2021-11-04 18:00] lucaderi opened #6046 "Invalid SQL Code"
Alert code is full of invalid SQL code that is tolerated by SQLite but that is wrong and thus errored with other DBs such as ClickHouse.

Examples:

- Column `vlan_id` is not under aggregate function and not in GROUP BY: While processing srv_ip, vlan_id, srv_name, count() AS count. (NOT_AN_AGGREGATE) (version 21.10.2.15 (official build))][215][SELECT srv_ip, vlan_id, srv_name, count(*) count FROM

[2021-11-04 18:03] lucaderi opened #6047 "Add interface_id in Alert Queries"
As in ClickHouse alerts are global to all interfaces, a new interface_id column has been added. This is to request to modify all the alert-related queries adding interface_id in all select queries to avoid mixing alerts coming from different interfaces

[2021-11-04 18:12] lucaderi opened #6048 "Protocol Filtering is Broken"
![Screen Shot 2021-11-04 at 19 10 58](https://user-images.githubusercontent.com/4493366/140395878-af26c83f-f9ee-436b-9acb-6aa1f5e5c7a7.png)

As you can see filtering is not working and there is this error on the console
04/Nov/2021 19:10:51 [LuaEngine.cpp:1253] WARNING: Script failure [/home/deri/ntopng/scripts/lua/pro/rest/v2/get/db/historical_db_search.lua][...png/scripts/lua/pro/modules/flow_db

[2021-11-04 18:13] lucaderi commented on #6044
The above problem is fixed but now there is a new bug introduced with an invalid filter

![image](https://user-images.githubusercontent.com/4493366/140396243-28d4763c-a3b4-40f4-ae3d-d69d78189f1b.png)

[2021-11-04 18:14] lucaderi commented on #6041
Verified as fixed

[2021-11-04 18:14] #6041 closed, assigned to MatteoBiscosi

[2021-11-04 18:15] lucaderi commented on #6040
Verified as fixed

[2021-11-04 18:15] #6040 closed, assigned to MatteoBiscosi

[2021-11-04 18:16] lucaderi commented on #6008
Verified as fixed

[2021-11-04 18:16] #6008 closed, assigned to MatteoBiscosi

[2021-11-04 21:33] SARBLA commented on #6018
Hello i have recreated the same on ubuntu.  Hope i can attch video here.. Just need some time.. Actually i have issues with my build on both Centos and Ubuntu and cannot get what i am doing wrong ..

I will atatch video shortly with iussue i have .

[2021-11-05 02:47] Yoshihiro-jp opened #6049 ""Traffic Recording Provider" menu doesn't show when it was through n2disk."
Hello,

I think that this is really a bug.

Like attached ntopng.conf I set two interfaces(-i=tcp://*:5556c and -i=enp3s0f1).
The "-i=tcp://*:5556c" doesn't show the "Traffic Recording Provider" menu like the "001.png" but The "-i=enp3s0f1" shows it like "002.png". I think that this is strange and wrong.
The ntopng should show the "Traffic Recording Provider" menu when I chose the  "-i=tcp://*:555

[2021-11-05 05:40] MaoPann opened #6050 "Custom applications,"
Can I specify a specific port to add an IP address as an application? For example, I define TCP: 8045 of 192.168.0.100 as our custom a protocol?

[2021-11-05 08:21] cardigliano commented on #6049
@Yoshihiro-jp please note that there are a few conditions for enabling the traffic recording on each interface, it is likely one of those conditions is not satisfied, any chance we can debug this together in a call (or even better provide ssh access)?

[2021-11-05 09:04] thomasbruchet commented on #6045
Hello,
After the update, I was able to delete the lines without any problem.
Thank you for your support.

[2021-11-05 09:17] thomasbruchet opened #6051 "Degraded Performance - notifications.lua"
Hello,

I've an issue about Degraded Performance.
The notifications.lua seems to be stuck and a reboot don't solve the problem.
If I understand correctly, the process restart each 3 secondes and since the reboot all of those have running slow.
37min 41s= 2261.000s
2261/716=3.15sec
![image](https://user-images.githubusercontent.com/86605223/140486582-99a0e198-dd7e-4c1f-92b7-a762e7e8b67a.png)

I don

[2021-11-05 09:43] cardigliano commented on #6048
This has been addressed, please verify

[2021-11-05 10:03] cardigliano commented on #6044
It seems status 46 was hardcoded in the url for some reason. Fixed.

[2021-11-05 11:14] lucaderi commented on #6051
I believe SQLite is unable to write alerts as fast as possible. Possible workarounds
- silence sole alerts that are not relevant
- check if the disk is slow or if SQLite has too many records

Long term solution: we are adding clickhouse support to speed up all this. Next week a first version should be available for testing

[2021-11-05 11:15] MatteoBiscosi commented on #6047
Added interface id into the where clause of Clickhouse queries as requested. e.g. `SELECT 4 entity_id, (tstamp_end - tstamp) duration, count(*) as count FROM `flow_alerts` WHERE (tstamp >= 1636108670 AND tstamp <= 1636110470) AND ( alert_status = 0 ) AND (interface_id = 1) `

[2021-11-05 11:20] #6045 closed, assigned to simonemainardi, MatteoBiscosi

[2021-11-05 11:42] MatteoBiscosi commented on #6036
Hi @martinscheu as requested I added some context to DNS alerts (like for HTTP)

![Screenshot from 2021-11-05 12-41-17](https://user-images.githubusercontent.com/49585191/140505332-a2348ca5-9540-49c8-bcae-c17a7f1e2f82.png)

[2021-11-05 13:38] SARBLA opened #6052 "Netflow collection: Ntopng + Nprobe Protocol always Unkwnown and category Unspecified, ports are not guessed"
Good day, team. saw it already on both Centos and Ubuntu.. Am i missing something.
All flows that are received from nprobe have App Unknown and Category UNspecified.

You mentioned on your page as description for your product
Produce long-term reports for several network metrics including throughput and L7 application protocols
Top talkers (senders/receivers), top ASs, top L7 application protocols

[2021-11-05 13:44] SARBLA commented on #6018
Can we have short zoom sessions

[2021-11-05 14:04] SARBLA commented on #6032
Good day, Luca. Missed your reply.
Still have the same issue and a lot of others jus cannot get it.
MY WEBEX:
https://kyndryl.webex.com/join/sergii.koval

I can just now to discuss all of these things.

All applications have unknown, ports are not guessed and labels on graphs
are not represent correct values.

I can just now. . All thisngs i have installation adn devices and
possibility to configu

[2021-11-05 18:25] cardigliano commented on #6046
It seems all the queries and deletes are working now. More tests will follow to check all the cases.

[2021-11-05 18:33] SARBLA commented on #6052
Thanks to NTOPNGF support we found that issue was with incorrect export fields from Network devices.
flow record DC_V9
  match ipv4 source address
  match ipv4 destination address
  match ip protocol
  match ip tos
  match transport source-port
  match transport destination-port
  collect counter bytes
  collect counter bytes long <--- this was removed to fix an issue.
  collect counter packets
 c

[2021-11-05 18:34] SARBLA commented on #6052
Custom application field based on ports also working by adding custom ndpi file to ntopng

[2021-11-05 18:34] #6052 closed, assigned to nobody

[2021-11-05 19:49] #6051 closed, assigned to nobody

[2021-11-05 19:51] lucaderi opened #6053 "Broken Observation Point Menu"
The observation menu works with flows
![Screen Shot 2021-11-05 at 20 49 33](https://user-images.githubusercontent.com/4493366/140570215-736bf426-7588-4975-a720-e964e0013494.png)
but it disappears when displaying host flows
![Screen Shot 2021-11-05 at 20 50 56](https://user-images.githubusercontent.com/4493366/140570317-74925429-8846-466f-9dc4-fc6163d89097.png)

[2021-11-05 21:55] 3po4 opened #6054 "Logstash Flow Export Issue"
I'm running the latest NTOPNG Docker instance and am attempting to export flows to a remote Logstash. However, I do not see the data in stdout nor do I see ntopng attempting to communicate with Logstash (netstat connections). Is there a log I can review to troubleshoot the flow export?

This is the command I'm using for running ntopng in docker:

sudo docker run -d -it -p 3000:3000 -v $(pwd)/ntopn

[2021-11-06 04:27] Cyphon00 commented on #5025
Update: Since rebooting, speedtest has been running successfully (hourly) for 48 hours.
I'd still love to test every 20 mins (on v4) rather than using the 5 minute option.
If anyone is willing to point me to where I could make that unsupported (at my own risk) mod, I'd appreciate it.

[2021-11-06 07:59] martinscheu commented on #6038
Hi @MatteoBiscosi
Thanks for picking up. For 1. I don't want to click on the link, it might be malicious, I want to copy it. And we kind of started for other information like that, link button is on the left.
For 2. I dont see HTTP Info, but maybe is not available. And it doesn't generate the link button, means I have to select the URL manually, if I want to copy it.

[2021-11-07 13:25] bojangles9 commented on #6002
That's perfect! Lat/long and amount of traffic flowing to that IP would be great!

[2021-11-08 01:14] Yoshihiro-jp commented on #6049
Hi, I already sent the information to access our server through e-mail.
Kindly check it.

regards,
Yoshihiro

[2021-11-08 09:07] sneak commented on #2455
Freemium software is not free software.  Ntopng relies on other, entirely nonfree software packages to function.

[2021-11-08 09:23] MatteoBiscosi opened #6055 "Description/Other issues fields "Destroy" alert page table"
As you can see from the screenshot below, if description or other issues fields are too long then they are going to break out from the table layout and cause this aesthetic bug, it is requested to find a solution to this issue.
![Screenshot from 2021-11-08 10-19-21](https://user-images.githubusercontent.com/49585191/140716194-d9bd81f7-f395-4efe-a2e6-b241d43ee1de.png)

[2021-11-08 09:31] cardigliano commented on #6049
@Yoshihiro-jp please check this now, you should be able to use the "Traffic Recording Provider" now

[2021-11-08 09:31] MatteoBiscosi opened #6056 "Use lesser space in alert page table"
As you can see there is a lot of wasted space into the alert table, for instance we could reduce this space to add other info, maybe decreasing the space used by date and flow column to be used by the description column.
It is requested to use this space better, trying to waste less space.

![Screenshot from 2021-11-08 10-26-32](https://user-images.githubusercontent.com/49585191/140717304-83d64e8f

[2021-11-08 09:36] simonemainardi commented on #2455
This statement is not correct. It does not rely on any nonfree software to function.

[2021-11-08 09:39] MatteoBiscosi opened #6057 "Rework Host Peers page"
It is requested to change the Host Peers page in order to display the information in a better way, trying to optimize space used and display information in a more understandable way.
![Screenshot from 2021-11-08 10-33-30](https://user-images.githubusercontent.com/49585191/140718194-6222589a-0f1f-4a96-9ec6-f595287c8599.png)

[2021-11-08 09:41] MatteoBiscosi opened #6058 "Rework Host Ports page"
It is requested to rework the host ports page. A lot of space is wasted and if too many labels are displayed in the graph, they are going to overlap one another.
![Screenshot from 2021-11-08 10-38-10](https://user-images.githubusercontent.com/49585191/140718826-aebe1cf4-29aa-4326-a9c6-08ee7b597fa9.png)

[2021-11-08 09:45] lucaderi opened #6059 "Add Latency Information in Flow Database"
Both ntopng and nProbe report the latency
- CLIENT_NW_LATENCY_MS
- SERVER_NW_LATENCY_MS

This is to request to add to the DB latency information to enable the creation of latency-based reports.

[2021-11-08 09:47] MatteoBiscosi opened #6060 "Rework Interface Apps/Categories page"
Same as #6058 and #6057
![Screenshot from 2021-11-08 10-45-45](https://user-images.githubusercontent.com/49585191/140719960-3f0195f7-e2c0-416b-acae-1b7df0e92b5d.png)

[2021-11-08 09:49] MatteoBiscosi opened #6061 "Add graphics to Top Sites page"
It is requested to add some graph to Interface Top Sites page other then the table; in this way a user is going to understand instantly if there is some problem and which are the most used sites.
![Screenshot from 2021-11-08 10-45-52](https://user-images.githubusercontent.com/49585191/140720309-08141981-49b2-4521-80a4-c59e1a6cbc10.png)

[2021-11-08 12:41] sneak commented on #2455
User @emanuele-f said otherwise (that nprobe and cento are both a) proprietary, and b) require a license) in the following comment, which I regarded as authoritative:

https://github.com/ntop/ntopng/issues/2455#issuecomment-471911119

[2021-11-08 13:28] martinscheu opened #6062 "Service / Periodicity Map - show first and last entry"
Dear ntop Team
In the service and periodicity map one filter is "All Time". Would it be possible to show date & time of oldest and newest entry showed in the map? As now with filter "All Time" I dont know how much past my data series is going.
Thank you.

[2021-11-08 14:04] martinscheu opened #6063 "Unexpected DHCP server found - false positives"
Dear ntop Team
The alert "Unexpected DHCP server found" is alerting falsely DHCP servers which are in the DHCP server list of the Check.
Thank you.
Martin

[2021-11-08 15:20] simonemainardi commented on #2455
Source: https://en.wikipedia.org/wiki/Freemium

[2021-11-08 16:32] simonemainardi commented on #6063
Do you specify an IPv4 address or a symbolic name?

Please, check the alert. Are you seeing the whitelisted server as client or as server?

[2021-11-08 16:34] simonemainardi commented on #6054
logstash support has been dropped in https://github.com/ntop/ntopng/commit/e1158fb855a1ec3f9e88380c9264a15734b4de6e in favor of syslog. See commit description.

[2021-11-08 16:34] #6054 closed, assigned to nobody

[2021-11-08 16:35] simonemainardi commented on #6050
Yes, see

https://github.com/ntop/nDPI/blob/9abf528c8ed2256c7a091d9f69c506987c8c756a/example/protos.txt#L39

For examples and limitations

[2021-11-08 16:35] #6050 closed, assigned to nobody

[2021-11-08 16:42] simonemainardi commented on #6017
We are now adding clickhouse support that will allow you to perform this kind of queries. Please stay tuned.

[2021-11-08 16:44] simonemainardi commented on #5992
No feedback received. Reopen with the requested information if necessary.

[2021-11-08 16:44] #5992 closed, assigned to simonemainardi

[2021-11-08 17:50] sneak commented on #2455
Yes, free software has nothing to do with price, but freedom.

[2021-11-08 20:11] jmilleriec commented on #3764
Just tried this with Influx Cloud and got this: Incompatible InfluxDB version: required "1.5.1", found "2.0". Please install an updated version from the official site.

Would be great to get rid of the version check if that's the thing that is preventing this, at least in the short term until a longer term solution can be found.

[2021-11-09 01:48] MaoPann commented on #6050
What if I want UDP for an IP? It seems that UDP or TCP cannot be specified here.

[2021-11-09 02:03] Yoshihiro-jp commented on #6049
@cardigliano thank you for your action I could see the "traffic recording provider menu" now but the traffic hadn't shown. Since I changed from "--interface=zc:enp3s0f0" to --interface=enp3s0f0 it starts to show the traffic I think that this is another problem.
![zc](https://user-images.githubusercontent.com/58843707/140848022-54ee497d-050c-4691-b659-29524b0a14af.png)

I would verify it again and

[2021-11-09 10:59] cardigliano commented on #6042
Fix provided (pro branch d938483f259c19f479995772f8b3d4961eefced7), please verify

[2021-11-09 13:13] simonemainardi commented on #6028
A general approach has been implemented to show IE descriptions arriving from nProbe.

There's no need to add code to ntopng. New IEs added to nProbe will be propagated (when part of the template) automatically and shown in ntopng.

Example

![image](https://user-images.githubusercontent.com/3397663/140930272-639063cc-7cae-4d2a-8d22-df0df118d05b.png)

[2021-11-09 15:04] simonemainardi commented on #6028
All fields are now shown. Missing IEs are due to https://github.com/ntop/nProbe/issues/515.

[2021-11-09 23:13] martinscheu commented on #6063
I specify IP addresses and I see them as server
But I also see this: Unexpected DHCP server found: 255.255.255.255 [Score: 100] [Predominant Traffic: Cli Srv]

[2021-11-10 09:13] thomasbruchet opened #6064 "DNS name resolution as pornhub on many hosts"
Hello;

Can someone explain to me how name resolution is done on Host page ?

My company does web hosting and this morning someone looked in ntop and saw that our machines were showing up as pornhub.com in the Host section.
What is bizarre is that some servers have a name and others do not.

If I understand correctly this is how that work
An host have an IP and this IP can be name resolved as DNS

[2021-11-10 10:56] simonemainardi commented on #6059
Implemented in referenced and companion pro commit. Implementation tested both using packet interfaces and via ZMQ.

Example:

[code]

[2021-11-10 14:01] simonemainardi opened #6065 "Other issues in alerts not supported with Clickhouse"
Seems the bitmap of all issues is not supported with Clickhouse, yielding

![image](https://user-images.githubusercontent.com/3397663/141126845-5d0ec8b8-6b93-4d0a-960e-06bf00c638c7.png)

[2021-11-10 14:21] simonemainardi opened #6066 "Hourly queries failures with Clickhouse"
[code]

[2021-11-10 15:42] thomasbruchet opened #6067 "Actual Traffic - Abnormal bandwich"
Hello

I've a bug on the Traffic Dashboard after Custom Traffic Disaggregation.
After I used the Custom Traffic Disaggregation to create new sub-interface, those sub-interface have abnormal bandwidth

Here is an exemple just ater the restart of ntopng to validate the creation of the subinterface. According to ntopng, I use a link in Tbit/s on top  local Talkers (The best I saw was 158Tbit/s) 👍 But

[2021-11-10 15:56] simonemainardi commented on #6067
It may just be that it takes a while for stats to generate. Can you please let it run for 5~10 minutes and see if you keep getting those values?

[2021-11-10 16:05] simonemainardi commented on #6065
I can confirm the extracted bitmap value is not consistent with what has been inserted into the database.

[code]

[2021-11-10 18:00] cardigliano commented on #6037
An initial working implementation is available now.
Query templates in JSON format should be placed in https://github.com/ntop/ntopng/tree/dev/scripts/query (a few simple examples are available, check the README instructions).
A dropdown for selecting the query is available in the Historical Flow Explorer.

[2021-11-11 02:23] playday3008 opened #6068 "Cant add recipient with Telegram endpoint"
'Add' button inactive after click, and nothing happened
I am used docker-compose for ntop

[2021-11-11 06:57] Cyphon00 commented on #5025
Update 2 (7 days since last reboot): Active monitoring finally failed.
A few errors appear in the log file and Polllers/Active Monitoring doesn't show in the GUI side menu.
A service restart (via pfSense GUI) didn't fix it, however a _STOP- WAIT30secs-START_ (via the pfSense GUI) worked :)
Hope this is useful to someone.

[2021-11-11 07:43] lucaderi commented on #6030
This script has no effect on alerts. Please complete this work

[2021-11-11 08:44] simonemainardi commented on #6030
There was another commit. Please check it. Sorry for not having referenced it. https://github.com/ntop/ntopng/commit/a014ce46a6abeca9a2fd7444ea8135a7174df524

[2021-11-11 09:13] lucaderi commented on #6055
Another bug is that the same information (e.g the URL) is repeated over and over instead of once. Please consider using bullets in order to have a list instead of a long string.

[2021-11-11 09:15] lucaderi commented on #5961
Implement 2. with LIKE %XXX%

[2021-11-11 09:19] lucaderi opened #6069 "Suspicious DNS Traffic Alert is poor"
Suspicious DNS traffic alert does not report any context (in particular the DNS record requested) and this needs to be added. nDPI changes are required in addition to ntopng support

[2021-11-11 10:20] lucaderi opened #6070 "Improve 'All' Time in Alerts"
![Screen Shot 2021-11-11 at 10 50 44](https://user-images.githubusercontent.com/4493366/141281099-cf24c366-6ba1-42d2-8c15-18efe1943124.png)

Instead of using epoch 0, please start from the first record time present in the database.

This fix needs to be implemented for both flows and alerts.

[2021-11-11 10:22] lucaderi commented on #6059
This ticket is incomplete as the GUI does not report any laten
![Screen Shot 2021-11-11 at 11 22 07](https://user-images.githubusercontent.com/4493366/141281564-5d30069a-8e48-493f-a11f-786320d6869c.png)
ce

[2021-11-11 10:24] lucaderi commented on #6048
![image](https://user-images.githubusercontent.com/4493366/141281868-5e1e2fdd-d6d8-46e6-ab31-6d5559d4d1f2.png)

Filter is inconsistent

[2021-11-11 10:26] lucaderi commented on #6047
Verified as fixed

[2021-11-11 10:26] #6047 closed, assigned to simonemainardi, MatteoBiscosi

[2021-11-11 10:27] lucaderi commented on #6046
Something is not working yet

11/Nov/2021 10:37:10 [MySQLDB.cpp:867] Successfully connected to MySQL [default@127.0.0.1:9004] for interface enp0s31f6
11/Nov/2021 10:37:10 [MySQLDB.cpp:1015] ERROR: MySQL error: [Code: 215. DB::Exception: Column `FIRST_SEEN` is not under aggregate function and not in GROUP BY: While processing FIRST_SEEN DESC. (NOT_AN_AGGREGATE) (version 21.10.2.15 (official build))

[2021-11-11 10:30] lucaderi commented on #6042
![Screen Shot 2021-11-11 at 11 29 41](https://user-images.githubusercontent.com/4493366/141282657-e14cf127-f0cf-449c-b821-b37d15bf7422.png)
![Screen Shot 2021-11-11 at 11 29 32](https://user-images.githubusercontent.com/4493366/141282675-a5a1c594-d5d4-4d60-a8a1-9caf0b8ab4cc.png)
![Screen Shot 2021-11-11 at 11 29 23](https://user-images.githubusercontent.com/4493366/141282676-f8adc018-d3d3-4fe3-bbe

[2021-11-11 10:31] lucaderi commented on #6037
Besides adding a dropdown menu divider to divide queries (minor comment) it works

[2021-11-11 10:31] #6037 closed, assigned to cardigliano

[2021-11-11 10:32] lucaderi commented on #6030
You need to unify retention for all clickhouse tables as discussed

[2021-11-11 10:32] #2046 closed, assigned to cardigliano

[2021-11-11 10:33] cardigliano opened #6071 "Improve host lookup in alerts"
When clicking on a hostname (e.g. the Client IP in the flow tuple), the actual "Client" IP address is used to filter alerts, the Client Name should be used instead.

<img width="1194" alt="Screen Shot 2021-11-11 at 11 32 26" src="https://user-images.githubusercontent.com/7548711/141283064-c652ba3e-6fd9-4071-8879-35d97bbcaa28.png">

[2021-11-11 11:18] simonemainardi commented on #6066
Issue was due to a wrong initialization causing tables to be potentially created under a `default` database rather than the `ntopng` database.

[2021-11-11 11:18] cardigliano commented on #6049
@Yoshihiro-jp it seems I am no longer able to access this system. Do you have n2disk running on zc:enp3s0f0 and exporting flows through ZMQ to ntopng?

[2021-11-11 11:52] lucaderi opened #6072 "Old code breaks Interface Layout using ClickHouse"
![image](https://user-images.githubusercontent.com/4493366/141293426-bccfd886-a425-46e9-b454-50d39897b7fc.png)

Issues
- clicking on the highlighted icon causes this error

11/Nov/2021 12:50:11 [MySQLDB.cpp:1015] ERROR: MySQL error: [Code: 60. DB::Exception: Table ntopng.flowsv6 doesn't exist. (UNKNOWN_TABLE) (version 21.10.2.15 (official build))][60][select COUNT(*) AS TOT_FLOWS, SUM(IN_BYTES + O

[2021-11-11 13:54] lucaderi commented on #5944
ntopng checks if the database is already present and if not it creates it (see https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/timeseries/drivers/influxdb.lua#L1689). This means that if the
databaseis already there it will never be created and thus wht you are asking is basically already implemented.

Any comment on that ?

[2021-11-11 13:59] simonemainardi commented on #6072
Addressed both for the interface and the host page. Commits are under pro.

[2021-11-11 13:59] lucaderi opened #6073 "Report certificate validity duration in alerts"
<img width="1547" alt="image" src="https://user-images.githubusercontent.com/4493366/141310699-6c6b6f3f-1358-46ac-941c-54b9e3cf0617.png">

[2021-11-11 14:17] simonemainardi commented on #5997
Said that the original issue and the corresponding fix were about "Application On Non-Standard Port" and now you are discussing another risk.

Attackers and victims were chosen for "Remote to Local Insecure Protocol" only when the category was MALWARE or BANNED_SITE to keep the implementation less aggressive (attackers and victims are used to block):

[code]

According to your comment, the latest

[2021-11-11 16:07] simonemainardi commented on #6059
Said that the original issue was asking to add latency information to the flow database for the generation of latency-based reports - not to the UI, additional request is now implemented.

![image](https://user-images.githubusercontent.com/3397663/141329566-1fa3a955-7a39-40c5-80e9-b1d1f917ba40.png)

[2021-11-11 16:15] cardigliano commented on #6042
The No risk filter has been addressed (the C code and the database were containing bad flow risk bitmaps)

[2021-11-11 17:24] lucaderi commented on #6072
Verified as fixed

[2021-11-11 17:24] #6072 closed, assigned to simonemainardi

[2021-11-11 17:25] lucaderi commented on #6066
Unable to reproduce it, closing it for now

[2021-11-11 17:25] #6066 closed, assigned to simonemainardi

[2021-11-11 17:27] lucaderi commented on #6059
![Screen Shot 2021-11-11 at 18 26 26](https://user-images.githubusercontent.com/4493366/141342076-608cc827-7390-4e4e-8894-4a4fb6af0118.png)
Something odd is that (see your screenshot) you have only one latency (either two or none if the TWH was not observed). In addition there is no way to filter data

[2021-11-11 17:30] simonemainardi commented on #6059
- There is only one latency as you know that latency is calculated with reference to the observation point that in this case is the client so it becomes zero.
- With @cardigliano we have decided that sorting is enough and not to add filters on latency as this would over-complicate the code.

[2021-11-11 17:32] lucaderi commented on #6042
![image](https://user-images.githubusercontent.com/4493366/141342682-42e0dcb3-063a-4a32-afa5-50d1aced14ab.png)
![Screen Shot 2021-11-11 at 18 31 55](https://user-images.githubusercontent.com/4493366/141342892-c0b39a96-86ff-4771-8219-21d8db4572ec.png)
![Screen Shot 2021-11-11 at 18 31 43](https://user-images.githubusercontent.com/4493366/141342897-5f98b662-dcf4-400a-b5d9-5acb5f8f87de.png)
![image](

[2021-11-11 17:34] lucaderi commented on #6030
![Screen Shot 2021-11-11 at 18 33 30](https://user-images.githubusercontent.com/4493366/141343064-11b547d9-0c87-4408-83a1-669b87155952.png)

From this label it is unclear that it also applies to alerts:please fix it

[2021-11-11 17:39] lucaderi commented on #6059
![Screen Shot 2021-11-11 at 18 37 47](https://user-images.githubusercontent.com/4493366/141343754-34b4f126-0644-40a6-81b3-4418acf7081d.png)
Sub msec latency is not reported and this is another problem

[2021-11-11 17:40] simonemainardi commented on #6065
verified as fixed

[2021-11-11 17:40] #6065 closed, assigned to simonemainardi

[2021-11-11 17:41] lucaderi commented on #6001
Verified as fixed

[2021-11-11 17:41] #6001 closed, assigned to MatteoBiscosi

[2021-11-11 17:42] simonemainardi commented on #6059
After internal review we need to
- use microseconds or floats
- allow searches and filters

[2021-11-11 17:43] lucaderi opened #6075 "Add ability to search Packets and Bytes in Historical Flows"
Add the ability to search flow bytes and packets in historical flows. Operators must be
- equal
- greater than (>)
- less than (<)

[2021-11-11 21:07] lucaderi opened #6076 "Rename SQLite EndPoint/Recipient"
With the addition of ClickHouse it is required to rename builtin_recipient_sqlite and builtin_endpoint_sqlite to a neutral name as it serves both ClickHouse and SQLite

[2021-11-12 00:38] Spectre5 opened #6077 "Question on NAT"
I'm using OPNSense and I have a DNAT rule to force DNS queries to my pihole.  The pihole filters and then uses unbound on the OPNSense box as upstream.  When looking at ntopng, I see traffic to and from 8.8.8.8 and 8.8.4.4 by some IOT devices (presumably with hard-coded DNS).  I'm confident that the DNAT rule is working as if I set an override in Unbound and `dig @8.8.8.8 test.com` it from my desk

[2021-11-12 06:38] Yoshihiro-jp commented on #6049
Dear @cardigliano , Thank you for your answer.
Yes you are right. I run the n2disk running on zc:enp3s0f0 and exporting flows through ZMQ to ntopng.

I don't know the reason but now it works fine like attached file.
I could not find when it was fixed...

![okayn2disk](https://user-images.githubusercontent.com/58843707/141421696-a290eb53-f097-49b6-bc19-0a5500d37618.png)

regards,
Yoshihiro

[2021-11-12 07:44] lucaderi commented on #6077
ntopng takes this info from packets so I believe you have configured ntopng on a network interface that is not the correct one. You can use tools like tcpdump to verify what ntopng observes (note that from inside ntopng you can also capture traffic under the Interface page for instance) and thus select the correct interface

[2021-11-12 07:44] #6077 closed, assigned to nobody

[2021-11-12 07:46] lucaderi opened #6078 "Invalid license installation check"
On an Ubuntu 18.04 I have this ntopng installed

Version:	5.1.211102 [Enterprise/Professional build]
GIT rev:	dev:c07a90e919aa4b47c6fcee31a5f1c34dbdb2efd7:20211102
Pro rev:	r4350
Built on:	Ubuntu 18.04.6 LTS
System Id:	L21F9FCE2B208AA8C--U21F9FCE2A6887E83--OL
Platform:	x86_64
Edition:	Enterprise L
License Type:	Permanent
Maintenance:	Until Sat May 28 11:09:52 2022 [197 days left]
License:	YU5eIpD7

[2021-11-12 08:12] lucaderi commented on #6078
Forcing the installation this is what was obtained
root@ntop2:/home/luca# ntopng --check-maintenance
1653728992 Sat May 28 11:09:52 2022

root@ntop2:/home/luca# ntopng --version
Version:	5.1.211112 [Enterprise/Professional build]
GIT rev:	dev:80d5c096467c217c32529d116e7773dc2e9dd926:20211112
Pro rev:	r4415
Built on:	Ubuntu 18.04.6 LTS
System Id:	L21F9FCE2B208AA8C--U21F9FCE2A6887E83--OL
Platform:	x

[2021-11-12 08:39] cardigliano commented on #6049
Ok find, thank you for the update

[2021-11-12 08:39] #6049 closed, assigned to cardigliano

[2021-11-12 08:41] cardigliano commented on #6078
This was due to a bug in the previous ntopng version reporting a bad maintenance, which seems to be solved now.

[2021-11-12 08:41] #6078 closed, assigned to cardigliano

[2021-11-12 08:42] Spectre5 commented on #6077
Right, I can see the packets from a tcpdump too (on the LAN interface).  So ntopng shows what was requested there.  On the WAN I don't see a connection to 8.8.8.8, which makes sense since those requests get redirected.  I was wondering if there was a way to show those redirects in ntopng, but perhaps the answer then is no since it probably "sees" the data before the redirect happens.

[2021-11-12 09:05] cardigliano commented on #6042
Flow risk is not initialized to No Risk in fcfd9a3442e8f4a3605194eac2ed68b3ba1e027d , this should address the last issue

[2021-11-12 11:33] xpert4u opened #6079 "File not found error on ubuntu 18.04 on odoo 13 server. filenotfounderror: [Error 2] No usable temporary directory found in [/tmp, /var/tmp]"
Hello Every one, i have installed and setup odoo 13 ce on ubuntu 18.04 local server as virtual machine, its 2nd time that my database got stuck due to permission right, all of the system file access permission set on read only file system.
Before its working fine no problem yet but i don't know why it happen 2nd time.
i recieve the following error.
filenotfounderror: [Error 2] No usable temporary

[2021-11-12 13:28] xpert4u commented on #6079
Hello, i resolved this issue via the below command. thank every one.
sudo fsck -f /dev/sdxx

help link is....
https://askubuntu.com/questions/1135389/how-to-fix-read-only-file-system-on-18-04

It was due to file system read only mode.

[2021-11-12 13:28] #6079 closed, assigned to nobody

[2021-11-12 14:28] thomasbruchet commented on #6067
Hello;
The last restart was 6:30 hours ago and I think I break the japaneese  world record ! ;)
![image](https://user-images.githubusercontent.com/86605223/141482645-aecf5656-7df7-4ff5-b367-95ae15f6c00f.png)

[2021-11-12 14:32] benjamingroeber commented on #5944
Hi! Thanks for the quick feedback.

I think the current issue is with the retention policy, not with the database creation.

To get a better understanding, I did a quick test-setup with a limited user, created the database, and all went well - up until that point.

Then I created the retention policy which is proposed by default by ntopng by hand.
[code]

However, the logs are continuously filled

[2021-11-12 16:10] simonemainardi commented on #6059
Check Now.

![image](https://user-images.githubusercontent.com/3397663/141497732-e678b124-310c-4309-9ec2-ef541207edf9.png)

Notes:
- Latencies are stored in the database as microseconds. Conversions are applied to show milliseconds
- Must show three decimal digits or the approximation will fail to find records in the database
- Clicking multiple times on a latency keeps adding filters. This is not

[2021-11-12 16:51] simonemainardi commented on #6011
- Flow risks are now not ellipsized
- Can't use the newline to show multiple risks at it breaks the layout when flow risks are not shown as spillover columns
- Hyperlink leads to the right page but since the risk is at the bottom of the page, the browser don't let the page scroll that far. Would you like to add empty space at the bottom of the nDPI docs page as workaround?

![image](https://user-i

[2021-11-14 03:29] Cyphon00 commented on #5025
Update: Seems it's finally failed. No amount of stop-restarting the service or deleting the speedtest active monitoring task (and creating a new one)  would fix it. Will keep trying things.

[2021-11-15 13:15] MatteoBiscosi commented on #6055
the bug having the same string repeated over and over should be fixed, working on a way to fix the description too long

[2021-11-15 14:01] 612wong opened #6080 "unable to start redis under pfsense+"
Hi there, I recently broke my pfsense+ (stable release) by following the instruction under https://packages.ntop.org/FreeBSD/.

Following the removal of all ntop packages, I luckily resumed the stable release and hope to try again. Instead of running stable pfsense+, I have gone with pfsense+ dev. Unfortunately following the instruction given to install ntopng doesn't work this time. I can't start

[2021-11-15 14:22] MatteoBiscosi commented on #6055
The issue now should be fixed. I added a max length to description and other issues string and if exceeded then a tooltip is going to be shown up.

[2021-11-15 14:29] simonemainardi commented on #6080
Sometimes redis won't start on pfsense. It's discussed in the troubleshoot session here: https://www.ntop.org/guides/ntopng/third_party_integrations/pfsense.html#troubleshooting

please, check, and report.

[2021-11-15 14:31] simonemainardi commented on #6067
Show the disaggregation configuration used.

[2021-11-15 14:39] simonemainardi commented on #6073
Does this happen via ZMQ? Packet interfaces should support it so my guess is that the one shown is a ZMQ interface with reduced information.

[2021-11-15 15:25] MatteoBiscosi commented on #6044
Verified as fixed, please reopen if needed

[2021-11-15 15:25] #6044 closed, assigned to simonemainardi, MatteoBiscosi

[2021-11-15 19:37] MatteoBiscosi commented on #6048
Now should be fixed correctly with clickhouse but cannot be fixed right now with nIndex.

[2021-11-15 23:40] 612wong commented on #6080
Thanks. That works for me now.

[2021-11-15 23:40] #6080 closed, assigned to nobody

[2021-11-16 13:42] Scheppers-wetteren opened #6081 "License type"
Hello,

Our school is looking into using ntopng. We are not sure which license to get. Can someone help use choose? This is our current scenario:

- Our school has about 2000 users.
- We have a internet fiber connection (1Gbit up/down) running through a pfsense router.
- We currently tested the community edition of ntopng in our network. It is running on a ubuntu server (virtual machine)
- We woul

[2021-11-16 23:28] TheThommy opened #6082 "LuaEngine: Script failure"
Hi there,

I´ve just installed ntnopng on a Proxmox-VE and am unable to start it. The service itself is starting up without any errors, but few seconds later it comes to Errors:
`[LuaEngine.cpp:594] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/system/startup.lua][/usr/share/ntopng/scripts/lua/modules/pools/pools.lua:12: module 'recipients' not found:#012#011no field package.preload

[2021-11-17 11:47] MatteoBiscosi commented on #6038
Hi @martinscheu, copy button has been added.
![Screenshot from 2021-11-17 12-45-21](https://user-images.githubusercontent.com/49585191/142194817-f0dbab11-9c0e-4da2-9075-5c5cb7ae7334.png)
Regarding 2. which HTTP info are you missing? However yes, If they are not available they are not going to be shown up.

[2021-11-17 14:37] simonemainardi commented on #6070
All time is now calculated (and cached) using the earliest alert/flow available.

[2021-11-17 14:39] simonemainardi commented on #6081
- Check https://www.ntop.org/products/traffic-analysis/ntop/ for the differences between versions
- as a school, you may qualify for EDU licenses. See https://www.ntop.org/support/faq/do-you-charge-universities-no-profit-and-research/

[2021-11-17 14:39] #6081 closed, assigned to nobody

[2021-11-17 14:41] simonemainardi commented on #6082
It seems this installation is not clean. How did you install it? Make sure to use instructions at packages.ntop.org

[2021-11-17 15:39] MatteoBiscosi commented on #5934
for both, host and flow alerts have been added the country flag like in the flow page.
![Screenshot from 2021-11-17 16-37-12](https://user-images.githubusercontent.com/49585191/142231732-ef4ed42d-07ce-4712-b71b-17766833c759.png)

[2021-11-17 15:51] TheThommy commented on #6082
downloaded the deb from web, installed it and did an apt upgrade afterwards which also installed some more depencies. as of now, apt wouldn´t install more / other

[2021-11-17 16:37] simonemainardi commented on #6082
can't install just downloading the deb. Please, follow step by step the instructions at packages.ntop.org and report.

[2021-11-17 16:38] simonemainardi commented on #5934
This change is causing all tests to fail. Please, check an update tests accordingly.

[2021-11-17 18:02] TheThommy commented on #6082
that´s how I did it. works fine at 1 server, doesn´t works for 2 more. maybe the last 2 line are relevant?

`[cannot open /usr/share/ntopng/scripts/callbacks/system/timeseries.lua: Too many open files]`

However; the limits shouldn´t be a problem?!
cat /proc/sys/fs/file-max
9223372036854775807

cat /etc/security/limits.conf
*  soft nproc  65535
*  hard nproc  65535
*  soft nofile 65535
*  hard nof

[2021-11-17 20:22] lucaderi opened #6083 "Write ClickHouse Documentation"
As ClickHouse support is progressing, it is not time to write some documentation for allowing people to use it

[2021-11-17 21:46] MDanihy opened #6084 "No GeoMap under hosts"
Running licensed Pro version on Raspberry Pi, we do not even see the button to view the GeoMap.

Nov 17 10:20:28 ntop ntopng[709]: 17/Nov/2021 10:20:28 [Geolocation.cpp:116] Running without geolocation support.
Nov 17 10:20:28 ntop ntopng[709]: 17/Nov/2021 10:20:28 [Geolocation.cpp:117] To enable geolocation follow the instructions at
Nov 17 10:20:28 ntop ntopng[709]: 17/Nov/2021 10:20:28 [Geoloca

[2021-11-17 22:27] lucaderi opened #6085 "Observation Point Timeseries"
In the current implementation, there are no time-series for observation points nor statistics (e.g. how much traffic and nDPI traffic stats).
This is to request the implementation of
- real-time traffic volume and nDPI stats per observation point to be reported in the GUI
- above time-series for historical analysis

[2021-11-18 11:04] simonemainardi commented on #6085
To implement this:
1. Create classes ObervationPointHash inheriting from GenericHash and ObservationPoint inheriting from GenericHashEntry.
2. Add nDPI stats to each of the observation points
3. Periodically update throughputs
4. Expose methods to Lua to dump timeseries.

Make sure to only instantiate the hash table when oservation points are used.

[2021-11-18 13:34] tracure1337 opened #6086 "HTTP server emtpy response"
[code]

[code]

but  ```curl 127.0.0.1:21800```  just returns empty

(I am running this through socat to make the web-ui available via reverse proxy)
[code]

[code]

Thanks for your time.

[2021-11-18 15:33] simonemainardi commented on #6086
What is ` image: vimagick/ntopng`? Is this a docker image?

You are binding to localhost port 21800. Are you `curl`ing on the same host?

[code]

[2021-11-18 17:11] lucaderi opened #6087 "Missing reload feedback in Historical Flow Explorer"
![Screen Shot 2021-11-18 at 18 08 49](https://user-images.githubusercontent.com/4493366/142463046-68a0de70-d666-4c43-ba93-aa1bd3133f66.png)

The load feedback icon is present only in the first page, and whenever queries are made there is no load icon whatsoever.

This ticket is to request to show the icon while the page is being rendered this to tell people that the result in the page top is not i

[2021-11-18 17:44] simonemainardi opened #6088 "SNMP check for devices UP reportedly not detecting all devices"
Method `snmp_poll._check_devices_up` fails to detect several devices as reported by one of our users. Result is that some devices are marked as down and not polled.

Kindly review the method.

[2021-11-18 17:45] simonemainardi commented on #6003
This ticket depends on https://github.com/ntop/ntopng/issues/6003

[2021-11-18 18:41] lucaderi opened #6089 "Broken copy click on SQL (Historical Reports)"
![Screen Shot 2021-11-18 at 19 40 03](https://user-images.githubusercontent.com/4493366/142476801-803138fe-8769-4bd9-8f05-928e8ba814d0.png)

[2021-11-19 05:25] MaoPann opened #6090 "Unable to distinguish between upload and download traffic"
![image](https://user-images.githubusercontent.com/44804599/142569788-04504112-2198-434d-b81b-0fd1febb4112.png)
![image](https://user-images.githubusercontent.com/44804599/142569806-7a2d4ac9-61db-4689-88e3-a00c9de7b86b.png)
I'm sure I have configured the gateway MAC correctly. I've tested it before. This time, I just changed the network card to a USB network card, so I can't distinguish between up

[2021-11-19 08:21] simonemainardi commented on #6090
Are you able to see that MAC (00:00:0C...) under the Hosts->MACs page?

[2021-11-19 08:29] simonemainardi commented on #6084
Kindly try, place the files at the following paths and restart:

/usr/share/ntopng/httpdocs/geoip//dbip-city-lite.mmdb
/usr/share/ntopng/httpdocs/geoip//dbip-asn-lite.mmdb

[2021-11-19 08:44] MaoPann commented on #6090
yes

[2021-11-19 08:57] simonemainardi commented on #6090
attach a pcap capture of the traffic seen on that USB please

[2021-11-19 13:06] ghost opened #6091 "Huge Increase in CPU Usage in 5.x ntopng"
I have 2 VM both configured the same running on a Host system one is running ntopng-5.0.210927-14747.x86_64 the other running
ntopng-5.0.211108-14756.x86_64 the first one top shows single digit cpu usage the second one show cpu usage over 100%. Below are the details.
V990002:~
CentOS Linux release 7.9.2009 (Core)
**ntopng-5.0.210927-14747.x86_64**
ntopng -l 0 -e -U ntopng -ieth1 -d/var/lib/ntopng

[2021-11-19 16:12] simonemainardi commented on #2113
After internal review we have decided this issue is no longer necessary.

[2021-11-19 16:12] #2113 closed, assigned to nobody

[2021-11-19 16:14] simonemainardi opened #6092 "[nEdge] Implement history of DHCP leases"
There are environments where it is necessary to know all the MAC addresses that have been assigned to a leased IP address.

This can be implemented for example by reading / visualizing logs of the DHCP server.

It is requested to design and propose a solution for this.

[2021-11-19 17:03] MDanihy commented on #6084
That did the trick, the city file was missing.  I do have geoipipdate working, shouldn't it be using those database files instead of the dbip databases?  Ran GeoIPUpdate and it downloaded the correct database.  Using dbip I assume I have to manually download them every time I need an update.

[2021-11-22 10:32] cardigliano commented on #6089
Fixed

[2021-11-22 10:32] #6089 closed, assigned to cardigliano

[2021-11-22 12:33] thomasbruchet commented on #6067
Hello,

Here is the traffic disaggregation that I use.
![image](https://user-images.githubusercontent.com/86605223/142862461-01a59674-d2b1-4f51-baf2-0fb2c626bc10.png)

[2021-11-22 13:54] simonemainardi commented on #5944
See

[code]

Then start ntopng and configure with credentials above

![image](https://user-images.githubusercontent.com/3397663/142873674-6446dbec-714e-4b3f-a8da-12ca9067b0da.png)

Finally, data is written and retention policy created automatically by ntopng and unprivileged user `benjamin`

[code]

[2021-11-22 13:58] MatteoBiscosi commented on #6068
Hi @playday3008 what do you mean by button inactive after click? could you please share some screenshot?
In the browser developing tools is there some error? (to check it please right click on the browser, and click 'inspect' or 'developer tools', or as a short cut you can click f12, depends on the browser; then check into the console tab if there is some error).

[2021-11-22 14:29] playday3008 commented on #6068
Well, IDK how, but after reinstall it works, but still have a little problem with regex
![obraz](https://user-images.githubusercontent.com/18056374/142879040-e047d97c-99fa-42c8-a82c-4772f365cd96.png)
![obraz](https://user-images.githubusercontent.com/18056374/142878823-a9e182d5-bab3-4ff4-9457-45c5b2915af9.png)
REGEXES doesn't have 'telegram_channel' property

[2021-11-22 14:36] simonemainardi commented on #6084
To use MaxMind, make sure files are named as https://github.com/ntop/ntopng/blob/dev/src/Geolocation.cpp#L60 and located under https://github.com/ntop/ntopng/blob/dev/src/Geolocation.cpp#L38

Correct, unless installed via ntopng-data for supported platforms

[2021-11-22 14:36] #6084 closed, assigned to nobody

[2021-11-22 14:41] benjamingroeber commented on #5944
Hi @simonemainardi  thanks for your feedback, this is more or less exactly what I did for the initial reproduce!

To be sure I started from zero and used your procedure 1:1, and can confirm, all you say is true, measurements are created correctly, data is written, but unfortunately only until ntopng is restarted.
After a restart, the log is still spammed  with the same messages as above:

[code]

[2021-11-22 14:48] MatteoBiscosi commented on #6087
Should be fixed, pro repo

[2021-11-22 16:37] simonemainardi commented on #5944
So I managed to track this down to the end and fix it.

New builds are in progress. Please, wait a couple of hours, then upgrade.

I've updated the documentation as well. Issue was that ntopng needs to create retention policies that require ADMIN privileges (see https://stackoverflow.com/a/45656074).

Hence, you have to update ntopng and then execute it with an influxdb user with admin privileges

[2021-11-22 16:37] #5944 closed, assigned to simonemainardi

[2021-11-23 07:39] lucaderi commented on #6091
Extra comment

ntopng-5.0.210927-14747.x86_64
and
ntopng-5.0.211108-14756.x86_64

cpu usage went from 210927 being:
  PID USER      PR  NI    VIRT    RES    SHR S %CPU %MEM     TIME+ COMMAND
  589 nobody    20   0 1816004 308460  31228 S  1.6  7.9 150:24.60 ntopng
  590 nobody    20   0 1816004 308460  31228 S  1.6  7.9 152:03.58 ntopng
  591 nobody    20   0 1816004 308460  31228 S  1.6  7.9 150:

[2021-11-23 09:42] MatteoBiscosi commented on #6068
Hi @playday3008 thanks a lot for your help, I was able to fix the problem, in the next release everything should be alright.
However which ntopng version are you using, dev or stable? the fix right now is in the dev version.

[2021-11-23 09:54] MatteoBiscosi commented on #6018
Hi @SARBLA please drop an email at `biscosi at ntop.org`

[2021-11-23 10:01] MatteoBiscosi commented on #6010
Implemented as requested; other then that added the badge icon representing the location of the host instead of a new column
![Screenshot from 2021-11-23 10-59-00](https://user-images.githubusercontent.com/49585191/143004148-c8a3c566-7848-4698-885f-070a1963e643.png)

![Screenshot from 2021-11-23 10-58-50](https://user-images.githubusercontent.com/49585191/143004156-da6008f0-4b1d-4ff9-bdbe-a8cf7204

[2021-11-23 10:06] playday3008 commented on #6068
stable (v4.2....)

[2021-11-23 10:08] MatteoBiscosi commented on #6068
sorry but the 4.2 version is no more supported, could you migrate to the stable v 5.0? i can fix there too

[2021-11-23 10:10] playday3008 commented on #6068
Docker stable version is v4.2, and I can't migrate to V5 (latest on docker) bcoz it use too much CPU

[2021-11-23 10:18] MatteoBiscosi commented on #6068
I'm really sorry then but like i said the v4.2 is no more supported and i cannot release fix there. I fixed it for the v 5.0, if in the future you are able to migrate to v5 then the issue there is fixed

[2021-11-23 10:18] #6068 closed, assigned to MatteoBiscosi

[2021-11-23 11:33] simonemainardi commented on #6090
Closing for inactivity. Reopen with the requested information if necessary.

[2021-11-23 11:33] #6090 closed, assigned to nobody

[2021-11-23 11:34] simonemainardi commented on #6086
Closing for inactivity. Reopen with the requested information if necessary.

[2021-11-23 11:34] #6086 closed, assigned to nobody

[2021-11-23 11:35] simonemainardi commented on #6082
Do you see any difference in limits.conf between the working and non-working servers?

[2021-11-23 12:49] simonemainardi commented on #6067
I can confirm the bug. Something wrong with totals and thus throughputs in disaggregated interfaces.

![image](https://user-images.githubusercontent.com/3397663/143026923-4e0d68c4-be20-4552-8e88-a65c5dce85d0.png)

Debugging.

[2021-11-23 13:17] simonemainardi commented on #6067
Resolved. Pro commit for sub interface. New build is in progress. Please, hold on a couple of hours, update, and it will work. Thanks for reporting.

[2021-11-23 13:17] #6067 closed, assigned to simonemainardi

[2021-11-23 13:48] tracure1337 commented on #6086
@simonemainardi

Yes, image: vimagick/ntopng is a docker image. Yes I am binding this to localhost and yes I am curling on the same host.

Thank you for your time. My apology for the late reply.

[2021-11-23 16:01] lucaderi commented on #6091
@sclark46 Can you please check if the performance is now improved?

[2021-11-23 16:08] ghost commented on #6091
Hi Luca, I have been using the stable-yum-repo for my tests, and have not been self compiling. When will it be available?

[2021-11-23 18:54] ghost commented on #6091
Luca, I am trying to build the dev version according to the instructions at https://github.com/ntop/ntopng/blob/dev/doc/README.compilation
and I get the following error from configure:
checking for ntopng professional edition... not found
checking for pcap_open_live in -lpcap... no
Please install libpcap(-dev) (http://tcpdump.org)

I have the latest - and it doesn't have that symbol - I also have

[2021-11-23 20:27] lucaderi commented on #6091
I have put the code in the dev branch until is validated. As of the dependencies I have updated https://github.com/ntop/ntopng/blob/dev/doc/README.compilation. I suggest to install libpcap-dev anyway

[2021-11-23 21:09] lucaderi opened #6093 "Broken Validation in Active Monitoring"
![Screen Shot 2021-11-23 at 22 07 52](https://user-images.githubusercontent.com/4493366/143127755-94d49090-8b62-44b0-92ba-b6f0e8495ad6.png)

Please also check the stable version.

[2021-11-24 08:54] simonemainardi commented on #6088
Resolved. Fixed by @lucaderi under pro (384650555511f4e111b5158b7696f7ed78284638).

[2021-11-24 08:54] #6088 closed, assigned to lucaderi

[2021-11-24 10:38] MatteoBiscosi commented on #6073
Implemented as requested, now TLS alerts are going to have additional information like tls certificate validity and tls version; if more info are needed please feel free to comment

[2021-11-24 12:01] simonemainardi commented on #6073
This fix is invalid and causes duplicated code. TLS info was already serialized, for TLS-based alerts, in `src/flow_alerts/FlowRiskTLSAlert.cpp`. Issue was, as already commented, to understand why this was not read in Lua.

[2021-11-24 12:08] ghost commented on #6091
Hi Luca, I have
V990001:~
$ rpm -qa|egrep '(pfring|libpcap)'
libpcap-devel-1.5.3-12.el7.x86_64
pfring-8.0.0-7085.x86_64
pfring-dkms-8.0.0.7085-7085.noarch
libpcap-1.5.3-12.el7.x86_64

but stil get the error I listed above when doing ./configure
is there a configure option that I can use to indicate where to find the corrrect libpcap ?

[2021-11-24 12:11] MatteoBiscosi commented on #6073
This information should be added to all tls alerts, like for http, dns and icmp to have a better context in the alert not just to the ones with flow risk. So I'll remove the info serialized by FlowRiskTLSAlert.cpp. Other then that the info was read from Lua but not added to the Description.

[2021-11-24 12:31] simonemainardi commented on #6073
Certificate validity is only for TLS. It is pointless to add it to HTTP, DNS, or ICMP. This is why it was added to the TLS subclass.

[2021-11-24 12:39] MatteoBiscosi commented on #6073
I meant to add all the TLS information to all TLS alerts, like for HTTP alerts, recently all HTTP information were added to all HTTP alerts, not to add the tls info even to the http alerts. With the last update all TLS info were removed from just the Flow Risk TLS Alerts, in this way there is no duplicate code and all TLS alerts now have a better context.

[2021-11-24 13:04] simonemainardi commented on #6073
Clean solution is to have a TLS subclass for all TLS-based alerts, that is, what `FlowRiskTLSAlert` does. If you have TLS-based alerts that are not associated with flow risks (do you have them?) then a class `TLSAlert` should be used.

Using `if(flow->isTLS())` in the base class breaks OO and inheritance logic.

[2021-11-24 13:09] ghost commented on #6091
Hi Luca,
would the changes be in the nightly build? If so I can just install and test that version.

[2021-11-24 13:26] thomasbruchet commented on #6067
Hello,

The update has resolved the problem but also create a new one.
I've some disaggregated interfaces that show 0 usage now.
For exemple with this is an important VLAN with all the admin teams and the disaggregation is done on the Internet Interface. I should have data.
![image](https://user-images.githubusercontent.com/86605223/143246040-ce9748ef-67fa-417f-9063-86b85c199653.png)

Here is the

[2021-11-24 13:29] thomasbruchet opened #6094 "No data on disaggregated interface."
Hello,

This issue is following the #6067

The update has resolved the problem but also create a new one.
I've some disaggregated interfaces that show 0 usage now.
For exemple this is an important VLAN with all the admin teams and the disaggregation is done on the Internet Interface. I should have data.
![image](https://user-images.githubusercontent.com/86605223/143246040-ce9748ef-67fa-417f-9063-8

[2021-11-24 13:29] ghost commented on #6091
Hi Luca, I just installed the nightly build and I don't see the huge increase in cpu usage it appears to be gone.

[2021-11-24 13:51] ghost commented on #6091
nightly build top output - ntopng only 2.6% of cpu

top - 08:48:22 up 5 days, 19:09,  2 users,  load average: 0.21, 0.13, 0.19
Threads: 259 total,   1 running, 258 sleeping,   0 stopped,   0 zombie
%Cpu0  :  1.0 us,  1.3 sy,  0.0 ni, 97.7 id,  0.0 wa,  0.0 hi,  0.0 si,  0.0 st
%Cpu1  :  1.3 us,  1.0 sy,  0.0 ni, 97.7 id,  0.0 wa,  0.0 hi,  0.0 si,  0.0 st
top - 08:49:43 up 5 days, 19:10,  2 users,

[2021-11-24 14:19] thomasbruchet opened #6095 "Degraded Performance - notifications.lua #6051"
This is a new issues following this one #6051

The ticket was closed with those informations:
[code]

Machine:   Type: Server System: Dell product: PowerEdge R320 v: N/A serial: 6N0HZ42
           Mobo: Dell model: 0KM5PX v: A02 serial: ..CN779214C80224. BIOS: Dell v: 2.3.3 date: 07/10/2014

CPU: Quad Core Intel Xeon E5-2407 v2 (-MCP-) speed/min/max: 2400/1200/2400 MHz Kernel: 4.19.0-17-amd64 x86_

[2021-11-24 15:21] simonemainardi commented on #6094
I have the suspect there's some old invalid data dangling around (due to the previous bug).

Now i've added extra logging so we will be able to spot it.

A new build is in progress. Please, wait a couple of hours, update, re-run, and report the new log.

[2021-11-24 15:22] simonemainardi commented on #6095
Try and use ClickHouse. That's much faster than SQLite. See https://www.ntop.org/guides/ntopng/clickhouse.html

[2021-11-24 15:37] MatteoBiscosi commented on #6064
Hi @thomasbruchet  the name resolution is done using various protocols: DNS, MDNS, DHCP, NETBIOS, TLS and HTTP.
If none of this protocols resolved the name then the ip is going to show up otherwise the resolved name is going to show up; regarding your issue with (e.g.) ip 109.3.168.81 is really strange, the name resolved should be shown up in the host page with the protocol that detected it. Would

[2021-11-24 15:45] MatteoBiscosi commented on #6055
Verified as fixed

[2021-11-24 15:45] #6055 closed, assigned to simonemainardi, MatteoBiscosi

[2021-11-24 16:02] thomasbruchet commented on #6095
I've installed CLickhouse but not sure about:
![image](https://user-images.githubusercontent.com/86605223/143271520-79b8babf-e354-414f-9003-cbe3e19ae15d.png)

$ ./ntopng
-bash: ./ntopng: Aucun fichier ou dossier de ce type

Should I use -F as an argument in conf file "/etc/ntopng/ntopng.conf"
Is the user and password the same as the one I use to log into the interface as an administrator?

Sorry,

[2021-11-24 16:30] simonemainardi commented on #6076
![image](https://user-images.githubusercontent.com/3397663/143277565-f5dd4adb-7a0f-431f-b803-c1182e7adae4.png)

[2021-11-24 16:31] MatteoBiscosi commented on #6002
Hi @renoir789 implemented as requested. You can find a new endpoint available `/lua/pro/rest/v2/get/geo_map/hosts.lua` (check the documentation for more info (https://www.ntop.org/guides/ntopng/api/rest/api_v2.html). It is going to return the list of all the hosts available with the various information, like latitude, longitude ecc. to add extra info a Pro license is needed (like bytes, flows ecc.

[2021-11-24 16:33] simonemainardi commented on #6095
Correct. Assuming user default with password default, you an add the following line to the configuration file:

[code]

[2021-11-24 16:34] simonemainardi commented on #6083
Documentation done, including migration from nIndex. Please, check https://www.ntop.org/guides/ntopng/clickhouse.html

[2021-11-24 16:37] simonemainardi commented on #6086
Please, use our official Docker files https://github.com/ntop/docker-ntop.

we are not affiliated and cannot control  vimagick/ntopng.

[2021-11-25 08:17] thomasbruchet commented on #6094
Here is the log after update and restart this morning.
---
25/Nov/2021 09:10:29 [timeseries.lua:18] [rrd.lua:298] ERROR stack traceback: ...re/ntopng/scripts/lua/modules/timeseries/drivers/rrd.lua:298: in upvalue 'number_to_rrd_string' ...re/ntopng/scripts/lua/modules/timeseries/drivers/rrd.lua:326: in upvalue 'update_rrd' ...re/ntopng/scripts/lua/modules/timeseries/drivers/rrd.lua:1127: in functi

[2021-11-25 09:06] thomasbruchet commented on #6064
Hello,

The problem seems to be self resolved after some upgrade of ntopng.
![image](https://user-images.githubusercontent.com/86605223/143412205-17f6cfe2-52df-44cb-adfc-e93f7c79507a.png)

I'have just restarted ntopng, so I will do a new check in few days before close the issue.

[2021-11-25 09:13] thomasbruchet commented on #6095
Ntopng crashed on starting process with this line in ntopng.conf

-F="clickhouse;127.0.0.1;ntopng;flows;admin;<password>"

The user admin is the one that I use to connect to the admin interface.
![image](https://user-images.githubusercontent.com/86605223/143413071-011d5f56-686b-463c-b048-bc4625e21905.png)

[code]

[2021-11-25 09:34] MatteoBiscosi commented on #6064
Alright @thomasbruchet great; i'll wait for your update.

[2021-11-25 09:35] Gpf86 opened #6096 "Ntopng and probe clock out of sync with custom traffic disaggregation"
Hi, we're using Ntopng with Nprobe as collector on the same virtual machine, receving data in Netflow format from a FortiGate 200E.
Since adding 38 filters in extended nBPF format in custom traffic disaggregation, we have an alert saying that Ntopng and probe clock are out of sync and the consequence is Ntopng does not receive data.
How can we solve this problem? Is there another way to filter the

[2021-11-25 09:47] MatteoBiscosi commented on #5915
Closing for inactivity please reopen if needed

[2021-11-25 09:47] #5915 closed, assigned to nobody

[2021-11-25 09:57] MatteoBiscosi commented on #5906
Implemented as requested

[2021-11-25 09:57] #5906 closed, assigned to MatteoBiscosi

[2021-11-25 09:59] MatteoBiscosi commented on #5871
Closing for inactivity please reopen if needed.

[2021-11-25 09:59] #5871 closed, assigned to nobody

[2021-11-25 10:03] MatteoBiscosi commented on #5870
Hi, other then the suggestion simone gave you, I highly suggest on starting to use ClickHouse DB for alerts (we recently added support in the dev version).
Closing for inactivity reopen if needed

[2021-11-25 10:03] #5870 closed, assigned to nobody

[2021-11-25 10:04] simonemainardi commented on #6095
It's not crashing, it's just telling you it cannot connect to the database.

-F needs a user/password pair for ClickHouse, not for ntopng. See https://clickhouse.com/docs/en/operations/access-rights/

[2021-11-25 10:05] MatteoBiscosi commented on #5869
Hi is the issue still present in the latest release?

[2021-11-25 10:06] MatteoBiscosi commented on #5825
Closing for inactivity please reopen if needed

[2021-11-25 10:06] #5825 closed, assigned to nobody

[2021-11-25 10:08] MatteoBiscosi commented on #5740
Closing for inactivity please reopen if needed

[2021-11-25 10:08] #5740 closed, assigned to simonemainardi

[2021-11-25 10:14] MatteoBiscosi commented on #5109
Hi @zimbawe998 right now this feature is available using the 'Historical Flow Explorer'. By selecting the period of time you need and adding the host filter you need, it is possible then to export all this data by CSV format

[2021-11-25 10:14] #5109 closed, assigned to nobody

[2021-11-25 10:17] MatteoBiscosi commented on #4986
duplicate of #6057

[2021-11-25 10:17] #4986 closed, assigned to lucaderi

[2021-11-25 15:03] MatteoBiscosi commented on #5874
Hi @ListenNjoy could you please share your ts.lua answer? click f12 or right click the page -> inspect (developer tools, dependes on browsers); go to the network tab, reload the page and you should find the request
![Screenshot from 2021-11-25 16-00-07](https://user-images.githubusercontent.com/49585191/143464105-2f3a3f13-0ef7-43cf-9d15-f431f80e61cf.png)
Please if possible send me the whole answer

[2021-11-26 10:21] solarexpedition opened #6097 "Wrong time/timezone in forwarded syslog messages"
When sending syslog messages to a remote syslog server, ntopng sets not the correct time in the syslog message. “Z” means UTC+0. Like this, events will be interpreted in the future or in the past on the remote syslog server, depending in which time zone the ntopng server is configured. We can see this behavior on our Checkmk-Monitoring in the Event-Console. Every event is one hour in the future.

[2021-11-26 11:52] solarexpedition commented on #2287
I am of the same opinion as of johnwarburton and Gelob. It should not be necessary to setup more redundancy with a HA-LDAP-Proxy in front of Ntopng Enterprise application to connect with LDAP-servers, which are already redundant (for example Active-Directory). This is simply an overkill, as it is much easier to implement a failover function in the ldap-client.

[2021-11-26 13:38] bojangles9 commented on #6002
That's really awesome, thanks for doing that!

I run the community version on my pfsense box. Just to confirm that that hosts/lat/long will be available in the community version, while the extra info requires the pro license?
Is there a "pro" license for home users that is a bit lower in price?

[2021-11-29 10:25] lucaderi opened #6098 "Periodic SNMP Errors in 5 mins Script"
29/Nov/2021 11:20:06 [LuaEngine.cpp:598] WARNING: Script failure [/Users/deri/network/ntopng/scripts/callbacks/system/5min.lua][...eri/network/ntopng/pro/scripts/lua/modules/snmp_poll.lua:206: attempt to index a nil value (field '?')]
29/Nov/2021 11:20:07 [LuaEngine.cpp:598] WARNING: Script failure [/Users/deri/network/ntopng/pro/scripts/callbacks/system/snmp.lua][...eri/network/ntopng/pro/scripts

[2021-11-29 14:03] astalush commented on #5763
Hey Simone. Could you please select for 1d and not for 30 mins?

It does the same on others machines like this DELL C9010

![image](https://user-images.githubusercontent.com/8401863/143881720-148247e6-be8f-4c42-a6ce-71c93a7810f8.png)

[2021-11-29 16:06] IPP-AS-CR opened #6099 "Alerts internal server error in lua - ntop_utils.lua"
Hello,

I am getting Internal server error after collecting data fron second flow exporter when i try to view or when i redirected to alerts web page.

In log i have just: 29/Nov/2021 16:06:10 [LuaEngine.cpp:1253] WARNING Script failure [/usr/share/ntopng/scripts/lua/alert_stats.lua][/usr/share/ntopng/scripts/lua/modules/ntop_utils.lua:272: attempt to compare two nil values]

it runs on KVM (libvi

[2021-11-30 09:55] lucaderi commented on #6093
Verified as fixed

[2021-11-30 09:55] #6093 closed, assigned to MatteoBiscosi

[2021-11-30 09:57] lucaderi commented on #6087
Verified as fixed

[2021-11-30 09:57] #6087 closed, assigned to MatteoBiscosi

[2021-11-30 09:57] lucaderi commented on #6083
Verified as fixed

[2021-11-30 09:57] #6083 closed, assigned to simonemainardi

[2021-11-30 09:58] lucaderi commented on #6076
Verified as fixed

[2021-11-30 09:58] #6076 closed, assigned to simonemainardi

[2021-11-30 09:59] lucaderi commented on #6059
Verified as fixed

[2021-11-30 09:59] #6059 closed, assigned to simonemainardi

[2021-11-30 09:59] lucaderi commented on #6048
Verified as fixed

[2021-11-30 09:59] #6048 closed, assigned to MatteoBiscosi

[2021-11-30 10:00] lucaderi commented on #6042
Verified as fixed

[2021-11-30 10:00] #6042 closed, assigned to simonemainardi, cardigliano

[2021-11-30 10:00] lucaderi commented on #6031
Verified as fixed

[2021-11-30 10:00] #6031 closed, assigned to lucaderi

[2021-11-30 10:02] lucaderi commented on #6046
Verified as fixed

[2021-11-30 10:02] #6046 closed, assigned to simonemainardi, MatteoBiscosi

[2021-11-30 10:05] lucaderi commented on #6010
Verified as fixed

[2021-11-30 10:05] #6010 closed, assigned to MatteoBiscosi

[2021-11-30 10:07] lucaderi commented on #5934
![image](https://user-images.githubusercontent.com/4493366/144027296-377781fd-ca13-4fc8-8d56-aebb98ac345a.png)
Not yet working

[2021-11-30 10:08] lucaderi commented on #6070
Verified as fixed

[2021-11-30 10:08] #6070 closed, assigned to simonemainardi

[2021-11-30 10:10] lucaderi commented on #6030
![Screen Shot 2021-11-30 at 11 09 35](https://user-images.githubusercontent.com/4493366/144027639-c579d253-b014-422e-b2e7-e290fb44dca0.png)
![Screen Shot 2021-11-30 at 11 09 20](https://user-images.githubusercontent.com/4493366/144027646-7ddb24c4-e523-4016-bd84-dad7cc178027.png)

As you can see is not working as there are records older than 5 days. You can test it on HS

[2021-11-30 10:12] lucaderi commented on #6011
Verified as fixed. We'll open a new ticket for cosmetics

[2021-11-30 10:12] #6011 closed, assigned to simonemainardi

[2021-11-30 10:13] lucaderi commented on #5998
Verified as fixed

[2021-11-30 10:13] #5998 closed, assigned to simonemainardi

[2021-11-30 10:16] lucaderi opened #6100 "Invalid alert filtering"
From this screen
![image](https://user-images.githubusercontent.com/4493366/144028615-681f5559-7748-4dfe-a3e2-d78feb5cb182.png)

I click on the server host where there is the arrow and I get

![image](https://user-images.githubusercontent.com/4493366/144028502-acb0f964-95f9-40f8-98df-f79550eba66a.png)

[2021-11-30 10:17] lucaderi commented on #5997
Hard to check until #6100 is fixed

[2021-11-30 10:18] lucaderi commented on #6085
Verified as fixed

[2021-11-30 10:18] #6085 closed, assigned to MatteoBiscosi

[2021-11-30 10:18] lucaderi commented on #6091
Verified as fixed

[2021-11-30 10:18] #6091 closed, assigned to lucaderi

[2021-11-30 10:19] lucaderi commented on #2917
Verified as fixed

[2021-11-30 10:19] #2917 closed, assigned to simonemainardi

[2021-11-30 10:19] lucaderi commented on #2915
Verified as fixed

[2021-11-30 10:19] #2915 closed, assigned to nobody

[2021-11-30 10:19] lucaderi commented on #2918
Verified as fixed

[2021-11-30 10:19] #2918 closed, assigned to nobody

[2021-11-30 10:20] lucaderi commented on #5132
Verified as fixed

[2021-11-30 10:20] #5132 closed, assigned to nobody

[2021-11-30 10:22] MatteoBiscosi commented on #6068
Hi @playday3008 after some changes we reduced the usage of resources (see #6091) so if you want to try updating to ntopng 5.1 version, you can try.

[2021-11-30 10:24] lucaderi opened #6101 "Rework Historical Flow Information Layout"
This is to request a rework of historical flows similar to the alerts and ntopng flows. Namely, as flow fields are constantly increasing it is unfeasible to list all fields clicking on
![Screen Shot 2021-11-30 at 11 22 01](https://user-images.githubusercontent.com/4493366/144029586-68b508bb-d2ee-4f16-b93c-7ef1a52386ad.png)

This is to request you to add a new column named actions where a new butto

[2021-11-30 10:25] lucaderi opened #6102 "Rework Alert Flow Information Layout"
Same as #6101 but for flow alerts

[2021-11-30 10:27] lucaderi opened #6103 "Enhance Historical Flow Explorer Chart"
![Screen Shot 2021-11-30 at 11 25 53](https://user-images.githubusercontent.com/4493366/144030166-12184b04-595d-4abe-959f-bb2f1c8a8105.png)

The above chart lists the number of flows. It would be helpful to add another timeseries (as line) that displays the flow bytes (use log scale?).

[2021-11-30 12:30] lucaderi opened #6104 "Invalid active monitoring alert"
30/Nov/2021 11:22:06 [MySQLDB.cpp:1048] ERROR: MySQL error: [Code: 15. DB::Exception: Column interface_id specified more than once. (DUPLICATE_COLUMN) (version 21.11.3.6 (official build))][15][INSERT INTO active_monitoring_alerts (alert_id, interface_id, tstamp, tstamp_end, severity, score, interface_id, resolved_ip, resolved_name, measurement, measure_threshold, measure_value, json) VALUES (4119,

[2021-11-30 14:37] lucaderi opened #6105 "Correlate alerts with historical flows"
In alerts you can drill down to flows. In flows it would be nice to correlate them with alerts. This is requested to implement in historical flows

[2021-11-30 14:38] lucaderi opened #6106 "Add Historical Flows Unique Identifier"
This is to request the implementation of flow unique identified, similar to alerts.

[2021-11-30 21:34] tracure1337 commented on #6086
I will try soon and report back!

[2021-12-01 08:53] martinscheu opened #6107 "Category Lists - add support for json or cvs as file type"
Dear ntop - team
Only IP address based block list, e.g. feodotracker.abuse.ch, create false positives, as the destination port number is important if a malicious C2 server is contacted or not.
Abuse.ch provide cvs lists with port numbers, or with even more context, json formated files with all relevant information.
Would it be possible you add the destination port in the Checks?
Thanks!

[2021-12-01 10:40] simonemainardi commented on #6030
Something is preventing the daily script to run in the installation. So old data isn't recycled:

[code]

[2021-12-01 12:37] MatteoBiscosi commented on #6062
Hi @martinscheu as you can see, now it is possible to check the first and the last entry of the map. Obviously filtering (protocols for example) is going to change the first and last entry (depending on the filters currently selected).
![Screenshot from 2021-12-01 13-34-59](https://user-images.githubusercontent.com/49585191/144235427-5cdeb947-f30c-4571-a1de-9824b506222b.png)
![Screenshot from 2021

[2021-12-01 12:38] MatteoBiscosi commented on #6064
Hi @thomasbruchet is there some update on this issue?

[2021-12-01 12:39] MatteoBiscosi commented on #5874
Closing for inactivity. Please reopen if needed

[2021-12-01 12:39] #5874 closed, assigned to MatteoBiscosi

[2021-12-01 15:26] MatteoBiscosi commented on #6100
Hi, the issue should be solved, at least in my case, please let me know if everything works fine now

[2021-12-01 15:29] thomasbruchet commented on #6064
Hello,

I think the issue can be closed,, the DNS name did not reappear.

Thant you for your support.

[2021-12-01 15:30] #6064 closed, assigned to MatteoBiscosi

[2021-12-01 21:18] playday3008 commented on #6091
Guess at what moment I turned on the ntopng)
![image](https://user-images.githubusercontent.com/18056374/144315506-220c2297-eace-4e1d-acdf-22add64f0726.png)

[2021-12-02 07:24] playday3008 commented on #6068
I am using docker version

[2021-12-02 10:53] simonemainardi opened #6108 "Missing traffic profiles historical data"
For certain traffic profiles, historical data is missing although there's traffic

![image](https://user-images.githubusercontent.com/3397663/144408276-40aaba15-5b2e-4dbe-8c31-744e87891c13.png)

![image](https://user-images.githubusercontent.com/3397663/144408557-18ae74e6-c7c2-4897-9dc2-2e490c5d0714.png)

When clicking on the historical chart for Polen this is the result

![image](https://user-ima

[2021-12-02 10:56] simonemainardi opened #6109 "Add charts for SNMP interface errors"
Currently, for SNMP there is no chart for errors and this makes it difficult to look at errors in time.

[2021-12-02 11:01] simonemainardi opened #6110 "Service map host pools filter not working"
In the service map, selecting an host pool from the drop down always yields "No services found" although there are active hosts and services.

![image](https://user-images.githubusercontent.com/3397663/144409955-383d6f08-dad0-4ffb-bec8-8445f9daaa3d.png)

[2021-12-02 11:03] simonemainardi opened #6111 "Service map all protocols dropdown not sorted"
The dropdown with all protocols is not sorted. This makes the search too time consuming.

[2021-12-02 11:13] simonemainardi opened #6112 "Add VLAN Labels to the active flows page dropdown"
The VLAN dropdown in the active flows page only show VLAN IDs. This makes it very difficult to drill down. VLAN labels should be shown when defined

[2021-12-02 11:16] simonemainardi opened #6113 "VLAN 0 filter not working in the active flows page"
In an environment with VLANs there's the VLAN 0 filter that is supposed to show only untagged traffic. However, all VLANs are shown.

[2021-12-02 13:30] farosch commented on #5995
Having the exact same issue running ntopng on pfsense 2.5.2:

Version:        5.1.211126 [Enterprise/Professional build]
GIT rev:        dev:a2d079a97c8b7d1742cfbfb6d2f58b2b09d37452:20211126
Pro rev:        r4491
Built on:       FreeBSD 12.2
Platform:       amd64
Edition:        Enterprise M
License Type:   Permanent

[2021-12-02 16:17] simonemainardi opened #6114 "Adding traffic profiles causes ntopng to hang"
Adding a traffic profile that is not recognized as valid, e.g.,  "l7proto Facebook" causes ntopng to say invalid filter. This filter should be valid and this is the first issue.

What happens next is that any other filter addition is impossible: ntopng keeps saying invalid.

After a few attempts, the UI becomes unresponsive with one core spinning at 100%

![image](https://user-images.githubusercon

[2021-12-03 07:10] Niklasr69 commented on #6003
The SNMP polling works fine from v.5.1.211125
Tested with 65 exporters

[2021-12-03 08:58] solarexpedition opened #6115 "Dumping Flows to Clickhouse stops after some hours"
We have two network interfaces which receive mirrored traffic directly into ntopng and one which receives sFlow-traffic with nprobe.

Dumping the flows from nprobe (eno1) is working good, but from the two mirrored interfaces (enp8s0f0, enp8s0f1), it stops dumping flows after a short time. Only after a restart of ntopng it starts again to dump the flows from these two interfaces. In the picture bel

[2021-12-03 09:30] solarexpedition opened #6116 "No Exported Flows statistics when using Clickhouse"
When using Clickhouse for dumping flows, there are no statistics available on all interfaces pages in the Ntopng-Gui. Exported Flows and Dropped Flows stay at 0 forever.

![image](https://user-images.githubusercontent.com/92759235/144577535-e66026ff-eebf-4bd0-9223-e85d03d03fa5.png)

[2021-12-03 16:53] #6113 closed, assigned to nobody

[2021-12-03 17:05] simonemainardi commented on #6098
Solved in the latest release. Was due to a wrong counter on platforms without net-snmp available.

[2021-12-03 17:05] #6098 closed, assigned to simonemainardi

[2021-12-03 17:06] simonemainardi commented on #6099
Can you please explain what is the exact action (or exact page visited) that triggers this behavior. Feel free to attach screenshots.

[2021-12-03 17:07] simonemainardi commented on #6095
Did you manage to connect to ClickHouse?

[2021-12-03 17:08] simonemainardi commented on #6082
Closing for inactivity. No feedback received. Please reopen with the requested feedback if necessary.

[2021-12-03 17:08] #6082 closed, assigned to nobody

[2021-12-03 17:09] simonemainardi commented on #6094
I am unable to reproduce this behavior in my lab. Can we organize a remote support session?

[2021-12-03 17:36] lucaderi commented on #6030
Verified as fixed

[2021-12-03 17:36] #6030 closed, assigned to simonemainardi

[2021-12-06 07:48] thomasbruchet commented on #6095
I've tried to connect but didn't work for now.
I've to read more documentation about ClickHouse to understand where the problem is located I guess.
The user is configured as administrator but ntopng does not start correctly. I've write this information "<access_management>1</access_management>" in /etc/clickhouse-server/users.xml for the profile "default"
[code]
[code]

[2021-12-06 09:04] IPP-AS-CR commented on #6099
When i wrote this it was triggered by:
configuration : one nprobe process colecting from 2 mikrotiks and sendig to ntopng throught zmq: 127.0.0.1:1234
- after login - selected interface tcp://127.0.0.1:1234 ( or any time ) and click on Alerts in left vertical menu (http://netwatcher.pals.ufp:3000/lua/alert_stats.lua)
- in flows slected interface tcp://127.0.0.1:1234 clck on flows alerts  (http://n

[2021-12-06 09:16] thomasbruchet commented on #6094
Hello.

Yes, we can arrange that. I don't have an appointment scheduled, when are you available this week ?

[2021-12-06 10:02] TheMichMan opened #6117 "Add Check for traffic matching a configured BPF (e.g. flow UDP/137)"
ntopng to report an alarm whenever you see a flow using UDP/137

[2021-12-06 12:02] simonemainardi commented on #6115
Error handling was not properly supported. A new build is in progress. Now, in case of export errors, you will see them in the UI and logs.

[2021-12-06 12:03] simonemainardi commented on #6116
Export stats are now added. A new build is in progress. It will be ready in ~2 hours.

[2021-12-06 17:45] playday3008 commented on #6068
@MatteoBiscosi  Since the docker version has already been updated, I tried to run ntopng on my server
Guess when I start and stop ntopng :)

![image](https://user-images.githubusercontent.com/18056374/144894998-9cea7a1a-be0b-455e-bc2e-fc610af249ad.png)

[2021-12-07 07:17] solarexpedition commented on #6116
Which ntopng version should contain the change? Version: 5.1.211206 has the same behavior.

[2021-12-07 09:32] solarexpedition commented on #6116
Just installed version: 5.1.211207
Statistics are now available.
![image](https://user-images.githubusercontent.com/92759235/145003489-1a6d055f-ab9a-4611-a70c-94bbfffaa087.png)

[2021-12-07 09:32] #6116 closed, assigned to simonemainardi

[2021-12-07 09:53] solarexpedition commented on #6115
Submitted bug is not a statistics problem. But I can confirm, that these drops are now showed in the GUI.

![image](https://user-images.githubusercontent.com/92759235/145004519-248274d9-1534-4383-9b9a-22a1c64dd804.png)

I/O on disk doesn't seem to be problem. I/O is under 1MB/s, with some peaks up to 10MB/s.

It looks like the process of dumping to clickhouse is dying for these two mirrored interf

[2021-12-07 13:03] ghost commented on #6091
Any idea when these fixes will make it into 5.0.x stable ?

[2021-12-07 13:44] simonemainardi commented on #6115
Thanks for reporting.

It seems there is some issue with the insert. It could be an issue with the data (e.g., an unescaped char?) but need to verify.

Let's try the following.

1. Stop ntopng
2. Clean up possibly old data not exported (`sudo rm -rf /var/tmp/clickhouse-*`)
3. Start ntopng in the foreground (`sudo ntopng /etc/ntopng/ntopng.conf`)

Look for errors printed to the console. Do you see

[2021-12-07 13:49] simonemainardi commented on #6115
Looking at ClickHouse error codes, it can be that 27 is actually an invalid input file

![image](https://user-images.githubusercontent.com/3397663/145040816-b708aaf3-4640-4bcc-84ca-c827c55c4685.png)

In case, having the offending CSV delivered privately to mainardi at ntop dot org, will help in doing the fix.

[2021-12-07 14:07] simonemainardi commented on #6094
Sure. Drop me an email to mainardi at ntop dot org so we can arrange a session

[2021-12-07 14:13] simonemainardi commented on #6099
this has likely been solved in bbd54707. Please, update to the latest ntopng and report.

[2021-12-07 14:18] simonemainardi commented on #6114
Seems to be due to a recursive call not terminating

[code]

[2021-12-07 14:40] MatteoBiscosi commented on #6111
Fixed l7 proto dropdown ordering, pro version.

[2021-12-07 14:56] martinscheu opened #6118 "Alert List - number of filters limited or not working"
Hello ntop Team
Using several filters in the alert list, in this example the last server name filter I can not put to NOT (!=).
Maybe there is a limit in the number of filters I can use?
Thanks, Martin
<img width="1404" alt="Screenshot 2021-12-07 at 15 56 04" src="https://user-images.githubusercontent.com/38549755/145052276-2f0ff356-84b9-4eb0-ae4e-44a949c24426.png">

[2021-12-07 14:59] martinscheu commented on #6062
Thanks @MatteoBiscosi, great work.

[2021-12-07 14:59] #6062 closed, assigned to MatteoBiscosi

[2021-12-07 15:27] thomasbruchet commented on #6094
Mail sent.

[2021-12-07 15:57] MatteoBiscosi commented on #6110
Should be fixed now, please let me know.
![Screenshot from 2021-12-07 16-56-33](https://user-images.githubusercontent.com/49585191/145062627-ea503ee4-f890-4b3f-93ab-146d19d52234.png)

[2021-12-07 18:50] gilinuxIT opened #6119 "LICENSE ISSUE AFTER CENTOS UPDATE"
![dd](https://user-images.githubusercontent.com/54428336/145088531-7d3a2257-92b4-4a67-80c6-061191535aaf.png)

Hello,
We just patched our CentOS server due to security CVE, now our license doesn't work. Please advise.

Thank you.

[2021-12-07 19:23] lucaderi opened #6120 "ClickHouse Stats Not Working"
![Screen Shot 2021-12-07 at 20 22 02](https://user-images.githubusercontent.com/4493366/145092780-9ab17021-f06a-42f3-894f-9b9500adebd7.png)

For some reasons the stats are empty

[2021-12-07 19:24] lucaderi opened #6121 "ClickHouse Ingress Reports Errors"
![Screen Shot 2021-12-07 at 20 23 27](https://user-images.githubusercontent.com/4493366/145092953-739fd2e4-4aa2-4665-85a5-99dd67e1f1c3.png)

[2021-12-07 19:29] lucaderi opened #6122 "Substring Host/Info Search"
Add the ability to search subtrings (e.g. hostname) using LIKE %...% statements and not just = and != as today

[2021-12-07 23:44] Spacey67 opened #6123 "Instructions on how to properly uninstall ntopng instance on pfsense NOT preformed via package manager"
Wondering why there isn't any documentation on how to uninstall after preforming the installation outside of the traditional package manager route for pfsense? advise

[2021-12-08 07:57] solarexpedition opened #6124 "Attempt to index a nil value errors with links on Alert-Page"
When I try to open Links on the Alert-Page, I get errors in all categories and alert levels. Below is a sample.

![image](https://user-images.githubusercontent.com/92759235/145168495-310db5a7-ccaa-46da-a3f1-271c6b626bb4.png)

![image](https://user-images.githubusercontent.com/92759235/145168578-367cc204-6fd9-4843-8429-3d059da42713.png)

`HTTP/1.1 302 Found Server: ntopng 5.1.211208 (x86_64) Set-Co

[2021-12-08 08:36] simonemainardi commented on #6121
By looking at the error I can see that the offending file is pretty old (loot at the epoch 1638893405 is Dec 7th).

Looking at the current execution, there is no export drop and this also confirm the file is old and belonging to a previous execution.

![image](https://user-images.githubusercontent.com/3397663/145175605-c92af767-0d52-419e-8d18-d455b813b929.png)

Likely this is due to the columns fo

[2021-12-08 09:11] simonemainardi commented on #6120
Issue was limited to view interfaces. Fixed in the referenced commit (and companion pro commit).

[2021-12-08 10:58] farosch opened #6125 "Unable to send alert via SMTP endpoint"
Hi there,

I am running ntopng on pfSense v2.5.2.

[code]

Unfortunately, I am unable to send mails via SNMP endpoint.
These are my endpoint settings:

![image](https://user-images.githubusercontent.com/22905106/145190145-f668b69e-983d-496b-aafa-599e48ce7882.png)

The check just fails with the message `Something went wrong. Try again later.`:

![ApplicationFrameHost_NRXSer65tG](https://user-images

[2021-12-08 16:45] gilinuxIT commented on #6119
?

[2021-12-09 07:45] solarexpedition commented on #6115
I have sent you a csv file. It looks like there is a wrong value in the MAC-address field, hostname instead of a MAC-address on line 215. Please tell me, if you need more csv files.

[2021-12-09 07:51] IPP-AS-CR commented on #6099
My debian don't see any update and i have now> ntopng Enterprise L v.5.1.211118 (Debian GNU/Linux 11 (bullseye))
with apt pointing at:

deb https://packages.ntop.org/apt-stable/bullseye/ x64/
deb https://packages.ntop.org/apt-stable/bullseye/ all/

so i did patch by hand in ntop_utils.lua by provided info in bbd5470, but propably there must be some other changes in regular update. minimaly in aler

[2021-12-09 11:25] cardigliano commented on #6122
Implemented in 43bef2767e2c211283135f1d057536be5280e6a5 (and pro ea1586913dbf5ea22cc31b7fbe16781a378906a3)

[2021-12-09 13:02] lucaderi opened #6126 "Protocol not properly selected"
From
![Screen Shot 2021-12-09 at 14 01 14](https://user-images.githubusercontent.com/4493366/145401253-f545d0ec-5563-4949-8293-e1febcd697f5.png)
then clicking on TCP we get
![Screen Shot 2021-12-09 at 14 01 20](https://user-images.githubusercontent.com/4493366/145401279-386aa761-c7dc-4dcc-abc4-b11fd20c9d15.png)

where the select does not point to TCP

[2021-12-09 13:06] lucaderi opened #6127 "Add the ability to read local networks from file"
Currently local network (-m) are read from the config file. However when the list is long it should be read from a file.

This is to request to extend -m with
-m=XXXXXX

where if XXXXXX is a filename then the list of local networks is read from there. They can be specified *both* in comma-separated value (as today) and in multiple lines

[2021-12-09 13:09] lucaderi opened #6128 "Batch network import"
Currently, networks (and their name) are defined from the ntopng GUI that can be pretty tedious in particular if it has to be iterated over multiple hosts. This is to request to add the ability to import in batch mode network from a file. Its format will be
<name> <networks>

in multiple lines

[2021-12-09 13:17] lucaderi opened #6129 "List Checks Interface Type"
Not all checks are available for all interface types. For instance "Zero TCP Window" is not available for ZMQ interfaces.

This is to request in the page below, to add a new column that shows on what interface type (packet or ZMQ) a given check is effective.
![Screen Shot 2021-12-09 at 14 14 24](https://user-images.githubusercontent.com/4493366/145403128-e9506a33-82bc-4f1d-a08e-9ded2180adba.png)

[2021-12-09 13:21] lucaderi opened #6130 "List Network Flows"
![Screen Shot 2021-12-09 at 14 17 50](https://user-images.githubusercontent.com/4493366/145403553-c2ca5ea7-a02f-48fc-ae06-269ff58db159.png)

In case there are some specified networks, this is to request the above menu to be populated also with the network names (note the list can be long) so that it is possible to list only flows that belong to the given network

[2021-12-09 14:14] lucaderi opened #6131 "Invalid ASN Reported in Historical Reports"
In some cases (not always) in the historical flow explorer, the symbolic AS Name does not contain the correct value but rather the
![image](https://user-images.githubusercontent.com/4493366/145411201-50291092-5427-47ae-a129-931efe4e078d.png)

[2021-12-09 14:30] lucaderi opened #6132 "Add MySQL and nIndex Deprecate Warning"
As we're moving to ClickHouse, MySQL and nIndex have to be deprecated and
- a constant warning has to be added on the top of the screed (dev version only) asking to migrate now

Sometime in January MySQL and nIndex support will be removed and the above warning will show up in case they have been specified (and ignored) from the CLI

[2021-12-09 14:33] lucaderi opened #6133 "Add the Ability to Filter Historical Flows using Network Id"
ClickHouse is now storing network Ids. This is to request to extend the filtering system (and flow reporting) to add the ability to (symbolically) filter flows using network Ids

[2021-12-09 16:07] cardigliano commented on #6131
I pushed a fix (pro 118cf4e8028187eefca3d9929d4651bc635f35ab) that probably fixes this

[2021-12-09 21:36] lucaderi commented on #5814
It has been reported that the current package works on pfSense so I close this ticket for the time being

[2021-12-09 21:36] #5814 closed, assigned to nobody

[2021-12-10 09:32] #6071 closed, assigned to nobody

[2021-12-10 09:41] cardigliano commented on #6132
Added toasts in cc6014a2206eed2e804daaa757b12f5ac1264703 2b643ab7c4bf227a59a4c3b44ef70ebade2c4668

[2021-12-10 10:00] simonemainardi commented on #6125
See. Errors say "Login denied.". Likely you have to specify a username/password pair in

![image](https://user-images.githubusercontent.com/3397663/145555541-6723065b-bff8-4353-b722-de4a9ae080d1.png)

as your server only supports authenticated sessions.

[2021-12-10 10:45] farosch commented on #6125
I definitively do not need SMTP authentication:
![image](https://user-images.githubusercontent.com/22905106/145561546-c78833a5-69f3-4730-b8da-6ed9fea23853.png)

But even if I do provide correct login data, it still does not work.
Also, I do not understand why ntopng tries to authenticate with the server when neither username nor password are provided?

[2021-12-10 13:56] simonemainardi commented on #6094
After a joint support session we have determined that sub-interfaces were defined on the basis of VLAN-tags. However, receiving interface was not getting traffic with VLAN tags.

[2021-12-10 13:56] #6094 closed, assigned to simonemainardi

[2021-12-11 12:24] lucaderi opened #6134 "Rework SNMP host stats"
<img width="638" alt="Screenshot 2021-12-11 at 13 23 09" src="https://user-images.githubusercontent.com/4493366/145676404-7a82144b-ef31-46f5-8de2-f8e14040b9de.png">

In the above page it would be nice to have a gauge indicating the usage in % rather than only with absolute numbers

[2021-12-13 12:45] ListenNjoy commented on #6124
i have the same problem with links on the alert page, did you find a solution.?

[2021-12-13 13:14] simonemainardi commented on #6099
You are using the stable build. I've cherry-picked the commit to stable. New builds are in progress. Please, wait a couple of hours and upgrade.

[2021-12-13 13:21] simonemainardi commented on #6114
Confirm. Fixed.

[2021-12-13 13:21] #6114 closed, assigned to simonemainardi

[2021-12-13 13:22] simonemainardi commented on #6121
Resolved in the latest build.

[2021-12-13 13:23] simonemainardi opened #6135 "Traffic profiles not working over ZMQ"
All flows are marked with the profile

![image](https://user-images.githubusercontent.com/3397663/145820273-0b26ba5e-87f5-4fea-bcc9-d397b1cc1cb8.png)

![image](https://user-images.githubusercontent.com/3397663/145820310-edafa6d0-bbab-47e9-933e-c6c818eecaf9.png)

[2021-12-13 17:18] simonemainardi commented on #6135
Fixed along with companion pro commit.

[2021-12-13 17:18] #6135 closed, assigned to simonemainardi

[2021-12-14 07:14] lucaderi opened #6136 "Broken System Alerts Report"
![Screen Shot 2021-12-14 at 08 13 14](https://user-images.githubusercontent.com/4493366/145950445-210957e5-533a-4f69-a168-a1e8622b960a.png)

[2021-12-14 07:24] solarexpedition commented on #6136
Maybe you can merge this issue with https://github.com/ntop/ntopng/issues/6124. At the moment the alert page is unusable.

[2021-12-14 10:04] thr27 opened #6137 "apt update fails with "File has unexpected size (3264 != 2460)" - InRelease file wrong?"
SInce today, we have an issue to run apt update on Ubuntu 20.04.3 LTS

Our ntop.list contains the following entries ...

deb https://packages.ntop.org/apt-stable/20.04/ x64/
deb https://packages.ntop.org/apt-stable/20.04/ all/

When I check the InRelease from https://packages.ntop.org/apt-stable/20.04/all/InRelease
It lists Packages.gz with a size of 2460

MD5Sum:
 af6c76cf6e9f0be6e1dd3edd8eb1f565

[2021-12-14 10:41] aleex1848 opened #6138 "Some Checks can not be disabled"
Using ntopng Professional v.5.1.211214 the two checks "Malicious JA3 Signature" and "Potentially Dangerous Protocol" can not be disabled. The Enable/Disable Switch inside the action column doesn't react. The three buttons on the "exit check options modal" are also without any function. Besides this one button is labeled with {{action}} which doesn't seem to be intended.

![image](https://user-imag

[2021-12-14 14:58] lucaderi commented on #6119
I believe you have invalidated the license updating ntopng without valid maintenance. Can you please confirm and report "ntopng --version" ?

[2021-12-14 19:48] anirudhaslatam opened #6139 "Install SSL certificate for a VPS server in godaddy for NTOPNG"
dear all ,
when I install the standard valid SSL certificate in the /usr/share/ntopng/httpdocs/ssl/ directory and then restart the ntopng server it fails to start with the following error
ExecStart=/usr/bin/ntopng /run/ntopng.conf (code=exited, status=255)
Please advice

[2021-12-15 05:20] naosone opened #6140 "no_proxy is not effective"
ntopng can not connect influxdb(http://localhost:8086) when environment http_proxy is set.
no_proxy=localhost is not effective, ntopng connect to influxdb via proxy server.

[2021-12-15 09:17] MatteoBiscosi commented on #6138
Hi Alex, I'm sorry but I'm unable to reproduce this behavior. Which distro are you running ntopng on? Do you have errors in `systemctl status ntopng` or `journalctl -u ntopng -e`? GUI side, if you right click, inspect, console tab, is there some error shown?
Sorry to bother you but I'm not able to reproduce this in 3 distro, so I cannot debug myself.

[2021-12-15 09:53] aleex1848 commented on #6138
Hi @MatteoBiscosi
thx for reply!

ntopng is running on Debian GNU/Linux 10

i see errors/warning in systemctl when pressing the buttons:
` [toggle_check.lua:52] [checks.lua:720] WARNING: Module 'tls_malicious_signature' is not associated to any known flow risk alert`
` 15/Dec/2021 10:51:24 [toggle_check.lua:52] [checks.lua:720] WARNING: Module 'tls_malicious_signature' is not associated to any kno

[2021-12-15 10:23] aleex1848 commented on #6138
@MatteoBiscosi

i forgot to mention: the errors started to occur after updating ntopng from v4 to v5!

[2021-12-15 14:44] MatteoBiscosi commented on #6136
Now the system alert is working correctly. Please update and let me know.
![Screenshot from 2021-12-15 15-43-11](https://user-images.githubusercontent.com/49585191/146207226-9f87dc12-9d0e-48b6-9359-18b01d94c3dd.png)

[2021-12-15 14:45] MatteoBiscosi commented on #6124
Hi @ListenNjoy  and @solarexpedition sorry for the late reply, I fixed this issue yesterday, please update and let me know.

[2021-12-15 14:47] MatteoBiscosi opened #6141 "Unknown system event"
As you can see from the screenshot an unknown event is present, if possible show at least a brief description.
![Screenshot from 2021-12-15 15-46-00](https://user-images.githubusercontent.com/49585191/146207914-a3b927fc-e148-4d2a-88e8-2ed05d593e5c.png)

[2021-12-15 15:00] MatteoBiscosi commented on #6138
Hi @aleex1848 I think that you got a problem while changing from ntopng v. 4 to ntopng v. 5.1. Is it possible to redo a clean installation, by removing ntop packages and repositories and re-adding them?  Please let me know.

[2021-12-15 15:22] MatteoBiscosi commented on #6141
The issue is fixed but this fix is working only for the new alert of Process type. Unfortunately it's not possible to save the old ones due to a corruption of the json message.
![Screenshot from 2021-12-15 16-21-07](https://user-images.githubusercontent.com/49585191/146213864-c2b51037-720d-45f2-b155-7d5c5e29bcbf.png)

[2021-12-15 15:34] simonemainardi commented on #6139
Please, send the logs as we need to see the error. Type `sudo systemctl status ntopng` and post the output.

[2021-12-15 15:34] simonemainardi commented on #6139
Also make sure to check https://github.com/ntop/ntopng/blob/dev/doc/README.SSL for TLS documentation

[2021-12-16 07:03] ListenNjoy commented on #6124
Works perfect, tanks

Martin
Lyssna-Njut Fibernät AB
www.lyssna-njut.se<http://www.lyssna-njut.se/>

Besök: Stockholmsvägen 125,
746 31 Bålsta, Sweden
Tel: +46 (0)171 595 65

***@***.***

Från: Matteo Biscosi ***@***.***>
Skickat: den 15 december 2021 15:45
Till: ntop/ntopng ***@***.***>
Kopia: Martin (Lyssna & Njut AB) ***@***.***>; Mention ***@***.***>
Ämne: Re: [ntop/ntopng] Attempt to index a

[2021-12-16 07:04] ListenNjoy commented on #6136
tested Ok, thanks

[2021-12-16 07:25] solarexpedition commented on #6136
It works again, thanks

[2021-12-16 07:26] solarexpedition commented on #6124
Thanx, it is working now.

[2021-12-16 07:26] #6124 closed, assigned to MatteoBiscosi

[2021-12-16 09:17] simonemainardi commented on #6003
Thanks for reporting.

[2021-12-16 09:17] #6003 closed, assigned to simonemainardi

[2021-12-16 09:17] simonemainardi commented on #6002
@MatteoBiscosi can you please check.

[2021-12-16 09:51] simonemainardi commented on #6026
This will be implemented using https://github.com/ntop/ntopng/issues/6024

[2021-12-16 09:54] simonemainardi commented on #5525
This will be implemented using #6024

[2021-12-16 10:57] lucaderi opened #6142 "Improve ClickHouse Error reporting"
![Screen Shot 2021-12-16 at 11 54 32](https://user-images.githubusercontent.com/4493366/146358812-bcd6446e-579c-46d7-9172-df80547ea535.png)

The above problem was caused by an update to clickhouse-server (not restarted by the clickhouse package) that required a restart. This ticket is to request to report the exact error you see executing the command from CLI

$ cat /var/tmp/clickhouse-2-162-50001

[2021-12-16 13:34] mcodato opened #6143 "The selected interface is lost when navigating between pages"
Hi, we are experiencing the loss of interface selection when navigating between pages.

The steps to reproduce:

1. Select an interface (not the first one)
![before](https://user-images.githubusercontent.com/64135571/146380892-69cf203d-3656-4281-9a0f-a8a0a0bb4570.png)
2. Navigate to another page
3. The `ifid` parameter is not forwarded to the new page and the interface selection is lost
![after](h

[2021-12-16 13:37] MatteoBiscosi commented on #6143
Hi, from which page to which page did you go?

[2021-12-16 13:41] simonemainardi commented on #5995
Running the latest version of ntopng on a raspberry pi3:

[code]

Configured as

<img width="807" alt="image" src="https://user-images.githubusercontent.com/3397663/146382238-fa69721d-4def-4a7f-885c-dc8944af1416.png">

Is getting emails without root privileges

<img width="362" alt="image" src="https://user-images.githubusercontent.com/3397663/146382335-52021f34-b2fe-4c61-8b20-e6cdc95b9e73.png">

[2021-12-16 13:42] mcodato commented on #6143
Hi @MatteoBiscosi, from `Flows` to `Traffic Dashboard`
but also
from `Traffic Dashboard` to `Interface`
from `Interface` to `Alerts`
from `Alerts` to `Maps / Hosts`
from `Hosts / Hosts` to `Hosts / Networks`
from `Hosts / Networks` to `Hosts / Host Pools`
from `Hosts / Host Pools` to `Hosts / Autonomous Systems`
from `Hosts / Autonomous Systems` to `Hosts / Countries `
from `Hosts / Countries ` to

[2021-12-16 14:45] simonemainardi commented on #6125
Checked now with freebsd12, working smoothly

[code]

To this please.

1. Stop ntopng
2. Run ntopng in the foreground (execute /usr/local/bin/ntopng)
check for errors

[2021-12-16 14:45] #6125 closed, assigned to nobody

[2021-12-16 14:46] #5995 closed, assigned to simonemainardi

[2021-12-16 16:10] mcodato commented on #6143
The problem was on our side: we generate the session token by calling the API and then set it in cookies via the `session` key.
Looking at the code ([here](https://github.com/ntop/ntopng/blob/ed9bb187cf0119523e81178fd8112a9b5bf79535/src/HTTPserver.cpp#L226)) we saw that the `session_<http_port>_<https_port> cookie is also needed.
By setting it the problem was solved.
At this point, I think it can

[2021-12-16 18:35] ghost commented on #6091
I guess these fixes aren't going into 5.0.x stable - how about when will 5.1.x stable be released ?

[2021-12-17 07:20] scoobydooxp commented on #2287
Even if its only added to the pay versions, this is a must have feature. Servers need patched, they fail, etc.

[2021-12-17 08:58] lucaderi opened #6144 "Create SNMP Interface Traffic Alert"
This is to request the implementation of a new check for detecting situations such as
![image](https://user-images.githubusercontent.com/4493366/146517029-3d0c2c06-3950-471a-b880-6260bb9bae1f.png)

In essence
- the interface is up
- the interface made traffic in the past
- the interface is not making traffic for some time (e.g. 10 mins)

then implement the opposite check for detecting interfaces u

[2021-12-17 09:13] MatteoBiscosi commented on #6143
Alright, @mcodato, yeah, we use a special cookie for security.
Thanks a lot for your help.

[2021-12-17 09:13] #6143 closed, assigned to nobody

[2021-12-17 09:29] solarexpedition commented on #6115
First fix has not fixed the issue completely and needs more work.
I have again a lot of csv files and also sql files in /var/tmp, which could not be imported because of invalid csv files (clickhouse error 27) and sql files with a syntax error (Code: 62. DB::Exception: Cannot parse expression of type String here).

[2021-12-17 10:04] simonemainardi opened #6145 "Local/Remote traffic in report is not consistent"
A user reports that Local/Remote traffic does not seem to show meaningful values. Values are just too low.

<img width="1095" alt="image" src="https://user-images.githubusercontent.com/3397663/146526845-d43e6caa-027a-47ed-89c2-569996f0e5fe.png">

An initial check seems to confirm this.

[2021-12-17 11:17] simonemainardi commented on #6130
A dropdown has been added. Network are shown sorted by CIDR and aliase (when present).

<img width="1245" alt="image" src="https://user-images.githubusercontent.com/3397663/146536816-107bab5b-7c31-4b61-97b5-9a36d08137b0.png">

[2021-12-17 14:08] simonemainardi commented on #6129
Added

<img width="1245" alt="image" src="https://user-images.githubusercontent.com/3397663/146556412-7b14fd02-3728-43fb-9b78-053be166a818.png">

[2021-12-17 15:21] simonemainardi commented on #6129
Currently, column is shown for all families although only strictly necessary for hosts, local networks, and flows. This is due to DataTable which seems to be ignoring `visible` (https://datatables.net/forums/discussion/24035/columndefs-visible-false-not-working). Otherwise I would have selectively hidden the column depending on the family.

[2021-12-17 15:28] simonemainardi commented on #6140
Did you check the instructions at? https://github.com/ntop/ntopng/tree/dev/doc#using-ntopng-with-a-https-proxy

basically `HTTP_PROXY` env var must be set within systemd if you are starting ntopng as a service.

[2021-12-17 15:29] simonemainardi commented on #6139
Closing for inactivity. Please reopen with the requested information if necessary.

[2021-12-17 15:29] #6139 closed, assigned to simonemainardi

[2021-12-17 15:32] simonemainardi commented on #6137
`Packages.gz` is now the same (` c7ba1a0a994da486bfd46f7eb9168ef2             3263 Packages.gz`) on both

- https://packages.ntop.org/apt-stable/20.04/all/InRelease
- https://packages.ntop.org/apt-stable/20.04/all/Release

Chances are you have performed the update exactly while we were deploying new builds.

[2021-12-17 15:32] #6137 closed, assigned to nobody

[2021-12-17 15:42] simonemainardi commented on #6123
Documentation has been added. It will be deployed automatically at https://www.ntop.org/guides/ntopng/third_party_integrations/pfsense.html within the next few hours.

[2021-12-17 15:42] #6123 closed, assigned to simonemainardi

[2021-12-17 15:44] simonemainardi commented on #6117
To implement this with maximum flexibility @lucaderi proposed to add one or more checks which interpret a BPF filter.

[2021-12-17 15:56] simonemainardi commented on #6112
Implemented

<img width="859" alt="image" src="https://user-images.githubusercontent.com/3397663/146572097-c0165233-2d90-4e94-a043-b1fc8c757b3b.png">

[2021-12-17 15:58] #6112 closed, assigned to simonemainardi

[2021-12-17 16:00] simonemainardi commented on #6110
Verified as fixed.

[2021-12-17 16:00] #6110 closed, assigned to MatteoBiscosi

[2021-12-17 16:02] simonemainardi commented on #6110
still not working (should be case insensitive)

<img width="194" alt="image" src="https://user-images.githubusercontent.com/3397663/146573035-6f10760c-d027-4d22-bccd-50cb86888671.png">

[2021-12-17 16:03] simonemainardi commented on #6111
Still not working, should be case-insensitive

<img width="194" alt="image" src="https://user-images.githubusercontent.com/3397663/146573135-4554ad77-aa93-4864-9f99-7f2d0a1a3478.png">

[2021-12-17 16:05] simonemainardi commented on #6111
Fixed. Pro part.

[2021-12-17 16:05] #6111 closed, assigned to MatteoBiscosi

[2021-12-17 16:06] simonemainardi commented on #6104
Verified as fixed.

[2021-12-17 16:06] #6104 closed, assigned to simonemainardi, cardigliano

[2021-12-17 16:15] simonemainardi commented on #5838
Rocky Linux packages are out at https://packages.ntop.org/

[2021-12-17 16:15] #5838 closed, assigned to nobody

[2021-12-18 01:43] naosone commented on #6140
Our ntopng is running on private network.

We use HTTP_PROXY and HTTPS_PROXY.

[Service]
Environment="HTTP_PROXY=http://xxxx:8080/;HTTPS_PROXY=http://xxxx:8080/"

We can connect the internet.

However, our system  running ntopng and influxdb on same server.
Therefore, we are using http://localhost:8086 as the URL for connect to influxdb.
but when HTTP_PROXY is set, communication to influxdb is als

[2021-12-18 14:40] gk998 opened #6146 "X-Axis Legend at timeseries charts is missing"
I'm new to ntopng and I run community 5.0.211124 on FreeBSD 12.1. I noticed that the timeseries charts for interfaces seem to be cut. I can hardly see the upper half of the "0" and can't see the legend with the timestamps.
Is this intended?
<img width="625" alt="grafik" src="https://user-images.githubusercontent.com/29233091/146644894-f9947fc9-4cc4-4751-9db2-f3f98a8793f7.png">

[2021-12-20 08:21] lucaderi commented on #6136
Verified as fixed

[2021-12-20 08:21] #6136 closed, assigned to MatteoBiscosi

[2021-12-20 08:23] lucaderi opened #6147 "nil System Alert"
![image](https://user-images.githubusercontent.com/4493366/146735404-91f3d80d-eb32-45e8-b81e-9b7109b9efbd.png)

[2021-12-20 08:40] lucaderi commented on #6133
Verified as fixed

[2021-12-20 08:40] #6133 closed, assigned to cardigliano

[2021-12-20 08:42] lucaderi commented on #6122
Verified as fixed

[2021-12-20 08:42] #6122 closed, assigned to cardigliano

[2021-12-20 08:43] lucaderi commented on #6100
Verified as fixed

[2021-12-20 08:43] #6100 closed, assigned to MatteoBiscosi

[2021-12-20 08:44] lucaderi commented on #6131
Verified as fixed

[2021-12-20 08:44] #6131 closed, assigned to nobody

[2021-12-20 08:46] lucaderi commented on #6130
![image](https://user-images.githubusercontent.com/4493366/146738560-8fab90b7-cd53-410c-9e53-d361ce4c847f.png)
Not working as it should

[2021-12-20 08:47] lucaderi commented on #6002
Seems to work

[2021-12-20 08:47] #6002 closed, assigned to MatteoBiscosi

[2021-12-20 08:55] lucaderi commented on #5997
![image](https://user-images.githubusercontent.com/4493366/146739681-d7143f84-f271-40fc-901e-04216eb103cc.png)
This host is a victim but
- there is no icon that reports it as a victim
- the score does not indicates whether it is a server or client score: please fix it

[2021-12-20 08:56] lucaderi commented on #6120
Verified as fied

[2021-12-20 08:56] #6120 closed, assigned to simonemainardi

[2021-12-20 08:56] lucaderi commented on #6106
Verified as implemented

[2021-12-20 08:56] #6106 closed, assigned to lucaderi

[2021-12-20 08:58] lucaderi commented on #6126
Verified as fixed

[2021-12-20 08:58] #6126 closed, assigned to cardigliano

[2021-12-20 08:58] lucaderi commented on #6132
Verified as fixed

[2021-12-20 08:58] #6132 closed, assigned to cardigliano

[2021-12-20 09:00] lucaderi commented on #6038
Verified as fixed

[2021-12-20 09:00] #6038 closed, assigned to MatteoBiscosi

[2021-12-20 09:03] lucaderi commented on #6121
![Screen Shot 2021-12-20 at 10 02 57](https://user-images.githubusercontent.com/4493366/146741003-46d1f090-2338-44a4-a057-82043ee418fd.png)
Still bugged: no indication of the error that has been experienced

[2021-12-20 09:04] lucaderi commented on #6129
Verified as fixed

[2021-12-20 09:04] #6129 closed, assigned to simonemainardi

[2021-12-20 09:05] lucaderi commented on #5968
Verified as fixed

[2021-12-20 09:05] #5968 closed, assigned to simonemainardi

[2021-12-20 09:08] lucaderi commented on #6028
Seems to work. Closing for now.

[2021-12-20 09:08] #6028 closed, assigned to simonemainardi

[2021-12-20 12:48] MatteoBiscosi commented on #6146
Hi @gk998 I fixed the 0 cut, but this is the maximum i can do right now, these are old js libraries and are not really flexible. In the near future however we are planning on changing these libraries. Regarding the time (x axis missing), I added the time on hover.
![Screenshot from 2021-12-20 13-48-13](https://user-images.githubusercontent.com/49585191/146769511-bf0c69f4-dd1d-4404-8047-8b52a794c76

[2021-12-20 13:49] simonemainardi commented on #6130
Issue was occurring only on view interfaces and is now fixed.

[2021-12-20 13:51] #5999 closed, assigned to simonemainardi

[2021-12-20 13:51] simonemainardi commented on #5999
Hi, thanks for pointing this out. Issue is fixed and will be available in the next 5.1 build within the next 24 hours.

[2021-12-20 14:31] simonemainardi commented on #6138
You can also perform a factory reset check:

![image](https://user-images.githubusercontent.com/3397663/146783141-84670f50-ac06-43b4-9375-44675b56ec14.png)

[2021-12-20 14:31] #6138 closed, assigned to MatteoBiscosi

[2021-12-20 15:37] simonemainardi commented on #6127
Implemented. As requested, file supports multiple lines and commas (and combinations of both). Example file format (also documented in the source comments):

[code]

[2021-12-20 15:44] simonemainardi commented on #6128
This should be implemented by https://github.com/ntop/ntopng/issues/6127.
Note that batch import of aliases is supported using `=`.

[2021-12-20 15:47] solarexpedition opened #6148 "Feature Request - Exclude lists for checks should be way more flexible"
As we are working with ntopng for some monthes now, we think more flexible exclude lists in ntopng would massively help to narrow down the amount of alarms. At the moment, in a network with a lot of traffic, it is almost impossible to configure an alarming system which does not produce thousands of alarms, every day.

Some ideas:

1. It should be possible to list excludes line by line, and not onl

[2021-12-20 18:45] aleex1848 commented on #6138
@simonemainardi
unfortunately this doesn't help. same behavious.

@MatteoBiscosi
I didn't do a reinstall until now but will try it during holidays.

[2021-12-20 22:53] gk998 commented on #6146
Thanks @MatteoBiscosi for this quick fix. I applied your patch and it looks much better now :)

[2021-12-20 22:54] #6146 closed, assigned to MatteoBiscosi

[2021-12-21 01:10] HWHS-Admin opened #6149 "How to display host visited Sites?"

[2021-12-21 08:00] #6149 closed, assigned to nobody

[2021-12-21 09:29] simonemainardi commented on #6121
Errors are written inside ClickHouse table `system.errors` and there is no way to map the number to the actual error using the system call `system`. For example, your `210` means

[code]

What I am doing now is querying the `system.errors` table and exposing it under the system interface, ClickHouse health.

[2021-12-21 11:04] simonemainardi commented on #6121
Pro commit 8ef2678feba2eef158b49b39dc80ee8909479726 adds errors with detailed trace under the internals page

![image](https://user-images.githubusercontent.com/3397663/146919765-691cacb8-b8f5-4ab3-b191-8791123483b0.png)

[2021-12-21 11:55] simonemainardi commented on #6121
Pro commit bc6d2ad7176d20423c2a09fd534851ceca799937 intercepts errors using `popen` and forwards them to the trace so they can be inspected and troubleshoot properly

![image](https://user-images.githubusercontent.com/3397663/146925439-38b76a30-9223-47eb-88c2-a9e2ab17b098.png)

[2021-12-21 11:56] simonemainardi commented on #6115
The latest build will print extra information and detailed error information. Please, wait a couple of hours, update, and report.

[2021-12-21 14:16] simonemainardi commented on #6145
For packet interfaces data is consistent

![image](https://user-images.githubusercontent.com/3397663/146944492-b1e3a5cd-0415-41b2-8d19-4ae825a69e2f.png)

Reported issue should be with nEdge.

[2021-12-21 14:17] simonemainardi commented on #6099
Issue fixed both on stable and dev. Reopen if necessary.

[2021-12-21 14:17] #6099 closed, assigned to simonemainardi

[2021-12-21 14:47] simonemainardi commented on #6108
Issue should be fixed now in the latest 5.1. Profiles were not reloaded upon ntopng restart.

[2021-12-21 15:47] simonemainardi commented on #6097
Thanks for reporting. Timestamps have now been adjusted to the current timezone. Format is ISO 8601 so you'll get them in UTC to make sure the time reference is standard and constant.

Example (before):

[code]

After
[code]

As I am CET, i.e., UTC+1, timestamp was wrongly reported with localtime and now is correctly reported in UTC using ISO 8601.

[2021-12-21 15:47] #6097 closed, assigned to nobody

[2021-12-21 21:02] lucaderi opened #6150 "Split Local Host Counter"
Traditionally in ntopng local hosts are accounted regardless of their status (sent/rcvd traffic or rcvd-only). This means that a local host that is active because of a remote host scan, is active as a local host that has sent/rcvd data.

This ticket is to create two "local host" counters
- counter of active (i.e. hosts that have made traffic) local hosts
- counter of passive i.e. hosts that have r

[2021-12-21 21:04] lucaderi opened #6151 "Document Packet vs Flow Traffic Analysis"
ntopng behaves almost the same when collecting flows or packets. However, there are tiny differences that are not well documented.
This ticket is to request them to be documented,

[2021-12-22 08:45] lucaderi opened #6152 "Document Views vs Interfaces"
Same as #6151 but for views. In essence, write in the documentation what are the main differences if any between an interface (ZMQ or packet) and a view. Typical questions
- are all interface stats available on a view interface? If not what is missing?
- what are the differences in memory and performance when using view interfaces?

[2021-12-22 09:44] lucaderi commented on #6121
Verified as fixed

[2021-12-22 09:44] #6121 closed, assigned to simonemainardi

[2021-12-22 09:46] lucaderi commented on #6108
Assuming it fixed

[2021-12-22 09:46] #6108 closed, assigned to simonemainardi

[2021-12-22 10:02] lucaderi commented on #6127
Verified as fixed

[2021-12-22 10:02] #6127 closed, assigned to simonemainardi

[2021-12-22 10:03] lucaderi commented on #6128
Verified as fixed

[2021-12-22 10:03] #6128 closed, assigned to simonemainardi

[2021-12-22 10:03] lucaderi commented on #6147
Verified as fixed

[2021-12-22 10:03] #6147 closed, assigned to MatteoBiscosi

[2021-12-22 10:04] MatteoBiscosi commented on #6141
Verified as Fixed

[2021-12-22 10:04] #6141 closed, assigned to MatteoBiscosi

[2021-12-22 10:04] lucaderi commented on #6141
Verified as fixed

[2021-12-22 10:14] lucaderi commented on #6130
Still bugged: you can try on HS

[2021-12-22 10:16] lucaderi commented on #5934
verified as fixed

[2021-12-22 10:16] #5934 closed, assigned to MatteoBiscosi

[2021-12-22 10:18] lucaderi commented on #6073
Verified as fixed using nDPI/tests/pcap/tls_certificate_too_long.pcap

[2021-12-22 10:18] #6073 closed, assigned to MatteoBiscosi

[2021-12-22 10:55] aleex1848 commented on #6138
@MatteoBiscosi
did a clean reinstall and everything is working now. thx!

[2021-12-22 11:41] martinscheu opened #6153 "Alerts filter not working"
Dear ntop team,
It seems the GUI filter in e.g. flows, past 30min, is not working. I can set one filter, that is ok, but when I add a second one is not working anymore, result is "no data available". I set filter "Application on non standard port" the list get filtered, I select a host out of that filtered list and it shows no data.
Thank you.

[2021-12-22 20:13] simonemainardi commented on #6130
Should be fixed now.

[2021-12-23 08:01] solarexpedition commented on #6115
Here is the output of Last Errors from the Clickhouse Health Tab. I have installed the update yesterday morning.

Line one looks like a relevant line concerning a dump problem.
Line two has something to do with the veeam backup client. I don't why it wants to read this file.

`23/Dec/2021 00:02:03 Cannot parse input: expected ',' before: '-1, \'housekeeping.lua\', \'\', \'\', 60, \'{"max_duration_

[2021-12-23 10:49] solarexpedition commented on #6036
I think, detection of the EDNS0 extension in DNS UDP packets should be implemented. The 512 bytes limit is the legacy method and should only trigger an alarm if EDNS0 is not used.

EDNS0 supports a UDP query response larger than 512 bytes. Using the legacy method, UDP was used only as long as the DNS query was under 512 bytes. Over 512bytes, it changed it to TCP. With EDNS0, it allows UPD response

[2021-12-23 14:58] cardigliano commented on #6153
@martinscheu I pushed a fix for filtering on hosts with the IP address only (no host name), was this the case? A new package will be available in ~1h from now

[2021-12-23 15:00] simonemainardi commented on #6142
Should be resolved as part of https://github.com/ntop/ntopng/issues/6121

[2021-12-23 15:54] simonemainardi commented on #6140
Thanks for reporting. Proxy exclusions are now enforced.

For example, to exclude `localhost` as in your case, you can do

[code]

[2021-12-23 15:54] #6140 closed, assigned to simonemainardi

[2021-12-23 15:55] simonemainardi commented on #6119
closing for inactivity. Reopen with the requested information if necessary.

[2021-12-23 15:55] #6119 closed, assigned to lucaderi

[2021-12-23 17:07] simonemainardi commented on #6053
Addressed

![image](https://user-images.githubusercontent.com/3397663/147271978-5842b2b8-d0cc-4af2-a108-b0d09247bf76.png)

[2021-12-23 17:25] simonemainardi commented on #6063
I am getting the expected behavior using the latest build. Can you please check and report.

[2021-12-23 17:45] simonemainardi commented on #6018
Closing for inactivity. Please, reopen if necessary with the requested information.

[2021-12-23 17:45] #6018 closed, assigned to MatteoBiscosi

[2021-12-23 18:48] cardigliano commented on #6101
The historical flow table now contains by default a subset of the whole information available in the database (additional info can be added using the 'eye' menu). A Historical Flow Details page has been added to display all the available flow details.

[2021-12-24 11:59] ginobyte opened #6154 "ntopng not getting flows from nprobe"
Hi,
I have a virtual machine with both ntopng and nprobe installed, I followed the steps outlined in the ntop.org packages site.
I start the Ntopng service :
ntopng -i tcp://127.0.0.1:5556
I start the Nprobe as :
nprobe --zmq "tcp://127.0.0.1:5556" --zqm-disable-buffering -i none -n none --collector-port 9995 --collector-passthrough -T "@NTOPNG@"
There are Cisco Routers and Switchs thant send netf

[2021-12-24 13:29] simonemainardi commented on #6115
Thanks for reporting. `Cannot parse input` issues should be fixed now. A new build will be available within 24 hours.

This `/sys/block/veeamimage2/stat` is not related to ntopng.

[2021-12-24 15:14] simonemainardi commented on #6154
- make sure Centos8 is not firewalling the traffic (even if you see it with tcpdump the firewall can still block it)
- check ntopng under the interface page. Are interface updates increasing?

[2021-12-24 15:40] #5982 closed, assigned to simonemainardi

[2021-12-24 15:40] simonemainardi commented on #5982
Addressed and tested with

[code]

![image](https://user-images.githubusercontent.com/3397663/147362694-d16e7a94-ae62-4dcb-8067-3400485871d7.png)

[2021-12-24 15:43] simonemainardi commented on #5941
Can you please check if this is solved in the latest build?

[2021-12-24 15:45] simonemainardi commented on #5869
Closing for inactivity. Reopen with the requested information if necessary.

[2021-12-24 15:45] #5869 closed, assigned to simonemainardi

[2021-12-24 15:48] simonemainardi commented on #5742
Implemented with filters "Client Location" and "Server Location"

![image](https://user-images.githubusercontent.com/3397663/147363021-c1a6b0fb-4feb-436c-a0a1-6dbb4ae02f2a.png)

[2021-12-24 15:48] #5742 closed, assigned to MatteoBiscosi

[2021-12-24 15:50] simonemainardi commented on #6033
Duplicate of https://github.com/ntop/ntopng/issues/5602

[2021-12-24 15:50] #6033 closed, assigned to nobody

[2021-12-26 08:48] lucaderi opened #6155 "Rework InfluxDB Import"
When under pressure, ntopng start misbehaving when inserting data into influxdb causing holes in timeseries. The export timeseries  directory is not empty as it should be

-rw------- 1 ntopng ntopng   1254 Dec 26 05:08 8831_1640491680
-rw------- 1 ntopng ntopng   6554 Dec 26 05:08 8832_1640491691
-rw------- 1 ntopng ntopng  42348 Dec 26 05:08 8833_1640491702
-rw------- 1 ntopng ntopng   1254 Dec 2

[2021-12-26 09:43] lucaderi opened #6156 "Create conditional scripts"
Currently, callback scripts are started all the time and often they fall short due to the lack of conditions for running. Example
- scripts/callbacks/5second/system/pinger.lua
it runs only with nEdge
- housekeeping.lua
Should run only of there is something to do such as preferences changed
- snmp_device.lua
Should run only if SNMP is enabled

This is to request to further partition scripts into fo

[2021-12-26 09:47] lucaderi opened #6157 "Unify InfluxDB and ClickHouse Activities"
InfluxDB activities (e.g. upload to the DB) are performed by /scripts/callbacks/second/system/timeseries.lua whereas ClickHouse data upload works on a totally different fashion.
They need to be unified in logic to ease debugging and lower application complexity

This bug is causing ntopng to drop series import and fill up the disk

root@ntopng:/var/lib/ntopng# ls ?/ts_export/*|wc -l
4897

[2021-12-27 09:09] cardigliano commented on #6118
@martinscheu I am trying to reproduce this, what do you mean exactly by "I can not put to NOT"? What is the effect?
Please click on the "SQL" badge in the footer to copy the generated SQL and provide it. Thank you.

<img width="305" alt="Screen Shot 2021-12-27 at 10 08 23" src="https://user-images.githubusercontent.com/7548711/147455583-4f1f7652-5162-413d-b068-9dc01a7c8e49.png">

[2021-12-27 09:59] simonemainardi commented on #6096
I tried to reproduce using NetFlow and disaggregation but without success. I am unable to get any clock drift error.

To ease the troubleshoot I've added indication of both local and remote probe timestamps. This will help us understanding what is happening.

![image](https://user-images.githubusercontent.com/3397663/147460322-88539c7f-6d46-4563-a39c-57ff1873fed5.png)

Please, wait 24h for a new b

[2021-12-27 10:20] cardigliano commented on #6118
It is likely this was related to the maximum length accepted by the name validator. This has been extended now.

[2021-12-27 12:30] thomasbruchet opened #6158 "Aggregate flow according to IP_ADDRESS instead of VLAN ID."
Hello,

On my infrastructure I've many vlan and many FW.
I've mirrored a switch port going to a FW to an ntop interface.
The problem is that the flow are separated with vlan ID instead of aggregate all traffic to a unique IP address
Here is an example of my laptop connected as 10.200.205.22 in VLAN42 connected on FW2
![image](https://user-images.githubusercontent.com/86605223/147471791-5561d4bf-fc

[2021-12-27 13:08] thomasbruchet opened #6159 "[Detected Alerts] - Links to the alert list are invalid"
Hello,

The links to alerts in "Detected Alerts" are invalid. ( /lua/alert_stats.lua?ifid=5&status=engaged )

When I click on the top of screen on the alert button (1), the links on (2) are invalid
![image](https://user-images.githubusercontent.com/86605223/147474707-9f8fce1d-23ce-4e8a-8f9e-2b82acbe226e.png)
/lua/alert_stats.lua?page=host&epoch_begin=1640003230&epoch_end=1640608030&status=engaged&

[2021-12-27 13:18] cardigliano commented on #6158
Did you check the --ignore-vlans option in ntopng?

[2021-12-27 14:19] cardigliano commented on #6159
@thomasbruchet could you try updating ntopng to the latest revision? It is likely that some (or all) the issues you reported have been already addressed. Thank you.

[2021-12-27 14:40] cardigliano commented on #6039
On FreeBSD (including OPNsense) the ntopng-data is not available, however a free GeoIP database is installed with the ntopng package under /usr/local/share/ntopng/httpdocs/geoip . Please check that *.mmdb files are present in your installation.

[2021-12-27 15:01] thomasbruchet commented on #6158
Hello,

I'd search the option in configuration and I'ven't seen it exist in the command lines options.
That work.

You can close the case.
Thank you.

[2021-12-27 15:01] #6158 closed, assigned to nobody

[2021-12-27 15:03] thomasbruchet commented on #6159
Hello.

I will update this night on a time slot.

[2021-12-27 16:52] simonemainardi opened #6160 "[nEdge] Chart LAN vs WAN traffic"
In https://github.com/ntop/ntopng/issues/2915 we have added the support to count the number of userspace packets vs the total number of packets.

This issue requires to chart, in router mode, a chart with two timeseries for each WAN, namely:

- LAN traffic
- Traffic going through the WAN

Resulting chart will be like

![image](https://user-images.githubusercontent.com/3397663/147491844-11f7ad33-38

[2021-12-28 05:33] tiny-pangolin commented on #5449
I believe this can be solved by removing or changing the version checking the in influxdb code. This is the error message below I am getting when using ntopng on opnsense and shipping to a victoriametrics instance on my lan with the influxdb integration without authentication. I am not a coder but I am more than happy to spin a victoriametrics instance up or help one of the devs spin one up.

[cod

[2021-12-28 10:24] ginobyte commented on #6154
Hi Simone, Yes I had to disable firewalld to see some flow from the interface 127.0.0.1:5556, but now I see like exporters the IP of real interface of Nprobe/NTOP system and not the Routers IP's that sending flow....I see the routers in snmp devices polled....then, I think for license scope, the probe collect only 5028 flow...It's possible to use a community license ??

8/Dec/2021 10:32:09 [collec

[2021-12-28 12:30] #2324 closed, assigned to nobody

[2021-12-28 12:30] simonemainardi commented on #2324
After internal review we have seen this issue is no longer necessary.

[2021-12-28 18:01] lucaderi opened #6161 "Flow flapping"
![Screen Shot 2021-12-28 at 18 57 45](https://user-images.githubusercontent.com/4493366/147593875-d62f8053-3e12-43ac-8dd1-217efb672e82.png)

The above example is an idle SSH connection causing many flows/alerts to be generated instead of just one. Possible solutions
- generate the alert when the flow has a SYN set (i.e. the first of these subflows)
- change something in flow duration timeouts

[2021-12-29 04:00] 612wong commented on #5941
Hi Simone,

I’m running the dev release and it’s still showing traffic in one direction only.

Do you need more information?

Thanks,
Tung

From: Simone Mainardi ***@***.***>
Sent: Saturday, 25 December 2021 2:44 AM
To: ntop/ntopng ***@***.***>
Cc: Tung Ho Wong ***@***.***>; Author ***@***.***>
Subject: Re: [ntop/ntopng] MAC address based traffic direction not working following the yum update to n

[2021-12-29 08:23] thomasbruchet commented on #6159
Hello

That work fine now.

Thank you.

[2021-12-29 08:23] #6159 closed, assigned to cardigliano

[2021-12-29 11:01] lucaderi opened #6162 "Wrong Interface Throughput Chart"
![Screen Shot 2021-12-29 at 11 58 51](https://user-images.githubusercontent.com/4493366/147655450-48f412d1-e57e-4757-9c6a-a0ec9dee2d14.png)
![Screen Shot 2021-12-29 at 17 51 56](https://user-images.githubusercontent.com/4493366/147685483-ca2e577d-c658-47ae-b351-be3a4442f303.png)

In this host there is only RX traffic. Since the implementation of throughput caching this is what happens when a page

[2021-12-29 16:16] cardigliano commented on #6102
Initial implementation added with 6bbe815b576cec8f6b7e1f299d0de4c297905270 b242ec29757b5abb057753a5d00c4b8482080845 342064446dbbd1bdbe25c1cc95317a15ae33b4e6

[2021-12-29 17:07] #6162 closed, assigned to MatteoBiscosi

[2021-12-30 13:37] martinscheu opened #6163 "interface flow export counter"
Dear ntop team
With the added option of flow / alert export to clickhouse the counters on the interface overview page do not count up the exported flows.
thank you
![IMAGE 2021-12-30 14:36:50](https://user-images.githubusercontent.com/38549755/147756811-0071c5c3-725c-46b9-b51e-fb1dd7da8345.jpg)

[2021-12-30 14:03] martinscheu opened #6164 "filter input verification"
Dear ntop Team
Filtering for alerts it seems is not verified:
<img width="830" alt="Screenshot 2021-12-27 at 16 09 25" src="https://user-images.githubusercontent.com/38549755/147758610-89cfabd0-6bf5-4cb3-845e-0325ed441682.png">
Further clearing filters seems not to work neither and reloading pages adds the selected filter again.
thanks.

[2021-12-30 14:06] martinscheu opened #6165 "Enterprise dashboard scaling of graphs"
Dear ntop team
Is this correct?
<img width="530" alt="Screenshot 2021-12-28 at 00 03 07" src="https://user-images.githubusercontent.com/38549755/147758868-6b04e2b1-de7e-4986-a065-faa0755ce232.png">
<img width="549" alt="Screenshot 2021-12-28 at 00 03 16" src="https://user-images.githubusercontent.com/38549755/147758911-edecb4e0-2678-474a-a2bb-640871c2c3ac.png">
light blue traffic is shown higher a

[2021-12-30 14:33] cardigliano commented on #6164
@martinscheu could you specify the exact steps you follow to add and clear the filters? Clearing them seems to be always working for me..

[2021-12-30 14:42] cardigliano commented on #6164
As of the filter verification, it has been fixed in de6e79b7f82d016278516a2f25157cc7aa001ab0 to avoid the same value to be set even with different operators

[2021-12-30 15:00] martinscheu commented on #6153
@cardigliano thanks, it seems to work now.
Maybe could change the shown text from "no data available in the table" to "no data available in the selected time frame" ?
otherwise can close this ticket.

[2021-12-30 15:03] cardigliano commented on #6153
That's a generic message from the js datatable library, I will check if we can set it

[2021-12-30 15:03] #6153 closed, assigned to cardigliano

[2022-01-02 18:18] roznet opened #6166 "SNMPv3 error"
ntopng does not seem to start if I use clickhouse with a specified port number

it works if the configuration /etc/ntopng/ntopng.conf has

`-F="clickhouse;localhost;ntopng;ntopng;XXXXX"`

it does not work (hang and not web page appears at all) with

`-F="clickhouse;localhost@9000;ntopng;ntopng;XXXX"`

I am using ntopng version:
[code]

Errors from web system/clickhouse (after it start successfully

[2022-01-02 21:22] ganz67 opened #6167 "Segmentation fault/Ntopng - When dumping expired flow to mysql"
On Mac Mojave 10.14.4 Intel Core-i5
$ mysql -V
mysql  Ver 14.14 Distrib 5.6.15, for osx10.6 (i386) using  EditLine wrapper
$ mysqld -V
mysqld  Ver 5.6.15 for osx10.6 on i386 (MySQL Community Server (GPL))

Pulled the latest dev branch from Github, compiled and when starting ntop with -dump-expired-flow to MySql enabled, I get a segmentation fault when ntop tries to close the the db connection. Att

[2022-01-03 07:32] lucaderi commented on #6167
You code is not in sync with github

[2022-01-03 07:33] lucaderi commented on #6163
This has been fixed already

[2022-01-03 07:33] #6163 closed, assigned to nobody

[2022-01-03 08:15] cardigliano commented on #6166
@roznet please note you should configure the ClickHouse "MySQL" port (default 9004), not the port for native clickhouse connections.

[2022-01-03 08:25] roznet commented on #6166
you're right, thanks a lot 9004 worked!

[2022-01-03 08:33] wwazzi opened #6168 "Changing the ntopng default interface"
Hello,
I have ntopng installed with Endian Firewall Community; however when i open ntopng on browser it only shows the br0 interface, how can I change the interface to be able to check the internet interface?
I cant update ntopng since the Ebdian  Firewall in installed on a device with :
Linux 4.4.145.e6.4 #1 SMP PREEMPT Fri Aug 13 17:36:19 UTC 2021 x86_64 GNU/Linux

I tried using ntopng -i eth1 b

[2022-01-03 08:38] lucaderi commented on #6166
@roznet As of SNMPv3 how can we reproduce the issue you reported?

[2022-01-03 08:40] lucaderi commented on #6168
You need to contact the Endian team or check where the ntopng config file is located (probably under /etc/ntopng) and change there the interface name as I believe the config file contains the path of the ntopng data files

[2022-01-03 08:40] #6168 closed, assigned to nobody

[2022-01-03 09:14] roznet commented on #6166
@lucaderi I am not sure what I have in my configuration that creates the SNMPv3 error. I am happy to share any information from the setup, or if you have specific info you need from me/logs/config etc let me know.

What I see is that the error in the log appears every 5min on the spot as you see below 9:00, 9:05, 9:10

[code]

[2022-01-03 09:35] wwazzi commented on #6168
Thank you,
I was able to find the ntopng.conf file i updated the interface; but when restarted the device it was reset to br0 interface.
is there any other file that needs to be modified as well. or what would be affecting this please.
Appreciate your help.

[2022-01-03 10:32] MatteoBiscosi opened #6169 "Add top level domain to exclusion list"
Add the possibility to exclude specific alert for a specific top level domain.
For example: Exclude all the 'No Data Exchanged' alerts for domain ending with 'microsoft.com'

[2022-01-03 10:36] MatteoBiscosi opened #6170 "Change Alerts Chart"
The chart reporting the number of alerts is meaningless into the alerts page. It should be better to add more cards (like Top Hosts and Top Alerts) to give more information to the user and possibly add the ability to create one or two custom cards.
![Screenshot from 2022-01-03 11-36-03](https://user-images.githubusercontent.com/49585191/147921326-5af98daf-bef8-4139-b223-b3c3912ba33c.png)

[2022-01-03 10:41] MatteoBiscosi opened #6171 "Create a Page with Alerts Info"
Many times the description regarding an alerts and all the information about it is cut (due to the space used by it), not permitting to read correctly or to copy and paste the information.
It is requested to create an 'Alert Info' view to check all the info of an alert.

![Screenshot from 2022-01-03 11-39-55](https://user-images.githubusercontent.com/49585191/147921621-5558b0a0-950d-44f0-b2e2-15b0

[2022-01-03 10:55] MatteoBiscosi opened #6172 "Add Get Permanent Filters"
It is requested to add a way to save the current filters of the Alerts/Historical Flow Explorer page and re-add them in the future. In this way if a user wants to search a specific alert, he can save the filters and when he needs it, he just need to paste those filters to get back the filtered alerts he wants.

[2022-01-03 11:01] MatteoBiscosi opened #6174 "Trigger Alerts Using Alerts Page Permanent Filters"
Add the possibility to create custom alerts using alerts page filters.
For example trigger an alert with these filters.
![Screenshot from 2022-01-03 12-00-08](https://user-images.githubusercontent.com/49585191/147923387-80b70582-b569-4409-a8d1-85bdd3076380.png)

[2022-01-03 11:02] MatteoBiscosi commented on #6174
depends on #6172

[2022-01-03 12:11] MatteoBiscosi commented on #6165
Hi @martinscheu, yes it's correct, because currently that chart has to be read in a "strange" way:
The sum of the two interfaces is (for example) 1.08 Gb/s, the NET one is doing 960 Mb/s and the NW-WGW is doing the remaining traffic.
Practically speaking you have to see the 0 of the y-axis as the end of the below chart.
Please let me know if I was clear enough or not

[2022-01-03 17:22] TomSchober opened #6175 "System Notifications - New Endpoint Form Field Validation"
**Environment**:
* OS name: Ubuntu
* OS version: 20.04.3 LTS
* Architecture: x86
* ntopng version/revision: ntopng Community v.4.2.210729

**What happened**:
Form validation for a new "Email" Notification Endpoint is not allowed with certain valid form data.

**What did you expect to happen?**
Form validation should allow submission.

**How did you reproduce it?**
1. Navigate to System > Notificat

[2022-01-03 17:29] TomSchober commented on #6175
Further context.  The form source is located here:
https://github.com/ntop/ntopng/blob/4.2-stable/scripts/plugins/endpoints/email_alert_endpoint/templates/email_endpoint.template

[2022-01-03 17:37] TomSchober commented on #6175
It appears the regex for email validation on the client is defined here:
https://github.com/ntop/ntopng/blob/4.2-stable/httpdocs/js/ntop_utils.js#L45

[2022-01-03 17:42] cardigliano commented on #6175
@TomSchober any chance you can update to the latest stable (5.0) or dev (5.1)?

[2022-01-03 17:47] TomSchober commented on #6175
Unfortunately this is not possible.  This is version-locked into a plugin configuration for another system.  The dependency uses4.2-stable.

[2022-01-03 17:48] TomSchober commented on #6175
This is an easy fix as a regex update, and when I get the time I will PR this myself.  When it comes to email and RFC5322 there is no "rule;" just good advice for the context of the application.  I'd follow:
https://stackoverflow.com/questions/201323/how-can-i-validate-an-email-address-using-a-regular-expression/201378#201378

[2022-01-03 22:24] ganz67 commented on #6167
Good news Luca. I wiped out the old MySql install and upgraded to MySql 8 and things are working now!
Thank you for all your help. I am closing this ticket now.

[2022-01-03 22:24] #6167 closed, assigned to lucaderi

[2022-01-04 01:44] Yoshihiro-jp opened #6176 "The "Service Map" with "Host Pool" always returns "No services were found.""
**Environment**:
* OS name: [e.g. Ubuntu] Ubuntu
* OS version: [e.g. 18.04] 20.04.3 LTS
* Architecture: [e.g. amd64]  x86_64
* ntopng version/revision: [e.g. 5.1.211223]  5.0.211220 [Enterprise/Professional build]

**What happened**:
The "Service Map" with "Host Pool"  always returns "No services were found.". Kindly refer to the attached file.

**What did you expect to happen?**
It should show th

[2022-01-04 05:51] Yoshihiro-jp commented on #6176
I did "Factory Reset" in the "Manage Configurations" then created "Host Pool" again.
Now the problem what I reported was gone...
I would report it if I encountered the same problem.

regards,
Yoshihiro

[2022-01-04 08:29] martinscheu commented on #6165
ok thanks @MatteoBiscosi. maybe cloud do a radio button with "Total Traffic" ?

[2022-01-04 08:37] martinscheu commented on #6164
@cardigliano ok thanks, yes verification is fixed.
but now when I have set a filter and later would like to negate it, it doesn't work.
clearing filters visually works, but I am not sure if it does clear the filter, as it get stuck, new filters are not taken into account. To work I need to leave the page and go back to the alerts page.
Also a page refresh doubles the set filters.
thank you!

[2022-01-04 10:42] MatteoBiscosi commented on #6171
This issue is verified as implemented, now when clicking the lens button
![Screenshot from 2022-01-04 11-41-23](https://user-images.githubusercontent.com/49585191/148047222-494f81e7-15b2-4688-947a-d5df576986ae.png)
an alert page info is going to show up with all the alert info contained into the alert.

[2022-01-04 10:42] #6171 closed, assigned to nobody