[2016-09-13 12:32] Niko78 commented on #740
I hope it is what you wanted, I let nprobe launched during 1 minute

13/Sep/2016 14:30:10 [nprobe.c:2718] Processed packets: 4414 (max bucket search: 0)
13/Sep/2016 14:30:10 [nprobe.c:2701] Fragment queue length: 0
13/Sep/2016 14:30:10 [nprobe.c:2727] Flow export stats: [2166136 bytes/4409 pkts][102 flows/4 pkts sent]
13/Sep/2016 14:30:10 [nprobe.c:2737] Flow drop stats:   [0 bytes/0 pkts][0 flows

[2016-09-13 19:52] njcwotx commented on #732
Another restart of the ntopng.service today and another very long "MySQL schema update. Altering table flowsv4: changing engine from InnoDB to MyISAM." in the ntopng.log.

I did no software update, but every time I restart the service the historical database goes though a schema update.  The larger the database grows, the longer this takes.  It was at 52GB before the restart and took 58 minutes to

[2016-09-13 20:07] njcwotx opened #741 "REOPEN: ntopng - "database schema is being updated...""
I opened a case last week but it was closed before I think the issue is understood.

Another restart of the ntopng.service today and another very long "MySQL schema update. Altering table flowsv4: changing engine from InnoDB to MyISAM." in the ntopng.log.

I did no software update, but every time I restart the service the historical database goes though a schema update. The larger the database gro

[2016-09-13 21:12] simonemainardi commented on #741
according to your report, ntopng says "flowsv4: changing engine from InnoDB to MyISAM" after every restart. Since ntopng checks for the table engine _before_ doing the change, it is likely that ntopng detects the InnoDB engine, even if it should be MyISAM.

Please, log into the database and do the following query:

[code]

double check tables engine both after ntopng has completed the migration an

[2016-09-13 21:33] njcwotx commented on #741
# showtable after starting ntopng and the schema update completed.

MariaDB [(none)]> use ntopng;
Reading table information for completion of table and column names
You can turn off this feature to get a quicker startup with -A

Database changed
MariaDB [ntopng]> show table status;
+---------+--------+---------+------------+-----------+----------------+-------------+-----------------+-------------

[2016-09-13 23:05] njcwotx commented on #741
here is the status right after the schema update was reapplied..

MariaDB [(none)]> use ntopng;
Reading table information for completion of table and column names
You can turn off this feature to get a quicker startup with -A

Database changed
MariaDB [ntopng]> show table status;
+---------+--------+---------+------------+-----------+----------------+-------------+-----------------+--------------+

[2016-09-14 07:45] simonemainardi commented on #741
So the table engine is always MyISAM and this is OK. Maybe the point is that you are using mariadb and not MySQL.

I have tested that with mariadb on centos7 and I don't get updates every time I restart the service. Please report the exact OS and ntopng version used.

Also try to do the following query:

[code]

ntopng uses the query above to see if the engine is InnoDB. Thus, if the return is not

[2016-09-14 08:13] Niko78 commented on #740
@lucaderi I sent you by email "strace" information" from ntop

[2016-09-14 19:18] Alestor commented on #680
Hello,

there are no changes to the issues which I have with the Appication.
1. I get "No Results Found" on the historical data explorer when I have searched for a big time Range and want to display talkers.
2. When I generate Reports for more then 4 Days stats are not displayed for Top Countries , Top Hosts (local and remote) and Top ASN.
3.  When I generate Reports for 1 Month I just see some Ch

[2016-09-14 21:51] morphyno opened #742 "Occasionally ntopng does not start upon startup, logs seems ok, does not write pid to specified area"
In the system we are deploying, instead of using ntopng service, we wish to launch ntopng in our own startup service.

However, ntopng tries to launch, but fails to start.  I have "verbose" turned on but the log doesn't show what is missing.

The log below is actually identical to what I see during successfull startup
`Sep 14 15:22:12 localhost dev-util: 14/Sep/2016 15:22:12 [Prefs.cpp:581] ntopng

[2016-09-14 23:54] GerogeW opened #743 "pf_ring ZC config"
does anyone have some decent documentation on installing pf_ring and setting up ZC?
i've got a box sitting on about 2G of traffic and tons of packet loss on the RX interface.  i've got http://packages.ntop.org/ubuntu/16.04/x64/PF_RING/pfring_6.5.0-800_amd64.deb installed, but it seems like i'm missing setting up the ZC drivers?  i'm following this https://github.com/ntop/PF_RING/blob/dev/doc/PF_RI

[2016-09-15 07:37] simonemainardi commented on #742
are you using systemd to control the start/stop of ntopng? can you attach you own 'startup service'?

[2016-09-15 07:44] cardigliano commented on #743
Hi
I think this is the guide you are looking for:

https://github.com/ntop/PF_RING/blob/dev/doc/README.apt_rpm_packages

Please also take a look at:

https://github.com/ntop/PF_RING/blob/dev/doc/README.RSS

Alfredo

[2016-09-15 07:45] simonemainardi commented on #724
thanks for reporting

[2016-09-15 07:45] #724 closed, assigned to nobody

[2016-09-15 07:46] simonemainardi commented on #713
possible solution found. no feedback received. closing for inactivity.

[2016-09-15 07:46] #713 closed, assigned to nobody

[2016-09-15 07:48] simonemainardi commented on #697
it is safe to close as #712 is fixed

[2016-09-15 07:48] #697 closed, assigned to nobody

[2016-09-15 07:54] simonemainardi commented on #698
@pnash01 have you tried @cardigliano's contribution? can you please report on that. Thank you.

[2016-09-15 08:26] simonemainardi commented on #692
@pnash01 do you have any update on this?

[2016-09-15 09:26] simonemainardi commented on #680
@Alestor what is the ntopng version that crashed? can you generate a core dump and upload it along with the ntopng binary?

[2016-09-15 09:34] simonemainardi commented on #714
hi @davewkzn do you think it is possible to have credential for remotely connect to the host? we would like to check that. You can send the credential to mainardi ntop org

thank you

[2016-09-15 10:57] EAnsy opened #744 "lua scripts got from directory where compiled, not installed"
May be my mistake... but after _make install_ I've purged _ntopng_ directory and then got something like _"lua script login.lua not found"_ error in web interface. Searching into FS show _login.lua_ file in _/usr/local/share/ntopng/scripts_ but logged in only after _git clone ntopng_ again.
So I've edited both files _login.lua_ to distinct them and proved _ntopng_ using compilation directory one.

[2016-09-15 13:24] GerogeW commented on #743
when trying to install
dpkg -i pfring-drivers-zc-dkms_1.3_all.deb,
i get error
dpkg: dependency problems prevent configuration of pfring-drivers-zc-dkms:

 pfring-drivers-zc-dkms depends on e1000e-zc-dkms; however:
  Package e1000e-zc-dkms is not installed.
 pfring-drivers-zc-dkms depends on igb-zc-dkms; however:
  Package igb-zc-dkms is not installed.
 pfring-drivers-zc-dkms depends on ixgbe-zc-d

[2016-09-15 13:26] cardigliano commented on #743
Please follow the steps described at http://packages.ntop.org/apt/ (i.e. please use the repository)

[2016-09-15 13:26] #743 closed, assigned to cardigliano

[2016-09-15 13:35] GerogeW commented on #743
How can i tell if the ZC drivers have been properly loaded now?  it seems i still can't start the pf_ring service

[2016-09-15 13:46] cardigliano commented on #743
You can check it with:

# cat /proc/net/pf_ring/dev/eth1/info | grep ZC

Polling Mode:      ZC/NAPI

[2016-09-15 13:53] GerogeW commented on #743
cat /proc/net/pf_ring/dev/enp4s0f0/info | grep ZC
returns no info

cat /proc/net/pf_ring/dev/enp4s0f0/info
returns
Name:              enp4s0f0
Index:             4
Address:           0C:C4:7A:B7:34:BA
Polling Mode:      NAPI
Type:              Ethernet
Family:            Standard NIC

# Bound Sockets:   1

Max # TX Queues:   24

# Used RX Queues:  24

[2016-09-15 13:59] cardigliano commented on #743
Did you "apt-get install pfring-drivers-zc-dkms" and configured according to README.apt_rpm_packages? If this is the case, please provide some output/log when starting the pf_ring service.

[2016-09-15 14:07] GerogeW commented on #743
actually, that was how i installed ntop, but get an error when trying to install pfring-drivers-zc-dkms, . unable to locate package pfring-drivers-zc-dkms

[2016-09-15 15:51] GerogeW commented on #743
what can i do to resolve it?

[2016-09-15 15:58] cardigliano commented on #743
Please provide the full log of apt-get install pfring-drivers-zc-dkms (please cleanup the environment if you manually installed some package)

[2016-09-15 16:14] GerogeW commented on #743
I've just wiped the server, and am starting over again.  I had manually tried to install several of the failed packages.
If I'm starting from scratch, where is the best place to start fresh?
It seemed like i had to put different sets of instructions together to get the install to take last time.

[2016-09-15 16:27] cardigliano commented on #743
This guide should be enough: https://github.com/ntop/PF_RING/blob/dev/doc/README.apt_rpm_packages

[2016-09-15 17:08] GerogeW commented on #743
Ok, making some progress. clean install... i have everything installed successfully.. in nbox, i have ZC selected for ixgbe driver on the correct intefrace, with 16 receive side scaling queues.  still having packet loss and not reflecting correct throughput.  what else do i need to adjust to allow the proper performance?

[2016-09-15 17:30] tiitba commented on #713
hi, sory for the wait, my active directory of organization broke and was take demanded my time, i have the schema to i would like to use:
![ntopng](https://cloud.githubusercontent.com/assets/20863646/18557862/072c6a9e-7b47-11e6-9f10-e01f5210ac4e.jpg)

I have the routers config (mikrotik and ASA) ready.
what type of setup recommend to use?

[2016-09-15 18:12] colinvv2 commented on #741
Mine does this after every restart... and it looks like MySQL is set as expected for MyISAM?

`mysql> select 1 from information_schema.TABLES where TABLE_SCHEMA = 'ntopng'  and TABLE_NAME='flowsv4' and ENGINE='InnoDB';
Empty set (0.00 sec)

mysql> use ntopng;
Reading table information for completion of table and column names

mysql> show table status;
+---------+--------+---------+------------+---

[2016-09-15 18:14] simonemainardi commented on #741
please, try to update to the latest stable that I've added an extra check in the mysql query. If that doesn't solve the issue, can you send the credentials to do a remote session? you can send them privately at mainardi ntop org

[2016-09-15 18:20] colinvv2 commented on #741
Updated to latest release...

Get:9 http://www.nmon.net/apt-stable/14.04/ x64/ ntopng 2.4.160913-1653 [4,174 kB]
Get:10 http://www.nmon.net/apt-stable/14.04/ x64/ nprobe 7.4.160913-5333 [1,135 kB]
Get:11 http://www.nmon.net/apt-stable/14.04/ x64/ n2disk 2.6.160913-4666 [957 kB]
Get:12 http://www.nmon.net/apt-stable/14.04/ x64/ pfring 6.4.1-798 [1,476 kB]
Get:13 http://www.nmon.net/apt-stable/14.04

[2016-09-15 18:42] colinvv2 commented on #741
Yeah! No DB alter at start this time... and I am seeing flows come through ntopng.

[2016-09-15 19:24] kph-ent opened #745 "nProbe Standard: Define IPs as "local" to a particular interface?"
We have several Mikrotik routers (one in each of several spread out geographic locations) sending Netflow (v9) info to a specific port on the server. I've currently got nprobe/ntopng set up with a separate "interface" for each router based on the port that gets the netflow data. So, like;

Router 1 --> server port 2055 == zmq tcp://1.2.3.4:5555
Router 2 --> server port 2056 == zmq tcp://1.2.3.4:55

[2016-09-15 19:36] kph-ent opened #746 "nProbe Standard: Hardware requirments/tuning recommendations requested"
We have about 8-10 routers sending Netflow data for around 2,000-3,000 IPs to a single Centos 7 x86_64 server. We need to maintain historical data for at least 90 days. (I already know I need more disk space.)

Current CPU is  Intel(R) Xeon(R) X3323 @ 2.50GHz (fam:06, model: 17, stepping: 0a) (quad core)
RAM: 8GB

It's kind of barely handling the processing from three routers right now, but it see

[2016-09-15 20:06] simonemainardi commented on #741
cool, thanks for reporting ;)

[2016-09-15 20:06] #741 closed, assigned to nobody

[2016-09-15 21:43] morphyno commented on #742
@simonemainardi, yes I am using systemd.

Below is my service script

[Unit]
Description=xyz server daemon
After=network.target

[Service]
Type=forking
ExecStartPre=/usr/bin/sh -c /opt/xyz/sbin/prep.sh
ExecStart= /opt/xyz/sbin/xyz-util init
ExecStop=/usr/bin/pkill -1 -f blah-daemon.sh
[Install]
WantedBy=multi-user.target

ntopng is actually invoked in "ExecStart", in a bash script that invokes nto

[2016-09-15 21:55] morphyno commented on #742
So based on the output of "systemctl statys xyz.service", "xyz-util init" exitted successfully. "xyz-util" calls "ntopng" last, and you can see it seemingly has started (but it didn't)

[root@localhost states]# sudo systemctl status xyzd.service
xyzd.service - xyz server daemon
   Loaded: loaded (/usr/lib/systemd/system/xyzd.service; enabled)
   Active: active (running) since Thu 2016-09-15 15:31:

[2016-09-16 04:13] Alestor commented on #680
Both the Versions 2.4 and 2.5 are now crashing every night at exactly 1:00AM.

[2016-09-16 07:00] lucaderi commented on #680
@Alestor Can you provide a core dump to analyse?

[2016-09-16 07:08] Alestor commented on #680
I'll try to get one this night. I'm in timezone gmt+2. The Last logs I see before the crash are

16/Sep/2016 01:00:01 [MySQLDB.cpp:549] Attempting to connect to MySQL for interface eth1...
16/Sep/2016 01:00:01 [MySQLDB.cpp:589] Succesfully connected to MySQL [localhost:ntopng_user] for interface eth1

it may be related to https://github.com/ntop/ntopng/commit/e34d7806f19f77c354f7e9276c3c1a273d16a4

[2016-09-16 07:15] lucaderi commented on #746
Hardware is a problem, but the main issue here is the configuration. How did you configure but nProbe and ntopng?

[2016-09-16 08:03] simonemainardi commented on #680
let's see please upload the dump when you get it and we'll inspect.

[2016-09-16 08:27] simonemainardi commented on #745
hi, ntopng doesn't mix hosts information, don't worry. So it is completely safe to define a local networks list that is the union of the lists of local networks belonging to each interface.

So for example if you have host 192.168.1.3 on interface i1 and i2, you will see it on both interfaces but each interface will keep independent and separated data for the host.

[2016-09-16 08:27] #745 closed, assigned to nobody

[2016-09-16 08:59] simonemainardi commented on #742
As you can see from here, the proper way to stop ntopng is correctly coded here: `https://github.com/ntop/ntopng/blob/dev/packages/etc/init.d/ntopng#L172`

If you skip our scripts and generate your own, then you should take care of that. Indeed, if proper cleanup isn't make on exit, then ntopng may fail to start.

However, I think your xyz-util is not properly following pattern used with systemd o

[2016-09-16 08:59] #742 closed, assigned to nobody

[2016-09-16 09:03] simonemainardi commented on #713
that setup is perfectly fine. launch three nprobe instances, each one receiving flows from a router. then configure each nprobe for the export flows to ntopng on a different port (e.g., tcp://_:5556, tcp://_:5557 and tcp://*:5558). Finally start ntopng on three different interfaces (-itcp://localhost:5556, -itcp://localhost:5557, -itcp://localhost:5558) and you're done

[2016-09-16 09:34] simonemainardi commented on #714
Hi, so I logged into the box and checked that the filtering is working properly:
![image](https://cloud.githubusercontent.com/assets/3397663/18581288/33e4d2b0-7c00-11e6-90b3-f2e030f37b55.png)

I noticed that you set traffic policies for hosts that were not currently active, this is why you thought filtering was not working. I set policies for an active hosts as well as for the whole network  `10.0

[2016-09-16 09:34] #714 closed, assigned to nobody

[2016-09-16 09:38] simonemainardi commented on #727
I connected to the box on Sept.06 and checked but couldn't find anything strange.

Are you sure the increase can be associated with the login?

Can you share the cacti graphs at least?

[2016-09-16 09:40] simonemainardi commented on #726
you can't extract pcaps out of flows traffic. I guess I should disable that button on the interface when the interface is ZMQ. That feature is meant for user that have ntopng and n2disk on the same box so they can browse recorded data inside ntopng and obtain the pcaps of their searches.

[2016-09-16 09:40] #726 closed, assigned to nobody

[2016-09-16 10:30] rezaeimh7 opened #747 "How to bind two or more PF_RING ZC to a given cluster"
Hi.
Is it possible to bind some NICs which opened in ZC Mode, to a given cluster as follow:

![b5bda90c-63b3-11e6-82fd-076a3b9a79e8](https://cloud.githubusercontent.com/assets/15108703/18583189/3b6b5d88-7c1e-11e6-948f-f6f9f62837b5.jpg)

[2016-09-16 10:31] rezaeimh7 commented on #747
@cardigliano , @lucaderi  can you answer my question?

[2016-09-16 12:18] lucaderi commented on #747
Yes it is possible: see https://github.com/ntop/PF_RING/blob/dev/userland/examples_zc/zbalance_ipc.c. Please do not post issues for pfring in ntopng.

[2016-09-16 12:18] #747 closed, assigned to nobody

[2016-09-16 13:29] simonemainardi commented on #744
when building from source you can control all the installation dirs using `./configure`. See `./configure --help`

at runtime you tell ntopng which directories to use with the following options:

[code]

[2016-09-16 13:29] #744 closed, assigned to nobody

[2016-09-16 13:46] simonemainardi commented on #740
I looked at the traces and I have the following suggestions. Try both of them independently, and see if disk IO rates change.
1. remove line https://github.com/ntop/ntopng/blob/dev/scripts/callbacks/minute.lua#L168 from the installed script (it should be under `/usr/share/ntopng/scripts/callbacks/minute.lua`), save it, and see...
2. disable mysql by removing -F, and see.

[2016-09-16 14:14] Niko78 commented on #740
wow !
fantastic !

I try in disabling both => no peaks at all and only few KB written sometimes
I try in re-enabling mysql => no issue

so it seems you found my problem with 1)

[2016-09-16 14:18] simonemainardi commented on #740
@emanuele-f can you please check if/why disk usage peaks with the activities? also, should we execute those activities once every 5 minutes (rather than once every minute)? I guess it should help.

[2016-09-16 14:31] aouinizied opened #748 "nDPI protos mapping"
Dear nTop team,

In case we are exporting "L7_PROTO" field from a probe to ntopng.
Is there a way to change L7_PROTO mapping function in ntopng?
Example: The probe exports L7_PROTO=7 for "Bittorrent".
How to configure ntopng to interpret "7" as Bittorrent and not "HTTP".
I checked for protos.txt but it seems usefull only for port based or servername dissection.
We just want to overwrite ndpi proto

[2016-09-16 14:47] emanuele-f commented on #740
I'm doing a quick test with iotop, with that line enabled I see peaks of 1170 KB/s while with line disabled I see peaks of 850 KB/s. But I only have 2 hosts to test with. There are 12 activity files to be updated per host each minute, so for 60k hosts may be too much RRD work...

Note: (1170-850) \* 60000 = 18.31 MBps, which is near 20MBps

[2016-09-16 14:58] GerogeW commented on #743
I seem to have very little packet loss, less than 2%, until i add my local networks to the config, then i have almost 80% packetloss, what would i need to change

[2016-09-16 15:12] Niko78 commented on #740
on my side difference is enormous
now even peaks are less than 200 KBps and average should be around 50 KBps (4k host and 45k flows during the check)

[2016-09-16 15:19] kYroL01 commented on #748
Hi!
The protocol detection is based on nDPI default number associated to protocols.
Yes, _protos.txt_ is to specify a different name of the application detected, based on _tcp/udp ports_, _hostname_ or _ip range_.
I think you can use a similar option also for nProbe ( _--ndpi-proto-ports <flle>_ ) but this follows the rules of protos.txt.
nDPI is the library for detect the protocol and it's used b

[2016-09-16 15:19] GerogeW commented on #743
Actually, never mind.  It is just random.   very high packet loss.

[2016-09-16 15:19] simonemainardi commented on #743
please report full configuration used

On Fri, Sep 16, 2016 at 4:58 PM, GerogeW notifications@github.com wrote:

[2016-09-16 15:22] GerogeW commented on #743
so actually, it lost my -x -X config when i rebooted it. not sure.
so the only time i have high packet loss is when i define the local networks.
here is my ntopng.conf
-w=3000
-W=0
-g=-1
-d=/storage/ntopng
-G=/var/run/ntopng.pid
-i=enp4s0f0
-x 512000
-X 512000

[2016-09-16 15:31] GerogeW commented on #743
it would appear, when you use the nbox web console, it over writes the ntop.conf file.
so when i was making changes via the web interface, it kept over writing my conf file, so it was removing my -x -X config.
it would appear as long as i always use the cmd line, it seems ok.
but with -w=3000
-W=0
-g=-1
-d=/storage/ntopng
-G=/var/run/ntopng.pid
-i=enp4s0f0
-x 512000
-X 512000
-m "actual subnets re

[2016-09-16 15:31] simonemainardi commented on #743
I am not sure you are opening the card in Zero Copy.

please specify it as `-i zc:enp4s0f0` and optionally, if you use RSS, you can also create independent interfaces on a per-queue basis, e.g., `-i zc:enp4s0f0@0 -i zc:enp4s0f0@1 -i zc:enp4s0f0@2` that you can then combine together with a view.

By the way, also please check #740 and see if it is related

[2016-09-16 15:44] 06chaynes opened #749 "Poudriere build failed - freebsd 10.3 - ntopng 2.4"
I am having an issue when building ntopng with Poudriere and was hoping someone could point me in the right direction. I can build the package manually but Poudriere fails with the following error:

`DDATA_DIR='"/usr/local/share"' -I/wrkdirs/usr/ports/net/ntopng/work/ntopng-2.4/third-party/libgeohash -I/wrkdirs/usr/ports/net/ntopng/work/ntopng-2.4/third-party/patricia  -O2 -pipe -isystem /usr/loca

[2016-09-16 15:49] simonemainardi commented on #749
follow the instructions here if you want to build from source on freebsd: https://github.com/ntop/ntopng/blob/dev/doc/README.FreeBSD

In particular I guess you are using a wrong version of nDPI. check out nDPI sources in the same folder that contains ntopng sources and then business as usual: autogen, configure, make

[2016-09-16 15:49] #749 closed, assigned to nobody

[2016-09-16 15:57] aouinizied commented on #748
Hi! Thanks for the answer.
Yes, Protos.txt is used to overwrite ndpi protos based on port and servername.
Yes ntopng use nDPI default protocols for L7 identification. nProbe too.
In my case, I implemented a probe that export records to ntopng. the L7 identification engine of my probe is not nDPI and do not cover the set of protocols covered by nDPI.
Lets say that my engine detects a set of prtocol

[2016-09-16 16:01] GerogeW commented on #743
already using a SSD.  ok, so i've got it setup with
-i zc:enp4s0f0@0
-i zc:enp4s0f0@1
-i zc:enp4s0f0@2
-i zc:enp4s0f0@3
-i zc:enp4s0f0@4
-i zc:enp4s0f0@5
-i zc:enp4s0f0@6
-i zc:enp4s0f0@7
-i zc:enp4s0f0@8
-i zc:enp4s0f0@9
-i zc:enp4s0f0@10
-i zc:enp4s0f0@11
-i zc:enp4s0f0@12
is there a way to consolidate the data?  or see if i still have any packet loss / errors?
also, top local talkers on the zc:

[2016-09-16 16:08] simonemainardi commented on #743
each -i is a separate queue. @0 doesn't include everything. you can merge interfaces together in a view using an ADDITIONAL view interface such as `-i view:zc:enp4s0f0@7,zc:enp4s0f0@8,zc:enp4s0f0@9`

[2016-09-16 16:30] GerogeW commented on #743
when i use
-w=3000
-W=0
-g=-1
-d=/storage/ntopng
-G=/var/run/ntopng.pid
-i zc:enp4s0f0
-x 512000
-X 512000

I don't show any dropped packets, it just shows 0 PKTS,
the network interfaces realtime traffic doesn't match what is on the port though either.

[2016-09-16 16:43] GerogeW commented on #743
![capture](https://cloud.githubusercontent.com/assets/22206504/18593469/c4e76564-7bf8-11e6-8452-f147c9306c4f.PNG)
![capture2](https://cloud.githubusercontent.com/assets/22206504/18593497/e30be628-7bf8-11e6-9189-666eb4b2ef57.PNG)
![capture3](https://cloud.githubusercontent.com/assets/22206504/18593780/38d7ab04-7bfa-11e6-9aee-eb9eba27ad50.png)
The top pictures are when i use
-i zc:enp4s0f0@0
-i zc:e

[2016-09-16 17:21] 06chaynes commented on #749
I was using nDPI version 1.8, needed 1.8_1. That fixed the issue, thanks for the help!

[2016-09-16 19:40] njcwotx commented on #741
my reposoitory pointed to the /centos-stable folder and updating the ntopng-2.4.160913-1307.x86_64.rpm via yum update did not work and subsequent restart took 90 minutes.  I found the /rpm7 folder with ntopng-2.5.160916-1560.x86_64.rpm package and used this version manually and the db schema update did not reoccur.

Thanks for fixing this up.

[2016-09-17 07:12] Niko78 opened #751 "ntop crash with a segfault"
I have 3 servers and all crashes each day with this output log

Sep 17 00:59:01 ntop-racine CRON[29793]: (root) CMD (python /var/ntop/utils/scheduler.py > /dev/null 2>&1)
Sep 17 01:00:01 ntop-racine kernel: [1337189.515687] ntopng[21820]: segfault at a0 ip 00007f3509c31ff1 sp 00007f34e2ffc0a0 error 4 in libmysqlclient.so.20.3.2[7f3509bff000+392000]
Sep 17 01:00:01 ntop-racine CRON[30063]: (root) C

[2016-09-17 08:16] lucaderi commented on #751
packages are being rebuild. Reopen if necessary

[2016-09-17 08:16] #751 closed, assigned to nobody

[2016-09-17 09:09] simonemainardi commented on #680
@Alestor crash should be fixed, packages are being rebuilt. Try again tomorrow.

[2016-09-17 14:21] emanuele-f commented on #740
@Niko78 local users activity logging to disk is now disabled by default. Moreover, activity timeseries frequency has been reduced from 1 minute to 5 minutes.
This should drastically reduce disk activity on big networks like yours. Please checkout latest code and report your results.

Note: Activity logging preferences can be specified through the "On-Disk Timeseries" tab.

[2016-09-17 15:36] Niko78 opened #753 "graphs layout ?"
I don't understand how work graphs layout on the main page
sometimes some graphs are reduce vs others (I mean graphs width), is there any reason ? is it dynamic ?

I use firefox
see below
![ntop1](https://cloud.githubusercontent.com/assets/17108017/18609223/35a83e04-7cfd-11e6-89a3-8fb378363154.png)
![ntop2](https://cloud.githubusercontent.com/assets/17108017/18609222/354ad1a6-7cfd-11e6-9bf6-516aa9

[2016-09-17 15:43] colinvv2 commented on #741
simonemainardi,
Since the last upgrade, my ntopng has stopped running twice on it's own. Last night at exactly 1:00am and the night before at exactly 1:00am. Strange??? I will post log to new ticket.

[2016-09-17 15:49] colinvv2 opened #754 "ntopng crashing each night at exactly 1:00am"
Not sure why, but after my last release upgrade to '2.4.160913-1653', the ntopng service is just stopping with no specific error. See log: [ntopng.txt](https://github.com/ntop/ntopng/files/478237/ntopng.txt)

[2016-09-17 17:03] lucaderi commented on #754
Duplicate of https://github.com/ntop/ntopng/issues/751

[2016-09-17 17:03] #754 closed, assigned to nobody

[2016-09-17 20:03] colinvv2 commented on #751
So if you are preparing a solution for this problem, maybe by rebuilding the packages for a release upgrade, this ticket should remain 'open'? That would help cut down on the duplication of 'like' tickets. Also, please be sure to post when we can expect to see an updated package release.

[2016-09-17 21:32] colinvv2 commented on #751
I just upgraded to latest stable package release...
Get:1 http://www.nmon.net/apt-stable/14.04/ x64/ ntopng 2.4.160917-1671 [4,174 kB]
Get:2 http://www.nmon.net/apt-stable/14.04/ x64/ nprobe 7.4.160917-5333 [1,136 kB]
Get:3 http://www.nmon.net/apt-stable/14.04/ x64/ n2disk 2.6.160917-4666 [961 kB]
Get:4 http://www.nmon.net/apt-stable/14.04/ x64/ pfring 6.4.1-829 [1,475 kB]
Get:5 http://www.nmon.ne

[2016-09-18 08:06] lucaderi commented on #751
You are using outdated packages configuration. Please use http://packages.ntop.org/apt-stable/ for instructions.
I confirm you the bug is fixed in both the dev and stable (https://github.com/ntop/ntopng/commit/98ee891ed1bff3c11be3922a93c03f62619b8d6a)

[2016-09-18 15:48] simonemainardi commented on #753
that's a FF issue. Use chrome until it's fixed

[2016-09-19 07:40] simonemainardi commented on #741
colin this has been fixed. see #751

[2016-09-19 08:55] Niko78 commented on #740
@emanuele-f I can confirm now it is fixed
I let it disabled on my side, now I have only few KB written on disk
thanks

[2016-09-19 14:06] tiitba commented on #713
ok thanks, i will work in your solution and then i will tell about result that i obtained.

[2016-09-19 15:27] Niko78 opened #755 "FR: host activity colors"
I think activity color is great but
1) colors are pretty closed, better to put different colors
2) changes between colors should be larger, right now it is 10 per 10... it's not effective in real environement

thanks

Nicolas

[2016-09-19 19:16] tiitba commented on #713
hi, here is the config that i use conform with your intructions:
**nprobe config:**
nprobe -G -i eth0 -n none -3 2056 --zmq tcp://10.1.0.26:5556
nprobe -G -i eth0 -n none -3 2057 --zmq tcp://10.1.0.26:5557

**ntopng config:**
/etc/ntopng/ntopng.conf
-G=/var/run/ntopng.pid
--online-license-check
--local-networks="10.0.0.0/16, 10.2.0.0/16, 10.1.0.0/16, 10.1.1.0/24, 10.7.0.0/16, 172.17.0.0/16"
--inte

[2016-09-19 19:37] GerogeW opened #756 "dropped packets"
I have about 2.5G of traffic on a 10G interface.  I have ZC enabled i believe.
I have about 13% packet loss.
below is my ntopng.conf

-w=3000
-W=0
-g=-1
-d=/storage/ntopng
-G=/var/run/ntopng.pid
-i=enp4s0f0
-x 512000
-X 512000
-m "local subnets"

Can anyone provide guidance on getting rid of the dropped packets?

[2016-09-20 05:24] Alestor commented on #680
@simonemainardi ntopng running stable now for over 24hours, thanks.

[2016-09-20 12:43] simonemainardi commented on #756
I am not sure why you are ignoring the replies given to your previous issue: https://github.com/ntop/ntopng/issues/743

We have already explained you how to use PF_RING in ZC mode and how to configure RSS. And indeed, by properly configuring ntopng you confirmed that

[2016-09-20 12:44] #756 closed, assigned to nobody

[2016-09-20 12:52] GerogeW commented on #743
My apologies, I thought you were not responding tot his issue when it was marked as closed.  that was why i opened new thread.  I still have issue when use config -i=zc:enp4s0f0
my utilization is not correctly being displayed at the bottom of page.
it only seems correct when using -i=enp4s0f0

[2016-09-20 12:54] simonemainardi commented on #713
Hi, see below,

On Mon, Sep 19, 2016 at 9:16 PM, tiitba notifications@github.com wrote:

defaults should be ok so you shouldn't have to tune them. However, you may
want to increase ntopng flow idle timeout to 240 seconds (you can do this
from ntopng preferences pane)

make sure max-num-flows and max-num-hosts are are much greater than the
actual number of flows and hosts.

yes

[2016-09-20 12:58] simonemainardi commented on #743
You said you have loaded PF_RING ZC with 16 RSS queues. So you need to add 16 interfaces to ntopng if you want to capture all the traffic (that is, interfaces `zc:enp4s0f0@0` to `zc:enp4s0f0@15`)

Remember that `-i=zc:enp4s0f0` is equal to `-i=zc:enp4s0f0@0` so you were just capturing from one queue.

As a bottom line: make sure to have as many ntopng interfaces as the actual number of RSS queues.

[2016-09-20 21:40] edrozenberg opened #757 "Unable to customize main top left logo"
Based on scripts/lua/inc/menu.lua I created a custom_logo.jpg in the img directory but it is not used in the top left logo position.

The logo appears to be hardcoded svg code in scripts/lua/modules/lua_utils.lua. I was trying to use a flat simple ntop logo instead of the standard 3d'ish logo which is out of fashion these days :).

[2016-09-20 23:07] simonemainardi commented on #757
Please attach the new logo you have designed so we can consider it for inclusion.

Also remember that stripping the logo as well as hiding the copyright notice determines a license infringement. See sections 4 and 5 of the license:

[2016-09-21 03:00] edrozenberg commented on #757
Thank you Simone, I’m not interested in any License Infringement.

Here are the logo ideas I was thinking of. I’m not an artist and don’t
know what font you use for your logos. I can also just export
the svg and hard code it into the lua file myself. It would just be
easier if your app allowed a custom logo to be added in a simple
way.

https://cloud.githubusercontent.com/assets/2648417/18696316/e

[2016-09-21 08:13] simonemainardi commented on #757
Thanks for submitting, however you should use the official font VAG Rounded.

Please, feel free to reopen or create a pull request if you redesign the logos.

[2016-09-21 08:13] #757 closed, assigned to nobody

[2016-09-21 08:28] Niko78 opened #758 "FR: better dropped flows display"
in the main page when we have dropped flows, it is a count... and sometimes it can be scary cause it is red and count can be big
the same in interface page.

I suggest to switch counter:
1) in percentage
2) change color because by example 0.5% should not be red, there should be levels in colors

![dropped flows1](https://cloud.githubusercontent.com/assets/17108017/18703435/2742adfe-7fe6-11e6-9158-

[2016-09-21 09:55] emanuele-f commented on #740
Thank you.

[2016-09-21 19:39] njcwotx opened #759 "searching historical flows with wildcards in hostname."
I am on a virus hunt.  I have a case I need to search a historical flow from 12 days ago.  I have some limited info and I think I could find it if I could narrow down my search.

For example:
I got an email from my isp upstream they detected zeus from
Destination IP: 82.x.x.26
destination port: 80

Naturally, getting any more information is unavailable.

Maybe even queries to the mysql database mi

[2016-09-21 20:54] njcwotx commented on #759
I got my local DBA to give me a hand.  We got a query started  to see if we can find the flow....Ill post what we did if it works

[2016-09-22 05:43] davewkzn commented on #714
Good day Simone.

How are you keeping?

I appreciate your feedback but the changes that you made have sadly made no difference. As mentioned before, the issues are still as follows - please may I ask for your urgent assistance?

1.) Traffic Profiles are still not showing any matched traffic.
Ntopng is not showing any SMTP or POP3 traffic in the "Traffic Profiles" page:
![profiles](https://cloud.gi

[2016-09-22 07:55] Niko78 commented on #625
it's still there for me
![negative values](https://cloud.githubusercontent.com/assets/17108017/18740560/99a60124-80aa-11e6-971d-c583ddf59f29.png)

ntopng 2.5.160917 - Pro Small Business Edition

[2016-09-23 13:21] tman24 opened #760 "Very high packet loss on previously working system"
Recent ntopng + pfring upgrades are now causing extremely high packet loss on interfaces that were working fine about 2 weeks ago. I'm monitoring 4 interfaces, eth0 being the busiest, but that doesn't usually go higher than 100Mb/s. This has never happened before like this. Strangely, the other 3 interfaces being monitored (much lighter use) show normal traffic.

I did have some problems upgrading

[2016-09-23 15:35] jbeney commented on #482
Hi Simone,

We upgraded ntop to release 2.4 in order to have the historical top talkers feature.
Can you explain me how to obtain it on the GUI ?
All we have right now is the Top hosts but we can't change the timeframe :

![top_hosts](https://cloud.githubusercontent.com/assets/18396402/18791877/b64449fc-81b4-11e6-9d03-62f5d40b2d72.jpg)

From the Hosts tab, I can obtain the top peers for a specific

[2016-09-23 19:25] edrozenberg opened #761 "Sorting of small number of hosts does only sorts within that set"
ntop 2.2 running within pfSense firewall (haven't checked yet if issue is still there with 2.4).

Went to Host -> Hosts. Only shows 10 hosts by default even though title of page is All Hosts - should at least indicate 1-10 in the title. Clicked to sort by Traffic and it only sorted those 10 rows - misleading the user into thinking that's all there is to see.

Had to click on 200 (then it shows onl

[2016-09-26 01:39] tardoe opened #762 "License suddenly not recognised"
We have booted up our NTopNG VM again to find that our NTop license seems not to work anymore.

We get this in the log file:

23/Sep/2016 15:15:25 [NtopPro.cpp:122] [LICENSE] Reading license from /etc/ntopng.license
23/Sep/2016 15:15:25 [NtopPro.cpp:120] [LICENSE] Read license from Redis [######]
23/Sep/2016 15:15:25 [NtopPro.cpp:172] ERROR: [LICENSE] Invalid or missing ntopng License [License mis

[2016-09-26 07:20] lucadistefano opened #763 "after upgrade configuration get lost"
after upgrading to latest ntopng all settings (retentions, profiles) are resetted to default

[2016-09-26 07:22] lucadistefano opened #764 "again flow details not shown in historical data"
if you query historical data and navigate through 'info' button on flow, the flow details are shown as raw json

![selection_471](https://cloud.githubusercontent.com/assets/1080723/18825869/aab816fa-83ca-11e6-8991-7ceb11bf1b8f.png)
![selection_470](https://cloud.githubusercontent.com/assets/1080723/18825871/acfc8626-83ca-11e6-96d9-d678bb54980f.png)

[2016-09-26 07:24] lucadistefano opened #765 "navigating back from flow info query is re-executed on db"
when you press the back arrow from info page of flow in historical data, the originating query is reexecuted instead to show the previous result.

![selection_470](https://cloud.githubusercontent.com/assets/1080723/18825897/d511e5ca-83ca-11e6-9b40-7fa75f7ffd6a.png)

[2016-09-26 09:07] simonemainardi commented on #761
@edrozenberg that issue has already been sorted out in 2.4. Please, update.

[2016-09-26 09:07] #761 closed, assigned to nobody

[2016-09-26 09:38] simonemainardi commented on #762
Please, check you VM hypervisor. It may have changed vm emulated HW (e.g., card mac address). HW changes could invalidate the license. Add option `--online-license-check` to solve.

[2016-09-26 09:56] simonemainardi commented on #763
ntopng never (ever) touches the settings during upgrades. Did the upgrade involve other packages in the system? Check the system logs. Maybe some other package cleared/reset the redis database. Please check that and report.

Also did you know that you can protect redis access with a password? We have added this feature to ntopng. This will protect unauthorized `redis-cli` accesses.

[2016-09-26 10:04] simonemainardi commented on #760
if you comment out the `--packet-filter` option, do you still get an high packet loss?

[2016-09-26 10:29] simonemainardi commented on #482
Hi, to have the historical top talkers you just have to enable MySQL flows export (-F). The tab 'Top talkers' will start popping out automatically together with a new menu entry 'Historical Data Explorer'. Please remember that those mentioned are pro-only features.

[2016-09-26 12:17] tman24 commented on #760
No change when removing the --packet-filter option. Packet loss now showing in the range of 98% on this one interface. Could it actually be PFRING causing the problem? Updating from nightly ntopng builds _without_ also updating pfring is difficult because of the dependancies. I wanted to go back and try 6.4.1, which seems to be the current 'stable' version.

[2016-09-26 12:21] tman24 commented on #760
I also tried building a pf_ring enabled version of tcpdump/libpcap. If I run tcpdump on eth0, I can still see dropped packets. A 2 minute capture on eth0 showed;

17275 packets captured
17275 packets received by filter
520128 packets dropped by kernel

So, this tells me it's either the nic, cabling or pf_ring. I tried a different cable direct to the mirror port, but no change at all.

[2016-09-26 12:31] cardigliano commented on #760
Please try with pfcount -i ethX and show us the output (a few lines).

[2016-09-26 12:41] tman24 commented on #760
Here you go

[root@ntopng network-scripts]# pfcount -i eth0
Using PF_RING v.6.5.0
Capturing from eth0 [mac: 00:04:23:B7:28:2E][if_index: 12][speed: 100Mb/s]

# Device RX channels: 1

# Polling threads:    1

# Dumping statistics on /proc/net/pf_ring/stats/17290-eth0.79

Absolute Stats: [6'840 pkts total][0 pkts dropped][0.0% dropped]

# [6'840 pkts rcvd][5'063'350 bytes rcvd]

#

Absolute Stats: [

[2016-09-26 12:42] tman24 commented on #760
Sorry about the font there. Not sure what happened.

[2016-09-26 13:11] simonemainardi commented on #760
@tman24 any chance you can give us remote SSH access to the box? Please send the credential to mainardi ntop org

[2016-09-26 15:47] tman24 commented on #760
Yeah, that might be difficult. We're a secure site, and that would break a whole load of rules.

[2016-09-26 15:57] jbeney commented on #482
Thank you, I now have the Top Local Talkers :

[cid:image001.png@01D2181F.60D68510]

But I don’t find the Historical Data Explorer. Where can I find it ??

Thanks

Jonathan Béney
Ingénieur Intégration
Pôle Réseaux & Communications Unifiées

T : +33 4 26 20 95 24
M : +33 6 29 49 28 65
Exaprobe
Agence de Lyon : 13 B avenue Albert Einstein  - CS90217 - 69623 Villeurbanne Cedex
email : jbeney@exaprobe

[2016-09-26 16:29] simonemainardi commented on #714
I checked again (for the second time) your system. I can confirm that everything works as expected. I also used tcpdump with the same traffic profiles: not POP3 or SMTP is detected neither by ntopng or by tcpdump.

I checked interfaces configuration and the routing table: it turned out that you assigned IP addresses to the interfaces p1p1 and p1p2 and, in addition, you also configured routes for p

[2016-09-26 16:35] simonemainardi commented on #760
so there are some additional things to try:
1. use ntopng sable (v 2.4.x)
2. check system load: do you see the ntopng process that is eating up one or more cores? This may help in determining if there's a loop
3. check io (`iotop`)
4. attach gdb to the running ntopng process and see (info threads) if there's a thread stuck in a particular function
5. use `strace` and see if there is some unexpecte

[2016-09-26 16:51] simonemainardi commented on #482
your attachment is missing. However, keep in mind that top local talkers are not connected with the 'historical data explorer'.

Did you enable MySQL using switch -F properly configured? If yes, then the 'historical data explorer' will come out under the home button.

![image](https://cloud.githubusercontent.com/assets/3397663/18843653/386e3f5c-841a-11e6-8387-2493b204a552.png)

[2016-09-26 17:30] simonemainardi commented on #764
fixed. packages are being rebuilt. thank you.

[2016-09-26 17:30] #764 closed, assigned to nobody

[2016-09-27 06:10] davewkzn commented on #714
Good morning Simone,

Thank you for your reply.

I appreciate your assistance.

[root@mail log]# tcpdump -i p1p1 port 25 -n
tcpdump: verbose output suppressed, use -v or -vv for full protocol decode
listening on p1p1, link-type EN10MB (Ethernet), capture size 65535 bytes
07:56:42.907476 IP 41.216.129.159.4271 > 10.0.2.2.smtp: Flags [S], seq 3052841299, win 5840, options [mss 1460,sackOK,TS val 828

[2016-09-27 07:09] lucaderi commented on #748
@aouinizied What you want to do is not supported. You should use in you probe the nDPI protocol numbers. So if you want to send BitTorrent you should not use  ID 7 but 37
#define NDPI_PROTOCOL_HTTP                  7
#define NDPI_PROTOCOL_BITTORRENT            37

[2016-09-27 07:09] #748 closed, assigned to nobody

[2016-09-27 07:10] lucaderi commented on #759
You need to use -F, dumps flows on a MySQL then use the historical flow search to extract all you are looking for

[2016-09-27 07:10] #759 closed, assigned to nobody

[2016-09-27 07:11] lucaderi commented on #739
Working for me, will reopen if @brunoaraujocosta is able to reproduce it

[2016-09-27 07:11] #739 closed, assigned to lucaderi

[2016-09-27 07:12] lucaderi commented on #746
Closed for inactivity. Will reopen if necessary

[2016-09-27 07:12] #746 closed, assigned to nobody

[2016-09-27 07:52] simonemainardi commented on #714
Hi, see below,

On Tue, Sep 27, 2016 at 8:10 AM, davewkzn notifications@github.com wrote:

if p1p1 is the default GW, this means that it can send also traffic coming
from interfaces different that p1p2 as well as from the host.

The bridge you have set up with ntopng is between p1p1 and p1p2. That is,
if a packet enters p1p2 ntopng forwards it to p1p1. If a packet enters
p1p1, ntopng forwards it t

[2016-09-27 09:35] tman24 commented on #760
I've now switched from the ntop-dev to ntop-stable repo, uninstalled both ntopng and pfring, then re-installed both stable versions. I've kept the same conf file/data folder. Redis-server was left as is.

Result - now working fine again. Looking at the interface stats, ntop shows (after a few minutes) 10m packets captured, 0 dropped on the main interface. I'll probably stay on stable for the time

[2016-09-27 11:20] jbeney commented on #482
Hi Simone,

Yes I started ntop with the –F option :

sudo ntopng -i eth0 -F "mysql;localhost;ntopng;flows;root"

But I don’t have the Historical Data Explorer menu :

[cid:image001.png@01D218B2.23BE3900]

Any idea why ?

Thanks,

Jonathan Béney
Ingénieur Intégration
Pôle Réseaux & Communications Unifiées

T : +33 4 26 20 95 24
M : +33 6 29 49 28 65
Exaprobe
Agence de Lyon : 13 B avenue Albert Eins

[2016-09-27 11:46] jbeney commented on #482
Simone,

I was able to see the Historical data explorer object by using http://IP:3000 default port

[cid:image001.png@01D218C5.8C6AD040]

But now I don’t receive  any traffic on the web interface.

How can I specify the port by command line as I do it with the web interface :

[cid:image004.png@01D218C5.8C6AD040]
Thanks

Jonathan Béney
Ingénieur Intégration
Pôle Réseaux & Communications Unifiées

[2016-09-27 12:24] simonemainardi commented on #482
there are no attachments so I cannot see the pics. Please use plain text or make sure to attach the images.

[2016-09-27 12:43] jbeney commented on #482
Simone,

I was able to see the Historical data explorer object by using http://IP:3000 default port

![screen1](https://cloud.githubusercontent.com/assets/18396402/18873624/a210fb4c-84c0-11e6-9d04-aafa21cf53ef.jpg)

But now I don’t receive  any traffic on the web interface.

How can I specify the port by command line as I do it with the web interface :

![screen2](https://cloud.githubusercontent.c

[2016-09-27 12:54] simonemainardi commented on #482
it is ok to specify tcp://127.0.0.1:5556 as the ntopng collector endpoint. but you also have to tell nprobe to allow flow collection. Set this in the nprobe configuration page (I'm assuming nprobe and ntopng are on the same box)

![image](https://cloud.githubusercontent.com/assets/3397663/18874495/4194db56-84c2-11e6-8eda-b868690225bf.png)

[2016-09-27 14:08] nate-byrnes opened #766 "Historic data just stopped accumulating"
In short, ntopng, after running for a period of time, stops recording historical data. I can leave it in its present not recording data state for someone to take a look at it if that is useful, but I'd like to get back to recording data soon.

By historic data I am specifically referring to the chart of bandwidth history for any host that is reached by clicking on this icon:
![shot-2016-09-27_15-3

[2016-09-27 14:15] nate-byrnes commented on #766
I am running ntopng Pro [Small Business Edition] v.2.5.160822. Remote access is available under the same credentials last shared with @simonemainardi

I'm happy to provide more information. Please just let me know what is needed.

Here is the corresponding free space of the filesystem ntopng is writing to over the same timeperiod illustrated above.

![shot-2016-09-27_10-10-52](https://cloud.github

[2016-09-27 15:57] jbeney commented on #482
Hi Simone,

I’m following up on John’s request here.

We had indeed set the ZeroMQ Endpoint in nprobe configuration and the Collector Endpoint in ntopng :

Nprobe :
[cid:image001.png@01D218E5.4652E1E0]
Ntopng :
[cid:image002.png@01D218E8.8D355E50]

However, we are starting ntopng through CLI, with the following command, in order to set the My SQL database :
sudo ntopng -i eth0 -F "mysql;localhost;

[2016-09-27 16:49] davewkzn commented on #714
Thank you Simone.

I appreciate your feedback.
Based on your responses - it sounds like ntopng's "bridging" functionality does actually create an actual layer-2 Ethernet bridge. Is that correct?

is the world's leader in email security and is your best bet against email-based malware and ransomware.

Kind regards,

David Wilson
CNS, CLS, LINUX+, CLA, DCTS, LPIC3, RHCSA
LinuxTech CC t/a DcData
CK n

[2016-09-27 17:18] lucaderi commented on #760
@tman24 @emanuele-f We believe the issue is caused by the host activities calculation. @simonemainardi made a change that activities are disabled (this for the time being until we fix this issue properly) unless you add --enable-flow-activity to the ntopng command line.

[2016-09-27 17:21] lucaderi commented on #760
@emanuele-f The performance hog is caused by flow->invokeActivityFilter() (in NetworkInterface::processPacket()) that is called for every packet of the flow. I believe you should make a change in your activity code so that the flow moving averages are NOT computed more than once a second, so that we can have a worst case in our code. Can you implement this please?

[2016-09-27 17:26] simonemainardi commented on #714
On Tue, Sep 27, 2016 at 6:49 PM, davewkzn notifications@github.com wrote:

correct

[2016-09-27 17:44] emanuele-f commented on #760
@tman24 sorry for the incident. Please checkout new code and report us if the problem is solved. I'll be working to improve activity detection performance.

[2016-09-28 05:41] Niko78 opened #767 "crash in going flows tab"
just upgraded to the latest available build and now flows tab is empty (flows_stats.lua)
=> no result found

it seems ntop crashes in going in this tab

[2016-09-28 05:48] Niko78 commented on #767
got it

...
28/Sep/2016 07:46:00 [CollectorInterface.cpp:111] Collecting flows on tcp://192.168.6.35:5556
[New Thread 0x7fffbeffd700 (LWP 15974)]
[New Thread 0x7fffbe7fc700 (LWP 15975)]

Thread 8 "ntopng" received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fffd77fe700 (LWP 15963)]
lh_char_hash (k=0x0) at linkhash.c:47
47      linkhash.c: Aucun fichier ou dossier de ce type.
...

[2016-09-28 08:41] tman24 commented on #760
Thanks for the update. I'll add that when this was happening there was no observed increase in CPU or disk I/O. Memory usage was actually _lower_ than usual as well. If this 'performance hog' was causing the issue, it wasn't showing in the system stats. I'm assuming the flow -> invokeActivityFilter() thread is the one that pulls the packets off the wire from the ring buffer. Even eth0 (the main in

[2016-09-28 08:52] lucaderi commented on #760
@tman24 Please be tempted as this way you will help us with debuggin

[2016-09-28 09:02] davewkzn commented on #714
Thank you Simone.

I appreciate you clarifying this and we will modify our client's setup accordingly.

Perhaps we missed it in the Ntopng User Manual. Is it explained in the User Manual or other documentation?

On 27 September 2016 7:26:31 PM SAST, simonemainardi notifications@github.com wrote:

##

Kind Regards,
David Wilson
DcData
0333446100
0824147413

[2016-09-28 09:15] simonemainardi commented on #767
thanks @emanuele-f

[2016-09-28 09:15] #767 closed, assigned to nobody

[2016-09-28 09:24] simonemainardi commented on #482
you started ntopng on interface eth0 while you actually want to receive zmq data. please refer to the manual. you should use an interface such as -i tcp://.....

see this for the conf.
http://www.ntop.org/ntopng/creating-a-hierarchical-cluster-of-ntopng-instances/

[2016-09-29 08:15] sirajkrm opened #769 "issue while installing"
Hi
when i try to install ntop on CentOS 7 (with french language )
this error appears :
[windeco@localhost NtopFiles]$ cd ntopng/
[windeco@localhost ntopng]$ ./autogen.sh
Wait please...

Now run ./configure
[windeco@localhost ntopng]$ ./configure
checking for gcc... gcc
checking whether the C compiler works... yes
checking for C compiler default output file name... a.out
checking for suffix of exec

[2016-09-29 09:45] simonemainardi commented on #769
it looks like autoconf failed to substitute @SSL_INC@ with the actual include.  Substitution is clearly done here: https://github.com/ntop/ntopng/blob/dev/configure.seed#L441 so please make sure your sources are up-to-date with the dev branch

[2016-09-29 09:51] sirajkrm commented on #769
hi
thank you your response :)
so i should modify the file configure.seed
copy and paste right ?!

[2016-09-29 10:01] sirajkrm commented on #769
ok i updated ntop
here's the result :
...
checking for nfq_create_queue in -lnetfilter_queue... no
checking for nfq_set_verdict2... no
checking for ldap_initialize in -lldap... no
checking for nl_handle_alloc in -lnl... no
checking for clock_gettime in -lrt... no
checking for zlibVersion in -lz... no
checking for dlopen in -ldl... no
checking for curl_easy_perform in -lcurl... no
Please install li

[2016-09-29 10:19] simonemainardi commented on #769
the problem (that occurs only on Centos7) is due to the `-lpfring` in the `LDFLAGS`:

[code]

Indeed, if I manually strip `-lpfring` from the LDFLAGS right before the curl check, then the check completes with success.

I guess `-lpfring` should be added to the `LIBS` and not to the `LDFLAGS` as done here: https://github.com/ntop/ntopng/blob/dev/configure.seed#L211

@lucaderi , who takes care of th

[2016-09-29 10:23] sirajkrm commented on #769
so.. should i modify configure.seed (L211) to fix it or what ?

[2016-09-29 10:27] sirajkrm commented on #769
i checked configure.seed
LDFLAGS="${LDFLAGS} -lpfring"
line does existe

[2016-09-29 10:29] simonemainardi commented on #769
it doesn't exists because it's generated at runtime. Remove this line https://github.com/ntop/ntopng/blob/dev/configure.seed#L211 and see. If the linking fails, then wait for the fix or submit a pull request with the fix. thank you

[2016-09-29 10:37] sirajkrm commented on #769
it did fix it by removing that line
big thank's ^^
but..
i got this now :
(.text+0x2469): référence indéfinie vers « pfring_set_direction »
/usr/local/lib/libpcap.a(pcap-linux.o): dans la fonction « pcap_setdirection_linux »:
(.text+0x2478): référence indéfinie vers « pfring_set_direction »
/usr/local/lib/libpcap.a(pcap-linux.o): dans la fonction « pcap_inject_linux »:
(.text+0x255b): référence in

[2016-09-29 10:47] simonemainardi commented on #766
@nate-byrnes first of all I have checked and  v.2.5.160822 may be affected by performance issues that we have recently solved. So first of all I would kindly suggest you to update to the latest version and repeat the monitoring.

In addition I noticed that you are running ntopng on top of KVM. So I think we should make sure that, during the large fluctuation periods shown, there are no other proce

[2016-09-29 10:58] sirajkrm commented on #769
ok
@lucaderi any help is very appreciated
@simonemainardi thank's a lot for help

[2016-09-29 11:27] lyycotsz opened #770 "Can't generate nprobe license"
I was trying to generate license with the link provided but got the following message: nProbe/Cento License Generator - The orderId you have specified is not valid.

I got orderIds for "nProbe Pro with Plugin Support [Linux/Win]" and "ntopng Pro Small Business Linux/Win (x64)". I generated license for ntopng sometime ago for a testing server and now want to add  nprobe but I couldn't generate lice

[2016-09-29 11:29] nate-byrnes commented on #766
OK, I'll upgrade. I am not actually running within kvm.... that's just the name of the server. This box was used for some experiments with kvm some time back, but, when I saw the resource needs of ntopng, I gave the whole server to ntop. Someday I'll probably even get around to renaming the server

[2016-09-29 11:34] simonemainardi commented on #770
- https://shop.ntop.org/mklicense/ for nProbe/cento licenses
- https://shop.ntop.org/mkntopng/ for ntopng licenses

[2016-09-29 15:31] m00tpoint opened #771 "[InterfaceStatsHash.cpp:162] WARNING: Internal error: too many devices 48"
Have a licensed copy of nprobe receiving sflow data. Device count yesterday was ~196. Running ntopng community edition. Added ~36 additional exporters. Total interface count is probably ~10K. Now receiving the following error every 5 minutes from ntopng:

[InterfaceStatsHash.cpp:162] WARNING: Internal error: too many devices 48

The GUI seems to be working fine, wondering what the error means, and

[2016-09-29 15:47] davewkzn commented on #714
Hi Simone,

I hope you are well.

I've removed the ntopng bridge and configured ntopng to monito the interfaces by specifying them in the configuration file. So far my monitoring is working much better  - thank you for your assistance!

From what I understand, I still need to enable ntopng's bridging functionality so that I can make use of ntopng's filtering and traffic management functionality.
U

[2016-09-29 16:07] simonemainardi commented on #714
On Thu, Sep 29, 2016 at 5:47 PM, davewkzn notifications@github.com wrote:

[2016-09-29 17:00] njcwotx opened #772 "Is there anyway to set ntopng to ignore the 802.1Q vlan tag header?"
I have a setup where we are using port-mirroring on the switch to feed ntopng.  ntopng is working fine, but my switch has an issue where the vendor will acknowledge the problem, but says its not going to fix.  On the port-miror port, its adding an errant 802.1Q vlan tag header on the outbound direction only.  On the actual port itself, there is no tagging, but on the port-mirror port outbound pack

[2016-09-29 17:04] #771 closed, assigned to nobody

[2016-09-29 17:05] simonemainardi commented on #771
hi, thanks for reporting. The one you reported is just a warning and does to break ntopng. However it shouldn't have been occurred as you are running in community mode.

Please, consider contacting us for an evaluation of the enterprise version of ntopng. In the enterprise version we are able to collect historical statistics for any exporter you have.

[2016-09-29 17:12] simonemainardi commented on #772
it's easy: forcefully set `vlan_id` at zero here:
- https://github.com/ntop/ntopng/blob/dev/src/NetworkInterface.cpp#L1407
- https://github.com/ntop/ntopng/blob/dev/src/NetworkInterface.cpp#L1493

recompile, and you're done.

[2016-09-29 17:12] #772 closed, assigned to nobody

[2016-09-29 17:14] simonemainardi commented on #763
@lucadistefano did you have a chance to investigate on this?

[2016-09-29 17:14] simonemainardi commented on #762
solution given. closing for inactivity.

[2016-09-29 17:14] #762 closed, assigned to nobody

[2016-09-29 17:17] simonemainardi commented on #760
I've had the chance to test the latest ntopng on another large deployment and I've to say that there are no longer performance issues. It's monitoring 2 PF_RING interfaces loaded with 400 and 300 Mpbs respectively. So I guess it is now safe to close the issue. I would encourage @tman24  to try the latest version and give us a feedback.

[2016-09-29 17:17] #760 closed, assigned to nobody

[2016-09-29 17:42] m00tpoint commented on #771
Thanks for the quick reply! Is the enterprise version different from the Small Business version that demo's for 10 minutes? My primary use case for the flow data is historical analysis rather than live "top talker" type use, which is most of what I see in the ntopng GUI. I'd like to be able to pull flow data based on device, and pull all flows involving a specific subnet, ideally automated reporti

[2016-09-29 17:42] #758 closed, assigned to nobody

[2016-09-29 17:42] simonemainardi commented on #740
Thanks for reporting.

[2016-09-29 17:42] #740 closed, assigned to nobody

[2016-09-30 06:23] lucadistefano commented on #763
redis is installed as dependency of ntopng. only ntopng uses redis. no
updates on redis was performed. 
This is the second time that the settings will be resetted after an
ntopng upgrade.
There is a log where I can check the access on redis?
Is possible that redis was down when ntopng started again after
upgrade?
There is no way to recover the configuration? A tool for import /
export settings jus

[2016-09-30 08:18] simonemainardi commented on #763
I would check the logs of your package manager to possibly see if other packages (e.g., a redis update) could have clreared the redis cache that stores ntopng configuration. Again you can check in the whole ntopng sources we never clear the cache.

That said I agree with you: an export button would be useful.

[2016-09-30 08:26] simonemainardi commented on #771
The enterprise version has an additional menu "Netflow Devices" that you can use to inspect and monitor not only the flows but also the devices that are sending them. This monitoring includes historical timeseries as well.

[2016-09-30 09:29] ossgeek opened #773 "TCP Packet analysis function is missing/not displayed"
Hello all
My ntopng instance (2.4.160917 - Pro Small Business Edition) with a valid license is running fine but I'm missing the TCP Packet analysis functions (Retransmissons/Out of Order/Lost). All other details about flows like Traffic sent/received etc. are present.

My ntopng runs on "CentOS Linux release 7.2.1511 (Core) ] - 64 bit" and the startup line is: ntopng --http-port "3000" --https-por

[2016-09-30 09:47] simonemainardi commented on #773
Attila,

add those guys to the nProbe template and you should be able to get that information in the flow details page:

[code]

[2016-09-30 12:11] ossgeek commented on #773
Hello Simone
Special thanks for your very quick response. I'll try to add such a template to nProbe and sorry for this RTFM-alike question. It seems that I've overseen this crucial part of the Ntop manual  ;-)

[2016-09-30 12:17] simonemainardi commented on #773
you will get TCP OOO/lost/retransmits out-of-the-box if you use ntopng to monitor a network interface. If you use that to collect nProbe data, then you have to add those fields to the template.

[2016-09-30 15:06] lucadistefano commented on #763
Hi simone,
the problem seems to be in redis  since long time ago (the first
occurrence is in July):
    [76350] 30 Sep 13:56:12 \* Server started, Redis version 2.4.10
    [76350] 30 Sep 13:56:12 # WARNING overcommit_memory is set to 0!
    Background save may fail under low memory condition. To fix this
    issue add 'vm.overcommit_memory = 1' to /etc/sysctl.conf and then
    reboot or run the co

[2016-09-30 15:24] simonemainardi commented on #763
Luca, thanks for reporting the condition that caused the issue.

[2016-09-30 15:24] #763 closed, assigned to nobody

[2016-10-01 21:36] pspikings commented on #343
I had this exact problem in Ubuntu (using the /etc/default/ntopng for config and listing the -B command in ADD_ARGS). It seems to be something to do with escaping quotes and/or spaces. After quite a bit of experimentation I gave up and put the -B command in /etc/init.d/ntopng instead in the start routine after $ARGS

[2016-10-03 11:54] dryaf opened #774 "raspberry pi 3 installation issues"
I'm running a fresh installed raspi 3 with
RASPBIAN JESSIE LITE 4.4

following the instructions on
http://packages.ntop.org/RaspberryPI/

[code]

result in these errors

[code]

s

[code]

[2016-10-03 15:21] apcastro opened #775 "User login not works"
I just installed ntopng with nbox few days ago, and when i enable user login autentication in nbox for ntopng, it seems bugged: the login button doesn't focus and can't login.

I look at the default password in the phisical machine where the system is installed with the command redis-cli and its ok.

PS: I have a 1 year license, and i wanna ask about SNMP but i dont know how can i do (in contact s

[2016-10-04 09:08] simonemainardi commented on #343
@pspikings please report the exact steps (include shell lines) that you did and that caused wrong BPF parsing

[2016-10-04 10:29] sirajkrm opened #776 "stuck in installation"
hi..
i'm still stuck while installing ntopng 2.5-dev
i'm running CentOS 7 64bit (french lang) on vSphere 5.5
while installing this error appears :

/home/windeco/Bureau/topFiles/ntopng/src/ZCCollectorInterface.cpp:47: référence indéfinie vers « pfring_zc_ipc_attach_queue »
/home/windeco/Bureau/topFiles/ntopng/src/ZCCollectorInterface.cpp:52: référence indéfinie vers « pfring_zc_ipc_attach_buffer_p

[2016-10-04 10:42] simonemainardi commented on #776
duplicate of #769

[2016-10-04 10:42] #776 closed, assigned to nobody

[2016-10-04 12:11] ssa5 commented on #775
I am having the same issue running on Oracle Linux 7.2. Just ran latest updates as of today, v2.4.160928-1308 and still can not login either. I am able to log into another server running v.2.4.160913. But 2 other servers I have tried that were updated more recently all have the same issue. So something between 913 to 928.

Update: Seems this only affects Google Chrome, but the behavior is not see

[2016-10-04 17:25] Bi7 commented on #774
I also have this problem

[2016-10-04 17:37] dryaf commented on #774
you need to install libcap and mysql-server by hand.
before. the installation readme isn't complete

[2016-10-05 09:16] alext234 opened #777 "reload hosts from mysql flow dump on startup"
I am running **ntopng** (built from source following the instruction) on my laptop and able to use the **-F** option to dump flows to MySQL database.

Now after running for a while a stop **ntopng** and then run again. Right then I am interested to explore the historical flow of a particular host but it is not on yet the '**All hosts'**. I know this host is already stored in MySQL database but how

[2016-10-05 09:48] simonemainardi commented on #777
use flag `-S` to make local hosts sticky. That way ntopng will dump/restore local hosts on shutdown/startup.

[2016-10-05 09:48] #777 closed, assigned to nobody

[2016-10-05 13:35] Alestor opened #778 "Segfault after upgrade to latest dev build (05 oct)"
Starting ntopng results in a segfault when using my default config:

ntopng /etc/ntopng/ntopng.conf
05/Oct/2016 15:28:27 [Ntop.cpp:1124] Setting local networks to 192.168.0.1/24,192.168.1.0/24,192.168.3.0/24,192.168.4.0/24,192.168.8.0/24,192.168.10.0/24,172.16.2.0/24,172.16.3.0/24,172.16.4.0/24,172.16.20.0/24
05/Oct/2016 15:28:27 [Redis.cpp:103] Successfully connected to redis 127.0.0.1:6379@0
05/

[2016-10-05 15:28] alv91 commented on #775
Same:
GIT rev:   2.4-stable:98ee891ed1bff3c11be3922a93c03f62619b8d6a:20161004
Built on:  Debian GNU/Linux 7.10 (wheezy)

Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.101 Safari/537.36

[2016-10-05 17:28] Alestor commented on #680
Ok, the Issue on the SQL Queries at the historical data explorer is my own bad - using Apache proxy for ssl and didn't take the timeout of that into Account - sorry about that!

Anyway when creating Reports (yes they don't rely on the SQL Queries like historical data explorer ;-) ) for 30Days I get the following Error message:

[Lua.cpp:5134] WARNING: Script failure [/usr/share/ntopng/scripts/lua/

[2016-10-05 18:15] b0ns commented on #778
I Confirm same behavior.
Segfault started when using the "--sticky-hosts local"

Package details:
`ntopng Pro [Small Business Edition] v.2.5.161004`

System details:
`Linux host 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt25-2+deb8u3 (2016-07-02) x86_64 GNU/Linux
Jessie 8.5`

Procedure to reproduce:
- Start with flushed redis
- Start ntopng normally (without any sticky option)
- Stop ntopng
- Start nto

[2016-10-06 01:45] alext234 commented on #777
I have segmentation fault with the following syntax. I did not happen before trying the -S option

_sudo ./ntopng -d /media/u/ntopngdata --user u -F "mysql;localhost;ntopng;flows;root;u" -S remote -D all_

[2016-10-06 02:11] alext234 commented on #778
I think i have the same problem. Using gdb with the dump file shows the location of seg fault:

Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x00000000004951a8 in Utils::macHash (mac=0x0) at src/Utils.cpp:1599
1599        hash += mac[i] << (i+1);
[Current thread is 1 (Thread 0x7f921a43b900 (LWP 4567))]

[2016-10-06 06:57] alext234 commented on #777
Anyway, i tried the 2.4-stable branch with -S option and realize this still does not solve the issue (i.e. persistent storage of host information). It seems someone else encountered this issue before:

http://lists.ntop.org/pipermail/ntop/2015-March/018355.html

Is this the intended restriction for community/opensource version?

[2016-10-06 09:06] lucaderi commented on #778
@alext234 Can you please send a longer trace log (I mean the backtrace)?

[2016-10-06 09:07] #770 closed, assigned to nobody

[2016-10-06 09:15] simonemainardi commented on #777
@alext234 correct, the feature comes in in version 2.5. Please follow up in the other issue we are trying to solve the crash.

[2016-10-06 09:25] simonemainardi commented on #778
I can confirm it is fixed on my side

[2016-10-06 09:27] alext234 commented on #778
unable to reproduce for now as I have been playing with _stable-2.4_ branch and it does not happen when i switch back to _dev_ branch.
unfortunately I forget to keep the core dump file i had this morning. Will update if it happen again.

[2016-10-06 09:37] lucaderi commented on #778
Bug fixed. Packages are being rebuilt and will be available within 30 mins

[2016-10-06 09:37] #778 closed, assigned to nobody

[2016-10-06 09:41] tomlabaude commented on #775
There's a javacript error on Chrome (macOS & Android) as soon as a 2nd character is entered in password form:

validator.js:83 points on el.checkValidity()

Looks like the regex pattern used in various Lua scripts is not accepted:
Ex in ntopng/scripts/lua/login.lua:

[code]

[2016-10-06 10:08] simonemainardi commented on #775
Can you guys check if the problem occurs with version 2.5? That version contains a fix which can solve the problem: See https://github.com/ntop/ntopng/issues/700  and https://github.com/ntop/ntopng/commit/55d8658046a41dd308f3179bb0068483683a580d

[2016-10-06 10:09] #773 closed, assigned to nobody

[2016-10-06 10:10] simonemainardi commented on #766
@nate-byrnes I was wondering if you've had a chance to try the latest version... doest data keep stopping to accumulate?

[2016-10-06 10:27] alv91 commented on #775
I changed adhoc in scripts/lua/login.lua and now after POST moving to http://example.com:3000/lua/login.lua?referer=/authorize.html but not log in.

[2016-10-06 11:04] simonemainardi commented on #775
as you can see commit https://github.com/ntop/ntopng/commit/55d8658046a41dd308f3179bb0068483683a580d involves multiple files. You should try version 2.5

[2016-10-06 11:09] apcastro commented on #775
@simonemainardi @tomlabaude @alv91 I test it in IE on Windows and chrome in Ubuntu, and the login works. I change the lines in the files explained in https://github.com/ntop/ntopng/commit/55d8658046a41dd308f3179bb0068483683a580d

Now i have my ntopng working perfectly!!

Lot of thanks guys 😄

[2016-10-06 11:21] alv91 commented on #775
@simonemainardi The problem was with the already added password in database. Now i can log in, thanks.

[2016-10-06 12:19] simonemainardi commented on #775
thanks for reporting guys!

[2016-10-06 12:19] #775 closed, assigned to nobody

[2016-10-06 13:43] nate-byrnes commented on #766
Hi @simonemainardi, https://github.com/simonemainardi

[code]

using apt-get to upgrade via packages.ntop.org). Since the upgrade I
have not lost any historical data (uptime 7 days so far). However, the
initial stoppage of historical data recording didn't take place until
the system was running for 28-29 days. The subsequent stoppage after
restarting the service was only a matter of hours after re

[2016-10-06 13:47] simonemainardi commented on #766
@nate-byrnes I can't see the attachments with the charts

[2016-10-06 14:18] nate-byrnes commented on #766
Sorry, seems like the email reply got stripped of them. Here they are

![screenshot_2016-10-06_09-09-49](https://cloud.githubusercontent.com/assets/19349744/19155905/1e074730-8bae-11e6-8ef8-5aff67d6a505.png)
![screenshot_2016-10-06_09-08-23](https://cloud.githubusercontent.com/assets/19349744/19155912/234159e8-8bae-11e6-814b-faad52f3c56d.png)

[2016-10-06 15:01] simonemainardi commented on #766
thanks for enclosing the charts, @nate-byrnes

Please, feel free to close the issue and re-open if necessary. Thanks for submitting all this great deal of information!

[2016-10-06 15:05] nate-byrnes commented on #766
Sure thing. Closing, hopefully for good.

[2016-10-06 15:05] #766 closed, assigned to nobody

[2016-10-07 09:03] tomlabaude commented on #581
+1
Client opens 1 socket per second simply for network_load.lua, a wireshark trace is full of TCP handshakes.
Reusing the same socket will save files opened on the client, reduce load on the network, on the server and will more ... pretty!

<img width="1088" alt="screenshot" src="https://cloud.githubusercontent.com/assets/15690818/19184474/9a8d4e74-8c7d-11e6-9feb-06f32b109d4a.png">

[2016-10-07 13:56] lucaderi commented on #581
@tomlabaude Would you like to lead this development ?

[2016-10-07 14:02] tomlabaude commented on #581
Unfortunately, I'm not able to do that dev and am also looking for a dev to work on the frontend of another project.
I have mixed feelings of only being able to report problems without being able to help...

[2016-10-07 14:40] lucaderi commented on #698
Closed for inactivity. Will reopen if necessary

[2016-10-07 14:40] #698 closed, assigned to nobody

[2016-10-09 12:35] dbvan opened #779 "ERROR: MySQL error: [Commands out of sync; you can't run this command now][2014]"
I detect some error when dump flow on ntop-ng to mariadb. Please see log bellow:
07/Oct/2016 15:30:01 ERROR: MySQL error: [Commands out of sync; you can't run this command now][2014]
08/Oct/2016 13:09:37 ERROR: MySQL error: [Commands out of sync; you can't run this command now][2014]
09/Oct/2016 07:00:00 Attempting to connect to MySQL for interface eth1...
09/Oct/2016 07:00:00 ERROR: MySQL error:

[2016-10-09 13:40] simonemainardi commented on #779
can you please make sure you are using the latest dev version of ntopng? please report back. Also note that mariadb is not officially supported.

[2016-10-09 16:22] dbvan commented on #779
@simonemainardi : I'm using ntop version 2.4.160928 - Community Edition on Ubuntu 14.04.5 LTS.

[2016-10-10 12:48] jkldgoefgkljefogeg opened #780 "Recently Active Flows No Results Found"
On the web interface, right bottom says 1000+ flows, but when I click on it, recently active flows page says "No Results Found"

IPFIX from EdgeOS 1.9.0, nprobe and ntopng on the same host

[2016-10-10 13:10] simonemainardi commented on #780
hi, please post ntopng and nprobe version and configuration used

[2016-10-10 13:16] jkldgoefgkljefogeg commented on #780
- ntopng    2.4.161004-1709
- nprobe    7.4.161004-5333

nprobe
`-i none -n none -3 64001 --zmq tcp://127.0.0.1:2001 -V 10`

ntopng

[code]

Occasionally flows works. There is always about 1000 flows shown in the bottom right counter.

[2016-10-10 13:16] simonemainardi commented on #779
you should try with version 2.5.x as we have added some fixes there

[2016-10-10 13:27] simonemainardi commented on #780
please do a small capture of localhost port 2001 and enclose the pcap. I want to see the traffic that is flowing between the ntopng and nprobe. It is supposed to be plain json with certain fields. Thank you.

If you can't attach the pcap publicly, send it to mainardi at ntop dot org. Thank you.

[2016-10-10 13:31] jkldgoefgkljefogeg opened #781 "bogon IP to ASN mapping"
RFC1918 address 172.16.0.0/16 is counted in AS14138. And 70%+ of IPv4 address in my case are in AS 0.

[2016-10-10 13:55] simonemainardi commented on #781
No mention to AS14138 and/or its association to `172.16.0.0/16` is given in RFC1918 (https://tools.ietf.org/html/rfc1918)

Also I am not sure why the private range `172.16.0.0/16` should be counted with "Orange County Public Schools" autonomous system number AS14138 (https://whois.arin.net/rest/asn/AS14138)

[2016-10-10 14:00] jkldgoefgkljefogeg commented on #781
I am saying it should not. But as_stats.lua does list 172.16.0.0/16 as hosts for AS14138.

[2016-10-10 14:03] jkldgoefgkljefogeg commented on #780
I looked at the actual IPFIX udp packets and they are correctly formatted. Given other features can list the port number/IP the flow collector is working correctly. It looks like issue with flows_stats.lua. Sometimes I click it like 3 times and it starts working....

[2016-10-11 08:37] simonemainardi commented on #780
traffic that flows between the nProbe and the ntopng is not IPFIX and I wanted to see that traffic. However, before continuing the investigation, can you please try and use the dev versions of nProbe and ntopng? They are 7.5.x and 2.5.x respectively.

[2016-10-11 09:07] simonemainardi commented on #781
I have just checked that on a 2.5 ntopng (ubuntu 14.4) we have deployed in a datacenter with private network `172.16.0.0/16` configured. Autonomous system associated to that private network is ASN0 as it should be

![image](https://cloud.githubusercontent.com/assets/3397663/19264293/67ff5558-8fa0-11e6-90b5-d875b79d3d6c.png)

![image](https://cloud.githubusercontent.com/assets/3397663/19264362/c24b

[2016-10-11 14:06] pmerkner opened #782 "ntopng service stops roughly every 10 minutes on CentOS 7"
Start the ntopng service, roughly 10 minutes later we lose web connectivity, check service and it's stopped.  This seems to be relatively new behavior after powering off to move the hardware device into our production environment.  Any assistance fixing this is appreciated.

[2016-10-11 15:17] simonemainardi commented on #782
Hi, please paste ntopng logs or command line output. This will help in diagnosing the issue. Thanks. Also make sure to use the latest dev version.

[2016-10-11 19:24] pspikings commented on #343
I haven't got the shell history but can tell you what I did. Installed version "v.1.2.1 (r1.2.1)" in 12.04 from the http://ppa.launchpad.net/cavedon/ntop/ubuntu PPA.

Here's what does work:

From /etc/default/ntopng:

# Additional command-line arguments for ntopng.
ADD_ARGS="-m 1.2.3.4/27,192.168.0.254/24"

From /etc/init.d/ntopng:

ntop_start() {
  /sbin/start-stop-daemon --start --quiet --name $

[2016-10-11 20:45] souzaeric opened #783 "Cannot generate historical data"
Hi, when I search historical data in historical data explorar, I only can generate with 1 hour, if I search any time bigger than 1 hour the result is empty. Do not shows nothing, even not a message with error...
1 hour they generate OK.

Whats wrong? I start my ntopng like this:

ntopng  -i "tcp://127.0.0.1:5556" -m "192.168.90.0/24" -w 3000 -e -F "mysql;localhost;ntopng;flows;root;"

[2016-10-12 06:40] Azerothian opened #784 "LDAP is not sending authentication requests on login."
LDAP is not sending authentication requests on login.

I am using docker to build and deploy the application please see the following for my setup.
https://github.com/RungeICT/ntopng-docker/blob/master/Dockerfile

We have a valid ntopng pro license  e.g. Generated by ntopng Pro [Small Business Edition] v.2.4.161004

Attempting to query against Samba 4 Active Directory Domain Controller with the fo

[2016-10-12 08:05] simonemainardi commented on #343
@pspikings you are using an outdated version of ntopng. In addition, the PPA you are using is not the official one. Please remove it and install packages from http://packages.ntop.org/

One you get the official packages, use file `/etc/ntopng/ntopng.conf` to put the configuration options, one per line.

Then you can start-stop-daemon as usual.

[2016-10-12 09:02] avman20 opened #785 "Help connect Nprobe and Ntopng on windows machine via NAT"
Hi,
I have a situation that I want to have ntopng on a public IP and nprobe behind NAT (both on windows server and windows 7)
I follow the instruction here:
http://www.ntop.org/nprobe/advanced-flow-collection-with-ntopng-and-nprobe/

So I choose push mode (note that c is append at the end as instructed in above link:
**ntopng.exe /i -i "tcp://1234c"**
Then open service manager, start the ntopng se

[2016-10-12 09:57] lucaderi commented on #784
We have just realised that Ubuntu 16 packages did not have LDAP support included. We have rebuilt the package with LDAP support. If this is you case please upgrade and report. If not your case (you apparently use 14.04) please send us ntopng --version

[2016-10-12 10:18] simonemainardi commented on #784
also make sure to rebuild the docker image without caching with option `--no-cache`

[2016-10-12 10:22] simonemainardi commented on #785
hi, the interface name doesn't look complete. please add a `*:`:

[code]

[2016-10-12 10:29] avman20 commented on #785
I do this
ntopng.exe /i -i "tcp://*:1234c"
and still same error.
"Error 1067: The process termitated unexpectedly"
I also tried on another Windows machine which produces same error.
I think this is a bug.

[2016-10-12 10:32] lucaderi commented on #769
@sirajkrm I have added a fix. Please try again

[2016-10-12 10:49] simonemainardi commented on #769
I can confirm it is working now thank you @lucaderi

[2016-10-12 18:39] #769 closed, assigned to nobody

[2016-10-13 08:57] atlanteinformatica opened #786 "Change policy - All tests done from the page "Manage Traffic Filtering Policies""
Starting subnet: 192.168.131.0/24
Single host: 192.168.131.36/32,
Our goal: split the /24 into two /25; inserting 192.168.131.0/25 and 192.168.131.128/25 objects for a simulation of diverse filtering on two groups of hosts.

Step 1 - Entering single host and subnet in blocking policy.
The single host blocks: Skype, Facebook, Youtube, and Tor.
The subnet blocks: Facebook.
Everything ok.

Step 2 - C

[2016-10-13 09:02] atlanteinformatica opened #787 "Missing HTTPS/SSL"
Maybe is our mistake but in the search bar does not appear (by writing http) the HTTPS/SSL (we do not see even scrolling through the list).

Web catergory list
For blocking adult sites (or other types of site in HTTP/HTTPS) is possible to use lists like http://urlblacklist.com (or make it an option)?

[2016-10-13 09:03] atlanteinformatica opened #788 "Update from GUI caused a disservice"
The Ntopng application was stopped (from GUI you could see the red ball and from CLI there was ntopng process). We do not know if it was an accident, but we had to start/stop a couple of times the service package (from GUI) before reviewing the ntopng process running again.
Later everything is back to normal.

Is possible to write a notice in the upgrade page that alerts of possible disservice?

[2016-10-13 12:37] simonemainardi commented on #788
I am not sure to understand... Can you please rephrase the exact steps you did?

[2016-10-13 12:43] simonemainardi commented on #787
the search bar is used to search hosts.

if you want to see live SSL flows just select the protocol from the dropdown menu in the flows page

![image](https://cloud.githubusercontent.com/assets/3397663/19349321/ba580756-9152-11e6-98de-eb53da51247e.png)

Historical SSL flows can be searched with the data explorer:

![image](https://cloud.githubusercontent.com/assets/3397663/19349372/fb3223ba-9152-1

[2016-10-13 12:43] #787 closed, assigned to nobody

[2016-10-13 12:45] atlanteinformatica commented on #788
Sure.
we updated the appliance using the appropriate function in the gui. This operation has stopped the ntopng service and caused a disservice. We started troubleshooting and we have verified that the ntopng process (Linux process I mean) was not running; to start the service (and the process) we used the appropriate function of the gui, but to have the complete operation it took a couple of star

[2016-10-13 12:49] atlanteinformatica commented on #787
All our issue are for the applications filtering.
It seem that is not possible to block HTTPS/SSL.

[2016-10-14 08:27] simonemainardi commented on #788
@ValentinaViscarelli please check this out. Thank you.

[2016-10-14 08:30] simonemainardi commented on #787
see this:
![image](https://cloud.githubusercontent.com/assets/3397663/19380832/2ed08c74-91f9-11e6-84ad-1d2df0124d97.png)

[2016-10-14 12:03] ftoniolo commented on #640
Hi, lucaderi! I'm having the same issue (xenserver virtual machine with very high load average when using ntopng during some hours). After reading your comment, I tried to start capturing only from eth0. Unfortunately, the result was the same: high load. What could I try? By now I'm using the old version (ntop) and it works fine without the high load, but the new version features and interface are

[2016-10-14 12:54] simonemainardi commented on #640
@ftoniolo make sure to upgrade and use the latest dev build as we have made some fixes recently.

[2016-10-14 13:43] simonemainardi commented on #639
implemented

[2016-10-14 13:44] simonemainardi commented on #692
closing for inactivity. Potentially solved in #678

[2016-10-14 13:44] #692 closed, assigned to simonemainardi

[2016-10-14 13:44] #639 closed, assigned to simonemainardi

[2016-10-14 13:47] simonemainardi commented on #680
the topic of the issue is solved. Please, re-open if you experience other errors.

[2016-10-14 13:47] #680 closed, assigned to simonemainardi

[2016-10-14 13:50] simonemainardi commented on #785
can you please try without encryption? Also try to run the processes in foreground (/c) and report any suspicious message you may get on video.

[2016-10-14 13:50] simonemainardi commented on #621
the new page with host alerts has been added in the host_details. thank you

[2016-10-14 13:50] #621 closed, assigned to nobody

[2016-10-14 13:51] DigiAngel commented on #621
Thank you!

[2016-10-14 13:52] simonemainardi commented on #779
@BaVanDuong any news?

[2016-10-14 16:41] ftoniolo commented on #640
Hi!

I updated the ntop package just now (there was a new version available).
After few minutes running the updated version, ntopng increased the load average again to more than 6 :(
There is another thing that could I do?

Thanks!

----- Mensagem original -----

De: "simonemainardi" notifications@github.com
Para: "ntop/ntopng" ntopng@noreply.github.com
Cc: "ftoniolo" ftoniolo@gmail.com, "Mention"

[2016-10-14 16:46] simonemainardi commented on #640
@andrewthecoder
show the output of `ntopng --version`

also you should add a `-i` to your config to specify the monitored interfaces of interest

[2016-10-14 16:49] ftoniolo commented on #640
[root@firewall ~]# ntopng --version
v.2.4.161004 [Professional Edition]
GIT rev: 2.4-stable:98ee891ed1bff3c11be3922a93c03f62619b8d6a:20161004
Pro rev: r641
System Id: D8EC8AC99206A1D8
Built on: CentOS release 6.8 (Final)

----- Mensagem original -----

De: "simonemainardi" notifications@github.com
Para: "ntop/ntopng" ntopng@noreply.github.com
Cc: "ftoniolo" ftoniolo@gmail.com, "Mention" mention@no

[2016-10-14 16:55] simonemainardi commented on #640
try with version dev 2.5.x

how many interfaces are you monitoring? what's their speed and load? How many active hosts/flows you have on average?

[2016-10-14 17:08] ftoniolo commented on #640
Ok, I'll try the recommended version.
I'm starting it with the -i eth0 option.

----- Mensagem original -----

De: "simonemainardi" notifications@github.com
Para: "ntop/ntopng" ntopng@noreply.github.com
Cc: "ftoniolo" ftoniolo@gmail.com, "Mention" mention@noreply.github.com
Enviadas: Sexta-feira, 14 de Outubro de 2016 13:55:28
Assunto: Re: [ntop/ntopng] ntopng pro: constant, high CPU usage (#640)

[2016-10-14 17:11] ftoniolo commented on #640
I don't know how to obtain the '2.5 dev' version, because I'm using the centos' yum package manager.

----- Mensagem original -----

De: "simonemainardi" notifications@github.com
Para: "ntop/ntopng" ntopng@noreply.github.com
Cc: "ftoniolo" ftoniolo@gmail.com, "Mention" mention@noreply.github.com
Enviadas: Sexta-feira, 14 de Outubro de 2016 13:55:28
Assunto: Re: [ntop/ntopng] ntopng pro: constant,

[2016-10-14 19:03] ValentinaViscarelli commented on #788
@atlanteinformatica
The GUI suggest you reboot the system after updating the system (image attached).
Do you have reboot the system?
After rebooting, ntopng should automatically start if you have enabled it in configuration (image attached).
So:
1) Enable ntopng to start at startup.
2) Update the system
3) Reboot
4) Check if ntopng is run

Let me know if it works.

![selection_008](https://cloud.g

[2016-10-15 17:46] simonemainardi commented on #640
you should add the repos at http://packages.ntop.org/centos/

[2016-10-17 11:46] ftoniolo commented on #640
Hi!

OK, I updated to recommended version as below:

[root@firewall ~]# ntopng --version
v.2.5.161014 [Enterprise/Professional Edition]
GIT rev: dev:4c14311a1d90d9807190a3b8d09ed29dc6a46711:20161014
Pro rev: r698
System Id: D8EC8AC99206A1D8
Built on: CentOS release 6.8 (Final)

During the weekend, load average remained low and stable.
Today morning, it jumped to about 6 again.

I have 5 network in

[2016-10-18 15:29] avman20 commented on #785
Hi,
I created a video here:
https://youtu.be/yWU4y86MMvM

You can see on the video that Poll Mode , the service can start, Push mode cause error.
Hope you can find the issue.

[2016-10-19 08:40] dbvan commented on #779
@simonemainardi : I upgrade ntopng to version 2.5 and it working.

[2016-10-19 09:50] simonemainardi commented on #779
thanks for reporting

[2016-10-19 09:50] #779 closed, assigned to nobody

[2016-10-19 13:17] souzaeric commented on #783
Any Ideas?

[2016-10-19 22:02] seismiccollision opened #789 "Enterprise edition"
How do we get access to enterprise edition content?
Thanks!

[2016-10-20 09:36] simonemainardi commented on #789
enterprise version is still available in beta and contains information for netflow devices and SNMP. If you are interested in an evaluation license, please contact one of the ntop team members and provide the output of `ntopng --version`

thanks

[2016-10-20 09:36] #789 closed, assigned to nobody

[2016-10-20 09:53] simonemainardi commented on #783
hi,

first, please make sure to use the latest dev version (2.5.x)

then please answer the following:
- how long does it takes ntopng before giving you an empty result?
- make sure your database doesn't have timeout that may be terminating the query too early
- do you see any errors in the ntopng log?
- if you right click on your browser and select inspect element', do you see any errors after rel

[2016-10-20 11:47] simonemainardi commented on #785
ok thanks for providing this information. Can you please run ntopng in foreground (use `\c` rather than `\i` after uninstalling the service with `\r`) and paste here the full console output?

Also keep in mind that, depending on the configuration used -- push or pull mode -- you need also to change nprobe parameters as well

[2016-10-20 12:01] simonemainardi commented on #640
uhm, ntopng supports speeds much greater than those you have described.

Can you please comment on the VM hardware resources allocated (CPU and RAM?). Note that each monitored interface translates into an independent thread so you should make sure your multi-core/multi-CPU system is able to properly handle that.

[2016-10-20 14:32] souzaeric commented on #783
Hi, answer your questions:
My version is: v.2.5.161011 [Enterprise/Professional Edition]
I have tested and I can generate report up to 17 hours, more than 17 will be empty.

how long does it takes ntopng before giving you an empty result?
Does not show a message with empty result, just it stuck on this page, I already left 10 minutes and nothing, like this picture,
![image](https://cloud.githubuse

[2016-10-20 14:47] ftoniolo commented on #640
Sure!
Please, see the attached screenshots describing the basic vm and xenserver host configuration.

Thanks
----- Mensagem original -----

De: "simonemainardi" notifications@github.com
Para: "ntop/ntopng" ntopng@noreply.github.com
Cc: "ftoniolo" ftoniolo@gmail.com, "Mention" mention@noreply.github.com
Enviadas: Quinta-feira, 20 de Outubro de 2016 10:02:01
Assunto: Re: [ntop/ntopng] ntopng pro: co

[2016-10-20 15:31] Xalaxis opened #790 "Chrome login error"
When attempting to login to the NTOpng web interface from a chrome-based browser (So I'd assume this is a webkit-realated bug) validator.js provides this error:

validator.js:83 Pattern attribute value ^[\w\$\!\/()\=\?^*@_-\u0000-\u00ff]{1,}$ is not a valid regular expression: Uncaught SyntaxError: Invalid regular expression: /^[\w\$\!\/()\=\?^*@_-\u0000-\u00ff]{1,}$/: Invalid escapenative @ valid

[2016-10-20 17:06] bcstechdept opened #791 "Unable to view historical data"
Hello!
    I am using nprobe to capture flow information from a Cisco ASA 5512-X and relay it to ntopng on the same machine.
    My problem is that I am unable to use the Historical Data Explorer, everything returns "no results".  Additionally, the "IPv4 Flows" under the historical tab disappears and both the "Talkers" and "Protocols" tabs return "No Results Found".
    The MySQL Flows Export Stat

[2016-10-20 18:41] bcstechdept commented on #791
I'm not sure what happened but this is working now using the local mysql server after I restarted ntopng after modifying the maximum flows value.  Thanks for taking a look!

[2016-10-20 19:37] bcstechdept commented on #791
I stand corrected.  It works for about an hour then stops displaying historical data.

[2016-10-21 01:09] avman20 commented on #785
Here is the output:( I ran cmd as Administrator)
ntopng.exe /c -i "tcp://_:1234c"
Starting ntopg
Running ntopng.
21/Oct/2016 08:06:53 [Prefs.cpp:919] Logging into C:\Users\win7 64\Documents\ntopng.log
21/Oct/2016 08:06:53 [Ntop.cpp:1121] Setting local networks to 127.0.0.0/8
21/Oct/2016 08:06:53 [Redis.cpp:92] Successfully connected to redis 127.0.0.1:6379@0
21/Oct/2016 08:06:53 [NtopPro.cpp:120]

[2016-10-21 08:13] simonemainardi commented on #791
navigate to the interface page and see if MySQL flows are dropped when you can't see the results.
It can be that mysql is not able to ingest flows at the rate ntopng is sending them.

Alternatively, check the footer for the actual number of active flows and hosts. If you see red badges, then very likely your hash tables are full (i.e., you have too many hosts/flows) and ntopng is forced to drop ne

[2016-10-21 08:15] simonemainardi commented on #640
@ftoniolo screenshots have not been attached

[2016-10-21 09:01] simonemainardi commented on #785
I am not sure the latest windows build is compatible with the `c` at the end of the ZMQ endpoint name. I guess you should still use the old flag `--zmq-collector-mode`.

The `c` has been added in July while the latest windows build has been released ad the end of June.

[code]

So I would ask @hung1024 to try with `ntopng.exe /c -i "tcp://*:1234" --zmq-collector-mode` and, in the meanwhile, I woul

[2016-10-21 09:02] simonemainardi commented on #790
duplicate of https://github.com/ntop/ntopng/issues/775

[2016-10-21 09:02] #790 closed, assigned to nobody

[2016-10-21 09:09] simonemainardi commented on #783
a search of `net::ERR_INCOMPLETE_CHUNKED_ENCODING` pointed me to this thread: http://stackoverflow.com/questions/29894154/chrome-neterr-incomplete-chunked-encoding-error

can you please check?

Btw, your MySQL timeouts are good.

[2016-10-21 13:47] souzaeric commented on #783
Thank you, the error with Chrome is gone. But I am still unable to generate report greater than 17 hours.

[2016-10-21 14:57] simonemainardi commented on #783
please explain why the error with chrome is gone so that also other users can benefit

[2016-10-21 15:11] souzaeric commented on #783
I go into Chrome's settings and use the "Restore to Default" option, the problem disappeared.

[2016-10-21 15:21] simonemainardi commented on #783
thank you.

By looking at your previous screenshot, it looks like the mysql query is still executing so you think you can't get the results while actually ntopng is simply waiting for a mysql response.

I don't know how many flows/sec you export, but it can be that your mysql can't execute the queries of interest in a reasonable time.

Do the following: while you are waiting for the results open a

[2016-10-21 18:40] souzaeric commented on #783
Hi, I have executed the query on MySQL shell and took very long time. A query with dates between 05 october and 21 october, have duration 13 minutes.

When I generate report on ntopng and execute show processlist, after +- 200 seconds the state of query changes to sleep .
I export an average of 75 flows/sec.

![image](https://cloud.githubusercontent.com/assets/22778946/19608021/f9f9c66e-97ac-11e6-

[2016-10-21 20:07] msnapka opened #792 "Cannot get nProbe + ntopng working with Mikrotik RB450G"
Hello,

I have encountered a problem when trying to configure nprobe and ntopng according to the tutorial, ntopng shows no data at all.

http://www.ntop.org/ntopng/how-to-analyse-mikrotik-traffic-using-ntopng/

nProbe installed by the following command:
nprobe /i nProbe -i none -n none -3 2055 --zmq tcp://127.0.0.1:1234

ntopng config
![scr](https://cloud.githubusercontent.com/assets/22288655/1961

[2016-10-21 21:43] bcstechdept commented on #791
Hey simonemainardi,
  Thanks for the reply!  The interface page doesn't show any dropped flows but I think you're right in that the database servers I'm trying to use can't keep up with ntop's speed.  I have -x and -X set to about double what I would expect our actual number of hosts and flows to be from watching during peak hours.  Is there anything else I can do like a buffer/"ZMQ for SQL"?

[2016-10-22 08:55] simonemainardi commented on #783
as you can see the bottleneck is the speed of mysql, not ntopng. You should try to tune mysql (sw or sw + hw) to make sure it is able to provide you replies in a reasonable time in your environment. Remember also that, when you generate a report, ntopng doesn't use mysql so this is why the connections look as sleeping.

[2016-10-22 12:22] souzaeric commented on #783
Thank you, I'll try tunne my MySql server.

[2016-10-22 16:53] simonemainardi commented on #791
I am still not sure what is happening on your system. You said that you don't see dropped flows in the MySQL export statistics and, at the same time, the historical explorer doesn't show the results. Is it correct?

If that is the case, then either:
- mysql is executing select queries (check this with `mysql> show processlist`)
- data is sent to mysql but is not yet committed so you can't see that

[2016-10-22 17:30] simonemainardi commented on #792
Please do the following:
- start nProbe and make sure ti receives traffic from the collector. start it in foreground (`\c`) enable verbose  and debugging (`--debug`) and see if it is receiving flows.
- then restart ntopng with option `-i tcp://127.0.0.1:1234`

see the users' guides of ntopng and nprobe for further information

[2016-10-23 00:58] msnapka commented on #792
Dear Simone, thank you for you answer. I tried to perform such setup, stopped the installed services, ran both the nprobe and the ntopng in console mode and this is what I got. Seems like the probe is getting the data correctly, however the ntopng has a problem with some script?

![screenshot](https://cloud.githubusercontent.com/assets/22288655/19623509/94d74eca-98cc-11e6-9afe-47009b6f78d2.png)

T

[2016-10-24 09:30] emanuele-f commented on #343
@sclark46 are you still having troubles? Can you report the software versions you are using?

I've successfully tested the filter on ubuntu 16.04, with latest ntopng and pfring from ntop repo

[2016-10-24 09:38] simonemainardi commented on #367
we have made several improvements recently that should have solved the issue. Please try with the latest version of ntopng and reopen if necessary.

[2016-10-24 09:38] #367 closed, assigned to ValentinaViscarelli

[2016-10-24 09:50] emanuele-f commented on #420
@Mile-Lile the pcap file you provide does not contain any HTTP 2.0 packets but only HTTP 1.1. Please, send us another pcap and double check with wireshark if you can. Thank you.

[2016-10-24 10:06] simonemainardi commented on #792
the error shown suggests me that ntopng doesn't properly create the interface. Are you sure nprobe can bind to `192.168.254.2` and ntopng can reach it?  If nprobe and ntopng are on the same box, why don't you use the loopback address?

If you still have troubles, please enclose the full output logs not only the last part.

[2016-10-24 11:08] emanuele-f commented on #729
The values you read in the graph are referred to a specific time interval. When the mouse is outside graph area, last time interval is used.
The activity detection and graph is an experimental feature (right now you must use the --enable-flow-activity flag in order to enable it) and the front-end we use has some problems so I cannot agree to work on this feature.
I close this issue for now. Thank

[2016-10-24 11:08] #729 closed, assigned to emanuele-f

[2016-10-24 11:30] papage opened #794 "pfring_zc and ntopng packet loss"
Hi all,

I have a few problems getting ntopng to work without significant packet loss.
My setup is:
Centos7 VM 4core/6GB RAM with a passed-through intel 10G 520 adapter.

PFcount seems ok:
/usr/local/bin/pfcount -i zc:ens160

Absolute Stats: [1'494'382 pkts total][0 pkts dropped][0.0% dropped]
[1'494'382 pkts rcvd][1'140'440'217 bytes rcvd][498'086.65 pkt/sec][3'040.92 Mbit/sec]

Actual Stats: [38

[2016-10-24 14:57] emanuele-f commented on #782
@pmerkner are you still able to reproduce the issue? Please give us some info to analyze.

[2016-10-24 15:50] lucaderi commented on #774
@Bi @rand99 I have fixed this problem. Please update and reopen the issue if necessary

[2016-10-24 15:50] #774 closed, assigned to nobody

[2016-10-24 17:04] bob3rocks opened #795 "periodic ntopng restarts on RPi"
When I run ntopng on the command line to stdout, the process will fail after a few minutes with "**_stack smashing detected**_." When I run ntopng as a daemon from init.d, the process fails and restarts itself. This happens every 5 minutes. Log sample:

Oct 24 09:40:01 jessie-rpi systemd[1]: Started ntopng - High-Speed Web-based Traffic Analysis and Flow Collection Tool.
Oct 24 09:45:00 jessie-rpi

[2016-10-24 17:07] bob3rocks commented on #795
Also, I tried to update ntopng, but this is the only package available from apt-get. I also tried compiling from source which fails.

[2016-10-24 17:09] bcstechdept commented on #791
Hey simone,
  Yes, that's correct.  Ntop is not reporting any dropped flows but I do not see the data in the historical explorer, no matter how long I wait.  My network frequently bursts from ~8k flows to ~350k, and I think I'm experiencing a MySQL performance issue rather than a problem with ntop itself.

[2016-10-24 17:09] emanuele-f commented on #795
Can you specify what arguments you pass from command line?

[2016-10-24 17:41] bob3rocks commented on #795
This is what I have in /etc/init.d/ntopng:
ARGS="--daemon --pid $PIDFILE --disable-autologout"

This is what it looks like from ps aux:
/usr/sbin/ntopng --daemon --pid /var/tmp/ntopng.pid -w 3000

[2016-10-24 19:32] henriqueps opened #796 "Dropped Flows"
My ntopng is dropping a lot of flows. Is it normal?
Why ntopng is dropping flows?
Is there any particular configuration should I do?

![ntopng](https://cloud.githubusercontent.com/assets/23039111/19660721/af0794aa-9a0f-11e6-85a1-86c433e3a308.jpg)

[2016-10-25 09:17] avman20 commented on #785
This appears to work, thanks.

[2016-10-25 10:13] simonemainardi commented on #785
thank you for reporting.

[2016-10-25 10:13] #785 closed, assigned to nobody

[2016-10-25 10:28] dando-it commented on #715
To improve performance on ES  i suggest to raise the Bulk export values.

Unfortunately they aren't user configurable (feature request ?) so you need to modify the source and recompile: on _**Elasticsearch.cpp**_  in the _ElasticSearch::indexESdata()_ function,  change  _watermark_  ,_postbuf_ and _min_buf_size_ , the default values are conservative.

To get a "cluster aware" ntopng it's better to

[2016-10-25 10:34] simonemainardi commented on #715
@dando-it would you like to lead the development of this feature?

[2016-10-25 11:02] dando-it commented on #715
@simonemainardi  I'm sorry but I have to decline, at the moment I couldn't follow it.
I hope that my suggestion could be helpful for the product improvement.

[2016-10-25 11:59] simonemainardi commented on #715
ok anyway thanks for the suggestion. regards.

[2016-10-25 13:45] emanuele-f commented on #795
Thank you. Can you run ntopng from command line and report a stack trace with the error (gdb)?

With a4bd8f1 I've fixed a bug which caused a crash when a usb bluetooth dongle was connected to the system. Do you have any kind of devices connected to RPI? Can you possibly compile and run nDPI and ntopng from github repository? Alternatively you can wait the nightly builds in apt.ntop.org repository.

[2016-10-25 13:46] simonemainardi commented on #791
if flows are not dropped and not shown in the historical explorer, it means that they don't even reach the ntopng. Do you see data in the dashboard and in the charts?

run nprobe using `--debug` and see if it properly receives flows from the ASA as well.

[2016-10-25 13:47] simonemainardi commented on #796
no that is not normal.
- enclose the ntopng configuration used.
- comment on the speed of the interface monitored
- tune with -x and -X

[2016-10-25 14:11] henriqueps commented on #796
- Configuration: **ntopng -d /storage/ntopng -G /var/tmp/ntopng.pid -i tcp://127.0.0.1:5555 -i tcp://127.0.0.1:5556 -i tcp://127.0.0.1:5557 -F "mysql;localhost;ntopng;flows;user;password" -W 0 --local-networks "local_cidr" -D all --daemon**
- Connection speed: **1Gbps**
- Ok, I will

[2016-10-25 15:33] emanuele-f commented on #753
@Niko78 this should be fixed now, check out new release and reopen if necessary, thank you.

[2016-10-25 15:33] #753 closed, assigned to nobody

[2016-10-25 15:40] Niko78 opened #797 "FR: possibility to send mail when alert detected"
that would be interesting to have possibility to send email when an alert is detected (scan, attack, ....)

[2016-10-25 15:41] emanuele-f commented on #755
Please post a screenshot specifing the diagram. Please note you need to add `--enable-flow-activity` in order to show the graphs

[2016-10-25 16:02] bob3rocks commented on #795
I installed the debugger and this is all I get from gdb ntopng:
Reading symbols from ntopng...(no debugging symbols found)...done.

I tried compiling from the github repository and and compile fails during the last phases of the process. I can try that again and post it in a separate thread if you like.

There is no bluetooth device connected to the RPi. There was a cheapo WIFI dongle plugged in,

[2016-10-25 16:03] atlanteinformatica commented on #788
Hi Valentina, thank you for the reply.
The GUI suggest to reboot but do not alert about the disservice. This is different. Seem that the suggestion is telling: sooner or later reboot the appliance.
We suggest you to write something like: Warning, the update will restart the services.

Regards

[2016-10-25 16:07] emanuele-f commented on #765
What you ask cannot be implemented in an easy way since HTTP protocol is stateless and historical data continuosly changes. Database caching should make your query run faster and you should not experience a significant delay.
If you still want to keep previous query results, please open the flow into another tab instead.

[2016-10-25 16:07] #765 closed, assigned to nobody

[2016-10-25 16:11] emanuele-f commented on #797
Duplicate of #272. Please use the search bar before opening a new issue.

[2016-10-25 16:11] #797 closed, assigned to nobody

[2016-10-25 16:17] emanuele-f commented on #795
Into the gdb environment, you have to run the `start` command, followed by ntop arguments, in order to start debugging the program. After the crash, you can run the `bt` command to get a backtrace, which you should post here.

Nightly builds are built each night, so you will be able to install the new version since tomorrow. Thank you for the feedback.

[2016-10-25 16:19] ValentinaViscarelli commented on #788
Just a think... do you have enable automatic startup in ntopng?
I don't think we need to alert because if you have set "automatic startup", ntopng must start. If not there is a bug.

[2016-10-25 16:27] atlanteinformatica commented on #788
We know (now) that an update require a reboot.
If you won't put an alert, this issue can't live. So...

[2016-10-25 16:58] fkamal1 opened #798 "ntopng service stops every few minutes on NST 24"
ntopng service stops after random number of minutes every time. Here is the startup line:

Version 2.5.160702 - Community Edition
Platform    x86_64-unknown-linux-gnu [x86_64][NST release 24 (NST24)] - 64 bit
Startup Line    ntopng --interface "enp0s20u9" --interface "eno1" --https-port "3001" --http-port "0" --local-networks "inserted several subnets here" --data-dir "/var/nst/ntopng" --dns-mode

[2016-10-25 18:05] emanuele-f commented on #798
Can you provide a core dump of the ntopng? Can you test latest version from git?

[2016-10-25 18:26] ftoniolo commented on #640
Ok, trying again.

----- Mensagem original -----

De: "simonemainardi" notifications@github.com
Para: "ntop/ntopng" ntopng@noreply.github.com
Cc: "ftoniolo" ftoniolo@gmail.com, "Mention" mention@noreply.github.com
Enviadas: Sexta-feira, 21 de Outubro de 2016 6:15:23
Assunto: Re: [ntop/ntopng] ntopng pro: constant, high CPU usage (#640)

@ftoniolo screenshots have not been attached
—
You are receiv

[2016-10-25 18:29] bcstechdept commented on #791
Hi simone,
  Yes, data is populated in the dashboard and all the rrdtool/whisper graphs/data that's stored in redis is all accurate and is retained correctly.  Running with --debug, I can definitely see the flow information from the ASA coming in and it looked like ntop was correctly exporting it, it just looks like my database server can't keep up when my network traffic gets bursty.

[2016-10-25 19:41] ValentinaViscarelli commented on #788
In my opinion the alert is not important, but since you say that it is important I added a warning in update page.
![selection_012](https://cloud.githubusercontent.com/assets/13115771/19701107/400ee1b6-9afa-11e6-9856-33315e637ee5.png)

[2016-10-25 19:51] atlanteinformatica commented on #788
Hi Valentina,

many thanks for this change. Yes, is important because it can be dangerous for those who can't imagine the possible consequences of pressing that button.
Regards.

[2016-10-25 22:06] bob3rocks commented on #795
My apologies, I am not that familiar with the gdb environment, and I get no result when using the start command.

(gdb) start /usr/sbin/ntopng
No symbol table loaded.  Use the "file" command.

Am I right in assuming ntopng has to be compiled for debugging in order for this to work?

[2016-10-26 06:46] lucaderi commented on #287
Implemented in nDPI, so it's supported by now

[2016-10-26 06:46] #287 closed

[2016-10-26 06:46] lucaderi commented on #794
Please open this issue under PF_RING

[2016-10-26 06:46] #794 closed, assigned to nobody

[2016-10-26 06:47] lucaderi commented on #392
Implemented

[2016-10-26 06:47] #392 closed, assigned to nobody

[2016-10-26 06:50] lucaderi commented on #343
This issue seems to be solved.

[2016-10-26 06:50] #343 closed, assigned to nobody

[2016-10-26 06:52] lucaderi commented on #286
We have decided that LDAP is the best option for this, and thus for the moment we won't add radius support as we now have LDAP implemented.

[2016-10-26 07:46] emanuele-f commented on #782
No feedback given, closing for inactivity. Please reopen if necessary.

[2016-10-26 07:46] #782 closed, assigned to nobody

[2016-10-26 07:48] emanuele-f commented on #798
Are you building from source? It is important to update to the latest version in order to give us useful information, thank you

[2016-10-26 07:58] emanuele-f commented on #795
I guess you are using https://archive.raspbian.org/raspbian/pool/main/n/ntopng/ ntopng from raspbian, which is outdated and not ufficially supported by us. Please, install an officially supported build from our repository. You can follow the instructions reported http://packages.ntop.org/RaspberryPI/. Reopen if necessary.

[2016-10-26 07:58] #795 closed, assigned to emanuele-f

[2016-10-26 09:04] simonemainardi commented on #791
I see. There was a similar problem in another issue a few days ago. You should tune your mysql and make sure it can handle (e.g., both queries and insertions) the data you send.

[2016-10-26 09:16] simonemainardi commented on #640
no screenshots also this time. try to post them from the github issue page rather that directly as attachments via email

[2016-10-26 10:28] ftoniolo commented on #640
Ok, now posting via github.

![2016-10-20 11_11_15-mremoteng - confcons](https://cloud.githubusercontent.com/assets/6548288/19722569/14dd382e-9b56-11e6-86d0-c7c40cf4d386.png)
![2016-10-20 11_13_09-mremoteng - confcons](https://cloud.githubusercontent.com/assets/6548288/19722570/14de32c4-9b56-11e6-8834-8568707510fb.png)
![2016-10-20 12_45_20-mremoteng - confcons](https://cloud.githubusercontent.com

[2016-10-26 12:37] emanuele-f commented on #579
Partially implemented in bc14efd. Lost packets require two new nProbe template entries, one for "in", one for "out".

[2016-10-26 12:56] emanuele-f commented on #780
@jkldgoefgkljefogeg any news?

[2016-10-26 12:57] emanuele-f commented on #727
Closing for inactivity, reopen if necessary

[2016-10-26 12:57] #727 closed, assigned to nobody

[2016-10-26 12:58] emanuele-f commented on #781
@jkldgoefgkljefogeg please update package ntopng-data that contains new mappings

[2016-10-26 13:39] simonemainardi commented on #640
so the load looks ok its 0.03.

Report the statistics when you experience an high load as reported. By the way I would increase the RAM allocated for the vm.

[2016-10-26 15:39] ftoniolo commented on #640
Yes, the load avg is low because I'm using the old version (ntop).
I made that htop's screenshot just for showing you an overview of my hardware like cpu, memory and i/o usage (not for show the load avg).

If you think that it is important, I could change to the new version (ntopng).
After some time, probably my load would be increased.
So I could capture a screenshot for the purpose of showing yo

[2016-10-27 08:52] simonemainardi commented on #454
alerts are now stateful: they become engaged when the problem starts, and they become closed when the problem ends. Closed alerts show a duration.

Please, check that out and let us know, thank you.

[2016-10-27 08:52] #454 closed, assigned to nobody

[2016-10-27 08:57] simonemainardi commented on #506
duplicate of #289

[2016-10-27 08:57] #506 closed, assigned to nobody

[2016-10-27 09:03] simonemainardi commented on #686
as a design choice -- in order to keep the arguments as simple as possible -- we do not allow the specification of any custom interface setting (e.g., sampling / speed / custom names etc) from the command line. All these settings must be specified from the web interface. As the "custom name" is another user-defined setting, we cannot accomodate this feature request.

[2016-10-27 09:03] #686 closed, assigned to nobody

[2016-10-27 11:07] DigiAngel commented on #454
Thank you!

[2016-10-27 12:56] atlanteinformatica opened #800 "Set Ingress Shaper Id: how it works?"
Today there was an host that was using all the traffic band. We decided to limit it by setting the Ingress Shaper Id from "Manage Traffic Filtering Policies" page.
Unfortunately, after this action, all our office can't using the web.
To solve we selected the Network who rapresent of our entire office from the drop menu, and clicked on the button "Set protocol policy and shaper".

Why this happen?

[2016-10-27 18:09] lucaderi opened #801 "Report MySQL slow response"
As of the latest MySQL it is possible to report slow queries for instance with the query below. It would be nice to ntopng alert users when this is the case and likely report slow queries

mysql> select \* from  events_statements_summary_by_digest order by MAX_TIMER_WAIT desc limit 1 \G
**************************\* 1. row ***************************
                SCHEMA_NAME: ntopng

[2016-10-28 09:27] emanuele-f commented on #731
Implemented as a UI interface setting. Thank you for the suggestion.

[2016-10-28 09:27] #731 closed, assigned to emanuele-f

[2016-10-28 10:07] blues-git commented on #731
Great.
Version 2.5.161028-1751 from debian packages works fine.
Thanks.

[2016-10-28 10:22] lucadistefano opened #802 "cannot access after reboot"
we performed a reboot of box where ntopng is hosted
after reboot whe cannot access to frontend :
![image](https://cloud.githubusercontent.com/assets/1080723/19803348/79f35014-9d08-11e6-8235-12a57a92ec18.png)

we did no ntopng version upgrade, so I suppose there should be no schema update
the actual installed version is ntopng-2.5.160926-1584.x86_64

the logs :
redis.log:
....
[97228] 28 Oct 08:41:

[2016-10-28 11:19] simonemainardi commented on #802
[code]

means that you have used option `-l 1` during startup:

[code]

So if this is not the expected behaviour, maybe you think you are using an ntopng while you are actually using another version/instance... please check that out... this could also explain why you are getting a mysql schema update message. In addition, when a schema update takes place, you also get update messages in the comman

[2016-10-28 13:19] lucadistefano commented on #802
hi,

the problem occurred because mysql started a repair process on flows4 table, therefore ntopng has no access to the table and tries to recreate it and hangs on waiting the repair completion.

thanks Simone for the prompt help!

[2016-10-28 13:19] #802 closed, assigned to simonemainardi

[2016-10-28 14:54] mattdunn4465 commented on #784
I am using 14.04 and I don't see any packets attempting to hit the ldap host when you try to login to ntop.

[2016-10-28 17:33] bcstechdept commented on #791
Thanks for your help, simone.  I will try tweaking some mysql performance settings and see if I can get it going again.

[2016-10-29 06:15] prutacisco opened #803 "flows incomplete - elasticsearch"
Hi,
I just installed the latest version of ubuntu and I can't find the reason the DNS queries and HTTP_URLs are not being seen in my ELK Stack.
Wonder if anyone faced the issue before. I get all the fields except the two ones(quite important :-)).
Thx,
Peter

[2016-10-29 18:51] dando-it commented on #796
Maybe the problem is mysql, it locks the thread, more details here:

https://github.com/ntop/ntopng/issues/359#issuecomment-174099992

[2016-10-30 06:06] ankerstal opened #804 "ntopng segfault"
Hi,

I recently instralled ntopng and it seems to segfault.
Oct 30 07:00:06 nf kernel: ntopng[17108]: segfault at 18 ip 000000360b42250e sp 00007fcc4f5fd660 error 4 in librrd.so.4.0.7[360b400000+31000]

[2016-10-30 15:13] emanuele-f commented on #804
Please, specify operating system and ntopng version (-v). Are you using updated ntopng and rrd packages?

[2016-10-30 15:18] ankerstal commented on #804
v.2.5.161029 [Enterprise/Professional Edition]
GIT rev:   dev:0793d8666abe6d04df57c3fbf1179703f55a816d:20161029
Pro rev:   r702
System Id: 1243712E000007F9
Built on:  CentOS release 6.8 (Final)
rrdtool-1.3.8-7.el6.x86_64

System is running Centos 6.

Thanks.

[2016-10-31 07:16] ankerstal commented on #804
Ok, nevermind. It was due to full disk.

Thanks!

On 10/30/2016 04:18 PM, Peter Ankerstål wrote:

[2016-10-31 08:45] emanuele-f commented on #804
Glad to hear you solved, thank you.

[2016-10-31 08:45] #804 closed, assigned to nobody

[2016-10-31 08:52] emanuele-f commented on #755
Closing for inactivity. Please reopen if necessary.

[2016-10-31 08:52] #755 closed, assigned to emanuele-f

[2016-10-31 15:35] simonemainardi commented on #801
database queries are now carried out asynchronously. The user is notified every time there's a slow query going on. Slow queries can be aborted as well and the interface is always responsive.

![image](https://cloud.githubusercontent.com/assets/3397663/19860158/03abf802-9f88-11e6-9875-524a80a20a78.png)

[2016-10-31 15:35] #801 closed, assigned to simonemainardi

[2016-10-31 17:00] simonemainardi commented on #784
@fullmoon4465 LDAP is a pro-only feature. Please refer to this readme https://github.com/ntop/ntopng/blob/dev/doc/README.LDAP and make sure to properly configure the setting from the ntopng preferences

[2016-11-01 11:12] e73kiel opened #805 "SNMP page disappears"
Hi,

I have just installed ntop to my centOS7 server, everything is just fine but i have a problem on monitoring mycisco sg 300-52 switch. I set it up and get the port information on the host page/SNMP
but at the top of the i get an error
"Lua.cpp:5134] WARNING: Script failure [/usr/share/ntopng/scripts/lua/host_details.lua][/usr/share/ntopng/pro/scripts/lua/modules/snmp_utils.lua:390: attempt to

[2016-11-01 12:02] lucaderi commented on #805
I believe you are using the standard version of ntopng in demo mode and when the demo ends the page disappears

[2016-11-01 12:04] lucaderi commented on #780
Closed for inactivity. Will reopen if necessary.

[2016-11-01 12:04] #780 closed, assigned to nobody

[2016-11-01 12:08] lucaderi commented on #699
Closed for inactivity. Will reopen if necessary.

[2016-11-01 12:08] #699 closed, assigned to nobody

[2016-11-01 12:09] #783 closed, assigned to nobody

[2016-11-01 12:09] lucaderi commented on #798
Closed for inactivity. Will reopen if necessary.

[2016-11-01 12:09] #798 closed, assigned to nobody

[2016-11-01 12:10] lucaderi commented on #530
Please move this request to nDPI.

[2016-11-01 12:10] #530 closed, assigned to nobody

[2016-11-01 12:27] e73kiel commented on #805
Hi,
I am using ntopng Pro [Small Business Edition] Demo version,
Whenever i restart the service SNMP page appears again and shows random number of ports and number of the ports changes when i refresh the page. after 3 4 refresh the SNMP page disappears. The error is obvious in the log but i don't know if its something i can fix or not.
After the first post i searched some solutions and found that

[2016-11-01 15:28] simonemainardi commented on #791
We have also improved the ntopng UI to inform the user when a query is taking too long to complete. The user can also choose to abort the query in order to narrow down the search criteria. By means of ajax, we've been able to implement these features while keeping the overall interface responsive. This should improve the user experience. I think it is safe to close this. Please, try the latest ver

[2016-11-01 15:28] #791 closed, assigned to nobody

[2016-11-01 16:53] mattdunn4465 opened #806 "Switch Port/Interface Names"
I have a switch, Juniper EX4200, that I would like to monitor two different ports for. I cannot have different collector settings with different interfaces however. Both of those interfaces would use the same collector in ntopng/nprobe. Is there a way to show the switch port name the flow came from? Example

ge-0/0/0.0 is WAN on that switch
ge-0/0/1.0 is WAN2 on that switch

My understanding is i

[2016-11-01 17:10] simonemainardi commented on #803
Hi,

If you want such data pushed into ElasticSearch, you have to combine ntopng with nProbe. Without nProbe, ntopng only exports a limited set of fields to ES. With nProbe, all the fields declared in nProbe template are exported.

Such 'extra' fields are stored in a `json` array and are indexed using integer numbers. Associations between integer numbers and meaningful labels are shown in the nPro

[2016-11-01 17:10] #803 closed, assigned to simonemainardi

[2016-11-01 18:09] ramonmaruko opened #807 "nProbe for ERL is not up to date"

[2016-11-01 18:12] ramonmaruko commented on #807
I am so sorry, this is meant for the nProbe page.

[2016-11-01 18:12] #807 closed, assigned to nobody

[2016-11-02 15:23] simonemainardi commented on #792
@msnapka please provide feedback

[2016-11-02 15:31] simonemainardi commented on #796
@dando-it mysql flow insertion has already been implemented asynchronously so insertions no longer lock the capture thread.

@henriqueps check the interface page and see the ratio of mysql exported flows vs mysql dropped flows. I guess that mysql is not able to ingest the flows generated by ntopng. Do you see errors in the ntopng logs? If you do `show processlist` inside a MySQL shell, do you see

[2016-11-02 15:33] emanuele-f opened #808 "Enable save buttons only when data is changed"
E.G. Preferences screen, inputs should be monitored for changes. The save button should be clickable only when input data is different from original

[2016-11-03 11:33] emanuele-f commented on #575
Implemented in # f420dd6

[2016-11-03 11:33] #575 closed, assigned to simonemainardi, emanuele-f

[2016-11-03 11:41] henriqueps commented on #796
@simonemainardi there isn't error logs at ntopng logs. I've executed  _show processlist_ at least 4 times to compare. I'm sending you the mysql output.
![selection_049](https://cloud.githubusercontent.com/assets/23039111/19964503/2e9bb55c-a1a9-11e6-815f-348de6a3cbe0.jpg)

[2016-11-03 12:28] IvnSoft opened #809 "Cannot read mark with netfilter to divert traffic"
Hi guys.

I've implemented ntopng in a linux bridge to shape traffic for a couple of internal networks.
Tried the bridging facility and the NFQueue option, but it isn't enough, as i have to implement a big number of different profiles, with specific limits per protocol per client.

I sorta managed this using tc/qdisc and iptables to divert traffic to the specific qdisc based on ip, port, etc. Howe

[2016-11-03 14:01] ngmacha opened #810 "Cannot upgrade ntopng to Pro version"
I am new to ntopng, installed and run the free version for some time, and just got yesterday the free pro license as not-to-profit organization (I'm working for UNAIDS). I have generated the license for the SystemID 1982229622-09b1b8a9  with the order ID 1478032923 following the steps below:
 - logged in to ntopng via 127.0.0.1:3000 and went to menu Home -> About;
 - clicked the URL for the System

[2016-11-03 14:11] IvnSoft commented on #810
Just in case, i had a similar problem because i had a file /etc/ntopng.license . removing it made it work.
You are on windows... Not sure if it applies, but if you have such a file, delete it.

[2016-11-03 14:25] lucaderi commented on #810
I have invalidated your license. Please deinstall ntopng and install this http://packages.ntop.org/Windows/ntopng-2.4.160627_1-x64.zip then generate a new license.

[2016-11-03 14:25] #810 closed, assigned to nobody

[2016-11-03 14:29] ngmacha commented on #810
Thank you very much guys for quick response!! It's already COB here, so will do tomorrow

Mac Ha - Sent from iPhone

On 3 Nov 2016, at 17:25, Luca Deri <notifications@github.com<mailto:notifications@github.com>> wrote:

I have invalidated your license. Please deinstall ntopng and install this http://packages.ntop.org/Windows/ntopng-2.4.160627_1-x64.zip then generate a new license.

##

You are rec

[2016-11-03 18:12] emanuele-f commented on #395
Implemented with 5c0e312

[2016-11-03 18:12] #395 closed, assigned to emanuele-f

[2016-11-04 00:25] emanuele-f commented on #808
Implemented in dd1d943

[2016-11-04 00:25] #808 closed, assigned to emanuele-f

[2016-11-04 08:47] ngmacha commented on #810
I've removed and reinstalled the version Luca given above - and even without generating the new license, it is now running as Pro for several hours already:
C:\Users\Me>"C:\Program Files\ntopng\ntopng" /c --online-license-check
Starting ntopg
Running ntopng.
04/Nov/2016 10:07:59 [Prefs.cpp:919] Logging into C:\Users\Me\Documents\ntopng.log
04/Nov/2016 10:07:59 [Ntop.cpp:1121] Setting local network

[2016-11-04 09:59] Niko78 opened #811 "network history"
I would like to know if it's possible to get a network historic instead of just host history
I managed few networks (ie : 192.168.1.0/24, 192.168.155.0/24, etc....) and I would like to be able to find in history all flows from 192.168.155.0/24 by example
It seems I can do only with host right now ? by example in "client/server host" if I had possibility to enter : "192.168.155.*", that would be gr

[2016-11-04 11:18] Niko78 commented on #811
in checking mysql request during a host request history, I can see that it is possible, request is like that in changing src and dst (192.168.155.0 <=> 192.168.155.255)

select INET_NTOA(IP_SRC_ADDR) AS IP_SRC_ADDR,INET_NTOA(IP_DST_ADDR) AS  IP_DST_ADDR  ,L4_SRC_PORT,L4_DST_PORT,VLAN_ID,PROTOCOL,FIRST_SWITCHED,LAST_SWITCHED,PACKETS,IN_BYTES  + OUT_BYTES as BYTES,IN_BYTES,OUT_BYTES,idx,L7_PROTO,INF

[2016-11-04 11:53] simonemainardi commented on #810
@ngmacha  the logs enclosed suggest that everything is now ok. Thanks for reporting.

[2016-11-04 18:04] Niko78 opened #812 "flow number issue"
after updating my ntop on 3 servers, now in the bottom I can see 200k flows in red
and it doesn't change
in clicking on it I switch on flows tab

![flows](https://cloud.githubusercontent.com/assets/17108017/20016839/764c19b4-a2c1-11e6-9eca-a8d2fcf87d6e.PNG)

ntop 2.5.161104

[2016-11-04 20:21] IvnSoft commented on #809
Is it worth mentioning i bought the license because i was told with it i would be able to do this ???

[2016-11-04 21:10] souzaeric opened #813 "Incomplete Reports when generate 1 week or more"
The reports don't show anything below “Application Breakdown”, i.e. the report doesn’t show “Top Countries”, Top Local Hosts”, “Top Remote Hosts” and “Top ASN”. It's the same for any time period bigger than 1 week.

ntopng Pro [Small Business Edition] v.2.5.161104

[2016-11-06 15:44] Niko78 commented on #812
it seems value doesn't decrease... it just increases until limit (limit given in ntop config)
it seems to be the same issue with hosts number

[2016-11-07 09:16] e73kiel commented on #805
Anyone has any idea. If its a bug that can be fixed with license then its ok.

[2016-11-07 09:24] lucaderi commented on #805
@e73kiel Can you please use the development version and report if you have problem?

[2016-11-07 10:09] simonemainardi commented on #806
Hi,

What about adding

[ 10] %INPUT_SNMP                 %ingressInterface             Input
interface SNMP idx
[ 14] %OUTPUT_SNMP                %egressInterface              Output
interface SNMP idx

items to the nprobe export template? You'll be able to see that fields from
any flow details page.

---

The -M parameter is for the legacy ntop and is not relevant for your issue.

---

Also note

[2016-11-07 14:48] mattdunn4465 commented on #806
I have the enterprise version and when clicking on Sflow it says no active
flows, eventhough all flows are from remote switches

On Mon, Nov 7, 2016 at 4:09 AM, simonemainardi notifications@github.com
wrote:

[2016-11-07 16:09] #812 closed, assigned to nobody

[2016-11-07 21:06] s2105 opened #814 "extended flow search criteria doesn't show"
Hello,

We have installed ntopng 2.4.161004 - Pro Small Business Edition and try to look into extended flow search criteria as discussed here. can you please tell us how to enable it. we tried -F doesn't work

http://www.ntop.org/wp-content/uploads/2016/10/ntop-Users-Meeting-Sharkfest-2016-[ntopng].pdf

[2016-11-07 22:39] simonemainardi commented on #814
what do you mean with it doesn't work?

Please, post the full ntopng command line arguments used and also attach the console output so we can see it there is any error.

thank you

[2016-11-08 10:02] simonemainardi commented on #811
Presently, not all the GUI functions support querying networks. You should inspect the code in `scripts/lua/modules/db_utils.lua` and extend these functions to make sure they support ranges of ip. Some of them already have that support but not all of them.

Feel free to provide a pull request. Thank you.

[2016-11-08 10:02] #811 closed, assigned to nobody

[2016-11-08 10:03] simonemainardi commented on #781
issue is now resolved. new `ntopng-data` packages with updated information have been released.

[2016-11-08 10:03] #781 closed, assigned to nobody

[2016-11-08 10:05] simonemainardi commented on #580
@emanuele-f is this part of your flow acrivity contribution? can we consider it implemented?

[2016-11-08 10:11] simonemainardi commented on #813
- right-click on the browser and hit inspect elements to see if there are any js errors
- inspect ntopng logs and see if Lua goes oom when generating the report

[2016-11-08 10:16] simonemainardi commented on #796
it's not possible that you are dropping all these flows with just a few KB worth of traffic. You should tune your MySQL. Why there's a system lock status for queries? what's the MySQL deployment? Are you using a master-slave setup over a slow network?

[2016-11-08 12:52] souzaeric commented on #813
this show up on my log: [Lua.cpp:5740] WARNING: Script failure [/usr/share/ntopng/scripts/lua/pro/get_from_top_talkers_db.lua][not enough memory]

But I have enough memory, I have 11 Gb Ram free.

This is my inspect elements:

Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. For more help, check https://xhr.spec.whatwg.org

[2016-11-08 14:56] souzaeric commented on #680
Hi Alestor, How did you fix this problem:

Anyway when creating Reports (yes they don't rely on the SQL Queries like historical data explorer ;-) ) for 30Days I get the following Error message:

[Lua.cpp:5134] WARNING: Script failure [/usr/share/ntopng/scripts/lua/pro/get_from_top_talkers_db.lua][not enough memory]

[2016-11-09 09:03] emanuele-f commented on #580
This feature should be enabled separately from flow activity stuff

[2016-11-09 09:30] emanuele-f commented on #813
@souzaeric how many local hosts do you have in your network?

[2016-11-09 11:23] i7446047 opened #815 "Incorrect OS Detection"
I'm not sure whether this is an issue or rather an end user problem. NtopNG is working well, however, it is not detecting some of the OSs correctly. E.G. The NtopNG Server running on Debian 8 has detected itself as running Windows. My Fortigate firewall is also detected as windows.

If there is anywhere to amend this information could somebody let me know?

BR
i7446047

[2016-11-09 12:04] souzaeric commented on #813
On Ntopng I don't start with the option -m for local network, so, all hosts are considered remote hosts.

Even so, I don't know tell you exactly how many posts I have in the environment.

[2016-11-09 19:42] lucaderi commented on #815
Is your debian host a router perhaps?

[2016-11-09 20:12] i7446047 commented on #815
Hi Luca,

No, The debian host is a minimal debian install with all of the requirements to run NtopNG. It has a static IP and a link to a mirror port on a switch. It has no other function.

BR
i7446047

[2016-11-10 14:10] simonemainardi commented on #784
fixed in : https://github.com/ntop/ntopng/commit/aa8789db7f282e5106a9dd53a9cdec791b782277

[2016-11-10 14:10] #784 closed, assigned to simonemainardi, ValentinaViscarelli

[2016-11-10 15:23] Dubbeldrank opened #816 "Dashboard disappearing"
I run the stable version of ntopng on ubuntu 16.04. At first login after restarting or rebooting ntopng will open fine, after logging out and in the dashboard is gone and 'Top Flow Talkers' will be displayed full screen. The only way to get the dashboard back is to restart ntopng, but after logging out the same problem appears.
![ntopng_dashboard](https://cloud.githubusercontent.com/assets/2338338

[2016-11-10 15:32] simonemainardi commented on #816
I guess you are referring to the professional dashborard. That dashboard is only available for the first 10 minutes.

[2016-11-11 08:44] simonemainardi commented on #814
@s2105 can you please explain what do you mean with 'it doesn't work'? can you check the ntopng logs to see if there are errors?

[2016-11-11 10:04] simonemainardi commented on #809
ntopng marks packets using `nf_set_verdict2` or `nf_set_verdict_mark`, depending on what is available. Mark is an int that corresponds to the nDPI protocol id as it is pointed out in the readme you linked.

Once the packet is marked you can use for example iptables mark module to do your actions, e.g.,

`iptables -m mangle -A POSTROUTING -m mark --mark 123 -j DROP`

[2016-11-11 10:17] Niko78 commented on #811
I checked code and I found where the issue could be

64 rsp = expandIpV4Network(host_or_profile)
65 follow = follow .." AND ((IP_SRC_ADDR>="..rsp[1].." AND IP_SRC_ADDR <= "..rsp[2]..")"
66 follow = follow .." OR   (IP_DST_ADDR>="..rsp[1].." AND IP_DST_ADDR <= "..rsp[2].."))"
67 if peer ~= nil and peer ~= "" then
68 rsp = expandIpV4Network(peer)
69 follow = follow .." AND ((IP_SRC_ADDR>="..rsp[1]..

[2016-11-11 11:57] simonemainardi commented on #806
@fullmoon4465 can you please report the configurations used both for nprobe and ntopng.

nprobe processes sflow that can potentially come from multiple exporters. Processed sflow messages are then exported to ntopng via zmq (over a counter topic). Information such as deviceIP (the exporter router) and ifIndex (the interface on the router) are transmitted over zmq. When ntopng receives that informa

[2016-11-11 13:47] simonemainardi commented on #796
solution given. no feedback received. closing for inactivity.

[2016-11-11 13:47] #796 closed, assigned to simonemainardi

[2016-11-11 13:48] simonemainardi commented on #792
Solution given. Have not been receiving feedback for 9 days. Closing for inactivity.

[2016-11-11 13:48] #792 closed, assigned to simonemainardi

[2016-11-11 14:45] KUV-VOKL opened #817 "Configuration for "virtual-nbox" and ntopng"
Hi,
i using a virtual nbox and ntopng license. - that means the nbox is instaledl on a vmware host in a virtual machine

I want:
- Manage and view the ALL traffic and ALL flows from "Local <-> Remote".
- To see who is eating my bandwidth. (And maybe limit this traffic by a rule)

I have made some configuration wtih NFQUEUE, but i dont know if this correct and get working proberly.

That is my way:

[2016-11-11 14:55] mattdunn4465 commented on #806
ntopng.conf

-w=3000
-W=0
-g=-1
-m="192.168.1.0/24, 10.50.0.0/23,10.50.6.0/24, 10.50.13.0/24, 10.50.14.0/24,
10.50.16.0/20, 10.50.32.0/20, 10.50.64.0/20, 10.50.80.0/20, 10.50.96.0/20,
10.50.112.0/21, 10.50.120.0/24"
-d=/storage/ntopng
-G=/var/run/ntopng.pid
-i=tcp://127.0.0.1:5556
-i=tcp://127.0.0.1:5557
-i=tcp://127.0.0.1:62057
-i=tcp://127.0.0.1:62058
-i=tcp://127.0.0.1:62059
--online-license-ch

[2016-11-11 14:59] simonemainardi commented on #806
correct, if you need an extension for the enterprise license contact us privately

[2016-11-11 14:59] #806 closed, assigned to nobody

[2016-11-11 18:02] IvnSoft commented on #809
I tried that. (btw, there is an error in your example line)

Ntopng  (ntopng x86_64 v.2.5.161102) is being ran like this :
ntopng -m 10.3.0.0/16,10.2.0.0/16,10.1.0.0/16,192.168.0.0/16 -i eth0 -i eth1 -i eth2 -i eth3
eth0 and 1 are in a bridge
eth2 and 3 are other bridge
Just to be sure, the test were done with ntopng ran like this :
ntopng -m 10.3.0.0/16,10.2.0.0/16,10.1.0.0/16,192.168.0.0/16 -i b

[2016-11-11 18:08] IvnSoft commented on #809
Forgot to mention, the version of ntopng was downloaded from your servers in binary/RPM form.

[2016-11-11 18:54] IvnSoft commented on #809
Just to corroborate, also compiled the version from git, and checked that nfq_set_vertict2 was available :

checking libnetfilter_queue/libnetfilter_queue.h usability... yes
checking libnetfilter_queue/libnetfilter_queue.h presence... yes
checking for libnetfilter_queue/libnetfilter_queue.h... yes
checking for nfq_create_queue in -lnetfilter_queue... yes
checking for nfq_set_verdict2... yes

It al

[2016-11-11 19:27] IvnSoft commented on #809
Ok, im giving up for today.
I've checked the source code, and cannot find any calls to nfq_set_verdict2 anywhere except the config script and supporting files.

As far as i can tell, packets are not being marked with this call.

[2016-11-11 21:33] ValentinaViscarelli commented on #809
@IvnSoft
your scope is create a bridge and filter/shape the traffic on it. Isn't it?
If so you don't need to manage mark id and iptables.
If you create a linux bridge ntopng isn't able to act in active way on the bridge.
Ntopng is able to create a bridge for you and it is able to filter and shaping traffic on the bridge.
For example (in this way you create a bridge between eth0 and eth1):
  ntopng

[2016-11-11 21:40] IvnSoft commented on #809
The problem with that solution is that the software allow for a limited number of traffic profiles, and limited rules to shape traffic. Right now im running 6 different rules per each navigating host (one for each protocol to watch out) with more than 3000 hosts. And i need to change every single rule via scripting.
Thats why i ruled out the traffic shaping use of ntopng and investigated on the ma

[2016-11-12 03:36] alexxsun opened #818 "How to remove/uninstall ntopng?"
Hi guys, this may not be a "good" topic here, but for some reasons, I need to remove ntopng on my Archlinux.
I downloaded it from github, built it and it worked very well.
How can I remove ntopng completely?
The file is in ```\home\myname\programs\ntopng```. Just delete this folder?
How about files in ```/usr/local/share/ntopng/```
Thanks.

[2016-11-12 15:21] emanuele-f commented on #818
If you installed it using "make install", then you can run "make uninstall" to remove it. You should also manually remove /var/tmp/ntopng directory and do a redis FLUSHDB on the ntopng database. Moreover, if you used the mysql connection (ntopng option "-F"), then you may need to flush the relevant mysql database too.

Although archlinux is not actually supported by us, you can find an AUR package

[2016-11-12 15:21] #818 closed, assigned to nobody

[2016-11-12 15:30] emanuele-f commented on #816
@Dubbeldrank if you need the pro features of ntopng, like the dashboard, historical views and reports, please consider buying the professional version of ntopng. You can find prices at https://shop.ntop.org, contact us if you need any assistance. Thank you.

[2016-11-12 15:30] #816 closed, assigned to nobody

[2016-11-12 17:05] ValentinaViscarelli commented on #809
No. The only way to mark the traffic is the using of netfilter queues.
I have added an user case in https://github.com/ntop/ntopng/blob/dev/doc/README.netfilter
It should be fine for you. It tried it and this works for me.

[2016-11-12 17:26] IvnSoft commented on #809
Aha.
I will try that way and post my results.

Thanks

[2016-11-12 23:23] Andrew17856 commented on #297
@JStyleT Not sure if you solved the missing preference menu issue, but I have also experienced it.  The fix is here:  https://forum.pfsense.org/index.php?topic=121067.0

@lucaderi Is there any news please on the integration of ntopng with pfSense please (i.e. to allow pfSense to use the nDPI protocol classifications in firewall rules)?

Thanks.

[2016-11-14 17:17] IvnSoft commented on #809
I got some luck.
Using NFQUEUE in the PREROUTING/mangle table worked for a couple of hosts. Packets are being marked and correctly identified.
But as soon as i get more traffic going, ntopng says

14/Nov/2016 14:14:49 [NetfilterInterface.cpp:91] ERROR: NF_QUEUE receive error
14/Nov/2016 14:14:49 [NetfilterInterface.cpp:96] Leaving netfilter packet poll loop

And the traffic stops flowing. Restarti

[2016-11-14 20:16] ValentinaViscarelli commented on #809
I have added more information to "ERROR: NF_QUEUE receive error" log.
Please try the tomorrow release and post the new log.
Thanks

[2016-11-14 20:20] IvnSoft commented on #809
Ok.
FYI, i fixed that error with a lot of fine tuning of network parameters. But now im stuck with the default queue length of 1024 in recent kernels (3.16)

 nf_queue: full at 1024 entries, dropping packets(s)

Im still reading how i can change the default (using nfq_set_queue_maxlen perhaps, but looks like a per-app basis).

[2016-11-15 16:52] lucaderi commented on #815
can you make a pcap capture to see if I can reproduce the bug in our lab?

[2016-11-15 17:02] IvnSoft commented on #809
Tried the new ntopng-2.5.161115-1708.x86_64.rpm and pfring-6.5.0-993.x86_64.rpm.
Same issues.

15/Nov/2016 14:04:25 [Ntop.cpp:1127] Setting local networks to 10.3.0.0/16,10.2.0.0/16,10.1.0.0/16
15/Nov/2016 14:04:25 [Redis.cpp:103] Successfully connected to redis 127.0.0.1:6379@0
15/Nov/2016 14:04:25 [NtopPro.cpp:118] [LICENSE] Read license from Redis [XXXXXX]
15/Nov/2016 14:04:25 [NetfilterInterfa

[2016-11-15 17:51] IvnSoft commented on #809
I give up.
The source code available does not have the queue binding code... As the log says the binding is done in NetfilterInterface.cpp:124
That file is not available for the recent community version, so i cannot test. It should be simple as adding nfq_set_queue_maxlen(nfQHandle, 65536); before setting mode.

Is there any way to try and compile the pro version to modify that code ?

[2016-11-15 19:14] IvnSoft commented on #809
Well, finaly decided to hijack the call to nfq_set_mode and replace it with nfq_set_queue_maxlen and the original nfq_set_mode.
It works, and was able to set the queue len to any number. However, ntopng is not able to keep up with the amount of traffic and latency spikes awfully after a few mins.... So, it will have to go.

The original question from this ticket was answered, so i will close the t

[2016-11-15 19:14] #809 closed, assigned to ValentinaViscarelli

[2016-11-15 19:17] emanuele-f commented on #786
@atlanteinformatica, thank you for reporting. The bug has been fixed. Please test next daily rebuild. Reopen the issue if necessary.

[2016-11-15 19:17] #786 closed, assigned to emanuele-f

[2016-11-15 22:28] s2105 commented on #814
Hello,

I am trying to put following command 👍
root@ntopng:~# ntopng -F "mysql;localhost;ntopng;flows;root;5360880;" and
following error is received:

15/Nov/2016 10:57:46 [Ntop.cpp:1121] Setting local networks to 127.0.0.0/8
15/Nov/2016 10:57:46 [Redis.cpp:92] Successfully connected to redis 127.0.0.1:6379@0
15/Nov/2016 10:57:46 [NtopPro.cpp:122] [LICENSE] Reading license from /etc/ntopng.license

[2016-11-16 03:23] IvnSoft opened #822 "ntopng is not able to empty NFQUEUE fast enough"
Hi guys.

I've been trying to use ntopng to apply shaping to stations based on protocol. I bought a pro license, as i was told that it was able to mark packets and i would be able to classify using that mark.

The problem is, according to the documentation now, is that ntopng only marks packets when using NFQUEUE, which seems to work fine for a couple of hosts. As soon as i get enough traffic (>50

[2016-11-16 08:08] dtrizna opened #823 "Occasionaly can't post data to ElasticSearch in case of Netflow rates up to 7 Mbps"
Hi, community!

I don't believe anyone hasn't met this kind of problem before, so I am asking for your advice.

I am using nProbe Standard and ntopng Pro licences, as base OS serves Centos 7, Netflow traffic rates are average in about 1 Mbps with pikes to 7 Mbps. Although in result ntopng-MySQL solution wasn't usable (it took really long time to explore historical data even with 1h range), so the

[2016-11-16 09:01] emanuele-f commented on #814
Hi @s2105, does the command `mysql -u root -p 5360880 -D ntopng -e "show tables"` execute correctly?

[2016-11-16 09:21] emanuele-f commented on #813
The web server running ntopng web ui internally works with Lua VMs, which indeed has a memory limit (1GB I think) no matter how much RAM you have. The report page is significally memory intensive since it has to fetch a lot of data, expecially when the number of hosts is huge. Since the solution requires some accurate thoughts, I'll mark this as an enhancement for now. Thank you.

[2016-11-16 09:22] emanuele-f commented on #805
@e73kiel do you have any updates?

[2016-11-16 09:35] emanuele-f commented on #579
@lucaderi do you wish to add support for the lost packets or we can close the issue?

[2016-11-16 10:04] simonemainardi commented on #823
Hi,

you should try and set

[code]

To allow fast recycling / reuse of sockets in a TIME_WAIT status. As you have ntopng and ES on the same box is safe to use both.

---

ntopng already batches several flows into a single POST https://github.com/ntop/ntopng/blob/dev/src/ElasticSearch.cpp#L135

---

How many flows/sec do you have on average? I guess you should tune your local ES to increase the in

[2016-11-16 10:44] pshute opened #824 "Ntopng chart time axis formatting problems"
I'm running 2.5.161113 - Pro Small Business Edition.

Charts are displayed in several places in ntopng's web interface. I find these difficult to interpret beyond a one day date range because of several problems:
- It doesn't display the dates on the time axis.
- The times are relative to the current time, so they aren't whole hours.
- The chart appears to always be divided into the same number of

[2016-11-16 10:50] simonemainardi commented on #814
remove the last `;` if it is not part of the password and it will work.

[2016-11-16 10:50] #814 closed, assigned to nobody

[2016-11-16 11:11] e73kiel commented on #805
@emanuele-f  still the same. i get the error:
HTTP/1.1 500 Internal server error Content-Type: text/html Connection: close   Script "/usr/share/ntopng/scripts/lua/host_details.lua" returned an error:
/usr/share/ntopng/pro/scripts/lua/modules/snmp_utils.lua:388: attempt to concatenate a nil value

after 1 or 2 reload the SNMP section disables. When i restart the service it appears again and reacts

[2016-11-16 11:12] e73kiel commented on #805
same error on the log line:
[Lua.cpp:5134] WARNING: Script failure [/usr/share/ntopng/scripts/lua/host_details.lua][/usr/share/ntopng/pro/scripts/lua/modules/snmp_utils.lua:392: bad argument #1 to 'tonumber' (value expected)]

[2016-11-16 12:08] dtrizna commented on #823
In the interface graph with selection of "Active Flows" there're numbers in between of 200,000 and 300,000.

But your first suggestion is totally correct - enabling those kernel parameters helped, now number of active sockets are ~300. There's no more previously mentioned log messages from ntopng daemon. I see increase in whole information amount in about 15%, this portion of data was missed befor

[2016-11-16 12:08] #823 closed, assigned to simonemainardi

[2016-11-16 13:59] james-shumba opened #825 "Host periodic/timeframe reports"
I would like to have host reports for individual hosts showing the realtime, daily, weekly,monthly and annual data specific to a selected host. At the moment clicking on home then reports gives a report with adjustable time frame but its not per host, its for all the traffic.

[2016-11-16 14:25] i7446047 commented on #815
Hi Luca,

I'm still fairly new to this excellent tool. How do I generate the traffic you want and how do I capture it in a form suitable to send.

In addition, my Debian box is now being seen as OSX.

Best regards
Bruce

[2016-11-16 14:42] emanuele-f commented on #825
Hi James, you can get the per-host report only for hosts in your local network. When starting ntopng, specify the -m parameter with the list of your local networks (e.g. ntopng -m "192.168.1.0/24,192.168.2.0/24"). Then, in the host page, you should see a "Local" label instead of "Remote". Click on the "report" icon at the top of the bar to get the host report.

![host_page](https://cloud.githubuse

[2016-11-16 14:52] james-shumba commented on #825
Hi, its running on windows and I dont seem to have those options available. see below

![capturexx](https://cloud.githubusercontent.com/assets/23502107/20351724/f07ab2fe-ac1c-11e6-9311-4e57421e3d15.JPG)

[2016-11-16 15:06] emanuele-f commented on #825
You miss the -m parameter, either specify it from command line or modify you ntop service file

[2016-11-16 15:08] s2105 commented on #814
getting following error.

ubuntu@ntopng:~$ mysql -u root -p 5360880 -D ntopng -e "show tables"
Enter password:
ERROR 1049 (42000): Unknown database '5360880'

On Wed, Nov 16, 2016 at 3:50 AM, simonemainardi notifications@github.com
wrote:

[2016-11-16 15:12] emanuele-f commented on #800
This should be caused by the same bug affecting #786, now fixed. Please reopen if necessary. Thank you.

[2016-11-16 15:12] #800 closed, assigned to emanuele-f

[2016-11-16 15:18] emanuele-f commented on #814
@s2105 does the tip @simonemainardi gave you work?

[2016-11-16 15:19] s2105 commented on #814
nope

On Wed, Nov 16, 2016 at 8:18 AM, Emanuele Faranda notifications@github.com
wrote:

[2016-11-16 15:35] james-shumba commented on #825
On the command line its not a recognized command.
Advise how i can go about changing the service

[2016-11-16 15:36] simonemainardi commented on #814
@s2105 as you reported in the error your command is tricking mysql into thinking the database name is your password:

[code]

try this `mysql -u root -D ntopng -e "show tables" -p` and insert the password manually to see if your MySQL works OK

[2016-11-16 15:40] s2105 commented on #814
Here is the output:

root@ntopng:~# mysql -u root -D ntopng -e "show tables" -p
Enter password:
root@ntopng:~#

On Wed, Nov 16, 2016 at 8:37 AM, simonemainardi notifications@github.com
wrote:

[2016-11-16 15:55] emanuele-f commented on #825
Note that the per-host report page is fairly new in ntopng, and it is not currently available in the windows builds. Please consider switching to rolling development versions available for other platforms (Ubuntu http://packages.ntop.org/ubuntu/16.04/x64/ntopng/ for example).

Nevertheless, in order to access many host graphs and related feature, setting the -m flag is essential.
The procedure is

[2016-11-16 16:22] simonemainardi commented on #814
ok that is fine: it means that there are no tables but the database exists.

So re-run  ntopng -F "mysql;localhost;ntopng;flows;root;5360880" and post the output

[2016-11-16 16:27] s2105 commented on #814
Here is the output:

ubuntu@ntopng:~$ ntopng -F "mysql;localhost;ntopng;flows;root;5360880"
16/Nov/2016 09:26:48 [Ntop.cpp:1121] Setting local networks to 127.0.0.0/8
16/Nov/2016 09:26:48 [Redis.cpp:92] Successfully connected to redis
127.0.0.1:6379@0
16/Nov/2016 09:26:48 [NtopPro.cpp:122] [LICENSE] Reading license from
/etc/ntopng.license
16/Nov/2016 09:26:48 [MySQLDB.cpp:549] Attempting to conne

[2016-11-16 16:36] s2105 commented on #814
Ok, so looks like I have to start with superuser.

On Wed, Nov 16, 2016 at 9:27 AM, Samir Rana samir.rana@cybera.ca wrote:

[2016-11-16 16:44] s2105 commented on #814
Ok, How do you I incorporate command with historic data command.

ntopng -i tcp://127.0.0.1:5556 -d /var/tmp -w 3000 -v >> /dev/null &

On Wed, Nov 16, 2016 at 9:36 AM, Samir Rana samir.rana@cybera.ca wrote:

[2016-11-16 17:25] simonemainardi commented on #814
you should refer to the official users guide that explains how to execute that

[2016-11-16 17:29] s2105 commented on #814
Ok, Thank you very much for your support.

On Wed, Nov 16, 2016 at 10:25 AM, simonemainardi notifications@github.com
wrote:

[2016-11-16 23:28] cliveaustin opened #826 "NTOPng crashes - symbol lookup error: rrd_lastupdate_r"
Hi,

I've installed NTOPng (2.5.161116 - Pro Small Business Edition) in a dedicated CentOS 6.8 openVZ container (Proxmox 3.4) via YUM. Nprobe collects netflow data from my Mikrotik router and for the most part NTOPng is working "as described on the box" but....

There's one significant problem that I've been unable to resolve (or even shed much light on). NTOPng will ALWAYS crash if I use its web

[2016-11-17 09:41] emanuele-f commented on #826
Hi, what version of rrdtool is installed in your system? Please try and post the output of the following command: `ldd ntopng | grep rrd`

Sample output:

[code]

Then `readelf -s /usr/lib/librrd.so.8 (wich is the second part of the output above) | grep rrd_lastupdate`

Sample output:

[code]

[2016-11-17 13:43] atlanteinformatica commented on #788
Hi Valentina,

we can't view this change in our appliance.
ntopng -V
v.2.5.161117 [Enterprise/Professional Edition]

Regards

[2016-11-17 14:06] ValentinaViscarelli commented on #788
Just to clarify....
nbox and ntopng are two different things. You have updated ntopng but not nbox.
At the moment you cannot update nbox because we have had some problems with ubuntu16 and we removed the nbox package building for ubuntu 16.
We will restore everything asap.
Please try to update in few days.

[2016-11-17 16:39] papage opened #827 "TCP retransmissions detection (feature request)"
It would be nice to see TCP retransmissions that happen in a network. We could use the data to reroute traffic and adjust our networks accordingly.

So, lf ntopng could monitor flows and log retransmissions that are happening, this info could be exported to ELK and then we would be able to use it.

Just an idea.

Cheers,,
Sp

[2016-11-17 17:27] simonemainardi commented on #827
ntopng exports that information to ELK provided that it is used in conjunction with nprobe having a template that includes:

[code]

regards,

[2016-11-17 17:27] #827 closed, assigned to nobody

[2016-11-17 17:58] henriqueps commented on #796
@simonemainardi sorry for not reply before, cause I was traveling.
About mysql, no, I didn't make any additional configuration.
Is there anything that I could do in mysql?

[2016-11-17 23:23] harmane commented on #825
Is this available in the stable releases? I have both a pro version and community, both on apt-ntop-stable, that do not have this option. Local networks are set in ntopng.conf accordingly.

[2016-11-18 01:25] IvnSoft commented on #826
You need to install a newer version of rrdtool.
I used 1.4.7 and that was good enough.

[2016-11-18 01:39] IvnSoft commented on #822
Kept trying on different bridges i have available.
The best i could manage was with the optimizations shown above, and using ~25 nfqueues (ntopng wouldnt let me use more than 30)
The best i could achieve was about 230mbps (at 16.000pps aprox). When the pps went over 16k, latencies went up, and started loosing packets.
When leaving ntopng just monitoring the network bandwidth reached up to 760mbps

[2016-11-18 04:08] cliveaustin commented on #826
Hi emanuele-f,

Here's what I get...

 **ldd /usr/local/bin/ntopng|grep rrd**
        librrd.so.4 => /usr/lib64/librrd.so.4 (0x00007f91a1e78000)

 **readelf -s /usr/lib64/librrd.so.4 | grep rrd_lastupdate**
   188: 0000000000017000   416 FUNC    GLOBAL DEFAULT   11 rrd_lastupdate

It dosen't seem to include rrd_lastupdate_r? ...so perhaps IvnSoft's suggestion (get a more recent rrdtool) might be t

[2016-11-18 08:35] simonemainardi commented on #826
@cliveaustin correct, follow @IvnSoft suggestion and update rrdtool

[2016-11-18 08:49] emanuele-f commented on #825
@james-shumba and @harmane the per host report is currently available in the latest pro development version.
Please note that the feature is just a _trial_, we plan to move it to the new enterprise version of ntopng, with extended features like report pdf export and graphs. Please note that enterprise licence is not currently available in the shop, we only provide free trial versions, time limited

[2016-11-18 08:51] seleznevae opened #828 "Historical data in ntopng"
I am trying to save data in ntopng and load them after restart.
I am starting ntopng as follows:
sudo ntopng  -i tcp://127.0.0.1:5556  -F "mysql;localhost;ntopng_db;flows;root;my_password"

During work I can see that ntopng pushs data to the database. I can see them in MySQL.
But after restart (to restart I use the same command sudo ntopng  -i tcp://127.0.0.1:5556  -F "mysql;localhost;ntopng_db;fl

[2016-11-18 09:11] james-shumba commented on #825
So even in Linux its not available using the -m flag option?

am currently installing Linux to that i get full features

[2016-11-18 09:14] emanuele-f commented on #828
Hi, in order to access the historical data, you should click on the _home_ icon at the top of the page, then "Historical Data Exporer". You mysql configuration is ok.

[2016-11-18 09:41] seleznevae commented on #828
Thanks.
It seems that I missed it.
Problem is solved. Thanks again.

[2016-11-18 09:41] #828 closed, assigned to nobody

[2016-11-18 20:32] ValentinaViscarelli commented on #817
@KUV-VOKL
An example of NFQUEUE is shown here:
https://github.com/ntop/ntopng/blob/dev/doc/README.netfilter
I tried the use case shown in this document a couple of days ago and it works. Your configuration is different you have just one subnet and in the example there is a NAT.

Step 1) Forget ntopng and NFQUEUE and make sure that you are able to pass the traffic from eth1 to eth2 and viceversa. D

[2016-11-19 17:45] lucaderi commented on #826
Fixed. Packages are being rebuilt

[2016-11-19 17:45] #826 closed, assigned to nobody

[2016-11-19 17:46] lucaderi commented on #150
Implemented in the current development build.

[2016-11-19 17:46] #150 closed

[2016-11-21 01:00] cliveaustin commented on #826
Confirming this issue is resolved.

I only had to "yum -y update" and reboot to bring in the changes.

Now I can see those lovely graphs again withoug NTOPng crashing... Woohoo!

Thanks Luca!

Best Regards,
Clive Austin

Armadillo interNET
w. www.anet.com.au
e. clive@anet.com.au
m. 04 1217 6673

On 20/11/16 4:45 am, Luca Deri wrote:

[2016-11-21 08:13] ghost commented on #356
Hello everyone,

I have a problem that seems to be close to martin8883´s problem.
My ntopng webserver only shows ipv6 traffic.
The nprobe sends ipv4 and ipv6 traffic to the interface from which ntop receives the json streams.
This was tested by launching nprobe to watch the traffic in the Debian Terminal.
The Debian version is: 8.6 "Jessie"
Ntop version: 2.4.161113 - Pro Small Business Edition
Npr

[2016-11-21 08:47] simonemainardi commented on #356
@JohnSummer run nprobe with `-b 2 --debug` so it will print json messages on the console. Those messages are sent to ntopng over ZMQ. Check and/or paste some messages here along with your full nprobe configuration.

[2016-11-21 09:22] ghost commented on #356
This is the nprobe-eth1.conf file
-----------------------------------------------------------------------------------------------------------
[code]

This is the ntopng.conf file
-----------------------------------------------------------------------------------------------------------
[code]

I will send an example of json massages very soon.

Thank you.

[2016-11-21 09:49] ghost commented on #356
Here comes the json sample...

[json.txt](https://github.com/ntop/ntopng/files/603199/json.txt)

If there is anymore info needed, please tell me.

[2016-11-21 09:59] lucaderi opened #829 "Invalid Alert Icons"
In ntopng alerts there is a difference between errors and warnings. Unfortunately both in the menu bar and in the footer, regardless of the severity, it is always shows a red icon instead of a yellow/orange icon even in case there only warnings.
Please change the icon color (adding two different icons) for alerts and warnings without collapsing all in one icon.

[2016-11-21 12:47] henriqueps opened #830 "MySQL Dropping flows"
In Mysql Flows Export Statistics, it's showing a bunch of dropped flows.
Is there any particular configuration to do in mysql to avoid this?
![droppedflows](https://cloud.githubusercontent.com/assets/23039111/20483158/bdce5ebe-afd7-11e6-88da-57d3fb8333ee.jpg)

[2016-11-21 14:02] Sulzer-GmbH opened #831 ""No Results Found" in GUI"
Hi *,
We installed “nProbe for Unix” and ntopng on Jessie and see no errors in logs.
But under GUI is the message to see: “No Results Found”.
Could you help us, please.
Thanks a lot, Farid
Sulzer Company

## /etc/ntopng/ntopng.conf

-i="tcp://127.0.0.1:5556"
-G=/var/run/ntopng.pid
-d=/var/tmp
-v=

###################################
## /etc/nprobe/nprobe-netflow.conf

-i=none
-n=none
--zmq="tcp://

[2016-11-21 15:23] simonemainardi commented on #831
Hi,

first let's make sure that nprobe is collecting flows: run it with extra options `-b 2 --debug` and see the output. You should see flows coming in and going out to ntopng as json, e.g.,
[code]

Then, once you are sure flows are going through, launch ntopng with option `-v 3` and see if it correctly receives them. It should tell something like:
[code]

[2016-11-21 15:25] simonemainardi commented on #356
@JohnSummer please try and repeat steps as https://github.com/ntop/ntopng/issues/831#issuecomment-261967692

[2016-11-21 19:08] simonemainardi commented on #830
duplicate of https://github.com/ntop/ntopng/issues/796

ntopng stores MySQL tables as MyISAM as it is faster in non-transactional environments such as that of the flows.

MySQL MyISAM parameters you should tune are the following:
[code]

There's not a single recipe. You should try them on your hardware and find a proper combination. Please feel free to report once done. Thank you.

[2016-11-21 19:08] #830 closed, assigned to nobody

[2016-11-21 19:39] henriqueps commented on #830
@simonemainardi Thanks.

[2016-11-21 20:44] morphyno opened #832 "pass "--community" flag in /etc/ntopng/ntopng.conf"
It seems we can't pass debug "--community" flags via /etc/ntopng/ntopng.conf. Is this something can be added for future releases?

[2016-11-22 07:11] ValentinaViscarelli commented on #788
@atlanteinformatica
The nbox package for ubuntu 16 is available again.

[2016-11-22 08:15] ghost commented on #356
Maybe I have found the a part or the source of the Problem, when i out-comment the -T parameter in the nprobe config. file, i see only ipv4 traffic in ntopng.

So i think the Export-Template:

-T="%IPV4_SRC_ADDR %IPV4_DST_ADDR %IPV4_NEXT_HOP %INPUT_SNMP %OUTPUT_SNMP %IN_PKTS %IN_BYTES %FIRST_SWITCHED %LAST_SWITCHED %L4_SRC_PORT %L4_DST_PORT %TCP_FLAGS %PROTOCOL %SRC_TOS %SRC_AS %DST_AS %IPV4_SRC_M

[2016-11-22 08:49] simonemainardi commented on #832
`--community` is not a debug flag, it is used to start ntopng in community mode without the initial 10 minute trial of the professional version.

Try to add it in the configuration file in a new line as:
[code]

[2016-11-22 08:55] simonemainardi commented on #356
We've already done a fix that may solve your problem: https://github.com/ntop/ntopng/commit/6af6ed00fb56f0a9b6f5bcea3ca0af75e25f91d0

I see that you are using version 2.3. Please update ntopng to the latest 2.5 that contains the fix along with the latest dev version of nprobe.

[2016-11-22 11:57] seleznevae opened #833 "historical interface doesn't show up"
I've built ntopng and nDPI for the latest  commits in dev branch according to the README.compilation.
When I start ntopng:
sudo ./ntopng  -F "mysql;localhost;ntopng_db;flows;root;my_password"

It connects to the MySQL and inserts data to it.
However historical interface is not shown
![2](https://cloud.githubusercontent.com/assets/16498414/20522724/43bcee8e-b0cb-11e6-9b3a-e63f67fa07f9.png)

When I

[2016-11-22 12:39] simonemainardi commented on #833
historical data explorer is implemented in the Professional version. Professional version is not available when building from sources thus you can't get it. The only way is to use the binary packages.

[2016-11-22 12:39] #833 closed, assigned to nobody

[2016-11-22 13:00] atlanteinformatica commented on #788
Thank you. Now we can see the change.
Unfortunatelly, although the ntopng service was configured to start automatically, it didn't start.
We started manually after reboot. Is it a bug/issue to notice here, or we have to open a new issue?

[2016-11-22 13:14] ValentinaViscarelli commented on #788
It is not important open other bug. I will check and I will let you know.

[2016-11-22 16:32] Sulzer-GmbH commented on #831
Hi Simone,
thanks for your support.
With -b 2 I see the connections:

22/Nov/2016 17:15:32 [util.c:4163] [flow] {"8":"172.17.41.109","12":"255.255.255.255","15":"0.0.0.0","10":0,"14":0,"2":1,"1":328,"22":1479831329,"21":1479831329,"7":68,"11":67,"6":0,"4":17,"5":0,"16":0,"17":0,"9":0,"13":0,"42":17}
22/Nov/2016 17:15:32 [engine.c:3409] Emitting Flow: [->][udp] 172.17.41.109:68 -> 255.255.255.255:6

[2016-11-23 08:29] KUV-VOKL commented on #817
Yes, you are right, i have only one subnet. in witch example there is a NAT ?
I have tried the example, but it seems that does not work. How can i check this ?
What means "Forget ntpnog and nfqueue" ?
Yes, i want to make sure for the traffic from eth1 to eth2, but how ? ipforward ?

[2016-11-23 08:30] KUV-VOKL commented on #817
please help me again

[2016-11-23 09:38] simonemainardi commented on #831
@Sulzer-GmbH OK so that means that nprobe correctly receives and output flows but ntopng can't get them. Please, make sure ntopng can actually connect to nprobe.

From the ntopng-v3.txt logs enclosed I can see that there is no ZMQ interface specified. Make sure to tell ntopng the nprobe ZMQ endpoint as an interface`-i tcp://127.0.0.1:5556`

[2016-11-23 09:46] ghost commented on #356
I have installed the last unstable version of ntopng and it works, now is see ipv4 and v6 traffic.
Thanks a lot !

[2016-11-23 10:02] simonemainardi commented on #356
Thanks for reporting @JohnSummer

[2016-11-23 11:52] emanuele-f commented on #825
@james-shumba, since 17 November the per-host report has been moved to the enterprise edition. Please contact us to get a trial if interested. Thank you.

[2016-11-23 11:52] #825 closed, assigned to nobody

[2016-11-23 11:55] james-shumba commented on #825
Thanks. Please give me the trial and advise what the upgrade entails from the current license I have

From: Emanuele Faranda [mailto:notifications@github.com]
Sent: Wednesday, November 23, 2016 1:52 PM
To: ntop/ntopng ntopng@noreply.github.com
Cc: James Shumba James.Shumba@mopani.com.zm; Mention mention@noreply.github.com
Subject: Re: [ntop/ntopng] Host periodic/timeframe reports (#825)

@james-sh

[2016-11-23 13:38] flapegue opened #834 "error: ‘ndpi_protocol_category_t’ does not name a type"
Hi,

i have this building error with d3eca30 commit

[code]

An idea of the problem ?

Thanks

[2016-11-23 13:48] flapegue commented on #834
it solved, nDPI version mismatch
sorry

[2016-11-23 13:48] #834 closed, assigned to nobody

[2016-11-23 14:11] Sulzer-GmbH commented on #831
Hi Simone,
I think ZMQ is ok (see image). You could see too in my first post the "nprobe-netflow.conf" and ntopng.conf". I don't kknow where shoud I config this?

![zmq](https://cloud.githubusercontent.com/assets/23635076/20564755/f64050a0-b18e-11e6-9d7d-8739e9c3b6f6.jpg)
![rx-updates_sflow-updates](https://cloud.githubusercontent.com/assets/23635076/20564759/f885c390-b18e-11e6-847f-ec35e618e810.j

[2016-11-23 16:03] Sulzer-GmbH commented on #831
netstat -tupln | grep ntop
tcp        0      0 0.0.0.0:3000            0.0.0.0:*               LISTEN      616/ntopng

 tcpdump -n
15:31:21.145265 IP 192.168.8.31.2055 > 172.17.31.193.2055: UDP, length 388
15:31:21.995786 IP 172.17.0.2.2055 > 172.17.31.193.2055: UDP, length 208

[2016-11-24 13:29] simonemainardi commented on #788
it looks like the issue is solved. Thanks @ValentinaViscarelli

[2016-11-24 13:29] #788 closed, assigned to ValentinaViscarelli

[2016-11-24 13:30] simonemainardi commented on #832
@morphyno did you try the solution proposed?

[2016-11-24 14:06] simonemainardi commented on #831
@Sulzer-GmbH in the file `ntopng-v3.txt` you enclosed there was no zmq interface just the system interfaces. Can you please enclose an ntopng verbose log (-v 3) that uses the ZMQ interface. Thank you.

[2016-11-25 11:48] #829 closed, assigned to simonemainardi

[2016-11-25 11:50] simonemainardi commented on #832
Solution given. No feedback received. Apparently the uses confused the role of --community flag.

[2016-11-25 11:50] #832 closed, assigned to nobody

[2016-11-25 17:26] Sulzer-GmbH commented on #831
@simonemainardi
log of
[ntopng.log.txt](https://github.com/ntop/ntopng/files/613696/ntopng.log.txt)

ntopng with -v 3

[2016-11-25 19:32] Sulzer-GmbH commented on #831
@simonemainardi
Is there any problem with VM machine?
I installed ntopng and nprobe on other machine, and it works now.
But how could I transfer the licence from old machine to new?
Thanks a lot

[2016-11-27 16:14] ValentinaViscarelli commented on #817
@KUV-VOKL
ntopng configured with nfqueue can work just if you have a forwarding between 2 interfaces that works. So before configuring ntopng and nfqueue make sure that you have configured a forwarding that works (step 1).
If forwarding doesn't work we cannot help you. The forwarding is made via tools/applications of linux (no ntop applications is need to do this).
After you are sure that you have

[2016-11-27 19:46] lucaderi opened #835 "IPv4/IPv6 search"
When a host has both an IPv4 and an IPv6 address pointing to the same symbolic name, searches are difficult.
- In the top right field, there are two items (one for IPv4 and one for IPv6) with the same symbolic name, but nowhere it is mentioned which host has the IPv4 and which the IPv6 address
- The search result is http://localhost:3000/lua/host_details.lua?host=SYMBOLIC and as both IPv4 and v6 a

[2016-11-28 07:45] KUV-VOKL commented on #817
i am not not a linux pro !
i think my forwarding is ok. But:
please give me some hints for configuration of forwarding of my two interfaces, so i can check if my configuarion is working,
thank you for your answers, but please give me more technical help !
Thx

[2016-11-30 01:36] cclements commented on #834
I have the same compile error.  Can you tell me how you changed/specified the nDPI version to make it work?

[2016-11-30 07:44] MadsRC opened #838 "Unable to select interface in webinterface"
After having used ntopng-pro for some time internally, I agreed to help a customer set ntopng up, and eventually buy the pro edition for them.

The setup is a newly installed, fully updated CentOS 7 server (As of yesterday), with the ntopng repository added. It has 2 interfaces, one of which is a PCI device mapped through the VMware host to the virtual machine using DirectIO. A Cisco switch is mir

[2016-11-30 08:27] emanuele-f commented on #834
@cclements you simply need to update nDPI

[2016-11-30 08:34] emanuele-f commented on #838
Can you post the full startup log of ntopng and your ip link/ifconfig output?

[2016-11-30 09:07] michciopro opened #839 "PfSense Unable to start HTTP server on port 3000: Address already in use"
Hello there! I installed Community Release of PfSphere on VMWare Virtual Box, and I want to use it as virtual router for gathering traffic logs and saving them into MYSQL database. PfSphere has ntopng embedded (v.2.3.160927), I can access it through 3000 port, but when it comes to activating traffic logs via shell using this command:
ntopng -F "mysql;localhost;ntopng;flows;root;"
I'm getting error

[2016-11-30 09:25] emanuele-f commented on #839
You already have a running instance of ntopng listening on port 3000, you need to terminate that first. You can either prevent the ntopng service from automatically load or specify custom options in /etc/ntopng/ntopng.conf and reload the service. Please read the manual https://github.com/ntop/ntopng/blob/dev/doc/UserGuide.pdf for more details.

[2016-11-30 11:03] michciopro commented on #839
Ok I can stop the service from running, and then restart it from my shell, but when I do I can't access the web GUI anymore. I don't have etc/ntopng directory, and I can't find the ntopng.conf file

[2016-11-30 11:26] michciopro commented on #839
It's like PfSense is generating ntopng.conf file dynamically and there is no mysql option enabled.

[2016-11-30 14:26] emanuele-f commented on #839
Can you post the output of ntopng starting from command line?

This forum post https://forum.pfsense.org/index.php?topic=115748.0 says that, as you suspect, PfSense overwrites ntopng configuration.
Since you cannot reach ntopng anymore after stopping the service and running from cli, I suspect you need to do perform port 3000 forwarding manually, as explained in https://doc.pfsense.org/index.php/H

[2016-11-30 14:36] #835 closed, assigned to simonemainardi, emanuele-f

[2016-11-30 16:19] depraved22 opened #840 "Identify Plex as a Custom Proto"
I opened up this issue for nDPI:

https://github.com/ntop/nDPI/issues/309

It was asked to come over here as I'm running:

[code]

Startup line:

`Startup Line	ntopng --interface "p3p1" --http-port "3000" --dns-mode "1" --local-networks "192.168.1.0/24" --data-dir "/var/tmp/ntopng" --disable-autologout "" --ndpi-protocols "/etc/ntopng/custom.protos" --http-prefix "/ntopng" --daemon "" --disable-lo

[2016-11-30 20:02] cclements commented on #834
Thanks for getting back to me so quickly, however, this didn't seem to correct the issue.  I followed the instructions in README.compilation exactly, and nDPI successfully built and installed, however, ntop still errors on make:
[code]

[2016-12-01 08:51] simonemainardi commented on #834
@cclements I noticed that you are using nDPI under `/usr/include/libndpi-1.8.0/libndpi` while actually the README.compilation says to checkout the nDPI sources in another place: https://github.com/ntop/ntopng/blob/dev/doc/README.compilation#L48

please make sure to follow all the steps and possibly remove nDPI under  `/usr/include/libndpi-1.8.0/libndpi` to make sure it won't be used.

[2016-12-01 09:44] emanuele-f commented on #840
Hi, I've tested your pcap file with ntopng 2.5 and the protocol Plex is correctly identified.

![screenshot at 2016-12-01 10-38-05](https://cloud.githubusercontent.com/assets/5488003/20788910/dab1c25e-b7b2-11e6-82fa-7db2732eb698.png)

Please update to get the latest features and fixes. Thank you.

[2016-12-01 12:33] depraved22 commented on #840
Does 2.5 exist with the Pro version? I don't see it anywhere to download.

[2016-12-01 12:49] emanuele-f commented on #840
Yes of course, please check out http://packages.ntop.org/

[2016-12-01 12:58] depraved22 commented on #840
Thanks. I was looking in the stable area and not finding it. I installed it and it seems to be picking it up via my limited test. Thanks!

[2016-12-01 12:58] #840 closed, assigned to nobody

[2016-12-02 07:21] MadsRC commented on #838
Sorry for the delay

Journalctl output is:
[code]

ip link
`1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN mode DEFAULT
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
2: ens160: <BROADCAST,MULTICAST,PROMISC,UP,LOWER_UP> mtu 1500 qdisc mq state UP mode DEFAULT qlen 1000
    link/ether 00:50:56:a2:6d:9e brd ff:ff:ff:ff:ff:ff
3: ens192: <BROADCAST,MULTICAST> mtu 1500 q

[2016-12-02 18:12] emanuele-f commented on #838
Since it's a mirroring port, there is no need for the interface to be up.
Please post a *full* ntopng startup log.

[2016-12-03 01:37] itnas-s opened #843 "apt-get (ubuntu) update error packages.ntop.org Hash Sum mismatch"
Sorry for my english
Hi
I have ntopng install from "wget http://apt.ntop.org/14.04/all/apt-ntop.deb"
It does not error until today 3/12/2016 I update apt-get package "apt-get update"
and show error
"Failed to fetch http://packages.ntop.org/apt/14.04/all/Packages  Hash Sum mismatch"
"Some index files failed to download. They have been ignored, or old ones used instead."

I test with "stable builds"

[2016-12-03 02:50] #843 closed, assigned to nobody

[2016-12-03 08:10] MadsRC commented on #838
I found out that it was a driver issue. Apparently the igb driver wasn't installed or loaded. Fixed that, and everything runs smoothly. Never seen Linux actually assigning a interface a name while having driver issues though... But I guess there's first time for everything.

--
Med venlig hilsen | Best regards
Mads R. Havmand

On 2 December 2016 at 19.12.32, Emanuele Faranda (notifications@github.

[2016-12-03 10:37] simonemainardi commented on #838
Thanks for reporting .

[2016-12-03 10:37] #838 closed, assigned to nobody

[2016-12-05 08:39] michciopro commented on #839
02/Dec/2016 09:33:32 [Ntop.cpp:1013] Setting local networks to 127.0.0.0/8
02/Dec/2016 09:33:32 [Redis.cpp:92] Successfully connected to redis 127.0.0.1:6379@0
02/Dec/2016 09:33:32 [MySQLDB.cpp:470] Attempting to connect to MySQL for interface dummy...
02/Dec/2016 09:33:32 [MySQLDB.cpp:510] Succesfully connected to MySQL [localhost:root] for interface dummy
02/Dec/2016 09:33:32 [MySQLDB.cpp:470] A

[2016-12-05 09:12] emanuele-f commented on #839
Can't you see the "Historical Data Explorer" in the home menu? Are you accessing the correct port?

![s1](https://cloud.githubusercontent.com/assets/5488003/20879257/2893820a-bad3-11e6-8384-c1d087ccfda7.png)

[2016-12-05 09:36] valantislevas opened #844 "geoip fail? 2.5.161205 - Community Edition"
I have the 2.5.161205 - Community Edition version on my debian server installed from git..
i do make geoip it downloads it but in information of ntopng cant see geoip loading with no failure etc..
just like doesnt installed/compiled..

[2016-12-05 09:46] michciopro commented on #839
![niedziala](https://cloud.githubusercontent.com/assets/24267393/20880356/00e2d1de-bad8-11e6-9a1a-6953148cd4c6.png)

[2016-12-05 09:48] emanuele-f commented on #844
Can you post the output of ./configure?

[2016-12-05 09:49] valantislevas commented on #844
You are now ready to compile typing make
root@srv:~/ntopng# ./configure
checking for gcc... gcc
checking whether the C compiler works... yes
checking for C compiler default output file name... a.out
checking for suffix of executables...
checking whether we are cross compiling... no
checking for suffix of object files... o
checking whether we are using the GNU C compiler... yes
checking whether gcc

[2016-12-05 09:51] michciopro commented on #839
It's like I can stop service "ntopng" which started triggered by webGUI, but when I want to restart it from shell I can't access webGUI anymore. To access it again i must turn off service in my webGUI pfSense config, start it again, but it doesnt start with mysql option enabled.

[2016-12-05 09:57] valantislevas commented on #844
fixed i compile it again after i install libgeoip-dev thanks

[2016-12-05 10:01] #844 closed, assigned to nobody

[2016-12-05 10:24] simonemainardi commented on #839
@michciopro you should follow up with pfsense support. We don't officially support pfsense yet (there's already another issue pending: https://github.com/ntop/ntopng/issues/297). In addition, version 2.3 is just an old development version as the latest stable version is 2.4.

[2016-12-06 02:06] dscdtc commented on #527
I got this error too how can I fix it ,THX.
dh_clean: Compatibility levels before 5 are no longer supported (level 4 requested)

[2016-12-06 09:48] simonemainardi commented on #527
@dscdtc use the code in the dev branch I guess you are using old code

[2016-12-06 11:41] ALIREZA-Z opened #845 "segmentation fault with libssl.so.8"
Hello
When i configure ntopng to use ssl (as explain in document)it is terminated with segmentation fault.
FreeBSD 10.3
ntopng 2.4
ndpi 1.8
curl 7.51.0
and libssl.so.8

and if i change libssl.so to libssl.so.7 it doesn't have a problem and it work correctly.
It seems there is problem in set_ssl_option method of mongoose.c(the problem is raised when i use libssl.so.8)
any idea?

[2016-12-06 16:28] emanuele-f commented on #845
Hi, maybe you have compiled ntopng with old libssl headers (version 7) and you try to link against new (version 8)?

[2016-12-06 17:39] simonemainardi commented on #579
support is satisfactory at the moment. thank you.

[2016-12-06 17:39] #579 closed, assigned to simonemainardi, lucaderi, emanuele-f

[2016-12-06 17:41] simonemainardi commented on #831
@Sulzer-GmbH thanks for reporting. Please, contact the ntop team privately for instructions on how to transfer a license.

[2016-12-06 17:41] #831 closed, assigned to simonemainardi

[2016-12-06 18:35] simonemainardi commented on #824
implemented in 36df7511c4f9b2beacfeb42211048cf8b47fc611

[2016-12-06 18:35] #824 closed, assigned to emanuele-f

[2016-12-06 19:12] simonemainardi commented on #683
@andressalesa we made a fix in nprobe that may solve the issue https://github.com/ntop/nProbe/issues/127

please update ntopng and nprobe to the latest dev builds and reopen in necessary. thank you.

[2016-12-06 19:12] #683 closed, assigned to lucaderi

[2016-12-06 19:15] simonemainardi commented on #815
@i7446047 a pcap is a plain file that you can generate with tcpdump for example. Make sure to run tcpdump on the same interface monitored by ntopng so we can reproduce the issue. Upload the pcap when done.

[2016-12-07 00:08] flapegue opened #847 "attempt to concatenate a nil value"
in ntopng > ntopng Runtime Status, i have this error

`07/Dec/2016 00:50:47 [Lua.cpp:5997] WARNING: Script failure [/usr/share/ntopng/scripts/lua/flow_stats.lua][/usr/share/ntopng/scripts/lua/flow_stats.lua:455: attempt to concatenate a nil value]`

what is the problem ?

[2016-12-07 00:35] dscdtc commented on #527
@simonemainardi Thank you , but I am sure I am using dev branch ... it still error on Kali
make: [clean] Error 2 (ignored)
cp -f /usr/share/misc/config.sub config.sub
cp -f /usr/share/misc/config.guess config.guess
dh_clean
dh_clean: Compatibility levels before 5 are no longer supported (level 4 requested)
debian/rules:55: recipe for target 'clean' failed
make: *** [clean] Error 25
dpkg-buildpacka

[2016-12-07 10:56] ALIREZA-Z commented on #845
hi
I check the build environment and final system and i find that openssl version is the same.
the method that is used in set_ssl_option in mongoose third-party is deprecated.I think this is the problem?!

[2016-12-07 12:25] simonemainardi commented on #845
can you please enclose the backtrace of the crash?

[2016-12-08 01:31] N4Z1T commented on #297
any chance to apply this update in pfsense?

https://github.com/ntop/ntopng/commit/ca83eb48a77c17b82fa2b22e26f74be021922507

[2016-12-08 10:00] emanuele-f commented on #847
Which version of ntopng are you using?

[2016-12-08 10:24] dtrizna opened #849 "Data downfalls every 5 mins in ElasticSearch"
Hi, ntopng community!

Probably, this is not as much issue, as question related to communication between ntopng and ElasticSearch.

When I observe Netflow information in Kibana, there's behaviour like this:
![image](https://cloud.githubusercontent.com/assets/15322061/21002671/97a181de-bd2f-11e6-9661-2efc36d754c6.png)

Every 5 mins there's downfall in data, that is ~1 min long.
This is kinda weird,

[2016-12-08 10:26] michciopro commented on #839
Hello, I solved my issue. All i did was removing ntopng from pfSense tab "System->Package Manager", and reinstalling it from command line using FreeBSD repositiories, it also upgraded ntopng to newer version, in addition i needed to install redis-server (ntopng uses it to host a session) and mysql packages to store traffic data.

[2016-12-08 10:31] emanuele-f commented on #839
Thank you for reporting. Closing the issue

[2016-12-08 10:31] #839 closed, assigned to nobody

[2016-12-08 14:22] flapegue commented on #847
It has been repaired the last two days with last update
Thanks

[2016-12-08 14:22] #847 closed, assigned to nobody

[2016-12-08 20:19] njcwotx opened #850 "Dashboard graphs displaying incorrectly"
I just noticed my dashboard screen shows my traffic at Kbits/s.

On the left side, my top talkers are showing correctly in Mbits but the graphs are reporting in Kbits and appear undifferentiated.  I updated it a couple of weeks ago, Ill check repo to see if there is another update to try
	2.5.161123 - Pro Small Business Edition
![ntopng dashboard issue](https://cloud.githubusercontent.com/assets/2

[2016-12-08 20:42] simonemainardi commented on #849
there is a dropped elastic search flows counters in the ntopng interface page. Can you please check that? It that counter greater than zero? Does that counter increases periodically?

[2016-12-08 20:49] simonemainardi commented on #850
can you please report the configurations used by both ntopngs? It looks like the first one is not able to properly do DPI on the traffic as it shows everything as unknown.

[2016-12-09 00:16] njcwotx commented on #850
A bit confused, are you asking for the confguration file during compiling?

I used RPMs from nmon.net/centos-stable and did not compile them directly.  I can try to dig up something if you can give me some more hints.  Thanks.

[2016-12-09 00:43] njcwotx commented on #850
FYI, after my last post, I went in and checked the repository, there was a slightly newer version available for ntopng and pfring.  I had update a couple weeks ago and those were the only two newer packages inside the dependency set, so I ran an update.  the real-time graphs are now working.  I will let it go a few hours and re-check to see if the last-day graphs improve.

[2016-12-09 01:02] njcwotx commented on #850
the graphs are working again, doing the update of the packages to the latest version did the trick.  Had a little scare, the moving interface graphs at the bottom of the pages stopped working, but a clearing of the browser cache fixed it.  Thanks.

[2016-12-09 10:00] simonemainardi commented on #850
thanks for reporting

[2016-12-09 10:00] #850 closed, assigned to nobody

[2016-12-09 14:19] lucaderi opened #851 "ntopng unable to reconnect to the database when MySQL is restarted"
root@pc-deri:/home/deri# tail /tmp/ntopng.log
09/Dec/2016 15:16:51 [MySQLDB.cpp:595] Attempting to connect to MySQL for interface tcp://0.0.0.0:1234c...
09/Dec/2016 15:16:51 [MySQLDB.cpp:595] Attempting to connect to MySQL for interface eth0...
09/Dec/2016 15:16:51 [MySQLDB.cpp:624] ERROR: Failed to connect to MySQL: Can't connect to local MySQL server through socket '/var/run/mysqld/mysqld.sock'

[2016-12-09 16:20] simonemainardi commented on #851
can you please try and `telnet 127.0.0.1 3306` to see if you get a connection refused error thanks

[2016-12-09 16:40] lucaderi commented on #851
The connection is not refused. If you restart ntopng everything will work again.

[2016-12-10 12:26] lucaderi opened #852 "Script failure in community edition"
10/Dec/2016 13:24:54 [Lua.cpp:6017] WARNING: Script failure [/home/deri/ntopng/scripts/lua/if_stats.lua][/home/deri/ntopng/scripts/lua/modules/graph_utils.lua:104: attempt to compare string with number]

It can be reproduced with
http://locahost:3000/lua/if_stats.lua?id=0&page=historical

[2016-12-11 08:26] ALIREZA-Z commented on #845
Using OpenSSL port version 1.0.2_14
ntopng (2.4 release version) compile with openssl port.
curl compile with openssl port.(Set GSSAPI_None for using openssl port)
====================================================
log when i execute the command#ntopng -W 3001
11/Dec/2016 10:30:09 [Ntop.cpp:1121] Setting local networks to 127.0.0.0/8
11/Dec/2016 10:30:09 [Redis.cpp:92] Successfully connected to

[2016-12-11 10:17] simonemainardi commented on #845
nDPI sources are not in sync with ntopng sources. For ntopng 2.4 you need to compile with nDPI 1.8-stable

[2016-12-11 15:59] dtrizna commented on #849
I didn't found value called "Dropped [ElasticSearch] flows", but possibly you mention that counter named "Dropped Packets" next to "Received Traffic" value?
It is equal with zero. This is correct place to look?
![image](https://cloud.githubusercontent.com/assets/15322061/21081117/b3afe280-bfc8-11e6-9718-b1023d987789.png)

Paralelly, I've captured raw Netflow data on network interface for ~5 mins.

[2016-12-11 22:13] abibleboy opened #855 "Need help connecting to Mikrotik Router from Mac version of ntopng"
I need help connecting to my Mikrotik using its Traffic Flow. I have set up ntopng on my macbook. It seems to use something called a redis-server instead of nprob (i think). I have set my macbook as a target on the listening port of the redis-server. But all i get when i start the ntopng and look on the web interface is my local interfaces not the router board or any of its interfaces. What am i m

[2016-12-12 08:32] ALIREZA-Z commented on #845
hi simonemainardi
I think emanuele-f  is true because mongoos uses libssl.so.7 despite WITH_OPENSSL_PORT=yes (in FreeBSD we can use openssl as base or port.)

https://wiki.freebsd.org/OpenSSL/PortsLinkingBase

thanks

[2016-12-12 13:39] emanuele-f commented on #845
@ali-reza-zareian  do you have any hint what component should honor the WITH_OPENSSL_PORT preference in FreeBSD?

[2016-12-12 17:20] #852 closed, assigned to simonemainardi, emanuele-f

[2016-12-13 09:34] KUV-VOKL commented on #817
New update, new problems.
I have version 2.5.161209.
So many alerts on all hosts, so that after 16384 alerts the ntopng crashed.
How can i stop the alerting generally ? - The switch in preferences is grayed out.

The next thing (my main problem) is, i am using netfilter and i only see the remote address when i am using tracert.
On the other site, in ntopng i see obly the traffic from local to remo

[2016-12-13 11:02] #849 closed, assigned to simonemainardi

[2016-12-13 11:30] ipbowker opened #856 "No graphical representation of Application or Application Breakdown in Reports view."
I've got a freshly installed linux NTOPNG (fully licensed) server with a locally configured sensor interface (Family PF_RING) and a second interface (Family zmq) from a remote server running nProbe.

When I generate a report, I get no graphical representation of Applications or Application Breakdown for the local interface.  I do for the remote one however.  All the stats etc are available for bot

[2016-12-13 11:36] ipbowker commented on #856
![shot1](https://cloud.githubusercontent.com/assets/24543919/21138922/553599c8-c128-11e6-8f6d-4bdbaae38d75.png)
![shot2](https://cloud.githubusercontent.com/assets/24543919/21138929/5980f482-c128-11e6-900a-65768919c51c.png)
Not sure if this is related.
13/Dec/2016 13:10:04 [Lua.cpp:4755] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/minute.lua][/usr/share/ntopng/scripts/lua/modules/

[2016-12-13 14:20] emanuele-f commented on #856
Which version of ntopng are you running?

[2016-12-13 14:24] ipbowker commented on #856
Generated by ntopng Pro [Small Business Edition] v.2.4.161204

[2016-12-13 14:30] emanuele-f commented on #855
Hi @abibleboy, the redis-server is something not related to nprobe. What you really need in order to see the traffic of your Mikrotik is nProbe, which requires a paid licence but it's also available in a 10 minutes trial. Check out http://packages.ntop.org/ to install it and contact us via email if you need licence support.

In order to configure you Mikrotik setup, please refer to this guide http

[2016-12-13 16:00] mathieufrh opened #857 "Saving wrong timestamp in redis"
Hello,

I have a problem regarding redis and the `seen_first` and `seen_last` Host variables.
The `Host::getJSONObject()` function is regularly called and I add a debug string inside it to print `first_seen` and `last_seen` variables values.
However it seems that the last time the function is called, when deserializing to redis, the timestamps are both `0`. Here is what I get with my debug string:

[2016-12-13 17:30] abibleboy commented on #855
Thanks for the response.

I went and looked at the Packages , which one will work on my Mac ? I don't see an OS X link ... ... also what's the redis- server doing then ?

Thanks

[2016-12-14 00:13] gabrieldt opened #858 "Correct license but nprobe only executes in demo mode"
I run nprobe in a virtual box machine and when I have generated the license it ran ok, but after a couple a days it decided do run in demo mode. I have double checked the license it is correct.
Is it because the license is for educational purposes ?

What can I do to solve this problem? If you need more information please let me know.

Best regards.

[2016-12-14 09:52] simonemainardi commented on #855
@abibleboy you can install ntopng on mac osx using `homebrew` (http://www.ntop.org/ndpi/running-ntopng-and-ndpi-on-macosx/) or by building it from sources. However, nProbe, that is required to collect flows from the mikrotik, is not available for os x. So you should plan to install it on a supported architecture.

redis server is used my ntopng as a cache and to store configurations and options. I

[2016-12-14 09:52] #855 closed, assigned to nobody

[2016-12-14 09:54] simonemainardi commented on #527
@dscdtc please report the exact version of ntopng you are trying to install on Kali

[2016-12-14 11:16] simonemainardi commented on #817
The preferences switch is no longer grayed out. Please try and update. If you get a crash please enclose a backtrace / coredump so we can inspect the issue.

[2016-12-14 11:27] simonemainardi commented on #856
@ipbowker Do you have VLANs?

[2016-12-14 11:39] ipbowker commented on #856
Classification: UK OFFICIAL
The feeds are from a buffered SPAN port, so it is possible that there are VLAN tags.  Both the NTOPNG and nProbe feeds are identical however.

[2016-12-14 11:49] ValentinaViscarelli commented on #858
If you use a virtual machine in order to run nprobe or ntopng, you have to add this parameter in configuration:

--online-license-check

Regards

[2016-12-14 18:36] Uzzi commented on #858
I've ntop on Fisical server and I've the same problem
Also with --online-license-check in ntopng.conf
nprobe -v tell me I've a  [valid license]  [357 days left]

[2016-12-14 19:07] simonemainardi commented on #858
@gabrieldt nprobe (and ntopng) licenses are bound to the hardware. Running on top of a VM may result in hardware changes (e.g., the hypervisor can change the cards MAC addresses). Adding `--online-license-check` should solve the issue.

@Uzzi you added `--online-license-check` to ntopng.conf and you are checking the nprobe license... if you want to check ntopng do `ntopng --check-license`

[2016-12-14 19:18] simonemainardi commented on #856
please visit page "hosts" and see if there's a VLAN menu entry. I need to understand if the issue can actually be related to the presence of VLANs.

[2016-12-14 19:19] Uzzi commented on #858
Ok.
Now I've ntop licence code in /etc/ntopng.license.
ntopng --check-license ---> License Ok
I see Upgrade to Professional version
Why?

nProbe Pro:
nprobe -v ---> [valid license]

[2016-12-15 10:37] ipbowker commented on #856
Classification: UK OFFICIAL
Morning,

No there is no VLAN menu under hosts.

I've spoken to the network team and they are only spanning a single VLAN to the TAP so it's unlikely to be tagged.

Thanks
Iain

[2016-12-15 12:25] ALIREZA-Z commented on #845
Sorry But i dont understand your question!
_what component should honor the WITH_OPENSSL_PORT preference in FreeBSD?_

[2016-12-16 09:14] emanuele-f commented on #856
Can you post a screenshot of your "On-Disk Timeseries" settings?

[2016-12-16 09:17] emanuele-f commented on #858
@Uzzi can you post the startup log of ntopng?

[2016-12-16 09:32] emanuele-f commented on #845
I'm not a FreeBSD user, but I think the problem of choosing to compile against the "base" version or the "port" version of SSL should be handled by the FreeBSD build system, not by ntopng.

For example, "pkgconfig --cflags" should return the correct version of SSL based on WITH_OPENSSL_PORT preference. Can you verify this?

[2016-12-16 09:35] emanuele-f commented on #815
@i7446047 do you have any updates? Have you managed to create the pcap dump?