[2020-04-23 10:07] simonemainardi commented on #3805
Proposed solution is the following.

Move alert builders which are now in alerts_api.lua each one inside its alert_definition.lua file, e.g.,

[code]

Each alert definition lua file will have an extra key `builder` in the table it returns. This can be referenced every time the builder is needed across the code. References to the builder should be as

[code]

NOTE: there are also for alert builders

[2020-04-23 10:08] simonemainardi commented on #3813
merged with #3805

[2020-04-23 10:08] #3813 closed, assigned to nobody

[2020-04-23 10:15] scdit46 commented on #3826
Available interfaces:
        [index=0] 'VMware Virtual Ethernet Adapter'
        [index=1] 'VMware Virtual Ethernet Adapter'
        [index=2] 'Microsoft'
        [index=3] 'TAP Adapter OAS NDIS 6.0'
        [index=4] 'Microsoft'
        [index=5] 'Microsoft'
        [index=6] 'VMware Virtual Ethernet Adapter'
        [index=7] 'Microsoft'

How to configure agent nprobe in windows for send traffi

[2020-04-23 12:17] simonemainardi commented on #3826
see https://www.ntop.org/guides/nprobe/how_to_start.html?highlight=windows#running-nprobe-on-windows

[2020-04-23 12:17] emanuele-f commented on #3826
You need to specify all the options in the command line:

[code]

[2020-04-23 12:31] xtrilla commented on #3818
Hi,

You mean it is related to who starts the conversation? Then it would make sense, as it would related much better to this RDD graph we have to general monitor ports:

![image](https://user-images.githubusercontent.com/33469164/80099638-12b5f480-856f-11ea-9cb8-fed1604440c7.png)

But just to be completely clear:

Local -> Remote = Traffic which has been requested by local IPs and originates from

[2020-04-23 14:07] emanuele-f commented on #3807
Availability counter percentage now shown into the gui (7bd499adb955b782fbef4ad8471691f9aba76d9b)

[2020-04-23 14:21] #3824 closed, assigned to cardigliano

[2020-04-23 15:00] lucaderi opened #3827 "Speedtest refresh not working"
![Screen Shot 2020-04-23 at 15 05 26](https://user-images.githubusercontent.com/4493366/80103086-f5375980-8573-11ea-921b-bd9574d41143.png)

For speedtest the refresh is not working as for the other measurements

[2020-04-23 16:04] cardigliano opened #3828 "Hide n2disk key if there is a ntopng Enterprise L license"
n2disk key is not required with Enterprise L (unless you need to record > 1Gbps), we need to hide the box or add a note.
Also check that everything is working (ability to enable recording and extract)

[2020-04-23 17:32] uwe-r opened #3829 "Can't display host timeseries since last update..."
Error is:
[code]

Version is current Enterprise version (but purchased before there were M and L versions).

Any idea would be appreciated. Thanks!

[2020-04-23 17:50] uwe-r commented on #3829
Hm, seems to go deeper than that... can't open Preferences either. Trace log shows dozens of lines with errors pointing out same nil value problem.

[2020-04-24 00:05] alcaldiapcr opened #3830 "Ubuntu 20.04 LTS Support"
ubuntu 20.04 LTS

wget http://apt.ntop.org/20.04/all/apt-ntop.deb (does not exist)

`apt install pfring-dkms nprobe ntopng n2disk cento`
`The package could not be located pfring-dkms`
`The package could not be located nprobe`
`The package could not be located n2disk`
`The package could not be located cento`

Please update the repositories for Ubuntu 20.04

Thanks

[2020-04-24 00:39] bobcat1111 opened #3831 "NTOP running NPROBE Unable to open interface nfqueue"
after a restart

I cannot get the probe to run any more ( previously working )
24/Apr/2020 00:31:23 [pro/pf_ring.c:377] Initializing PF_RING socket on device nfqueue..
24/Apr/2020 00:31:23 [nprobe.c:7648] Initializing pcap socket on device nfqueue..
24/Apr/2020 00:31:23 [nprobe.c:7659] ERROR: Unable to open interface nfqueue.
24/Apr/2020 00:31:23 [nprobe.c:9836] ERROR: Unable to open interface nfq

[2020-04-24 07:07] cardigliano commented on #3830
@alcalpcr Ubuntu 20 is not yet supported, we will release packages for it soon!

[2020-04-24 07:59] jacotec opened #3832 "Interface graph / historical data broken since 4.0.200423"
Going to the graph / histroical data view for an interface just returns a page with no data:

![image](https://user-images.githubusercontent.com/3321655/80188883-18b0e180-8612-11ea-82e3-139e0e69bf8e.png)

The log shows this error:

[code]

[2020-04-24 08:00] jacotec commented on #3829
Seems to be related to my #3832 ... that also gives me this " attempt to call a nil value (field 'isEnterpriseM')" error in interface graphs.

Maybe less frequent updated but better tested ones would be not bad ...

[2020-04-24 09:41] emanuele-f commented on #3822
Added one extra point in the chart as internally discussed (4309248829651bee18f96c9e9e2f69280f7f0dba) . It remains the problem for the first point in RRD which is not returned by RRD.

[2020-04-24 11:00] emanuele-f commented on #3832
Fixed in 870344e9a0f03e11b723d9bf27192b3974948b1e . A new package will be available in one hour.

[2020-04-24 11:00] #3832 closed, assigned to emanuele-f

[2020-04-24 12:01] emanuele-f commented on #3829
Duplicate of #3832

[2020-04-24 12:01] #3829 closed, assigned to nobody

[2020-04-24 12:47] emanuele-f commented on #3827
Cannot reproduce. What browser are you using? Can you provide the contents of the latest XHR reply to `get_active_monitoring_hosts.lua`?

[2020-04-24 14:04] emanuele-f commented on #3802
I've verified that there is an issue with the first point (the first gauge value is only kept into the metadata), so this is probably solved after #3822 is fixed.

[2020-04-24 14:40] emanuele-f commented on #3807
This is now shown into the gui (also in a 24-h chart).

[2020-04-24 14:40] #3807 closed, assigned to emanuele-f

[2020-04-24 14:41] lucaderi commented on #3827
I will take care of this issue and check if after all changes is still pending

[2020-04-24 14:43] emanuele-f commented on #3831
What options are you using in the nprobe configuration file? Please consider adding specific `-i` options for the network interfaces that you want to monitor (see https://www.ntop.org/guides/nprobe/cli_options.html)

[2020-04-24 15:34] emanuele-f commented on #3402
Fixed in c1a1ff54da6ef104585c36a021d5fdf4728894db and pro correlated commit.

[2020-04-24 15:38] lucaderi commented on #3802
Note that scores as missing from the Interface chart (shown only on the host chart). This need to be added

[2020-04-24 15:42] emanuele-f commented on #3402
Other charts also fixed in ebe2e78b7e1a7737560e9c3512402a1eacaf62ba

[2020-04-24 15:42] emanuele-f commented on #3819
Now the Sent and Rcvd labels are shown

[2020-04-24 15:42] #3819 closed, assigned to nobody

[2020-04-24 16:25] emanuele-f commented on #3821
Implemented in 345b202975dd6ef79cbf6cc5c42e49f68f183a5c

[2020-04-24 17:17] lucaderi commented on #3831
nfqueue is not a valid network interface PF_RING can use. Please provide details how to reproduce it

[2020-04-24 17:24] lucaderi opened #3833 "Implement attack mitigation via SNMP"
When ntopng is used with SNMP, ntopng knows where a certain host is located and how it attached to the network. This means that it is known the switch+interfaceId of the host.
In case of attack ntopng should be able to block selected hosts when they are for sure (so not a probability but for sure) attackers. They could be blocked by setting the interface down via SNMP (set on the operationalStatus

[2020-04-24 17:25] lucaderi commented on #3402
Exactly what are the charts that you have modified and that shall be tested?

[2020-04-24 17:26] lucaderi commented on #2220
@simonemainardi Any news?

[2020-04-24 19:01] CyberbreinAirw0lf opened #3834 "Script error"
See also attached screenshot:
The log /var/log/syslog is filled with this error.
What does this mean?

ntopng Enterprise Edition v.4.0.200423
Running on Ubuntu 18.04.4-LTS

Cheers - Will

![script-error](https://user-images.githubusercontent.com/64280991/80247709-ce118280-866e-11ea-8bf6-78d573da9859.jpg)

[2020-04-24 19:08] NogNeetMachinaal commented on #3834
Empty web pages on the alerts and interfaces - see also attached 2 screenshots.
Please advise - what could be wrong and how do I fix that?

Cheers - Will

=====

![empty-page-1](https://user-images.githubusercontent.com/64280991/80248104-91925680-866f-11ea-9efd-198d90e2e071.jpg)
![empty-page-2](https://user-images.githubusercontent.com/64280991/80248107-922aed00-866f-11ea-9c58-10b6afd36bf8.jpg)

[2020-04-24 19:11] CyberbreinAirw0lf opened #3835 "Empty web pages"
Team,

There are empty web pages on the alerts and interfaces - see also attached 2 screenshots.
Please advise - what could be wrong and how do I fix that?

ntopng Enterprise Edition v.4.0.200423
Running on Ubuntu 18.04.4-LTS

Cheers - Will

=====

![empty-page-1](https://user-images.githubusercontent.com/64280991/80248308-f2219380-866f-11ea-9762-dea017f5a9c7.jpg)
![empty-page-2](https://user-imag

[2020-04-24 23:15] mailinglists35 commented on #3678
could you add `iperf3` as well? `speedtest-cli` requires public internet server.

this is how someone did it for munin: https://github.com/mooondark/munin-iperf

[2020-04-25 07:53] lucaderi opened #3836 "Invalid extra point implementation"
This code https://github.com/ntop/ntopng/commit/4309248829651bee18f96c9e9e2f69280f7f0dba is not fully right
![Screen Shot 2020-04-25 at 09 35 22](https://user-images.githubusercontent.com/4493366/80274118-6132d280-86d8-11ea-992c-d47a74fa8e1a.png)
In the above graph an extra synthetic point has been added. This is an error. The extra point must be added *if and only if* the current time is past the

[2020-04-25 07:57] lucaderi commented on #3835
Can you please check if there are errors on the ntopng console? You can see them accessing the system interface -> health -> System Status

[2020-04-25 07:57] lucaderi commented on #3834
This was fixed already. Please upgrade ntopng and it will work.

[2020-04-25 07:57] #3834 closed, assigned to nobody

[2020-04-25 07:59] lucaderi commented on #3822
See #3836

[2020-04-25 07:59] #3822 closed, assigned to emanuele-f

[2020-04-25 08:08] CyberbreinAirw0lf commented on #3835
No errors .
In addition, it looks that things are working => consider this solved.

[2020-04-25 08:11] CyberbreinAirw0lf commented on #3834
Yes - correct => consider this issue resolved.

[2020-04-25 08:43] lucaderi opened #3837 "Rename measure in metric in timeseries"
Example
ts_utils.query(schema,
                           { ifid=ifid, host=host, measure=metric },
                           begin_time, end_time,
                           {
                              fill_value = 0/0, -- Show unknown values as NaN
                           }
                           )

should be

ts_utils.query(schema,
                           { ifid=ifid, host=host,

[2020-04-26 16:28] CyberbreinAirw0lf commented on #3417
Two suggestions:
(1) - Consider counting (and report) on the number of 0-win over time => an occasional 0-win may not always indicate there is a real problem.
(2) - Consider a more advanced approach by tracking the window size over time.This could then be used as an early warning system.

In both cases including a breakdown by client and server.

Thanks - Will

[2020-04-27 07:01] twistybin opened #3838 "Cannot start ntopng after reset linux"
Hi,
I try restart service ntopng but It cannot run, this is error :
[code]
Mysql is still running. so How can I fix ntopng it ?
My ntopng version v.4.1.200407	[Enterprise/Professional build]

[2020-04-27 07:18] bipin-stcs opened #3839 "ntopng crashed after upgrade to 4.1"
Hello,
ntopng went crash after an upgrade to 4.1. Here is the stack trace

[code]

[code]

[2020-04-27 07:34] emanuele-f commented on #3678
Please open a separate issue

[2020-04-27 07:37] #3835 closed, assigned to nobody

[2020-04-27 07:38] emanuele-f commented on #3838
Please inspect the output of `sudo journalctl -u ntopng` to find out the error reason

[2020-04-27 07:49] twistybin commented on #3838
Hi @emanuele-f , this is error:

[code]

So in the next step, Do I have to repair table mysql ?

[2020-04-27 07:54] emanuele-f commented on #3839
The crash should be fixed in cc5918fa6fab1fa3d132425ce3eb0448df265146 . For the other issues, please provide the contents of the /etc/ntopng/ntopng.conf file.

[2020-04-27 07:59] emanuele-f commented on #3838
It seems like you should repair the table, you can find some tutorials by searching `mysql table is marked as crashed` on google.

[2020-04-27 08:01] bipin-stcs commented on #3839
-x=512000
-X=512000
-G=/var/run/ntopng.pid
-i=tcp://127.0.0.1:5556
 -w=3000
-m="es-ip/19"
-n=3
-S=local
-q=

-F=es;ntopng;ntopng-%Y.%m.%d;http://es-ip-address:9200/_bulk;
-max-num-flows=1000000

Regarding the crash. What should I do?

[2020-04-27 08:05] emanuele-f commented on #3402
All the charts which have the sent/recv traffic counters, which are: Country traffic, AS traffic, Network traffic, Host traffic, SNMP interface traffic, Mac Address traffic and Host pool traffic

[2020-04-27 08:06] twistybin commented on #3838
Thank you.

[2020-04-27 08:06] #3838 closed, assigned to nobody

[2020-04-27 08:20] bipin-stcs opened #3840 "dpkg: error processing package pfring-dkms"
Hello
This error happens during an upgrade to 4.1 from 3.8
[code]
[code]

[2020-04-27 08:25] simonemainardi opened #3841 "[OS X package] ntopng failing to start"
Installed package http://packages.ntop.org/MacOS/ntopng-4.1.200405.pkg

[code]

[2020-04-27 08:50] emanuele-f commented on #3836
This should be fixed in d1ae6b545acaa6077678ad2cc005f8ca404c5c35.

[2020-04-27 08:58] emanuele-f commented on #3839
Please remove the `-max-num-flows=1000000` option as it is invalid (two dashed are needed) and duplicate (it is an alias for `-X`). Edit the `-X` option instead. The `-S=local` option should also be removed as it is not supported anymore. For the crash fix, a new package will be available in one hour.

Regarding the other warnings, please ensure that the folder `/var/lib/ntopng` is writable for yo

[2020-04-27 09:08] emanuele-f commented on #3840
From the output above, it seems like you are trying to upgrade to version 4.0 (which is stable) not to 4.1 . Please try to remove the packages and reinstall them as explained in https://www.ntop.org/support/faq/how-can-i-move-from-nightly-dev-builds-to-stable-and-vice-versa

[2020-04-27 09:14] emanuele-f opened #3842 "Ping should be disabled when running as unprivileged user"
Running ntopng with `./ntopng -i "tcp://127.0.0.1:5556"` generate error logs in the output every minute:

[code]

[2020-04-27 09:37] bipin-stcs commented on #3840
I followed the steps, still the error is same

[code]

[2020-04-27 10:31] emanuele-f commented on #3839
I was able to reproduce the startup warning/failures . They should be now fixed in https://github.com/ntop/ntopng/commit/7191f3e1a5e32cc779ba574f8dbdd41ec71d11df . Please wait an hour for the new package, then upgrade and report if everything works fine for you.

[2020-04-27 10:56] cardigliano commented on #3840
@bipin-stcs could you try with the below commands and provide us the output?

apt-get purge pfring-dkms
rm -rf /var/lib/dkms/pfring
apt-get install pfring-dkms

[2020-04-27 12:36] #3837 closed, assigned to emanuele-f

[2020-04-27 12:52] StewAlexander-com commented on #3708
@simonemainardi

Hopefully things with your team are ok with the Corona virus issue....

I have some time this week if you our one of your team members can remotely connect

[2020-04-27 12:53] bipin-stcs commented on #3840
That doesn't work as well. Please see the output

[code]

[2020-04-27 13:05] bipin-stcs commented on #3839
Everything working fine. Successfully upgraded to 4.1

[2020-04-27 13:05] #3839 closed, assigned to emanuele-f

[2020-04-27 13:46] emanuele-f commented on #3825
This is implemented in 00c5e9f9098e832ea792968cb28771ab3a5ce532

[2020-04-27 14:29] cardigliano commented on #3840
Please provide the output of the commands below:

dpkg --configure -D 777 pfring-dkms
dkms status

[2020-04-27 16:02] emanuele-f commented on #3802
Interface score chart added

[2020-04-27 17:21] bipin-stcs commented on #3840
Hello

[code]

[2020-04-27 17:42] cardigliano commented on #3840
Any chance I can connect to this box to take a look? (please drop an email to cardigliano at ntop.org in case)

[2020-04-27 19:25] lucaderi opened #3843 "Implement score drill down"
Currently in the network interface it is finally possible (#3802) to see the overall score. What is still missing is the ability to identify the top X hosts according to the score and then drill down.

[2020-04-27 19:25] lucaderi commented on #3802
Is it possible to drill down hosts according to score? I.e. top hosts according to score? I don't think so. So let me open a new ticket. I have open #3843 for this

[2020-04-27 19:25] #3802 closed, assigned to emanuele-f

[2020-04-27 19:30] lucaderi commented on #3841
Please understand that /usr/local/bin/ntopng-bin is not the binary to run but /usr/local/bin/ntopng
Also do not run ntopng from shell. ntopng on MacOS is a service started by launchctl: please see https://www.ntop.org/guides/ntopng/what_is_ntopng.html#installation

The question is: with launchctl ntopng works?

[2020-04-27 19:31] #3826 closed, assigned to nobody

[2020-04-27 20:29] jq-yeraz opened #3844 "Graphs more readable in dark theme"
In the dark theme, the grid lines of the graph are too bright.

Is this possible to slightly change some CSS styles :

![changes](https://user-images.githubusercontent.com/62381029/80416995-509b7b80-88d5-11ea-901c-5150d0de2691.png)

On the screenshot below, I changed on the two next classes :

    .nvd3 .nv-axis line
    .nvd3 .nv-axis path

This attributes :

     stroke-width: 0.8px; // make the

[2020-04-27 21:33] daruns commented on #2711
could somebody tell me what's the solution? -_-

[2020-04-28 06:10] bipin-stcs commented on #3840
Yes, would that be possible through a webex session? If yes, i will send an invitation to your email

[2020-04-28 07:19] cardigliano commented on #3840
Ok please go ahead

[2020-04-28 07:26] lucaderi opened #3845 "High CPU usage on non-Linux platforms"
On non Linux platforms, sometimes and suddenly the CPU goes crazy
![image](https://user-images.githubusercontent.com/4493366/80459011-0399c280-8932-11ea-830b-434a8c344350.jpeg)

Apparently this happens in particular when the computer goes idle, or after a wake-up

[2020-04-28 07:26] bipin-stcs commented on #3840
Thanks. I just send an invitation.

[2020-04-28 08:03] bipin-stcs commented on #3840
This issue is resolved.

[2020-04-28 08:03] #3840 closed, assigned to cardigliano

[2020-04-28 08:33] bipin-stcs opened #3846 "nprobe port not listening"
Hello
I can see the nprobe service is running, but I cannot see the port listening

[code]
[code]
[code]

[2020-04-28 08:51] bipin-stcs commented on #3846
Wrong configuration Human error.

[2020-04-28 08:51] #3846 closed, assigned to nobody

[2020-04-28 08:53] emanuele-f opened #3847 "ts_utils.listSeries does not return hosts list (RRD)"
The following query is expected to return the list of hosts for the specified interface, however when using RRD it returns the list of L7 protocols instead.

[code]

[2020-04-28 09:13] emanuele-f commented on #3780
In my opinion the preliminary work for this issue is to reply to these questions:

- Where to declare the aggregation key to use (e.g. associate it to a specific flow status/alert type or inside the alert_entity_value)
- Which flow alerts should be aggregated and their aggregation key to use
- What to show in the aggregated alerts messages (since the aggregation will lead to information loss, e.g.

[2020-04-28 10:00] bipin-stcs opened #3848 "cento exiting frequently"
Hi,

Cento application exiting infrequent intervals.

[code]
When I check the cento version, it says this
[code]
But the version is Valid
[code]
NOTE: It was working fine before, this happened after the upgrade to 4.1

[2020-04-28 10:13] emanuele-f commented on #3800
The minify target has been extended in 5eff97e55bf67231cf770c2f00aabbea5f106a0e . For now the git hook is not necessary.

[2020-04-28 10:13] #3800 closed, assigned to emanuele-f

[2020-04-28 10:14] emanuele-f commented on #3848
See the `Invalid license` error, maybe your license is expired?

[2020-04-28 10:16] emanuele-f commented on #3805
This is now implemented.

[2020-04-28 10:16] #3805 closed, assigned to simonemainardi

[2020-04-28 10:18] emanuele-f commented on #3227
Closing for inactivity

[2020-04-28 10:18] #3227 closed, assigned to cardigliano

[2020-04-28 10:20] bipin-stcs commented on #3848
No,
`Maintenance:	Until Tue Feb  9 18:57:05 2021 `

[2020-04-28 10:24] cardigliano commented on #3848
@bipin-stcs please provide systemid and orderid by mail

[2020-04-28 10:31] bipin-stcs commented on #3848
@cardigliano Sent

[2020-04-28 12:49] #3825 closed, assigned to emanuele-f

[2020-04-28 12:51] emanuele-f commented on #3847
The affected function is `_listSeries` inside `rrd.lua`. The problem is quite complex: IP addresses and MAC addresses are handled with a special logic (see `getPathFromKey`). There are multiple problems:

- `_listSeries` is unable to determine that a specific tag of a schema contains IP address/MAC address information (the tag name is just a name, however we could just assume that an `host`, `subn

[2020-04-28 12:59] #3842 closed, assigned to emanuele-f

[2020-04-28 13:03] #3790 closed, assigned to nobody

[2020-04-28 13:14] lucaderi commented on #3845
This is Windows with ntopng code from yesterday morning
![Screen Shot 2020-04-28 at 09 36 54](https://user-images.githubusercontent.com/4493366/80491194-ad914300-8962-11ea-9899-77e6920f9d07.png)

And this is after the fix https://github.com/ntop/ntopng/commit/9fabefe2cfa18bde50ac8f80aa913a9bfdb02774
![Screen Shot 2020-04-28 at 09 58 45](https://user-images.githubusercontent.com/4493366/80491187-ab

[2020-04-28 13:17] #3760 closed, assigned to emanuele-f

[2020-04-28 13:21] emanuele-f commented on #3733
Closed as internally acknowledged .

[2020-04-28 13:21] #3733 closed, assigned to simonemainardi

[2020-04-28 13:22] emanuele-f commented on #3734
Closing as internally acknowledged .

[2020-04-28 13:22] #3734 closed, assigned to emanuele-f

[2020-04-28 13:38] emanuele-f commented on #3713
Fixed in pro

[2020-04-28 13:38] #3713 closed, assigned to nobody

[2020-04-28 13:38] simonemainardi opened #3849 "Preferences entry not hidden correctly"
starting from this

![image](https://user-images.githubusercontent.com/3397663/80493704-08786980-8966-11ea-87b8-3200340d3a68.png)

if I disable "Idle Local Hosts Cache":

![image](https://user-images.githubusercontent.com/3397663/80493747-14fcc200-8966-11ea-8c00-184897457b49.png)

And then re-enable it, a new entry "Active Local Host Cache Interval" which should be hidden appears

![image](https:/

[2020-04-28 13:41] emanuele-f commented on #3708
This is a license issue so please contact privately via https://www.ntop.org/support/need-help-2/contact-us so that we can arrange a remote session.

[2020-04-28 13:41] #3708 closed, assigned to nobody

[2020-04-28 13:42] simonemainardi commented on #3402
to me it is really confusing to have the 'sent' line with the same style of all the other lines. It makes the chart very hard to read:

![image](https://user-images.githubusercontent.com/3397663/80494146-a1a78000-8966-11ea-9e20-f350272eb0ea.png)

The only way one can make use of this chart is by disabling everything but sent and received

![image](https://user-images.githubusercontent.com/3397663/

[2020-04-28 13:45] simonemainardi commented on #3827
working as expected on my side

[2020-04-28 14:14] simonemainardi commented on #3818
It doesn't matter who starts the conversation.

But just to be completely clear:

Traffic which originates from remote IPs and goes to local IPs

Traffic which originates from local IPs and goes to remote IPs

Consider a conversation as IP_local <-> IP_remote:

- IP traffic from IP_local to IP_remote counts as local2remote
- IP traffic from IP_remote to IP_local counts as remote2local

No matter i

[2020-04-28 14:25] #3818 closed, assigned to simonemainardi

[2020-04-28 14:26] simonemainardi commented on #3799
will be reviewed and possibly reopen when done.

[2020-04-28 14:26] #3799 closed, assigned to gabryon99

[2020-04-28 20:46] StewAlexander-com opened #3850 "license install getting "operation not permited" Issue #3708, ntopg.license cannot be modified"
@simonemainardi  @emanuele-f

@lucaderi does not want to provide access, as they think the issue is with us for the ntopng.license file, I assure you it is not.

This is your file, I have no special permissions with this file, and we would really like to get our license that Marie Allegro provided to us.

Thanks....

[2020-04-28 20:48] StewAlexander-com commented on #3850
I requested remote access, @lucaderi denied it.

So, the issue is that file, how do I delete a file that you made undeletable?

[2020-04-28 20:48] StewAlexander-com commented on #3850
the file in question is the ```ntopng.license``` file under /etc/

[2020-04-29 07:32] simonemainardi opened #3851 "Hardcoded measurements and measurement strings"
Measurements and their i18n strings have been hardcoded in https://github.com/ntop/ntopng/commit/d913752117e44976f7b8955508cf2f9ee595bada#diff-4da265a1bf6a15aacb1289ac1c3c8ebeR310.

Measurements and their i18n strings are dynamic and must be loaded dynamically.

In the current status:
- Adding a new measurement such as the continuous ping would require changing javascript files around the code
- M

[2020-04-29 08:14] emanuele-f commented on #3850
Contacted privately.

[2020-04-29 08:14] #3850 closed, assigned to nobody

[2020-04-29 08:14] lucaderi opened #3852 "Implement email notification endpoint"
The email endpoint will have the following parameters specified

- SMTP server name
- username
- password
- Email sender

Note that it is possible to define one or more email notification endpoints

[2020-04-29 08:16] lucaderi opened #3853 "[pools] Implement syslog notification endpoint"
The syslog endpoint will have only one parameter
- format: text or json

Note that there is at most one syslog notification endpoint defined

[2020-04-29 08:18] lucaderi opened #3854 "Implement webhook notification endpoint"
The webhook notification endpoint will have the following parameters
- URL
- shared secret
- username
- password

Note that it is possible to define one or more webhook notification endpoints

[2020-04-29 08:19] lucaderi opened #3855 "Implement slack notification endpoint"
The slack notification endpoint will have the following parameters

- sender username
- notification webhook

Note that it is possible to define one or more slack notification endpoints

[2020-04-29 08:19] lucaderi opened #3856 "Implement notification endpoint"
Notification endpoints are JSON strings written in redis that contain the configuration of endpoints where a notification can be sent.
A new page will be created similar to this one
![Screen Shot 2020-04-29 at 10 06 53](https://user-images.githubusercontent.com/4493366/80573928-2f37ae00-8a01-11ea-8131-7393d025063a.png)

Clicking on the + icon it is possible to add a new endpoint. Possible actions

[2020-04-29 08:28] lucaderi opened #3857 "Implement notification recipient"
Notification recipients are JSON strings written in redis that contain the configuration of recipient that is defined as follows
- notification endpoint (previously defined) to which the notification will be sent
- notification attributed that specify further information to be delivered.

A new page will be created similar to this one
![Screen Shot 2020-04-29 at 10 06 53](https://user-images.githu

[2020-04-29 08:35] lucaderi opened #3858 "Implement active monitoring recipient notification"
In the active monitoring screen
![Screen Shot 2020-04-29 at 10 31 48](https://user-images.githubusercontent.com/4493366/80575977-aae72a00-8a04-11ea-9232-1cb0f2b4c55e.png)

Notification recipients will be implemented via host pulls. Hence it is requested to add a new drop down menu in this dialog where the user will select the pool name to which this measurement will belong to. Furthermore a new HT

[2020-04-29 08:49] lucaderi opened #3859 "Implement alert to recipient mapping"
Alerts are stored inside ntopng but they can be optionally delivered to recipients outside ntopng. The binding between alerts and recipients is specified in a new configuration page similar to the one defined below

![Screen Shot 2020-04-29 at 10 06 53](https://user-images.githubusercontent.com/4493366/80576524-a707d780-8a05-11ea-84df-678b25b4521d.png)

Clicking on the + icon it is possible to add

[2020-04-29 08:49] lucaderi opened #3860 "Remove alert endpoints"
Once #3859 is implemented, the alert endpoints can be removed from ntopng as they overlap with the new features.

[2020-04-29 09:59] emanuele-f opened #3861 "Remove custom are-you-sure logic from script-list-utils.js"
`script-list-utils.js` implements a custom usage of the are-you-sure plugin. In ae07188dd7de455b61df6369c24b59647e27582a the new `aysHandleModal` can be used to handle the are-you-sure state. It is requested to clean up `script-list-utils.js`.

[2020-04-29 10:48] simonemainardi opened #3862 "Prevent automatic updates to invalidate licenses"
ntopng automatic updates may invalidate a license when the update causes the maintenance to expire.

It is requested to disable automatic updates if they would result in license invalidation.

ntopng automatic update script should do a `--check-maintenance` and avoid performing the update.

Same logic is implemented in `packages/ubuntu/debian.ntopng/prerm.in` to promt the user from the CLI. See if

[2020-04-29 11:07] gabryon99 commented on #3851
Fixed, see: https://github.com/ntop/ntopng/commit/051cf67dc59bdd128c4fa3a72c041bc859d6dcb4

[2020-04-29 11:07] #3851 closed, assigned to gabryon99

[2020-04-29 13:21] jq-yeraz opened #3863 "Live bandwidth issue"
My CPE router is limited to 45Mbit/s of bandwidth. I want to know what is the live bandwidth (download and upload) sent to the internet.

I created a custom traffic disaggregation to filter private networks :

    (src net 10.1.0.0/16 and (dst net not 10.0.0.0/8 and dst net not 172.16.0.0/12 and dst net not
    192.168.0.0/16)) or ((src net not 10.0.0.0/8 and src net not 172.16.0.0/12 and src net

[2020-04-29 13:36] gabryon99 commented on #3774
The dropdown filter has been add: https://github.com/ntop/ntopng/commit/025a13f338dfe7998d96e5f8475f3c7ad249a0e4

[2020-04-29 13:36] #3774 closed, assigned to gabryon99

[2020-04-29 16:34] mhercek opened #3864 "Flow Collection Drops"
I need to know what does _Flow Collection Drops_ mean exactly.
I have quite a  large number of drops from a site with low activity (=bandwidth & connections per secod).
Remote exporter is pfSense running pmacct.
I have other two similar setups with pfSense and pmacct with higher activity and with much less Flow Collection Drops.
How do I find out why are flows being dropped?

[2020-04-29 17:10] #3828 closed, assigned to cardigliano

[2020-04-30 08:32] #3827 closed, assigned to lucaderi, emanuele-f

[2020-04-30 08:33] cardigliano opened #3865 "Traffic Disaggregation based on Local or Remote"
Traffic disaggregation based on local or local networks often requires the definition of huge BPF filters. ntopng already keeps track of local subnets, thus it would be convenient to add a special keyword to the BPF syntax to identify Local or Remote traffic and avoid filters like this:

(src net 10.1.0.0/16 and (dst net not 10.0.0.0/8 and dst net not 172.16.0.0/12 and dst net not
192.168.0.0/16))

[2020-04-30 10:59] lucaderi opened #3866 "Periodically refresh pages that require form submission"
In pages that require form submission such as active measurements (but NOT limited to this one) when the page is on screen inactive for some time, this causes form submission (e.g. add or remove an entry) to fail.

It is requested to avoid this error e.g. via periodic page refresh or other means.

![Screen Shot 2020-04-30 at 13 29 47](https://user-images.githubusercontent.com/4493366/80705454-c1fe

[2020-04-30 12:27] bipin-stcs opened #3867 "nprobe says invalid license"
Hello

I have a valid license for nprobe. But when I checked the validity it says, below

[code]
[code]

I can send the OID and License in the email if you want to check from your side. We purchase the nprobe while it was an older version(License issued on 2019-03-19), recently we upgraded to v.9.1.200427.

[2020-04-30 12:51] lucaderi commented on #3867
This is a ticket for nprobe and not for ntopng so it should not be here. Anyway please read this https://www.ntop.org/support/faq/are-licenses-permanent-what-about-maintenance/

You need to regenerate the license with the new orderId you purchased

[2020-04-30 12:51] #3867 closed, assigned to nobody

[2020-04-30 12:55] lucaderi opened #3868 "Add mean and jitter calculation to active monitoring"
![Screen Shot 2020-04-30 at 14 46 03](https://user-images.githubusercontent.com/4493366/80712353-2d99e300-8af2-11ea-8e39-2b9b7814cc1a.png)
in active monitoring it is requested to add a new column (to the right of the measurement) that contains the values of Mean and Jitter (all in one column).
The ContinuousPing class computes and exports such values. The other measurements need to compute the val

[2020-04-30 13:04] emanuele-f commented on #3402
As internally discussed, SMA, EMA and trend lines have been removed in  e2bade07d55bdee516861826d414961805a43a85 . Please close this if satisfied.

[2020-04-30 13:19] #3821 closed, assigned to emanuele-f

[2020-04-30 13:36] #3836 closed, assigned to emanuele-f

[2020-04-30 13:38] simonemainardi commented on #3798
After internal discussion we have decided to leave the current implementation for the time being.

[2020-04-30 13:38] #3798 closed, assigned to nobody

[2020-04-30 14:03] emanuele-f commented on #3866
Note: this occurs when the CSRF of the page expires.

[2020-04-30 16:54] StewAlexander-com opened #3869 "ProxMox cluster protocol misinterpreted as What's App calls"
Hi all,

We see a lot of this:

STUN.WhatsAppCall 	 UDP	Proxmox VM  :56113

It's not a What's AppCall, it's the TCP ID for the ProxMox VM cluster I believe.

Is there a way to change this?

This is seen under the http://<fqdn>//lua/flows_stats.lua menu

[2020-04-30 16:55] StewAlexander-com commented on #3869
For a list of ports ProxMox usses: https://pve.proxmox.com/wiki/Ports

[2020-04-30 16:59] StewAlexander-com commented on #3869
Actually strike that, it's used by the underlying FreeBSD architecture as part of our storage structure

[2020-04-30 17:27] simonemainardi commented on #3863
Checked thoroughly. Numbers and totals are ok.

Issue is very likely due to the time it takes for the throughput update task to run and, thus, to update flows throughput. Indeed, when collecting from nProbe, the throughput update task is run by default every 2 minutes. So, during the first two minutes, a flow will appear as a zero-throughput, causing confusion as highlighted above.

Commit immedia

[2020-04-30 20:32] cardigliano commented on #3865
Added support for "local" and "remote" to the BPF. They accept src and dst qualifiers.

[2020-04-30 20:32] #3865 closed, assigned to cardigliano

[2020-05-01 10:59] flyersa commented on #1978
I have the same with flows from an Juniper SRX300, but i cant find this option in ntopng 4.x ?...

update: nvm. i set sampling for input AND output ;) issue solved by only specifying input sampling on the interface

[2020-05-01 16:10] mcat528 opened #3870 "ntopng service keeps crashing on opnsense"
**NTOPNG service keeps crashing on OPNsense firewall. Not super linux savy so not sure how to troubleshoot beyond below:**

Version: OPNsense 20.1.5-amd64
FreeBSD 11.2-RELEASE-p18-HBSD
CPU Type Intel(R) Celeron(R) CPU J1900 @ 1.99GHz (4 cores)
ntopng Community Edition v.4.0.200422

**System error log:**

504385	2020-04-30T14:01:03	kernel: pid 1606 (ntopng), uid 288: exited on signal 11
511085	2020

[2020-05-03 16:25] lucaderi commented on #3841
Can you please check if you have (as I suppose) /var/lib/ntopng previously owned by somebody? I suggest to deinstall ntopng, delete /var/lib/ntopng and reinstall it and it should work. Please reopen this ticket if necessary

[2020-05-03 16:25] #3841 closed, assigned to nobody

[2020-05-03 16:29] lucaderi opened #3871 "Add the ability to specify the interface to use for icmp ping"
Currently it is not possible to specify the network interface to be used for icmp/icmp6 ping in active monitoring

[2020-05-03 16:31] lucaderi opened #3872 "Enable SNMP menu"
In nEdge mode (enterprise) the SNMP menu should be enabled

[2020-05-03 16:31] lucaderi commented on #3775
@cardigliano Hide  "last log trace" in the "system status" menu

[2020-05-04 08:21] emanuele-f commented on #3869
Please open an issue here https://github.com/ntop/nDPI and provide a PCAP file if possible. Please also check out this: https://www.ntop.org/guides/ntopng/web_gui/categories.html#custom-applications

[2020-05-04 08:21] #3869 closed, assigned to nobody

[2020-05-04 12:32] ShagoY commented on #3693
I was really disappointed when you migrated to Leaflet because of this regression on the Geomap.
Glad to see that this was not intentional :)

[2020-05-04 12:38] hvdbrand opened #3873 "Memory leak when having expired SSL certifcates"
I  run ntopng v.4.1.200503 on my own CentOS server for fun.
I have been using a self-signed SSL certificate.
It was generated using the following instructions in
/usr/share/ntopng/httpdocs/ssl/README:

According the the ntopng logging the certificate expired. (I did not check that it did, nor do I remember when I made the certificate, I expect this information to be correct).

While having an expi

[2020-05-04 14:15] emanuele-f commented on #2898
Ability to restore an host implemented in 4ee9eed2ac1373f325628779551aa2af44f06f80 , however we still need a way to to recover an host MAC address in order to properly deserialize DHCP hosts in the local broadcast domain

[2020-05-04 15:04] emanuele-f opened #3874 "High cpu usage with continuous ping"
The continuous ping thread shows an high cpu usage. The issue seems in the `sleep(1)` call.

![photo_2020-05-04_15-29-32](https://user-images.githubusercontent.com/5488003/80980615-60a4e500-8e18-11ea-88b0-a858bd7d3516.jpg)

[2020-05-04 15:09] emanuele-f commented on #3873
So if you only add `-w=3001` (without `-W`) the problem still occurs? Are you sure that this does not happen when not using `-w`/`-W`? How much time does it take to reproduce the issue?

[2020-05-04 15:19] lucaderi opened #3875 "Emit alerts in CEF Format"
The Common Event Format (CEF) 514 format is standard format for events and thus including alerts.

The CEF specification can be consulted at
- https://support.citrix.com/article/CTX136146
-https://kc.mcafee.com/resources/sites/MCAFEE/content/live/CORP_KNOWLEDGEBASE/78000/KB78712/en_US/CEF_White_Paper_20100722.pdf

It is requested to create a alert endpoint that emit alerts in CEF format

[2020-05-04 15:34] emanuele-f commented on #3870
Please specify the ntopng options used

[2020-05-04 15:35] emanuele-f commented on #3868
Column and charts added in 976cf183be65032d130a51258784a64630cd1845

[2020-05-04 15:35] #3868 closed, assigned to simonemainardi, emanuele-f

[2020-05-04 15:43] emanuele-f commented on #3864
The drops occur between nProbe and the Netflow exporter (based on the Netflow flow sequence). Please report the output of `ntopng --version` and `nprobe --version` and post the ntopng and nProbe configuration used.

[2020-05-04 16:23] ringfeart commented on #2118
I've installed the ntopng 3.8.1 version (package release made by contributor hgy59) on my Synology DS216+II.
Same issue: I enabled the Top HTTP Sites switch, but can't see the HTTP menu.
Is this issue solved in the newer version 4.0?

I get a message: **A new ntopng (v.4.0.0) is available for download: please upgrade**.
Does anyone know how to upgrade to this version on a Synology?

[2020-05-04 17:35] simonemainardi commented on #3849
same behavior occurs in preference:

![image](https://user-images.githubusercontent.com/3397663/80995269-4bdb4800-8e3e-11ea-82b8-77d3926c8710.png)

it would be desirable to have a generic fix rather than an ad-hoc per preference fix.

[2020-05-04 17:42] ringfeart commented on #2118
Sorry, I meant: can't see the **Sites menu**.....
![ntopng](https://user-images.githubusercontent.com/64796431/80995848-34e92580-8e3f-11ea-8ec3-45a7433d00d5.jpg)

[2020-05-04 17:49] simonemainardi commented on #3870
did you compile it from source?

[2020-05-04 17:56] simonemainardi commented on #3864
NetFlow packets are sequenced. nProbe use the sequence to make sure all the NetFlow packets are arriving. When nProbe detects holes in the sequence, it assumes NetFlow packets are dropped. So for example if nProbe receives a NetFlow packet with sequence=1, then with sequence=5, it counts 3 flow collection drops.

in your case it can be:

1. The network is dropping packets
2. The router can’t keep

[2020-05-04 18:12] andylet opened #3876 "NetFlix detected as TLS"
Hello guys,

I have a problem to some public ips which cannot resolve the dns name.
For instance, Netflix is not resolving as Netflix but as TLS.
Do you guys have any clue?

[2020-05-04 19:04] lucaderi commented on #3876
- please send us a pcap file with netflix traffic. Please make sure you send the initial part of the connection where we see the 3w handshake
- please share the ntopng.conf file

[2020-05-04 19:05] lucaderi opened #3877 "Prevent deleting datasources in use"
When a widget is using a datasource, ntopng should prevent such datasource from being deleted

[2020-05-04 19:07] lucaderi opened #3878 "Widget schema are not sorted alphabetically"
![Screen Shot 2020-05-04 at 21 06 35](https://user-images.githubusercontent.com/4493366/81003433-2d2f7e00-8e4b-11ea-82ac-36f1d6a0a600.png)

[2020-05-04 19:09] lucaderi opened #3879 "Collapse elements when more than one"
In the picture below
![Screen Shot 2020-05-04 at 21 07 53](https://user-images.githubusercontent.com/4493366/81003552-594aff00-8e4b-11ea-8125-136d76e5ca04.png)
at most one element should be expanded. When expanding an element all the other must be collapsed to avoid scrolling or visualisation issues

[2020-05-04 19:12] lucaderi opened #3880 "Datasource save does not work as expected"
![Screen Shot 2020-05-04 at 21 10 08](https://user-images.githubusercontent.com/4493366/81003777-afb83d80-8e4b-11ea-9407-df82fb68ebe1.png)

then click save. The click edit

![Screen Shot 2020-05-04 at 21 10 19](https://user-images.githubusercontent.com/4493366/81003970-f9088d00-8e4b-11ea-80ce-ac4ff12bad54.png)

and as you can see the previous saved setting is lost

[2020-05-04 19:13] lucaderi opened #3881 "Prevent from adding the same metric twice"
![Screen Shot 2020-05-04 at 21 13 15](https://user-images.githubusercontent.com/4493366/81004055-16d5f200-8e4c-11ea-8f34-f3a08fc6375e.png)

[2020-05-04 19:14] lucaderi opened #3882 "Missing JSON from embed tag example"
![Screen Shot 2020-05-04 at 21 14 11](https://user-images.githubusercontent.com/4493366/81004144-408f1900-8e4c-11ea-9f58-ac9c653ea211.png)

[2020-05-04 20:26] gabryon99 commented on #3880
fixed in https://github.com/ntop/ntopng/commit/d9a4437a47db8b9c7be1a9f75d695a9b58394454

[2020-05-04 20:26] #3880 closed, assigned to gabryon99

[2020-05-04 20:38] gabryon99 commented on #3878
fixed in https://github.com/ntop/ntopng/commit/b442a1da213deebfa9c7aaec52d81730e7d198d1

[2020-05-04 20:38] #3878 closed, assigned to gabryon99

[2020-05-04 20:54] gabryon99 commented on #3882
fixed in https://github.com/ntop/ntopng/commit/dd293f9f02872aa573593d69e88be55a0d115c56

[2020-05-04 20:54] #3882 closed, assigned to gabryon99

[2020-05-04 22:17] mcat528 commented on #3870
No, added by update to OPNsense. Seems to run OK for awhile, then dies.

r/mark

************************************************************************
 Mark Catlin, CISSP
 Voice: 619.987.5288
 email: us46865@gmail.com

On Mon, May 4, 2020 at 10:49 AM simonemainardi <notifications@github.com>
wrote:

[2020-05-05 07:07] lucaderi opened #3883 "Missing default metric"
![Screen Shot 2020-05-05 at 09 05 37](https://user-images.githubusercontent.com/4493366/81042117-afea2480-8eaf-11ea-8932-2d67f257eb16.png)
As shown in picture, for every drop down menu, there should be a selected value and not an empty selection available.

[2020-05-05 07:19] simonemainardi commented on #2118
Latest stable version is 4.0, please upgrade to that version.

Sites appear when top http sites are enabled from the ntopng preference and when capturing from a packet interface or receiving data from nprobe.

[2020-05-05 07:22] M9k opened #3884 "Probe communication error"
Hi,
I'm using the last version of Ntopng Enterprise and Nprobe on two CentOS VM.
Yesterday I updated both of them to the last version and it work for some time. today I checked and it doesn't detect any traffic.

With tcpdump I see the probe receive the flow and talk with ntop and with "systemctl status ntopng -l" I only see the log "collecting flows on NPROBE_IP:5556", no errors.

This is the int

[2020-05-05 08:16] simonemainardi commented on #3706
@emanuele-f did you try to reproduce with SNMP polling in progress?

[2020-05-05 08:56] cardigliano commented on #3775
Implemented

[2020-05-05 08:56] #3775 closed, assigned to cardigliano

[2020-05-05 09:02] emanuele-f opened #3885 "Heap overflow in Flow::dissectHTTP"
Using latest nDPI.

[code]

[2020-05-05 09:40] cardigliano commented on #3862
Maintenance check added

[2020-05-05 09:40] #3862 closed, assigned to cardigliano

[2020-05-05 09:41] simonemainardi commented on #3402
would it be possible to add a transparency below the yellow line? how complex it would be?

something like

<img width="564" alt="image" src="https://user-images.githubusercontent.com/3397663/81053437-5d1b6780-8ec5-11ea-9958-2059510615c1.png">

[2020-05-05 09:44] simonemainardi commented on #2870
refactored in issues:

#3859
#3858
#3857
#3856
#3855
#3854
#3853

[2020-05-05 09:44] #2870 closed, assigned to nobody

[2020-05-05 09:51] cardigliano commented on #3884
Please provide:
- ntopng --version
- nprobe --version
- the nprobe configuration file
Thank you

[2020-05-05 10:22] emanuele-f commented on #2548
Note: IP -> MAC mapping for LBD hosts added in d65bd41212e3c2961e66b4cb2abd2a03ab4ca57d

[2020-05-05 10:23] M9k commented on #3884
Hi,
ntopng --version
[code]
nprobe --version
[code]
cat /run/ntopng.conf
[code]
The probe is 192.168.X.Y

I have two nprobe running,  it's normal? I use systemd to manage the service.

[code]
cat /run/nprobe.conf
[code]

cat /run/nprobe-nprobe.conf
[code]

Thanks

[2020-05-05 12:27] emanuele-f commented on #2898
Other changes implemented in d65bd41212e3c2961e66b4cb2abd2a03ab4ca57d and 03b69dfe64e544dcee5478352f9fe4e1559bbe7e

[2020-05-05 12:39] #3885 closed, assigned to emanuele-f

[2020-05-05 12:47] simonemainardi commented on #3402
bug solved, will deal with transparencies on a separate issue.

[2020-05-05 12:47] #3402 closed, assigned to emanuele-f

[2020-05-05 12:49] simonemainardi opened #3886 "Chart Transparencies for Non-Stacked Charts"
When charts are not stacked, it would be desirable to have a semi-transparent fill below chart lines like the following example:

![image](https://user-images.githubusercontent.com/3397663/81067803-8ea12c80-8edf-11ea-9ec2-21e1839691e5.png)

[2020-05-05 12:54] simonemainardi commented on #3777
working as expected

<img width="649" alt="image" src="https://user-images.githubusercontent.com/3397663/81068251-58b07800-8ee0-11ea-8d30-ca7622c9a042.png">

[2020-05-05 12:54] #3777 closed, assigned to emanuele-f

[2020-05-05 13:30] simonemainardi commented on #3677
please attach a pcap with MDNS/Netbios when done to check

[2020-05-05 15:07] simonemainardi opened #3887 "Active monitoring ping losing data"
Run a manual ping and experienced a ZERO packet loss:

[code]

In parallel, ntopng ICMP was wrunning and reported this:

<img width="1209" alt="image" src="https://user-images.githubusercontent.com/3397663/81081771-a504b380-8ef2-11ea-9165-728244da894a.png">

Resolved address is the same:

<img width="1227" alt="image" src="https://user-images.githubusercontent.com/3397663/81081830-b64dc000-8ef2-11

[2020-05-05 15:32] emanuele-f opened #3888 "Poll CPU and memory"
In net-snmp it is possible (when configured) to monitor CPU and memory usage. The idea is to poll these variables

[2020-05-05 15:38] emanuele-f commented on #3779
Closing for now

[2020-05-05 15:38] #3779 closed, assigned to nobody

[2020-05-05 15:44] emanuele-f commented on #3874
Can be reproduced with `top -p $(pgrep ntopng) -H` on linux

[2020-05-05 15:47] emanuele-f commented on #3785
No feedback received, please reopen if more information is available

[2020-05-05 15:47] #3785 closed, assigned to simonemainardi

[2020-05-05 15:57] emanuele-f commented on #2991
Due to the nature of Conntrack, it is not possible to accomplish this request.

[2020-05-05 15:57] #2991 closed, assigned to emanuele-f

[2020-05-05 16:18] emanuele-f commented on #3859
Additional requirements:

- Ability to specify a time interval in the recipient filter
- Implement a queue per recipient, to avoid that a recipient monopolizes the queue

[2020-05-05 16:33] emanuele-f opened #3889 "Various leaks"
[code]

[2020-05-05 17:04] pmabey opened #3890 "Launchdaemon issue on MacOS package"
Spent a couple days troubleshooting why after 5 minutes I could no longer login to the web interface using the latest macOS official package. After lots of re-installs I found the problem was simply that the bundled redis server was not picking up a config file. I modified the LaunchDaemon file to add this line:

<string>/usr/local/etc/redis.conf</string>

and now everything works great. Without t

[2020-05-05 20:20] lucaderi commented on #3887
![Screen Shot 2020-05-05 at 22 19 40](https://user-images.githubusercontent.com/4493366/81112208-959b5f80-8f1e-11ea-842e-65957ac68bf7.png)
Current;y unable to reproduce the error reported

[2020-05-06 07:51] emanuele-f opened #3891 "Add Flow/sFlow devices documentation"
The information from this page (https://www.ntop.org/nprobe/sflow-collection-and-analysis-with-nprobe-and-ntopng) should be added to the ntopng documentation

[2020-05-06 08:03] emanuele-f commented on #2118
Please ensure that the hosts are "local", see https://www.ntop.org/guides/ntopng/basic_concepts/hosts.html#local-hosts .

[2020-05-06 08:05] mhercek commented on #3864
This is quite weird.

I am exporting netflow from a host in site A. Exporter is pmacct.
Nprobe & ntopng runs on a host in site B.
Between both sites is internet.

I have done some measurements:
- site A: netflow exporter: tcpdump on the host captured 1110 UDP packets headed to nprobe
- site B: gateway before nprobe: tcpdump on the host captured 1108 UDP packets headed to nprobe
- site B: nprobe ho

[2020-05-06 08:25] simonemainardi opened #3892 "Active monitoring conf export broken"
exporting a configuration

<img width="297" alt="image" src="https://user-images.githubusercontent.com/3397663/81154116-e2fde800-8f83-11ea-8513-805cc2b20111.png">

produces an empty

[]

file

[2020-05-06 09:32] emanuele-f commented on #3866
Here is a description of the problem and the proposed solution.

[From https://owasp.org/www-community/attacks/csrf]
Cross-Site Request Forgery (CSRF) is an attack that forces an end user to execute unwanted actions on a web application in which they’re currently authenticated. CSRF attacks specifically target state-changing requests, not theft of data, since the attacker has no way to see the res

[2020-05-06 11:01] simonemainardi opened #3893 "Move lua files, templates and js to the plugin"
commit https://github.com/ntop/ntopng/commit/9973d63847ad53947eb47670440403510a4fe704 introduces several template and js files which are specific to the notification endpoints. Such files must be moved into the norification endpoint plugin directory:

- templates under `scripts/plugins/notification_endpoints/httpdocs/templates`
- js files under `scripts/plugins/notification_endpoints/httpdocs`
- l

[2020-05-06 11:04] simonemainardi opened #3894 "Multiple CSRF not needed"
Once https://github.com/ntop/ntopng/issues/3866 is implemented, it is requested to remove those multiple CSRF as no longer needed https://github.com/ntop/ntopng/commit/9973d63847ad53947eb47670440403510a4fe704#diff-01c8ea3bf73eb8b6cd9c09b1b4e48018R41

[2020-05-06 12:15] simonemainardi opened #3895 "Notification Endpoint email sender validation not working"
sender should be validated as email:

![image](https://user-images.githubusercontent.com/3397663/81175605-19e3f600-8fa4-11ea-8508-6d6187343d97.png)

[2020-05-06 12:26] simonemainardi opened #3896 "edit_endpoint.lua data submitted with POST is not valid"
Posting all data as JSON opens up a series of security issues.

Each parameter must be passed individually and validated using functions in http_lint.

Validation function is chosen depending on the endpoint field type. Any additional validation function which is not in http_lint.lua must be placed in a plugin-specific http_lint.lua

See `scripts/plugins/active_monitoring/http_lint.lua` for refere

[2020-05-06 12:46] simonemainardi opened #3897 "Input form is not cleared after successful addition of endpoint"
Once an endpoint has been added, if I click again on the + button to add another endpoint, the form is already populated with 'old' values for the endpoint already added

![image](https://user-images.githubusercontent.com/3397663/81178284-4732a300-8fa8-11ea-84eb-31914527880a.png)

[2020-05-06 12:58] #3866 closed, assigned to simonemainardi, emanuele-f, gabryon99

[2020-05-06 13:05] simonemainardi commented on #3894
same applies to user scripts

[2020-05-06 13:14] simonemainardi commented on #3893
After internal discussion we have decided to move endpoint modules to the ntopng modules, leaving only the endpoints (e.g., mail.lua) as plugins. So this request no longer applies.

[2020-05-06 13:14] #3893 closed, assigned to gabryon99

[2020-05-06 13:55] simonemainardi commented on #3895
The default browser validation is used. Default validation doesn't check FQDN and this is ok.

[2020-05-06 13:55] #3895 closed, assigned to gabryon99

[2020-05-06 14:00] simonemainardi commented on #2898
working as expected. Please remove the additional step "click here to restore the host". When I select the host from the search box, I want to have it restored.

[2020-05-06 14:12] simonemainardi commented on #2898
the message 'click here to restore the host' should appear when the host page is left open and the host goes idle. Currently, what happens is the following

![image](https://user-images.githubusercontent.com/3397663/81187437-56b7e900-8fb4-11ea-9663-5b72dd3f4d05.png)

So basically we the message should be replaced with the other one.

[2020-05-06 15:52] #3892 closed, assigned to emanuele-f

[2020-05-06 16:08] #3897 closed, assigned to gabryon99

[2020-05-06 16:17] #3889 closed, assigned to emanuele-f

[2020-05-06 16:17] lucaderi commented on #3830
Implemented both dev and stable

[2020-05-06 16:20] #3890 closed, assigned to nobody

[2020-05-06 16:28] lucaderi commented on #3890
Thank you. I am updating the package and uploading it on http://packages.ntop.org. Please confirm it works now.

[2020-05-06 16:43] gabryon99 commented on #3894
fixed in https://github.com/ntop/ntopng/commit/6ada544339196273a6fcd0f7d44e0b7c58f45b3d

[2020-05-06 16:49] lucaderi commented on #3896
Sorry @simonemainardi POST is the way to go. If you complain about validation, then http_lint should handle POST, but yours isn't an argument for adding a weakness.

[2020-05-06 17:05] pmabey commented on #3890
I don't know enough about LaunchDaemon itself but it looks like the parameters need to be on separate lines. The new build had this but redis would not start:
<string>/usr/local/bin/ntopng-redis-server /usr/local/etc/redis.conf</string>

If I split up the parameter to the following everything fires up fine:
<string>/usr/local/bin/ntopng-redis-server</string>
<string>/usr/local/etc/redis.conf</stri

[2020-05-06 18:11] #3887 closed, assigned to simonemainardi

[2020-05-06 18:37] lucaderi commented on #3876
Closing for inactivity. Please open a ticket under nDPi if you can provide a pcap

[2020-05-06 18:37] #3876 closed, assigned to nobody

[2020-05-06 21:20] simonemainardi opened #3898 "Duplicate endpoint addition not prevented"
![image](https://user-images.githubusercontent.com/3397663/81229390-03638c00-8ff0-11ea-96ea-1213146e6d0e.png)

clicking add just empties the form

![image](https://user-images.githubusercontent.com/3397663/81229407-0e1e2100-8ff0-11ea-86dd-36fa2968690d.png)

addition of duplicate endpoints is prevented in the backend and must be prevented in the frontend as well

[2020-05-06 21:23] simonemainardi commented on #3896
POST is the way to go. The complain is that now only a JSON is passed with the POST and is not validated, ending up in saved stuff like this

![image](https://user-images.githubusercontent.com/3397663/81229660-7967f300-8ff0-11ea-9ca1-68d79dc42fde.png)

POSTed data must NOT be a JSON, but a series of individually-validated elements.

[2020-05-06 21:30] simonemainardi opened #3899 "Stored XSS in endpoint names"
![image](https://user-images.githubusercontent.com/3397663/81230249-6a357500-8ff1-11ea-96ed-33340902949d.png)

![image](https://user-images.githubusercontent.com/3397663/81230262-702b5600-8ff1-11ea-958d-916ea6a882d2.png)

only allow ASCII and underscores in endpoint names. Must use http_lint validation

[2020-05-07 07:49] emanuele-f commented on #3706
Cannot reproduce with the latest changes. If the issue occurs again, please open a new issue with the output of `ntopng --version` and the configuration used.

[2020-05-07 07:49] #3706 closed, assigned to emanuele-f

[2020-05-07 08:28] simonemainardi opened #3900 "Active Monitoring - Missing point reported as valid"
At 10:24 the ping failed, no response was received.

![image](https://user-images.githubusercontent.com/3397663/81272211-7f3ff180-904d-11ea-85ad-cc15ed5fda94.png)

However, ntopng says the value is 0.65ms

![image](https://user-images.githubusercontent.com/3397663/81272174-6e8f7b80-904d-11ea-9f85-9190f653e369.png)

[2020-05-07 08:34] Michiko0109 opened #3901 "About ntopng edge Captive Portal"
When Captive Portal is enabled, terminal under ntopng edge cannot connect to the Internet.
The terminal is Windows 10 64bit.
The terminal is registered as a user of nedge.
We can connect to the Internet by disabling the captive portal.

Is it possible to use Wired connection and captive portal at the same time on nEdge?

[2020-05-07 08:46] simonemainardi opened #3902 "/rest/get/alert/data.lua Performance"
A user has profiled the endpoint and highlighted how the time is spent. This should be used to accelerate the performance

[2020-05-07 08:49] simonemainardi commented on #3900
Same. At 10.46 the point is missing as no result has been collected

[code]

![image](https://user-images.githubusercontent.com/3397663/81274300-61c05700-9050-11ea-93e4-ecdcb9987760.png)

[2020-05-07 09:03] lucaderi opened #3903 "Active monitoring configuration import resets all data"
![Screen Shot 2020-05-07 at 10 56 27](https://user-images.githubusercontent.com/4493366/81275218-a7315400-9051-11ea-96f4-c833dd69eb30.png)
The behaviour of configuration import is wrong as everything is reset so weeks of monitoring are lost. Too bad

The correct behaviour must be
- If you import a configuration, this configuration must be MERGED (not replaced as today).
- Existing measurements mus

[2020-05-07 09:33] lucaderi opened #3904 "Alerted hosts not reported as alerted"
![Screen Shot 2020-05-07 at 11 32 14](https://user-images.githubusercontent.com/4493366/81278836-85869b80-9056-11ea-979d-0aec0d462ddf.png)
![Screen Shot 2020-05-07 at 11 32 06](https://user-images.githubusercontent.com/4493366/81278840-87505f00-9056-11ea-90c1-1defd8068168.png)
The yellow triangle is missing

[2020-05-07 09:41] lucaderi opened #3905 "Top L7 contacts reported for the wrong host in nindex"
![photo_2020-05-07 11 38 04](https://user-images.githubusercontent.com/4493366/81279313-43118e80-9057-11ea-9e22-3e822c21c060.jpeg)
As you can see the top L7 contacts are not correct for the displayed host, as at least one of the peers has to be the host being displayed.

[2020-05-07 09:53] schnetzzz commented on #3902
Hi Simone,
one example to speed up redundant calls.

This function here receives an entity_id. To find the result it has to iterate through the list of alert_consts.alert_entities.
[code]
If the query from the database returns 10000 records, this function is called 10000 times, resulting in 10000 alert_consts.alert_entities lookups. There is no reason do this over and over again.
The number of ent

[2020-05-07 13:40] rhadeur opened #3906 "Gathering syslog data to Ntop webpage"
Hey,
I have approx 300 servers which send their syslog events login iptables log etc to a remote rsyslog server.
I would like to see these logs in the ntopng site.

I already setup a relay on my rsyslog, and I see from the iptables log, the messages are sent, my question what is needed to be setup from ntopng site, to be able to see what is in the syslog messages.
Many thanks,
Gábor

[2020-05-07 14:14] emanuele-f commented on #3894
There are still places where such CSRF token are passed without need, e.g. https://github.com/ntop/ntopng/blob/dev/scripts/plugins/active_monitoring/web_gui/edit_active_monitoring_host.lua#L24 . Removing such tokens breaks the subsequent form submission, so the js code should also be modified. Please review the entire code base via a grep.

[2020-05-07 14:21] gabryon99 commented on #3899
fixed in: https://github.com/ntop/ntopng/commit/19edceec4cde5dfd4b79343e8884474788367bdf

[2020-05-07 14:21] #3899 closed, assigned to gabryon99

[2020-05-07 14:21] gabryon99 commented on #3896
fixed in: https://github.com/ntop/ntopng/commit/19edceec4cde5dfd4b79343e8884474788367bdf

[2020-05-07 14:21] #3896 closed, assigned to gabryon99

[2020-05-07 14:51] #3898 closed, assigned to gabryon99

[2020-05-07 14:57] #3883 closed, assigned to gabryon99

[2020-05-07 17:00] #3699 closed, assigned to emanuele-f

[2020-05-07 17:01] #3903 closed, assigned to emanuele-f

[2020-05-07 17:04] simonemainardi commented on #3901
With the captive portal enabled, turn of and on again the network interface which connects the host to the internet. Please report.

[2020-05-07 17:06] simonemainardi commented on #3870
@madpilot78 Do you think you can help @mcat528? Thank you.

[2020-05-07 17:07] simonemainardi commented on #3830
docker tests added as well

[2020-05-07 17:07] #3830 closed, assigned to cardigliano

[2020-05-07 17:08] simonemainardi commented on #3831
No feedback received in 13 days. Closing. Please, reopen with the submitted information if necessary.

[2020-05-07 17:08] #3831 closed, assigned to cardigliano

[2020-05-07 17:09] simonemainardi commented on #3641
@emanuele-f please have a look at this as you've just reworked names handling

[2020-05-07 17:11] simonemainardi commented on #3058
part of #3686

[2020-05-07 17:11] #3058 closed, assigned to lucaderi

[2020-05-07 17:12] simonemainardi commented on #3105
implemented and documented

[2020-05-07 17:12] #3105 closed, assigned to simonemainardi

[2020-05-07 17:21] #2898 closed, assigned to emanuele-f

[2020-05-07 17:23] simonemainardi commented on #2477
this is part of the newly implemented active monitoring

[2020-05-07 17:23] #2477 closed, assigned to cardigliano

[2020-05-07 17:51] M9k commented on #3884
I try to stop the nprobe service, then only "nprobe /run/nprobe-nprobe.conf" remains.
If I reboot the VM both are launched.
If I kill -9 the second one it automatically restarted.

So i stop the service and kill the second one, so it was restarted on its own and now it seem to work.

I think the problem is in the configuration of the machine, I will ask my colleague to check.
I don't think it's a

[2020-05-07 18:48] simonemainardi commented on #3906
Please attach some examples of the syslog. I think we should create something like `syslog.lua`. What do you think @cardigliano?

[2020-05-07 18:57] madpilot78 commented on #3870
This is not easy to debug, Not sure how OPNSense compiles it's packages and which options are used for compiling the embedded FreeBSD system they use.

@mcat528 Have you reported this to the OPNsense support or community support? Are there other users with similar issues?

[2020-05-07 18:57] madpilot78 commented on #3870
@mcat528 BTW, are you able to get a core dump from the crash? Maybe that could help.

[2020-05-07 18:58] simonemainardi opened #3907 "Validation of Endpoint Fields"
This kind of inputs is accepted and validated as true. This MUST NOT happen. An error should be shown and no submit must be performed.

![image](https://user-images.githubusercontent.com/3397663/81333551-12584600-90a5-11ea-9c6d-f35a74a914ed.png)

Then the backend cleans them up but this must not happen. No submit.

![image](https://user-images.githubusercontent.com/3397663/81333646-2ef47e00-90a5-1

[2020-05-07 19:00] simonemainardi commented on #3907
Same:

![image](https://user-images.githubusercontent.com/3397663/81334022-ad512000-90a5-11ea-93ff-7474e9d2f24c.png)

delta is changed and garbled after submit. This must not happen

![image](https://user-images.githubusercontent.com/3397663/81334071-c063f000-90a5-11ea-9b3e-0a033e72a8dc.png)

[2020-05-07 19:01] simonemainardi opened #3908 "Empty recipient names accepted"
adding just four spaces allow the recipient to be saved

![image](https://user-images.githubusercontent.com/3397663/81334154-e8ebea00-90a5-11ea-938d-82edc9804e71.png)

[2020-05-07 19:07] simonemainardi opened #3909 "Enforce Admin Privileges for Endpoint Notifications / Recipients"
Code allows edits even to non-admin users. Prevent this and only show the entries in the menu if the user is an admin.

Also a return here: https://github.com/ntop/ntopng/commit/db9f3ecc03952892ff9afab78aecbe9202d64caf#diff-9925a752c646506e1f2dfe27910763beR17

[2020-05-07 19:12] simonemainardi opened #3910 "Use alert endpoint validation for email fields"
As said it is not acceptable to `validateUnquoted` these fields

![image](https://user-images.githubusercontent.com/3397663/81334886-02416600-90a7-11ea-8a64-2694831e9bcd.png)

Only allow ASCII and underscores for:
- endpoint_conf_name
- endpoint_conf_type

(maybe you can re use the validator for user scripts)

To validate:
-   ["smtp_server_name"]
-   ["sender"]
-   ["cc"]
-   ["to"]

You MUST:
-

[2020-05-07 19:35] gabryon99 commented on #3908
add pattern for empty space: https://github.com/ntop/ntopng/commit/4984e0d653fc41291a7cafbcf58dc2ae92f0e069

[2020-05-07 19:35] #3908 closed, assigned to gabryon99

[2020-05-07 19:43] gabryon99 commented on #3910
fixed as you described in: https://github.com/ntop/ntopng/commit/88635566acd6173f9e786b6935ec7aa1013bdd21

[2020-05-07 19:43] #3910 closed, assigned to gabryon99

[2020-05-07 19:45] mcat528 commented on #3870
Sure, can you tell me where the dump would be. I'll post is.

[2020-05-07 21:40] X-Nightmare-X commented on #2618
Not a good idea to give some one SSH Access..
But my question is, why should i disable it for ntopng? Is it bad or causes problems?

[2020-05-07 23:12] alcaldiapcr commented on #3830
thanks

[2020-05-08 07:12] #3884 closed, assigned to nobody

[2020-05-08 07:16] rhadeur commented on #3906
Client config:
syslog-ng
destination d_net { udp("10.15.0.9" port(514) log_fifo_size(1000)); };
log {  source(s_src); destination(d_net); };

When I use Syslog server:

destination d_mysql {
          sql(type(mysql)
          host("localhost") username("user-removed") password("password removed")
          database("syslog") table("logs")
          columns("facility", "priority", "date", "time",

[2020-05-08 07:19] cardigliano commented on #3906
In this ticket it is requested to trace system activities from all hosts in the network. They should be configured to send syslog to ntopng, however ntopng does not collect standard syslog events at the moment (it collects VPN events from firewalls, or alerts and flows from Suricata).
This means implementing a syslog plugin able to collect standard syslog messages, extract common events (e.g. user

[2020-05-08 07:29] cardigliano commented on #2618
A traffic analysis application expects to see packets as they are on the wire, for this reason gro should be turned off.

[2020-05-08 08:05] madpilot78 commented on #3870
@mcat528

A core dump is not produced by default, you need to run the software withing a debugger, like gdb.

I'm sorry I have never used OPNSense and have not been using PFSense for a long time, so I don't know if those tools have facilities to do that easily. It would most probably involve using the console.

You should really check OPNSense documentation or get it touch with their community or

[2020-05-08 08:46] simonemainardi commented on #3909
Invalid commit https://github.com/ntop/ntopng/commit/dc7a4c31bc1cc35ee819b05c6101d4100ad4413b

- page broken with non-existing function reportError
- there's no return after the check so page continue to allow non-admin users to work on endpoints

Revert the commit.

For non-JSON pages use function

[code]

For JSON pages just return empty and return.

[2020-05-08 09:38] lucaderi commented on #3894
![Screen Shot 2020-05-08 at 11 35 23](https://user-images.githubusercontent.com/4493366/81393272-5d636f00-9120-11ea-8b66-a7602db56dd8.png)
If in continuous monitoring you do
- add host: everything goes well
- add a new host: the above error is produced

[2020-05-08 10:01] emanuele-f opened #3911 "heap-use-after-free in ContinuousPing"
[code]

[2020-05-08 10:22] emanuele-f commented on #3894
Issue with the above form fixed in 44337e83ee4377c4af3450bbe52370c5761c8c15 . Proceeding with the cleanup.

[2020-05-08 10:57] emanuele-f commented on #3894
Cleanup completed in af842e4aa66d2dd05d13a1496fba7ea60688c2d7 and corresponding pro commit.

[2020-05-08 10:57] #3894 closed, assigned to emanuele-f

[2020-05-08 11:07] simonemainardi opened #3912 "Continuous ICMP RTT and Jitter"
Mean rtt and jitter must be hidden when they are zero

![image](https://user-images.githubusercontent.com/3397663/81400178-d072e280-912c-11ea-9dc2-17d121ceb58b.png)

[2020-05-08 11:08] simonemainardi opened #3913 "Continuous Ping Keeps Pinging the host even when removed from the active monitoring"
Using tcpdump it can be seen that the host is being pinged even when it has been removed from the active monitored hosts

[2020-05-08 12:24] #3677 closed, assigned to emanuele-f

[2020-05-08 12:25] #3641 closed, assigned to emanuele-f

[2020-05-08 14:12] mcat528 commented on #3870
OK, I understand on the core dump (I read up on gdb last night). The funny thing is, ntopng runs fine for some amount of time then it just dies. I will keep researching the issue...maybe just go back to pfsense at some point. Thank you for the help!

[2020-05-08 14:12] #3870 closed, assigned to nobody

[2020-05-08 14:35] simonemainardi commented on #3913
handled using heartbeats https://github.com/ntop/ntopng/blob/af842e4aa66d2dd05d13a1496fba7ea60688c2d7/src/ContinuousPing.cpp#L129

An host is removed from continuous within, at most, 90 seconds, if no longer requested.

[2020-05-08 14:35] #3913 closed, assigned to nobody

[2020-05-08 14:50] #3911 closed, assigned to simonemainardi

[2020-05-08 15:02] #3912 closed, assigned to nobody

[2020-05-08 15:48] #3904 closed, assigned to simonemainardi

[2020-05-08 15:54] nygc-jmaldonado opened #3914 "Order 1588866738 for Professional Enterprise does not come up with a license"
<img width="1437" alt="Screen Shot 2020-05-08 at 11 46 36 AM" src="https://user-images.githubusercontent.com/33460767/81423105-fb0b6e00-9121-11ea-9c4a-0cd1f5e873b4.png">

[2020-05-08 17:36] simonemainardi commented on #3914
Now that you have the order, you just need to generate the license: Visit https://shop.ntop.org/mkntopng/

Once the license has been generated, it will appear there.

[2020-05-08 17:36] #3914 closed, assigned to nobody

[2020-05-08 17:57] nygc-jmaldonado commented on #3914
ntopng License Generator
The orderId you have specified is not valid for the product you have selected (see for details<https://shop.ntop.org/recover_licenses.html>). Please go back and try again.

From: simonemainardi <notifications@github.com>
Reply-To: ntop/ntopng <reply@reply.github.com>
Date: Friday, May 8, 2020 at 1:37 PM
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: Justin Maldonado <jmal

[2020-05-09 10:40] CyberbreinAirw0lf opened #3915 "Interface errors: no such device?"
Team,

This morning I found the following messages in the syslog:
<code>
May  9 12:19:57 npm-2 n2disk[15274]: 09/May/2020 12:19:57 [n2disk.c:4207] Using packet timestamps from pf_ring
May  9 12:19:57 npm-2 n2disk[15274]: 09/May/2020 12:19:57 [n2disk.c:4228] ERROR: Unable to open PF_RING device eth0,eth2,eth3,eth4 [globals.ro.snaplen=1536]
May  9 12:19:57 npm-2 n2disk[15274]: 09/May/2020 12:19:57 [

[2020-05-09 22:28] alcalpcr commented on #3830
thanks for update

[2020-05-11 07:41] lucaderi commented on #3863
Closing for inactivity. Will reopen if necessary

[2020-05-11 07:41] #3863 closed, assigned to simonemainardi

[2020-05-11 08:10] Michiko0109 commented on #3901
Thanks to your advice, the problem has been resolved.

[2020-05-11 08:10] #3901 closed, assigned to nobody

[2020-05-11 08:51] simonemainardi opened #3917 "User Scripts: Add Disable All / Enable All"
It would be handy to add buttons Disable All / Enable All in user scripts. As there are tens of user scripts, it's not nice to enable/disable them individually.

[2020-05-11 10:16] HWHS-Admin opened #3918 "How to enable VirusTotal icon?"
In this page https://www.ntop.org/ndpi/trickbot-malware-analysis-using-ndpi-and-ntopng/, I saw VirusTotal icon in the Hosts page. But my ntopng couldn't see this VirusTotal icon. How to enable VirusTotal icon?

[2020-05-11 10:20] emanuele-f commented on #3905
Cannot reproduce, waiting for more information from the user

[2020-05-11 11:50] Francis89000 opened #3919 "Synology Packet ntopng"
Installation was done with Synology packet.
No launch available in Synology in the menu section.
![image](https://user-images.githubusercontent.com/65024538/81558590-3c07ba80-938e-11ea-9a9f-3e90ee9bd4e5.png)

[2020-05-11 12:18] simonemainardi commented on #3918
Icon is automatically enabled for non-private ip addresses in ntopng version 4.1.

[2020-05-11 12:18] #3918 closed, assigned to nobody

[2020-05-11 12:25] JVital2013 commented on #3874
I have this same issue. `top -p $(pgrep ntopng) -H` shows just "PingLoop" for me

[2020-05-11 12:31] simonemainardi commented on #3919
We do not maintain nor support any synology packet. Our officially maintained packages are available at https://packages.ntop.org/. Please, use them or get in touch with the synology maintainer.

[2020-05-11 12:31] #3919 closed, assigned to nobody

[2020-05-11 12:53] emanuele-f commented on #3873
Tested with an expired certificate generated with the above command and I cannot see leaks/crash. Closing as no feedback has been received. If you still experience a crash, please open a new issue and report the stack trace as explained in https://github.com/ntop/ntopng/blob/dev/doc/README.crash

[ntopng-cert.pem.zip](https://github.com/ntop/ntopng/files/4609653/ntopng-cert.pem.zip)

[2020-05-11 12:53] #3873 closed, assigned to nobody

[2020-05-11 13:07] simonemainardi commented on #3900
A ping measure exists and has been performed at 14:02:

![image](https://user-images.githubusercontent.com/3397663/81564719-7b3b0900-9398-11ea-9346-f7324d86c0ef.png)

To simulate a ping drop at 14:03 I used iptables as:

[code]

Right after 14:03, the previously existing point has disappeared. What was existing is now no longer existing. Everything is marked as unreachable host:

![image](https://

[2020-05-11 14:23] cardigliano commented on #3915
@NogNeetMachinaal please provide the output of the below commands:

cat /proc/net/pf_ring/info
ifconfig

[2020-05-11 14:54] CyberbreinAirw0lf commented on #3915
See below:
<code>
root@npm-2:/home/will# ifconfig

eth0: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1800
        inet6 fe80::20c:29ff:fe5c:4395  prefixlen 64  scopeid 0x20<link>
        ether 00:0c:29:5c:43:95  txqueuelen 1000  (Ethernet)
        RX packets 2  bytes 120 (120.0 B)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 0  bytes 0 (0.0 B)
        TX errors 0  dro

[2020-05-11 14:57] cardigliano commented on #3915
It seems pf_ring is not loaded, did you follow the instructions at
https://www.ntop.org/guides/pf_ring/get_started/packages_installation.html ?

[2020-05-11 15:03] CyberbreinAirw0lf commented on #3915
Yes - was part of the initial install.
Just give this another try:
<code>
root@npm-2:/home/will# apt-get install pfring
Reading package lists... Done
Building dependency tree
Reading state information... Done
You might want to run 'apt --fix-broken install' to correct these.
The following packages have unmet dependencies:
 n2disk : Depends: pfring (= 7.6.0-2950) but 7.6.0-2963 is to be installed

[2020-05-11 15:11] cardigliano commented on #3915
Please try with:
apt-get clean all
apt-get update
apt-get install pfring-dkms

[2020-05-11 15:21] CyberbreinAirw0lf commented on #3915
Seems to work - thanks.

[2020-05-11 15:21] #3915 closed, assigned to cardigliano

[2020-05-11 15:46] emanuele-f commented on #3707
Here is the layout after the fix.

![2020-05-11_17-45](https://user-images.githubusercontent.com/5488003/81581732-a6c0f200-939e-11ea-81ad-053c651bfdf4.png)

[2020-05-11 16:11] #3707 closed, assigned to emanuele-f

[2020-05-11 16:12] #2548 closed, assigned to nobody

[2020-05-11 16:20] simonemainardi commented on #2764
superseded by https://github.com/ntop/ntopng/issues/3755

[2020-05-11 16:20] #2764 closed, assigned to nobody

[2020-05-11 17:31] simonemainardi commented on #3849
still not working for https://github.com/ntop/ntopng/issues/3849#issuecomment-623601675

[2020-05-12 01:55] cleverchou opened #3920 "Data Overwritten"
When ntopng A and ntopng B push data to Influxdb at the same time, ntopng A is started before B, then A's data is overwritten

[2020-05-12 02:52] #3920 closed, assigned to nobody

[2020-05-12 03:57] arjunrey94 opened #3921 "ntopng Service stops working after Started periodic activities loop... ( Segmentation Fault ) "Unit ntopng.service entered failed state.""
**Summary** : ntopng Service stops working after Started periodic activities loop... "Unit ntopng.service entered failed state."

[code]

**Version :**

[code]

**conf File :**

[code]

Log :

[code]

[2020-05-12 06:29] lucaderi commented on #3921
Hi, as you are using the ntopng community edition, can you please compile it from source code and provide a stack trace? You can read more https://github.com/ntop/ntopng/blob/dev/doc/README.crash

Please paste the stack trace on this ticket

[2020-05-12 06:55] arjunrey94 commented on #3921
Hi @lucaderi  Thanks for response, I collected the back trace as requested,

[code]

[2020-05-12 07:41] emanuele-f commented on #3921
Please recompile with debug symbols (ensure that the `-g` option is included in the `CPPFLAGS` in the Makefile)

[2020-05-12 07:48] emanuele-f commented on #3849
Fixed in 2fc0b30e4656ac24ba5e7135888c53e344213f67 and 1a955db5cf5f12b4e1218f2c48465b02c37dc579.

[2020-05-12 08:20] arjunrey94 commented on #3921
[code]

[2020-05-12 08:50] marcusique commented on #3874
I've just updated to a new version and noticed that ntopng uses 100% of one of the CPU cores.

`v.4.1.200511    [Enterprise/Professional/Embedded build]
GIT rev:        dev:812afd9862bff34643c24981a6110b91b94701e4:20200511
Pro rev:        r2868
Built on:       Raspbian GNU/Linux 10 (buster)
System Id:      441BA6D8499602D2
Platform:       armv7l
Edition:        Enterprise Embedded
License Type:

[2020-05-12 09:03] #3849 closed, assigned to emanuele-f

[2020-05-12 09:15] lucaderi commented on #3921
Can you please contact me in private (deri@ntop.org via email or @lucaderi on telegram) as I need to ask you a few questions (for instance what is the site you are accessing?)

[2020-05-12 09:35] #3874 closed, assigned to emanuele-f

[2020-05-12 10:25] lucaderi commented on #3921
Fixed by https://github.com/ntop/nDPI/commit/f7f705406f103a46672f73e9ffb189286ce6bacf
Please update nDPI, recompile it as well ntopng.

[2020-05-12 10:25] #3921 closed, assigned to nobody

[2020-05-12 13:51] gabryon99 commented on #3879
fixed in https://github.com/ntop/ntopng/commit/0428f751abf1155febe148ea0fa2f08f968d13aa

[2020-05-12 13:51] #3879 closed, assigned to gabryon99

[2020-05-12 14:30] emanuele-f opened #3922 "Retention policies not updated when user changes settings"
ts_utils.setupAgain() is not called when the user modifies the `Data Retention` preference

[2020-05-12 14:49] lucaderi opened #3923 "Timeseries menu improvements"
<img width="356" alt="Screenshot 2020-05-12 at 16 45 43" src="https://user-images.githubusercontent.com/4493366/81706201-29fe4880-9470-11ea-969c-16925118db9f.png">

- The menu is populated even when TS are not available
- Going too back in the past there is a JS error
- Begin time can be set to end time
<img width="901" alt="Screenshot 2020-05-12 at 16 48 50" src="https://user-images.githubusercon

[2020-05-12 15:04] emanuele-f opened #3924 "Ensure that timeseries client and server times are aligned"

[2020-05-12 15:40] lucaderi opened #3925 "Restore interfaces.bak after deinstall"
When nEgde is deinstalled in the postrm script, the original /etc/network/interfaces.bak is not restored to  /etc/network/interfaces

[2020-05-12 21:19] ajscam opened #3926 "Export PCAP with BPF Filter causes problem"
Download PCAP file from if_stats.lua WITHOUT Filter (BPF).
Verify downloaded pcap file contains bidirectional data for, say, DNS.

Download PCAP file from if_stats.lua WITH Filter (BPF) of "port 53".
The downloaded PCAP file seems to only have 1 side of the traffic.

[2020-05-13 06:45] manjotsc opened #3927 "Geomap Button is Missing on Private IPs"
![Capture222](https://user-images.githubusercontent.com/51430971/81780306-50e66a00-94c4-11ea-8595-04e1b8b67974.PNG)

![Capture2222](https://user-images.githubusercontent.com/51430971/81780307-50e66a00-94c4-11ea-83cf-804c0c85b02d.PNG)

[2020-05-13 07:13] simonemainardi commented on #3927
Private IP addresses cannot be geolocated as they're private

[2020-05-13 07:13] #3927 closed, assigned to nobody

[2020-05-13 08:41] manjotsc commented on #3927
@simonemainardi As you can see there is an option on older version, it is to see all connection coming in and going out  from that Private IP.

![Annotation 2020-05-13 043916 PNG](https://user-images.githubusercontent.com/51430971/81790915-0cfb6100-94d4-11ea-921d-25f5e433175d.jpg)

[2020-05-13 12:08] simonemainardi commented on #3905
Verified. When the host page is selected, the nIndex query contains the host, e.g.,

[code]

Will reopen if necessary when feedback is received.

[2020-05-13 12:08] #3905 closed, assigned to emanuele-f

[2020-05-13 12:10] DigiAngel opened #3928 "Fails to compile (missing files issue)"
So I'm going to give up on ntopng for now...but thought you'd want to see these:
[code]

This is after git cloning the repo on ubuntu 18.

[2020-05-13 12:26] #3922 closed, assigned to simonemainardi

[2020-05-13 12:34] simonemainardi commented on #3928
Missing required dependency `libzmq5`.

Run

[code]

Then again

[code]

 For compilation see https://github.com/ntop/ntopng/blob/dev/doc/README.compilation

[2020-05-13 12:34] #3928 closed, assigned to nobody

[2020-05-13 12:42] DigiAngel commented on #3928
Thank you!

[2020-05-13 14:06] cardigliano commented on #3926
@ajscam we are not able to reproduce this, could you provide a pcap with some (bidirectional) data? Thank you.

[2020-05-13 14:38] ajscam commented on #3926
I tried emailing the 1 minute download (gzipped).  It is too large for
email.

I'd rather not attach it to the github issue...  Is there someplace else I
can email it?  ntop.org?

On Wed, May 13, 2020 at 9:06 AM Alfredo Cardigliano <
notifications@github.com> wrote:

[2020-05-13 14:40] #3924 closed, assigned to simonemainardi

[2020-05-13 14:45] simonemainardi commented on #3864
Again, drops are inferred using sequence numbers. If it's the router which is dropping as it cannot keep up with the traffic, it will just increase the sequence number but won't send any packet.

Use tcpdump to record a pcap and then open it with wireshark. You'll be able to see sequence numbers there, and issues with sequence numbers will be highlighted in yellow. Please check.

[2020-05-13 14:47] simonemainardi commented on #3845
@gabryon99 can you still reproduce this behavior? I don't see any suspicious behavior on my Mac.

[2020-05-13 15:29] simonemainardi commented on #3742
Addressed in https://github.com/ntop/ntopng/pull/3929
are-you-sure will be handled as part of https://github.com/ntop/ntopng/issues/3861

[2020-05-13 15:29] #3742 closed, assigned to emanuele-f

[2020-05-13 16:23] gabryon99 commented on #3845
Recently there wasn't any problem with my Mac

[2020-05-13 16:27] gabryon99 commented on #3909
Fixed and tested with non-admin user: https://github.com/ntop/ntopng/commit/237309fc580960907d9653987f7fd2aa1dccaa39

[2020-05-13 16:27] #3909 closed, assigned to gabryon99

[2020-05-13 16:33] gabryon99 commented on #3877
fixed in https://github.com/ntop/ntopng/commit/5ca25a30e4dc061be4e014b3341a78b00fa6445f

[2020-05-13 16:33] #3877 closed, assigned to gabryon99

[2020-05-13 16:50] justinmaldonado opened #3930 "Enterprise L not recognized with online check"
**License page says we have L**
<img width="1416" alt="Screen Shot 2020-05-12 at 1 44 21 PM" src="https://user-images.githubusercontent.com/38710743/81841128-f4ad3580-9517-11ea-8356-56f2ab64c58e.png">

**CLI says we have L**

Could not chdir to home directory /gpfs/commons/home/jmaldonado: No such file or directory
-bash-4.2$  sudo su -
Last login: Tue May 12 11:27:59 EDT 2020 on pts/1
[root@ntop

[2020-05-13 17:27] lucaderi opened #3931 "News feed is out of sync with blog"
![Screen Shot 2020-05-13 at 19 08 48](https://user-images.githubusercontent.com/4493366/81844665-b3d11300-954f-11ea-84af-dcc03d52dec5.png)
![Screen Shot 2020-05-13 at 19 10 10](https://user-images.githubusercontent.com/4493366/81844669-b59ad680-954f-11ea-8e3d-78575b77ab53.png)

[2020-05-13 20:15] gabryon99 commented on #3907
Added domain name validation as requested. See: https://github.com/ntop/ntopng/commit/71870f51588d0d547d48607e363fe6a79a52c749

[2020-05-13 21:23] DigiAngel opened #3932 "High CPU with latest git"
Topic...just installed, running with this cli:
[code]

currently using 100% cpu....very low traffic currently.  Any way to trouble shoot this?  Thank you.
![Screenshot from 2020-05-13 15-19-58](https://user-images.githubusercontent.com/947191/81867264-a3a83c00-952d-11ea-84ae-ce5dbd5c5c75.png)

[2020-05-13 22:27] DigiAngel commented on #3932
Also, even though specifying to spread out the load over cores with -g 0,1,2,3 -y 0,1,2,3 this does not appear to be happening.
![Screenshot from 2020-05-13 16-22-29](https://user-images.githubusercontent.com/947191/81872221-9ba0ca00-9536-11ea-8966-5ea4932d19eb.png)

13/May/2020 16:28:55 [NetworkInterface.cpp:2336] Setting affinity of interface enp0s31f6 to core 0

[2020-05-13 22:39] DigiAngel commented on #3932
Of interest, this only happens when running not in daemon mode...so...?

[2020-05-13 22:39] #3932 closed, assigned to nobody

[2020-05-14 07:42] simonemainardi commented on #3907
still not valid:

![image](https://user-images.githubusercontent.com/3397663/81906728-fa158900-95c6-11ea-861b-5d83ca458dee.png)

Then once an invalid input has been inserted, it's not possible to remove it. Cliclick on 'remove' is ineffective, nothing happens, o errors:

![image](https://user-images.githubusercontent.com/3397663/81906828-24ffdd00-95c7-11ea-916d-9ef6ca37719b.png)

[2020-05-14 07:43] simonemainardi commented on #3907
emails:

![image](https://user-images.githubusercontent.com/3397663/81906973-60021080-95c7-11ea-9326-889df7603266.png)

[2020-05-14 07:50] cardigliano commented on #3930
@TheFunkyTechnician latest stable is working for me, reporting the correct edition, could you update please?

[2020-05-14 09:52] simonemainardi commented on #3864
pcap received privately, thanks @mhercek

pcap analysis shows there are gaps/wraps which are also highlighted by Wireshark. See for example what I obtain using your capture:

![image](https://user-images.githubusercontent.com/3397663/81919950-c5aac880-95d8-11ea-80f1-003fed30b849.png)

![image](https://user-images.githubusercontent.com/3397663/81919996-d8250200-95d8-11ea-812f-cf48a2f0c434.png)

![i

[2020-05-14 09:52] #3864 closed, assigned to simonemainardi

[2020-05-14 09:56] simonemainardi commented on #3926
send pcap download link via mail to cardigliano ntop org

[2020-05-14 10:54] RichieB2B opened #3933 "Disable Device Applications Alerts"
Running ntopng 4.0.200513-10203 when editing the Device Applications there is a note at the bottom:

The [documentation](https://www.ntop.org/guides/ntopng/advanced_features/device_protocols.html) also mentions this. However, Settings -> Preferences -> Alerts does not have a Device Applications Alerts switch.

<img width="1415" alt="image" src="https://user-images.githubusercontent.com/1461970/819

[2020-05-14 11:29] RichieB2B opened #3934 "Flow direction reversed"
Using ntopng 4.0.200513-10203 I receive many "server application" flow alerts like:
[code]
Since I have TLS.Apple whitelisted for client traffic in `Multimedia application policy` it is clear this alert means that 17.253.53.208:443 is considered the client and 192.168.1.239:53847 the server. 192.168.1.0/24 is configured as a local network. How can I make ntopng understand the flow direction should

[2020-05-14 12:59] simonemainardi commented on #3934
Flow direction depends on the first flow packet seen.

When directions are swapped, in general, it happens one of the following things:

- ntopng couldn't see the beginning of the flow because it has been started with the flow already in progress
- ntopng is fed with a mirror port but the mirror is sending only one direction of the traffic

So you should check one of the two things above.

[2020-05-14 12:59] #3934 closed, assigned to nobody

[2020-05-14 13:09] cardigliano commented on #3926
@ajscam please note that your traffic is vlan tagged in one direction, BPF requires the "vlan" primitive in order to match packets with the vlan tag. In your case you should specify "(port 53) or (vlan and port 53)" as you have vlan in one direction only.

[2020-05-14 13:11] simonemainardi commented on #3933
Thanks for reporting this. Go to Settings->User Scripts->Flow User Scripts and disable "Device Application Not Allowed"

![image](https://user-images.githubusercontent.com/3397663/81938391-21834a80-95f5-11ea-8143-1da63be796d1.png)

Refreshing the docs accordingly

[2020-05-14 13:11] cardigliano commented on #3926
Please also note that the vlan is part of the flow key in ntopng, since you have the vlan in one direction only, this means that you see 2 different flows, one per direction. In order to avoid this you can add --ignore-vlans to the ntopng configuration.

[2020-05-14 13:19] #3933 closed, assigned to nobody

[2020-05-14 14:38] RichieB2B commented on #3933
Thanks. I found it at a sightly deeper location:

Settings -> User Scripts -> Flows -> Default -> Edit -> Device Application Not Allowed

[2020-05-14 14:41] RichieB2B commented on #3934
Thanks! The second option applied to me. Changing my mirror port from manual to auto negotiation fixed this for me (UniFi switch).

[2020-05-14 14:43] simonemainardi commented on #2118
did you move to at least version 4?

[2020-05-14 16:59] gabryon99 commented on #3907
I add a regex only for words:

<img width="1050" alt="Screenshot 2020-05-14 at 18 56 39" src="https://user-images.githubusercontent.com/14114916/81962858-a6319100-9614-11ea-8672-bd3f8fe3d523.png">
<img width="1050" alt="Screenshot 2020-05-14 at 18 56 52" src="https://user-images.githubusercontent.com/14114916/81962892-ae89cc00-9614-11ea-865e-baa7e4acb853.png">
<img width="1050" alt="Screenshot 202

[2020-05-14 17:00] gabryon99 commented on #3907
For the email, I can't do much because of browser's validator

[2020-05-14 17:21] justinmaldonado commented on #3930
Still experiencing same issue. CLI reports it as Enterprise L, Gui reports it as Enterprise M

From: Alfredo Cardigliano <notifications@github.com>
Reply-To: ntop/ntopng <reply@reply.github.com>
Date: Thursday, May 14, 2020 at 3:50 AM
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: Justin Maldonado <justin.maldonado@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [ntop/ntopng] Gui/CL

[2020-05-14 18:33] CyberbreinAirw0lf opened #3935 "New domain"
Team,

I had to change the domain-part of the hostname.
Meaning the ntopng system indicated by npm-2.local.net is replaced with npm-2.itv.lan.
The same applies for all hosts monitored with SNMP.

What changes do I need to make within ntopng?

Thanks - Will

[2020-05-15 04:55] djmax9999 opened #3936 "Script LuaEngine.cpp Warning unexpected Symbol near"
I am using the following ntopng Version anf getting lots of messages in syslog.

root@raspberrypi:/var/log# ntopng --version
v.4.1.200511    [Enterprise/Professional/Embedded build]
GIT rev:        dev:812afd9862bff34643c24981a6110b91b94701e4:20200511
Pro rev:        r2868
Built on:       Raspbian GNU/Linux 10 (buster)
System Id:      FD496849499602D2
Platform:       armv7l
Edition:        Enterpr

[2020-05-15 07:33] simonemainardi commented on #3936
As you're using the community edition, add option --community and report.

[2020-05-15 07:35] djmax9999 commented on #3936
I am starting ntopng via systemctl, how can I add the option with systemctl ?

[2020-05-15 07:39] simonemainardi commented on #3935
For the devices monitored with SNMP you have to delete and re-add them. Other things (such as host names) will adjust automatically. You can also clear certain hosts data by visiting the host page and clicking 'reset host data'.

[2020-05-15 08:50] djmax9999 commented on #3936
Just tried to startt ntopng manually in community mode:

root@raspberrypi:/# ntopng --community
15/May/2020 10:46:03 [Ntop.cpp:2255] Setting local networks to 127.0.0.0/8
15/May/2020 10:46:03 [Redis.cpp:157] Successfully connected to redis 127.0.0.1:6379@0
15/May/2020 10:46:03 [Redis.cpp:157] Successfully connected to redis 127.0.0.1:6379@0
15/May/2020 10:46:07 [PcapInterface.cpp:91] Reading packe

[2020-05-15 09:13] CyberbreinAirw0lf commented on #3935
I did delete en re-add them. However, it looks as if under the hood, the old names are still used.
This is because a packet capture shows DNS requests coming from ntopng towards the old system/domain name for at least 2 SNMP devices.

The option 'reset host data' is something that is only available on the flow data and on a per hosts basis? Is there a way to reset the host data for all hosts in on

[2020-05-15 10:36] janerva opened #3937 "lh_table_new: calloc failed"
Last night I upgraded ntopng via apt and afterwards it wouldn't start up. The error message is:

`May 15 08:12:51 gatewaysrv ntopng[26708]: lh_table_new: calloc failed`

After further research I found that this error message could be related to under-allocation of memory, so I increased it from 4G to 12G just to test, but with the same result. I disabled the ntopng-service and ran the command **nt

[2020-05-15 11:06] cardigliano commented on #3937
@janerva this is due to a bug introduced with the last json-c update in Ubuntu 18/20 last night (see https://bugs.launchpad.net/ubuntu/+source/json-c/+bug/1878738)
We just pushed a workaround until this is fixed in Ubuntu, a new package will be available soon.

[2020-05-15 13:11] simonemainardi commented on #3936
Put the option inside the ntopng configuration file, then control the start/stop of ntopng as usual using systemd or initd.

It says "/var/lib/ntopng/2/rrd/traffic_rxtx.rrd': Read-only file system" so you have permission errors

[2020-05-15 13:12] emanuele-f commented on #3845
This may have been fixed with 607ba52263830c577e7b37c8c25320e60466a5f6

[2020-05-15 13:13] simonemainardi commented on #3935
Could be requests in progress at the time of the change. They will stop as soon as completed. In case, you can also restart ntopng.

stop ntopng
run redis-cli flushall
restart ntopng

[2020-05-15 14:21] cardigliano commented on #3930
Are you using the same version I am using? Please note we just released a new update, please provide a screenshot again. Thank you.

<img width="938" alt="Screen_Shot_2020-05-15_at_16_18_50" src="https://user-images.githubusercontent.com/7548711/82060682-fcabd780-96c7-11ea-88f0-8f38c6e36e8e.png">

[2020-05-15 14:22] cardigliano commented on #3937
@janerva please run an apt-get update && apt-get upgrade and let us know if it's working now. Thank you.

[2020-05-15 14:46] justinmaldonado commented on #3930
So strange. The license we see from CLI is

[root@ntop ~]# ntopng --version
v.4.0.200505    [Enterprise/Professional build]
GIT rev:        4.0-stable:13dc2a7d30e7ff7ef28d0a09de4efa2e0a70ad40:20200505
Pro rev:        r2813
Built on:
System Id:      XXXXXXXXXXX
Platform:       x86_64
Edition:        Enterprise L
License Type:   Permanent
Maintenance:    Until Fri May  7 11:28:19 2021 [357 days left

[2020-05-15 14:46] justinmaldonado commented on #3930
If I do an online check I see

[root@ntop ~]# ntopng --online-license-check
15/May/2020 10:45:59 [Ntop.cpp:2236] Setting local networks to 127.0.0.0/8
15/May/2020 10:45:59 [Redis.cpp:157] Successfully connected to redis 127.0.0.1:6379@0
15/May/2020 10:45:59 [Redis.cpp:157] Successfully connected to redis 127.0.0.1:6379@0
15/May/2020 10:45:59 [NtopPro.cpp:295] [LICENSE] Reading license from /etc/nt

[2020-05-15 14:52] cardigliano commented on #3930
@TheFunkyTechnician it seems this is related to the online check then, we will check it, in the meantime do not use it (it seems it is not required in this case)

[2020-05-15 15:28] justinmaldonado commented on #3930
Ok, so we have a similar issue with our nprobe license as well. It may be easier/faster to resolve all of this another way. Let me know if you are interested. I can set up a google meet if you want to see / share screens. We can probably resolve this in a few minutes.

From: Alfredo Cardigliano <notifications@github.com>
Reply-To: ntop/ntopng <reply@reply.github.com>
Date: Friday, May 15, 2020 at

[2020-05-15 17:14] #3845 closed, assigned to gabryon99

[2020-05-15 17:19] janerva commented on #3937
@cardigliano it works! Thanks for the update. Let's hope the developers of the libjson-c3 package doesn't replicate this issue again. I imagine it would've had impact on a lot of other services/software.

[2020-05-15 17:19] #3937 closed, assigned to nobody

[2020-05-15 18:09] ShagoY commented on #3830
Hi , i got this error on ntopng start (ubuntu 20.04)

[code]

I used this guide : http://packages.ntop.org/apt/

[2020-05-16 15:33] lucaderi opened #3938 "ntopng warnings"
We have a new install and ntopng is spamming warnings in our logs:

16/May/2020 04:03:32 [InterfaceStatsHash.cpp:86] WARNING: Internal error: too many loops=1024
16/May/2020 04:03:32 [InterfaceStatsHash.cpp:161] WARNING: Internal error: too many devices 48

[2020-05-17 06:56] lucaderi commented on #3938
This is the config
-i=tcp://127.0.0.1:5556
--local-networks=10.16.0.0/14,199.127.204.0/22
-w=10.16.98.30:80
--pcap-dir=/data
--max-num-flows=10000000
--max-num-hosts=10000000
-x 10000000
-X 10000000
-n 1
-G=/var/run/ntopng.pid

[2020-05-17 11:49] Guymtrx opened #3939 "extract pcap file empty"
Hi when I tried to extract old trafic pcap file , the file downloaded empty

[2020-05-17 11:50] Guymtrx opened #3940 "upgrade server"
hi
we want to upgrade our server, change cpu and memory
what we need to do to license will be available?
tnx
Guy

[2020-05-17 21:11] danilaryz opened #3941 "No data on dashboard and hosts section after update"
Hi, after update ntopng from 3.8 to newest one we have some critical errors: no Top Talkers on dashboard, no data in Hosts section, script 5min.lua constantly performed and a lot of drops on nprobe interface(nFlow/sFlow), in log a lot of error like this ntop ntopng: [Error][Flow Misbehaviour][Flow][flow] Long-Lived Flow
Ubuntu 18.0.4.3 LTS, influxdb, ntopng v.4.1.200428

[2020-05-18 07:18] emanuele-f commented on #3940
Please check out http://www.ntop.org/support/faq/how-can-i-move-a-license-to-a-new-server/

[2020-05-18 07:18] #3940 closed, assigned to nobody

[2020-05-18 07:19] emanuele-f commented on #3939
Please report the output of `ntopng --version` and some screenshots

[2020-05-18 08:12] cardigliano commented on #3930
@TheFunkyTechnician please drop an email to cardigliano at ntop org and we will schedule a call

[2020-05-18 08:56] simonemainardi commented on #3941
could be due to

[code]

in progress. please check the logs.

[2020-05-18 09:02] simonemainardi commented on #3435
Implemented.

![Uploading image.png…]()

[2020-05-18 09:02] #3435 closed, assigned to nobody

[2020-05-18 09:06] #3907 closed, assigned to gabryon99

[2020-05-18 11:34] Guymtrx commented on #3939
v.4.1.200423    [Enterprise/Professional build]
GIT rev:        dev:df954828294de806cadb8c24f9014ad0e6ddc15b:20200423
Pro rev:        r2849
Built on:       Ubuntu 18.04.4 LTS
System Id:      93B243D87A08AA83
Platform:       x86_64
Edition:        Enterprise M
License Type:   Permanent
Maintenance:    Until Wed Dec  2 20:28:36 2020 [198 days left]
License:
here there is the license
On Mon, May 18,

[2020-05-18 12:11] emanuele-f commented on #3925
The following files will be restored:
 - `/etc/network/interfaces.old` (Ubuntu 16)
 - `/etc/netplan/*.yaml.old` (Ubuntu 18)

[2020-05-18 12:38] #3935 closed, assigned to nobody

[2020-05-18 12:40] simonemainardi commented on #3939
Please, attach screenshots and configuration. Are you using ntopng in combination with n2disk?

[2020-05-18 12:44] Guymtrx commented on #3939
Yes we use n2disk,
what configuration do you need? I will send you. it's worked fine in the
past.
tnx
Guy

On Mon, May 18, 2020 at 3:40 PM simonemainardi <notifications@github.com>
wrote:

[2020-05-18 12:48] cardigliano commented on #3939
@Guymtrx could you provide a screenshot of the information reported in under Interface -> Recording -> Status?

[2020-05-18 12:55] Guymtrx commented on #3939
[image: image.png]

On Mon, May 18, 2020 at 3:48 PM Alfredo Cardigliano <
notifications@github.com> wrote:

[2020-05-18 13:41] Tamahome-M opened #3942 "ndpi-protocols file not fully loaded"
When downloading the attached list, for example, sberbank.ru and some others are missing.
What am I doing wrong?
ntopng Community Edition v.4.0.200518
Num Applications 262,but there should be more
[proto.txt](https://github.com/ntop/ntopng/files/4644396/proto.txt)

[2020-05-18 13:55] cardigliano commented on #3939
Sorry I cannot see the picture

[2020-05-18 14:03] Guymtrx commented on #3939
and now?

tnx
Guy

On Mon, May 18, 2020 at 4:56 PM Alfredo Cardigliano <
notifications@github.com> wrote:

[2020-05-18 14:09] cardigliano commented on #3939
Still no picture..

[2020-05-18 14:21] Guymtrx commented on #3939
I sent you in telegram

On Mon, May 18, 2020, 17:09 Alfredo Cardigliano <notifications@github.com>
wrote:

[2020-05-18 14:21] lucaderi opened #3943 "Implement /lua/rest/v1/get/alert/ts.lua"
This endpoint will take as input
- begin_time: UTC epoch [mandatory]
- end_time: UTC epoch [mandatory]
- alert_type: alert type. If missing all alerts will match [optional]
- alert_severity: alert severity If missing all alerts will match [optional]

The output will return a daily timeseries (the day key will be an epoch containing an array of 24 numbers, one per hour) with number of alert matchin

[2020-05-18 17:28] simonemainardi opened #3944 "Implement getter for application constants"
It is requested to implement an API getter for application constants, e.g., `/lua/rest/get/consts/applications.lua` which returns all the available nDPI applications along with their unique IDS and categories. Something like

[code]

[2020-05-18 17:31] simonemainardi opened #3945 "Implement getter for protocol constants"
It is requested to implement an API getter for protocol constants, e.g., `/lua/rest/get/consts/protocols.lua` which returns all the available nDPI L4 protocols along with their unique IDS. Something like

[code]

[2020-05-18 17:35] simonemainardi opened #3946 "Implement getter for alert constants"
It is requested to implement an API getter for alert constants, e.g., `/lua/rest/get/consts/alerts.lua` which returns all the available alert types and alert ids. Something like

[code]

Similarly, the endpoint must return also all the available alert severities (and severity ids), and also all the available entities (and entity ids)

[2020-05-18 17:44] simonemainardi opened #3947 "Implement getter for active flow protocol counts"
It is requested to implement an API getter for active flow counts, e.g., `/lua/rest/get/flow/protocol_counts.lua` which returns the number of active flows for each available L4 protocol. In other words, the information which currently populates the flows dropdown must be exposed via this API:

![image](https://user-images.githubusercontent.com/3397663/82243407-d7290300-993f-11ea-8041-ec5dfd323f33.

[2020-05-18 17:49] simonemainardi opened #3948 "Implement getter for alert type counts"
It is requested to implement an API getter for alert counts, e.g., `/lua/rest/get/alert/type_counts.lua` which returns the number of alerts per type. In other words, the information which currently populates the alerts dropdown must be exposed via this API:

![image](https://user-images.githubusercontent.com/3397663/82243723-5e767680-9940-11ea-9010-d3fd08d2b8c9.png)

Endpoint must take as input at

[2020-05-18 17:51] simonemainardi opened #3949 "Implement getter for alert severity counts"
It is requested to implement an API getter for alert severity counts, e.g., `/lua/rest/get/alert/severity_counts.lua` which returns the number of alerts per severity. In other words, the information which currently populates the alerts dropdown must be exposed via this API:

![image](https://user-images.githubusercontent.com/3397663/82244030-dd6baf00-9940-11ea-99bb-046a2da8cd4f.png)

Endpoint must

[2020-05-18 17:52] simonemainardi opened #3950 "Implement getter for active flow application counts"
Identical to https://github.com/ntop/ntopng/issues/3947 but for L7 applications rather than L4 protocols.

[2020-05-18 17:55] simonemainardi opened #3951 "Implement getter for active flows"
It is requested to implement an API getter for active flows, e.g., `/lua/rest/get/flow/active.lua` which returns the currently active flows.

It is requested to accept at least the following filters:
- l4 protocol (as id or string)
- l7 application (as id or string)

pagination and sorting must be supported as well

[2020-05-18 17:56] simonemainardi opened #3952 "Extend get/alert/data with filters"
It is requested to extend the existing API endpoint in the subject with at least the following filters:

- begin_time: UTC epoch [optional]
- end_time: UTC epoch [optional]
- alert_type: alert type. If missing all alerts will match [optional]
- alert_severity: alert severity If missing all alerts will match [optional]

[2020-05-18 17:59] simonemainardi opened #3953 "Implement endpoint for /lua/iface_ndpi_stats.lua"
It is requested to implement an API endpoint, e.g., `get/interface/application_stats.lua`, for the information which is currently returned in `iface_ndpi_stats.lua`. Once the endpoint is implemented, the old `/lua/iface_ndpi_stats.lua` needs to be removed and replaced with the API call.

[2020-05-18 18:02] simonemainardi opened #3954 "Implement getter for active hosts"
Current endpoint `rest/get/host/data.lua` only returns data for one host. It is requested to extend the endpoint to possibly return all active hosts.

The endpoint must at minimum support the following filters:

- local/remote

Pagination and sorting must be supported as well.

[2020-05-18 18:04] simonemainardi opened #3955 "Implement endpoint to list all interfaces of an host"
ntopng is multitenant. It is requested to implement and endpoint, .e.g., `get/host/interfaces.lua` which returns all the interfaces that currently have an active host with a given IP address. Handle ipv4, ipv6, and VLANS.

[2020-05-18 18:05] simonemainardi opened #3956 "Implement endpoint to list all interface IP addresses"
ntopng reads IP addresses of monitored interfaces (when available). It is requested to implement an endpoint, e.g., `get/interface/addresses.lua`, which given an interface returns all its IP addresses.

[2020-05-18 20:02] simonemainardi commented on #3944
in case custom protocols (`-p`) and custom categories are defined, they must be returned as well

[2020-05-18 20:03] simonemainardi commented on #3950
once this endpoint has been implemented, it would be desirable to have it used to show counters in the application dropdown in the active flows page

[2020-05-18 22:29] andpp opened #3957 "Some references in ntop-4.0 GUI doesn't use 'http-prefix' setting"
Some references in ntopng-4.0 GUI doesn't use 'http-prefix' setting.

I am using ntopng behind nginx proxy with  **http-prefix='/ntopng'** set in configuration file. While most of the links in GUI work fine, sometimes I see links without http-prefix so I get error 404.
For example home link in the left upper corner of the page is **'/'** instead of **/ntopng/** so instead of home of ntopng I get t

[2020-05-19 04:31] mhercek commented on #3864
Apparent wrong flow numbers were caused by running multiple pmacct daemons at remote site (pmacct is exporting to single nprobe collector). Solved by switching to IPFIX and adding 'nfprobe_engine: number' to my exporter (pmacct) config.

[2020-05-19 06:53] Guymtrx commented on #3939
Hi luca,
We need to fix it today.
I talk with alfredo here and in telegram

Please let us know how to fix the pcap issues

tnx
Guy

On Mon, May 18, 2020 at 5:20 PM Guy Atia <guy@mtr-x.com> wrote:

[2020-05-19 06:57] lucaderi commented on #3957
I have made some fixes in 4.1 (dev) but have been unable to find the reference to directories.lua. Can you please be kind enough to update to the latest 4.1 (wait ~1h as packages are being built) and point me to the exact pages with defects? Thanks

[2020-05-19 07:24] emanuele-f commented on #3861
Are-you-sure logic added to `modal-utils.js` in 445ebe8ed4b6b4c1fa048a9a41a4712e521ba7bf

[2020-05-19 07:29] #3925 closed, assigned to emanuele-f

[2020-05-19 07:33] Guymtrx commented on #3939
Hi Luca

We have a very important customer who started to work with the system and
he is not able to download pcaps which is the whole point of this system
for him.
Please put it as a very high priority issue

Thank you,
Pavel Rogovoy
COO at monogoto

On Tue, May 19, 2020 at 9:53 AM Guy Atia <guy@mtr-x.com> wrote:

[2020-05-19 07:49] simonemainardi opened #3958 "Remove InfluxDB export freqs at 10s/30s"
It is requested to remove the export frequencies in the subject and make the export behavior uniform between RRD and InfluxDB:

- Remove classes `TimeseriesRing`, `TimeseriesRingStatus`, `TimeseriesStats`, `TimeseriesPoint` etc
- Remove method `tsLua` from the `Host` and the `Interface`. Remove the `ts_lua` parameter from the `getHost` and `getInterfaceStats` calls
- `Host` will only have `HostSta

[2020-05-19 08:26] emanuele-f opened #3959 "Add error hander in modal-utils.js"
modal-utils.js should handle errors returned by the backend and show them in a consistent way across all the dialogs

[2020-05-19 08:30] emanuele-f opened #3960 "Add success alert handler in modal-utils.js"
A success banner is shown in some pages to confirm that the action was successful. Extend modal-utils.js to make this behavior consistent for all the dialogs.

[2020-05-19 08:42] Tamahome-M opened #3961 "ntopng displays more traffic than it actually is."
Ntopng avg. 5.5 Gbit/s
Zabbix MAX 3 Gbit/s (So much traffic really)
Why does Ntopng display more? (ntopng Community Edition v.4.0.200518)

![Снимок экрана от 2020-05-19 11-37-42](https://user-images.githubusercontent.com/10276582/82304735-6298a780-99c5-11ea-838e-c1acbda2d966.png)
![Снимок экрана от 2020-05-19 11-36-22](https://user-images.githubusercontent.com/10276582/82304742-65939800-99c5-11ea-

[2020-05-19 09:03] emanuele-f opened #3962 "Implement reset logic in modal-utils.js"
The logic is currently missing (under the TODO comment). This needs to be implemented.

[2020-05-19 10:04] simonemainardi commented on #3961
Please, report the ntopng configuration used and also nProbe configuration - if ntopng is used in combination with nProbe.

Also post a screenshot of the interface stats page, home tab.

[2020-05-19 10:10] simonemainardi commented on #3941
please, update ntopng to the lstest version. Then check again and possibly report:

- udpated ntopng version
- nprobe version (if used)
- ntopng logs
- screenshots of the missing data
- screenshot of the interface stats home page

[2020-05-19 10:18] emanuele-f commented on #3891
Added in 9c2af903e438ac8cdabe4bd167ee4e6b9f5f4a52

[2020-05-19 10:21] simonemainardi commented on #3923
After internal review, we have seen that only the last update is used to determine whether to show or not any entry of the menu. This has the advantage of only reading RRD metadata but, on the other hand, may result in menu entries which don't have points in the selected interval.

Solution is to read RRDs to see if there are points in the selected interval. This may be expensive so complexity mus

[2020-05-19 10:43] #3861 closed, assigned to emanuele-f, gabryon99

[2020-05-19 10:50] #3891 closed, assigned to emanuele-f

[2020-05-19 13:36] simonemainardi commented on #3957
@andpp after the fixes the behavior seems OK. Also the only reference to directories.lua which I can find has the right link. Please, explain.

[2020-05-19 13:36] Tamahome-M commented on #3961
The configuration is as follows:
User traffic is served from 2 nodes of the network (incoming can be on one interface and outgoing on another)
![Снимок экрана от 2020-05-19 16-32-49](https://user-images.githubusercontent.com/10276582/82333033-dbf8c000-99ee-11ea-960b-d61aa593cb17.png)

-i enp3s0 -i enp3s0d1 -i view:enp3s0,enp3s0d1  --max-num-flows 9999999 --max-num-hosts 9999999 --disable-autologou

[2020-05-19 13:37] simonemainardi commented on #3936
@djmax9999 did you try the suggestion given?

[2020-05-19 13:55] simonemainardi opened #3963 "Sub-interface selection broken"
Can no longer select dynamically-disaggregated sub-interfaces

[2020-05-19 13:58] simonemainardi commented on #3957
both entries broken when using http-prefix:

![image](https://user-images.githubusercontent.com/3397663/82335461-a3a2b300-99e9-11ea-8e63-b448d18c97a7.png)

[2020-05-19 14:10] simonemainardi commented on #3963
Issue seems to occur then ntopng has a physical interface (with disaggregation) and a pcap file

[2020-05-19 14:13] danilaryz commented on #3941
Hi, i updated ntopng
1. nTop v.4.1.200519
2. nProbe v.9.1.200427
3. you need log from restart of ntopng ?
4.

![изображение](https://user-images.githubusercontent.com/19521231/82335119-8f62b400-99f1-11ea-9621-7b262e9db815.png)
![изображение](https://user-images.githubusercontent.com/19521231/82336632-81ae2e00-99f3-11ea-8f5b-54025cef4637.png)

![изображение](https://user-images.githubusercontent.co

[2020-05-19 15:12] andpp commented on #3957
I compiled and installed from branch **4.0-stable**.

For example  **scripts/lua/modules/page_utils.lua** creates direct link to / instead of http-prefix/
[code]

Will it work if I just copy whole lua folder from **dev** branch to my **/usr/local/share/ntopng/scripts/lua** folder? Or it could create some other issues because of new features of **dev** branch not supported in **4.0-stable** branch?

[2020-05-19 15:25] cardigliano commented on #3939
Traffic in this case contained several nested encapsulation layers, unsupported by the index.

[2020-05-19 15:25] #3939 closed, assigned to cardigliano

[2020-05-19 15:26] #3926 closed, assigned to cardigliano

[2020-05-19 15:43] djmax9999 commented on #3936
I have reinstalled ntopng completly and added --community to ntopng.conf. Currently there are no messages in syslog anymore. Thanks for you help...

[2020-05-19 15:43] #3936 closed, assigned to nobody

[2020-05-19 16:08] simonemainardi commented on #3936
can you please try, remove --community, restart ntopng and see if it happens again (wait at least 10 minutes of execution)?

[2020-05-19 17:12] djmax9999 commented on #3936
just removed --community and restarted ntopng. It´s running for 20 Minutes now... Stopped ntopng and startet the program manually.

No messages so far.....

So the main reason might be a corrupted SD Card which I changed also...
Thnx Simon... I appreciate your help.....

[2020-05-19 19:28] simonemainardi commented on #3936
Thanks for reporting and giving feedback. Much appreciated.

[2020-05-19 19:32] simonemainardi commented on #3941
Thanks for attaching screenshots. What I can tell by looking at the header is that you have flows but don't have hosts. So my guess is that you have ticked option 'flows-only interface' from the interface preferences page (wheel). Make sure this is turned off:

![image](https://user-images.githubusercontent.com/3397663/82370037-30646580-9a18-11ea-9cbe-5f85e0f24bb6.png)

Please report.

[2020-05-19 19:35] simonemainardi commented on #3961
Please, remove the view, just leave -i enp3s0 as ntopng interface and report. Also tell how the traffic is fed to either ntopng and zabbix. Are they running on the same machine?

Post also a screenshot of this page for enp3s0:

![image](https://user-images.githubusercontent.com/3397663/82370309-a49f0900-9a18-11ea-981e-39ea3679da6b.png)

[2020-05-19 19:41] simonemainardi commented on #3830
Please report the ntopng version used. Try to follow this procedure https://www.ntop.org/guides/ntopng/faq.html#reset-ntopng-preferences and start over.

[2020-05-19 19:50] simonemainardi commented on #1978
yes, it's available on 4.x as well:

![image](https://user-images.githubusercontent.com/3397663/82371585-b8e40580-9a1a-11ea-9791-ad5139b59a90.png)

[2020-05-19 20:13] simonemainardi commented on #2220
REST API is being completely reworked. Individual issues have been opened and marked with label  `REST API`. They can be tracked from https://github.com/ntop/ntopng/issues?q=label%3A%22REST+API%22+

[2020-05-19 20:13] #2220 closed, assigned to simonemainardi

[2020-05-19 20:22] simonemainardi commented on #3705
as explained, prometheus support has been dropped in v4.

[2020-05-20 06:47] aurrak opened #3964 "influxdb version detection broken behind HAProxy"
When running influxDB behind HAProxy, It automatically transforms every header from the upstream servers into lowercase (for following the HTTP/2 standard). See: https://discourse.haproxy.org/t/haproxy-2-0-0-header/3930/4

[code]

This breaks the influxDB version detection code (returns incompatible version error) in `scripts/lua/modules/timeseries/drivers/influxdb.lua` as it's using a case-sensit

[2020-05-20 07:28] Tamahome-M commented on #3961
Zabbix runs on another machine. Zabbix get traffic info from snmp server.
This is also confirmed by meters on network equipment.

I launched as you said, the problem is still observed.
The real value of traffic is not more than 2.9Gbit/s
![Снимок экрана от 2020-05-20 10-25-54](https://user-images.githubusercontent.com/10276582/82417520-57f11780-9a84-11ea-8e51-f5890e6ca743.png)

[2020-05-20 07:47] cardigliano commented on #3906
@rhadeur this has been implemented, please read https://www.ntop.org/guides/ntopng/advanced_features/syslog.html#hosts-log-ingestion

[2020-05-20 07:47] #3906 closed, assigned to cardigliano

[2020-05-20 08:03] lucaderi opened #3965 "Wrong interface displayed"
When clicking on the host "Active Monitoring" link
![Screen Shot 2020-05-20 at 10 00 06](https://user-images.githubusercontent.com/4493366/82421185-f4191f80-9a80-11ea-9d2a-b55fa84fca7f.png)
this is the landing page that still reports the ethernet interface rather than the system Interface
![Screen Shot 2020-05-20 at 10 00 16](https://user-images.githubusercontent.com/4493366/82421191-f7aca680-9a80

[2020-05-20 09:19] cardigliano commented on #3902
migrated to /rest/v1/get/alert/data.lua with optimizations

[2020-05-20 09:19] #3902 closed, assigned to nobody

[2020-05-20 09:30] #3963 closed, assigned to simonemainardi

[2020-05-20 10:47] simonemainardi commented on #3957
fixes backported to stable. @andpp you don't have to change any file. Just wait a couple of hours (builds are in progress), then update your 4.0 stable and it will be OK.

[2020-05-20 10:47] #3957 closed, assigned to lucaderi

[2020-05-20 11:03] #3964 closed, assigned to nobody

[2020-05-20 11:03] simonemainardi commented on #3964
Fixed. Change applied both to sable and dev versions. New builds are in progress. Please hold on a couple of hours, update, and it will be OK.

[2020-05-20 13:09] khoshtip2 opened #3966 "can't access to the ntop web(localhost:3000) on macOS"
we test with:

http://ip:3000
http://localhost:3000
http://127.0.0.1:3000

[2020-05-20 13:49] simonemainardi commented on #3966
is ntopng running? please check and report the logs

[2020-05-20 13:57] khoshtip2 commented on #3966
Hi Simone,
yes looks so: /Library/LaunchDaemons/org.ntop.ntopng.plist: service already loaded.
I install the last version: ntopng-4.1.200506 today.
Best Regards

[2020-05-20 14:06] simonemainardi commented on #3966
do

[code]

see if it is running. the report the logs

[2020-05-20 14:08] simonemainardi commented on #3961
Please, install `pfring-dkms`,  your interface family must become PF_RING. Then report the behavior.

[2020-05-20 14:10] simonemainardi commented on #3961
please also report the output of `ntopng --version`

[2020-05-20 14:19] khoshtip2 commented on #3966
result:

rep ntopng
root            19268   0,0  0,0  4276968    828 s000  S+    4:18pm   0:00.00 grep ntopng

[2020-05-20 14:23] #3965 closed, assigned to nobody

[2020-05-20 14:49] simonemainardi commented on #3966
ntopng is not running. stop it and restart it. If you don't check and report the logs as requested, it won't be easy to understand though.

[2020-05-20 15:05] emanuele-f commented on #3958
Implemented in 340462ad73a0a5bde92ddbd216c212c53b497dd9 and in ec51278c2050b0ddb4a685fdb972ee2ef319af3e

[2020-05-20 15:13] khoshtip2 commented on #3966
Ok, but where ist The log folder???

[2020-05-20 16:36] lucaderi commented on #3966
Can you please open terminal and type
/usr/local/bin/ntopng /usr/local/etc/ntopng/ntopng.conf

Then when you see the error, send here the log you see on the terminal screen?

[2020-05-20 16:41] Gelob opened #3967 "nv_graph_utils.lua:307: attempt to call a nil value (field 'hasHighResTs')"
Running https://github.com/ntop/ntopng/commit/0f3616dfe5c38467801b7333d854b7148bfefff6 and getting this error when trying to go to host details and changing Traffic to Protocols on the flows page

https://ntopng.blah.net/lua/host_details.lua?ifid=0&host=1.1.1.1&page=historical&ts_schema=top%3Ahost%3Al4protos&tskey=1.1.1.1&zoom=30m

HTTP/1.1 302 Found Set-Cookie: session=dfe29a5a66d694bca7dc17d0286

[2020-05-20 17:01] simonemainardi commented on #3967
Fixed. Build in progress. Wait a couple of hours and upgrade.

[2020-05-20 17:01] #3967 closed, assigned to nobody

[2020-05-20 19:21] Tamahome-M commented on #3961
ntopng Community Edition v.4.0.200518, from Gentoo Portage

Now I compiled from git to support PF_RING
v.4.1.200520	[Community build]
Now everything seems to be true, but the drops of 17% (driver: mlx4_en)

[2020-05-20 20:00] #3644 closed, assigned to simonemainardi, emanuele-f

[2020-05-20 20:00] khoshtip2 commented on #3966
Hi Luca:

my Terminal log:

Last login: Wed May 20 16:08:52 on ttys000
gbd:~ root# sudo launchctl unload /Library/LaunchDaemons/org.ntop.ntopng.plist
gbd:~ root#
  [20.05.2020, 17:44:41 Wiederhergestellt]
Last login: Wed May 20 17:44:01 on console
Restored session: Mi 20 Mai 2020 17:35:39 CEST
gbd:~ root# /usr/local/etc/ntopng/ntopng.conf
-sh: /usr/local/etc/ntopng/ntopng.conf: Permission denied
g

[2020-05-20 20:20] simonemainardi opened #3968 "Remove table.clone() when not needed"
There are many points in ntopng which uses the function table.clone() and this operation is often unnecessary. This can be also detrimental for the performance. It is requested to remove table.clone() when not necessary and add a comment everywhere when necessary which explains why.

[2020-05-20 20:42] lucaderi opened #3969 "Variables not properly initalized"
In https://github.com/ntop/ntopng/blob/dev/scripts/lua/hosts_stats.lua#L103 most variables are set after (and not before) this call.

[2020-05-20 20:42] simonemainardi commented on #3961
@cardigliano I think this is the bug you've solved. It hasn't been picked up by the gentoo folks. What do you think?

[2020-05-20 20:52] khoshtip2 commented on #3966
Now ist working, redis service was not started!

Best regards
Shahram

[2020-05-21 07:31] cardigliano commented on #3961
Yes it's likely the gentoo source does not contain the fix, if compiling from github fixed this I would close the issue.

[2020-05-21 07:41] emanuele-f opened #3970 "Add support for the 1 minute ts resolution also on RRD"
Currently 1 minute host timeseries can only be enabled in InfluxDB. It's requested to allow them to be enabled also in RRD.

[2020-05-21 07:43] simonemainardi commented on #3961
ok. @Tamahome-M are you able to get in touch with the gentoo package maintainer ad suggest him to update the sources?

[2020-05-21 07:44] simonemainardi commented on #3961
please, also report if the drops you are seeing only occur during startup or if they keep growing

[2020-05-21 08:09] emanuele-f commented on #3970
This request cannot be easily accomplished because in RRD we would need to change the RRD format (the fstep and RRA structure) in order to switch from the 60 seconds and the 300 seconds format. In InfluxDB we don't have such problem because InfluxDB has no concept of step/heartbeat so we just insert the data at the granularity that we want and in at query time we apply the sampling (via a combinat

[2020-05-21 08:09] #3970 closed, assigned to nobody

[2020-05-21 09:18] emanuele-f commented on #3968
Implemented in 610e632234c6d161ceece490491e5544661eb695 and corresponding pro commit

[2020-05-21 09:40] emanuele-f commented on #3632
Implemented in pro

[2020-05-21 09:40] #3968 closed, assigned to emanuele-f

[2020-05-21 11:54] ShagoY commented on #3678
Hi,
Is there any way to force a specific server (ID)?
I live in a place where there are many servers and sometimes the least/best ping server is not the one with the most bandwidth.

[2020-05-21 12:15] Tamahome-M commented on #3961
I will report the problem in gentoo.
Drops are present, the reasons are not yet understood..
![Снимок экрана от 2020-05-21 15-07-22](https://user-images.githubusercontent.com/10276582/82557741-fb215a00-9b74-11ea-8af2-fc33b64000ed.png)

2x Intel(R) Xeon(R) CPU E5-2697A
Ethernet controller: Mellanox Technologies MT27520 Family [ConnectX-3 Pro]

The challenge now is to show the management of the comp

[2020-05-21 14:35] simonemainardi commented on #3678
please file a feature request with exact requirements

[2020-05-21 14:57] cardigliano commented on #3961
@Tamahome-M what is the traffic rate you are able to process? Could you compare it with the performance of pfcount on the same interface?
Please note there is no ZC driver for Mellanox atm, the only option you have to accelerate it is to use XDP (https://www.ntop.org/guides/pf_ring/modules/af_xdp.html) however this is experiemental.

[2020-05-21 15:03] gabryon99 commented on #3931
fixed in https://github.com/ntop/ntopng/commit/857629ccf098f40f7b03242229973ea1b8d0eb07

[2020-05-21 15:03] #3931 closed, assigned to gabryon99

[2020-05-21 15:09] simonemainardi commented on #3958
this is what happen when the resolution is changed from 5 minutes to 1 minute from the preferences (data was written @5min)

![image](https://user-images.githubusercontent.com/3397663/82573143-b2be6800-9b85-11ea-92ed-f647ee2a8580.png)

after the change

![image](https://user-images.githubusercontent.com/3397663/82573205-c538a180-9b85-11ea-9964-bc2612ab03e8.png)

[2020-05-21 15:54] Tamahome-M commented on #3961
I found out that I have a problem with mirroring traffic, now there really is so much of it.

Two "pfcount" in parallel

[code]

I will find out where the traffic from the switch was lost.
Thank you so much.

[2020-05-21 15:54] #3961 closed, assigned to simonemainardi

[2020-05-21 16:19] JunHu-essex commented on #2220
Is there answer for it?

[2020-05-21 16:25] cardigliano commented on #2220
Did you enable nindex? (-F=nindex)

[2020-05-21 16:32] #3632 closed, assigned to emanuele-f

[2020-05-21 16:36] #3513 closed, assigned to emanuele-f

[2020-05-21 17:03] stratfordv opened #3971 "Can't complete make in ubuntu 20.04"
Looks like make runs well until it gets to this point...
/home/vserver/ntopng/src/LuaEngineNtop.cpp.inc:2610: undefined reference to `rrd_strversion'
src/LuaEngine.o: In function `reset_rrd_state()':
/home/vserver/ntopng/src/LuaEngineNtop.cpp.inc:3399: undefined reference to `rrd_clear_error'
src/LuaEngine.o: In function `ntop_rrd_get_lastupdate(char const*, long*, unsigned long*)':
/home/vserver/

[2020-05-21 17:04] simonemainardi commented on #3971
did you check https://github.com/ntop/ntopng/blob/dev/doc/README.compilation?

[2020-05-21 18:08] stratfordv commented on #3971
My apologies, i did miss 1 of the steps.  Compiled perfect.  Another quick question.  I had it running from the .deb before and it said I'm running ntopng Community Edition v.3.2.171227 so I clicked the upgrade buttom which took me to the main ntop page where it shows how to compile from source (https://www.ntop.org/get-started/download/) which is where I compiled the ntopng from.  When I login it

[2020-05-21 19:02] simonemainardi commented on #3971
good

Very likely your system is still running version 3.2. Uninstall it, then do a `make install` to install 4.0. Alternatively, use debs directly also for the 4.0 following the instructions at `packages.ntop.org`

[2020-05-21 19:02] #3971 closed, assigned to nobody

[2020-05-21 19:03] andpp commented on #3957
![ntop-bug](https://user-images.githubusercontent.com/12842195/82595722-f18af880-9b5a-11ea-8913-8d998f74fdd5.jpg)

Selecting eth0 of eth1 from these menu still redirects to /?ifid=0 or /?ifid=0 instead of http-prefix/?ifid=1

[2020-05-21 19:10] andpp opened #3972 "Selecting eth0 of eth1 in navbar menu redirect to /?ifid=1 instead of http-prefix/?ifid=1"
branch **4.0-stable**
![ntop-bug](https://user-images.githubusercontent.com/12842195/82595722-f18af880-9b5a-11ea-8913-8d998f74fdd5.jpg)

Selecting **eth0** or **eth1** from this menu redirects to /?ifid=1 or /?ifid=0 instead of http-prefix/?ifid=1

[2020-05-22 06:48] #3966 closed, assigned to nobody

[2020-05-22 07:23] khoshtip2 opened #3973 "VPN traffic correlation with Fritzbox"
we have some vpn-user who works from outside via vpntracker app (mac) and connect with file server.
how can we check the vpn-traffic from vpntracker app (ip-sec) on the network?
Link: https://www.vpntracker.com/de/index.html

is there a "plugin" specifically for VPN or VOIP users?

best regards
Shahram

[2020-05-22 08:51] #3972 closed, assigned to nobody

[2020-05-22 09:08] JunHu-essex commented on #2220
Thank you for your fast reply. Yes, after enabling nindex, it works now!

[2020-05-22 10:36] lucaderi opened #3974 "Implement alert filtering"
As of today alert filtering is implemented but a bit cumbersome.
![Screen Shot 2020-05-22 at 12 19 35](https://user-images.githubusercontent.com/4493366/82658126-c5d54480-9c26-11ea-8bd7-44a541fea0ea.png)

As alerts are being reimplemented (see #3859) we also need to implement a criteria for filtering out in a single place, all "potential" alerts before they become "confirmed". In essence today whe

[2020-05-22 10:36] lucaderi commented on #3859
Please see also #3974.

[2020-05-22 11:51] ShagoY opened #3975 "Implement and improve the bandwidth monitoring plugin"
Hi,
Here are my proposals:

1- Be able to force the server with the ID because I live in a region with many speedtest servers but they are not all the same in terms of bandwidth.
2- Ookla have released a new version of their CLI, it is much more accurate (See: https://www.speedtest.net/fr/apps/cli)
3- Added the possibility to use an Iperf3 server, this will allow you to monitor your own server or

[2020-05-22 11:52] ernestmascarenhas opened #3976 "ntopng fails to start after creating custom disaggregation sub-interface"
I've a VM with ntopng & nprobe installed and Enterprise L license applied.
After enabling custom disaggregation sub-interface, ntopng service fails to start.

● ntopng.service - ntopng high-speed web-based traffic monitoring and analysis tool
   Loaded: loaded (/etc/systemd/system/ntopng.service; enabled; vendor preset: enabled)
   Active: inactive (dead) since Fri 2020-05-22 12:10:43 BST; 19min a

[2020-05-22 12:14] ernestmascarenhas commented on #3976
I can get ntopng to start by changing the port to tcp://127.0.0.1:5557

But when I revert back to tcp://127.0.0.1:5556 then it fails with
22/May/2020 13:12:22 [ZMQCollectorInterface.cpp:255] Collecting flows on tcp://127.0.0.1:5556
22/May/2020 13:12:22 [NetworkInterface.cpp:91] WARNING: Unable to locate interface Id 1415

I am using sql for historical data.. So those will be lost with the new port

[2020-05-22 13:13] ernestmascarenhas commented on #3976
Managed to sort the problem by starting ntopng on a different port and then deleting all system interfaces.
Now trying to sort the second problem with multiple exporters.

[2020-05-22 13:32] #3976 closed, assigned to nobody

[2020-05-22 13:48] lucaderi opened #3977 "Invalid Alert Links"
![Screen Shot 2020-05-22 at 15 45 49](https://user-images.githubusercontent.com/4493366/82674343-705b6080-9c43-11ea-839d-9f3f1611484a.png)

In reports like the one below, HREF/anchors to remote hosts will lead to empty pages like
![Screen Shot 2020-05-22 at 15 47 44](https://user-images.githubusercontent.com/4493366/82674443-984ac400-9c43-11ea-9ff1-96313f9e1f10.png)

It is requested to add anchors

[2020-05-22 13:59] danilaryz commented on #3941
Yes, this switch was turned on, I turned it off and the hosts appeared, Thank you!
I suggest adding information about this interface behavior after updating to the FAQ section of instruction?
And the yellow triangle with message about 5min.lua script still appears frequently.

[2020-05-23 09:30] lucaderi opened #3978 "Invalid toggle button layout in Interface preference page (wheel)"
![Screen Shot 2020-05-23 at 11 29 07](https://user-images.githubusercontent.com/4493366/82727102-a272ce00-9ce8-11ea-9350-ca0948418147.png)

Toggle buttons must be placed in the right column and not together with the column name

[2020-05-23 09:34] lucaderi opened #3979 "Rework timeseries preferences"
Timeseries preferences must go into the global preference pane and not per interface: the added flexibility (who needs per-interface selection?) is paid in terms of complexity

![Screen Shot 2020-05-23 at 11 29 07](https://user-images.githubusercontent.com/4493366/82727187-3b094e00-9ce9-11ea-8f1e-3ee4b1610b1a.png)

It is requested to move all interface timeseries preferences to the global preferen

[2020-05-24 21:10] lucaderi opened #3980 "Symbolic IP addresses not supported in SNMP Add Device"
![Screen Shot 2020-05-24 at 23 08 40](https://user-images.githubusercontent.com/4493366/82765025-96375f80-9e13-11ea-8e58-4d9588553d2a.png)

As of the above screenshot, symbolic IP addresses are not supported.

It is requested to support them and in that case the CIDR will be set to /32

[2020-05-25 07:06] gabryon99 commented on #3978
<img width="735" alt="Screenshot 2020-05-25 at 09 06 44" src="https://user-images.githubusercontent.com/14114916/82787608-0fac6d80-9e67-11ea-9bd5-ab8b5f17f381.png">
Fixed

[2020-05-25 07:20] gabryon99 commented on #3978
The bug is on safari browser

[2020-05-25 07:51] simonemainardi commented on #3980
@gabryon99 to validate the symbolic host name use the same validation function used for the host name in alert endpoints

[2020-05-25 08:02] cardigliano commented on #3973
@khoshtip2 could you provide more details about the topology? Do you have a VPN firewall/concentrator? Or the user is connecting to a VPN server running on the file server?

[2020-05-25 08:39] simonemainardi commented on #3941
Thanks for reporting, I'm glad the issue is solved.

And the yellow triangle with message about 5min.lua script still appears frequently.

If you click in the yellow triangle, you will be brought to a page which you can use to understand why the 5min is slow. Hover the mouse on the 5min yellow triangle and it will tell you. Very likely, you've too many local hosts and the timeseries writes are tak

[2020-05-25 08:39] #3941 closed, assigned to simonemainardi

[2020-05-25 09:47] lucaderi opened #3981 "SNMP table is not standard"
![Screen Shot 2020-05-25 at 11 44 54](https://user-images.githubusercontent.com/4493366/82801220-3f667000-9e7d-11ea-8fb5-1191eb6faf5f.png)

The above table has several glitches
- the "Add device" must be converted to a '+' as in the other tables
- The "Delete all devices" but be present also in all other ntopng tables
- Missing import/export buttons

[2020-05-25 10:07] simonemainardi commented on #3977
solution is to implement a lua method `get_host_link()` which is used anywhere in ntopng to generate the hyperlink of an host. This method will implement the link generation logic (e.g., by checking if the host is active, if it is remote/local). Then, the `get_host_link()` will be replaced anywhere the link `host_details.lua` is manually generated.

[2020-05-25 10:08] simonemainardi commented on #3981
Desirable to have the page generated using a template and with the new datatable.

[2020-05-25 10:35] operations999 opened #3982 "Grafana integration?"
Hello,
Is it possible to integrate Ntop with Grafana?
Thanks

[2020-05-25 10:39] emanuele-f commented on #3982
In order to do this you need to configure ntopng to export to InfluxDB (https://www.ntop.org/guides/ntopng/basic_concepts/timeseries.html#influxdb-driver) and then use the InfluxDB data source in grafana.

[2020-05-25 10:39] #3982 closed, assigned to nobody

[2020-05-25 14:41] operations999 opened #3983 "Can't access ntopng at 3000 port"
I have installed ntopng and nprobe. Can't access via port 3000.
config is like this
--zmq="tcp://*:5556"
-i=eno1
-n=1
--collector-port=6343
-w=3000
But your doc https://www.ntop.org/guides/ntopng/how_to_start/configuration_file.html
show different.

[2020-05-25 15:08] emanuele-f commented on #3983
Please report each individual config separately (ntopng.conf and nprobe.conf). Ensure that the ntopng service is running (`sudo systemctl status ntopng`). Check out https://www.ntop.org/nprobe/network-monitoring-101-a-beginners-guide-to-understanding-ntop-tools .

[2020-05-25 15:29] operations999 commented on #3983
nprobe.conf

 --zmq="tcp://*:5556"
-i=none
-n=none
--collector-port=2222

ntopng.conf
--zmq="tcp://*:5556"
#-i=en01
-n=3
--collector-port=6343
-w=3000
-i="tcp://127.0.0.1:5556"
--local-networks="x.x.x.x/24"

 sudo systemctl status ntopng
â ntopng.service - ntopng high-speed web-based traffic monitoring and analysis tool
   Loaded: loaded (/usr/lib/systemd/system/ntopng.service; enabled; vendor pr

[2020-05-25 19:42] operations999 commented on #3983
OK was able to fix it. Now issue is ntopng not detecting the snmp device. When I add the device with ip,community and version .. it does not add.
I am running same snmp setting for other program and it works fine.
Checked tcpdump and I see the traffic is coming from the switch.
Any pointer?

[2020-05-25 20:10] lucaderi commented on #3626
Not reproducible at the moment. Will reopen if necessary

[2020-05-25 20:10] #3626 closed, assigned to emanuele-f

[2020-05-25 20:19] simonemainardi commented on #3958
please, add a NOTE close to the toggle in the preferences which says that lowering the resolution can cause inconsistencies and suggest a possible solution to flush old data.

[2020-05-25 20:21] simonemainardi commented on #3969
why these two variables are global? https://github.com/ntop/ntopng/commit/f7a7329741eede639da904b3953b8428b51f7657#diff-47cb6849af9751bf6332f83a8124558aR82

[2020-05-26 10:39] cardigliano commented on #3943
Implemented

[2020-05-26 10:39] #3943 closed, assigned to nobody

[2020-05-26 10:46] lucaderi opened #3984 "Invalid preference link"
![Screen Shot 2020-05-26 at 12 42 23](https://user-images.githubusercontent.com/4493366/82891674-6b055b00-9f4e-11ea-9dbf-48dcdcfed37e.png)

The SNMP link ("SNMP section") is available only when "Expert View" is used. So this fix is enabled the "Expert View" the clicking on the "SNMP section" button

[2020-05-26 10:55] lucaderi opened #3985 "Disable SNMP Topology when not available"
In case LLDP is not available for a given host, the topology badge and company icon must be removed
![Screen Shot 2020-05-26 at 12 54 30](https://user-images.githubusercontent.com/4493366/82892660-24b0fb80-9f50-11ea-8fc0-03162ef810ca.png)

[2020-05-26 11:53] #3983 closed, assigned to nobody

[2020-05-26 12:09] operations999 opened #3986 "Device SNMP walk in progress forever"
Hello,
I have added SNMP device but when I click on device to see interfaces I am getting

". This may take up to 5 minutes. The page will refresh periodically."
Looks like some settings issue?

[2020-05-26 12:22] simonemainardi commented on #3986
Please hold on an SNMP rework is in progress on the dev.

Track https://github.com/ntop/ntopng/issues/3686 and https://github.com/ntop/ntopng/issues/3138

[2020-05-26 12:31] operations999 commented on #3986
so shall I leave it on hold or you want some more info for developer?
Thanks

[2020-05-26 14:09] cardigliano commented on #3947
Implemented

[2020-05-26 14:09] #3947 closed, assigned to nobody

[2020-05-26 14:09] cardigliano commented on #3950
Implemented

[2020-05-26 14:09] #3950 closed, assigned to nobody

[2020-05-26 16:20] lucaderi opened #3987 "SNMP Preferences need to be rearranged"
SNMP preferences are a bit sparse in side redis

$ redis-cli "HGET" "ntopng.prefs.snmp_devices" "192.168.2.169"
"public" <=== community name

$ redis-cli "HGET" "ntopng.prefs.snmp_devices.polling_disabled" "192.168.2.169"

$ redis-cli  "HKEYS" "ntopng.prefs.snmp_devices"
1) "127.0.0.1" <===
2) "192.168.2.169"

$ redis-cli "GET" "ntopng.prefs.snmp_devices.snmp_version.192.168.2.169"
"1" <<= note th

[2020-05-26 16:51] cardigliano opened #3988 "Add support for OpenVPN via syslog"
Support logs generated by OpenVPN for user traffic correlation

[2020-05-26 16:52] cardigliano opened #3989 "Check OPNsense log format"
OPNsense recently changed the syslog logs format, check if any change is required to the OPNsense syslog plugin.

[2020-05-26 16:53] simonemainardi commented on #3977
Implemented

Now there's a single function across the whole code base which takes care of generating host_details.lua links.

https://github.com/ntop/ntopng/blob/9ba746bd78840b14fbff5cef21993945063a0af3/scripts/lua/modules/lua_utils.lua#L1508

This function can be instructed to check for link existence to avoid creating links that are likely empty. The whole logic to decide whether to show a link

[2020-05-26 16:53] #3977 closed, assigned to simonemainardi

[2020-05-26 19:48] pmatejsek commented on #3840
Hello,
it looks like to same problem as you... :( What was the issue, please?
[code]

Thanks...

[2020-05-26 20:35] operations999 opened #3990 "Ntopng + influxdb + Grafana"
Hello,
I have configured influxdb in ntopng and its working fine.
Grafana is hosted on remote server with ip say 1.1.1.2:3000 and ntopng 2.2.2.2:30000
I enabled the ntopng module in grafana.. basic auth but it does not work.
Running latest version of  ntopng, grafana n influxb.
Anyone know how to fix or I install grafana on ntopng server?
Thanks

[2020-05-26 20:40] simonemainardi commented on #3990
ntopng grafana datasource plugin has been discontinued as explained in https://github.com/ntop/ntopng-grafana-datasource#discontinuation-notice

please use the grafana influxdb datasource plugin and connect to the ntopng influxdb database

[2020-05-26 20:40] #3990 closed, assigned to nobody

[2020-05-27 07:36] cardigliano commented on #3840
Please also provide the output of "systemctl status pf_ring"

[2020-05-27 07:46] simonemainardi commented on #3986
yes, please leave it on hold, we will notify you.

[2020-05-27 08:44] #3969 closed, assigned to emanuele-f

[2020-05-27 08:57] cardigliano commented on #3948
Implemented

[2020-05-27 08:57] #3948 closed, assigned to nobody

[2020-05-27 09:02] simonemainardi opened #3991 "Custom protocol ids are not preserved"
ntopng handles custom protocols by means of parameter `-p`. Once `-p` is specified, a plus sign appears and allows a user to define custom protocols:

![image](https://user-images.githubusercontent.com/3397663/82998957-aa907d80-a008-11ea-9b5b-b575026cff59.png)

To guarantee custom protocols always get the same ID across ntopng restarts, the custom protocol file must be append-only: new protocols m

[2020-05-27 09:07] cardigliano commented on #3949
Implemented

[2020-05-27 09:07] #3949 closed, assigned to nobody

[2020-05-27 09:16] simonemainardi opened #3992 "ZMQ fields check possibly invalid"
ntopng now checks the fields received via ZMQ from nProbe, to make sure a minimum set of fields is present (`@NTOPNG@`).

Enforcing this check is not always possible as ntopng can work in `--collector-passthrough`. In this mode, there's no control over the fields and ntopng must not complain if it doesn't see the complete `@NTOPNG@`.

Given that nProbe now automatically starts with a default templ

[2020-05-27 09:19] simonemainardi opened #3993 "Protocol guess not performed for ZMQ flows without L7_PROTO"
Currently, ntopng doesn't guess the protocol for ZMQ flows which are shipped without L7_PROTO. This in general doesn't happen as nprobe needs template `@NTOPNG@` to properly interact with ntopng. However, when probe operates in `--collector-passthrough` mode, no L7_PROTO field is present and a protocol guess on the ntopng side is desirable to avoid having tons of Unknown.

Hence, it is requested t

[2020-05-27 09:33] khoshtip2 commented on #3973
Hi,
We have avm fritzbox as Router and VPN Server.
Remote User Connect to Fritzbox.
The Apple fileserver and 3CX Server are local,  behind the Fritzbox.

Best regstes
SH

[2020-05-27 09:48] #3958 closed, assigned to emanuele-f

[2020-05-27 09:51] daxrob commented on #640
I just installed the latest version of ntopng on a small HP server:
RAM 2GB
CPU 2 core AMD Turion II Neo N40L 64 bit
Windows 7 Pro 64 bit

I monitor a 30Mbps link, so I do not expect a lot of traffic.
Despite that, ntopng is always at 80/90% of CPU.

I restricted the service to a single interface and I added those parameters in the service following your tuning guide:
-n 1
-m 192.168.1.0/24
-x 800

[2020-05-27 09:55] #3938 closed, assigned to simonemainardi

[2020-05-27 10:01] simonemainardi commented on #640
-x/-X 8000 is a small number. Increase it significantly as it must be much greater than the actual number of hosts.

Then please report new behavior and ntopng version.

[2020-05-27 10:55] #3952 closed, assigned to nobody

[2020-05-27 12:06] daxrob commented on #640
Increased to 20000. The CPU it is still between 40-90% all the time.
Now I have around 3 to 7 Mbps of traffic. 476 flows. 96 hosts (inside + outside of my network).
![2020-05-27_140554](https://user-images.githubusercontent.com/66008204/83017070-4b8c3200-a023-11ea-948a-468339df738f.jpg)

[2020-05-27 13:15] jonaskluger opened #3994 "rest api: response for none existing host"
If a host is not existing in ntopng, the REST API response returns falsely rc_str: "OK"
We would expect another result. like an error.

![Screenshot at 2020-05-27 15-12-04](https://user-images.githubusercontent.com/39433953/83023171-da517c80-a02c-11ea-99d5-ae0c45de2936.png)

[2020-05-27 13:53] simonemainardi commented on #640
ntopng version?

[2020-05-27 13:58] operations999 commented on #3990
This is not very well documented and pot of info is missing if you have to integrate grafana running on remote server.

[2020-05-27 14:45] khoshtip2 commented on #3973
[network.pdf](https://github.com/ntop/ntopng/files/4689916/network.pdf)
the VPN remote clients are not listed.

[2020-05-27 15:05] daxrob commented on #640
ntopng Community Edition v.4.1.200428

[2020-05-27 15:27] Ramstin13 opened #3995 "debian 8.11 jessie package dependencies error"
hi!
i followed the procedure described here: http://packages.ntop.org/apt-stable/

Debian 8 (Jessie)
To install the programs in Debian 8 open your shell and type:
wget http://apt-stable.ntop.org/jessie/all/apt-ntop-stable.deb dpkg -i apt-ntop-stable.deb

and after apt-get install ntopng i get this:

The following packages have unmet dependencies:
 ntopng : Depends: libmaxminddb0 but it is not inst

[2020-05-27 15:46] #3994 closed, assigned to cardigliano

[2020-05-27 18:42] pmatejsek commented on #3840
Here is it:
[code]
It's running under **LXD container**. Maybe there is problem...

[2020-05-28 07:18] cardigliano commented on #3840
@pmatejsek you should load pf_ring (the kernel module from pfring-dkms) on the host system and use just the userspace tools (from the pfring package) inside the container

[2020-05-28 08:01] emanuele-f commented on #2131
We've tested this on the latest Ubuntu 16 kernel (4.15.0-101-generic) and verified that the 5 seconds delay issue is not present anymore

[2020-05-28 08:01] #2131 closed, assigned to emanuele-f

[2020-05-28 08:38] #3978 closed, assigned to gabryon99

[2020-05-28 08:38] gabryon99 commented on #3978
<img width="1085" alt="Screenshot 2020-05-28 at 10 38 10" src="https://user-images.githubusercontent.com/14114916/83118941-54d2d880-a0cf-11ea-8b0f-6402c36862f8.png">

Fixed in safari as well

[2020-05-28 09:22] cardigliano commented on #3953
Implemented (and iface_ndpi_stats.lua migrated)

[2020-05-28 09:22] #3953 closed, assigned to cardigliano

[2020-05-28 09:33] #3984 closed, assigned to gabryon99

[2020-05-28 12:08] zimbawe998 opened #3996 "n2disk GUI Errors"
I have Ent L.
I enabled traffic recording feature and i can see it con Upper menu.
On the interface settings the functionality
![ntopng](https://user-images.githubusercontent.com/47248892/83139428-a9d11780-a0ec-11ea-8aa1-16ba686d84fb.png)
results disabled.

[2020-05-28 12:16] zimbawe998 opened #3997 "Name Resolution Failed"
Our installation but others are suffering about name resolution failed.
Hostname is different than additiona names
![ntopng 1](https://user-images.githubusercontent.com/47248892/83140400-4fd15180-a0ee-11ea-816d-2ce3816a0093.png)
![ntopng 2](https://user-images.githubusercontent.com/47248892/83140403-519b1500-a0ee-11ea-8764-3087c65c05d6.png)
![ntopng 3](https://user-images.githubusercontent.com/472

[2020-05-28 13:17] cardigliano commented on #3951
Implemented

[2020-05-28 13:17] #3951 closed, assigned to cardigliano

[2020-05-28 13:38] #3946 closed, assigned to simonemainardi

[2020-05-28 13:54] simonemainardi commented on #3946
implemented:

- `rest/v1/get/alert/type/consts.lua`
- `rest/v1/get/alert/severity/consts.lua`

[2020-05-28 13:57] cardigliano commented on #3956
Implemented

[2020-05-28 13:57] #3956 closed, assigned to cardigliano

[2020-05-28 14:59] simonemainardi commented on #3944
Implemented

- `/rest/v1/get/l7/application/consts.lua`
- `/rest/v1/get/l7/category/consts.lua`

[2020-05-28 14:59] #3944 closed, assigned to simonemainardi

[2020-05-28 15:14] simonemainardi commented on #3945
Implemented

- `/rest/v1/get/l4/protocol/consts.lua`

[2020-05-28 15:14] #3945 closed, assigned to simonemainardi

[2020-05-28 15:22] cardigliano commented on #3996
A fix for this will be available later today

[2020-05-28 15:22] #3996 closed, assigned to nobody

[2020-05-28 16:58] simonemainardi commented on #3955
implemented:

- `/rest/v1/get/host/interfaces.lua`

[2020-05-28 16:58] #3955 closed, assigned to simonemainardi

[2020-05-28 17:09] cardigliano commented on #3954
Implemented

[2020-05-28 17:09] #3954 closed, assigned to cardigliano

[2020-05-28 17:11] cardigliano opened #3998 "Add extensive tests for all REST endpoints"
A few regression tests for the REST API are already available, add more tests to cover all endpoints and improve the existing ones.

[2020-05-28 19:29] zinchang opened #3999 "nIndex support on stable package for ubuntu 20.04"
Request supporting flow dump by nIndex on stable package for ubuntu 20.04.

Package: ntopng
Version: 4.0.200525-10337
Priority: optional
Section: free
Maintainer: Luca Deri <deri@ntop.org>
Installed-Size: 71.4 MB
Depends: pfring (= 7.6.0-3000), libsqlite3-0, libexpat1, redis-server, librrd8, logrotate, libcurl4, libpcap0.8, libldap-2.4-2, libhiredis0.14, libssl1.1, libmysqlclient21, librdkafka1, l

[2020-05-29 07:35] #3991 closed, assigned to emanuele-f

[2020-05-29 07:38] #3979 closed, assigned to emanuele-f

[2020-05-29 07:51] simonemainardi commented on #3995
hi, you need to install jessie backports for this old distro.

Please as a prerequisite run:

[code]

Then run the installation again.

[2020-05-29 07:59] simonemainardi commented on #3997
Hi,

please do the following:

- stop ntopng
- rm -rf /var/lib/ntopng
- redis-cli flushall
- start a packet capture: tcpdump -i <interf> -s0 -w names.pcap [possibly limit this capture to a single host if the volume is large]
- start ntopng and wait until you see the issue appearing
- stop the packet capture and send names.pcap so we can reproduce

[2020-05-29 08:23] simonemainardi commented on #3999
Reproduced. Fix in progress.

[2020-05-29 08:40] simonemainardi commented on #640
Please, update as you need a more recent version which contains https://github.com/ntop/ntopng/commit/607ba52263830c577e7b37c8c25320e60466a5f6

[2020-05-29 09:12] simonemainardi commented on #3872
This involves:

- Changing the C part which doesn't compile SNMP on nEdge
- Adding the entry in the nEdge menu
- Review the boolean checks: isEnterprise() returns false on nEdge, nEdge is never isEnterprise(), nEdge is either isnEdge() [for the pro] and isnEdgeEnterprise() [for the enterprise]

[2020-05-29 09:14] simonemainardi commented on #2993
Implemented as part of #2548 and corresponding pro part.

[2020-05-29 09:14] #2993 closed, assigned to nobody

[2020-05-29 09:20] simonemainardi commented on #2920
See:

[code]

This #define needs to become a variable so that OEMs can configure it.

In C, the function which checks and do the redirect is `isCallHomeAddress`. The response is forged in class `DnsHostMapping` which returns the LAN address of the nEdge device.

[2020-05-29 09:24] simonemainardi commented on #2919
"Gateways and Users" page is available in nEdge router mode. Gateways are managed from the system setup page and can be enabled/disabled for any (user) routing policy. We believe this suffices for the time being.

[2020-05-29 09:24] #2919 closed, assigned to nobody

[2020-05-29 09:25] simonemainardi commented on #2918
In router mode,  a DHCP server can be enabled/disabled from the preferences. In order to implement this we need to:

- Check the runtime status of the DHCP daemon (e.g., dhcpd)
- Read the current leases
- Show them in the UI

[2020-05-29 09:27] simonemainardi commented on #2918
When nEdge has the DHCP server enabled, then DHCP ranges are known a priori and they should be added automatically to the interface DHCP ranges used for the hosts serialization by Mac.

[2020-05-29 09:29] simonemainardi commented on #2917
Quotas are currently kept using HostPoolStats which are reset at midnight to implement daily quotas.

Adding monthly and weekly quotas would require to have extra HostPoolStats classes instances. However, given the current (complex) quota implementation, I would suggest to first investigate the possibility to implement quotas using netfilter to re-use existing mechanisms.

[2020-05-29 09:30] daxrob commented on #640
The version I have is the most recent available on your website:
http://packages.ntop.org/
 http://packages.ntop.org/Windows/ntopng-4.1.200428-x64.zip

[2020-05-29 09:31] simonemainardi commented on #2916
Notes:

- The issue refer to the physical WAN interface.
- nEdge can have multiple gateways sharing the same WAN.

[2020-05-29 09:33] simonemainardi commented on #2915
This is more a debug feature which gives an indication on how well nEdge is offloading to the kernel.

Indeed, it would be nice to have, for each flow, the number of packets that have been actually seen by nEdge, and the number of packets which have just been counted using conntrack.

[2020-05-29 09:38] simonemainardi commented on #2914
Currently:

- Port 80 is used by captive portal (when enabled)
- Typing `hello.ntop.org` would bring the user to the captive portal page or to a non-existing page. The desired behavior is to bring the user to the management page, which is currently reachable only if also the port is typed, e.g.,  `http://hello.ntop.org:3000`

A clean implementation would involve:
- Moving the captive portal port f

[2020-05-29 09:46] #2512 closed, assigned to nobody

[2020-05-29 09:54] simonemainardi commented on #2471
This is implemented.

Advertisement sites are already available and shipped within nEdge as part of the lists.

![image](https://user-images.githubusercontent.com/3397663/83246912-0f7fdb00-a1a3-11ea-8132-4925f91f33c6.png)

Hence, to block ads, it suffices to pick the users and block the category advertisement:

![image](https://user-images.githubusercontent.com/3397663/83246799-ecedc200-a1a2-11ea-

[2020-05-29 09:54] #2471 closed, assigned to nobody

[2020-05-29 10:02] simonemainardi commented on #2324
Per member quotas are no longer supported. Code needs to be cleaned up:

- `enforceQuotasPerPoolMember`
- `Host::quota_enforcement_stats`
- And the lua part enforce_quotas_per_pool_member

[2020-05-29 10:08] simonemainardi commented on #2113
There are several parts in the code which assume the nEdge WAN address never changes. This is not true in case the WAN is configured in DHCP. We must detect these changes and do the reconfiguration.

[2020-05-29 10:09] simonemainardi commented on #2916
Duplicate of #2046

[2020-05-29 10:09] #2916 closed, assigned to nobody

[2020-05-29 10:10] simonemainardi commented on #2046
Notes:

- The issue refer to the physical WAN interface.
- nEdge can have multiple gateways sharing the same WAN.

Simple counters such as in/out bytes can be read from /proc. Per-application counters would require nEdge to keep instances of InterfaceStats.

[2020-05-29 10:11] simonemainardi commented on #2045
Duplicate of #2918

[2020-05-29 10:11] #2045 closed, assigned to nobody

[2020-05-29 10:12] simonemainardi commented on #2030
This boils down to extending the three shapers (PASS, SLOW_PASS, SLOWER_PASS) to a generic number.

[2020-05-29 10:23] Yoshihiro-jp opened #4000 "The unit of "throughput.lua" is wrong"
Hello,

Since the config unit of "Throughput Alert" is "Mbps" the throughput.lua might be wrong calculation.

[code]

regards,
Yoshihiro

![throughput_lua_config](https://user-images.githubusercontent.com/58843707/83248895-b8006000-a1e0-11ea-9d93-ae7804f8db66.png)

[2020-05-29 13:11] emanuele-f commented on #2117
A patch has been privately provided to @simonemainardi for testing

[2020-05-29 16:46] Ramstin13 commented on #3995
hi simonemainardi

i did that line, correctly added the backports, then after the apt-get update i tried again and got this:

sudo apt-get install ntopng
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following packages were automatically installed and are no longer required:
  libluajit-5.1-2 libluajit-5.1-common libndpi1a
Use 'apt-get autoremove' to

[2020-05-29 18:40] Ramstin13 commented on #3995
the good news is that now i see the service ntopng installed.

in status i see this:

service ntopng status
● ntopng.service - ntopng high-speed web-based traffic monitoring and analysis tool
   Loaded: loaded (/etc/systemd/system/ntopng.service; enabled)
   Active: active (running) since Fri 2020-05-29 15:35:07 -03; 5s ago
  Process: 1268 ExecStartPre=/bin/sh -c /bin/sed "/^[ ]*-e.*$\|^[ ]*-G.*\|

[2020-05-30 00:20] andpp commented on #3972
Still doesn't work

[2020-05-30 00:27] andpp opened #4001 "Selecting eth0 of eth1 in navbar menu redirect to /?ifid=1 instead of http-prefix/?ifid=1"
Browser: **Google Chrome. Version 83.0.4103.61 (Official Build) (64-bit)**
Branch: **4.0-stable**
Last commit: commit cb880a2ecf9cdef198307d906ee0ba0374f37e4e (HEAD -> 4.0-stable, origin/4.0-stable)
Author: emanuele-f <faranda@ntop.org>
Date:   Mon May 25 14:09:00 2020 +0200

Previous issue: https://github.com/ntop/ntopng/issues/3972
Commit https://github.com/ntop/ntopng/commit/c4a2cf100e129b3706a

[2020-05-30 01:00] andpp commented on #4001
When I use the menu to switch interface on page:
**/http-prefix/lua/if_stats.lua?ifid=0&page=historical&ts_schema=iface%3Atraffic&zoom=1h&epoch=**

it switched to /**?ifid=1&zoom=1h&epoch=&ts_schema=iface%3Atraffic&page=historical**

It looks like the menu just remove whole link and keeps only parameters in the URL. I guess that's why commit https://github.com/ntop/ntopng/commit/c4a2cf100e129b3706

[2020-05-30 17:02] lucaderi commented on #3999
Fixed in the latest packages build

[2020-05-30 17:02] #3999 closed, assigned to nobody

[2020-05-30 17:03] lucaderi commented on #4001
Can you please report the exact ntopng version you are using? ntopng --version

[2020-05-30 19:56] andpp commented on #4001
$ ntopng --version
v.4.0.200518	[Community build]
GIT rev:	4.0-stable:8b73b34242a393e395a901c4bf54e5dff6d6dd0c:20200518

[2020-05-30 19:59] andpp commented on #4001
$ git log
commit 66a6a440e6959f980140ac0ee4dfaded50b18a8e (HEAD -> 4.0-stable, origin/4.0-stable)
Author: Luca Deri <deri@ntop.org>
Date:   Sat May 30 17:00:00 2020 +0000

    Removed double \n

commit cb880a2ecf9cdef198307d906ee0ba0374f37e4e
Author: emanuele-f <faranda@ntop.org>
Date:   Mon May 25 14:09:00 2020 +0200

    Add checks to avoid wrapping in frame_padding

commit 7f014f9d10133db242d42

[2020-05-30 20:01] andpp commented on #4001
I am building from source code from **4.0-stable** branch

[2020-05-31 07:35] lucaderi opened #4002 "Alert when unexpected IP addresses show up"
Create a plugin that triggers an alert when an unexpected (local) IP address shows up.

Requirement
- allow people to configure the list of IP addresses that are permitted in a network. They can be specified as CIDR an as IP-ranges such as in DHCP
- When the plugin is activated, and alert is triggered whenever a local IP address not belonging to the specified range is detected.

[2020-05-31 07:42] lucaderi opened #4003 "Detect rogue DHCP servers"
Major issues are created when in a network more than one DHCP server is enabled. As DHCP requests are send in broadcast, but responses in unicast, passive monitoring is not enough to detect this issue.

What is requested is to implement an active monitoring plugin that periodically, issues a DHCP request and liste to responses. In case more than one DHCP offer is received an alert should be trigge

[2020-05-31 08:04] lucaderi opened #4004 "Trigger an alert when a TCP connection is reset"
TCP connections can be reset (RST) to do a quick termination. However TCP connections that are created but never established as they are RST by the remote peer can indicate that
- the remote peer is not accepting traffic on the destination port
- the remote peer is not willing to talk with the sender on such port

In all cases this is an indication of a problem. The host client (and partially also

[2020-05-31 08:06] lucaderi opened #4005 "Create metric for counting the number of peers contacted"
Scanners or simply suspicious hosts (e.g. possible hosts that run malware), usually contact many hosts on the Internet to spread the infection. Having a counter of (per minute) contacted hosts, can help tracking this type of problems.

[2020-05-31 08:09] lucaderi opened #4006 "Trigger an alert when a host contacts an unusual number of peers"
This ticket depends on #4005

Tt is requested to create a plugin that can trigger an alert when a large number of peers is contacted. As the threshold for this alert can be hard to pick, it is requested to study how to implement is and what are the possible solutions on the table. For instance
- static threshold: simple but hard to find an acceptable limit for all hosts
- delta with respect to the

[2020-05-31 08:54] martinscheu commented on #4002
Additionally to ranges, a list with single IP addresses should be possible as well, as small setups may include 6-10 local addresses only.

[2020-05-31 09:05] lucaderi opened #4007 "Alert when unexpected MAC addresses show up"
Same as #4002 but
- applied to MAC addresses
- only a list of single MAC addresses (not MAC ranges etc) should be supported
- multicast/broadcast MACs should be ignored from this check

[2020-05-31 09:27] martinscheu opened #4008 "hooks.protocolDetected(now) triggers twice"
when using user script "script.hooks.protocolDetected(now)" it triggers twice.
when trigger occurs, extract packet payload with flow.getnDPIMatchPacket()

example 1) iec_connect_2.pcap, second trigger show payload == nil :
<img width="310" alt="Screenshot 2020-05-29 at 14 18 02" src="https://user-images.githubusercontent.com/38549755/83348713-41be4380-a32f-11ea-9442-e8667bb9ec8d.png">

example 2)

[2020-05-31 15:36] ghost opened #4009 "Maximum Displayed String Length"
Hello,

At Preferences - Misc - Web User Interface:
Maximum Displayed String Length : 128 (only).

How can we edit unlimited characters? Because I can not read full Info from clients.

[2020-06-01 07:08] #3998 closed, assigned to nobody

[2020-06-01 07:40] simonemainardi commented on #4009
Setting unlimited here isn't a good idea as it could worsen the look of the UI. Please, show where you are not able to see full info, because it could be that you just need to click a drill-down to see the string in full.

[2020-06-01 08:35] lucaderi opened #4010 "Invalid flow report"
![image](https://user-images.githubusercontent.com/4493366/83391341-9e833200-a3f3-11ea-8f48-28705a98735e.png)

[2020-06-01 09:06] ghost commented on #4009
Hello,

Thank you for your quickly response.

I use ntop package from pfsense.
At info tab only display 128 characters (maximum): ocsp(dot)digicert(dot)com/*$%$(&%)@*&%*#@^#*%)&@(#@
https://imgur.com/y9cDRT8

[2020-06-01 09:48] #4010 closed, assigned to simonemainardi

[2020-06-01 09:56] #3992 closed, assigned to nobody

[2020-06-01 10:27] simonemainardi commented on #4009
do you mean the rightmost column of the image?

[2020-06-01 10:33] #4000 closed, assigned to cardigliano

[2020-06-01 10:41] ghost commented on #4009
Yes sir,

If the address link is more 128 characters, I can not see detail of link.
https://imgur.com/XXuhh00

Example: https://imgur.com/HVkLwtQ
In that example: the link is only display maximum 128 characters:
vnso-zn-15-tf-mp3-s1-m-zmp3.zadn.vn/7f62af55b6125f4c0603/27793806106737670?authen=exp=1591094343~acl=/7f62af55b6125f4c0603/*~hma...

[2020-06-01 10:50] simonemainardi commented on #4008
acutally, I don't get the hook protocolDetected executed more than once...

[code]

Hook protocolDetected is executed just once (one time for each user script which is registered to protocolDetected) and then I get periodic updates every 30 seconds.

Can you please give me additional details or steps to reproduce? Feel free to attach the user script as well.

[2020-06-01 11:01] cardigliano commented on #3995
@Ramstin13 it seems the pfring dkms module installation is failing due to missing kernel headers. It should install kernel headers as dependency, thus this usually happen only when running in a container for instance. Is this the case? (in this case you can install pfring in the host system and ignore this message)

Loading new pfring-7.6.0 DKMS files...
First Installation: checking all kernels...

[2020-06-01 13:02] cardigliano commented on #3973
@khoshtip2 could you check if:
1. there is a way to configure a syslog server in your Frizbox router
2. the logs contain user login/logout events with the assigned IP, in order to propagate that information to ntopng and tag the traffic (we have a similar integration with other VPN firewalls in ntopng), and in that case send us an example
I see that there is some similar request: https://github.co

[2020-06-01 13:07] cardigliano commented on #3930
Update: the online license check recognizes the L license as M

[2020-06-01 13:36] lucaderi opened #4011 "Avoid ignoring configuration warnings"
![Screen Shot 2020-06-01 at 15 30 28](https://user-images.githubusercontent.com/4493366/83413898-e0749e00-a41c-11ea-9394-91e2c422caa6.png)

When users have too many flows or hosts, a yellow/red badge id displayed as in the picture above. This is not enough for most people as they ignore it. The result is that ntopng performs badly. This can be fixed extending the value of -X/-x.

This ticket requi

[2020-06-01 13:41] lucaderi opened #4012 "Generate an badge alert when GeoIP is not configured"
Due to changes in GeoIP (see https://github.com/ntop/ntopng/blob/dev/doc/README.geolocation.md), ntopng can operate without this information leading to incomplete reports.

It is requested to display a large badge similar to the one below but in yellow

![Screen Shot 2020-06-01 at 15 35 32](https://user-images.githubusercontent.com/4493366/83414664-2aaa4f00-a41e-11ea-9387-3bab4a825cc5.png)

Asking

[2020-06-01 13:51] cardigliano commented on #3930
Fixed

[2020-06-01 13:51] #3930 closed, assigned to cardigliano

[2020-06-01 14:05] #3993 closed, assigned to cardigliano

[2020-06-01 14:12] zimbawe998 commented on #3997
Hi Simone,
the rm -rf delete oll settings and label.
But the problem persist

Il giorno ven 29 mag 2020 alle ore 09:59 simonemainardi <
notifications@github.com> ha scritto:

[2020-06-01 14:33] andrema2 opened #4013 "[Ntop.cpp:201] ERROR: Unable to open lock file: No such file or directory"
Hi

After installing ntopng 4 on a MacOS High Sierra, when I try to run ntopng I get this error message
[Ntop.cpp:201] ERROR: Unable to open lock file: No such file or directory

I tried to reinstall it, and got it again, even running with sudo I get this error.

Any ideas ?

[2020-06-01 14:43] cardigliano commented on #4013
@andrema2 how did you install it? Could you try running it with sudo ntopng -s -i en0 ?

[2020-06-01 14:45] simonemainardi commented on #3997
ok but are you able to follow all the steps given, in order, and produce the pcap?

[2020-06-01 15:23] simonemainardi commented on #4005
I propose to implement an estimator such as HyperLogLog (https://en.wikipedia.org/wiki/HyperLogLog) to keep an estimate of the number of contacted hosts with a very small memory impact. Then, this estimator can be periodically reset and its values written to timeseries.

[2020-06-01 15:26] simonemainardi commented on #4005
currently,  `LocalHostStats` keeps already

[code]

but this is very heavy in terms of memory (all this suff is kept for each local host) and cumbersome in terms of implementation

[2020-06-01 15:29] simonemainardi commented on #640
@lucaderi can you please refresh the Windows build to make sure it contains the high-cpu fix?

[2020-06-01 15:52] Ramstin13 commented on #3995
well no, it's a debian vm :(

[2020-06-01 17:05] simonemainardi opened #4014 "CSRF check skipped when the content type is 'application-json'"
This allows CSRF checks to be skipped when the content type is application JSON:

https://github.com/ntop/ntopng/blob/54f9a26fc712fbda9fe5144ac8bbd7b01a178272/src/LuaEngine.cpp#L690

This makes CSRF protection ineffective for certain ntopng endpoints such as:

- edit_widgets
- edit_script_configset
- edit_endpoint

CSRF checks must always be enforced.

[2020-06-01 17:25] andrema2 commented on #4013
So, now I downloaded the pkg file and installed from it.
The error remains, but it changed to
01/Jun/2020 14:24:48 [Ntop.cpp:2255] Setting local networks to 127.0.0.0/8
01/Jun/2020 14:24:48 [Redis.cpp:99] ERROR: Connection error [Connection refused]
01/Jun/2020 14:24:49 [Redis.cpp:83] Redis has disconnected, reconnecting [remaining attempts: 14]

Redis is installed

[2020-06-01 17:41] cardigliano commented on #4013
Please run redis-server

[2020-06-01 18:10] #4009 closed, assigned to nobody

[2020-06-01 18:11] simonemainardi commented on #4009
It's normal not to have the full string shown there as it would break the table layout.

However, you can hover the mouse on the info to see the full string.

I've also coded a quick fix as sometimes the full info was not shown in the tooltip.

Now this is what you get

![image](https://user-images.githubusercontent.com/3397663/83437786-a74e2500-a440-11ea-8df0-368e23174352.png)

[2020-06-01 20:12] lucaderi commented on #3987
The following hashes (key is the device numeric IP address)
- ntopng.prefs.snmp_community
- ntopng.prefs.snmp_version

will store SNMP communities and versions

[2020-06-02 01:07] Yoshihiro-jp commented on #4000
For interface it has the same problem.

[PATH]
ntopng/scripts/plugins/threshold_cross/user_scripts/interface/throughput.lua

regards,
Yoshi

[2020-06-02 08:50] Yoshihiro-jp opened #4015 "The part of "jp.lua" causes the character corruption when calling logout.lua"
Hi,

Regarding "/usr/share/ntopng/scripts/locales/jp.lua"
![logout](https://user-images.githubusercontent.com/58843707/83500303-8ac1f380-a4f9-11ea-97c5-19dcb2088341.png)

As attached file when I do "logout" with Japanese language it causes character corruption.
The problem line is "["logging_out"] = "ログアウト中...","

If it is difficult to be fixed I think that it is okay in English.
["logging_out"] =

[2020-06-02 09:50] martinscheu commented on #4008
Thank you.

With DHCP is use "sudo ipconfig set en0 DHCP" on my mac and it triggers twice. Might be a side effect? but with the IEC protocol it can not be something else, there I get the second trigger with payload nil. The script: (formating doesnt work..)

[2020-06-02 09:54] martinscheu commented on #4008
local user_scripts = require("user_scripts")
local flow_consts = require("flow_consts")

local script = {
  -- Script category
  category = user_scripts.script_categories.security,

  -- This module is disabled by default
  default_enabled = true,

  -- See below
  hooks = {},

  -- Allow user script configuration from the GUI
  gui = {
    i18n_title = "IEC60870 in flow",
    i18n_description = "

[2020-06-02 10:02] martinscheu commented on #4008
can confirm with the pcap file it triggers only once:
<img width="969" alt="Screenshot 2020-06-02 at 12 01 30" src="https://user-images.githubusercontent.com/38549755/83507470-e32ccd00-a4c8-11ea-9c25-db890afb05b2.png">

[2020-06-02 10:10] martinscheu commented on #4008
DHCP triggers twice
<img width="871" alt="Screenshot 2020-06-02 at 12 09 42" src="https://user-images.githubusercontent.com/38549755/83508294-0146fd00-a4ca-11ea-8f05-72d5f0c5a830.png">

[2020-06-03 07:14] cardigliano commented on #4000
Fixed

[2020-06-03 08:01] #4014 closed, assigned to nobody

[2020-06-03 08:40] #4015 closed, assigned to nobody

[2020-06-03 08:59] daxrob commented on #640
Thanks Simone and Luca,
so I should see the new version with the fix on this link?
http://packages.ntop.org/

[2020-06-03 10:48] simonemainardi commented on #640
correct

[2020-06-03 13:24] simonemainardi commented on #4008
This is normal behavior. Indeed, DHCP protocol is basically composed of 4-steps DORA (Discover-Offer-Request-ACK). The discover and request are sent in broadcast whereas offer and ACK are unicast. This actually determines ntopng to create two flows:

![image](https://user-images.githubusercontent.com/3397663/83641569-02515a80-a5ae-11ea-8b59-1ba9e5079c37.png)

and, consequently, you get the callbac

[2020-06-03 13:24] #4008 closed, assigned to simonemainardi

[2020-06-03 13:59] daxrob commented on #640
I tried to download the new version that should include the fix, but the version available is still the same: v.4.1.200428

[2020-06-03 14:06] simonemainardi commented on #3995
From the errors reported, I suspect your VM isn't a standard debian jessie or is has issues.

We have jessie VMs used for testing and they work OK.

May I suggest you to start with a fresh VM and redo the installation (updated instructions are available at packages.ntop.org)

[2020-06-03 15:30] simonemainardi commented on #4001
Working as expected as of e3d078122397cd14fef0f4817778c9dbefc28263

Look at the prefix in the URL:

![switch](https://user-images.githubusercontent.com/3397663/83656384-c0c9ab00-a5bf-11ea-8c15-4a25010e553b.gif)

ntopng started as

[code]

[2020-06-03 15:30] #4001 closed, assigned to simonemainardi

[2020-06-03 19:10] andpp opened #4016 "POST http_prefix/?ifid=<val> redirects to /?ifid=<val> without prefix"
Browser: **Google Chrome. Version 83.0.4103.61 (Official Build) (64-bit)**
Branch: **4.0-stable**
$ ntopng --version
**v.4.0.200518 [Community build]
GIT rev: 4.0-stable:8b73b34242a393e395a901c4bf54e5dff6d6dd0c:20200518**
ntopng built from latest update

Using wireshark I catched packet exchange between my browser and ntopng running on localhost. No proxy server used.

After pressing button for se

[2020-06-03 19:59] andpp commented on #4016
Fixing redirection to System

[code]

[2020-06-03 20:40] andpp commented on #4016
While there is no more error with incorrect redirection, I can't switch to another interface :( . So POST must be used, but processing POST requests requires fixing redirection. If someone could point me where POST request are processed, I could check if I can find a root cause and fix the issue.

[2020-06-04 04:43] Yoshihiro-jp opened #4017 "Updated "ja.lua""
Hi,

I modified some words and sentences  in "ja.lua".
PATH: /usr/share/ntopng/scripts/locales/ja.lua

Please update it.

regards,
Yoshihiro
[jp.zip](https://github.com/ntop/ntopng/files/4727574/jp.zip)

[2020-06-04 05:35] kx001001 opened #4018 "ntopng -- incomplete IPv6 address in Flows"
I am running ntopng v4.0.200511 with nProbe thru ZMQ, the topology is Mikrotik Router->nProbe->ntopng. All things are fine except for the flow information in ntopng, I tried to use IPv6 ping a server and check the result in ntopng(Flows Tab), the IPv6 address in column server side is incomplete, missing some characters in the beginning of address. (See attached Picture)

![image](https://user-imag

[2020-06-04 09:45] simonemainardi commented on #4017
Thanks for your contribution. Please, submit the patch as a pull request and we will integrate it.

[2020-06-04 09:45] #4017 closed, assigned to nobody

[2020-06-04 09:47] simonemainardi commented on #4018
can you provide a pcap capture of the ping with the incomplete address so we can reproduce?

[2020-06-04 09:48] simonemainardi commented on #640
@lucaderi will notify you once the new windows build is ready

[2020-06-04 10:42] cardigliano commented on #4018
Please note that a similar configuration has been tested in our lab and it works for us. (the pcap is required to reproduce exactly the same condition)

[2020-06-04 14:18] lucaderi commented on #3987
The new version stores all the configuration on a single hash entry with key ntopng.prefs.snmp_configuration

[2020-06-04 16:31] andpp commented on #4016
It is quite interesting. Investigating where we could lose uri I stepped with debugging through mongoose.c

[code]

[2020-06-04 17:11] andpp commented on #4016
It seems that when we do **POST /ntopng/?ifid=1 HTTP/1.1\r\n**
**convert_uri_to_file_name** in **mongoose.c:1925** removes http_prefix from URL
Later it uses uri without http_prefix in LuaEngine.cpp:12425  **LuaEngine::handle_script_request** to create redirection in LuaEngine.cpp:12529   **build_redirect(request_info->uri, request_info->query_string, buf, sizeof(buf));** with incorrect request_in

[2020-06-04 19:58] andpp commented on #4016
After some debugging I found a fix that works  for me:

[code]

[2020-06-05 02:56] Yuvahai opened #4019 "Integrate ntopng with Suricata"
ntopng and suricata are integrated, and ntopng captures packets for suricata analysis, to avoid that two capture modules simultaneously capture packets on the same network port, causing packet capture interference and affecting packet capture efficiency

[2020-06-05 06:59] lucaderi opened #4021 "Develop plugin for detecting security violations"
Traditionally in every network there are a set of specified servers to be used for selected services. In particular for DNS and SMTP only the specified servers can be contacted. Any attempt (just to make an example) to use a MX other than the one configured is a misconfiguration or a security violation.

In essence it is requested to create a plugin where for basic services, a use can specify the

[2020-06-05 07:09] cardigliano commented on #4019
@Yuvahai you can ingest flows from Suricata if you want to process packets both in ntopng and suricata as explained at https://www.ntop.org/guides/ntopng/advanced_features/suricata.html#flows-export

[2020-06-05 07:19] simonemainardi commented on #4016
can you submit the patch as a pull request so we can test it?

[2020-06-05 07:31] simonemainardi commented on #3985
implemented

[2020-06-05 07:31] #3985 closed, assigned to nobody

[2020-06-05 18:27] operations999 commented on #3986
Hello,
Is this issue fixed?
Thanks

[2020-06-07 08:48] lucaderi commented on #3987
Implemented in the current version

[2020-06-07 08:48] #3987 closed, assigned to nobody

[2020-06-07 08:49] lucaderi commented on #3986
Almost, we'll close this ticket when done

[2020-06-07 10:33] jbriales opened #4023 "Missing dep in README.compilation for Fedora"
In Fedora 30,
following instructions in README.compilation I still hit this:
[code]
which I fixed with `sudo dnf install readline-devel`.

[2020-06-08 08:02] simonemainardi commented on #4023
Package was already listed at:

https://github.com/ntop/ntopng/blob/80e5400c36c5e95d1058e8e5b68fc029564f553e/doc/README.compilation#L55

[2020-06-08 08:02] #4023 closed, assigned to nobody

[2020-06-08 08:39] #4016 closed, assigned to nobody

[2020-06-08 20:25] operations999 opened #4024 "Trigger blackhole in case of DDOS"
Hello,
Is it possible to trigger blackhole in case of DDOS?
Thanks

[2020-06-08 21:09] simonemainardi commented on #4024
please explain your use case, environment and what you would like to achieve

[2020-06-09 08:30] cardigliano opened #4025 "Detect VPN names after login"
VPN plugins detect user names on login only at the moment. Some VPN servers provide user/ip even after the initial login event, included in flow updates and other events. It would be nice to handle user/ip updates from all events in case we miss the initial login event.

[2020-06-09 08:32] cardigliano opened #4026 "Case insensitive VPN device match"
The VPN source device name match is now case sensitive. It would be nice to make it case insensitive.

[2020-06-09 08:47] operations999 commented on #4024
Hello,
In a situation where 5 locations flow is sent to Nprob > Ntopng.  There are option to trigger alerts if there is syn or any kind of DDOS.
But is there plugin/script to trigger blackhole using community to null route the ip if there is ddos?
Thanks

[2020-06-09 09:04] notyourcommy opened #4027 "[AS] Develop the posibility to create custom graphs (BGP statistics etc)"
Hello

Currently after implementation of sflow/netflow data into "Flows" we can create sub-interfaces using filters like BGP_NEXT_ADJACENT_ASN and BGP_PREV_ADJACENT_ASN. Using such filters we can create a sub-interface which will show(filter) us traffic passing VIA exact BGP (ASN) system.

Problem - by default we are able to see only general graph with both IN and OUT data stacked without knowing

[2020-06-09 09:06] cardigliano opened #4028 "Listen for VPN events both on TCP and UDP"
Syslog VPN log collection is supported over TCP or UDP. It is usually convenient to use TCP especially with long log lines. In case of multiple sources are used, and not all of them support TCP. It would be convenient to add the ability to listen both on UDP and TCP at the same time, configuring a single syslog interface in ntopng.

[2020-06-09 09:51] #4026 closed, assigned to cardigliano

[2020-06-09 10:22] jonaskluger opened #4029 "REST API: response not json format"
Response format for this REST API call is not a json object, but plain text.
/lua/rest/v1/get/host/l7/stats.lua

[2020-06-09 11:09] cardigliano commented on #4029
Fixed in d5453fe9721e542f973b6e1dce4dba8bb88a36fd

[2020-06-09 11:44] jonaskluger commented on #4029
Thank you!

[2020-06-09 11:44] #4029 closed, assigned to cardigliano

[2020-06-09 12:40] notpixxl opened #4030 "Custom application not set"
Hi,
We want to add new EDT specific ports (1494 & 2598 UDP) on Citrix application. For it I set this line `--ndpi-protocols=/var/lib/ntopng/protos.txt` on ntopng.conf file.

From now, I am able to configure my application rules from the gui and view modifications on the protos.txt file when I restart ntopng.

![image](https://user-images.githubusercontent.com/48053618/84147648-0b36a600-aa5e-11ea-8

[2020-06-09 14:07] lucaderi commented on #3986
We have made some fixed in SNMP. Can you please update and report?

[2020-06-09 14:07] lucaderi commented on #3686
We have made some fixed in SNMP. Can you please update and report?

[2020-06-09 14:13] lucaderi commented on #2903
@cardigliano Can you design a method via syslog/snmptrapd to implement it?

[2020-06-09 14:53] qdrop17 opened #4031 "Percent sign in password leads to lock-out"
Hi everyone.

By random I generated a password that included a percent sign (%) and set that as the admin password.

After logging out, I'm not able to login again - being 101% sure I copy and pasted the password properly.

Resetting the password and removing the percent sign solved that issue.

For the sake of usability I suggest to add a validation to the password-form to check for ISO 8859-1 (l

[2020-06-09 15:08] oliwirth commented on #3686
Dear Luca,
I upgraded to v.4.0.200608 as advised.
But still no change.
![ntopng_snmp](https://user-images.githubusercontent.com/47536446/84165211-b9991600-aa73-11ea-9836-1cf702972e35.jpg)

A simple snmpwalk shows this:
real    0m25,713s
user    0m1,276s
sys     0m2,556s

[2020-06-09 15:11] operations999 commented on #3986
Hello,
I have updated to latest versions and restarted services. But I see still same issue.
https://prnt.sc/swn12r
Thanks

[2020-06-09 15:13] #3888 closed, assigned to lucaderi

[2020-06-09 15:24] lucaderi commented on #3138
Fixed in the current development version that will be available overnight

[2020-06-09 15:24] #3138 closed, assigned to simonemainardi

[2020-06-09 15:24] notpixxl commented on #4030
Found out that I have to create a new category and not custom an existing one.

[2020-06-09 15:24] #4030 closed, assigned to nobody

[2020-06-09 15:24] lucaderi commented on #3986
What ntopng version are you using exactly?

[2020-06-09 15:38] operations999 commented on #3986
Here is the output
Version | 4.0.200608 (10465) -  Enterprise M Edition
-- | --
x86_64-unknown-linux-gnu [x86_64][] - 64 bit

[2020-06-09 15:53] lucaderi commented on #3986
All changes are in the dev branch, The stable will be updated as soon as the changes has been validated as working. Please use the nightly build

[2020-06-09 16:00] lucaderi commented on #4031
I have set the admin password at luca2020% and everything works. Can you please report one password that causes the system to lock?

[2020-06-09 16:02] #4019 closed, assigned to nobody

[2020-06-09 16:06] lucaderi commented on #4013
This is a duplicate of issue #3890. Please upgrade and reopen this ticket if not working

[2020-06-09 16:06] #4013 closed, assigned to nobody

[2020-06-09 16:17] lucaderi commented on #3942
The max number of protocols supported by nDPI is 512. The difference between the max number and the current (without -p) protocol number is 262. I don't see the point of your custom protocol file: in essence you want to define a custom protocol per web-site to create nDPI graphs for each defined domain? If this is what you want, the problem you want to fix is good, but not this way. A better solut

[2020-06-09 16:17] #3942 closed, assigned to simonemainardi

[2020-06-09 16:19] lucaderi commented on #3995
Closing for inactivity. Will reopen if necessary

[2020-06-09 16:19] #3995 closed, assigned to simonemainardi, cardigliano

[2020-06-09 16:44] simonemainardi commented on #3686
you need to upgrade to version 4.1

[2020-06-09 16:48] simonemainardi commented on #4024
I think the easiest way is to write a plugin to 'trigger blackhole' when a certain condition is met.

How would you 'trigger blackhole'? does a post to a certain HTTPS endpoint suffice? Do you need to execute a command?

If you don't explain with details we won't be able to help.

[2020-06-09 16:52] simonemainardi commented on #4018
Closing for inactivity. Reopen with the requested information if necessary.

[2020-06-09 19:21] operations999 commented on #3986
Works now :)  Thank you

[2020-06-09 19:33] operations999 commented on #4024
We usually login to router and null router but it is manual job.
I was wondering if there is any plugin available we can ntegrate with cisco/juniper to automate the null route.
Thanks

[2020-06-09 20:40] lucaderi commented on #640
Package released with fixes. ntopng 4.1.200609

[2020-06-10 02:52] kx001001 commented on #4018
Hello ntopng team, I have no idea to how to capture a pcap file against on my scenario(Mikrotik Router->nProbe->ntopng) at ntopng side, ti will be helpful if you guys could give some guidance.
**AnywayI got some clues for this case, it's relevant to the option "Use Post-Nat Destination IPv4 Addresses and Ports", see how to replicate this issue below:**

=========

- Turn on option in ntopng:  Sett

[2020-06-10 07:02] simonemainardi commented on #4018
Thanks for giving detailed information and steps to reproduce.

As you are monitoring netflow, you should generate a netflow pcap capture:

1. Go to the machine which is receiving netflow and run `tcpdump -i any -s0 -w netflow.pcap udp and port <the port on which netflow is arriving> `
2. Do the ping and wait until you see the wrong ip address in ntopng
3. stop the command in 1. and send us the re

[2020-06-10 07:02] lucaderi commented on #3997
Closing for inactivity. Will reopen if necessary

[2020-06-10 07:02] #3997 closed, assigned to simonemainardi

[2020-06-10 07:07] daxrob commented on #640
Thanks Luca.
I think you have to fix the download link on http://packages.ntop.org/.

[2020-06-10 07:10] simonemainardi commented on #4024
There is no plugin but we can (help you to) write one.

Do you know if cisco/juniper support ways other than direct login to set the blackhole? How do you do the direct login? Maybe it is possible to implement that as well.

Give as many details as possible, include examples as well.

[2020-06-10 07:11] simonemainardi commented on #640
Download links are OK: http://packages.ntop.org/Windows/

[2020-06-10 07:19] cardigliano commented on #3973
@khoshtip2 were you able to check the ability to export syslog in your Fritzbox?

[2020-06-10 07:24] daxrob commented on #640
I just go to http://packages.ntop.org/, then clicked on "Windows", then clicked on ntopng.
It show me a "Not Found" page. I am sure the direct link will work..
It is the "ntopng" link that have to be fix.

![2020-06-10_092230](https://user-images.githubusercontent.com/66008204/84238995-2657f300-aafc-11ea-8976-8e7a4872c7ae.jpg)
![2020-06-10_092222](https://user-images.githubusercontent.com/66008204

[2020-06-10 08:46] daxrob commented on #640
By the way. The fix didn't fix the problem.
See the attached processor graph.

![2020-06-10_104616](https://user-images.githubusercontent.com/66008204/84246955-a899e480-ab07-11ea-8158-b172f4c46d8c.jpg)

[2020-06-10 10:15] simonemainardi opened #4032 "L7 application breakdown broken"
<img width="1004" alt="image" src="https://user-images.githubusercontent.com/3397663/84256343-0f24ff80-ab14-11ea-9e29-597441c36864.png">

[2020-06-10 11:35] qdrop17 commented on #4031
You can try it with **w%832oOgC6wt**. This ain't working on my instance.

[2020-06-10 15:33] simonemainardi opened #4033 "Flow Exporter Filter Not Working"
Even when picking a flow exporter as

![image](https://user-images.githubusercontent.com/3397663/84287571-5cb76180-ab40-11ea-9afd-66dd13b9228b.png)

Resulting flows also belong to other exporters

![image](https://user-images.githubusercontent.com/3397663/84287647-722c8b80-ab40-11ea-9e4e-3e19573a4188.png)

[2020-06-10 15:36] kx001001 commented on #4018
Pls find attached dump file.

[dump.zip](https://github.com/ntop/ntopng/files/4759591/dump.zip)

I did same IPv6 ping from 2409:8a28:46a1:81b0::1 to 240e:390:4626:be30::1

First package is the netflow v9 template, and you may find the flow information at No.12 package.

![image](https://user-images.githubusercontent.com/48275131/84288057-42e34200-ab73-11ea-8b1b-6f5a440e0d12.png)

[2020-06-10 15:59] #4028 closed, assigned to cardigliano

[2020-06-10 16:02] cardigliano commented on #3973
Closing this for the time being, please reopen if still required

[2020-06-10 16:02] #3973 closed, assigned to cardigliano

[2020-06-10 16:35] oliwirth commented on #3686
Sorry to ask, but how shall I do this?
In the mapped repository only Version 4.0.200610-10482 is available.
What do you recommend I should install version 4.1?

[2020-06-10 17:34] AWHubGit opened #4034 "Ntop.cpp:201 Error: unable to open lock file"
Using ntopng v.4.0.200414 installed by brew on macOS 10.15.5 with commands on cli
ntopng -i en1
ntopng -s -i en1
it throws error "[Ntop.cpp:201] ERROR: Unable to open lock file: No such file or directory".
Also with sudo.
`which tcpdump` --version
tcpdump version tcpdump version 4.9.3 -- Apple version 90.100.1
libpcap version 1.9.1
LibreSSL 2.8.3
redis-cli --version 6.0.5

How to launch ngtopng on

[2020-06-10 20:48] CyberbreinAirw0lf opened #4035 "No syslog messages"
Team,

The following is added to the config-file (see also attached config-file:
-i=syslog://*:514@udp

After several updates of the dev-channel, this is still not working - no messages.

See also attached screenshot:
- client is host producer
- sent log-messages to udp/514 @
- just added the host producers => no difference

Kind regards - Will

[ntopng-2020may27.zip](https://github.com/ntop/ntopn

[2020-06-10 20:58] CyberbreinAirw0lf opened #4036 "TCP-analysis"
Team,

See also attached image with TCP flag distribution:
In a healthy situation, I would expect SYN, SYN/ACK and FIN/ACK more-or-less equal.
If not equal, I would expect: RST < FIN/ACK < SYN/ACK < SYN.

The attached image shows the opposite:

    more FIN/ACK then SYN/ACK => more sessions ending then started?
    more SYN/ACK then SYN => more completed sessions then initiated?

Where is this des

[2020-06-10 21:12] CyberbreinAirw0lf opened #4037 "Support custom ports for HTTP/HTTPS active monitoring"
Team,

See also attached screenshot (I also checked the manual):
It looks like http and https monitoring with a custom TCP port is not supported?
While the entered host is marked "green" (i.e. ok)?

Thank you,
- Will

![active-monitoring-custom-tcp-port](https://user-images.githubusercontent.com/64280991/84319069-b71be680-ab6f-11ea-8ec5-8c8b2f8eb9a5.png)

[2020-06-11 06:31] jbriales commented on #4023
I'm in Fedora 30, and I needed there. The package is NOT listed in https://github.com/ntop/ntopng/blob/80e5400c36c5e95d1058e8e5b68fc029564f553e/doc/README.compilation#L50

[2020-06-11 07:07] cardigliano commented on #4035
@NogNeetMachinaal I think it's easier to schedule a joint session to debug this, the configuration looks good

[2020-06-11 07:44] cardigliano commented on #3989
A sample log is required. It seems the OPNsense documentation does not report the log format.

[2020-06-11 08:17] Hagshur opened #4038 "SNMP and Arista"
hi all
on our ntop  we are using to monitor our datacenter lines, (wan+lan)
our backbone is Arista based.
stop by default is recognising Cisco mib but not the Arista -when I run snmp query it doesn't get all information needed
someone know how to "compile" the MIB to ntop ?

[2020-06-11 09:10] cardigliano commented on #3989
ntopng is already using the latest log format (20.1)

[2020-06-11 09:10] #3989 closed, assigned to nobody

[2020-06-11 09:24] simonemainardi commented on #4036
Correct.

Correct - in an healthy situation. Certain scans with spoofed tcp flags can make the above inequality false.

Likely, you've started ntopng when many sessions were already open. So ntopng didn't see the SYN / SYNACK part of the tcp three way handshake because it wasn't started at that time.

Chances of having this are too low. I would not expect to see this in practice.

[2020-06-11 09:32] cardigliano commented on #3988
Implemented

[2020-06-11 09:32] #3988 closed, assigned to nobody

[2020-06-11 09:55] #3986 closed, assigned to nobody

[2020-06-11 10:03] simonemainardi commented on #4036
Another reason why you can get an higher number of FINACK is when the client sends a ACK+FIN, that is, it acknowledges previous data (ACK) and simultaneously requests for session termination (FIN). Then, the server responds with ACK+FIN, and so the counter of FINACK can be greater as the FINACK is increased twice for each flow with the property above.

[2020-06-11 10:03] #4036 closed, assigned to simonemainardi

[2020-06-11 10:07] simonemainardi commented on #4038
I think we may have to adjust certain OIDs to make sure they work with vendor Arista. Do you know which parts are missing?

It would be great if you could give us access to one of your Arista so that we can see and adjust directly.

[2020-06-11 10:08] simonemainardi commented on #4034
try and add option `--dont-change-user`

[2020-06-11 10:21] simonemainardi commented on #3686
Correct. Visit [packages.ntop.org](url) and follow instructions to install **nightly** builds.

[2020-06-11 10:25] AWHubGit commented on #4034
I did it already. See above. According to "man ntopng" argument "-s" same as "--dont-change-user" debug only.
What is the lock file needed? Is it in ntop.cpp:201?

[2020-06-11 10:27] simonemainardi commented on #4034
you need to run with `sudo`:

[code]

[2020-06-11 10:29] simonemainardi commented on #640
here's the direct link: make sure you are running this version: http://packages.ntop.org/Windows/ntopng-4.1.200609-x64.zip

[2020-06-11 10:46] AWHubGit commented on #4034
I did/tried already. See my first post.
Trying again with "sudo ntopng -s -i en1" same result/error:
"[Ntop.cpp:201] ERROR: Unable to open lock file: No such file or directory"

[2020-06-11 13:29] daxrob commented on #640
Yes, I already installed that version on top of the old one: ntopng Community Edition v.4.1.200609

[2020-06-11 13:47] CyberbreinAirw0lf commented on #4035
Sure - what would be a good time? Tomorrowmorning; say 11 AM?

[2020-06-11 13:49] cardigliano commented on #4035
Ok for me

[2020-06-11 14:13] #4018 closed, assigned to simonemainardi