[2020-03-19 18:41] gabryon99 commented on #3589
Changed msec to ms

[2020-03-19 18:41] #3589 closed, assigned to gabryon99

[2020-03-19 22:10] gabryon99 commented on #3584
Please try to refresh your cache

[2020-03-19 22:17] tano46 commented on #3584
It seems to work

[2020-03-19 22:48] gabryon99 commented on #3584
Ok, I close the ticket, thank you.

[2020-03-19 22:48] #3584 closed, assigned to gabryon99

[2020-03-19 22:51] lucaderi opened #3590 "RTT IPv6 support broken"
![Screen Shot 2020-03-19 at 23 50 45](https://user-images.githubusercontent.com/4493366/77121896-90e91d80-6a3c-11ea-9dc9-d8e053d694bc.png)
![Screen Shot 2020-03-19 at 23 50 19](https://user-images.githubusercontent.com/4493366/77121899-921a4a80-6a3c-11ea-91b8-25e20105f33b.png)

Ubuntu Linux 18.04

[2020-03-19 23:08] gabryon99 opened #3591 "Wrong Storage Utilization"
On MacOS the storage utilization reported is wrong, I have a 512GB SSD inside the computer.

![Screenshot 2020-03-20 at 00 06 20](https://user-images.githubusercontent.com/14114916/77122784-cd1d7d80-6a3e-11ea-8a13-631e66873851.png)

[2020-03-20 08:47] lucaderi opened #3592 "Invalid RRD country path"
20/Mar/2020 09:40:17 [timeseries.lua:14] [rrd.lua:237] ERROR: Unable to create C:\Users\Luca\Documents\ntopng\1\countrystats\US wn \\bytes.rrd [creating 'C:\Users\Luca\Documents\ntopng\1\countrystats\US wn \\bytes.rrd': Invalid argument]
20/Mar/2020 09:40:16 [timeseries.lua:14] [rrd.lua:237] ERROR: Unable to create C:\Users\Luca\Documents\ntopng\1\countrystats\US n \\bytes.rrd [creating 'C:\Users\

[2020-03-20 08:49] cardigliano opened #3593 "Check Telemetry support"
It seems that telemetry is not working (or at least we are no longer receiving telemetry data which is suspicious), we need to test it.

[2020-03-20 08:50] #3590 closed, assigned to emanuele-f

[2020-03-20 08:59] simonemainardi opened #3594 "Country timeseries on windows"
20/Mar/2020 09:40:17 [timeseries.lua:14] [rrd.lua:237] ERROR: Unable to create C:\Users\Luca\Documents\ntopng\1\countrystats\US wn \\bytes.rrd [creating 'C:\Users\Luca\Documents\ntopng\1\countrystats\US wn \\bytes.rrd': Invalid argument]
20/Mar/2020 09:40:16 [timeseries.lua:14] [rrd.lua:237] ERROR: Unable to create C:\Users\Luca\Documents\ntopng\1\countrystats\US n \\bytes.rrd [creating 'C:\Users\

[2020-03-20 09:26] cardigliano commented on #3593
Telemetry support seems to be working fine in ntopng, however we need to review the server-side service configuration to let the users reply directly to the correct address.

[2020-03-20 09:53] #3593 closed, assigned to nobody

[2020-03-20 09:57] emanuele-f opened #3595 "End of demo mode not properly handled"
![photo_2020-03-20_10-51-49](https://user-images.githubusercontent.com/5488003/77152769-7ccf0b80-6a90-11ea-88b0-e107895b7b1e.jpg)

[2020-03-20 10:00] emanuele-f opened #3596 "Interfaces names are repeated and misleading"
![2020-03-20_10-59](https://user-images.githubusercontent.com/5488003/77153348-8147f400-6a91-11ea-9eb8-43997e60d107.png)

In contrast, Wireshark reports them with a unique and meaningful name
![photo_2020-03-20_11-00-09](https://user-images.githubusercontent.com/5488003/77153391-9c1a6880-6a91-11ea-8477-539f6cac81c8.jpg)

[2020-03-20 10:04] emanuele-f opened #3597 "Flows shown but header says 0 flows and hosts"
This seems like an interface selection issue, as it only occurs when multiple interfaces are present

![abc](https://user-images.githubusercontent.com/5488003/77153599-f0254d00-6a91-11ea-9cf2-5def7d0f9652.png)

[2020-03-20 10:06] emanuele-f opened #3598 "Ntopng ignores multiple -i options with numeric ids"
Running ntopng with `ntopng.exe /c -i 1 -i 2`. Only one interface is picked by ntopng, the other is ignored.

[2020-03-20 11:07] simonemainardi opened #3599 "Interface prefs units of measure"
Please move Mbit/s and sec on the right of the input fields in

<img width="718" alt="image" src="https://user-images.githubusercontent.com/3397663/77158258-3f27ae00-6aa3-11ea-9cb8-a3e4e0e10909.png">

[2020-03-20 11:10] emanuele-f opened #3600 "ntop.httpGet does not work when invoked from a mongoose thread"
Running `ntop.httpGet("http://ntop.org")` from a system script (e.g. `housekeeping.lua`) works, whereas invoking it from a gui thread (e.g. in `if_stats.lua`) causes ntopng to wait several seconds after which the request is aborted. On the network I can only see the three way handshake and periodic keep alive messages, but ntopng does not send any HTTP request. This is also the cause of InfluxDB i

[2020-03-20 11:11] emanuele-f commented on #3571
The layout is fixed. Influxdb has been temporary enabled, but an issue is present that must be fixed. Please see #3600

[2020-03-20 11:11] #3571 closed, assigned to emanuele-f

[2020-03-20 11:14] simonemainardi opened #3601 "ntopng does not terminate gracefully on windows"
ntopng termination always ends up with

<img width="711" alt="image" src="https://user-images.githubusercontent.com/3397663/77158816-5b781a80-6aa4-11ea-8b37-e13a77182ae2.png">

[2020-03-20 11:34] simonemainardi commented on #3597
fixed in https://github.com/ntop/ntopng/commit/794cd523c6b38e0dbde2291ff1100517cff620cd

[2020-03-20 11:34] #3597 closed, assigned to simonemainardi

[2020-03-20 11:54] simonemainardi commented on #3592
issue is due to libmaxminddb which seems to provide unclean data. Also occurs for ASes

<img width="692" alt="image" src="https://user-images.githubusercontent.com/3397663/77161388-d1cb4b80-6aa9-11ea-8161-2986f48181be.png">

<img width="365" alt="image" src="https://user-images.githubusercontent.com/3397663/77161432-f45d6480-6aa9-11ea-8035-a0c752d9f485.png">

[2020-03-20 12:09] simonemainardi commented on #3592
Printing the hex representations of the countries, it seems there's a space (byte `20`) plus other seemingly invalid chars after the country name

[code]

[2020-03-20 12:24] #3598 closed, assigned to lucaderi

[2020-03-20 13:57] simonemainardi commented on #3592
similarly, as names seems to terminate with an E2 hex char

<img width="623" alt="image" src="https://user-images.githubusercontent.com/3397663/77170253-0e537300-6abb-11ea-92bc-cfbd7123d260.png">

[2020-03-20 14:19] simonemainardi commented on #3592
Unicode chars are perfectly handed by lua (now using memcpy to avoid any string operation). See as demo:

<img width="546" alt="image" src="https://user-images.githubusercontent.com/3397663/77172400-2ed0fc80-6abe-11ea-8129-ace4a21db501.png">

<img width="606" alt="image" src="https://user-images.githubusercontent.com/3397663/77172365-21b40d80-6abe-11ea-913f-e4c2f8834f51.png">

[2020-03-20 14:21] simonemainardi commented on #3551
Fixed in https://github.com/ntop/ntopng/commit/49c80c46152d4d32292170d893eea2e78dcee514

[2020-03-20 14:21] #3551 closed, assigned to nobody

[2020-03-20 14:38] #3588 closed, assigned to emanuele-f

[2020-03-20 14:41] simonemainardi commented on #3591
issue is due to bsd `df` which returns a different block size.

[2020-03-20 14:49] #3591 closed, assigned to simonemainardi

[2020-03-20 15:41] #3567 closed, assigned to emanuele-f

[2020-03-20 16:10] lucaderi opened #3602 "Invalid disk-space calculation on MacOS"
![Screen Shot 2020-03-20 at 17 07 58](https://user-images.githubusercontent.com/4493366/77182825-ac503900-6acd-11ea-86f6-766566bd70b4.png)

This is a 1TB disk

[2020-03-20 16:11] gabryon99 commented on #3599
Fixed in https://github.com/ntop/ntopng/commit/ffea9b2165521ee1fe1991d3587293b6d1884ada.

[2020-03-20 16:11] #3599 closed, assigned to gabryon99

[2020-03-20 16:20] emanuele-f commented on #3595
Issue has been mostly fixed, but a problem remains (both for linux and windows): when the reload occurs, first the directory is cleaned and then it is populated again with the new files. In the meantime, some errors appear as some script may be working on that directory. This could be solved by using a second directory and swapping the currently active directory.

[2020-03-20 16:29] #3587 closed, assigned to emanuele-f

[2020-03-20 16:29] simonemainardi commented on #3594
duplicate of #3592

[2020-03-20 16:29] #3594 closed, assigned to nobody

[2020-03-20 16:46] #3585 closed, assigned to emanuele-f

[2020-03-20 16:46] #3586 closed, assigned to emanuele-f

[2020-03-20 16:49] #3580 closed, assigned to emanuele-f

[2020-03-20 17:24] #3581 closed, assigned to emanuele-f

[2020-03-20 17:34] emanuele-f commented on #3582
The dashboard has been designed for the router mode and it's correctly shown. New features will be postponed after the release.

[2020-03-20 17:34] #3582 closed, assigned to emanuele-f

[2020-03-20 18:47] simonemainardi commented on #3583
VPN back in place at the bottom of the dashboard.

![image](https://user-images.githubusercontent.com/3397663/77196148-11faf000-6ae3-11ea-95bc-39d87fd6e9a4.png)

![image](https://user-images.githubusercontent.com/3397663/77196170-1aebc180-6ae3-11ea-853e-e94480b66a18.png)

![image](https://user-images.githubusercontent.com/3397663/77196193-24752980-6ae3-11ea-8999-8f7bf9e9ae73.png)

The relevant par

[2020-03-20 18:47] #3583 closed, assigned to simonemainardi

[2020-03-20 19:03] cardigliano commented on #3602
It is likely ntopng was still using data from the cache, computed by an old script version that was assuming a block size = 1024 (instead of 512), that would explain the 2x system and total size. After a few tests forcing a refresh, everything looks fine.

[2020-03-21 16:09] #3600 closed, assigned to lucaderi

[2020-03-21 16:23] lucaderi opened #3603 "ntopng unable to use InfluxDB"
For some unknown reason, even though ntopng uses InfluxDB for writing data, it still uses and creates RRD files on disk

![Screen Shot 2020-03-21 at 17 21 31](https://user-images.githubusercontent.com/4493366/77231009-7b890600-6b98-11ea-8697-0e4b59ee4296.png)
![Screen Shot 2020-03-21 at 17 20 56](https://user-images.githubusercontent.com/4493366/77231013-7c219c80-6b98-11ea-83a9-f973ad8c469e.png)

[2020-03-21 16:23] gabryon99 opened #3604 "Improve assets loading"
It is requested to improve the loading times for the Web Interface. We can cache some static assets to speed up the web page rendering.

[2020-03-21 16:27] lucaderi commented on #3601
![Screen Shot 2020-03-21 at 17 26 27](https://user-images.githubusercontent.com/4493366/77231119-1f72b180-6b99-11ea-885f-4314a8e8dcfe.png)
Unable to reproduce it with the current build. This said you should not start it from shell but from the service manager

[2020-03-21 16:27] #3601 closed, assigned to lucaderi

[2020-03-21 16:29] lucaderi commented on #3091
![Screen Shot 2020-03-21 at 17 28 40](https://user-images.githubusercontent.com/4493366/77231154-6d87b500-6b99-11ea-8c74-d577417341b9.png)
Everything works as expected with the current build

[2020-03-21 16:29] #3091 closed, assigned to nobody

[2020-03-21 16:37] lucaderi commented on #3596
Interface names are repeated as you have multiple interfaces as you can see from wireshark.

On my system, I am unable to reproduce the issue with WiFi. Closing it for the time being

[2020-03-21 16:37] #3596 closed, assigned to nobody

[2020-03-21 16:38] lucaderi commented on #3592
Fixed in the latest build

[2020-03-21 16:38] #3592 closed, assigned to simonemainardi

[2020-03-21 16:46] lucaderi commented on #204
Sorry for the delay. I wanted to finally address this request however I have not been able to find a code example to include in ntopng. Do you have a pointer perhaps? Thanks.

[2020-03-22 11:14] lucaderi opened #3605 "Error while reporting data in graph"
![Errore ntopng](https://user-images.githubusercontent.com/4493366/77248017-8d20eb00-6c36-11ea-92ec-4ec35e5d4c72.png)

[2020-03-22 12:32] war59312 opened #3606 "Home Page 500 Internal server error: 5min.lua:1: unexpected symbol"
Hi,

Not sure what happened, but ntopng homepage now showing just:

[code]

Syslog showing over and over again:

[code]

[code]

Thanks,

Will

[2020-03-22 18:17] noybman opened #3607 "Cannot update ntopng due to pfring-dkms version mismatch, depends (3.3.0-2304 but 3.3.0-2316)"
Its looking like this was an issue once before, and I'm not too interested in removing everything to reinstall it....
https://github.com/openzfs/zfs/issues/6037

ndpi is already the newest version (3.3.0-2316).
0 upgraded, 0 newly installed, 0 to remove and 5 not upgraded.

The following packages have unmet dependencies:
 pfring : Depends: ndpi (= 3.3.0-2304) but 3.3.0-2316 is to be installed

The

[2020-03-22 18:21] noybman commented on #3607
Whoa... juxtaposed destiny....
This similar to issue #3607, is similar to #6037  O_o
"The following packages have been kept back. #6037"

My system is Ubuntu 18.04, Kernel 5.3.0-42-generic if this is useful.

[2020-03-22 18:47] noybman commented on #3607
I went ahead and rolled back ndpi,
sudo apt-get install ndpi=3.3.0-2304
then apparently was required to also do a kernel update (due to the pfring dependency failing to build),
sudo apt install linux-headers-5.3.0-42
then doing a sudo apt-get install pfring-dkms resolved errors and I was able to do the regular update && upgrade with no further errors.

I'm not sure how the "newer ndpi" ever got on

[2020-03-22 21:07] simonemainardi opened #3608 "[RTT] ICMP engaged alerts never released"
An engaged ICMP alert is never released if the corresponding host+measurement is removed from the RTT monitored hosts

![image](https://user-images.githubusercontent.com/3397663/77260616-7788e100-6c89-11ea-8f7b-65807097b218.png)

![image](https://user-images.githubusercontent.com/3397663/77260624-7c4d9500-6c89-11ea-8351-1a50988886fa.png)

[2020-03-22 21:09] simonemainardi opened #3609 "Interfaces dropdown too wide"
Need to short interfaces names when they are too long to avoid this

![image](https://user-images.githubusercontent.com/3397663/77260663-bd45a980-6c89-11ea-9153-1cff04ebf90f.png)

[2020-03-22 21:11] simonemainardi opened #3610 "[RTT] HTTPS measurement actually triggers HTTP traffic"
The only configured probe is https

![image](https://user-images.githubusercontent.com/3397663/77260697-f5e58300-6c89-11ea-92b5-dc88ac8d020a.png)

However, just by inspecting the traffic, we see that its HTTP port 80 and not HTTPS

![image](https://user-images.githubusercontent.com/3397663/77260735-144b7e80-6c8a-11ea-912d-87d9a430982f.png)

[2020-03-23 08:36] lucaderi commented on #3604
It requires us to move to HTTP/2.0, thus it will be leaved as it

[2020-03-23 08:36] #3604 closed, assigned to gabryon99

[2020-03-23 08:39] lucaderi commented on #3602
Fixed

[2020-03-23 08:39] #3602 closed, assigned to cardigliano

[2020-03-23 08:48] simonemainardi commented on #3605
please provide version used, ntopng configuration, and details to reproduce.

[2020-03-23 09:36] lucaderi opened #3611 "Add RTT Host Shortcut"
In the host page (/lua/host_details.lua?host=XXX) add a new row that allows you to
- add a new RTT monitoring entry (if not existing)
- show the current RTT value and remove/modify the RTT monitoring entry (if existing)

Both have to be hyperlinks to the RTT page (no inplace edit/remove).

[2020-03-23 09:38] lucaderi opened #3612 "Add ability do add batch RTT entries"
Add the ability to
- scan a /24 network and for active assets and only for active assets
or
- add a /24 network (beside network and broadcast)

add the hosts to the RTT monitoring page

[2020-03-23 10:25] samuelesabella commented on #3605
**System**: Ubuntu 18.04.4
**Version**: ntopng Community Edition v.3.9.200312 and InfluxDB v1.7.10
I inject pcap traffic in a dummy interface, namely fake_if, and use ntopng to produce time-series for hosts in different subnetworks. The pcaps I used can be found at [CICIDS2017](https://www.unb.ca/cic/datasets/ids-2017.html)
[code]
All preferences on timeseries are set on (_both_, _full_, _per cate

[2020-03-23 10:54] simonemainardi opened #3613 "Hardcoded blacklisted flow status id"
`alert_utils.lua` contains this

<img width="452" alt="image" src="https://user-images.githubusercontent.com/3397663/77309430-ed7a6000-6cfc-11ea-9924-92f6c2921c01.png">

which should be removed as alert ids now can vary.

[2020-03-23 11:06] cardigliano commented on #3607
@noybman we fixed the repository, please update again and let us know. Thank you.

[2020-03-23 11:07] #3610 closed, assigned to emanuele-f

[2020-03-23 11:32] #3608 closed, assigned to nobody

[2020-03-23 11:33] emanuele-f commented on #3603
Please buiild a new package to test the fix above

[2020-03-23 11:36] gabryon99 commented on #3609
<img width="552" alt="Screenshot 2020-03-23 at 12 34 00" src="https://user-images.githubusercontent.com/14114916/77312620-9d9e9780-6d02-11ea-886a-733c3c2bc4db.png">
 Fixed in the latest commit: https://github.com/ntop/ntopng/commit/5eff6713d3472af24ea2c894c39cede62f9c6e36

[2020-03-23 11:36] #3609 closed, assigned to gabryon99

[2020-03-23 11:41] emanuele-f commented on #3605
@samuelesabella a new package will be available in one hour, please check it out and let us know if the problem is fixed

[2020-03-23 11:51] #3613 closed, assigned to emanuele-f

[2020-03-23 12:53] DGabri opened #3614 "Invalid character reported for top talker host"

[2020-03-23 14:13] simonemainardi commented on #3579
after internal review, we have decided to keep the current structure as changing it would break all hyperlinks in the alerts.

[2020-03-23 14:13] #3579 closed, assigned to nobody

[2020-03-23 14:50] emanuele-f commented on #3606
Please add `--community` to the ntopng options. For a fix please follow #3595 . Regarding the RTT issue, a new build will be available in two hours. Please check it out and see if the problems are solved.

[2020-03-23 16:04] emanuele-f opened #3615 "Refactor User Scripts overview page"
The user scripts overview page is very long and non standard. It is requested to rework it to add pagination (via datatables).

![2020-03-23_17-03](https://user-images.githubusercontent.com/5488003/77336720-d6009e80-6d1f-11ea-964e-250bdbc87e8f.png)

[2020-03-23 16:05] emanuele-f commented on #3614
What is the output of `ntopng --version`? Which is the invalid character reported?

[2020-03-23 16:06] emanuele-f commented on #3562
No feedback received. Please reopen if necessary.

[2020-03-23 16:06] #3562 closed, assigned to nobody

[2020-03-23 16:07] emanuele-f commented on #3549
@Claireshan have you solved the issues? Can this be closed?

[2020-03-23 16:09] emanuele-f commented on #3520
Ok, closing for now. If you still experience issues please open a new bug with the details.

[2020-03-23 16:09] #3520 closed, assigned to nobody

[2020-03-23 16:13] emanuele-f commented on #3238
You can find a description of the metrics used by ntopng here: https://www.ntop.org/guides/ntopng/api/timeseries/metrics.html . Should you have other questions, please open a new issue.

[2020-03-23 16:13] #3238 closed, assigned to nobody

[2020-03-23 16:16] emanuele-f commented on #3232
Closing for inactivity. Please reopen if necessary.

[2020-03-23 16:16] #3232 closed, assigned to nobody

[2020-03-23 16:17] kalibox commented on #3520
Thanks. The new version (released 13/03) is good as gold. Cheers for closing the ticket.

[2020-03-23 16:18] emanuele-f commented on #2879
Closing for inactivity, please reopen if necessary.

[2020-03-23 16:18] #2879 closed, assigned to nobody

[2020-03-23 16:22] emanuele-f commented on #2990
This is now present in nEdge.

[2020-03-23 16:22] #2990 closed, assigned to nobody

[2020-03-23 16:23] emanuele-f commented on #2835
Closing for inactivity.

[2020-03-23 16:23] #2835 closed, assigned to nobody

[2020-03-23 16:26] emanuele-f commented on #3085
Closing as the original issue is now solved. Please open separate issues if needed.

[2020-03-23 16:26] #3085 closed, assigned to nobody

[2020-03-23 16:30] emanuele-f commented on #3227
Please send us a screenshot of the network interface page into ntopng, which shows the packet drops. Please also check out https://www.ntop.org/guides/ntopng/operating_ntopng_on_large_networks.html#packet-drops for suggestions to reduce packet drops in large networks.

[2020-03-23 16:35] emanuele-f commented on #3248
Currently this information is missing. However you can implement your own "user script" to export such information. Please check out https://www.ntop.org/guides/ntopng/plugins/index.html for more information (docs are work in progress).

[2020-03-23 16:35] #3248 closed, assigned to nobody

[2020-03-23 16:39] emanuele-f commented on #3414
Please update to the development version of ntopng or wait for the new stable version which will be released this week.

[2020-03-23 16:49] emanuele-f commented on #2227
By using user scripts is now possible for users to provide custom timeseries.

[2020-03-23 16:49] #2227 closed, assigned to emanuele-f

[2020-03-23 17:23] emanuele-f commented on #3603
Fixed in 85a84c95fd29d3ea110970846f29636ed4e54db9 and be0c0a9566628038f24e4f0251d35861bc4a0a10

[2020-03-23 17:23] #3603 closed, assigned to emanuele-f

[2020-03-23 17:29] lucaderi opened #3616 "Implement ICMP Support"
The Ping.cpp class does not support Windows.

In essence this is the API that needs to be implemented by the Window side of the Ping class
https://docs.microsoft.com/en-us/windows/win32/api/icmpapi/. See also https://stosd.wordpress.com/2017/01/28/windows-ping/ as example.

Note that v4 and v6 have different APIs.

Once this is implemented RTT can be enabled in scripts/plugins/rtt/user_scripts/sys

[2020-03-23 17:38] emanuele-f commented on #3616
After the implementation, `menu.lua` should be also modified as follows:
Replace `if(not rtt_script_found and isAdministrator() and (not ntop.isWindows())) then` with `if(not rtt_script_found and isAdministrator()) then`

[2020-03-23 18:15] lucaderi commented on #3614
![Screen Shot 2020-03-23 at 19 14 05](https://user-images.githubusercontent.com/4493366/77348938-91363100-6d3a-11ea-9197-5f6cbd8cc74c.png)
Another example of poor nome decoding

[2020-03-24 06:17] r1bnc opened #3617 "Unable to install ntopng 3.9 from debian repo"
I tried to install ntopng from the Debian 10 repo but it is version 3.8. I removed it and decided to install from: `http://packages.ntop.org/apt-stable/`

There is no buster release so  I just went on installing the stretch version:
[code]

Checking the apt candidate with `apt-cache policy ntopng` returns with the default Debian repo ntopng:
[code]

I don't know whether this is my debian installat

[2020-03-24 09:02] emanuele-f commented on #3617
Debian buster support is only available since ntopng 3.9, which is the current dev version. So please install the dev version of ntopng or wait a day for the new ntopng stable version to be available.

[2020-03-24 09:02] #3617 closed, assigned to nobody

[2020-03-24 09:43] #3614 closed, assigned to nobody

[2020-03-24 13:25] #3607 closed, assigned to nobody

[2020-03-24 13:25] #3549 closed, assigned to nobody

[2020-03-24 13:55] samuelesabella commented on #3605
Thank you Emanuele, now everything is working.

[2020-03-24 14:02] emanuele-f commented on #3605
Thank you for reporting.

[2020-03-24 14:21] lucaderi commented on #3611
Implemented

[2020-03-24 14:21] #3611 closed, assigned to gabryon99

[2020-03-24 15:30] #3543 closed, assigned to emanuele-f

[2020-03-24 15:31] emanuele-f opened #3618 "Implement extensible RTT monitor"
RTT monitor should be modified to make it easy for uses to implement their custom monitoring logic.

[2020-03-24 17:07] Claireshan commented on #3549
It wasn’t really solved

Sent from Mail for Windows 10

From: Emanuele Faranda
Sent: Monday, March 23, 2020 7:07 PM
To: ntop/ntopng
Cc: claireshan; Mention
Subject: Re: [ntop/ntopng] upgrading to 3.9 (#3549)

@Claireshan have you solved the issues? Can this be closed?
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-03-24 17:25] emanuele-f commented on #3544
We will add the ability to scan multiple networks if the network interface is configured with multiple IP addresses. E.g. if eth0 has ip address 192.168.1.5/24 and 192.168.2.10/24, ntopng will scan both the 192.168.1.0/24 and the 192.168.2.10/24 networks. You can add multiple ip addresses to a network interface via `ip addr add dev eth0 192.168.2.10/24`

[2020-03-24 19:09] noybman commented on #3607
Agreed. No issues on update.

On March 24, 2020 9:25:18 AM EDT, Luca Deri <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-03-24 20:00] #3544 closed, assigned to emanuele-f

[2020-03-24 22:11] DGabri opened #3619 "Add 1s, 10, 30, 45, 30 min Timeframe on the dashboard"

[2020-03-24 22:13] DGabri opened #3620 "Change localhost's thumbnail"
Change the thumbnail from a flag to a different image ex. pc icon or other more comprensible icon

[2020-03-24 22:21] DGabri opened #3621 "Add colors on the remote/multicast/other types box"
Add color in the boxes so that the UI has a cleaner look

![Capture](https://user-images.githubusercontent.com/33870399/77482406-1d715280-6e26-11ea-80b1-ef4634490792.PNG)

[2020-03-24 22:22] DGabri commented on #3621
Also add a pop up box that explains what something means or what it does

[2020-03-24 22:29] DGabri opened #3622 "Add 2 vertical lines when function is activated on dash"
Use the same thumbnail as the one used in media players otherwise the user doesn't understand if the press of the button worked as the UI is lagging because of the timeframe

![Dash](https://user-images.githubusercontent.com/33870399/77482939-4a723500-6e27-11ea-93d0-14eee73bd617.PNG)

[2020-03-24 23:15] simonemainardi opened #3623 "Daily script shows an error"
[code]

[2020-03-25 08:38] simonemainardi opened #3624 "Docker tests for centos8 and debian buster stable packages"
Extend https://github.com/ntop/packager with tests for cento8 and debian buster stable packages 4.0

[2020-03-25 08:43] DGabri opened #3625 "Change UI"
Move the items in the photo on the top bar, add the possibility to direclty add the license without redirecting to the shop. If moved up, important items like time and uptime are more visible like the request of license activation(I couldn't see it in the beginning)
![UI](https://user-images.githubusercontent.com/33870399/77517870-1de90800-6e7d-11ea-85d9-350d0fb68713.PNG)

[2020-03-25 08:46] DGabri opened #3626 "Bugged parenthesis layout"
Wrong layout after host name on traffic dashboard
![bug](https://user-images.githubusercontent.com/33870399/77518165-8fc15180-6e7d-11ea-847c-6fe2c7207fe1.PNG)

[2020-03-25 08:51] DGabri opened #3627 "Another UI Inconsistency"
The UI is ver inconsistent, if another page/message box opens it has to be consistent with the main UI layout like this message, the shop, or the packages.ntop.org website that is very outdated
![UI](https://user-images.githubusercontent.com/33870399/77518516-3574c080-6e7e-11ea-90c8-76dd5d10e19e.PNG)

[2020-03-25 08:58] DGabri opened #3628 "Bad layout on traffic dashboard"
If the dashboard doesn't have many pie charts to display but just one it must be centered otherwise it is not very nice to look at. For example for better layout put it centered and start to slide them on the sides if you have more so that they are more readable.

![pie](https://user-images.githubusercontent.com/33870399/77519064-20e4f800-6e7f-11ea-934d-515b1b59fc0a.PNG)

[2020-03-25 12:07] hugleo opened #3629 "Nindex - support more interfaces"
Nindex support only 8 interfaces.

Implement one option to increase this number.

[2020-03-25 13:40] emanuele-f commented on #3623
Issues addressed in 4ef84073867fe63b5d49da5b166971b5a809d2ad and 7993b5f3b02cf5e218be3d43af0e78233701a496

[2020-03-25 13:40] #3623 closed, assigned to emanuele-f

[2020-03-25 15:19] emanuele-f commented on #3626
Can you provide a PCAP to reproduce this?

[2020-03-25 15:21] emanuele-f commented on #3629
Duplicate of #3072

[2020-03-25 15:21] #3629 closed, assigned to nobody

[2020-03-25 16:23] #2847 closed, assigned to lucaderi, emanuele-f

[2020-03-25 17:12] lucaderi opened #3630 "Implement Suggest a Feature"
![Screen Shot 2020-03-25 at 18 10 19](https://user-images.githubusercontent.com/4493366/77565122-0f720f00-6ec4-11ea-8293-ca30419597a0.png)

[2020-03-25 19:41] radical-squared opened #3631 "All applications unknown"
Hello

I hope that amidst the coronavirus outbreak, everyone is healthy and safe.

I've set up the 100$/€ NetFlow nProbe with EdgeRouter X. It works very well with ntopng 3.8. However, upon upgrading to ntopng 4.0, the flows are collected, but all applications are marked as unknown.

![ntopng](https://user-images.githubusercontent.com/26088959/77578364-b496e280-6ed8-11ea-8420-5dd0fa3cb69c.png)

Th

[2020-03-25 21:46] simonemainardi commented on #3631
please report the configuration files

[2020-03-26 06:51] radical-squared commented on #3631
ntopng [192.168.1.12] ntopng.conf:
-i=tcp://192.168.1.15:1234
-m=192.168.0.0/16

nProbe v.7.3.160505 [192.168.1.15]:
nprobe --zmq tcp://0.0.0.0:1234 -i br0 -n none

[2020-03-26 08:24] lucaderi commented on #3631
This is a 2016 product that has been discontinued years ago (and for which we offer no maintenance) as Ubiquity has filled up the disk/memory space on their devices making our tool unusable. Please use a raspberry or x86 box instead

[2020-03-26 08:24] #3631 closed, assigned to nobody

[2020-03-26 08:30] radical-squared commented on #3631
EdgeRouter X is used for nProbe only, ntopng runs on x86 box. The setup works perfect with ntopng 3.8. It gets the problems with 4.0 and 4.1.

[2020-03-26 08:30] Yoshihiro-jp opened #3632 "Top Senders and Top Receivers are inactive from "Interface" menu"
I think that this is very minor problem. Kindly refer the attached file.
![top senders and top receivers](https://user-images.githubusercontent.com/58843707/77625264-9e476000-6f86-11ea-82d5-9519d5dddf8e.png)

I am using with v.4.0.200325 of ntopng Enterprise Edition.
From "Interface" → "Graph Icon"(if_stats.lua) → Pull down
As you could see in the attached file the Top senders and Top Receivers ar

[2020-03-26 08:44] emanuele-f commented on #3632
Clicking on other zoom resolutions (e.g. 30m, 1h) should make the menu entry active. I agree that this is not clear from the gui, we should add a label or something to explain why they are disabled.

[2020-03-26 10:08] DGabri opened #3633 "UI suggestion"
I think that all the buttons should have the same colour and be consistent with the ntop style. Blue buttons should be orange and the same goes for the stats line on the top bar chart.

![button1](https://user-images.githubusercontent.com/33870399/77635005-2bbc8d00-6f52-11ea-8485-b0e23c764951.PNG)
![stasts](https://user-images.githubusercontent.com/33870399/77635007-2c552380-6f52-11ea-81aa-1bf40ca

[2020-03-26 10:12] DGabri opened #3634 "Title bar enhancement"
You can't tell which title is selected because of bad color pick.

![Titles](https://user-images.githubusercontent.com/33870399/77635308-a4234e00-6f52-11ea-9b6f-535a4d6f5700.PNG)

[2020-03-26 10:38] emanuele-f opened #3635 "Cannot sort hosts by score"
![2020-03-26_11-38](https://user-images.githubusercontent.com/5488003/77637686-f2821e00-6f4d-11ea-9cc6-4b205058a275.png)

[2020-03-26 13:21] #3595 closed, assigned to emanuele-f

[2020-03-26 13:30] ilmarchetti opened #3636 "DHCP Ranges is not saved"
Hi I'm going to set the various DHCP ranges (Interface -> lightning bolt icon).
I insert them and save.
![dhcp_configured](https://user-images.githubusercontent.com/62704266/77652254-40a71980-6f6e-11ea-8035-4726d429369d.JPG)
When I return to the page they are gone.....
![DHCP_gone](https://user-images.githubusercontent.com/62704266/77652285-48ff5480-6f6e-11ea-93e9-20280cd3f196.JPG)

[2020-03-26 13:50] simonemainardi opened #3637 "Elephant Flows Remote to Local are wrong"
Simones MBP is a local host

<img width="848" alt="image" src="https://user-images.githubusercontent.com/3397663/77654238-17d45380-6f71-11ea-90f7-75b11e99e33a.png">

[2020-03-26 14:00] simonemainardi opened #3638 "Clicking on Change Password has no effect"
Clicking on the element has no effect. Nothing happens.

<img width="255" alt="image" src="https://user-images.githubusercontent.com/3397663/77655270-76e69800-6f72-11ea-86aa-4d0536df2dde.png">

[2020-03-26 14:03] simonemainardi opened #3639 "Bell in the Menu"
Clicking on the bell opens a text which is poorly styled: font is larger than other fonts. Text is also greyed-out and clicking on it has no effect so it basically useless to show it and induce a user to open the bell and click.

<img width="267" alt="image" src="https://user-images.githubusercontent.com/3397663/77655459-b8774300-6f72-11ea-9b9b-402867c83972.png">

[2020-03-26 14:09] simonemainardi opened #3640 "Broken switch from System to non-System inteface and vice versa"
Start from

<img width="303" alt="image" src="https://user-images.githubusercontent.com/3397663/77655989-85817f00-6f73-11ea-92ed-f6c3b8ef2a20.png">

switch to system

<img width="280" alt="image" src="https://user-images.githubusercontent.com/3397663/77656017-8ca88d00-6f73-11ea-97c0-41e98ee7fc89.png">

now, if I open the interface dropdown and click on `en0` I am brought to `lo0` rather than to `e

[2020-03-26 14:09] #3635 closed, assigned to nobody

[2020-03-26 14:42] emanuele-f commented on #3636
Cannot reproduce. After you click save, the configured ranges are properly shown? After the save, what specific steps do you take that make the previously configured ranges disappear? Can you check if the ntopng `Uptime` in the bottom right corner resets (which would indicate a crash)?

[2020-03-26 15:08] gabryon99 commented on #3630
We can add an entry to help submenu inside the sidebar

[2020-03-26 15:17] gabryon99 commented on #3630
<img width="314" alt="Screenshot 2020-03-26 at 16 17 46" src="https://user-images.githubusercontent.com/14114916/77663446-56700b00-6f7d-11ea-9fa7-2fa1016653dc.png">

[2020-03-26 15:41] emanuele-f opened #3641 "DHCP name cache cleanup"
Currently the DHCP names cache is never cleaned. It is requested to make the keys expires after 1 day.

[2020-03-26 15:53] gabryon99 commented on #3640
![ezgif-1-fb3735899aa7](https://user-images.githubusercontent.com/14114916/77666869-c84a5380-6f81-11ea-9f0b-f5b3f440d9f9.gif)

Problem fixed, the swtich won't happening because the form that handles the switch didn't have the interfaced id as paramater.

[2020-03-26 15:55] #3637 closed, assigned to emanuele-f

[2020-03-26 15:57] gabryon99 commented on #3640
fixed in https://github.com/ntop/ntopng/commit/c8465b571744f7bf4a6376e8040668dbc4499f98

[2020-03-26 15:57] #3640 closed, assigned to gabryon99

[2020-03-26 15:57] gabryon99 commented on #3630
implemented in https://github.com/ntop/ntopng/commit/c8465b571744f7bf4a6376e8040668dbc4499f98

[2020-03-26 15:57] #3630 closed, assigned to gabryon99

[2020-03-26 16:08] pikonek opened #3642 "ERROR: unsafe header/library path used in cross-compilation: '-I/usr/local/include'"
Trying to cross compile ntopng using buildroot

BUILD ENVIRONMENT: Ubuntu 18.04
TARGET ENVIRONMENT: RASPBERRY PI

I'm getting an since there is hard coded /usr/local/include

Here is my .mk file

[code]

[2020-03-26 16:22] gabryon99 commented on #3638
Ok fixed the issue in: https://github.com/ntop/ntopng/commit/6d66d9e74475e17cf3a9b3d0ce700ae47a72341f

[2020-03-26 16:22] #3638 closed, assigned to gabryon99

[2020-03-26 16:30] gabryon99 opened #3643 "Errors spammed in dashboard.lua"
In ntopng pro version, the browser console spam the following messages:
<img width="1792" alt="Screenshot 2020-03-26 at 17 30 09" src="https://user-images.githubusercontent.com/14114916/77671131-73114080-6f87-11ea-86e9-75965d0417ee.png">

[2020-03-26 16:45] ilmarchetti commented on #3636
Hello !
I have done other experiments. it seems that the problem occurs when it exceeds 10 lines of value.
if instead I set the display of the rows to 20 I see all the values, if I go back to the display to 10 rows when I insert a new row it cancels the last one on the second page. In addition, if I go to the second page and delete a line, it also cancels all those on the first page.
The NTopng up

[2020-03-26 17:00] emanuele-f commented on #3631
The ZMQ api inside ntopng has changed, you need the new nprobe in order to use the new ntopng, but the new nprobe is not available for the edgerouter for the reasons explained above.

[2020-03-26 17:27] simonemainardi opened #3644 "Hide mac address in alert when zero"
Hide mac address when zero

![image](https://user-images.githubusercontent.com/3397663/77676947-4f51f880-6f8f-11ea-840a-70bdbfff435f.png)

[2020-03-26 17:45] radical-squared commented on #3631
Oh, I understand now. Thank you for explaining that to me. I've now installed ntopng/nprobe on my raspberry. I connected it to my switch and set its port to mirror the uplink. I then connect to ntopng over raspberry's wlan interface. It works fine, but it doesn't show all flows and hosts. What's the right way to do it?

[2020-03-26 19:01] DGabri opened #3645 "Bubble Chart Style"
I think that the bubbles on this chart should be transparent so that the numbers on the axis are more readable
![Host_explorer](https://user-images.githubusercontent.com/33870399/77685937-82e74f80-6f9c-11ea-8b8d-c02364c2fc7a.PNG)

[2020-03-26 19:02] DGabri opened #3646 "Hosts Tree Map"
I think that this tree explorer chart is not well readable in terms of host names
![Hosts_tree_map](https://user-images.githubusercontent.com/33870399/77686112-b9bd6580-6f9c-11ea-9889-7cb65e4c6525.PNG)
 and colors

[2020-03-26 19:04] DGabri opened #3647 "Top Hosts Chart"
This top host chart is not self explanatory and when I go over it with the mouse pointer you can;t see the timeframe very well. I think that over the pointer there should be a vertical line like in financial charts or another sort of identifier.

![Top_host_local](https://user-images.githubusercontent.com/33870399/77686146-c477fa80-6f9c-11ea-8549-0ccc74145c5a.PNG)

[2020-03-26 19:19] tuarego commented on #2220
Hi,
I am trying to fetch some flows from api but without success! I am using v4.1 (enterprise) and already tried with v4.0 but no luck. Always get a empty response [].
curl -s --cookie "user=admin; password=admin" "http://127.0.0.1:3000/lua/pro/rest/get/db/flows.lua?select_clause=*&where_clause=%28IPV4_SRC_ADDR%3D5.188.148.12+OR+IPV4_DST_ADDR%3D588.148.12%29&begin_time_clause=1585248636&end_time_c

[2020-03-26 20:44] lucaderi opened #3648 "Restore ntopng version check"
![image](https://user-images.githubusercontent.com/4493366/77694575-884b9680-6faa-11ea-981e-ef1d49183057.png)

This feature has been removed by mistake and should be restored in both stable and dev versions

[2020-03-27 07:44] orestis46 commented on #3059
Im also having high CPU (>95%) running ntopng version v.3.9.200313 in Raspberry Pi 3 running Stretch 9.11 with LInux kernel 4.19.66-v7+ for my LAN environment.

The problem with high CPU occurs as soon as im opening a browser from anywhere in my LAN network to reach the GUI of ntopng and check the active flows section.

 top - 09:31:04 up 10 days, 10:45,  6 users,  load average: 5.56, 4.54, 2.85
T

[2020-03-27 08:21] simonemainardi opened #3649 "Blog notifications marked as read"
When a user opens the bell, all the new blog notifications are marked as read and ntopng remembers this. However, this seems to be global, meaning when a user A opens the bell, no other ntopng user will see the red badge with the notifications. This must be per-user.

[2020-03-27 08:24] simonemainardi opened #3650 "Blog notification external link"
Icon 'external link' must go to the right

[2020-03-27 08:27] simonemainardi opened #3651 "Blog notification date format"
Date format
![image](https://user-images.githubusercontent.com/3397663/77736616-d0030a00-700c-11ea-9be4-4521b710b81b.png)

Date format is awkward and not human-friendly. See for example the +00:00.

Must the same function and format used to populate datetimepicker forms.

[2020-03-27 08:29] simonemainardi opened #3652 "Blog notification badge"
Red badges as those are used in ntopng to represent danger, issues, and errors.

Must change the red 'New' badge to something else.

![image](https://user-images.githubusercontent.com/3397663/77736878-443dad80-700d-11ea-8f41-8e1539c1b4a8.png)

[2020-03-27 08:32] simonemainardi commented on #3639
opened individual separate issues

[2020-03-27 08:32] #3639 closed, assigned to gabryon99

[2020-03-27 08:42] simonemainardi commented on #3624
- Debian buster support added for dev and stable packages: https://github.com/ntop/packager/commit/6dcd53b534c8e9a18703062ccc151220b5cb3437
- Centos8 temporarily disabled as the Docker img has the rpmdb broken (https://github.com/ansible/awx/issues/6306): https://github.com/ntop/packager/commit/d7fb33cdbc176dc098a4cb8d4324fcc85363665a

[2020-03-27 08:42] #3624 closed, assigned to simonemainardi

[2020-03-27 08:47] simonemainardi commented on #3606
No feedback received. Closing. Reopen if necessary.

[2020-03-27 08:47] #3606 closed, assigned to nobody

[2020-03-27 08:51] emanuele-f commented on #3648
This was removed in 8f652cff71493bb827424c7b3a2b0a1d26f1c16a in favor of the package manager-based update check

[2020-03-27 08:51] simonemainardi commented on #3651
work and make it consistent also with https://github.com/ntop/ntopng/issues/3651
the format must be the very same all across the application

[2020-03-27 08:54] simonemainardi commented on #3370
merged with #3217

[2020-03-27 08:54] #3370 closed, assigned to nobody

[2020-03-27 08:55] #3120 closed, assigned to emanuele-f

[2020-03-27 08:58] emanuele-f commented on #3636
Ok I can reproduce it

[2020-03-27 09:06] simonemainardi opened #3653 "Contextual links to the documentation"
Is is requested to implement a feature which adds an help icon on every page:

- clicking icon must open a modal or something similar:
  - All the NOTES: that are printed on the bottom of the page now should be moved to this modal
  - This modal must have an external link pointing to the right page of the ntopng documentation
- help  depends on the context. Hosts page modal will point to the hosts

[2020-03-27 09:39] #3636 closed, assigned to emanuele-f

[2020-03-27 09:39] emanuele-f commented on #3636
A new package will be available in one hour

[2020-03-27 10:23] klemenska opened #3654 "Ntop restarts after approx. 5min on raspberry pi2"
Hello,

Version: ntopng Professional Edition v.4.1.200324
Arch: ARMhf

Issue:
Ntop restarts after approx. 5min.

Data:
Monitoing just local interface on an raspberry pi2.

log:
Mar 25 20:22:05 rpi2 ntopng[9705]: 25/Mar/2020 20:22:05 [NetworkInterface.cpp:2344] Started packet polling on interface lo [id: 2]...
Mar 25 20:25:03 rpi2 ntopng[9705]: corrupted size vs. prev_size
Mar 25 20:25:04 rpi2 syst

[2020-03-27 10:58] #3648 closed, assigned to emanuele-f

[2020-03-27 11:08] emanuele-f commented on #3643
Please troubleshoot and fix them

[2020-03-27 11:39] emanuele-f opened #3655 "Plugins menu integration not working"
It's now impossible to access the Redis/HTTP monitor from the menu

[2020-03-27 11:48] #3655 closed, assigned to emanuele-f

[2020-03-27 12:06] peer-m opened #3656 "Add the ability to show the active flows between two hosts"
Please reactivate in the ntopng community version the former feature to easily inspect the active traffic between two hosts from the top flow talkers diagram by double click on any bar (as described in Doc 2.1 Dashboard).

[2020-03-27 13:50] emanuele-f commented on #3631
Please open a new issue and report the ntopng and nprobe version and configuration used.
The following links may help:

https://www.ntop.org/nprobe/network-monitoring-101-a-beginners-guide-to-understanding-ntop-tools/
http://www.ntop.org/ntopng/how-to-analyse-mikrotik-traffic-using-ntopng/

[2020-03-27 13:54] emanuele-f commented on #3059
The high cpu load you are reporting is linked to the ntopng gui not to the periodic thread as this original issue. Please open a new issue.

[2020-03-27 13:54] #3059 closed, assigned to emanuele-f

[2020-03-27 13:56] emanuele-f commented on #3656
For reference, the double click community feature was removed in 1dba3343e3a8dd2a403bf4425663a0c7f52582c9  as the page was broken due to api changes.

[2020-03-27 14:24] gabryon99 opened #3657 "The device/network has `nil` connected"
When I'm on Past Alerts I got this
<img width="1440" alt="Screenshot 2020-03-27 at 15 21 50" src="https://user-images.githubusercontent.com/14114916/77765732-f93c8e00-703e-11ea-95f5-6b1db4455c89.png">

[2020-03-27 14:25] gabryon99 commented on #3652
I changed the red color to the primary color (in bootstrap the default is blue)

[2020-03-27 14:25] gabryon99 commented on #3652
Fixed in https://github.com/ntop/ntopng/commit/02fe8513e13de64ac964bbd19d2121236569ce09.

[2020-03-27 14:25] #3652 closed, assigned to gabryon99

[2020-03-27 14:27] gabryon99 commented on #3651
<img width="442" alt="Screenshot 2020-03-27 at 15 26 43" src="https://user-images.githubusercontent.com/14114916/77766013-5f291580-703f-11ea-8d95-779507e67e22.png">

Ok, now I use the locale standard format. Is this ok?

[2020-03-27 14:31] gabryon99 commented on #3645
<img width="442" alt="Screenshot 2020-03-27 at 15 30 49" src="https://user-images.githubusercontent.com/14114916/77766443-f2624b00-703f-11ea-991b-30eea394e855.png">

I add a little bit of transparency (0.45) to the the bubbles

[2020-03-27 14:32] gabryon99 commented on #3645
<img width="442" alt="Screenshot 2020-03-27 at 15 31 56" src="https://user-images.githubusercontent.com/14114916/77766564-19b91800-7040-11ea-817a-038d3aaef76c.png">

This is how it looks like in dark mode

[2020-03-27 14:33] gabryon99 commented on #3645
Implemented in https://github.com/ntop/ntopng/commit/9e07efe00970c511145d9a0faed824a3746e2260.

[2020-03-27 14:33] #3645 closed, assigned to gabryon99

[2020-03-27 14:33] #3468 closed, assigned to emanuele-f

[2020-03-27 14:39] emanuele-f commented on #3649
Moreover it seems like after some time the state of the notification is reset and it shows 3 new posts to read, however no new posts were added.

[2020-03-27 14:51] emanuele-f commented on #3657
Such alerts should never be generated on the system interface, it seems like some other alert has been turned into this alert

[2020-03-27 16:06] emanuele-f opened #3658 "Possible problems with internet explorer"
A user reported the following problems:

![2020-03-27_16-23](https://user-images.githubusercontent.com/5488003/77771696-ed50cc00-703e-11ea-8115-edd5018e4419.png)

IE 11.1039.17763.0 Update 11.0.175

[2020-03-27 16:08] emanuele-f opened #3659 "SNMP alert script failures"
A user reported the following errors

[code]

[2020-03-27 16:21] emanuele-f commented on #3657
The issue is probably caused by a redis clean up, which has broken the alert IDs associations (in fact the entity_value for the alerts above is `admin`, which is most probably linked to a ntopng "login" event being reported on the system interface. The suggested solution is flush the alerts data from the ntopng preferences.

[2020-03-27 16:21] #3657 closed, assigned to emanuele-f

[2020-03-27 16:40] #3659 closed, assigned to nobody

[2020-03-27 17:37] orestis46 opened #3660 "High CPU when accessing ntopng GUI flows section in RPi3"
Im having high CPU (>95%) running ntopng version v.3.9.200313 in a Raspberry Pi 3 running Stretch 9.11 with LInux kernel 4.19.66-v7+ for my LAN environment, under the following condition:

 As soon as im opening a browser from anywhere in my LAN network to reach the GUI of ntopng and check the active flows section, CPU goes high and load rises:

top - **19:15:40** up  9:14,  5 users,  **load avera

[2020-03-27 17:57] simonemainardi commented on #3651
ok

[2020-03-27 18:26] ahkok opened #3661 "4.0.0? tag/releases?"
According to my running ntopng, I should update to 4.0.0, but this repository has no 4.0.0 tags, nor is there a release for 4.0.0. I can see a branch, but it is anything but stable, with 50+ commits in 2 days.

Maybe not advertise new versions to running clients that are not obtainable yet. Sites like `repology` show that nobody has 4.0.0 packaged yet.

Either that, or please push a 4.0.0 tag and

[2020-03-27 21:51] tuarego commented on #3661
http://packages.ntop.org/

[2020-03-27 22:27] ahkok commented on #3661
I am packaging for ClearLinux. That link has zero value to me. It doesn't list source releases.

[2020-03-27 23:15] radical-squared opened #3662 "ntopng not starting upon upgrade"
Upon upgrading to version 4.1.200327-9593 on Raspberry Pi, ntopng fails to start with the following error messages:

root@raspberrypi:~# systemctl start ntopng
root@raspberrypi:~# systemctl status ntopng
● ntopng.service - ntopng high-speed web-based traffic monitoring and analysis tool
   Loaded: loaded (/etc/systemd/system/ntopng.service; enabled; vendor preset: enabled)
   Active: activating (a

[2020-03-28 09:37] jacotec opened #3663 "Plugins not loaded when a directory is specified with -d"
After upgrading to 4.0.200327 (Enterprise Edition) I'm periodically getting multiple errors:

`28/Mar/2020 10:31:44 [system_stats.lua:109] [ts_utils_core.lua:692] ERROR: Schema not found: process:num_alerts
28/Mar/2020 10:31:44 [system_stats.lua:104] [ts_utils_core.lua:692] ERROR: Schema not found: process:resident_memory
28/Mar/2020 10:31:42 [LuaEngine.cpp:12141] WARNING: Script failure [/usr/sha

[2020-03-28 09:47] jacotec commented on #3663
In "Flows" I'm just getting the error:

SyntaxError: JSON Parse error: Unexpected identifier "HTTP"

It seems that update has completely screwed my installation ...

[2020-03-28 10:17] #3662 closed, assigned to nobody

[2020-03-28 10:27] radical-squared commented on #3662
After reinstalling RPi ntopng started fine.

[2020-03-28 12:27] HaleyACS opened #3664 "ntopng-utils-manage-updates - create Warning message through cron"
Getting this EMail from Cron recently.
[code]
Note - this comes from ntopng installation and automated updates I have in place.
And I didn't find that exact issue.

Target system is Ubuntu 18.04.4 LTS (GNU/Linux 4.15.0-88-generic x86_64) - Server edition stripped down to the bare minimum.

[2020-03-28 20:47] war59312 commented on #3606
Seems corrected with:

[code]

[2020-03-29 16:46] DGabri opened #3665 "License Menu Entry"
Add a section on the sidebar regarding license activation and version number. Divide it from the help section because it isn't intuitive as of now

[2020-03-29 18:11] jacotec commented on #3663
Restored a 3.8 backup and did the upgrade again, just in case something went wrong - exactly the same issue.

There was a 4.0 version before 200327, which was working fine. 200327 definitely introduced that bug, all flows displays are not working due to the issue. JSON parse error.

Is there any way to go back to that 4.0 version before 200327? I can't find it and I really want to be able to check

[2020-03-30 06:48] lucaderi commented on #3661
I have waited a few days for cutting the release s we have consolidated a few issues. I have now cut the release https://github.com/ntop/ntopng/releases/tag/4.0 that I think you should use for your work. Ww will periodically push fixes to the 4.0-stable release whenever we find major issues to be fixed.

[2020-03-30 06:48] #3661 closed, assigned to nobody

[2020-03-30 07:05] emanuele-f commented on #3663
Please post the full ntopng log since startup. You can easily do this with:

1. `sudo systemctl stop ntopng`
2. `sudo ntopng /etc/ntopng/ntopng.conf`

[2020-03-30 07:09] emanuele-f commented on #3664
Have you set up the ntopng repository as explained in http://packages.ntop.org ? Maybe you have manually installed the .deb file?

[2020-03-30 07:28] jacotec commented on #3663
@emanuele-f
Here's the log. Started as mentioned in your post, accessed the flow page (This time: "SyntaxError: Unexpected token H in JSON at position 0"), then shut down again.

License and public IP anonymized.

Let me know if I should debug more!

30/Mar/2020 09:20:28 [Prefs.cpp:939] ERROR: -S deprecated, sticky hosts no longer supported. Configure remote and local hosts idle timeouts from the

[2020-03-30 08:11] HaleyACS commented on #3664
I have installed ntopng as instructed. Over time, ntopng was updated (have an automatic updater in my system/firewall - script based) regularly. I didn't touch any of these functions.
So - that function has to have come in through one of the updates.
I have that message showing up for around 2 to 3 weeks now. And I didn't touch my firewall bsae configuration since I installed it.

[2020-03-30 08:52] gabryon99 commented on #3651
fixed in https://github.com/ntop/ntopng/commit/02fe8513e13de64ac964bbd19d2121236569ce09

[2020-03-30 08:52] #3651 closed, assigned to gabryon99

[2020-03-30 08:54] gabryon99 commented on #3649
I fixed this in https://github.com/ntop/ntopng/commit/e486d050582d3a147100670ba0694a240da85793. Now there is to save the read notification in redis as we discussed.

[2020-03-30 09:03] gabryon99 commented on #3650
Fixed int https://github.com/ntop/ntopng/commit/bb835075266369316929887430d9a9a9d0657906

[2020-03-30 09:03] #3650 closed, assigned to gabryon99

[2020-03-30 09:03] cardigliano commented on #3664
@HaleyACS, I guess you are using stable packages (v.4.0), I pushed a patch that should fix this, a new build will be available in ~1h, please update and let us know if you still get those warnings. Thank you.

[2020-03-30 09:25] emanuele-f commented on #3663
What is the output of `find /storage/ntopng/plugins0`?

[2020-03-30 09:39] emanuele-f commented on #3649
Please note that if I click with the middle mouse button on the notification (to open it into a new tab) the notification is not marked as read

[2020-03-30 09:42] jacotec commented on #3663
@emanuele-f

[2020-03-30 09:43] gabryon99 commented on #3622
**Playing State**
This is when playing:

![Screenshot 2020-03-30 at 11 39 58](https://user-images.githubusercontent.com/14114916/77898381-56bd1e80-727b-11ea-9396-2788654fd78d.png)

**Stopped State**
This is when stopped:

![Screenshot 2020-03-30 at 11 40 07](https://user-images.githubusercontent.com/14114916/77898398-5b81d280-727b-11ea-8456-cfe9315fab9d.png)

[2020-03-30 09:44] emanuele-f commented on #3663
What about `ls /storage/ntopng`?

[2020-03-30 09:44] gabryon99 commented on #3622
Fixed in https://github.com/ntop/ntopng/commit/953c6cd40fe4c4734610b125de617baef09f9eb4

[2020-03-30 09:44] #3622 closed, assigned to gabryon99

[2020-03-30 09:46] jacotec commented on #3663
@emanuele-f  Already added above :)

[2020-03-30 09:59] emanuele-f commented on #3663
The new stable package will be available in one hour. Please update and let me know if this works for you

[2020-03-30 09:59] jacotec commented on #3663
Excellent, will do!

[2020-03-30 10:12] HaleyACS commented on #3664
This are the exact versions that are installed currently.

- ii  apt-ntop-stable                       2.8-2                                           all          ntop stable apt package repository
- ii  ntopng                                4.0.200327-9598                                 amd64        Web-based traffic monitoring.
- ii  ntopng-data                           4.0.200327

[2020-03-30 10:26] cardigliano commented on #3664
Please note that you should update to ntopng 4.0.200330-9617 to get the updates fix.
As of the errors you reported, it seems the package is temporary using /tmp to handle configuration files changes, it should be safe to allow that

[2020-03-30 10:31] jacotec commented on #3663
@emanuele-f
Version 4.0.200330 is online but unfortunately does not fix it. Same behavior as before, /storage/ntopng/plugins0 is still not there, same JSON error message in Flows.

[2020-03-30 11:02] lucaderi opened #3666 "Missing search box in System Interface"
In the 3.x series it was possible to search a host give its mac address. This is useful in particular for searching hosts during SNMP exploration.

![Screen Shot 2020-03-30 at 13 00 36](https://user-images.githubusercontent.com/4493366/77905405-7b6ac380-7286-11ea-8803-bf9ca062d5a5.png)

Unfortunately the search box it is not present under the system interface. It is requested to restore the search

[2020-03-30 11:02] jacotec commented on #3663
@emanuele-f
Another new version 4.0.200330-9625, now it's fixed and my flows are back again! Thanks a ton for the express fix! :-)

[2020-03-30 11:02] #3663 closed, assigned to emanuele-f

[2020-03-30 11:03] lucaderi opened #3667 "Search box cuts long labels"
![Screen Shot 2020-03-30 at 13 00 36](https://user-images.githubusercontent.com/4493366/77905547-b967e780-7286-11ea-92bc-68e43c38cb5f.png)

[2020-03-30 11:10] lucaderi opened #3668 "SNMP home click has no effect"
![Screen_Shot_2020-03-30_at_13_06_28](https://user-images.githubusercontent.com/4493366/77906180-cfc27300-7287-11ea-8f87-ff1d3c0c63d4.png)

Clicking on the box (or on the home) inside a SNMP network interface does not lead back to the list of ports of the switch (or anywhere else)

[2020-03-30 11:53] HaleyACS commented on #3664
Not on a secured system connected to the internet, no. I can disable this temporarily. But a configuration file change should not be allowed (as in this case) during an upgrade process without the user/admin knowing it. And in my case, the intended outcome (me seeing this) happened.

[2020-03-30 11:56] jasonamorrow opened #3669 "Error when trying to display flows"
I'm receiving the error "SyntaxError: Unexpected token H in JSON at position 0" when I try to view flows via /lua/flows_stats.lua on ntopng Community Edition v.4.1.200327. This is running on Raspbian Buster.

Errors in the system trace log:
30/Mar/2020 07:48:43 [system_stats.lua:104] [ts_utils_core.lua:596] ERROR: Schema not found: process:resident_memory
30/Mar/2020 07:47:15 [LuaEngine.cpp:12687]

[2020-03-30 12:00] gabryon99 commented on #3667
Now dropdown is aligned to the right. Be sure to reload the cache. FIxed in https://github.com/ntop/ntopng/commit/72cefbd9c99f060d432c93d1ab5c409788553958

[2020-03-30 12:00] #3667 closed, assigned to gabryon99

[2020-03-30 12:14] emanuele-f commented on #3669
This should be a duplicate of #3663 , the new raspbian package will be available in one hour.

[2020-03-30 12:14] #3669 closed, assigned to nobody

[2020-03-30 12:23] notpixxl opened #3670 "Too many subinterfaces defined"
Hi,
Since my last update my probes seems down, everything is ok when i restart ntopng and nprobe services, but after several minutes traffic on all interfaces goes to 0.
I configured my local interface to Disaggregate traffic by Probe IP, adn got something like 50 subinterfaces.

In ntopng.log got the Warning message :
30/Mar/2020 14:05:55 [NetworkInterface.cpp:1067] WARNING: Too many subinterface

[2020-03-30 12:41] StewAlexander-com opened #3671 "Dark mode not displaying message titles well"
Messages in dark mode on my Windows 10 Chrome browser not very legible:

![image](https://user-images.githubusercontent.com/48565067/77913164-c9210500-7261-11ea-93c6-a44a4516963d.png)

[2020-03-30 12:44] StewAlexander-com opened #3672 "Our license seems to have "disapeared""
![image](https://user-images.githubusercontent.com/48565067/77913571-7bf16300-7262-11ea-9839-a11002b5d816.png)

We are a community college, and we had a license until the upgrade, do we need to get a new one? If not how do we activate the old one?

[2020-03-30 12:49] simonemainardi commented on #3670
The maximum number of sub-interfaces which can be defined per interface is 32. This limit is imposed for performance.

It would be desirable if you could spawn 2 nprobe instances, each one receiving traffic from 25 exporters. Then, each nprobe instance can be connected to ntopng on a separate -i. This will allow you to have still 50 interfaces but more evenly balanced across cores.

[2020-03-30 12:51] lucaderi commented on #3627
Please provide the URL of the page that contains this box

[2020-03-30 12:51] simonemainardi commented on #3672
License could have been expired.  Licensing is described at https://www.ntop.org/support/faq/are-licenses-permanent-what-about-maintenance/

If you are eligible for free edu licenses you can ask at mallegro@ntop.org

[2020-03-30 12:51] #3672 closed, assigned to nobody

[2020-03-30 12:52] simonemainardi commented on #3672
by the way, looking at the ntopng logs will tell you the reason why the license no longer unlocks the software.

[2020-03-30 13:01] notpixxl commented on #3670
Thanks for the advice i'll give it a try !
This limit is implemented with new version 4.0 ? Everything was fine before the upgrade ?

[2020-03-30 13:11] simonemainardi commented on #3670
Before 4.0 there was just a hard limit at 128 interfaces, but was not that good for performance. please report.

[2020-03-30 13:37] notpixxl commented on #3670
Seems i've got another problem my nprobe licence is not valid for unknown reason ... so exported flows limited to 25000 that's why my probes crash after several times. I'll check that and report once my licence is ok.

[2020-03-30 14:18] lucaderi commented on #3621
Please make an example of what this box should contain

[2020-03-30 14:19] gabryon99 commented on #3628
What is the page?

[2020-03-30 14:27] #3646 closed, assigned to lucaderi

[2020-03-30 14:36] #3647 closed, assigned to lucaderi

[2020-03-30 14:37] lucaderi commented on #3647
A note has been added to the end of the page to report what is displayed. In the future this page will be discontinued and needs to be replaces with a more comprehensive page as you also requested.

[2020-03-30 14:45] samuelesabella opened #3673 "Attempt to call a nil value"
Hello, I'm using ntopng (v.4.1.200330) and I got the following error while trying to access ntopng web GUI.
[code]
![Screenshot 2020-03-30 at 16 38 01](https://user-images.githubusercontent.com/18717354/77925714-7ec17780-72a5-11ea-8c94-0f176584770e.png)

[2020-03-30 15:18] #3671 closed, assigned to gabryon99

[2020-03-30 15:33] Ponce opened #3674 "error: invalid conversion from ‘int’ to ‘char*’"
slackware64-current, gcc-9.3
trying to build ntopng-4.0 with patches from 4.0-stable (up to c224681), nDPI 3.2 in a subfolder (built with "./autogen.sh ; make")

https://github.com/ntop/ntopng/blob/c2246815bd45193412a29ab9a6d779fae8a3b133/src/Flow.cpp#L3515
[code]

[2020-03-30 15:58] gabryon99 commented on #3643
Fixed, the problem was caused by a variable which contained the undefined value.

[2020-03-30 15:58] #3643 closed, assigned to gabryon99

[2020-03-30 16:15] simonemainardi commented on #3674
did you update nDPI?

[2020-03-30 16:15] simonemainardi commented on #3670
reason why license is invalid is printed during ntopng startup. please check the logs.

[2020-03-30 18:41] Ponce commented on #3674
that was it, @simonemainardi , thanks!
updating nDPI-3.2 with the patches from 3.2-stable (up to cd4f805) let the build end successfully.

[2020-03-30 18:41] #3674 closed, assigned to nobody

[2020-03-30 19:06] ahkok commented on #3661
Thanks, it's not happy either building against ndpi 3.0 or 3.2, though. Several invalid conversions in `src/Flow.cpp` ...

[2020-03-30 20:23] sonic42 opened #3675 "Cannot complie new ntopng 4.0 with GCC 9.3 and GLIBC 2.31"
LOG:
g++ -g -Wall -I/usr/src/ntopng-4.0 -I/usr/src/ntopng-4.0/include -I/usr/local/include -D_FILE_OFFSET_BITS=64 -I/usr/local/include/hiredis -I/usr/include/hiredis -I/usr/src/ntopng-4.0/third-party/mongoose -I/usr/include/json-c  -I../nDPI/src/include -I../nDPI/src/lib/third_party/include -I/usr/src/ntopng-4.0/third-party/lua-5.3.5/src   -I/usr/include/mysql -I/usr/include/mysql/mysql  -I/usr/sr

[2020-03-30 22:34] Raptime commented on #3429
Hello,
I know this is closed but how are you supposed to get the same information as before? The old graph was showing the top 8 protocols for an interface, using influxdb I cant seem to figure out how to limit the display to the top 8, it shows all protocols which makes the graph difficult to read.

[2020-03-30 22:41] Raptime opened #3676 "Ntop grafana plugin vs influxdb"
Hello,
I know the plugin has been discontinued but I can't seem to get the same information displayed in grafana:
The plugin showed the top 8 protocols for an interface, very convenient. Using influxdb there is no way, as far as I know (please correct me if I'm wrong), to display the top 8 in the same way. The closest I've gotten is to show all protocols for an interface which makes the graph diff

[2020-03-31 04:07] orestis46 commented on #3660
Just upgraded to version v.4.1.200330, but the behaviour is exactly the same (ntopng keeps running and hogging the cpu).

(Active flows open in GUI):

top - **07:00:35** up 3 days, 19:59,  5 users,  **load average: 10.14, 5.22, 2.82**
Threads:  41 total,   6 running,  35 sleeping,   0 stopped,   0 zombie
**%Cpu0  : 95.7 us**,  3.0 sy,  0.0 ni,  0.7 id,  0.0 wa,  0.0 hi,  0.7 si,  0.0 st
**%Cpu1  :

[2020-03-31 07:38] emanuele-f commented on #3660
The problem is probably related to the fact that each row in the table is updated separately in his own ajax request.

[2020-03-31 07:39] emanuele-f commented on #3673
Please recompile ntopng and it will work

[2020-03-31 07:43] emanuele-f commented on #3676
With InfluxDB you can also do this. Ntopng pro already prints the top protocols, so you can use the query performed by ntopng. You can print the ntopng queries by following the instructions at https://github.com/ntop/ntopng/blob/dev/doc/README.beta_features#L22

[2020-03-31 07:43] #3676 closed, assigned to nobody

[2020-03-31 07:48] HaleyACS commented on #3664
OK. Works. You can close that one.
Question however is: Can I disable that functionality?
My system does a nightly upgrade anyway - this is a double-tap in that sense that it will go through the upgrade process twice, and yours will not have the /tmp reset temporarily on "exec" mode.

[2020-03-31 08:01] emanuele-f commented on #3673
Can you check the output of the following commands?

[code]

[2020-03-31 08:10] samuelesabella commented on #3673
Yesterday, after restarting it ntopng, everything was back to normal.
[code]

[2020-03-31 08:21] emanuele-f commented on #3673
I suspect that the symbolic link may cause troubles, but for now let's close this.

[2020-03-31 08:21] #3673 closed, assigned to nobody

[2020-03-31 10:08] lucaderi commented on #3675
You need to update nDPI first and it will work

[2020-03-31 10:08] #3675 closed, assigned to nobody

[2020-03-31 10:09] emanuele-f opened #3677 "MDNS / Netbios names mixed with host labels"
Host labels should only be set by the user, not by ntopng. However function `Host::set_host_label` sets this information for MDNS names and Netbios names. This produces the following side effects:

- MDNS/Netbios names are kept indefinitely (see #3641 for a similar problem on DHCP)
- The host search box does not work properly in case of DHCP because it may return an old IP address for the host

[2020-03-31 10:09] lucaderi commented on #3618
In other words each test (icmp, icmp6...) should be a plugin

[2020-03-31 10:13] lucaderi opened #3678 "Implement bandwidth monitoring plugin"
The RTT framework should be extended to measure additional metrics. The first one is to monitor the available bandwidth making periodic measurements either with iperf or with solutions like
- https://github.com/sindresorhus/fast-cli
- https://github.com/sindresorhus/speed-test
- https://www.speedtest.net/apps/cli

See also #3618 as dependency

[2020-03-31 10:18] lucaderi opened #3679 "Make RTT measurements configurable"
The RTT component needs to be extended as #3618 and #3678. A quick change is to add an extra preference where we set the measurement frequency to
- minute
- 5 minute
- hour
- day

This is because some tests might be time and and bandwidth consuming and thus they should not be executed every minute.

[2020-03-31 12:42] emanuele-f opened #3680 "Use system wide proxy settings"
In order to allow `libcurl` to use the system proxy settings, it is necessary to add the following line under the `[Service]` section of the systemd unit file:

[code]

This is explained in https://github.com/coreos/bugs/issues/1507#issuecomment-239353353

[2020-03-31 13:58] sonic42 commented on #3675
The error comes with nDPI 3.2. A newer version i can't found.

[2020-03-31 20:13] HH62 opened #3681 "database disk image is malformed"
Hi,

after a crash, I had to recreate the mysql database 'ntopng'.
Ntopng professional edition 4.1.200331 (9651) is running.

Now, I find every minute the following in the log file:

Mar 31 22:10:01 ubuntu-server-ntopng ntopng: [StoreManager.cpp:120] ERROR: SQL Error: [11][database disk image is malformed (11)]
Mar 31 22:10:01 ubuntu-server-ntopng ntopng[4217]: 31/Mar/2020 22:10:01 [StoreManager.c

[2020-03-31 20:59] #3615 closed, assigned to gabryon99

[2020-03-31 21:04] Raptime commented on #3676
I looked at the queries and it seems like you are doing some processing in report.lua between queries in order to generate the graphs, which is something that can't be done in grafana (as far as I know).

[2020-03-31 21:09] #3625 closed, assigned to gabryon99

[2020-03-31 23:31] vidgizmo commented on #2330
I am also using a mirrored configuration.

Is there any way to get the chart at the top (or any other chart) to show the separate aggregate totals for local-2-remote (what we think of as upload) and remote-2-local (what we think of as download). My typical scenario (home use) is that my videoconferencing system starts displaying transmit packet loss (local-2-remote) and I want to quickly look at t

[2020-03-31 23:37] vidgizmo commented on #2330
Maybe I found it...?
Hosts -> Networks -> Click on Chart next to my local network... and I get "Bytes_Egress" and "Bytes_Ingress" :)  Looks like this will do the trick :)

[2020-04-01 06:31] DGabri commented on #3627
/lua/pro/admin/edit_profiles.lua

[2020-04-01 06:34] DGabri commented on #3628
/?ifid=2&page=TopHosts

[2020-04-01 06:59] lucaderi commented on #3649
I believe the current behaviour is good. Let's move to the next ticket

[2020-04-01 06:59] #3649 closed, assigned to gabryon99

[2020-04-01 07:00] lucaderi commented on #3644
@simonemainardi  this is a ticket for you @emanuele-f

[2020-04-01 07:02] #3437 closed, assigned to gabryon99

[2020-04-01 07:06] lucaderi commented on #3621
@gabryon99 Please choose a unique color for multicast so that it is not confused with remote. Each label should have a a different color as in github labels for instance (i.e. the same color cannot be shared by two different labels)

[2020-04-01 07:10] lucaderi commented on #3668
Fixed thanks

[2020-04-01 07:10] #3668 closed, assigned to gabryon99

[2020-04-01 07:25] emanuele-f commented on #3676
The InfluxDB query generate raw points, that grafana shows. By using the same query that ntopng uses you should be able to get the same data visualization.

[2020-04-01 07:28] simonemainardi commented on #3681
This is the sqlite database which is corruped. Disk failure? Let's try and re-create it. Stop ntopng, go into the ntopng data directory, and do the following:

[code]

Then, restart ntopng.

[2020-04-01 07:43] simonemainardi opened #3682 "Notification badge no longer disappears"
The red badge with 3 always stays there. no matter if I open/close and how many times I do it.

![image](https://user-images.githubusercontent.com/3397663/78111531-1685a980-73fd-11ea-93fe-7681c20d368c.png)

![image](https://user-images.githubusercontent.com/3397663/78111596-31f0b480-73fd-11ea-9f68-b2f88b4a79d8.png)

[2020-04-01 07:44] simonemainardi commented on #3653
@gabryon99 any news?

[2020-04-01 07:47] simonemainardi commented on #3682
Number decreases only when clicking on the link.

Note clicking 'open in a new tab' does not affect the counter.

[2020-04-01 07:58] lucaderi commented on #3682
This is the correct behaviour

[2020-04-01 07:58] #3682 closed, assigned to gabryon99

[2020-04-01 08:01] lucaderi opened #3683 "Export TCP stats in ELK"
TCP stats (OOO, retransmissions...) are not populated by Flow::flow2json() hence are not exported to ELK. Please add this information

[2020-04-01 12:35] simonemainardi opened #3684 "Notifications counter broken"
three new articles

![image](https://user-images.githubusercontent.com/3397663/78137547-cff87500-7425-11ea-816c-907733c27f00.png)

click on the first article, counter goes to two

![image](https://user-images.githubusercontent.com/3397663/78137587-e3a3db80-7425-11ea-8cbd-2b46abd43e52.png)

closing and reopening the browser tab (firefox) resets the counter to three

![image](https://user-images.git

[2020-04-01 12:43] danisraelkc opened #3685 "Can not login"
Installed on clean pfSense install, and unable to login to webdialog.  It comes up, enter default for both and just clears the form.  Reset password as well and did not work.  I do already have a Firewall user of admin ... but not sure why this isn't working.

[2020-04-01 14:09] gabryon99 commented on #3684
Do your browser clean the local storage during the closing?

[2020-04-01 14:09] emanuele-f commented on #3685
Which ntopng version are you using? Please check out https://www.ntop.org/guides/ntopng/faq.html#cannot-login-into-the-gui . Can you explain the steps that you are taking to reset the password? Please note that we do not officially support pfsense so consider asking questions on the pfsense forums

[2020-04-01 14:53] oliwirth opened #3686 "SNMP monitoring stopped working after upgrading ntopng from 3.8 to 4.0"
When using ntopng 3.8 on debian stretch from apt-stable.ntop.org I could successfully monitor a number of devices via SNMP v??? (see the attached screenshots).

After the upgrade to ntopng 4.0 the SNMP monitoring now errors with:

[code]

However, running a simple `snmpwalk -v2c -c xxx 10.0.0.1` from the command line on the same host succeeds within a few seconds.

I would appreciate any advice on

[2020-04-01 14:57] simonemainardi commented on #3684
I just close and reopen a FF tab, not the whole application. I don't touch anything apart from closing the tab.

[2020-04-01 15:04] jame687 opened #3687 "ZC virtualization network card capture failure"
ntopng --capture-direction 1 -i zc:enp2s0f1@0 -i zc:enp2s0f1@1 -i zc:enp2s0f1@2 -i zc:enp2s0f1@3 -i view:zc:enp2s0f1@0,zc:enp2s0f1@1,zc:enp2s0f1@2,zc:enp2s0f1@3

31/Mar/2020 18:40:03 [Ntop.cpp:2232] Setting local networks to 127.0.0.0/8

31/Mar/2020 18:40:03 [Redis.cpp:157] Successfully connected to redis 127.0.0.1:6                       379@0

31/Mar/2020 18:40:03 [Redis.cpp:157] Successfully co

[2020-04-01 15:11] cardigliano commented on #3687
@jame687 did you check if you are able to reproduce the same error without zc? (why are you specifying that this is related to ZC?)

[2020-04-01 15:24] emanuele-f commented on #3686
What is the output of `ntopng --version`? Can you click on the yellow triangle in the top bar and send here a screenshot of the page that opens?

[2020-04-01 15:30] lucaderi commented on #3633
@DGabri Do you mean dark mode orange buttons, light mode blue buttons?

[2020-04-01 15:40] gabryon99 commented on #3621
<img width="1134" alt="Screenshot 2020-04-01 at 17 40 30" src="https://user-images.githubusercontent.com/14114916/78157118-e3b0d500-743f-11ea-83ec-83ce53b36b63.png">

Is this ok?

[2020-04-01 15:42] #3621 closed, assigned to gabryon99

[2020-04-01 16:02] #3628 closed, assigned to gabryon99

[2020-04-01 16:21] oliwirth commented on #3686
v.4.0.200326    [Enterprise/Professional build]
GIT rev:        4.0-stable:4ed0491edfbd0d8bb1e49fbb26883fd8a3e32843:20200326
Pro rev:        r2798
Built on:       Debian GNU/Linux 9.12 (stretch)
System Id:      1C03091100000749
Platform:       x86_64
Edition:        Enterprise
License Type:   Permanent
Maintenance:    Until Sat Jan 23 17:13:10 2021 [296 days left]
License:        bWnSIU1jDA/gGhcKB

[2020-04-01 16:29] samuelesabella commented on #3605
Hello. I'm running the same configuration with ntopng v.4.1.200330. I have found another problem while trying to visualize time series data. Thank you.
![Screenshot 2020-04-01 at 18 25 45](https://user-images.githubusercontent.com/18717354/78161917-6fc5fb00-7446-11ea-9769-9498223ce40c.png)

[2020-04-01 16:32] #3633 closed, assigned to gabryon99

[2020-04-01 17:06] Raptime commented on #3676
I can't use the same query:
As far as I can tell you are using multiple queries to generate the graph in ntopng, one query to determine what the top protocols are and, based on that, specific queries to get the data points for each protocols. As far as I know this can't be done in grafana: I can't run a query based on the results of a previous query.

[2020-04-01 17:26] simonemainardi opened #3688 "Interface switch broken for non-admin users"
Being logged as a non admin user, prevents any interface switch. If the ui is on `eno1`, no other interface is selectable.

![image](https://user-images.githubusercontent.com/3397663/78167348-9f790100-744e-11ea-9cf4-85cf23f1a278.png)

[2020-04-01 21:12] danisraelkc commented on #3685
Using "ntopng v 0.8.13_3" on pfSense 2.4.5.   Tried on Chrome, Safari, Edge, and IE11.  No luck.  All do the same thing.  I get the "Welcome to ntopng" login dialog.  I enter admin/admin, then when i click login, it clears my entries.

Run both password and preference reset from the shell of pfsense.

[2020-04-02 06:03] jame687 commented on #3687
Hello

If I don't use virtualization, the packet capture function will become normal, but using reset will report an error.

[root@localhost ~]# ntopng -i enp2s0f1
02/Apr/2020 13:51:59 [Ntop.cpp:2232] Setting local networks to 127.0.0.0/8
02/Apr/2020 13:51:59 [Redis.cpp:157] Successfully connected to redis 127.0.0.1:6379@0
02/Apr/2020 13:51:59 [Redis.cpp:157] Successfully connected to redis 127.0.

[2020-04-02 06:25] #3688 closed, assigned to nobody

[2020-04-02 07:43] HH62 commented on #3681
This helped. The error message disappeared.
Tanks a lot.

[2020-04-02 07:45] #3681 closed, assigned to simonemainardi

[2020-04-02 07:49] emanuele-f commented on #3676
Please check out https://community.grafana.com/t/how-to-use-influxdb-subqueries-in-grafana/195 . It seems like you can use them in "raw mode"

[2020-04-02 07:52] emanuele-f commented on #3687
It seems like ntopng does not have the permissions on the directories, please check out https://www.ntop.org/guides/ntopng/faq.html#permission-denied-errors

[2020-04-02 07:54] emanuele-f commented on #3685
The default credentials are admin:admin in ntopng but you are using a third party integration, please contact the pfsense support.

[2020-04-02 07:54] #3685 closed, assigned to nobody

[2020-04-02 08:02] simonemainardi opened #3689 "VLANs show unexpected token"
![image](https://user-images.githubusercontent.com/3397663/78224566-10f59580-74c9-11ea-8c91-5f1dd293fa9b.png)

[2020-04-02 08:11] #3689 closed, assigned to simonemainardi

[2020-04-02 08:18] jame687 commented on #3687
@emanuele-f

Hello,
I will try to see. Mainly, if you cannot capture packets with virtualization, does virtualization support packet capture? Thank you

[2020-04-02 08:18] jame687 commented on #3687
@cardigliano

Hello

If I don't use virtualization, the packet capture function will become normal,

does virtualization support packet capture? Thank you

[2020-04-02 08:20] simonemainardi commented on #3686
please, go to preferences, SNMP, enable the debug, let it run for 15 minutes, and report the output:

![image](https://user-images.githubusercontent.com/3397663/78226118-882c2900-74cb-11ea-9139-59b798a78b8b.png)

[2020-04-02 08:26] #3605 closed, assigned to emanuele-f

[2020-04-02 08:27] cardigliano commented on #3687
What virtualization environment are you using? Packet capture should work in virtualized environments as well.

[2020-04-02 08:30] jame687 commented on #3687
@cardigliano  I did not use a virtualized environment. I am a centos7.7 server, but my overlapping traffic is very large, and I must use a ZC virtualized network card. Using ZC virtual network card to run ntopng, it will catch packet error

[2020-04-02 08:33] cardigliano commented on #3687
Please rephrase explaining in detail the involved configurations/technologies. (e.g. what do you mean with "ZC virtualized network card"?)

[2020-04-02 08:40] jame687 commented on #3687
Now it feels like you didn't understand me.
I use ”ntopng -i enp2s0f1“ to start ntong, which can capture packets normally.
But using command ”ntopng --capture-direction 1 -i zc: enp2s0f1 @ 0 -i zc: enp2s0f1 @ 1 -i zc: enp2s0f1 @ 2 -i zc: enp2s0f1 @ 3 -i view: zc: enp2s0f1 @ 0, zc: enp2s0f1 @ 1, zc: enp2s0f1 @ 2, zc: enp2s0f1 @ 3, start ntopng“
it will still prompt 16:32:18 [Host.cpp: 1045] WARNING

[2020-04-02 08:49] cardigliano commented on #3687
Please fix your command line:
ntopng -i zc:enp2s0f1@0 -i zc:enp2s0f1@1 -i zc:enp2s0f1@2 -i zc:enp2s0f1@3 -i view:zc:enp2s0f1@0,zc:enp2s0f1@1,zc:enp2s0f1@2,zc:enp2s0f1@3
As of the error, as @emanuele-f  said please check the permissions (those errors are not directly related to packet capture)

[2020-04-02 08:54] jame687 commented on #3687
Hello
The command I use is ntopng -i ntopng -i zc:enp2s0f1@0 -i zc:enp2s0f1@1 -i zc:enp2s0f1@2 -i zc:enp2s0f1@3 -i view:zc:enp2s0f1@0,zc:enp2s0f1@1,zc:enp2s0f1@2,zc:enp2s0f1@3
You can see the log output above

emanuele-f said that the problem encountered by ntopng -i enp2s0f1, I have solved it according to his method

Now it was the previous problem and it was not solved

02/Apr/2020 16:53:27 [Hos

[2020-04-02 09:14] cardigliano commented on #3687
@jame687 ok so you fixed the permission issue, great. Let us investigate on this "invalid counter value" error. (please note this is also not directly related to ZC itself)

[2020-04-02 09:16] cardigliano commented on #3687
Could you try removing the view interface, to see if you are still able to reproduce the same error?

[2020-04-02 09:33] oliwirth commented on #3686
#### exept a lot of `[Blacklisted Flow]` I receive this:
(same output attached as a file [ntopng_snmp_log.txt](https://github.com/ntop/ntopng/files/4420094/ntopng_snmp_log.txt))

Apr  2 11:01:31 nlxowirthstretch ntopng[24823]: 02/Apr/2020 11:01:31 [5min.lua:10] [snmp_device.lua:46] cache_bridge executed in 30 secs [host: 10.10.29.40]
Apr  2 11:01:31 nlxowirthstretch ntopng[24823]: 02/Apr/2020 11:0

[2020-04-02 09:39] jame687 commented on #3687
After removing the view interface, there is no "invalid counter value" error.
But opening ntop URL from browser will prompt
HTTP / 1.1 500 internal server error content type: text / html connection: close script "/usr/share/ntopng/scripts/lua/index.lua" returned error:
/var/lib/ntopng/plugins0/ts_schemas/score/min.lua:1: Unexpected symbol near '<\ 135>'

There are also hints in the server

02 / Ap

[2020-04-02 09:41] Guymtrx opened #3690 "mange user- change allowed interface"
Hi
I tried to change allowed interface for exist user from any interface to specific interface.
after I click "Change user preferences" it's not save my selection and go back to any interface

tnx
Guy

![image](https://user-images.githubusercontent.com/59534272/78234020-37263000-74df-11ea-9c7e-a26f9676a2bb.png)

[2020-04-02 10:05] emanuele-f commented on #3687
Please add the `--community` flag to ntopng and retry.

[2020-04-02 10:11] #3690 closed, assigned to emanuele-f

[2020-04-02 10:13] emanuele-f commented on #3690
Thank you for reporting. A new package will be available in two hours.

[2020-04-02 10:33] jame687 commented on #3687
Hello,

ntopng --community -i zc:enp2s0f1@0 -i zc:enp2s0f1@1 -i zc:enp2s0f1@2 -i zc:enp2s0f1@3

After execution, the packet can be successfully captured

The problem should lie in the view,

thanks

[2020-04-02 12:03] peterneutron opened #3691 "Compiling ntopng-4.0/rrdtool-1.4.8 from source with glib-2.64"
**Description:**

_**ntopng-4.0**_ fails to build on system running **_glib-2.64_** in combination with _**rrdtool-1.4.8**_ as provided in third-party.

`/usr/bin/ld: rrdcached-rrd_daemon.o: undefined reference to symbol 'g_tree_lookup'
/usr/bin/ld: /usr/lib/libglib-2.0.so.0: error adding symbols: DSO missing from command line`

**Steps to reproduce:**

Try building ntopng-4.0 with glib-2.64.

**P

[2020-04-02 13:27] Guymtrx opened #3692 "Some ntopng flows features"
Hi
we think about new features that you can add to ntopng flows section
1. there is unknown flow that we investigate, we want to know if we can update the database with the real flow. (1 and 2 in the pic)
2. Can we have an option to have a button to a link to the whois lookup from the main flow window, to search the ip address. (3 in the pic)
![ntopng flow1](https://user-images.githubusercontent.c

[2020-04-02 13:33] simonemainardi opened #3693 "GeoMap under Host Page Not working"
No flows are shown, just peers

![image](https://user-images.githubusercontent.com/3397663/78255137-36999380-74f7-11ea-9b85-5bc0ed500370.png)

expected behavior is

![image](https://user-images.githubusercontent.com/3397663/78255162-3dc0a180-74f7-11ea-8191-ecd4cd09bd2d.png)

[2020-04-02 13:36] simonemainardi opened #3694 "SNMP no longer shown in hosts details"
![image](https://user-images.githubusercontent.com/3397663/78255399-8b3d0e80-74f7-11ea-8413-d46afa4adadf.png)

an entry SNMP is expected to appear in the menu of the host

forcing the URL manually gives expected results

![image](https://user-images.githubusercontent.com/3397663/78255513-a871dd00-74f7-11ea-830c-7b16efd6aa17.png)

[2020-04-02 13:53] simonemainardi opened #3695 "Host pool member device type no longer saved"
trying to set router type to the member has no effect

![image](https://user-images.githubusercontent.com/3397663/78257363-0acbdd00-74fa-11ea-89ab-4ce6f4d11448.png)

after saving the page goes back to

![image](https://user-images.githubusercontent.com/3397663/78257416-16b79f00-74fa-11ea-86a4-d4a75d8d783c.png)

[2020-04-02 17:14] bardal commented on #3656
The tooltip is still encouraging you to double click - confused new user.

[2020-04-02 17:49] simonemainardi opened #3696 "Unable to save multiple traffic profiles"
When adding multiple traffic profiles it is impossible to save. Clicking on save is ineffective, nothing happens

advanced_features_traffic_profiles_edit
![image](https://user-images.githubusercontent.com/3397663/78281492-0b28a000-751b-11ea-9cae-3fd8f9b61972.png)

[2020-04-02 18:43] lucaderi commented on #3696
I suggest not to fix this bug, but to redo the table using the DataTable

[2020-04-02 18:43] lucaderi commented on #3695
I suggest not to fix this bug, but to redo the table using the DataTable

[2020-04-03 00:49] jame687 commented on #3687
Hello,

it will be very troublesome if you don't add a view after virtualizing 4 network cards. Can you fix this problem?
@emanuele-f @cardigliano

Thank you

[2020-04-03 06:44] gabryon99 commented on #3627
Fixed in https://github.com/ntop/ntopng/commit/96b088529059c55ce1492135fe00ca2ca1c2a1f8

[2020-04-03 06:44] #3627 closed, assigned to gabryon99

[2020-04-03 06:47] gabryon99 commented on #3684
I changed the whole notification system. Now the notification are saved inside Redis, so the notification counter is the same across the browsers. Fixed in https://github.com/ntop/ntopng/commit/633ee3096d515764e82424aad7a84b855b2cde6e

[2020-04-03 06:47] #3684 closed, assigned to nobody

[2020-04-03 07:52] emanuele-f commented on #3687
Can you try now and add the `--view` parameter again (please also keep `--community`)? You can use `--view all`

[2020-04-03 08:02] scannizzaro opened #3697 "RESTful API to get a Discovery json file"
Hi everyone, it might be useful to have a RESTful API to get the json file of a Discovery, made via ntopng.
Thanks

[2020-04-03 08:24] #3695 closed, assigned to nobody

[2020-04-03 08:36] #3694 closed, assigned to nobody

[2020-04-03 08:43] jame687 commented on #3687
Hello

I just tried it
ntopng --community -i zc:enp2s0f1@0 -i zc:enp2s0f1@1 -i zc:enp2s0f1@2 -i zc:enp2s0f1@3 -i view:all

Will still prompt

03 / Apr / 2020 16:42:58 [Host.cpp: 1038] WARNING: Internal error: invalid counter value
03 / Apr / 2020 16:42:58 [Host.cpp: 1045] WARNING: Internal error: invalid counter value
03 / Apr / 2020 16:42:58 [Host.cpp: 1045] WARNING: Internal error: invalid count

[2020-04-03 08:55] emanuele-f commented on #3696
The bug was caused by a missing `disabled` class on the button, now fixed

[2020-04-03 08:55] #3696 closed, assigned to emanuele-f

[2020-04-03 09:10] emanuele-f commented on #3687
Can you post a screenshot of the "Idle Timeout Settings" in the ntopng "Cache Preferences"?

[2020-04-03 09:23] jame687 commented on #3687
Hello

where do I check the idle timeout setting?
I didn't find a place
![1](https://user-images.githubusercontent.com/63005565/78345037-d32f6480-75cf-11ea-92fa-6188f269347b.png)

Thanks

[2020-04-03 09:57] emanuele-f commented on #3687
Can you click on the yellow triangle in the top bar and post a screenshot of the page ?

[2020-04-03 10:10] jame687 commented on #3687
Hello

Yellow warning that some alerts generated by the script have been removed
![2](https://user-images.githubusercontent.com/63005565/78349618-74b9b480-75d6-11ea-9494-d2b715f3767a.png)

Thanks

[2020-04-03 10:25] simonemainardi opened #3698 "nEdge Add User Page Add-Ons Poorly Styled"
![image](https://user-images.githubusercontent.com/3397663/78350804-183ea100-75a6-11ea-9c0a-7954a2f9abc9.png)

[2020-04-03 13:36] emanuele-f commented on #3687
This should be now fixed. Please wait one hour so that the new package will be available. Then update and let us know.

[2020-04-03 14:20] emanuele-f opened #3699 "Host name inconsistency"
`getHostAltName` accepts an IP or a MAC address. If a label is specified in the host MAC address page, some ntopng view will show such label, whereas other views will show the resolved host name, in particular:

1. `host_details.lua` (right after page load) and the dashboard will show the label associated to the MAC address
2. `host_details.lua` (afther the automatic refresh) and the flows view wi

[2020-04-04 04:54] jame687 commented on #3687
Hello

I just upgraded ntopng, now execute ntopng --community -i zc:enp2s0f1@0 -i zc:enp2s0f1@1 -i zc:enp2s0f1@2 -i zc:enp2s0f1@3 will not report an error

However, after logging in to the host information in the ntopng management page, I still can't see it and can download the captured packet
![3](https://user-images.githubusercontent.com/63005565/78418943-62418880-7673-11ea-93f0-5a8779f249bd.png

[2020-04-04 09:40] serg470 opened #3700 "Grafana does't work with Ntopng 4."
When i try to setup new ntop data source in grafana I get "HTTP Error Not Found" In 3.8 version i used next URL http://192.168.1.19:3000/lua/modules/grafana/ and everything was fine.

[2020-04-04 15:10] simonemainardi commented on #3700
hi, the ntopng grafana datasource has been discontinued one year ago as explained in https://github.com/ntop/ntopng-grafana-datasource#discontinuation-notice

You just have to use ntopng in combination with influxdb and then use the influxdb grafana datasource for the charts.

[2020-04-04 15:10] #3700 closed, assigned to nobody

[2020-04-04 21:46] gabryon99 opened #3701 "Error page for generated errors"
When an error is generated the user must be redirected to the error page. Just like this one in the screenshot below:
<img width="1781" alt="Screenshot 2020-04-04 at 23 44 22" src="https://user-images.githubusercontent.com/14114916/78461994-37385280-76ce-11ea-8248-254b26f284c4.png">

To generate an error like that, follow this steps:
1. go to `page_utils.lua` and change in the function `page_utils

[2020-04-05 06:17] lucaderi opened #3702 "Implement network path monitoring"
Extend the RTT monitoring tool with a new feature that allows path monitoring:
- detect route changes
- detect network bottlenecks

References
- https://paris-traceroute.net and https://packages.ubuntu.com/bionic/libparistraceroute-dev
- https://docstore.mik.ua/orelly/networking_2ndEd/tshoot/ch04_02.htm
- https://www.solarwindsmsp.com/products/rmm/netpath

This issue depends on #3679

[2020-04-05 06:25] lucaderi commented on #3701
This bug is invalid. You are saying you are putting a bug in the lua code that renders the page. This should not happen otherwise the only option is to go back to plain text or minimal lua-based pages (supposing the interpreter can start)

[2020-04-05 06:25] #3701 closed, assigned to lucaderi

[2020-04-05 08:32] GiuseppeAugiero opened #3703 "I'm waiting long time for flows order"
When i try to order the flows by "Total Bytes" or "Actual Troughput" or another row i wait 50 or 60 seconds.

Kernel version:
root@apu:~# uname -a
Linux apu 5.4.0-4-686-pae #1 SMP Debian 5.4.19-1 (2020-02-13) i686 GNU/Linux

Ntopng version:
root@apu:~# ntopng --version
v.4.1.200331	[Community build]
GIT rev:	dev:38a5be44a77b4f864a1e18e0e85694bd14874c9c:20200331

Load before run ntopng:
root@apu:~#

[2020-04-05 08:38] GiuseppeAugiero commented on #3703
Ntopng.conf (vanilla conf)

[code]

[2020-04-05 08:51] GiuseppeAugiero commented on #3703
Another info:

<img width="1449" alt="Schermata 2020-04-05 alle 10 49 35" src="https://user-images.githubusercontent.com/8215839/78470657-66c97800-772b-11ea-9f19-3c3142d7688d.png">

<img width="1449" alt="Schermata 2020-04-05 alle 10 48 33" src="https://user-images.githubusercontent.com/8215839/78470611-397cca00-772b-11ea-8f44-a8902b35f113.png">
<img width="1101" alt="Schermata 2020-04-05 alle 10

[2020-04-05 08:56] GiuseppeAugiero commented on #3703
<img width="543" alt="Schermata 2020-04-05 alle 10 55 50" src="https://user-images.githubusercontent.com/8215839/78470761-16064f00-772c-11ea-9277-19dc44e362b2.png">

[2020-04-05 12:44] slokhorst commented on #3675
Yep, same compile error here with nDPI 3.2. Please advise which nDPI to use.
[code]

[2020-04-05 12:52] slokhorst commented on #3675
I managed to get it to work with last (unreleased) commit from the [nDPI 3.2-stable branch](https://github.com/ntop/nDPI/tree/3.2-stable): https://github.com/ntop/nDPI/archive/3.2-stable.zip

It should probably be mentioned somewhere that this is required.

[2020-04-05 14:27] simonemainardi opened #3704 "nDPIStats::lua crash from 5min.lua"
[code]

[2020-04-05 14:57] Raptime commented on #3664
Same here, I ended up deleting the file /etc/cron.d/ntopng

[2020-04-06 04:01] aauren opened #3705 "Prometheus Support Removed?"
I noticed that 4.0 doesn't contain Prometheus metrics support any longer. It looks like @lucaderi removed it here: https://github.com/ntop/ntopng/commit/3984a19226b89b2888c3736aebbf66f69f63b3ea

This was something that I used substantially in my graphing flows. It is specifically better than something like say Influx for me because it is easy for me to enrich it with additional data before it gets

[2020-04-06 05:02] RHomie commented on #204
Oh hey,
Wow, it's been 5 years! I'd completely forgotten about this issue. Anyway, good to see you're looking to fix it.
I looked around a bit and if I'm not mistaking, _service_win32.c_ is responsible for creating the actual windows service in ntopng. Based on [CreateServiceA](https://docs.microsoft.com/en-us/windows/win32/api/winsvc/nf-winsvc-createservicea/) doc, is appears that the only thing

[2020-04-06 06:52] sonic42 commented on #3675
It worked. Many thanks.

[2020-04-06 07:46] emanuele-f commented on #3687
Please note that the screenshot below shows that you have reached the maximum number of flows and hosts:

![2020-04-06_09-40](https://user-images.githubusercontent.com/5488003/78534469-02b1bd00-77da-11ea-8b94-8e800a4f409f.png)

You need to tune the `-x` and `-X` parameters as explained in https://www.ntop.org/ntopng/best-practices-for-running-ntopng . What do you mean with the "captured packet" fe

[2020-04-06 08:21] emanuele-f commented on #3703
Can you check if the cpu goes high during the request? Can you also post a screenshot of the connections in the browser network inspector when the issue occurs? E.g

![2020-04-06_10-20](https://user-images.githubusercontent.com/5488003/78537806-8fab4500-77df-11ea-83c8-f1978395a5ac.png)

[2020-04-06 08:45] jame687 commented on #3687
Hello

Yes, I can't see this page for Pcap download, thank you

[2020-04-06 09:55] emanuele-f commented on #3703
The machine had an high cpu load caused by multiple tabs open. The ntopng pages must be optimized as reported in #3660 .

[2020-04-06 09:55] #3703 closed, assigned to simonemainardi, emanuele-f

[2020-04-06 11:05] lucaderi commented on #3705
Prometheus support was removed as incomplete (it was a write only plugin). You are welcome to send us a pull request that includes a full fledged implementation of the plugin so we can seamlessly use RRD, Influx and Prometheus. Awaiting your contribution

[2020-04-06 11:05] #3705 closed, assigned to nobody

[2020-04-06 11:06] lucaderi opened #3706 "Better handle license switch"
![image](https://user-images.githubusercontent.com/4493366/78552155-4373fb00-7807-11ea-8a9c-d4cf1f41d846.png)
When the demo mode ends, errors like the one above are reported when switching back to community edition. They need to be handled more nicely.

See also #3595

[2020-04-06 11:35] jame687 commented on #3687
Hello,

I followed the tutorial to open directly in the browser
http: //xx.xx.xx.xx: 3000 / lua / live_traffic.lua? ifid = 0 & host = 16.25.160.98
But the obtained pcap file is 0kb

The pcap file should have been downloaded directly from the hosts page @emanuele-f

[2020-04-06 13:38] lucaderi opened #3707 "Invalid cell format"
Traditionally has the following layout in tables
<cell with label> <cell with value>

In the table below (under interface when ZMQ collection is used) this is the result
![Screen Shot 2020-04-06 at 15 34 50](https://user-images.githubusercontent.com/4493366/78564193-5c3adb80-781c-11ea-9b2b-98c381b5a3b6.png)

Problems
- cell wrap (red value)
- a lot of space wasted in empty rows
- <cell with label:

[2020-04-06 13:48] emanuele-f commented on #3706
What is the output of `ntopng --version`? Please ensure that the git commit revision is newer than 1a76dcc888262fd3ffb720f7a5ee58025d781266 .

[2020-04-06 14:28] aauren commented on #3705
@lucaderi Thanks for your quick response! I see now that you're interested in timeseries DB's that act as both read and write stores for you. I'm guessing that is useful so that ntopng can read from the store to present data in addition to writing to it?

For what it's worth, I found a lot of value in having the write-only prometheus store. In a way it kinda worked like an ntopng-exporter for me.

[2020-04-06 14:38] simonemainardi commented on #3698
fixed

![image](https://user-images.githubusercontent.com/3397663/78569613-28fc4a80-7824-11ea-9787-fbad9b016931.png)

[2020-04-06 14:38] #3698 closed, assigned to simonemainardi

[2020-04-06 15:22] emanuele-f commented on #3687
Capturing traffic from view interfaces is not supported as View Interfaces work with flows, not with packets. This is specific of view interfaces and has nothing to do with zc. Closing this as the issues are now solved/explained.

[2020-04-06 15:22] #3687 closed, assigned to emanuele-f

[2020-04-06 17:09] simonemainardi commented on #3692
Please check this resource describes how to set custom protocols and categories to the traffic so that you can transform unknown traffic to known: https://www.ntop.org/guides/ntopng/web_gui/categories.html

On the other hand, we won't be able to add a button to the info column which has a semantically different meaning.

[2020-04-06 17:09] #3692 closed, assigned to nobody

[2020-04-06 17:12] simonemainardi commented on #3691
Can you install librrd using you package manager so ntopng will figure it out and dynamically link to it (see https://github.com/ntop/ntopng/blob/dev/doc/README.compilation)?

Won't be able to bump the third-party as it's used to build on very old systems. Dynamically linked librrd is used almost everywhere and should be preferred as explained in the redme linked above.

[2020-04-06 17:15] simonemainardi commented on #3670
Solution given. No feedback received. Closing. Reopen with the requested information if necessary.

[2020-04-06 17:15] #3670 closed, assigned to simonemainardi

[2020-04-06 17:36] #3666 closed, assigned to simonemainardi

[2020-04-07 09:57] simonemainardi commented on #3653
now pages have the following help link on the right which brings directly to the ntopng documentation
![image](https://user-images.githubusercontent.com/3397663/78655963-feaf9900-78c6-11ea-814c-ec79563e34bb.png)

[2020-04-07 09:57] #3653 closed, assigned to simonemainardi

[2020-04-07 13:03] StewAlexander-com opened #3708 "On license install getting "operation not permited""
Maria Teresa Allegro (mallegro@ntop.org) requested that I open this ticket

Getting operation not permitted even as root on license install
[code]
---
[code]

[2020-04-07 13:41] simonemainardi commented on #3708
it seems root can't write to `/etc`. Is there any fs protection mechanism enabled? This is strange. please go to `/etc`, type `ls -lha` and report the output. Also try an touch any other file e.g., `touch test` inside `/etc`.

[2020-04-07 14:03] StewAlexander-com commented on #3708
Almost everything is owned by root, and no we have no file system protection

![image](https://user-images.githubusercontent.com/48565067/78678162-98bb1580-78b6-11ea-8a15-b45032b9963e.png)

[code]
root@ntopng:/etc# ls |grep test
popularity-contest.conf
test
root@ntopng:/etc#
[code]

[2020-04-07 14:45] simonemainardi opened #3709 "REST endpoint get/host/data returns HTML when host is inactive"
Response must always be a JSON

[2020-04-07 14:47] simonemainardi opened #3710 "SNMP returns a synatx error when no device is configured"
When no SNMP device is configured, SNMP 'Interfaces' returns a syntax error. Expected behavior is to hide 'Interfaces'

![image](https://user-images.githubusercontent.com/3397663/78683373-7d203100-78ef-11ea-833c-90e35e4a9a91.png)

[2020-04-07 14:56] #3660 closed, assigned to emanuele-f

[2020-04-07 15:09] emanuele-f commented on #3708
Please note that you can also insert the license in the ntopng "About" page

[2020-04-07 15:31] StewAlexander-com commented on #3708
I tried that @emanuele-f, through multiple emails with Maria, with no luck

[2020-04-07 15:43] emanuele-f commented on #3708
Please retry to insert the license into the gui and then report the output of `ntopng --version`

[2020-04-07 15:45] emanuele-f commented on #3710
Now fixed.

[2020-04-07 15:45] #3710 closed, assigned to nobody

[2020-04-08 08:20] manjotsc opened #3711 "Can't compile NTOPNG 4.0 on Ubuntu"
`
root@ubuntu:~/ntopng# make
cd /root/ntopng/third-party/zeromq-4.1.7; ./configure --without-documentation --without-libsodium; make
configure: error: cannot find install-sh, install.sh, or shtool in config "."/config
make[1]: Entering directory '/root/ntopng/third-party/zeromq-4.1.7'
Makefile:2340: perf/.deps/inproc_lat.Po: No such file or directory
Makefile:2341: perf/.deps/inproc_thr.Po: No suc

[2020-04-08 08:46] emanuele-f opened #3712 "SNMP topology not working when a specific device is selected"
Going into the global topology chart and double clicking into a node results in an empty chart being displayed. Example URL:

http://127.0.0.1:3000/lua/pro/enterprise/snmp_device_details.lua?host=x.y.z.k&page=topology-graph

[2020-04-08 09:06] emanuele-f opened #3713 "Alert type and severity filter dropdown missing in SNMP devices alerts"
The following dropdown is missing

![2020-04-08_11-06](https://user-images.githubusercontent.com/5488003/78765977-3aef0200-7978-11ea-9202-57f145b5b58c.png)

[2020-04-08 09:32] lucaderi opened #3714 "Unidirectional traffic should not be calculated on non-unicast traffic"
![image](https://user-images.githubusercontent.com/4493366/78768650-83b0b600-798c-11ea-8ac7-2a97b233a843.png)

[2020-04-08 10:04] LeoBolien opened #3715 "ntopng crashes every 5 minutes on Rasbian buster"
Hello,
i run ntopng on an raspberry 4. So far so good.
When i setup ntopng to connect to a influxdb on another server everything works
as expected. The Problem is now that exactly every 5min ntopng chrashes:
Here the syslog entries:

[code]

ntopng restarts itself. Inside ntopng system history i see after restart:

`Started after anomalous termination (bug report) ntopng v.4.1.200330 (9629) [OS: R

[2020-04-08 12:33] emanuele-f commented on #3714
Issue occurs because `IpAddress::checkIP` does not properly recognizes broadcast IP addresses

[2020-04-08 12:40] LeoBolien commented on #3715
Sorry but in the meantime i have more infos.
I guess this error has nothing to do with influxdb.

My System is: raspberry PI 4 with OS raspbian buster
I reinstalled ntopng complete (apt-get purge ntopng).
Installed it new (apt-get install ntopng)

my /etc/apt/sources.list looks like:

[code]
But if i than start ntopng by hand e.g.
`/usr/local/bin/ntopng /etc/ntopng/ntopng.conf`
it runs vor max 5 m

[2020-04-08 12:46] #3714 closed, assigned to emanuele-f

[2020-04-08 12:49] emanuele-f commented on #3715
Thank you for the information, trying to debug this.

[2020-04-08 12:53] simonemainardi opened #3716 "Centos8 LDAP support"
LDAP support reportedly missing from centos8

[2020-04-08 13:12] emanuele-f commented on #3715
what are the contents of your /etc/ntopng/ntopng.conf file?

[2020-04-08 13:19] #3716 closed, assigned to simonemainardi

[2020-04-08 13:19] simonemainardi commented on #3716
binary packages were not built with `openldap-devel`. Fixed.

[2020-04-08 13:22] LeoBolien commented on #3715
[code]
i use https port 3010. I have installed certificates at
/usr/share/ntopng/httpdocs/ssl/ntopng-cert.pem
which works

[2020-04-08 13:27] simonemainardi commented on #3711
Please, follow https://github.com/ntop/ntopng/blob/dev/doc/README.compilation
install zeromq using the package manager.

[2020-04-08 13:29] emanuele-f commented on #3715
Can you try to connect to the URL `/lua/test_alerts.lua` and see if the crash occurs?

[2020-04-08 13:36] LeoBolien commented on #3715
Hello,
i started at 15:31:24 again by
`/usr/local/bin/ntopng /etc/ntopng/ntopng.conf`
open browser with url:
`https://nagios.bolien.de:3010/lua/test_alerts.lua`
on the left side i see the menus but main page is white, nothing else.

now at exactly 15:35:00 error:
`malloc(): invalid next size (unsorted)`

hope this helps :-)

Thanks and regards Leo

[2020-04-08 13:43] simonemainardi commented on #3686
For one of the devices highlighted with the yellow triangle, the caching ob bridge MIB takes more than 30 seconds so ntopng gives up. See for example:

[code]

Need to handle longer caching times and retries. Will get back to you.

[2020-04-08 13:54] emanuele-f commented on #3712
Now fixed

[2020-04-08 13:54] #3712 closed, assigned to emanuele-f

[2020-04-08 13:58] jackspeed84 commented on #3715
I have the same problem on a Raspberry Pi 3B+ with Debian Buster. It appeared w/ ntopng 4.1 release from the 24th of march and is still there for the release of the 30th.

I already chatted w/ emanuele-f and simone from ntopng, but they couldn't reproduce it.

In my case, I did not see any malloc error, just the line
`corrupted size vs. prev_size` in ntopng.log.

To be honest, I did not recognize

[2020-04-08 13:58] emanuele-f commented on #3715
Any chance for a teamviewer session on your machine to debug this? Please write at faranda@ntop.org

[2020-04-08 14:09] LeoBolien commented on #3715
Hi,
in the meantime i did an self building of ntopng like described in:
https://www.ntop.org/get-started/download/
at the same raspberry PI 4

if i start now (installed in /usr/src/ntopng)
`/usr/src/ntopng/ntopng /etc/ntopng/ntopng.conf`
i do not have the problem.
okay my license (/etc/ntopng.license) do not work, can i use me license for this self build version or is this not possible ?

Sorry i

[2020-04-08 14:14] emanuele-f commented on #3715
So this probably means that the crash is linked with some of the pro features. If you manually build ntopng you can't use the pro/enterprise versions. We need to dig into the code of `/usr/share/ntopng/scripts/callbacks/interface/5min.lua` and its inner functions to understand where exactly it crashes, this is why I suggest the teamviewer/anydesk session, as @jackson-5 already tried to get a stack

[2020-04-08 14:21] simonemainardi commented on #3706
debian 10 installed as:

[code]

[2020-04-08 14:37] sklammer2k opened #3718 "Unable to start ntopng 4.0 after install"
Hey Guys,

i just compiled and installed ntopng to my ipfire testsystem. But when i try to start it i get the error message:
[Ntop.cpp:201] ERROR: Unable to open lock file: No such file or directory
Do you have a hint on what i'm missing ?

Greetings
sklammer2k

[2020-04-08 14:38] manjotsc commented on #3711
@simonemainardi thanks, I ran **cd packages/ubuntu;./configure;make** and now I am getting this error.

dpkg-buildpackage -rfakeroot -d -us -uc -b
dpkg-buildpackage: warning: using a gain-root-command while being root
dpkg-buildpackage: info: source package ntopng
dpkg-buildpackage: info: source version 4.1.200408-9788
dpkg-buildpackage: info: source distribution table
dpkg-buildpackage: info: sou

[2020-04-08 15:07] manjotsc opened #3719 "NTOPNG 4.0 can't login"
I just installed ntopng 4.0 on Ubuntu when I try to log in the first time using default user and password "admin" login page refreshes and doesn't log in, no error nothing.

[2020-04-08 16:24] #3709 closed, assigned to simonemainardi

[2020-04-08 16:26] simonemainardi commented on #3711
You don't have to create the deb package. Just follow the linked linked instructions and you will be o. Alternatively, install a packaged version from https://packages.ntop.org

[2020-04-08 16:26] #3711 closed, assigned to nobody

[2020-04-08 16:35] lucaderi opened #3720 "Refactor lua code"
The following files (and a few others)
- graph_utils.lua
- alert_utils.lua
- nv_graph.utils

are not defined as modules.

Example drawAlerts() should be renamed in alert_utils. drawAlerts()

[2020-04-08 16:36] emanuele-f commented on #2945
Documented at https://www.ntop.org/guides/ntopng/plugins/index.html

[2020-04-08 16:36] #2945 closed, assigned to simonemainardi, emanuele-f

[2020-04-08 16:43] emanuele-f commented on #3715
@LeoBolien thank you for allowing me to troubleshoot this. The problem is related to the `ntop.snmpgetnext` function which, when called, makes ntopng crash. I can now reproduce the problem.  For a temporary workaround you can remove all the configured SNMP devices with `redis-cli del ntopng.prefs.snmp_devices`.

[2020-04-08 16:44] emanuele-f commented on #3719
Please check out https://www.ntop.org/guides/ntopng/faq.html#cannot-login-into-the-gui . If that does not work, try to manually clear the browser cookies.

[2020-04-08 16:48] oliwirth commented on #3686
Right, an snmpwalk to 10.10.29.181 almost takes 7 minutes, since ist is a big stacking switch.
BUT:
snmpwalk to 10.10.29.90 takes 2 minutes but WORKS and shows data in ntopng.
snmpwalk to 10.0.0.1 takes 24 seconds but is NOT WORKING
So not a really consistent behaviour regarding the 30 seconds...
Look forward what you will find out.

[2020-04-08 16:49] oliwirth commented on #3686
Right, an snmpwalk to 10.10.29.181 almost takes 7 minutes, since ist is a big stacking switch.
BUT:
snmpwalk to 10.10.29.90 takes 2 minutes but WORKS and shows data in ntopng.
snmpwalk to 10.0.0.1 takes 24 seconds but is NOT WORKING, doesn't show data in ntopng.
So not a really consistent behaviour regarding the 30 seconds...
Look forward what you will find out.

[2020-04-08 17:00] LeoBolien commented on #3715
Does this problem only exist in Raspberry 4 devices and / or OS raspbian buster ?
Anyway many thanks for your support. If needed we can try to check again on my system.

Regards Leo

[2020-04-08 20:15] manjotsc commented on #3719
@emanuele-f I tried, but login page is looping still..

[2020-04-08 20:38] #3691 closed, assigned to nobody

[2020-04-08 20:38] lucaderi commented on #3642
What is the question here?

[2020-04-08 20:45] peterneutron commented on #3691
Can confirm dynamically linked librrd fixes the issues. I just forgot to add librrd as dependency, it was a custom build package. Thanks for pointing me in the right direction.

[2020-04-08 21:25] james4133 opened #3721 "Ubuntu 19.10 install of ntopng 4.1.200407 not allowing licensing, missing snmp_utils"
I am running Ubuntu 19.10, and have installed ntopng 4.1, but it defaults to the community build, and I am unable to find the systemID in the ntopng gui at About>Help.

As I’m running 19.10 there was no prebuilt executable, so I built it from source using the instructions at https://github.com/ntop/ntopng/blob/dev/doc/README.compilation.

This is what I’m seeing

[code]
And here’s the /etc/ntopng.

[2020-04-08 21:52] lucaderi commented on #3721
Sorry we do not support non LTS packages. Please use 18.04 LTS

[2020-04-08 21:52] #3721 closed, assigned to nobody

[2020-04-08 21:53] lucaderi opened #3722 ""Go Back" button is broken"
You can reproduce with
![Screen Shot 2020-04-08 at 23 51 21](https://user-images.githubusercontent.com/4493366/78837329-1d5f7e00-79f4-11ea-88ac-69b0078ab4e4.png)

http://localhost:3000/lua/http_status_code.lua?message=internal_error&referer=localhost%3A3000%2Flua%2Fget_geo_hosts.lua%3Fifid%3D0%26host%3D216.239.38.120&error_message=%2FUsers%2Fderi%2Fnetwork%2Fntopng%2Fscripts%2Flua%2Fget_geo_hosts.

[2020-04-08 22:11] #3722 closed, assigned to gabryon99

[2020-04-08 23:49] manjotsc commented on #3718
I was having same issue just type sudo ntopng, it will run.

![Annotation 2020-04-08 194843](https://user-images.githubusercontent.com/51430971/78843831-027c1200-79d2-11ea-8f2e-9ea6be3d5080.png)

[2020-04-09 00:13] manjotsc commented on #3719
fixed I ran this command and I put my own password, "**redis-cli SET user.admin.password qwer1234**"

[2020-04-09 00:13] #3719 closed, assigned to nobody

[2020-04-09 01:28] Yoshihiro-jp commented on #3702
![ntopng-rtt](https://user-images.githubusercontent.com/58843707/78848285-414eae00-7a4c-11ea-8131-a652587867ef.PNG)
My expectation is like attached file.

1. Each node shows detail information like AS, prefix and owner.
2. Hopefully the node information could be edited.
3. The probe duration could be edited like 5/8 and 10 minutes.

[2020-04-09 03:13] Yuvahai opened #3723 "Can't compile NTOPNG 4.0 stable on CentOS7.5"
[root@CentOS ~/ntopng]# make
g++ -g -Wall -I/root/ntopng -I/root/ntopng/include -I/usr/local/include -D_FILE_OFFSET_BITS=64 -I/usr/include/hiredis   -I/usr/include/hiredis -I/root/ntopng/third-party/mongoose -I/usr/include/json-c    -I../nDPI/src/include -I../nDPI/src/lib/third_party/include -I/root/ntopng/third-party/lua-5.3.5/src -I/root/ntopng/third-party/rrdtool-1.4.8/src/   -I/usr/include/mys

[2020-04-09 03:18] Yuvahai commented on #3723
This is config.log:
This file contains any messages produced by compilers while
running configure, to aid debugging if configure makes a mistake.

It was created by ntopng configure 4.0.200409, which was
generated by GNU Autoconf 2.69.  Invocation command line was

  $ ./configure

## --------- ##
## Platform. ##
## --------- ##

hostname = CentOS
uname -m = x86_64
uname -r = 3.10.0-862.el7.x86_64

[2020-04-09 05:55] sklammer2k commented on #3718
Hey Manjotsc,
thanks for your reply but my problem seems to be different because I don't get a permission error but a file not found error.

[2020-04-09 05:56] saifullahsohail123 commented on #153
Worked in a flash for me !

https://techexpert.tips/ntopng/ntopng-password-recovery/

[2020-04-09 07:58] simonemainardi commented on #3723
is seems it's outside the scope of ntopng

[code]

Possibly related to: https://github.com/openwrt/packages/pull/9312#pullrequestreview-254257612

Please follow build instructions https://github.com/ntop/ntopng/blob/dev/doc/README.compilation

[2020-04-09 07:59] #3718 closed, assigned to emanuele-f

[2020-04-09 08:00] emanuele-f commented on #3718
Fixed. A new build will be available in one hour.

[2020-04-09 08:00] simonemainardi commented on #3708
@StewAlexanderACC did you manage to make it work? Did it create the file `test` under `/etc`?

[2020-04-09 08:11] Yuvahai commented on #3723
The above error is after I installed all the dependent packages in README.compilation, please help me

[2020-04-09 08:12] Yuvahai commented on #3723
The above error is after I installed all the dependent packages in README.compilation, please help me

[2020-04-09 08:29] simonemainardi commented on #3723
There's something non-standard on your system (see `#define PACKAGE_OSNAME "x86_64-unknown-linux-gnu"`). What's the architecture?

Please, report the output of

[code]

[2020-04-09 09:33] emanuele-f commented on #3715
The problem is not specific of the raspberry 4, however it seems like the ARM platform makes such errors visible. This should be addressed in 3f5bd04e7a335bd83d4c649df88dabf7af9808ca . A new package will be available in two hours. In order to test it, please run `redis-cli hset ntopng.prefs.snmp_devices 192.168.1.6 public` to add again the device I removed yesterday, then restart ntopng and wait t

[2020-04-09 09:47] LeoBolien commented on #3715
Hello @emanuele-f
I will try as soon as the new packages available (by apt-get update; apt-get dist-upgrade)
Give feedback after.
regards Leo

[2020-04-09 10:08] Yuvahai commented on #3723
[root@CentOS ~]# lsb_release -a
LSB Version:    :core-4.1-amd64:core-4.1-noarch:cxx-4.1-amd64:cxx-4.1-noarch:desktop-4.1-amd64:desktop-4.1-noarch:languages-4.1-amd64:languages-4.1-noarch:printing-4.1-amd64:printing-4.1-noarch
Distributor ID: CentOS
Description:    CentOS Linux release 7.5.1804 (Core)
Release:        7.5.1804
Codename:       Core
[root@CentOS ~]# uname -a
Linux CentOS 3.10.0-862.el

[2020-04-09 11:03] #3679 closed, assigned to emanuele-f

[2020-04-09 11:04] emanuele-f commented on #3679
The daily granularity has been skipped for now as it is currently not supported in the timeseries

[2020-04-09 11:17] LeoBolien commented on #3715
Hello @emanuele-f
installed new version ntopng Professional Edition v.4.1.200409 by using
`apt-get dist-upgrade`
run:
`redis-cli hset ntopng.prefs.snmp_devices 192.168.1.6 public`

Then start again.
No chrashes anymore after 5min. Seems to work now.

Thanks you very much.
regards Leo

[2020-04-09 11:18] Claireshan opened #3724 "Ntop and nprobe configuration"
Hello all, Can someone please send the basic configuration of ntop and nprobe which are on the same machine coz my has refused to work expected. It doesnt show localhost, and the traffic its graphing is  nor right.

[2020-04-09 11:19] Claireshan commented on #3724
i have four routers sending to the samplicator where nprobe picks and send to ntop

[2020-04-09 12:08] emanuele-f commented on #3715
Great, thank you for your feedback and time!

[2020-04-09 12:08] #3715 closed, assigned to emanuele-f

[2020-04-09 12:22] StewAlexander-com commented on #3708
No

Best Regards,

Stewart Alexander

Network Administrator
Alamance Community College
stewart.alexander@alamancecc.edu

"Chi poco pensa, molto erra." -Leonardo Di Vinci
(He who thinks little errors much)

CAUTION: This email originated from outside your organization. Exercise
caution when opening attachments or clicking links, especially from
unknown senders.

 @StewAlexanderACC did you manage to

[2020-04-09 12:36] sonic42 opened #3725 "Cannot change password at fresh 4.0 installation"
The Browser show with release version
...ntopng alerts_api.lua:142: attempt to index a nil value (field 'alert_type')

 ntopng --version
v.4.0.200406    [Community build]
GIT rev:        :4.0.200406
`
and with git version 4.1.200408 the  password change dialog repeats endless again.

[2020-04-09 13:46] lucaderi commented on #3723
@Yuvahai ntopng con centos7 compiles as we have packages out. Please check what is not working on your system (for instance we do not use openwrt) and contact us if there is a fix to make that is related to ntopng and not to the environment you are using

[2020-04-09 13:46] #3723 closed, assigned to nobody

[2020-04-09 13:50] lucaderi commented on #3725
@emanuele-f @simonemainardi Can you please check?

[2020-04-09 14:12] emanuele-f commented on #3725
Cannot reproduce, please give us more details:

- In ntopng, are you logged in as admin or as the user for which you are trying to change the password?
- Can you post a screenshot of the dialog? Does it show any error?
- Can you post the full ntopng console log?

[2020-04-10 07:00] lucaderi opened #3726 "Extend Past Alerts Filtering"
![Screen Shot 2020-04-10 at 08 58 39](https://user-images.githubusercontent.com/4493366/78970410-84bb2200-7b09-11ea-8df8-c7e9d11ee342.png)

Add the ability to filter alerts per host

[2020-04-10 07:03] lucaderi opened #3727 "Nil host pool reported"
![Screen Shot 2020-04-10 at 09 00 58](https://user-images.githubusercontent.com/4493366/78970544-d5cb1600-7b09-11ea-88c7-a498b3ae858f.png)

Clicking on nil brings to the following error page
![Screen Shot 2020-04-10 at 09 01 07](https://user-images.githubusercontent.com/4493366/78970553-d95e9d00-7b09-11ea-91fa-71ca9161d335.png)

In my case I have no host pools defined
![Screen Shot 2020-04-10 at 0

[2020-04-10 07:34] lucaderi opened #3728 "Invalid alarm reported"
This is not an alert related to packet drops but it is a score

![image](https://user-images.githubusercontent.com/4493366/78970993-d9ab6800-7b0a-11ea-8b3c-b79c0c084d94.png)

![Screen Shot 2020-04-10 at 09 05 30](https://user-images.githubusercontent.com/4493366/78971001-dd3eef00-7b0a-11ea-8b7b-6e727060265b.png)

[2020-04-10 07:41] lucaderi opened #3729 "Alert drill down is incomplete"
![Screen Shot 2020-04-10 at 09 40 13](https://user-images.githubusercontent.com/4493366/78973033-52acbe80-7b0f-11ea-9bea-91ad783f0e8c.png)
Not all alerts have a drill down. Note hat everything is enabled here, included nIndex

[2020-04-10 07:45] lucaderi opened #3730 "Alert disable is cumbersome: we need a whitelist"
![image](https://user-images.githubusercontent.com/4493366/78973205-b0410b00-7b0f-11ea-8f55-3a7d4c56dbc2.png)

As of today it is possible to disable selected alerts. However this in reality is cumbersome. Ideally it should be possible to disable a specific alert for a set of hosts.

This requires the ability to specify a whitelist (for instance defined in CIDR mode) instead of a single host

[2020-04-10 07:48] lucaderi opened #3731 "Implement alert disable edit panel"
As of today it is possible to whitelist single alerts for a specific host. However it is not possible to know the list of alert/hosts disabled.

It is requested to allow a use to see such list, so it is possible to enable/disable existing whitelists and to know what alerts are whitelisted

This ticket depends on #3730

[2020-04-10 07:51] lucaderi opened #3732 "Reconcile time"
Detected alerts (engaged, past, flows) have a UTC timestamp UTC. Doing drill down lists have local time stamp (e.g. CEST).

This needs to be harmonised as all timestamps must be alike

Example
Detected Alerts->past alerts
In the past alerts table timestamp is UTC,in the drill down event list is CEST
Date/Time	Duration	Count	Severity	Alert Type	Drilldown	Description	Actions
10:05:00	02:00		1	Error

[2020-04-10 07:54] lucaderi opened #3733 "Alert drilldown sometime leads to empty pages"
![image](https://user-images.githubusercontent.com/4493366/78973898-1712f400-7b11-11ea-9d36-d0001b883846.png)

This is a example
http://localhost:3000/lua/host_details.lua?epoch_end=1583432402&page=historical&epoch_begin=1583428802&ifid=5&host=XXXXX&ts_schema=host%3Ascore&detail_view=status_overview

[2020-04-10 08:04] lucaderi opened #3734 "Alert drill down (when working) leads to incomplete pages"
Ae specified in #3733 sometimes alert drill down leads to empty pages. When working there are other problems

- the drilldown is not centred (in terms of time) with respect to the alert reported
- sometime the info is missing or incomplete (see #3733 )
- sometime they report unexpected information

Below there is an example of drill down that has this problem

Delected Alerts->past alerts

Drilldo

[2020-04-10 08:24] lucaderi opened #3735 "Refactor JS Code"
Same as #3720 JS code needs to be refactored as follows (this is just an example). Define a class (the JS name must be classname.js), define static methods and call them as shown below.

This means that you have to refactor https://github.com/ntop/ntopng/blob/dev/httpdocs/js/ntopng_utils.js and adapt the calls

class NtopUtils {
    static fbits() {}
}

NtopUtils.fbits();

[2020-04-10 09:05] notpixxl commented on #3670
Hi,
Sorry for my late feedback, have just update my nprobe licence that is "out of maintenance" now it's ok. So now my problem is still the same : Too many subinterfaces defined and my metrics definitely flat :-(

Can you please tell me how can i spawn 2 nprobe instances ? Have to configure a new listening port ? if i do it i have to change the configuration of ~25 of my nflow routers (wich'll be

[2020-04-10 09:10] notpixxl opened #3736 "Too many subinterfaces defined"
Solution given. No feedback received. Closing. Reopen with the requested information if necessary.

_Originally posted by @simonemainardi in https://github.com/ntop/ntopng/issues/3670#issuecomment-609924292_

[2020-04-10 09:11] notpixxl commented on #3736
Hi,
Sorry for my late feedback, have just update my nprobe licence that is "out of maintenance" now it's ok. So now my problem is still the same : Too many subinterfaces defined and my metrics definitely flat :-(

Can you please tell me how can i spawn 2 nprobe instances ? Have to configure a new listening port ? if i do it i have to change the configuration of ~25 of my nflow routers (wich'll be

[2020-04-10 10:01] simonemainardi commented on #3736
create two nprobe configuration files

[code]
start them:

[code]

edit ntopng conf to receive from two endpoints:

[code]

And yes a change on the routers conf is needed.

[2020-04-10 10:03] klemenska commented on #3654
Hello,

[2020-04-10 10:05] klemenska commented on #3654
Hello,

without any change ntop is now running for max. 18 h. why it is restarting?

regards,
Klemens

[2020-04-10 10:08] notpixxl commented on #3736
Ok thank you for your response will try to do it, you can close the issue think it respond to my question and i'll not make the change now.

[2020-04-10 10:08] #3736 closed, assigned to nobody

[2020-04-10 10:09] jackspeed84 commented on #3715
Thanks for fixing. Works here again as well.
Thx, jacks

[2020-04-10 10:50] sonic42 commented on #3725
The admin and admin login works. The change page of 4.0.200406 is ok. After click on "Change password" comes the error:
![ntopng1](https://user-images.githubusercontent.com/30557939/78984185-f012ed00-7b25-11ea-8721-00eb0db825ab.png)
Console Log:
 [LuaEngine.cpp:12646] WARNING: Script failure [/usr/share/ntopng/scripts/lua/change_password.lua][/usr/share/ntopng/scripts/lua/modules/alerts_api.lua:14

[2020-04-10 10:53] sonic42 commented on #3725
Some other errors repeats all 5-10 seconds:
10/Apr/2020 12:51:00 [minute.lua:11] [alert_consts.lua:216] ERROR: Missing required field 'i18n_title' in
10/Apr/2020 12:51:00 [minute.lua:11] [alert_consts.lua:216] ERROR: Missing required field 'i18n_title' in
10/Apr/2020 12:51:00 [interface.lua:8] [alert_consts.lua:216] ERROR: Missing required field 'i18n_title' in
10/Apr/2020 12:51:00 [system.lua:8]

[2020-04-10 11:00] sonic42 commented on #3725
Full Log:
`10/Apr/2020 12:56:18 [Prefs.cpp:1106] ntopng will use redis 127.0.0.1@5
10/Apr/2020 12:56:18 [Prefs.cpp:939] ERROR: -S deprecated, sticky hosts no longer supported. Configure remote and local hosts idle timeouts from the preferences.
10/Apr/2020 12:56:18 [Ntop.cpp:2229] Setting local networks to 192.168.0.0/16
10/Apr/2020 12:56:18 [Redis.cpp:157] Successfully connected to redis 127.0.0.

[2020-04-10 11:10] sonic42 commented on #3725
I see in the log, the --data-dir parameter is not more  working correctly in 4.0+ versions. Is /var/lib/ntopng hardcoded? (possible second bug?)

[2020-04-10 11:40] sonic42 commented on #3725
With version 4.1.200408 shows errors only in log and the browser is clean. Log: `[LuaEngine.cpp:12548] WARNING: Script failure [/usr/share/ntopng/scripts/lua/change_password.lua][/usr/share/ntopng/scripts/lua/modules/alerts_api.lua:142: attempt to index a nil value (field 'alert_type')]`

Next error shown:
`10/Apr/2020 13:31:24 [PeriodicActivities.cpp:105] Started periodic activities loop...
10/Ap

[2020-04-10 12:09] simonemainardi commented on #3720
Refactoring done as requested. Refactoring of other modules (such as lua_utils) will be re-considered later.

[2020-04-10 12:09] #3720 closed, assigned to simonemainardi

[2020-04-10 13:06] simonemainardi commented on #3704
User confirms instance has been running for three days and the crash is no longer occurring after the fixes.

[2020-04-10 13:06] #3704 closed, assigned to simonemainardi

[2020-04-10 13:09] simonemainardi opened #3737 "RTT alerts printing a table"
![image](https://user-images.githubusercontent.com/3397663/78993111-42abd380-7b3d-11ea-903c-46f387491cd6.png)

[2020-04-10 13:11] emanuele-f commented on #3725
Which linux distribution are you using? The system is into an inconsistent state, please remove everything and install ntopng cleanly from packages.ntop.org .

[2020-04-10 13:28] simonemainardi opened #3738 "Useless device disconnection alert"
Which device?

![image](https://user-images.githubusercontent.com/3397663/78994273-ec8c5f80-7b3f-11ea-9643-a6fb1b4e3400.png)

[2020-04-10 13:30] #3737 closed, assigned to emanuele-f

[2020-04-10 14:35] simonemainardi commented on #3727
Likely related to a delete of the redis database which has canceled all alert ids. Same issue would occur for flow statues stored in nIndex.

Possible solutions:
- create a readme and an automatic script './clean.sh' which deletes redis, the alerts db, and nindex
- Add a reset button from the UI which cleans redis, the alerts db and nindex upon restart.

[2020-04-10 15:01] #3738 closed, assigned to simonemainardi

[2020-04-10 15:02] simonemainardi commented on #3728
very likely, reason is the same as explained in https://github.com/ntop/ntopng/issues/3727#issuecomment-612056247

[2020-04-10 17:34] emanuele-f opened #3739 "Implement non-blocking http RTT"
The curl_multi_perform (https://curl.haxx.se/libcurl/c/curl_multi_perform.html) can be used to improve the HTTP plugin (https://github.com/ntop/ntopng/blob/dev/scripts/plugins/rtt/measurements/http.lua) with non blocking operations.

[2020-04-10 17:39] emanuele-f commented on #3618
Implemented in 306a2536939c563dca4886407c108832b8b734f5 . Please close this if satisfied.

[2020-04-10 17:58] simonemainardi opened #3740 "[RTT] HTTP parameters lint for Active Monitoring"
Currently, parameter validation is done in http_lint.lua. For the rtt plugins, validation of its parameters should be moved inside the plugin, otherwise, adding new measurement would require global modifications

[2020-04-11 05:11] sonic42 commented on #3725
Im try to compile this for IPfire, an LFS bsaed firewall distribution. The 3.8.1 version of ntopng works. The packages from packages.ntop.org are not usable for this.

[2020-04-11 09:42] lucaderi opened #3741 "Active monitoring needs refactoring"
Active monitoring is half way and needs refactoring.
- Move plugins/rtt -> plugins/active_monitoring
- Remove all references to rtt (e.g. rtt_stats.lua has to be renamed)
- Rename rtt_stats.lua to active_monitoring.lua
- Suppose to do the above things, in the "System" menu will appear two items. Why?
- Alerts have hardcoded measurement units. As you can see the measurement unit is not honoured and

[2020-04-11 09:45] lucaderi opened #3742 "Refactor RTT code"
The file ntopng/scripts/plugins/rtt/web_gui/rtt_stats.lua is a mix of template and non-template code. This needs to be harmonised and hardcoded HTML must disappear.

[2020-04-12 06:35] LeoBolien commented on #3414
Hello,
is this issue fixed in the meantime ?
I have exactly the same problem (also using InfluxDB)

Thanks and regards
Leo

[2020-04-13 17:42] rbgarga opened #3743 "Error building 4.0 on FreeBSD armv7"
I was trying to build 4.0 version of ntopng on FreeBSD 12 armv7 (amd64 built with no issues) and got following error:
[code]

[2020-04-13 19:36] simonemainardi commented on #3741
Fixed in https://github.com/ntop/ntopng/commit/32b5cecf7d0777792a0ac85b96731f0eb2fb1f1f

Addressed in https://github.com/ntop/ntopng/commit/3e14bc30f88ea0ff1b52c0bcc051052835988da9

[2020-04-13 19:39] simonemainardi commented on #3741
Additional issues connected to the active monitoring plugin that must be addressed:

- timeseries created by the plugin are hardcoded in `rrd.lua` and in `nv_graph_utils`. No plugin timeseries have to be hardcoded there
- A javascript active_monitoring_utils.js is present under `httpdocs`. This is plugin-specific and it must stay under the plugin directory
- An `active_monitoring_utils` is present

[2020-04-13 21:29] rbgarga commented on #3743
For instance, replacing `lua_tonumber()` by `lua_tointeger()` fixed the issue

[2020-04-14 06:27] lucaderi opened #3745 "[RTT] Improve active monitoring enabled/disable"
When the active monitoring script is disabled
![Screen Shot 2020-04-14 at 08 23 14](https://user-images.githubusercontent.com/4493366/79192624-5ac76f80-7e29-11ea-9f38-65660c1adfe3.png)
the menu entry for active monitoring is missing
![Screen Shot 2020-04-14 at 08 23 01](https://user-images.githubusercontent.com/4493366/79192628-5c913300-7e29-11ea-8e93-b83cff56c453.png)
This is a bad practice as it

[2020-04-14 06:29] lucaderi opened #3746 "RRD path for system interface is redundant"
/var/lib/ntopng/-1/rrd/system/-1

(-1 is listed twice)

[2020-04-14 06:31] lucaderi opened #3747 "Missing back button in scripts"
![Screen Shot 2020-04-14 at 08 23 33](https://user-images.githubusercontent.com/4493366/79193043-24d6bb00-7e2a-11ea-8fc1-849d8d1f5a49.png)

In user scripts page there is no back button making unfeseable to go back to the script page. This has to be added and likely remove /plugins/ from the title

[2020-04-14 06:36] lucaderi opened #3748 "Invalid RRD format for active monitoring"
1) As it is now possible to modify the monitoring frequency, old RRDs must be deleted and recreated and the user warned. Otherwise moving monitoring frequency from 1 min to 5 min will create empty graphs

$ rrdtool info /var/lib/ntopng/-1/rrd/monitored_host/http/__www/ntop/org/http_stats.rrd
filename = "/var/lib/ntopng/-1/rrd/monitored_host/http/__www/ntop/org/http_stats.rrd"
rrd_version = "0003"

[2020-04-14 06:38] lucaderi opened #3749 "RRD archives are not removed after updates"
When active monitoring hosts are modified/deleted, the existing timeseries must be deleted and the disk space reclaimed

$ pwd
/var/lib/ntopng/-1/rrd/rtt_host
$ ls -l
total 0
0 drwx------  3 deri  wheel   96 Mar 23 17:44 192/
0 drwx------  3 deri  wheel   96 Mar 19 20:54 8/
0 drwx------  3 deri  wheel   96 Mar 20 18:32 i7-2/
0 drwx------  3 deri  wheel   96 Apr 11 11:33 speedtest/
0 drwx------  4

[2020-04-14 06:48] lucaderi opened #3750 "[RTT] Invalid notes for active monitoring"
![Screen Shot 2020-04-14 at 08 47 31](https://user-images.githubusercontent.com/4493366/79194289-9b74b800-7e2c-11ea-993c-1edcd3dafe7f.png)

the above notes are valid only for RTT measurement. They have to be moved to the documentation, add the help button and put a limited note (short in size)

[2020-04-14 06:53] lucaderi opened #3751 "Active monitoring RRDs are not correct"
$ pwd
/var/lib/ntopng/-1/rrd/am_host/speedtest/net/speedtest
$ ls -l
total 56
56 -rw-------  1 deri  wheel  25424 Apr 14 08:50 rtt_5mins.rrd
$ rrdtool last rtt_5mins.rrd
1586847001

But even though there is a value as reported in the GUI below, the chart is empty

![Screen Shot 2020-04-14 at 08 50 30](https://user-images.githubusercontent.com/4493366/79194686-46857180-7e2d-11ea-82aa-a4963ba9fd53.p

[2020-04-14 08:05] simonemainardi commented on #3742
note that any template file should go under the plugin directory and not under httpdocs. In other words, plugins must support templates.

[2020-04-14 08:09] simonemainardi commented on #3745
Rather than allowing the user to perform a useless action, i.e, click on the menu and end up in a 'no results found', I would simply prevent the 'Active Monitoring' script from being disabled.

[2020-04-14 09:07] simonemainardi opened #3752 "Make alert ids and flow status ids constant"
Alert ids and flow status ids were constant, then in https://github.com/ntop/ntopng/issues/3221 a request was made to make them dynamic with the aim of simplifying their management. However, making them dynamic requires ntopng to keep additional mappings (alert id -> alert key, flow status id -> status key) that can go out of sync when redis is cleared. This, although improbable, yields issues suc

[2020-04-14 09:26] simonemainardi commented on #3752
Alert id and alert type are in a one-to-one mapping. It is requested to always use alert_type when referring to it. Same for flow ids.

[2020-04-14 09:52] #3743 closed, assigned to nobody

[2020-04-14 10:49] matwho opened #3753 "apt Install ntopng-data fails on RaspberryPi"
When running "sudo apt install ntopng-data" on RaspberryPi 4 new install of OS, I get:

"The following packages have unmet dependencies:
 ntopng-data : Depends: geoipupdate but it is not installable
E: Unable to correct problems, you have held broken packages"

[2020-04-14 11:22] emanuele-f commented on #3741
Hardcoded timeseries in ts_utils:delete in rrd.lua fixed in 62d1ad69db5b2738bea53baad4ed6ed8d0f44c2a . The remaining hardcoded paths in rrd.lua are necessary to provided backward RRD name compatibility (see getRRDName).

[2020-04-14 12:13] cleverchou commented on #3705
V3.9: when ntop  exports  timeeseries data to prometheus, prometheus 's targets show ERROR,  "INVALID is not a valid start token"
how to deal with it?
thank you

[2020-04-14 12:15] cleverchou opened #3754 "INVALID is not a valid start token"
V3.9: when ntop exports timeeseries data to prometheus, prometheus 's targets show ERROR, "INVALID is not a valid start token"
how to deal with it?
thank you

[2020-04-14 13:51] lucaderi opened #3755 "Rework TLS support"
In ntopng TLS support is cumbersone
- ntopng does not come with a preinstalled TLS certificate leaving HTTP as the only option. The installer should create a certificate or ntopng create it at the first run
- TLS is often still named SSL (rename)
- the certificate is stored in httpdocs/ssl/: it should be moved elsewhere outside of the documents directory and stored in a folder named tls

[2020-04-14 13:53] simonemainardi commented on #3754
Prometheus support was experimental and has been dropped. Please refer to https://github.com/ntop/ntopng/issues/3705

[2020-04-14 13:53] #3754 closed, assigned to nobody

[2020-04-14 13:56] simonemainardi commented on #3753
geoipupdate is not available on pi and package `ntopng` no longer depends on ntopng-data.

Follow https://github.com/ntop/ntopng/blob/dev/doc/README.geolocation.md#using-geolocation-when-ntopng-data-is-not-available

[2020-04-14 16:00] emanuele-f commented on #3741
Remaining requests implemented in 0ad1b6551240562a7f4f497c33fc04b0ac123248

[2020-04-14 16:00] #3741 closed, assigned to emanuele-f

[2020-04-14 16:05] emanuele-f commented on #3742
Template support added in 0ad1b6551240562a7f4f497c33fc04b0ac123248 . See `plugins_utils.renderTemplate`

[2020-04-14 16:32] whoknowz opened #3756 "nEdge VLAN trunks doesn't passthrough"
When passing tagged multiple VLANs through the bridge mode nEdge doesn't pass traffic.
In a virtual machine either with PCI passthrough or vSwitch ports are same.
Same VM configured with standard linux bridge works fine on both scenarios.
Installation of nEdge breaks standard linux bridge functionality, uninstallation of nEdge doesn't help either.

[2020-04-14 19:38] lucaderi opened #3757 "Unable to delete alerts"
![Screen Shot 2020-04-14 at 21 37 41](https://user-images.githubusercontent.com/4493366/79266658-348ce880-7e98-11ea-993d-884287bdb485.png)

14/Apr/2020 21:36:44 [LuaEngine.cpp:12594] WARNING: Script failure [/Users/deri/network/ntopng/scripts/lua/get_alerts_table_data.lua][...deri/network/ntopng/scripts/lua/modules/format_utils.lua:192: attempt to perform arithmetic on a nil value (local 'epoch')]

[2020-04-14 19:40] lucaderi opened #3758 "Broken host page"
![Screen Shot 2020-04-14 at 21 40 03](https://user-images.githubusercontent.com/4493366/79266838-859cdc80-7e98-11ea-9ef1-0039e57e4502.png)

http://localhost:3000/lua/host_details.lua?page=flows&host=fe80::1cc4:bdba:560b:6dac

[2020-04-14 20:14] #3758 closed, assigned to simonemainardi, emanuele-f

[2020-04-14 20:31] lucaderi opened #3759 "[Alerts Aggregation] Invalid alert aggregation"
![Screen Shot 2020-04-14 at 22 30 56](https://user-images.githubusercontent.com/4493366/79271173-a9175580-7e9f-11ea-827e-5fb509418143.png)

[2020-04-14 20:32] lucaderi opened #3760 "Add SSDP to the list of allowed protocol for multimedia devices"
![Screen Shot 2020-04-14 at 22 30 56](https://user-images.githubusercontent.com/4493366/79271235-c0564300-7e9f-11ea-854b-3f9ec4a7d2fb.png)

[2020-04-14 20:34] lucaderi opened #3761 "Hide SSH menu when no fingerprints are present"
![Screen Shot 2020-04-14 at 22 33 07](https://user-images.githubusercontent.com/4493366/79271388-04e1de80-7ea0-11ea-8b2b-58fabb8a278f.png)

[2020-04-14 20:34] lucaderi opened #3762 "Hide TLS menu when no fingerprints are present"
![Screen Shot 2020-04-14 at 22 33 01](https://user-images.githubusercontent.com/4493366/79271447-1b883580-7ea0-11ea-833e-f174f7c2bc6a.png)

[2020-04-15 08:56] emanuele-f commented on #3748
Please note that `/var/lib/ntopng/-1/rrd/monitored_host` refers to a path in the old implementation, please remove it with `rm -rf /var/lib/ntopng/-1/rrd/monitored_host`. The current path is `/var/lib/ntopng/-1/rrd/am_host`. When the granularity changes, the old RRD are now deleted (fixed in 4bd04e7e4c82e58d3f850400d6aeefd4d2e3603e). Regarding the repeated "speedtest" string in the RRD path, the p

[2020-04-15 08:56] #3748 closed, assigned to emanuele-f

[2020-04-15 08:59] emanuele-f commented on #3756
We are already providing support via email, please don't double post.

[2020-04-15 08:59] #3756 closed, assigned to nobody

[2020-04-15 10:11] simonemainardi commented on #3726
you have this feature if you go to the host page. I think we should implement the 'resurrect' of in active hosts.

[2020-04-15 10:12] simonemainardi commented on #3752
Ids are now constant for both flow statuses and alert keys.

Changes are reported both on dev and stable:

- dev: https://github.com/ntop/ntopng/commit/4177ee61ab3a649ec4c9306110b7e3205b4f0111
- stable: https://github.com/ntop/ntopng/commit/6c7bf43800c556c473245b994333dbe700399110

Constants are defined in:

- https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/alert_keys.lua
- https://git

[2020-04-15 10:12] #3752 closed, assigned to simonemainardi

[2020-04-15 10:14] simonemainardi commented on #3757
Page was broken due to a redis flush which caused alert ids to become invalid. Alerts with invalid ids, in turn, broke the page when trying to generate it. Now alert ids are constant so redis flushes won't affect them https://github.com/ntop/ntopng/issues/3752

[2020-04-15 10:14] #3757 closed, assigned to simonemainardi

[2020-04-15 10:15] simonemainardi commented on #3728
Confirm issue was due to https://github.com/ntop/ntopng/issues/3727#issuecomment-612056247

Solved in https://github.com/ntop/ntopng/issues/3752

[2020-04-15 10:15] #3728 closed, assigned to nobody

[2020-04-15 10:16] simonemainardi commented on #3727
Confirm issue was due to the explanation above. Solved with https://github.com/ntop/ntopng/issues/3752

[2020-04-15 10:16] #3727 closed, assigned to simonemainardi

[2020-04-15 10:17] simonemainardi commented on #3734
Please check if, apart from the time, other issues have been solved after https://github.com/ntop/ntopng/issues/3752

[2020-04-15 10:18] simonemainardi commented on #3733
Broken alert ids may have led you to the wrong link. Please, check if issue is solved after the fix in https://github.com/ntop/ntopng/issues/3752

[2020-04-15 10:55] #3751 closed, assigned to simonemainardi, emanuele-f

[2020-04-15 12:04] lucaderi opened #3764 "InfluxDB 2.0 Support"
In InfluxDB 2.0 HTTP requests need to use a token generated inside influxDB itself. This means that ntopng is unable to talk with the database

Evaluate the use of /metric scraper that can simplify many things

[2020-04-15 12:11] emanuele-f commented on #3725
Please note that we don't officially support such distribution. I suggest you to perform the following steps for a cleanup:

- stop any running ntopng instances
- uninstall all the installed ntopng instances
- delete all the ntopng data: `redis-cli flushall` then `rm -rf /var/lib/ntopng`
- `git pull` the latest nDPI and ntopng source, then compile nDPI first and then ntopng

[2020-04-15 12:15] emanuele-f commented on #3686
It all depends on the order in which ntopng scans the SNMP devices. The 24 seconds device may not be scanned at all if the other SNMP devices take a lot of time to complete. The #3058 issue should improve this. Also we should consider making parallel requests to the SNMP devices.

[2020-04-15 12:44] simonemainardi commented on #3759
what is invalid? note that aggregation of similar alerts is done if alerts are within 5 minutes one from the other. please explain.

[2020-04-15 12:47] emanuele-f commented on #3749
Fixed in 4bd04e7e4c82e58d3f850400d6aeefd4d2e3603e

[2020-04-15 12:47] #3749 closed, assigned to emanuele-f

[2020-04-15 13:52] emanuele-f commented on #3729
There was a bug in the alert names used to references the alerts. More drilldown links have also been added.

[2020-04-15 13:52] #3729 closed, assigned to emanuele-f

[2020-04-15 14:21] emanuele-f opened #3765 "Flow Alerts Explorer script failure"
[code]

[2020-04-15 15:13] #3762 closed, assigned to nobody

[2020-04-15 15:13] #3761 closed, assigned to nobody

[2020-04-15 15:48] emanuele-f commented on #3732
There are multiple inconsistencies in how the timezones are handled:

![2020-04-15_17-46](https://user-images.githubusercontent.com/5488003/79358097-59349f00-7f30-11ea-996a-04015f46daa8.png)

Some of them are now fixed in c6b43f1af3cc4760c53c751a24089aa2a9bbd65a by using the client provided timezone in the time formatting lua functions.

[2020-04-15 15:51] #3618 closed, assigned to emanuele-f

[2020-04-15 15:55] emanuele-f commented on #3740
Note: the backend support for custom http_lint is already implemented.

[2020-04-15 15:56] emanuele-f commented on #3678
This is now implemented

[2020-04-15 15:56] #3678 closed, assigned to emanuele-f

[2020-04-15 15:58] scdit46 opened #3766 "MACS: all are 00:00:00:00:00:00"
In ntop v4 all MACS displayed are 00:00:00:00:00:00

Is normal?

[2020-04-15 16:49] lucaderi commented on #3766
Do you collect flows or packets?

[2020-04-15 16:53] emanuele-f opened #3767 "[RTT] Remove fmbit js function"

[2020-04-15 16:54] emanuele-f opened #3768 "[RTT] Fix chart label"
The label show `Millis_rtt`, this should be fixed

[2020-04-15 16:57] emanuele-f opened #3769 "[RTT] Disable used unique measurements"
When a speedtest host is already defined, the speedtest measurement should be disabled in the "Add Active Monitoring Host" dropdown

[2020-04-15 16:59] emanuele-f opened #3770 "[RTT] Add measurement localized title"

[2020-04-15 17:06] scdit46 commented on #3766
Flows

[2020-04-15 17:10] scdit46 opened #3771 "I have configured the local network and the local host is not displayed"
Ago 30 minutes In ntopng.conf I have configured the parameter "m" (local network),  -m=192.168.1.0/24

And now I don´t see my hosts!!!

[2020-04-15 17:11] lucaderi opened #3772 "Missing last measured point from graph and invalid measurement unit in graph"
![Screen Shot 2020-04-15 at 19 07 03](https://user-images.githubusercontent.com/4493366/79366356-59db2e80-7f4c-11ea-9d5e-fdec4eb66270.png)
![Screen Shot 2020-04-15 at 19 04 22](https://user-images.githubusercontent.com/4493366/79366360-5c3d8880-7f4c-11ea-9bc8-efe38d755279.png)
![Screen Shot 2020-04-15 at 19 10 46](https://user-images.githubusercontent.com/4493366/79366631-d706a380-7f4c-11ea-91ac-8

[2020-04-15 17:12] emanuele-f opened #3773 "[RTT] Sort not working in Active Monitoring page"

[2020-04-15 17:13] scdit46 commented on #3771
Now the local host appers:

**NoIP**:58236 | 185.199.110.154  :https

[2020-04-15 17:14] emanuele-f opened #3774 "[RTT] Add ability to filter by measurement"
The Active Monitoring page mixes multiple measurements into a single page (e.g. ICMP and HTTP). It is requested to add a dropdown to the datatable to filter only a specific measurement type (e.g. only show ICMP measurements).

[2020-04-15 17:25] cardigliano opened #3775 "Add OEM mode"
Add an OEM mode (checking the presence of a custom logo and setting a redis key should work) in order to:
- Disable automatic updates from the ntop repo
- Disable the ntop's blog post updates

[2020-04-15 17:32] simonemainardi commented on #3766
default template include mac addresses, if you are using a custom template, you need to make sure it contains SRC and DST mac addresses

[2020-04-15 18:32] sonic42 commented on #3725
The last versions nDPI f4c2466 and ntop 81232c2 are now working. `redis-cli flushall` had no effect. Fresh install and update from 3.8.1 are tested. Thanks for your support.

[2020-04-15 19:10] scdit46 commented on #3766
When I have configured the local network is solved!

El mié., 15 abr. 2020 a las 19:32, simonemainardi (<notifications@github.com>)
escribió:

[2020-04-15 19:27] lucaderi opened #3776 "Invalid time drill down on alerts"
![Screen Shot 2020-04-15 at 21 25 54](https://user-images.githubusercontent.com/4493366/79379800-be53b900-7f5f-11ea-85a4-bcc256de4101.png)
![Screen Shot 2020-04-15 at 21 26 04](https://user-images.githubusercontent.com/4493366/79379805-c0b61300-7f5f-11ea-8969-45d73d80acd0.png)
As you can see I would expect a zoom from 19:05 to 21:27

[2020-04-15 19:34] lucaderi opened #3777 "[RTT] Unreachable system is not reported properly"
![Screen Shot 2020-04-15 at 21 29 15](https://user-images.githubusercontent.com/4493366/79380345-9fa1f200-7f60-11ea-818b-cadde9237c62.png)

This host has been unreachable from 20:09 to 20:26. Looking at the graph this is not obvious. Actually it seems that no measurement was made during that period, but the truth is that the measurement happened and the host was unreachable. This needs to be depic

[2020-04-15 19:39] lucaderi opened #3778 "Reconcile add (+) button label/icon across tables"
![Screen Shot 2020-04-15 at 21 38 09](https://user-images.githubusercontent.com/4493366/79380920-6d44c480-7f61-11ea-9580-fd87a4ec977c.png)
![Screen Shot 2020-04-15 at 21 37 59](https://user-images.githubusercontent.com/4493366/79380923-6e75f180-7f61-11ea-9aa4-17aa3bce8961.png)
![Screen Shot 2020-04-15 at 21 37 42](https://user-images.githubusercontent.com/4493366/79380926-6f0e8800-7f61-11ea-93be-e

[2020-04-15 19:43] lucaderi opened #3779 "[RTT] Discrepancy in active and passive monitoring results"
See #3777 for more information about the host unreachability time window.

During such time window, the monitored host was reachable but unresponsive. However this is the errore reported in the past alerts window.
![Screen Shot 2020-04-15 at 21 41 35](https://user-images.githubusercontent.com/4493366/79381218-ee9c5700-7f61-11ea-821d-ee49c77e7870.png)

As you can see the time window of this alert a

[2020-04-15 19:46] lucaderi opened #3780 "Alert: implement alerts collapsing"
![Screen Shot 2020-04-15 at 21 45 09](https://user-images.githubusercontent.com/4493366/79381522-679bae80-7f62-11ea-982a-a2624e8430e5.png)

In expect all the above alerts to be collapsed (count > 1) into one

[2020-04-15 19:49] lucaderi opened #3781 "Reconcile flow page description"
![Screen Shot 2020-04-15 at 21 47 40](https://user-images.githubusercontent.com/4493366/79381750-c06b4700-7f62-11ea-9b35-2bcd5c88c8fb.png)

- This page is about alerted flows, so the bottom comment about misbehaving should not be included here
- As there is a help icon in the upper right corner the bottom note could probably be omitted as users already know how to access the help page

[2020-04-15 21:07] gabryon99 commented on #3747
Fixed. https://github.com/ntop/ntopng/commit/1e5376da95e5df333ee4613813a80220035dc49b

[2020-04-15 21:07] #3747 closed, assigned to gabryon99

[2020-04-16 06:49] benjamingroeber commented on #3775
Hi!

Would it be possible to also not show the telemetry banner on the landing page when OEM mode is active?
![image](https://user-images.githubusercontent.com/6244046/79423466-f4745580-7fbe-11ea-9d67-47329fbc6686.png)

Also I feel like the Remote Assistance feature should not be available in an OEM deployment.

[2020-04-16 07:32] simonemainardi opened #3782 "SMTP password sent in plaintext in an alert"
The body of an alert (which is going to be sent via email) contains the smtp password in plaintext.

[code]

[2020-04-16 07:53] simonemainardi commented on #3105
To export alerts to ES - ELK means ElasticSearch-LogStash-Kibana, we are sending to ElasticSearch only - a new alert endpoint needs to be implemented.

Alert endpoints are the standard mechanism for ntopng to send alerts to the outside: https://www.ntop.org/guides/ntopng/plugins/alert_endpoints.html

This alert endpoint will only available when ntopng has been started with -F "es;..." and it will

[2020-04-16 07:56] emanuele-f opened #3783 "Crash with LDAP auth in Centos 8"
[code]

[2020-04-16 07:58] emanuele-f opened #3784 "LDAP authentication failure in Centos 8"
The login fails with the following message:

`09/Apr/2020 21:10:00 [LdapAuthenticator.cpp:113] ERROR: There is more than one group with asdasd`

where `asdasd` is the user name

[2020-04-16 08:17] simonemainardi opened #3785 "ht_stats_update stuck"
ntopng Enterprise Edition v.4.1.200328

interface is a ZMQ

![image](https://user-images.githubusercontent.com/3397663/79431815-3b684800-7fcb-11ea-9018-756a34e91d3f.png)

[2020-04-16 08:56] emanuele-f commented on #3767
Addressed in aa2ad9c66eb885a134382ffbecf2b14901744ff0.

[2020-04-16 09:09] emanuele-f commented on #3768
Fixed in a3ff00584a1c3e2c2c1cc6bedb19f7554ed8c977

[2020-04-16 09:18] #3767 closed, assigned to emanuele-f

[2020-04-16 09:20] emanuele-f commented on #3770
Fixed in 01214d47db7d5c481c3337dfa3e3f288db39ba6e

[2020-04-16 09:23] simonemainardi commented on #3768
can you rename the variables rtt with active monitoring? I mean it is ok to have rtt for icmp and http, but not for speedtest

[2020-04-16 09:33] emanuele-f commented on #3773
Fixed in edd119ce6187589f1a8886de2ebc9d90833b0f09

[2020-04-16 09:46] simonemainardi commented on #3785
I suspect issue is connected with MySQL.

I attached to the process using gdb. As soon as I entered, I found a SIGNAL as follows

[code]

I hit `c` to continue and found the ht_state_update started to work again.

[2020-04-16 09:48] simonemainardi commented on #3785
it blocked roughly after 8 days of execution

[2020-04-16 09:51] simonemainardi commented on #3785
mysql timeouts are as follow

[code]

[2020-04-16 10:17] sklammer2k opened #3786 "Error with missing lua scripts when starting ntopng"
Hey guys,
i compiled ntopng for use on ipfire. The Compilation was successful and the redis-server is runing. When I start ntopng using ntopng -i INTERFACENAME
I get the following error:

16/Apr/2020 10:15:37 [LuaEngine.cpp:12095] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/system/timeseries.lua][/usr/share/ntopng/scripts/lua/modules/locales_utils.lua:5: module 'i18n' not found:

[2020-04-16 10:27] emanuele-f commented on #3769
Fixed in 5adfed56058c9ddbc2a97b08cd0dfec1d77066c0

[2020-04-16 10:29] simonemainardi commented on #3785
Seems that, by default, the process is set to ignore SIGPIPE:

[code]

[2020-04-16 10:43] emanuele-f commented on #3750
Notes updated in a5709eadd34571768d6cd729d23d761b4caccb73 . Docs need to be updated

[2020-04-16 11:00] #3768 closed, assigned to emanuele-f

[2020-04-16 11:01] simonemainardi commented on #3768
Label changed as expected. Rename done as well

[2020-04-16 11:07] #3766 closed, assigned to nobody

[2020-04-16 12:21] emanuele-f commented on #3786
It seems like ntopng is not properly installed. What is the expected installation path in your system?

[2020-04-16 12:22] lucaderi commented on #3786
Sorry we have no knowledge of ipfire. Please try to reproduce the issue with a platform we support (e.g. ubuntu) and we'll assist. The bug however is clear 'module 'i18n' not found:' so the installation is the problem

[2020-04-16 12:22] #3786 closed, assigned to nobody

[2020-04-16 12:26] emanuele-f commented on #3755
See also #2764

[2020-04-16 12:28] emanuele-f commented on #3414
The comments described above went off topic. Please open a new issue with detailed information on what issue are you experiencing along with some screenshots. Please also report the output of `ntopng --version`.

[2020-04-16 12:28] #3414 closed, assigned to nobody

[2020-04-16 12:33] emanuele-f commented on #3731
Please note that a datatable with the disabled alerts is already implemented (see `printDisabledAlerts` in `alert_utils.lua`), however it is not shown (this should be investigated).

[2020-04-16 12:33] emanuele-f commented on #3724
Please check out https://www.ntop.org/nprobe/network-monitoring-101-a-beginners-guide-to-understanding-ntop-tools/

[2020-04-16 12:33] #3724 closed, assigned to nobody

[2020-04-16 13:28] simonemainardi opened #3787 "Centos 7.7 traffic double-counted with standard pcap"
It seems when centos 7.7 uses pcap drivers (and not pfring) it double-counts the interface traffic.

Interface timeseries and interface realtime traffic are doubled, whereas hosts and flows report the correct traffic values.

[2020-04-16 13:31] emanuele-f commented on #3777
The proposed solution is to add a new metric to the existing `am_host:rtt_min` and related charts called "unreachable". Such metric can be 0 (reachable or unknown) or 1 (unreachable). Then a chart like the following can be created:

![79380345-9fa1f200-7f60-11ea-818b-cadde9237c62](https://user-images.githubusercontent.com/5488003/79461801-2ea51d80-7fe6-11ea-842d-dfceb7f3363b.png)

[2020-04-16 13:34] emanuele-f commented on #3779
I don't get the relation between the unresponsive host (www.ntop.org) and the Luca's iMac host, please explain

[2020-04-16 13:36] emanuele-f commented on #3725
You are welcome.

[2020-04-16 13:36] #3725 closed, assigned to emanuele-f

[2020-04-16 13:37] emanuele-f commented on #3771
Please post a screenshot of the ntopng gui.

[2020-04-16 13:48] simonemainardi commented on #3769
not working. de-selecting a re-selecting the dropdowns enable the speedtest again

<img width="779" alt="image" src="https://user-images.githubusercontent.com/3397663/79463921-bcd6cf00-7ff9-11ea-9fa0-b42c395545f6.png">

<img width="786" alt="image" src="https://user-images.githubusercontent.com/3397663/79463935-c2341980-7ff9-11ea-972b-26305034fde0.png">

[2020-04-16 13:50] #3750 closed, assigned to simonemainardi, emanuele-f

[2020-04-16 13:55] simonemainardi commented on #3773
not working:

<img width="1158" alt="image" src="https://user-images.githubusercontent.com/3397663/79464671-a8df9d00-7ffa-11ea-8d07-bc6fd042021e.png">

<img width="1177" alt="image" src="https://user-images.githubusercontent.com/3397663/79464685-ada45100-7ffa-11ea-98f4-9de250fa195a.png">

[2020-04-16 13:56] #3770 closed, assigned to emanuele-f

[2020-04-16 14:00] emanuele-f commented on #3776
Fixed in 6f2f9b223f751e1aa8cf6609f742d145df1ec080

[2020-04-16 14:26] simonemainardi commented on #3775
currently, function `ntop->getPro()->is_oem()` is used to determine if in oem or not. maybe you need to expose it to lua

[2020-04-16 14:54] simonemainardi commented on #3769
seems this is an issue which occurs on FF for os X

<img width="620" alt="image" src="https://user-images.githubusercontent.com/3397663/79471267-b3059980-8002-11ea-80c4-3417b7b4b826.png">

the entry is disabled (actually I cannot select it) but still the style looks like as if it was enabled.

<img width="1036" alt="image" src="https://user-images.githubusercontent.com/3397663/79471353-cd3f7780-80

[2020-04-16 15:16] emanuele-f commented on #3773
Sorting on such column has been removed in 0b6ba8edd009779ef478ffeb7a4daa9648169726 as discussed. The commit also includes a fix for the numeric values sort as explained in https://datatables.net/forums/discussion/58037/how-to-sort-a-rendered-numeric-column .

[2020-04-16 15:16] #3773 closed, assigned to emanuele-f

[2020-04-16 15:39] simonemainardi commented on #3105
JSONs have been reviewed as follow:

[code]
-----

This is a structure for flow alerts:

[code]

-----

(1) and (4) defined at strings listed at /lua/defs_overview.lua
(2)  listed at https://github.com/ntop/ntopng/blob/fae050b90a8eacf8d1dd64b9142b02b5f54753c8/scripts/lua/modules/alert_consts.lua#L299
(3)  listed at https://github.com/ntop/ntopng/blob/fae050b90a8eacf8d1dd64b9142b02b5f54753c8/script

[2020-04-16 15:59] emanuele-f commented on #3769
Changes implemented in ab82d57ca42251d01a71eacf257ae10d88a7a06e .

[2020-04-16 18:07] simonemainardi commented on #3776
this doesn't work for me.

![image](https://user-images.githubusercontent.com/3397663/79490482-38964300-801d-11ea-9767-d4731a92047b.png)

Clicking on a drilldown button gives me a page without end date (this happens sopradically)

![image](https://user-images.githubusercontent.com/3397663/79490147-b73eb080-801c-11ea-9c2c-359c1d7d5f71.png)

going back and re-click gives result but the time is not c

[2020-04-16 19:27] #3781 closed, assigned to nobody

[2020-04-16 19:48] #3782 closed, assigned to nobody

[2020-04-16 20:13] simonemainardi opened #3788 "[RTT] Speedtest: non-existing initial point drawn"
After adding speedtest, as soon as the FIRST measure is performed, two points appear in the chart, and the first one doesn not exist in reality (is it a pad?)

In the image show, the only measure which exists is at 22:10, at 22:00 no point or measure exists but a point appears in the chart (and is equal to the actual measure at 22:10)

<img width="1271" alt="image" src="https://user-images.githubu

[2020-04-16 20:13] simonemainardi commented on #3772
- Unit of measure fixed in https://github.com/ntop/ntopng/commit/a3ff00584a1c3e2c2c1cc6bedb19f7554ed8c977
- now the first point is no longer missing but it seems the first point is duplicated, yielding to non-existing point drawn https://github.com/ntop/ntopng/issues/3788

[2020-04-16 20:13] #3772 closed, assigned to emanuele-f

[2020-04-16 20:15] simonemainardi commented on #3769
Thank you. Now it is OK.

[2020-04-16 20:15] #3769 closed, assigned to emanuele-f

[2020-04-16 20:20] simonemainardi commented on #3765
Fixed in the pro branch.

[2020-04-16 20:20] #3765 closed, assigned to nobody

[2020-04-16 20:20] simonemainardi commented on #3753
Response to question given. Closing.

[2020-04-16 20:20] #3753 closed, assigned to nobody

[2020-04-16 20:22] simonemainardi commented on #3708
can we arrange a remote session?

[2020-04-16 20:22] simonemainardi commented on #3693
any news?

[2020-04-16 20:23] StewAlexander-com commented on #3708
Perhaps next week, I will let you know, thanks

[2020-04-16 20:27] simonemainardi commented on #3658
Internet Explorer is End of Life, we not going to support it further. Even Microsoft recommends using Edge

Source: https://support.microsoft.com/en-us/help/17454/lifecycle-faq-internet-explorer-and-edge

[2020-04-16 20:27] #3658 closed, assigned to nobody

[2020-04-16 20:28] simonemainardi commented on #3642
Cross compiling with build root is not supported. Currently, we cannot maintain it. If you want to take care of this, please send us a pull request and we will include it.

[2020-04-16 20:28] #3642 closed, assigned to nobody

[2020-04-16 20:29] simonemainardi commented on #3632
please remove the entries from the dropdown when not available

[2020-04-16 20:31] simonemainardi commented on #3441
any news here?

[2020-04-16 20:32] simonemainardi commented on #3227
any news?

[2020-04-16 20:33] simonemainardi commented on #3138
Sorry for the late feedback and thanks for providing this info. We are going to rework how snmp devices are polled to handle possibly long pools. Stay tuned.

[2020-04-16 20:34] simonemainardi commented on #3095
Currently, ldap auth is based on groups and we cannot accomodate this request unless we see multiple users demanding this feature.

[2020-04-16 20:34] #3095 closed, assigned to nobody

[2020-04-16 20:42] lucaderi commented on #3779
On this host I have performed active tests via ntopng right? As theyh have failed for over 25 minutes (see #3777 ) I would expect to see unresponsiveness for about 25 mins and not for 9 mins like in ht picture above.

[2020-04-16 20:43] lucaderi opened #3789 "[RTT] Speediest alarms are not generated"
![Screen Shot 2020-04-16 at 22 40 38](https://user-images.githubusercontent.com/4493366/79504713-9c2b6b00-8033-11ea-859c-ee875f67fca3.png)
![Screen Shot 2020-04-16 at 22 40 51](https://user-images.githubusercontent.com/4493366/79504720-9f265b80-8033-11ea-8996-af54ccb7bf4f.png)
As you can see the threshold is 100 Mbit, measurement is ~50 Mbit and no alert is generated

[2020-04-16 20:47] lucaderi commented on #3777
How is this implemented? Do you want to have a second timeseries and hide it (so it's a trick in essence)? Or this will be a clean solution that can be used in other active measurement? Please elaborate

[2020-04-16 20:49] lucaderi opened #3790 "Alarm description is too verbose"
![Screen Shot 2020-04-16 at 22 48 48](https://user-images.githubusercontent.com/4493366/79505323-836f8500-8034-11ea-9d43-504ee448cece.png)
For long descriptions people should read manuals

[2020-04-16 20:53] lucaderi commented on #3733
![Screen Shot 2020-04-16 at 22 52 57](https://user-images.githubusercontent.com/4493366/79505689-0b558f00-8035-11ea-901a-2e4c0b7bd159.png)
Drilldown button disappeared: can't check anymore (nIndex is enabled).  (build of v.4.1.200416)

[2020-04-16 20:54] lucaderi commented on #3734
As reported in #3733  the drill down button is gone (build of v.4.1.200416)

[2020-04-17 06:38] lucaderi opened #3791 "[RTT] Traffic graphs are invalid"
![Screen Shot 2020-04-17 at 08 36 37](https://user-images.githubusercontent.com/4493366/79539474-afb3f180-8086-11ea-9199-119a2399b904.png)
After the recent changes, the traffic charts have now a different bug. As you can see the first point is non zero, but it is depicted as zero

[2020-04-17 08:10] emanuele-f commented on #3776
The drilldown logic shows at least 1 hour interval, centered on the alert time. The chart is not centered because the right bound is cut at the "now" timestamp. Please explain the proposed changes.

[2020-04-17 08:21] emanuele-f commented on #3777
The `am_host:rtt_min` will have a second metric "unreachable" which is charted like the other metrics. It will use the right chart axis as the y axis. This can be reused in other measurements but will require changes to such measurements. Please note that the proposed approach only works with the Pro charts as custom schemas (see https://github.com/ntop/ntopng/blob/dev/doc/README.charts#L87) are o

[2020-04-17 08:34] emanuele-f commented on #3733
The drilldown is only avaiable for certain alerts (see `nv_graph_utils.getAlertGraphLink`) when a related chart/nIndex series can be shown. It is not supported for the "Suspicious Device Protocol" since we don't have mac address information in nIndex nor the application timeseries for L2 devices.

[2020-04-17 08:50] cleverchou opened #3792 "automatic saving"
After configuring Timeseries on the preferences page, I  don't want to click botton Save, which can achieve automatic saving
How to deal with it?
thank you

[2020-04-17 09:04] emanuele-f commented on #3791
Can you provide the raw data by clicking on the chart icon?

![2020-04-17_11-03](https://user-images.githubusercontent.com/5488003/79552233-47ffa580-808a-11ea-8a29-639e3dac1d17.png)

The value reported into the chart is 85 bit/s so it is normal that it is very near to 0 as the scale is in the order of mbits

[2020-04-17 09:25] emanuele-f commented on #3788
The duplicate point was caused by a bad RRD creation timestamp, now fixed in fdadaca950003a198ce151e2dbde445ae7c8bd44 . The first 0 point is present in all the charts since NaN RRD values are replaced with 0. I'm checking if it's possible to pass NaN values to the charts without breaking them.

[2020-04-17 09:48] emanuele-f commented on #3788
![2020-04-17_11-46](https://user-images.githubusercontent.com/5488003/79556256-594bb080-8090-11ea-9f46-30570a3f27db.png)

The desired behaviour for the first 0 point can be accomplished by setting `fill_value=0/0` in `ts_utils.getQueryOptions` as shown in the picture above. However, this breaks some charts (e.g. itnerface top applications) and have many potential impacts on other charts, potential

[2020-04-17 10:23] emanuele-f commented on #3789
Fixed in 35be58ede970e1e2daaa7e2d50e7df7fba67c1ed

[2020-04-17 10:31] simonemainardi commented on #3776
behavior is OK now

[2020-04-17 10:31] #3776 closed, assigned to emanuele-f

[2020-04-17 10:32] emanuele-f commented on #3791
The issue is related to the fact that we have changed the timeseries format from "mbits" to "bits", so before the nightly update the old mbit value is being reported.

[2020-04-17 10:42] emanuele-f commented on #3791
In 0968c7b984ece817855d32f170a94634087c1c23 the timeseries has been renamed, so the old data is now discarded. This fixes the current issue.

[2020-04-17 13:08] emanuele-f commented on #3740
Implemented in f94f784c0fa821f4bc0c2d9330237571fbcf80f4

[2020-04-17 14:01] emanuele-f commented on #3745
Implemented in aab41dd66eff62418d460a0214bb02da58a05ef5

[2020-04-17 14:25] emanuele-f commented on #3777
In 947fee33b2d539e2db5ab6be67e8cb4d55ae51c0 now 0 is written for unreachable hosts. Such data can be obtained by manually querying the timeseries data via the REST endpoint:

http://127.0.0.1:3000/lua/rest/get/timeseries/ts.lua?ts_schema=am_host:value_min&ts_query=ifid:-1,host:ntop.org,measure:icmp&extended=1&no_fill=1&epoch_begin=1587129680&epoch_end=1587133280

or from lua:

[code]

[2020-04-17 15:55] emanuele-f commented on #3779
Such test requires a perfectly clean environment as other background HTTP requests may influence the result. Analyzing the information provided above, it seems like the environment is not clean, here is the explanation.

According to the active monitoring page, the host became unreachable at 20:09 . Here is the relevant sequence of events:

1. at 20:09 the host became unreachable
2. at 20:10 runs

[2020-04-17 16:08] #3787 closed, assigned to cardigliano

[2020-04-17 16:57] simonemainardi commented on #3791
after the update, with speedtest already configured, I got this.

<img width="1177" alt="image" src="https://user-images.githubusercontent.com/3397663/79594152-d3098b80-80dc-11ea-8f5f-98ab75a1bb35.png">

Value back to normal after the first speed test has run.

Double point no longer exists.

[2020-04-17 16:57] #3791 closed, assigned to simonemainardi, emanuele-f

[2020-04-17 16:58] simonemainardi commented on #3788
double initial point fixed.

[2020-04-17 16:58] #3788 closed, assigned to emanuele-f

[2020-04-17 17:15] #3789 closed, assigned to emanuele-f

[2020-04-17 17:17] simonemainardi commented on #3792
This is not supported. We want the user to explicitly select "Save" to make sure any change is always explicitly acknowledged.

[2020-04-17 17:17] #3792 closed, assigned to nobody

[2020-04-17 17:20] #3745 closed, assigned to simonemainardi, emanuele-f

[2020-04-17 17:23] #3740 closed, assigned to emanuele-f

[2020-04-17 17:33] simonemainardi opened #3793 "Chart y-scale not showing all data"
Pinging a localhost doesn't show the actual measured values, just points without y vals.

<img width="1134" alt="image" src="https://user-images.githubusercontent.com/3397663/79597217-2c27ee00-80e2-11ea-87ea-ae5f456684d0.png">

<img width="1156" alt="image" src="https://user-images.githubusercontent.com/3397663/79597224-30540b80-80e2-11ea-85fd-b8f380d6930a.png">

<img width="1118" alt="image" src=

[2020-04-17 23:48] GewoonGijs opened #3794 "Mac OS version gives errors"
When I use ntopng to monitor traffic on my Fritz.box form my Mac (Catalina) it starts to run fine, but after a while I get these errors:
`
1:35:57 [Redis.cpp:119] ERROR: MISCONF Redis is configured to save RDB snapshots, but it is currently not able to persist on disk. Commands that may modify the data set are disabled, because this instance is configured to report errors during writes if RDB snap

[2020-04-18 10:03] scdit46 opened #3795 "00:00:00:00:00:00 , what is this?"
Device 00:00:00:00:00:00 got the IP address 192.168.1.3 which is outside the configured DHCP range. [Sender: 00:00:00:00:00:00]
--

Remote host WORK-PT [ 00:00:00:00:00:00 ] has contacted a remote host. Remote-to-remote flows available from the flow alerts page.

---

ARP traffic from 00:00:00:00:00:00/95.18.47.106 to 00:00:00:00:00:00/192.168.1.111 detected. It is unlikely to see ARP traffic betw

[2020-04-18 10:06] scdit46 opened #3796 "does ntopng work in Layer 7?"
hello,

ntopng inspect the packet in layer 7 application?
How to know notpng what a flow is http?????

regards

[2020-04-18 14:20] martinscheu opened #3797 "lua callback for packet payload"
Hello,
Saving somewhere *only* the packet payload triggered after DPI protocol detection and make it available through lua callback.
Example with the IEC 60870 protocol:
Frame 13: 96 bytes on wire (768 bits), 96 bytes captured (768 bits)
Ethernet II, Src: CheckPoi_85:c9:2f (00:1c:7f:85:c9:2f), Dst: Oracle_42:aa:f5 (00:14:4f:42:aa:f5)
Internet Protocol Version 4, Src: 172.21.10.98, Dst: 172.21.3.61

[2020-04-19 13:23] lucaderi commented on #3742
@emanuele-f While @gabryon99 will handle the GUI you need to cleanup the code (get_active_monitoring_hosts.lua and active_monitoring_utils.lua etc)
- still reference rtt. Example active_monitoring_host.max_rtt -> active_monitoring_host.threshold
- last_measure -> last_measurement
and so on. RTT as keyword must disappear as this sia a generic module not only for RTT

[2020-04-19 14:02] lucaderi opened #3798 "Alerts are not updated as the the threshold changes"
![Screen Shot 2020-04-19 at 15 58 46](https://user-images.githubusercontent.com/4493366/79689688-b2fdd780-8256-11ea-81d6-d635ead757a7.png)
In the above example the threshold is set to 100 and thus there is an alert
![Screen Shot 2020-04-19 at 15 59 40](https://user-images.githubusercontent.com/4493366/79689696-cc9f1f00-8256-11ea-9d85-68f0a0d17238.png)
Changing the threshold
![Screen Shot 2020-04-1

[2020-04-19 14:53] lucaderi commented on #3795
can you please share more detailed information?

[2020-04-19 16:32] scdit46 commented on #3795
In alerts of ntopng:

New Device |   | New device 00:00:00:00:00:00 has connected to the network.
-- | -- | --

What is 00:00:00:00:00:00, I haven´t got a device with a MAC 00:00:00:00:00:00 

[2020-04-19 17:07] simonemainardi opened #3799 "Missing Localization"
The following commit has many strings hard-coded and non-localized. It is requested to properly use i18n for them:

https://github.com/ntop/ntopng/commit/4caea8fcb1f3f54595f004938d46d28f074cddb3

For example:

https://github.com/ntop/ntopng/commit/4caea8fcb1f3f54595f004938d46d28f074cddb3#diff-fbadcfeeadccbcd5abc8fcc1f3301bd6R12

[2020-04-19 18:50] lucaderi commented on #3799
This is work in progress code, not yet ready for prime time.

[2020-04-19 19:17] #3797 closed, assigned to nobody

[2020-04-20 08:05] simonemainardi commented on #3794
This seems an issue connected with redis, not with ntopng. It seems redis is not able to persist data on disk. Do you have free space on the system? Check redis logs.

[2020-04-20 08:10] simonemainardi commented on #3796
Hi,

ntopng does Layer7 using nDPI: https://www.ntop.org/products/deep-packet-inspection/ndpi/

Layer7 detection is enabled automatically when ntopng is monitoring from a packet interface.

Please, go through the docs https://www.ntop.org/guides/ntopng/ and the blog https://www.ntop.org/blog/

[2020-04-20 08:10] #3796 closed, assigned to nobody

[2020-04-20 08:14] emanuele-f commented on #3441
Please refer to #3699

[2020-04-20 08:14] #3441 closed, assigned to nobody

[2020-04-20 08:30] simonemainardi commented on #3795
please, report ntopng configuration and nprobe - if used.

[2020-04-20 10:22] emanuele-f commented on #3742
Code cleanup performed in 0be2da4f578af30ea2bb3013a4207714413f41a4 . Now only the GUI cleanup is needed.

[2020-04-20 10:23] simonemainardi commented on #3780
To collapse flow alerts, a good possibility is to define an aggregation function on a per-alert basis. The aggregation function can the produce a string which can be stored in the alert `alert_entity_val`.

For example, for the alert highlighted in the example, a good aggregation could be: source ip address + tls certificate name.

Also time should be taken into account to avoid aggregating alerts

[2020-04-20 10:25] emanuele-f opened #3800 "Integrate cleancss in `make minify`"
https://github.com/ntop/ntopng/blob/dev/httpdocs/css/clean-css.md should be integrated into the `make minify` command. The git commit hook should be modified to listed for changes in ntopng.css e call the minify automatically.

[2020-04-20 10:25] simonemainardi commented on #3759
Issue is the same as #3780.

[2020-04-20 10:25] #3759 closed, assigned to nobody

[2020-04-20 10:55] emanuele-f commented on #3734
I can see that the query begin timestamp is sometime shifted after drilling down on the flow status, this must be fixed

[2020-04-20 12:11] simonemainardi commented on #3733
empty also the end time

![image](https://user-images.githubusercontent.com/3397663/79750156-c0779800-8310-11ea-8d7c-0712233f3d91.png)

[2020-04-20 12:16] simonemainardi commented on #3733
clicking on

![image](https://user-images.githubusercontent.com/3397663/79750578-7a6f0400-8311-11ea-9bde-064b808335e1.png)

yields the empty page (no console errors)

![image](https://user-images.githubusercontent.com/3397663/79750617-8bb81080-8311-11ea-89e9-46ae431c170c.png)

[2020-04-20 12:42] simonemainardi commented on #3733
becomes empty when the time is in the future with reference to now.

[2020-04-20 13:02] emanuele-f opened #3801 "Remove hard coded elements ids for datatables button alignment"
The following hard coded styles should be removed (https://github.com/ntop/ntopng/blob/dev/httpdocs/css/ntopng.css#L1218):

[code]
The buttons alignment should be provided by an independent css class (e.g. "dt-buttons-right") that can be supplied without modifying/creating a css file. This will allow us to remove the `#am-table` reference above, which is specific of a plugin.

[2020-04-20 13:16] simonemainardi opened #3802 "Score missing from the chart"
Given the following alerts

![image](https://user-images.githubusercontent.com/3397663/79755582-a5f5ec80-8319-11ea-8f00-e6c3cd1d9a20.png)

I would have expected to see scores > 0 around  14:41:02 in the timeseries.

However, both of them are empty around the range of interest:

![image](https://user-images.githubusercontent.com/3397663/79755676-caea5f80-8319-11ea-8959-96fb814cd28c.png)

![image](h

[2020-04-20 13:29] emanuele-f commented on #3734
Did some other experiment and the found out that the shift occurs only when the end time collides with the current time, so this is ok. Here is an example:

[code]

So the page behaves as expected. So, other than the issues outlined in #3733, I think the page works correctly now.

[2020-04-20 13:31] simonemainardi commented on #3732
this also involves fixing database explorer data, alerts dashboard, etc

[2020-04-20 13:40] emanuele-f commented on #3798
The following behaviors are consistent with the other user scripts alert configurations:

- The alert is not closed until the next check occurs (e.g. until one hour in the example above)
- The alert message is not updated if the problem alert stay engaged (e.g. only the first threshold is reported.

Changing this on the active monitoring will be inconsistent with the other user scripts behavior. W

[2020-04-20 13:42] #3778 closed, assigned to gabryon99

[2020-04-20 13:42] #3801 closed, assigned to gabryon99

[2020-04-20 14:14] scdit46 commented on #3795
yes, nprobe is used

[2020-04-20 14:22] emanuele-f commented on #3746
Fixed in a6bcf6e9e394655534c134666e49b5c348e1532c

[2020-04-20 14:51] cardigliano commented on #3775
ntop->getPro()->is_oem() is supported by nedge only atm, we need to extend it to ntopng and expose it to Lua

[2020-04-20 14:54] cardigliano commented on #3664
Automatic Updates can be disabled from Settings -> Preferences -> Updates (they shoud be disabled by default)

[2020-04-20 14:54] #3664 closed, assigned to cardigliano

[2020-04-20 14:55] simonemainardi commented on #3733
empty datetimepicker fixed

[2020-04-20 15:13] ntopnguser opened #3803 "No Upstream Flow after upgrading to V4"
Hello - we had been using 3.7 for several months on Ubuntu 18.04 and just upgraded to 4.1.  After the upgrade, the bandwidth graph for our monitored interface shows no outgoing traffic (only incoming).

![Capture](https://user-images.githubusercontent.com/64026525/79767809-df1d6500-82f7-11ea-8e33-53abd64fc952.PNG)

Do we have a misconfiguration somewhere?  Thank you.

[2020-04-20 15:36] simonemainardi commented on #3803
is this an interface receiving mirrored traffic?

[2020-04-20 15:53] ntopnguser commented on #3803
Yes - it is receiving a span session.

[2020-04-20 18:25] HaleyACS commented on #3664
That is not the case.
Checking, it is disabled, yet it is doing the updates. See below for the configuration.
![ntopng_update_settings](https://user-images.githubusercontent.com/12997932/79785919-f2a2ed00-8344-11ea-8c27-47eaa1eb93c0.png)

[2020-04-20 20:44] simonemainardi commented on #3783
Can't reproduce with slapd. The user reported the server is a FreeIPA.

[2020-04-20 21:17] jl-678 commented on #3803
Funny, I was perusing this forum and just realized that I have the same problem.  I am running 4.1.200413 on 18.04 via a span port.

One update: my 18.04 server has two network interfaces eth0 (spanned) and wlan0 (management).  eth0 is not showing outbound traffic as mentioned by @ntopnguser.  If I change ntopng to view to wlan0, I do see outbound traffic but obviously, much less....

[2020-04-20 21:22] simonemainardi opened #3804 "Extend Hardware Sizing Documentation"
- Move the sizing documentation out from the FAQ
- Discuss about the drivers to use
- Discuss about the flow collection speed

[2020-04-21 07:27] simonemainardi commented on #3803
Behavior reported is expected. On a port connected to a mirror/SPAN, the traffic is only entering the port so no outbound traffic is present.

In version 3.7 the charts were misleading: they were indicating the local-to-remote and remote-to-local traffic, respectively. This was causing confusion and so that has been removed to what is just TX and RX.

You should visit the interface statistics page

[2020-04-21 07:27] #3803 closed, assigned to nobody

[2020-04-21 07:42] emanuele-f commented on #3798
As discussed internally, we will add an exception for this alert by checking again the old value against the threshold as the user modifies the threshold.

[2020-04-21 08:30] simonemainardi commented on #3783
Reproduced. Fixing.

[code]

[2020-04-21 08:40] emanuele-f commented on #3798
Implemented in c750a8422ee85cae22669e929c312710db1f2b9c

[2020-04-21 08:42] emanuele-f opened #3805 "Make alerts and status parameter explicit"
Every alert and status must have a clear definition of its specific parameters, so that a programmer can easily review and extend them.

[2020-04-21 08:44] emanuele-f opened #3806 "Extend speedtest with additional metrics"
Speedtest should be extended to support alerts and charts on the upload and latency metrics.

[2020-04-21 08:45] emanuele-f opened #3807 "Expose Active Monitoring host availability"
Host availability time should be exposed via an api. The following elements should be provided:

- Time within the threshold
- Time outside the threshold
- Time unreachable

[2020-04-21 08:50] emanuele-f opened #3808 "Address/Document alert temporal shift"
Most alerts (e.g. the bytes threshold) compute a delta between the current value and the past interval value (e.g. the current bytes versus the 5 minutes ago bytes). The trigger time of such alerts is misleading as if the alert is triggered at 17:10 it actually refers to the 17:05 - 17:10 time frame. This information should be presented in a clear way to the user or reworked.

[2020-04-21 09:00] emanuele-f commented on #3732
There are still issues:

- Clicking on the "Search Flow Alerts" button in the alerts explorer shift the time in the dropdowns of one hour
- Same thing happens in the alerts explorer by setting a custom period

[2020-04-21 09:01] simonemainardi commented on #3783
Fixed. Issue was occurring when multiple groups with the same CN were found in the search path.

For example, crash was occurring when the cn=adminGroup was defined twice in the search path dc=ntop,dc=org as shown in this LDAP tree

![image](https://user-images.githubusercontent.com/3397663/79846972-608bfa80-83bf-11ea-86a7-e71c3744b689.png)

[2020-04-21 09:01] #3783 closed, assigned to simonemainardi

[2020-04-21 09:02] simonemainardi commented on #3784
Fixed. Explanation in https://github.com/ntop/ntopng/issues/3783#issuecomment-617051579

[2020-04-21 09:02] #3784 closed, assigned to simonemainardi

[2020-04-21 09:04] Claireshan opened #3809 "No localhosts"
hello hope this finds you well.
i have the latest version of ntopng but from the UI i cant see the localhosts i only see remote hosts. what could be the problem

[2020-04-21 09:08] #3793 closed, assigned to emanuele-f

[2020-04-21 09:08] emanuele-f commented on #3793
Added two decimal digits as internally discussed

[2020-04-21 09:11] emanuele-f opened #3810 "Move alerts / status definitions out of the plugins"
This will make them always available even when a plugin is not available (e.g. when switching from enterprise to community). Beware that some alerts (e.g. active monitoring alerts) rely on modules located into the plugins.

[2020-04-21 09:12] emanuele-f commented on #3809
Please check out https://www.ntop.org/guides/ntopng/basic_concepts/hosts.html#local-hosts

[2020-04-21 09:12] #3809 closed, assigned to nobody

[2020-04-21 09:25] simonemainardi commented on #3795
make sure nprobe is started with -T "@NTOPNG@". Report the configuration.

[2020-04-21 09:27] simonemainardi opened #3811 "[Plugins] Move alert definitions in a single place"
Alert definitions are spread in various plugins. It is requested to move them in a single place and make them independent from the plugins.

[2020-04-21 09:27] simonemainardi opened #3812 "[Plugins] Move flow status definitions in a single place"
Flow status definitions are spread in various plugins. It is requested to move them in a single place and make them independent from the plugins.

[2020-04-21 09:29] simonemainardi opened #3813 "[Alerts] Document/comment per-alert variable JSON"
Alerts and flow statuses carry a JSON which contains fields specific to each alert.

It is requested to document these fields, or at least add detailed comments to the alert definition files, so that a user can now exactly what to expect inside the JSON.

[2020-04-21 09:33] simonemainardi commented on #3812
split into:

- https://github.com/ntop/ntopng/issues/3811
- https://github.com/ntop/ntopng/issues/3812

[2020-04-21 09:33] simonemainardi commented on #3805
split into:

- https://github.com/ntop/ntopng/issues/3811
- https://github.com/ntop/ntopng/issues/3812

[2020-04-21 09:35] simonemainardi commented on #3810
split into:

- https://github.com/ntop/ntopng/issues/3811
- https://github.com/ntop/ntopng/issues/3812

[2020-04-21 09:35] #3810 closed, assigned to nobody

[2020-04-21 09:52] Claireshan opened #3814 "No localhosts and ntop suddenly stops picking traffic"
Hello hope this finds you well.i have the latest version of ntop but i can view the local hosts i only see the remote host. Also suddenly the traffic goes to 0Mbps. what could be the problem

[2020-04-21 12:01] simonemainardi commented on #3814
duplicate of https://github.com/ntop/ntopng/issues/3809

[2020-04-21 12:01] #3814 closed, assigned to nobody

[2020-04-21 12:21] simonemainardi commented on #3811
proposed solution is the following:

alert_keys.lua becomes a file such as:

[code]

so that each alert has an id associated and the rest (localized strings, format functions, etc) is dynamically loaded with a require. Alert definition files, e.g., `alert_blacklisted_country.lua` are placed under `modules/alert_definitions`

----

for user-created alerts, the approach is the following:

[code]

an

[2020-04-21 12:29] StewAlexander-com commented on #3708
I am available on a limited basis this week, please let me know your schedule and I will attempt to make a time slot available

We are EDT (GMT -4, or Italy time -6)

Thank you ...

[2020-04-21 12:37] simonemainardi commented on #3798
To avoid logic duplication (if-threshold-then-trigger-else-release) and to avoid unclean backup-select(system interface)-select(backup) I would jsut set a flag and let the plugin redo the check within a minute. This has also the benefits to make it clear when and by who a check is performed.

[2020-04-21 12:56] simonemainardi opened #3815 "[Plugins] Identify and remove possible "require" plugin deps from alerts definitions"
Alert definitions must not depend on plugins, they must always exists and must not require any plugin to be formatted or printed.

It is requested to identify and remove such dependencies (e.g., the active monitor) before https://github.com/ntop/ntopng/issues/3811

[2020-04-21 13:11] simonemainardi commented on #3811
the only alert is the one used for the active monitoring

[code]

so it is required to move

[code]

in the alert JSON and remove the dependency.

[2020-04-21 13:15] simonemainardi commented on #3105
it is requested to also add a preference to only dump alerts to elasticsearch (and not flows). preference should be a UI toggle.

[2020-04-21 13:57] emanuele-f commented on #3777
A timeseries can now show the unreachable state by setting the `show_unreachable = true` parameter (the 0 value is interpreted as unreachable). The implementation uses the `d3` api to draw lines rather than providing a new timeseries as the latter approach resulted in multiple scaling and formatting problems.

 ![2020-04-21_15-33](https://user-images.githubusercontent.com/5488003/79874257-a5bc2680

[2020-04-21 14:01] emanuele-f commented on #3798
I would not consider these two lines of code as a repetition: https://github.com/ntop/ntopng/blob/dev/scripts/plugins/active_monitoring/web_gui/edit_active_monitoring_host.lua#L171 . Furthermore the solution above delays the alert trigger/release of 1 minute and it adds an exception to the 1 minute logic to handle such trigger/release.

[2020-04-21 14:26] simonemainardi commented on #3798
Average re-check time is 30 seconds and there's the benefit that the check logic stays in one place (not two) and there's only one point which is responsible to run the check. Things like backing up the old interface, selecting the system interface, the re-selecting the old interfaces are error prone and should be avoided when possible.

[2020-04-21 14:48] #3732 closed, assigned to simonemainardi

[2020-04-21 15:02] simonemainardi commented on #3811
After internal discussion we have decided to move ntopng alerts under

[code]

And leave user-defined alerts inside the plugins as of now

[2020-04-21 15:27] emanuele-f commented on #3733
Other missing `ts_utils.exist` checks added. Please note that the logic which shows the drilldown icon (`ts_utils.exist`) does not take into the time range. It shows the icon as soon as the corresponding RRD exists.

[2020-04-21 16:15] xtrilla opened #3816 "Local/Remote Traffic shows the opposite"
Hi,

We have an nprobe + ntopng setup, but traffic seems to appear as the oposite as it really is:

![image](https://user-images.githubusercontent.com/33469164/79886813-f17fc780-83f9-11ea-9edb-f868cdc82b12.png)

The ratios seem ok, but the traffic seems to be reversed (We have way more outgoing traffic than incoming).

We are using the latest versions of ntopng and nprobe.

nProbe interfaces are o

[2020-04-21 16:22] xtrilla opened #3817 "Local/Remote Traffic shows the opposite"
Hi,

We have an nprobe + ntopng setup, but traffic seems to appear as the oposite as it really is:

![image](https://user-images.githubusercontent.com/33469164/79886813-f17fc780-83f9-11ea-9edb-f868cdc82b12.png)

The ratios seem ok, but the traffic seems to be reversed (We have way more outgoing traffic than incoming).

We are using the latest versions of ntopng and nprobe.

nProbe interfaces are o

[2020-04-21 16:24] xtrilla opened #3818 "Local/Remote traffic"
Hi,

We have an nprobe + ntopng setup, but traffic seems to appear as the oposite as it really is:

![image](https://user-images.githubusercontent.com/33469164/79886813-f17fc780-83f9-11ea-9edb-f868cdc82b12.png)

The ratios seem ok, but the traffic seems to be reversed (We have way more outgoing traffic than incoming).

We are using the latest versions of ntopng and nprobe.

nProbe interfaces are o

[2020-04-21 17:05] emanuele-f commented on #3807
Implemented in ed6437009300f18ed8f90f8fce01afda12e3110e .

[2020-04-21 17:16] xtrilla commented on #3817
Github availability issues resulted in double posting

[2020-04-21 17:16] #3817 closed, assigned to nobody

[2020-04-21 17:16] xtrilla commented on #3816
Github availability issues resulted in double posting

[2020-04-21 17:16] #3816 closed, assigned to nobody

[2020-04-22 08:59] lucaderi commented on #3402
![image](https://user-images.githubusercontent.com/4493366/79962426-4ff38700-8488-11ea-95e2-62e84874695e.png)
SNMP graphs are still stacked.
Note that AS graphs are also still stacked and thus needs to be fixed

[2020-04-22 09:03] lucaderi opened #3819 "Invalid labels on SNMP Interface graphs"
![image](https://user-images.githubusercontent.com/4493366/79962489-639eed80-8488-11ea-9949-58a3f842bb8c.png)

As you can see from the image, this is a graph from a SNMP interface. There are some issues
- #3402 when fixed will have the RX/TX no longer stacked
- labels are not readable. They must indicate just in and out with no further labels as they are already in the top bar. it is important tha

[2020-04-22 09:07] lucaderi opened #3820 "Implement AS Peer Traffic Disaggregation"
In routed traffic the AS peer identifies the path taken by packets.
Usually
- AS Peer = 0 incoming traffic
- AS Peer != 0 outgoing traffic

sFlow (optionally) exports the AS peer. It is requested to implement it support for traffic disaggregation

[2020-04-22 09:13] lucaderi opened #3821 "95th Percentile need to be implemented per direction"
On charts with RX and TX (e.g. SNMP, ASN, Interface) it is requested to implement per-direction 95th percentile and not cumulative

[2020-04-22 09:23] lucaderi opened #3822 "Missing last point from speedtest"
As you can see the measurement of 11AM is missing from the graph

![Screen Shot 2020-04-22 at 11 20 00](https://user-images.githubusercontent.com/4493366/79964658-4fa8bb00-848b-11ea-8a68-cb107ab9b782.png)

![Screen Shot 2020-04-22 at 11 20 13](https://user-images.githubusercontent.com/4493366/79964655-4d466100-848b-11ea-89dc-474c03428ad0.png)

Note that stats at the bottom of each chart such as 95

[2020-04-22 09:44] simonemainardi opened #3823 "[Alerts] Implement PEN for alert keys"
Using a NetFlow-style PEN will allow users to create custom alerts with unique IDS. Having PENs will also ensure there won't be clashes between alert ids across multiple users.

[2020-04-22 10:00] #3812 closed, assigned to simonemainardi

[2020-04-22 10:02] #3815 closed, assigned to nobody

[2020-04-22 10:03] #3811 closed, assigned to simonemainardi

[2020-04-22 12:43] #3746 closed, assigned to emanuele-f

[2020-04-22 13:18] emanuele-f commented on #3822
This probably occurs because of how the RRA aggregation in RRD works. The 1 day view uses the aggregated RRA.

[2020-04-22 15:41] mhercek opened #3824 "[question] ntopng Enterprise L license"
Hello,

I've found this statement _'ntopng Enterprise L already includes a nProbe Pro license, there is no need to buy a nProbe license if a ntopng Enterprise L license is installed"_.
I may be blind but cannot find any further info regarding license installation and/or configuration.

**What does it mean exactly?**

I ordered ntopng Enterprise L a got one license key which I put into /etc/ntopng.

[2020-04-22 17:20] simonemainardi commented on #3795
Solution given, no feedback received. Closing.

[2020-04-22 17:20] #3795 closed, assigned to nobody

[2020-04-22 17:21] simonemainardi commented on #3794
Hint given. No feedback received. Closing.

[2020-04-22 17:21] #3794 closed, assigned to nobody

[2020-04-22 17:22] simonemainardi commented on #3771
Closing for inactivity. Reopen with the requested information if necessary.

[2020-04-22 17:22] #3771 closed, assigned to nobody

[2020-04-22 17:29] cardigliano commented on #3824
@mhercek please note that installing /etc/ntopng.license is enough also to unlock nprobe, and no additional package is required. What ntopng version are you running?

[2020-04-23 04:17] mhercek commented on #3824
**`/usr/local/bin/ntopng --online-license-check -v`**
`Welcome to ntopng x86_64 v.4.0.200421 - (C) 1998-20 ntop.org`
`23/Apr/2020 06:15:07 [Ntop.cpp:453] Built on Debian GNU/Linux 10 (buster)`
`23/Apr/2020 06:15:07 [NtopPro.cpp:656] [LICENSE] System Id:     68899AFE820D2B21`
`23/Apr/2020 06:15:07 [NtopPro.cpp:657] [LICENSE] Edition:       Enterprise`
`23/Apr/2020 06:15:07 [NtopPro.cpp:658] [LICENS

[2020-04-23 08:15] cardigliano commented on #3824
@mhercek please update again, Enterprise L was not yet available on stable in your version

[2020-04-23 08:16] cardigliano commented on #3824
Os of the online check, adding disk spare should not require it, please remove and drop me an email (cardigliano at ntop.org) with your orderid if you experience issue.

[2020-04-23 08:41] #3823 closed, assigned to simonemainardi

[2020-04-23 08:43] simonemainardi commented on #3818
What you are looking at is the local-to-temote and remote-to-local traffic, not really outgoing and ingoing. That is, from `--local-networks` and to `--local-networks`, respectively.

You need to provide more evidence if you think is reversed.

[2020-04-23 09:06] simonemainardi opened #3825 "[RTT] IP address not available for unreachable hosts"
The alert JSON for unreachable hosts (`info.ip`) contains the symbolic name and not the ip address when the host is unreachable. This prevents from knowing the ip address contacted:

![image](https://user-images.githubusercontent.com/3397663/80080814-69610580-8552-11ea-92e5-97d5184a85fd.png)

[2020-04-23 09:35] scdit46 opened #3826 "nprobe, only send flows of a network"
hello,

In my Windows 10 I have configured nprobe for send flows to ntopng.
My workstation Windows 10 have several networks (vmware workstation, vmnet1, vmnet2, vmnet3,..), also the wifi network.

The nprobe only sends flows of a network (vmnet1).

Why?

regards.

[2020-04-23 09:39] scdit46 commented on #3826
Correction: The nprobe only sends flows of a network (**vmnet8** - 172.16.101.0/24).

I see this with Wirehsark (Traffic CFLOW).

[2020-04-23 09:48] emanuele-f commented on #3822
The problem was actually related to NaN numbers handling. This should be fixed in 24583f8443a9e4ccf96f1719c77a6d744a744b5d and 8d0e887878dc3e538d215f9252963428d4406367

[2020-04-23 09:56] emanuele-f commented on #3826
Have you configured nProbe with the `-i` options for your interfaces? Please check out https://www.ntop.org/guides/nprobe/how_to_start.html#specify-monitored-interfaces .