[2018-08-05 00:37] tomoxwell commented on #1898
I removed everything i.e even reinstalled ubuntu 16 and then reinstalled
edge and i get this error:

root@sapphire:/home/tomo# systemctl restart ntopng

root@sapphire:/home/tomo# systemctl status   ntopng

*●* ntopng.service - ntopng high-speed web-based traffic monitoring and
analysis tool

   Loaded: loaded (/etc/systemd/system/ntopng.service; enabled; vendor
preset: enabled)

   Active: *failed

[2018-08-05 00:38] tomoxwell commented on #1898
I have no idea where the 192.168.20.1 address is coming from.  I cant also
access the gui

On Sun, Aug 5, 2018 at 3:37 AM, Tom Ongaro <tomo@maxwellsda.org> wrote:

--

TOM  ONGARO
SYSTEMS ADMIN
MAA
254 729 604729

[2018-08-05 01:05] tomoxwell commented on #1898
the i type  ntopng --http-port 3000

 i get the following

05/Aug/2018 04:03:33 [Ntop.cpp:1567] Setting local networks to 127.0.0.0/8

05/Aug/2018 04:03:33 [Redis.cpp:127] Successfully connected to redis
127.0.0.1:6379@0

05/Aug/2018 04:03:33 [Redis.cpp:127] Successfully connected to redis
127.0.0.1:6379@0

05/Aug/2018 04:03:33 [NtopPro.cpp:312] [LICENSE] Reading license from
/etc/nedge.license

0

[2018-08-06 07:37] emanuele-f commented on #1900
Hello, this feature is not implemented yet

[2018-08-06 07:56] emanuele-f commented on #1898
Please let me clarify the initial steps with nedge:
1) Create the file `/etc/network/interfaces.d/nedge_mgmt.conf` with the management interface. Then reboot the device. You must be able to reach the device now via the specified management address.
2) Install nedge from our repository with `apt-get install nedge`. The service is started automatically.
3) Connect to the nedge gui via the machine IP

[2018-08-06 08:27] tomoxwell commented on #1898
Much appreciated. Let me do these steps and then get back to you.

On Mon, Aug 6, 2018 at 10:56 AM, Emanuele Faranda <notifications@github.com>
wrote:

--

TOM  ONGARO
SYSTEMS ADMIN
MAA
254 729 604729

[2018-08-06 10:43] MeenaAshok opened #1902 "Network discovery MIB"
Hi ,

is there any way to see which device is connected to which switch/router in ntopng?

-Thanks
Meena

[2018-08-06 11:09] tomoxwell commented on #1898
I have just installed a fresh Ubuntu 16 with just a management interface. i
just want to be clear on step one. If i  configure
/etc/network/interfaces.d/nedge_mgmt.conf
 will this work with ubuntu before I install nedge?

On Mon, Aug 6, 2018 at 10:56 AM, Emanuele Faranda <notifications@github.com>
wrote:

--

TOM  ONGARO
SYSTEMS ADMIN
MAA
254 729 604729

[2018-08-06 14:56] zxyz commented on #1848
@simonemainardi `--dont-change-user=` did also work. I just updated to 3.5.180806, did a `chown -R  nobody:nobody /var/tmp/ntopng` and till now it seems to work.

[2018-08-06 15:29] tomoxwell commented on #1898
The management interface example uses a bridge br0 as from the documentation:
auto br0.86
iface br0.86 inet static
     pre-up /sbin/ip link add link br0 name br0.86 type vlan id 86
     vlan-raw-device br0
     address 10.10.10.1
     netmask 255.255.255.0

Do i then need to configure a bridge first in a freshly installed ubuntu 16 before i configure the management interface?

[2018-08-06 15:29] tomoxwell commented on #1898
seems like step one is the real issue here

[2018-08-06 16:03] emanuele-f commented on #1898
Yes, if the management interface is a bridge, then it must be configured as well. Please configure it in `/etc/network/interfaces` directly, otherwise it will conflict with nedge. However, I think you can create the vlan interface directly on the eno2/eno1 device and specify a "vlan-raw-device eno1" for a simpler setup.

[2018-08-06 16:08] tomoxwell commented on #1898
I was only thinking of the bridge because of the nature of the error when i type:
ntopng -v -G /var/run/ntopng.pid -i 1 -s

I get :
06/Aug/2018 18:24:42 [boot.lua:22] [nf_config.lua:598] WARNING: Cannot get LAN interface br0 address
06/Aug/2018 18:24:42 [boot.lua:22] [nf_config.lua:405] WARNING: Cannot determine LAN network. Falling back to default 192.168.1.0/24
06/Aug/2018 18:24:42 [boot.lua:22]

[2018-08-06 16:10] tomoxwell commented on #1898
I would prefer the simple set up you suggested.  right now my management interface is eno1 and i would like to eno2 and eno3 to be Wan and Lan interfaces respectively.  Do you have a sample on how i should set up the management vlan running on vlan 8 but on interface eno1?

[2018-08-06 17:04] lucaderi commented on #1848
Will the above commit (or workaround if you wish as IMHO Ubuntu18 behaves in a strange way) it now works for me.

[2018-08-06 17:04] #1848 closed, assigned to simonemainardi

[2018-08-06 17:40] simonemainardi commented on #1902
Totally. You have to enable SNMP. See https://github.com/ntop/ntopng/issues/1897#issuecomment-409915153 for a detailed explanation.

[2018-08-06 17:40] #1902 closed, assigned to nobody

[2018-08-06 18:37] tomoxwell commented on #1898
I did this one eno1:

auto eno1
iface eno1  inet manual

auto eno1.8
iface eno1.8 inet static
    vlan-raw-device eno1
    address 10.0.8.38
    netmask 255.255.255.0

and step one was accomplished well as i could ssh into the machine using 10.0.8.38

[2018-08-06 18:41] tomoxwell commented on #1898
I then did step 2 but then I cant access the gui . I get the usual error:
Aug 06 21:36:02 sapphire ntopng[2970]: 06/Aug/2018 21:36:02 [mongoose.c:4544] ERROR: set_ports_option: cannot bind to 192.168.20.1:3000: Success
Aug 06 21:36:02 sapphire ntopng[2970]: [HTTPserver.cpp:903] ERROR: [HTTP] set_ports_option: cannot bind to 192.168.20.1:3000: Cannot assign requested address
Aug 06 21:36:02 sapphir

[2018-08-06 19:24] ghost opened #1903 "Unable to put ntopng in HTTPS mode"
Hello.

I'm running CentOS7. It is updated daily.

I'm following that guide https://github.com/ntop/ntopng/blob/dev/doc/README.SSL

and I'm unable to get even close to implementing SSL for my ntopng.

After following the guide above, I start my ntopng and it is still in HTTP mode only. I'm able to access it but HTTPS is not even an option.

Below is what I have done:

[root@moon ssl]# openssl req

[2018-08-07 08:35] simonemainardi commented on #1903
you are not telling ntopng to use HTTPs. Add configuration option `-W` and specify the port. Also see: https://www.ntop.org/ntopng/best-practices-to-secure-ntopng/

[2018-08-07 08:35] #1903 closed, assigned to nobody

[2018-08-07 09:23] emanuele-f commented on #1898
What's the output of `ntopng --version`?

[2018-08-07 09:59] tomoxwell commented on #1898
ntopng: unrecognized option '--version?'
07/Aug/2018 12:58:34 [Ntop.cpp:1567] Setting local networks to 127.0.0.0/8
07/Aug/2018 12:58:34 [Redis.cpp:127] Successfully connected to redis 127.0.0.1:6379@0
07/Aug/2018 12:58:34 [Redis.cpp:127] Successfully connected to redis 127.0.0.1:6379@0
07/Aug/2018 12:58:34 [NtopPro.cpp:310] [LICENSE] Reading license from Redis
07/Aug/2018 12:58:34 [NtopPro.cpp:45

[2018-08-07 10:04] tomoxwell commented on #1898
root@sapphire:/home/tomo# ntopng --version
v.3.5.180807	[Edge build]
GIT rev:	dev:ff8719615c02d55ab275cc8ba1a4b4aafee0c9dd:20180807
Pro rev:	r1802
Built on:	Ubuntu 16.04.5 LTS
System Id:	6DF0BE76B205A206
Platform:	x86_64
Edition:	Edge Enterprise
License Type:	Permanent
Maintenance:	Until Tue Jul 30 04:38:24 2019 [356 days left]
License:	XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

[2018-08-07 10:41] tomoxwell commented on #1898
v.3.5.180807 [Edge build]

GIT rev: dev:ff8719615c02d55ab275cc8ba1a4b4aafee0c9dd:20180807

Pro rev: r1802

Built on: Ubuntu 16.04.5 LTS

System Id: 6DF0BE7

Platform: x86_64

Edition: Edge Enterprise

License Type: Permanent

Maintenance: Until Tue Jul 30 04:38:24 2019 [356 days left]

License: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

On Tue, Aug 7, 2018 at 12:23 PM, Emanuele Faranda <notif

[2018-08-07 10:41] emanuele-f commented on #1898
Can try removing the `--https-port` option from `/etc/ntopng/ntopng.conf` and restart nedge with `sudo systemctl restart ntopng`?

[2018-08-07 10:51] tomoxwell commented on #1898
Just done that and the error is the same

[2018-08-07 10:57] tomoxwell commented on #1898
Same error as before.

On Tue, Aug 7, 2018 at 1:41 PM, Emanuele Faranda <notifications@github.com>
wrote:

--

TOM  ONGARO
SYSTEMS ADMIN
MAA
254 729 604729

[2018-08-07 10:58] tomoxwell commented on #1898
This specific error began after the advised factory reset.

On Tue, Aug 7, 2018 at 1:57 PM, Tom Ongaro <tomo@maxwellsda.org> wrote:

--

TOM  ONGARO
SYSTEMS ADMIN
MAA
254 729 604729

[2018-08-07 12:34] emanuele-f commented on #1898
Please post your full ntopng.conf if different from the original one and also the ntopng startup log.

[2018-08-07 12:36] tomoxwell commented on #1898
#         The  configuration  file is similar to the command line, with the
exception that an equal

#        sign '=' must be used between key and value. Example:  -i=p1p2
or  --interface=p1p2  For

#        options with no value (e.g. -v) the equal is also necessary.
Example: "-v=" must be used.

#

#

#       -G|--pid-path

#        Specifies the path where the PID (process ID) is saved. This
o

[2018-08-07 12:43] emanuele-f commented on #1898
So is it an empty config? Anyway, please remove it and reinstall the original from the nedge package. Until something works please avoid any modifications to the configuration files otherwise we'll just waste our time. Please also post the startup log, possibly on github enclosed in triple quotes for proper formatting.

[2018-08-07 12:43] tomoxwell commented on #1898
/var/log/ntopng# cat ntopng.log

07/Aug/2018 11:02:59 [Ntop.cpp:933] Setting local networks to 127.0.0.0/8

07/Aug/2018 11:02:59 [Redis.cpp:106] Successfully connected to redis
127.0.0.1:6379@0

07/Aug/2018 11:03:00 [Ntop.cpp:907] Parent process is exiting (this is
normal)

07/Aug/2018 11:03:00 [PcapInterface.cpp:86] Reading packets from interface
eno1...

07/Aug/2018 11:03:00 [Ntop.cpp:1152] Regi

[2018-08-07 12:43] tomoxwell commented on #1898
systemctl status ntopng

*●* ntopng.service - ntopng high-speed web-based traffic monitoring and
analysis tool

   Loaded: loaded (/etc/systemd/system/ntopng.service; enabled; vendor
preset: enabled)

   Active: *failed* (Result: exit-code) since Tue 2018-08-07 15:41:07 EAT;
1min 47s ago

  Process: 12885 ExecStopPost=/bin/sh -c /bin/echo "$(/bin/date) ntopng
StopPost" >> /var/log/ntop-systemd.log

[2018-08-07 12:44] emanuele-f commented on #1898
It seems like your are using ntopng. Have you installed the *nedge* package?

[2018-08-07 12:45] tomoxwell commented on #1898
I thought the original installs when i install the nedge packet.  Is there another way of getting it besides installing nedge again?  Kindly share that with

[2018-08-07 12:46] tomoxwell commented on #1898
I installed the nedge packet as follows

apt-get install nedge

On Tue, Aug 7, 2018 at 3:45 PM, Tom Ongaro <tomo@maxwellsda.org> wrote:

--

TOM  ONGARO
SYSTEMS ADMIN
MAA
254 729 604729

[2018-08-07 12:50] tomoxwell commented on #1898
These are the three commands I issued after a fresh ubuntu 16 install

wget http://apt.ntop.org/16.04/all/apt-ntop.deb

    dpkg -i apt-ntop.deb

    apt-get update

    apt-get install nedge

On Tue, Aug 7, 2018 at 3:45 PM, Tom Ongaro <tomo@maxwellsda.org> wrote:

--

TOM  ONGARO
SYSTEMS ADMIN
MAA
254 729 604729

[2018-08-07 12:59] emanuele-f commented on #1898
Please get the original configuration from: https://raw.githubusercontent.com/ntop/ntopng/dev/packages/etc/ntopng/nedge.conf and copy it into `/etc/ntopng/ntopng.conf`

[2018-08-07 13:07] tomoxwell commented on #1898
Thanks let me do that asap

[2018-08-07 13:31] tomoxwell commented on #1898
I have reviewed the file and its exactly the same. The only difference is the https port which i have also enabled as it was before.  Please let me know if there is any other thing that needs to be there that is not there. The one you told me to copy is as below:

[code]

[2018-08-07 13:47] tomoxwell commented on #1898
#         The  configuration  file is similar to the command line, with the exception that an equal
#        sign '=' must be used between key and value. Example:  -i=p1p2  or  --interface=p1p2  For
#        options with no value (e.g. -v) the equal is also necessary. Example: "-v=" must be used.
#
#
#       -G|--pid-path
#        Specifies the path where the PID (process ID) is saved. This option

[2018-08-07 14:38] emanuele-f commented on #1898
Please *do not modify* the configuration file at all. Keep the default installed one and let me know if this setup works.

[2018-08-07 14:39] tomoxwell commented on #1898
It does not.

[2018-08-07 14:50] emanuele-f commented on #1898
Please run `sudo systemctl restart ntopng` and post the full log since restart from `sudo journalctl -u ntopng`.

[2018-08-07 15:09] tomoxwell commented on #1898
sudo journalctl -u ntopng
-- Logs begin at Tue 2018-08-07 17:57:47 EAT, end at Tue 2018-08-07 18:07:36 EAT. --
Aug 07 17:58:32 sapphire systemd[1]: Starting ntopng high-speed web-based traffic monitoring and analysis tool...
Aug 07 17:58:32 sapphire systemd[1]: Started ntopng high-speed web-based traffic monitoring and analysis tool.
Aug 07 17:58:32 sapphire ntopng[2075]: 07/Aug/2018 17:58:32 [Nto

[2018-08-07 15:16] emanuele-f commented on #1898
Please run `systemctl stop ntopng`. Now run `pgrep ntopng` and `netstat -anp | grep 3000 | grep LISTEN` and post the output of these commands.

[2018-08-07 15:24] tomoxwell commented on #1898
root@sapphire:/home/tomo# pgrep ntopng
root@sapphire:/home/tomo# netstat -anp | grep 3000 | grep LISTEN
root@sapphire:/home/tomo#

[2018-08-07 15:24] tomoxwell commented on #1898
as you can see there is not output

[2018-08-07 15:27] emanuele-f commented on #1898
Please post the output of `cat /etc/lsb-release`

[2018-08-07 15:30] tomoxwell commented on #1898
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.5 LTS"
root@sapphire:/home/tomo#

[2018-08-07 15:44] tomoxwell commented on #1898
Is it possible to be able to use the old settings for ntopng then since i really need something working in less than two days?

[2018-08-07 16:04] emanuele-f commented on #1898
Please edit `/var/tmp/ntopng/system.config` and set `bind_to` from "lan" to "any" and restart ntopng. Can you access the gui now?

[2018-08-07 16:12] tomoxwell commented on #1898
yes Yes. I can access the gui now.
Thank you so much.

[2018-08-07 16:14] tomoxwell commented on #1898
Let me now test if traffic is actually going through then i get back to you.

[2018-08-07 17:41] tomoxwell commented on #1898
Working fine. interface eno3 connected to the wan from pfsense a trunk and port eno2 connected to the core switch(cisco switch) also a trunk.
However I now cannot access the gui or even ssh into the nedge machine

[2018-08-07 17:41] simonemainardi commented on #1886
Thanks for reporting, we've restricted database access to only allowed networks. A new build will be available starting from tomorrow.

We are now going to rework the database inserts/queries with a new library and will keep in mind your suggestion for the indices.

Thank you.

[2018-08-07 17:41] #1886 closed, assigned to nobody

[2018-08-07 17:42] tomoxwell commented on #1898
I got kicked out of the gui and ssh after i chose vlan trunk and rebooted the machine. Any help would be really appreciated

[2018-08-07 17:44] tomoxwell commented on #1898
All the client machines are working fine though and all the traffic is going though nedge

[2018-08-07 17:47] tomoxwell commented on #1898
Just cant access gui or even ssh into it.

[2018-08-07 19:02] tomoxwell commented on #1898
Kindle check the screen shots below to see if my interfaces are configured right:
for /etc/network/interfaces
/etc/network/interfaces.d/nedge.conf
/etc/network/interfaces.d/nedge_mgmt.conf

![one](https://user-images.githubusercontent.com/17475445/43796638-7e0be812-9a8d-11e8-9046-2c2764f172ff.jpg)
![two](https://user-images.githubusercontent.com/17475445/43796654-863706ac-9a8d-11e8-8589-e1d5a67c74

[2018-08-07 20:17] tomoxwell commented on #1898
Not sure if my management interface is configured right as per the last ss above. Kindly share a sample for a working management interface

[2018-08-07 21:28] tomoxwell commented on #1898
It finally worked. Thanks a lot for the huge help. You guys are the best.

[2018-08-07 22:19] tomoxwell commented on #1898
Was working fine for hours then I cant get the gui or ssh any more:
Aug 08 00:44:28 sapphire ntopng[5094]: 08/Aug/2018 00:43:57 [startup.lua:14] [nf_config.lua:598] WARNING: Cannot get LAN interface br0 address

The above seems to be the main problem.  Cant just get my management interface to work.

[2018-08-08 07:40] emanuele-f commented on #1898
The eno1 interface is defined in both `/etc/network/interfaces` and `/etc/network/interfaces.d/nedge_mgmt.conf` and this is not good. Please remove it from the first file.

[2018-08-08 07:44] emanuele-f opened #1904 "Web gui binding in VLAN trunk mode [nedge]"
By default, the web gui is only bound to the LAN interface, which is not valid when running in VLAN trunk mode. In this mode the gui should be bound to *any* interface and the corresponding preference should be hidden.

[2018-08-08 07:45] emanuele-f commented on #1898
I've opened issue #1904 to track the initial issue with "bind_to".

[2018-08-08 08:25] tomoxwell commented on #1898
Let me remove it and then revert back to you.  Still trying to figure out the bind.

[2018-08-08 09:13] simonemainardi commented on #1901
Purge is performed by `NetworkInterface::purgeIdle` that walks the hash table of flows (`NetworkInterface::purgeIdleFlows`) and all the other hash tables (`NetworkInterface::purgeIdleHostsMacsASesVlans`).

Regardless of the number of calls to `NetworkInterface::purgeIdle`:

- The hash table of flows is purged no more than one time every `FLOW_PURGE_FREQUENCY=2` seconds.
- All the other hash tables

[2018-08-08 09:13] #1901 closed, assigned to simonemainardi

[2018-08-08 09:48] #1874 closed, assigned to emanuele-f

[2018-08-08 16:17] lucaderi opened #1905 "Implement automatic malware packet dump"
As ntopng has now the ability to stream pcaps to users via HTTP, it would be nice to add an extra feature. ntopng is able to identify blacklisted hosts. It would be nice ntopng to dump locally (not to stream them) pcaps containing traffic coming from these malware hosts (nice to have a pcap per host instead of mixing everything in a single file). This would enable better traffic analysis in additi

[2018-08-08 21:07] tomoxwell commented on #1898
I just did a fresh install in my bid to get everything working but I cant find the following file anymore:
/var/tmp/ntopng/system.config

[2018-08-08 21:08] tomoxwell commented on #1898
This is in relation to bind_to

[2018-08-09 00:20] jforman opened #1906 "ntopng showing no IPv6 traffic flows/IPs/etc using IPFIX"
I've recently spun up IPv6 connectivity on one of my subnets at home through a tunnel broker, and wished to use nprobe/ntopng to dig into traffic flows and learn some things. I set up a flow exporter on my firewall/router to send traffic to an nprobe collector on another internal host, be viewed via ntopng. The problem is, nowhere in the ntopng UI does it show any IPv6 flows/traffic. Every IP/flow

[2018-08-09 00:27] jforman commented on #1906
It seems the template via -T was not defined, and from reading https://github.com/ntop/nProbe/issues/169, i was able to get it working. Why doesn't this work by default? Are there different forms of templates?

[2018-08-09 07:58] emanuele-f commented on #1904
Fixed in the new build.

[2018-08-09 07:58] #1904 closed, assigned to emanuele-f

[2018-08-09 07:59] emanuele-f commented on #1898
I've fixed the bind_to issue. The new package will be available in one hour.

[2018-08-09 08:00] tomoxwell commented on #1898
Much appreciated. Looking forward.

[2018-08-09 08:55] emanuele-f commented on #1898
The package is now available. Please check it out and report if it everything works for you.

[2018-08-09 08:56] tomoxwell commented on #1898
should i uninstall and install or should just upgrade?

[2018-08-09 09:00] emanuele-f commented on #1898
upgrade is ok

[2018-08-09 20:55] vidgizmo opened #1907 "No Historical graph on Historical"
I seemed to have lost the graph on my historical timeseries of traffic.

I have tried completely uninstalling and reinstalling, but no luck :(

I am running a build from the following branches:
- nDPI - 2.2.2-stable
- ntopng - 3.4-stable

I also tried the dev branch and am seeing the same thing.

Here's a screen snapshot showing the missing graph...

https://www.dropbox.com/s/1yvy7mesardguzl/Scree

[2018-08-10 07:36] emanuele-f commented on #1907
Hi, have you enabled the "Traffic" timeseries into the ntopng preferences? If you open the browser inspector, do you see any javascript errors?

[2018-08-10 14:11] simonemainardi commented on #1906
We use a conservative approach and leave the default templates as small as possible, to avoid exporting fields *default* users don't care about. This is not a loss in generality as templates are fully customizable and any *advanced* user can tailor them to fit his/her needs.

In the case of IPFIX the default template is IPv4 only and contains the following fields and this explains why you were not

[2018-08-10 14:11] #1906 closed, assigned to nobody

[2018-08-10 14:13] simonemainardi commented on #1898
@tomoxwell any news here?

[2018-08-10 15:08] tomoxwell commented on #1898
update did not work. Did a re- installation and all seems to be working fine now. Thanks for your help.

[2018-08-10 15:21] emanuele-f commented on #1898
Thank you for your feedback.

[2018-08-10 15:21] #1898 closed, assigned to nobody

[2018-08-10 15:32] tomoxwell commented on #1898
The only error is

Aug 10 17:45:27 sapphire ntopng[20691]: 10/Aug/2018 17:45:23 [startup.lua:14] [nf_config.lua:603] WARNING: Cannot get LAN interface br0 address

But the system seems to work with it so i guess its fine.

[2018-08-10 16:57] emanuele-f opened #1908 "Hide LAN interface address warning when in VLAN trunk mode"
`WARNING: Cannot get LAN interface br0 address`

[2018-08-10 16:58] emanuele-f commented on #1898
Yes, it's normal. I've opened this issue to track this. #1908

[2018-08-12 16:25] dvachon2018 opened #1909 "Geomap error message"
hi! i am using last ntopng (arm) v3.5.180802 - Enterprise/Embedded Edition
On geo map page, i have the map but always a message similar to ' unable to load google map correctly on this page' (this is a translation from my french message'
I had a google api key but had this problem, so i created another new google map api key and put it in preference (+ a reboot) but still same problem with both IE

[2018-08-13 03:01] Gavin-yzg opened #1910 "Networks only show 10 networks"
ntopng Community Edition v.3.4.180810   system centos7.4
Networks can only show 10 networks

[2018-08-13 07:54] emanuele-f commented on #601
This is now implemented in the latest dev version. For example, when selecting a day timeframe, an additional "1day ago" line is shown in the graph.

[2018-08-13 07:54] #601 closed, assigned to simonemainardi, emanuele-f

[2018-08-13 07:55] emanuele-f commented on #1910
Hi, please note that Networks only shows active local networks, not idle ones. Can this be the problem?

[2018-08-13 08:38] S0t0nN3rdS opened #1911 "Applied license but it keeps expiring"
I was issued with an enterprise license (non-profit organisation), followed the instructions to generate the license, applied it, but it always seems to expire and the service stops.

Happy to provide logs or anything else that maybe of use, would really like to get this up and running.

Thanks

[2018-08-13 12:43] emanuele-f commented on #1911
Please check out https://www.ntop.org/support/faq/my-license-does-not-work-what-can-i-do/

[2018-08-13 14:15] dvachon2018 opened #1912 "bad counter"
hi!
using last ntopng (arm) v3.5.180802 - Enterprise/Embedded Edition
regulary have that kind of counter for traffic
16777216 TB
ex: in graph of eth0
setting for db is RRD (default)

![2018-08-13 10_06_13-welcome to ntopng](https://user-images.githubusercontent.com/33327149/44037050-628d5bfe-9ee1-11e8-86b5-4f7c290d2223.jpg)

[2018-08-13 14:17] emanuele-f commented on #1909
Hi, please open the browser javascript inspector to see if there are any errors. For example, after a few requests I get `You have exceeded your request quota for this API`

[2018-08-13 14:20] emanuele-f commented on #1912
If you zoom in into the graph, do you still see the error?

[2018-08-13 16:18] dvachon2018 commented on #1909
javascript console via CTRL-MAJ-J and yes there was error with quota, i dont understand because this was a new key. Anyway on google api console web i created a new projet with api key and it is working fine now. Thank you!

[2018-08-13 16:47] #1909 closed, assigned to nobody

[2018-08-13 17:19] emanuele-f commented on #1912
Please open the javascript inspector and zoom at the maximum resolution until the problem still reproduces. Then in the "network" tab of the inspector, copy and past here the get_ts.lua script query with parameters, e.g. `scripts/lua/get_ts.lua?epoch_begin=...`.

[2018-08-13 23:09] dvachon2018 opened #1913 "reset all data"
hi, using ntopng enterprise on arm.
i want to do a full reset of all hosts data so i stop ntopng, empty mysql flow database and did a rm -r * in /var/tmp/ntopng but when i restart ntopng hosts data ex: last seen is still there ex: 3 days.
So what else to delete ?
note: i want to keep user/config/license

[2018-08-14 07:45] emanuele-f commented on #1913
Hello, you should also flush redis: `redis-cli flushdb`

[2018-08-14 08:47] dvachon2018 commented on #1913
redis-cli flushdb worked but had to redo the config and license

[2018-08-14 08:53] emanuele-f commented on #1913
Sorry for that. I assumed license was written to the license file. We should extend the "Manage Stored Data" page to work with networks and provide a "Delete All" button. I'm opening a new github issue for this.

[2018-08-14 08:53] #1913 closed, assigned to nobody

[2018-08-14 08:55] emanuele-f opened #1914 "Extend Manage Stored Data"
It would be nice to add the ability to delete a whole network data or all the existing data through the `Delete` tab in Manage Stored Data.

[2018-08-14 14:09] dvachon2018 commented on #1912
hi, i restarted with a new DB, so now waiting for the problem to be reproduced.......
what do you mean exactly by 'zoom at the maximum' ?? change the Timeframe ?? Because on the graph, there is a 'Zoom out' button but clicking it does nothing.

[2018-08-14 14:14] dvachon2018 commented on #1914
yes should have a easy way to reset everything ( redis, mysql flow, ntop data) to empty and without loosing config and license.

[2018-08-14 16:20] dvachon2018 commented on #1912
hi, i wish it is what you asked for

[code]
![image](https://user-images.githubusercontent.com/33327149/44104258-652a9120-9fbc-11e8-90f5-45607edb6ffc.png)

[2018-08-15 08:58] emanuele-f commented on #1912
Hi, thank you for the info. In order to zoom in, you can click and drag the mouse on the graph.
Can you please run the following command and post its output? I need understand if the underlying data is correct or not:
`sudo rrdtool fetch /var/tmp/ntopng/0/rrd/bytes.rrd AVERAGE -s 1534259640 -e 1534263180 -r 60`

Afterwards. please update to the new version and see if the problem still reproduces.

[2018-08-15 09:06] S0t0nN3rdS commented on #1911
Trying the suggested commands, butnothing working:

C:\>cd "\Program Files\ntopng"

C:\Program Files\ntopng>ntopng.exe /h

Unrecognized option: /h
Available options:
/i [ntopng options] - Install ntopng as service
/c                  - Run ntopng on a console
/r                  - Deinstall the service
/h                  - Prints this help

Usage: type ntopng /c -h

C:\Program Files\ntopng>ntopng

[2018-08-15 12:34] dvachon2018 commented on #1912
hi, i zoomed to the maximum and problem still there;
![image](https://user-images.githubusercontent.com/33327149/44148071-b7f48f0c-a064-11e8-8869-f2f2023666d2.png)

result for rrdtool fetch /var/tmp/ntopng/0/rrd/bytes.rrd AVERAGE -s 1534259640 -e 1534263180 -r 60
[rrdt.txt](https://github.com/ntop/ntopng/files/2290206/rrdt.txt)

i will do the upgrade.

[2018-08-15 18:52] boisgada opened #1916 ""Export Host Data" only exports ifid 1 hosts"
Using the /lua/export_data.lua in the enterprise edition of ntopng appears to only export ifid 1 data.  Multiple tests using various commandline arguments to attempt to for other ifid host data to be exported failed.

Please advise.

Additional information:
Server: ntopng Enterprise Edition v.3.4.180726
Sensors: nProbe v.8.5.180802 (r6234) [Embedded]

[2018-08-15 19:00] vidgizmo commented on #1907
Traffic is set.

The only warning in the console is:

jquery.js:9455 [Deprecation] Synchronous XMLHttpRequest on the main thread
is deprecated because of its detrimental effects to the end user's
experience. For more help, check https://xhr.spec.whatwg.org/.
send @ jquery.js:9455
ajax @ jquery.js:9173
render @ if_stats.lua?ifid=0&…&zoom=1h&epoch=:525
update @ rickshaw.js:2158
(anonymous) @ ricksha

[2018-08-16 02:52] dvachon2018 commented on #1912
hi
same problem with 3.5.180813 - Enterprise/Embedded Edition

[2018-08-16 10:12] emanuele-f commented on #1907
Is this enabled in your case?

![screenshot_7](https://user-images.githubusercontent.com/5488003/44202886-88887c80-a14d-11e8-95be-3bf4a27e62af.png)

Do you have any errors into the ntopng log? Please check out `journalctl -u ntopng`

[2018-08-16 10:39] emanuele-f commented on #1916
Some notes about the bug on stable:
1. ifid is never selected, so the first available interface is always returned
2. Ntop::getNetworkInterface is bugged, as it does not properly check the allowed interface. This means that a user may get data which is not supposed to be able to access.

One more note about the dev version: it uses _POST instead of _GET and there is not reason for this. This preve

[2018-08-16 11:13] koenvdheuvel opened #1917 "Configuration for reading from a mirror port."
Currently ntopng counts all traffic as RX which should be handled by #1452 however it doesn't know
if it is reading from a mirror port.

[2018-08-16 11:18] lucaderi commented on #1917
In essence in addition to #1452, It needs to be implemented a preference in network interface to tell ntopng that the observed is not originated by the host but it is received though a mirror. This means that activities like network discovery or TX should be completely disabled.

[2018-08-16 15:15] vidgizmo commented on #1907
Yes, enabled...

[Attached below]
![screenshot 2018-08-16 10 26 23](https://user-images.githubusercontent.com/1494405/44218261-f37e8700-a13e-11e8-9c04-4d41b33cc6c0.png)

Results from command:

root@odroid64:~# journalctl -u ntopng
-- No entries --

In case it matters, here's the command I am using to start ntopng:

/usr/local/bin/ntopng -U ntop -m 192.168.1.1/24 --data-dir /var/lib/ntopng
-e -i et

[2018-08-16 15:18] vidgizmo commented on #1907
Additionally, in case it matters, here are the preferences related to
Timeseries in the general admin prefs page:
![screenshot 2018-08-16 10 29 01](https://user-images.githubusercontent.com/1494405/44218395-3b051300-a13f-11e8-9cab-4335c326f633.png)

On Thu, Aug 16, 2018 at 10:14 AM Mike Burkett <vidgizmo@gmail.com> wrote:

[2018-08-16 18:19] #1916 closed, assigned to nobody

[2018-08-16 18:23] simonemainardi opened #1918 "Security Issues with Allowed Interfaces"
`interface.select()` does not check the possibly defined `allowed_interface` for the user who is selecting. This means that a user can try and call endpoints to select and perform operations on interfaces he's not allowed to control.

[2018-08-16 22:37] Alestor opened #1919 "Start - End Date Issue in Historical Data Explorer"
Hi,

every time I hit "Search Flows" the Values for Begin Date/Time & End Date/Time are set minus one day of the selected time range.

ntopng --version
v.3.5.180810    [Enterprise/Professional build]
GIT rev:        dev:1f3a7f517ae5dd8b57ea80a1439cbac7fad7a5a5:20180810

[2018-08-17 08:12] emanuele-f commented on #1912
So the value stored on disk is actually wrong
[code]

This is strange, I have to perform more tests to reproduce the issue

[2018-08-17 10:43] S0t0nN3rdS commented on #1911
Ok, os the first talks of a license file.. I recall having to do that for nprobe, but no mention anywhere of doing it for ntopng and applied license following instructions to add in the About page.

The only commands I could run showed an invalid license...  as the app runs as a service, I cant run the app from cli to see the output.

[2018-08-17 10:52] S0t0nN3rdS commented on #1911
Ive managed to get some output and am seeing a licnse mismatch error.. Could I have been given the wrong license for the version I have?

[2018-08-17 13:28] emanuele-f commented on #1911
You can run those commands even if running as service. Please post here the full output of the commands.

[2018-08-17 14:20] S0t0nN3rdS commented on #1911
C:\Program Files\ntopng>ntopng

NOTE:
Under your version of Windows, ntopng is started as a service.
Please open the services control panel to start/stop ntop,
or type ntop /h to see all the available options.

StartServiceControlDispatcher failed!

C:\Program Files\ntopng>

C:\Program Files\ntopng>ntopng /c --check-license
Starting ntopng
Running ntopng.
Invalid license

C:\Program Files\ntopng>

[2018-08-17 15:06] lucaderi commented on #1911
Sent you instructions via email

[2018-08-17 15:06] #1911 closed, assigned to nobody

[2018-08-17 17:21] juesor opened #1920 "LDAP is not working on latest - r1835"
# ntopng --version
v.3.5.180817    [Enterprise/Professional build]
GIT rev:        dev:86ed744e0040d3bf35cf62f38c29bbeb72c298cb:20180817
Pro rev:        r1835

Since upgrading to this LDAP is no longer authenticating users.

[2018-08-17 17:24] juesor commented on #1920
# ntopng --version
v.3.5.180816    [Enterprise/Professional build]
GIT rev:        dev:d62a19fa8897ef6cb99822e7df6fc099706a3980:20180816
Pro rev:        r1829

I reverted to this release and now LDAP is working.  But it keeps crashing.

[2018-08-17 17:53] juesor commented on #1920
It was reported that the 1835 build i have is not bundled with ldap support.  the official release on 8.18.2018 will have ldap.

[2018-08-17 17:53] #1920 closed, assigned to nobody

[2018-08-17 21:59] Alestor commented on #1919
Seems to be a browser related bug. Can't reproduce it at the moment. Closing this for now

[2018-08-17 21:59] #1919 closed, assigned to nobody

[2018-08-19 01:14] Gavin-yzg commented on #1910
some active local networks not show

[2018-08-19 01:19] Gavin-yzg commented on #1910
Upgrading to  v.3.4.180813 seems as normal

[2018-08-19 01:20] #1910 closed, assigned to nobody

[2018-08-19 08:11] DearTanker opened #1921 "How to get report with tcp ports usage?"

[2018-08-20 07:25] emanuele-f commented on #1921
Hi, you can get a real time view of all the ports usage in the host page: https://www.ntop.org/guides/ntopng/web_gui/host_details.html#ports . The report, available in the pro/enterprise versions, does not contain ports usage but it contains L7 applications breakdown, please check out https://www.ntop.org/guides/ntopng/web_gui/report.html .

[2018-08-20 07:25] #1921 closed, assigned to nobody

[2018-08-20 11:38] #1918 closed, assigned to nobody

[2018-08-20 13:32] operations999 opened #1922 "Ntopng crashing"
We configured just 2 SNMP devices and after every few hours the services are crashing. We configured sflow but we don't see any data. Any idea how to make it work? Snmp devices are added correctly and we can see the port usage , mac address etc
Version | 3.5.180819 -  Enterprise Edition
CPU load | 0.26%
Ram Used: 1.28% / Available: 46.50 GB / Total: 47.10 GB
3.5.180819 -  Enterprise Edition
x86_64

[2018-08-20 14:25] emanuele-f commented on #1922
If you run the services from command line, do they work correctly? Which service is crashing? Can you paste here the latest output of `sudo journalctl -u ntopng` after the crash?

[2018-08-20 16:42] emanuele-f commented on #1912
A workaround for this is available with commit 354dd697c0759e022e6ff761846c615928f823c4 . I'll update this post when the new package is available, so that you can test it.

[2018-08-20 17:46] operations999 commented on #1922
Hello,
Sorry we running centos 6.8 not Ubuntu or Centos 7. Is there some other command we can run or logs we can dump?
Thanks

[2018-08-20 21:48] jpbourke commented on #1771
We had another thought.  We could  hack flow.cpp to change the tdiff_msec to 6000 in order to get 6 second throughput.  We'll have to break our RX and TX into separate counters,

Is this a hack too far, will it have knock on effects elsewhere ?

[2018-08-20 22:14] jpbourke commented on #1771
In fact could we then write a period user script to export that via a low level TCP connection, something very light weight ?

[2018-08-21 07:14] simonemainardi commented on #1771
We have very recently introduced per-second measurements in our other software nProbe. Have a look at https://www.ntop.org/nprobe/introducing-per-second-measurements-in-nprobe-flow-exports/ for discussion and examples.

We believe that increasing the samples resolution is good and we will also add this to ntopng at some point.

[2018-08-21 10:21] emanuele-f commented on #1912
@dvachon2018 the new package is now available. Please install it and report if the issue is solved.

[2018-08-21 11:53] foxdavion opened #1924 "Getting QoE data"
Hello.
I'm a network engineer, and work for ISP.  We have many pppoe clients. I'm mirroring the port with aggregation.
We have a question about how we can to automate receiving QoE data(Retransmissions and so on) from ntopng to third party monitoring system(eg zabbix).
I want to receive data not through the web, for automatic analysis and identification of problematic subscribers.

[2018-08-21 13:57] brianluers25809 opened #1925 "Ability to modify Slack channel for Alerts"
Right now in the gui it does not allow you to select what slack channels alerts go into, they are pre categorized into channels based on the alert.  I can manually edit the slack.lua to put all alerts into one channel, but every time ntopng is updated it has to be changed back.  Would like to have a GUI option to select the slack channel alerts are placed into.

[2018-08-21 14:54] boisgada opened #1926 "Receiving constant "TCP connection refused" messages"
Everything appears to be working; however we are constantly receiving the following message in syslog:

Server: ntopng v.3.4.180820    [Enterprise/Professional build]
Sensors: nProbe v.8.5.180813 (r6250) [Embedded] for armv7l-unknown-linux-gnueabihf

Configured with 'pull' method

[2018-08-21 15:25] emanuele-f commented on #1925
Hi, this is already implemented in the latest dev. See https://github.com/ntop/ntopng/issues/1653

[2018-08-21 15:25] #1925 closed, assigned to nobody

[2018-08-21 15:26] emanuele-f commented on #1926
Please check out the alert settings into the ntopng preferences

[2018-08-21 15:29] boisgada opened #1927 "Enhancement request - more granular access controls"
Request more granular access control for enterprise edition.  Possible options:
- the ability to assign access to multiple interfaces for specific users or group of users
- the ability to group interfaces
- the ability to group users

Server: v.3.4.180820    [Enterprise/Professional build]

[2018-08-21 15:32] boisgada commented on #1926
Which of the settings controls the TCP connection refused messages?  I would like alerts sent to syslog, but I don't know the origin of these specific messages, so I am unable to troubleshoot.

[2018-08-21 16:06] emanuele-f commented on #1926
"Probing Alerts"

[2018-08-21 17:09] emanuele-f commented on #1927
Hi, please note that you can actually group interfaces via "view interfaces". Check out https://www.ntop.org/guides/ntopng/advanced_features/view_interfaces.html .

[2018-08-21 22:45] boisgada commented on #1926
That fixed it.  Curious if more information is available which is not being displayed in syslog.  If these are probing alerts it would be nice to be able to track down more details.  (src, dst, service, etc)

[2018-08-21 23:11] boisgada commented on #1927
Thank you.  That works and does enough to meet my requirements.

[2018-08-22 09:39] lucaderi commented on #581
For the time being we decided that websocket support can create issues to the HTTP server and thus we postpone its implementation.

[2018-08-22 09:39] #581 closed, assigned to simonemainardi

[2018-08-22 09:40] lucaderi commented on #1632
@emanuele-f Any update after the latest changes to timeseries?

[2018-08-22 09:41] lucaderi commented on #1071
We believe this is no longer a priority and thus we put this issue on hold.

[2018-08-22 09:41] #1071 closed, assigned to simonemainardi

[2018-08-22 10:16] lucaderi opened #1928 "Integrate ntopng with Suricata"
Suricata (https://suricata-ids.org) is a popular IDS/IPS that can export data in Eve JSON support (https://suricata.readthedocs.io/en/suricata-4.0.5/output/eve/eve-json-output.html). ntopng should be modified so that it can become a feed for Suricata events so that ntopng can ingest them for:
-  becoming a monitoring console for Suricata
- complementing monitoring data with Suricata security analy

[2018-08-22 10:25] lucaderi opened #1929 "Implement more granular timeseries"
Since a more efficient backend (InfluxDB) has been released, it would be nice to have the ability to write metrics more often (nDPI host counters are currently written every 5 mins), e.g. every 10-30 sec. As this could be a costly options, they need to be configurable in terms of frequency, backend etc.

[2018-08-22 10:32] lucaderi commented on #297
@EmilioMoreno I suggest you to use https://www.ntop.org/products/traffic-analysis/ntopng-edge/

This said, as we have no control over pfSense the best we can do is to support the FreeBSD community but we do cannot go beyond this as like I have said we have no control over pfSense nor how packets are marked. For this reason I now close this ticket, that can be reopened if necessary.

[2018-08-22 10:32] #297 closed

[2018-08-22 10:58] madpilot78 commented on #297
Just for informative purposes I'm going to update the FreeBSD ports of nDPI and ntopng to the latest branches shortly (after testing).

pfsense tracks FreeBSD "quarterly" ports, next quarterly will be branched at the start of October. Shortly after pfsense will merge those changes and after recompiling and testing will release new package sets for pfsense. This is their policy, we have no control

[2018-08-22 12:26] emanuele-f commented on #1632
To summarize, the two proposed options are:
1. Avoid writing timeseries data for view interfaces and instead calculate them dynamically by aggregating the single interfaces timeseries
2. Extend the interface timeseries settings by adding more control on which timeseries to write on a per-interface basis

Solution 2 would add too much complexity both on the gui and in the code, and will not really

[2018-08-22 12:26] #1632 closed, assigned to emanuele-f

[2018-08-22 12:29] emanuele-f commented on #1907
@vidgizmo can you please update to the new stable release and see if the problem persists? Please also remove your customized ntopng options and start with a clean command line: `ntopng -m 192.168.1.0/24 --data-dir /var/lib/ntopng -i eth0`. You may also try to add the `-s` option to see if this is a permission issue.

[2018-08-22 12:37] lucaderi opened #1930 "When possible use a data directory other then /var/tmp"
The /var/tmp/ntopng default is not optimal as "tmp" stands for temporary whereas ntop data is persistent (and thus not temporary at all). Without making complicated choices, it is required to move from /var/tmp to another directory that could be for instance /var/lib/ntopng. Furthermore ideally packages should create a ntopng user with no privileges, and write onto the selected directory using thi

[2018-08-22 12:44] lucaderi commented on #1930
For instance in MySQL this is the layout they use (note the username)

# ls -l /var/lib/mysql
total 188476
-rw-r----- 1 mysql mysql       56 Jul  8  2017 auto.cnf
-rw-r--r-- 1 mysql mysql        0 Jul 31 06:54 debian-5.7.flag
-rw-r----- 1 mysql mysql      851 Aug  1 00:01 ib_buffer_pool
-rw-r----- 1 mysql mysql 50331648 Aug  1 00:02 ib_logfile0
-rw-r----- 1 mysql mysql 50331648 Jul  8  2017 ib_log

[2018-08-22 12:55] drean1968 opened #1931 "PF_RING-Napatech license valid or not"
We have bought a PF-RING Napatech license, based on the 'zcount -h' information. On our system 'zcount -h' shows the following information:

zcount - (C) 2014-2018 ntop.org
using PFRING_ZC v.7.2.0.180626
...

When we got the license from shop.ntop.org/mkzclicense, we generated a file '811-0008-02-10' inside the folder '/etc/pf_ring' with the license key inside the file.

When we check the pf_ring

[2018-08-22 13:00] cardigliano commented on #1931
@drean1968 the license should be generated for '811-0008-02-10-0000-234516', where did you get '811-0008-02-10'?

[2018-08-22 14:48] louisesc opened #1932 "NTOPNG - starts dropping after 10mins"
Hi

We are running the latest version 3.6.1 and we have the same issue we have in 3.4.

After 10 minutes ntop starts dropping packets.

We are doing approximately 300 flows/s and 60k pps and 400 Mbits/s.

I downgraded to 2.4 and that worked fine, although was missing some of the features we needed.
We also tried  having ntopng as an nprobe collector, rather that getting the flows in itself and thi

[2018-08-22 16:47] brianluers25809 opened #1933 "Upgrade ntopng from Stable to Dev"
I am looking for an easy way to change the stable version of ntopng being used to the Dev version.  I purchased the Nbox from truepath and hte only option it gives to install or uninstall ntopng pro.  When i uninstall the ntopng stable version (or try to download pkg for dev) i get the following error:

admin@CHINTOP1:~$ sudo dpkg -i apt-ntop.deb
sudo: unable to resolve host CHINTOP1
dpkg: regardi

[2018-08-22 17:45] ghost commented on #1903
Thank you.

[2018-08-22 20:57] vidgizmo commented on #1907
I updated to the 2.4-stable for nDPI and the 3.6-stable for ntopng and ran it with the following command line:

sudo /usr/local/bin/ntopng -s -m 192.168.1.1/24 --data-dir /var/lib/ntopng -i eth0
[I tried it both with and without the -s option with the same results as below]

Now I am getting the following message on that page:

HTTP/1.1 500 Internal server error Content-Type: text/html Connection:

[2018-08-22 21:08] vidgizmo commented on #1907
Got it working by doing the following:

rm -rf /var/lib/ntopng
mkdir /var/lib/ntopng
chmod 777 /var/lib/ntopng

I am guessing I could probably change the permissions to only the owner of the ntopng process. But it is working :)

![screenshot 2018-08-22 16 04 31](https://user-images.githubusercontent.com/1494405/44491011-89298300-a625-11e8-948b-bc30b3954a4b.png)

[2018-08-23 00:09] R2robot opened #1934 "Brew version out of date (3.2.3)"
Installed today via brew . The admin interface warns that a newer version is available (3.6.0) and to download at https://www.ntop.org/get-started/download/       The download page includes an option to install to brew  so I'm assuming it's still intended to be a valid and up to date method for installing?

There is a --HEAD option in the keg, but it points to origin/dev.

[2018-08-23 06:39] ummeegge opened #1935 "Special character problem for webinterface authentication"
Hello,
i wanted to report a problem with special characters for the webinterface authentication on ntopng version
`
v.3.7.180823	[Community build]
GIT rev:	::20180823
`

which are possibly already known but i wanted to deliver some tests to specify/identify them .

Special characters which worked are:
`
! $ % & / ( ) = ? ^ ; : . , _ - # *
`

Special Characters which do not worked and ended up in a

[2018-08-23 07:45] ghost commented on #1934
I have this issue too :(

[2018-08-23 07:50] simonemainardi commented on #1934
guys, the brew package is a bit outdated. Unfortunately, I don't use brew so I can't really be of help here.

Any of you would be interested in maintaining the brew package more actively? I would love to see the latest version there. That would be a great service for the community. Indeed, there are a lot of downloads as confirmed by the formula page: https://formulae.brew.sh/formula/ntopng

If yo

[2018-08-23 07:53] simonemainardi commented on #1933
remove the stable repo first:

[code]

Then install the dev one

[code]

Clearly, if you change from stable to dev, all the ntop applications will be updated as soon as you run an `apt-get update && apt-get upgrade`

[2018-08-23 07:53] #1933 closed, assigned to nobody

[2018-08-23 07:56] simonemainardi commented on #1927
note that, in addition, you can also limit the scope of any non-admin ntopng user to a single interface (see field Allowed Interface):

![image](https://user-images.githubusercontent.com/3397663/44512411-becc7b80-a6ba-11e8-97b0-df22cd1b37d1.png)

[2018-08-23 07:56] #1927 closed, assigned to nobody

[2018-08-23 08:11] simonemainardi commented on #1907
Correct. It seems that you changed the user who was running ntopng.

Note that when the data directory (default /var/tmp/ntopng) doesn't exist, the user who's running ntopng creates it with restrictive permissions so that the user is the only one to have read-write-execute. See for example:

[code]

If you then run ntopng with another user (apart from root) who doesn't own the data directory, then

[2018-08-23 08:11] #1907 closed, assigned to emanuele-f

[2018-08-23 08:46] simonemainardi commented on #1926
All the information associated with the flow is reported, including src and destination ips, ports, and the l4 proto.

![image](https://user-images.githubusercontent.com/3397663/44513699-597a8980-a6be-11e8-8e56-df748945df4c.png)

Note that we mark a flow as 'connection refused' when, during the three-way handshake, the client sends a SYN and the server responds with a RST. So we're during the init

[2018-08-23 08:46] #1926 closed, assigned to emanuele-f

[2018-08-23 08:51] simonemainardi commented on #1924
You can programmatically query every local host of interest for its json using the following enpoint:

[code]

the returned JSON will contain the requested information in

- tcpPacketStats.pktRetr
- tcpPacketStats.pktOOO
- tcpPacketStats.pktLost
- tcpPacketStats.pktKeepAlive

The whole set of metrics available in the json can be found at https://github.com/ntop/ntopng/blob/dev/src/Host.cpp#L623

N

[2018-08-23 09:14] simonemainardi commented on #1922
It is fundamental for us to have a core dump of the application when it crashes.

See how to generate core dumps on centos6. Maybe this guide can help: https://www.unixmen.com/how-to-enable-core-dumps-in-rhel6/

Once you've set up the machine for core dump generation, try to manually kill the ntopng process with a kill -SEGV and check for the existence of the dump. Then restart ntopng and let it r

[2018-08-23 09:36] foxdavion commented on #1924
curl --cookie "user=admin; password=admin"  "http://localhost:3000/lua/host_get_json.lua?ifid=1&host=x.x.x.x"

![image](https://user-images.githubusercontent.com/21257060/44517707-d703c100-a6e1-11e8-9315-64d29b5d8e20.png)
???

[2018-08-23 09:43] simonemainardi commented on #1899
I think what you should to is to use logstash for the described problem.

It's not a matter of a logstash writer being compatible with GELF. The builtin ntopng logstash writer don't have to be compatible with GELF nor it has to interact directly with Graylog. Those functions are proxied by logstash itself.

Note that ntopng is compatible with logstash via an input tcp plugin https://www.elastic.co

[2018-08-23 09:54] simonemainardi commented on #1932
please, switch back to version version 3.6 and report:

- output of ntopng --version
- full ntopng configuration used
- hw specs of the machine running ntopng, including ram and cores
- information obtained using top/htop for the ntopng process, including load and mem used
- screenshots of the interface page that reports drop, volume of drops
- number of active hosts / flows  (the bottom-right cor

[2018-08-23 09:55] simonemainardi commented on #1924
did you do the first login from the web ui after the installation? note that ntopng forces you to change the admin password that cannot be admin.

[2018-08-23 09:58] foxdavion commented on #1924
his was an example, of course I changed the password)

[2018-08-23 10:01] simonemainardi commented on #1924
It works beautifully using the latest ntopng:

[code]

Check the whole html output you are getting.  My feeling is that the auth is failing...

[2018-08-23 10:30] foxdavion commented on #1924
thanks,  x.x.x.x@vlanid )

[2018-08-23 10:36] simonemainardi commented on #1935
The link to the readme file you've provided isn't affiliated with us.

For the password reset you should refer to the instructions at: https://github.com/ntop/ntopng/blob/dev/doc/README.md
In particular, you have to delete file runtimeprefs.json to make sure the password gets reset.

For the special characters, please tell me the platform on which you are building and enclose config.h and config.l

[2018-08-23 10:37] simonemainardi commented on #1924
thank you for reporting.

[2018-08-23 10:37] #1924 closed, assigned to simonemainardi

[2018-08-23 11:14] simonemainardi commented on #1658
correct, configuring the rsyslog.conf is the proper way to instruct syslog to deliver events to remote syslog collectors.

On windows there's no concept of syslog and alerts are not written to file. For this reason, in order to retrieve the exising alerts under Windows, the recommended way is to query endpoint `get_alerts_data.lua` to have an easy-to-parse JSON representation of the alerts detecte

[2018-08-23 11:14] #1658 closed, assigned to simonemainardi

[2018-08-23 13:05] ghost commented on #1934
@simonemainardi I’d be happy too maintain if it doesn’t require that much work.

[2018-08-23 14:43] simonemainardi commented on #1934
May I suggest you to read the 'Maintainers' section of https://docs.brew.sh/

I think you should start submitting PRs and eventually you can be invited to become a maintainer. Creating a PR for the ntopng formulae should't be that hard.

However, I am not familiar with brew so I would like to suggest to get in touch with the 'brewers' directly to have more detailed information.

Let me know.

[2018-08-23 17:54] ummeegge commented on #1935
Thanks for looking into this.

Good to know, haven´t found that one.

It is an IPFire building environment --> https://wiki.ipfire.org/devel/ipfire-2.x/addon-howto on a Linux Mint host machine.

objdump output:

[code]

File output

`
/usr/bin/ntopng: ELF 64-bit LSB executable, x86-64, version 1 (SYSV), dynamically linked, interpreter /lib64/ld-linux-x86-64.so.2, for GNU/Linux 3.2.0, stripped, wit

[2018-08-23 18:49] vidgizmo opened #1936 "LuaJIT-2.1.0 error when building ntopng on Ubuntu 18.04.1"
I just updated my system to Ubuntu bionic 18.04.1 LTS and tried to rebuild ntopng.

When I go try to make ntopng, I am getting the following error:

g++  src/LocalTrafficStats.o  src/PacketDumper.o  src/VlanHash.o  src/GenericHash.o  src/EthStats.o  src/DB.o  src/IpAddress.o  src/AutonomousSystem.o  src/Grouper.o  src/MacManufacturers.o  src/AddressList.o  src/ExportInterface.o  src/FrequentString

[2018-08-23 18:52] vidgizmo commented on #1936
I will try the dev branches of both to see if that makes any difference.

I am building using the following steps:

nDPI:
* ./autogen.sh
* ./configure -with-pic
* make

ntopng
* ./autogen.sh
* ./configure
* make
* make geoip
* sudo make install

[2018-08-23 19:38] vidgizmo commented on #1936
The dev branch build did not make a difference. Now I am going to try completely removing the ntopng directory and all subdirs and repull it from git -- just in case the third-party stuff is not properly rebuilding.

[2018-08-23 19:44] darox opened #1937 "Influxdb - NTOPNG requests admin rights"
I set up NTOPNG 3.7 with Influxdb export, but for some reason NTOPNG requests to have admin privileges, although the database already exists:
`Could not create "ntopng_srv_ubn_services_2" database: [403] error authorizing query: ntopng not authorized to execute statement 'CREATE DATABASE ntopng_srv_ubn_services_2', requires admin privilege`

As I'm running an environment with restricted user right

[2018-08-23 19:48] vidgizmo commented on #1936
Deleting and repulling the source tree fixed the issue. It would have been nice if the make process would have properly handled this case, but it is working now.

[2018-08-23 19:48] #1936 closed, assigned to nobody

[2018-08-23 22:25] dvachon2018 commented on #1912
Hello, appear to be ok now. Normal counter for 2 days.
:)

[2018-08-24 03:03] DomT4 commented on #1934
FWIW:
[code]

[code]

[2018-08-24 07:13] drean1968 commented on #1931
sorry for the late reaction, but thanks it's working now.

[2018-08-24 07:18] daniel2029 commented on #1934
Hi again,

I ran the following command:
brew bump-formula-pr ntopng --url=https://github.com/ntop/ntopng/archive/3.6-stable.zip --version=3.6-stable

I'm not sure it was correct but if someone could please let me know if i have done it correctly or if there is anything i have missed.

[2018-08-24 07:32] emanuele-f commented on #1912
Thank you for reporting. I'm closing the issue for now.

[2018-08-24 07:32] #1912 closed, assigned to emanuele-f

[2018-08-24 08:11] simonemainardi commented on #1931
Thanks for reporting. Next time please use pf_ring issue tracker for pf_ring related issues: https://github.com/ntop/PF_RING/issues

[2018-08-24 08:11] #1931 closed, assigned to nobody

[2018-08-24 08:12] #1937 closed, assigned to emanuele-f

[2018-08-24 08:14] emanuele-f commented on #1937
An additional check is now performed automatically to prevent such errors. Please note that the database must exists and the user must have proper privileges on it. The new package will be available in one hour.

[2018-08-24 09:28] darox commented on #1937
@emanuele-f Nice, thanks!

[2018-08-24 11:16] prasanthi97 opened #1938 "error while loading shared libraries"
After installing ntopng 3.6 it is giving error as follows in ubuntu 14.04
ntopng: error while loading shared libraries: libmaxminddb.so.0: cannot open shared object file: No such file or directory
Prev version worked well.

[2018-08-24 14:40] simonemainardi opened #1939 "_POST["influx_dbname"] = "ntopng edge" parameter error: Validation error"
This validation error occur when configuring (and saving) the timeseries from the nedge

![image](https://user-images.githubusercontent.com/3397663/44590804-506fe200-a7bc-11e8-8cda-532dcd080477.png)

![image](https://user-images.githubusercontent.com/3397663/44590723-1f8fad00-a7bc-11e8-92d1-e7a4eedbcb15.png)

[2018-08-24 15:58] simonemainardi commented on #1938
thanks for reporting that.

Please run

[code]

Then re-run ntopng. Please, let me know if that fixed the issue so I can write a note on the update procedure.

[2018-08-24 16:01] lucaderi opened #1940 "Implement timeseries cleanup"
Sometimes it is requested to cleanup an existing installation and drop old data. It is requested to implement a cleanup feature (similar to what already present in ntopng "Manage Storage Data") so that existing timeseries are also cleaned up (with RRD files are deleted with Influx they are dropped from the database)

[2018-08-24 20:01] darox commented on #1937
@emanuele-f What's the best way to troubleshoot, if no data is sent to Influxdb. For some short time it was working, but now it doesn't work anymore.

[2018-08-25 11:42] bentolor opened #1941 "ntopng with fritzdump directly runs into a SIGSEV 'reading NULL VMA' at pcap_get_selectable_fd ()"
I just installed ntopng with `fritzdump` on a freshly upgraded bionic installation following an article from Heise/c't. first start it claimed an already running instance. This is what I did after installing `pfring nprobe ntopng ntopng-data n2disk cento`

[code]

this results in

[code]

` apport-unpack /var/crash/_usr_bin_ntopng.1000.crash .` reveals:

`StacktraceTop`
[code]

`SegvAnalysis`
[cod

[2018-08-25 14:59] darox opened #1942 "[Question] - Influxdb traffic volume to high"
I would like to know, what's the right way, to get correct values when using Influxdb and Grafana. To get the traffic volume in RX, I set up the following query:
`SELECT distinct("bytes_rcvd") FROM "host:traffic" WHERE ("host" = '192.168.1.158') AND $timeFilter GROUP BY time($__interval) fill(null)`

Grafana shows me 1.047 TB which can no be true, in NTOPNG I can see 7.55 GB in this period.

I hop

[2018-08-26 05:52] pht1 opened #1944 "Mongoose build fail + patch"
On arch linux, build fails due to incompatible redefinition of SOCKET in mongoose.c
This patch should fix the issue, as well as one other warning due to redefinition of INVALID_SOCKET
[code]

[2018-08-26 15:23] vazthunder opened #1945 "Grafana module - no data accessible (Internal Server Error)"
Hello, first of all thanks for your amazing works!
I'm using Ntopng v.3.7.180826 Community, trying to setup Grafana (v5.2.2) dashboard but can't get it done: no metric at all. I tried to inspect the queries and here is the error:
![ntop](https://user-images.githubusercontent.com/17200025/44629774-f9b20600-a97d-11e8-817d-30430c0372cf.png)
It's a clean install btw, OS: Ubuntu 16.04, grafana datasour

[2018-08-26 23:14] ShagoY commented on #1945
Same version but ubuntu 18.04 :

http://192.168.1.X:3001/lua/modules/grafana/
`{"status":"OK"}`

[Grafana ] Query inspector :
`xhrStatus:"complete"
request:Object
method:"POST"
url:"api/datasources/proxy/4/search"
data:Object
target:""
withCredentials:undefined
response:Object
error:"Internal Server Error"
response:"<html><head><title>ntop</title></head><body><img src=/img/warning.png> Script &quo

[2018-08-27 01:18] Gavin-yzg opened #1946 "hosts-networks can not show all the networks"
when flows is up to about 80000，hosts-networks can not show all the networks

[2018-08-27 01:20] Gavin-yzg commented on #1946
i was use netflow

[2018-08-27 03:18] vazthunder commented on #1945
@ShagoY interesting... in the meantime i'll play with v3.6, thanks!

[2018-08-27 06:21] prasanthi97 commented on #1938
Even after running this apt-get install libmaxminddb0 it is giving
E: Unable to locate package libmaxminddb0
so, ntopng is not getting started

[2018-08-27 08:25] simonemainardi commented on #1938
I think you didn't add the repo as suggested. See below:

[code]

[2018-08-27 08:29] simonemainardi commented on #1946
please, try to provide an explanation with more details. add screenshots if necessary.

[2018-08-27 08:33] prasanthi97 commented on #1938
After adding respiratory I have got the same. Still I'm not getting
root@200411DC0:~# add-apt-repository ppa:maxmind/ppa

 More info: https://launchpad.net/~maxmind/+archive/ubuntu/ppa
Press [ENTER] to continue or ctrl-c to cancel adding it

gpg: keyring `/tmp/tmpq_mrp1pu/secring.gpg' created
gpg: keyring `/tmp/tmpq_mrp1pu/pubring.gpg' created
gpg: requesting key DE742AFA from hkp server keyserver

[2018-08-27 08:36] simonemainardi commented on #1938
run:

[code]

after the addition of the repository...

[2018-08-27 08:37] simonemainardi commented on #1944
Please, provide the patch as a pull request and we will be happy to test and include it. Thank you.

[2018-08-27 08:37] #1944 closed, assigned to nobody

[2018-08-27 08:40] prasanthi97 commented on #1938
yes, It got fixed. notp is running as earlier.
Thank you

[2018-08-27 08:46] simonemainardi commented on #1941
can you please post the link to the article you've read?

Did you configure https://github.com/ntop/ntopng/blob/dev/tools/fritzdump.sh with proper ip address, password, and interface?

What if you comment https://github.com/ntop/ntopng/blob/1ab11b6e9c8e60f5004a1b16359d3af66edaa29f/tools/fritzdump.sh#L39 and uncomment https://github.com/ntop/ntopng/blob/1ab11b6e9c8e60f5004a1b16359d3af66edaa29f/tool

[2018-08-27 08:47] simonemainardi commented on #1938
thank you for reporting.

[2018-08-27 08:47] #1938 closed, assigned to nobody

[2018-08-27 09:14] bentolor commented on #1941
The article is in the largest and most popular leading, german print magazine c`t. ntopng is featured in an article series about mobile phone spyware and it gets nearly a whole page with a getting started with ntopng and fritzdump. It is in c't edition 18/2018 on p. 136 ff.

Unfortunately [the article is behind a paywall and is in german](https://www.heise.de/ct/ausgabe/2018-18-Desinfec-t-fuer-die

[2018-08-27 09:29] simonemainardi commented on #1941
Correct, very likely the script failed to get an SID.

I think you need a user on your router (I'm sorry I don't have a fritzbox to reproduce here).

Try to create a user and re-exec the script.

You can also try and execute line https://github.com/ntop/ntopng/blob/dev/tools/fritzdump.sh#L30 manually to see if it generate errors.

[2018-08-27 10:25] bentolor commented on #1941
Duh – turns out it was soley the issue.

Please see MR #1947 which should change the script into a version which should work out-of-the-box for most users using a new format `fritzdump.sh <user> <pass>`

[2018-08-27 11:30] programmer74SHA opened #1948 "how i can receive ntopng logs in /var/log/ntopng"
like suricata:
{ "id": 185, "timestamp": "11\/29\/2015-13:33:11.623515", "ipver": 4, "srcip": "61.135.169.112", "dstip": "192.168.1.113", "protocol": 6, "sp": 80, "dp": 56938, "http_uri": "\/link?url=UAKVruSvh1nkqhnBwLF0801i_Y9NOWRoM4yX1qYLbVS71__S1UUPOtAhsfpXcHQciC_zIn9YsX-goQfLPgXOeNhqwbAP1PAsLZubZMqeHAe&cb=jQuery110204432665144558996_1448791335548&data_name=recommend_common_merger&ie=utf-8&oe=u

[2018-08-27 12:25] simonemainardi commented on #1941
thank you for providing the PR, really appreciated!

If you want, you can do extra service to the community by updating this readme with your experience if you don't mind https://github.com/ntop/ntopng/blob/dev/doc/README.fritzbox

Thank you very much!

[2018-08-27 12:25] #1941 closed, assigned to nobody

[2018-08-27 12:39] joverdijk opened #1949 "ntopng unexpected Exit since 1-2 days. ntopng: third_party/src/ndpi_patricia.c:557: ndpi_patricia_search_best2: Assertion `prefix->bitlen <= patricia->maxbits' failed."
Hi Ntop Team

Any idea why Ntopng is exiting all the time? It's doing this since 1-2 days tops....

Google'ing did not bring me any usefull info

Looks like problem around here:

Aug 27 14:12:21 ntopng-machine ntopng: [Alert] Started after anomalous termination (<a href="https://www.ntop.org/support/need-help-2/need-help/">bug report</a>) ntopng v.3.7.180827 (Debian GNU/Linux 8.2 (jessie)) [pid: 2

[2018-08-27 12:46] bentolor commented on #1941
@simonemainardi Thanks for the pointer. Created MR #1950 for minor documentation updates

[2018-08-27 12:58] lucaderi commented on #1942
Bytes are counters and thus you need to tell the DB that it has to make a difference/delta. Please use difference or derivative in your query. This said trust ntopng and not grafana that has no clue what numbers are about as for it they are just numbers with no real meaning

[2018-08-27 12:58] #1942 closed, assigned to nobody

[2018-08-27 13:07] darox commented on #1942
@lucaderi I was thinking about that. Do you have a guide value  for th drivative, i.e. time value?

[2018-08-27 14:08] cardigliano commented on #1930
Proposal:

Data directory path:
/var/lib/ntopng seems to be the best choice according to the standard.
On startup, if the data folder has not been specified, ntopng checks for /var/tmp/ntopng:
- if it exists, it keeps using /var/tmp/ntopng to avoid moving all data
   to the new path (it could be that the user mounted a volume on /var/tmp/ntopng
   and it is preferable not to move the data). Displa

[2018-08-27 14:32] simonemainardi commented on #1932
any news?

[2018-08-27 14:32] simonemainardi commented on #1922
closing for inactivity. please, reopen with the requested information if necessary.

[2018-08-27 14:32] #1922 closed, assigned to simonemainardi

[2018-08-27 14:40] simonemainardi commented on #1948
With logs you mean flows. Flows are not sent directly to a log file as that could easily fill the fs. We leave log files to record application logs, not flows.

However, for the flows, you have several options:
- periodically walk the active flows with requests to get_flows_data.lua
- export flows to either MySQL, logstash, elasticsearch
  - https://www.ntop.org/ntopng/filling-the-pipe-exporting-n

[2018-08-27 14:40] #1948 closed, assigned to nobody

[2018-08-27 14:43] simonemainardi commented on #1934
@DomT4 do you think it is possible to get your patch inserted into the the brew formula code? Can you send them a PR?

[2018-08-27 16:00] simonemainardi commented on #1949
- are you building from source? are you using an installed package?
- can you try and remove every ntopng option specified, one after the other, to try and understand in this behavior is caused by a single option?
- can you provide the conten t of `/etc/ntopng/custom.protocols`

[2018-08-27 16:15] simonemainardi commented on #1899
Solution proposed. Feel free to send additional feedback.

[2018-08-27 16:15] #1899 closed, assigned to simonemainardi

[2018-08-27 16:24] dagbdagb commented on #479
https://github.com/ntop/ntopng/blob/dev/doc/README.md shows the current procedure for resetting the admin password.

[2018-08-27 16:24] dagbdagb commented on #153
https://github.com/ntop/ntopng/blob/dev/doc/README.md shows the current procedure for resetting the admin password.

[2018-08-27 16:29] DomT4 commented on #1934
@simonemainardi There's a bug in `nDPI` 2.4 which prevents it from building, so we're stuck not being able to update to that version. The bump to `ntopng` 3.4 by itself may work, but currently I'm running macOS 10.14 and cannot verify this due to this issue in the bundled `luajit`:

[code]

I can't see a tag for this on the GitHub release page here so I'm not sure what the status is on that?

[2018-08-27 17:34] simonemainardi commented on #1940
logically divided into:
- influx cleanup (@emanuele-f )
- rrd cleanup

[2018-08-27 18:21] dagbdagb opened #1951 "broken link in website"
This page:
https://www.ntop.org/products/netflow/nprobe/

links to "nProbe User’s Guide" at https://github.com/ntop/nProbe/raw/master/doc/nProbe-UsersGuide.pdf

This page yeilds a 404.

[2018-08-27 19:16] boisgada opened #1952 "ERROR: Too many interfaces (47): discarded tcp://127.0.0.1:20010"
I appear to be running into a limitation on interfaces.  Any advise would be appreciated.

Overview:
One ntopng Enterprise server
20 nProbe embedded sensors
"Pull" configuration

Sensors ssh to server and create a reverse ssh tunnel for communication.  From the server perspective, sensor interfaces are tcp://127.0.0.1:20001 - 20020.

Eacb sensor is at a different location requiring user based acce

[2018-08-27 21:40] joverdijk commented on #1949
Hi Simone

I use packages from the ntop repo:

root@ntop-machine:/etc/apt/sources.list.d# cat ntop.list
deb http://packages.ntop.org/apt/jessie/ x64/
deb http://packages.ntop.org/apt/jessie/ all/
root@ntop-machine:/etc/apt/sources.list.d#

Problem started after apt update/upgrade, so maybe introduced with kernel
root@ntop-machine:~# uname -a
Linux ntop-machine 3.16.0-6-amd64 #1 SMP Debian 3.16.57-

[2018-08-28 06:58] programmer74SHA opened #1953 "change ntop logs format"
when i use logstash and get output. I have a ntopng.log like this. how i can change indexes.. like: IPV4_SRC_ADDR to srcip.

{"ntop":"true","@metdata":{"ip_address":"127.0.0.1"},"message":"{ \"ntop_timestamp\": \"2018-08-28T06:37:50.0Z\", \"IN_SRC_MAC\": \"00:50:56:AF:4B:06\", \"OUT_DST_MAC\": \"01:00:5E:00:00:FC\", \"IPV4_SRC_ADDR\": \"192.168.3.12\", \"IPV4_DST_ADDR\": \"224.0.0.252\", \"L4_SRC_

[2018-08-28 07:02] programmer74SHA commented on #1953
{"ntop":"true","@metdata":{"ip_address":"127.0.0.1"},"message":"{ \"ntop_timestamp\": \"2018-08-28T06:37:50.0Z\", \"IN_SRC_MAC\": \"00:50:56:AF:4B:06\", \"OUT_DST_MAC\": \"01:00:5E:00:00:FC\", \"IPV4_SRC_ADDR\": \"192.168.3.12\", \"IPV4_DST_ADDR\": \"224.0.0.252\", \"L4_SRC_PORT\": 55311, \"L4_DST_PORT\": 5355, \"PROTOCOL\": 17, \"L7_PROTO\": 154, \"L7_PROTO_NAME\": \"LLMNR\", \"IN_PKTS\": 2, \"IN

[2018-08-28 07:29] dagelf commented on #710
What's happening with me with 3.7.180827 is if I put network discovery on, then the host running ntop spams itself with probe detections... is there an easy way to exclude a host from being listed?

[2018-08-28 07:35] waqar-ali-aziz commented on #1288
Is there anyone active to help me regarding nDPI tool

[2018-08-28 07:46] simonemainardi opened #1954 "Propagate alert severity to syslog"
Currently, a single LOG_WARNING is used when sending alerts to syslog. It is requested to use other severity levels also for syslog to make sure also errors and informations are opportunely propagated.

For example (https://unix.superglobalmegacorp.com/Net2/newsrc/sys/syslog.h.html):

[code]

[2018-08-28 07:53] Gavin-yzg commented on #1946
![qq 20180828155124](https://user-images.githubusercontent.com/36434750/44708743-76f28d80-aada-11e8-9751-bbdf389a57c2.jpg)
i have 17 networks

[2018-08-28 08:24] Gavin-yzg commented on #1946
![1](https://user-images.githubusercontent.com/36434750/44710465-c63abd00-aade-11e8-945b-2868993aa54d.jpg)
![2](https://user-images.githubusercontent.com/36434750/44710480-cc309e00-aade-11e8-9fec-575389d71d7a.jpg)
![3](https://user-images.githubusercontent.com/36434750/44710487-d18de880-aade-11e8-9366-9459dc9e7f25.jpg)
like this

[2018-08-28 08:26] Gavin-yzg commented on #1946
no  Idle networks

[2018-08-28 08:37] simonemainardi commented on #1946
idle networks are not shown as already explained in https://github.com/ntop/ntopng/issues/1910#issuecomment-412437060

[2018-08-28 08:37] #1946 closed, assigned to nobody

[2018-08-28 08:40] Gavin-yzg commented on #1946
this is active  networks  not shown，not Idle networks

[2018-08-28 08:42] simonemainardi commented on #1953
you just have to use a mutate filter, for example

[code]

Documentation https://www.elastic.co/guide/en/logstash/current/plugins-filters-mutate.html

[2018-08-28 08:42] #1953 closed, assigned to nobody

[2018-08-28 08:46] simonemainardi commented on #1951
link updated, thank you for reporting. We've migrated our PDF documentation to the new readthedocs.

[2018-08-28 08:46] #1951 closed, assigned to nobody

[2018-08-28 08:52] #1939 closed, assigned to emanuele-f

[2018-08-28 09:05] simonemainardi commented on #1908
fixed.

[2018-08-28 09:05] #1908 closed, assigned to simonemainardi

[2018-08-28 10:03] waqar-ali-aziz opened #1955 "nDPI"
i am currently working on Deep Packet Inspection and use nDPI tool for this purpose. after installing nDPI i want to inspect the internet traffic but don't know how to use nDPI. can someone tell me how to inspect packet using nDPI tool ?

[2018-08-28 10:24] waqar-ali-aziz commented on #1313
how to execute make command in case of nTPO. executing "sudo make" command in ntopng directory shows bellow error
make: *** No targets specified and no makefile found.  Stop.

[2018-08-28 10:27] simonemainardi commented on #1955
nDPI is automatically and transparently used by ntopng when capturing packets. So you don't have to do anything special apart from running ntopng.

Check this resource for a comprehensive introduction: https://www.ntop.org/nprobe/network-monitoring-101-a-beginners-guide-to-understanding-ntop-tools/

[2018-08-28 10:27] #1955 closed, assigned to nobody

[2018-08-28 10:33] waqar-ali-aziz commented on #1955
Thank you simonemainardi  for commenting here.
so you mean to say i have to install nTOP along with nDPI and nDPI alone will not work ?
Am i right?

[2018-08-28 10:39] dagbdagb opened #1956 "ntopng not listing original flow sources"
[netflow-v9.pcap.gz](https://github.com/ntop/ntopng/files/2327623/netflow-v9.pcap.gz)

![ntopng-flowexporters](https://user-images.githubusercontent.com/8895912/44717992-ec506500-aabe-11e8-8657-4a7a97938768.png)

See attachments.
Using nprobe.x86_64 0:8.5.180828-6253  & ntopng.x86_64 0:3.7.180828-4692

nprobe -i none -n none     --zmq tcp://*:1234 --zmq-encrypt-pwd myencryptionkey     -V 9     -3

[2018-08-28 11:08] dagbdagb commented on #1956
I realise this is a licensed feature. I do not have a license. Trying to showcase this feature during the first 10 minutes of starting nprobe/ntopng.

[2018-08-28 11:13] waqar-ali-aziz opened #1957 "Deep Packet Inspection"
Dear Simone Mainardi,
i am currently working on deep packet inspection in order to analyze internet packets to get packet information.
kindly help me in this regard, if you have some documents then it would be perfect and kindly share with me.
also let me know which tools i have to install for this purpose along with nDPI

best regards

[2018-08-28 12:18] simonemainardi commented on #1955
you just have to install ntopng. nDPI shipped with ntopng automatically. See http://packages.ntop.org/ for installation instructions.

[2018-08-28 12:19] simonemainardi commented on #1957
duplicate of https://github.com/ntop/ntopng/issues/1955

[2018-08-28 12:19] #1957 closed, assigned to nobody

[2018-08-28 12:41] pmarissen opened #1958 "NTOPNG Enterprise becomes Community version after upgrade from 3.2.x to 3.6.x"
Dear,

I have a running ntopng 3.2 enterprise installation. I have done a upgrade to ntopng 3.6 and now I have lost may Enterprise version, the installation downgraded to the Community version.

Please advise

Best regards

Paul

[2018-08-28 13:09] #1935 closed, assigned to nobody

[2018-08-28 13:43] simonemainardi commented on #1958
when did you generate  your license? Check this: https://www.ntop.org/support/faq/are-licenses-permanent-what-about-maintenance/ maybe your license is just expired

[2018-08-28 13:44] simonemainardi commented on #1935
Latest ntopng handles this issue. all the chars highlighted above are now handled and can be used as passwords. Don't forget to clean old users / passwords before setting the new ones.

[2018-08-28 13:50] simonemainardi commented on #1946
make sure to tune -X and -x to prevent ntopng from reaching the maximum number of hosts / flows. Then please try to explain with more detail, I am no ture why you've shown only the footer. What are you looking at?

[2018-08-28 13:55] simonemainardi commented on #1821
putting this issue on hold as the captive portal is only enable/disabled sporadically, typically only one time during the first setup, so there's no need to turn it on/off without reboot.

[2018-08-28 13:55] #1821 closed, assigned to simonemainardi

[2018-08-28 13:58] gianogli opened #1959 ""error":"Request Entity Too Large""
Hi to all,
I've just installed the new ntopng stable version (3.6.180823). After run the software with this options
[code]
and after enabling the influxdb timeseries I have a lot of
[code]
errors.

I think that something is not working as expected...

What do you think?

Bye bye,
   Gianluca

[2018-08-28 14:15] pmarissen commented on #1958
I have generated the license beginning december 2017.

[2018-08-28 16:29] simonemainardi commented on #1917
implemented in https://github.com/ntop/ntopng/commit/0e258ce83173c35d5f3166073fdab63a62cbda7e

[2018-08-28 16:29] #1917 closed, assigned to simonemainardi

[2018-08-28 16:41] simonemainardi commented on #1932
Information requested. No feedback received. Closing. Reopen with the requested information if necessary.

[2018-08-28 16:41] #1932 closed, assigned to nobody

[2018-08-28 16:43] simonemainardi commented on #1958
please, contact me privately at mainardi ntop org

send me the order id along with the output of ntopng --version

[2018-08-28 16:43] #1958 closed, assigned to nobody

[2018-08-28 16:47] simonemainardi commented on #1959
can you try and increase/disable influxdb "max-body-size" ?

see https://github.com/influxdata/docs.influxdata.com/blob/master/content/influxdb/v1.3/administration/config.md#max-body-size--25000000

please report

[2018-08-28 17:34] mercedDeveloper commented on #1945
v3.6 works for you @vazthunder ?

[2018-08-29 00:33] Gavin-yzg commented on #1946
![1](https://user-images.githubusercontent.com/36434750/44758265-05f8b780-ab66-11e8-9c6a-5bc27d414909.png)
i im look at networks，when flows is low,networks can show all

[2018-08-29 00:46] Gavin-yzg commented on #1946
![4](https://user-images.githubusercontent.com/36434750/44758588-f0848d00-ab67-11e8-9244-869a22c73225.jpg)
i have change -X and -x ，just the same

[2018-08-29 00:59] Gavin-yzg commented on #1946
i change to --max-num-flows "200000" --max-num-hosts "50000" Problem solved，i do not know why

[2018-08-29 06:45] vazthunder commented on #1945
@mercedDeveloper yes it does

[2018-08-29 07:47] vazthunder opened #1960 "Traffic Timeseries - Wrong data (and/or unit)"
Hello, i'm using NtopNG v v.3.7.180829 (package) Community on Ubuntu 16.04, packet capture mode, traffic throughput usually spikes around 300Mbps~1Gbps, traffic timeseries as below:

![abc](https://user-images.githubusercontent.com/17200025/44772866-3a399b80-ab99-11e8-9bfc-6535cd8ed0f5.png)

the only stat that makes sense is Avg, the rest seems wrong mostly, bytes/bits unit is confusing too.
Pleas

[2018-08-29 07:50] vazthunder commented on #1960
btw, i've tried with v3.6 stable, same problem

[2018-08-29 08:16] cardigliano commented on #1949
Hi @joverdijk, since we are not able to reproduce this in our lab with a similar configuration, and it seems that you are able to reproduce it immediately, while we keep testing, can you try removing options one after the other to try to isolate the issue and figure out where to look at? Thank you.

[2018-08-29 09:02] gianogli commented on #1959
One hour ago I changed the value from 25000000 to 50000000 and the error messages are disappeared. Thanks!

[2018-08-29 09:33] simonemainardi commented on #1959
Thank you for reporting. If you want you can provide service to the community by taking some time to update this readme https://github.com/ntop/ntopng/blob/dev/doc/README.influxdb with your experience and this issue.

[2018-08-29 10:50] programmer74SHA opened #1961 "nDPI install issue"
when i run make to install nDPI i get error:

ln -Fs libndpi.so.2.5.0 libndpi.so
ln: failed to create symbolic link 'libndpi.so': File exists
Makefile:35: recipe for target 'libndpi.so.2.5.0' failed
make[1]: *** [libndpi.so.2.5.0] Error 1
make[1]: Leaving directory '/root/nDPI/src/lib'
Makefile:405: recipe for target 'all-recursive' failed
make: *** [all-recursive] Error 1

[2018-08-29 11:44] simonemainardi commented on #1952
You've reached the maximum number of interfaces ntopng has seen among all its executions.

Can you try and start with a clean instance (that is remove ntopng data dir and execute redis-cli flushall)?

In the meanwhile I will write a fix for this.

[2018-08-29 11:49] waqar-ali-aziz opened #1962 "ntopng"
after entering ntopng -h command it is not showing nDPI detected protocol
![capture](https://user-images.githubusercontent.com/41417514/44785199-87be0480-aba9-11e8-9d6d-26ae8ec8281f.PNG)

[2018-08-29 13:30] simonemainardi commented on #1962
please, try go go through the documentation before posting issues:

https://www.ntop.org/guides/ntopng/

We also have a youtube channel with guides and tutorial:

https://www.youtube.com/channel/UCUYWuYlYKD5Yq5qBz0AIXJw

[2018-08-29 13:30] #1962 closed, assigned to nobody

[2018-08-29 13:31] simonemainardi commented on #1961
nDPI build instructions can be found at https://github.com/ntop/nDPI

nDPI issue tracker is https://github.com/ntop/nDPI/issues

[2018-08-29 13:31] #1961 closed, assigned to nobody

[2018-08-29 13:48] #1952 closed, assigned to nobody

[2018-08-29 13:49] simonemainardi commented on #1952
You can now try and execute the latest ntopng 3.7. That will handle the error described above.

[2018-08-29 15:13] simonemainardi commented on #1945
@vazthunder can you confirm you are not getting any error with version 3.6? Are errors only arriving when using 3.7?

[2018-08-29 16:15] vazthunder commented on #1945
@simonemainardi yes, i switched to stable repo and everything is working like a charm now; can you reproduce the problem with v3.7?

[2018-08-29 20:05] cardigliano commented on #1930
Implemented migration to /var/lib/ntopng with user and group ntopng, according to the proposal.

[2018-08-29 20:05] #1930 closed, assigned to cardigliano

[2018-08-29 21:28] lucaderi commented on #1960
Are you using RRD or InfluxDB? Did you check if you have packet drops?

[2018-08-29 23:25] vazthunder commented on #1960
@lucaderi i've tried both engines and got the same results, with just about 0.02% packets dropped.
Update: 10 mins of Pro trial returned more accurate graphs with similar shape, different Y-axis unit.

[2018-08-30 01:02] sm1000 opened #1963 "Replace Google Maps with OpenLayers"
Is it possible the developer to review the idea of replacing the **Google Maps** with [**OpenLayers**](http://openlayers.org/). I am using **OpenLayers** already into a different project (MediaWIKI Maps plugin) and it looks very stable.

The main reason for this request is that Google collects credit card information from every one who wants to generate a Google MAPS API key :(

Please consider th

[2018-08-30 01:15] sm1000 commented on #1963
Another option is  [**Leaflet**](https://leafletjs.com/).

[2018-08-30 08:33] simonemainardi commented on #1963
would you be interested in leading this development with our guidance?

[2018-08-30 08:36] simonemainardi commented on #1934
@DomT4 what is the nDPI bug you are referring to?

[2018-08-30 10:25] Alestor opened #1964 "Active TCP Flow are not kept until ends"
Hello ntop Team,

I've seen in the last couple of dev versions (currently on v.3.7.180825) an unusual behavior on some long term flows in the Active Flow Overview. An active flow gets pruned after a random period of time and immediately  recreated with inaccurate Client / Server and Applications Information, because the beginning of the flow has not been seen. This  happens on TCP and ESP (IPSEC)

[2018-08-30 12:52] DomT4 commented on #1934
@simonemainardi https://github.com/Homebrew/homebrew-core/pull/31419 / https://github.com/ntop/nDPI/issues/593.

[2018-08-30 13:18] sm1000 commented on #1963
Unfortunately, my programming skills with PHP are basic :(

On Thu, Aug 30, 2018, 04:33 simonemainardi <notifications@github.com> wrote:

[2018-08-30 17:12] cardigliano commented on #1787
Fixed in 0e95cff729ebd740bd80b3075b35fb60d2b9ab1e

[2018-08-30 17:12] #1787 closed, assigned to nobody

[2018-08-31 01:09] vidgizmo opened #1965 "How to have ntopng.service wait until system time is in sync before starting"
Within a few seconds of a system restart, my ntopng interface shows an uptime of 200+ days. My system (Odroid C2) does not have a battery-backed clock and depends on ntpd sync to get the system time correct.

I have tried few modifications to my /etc/systemd/system/ntopng.service file in an attempt to get it to hold off until the system time is in sync including adding:
- After=time-sync.target ..

[2018-08-31 04:52] waqar-ali-aziz opened #1966 "ntopng"
Respected Sir,
1) can i get complete guide line for installing ntopng, nDPI
2) how to get started to inspect internet traffic

[2018-08-31 04:54] #1966 closed, assigned to nobody

[2018-08-31 07:38] simonemainardi commented on #1963
Ok, thanks for pointing this out. I am putting this on hold as we can't accomodate the request now. Depending on the interest of other users, we may re-consider adding this to the roadmap.

[2018-08-31 07:38] #1963 closed, assigned to nobody

[2018-08-31 07:46] simonemainardi commented on #1964
This is normal behavior, not in ntopng per se but in any flow-based network monitoring tool. Long-lived flows are pruned if they are silent for more than a configurable interval of time.

See for example the inactive timeout at:
https://www.cisco.com/en/US/docs/ios/12_3t/netflow/command/reference/nfl_a1gt_ps5207_TSD_Products_Command_Reference_Chapter.html

Typically flows are associated with an id

[2018-08-31 07:46] #1964 closed, assigned to nobody

[2018-08-31 07:46] simonemainardi commented on #1949
any feedback here?

[2018-08-31 07:48] simonemainardi commented on #1434
Currently, we are considering a complete rework of the dashboard. So we will keep this in mind in the new design but we cannot accomodate the request on the current implementation.

[2018-08-31 07:48] #1434 closed, assigned to nobody

[2018-08-31 07:52] simonemainardi commented on #1934
I've seen the nDPI issue is supposed to be fixed. Are you still experiencing the problem? If yes, please, feel free to comment there with all the necessary steps to reproduce and I'll consider reopening it.

[2018-08-31 08:21] gianogli commented on #1959
Ok. This could be the new file:

[code]

I attached the patch file with the lines I've add.
[influxdb_installation_and_configuration.txt](https://github.com/ntop/ntopng/files/2339270/influxdb_installation_and_configuration.txt)

Is it ok?

[2018-08-31 09:58] Alestor commented on #1964
Hi @simonemainardi . I'm aware of timeouts in network monitoring solution and the configuration options for this in ntopng. The Point is, that the Flow isn't in idle state at all. It happens to active flows with permanent data exchange where no FIN / RST appears on the stream. As I wrote before "An **active** flow gets pruned after a random period of time and **immediately** recreated with inaccur

[2018-08-31 10:29] joverdijk commented on #1949
I spent a lot of time troubleshooting this but could not figure it out. In the end I did a complete clean remove, dist-upgraded to Debian9 stretch and another clean install from ntopng repositories and now it seems to run stable. Still have NO idea where there 'ndpi_patricia_search_best2' came from.

[2018-08-31 16:37] cardigliano commented on #1949
@joverdijk please reopen this issue if you are able to reproduce it again. Thank you.

[2018-08-31 17:22] cardigliano commented on #1960
Fixed in 4d6bcb4ae2d0368c13ec39b07444177a086c9675, @emanuele-f please review it.

[2018-08-31 17:22] #1960 closed, assigned to cardigliano

[2018-08-31 18:39] lucaderi opened #1967 "Invalid flow aggregation begin/end date"
Aggregated flows have invalid aggregation dates. In particular the begin data is the min of the aggregated flows and this is wrong as if a flow started X days ago, the begin date is set to X. It is requested to set the begin date according to flow aggregation and in no case both begin/end dates must fall outside of the aggregation period.

[2018-09-01 02:47] vazthunder commented on #1960
@cardigliano it works, thanks!

[2018-09-01 06:24] lucaderi opened #1968 "Poor ZMQ/nProbe-ntopng documentation"
The documentation about
- how to export data from nProbe to ntopng using ZMQ
- the use of the @NTOPNG@ macro
- the use of ZMQ in pull/push mode
- how to configure ZMQ/nprobe/ntopng via the nBox GUI

is sparse and split across multiple blog posts end documents.

It is requested to
- update the ntopng and nProbe documentation adding clear and simple examples
- write a blog post that summarises all t

[2018-09-01 16:18] lucaderi opened #1969 "Implement diagnostic page"
Many simple misconfigurations are easy to solve if a diagnostic page is implemented. The page should be able to
- list relevant configuration issues (e.g. /var/lib/ntopng pointing to a volume with little space available)
- report misconfigurations (e.g. low -X/-x values)
- report non-optimal CPU affinity configuration
- check if DNS is resolving addresses
...

In nEdge it should also (at least)
-

[2018-09-03 08:47] simonemainardi commented on #1959
@emanuele-f, please, see if this error can be handled automatically by ntopng (for example by automatically changing the `max-body-size`) of if a more meaningful, actionable, error can be given to the user. Please, also update the documentation with the contribution of @gianogli .

[2018-09-03 08:51] emanuele-f commented on #1959
This should be already handled by the current dev version (https://github.com/ntop/ntopng/commit/0004e081910d8e9bcc468e7b2af509ca40ad7a5b#diff-9a614d8bda70321c89af50f290e76aa5R114).

@gianogli I'll backport the fix to stable and kindly tell you to test it

[2018-09-03 12:41] boisgada commented on #1952
After upgrading and cleaning up the ntopng data dir the interfaces renumbered and I no longer received the error; however the grafana API stopped working.  Not sure if this change or some other change caused the issue.

[2018-09-03 12:48] boisgada commented on #1945
I can confirm grafana was working prior to 3.7.  Turning logging on, ntopng returns 404:

127.0.0.1 - - [03/Sep/2018:07:46:47 -0500] "GET /lua/modules/grafana HTTP/1.1" 404 144 "http://[SERVERNAME REMOVED]:4000/datasources/edit/7" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.13; rv:61.0) Gecko/20100101 Firefox/61.0"

[2018-09-03 12:59] emanuele-f opened #1970 "Discarded 'influx_dbname'='ntopng' as argument is a valid file path"
The default influxdb database name "ntopng" is rejected by the ntopng validation:

`scripts/lua/modules/timeseries/drivers/influxdb.lua:679: attempt to concatenate local 'dbname' (a nil value)`

[LuaEngine.cpp:8352] WARNING: Discarded 'influx_dbname'='ntopng' as argument is a valid file path

[2018-09-03 13:14] emanuele-f commented on #1313
Please check out https://github.com/ntop/ntopng/blob/dev/doc/README.compilation

[2018-09-03 13:16] emanuele-f commented on #1288
@waqar-ali-aziz please don't resume closed issues. Please read the nDPI documentation and/or open a new support issue here: https://github.com/ntop/nDPI

[2018-09-03 13:21] emanuele-f commented on #710
@ASHOKGP please provide information about your OS in a new issue. Updating the software is just like upgrading any other package (e.g. `apt-get update && apt-get install ntopng`).

@dagelf do you mean that you get "suspicous activity for the ntopng host hitself? Currently you can only disable all the ntopng host alerts at once, from the host alert settings

[2018-09-03 13:24] emanuele-f commented on #1942
@darox please look at our influxdb plugin. It contains query examples, e.g.: https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/timeseries/drivers/influxdb.lua#L301

[2018-09-03 13:31] emanuele-f commented on #1965
Hi, I think this is the correct way to solve the issue. Does it works for you? Anyway I think we cannot implement this into the official ntopng service, as this is specific of your system. Maybe you can create a wrapper service which requires the stock ntopng.service and the time-sync target

[2018-09-03 13:54] lucaderi opened #1971 "Cleaning up runtimeprefs.json"
The runtimeprefs.json overtime accumulates outdated information (a.k.a junk) that takes us space and is never purged. For instance if you start once ntopng on ethX and you will never ever start it on such interface, all the ethX prefs will be kept forever. This preference information is also  kept in redis (that mostly lives in memory) and thus takes space.

As add-on to #1914 it is required to ad

[2018-09-03 14:51] simonemainardi commented on #1952
ok, thanks for reporting. Is the grafana issue related to https://github.com/ntop/ntopng/issues/1945 ?

[2018-09-03 15:11] emanuele-f commented on #1959
@gianogli here is the backport 064e7f828c59155e23a790642fc5ceeb44b90cce . The new available stable package contains the fix. Can you please restore the original max-body-size and test if the fix works for you?

[2018-09-03 15:21] boisgada commented on #1952
Based on the symptoms reported by others, I suspect it is, but have not attempted to downgrade to 3.6 to verify.  The Grafana datasource configuration appears to expect a 200 when pointing to the /lua/modules/grafana folder.  Perhaps a security enhancement in 3.7 now handle URLs pointing to a folder differently.

[2018-09-03 15:30] boisgada commented on #1952
When pointing to the index.lua, the datasource adds, but the plugin is configured to prepend the defined datasource path instead of substituting the necessary page.

Adding Datasource:
127.0.0.1 - - [03/Sep/2018:10:26:18 -0500] "GET /lua/modules/grafana/index.lua HTTP/1.1" -1 0 "http://[SERVERNAME REMOVED]:4000/datasources/edit/7" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.13; rv:61.0) Gecko/20100

[2018-09-03 16:21] lucaderi opened #1972 "Discard default/empty values"
As follow-up to #1971 it is requested to discard (or better not to write at all) default or empty values in preferences. For instance I see many

$ redis-cli get "ntopng.prefs.device_types.5C:49:79:75:4E:6A"
""

These values are useless as they take up space, but do not add anything and inflate the runtime prefs.

Furthermore there are many entries with double dots .. Such as

$ redis-cli get ntop

[2018-09-03 16:38] lucaderi opened #1973 "Invalid syslog format"
When dumping to syslog (via traceEvent) the format is invalid even though it is rendering well in the user interface. A typical entry is the following

`Sep  3 08:49:48 test-desktop ntopng: [Alert] Flow blocked: <A HREF='/lua/host_details.lua?host=@0&ifid=4&page=alerts'>192.168.2.4</A> &gt; <A HREF='/lua/host_details.lua?host=@0&ifid=4&page=alerts'>224.0.0.251</A> [info: ]`

As you can see the are

[2018-09-03 16:53] lucaderi opened #1974 "Implement protocol/category editor"
In ntopng (and nEdge) it is not possible to edit protocols and categories though the web interface. For instance if a user wants to define a new protocol (e.g. all traffic going to domain abc123.net) should be marked as protocol/category mywebsites.

Users can achieve this behaviour *partially* using

[--ndpi-protocols|-p] <file>.protos | Specify a nDPI protocol file

[2018-09-03 17:07] lucaderi opened #1975 "Update coredump generation documentation"
With the advent of systemd, the instructions at
- https://www.ntop.org/support/need-help-2/need-help/
- https://www.ntop.org/support/faq/how-to-report-a-bug-on-ntop-apps/
are not covering it.

It is requested to improve the page and explain how ntop apps can generate coredumps when systemd is used.

[2018-09-03 17:08] marcoeg commented on #1973
It would preferable that the syslog message be without HTML tags.

[2018-09-03 17:13] marcoeg commented on #1974
Please describe the details of how to add and edit categories and protocols in the CLI. Specifically, I need to add a protocol to allow traffic only to servers with a specific CN, including wild card names. The intent is allow connections only to servers that belong to a specific organization such as Google or Amazon.

[2018-09-04 08:05] #1970 closed, assigned to emanuele-f

[2018-09-04 08:50] prasanthi97 opened #1976 "Does nprobe support netflow data from cisco wireless lan controller"
Does nprobe support netflow data from cisco wireless lan controller

[2018-09-04 10:20] jensmolsson opened #1977 "No data in sFlow graph"
After update to version shown below sFlow graph unit stopped to work - Just showing "no data avaible".

[root@noptr ~]# ntopng --version
v.3.7.180903    [Enterprise/Professional build]

URL:
/flowdevices_stats.lua?ip=[IP]&page=historical&sflow_filter=All

[2018-09-04 10:58] emanuele-f commented on #1929
Implemented in cfc345709deffbe56f14706210d97c152112f057 (interfaces) and a594e648c4335931e2fcb2ff91322aeea503ae3a (local hosts)

[2018-09-04 10:58] #1929 closed, assigned to emanuele-f

[2018-09-04 14:11] Netw0rkGuy opened #1978 "Flows are not categorized correctly regarding Client and Server"
Flows are sent from multiple flow exporters to a nprobe instance.

[code]

ntopng running on the same system collects the flows from nprobe via loopback (zmq).

[code]

Result: Almost 80% of the flows are not categorized correctly regarding the traffic direction (client and server).

[code]

Wireshark captures right in front of nprobe show that the origin device reports the correct src and dst ip

[2018-09-04 15:02] simonemainardi commented on #1972
implemented in:

- https://github.com/ntop/ntopng/commit/87f8bece2275672268b42940eba86fcf3a002551
- https://github.com/ntop/ntopng/commit/d10a88d73996c11fcb206926b1a3cba33b2a0ba9
- https://github.com/ntop/ntopng/commit/f68e907dc10835224c24fe98dbbee1fe5ff30867

[2018-09-04 15:02] #1972 closed, assigned to lucaderi

[2018-09-04 15:09] simonemainardi commented on #1967
After internal review we've decided to leave begin/end dates untouched to:

- preserve what could have been sent from a remote exporter (e.g., netflow via ZMQ)
- make sure queries on the aggregated flows tables have times that are compatible to those in the raw flow tables

we may change this behavior in the future when reworking the historical data explorer but for now I am putting this issue on

[2018-09-04 15:09] #1967 closed, assigned to simonemainardi

[2018-09-04 15:51] simonemainardi commented on #1976
yes, you just have to enable netflow and then follow "Monitoring Netflow/sFlow Traffic" section at  https://www.ntop.org/nprobe/network-monitoring-101-a-beginners-guide-to-understanding-ntop-tools/

[2018-09-04 15:51] #1976 closed, assigned to nobody

[2018-09-04 15:58] lucaderi opened #1979 "How to configure user policies"
The nEdge manual is pretty cryptic about configuring user policies. Example: suppose I have a router/AP X, and I want nEdge not to display the captive portal for users behind router/AP X, but display the portal for all the rest of the users. How can I configure nEdge to do that?

[2018-09-05 13:24] simonemainardi commented on #1973
syslog support has been reworked according to the comments as a new lua alert endpoint:

![image](https://user-images.githubusercontent.com/3397663/45095884-79c73100-b11f-11e8-855a-ac10168d387b.png)

syslog messages (with proper syslog severity populated as per https://github.com/ntop/ntopng/issues/1954) are now clean and augmented with entity information, type of error, and the plaintext message.

[2018-09-05 14:37] marcoeg commented on #1973
Perfect!  Please post a list of possible Warning and Error messages (previously known as Alert) and their meaning in English (no source code please).

[2018-09-05 14:59] simonemainardi commented on #1973
documentation has been updated in https://github.com/ntop/ntopng/commit/81a4ec9903cf4b765943a9dc08a6e8f2dcd1257f and will be soon available as HTML at https://www.ntop.org/support/documentation/documentation/.

If you think there's something that needs to be extended please let us know.

[2018-09-05 15:19] S0t0nN3rdS commented on #1911
Thanks, all sorted!

[2018-09-05 15:24] Netw0rkGuy commented on #1978
I did some further research and analyzed the wireshark capture in more detail. The netflow source (a fortigate firewall) does indeed send two flow packets for one session. One for each direction with the number of sent and received bytes and packets:
![image](https://user-images.githubusercontent.com/42970280/45103124-75a30f80-b12f-11e8-8d14-ae82898b08b2.png)

The netflow collector should match bo

[2018-09-05 15:40] lucaderi commented on #1973
@simonemainardi Some comments

- Why have you added an alert time if the syslog time is already present, and (even more important) why are they out of sync? Example
Sep  5 15:13:23 devel ntopng: [05/09/2018 13:30:14][Warning][Remote to Remote Flow][Flow] Remote client and remote server [Flow: 192.168.1.100:138 192.168.1.255:138] [L4 Protocol: UDP]

- Alert level should be in the entry and not in t

[2018-09-05 15:41] S0t0nN3rdS opened #1980 "Activated ntopng service just keeps stopping"
We recently overcame an issue we had where the applied license wasnt taking effect, ant the system was operating as the community version.  Having sorted that out, the service still seems to keep failing after a period of time, and we have to manually restart the service.

Having just checked the windows application logs, its littered with thousands of entries every five or so minutes:.

Faulting

[2018-09-05 16:01] simonemainardi commented on #1977
Ok, we've looked into this issue.

There were several permission errors on the system. Very likely you moved the ntopng data directory to /etc/ntopng/data without changing the permissions as highlighted in https://www.ntop.org/support/faq/migrate-the-data-directory-in-ntopng/

So now we' ve moved the data dir to the recommended `/var/lib/ntopng` and we've proposed a fix for the missing charts. A n

[2018-09-05 16:01] marcoeg commented on #1973
With respect to having the log processed by a remote machine, as long as there is a way to identify and to separate the standard syslog fields, remote servers (logstash or similar) ingest logs and take care of transforming the entries in JSON. Unless needed for other use, a JSON format is not strictly needed for remote log processing.

[2018-09-05 16:09] simonemainardi commented on #1973
@lucaderi

ntopng puts generated alerts into a queue. Alerts in the queue are dequeued periodically and are not immediately sent to syslog. So they wait some time in the queue and hence the syslog time is different from the actual time at ntopng. This is why I've preserved the original ntopng time.

#1954 is implemented as well and the alert level is used in the `syslog` call

ok

will extend that

[2018-09-05 16:44] lucaderi commented on #1973
@simonemainardi Some notes
- time: a syslog event almost two hours old with respect to the actual time is kinda useless. Some seconds in queue is ok, more is not
- alert level after #1954 should be removed from the text as is the syslog config that will handle that. This said #1954 is still open as of now.

[2018-09-05 21:12] simonemainardi commented on #1973
I can confirm alerts say in the queue for a bunch of seconds at most -3 seconds at most, actually. I am sorry I pasted a sample output in my comment that could have caused confusion. That is just an output I've obtained during the development by reprocessing old alerts. This is why timestamps look unreasonable. Timestamps are OK in a production installation.

There's a reason why I didn't remove t

[2018-09-05 21:13] simonemainardi commented on #1954
implemented in 8a055b3

[2018-09-05 21:13] #1954 closed, assigned to simonemainardi

[2018-09-05 22:50] boisgada opened #1981 "Feature Request: Add ifid to host export output (do_export_data.lua)"
It would be nice if the host export also included the ifid in the json output.  Specifically, when exporting using the ifid of a view made up of all ifid's, it would be nice to see the original ifid associated with the host in the json output.

[2018-09-06 12:45] lucaderi commented on #1959
Closed for inactivity. Will reopen if necessary

[2018-09-06 12:45] #1959 closed, assigned to emanuele-f

[2018-09-06 12:52] lucaderi opened #1982 "[nEdge] Implement per-device type DPI presets"
Depending on the device, some protocols are allowed or not. Example if we have a printer, such device can do for instance LPR but not Bittorrent. Currently this features is a stub (See https://github.com/ntop/ntopng/blob/dev/src/Ntop.cpp#L1817)

It is requested to define
- a list of allowed (as client/server) per device type
- make sure this list is enforced by the ntopng code: on ntopng it will t

[2018-09-06 16:06] imorandinwnp commented on #1781
Hi,

Same error here still in version 3.5.180718-x64 and 3.6.180822-x64.

Ignacio

[2018-09-06 16:42] simonemainardi commented on #1973
syslog JSON support has been added

![image](https://user-images.githubusercontent.com/3397663/45172006-3b577200-b204-11e8-9e4f-50d08e1c2a59.png)

Extensive alerts documentation has been added in

- https://github.com/ntop/ntopng/commit/603bc2d31c60ea1a8ba12132b4be64c0f654b00f
- https://github.com/ntop/ntopng/commit/be92cc1b1a0eaf4fa94b0ba447fffc231993033f

Documentation will be published in HTML

[2018-09-06 16:59] simonemainardi commented on #1714
We believe custom urls should not be added to syslog messages.

First, a lot of space would be taken in every message for a url that is constant and never changes. Second, custom urls should be handed when post-processing the syslog or even in the GUI right before presenting the alerts to the end user. Indeed, by receiving a stream of syslog events, the source is automatically determined and that

[2018-09-06 16:59] #1714 closed, assigned to simonemainardi

[2018-09-06 17:03] simonemainardi commented on #1977
Hi thanks for reporting. I can confirm your charts are back as of the latest dev build.

[2018-09-06 17:03] #1977 closed, assigned to simonemainardi

[2018-09-06 17:19] simonemainardi opened #1983 "Improve Custom Categories Support"
Currently, support for custom categories is mixed.

There are custom categories supported by nDPI that appear in the protocols list as "User custom category XX"

![image](https://user-images.githubusercontent.com/3397663/45173719-495bc180-b209-11e8-802c-353a41ea6368.png)

There are other custom categories that are loaded from text files in `/other/lists` using `scripts/lua/modules/lists_utils.lua`

[2018-09-06 17:22] simonemainardi opened #1984 "Create Alert Reports"
ntopng alerts are stored in sqlite databases and ntopng already provides all the facilities to query such databases.

It is requested to run scripts periodically that generate reports on the basis of detected alerts, for example:
- number of daily alerts by type, by device, by IP

Also consider to send those reports out via mail or other channels.

[2018-09-06 17:25] simonemainardi opened #1985 "Old Alerts Purge"
Currently, the maximum number of alerts per entity is fixed. When the number of alerts exceeds the maximum number, old alerts are purged to make room for the newer ones.

It is requested to design a purge mechanism that takes into account the alert time. This is useful to purge alerts that are older than a day/week/month rather than blindly purge them using the maximum number policy described abov

[2018-09-06 17:26] simonemainardi opened #1986 "Disable Flow Alerts for Hosts with Disabled Alerts"
Flow alerts are generated for hosts even when the 'disable alerts' toggle has been marked for those hosts.

It is requested to prevent ntopng from generating flow alerts for hosts with disabled alerts.

[2018-09-06 17:33] simonemainardi opened #1987 "Handle master and application protos in flows and flow aggregations"
currently, database dumped flows and flow aggregations cannot handle both the master and the application protocol. They only have the application protocol stored. This makes it hard to do queries such as "QUIC" or "Google" when for example the actual protocol of a flow is "QUIC.Google".

It is requested to understand the complexity and possibly implement a solution for this issue.

[2018-09-06 17:34] simonemainardi opened #1988 "Add URL and HOST in dumped HTTP flows INFO"
It is requested to add the complete URL in the dumped HTTP flows INFO column.

check and possibly add also the Host: if missing.

[2018-09-06 17:37] simonemainardi opened #1989 "Improve Flow Aggregations"
It is requested to improve the current flow aggregation by:

- [x] discarding aggregations that fall below a certain total traffic (the same preference used for flows can be used here)

- [x] add a counter for the number of flows that have been aggregated into a single aggregation

[2018-09-06 19:28] lucaderi opened #1990 "Implement nEdge restart"
In some cases, restarting the whole box running nEdge with a reboot is way too much. For instance changes such as modify the list of local networks can be handled via a restart of nEdge (and in the future, even transparently).

It is requested to implement this feature and use it when a reboot would be too much.

[2018-09-06 19:30] lucaderi opened #1991 "Implement ntopng/nEdge Central Console"
When running many ntopng/nEdge instances it is not currently possible to have an overview of all instances and know their state, performance, alerts and issues.

It is requested to implement a central console able to provide an outlook of the various instances running in the network. Consider if #1864 could be used as base for creating the network overlay on top of which the instance will run

[2018-09-06 19:40] lucaderi opened #1992 "Fix crash/hanging on ntopng shutdown"
Sometimes ntopng is unable to shutdown properly. Example

06/Sep/2018 21:35:58 [AddressResolution.cpp:61] Address resolution stats [0 resolved][0 failures]
06/Sep/2018 21:35:58 [main.cpp:63] Shutdown completed
06/Sep/2018 21:35:58 [Mutex.cpp:46] WARNING: pthread_mutex_lock() returned 22 [Invalid argument][errno=0]

The WARNING issue means that shutdown is not really completed as there is still som

[2018-09-06 19:43] lucaderi opened #1993 "Reduce Preference Write Frequency"
Preferences are written periodically to disk by the housekeeping.lua script. This script runs every ~3 second and if there is a preference changed, it is written to disk. The script is sub-optimal as if preferences are changed (note that this can happen also without human intervention for instance when collecting flows), every ~3 sec presences are dumped.

This frequency is too high. it would be b

[2018-09-06 20:28] lucaderi commented on #1983
@simonemainardi Do not forget to also handle the mining category

[2018-09-06 21:35] anrodriguezco commented on #417
Same issue Here, may I need to reinstall something in order to get this view working?
[here](http://prntscr.com/krha88) you'll see mi issue.

[2018-09-06 21:40] anrodriguezco opened #1994 "No Results Found by Operating system"
Hi,

I'm not being able to see any OS in my network, may i need to install/reinstall any nagios missed modules to get this function working?

[This](https://prnt.sc/krha88) is what i'm currently seeing.

Thank you in advance for your help.

[2018-09-06 22:35] boisgada opened #1995 "Corrupted interface information"
I have 15 interfaces defined (all nprobe zmq pull).  Earlier today one interface started displaying the message below when attempting to change to that ifid.  All other interfaces display correctly.
[code]
ntopng.log:
[code]

ntopng version:
[code]

Please advise.

[2018-09-07 04:11] rjsears opened #1996 "Multiple IPs on one Interface, ntop only shows Information for first IP"
I am running ntopng v3.7.180906 on a Linux Ubuntu server with a single network interface but three separate IP address assigned to the interface (eth0 in this case). All three IPs are bound to eth0, NOT eth0:0, eth0:1, eth0:2.

Netopng is only showing traffic for the primary (first) IP address assigned to that interface and nothing else.

[2018-09-07 07:16] #1995 closed, assigned to nobody

[2018-09-07 07:21] simonemainardi commented on #417
@anrodriguezco please update ntopng to the latest 3.7 you are on 3.5

[2018-09-07 07:22] simonemainardi commented on #1995
Than you for reporting. A new build with the fix is in progress and will be available in 1 h from now.

[2018-09-07 07:57] emanuele-f commented on #1996
Hi, are you referring to the [local hosts](https://www.ntop.org/guides/ntopng/basic_concepts/hosts.html#local-hosts)? You can manually specify your subnets with the `--local-networks` option

[2018-09-07 07:59] emanuele-f commented on #1994
Hi, what's your monitoring setup? Have you configured the local networks properly https://www.ntop.org/guides/ntopng/basic_concepts/hosts.html#local-hosts ?

[2018-09-07 09:34] Baymax254 opened #1997 "MAC and IP Address on the same Flow page"
I want to print MAC on the same table as that of IP addresses? Please help me to print it on the flows page?

How to get MAC column on the get_flows_data.lua ?

[2018-09-07 10:26] emanuele-f commented on #1997
Hi, you can modify get_flows_data to add the mac address to the client name:

`cli_name = cli_name .. " " .. interface.getHostInfo(value["cli.ip"]).mac`

[2018-09-07 10:33] prasanthi97 opened #1998 "https login for ntopng is not working"
Followed  below mentioned steps.. and also find below ntopng logs.
1.Configured the steps in https://github.com/ntop/ntopng/blob/dev/doc/README.SSL
2.Ntopng.conf   did --http =0  and –https=3002
3.Netstat and ntopng log below still shows   3000.

Logs :
7/Sep/2018 10:10:08 [main.cpp:298] PID stored in file /var/run/ntopng.pid
07/Sep/2018 10:10:08 [Utils.cpp:499] User changed to nobody
07/Sep/2018

[2018-09-07 11:29] prasanthi97 opened #1999 "Building ntopng on windows"
Hello,
How can I build/compile source code in windows. Are there any steps(like make) which are available for ubuntu. If it is so, could you please provide the dependencies do we need for windows.

[2018-09-07 11:45] emanuele-f commented on #1998
Hi, if you are running the ntopng service, please perform a restart: `systemctl restart ntopng`. If you are running ntopng from cli, you need to point ntopng to the configuration file to use via startup line: `ntopng /etc/ntopng/ntopng.conf`

[2018-09-07 12:31] prasanthi97 commented on #1998
Hello, once after restarting netsat 3000 disappeared.  Only 3001 port listening…  but still on chrome browser we get below error
 This site can’t be reached
ab.bcd.com refused to connect.
Try:
  Checking the connection
    Checking the proxy and the firewall

ERR_CONNECTION_REFUSED

And after that while running ntopng as service its not running.

[2018-09-07 12:42] prasanthi97 commented on #1998
the logs are as follows :
07/Sep/2018 12:36:29 [Prefs.cpp:1087] Using ElasticSearch for data dump [gtascj][gtanetflows-%Y.%m.%d][http://localhost:9200/_bulk]
07/Sep/2018 12:36:29 [Ntop.cpp:1544] Setting local networks to 127.0.0.0/8
07/Sep/2018 12:36:29 [Redis.cpp:127] Successfully connected to redis 127.0.0.1:6379@0
07/Sep/2018 12:36:29 [Redis.cpp:127] Successfully connected to redis 127.0.0.1:63

[2018-09-07 13:36] anrodriguezco commented on #1994
Hey @emanuele-f  thanks for your reply!!
Yep i'm able to see all the devices of [my network ](http://prntscr.com/krq64j)10.163.0.0 /22 but no info regarding their OS

[2018-09-07 13:55] simonemainardi commented on #1971
Implemented

![image](https://user-images.githubusercontent.com/3397663/45222961-36eb9180-b2b6-11e8-8d78-41b64122fb58.png)

all the persistent data and redis/runtime preferences can now be cleared from the manage data page.

[2018-09-07 13:55] #1971 closed, assigned to simonemainardi

[2018-09-07 14:02] lucaderi commented on #1999
No on windows we have our .net project and a lot of custom works. Shall you be willing to contribute to this aspect that would be great

[2018-09-07 14:02] #1999 closed, assigned to nobody

[2018-09-07 14:08] simonemainardi commented on #1973
@marcoeg

please check out the new documentation:
- A description of how alerts work in ntopng: https://www.ntop.org/guides/ntopng/basic_concepts/alerts.html
- The format output to syslog https://www.ntop.org/guides/ntopng/web_gui/alerts.html#alert-endopints

Let me know if there's anything else that needs to be handled to consider this issue as resolved.

[2018-09-07 14:18] simonemainardi commented on #1940
@emanuele-f please fill the function that cleans influxdb data at https://github.com/ntop/ntopng/commit/bd27304c54547fa8ad791822dc17f4e0b4f9561f#diff-d47d1f4a55320307081f8ece3ddc5fd7R180

[2018-09-07 14:34] rjsears commented on #1996
Well, not localhosts. For example, on this particular server I have http and https traffic on all three IPs attached to eth0. When I look at the traffic I see http and https traffic destined to the main interface IP but not the other two IPs even though the sites are getting traffic.

Is it possible that it only shows traffic to the main IP on a given interface.

Also, I see a bunch of entires fro

[2018-09-07 14:47] #1993 closed, assigned to simonemainardi

[2018-09-07 14:53] simonemainardi commented on #1978
can you send us a short pcap capture of the netflow that contains both data and templates, as well as the output of nprobe with the supposedly inverted flows?

My guess is that the *"srv to cli"* part of the bi-directional flow arrives before the *"cli to srv"* part (as shown in your picture) so nprobe is tricked into thinking the server is actually the client. Note that this is not a limitation o

[2018-09-07 14:56] simonemainardi commented on #1998
check this error

[code]

 make sure the file exists and it the file format is correct.

[2018-09-07 14:57] simonemainardi commented on #1994
@anrodriguezco please post the configuration used for ntopng. Note that OS detection is only available when monitoring physical interfaces. It is not available over ZMQ as it requires packets to be inspected.

[2018-09-07 15:02] simonemainardi commented on #1965
@vidgizmo so does your solution work? did you run systemctl daemon-reload to make sure changes to the service  file have been read?

[2018-09-07 15:03] anrodriguezco commented on #1994
Hi @simonemainardi it's not too much, [this](http://prntscr.com/krrchf) is my ntopng.conf file:

It's that what you are referring to?

[2018-09-07 15:35] vidgizmo commented on #1965
No, it doesn't seem to make a difference :(

Here is my current ntopng.service file:

root@odroid:~# cat /etc/systemd/system/ntopng.service
[Unit]
Description=ntopng high-speed web-based traffic monitoring and analysis tool
After=time-sync.target network.target syslog.target redis.service pf_ring.service cluster.service mysql.service
Requires=time-sync.target
Wants=pf_ring.service cluster.service

[2018-09-07 17:17] simonemainardi commented on #1988
implemented.

[2018-09-07 17:17] #1988 closed, assigned to nobody

[2018-09-07 17:20] emanuele-f commented on #1996
ntopng captures the traffic from the network interface, and this happens before traffic goes through iptables, so this is normal. ntopng sees what the NIC sees. Are you sure that you have visibility on the network traffic of the other two networks? Please verify this by running tcpdump on the interface with proper filters

[2018-09-07 17:46] rjsears commented on #1996
I am not sure what you mean by "visibility on the network". As root running tcpdump I see traffic destined to all three IP addresses on the interface. Does this traffic show up someplace different in NtopNG?

I go to Interface and select eth0 and it is only showing me the first IP address assigned to that interface.

[2018-09-08 19:05] ghost opened #2000 "Performance issues while using a Napatech capture card"
Hi,

I am using ntopng with an enterprise license (for research purposes) and PF_RING ZC, with a Napatech NT4E card passed through to a KVM guest. It is assigned 4 cores and 4GB of RAM.

I'm running the latest snapshots of all the packages, the OS is Ubuntu 18.04. ntopng reads the 252 stream from the Napatech card which is configured to be an aggregate from the ports 0 and 1 of the card.

The only

[2018-09-08 23:05] charlesboyo opened #2001 "Command line script to read and update ntopng preferences"
Hello all.

I might be missing something obvious, but is it possible to create a Lua script that can be invoked on the command line to retrieve and set the values of ntopng preferences (especially ntopng.prefs.mysql_retention) without C++ (appears ntop.getCache is called which is defined in LuaEngine.cpp)?

I expected that these preferences would be in the Redis database but they are not there. Th

[2018-09-09 07:46] cardigliano commented on #2000
Hi @vogelfreiheit,
1. did you check the UI performance running ntopng on a standard interface?
2. could you try assigning more RAM to the VM?

[2018-09-09 11:36] HuangYingNing opened #2002 "more then 3438 interface in system, can not start service."
more then 3438 interface in system, can not start service.
vlan interface.

[2018-09-09 13:29] ghost commented on #2000
Hi,

I have not checked running it on a normal interface yet, but I will now.
The VM has the following memory stats available:

[code]

Currently 4 cores assigned, it's a 26xxv2 Xeon dual CPU system, so it can handle a good beating.

The log with the sensitive bits edited out:

[code]

I'm betting on two possible issues, one is using a single stream might lock down the polling to a single core and

[2018-09-09 13:59] ghost commented on #2000
Running it on normal interfaces does not exhibit this problem.
Running multiple streams load balanced did not help, either.

[2018-09-09 16:30] ghost commented on #2000
Running nProbe works though: I can run ntopng in collector mode, with nProbe sending flows, and it works just fine. I am not sure about the implications of that or the reason nProbe is not choking while using the same interface with the same streams, but it works as expected. I suppose nProbe limits the amount of traffic it collects?

I will be happy to assist in debugging the source of the proble

[2018-09-10 04:57] Baymax254 commented on #1997
Thankyou, Emanuel
Now if I only want a separate mac address field? what I need to do

[2018-09-10 05:19] Baymax254 commented on #1997
Thankyou @emanuele-f

[2018-09-10 07:31] simonemainardi commented on #2002
please, give us additional details. report configurations, errors, ntopng version, operating system, etc.

[2018-09-10 07:32] cardigliano commented on #2000
@vogelfreiheit please try assigning more ram to the VM as it seems the system is running out of memory

[2018-09-10 07:53] simonemainardi commented on #2001
ntopng uses an internal cache before going to Redis. This internal cache is periodically flushed to runtimeprefs.json. runtimeprefs.json is also reloaded upon ntopng startup. This prevents ntopng from continuously looking up into Redis every time it needs a preference.

For this reason, just changing a Redis preference does not suffice to guarantee the new value is known to ntopng. ntopng must be

[2018-09-10 07:53] #2001 closed, assigned to nobody

[2018-09-10 08:00] #1997 closed, assigned to nobody

[2018-09-10 09:33] ghost commented on #2000
The system is not running out of memory, check the output. A sizable part of the memory used is cached memory, which does not correlate with 1:1 physical memory footprint.

If it was running out of memory, the OOM would kick in.

Turning off the biggest memory hose has no impact in this issue:
`n2disk    1326  132 23.0 1641592 940548 ?      SLsl 02:35 702:48 /usr/local/bin/n2disknt /run/n2disknt-u

[2018-09-10 09:58] simonemainardi commented on #1994
OS detection is performed only for HTTP flows using information collected by nDPI:

https://github.com/ntop/ntopng/blob/c75469592800f7a899a66fad2640eab572765f91/src/Flow.cpp#L435

In particular, it is extracted using the HTTP user agent

https://github.com/ntop/nDPI/blob/6373c355cfd497d57609b8ecfc62717758ac7154/src/lib/protocols/http.c#L152

Therefore, if you have no or a few HTTP traffic you may

[2018-09-10 09:58] #1994 closed, assigned to nobody

[2018-09-10 10:17] HoseinKashefi opened #2003 "Interface Historical graph"
after update to following versions, ntopng collect data and shows it in dashboard section, but in interface historical  doesn't show any traffic graph( it shows 'Active Flows' graph)
ntopng Enterprise Edition v.3.7.180910
Cento v.1.5.180910

![traffic graph](https://user-images.githubusercontent.com/43135531/45291795-6560ab00-b508-11e8-84dd-5b0dea49cafa.jpg)

[2018-09-10 10:48] simonemainardi commented on #1981
Thank you for this request. We've accomodated it as we believe it is important, especially for view interfaces as you've pointed out.

The interface id will be an extra key in the host json retrieved

[code]

The new build will be available starting from tomorrow.

[2018-09-10 10:48] #1981 closed, assigned to nobody

[2018-09-10 10:53] emanuele-f commented on #2003
Hi, can you post a screenshot of the timeseries preferences page? Can you see any errors in the ntopng log? Please check out `journalctl -u ntopng`

[2018-09-10 11:14] prasanthi97 commented on #1998
yes..Thank you

[2018-09-10 11:14] #1998 closed, assigned to nobody

[2018-09-10 11:24] HoseinKashefi commented on #2003
as i monitored i didnt find any errors.
here you can see the last startup log:
Starting ntopng high-speed web-based traffic monitoring and analysis tool...
Sep 10 15:03:44 Started ntopng high-speed web-based traffic monitoring and analysis tool.
10/Sep/2018 15:03:44 [Ntop.cpp:1547] Setting local networks to xxxxxxxxxxxxxxxxxxxxxxxxx
10/Sep/2018 15:03:44 [Redis.cpp:127] Successfully connected to re

[2018-09-10 11:43] emanuele-f commented on #2003
Have you upgrade nprobe to the latest version? Check out the "invalid message received" warning. If you go into the interface settings (cog icon in your first screenshot), is the timeseries creation option checked?

[2018-09-10 12:04] HoseinKashefi commented on #2003
yes timeseries creation was checked. and as i mentioned at the beginning both cento and ntopng were upgraded to latest version and build.
ntopng Enterprise Edition v.3.7.**180910**
Cento v.1.5.**180910**

[2018-09-10 13:31] emanuele-f commented on #2003
Do you have Dynamic Interface disaggregation enabled? Can you see the charts for other interfaces? Can you provide access to the ntopng gui or the configuration dump (`Backup Configuration` in the menu) via email at faranda@ntop.org ?

[2018-09-10 13:46] Rico29 commented on #1786
hello,
it would be very useful to have this in ntopng !

[2018-09-10 13:49] anrodriguezco commented on #1994
Hi @simonemainardi I do have a lot of hhtp trafic on my network however isn't working and is weird because with an old version of NtopNg was working OS detection, I found [this](http://prntscr.com/ksq2vy) and the listening interface is conected to a monitor sesion port so maybe that is why is not working.

Thank you for your help anyways.

[2018-09-10 14:56] simonemainardi commented on #1989
configurable from the ntopng preferences for aggregated flows as if they were regular flows

![image](https://user-images.githubusercontent.com/3397663/45305314-4a973200-b51a-11e8-8369-634e9632c848.png)

added counter `num_aggregated_flows` to the `AggregatedFlow` class.

[2018-09-10 14:56] #1989 closed, assigned to nobody

[2018-09-10 16:18] emanuele-f commented on #1996
Please post your `/etc/ntopng/ntopng.conf` file

[2018-09-10 16:41] rjsears commented on #1996
-G=/var/run/ntopng.pid
-e=
-i=eth0
-w=3000
-d=/var/lib/ntopng
-q=

[2018-09-10 16:41] simonemainardi commented on #1975
- instructions have been updated to include also the debugging of packaged applications and the use of utility `systemd-coredumpctl`
- a real example of ntopng core dump generation on ubuntu 16 has been given as well
- the FAQ page has been shortened to avoid duplicated information and a link to the need help page has been added.

[2018-09-10 16:41] #1975 closed, assigned to simonemainardi, cardigliano

[2018-09-10 16:52] cardigliano commented on #2000
@vogelfreiheit we have been able to reproduce this with Napatech and ntopng, we already pushed a fix, please update from dev (github or packages) and let us know.
As of n2disk, it seems it is not affected by the same issue, it is using ~3% cpu in our lab with 50Mbit/s using Napatech, please open an issue at https://github.com/ntop/n2disk/issues providing your n2disk and napatech/ntservice configur

[2018-09-11 03:56] HoseinKashefi commented on #2003
i provided you an access to ntop gui.you can check it now.

[2018-09-11 05:04] lucaderi commented on #1992
@simonemainardi Any news?

[2018-09-11 06:36] lucaderi commented on #1965
I think this is not an issue of our packaging. Please investigate it yourself see how other packages are doing, and send us a pull request

[2018-09-11 06:36] #1965 closed, assigned to nobody

[2018-09-11 08:45] Netw0rkGuy commented on #1978
Your guess seems to be right. FortiGate firewalls do behave like stupid routers when processing and generating netflows!

Despite the fact that we instructed the device to look only for RX traffic, which is in my opinion only traffic that belongs to a session initiated outside of the interface (ingress sessions), it does not seem to take this information into consideration.

It's sad that there is

[2018-09-11 08:58] simonemainardi commented on #1973
Implementation and documentation done. Closing. Feel free to comment with feedback if necessary.

[2018-09-11 08:58] #1973 closed, assigned to simonemainardi, cardigliano

[2018-09-11 09:01] emanuele-f commented on #2003
Thank you. Can you please edit `/usr/share/ntopng/scripts/lua/modules/timeseries/drivers/rrd.lua` by inserting the following lines above the line `ntop.rrd_update(rrdfile, table.unpack(params))` :

[code]

Then, after one minute, you should see something similar to this in the ntopng log:

[code]

Please post a portion of the output. Can you see `bytes.rrd` in your output?

[2018-09-11 09:05] emanuele-f commented on #1996
Please add your three local network addresses to the ntopng.conf file, e.g.:

`-m="192.168.0.0/24,192.168.1.0/24,192.168.2.0/24"`

[2018-09-11 09:40] HoseinKashefi commented on #2003
[rrdlog.txt](https://github.com/ntop/ntopng/files/2370435/rrdlog.txt)
Please find the attachment for output.

[2018-09-11 09:49] gianogli commented on #1959
I've tested ntopng version 3.6.180906 (with the backport) for 5 days by using the standard InfluxDB configuration (without change the INFLUXDB_HTTP_MAX_BODY_SIZE parameter) and I can confirm to you that all works fine.
The `"error":"Request Entity Too Large"` messages are desappeared!
Thanks... ;-)

[2018-09-11 09:56] simonemainardi commented on #1959
thank you for reporting

[2018-09-11 10:53] #1986 closed, assigned to nobody

[2018-09-11 11:08] emanuele-f commented on #2003
This should be fixed in 433cbb3142586c50f989f32c03f2c997329f8056 . The new package will be available in one hour.

[2018-09-11 12:11] HoseinKashefi commented on #2003
packages have been updated and now ntopng works fine.
thanks a million.

[2018-09-11 12:11] #2003 closed, assigned to emanuele-f

[2018-09-11 12:33] simonemainardi commented on #1978
If you want, I could try and implement an heuristic so that the client and the server of a flow are determined using port values.

The rationale is that the higher among the two ports it is more likely to be an ephemeral port and thus we can take it as the client.

In the case of your example above:
- port 4443 < 53417  so `srcAddr` is considered to be the server and `dstAddr` is assumed to be the

[2018-09-11 12:45] engee974 opened #2004 "0 bps after upgrade from 3.6.1807dd to 3.6.180910 and 3.6.180911"
Hello,
i decided today to upgrade my debian host wher ntopng is running.
Last version was 3.6.1807dd (do not remember the exact release) and was working perfectly.
Since the upgrade to 3.6.180910 and no 3.6.180911 i have no troughput values all are "0 bps". but there are data because Total Bytes increase.

Already tried :

- redis-cli flushdb and flushall
- remove ntopng and install it again

My d

[2018-09-11 13:30] marcoeg commented on #1973
This is all extremely confusing. "Alert" as a noun means: "a warning to people to get ready to deal with something dangerous" (Cambridge Dictionary). In reality what you deal with are all "events" but you are mixing in an almost interchangeable way "event", "alert", "condition". Furthermore, the categories all-of-the-above are partitioned "engaged", "released", "past", "flow", "type" have no under

[2018-09-11 13:40] gianogli opened #2005 "Bytes/bit conversion error in grafana graphs"
I'm using ntopng v.3.6.180906 but i discovered an incongruity between the graphs shown directly on the dashboard

![screenshot_20180911_153108](https://user-images.githubusercontent.com/14093378/45363771-a88a4f00-b5d8-11e8-92b8-549e112de79b.png)

and what shown through grafana

![screenshot_20180911_153158](https://user-images.githubusercontent.com/14093378/45363666-619c5980-b5d8-11e8-83fd-f930811

[2018-09-11 13:47] dejtronschik commented on #646
Google requires SSL/TLS connection for maps API to work as Java console states.
I have the same problem and will test https redirecting later. Insecure connection is deprecated.
![image](https://user-images.githubusercontent.com/43029409/45364255-5b12df80-b5e2-11e8-99dd-d8ef5a8db158.png)

[2018-09-11 13:50] gianogli opened #2006 "[LocalHost.cpp:269] WARNING: JSON Parse error [unexpected end of data]"
I'm using ntopng v.3.6.180906 but sometimes during the day (2/4 times) I've some warning messages like that:
[code]
These messages are related to different IP used to NAT a great number of single users.

Is it a bug? What do you think?

[2018-09-11 15:12] lucaderi commented on #1992
Not that easy

``
* thread #1, queue = 'com.apple.main-thread', stop reason = signal SIGSTOP
  * frame #0: 0x00007fff11e63d82 libsystem_kernel.dylib`__semwait_signal + 10
    frame #1: 0x00007fff11eac824 libsystem_pthread.dylib`_pthread_join + 626
    frame #2: 0x00007fff107a413b ntopng`ThreadPool::~ThreadPool(this=0x00007fd5d5a8bfb0) at ThreadPool.cpp:67
    frame #3: 0x00007fff107a42a5 ntopng`Th

[2018-09-11 15:18] lucaderi commented on #1980
Please put a copy of your log or tell what action to do in order to promote the crashing. Furthermore please also report how you configured your ntopng

[2018-09-11 15:20] #1940 closed, assigned to simonemainardi, emanuele-f

[2018-09-11 15:27] emanuele-f commented on #2004
Hi, what are the contents of your `/etc/ntopng/ntopng.conf` file? Can you provide a screenshot of the problem?

[2018-09-11 15:35] rjsears commented on #1996
Will do and I will report back...

[2018-09-11 15:36] emanuele-f commented on #2005
Yes, it a 8 factor. Can you configure grafana to tread data as bytes-per-second rather than bits-per-second? Do you know if this also happened before the 3.6 release?

[2018-09-11 15:48] emanuele-f opened #2007 "allowed_ifname/network is not checked in get_ts.lua / ts_utils"
Any user can query timeseries data on all the available interfaces, regardless of the configured allowed_interface privilege. This also applies to the allowed network preference.

[2018-09-11 15:51] emanuele-f opened #2008 "Delete data page does not check ntop.rmdir return value"
It's requested to add return value to `ntop.rmdir` and use it to detect failure in "delete" tab of "manage stored data".

[2018-09-11 15:58] emanuele-f opened #2009 "Disable high resolution timeseries when custom housekeeping frequency is used"
InfluxDB timeseries driver now supports writing high resolution timeseries (10s and 30s) but this relies on the 5 seconds housekeeping frequency. But the user can modify such frequency via the `Hosts Statistics Update Frequency` preference and this would lead to inconsistent results due to unaligned intervals.
It is requested to disable the high resolution timeseries if the housekeeping frequency

[2018-09-11 16:01] emanuele-f opened #2010 "Add InfluxDB information in the runtime status or about page"
At least the following information should be added:

- InfluxDB version used
- Total space occupied by the ntopng database
- The timeseries write frequency (10/30/60 sec)

[2018-09-11 17:42] rjsears commented on #1996
OK - Still no change. eth0 still only shows a single IP address even though there are three assigned to the interface.

[2018-09-11 21:16] Netw0rkGuy commented on #1978
Hey that could indeed solve this timing issues and correct most of those flows.
But I must mention that I am running the stable builds of ntopng on our productive system, so testing is a bit difficult for me.

[2018-09-12 03:02] lizzyshaw opened #2011 "Why 95th percentile looks like worry"
The ntopng version is 3.6.18090,  the interface average shows 700+Mbit/s, but the 95th percentile shows 100+Mbit/s, why average & 95th percentile not match, is there something worry?
![ntopng](https://user-images.githubusercontent.com/41146732/45399592-3880d500-b67b-11e8-9eae-9cf3eb507a01.png)

[2018-09-12 04:42] engee974 commented on #2004
This morning throughputs are OK.
But the system is very slow. Somethng has changed with that versions.
I will post another issue.

[2018-09-12 05:40] engee974 commented on #2004
I reopen the issue.
I think the issue is located in the flows processor.
With the previous version i had about 300,000 flows continously.
Now with that version the total flows increases : more than 1,000,000 after 10min. This is not possible.

![image](https://user-images.githubusercontent.com/5074983/45404289-5c3e1e00-b66f-11e8-905f-23ce0906e343.png)

![image](https://user-images.githubuserconten

[2018-09-12 08:07] TakayukiOnodera opened #2012 "IPv6 support by nEdge"
Hello,
I'm currently using nEdge as bridge mode but it doesn't detect flows and hosts with IPv6. Therefore,  connections from local hosts to some service (e.g. Youtube) cannot be handled by nEdge in our environment.

[2018-09-12 08:44] emanuele-f commented on #1996
Please note that the IP address shown in ntopng for the interface eth0 is not important for monitoring. Ntopng captures traffic from the physical network interface, it will work even if the interface has no IP address at all as soon as the NIC receives the network traffic (e.g. via a mirror port). What matters here is that the IP addresses you are monitoring are shown in the "Hosts" view of ntopng

[2018-09-12 08:48] prasanthi97 opened #2013 "Netflow customized reports"
currently we are using ntopng for network monitoring.we need to get the below details from net flow. is it possible to arrive using any filters or solution already available.
1.protocol wise break up of traffic max-in,max-0ut,avg-in,avg-out, average total
2.stacked protocol trend-in and out
3.stacked Tos trend-in  and out
4.hosts-summary volume-from
5.host-summary volume-to
6.conversation summary

[2018-09-12 08:50] MeenaAshok opened #2014 "Netflow summary /dashboard"
currently we are using ntopng for network monitoring.we need to get the below details from net flow. is it possible to arrive using any filters or solution already available.
1.protocol wise break up of traffic max-in,max-0ut,avg-in,avg-out, average total
2.stacked protocol trend-in and out
3.stacked Tos trend-in and out
4.hosts-summary volume-from
5.host-summary volume-to
6.conversation summary v

[2018-09-12 09:01] emanuele-f commented on #2004
Can you sort the flows in the "Flows" view by duration and check if the oldest flows are reasonably still active?

[2018-09-12 09:02] emanuele-f commented on #2013
Duplicate of #2014

[2018-09-12 09:02] #2013 closed, assigned to nobody

[2018-09-12 09:10] emanuele-f commented on #2014
Hi, you can combine ntopng with nprobe for NetFlow analysis, please check out https://www.ntop.org/nprobe/network-monitoring-101-a-beginners-guide-to-understanding-ntop-tools/ .
Apart from the "Tos", which is not handled by ntopng, it should already provide the requested views. In particular:
- You can find stacked protocols and per-protocol in/out bytes in the ntopng graphs
- Traffic volumes are

[2018-09-12 09:30] gianogli commented on #2005
Ok, I've just tried but I think that this is not the correct solution.
The labels on the y axis, in fact, changed from 200Mbps to 200MB/s but the timeseries exported from ntopng are in bps (as you can see below) so I aspect that grafana, to show the correct value, would be set in bps and not in B/s. :-)

![screenshot_20180912_110634](https://user-images.githubusercontent.com/14093378/45415249-8303

[2018-09-12 09:35] simonemainardi commented on #2002
No feedback received in 2 days. Closing for inactivity. Please, reopen if necessary.

[2018-09-12 09:35] #2002 closed, assigned to simonemainardi

[2018-09-12 09:38] cardigliano commented on #2000
This works for me after the fix, please reopen in case.

[2018-09-12 09:38] #2000 closed, assigned to cardigliano

[2018-09-12 09:58] #1945 closed, assigned to simonemainardi

[2018-09-12 09:59] simonemainardi commented on #1945
Thanks for reporting. This issue is fixed also in 3.7 now and will be available in the next build, at most in 1 day.

[2018-09-12 10:12] emanuele-f commented on #1960
@cardigliano there was a little bug: 4b136b6125d95acc9caac1db0302486e63f6d473 . Please remember to cherry-pick on stable the fixes!

[2018-09-12 10:13] emanuele-f commented on #2011
The stats/points in the chart are wrong. This was already addressed in #1960 but not ported to stable. So please wait one hour until the new package is available.

[2018-09-12 10:13] #2011 closed, assigned to emanuele-f

[2018-09-12 10:23] engee974 commented on #2004
Trying to sort. After 30min still at this status
![image](https://user-images.githubusercontent.com/5074983/45418945-e2ba2600-b696-11e8-986b-e578746b7fbc.png)

The OS is starting to swap.
![image](https://user-images.githubusercontent.com/5074983/45419029-290f8500-b697-11e8-9b74-e9b1073e3df0.png)

NTOPNG is not working. I want to downgrade to the old version of july.

[2018-09-12 10:24] emanuele-f opened #2015 "Block all IPv6 traffic on nEdge and update documentation"
nEdge currently *does not* handle IPv6 traffic *but* let it pass. This could be used to bypass the nEdge policies. It is requested to block all IPv6 traffic to prevent this until full IPv6 support is provided and update the documentation with such limitation.

[2018-09-12 10:24] emanuele-f commented on #2012
@TakayukiOnodera currenly nEdge does not support IPv6. Thank you for pointing out, please check out #2015

[2018-09-12 10:24] #2012 closed, assigned to nobody

[2018-09-12 10:28] emanuele-f commented on #2004
Please note that your are sorting hosts, not flows. I suggest you to restart ntopng and perform the sort while it's still usable

[2018-09-12 10:34] emanuele-f commented on #2004
You could also try to tweak "Flow Idle Timeout" in the ntopng cache settings

[2018-09-12 11:30] engee974 commented on #2004
After a restart.
Flows

![image](https://user-images.githubusercontent.com/5074983/45422007-fcac3680-b69f-11e8-9a79-fe3b6408466f.png)

As said, since ntopng is updated, the flows are very high.

Here the default cache settings.
![image](https://user-images.githubusercontent.com/5074983/45422188-878d3100-b6a0-11e8-9a03-695d2b692335.png)

the settings are OK.

[2018-09-12 11:57] vazthunder commented on #1945
@simonemainardi thanks! i will update soon

[2018-09-12 12:17] #2005 closed, assigned to simonemainardi

[2018-09-12 12:27] simonemainardi commented on #2005
issue is fixed both in stable and dev branch. It will be available in the next build within a couple of hours.

[2018-09-12 13:26] simonemainardi commented on #646
I think you have turn HTTPS on for ntopng, see https://github.com/ntop/ntopng/blob/dev/doc/README.SSL

[2018-09-12 13:52] #2007 closed, assigned to emanuele-f

[2018-09-12 14:17] dejtronschik commented on #646
Great, Simone, it works under ntop SSL! I've turned
`-W 8080`
option and certs under httpdocs folder and my API showed me the map and geotargeting of the collected IPs.
I think the issue above was with the same collision, but we need **ghost** to confirm.
![image](https://user-images.githubusercontent.com/43029409/45431140-b52da680-b6af-11e8-8f34-584c361fbb78.png)

[2018-09-12 15:00] simonemainardi commented on #2015
implementation done and docs updated.

[2018-09-12 15:00] #2015 closed, assigned to simonemainardi

[2018-09-12 15:09] simonemainardi commented on #1934
@DomT4 I was wondering if you've any news. Let me know if I can help. I can successfully build ntopng and nDPI on os x.

[2018-09-12 16:05] #2010 closed, assigned to emanuele-f

[2018-09-12 16:18] rjsears commented on #1996
OK, that is new. I run ntopng on four servers, three of them show ALL IPs assigned to eth0, the forth does not, that is what started me down this trail. Clearly, ntopng is designed to show the IPs assigned to the interface as opposed to just a single one. So just as clearly there appears to be something different with this install (or configuration) than with my other installs.

I can see traffic

[2018-09-12 16:26] emanuele-f commented on #1996
Maybe the ntopng versions used are different? You could verify it's working properly, for example, by performing some test download and checking that both your client host is in the "Hosts" view and the flow for the download is in the "Flows".

[2018-09-12 16:47] #2009 closed, assigned to emanuele-f

[2018-09-12 17:56] simonemainardi opened #2016 "[get_ts.lua:72] [ts_utils_core.lua:137] ERROR: User: admin is not allowed to access interface -1"
occurs when trying to browse SNMP timeseries

[2018-09-12 18:46] rjsears commented on #1996
Same exacat versions across all four systems:

ntopng Community Edition v.3.6.180911

I'll check further in the details to make sure the traffic is showing up like it should.

Thanka

[2018-09-12 20:38] YackingCat opened #2017 "nEdge bridge stripping vlan tag or dropping all vlan traffic"
Upgraded to nEdge version 3.6.180912 - Edition.
nEdge is running in bridged mode (VLAN Trunk) between a pfSense firewall and the network.
All traffic passes through the bridge except for anything on vlan 200. Monitoring the firewall when nEdge is hooked up inline shows no traffic being received at all on the firewalls port that is configured for vlan 200. This is the exact same hardware that was u

[2018-09-13 02:57] dvachon2018 commented on #1912
hello, the same problem reappear.
![image](https://user-images.githubusercontent.com/33327149/45464563-2f295400-b6df-11e8-9eda-eda88c8f2e4f.png)

[2018-09-13 06:32] engee974 commented on #2004
For me the new version is unusable.
I don't knwo how to get the previous version i had before the update.
Something has changed between the 2 versions i don't know what exactly, but it's not an improvement for me.

[2018-09-13 07:42] lizzyshaw commented on #2011
I installed the latest version, it's work ,thanks

[2018-09-13 07:52] lizzyshaw opened #2018 "To much packages dropped"
The Ntopng interface traffic sometimes shows 0 even though the interface always have traffic. And I also find almost 20% packages dropped, I don't know how to find the problem and fix it.
![flowzore](https://user-images.githubusercontent.com/41146732/45474306-026f4e00-b76c-11e8-8373-e8fc41282788.JPG)
![packetsdroped](https://user-images.githubusercontent.com/41146732/45474305-026f4e00-b76c-11e8-98

[2018-09-13 08:23] emanuele-f commented on #2004
Sorry but we do not keep old packages in repos. Can you check out the development package (version 3.7) and see if it works properly for you? http://packages.ntop.org/

[2018-09-13 08:39] emanuele-f opened #2019 "Restricted users should not be able to access the SNMP/Flow devices"
Users with a defined `Allowed Interface` should not be able to access SNMP/Flow devices information.  The function `ntop_is_allowed_interface` should also be updated to handle this. In my opinion it is better to delay the fix until #1854 is implemented.

[2018-09-13 08:41] emanuele-f commented on #1912
Please open a new issue. The report uses a different code so it must be fixed too.

[2018-09-13 08:43] #2016 closed, assigned to emanuele-f

[2018-09-13 08:51] gianogli commented on #2005
In ntopng v.3.6.180912 I can confirm to you that this issue is solved.
Thanks! :+1:

[2018-09-13 08:53] simonemainardi commented on #2018
How many packets per second are you trying to process?

I think you have to use RSS to scale and distribute packets across multiple cores.

See https://www.ntop.org/ntopng/best-practices-for-running-ntopng/

[2018-09-13 08:57] simonemainardi commented on #2017
can you reach the nedge web ui at 192.168.6.3? Do you see the traffic in the ui? If you sniff on enp8s0f0 and  enp8s0f1, do you see the traffic?

[2018-09-13 08:59] emanuele-f commented on #2014
I'm closing the issue for now. If you have other questions, please open a new ticket

[2018-09-13 08:59] #2014 closed, assigned to nobody

[2018-09-13 09:07] dvachon2018 opened #2020 "bad counter again"
Hello, the problem appear again. Ntop v3.5.180821 - Enterprise/Embedded Edition
![2018-09-12 22_53_30-welcome to ntopng](https://user-images.githubusercontent.com/33327149/45478833-d83d7200-b712-11e8-8163-cbf300c285ad.jpg)

[2018-09-13 09:10] ldomenella opened #2021 "starting ntopng crash after enabled logging into /var/log/ntopng.log"
when starting ntopng, it keep crashing.
Sep 13 11:00:18 bigbrother systemd: Starting ntopng high-speed web-based traffic monitoring and analysis tool...
Sep 13 11:00:18 bigbrother systemd: Started ntopng high-speed web-based traffic monitoring and analysis tool.
Sep 13 11:00:18 bigbrother kernel: ntopng[19433]: segfault at 0 ip 00007f2094bd3ed7 sp 00007ffe101717e0 error 4 in libc-2.17.so[7f2094b99

[2018-09-13 09:16] #1992 closed, assigned to simonemainardi, emanuele-f

[2018-09-13 09:21] ldomenella commented on #2021
the core file and the binary can be downloaded from here: https://www.dropbox.com/s/mqmp6loxppz6q9x/core_issue_2021.tgz?dl=0

[2018-09-13 09:21] ldomenella commented on #2021
ntopng --version
v.3.6.180830    [Enterprise/Professional build]
GIT rev:        3.6-stable:1358fdcbfac7344a936f924c20484dfb7476459b:20180830
Pro rev:        r1850
Built on:       CentOS Linux release 7.5.1804 (Core)
System Id:      81196BD811B1B8A9
Platform:       x86_64
Edition:        Enterprise
License Type:   Time-Limited
Validity:       Until Thu Sep 13 11:31:14 2018

[2018-09-13 09:35] emanuele-f commented on #2020
Related to #1912

[2018-09-13 09:55] engee974 commented on #2004
No change
![image](https://user-images.githubusercontent.com/5074983/45481207-04c9ac00-b75c-11e8-9344-46d71d8f0a65.png)

![image](https://user-images.githubusercontent.com/5074983/45481318-4a867480-b75c-11e8-86c0-466b4e5fec50.png)

I can build from sources

[2018-09-13 10:45] lizzyshaw commented on #2018
About 150,000 pps, if I use RSS, I can only see one interface enp129s0f1@0 with speed 1 Gbit/s, I don't know this is correct or not.

[2018-09-13 11:21] engee974 commented on #2004
I reinstall a the stable release from package.
Maybe the OS has changed
![image](https://user-images.githubusercontent.com/5074983/45485411-97704800-b768-11e8-9a0f-263787c6208d.png)

Can you reproduce my issue ?
My debian 9.5 is uptodate.

[2018-09-13 11:28] Netw0rkGuy commented on #1978
Hey that could indeed solve this timing issues and correct most of those flows.

Maybe you can implement it that way, that one can define a maximum port number which is treated as a service port. If both port numbers are higher than that, leave the flow as it is.
If that is too complicated to document/implement a simple on/off switch would do it too. ;-)

But I must mention that I am running the s

[2018-09-13 12:20] engee974 commented on #2004
Don't know what happened it works fine now.
Compile from git 3.6-stable version
After 40min, throughput are now OK.

![image](https://user-images.githubusercontent.com/5074983/45487925-d4d8d380-b770-11e8-98ee-b36c6b301202.png)

Maybe old flows in a hidden cache

[2018-09-13 12:20] #2004 closed, assigned to nobody

[2018-09-13 13:54] simonemainardi commented on #2021
post the ntopng configuration file as well.

[2018-09-13 13:57] ldomenella commented on #2021
/etc/ntopng/ntopng.conf
[ntopng.txt](https://github.com/ntop/ntopng/files/2379587/ntopng.txt)

/etc/ntopng/protos.txt
[protos.txt](https://github.com/ntop/ntopng/files/2379591/protos.txt)

[2018-09-13 14:28] #2008 closed, assigned to nobody

[2018-09-13 14:30] simonemainardi opened #2022 "unable to delete interfaces data after new timeseries checks"
deleting old interfaces data

![image](https://user-images.githubusercontent.com/3397663/45494855-3d748000-b772-11e8-9aee-a34e3e36ae2d.png)

yields

[code]

[2018-09-13 14:36] YackingCat commented on #2017
I cannot reach the ui at 192.168.6.3 but i can on 192.168.1.3.

As soon as i put nEdge back inline, I see both networks as local (192.168.1.0 and 192.168.6.0) in the UI. Any device that is still connected to 6.0 and still has an ip address is creating flows and every thing else but they all show data only as sent and 0 data received.

I can only run tcpdump at the moment on the interfaces.
Im stil

[2018-09-13 14:56] DomT4 commented on #1934
@simonemainardi Sorry for the delay in reply here. I've stepped down from Homebrew and do not intend to contribute anything further there, so someone else will need to pick it up. Might be worth talking to @fxcoudert about the situation.

[2018-09-13 15:14] fxcoudert commented on #1934
New try to build with latest nDPI: https://github.com/Homebrew/homebrew-core/pull/32046

[2018-09-13 15:16] #2006 closed, assigned to nobody

[2018-09-13 15:27] YackingCat commented on #2017
Just to avoid confusion or in case you missed it, everything not on vlan 200 is passing through the bridge without any issues.

Here is what I found after digging in the tcp dump:
Lan interface (enp8s0f0) shows anything that still has a 6.x address is still sending outbound but nothing is coming in to 6.x addresses. ARP request from 6.x to see who-has 6.1.
Wan interface (enp8s0f1) almost identical

[2018-09-13 16:08] #2021 closed, assigned to simonemainardi

[2018-09-13 16:11] simonemainardi commented on #2021
Thanks for reporting. Issue is now fixed in the dev branch.

Isse was due to empty `--verbose` argument in your `ntopng.txt`. Verbose requires an argument and that was causing ntopng to crash.

If you want to stay with 3.6 rather than upgrading to dev, remove verbose or add a value for it.

[2018-09-13 16:16] ldomenella commented on #2021
is there somewhere the documentation for the --verbose argument ?

[2018-09-13 16:17] ldomenella commented on #2021
got it from the ntopng --help

[2018-09-13 17:24] emanuele-f opened #2023 "Improve InfluxDB performance"
Some InfluxDB queries really impact performance, in particular the queries which are used to get the "total serie" and calculate statistics, which are reported below:

[code]

On a 1 week time frame they can even require almost 10 seconds to complete.

[2018-09-13 19:29] fxcoudert commented on #1934
Build fails on all macOS versions with:

[code]

That's because ndpi static libraries are compiled as `nDPI/src/lib/libndpi.a` (note `lib` rather than `.libs`).

[2018-09-14 01:58] lizzyshaw commented on #2018
Also the same
![rssdrop](https://user-images.githubusercontent.com/41146732/45525234-b3c1c280-b804-11e8-9103-be322fc15a64.JPG)

[2018-09-14 07:34] simonemainardi opened #2024 "Issues with interface traffic timeseries"
Remote interface

Version
![image](https://user-images.githubusercontent.com/3397663/45536091-b5898700-b800-11e8-9e0b-a67fbceb6c64.png)

from the dashboard I get

![image](https://user-images.githubusercontent.com/3397663/45536087-b15d6980-b800-11e8-8cd2-be3b03c918cb.png)

from the interface chart

![image](https://user-images.githubusercontent.com/3397663/45536122-cafeb100-b800-11e8-8927-03aa445f

[2018-09-14 07:37] simonemainardi commented on #2018
you are also dropping flows.

Increase the maximum number of flows and hosts with -X and -x. Make sure to set values that are much larger that the actual number of flows and hosts you have.

[2018-09-14 07:41] simonemainardi commented on #2018
To see all the interfaces, provided you've properly configured RSS, you have to start ntopng with

[code]

Make sure there's one core available for each interface also. Use core pinning with `--core-affinity`.

[2018-09-14 09:50] lizzyshaw commented on #2018
I increase the host and flows yesterday, and it's well for the first hour, but then dropped flow increased.
my ntopng.conf is
[code]
I find I can't use `-i zc:enp129s0f1@0 -i zc:enp129s0f1@1 -i zc:enp129s0f1@2`, if I use this, the ntopng service will crush after runing about 20 minite.
I think maybe I could turn back to the older verion.

[2018-09-14 10:11] simonemainardi commented on #2018
what about the specs of the machine on which you are running ntopng?

if you experience a crash, please, generate a core dump and upload it along with the ntopng binary.

[2018-09-14 10:20] prasanthi97 opened #2025 "nprobe.conf for netflow version9"
configured nprobe.conf for netflow version9 with -V = 9 but we are not getting the flow exported ip list populated on ntopng3.6 dashboard. By default we are getting netflow version 5. Please give additional steps to be added in conf file.

[2018-09-14 10:48] simonemainardi commented on #2025
please post the full nprobe and ntopng configurations used.

note that you can't control any netflow version between nprobe and ntopng, they talk with ZMQ. What you can control are the fields exported by nprobe using option -T. Recommended is to set at least `-T="@NTOPNG@"` when using ntopng.

[2018-09-14 11:20] simonemainardi commented on #2017
Thank you for this detailed troubleshoot.

Can you try and leave the mgmt bridge on VLAN 200 but put it on an IP/network that is not used by the clients (just by you for the management)?

What if you set the mgmt bridge ip address on a VLAN that is different from 200?

Thank you.

[2018-09-14 13:51] YackingCat commented on #2017
I tried different VLANs, different IPs, removed VLAN200, and changing the monitoring nic. Everything I did only produced the exact same results as before.

[2018-09-14 16:45] cardigliano commented on #1956
@dagbdagb we pushed a fix for this, a new package will be available in <1h from now. Please let us know if it works for you. Thank you.

[2018-09-14 16:49] dagbdagb commented on #1956
Cool. thanks.

[2018-09-14 20:18] YackingCat commented on #2017
I was kind of bored today and I decided to do a fresh install of ubuntu and nEdge just for the fun of it. Before I did that, I backed up the configuration using the backup utility in the UI. I looked inside the backup file that was created to see what was in there and I started looking at the system config file. I am seeing some strange things in there that look wrong on the way I have the current

[2018-09-16 18:25] #2022 closed, assigned to emanuele-f

[2018-09-17 07:16] MeenaAshok opened #2026 "dashboard based on location"
Hi,

I want to get a location wise flow details is it possible in ntopng .i haven't meant about geo maps.I got a requirement for dashboard similar to host wise,protocol wise likewise can we get something in location wise.

Thanks
Meena

[2018-09-17 07:17] MeenaAshok opened #2027 "DNS users instead of ip"
Hi

I got host names from DNS can i populate host names instead of ip in dashboard.

Thanks
Meena

[2018-09-17 09:32] emanuele-f commented on #2020
Fixed. A new build is in progress. The new package will be available in one hour.

[2018-09-17 09:32] #2020 closed, assigned to emanuele-f

[2018-09-17 10:51] simonemainardi commented on #2027
yes,

see

[code]

[2018-09-17 10:51] #2027 closed, assigned to nobody

[2018-09-17 10:54] simonemainardi commented on #2026
Currently the dashboard is not customizable. However, we are considering a rework of the current dashboard to make it more general and to possibly include other information and modifiable blocks. So stay tuned.

[2018-09-17 10:54] #2026 closed, assigned to nobody

[2018-09-17 10:55] simonemainardi commented on #2025
@prasanthi97 any news?

[2018-09-17 11:17] simonemainardi commented on #2017
After the fresh install, are you still experiencing the same issue? Everything but VLAN 200 is working? Or did the fresh install fix the the issue?

As regards the old configuration, you don't really have to worry about it. There are some fields that are not used  / meaningful depending on the operating mode.

[2018-09-17 11:20] simonemainardi commented on #1996
any news @rjsears ?

[2018-09-17 13:11] emanuele-f commented on #2020
@dvachon2018 , before upgrading the package, can you identify if the peak occurs after a ntopng restart? You can identify ntopng restarts by looking at the "process" informative alerts in the alerts view.

[2018-09-17 13:58] lucaderi opened #2028 "[nEdge] Implement backup"
Implement in nEdge backup/restore of the configuration as in ntopng

[2018-09-17 13:59] lucaderi opened #2029 "[nEdge] Stats cleanup"
Implement in nEdge the ability to cleanup statistics similar (but not alike) to what it has been implemented in ntopng.

[2018-09-17 14:05] lucaderi opened #2030 "Increase packet shapers list"
It is request to increase the number of packet shapers so that we have the ability to have at least 5 of them, better if the list is configurable

[2018-09-17 14:07] lucaderi opened #2031 "[nEdge] Implement automatic local networks"
In nEdge it is possible to define static routes towards specific networks. Such networks are currently defines as remote (i.e. WAN) networks, even though they can be both LAN or WAN (usually LAN). It is request to implement the ability to specify what networks are local so that they are automatically considered in -L

[2018-09-17 14:14] lucaderi opened #2032 "Implement User Roaming"
Implement a cluster of federated nEdge instances where when a user is authenticated on any nEdge, it can roam freely across all the instances without any further authentication (e.g. in the captive portal)

[2018-09-17 14:17] lucaderi opened #2033 "Implement central console"
When multiple ntopng/nEdge instances are deployed, it is necessary to have a central console that gives the ability to see what the individual ntopng instances are doing including
- current state
- configuration / maintenance ...
- usage stats
- remote reboot / update

This issue depends on #1864 that has to be implemented beforehand in order to allow NAT traversal

[2018-09-17 14:24] lucaderi opened #2034 "Implement custom protocols and categories"
Custom protocols are currently defined by hand with -p. This is not simple to handle as it pushes the user to go back to the console. It is requested to configure protocol configuration through the web interface, including the ability to define new categories. ntopng should use the new configuration as it is updated.

[2018-09-17 14:26] lucaderi opened #2035 "Implement better KPIs on network usage"
ntopng gives a lot of visibility in terms of protocols and flows but it lacks KPIs for understanding who is using the network such as
- how many iPhones are accessing the network
- where are the top visited web sites
- what is the average time a device is connected to the network
- what is the percentage of fixed, mobile, tablets

[2018-09-17 14:36] lucaderi opened #2036 "[nEdge] Implement clustering and high-availability"
As nEdge is used inline, a fault can disrupt the whole network. It is requested to implement a way to federate instances in order to implement high-availability so that
- traffic is distributed across available nEdge instances
- in case of fault of an instance, the other nEdge instance will handle the load

[2018-09-17 14:39] emanuele-f commented on #2024
I think that such inconsistency was fixed with commit 433cbb3142586c50f989f32c03f2c997329f8056 . Average has been further refined via 370e0c3564dc1fa8c8df0ed222775bea923e8b32 fix.

[2018-09-17 14:39] lucaderi opened #2037 "Implement authenticated email delivery for alerts"
ntopng can deliver alerts via email. Unfortunately there are many mail services (e.g. gmail) that require SSL and authentication, features not currently support where only unencrypted and unauthenticated emails are be supported.

[2018-09-17 14:52] YackingCat commented on #2017
Everything is working as expected now. Here is what happened when I did a new install.
I am using a 4 port nic so I install ubuntu, update it to the latest kernel, and configure the 4th port to be the monitoring port. I run apt-get install nedge and it fails to start after the install. When  I look in the interfaces.d folder, there is no nedge.conf file nor did the install modify the interfaces fi

[2018-09-17 15:00] Ravivenkatachalam commented on #2025
Nprobe 8.4 conf file has below :+1:
--zmq="tcp://*:9995"
--collector-port=2055
-n=none
-i=none

-T "@NTOPNG@" "%IPV4_SRC_ADDR %L4_SRC_PORT %IPV4_DST_ADDR %L4_DST_PORT %PROTOCOL %IN_BYTES %OUT_BYTES %FIRST_SWITCHED %LAST_SWITCHED %IN_PKTS %OUT_PKTS %IP_PROTOCOL_VERSION %APPLICATION_ID %L7_PROTO_NAME %ICMP_TYPE %SRC_IP_COUNTRY %DST_IP_COUNTRY %APPL_LATENCY_MS"

Restarted nprobe and ntopng.

earlier

[2018-09-17 15:05] Ravivenkatachalam commented on #2025
we are trying to build netflow kibana dashboard like below options

option -1 - nprobe->ntopng->ES->kibana
Option-2 - nprobe--ES-->kibana
Option-3 - nprobe-->ntopng-->logstash-->ES-->kibana

We could not send customized netflow v9 fields required  to push to kibana to build index and dashboard jason fields match to draw the dashboard

[2018-09-17 15:23] simonemainardi commented on #2024
I can confirm issue is now fixed. Thank you @emanuele-f.

[2018-09-17 15:23] #2024 closed, assigned to emanuele-f

[2018-09-17 16:31] rjsears commented on #1996
OK, I think I need to reinstall on this one system. On the systems that I can "see" the IPs assigned to the interface I am seeing all traffic both in ntopng as well as tcpdump. This is not the case with the system where it only shows a single IP assigned to the interface.

I am going to purge the install and reinstall and see if that fixes the problem.

[2018-09-17 16:54] njcwotx opened #2038 "Unable to start HTTP server (IPv4) on port 3000"
/ntopng# /usr/sbin/ntopng -i eth0 -v
17/Sep/2018 11:43:34 [Ntop.cpp:586] Setting local networks to 192.168.1.0/24,0.0.0.0/32,224.0.0.0/8,239.0.0.0/8,255.255.255.255/32,127.0.0.0/8
17/Sep/2018 11:43:34 [AddressResolution.cpp:132] Rule '192.168.1.0'/'24'
17/Sep/2018 11:43:34 [AddressResolution.cpp:132] Rule '0.0.0.0'/'32'
17/Sep/2018 11:43:34 [AddressResolution.cpp:132] Rule '224.0.0.0'/'8'
17/Sep/2

[2018-09-17 17:34] lucaderi opened #2039 "[nEdge] Implement port forwarding"
If nEdge is used as Internet router with NAT, it is required to implement a page that contains a list of mappings. Example

<external port>    < internal IP><internal port>
1234                      1.2.3.4:7890

Furthermore implement the ability do enable/disable the NAT from nEdge

[2018-09-17 17:37] lucaderi opened #2040 "Extend MAC address stats"
Currently ntopng stats are kept per IP address with limited MAC stats. However this is a suboptimal solution when addressed are dynamic and the IP-MAC association is not guaranteed.

Ad the ability (through preferences) to keep on MACs the same stats we have on Its, including the historical view

[2018-09-18 01:37] dvachon2018 commented on #2020
hello, no the peak does not appear to be related to ntopng restarts.
i did the upgrade than all bad peak counters now appear as normal value
![image](https://user-images.githubusercontent.com/33327149/45659303-cae10880-bac1-11e8-99e4-2cf2f5f38999.png)
Will try and look at that for a few days.
Thank you,

[2018-09-18 08:05] simonemainardi commented on #2038
ntopng version and os?

[2018-09-18 08:12] simonemainardi commented on #2025
the template shown is not well-formed. You close the double quote right after @NTOPNG@: `NG@" "%IPV4`.

Try with

[code]

Then make sure all the fields specified in the template are contained in the netflow packets. Note that not all the fields you've specified can be parsed when collecting netflow (e..g., APPL_LATENCY_MS). The application latency for example is something that calculates nProbe wh

[2018-09-18 10:33] Ravivenkatachalam commented on #2025
Hi Simone,
We have added the mentioned template.  logs are below :+1:

Sep 18 15:56:27 test1 nprobe[9995]: 18/Sep/2018 15:56:27 [nprobe.c:7699] IP TOS is accounted
Sep 18 15:56:27 test1 nprobe[9995]: 18/Sep/2018 15:56:27 [util.c:454] WARNING: Unable to load AS file /usr/local/nprobe/GeoIPASNum.dat. AS support disabled
Sep 18 15:56:27 test1 nprobe[9995]: 18/Sep/2018 15:56:27 [util.c:465] WARNING: U

[2018-09-18 10:34] Ravivenkatachalam commented on #2025
we see netflow exporter table entry gets deleted and it gives the interface Ip entry.

[2018-09-18 10:53] prasanthi97 commented on #2025
@simonemainardi  please reopen the issue

[2018-09-18 11:47] MeenaAshok opened #2041 "Ntopng redis insertion"
Hi,

canwe insert data into ntopng redis servers tables,so that we can see data in dashboard.

Thanks
Meena

[2018-09-18 13:08] simonemainardi commented on #2031
Implemented.

![screen shot 2018-09-18 at 15 03 32](https://user-images.githubusercontent.com/3397663/45689348-07f5db00-bb54-11e8-95e0-7011fb3a19e9.png)

Networks are now added to the ntopng local networks when the static routes used to reach them are marked as local network static routes.

[2018-09-18 13:08] #2031 closed, assigned to simonemainardi

[2018-09-18 13:11] simonemainardi commented on #2025
enclose a pcap capture of the netflow you are parsing please.

[2018-09-18 13:15] simonemainardi commented on #2041
please, go through the documentation at:

- API: https://www.ntop.org/guides/ntopng/api/
- user: https://www.ntop.org/guides/ntopng/

Then, in necessary, please post specific questions.

[2018-09-18 13:15] #2041 closed, assigned to nobody

[2018-09-18 13:18] lucaderi opened #2042 "Manage stored data"
In ntopng it is possible to manage stored data using a menu item under the preferences menu. This item is missing in nEdge.

However the current implementation limits its scope to a selected IP or MAC address. It is also request to delete all the data associated with all hosts. In essence delete all or selected data.

[2018-09-18 13:21] lucaderi opened #2043 "[nEdge] Extend daily policies"
In nEdge all policies (e.g. quotas) are daily based. Sometimes (in particular for Internet plans) this approach is not good, as it is rather monthly based.

It is requested to modify the policies and let the use choose daily, weekly or monthly. Ideally it would be nice to have it more configurable but for the time being this should be enough.

[2018-09-18 13:24] simonemainardi commented on #2034
duplicate of #1974

[2018-09-18 13:24] #2034 closed, assigned to nobody

[2018-09-18 13:25] lucaderi opened #2044 "Extend Alert Email Delivery Options"
Currently alerts can be delivered via email only to unauthenticated mail servers not using SSL. This is a limitation as most SMTPs use both authentication and encryption.

It is requested to find a solution to this problem (e.g. using a local delivery agent). This both with ntopng and nEdge.

Check if there are third party libraries that can simplify alert delivery to multiple endpoints on multipl

[2018-09-18 13:26] simonemainardi commented on #2033
duplicate of #1991

[2018-09-18 13:26] #2033 closed, assigned to nobody

[2018-09-18 13:28] lucaderi opened #2045 "List DHCP Leases"
In nEdge it would be nice to display the list of current DHCP leases assigned by nEdge.

[2018-09-18 13:31] lucaderi opened #2046 "Implement per egress interface traffic statistics"
In nEdge, when multiple egress routers are used, it is not possible to visualise per-egress statistics. This means that for instance it is not possible to know much much a destination is used, for what protocols etc. In essence it is requested to keep per-destination stats.

[2018-09-18 13:31] simonemainardi commented on #2028
backup/restore is already implemented also for nedge.

Documentation:
- https://www.ntop.org/guides/nedge/conf_backup.html
- https://www.ntop.org/guides/nedge/conf_backup.html#configuration-restore

The backup configuration feature is available from the system setup page in nEdge

![image](https://user-images.githubusercontent.com/3397663/45690983-e0a10d00-bb57-11e8-92e3-ddbbffb8ea7e.png)

[2018-09-18 13:31] #2028 closed, assigned to nobody

[2018-09-18 13:34] lucaderi opened #2047 "Improve block host/flow user interface"
In nEdge for blocking a host or a flow, it is necessary to go into a long list of menu/tabs instead of being able to perform the block from the list of flows/hosts.

It is requested to implement this functionality right in the flow/host list.

[2018-09-18 13:38] lucaderi opened #2048 "Configure select domains to drop"
In ntopng/nEdge it is possible drop/mark traffic from specific sites (e.g. malware hosts) using configured list of sites. However a simple thing like block site X is not possible.

It is requested to implement in both ntopng/nEdge a list of domains to drop/alert (that will be handled via nDPI categories) that a user can configure though the web interfaces.

[2018-09-18 15:30] cardigliano commented on #2017
@YackingCat thank you for the update, nice to see it is working now. Please let us know in case you experience similar issues installing a fresh system.

[2018-09-18 15:30] #2017 closed, assigned to nobody

[2018-09-18 15:30] emanuele-f commented on #2023
Performance improved in 1c7234e18fe8181e7a5f2dedab7f0f0972a93bd9 and 254a0fe5ce450c323f7bc48d70d9a32eb3f05acc

[2018-09-18 15:30] #2023 closed, assigned to emanuele-f

[2018-09-18 15:32] emanuele-f commented on #1980
@S0t0nN3rdS any news?

[2018-09-18 15:32] emanuele-f commented on #1956
@dagbdagb any news?

[2018-09-18 15:39] cardigliano commented on #2018
@lizzyshaw any update on this?
Are you able to provide a core dump as described at https://www.ntop.org/support/need-help-2/need-help/ ?
Please also provide the content of /proc/net/pf_ring/dev/enp129s0f1/info
Thank you.

[2018-09-18 16:48] dagbdagb commented on #1956
Not at the moment.The guy assigning tasks to me also prioritize my tasks, and netflow got demoted for now. Sorry.

[2018-09-18 17:08] cardigliano commented on #1934
@fxcoudert this should not happen using latest stable (ntopng 3.6 and nDPI 2.4) or dev, or at least I am not able to reproduce it. Could you provide instructions for reproducing it? What version are you using? Thank you.

[2018-09-18 18:02] simonemainardi commented on #1990
implemented in https://github.com/ntop/ntopng/commit/9cad482002b69b0a9f152c031d634668e7a82687 and in the companion nEdge commit

[2018-09-18 18:02] #1990 closed, assigned to simonemainardi

[2018-09-18 18:05] simonemainardi commented on #1956
ok, thanks for reporting. Closing as @cardigliano reproduced and pushed the fix. Kindly provide feedback in the future in case you'll reconsider using netflow.

[2018-09-18 18:05] #1956 closed, assigned to nobody

[2018-09-18 18:31] fxcoudert commented on #1934
The build instructions are in the pull request there: https://github.com/Homebrew/homebrew-core/pull/32046

We first build nDPI, then copy all the resulting files into the `nDPI` subdirectory of the ntopng folder. We then `configure` there.

[2018-09-18 21:46] cardigliano commented on #1934
@fxcoudert this formula is working smootly for me, this is using latest stable (newer than the versions in your formula):
https://github.com/ntop/ntopng/blob/dev/packages/homebrew/ntopng.rb

[2018-09-19 00:18] lyricnz commented on #1934
@cardigliano that formula worked OK for me too:
- Needed libmaxminddb in order to build.
- Lots of permissions errors
 WARNING: mkdir(/var/tmp/ntopng/0/subnetstats/10) failed [13/Permission denied]
 Left over from previously running ntopng 3.2?

[2018-09-19 05:19] MeenaAshok commented on #2041
Hi,

We have showed the snmp v1 and v2c data using ntopng,similar way we are about to show snmpv3 data in dashboard,but ntopng currently doesnt support v3.so we have collected snmpv3 data we have to show it in dashboard.
Any help on how to insert it to backend so we can view the dashboard similar to v1 and v2c.

Thanks
Meena

[2018-09-19 06:16] fxcoudert commented on #1934
Homebrew only ships released versions, not development branches, hence the difference. If the released versions don't build, we will not update them, and over time might remove the formula.

[2018-09-19 06:19] fxcoudert commented on #1934
This is apparently the commit that fixed it: https://github.com/ntop/ntopng/commit/7356a8c3b581add2290e5d3f5e192875474eb9a9#diff-8e214bf8cdeacb1f02c36cfc879f098f

We'll wait for a new release containing this, I suppose.

[2018-09-19 07:25] simonemainardi commented on #2041
please, show how you have shown snmp data in the dashboard. Do you have a customized script? Can you contribute to the community? Can you provide a pull request? Seeing the script will help us in supporting you.

[2018-09-19 07:49] cardigliano commented on #1934
@fxcoudert our formula is now based on the 3.6 release tarball, I was using the stable 3.6 branch before. @lyricnz I also added the libmaxminddb dependency, thank you for reporting. Please check it now. Thank you.
https://github.com/ntop/ntopng/commit/ffcef88c8cbb6839d1bcbab8bd6a3f0581ac7fd0

[2018-09-19 07:54] Ravivenkatachalam commented on #2025
Simone i wont be able to share pcap   but nprobe.conf is as below flows are coming but netflow exporter table  got deleted after -V9 and T options included.
:+1:

--zmq="tcp://*:9995"
--collector-port=2055
-n=none
-i=none
-V=9
-T "@NTOPNG@ %SAMPLING_INTERVAL %IN_BYTES %IN_PKTS %IPV4_SRC_ADDR %IPV4_DST_ADDR %IPV4_NEXT_HOP %IPV6_SRC_ADDR %IPV6_DST_ADDR %IPV6_NEXT_HOP %L4_SRC_PORT %L4_DST_PORT %SRC_V

[2018-09-19 08:06] Ravivenkatachalam commented on #2025
Had also included -U=888  as well in nprobe.conf still netflow exporter not populated

[2018-09-19 08:06] simonemainardi commented on #2025
what does it mean "netflow exporter table got deleted"?

[2018-09-19 08:46] Ravivenkatachalam commented on #2025
Click Devices--> Flow exporters

Table lists Flow exporters devices.. This got populated correctly    without -V -T -U  option. Now it is not getting displayed.

also refer below link
https://gist.github.com/robcowart/afd538026db29ee96dd9c495efb52ea6

[2018-09-19 09:22] S0t0nN3rdS commented on #1980
Which logs would you like to see?  Are there any specific to ntop?

If I recall correctly, there wast a lot to set up really...  We have a 4 port nic on a PC, 1 connected to the internal lan, the other two to span ports monitoring gateway interfaces.  Ntop shows data from the 2 span ports.

After starting all seems tow ork well for apporx 10 minutes, then the service just stops.  Our windows logs

[2018-09-19 09:45] fantasio82 opened #2049 "Scaling Problem with nprobe/ntopng and Cisco ASR1006 with Netflow 9"
Hi,

I have the following Setup:

nprobe on Server A
ntopng on Server B
Cisco ASR 1006 Router with Netflow 9 (no Sampling) configured to send Flows to Server A

Server A has no Issues (Top, iostat etc. looks fine)
Server B has Perfomance Issue. It takes long to open the Websites and I verified that there are ZMQ Drops. I'm also hitting the Alert for "Server A has too many Flows/Hosts please Extent

[2018-09-19 10:12] lucaderi commented on #2049
As of -X/-x you need to set them so that they are (likely) double the peak you have. So do -X 4000000 -x 1024000 (if you have 60k local hosts let's assume you have 512k hosts in total so 1M peak). This as of ntopng -h

[--max-num-flows|-X] <num>          | Max number of active flows
[--max-num-hosts|-x] <num>          | Max number of active hosts

This for the scaling issue.
As of the performance

[2018-09-19 10:27] fxcoudert commented on #1934
[code]

Does it require lua now?

[2018-09-19 10:28] cardigliano commented on #1934
Yes, I added the dependency in our formula

[2018-09-19 10:30] fxcoudert commented on #1934
FWIW: It's not in the release notes, and not in the [Prerequisites for Compilation](https://github.com/ntop/ntopng/blob/dev/doc/README.compilation).

[2018-09-19 13:02] simonemainardi commented on #1054
- necessary to "snapshot" counters at pre-defined times (e.g, noon, midnight, hourly) or manually (click on the button reset of the gui).
- only deltas between snapshots should be returned in lua, possibly according to an user preference (for example, to return the last hour traffic, the delta between the current traffic value and a 'last hour snapshot' should be returned).
- must quantify the imp

[2018-09-19 13:14] simonemainardi commented on #1905
After the integration of ntopng with n2disk, it should be preferable to leave the task of recording the traffic to n2disk. What has been described in the issue can be obtained after the integration using alerts:
- see the malware host alerts
- click on the alert to trigger an n2disk traffic extraction of the corresponding host

[2018-09-19 13:43] simonemainardi commented on #2029
In ntopng we have data cleanup of inactive interfaces.

In nEdge we always have one active interface and we need to clean in.

Proposed solution is to:
- click a cleanup button that sets a redis flag and triggers an nEdge restart (using the feature already implemented)
- check the flag during startup and do all the necessary cleaning

[2018-09-19 13:51] simonemainardi commented on #2040
Currently, we already keep traffic and category stats for MACs. Those stats are shown in the historical page of mac addresses and can be enabled from the preferences:

![image](https://user-images.githubusercontent.com/3397663/45757270-3bec0180-bc23-11e8-848f-99c61ce601ee.png)

What are the extra stats you want to keep? Are you referring to the stats shown in the host home page?

[2018-09-19 14:08] simonemainardi commented on #2042
proposed implementation is as follows:

![image](https://user-images.githubusercontent.com/3397663/45758292-8e2e2200-bc25-11e8-9b16-fbceb220cbb5.png)

- delete persistent data associated to the active interface (IPs/MAC/Interface rrds, etc)
- Add an extra button "Delete <interface name> data" next to the "Delete Inactive Interfaces Data"
- Re-use the already implemented lua functions that clean in

[2018-09-19 14:11] simonemainardi commented on #2043
Current quota code is cumbersome. Before doing this, I would propose to try and inspect mechanisms provided by the kernel that allow to enforce traffic quotas and check if we can use them. Basically this is similar to what we've already done to enforce a maximum traffic speed on an host-by-host basis.

[2018-09-19 14:13] fxcoudert commented on #1934
I added `libmaxminddb` following your formula at https://github.com/ntop/ntopng/commit/ffcef88c8cbb6839d1bcbab8bd6a3f0581ac7fd0
Which did not work, because it's not a build-only dependency (as in https://github.com/ntop/ntopng/commit/ffcef88c8cbb6839d1bcbab8bd6a3f0581ac7fd0) but is linked in and need to be present at runtime.

[2018-09-19 14:15] fxcoudert commented on #1934
Next: it still fails on Mojave because:

[code]

which is due to: https://github.com/ntop/ntopng/blob/b963467559ba4ea6c34a7c2746928f93d38f5966/Makefile.in#L135
I have no idea why this was provided (normally the C++ compiler should find its own runtime libraries), but it is definitely not correct on Mojave, where `libstdc++.6` is not provided anymore.

[2018-09-19 14:19] simonemainardi commented on #2047
this feature currently exists for flows and hosts:

![image](https://user-images.githubusercontent.com/3397663/45759239-c6366480-bc27-11e8-8438-b621f5f33ec0.png)

![image](https://user-images.githubusercontent.com/3397663/45759099-70fa5300-bc27-11e8-9ac8-bf00d09852fe.png)

Task is to use the already-implemented mechanisms exposed in the gui as above to place new buttons on the flow/host list. For

[2018-09-19 16:08] Eugene-Prokhorenko opened #2050 "Any port flow sorting"
Do you plan to add flow filtering by any chosen port? Needed if services are running on non-standard port.

[2018-09-19 16:34] simonemainardi commented on #1983
- implement a page with category -> list of host names where the list of host names is a simple text field
- ability to add hostnames directly for the flow page into a category
  - need to see how to chose the relevant part of the name (e.g., web1.aa.com, web2.aaa.com, ecc)
- define which categories should be blocked in ntopng instead of having hard-coded pieces such as

[code]

[2018-09-19 16:56] cardigliano commented on #1934
@fxcoudert that is no longer needed, we removed it, please check release 3.6.1. Thank you.

[2018-09-19 20:48] simonemainardi commented on #1968
- new doc with examples is available in rst format https://github.com/ntop/ntopng/commit/4f8af96e906d544c1d6ca883410cbe20cbd0db42 and will be published at https://www.ntop.org/support/documentation/documentation/ in a few hours
- old, outdated doc removed from nprobe. A link pointing to the new doc has been added there.
- blog post ready to be published

[2018-09-19 20:48] #1968 closed, assigned to simonemainardi, cardigliano

[2018-09-20 05:20] engee974 opened #2051 "Troughput 0 bps and number of Flows anormally high after restart"
Hello,
i encounter a big issue since i decide to upgrade the ntpng version.
I think the issue dissapears but after a restart i still have the problem

- No throughput
- Flows are anormally high > 1,000,000 usally between 150,000 and 400,000

I reinstall ntopng from debian package and still the same issue.
I flush redis : flushall and flushdb
I purge temp file from /var/lib/ntopng

No solution.
Are

[2018-09-20 06:32] simonemainardi commented on #2050
feature is already implemented.

Click on the port hyperlink of the flow:

![image](https://user-images.githubusercontent.com/3397663/45799952-8c10a580-bcaf-11e8-848c-6a7f22cce737.png)

and you'll be redirected to the page you are looking for

![image](https://user-images.githubusercontent.com/3397663/45799968-a0ed3900-bcaf-11e8-9271-f053ae745cad.png)

[2018-09-20 06:32] #2050 closed, assigned to nobody

[2018-09-20 07:13] engee974 opened #2052 "Local Autonomous System"
Could add a way to indicate our own ASN as it's done for networks ?
Then add an option to hide/show the local AS in the Autonomous Systems view.
Not urgent

Thanks

[2018-09-20 09:59] Eugene-Prokhorenko opened #2053 "Any port flow sorting (reopened)"
My question was misunderstood. I want to be able to get all flows (implemented) and then - filter them to see only flows with any port (1234 for example) (not implemented).

[2018-09-20 10:34] simonemainardi commented on #2029
implemented in https://github.com/ntop/ntopng/commit/bf43aceb9c6aa9b2a0bce13ed98bb711f6722190 and the companion nEdge commit

![image](https://user-images.githubusercontent.com/3397663/45812855-495fc500-bcd1-11e8-852e-ff49a02d9518.png)

documentation added as well with commit https://github.com/ntop/ntopng/commit/71a262ecdfc57ebc3ee4e974def3e52632e7e5ad

[2018-09-20 10:34] #2029 closed, assigned to nobody

[2018-09-20 10:38] simonemainardi commented on #2053
Do you mean filtering flows by port (*implemented* as also shown in the original https://github.com/ntop/ntopng/issues/2050 of this duplicate) or something else?

[2018-09-20 11:25] Eugene-Prokhorenko commented on #2053
Real situation:
I run some flow exporters on port xyz.
I want to see all traffic on port xyz.
xyz is NOT assigned to some application in ntopng :(

[2018-09-20 11:43] simonemainardi commented on #2053
if you want to create custom protocols associated to the port, you can do as explained in https://www.ntop.org/ndpi/configuring-ndpi-for-custom-protocol-detection/

see option

[code]

[2018-09-20 11:43] #2053 closed, assigned to nobody

[2018-09-20 12:41] Eugene-Prokhorenko opened #2054 "VLAN fields"
What for are "VLAN" field? It's "0" everywhere, though my routers  (expoorters) has vlans.

[2018-09-20 13:18] Ravivenkatachalam commented on #2025
Simone,
Any update. Looks like a bug ?

[2018-09-20 14:49] emanuele-f commented on #2054
Hi, please specify what nprobe options you are using. Can you post a screenshot of the page showing the VLAN field?

[2018-09-20 15:45] Eugene-Prokhorenko commented on #2054
![ntopng](https://user-images.githubusercontent.com/33592455/45830203-b09b6a80-bd0d-11e8-96bf-22ba06620c3a.png)

somehow nprobe got options:
nprobe --collector-port 1234 --collector 127.0.0.1:2055 -V 9nprobe -i ens3 --zmq tcp://127.0.0.1:5556

[2018-09-20 18:23] emanuele-f commented on #2054
What's your SNMP device model?

[2018-09-20 19:57] Eugene-Prokhorenko commented on #2054
MikroTik CCR1036-12G-4S

[2018-09-20 19:58] Eugene-Prokhorenko commented on #2054
the same for other models

[2018-09-20 21:43] cardigliano commented on #2047
Implemented, please review it.

[2018-09-21 07:35] simonemainardi commented on #2025
I am out of office, @cardigliano can you please check? thank you

[2018-09-21 07:37] simonemainardi commented on #2038
closing for inactivity, please reopen with the requested information if necessary.

[2018-09-21 07:37] #2038 closed, assigned to nobody

[2018-09-21 07:54] emanuele-f commented on #2054
Please check out that you are using the latest ntopng version. Run `ntopng -v` to get its version. Please note that some MikroTik devices lack proper SNMP support, so maybe the device is not reporting the VLAN correctly. Please try to run the following command from cli to verify this:
[code]
It should return the VLAN id, e.g. `SNMPv2-SMI::mib-2.17.7.1.4.5.1.1.57 = Gauge32: 86`

[2018-09-21 08:03] emanuele-f commented on #1996
ok, please let us know if this solves the issue

[2018-09-21 08:06] emanuele-f commented on #2051
Follow up of #2004

[2018-09-21 08:21] emanuele-f commented on #2051
Please remove the `--sticky-hosts` from the command line. Moreover, try to lower the `Flow Idle Timeout` e.g. to 1 minute and double check in the flows view that any flow `Last Seen` "ago" value is not exceeding the `Flow Idle Timeout`

[2018-09-21 09:19] engee974 commented on #2051
Hi,
Nothing changes
The new startup line :
`ntopng --user "ntopng" --community --interface "bond1" --http-port "3000" --local-networks "1172.16.0.0/15,172.21.0.0/16,10.101.0.0/16" --dns-mode "2" --data-dir "/var/lib/ntopng" --disable-autologout --max-num-flows "5000000" --max-num-hosts "500000"`

The "Flow Idle Timeout" value has never changed and always been to default value : 1min

I reinstall a

[2018-09-21 09:33] lucaderi commented on #2049
I have forgot to say that you should (on interface preferences) to disable timeseries generation for ZMQ interface and let timeseries to be generated only for the view interface (so you have a single consistent view). I close this ticket, shall you need further support please re-open it. Thanks

[2018-09-21 09:33] #2049 closed, assigned to nobody

[2018-09-21 10:50] engee974 commented on #2051
An example of flow
![image](https://user-images.githubusercontent.com/5074983/45877015-84cfc180-bdad-11e8-891b-c3ec85557aaf.png)

[2018-09-21 12:36] Eugene-Prokhorenko commented on #2054
3.7.180915 - Enterprise Edition

[2018-09-21 12:44] Eugene-Prokhorenko commented on #2054
snmpwalk -c xyz 93.187.x.y -v2c 1.3.6.1.2.1.17.7.1.4.5.1.1.19 SNMPv2-SMI::mib-2.17.7.1.4.5.1.1.19 = No Such Object available on this agent at this OID

[2018-09-21 13:35] cardigliano commented on #2025
@Ravivenkatachalam we pushed a new revision with a fix related to this issue, please update and let us know if it works for you. Thank you.

[2018-09-21 19:01] #2054 closed, assigned to nobody

[2018-09-22 06:20] lucaderi commented on #2051
@engee974 I believe I miss something. For instance in your screenshot you seem to have no traffic at all but you have over 1M flows. Can you please attach a screenshot of http://<your ntopng host>:3000/lua/admin/prefs.lua?tab=in_memory

[2018-09-23 09:40] Ravivenkatachalam commented on #2025
Cardigliano

How do i update? which Link ?Do i need to update nprobe and ntopng ?

Ravi

[2018-09-23 09:40] Ravivenkatachalam commented on #2025
we use licensed version and installed it in Cent os

[2018-09-23 14:14] engee974 commented on #2051
This is the exact problem, i have traffic but not well processed
Here is the screenshot :
![image](https://user-images.githubusercontent.com/5074983/45928958-6b20ac80-bf5c-11e8-872e-046dd0a2e48d.png)

[2018-09-23 15:04] cardigliano commented on #2025
@Ravivenkatachalam if you are installing from our repository (http://packages.ntop.org) all you need to do is to run "apt-get update && apt-get upgrade" on Ubuntu or "yum update" on Centos

[2018-09-24 07:24] lucaderi commented on #2040
L7 protocols etc. are missing from MACs for instance. We need to see for MACs the same level of details we have for IPs

[2018-09-24 07:46] cardigliano commented on #1934
@fxcoudert please note that we updated our formula, it should fix the above:
https://github.com/ntop/ntopng/blob/dev/packages/homebrew/ntopng.rb
Please let us know if it works for you or something is missing. Thank you.

[2018-09-24 12:05] fxcoudert commented on #1934
@cardigliano could you consider contributing your futures changes (version updates and formula changes) directly to Homebrew core? This would be simpler for everyone involved I think, and means users would directly benefit from latest functionalities…

[2018-09-24 14:50] cardigliano commented on #1982
How should *presets* work logically? What is their priority with respect to the pool protocols configuration?
At the moment priority is not clear as presets are initialized in Ntop::initAllowedProtocolPresets
and evaluated in Flow::updateFlowShapers, however they are actually ignored as the shapers verdict
overwrites the preset policy

2 possible logics are proposed:

1. apply presets to devices i

[2018-09-24 16:38] Netw0rkGuy commented on #1978
In which time frame or build could this enhancement be implemented?
I do not get any reasonable feedback from Fortinet.

[2018-09-24 18:20] boisgada opened #2055 "Enhancement Request: More flexibility / documentation with variables in Grafana plugin"
The following enhancements would be useful in the variable definitions for the Grafana plugin:
- List of possible options in the variable query field
- Ability to use variables within the query field.  For example, the use of $interface to create a unique list of hosts for a given interface.  The ultimate goal would be to be able to have a dynamic dashboard where you could select datasource, inter

[2018-09-24 20:01] craigers521 opened #2056 "ntopng crashes shortly after starting on RHEL6, nprobe continues to run"
As stated in title, only stays up for a minute or two after starting service, nprobe continues to run without issue.  Only have a few routers sending netflow to collector for demo purposes before deciding to purchase license.  I have uploaded the core dump and binary.  Any help would be appreciated, this doesnt stay up long enough for me to evaluate whether i want to purchase or not.   Logs aren't

[2018-09-25 07:54] emanuele-f commented on #2056
Hi, you have uploaded a bash script, not the ntopng binary. What ntopng version are you using? Please run `ntopng --version` and post the output here.

[2018-09-25 08:29] lucaderi opened #2057 "Implement remote-remote alarms"
It is requested ntopng to implement an alert (to be enabled from preferences) when a host that is non local (according to the ntopng configuration) sends traffic towards non local addresses. This should not happen on a LAN (but for an ISP is normal) and thus it should trigger an alert. This alert is similar to the MAC address alert but it has to be triggered the first time such host appears on net

[2018-09-25 08:55] lucaderi opened #2058 "Invalid SNMP host search"
In the top right search field, if a MAC address is searched, the result returned is not correct. In fact if such MAC address is found on multiple ports
<img width="272" alt="screen shot 2018-09-25 at 10 50 29" src="https://user-images.githubusercontent.com/4493366/46003455-e09d9180-c0b0-11e8-82eb-7f16eff5f53b.png">
the only hit returned clicking on the name points to the trunk port and not to the

[2018-09-25 09:03] lucaderi opened #2059 "Invalid localisation"
Alert localisation is mixed
<img width="1142" alt="screen shot 2018-09-25 at 11 02 41" src="https://user-images.githubusercontent.com/4493366/46004212-9b7a5f00-c0b2-11e8-8a30-7022db27378e.png">

[2018-09-25 09:07] lucaderi opened #2060 "MAC/IP association alert are not working as they should"
As shown in screenshot of #2059, when an IP address changes the MAC association, the alerts are not reported properly. In fact I would expect to see IP/MAC hopping instead as shown in the screenshot alerts are only mono-directional (i.e. ntopng seems to remember the original MAC and does not update the association as it changes)

[2018-09-25 10:20] cardigliano commented on #1934
@fxcoudert I was sending a pull request and I realized you already did it, I will send updates directly in future. Thank you.

[2018-09-25 10:20] #1934 closed, assigned to cardigliano

[2018-09-25 13:40] emanuele-f opened #2061 "Minute Interface Top Traffic Statistics are inconsistent"
The statistics always show the *interface top talkers*. When browsing a network or host pool view, this is inconsistent since a user would expect to see only the top talkers for the given network or host pool. Moreover, with the recent timeseries changes which implement zoom and timeseries tables, it would be more appropriate to display the top talkers for the highlighted time range rather the per