[2021-08-25 11:19] #3296 closed, assigned to cardigliano

[2021-08-25 12:52] simonemainardi commented on #3217
Implemented with the following alerts:

- No activity on interface: detects loops or missing traffic that cause the interface to stop processing
- Idle Hash Table Entries Alert: detects issues causing flow, hosts and other network elements not to be purged
- Alerts Drops: detects alert drops due to recipients not being able to dequeue alerts fast enough
- Interface Packets Drops Alert: detects pac

[2021-08-25 12:52] #3217 closed, assigned to nobody

[2021-08-25 12:58] simonemainardi commented on #3656
Doc and tooltip are now updated. "Peers" now available also in community to inspect the top talkers of a give host. Example

![image](https://user-images.githubusercontent.com/3397663/130794706-3f8f8518-4802-4535-8f50-d00a839e19d0.png)

[2021-08-25 12:58] #3656 closed, assigned to nobody

[2021-08-25 12:59] simonemainardi commented on #3780
Count no longer exists in the latest ntopng 5.0+. Alerts have been reworked with a new database. Aggregation is performed directly on the database and at query time.

[2021-08-25 12:59] #3780 closed, assigned to nobody

[2021-08-25 13:01] #3900 closed, assigned to nobody

[2021-08-25 13:03] simonemainardi commented on #3923
After internal review, we have decided to accept the use of last update as described in https://github.com/ntop/ntopng/issues/3923#issuecomment-630729132 to avoid expensive IO operations.

[2021-08-25 13:03] #3923 closed, assigned to nobody

[2021-08-25 13:06] simonemainardi commented on #3413
merged with https://github.com/ntop/ntopng/issues/4265

[2021-08-25 13:06] #3413 closed, assigned to nobody

[2021-08-25 13:09] simonemainardi commented on #4343
After internal review, we have decided not to add extra command line arguments to ntopng. We are in the process of reducing the use of configuration files and CLI options, and only allow changes via REST. Eventually, we will have all the configuration pulled from a cloud or on-prem distributor, without the need to change /etc.

[2021-08-25 13:09] #4343 closed, assigned to nobody

[2021-08-25 13:12] simonemainardi commented on #4674
After internal review, we have decided this extension to be no longer necessary. We have seen that host and flow checks suffice to also handle MACs.

[2021-08-25 13:12] #4674 closed, assigned to simonemainardi

[2021-08-25 13:13] simonemainardi commented on #4699
No feedback received. Closing.

[2021-08-25 13:13] #4699 closed, assigned to nobody

[2021-08-25 13:14] simonemainardi commented on #4704
Fixed in the latest nEdge 5.0+.

[2021-08-25 13:14] #4704 closed, assigned to nobody

[2021-08-25 13:15] simonemainardi commented on #4850
Should be fixed in the latest nEdge 5.0+. Please, check, and possible reopen if necessary.

[2021-08-25 13:20] simonemainardi commented on #5048
Solved in ntopng 5.0+ where host checks are executed in C++.

[2021-08-25 13:20] #5048 closed, assigned to simonemainardi, MatteoBiscosi

[2021-08-25 13:23] simonemainardi commented on #5118
Closing for inactivity. No feedback received. Assuming fixed as of ntopng 5.0+. Reopen with the requested information if necessary.

[2021-08-25 13:23] #5118 closed, assigned to nobody

[2021-08-25 13:25] simonemainardi commented on #5161
After the latest rework, we have left entity only as an internal term that is also used by home assistant https://developers.home-assistant.io/docs/core/entity/

[2021-08-25 13:25] #5161 closed, assigned to simonemainardi

[2021-08-25 13:26] simonemainardi commented on #5219
Fixed after an interaction with @olmanolsztyn which I would like to thank for the help in troubleshooting this.

[2021-08-25 13:26] #5219 closed, assigned to simonemainardi

[2021-08-25 13:28] simonemainardi commented on #5510
@cardigliano is this already doable using nBox?

[2021-08-25 13:30] #5512 closed, assigned to cardigliano

[2021-08-25 13:34] simonemainardi commented on #5604
Likely, we can handle this using risk exclusions as discussed in https://github.com/ntop/ntopng/issues/5799#issuecomment-905358715

[2021-08-25 13:35] simonemainardi commented on #5609
Same as https://github.com/ntop/ntopng/issues/4002. Merged.

[2021-08-25 13:35] #5609 closed, assigned to MatteoBiscosi

[2021-08-25 13:36] simonemainardi commented on #5659
bullseye packages now available, both stable and dev.

[2021-08-25 13:36] #5659 closed, assigned to nobody

[2021-08-25 13:38] #5710 closed, assigned to nobody

[2021-08-25 13:38] MatteoBiscosi commented on #5145
Currently the dashboard is not going to be reworked in this way. The dashboard rework is going to be discussed into #5141

[2021-08-25 13:38] #5145 closed, assigned to lucaderi, MatteoBiscosi, VasilisTako

[2021-08-25 13:38] simonemainardi commented on #5703
@TimotheusBachinger do you have any feedback on this.

[2021-08-25 13:38] MatteoBiscosi commented on #5144
Currently the dashboard is not going to be reworked in this way. The dashboard rework is going to be discussed into #5141

[2021-08-25 13:38] #5144 closed, assigned to lucaderi, MatteoBiscosi, VasilisTako

[2021-08-25 13:38] MatteoBiscosi commented on #5143
Currently the dashboard is not going to be reworked in this way. The dashboard rework is going to be discussed into #5141

[2021-08-25 13:38] #5143 closed, assigned to lucaderi, MatteoBiscosi, VasilisTako

[2021-08-25 13:39] MatteoBiscosi commented on #5142
Currently the dashboard is not going to be reworked in this way. The dashboard rework is going to be discussed into #5141

[2021-08-25 13:39] #5142 closed, assigned to lucaderi, MatteoBiscosi, VasilisTako

[2021-08-25 13:40] MatteoBiscosi commented on #5141
At the moment no new dashboard is going to be released and the ticket is going to be put on standby. In the near future the discussion about the new dashboard is going to be reviewed here.

[2021-08-25 13:41] simonemainardi commented on #5775
Feedback given. Reopen if necessary after having attempted the suggested solution.

[2021-08-25 13:41] #5775 closed, assigned to simonemainardi

[2021-08-25 13:41] TimotheusBachinger commented on #5703
@simonemainardi  unfortunately, i couldn't look into this the last weeks... I will be on holiday for the next 3 weeks, so we could also close it for now.

[2021-08-25 13:42] simonemainardi commented on #5703
We can leave it open until we decide. Will wait until you're back. Thanks!

[2021-08-25 13:50] #5665 closed, assigned to MatteoBiscosi

[2021-08-25 13:54] MatteoBiscosi commented on #4542
Implemented as requested, using Service/Periodicity map filters.

[2021-08-25 13:54] #4542 closed, assigned to lucaderi, MatteoBiscosi

[2021-08-25 14:51] MatteoBiscosi commented on #5793
Verified as fixed

[2021-08-25 14:51] #5793 closed, assigned to MatteoBiscosi, VasilisTako

[2021-08-25 14:56] MatteoBiscosi commented on #5781
Verified as fixed, pro repo too.

[2021-08-25 14:56] #5781 closed, assigned to VasilisTako

[2021-08-25 19:15] lucaderi opened #5802 "Enhance GeoMap Tooltip"
I would find it very useful if you add some information to the IP address and VLAN information you show as a tooltip when placing the mouse cursor over a host in the Geo Map view. This might also apply to the small window that appears when clicking on the host in the Geo Map.

In my particular case, I'd love to see the ASN name (not the number) along with the IP address. That would easily allow me

[2021-08-25 19:50] jppo opened #5803 "Can't compile the latest 4.2"
Hello,
I am trying to compile the last V4.2 version and I get an error when trying.
My system is Debian 11 Bullseye.
Ndpi is compiling OK, when it is the turn for Ntopng it does not work with some messages :
-------------------------------------------------------------------------------------------------------------------------------------------------
cd /usr/src/PGM/BUILD/ntopng-4.2/ntopng/third-

[2021-08-25 20:55] martinscheu commented on #5799
@MatteoBiscosi a bit difficult for a pcap, alerts without the domain do not come regularly. But I observed that within one day all alerts without domain info had the Unidirectional UDP traffic issue, as you can see in the screenshot above. Maybe the alert is generated to early?

[2021-08-25 21:03] martinscheu opened #5804 "Alerts page - fixed column width"
Dear ntop team
Would it be possible to have fixed column width in the Alerts page?
As when I have long DGA domains, like
Suspicious DGA Domain [d23iz4esrwkib6.cloudfront.net:80/lu/depot/cdbu/logioptions/update_check/full/8.54/files.latest/logioptions_logitech.exe.manifest.sig?/logitech/controldevices/logioptions/8.34/logioptions/8.34.82/w10/64/logioptions.exe.manifest.sig%3fdlu.uv=7.00.99999&dlu.h

[2021-08-25 21:19] martinscheu opened #5805 "Suspicious File Transfer - not showing file name"
Hello ntop team
With the suspicious file transfer alert I have alerts without showing further context:
<img width="2689" alt="Screenshot 2021-08-25 at 23 16 18" src="https://user-images.githubusercontent.com/38549755/130866002-ff3303b4-b2e5-49d7-a5ec-1fa97077c7c0.png">

Would it be possible to add some information?
Thanks, Martin

[2021-08-26 05:30] martinscheu opened #5806 "Alert description - link button"
Hello ntop team
When descriptions have a link, some they have a blue link button:
<img width="982" alt="Screenshot 2021-08-25 at 23 31 43" src="https://user-images.githubusercontent.com/38549755/130867463-8a60efd0-f8ee-4b97-a383-7c0fc61ef2a1.png">
This is very helpful, but with long links, the button only appears when zooming down the page.
Could you move the link button to the start of the url?
A

[2021-08-26 06:57] MaoPann opened #5807 "SNMP monitoring"
Can I monitor the same router through SNMP on two ntopng servers at the same time

[2021-08-26 07:00] cardigliano commented on #5807
Yes

[2021-08-26 07:00] #5807 closed, assigned to nobody

[2021-08-26 07:13] cardigliano commented on #5803
It seems the zeromq library is not installed, and ntopng is trying to compile the local one in third-party, leading to a failure. If this is the case, we need to check if the local libraries are compatible with Debian 11 (this is a work in progress), in the meantime please check that the below command is printing "Yes", otherwise please install all the requirements under doc/README.compilation (as

[2021-08-26 08:36] cardigliano commented on #5803
@jppo forgot to mention that you should use latest 5.0 stable (or 5.1 dev)

[2021-08-26 08:53] MatteoBiscosi commented on #5806
Hi @martinscheu, as requested the link button is now before the url and I added the redirect to the alerts with an external url/link.

[2021-08-26 08:53] #5806 closed, assigned to nobody

[2021-08-26 09:05] lucaderi commented on #5803
See also https://github.com/ntop/ntopng/commit/8130d5a042dbf8312596f94db4511a4869b3ea09

[2021-08-26 09:06] 612wong commented on #5800
Last night. I cleaned up the stable version and moved back to dev version.
My colleague found the same situation that n2disk1g reported trial license okay but n2disk not.
Then he had a look at the system service and figured out n2disk-ntopng@et1 was referring to default directory for the configuration. He helped changed the service setting and map it to my custom directory. Now I can see it's reco

[2021-08-26 09:25] MatteoBiscosi commented on #5805
Hi @martinscheu this issue is pretty strange, could you please capture a pcap and drop it to my mail? Because it shouldn't be possible to detect a suspicious file transfer without HTTP protocol

[2021-08-26 09:33] cardigliano commented on #5800
What do you mean with "n2disk-ntopng@et1 was referring to default directory for the configuration"?
What did you change exactly?
Anyway, I sent you an email to setup a call or ssh as that's probably easier for debugging this issue.

[2021-08-26 09:58] MatteoBiscosi commented on #5505
Hi @fanciulli, as requested a new preference can be found into 'Settings->Preferences->User Interface'. If enabled you are going to see just the names of the interfaces (screenshot below). Otherwise you are going to have the interface dropdown names like before ( "Name (tcp://...)" ).
![Screenshot from 2021-08-26 11-56-24](https://user-images.githubusercontent.com/49585191/130942921-7afd3820-742a-

[2021-08-26 09:58] #5505 closed, assigned to MatteoBiscosi

[2021-08-26 10:20] MatteoBiscosi commented on #5804
Hi @martinscheu, like the suspicious file transfer alert, now the dga domain alert has a maximum length to the domain, in this way the string is not going overboard; if the string is too long then a question mark is going to show up and you just need to move the mouse above it to show the entire domain. If you need to copy-paste it, click on the external link and you can copy the entire url from t

[2021-08-26 10:20] #5804 closed, assigned to nobody

[2021-08-26 10:42] MatteoBiscosi commented on #5141
The discussion regarding the new dashboard is going to be done in ticket #1670

[2021-08-26 10:42] #5141 closed, assigned to lucaderi, MatteoBiscosi, VasilisTako

[2021-08-26 14:29] 612wong commented on #5800
Thanks and it is late night in Sydney. I will reply you and see if we can have a call / ssh sometimes next week.

[2021-08-26 16:42] lucaderi commented on #5803
We have fixed the compilation of the latest dev. Please use that one on debian 11.

[2021-08-26 16:42] #5803 closed, assigned to nobody

[2021-08-26 16:44] lucaderi opened #5808 "SNMP Multiple Community support for v1/v2c"
For SNMP v1/v2c add the ability to specify multiple communities (one per line) when adding a new host. This allows SNMP devices to be probed against multiple communities.

[2021-08-26 16:49] lucaderi opened #5809 "Active Monitoring: Ping all SNMP devices"
Implement the ability to add in the active monitoring page (or nearby) a shortcut for adding all the configured SNMP devices instead of adding them one-by-one. This is required when companies want to monitor SNMP devices availability.

![Screen Shot 2021-08-26 at 18 47 22](https://user-images.githubusercontent.com/4493366/131003330-87b1b7f3-ec9f-49a5-b8d6-53a8bd0ba6c9.png)

[2021-08-26 16:55] jppo commented on #5803
OK, Will try tonight ...
Thanks

JP P

De: "Yvan GODARD" ***@***.***>
À: "ntop/ntopng" ***@***.***>
Cc: "jppo" ***@***.***>, "Mention" ***@***.***>
Envoyé: Jeudi 26 Août 2021 18:43:09
Objet: Re: [ntop/ntopng] Can't compile the latest 4.2 (#5803)

Closed [ https://github.com/ntop/ntopng/issues/5803 | #5803 ] .

—
You are receiving this because you were mentioned.
Reply to this email directly, [ htt

[2021-08-26 19:35] martinscheu commented on #5805
@MatteoBiscosi please check your email, thanks

[2021-08-26 20:38] lucaderi opened #5810 "Active Monitoring: Add the ability to ping thousand devices"
It is required to be able to pin 4000 devices/minute using the active monitoring facility

[2021-08-27 03:21] MaoPann opened #5811 "Service map"
Where can I see the service map
![image](https://user-images.githubusercontent.com/44804599/131066747-2e43101b-871a-433d-9ee5-c30e5cf18f31.png)

[2021-08-27 04:29] 612wong commented on #5800
In fact, he found n2disk reported invalid license whilst n2disk1g reported trial license properly. Then he did ‘link’ the n2disk to n2disk1g.
Furthermore, he found the following services were running but failed.
***@***.***
***@***.***

He told me the service was referring to a directory where the configuration didn’t exist and ‘fixed’ it.

When I was back to the traffic recording setting. I could

[2021-08-27 07:02] cardigliano commented on #5800
Please note that it is normal that "n2disk reported invalid license whilst n2disk1g reported trial license properly" as the license included in the bundle is for n2disk1g. The service automatically detect which binary should be used based on the license.

[2021-08-27 08:41] martinscheu commented on #5811
please check https://github.com/ntop/ntopng/issues/5795

[2021-08-27 09:14] MaoPann commented on #5811
What is the difference between  Periodicity map and service map? I only see the  Periodicity Map
![image](https://user-images.githubusercontent.com/44804599/131103578-a364220b-b44a-48b8-8c40-0e2d0027135e.png)

[2021-08-27 09:19] #5811 closed, assigned to nobody

[2021-08-27 11:02] MatteoBiscosi commented on #5811
Hi @MaoPann if you need other info, you can find them here, https://www.ntop.org/guides/ntopng/advanced_features/behavior_analysis.html

[2021-08-27 14:48] MatteoBiscosi commented on #5802
Implemented as requested. The Geo Map customization is available only for users with at least Pro License and it is possible to enable/disable main host data by the preferences.
![Screenshot from 2021-08-27 16-45-02](https://user-images.githubusercontent.com/49585191/131145683-406b8cf8-a879-411e-8e24-262ca7844f0f.png)
![Screenshot from 2021-08-27 16-47-47](https://user-images.githubusercontent.com

[2021-08-27 17:39] lucaderi commented on #5802
@MatteoBiscosi The preference was not really necessary but it is nice to have. Please set the default to set (currently is not set) and close this ticket. Good work.

[2021-08-27 17:40] lucaderi commented on #5619
@martinscheu Implemented as requested

[2021-08-27 17:40] #5619 closed, assigned to VasilisTako

[2021-08-27 17:41] lucaderi commented on #5619
![Screen Shot 2021-08-27 at 19 40 59](https://user-images.githubusercontent.com/4493366/131167680-246545e2-5954-40f3-99bb-c8aac7ac0d6a.png)

[2021-08-27 20:35] tomukasteris opened #5812 "Change colour for enabled action control"
Hello,

Could you please change colour for enabled and disabled action controls.

At this moment when action is enabled button is in red colour and slide button is on left, but in reality should be reversed.

If enabled, action button should be green and slide on right.

![image](https://user-images.githubusercontent.com/11430578/131185569-67c1585a-6672-4464-8350-fcc374380379.png)

[2021-08-27 21:54] tomukasteris opened #5813 "Add extra space in throughput"
Could you please add extra space as throughput doesn't fit and jumps up.

![image](https://user-images.githubusercontent.com/11430578/131192481-7b7606b0-b3aa-4220-814a-3299ad496792.png)

[2021-08-28 04:35] nobless opened #5814 "[FreeBSD package PFSense] packagesite.pkg: Not Found"
Hello, when installed in PFsense, and running pkg update it gets result:

Updating ntop repository catalogue...
pkg: https://packages.ntop.org/FreeBSD/FreeBSD:12:amd64/latest/packagesite.pkg: Not Found
ntop repository is up to date.

Why it is looking for pkg extension, seems there only txz extension package.

Installation procedure is as described in your manual:

[2.6.0-DEVELOPMENT][admin@fw.eu]

[2021-08-28 04:39] nobless commented on #5814
Still seeing upgradable packages:
        n2disk: 3.7.210821 -> 3.7.210827 [ntop]
        nprobe: 9.7.210821 -> 9.7.210827 [ntop]
        ntopng: 5.1.210821 -> 5.1.210827 [ntop]

[2021-08-28 09:03] #5802 closed, assigned to MatteoBiscosi, VasilisTako

[2021-08-28 11:18] olmanolsztyn commented on #5772
Another crash with disable top visited sites
Below log before crash:
28/Aug/2021 10:32:01 [LuaEngine.cpp:560] WARNING: Script failure [/usr/local/share/ntopng/scripts/callbacks/system/second.lua][attempt to index a function value]

[2021-08-28 17:44] GrumpyOldNetworkGuy opened #5815 "Defining IPv6 networks with option -m in ntopng.conf is effectless after upgrade to ntopng-5.0-stable"
[code]

[2021-08-29 14:32] nobless commented on #5814
Also it breaks system upgrades with such errors:

Updating ntop repository catalogue...
Certificate verification failed for /CN=packages.ntop.org
34369335296:error:1416F086:SSL routines:tls_process_server_certificate:certificate verify failed:/var/jenkins/workspace/pfSense-build-release-tarballs/BUILD_NODE/pkg-amd64-ce/OS_MAJOR_VERSION/freebsd12/PLATFORM/aws/crypto/openssl/ssl/statem/statem_clnt.c

[2021-08-29 20:22] phantomski77 commented on #5718
**Update:**
I've tested version `5.1.210829` from https://packages.ntop.org/RaspberryPI/buster_pi/armhf/ntopng/ntopng_5.1.210829-15416_armhf.deb and so far so good - `armv7l` runs well on `aarch64` with the following:
**HW**: Raspberry Pi 4 Model B Rev 1.4 (8GB)
**CPU**: Broadcom [BCM2711](https://datasheets.raspberrypi.org/bcm2711/bcm2711-peripherals.pdf) (ARM Cortex-A72 - arm64v8A)
**Kernel**: L

[2021-08-30 06:24] 612wong commented on #5800
Thanks and I confirmed the pcap data is stored into the expected file system. However the extraction doesn't work for me. When I browsed the Interface traffic and clicked the button to download the pcap but it gave me nothing.

<img width="1920" alt="Screen Shot 2021-08-30 at 16 21 01" src="https://user-images.githubusercontent.com/58540705/131294366-71575aaf-704f-49c1-afac-6e3b1ccb1df5.png">

[2021-08-30 06:35] 612wong opened #5816 "Question about support of MAC address based traffic direction over disaggregated interface"
My peer's setup is using tap aggregation switches for multiple WAN links. In this case, can I still use "MAC address based traffic direction" feature to separate the RX and TX rate? Is this feature only available in 5.0 release? Thanks.

[2021-08-30 07:11] cardigliano commented on #5816
@612wong are you processing traffic with ntopng directly, or using nProbe?

[2021-08-30 08:02] cardigliano commented on #5800
@612wong I just sent you an email to schedule a call and debug this

[2021-08-30 08:37] MatteoBiscosi commented on #5813
Hi @tomukasteris , thanks a lot for your suggestion, I missed this unexpected behavior, resolved with this last commit. Builds are in progress, wait for a few hours, upgrade and the issue should be gone.

[2021-08-30 08:37] #5813 closed, assigned to MatteoBiscosi

[2021-08-30 09:05] MaoPann opened #5817 "Local HTTP Servers No data"
We use sFlow  、neftlow
![image](https://user-images.githubusercontent.com/44804599/131315084-17d7bc9e-b3ae-4ddb-ad75-76f68fe0eaf8.png)

[2021-08-30 10:18] lucaderi opened #5818 "Invalid license button color"
Under settings -> license the button color for generating the license is not correct
![Screen Shot 2021-08-30 at 12 16 35](https://user-images.githubusercontent.com/4493366/131324534-5b5d7de0-edb1-4592-9ca7-8da8c2c8c0a9.png)

[2021-08-30 11:04] MatteoBiscosi commented on #5817
Hi @MaoPann, now the issue should be solved, please wait for a few hours, update and let me know. Note that only local http servers are shown here (https://www.ntop.org/guides/ntopng/web_gui/hosts.html#http-servers-local).
![Screenshot from 2021-08-30 13-01-35](https://user-images.githubusercontent.com/49585191/131329867-c4edd5c2-1ac7-4ed5-b0c6-9e1dde188b99.png)

[2021-08-30 13:04] VasilisTako commented on #5812
Hi @tomukasteris, thank you for your advice. I've changed the colour and the direction of the slider in the button. Furthermore I added a hover tooltip in order to show a short description for each of them.

[2021-08-30 13:04] #5812 closed, assigned to VasilisTako

[2021-08-30 16:14] cardigliano commented on #5815
@GrumpyOldNetworkGuy it seems this is working for me, could you provide a small pcap to reproduce this? Thank you.

[2021-08-30 22:34] jppo commented on #5803
Hello,

I get this latest dev compiled, the only problen was with the linker as it looks
for libndpi in /use/local/lib and the lib was installed in /usr/lib.
As "ln" is my friend and all was OK after a very short time.
That new version is very nice the GUI is very interesting, I think there are
many,many things to look at here.
Sending data to Influxdb is a good thing, I have Grafana installed and

[2021-08-31 00:40] 612wong commented on #5816
@cardigliano In my peer's setup, he is using ntopng directly.

[2021-08-31 08:26] MatteoBiscosi commented on #5817
Please reopen the issue if a problem arise

[2021-08-31 08:26] #5817 closed, assigned to MatteoBiscosi

[2021-08-31 09:09] MatteoBiscosi commented on #4916
@VasilisTako please check the edit button disabled when editing and after been fixed please close the ticket

[2021-08-31 09:11] MatteoBiscosi commented on #5716
Implemented as requested

[2021-08-31 09:11] #5716 closed, assigned to nobody

[2021-08-31 09:23] astalush commented on #5763
It happens with multiples devices, n1524, n1548, even n3048p. Like in the photo below all the infos are ok except the "Other" info. Where does it look in the MIB for this "Other" info? What OID? Can you look on your N1524 devices on the 1day grafic? And not the 30minutes grafic?

![image](https://user-images.githubusercontent.com/8401863/131476737-b83ed8cd-f1b6-4f1a-8833-95d9b5ef7b36.png)

[2021-08-31 09:28] MatteoBiscosi commented on #4399
Implemented as requested. To choose the date format you have to go 'Settings->Preferences->User Interface' and change the Date Format preference.

[2021-08-31 09:28] #4399 closed, assigned to MatteoBiscosi, VasilisTako

[2021-08-31 09:29] MaoPann opened #5819 "throughput threshold alert"
I want to trigger an alert when an IP throughput exceeds the threshold, but I can't find an option to set in the latest version of check.

[2021-08-31 09:41] GrumpyOldNetworkGuy commented on #5815
Hello Alfredo,

When starting ntopng with the parameter '-m="141.35.0.0/16,10.0.0.0/8,2001:638:1558::/48,2001:638:909::/48,fd01:638:1558::/48"' in ntopng.conf this is logged correctly:

"Aug 28 17:49:16 schnuffel ntopng[26408]: 28/Aug/2021 17:49:16 [Ntop.cpp:2493] Setting local networks to 141.35.0.0/16,10.0.0.0/8,2001:638:1558::/48,2001:638:909::/48,fd01:638:1558::/48"

Please correct me if I'm w

[2021-08-31 10:08] MatteoBiscosi commented on #5819
Hi @MaoPann, unfortunatly most of the threshold alerts have been removed. You can still find the one available by checking the Host Checks and Interface/Local Network Checks.

[2021-08-31 10:23] MaoPann opened #5820 "Grey Alerted Flows"
![image](https://user-images.githubusercontent.com/44804599/131486344-d22c0035-01f3-4359-8007-e7213484ec85.png)

[2021-08-31 10:48] MatteoBiscosi commented on #5820
Hi @MaoPann , 'Alerted Flows' is just a title (separator). However to make it more understandable i moved it to the left, like the other titles.
![Screenshot from 2021-08-31 12-48-27](https://user-images.githubusercontent.com/49585191/131489641-0e9e82d6-d035-40be-86bc-26f123810f6b.png)

[2021-08-31 10:48] #5820 closed, assigned to nobody

[2021-08-31 10:49] #5819 closed, assigned to nobody

[2021-08-31 13:14] dkrey opened #5821 "Observation IDs in nProbe causing ntopng not to display any flows"
Hi there,
I'm currently experimenting with nProbe(pro, licensed) and observation IDs.

I wonder if this is a bug in ntopng. When I use an observation ID in nProbe, no flows are shown in ntopng. But as soon as I comment out "-E=0:11" in nprobe, the flows are displayed correctly.

![image](https://user-images.githubusercontent.com/11175831/131507937-ba59952d-204f-4b99-be13-71eafaf5b707.png)

Ntopng

[2021-08-31 14:16] lucaderi commented on #5821
If you remove -E on nProbe, do flows show up on ntopng?

[2021-08-31 14:58] StewAlexander-com opened #5822 "No response from request for assistance with getting the enterprise version"
Email sent to Maria Allegro has gone unanswered ....

@simonemainardi

Please let us know if there is something we can do on our end, thank you

Stewart Alexander
Network Admin @ Alamance Community College

[2021-08-31 15:07] cardigliano commented on #5822
@StewAlexander-com please add me (cardigliano at ntop.org) in copy to the request you sent to Maria. Please note Simone is out of office for holidays.

[2021-08-31 15:07] #5822 closed, assigned to nobody

[2021-08-31 15:11] dkrey commented on #5821
Exactly. That's how it's currently running.

[2021-08-31 15:23] StewAlexander-com commented on #5822
@cardigliano email sent with you on copy, thank you

[2021-08-31 15:39] ghost opened #5823 "ZMQ Collector Interface Compression Errors"
We are seeing near-constant ZMQCollectorInterface.cpp:398 Error: Uncompressed errors in ntopng.log.  Attached is the ntopng status, log excerpt and server performance stats.

Version:        4.3.210818 [Enterprise/Professional build]
GIT rev:        dev:3d8def4136832d1f98c40d25e0764986d2da30ed:20210818
Pro rev:        r4187
Built on:       CentOS Linux release 7.9.2009 (Core)
System Id:      L8965

[2021-08-31 16:54] lucaderi commented on #5823
https://github.com/ntop/ntopng/commit/cd720076783fbdeafb8072578be2fb026557f342 should fix this issue

[2021-08-31 16:55] MatteoBiscosi commented on #5821
Hi @dkrey , a fix is up now, wait for the builds to be ready, update and the issue should be gone.

[2021-08-31 17:10] #5823 closed, assigned to nobody

[2021-08-31 23:38] ghost opened #5824 "Host packet page is blank"
The host packet page is blank.  Every other host page contains data.

Version: 4.3.210818 [Enterprise/Professional build]
GIT rev: dev:3d8def4136832d1f98c40d25e0764986d2da30ed:20210818
Pro rev: r4187
Built on: CentOS Linux release 7.9.2009 (Core)
System Id: L896504CBB207AB27--U896504CBA6817F83--OL
Platform: x86_64
Edition: Enterprise L

[2021-08-31 23:46] ghost commented on #5824
![ntopng-host(packet)](https://user-images.githubusercontent.com/46939729/131589815-d2ee1300-b014-48f6-b06d-01fbf95209a0.jpg)

[2021-09-01 00:28] ghost opened #5825 "Missing/Unformatted Data on Flows page"
The flow data on one of our ntopng instances contains lots of additional information (i.e., DST_TO_SRC_SECOND_BYTES, etc.) which appears to be displayed in raw format.  It is also missing data (i.e., actual/peak throughput w graphs, etc.).
Attached are examples from both instances for reference.

![ntopng(flow-data displayed incorrectly)](https://user-images.githubusercontent.com/46939729/13159172

[2021-09-01 01:02] ghost opened #5826 "Sawtooth Traffic Pattern in 1hr view"
We have observed a distinct sawtooth traffic pattern in the 1hr view.   It seems unlikely this is actually representative of what's happening in the network, so we are trying to understand what could be causing the the issue.  Unchecking everything except "view:all" smooths the pattern, however, we need to understand the root cause of the spikes.

Version: 4.3.210818 [Enterprise/Professional build

[2021-09-01 01:07] ghost commented on #5710
Could you confirm where the custom favicon needs to be placed such that it's not overwritten during an upgrade?

[2021-09-01 03:15] ghost opened #5827 "Refreshing pcaps specified in config"
Is it possible to force ntopng to re-read a pcap that's specified in the config, without having to restart.  The thought is that it would be less disruptive to change the file name to match what's in config, if we had a mechanism to re-read the file.

[2021-09-01 06:37] dkrey commented on #5821
I've just updated to v.5.0.210831 rev.15433. But once I added "-E=0:11" back in (nprobe.conf), the flow view in ntopng went back to "no results found" (ntopng).
The collected flow counter in the ZMQ statistics is still moving upwards.

[2021-09-01 07:04] cardigliano commented on #5710
The path should be /etc/ntopng/custom_favicon.ico (https://www.ntop.org/guides/ntopng/advanced_features/oem.html)

[2021-09-01 07:07] cardigliano commented on #5827
This is not supported at the moment, ntopng should be restarted. I am wondering what is the exact use case for this (why a simple restart doesn't work?)

[2021-09-01 07:24] cardigliano commented on #5824
@jhhaskins are you able to move to 5.1 and check if you still experience the same? Thank you.

[2021-09-01 08:45] cardigliano commented on #5821
@dkrey please check v.5.0.210901 which is now available and let us know. Thank you.

[2021-09-01 09:31] dkrey commented on #5821
Yeah, I can confirm that it is fixed with this version: v.5.0.210901 rev.15435

Thanks!

[2021-09-01 09:31] #5821 closed, assigned to MatteoBiscosi

[2021-09-01 09:39] cardigliano commented on #5821
Great, thank you!

[2021-09-01 10:44] LAKEQIQI opened #5828 "ntopng Enterprise M v.5.0.210831 with interface view:all will keep restarting service"
after upgrade to ntopng Enterprise M v.5.0.210831 today, the ntopng service will keep restarting with no error log.

after comment my .conf file with the line. 'view:all', it can start normally.

-i tcp://127.0.0.1:5555
#-i tcp://127.0.0.1:5556
#-i tcp://127.0.0.1:5557
#-i tcp://127.0.0.1:5558
#-i view:all

if it no longer supports this ?

[2021-09-01 10:47] cardigliano commented on #5815
@GrumpyOldNetworkGuy I was asking for a pcap with the original traffic (raw packets) to reproduce this actually, as I cannot use encoded zmq traffic. Anyway, we are trying to reproduce this in other ways in the meantime.
Could you provide the full ntopng trace when you start the application please? (the one including the logs you already provided). Thank you.

[2021-09-01 10:54] #5828 closed, assigned to nobody

[2021-09-01 10:54] cardigliano commented on #5828
Fixed, an update will be available later today

[2021-09-01 11:11] lucaderi commented on #5826
Can you please
- share the configuration file
- post a similar image for the physical interfaces that are grouped in the view?
- you seem to record traffic in this box: please show the I/O stats and make sure that there is no I/O wait.

[2021-09-01 11:12] lucaderi commented on #5825
Please share the ntopng config file of ntopng and eventually also of nProbe in case you are collecting flows

[2021-09-01 11:38] 612wong commented on #5816
I forgot I would be able to simulate this at my site where I'm running the latest version. This could be closed by now. Thanks.

[2021-09-01 11:38] #5816 closed, assigned to nobody

[2021-09-01 11:39] 612wong commented on #5800
Sorry but I need to close this one now and will find alternatives to this feature.

[2021-09-01 11:39] #5800 closed, assigned to cardigliano

[2021-09-01 12:17] lucaderi commented on #5825
@jhhaskins Please move to the 5.x branch as we don't provide support of EOL versions.

[2021-09-01 12:18] lucaderi commented on #5826
@jhhaskins Please move to the 5.x branch as we don't provide support of EOL versions.

[2021-09-01 14:43] lucaderi commented on #5814
We followed the instructions at https://packages.ntop.org/FreeBSD/ and using the txz package worked for us. I am unable to reproduce the certificare error. CAn you please report how I can obtain that?

[2021-09-01 16:04] lucaderi opened #5829 "Top Senders as MAC addresses"
When using MAC addresses as local host identifiers
![Screen Shot 2021-09-01 at 18 02 21](https://user-images.githubusercontent.com/4493366/131704933-14c5bd45-ef59-4eda-8f3f-9596059b828c.png)

the top sender page contains only MAC (only one and this is odd)  and not IPs even if there is an IP bound to this MAC

![Screen Shot 2021-09-01 at 18 02 12](https://user-images.githubusercontent.com/4493366/

[2021-09-01 18:44] antonakv commented on #985
I have this issue again:

[code]
[code]

It happens on http://192.168.x.x:3001/lua/admin/prefs.lua?tab=gui
- Authorise in ntopng
- Open http://192.168.x.x:3001/lua/admin/prefs.lua?tab=gui
- Click on Dark button
- Click Save

http://192.168.x.x:3001/lua/http_status_code.lua?message=internal_error&referer=192.168.x.x%3A3001%2Flua%2Fadmin%2Fprefs.lua%3Ftab%3Dgui&error_message=%2Fusr%2Fshare%2Fntopng%

[2021-09-01 18:45] antonakv opened #5830 "/usr/share/ntopng/scripts/lua/modules/http_lint.lua:2150: [LINT] Validation error: Unknown key toggle_date_type [value: middle_endian]: missing validation perhaps?_"
I have this https://github.com/ntop/ntopng/issues/985 issue again:

[code]
[code]

It happens on http://192.168.x.x:3001/lua/admin/prefs.lua?tab=gui
- Authorise in ntopng
- Open http://192.168.x.x:3001/lua/admin/prefs.lua?tab=gui
- Click on Dark button
- Click Save

http://192.168.x.x:3001/lua/http_status_code.lua?message=internal_error&referer=192.168.x.x%3A3001%2Flua%2Fadmin%2Fprefs.lua%3Ftab%3D

[2021-09-01 21:17] GrumpyOldNetworkGuy commented on #5815
@cardigliano Unfortunately the nprobe-xwin interface is in zc mode (zc:ens2f0). The nprobe-lan interface receives netflow data from 30 Cisco IOS switches / routers and the nprobe-dc interface receives sFlow data from 12 Cisco NX-OS switches. Would the Netflow / sFlow data be useful to you? The start protocol of ntopng is attached.

[ntopng-start.log](https://github.com/ntop/ntopng/files/7094195/nt

[2021-09-02 06:41] GrumpyOldNetworkGuy commented on #5815
@cardigliano I attached zc:ens2f0 directly to ntopng:
[code]
All five networks are displayed correctly. Local IPv6 hosts are marked with [L], remote ones with [R]:

![zc-ens2f0-networks](https://user-images.githubusercontent.com/86432254/131790204-f7de4c61-24c9-4801-8002-86d489ca00e8.png)

Now I connect the Netflow nprobe@lan again:
[code]
The nprobe@lan interface only shows the two IPv4 networks:

[2021-09-02 07:02] cardigliano commented on #5815
@GrumpyOldNetworkGuy this was helpful, it seems the issue comes up when collecting from ZMQ. Thank you.

[2021-09-02 07:17] cardigliano commented on #5830
@antonakv it seems this has already been fixed, please update

[2021-09-02 07:18] cardigliano commented on #5830
Sorry, new packages will be available later today

[2021-09-02 07:48] AlekseiSaff opened #5831 "There was an error while sending timeseries data to "http://localhost:8086": An unknown error occurred. [503]"
This error occur after updating to ntopng-5.0.210901-14731.x86_64

[2021-09-02 08:04] cardigliano commented on #5831
@AlekseiSaff could you provide more details about the configuration and steps to reproduce this? What is the page reporting this error?

[2021-09-02 08:09] AlekseiSaff commented on #5831
Hi after I changed
http://localhost:8086 to http://hostname.domin:8086 it works.
http://localhost:8086 - doesn't work (worked all the time before in 4.x)
http://hostname:8086 - doesn't work
http://hostname.domin:8086 - works

[2021-09-02 08:53] Yoshihiro-jp opened #5832 "The "Top Senders" and "Top Receivers" are not appeared in the specific interface when I used "Dynamic Traffic Disaggregation"."
Hello,

I upgrade to  the ntopng Enterprise L v.5.0.210901 (Ubuntu 20.04.2 LTS).
Some interfaces show the "Top Senders" and "Top Receivers" but  small traffic interfaces are not.
Those interfaces are set by the "Dynamic Traffic Disaggregation".

I have collected the information what I think that the ntop team needs to investigate this problem.

[Attached file]
"ntopng screen" direcoty ・・・ I put sc

[2021-09-02 09:07] MatteoBiscosi commented on #5829
Should be fixed, pro repo

[2021-09-02 09:24] MatteoBiscosi commented on #5832
Hi @Yoshihiro-jp could you please try a longer time frame? for example 1d, to check if still those information are not present

[2021-09-02 09:28] MatteoBiscosi commented on #5831
Hi @AlekseiSaff could you provide more info? I'm not understanding what you are referring to. What did you change? How did you reproduce this behavior?

[2021-09-02 10:10] cardigliano commented on #5815
@GrumpyOldNetworkGuy I was able to identify the issue, I pushed a fix for this, a new update will be available soon (later today).

[2021-09-02 11:06] dkrey opened #5833 "Use nProbe -L local networks in ntopng"
Hi,
could it be that the local networks defined at an nprobe instance are not taken into account by ntopng?

I've got the following setup (simplified):

- Nprobe (Site A)
- Nprobe (Site B)
- Central Site (ntopng + nprobe)

Site A has two local  B networks defined with `-L="172.16.0.0/24"`
Site B has two other local class B networks `-L="172.18.0.0/24"`
The central site has the local network `-L="1

[2021-09-02 11:21] basicmonkey commented on #5797
With 'data retention' set to 5 days, I've just run the above query and I get:

2021-08-23 21:49:47

Looking at ntopng.log I see this at midnight, looks like ts_utils not allowing daily script to run, would make sense why table not getting pruned. Also get a repeated RRD error all day:

[code]

[2021-09-02 11:33] zimbawe998 opened #5834 "Feature Request: ASN Label than AS Number in Hysorical flows export"
is it possible to have the ASN label  exported when you export on file the Hystorical FLows?
It's not easy/readable to manage connections rows with AS number insted of the ASN Label.

[2021-09-02 12:41] Yoshihiro-jp commented on #5832
I see. tomorrow I would do it  in my company and then let's you know the result.

[2021-09-02 12:41] Yoshihiro-jp commented on #5832
I see. tomorrow I would do it in my company and then let's you know the result

[2021-09-02 12:44] GrumpyOldNetworkGuy commented on #5815
@cardigliano Much better. The IPv6 networks are now correctly recognized:
![LAN-networks](https://user-images.githubusercontent.com/86432254/131845095-03c6bf16-1b13-41b3-9010-54b3b6f24c13.png)

I'm not sure, but shouldn't the IPv6 link-local addresses be marked as local as well?

![Remote-IPv6-Hosts](https://user-images.githubusercontent.com/86432254/131845595-7dd6b2e0-2555-435b-81b1-2639741f581a.

[2021-09-02 13:12] cardigliano commented on #5815
Great. Thank you.

[2021-09-02 13:12] #5815 closed, assigned to cardigliano, MatteoBiscosi

[2021-09-02 14:19] ghost commented on #5827
There is a requirement not to restart any production applications outside of a maintenance window.

[2021-09-02 14:50] GrumpyOldNetworkGuy commented on #5815
@cardigliano I looked again in the lab installation. There IPv6 link-local addresses are marked as local [L]. Can you adjust that, please? Link-local addresses marked as remote are very confusing.
![LAB-Local-IPv6-Hosts](https://user-images.githubusercontent.com/86432254/131865631-f0d6b38b-969e-4b8d-be8a-8d1f55831416.png)

[2021-09-02 15:13] gianlucapiccolo opened #5835 "Accept symbols in username"
**Use case:**
We implemented an SSO system to login from a portal to ntopng. The user is created as it is on ntopng using the /lua/rest/v1/add/ntopng/user.lua REST API endpoint. A lot of our users have a username that contains dots  "." or other symbols, for example "user.name@company". Those users must access to ntopng by the SSO system as all the others.

**Request**
On ntopng, accept also usern

[2021-09-02 15:41] chris-ruddy commented on #5787
@cardigliano, I was out last week. Everything looks good now, thanks.

[2021-09-02 15:43] cardigliano commented on #5787
Great, thank you!

[2021-09-02 15:43] #5787 closed, assigned to cardigliano

[2021-09-02 15:49] AlekseiSaff commented on #5831
I changed the address of the influxDB in ntopng interface.
originally it was http://localhost:8086  and worked well in 4.x

now I changed it to HTTP://ntopng.my.domain:8086 and it works

[2021-09-02 16:25] MatteoBiscosi commented on #5835
Hi @gianlucapiccolo , as requested now some special characters are accepted (`_ , - , ! , ? , @`) and the max length of the username is 30 characters (no more 20) however i cannot give more freedom for security reasons. Wait for the new builds and update, the change should be available in some hours

[2021-09-02 16:25] #5835 closed, assigned to MatteoBiscosi

[2021-09-02 16:57] ghost commented on #5049
Thank you! This solution works for me
`need to change setting of Timeseries Host to any and back to previously used one and restart ntopng service.`

[2021-09-02 17:36] lucaderi commented on #5829
Still bugged
![Screen Shot 2021-09-02 at 19 36 18](https://user-images.githubusercontent.com/4493366/131890842-2f88fd06-2517-4cf3-bfeb-feb85a289936.png)

[2021-09-02 18:32] dragoangel commented on #5049
@sergeysj unfortunately there no perm fix, easier is to reload plugins, no restart needed

[2021-09-03 00:14] Yoshihiro-jp commented on #5832
Dear @MatteoBiscosi ,
I checked a longer time frame but the result was the same.
Could I do something for the ntop team to resolve this problem?

![1d c800 IF0](https://user-images.githubusercontent.com/58843707/131931620-6a29fa76-e558-41b9-a525-afa938ebcc2a.PNG)
![1M c800 IF0](https://user-images.githubusercontent.com/58843707/131931622-118fa33f-7d31-4b98-bbe2-bc9ab603bb9c.PNG)
![1w c800 IF0](htt

[2021-09-03 03:09] MaoPann opened #5836 "bug report"
Flow - > local host only
![image](https://user-images.githubusercontent.com/44804599/131945102-91c7b17b-eebf-4217-b82f-56c574f52eae.png)

[2021-09-03 07:27] cardigliano commented on #5836
@MaoPann I assume you verified you have local <-> local flows, please confirm. (this seems to be working for me)

[2021-09-03 07:40] MaoPann commented on #5836
I confirm i have local flows.

[2021-09-03 07:42] MaoPann commented on #5836
I can see many local host,Does this refer to the flow from local host to local host?

[2021-09-03 07:46] cardigliano commented on #5836
Correct, that's from a local host to a local host

[2021-09-03 07:59] MaoPann commented on #5836
OK, I think it's normal

[2021-09-03 08:01] cardigliano commented on #5836
Let's close this then. Thank you.

[2021-09-03 08:01] #5836 closed, assigned to nobody

[2021-09-03 08:06] cardigliano commented on #5827
@jhhaskins does this apply also when there is no live traffic involved? I am trying to figure out the use case, if the ntopng instance is analysing both live traffic (requiring a maintenance window) and a pcap, you can run 2 separate instances.

[2021-09-03 08:39] dkrey commented on #5833
Just a quick update - I still can't get it to work. I've now added _all_ internal networks to ntopng (via the -m option).
So now ntopng knows about all networks in detail as expected.
But also as expected all the networks are considered local from the point of view of central instance. I tried to fiddle with network pools but I also could not assign those to sites or interfaces.

So in a nutshell:

[2021-09-03 09:04] antonakv commented on #5830
Thanks.

Issue is fixed in :

[code]

[2021-09-03 09:04] #5830 closed, assigned to nobody

[2021-09-03 10:00] MaoPann opened #5837 "The function list given on the official website is not satisfied"
，I use the enterprise M version, but I don't have the function of service map，This function is introduced on the official website
![image](https://user-images.githubusercontent.com/44804599/131987726-40cada7c-1cd4-4a1d-b1e9-8ac67d0e8604.png)

[2021-09-03 10:11] cardigliano commented on #5831
It seems "http://localhost:8086" is still working for me with the latest ntopng, I guess there is some misconfiguration somewhere else

[2021-09-03 10:53] cardigliano commented on #5837
@MaoPann sorry, the documentation is reporting L, but the website was not in sync, we just fixed this. Sorry for the misunderstanding.

[2021-09-03 10:53] #5837 closed, assigned to nobody

[2021-09-03 15:19] MatteoBiscosi commented on #5834
Hi @zimbawe998, as requested AS Names are now added into nIndex, so when exporting you are going to have names too (e.g. `IPV4_SRC_ADDR|SRC_LABEL|IPV4_DST_ADDR|DST_LABEL|IP_SRC_PORT|IP_DST_PORT|PROTOCOL|L7_PROTO|L7_PROTO_MASTER|SCORE|PACKETS|TOTAL_BYTES|FIRST_SEEN|LAST_SEEN|SRC_ASN|SRC_ASNAME|DST_ASN|DST_ASNAME|L7_CATEGORY|STATUS|FLOW_RISK|SRC2DST_TCP_FLAGS|DST2SRC_TCP_FLAGS|SRC2DST_DSCP|INFO|VLAN

[2021-09-03 15:23] lucaderi opened #5838 "Add packaging for Rocky Linux"
As CentOS will be EOL at the end of the year, RPMs can be built using https://kifarunix.com/install-ntopng-on-rocky-linux-8/

[2021-09-04 06:12] mamema opened #5839 "licsense not recognized in docker"
Hi,

i've sucessfully migrated my license to a first docker host. Then i was trying to migrate a second time to another host. This fails constantly. I've change the docker run command from -v $(pwd)/ntopng.license to /etc/ntopng.license. But this doesn't help.

My log:

Starting redis-server: redis-server.
04/Sep/2021 08:03:29 [Prefs.cpp:1232] All HTTP user login disabled
04/Sep/2021 08:03:29 [Pre

[2021-09-04 16:40] phantomski77 commented on #5718
It looks like most `5.1.x` `armhf` builds run well on RaspberryPi 4, I've now tested `5.1.210902` and it's also without issues. If anyone's interested, I'm regularly building and testing 64bit `arm64` Docker images from these nightly builds, which are available here:
[https://hub.docker.com/repository/docker/phantomski/ntopng](https://hub.docker.com/repository/docker/phantomski/ntopng)

Of course

[2021-09-05 13:23] sysop11 opened #5840 "ntopng stable: Ntopng installation is suddenly broken. Incorrect PFring version. Incorrect ndpi version."
I've researched this heavily and see this has been an issue several times in the past, yet there is no actual solution that worked for me.

 ntopng : Depends: pfring (= 8.0.0-6874) but it is not going to be installed

When installing pfring, I get version 8.1 which apparently is incompatible. I can't find a way to specifically download pfring 8.0. I removed Ntopng and pfring but now things are wor

[2021-09-05 13:49] sysop11 commented on #5840
Persistence paid off. I will post my solution for anyone else who happens to stumble upon this topic.

Even though I thought I had removed/purged all Ntopng related things, it seems the old version of ndpi was the culprit. I removed/purged ndpi. After doing this, I was able to follow the normal installation instructions without all the version mismatch craziness.

[2021-09-05 13:49] #5840 closed, assigned to nobody

[2021-09-06 07:09] cardigliano commented on #5839
@mamema how much time elapsed between migrations?
Did you migrate the license through the show, or just setting the online mode in the application?
Could you provide the order id in a direct email? (cardigliano at ntop.org)

[2021-09-06 07:12] cardigliano commented on #5840
@sysop11 this seems to be related to some misconfiguration with the repository, you probably moved from dev to stable without purging all packages. Please note there is a script for that at https://www.ntop.org/support/faq/how-can-i-switch-from-stable-to-dev-branch-or-vice-versa/

[2021-09-06 08:07] martinscheu opened #5841 "DNS request info in DNS Query info"
Dear ntop Team
Would it be possible to get the request type e.g. A, AAAA or HTTPS together with the requested domain. Now a _ping google.com -c1_ gives two flows, but information nDPI is DNS or DNS.Google, which I think is not related to A or AAAA query.
Would it be possible to have the A or AAAA info in the flow info, e.g. in front of the Domain:
<img width="831" alt="Screenshot 2021-09-06 at 09

[2021-09-06 09:03] MaoPann opened #5842 "install error"
I execute the following command and report an error

![image](https://user-images.githubusercontent.com/44804599/132190655-948c7c4e-1b35-4a3a-8a9a-cfd0f16709a0.png)

**rpm -ivh http://rpms.remirepo.net/enterprise/remi-release-8.rpm**
Retrieving http://rpms.remirepo.net/enterprise/remi-release-8.rpm
warning: /var/tmp/rpm-tmp.cW6NOi: Header V4 RSA/SHA256 Signature, key ID 5f11735a: NOKEY
error: Fail

[2021-09-06 09:04] simonemainardi commented on #5841
Implemented as requested.

![image](https://user-images.githubusercontent.com/3397663/132190589-04573780-07b9-46b4-9e0d-dfff310f2dde.png)

This cannot be moved for consistency. Indeed, the symbol is always right to the element.

[2021-09-06 09:04] #5841 closed, assigned to simonemainardi

[2021-09-06 09:05] MaoPann opened #5843 "Monitor mirror traffic"
I use ntopng to directly monitor the traffic from the image port, but I can't distinguish between up and down traffic. What should I do?

[2021-09-06 09:11] simonemainardi commented on #5833
This must be used. ntopng local networks are specified with `-m` and are independent from nProbe. As you've correctly noted, local networks are currently instance-wide and cannot be indicated on a per-interface basis. A feature request is already open (https://github.com/ntop/ntopng/issues/4539) and will be handled with the 5.2 release

[2021-09-06 09:17] simonemainardi commented on #5843
Tick mirrored traffic under the interface cog, then specify the MAC address of the gateway

![image](https://user-images.githubusercontent.com/3397663/132192676-0e0c6d01-cf94-4039-9fce-631aa0cb03e7.png)

Then restart ntopng, and you'll have traffic directions.

[2021-09-06 09:17] #5843 closed, assigned to nobody

[2021-09-06 09:32] MaoPann commented on #5843
@simonemainardi I don't really understand what interface mac address I should set

[2021-09-06 09:51] simonemainardi commented on #5843
you should set the MAC address of the gateway. For example, let's say your hosts use router 192.168.2.1 as gateway to reach the internet. If you specify 192.168.2.1 MAC address, then you'll have upload and download properly populated.

[2021-09-06 09:58] MaoPann commented on #5843
What if I am using the TAP method? How should I configure it?
![image](https://user-images.githubusercontent.com/44804599/132199181-03ff0f4c-9ef2-4eda-ba5a-ec51ff7896e4.png)

[2021-09-06 10:11] simonemainardi opened #5844 "Implement support for nProbe field L7_INFO"
nProbe sends flow information on `L7_INFO`, see https://github.com/ntop/nProbe/issues/494

it is requested to parse this information and properly populate the protocol-dependent fields, e.g.,

- DNS query
- HTTP request
- TLS server name

[2021-09-06 10:31] simonemainardi commented on #5843
Set the "Router" MAC address in the field I've highlighted above with the red arrow.

[2021-09-06 10:31] lucaderi opened #5845 "Invalid score usage in anomaly plugin"
Score anomaly plugin
<img width="1073" alt="image" src="https://user-images.githubusercontent.com/4493366/132203663-44ddb29e-5ce2-4aee-b7e3-8b1676e62cf6.png">

reports a 50 score that is wrong, It must be a high value or the original host value

<img width="1103" alt="image" src="https://user-images.githubusercontent.com/4493366/132203559-320154d4-d5f9-44f3-bdcf-26207d5879bb.png">

It is required

[2021-09-06 11:58] martinscheu commented on #5841
Hi Simone,
Thanks for picking it up and implementing it.
you are right, it should be consistent throughout ntopng.
Issue with having the link button on the right are very long urls, then the link is not shown. (I have a 3840 x 2160  screen and need to zoom down in firefox to 30% to get the whole link)
Having the link button on the left would eliminate the need to zoom down.
Thank you.
(can send yo

[2021-09-06 13:17] basicmonkey commented on #5797
Hi Simone, any ideas on this? I'm running manual flow culls at the moment. Looks like the daily script just isn't running.

[2021-09-06 13:28] simonemainardi commented on #5797
Are you running a licensed version? Did you install it using official instructions at packages.ntop.org?

[2021-09-06 13:33] basicmonkey commented on #5797
Fully licensed ntopng Enterprise M v.4.3.210817.

Using packages:

deb https://packages.ntop.org/apt/18.04/ x64/
deb https://packages.ntop.org/apt/18.04/ all/

[2021-09-06 13:55] simonemainardi commented on #5831
check under /etc/hosts and make sure string `localhost` is correctly mapped to the machine IP (127.0.0.1).

[2021-09-06 14:02] simonemainardi commented on #5763
"Other" is just the sum of all other interfaces that are not shown. May be a counter wrap due to SNMP v1 with 32bit counters. Can you please tell me the SNMP version you've used when configuring the device?

[2021-09-06 14:19] simonemainardi commented on #5842
Your Centos 8 is outdated. You need version 8.4. Check with:

[code]

Make sure to upgrade everything - full instructions at (https://phoenixnap.com/kb/how-to-update-upgrade-centos):

[code]

Then, install regularly following instructions:

[code]

[2021-09-06 14:19] #5842 closed, assigned to simonemainardi

[2021-09-06 14:20] simonemainardi commented on #5797
Version 4.3 is no longer supported. Please, upgrade to 5.1 or 5.0 stable.

[2021-09-06 15:14] simonemainardi commented on #5832
Are you sure there is traffic available for those interfaces? You can check simply by picking the "Traffic" timeseries from the dropdown. You have to have continuous traffic to make sure timeseries get generated properly.

[2021-09-06 15:18] simonemainardi commented on #5824
I can reproduce this behavior on the latest 5.1 using a view. Working on the fix.

[2021-09-06 15:28] basicmonkey commented on #5797
Didn't know it existed! Have run a dist-upgrade and on 5.1 now. Have truncated both the flows tables again as ran out of disk and VM got stuck. Will give it another 6 days and see what happens.

Thank you.

[2021-09-07 00:19] Yoshihiro-jp commented on #5832
Yes I am sure.In the traffic timeseries it has the traffic like attached files(only ICMP).

regards,
Yoshihiro
[top an receiver problems traffic.zip](https://github.com/ntop/ntopng/files/7118121/top.an.receiver.problems.traffic.zip)

[2021-09-07 07:52] astalush commented on #5763
We are using snmp v2. I understood that other are the interfaces that are not shown but that doesn't help us to see what interface does that. Thanks.

[2021-09-07 09:05] MaoPann opened #5846 "Custom application"
Can I add a custom applicationin the following way（CIDR）

![image](https://user-images.githubusercontent.com/44804599/132317342-57725dbd-4b88-4b12-aed8-d58e8b60b7e2.png)

[2021-09-07 09:28] dkrey commented on #5833
Thanks for the feedback, so -L in nprobe is currently not being used?
To analyse onsite local traffic, I'm now deploying ntopng community instances on the local nprobe systems. Anyway I'm looking forward to v5.2 :)

[2021-09-07 09:45] MaoPann commented on #5846
In addition, can IPv6 be supported (e.g. 2620:1ec:: / 64)?

[2021-09-07 09:50] MatteoBiscosi commented on #5845
Currently the alert has been divided in two alerts: `Score Anomaly` (The one calculated using DES algorithm) and `Score Threshold Exceeded` (A threshold check, based on the score). This is done to differentiate the two scores, infact regarding the first one it add only 50 score (Warning) regarding the second one it add 250 score (Current Maximum score, Sever Error), infact the Threshold exceeded u

[2021-09-07 09:51] MatteoBiscosi commented on #5834
Not correctly working right now

[2021-09-07 09:58] MatteoBiscosi commented on #5835
Hi @gianlucapiccolo as requested this feature is added to the stable version, please wait for the builds to be ready (in a few hours) and update.

[2021-09-07 11:19] lkjom opened #5847 "Dropped alerts Increasing at a high rate after moving to nightly build"
Hello

I'm am seeing an issue recently after moving to Nightly from stable  where the Dropped alerts increases at a very fast rate , a few days after InfluxDB will stop running and refuse to start . I have cleared all time series data and recreated the wal data and meta folders even purged the old Influx config however although it fixes it for a few days eventually influx will die and the dropped

[2021-09-07 13:52] MatteoBiscosi commented on #5832
Hi @Yoshihiro-jp I'm sorry for the late response, however now the problem should be fixed, in the specific case the graph is going to show the Top LOCAL Senders/Receivers (Before there was a missleading description) so probably, in your case, you don't have local hosts with significant traffic; instead the table below is an all round Top Senders/Receivers, so there are both local and remote hosts.

[2021-09-08 07:22] sandy-lcq opened #5848 "ntopng cannot build with ndpi 4.0."
Hi,
ntopng 5.0 cannot compile with ndpi 4.0,  with error:

Flow.h:337:49: error: 'ndpi_is_encrypted_proto' was not declared in this scope; did you mean 'isEncryptedProto'?
|   337 |   inline bool isEncryptedProto() const { return(ndpi_is_encrypted_proto(iface->get_ndpi_struct(), ndpiDetectedProtocol)); }
|       |                                                 ^~~~~~~~~~~~~~~~~~~~~~~
|       |

[2021-09-08 07:56] simonemainardi commented on #5831
Solution given. Reopen with the requested feedback if necessary.

[2021-09-08 07:56] #5831 closed, assigned to nobody

[2021-09-08 07:57] simonemainardi commented on #5826
@jhhaskins any news?

[2021-09-08 07:58] simonemainardi commented on #5814
@nobless any news?

[2021-09-08 08:03] npacket opened #5849 "Feature Request: Add "exporter_ipv4_address" to Dump in ElasticSearch database"
Hi

We need to use "exporter_ipv4_address" information when we export the dump data to ElasticSearch.
Can you add "exporter_ipv4_address" in the fixed template ?

[2021-09-08 08:07] lucaderi opened #5850 "nil string"
![image](https://user-images.githubusercontent.com/4493366/132471133-cf3f57d8-21b8-4eb6-b503-a72eaf4a3ba8.png)

[2021-09-08 08:11] lucaderi opened #5851 "Memory hog due to ZMQ"
With today's nProbe and ntopng versions this is what happens
  PID USER      PR  NI    VIRT    RES    SHR S  %CPU %MEM     TIME+ COMMAND
29905 root      20   0 31,975g 0,027t  22080 S 228,8 44,6   7:33.70 nprobe
30035 root      20   0 30,725g 0,026t  22464 S 228,8 42,5   7:33.41 nprobe
30489 ntopng    20   0 4207292 757876  56112 S 157,6  1,2   4:29.52 ntopng

due to this bug

set 08 10:09:00 ntop

[2021-09-08 08:15] lucaderi commented on #5851
Note adding --zmq-disable-buffering= does not help either

[2021-09-08 11:04] simonemainardi commented on #5851
Should be fixed in the latest nProbe dev.

[2021-09-08 12:40] lucaderi commented on #5851
Verified as fixed

[2021-09-08 12:40] #5851 closed, assigned to simonemainardi

[2021-09-08 12:46] lucaderi commented on #5848
The call is present in nDPI v4 https://github.com/ntop/nDPI/blob/4.0-stable/src/include/ndpi_api.h.in#L1058

it works for me

[2021-09-08 12:46] #5848 closed, assigned to nobody

[2021-09-08 12:47] lucaderi commented on #5844
Verified as fixed

[2021-09-08 12:47] #5844 closed, assigned to simonemainardi

[2021-09-08 12:47] lucaderi commented on #5845
Verified as fixed

[2021-09-08 12:47] #5845 closed, assigned to MatteoBiscosi

[2021-09-08 12:49] lucaderi opened #5852 "Service/Periodicity Maps are missing from View Interfaces"
This is to request to implement service and periodicity maps for view interfaces

[2021-09-08 12:50] lucaderi commented on #5818
Verified as fixed

[2021-09-08 12:50] #5818 closed, assigned to VasilisTako

[2021-09-08 15:04] mountdevhands commented on #5851
I have exactly the same problem, but in Collector mode. The problem started after today's update. The last update did not solve the problem.

[2021-09-08 15:08] #5852 closed, assigned to nobody

[2021-09-08 15:15] mountdevhands opened #5853 "ZMQ message truncated?"
Ntopng:
Version:	5.1.210908 [Enterprise/Professional build]
Config:
[code]

Nprobe:
Version:       9.7.210908
[code]

After today's update there are messages in the ntopng log:
[code]
Everything worked before the update.

[2021-09-08 15:28] simonemainardi commented on #5853
Fixed with https://github.com/ntop/ntopng/issues/5851
Please, upgrade.

[2021-09-08 15:28] #5853 closed, assigned to nobody

[2021-09-08 15:29] simonemainardi commented on #5851
you need to upgrade nprobe

[2021-09-08 15:35] mountdevhands commented on #5853
The latest version is installed, from here https://packages.ntop.org/apt/20.04/x64/

[2021-09-08 15:58] mountdevhands commented on #5853
Now with the update nprobe_9.7.210908-7476 everything is fixed, thanks.

Another question: why in the section "Countries", are not shown values "Throughput" for countries? Is it possible to include these indicators, for example, as on the AS?

[2021-09-08 21:00] lucaderi opened #5854 "Flow verdict is not mapped"
![image](https://user-images.githubusercontent.com/4493366/132584653-3958e3a4-4fc8-406a-a690-b06163764f12.png)

As show in the picture below
- the verdict 1 and 2 must have additional labels and be mapped to "1 (Pass)" and 2 (Drop)" better with icons
- the verdict must be moved before the additional flow elements

[2021-09-08 21:43] nobless commented on #5814
upgraded the system to the latest, can't reproduce the problem currently anymore.

but the problem is still left with package:
`pkg: https://packages.ntop.org/FreeBSD/FreeBSD:12:amd64/latest/packagesite.pkg: Not Found`

maybe it freebsd related ? Why it searching for **packagesite.pkg**
Beside this, upgrade works:

[code]

[2021-09-09 07:48] Yoshihiro-jp commented on #5832
Dear @MatteoBiscosi ,
Thank you for your response.
I upgrade to below version.

ntop@ntopng:/etc/ntopng$ sudo ntopng -V
Version:        5.0.210908 [Enterprise/Professional build]
GIT rev:        5.0-stable:a0c7909ee6e4fc67ce3542a8e5c41ea5898a6554:20210908

Unfortunately it looks like that the problem is still remaining even if I waited more than 1 hours.
Kindly refer to the attached files.
![1hour

[2021-09-09 08:14] kewp opened #5855 "Install not working on Mac"
I downloaded and installed the latest ntopng package (5.1.210826). Everything said it worked fine. However, when I go to localhost:3000 (or 127.0.0.1:3000) it says Unable to connect.

How do I debug this issue? Is there an install log somewhere?

I tried starting it manually with `sudo /usr/local/bin/ntopng` but it says `[Redis.cpp:99] ERROR: Connection error [Connection refused]`

[2021-09-09 08:46] simonemainardi opened #5856 "Throughput not updated for countries"
Although there's active traffic flowing and total is increasing, thorughput stays at zero

![image](https://user-images.githubusercontent.com/3397663/132653893-e27fd6ed-34fe-43a6-9613-d0db8ab126a7.png)

[2021-09-09 08:47] simonemainardi commented on #5853
Yes, it seems to be a bug, follow up at https://github.com/ntop/ntopng/issues/5856

[2021-09-09 08:51] simonemainardi commented on #5855
There must be a Redis instance up and running. This is brought up automatically. My guess is that something is preventing Redis to come up. Can you please check.

Indeed, this command is issued automatically in the postinstall

[code]

Try to execute manually and look for errors.

[2021-09-09 09:21] kewp commented on #5855
Hi. Thanks for replying. I ran the command:

[code]

Any advice on what to do now?

[2021-09-09 10:10] lucaderi commented on #5855
Try `unload` and `load` it again. This said redis is an external component. If not working for you, you can use an external redis package, e.g. the one part of https://brew.sh

[2021-09-09 10:11] kewp commented on #5855
Thanks @lucaderi . I don't follow, unload and load? I did not install redis. Perhaps it was another piece of software I installed?

[2021-09-09 10:14] lucaderi commented on #5826
Closing for inactivity

[2021-09-09 10:14] #5826 closed, assigned to nobody

[2021-09-09 10:15] lucaderi commented on #3875
So far this is not a priority, closing for now

[2021-09-09 10:15] #3875 closed, assigned to simonemainardi

[2021-09-09 10:18] #5798 closed, assigned to simonemainardi, cardigliano

[2021-09-09 10:33] lucaderi opened #5857 "Missing HREF and Description in Alerts"
![image](https://user-images.githubusercontent.com/4493366/132670112-19bd9f7f-079f-4fe0-93a1-ea1450c66552.png)

It is required to add an HREF to flow risks that will jump to the documentation and explains exactly what is this problem about and what are the remedies to apply.

Make sure the description is also added in alerts

![image](https://user-images.githubusercontent.com/4493366/132703151-896

[2021-09-09 10:40] lucaderi opened #5858 "Add Score Filtering Feature"
![image](https://user-images.githubusercontent.com/4493366/132670897-726d03c4-18cc-47de-9530-e9218cc0316d.png)

It is required to add slider/text-field/selector something that allows reporting only those alerts whose score is >= to the specified value.

[2021-09-09 12:38] simonemainardi commented on #5133
need to confirm if support for 32bit architectures is still needed

[2021-09-09 13:53] simonemainardi opened #5859 "Add Score Filtering Feature"
It is requested to implement score filters (>, >=, =, <, <=) that will show up as any other filter in

![image](https://user-images.githubusercontent.com/3397663/132698562-72ffa975-a85f-46d3-8299-772aa5faaee3.png)

[2021-09-09 13:54] simonemainardi commented on #5858
This ticket depends on https://github.com/ntop/ntopng/issues/5859

[2021-09-09 14:16] lucaderi opened #5860 "Obsolete TLS: Missing version"
![image](https://user-images.githubusercontent.com/4493366/132702559-8982e3c6-394e-4378-8a41-b3d7c4a258aa.png)

[2021-09-09 14:17] lucaderi opened #5861 "Obsolete SSH: Missing Role from Description (Client or Server)"
![image](https://user-images.githubusercontent.com/4493366/132702803-84145ecb-1b4b-43aa-afba-c46162475fe4.png)

"Server" present in one message of two

[2021-09-09 14:21] lucaderi opened #5862 "Missing score value from alert description"
![image](https://user-images.githubusercontent.com/4493366/132703430-2f2506e9-d5d2-4e69-b693-6bf8a766954c.png)

It would be nice to see the score value in the description field

[2021-09-09 14:25] #5856 closed, assigned to simonemainardi

[2021-09-09 14:27] simonemainardi commented on #5856
Fixed

![image](https://user-images.githubusercontent.com/3397663/132704528-cf86fb3c-b36d-431e-a41b-db698c0a43ce.png)

[2021-09-09 15:48] lucaderi opened #5863 "Protocol on non Standard Port"
![image](https://user-images.githubusercontent.com/4493366/132718848-d273a996-73a1-4316-be6e-cd9844c9f91e.png)

This alarm is ok if the protocol is HTTP, TLS or SSH for instance. For protocols that don't have the concept of non-standard port (that is always on 3389) this alarm score must be way more severe as this flow looks like malware at work.

Is this a task for nDPI (probably with a new risk)

[2021-09-09 17:58] kewp commented on #5855
I've tried unloading and loading again (same command as above). I've also installed redis via brew. Same thing

[code]

[2021-09-10 03:11] Ryananana commented on #3764
Hi,

It seems that influxdb 2.0 still provides [api for writing and querying data](https://docs.influxdata.com/influxdb/v2.0/api/) and the usage of these api has not changed much from influxdb 1.8, while the [1.x compatibility API](https://docs.influxdata.com/influxdb/v2.0/api/v1-compatibility/) is provided in influxdb 2.0.

https://github.com/ntop/ntopng/blob/89c765a325a1c3dedad91f4083accf5628553

[2021-09-10 09:11] simonemainardi commented on #5858
TLS version is missing over ZMQ as it not exported as part of the "@NTOPNG@" template and it is not inside the "L7_INFO" as well.

[2021-09-10 10:37] simonemainardi commented on #5861
Implemented as requested. Verified both with ZMQ and packet interfaces.

[2021-09-10 10:39] simonemainardi commented on #5861
![image](https://user-images.githubusercontent.com/3397663/132841438-e8472851-1374-49f3-a9f9-c144bc9a6419.png)

[2021-09-10 14:55] simonemainardi commented on #5855
You need to investigate the Redis error you are getting: `Load failed: 37: Operation already in progress`.

Try to stop it, then restart it.

[code]

if Redis isn't running, ntopng can't work.

Check with

[code]

[2021-09-10 15:06] simonemainardi commented on #5846
Yes.

No. Only IPv4 rules.

[2021-09-10 15:06] #5846 closed, assigned to nobody

[2021-09-10 15:06] simonemainardi commented on #5859
Implemented in the referenced commits.

[2021-09-10 15:06] #5859 closed, assigned to simonemainardi

[2021-09-10 15:10] simonemainardi commented on #5847
Hi, dropped alerts mean recipients are too slow to keep up with them.

Check under page recipients, then uses. To mitigate, you can open a recipient, and increase the minimum severity, to avoid getting notices or minor things delivered.

The influx issue is not connected with dropped alerts nor with the version of ntopng. A dying influxdb can be due to high cardinality of data. Try and reduce the

[2021-09-10 15:36] kewp commented on #5855
Ok so for future reference: I had to edit `/usr/local/etc/redis.conf` and then change `logfile` to point to `/var/log/redis.log`. Then when I do the unload / load commands I get output. Redis crashed. See attached file. Note: it is the `ntopng-redis-server` version. (I suppose I should try get my own redis working? I did try with homebrew but not sure how that all works...).

[redis.log](https://g

[2021-09-10 15:41] kewp commented on #5855
I got it working. So I installed redis via homebrew (`brew install redis`) and then started with `brew services start redis`. I then had to shut down ntopng with `sudo launchctl unload /Library/LaunchDaemons/org.ntop.ntopng.plist` and restart with `sudo launchctl load /Library/LaunchDaemons/org.ntop.ntopng.plist`. Now I can browse to `localhost:3000` and all is happy.

Perhaps this is something to

[2021-09-11 14:11] samcro1967 opened #5864 "Network Mode Host kills DNS on Linux host"
I am able to get ntopng to work if I do not use network mode host, but then it only sees itself.  If I specify network mode host, it sees everything on the network, but DNS no longer works from any container, the Linux host, or other machines on the network.  DNS is being served by AdGuard on a Windwos host.  ntop is on a Linux VM as a docker container.

The only way I can get DNS working again is

[2021-09-11 15:03] bsergik commented on #5848
`ndpi_is_encrypted_proto` API is introduced in Aug 7, 2021. But nDPI 4.0 released on Jul 26, 2021 prior to the new API intriduction. Using latest ntop released version (5.0-Stable from zip archive) and nDIP 4.0 Stable version leads to compilation error. I guess nDPI release version should be rised prior to rising ntop version.

[2021-09-13 07:01] MaoPann opened #5865 "GPG key retrieval failed:"
Cento 7 install ntopng 5.0

![image](https://user-images.githubusercontent.com/44804599/133038201-ce95a54d-5c7f-485d-83f8-b8060fc69368.png)

[2021-09-13 07:58] cardigliano commented on #5865
@MaoPann did you follow the instructions at https://packages.ntop.org/centos-stable/ ?
Please try with:
yum remove epel-release
yum clean all
yum update
yum install epel-release

[2021-09-13 08:20] simonemainardi commented on #5860
Issue was due to the TLS version IE not sent in the default ZMQ template. We have decided not to add it to the default template to keep it as small as possible. However, we have modified the error message to still tell the maximum version for the error.

![image](https://user-images.githubusercontent.com/3397663/133048809-bacc7349-e4e1-432f-b189-c7b1d1107899.png)

[2021-09-13 08:23] cardigliano commented on #5839
Fixed

[2021-09-13 08:23] #5839 closed, assigned to cardigliano

[2021-09-13 08:29] MaoPann commented on #5865
Fixed

[2021-09-13 08:33] MaoPann opened #5866 "Failed to add custom app"
I added a custom application and it didn't take effect after restarting. I've tried many times. I think there may be a bug here. I use CentOS 7 to install ntopng stable version 5.0.

[2021-09-13 08:49] cardigliano commented on #5865
Thank you. We will update the installation instructions.

[2021-09-13 08:49] #5865 closed, assigned to nobody

[2021-09-13 10:05] lkjom commented on #5847
Hello Simone

I only had builtin for end/notif , but I was unable to change the severity , I have since reset the configuration for Endpoints and Recipients and was able to change the level
I am still getting some drops but significantly less . Side note to this it seems to have fixed another issue I had editing existing host pools

Feel free to close the git case
Thanks

From: Simone Mainardi ***

[2021-09-13 14:45] #5847 closed, assigned to nobody

[2021-09-13 14:46] simonemainardi commented on #5866
Without extra information and steps to reproduce it is impossible to troubleshoot.

Provide data, configuration, a pcap file, and steps you've done.

[2021-09-13 15:24] GrumpyOldNetworkGuy opened #5867 "ntopng-5.0-stable repeatedly stops recording at ZMQ source"
Hi,

Restarting ntopng reactivates recording on nprobe@xwin[0,1].  The other two ZMQ sources (LAN, DC) work perfectly.
![Interface-X-WIN](https://user-images.githubusercontent.com/86432254/133104479-73d349e3-57f2-4db6-a9b2-6b35741185b6.png)
The only strange thing I found is that minute.lua is causing problems at the same time:
![X-WIN-periodic-activities](https://user-images.githubusercontent.com/

[2021-09-14 02:05] MaoPann commented on #5866
step-1: I add a  custom application

![image](https://user-images.githubusercontent.com/44804599/133182530-c11bcc06-1428-4e57-9a2f-4ec91eafe4fe.png)

![image](https://user-images.githubusercontent.com/44804599/133182494-6538d41b-d053-4b15-a064-d9e46bdfa955.png)

step-2: restart ntopng and I can't find the  custom application,

![image](https://user-images.githubusercontent.com/44804599/133182657-a

[2021-09-14 02:13] MaoPann commented on #5866
@simonemainardi

[2021-09-14 07:20] simonemainardi commented on #5864
Does name resolution fail for any IP? Can you run a verbose dig to see what happens? Is it a timeout issue?

Can you docker exec into the container and see if there is a DNS server running? ntopng per se is passive, it doesn't bring up any DNS server.

[2021-09-14 07:29] simonemainardi commented on #5866
[code]

![image](https://user-images.githubusercontent.com/3397663/133214175-197a85fd-e70c-4785-bea4-f7478edc3ae9.png)

![image](https://user-images.githubusercontent.com/3397663/133214190-3678e769-c0a3-48b2-be33-cd055a4536c2.png)

Then, after a restart

![image](https://user-images.githubusercontent.com/3397663/133214291-aadbb2fd-e511-4677-8c3c-3f2db7d410b7.png)

I am no 5.1. Make sure your proto

[2021-09-14 07:29] #5866 closed, assigned to nobody

[2021-09-14 07:49] MaoPann commented on #5866
@simonemainardi  I update to 5.1 ,same problem

![image](https://user-images.githubusercontent.com/44804599/133217241-e3ee9fe7-8e10-4a1f-b8c1-813beb077c13.png)
![image](https://user-images.githubusercontent.com/44804599/133217439-867a4d90-1c3b-45b1-9c68-7419e2799d9e.png)
![image](https://user-images.githubusercontent.com/44804599/133217507-45ae64a9-eef4-4cf0-ab9e-ec291544fd31.png)
![image](https:/

[2021-09-14 10:11] dkrey opened #5868 "Top L7 Contacts all the same despite different protocol"
Hi there,
I've recently activated the nIndex functionality and historical flows are now visible in the dashboard and also the drilldown "spy glasses" are visible when selecting an interface and its graph.

When clicking on the spyglass, the graphs and the calculated totals seem to be valid, but the list with the servers below is exactly the same, no matter what protocol is being chosen.

I would e

[2021-09-14 10:39] basicmonkey commented on #5797
Hi Simone,

Still the same issue on 5.1.

[code]

[2021-09-14 12:21] simonemainardi commented on #5866
are you sure the file is correctly fed to ntopng using `-p`?

[2021-09-14 12:49] samcro1967 commented on #5864
Here is a little more information as well as the output from dig.

- Ubuntu docker host is 192.168.1.104 which is a VM.
- Windows Hyper-V host is 192.168.1.103.
- AdGuard Home DNS is running on 192.168.1.103.
- Cannot load local.plugy from IOS device on same network so DNS issues is network wide.
- External DNS seems to work fine.  Internal DNS only is broken with ntopng is running in network host

[2021-09-14 13:36] GrumpyOldNetworkGuy commented on #5867
Hi,

Our ntopng fails again like in the last few days.
- ZMQ traffic between nprobe@xwin0 and ntopng stalled
- ZMQ traffic between nprobe@xwin1 and ntopng stalled
- ZMQ traffic nprobe@lan <-> ntopng looks good
- ZMQ traffic nprobe@dc <-> ntopng looks good
- HTTPS connection to ntopng crashed, reconnect impossible:
[code]
Restarting ntopng again... Please, can someone help me. I have no more idea.

[2021-09-14 15:02] thomasbruchet opened #5869 "Realtime Top Application Traffic - Duplication of data"
Hello,

I think there is a problem on the main Traffic Dashboard on ntopng Enterprise M v.5.1.210910
Here is a print screen:
![image](https://user-images.githubusercontent.com/86605223/133281400-477fb787-46fc-4ee9-8c52-4e99a7a11ecd.png)

It's seems that the unknow traffic is close to the half of  the "know traffic", When know traffic up, the unknow follow.
If I go in the Flow menu, I can see that

[2021-09-14 15:43] simonemainardi commented on #5797
@basicmonkey please note that @cardigliano pushed a fix. A new build is in progress. Wait a couple of hours, then upgrade and check again.

Also make sure to stop ntopng and execute a `find /var/lib/ntopng/ -name score.rrd -delete` to fix the RRD errors.

[2021-09-14 15:47] simonemainardi commented on #5867
Seems `minute.lua` stalls. Please, post full nProbe and ntopng configurations. Also include recipients and endpoints if you are using them.

[2021-09-14 16:37] GrumpyOldNetworkGuy commented on #5867
@simonemainardi Here are the complete configuration files: [schnuffel-conf.zip](https://github.com/ntop/ntopng/files/7163602/schnuffel-conf.zip)
No recipients or endpoints are configured in addition to  builtin_recipient_sqlite/builtin_endpoint_sqlite.  No alarms have been recorded in the last 24 hours.

[2021-09-14 18:54] GrumpyOldNetworkGuy commented on #5867
@simonemainardi

--- 18:50 CEST ---
- ZMQ traffic between nprobe@xwin0 and ntopng stalled
- ZMQ traffic between nprobe@xwin1 and ntopng stalled
- ZMQ traffic nprobe@lan <-> ntopng looks good
- ZMQ traffic nprobe@dc <-> ntopng looks good
- HTTPS connection to ntopng crashed, reconnect impossible

Now I started ntopng with only nprobe@xwin0 and nprobe@xwin1 as the source:
[code]
Let's wait for the n

[2021-09-14 19:05] bmansvk opened #5870 "Ntop is utilizing huge write IO"
I am running ntopng from official docker container. The configuration is:
`-i eth1 -m "192.168.0.0/16,10.0.0.0/8,188.123.118.96/27" -F syslog -d /var/lib/ntopng -x 11024000 -X 11024000`

When monitoring using iostat, iotop or similar tools ntopng is writing around 100MB/s every second to filesystem. But filesystem usage is not increased. Current volume usage of /var/lib/ntopng is always below 1GB.

[2021-09-14 19:38] bmansvk opened #5871 "Ntop and "MAC Address Based Traffic Directions""
Running latest ntopng from official docker repository (ntopng Community v.5.0.210910 rev.15492 (Ubuntu 20.04.3 LTS)). I am monitoring interface in mirroring mode. Configured MAC Address Based Traffic Directions with egress MAC and still I am seeing flow only one direction (in current in/out "widget" in top of the screen).

Using TCPdump I observed:
[code]

Configured "52:54:00:05:a3:e6" in "MAC Ad

[2021-09-14 19:41] bmansvk opened #5872 "Rsyslog in official ntopng docker image"
Please add rsyslog package to official docker ntopng image. I am using syslog flow export from ntopng and there must be local syslog server available for ntopng (maybe there is remote syslog config option in ntopng, but I didn't find configuration for it).

[2021-09-15 01:19] MaoPann commented on #5866
@simonemainardi  I confirm,

![image](https://user-images.githubusercontent.com/44804599/133354751-7e267b64-17b5-4b76-a732-d75bd77549aa.png)

[2021-09-15 06:24] GrumpyOldNetworkGuy commented on #5867
@simonemainardi
--- 02:10 CEST ---
- ZMQ traffic between nprobe@xwin0 and ntopng stalled
- ZMQ traffic between nprobe@xwin1 and ntopng stalled
- GUI works but is  very slow
- minute.lua stucks since 02:10 CEST

![Interface-X-WIN](https://user-images.githubusercontent.com/86432254/133377364-a90c6113-5411-42c4-adcf-7b7a138f37f4.png)
![X-WIN-minute lua](https://user-images.githubusercontent.com/86432

[2021-09-15 06:30] GrumpyOldNetworkGuy commented on #5867
@simonemainardi It's crazy, but now I was able to turn off the rest of the ckecks:

![Checks-Flow-Disabled](https://user-images.githubusercontent.com/86432254/133381882-f3fe9bac-c28c-4e93-b61c-977d90dc0c57.png)

[2021-09-15 07:13] simonemainardi commented on #5867
Do you have top sites or traffic behavior enabled?

[2021-09-15 07:14] simonemainardi commented on #5866
Che the ntopng log for errors occurring when loading the file. Please report.

[2021-09-15 07:26] GrumpyOldNetworkGuy commented on #5867
Both are switched off.

In the current test, ntopng drops packets like hell:
![Packets-vs-Drops](https://user-images.githubusercontent.com/86432254/133389468-cd0ac140-dfac-4d6e-beab-1aa814b6b91d.png)

![Interface-X-WIN-drops](https://user-images.githubusercontent.com/86432254/133388966-b959fc26-d317-4e6f-8d68-2dcdebb5c2af.png)

[2021-09-15 07:28] simonemainardi commented on #5872
Remote syslog are supported when adding the endpoint. Just add the Host and Port when adding the syslog endpoint:

![image](https://user-images.githubusercontent.com/3397663/133389680-97d5c20a-5d59-465c-bb6c-6810cc06dd4d.png)

So there is no need to add a local rsyslog to the docker image. It would also break the logic of containerization.

[2021-09-15 07:28] #5872 closed, assigned to nobody

[2021-09-15 07:30] simonemainardi commented on #5871
ntopng is seeing the two MACs you are seeing in tcpdump as well. My guess is that you are mirroring a WAN port where you are only seeing routed traffic. You should mirror the ports where you have the clients.

[2021-09-15 07:33] simonemainardi commented on #5870
This is due to the high volume of traffic generated to the disk to write alerts. However, having 100MBs/s is way too much. My guess is that there can be a certain condition causing an anomalous number of alerts to be generated.

To mitigate go to the SQL builtin recipient and change the minimum severity to error.

Also check in the UI if there is an anomalous condition and all flows result to be a

[2021-09-15 07:35] simonemainardi commented on #5869
Under the flows page, filter by application (e.g., Unknown) and sort flows by throughput. Look ad the throughput column. Does it align with the data shown in the dashboard? It could be just the small chart not refreshing.

[2021-09-15 07:42] simonemainardi commented on #5864
Very strange. It could be Docker touching certain `iptables` rules causing this (it can be explained by the fact that you have to re-run docker compose). See https://docs.docker.com/network/iptables/ and try setting the iptables key to false.

[2021-09-15 07:44] simonemainardi commented on #5855
Our tests pipeline doesn't highlight issues with the M1. It would have been nice to see the logs generated when running `sudo launchctl load -w /Library/LaunchDaemons/io.redis.redis-server.plist` to understand what was the issue. Do you think you can provide them?

[2021-09-15 08:03] MatteoBiscosi opened #5873 "Services not removed from Service Map"
The flows not seen for 1/2 days should be removed instead, as you can see, there are flows not seen for 30 days.
![Screenshot from 2021-09-15 10-00-05](https://user-images.githubusercontent.com/49585191/133394591-b2b5c725-b5aa-4ee7-b9f1-64a72d94d8eb.png)

[2021-09-15 08:07] thomasbruchet commented on #5869
Here is the 2 results but seems there are no match between them:
![image](https://user-images.githubusercontent.com/86605223/133395066-163e1918-4975-45db-9715-d6bd8e2e7ef0.png)
![image](https://user-images.githubusercontent.com/86605223/133395190-0ddbdaf0-4e09-456e-92ad-02ddaf78ff69.png)

[2021-09-15 08:29] thomasbruchet commented on #5869
I wonder if this is not a side effect of the amount of traffic passing through the interface. I don't have this problem on another interface dedicated to a single VLAN.
What reminds me of this is that when I filter on "Unknow Applications", I have a lot of lines which little by little find an application.
Example here where I have a lot of TooEarly during the refresh but in the end a lot of applic

[2021-09-15 09:44] GrumpyOldNetworkGuy commented on #5867
@simonemainardi
--- 11:17 CEST ---
- direct ntopng input on "zc:ens2f0@0,zc:ens2f0@1" stalled
- GUI works but is very slow
- minute.lua stucks since 11:17 CEST

So ZMQ is probably not the problem.
![Interface-X-WIN2](https://user-images.githubusercontent.com/86432254/133410299-4e0e75e1-91ba-4e25-a43a-7dcc8e65f7e8.png)
![X-WIN-minute lua2](https://user-images.githubusercontent.com/86432254/13341032

[2021-09-15 09:46] ListenNjoy opened #5874 "Wrong time in historical page"
We have a strange issue in historical data (Se picture below).

i have checked the time between Nprobe Enterprice and ntopng computer and we send the data to infludb.

The send data have jumped 30 min forward but the receive data is the right time.

Any suggestions what this could be.?

![2021-09-15 Error graph](https://user-images.githubusercontent.com/43986547/133410863-698a5425-e8b7-4f85-a694-c

[2021-09-15 09:55] GrumpyOldNetworkGuy commented on #5867
@simonemainardi I restarted ntopng. Now it is using inluxdb on another host. The other settings are the same as in the previous experiment.

[2021-09-15 11:22] samcro1967 commented on #5864
Things seem to be working after the change although it took a minute after ntopng came up for DNS to work properly.  I am running 86 other containers and never encountered this issue.  I also run netdata in host mode and did not see this issue until spinning up ntopng.  A little concerned as docker explicitly says this is not recommended and will most like cause containers to break.  Although ever

[2021-09-15 13:01] kewp commented on #5855
Hi @simonemainardi I do provide just this log in my comment above

[2021-09-15 18:42] GrumpyOldNetworkGuy commented on #5867
@simonemainardi
--- 19:44 CEST ---
- direct ntopng input on "zc:ens2f0@0,zc:ens2f0@1" stalled
- GUI disconnected

Running influxdb on another host didn't help either.

[2021-09-16 07:14] wulei-student opened #5875 "error: ‘NDPI_CLEAR_TEXT_CREDENTIALS’ was not declared"
src/FlowRiskAlerts.cpp:172:4: error: ‘NDPI_CLEAR_TEXT_CREDENTIALS’ was not declared in this scope
   [NDPI_CLEAR_TEXT_CREDENTIALS] = {
    ^
src/FlowRiskAlerts.cpp:176:1: error: too many initializers for ‘const FlowAlertTypeExtended [36]’
 };
 ^
cc1plus: warning: unrecognized command line option "-Wno-address-of-packed-member" [enabled by default]
make: *** [src/FlowRiskAlerts.o] Error 1

[2021-09-16 07:27] simonemainardi commented on #5875
You nDPI is not aligned. Update nDPI to the latest version.

[2021-09-16 07:27] #5875 closed, assigned to nobody

[2021-09-16 07:31] wulei-student commented on #5875
I use 5.0-stable succeed（at first I use “dev” branch）

[2021-09-16 07:43] simonemainardi commented on #5875
You can use dev, but you have to have both nDPI and ntopng at the tip of their respective branches.

[2021-09-16 08:18] lucaderi opened #5876 "Add SNMP Version next to the device IP"
<img width="1230" alt="image" src="https://user-images.githubusercontent.com/4493366/133576364-f78a2598-72df-4e85-a10c-617c4a990ce9.png">

It is requested to add the SNMP version used by ntopng for polling next to the device IP.

[2021-09-16 08:26] lucaderi opened #5877 "Implement minified presets in graphs"
It is useful to see trends in timeseries that can be also used as presets: clicking on them can mode you to the selected time period similar to what happens today with the dropdown menu. See the enclosed example as baseline
![Screenshot 2021-09-16 at 10 23 44](https://user-images.githubusercontent.com/4493366/133577790-513cf73e-33b4-4bfb-98b8-4d2d0bc66fe2.png)

[2021-09-16 08:29] lucaderi opened #5878 "Add SNMP MIB Preferences"
It is requested to add a new preference where people can disable polling of specific MIBS (e.g. LLDP, Bridge...) to reduce load on devices.

[2021-09-16 08:30] lucaderi opened #5879 "Add SNMP CPU Polling"
Currently ntopng polls CPU only of specific devices (e.g. SNMP on Linux). It is required to add CPU and temperature polling (when present) of other device types such as Dell, Juniper, Cisco...

[2021-09-16 08:37] lucaderi opened #5880 "Add Icon that reports the network health"
Similar to what Wireshark does, it is requested to add an icon in ntopng that reports the network health both in the ntop menubar and in the infrastructure menu. An alert has to be generated when we status changes over time

![Screenshot 2021-09-16 at 10 35 27](https://user-images.githubusercontent.com/4493366/133579365-2a231c2e-a221-4529-bc92-93fb11a6420a.png)

[2021-09-16 08:40] lucaderi opened #5881 "Color inconsistency"
In this example, there is only one alert with score 50 (yellow) and the icon in the menubar is red instead of yellow

![Screenshot 2021-09-16 at 10 38 18](https://user-images.githubusercontent.com/4493366/133579772-de6042d1-754e-4bb1-a2c6-9ec1a2178959.png)

[2021-09-16 09:54] lucaderi commented on #5857
This ticket depends on https://github.com/ntop/nDPI/issues/1307

[2021-09-16 10:18] MatteoBiscosi commented on #5864
Thank you for the collaboration, this problem does not concern ntopng.

[2021-09-16 10:53] samcro1967 commented on #5864
I not sure I agree that we have enough information at this pint to draw that conclusion.  The system works with 80+ other docker containers.  This is the only container that does not work.

[2021-09-16 12:36] simonemainardi commented on #5864
As it seems we have identified this as being an issue with i-tables, I would suggest you to:

- inspect all iptables rule on the host
- use tcpdump to follow the journey of DNS packets

[2021-09-16 12:49] simonemainardi commented on #5867
Can we arrange a remote session to troubleshoot? As soon as you find the process stuck again drop me an email at mainardi at ntop dot org and I can connect.

[2021-09-16 13:26] simonemainardi commented on #5869
I simulated a TooEarly condition in my lab but I get proper results. TooEarly falls under the "Unknown" category, and the throughput matches.

![image](https://user-images.githubusercontent.com/3397663/133620452-97b36e7a-d09e-4cfa-a55c-e21e92307fd5.png)

![image](https://user-images.githubusercontent.com/3397663/133620529-9c991bf8-3118-45d0-8cd1-4f438e9a0c86.png)

continuing the investigation

[2021-09-16 13:42] samcro1967 commented on #5864
I am seeing what look like errors in tcpdump when I ping by name, but not quite sure what they mean.

I also compared the iptables with ntopng in host mode vs. bridge mode and they are identical.  The table is below for reference.  Nothing in it stands out to me.  Seems to be consistent to what I see from other docker on Ubuntu examples with a quick Google search.

Previously I had stopped ntopng

[2021-09-16 13:51] simonemainardi commented on #5869
I have resolved an ancillary issue possibly causing wrong interfaces selection. Basically, you could end up in having interface X selected and seeing the top-apps dashboard for interface Y. New builds are in progress. Please, wait a couple of hours, upgrade, and report.

[2021-09-16 14:14] astalush opened #5882 "Top senders or receivers no results found"
Hy guys. I have a question/problem regarding the infos on the traffic page on interface.

For example between 10h20 and 10h40 today we had a peak of traffic which we can see on ntopng traffic page, it works. For top categories and top applications.

But when I want to see top senders or top receivers (to see who's generating all the traffic) it doesn't find anything. Is there an option to select?

[2021-09-16 14:27] simonemainardi commented on #5882
@MatteoBiscosi please check this.

[2021-09-16 14:28] lucaderi opened #5883 "Set an upper limit on active hosts checks"
Currently, there is no upper limit on the number of checked hosts (e.g. via ICMP): it is required to set a limit (if you want you can set a preference for that) for preventing too many hosts to be added in active checks.

[2021-09-16 14:29] lucaderi opened #5884 "Set an upper limit on SNMP devices checks"
Same as https://github.com/ntop/ntopng/issues/5883 for SNMP

[2021-09-16 14:30] lucaderi opened #5885 "Make SNMP Polling Frequency Configurable"
This is to request the ability to modify the SNMP polling frequency (5 min by default) to 1 minute via a preference

[2021-09-16 14:34] simonemainardi commented on #5855
Currently, we are unable to reproduce. I am closing this for now and will reopen if necessary. Thanks for providing feedback tough.

[2021-09-16 14:34] #5855 closed, assigned to nobody

[2021-09-16 14:39] lucaderi opened #5886 "Implement custom Lua Alert"
ntopng has the ability to trigger alerts through checks. This is to request to implement, through a Lua script (e.g. running on the minute) that can make some checks and eventually trigger an alert

[2021-09-16 14:47] simonemainardi commented on #5874
Please, show a full screenshot of the page, I can't understand where you are.

[2021-09-16 14:48] simonemainardi commented on #5874
Also report the ntopng configuration used, and if that was only a temporary issue.

[2021-09-16 15:01] lucaderi opened #5887 "LLDP REST API Missing"
Implement a REST API endpoint to return LLDP adjacency information (either for all nodes or starting from a specific one)

[2021-09-16 15:02] lucaderi opened #5888 "Bridge MIB Rest API Missing"
Same as https://github.com/ntop/ntopng/issues/5887 for Bridge MIB

[2021-09-16 15:03] lucaderi opened #5889 "SNMP Interface Group REST API Missing"
Same as https://github.com/ntop/ntopng/issues/5887 for Interface group

[2021-09-16 15:04] lucaderi opened #5890 "SNMP System Group REST API Missing"
Same as https://github.com/ntop/ntopng/issues/5887 for SNMP system group

[2021-09-16 15:05] lucaderi opened #5891 "SNMP VLAN Discovery"
Currently, ntopng does not disclose any VLAN information (e.g. the list of VLANs of an interface). This is to request its implementation even though not all vendors support it.

[2021-09-16 15:08] lucaderi opened #5892 "Missing LLDP Hyperlinks"
This is to request the addition of two hyperlinks in the LLPD interface page that allow the user to  jump into the other device without having to type the address/name in the search field
![image](https://user-images.githubusercontent.com/4493366/133637143-d5629c27-4fd1-4351-9075-c037b0139b7a.png)

[2021-09-16 15:10] lucaderi opened #5893 "SNMP Non-Trunk Port Alarm"
This is to request the implementation of a new alarm that is triggered (so it has to be stateful) as long as a non-trunk port has a high number of MAC addresses.

[2021-09-16 15:21] simonemainardi commented on #5893
What makes the effort high is having the alert as stateful as SNMP port alerts are currently stateless.

[2021-09-16 18:19] ajgnet commented on #5814
Hello, reporting the same problem on PfSense 22.01

[code]

This causes the web updater to fail until /usr/local/etc/pkg/repos/ntop.conf is removed

<img width="465" alt="Screen Shot 2021-09-16 at 2 18 24 PM" src="https://user-images.githubusercontent.com/2211972/133664385-5d78c0ab-1f1e-4508-a353-19e8da69619c.png">

It appears "packagesite.pkg" does not exist in the pkg repo:
https://packages.ntop

[2021-09-16 21:37] BSDer commented on #5814
Hi,
chances are you are stuck somewhere. Try `pkg delete ntop` and `pkg add https://packages.ntop.org/FreeBSD/FreeBSD:12:amd64/latest/ntop-1.0.txz`.
Should this not work, please report the content of `/usr/local/etc/pkg/repos/ntop.conf` and `ls -l /usr/local/etc/pkg/fingerprints/ntop/trusted/`

[2021-09-17 07:11] lucaderi commented on #5849
Can you please instruct nprobe to dump into ELK that is already able to export the  "exporter_ipv4_address" ?

[2021-09-17 07:12] npacket opened #5894 "Segmentation Fault for enabling the Dynamic Traffic Disaggregation"
Hi,

They’re using the blow version of ntopng and they’re using the collector mode.
They’re collecting the 4 x the external nprobe.
In the ntopng menu, they tried to set “Interface > Dynamic Traffic Disaggregation > Probe IP” and they got the segmentation fault.
They can’t get the full log messages because of the security issue.
Please check this issue and let me advice.

[Version Information]
Ver

[2021-09-17 08:22] ajgnet commented on #5814
Hi - That did not resolve the error for me.

[code]

[2021-09-17 08:58] BSDer commented on #5814
Your installation is correct. Ok, so this is a problem within NTOP repo which is out of sync with pkg from the ports. As a workaround you can downgrade your pkg to a pre 1.17.0 version (e.g. from here https://pkg.net.isc.upenn.edu/FreeBSD%3A12%3Aamd64%3Alab/All/pkg-1.16.3.txz) or wait for NTOP repo to be updated (this shall happen soon, stay tuned).

[2021-09-17 09:40] cardigliano commented on #5894
@npacket is the customer using a single ZMQ interface to collect from all the probes? Is the customer using view interfaces? Could you provide the ntopng configuration file? Thank you.

[2021-09-17 10:23] simonemainardi commented on #5887
Implemented in referenced and companion pro commit.

[2021-09-17 10:24] simonemainardi commented on #5887
[code]

[2021-09-17 11:22] nobless commented on #5814
Thanks, waiting for the update!

[2021-09-17 12:36] simonemainardi commented on #5888
Addressed in the referenced and companion pro commit.

Examples

[code]

[2021-09-17 14:05] simonemainardi commented on #5889
Addressed in the referenced commit and companion pro commit.

Examples

[code]

[2021-09-17 14:11] MatteoBiscosi commented on #5882
Hi @astalush I'm sorry but as you can see I'm able to see both of them
![Screenshot from 2021-09-17 16-06-25](https://user-images.githubusercontent.com/49585191/133796368-53297790-22a5-433b-b937-0525a0b2c134.png)
![Screenshot from 2021-09-17 16-07-58](https://user-images.githubusercontent.com/49585191/133796483-4fa8b05a-4dbd-46c0-831a-5ab87cbdede5.png)

Do you have any error in ntopng after loadin

[2021-09-17 14:27] simonemainardi commented on #5890
Addresses in the referenced and companion pro commit.

Examples

[code]

[2021-09-17 14:54] astalush commented on #5882
NTOPNG is in collector mode, it receives data from nprobe.

I have for example this error:
"sept. 17 00:00:00 PVLSSINETFLOW ntopng[1282]: [LuaEngine.cpp:560] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/interface/daily.lua][/usr/share/ntopng/scripts/callbacks/interface/daily.lua:9: module 'ts_utils' not found:]"

Local Senders/Receivers graph ?

Thing is that sometimes it shows the

[2021-09-17 14:57] MatteoBiscosi commented on #5868
Hi @dkrey the issue should be solved, a new build is going to be released at most tomorrow morning. Please when the new update is up, let me know if the problem persists or not

[2021-09-17 14:59] MatteoBiscosi commented on #5862
Implemented as requested

[2021-09-17 14:59] #5862 closed, assigned to MatteoBiscosi

[2021-09-17 14:59] MatteoBiscosi commented on #5854
Implemented as requested

[2021-09-17 14:59] #5854 closed, assigned to MatteoBiscosi

[2021-09-17 15:00] MatteoBiscosi commented on #5834
Implemented as requested

[2021-09-17 15:00] #5834 closed, assigned to MatteoBiscosi

[2021-09-17 15:00] MatteoBiscosi commented on #5850
Implemented as requested

[2021-09-17 15:00] #5850 closed, assigned to VasilisTako

[2021-09-17 16:00] lucaderi commented on #5814
@BSDer Can you tell me exactly what we're supposed to do to fix this problem? We're not super experts with BSD packaging as far as I can see

[2021-09-17 17:59] BSDer commented on #5814
Hi Luca,
[code]
You might have poudriere files in another place, change accordingly.
Run a test if you can, or ping me and I will test it.
Regards,

[2021-09-18 07:52] lucaderi opened #5895 "Realtime Flow Risk Dashboard"
In the current implementation, it is not possible to see in realtime the active flows risks nor filter flows affected by a specific risk.

[2021-09-19 09:28] lucaderi commented on #5892
Fixed

[2021-09-19 09:28] #5892 closed, assigned to simonemainardi

[2021-09-19 09:38] lucaderi commented on #5814
Hi @BSDer Can you please update and report if it is working now? I basically made a symbolic link from what I have understood from your message

[2021-09-19 17:44] blumberg-git commented on #4724
Agree with you regarding free space on ER-X. What about ER4 or ER8-XG with plenty of free space. Will ntop work?

[2021-09-19 20:32] nobless commented on #5814
Seems problem is fixed, no errors now:

[code]

[code]

Also sugestions, to maintain this package correctly:

rename repo package to ntopng-repo for example, as ntop-1.0 is static naming without version increment.
Increase version number to 1.1, as it now we need to remove it completly to install new version.

Thanks for the fix BSDer and lucaderi!

UPDATE: Seems not complete solution, posted belo

[2021-09-19 20:37] nobless commented on #5814
Update:
notice that PFSense update in Web GUI is still broken.

Without ntop-1.0 package:
![image](https://user-images.githubusercontent.com/11432520/133942201-a866f1b1-6553-4d4e-acc8-2f47c595269e.png)

With ntop-1.0 package:
![image](https://user-images.githubusercontent.com/11432520/133942229-ba6b646e-b80d-4e2e-98e7-de67160037ff.png)

[2021-09-19 21:00] nobless opened #5896 "Errors in log [ database disk image is malformed ]"
19/Sep/2021 23:57:19 [AlertStore.cpp:131] ERROR SQL Error: database disk image is malformed INSERT INTO flow_alerts (alert_id, tstamp, tstamp_end, severity, ip_version, cli_ip, srv_ip, cli_port, srv_port, vlan_id, is_cli_attacker, is_cli_victim, is_srv_attacker, is_srv_victim, proto, l7_proto, l7_master_proto, l7_cat, cli_name, srv_name, cli_country, srv_country, cli_blacklisted, srv_blacklisted,

[2021-09-20 06:53] lucaderi opened #5897 "Missing IPS mode documentation"
The ntopng manual does not contain a section (referred in the index) that describes the IPS mode and its integration with nProbe.

This section is way too short and enough to use this feature: https://www.ntop.org/guides/ntopng/web_gui/pools.html#traffic-policies

[2021-09-20 07:10] lucaderi opened #5898 "Add checks Factory Reset"
This is to require a new button (next to "disable all") in the checks page to reset checks to factory settings.
![Screen Shot 2021-09-20 at 09 09 11](https://user-images.githubusercontent.com/4493366/133967003-6a7543c5-a923-43cc-ab8c-632fa7b0bbea.png)
This button will basically perform the same action of Manage Configurations -> Checks -> Factory reset

[2021-09-20 07:11] lucaderi opened #5899 "Further Checks Classification"
Checks are currently divided in families but they are not easy to find in particular in IPS mode for understanding which check will cause a host to be jailed. It is requested to add a way to filter checks (or at least initially just mark) to see which checks cause a host to be jailed and filter term in a separate category.

[2021-09-20 07:13] lucaderi opened #5900 "Implement IPS Block Logging"
When ntopng interacts with ntopng blocking hosts, it does not create a log of hists being blocked/unblocked/when. This makes it difficult to understand what the IPS did and for how long, very useful for troubleshooting issues.

[2021-09-20 07:19] npacket commented on #5849
Unfortuneately, they have to use ntopng to dump into ELK because of their environment.
Their customer required ntopng should collect the several nprobe data and ntopng send to dump into ELK as a single instance.
This is the reason why they’re asking to dump the "exporter_ipv4_address" from ntopng.
Can you able to export the "exporter_ipv4_address" field when ntopng send the dump data to ELK ?

BR,

[2021-09-20 08:14] ListenNjoy commented on #5874
I found when i untick 30m ago(se purple marker) in picture 2021-09-17-excl-30min the graph show both inbound and outbound traffic with same time.

And

![2021-09-17 excl-30min](https://user-images.githubusercontent.com/43986547/133972796-70a16f5c-22bc-45ba-8150-ea2433b48792.jpg)
when I tick the 30 min it shows the outbound traffic 30min ahead, se picture 2021-09-17-incl-30min
.
They bo
![2021-09-1

[2021-09-20 08:24] bmansvk commented on #5871
I have following network topology
[code]
ROUTER1 has MAC 52:54:00:26:b4:80
ROUTER2 has MAC 52:54:00:05:a3:e6

NTOP sees traffic between ROUTER1 and ROUTER2. On L2 ISO/OSI layer it only sees R1 and R2 MACs. On L3 ISO/OSI it sees real IP addresses of LAN clients.

If I have following TCPDUMP trace:
[code]

If I configure "MAC Address Based Traffic Directions" with MAC 52:54:00:26:b4:80, which is EGR

[2021-09-20 08:50] lucaderi opened #5901 "Broken Layout when adding SNMP device"
![image](https://user-images.githubusercontent.com/4493366/133977164-9f28cfcf-e936-41da-82ef-79a519bee5e7.png)

[2021-09-20 08:54] lucaderi opened #5902 "Invalid space in SNMP Hostnames"
![image](https://user-images.githubusercontent.com/4493366/133977468-7250b44f-12a1-4593-b91a-c49548be0e81.png)

In SNMP when host names are long there is a wide space to be removed. Please check if the same problem applies to hosts and other pages with a similar layout

[2021-09-20 09:45] bmansvk commented on #5872
It seems according to documentation, this is only works for alerts delivered via syslog.

I am trying to log all flows to syslog (using -F syslog cmdline parameter). If I configure endpoint according to your screenshot, I cannot see any flows forwarded to remote syslog server.

[2021-09-20 09:48] lucaderi opened #5903 "Implement RST and FIN scan checks"
Similar to the SYN scan check already present, implement RST and FIN scan.

[2021-09-20 09:49] lucaderi opened #5904 "Implement ICMP Flooding Check"
Similar to the SYN scan check already present, implement ICMP flooding (e.g. > 100 pkts/sec can be a reasonable default)

[2021-09-20 09:50] lucaderi opened #5905 "Implement DNS and SNMP Flooding Check"
Same as #5904 for DNS and SNMP. Possible defaults 750 pkts/sec

[2021-09-20 09:53] lucaderi opened #5906 "Packet size checks"
Similar to other checks, implement a new check for spotting hosts that misbehave. Possible thresholds could be

0-128 byte > 30000 pkt/s
129-256 byte > 10000 pkt/s

or just have a single threshold (10000 pkt/s)

[2021-09-20 09:57] simonemainardi commented on #5899
- Added a new IPS/IDS category with ability to filter and search

![image](https://user-images.githubusercontent.com/3397663/133984136-d7446204-2c41-4d12-9802-336b990bce9c.png)

- Categorized the Dangerous Host check into the IPS/IDS category
- Improved the description of the Dangerous Host check

![image](https://user-images.githubusercontent.com/3397663/133984243-a72b92ef-1e6d-4daf-ab74-70ad7ac8

[2021-09-20 12:38] lucaderi opened #5907 "Implement AS Traffic Breakdown Report"
From (nProbe + BGP Plugin)
![image](https://user-images.githubusercontent.com/4493366/134003327-2e2d2f6a-a38e-4caf-80c4-8f5665e883f0.png)

implement

![image](https://user-images.githubusercontent.com/4493366/134003477-b1bf0160-6921-4191-93fe-687d6e1ee0e2.png)

[2021-09-20 13:29] basicmonkey commented on #5797
Thank you! Have run all that, will let you know.

[2021-09-20 13:31] MatteoBiscosi opened #5908 "Order Probes Flow View by Probes name"
Currently in the flow view when you have more then 1 probe, the probe filter can only be order by IP and not by Probes Name. It is requested to add the possibility to sort them by Probe Name too.

[2021-09-20 14:36] MatteoBiscosi commented on #5832
Hi @Yoshihiro-jp sorry for the trouble, it was my bad, I didn't see that you have Stable version and fixed only dev version. Now I should have fixed into the stable version too. New builds are going to start soon, please let me know and sorry again for the error

[2021-09-20 15:00] simonemainardi commented on #5900
Implemented solution is as follow.

The can be enabled as a System check

![image](https://user-images.githubusercontent.com/3397663/134024008-5620ab1d-33cb-4fca-986f-1adf3cacc67e.png)

When enabled, low-priority alerts are emitted for every of the following events:
- Add an host to the jailed hosts pool
- Remove an host from the jailed hosts pool
Additional events can be added and can be supporte

[2021-09-20 15:56] MatteoBiscosi commented on #5829
Now should be fixed, pro repo

[2021-09-20 16:17] simonemainardi commented on #5872
Correct.

Flows are only supported to the local syslog.

[2021-09-20 16:22] bmansvk commented on #5872
so, please add rsyslog package to docker image :-)

For me it is sufficient to have rsyslog installed, image doesn't need to start it via entrypoint docker script. One more package doesn't matter I think.

[2021-09-21 08:20] Yoshihiro-jp commented on #5832
Dear  @MatteoBiscosi ,

Kindly refer to the attached file.
I upgraded to the below stable version.

ntop@ntopng:/etc/ntopng$ sudo ntopng -V
Version:        5.0.210920 [Enterprise/Professional build]
GIT rev:        5.0-stable:fd6465bdbeda14d2f8ed420c72abe47d3b9b7afb:20210920
Pro rev:        r4196
Built on:       Ubuntu 20.04.3 LTS

I noticed that you implemented the Top Local senders and Top Local

[2021-09-21 08:58] MatteoBiscosi commented on #5873
Fixed, the problem was that at the startup a new time was given to the flows (current time) for this reason if I had a flow older then 24 hours and every 23 hours I restarted ntopng, the time was going to reset and no flow was purged. Fixed by adding serialization/deserialization of last flow creation time.

[2021-09-21 08:58] #5873 closed, assigned to MatteoBiscosi

[2021-09-21 09:29] #5868 closed, assigned to MatteoBiscosi

[2021-09-21 09:59] lucaderi commented on #5814
We have done some tests and found no problems whatsoever.

From pfsense we have done

[code]

so it looks good. On the remote end (packages.ntop.org) we also see no errors during the upgrade

[code]

From shell if we do
[code]

Everything works as expected.

We have the feeling that the pfSense GUI has some issues with third party repositories.

@BSDer What do you think?

[2021-09-21 10:21] simonemainardi opened #5909 "Observation Point switch reportedly causing HTTP errors"
selecting the observation point from the dropdown

![image](https://user-images.githubusercontent.com/3397663/134154367-f9c106b2-2eef-4d5c-a7e6-d5306d5972d7.png)

causes

![image](https://user-images.githubusercontent.com/3397663/134154432-aa0b9629-bbba-4f81-a075-8b0346252647.png)

[2021-09-21 10:51] simonemainardi commented on #5872
Unfortunately, we can't pollute the container with ryslog, it's not the way containers work.

Kindly open a feature request to have ntopng sending flows to remote syslog.

[2021-09-21 10:53] simonemainardi commented on #5864
No.

Can you track the journey of a packet when the DNS is not working? Where does it end to? It is very strange this behavior. Also try and start the ntopng container without starting ntopng.

[2021-09-21 10:59] simonemainardi commented on #5909
Seems the bug is not reproducible even when using the http prefix with -Z.

User is reportedly using cloudflare to login so my guess is that the HTTP request is somehow mangled in flight.

[2021-09-21 11:02] bmansvk commented on #5872
OK, I understand you.

[2021-09-21 11:07] dario-pilori opened #5910 "ntopng 5.0-stable repeately drops all packets on interface"
Hello

after upgrading to ntopng 5.0-stable, after few hours, all packets are dropped on one interface (1 Gbit/s, with PF_RING):

![image](https://user-images.githubusercontent.com/16277218/134159591-5cfb6f46-8da3-4208-8c02-43eda909429e.png)

Restarting ntopng resumes the reception, but after few hours all packets are dropped again. At the same time, the activity "minute.lua" hangs:
![image](https

[2021-09-21 12:26] simonemainardi commented on #5910
Yes. Likely the same issue. I am in touch with the author of #5867 to arrange a remote session but still waiting for the issue to occur. Feel free to send me connection details so that I can do a remote session and check. You can use mainardi at ntop dot org

[2021-09-21 12:29] simonemainardi opened #5911 "Checks dropdown not refreshing with tab categories"
Categories dropdown doesn't refresh dinamically when a check is enabled/disabled. Only a refresh makes the dropdown consistent.

![image](https://user-images.githubusercontent.com/3397663/134170296-6a3ad923-6dcb-4f5a-8159-4948c7c819c1.png)

![image](https://user-images.githubusercontent.com/3397663/134170401-cd9cade0-73ea-4bc2-a3c1-64ecba8189bb.png)

To reproduce:

Toggle on/off the "intrusion det

[2021-09-21 12:33] samcro1967 commented on #5864
dnstracer in both modes give the same result for the flow of the DNS packet.
[code]
I set the the entrypoint of the container to "tail -f /dev/null" so the container will start, but does not start ntopng.  DNS works as expected with the container running, but ntopng stopped.

[2021-09-21 13:58] MatteoBiscosi commented on #5824
Fixes are requested, now if no data is available it is going to be shown an empty table
![Screenshot from 2021-09-21 15-55-34](https://user-images.githubusercontent.com/49585191/134184365-d6871e21-63bc-4af1-af14-17ba22983fdd.png)

[2021-09-21 13:58] #5824 closed, assigned to simonemainardi

[2021-09-21 14:27] simonemainardi commented on #5610
Implemented the 'All' tab with the ability to toggle and configure checks for any family

![image](https://user-images.githubusercontent.com/3397663/134189661-ece8d4d4-e1b4-476e-ab41-901ee05ccf6e.png)

[2021-09-21 15:14] simonemainardi commented on #5898
Added

![image](https://user-images.githubusercontent.com/3397663/134197781-da0e0d5e-c961-4b21-80c4-683f821bd9f6.png)

[2021-09-21 22:35] nobless commented on #5814
yeah cli works, GUI is not working after installing ntopng repository

[2021-09-22 08:14] lucaderi commented on #5899
In the All tab it is not clear where the checks are coming from (e.g. host or SNMP). Please add a column that shows where the check is coming from

[2021-09-22 08:16] lucaderi commented on #5898
The message says "Factory reset all checks for the current configuration"

![Screen Shot 2021-09-22 at 10 14 52](https://user-images.githubusercontent.com/4493366/134307440-f2e4061c-79e4-4443-bc88-80be9beeb944.png)

I don't understand what is the "current configuration". I believe it needs to be removed and renamed to "Do you want to reset the checks configuration to the default"?

[2021-09-22 08:16] lucaderi commented on #5889
Verified as fixed

[2021-09-22 08:16] #5889 closed, assigned to simonemainardi

[2021-09-22 08:17] lucaderi commented on #5887
Verified as fixed

[2021-09-22 08:17] #5887 closed, assigned to simonemainardi

[2021-09-22 08:18] lucaderi commented on #5829
![Screen Shot 2021-09-22 at 10 17 48](https://user-images.githubusercontent.com/4493366/134307876-f5aa5ac4-7136-4322-9a01-01e9a4c16b31.png)
Not quite

[2021-09-22 08:18] lucaderi commented on #4916
Verified as fixed

[2021-09-22 08:18] #4916 closed, assigned to simonemainardi, VasilisTako

[2021-09-22 08:20] lucaderi commented on #5890
Verified as fixed

[2021-09-22 08:20] #5890 closed, assigned to simonemainardi

[2021-09-22 08:20] lucaderi commented on #5888
Verified as fixed

[2021-09-22 08:20] #5888 closed, assigned to simonemainardi

[2021-09-22 08:21] #2225 closed, assigned to cardigliano

[2021-09-22 08:25] lucaderi commented on #5860
Verified as fixed

[2021-09-22 08:25] #5860 closed, assigned to simonemainardi

[2021-09-22 08:26] lucaderi commented on #5861
Verified as fixed

[2021-09-22 08:26] #5861 closed, assigned to simonemainardi

[2021-09-22 08:52] lucaderi commented on #5610
Verified as fixed but the family is missing. Please add a column for reporting this information

[2021-09-22 08:58] lucaderi commented on #5782
The idea is to show where are in the service map (so only for local hosts interaction). As described this ticket is to show where problems are and to jump to them, NOT to add a window with the numerical information about the number of alerts. Hence
- add under the host's filter "Only Alerted Hosts"
- under this filter, you will depict only hosts and edges with alerts. Those with no alert won't be

[2021-09-22 09:00] lucaderi opened #5913 "Purged hosts in the Service/Periodicity Map"
![image](https://user-images.githubusercontent.com/4493366/134314335-f5d03cca-7699-4b3e-bc89-c17bd597b0ed.png)

Hosts that are idle and thus not in memory, should not have a valid hyperlink enabled. The hyperlink has to be present only for those hosts in memory and thus accessible.

[2021-09-22 09:03] lucaderi opened #5914 "Invalid Checks Filter"
Suppose I am on the enabled tab and I filter cybersecurity. This is what I see

![Screen Shot 2021-09-22 at 11 01 32](https://user-images.githubusercontent.com/4493366/134314742-1e49cdd7-45bf-4700-9ece-6f38d8b911c1.png)

Then I click on the All tab I see

![image](https://user-images.githubusercontent.com/4493366/134314899-1d37e6c6-f026-41a4-9b74-a3f240af361f.png)

So in essence the filter is stil

[2021-09-22 09:18] MatteoBiscosi commented on #5913
Fixed, pro repo

[2021-09-22 09:22] lucaderi commented on #5858
![image](https://user-images.githubusercontent.com/4493366/134317800-f4688ca4-fe08-41be-b072-1b6d4edfd61e.png)

Still not working and unclear to use. Please avoid partial commits

[2021-09-22 10:31] MatteoBiscosi commented on #5832
Hi @Yoshihiro-jp , did you perhaps enabled the option set the local broadcast domain as MAC address on that interface?
![Screenshot from 2021-09-22 12-26-25](https://user-images.githubusercontent.com/49585191/134327630-9b5b6184-9297-44df-91e2-4619ff28d05a.png)
Could you please send me the http request to get the graph and the response (see the picture below, the request is called "ts.lua")? I'm so

[2021-09-22 10:33] BSDer commented on #5814
Following up on this after a number of attempts to make pfsense cope with ntop, we have found that pfsense is not keen on working with packages from 3rd parties, for example check out https://forum.netgate.com/topic/97731/freebsd-packages-on-2-3rc/28 where people end up asking pfsense developer to add this or that package to their repository.

Whilst we perceive pfsense behavior as a bug, they see

[2021-09-22 10:45] Yoshihiro-jp commented on #5832
[ntopng Top Local senders_receivers bug.zip](https://github.com/ntop/ntopng/files/7209960/ntopng.Top.Local.senders_receivers.bug.zip)

Dear @MatteoBiscosi ,

Kindly refer to the attached file. I set it with "IP Address".

Kindly refer to the attached file.
It is like below.
https://192.168.91.50/lua/rest/v2/get/timeseries/ts.lua?ts_query=ifid%3A5&initial_point=true&epoch_end=1632306900&epoch_begin

[2021-09-22 12:32] simonemainardi commented on #5610
Family added. Choice has been to add the family as first column without title

<img width="1004" alt="image" src="https://user-images.githubusercontent.com/3397663/134344043-7cef7bcc-ff02-48f1-8d29-76e89c985bb6.png">

This to be consistent with the alerts page.

[2021-09-22 13:40] simonemainardi commented on #5899
Added as part of https://github.com/ntop/ntopng/issues/5610#issuecomment-924886123

[2021-09-22 13:51] simonemainardi commented on #5871
Correct. Make sure to tick "Mirrored Traffic", add "52:54:00:26:b4:80" to "MAC Address Based Traffic Directions" and restart ntopng.

Example, this is what I get (look at the top tiny chart) when I add the MAC address of my Router to the "MAC Address Based Traffic Directions"

<img width="1078" alt="image" src="https://user-images.githubusercontent.com/3397663/134356367-2945acc6-01cc-49aa-9831-1a3

[2021-09-22 13:53] simonemainardi commented on #5896
Seems the SQL db is corrupted:

- stop ntopng
- execute `find /var/lib/ntopng -name "alert*.db" -delete`
- restart ntopng

[2021-09-22 13:53] #5896 closed, assigned to nobody

[2021-09-22 13:54] simonemainardi commented on #4724
@lucaderi

[2021-09-22 14:35] basicmonkey commented on #5797
Working perfectly now! Thank you.

[2021-09-22 14:56] simonemainardi commented on #5797
thanks for reporting.

[2021-09-22 14:58] #5797 closed, assigned to simonemainardi

[2021-09-22 21:36] f1sherman opened #5915 "High iowait after the top of the hour"
Hello and thank you for a great product! I've noticed since upgrading to ntopng 5.0 that I'm seeing high iowait for 10-20 minutes after the top of the hour, every hour. Any suggestions to troubleshoot or tune this issue? Thanks again!

[2021-09-23 09:13] lucaderi commented on #5133
No longer necessary to fix on 32 bit architectures

[2021-09-23 09:13] #5133 closed, assigned to nobody

[2021-09-23 09:14] lucaderi opened #5916 "Speedtest on Multiple Interfaces"
This is to request the implementation of speedtest on a specific egress interface

[2021-09-23 09:28] lucaderi opened #5917 "Introduce Score Support in nEdge"
nEdge should report score information as ntopng does

[2021-09-23 09:30] lucaderi opened #5918 "Introduce Infrastructure Support"
This ticket is to request the availability of Infrastructure in nEdge already available in ntopng

[2021-09-23 09:33] sunshiros opened #5919 "Hostnames in Active Monitoring"
How can i have hostnames instead of IP on Active Monitoring ?

[2021-09-23 09:41] #5919 closed, assigned to nobody

[2021-09-23 09:53] lucaderi opened #5920 "Report MAC address Traffic Information"
When the interface is set based on MAC addresses

![Screenshot 2021-09-23 at 11 50 24](https://user-images.githubusercontent.com/4493366/134487410-e2864e5d-cceb-4095-88fc-6a051f68859b.png)

the icon on the MAC menubar is missing

![Screenshot 2021-09-23 at 11 50 15](https://user-images.githubusercontent.com/4493366/134487415-81c24903-258e-4058-a816-9c4254d1f727.png)

and it can be retrieved clicki

[2021-09-23 09:54] lucaderi commented on #2918
When a lease changes, it is request to keep track of a log of MAC/IP assignment

[2021-09-23 10:56] MatteoBiscosi commented on #5173
It has been decided that the full implementation is very complex so for the time being it is required to enable the duplicate disaggregated traffic as suggested by @simonemainardi

[2021-09-23 10:56] #5173 closed, assigned to cardigliano

[2021-09-23 10:58] lucaderi commented on #5743
Verified as fixed

[2021-09-23 10:58] #5743 closed, assigned to simonemainardi, cardigliano, MatteoBiscosi

[2021-09-23 12:49] simonemainardi commented on #5910
I've fixed an issue possibly causing this behavior. New dev and stable builds are in progress, please hold on a couple of hours, update, and let me know.

[2021-09-23 12:50] simonemainardi commented on #5867
I've fixed an issue possibly causing this behavior. New dev and stable builds are in progress, please hold on a couple of hours, update, and let me know. Thanks for providing the machine for the debugging.

[2021-09-23 15:24] simonemainardi commented on #5909
Issue is now fixed. See referenced commit and https://github.com/ntop/ntopng/commit/2e6068bdef592cab916fd4f2e1690825edffe7cd

[2021-09-23 15:24] #5909 closed, assigned to simonemainardi

[2021-09-23 15:53] simonemainardi commented on #5897
Added and referenced in the section containing all other ntop products

![image](https://user-images.githubusercontent.com/3397663/134541413-6fc5a8ae-8ea3-4add-bb69-2845b3081527.png)

[2021-09-24 04:40] Niklasr69 opened #5921 "Dashboard data view uncleared"
In the dashboard you have the following view, se attachment
I would interpret it as that interface 5557 and OP 1235  have a throughput 733M / 1.5 G with number of flows 1.9k etc.
![dashboard_1](https://user-images.githubusercontent.com/26242302/134618972-66d54ac8-3dd4-40cd-b644-a964d8656122.PNG)

But this is really all traffic on interface 5557
I would also like to be able to see the throughput an

[2021-09-24 04:45] Niklasr69 opened #5922 "Dashboard view for an OP"
Be able to breakdown to OP level in the dashboard view to see the graphics for an OP

![dashboard_2](https://user-images.githubusercontent.com/26242302/134619504-12db01c5-9b78-4232-b9f8-8fe04d62d8d4.PNG)

[2021-09-24 04:48] Niklasr69 opened #5923 "All probes can be selected when filtering,even if they belong to another OP in flows view"
In an OP only the probes that belongs to this OP should show up when filtering.

[2021-09-24 07:50] simonemainardi opened #5924 "TLS server name not properly parsed via ZMQ"
TLS server name is parsed as host name but not as TLS server name. This causes partial data and missing data in ES.

[2021-09-24 09:42] dario-pilori commented on #5910
I confirm that the latest stable build (v5.0.210923) fixes the issue.

[2021-09-24 09:42] #5910 closed, assigned to simonemainardi

[2021-09-24 10:21] #5924 closed, assigned to simonemainardi

[2021-09-24 10:44] simonemainardi commented on #5867
@GrumpyOldNetworkGuy can you please confirm and close this issue is solved? Thanks.

[2021-09-24 10:46] MatteoBiscosi commented on #5832
Hi @Yoshihiro-jp i did a greater fix to the top senders/receivers table because there was a big aggregating the stats. In a few hours a new update should be available, please update and let me know if everything is fine.
I'm still unable to reproduce your problem. Which type of dynamic traffic disaggregation do you have? However as you can see from the screenshot you gave me, no data is present in

[2021-09-24 12:53] simonemainardi commented on #5911
This is fixed in the latest dev.

[2021-09-24 12:53] #5911 closed, assigned to VasilisTako

[2021-09-24 12:56] simonemainardi commented on #5901
![image](https://user-images.githubusercontent.com/3397663/134677643-68bb8968-37ea-4d61-a999-f5363cc8c3a2.png)

[2021-09-24 15:26] simonemainardi commented on #5881
Implemented as requested:

![image](https://user-images.githubusercontent.com/3397663/134700293-f5e44ad7-b6f2-4060-a563-8e56d8cc9305.png)

![image](https://user-images.githubusercontent.com/3397663/134700340-3d0fcf8a-890d-46c1-90be-446ef23ad982.png)

![image](https://user-images.githubusercontent.com/3397663/134700396-21677c93-6759-4e49-86be-19fd251b9b62.png)

[2021-09-24 20:07] netsolv opened #5925 "CPU Utilization"
I've noticed since the 9/4/21 update on rpi 4b the nprobe service is consistently using one core around 100% about 100% of the time. Is there something that has changed? All my .conf files for ntopng has not been changed in months. Just been running the apt update...

[2021-09-24 23:14] Yoshihiro-jp commented on #5832
Dear @MatteoBiscosi ,
I upgrade to the "Ver. 5.0.210923" and I had waited for a hour then I checked the Top Local Senders/Receivers graphs.
Like attached file the problem is still remaining.

I use  the "Probe IP + Ingress Interface".

Kindly refer to the "Readme(version 5.0.210923).txt". I collected those response, Headers and Request.

By the way if you can't reproduce the problem I could provid

[2021-09-26 08:38] gafzgarrr opened #5926 "Question: where to save GeoIP Data in FreeBSD"
I`m using ntopng on an FreeBSD system.
In which folder do i need to load the Files for GeoIP from MaxMind?

Tried Linux and OS X, both with no success.

Thanks

[2021-09-26 12:34] GrumpyOldNetworkGuy commented on #5867
New uptime record for ntopng-5.0-stable: 2 Days, 16:01:04!
Thank you @simonemainardi for fixing this issue.

[2021-09-26 12:34] #5867 closed, assigned to simonemainardi

[2021-09-26 18:37] gafzgarrr commented on #5926
Okay, my false, had to move it to /var/lib/GeoIP

[2021-09-26 18:37] #5926 closed, assigned to nobody

[2021-09-27 08:49] MatteoBiscosi commented on #5882
Hi @astalush I did a greater update regarding top senders/receivers, could you please update ntopng and let me know?

[2021-09-27 09:16] MatteoBiscosi commented on #5832
Hi @Yoshihiro-jp , I fixed the problem of the empty data into the sent/rcvd column of the table but I'm still unable to reproduce the empty timeseries of the local hosts, infact as you can see from my screenshot I added 2 local hosts by using -m options and I have them into the timeseries charts.
![Screenshot from 2021-09-27 11-13-47](https://user-images.githubusercontent.com/49585191/134880250-f5

[2021-09-27 09:39] simonemainardi opened #5927 "ntopng reportedly crashing on FreeBSD 12.2"
Version

[code]

[2021-09-27 10:26] simonemainardi commented on #5927
A build with debug symbols is executing at the user premises. Will update on this matter.

[2021-09-27 12:34] simonemainardi commented on #4675
After internal review, we have determined this kind of hooks to be no longer necessary.

[2021-09-27 12:34] #4675 closed, assigned to simonemainardi

[2021-09-27 13:12] simonemainardi commented on #5925
do you mean nprobe or ntopng?

[2021-09-27 13:15] simonemainardi commented on #5894
any news?

[2021-09-27 13:16] simonemainardi commented on #5915
Please report if you have:
- Top sites / behavior analysis enabled
- ntopng configuration
- whether you are using disaggregation
- how many local hosts you have

[2021-09-27 14:04] MatteoBiscosi commented on #5908
Implemented as requested. A new Preference is available into the "Misc" preferences menu, named "Flow Table Probe Order", by setting this up, you are able to decide to order by Probe IP or by Probe Name

[2021-09-27 14:04] #5908 closed, assigned to MatteoBiscosi

[2021-09-27 14:48] TimotheusBachinger commented on #5269
Hi Luca,

finally, I am able to start the migration to the new API v2.
I already have some questions, you might be able to answer.

Till now, we were using this endpoint: `/lua/rest/v1/get/alert/data.lua`

- I am not really sure whats the corresponding endpoint in v2. `/lua/rest/v2/get/all/alert/list.lua ` was my first guess but it seems this is more a statistically overview of alerts. `lua/rest/v

[2021-09-27 15:06] simonemainardi commented on #5754
Incompatibilities should have been resolved now.

[2021-09-27 17:51] SalvatoreCostantino opened #5928 "RTT Autonomus System Graph is Empty"
Hello Team,
we are experiencing an issue on RTT Autonomus System timeseries. The graph is completely empty.

![immagine](https://user-images.githubusercontent.com/40372400/134959468-2e4ddfe9-1ef1-4da7-a604-ab8f14fd9c0b.png)

Ntop version is: ntopng Community v.5.0.210927 (Ubuntu 20.04.3 LTS)

Thank you.

[2021-09-28 08:13] MatteoBiscosi commented on #5832
Verified as Fixed. Please reopen this ticket if a new problem of this type arise

[2021-09-28 08:13] #5832 closed, assigned to MatteoBiscosi

[2021-09-28 09:24] MatteoBiscosi commented on #5849
Implemented as requested (screenshot below represent a flow dumped to ELK and as you can see the EXPORTER_IPV4_ADDRESS is now available)
![Screenshot from 2021-09-28 11-18-22](https://user-images.githubusercontent.com/49585191/135060745-2656a405-6202-4de5-bd3a-a029f90d3872.png)

Please reopen if some issue arise

[2021-09-28 09:24] #5849 closed, assigned to nobody

[2021-09-28 12:30] simonemainardi commented on #5895
This is totally possible. Just visit the active flows page, then pick the "Status" dropdown. This will tell you all active flows with risks (including counters).

[2021-09-28 14:43] Taralas opened #5929 "Segfault on pfSense related to LuaEngine"
Using pfSense 21.05.1-RELEASE (amd64) on a Netgate SG-4860, with  v.5.1.210927 from the ntop pkg repo, I am receiving the following error approximately 15-45 minutes after starting:

I was originally working with alfredo.cardigliano via the Discord on this issue. I have a coredump from a previous version that was also exhibiting the same behavior, which I would love to attach, but GitHub is chokin

[2021-09-28 14:55] MatteoBiscosi commented on #5805
Hi @martinscheu, I was trying to fix this but unfortunately the pcaps you provided only triggers other alerts (like Remote Access and so on...) if you have the possibility, could you try to capture an other pcap and send it again?

[2021-09-28 15:34] cardigliano commented on #5929
@Taralas I remember you had a bunch of failures, some of them were due to the inability to find lua modules (we pushed a fix for this some time ago), could you confirm you are no longer experiencing those failures?
Is this the only message you get now, or you have more logs? Thank you.

[2021-09-28 15:45] simonemainardi commented on #5927
currently running with 1+ days uptime.

[2021-09-28 16:40] MatteoBiscosi commented on #5156
As requested now the host page reports from which exporter, the host, has been found. If the host has been reported from multiple exporters then all the exporters are going to be listed.
![Screenshot from 2021-09-28 18-38-44](https://user-images.githubusercontent.com/49585191/135129568-945d0b04-113c-408d-8117-79c0266f266c.png)

[2021-09-28 17:06] simonemainardi commented on #5156
This must be reworked as the proposed implementation doesn't handle concurrency. C++ sets are not thread safe when inserting/reading.

[2021-09-28 17:15] simonemainardi commented on #5928
Is this option on?

![image](https://user-images.githubusercontent.com/3397663/135134416-6b012dc9-d1b3-4d2e-9c29-49985be882c5.png)

[2021-09-28 17:32] simonemainardi opened #5930 "PeriodicityHash leaks"
[code]

[code]

[2021-09-28 17:44] Taralas commented on #5929
That is the only message that I am receiving at this time.

[2021-09-28 18:45] netsolv commented on #5925
appears nprobe.service is responsible for the high CPU cycles

[2021-09-29 13:57] lucaderi opened #5931 "nProbe-ntopng disconnection in probe mode"
When connecting nProbe and ntopng in ZMQ probe mode everything works. If nProbe is started with the link down (i.e. the host has an IP but it can not connect to ntopng) then restoring the link (i.e. plugging the cable back) there is no connection between nProbe and ntopng and no flows are received.

It needs to be investigated on what side the problem resides

[2021-09-29 14:00] lucaderi opened #5932 "nProbe-ntopng Implement Symbolic ObservationPointIDs"
Numerical observation point Ids come from IPFIX that has them numeric. However, some users would like to identify the probe with a symbolic observationPointId (e.g.host1.domain.name) as this simplifies the setup and avoid creating matching tables on the probe side (as well symbolic mappings on the ntopng side).

This is to request changes on both nProbe and ntopng sides to handle symbolic observat

[2021-09-29 14:18] lucaderi opened #5933 "Implement alerts auto-refresh"
When keeping open the alerts page, it would be nice to have an auto-refresh feature that after some time, refreshes the table by updating the data while keeping the current settings (i.e. sort options and filters are preserved).

The default refresh rate is 3 minutes, but it would be nice to configure it from the preferences.

[2021-09-29 14:21] lucaderi opened #5934 "Add country information to alerts"
Similar to what happens in all ntopng pages, it is requested to add the country flag next to host IPs. In the future, a world host map would be also desirable.

[2021-09-29 14:22] lucaderi opened #5935 "Alert sort information is not persistent"
In ntopng (e.g. in hosts) sort settings are persistent, meaning that when an order option is modified, this is preserved next time the page is accessed.
This is to request to replicate this in the alerts page.

[2021-09-29 14:57] npacket commented on #5894
HI Simone,

They told me that they solved this issue. We can close this ticket.
When they changed the option of ntopng such as “-x”, this issues was disappeared.
Thanks for your support.

BR,
HyungWon.

From: Simone Mainardi ***@***.***>
Sent: Monday, September 27, 2021 10:15 PM
To: ntop/ntopng ***@***.***>
Cc: npacket ***@***.***>; Mention ***@***.***>
Subject: Re: [ntop/ntopng] Segmentation Faul

[2021-09-29 15:04] #5894 closed, assigned to cardigliano

[2021-09-29 15:36] lucaderi opened #5936 "Script failure"
29/Sep/2021 17:33:01 [LuaEngine.cpp:560] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/system/second.lua][attempt to index a function value]
29/Sep/2021 19:14:00 [LuaEngine.cpp:560] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/system/notifications.lua][/var/lib/ntopng/plugins0/alert_endpoints/sqlite.lua:94: attempt to index a nil value (local 'alert')]
29/Sep/2021 19

[2021-09-29 15:40] MatteoBiscosi commented on #5156
Implemented with u_int32_t as discussed

[2021-09-29 15:44] cardigliano commented on #5929
Please drop an email to cardigliano at ntop.org, I will send a debug binary

[2021-09-29 16:14] lucaderi opened #5937 "System Endpoints Don't Work"
Define an endpoint as follows
![Screen Shot 2021-09-29 at 18 07 28](https://user-images.githubusercontent.com/4493366/135306947-4a20739a-6c00-4a19-9fcf-371d3c543cee.png)

Add it to the system pool, then trigger an event (e.g. reload a list)
![Screen Shot 2021-09-29 at 18 13 29](https://user-images.githubusercontent.com/4493366/135307935-3b355585-919f-4654-bcdd-93642db186ba.png)

No message is deli

[2021-09-29 16:17] lucaderi opened #5938 "Add Poll User Number"
In the image below
![Screen Shot 2021-09-29 at 18 15 09](https://user-images.githubusercontent.com/4493366/135308218-9ef81c88-cc75-45ff-af86-4741a40205d1.png)
nowhere is indicate the number of users for a recipient/endpoint.

This is to request to add a small badge indicating the number of users. When such a number is zero the badge has to be red to notify the problem.

[2021-09-29 16:19] lucaderi opened #5939 "Change checkbox default in Recipients"
![image](https://user-images.githubusercontent.com/4493366/135308747-c30ae8f5-217d-40ce-b958-2f55c1b3c8c7.png)

The checkbox highlighted must be set by default (currently it is not)

[2021-09-29 16:23] simonemainardi commented on #5937
notification categories were missing

![image](https://user-images.githubusercontent.com/3397663/135309502-b89cbb93-25b4-407f-b39c-e4a90c370b9f.png)

[2021-09-30 02:38] MaoPann opened #5940 "Real time capture error"
1、When I select the real-time capture of > 10 seconds, such as 1 minute, the capture will be stopped after 10 seconds.
2. When I select the capture of > 10 seconds, the capture may be stopped directly and no packets can be captured.

![image](https://user-images.githubusercontent.com/44804599/135376849-0bf61f0f-cf70-4e29-b022-256fe4bc562a.png)

[2021-09-30 06:51] 612wong opened #5941 "MAC address based traffic direction not working following the yum update to ntop v.5.1.210929"
The MAC address based traffic direction was working fine for me until yesterday afternoon I ran to update the package for the netflow deployment with nprobe.

There was no changes made to the Interface where MAC address based traffic direction was in use.

[2021-09-30 07:52] MatteoBiscosi commented on #5930
Should be fixed, pro repo. This memory leak was due to a missed Lock, causing race conditions and thus unexpected behavior.

[2021-09-30 07:54] lucaderi commented on #5897
Verified as fixed

[2021-09-30 07:54] #5897 closed, assigned to simonemainardi

[2021-09-30 07:55] lucaderi commented on #5920
Still bugged

[2021-09-30 08:01] lucaderi commented on #5914
Still bugged

[2021-09-30 08:06] simonemainardi commented on #5941
Explain "not working". Report screenshots and configuration.

[2021-09-30 08:14] MatteoBiscosi commented on #5940
Hi @MaoPann I'm sorry but I'm unable to reproduce this behavior. If I download an Interface PCAP everything works fine in my lab. Please share ntopng --version and report if you have some error here after trying to download a pcap
![Screenshot from 2021-09-30 10-13-33](https://user-images.githubusercontent.com/49585191/135414075-edcbf9c1-5578-4983-9580-d7f139788b79.png)
or from ntopng status (`sys

[2021-09-30 10:13] lucaderi commented on #5920
Clicking on the char icon I receive this error
30/Sep/2021 12:13:29 [LuaEngine.cpp:1219] WARNING: Script failure [/Users/deri/network/ntopng/scripts/lua/rest/v2/get/timeseries/ts.lua][...network/ntopng/scripts/lua/rest/v2/get/timeseries/ts.lua:155: attempt to index a nil value (local 'res')]

[2021-09-30 10:21] lucaderi commented on #5610
Column is gone in the current code version

[2021-09-30 10:21] #5917 closed, assigned to simonemainardi

[2021-09-30 10:22] #5918 closed, assigned to simonemainardi

[2021-09-30 10:24] lucaderi commented on #5937
Still not working when setting the category system

[2021-09-30 10:26] lucaderi commented on #5899
Verified as fixed but #5610 is still bugged

[2021-09-30 10:26] #5899 closed, assigned to nobody

[2021-09-30 10:27] lucaderi commented on #5901
Verified as fixed but you need to reference the commit.

[2021-09-30 10:28] lucaderi commented on #5900
Trusting screenshots it works

[2021-09-30 10:28] #5900 closed, assigned to simonemainardi

[2021-09-30 10:29] lucaderi commented on #5898
Verified as fixed

[2021-09-30 10:29] #5898 closed, assigned to simonemainardi

[2021-09-30 10:34] lucaderi commented on #5895
I mean visually without clicking too deep in pages. Let me be more precise: implement a GitHub like bar similar to

<img width="311" alt="Screenshot 2021-09-30 at 12 31 09" src="https://user-images.githubusercontent.com/4493366/135439324-69d60df2-134f-44ad-8ba5-a1aefac5ba2a.png">

that allows you to see them immediately as depicted below

![image](https://user-images.githubusercontent.com/4493366/

[2021-09-30 10:35] lucaderi commented on #5881
Trusting screenshots it is fixed

[2021-09-30 10:35] #5881 closed, assigned to simonemainardi

[2021-09-30 10:37] lucaderi commented on #5913
Verified as fixed

[2021-09-30 10:37] #5913 closed, assigned to MatteoBiscosi

[2021-09-30 10:51] lucaderi commented on #5876
Bugged, I fixed the code and closed the issue

[2021-09-30 10:51] #5876 closed, assigned to VasilisTako

[2021-09-30 10:52] #5754 closed, assigned to simonemainardi

[2021-09-30 11:02] lucaderi commented on #5156
Bugged with views

[2021-09-30 11:03] lucaderi opened #5942 "SNMP Polling stuck"
<img width="1344" alt="Screenshot 2021-09-30 at 13 03 05" src="https://user-images.githubusercontent.com/4493366/135443840-09595f6f-8729-4552-b315-f42725f1e73b.png">

This can be reproduced with SNMPv1 in our lab

[2021-09-30 11:12] thomasbruchet commented on #5869
Hello,

I've upgrade to Version:        5.1.210927 [Enterprise/Professional build] and I still have the problem.
![image](https://user-images.githubusercontent.com/86605223/135444833-e465d3d9-16f1-40c6-b8ae-602fc91f7da8.png)

Any idea on how I can debug this ?

[2021-09-30 13:08] martinscheu opened #5943 "Dashboard - network interfaces last day view all the time zero"
Hello ntop Team!
The last day view graph on the dashboard is all the time zero:
<img width="378" alt="Screenshot 2021-09-30 at 14 19 35" src="https://user-images.githubusercontent.com/38549755/135454663-8161833e-1bc0-4173-82c6-c72e693335fb.png">
Thanks

[2021-09-30 13:09] MatteoBiscosi commented on #5943
Hi @martinscheu, can you please tell me your ntopng --version and ntopng configuration? in this way I'll try to reproduce this behavior

[2021-09-30 13:24] martinscheu commented on #5943
Hi @MatteoBiscosi yes sure. the version:
Version:	5.1.210929 [Enterprise/Professional build]
GIT rev:	dev:d0fbfa8e1253e15d00541100526852431dd0e322:20210929
Pro rev:	r4251
Built on:	Ubuntu 20.04.3 LTS

what do you mean by configuration?
on that host we have 3 NICs, one management and 2 mirror ports

[2021-09-30 13:52] MatteoBiscosi commented on #5920
I was able to reproduce this behavior and fix it. Note that more then 15 min are required to create the traffic timeseries, so if `No Data Available` is present in the page then maybe you need to wait a bit more of time.

[2021-09-30 14:08] MatteoBiscosi commented on #5943
Hi @martinscheu could you please check the interface traffic timeseries (they should be the same)?
![Screenshot from 2021-09-30 16-01-06](https://user-images.githubusercontent.com/49585191/135470930-9316af13-96d0-45c7-8ed1-49bb0b2af2b3.png)

[2021-09-30 15:35] MatteoBiscosi commented on #5156
Now working with views too
![Screenshot from 2021-09-30 17-34-02](https://user-images.githubusercontent.com/49585191/135486232-2f30db7a-b16d-4dfd-adc9-b0aab23c2250.png)

[2021-09-30 15:56] 12nick12 opened #5944 "InfluxDB without creating database"
Hi, It appears ntopng requires an admin user so it can create the database, this is even if the database already is there.

Can you add an option to just use the database that's already in place that way we don't have to give ntopng an admin user.

[2021-09-30 16:59] lucaderi commented on #5939
Verified as fixed

[2021-09-30 16:59] #5939 closed, assigned to VasilisTako

[2021-09-30 17:35] SalvatoreCostantino commented on #5928
Yes, the option Is on. I've checked this graph on other ASs and it works.
The autonomus system affected by the issue is Always a destination AS on flows. I don't know whether this fact could cause the issue.

[2021-09-30 19:13] martinscheu commented on #5943
Hi @MatteoBiscosi, that might be the problem, I get an error:
<img width="520" alt="Screenshot 2021-09-30 at 21 11 49" src="https://user-images.githubusercontent.com/38549755/135516549-31aeacfa-7fd4-4e42-8fe6-aae2e58c7f38.png">

[2021-09-30 19:15] martinscheu commented on #5943
ist that a performance issue of the box we are running ntopng on it?

[2021-09-30 20:05] lucaderi opened #5945 "Script Failure"
2021-09-30 22:00:00.197823+0200 ntopng[17680:269330] [LuaEngine.cpp:560] WARNING: Script failure [/Users/deri/network/ntopng/scripts/callbacks/system/hourly.lua][...finitions/flow/alert_ndpi_tls_cert_validity_too_long.lua:8: attempt to index a nil value (global 'dirs')]
30/Sep/2021 22:00:00 [LuaEngine.cpp:560] WARNING: Script failure [/Users/deri/network/ntopng/scripts/callbacks/system/hourly.lua]

[2021-09-30 20:11] martinscheu opened #5946 "Auto alert pcap recorder"
Hi ntop Team!
For detail analysis it would be very helpful if ntopng would save a pcap around the alert, e.g. alert -5s and alert + 5s of the corresponding interface. This if a specified Alert is triggered like clear text password.
If possible to integrate with n2disk, like reserving disk space for this function. Save pcap with e.g. AlertTime+Alert+Application+FlowInfo so it can easy be correlated

[2021-09-30 20:25] martinscheu opened #5947 "Suspicious DGA and file transfer - exclude domain and file names"
Hello ntop Team!
The two alerts suspicious DGA domain and file transfer are very noisy. To reduce false positives alerts, it would be helpfull to exclude domains in the DGA alert, including the possibility of wildcards * examples:
- www.msftconnecttest.com or sls.emea.update.microsoft.com.akadns.net : exclude full domain
- 6zhk7beey4aio3ml.a.e.e5.sk : exclude tld e5.sk with *e5.sk
Suspicious file

[2021-09-30 20:29] martinscheu commented on #5799
@MatteoBiscosi how can I help you?
The issue is still there:
<img width="940" alt="Screenshot 2021-09-30 at 22 28 36" src="https://user-images.githubusercontent.com/38549755/135525837-1d52ae51-3b44-4235-94d0-457e2bfc7599.png">

[2021-09-30 20:31] martinscheu commented on #5805
@MatteoBiscosi yes can try.

[2021-09-30 21:15] martinscheu opened #5948 "Checks - exclude network range"
Hello ntop Team!
It would be helpful if in Checks where now I can exclude hosts by IP address from the check, also have ranges excluded, like /24.
Thank you

[2021-09-30 23:42] 612wong commented on #5941
Not working means both TX & RX traffic is now combined into RX series. The MAC address of the remote-end wasn't changed before and after the package upgrade. I tried to use the MAC address of the local WAN interface in the field and then restarted ntopng but the TX & RX traffic wasn't seggregated.

<img width="1542" alt="interface traffic and setting" src="https://user-images.githubusercontent.com

[2021-10-01 09:44] ListenNjoy commented on #5948
It would be very helpfull.

[2021-10-01 09:46] lucaderi commented on #2818
This feature is no longer important and it will be put on hold.

[2021-10-01 09:46] #2818 closed, assigned to lucaderi

[2021-10-01 09:48] lucaderi commented on #5857
Now you can implement it. Online documentation it is available at https://www.ntop.org/guides/nDPI/flow_risks.html

[2021-10-01 10:05] lucaderi commented on #5805
@MatteoBiscosi This alert is misleading. It should be a binary application transfer as written in the source code
   gui = {
      i18n_title = "flow_risk.ndpi_binary_application_transfer",
      i18n_description = "flow_risk.ndpi_binary_application_transfer",
   }
}

Furthermore, you can reproduce it with ntopng -i nDPI/tests/pcap/waze.pcap
that produces
![Screen Shot 2021-10-01 at 12 04 21](http

[2021-10-01 10:07] lucaderi commented on #5799
@MatteoBiscosi You can reproduce it with ntopng -i ~/nDPI/tests/pcap/weibo.pcap
@martinscheu This seems to work too
![Screen Shot 2021-10-01 at 12 07 13](https://user-images.githubusercontent.com/4493366/135602891-daa40f5d-54f1-45ea-9dfa-b9d8a70f0143.png)

[2021-10-01 10:09] simonemainardi commented on #5805
if you relabel make sure to update tests as well

[2021-10-01 14:28] simonemainardi commented on #5857
Implemented

![image](https://user-images.githubusercontent.com/3397663/135636786-33a9f354-0733-4f61-9be6-198ac9588bb8.png)

![image](https://user-images.githubusercontent.com/3397663/135636845-9bbac052-ff7c-45c8-9a64-fc8e0c8fd94c.png)

[2021-10-01 18:47] gilinuxIT opened #5949 "License Issue for Educational Use"
We are in the process of deploying 20+ instances of NTOPNG at school locations (Same School District). We had initially been given four licenses to use, however when we try and apply the license to the third server, it is not taking.  Can you assist? Thank you.

[2021-10-01 19:43] Olokz opened #5950 "Ntopng - Host Page Broken - hosts_stats.lua"
I have a problem with the NTOPNG Hosts page, it doesn't load any information.
![image](https://user-images.githubusercontent.com/23363910/135677340-ff1755cc-5136-41dd-acf3-32e2ed8b0629.png)

when restarting the service, it works again for 9 minutes, corresponding to the test period.
![image](https://user-images.githubusercontent.com/23363910/135677608-b1e42887-4762-4154-bfda-7193f32b71df.png)

nto

[2021-10-04 08:36] MatteoBiscosi commented on #5950
Hi @Olokz I'm sorry for the trouble, I was able to reproduce the issue and now should be fixed. Builds are going to be ready in some hours, please update in 3/4 hours. Reopen the issue if the problem persists.

[2021-10-04 08:36] #5950 closed, assigned to MatteoBiscosi

[2021-10-04 10:09] simonemainardi commented on #5949
You need to provide evidence, including an official letter from the school manager, that 20+ instances of ntopng are required. Then, my colleague Maria will check if you are eligible to get free licenses for education. Follow up with her: mallegro at ntop dot org

See https://www.ntop.org/support/faq/do-you-charge-universities-no-profit-and-research/

[2021-10-04 10:09] #5949 closed, assigned to nobody

[2021-10-04 10:12] simonemainardi opened #5951 "alert_snmp_topology_changed: attempt to call a nil value (global 'i18n')"

[2021-10-04 10:24] #5951 closed, assigned to simonemainardi

[2021-10-04 11:56] lucaderi opened #5952 "DGA Alert Unreliable"
DGA alerts are unreliable. For instance, nDPI passes the DGA host and ntopng does not show it
![image](https://user-images.githubusercontent.com/4493366/135846945-ac71222c-47fe-4e2b-b8e0-daf1a2ef4f48.png)

In other cases for multiple DNS requests on the same flow, a DGA alert is triggered with an empty domain. It seems that somehow sometimes (not all the time) some information is overwritten or ol

[2021-10-04 13:46] Niklasr69 opened #5953 "flow page interface input/output tables not displaying "real" name even when snmp walk has been done"
The interface table in flow page does not use real interface name, instead smp id is displayed.
Snmpwalk from the ntopng server gives real name
ntopng version 5.0

[2021-10-04 16:04] kfra71 opened #5954 "yum update issue on CentOS 7.9"
we are experiencing an issue when trying to update via yum. Following the error:

extras                                                                                                                                                                                                          | 2.9 kB  00:00:00
	http://packages.ntop.org/centos/7/x86_64/repodata/repomd.xml: [Errno 14] HTTPS Error 302 -

[2021-10-05 07:44] martinscheu opened #5955 "Alerts list - add description text filter"
Hello ntop Team!
It would be helpful to have a text filter possibility in the alerts list.
E.g. I can filter alerts k.p-n.io:
<img width="831" alt="Screenshot 2021-10-05 at 08 55 10" src="https://user-images.githubusercontent.com/38549755/135981306-94c5e901-7ff3-4ee2-8e40-245c0d783d97.png">
thank you

[2021-10-05 08:19] simonemainardi commented on #5269
Hi Timi,

They are now divided into families:

simone@devel:~/ntopng$ find scripts/lua/rest/v2/ -name list.lua
scripts/lua/rest/v2/get/host/alert/list.lua
scripts/lua/rest/v2/get/network/alert/list.lua
scripts/lua/rest/v2/get/interface/alert/list.lua
scripts/lua/rest/v2/get/mac/alert/list.lua
scripts/lua/rest/v2/get/all/alert/list.lua
scripts/lua/rest/v2/get/user/alert/list.lua
scripts/lua/rest/v2

[2021-10-05 08:40] MatteoBiscosi commented on #5945
duplicated of #5936

[2021-10-05 08:40] #5945 closed, assigned to nobody

[2021-10-05 12:15] MatteoBiscosi commented on #5938
To clarify the usage of endpoints/recipients I added an alert red badge if an endpoint has no recipients.
![Screenshot from 2021-10-05 14-06-25](https://user-images.githubusercontent.com/49585191/136019800-5c877693-13a2-44ef-bc14-fcc4942c54b7.png)

At the same time, I added some extra information to the recipients page, in this way a user is going to understand if the recipients is being used, for

[2021-10-05 13:45] lucaderi commented on #5954
please change http://packages... to https://packages...

[2021-10-05 13:51] MatteoBiscosi commented on #5805
Implemented as requested. Please open a ticket in nDPI if the problem persists.

[2021-10-05 13:51] #5805 closed, assigned to MatteoBiscosi

[2021-10-05 13:52] MatteoBiscosi commented on #5799
Please open a ticket in nDPI if the problem persists

[2021-10-05 13:52] #5799 closed, assigned to cardigliano, MatteoBiscosi

[2021-10-05 14:00] MatteoBiscosi commented on #5829
Unable to reproduce this behavior, please try to take a look at `pro/scripts/lua/get_ts_table.lua` line 247 and print the resolution.
The resolution is done by `getFirstIpFromMac` (screenshot below)
![Screenshot from 2021-10-05 15-58-27](https://user-images.githubusercontent.com/49585191/136038196-b0b43e11-27bf-475b-aa42-d7ff5ea891ee.png)

[2021-10-05 14:30] kfra71 commented on #5954
done but I am getting this

Failed to set locale, defaulting to C
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
 * base: mirror.alwyzon.net
 * extras: mirror.alwyzon.net
 * updates: mirror.alwyzon.net
https://packages.ntop.org/centos/7/x86_64/repodata/repomd.xml: [Errno 14] curl#60 - "Peer's certificate issuer has been marked as not trusted by the user."
Trying other mir

[2021-10-05 15:31] lucaderi commented on #5947
I have update nDPI to take into account most of the requests you have made. The only one that is not handled is *e5.sk at nDPI level. You can exclude hosts in ntopng from triggering alerts but this is not the same as the above request. What do you think?

[2021-10-05 15:33] lucaderi commented on #5954
https://packages.ntop.org/centos/7/x86_64/repodata/repomd.xml: [Errno 14] curl#60 - "Peer's certificate issuer has been

This is due to the change of Let's Encrypt root certificate. On Ubuntu I have fixed it with apt install ca-certificates but I have no idea how to fix it on CentOS

[2021-10-05 15:47] simonemainardi commented on #5952
Issue is fixed. Empty DGA were only occurring for DNS flows for which only the response was seen. ntopng was expecting to see the request to populate field DNS query but actually the response can be used as well.

[2021-10-05 15:54] MatteoBiscosi opened #5956 "Timeserie name not maintained when changing period"
When changing period the timeserie name is not maintained

![Screenshot from 2021-10-05 17-52-13](https://user-images.githubusercontent.com/49585191/136058604-48c9377f-8e77-483c-9ff1-f6c4858765da.png)
![Screenshot from 2021-10-05 17-51-52](https://user-images.githubusercontent.com/49585191/136058596-1a9afc31-2aa1-4a0d-8785-9d190796f927.png)

[2021-10-05 15:58] MatteoBiscosi opened #5957 "Flow Risk filter not working anymore in nIndex Page"
After the changes to nDPI and ntopng due to the flow risks descriptions moved from ntopng to nDPI, nIndex flow risk filtering is not working

[2021-10-05 16:47] kfra71 commented on #5954
I have updated the latest ca-certificates:

rpm -q ca-certificates
ca-certificates-2021.2.50-72.el7_9.noarch

Red Hat and CentOS 7: Update ca-certificates package to 2021.2.50-72.el7_9 or later.

(https://aws.amazon.com/premiumsupport/knowledge-center/ec2-expired-certificate/)

But it still doesn't work.

[2021-10-06 06:03] tomkolp opened #5958 "5.1.211006 the service stops after a while"
After upgrading to 5.1.211006, the Ntopng service stops after a while. OPNsense 21.7.3_3-amd64 no logs from this event. I do the update every day, yesterday there was no problem.

[2021-10-06 07:04] martinscheu commented on #5958
same here on Ubuntu 20.04, it starts, but gives errors and then doesn't run:
`06/Oct/2021 08:54:28 [NtopPro.cpp:501] [LICENSE] /etc/ntopng.license: found valid Enterprise L (Bundle) license
Failed to print the table: Broken pipe
06/Oct/2021 08:54:31 [second.lua:27] [rrd.lua:337] ERROR: rrd_update_r() [/var/lib/ntopng/2/rrd/bytes.rrd][1633503271:34872467] failed [/var/lib/ntopng/2/rrd/bytes.rrd: ex

[2021-10-06 08:27] MatteoBiscosi commented on #5957
Verified as Fixed

[2021-10-06 08:27] #5957 closed, assigned to MatteoBiscosi

[2021-10-06 08:52] MatteoBiscosi commented on #5956
Verified as Fixed

[2021-10-06 08:52] #5956 closed, assigned to MatteoBiscosi

[2021-10-06 09:10] simonemainardi commented on #5799
This is solved in the latest dev build.

[2021-10-06 09:28] simonemainardi commented on #5946
see https://www.ntop.org/guides/ntopng/using_with_other_tools/n2disk.html

[2021-10-06 09:28] #5946 closed, assigned to nobody

[2021-10-06 09:47] simonemainardi commented on #5942
Seems to work as expected.

![image](https://user-images.githubusercontent.com/3397663/136180045-d4a35162-62cc-469d-802b-5c4ab907a2e3.png)

Can you provide extra details?

[2021-10-06 09:51] simonemainardi commented on #5914
Please, check and make sure to have the cache cleared.

This is the implemented behavior.

![image](https://user-images.githubusercontent.com/3397663/136180737-c092fc79-c3c2-4afb-98f2-4959bb2da0fe.png)

Then clicking on "All" yields

![image](https://user-images.githubusercontent.com/3397663/136180777-31fd6173-fc15-41d5-ad84-9f6b2f1ce431.png)

[2021-10-06 14:47] cardigliano commented on #5827
Closing for inactivity

[2021-10-06 14:47] #5827 closed, assigned to cardigliano

[2021-10-07 09:53] simonemainardi opened #5959 "Host risks causing buffer overflows"
Host risks have gone beyond the size of the bitmap https://github.com/ntop/ntopng/commit/7c10fba84b2df3fa1afa7970e1926a1f8ec1013b#diff-d20151b2236a935a5db04541d007bd8e64481d6f20c823c969a0ecccdc1c2360L506 causing overflows.

It is requested to update the host bitmap to 32 bit.

[2021-10-07 10:51] simonemainardi opened #5960 "ICMP flood configuration broken"
![image](https://user-images.githubusercontent.com/3397663/136370475-74a7ab38-a769-4438-8a07-8c719983d174.png)

![image](https://user-images.githubusercontent.com/3397663/136370560-c5fda40d-bf0a-4a11-bbd6-a5c7f082baa5.png)

[2021-10-07 10:55] lucaderi opened #5961 "Implement alert search in Description"
![Screen Shot 2021-10-07 at 12 34 32](https://user-images.githubusercontent.com/4493366/136370647-735159c0-779a-40bf-86c3-cf6c4dbc710a.png)

in the above example it should be possible to filter "hello.ntop.org" os a substring (e.g. hello) in the description field

[2021-10-07 11:51] #5959 closed, assigned to simonemainardi

[2021-10-07 13:16] simonemainardi commented on #5955
Superseded by https://github.com/ntop/ntopng/issues/5961

[2021-10-07 13:16] #5955 closed, assigned to nobody

[2021-10-07 16:58] cardigliano commented on #5929
ntopng binaries were crashing upon application startup until yesterday's release. Today's version seems to be running and it is executing (with debug symbols) at the user premises. We will wait for updates.

[2021-10-08 07:42] MatteoBiscosi commented on #5958
Hi @tomkolp try to upgrade and let me know if it still crashes, an important fix was done to nDPI, possibly causing your crash, currently only available for ntopng dev version.

[2021-10-08 07:53] MaoPann opened #5962 "CentOS 7 is missing from the installation guide,"
CentOS 7 is missing from the installation guide,

[2021-10-08 08:03] tomkolp commented on #5958
v.5.1.211008 everything works @MatteoBiscosi

[2021-10-08 08:34] MatteoBiscosi commented on #5958
Great! I'll close the ticket, please reopen it if the issue arise again.

[2021-10-08 08:34] #5958 closed, assigned to MatteoBiscosi

[2021-10-08 08:38] simonemainardi commented on #5962
https://packages.ntop.org/centos/

[2021-10-08 08:38] #5962 closed, assigned to nobody

[2021-10-08 09:02] MaoPann commented on #5962
Cento7 is missing here,
https://packages.ntop.org/centos-stable/

And centos8 always reports an error :
dnf config-manager --set-enabled PowerTools

[2021-10-08 10:23] simonemainardi commented on #5960
verified as fixed

[2021-10-08 10:23] #5960 closed, assigned to MatteoBiscosi

[2021-10-08 10:28] simonemainardi commented on #5941
Please, attach the ntopng configuration used. You mentioned nProbe but then it seems to me you are capturing from a mirror port.

[2021-10-08 10:33] simonemainardi commented on #5935
not working.

[2021-10-08 10:46] simonemainardi commented on #5935
Now verified as fixed.

[2021-10-08 10:46] #5935 closed, assigned to simonemainardi

[2021-10-08 13:09] cardigliano opened #5963 "Multichannel ZMQ Collection from Cento/n2disk"
When processing high speed links with cento and n2disk, ntopng receives many flows/sec on the ZMQ channel, leading to flow drops when this exceeds a certain rate, especially when they are sent in bursts. It is required to use multiple ZMQ channels to mitigate this.
In addition to this it is requested to mitigate export bursts in n2disk using an export queue (see https://github.com/ntop/n2disk/issu

[2021-10-08 13:24] flapegue opened #5964 "Unknown application with tcp 0"
Hello,

I can see that when I apply the filter on unknown application, that the tcp ports are rewritten to zero. Why port are set with it ? how can i do to preserve original tcp ports ?
![image](https://user-images.githubusercontent.com/23529050/136564159-2c977bf0-54e7-411b-9a30-2bea7d664ad4.png)

[code]

[code]

[code]

[2021-10-08 14:25] cardigliano commented on #5025
This has been fixed: the check interval has been increased to avoid getting blacklisted by the servers, the user agent has been 'improved'

[2021-10-08 14:25] #5025 closed, assigned to cardigliano

[2021-10-09 20:31] martinscheu commented on #5952
hello Simone, I have still alerts with empty DGA. I can confirm it is when client port is 53. But have also correct alerts with client port 53, i.e. with DGA alert name. I've sent you an email with detailed information.

[2021-10-09 20:40] martinscheu commented on #5947
issue is, that e5.sk is the antivirus, I would need to exclude all hosts, means the alert doesn't help me. and sub domain is not static. but half good solution would be to be able besides hosts IPs to exclude domains.

[2021-10-10 15:15] AlphaDE commented on #5025
@cardigliano
I am sorry I have to disagree on the fix. I have ntopng running in 4 locations on a Raspberry Pi 4, installed "ntopng /Embedded v.5.1.211010 (Raspbian GNU/Linux 10 (buster))" when available and I see a permanent failure for 3 (not a single success since installation and resetup of speedtest.net) and mostly failures on 1.

[2021-10-10 19:31] phantomski77 opened #5965 "Script failures when ntopng Enterprise embedded time-limited license expires"
Last two new weekly `5.1.x` versions of ntopng (`5.1.211003` and `5.1.211010`) run well in Docker when first started, defaulting to time-limited *Enterprise embedded* version. When that expires after 10 minutes and ntopng instance degrades to free license, these script failure errors are produced repeatedly:
[code]

These errors were not produced by any previous `5.1.x` versions, since `5.1` was r

[2021-10-11 03:35] 612wong commented on #5941
I just want to include all information that may contribute to the root cause.

The ntopng configuration is pretty straightforward as the following ntopng.conf.

-d=/local/ntopng
-F nindex
-G=/var/run/ntopng.pid
-i=et1
-i=et2
-i tcp://127.0.0.1:9995
-m=10.65.0.0/16,10.165.0.0/16
-n=1
-p /var/lib/ntopng/protos.txt
-w=80

[2021-10-11 06:05] umarnet commented on #5950
Hi MatteoBiscosi,

I have the same issue as Olokz, the hosts page is broken. I've also attached a LogTrace, I'm using the below system:

ntopng Community v.4.1.0 rev.15674 (Ubuntu 20.04.3 LTS)
ntopng Community v.4.1.0 rev.15674 (FreeBSD 12.2) - pfsense 2.5.4 plus

[LogTrace.txt](https://github.com/ntop/ntopng/files/7319862/LogTrace.txt)

[2021-10-11 08:23] MatteoBiscosi commented on #5964
Hi @flapegue you probably miss some missing fields in your template, for example the
`[NFv9 57577][IPFIX 35632.105][Len 2] %FLOW_PROTO_PORT                L7 port that identifies the flow protocol or 0 if unknown`
Take a look at this page to find all the information you can add https://www.ntop.org/guides/nprobe/cli_options.html?highlight=template#netflow-v9-ipfix-format-t

[2021-10-11 08:26] MatteoBiscosi commented on #5943
Hi @martinscheu is the problem fixed after the fixed issue of the last week?

[2021-10-11 08:37] cardigliano commented on #5025
@AlphaDE, are you able to run a test from cli and provide the output? Please follow the below instructions:

git clone https://github.com/ntop/ntopng.git
cd ntopng/third-party
gcc -DTEST_SPEEDTEST -DHAVE_EXPAT -I/usr/include/json-c speedtest.c -o speedtest -ljson-c -lexpat -lcurl -lpthread -lm
./speedtest

[2021-10-11 08:48] ListenNjoy opened #5966 "alert triggered for host IP-Adress that has exceeded a traffic threshold"
I cant seem to find the host threshold anymore, is it removed?

Versions  tested.

Version: ntopng Enterprise M v.5.0.211010 (CentOS Linux release 7.9.2009 (Core))

Version: ntopng Enterprise M v.5.1.211008 (CentOS Linux release 8.3.2011)

Best regards
Martin

[2021-10-11 08:58] AlphaDE commented on #5025
Here we go.

Retrieving speedtest.net configuration...
Retrieving speedtest.net server list...
Testing from NetCologne GmbH (89.1.xxx.xxx)...
Selecting best server based on ping...
Best server: ookla1.kues-data.de:8080(159.78KM)
Server latency is 30ms
Testing download speedDownload speed: 0.00Mbps
Testing upload speedUpload speed: 0.00Mbps
{ "client.isp": "NetCologne GmbH", "client.ip": "89.1.211.

[2021-10-11 09:02] cardigliano commented on #5025
@AlphaDE it seems the speedtest is actually running the test, computing a download speed of 0. We need to figure out if this is a bug or expected (due to some external factor)

[2021-10-11 09:10] MatteoBiscosi commented on #5858
Unfortunately, currently, it is not possible to add the score filter to the `all` alert page because due to previous implementations if added to the all alert page, the Historical Flow Explorer and other pages that are using the `range-picker.template` are going to break down. To add it to the `all` page a lot of work is needed.

[2021-10-11 09:32] MatteoBiscosi commented on #5965
Hi @phantomski77  please currently if you don't have a license, run ntopng using `--community` option, in the meantime I'll fix the issue

[2021-10-11 09:45] MatteoBiscosi commented on #5966
Hi @ListenNjoy, yes as you have guessed the Traffic Host alert is no longer available in ntopng. It was removed due to the fact that a generic traffic threshold for all the hosts inside a network was not useful and for this reason removed.

[2021-10-11 09:48] ListenNjoy commented on #5966
Ok thanks for answer, is there any other way to get a warning if host/ip exceeds a threshold like when one ip gets ddos attacked.?

[2021-10-11 09:55] MatteoBiscosi commented on #5966
for that purpose you have alerts like `Flow Flood Alert` or `SYN Flood Alert` that are going to be triggered when an host receive an exceeding number of flows, ICMP flows and so on (for e.g.)

![Screenshot from 2021-10-11 11-53-30](https://user-images.githubusercontent.com/49585191/136770900-a4c5a00a-e8d2-4bc7-bbd5-71a017dcbc32.png)

[2021-10-11 09:56] ListenNjoy commented on #5966
Ok thanks.

[2021-10-11 11:08] ListenNjoy commented on #5966
On Version ntopng Enterprise M v.5.0.211010 (CentOS Linux release 7.9.2009 (Core)) i cant seem to enable SYN Flood Victim Alert &  SYN Scan Victim Alert. see picture.
![2021-10-11-SynScanVikctimAlert](https://user-images.githubusercontent.com/43986547/136780337-951c602c-1bf8-499f-85ef-81c6d5bee5ae.jpg)

On version: ntopng Enterprise M v.5.1.211008 (CentOS Linux release 8.3.2011) it works perfekt.

[2021-10-11 11:54] rmancuso40 opened #5967 "Hosts page not loading"
My Hosts page stopped loading (just blank page), I am assuming after a recent update, on my Raspberry PI OS installation. It was working fine for several months. The contributing error in the log looks like:

11/Oct/2021 07:44:48 [LuaEngine.cpp:1219] WARNING Script failure [/usr/share/ntopng/scripts/lua/hosts_stats.lua][/usr/share/ntopng/scripts/lua/modules/lua_utils.lua:621: module 'snmp_cached_d

[2021-10-11 12:42] martinscheu commented on #5943
in my instances it is fixed @MatteoBiscosi, I close the issue

[2021-10-11 12:42] #5943 closed, assigned to nobody

[2021-10-11 13:18] lucaderi opened #5968 "List reload broken"
I manually triggered a reload

![Screen Shot 2021-10-11 at 15 16 37](https://user-images.githubusercontent.com/4493366/136796727-dc553662-edf9-4c04-a079-051166b3b26d.png)

but the reload is not happening
![Screen Shot 2021-10-11 at 15 17 41](https://user-images.githubusercontent.com/4493366/136796721-837a6167-264c-4e99-87f5-5e574fac12ba.png)

[2021-10-11 13:21] lucaderi commented on #5858
I went into hosts and added 50 as score. Then moved to Interface and
- the field size shrinked
- the value is "50;gte"
-
![Screen Shot 2021-10-11 at 15 20 12](https://user-images.githubusercontent.com/4493366/136797210-92681938-df7a-4e2a-88e5-94bc335307d9.png)

[2021-10-11 13:23] lucaderi commented on #5937
Unable to test due to #5968

[2021-10-11 13:23] #5930 closed, assigned to MatteoBiscosi

[2021-10-11 13:26] lucaderi commented on #5938
Verified as fixed

[2021-10-11 13:26] #5938 closed, assigned to MatteoBiscosi

[2021-10-11 13:26] lucaderi commented on #5942
Seems to work now will reopen if necessary

[2021-10-11 13:26] #5942 closed, assigned to simonemainardi

[2021-10-11 13:27] lucaderi commented on #5920
Verified as fixed

[2021-10-11 13:27] #5920 closed, assigned to MatteoBiscosi

[2021-10-11 13:39] lucaderi commented on #5857
Verified as fixed

[2021-10-11 13:39] #5857 closed, assigned to simonemainardi

[2021-10-11 13:39] lucaderi commented on #5858
![image](https://user-images.githubusercontent.com/4493366/136799847-a4834ab6-91ca-4b1f-9795-8bec70e0a6b9.png)

[2021-10-11 13:41] lucaderi commented on #5156
Verified as fixed

[2021-10-11 13:41] #5156 closed, assigned to simonemainardi, MatteoBiscosi

[2021-10-11 13:42] lucaderi commented on #5902
Verified as fixed

[2021-10-11 13:42] #5902 closed, assigned to simonemainardi

[2021-10-11 13:44] lucaderi commented on #5914
Cache cleaned up, tested on Chrome, stlll bugged

[2021-10-11 13:45] lucaderi commented on #5904
How did you test it?

[2021-10-11 13:48] lucaderi opened #5969 "Invalid view menu switch"
Start ntopng as
- ntopng -i tcp://127.0.0.1:1234 -i view:all
and nProbe as
- nprobe -i eth1 -t 3 -d 3 --zmq tcp://127.0.0.1:1234
Then go to the dashboard page. This is what you see (correct).

![Screen Shot 2021-10-11 at 15 47 27](https://user-images.githubusercontent.com/4493366/136801175-fa372851-5362-4194-ba87-15fa11cca483.png)

Then go to Hosts
![Screen Shot 2021-10-11 at 15 47 37](https://use

[2021-10-11 13:49] lucaderi commented on #5157
Verified as fixed

[2021-10-11 13:49] #5157 closed, assigned to simonemainardi, MatteoBiscosi

[2021-10-11 13:53] lucaderi opened #5970 "Rename Probes Menu"
Some users believe the probe menu is misleading and they are right. Here we report the exported IPs. In case nprobe captures packets and exports flows it is a probe, but for ntopng it acts as an exporter device.

Please rename probe -> (Flow) Exporter

For short strings (e.g. menu) use
- Exporter
for longer stirngs (e.g. a page) use
- Flow Exporter

![Screen Shot 2021-10-11 at 15 50 15](https://us

[2021-10-11 13:55] lucaderi commented on #4869
![Screen Shot 2021-10-11 at 15 55 01](https://user-images.githubusercontent.com/4493366/136802266-3a4f00e8-ce8f-429f-8a59-63cbb8cf6235.png)
It doesn't seem to work

[2021-10-11 13:56] lucaderi commented on #5954
Is it working now?

[2021-10-11 14:02] afernique commented on #5964
Hi MatteoBiscosi, thx for the answer.
Guess we're still a bit puzzled here ^_^. Since we're talking tcp traffic and both %L4_SRC_PORT and DEST one are specified in flow template, shouldn't we see the used port instead of "0" in ntopng flow page?
Seems all TCP traffic of UNKOWN apps appear with both source and destination port set to 0 in our case. which certainly dosen't help tagging :-/

![image]

[2021-10-11 14:33] simonemainardi commented on #5966
@MatteoBiscosi can you please check this? Was it due the spaces in the ICMP?

[2021-10-11 14:47] rmancuso40 commented on #5967
Looks like this change "Fixes nil snmp_cached_dev value" in lua_utils committed on Oct 5 is the issue. I commented out the new line from that change (local snmp_cached_dev = require "snmp_cached_dev") and my Hosts page is now working.

[2021-10-11 15:03] MatteoBiscosi commented on #5967
Hi @rmancuso40 I was able to reproduce this issue and fix it, soon a new build is going to be ready with this fix, thanks for your report and help

[2021-10-11 15:08] simonemainardi opened #5971 "Rework remotion of hosts from the jailed hosts pool"
Current algorithm doesn't keep into account that insertions can occur while removing members so it must be reworked.

[2021-10-11 15:09] simonemainardi opened #5972 "Assign members to their old pool once removed from the jailed hosts pool"
Currently, members removed from the jailed hosts pool are assigned to the Default host pool. It is requested to assign them to their old pool (if exists).

[2021-10-11 15:11] simonemainardi opened #5973 "Reworks handling of jailed hosts pool"
Jailed hosts pool must be handled as if it was the default pool, i.e., keep it immutable and non-removable. Currently, this is implemented from the UI but a more structured approach is needed.

[2021-10-11 15:13] kfra71 commented on #5954
In the meanwhile, in order to make it work, I have modified the:

/etc/yum.conf

by adding the following line:

sslverify=false

[2021-10-11 15:23] MatteoBiscosi commented on #5966
Hi @ListenNjoy Could you please try to update ntopng to today's version? because i actually simulated in my lab and everything seems working fine, it's possible that like @simonemainardi suggested it is an issue already fixed.

[2021-10-11 16:02] simonemainardi opened #5974 "Memory leak when using ntopng with nProbe IPS"
[code]

[2021-10-11 18:49] tomukasteris opened #5975 "Hosts dashboard is blank"
Hello,

In some reason dashboard for All Hosts, Local Hosts and Remote Hosts doesn't display any entries.

Everything was working fine before. I can see all active flows but not hosts.

ntopng version: ntopng Community v.5.1.211011 rev.15683 (Ubuntu 20.04.3 LTS)

![ntopng_1](https://user-images.githubusercontent.com/11430578/136839418-c4f3c703-d2c5-402c-971b-5bced10debd7.png)
![ntopng_2](https://u

[2021-10-11 22:10] phantomski77 commented on #5965
Thanks, that helped.

[2021-10-12 06:03] ListenNjoy commented on #5966
I am on version Enterprise M v.5.0.211010 (CentOS Linux release 7.9.2009 (Core)) |  and cant find a a later version.

[2021-10-12 07:45] MatteoBiscosi commented on #5975
Hi @tomukasteris I did a fix yesterday evening, please update and let me know if everything works fine. For more info see #5967

[2021-10-12 08:15] MatteoBiscosi commented on #5966
HI @ListenNjoy still unable to reproduce this error. Could you try opening ntopng gui with an other browser and clearing the browser cache? If it's still not working please open the developer tools (`f12` on my browser, or right click on the page and click `inspect`) and let me know if there are some errors in the console tab (screenshot below)
![Screenshot from 2021-10-12 10-14-04](https://user-i

[2021-10-12 08:37] MatteoBiscosi commented on #5964
Hi @afernique please drop an e-mail at `biscosi at ntop.org` with a pcap of the traffic sent to nprobe, in this way i'll try to reproduce the issue in my lab

[2021-10-12 08:38] MatteoBiscosi commented on #5969
Hi @lucaderi, I'm sorry but I'm unable to reproduce the problem, please check the console tab on the web developers tools and let me know if some problems are reported there when you are able to reproduce this issue

[2021-10-12 08:43] MatteoBiscosi commented on #5928
Hi @SalvatoreCostantino not that ntopng needs a minimum amout of time to generate the timeseries. Please wait at least 30 min after the startup and then you should have your timeseries. If still no timeseries are present there please try switching between them and check if the other ones have some data. Which timeseries are you checking in the screenshot?

[2021-10-12 08:46] #5974 closed, assigned to simonemainardi

[2021-10-12 08:46] lucaderi commented on #5954
ok so closing this ticket.

[2021-10-12 08:46] #5954 closed, assigned to lucaderi

[2021-10-12 08:50] MatteoBiscosi commented on #5882
closing for inactivity, please reopen if the problem arise again

[2021-10-12 08:50] #5882 closed, assigned to MatteoBiscosi

[2021-10-12 08:52] gianlucapiccolo opened #5976 "Base URL ignored"
Hi, I'm experiencing some problems related to the base URL after the upgrade to ntopng 5.
It seems that in the following cases the base URL "/ntopng" that I set with the http-prefix param in the configuration is not working:

1. SNMP loading forever (https://172.18.0.2/ntopng/lua/pro/enterprise/snmpdevices_stats.lua): the list is always showing the loading text, if we check the console, there is a

[2021-10-12 09:13] ListenNjoy commented on #5966
Hope this help

DevTools failed to load source map: Could not load content for http://192.168.15.21:3000/js/popper/popper.min.js.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE
DevTools failed to load source map: Could not load content for http://192.168.15.21:3000/selectpicker/js/bootstrap-select.js.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE

[2021-10-12 10:57] MatteoBiscosi commented on #5976
Hi @gianlucapiccolo thanks for your report a new build is going to start soon and in a few hours a new update with the fixes is going to be available. Regarding the switch between endpoints the issue should be already fixed. Please in a few hours update and let me know

[2021-10-12 11:12] gianlucapiccolo commented on #5976
@MatteoBiscosi thanks @MatteoBiscosi for the fast answer, which kind of build? nightly or stable?

[2021-10-12 12:25] simonemainardi commented on #5968
Do you see any errors in the console? I am unable to reproduce this behavior.

[2021-10-12 12:28] simonemainardi commented on #5936
Should be fixed in the latest dev.

[2021-10-12 13:13] MatteoBiscosi commented on #5901
Fixed by 70e32fd566f00ca642cfd4ec433e2ac54672c08c and 1e08ca85263beeff5fbc36720592370c1db18a2b

[2021-10-12 13:13] #5901 closed, assigned to nobody

[2021-10-12 13:16] simonemainardi commented on #5801
Can you generate a pcap so I can reproduce the described behavior?

[2021-10-12 13:53] TimotheusBachinger commented on #5269
Hi Simone,

OK thanks for the clarification.

Regarding the new timeseries format:

Actually, the old format (counts per hour) is needed for our histogram plots. Is there a way to get this format back? Otherwise we would need to calculate this on our side.

Regards
Timi

[2021-10-12 17:02] lucaderi opened #5977 "Invalid traffic directions"
Using this configuration

-m=..... (omitted)
-i="enp5s0f0.125,enp5s0f1.125"

the traffic is not divided per direction as it should be as you can see from the screenshots below.

![Screen Shot 2021-10-12 at 19 02 20](https://user-images.githubusercontent.com/4493366/136998947-12603b56-6bcf-4509-ae09-12dc9322d285.png)

![Screen Shot 2021-10-12 at 19 00 22](https://user-images.githubusercontent.com/4

[2021-10-13 07:06] simonemainardi commented on #5904
also make sure to update tests accordingly.

[2021-10-13 08:44] #5975 closed, assigned to MatteoBiscosi

[2021-10-13 17:39] lucaderi commented on #5964
I have sent nProbe the pcap file you shared with us. As you can see traffic is properly decoded and ports are non zero
![image](https://user-images.githubusercontent.com/4493366/137183999-efd1ed4c-6501-4dd6-942b-e535bf0fdfc2.png)
Instead MAC addresses are empty as you can see
![image](https://user-images.githubusercontent.com/4493366/137184161-b384db2e-5c4e-451c-a959-d0ad668d54ba.png)
because they

[2021-10-13 17:39] #5964 closed, assigned to nobody

[2021-10-14 03:50] Niklasr69 opened #5978 "incoming / outgoing interface as columns (same as on real time flows) in historical flow explorer” page"
When using nIndex for “historical flow explorer” page, it should be very good if incoming / outgoing interface where available as a selectable columns. i.e for each flow you can also see the interface

[2021-10-14 03:56] Niklasr69 opened #5979 "See ip-probe names as well, not just IP in historical flow explorer page"
The "historical flow explorer" page ip-probe column should also show hostname.

[2021-10-14 04:02] Niklasr69 opened #5980 "Use the same name for exporter column in real time page and history page"
If there is no reason to have different names on the column for export in real time page and history page then you should have the same name
Real time: Flow Exporter
History: Probe IP

[2021-10-14 04:05] Niklasr69 opened #5981 "Possibility to customize the order of the columns in the history page"
Possibility to customize the order of the columns in the history page when using nIndex

[2021-10-14 08:23] MatteoBiscosi commented on #5980
Hi @Niklasr69 , thanks for your report, I totally missed the different names, now they are named as 'Flow Explorer'. When the next build is available please update and this feature should be fixed.

[2021-10-14 08:23] #5980 closed, assigned to nobody

[2021-10-14 08:30] MatteoBiscosi commented on #5981
Hi @Niklasr69 I already tried to implement your suggestion some times ago, however with the current javascript library we are using (we do not plan to change it in the following time if no problem arise) it's not possible to implement your request.
I'm going to close the issue, if we are going to change the js library then I'm going to reopen the ticket.
Thanks a lot for your suggestion

[2021-10-14 08:30] #5981 closed, assigned to nobody

[2021-10-14 08:33] MatteoBiscosi commented on #5981
The suggestion i give you is to just select the column you are interested about by selecting/deselecting the columns here
![Screenshot from 2021-10-14 10-32-18](https://user-images.githubusercontent.com/49585191/137281172-9f3cad06-82fa-4d03-a08d-894388cb34bb.png)
Thanks again for your suggestion.

[2021-10-14 08:34] Niklasr69 commented on #5981
Hi Matteo,
Thanks for the information, is not so important.
Q:
Is it possible to the rest of the columns that is not on the screen?

BR Niklas

From: Matteo Biscosi ***@***.***>
Sent: den 14 oktober 2021 10:31
To: ntop/ntopng ***@***.***>
Cc: Niklas Rehnberg ***@***.***>; Mention ***@***.***>
Subject: Re: [ntop/ntopng] Possibility to customize the order of the columns in the history page (#5981)

[2021-10-14 08:35] lucaderi commented on #5976
Verified as fixed

[2021-10-14 08:35] #5976 closed, assigned to MatteoBiscosi

[2021-10-14 08:59] MatteoBiscosi commented on #5979
Hi @Niklasr69 feature implemented as requested, as you can see in the screenshot below. To know the flow exporter IP (like for all the other ips into the Historical Flow Explorer page, just stay on the name and the ip is going to show up as a tooltip.
![Screenshot from 2021-10-14 10-56-53](https://user-images.githubusercontent.com/49585191/137285512-5a23f96a-2d7f-4b3f-897c-c093160bb9dc.png)
Please

[2021-10-14 11:12] lucaderi commented on #5914
Verified as fixed

[2021-10-14 11:12] #5914 closed, assigned to simonemainardi

[2021-10-14 11:15] MatteoBiscosi commented on #5966
Hi @ListenNjoy thanks for your help, however those are not the problems causing the issue. Which browser are you using? could you try with an other browser (sorry but still unable to reproduce)?

[2021-10-14 11:49] ListenNjoy commented on #5966
I have tested on Microsoft edge and Firefox, on 2 different computers and cleard the cache on all system.

Is a reset of ntopng a solution and restore from backup.?

I am on version: ntopng Enterprise M v.5.0.211013 (CentOS Linux release 7.9.2009 (Core)

[2021-10-14 12:30] MatteoBiscosi commented on #5966
Try it out, but I don't think that it's going to fix the problem infact it should be just an estetic bug, not a software one. Before trying to reset, please try to click on the red button 'Reset to factory value' and then apply. Then close the modal and reopen it. If it's still bugged we could do a support session and I'll try to take a look directly at your problem. If that's the case please drop

[2021-10-14 12:56] simonemainardi opened #5982 "Remove detection of invalid DNS chars"
Once https://github.com/ntop/nDPI/issues/1347 will be implemented, ntopng will no longer need to check for invalid chars in a DNS query and thus this piece of code can be removed https://github.com/ntop/ntopng/blob/64252fbcea496faad44dc296a0f8ce8964083cb9/src/Flow.cpp#L786

[2021-10-14 13:01] MatteoBiscosi commented on #5940
Closing for inactivity, please reopen the issue if needed

[2021-10-14 13:01] #5940 closed, assigned to MatteoBiscosi

[2021-10-14 15:18] MatteoBiscosi opened #5983 "Alert Time Dropdown Not Working As Expected"
If the page is reloaded or auto reloaded and the dropdown is set to 30 min (for e.g.) then if should refresh each time with the last 30 min, instead the time is not updated and so the refresh is not performed as expected
(See #5933)

[2021-10-14 17:18] Taralas commented on #5929
Sorry on the lack of updates. Work has been a bit difficult. I was able to get some time this morning, and ran the last debug build, and had two crashes, both with no stack traces:

14/Oct/2021 11:45:01 [LuaEngine.cpp:560] WARNING: Script failure {/usr/local/share/ntopng/scripts/callbacks/system/discover.lua][attempt to index a string value]
PANIC: unprotected error in call to Lua API (attempt to

[2021-10-15 05:54] Niklasr69 commented on #5979
Hi,
Is working perfect
//Niklas

[2021-10-15 08:25] MatteoBiscosi commented on #5979
Great! thanks for your report.

[2021-10-15 08:25] #5979 closed, assigned to MatteoBiscosi

[2021-10-15 09:48] thomasbruchet opened #5984 "Can't delete a sub-interface + Multi crash of ntopng"
Hello,

-------------
EDIT: **This problem cause a lots of error and crash of ntopng**, I receive 4 mails per minute:

`[15/10/2021 13:23:15] [Error] [Process][System][ntopng] Started after anomalous termination (bug report) ntopng v.5.1.211013 (15701) [OS: Debian GNU/Linux 10 (buster)][pid: 15912][options: --interface "eno2" --interface "enp8s0f0" --interface "enp8s0f1" --https-port "3000" --http

[2021-10-15 11:44] thomasbruchet commented on #5984
IThe sub interface that have this problem was created this morning.
I've named them like that: VLAN_name(VLAN_ID)
I've deleted all the old sub interface that was just named like "VLAN_name" withtout the "(xxx)"
I've created again a new interface withtout (xxx) and try to delete them, that work.

I think the (xxx) create a bug in the generation of the interface but can't even delete them.
Here is t

[2021-10-15 13:32] Taralas commented on #5929
From last night:

14/Oct/2021 20:45:00 [LuaEngine.cpp:560] WARNING: Script failure [/usr/local/share/ntopng/scripts/callbacks/system/discover.lua][attempt to index a string value]
PANIC: unprotected error in call to Lua API (attempt to index a function value)
Abort trap
During startup program exited with code 134.
(gdb) bt
No stack.

From: Shawn ***@***.***>
Sent: Thursday, October 14, 2021 12:18

[2021-10-15 13:53] MatteoBiscosi commented on #5984
Hi @thomasbruchet I've test it on my machine but everything seems working fine. Could you please share your `ntopng --version`? After that please open the developing tools of your web browser (in my case i just need to click `f12` or right click on the browser -> `developer tools` or `inspect`) and let me know if some kind of error appears into the console tab other then the two in my screenshot.

[2021-10-15 14:01] thomasbruchet commented on #5984
Hello;

[code]

[code]

I've redone the same thing 2mn later:

[code]

[code]

I can't give you the developing tools's result because I've reconnected the link to the server's interface and the interface crash.
I've no time on each refresh to give you those information. I go to the DC to disconnect the link and will give you the dev tools information.

[2021-10-15 14:06] MatteoBiscosi commented on #5984
@thomasbruchet try to update to the latest version of ntopng, because we fixed a crash in ntopng and could be the same problem.
Just to get it better, do you add a new sub-interface from the menu below and it crashes? instantly crashes or it crashes just few minutes later?
![Screenshot from 2021-10-15 16-04-46](https://user-images.githubusercontent.com/49585191/137500360-e6414fbf-bfd4-469e-9d62-0c

[2021-10-15 14:08] thomasbruchet commented on #5984
It didn't crash when I had them from the menu.
That start to crash when I restart the service to applicate the change.
The only way to have the interface without crash now is to disconnect the RJ45 link or when is it possible to have a few sec on the interface to put it in "pause" mode.

[2021-10-15 14:11] MatteoBiscosi commented on #5984
could you please send me your ntopng configuration? please drop an email at `biscosi at ntop.org`, unfortunately I cannot reproduce the behavior so I'll send you a debug build by email. Please follow these instructions to use the debug build https://github.com/ntop/ntopng/blob/dev/doc/README.crash.md

[2021-10-15 14:26] cardigliano commented on #5929
@Taralas please be patient a bit more as we are testing new fixes that could also fix your issue. Sorry for the inconvenience.

[2021-10-15 14:26] thomasbruchet commented on #5984
Here is the log of developer tools

![image](https://user-images.githubusercontent.com/86605223/137503488-70021101-2c13-44a8-a89e-7cba2cdc416c.png)

I will send the information by mail as requested

[2021-10-15 14:36] #5977 closed, assigned to nobody

[2021-10-15 14:36] Taralas commented on #5929
Not a problem. Real troubleshooting takes time 😉

From: Alfredo ***@***.***>
Sent: Friday, October 15, 2021 9:27 AM
To: ***@***.***>
Cc: Shawn ***@***.***>; ***@***.***>
Subject: Re: [ntop/ntopng] Segfault on pfSense related to LuaEngine (#5929)

@Taralas<https://github.com/Taralas> please be patient a bit more as we are testing new fixes that could also fix your issue. Sorry for the inconvenience

[2021-10-15 14:39] thomasbruchet commented on #5984
Edit; I will not have the time to do it today and I'm on on the office the next week.
Can you put the "Issue" in pending until monday 25, I will not be able to send you the informations before this date.
Thank you.

[2021-10-15 14:57] lucaderi opened #5985 "Code cleanup required"
This termination code is hard to read and seems to execute actions that are not supposed to be performed.

This is to request to clean the code and speed-up termination
https://github.com/ntop/ntopng/blob/dev/src/Ntop.cpp#L608

[2021-10-15 19:39] sigmaapex opened #5986 ""Hosts" page not loading - redux"
Hi!

Similar to #5967, Host page is not loading following clean build/install today.  Syslog output when accessing the page is below.

Thx!
Justin

`Oct 15 19:30:04 host ntopng[2561484]: [LuaEngine.cpp:1253] WARNING: Script failure [/usr/local/share/ntopng/scripts/lua/hosts_stats.lua][/usr/local/share/ntopng/scripts/lua/modules/lua_utils.lua:662: field 'getFlowDevices' is not callable (a nil value

[2021-10-15 20:09] sigmaapex commented on #5986
Fixed with #5987

[2021-10-15 20:09] #5986 closed, assigned to nobody

[2021-10-16 06:48] lucaderi opened #5988 "Missing HTTP Method from alerts"
![Screen Shot 2021-10-16 at 08 45 10](https://user-images.githubusercontent.com/4493366/137576958-a2410786-9204-4318-b44f-19b1b5cf3150.png)

In HTTP alerts like the one above the method (e.g. POST) is missing. This is very important info to know for troubleshooting attacks or similar.

[2021-10-16 06:52] lucaderi opened #5989 "Missing Flow context from all flow alerts"
![Screen Shot 2021-10-16 at 08 45 10](https://user-images.githubusercontent.com/4493366/137577011-c388b41e-1dd2-4985-955f-23824f37b967.png)

In alerts (see the one above but this request is for *ALL* flow alerts) it would be nice to have some context such as the number of bytes per direction (cli->srv and src->cli) or if not possible, at least the predominant direction (upload vs download). I am a

[2021-10-16 06:55] lucaderi opened #5990 "Severity menu not working in host flows"
![Screen Shot 2021-10-16 at 08 53 11](https://user-images.githubusercontent.com/4493366/137577160-a24b2881-acd5-4425-a4a7-813d774dab17.png)
Selecting the severity menu has no effect in host flows, but it works in flows (left sidebar menu -> flows)

[2021-10-16 09:11] lucaderi opened #5991 "Implement All Preset in Alerts Page"
![Screen Shot 2021-10-16 at 11 08 48](https://user-images.githubusercontent.com/4493366/137581754-d5d427ee-54bb-4a2d-926e-55abb0b4baf5.png)

The time preset is helpful with live traffic, but with pcap traces (often captured years ago) it is not. This is to request to add a new entry "All" (or call it as you like) that includes all alerts recorded in ntopng

[2021-10-16 12:37] Cyphon00 commented on #5025
Hi @cardigliano
I'm having similar issues with speedtest on ntopng 4.2 on NetGate PfSense.
![image](https://user-images.githubusercontent.com/3205742/137587580-56d4023d-27d5-4c51-acfa-86fb61b65c80.png)

Details of my system
![image](https://user-images.githubusercontent.com/3205742/137587613-f452a985-8549-4e41-aa82-8b7d78103d3d.png)

I wasn't able to find/run speed test from the CLI, so I (had to)

[2021-10-18 06:40] StrilGit opened #5992 "RDP-streams source-destination interchanged for RDP 7.1"
Hi!

Setup: SFlow-Switch -> nProbe 9.7.211006 > ntopng 5.1.211006 (all Enterprise L)

For RDP sessions with windows-clients for RDP <v8, I am seeing a strange issue.
While for RDP >=8, I am seeing flows:
Client -> Server:3389 (up and download)
RDP <8 shows:
Server:3389 -> Client (up and download)

Example with RDP 7.1:
![image](https://user-images.githubusercontent.com/42024990/137680601-0b0bc686-

[2021-10-18 06:41] StrilGit commented on #1671
Hi!

I can see exactly the same issue with my fortigates. It would be great to have a workaround to let ntopng/nprobe ignore the field "OUT_BYTES".

Stril

[2021-10-18 08:55] MatteoBiscosi commented on #5983
Verified as Fixed

[2021-10-18 08:55] #5983 closed, assigned to MatteoBiscosi

[2021-10-18 08:57] MatteoBiscosi opened #5993 "Add auto-refresh enabling to alert page"
It is requested to directly add a toggle button to the alert page to enable / disable alert page auto-refreshing (using the default time, if the user want to change the auto-refresh period then he has to go to the preferences, possibly add a link to the page)

[2021-10-18 14:34] simonemainardi commented on #5269
@MatteoBiscosi is taking care of this.

[2021-10-19 05:51] lucaderi commented on #5990
Verified as fixed

[2021-10-19 05:51] #5990 closed, assigned to MatteoBiscosi

[2021-10-19 05:52] lucaderi commented on #5967
Working for me

[2021-10-19 05:52] #5967 closed, assigned to nobody

[2021-10-19 05:53] lucaderi commented on #5936
Not able to reproduce it, closing for now

[2021-10-19 05:53] #5936 closed, assigned to MatteoBiscosi

[2021-10-19 06:18] martinscheu opened #5994 "Extend clear text credentials alert"
Hello ntop team
The http clear text is very helpful, not only in terms of security, also for communication / collaboration across departments. Would it be possible to extend the alert for other clear text protocols, like ftp, telnet, imap, pop3, smtp ?
thank you

[2021-10-19 06:20] lucaderi commented on #5933
This is the page
![image](https://user-images.githubusercontent.com/4493366/137853304-09f798c8-5063-434f-9dc5-0c6b9df60d66.png)

The **first problem** is that I had to manually change the "to time" as otherwise is set to the current time and thus a period update must move this time otherwise the refresh will be useless. If you remember I have asked some time ago to fix an inconsistency of the page

[2021-10-19 06:23] lucaderi commented on #5970
Verified as fixed

[2021-10-19 06:23] #5970 closed, assigned to MatteoBiscosi

[2021-10-19 06:26] lucaderi commented on #5968
Yes this behaviour is still broken in MacOS but it works on Linux.