[2018-01-08 09:58] #1587 closed, assigned to nobody

[2018-01-10 08:08] khaukha commented on #153
Just enter these following commands (for Debian, Ubuntu Systems)
Stop ntopng service
service ntopng stop

Enter this command:
- redis-cli del user.admin.password, this is to reset to defaults of username: admin Password: admin
restart ntopng service  and now it's set to defaults
service ntopng start

Go to the web browser and enter your server ip like 192.168.1.20:3000
Login as admin and admin (Us

[2018-01-10 22:43] uwwpowersk opened #1624 "Local Networks not being shown on Traffic Dashboard/Top talkers after update"
Updated one of my ntopng instances here from 3.1.(not sure the original version, believe October/November was the last server maintenance) to v.3.2.180106 and it appears, at least in sections, that the local network clients have disappeared.

starting with the conf file.  I've got mysql being used for historical purposes, and 6 local networks defined.  No issues currently with mysql.

-G=/var/run/

[2018-01-11 17:23] junelsolis commented on #1624
I too am having the same issue after updating to the last two stable updates. Currently running enterprise v.3.2.180110. I am running ntopng in bridge mode.

[2018-01-11 18:00] uwwpowersk commented on #1624
I have a 2nd instance  (professional) that is on the beta track, and v.3.3.180108 appears to be doing the same thing.

That specific instance is almost identical in setup to the above.  (VLANs not showing up as local networks, defined in the config to be local, shows the flows, but nothing under network or on the Dashboard.)  Not bridging there either, running it mirrored off a switch, just catego

[2018-01-11 19:20] aurelspin opened #1625 "Ntopng Entreprise edition not filtering packet"
I'm trying to filter packets and it's not working.

I don't have the same page as the screen below

It's a YouTube video from your channel.

![20180111_173611](https://user-images.githubusercontent.com/29149485/34842783-d08322f6-f70c-11e7-9eac-2f258c4060b5.jpg)

[2018-01-12 04:41] Howard-Chang commented on #1623
plz close I found the problem is due to the cisco switch configuration.

[2018-01-12 08:45] emanuele-f commented on #1623
Thank you for reporting

[2018-01-12 08:45] #1623 closed, assigned to nobody

[2018-01-12 08:49] emanuele-f commented on #1625
Hi, do you have the ntopng pro licence? What ntopng version are you running?

[2018-01-12 09:49] emanuele-f commented on #1624
Fixed with commit a5337ea7dff39c759b1d90b7b500e42406f7e06c . A new package will be available in one hour, thank you for reporting.

[2018-01-12 09:49] #1624 closed, assigned to emanuele-f

[2018-01-12 09:51] emanuele-f opened #1626 "Fix vlan filter on flows and macs"
Flows and macs retrieval functions should be fixed as hosts in commit a5337ea7dff39c759b1d90b7b500e42406f7e06c to use vlan_filter (u_int16_t) -1 as no vlan filter rather than 0.

[2018-01-12 12:41] aurelspin commented on #1625
3.2.180110 - Enterprise Edition

[2018-01-12 13:25] simonemainardi commented on #1625
please post the ntopng configuration used

[2018-01-12 14:05] aurelspin commented on #1625
only
ntopng -i bridge:eth1,eth0

is it possible to block by the traffic profiles ?

[2018-01-12 15:28] emanuele-f commented on #1625
No that's not possible. You can only block by protocol or by protocol category. What's the ntopng command output? Can you post a screenshot of the page you get when selecting the "bridge:eth1,eth0" interface from the ntopng gui?

[2018-01-12 15:29] capricorn80 commented on #1589
Thanks. I have installed nprobe on windows box now. Is there any good tutorial to set it up so that it will send the data to ntopng?

[2018-01-12 16:39] aurelspin commented on #1625
![capture d ecran1](https://user-images.githubusercontent.com/29149485/34885214-8489a45c-f7bf-11e7-818b-e19e0586d648.png)

[2018-01-12 17:18] aurelspin commented on #1625
Also it does not block my rules

[2018-01-12 18:21] emanuele-f commented on #1625
After setting up the policies, you have to assign your devices (mac address, ip or network) to the pool (test in this case)

[2018-01-12 18:23] emanuele-f commented on #1589
Please refer to www.ntop.org/nprobe/advanced-flow-collection-with-ntopng-and-nprobe/

[2018-01-13 12:27] resturiani opened #1627 "Ntopng not detect ipv6 only ipv4"
hello everyone,
I want to monitor ipv4 and ipv6 all at once with ntopng. And I've added the local network to the ntopng.conf configuration file, as shown below:
![s1](https://user-images.githubusercontent.com/22189485/34906059-ad09fdd6-f897-11e7-8bf6-00375a3b9554.png)

when I access the web with my host 192.168.10.253:3001, the network detected only ipv4 and ipv6 none of them detected. as shown be

[2018-01-13 14:32] aurelspin commented on #1625
i'm using ntopng -i bridge:tap0,eth1

and still not working

[2018-01-13 14:33] aurelspin commented on #1625
![capture d ecran3](https://user-images.githubusercontent.com/29149485/34906940-1375fb0e-f877-11e7-90d2-59674c143755.png)

[2018-01-13 14:34] aurelspin commented on #1625
it shows that youtube is crossed, but still working
my current network is like that:

    	   eth0    +-----------+  eth1
    Internet  <---->   |   ntopng  | <----> Local network
                       +-----------+

[2018-01-15 08:47] emanuele-f commented on #1625
If you stop ntopng, can your clients still reach internet? Does your eth1 interface have an IP address? It should not.

[2018-01-15 10:00] ganeshsanap4777 commented on #163
can anybody tell me how we can find out Avg Thpt in mysql dump data?

[2018-01-15 10:49] Saleh2014 opened #1628 "ntopng Enterprise/Embedded Edition & Traffic Policies/Filtering"
Hello Ntop team,

We are in the stage to testing ntopng Enterprise/Embedded Edition v.3.3.171214 in Raspberry Pi 3 as an access point in router mode not bridge mode but we don't see the Traffic Filtering in the web interface.
Please advise us.

Thanks & Best Regards,
Saleh

[2018-01-15 10:55] simonemainardi commented on #1625
@aurelspin you said that your configuration is

[code]

so why did you start ntopng as `-i bridge:tap0,eth1`? See, all your flows are mono-directional, they only show client traffic. You should check your network configuration according to the readme.

[2018-01-15 10:55] emanuele-f commented on #1628
![screenshot](https://user-images.githubusercontent.com/5488003/34939094-e3a8cf76-f9ea-11e7-9054-0c1ecc52e74c.png)

What's the contents of your ntopng.conf ?

Hi, you have to select the bridge interface from the `Interfaces` menù, then the `Traffic Policy` button should appear.

[2018-01-15 11:08] Saleh2014 commented on #1628
The Raspberry Pi 3  is configured as wifi router not in bridge mode. Form the Interfaces menu we have lo,dummy0,wlan0 and eth0. Regarding the contents of our ntopng.conf, we don't have change any thing it's the default and all lines is begin with #

[2018-01-15 11:22] emanuele-f commented on #1628
You need to configure ntopng for inline mode, either from /etc/ntopng/ntopng.conf or via command line arguments. Please refer to the "1+1 mode " in https://github.com/ntop/ntopng/blob/dev/doc/README.inline, change "eth1" with "wlan0". You will need to create a tap interface and add "-i bridge:tap0,wlan0" to your ntopng options

[2018-01-16 02:51] resturiani opened #1629 "The ipv6 network does not appear in ntopng"
hello everyone,
I want to monitor ipv4 and ipv6 all at once with ntopng. And I've added the local network to the ntopng.conf configuration file, as shown below:
![34906059-ad09fdd6-f897-11e7-8bf6-00375a3b9554](https://user-images.githubusercontent.com/22189485/34969760-fe642e42-faa2-11e7-8181-dfaf42d55af1.png)

when I access the web with my host 192.168.10.253:3001, the network detected only ipv4

[2018-01-16 02:53] #1627 closed, assigned to nobody

[2018-01-16 09:39] Saleh2014 commented on #1628
Thank you Emanuele. Everything is okay. I try to add new pool to Manage pools but the add button + is not active. I mean when I click the add button + not working. Of Course I have run at beginning the Bridge Wizard and have currently three pools Children, Guests and Main.

[2018-01-16 10:16] Howard-Chang opened #1630 "Could nProbe ingest netflow and send it to Elasticsearch directly?"
Hi, this is my architecture of ntopng and elasticsearch:
![image](https://user-images.githubusercontent.com/19474557/34983323-1260b736-fae8-11e7-8a5c-b845085353e5.png)

the yellow arrow is what I want to ask: whether nProbe could ingest netflow and send it to elasticsearch via logstash directly or even needn't through the logstash?
Because I found that the original architecture would cause drop fl

[2018-01-16 13:03] Saleh2014 commented on #1628
Any update !!!

Thanks.

[2018-01-16 20:59] uwwpowersk commented on #1624
Confirming that 3.2.180113 and 3.3.180116 appear to have fixed the issue.

[2018-01-17 09:47] emanuele-f commented on #1628
@Saleh, what's the output of `ntopng --version`? Do you see a message at the bottom of the pool creation page about maximum number of pools?

[2018-01-17 09:47] emanuele-f commented on #1624
Thank you

[2018-01-17 09:51] emanuele-f commented on #1629
Hi, please remove the space after the comma on the `--local-networks` configuration. If you go into the Hosts view of ntopng and filter by IPv6, can you actually see any IPv6 hosts belonging to the specified network?

[2018-01-17 09:54] Saleh2014 commented on #1628
ntopng --version
v.3.3.171214    [Enterprise/Professional/Embedded build]
GIT rev:        dev:aeeb0fa26197ddd646d0a9f2befb183f1eb8ada9:20171214
Pro rev:        r1302
Built on:       Raspbian GNU/Linux 9.1 (stretch)
System Id:      FDD2EEF2499602D2
Platform:       armv7l
Edition:        Enterprise Embedded
License Type:   Demo
Validity:       Until Sun Feb 11 23:40:35 2018
License:        25624AF48

[2018-01-17 10:08] Saleh2014 commented on #1628
Please see the attached file.
![capture](https://user-images.githubusercontent.com/35451579/35037079-0d385f7e-fb7f-11e7-9559-25e6201cb223.PNG)

[2018-01-17 10:22] emanuele-f commented on #1628
You have a demo version, this is why you can only create up to 3 different host pools. With the complete enterprise version you can create up to 128 host pools

[2018-01-17 11:12] Saleh2014 commented on #1628
Okay.

Thank you.

[2018-01-17 13:00] #1628 closed, assigned to nobody

[2018-01-17 14:19] resturiani commented on #1629
hi, thanks for the reply.
my question above, has been resolved. the results are as below:
![hasil ipv6 done](https://user-images.githubusercontent.com/22189485/35047286-0340e962-fbcc-11e7-95fc-2f79c4d68e2a.png)

but when i change mikrotik become cisco router, ipv6 its no detect again in its ntop. the results are as below:
![router1](https://user-images.githubusercontent.com/22189485/35047292-095b2

[2018-01-17 14:51] simonemainardi commented on #1629
Very likely this is not an ntopng issue as you've already verified that it works with the mikrotik.

You have to configure your Cisco NetFlow for ipv6. Make sure ipv6 flows are poperly exported by the cisco. If you want us to inspect the netflow please attach a pcap that contains both templates and records.

[2018-01-17 14:55] simonemainardi commented on #1630
As already discussed in earlier issues it seems that the issue is with ES not ingesting flows at at the required speed.

Anyway, if you want to export flows to ES from nProbe you can use the following option (requires nProbe export plugin)

[code]

[2018-01-17 14:55] #1630 closed, assigned to simonemainardi

[2018-01-17 19:19] vidgizmo opened #1631 "unable to find libcache.h when building ntopng"
I've been building this for several years... just started getting this error. I saw the error on dev branch but reverted ntopng to 3.2-stable and nDPI to 2.2-stable and it remained.

Maybe I need to wipe the dirs and repull?

g++ -g -Wall -I/home/username/code/oss/ntopng -I/home/username/code/oss/ntopng/include -I/usr/local/include -D_FILE_OFFSET_BITS=64 -I/usr/include/hiredis -I/usr/include/hired

[2018-01-17 23:22] vidgizmo commented on #1631
I found that I had previously done a make install w/ nDPI and that version was sitting in /usr/local/... as shown in the logs above. I removed all traces of nDPI outside of my build tree and restarted w/ a clean build and everything is fine.

[2018-01-17 23:22] #1631 closed, assigned to nobody

[2018-01-18 13:55] resturiani commented on #1629
Hi,
Do you mean enable ipv6 flow?
On my cisco router, i just configure ipv4 and ipv6. after that i configure netflow with destination ipv4 server (ntopng) and port 2055.
After that I access web ntopng, which only detect network ipv4, ipv6 not detected.
Sorry, I do not know about pcap. i have never tried it.
How to solve it?

[2018-01-18 16:25] gianogli opened #1632 "Request to improve rrd graphs for view interfaces"
As you can see in this image:
![ntopng_01](https://user-images.githubusercontent.com/14093378/35101105-8fd8d424-fc5e-11e7-92ad-e75a53c6783f.png)
on our environment we defined 10 interfaces: 9 "real" zc interfaces and a "view" interface (the last one). The view interface is the "sum" of the others as you can see from the ntopng.conf file:
[code]
With this configuration, after 4 or 5 hours of run, i

[2018-01-18 18:49] marsark commented on #1629
Watch for you exported NetFlow version. NetFlow v5 is not able to handle IPv6 traffic. You have tu use v9 at least or IPFIX (v10).

[2018-01-18 20:59] marsark opened #1633 "Improve traffic dashboard with flows overview graph"
In our old flow-analysis tool, there was a simple bar graph showing amount of flows in 5 minutes periods over selected time range (default one day). This view is very handy. Now we are moving from old solution to ntopng and I missing such a graph.
![cose_dash](https://user-images.githubusercontent.com/35576246/35121117-a7e6edee-fc9a-11e7-80d6-03b7c6feff3f.png)

[2018-01-19 01:20] resturiani commented on #1629
Hi @marsark ,
I'm using netflow v9 in cisco router. And still the ipv6 network does not appear in my ntopng.

[2018-01-19 09:22] fkanyesigye commented on #839
Hi, I am facing an issue with setting up historic data. Below is the output i get when i input this code:
ntopng -F "mysql;localhost;ntopng;flows;root;"

 I'll appreciate if someone here can help how to resolve the error to do with ports binding.

19/Jan/2018 09:54:58 [Ntop.cpp:1361] Setting local networks to 127.0.0.0/8
19/Jan/2018 09:54:58 [Redis.cpp:109] Successfully connected to redis 127.0.0.

[2018-01-19 09:26] emanuele-f commented on #1633
Hi, ntopng has a graph which shows the number of active flows over time, you can access this from the interface charts page

[2018-01-19 12:15] simonemainardi commented on #839
Very likely there's another ntopng process running. Please stop any running instance before executing from the command line

[2018-01-19 12:57] fkanyesigye commented on #839
Thanks I have done that and ran the query again. it however seems to be running endlessly now, as below. I have waiting for it to end for about 10 minutes now. is this normal? do i give it more time to probably finish?

19/Jan/2018 14:31:35 [Ntop.cpp:1361] Setting local networks to 127.0.0.0/8
19/Jan/2018 14:31:35 [Redis.cpp:109] Successfully connected to redis 127.0.0.1:6

[2018-01-19 13:00] simonemainardi commented on #839
yes, wait or create a new database. it's running a schema migration after an update. it's a one-time procedure that takes some time.

[2018-01-19 13:01] fkanyesigye commented on #839
Thanks. Will wait.

[2018-01-19 15:04] fkanyesigye commented on #839
It appears to be stuck at some point, not loading anymore. Would you be able to help further? Thank you

[2018-01-22 18:09] lucaderi opened #1635 "Implement sFlow virtual interfaces"
When a single nprobe collects flows coming from multiple sFlow devices, it should be possible to create virtual interfaces, one per sFlow device, so that flows/hosts are not mixed up.

[2018-01-22 20:43] CampbellBruce opened #1636 "nbox problem after upgrading to 2.6"
After upgrading nbox in Ubuntu 14.04.5 LTS from 2.3 to 2.6 the web interface of nbox wont run.
Apache2 is running.The message in the end of installation after installing all the libs is the following:

Setting up nbox (2.6-915) ...
modprobe: ERROR: ../libkmod/libkmod.c:507 kmod_lookup_alias_from_builtin_file() could not open builtin file '/lib/modules/4.4.19-1-pve/modules.builtin.bin'
modprobe: FA

[2018-01-23 10:52] cardigliano commented on #1636
It seems that the kernel you are using does not provide 8021q, however it is not mandatory, I pushed a fix to be able to complete the installation. Please update.

[2018-01-23 11:35] emanuele-f commented on #1633
@marsark have you review the feature I suggested? Do you think it may be appropriate for you problem?

[2018-01-23 11:39] emanuele-f commented on #1629
Hi @resturiani, sorry but this is not related to ntopng itself. Your ntopng configuration if ok. I'm closing the issue.

[2018-01-23 11:39] #1629 closed, assigned to nobody

[2018-01-23 11:41] emanuele-f commented on #1625
@aurelspin any update?

[2018-01-23 11:42] #1589 closed, assigned to nobody

[2018-01-23 12:34] marsark commented on #1633
I got our Pro licence and now testing features not available in community edition. I can find similar graph in: Interfaces -> tcp://127.0.0.1:5556 -> Graph Icon -> select 1d period -> select Active Flow from Timeseries drop-menu; this path is very clumsy for daily usage.

Data in this graph looks different in comparison with our retired flow solution. I will dig in it and try to find out why.

[2018-01-23 20:18] CampbellBruce commented on #1636
After the update new version 2.6-916 works flawlessly and in addition the installation of the rest of packages from inside nbox interface was perfect.
Thank you!

[2018-01-23 20:18] #1636 closed, assigned to cardigliano

[2018-01-24 08:41] alecardia opened #1638 "Ntop 5 customized protocol list problems"
Using ntop v.5.0 Fedora RPM (64 bit) on CentOS 6.9, 2.6.32-642.el6.x86_64 kernel
- - - -
Case1
Start cmd : /usr/sbin/ntop -d -L -n --skip-version-check -u ntop -P /var/lib/ntop
sortDataIP.html Protocols shown : Unknown, HTTP, MDNS, NTP, SSDP, QQ, SSL, DHCPv6, ... SNMP, NFS/AFS.
/var/log/messages: no errors
- - - -
Case2
Start cmd : /usr/sbin/ntop -d -L -n --skip-version-check -u ntop -P /var/lib/n

[2018-01-24 09:02] emanuele-f commented on #1638
Hi, you are using `ntop` and not `ntopng`. Ntop is not supported anymore, please install ntopng.

[2018-01-24 10:16] alecardia commented on #1638
I've already tried Emanuele, and I've met many problems, that's the reason why I still continue using Ntop 5 on my sniffers.

# yum install redis hiredis
==> No package hiredis available
OK, solved using rpm bin

# yum install pfring n2disk nprobe ntopng ntopng-data cento nbox
(...)
Error: Package: nprobe-8.3.180124-6048.x86_64 (ntop)
           Requires: zeromq >= 4.0.0
           Installed: zero

[2018-01-24 10:47] emanuele-f commented on #1638
Please follow the istructions at http://packages.ntop.org/centos/

[2018-01-24 13:49] gianogli opened #1639 "Show only the Blacklisted Hosts..."
![blacklisted_hosts](https://user-images.githubusercontent.com/14093378/35335151-f3b7e902-0114-11e8-89c7-ca7b58c6e0e9.png)
Could you add a "Blacklisted Hosts Only" filter in the drop down menu in the right?
Thanks...

[2018-01-24 18:06] diegoarioza opened #1640 "Disk Used by folder RRD"
Hello, one of our clients has a ntopng license, but the / opt / ntop folder is using more than 200gb, a lot of the space used is from the rrd folder, I wonder if we can remove these folders to clean, thanks

[2018-01-25 07:41] alecardia commented on #1638
Tutorial is very OK, and perhaps It could be just a little bit better adding:

# touch /etc/ntopng/ntopng.start
to avoid "Missing /etc/ntopng/ntopng.start. Quitting ..." message after the first run.

Thanks a lot Emanuele. Have a good time.
Ales.

[2018-01-25 10:10] emanuele-f commented on #1638
Hi, that url only contains installation instructions but I agree some basic configuration instruction would be useful. Nevertheless, the ntopng.start is only needed in Centos 6.9 and some other pre-systemd OS.

[2018-01-25 10:10] #1638 closed, assigned to nobody

[2018-01-25 10:15] emanuele-f commented on #1640
Hi, the rrd folder contains RRD files which holds all the traffic stats for hosts, host pools, devices and so on. You can delete them but you will lose all these data.

Please check out the Timeseries section of the ntopng preferences to only enable the dump of the stats you are interested in. Also make sure your local networks (`-m` ntopng parameter) include only the network CIDRs you actually wi

[2018-01-25 10:15] #1640 closed, assigned to nobody

[2018-01-25 11:50] joakimlemb opened #1641 "Feature Request: Disaggregate on %EXPORTER_IPV4_ADDRESS"
This would be really useful in our scenario where we want to separate flows between multiple exporters on one nProbe ip/port.

[2018-01-25 14:06] emanuele-f commented on #1641
Hi, this is already possible, please check out the ntopng advanced preferences `Dynamic Network Interfaces` disaggregation by "Probe IP".

![screenshot](https://user-images.githubusercontent.com/5488003/35392058-df5d51e6-01e0-11e8-887a-4444a740b510.png)

[2018-01-25 14:06] #1641 closed, assigned to nobody

[2018-01-25 14:42] joakimlemb commented on #1641
Well you are right, I got it to work using a custom template with %EXPORTER_IPV4_ADDRESS, but nprobe gives the indication that a custom template should not be needed:
`[nprobe.c:6850] WARNING: Adding %EXPORTER_IPV4_ADDRESS to the template as nProbe is working as collector`

So I'm guessing it's either a bug or that message should be removed?

[2018-01-25 14:56] simonemainardi commented on #1641
nProbe is just telling you it is adding `%EXPORTER_IPV4_ADDRESS` automatically so you don't have to change the template.

So apply the Probe IP setting  and restart ntopng. Then you should start seeing the creation of dynamic interface.

[2018-01-25 16:20] simonemainardi commented on #1625
Solution proposed, no feedback received in 10 days. Closing for inactivity.

[2018-01-25 17:37] aurelspin commented on #1625
yes sorry everything's now fine :)

[2018-01-25 18:06] joelphilippage opened #1642 "Redis Error Unknown Command 'DUMP' no historical data"
I am running ntopng Professional Edition v.3.2.171203 on Windows Server 2016. Since I upgraded to this version, it seems that ntopng can no longer store historical data in my sql database. When launching the program I get this log:
`25/Jan/2018 10:58:50 [Ntop.cpp:1612] Registered interface {C52860A3-18FD-42D8-A159-EE87DDD35288} [id: 1]
25/Jan/2018 10:58:51 [HTTPserver.cpp:839] HTTPS Disabled: miss

[2018-01-26 06:04] prutasiscale commented on #1529
howard, i would try using nginx and kafka prior to logstash filter. this
way you could scale huge traffic and you will have a buffer in case
logstash process dies.
On Sat, Jan 6, 2018 at 4:04 AM Howard-Chang <notifications@github.com>
wrote:

--
Peter Ruta
Principal Siscale

[2018-01-26 09:44] emanuele-f commented on #1625
Thank you

[2018-01-26 09:44] #1625 closed, assigned to nobody

[2018-01-29 08:57] ghost opened #1644 "build .deb packages from sources"
I am trying to build and customize the .deb packages from sources after cloning the source code.
it would be really helpful if you could indicate me the commands you use to follow to achieve this.

[I am trying to build for ubuntu 16.04 but it would be perfect to get packages for other distributions too]

Thanks in advance.

[2018-01-29 13:55] emanuele-f commented on #1604
@ubun3t  sorry for the late reply, I've added the possibility to get the report dates in server time zone.

![screenshot](https://user-images.githubusercontent.com/5488003/35513715-3ae8d37a-0504-11e8-8cfb-8e734b5d50d3.png)

![screenshot_1](https://user-images.githubusercontent.com/5488003/35513719-3c8b5266-0504-11e8-93ad-eaa1aee278b5.png)

The new package will be available in one hour. If you expe

[2018-01-29 13:55] #1604 closed, assigned to simonemainardi, emanuele-f

[2018-01-29 14:05] emanuele-f commented on #1644
Hi, please execute the following commands:

[code]

[2018-01-29 14:33] emanuele-f commented on #1595
Hi @gmichels, with the current ntopng version I successfully build the docker image using your dockerfile. Can you confirm it now works for you?

@gr01d I can reproduce your issue. We need to fix the nprobe package.

[2018-01-29 14:38] ghost commented on #1644
Great and fast reply. Thanks Emanuele!

[2018-01-29 14:40] emanuele-f commented on #1644
You are welcome!

[2018-01-29 14:40] #1644 closed, assigned to nobody

[2018-01-29 14:45] emanuele-f commented on #1605
[code]

[2018-01-29 14:51] gmichels commented on #1595
Yep latest version builds just fine, thank you.

[2018-01-29 14:55] emanuele-f commented on #1595
Thank you.

[2018-01-30 06:30] 13666752 opened #1645 "ntopng how to enable host traffic policy?"
Good afternoon! I do not see her "Ntopng" host traffic policy CA to include this option. Ntopng installed on linux debian (marscruiser network). Please help.

[2018-01-30 08:41] emanuele-f commented on #1645
Hi, what are the ntopng options you are using? How many network interface do you have? Please check out https://github.com/ntop/ntopng/blob/dev/doc/README.inline

[2018-01-30 08:52] 13666752 commented on #1645
Interfaces : eth0 - (WLAN) eth1 - (LAN)
Screenshots of the settings:
https://cloud.mail.ru/public/F4Ab/T5oqm6grv

[2018-01-30 08:56] 13666752 commented on #1645
I want to see here is "host traffic policy "
https://cloud.mail.ru/public/Lxur/hSicj2QA4

[2018-01-30 09:10] 13666752 commented on #1645
((((Internet  <--eth0 -eth1 -> and ntopng  one PC)))) ----> Local network

[2018-01-30 13:24] emanuele-f commented on #1645
So you have two network interfaces, eth0 connected to the internet and eth1 to you LAN. Please follow the instructions for 1+1 mode in the link above (take care to swap the eth0 and eth1 as the tutorial assumes that eth0 is connected to internet). You will need to create a TAP interface and then bridge the tap with your lan interface with ntopng: `ntopng -i bridge:tap0,eth0`.

Important: you will

[2018-01-30 14:13] 13666752 commented on #1645
Thanks.

[2018-01-30 14:14] 13666752 commented on #1645
The Pro version paid? License how much?

[2018-01-30 15:02] emanuele-f commented on #1645
Please check out our shop https://shop.ntop.org/ . If you want a demo or if you have any license related questions please contact us privately with this form: https://www.ntop.org/support/need-help-2/contact-us/

[2018-01-30 15:36] emanuele-f commented on #1639
Implemented. Thank you for the suggestion.

[2018-01-30 15:36] #1639 closed, assigned to emanuele-f

[2018-01-31 09:01] emanuele-f commented on #1645
I'm closing the issue for now.

[2018-01-31 09:01] #1645 closed, assigned to emanuele-f

[2018-01-31 11:05] emanuele-f commented on #1424
Fixed with f84adf37fb50493600881f279ecea82c0fcaa669

[2018-01-31 11:05] #1424 closed, assigned to simonemainardi

[2018-01-31 17:25] emanuele-f commented on #1605
We've got two differents bugs here. Fixed with commits:

6ebdcc33d6141a14f0812840745d5d7ca98c445a
691a50922291992d5f967b8894a26b1cfd826e57

Ps. please wait for the next raspberry build

[2018-01-31 17:25] #1605 closed, assigned to nobody

[2018-01-31 17:28] emanuele-f commented on #1595
@gmichels please wait for the next nprobe package build. I'm closing the issue.

[2018-01-31 17:28] #1595 closed, assigned to simonemainardi

[2018-02-01 14:06] simonemainardi commented on #1642
Can you please try and update Redis to a more recent version? DUMP command is only supported starting at redis version 2.6.

[2018-02-01 14:21] simonemainardi commented on #163
you can obtain the avg. throughput from mysql simply by dividing the total number of bytes (or packets) by the difference between last and first switched of any flow

[2018-02-01 15:13] joelphilippage commented on #1642
I had already tried version 3.2.100 for windows from here: https://github.com/MicrosoftArchive/redis. But shouldn't the version included in ntopng be compatible?
[edit] Okay. I deleted the redis folder from program files and ran the new 3.2.100 installer and it seems to have fixed the problem. What version is included in the ntopng installer? I am still gettting the error
`ERROR: Error 'fetching c

[2018-02-01 17:42] ghost opened #1646 "Segmentation Violation ntopng x86_64 v.3.2.180129"
When using the -H flag ntopng core dumps.
/usr/bin/ntopng  -U ntop -ieth2 -n 1 -H -d/var/lib/ntop -w 3000 -n 1 -m 192.168.0.0/16,10.0.0.0/8,172.16.0.0/12
Segmentation fault (core dumped)

gdb) r -U ntop -ieth2  -H -n 1 -d/var/lib/ntop -w 3000 -n 1 -m 192.168.0.0/16,10.0.0.0/8,172.16.0.0/12
Starting program: /usr/bin/ntopng -U ntop -ieth2  -H -n 1 -d/var/lib/ntop -w 3000 -n 1 -m 192.168.0.0/16,10.0

[2018-02-02 09:02] emanuele-f commented on #1646
Fixed in commit 0861aeff8d05222f8421133c6d1122ec61e15e49 . I've also removed the option from man page as it is no more supported. You can disable the alerts from the ntopng preferences.
Thank you for reporting!

[2018-02-02 09:02] #1646 closed, assigned to emanuele-f

[2018-02-02 16:10] oskapt opened #1647 "ntopng problems with elasticsearch and logstash"
Hi - I'm running ntopng CE v.3.2.180118 under Docker. I'm running all of this in my house, with ntopng forwarding to an ELK stack running under Kubernetes on a Mac Mini running Ubuntu 16.04. There's not a lot of traffic, but there's some chatter.

I first pointed it at elasticsearch, and it would almost immediately choke and start reporting errors about the flows backing up. I switched over to Log

[2018-02-03 13:48] charlesboyo opened #1648 "Double-quote escaping in JSON.DNS_QUERY attribute when dumping flows to MySQL"
Hi.

When exporting flows to MySQL, double-quotes in the DNS queries are not escaped. This results in invalid JSON which cannot be parsed by the readers of such records.

An example of the uncompressed value is:
{ "8": "192.168.1.134", "12": "192.168.1.1", "7": 64676, "11": 53, "4": 17, "57590": 5, "57591": "DNS", "2": 1, "1": 172, "24": 1, "23": 219, "22": 1517250794, "21": 1517250794, "SRC_IP_CO

[2018-02-05 11:27] simonemainardi commented on #1648
Proper escaping is already supported thanks to the use of function `json_object_new_string`. You can verify this directly from the json-c sources at https://github.com/json-c/json-c/blob/master/json_object.c#L1011 and https://github.com/json-c/json-c/blob/master/json_object.c#L993

To convince yourself you can also run a dummy example within ntopng as:
[code]

Run it and you will get proper escapi

[2018-02-06 06:34] Baymax254 commented on #791
Hey , I am on ntopng free version, 3.1 using ES i can save data, but how can i display  it using ntopng Lua web interface? using the same template provided in READme.Elasticsearch

[2018-02-06 09:12] lucaderi commented on #1073
Please specify a due date

[2018-02-06 09:45] emanuele-f commented on #1148
Hi @GiuseppeAugiero , do you have any link to interesting malware lists or other malware detection features to add to ntopng?

[2018-02-06 10:01] emanuele-f commented on #272
This could be integrated in two ways:
1) Communicating with a local MTA (using a cli command or via a process pipe as described in https://stackoverflow.com/questions/9317305/sending-an-email-from-a-c-c-program-in-linux . This gives the user full control on its data but requires a mta agent setup on the machine.

2) Using an external service api like [mailgun](https://www.mailgun.com/). This does

[2018-02-06 10:22] xssec opened #1649 "NTOPNG with Let's Encrypt SSL"
Hi,

Is there any documentation about how to set NTOPNG webconsole into HTTPS with SSL from Let's Encrypt?

[2018-02-06 12:25] emanuele-f commented on #1649
Hi, let's encrypt it's just a way to verify a SSL certificate ownership. In order to use your `.pem` certificate with ntopng, please follow the instructions at https://github.com/ntop/ntopng/blob/dev/doc/README.SSL from step 3

[2018-02-06 16:14] emanuele-f commented on #1647
Hi, with 53d2505edcb2750e1f7d877449470c8d567bdb95 I've made some fixes on ES code which prevented effective requests batching, please install the new 3.3 *development* version to test the new code performance. Logstash needs to be fixed too.

The new package will be available in one hour.

[2018-02-06 16:18] emanuele-f commented on #1441
@papage @Howard-Chang I've made some improvements with commit 53d2505edcb2750e1f7d877449470c8d567bdb95 . Please check out the new ntopng 3.3 package (available in one hour) for performance improvements. Please let me know.

[2018-02-07 05:20] pleoeter opened #1650 "Display Data in ntopng using ElasticSearch"
I am using ntopng V 3.1, ES 5.6.3, I can save data and see using sudo ntopng -F 'es;ntopng;ntopng-%Y.%m.%d;http://127.0.0.1:9200/_bulk;'
but i cannot display it in lua web, like that happens in mysql case, I am using the same template provided
in ntopng READme.elasticsearch , any guideline to display it in table form in lua web

[2018-02-07 08:47] emanuele-f commented on #1650
Hi, the historical explorer does not support the ES data source. You can only export to ES but cannot retrieve.

[2018-02-07 09:10] #1649 closed, assigned to emanuele-f

[2018-02-07 09:30] pleoeter commented on #1650
so historical explorer only support SQL database and that too in paid edition?

[2018-02-07 10:06] emanuele-f commented on #1650
Yes, only MySQL support

[2018-02-07 10:42] emanuele-f commented on #1617
Hi, I've tested ntopng 3.2.171215 on Windows 10 with mysql option and it works for me. The mysql version I'm using is 5.7.12 . Can you please update to ntopng 3.2.171215 and report if it works for you too?

[2018-02-07 10:45] emanuele-f commented on #1642
Hi, the latest ntopng installer will install the redis server version 2.4.6 . I suggest you to remove redis ntopng and libpcap as long as any ntopng data and start with a clean setup.

Ps. the latest ntopng installer 3.2.171215 does not produce the redis dump error on my test machine.

[2018-02-07 10:56] pleoeter commented on #1650
Thank you

[2018-02-07 11:12] emanuele-f commented on #1650
You are welcome

[2018-02-07 11:12] #1650 closed, assigned to nobody

[2018-02-07 11:14] pleoeter commented on #1650
Is there any possibility in near future?

[2018-02-07 11:18] emanuele-f commented on #1650
No, we only support ES / logstash export for interoperability, we won't provide a full integration

[2018-02-07 11:34] emanuele-f commented on #1089
Should we differentiate between the ingress/egress directions so that I can say allow incoming traffic from continent X but block outgoing traffic to the same continent?

[2018-02-07 13:15] lucaderi commented on #1089
No differentiation, just no communication with blacklisted continents

[2018-02-07 13:42] joelphilippage commented on #1642
Okay. The clean install did fix the redis error, but I still have no historical data and still get the error:
`ERROR: Error 'fetching cdp from rra' while calling rrd_fetch_r(C:\Users\Administrator\Documents\ntopng\1\rrd\bytes.rrd, AVERAGE): is the RRD corrupted perhaps?`
Should I start another bug for this?

[2018-02-07 13:47] emanuele-f commented on #1642
Please remove the C:\Users\Administrator\Documents\ntopng directory completely. You need to do this after stopping ntopng. So the steps are:

1) stop ntopng service
2) remove that directory
3) start the ntopng service again

[2018-02-07 17:20] jsstaedtler commented on #1617
Success!  Thanks for the tip, the 3.2.171215 version cured my issue.

[2018-02-07 17:20] #1617 closed, assigned to lucaderi

[2018-02-08 04:18] pleoeter commented on #1650
Is there any possibility in near future?

[2018-02-08 04:19] pleoeter commented on #1650
Thank you @emanuele-f

[2018-02-08 08:34] emanuele-f commented on #1650
You are welcome!

[2018-02-08 23:14] britoalegre opened #1651 "Pls Help Script to Flow ASA CISCO"
Please, I need help to capture traffic flow ASA CISCO ... already tried everything and did not appear even arriving traffic without IP from ntopng

Does anyone have the ntopmg.conf t and nprobe.conf script?

[2018-02-09 08:44] emanuele-f commented on #1651
Hi, please have a look at this tutorial https://www.ntop.org/nprobe/network-monitoring-101-a-beginners-guide-to-understanding-ntop-tools/

[2018-02-09 18:44] emanuele-f commented on #1111
Localization has been integrated into the pro version. Now most of the gui is localized, please close the issue when satisfied.

[2018-02-09 20:13] joelphilippage commented on #1642
Okay. I had done that already. I tried that again yesterday. I started the service at 08/Feb/2018 07:65:14. I just got the error again at 09/Feb/2018 13:08:08 I think it happened as soon as I logged in to ntopng today although I did yesterday.

Also there is still no historical data available on the interface.
![image](https://user-images.githubusercontent.com/13322475/36047975-ec37b904-0d9a-11e8-

[2018-02-10 09:58] resturiani opened #1652 "ntopng can't detect bandwidth"
Hi all,

I want to ask. I'm doing network monitoring with a cisco router using ntopng. what I monitor is bandwidth. in my cisco router the bandwidth setting is 3MB, and i also have test the bandwidth through speedtest and accordingly. but when I monitor with ntopng, the bandwidth exceeds 3 MB how to solve it ?
![not match](https://user-images.githubusercontent.com/22189485/36060822-aa5f211c-0e48-1

[2018-02-12 17:05] fsergot opened #1653 "Slack integration - Custom channel & proxy support"
Hello,

I have tried to use the Slack integration with ntopng and I am facing 1 issue and 1 question (maybe I need to create separate issues, let me know):
1. Channels naming
It seems the channel names are hard coded and need to be as described in https://github.com/ntop/ntopng/blob/dev/doc/README.slack. That is really annoying as those are very generic names and interfere with existing channels w

[2018-02-13 05:02] pleoeter commented on #432
The link is not working @lucaderi   https://github.com/ntop/ntopng/blob/dev/doc/README.ntopng, I want to request host stats without password /username integration

[2018-02-13 09:06] lucaderi commented on #1652
Is your ntopng seeing only the traffic from/to the Internet or also local traffic? The latter might explain the problem.
As of the other question, probably because you hosts become idle after a while and then they make traffic again?

[2018-02-13 10:01] Bigbobd opened #1654 "Geolocation fails"
The geolocation fails on my system.  I have ntopng installed on a RaspberryPi and any device I use to access the web interface (mac, windows, linux) or browser (IE, Firefox, Chrome, Safari, Opera)
I receive the same SSL script error.

It appears that google needs a https connection not http.
ERROR:
cgi.gstatic.com cannot be open because the connection is not secure

"error-message">Safari kann die

[2018-02-13 10:35] simonemainardi commented on #432
@pleoeter you can either disable the login (`--disable-login 1`) or use curl with user/password/coocke, e.g., `curl --cookie "user=admin; password=admin" "http://127.0.0.1:3000/lua/network_load.lua?ifname=en0"`

[2018-02-13 15:51] resturiani commented on #1652
I want to see both. So how to solve it? is there anything to do with nprobe and ntopng that i use not using license?

[2018-02-13 16:15] philimnorden opened #1656 "Missing scripts while performing periodic activities"
After I updated my installation of ntopng and nprobe to the newest version the webinterface does only show a white scrren.

All relevant processes are running but displaying following error:

[code]

There are no scripts in the path /usr/share/ntopng/scripts/callbacks only other directories:
[code]

Running configuration:
[code]

[code]

I didnt perform an update for a pretty long time, maybe some

[2018-02-13 21:30] lucaderi commented on #1656
I think something went wrong as you said you have updated the installation but your ntopng is from June 2017. Can you please move to the latest version and make sure your disk is not full while doing the upgrade?

[2018-02-14 10:47] philimnorden commented on #1656
I could resolve the problem. It was pretty messy but here is what happened:
I noticed that there are two installations of ntopng - one from installing it manually and one from the package management system.

Manually installed and old:
[code]

Via apt-get and updated
[code]

The service was configured to use the wrong installation (/etc/systemd/system/ntopng.service)
[code]

I cd'ed into the wrong

[2018-02-14 10:47] #1656 closed, assigned to nobody

[2018-02-16 10:16] djha983 opened #1658 "Alerts On Syslog does not provide option to send syslog to remote collector"
Hi,

I see option in ntopng "Alerts On Syslog" which writes alerts to syslog on linux.
But in case of windows i don't see it writing anywhere in eventlog or in file.
Is Alerts On Syslog deature applicable in windows version of ntopng? is there any other configuration required for this?

Thanks,
Deepak jha

[2018-02-17 06:51] #1651 closed, assigned to nobody

[2018-02-17 06:53] lucaderi commented on #1658
Windows has no concept of syslog so it can't be immediately supported there. Traces are written on the Windows system events that could also be used for this purpose. Are they enough for what you have in mind to do?

[2018-02-17 06:59] lucaderi commented on #1647
Fix has been applied. If not working please reopen the issue and report what is not working yet

[2018-02-17 06:59] #1647 closed, assigned to emanuele-f

[2018-02-17 07:02] lucaderi commented on #1441
A fix has been applied. If not working please reopen this ticket and report what is not working yet.

[2018-02-17 07:02] #1441 closed, assigned to emanuele-f

[2018-02-17 07:17] lucaderi opened #1659 "Informative alert when a new MAC address is observed/re-seen/disappears"
When a new MAC address (ignore multicast/broadcast addressed) NOT/NEVER previously observed is reported by ntopng a new informative alert (i.e. it is not a problem but just a log entry with MAC, interface and time) must be issued. This option will not require a preference as it will be enable all the time. The goal is to detect new mac addresses not previously observed that might indicate intruder

[2018-02-17 07:23] lucaderi opened #1660 "Implement hide from 'top'"
In a network there are some top talkers that are not relevant (e.g. storage subsystem) but that are always on top X reports. It is requested to remove these hosts/networks from the top list so that for instance when we see 'top talkers' they do not appear (or appear under a new entry called 'top hidden').

You can hide a host from the host preferences (http://xxxx:3000/lua/host_details.lua?ifid=KK

[2018-02-17 11:08] jmginer opened #1661 "How to get historical charts of a host pool"
Hello, I've just installed nprobe + ntop because I want to get the 95 percentil network usage of a /24 subnet.

I created a host pool, and added the subnet. On the Host Pool list, the Throughput colums is showing the correct rate, but I dont find any tab to get the historical charts.

There is any option to get the historical charts of a host pool, or some workaround the get the 95 percentil usage

[2018-02-17 19:03] oskapt commented on #1647
I've rebuilt the container using `3.3.180217-4094`:
[code]

However, the interface reports that it's 2.3.0:

![ntopng-screenshot](https://user-images.githubusercontent.com/171292/36344615-eb6472f8-13fb-11e8-87c1-36262c6e0f10.png)

Other than the package name, is there another way to confirm that I'm _actually_ running the snapshot?

[2018-02-18 15:00] bjornfor opened #1662 "Please use pkg-config to find nDPI (instead of ad-hoc)"
I'm working on upgrading ntopng in Nix/Nixpkgs to 3.2 (from 2.0) and I'm finding the method used by the ntopng build system to locate nDPI annoying. We already have nDPI packaged and providing .pc/pkg-config file, but ntopng still insists on having nDPI next to itself and building it from scratch.

[2018-02-18 17:18] bjornfor commented on #1662
Oh, I see this has been improved / fixed since the latest release (3.2): e7283a0812bf935012be8564e6c555780bfc0e88 ("Build process: Smarter nDPI version checking").

Please make a release to help downstreams build ntopng.

[2018-02-18 18:11] bjornfor opened #1664 "Build with external luajit no longer possible, due to lj_obj.h?"
Since commit 4f98c03dbc23417fec8dabfb812e04c0830a1848 ("LuaJIT lua_State fwd decl. compil. fix")[1], ntopng depends on lj_obj.h from luajit. From what I can tell, this header file is private, because luajit does not install it by default. At least the header is missing from luajit packages in both Nixpkgs and Ubuntu.

Has anyone tried building without the bundled luajit since august 2017, when thi

[2018-02-19 09:32] emanuele-f commented on #1647
Please check out `ntopng --version`

[2018-02-19 09:41] emanuele-f commented on #1652
You can click on the footer bar to set the maximum interface speed to 3M. What's your nprobe configuration?

[2018-02-19 09:48] emanuele-f commented on #1661
Hi, you need to enabled the host pools timeseries from the ntopng preferences (from the cog icon in the menu). Then a chart icon will appar in the host pools page.

[2018-02-19 09:48] #1661 closed, assigned to nobody

[2018-02-19 15:31] MarcelSchindel opened #1665 "Lets Encrypt Certificate for HTTPS/SSL"
How can I use my Lets Encrypt Certificate for NTOPNG Https/SSL encryption.?

I got the following .pem files generated by Lets Encrypt Certbot for my domain:
fullchain.pem
cert.pem
privkey.pem
chain.pem

[2018-02-19 21:27] misterguitar opened #1666 "Forgot where to put the PF-ring license file"
Hey guys. i had to reload my ntopng box and need to put the license back on for pf-ring ZC. I have the license numebr but forgot what file to put it in and where that file goes! This is for pf-ring installed by packages from the repo for centos 7. Thanks!

[2018-02-19 22:08] cardigliano commented on #1666
Please do:

echo KEY > /etc/pf_ring/AABBCCDDEEFF

where
- KEY is the license number
- AABBCCDDEEFF is the mac address, uppercase, without ':'

[2018-02-20 06:23] djha983 commented on #1658
Hi,

Actually here is what I am trying to achieve.
•	I have installed ntopng on centos and I have enabled default alerts.
•	I have enabled feature “Alerts On Syslog”, So it writes alerts to Linux system log whenever alert is generated and same is forwarded to remote syslog receiver(EventTracker) by adding remote hostname in rsyslog.conf file.
•	Above works fine.

Here is the problem what I am faci

[2018-02-20 07:37] MarcelSchindel commented on #1665
My fault... read the Readme file carefully ^^ :+1:

cat privkey.pem cert.pem > /usr/share/ntopng/httpdocs/ssl/ntopng-cert.pem

[2018-02-20 07:37] #1665 closed, assigned to nobody

[2018-02-20 10:33] emanuele-f commented on #1654
Hi, I cannot reproduce the problem with chrome. The URL we use for maps api is https, as you can see here https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/lua_utils.lua#L1112 . Do you have a valid API maps key set into the ntopng misc prefs?

[2018-02-20 14:09] Bigbobd commented on #1654
I just modified the default location in the PHP page to mine.  Everything else works.

Thank you.

[2018-02-20 14:18] misterguitar commented on #1666
Thanks! That works!

[2018-02-20 14:18] #1666 closed, assigned to nobody

[2018-02-20 15:23] emanuele-f commented on #1654
So, is the issue solved? Please close the issue if so.

[2018-02-20 18:47] Bigbobd commented on #1654
hmm, solved..??? for me sure.

[2018-02-20 18:47] #1654 closed, assigned to emanuele-f

[2018-02-21 07:21] Howard-Chang opened #1667 "LAST_SWITCHED is wrong"
Hi, my OS is Centos7 and the netflow version is v9. I input netflow  to ES through nprobe+ntopng, but I found that the LAST_SWITCHED is wrong . The time is stay on 2018/1/21 for example 1516503759 and the @timestamp is the same for example January 21st 2018, 16:46:00.000 . the difference is about 1 month.
this is my ntopng and nprobe command:
ntopng:
ntopng /c -i "tcp://127.0.0.1:2055" --local-net

[2018-02-21 17:11] lucaderi opened #1668 "Align RRD timestamps"
For periodic activities (e.g 5 min) the timestamp of the RRDs is not aligned across all the RRDs. it is requested all the RRDs at minute/5 min to have the same timestamp.

[2018-02-22 05:18] Howard-Chang commented on #1667
If I input netflow to Elasticsearch through nprobe, there is the same issue.
this is my nprobe version:
[root@localhost etc]# nprobe -v

Welcome to nProbe v.8.3.180208 (r6051) for x86_64-unknown-linux-gnu
with native PF_RING acceleration.
Copyright 2002-18 ntop.org

Build OS:      CentOS Linux release 7.4.1708 (Core)
SystemID:      3B1A1AF276XXXXXX
GIT rev:       dev:4c51c7b090bf96f95cae111f579b5b

[2018-02-22 05:20] pleoeter opened #1669 "Get TCP seq and ack number displayed on lua web page"
I want to display tcp seq num and tcp ack number on lua web  , please tell me how to extract the fields from flow.cpp and flow.h files and display.

[2018-02-22 08:10] lucaderi commented on #1659
![screen shot 2018-02-22 at 09 08 32](https://user-images.githubusercontent.com/4493366/36526842-f9d8f946-17af-11e8-90b4-440cdbac0436.png)
Not all MAC addresses are alike. For instance you should NOT generate alerts for MAC that do not correspond to physical device such as broadcast/multicast/private MACs as in the above example.

[2018-02-22 08:14] lucaderi commented on #1659
As you are fixing alerts, please also fix this other cosmetic bug.
![screen shot 2018-02-22 at 09 11 16](https://user-images.githubusercontent.com/4493366/36526954-5c77e800-17b0-11e8-9e17-4652372bf761.png)

1. the @0 (rendered with a nordic character) should disappear as VLAN 0 does not exist. if you need to keep it internally as ntopng requires it, feel free to do that, but remove it from user vi

[2018-02-22 09:54] emanuele-f commented on #1669
Hi, the sequence numbers change during the flow lifecycle, so you could want to display the fist seq and ack or the last ones. For the latter case, the flow.cpp class already provides such information, please see `tcp_stats_s2d.last` field. In order to display it on the gui you should add a new entry to the flow::Lua method like this:

[code]

Now that it is exported to lua, you can print a new li

[2018-02-22 10:05] emanuele-f commented on #1667
Hi, please send me a sample netflow capture to faranda@ntop.org . On the nprobe host, run: `tcpdump -p 5556 -n -s0 -w netflow.pcap`. Please use wireshark to verify that the provided pcap contains both the netfow template and the netflow data.

[2018-02-22 10:12] lucaderi opened #1670 "New Dashboard Design"
The design of the current ntopng dashboard is outdated. Not too pretty, not configurable, all but modern. Ideas and suggestions are welcome.

[2018-02-22 12:05] raa0x0 opened #1671 "Fortigate flows problem"
Hello, we have Ntopng Enterprise, Nprobe Pro + DHCP, DNS Plugin (all on same machine).
We are sending netflow from our Fortitage Firewall to nProbe, then we use this in ntopng (zeromq).
Our problem is this:
![ntopng](https://user-images.githubusercontent.com/20373119/36537460-7ad06910-17d0-11e8-8908-008bb2659811.png)
Ntopng display SRC IP as DST IP and conversely.

What we can do with that?

[2018-02-22 12:09] emanuele-f commented on #1659
Fixed with 85298201c7b538b25f33dd9a77ab31555987deeb and 25210c3c373236006170a5de49c114af30a04ee0

[2018-02-22 12:09] #1659 closed, assigned to simonemainardi, emanuele-f

[2018-02-22 12:12] emanuele-f commented on #1671
I what's your ntopng and nrpobe configuration?

[2018-02-22 12:19] raa0x0 commented on #1671
Ntopng:

nProbe:

[2018-02-22 13:09] emanuele-f commented on #1671
Can you send me a pcap with Netflow traffic at faranda@ntop.org?
You can generate with the command: `tcpdump -n -s 0 -w netflow.pcap port 2055`. Please ensure that the pcap contains both the netflow template and data.

[2018-02-22 13:29] emanuele-f commented on #1670
Some ideas:
- Dynamic layout: the dashboard should use bootstrap table standard and not html `colspan` tags.
- For customizable layout, we should provide sort of widgets and allow the user to choose what to see and how to place it

Frameworks / ideas
- http://gridstackjs.com/
- http://angular-dashboard-framework.github.io/angular-dashboard-framework/#/sample/01
- http://dsmorse.github.io/gridster.

[2018-02-22 14:28] #1363 closed, assigned to simonemainardi, emanuele-f

[2018-02-22 15:31] raa0x0 commented on #1671
Sure, check your email is that enough traffic.

[2018-02-23 04:13] pleoeter commented on #1669
@emanuele-f  I want to display it on flows stats lua table in a separate column, please provide the code snippet

[2018-02-23 05:22] Howard-Chang commented on #1667
ok. I have sent you the pcap.
thank you very much !

[2018-02-23 10:09] pleoeter commented on #1669
if(flow["last_seq_cli2srv"] ~= nil and flow["last_seq_cli2srv"] > 0) then
   print("<tr><th width=30%>"..i18n("flow_details.application_seq").."</th><td colspan=2>"..(flow["last_seq_cli2srv"]).."</td></tr>\n")
   end

I always get empty or null value, as per me every application /packet should show a sequence and acknowledgment number

[2018-02-23 10:41] CDawson1 commented on #1670
This is a little non-technical, but allow for themes/branding.  This could easily be a showcase in a NOC of some description, and it would be nice to be able to brand it in some way.  Not trying to detract from the work that was put in, but it would be nice, once allowing for said customization, to be able to put our own mark on it as well.

[2018-02-23 11:22] CDawson1 opened #1672 "Dropped flows...hoping for a more technical discussion here."
Yes, there have been a few threads on this issue, but not one has actually indicated a guide to address it other than referencing some configuration to change.

However, some of us, not being DB types, probably have no idea where to start.

So, in this case, I too am dropping about 13% of flows...

![drops](https://user-images.githubusercontent.com/32870121/36591257-5114b234-1889-11e8-8af6-d40b6d3

[2018-02-23 13:12] emanuele-f commented on #1669
Have you modified Flow.cpp as stated above and recompiled ntopng?

Moreover, if you don't mind localization please just `print(flow["last_seq_cli2srv"]).."\n")`. You can debug the actual lua table content with `tprint(flow["last_seq_cli2srv"])`, it will print the field content on the command line output.

[2018-02-23 13:23] emanuele-f commented on #1672
Hi, just some general notes about MySQL export. With MySQL you could experience the following limitations:

1) Mysql inherent limits, which you could improve by tweaking the Mysql db options
2) Disk write limits, due to slow disks writes
3) Ntopng export limit. Regarding this, if you are using the community or pro version you can get a 5x improvement by migrating to the enterprise version as it pr

[2018-02-23 13:30] CDawson1 commented on #1672
I should have mentioned, we're running the enterprise version.

I appreciate the suggestion of tweaking MYSQL, but that's exactly what this thread is about as the suggestion to improve that doesn't have any detail behind it.  While I also appreciate it's not a one size fits all, there has to be at least some primer as the load, and how the data is written is known, for the most part, regardless of

[2018-02-23 14:34] emanuele-f commented on #1362
Implemented in 66b024c21d798d9e326673963ce9a4acd3a5b0e6.

![screenshot_11](https://user-images.githubusercontent.com/5488003/36599196-f4f51626-18ae-11e8-9d3d-71018aeeceba.png)
![screenshot_10](https://user-images.githubusercontent.com/5488003/36599199-f611a0ec-18ae-11e8-9600-043dec48b9b3.png)

[2018-02-23 14:34] #1362 closed, assigned to emanuele-f

[2018-02-23 14:56] emanuele-f commented on #1660
We can approach this in two ways:
  - Fontend filter: we keep internal statistics calculations the same and only filter on the visualization layer.
    PRO: we can apply and revert filters as we wish immediately without touching the actual data
    CONS: if we calculate top 5 hosts, and then hide these 5 hosts, we won't get any remaining top data..

  - Backend filter: when we calculate the top ho

[2018-02-23 15:35] lucaderi commented on #1671
Hi @raa0x0 as you can see from the messages below (i have open with wireshark your pcap file sent to Emanuele) your device is sending the same value for IN and OUT. This looks like an issue. You can read more at https://www.ietf.org/rfc/rfc3954.txt

So please talk with your device manufactured as perhaps there is a misconfiguration in your device.

![image](https://user-images.githubusercontent.co

[2018-02-23 15:35] #1671 closed, assigned to emanuele-f

[2018-02-23 15:49] lucaderi commented on #1660
In the preferences there must be a list of CIDR (hosts+nets) that contain the list of hosts/networks to hide. Each host must a icon that shows if a certain host is hidden from top. All settings (i.e. hide/unhide) are handled by this global, per interface, preference that defines the hosts to be hidden.
During top calculation, hidden hosts are grouped into a new "special host" called "hidden hosts"

[2018-02-23 15:54] lucaderi commented on #272
Option 1. See https://stackoverflow.com/questions/6421871/sending-an-email-in-lua
Please describe the algorithm you plan to implement

[2018-02-23 16:04] emanuele-f commented on #272
We can use a workflow similar to slack notification:

1) We create a function AlertManager::notifyEmail which is called the same way as AlertsManager::notifySlack
2) AlertManager::notifyEmail uses a redis queue to enqueue the alert information
3) housekeeping.lua executes sendEmailMessages periodically, which pops from the queue and uses io.popen to send the email

[2018-02-23 16:16] lucaderi commented on #272
@simonemainardi What do you think?

[2018-02-23 16:23] emanuele-f commented on #1019
In my opinion a global per-interface preference would be enough. Alternatively, we can set a preference on the host pools.

Algorithm (supposing per interface preference)

1) When we periodically scan 1 minute alerts, inside check_host_alerts we will call
  getHostInfo to get the ndpiStats associated to the host.

2) We keep a redis set of disallowed protocols for the interface. If the ndpistats

[2018-02-23 16:25] lucaderi commented on #1019
I suggest to handle this as a standard alarm by setting a threshold on a L7 protocol per host. No complex things here. Just make sure that in addition to p2p (as it is today) users can have their own protocol configured

[2018-02-23 16:30] emanuele-f commented on #1019
We could add a button into the alerts configurations page to pop up a dialog where we can specify the protocol to alarm. Then we generalize thresholds to work with any protocols.

[2018-02-23 16:37] emanuele-f commented on #1092
We can extend `Host::set_mac` to check for a previous mac and, in case of mismatch, to set an anomaly on the host. The anomaly is then processed in check_host_alerts lua code, which in turn generates the alert.

We could also allow a global comma separated list of network ranges to ignore, and we can check if the host matches one of these networks to avoid setting the anomaly and generate the aler

[2018-02-23 17:50] aouinizied opened #1673 "Active discovery when ntopng is on zmq interface"
Hi all,

I'm running a Home gateway based flow monitoring probe connected on my LAN (192.168.1.1).
The probe is exporting records (using zmq) to ntopng which is running on a LAN device (ex: 192.168.1.5).
In such situation, the active device polling is completely feasible. So my question is why ntopng is forced to not enable active polling feature on such situation? (as ntopng have the information

[2018-02-23 18:25] lucaderi commented on #1673
This is not possible because on ZMQ it's a read-only link with nprobe exporting data to ntopng. If ntopng has to discover assets it has to inject traffic in the network, thing that is not possible over ZMQ.

[2018-02-23 18:25] #1673 closed, assigned to nobody

[2018-02-23 18:36] lucaderi commented on #1664
This is a change necessary to address issues like https://github.com/LuaJIT/LuaJIT/issues/49 If you have a solution that is better than this I am ready to evaluate it, but it must run *efficiently* on 32 and 64 bit, ARM, MIPS and Intel. In that case please reopen this ticket.

[2018-02-23 18:36] #1664 closed, assigned to nobody

[2018-02-23 19:00] aouinizied commented on #1673
Thanks for your reply.

[2018-02-23 19:17] bjornfor commented on #1664
(Thanks for the ref, but unfortunately I didn't grok that issue nor the connection to this issue.)

If building against system provided luajit is simply unsupported, that's fine. What's not fine is having the ntopng build system do things like ```pkg-config --cflags luajit``` if it's never expected to work. Should I open a separate issue for that?

[2018-02-23 23:56] EinerPetersen opened #1674 "Traffic flows not being reported properly in SANKEY charts"
HI Folks,
The behaviour of NTOPNG in any mode (Pro or community) is:
1) on the home page, the SANKEY flows quit working after about 3 - 5 minutes, post ntopng restart, of operation when they used to work in previous versions -- my current version is  "3.2.180214 -  Community Edition" (Yes, I have almost continuous traffic per tcpdump/wireshark/iptables logging

2) using the "Talkers" on a specific

[2018-02-26 03:41] pleoeter commented on #1669
yes I recompiled ntopng , and then print it, and it give me null value quite often

[2018-02-26 04:26] pleoeter commented on #1669
emanuele-f please tell me the field for acknowledgment number , i am done with the sequence number

[2018-02-26 14:41] aouinizied opened #1675 "Throughput is not correctly computed"
Hi all,

This issue is concerning ntopng per flow throughput.
Using zmq export (nprobe running on PC1) exporting to ntopng on PC2. I set nprobe with an avtive timeout of 2 secs in order to refresh intensively stats.
I start an iperf flow saturating my 1Gbps link.
ntopng shows 164Mbit/s which is uncorrect. However when I compute throughput manually based on nprobe export I get a correct value.
More

[2018-02-26 14:48] aouinizied commented on #1675
here the log when nprobe is configured with active timeout of 3 secs:

26/Feb/2018 15:44:40 [CollectorInterface.cpp:220] {"8":"192.168.1.103","12":"84.39.50.197","10":65535,"14":65535,"2":150361,"1":225240778,"22":1519656276,"21":1519656278,"7":34815,"11":5001,"6":0,"4":17,"5":0,"16":0,"17":60940, "57943":"192.168.1.103"} [msg_id=24]
26/Feb/2018 15:44:41 [CollectorInterface.cpp:220] {"8":"192.168.

[2018-02-26 14:49] aouinizied commented on #1675
I remark that when nprobe is configured with higher value of t (example: 10 secs), the ntopng output is correct (on per flow). However, now it is completely incorrect on (per interface) one . This is a little bit weird as such value is simply computed as volume/duration.

Regards,
Zied

[2018-02-28 09:39] emanuele-f commented on #1667
Hi @Howard-Chang, thank you.
By inspecting the pcap I'm seeing that your netflow exporter is missing the first and last seen timestamps in the template, so nprobe is tricked while calculating them.

So please either modify your exporter configuration or contact your vendor to be sure to add the template fields `LAST_SWITCHED` and `FIRST_SWITCHED`.

[2018-02-28 09:39] #1667 closed, assigned to nobody

[2018-02-28 17:47] izzie88 opened #1676 "Ntopng cannot start after recent update"
Hello @emanuele-f @simonemainardi
after carrying out update today, ntopng can no longer start.

please see below:

oye@NTOP-DPI:~$ sudo service ntopng status
● ntopng.service - ntopng high-speed web-based traffic monitoring and analysis tool
   Loaded: loaded (/etc/systemd/system/ntopng.service; enabled; vendor preset: enabled)
   Active: failed (Result: exit-code) since Wed 2018-02-28 18:40:25 WA

[2018-03-01 06:20] lucaderi opened #1677 "Generate alert when interface drops exceed a given threshold"
ntopng lacks self-monitoring and thus it might be that there an internal error (e.g a loop as in https://github.com/ntop/ntopng/commit/45119bfa9828142564e00041aa1ba8fe29e7af6e) that causes ntopng to stop. This problem must be reported immediately via slack/email/something to the network administrator and NOT just consumed internally by ntopng as this would be useless.
It is requested to
- implemen

[2018-03-01 07:09] izzie88 commented on #1676
Hello,
Is there any immediate solution to this as the reporting side of the ntopng-ng is critical to business process.

@emanuele-f

[2018-03-01 07:28] lucaderi opened #1678 "Implement alert when a file larger than X bytes is transfer"
Implement a configurable alert when a host uploads/downloads a file larger than X bytes over SSH/HTTP/HTTPS

[2018-03-01 09:09] emanuele-f commented on #1676
Hi, what ntopng version? What operating system are you using?

The problem may be related to the version of installed package `zlib1g-dev`. Please try to update `zlib1g-dev`.

[2018-03-01 10:18] izzie88 commented on #1676
hello @emanuele-f
We run an Ubuntu 16.04
when i do a ntopng --version, see below
oye@NTOP-DPI:~$ ntopng --version
ntopng: error while loading shared libraries: libzstd.so.0: cannot open shared object file: No such file or directory
oye@NTOP-DPI:~$ ntopng --help
ntopng: error while loading shared libraries: libzstd.so.0: cannot open shared object file: No such file or directory

[2018-03-01 11:30] emanuele-f commented on #1676
Hi this commit should have fixed the issue a87042690adec68879cb47a571e7c7f858e882ef . Please do an `apt-get update && apt-get install ntopng`

[2018-03-01 11:42] izzie88 commented on #1676
Hi @emanuele-f
Issue is sorted now. Thank you very much.

[2018-03-01 11:44] emanuele-f commented on #1676
Thank you

[2018-03-01 11:44] #1676 closed, assigned to simonemainardi, emanuele-f

[2018-03-01 13:32] emanuele-f opened #1679 "nProbe crashes on windows 10"
Command line:
`nprobe.exe /c -n none --zmq tcp://127.0.0.1:5556 -i {053E960D-8C59-4F40-AAAD-244542CEEE12}`

After some seconds it crashes on `zmq_stopwatch_stop`:

![screenshot_3](https://user-images.githubusercontent.com/5488003/36847026-3bc8cf72-1d5d-11e8-9c7e-6a4f747bb9f1.png)

[2018-03-01 13:34] emanuele-f commented on #1679
Moving to nprobe

[2018-03-01 13:34] #1679 closed, assigned to nobody

[2018-03-01 14:13] emanuele-f commented on #1642
Please provide the ntopng log

[2018-03-01 14:48] emanuele-f commented on #1668
Do you refer to the timestamp difference between RRDs of different interfaces? If so, can we align the times to the previous min/5 minutes with a modulo e.g. `when = os.time() % 300` in 5min.lua ?

[2018-03-01 14:53] emanuele-f commented on #1296
Fixing flows/hosts counters would require computing them on a per-network basis. Maybe we can simply hide such information if the user has network restrictions.

[2018-03-01 14:59] emanuele-f commented on #1089
Should we implement this on nedge or standard ntopng?

[2018-03-01 15:15] lucaderi commented on #1296
In case there is a host restriction, on footer compute dynamically the number of hosts that used can see and omit any other information.

[2018-03-01 16:13] #1296 closed, assigned to simonemainardi, emanuele-f

[2018-03-01 18:44] joelphilippage commented on #1642
I'm not able to get it to start anymore. Here are my latest logs:
`C:\Users\Administrator>ntopng /c -F "mysql;localhost;ntopng;flows;root;password"
Starting ntopng
Running ntopng.
01/Mar/2018 11:41:12 [Ntop.cpp:1485] Setting local networks to 127.0.0.0/8
01/Mar/2018 11:41:12 [Redis.cpp:111] Successfully connected to redis 127.0.0.1:6379@0
01/Mar/2018 11:41:12 [Redis.cpp:111] Successfully connected

[2018-03-02 08:01] emanuele-f commented on #1642
Can you check out if the ntopng memory usage increases a lot right before experiencing the crash? If you remove the `-F` flag, can you run it properly?

Please also look at this, may be related.

https://social.msdn.microsoft.com/Forums/es-ES/24b356ad-59ef-446f-aa8b-df6b55fa78bb/an-unhandled-win32-exception-occurred?forum=Vsexpressinstall

[2018-03-02 09:58] aouinizied commented on #1675
Solved by changing this line in /src/Flow.cpp (from 5 secs to 1 sec)
    if((iface->getIfType() == interface_type_ZMQ)
       && (tdiff_msec < 1000)) {
      /* With ZMQ (if collecting sFlow) we might compute inaccurate
	 throughput when haveing one flow with a single sample so
	 we spread the traffic across at least 5 secs
      */

[2018-03-02 09:58] #1675 closed, assigned to nobody

[2018-03-02 10:08] simonemainardi commented on #1675
can you submit a pull request? thanks

[2018-03-02 13:50] emanuele-f commented on #1111
Localization is now complete.

[2018-03-02 13:50] #1111 closed, assigned to simonemainardi, emanuele-f

[2018-03-02 17:38] joelphilippage commented on #1642
It does work without the -f flag. Memory and CPU stay about the same during the crash.

I tried this suggested solution, but have the same issue:
a.. Right click My PC / Properties.
  b.. Click Advanced Tab
  c.. Under Performance, click Settings
  d.. Click Data Excecution Prevention tab
  e.. Select Turn on DEP for essential Windows programs and services only
  f.. Restart Windows

I've also tri

[2018-03-05 02:13] rdica opened #1680 "Incorrect OS detection (was Incorrect OS Detection #815)"
I am having the same issue as closed:#815. Linux host is detected as Windows 7.

Ubuntu 16.04
[code]

The host in question is a centos7 VM on qemu/libvirtd:
CentOS Linux release 7.4.1708 (Core)

I attached a pcap from the interface ntopng uses using

`tcpdump -i eth1 -w graphite-host.pcap host graphite`

![ntop](https://user-images.githubusercontent.com/16609801/36954673-8ada0d10-1ff1-11e8-83c0-13

[2018-03-05 08:55] emanuele-f commented on #1642
Do you have the possibilitity to run ntopng through windbg or other debugger to get a stack trace of the crash?

[2018-03-05 14:49] kknkuht opened #1681 "about ntop license"
i had request free license before and get the license
but when I upgrade ntop to 3.2.180228
it became to Community Edition
not the "ntop pro linux/win (x64)"
can u please help me

[2018-03-05 15:05] emanuele-f commented on #1660
Implemented in 86ac46abd4e915fe461f6c9b033459e62d457543 and 86ac46abd4e915fe461f6c9b033459e62d457543

[2018-03-05 15:05] #1660 closed, assigned to simonemainardi, emanuele-f

[2018-03-05 15:08] emanuele-f commented on #1681
Hi, please see https://www.ntop.org/support/faq/my-license-does-not-work-what-can-i-do .
We prefer discussing license issues privately, if you have further questions please [contact us privately](https://www.ntop.org/support/need-help-2/contact-us/)

[2018-03-05 15:08] #1681 closed, assigned to nobody

[2018-03-05 21:22] joelphilippage commented on #1642
Sure. Here's what I got:
`Microsoft (R) Windows Debugger Version 10.0.16299.91 AMD64
Copyright (c) Microsoft Corporation. All rights reserved.

*** wait with pending attach
Symbol search path is: srv*
Executable search path is:
ModLoad: 00007ff7`cbd50000 00007ff7`cc0b3000   C:\Program Files\ntopng\ntopng.exe
ModLoad: 00007ffd`f6bc0000 00007ffd`f6d91000   C:\Windows\SYSTEM32\ntdll.dll
ModLoad: 0000

[2018-03-06 00:28] ghost opened #1682 "No graphical representation of Local/Remote, Applications or Application Breakdown in Traffic Report view."
I'm using "ntopng Professional Edition v.3.2.180228". Not only with that version but with the previous versions I was experiencing the same problem. If I reinstall ntopng, I can see everything for a bit and then it vanishes in a couple of days.

![image](https://user-images.githubusercontent.com/26657923/37007423-1983d1cc-2092-11e8-9845-ab31ae2ca9a2.png)

[2018-03-06 08:59] emanuele-f commented on #1682
Hi, what browser are you using? Can you please open the javascript inspector and report the errors shown?

[2018-03-06 09:04] emanuele-f commented on #1642
Thank you, we'll have to further investigate the issue

[2018-03-06 10:03] emanuele-f commented on #1680
Hi, ntopng generally performs OS detection via HTTP user agent strings. The attached pcap does not contain http traffic, so I cannot tell if there is a problem

[2018-03-06 11:09] emanuele-f commented on #1626
The chosen solution is to remove VLAN from mac addresses

[2018-03-06 12:54] CDawson1 commented on #1672
Any suggestions?

[2018-03-06 13:34] emanuele-f opened #1683 "Parameter error while clicking pie charts on interface protocols tab"
E.g.

[code]

[2018-03-06 13:50] #1626 closed, assigned to emanuele-f

[2018-03-06 14:56] #1683 closed, assigned to emanuele-f

[2018-03-06 15:29] rdica commented on #1680
I don't have any service listening on tcp/80. There is web service on tcp/443 (apache) and tcp/3000 (grafana), these should be visible in the pcap.

[host-pcap.zip](https://github.com/ntop/ntopng/files/1785558/host-pcap.zip)

[2018-03-06 16:27] emanuele-f commented on #1680
What's the ip address of `grafite`? Are you capturing local interface packets or packets from a SPAN port?

You need the HTTP client packets, not server packets. For example, if `grafite` is your system host where ntopng is running then if you open the web browser on host `grafite` and connect to an HTTP website it will generate HTTP packets with user agent strings.

The new pcap does not contain

[2018-03-06 16:43] rdica commented on #1680
graphite.ldev has address 192.168.15.5
ntopng is not running on that host

A SPAN port is being used. The same one ntopng uses, same one I performed the tcpdump capture on.

graphite is a centos server running graphite/grafana, why would ntopng expect a server to initiate web traffic when that is not part of the function of that server? Are users expected to run some cli web browser on every serve

[2018-03-06 17:44] queuedvariable opened #1684 "ntopng: undefined symbol pfring_open"
Hi all,

Getting an undefined symbol error trying to start ntopng on a centos 7 box:

./ntopng: symbol lookup error: ./ntopng: undefined symbol: pfring_open

This is all built (without errors) with autoconf based on git clones of todays stables.   (ntopng v.3.3.180306, PF_RING 7.1.0).

looks like pfring_open is defined in the pfring packages and autoconf found it where I cloned & compiled it.   No

[2018-03-06 18:09] ghost commented on #1682
Hello.

I took that screenshot with chrome, but I've an identical result with IE11, FF52.6, Edge, and Safari.

What is javascript inspector? I see an addon for Chrome names "js runtime inspector". Is that what you have in mind?

Thank you.

[2018-03-06 18:25] ghost commented on #1682
![image](https://user-images.githubusercontent.com/26657923/37050430-b8d27fb2-2128-11e8-8f61-52a5a7721cb4.png)

[2018-03-07 07:50] Howard-Chang opened #1685 "there's no MAC address in ntopng"
Hi everyone, I send netflow(V5) to elasticsearch through nprobe and ntopng, but I found that the MAC address are all 00:00:00:00:00:00.
![image](https://user-images.githubusercontent.com/19474557/37079941-6bd6f420-221f-11e8-90d1-70a58b96a2ba.png)

this is my command:
nprobe: nprobe /c --collector-port 5556 --zmq tcp://127.0.0.1:2055
ntopng: ntopng /c -i "tcp://127.0.0.1:2055" --local-networks "192

[2018-03-07 09:05] emanuele-f commented on #1685
Hi, you need to specify the fields `%IN_SRC_MAC` and `%OUT_DST_MAC` into your nprobe template, so please add `-T "%IPV4_SRC_ADDR %IPV4_DST_ADDR %IN_PKTS %IN_BYTES %OUT_PKTS %OUT_BYTES %FIRST_SWITCHED %LAST_SWITCHED %L4_SRC_PORT %L4_DST_PORT %TCP_FLAGS %PROTOCOL %IN_SRC_MAC %OUT_DST_MAC"` to the nprobe options.

Of course the flow exporter must support these fields in order this to work.

[2018-03-07 09:16] emanuele-f commented on #1684
Hi, the 3.3.x and 7.1.x are not the stable version but the dev ones. Can you post the commands you are using to configure and compile pfring and ntopng?

[2018-03-07 09:32] emanuele-f commented on #1680
HTTP requests are only one of the methods ntopng uses to identify OS. For example, it also uses mDNS names for OS detection. In order to troubleshoot this, you need to capture the specific network packets that allow ntopng to perform OS detection for your host.

One thing you can try is start a tcpdump capture then do a network discovery (from the ntopng gui `Network Discovery` menu in the top bar

[2018-03-07 09:37] Howard-Chang commented on #1685
this is the command now:
`nprobe /c --collector-port 5556 --zmq tcp://127.0.0.1:2055 -T "%IPV4_SRC_ADDR %IPV4_DST_ADDR %IN_PKTS %IN_BYTES %OUT_PKTS %OUT_BYTES %FIRST_SWITCHED %LAST_SWITCHED %L4_SRC_PORT %L4_DST_PORT %TCP_FLAGS %PROTOCOL %IN_SRC_MAC %OUT_DST_MAC"
`
but the MAC address is still 00:00:00:00:00:00.
is it because the cisco switch didn't export the MAC information?

thank you !

[2018-03-07 10:16] emanuele-f commented on #1674
Hi, the point 2. is now solved in dev and it will backported to stable soon. About point 1, please be more specific about the issue. In particular:
1) Does the chart stop refreshing or it becomes blank? (Screenshot please)
2)  If you open the browser inspector after the issue appear, can you see see any javascript errors reported?

[2018-03-07 10:19] emanuele-f commented on #1685
Yes, this is probably the case. You may need to tweek the switch configuration to export this.
You can send me a pcap privately with netflow traffic and template to verify this.

[2018-03-07 10:57] simonemainardi commented on #1635
Feature implemented and supported. It suffices to enable the "Probe IP" dynamic interfaces creation

![image](https://user-images.githubusercontent.com/3397663/37088745-ade8e6dc-21fe-11e8-8ccf-8fad5f677b31.png)

[2018-03-07 10:57] #1635 closed, assigned to emanuele-f

[2018-03-07 10:58] emanuele-f commented on #1652
No feedback received. Closing for inactivity.

[2018-03-07 10:58] #1652 closed, assigned to nobody

[2018-03-07 11:06] simonemainardi commented on #1648
Proper JSON escaping is implemented as demonstrated above. Please make sure to run the latest version of ntopng.

If you should still get this kind of issue, please open another issue with a pcap of the dns traffic, as well as the exact system os / package (or source build) version.

[2018-03-07 11:06] #1648 closed, assigned to simonemainardi

[2018-03-07 11:12] simonemainardi commented on #1684
If you are building from sources, you should make sure pfring is not installed as a package. So make sure to remove any installed version (e.g., apt-get remove pfring) to allow the autoconf to use the cloned&compiled version.

[2018-03-07 11:12] #1684 closed, assigned to emanuele-f

[2018-03-07 11:58] simonemainardi commented on #1680
Can you please an try to run a network device discovery to see if the detected OS is still Windows? You know, OS detection involves several heuristics and sometimes the guess is not easy.

Moreover, in order for us to try and reproduce, we would like to ask you the generation of a pcap as follows:

- turn off ntopng and flush its cache (redis-cli flushdb)
- turn off (physically) the mis-detected h

[2018-03-07 13:53] simonemainardi commented on #1662
@bjornfor suggested changes are already available in the ntopng dev branch and in the companion nDPI dev branch.

[2018-03-07 13:53] #1662 closed, assigned to nobody

[2018-03-07 14:14] emanuele-f commented on #1677
Implemented in b2082b7788911293d80deff5e1c116fb4ade84ce

![screenshot_1](https://user-images.githubusercontent.com/5488003/37096833-302ba34e-221a-11e8-902a-fa14862b1f91.png)

![screenshot_4](https://user-images.githubusercontent.com/5488003/37096840-3356f1fe-221a-11e8-8539-62487f53cc2a.png)

Additional alert reporting will be addressed in issue #272

[2018-03-07 14:14] #1677 closed, assigned to simonemainardi, emanuele-f

[2018-03-07 14:46] emanuele-f commented on #1682
Can you check the existance of the files `/var/tmp/ntopng/0/rrd/localstats/local2remote.rrd` and `/var/tmp/ntopng/0/rrd/localstats/remote2local.rrd`? Replace the `0` with the Id of the network interface, displayed into the interface page.

Please also send me the following information (if you prefer, at faranda@ntop.org):

- Ntopng configuration `/etc/ntopng/ntopng.conf`
- Ntopng full log from las

[2018-03-07 15:55] QuentinBibas opened #1686 "ntopng license not working"
Hi,

I tried setting up a license into ntopng, but it doesn't seem to take it

![image](https://user-images.githubusercontent.com/34896282/37102234-b25162d4-2227-11e8-9d62-5ec1c21f4aa2.png)

![image1](https://user-images.githubusercontent.com/34896282/37102717-bb7af3e2-2228-11e8-8fc2-7c2e07490a89.png)
![image2](https://user-images.githubusercontent.com/34896282/37102119-6f9aba1c-2227-11e8-8be6-0cf

[2018-03-07 16:09] ghost commented on #1682
I replaced the name of my fdqn with myhost.mydomain.ext. If that's an issue, please let me know and I'll use the email above to sent you the exact log.

I guess if I can't answer the question "Have you enabled VLAN disaggregation?" will mean it is not enabled, if that's the default state. I didn't change the default configuration AFAIK. How can I check it?

[code]

[2018-03-07 16:29] emanuele-f commented on #1686
Hi, please update to the today version of ntopng as the yesterday package contains a problem.

[2018-03-07 16:45] emanuele-f commented on #1682
What's the output of
```for dir in `ls -d /var/tmp/ntopng/*`; do [[ -d "$dir" ]] && echo "$dir `ls $dir/rrd/localstats`"; done ```
?

[2018-03-07 16:54] ghost commented on #1682
Started experiencing a problem with my license just today after the latest update. My license stopped validating from redis. On March 4th was all good, today started failing and switched the system from "professional edition" "community edition".

Anyhow, if that above doesn't affect the output until I'm waiting for a reply in order to get the license issue resolved, because currently can't see th

[2018-03-07 17:05] QuentinBibas commented on #1686
I answered by email, but i'ill answer here too :

Hi thanks for your reply
would you be able to reset the reset token associated with the order since i blew it on troubleshooting this ?

I will try updating tomorrow when i'll be back at work

[2018-03-07 17:15] EinerPetersen commented on #1674
Hi Emanuele,
Ok ..... no javascript errors reported

Screenshot of what I am seeing on it's way via reply to email :-)

[2018-03-07 17:16] QuentinBibas commented on #1686
Hi thanks for your reply
would you be able to reset the reset token associated with the order since
i blew it on troubleshooting this ?

Regards
QBibas

Message envoyé de mon téléphone.

Le 7 mars 2018 5:44 PM, "Emanuele Faranda" <notifications@github.com> a
écrit :

[2018-03-07 17:19] ghost opened #1687 "Professional license issue [License format error]"
Hello.

The issue started today morning after a routine update with yum. I do update my system that way for years and today redis stopped recognizing my license.

What did I do or what happen and how could it be fixed?

I replaced my fdqn, the licsnse and system id with bogus currently

Thank you.

Mar 04 16:14:47 myhost.mydomain.ext ntopng[33254]: 04/Mar/2018 16:14:47 [Ntop.cpp:1485] Setting loca

[2018-03-07 17:30] emanuele-f commented on #1682
For the license issue, please update to the new version

[2018-03-07 17:47] ghost commented on #1682
I did this morning, this is when the problem started.

[2018-03-07 17:47] simonemainardi commented on #1687
please, send all the details (order id, system id, ntopng version, operating system) to mainardi at ntop dot org

[2018-03-07 18:28] ghost commented on #1687
Just did.

[2018-03-07 18:33] ghost commented on #1686
Hey Q,,

An identical problem started with my system this morning. I guess it is not us and wanted you to know.

If you noticed, there is a difference in the log messages from before and now.

Before: [License mismatch error]

After: [License format error]

In my case that started this morning after updating to the latest version. I didn't change anything else.

[2018-03-07 19:46] lucaderi commented on #1687
@jozatan Please upgrade to today's version and let us know if with the current build the problem is fixed

[2018-03-07 22:28] ghost commented on #1687
I'm running today's version. Just checked the repo and there is nothing to update to newer than I've.

~]# yum clean all
~]# yum update
Loaded plugins: fastestmirror
CodeIT                                                                                                   | 2.9 kB  00:00:00
base                                                                                                     | 3.6

[2018-03-08 00:47] ghost commented on #1682
My version is: 3.2.180306-3700

There is nothing newer in the centos-stable builds directory.

[2018-03-08 09:32] emanuele-f commented on #1674
Please send me an email at faranda@ntop.org

[2018-03-08 09:49] QuentinBibas commented on #1686
![image](https://user-images.githubusercontent.com/34896282/37144045-313cb180-22bd-11e8-8bc2-a82990560d70.png)

no update seems available at this time ?
I'm using the -stable repo for CentOS 7 :
![image](https://user-images.githubusercontent.com/34896282/37144180-8b68e53e-22bd-11e8-98c6-7b10374596d3.png)

[2018-03-08 10:23] emanuele-f commented on #1687
@jozatan sorry for the inconvenient. The package is now available.

[2018-03-08 10:24] emanuele-f commented on #1686
@QuentinBibas sorry for the inconvenient. A new package with the fix is now available.

[2018-03-08 10:24] #1686 closed, assigned to nobody

[2018-03-08 10:31] emanuele-f commented on #1682
Hi, please see #1687 for the license issue.

From the command output above it seems like the interface em1.123 only has local to remote traffic and this causes an issue with the charts. I've committed a fix for this, a new package will be available in one hour.

Nevertheless, if you look at the em1.123 interface traffic, can you confirm you only have monodirectional local to remote flows?

[2018-03-08 10:42] pfruh opened #1688 "Generate Traffic Report by Traffic Profile"
We are separating internal (free) and external (paid) traffic using two traffic profiles to make verifying our monthly bill easier:
[code]
You can already enter the Traffic Profile in the Historical Data Explorer (maybe change that from a Textbox to a Select Field of all available Profiles).

It would be nice to be able to separate by Traffic Profile in more parts of the interface, this would be e

[2018-03-08 11:02] QuentinBibas commented on #1686
I can confirm it works, thanks.

[root@sat-vmveeamprox ~]# ntopng --check-license
License Ok
[root@sat-vmveeamprox ~]# ntopng --version
v.3.2.180308    [Enterprise/Professional build]
GIT rev:        3.2-stable:fc5ac058603ff52864ab99739a15d2770528046e:20180308
Pro rev:        r1280
Built on:       CentOS Linux release 7.4.1708 (Core)
System Id:      FE2B2CE6B206AB23
Platform:       x86_64
Edition:

[2018-03-08 11:05] emanuele-f commented on #1686
Thank you

[2018-03-08 13:15] duffy6 opened #1689 "fritzdump.sh tool: capture "wlan_guest" and "lan" at the same time"
Hi guys,

is it possible to capture "wlan_guest" and "lan" interface at the same time?
I want to capture ALL THE traffic in and out from/to my fritzbox.

Is this possible?

Regards
duffy6

[2018-03-08 13:40] cardigliano commented on #1689
It seems the Fritzbox doesn't have an aggregated interface for capturing traffic from both LAN and WLAN in a single stream.

[2018-03-08 13:47] duffy6 commented on #1689
Okay, thx for your quick reply.
what interface do I have to use to capture wlan_guest traffic?
`"1-wlan_guest"` is not working :-(

[2018-03-08 13:49] emanuele-f commented on #1688
If you are only interested in monitoring external traffic you can apply a BPF filter on ntopng itself via the `-B` command. If you want both maybe you can run another instance of ntopng with BPF filter for the internal network (see `-r` and `-d` options to avoid conflicts between the instances). The drawback is that you won't be able to get a unified view of both the internal and external traffic.

[2018-03-08 13:52] cardigliano commented on #1689
Please go to http://<fritzbox>/html/capture.html and try with the listed interfaces (right click -> inspect on the "Start" button to get the "value" you should use).

[2018-03-08 13:59] pfruh opened #1690 "Use MySQL and ElasticSearch together, "all in one" nProbe Template?"
I'm trying to use MySQL and ElasticSearch together, since elasticsearch is not supported in the builtin "Historical Data Explorer".
I tried using the -F parameter twice in the config, it shows it's connecting to both in the log, but only seems to export to mysql and not to elasticsearch (when using only one -F with elasticsearch it works).

Can I get this to work somehow? And has someone maybe alr

[2018-03-08 14:06] duffy6 commented on #1689
It says `"1-wlan_guest"` (see above), but this do not work :-(

EDIT: It is a Fritzbox 7490 (v06.93), if anyone is capable of investigating this any further.

[2018-03-08 14:47] pfruh commented on #1688
Would be great to have a "nicer" way of splitting both in one instance - maybe it could be added in some later version.

[2018-03-08 15:39] simonemainardi commented on #1690
Simultaneous export to MySQL and ElasticSearch is not supported yet. We are planning to create an ad-hoc high-performance flow store and we are directing our efforts to this activity. The new flow store will be integrated with the Historical Data Explorer.

However, as you are using ntopng in combination with nprobe, what you can do is let nProbe do the export to elasticsearch (export plugin is re

[2018-03-08 15:39] #1690 closed, assigned to nobody

[2018-03-08 16:42] pfruh commented on #1690
Thanks for the info, however since you said `@NTOPNG@` is a minimum set of fields for ntopng, I'd like to know which of the fields `nprobe -h` shows can even be correctly visualized by ntopng, so I don't send unnecessary fields to ntopng.

Edit: `src/ParserInterface.cpp` shows everything that can be parsed :)

[2018-03-08 16:55] ghost commented on #1682
Thank you Emanuele,

First, the license started after your fix. Greatly appreciated.

Second, em1.123 is only an internal vlan for management purposes and it doesn't have access to internet anyhow. Since I made an update today to version 3.2.180308-3700, I don't have a problem seeing the graphical representation of all flows. Let's keep the ticket open please and I'll report within 3 to 4 days if

[2018-03-08 16:55] ghost commented on #1687
Thank you Emanuele,

Everything worked right on.

[2018-03-08 18:01] ghost commented on #1682
Unfortunately I see the same result after an hour or so. No graphical representation again. The screenshot is from a minute ago.

![image](https://user-images.githubusercontent.com/26657923/37167755-aeca1184-22b7-11e8-870e-5cd55c0bdbdd.png)

[2018-03-08 19:21] emanuele-f commented on #1682
Please check out the new package as you could have installed the version previous to the fix. Any chance to get a remote access to your web gui?

If you edit `/etc/ntopng/ntopng.conf` and only add some of the network interfaces of the system (e.g. em1, em2, p2p1, p2p2, p2p3 and p2p4, in essence, exclude the vlan interfaces):
[code]
Does the chart appear correctly?

[2018-03-08 22:13] gillmore-ac opened #1692 "nProbe runs for 10 minutes then stops"
Hey all,

I'm having an issue with one of my nProbe instances where it will stop running after 10 minutes, as if it was in demo mode.

This nProbe instance is running on the same server as ntopng. It collects NetFlow data and forwards it to ntopng. My nProbe boxes were running fine up until I updated to v.8.2.180306 and then they were having license issues reporting an invalid format. After updati

[2018-03-08 22:17] ghost commented on #1682
No problem arranging remote access to my web gui, neither to my console. Let me know how to communicate the details please.

I cut all interfaces but "p2p1". That's a mirrored port and that's the only one I really need stats for. Check below my config, versions and the screenshot. No change though.

[root@myhost ntopng]# ifconfig | grep flags | cut -d':' -f1
dummy0
em1
em2
em1.20
em1.123
lo
p2p1
p

[2018-03-09 00:18] ghost commented on #1682
Actually I take that back. Check it out now below. The only missing one is the "local traffic" graph ( I assume) because I took off "em1" and "locahost" interfaces.

![image](https://user-images.githubusercontent.com/26657923/37183718-5525a80c-22ec-11e8-9f43-4ad1452fd6b1.png)

[2018-03-09 06:39] vvraciu commented on #1692
Hi all,

We have similar situation, for nprobe and ntopng, but academic licenses. Information about version and some logs are below. Licenses were generated some time ago, since then I did several updates to nprobe and ntopng, so initial version is not anymore in place.
After reading FAQ :)  I changed configuration for both ntopng and nprobe so license check to be done on-line (--online-license-ch

[2018-03-09 07:06] gillmore-ac commented on #1692
Hey @vvraciu
I am also running the academic licensing, and that is the problem that I had started with.
I see that you are running v.8.2.180306. Try and run another update so that you are running v.8.2.180308. That version fixed my issues with the "License format error" and got my other nProbe box up and running.

[2018-03-09 07:40] vvraciu commented on #1692
Thank you, issues solved now :)

[2018-03-09 08:06] simonemainardi commented on #1692
Thanks for reporting. That was due to a glitch in license verification that as has been quickly resolved.

[2018-03-09 08:06] #1692 closed, assigned to nobody

[2018-03-09 08:12] gillmore-ac commented on #1692
I'm sorry, but my issue is still not fixed.

[2018-03-09 08:19] simonemainardi commented on #1692
@gillmore-ac, I quote you

So what else is happening? If your maintenance is expired after the update this is not related to license verification...

[2018-03-09 08:58] Derga127 opened #1693 "Mysql/Pfsense"
Hello,
I installed ntopng on pfsense, I saw that ntopng can send the data history to a SQL database, did somebody set up ntopng on pfsense to send these data to another sql server.
Thank you

[2018-03-09 09:22] pfruh opened #1694 "MAC changing between real and router's address"
Hey,

I'm using ntopng together with nprobe to monitor sFlow from 2 switches with the following setting in nprobe:

[code]

This works so far, however when looking at IP's in host_details.lua or other parts of ntopng, I see their MAC constantly change between their real MAC and the routers MAC. When searching for the Routers MAC I can see it is currently assigned to 298 Hosts, this number fluctuat

[2018-03-09 09:26] emanuele-f commented on #1682
If possible, please send me the access credentials for the console and web gui at faranda@ntop.org

[2018-03-09 09:29] emanuele-f commented on #1694
Can you create a pcap file with the sflow traffic so that we can reproduce the problem?

[2018-03-09 09:34] pfruh commented on #1694
We changed the switch config to only monitor egress traffic on all interfaces (hoping that would fix the issue), but it didn't help.

The pcap is with this current config. Can I send it to you via mail? Don't really want to post it in public

[2018-03-09 10:16] emanuele-f commented on #1694
Please send it at faranda@ntop.org

[2018-03-09 10:18] pfruh commented on #1694
Done :)

[2018-03-09 10:30] emanuele-f commented on #1694
Thank you, what's the mac address of your router?

[2018-03-09 10:31] pfruh commented on #1694
3C:8A:B0:8D:DD:70

[2018-03-09 11:13] emanuele-f commented on #1694
Hi, I've sent you a stripped pcap with two sflow packets which reproduce the behaviour you are describing. The problem is inherent to sflow itself. If you sample a packet on a "lan" interface facing the host, the packet will have the host mac address. If you sample a packet on a "wan" interface facing the outside, the packet will have the router own mac address as it is acting as a router.

In nto

[2018-03-09 11:31] pfruh commented on #1694
Thanks for the info - would it help to remove the sampling from the uplink interfaces (one per switch) and sample only the other interfaces?

[2018-03-09 11:43] emanuele-f commented on #1155
@lucaderi can we implement this as a runtime view on the host data? At runtime, when user clicks on the mac address packets tab, I look for the associated ip and ipv4 hosts and calculate the breakdown based on their current traffic.
Otherwise, for a full implementation, we need to keep two more counters (ipv4 traffic and ipv6 traffic) on the mac address and update them when we periodically walk th

[2018-03-09 11:45] emanuele-f commented on #1694
Yes of course, if you exclude uplink the traffic (the one with router mac addresses) you should solve this

[2018-03-09 11:54] pfruh commented on #1694
I'll give that a try, thank you very much for your help!

[2018-03-09 11:54] #1694 closed, assigned to nobody

[2018-03-09 12:33] gillmore-ac commented on #1692
It's as I said in the original post. I had some licensing issues, but that was fixed with the update. Now I have one of my nProbe instances that will only run for about 10 minutes even though it has valid licensing.

The comment that you quoted was a reply to  vvraciu about their issues, which is what I had experienced just prior to the issue that I posted about.

Sorry for the confusion.

[2018-03-09 13:22] emanuele-f commented on #1685
Closing the issue as solved, please reopen if necessary.

[2018-03-09 13:22] #1685 closed, assigned to nobody

[2018-03-09 13:23] simonemainardi commented on #1680
any news?

[2018-03-09 13:56] lucaderi commented on #1155
Yes it is good as you have described it, but bear in mind what happens when host disappear from memory (e.g. when idle)

[2018-03-09 14:50] rdica commented on #1680
Initial configuration had only eth1 interface, the one I connect to span port. I found out that network discovery doesn't work on this, so I added eth0 so I coud use discovery. when I switch interface to eth0, the host in question is not detected as Windows 7.

I will try to get the requested information this weekend.

[2018-03-09 16:25] lucaderi commented on #1693
@MouadMimouni ntopng will create the table if necessary. We're not familiar with PFsense but I believe this is issue for them: what do you think @madpilot78  ?

[2018-03-09 18:44] aouinizied commented on #1675
Done

[2018-03-09 18:47] madpilot78 commented on #1693
A quick look at the pfsense ntopng port [1], which provides the configuration webUI, shows no parts to configure the MySQL logging functionality from there.

If you need that on a single system you could hack the ntopng_sync_package() function in ntopng.inc at [1], adding the required arguments at line 168.

To code more proper support via WebUI requires modifying the xml file to describe the prop

[2018-03-10 21:00] ghost commented on #1682
Did.

[2018-03-11 10:09] duxenmx opened #1696 "[Lua.cpp:7239] WARNING: Script failure"
Getting this error

11/Mar/2018 03:05:00 [Lua.cpp:7239] WARNING: Script failure [/usr/local/share/ntopng/scripts/callbacks/interface/minute.lua][/usr/local/share/ntopng/scripts/lua/modules/alert_utils.lua:2231: attempt to call field 'getHostPoolsStats' (a nil value)]

[2018-03-12 08:40] #1693 closed, assigned to nobody

[2018-03-12 08:41] lucaderi commented on #1689
@duffy6 This is a test tool we use for running experiments. If anyone is willing to extend it, please send us a pull request and we'll include it.

[2018-03-12 08:41] #1689 closed, assigned to nobody

[2018-03-12 08:48] lucaderi commented on #1668
For the time being we have decided to leave the system as is, because under heavy load the time it takes to write RRDs could be large and thus create side effects.

[2018-03-12 08:48] #1668 closed, assigned to simonemainardi, emanuele-f

[2018-03-12 08:54] lucaderi commented on #1187
Unfortunately all SNMP-enabled switches we have in house do not support this feature, so we leave it for the future when we'll have the chance to run a test

[2018-03-12 08:54] #1187 closed, assigned to emanuele-f

[2018-03-12 09:15] lucaderi commented on #251
@PrimaryHealthTas @Krokx We've not forgot this issue, just preparing the code. Stay tuned.

[2018-03-12 10:28] emanuele-f commented on #1682
Hi, thank you. You need to tell ntopng what's your local network. Please add this line (you can add more networks by separating them with a comma) to your `/etc/ntopng.conf file`:
[code]

After waiting some time, you should begin to see the local vs remote charts

[2018-03-12 10:44] emanuele-f commented on #1696
Hi, what version of ntopng are you using (see `ntopng --version`)? Are you installing from a package or compiling it manually? Do you have the licensed version or free? If you have the free one, please add `--community` to your ntopng options

[2018-03-12 10:51] emanuele-f commented on #1688
Thank you for the suggestion. I think traffic profiles are not very suitable for such a separation. Maybe we can just improve the local networks report. Have you specified the `--local-networks "192.168.0.0/16"` option in ntopng configuration?

[2018-03-12 10:59] pfruh commented on #1688
Yes, however our actual list of "local" (meaning in our control) networks is much larger and contains many public networks on top of the internal ones, so we extended the `--local-networks` with those, to easily see which hosts are under our control.

On top of that, use traffic profiles to separate the traffic of those between internal (free) and external (paid), since traffic between public IPs

[2018-03-12 12:15] #1155 closed, assigned to emanuele-f

[2018-03-12 14:42] adargenio opened #1697 "Issue check for talker on disaggregated flows"
Surfing into the application, if I click on the IP of the specific talker of an interface I got a 500 error

The affect url is:

http://ntopng.server.local/lua/pro/db_explorer.lua?ifid=52&page=historical&rrd_file=bytes.rrd&zoom=1h&epoch=&host=192.168.1.1&l4proto=&port=&info=&protocol=&search=&epoch_end=NaN&epoch_begin=NaN

[2018-03-12 15:38] gillmore-ac commented on #1692
@simonemainardi
Can this issue be reopened as the issue described in the original post was never addressed? I have updated to the latest (v8.2.180312) but nProbe is still exiting after 10min.

[2018-03-12 16:52] duxenmx commented on #1696
Heya,

Its version 3.3.180310
Compiled manually on an asus tinkerboard
Free version, and when I add the —community it says its an unrecognized
option

On Mon, Mar 12, 2018 at 3:44 AM Emanuele Faranda <notifications@github.com>
wrote:

[2018-03-12 17:34] simonemainardi commented on #1696
@duxenmx try with `--community` and not with `—community` (note the dash)

[2018-03-12 17:35] simonemainardi commented on #1692
@gillmore-ac are you sure the maintenance is still valid? We believe we have sorted out the issue. Send me your order id privately (mainardi ntop org) so I can check

[2018-03-12 17:45] gillmore-ac commented on #1692
If I run `nprobe -v` or `nprobe -v --online-license-check` it shows a valid license with maintenance until March 7 2019.

I sent you the order id.

[2018-03-12 17:47] simonemainardi commented on #1697
I tried to reproduce also with probe IP dynamic interfaces creation without success.

Clicking on the IP address always brings me to the historical explorer

![image](https://user-images.githubusercontent.com/3397663/37300173-9d383164-2625-11e8-9f5b-f82ec268c16b.png)
![image](https://user-images.githubusercontent.com/3397663/37300215-b3bc6eb4-2625-11e8-8a31-834a1763b219.png)

Can you please tell t

[2018-03-13 00:00] ghost commented on #1682
I think I got the mystery solved.

The interface I was monitoring, didn't have an IP address, neither was ever part of a vlan. It was just a mirrored port but no vlans on it.

Today I untagged it and assigned a dhcp IP address to it without a default route, even I already have an IP address from the same network for the machine, that did the job or at least I think so far.

I'll report tomorrow.

[2018-03-13 06:38] duxenmx commented on #1696
Hey

Yeah, it was actually  - -community (without the space), ipad/iphone merges them together here when I type them, still having the same error with it, still getting a unrecognized option
![5acdc37f-74d4-45d8-9d9c-f033a17a9e31](https://user-images.githubusercontent.com/37263527/37326237-69102fc6-264e-11e8-82ec-727b65b25ead.png)

[2018-03-13 08:54] #1696 closed, assigned to nobody

[2018-03-13 08:59] emanuele-f commented on #1696
Sorry, the `--community` switch is only available in licensed version. I've fixed the alert error, please check out the new version.

[2018-03-13 09:00] emanuele-f commented on #1682
Yes, if you assign an IP address to it then ntopng will automatically recognize its network as "local". Otherwise you need to use the `--local-networks` option

[2018-03-13 10:03] pmarissen opened #1698 "Traffic report Graph only shows traffic of the last 3 days"
Hi,
When I  open the traffic report graph it only shows data of 3 days although I have data available for multiple months.  How to solve this?

ver 3.2.171215 commercial licenses
platform Windows 10
database MySQL

Best regards,

Paul
![2018-03-13_13-41-26 ntopng graph 2](https://user-images.githubusercontent.com/37330458/37343487-fe1235a0-26c7-11e8-8ab8-6ce79d455894.jpg)
![2018-03-13_13-41-26 nto

[2018-03-13 10:06] simonemainardi commented on #1698
can you attach screenshots and ntopng configuration used?

[2018-03-13 11:47] duffy6 commented on #1689
Did anyone made it to capture the wlan_guest traffic on a Fritzbox 7490 V06.93?

[2018-03-13 20:56] csammons0x1c opened #1700 "getHostPoolsStats nil value"
Hello,

I've recently installed Community Edition v 3.3.180227 and get the following error in the log trace 3 times per second:

13/Mar/2018 15:07:00 [Lua.cpp:7227] WARNING: Script failure [/usr/local/ntopng-3.3/share/ntopng/scripts/callbacks/interface/minute.lua][...png-3.3/share/ntopng/scripts/lua/modules/alert_utils.lua:2151: attempt to call field 'getHostPoolsStats' (a nil value)]

I'm not sur

[2018-03-14 08:58] emanuele-f commented on #1700
Hi, this is a duplicate of #1696 . Please update to fix it.

[2018-03-14 08:58] #1700 closed, assigned to nobody

[2018-03-14 09:37] emanuele-f commented on #1698
So basically the historical explorer works correctly while the report does not? Can you check out the ntopng log into the windows event viewer to see if there are errors?

[2018-03-14 11:59] duffy6 opened #1701 "URLs from hosts"
Hi,

is it possible to show the urls from a specific host over a specific timeline?

Regards
duffy6

[2018-03-14 15:30] emanuele-f commented on #1701
Hi, you can do this by enabling the MySQL export and then perform queries via the "info" field. Please check out http://www.ntop.org/ntopng/exploring-historical-data-using-ntopng/ for more details.

Alternatively, you can enable realtime top sites for local hosts by enabling `Top HTTP Sites` in `Protocols` menu. A new tab `HTTP` will appear on local hosts.

[2018-03-14 16:19] ghost commented on #1682
Well, this below is today's situation. I'm attaching two screenshots. One is showing no graphical representation and the other is showing the same interface having an IP address from the local network. The very bottom is the current configuration of /etc/ntopng/ntopng.conf. What am I doing wrong?

![image](https://user-images.githubusercontent.com/26657923/37415326-6bd345f2-2768-11e8-9997-19cb229b

[2018-03-15 09:09] emanuele-f commented on #1682
Hi, the configuration should be fine. `ifconfig p2p1` shows you no ip address on the interface? If you remove the em1 interface, does it works? I cannot access your web gui anymore.

[2018-03-15 16:25] ghost commented on #1682
It is fine today. You are correct. Sometimes only I just don't see the graphical representation. I even removed the IP address, and it is still operational today.

Can you send me in an email your IP or range of IP's so I don't open the firewall world wise please?

[2018-03-15 18:20] ghost commented on #1682
... and after updating to the latest stable, vanished again... agrrr

[2018-03-16 09:03] kwunyinhui opened #1702 "NTOPNG Not Enough Memory"
Dears,

I would like to ask what is the system requirement for the NTOPNG?
However, the service seems unstable. It always prompt the error when we browsing or generating the report, and the error message said that it is not enough memory.

Environment:
ntopng Enterprise Edition v.3.3.180125
1 x Interface
1 x vCPU and 2G Memory

[2018-03-16 09:19] emanuele-f commented on #1702
Hi, can you update to the latest version (please check out your license expiration before this)? Can you post a screenshot of the page showing the error?

[2018-03-16 09:37] simonemainardi commented on #1702
I think 1 CPU with 2GB is OK only for limited network traffic. What is the network load you are trying to process? And how many local hosts you have? please post the ntopng configuration used.

Note that you can also tune, via the ntopng preferences, a 'Top-k Heuristic' to make the report aggregations more/less aggressive. In limited memory environments such as yours, you should put ti to aggressi

[2018-03-16 09:49] kwunyinhui commented on #1702
This is the sample error message.

We have around 500 hosts concurrently. I think try to tune values. Thanks!

![sample](https://user-images.githubusercontent.com/37438134/37514112-e94e49cc-28fe-11e8-84ed-fba478db8b01.png)

[2018-03-17 18:33] akatrevorjay commented on #153
@simonemainardi That doesn't sound like extensions to me. It sounds like a cookie is being set that it's relying upon. CSRF? Some kind of salt perhaps?

[2018-03-17 18:35] akatrevorjay commented on #153
The reason why I came here:  i don't know why but I can't reset a password either on a brand new install. I remember the length being awfully restrictive; I've ran into that before here, as well as the bug with special characters. This time however even lowering to 16 characters didn't help.

I haven't had time to look into it yet, but I wanted to at least make sure it was already in an issue some

[2018-03-19 10:09] emanuele-f commented on #1674
Hi @EinerPetersen, it seems like there is now a problem with your email, any email I send you is not delivered. Anyway, let's continue discussion here.

From the pcap you sent me previously you traffic is not continuos, so I think this is not a problem into ntopng.

[2018-03-19 10:36] v0vas commented on #960
The same problem.
I don't have any restrictions on my google developer console

[2018-03-19 13:07] emanuele-f commented on #960
What version of ntopng are you using? What browser? Can you try with another browser / disable all the browser plugins (if any)?

[2018-03-19 13:13] emanuele-f commented on #1682
Hi, I've connected to your machine right now and I can correctly see the charts on 1h, 1d, 1w resolution. I've also checked 4 days ago and they were good. Can you confirm it works fine for you too?

[2018-03-19 13:21] LSET2014 opened #1703 "Can not make ntopng and nprobe work correctly."
The parameters that you configure are:

In nprobe.conf these are the paramentros that you have configured
-collector-port 6343 (switch with sflow port)
-zmq tcp: // *: 5556
-i = none
-n = none

in ntopng.conf these are the paramentros that you have configured
-i tcp: //127.0.0.1: 5556
-d / var / tmp
-w 3000
-local-networks = "10.0.0.0/8,172.16.0.0/12,192.168.0.0/16"
--community

My problem is:
I d

[2018-03-19 13:40] v0vas commented on #960
Now it’s works! I restarted ntopng daemon after completion settings.
Thanks!

[2018-03-19 15:13] ghost commented on #1682
Hello.

I'm connected right now from Internet using two different browsers (Chrome and Safari), I don't have enabled adblocker on either, and I'm unable to see any charts under "Traffic Report" either "Local/Remote", or "Applications", or "Application Breakdown" for 1h, 6m, or 1y. The rest are showing on 1d, 1w, and 1m without an issue.

I also tried it locally (from the LAN) and I see the same re

[2018-03-19 15:30] emanuele-f commented on #1682
Now I can see the error, let me check.

[2018-03-19 15:36] merentitis opened #1704 "Debian Stretch - update-rc.d: error: initscript does not exist"
Debian Stretch (updated from Jessie)
I am using the following source:

`deb http://packages.ntop.org/apt-stable/stretch/ `

The installation log:

Preparing to unpack .../00-libcurl3_7.52.1-5+deb9u5_amd64.deb ...
Unpacking libcurl3:amd64 (7.52.1-5+deb9u5) ...
Selecting previously unselected package libhiredis0.13:amd64.
Preparing to unpack .../01-libhiredis0.13_0.13.3-2_amd64.deb ...
Unpacking lib

[2018-03-19 16:05] emanuele-f commented on #1682
Whats the output of `rrdtool info /var/tmp/ntopng/4/rrd/AppleStore.rrd`? It seems there is a problem with the AppleStore protocol. Please also post the output of `date` and `date +%s` after the command above.

[2018-03-19 16:29] plus-24 opened #1705 "ntopng mysql storage wrong columns"
CentOS Linux release 7.4.1708
ntopng installation by your official repository
ntopng.x86_64                          3.2.180317-3702                @ntop
mariadb by centos repo
mariadb.x86_64                         1:5.5.56-2.el7                 @base
mariadb-devel.x86_64                   1:5.5.56-2.el7                 @base
mariadb-libs.x86_64                    1:5.5.56-2.el7                 @

[2018-03-19 16:55] ghost commented on #1682
[root@myhost ~]# rrdtool info /var/tmp/ntopng/4/rrd/AppleStore.rrd
filename = "/var/tmp/ntopng/4/rrd/AppleStore.rrd"
rrd_version = "0003"
step = 60
last_update = 1521486661
header_size = 792
ds[num].index = 0
ds[num].type = "DERIVE"
ds[num].minimal_heartbeat = 300
ds[num].min = NaN
ds[num].max = NaN
ds[num].last_ds = "10524212662"
ds[num].value = 1.2541276060e+03
ds[num].unknown_sec = 0
rra[0].cf

[2018-03-19 20:21] pshute opened #1706 "Disappearing ntopng menu items after autologout"
If I log into ntopng then leave it till autologout times out (apparently 12 hours), I can still use many menu items, but some items have disappeared. Eg I can change interfaces and look at traffic charts, but the menu items for changing settings are gone. This is fixed by logging out and in again, but the menu item for logging out is also gone. The only way to log out is to manually edit the URL t

[2018-03-19 20:23] csammons0x1c opened #1707 "Chart option not working for many networks"
I am running the Community Edition v3.3.180314.

I have various subnets specified using the startup option --local-networks. When I navigate to Hosts > Networks and click the chart icon for most of these networks, I get the error "No available stats for network x.x.x.x/mask". Other display as expected and some open an empty chart. I've verified that these networks have seen recent traffic. I also

[2018-03-19 20:24] pshute commented on #1706
This screenshot is of the interface home page after autologout.
![screenshot-2018-3-20 welcome to ntopng 2](https://user-images.githubusercontent.com/1063441/37620226-b1e2e84e-2c0f-11e8-981b-feeccecddf71.png)

[2018-03-19 20:28] pshute commented on #1706
This is a screenshot taken after logging back in, showing the items that are missing after autlogout.
![screenshot-2018-3-20 welcome to ntopng 3](https://user-images.githubusercontent.com/1063441/37620386-2a8c8ce6-2c10-11e8-9e8e-5d617fde3d61.png)

[2018-03-19 20:31] pshute commented on #1706
Plugins installed:
All Tabs Helper
Tab Counter
Tree Style Tab

I have been asked to:
    - When you experience the problem, do a screenshot. Please open the javascript inspector of your browser and see if there are errors. Moreover, if you go into the cookies (e.g. under chrome into Application -> Cookies), do you have cookies listed?
    - If you temporary add the --disable-autologout option temp

[2018-03-20 09:05] emanuele-f opened #1708 "Missing L2 device with a single ARP packet"
Reported behaviour: when feeding ntopng with a pcap with a single ARP packet:

- Mac addresses do not appear under L2 devices
- interface.getMacsInfo() does not return anything
- `http://localhost:3000/lua/mac_details.lua?host=00:04:23:A7:92:FC` returns the mac

[2018-03-20 09:12] emanuele-f commented on #1706
Thank you for providing details, we'll do some tests on our own too.

[2018-03-20 10:42] emanuele-f commented on #1682
Thank you. So the `AppleStore.rrd` is the only one correct, the problem is on the other rrds (`Microsoft.rrd`, `SSL.rrd`, `HTTP.rrd` and so on). From what I see from the gui, it seem like all these rrds have a step of 300 instead of 60. Maybe the were created from a previous version of ntopng? Can you flush your data dir `/var/ntopng/ntopng` after stopping ntopng (you will lose all the data) and s

[2018-03-20 11:09] emanuele-f commented on #1707
Hi, please update to the today version of ntopng and see if you still reproduce the issue. Can you navigate `/var/tmp/ntopng/0/subnetstat` where `0` is your network interface id (from the interface page into the ntopng gui) and see if the rrds are acually there?
For example, in my case I see `/var/tmp/ntopng/0/subnetstats/192/168/100/0/24/bytes.rrd`. If they exists, then please run `rrdtool info y

[2018-03-20 11:17] emanuele-f commented on #1705
That is weird, we already perform such alter tables:

https://github.com/ntop/ntopng/blob/3.2-stable/src/MySQLDB.cpp#L321
https://github.com/ntop/ntopng/blob/3.2-stable/src/MySQLDB.cpp#L257

@simonemainardi any idea?

[2018-03-20 11:21] emanuele-f commented on #1704
This is probably a system configuration problem. Systemd should already be shipped with debian, no need to install it manually. Please retry with a clean install.

[2018-03-20 11:30] emanuele-f commented on #1703
Hi, the parameters you are specifyng are incorrect. In the config file, the parameters are specified in the format `parameter_name="parameter_value"`, no spaces and please use double quotes in values. Moreover, the long options like `--local-networks` have two starting dashes `--` and not one, so `-local-network` for example is incorrect,.

Apart from that, can you see the any host of network 192.

[2018-03-20 14:41] emanuele-f commented on #1708
@lucaderi possibly fixed with 859ae72e398cd13b770123646431611e17b2a003

[2018-03-20 15:06] csammons0x1c commented on #1707
Thank you for the response.

Looking in the directory you specified I noticed that the networks that are
not producing the graphs do not have a corresponding directory nor rrd
files. The subnets that are working however, do have these.

I've updated to Community Edition v3.3.180320 as suggested and am still
seeing the same result. From one of the networks that is working I get the
following from '

[2018-03-20 15:14] ghost commented on #1682
Hmmm I don't have such directory. How to locate where the data is stored at?

Do you mean "/var/tmp/ntopng"?

[2018-03-20 17:38] emanuele-f commented on #1682
Yes, `/var/tmp/ntopng`, sorry

[2018-03-20 17:50] emanuele-f commented on #1707
What ntopng options are you using? Can you post your ntopng log?

[2018-03-20 18:15] csammons0x1c commented on #1707
I use the following startup options:

`ntopng --daemon "" --pid "/var/run/ntopng/ntopng.pid" --http-port "0" --https-port "3001" --local-networks "<LIST_OF_NETWORKS_HERE>"`

My logs contain the following. Please let me know if you need me to start ntopng with more verbose log settings than the default setting reflected here:

[code]

[2018-03-20 18:20] ghost commented on #1682
Emanuele,

I think this was the final thing needed to be done. Right now the reporting it showing up perfect.

Thank you.

[2018-03-20 18:20] #1682 closed, assigned to nobody

[2018-03-20 19:36] emanuele-f commented on #1682
I'm glad it works now, thank you.

[2018-03-20 20:51] juesor opened #1709 "Traffic Reported dropped traffic daily"
https://www.screencast.com/t/zfcE2e87E
https://www.screencast.com/t/M1BooeovCgIy

Ok so every day i am getting complaints that ntopng is dropping flows in the graph.

I've ruled out network connectivity dropping between the netflow source and nprobe and i've verified i'm not losing connectivity between ntopng and nprobe.

I've upgraded ntopng and nprobe to the latest as of 3.20.2018

nProbe server

[2018-03-20 22:49] TravisH84 opened #1710 "Recommended values"
Apologies if this is a simple question, but do you have a table of recommended thresholds for the ntopng tool.  I see you can set the thresholds for an interface, but not 100% sure what would be typical threshold values for a home network with 100 mb/s link.

I saw the setup tool, but not what recommended values actually were, or how to calculate these?

[2018-03-21 11:12] emanuele-f commented on #1710
Do you refer to the alert settings? Sorry but we do not have recommended values for such a network, this would require manual test to figure out.

[2018-03-21 11:19] emanuele-f commented on #1709
Have you configured RSS? Please post your nprobe configuration. This is probably happening at the nprobe side. Please provide the output of the commands listed in this thread https://github.com/ntop/PF_RING/issues/146

[2018-03-21 11:20] emanuele-f commented on #1707
How many local hosts/local networks/flows do you have?

[2018-03-21 11:22] emanuele-f commented on #1702
Closing the issue. Please reopen if necessary.

[2018-03-21 11:22] #1702 closed, assigned to nobody

[2018-03-21 11:22] #1701 closed, assigned to nobody

[2018-03-21 11:23] emanuele-f commented on #1698
@pmarissen any news?

[2018-03-21 11:24] emanuele-f commented on #1697
@adargenio any news?

[2018-03-21 11:28] emanuele-f commented on #1669
I think I've already provided the appropriate suggestions to implement the feature. Please refer to the source code for any other specific detail.

[2018-03-21 11:28] #1669 closed, assigned to nobody

[2018-03-21 11:31] emanuele-f commented on #1680
@rdica have you followed the suggestions above? What's the result?

[2018-03-21 13:58] tomerr-tradair opened #1711 "TCP Keep-Alive is treated as TCP re-transmissions"
We have noticed that the TCP Re transmissions counter is increasing on every TCP Keep-Alive packet.
Any thoughts?

[2018-03-21 14:22] csammons0x1c commented on #1707
Roughly 500+ local hosts, 36 local networks defined and 7500 flows.

[2018-03-21 22:30] #1092 closed, assigned to simonemainardi, emanuele-f

[2018-03-21 23:53] rdica commented on #1680
Sorry no I still haven't had an opportunity. I don't know if/when I can, nor do I know if we're going to implement this in the long term. You can close this, I can always refile in the event I can pursue, thanks.

[2018-03-22 08:52] emanuele-f commented on #1680
Ok. If you have any updates please reopen/create a new issue.

[2018-03-22 08:52] #1680 closed, assigned to nobody

[2018-03-22 09:39] emanuele-f commented on #1707
Have you enabled the `Create Interface Timeseries` into every interface? The option is available into the interfaces config (cog icon) page. Do you have free space on disk? Moreover, if you only specify one network (the one which is not creating the file) and wait 2 minutes, can you see the network charts correctly populating?

[2018-03-22 09:52] emanuele-f commented on #1711
Hi do you have a pcap to reproduce?
Keep-Alive explanation: http://www.cceye.com/tcp-keep-alive

[2018-03-22 11:13] tomerr-tradair commented on #1711
Attached a capture with some SSL traffic and 1 tcp-keepalive we saw the issue with.
[tcp-keepalive.zip](https://github.com/ntop/ntopng/files/1837213/tcp-keepalive.zip)

[2018-03-22 13:17] i5513 commented on #1350
Sorry I was using a 686-pae package :(

Please ignore this post

Thanks!
How do you solved this issue?
[code]

Thank you !

[2018-03-22 14:25] csammons0x1c commented on #1707
Yes, `Create Interface Timeseries` is enabled for each interface. The output of the `df -h` command shows 86% of the partition free. I attempted to start ntopng with only a single network specified (that wasn't previously charting) with the `--local-networks` flag, waited 2+ minutes and still haven't seen the the rrd files created for that network.

[2018-03-22 21:22] pshute commented on #1706
I have left the session logged in for three days, checking it each morning. I didn't open that browser tab for the whole three days, except to check it each morning.

The first two mornings, it had logged out. The third morning, it was showing the symptoms I described.

There were no cookies. I opened what I think is the javascript inspector, but could see no errors as I browsed the partially disa

[2018-03-22 21:26] pshute commented on #1706
After logging in again, I can see a user and a session cookie, both set to expire in one hour. The expiry time updates to an hour ahead each time I view it.

I tried deleting both cookies, and the site logged out.

I logged in again and tried deleting just the user cookie. This resulted in the same symptoms I described.

[2018-03-23 07:42] merentitis commented on #1704
An install to a clean debian stretch completes fine.
The system I mentioned above though is a jessie not tweaked in any way, no packages and services removed, only upgraded to debian stretch following the debian procedures. I had no problems with installing any other packages.

[2018-03-23 10:05] emanuele-f commented on #1707
Can you provide web access to you gui? Please send me credentials at faranda@ntop.org

[2018-03-23 13:45] emanuele-f commented on #1708
Host devices have been replaced with source devices in commit 02cec8a2bea2739c71f149e40d57ecfc6af3eff6 . Now the footer counts the number of source devices.

[2018-03-23 13:45] #1708 closed, assigned to nobody

[2018-03-23 16:17] emanuele-f commented on #1711
Here is a stripped version with only the flow of interest. Ntopng incorrectly reports a lost packet in this case. So there is actually a problem with the handling of keep-alive packets. Let's see what @lucaderi and @simonemainardi suggest about this.

[keep_alive.zip](https://github.com/ntop/ntopng/files/1842420/keep_alive.zip)

![screenshot](https://user-images.githubusercontent.com/5488003/37840

[2018-03-24 22:14] darox opened #1712 "Grafana Plugin"
I'm running the latest version of Ntopng on a Ubuntu 16.04 server and wanted to setup the ntopng grafana plugin according to this manual: https://www.ntop.org/ntopng/ntopng-grafana-integration-the-beauty-of-data-visualizazion/
But it seems like this is not working anymore. The plugin seems to be missing on the Ntopng side resulting in: Page "/lua/modules/grafana." was not found

Anyone also recogn

[2018-03-25 19:43] asadowskygithub opened #1713 "add an application"
Can you please add Connectwise control remote    TCP port 8041 as an application

[2018-03-26 08:26] emanuele-f commented on #1713
Hi, please check out https://www.ntop.org/ndpi/configuring-ndpi-for-custom-protocol-detection/ and the ntopng option:
```[--ndpi-protocols|-p] <file>.protos | Specify a nDPI protocol file```

[2018-03-26 08:26] #1713 closed, assigned to nobody

[2018-03-26 08:30] emanuele-f commented on #1712
Maybe the URL is `/lua/modules/grafana/index.lua` ?

[2018-03-26 13:33] darox commented on #1712
Unfortuantely not, there's nothing from grafana at all.. :(

[2018-03-26 15:19] plus-24 commented on #1705
Test on other centos 7with these releases:
ntopng.x86_64                          3.2.180314-3702                @ntop
ntopng-data.noarch                     3.2.180314-3702                @ntop-noarch

ntopng runtime status show:
26/Mar/2018 17:10:06 [MySQLDB.cpp:370] MySQL schema update. Altering table flowsv6: changing the number of partitions to 8.
26/Mar/2018 17:10:06 [MySQLDB.cpp:370] MySQL

[2018-03-26 15:30] plus-24 commented on #1705
sorry my mistake
the user doesn't have rights to alter db
thank you for your precious time

[2018-03-26 16:32] adargenio opened #1714 "Into the syslog messages add host information in the HREF items to allow 3rd party to access"
Would be possible to add into the syslog message like these:

Mar 19 08:15:12 monit ntopng: [Alert] Flow emitted during alerted interface:  HREF='<B>http://ntopng.myserver.com:3000</B>/lua/host_details.lua?host=192.168.20.34&ifid=2&page=alerts'>192.168.20.34 &gt; HREF='<B>http://ntopng.myserver.com:3000</B>/lua/host_details.lua?host=39.41.215.66&ifid=2&page=alerts'>39.41.215.66 [TCP 192.168.20.34:

[2018-03-27 07:50] emanuele-f commented on #1705
Thank you for reporting!

[2018-03-27 07:50] #1705 closed, assigned to simonemainardi

[2018-03-27 09:00] tomerr-tradair commented on #1711
Hi, any chance to get this fixed soon?

[2018-03-27 09:02] #1710 closed, assigned to nobody

[2018-03-27 09:06] simonemainardi opened #1715 "Alerts generation toggle causes unexpected behaviors"
where there are alerts engaged as

![image](https://user-images.githubusercontent.com/3397663/37957127-796e4622-31ad-11e8-99bb-db15a8e5166d.png)

toggling them off using the preference switch is ineffective:
![image](https://user-images.githubusercontent.com/3397663/37957170-8ef2c72a-31ad-11e8-9a49-0247e77c2606.png)

the badge in the footer is hidden but:

1. all the engaged alerts re-appear immed

[2018-03-27 09:10] emanuele-f commented on #1704
So this is definetely caused by an upgrade issue. You shouldn't  install systemd by yourself. The post https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=830722 suggests to run `apt-get install systemd-sysv`, maybe it can help you.

[2018-03-27 09:10] #1704 closed, assigned to nobody

[2018-03-27 09:11] emanuele-f commented on #1703
@LSET2014 any update?

[2018-03-27 09:12] emanuele-f commented on #1698
Closing for inactivity.

[2018-03-27 09:12] #1698 closed, assigned to nobody

[2018-03-27 09:12] emanuele-f commented on #1697
Closing for inactivity.

[2018-03-27 09:12] #1697 closed, assigned to nobody

[2018-03-27 09:15] emanuele-f commented on #1674
No further feedback received, I'm closing the issue for now.

[2018-03-27 09:15] #1674 closed, assigned to emanuele-f

[2018-03-27 09:29] emanuele-f opened #1716 "Add the SameSite cookie option to protect against cross-origin"
https://www.owasp.org/index.php/SameSite

The `session` and `user` cookies should have the SameSite set to strict .

[2018-03-27 11:00] QuentinBibas opened #1717 "dashboard not working with "many interfaces" view"
Hi,

so, context :
i'm trying to monitor an ESX farm consisting of 12 hosts.
each host was deployed with a small ntopng VM mainly for probing, and some direct access in case it's needed (community ed)

each VM send its results to a main central ntopng server
the server also monitor a physical network TAP on 2 of its 1Gb NIC
the server conf file looks like this :

[code]

the view:eno3,eno4 works f

[2018-03-27 12:16] QuentinBibas commented on #1717
the view interface that doesn't work in the dashboard seems to be properly recognized by ntopng :
![image](https://user-images.githubusercontent.com/34896282/37966641-71aad506-31c9-11e8-8b4b-8d72cd1c37ac.png)

![image](https://user-images.githubusercontent.com/34896282/37966608-5973aa80-31c9-11e8-8597-018639851340.png)

[2018-03-27 13:21] emanuele-f commented on #1706
With 3a1728414dcfc4eecccf14f3d982b83ea2ba1771 login redirection is forced when session expires. This solves page breaking issues (this is likely your case) which are caused by login page html being inserted into the webpage. A new package will be available in one hour. Please check it out.

[2018-03-27 16:23] malvivent7 opened #1718 "ZC mode on ubuntu/debian box"
I have enabled zc for my capturing interface on ntopng but i'm completely stuck on starting ntopng in zc mode; my ntopng.conf is below:
-x=600000
-X=600000
-w=3000
-W=0
-g=-1
-m="192.168...."
-d=/storage/ntopng
-G=/var/run/ntopng.pid
-i=zc:eno1
-U=nobody
--community

i have also checked with this command my interfaces:
cat /proc/net/pf_ring/dev/eno1/info
Name:         eno1
Index:        2
Address:

[2018-03-27 20:27] LSET2014 commented on #1703
Hello
Yes. I get data from the networks.
but when I run the command line "nprobe /etc/nprobe/nprobe.conf" everything works fine, but after about 5 minutes it stops working, the process is finished and no more flows are captured.
I do not know how to do so that when I start ubuntu server, nprobe also starts.
I explain?
Thank you.

[2018-03-28 09:14] emanuele-f commented on #1703
Can you post a log of nprobe after it stops?
You can enable nprobe automatic startup with `systemctl enable nprobe`.

[2018-03-28 19:22] lucaderi commented on #1718
@malvivent7 Have you loaded the ZC driver? I don't think so looking at the /proc output. Please see http://www.ntop.org/guides/pf_ring/zc.html

[2018-03-28 19:22] #1718 closed, assigned to nobody

[2018-03-28 19:25] lucaderi opened #1719 "Implement OAUTH/SAML Support"
ntopng LDAP user authentication needs to be complemented with more modern OAUTH/SAML protocol support as provided by toolkits such as keycloak.org

[2018-03-28 19:28] lucaderi opened #1720 "Implement Limited Information Access"
Privacy and GDPR demand limited information access. It is requested to implement top talkers in terms of sessions/pps/bw without allowing that role to see specifically what things someone is doing for privacy reasons (i.e. no external IPs, just ASs/traffic type/DPIetc)

[2018-03-29 14:01] ummeegge opened #1721 "/usr/bin/ld: cannot find -l/usr/lib/libz.a"
Dear community,
have currently a problem to build ntopng on 32bit systems only whereby the build breaks up with a

[code]

ZLIB is presant:
[code]

my environment is a IPFire platform which is based on LFS Linux. This problem occurs since the last IPFire update --> https://planet.ipfire.org/post/ipfire-2-19-core-update-119-is-available-for-testing whereby GCC-7.3.0 has been updated (incl. retpolin

[2018-03-29 14:32] simonemainardi commented on #1721
the linker is trying to use (and cannot find) file `/usr/lib/libz.a` (see the error `/usr/bin/ld: cannot find -l/usr/lib/libz.a`).

Make sure `libz.a` is located in a path that is used by the linker to actually link (LD_LIBRARY_PATH). You claimed zlib is present but you searched for it in a non-standard `build/` directory which the linker doesn't know about.

[2018-03-29 14:32] #1721 closed, assigned to nobody

[2018-03-29 15:20] simonemainardi commented on #1709
any news?

[2018-03-29 22:07] pshute commented on #1706
Still happening!
![screenshot-2018-3-30 welcome to ntopng](https://user-images.githubusercontent.com/1063441/38115885-80d20040-33f9-11e8-9b6b-4bd65084dec8.png)

[2018-03-30 03:25] KD22110 opened #1722 "Unable to add pro license to ntopng on pfsense"
When I go into About, under License it only shows License  GNU GPLv3

Info such as...
EULA [ SystemId: XXXXXXXXXXXXXXXXX  ]
Click on the above URL to generate your professional version license, or
purchase a license at e-shop. If you are no-profit, research or an education
institution please read this.
"
...is completely missing as is the field to enter the license.

[2018-03-30 09:01] emanuele-f commented on #1722
Do you already have a demo license installed? If so, please add the `--community` option, insert the new license, and then remote the `--community`.

[2018-03-30 09:08] simonemainardi commented on #1722
ntopng on pfsense is purely opensource and does not contain any commercially-licensed part. If you are interested in getting a pro/enterprise, please refer to http://packages.ntop.org  that lists the supported OSes and corresponding binary packages.

[2018-03-30 09:08] #1722 closed, assigned to nobody

[2018-03-30 09:10] emanuele-f commented on #1706
This is weird. Please do the following:

- Add the `--disable-autologout` to your options temporarily. This way we will know if that's related to the session expiration
- When you experience the issue again, post a screenshot of the developer console, of both the console page and web cookies page

I think this is not related to session expiration because in that case just refreshing the page would

[2018-03-30 11:37] simonemainardi commented on #1706
also make sure all the browser extensions are disabled

[2018-03-30 13:58] emanuele-f commented on #1715
Fixed in 89cb18d29c15f200ee7d2f0b3a68cf5b4b1e8672

[2018-03-30 13:58] #1715 closed, assigned to emanuele-f

[2018-03-30 16:19] simonemainardi commented on #1711
keepalive stats are implemented and available in the latest dev. Flows and Hosts now have a counter for keepalive packets that are no longer categorized as lost.

![image](https://user-images.githubusercontent.com/3397663/38144024-644500d6-3443-11e8-89c2-6d3c0b561926.png)

![image](https://user-images.githubusercontent.com/3397663/38144090-b31d012c-3443-11e8-88d3-68f742b6de86.png)

[2018-03-30 16:19] #1711 closed, assigned to nobody

[2018-03-30 17:02] emanuele-f opened #1723 "Enable Flow Alerts generates a huge amount of alerts"
The `Enable Flow Alerts` option, when enabled and interface is alerted, generates a huge amount of alerts of type interface_alerted, one for every flow. A casual user may enable all the alert switches just to try what they do, and this would result the described explosion of alerts.

Maybe we should remove such an alert?

[2018-03-30 17:31] ummeegge commented on #1721
Thanks you for your fast feedback,
the build environment is chrooted to build, since i listed the lib outside of the chroot it looks like this is no standard path but in fact while building process it is, sorry for the confusion.

Am currently not sure where the problem is so i thought i ask in here if someone have may similar problems under the above described scenario or even an idea but i can n

[2018-03-30 20:46] Eagle334 opened #1724 "ntopng : Dépend: ntopng-data (= 2.2+dfsg1-1build1) mais 3.2.180330 devra être installé"
Help please.
I try the procedure for 16.04 LTS :
    wget http://apt-stable.ntop.org/16.04/all/apt-ntop-stable.deb
    dpkg -i apt-ntop-stable.deb
clean all, update, but when i want to install ntopng, he says that ntopng needs a ntopng-data that is not compliant with the one that will be installed (3.2.180330).
if i do an apt-get install ntopng-data, the 3.2.180330 is installed.
But how can i inst

[2018-03-30 22:00] nate-byrnes opened #1725 "latest ntopng segfaulting"
I just upgraded to 'ntopng Professional Edition v.3.3.180326' and now it seems ntopng will only run for a few hours before segfaulting. The only message I get is in dmesg:

[41821400.999000] ntopng[2359]: segfault at 30000000b ip 00007fbb63fdd196 sp 00007ffd64fb6a10 error 4 in libc-2.19.so[7fbb63f5e000+1be000]

What other info should I provide? I haven't upgraded for 6 months, and the prior versio

[2018-03-31 13:25] Eagle334 commented on #1724
My Ubuntu version:
[code]

[2018-04-01 23:32] error420 opened #1727 "Ntopng Embedded Edition v.3.3.180131 not reporting traffic properly"
Ntopng seems to pick up all my local devices but the flow is completely wrong. Running  version 3.3.180131 on Raspberry Pi 3. I have been streaming all day and the max traffic it picks up is 35MB total. My router DDWRT shows over 31 Mbps constantly going out yet Ntopng shows zero bps and a lot of upload traffic. The most noisy traffic on the network are the ntopng server (raspberry pi) and the mac

[2018-04-02 18:10] JasonMarkowitz opened #1728 "Unable to compile from GIT on OpenBSD"
OS: Openbsd 6.1

[code]

[2018-04-02 18:57] ghost commented on #1687
Hello.

I updated my ntopng this morning and I'm facing again the same issue. Should I open a new ticket or that one can be reopened?

Thank you in advance.

[2018-04-02 19:46] ghost opened #1729 "Problem with Cisco ASA and nTopNG"
Hello,

I try to configure my Cisco router with nProbe/nTopNG.

My configuration is the following:
Cisco router --> nProbe (linux) --> nTopNG (Linux)

Cisco conf:
flow-export destination inside 192.168.111.30 2055 <-- this the nProbe's IP address with the port
flow-export template timeout-rate 1
flow-export delay flow-create 15

Flow export v9 is enabled for main cache
  Export source and destinat

[2018-04-03 07:36] emanuele-f commented on #1724
Hi, what's the output of `apt-cache show ntopng` and `apt-cache policy ntopng`?

[2018-04-03 07:46] emanuele-f commented on #1727
Hi, probably your raspberry pi does not have visibility on your whole network traffic, but only on its own traffic. In a home network, you can easily achieve visibility in one of the following ways:

- ARP spoof the router IP with the raspberry mac address
- By setting the DHCP gateway option to your raspberry IP address

Please note that the ideal way would be to put the raspberry in bridge mode

[2018-04-03 07:54] emanuele-f commented on #1725
Hi, if possible please run ntopng through the gdb debugger: you can do this by stopping ntopng with `sudo systemctl stop ntopng` and then run it with `sudo gdb --args ntopng /etc/ntopng/ntopng.conf` then type "run". After the crash, please send the stack trace with the `bt` gdb command

[2018-04-03 08:10] emanuele-f commented on #1687
@jozatan, what ntopng version are you using? Please post the output of `ntopng -V`

I've just tested latest dev and stable versions and they work correcly for me.

[2018-04-03 08:53] emanuele-f commented on #1687
Private email received: this is a maintenance expiration issue.

[2018-04-03 08:53] #1687 closed, assigned to lucaderi

[2018-04-03 08:57] emanuele-f commented on #1728
Hi, I've committed a fix to include ifaddrs.h 9889c291ccf3c8a7f8b3408a4e8bdfdb4e958517 . Can you retry compilation?

[2018-04-03 13:00] fsamareanu opened #1730 "Switching license type after purchase"
Hello,

I bought the ARM PRO version of ntopng and I want to switch to an Intel box. Is there an option to pay for a license upgrade?
I tried mailing your info e-mail address but there was no reply.

Thank you

[2018-04-03 13:23] nate-byrnes commented on #1725
Here is the back trace:

03/Apr/2018 08:57:10 [Ntop.cpp:721] Adding fe80::215:17ff:fe9c:1136/128 as
IPv6 interface address for eth5
03/Apr/2018 08:57:10 [Ntop.cpp:730] Adding fe80::215:17ff:fe9c:1136/64 as
IPv6 local network for eth5
[New Thread 0x7fffe5ffb700 (LWP 10095)]
[New Thread 0x7fffe57fa700 (LWP 10096)]
03/Apr/2018 08:57:10 [PeriodicActivities.cpp:59] Started periodic
activities loop...
[

[2018-04-03 13:34] JasonMarkowitz commented on #1728
Compilation succeeds there but fails on a subsequent step:
`
g++  src/SNMP.o  src/Ntop.o  src/nDPIStats.o  src/ProtoStats.o  src/HTTPBL.o  src/AddressList.o  src/ThreadedActivity.o  src/DivertInterface.o  src/Checkpointable.o  src/Lua.o  src/VirtualHostHash.o  src/NetworkDiscovery.o  src/AddressTree.o  src/NetworkInterface.o  src/FrequentNumericItems.o  src/RwLock.o  src/HostPools.o  src/GenericTr

[2018-04-03 14:58] QuentinBibas commented on #1717
no answer in 7 days

is what i want to achieve possible ?
is there an other way to have the same result ?

[2018-04-03 16:08] simonemainardi commented on #1730
Please,  fill the form at: https://www.ntop.org/support/need-help-2/contact-us/. Add the order id of the purchase and you will receive instructions.

[2018-04-03 16:08] #1730 closed, assigned to nobody

[2018-04-03 18:54] emanuele-f commented on #1729
Hi, there is a typo into the ntopng configuration, please replace `-interface` with `--interface`

[2018-04-03 20:50] #1725 closed, assigned to nobody

[2018-04-04 06:14] fsamareanu opened #1731 "Invalid hostname value when checking Top local talkers"
Hello,

The hostname in top local talkers seems to be wrong. There is a reverse DNS entry for the IP address though, resolvable from the host running ntopng:

fsamareanu@XXX:~$ host 192.168.1.10
10.1.168.192.in-addr.arpa domain name pointer livingroom-shield.local.lan.

Details of host running ntopng:

Linux XXX.local.lan 4.14.30-v7+ #1102 SMP Mon Mar 26 16:45:49 BST 2018 armv7l GNU/Linux
ii  ntop

[2018-04-04 09:57] emanuele-f commented on #1728
This should not be related to ntopng iteself. Have you manually compiled x11 / gtk perhaps?

[2018-04-04 10:02] emanuele-f commented on #1714
Maybe it's better to remove the html in syslog at all...

[2018-04-04 10:09] lucaderi commented on #1723
Please disable "flow emitted while interface alerted" as this is probably the cause of the issue.

[2018-04-04 10:55] #1723 closed, assigned to nobody

[2018-04-04 14:01] #1717 closed, assigned to nobody

[2018-04-04 14:06] simonemainardi commented on #1717
Thanks for reporting. Issue was due to the very long interface name used for the view and is now fixed. We have also better handled long interface names also in the web interface.

Changes will be available in the next ntopng dev build.

[2018-04-04 14:11] QuentinBibas commented on #1717
thanks

ETA for the patch on stable ?

[2018-04-04 14:22] simonemainardi commented on #1717
1 week

[2018-04-04 14:25] JasonMarkowitz commented on #1728
Added `-L/usr/X11R6/lib` to Makefile under NLIBS variable and it compiled cleanly.
Can this be added to configure?

Thank you.

[2018-04-04 16:10] emanuele-f commented on #1728
@JasonMarkowitz the X11 dependency is pulled by librrd. Have you manually compiled librrd ?

[2018-04-04 16:52] fsamareanu opened #1732 "URL issues with SNMP Devices"
Hello,
ntopng version:

v.3.3.180404	[Enterprise/Professional build]

ntopng setting:

--http-prefix="/ntopng"

Steps to reproduce:

Click Devices -> SNMP -> Click SNMP device graph icon under Chart tab -> Notice the url opened contains /ntopng.

Now from the timeseries dropdown select a switch port (in my case it's a snmp enabled switch). Notice the URL is now /lua/pro/enterprise (missing the pre

[2018-04-04 17:20] JasonMarkowitz commented on #1728
I did not, but it compiles properly when specifying the library path. librrd is pulled from openbsd's standard packages.

[2018-04-04 19:07] juesor opened #1733 "ntopng mysqldb errors"
I was checking syslog messages this morning and noticed that ntopng started sending errors to the tune of  864,430 messages since midnight last night.

Apr  4 13:52:34 ntopng ntopng: [BatchedMySQLDB.cpp:252] ERROR: MySQL error: Out of range value for column 'idx' at row 1 [rc=-1]
Apr  4 13:52:34 ntopng ntopng: 04/Apr/2018 13:52:34 [MySQLDB.cpp:669] Disconnected from MySQL for interface tcp://108.5

[2018-04-05 05:38] Eagle334 commented on #1724
Hello emanuele-f, here about your request :
[code]
[code]

[2018-04-05 08:04] simonemainardi commented on #1728
I don't think we should explicitly add path `-L/usr/X11R6/lib`:
- hard-coding paths is not a good idea
- the path is clearly related to the X11 windows system.

We already have part of the Makefile that is designed to opportunely print the libraries that are necessary to librrdtool:https://github.com/ntop/ntopng/blob/dev/Makefile.in#L41

[code]

As you have librrd installed with the distro you sho

[2018-04-05 08:04] #1728 closed, assigned to nobody

[2018-04-05 09:04] emanuele-f commented on #1732
Fixed. The fix will be available in the new package. Thank you for reporting

[2018-04-05 09:04] #1732 closed, assigned to nobody

[2018-04-05 09:07] emanuele-f commented on #1724
It seems like the new ntopng repo has not been loaded correctly. Please run `apt-get update`

[2018-04-05 12:57] fsamareanu opened #1734 "Unable to add pfsense as monitored snmp device"
Hello,

I'm trying to add pfsense as snmp device but I get this:

No answer from host 192.168.1.1: please check that SNMP is up and the community is set to the correct value.

Parameters used: community, v1

snmpwalk works when ran from the same host:

root@nuc:~# snmpwalk -c s3cr3t 192.168.1.1 -v1|head -1
iso.3.6.1.2.1.1.1.0 = STRING: "pfSense oinky-pfsense.local.lan 2.4.3-RELEASE pfSense FreeBSD

[2018-04-05 15:32] hytek3000 opened #1735 "SNMP Switch not populating Port MAC"
We are on an Enterprise trial, and none of our SNMP devices are showing up with the Port MACs. All of our switches are Cisco (2xxx, 3xxx, SGx00, Nexus 3k, etc), and SNMP is working. We are also using Solarwinds, and through SNMP under Solarwinds we are able to pull the connected Port MACs.

Any thoughts to why none of the Port MACs are showing up?

![versionntop](https://user-images.githubusercont

[2018-04-05 18:38] ghost opened #1736 "HTTPS instructions for Windows?"
I am hoping someone can help me get HTTPS setup using windows.  Is is almost the same process as doing it on linux? I am not too familiar generating certificates on Windows but can try.

Don't need detailed instructions, just some general pointers to make sure I am going the right way :)

[2018-04-05 18:51] Eagle334 commented on #1724
I just do this today:
[code]
`sudo dpkg --remove apt-ntop`
returns : Suppression de apt-ntop (2.5-505) ..
no ntop* in /etc/apt/sources.list.d

My sources.list (without comment)
[code]

sudo apt-get clean all
sudo apt-get update

I think i cannot install ntopng in this situation because no ntop information on my sourcelist.
But i test it:
[code]

I don't understand why it works without the part des

[2018-04-05 18:54] Eagle334 commented on #1724
On the NTOP web interface, i have the message :  _A new ntopng (v.3.2.0) is available for download: please upgrade._
How to have it automatically throw apt-get upgrade ?

I do:
[code]

`sudo apt-get clean all`

[code]
[code]

apt upgrade does not allow the update :-(

[2018-04-06 01:14] kwunyinhui opened #1737 "Historical Data Explorer Issue"
Dears,

I am trying to review the historical flow data for last 7 days.
But there is no any search result from Historical Data Explorer.
I have configured store 7 days log to SQL. I am not sure is it correct setting or not?

![111](https://user-images.githubusercontent.com/37438134/38399118-e2c6412e-3937-11e8-9cf4-9ada90de9183.png)
![222](https://user-images.githubusercontent.com/37438134/38399120

[2018-04-06 08:55] emanuele-f commented on #1736
You could generate the pem certificate on linux if that's a problem. Just search on the web if you want to go with windows certificate generation.

[2018-04-06 09:03] QuentinBibas commented on #1737
By any chance, does your network have VLAN tags ?
If yes, you need to click on "id" : if you leave the field empty, you'll see every VLAN tagged packet
if you enter a VLAN ID, then you'll only see the packets from that VLAN

[2018-04-06 09:44] emanuele-f commented on #1734
Hi, what ntopng version are you using (ntopng --version)?

[2018-04-06 09:46] fsamareanu commented on #1734
Hello,

Latest dev on Ubuntu.

[2018-04-06 09:47] fsamareanu commented on #1734
3.3.180405

[2018-04-06 10:03] lucaderi commented on #1735
We need to implement a different policy as Cisco switches need community@VLAN and a different OID needs to be polled. Stay tuned.

[2018-04-06 10:16] comuelnf opened #1738 "Cannot validate license when SystemID changed"
Hi ,

we moved several ntop/nprobe VMs from ESxi 5.5 to ESXi 6.5 and systemID changed because vmware hardware version up  from 8 to 10.
I used this URL (https://shop.ntop.org/reset_order_licenses.html) to retire order licenses (NTOP + NPROBE) but i have this message :

"Order found but you have already retired this order 1 times: it is time to place a new order."

Effectively, i used this url one

[2018-04-06 10:42] emanuele-f commented on #1734
Can you please post a screenshot of the page with the options you use to add your SNMP device?

[2018-04-06 10:43] emanuele-f commented on #1738
Please contact us privately for license stuff. http://www.ntop.org/support/need-help-2/contact-us/

[2018-04-06 10:43] #1738 closed, assigned to nobody

[2018-04-06 10:44] #1736 closed, assigned to nobody

[2018-04-06 11:13] lucaderi commented on #1735
Fixed in the dev (unstable) build. Will be included in the next stable. Please use the dev version for testing (will be available within 30 mins from now). Please reopen this issue if necessary.

[2018-04-06 11:13] #1735 closed, assigned to lucaderi

[2018-04-06 11:17] lucaderi commented on #1731
ntopng learns names using protocols such as SMB, MDNS, SSDP... Can you please verify if such device is also advertising the string you have reported in this issue?

[2018-04-06 12:03] fsamareanu commented on #1734
![screenshot_20180406-160132_chrome](https://user-images.githubusercontent.com/38040820/38420199-08e48092-39b4-11e8-9848-bec3dab5a9b9.jpg)

[2018-04-06 12:08] emanuele-f commented on #1734
What's the output of `snmpwalk -v1 -c s3cr3t 192.168.1.1 1.3.6.1.2.1.1.5.0` ?

[2018-04-06 12:13] fsamareanu commented on #1731
Hello,

On a first glance, it doesn't. Also my Samsung S8 is identified as connectsdk while it's name is Galaxy S8.

[2018-04-06 12:22] fsamareanu commented on #1734
root@nuc:~# snmpwalk -v1 -c s3cr3t 192.168.1.1 1.3.6.1.2.1.1.5.0
iso.3.6.1.2.1.1.5.0 = STRING: "oinky-pfsense.local.lan"

[2018-04-06 12:39] juesor commented on #1733
Do you need anymore information?

[2018-04-06 18:41] fsamareanu opened #1739 "URL issues, related to #1732"
Hello,

Latest dev, related to https://github.com/ntop/ntopng/issues/1732.

Steps to reproduce: Settings - toggle expert view - enter SMTP in search box and click the returned link. It ignores the http prefix set in config file.

[2018-04-07 01:45] error420 commented on #1727
Ok thank you. Ordered a USB nic for the PI to try bridge mode. I'm excited to see the results.

[2018-04-08 08:02] fsamareanu opened #1740 "High CPU/Memory usage with Microsoft Edge"
Hello,

If you keep a window open for a long time (this one's been open for 2 days) the following happens when using Microsoft Edge:

![image](https://user-images.githubusercontent.com/38040820/38464781-72c0f038-3b24-11e8-809b-2708b6fb5084.png)

ntopng version is 3.3.180408-4258.

Then the window reloads and memory usage goes back to a more reasonable 500MB.

This is a separate window not a new ta

[2018-04-09 01:22] kwunyinhui commented on #1737
Thanks for your information. unfortunately seems it is not related to VLAN tag issue.
I tired to select the ID, but it still do not have any information.

[2018-04-09 06:00] juesor commented on #1733
Ok so messages grew to 30G due to ntopng log errors.

I'm guessing my tables index is out of allowed range.

ERROR: MySQL error: Out of range value for column 'idx' at row 1 [rc=-1]

Traction on this ?

[2018-04-09 07:42] inetactief opened #1741 "nprobe's stop working"
Hi,

We use 3.3.180409 - Professional Edition and the nprobe's stop working.  When we start it again, it works but not for long.

We start the 6 nprobe's like this :
nprobe --zmq "tcp://*:5561" -i none -n none --collector-port 2061 2>&1 >/dev/null &

Best regards,
Michel

[2018-04-09 13:06] emanuele-f commented on #1741
Hi, please open a new issue here: https://github.com/ntop/nProbe .
Please also specify the operating system used.

[2018-04-09 13:06] #1741 closed, assigned to nobody

[2018-04-09 13:08] emanuele-f commented on #1740
Hi, can you please verify the issue with another browser (firefox/chrome) to see if this is inherent to Microsoft Edge only?

[2018-04-09 13:09] emanuele-f commented on #1737
@kwunyinhui can you provide web access to your server? If so, please send me the credentials at faranda@ntop.org

[2018-04-09 13:18] emanuele-f commented on #1724
Do you have `/etc/apt/sources.list.d/ntop.list`? What's its contents? Please also post the output of `apt-get update`

[2018-04-09 13:20] emanuele-f commented on #1727
Right choice!

[2018-04-09 13:20] #1727 closed, assigned to nobody

[2018-04-09 13:31] #1739 closed, assigned to nobody

[2018-04-09 13:32] emanuele-f commented on #1739
Thank you!

[2018-04-09 14:29] emanuele-f commented on #1734
What about this query? `snmpwalk -v1 -c s3cr3t 192.168.1.1 1.3.6.1.2.1.17` . Please also post the output of `tcpdump -ne udp port 169` while adding your SNMP device from the gui

Edit: sorry, port 161: `tcpdump -ne udp port 161`

[2018-04-09 14:30] emanuele-f commented on #1729
@cepsum have you solved the issue?

[2018-04-09 14:51] fsamareanu commented on #1740
It's edge only. Chrome doesn't have the issue.

[2018-04-09 18:59] fsamareanu commented on #1734
The query doesn't return anything. Tcpdump output below (asuming you wanted to intercept snmp traffic on port 161):

23:05:29.659509 94:c6:91:17:20:d0 > 00:0e:c4:d1:d2:4a, ethertype IPv4 (0x0800), length 94: 192.168.1.7.43372 > 192.168.1.1.161:  C="s3cr3t" GetRequest(34)  .1.3.6.1.2.1.1.5.0

On the same host i have a cacti instance monitoring pfsense just fine.

[2018-04-10 05:33] fsamareanu commented on #1734
Hello,

Here's both a snmpwalk and a request through GUI:

root@nuc:~# tcpdump -i eno1 -ne udp port 161 and host 192.168.1.1
tcpdump: verbose output suppressed, use -v or -vv for full protocol decode
listening on eno1, link-type EN10MB (Ethernet), capture size 262144 bytes

--Here i did a snmpwalk

09:31:35.192913 94:c6:91:17:20:d0 > 00:0e:c4:d1:d2:4a, ethertype IPv4 (0x0800), length 85: 192.168.1

[2018-04-10 06:02] fsamareanu commented on #1734
Ok so i decided to call it quits and replaced the ancient standard snmp daemon running on pfsense with net-snmp package and this one works. Do you want to continue troubleshooting this (I have no issues doing tests if required)?

[2018-04-10 07:42] david-bla opened #1742 "prerequisites"
Would it be possible for you to create a prerequisites list?
If you just try to follow https://www.ntop.org/get-started/download/ on a fresh system (in my case debian 4.9) I've to try the mentioned steps and install prerequisites for every error message.

Best Regards

[2018-04-10 07:55] david-bla commented on #1742
I just found https://github.com/ntop/ntopng/blob/dev/doc/README.compilation and all other DOCs.. great - maybe link that

[2018-04-10 07:55] #1742 closed, assigned to nobody

[2018-04-10 08:18] kwunyinhui commented on #1737
@emanuele-f Thanks for your help. But the server is not allowed remote access.
I can collect some information to you if you need.

[2018-04-10 10:41] zxyz commented on #1712
Hello, I'm running ntopng 3.2.180407 (installed from epel) on centos 7 and I have the same problem (page not found). Adding `index.lua` results in `{"status": "OK"}` being displayed in a browser, but still an error in grafana.

[2018-04-10 14:16] emanuele-f commented on #1734
It would be great if you could test it on the old deamon. So you don't get a "GetResponse" to the "GetRequest" on `1.3.6.1.2.1.1.5.0` when you add the device from the gui, but you get that response while you run snmpwalk manually?

[2018-04-10 14:44] fsamareanu commented on #1734
That seems to be the case, yes. If required I can provide remote access to the environment.

[2018-04-10 14:47] emanuele-f commented on #1740
Hi, thank you for your test. On the web I can find many `microsoft edge leak` or `microsoft edge svg leak` posts, I think there is little we can do.

[2018-04-10 14:53] emanuele-f commented on #1734
Thank you. Can you produce two pcap files, one with the SNMP traffic generated by manual snmp walk and another with traffic while adding the device from the ntopng gui and send me at faranda@ntop.org ?

[2018-04-10 15:18] fsamareanu commented on #1740
Closing this based on previous comment.

[2018-04-10 15:18] #1740 closed, assigned to nobody

[2018-04-10 19:21] Eagle334 commented on #1724
[code]
My full apt update:
[code]

[2018-04-11 09:39] simonemainardi commented on #1724
Do:

[code]

[2018-04-11 12:40] simonemainardi commented on #1712
tested both with grafana 4.x and 5.x. Works as expected. Make sure to have a trailing slash at the end of the URL, `http://devel:3001/lua/modules/grafana/`

![image](https://user-images.githubusercontent.com/3397663/38609441-6270681a-3d7e-11e8-83bb-25f6aaf0bc27.png)

![image](https://user-images.githubusercontent.com/3397663/38616983-13f52ffa-3d96-11e8-9875-38d87bc8ceda.png)

[2018-04-11 12:44] darox commented on #1712
@simonemainardi Which version of ntopng on which system?

[2018-04-11 12:45] Eagle334 commented on #1724
**sudo apt-get --purge remove ntopng-data**
[code]
**sudo apt-get update**
[code]
**sudo apt-get install ntopng**
[code]

[2018-04-11 13:10] simonemainardi commented on #1724
it looks like your system is trying to install the ntopng community package rather than the one shipped with apt-ntop.

let's try with this:
[code]

Then try again with the instructions at: http://packages.ntop.org/apt/

Finally, if it still fails, show the output of `apt-cache show ntopng`

[2018-04-11 13:15] simonemainardi commented on #1712
[code]

and
[code]

[2018-04-11 13:20] simonemainardi commented on #1737
@QuentinBibas

- what is the full ntopng configuration used?

- If you manually browse the MySQL database, do you see the flows?

- is the first/last switched timestamp of flows in-sync with the system date and time?

- can you right-click on the historical data explorer page and open the browser inspector? do you see any errors there?

[2018-04-11 13:27] simonemainardi commented on #1733
@juesor your guess is correct, column 'idx' wrapped.

- stop ntopng

- manually log into mysql and convert `idx` columns to big unsigned integers. Note that this can take a lot of time.

[code]

- restart ntopng

[2018-04-11 13:27] #1733 closed, assigned to simonemainardi

[2018-04-11 13:59] emanuele-f commented on #1709
No feedback received, closing for inactivity

[2018-04-11 13:59] #1709 closed, assigned to nobody

[2018-04-11 14:00] emanuele-f commented on #1706
@pshute any news?

[2018-04-11 14:01] emanuele-f commented on #1703
Closing for inactivity. Please reopen if necessary.

[2018-04-11 14:01] #1703 closed, assigned to nobody

[2018-04-11 15:16] emanuele-f commented on #1707
@csammons0x1c can you post/send me your ntopng configuration along with some screenshots of your networks list page and the details page of a network which isn't working correctly?

[2018-04-11 15:21] Eagle334 commented on #1724
I try directly an install of ntopng after your last 5 lines. Ubuntu installs /ntopng_2.2+dfsg1-1build1_i386.deb + ntopng-data_2.2+dfsg1-1build1_all.deb. It seems to be the community version, an old one.
At this moment, we have:
**sudo apt-cache show ntopng**
[code]

Then I repeat the 5 commands (purge remove + clean + update) following by:
**wget http://apt.ntop.org/16.04/all/apt-ntop.deb**

**dpk

[2018-04-11 15:35] simonemainardi commented on #1724
it's not getting the packages regularly listed at `http://packages.ntop.org/apt/16.04/x64/Packages`

[code]

Indeed, it only shows the community ntopng.  Check your apt if you have pinned packages or you are preventing other repositories from being used.

[2018-04-11 15:57] Eagle334 commented on #1724
It's an Ubuntu server, so i'm using CLI. No idea where to check but i agree it's not a ntopng issue, but an apt issue.
Thanks for the support, I keep you in touch...

[2018-04-11 16:16] darox commented on #1712
I finally got it working on Pfsense and Ubuntu, it looks like Grafana was the problem. On Pfsense the access type within the settings in grafana has to be direct, for Ubuntu it's proxy. Somehow strange. I should also be noted, that some settings within ntopng has to be changed, to show all data in Grafana.
![bildschirmfoto 2018-04-11 um 18 12 54](https://user-images.githubusercontent.com/9934402/3

[2018-04-11 16:39] Eagle334 commented on #1724
No pinned package, and priority seems ok:
**sudo apt-cache policy**
[code]

[2018-04-11 16:44] Eagle334 commented on #1724
**sudo apt-cache policy ntopng**
[code]

If i well understand, when i have apt-ntop on my sources list directory, it should display a newer version and a path like http://packages.ntop.org/apt/16.04.

I remove http://fr.archive.ubuntu.com/ubuntu xenial/universe from my sources.list.
**sudo apt-cache policy ntopng**
`N: Impossible de trouver le paquet ntopng`

"apt-get update" displays
Atteint:10 h

[2018-04-11 16:58] emanuele-f commented on #1724
Finally we've got the error! You are using i386 architecture which is unsupported. We only package for x64 . However, you can build the ntopng community version by following these instructions: https://github.com/ntop/ntopng/tree/dev/doc

[2018-04-11 16:58] #1724 closed, assigned to emanuele-f

[2018-04-11 17:28] simonemainardi commented on #1712
Thanks for reporting!

By the way, I love your dashboard! Are you interested in trying and contribute it to the community?

[2018-04-11 18:08] csammons0x1c commented on #1707
My ntopng configuration is below.
[code]
Here is a screenshot of my network stats page:

![image](https://user-images.githubusercontent.com/37349041/38633727-2633b976-3d86-11e8-9f30-d244f980272c.png)
![image](https://user-images.githubusercontent.com/37349041/38634091-283abe4e-3d87-11e8-8100-665a32ff7dbb.png)

If I click on the graph icon for the 10.x.x.0/24 in the above image I get the following

[2018-04-11 18:30] darox commented on #1712
@simonemainardi Yes, I'll share the json. It's mainly consisting of telegraf data and various input plugins + Speeed Test CLI input.

Btw. are there any plans to add aditional metrics from ntopng? Like top hosts and things like that. Ntopng is great, but I would like to have anything in grafana.

[2018-04-11 22:04] error420 opened #1743 "ntopng -i bridge:br0,wlan0 ....... Is this possible?"
Hello Community. Does anyone know if the following command is possible? "ntopng -i bridge:br0,wlan0"

Here is the error:
------------------------------------------------------------------------------------------------------
root@RaspberryPi3:/home/pi# ntopng -i bridge:br0,wlan0
11/Apr/2018 17:57:33 [Ntop.cpp:1502] Setting local networks to 127.0.0.0/8
11/Apr/2018 17:57:33 [Redis.cpp:127] Successfu

[2018-04-12 06:02] fsamareanu commented on #1734
Done.

[2018-04-12 06:03] fsamareanu commented on #1743
Sorry to poke around but are you trying to bridge a bridge and another interface?

[2018-04-12 06:59] zxyz commented on #1712
the hint from @darox helped me: using `proxy` instead of `direct` solved the problem  -- whysoever.
more data from ntopng in grafana would be great! With the influxdb support which is, afaik, scheduled for the 3.4 release, this wish might be fullfilled :)

thanks @simonemainardi for the support!

[2018-04-12 07:53] darox commented on #1712
@zxyz That would be great, if influxdb input support is coming in ntopng 3.4, what's the eta for that?

[2018-04-12 08:20] lucaderi commented on #1712
Influx and prometeus support are in alpha and they will be part of the next 3.5.x series. The code is already in https://github.com/ntop/ntopng/blob/dev/src/TimeSeriesExporter.cpp but *no support will be provided until that release*.

[2018-04-12 08:26] darox commented on #1712
@lucaderi Damn amazing, I have to dig into this. Will defintely setup a staging environment for this.

EDIT: Whats the timeplan for 3.5?

[2018-04-12 09:39] QuentinBibas commented on #1737
@simonemainardi

I'm not the one with the problem ;)

[2018-04-12 10:10] QuentinBibas commented on #1717
update :

Still not working ATM, ntopng Enterprise Edition v.3.2.180410

![image](https://user-images.githubusercontent.com/34896282/38671130-d6fcdcfa-3e4a-11e8-9b96-67441d9df595.png)

whenever i exit this screen to get to the dashboard or even the Flows screen, another interface is selected (and the data is also from the other interface)

[2018-04-12 12:45] simonemainardi commented on #1717
release is not out yet. hold on a couple of days.

[2018-04-12 12:49] simonemainardi commented on #1737
@QuentinBibas sorry about that ;)

+@kwunyinhui

[2018-04-12 13:00] QuentinBibas commented on #1717
what version number should I be expecting (if already known) ?

[2018-04-12 14:29] Uzzi opened #1744 "Reset Licence"
Hi I had a debian server with Pro licence.
Now I've changed distro (Centos), I have to refresh licence on new server.
I've tryed, but my order id can generate only one licence.

How can I reactivate my licence on new server?

Regards

[2018-04-12 14:42] QuentinBibas commented on #1744
you should have one reset available if you didn't use it before.

have you tried http://shop.ntop.org/reset_order_licenses.html ?

another way could be to try the --online-license-check

[2018-04-12 14:50] error420 commented on #1743
Yes I am because the bridge shows all traffic going in and out but does not detect my local internal Network.

[2018-04-12 16:26] emanuele-f commented on #1717
I should be `3.2.2`

[2018-04-13 08:54] emanuele-f commented on #1743
Please explain what are you trying to implement. If you only want to monitor bridge traffic, you can just use `-i br0 -i wlan0`. Is wlan0 an AP maybe?

[2018-04-13 08:58] emanuele-f commented on #1744
@QuentinBibas excellent response, thank you!

[2018-04-13 08:58] #1744 closed, assigned to nobody

[2018-04-13 09:07] emanuele-f commented on #1712
@darox you can place the json under contrib directory and provide a pull request so that it will be available to other users and credits will be yours.

3.5 should be available in Q4 2018.

[2018-04-13 09:07] #1712 closed, assigned to simonemainardi

[2018-04-13 09:17] emanuele-f commented on #1731
@fsamareanu can you provide a pcap with `DHCP`, `MDNS` and/or `SSDP` traffic? In order to do so, please do the following:

1. disconnect your device from the network
2. run `sudo tcpdump -i your_lan_iface -s0 -w traffic.pcap port 67 or port 68 or host 239.255.255.250 or port 5353`
3. connect your device to the network and wait some time (e.g. 5 minutes)

[2018-04-13 09:19] fsamareanu commented on #1731
I'm using a port mirror on a managed switch. Does that make any difference?

[2018-04-13 09:24] kwunyinhui commented on #1737
@simonemainardi

Sorry for my late reply. Please find my comment here.

what is the full ntopng configuration used?
 => --interface="tcp://127.0.0.1:5556"
--local-networks="192.168.0.0/16"
--dns-mode=1
--dump-flows=mysql;localhost;ntopng;flows;root;xxxxxx
-X=100000
-x=3000

If you manually browse the MySQL database, do you see the flows?
 => I saw the record in flowsv4 table is keep increasing.

i

[2018-04-13 09:30] emanuele-f commented on #1731
No, that's the same. It's important to disconnect the phone device so that on reconnection it will generate new DHCP packets

[2018-04-13 09:41] darox commented on #1712
I've recognized another strange issue. The NTOPNG data source seems not working on my smart phone, but on the computer it's working just fine. The other data sources like influxdb are fine on pc and smartphone. Shall I open another issue?

[2018-04-13 09:43] emanuele-f commented on #1737
Can you try with chrome/firefox?

[2018-04-13 09:55] emanuele-f commented on #1712
Please open a separate issue. Please test it with some standard json (e.g. with only one chart).

[2018-04-13 10:31] kwunyinhui commented on #1737
@emanuele-f I cannot find any error message in Chrome. But there do not show any result.
![image](https://user-images.githubusercontent.com/37438134/38730370-ceaef1f6-3f48-11e8-828f-70a28aa3a60a.png)

[2018-04-13 12:54] emanuele-f commented on #1734
Thank you. I've analyzed the SNMP get-request packets and the only difference between them is the size of some fields, which are 1 byte size in snmpwalk requests while 4 bytes size in ntopng requests. As SNMP fields are correcly encoded in type,length,value by ntopng, I think there is probably a limitation on the ancient SNMP daemon you were using.

[2018-04-13 13:00] emanuele-f commented on #1706
Closing for inactivity

[2018-04-13 13:00] #1706 closed, assigned to nobody

[2018-04-13 13:11] simonemainardi commented on #1737
@kwunyinhui if you open the chrome inspector (as already done above), any console error should indicate a clickable file name (e.g., db_explorer.lua). A click on that file name should bring you to the part of the file that caused the issue. Can you please follow any error and post screenshots of the parts of the files that are causing the error? (Make sure to CTRL+SHIFT+R with the inspector open b

[2018-04-13 13:14] fsamareanu commented on #1734
I'll raise this with the pfsense folks. Although I have a workaround maybe it's a trivial fix.

[2018-04-13 14:35] juesor commented on #1733
Ok so i did that and my errors went away but this is odd now my info shows junk.

select * from flowsv4 limit 2\G
*************************** 1. row ***************************
                 idx: NULL
             VLAN_ID: 0
            L7_PROTO: 91
         IP_SRC_ADDR: 3494573660
         L4_SRC_PORT: 31540
         IP_DST_ADDR: 2712332341
         L4_DST_PORT: 443
            PROTOCOL: 6

[2018-04-13 15:58] fsamareanu commented on #1734
@emanuele-f I raised this under https://redmine.pfsense.org/issues/8460. Would you mind giving me your analysis so I can pass the message to pfsense developers?

[2018-04-13 18:29] juesor commented on #1672
Ok so not to piggy back on this trouble but look at both of my ntopng enterprise servers.

![image](https://user-images.githubusercontent.com/14931420/38751440-be6596a4-3f1d-11e8-8686-cdd0422cd18e.png)

I am waiting for an update to ntopng.  I was told they are optimizing the DB and moving away from mysql.  This i was told will help my dropped flows.

[2018-04-13 18:37] juesor commented on #1672
I forgot to put my second server.

![image](https://user-images.githubusercontent.com/14931420/38752132-bde3ec6a-3f1f-11e8-9869-8346cc15a407.png)

I was having issues getting nprobe to send traffic this afternoon and forgot i made a config change a while back.  But as you can see it's only up for 8 minutes and 1.8million dropped flows.

[2018-04-13 20:03] darox commented on #1712
@emanuele-f Made two pull requests, because I've created two seperate dashboards even with screenshots ;)

PS: Looking forward to the influxdb support.

[2018-04-14 00:57] error420 commented on #1743
That is exactly what I am doing ([Image A](https://ibb.co/jm5fcS)). What I want to implement is traffic monitoring that can see both the br0 AND my wlan0 interface. The current setup only allows me to see internet traffic on either br0 OR wlan0. From br0 interface, no hosts on my internal network are visible (Image B). Br0 = My service provider modem, Router, Raspberry Pi with two NICs, Switch ([I

[2018-04-15 06:34] fsamareanu commented on #1743
Is this what you need? My historical data is in a mysql DB:

![image](https://user-images.githubusercontent.com/38040820/38775633-98171dc0-4098-11e8-8d77-f7fe254a5505.png)

[2018-04-15 06:37] fsamareanu commented on #1743
Steps to get there: Click the graph icon in the host screen, select a different time interval (default is 1 hour I think), go to flows (this will query the DB for historical data), go to IPV4.

[2018-04-15 13:57] error420 commented on #1743
Yes, I want to see the same thing but mine does not have flows tab when I click graph icon [https://ibb.co/jWnaxS](https://ibb.co/jWnaxS)  . Maybe I have wrong version of ntopng? Does it matter which interface I select? br0 or wlan0? I see different information on each one. My wlan0 (local) does not show external servers. My raspberry pi (bridge) and router show all the top traffic. In the attache

[2018-04-15 13:59] error420 commented on #1743
[https://ibb.co/jWnaxS](url)

[2018-04-15 14:14] error420 commented on #1743
The client is always my modem when I monitor br0 and the servers show correctly.
My setup Comcast Modem >>> Br0nic1 >>>RaspberryPi>>>>Br0nic2>>>Router>>>Internal Switch>>>Additional Switch for range.

[2018-04-15 14:17] error420 commented on #1743
This is what my live traffic looks like while streaming amazon from an Amazon fire stick. It does not show the fire stick. Just the remote host and my cable modem. I can't wrap my head around why I cannot see my local IP + Destination connection.

<a href="https://ibb.co/ima647"><img src="https://preview.ibb.co/cMWeP7/igiveup.png" alt="igiveup" border="0"></a>

[2018-04-15 16:27] fsamareanu commented on #1743
Your setup is different than mine (I use a mirror port on my managed switch from the local interface of the router). That way I see only internet traffic including local ip addresses. Based on your last screenshot you're looking at the post nat interface, correct? To see the local ip addresses select your internal interface from interfaces drop-down.

[2018-04-15 18:02] error420 commented on #1743
Correct. Post NAT in screen shot. Pre-NAT (wlan0) interface only shows local traffic but not their flows. I guess the bridge idea did not work. It seems to me the only way ntopng works is via a switch with span/mirroring/rflow. You cannot create your own bridge and expect to monitor traffic both ways.

[2018-04-16 01:03] kwunyinhui commented on #1737
@simonemainardi
Seems there is no error message.

![image](https://user-images.githubusercontent.com/37438134/38785694-0d41d966-4155-11e8-8c83-9dcbd90c84d3.png)

[2018-04-16 11:07] emanuele-f commented on #1743
@error420 so you want to aggregate wlan0 and br0 traffic together. You need to create a view interface, please add `-i view:br0,wlan0`

[2018-04-16 12:11] adargenio commented on #1714
Hi Emanuele,
this would be needed because we send alert emails using the rsyslog engine. In that the string is sent as mail and would be useful for the recipient to quick link the alarm into the web interface.

[2018-04-16 15:54] lucaderi commented on #1642
@joelphilippage Hi all, we believe we have fixes all issues with the 3.3.180416 version. Can you please confirm?

[2018-04-17 01:30] kwunyinhui commented on #1737
I saw the flows are keeping exported to the SQL server.

![image](https://user-images.githubusercontent.com/37438134/38843345-24104cfa-4221-11e8-9102-028861ff1c81.png)

I tired to search the flows records from Feb to now.
It shown the records on 22 March only, is there limitation on the page?

First Page
![image](https://user-images.githubusercontent.com/37438134/38843465-a55f41a8-4221-11e8-9752-d

[2018-04-17 07:31] emanuele-f commented on #1737
@kwunyinhui there is probably a problem with some html value inside the fields. Can you manually open the following url and send me the full result at faranda@ntop.org ? Please change `http://127.0.0.1:3000` with your ntopng server and `ifid=0` with your network interface id.

`http://127.0.0.1:3000/lua/get_db_flows.lua?ifid=0&period_begin_str=01/04/2018 08:07:21&timezone=7200&vlan=0&protocol=&epo

[2018-04-17 07:34] emanuele-f commented on #1714
Email notification is another thing, with the new ntopng you can send emails on new alerts. Currently we have stripped the URL on emails but it's probably better to insert proper url

[2018-04-17 07:40] emanuele-f commented on #1712
Great! Thank you!

[2018-04-17 07:50] emanuele-f commented on #1734
@fsamareanu sure. In SNMP some fields are encoded with TLV (Type Length Value), where the length specifies how many bytes to read on the next field. The daemon you are using seems to ignore the "Length" value from some SNMP fields (at least in version, error-status, error-index fields) and assume length 1. This works well with snmpwalk which uses a 1 byte values but it does not with ntopng which u

[2018-04-17 08:15] kwunyinhui commented on #1737
My interface id should be 6. When I enter the link manually.
It report no return message for the link below.

![image](https://user-images.githubusercontent.com/37438134/38856875-45465d2c-425a-11e8-86d2-8367a019c478.png)

![image](https://user-images.githubusercontent.com/37438134/38856865-3cb6d0a6-425a-11e8-9811-9fa12f6107c3.png)

[2018-04-17 08:47] emanuele-f commented on #1737
Please now double check with this query that there are no flows between 8:07-9:07 on 1 April `select COUNT(*) from flowsv4 where FIRST_SWITCHED >= 1522562841 AND FIRST_SWITCHED <= 1522998441;` . If so, the flows were not exported to the database at all.

[2018-04-17 08:51] kwunyinhui commented on #1737
seems there is no records between 1522562841 and 1522998441.
But I can see the records is keep increasing in the table of flowsv4.

![image](https://user-images.githubusercontent.com/37438134/38858862-5f4e7786-425f-11e8-9147-a5b72aa679b0.png)

[2018-04-17 09:02] emanuele-f commented on #1737
Can you perform some tests with the mysql database to figure out what's happening? In particular, if you can't see the last hour flows into ntopng but you actually see the flow count increasing, can you perform a query like `select FIRST_SWITCHED from flowsv4 order by FIRST_SWITCHED desc limit 10` to verify if the db actually holds the latest data?

[2018-04-17 09:25] kwunyinhui commented on #1737
Sorry, I can see the first_switched value in the records. But I dont know how to convert it in the datetime.
So I am not sure is the data are latest or not.
![image](https://user-images.githubusercontent.com/37438134/38860517-f691375c-4262-11e8-94ed-5302a0df893d.png)

[2018-04-17 10:17] emanuele-f commented on #1737
Hi, on linux you can do `date -d @1521692082`. This is my result on my machine: `Thu Mar 22 05:14:42 CET 2018`. So the timestamp reported is wrong. Is your server time correct?

[2018-04-17 11:24] Artapel opened #1747 "Ntop Network Interfaces: Realtime Traffic Colours"
Hi Guys

Is it possible to change the colors of the information on the Ntop Network Interfaces: Realtime Traffic and Network Interfaces: Last Day View.

We are monitoring 4 connections with the colors Light Orange, Dark Orange, Light Blue and Dark Blue.

Due to the fact that we have it on a big display and we all sit a few meters away, it becomes difficult to differentiate the colors.

Help will b

[2018-04-17 11:34] fsamareanu commented on #1734
Hello,

This ended up being reported upstream to FreeBSD team at https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=227502 .

The comment I got there was this:

[2018-04-17 13:57] fsamareanu commented on #1734
--- Comment #3 from Eugene Grosbein <eugen@freebsd.org> ---
(In reply to Florin Samareanu from comment #2)

The problem is more complex. Indeed, "In SNMP some fields are encoded with TLV
(Type Length Value), where the length specifies how many bytes to read on the
next field" - that's true. But ASN.1/DER encoding standard states that if
integer value is small enought to be fit in single byte, it M

[2018-04-17 14:57] emanuele-f commented on #1734
@fsamareanu thank you for your feedback, we are reviewing the issue

[2018-04-17 15:05] joelphilippage commented on #1642
Can confirm it is working great with no bugs in the latest version. I had a Windows bug when trying to start the Redis service, but re-installing Redis manually fixed this and I imagine it was a Windows thing.

Thanks for the hard work!

[2018-04-17 15:12] fsamareanu opened #1748 "ntopng-mysql dependency"
After integrating ntopng with mysql it seems ntopng starts early during boot process and it fails to connect:

Apr 17 19:10:19 nuc ntopng[1329]: 17/Apr/2018 19:10:19 [MySQLDB.cpp:669] Disconnected from MySQL for interface eno1...
Apr 17 19:10:19 nuc ntopng[1329]: 17/Apr/2018 19:10:19 [MySQLDB.cpp:682] Attempting to connect to MySQL for interface eno1...
Apr 17 19:10:19 nuc ntopng[1329]: 17/Apr/201

[2018-04-17 16:10] fsamareanu commented on #1731
sent

[2018-04-17 20:06] Karl-MCS opened #1749 "No Data Available."
Good afternoon.  I set up my first nProbe/ntopng virtual server a while back collecting flows from a Cisco ASA, and it's been working fine for months.

I'm setting up a second one at a different site, basically the same setup... but I can only intermittently get ntopng to display any data on the webpage, if ever at all.  I was hoping someone would be able to help me figure this out.  Here is some

[2018-04-17 20:15] Karl-MCS commented on #1749
Forgot one thing.  When I ctrl+c ntopng I get this.  It seems to indicate no packets have been received.  And I don't know what's up with the pid file.  I've tried removing it and rebooting the server, but it seems to happen again.

[code]

[2018-04-18 01:27] kwunyinhui commented on #1737
@emanuele-f  Thanks! Same as your result : Thu Mar 22 12:14:41 HKT 2018
I checked the system time is correct.
I checked the FIRST_SWITCHED value didn't change from last day, it still keep on 1521692082 or 1521692081.
Is something hard-coded the value?

[2018-04-18 05:29] fsamareanu commented on #1748
Probably not the most elegant way of dealing with this but here's what fixed it:

systemctl edit ntopng (to create an override)
Paste this:

[Unit]
After=network.target syslog.target redis.service pf_ring.service cluster.service mysql.service

Save the file and reboot. ntopng service comes back successfully on reboot.

[2018-04-18 08:39] emanuele-f commented on #1737
Since you are capturing from nprobe, it seems like your netflow exporter is reporting wrong timestamp. If you can provide a pcap capture of the netflow traffic I can double check this. Please also post your nprobe configuration.

[2018-04-18 08:44] kwunyinhui commented on #1737
Thanks! I can post the nprobe configuration here first.
And I will try to collect it later.

[code]

[2018-04-18 08:44] emanuele-f commented on #1749
Hi, can you try to disable nprobe caching by adding the following options? `--disable-cache --zmq-disable-buffering` You may also want to move your options to config files and start nprobe and ntopng as services

[2018-04-18 08:53] emanuele-f commented on #1737
Why are you capturing from the loopback interface? The `-3` option is commented.

[2018-04-18 08:56] kwunyinhui commented on #1737
@emanuele-f since it's the default configuraiton and I saw there have flows records can show in nProbe.
So I didnt change the configuration file.

[2018-04-18 09:39] emanuele-f commented on #1737
You are only monitoring the loopback interface traffic (which is probably not what you want). What traffic do you wish to monitor? Please check out https://www.ntop.org/nprobe/network-monitoring-101-a-beginners-guide-to-understanding-ntop-tools/

[2018-04-18 09:43] kwunyinhui commented on #1737
@emanuele-f Oh, I change the interface config later.
Also, please find the pcap information for reference.
![image](https://user-images.githubusercontent.com/37438134/38924569-e49a7978-432f-11e8-9a40-11620ca7fa53.png)

[2018-04-18 09:45] emanuele-f commented on #1737
The reported timestamp seems correct, so the problem is probably the misconfigured nprobe

[2018-04-18 10:07] simonemainardi commented on #1642
thanks for reporting

[2018-04-18 10:07] #1642 closed, assigned to lucaderi

[2018-04-18 11:02] emanuele-f commented on #1748
Thank you, I've added after=mysql.server with commit a4d5eea17f79007cb9077c047c9b8bf23f31aa0b

[2018-04-18 11:02] #1748 closed, assigned to nobody

[2018-04-18 11:20] zxyz opened #1750 "encoding problems influxdb exporter"
Hello,

Disclaimer: I know it's beta and in development and I'm not asking or expecting help. I just wanted to give feedback to support the  further dev.

I just tested the influxdb export (influx 1.5.2, ntopng 3.2.2 on centos 7.4 with locale settings en_us-utf8).
The data arrives in influxdb but the encoding is not working correctly (eno3 and eno4 are the monitored interfaces):

[code]

[2018-04-18 14:20] Karl-MCS commented on #1749
I tried adding those two options to nprobe, but there's been no change.  Looking at the interface on the webpage, it says...

Collected Flows: 0
ZMQ Message Drops: 0
Received Traffic: 0 Bytes [0 Pkts]

It's like it doesn't see or process the flows, but I can see it receiving them on the loopback interface.

I do have nprobe and ntopng set up as services, but I have them stopped and running from CL

[2018-04-18 14:50] emanuele-f commented on #1749
Can you update ntopng and nprobe to the latest version and retry?

[2018-04-18 14:58] Karl-MCS commented on #1749
Just for kicks, I also put in `--zmq-disable-compression`  and moved the settings back into the config files.  I didn't get anything for a few minutes and just left it running.  Came back and found it was working, but then a few minutes later stopped again and just shows zero flows.

I tried to update everything, but there seems to be a dependency issue.  Apt shows there is a new version of nprobe

[2018-04-18 15:01] emanuele-f commented on #1749
With the `apt-get` command you need to:
- apt-get update
- apt-get install ntopng nprobe

[2018-04-18 15:07] Karl-MCS commented on #1749
Same thing, it says there isn't a new version of ntopng that works with the new version of pfring.

[code]

[2018-04-18 15:29] emanuele-f commented on #1749
What's the output of `apt-cache policy pfring` ? From your output above it seems like new pfring version is recognized, have you pinned the package?

[code]

[2018-04-18 15:53] Karl-MCS commented on #1749
There shouldn't be any pinning or non-default package holds.  This is a virtual server that was installed just to run ntopng, so it's a clean install and has never been used for anything else.  It's my 2nd setup like this and I didn't have any of these problems on the other one.  Very strange...

Apt-cache seems to be aware of ntopng version 3.2.2.180417-4328 but for whatever reason is not selecti

[2018-04-18 16:18] Karl-MCS commented on #1749
Okay... I don't know what was going on there, but I just did `apt remove ntopng` and `apt install ntopng` and it updated everything.

It still says no data available.

[2018-04-18 17:38] mzac commented on #1749
Similar issue here, can't upgrade ntopng on ubuntu 16.04, do I remove it?

<pre>
root@ntop1:~# apt upgrade
Reading package lists... Done
Building dependency tree
Reading state information... Done
Calculating upgrade... Done
The following packages have been kept back:
  cento n2disk nprobe pfring
0 upgraded, 0 newly installed, 0 to remove and 4 not upgraded.

root@ntop1:~# apt dist-upgrade
Reading

[2018-04-18 18:29] Karl-MCS commented on #1749
@mzac That seemed to fix the package issue for me.  After removing, when I reinstalled it went to the later version and also updated nprobe and pfring.  Ntopng and nprobe depend on a specific version of pfring, so if any of them don't update, they all get held.  I don't know why it wouldn't do an in-place upgrade.

Unfortunately this didn't resolve my no data issue.

[2018-04-18 21:00] Karl-MCS commented on #1749
I just threw together a TurnKey Core 14.2 virtual machine and installed ntopng and nprobe using the same config, and added it as a flow destination in my Cisco ASA, and it's working just fine.  So I don't know what's going on with this Ubuntu VM (the other working one was also Ubuntu), but my config seems to be working fine.

[2018-04-19 00:59] kwunyinhui commented on #1737
I changed the nprobe interface setting. But seems the new flows are still using the old date.
Is it database something wrong?

![image](https://user-images.githubusercontent.com/37438134/38965513-d3bce67e-43af-11e8-9757-c930a4c1c4e5.png)

[2018-04-19 01:24] kwunyinhui commented on #1737
I show the process list in the table. Seems it inserted the wrong timestamp from the  ntopng.
So is it configuration mistake in ntopng?

![image](https://user-images.githubusercontent.com/37438134/38966143-487164b0-43b3-11e8-93a0-6df67bcc3f45.png)

[2018-04-19 06:22] bioteseo opened #1751 "ntopng stable versione: I can't update ntopng because depends on a wrong pfring version"
Hi,
I installed a ntopng stable version on a ubuntu server 14.04.
From some days I can't update ntopng because the package depends on pfring (= 7.0.0-1837) [UNAVAILABLE]
The actual pfring version is 7.0.0-1846.
I tried to remove pfring and ntopng to reinstall them and now the situation is:
The following packages have unmet dependencies:
 ntopng : Depends: pfring (= 7.0.0-1837) but 7.0.0-1846 is to

[2018-04-19 07:13] bioteseo commented on #1751
I had brutally (I had to delete /etc/init.d/ntopng and /etc/ntopng dir ) to uninstall ntopng, then I reinstalled ntopng, now all is ok.

[2018-04-19 08:08] emanuele-f commented on #1737
Please post your new nprobe/ntopng configuration

[2018-04-19 08:11] kwunyinhui commented on #1737
This is the latest config on nprobe/ntopng.

NTOPNG config-:
[code]

NPROBE config:
[code]

[2018-04-19 08:35] emanuele-f commented on #1737
The configuration is still wrong. Have you followed the guide https://www.ntop.org/nprobe/network-monitoring-101-a-beginners-guide-to-understanding-ntop-tools/ , in particular "Monitoring Netflow/sFlow Traffic"?

You need to:
- into the ntopng configuration, replace the interface parameter with `--interface="tcp://127.0.0.1:5556"`
- remove `-i=ens32`
- add `--collector-port=2055` to the nprobe con

[2018-04-19 12:31] zxyz commented on #1751
I had a similar problem running centos 7.4.
yum somehow thought that ntopng 3.2 was still installed, but downloading the 3.2.2 rpm file and trying to install it manually resulted in rpm complaining that the version was already installed.

removing ntopng and pfring and reinstalling solved the problem for me.

[2018-04-19 14:07] Karl-MCS commented on #1749
Okay, so as a last resort, I purged all of the ntop-related packages, cleared the apt cache, redownloaded all of it, rewrote the configs, and started over.  It still doesn't work.  I believe the configuration is good because it's working on the other VM running in demo mode, and a basically identical setup is working fine at another site.

Is there anything else I can try before I try to get this

[2018-04-19 14:17] mzac commented on #1751
Same issue here as I also reported in https://github.com/ntop/ntopng/issues/1749#issuecomment-382468895

I have this issue on two Ubuntu 16.04 servers that were setup with nBox (so all packages)

I don't think that removing and re-installing should be the solution, however since nBox configures ntop, maybe it is the only way?

[2018-04-19 14:49] mzac commented on #1749
@Karl-MCS You say your setup is a VM, did you setup the NIC in your hypervisor to use promiscuous mode?  Also you may need to tag it with all vlans (4095)

https://blog.packet-foo.com/2013/04/capturing-packets-of-vmware-machines/
https://kb.vmware.com/s/article/1038847
http://vmnomad.blogspot.ca/2011/07/vlan-tagging-and-use-cases-of-vlan-id.html

[2018-04-19 15:01] Karl-MCS commented on #1749
I'm only collecting via NetFlow, so the interface settings should be fine.  There is a problem somewhere with either nProbe or ntopng.  I'm leaning toward ntopng simply because I can see nProbe handing off zmq to it on the loopback interface, but ntopng reports no flows received.

I still have the TurnKey VM I set up yesterday which was working, so what I may do is use the nProbe on my Ubuntu VM a

[2018-04-19 16:14] juesor opened #1752 "nTopNG Enterprise license is expiring"
19/Apr/2018 12:08:28 [NtopPro.cpp:513] [LICENSE] License:        Not going to paste here but it's valid
19/Apr/2018 12:08:28 [NtopPro.cpp:519] [LICENSE] Validity:        Until Thu Apr 19 12:18:26 2018

Lica, Simone, Emanuele, and Alfredo

I emailed you all that my enterprise license is now expiring.

Today i expanded the HDD for mariadb to store more data and since restarting ntopng it seems that

[2018-04-19 16:17] simonemainardi commented on #1752
please, attach the output of:

[code]

[2018-04-19 16:36] juesor commented on #1752
v.3.3.180320    [Enterprise/Professional build]
GIT rev:        dev:ae434e327e7497d02976c05a51be64a7841fe140:20180320
Pro rev:        r1522
Built on:       CentOS Linux release 7.4.1708 (Core)
System Id:      68978C0376076B20
Platform:       x86_64
Edition:        Enterprise
License Type:   Demo
Validity:       Until Thu Apr 19 12:45:31 2018
License:        /etc/ntopng.license

Invalid license

[2018-04-19 16:36] juesor commented on #1752
Like i said i don't know why it is in demo.

I sent you the order id.

[2018-04-19 16:41] simonemainardi commented on #1752
The system ids we have associated with your purchase are:

[code]
We can't find system id  `68978C0376076B20`

Maybe you have multiple CPUs on the same system?

[2018-04-19 16:43] juesor commented on #1752
We upgraded the hosts at this location.

[2018-04-19 16:46] simonemainardi commented on #1752
Changing the hardware invalidates the licenses as explained in our FAQs. Please, follow the license transfer instructions available at https://www.ntop.org/support/faq/how-can-i-move-a-license-to-a-new-server/

[2018-04-19 17:14] juesor commented on #1752
I didn't think of upgrading hosts to do this to ntopng but i guess.

Ok so i found out that  689E268182072B23 is my existing system id that is still working.

So 68978C03550561EF needs to be retired and replaced with the new system id 68978C0376076B20.

Downside is that i ordered both at the same time and do not see which order id is associated with the.  Can you get me that info in email so i can

[2018-04-19 17:17] simonemainardi commented on #1752
ok, let's follow up via mail.

[2018-04-19 17:17] #1752 closed, assigned to nobody

[2018-04-20 00:40] kwunyinhui commented on #1737
It said error when I changed the nprobe configuration.
![image](https://user-images.githubusercontent.com/37438134/39024917-59f12572-4476-11e8-9822-37d2e71bc797.png)

[2018-04-20 08:13] melak commented on #1751
Package versioning gone completely bonkers.

[code]

[2018-04-20 08:31] emanuele-f commented on #1737
You have to stop any running nprobe instances: `killall nprobe`

[2018-04-20 08:47] Artapel commented on #1747
Any news on this pls guys

[2018-04-20 08:56] simonemainardi commented on #1747
We are evaluating other libraries for the data visualization. So we cannot accomodate this request at the moment because very likely the current charting library will be replaced. However, we will keep this kind of flexibility in mind in our evaluation. Thanks for the suggestion.

[2018-04-20 08:56] #1747 closed, assigned to nobody

[2018-04-20 09:29] kwunyinhui commented on #1737
Thanks, I can change the configuration, but I didnt change to interface IP from 10.72.40.150 to 127.0.0.1.
Since if I change the interface IP, the traffic history will be disappeared.

However, after changed the config....seems the timestamp is still incorrect.

This is the real time flow record.
![image](https://user-images.githubusercontent.com/37438134/39043559-554a26be-44c0-11e8-94e3-20ab71a9a

[2018-04-20 10:03] emanuele-f commented on #1751
Hi, the new ntopng stable package depends on pfring 7.0.0-1858 which is greater than 7.0.0-1846 so the pfring dependency should be fixed. If you still have the old ntopng version, can you verify if the upgrade works correctly now?

[2018-04-20 10:11] emanuele-f commented on #1749
You can use the `-b2` flag in nprobe and the `-v3` flag in ntopng to print on the console the exported flows. This way you chould figure out if the problem is on the ntopng or on the nprobe side

[2018-04-20 10:12] emanuele-f commented on #1743
@error420 did the view interface solution work for you?

[2018-04-20 10:14] emanuele-f commented on #1737
Are nprobe and ntopng running on the same host? Please post the new ntopng and nprobe configuration you are using (possibly enclosed between triple backticks to show it properly on github)

[2018-04-20 10:14] emanuele-f commented on #1729
Closing for inactivity

[2018-04-20 10:14] #1729 closed, assigned to nobody

[2018-04-20 10:18] emanuele-f commented on #1707
@csammons0x1c sorry for the delay, can you check out the new ntopng version and see i you still reproduce the issue/see anything usefull in the log?

[2018-04-20 10:21] simonemainardi commented on #1737
check the date and time of the ntopng and nprobe systems. are they in sync?

[2018-04-20 11:21] simonemainardi commented on #1672
@juesor you are definitely monitoring a significant amount of traffic, I would not expect mysql to be able to keep up with that speed.

According to our experiments, an out-of-the-box mysql installation supports the following rates of insertion:
* ~2k flows/sec (ntopng community, professional)
* ~10k flows/sec (ntopng enterprise)

A fine tune of MySQL could allow you to reach even higher insertion

[2018-04-20 11:29] melak commented on #1751
For what it's worth, from the "new" one, it does.
[code]

[2018-04-20 11:48] ghost commented on #1729
Hello,

You can close this ticket.

Thank you for your help.

Best regards,

[2018-04-20 12:19] emanuele-f commented on #1729
Thank you

[2018-04-20 17:00] #1750 closed, assigned to lucaderi

[2018-04-20 17:00] lucaderi commented on #1750
@zxyz Thanks for reporting it. Shall you find other issues or have improvements in mind, please let us know. Thank you

[2018-04-20 17:03] emanuele-f commented on #1751
The problem was caused by the ntopng version number `3.2.2.x` which is lesser then `3.2.180...x`. We've changed the stable version to `3.4` to fix it. We're sorry for the inconvenient.