[2019-09-02 07:38] cardigliano commented on #2796
@fsamareanu please note that pfring-dkms is in "Recommends", and those are installed by default. You can negate it with apt-get --no-install-recommends, but it seems you didn't use that option, do you have some configuration with the same effect perhaps?

[2019-09-02 07:49] fsamareanu commented on #2796
Hello,

No additional configuration whatsoever. However, I can no longer reproduce this after doing this:

apt remove ntopng pfring pfring-dkms ntopng-data
apt update
apt install ntopng

Which ended up with this:

[code]

Hence closing this. Thank you.

[2019-09-02 07:49] #2796 closed, assigned to nobody

[2019-09-02 09:06] Ajowan84 opened #2797 "Internet trafic only"
Hi,
I installed ntopng on my pfsense firewall.
Is it possible to monitor only Internet traffic and not display network traffic?
Thank you,

[2019-09-02 09:07] simonemainardi commented on #2795
https://github.com/ntop/ntopng/commit/91163ed4e24229821c5495b36e17b8f8301ac32b fixes @fsamareanu issue.

@sgajemison please report the ntopng version used and the configuration - it seems you're using an external alert endpoint, correct?

[2019-09-02 10:11] emanuele-f commented on #2797
You can filter the active flows to only show "local client remote server" for flows directed to the internet:
![2019-09-02_12-07](https://user-images.githubusercontent.com/5488003/64119261-ef90c780-cd88-11e9-8d28-4d69889ddd7a.png)

Otherwise you will need to set a BPF filter by using the ntopng `-B` option with a "src net/dst net" expression, please check out https://biot.com/capstats/bpf.html for

[2019-09-02 12:07] Ajowan84 commented on #2797
Thank you for your quick reply.
The picture is not displayed ...

[2019-09-02 13:54] emanuele-f commented on #2797
Re-attached

[2019-09-02 14:56] simonemainardi commented on #2794
duplicate of https://github.com/ntop/ntopng/issues/2044

[2019-09-02 14:56] #2794 closed, assigned to nobody

[2019-09-03 01:10] dwairlk opened #2798 "Adding time range or id to the rest API"
I suggest adding time range or some identification to differentiate among the alerts.
Currently, every time the API is queried, it brings all the alerts, old ones and new ones.

That would help with easily parsing them and integrate them to a custom applications.

[2019-09-03 08:04] emanuele-f commented on #2797
Closing this, if you have other questions please open a new issue.

[2019-09-03 08:04] #2797 closed, assigned to nobody

[2019-09-03 08:05] #2793 closed, assigned to nobody

[2019-09-03 09:48] jean-christophe-manciot opened #2799 "Reverse DNS lookups for all remote IP addresses give the name of the local NAT router"
@lucaderi

Context:
[code]
The **remote** hosts' IP addresses are all incorrectly resolved into the name of the **local NAT router name**, instead of their real DNS name in all ```hosts``` pages.
For instance:
![Ntopng incorrect DNS reverse lookups](https://user-images.githubusercontent.com/13176858/64162743-3097e300-ce40-11e9-9382-a635f4cc3d94.png)

The IP addresses of all local hosts are correct

[2019-09-03 11:52] sgajemison commented on #2795
v.3.9.190829    [Enterprise/Professional build]
GIT rev:        dev:13d032d18558a81d04fe6b8e6129f81a9c9798e3:20190829
Pro rev:        r2418
Built on:       Ubuntu 18.04.2 LTS
System Id:      6DD584CE9105A1EF
Platform:       x86_64
Edition:        Enterprise
License Type:   Permanent

[2019-09-03 11:56] sgajemison commented on #2795
Yes, I have alerts going to a syslog server.

[2019-09-03 13:26] StewAlexander-com opened #2800 "ntopng saying there is ghost networks when it's a registered domain"
Ntopng saying there is "ghost domains" when these domains are clearly listed in the networks tab of eth0

![image](https://user-images.githubusercontent.com/48565067/64177172-f40ebc00-ce2c-11e9-8a36-a5614e73f551.png)

![image](https://user-images.githubusercontent.com/48565067/64177046-adb95d00-ce2c-11e9-8449-33149378fd02.png)

![image](https://user-images.githubusercontent.com/48565067/64177098-c

[2019-09-03 14:04] jean-christophe-manciot commented on #2799
Nothing special under ```Additional Host Names```either.

[2019-09-03 14:06] jean-christophe-manciot commented on #2799
On other places, the DNS reverse resolution is done correctly, for instance in the timerseries pages.

[2019-09-03 15:32] lucaderi opened #2801 "Trigger alert for TCP flows with no data exchanged"
Example
<img width="1170" alt="Screenshot 2019-09-03 at 17 32 27" src="https://user-images.githubusercontent.com/4493366/64187391-d5caaf80-ce70-11e9-9916-9a38ba53dd45.png">

[2019-09-03 16:06] lucaderi opened #2802 "Implement flow explorer capabilities"
In the example below there are over 3k flows alerted. ntopng using tables is unable to allow people to drill down and understand for instance what are the top hosts involved with the selected flows

<img width="1229" alt="Screenshot 2019-09-03 at 18 05 05" src="https://user-images.githubusercontent.com/4493366/64189848-686d4d80-ce75-11e9-92d4-0eadb2fce376.png">

[2019-09-03 16:08] lucaderi opened #2803 "Flow alert count is inconsistent"
<img width="875" alt="Screenshot 2019-09-03 at 17 56 04" src="https://user-images.githubusercontent.com/4493366/64189948-9bafdc80-ce75-11e9-9409-19856fd33c44.png">

In the above screenshot this host has 17 alerted active flows. However going under the host flows tab there are many more than them.

It is requested to keep them in sync and to explode the number of flow alerts per category to ease dr

[2019-09-03 20:49] StewAlexander-com opened #2804 "Redis issue keeping ntopng from starting / causing hangs"
Hi @emanuele-f

Seeing this error message when attempting to start ntopng:
[code]

Can't start ntopng, message was hidden, only when asking for the service status did I see the issue

[code]

[code]

[2019-09-03 21:09] StewAlexander-com commented on #2804
Restarted the vm, added 10GB and got this message when running status:
[code]

[2019-09-04 07:53] emanuele-f commented on #2804
Redis is a required component for ntopng, so problems with redis connection are expected to affect ntopng. Was the problem related to insufficient disk space? The housekeeping messages above are truncated, can you get the full messages?

[2019-09-04 07:57] emanuele-f commented on #2803
Additional information: the "Flow Alert" count shows the number of generated flow alerts for the host, whereas the "Misbehaving Flows" count shows the number of flows with non-normal status. Both counters are correct, however we lack a way to easily visualize the problems on the host flows.

[2019-09-04 09:55] cardigliano commented on #2799
@jean-christophe-manciot  what is the "timeseries page" you mentioned? Since we are not able to reproduce it, we need any useful info to figure out what's going on. Thank you.

[2019-09-04 10:42] #2800 closed, assigned to nobody

[2019-09-04 10:47] simonemainardi commented on #2800
as you have highlighted a broadcast domain `10.10.13.0/24` which is not in the broadcast domain of your network interface which has ip `10.210.8.1`, I'm assuming you are sending mirrored traffic to the interface and you have checked the

![image](https://user-images.githubusercontent.com/3397663/64248580-ca7b9080-cf11-11e9-83c4-f62b329f43ba.png)

from the interface config page.

Otherwise you woul

[2019-09-04 10:59] cardigliano commented on #2795
@sgajemison this has been fixed, please check the next build (in 1h). Thank you.

[2019-09-04 11:00] cardigliano commented on #2799
@jean-christophe-manciot I pushed a patch that should fix it, please update and let us know if it works for you. Thank you.

[2019-09-04 11:03] StewAlexander-com commented on #2800
Not quite, the 10.10.13/24 is visible and pingable from the network interface

[2019-09-04 11:26] fsamareanu opened #2805 "Lua error on startup"
Hello,

This appears in logs when starting ntopng:

[code]
Versions below:

[code]

[2019-09-04 12:11] emanuele-f commented on #2805
Fixed in 5c3a063faedc68030f881301dc9c8ec5a0443a45 . A new package will be available in one hour.

[2019-09-04 12:11] #2805 closed, assigned to emanuele-f

[2019-09-04 12:21] sgajemison commented on #2795
I have updated to the latest version and am now getting the following every 3 seconds:

04/Sep/2019 08:19:30 [LuaEngine.cpp:10053] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/system/housekeeping.lua][/usr/share/ntopng/scripts/lua/modules/alert_consts.lua:706: attempt to call a nil value (global 'snmp_duplexstatus')]
04/Sep/2019 08:19:27 [LuaEngine.cpp:10053] WARNING: Script failur

[2019-09-04 12:52] simonemainardi commented on #2800
Look at the ip address of your interface, it's 10.210.8.1. How it can be in the same broadcast domain of 10.10.13/24? - Pingable doesn't mean you are on the same broadcast domain.

Is the interface receiving mirrored traffic or not?

[2019-09-04 12:55] StewAlexander-com commented on #2804
I can't install anything because nprobe is FUBAR
![image](https://user-images.githubusercontent.com/48565067/64256527-a9a34300-cef1-11e9-8290-d7413858398f.png)

[2019-09-04 12:58] StewAlexander-com commented on #2804
![image](https://user-images.githubusercontent.com/48565067/64256627-d8211e00-cef1-11e9-8444-8fa9b6e185fa.png)

It tells me the the /var/cache apt/archives is full even though:
![image](https://user-images.githubusercontent.com/48565067/64256812-2cc49900-cef2-11e9-9cf2-a50bdf40c555.png)

[2019-09-04 12:59] StewAlexander-com commented on #2804
![image](https://user-images.githubusercontent.com/48565067/64256914-5d0c3780-cef2-11e9-9930-9d561761edae.png)

[2019-09-04 13:06] simonemainardi commented on #2790
fixed.

[2019-09-04 13:06] #2790 closed, assigned to simonemainardi

[2019-09-04 13:08] emanuele-f commented on #2804
You need to free disk space!

[2019-09-04 13:38] emanuele-f commented on #2795
This is fixed in d630cce58adf50ffcb7fae7f2b70b83501f93ad5. Please wait an hour until the new package is available and report if it works fine for you

[2019-09-04 14:10] sgajemison commented on #2795
New package was found by sudo apt update and upgrade was initiated.

Ntopng --version

v.3.9.190904    [Enterprise/Professional build]
GIT rev:        dev:d89ad540f8ffa274d77f1c364b3d2dc787e3584d:20190904
Pro rev:        r2429
Built on:       Ubuntu 18.04.2 LTS
System Id:      6DD584CE9105A1EF
Platform:       x86_64
Edition:        Enterprise
License Type:   Permanent

After upgrade the syslog ent

[2019-09-04 14:14] emanuele-f commented on #2795
I think you are still using an old package, please recheck in an hour to be sure.

[2019-09-04 14:15] StewAlexander-com commented on #2804
I'm only using 31% of my available space, this is NOT the problem @emanuele-f

[2019-09-04 14:17] walker333 opened #2806 "How can I move my licences from one server to another?"
Hello,

My initial installation was into a vm running on my desktop pc. Now that everything is configured, I moved the vm to an esxi server and changed the IP of the vm.
It seems that this broke the licence of the ntop (I believe that it did the same with nprobe etc.).
Is there a way to revoke the old licences and issue new ones or change the existing ones?

Best regards,
Dimitris

[2019-09-04 14:17] sgajemison commented on #2795
I was wondering, but figured since the GIT Rev was different it was a newer version. Will check later.

[2019-09-04 14:17] StewAlexander-com commented on #2804
Oh and the vm won't reboot getting the following ...

![image](https://user-images.githubusercontent.com/48565067/64263190-3ef80480-cefd-11e9-8753-5c838ad28f75.png)

[2019-09-04 14:18] #2806 closed, assigned to nobody

[2019-09-04 14:22] StewAlexander-com commented on #2804
![image](https://user-images.githubusercontent.com/48565067/64263605-e7a66400-cefd-11e9-9f15-73ba591b779f.png)

[2019-09-04 14:28] StewAlexander-com commented on #2804
Ok so dev/vda1 is now showing it is using all the disk space .. sigh

[2019-09-04 14:32] simonemainardi opened #2807 "Flow Alerts in View Interfaces"
When a view interface is used, flow alerts stay in the underlying viewed interfaces. It is requested to store flow alerts in the view rather than in the viewed interfaces.

[2019-09-04 14:47] StewAlexander-com commented on #2804
The `/var/lib/ntopng/7/rrd/fe80' folder is using 24.8 GiB of space, is there anyway to clean out / up the `var/lib/ntopng/' subfolders?

[2019-09-04 14:47] StewAlexander-com commented on #2804
![image](https://user-images.githubusercontent.com/48565067/64265698-5fc25900-cf01-11e9-9581-03f3bf1767d2.png)

[2019-09-04 14:51] StewAlexander-com opened #2808 "/var/lib/ntopng is using 59.5 GiB of space, is there a way to clean out / up this?"
On my Ubuntu 18.04 installation /var/lib/ntopng is using 59.5GiB of space
![image](https://user-images.githubusercontent.com/48565067/64265943-c0519600-cf01-11e9-8fbd-ce382c471ad7.png)

Is there anyway to clean up / out / and or eliminate any of this without to much determent to NTOPNG?

It is literally causing ntopng to crash

[2019-09-04 14:55] StewAlexander-com commented on #2808
`/usr/local/ntopng/3/' is also using 16 GiB of space

![image](https://user-images.githubusercontent.com/48565067/64266347-76b57b00-cf02-11e9-99ba-40f522fa2ad1.png)

[2019-09-04 14:58] StewAlexander-com commented on #2808
ntopng.log is 12.8 GiB

deleting this

[2019-09-04 15:11] sgajemison commented on #2795
Ntopng --version

v.3.9.190904    [Enterprise/Professional build]
GIT rev:        dev:d630cce58adf50ffcb7fae7f2b70b83501f93ad5:20190904
Pro rev:        r2429
Built on:       Ubuntu 18.04.2 LTS
System Id:      6DD584CE9105A1EF
Platform:       x86_64
Edition:        Enterprise
License Type:   Permanent

Syslog output looks good.

[2019-09-05 07:00] simonemainardi commented on #2795
thanks for reporting

[2019-09-05 07:00] #2795 closed, assigned to emanuele-f, cardigliano

[2019-09-05 09:03] emanuele-f commented on #2806
Please check out https://www.ntop.org/support/faq/how-can-i-move-a-license-to-a-new-server

[2019-09-05 09:14] emanuele-f commented on #2808
Here are the possibilities:
- Use manage data https://www.ntop.org/guides/ntopng/web_gui/settings.html?highlight=delete%20data
- Tune the timeseries settings to reduce the retention time
- Move the ntopng storage directory into a separate (bigger) disk
- Reduce the number of local hosts
- Move from RRD to a remote InfluxDB server with its own storage

[2019-09-05 09:14] #2808 closed, assigned to nobody

[2019-09-05 09:57] walker333 commented on #2806
Hello,

thank you very much.

Best regards,

Dimitris

[2019-09-05 10:40] StewAlexander-com opened #2809 "Blacklists are not downloading"
These blacklists aren't downloading, how do I either fix this, or stop these messages?

[code]

[2019-09-05 10:47] StewAlexander-com commented on #2808
Ok, after I export the managed data I can delete it??  If so, how?

We don't have a disk, instead the stoarge is a partition on one.

[2019-09-05 11:24] jean-christophe-manciot commented on #2799
@cardigliano
Ubuntu 19.10
ndpi: 1.8-1334-g241cfb3
ntopng: 3.0-4295-g141622f1

Bravo! You nailed it; for instance:
![Reverse DNS lookups solved with NAT router](https://user-images.githubusercontent.com/13176858/64337834-79869d80-cfe0-11e9-840a-5d27f59539d4.png)

[2019-09-05 11:27] jean-christophe-manciot commented on #2737
This issue has been solved here. https://github.com/ntop/ntopng/issues/2799#issue-488503182

[2019-09-05 11:27] #2799 closed, assigned to cardigliano

[2019-09-05 11:49] walker333 commented on #1541
hello,
I have the same problem. I attached a screen capture of the Timeseries settings.
Also the id of my network interface is 3 and the contents of ntpong/3/ are:
drwx------ 2 ntopng ntopng 4096 Sep  5 14:48 alerts
drwx------ 4 ntopng ntopng 4096 Sep  4 16:15 rrd
drwx------ 4 ntopng ntopng 4096 Sep  4 16:11 subnetstats
drwx------ 2 ntopng ntopng 4096 Sep  5 14:48 top_talkers
![Screen Shot 2019-09

[2019-09-05 11:56] emanuele-f commented on #1541
Please open a new issue and specify the output of `ntopng --version`

[2019-09-05 12:00] emanuele-f commented on #2808
Inside manage data there is the Delete tab

[2019-09-05 12:04] emanuele-f commented on #2809
Please follow up in #2753

[2019-09-05 12:04] #2809 closed, assigned to nobody

[2019-09-05 12:05] walker333 opened #2810 ""Top Application Traffic Last Day View" -> empty"
Hello,
 "Top Application Traffic Last Day View" stays empty.
My version is
v.3.8.190904	[Enterprise/Professional build]
GIT rev:	3.8-stable:758a28de36dc6c33a5b974d7f33999c9bf8b9c33:20190904
Pro rev:	r2189
Built on:
System Id:	68B8303076056B01
Platform:	x86_64
Edition:	Enterprise
License Type:	Permanent
and the Timeseries settings are:
![Screen Shot 2019-09-05 at 14 46 14](https://user-images.githu

[2019-09-05 12:08] emanuele-f commented on #2753
As the error is still occurring, please post the output of `ntopng --version`. Can you determine the conditions which cause the error in order to try to reproduce? E.g. there is not internet connectivity while this occurs.

[2019-09-05 12:14] emanuele-f commented on #2810
Can you upgrade to the development version of ntopng to see if the error is fixed? We are working towards the next stable release and we've done relevant changes to the dashboard handler

[2019-09-05 12:20] StewAlexander-com commented on #2808
Great, saw that, thanks for the support

[2019-09-05 12:25] StewAlexander-com commented on #2753
- Yes I am still getting the errors
- Yes I can get to the blacklists
- Yes the network appears to be working properly during these events

[2019-09-05 12:26] StewAlexander-com commented on #2809
Yeah closing, this a duplicate -- apologies

[2019-09-05 12:27] StewAlexander-com commented on #2753
![image](https://user-images.githubusercontent.com/48565067/64341724-f270ff80-cfb6-11e9-9757-d657f2bbb6e8.png)

[2019-09-05 12:32] StewAlexander-com commented on #2753
ntopng -v output

[code]

[2019-09-05 12:34] walker333 commented on #2810
Hello Emanuele,
do I have to use another repo? Can I install the development version over the stable and without changing the licence?
Can you send me the required steps?
I forgot to mention that I am using Centos 7

[2019-09-05 12:34] StewAlexander-com commented on #2753
How can I check what privileges ntopng has, and if it doesn't have super user privileges, how do I give it to ntopng?  Could this be the issue with the blacklists?

[2019-09-05 12:40] emanuele-f commented on #2810
You can upgrade it as long as the license maintenance is not expired. For the upgrade, please remove the stable ntop (e.g. `sudo apt-get remove apt-ntop-stable`) repository and then follows the instruction in http://packages.ntop.org/apt to install the dev repository. After setting up the repo, will will be able to upgrade the ntopng package (e.g. with `sudo apt-get install ntopng`)

[2019-09-05 12:47] walker333 commented on #2810
Unfortunately I'm using Centos.
Nevermind it is not a critical issue for me. I'll wait for the stable version.

[2019-09-05 12:50] StewAlexander-com commented on #2753
Alright so I stopped the service and restarted it in root, now I am getting errors that it can't bind to the port...

I can log on, but then I am kicked off in a second or two...

[code]

[2019-09-05 12:55] StewAlexander-com commented on #2753
Ok I get it, ntopng -v is attempting to start ntopng

[code]

[2019-09-05 12:58] StewAlexander-com commented on #2753
Alright I stopped it as a service and restarted it, seems to be working now
[code]

[2019-09-05 15:10] emanuele-f commented on #2753
Flooding us with (non relevant) error messages won't help. Please take your time to perform the tests with care. Please note that the output I've requested was `ntopng --version` not `ntopng -v` and `-v` is not an alias for `--version` into ntopng.

If you go into the ntopng gui, and hover the mouse on the error information icon, what error message do you get?

[2019-09-05 22:43] fsamareanu opened #2811 "Lua error in log"
[code]
[code]

[2019-09-06 08:11] #2811 closed, assigned to emanuele-f

[2019-09-06 10:50] StewAlexander-com commented on #2753
Sorry noticed permission issues with the interface,  ntopng gui wasn't loading, resolved this ...
[code]
hovering over the error it just says "an unknown error has occurred"

[2019-09-06 12:41] StewAlexander-com opened #2812 "Traffic Report Menu unresponsive"
Having issues with the traffic report menu item in the web gui, it's unresponsive

Here's my environment:

**NTOPNG:**
[code]
**Google Chrome:**
[code]
Error message seen in Google Chrome:
![image](https://user-images.githubusercontent.com/48565067/64428594-18170b00-d082-11e9-9ba4-4ba054178081.png)
---------------------------------------

## Can someone perhaps login remotely and see why this is h

[2019-09-06 12:48] StewAlexander-com commented on #2812
Upgrading to the latest version appears to have fixed he issue

Just an FYI:
[code]

[2019-09-06 12:50] StewAlexander-com commented on #2812
Well, partially so...  the Application Breakdown is missing under the traffic report menu option, see the following (after upgrading to the above version):
![image](https://user-images.githubusercontent.com/48565067/64429128-55c86380-d083-11e9-89b4-c24a71a746cf.png)

[2019-09-06 12:51] StewAlexander-com commented on #2812
Strange now its up, hmm

[2019-09-06 18:41] ghost opened #2813 "PR_RING zc driver license does not seem to work"
Good afternoon,

I was having some issue with ntopng and got it sorted out, but I noticed that my ZC license key isn’t working anymore.  Here is the error:

Error! Wrong parameter: The format of "ZC License" field for "64006A8FC7C5" identifier is not valid!

Here is the key I am using:

Please use 6BA7FE16E5D832815D853A486710D63D1580825031ECABA63A as license for
PF_RING (zc10g) running on system 6

[2019-09-06 19:02] radyphan opened #2814 "Geolocation error"
Hi ,

I have an issue regarding Geolocation doesn't shown the righ place, it always using the default location (Italy) please check the capture in attach file.

I already edit timezone in my server please check bellow:
root@alien:/usr/share/zoneinfo# cd ~
:~# timedatectl
                      Local time: Fri 2019-09-06 11:48:42 PDT
![9-6-2019 11-57-08 AM](https://user-images.githubusercontent.com/

[2019-09-07 10:00] HaleyACS opened #2815 "ubuintu 18.04LTS / Logrotate package require ntopng to be mode 644"
Out of the Box and Update of ntopng package on Ubunt 18.04.x LTS causes
logrotate for ntopng to be skipped skipped if mode of /etc/logrotate.d/ntopng is not 644.

Error message coming via mail from cron looks like this:
`/etc/cron.daily/logrotate:
error: Ignoring ntopng because of bad file mode - must be 0644 or 0444.`

Changing the file mode to 0644 is enough.

[2019-09-08 08:24] lucaderi commented on #2813
Your license has been revoked. Please generate a new one.

[2019-09-08 08:24] #2813 closed, assigned to nobody

[2019-09-08 08:32] lucaderi opened #2816 "Unbundle Interface Traffic"
In ntopng network interfaces contain various types of traffic. This means that analysing the traffic as a whole instead of splitting it into smaller subsets is not a great idea. For instance in every large company there are various traffic flows that should be analysed unbundled. This is because not all traffic is alike, and when traffic is merged many things are hard to see. Typical examples of n

[2019-09-08 08:46] lucaderi opened #2817 "Implement nIndex-based time series"
In ntopng when nIndex is enabled there is the ability to extract some flow records based on a query expression. As they are currently reported only on a text-based window, it would be nice to create a chart of the traffic created by such flows.

For instance when selecting traffic from host X to host Y with DPI protocol K, there is no time series in ntopng that can report about the traffic of this

[2019-09-08 08:49] lucaderi opened #2818 "Implement malware detection using DNS"
Services such as OpenDNS/Cisco Umbrella prevent people from visiting malware sites. When this happens, DNS responses do not contain the resolved IP address but a placeholder to report the client about the issue. For instance
- standard DNS
$  host ptaj.katlyn966.xyz
ptaj.katlyn966.xyz has address 147.139.136.45

- Umbrella
$ host ptaj.katlyn966.xyz
ptaj.katlyn966.xyz has address 146.112.244.216
pt

[2019-09-08 08:53] lucaderi opened #2819 "Read flow information from Syslog"
Many security systems and network devices report security information in syslog. In #1928 this integration has been designed for suricata but there are many other cases where we could implement in ntopng the ability to read network or alert information from syslog.
It is requested to study also how other systems such as https://www.elastic.co/products/logstash work to add support of external apps

[2019-09-08 09:03] lucaderi opened #2820 "Invalid SNMP information in flow collection"
When starting ntopng in collector mode (example see below
- nprobe --zmq tcp://127.0.0.1:1234 -T "@NTOPNG@"
- ntopng -i tcp://127.0.0.1:1234
)
a new web menu appears named exporters.

Such menu is mostly empty when SNMP is not properly configured

![Screen Shot 2019-09-08 at 11 02 32](https://user-images.githubusercontent.com/4493366/64486026-2ef76200-d228-11e9-803c-64f739815d60.png)
![Screen Shot

[2019-09-08 09:18] lucaderi opened #2821 "Improve host flow alerts report"
Inside the host view flow alert report has to be improved
![Screen Shot 2019-09-08 at 11 14 33](https://user-images.githubusercontent.com/4493366/64486173-fb1d3c00-d229-11e9-8b73-f6872cf1e2f5.png)

- Relabel it in "active/total flow alerts", where active means the total number of active flow with an alert.
- Add an anchor to select active or historical flow alerts (https://XXX:3000/lua/host_detail

[2019-09-08 17:20] lucaderi opened #2822 "Invalid page update"
![Screen Shot 2019-09-08 at 19 19 10](https://user-images.githubusercontent.com/4493366/64491875-971c6700-d26d-11e9-8e7a-f3616193f2b3.png)

When clicking on buttons (for instance "Update now") on pages (id > 1) , after clicking the page is reset to page 1 instead of staying on the current page

[2019-09-08 20:51] lucaderi opened #2823 "Implement host explorer capabilities"
Same as #2802 but for hosts

[2019-09-09 08:12] simonemainardi opened #2824 "Flow Exporters: Match with SNMP Interfaces"
When ntopng is collecting traffic from nProbe and it also has SNMP devices configured, it combines interface ids as received from nProbe with those read via SNMP.

In the flow exporters, when SNMP data is available, it is requested not only to show the SNMP interface id, but also its name and description.

[2019-09-09 08:14] simonemainardi opened #2825 "Extend Search to search for SNMP devices and interfaces"
The ntopng search should also look for SNMP devices and interfaces. Interfaces names, id, aliases and descriptions should be searched for.

[2019-09-09 08:15] simonemainardi opened #2826 "Packet Inter-Arrival times not consistent when data is received from nProbe"
Flow packet interarrival times are not consistent when this information is read from nProbe.

![image](https://user-images.githubusercontent.com/3397663/64514300-aab9e300-d2ea-11e9-8deb-4bff4829f120.png)

[2019-09-09 08:19] simonemainardi opened #2827 "Handle nProbe idle/lifetime timeout in presence of multiple Exporters"
nProbe can collect simultaneously from multiple *Flow exporters, each one with its own idle/lifetime timeouts configured.

Currently, ntopng uses the timeouts information sent by nProbe to opportunely tune the throughputs and stats refresh intervals. For example, when it receives a timeout of 2 minutes, it won't update throughputs at a frequency higher than 2 minutes.

In case multiple exporters a

[2019-09-09 08:22] simonemainardi opened #2828 "Flow Alerts and View Interfaces"
With the current design, when a view interface is configured (e.g., `-i eno1 -i eno2 -i view:eno1,eno2`:
- Flows stay in the underlying viewed interfaces (`-i eno1 -i eno2`)
- Hosts and other elements stay in the view interface (`-i view:eno1,eno2`)

So flow alerts are stored in the underlying viewed interfaces whereas it would be more convenient to have them stored in the view interface. It is re

[2019-09-09 08:27] simonemainardi opened #2829 "Timeseries `Other` traffic calculation is not Consistent"
In the latest implementation, when ntopng collects data from nProbe, it uses a minimum step to draw the timeseries which is equal to the maximum between the lifetime and idle timeouts nProbe tells to ntopng.

This leads to unreasonable and inconsistent spikes for the `Other` traffic. The other applications are OK. It is requested to fix this.

![image](https://user-images.githubusercontent.com/339

[2019-09-09 08:33] simonemainardi opened #2830 "Suppressed/disabled alerts refresh should not be performed inline"
Both methods are too costly to be called inline. Experiments have highlighted that the following cost is paid every time a new local host arrives:

- refreshSuppressedAlert 220 Kilo ticks
- refreshDisableFlowAlertTypes: 430 Kilo ticks

This poses a great limitation on the maximum number of hosts ntopng can instantiate per second. Assuming a 2.2GhZ processor, one whould not be able to allocate more

[2019-09-09 10:04] lucaderi opened #2831 "Introduce host persistency level in local hosts"
Currently local hosts are defined as hosts for which we want to see a high-degree of detail. Unfortunately in many cases not all hosts are equally relevant. For instance for local (yet outside of the broadcast domain) networks with DHCP traffic enabled it doesn't make sense to save traffic metrics as an IP is a mix of various physical hosts that overtime have used dynamically such IP address.

It

[2019-09-09 13:29] emanuele-f commented on #2814
Hi, have you set up the maps api key?

[2019-09-09 13:58] lucaderi opened #2832 "Add ZMQ Interface Drops Reset"
<img width="469" alt="Screenshot 2019-09-09 at 15 56 58" src="https://user-images.githubusercontent.com/4493366/64537101-7b22cf00-d31a-11e9-81da-2168e60c82f8.png">
Implement ZMQ drops reset as with packet interfaces. More in general please make sure that all interface types have drops reset.

[2019-09-09 14:35] lucaderi opened #2833 "Flow Collection Custom Information Elements Handling"
In ntopng when flows are received with custom elements they are serialised on a json structure that performance wise is inefficient. It is requested to rethink the implementation (now nProbe sends ntopng in TLV format) so that the JSON is replaced with TLV or a similar more efficient data structure

[2019-09-09 14:58] ghost commented on #2813
Good morning.  I have processed the new key and added it to the install.  I kicked ntopng and restarted the device and it still shows "No valid license found".
![1](https://user-images.githubusercontent.com/46750138/64542125-fa031200-d2f0-11e9-995b-0fd49a19082e.png)

![2](https://user-images.githubusercontent.com/46750138/64541969-ba3c2a80-d2f0-11e9-8245-c63325018369.png)

[2019-09-09 15:01] cardigliano commented on #2813
Please provide the output of pfcount -L -v 1

[2019-09-09 15:04] ghost commented on #2813
![3](https://user-images.githubusercontent.com/46750138/64542448-91686500-d2f1-11e9-903c-3299b44bbe94.png)

[2019-09-09 15:44] cardigliano commented on #2816
~~We need to extend the Dynamic Network Interface to support a "custom" distribution based on a set of <in/out ifid, vlan, subnet> (this should be configurable through the GUI similar to the Host Pools).~~
Custom distribution has been redesigned and implemented with Extended nBPF filters, supporting standard fields from packets headers and information elements from flows.

[2019-09-09 17:59] #2812 closed, assigned to nobody

[2019-09-09 18:03] StewAlexander-com commented on #2753
@emanuele-f

Since it is only reporting "an unknown error has occurred" is there anything else we can possibly do to get more information on the error, is it possible for you to remote in?

Please let us know - grazie mille

[2019-09-09 20:08] cardigliano commented on #2813
@dbailey-indofmd-org please update the software and provide me the output of "zcount -i zc:eno1" (I added more information about the license failure). Thank you.

[2019-09-10 06:47] lucaderi opened #2834 "Trigger alerts for Expired TLS Certificates"
Recently nDPI has been enhanced with TLS certificate validity (notAfter/notBefore). It is requested to use this information to generate a new flow alert when TLS certificates have invalida dates.

[2019-09-10 10:15] #2826 closed, assigned to simonemainardi

[2019-09-10 12:29] ghost commented on #2813
Ok.  I have updated:

Reading package lists... Done
Building dependency tree
Reading state information... Done
All packages are up to date.

Output:
zcount -i zc:eno1
pfring_zc_create_cluster error [Socket operation on non-socket] Please check that pf_ring.ko is loaded and hugetlb fs is mounted

[2019-09-10 13:49] #2828 closed, assigned to nobody

[2019-09-10 14:03] cardigliano commented on #2813
Did you run it as root?
Could you check that hugepages are up? (the initialization script should take care of that as explained at https://www.ntop.org/guides/pf_ring/get_started/packages_installation.html, otherwise please check https://www.ntop.org/guides/pf_ring/hugepages.html)

[2019-09-10 15:52] #2821 closed, assigned to emanuele-f

[2019-09-10 16:07] dbailey-indofmd-org commented on #2813
#########################################################################
# ERROR: You do not seem to have a valid PF_RING ZC 7.4.0.190828
# license for eno1 (MAC 64:**:**:**:C7:C5) [Intel 1 Gbit e1000e family]
# ERROR: License mismatch error
# ERROR: Please get one at http://shop.ntop.org/
#########################################################################
# We're now working in demo mode w

[2019-09-10 16:15] dbailey-indofmd-org commented on #2813
#########################################################################
# ERROR: You do not seem to have a valid PF_RING ZC 7.4.0.190828
# license for eno1 (MAC 64:00:6A:8F:C7:C5) [Intel 1 Gbit e1000e family]
# ERROR: License mismatch error
# ERROR: Please get one at http://shop.ntop.org/
#########################################################################
# We're now working in demo mode w

[2019-09-10 16:23] ghost commented on #2813
Ok, I think I have made some headway and ZC is running, but the licensing is still giving an error:

![1](https://user-images.githubusercontent.com/46750138/64631789-d1991780-d3c5-11e9-95d0-34c51e48eb23.png)

[2019-09-10 17:11] ghost commented on #2813
Rebooted and all seems to be working now but the licensing.  Applied licensing as root and through nBox.

![2](https://user-images.githubusercontent.com/46750138/64634942-74549480-d3cc-11e9-8bae-c2f6380bb73d.png)

[2019-09-10 17:45] ghost commented on #2813
I cannot find the email, but at some point we switched from a VM to a physical appliance and had the licenses revoked and reissued for the new System ID.  Is it possible that the Order ID I am using is still tied to the old System ID somehow?

[2019-09-10 18:02] tercaneBay opened #2835 "Ntopng does not calculate host traffics correctly with nprobe"
Ntopng - v.3.9.190910    [Enterprise/Professional build]****
Nprobe - nProbe v.8.7.190910 (r6612)

I collect with nprobe the data via ;

nprobe --zmq tcp://*:5556 -i zc:enp32s0f0 -n none -M 7000000 --redis localhost -G

And follow via ntopng with;

ntopng -i tcp://127.0.0.1:5556 -X 15000000 -x 5000000 -m 10.0.0.0/8,172.16.0.0/12,192.168.0.0/16

I corelate and check also snmp pulls on graphite/graf

[2019-09-10 18:06] tercaneBay opened #2836 "Ntopng doesnot calculate traffic over 1 Gbps"
Ntopng - v.3.9.190910 [Enterprise/Professional build]****

when i run ntopng as below ntopng doesnot show traffic more then 1 Gbit by interface or by host traffic values but when i check with other tools or pfcount for example i clearly see that there is more then 2.5 Gbps traffic on interface.

ntopng -i zc:enp32s0f0 -X 15000000 -x 5000000 -m 10.0.0.0/8,172.16.0.0/12,192.168.0.0/16

Also host tra

[2019-09-10 18:27] dheerajmpai commented on #97
Why do you want to use the Nightly version. Why not use the stable one?

[2019-09-10 20:04] simonemainardi opened #2837 "Invalid unit name "ntopng@*" was escaped as "ntopng@\x2a" (maybe you should use systemd-escape?)"
This happens on debian 10. Issue has already been fixed on other older distros.

[2019-09-10 20:29] simonemainardi opened #2838 "Remove SNMP ratio column when SNMP devices are not configured"
It is requested to remove the SNMP ratio column from the flow devices page when no SNMP mapping is available.

[2019-09-10 20:32] simonemainardi commented on #2836
Check the interface stats page and look for drops. Do you have them?

I don't think you'll be able to do 2.5Gbps without RSS.

See https://www.ntop.org/ntopng/best-practices-for-running-ntopng/
Configure at least RSS=4
Then start ntopng with 4 zc interfaces and aggregate them using a view:

`-i zc:enp32s0f0@0 -i zc:enp32s0f0@1 -i zc:enp32s0f0@2 -i zc:enp32s0f0@3 -i view:zc:enp32s0f0@0,zc:enp32s0f0

[2019-09-10 20:35] simonemainardi commented on #2835
Please, show real numbers and an example. Note that if you use nProbe you'll receive traffic on a per-flow basis so you may need to wait until the flows are exported (typically every 1-2minutes) before having accurate traffic in ntopng.

[2019-09-11 07:44] simonemainardi opened #2839 "Malware category does not show up in the flows category filter"
Although there are flows categorized as malware, there is not malware category available for selection in the flows "Category" dropdown

![image](https://user-images.githubusercontent.com/3397663/64677868-b89d6e80-d478-11e9-8dbf-6edf0ffec30b.png)

[2019-09-11 07:46] simonemainardi opened #2840 "Operating System should be hidden when 'Unknown'"
Unknown appears in the host details page whereas it should be hidden. Only non-unknown OSes have to be shown.

![image](https://user-images.githubusercontent.com/3397663/64678025-03b78180-d479-11e9-8849-a7244b8fae9f.png)

[2019-09-11 07:48] simonemainardi opened #2841 "Ports 100% Other"
This chart is of no value. It should be fixed:

![image](https://user-images.githubusercontent.com/3397663/64678140-45482c80-d479-11e9-9367-c7daabb798c2.png)

[2019-09-11 08:34] lucaderi opened #2842 "Implement flow alerting script"
Currently host alerts are driven by scripts that are executed periodically on hosts. For flows, the flow state evaluation that turns them into alerts is mostly hardcoded in ntopng and mixed in C++ and Lua code. This means that
- ntopng arbitrarily decides what flows with issues becomes alerted flows
- it is not possible to specify rules that can modify the flow state into alerted

In essence it is

[2019-09-11 08:35] tercaneBay commented on #2836
Hi,

RSS=1,1,1,1 enable_debug=1 (ixgbe.conf under zc/ixgbe)
If i switch to RSS=4,4,4,4 then system failes and reboots itself.
Alfredo connected and fixed for me and set it as 1,1,1,1 then zc starts working on my system sir.

![Screen Shot 2019-09-11 at 11 30 12](https://user-images.githubusercontent.com/54889928/64681369-3e74e600-d488-11e9-934f-9e5d827bacef.png)

![Screen Shot 2019-09-11 at 11 32

[2019-09-11 08:45] lucaderi opened #2843 "Unify ZMQ graphs into a single one with overlapping series"
![Screen Shot 2019-09-11 at 10 44 11](https://user-images.githubusercontent.com/4493366/64682118-31082d80-d481-11e9-84eb-85aa47730485.png)

[2019-09-11 09:02] lucaderi opened #2844 "Create performance report in flow collection"
Flow collection (nProbe -> ntopng) performance changes according to the host speed, network size, number of flows etc.

It is requested to create a data table that contains some performance numbers that people can use to size their systems. In particular

- define what is the max nprobe/ntopng with no drops performance and specify on what hardware test have been performed.

- Report for some platf

[2019-09-11 09:08] simonemainardi opened #2845 "Add href links to historical charts"
In the if stats page there are several numbers that also have historical charts. When those charts are available it is requested to add hyperlinks

![image](https://user-images.githubusercontent.com/3397663/64682080-22217b00-d481-11e9-8982-3deec54789cc.png)

such as:

![image](https://user-images.githubusercontent.com/3397663/64683936-7ed26500-d484-11e9-9b9c-6ae4d8081807.png)

[2019-09-11 09:11] simonemainardi opened #2846 "Interface name in collector mode"
Ntopng says 'none' when it receives data from nProbe in collector mode. It should say 'collector'. Also the 1.0Gpbs should be 1Gpbs.

![image](https://user-images.githubusercontent.com/3397663/64684132-d53fa380-d484-11e9-819d-da02668a682a.png)

[2019-09-11 10:07] cardigliano commented on #2833
Custom elements are now encoded in TLV for flows received in TLV format (and converted to JSON when exported to Lua)

[2019-09-11 10:07] #2833 closed, assigned to cardigliano

[2019-09-11 10:17] lucaderi opened #2847 "Implement HTTP RTT Monitoring"
In the System -> RTT Monitor page it is requested to implement HTTP monitoring. Method Utils::httpGetXXX shall be enhanced to return via https://curl.haxx.se/libcurl/c/curl_easy_getinfo.html statistics like

- CURLINFO_NAMELOOKUP_TIME
- CURLINFO_APPCONNECT_TIME
- CURLINFO_TOTAL_TIME
...

To help finding out where is the performance hog. All various times must be serialised in timeseries but only t

[2019-09-11 10:18] simonemainardi opened #2848 "Hide certain interface stats info for ZMQ interfaces"
ZMQ interfaces show MySQL stats (even when MySQL is not used) and also RRD space used when InfluxDB is used. It is requested to hide these:

![image](https://user-images.githubusercontent.com/3397663/64689222-3750d680-d48e-11e9-8aa2-30d5b3634014.png)

[2019-09-11 10:19] cardigliano commented on #2836
@tercaneBay are you still experiencing crashes? Did you reproduce it with RSS=4,4,4,4? (note that RSS was set to 0,0,0,0 before, leading to 63 queues on your system)

[2019-09-11 10:22] tercaneBay commented on #2836
It crashes with 4,4,4,4 It only Works with 1,1,1,1 only.
Nothing else Works.

[2019-09-11 10:28] lucaderi opened #2849 "Missing home button from RTT page"
![Screen Shot 2019-09-11 at 12 27 56](https://user-images.githubusercontent.com/4493366/64689950-9e22bf80-d48f-11e9-8185-9d49c4a5b8f4.png)

[2019-09-11 10:30] lucaderi opened #2850 "Missing chart icon shortcut to alert timeseries"
![Screen Shot 2019-09-11 at 12 29 24](https://user-images.githubusercontent.com/4493366/64690058-d0342180-d48f-11e9-971d-734256ddef54.png)

![Screen Shot 2019-09-11 at 12 29 46](https://user-images.githubusercontent.com/4493366/64690102-ea6dff80-d48f-11e9-97e6-94c19ee641c8.png)

[2019-09-11 10:37] lucaderi opened #2851 "Missing timeseries of flows with warning"
Currently there are timeseries for active flows (regardless of their status). Alerted or flows with warning do not have a timeseries.

It is requested to create them and chart all of them on a single chart with all series. NOTE: flows with warnings/alerts cannot be depicted as stacked as the total flows already include those flows with alerts/warning.

![Screen Shot 2019-09-11 at 12 31 17](https:/

[2019-09-11 10:45] lucaderi opened #2852 "Glue up RTT data with hosts"
In the system interface RTT measurements are not glued with hosts. In the host page it is requested to add a new tab that allows to enable/disable/configure/access RTT measurements for such host on a simple and consistent way.

RTT charts for a given host must be accessed from the host chart in addition to the RTT page.

[2019-09-11 10:49] cardigliano commented on #2813
@dbailey-indofmd-org could you send me your orderid and email in a direct message to check the license please? Please use cardigliano at ntop.org. Thank you.

[2019-09-11 11:49] tercaneBay commented on #2836
This is the error on dmesg

[  335.370977] kernel BUG at /build/linux-3S1L3a/linux-4.15.0/drivers/pci/msi.c:352!
[  335.371059] invalid opcode: 0000 [#1] SMP PTI
[  335.371094] Modules linked in: nfnetlink_queue nfnetlink_log nfnetlink bluetooth ecdh_generic ixgbe_zc(OE-) vxlan ip6_udp_tunnel udp_tunnel uio pf_ring(OE) nls_iso8859_1 ipmi_ssif intel_rapl sb_edac x86_pkg_temp_thermal intel_powerclam

[2019-09-11 12:33] cardigliano commented on #2813
@dbailey-indofmd-org I think I found the reason, you are using a 10G license for a 1G adapter. Just to make sure, please provide ethtool -i eno1

[2019-09-11 12:46] dbailey-indofmd-org commented on #2813
Yes, it is 1G.  That was the license I was issued to begin with so I thought it was all the same.  Derp.

driver: e1000e
version: 3.4.0.2
firmware-version: 0.13-4
expansion-rom-version:
bus-info: 0000:00:19.0
supports-statistics: yes
supports-test: yes
supports-eeprom-access: yes
supports-register-dump: yes
supports-priv-flags: no

Thanks,

Derek Bailey
Network Administrator
Institute of Notre Dam

[2019-09-11 13:26] tercaneBay commented on #2835
Sir I think the reason being is this with nprobe. ;

![Screen Shot 2019-09-11 at 16 25 16](https://user-images.githubusercontent.com/54889928/64701123-d4bd0200-d4b0-11e9-85be-d163ea797128.png)

[2019-09-11 15:13] emanuele-f commented on #2803
Already addressed in #2821

[2019-09-11 15:13] #2803 closed, assigned to nobody

[2019-09-11 16:01] simonemainardi commented on #2829
issue is now fixed. It was due to the slowness of the minute.lua script which was taking too long to complete.

[2019-09-11 16:01] #2829 closed, assigned to nobody

[2019-09-11 16:13] radyphan commented on #2814
Hi,
Actually, I tried to put my API key few weeks ago but it still shown my location is in Italy.
Any solution?

Thank you,
Rady

[2019-09-11 16:27] #2846 closed, assigned to simonemainardi

[2019-09-11 17:45] simonemainardi commented on #2846
implemented

![image](https://user-images.githubusercontent.com/3397663/64715830-78161300-d4c1-11e9-935f-c71ecae537fb.png)

![image](https://user-images.githubusercontent.com/3397663/64715894-9419b480-d4c1-11e9-8f92-3af739b44c7d.png)

[2019-09-11 20:07] tercaneBay commented on #2835
So Sİnce you asked also for values here is the difference between nprobe/ntopng and comparison with snmp call as values.

SNMP
![Screen Shot 2019-09-11 at 23 00 02](https://user-images.githubusercontent.com/54889928/64730952-e5896a00-d4e8-11e9-8992-6e67399c3f76.png)

Ntopng/Nprobe
![Screen Shot 2019-09-11 at 23 00 41](https://user-images.githubusercontent.com/54889928/64730961-ec17e180-d4e8-11e9-9

[2019-09-12 07:23] lucaderi opened #2853 "Invalid timeseries data reported"
![Screen Shot 2019-09-12 at 09 20 43](https://user-images.githubusercontent.com/4493366/64762582-b3a2f280-d53e-11e9-9632-f7e9259fdb6a.png)

In the above screenshot the point of 09:20 is not yet in Influx but the chart is depicting it. As a user I would interpret the point as 0, that is not correct. So please make sure that when creating chart, points not yet written on the database are not set to

[2019-09-12 09:34] #2848 closed, assigned to nobody

[2019-09-12 12:22] cardigliano commented on #2836
@tercaneBay are you experiencing the crash when loading the driver/pf_ring or when running the application? In the latter case, please run the test below:

1. update to latest dev packages
2. set RSS=4,4,4,4 and reload pf_ring/drivers
3. run: pfcount -i zc:enp32s0f0@0 -R

and let me know if the crash occurs with this command (please also try without -R).
In case a crash occurs (with or without -R)

[2019-09-12 15:55] #2843 closed, assigned to simonemainardi

[2019-09-12 15:55] #2840 closed, assigned to cardigliano

[2019-09-12 16:17] #2838 closed, assigned to cardigliano

[2019-09-12 16:37] #2841 closed, assigned to cardigliano

[2019-09-12 17:01] simonemainardi commented on #2845
implemented

![image](https://user-images.githubusercontent.com/3397663/64804763-b0842280-d58f-11e9-94b3-eb05687201ce.png)

![image](https://user-images.githubusercontent.com/3397663/64804770-b5e16d00-d58f-11e9-9ed5-3d037ec3dc02.png)

[2019-09-12 17:01] #2845 closed, assigned to simonemainardi

[2019-09-12 17:06] tercaneBay commented on #2836
When running application.
Pfcount works perfectly with 4,4,4,4 with -R flag.
When i use pfcount without -R flag system crashes. with this dmesg output only then reboots;

[  146.048745] device lo entered promiscuous mode
[  148.995050] ixgbe 0000:20:00.0 enp32s0f0: NIC Link is Up 10 Gbps, Flow Control: RX
[  148.995272] IPv6: ADDRCONF(NETDEV_CHANGE): enp32s0f0: link becomes ready
[  269.715739] de

[2019-09-12 20:49] cardigliano commented on #2836
@tercaneBay I pushed some change to the RSS support, could you update again and check if "pfcount -i zc:enp32s0f0@0" is still creating issues (without -R)? Thank you.

[2019-09-13 07:51] #2837 closed, assigned to cardigliano

[2019-09-13 09:14] simonemainardi commented on #2839
Fixed in https://github.com/ntop/ntopng/commit/a44def039f2627e609f8c43aa7dd8b866feb6f55 and subsequent commits.

[2019-09-13 09:14] #2839 closed, assigned to simonemainardi

[2019-09-13 09:30] tercaneBay commented on #2836
@cardigliano : It start working without -R on pfcount but the thing is it only shows full traffic on first queue @0 only @1,2,3 shows 0 traffic.

On other hand when i test it with ntopng as @simonemainardi declared;
-i zc:enp32s0f0@0 -i zc:enp32s0f0@1 -i zc:enp32s0f0@2 -i zc:enp32s0f0@3 -i view:zc:enp32s0f0@0,zc:enp32s0f0@1,zc:enp32s0f0@2,zc:enp32s0f0@3

System crash and reboots rideaway.

[2019-09-13 09:35] cardigliano commented on #2836
@tercaneBay as I do not want to bother you with other tests, maybe it's better to let me connect to your system and debug this. Thank you.

[2019-09-13 10:30] simonemainardi commented on #2832
Implemented in:

https://github.com/ntop/ntopng/commit/77c1f85cd3a1047522cefee66724ee303e05ebd6
https://github.com/ntop/ntopng/commit/093a27cd7125e3db57da84e0b19a2a6a37bb8030
https://github.com/ntop/ntopng/commit/9c06fcfe93415b548e43c5fec1357fb68b12cb26

Now it is also possible to reset counters for ZMQ as well as for dynamic interfaces created using disaggregation criteria

[2019-09-13 10:30] #2832 closed, assigned to simonemainardi

[2019-09-13 10:32] simonemainardi commented on #2835
nProbe is dropping a large volume of messages. We have done several improvements on the nProbe/ntopng ZMQ protocol which is now compressed and uses TLV. can you please repeat the experiments with the very latest ntopng and nProbe.

Anyway, yes, the traffic shown is less because messages are dropped.

[2019-09-13 11:47] tercaneBay commented on #2835
Hi Sir,

As i declared i am using latest releases.

ntopng - v.3.9.190913 pro rev r2445
nprobe - v.8.7.190913 (r6618)

I test it both json,tlv compressed and uncompressed working types. Same results.

[2019-09-13 12:08] ghost commented on #2813
I emailed the results of that command to you.

[2019-09-13 12:55] cardigliano commented on #2813
Yes, you are using a 1G adapter (e1000e family) with a 10G license..

[2019-09-13 12:57] ghost commented on #2813
Got it.  Can you revoke my license and allow me to generate a new key?

[2019-09-13 13:39] simonemainardi commented on #2850
implemented

![image](https://user-images.githubusercontent.com/3397663/64866947-b1bf5900-d63c-11e9-8950-01e66671fe4b.png)

[2019-09-13 13:39] #2850 closed, assigned to simonemainardi

[2019-09-13 13:55] cardigliano commented on #2813
What pf_ring version are you running? Please provide "zcount -h | grep PFRING_ZC"

[2019-09-13 13:57] ghost commented on #2813
Using PFRING_ZC v.7.4.0.190828

[2019-09-13 14:23] simonemainardi commented on #2835
ok, let it run for a while, then send me the charts "Collected vs Dropped ZMQ Messages" and "ZMQ Received Flows", both accessible from the interface stats page, historical tab. Thanks.

[2019-09-13 14:50] simonemainardi commented on #2824
implemented. When SNMP is available, interface names and aliases are shown in place of just interface ids

![image](https://user-images.githubusercontent.com/3397663/64871977-9ce7c300-d646-11e9-8516-f7091a8032fb.png)

[2019-09-13 14:50] #2824 closed, assigned to nobody

[2019-09-13 15:14] cardigliano commented on #2813
@dbailey-indofmd-org a package update that tries to handle this case should be already available, please update and let us know if the license now works for you. Thank you.

[2019-09-13 15:29] ghost commented on #2813
Looks good now.  Is there an easy way to verify that the ZC drivers are working properly?  Do I need to add a line to my ntopng.conf file to start them?

zc:eno1 (XX:CC:XX:CC:XX:CC) | Permanent License | Maintenance will expire in 141 days
-- | -- | --

[2019-09-13 15:30] cardigliano commented on #2813
You can check it running
pfcount -i zc:eno1
(stop any application running on eno1 before)

[2019-09-13 15:45] ghost commented on #2813
Thanks for all your help.  Confirmed ZC driver is running.  I think this will really help performance.

Really appreciate your patience.

[2019-09-13 18:14] tercaneBay commented on #2835
Running with sampling of 2:2:2 and no sampling effects on graphs as you asked.

![Screen Shot 2019-09-13 at 21 10 01](https://user-images.githubusercontent.com/54889928/64884810-40e36580-d66b-11e9-8c8b-648f942edbdd.png)

Note: This is the nprobe running with params minimal drops and also closest to host traffic values. But totaly off interface values.

#Nprobe Running Command ;
nprobe --zmq tcp://

[2019-09-15 10:23] lucaderi opened #2854 "Add TLS Certificate Fingerprint Support"
As nDPi now supports TLS certificate fingerprint, ntopng should also support it, remember the fingerprint for a given TLS server and trigger an alert when such fingerprint changed

[2019-09-16 07:51] simonemainardi commented on #2814
Reported behaviour is OK.  You are looking for a private IP address (see https://en.wikipedia.org/wiki/Private_network#Private_IPv4_addresses). IP addresses cannot be geolocated using a database. I am going to hide the page for such private addresses.

[2019-09-16 07:51] #2814 closed, assigned to nobody

[2019-09-16 07:59] simonemainardi commented on #2810
@walker333 so I'm closing this for now. If you could try the dev and let us know that would be great, feel free to reopen if necessary. To move to the dev build on Centos you just have to follow instructions at http://packages.ntop.org/centos/. Otherwise you can wait for the stable which should arrive by the end of October.

[2019-09-16 07:59] #2810 closed, assigned to nobody

[2019-09-16 08:02] simonemainardi commented on #2532
@HoseinKashefi the implementation of a compressed, more efficient ZMQ encoding is completed and supported now by both nprobe and ntopng. Can you please try and update them to see if your issue is still occurring. Thank you.

[2019-09-16 09:59] HoseinKashefi commented on #2532
@simonemainardi thank you. I will update the packages.

[2019-09-16 14:02] walker333 commented on #2810
Hello,
I just tried the last nightly build, using a vm image of my ntop, and I found that the bug I mentioned, is fixed.

[2019-09-17 07:52] emanuele-f commented on #2853
Issue seems fixed.

[2019-09-17 07:52] #2853 closed, assigned to nobody

[2019-09-17 09:22] cardigliano commented on #2815
Fixed

# ls -al /etc/logrotate.d/ntopng
-rw-r--r-- 1 root root 151 Sep 17 11:06 /etc/logrotate.d/ntopng

[2019-09-17 09:22] #2815 closed, assigned to cardigliano

[2019-09-17 13:57] emanuele-f commented on #2753
I've tested it in multiple situations, namely:

- Connection absent
- Server unreachable
- Connection timeout

in all the case I get a meaningful message. Please post again a screenshot of the Category Lists Page . Please also edit `/var/lib/ntopng/scripts/lua/modules/lists_utils.lua` and add a `tprint(res)` at the following line: https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/lists_u

[2019-09-17 14:09] #2849 closed, assigned to emanuele-f

[2019-09-17 14:18] emanuele-f commented on #2655
Other probe types will be addressed in #2847

[2019-09-17 14:18] #2655 closed, assigned to emanuele-f

[2019-09-17 17:55] radyphan commented on #2814
Hi,
Actually, I use IP local for this purpose, as i was forwarding my IP to
outside for security purpose.

Please advice if geolocated cannot be done on ip forward.

Thank you,
Rady

On Mon, Sep 16, 2019 at 12:51 AM simonemainardi <notifications@github.com>
wrote:

[2019-09-17 19:00] StewAlexander-com commented on #2753
![image](https://user-images.githubusercontent.com/48565067/65070804-48e92100-d95b-11e9-8df6-f8c22f321e7e.png)

Some now are downloading after upgrading, error message still says "an unknown error has occurred" before making the change to the script requested above

[code]

[2019-09-17 19:01] StewAlexander-com commented on #2753
[code]

[2019-09-17 19:02] StewAlexander-com commented on #2753
[code]

From here, go where?

[2019-09-17 19:03] StewAlexander-com commented on #2753
FYI:
[code]

[2019-09-18 07:43] emanuele-f commented on #2753
Wrong path sorry, please use `/usr/share/ntopng/scripts/lua/modules/lists_utils.lua`

[2019-09-18 12:46] StewAlexander-com commented on #2753
Perhaps I'm not understanding, because the file you referenced doesn't have the link you said (see screen captures below), do you want me to post the contents of the file?

 I clicked your github link and it showed more data, is there something from that I am expected to copy, if so where? Please be explicit.

Thanks ...

![image](https://user-images.githubusercontent.com/48565067/65149403-04f42b8

[2019-09-18 12:54] simonemainardi commented on #2835
if you've configured RSS, then note that you are only monitoring queue number 0 with the configuration above -- check it.

Also the affinity is not properly set. Just use a single number representing the core id to which the capture thread will be bound.

Then use option -w to increase the hash size of nprobe, and don't make timeouts so short, use at lease -t 30 and -d 30.

[2019-09-18 12:55] simonemainardi commented on #2807
Implemented. Flow alerts now go into the view interface.

[2019-09-18 12:55] #2807 closed, assigned to nobody

[2019-09-18 12:59] simonemainardi commented on #2834
duplicate of #2513

[2019-09-18 12:59] #2834 closed, assigned to emanuele-f

[2019-09-18 13:00] simonemainardi commented on #2513
For the expired certificates it is requested to use the newest nDPI TLS certificate validity (notAfter/notBefore) extension.

[2019-09-18 21:14] lucaderi opened #2855 "Unify the alert/flow script UI"
In order to have a consistent GUI, the GUI for alert/flow scripts must be consistent with ntopng look and feel. Please change the checkbox to the on/off toggle used in preferences.

![Screen Shot 2019-09-18 at 23 12 10](https://user-images.githubusercontent.com/4493366/65186366-cdc26080-da69-11e9-8060-b94200401e3b.png)
![Screen Shot 2019-09-18 at 23 12 02](https://user-images.githubusercontent.com

[2019-09-18 21:16] lucaderi opened #2856 "Make alert generation asynchronous"
When an alert is generated, ntopng writes onto SQLite that introduces several performance degradation issues. Instead of writing directly to it, it is necessary to write through a cache (e.g. redis) to speedup scripts and reduce waits due to the database.

[2019-09-19 07:47] simonemainardi commented on #2814
Geolocation works for non-private IP addresses. It's pointless to geolocate IPs in private ranges.

[2019-09-19 07:48] lucaderi opened #2857 "Invalid alert disable behavior"
Clicking on disable the alert selected
![disable](https://user-images.githubusercontent.com/4493366/65223965-84eac600-dac2-11e9-9c2c-b847b13a30ac.png)
- does not show this as an icon
- it still keeps the disable button (it should disappear)

[2019-09-19 07:52] lucaderi opened #2858 "Missing host alert icon"
When a host has one or more alerts as in the picture below
![Screenshot from 2019-09-19 09-50-40](https://user-images.githubusercontent.com/4493366/65224198-ff1b4a80-dac2-11e9-891e-1c267374af03.png)
ntopng must add an icon next to the host (same al the country flag, dropbox...) that notifies this state

[2019-09-19 07:56] lucaderi opened #2859 "Inconsistent alert endpoint behaviour"
![Screenshot from 2019-09-19 09-54-41](https://user-images.githubusercontent.com/4493366/65224488-908abc80-dac3-11e9-9fa5-5a8f47942f36.png)
The above behaviour is inconsistent. In case "Webhook Notification" is ON the subpane with parameters is open, or removed when set to OFF. The same does not happen when clicking on "Alerts to Third-Party Endpoints" that needs to implement the same behaviour of

[2019-09-19 08:13] lucaderi opened #2860 "Hosts flow alerts must be clickable"
![Screenshot from 2019-09-19 10-06-08](https://user-images.githubusercontent.com/4493366/65225715-e2ccdd00-dac5-11e9-861d-f76a96592547.png)

The column of misbehaving flows (value 1,233) must be clickable and should contain an anchor to the host misbehaving flows.

[2019-09-19 08:14] lucaderi opened #2861 "Invalid number formatting"
![Screenshot from 2019-09-19 10-06-08](https://user-images.githubusercontent.com/4493366/65225877-2c1d2c80-dac6-11e9-82e2-557e0bda5043.png)
The number formatting (1233) is inconsistent across columns: it must be unified in all pages displayed.

[2019-09-19 08:16] lucaderi opened #2862 "Add live flow alert exploration"
In /lua/bubble.lua add a new script that creates a host bubble for the top X hosts (this to avoid filling up the screen) wthere
- X axis: number of alerted flows as client
- Y axis: number of alerted flows as server
- bubble size: total number of alerted flows.

[2019-09-19 08:18] lucaderi opened #2863 "Add alerted flow info on footer"
Similar to what happens with local/remote hosts, report the number of flows unalerted/alerted

![Screenshot from 2019-09-19 10-17-11](https://user-images.githubusercontent.com/4493366/65226245-d09f6e80-dac6-11e9-954b-8d3ecd82f21a.png)

[2019-09-19 08:21] lucaderi opened #2864 "Unify alert representation"
![Screenshot from 2019-09-19 10-19-30](https://user-images.githubusercontent.com/4493366/65226378-080e1b00-dac7-11e9-968b-730c996fba35.png)
In this image there are a few inconsistencies
- some protocol (TCP) are in red and some in black. As we decided to put a yellow icon for flows with issues, the red must be removed and the icon placed next to every flow with issues

[2019-09-19 08:30] lucaderi opened #2865 "Inconsistent hover flow status display"
![Screenshot from 2019-09-19 10-28-58](https://user-images.githubusercontent.com/4493366/65227085-4f48db80-dac8-11e9-9851-224267efa39d.png)
![Screenshot from 2019-09-19 10-24-50](https://user-images.githubusercontent.com/4493366/65227086-4f48db80-dac8-11e9-8c83-0dcd55f676ef.png)

Moving the mouse over the yellow icon (in flow list) shows "retransmission" as issue, but clicking in the flow view ano

[2019-09-19 08:36] lucaderi opened #2866 "Anomalous vs Misbehaving needs to be reconciled"
in the ntopng GUI we use the term misbehaving to indicate something that is not fully "normal" or "expected". In the ntopng code the term "anomaly" is used and this is inconsistent. For instance in Host.cpp

 lua_push_uint64_table_entry(vm, "active_flows.as_client", getNumOutgoingFlows());
  lua_push_uint64_table_entry(vm, "active_flows.as_server", getNumIncomingFlows());
  lua_push_uint64_table_e

[2019-09-19 08:54] lucaderi opened #2867 "Wrong host counters"
![Screenshot from 2019-09-19 10-48-43](https://user-images.githubusercontent.com/4493366/65228991-c469e000-dacb-11e9-9540-238bd6736510.png)

This host has not sent/received any packet but created many flows, several retransmissions.....

use this https://www.malware-traffic-analysis.net/2019/09/18/2019-09-18-Emotet-infection-with-spambot-traffic-and-Trickbot.pcap.zip pcap to reproduce it

[2019-09-19 09:10] lucaderi opened #2868 "Invalid graph scale"
![zero](https://user-images.githubusercontent.com/4493366/65230359-0431c700-dace-11e9-9055-3c7988389edb.png)
 In the above chart the top value is 0, that is not the bottom value that is still zero. In a nutshell this chart has to be redesigned

[2019-09-19 10:35] #2867 closed, assigned to simonemainardi

[2019-09-19 12:27] #2865 closed, assigned to simonemainardi, emanuele-f

[2019-09-19 13:14] simonemainardi commented on #2863
implemented

![image](https://user-images.githubusercontent.com/3397663/65247177-33593000-daf0-11e9-8a20-8ce4b39f43c5.png)

[2019-09-19 13:14] #2863 closed, assigned to simonemainardi

[2019-09-19 13:29] simonemainardi commented on #2864
Done in https://github.com/ntop/ntopng/commit/e720708ea1d844eac218ba32eae5995063e699d0

[2019-09-19 13:29] #2864 closed, assigned to emanuele-f

[2019-09-19 13:42] #2861 closed, assigned to simonemainardi

[2019-09-19 15:10] lucaderi opened #2869 "Create an API for Alert Hooks"
It would be nice to create a public API for people that are willing to create new alert hooks. For instance for integrating services ntopng does not yet support such as Pagerduty or Telegram

[2019-09-19 15:13] lucaderi opened #2870 "Custom Alert Scripts"
As of today triggered alerts don't have the ability to choose what hook to call. It would be nice that alert type X or alerts coming from host Y call hook Z, instead of all scripts calling the same hook.
In essence it is requested to create a "named" hook (let's say hook-luca, hook-ntop, hook-home) and set a default hook. Alerts can have (for host alerts you can go in the alert page under the host

[2019-09-19 15:15] lucaderi opened #2871 "Improve nScrub Integration"
Currently nScrub cannot be triggered by ntopng. Once implemented #2869 it would be nice to have the ability for ntopng to execute an action on nScrub when specific traffic conditions happen.

[2019-09-19 15:15] simonemainardi commented on #2858
Icon added

![image](https://user-images.githubusercontent.com/3397663/65256721-4673fc00-db00-11e9-93da-12e283e49e06.png)

Note that the icon only appears when there are currently engaged alerts, that is currently ongoing problems. As the column total alerts counts both current and past alerts, we decided not to show the icon when only past alerts are present. This is to remain consistent with the

[2019-09-19 15:15] #2858 closed, assigned to simonemainardi

[2019-09-20 03:37] jedi0605 commented on #2447
Hi,
I want to know.
Does the InfluxDB have the Ip traffic source/destination information?
Thank you. Regards

Emanuele Faranda <notifications@github.com> 於 2019年3月27日 週三 下午6:26寫道：

[2019-09-20 08:31] simonemainardi commented on #2855
implemented both for alerts and flow scripts

![image](https://user-images.githubusercontent.com/3397663/65311845-95b63d00-db91-11e9-8d51-e52f46909d9e.png)

![image](https://user-images.githubusercontent.com/3397663/65311859-a23a9580-db91-11e9-8a55-eb2712a43eac.png)

[2019-09-20 08:31] #2855 closed, assigned to simonemainardi

[2019-09-20 08:55] emanuele-f commented on #2753
The github link tells the exact point where to insert the `tprint(res)`. You should edit your local file `/usr/share/ntopng/scripts/lua/modules/lists_utils.lua` and place the `tprint(res)` at line 301

[2019-09-20 09:24] emanuele-f opened #2872 "n2disk license validation error"
The new license format is not recognized by the ntopng lint

[2019-09-20 10:12] #2872 closed, assigned to emanuele-f

[2019-09-20 11:21] EpiqSty opened #2873 "ntopng[<pid>]: [timeseries.lua:16] [influxdb.lua:674] ERROR: Cannot find ts file /var/lib/ntopng/<instance_name>/21/ts_export/7207_1568957482. Some timeseries data will be lost."
We are experiencing repetative issues with ntopng export to influxdb. It produce log messages like:

`ntopng[<pid>]: [timeseries.lua:16] [influxdb.lua:674] ERROR: Cannot find ts file /var/lib/ntopng/<instance name>/21/ts_export/7207_1568957482. Some timeseries data will be lost.`

And in the GUI we see messages, what ntopng trying to establish connection to influxdb but fails.

The question is, wh

[2019-09-20 12:38] lucaderi opened #2874 "Implement OS distribution"
ntopng is able to detect the OS of hosts, and thus is able to bind to flows the OS behind it. It is requested to save these stats on the timeseries database so that we can make stats about OS usage of the network traffic

[2019-09-20 12:51] StewAlexander-com commented on #2753
Ah, thank you

Added it like so:

![image](https://user-images.githubusercontent.com/48565067/65328172-afe91e80-db83-11e9-87df-c11fdd57e0fd.png)

[2019-09-20 12:54] StewAlexander-com commented on #2753
Updated the following:
![image](https://user-images.githubusercontent.com/48565067/65328395-3dc50980-db84-11e9-8ce7-a235b53e09ae.png)

No console output:
![image](https://user-images.githubusercontent.com/48565067/65328427-4fa6ac80-db84-11e9-882a-16a04b520bb9.png)

[2019-09-20 12:57] StewAlexander-com commented on #2753
Tried with a different list:
![image](https://user-images.githubusercontent.com/48565067/65328485-71079880-db84-11e9-91d4-789e4baa6203.png)

No console level messages, but I do see this:
![image](https://user-images.githubusercontent.com/48565067/65328565-9b595600-db84-11e9-9b6d-48f12df07a58.png)

[2019-09-20 12:57] StewAlexander-com commented on #2753
Question: after updating the file you requested should I restart Ntopng?

[2019-09-20 12:58] StewAlexander-com commented on #2753
Got this alert in Slack:
![image](https://user-images.githubusercontent.com/48565067/65328686-dbb8d400-db84-11e9-9b98-43d6a0b670eb.png)

[2019-09-20 13:06] #2868 closed, assigned to emanuele-f

[2019-09-20 14:44] simonemainardi commented on #2852
implemented

![image](https://user-images.githubusercontent.com/3397663/65336023-d7f97180-dbc5-11e9-9f08-f386592b9262.png)

[2019-09-20 14:44] #2852 closed, assigned to nobody

[2019-09-20 14:47] simonemainardi commented on #2873
ntopng retries automatically to reconnect to influxdb but if it continuously fails, at some point it starts dropping data to avoid queues to grown indefinitely.

Please, show the errors you see in the gui under tab System->Influxdb

what do you mean?

[2019-09-20 16:55] emanuele-f commented on #2753
According to your screenshot, line 307 should be the right place to place the `tpring` in your version of ntopng .
It seems like you have DNS resolution issues. From the ntopng "System" settings you can click on "RTT monitor" and add an host `ransomwaretracker.abuse.ch`. ntopng will periodically try to resolve the host, maybe it will be helpful to understand what's going on

[2019-09-22 12:14] tercaneBay commented on #2835
i write back as soon as we fix zc bug with alfredo atm only one rss queue is working and all traffic passing through it, the other 3 rss queue no traffic passes.

I write back as soon as we solve zc problem.

[2019-09-22 23:20] ghost opened #2875 "Disaggregation Top Senders/Receivers mismatch"
Hello,

I'm using probe IP disaggregation method.

To pinpoint heavy users we like to see top senders/receivers for a particular disaggregated site.

But instead of seeing IP addresses for that site, we only see them for the headquarter's site.

![Screenshot_2019-09-23_09-16-39](https://user-images.githubusercontent.com/38232155/65395837-3b141f80-dde3-11e9-9752-f80b9c475a17.png)

Are we configurin

[2019-09-23 06:46] EpiqSty commented on #2873
@simonemainardi , in System -> Influxdb it looks like this:

HealthCurrent InfluxDB export health. | Temporarily unable to exportCurrently unable to export to InfluxDB. Retry in progress.
-- | --
Storage Utilization Total disk space used by InfluxDB. | 13.74 GB
RAM Total memory InfluxDB has obtained from the operating system. | 20.07 GB
Total Exports Total number of successful writes into InfluxDB

[2019-09-23 07:41] emanuele-f commented on #2873
You should not get the `Cannot find ts file`, it is the reason why ntopng reports a temporary export failure. Can you post your `/etc/ntopng/ntopng.conf`?

[2019-09-23 07:44] emanuele-f commented on #2875
Are you selecting the correct disaggregated interface from the "Interface" menu entry? If you look at the active hosts (click on the green badge in the footer), can you see all the site hosts there?

[2019-09-23 07:55] emanuele-f commented on #2869
Something is already documented in https://github.com/ntop/ntopng/blob/dev/doc/README.alerts but a more precise api is needed

[2019-09-23 07:58] emanuele-f commented on #2859
The problem here is that we need a two level item hide logic, which is currently unsupported. I'll check if we can remove the "Third-Party Endpoints" preference

[2019-09-23 08:32] #2860 closed, assigned to emanuele-f

[2019-09-23 08:50] #2859 closed, assigned to emanuele-f

[2019-09-23 13:43] simonemainardi commented on #2804
It is safe to stop ntopng and manually delete the directories if necessary. This clearly will wipe all interface data so do this only if you are OK with losing such data.

[2019-09-23 14:01] emanuele-f commented on #2857
The issue was probably caused by an expired CSRF token. With beddb433b7202b328aa7f5566a85da2ded679226 such events are notified to the user with a warning.

[2019-09-23 14:01] #2857 closed, assigned to emanuele-f

[2019-09-23 14:53] lucaderi opened #2876 "Invalid long-lived flow when talking with broadcast/multicast address"
![Screen Shot 2019-09-23 at 16 50 40](https://user-images.githubusercontent.com/4493366/65436483-7f72e000-de22-11e9-8ed0-b20c496931b2.png)

[2019-09-23 14:59] lucaderi opened #2877 "Inconsistent number of alerted flows reported"
![Screen_Shot_2019-09-23_at_16_55_31](https://user-images.githubusercontent.com/4493366/65436996-5010a300-de23-11e9-9818-603c2fa668ea.png)

[2019-09-23 15:49] simonemainardi opened #2878 "Inconsistent number of total alerts when following the hyperlink"
host says total alerts 12

![image](https://user-images.githubusercontent.com/3397663/65441232-57877a80-de2a-11e9-84ed-3a40751810cf.png)

but after clicking the hyperlink, a page with 259 past alerts is opened

![image](https://user-images.githubusercontent.com/3397663/65441276-69691d80-de2a-11e9-86f2-a0f9d1de20d5.png)

[2019-09-23 15:50] StewAlexander-com commented on #2804
@simonemainardi - fair enough, thank you, feel free to close this ticket

[2019-09-23 15:54] #2804 closed, assigned to simonemainardi

[2019-09-23 17:00] #2876 closed, assigned to simonemainardi

[2019-09-23 17:05] emanuele-f commented on #2878
Note: total is "since startup". This is inconsistent everywhere if this is the case

[2019-09-23 22:01] ghost commented on #2875
Yes, I am selecting the correct interface, that is how I arrived at the page you see in the screenshot.
Under active hosts green badge, I see all hosts for all interfaces.

Do you need me to dump my configuration files?

[2019-09-23 22:29] ghost commented on #2875
/etc/nprobe/nprobe-none.conf
[code]

/etc/ntopng/ntopng.conf
[code]

[2019-09-24 02:20] ricxsar opened #2879 "Nedge: setting users and policies programmatically doesn't work"
I'm trying to set users and policies programmatically by following [this](https://www.ntop.org/guides/nedge/users.html) but I can't get this work.

Is this working? Is there a need for license?

[2019-09-24 08:08] emanuele-f commented on #2875
When you apply disaggregation, each disaggregated interface should show a portion of the traffic, so it is not normal that you see all the hosts into a single interface.

Can you upgrade to the nightly version? In the first screenshot you can see that the table reports 20 rows whereas only 1 is shown, so I think this is a bug. This may be already fixed in the nightly version. Please refer to the i

[2019-09-24 08:09] emanuele-f commented on #2879
Pleaase post the output of `ntopng --version` and the exact command you are using to set the policies.

[2019-09-24 08:10] EpiqSty commented on #2873
Here is a config of one instance:
[code]

we have 5 instances with different name, data-dir, redis-id, and zmq inputs.
After ` systemctl restart ntopng@voip_internal.service` it shows no errors, and proceeds with export.

[2019-09-24 09:07] ricxsar commented on #2879
![image](https://user-images.githubusercontent.com/8968902/65497879-8a467700-deed-11e9-94cf-6b5890aa6abe.png)

I'm also using the [one](https://github.com/ntop/ntopng/blob/dev/tools/serve_bridge_config.py) as the sample users and policies.

[2019-09-24 09:13] ricxsar commented on #2879
I have also followed the instructions
![image](https://user-images.githubusercontent.com/8968902/65498429-7b13f900-deee-11e9-840d-9da2f01bf6b5.png)
And verified that the python script is working
![image](https://user-images.githubusercontent.com/8968902/65498526-a3035c80-deee-11e9-9287-23f5f1c40454.png)

[2019-09-24 10:11] emanuele-f opened #2880 "Malicious signature alert should report if the alert is on the client or the server"

[2019-09-24 11:32] #2880 closed, assigned to emanuele-f

[2019-09-24 14:22] simonemainardi opened #2881 "Inconsistent number of misbehaving flows when following the hyperlink"
clicking on

![image](https://user-images.githubusercontent.com/3397663/65520077-4e101800-dee7-11e9-89a0-c556184616c9.png)

opens a page with no misbehaving flows

![image](https://user-images.githubusercontent.com/3397663/65520125-6122e800-dee7-11e9-815a-d7dfb2b3a3fe.png)

as the number in the first table represent the total number of misbehaving flows (both present and past), the hyperlink shoul

[2019-09-24 22:16] ghost commented on #2875
Thanks, @emanuele-f
Have upgraded to ntopng Enterprise Edition v.3.9.190924 - looks like a lot of work since 3.8.190605!
I'm sorry to say the top senders/receivers are still from all sites, and the list is clipped.
Is there a mass-data purge I can do? Clear out old data that may be damaging this? I don't mind starting fresh...just rather not re-install the OS.

[2019-09-25 03:51] ghost commented on #2875
It's also often unable to present _any_ top senders/receivers, in spite of the time range.

[2019-09-25 11:10] emanuele-f opened #2882 "[nEdge] DNS replies not captured"
nEdge does not see DNS replies. This produces DNS ratio alerts

[2019-09-25 11:12] emanuele-f opened #2883 "[nEdge] DNS traffic not blocked"
This can be tested by setting a block policy on social networks and test it with Facebook

[2019-09-25 15:29] cardigliano commented on #2816
Open items:
- ~~Dynamic interfaces are added to an hash table, this is also used for flow purging and other stuff, it is convenient to add dynamic interfaces and custom sub-interfaces to the same data structure~~
- ~~Filter validation happens on submit now, better to validate it live while typing~~
- ~~Make sure that the user notice that a ntopng reboot is requires after configuring sub-interfaces

[2019-09-26 01:01] ricxsar commented on #2879
Any update on this?

[2019-09-26 07:54] emanuele-f opened #2884 "Preference to reduce the timeseries resolution"
ntopng now supports increasing the timeseries resolution when InfluxDB is in place. However it should also be possible to decrease the resolution, for example dumpling L7 data every 15 minutes.
Note: `top_talkers_utils.makeTopJson` re-iterates the hosts. Maybe it can be optimized by piggiebacking the iteration done for the timeseries.

[2019-09-26 08:24] emanuele-f commented on #2879
Please note that nEdge requires a license, you can request a demo license via http://www.ntop.org/support/need-help-2/contact-us . I also suggest you to use the dev version (by installing the nightly repository from http://packages.ntop.org/) as it provides a lot of improvements and fixes over the stable version.

[2019-09-26 11:30] emanuele-f commented on #2883
Fixed with https://github.com/ntop/nDPI/commit/937dcb38eacec02cf7fc8aa6f587caf98b545a4b and e80b2cf89560f70d800e1a4037a5092d81b615d9 . This is what happened during the detection:

[code]

[2019-09-26 11:33] emanuele-f commented on #2882
Fixed in 6ca08e91fc48823bf8987c7482bb593b1e0f6301

[2019-09-26 13:16] emanuele-f commented on #2883
There is another bug preventing some flows to be correctly classified. The detection giveup is only performed after a lot of packets are already passed. This happens because of a delay between the packets stats increment. This also has an high performance impact on unknown flows (often some TLS flows).

[2019-09-26 15:59] #2816 closed, assigned to lucaderi, cardigliano

[2019-09-27 02:54] ricxsar commented on #2879
I'm done sending a request for a demo license. I will try to install the nightly version to check if the problem is resolve.

I will update you when the I have the license as soon as possible.

[2019-09-27 07:11] EpiqSty commented on #2873
I got a bit more details, regarding such issue, seems it always starting happening after temporary memory issues, i found such logs:
`[Redis.cpp:507] ERROR: MISCONF Redis is configured to save RDB snapshots, but is currently not able to persist on disk. Commands that may modify the data set are disabled. Please check Redis logs for details about the error.`
at the redis log  :
[code]
The question,

[2019-09-27 07:52] emanuele-f commented on #2873
It seems like such corner case (non existing timeseries file) is not handled properly, so ntopng will treat it as a generic export error and will retry the export until the export queue is so long that it must be trimmed. This is something to fix, however you don't want to run out of free disk space

[2019-09-27 08:19] #2873 closed, assigned to nobody

[2019-09-27 08:22] simonemainardi commented on #2873
Thanks for reporting. Issue should be fixed and will be available in the next dev build.

As you can see from your errors, it seems there are temporary persistency issues on your system. Indeed, also redis is failing to write to disk. So very likely what happens is that also ntopng fails to write export files to disk and so, it when it is time for the actual export, those files are missing. Now th

[2019-09-27 08:35] simonemainardi commented on #2877
fixed in https://github.com/ntop/ntopng/commit/68b7d484636222c9e10ece7b545a53d028ef967e

[2019-09-27 08:35] #2877 closed, assigned to simonemainardi

[2019-09-27 08:42] simonemainardi commented on #2879
did you remove the comment (ie, the double dash) from `http_bridge_conf_utils.HTTP_BRIDGE_CONFIGURATION_URL`?

You can also enable:

![image](https://user-images.githubusercontent.com/3397663/65755264-108fd280-e113-11e9-9c50-f97667f13767.png)

to have verbose information output to the logs when users and policies are set programmatically.

[2019-09-27 17:24] emanuele-f commented on #2883
Issues addressed in commits:

- https://github.com/ntop/nDPI/commit/7c788f0779c017f17110bff90da5467dece85638
- https://github.com/ntop/ntopng/commit/62f136cc089c849addf330b219241257502f93ef
- https://github.com/ntop/ntopng/commit/348fb174f52bd4871f43f7a7edf4f5674056d96e

[2019-09-27 17:24] #2883 closed, assigned to emanuele-f

[2019-09-27 17:30] emanuele-f commented on #2882
After the today nDPI fixes the issue appears again. The DNS flows are now classified in the first packet, we need a mechanism to bring up the DNS reply in nEdge

[2019-09-29 05:12] Zeke0n opened #2886 "nDPI: no hostname logging of http when dump flows to logstash or elasticsreach"
as we can see, when running `ndpiReader` is able to captured HTTP hostname, but `HTTP_HOST` of log field is empty even ntopng running under `--dump-hosts=all` mode, still not able to getting `HTTP_HOST`.

how can I get all `HTTP_HOST`?

eg:
[code]

log sample:
[code]

[2019-09-30 00:46] ricxsar commented on #2879
Hi @simonemainardi

Sorry for the late response. Yes, I've removed the comment containing the `http_bridge_conf_utils.HTTP_BRIDGE_CONFIGURATION_URL = "localhost:8000"` and commented the empty one.

[2019-09-30 01:40] ricxsar commented on #2879
Update: All is working now. I have updated the package to nightly builds and applied the Demo License.

I am just puzzled at the list of users. It seems that user `simon` is duplicated but on the `Manage Users`, there is only one.

![image](https://user-images.githubusercontent.com/8968902/65843817-37921280-e366-11e9-8688-8f1a186c146f.png)

![image](https://user-images.githubusercontent.com/896890

[2019-09-30 10:10] emanuele-f commented on #2882
There is currently no requirement to implement DNS replies dissection in nEdge so this alert has been disabled in 35e3a2f20c42e66fc25fae063648207e58be0b62 .

[2019-09-30 10:10] #2882 closed, assigned to emanuele-f

[2019-09-30 10:12] lucaderi opened #2888 "Rework Alerts Menu"
The alert logic is broken as the same page contains
- alert browsing (tabs "Past Alerts" and "Flow Alerts")
- alert configuration ("Minute".... "Settings")

![Screen Shot 2019-09-30 at 12 08 55](https://user-images.githubusercontent.com/4493366/65869627-20115480-e37b-11e9-842f-b7da348635af.png)

This logic must be keep split so users know when they are configuring alerts and when they are browsing

[2019-09-30 10:14] lucaderi opened #2889 "Rework System Menu"
The system menu must be reworked. It has to be split in two sections:
- the first one contains probes for Influx, Redis...
- the second one has probes such as the RTT monitor.

Note that the second section is dynamic and it is populated according to the probes being configured on ntopng.

![Screen Shot 2019-09-30 at 12 13 12](https://user-images.githubusercontent.com/4493366/65870054-b776a780-e37b

[2019-09-30 10:23] emanuele-f opened #2890 "Add a new populated row when clicking rtt cog icon in host probes"
![2019-09-30_12-22](https://user-images.githubusercontent.com/5488003/65870664-411e7900-e36c-11e9-8e8f-7b422e13ef39.png)

[2019-09-30 14:51] lucaderi opened #2891 "Invalid menu combination"
TCP state filtering should apply only to TCP flows, and it has to be reset for non-TCP flows otherwise the search results will be empty as int he picture below.

![Screen Shot 2019-09-30 at 16 49 19](https://user-images.githubusercontent.com/4493366/65889940-5f06d080-e3a2-11e9-93b4-f4da430e1622.png)

[2019-09-30 15:00] emanuele-f opened #2892 "Applications menu is inconsistent"
I have both `TLS.Facebook` and `DNS.Facebook` flows. The menu however only shows `Facebook` and `DNS` entries, `TLS` is missing (note: clicking DNS brings up both DNS only and DNS.Facebook flows):

![photo_2019-09-30_16-56-26](https://user-images.githubusercontent.com/5488003/65890562-966d8100-e392-11e9-96c5-1c7c7f7319a7.jpg)

Manually changing the URL to `application=TLS` shows this TLS flow:

![

[2019-09-30 17:45] simonemainardi opened #2893 "Migrate mud.lua to the new flow API"
Calling Flow::lua for every flow was too expensive in terms of computational costs. For this reason, Flow::lua has been refactored into several smaller methods which can be called directly to only retrieve what is actually necessary.

It is requested to migrate mud.lua to use the new api as documented at https://github.com/ntop/ntopng/blob/dev/doc/README.developers.flow_lua_callbacks.md#obtaining-

[2019-10-01 10:47] venkatramanh265 opened #2894 "ntopng is not posting alert info to webhook when it detects the alert"
Hi ,

I have created one webhook and I have configured it in the alert endpoint of ntopng preference when I click on send test message , it triggers the webhook and I am receiving the body as{"version":"0.2","sharedsecret":"","alerts":[ ]}.
According to my understanding whenever an alert is detected the same should be sent to this webhook but even though I can see enaged alerts in the detected ale

[2019-10-01 13:02] simonemainardi opened #2895 "Split score.lua in two"
Current script `pro/scripts/callbacks/interface/alerts/flow/score.lua` in shall be split in two:

- one part which increases the score according to ntopng (score_ntopng.lua)
- one part which increases the score according to the results returned by suricata (score_suricata.lua)

When suricata is disabled, score_suricata.lua shall return false from the setup() method so that the script won't be run

[2019-10-02 05:47] emanuele-f commented on #2894
Could not reproduce. I can correctly receive flow and hosts alerts. The output above should only be sent if you press the "Send Test Message"

[2019-10-02 05:51] emanuele-f opened #2896 "Threshold alerts on network interface not working"

[2019-10-02 09:32] emanuele-f commented on #2896
Alert was disabled, it works fine

[2019-10-02 09:32] #2896 closed, assigned to nobody

[2019-10-02 12:43] simonemainardi commented on #2879
I think all the changes have brought the system in an inconsistent state. Please, delete the users, restart nedge, and report.

[2019-10-02 14:23] #2889 closed, assigned to nobody

[2019-10-02 14:44] #2886 closed, assigned to nobody

[2019-10-02 14:45] simonemainardi commented on #2886
Fixed, here you are:

![image](https://user-images.githubusercontent.com/3397663/66054083-c43dfb80-e533-11e9-8ec8-c22fc81766b9.png)

Host is shown when present. Please hold on a couple of hours until the new build is generated then try the latest 3.9. Note that this is only going to work when ntopng is processing packets (e.g., no via ZMQ).

[2019-10-02 14:57] simonemainardi commented on #2875
@qautomotive

stop ntopng then:

[code]

Check if there are errors in the ntopng logs and report.

[2019-10-02 15:04] #2878 closed, assigned to nobody

[2019-10-02 15:04] #2881 closed, assigned to nobody

[2019-10-03 10:17] lucaderi commented on #2571
This issue means that we have to
- remove the DNS alert generation from the C++ engine and migrate it to Lua
- in the Lua script, add a text parameter with the exclusion list

[2019-10-03 10:19] lucaderi commented on #2572
Same as #2571. Migrate it to Lua and add a Lua-exclusion list based on both
- IP address
and
- nDPI protocol

[2019-10-03 10:37] lucaderi opened #2897 "Retention time must be uniform"
Unify retention time across nIndex, mysql, etc. and time series into a single field

[2019-10-03 10:40] lucaderi opened #2898 "Add the ability to access hosts no longer active"
When a local host is no longer active it cannot be accessed on the search box, even though when clicking on its name on a alert will "resurrect" the host on the fly by allowing access to historical information.

It is requested to add inactive hosts to the host search (e.g. add a marker similar to [SNMP] or [IPv6] in search results to indicate that this host is not active) so that people can jump

[2019-10-03 10:45] lucaderi opened #2899 "Add the ability to report/update ntopng from the menu"
When ntopng is packages (yum/apt) it is possible to check for updates, and install them through the menu.

It is requested (only for admin users) to  add the ability to periodically (nightly) check for a new release and add the ability to do the update via the menu without accessing the command line interface.

[2019-10-03 10:52] emanuele-f commented on #2898
Additional note: accessing historical charts should not require bringing up the host in memory.

[2019-10-03 10:53] lucaderi opened #2900 "Implement service scan on demand"
Add the ability for a local host to execute a service scan (à la nmap) to identify the list of open ports

[2019-10-03 10:54] lucaderi opened #2901 "OpenVAS Integration"
Add the ability to perform a scan on demand or when a host is alerted with OpenVAS

[2019-10-03 11:08] simonemainardi commented on #2569
superseded by #2900

[2019-10-03 11:08] #2569 closed, assigned to nobody

[2019-10-03 14:29] lucaderi opened #2902 "Execute a Lua script when an alert is triggered"
Add the ability to execute a Lua script when an alert is triggered. This would allow (some) Alert Endpoints to be migrated to lua for instance, and move some C++-based activities (e.g. syslog dump) to Lua

[2019-10-03 14:30] lucaderi opened #2903 "Implement SNMP Trap Collection"
Add the ability to collect SNMP traps and deliver them to hosts/alerts list

[2019-10-03 14:31] lucaderi opened #2904 "Enhance Host Connection/Disconnection"
Host connection/disconnection should report the switch/port when known via SNMP. For MAC addresses it should also report the last known IP associated with the MAC

[2019-10-03 14:33] emanuele-f commented on #2902
Please note that this is already supported via alert_endpoints (they are implemented in pure lua), see https://github.com/ntop/ntopng/blob/dev/doc/README.alerts

[2019-10-03 14:33] lucaderi opened #2905 "Specify the list of known MACs"
Add the ability to specify a list of known/allowed MACs so that when a MAC not included in this list is detected (of course ignore broad/multi-cast MACs), an alert is triggered.

Evaluate the ability to specify a list of MACs or/and allow them to be marked through the web GUI

[2019-10-03 15:12] lucaderi opened #2906 "Execute an action when a triggered alert is not recovered"
When a triggered alert does not recover within X mins (configurable) execute an escalation action

[2019-10-03 16:03] lucaderi opened #2907 "Change Sticky Hosts Behaviour"
Currently at boot all sticky hosts are loaded in memory. This is a problem as hosts that used to be active only once in life, or when a VLAN migrates, all the old (and no longer accessible hosts) will stay in memory forever.

Sticky host implementation should be reworked. Sticky hosts should not be loaded at boot after #2898 has been implemented. Probably makes more sense to remove sticky hosts at

[2019-10-03 16:12] lucaderi opened #2908 "Generate alert for mono directional host traffic"
If a host X is observed both with VLAN X (when sending packets) and with VLAN Y (when receiving packets, note that Y might me also untagged traffic) an alert should be triggered.

[2019-10-03 16:16] lucaderi opened #2909 "Do not serialize in JSON 0/"" values"
JSON values generated by ntopng could be "compressed" omitting numeric values with 0s, and string values with empty strings ""

[2019-10-04 09:00] emanuele-f opened #2910 "Finalize callback scripts work"
1. Callbacks scripts invocation should be removed from `scanAlert` as they can be possibly invocated even though alerts are disabled
2. In the same way as already happens with flows, hosts should not be iterated if no callback scripts are enabled
3. Documentation should be updated

[2019-10-04 09:49] gianogli commented on #2558
Hi Simone,
Are you sure that the "7" bug has been fixed?
Today I was finally able to remove one of my interface (now I've 8 interfaces) but when I start ntopng I have:
[code]

I think that the problem is here:
https://github.com/ntop/ntopng/blob/583eeaae3e6149bf75dca0c1baf67d875c0d4750/src/NetworkInterface.cpp#L6704

On "dev" branch the same line is:
https://github.com/ntop/ntopng/blob/bee1efddedb

[2019-10-04 10:48] Omoinemie opened #2911 "Please add Chinese translation"
Please add Chinese translation

[2019-10-04 11:37] robynhub opened #2912 "ntopng segfault Internal error: NULL mac"
Ntopng segfault after upgrade with error: Internal error: NULL mac

[code]
Config file:
[code]

License is demo on a fresh install:

[code]

Any suggestion?

[2019-10-04 12:46] emanuele-f commented on #2912
Can you check the memory usage of the machine? Do you have free RAM right before the issue occurs?

[2019-10-04 12:51] emanuele-f commented on #2911
We don't know Chinese. Are you willing to provide the Chinese translation? You can find the instructions on how to localize strings in https://github.com/ntop/ntopng/tree/dev/tools/localization .
If you can provide a translation file such as (https://github.com/ntop/ntopng/blob/dev/scripts/locales/jp.lua) we can integrate it

[2019-10-04 13:15] robynhub commented on #2912
Machine have 2 gbyte free but the program exit almost immediately (I don't think it's memory related).

[2019-10-04 13:17] emanuele-f commented on #2912
Removing the `-S` option should fix the issue, but there is something wrong going on

[2019-10-04 13:24] robynhub commented on #2912
Removing -S  fixed the issue. I will double check the ram allocation

Thank you a lot!

[2019-10-04 13:24] #2912 closed, assigned to nobody

[2019-10-04 15:27] StewAlexander-com opened #2913 "Make ntopng work with Dark Reader browser extension"
Hi all,

I often user Dark Reader (https://github.com/darkreader/darkreader), to darken my screen as I spend many hours staring at different web pages.

Is there a chance you could think about adapting ntopng to work with the Dark Reader Extension

An example off:
![image](https://user-images.githubusercontent.com/48565067/66219767-c15d1b00-e699-11e9-9555-f52718a169d8.png)

On:
![image](https://us

[2019-10-07 06:38] ricxsar commented on #2879
@simonemainardi Yes, I tried to delete all users except the `Not Assigned` but it is still happening,

[2019-10-07 06:40] emanuele-f opened #2914 "hello.ntop.org redirects to the captive portal page"
nEdge should be recalled when visiting hello.ntop.org . We should also evaluate the possibility to move the default http/s port to 80/443 to make nEdge easily accessible at `http://hello.ntop.org`

[2019-10-07 06:41] emanuele-f opened #2915 "Count userspace packets vs total"
Count userspace vs total packets to ensure that offloading is working properly (e.g. only the first X packets of the flows are seen by nEdge)

[2019-10-07 06:42] emanuele-f opened #2916 "Show physical interface statistics"
Show physical interfaces statistics, e.g. in router mode show byte sent/recv per WAN interface

[2019-10-07 06:50] emanuele-f opened #2917 "Implement monthly and weekly quotas"
Implement the ability to specify the quota period duration (currently it's daily only). Monthly/weekly/daily selection can be implemented via an additional dropdown on the protocol/category

[2019-10-07 06:50] emanuele-f opened #2918 "List of active DHCP leases in router mode"

[2019-10-07 06:52] emanuele-f opened #2919 "Add ability to block a gateway/user by clicking a button"
In the "Gateways and Users" page, add the ability to turn off/on a gateway or block/allow a user via a button.

[2019-10-07 06:53] emanuele-f opened #2920 "Make hello.ntop.org vendor configurable"

[2019-10-07 06:53] emanuele-f commented on #2604
This issue has been split into multiple issues.

[2019-10-07 06:53] #2604 closed, assigned to nobody

[2019-10-07 07:20] lucaderi opened #2921 "Optimize host scripts with efficient metric access"
Periodic host scripts require complete host serialisation that is not efficient. It is requested to implement the same logic used in flow scripts with efficient metric access.

[2019-10-07 07:48] venkatramanh265 opened #2922 "Get the same format of data on webhook on ntopng alert as we get when we access Ntop alert REST API"
![image](https://user-images.githubusercontent.com/26563435/66293476-56634c80-e904-11e9-88c2-733f4de26fd6.png)

while Access the REST API of alert I am getting the data in the correct format like "severity"="error"
but when I created a webhook and added it to the ntop alert endpoint I am not the receiving the alert data in the same format, there it is coming as 'alert_severity': '2'.

Could you pl

[2019-10-07 08:01] emanuele-f opened #2923 "Clean up flow.lua methods calls"
Currently, calling `flow.some_method()` results in two behaviours:

1. `ntop_flow_reg` functions calls
2. `callMethodById` calls

This creates confusion as the same invocation results into two different behaviors. This will become worse if we implement the same mechanism for #2921 , as the `ntop_host_reg` has a lot more functions. A possible approach is to use a different invocation for 1 or 2, e.

[2019-10-07 08:17] lucaderi opened #2924 "Create an independent page for directory settings"
![Screen Shot 2019-10-07 at 09 12 37](https://user-images.githubusercontent.com/4493366/66295413-8b16da00-e8eb-11e9-9606-d3f35a67799e.png)

[2019-10-07 08:24] lucaderi opened #2925 "Add benchmark information to hosts scripts"
Same as for flow scripts, benchmark information must be added to host scripts.

[2019-10-07 08:24] lucaderi opened #2926 "Change default Influx retention time to 30 days"

[2019-10-07 08:28] lucaderi opened #2927 "Influx data generation is inefficient"
Currently line protocol generation is inefficient as there are too many C++/Lua calls to be performed per write. This needs to be reworked.

[2019-10-07 08:31] lucaderi opened #2928 "User scripts conflict with system scripts"
After the migration of the scripts (flow and alert scripts) user scripts must be into the same directory used by the package. This not wrong as they must stay on a separate directory that
- does not conflict with the package
- does not live under /etc/ntopng
- is independent from the packaging directories

It is requested to design this feature, update the packages for all the platforms if necessa

[2019-10-07 08:38] lucaderi opened #2929 "Hide inactive scripts"
With the creation of host/alert/flow scripts there are many of them (in particular hosts) that are present yet inactive as have no value configured. It is requested to change the GUI to add a toggle that by default shows only the configured scripts (for alerts those that have a threshold set), only those not configured (so people cn see what to all) or all scripts. It is just a cosmetic change tha

[2019-10-07 09:29] emanuele-f commented on #2927
Probably the issue occurs due to excessive number of locks in TimeseriesExporter::exportData. If this is the case, an idea is to buffer line protocol data in a per-vm structure and then batch call TimeseriesExporter::exportData periodically.

[2019-10-07 09:30] emanuele-f commented on #2925
I'm unifying the hosts and flows api, please postpone after the modifications

[2019-10-07 12:08] simonemainardi commented on #2924
implemented

![image](https://user-images.githubusercontent.com/3397663/66310206-e1941080-e90b-11e9-8335-d3d12652a411.png)

link from custom scripts page added as well

[2019-10-07 12:08] #2924 closed, assigned to simonemainardi

[2019-10-07 14:37] simonemainardi commented on #2897
implemented. now timeseries, flows (either mysql or nindex) and sqlite top-talkers have the same retention which can be set from the preferences:

![image](https://user-images.githubusercontent.com/3397663/66321391-c2ec4480-e920-11e9-837a-640fc51fad49.png)

[2019-10-07 14:37] #2897 closed, assigned to simonemainardi

[2019-10-07 17:53] simonemainardi commented on #2928
Candidates are:

`/usr/lib/ntopng`: This directory contains program libraries. Libraries are collections of frequently used program routines. (https://www.tldp.org/LDP/Linux-Filesystem-Hierarchy/html/usr.html)
￼
Also re-using `/usr/share` is consistent (This directory contains 'shareable', architecture-independent files), where we could create a subdirectory `/ntopng/scripts/callbacks/custom/`.

A

[2019-10-07 17:55] simonemainardi commented on #2926
changed to 30 days and generalized  in `data_retention_utils`: https://github.com/ntop/ntopng/commit/aa652145d0c7691864fcec000c2224f4b48e196e#diff-3f6862989f37142bc81c5f9bc9c62e99R9

[2019-10-07 17:55] #2926 closed, assigned to simonemainardi

[2019-10-07 22:25] #2891 closed, assigned to nobody

[2019-10-07 22:27] simonemainardi commented on #2891
flow filters have been generalized in https://github.com/ntop/ntopng/commit/79ec20d6df8edb537a6c7a1f846e4ca9aa928a0c#diff-e8523b1d477a58356ced1930cf7d57e4R39 and re-used to populate dropdowns as well as to return the actual filtered flows.

This has the benefit to only show dropdowns menu correctly populated with the flows which remain after the filtering.

[2019-10-07 22:28] simonemainardi commented on #2381
safe to close now as it is solved.

[2019-10-07 22:28] #2381 closed, assigned to simonemainardi, emanuele-f

[2019-10-07 22:29] simonemainardi commented on #2532
@HoseinKashefi did you have a chance to check?

[2019-10-08 02:05] ghost commented on #2875
OK will update shortly.

[2019-10-08 02:15] ghost commented on #2875
[code]

[code]

[2019-10-08 05:56] Zeke0n opened #2930 "ElasticSearch 7 support"
`ElasticSearch::pushEStemplate` may need update ES6 template or add url param `include_type_name=true` during `pushEStemplate` for es7:

[code]

[code]

### solution 1:

update https://github.com/ntop/ntopng/blob/dev/httpdocs/misc/ntopng_template_elk6.json to:
[code]
### solution 2:
add url param `?include_type_name=true` to `es_template_push_url ` https://github.com/ntop/ntopng/blob/79ec20d6df8ed

[2019-10-08 06:32] HoseinKashefi commented on #2532
Dear @simonemainardi
unfortunately no because of license expiration. we're going to purchase a new license and then check it so we can close issue.
after update I'll inform you.

[2019-10-08 06:32] #2532 closed, assigned to nobody

[2019-10-08 07:14] simonemainardi commented on #2532
ok @HoseinKashefi feel free to reopen if necessary. thank you.

[2019-10-08 07:44] emanuele-f commented on #2925
Code unified in ede9a7940a65df8122f5ca65f066a4b8d1b07bab

[2019-10-08 08:05] simonemainardi commented on #2888
Done. Now alert configuration fall under the general 'callbacks' tab for interfaces, hosts, networks, etc and the alerts tab only allows the browsing.

[2019-10-08 08:05] #2888 closed, assigned to emanuele-f

[2019-10-08 08:09] simonemainardi commented on #2875
Did you run the cleanup as suggested above? for the status please do

[code]

and scroll to the bottom

[2019-10-08 23:39] ghost commented on #2875
Yes I ran the talkers db cleanup, it has not helped.

There are no relevant errors in the journal.
There are a few complaints about email but that was disabled.
Otherwise the service seems happy.

[2019-10-09 07:36] emanuele-f opened #2931 "Missing information in View Interface"
Some information is missing while using the view interface, for example the TCP flags. The code should be reorganized so that adding new statistics does not require changes in the view interface itself

[2019-10-09 08:24] cardigliano opened #2932 "Extend the Syslog interface to call Lua scripts"
The Syslog parser interface now handles Suricata flows and alerts in C++, it is required to extend this component to be able to process events from Lua scripts.
The script is loaded from scripts/callbacks/syslog/ at initialization time for performance reason (reloading the script on file changes will be evaluated later), and an handler function is called for each event (the performance for an empt

[2019-10-09 11:06] cardigliano commented on #2932
Syslog events are handled by multiple scripts in scripts/callbacks/syslog/, one for each application (the script name should be the application name). A sample script has been created for Suricata alerts (suricata.lua). Implemented in 1f3c824814188bf8493bc5f8fdced4515eb0f0d1 b203201b91db963566da3f6b3f8feed90fab28ad e05f9aa4f4272fdb6f0d32e10e403806eba1c0a3

[2019-10-09 12:18] simonemainardi commented on #2894
this has been fixed in the latest build.

[2019-10-09 12:18] #2894 closed, assigned to nobody

[2019-10-09 12:21] simonemainardi commented on #2923
Implemented in https://github.com/ntop/ntopng/commit/27444ec067c6883d35da74364346b4d224f0e605

now flow.<> are handled as regular metatable calls as for the hosts, interfaces, networks, and ntop.

[2019-10-09 12:21] #2923 closed, assigned to simonemainardi

[2019-10-09 13:01] lucaderi commented on #2932
Please describe how you plan to interact with the syslog and how this script can trigger alerts or create new flows. Probably the best is to write a simple script for demonstration purposes.

[2019-10-09 13:06] simonemainardi commented on #2921
basically:

Host::lua should be split into multiple lua_get_xxx lua_get_yyy and such lua_get_ also have to be exposed through host.<method> lua calls.

[2019-10-09 13:13] lucaderi opened #2933 "Invalid alert reported"
<img width="1292" alt="Screenshot 2019-10-09 at 15 12 21" src="https://user-images.githubusercontent.com/4493366/66484425-4041c180-eaa7-11e9-972e-119215c33f1a.png">
This flow is not a "connection refused" as the flow was established and many packets exchanged

[2019-10-09 13:21] cardigliano commented on #2819
Superseded by https://github.com/ntop/ntopng/issues/2932

[2019-10-09 13:21] #2819 closed, assigned to nobody

[2019-10-09 13:28] cardigliano commented on #2932
The C++ SyslogParserInterface reads messages from syslog and dispatches them to Lua scripts based on the application name extracted from the log message itself. At the moment "suricata" is an exception as flow/alert parsing happens in C++ (alerts are delivered to the Lua script anyway to implement a sample script).
Alert generation from Lua scripts has not been implemented yet, it will be possible

[2019-10-09 13:50] lucaderi opened #2934 "Invalid retransmission count"
<img width="1161" alt="Screenshot 2019-10-09 at 15 48 32" src="https://user-images.githubusercontent.com/4493366/66487423-92d1ac80-eaac-11e9-8c62-b93de9275b7c.png">

<img width="1292" alt="Screenshot 2019-10-09 at 15 48 59" src="https://user-images.githubusercontent.com/4493366/66487312-6584fe80-eaac-11e9-97ad-43098ab91919.png">
[false_positive_short.pcap.gz](https://github.com/ntop/ntopng/files/3

[2019-10-09 13:56] #2825 closed, assigned to cardigliano

[2019-10-09 14:34] simonemainardi commented on #2927
Found that `write` was used in place of `fwrite` causing significant performance degradation. Using `fwrite` has doubled the number of points written per second from 400k to 900k.

Commit is: https://github.com/ntop/ntopng/commit/aa46f93297bb60be8dea6a60c05ed7aadd3a5561

For the current use-case, considering a single-node influxdb instance cannot ingest more than 1M points per second, we consider

[2019-10-09 14:34] #2927 closed, assigned to nobody

[2019-10-09 14:37] simonemainardi opened #2935 "Use precision=s in Influxdb writes and reads"
As ntopng works with second-timestamps, it is not necessary and actually a waste to use influxdb nanoseconds timestamps.

`precision=s` should be used when writing and reading from influxdb, e.g.,

[code]

And the ntopng-generated line protocol has to omit the nine trailing zeroes to every timestamp

[2019-10-10 07:34] simonemainardi commented on #2935
using precision is highly recommended by Influxdb:

[2019-10-10 09:55] simonemainardi commented on #2925
implemented

[2019-10-10 09:55] #2925 closed, assigned to simonemainardi

[2019-10-10 14:36] cardigliano commented on #2932
A new Lua interface.processFlow API has been implemented in a2e74e16a38869644ab24bb45cc240b54f8ba907 to allow flow (and external alerts) processing from Lua. Processing of Suricata messages from Syslog has been moved to Lua in  76759a7d0372df10dce088bc552e26395a714ea7 and both flows and alerts (through C++) are now generated through the Lua script.

[2019-10-10 14:36] #2932 closed, assigned to cardigliano

[2019-10-10 16:22] emanuele-f commented on #2910
Implemented. Other things to do before considering the work completed are labelled with "user_scripts": https://github.com/ntop/ntopng/issues?q=is%3Aissue+is%3Aopen+label%3Auser_scripts

[2019-10-10 16:22] #2910 closed, assigned to emanuele-f

[2019-10-10 16:26] #2902 closed, assigned to nobody

[2019-10-10 16:28] emanuele-f commented on #2921
The new api should also be documented in this format: https://github.com/ntop/ntopng/blob/dev/doc/src/api/lua_c/flow/flow.lua

[2019-10-10 16:31] emanuele-f commented on #2842
The new `flow` api should also be documented in https://github.com/ntop/ntopng/blob/dev/doc/src/api/lua_c/flow/flow.lua (e.g. `flow.getProtocols()`, `flow.getClient2ServerIAT()`)

[2019-10-10 21:14] lucaderi opened #2936 "Jump to the alert rule"
<img width="1240" alt="Screenshot 2019-10-10 at 23 10 54" src="https://user-images.githubusercontent.com/4493366/66606877-50df5e00-ebb3-11e9-9a43-826e1caf4a14.png">

In alerts it would be nice to add a button that allows users to just (in one click) to the alert rule that triggered a certain event. This would be nice for instance for changing the rule parameters (e.g. the threshold) that were used

[2019-10-11 07:19] cde0 opened #2937 "Traffic history diagram"
Hello :)
ntopng support  network history diagram per day or per parameters ?
Cheers

[2019-10-11 14:02] #2933 closed, assigned to nobody

[2019-10-11 14:23] cardigliano commented on #1928
Implemented with a SyslogParser C++ component collecting syslog messages and a Lua script (https://github.com/ntop/ntopng/commit/76759a7d0372df10dce088bc552e26395a714ea7) processing flows and alerts in Eve JSON format from Suricata. Documentation is available at
http://www.ntop.org/guides/ntopng/advanced_features/suricata.html

[2019-10-11 14:23] #1928 closed, assigned to cardigliano

[2019-10-11 14:38] cardigliano commented on #2937
@cde0 could you provide more details about what you expect to see exactly? Did you take a look at the historical chart in the interface page?

[2019-10-11 14:51] emanuele-f opened #2938 "Optimize lua vm loading for user scripts"
The same VM can be reused instead of creating it every time

[2019-10-11 15:02] cardigliano commented on #2922
@venkatramanh265 actually what you get from the REST API at the moment is formatted (as you can see there are html tags) and localized, instead what you get from the webhook is raw data. I think that it is preferable to get raw information from an API (both REST and webhook).
Any reason you cannot handle fields like the severity number on the webhook consumer?

[2019-10-11 15:41] cardigliano commented on #2836
@tercaneBay I moved this to https://github.com/ntop/PF_RING/issues/520

[2019-10-11 15:41] #2836 closed, assigned to cardigliano

[2019-10-12 10:58] Somayyah opened #2939 "Dashboard is empty for ntopng"
Good evening/morning

I've been looking for an open source netflow solution to monitor my network and I've chose ntopng and nProbe, I've configured them on windows 10 correctly but dashboard shows nothing.
I can't even find hosts or any device connected on the network am I missing something?

[2019-10-12 11:55] Somayyah commented on #2939
No talkers:
![image](https://user-images.githubusercontent.com/55834191/66701047-2f3fbd00-ed00-11e9-8870-bb8ec571ecd1.png)
No hosts:
![image](https://user-images.githubusercontent.com/55834191/66701054-467eaa80-ed00-11e9-9b58-e4dd6ada9762.png)

[2019-10-12 13:32] freeagent1384 opened #2940 "Failure to compile on Rasbian 10.1"
I pulled this latest commit this morning (a208285aaba6b0d4de10980560ab39af062d1288) and ran:
$ ./autogen.sh
$ make clean
$ make
I received the below error:
src/Flow.cpp: In member function 'virtual void Flow::housekeep(time_t)':
src/Flow.cpp:2451:45: error: too many arguments to function 'ndpi_protocol ndpi_detection_giveup(ndpi_detection_module_struct*, ndpi_flow_struct*, u_int8_t)'
           ge

[2019-10-12 14:14] lucaderi commented on #2940
You need to update nDPI and try again. Recently we have changed the signature of some API calls and you seem not to have updated the code

[2019-10-12 14:14] #2940 closed, assigned to nobody

[2019-10-13 02:20] freeagent1384 commented on #2940
I pulled the latest commit (cbe20d3740c19dd59150c9764a549857902d16b8) for nDPI and went through the same process (./autogen.sh, make clean, make) then cd'ed into ntopng and again pulled the latest commit (still a208285aaba6b0d4de10980560ab39af062d1288) and ran through process (./autogen.sh, make clean, make) still ended up with the same error.

Am I going about updating improperly?

[2019-10-13 14:57] xgerligand opened #2941 "README.compilation file need to be updated for Centos 8."
Hi all.

It seems necessary to add **json-c-devel** and **readline-devel** to file README.compilation (line 40).
I compiled then on a fresh installed Centos 8 with success.

Thank you.

[2019-10-13 20:21] freeagent1384 commented on #2940
to be certain I deleted both nDPI and ntopng and cloned fresh copies of both then tried to compile first nDPI then ntopng.  First I received:

gcc -std=gnu99 -O2 -Wall -Wextra -DLUA_COMPAT_5_2 -DLUA_USE_LINUX    -c -o lua.o lua.c
lua.c:82:10: fatal error: readline/readline.h: No such file or directory
 #include <readline/readline.h>
          ^~~~~~~~~~~~~~~~~~~~~
compilation terminated.
make[3]:

[2019-10-14 07:28] simonemainardi commented on #2941
thanks for pointing it out: https://github.com/ntop/ntopng/commit/232e04aa0de08e1e1789d2c0421a391a06053f41

json-c-devel was missing from the list, no need for readline-devel though.

[2019-10-14 07:28] #2941 closed, assigned to nobody

[2019-10-14 07:46] simonemainardi commented on #2935
Implemented. Writes now use the `precision=s` and line-protocol files contain second-precision timestamps. Reads already use `epoch=s` to return timestamps in standard unix format.

[2019-10-14 07:46] #2935 closed, assigned to simonemainardi

[2019-10-14 07:47] simonemainardi commented on #2939
You need to create a ZMQ interface. Please, go through https://www.ntop.org/nprobe/network-monitoring-101-a-beginners-guide-to-understanding-ntop-tools/ in particular section "Monitoring Netflow/sFlow Traffic" which explains how to monitor NetFlow.

[2019-10-14 07:47] #2939 closed, assigned to nobody

[2019-10-14 07:52] simonemainardi commented on #2911
We are unable to translate to Chinese without a community volounteer who knows the language and is willing to contribute. If you think you can do this, or know someone who would like to do this, let us know. We can support you, give instructions, and eventually include the translation in the dev branch. You will be credited for this.

Feel free to reopen if willing to contribute.

[2019-10-14 07:52] #2911 closed, assigned to nobody

[2019-10-14 07:54] emanuele-f commented on #2940
Please ensure that you are using latest nDPI and ntopng dev versions (run `git pull` and recompile both nDPI and ntopng). That errors point out that you are using an old nDPI version with a newer ntopng.

[2019-10-14 07:56] simonemainardi commented on #2913
@StewAlexanderACC, actually, chart axes are text in SVG images:

![image](https://user-images.githubusercontent.com/3397663/66736158-be67e480-ee68-11e9-88fd-3c3a2cfdd950.png)

Do you know if the extension supports changing colors in SVG images text elements?

[2019-10-14 08:01] simonemainardi commented on #2630
superseded by #2870

[2019-10-14 08:01] #2630 closed, assigned to nobody

[2019-10-14 08:06] simonemainardi commented on #2282
merged with #251

[2019-10-14 08:06] #2282 closed, assigned to nobody

[2019-10-14 08:17] simonemainardi opened #2942 "Packages for Centos8"
Binary versions of ntopng should also be available for Centos8

[2019-10-14 12:15] StewAlexander-com commented on #2913
@simonemainardi Unsure, but the extension is free to download from the chrome store / firefox add-on store and you can post to their github site I mentioned earlier

[2019-10-14 12:16] StewAlexander-com commented on #2913
The extension also comes with its own devtools

![image](https://user-images.githubusercontent.com/48565067/66750600-dcc6e380-ee5a-11e9-9283-5cb7372cd213.png)

[2019-10-14 12:56] simonemainardi commented on #2913
@StewAlexanderACC can you take care of this issue and possibly interact with the darkreader guys to see if it is actually possible to change the svg text fields?

[2019-10-14 13:00] StewAlexander-com commented on #2913
Sure, but it may be a few days

[2019-10-14 13:14] emanuele-f opened #2943 "Iterate user scripts based on a "priority" field"
Use scripts (in particular flow scripts) should be iterated based on a priority number (lower priority first, higher later)

[2019-10-14 14:02] venkatramanh265 commented on #2922
When i went through the data received from the REST API there is a field  called "msg" which gives the details of the alert occured but the same fiels "msg" is not present in the data which I receive from webhook.
Kindly let me know how to get that fiels in webhook.

[2019-10-14 14:03] emanuele-f opened #2944 "Enhance alert endpoints"
- Alert endpoints should also be called when the sqlite database is disabled
- They should be called via a lua vm with an entity context set. This removes the need to push flow information into a redis queue
- After that, evaluate if it's necessary to decouple endpoint alert export from the periodic_stats_update thread (this would probably require adding a new status into the entities automa)

[2019-10-14 14:04] emanuele-f opened #2945 "Document user_scripts api"
This should be postponed after the implementation is stable

[2019-10-14 14:05] emanuele-f opened #2946 "Handle flows user scripts configuration from gui"
This should use the same functions as the hosts/interface/networks

[2019-10-14 14:31] emanuele-f opened #2947 "Flow user scripts cleanup"
- [x] Split flows user scripts into two scripts: status definition and status trigger
- [x] Split the alert_types from`alert_consts` in more files and load them on flight
- [x] Implement new flow alert trigger logic (see below)
- [ ] Rework Flow::getFlowStatus, Utils::flowStatus2AlertLevel, Utils::flowStatus2AlertType

The flow.lua script should do the following:
1. Get the current flow bitmap
2.

[2019-10-14 16:51] #2907 closed, assigned to simonemainardi

[2019-10-14 16:58] simonemainardi commented on #2942
implemented in https://github.com/ntop/ntopng/commit/94ddf465facdb204431a2c05e2cad192ffeb4601

[2019-10-14 16:58] #2942 closed, assigned to nobody

[2019-10-14 19:57] freeagent1384 commented on #2940
I'm sorry, I had previously run $ make install and while I was compiling the latest commit I hadn't overwrite these files.  I'm sorry for wasting your time.

[2019-10-14 23:35] emanuele-f commented on #2940
Don't worry, glad you've solved your issue

[2019-10-15 07:42] simonemainardi commented on #2913
yes, no problem. thank you.

[2019-10-15 13:07] simonemainardi commented on #2884
Implemented:

![image](https://user-images.githubusercontent.com/3397663/66832359-0d417700-ef5a-11e9-87ac-0f9ca20c2a8c.png)

It is now possible to choose the 5-min resolution for localhost points when they are  written to influxdb. In addition, high-resolution timeseries are now disabled for non-packet interfaces as it is pointless for them to have sub-minute points.

[2019-10-15 13:07] #2884 closed, assigned to nobody

[2019-10-15 15:39] emanuele-f commented on #2947
Status definitions are now split in multiple files (b217909966d42259e21d32db874e8c0d8303f460)

[2019-10-15 16:37] emanuele-f commented on #2947
Flow trigger logic improved in 9ea7ff01b865aa9e2e0dbbd046fdd6442362fdf1

[2019-10-15 16:50] simonemainardi opened #2948 "InfluxDB error messages should be reported to the user"
INfluxDB can fail for example with:

[code]

this error should be reported within the ntopng UI and possibly attached to the alert.

[2019-10-15 16:57] simonemainardi commented on #2948
similar error response:

[code]

[2019-10-15 17:11] simonemainardi commented on #2948
other error:

[code]

[2019-10-16 09:28] underleo opened #2949 "Massive ERROR poped after upgrade to version "3.9.191016""
After upgrade to version "3.9.191016", massive ERROR popup in system log. Frequency about 5seconds per log. All other function seems works well and haven't observed any significant impact by far.

16/Oct/2019 17:23:55 [GenericHashEntry.cpp:63] ERROR: Internal error: invalid state transition 3 -> 1
16/Oct/2019 17:23:55 [GenericHashEntry.cpp:63] ERROR: Internal error: invalid state transition 3 -> 1

[2019-10-16 10:05] emanuele-f commented on #2949
Can you post your ntopng.conf file?

[2019-10-16 10:19] emanuele-f commented on #2947
Alerts definitions split in multiple files in 873b96c20abc63dffb75c45cd9c6576ad46e9eea

[2019-10-16 10:25] emanuele-f opened #2950 "Move C flow status change to lua"
The flow status should be only changed by the lua flow user scripts.
All the flow status/alerts handling should be remove from C. C should only provide status/alerts storage without knowing the individual types. Here are some items to clean up:

- `Flow::getFlowStatus`
- `Utils::flowStatus2AlertLevel`
- `Utils::flowStatus2AlertType`
- `AlertType` in ntop_typedefs.h
- `FlowStatus` in ntop_typedefs.

[2019-10-16 10:26] emanuele-f commented on #2947
The C rework requires some major changes. A separate issue has been opened #2950

[2019-10-16 10:26] #2947 closed, assigned to emanuele-f

[2019-10-16 10:28] emanuele-f commented on #2842
Implemented in #2947

[2019-10-16 10:28] #2842 closed, assigned to simonemainardi

[2019-10-16 12:51] simonemainardi opened #2951 "Minute host custom scripts taking too long"
Just the minute host custom scripts enabled by default take more than one minute to execute with ~300k local hosts. This causes the minute.lua to take longer than expected.

![image](https://user-images.githubusercontent.com/3397663/66920850-6675dd00-f024-11e9-8957-0e6cb2529b64.png)

[2019-10-16 12:57] simonemainardi opened #2952 "5-Minute host custom scripts taking too long"
Just the default 5-minute host custom script takes 2 and a half minutes out of the 5 minutes available to to all the activities. This with just ~200k local hosts.

Replies / Requests Ratio

![image](https://user-images.githubusercontent.com/3397663/66921288-2400d000-f025-11e9-9792-d96310b140cf.png)

[2019-10-16 13:04] simonemainardi commented on #2951
such custom scripts also slow down the other activities in minute.lua, ending up in missing timeseries datapoints. This is what happens for example. After manually commenting out the execution of periodic hosts scripts, the timeseries becomes continuous again:

![image](https://user-images.githubusercontent.com/3397663/66921811-2f083000-f026-11e9-86aa-c8dea9837ac5.png)

[2019-10-16 13:15] simonemainardi commented on #2937
closing for inactivity. reopen with the requested information if necessary.

[2019-10-16 14:13] emanuele-f commented on #2950
Additional note: making this migration is necessary in order to make the `flow.setStatus` api work correctly

[2019-10-16 14:57] cde0 commented on #2937
Hello,
Sorry for the delay.
I check it but is empty, it show only the data for now.

![image](https://user-images.githubusercontent.com/49035763/66931134-51a64300-f03e-11e9-9c26-38d835e70247.png)

[2019-10-16 15:47] emanuele-f commented on #2951
This is also linked to #2921 .

[2019-10-16 16:03] emanuele-f commented on #2943
Currently this is not required anymore

[2019-10-16 16:03] #2943 closed, assigned to nobody

[2019-10-17 07:51] simonemainardi commented on #2951
slowness is mostly due to the `alerts_api.trigger` and `alerts_api.release` calls so basically with database interactions.

Commenting their body yield almost negligible times:

![image](https://user-images.githubusercontent.com/3397663/66988913-a344e100-f0c3-11e9-833f-edfca5175152.png)

[2019-10-17 09:16] lucaderi opened #2953 "Package scripts as in Linux distros"
Currently scripts require multiple pieces. Example ntopng/scripts/callbacks/interface/flow/udp_unidirectional.lua has dependencies on
- i18n (that need to allow extensions to be included without having to modify the language script)
- scripts/callbacks/status_defs/status_udp_unidirectional.lua
- scripts/callbacks/interface/flow/udp.lua

In essence a user has to create multiple files and put them o

[2019-10-17 09:17] lucaderi commented on #2928
Done this ticket, #2953 can be implemented.

[2019-10-17 09:56] lucaderi opened #2954 "NetworkInterface::periodicStatsUpdate() requires cleanup"
The above method is not just updating statistics as the name says. Instead it also purges entries. Said that its name should change as misleading, on flow-based interfaces the call frequency to this method depends on the flow timeout. While this is acceptable for updates, it is wrong for purging and script callbacks as this needs to be done regardless of the update frequency.

A minimal solution i

[2019-10-17 18:12] totti4ever opened #2955 "Allowed Top Level Domains for mail address syntax not sufficient"
I have an .online domain and cannot use e-mail addresses on that domain for alerts with ntopng. It says "Ihre Eingabe muss mit dem geforderten Format übereinstimmen.", which is something like "Your input has to apply the given format"

[2019-10-17 19:03] simonemainardi commented on #2951
fixed in https://github.com/ntop/ntopng/commit/43d0b89bd95e2c7597124b8267dd52aef75235b0. issue was due to massive unnecessary calls to alerts_api.release. brought down the time to a buch of seconds

![image](https://user-images.githubusercontent.com/3397663/67039392-8c34dc00-f121-11e9-9f03-b230ff576714.png)

[2019-10-17 19:03] #2951 closed, assigned to nobody

[2019-10-18 09:55] cardigliano commented on #2922
@venkatramanh265 as I said you get all the details for the alert, but you do not get a message (as it depends on localization, and sometimes includes html tags, etc). You can use the alert_type to parse the alert and get all the information. Please visit http://<ntopng ip>:3000/lua/defs_overview.lua for all alert types and descriptions.

[2019-10-18 09:55] #2922 closed, assigned to nobody

[2019-10-18 10:03] lucaderi opened #2956 "SQLite alert database grows indefinitively"
Overtime the SQLite database used to store alerts grows, and keeps growing. This even if alerts have been deleted. Due to this, disk becomes full. This problem needs to be addressed,

[2019-10-18 10:15] lucaderi opened #2957 "Periodic script execution flawed with pcap files"
Periodic scripts such as for instance the timeseries export, second.lua are called even when pcap files (-i <pcap>) are processed. This is not necessary and needs to be fixed, in particular when the pcap file has been fully processes.

[2019-10-18 10:50] simonemainardi commented on #2956
addressed in https://github.com/ntop/ntopng/commit/f8443ff03d81abc9a2f6a6f1193ca3023cbd08db

disk space is reclaimed and database tables are defragmented in the daily.lua script

[2019-10-18 10:50] #2956 closed, assigned to simonemainardi

[2019-10-18 16:13] lucaderi opened #2958 "Implement ntopng restart/update"
Only if ntopng is installed as package and thus systemd controlled, it has to
- notify users that a new package update is available
- propose to update and restart ntopng

All from the menu without using the CLI (of course only for admins).

The code for doing this can be taken from the nfw project

[2019-10-18 16:14] lucaderi opened #2959 "Automatically handle new -X/-x settings"
When ntopng detects that -X/-x settings are too low (i.e. we're in the warning zone) it should proposed (in case the logger user is admin and only if ntop has been started from systemd) a form asking if ntopng can automatically update the -X/-x settings and restart.

Please note that this issue depends on #2958

[2019-10-18 17:05] simonemainardi commented on #2899
superseded by https://github.com/ntop/ntopng/issues/2958

[2019-10-18 17:05] #2899 closed, assigned to nobody

[2019-10-18 17:14] #2955 closed, assigned to nobody

[2019-10-18 17:14] simonemainardi commented on #2955
Thanks for reporting. Issue is fixed. Will be available in the next dev build ready in less than one hour.

[2019-10-18 17:19] simonemainardi commented on #2952
fixed in https://github.com/ntop/ntopng/commit/83715798ac47af5a9cd27372755ea3b6343b8ba4

[2019-10-18 17:19] #2952 closed, assigned to nobody

[2019-10-18 17:31] #2949 closed, assigned to nobody

[2019-10-18 17:32] simonemainardi commented on #2949
hi, the issue should be fixed now. please, hold on an hour (a new build is being generated) and let me know.

[2019-10-19 22:09] ingria opened #2960 "Change geo map provider"
Google Maps changed their API and TOS some time ago. Now they require to have "billing" enabled for developer's account. Otherwise there's a gray rectangle instead of the widget.

Having active billing account causes some complications, aside from that "Geo Map" feature won't work out of the box. So I suggest switching to other map provider (like openstreetmaps). I can try to fix this, but I'll ne

[2019-10-20 10:10] lucaderi commented on #2960
@ingria Thanks for the offer to help. Please tell what you need exactly for assisting you with this port to openstreemap

[2019-10-20 10:13] lucaderi opened #2961 "Implement host contacts counter"
When detecting scans or malware, it can be helpful to implement a counter of hosts being contacted at a given time. This can be computed based on the number of active flows, or on a per-minute basis.

[2019-10-20 10:17] lucaderi opened #2962 "Create Mirai-like detection plugin"
As explained in https://www.usenix.org/system/files/conference/usenixsecurity17/sec17-antonakakis.pdf Mirai bot uses port 23 and 2323 to spread out. Unfortunately even though this is an old attack, there is still some ongoing infection happening. It would be nice to create a flow script used to detect potential Mirai-like activities such as scans towards TCP port 23 and 2323.

See also  #2963

[2019-10-20 10:21] lucaderi opened #2963 "ntopng unable to detect scans"
A big limitation of ntopng is the inability to report scanners. Enclosed a trace to reproduce the problem. Tools like nmap could also be used to scan hosts/netwoks and they should also be detected. Enclosed a scan example that is not detected as such.

[scan.pcap.gz](https://github.com/ntop/ntopng/files/3747709/scan.pcap.gz)

Note that the above scanner is likely also to be Mirai-infected #2962

[2019-10-20 10:23] lucaderi opened #2964 "Validation error"
Over and over

20/Oct/2019 12:07:41 [LuaEngine.cpp:11150] WARNING: Script failure [/usr/share/ntopng/scripts/lua/get_flow_data.lua][/usr/share/ntopng/scripts/lua/modules/http_lint.lua:1630: [LINT] _GET["flow_hash_id"] = "Info" parameter error: Validation error]
20/Oct/2019 12:07:41 [LuaEngine.cpp:11150] WARNING: Script failure [/usr/share/ntopng/scripts/lua/get_flow_data.lua][/usr/share/ntopng/scr

[2019-10-20 10:30] lucaderi opened #2965 "Severe startup drops due to hosts deserialization"
When ntopng creates a new host (hence this is a typical activity that happens at startup when the memory cache is empty) it has to speak with redis for restoring serialised data. This causes severe drops at startup and also whenever a nasty activity such as a network scan happens.

This practice needs to be changed in order to both avoid drops and avoid that a nasty user activity will produce nega

[2019-10-20 16:35] lucaderi opened #2966 "Category lists might lead to a DoS"
ntopng relies on external category lists (/lua/admin/edit_category_lists.lua). If one of the external lists has too many hosts/IPs this can lead to crashes or DoS when the list is too long and thus ntopng will be killed by the OOM.

It is requested to limit the number of entries ntopng will load from a file, in order to avoid side effects as in today's build.

[2019-10-20 16:53] lucaderi opened #2967 "Category lists is cached"
When updating the category lists by editing for instance BUILTIN_LISTS in lists_utils.lua, the modified list (e.g. when changing the URL of an entry) is not immediately used by ntopng that still uses the old value. The bug is in loadListsFromRedis() where redis info is not updated with new values for the BUILTIN_LISTS

[2019-10-20 18:27] war59312 opened #2968 "SysLog: Warning Script Failure second.lua - Bad Argument #2"
Hi,

/var/log/syslog is showing this warning over and over again:

`ntopng[32024]: 20/Oct/2019 07:26:03 [LuaEngine.cpp:10203] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/system/second.lua][/usr/share/ntopng/scripts/lua/modules/ntop_utils.lua:197: bad argument #2 to 'format' (number has no integer representation)]`

With Raspbian Pi 4 Buster.

Line 197 in /usr/share/ntopng/scripts/

[2019-10-21 07:28] simonemainardi commented on #2964
please explain which (if any) page is open in the UI while you are experiencing this

[2019-10-21 09:09] lucaderi opened #2969 "Scripts duration not clear"
In hosts and flow scripts durations are not properly reported
- change them to msec or report duration/host
- add a label clearly describing what those labels
- add a summary of the time spent outside of the script (e.g. getHostInfo(). This will allow to understand the really time spent on scripts and not just inside the script.

[2019-10-21 09:13] lucaderi opened #2970 "Trigger an alert when hosts scripts are slow"
When hosts periodic scripts are too slow (e.g. the minute scripts last more than a minute) noting should generate an alert reporting the result of the last run. This to identify the root cause of the problem.

There is already an alert that should report this problem, but it currently doesn't work as planned.

[2019-10-21 09:18] lucaderi opened #2971 "Ports stats are empty in collector stats"
Hosts port stats are empty when collecting flows

[2019-10-21 09:20] lucaderi opened #2972 "Implement counter of unidirectional hosts"
During scans, many hosts have no traffic sent (just received). It would be nice to count them up and report them in the GUI

[2019-10-21 09:29] shivanikhosa opened #2973 "QUIC detection"
Hi,
I've noticed that the nDPI QUIC dissector is not able to detect Google QUIC traffic anymore. I used to be able to recognise youtube traffic as QUIC and then look into the SNI in CHLO packet and re-classify it as youtube but QUIC detection for youtube isn't working anymore.
Also when I tried to capture the Youtube traffic  in wireshark, I see that the wireshark decoder marks it as "Malformed pa

[2019-10-21 09:37] lucaderi opened #2974 "Disabled scripts are not easy to interpret"
Currently when a host/flow/... script is disabled in essence the GUI looks like
<img width="324" alt="Screenshot 2019-10-21 at 11 32 47" src="https://user-images.githubusercontent.com/4493366/67194186-e3bf9a00-f3f6-11e9-97ed-c0c4e90988f8.png">

Instead it is requested to change it to
<img width="101" alt="Screenshot 2019-10-21 at 11 34 51" src="https://user-images.githubusercontent.com/4493366/671

[2019-10-21 09:55] emanuele-f opened #2975 "Second scripts should not load alerts/flows defs"
Iterating the files and loading them takes too much time for the second

[2019-10-21 09:56] emanuele-f opened #2976 "Support loading i18n from user scripts"

[2019-10-21 10:03] emanuele-f commented on #2973
Please open an issue on https://github.com/ntop/nDPI

[2019-10-21 10:03] #2973 closed, assigned to nobody

[2019-10-21 12:14] StewAlexander-com commented on #2913
[Issue 1648 opened with DarkReader](https://github.com/darkreader/darkreader/issues/1648)

[2019-10-21 12:20] cardigliano commented on #2934
It seems that Wireshark is reporting "Spurious Retransmissions" and "ACKed unseed segments" as a consequence of out of order ACK packets. ntopng is correctly reporting OOO packets, which is the real issue.
An alert in case of OOO packets should be enough to handle this, this is currently implemented with a threshold set to CONST_TCP_CHECK_ISSUES_THRESHOLD (5) and a min ratio set to CONST_TCP_CHECK

[2019-10-21 12:20] #2934 closed, assigned to cardigliano

[2019-10-21 14:34] cardigliano commented on #2968
A trace has been added when this occurs to debug this issue, please report it. Thank you.

[2019-10-21 21:08] lucaderi opened #2977 "Create script for remote->local insecure protocols alerts"
When a remote -> local flow for insecure protocols (e.g. RDP or telnet) is detected, an alert should be generated.

[2019-10-22 07:36] simonemainardi commented on #2921
Implemented. Brought the speed up from 3.3k to 250k hosts per second.

[2019-10-22 07:36] #2921 closed, assigned to emanuele-f

[2019-10-22 09:11] emanuele-f commented on #2950
Implemented in b3a8c6d49a367123a2ce06fd6f4d3171c9af2c9b . More cleanup is needed to remove the AlertTypes from C because of the AlertsQueue

[2019-10-22 09:13] emanuele-f opened #2978 "Fix external alerts"
After the cleanup made in b3a8c6d49a367123a2ce06fd6f4d3171c9af2c9b the internal format used to handle external alerts has changed. It should be verified and adapted as needed to make the external alerts work again.

[2019-10-22 09:34] cardigliano opened #2979 "Migrate nIndex flow bytes (and packets) counters from 32 to 64 bits"
Currently BYTES/PKTS/SRC_TO_DST_BYTES/DST_TO_SRC_BYTES are 32-bit values in nIndex, this
is causing issues with flows exceeding a bandwidth of 114 Mbps. Those counters should be migrated to 64 bits

<img width="1489" alt="Screen Shot 2019-10-22 at 11 31 22" src="https://user-images.githubusercontent.com/7548711/67273815-7f1c4200-f4bf-11e9-92f9-9bf8cbf8cb81.png">

[2019-10-22 09:38] cardigliano commented on #2668
I ran a few tests and I was only able to reproduce a bad calculation in case of flows with high throughput (a new issue has been opened at https://github.com/ntop/ntopng/issues/2979), as @emanuele-f said it is likely this was due to a shutdown and some data was missing.

[2019-10-22 09:38] #2668 closed, assigned to cardigliano

[2019-10-22 11:00] #2971 closed, assigned to simonemainardi

[2019-10-22 12:40] emanuele-f commented on #2580
This is implemented

[2019-10-22 12:40] #2580 closed, assigned to lucaderi

[2019-10-22 12:45] emanuele-f commented on #2950
Cleanup performed in ab0875155ea4fc0caa0aa4823d8310575ffb5c2d .

[2019-10-22 12:45] #2950 closed, assigned to nobody

[2019-10-22 12:56] #2964 closed, assigned to simonemainardi

[2019-10-22 13:16] simonemainardi opened #2980 "Crash with too many alerts"
When enabling an alert for all hosts, ntopng experiences sporadic crashes:

[code]

[2019-10-22 13:36] simonemainardi commented on #2980
This is the stacktrace:

[code]

[2019-10-22 14:45] simonemainardi commented on #2970
Alerts triggered and kept per interface:

![image](https://user-images.githubusercontent.com/3397663/67298200-35495100-f4eb-11e9-8c51-ca91d64e2c47.png)

For scripts which run system-wide and not on a per-interface basis (e.g., second.lua) then alerts are stored under the system interface page.

[2019-10-22 14:45] #2970 closed, assigned to simonemainardi, emanuele-f

[2019-10-22 16:06] simonemainardi commented on #2980
Fixed with https://github.com/ntop/ntopng/commit/ff3469d8973a6e3a075a3e9f3affb23e1146af9e

[2019-10-22 16:06] #2980 closed, assigned to simonemainardi

[2019-10-22 17:45] emanuele-f opened #2981 "Inconsistency between misbehaving flows menu and flow filter"
![2019-10-22_19-37](https://user-images.githubusercontent.com/5488003/67313603-c40d9c00-f4f2-11e9-9c49-17c76c8ab631.png)
![2019-10-22_19-38](https://user-images.githubusercontent.com/5488003/67313607-c5d75f80-f4f2-11e9-9e12-fa73b2010450.png)

Given a flow with two or more abnormal status (long lived and elephant flow in the picture), for the dropdown the flow is counted twice, once as 1 elephant f

[2019-10-22 19:14] lucaderi opened #2982 "Slow category reload"
Not sure why categories need to be reloaded though

22/Oct/2019 21:05:28 [LuaEngine.cpp:1868] ERROR: Interface didn't reload custom categories on time [iface: enp6s0f0.644,enp6s0f1.644]
22/Oct/2019 21:05:18 [LuaEngine.cpp:1868] ERROR: Interface didn't reload custom categories on time [iface: enp6s0f0.22,enp6s0f1.22]
22/Oct/2019 21:05:08 [LuaEngine.cpp:1868] ERROR: Interface didn't reload custom ca

[2019-10-23 04:14] Ricky0619 opened #2983 "I want to ask about IPv6."
HI：
I want to ask about IPv6.
 Because I need to throw Ntopng data into Splunk.
But I can't fully collect IPv6 from Splunk.
I have passed the nprobe APP, but I can only collect IPv4 completely.
I can't collect IPv6. What solution can I use?
Thank you.

[2019-10-23 06:05] lucaderi opened #2984 "Slow data purge leads quickly exhausts memory"
In recent ntopng builds, (flow) memory purge is less aggressive than it used to be. While the number of active flows seems low in the GUI, inside ntopng they are not purged and thus RAM grows much more than in former ntopng builds.

This issue needs to be addressed as on heavy loaded hosts it is a major problem in terms of memory usage.

[2019-10-23 06:31] lucaderi opened #2985 "Race condition on Influx Data Export"
If Influx is too slow with data ingress, ntopng will end up filling up the disk with data exports, and then the process will stale with no way to exit from this state.
Example:

root@ntop:/data/ntopng/-1/ts_export# find .|wc -l
12919

This race condition can be addressed by stopping ntopng influx export if there are still many files to be imported.

[2019-10-23 07:12] cardigliano commented on #2978
Fixed

[2019-10-23 07:12] #2978 closed, assigned to cardigliano

[2019-10-23 07:25] lucaderi opened #2986 "Preferences caching not working as expected"
ntopng continues to access redis for preferences that should have been cached

1571815485.099036 [0 127.0.0.1:41350] "KEYS" "ntopng.prefs.iface_0.mud.recording.*"
1571815485.102520 [0 127.0.0.1:41350] "HGET" "ntopng.prefs.user_scripts.conf.flow.ifid_0.udp_unidirectional" "disabled"
1571815485.102920 [0 127.0.0.1:41350] "HGET" "ntopng.prefs.user_scripts.conf.flow.ifid_0.remote_to_remote" "disabled"

[2019-10-23 07:27] lucaderi opened #2987 "Serialization disabled yet still active"
When serialisation is disabled in preferences, it is unexpected to see messages such as those below

1571815593.922945 [0 127.0.0.1:41350] "STRLEN" "ntopng.serialized_as.ifid_7_as_2860"
1571815594.101434 [0 127.0.0.1:41350] "STRLEN" "ntopng.serialized_as.ifid_7_as_36062"
1571815594.295934 [0 127.0.0.1:41350] "STRLEN" "ntopng.serialized_as.ifid_7_as_31624"
1571815594.331022 [0 127.0.0.1:41350] "STR

[2019-10-23 08:37] emanuele-f commented on #2958
Temporary work for the ntopng stop/restart committed to https://github.com/emanuele-f/ntopng/tree/restart_ntopng

[2019-10-23 08:45] underleo commented on #2949
Issue fixed after upgraded to "3.9.191023-7578".
Thank you.

[2019-10-23 09:03] emanuele-f commented on #2986
Preferences caching is currently implemented only for plain values (e.g. `GET key`), not for redis hashes (e.g. `HGET key`)

[2019-10-23 09:25] emanuele-f commented on #2986
The KEYS command for the MUD has been removed in 0c96c4915781a17642a642af173552c80ea34cd7

[2019-10-23 09:37] #2967 closed, assigned to emanuele-f

[2019-10-23 09:40] emanuele-f commented on #2967
Additional note: in order to clean the existing serialization it's required to manually go into the Category Lists and change one preference. Now only the diff from the default settings will be stored.

[2019-10-23 09:53] #2966 closed, assigned to emanuele-f

[2019-10-23 11:03] #2975 closed, assigned to emanuele-f

[2019-10-23 11:16] #2987 closed, assigned to nobody

[2019-10-23 12:00] lucaderi commented on #2983
Both ntopng and nProbe support IPv6. Can you please explain what you did exactly and what commands have you used?

[2019-10-23 12:34] emanuele-f commented on #2982
Categories are loaded/reloaded into each network interface when lists are refreshed as each interface holds a different nDPI struct. Did this happen during startup?

[2019-10-23 12:42] lucaderi commented on #2982
No during normal operations. If you look at logs they happen periodically, every hour.

[2019-10-23 12:42] emanuele-f commented on #2986
user_scripts disabled status now use regular keys, so no additional redis access is performed (6fbc01b28e13b8e25ee843785a3631cb2f05e73d)

[2019-10-23 12:42] #2986 closed, assigned to emanuele-f

[2019-10-23 13:06] simonemainardi opened #2988 "SNMP page broken"
![image](https://user-images.githubusercontent.com/3397663/67395652-a732a080-f5a6-11e9-884b-2132f93e40bf.png)

[2019-10-23 13:33] simonemainardi commented on #2988
solved. fixed after updating the pro part.

[2019-10-23 13:33] #2988 closed, assigned to emanuele-f

[2019-10-23 16:21] emanuele-f commented on #2982
Please check out d1d789ea881117a64b72dfebdba630a609e8a7f3

[2019-10-23 16:53] lucaderi opened #2989 "Captive portal broken"
In 3.8 stable the captive portal is broken

[2019-10-23 16:54] lucaderi opened #2990 "Add RTT Monitoring on nEdge"
Enable this functionality that is present only in ntopng

[2019-10-23 16:56] lucaderi opened #2991 "Invalid not assigned traffic count"
In nEdge hosts set as "not assigned" accumulate traffic counters. This is wrong as we count ingress traffic instead of egress traffic (nEdge is a bridge/router) and thus the counters should be 0 as this traffic never flows on the network

[2019-10-23 17:02] lucaderi opened #2992 "Implement periodic update check"
Both ntopng and nEdge should periodically check if there us a new version available and report it to the user. In this case admin users can update (from the web GUI) to the new version. Please show a warning in case updating will break the current license and let the user decide to move forward or now

[2019-10-23 17:02] lucaderi opened #2993 "Implement data deletion"
Same as the functionality present in ntopng

[2019-10-23 17:04] lucaderi opened #2994 "Add the ability to send emails"
In nEdge in order to send emails it is necessary to have an MX. No gmail or similar is supported as no TLS authentication is available.

This problem needs to be addressed

[2019-10-23 17:10] lucaderi opened #2995 "Add schedule column"
In the screenshot below, please add a new column that reports when the specific row is scheduled for update (daily, hourly....)

<img width="1361" alt="Screenshot 2019-10-23 at 19 09 25" src="https://user-images.githubusercontent.com/4493366/67417303-baeefe80-f5c8-11e9-8d96-2952ffc94539.png">

[2019-10-24 02:38] Ricky0619 commented on #2983
I use :
nprobe -T  "%IPV6_SRC_ADDR %IPV6_DST_ADDR %IPV6_SRC_MASK %IPV6_DST_MASK %IPV6_NEXT_HOP %EXPORTER_IPV6_ADDRESS %PROTOCOL %IN_BYTES %OUT_BYTES %FIRST_SWITCHED %LAST_SWITCHED %HTTP_SITE %HTTP_RET_CODE %IN_PKTS %OUT_PKTS %IP_PROTOCOL_VERSION %APPLICATION_ID %L7_PROTO_NAME %ICMP_TYPE " --tcp "192.168.1.0:3333" -b 2 -i ens224 --json-labels &

When the instruction is used, there is data in the fi

[2019-10-24 08:31] emanuele-f commented on #2983
Can you provide the output of `nprobe --version`?

[2019-10-24 08:32] emanuele-f commented on #2993
Please note that ntopng data deletion is not complete (see #2548). This is the reason why it has been chosen not to add it to nedge

[2019-10-24 08:43] ListenNjoy opened #2996 "Targus Dataspeed Error influxdb"
I see this error in ntopng alerts and wondering how to fix, tried to search GitHub and google butt cant find anything about it.

Anybody else experiencing

Version | 3.8.191021 -

Error from systemctl status ntopng.service -l

[24/10/2019 10:15:14][Error][InfluxDB Export Failure][Influx DB][http://192.168.15.22:8086] There was an error while sending timeseries data to "http://192.168.15.22:8086"

[2019-10-24 08:49] Ricky0619 commented on #2983
This is the data collected by Splunk to Nprobe.
As the picture shows, after only one minute, there is no more data.
[https://i.imgur.com/9Hd4x1i.jpg](url)
[https://i.imgur.com/2H1SMBx.jpg](url)
[https://i.imgur.com/BM9Z8xG.jpg](url)

[2019-10-24 09:24] simonemainardi commented on #2961
this should already be implemented (for local hosts). please check

![image](https://user-images.githubusercontent.com/3397663/67472082-d1d93380-f650-11e9-9a83-06a41f0a3e71.png)

and report if that is what you were looking for

[2019-10-24 09:26] simonemainardi opened #2997 "New Flows should not be allocated when the hash table is full"
Flows, but in general, hash table entries, are allocated and then immediately destroyed when their corresponding hash table is full. When an hash table is full, corresponding entries should not be allocated at all.

[2019-10-24 09:45] emanuele-f commented on #2996
This is already fixed in dev, 2d2566135d1f08b6bc0070ec3dd71a9121ff822a should be backported to stable

[2019-10-24 09:48] emanuele-f commented on #2968
@war59312 I tested this with latest package and was unable to reproduce. Please update to the latest version an provide the new trace

[2019-10-24 09:52] emanuele-f opened #2998 "Handle the worst case for timeseries export"
When InfluxDB is not able to keep up with the insertion speed, we should detect this and avoid writing timeseries data at all for some time. As a further optimization, we can avoid iterating the hosts for timeseries data when this occurs.

[2019-10-24 09:53] emanuele-f commented on #2985
Please see #2998

[2019-10-24 09:53] #2985 closed, assigned to emanuele-f

[2019-10-24 09:55] emanuele-f opened #2999 "Add user scripts benchmark charts"
Note: some care must be taken in order to export the timeseries data at a consistent step, in order to make RRD happy. The max script execution time should be accounted for the charts

[2019-10-24 10:46] emanuele-f commented on #2998
As internal discussion, a single queue export (as now) will be used to handle the export

[2019-10-24 12:27] notyourcommy opened #3000 "LDAP User Group field doesn't support groups with space in the name"
LDAP User Group field doesn't support grup with space in the name - like "Domain Users"
Escape characters doesn't help ("Domain Users")

[2019-10-24 12:45] ListenNjoy commented on #2996
OK any timeline on the backport.?

[2019-10-24 13:13] ListenNjoy commented on #2996
3.8.191021 - Enterprise Edition is the version we use

[2019-10-24 14:09] #2998 closed, assigned to emanuele-f

[2019-10-24 14:12] emanuele-f commented on #3000
Hi, what ntopng version are you using?

[2019-10-24 14:56] emanuele-f commented on #2948
Note: the message was previously extracted and used to generate an alert but later the alert was commented so such message is lost. Check out `_exportErrorMsg` which is still present in the code

[2019-10-24 15:28] cardigliano commented on #2963
Implemented

[2019-10-24 15:28] #2963 closed, assigned to cardigliano

[2019-10-24 15:29] cardigliano commented on #2962
SYN scan has been implemented with #2963. Do we need specific/additional checks for this?

[2019-10-24 15:39] helpdeskdan opened #3001 "Long-Lived Flows Duration broken"
ntopng Community Edition v.3.9.191023 stable from deb

On /lua/admin/prefs.lua?tab=alerts, "Long-Lived Flows Duration" instead of an on/off selector, I see:
<pre>
/usr/share/ntopng/scripts/lua/modules/lua_utils.lua:684: attempt to compare nil with number
</pre>
Corresponding log:
<pre>
Oct 24 09:22:05 moloch_jr ntopng[15285]: [LuaEngine.cpp:11477] WARNING: Script failure [/usr/share/ntopng/scripts

[2019-10-24 16:17] notyourcommy commented on #3000
Hello. It's 3.9.191022 -  Enterprise Edition

[2019-10-24 17:09] helpdeskdan opened #3002 "Alerts API Error"
Alerts API returns error on "engaged."  "historical-flows" appears to work just fine.

<pre>
/usr/share/ntopng/scripts/lua/modules/alert_utils.lua:452: attempt to perform arithmetic on a nil value (local 'currentPage')
</pre>

[2019-10-24 17:41] helpdeskdan commented on #3002
Apologies, I did not provide any other info:
ntopng Community Edition v.3.9.191023 stable from deb

If there is curl output or anything else I can provide, let me know - thank you.

[2019-10-24 18:00] #2997 closed, assigned to cardigliano

[2019-10-24 18:24] #2999 closed, assigned to emanuele-f

[2019-10-24 20:13] lucaderi opened #3003 "Flow scripts development not completed"
A few bugs
1. Most flows have no description (column Flow Callback)
2. "Latest Run" must be split in two columns: # of calls and Throughout
3. Columns should be sortable, but if too difficult leave them like this
4. Preferences should be removed and and put in the configuration column

![Screen Shot 2019-10-24 at 22 09 19](https://user-images.githubusercontent.com/4493366/67521419-23161100-f6ab-11

[2019-10-24 22:46] war59312 commented on #2968
Thanks, I just noticed the upgrade available. :)

Now on:

During the upgrade, I noticed this, the last line:

[code]

And:

[code]

Everything seems fine. Will monitor SysLog.

PS: http://apt.ntop.org needs a bandwidth upgrade. I was lucky to get 621 KB/s (upgrade took 6 minutes and 41 seconds just to download packages). I'm on AT&T Fiber 1 GB/s. So pretty darn slow. Perhaps some download mirror

[2019-10-25 06:37] lucaderi commented on #2982
Still bugged
![Screen Shot 2019-10-25 at 08 36 14](https://user-images.githubusercontent.com/4493366/67548661-a6af1c80-f702-11e9-9b3c-0e52a93d8d41.png)

[2019-10-25 06:38] lucaderi commented on #2982
What is the parameter I can set for maximum reload time?
Why ntop complains so much? If it takes lets say 1 min what's wrong it with?
Furthermore whenever there is nothing to do as in this case no reload is necessary

[2019-10-25 06:57] lucaderi opened #3004 "Almost useless charts"
![Screen Shot 2019-10-25 at 08 53 03](https://user-images.githubusercontent.com/4493366/67549591-ed057b00-f704-11e9-9bf7-43ffd7c20800.png)

![Screen Shot 2019-10-25 at 08 58 37](https://user-images.githubusercontent.com/4493366/67549934-a9f7d780-f705-11e9-853a-6be9dcccd38d.png)

if you look at the above table
1. data cannot be sorted
2. you have individual script chart and timing
3. it is not poss

[2019-10-25 07:05] lucaderi opened #3005 "Create purge alert"
![Screen Shot 2019-10-25 at 09 03 04](https://user-images.githubusercontent.com/4493366/67550279-55a12780-f706-11e9-8b4e-989f80e33372.png)

Create script that generates an alert (with state) when there are more than x % (of the total entries) to be purged. The x value is a parameter set at runtime that can have a default value of 20.

[2019-10-25 10:28] simonemainardi opened #3006 "InfluxDB Alerts not Shown"
![image](https://user-images.githubusercontent.com/3397663/67564243-dd952a80-f722-11e9-8773-b3b963f45c61.png)

[2019-10-25 12:00] cde0 commented on #2937
ntopng support historical chart per host ?
Cheers :)

[2019-10-25 12:15] #3006 closed, assigned to nobody

[2019-10-25 12:30] cardigliano commented on #3005
Implemented

[2019-10-25 12:30] #3005 closed, assigned to simonemainardi, cardigliano

[2019-10-25 13:15] simonemainardi commented on #2954
implemented.

vector-based purging implemented at: https://github.com/ntop/ntopng/commit/955eed4b50e370a95bcd12a124d12fef66c8f885

periodicStatsUpdate refactored so that purge idle is always performed every 5 seconds whereas the stats update freq depends on the type of interface: https://github.com/ntop/ntopng/commit/00f8c7d681069e05f9d629769396e3bf30b25b41

[2019-10-25 13:15] #2954 closed, assigned to simonemainardi, lucaderi

[2019-10-25 14:18] #2957 closed, assigned to cardigliano

[2019-10-25 14:20] cardigliano commented on #2957
Implemented with
https://github.com/ntop/ntopng/blob/dev/src/ThreadedActivity.cpp#L314
and
https://github.com/ntop/ntopng/commit/2da3bafe10c898a6eec875bd46c14ceebd0a0c91

[2019-10-25 15:02] lucaderi commented on #3004
![Screenshot 2019-10-25 at 17 01 38](https://user-images.githubusercontent.com/4493366/67581952-265fda00-f749-11e9-9b47-1a585a2d7de1.png)
nil everywhere

[2019-10-25 15:03] lucaderi commented on #3004
![Screenshot 2019-10-25 at 17 02 40](https://user-images.githubusercontent.com/4493366/67582020-48f1f300-f749-11e9-8654-604678279256.png)
Invalid name "@67" and inconsistent throughout the page

[2019-10-25 15:04] lucaderi commented on #3004
Remove chart icon that is misleading and move it to "tool" page.As thus is a global script setting and not per host, it has to be reported as global. Furthermore it has to be a stacked chart to evaluate the overall script cost

[2019-10-25 15:04] simonemainardi opened #3007 "High Redis Activity"
On large networks a `redis-cli monitor` highlights intense activity with reference to alerts. It is necessary to reduce this activity almost to zero. Among the most requested keys there are those containing `disabled_alerts`.

[2019-10-25 15:08] lucaderi commented on #3003
![Screenshot 2019-10-25 at 17 08 30](https://user-images.githubusercontent.com/4493366/67582461-1ac0e300-f74a-11e9-9bc5-4d27577fe02f.png)

Expert view is bugged

[2019-10-25 15:24] lucaderi opened #3008 "Improve remote hosts keys handling"
For remote hosts the preferences are continuously read from redis. Instead of checking them individually per host, we need to save them in one shot and reload them whenever preferences change. This to avoid continuous redis polling.

Please note that this ticket has dependencies (improvement) on #3007

[2019-10-25 15:28] lucaderi opened #3009 "Brute Attacks Not Detected"
[WebattackBruteForce.pcap.gz](https://github.com/ntop/ntopng/files/3772703/WebattackBruteForce.pcap.gz)

[2019-10-25 15:34] cardigliano opened #3010 "Review the implementation of Active Host Contacts"
Review the implementation of Active Host Contacts to make sure it handles the worst case and avoid the data structure grows indefinitely in case of scans for instance.

[2019-10-25 15:35] emanuele-f commented on #3010
Implement an host script with default value 500

[2019-10-25 15:38] lucaderi opened #3011 "Link Script overview to the GUI"
The page /lua/user_scripts_overview.lua needs to be referenced under the "Home" menu and in all the scripts page (as bottom page note HREF)

[2019-10-25 15:54] lucaderi opened #3012 "Bind periodic activities thread to a CPU"
Packet polling threads are bound to CPUs, all the other threads not. This needs to be implemented

[2019-10-26 11:14] QGB commented on #2351
dpdk httpserver

[2019-10-27 06:41] lucaderi opened #3013 "Rename all SSL to TLS"
Inside ntopng there are references to ssl that is old. Example
- protos.ssl.server_certificate
- flow.getSSLInfo()
- i18n strings

Everything should be renamed to TLS

[2019-10-27 07:07] fsamareanu opened #3014 "Various errors in logs & GUI"
Hello,

After updating to 3.9.191027-7971 on debian buster I can see these in logs:

[code]
Also, the flows tab doesn't display any flow information (active flows says No results found) but I can see traffic information in traffic dashboard.

![image](https://user-images.githubusercontent.com/38040820/67631008-dea49400-f8a9-11e9-8580-dd1241a03cb9.png)
![image](https://user-images.githubusercontent

[2019-10-28 11:35] emanuele-f commented on #2982
Unnecessary reload has been fixed in 943012e8c3c8a123c69c6bb3d552dc6dcced836d . Regarding the reload time, the 10 seconds are used as a worst case deadline, so ntopng is not expected to take so much time to reload them. I've tried to reproduce it with different setups (pcap interface, pf_ring interface, dummy interface) however could not reproduce it.

After commit a41278f4a39c259c7db2d9f660056674

[2019-10-28 13:51] emanuele-f commented on #3014
For the device type nil issue, please wait for the next package (fixed in aea6d00c56b27b7cfd2f7bb000d3d377f663375d). Regarding empty active flows page, please check out the ntopng logs to see if there is an error reported `sudo journalctl -u ntopng`. For the crash, can you please provide a stack trace as described in https://github.com/ntop/ntopng/blob/dev/doc/README.crash ?

[2019-10-28 14:55] cardigliano commented on #3012
Implemented with -y <comma-separated list of cores>

[2019-10-28 14:55] #3012 closed, assigned to nobody

[2019-10-28 15:53] emanuele-f commented on #3003
Issue fixed

[2019-10-28 15:53] #3003 closed, assigned to emanuele-f

[2019-10-28 17:06] fsamareanu commented on #3014
Problem 1: waiting for the build. 3.9.191028-7984 doesn't fix it.
Problem 2: empty active flows: nothing in the log (attached)
[startup log.txt](https://github.com/ntop/ntopng/files/3779819/startup.log.txt)

Problem 3: Attached the stack trace.
[bt.txt](https://github.com/ntop/ntopng/files/3779810/bt.txt)

[2019-10-28 18:11] lucaderi opened #3015 "Improve redis statistics"
Currently redis statistics are very poor. Add new metrics (as well charts) for number of request divided
- operation families (e.g. GET, HGET, SET, HSET, other)
- content families (e.g. preferences, hosts....)

[2019-10-28 18:21] lucaderi opened #3016 "Improve Internals Page"
The internals page (/lua/if_stats.lua?ifid=X&page=internals) is not in standard format with respect to the rest of ntopng as
- numeric cells to not have the usual arrow up/down/equal
- numeric cells are not periodically updated via ajax
- add a counter of the number of flow scripts executed

[2019-10-28 18:25] lucaderi opened #3017 "Missing Internals Dashboard"
When an ntopng instance has several interfaces, it is hard to understand what happens with all the interfaces.
It is necessary to create either
- a new page which compares all the interfaces
or
- (better) report everything in one page
or
- (also good) compare various interfaces with graphs

Bottom line: we need to compare data from various interfaces and as of today it is cumbersome.

[2019-10-29 03:02] ghost commented on #2875
Hi guys.

Thanks for your help on this.

You can close this as I don't have the ntopng VM any more.

[2019-10-29 05:42] fsamareanu commented on #3014
With the latest update (3.9.191029-7992) my syslog gets filled with lines like this:

`Oct 29 09:42:06 gemma ntopng: [29/10/2019 09:38:50][Error][Suspicious Device Protocol][Flow][flow] Suspicious Device Protocol [Flow: redacted-pihole.local.lan@1... one.one.one.one@100] [UDP] [Application: DNS]`

And these:

[code]
However, there are no drops on the interface:

[code]

[2019-10-29 08:17] simonemainardi commented on #2984
purging has now been reworked, significantly improved and made more aggressive in 955eed4 using a vector-based strategy

[2019-10-29 08:17] #2984 closed, assigned to simonemainardi

[2019-10-29 08:26] emanuele-f commented on #3014
Can you post your /etc/ntopng/ntopng.conf configuration?

[2019-10-29 08:30] emanuele-f commented on #3014
Crash should be fixed in 883c268f7c9824c733f5a5c07e1399bc138f8d7e (new package available in one hour).

Regarding the syslog issue, do you have the syslog alert endpoint enabled into the ntopng preferences?

[2019-10-29 08:41] fsamareanu commented on #3014
Sure, config below:

[code]
Also, yes I did seem to have syslog alert endpoint enabled although I don't remember ever doing it. Besides, why do DNS requests qualify as "suspicious" flow?
Regarding the empty flow list, any more ideas?

[2019-10-29 09:02] simonemainardi commented on #2983
all the links above point to an empty https://github.com/ntop/ntopng/issues/url
please check

[2019-10-29 09:24] simonemainardi commented on #2968
Thanks for reporting. Please, open a separate issue for the seemingly wrong escaping. Thank you.

[2019-10-29 09:24] #2968 closed, assigned to emanuele-f

[2019-10-29 09:26] simonemainardi commented on #2960
@ingria please let us know if you need help. We would be happy to assist you.

[2019-10-29 09:26] simonemainardi commented on #3002
please, show the exact url you are contacting.

[2019-10-29 09:30] simonemainardi commented on #2893
script migrated.

[2019-10-29 09:30] #2893 closed, assigned to emanuele-f

[2019-10-29 09:33] simonemainardi commented on #2753
any news here?

[2019-10-29 11:10] emanuele-f commented on #2982
The discussed rework has been implemented in 378a1e2cd8b71feee71721eacb87b31c6c0a135f . Now a separate ndpi_struct is populated with the categories and then swapped. The old structure is cleaned up after about 15 seconds. Successive reloads are delayed until at least 10 seconds have passed to make the shadow pointer work correctly.

[2019-10-29 11:10] #2982 closed, assigned to emanuele-f

[2019-10-29 11:17] StewAlexander-com commented on #2753
Sorry, missed this, will look into it

[2019-10-29 13:21] simonemainardi opened #3018 "Flow aggregation not working"
After the recent rework of idling and purging of flows, flow aggregation no longer works. Concurrency must be handled.

[2019-10-29 13:23] simonemainardi opened #3019 "View interfaces broken"
View interfaces could have been affected by the recent rework to the way flows are idled and purged. It is requested to check and possibly fix them.

[2019-10-29 15:49] emanuele-f commented on #3004
Here is a list of the fixes:

- Fix nil value in user scripts column 22742fa0d559c163ebb460523698ba6d8c7c7506
- Add total row in flow user scripts benchmarks 13a7b8ba6708b3a0aa8507f8d14f34001c98885a
- Add stacked top user scripts chart 63660b59f4e0462bfa8b1afce8ff91b11210d23e
- Fix network interface alias not used in alerts configuration 29e5b10e6f91751d1cd903294735f9554fbea233

[2019-10-29 16:50] #3018 closed, assigned to simonemainardi

[2019-10-29 17:18] emanuele-f opened #3020 "User scripts duration should be updated every 5 seconds"
The current cumulative value is a bit misleading for the user as it represents the total duration over the 5 minutes. It's requested to dump the stats directly in the ht_stats script

[2019-10-29 17:20] emanuele-f opened #3021 "Split ht:luacalls chart in two and create a custom chart"
The chart data should be unified with the user_scripts metrics

[2019-10-29 22:12] lucaderi commented on #3004
<img width="493" alt="Screenshot 2019-10-29 at 23 11 57" src="https://user-images.githubusercontent.com/4493366/67813322-8c2dc800-faa1-11e9-9192-fc91aa5b428f.png">
The top is still useless when the top script is "other'

[2019-10-29 22:16] lucaderi opened #3023 "CPU Load is broken"
CPU load as reported by ntopng is not consistent what top says.

The source should be
# cat /proc/loadavg
1.79 2.66 3.54 10/327 188936

and in the above case you should plot 1.79

[2019-10-30 08:32] simonemainardi opened #3024 "Calls to tcp_probing.lua should be optimized"
`tcp_probing.lua` is executed periodically on every flow and it is very time consuming. Given that it is effective only for mono-directional client-to-server flows and for flows with an incomplete three way handshake, it is requested to implement an extra filter to only call this script on flows with such characteristics.

[2019-10-30 08:36] lucaderi opened #3025 "Dropped alerts: what are they?"
<img width="1254" alt="Screenshot 2019-10-30 at 09 32 14" src="https://user-images.githubusercontent.com/4493366/67841378-3b958980-faf8-11e9-8baf-db815a7e7de0.png">

- It is not clear what is a dropped alert: a label is necessary.
- It is important to have a timeseries for dropped alerts that has to go (line) on the chart below
<img width="1248" alt="Screenshot 2019-10-30 at 09 34 04" src="https:/

[2019-10-30 08:40] emanuele-f commented on #3004
After internal discussion, here is the new todo:

1. Save the total duration and number of calls for all the scripts
2. In the total row, add a link to the total chart
3. In a user script chart, show both the total and the current script values
4. In the flow user scripts, show the duration and number of calls with a percentage value relative to the total
5. Delete misleading "Last Calls/sec" in t

[2019-10-30 10:21] lucaderi opened #3026 "Implement filtering of "active local hosts""
An active host is defined as a such if it has transmitted at least one packet. As network scanners contact hosts that are not really active in
<img width="262" alt="Screenshot 2019-10-30 at 11 17 31" src="https://user-images.githubusercontent.com/4493366/67849540-047aa480-fb07-11e9-95c2-490ab15beb16.png">

it would be nice to add a new entry that reports
- active local hosts
- non active local hos

[2019-10-30 10:59] emanuele-f commented on #3007
The two repeated redis calls are the followings:
1. `"GET" "ntopng.prefs.alerts.ifid_0.disabled_status.host_1.2.3.4@123"` (keeps a bitmap of the flow status which should not trigger an alert for the host)
2. `"HGET" "ntopng.prefs.alerts.ifid_0" "1.2.3.4@123"` (indicates if the given alertable entity can trigger alerts or not)

Here is my suggested solution to the above access.

For [1]:
- keep a p

[2019-10-30 12:20] lucaderi commented on #3007
Make sure you implement strict upper-limit checks to avoid creating huge maps. I believe that using bloom filters to check if going to redis would be a great solution both in terms of memory, serialisation and amount of code you have to write. In essence a bloom can report you in case of match if you go to redis to check or not. This because of false positives.

[2019-10-30 13:18] simonemainardi opened #3027 "ntopng crash on ThreadedActivity::updateThreadedActivityStats"
[code]

[2019-10-30 13:45] ListenNjoy opened #3028 "Error in alerts setting page"
Get this in Runtime Preferences Alert in configuration page

HTTP/1.1 500 Internal server error Content-Type: text/html Connection: close  Script "/usr/share/ntopng/scripts/lua/admin/prefs.lua" returned an error:

/usr/share/ntopng/scripts/lua/modules/lua_utils.lua:684: attempt to compare nil with number

[2019-10-30 14:03] emanuele-f commented on #3028
What is the output of `ntopng --version`? Can you post a screenshot of the page?

[2019-10-30 14:12] emanuele-f commented on #3014
Such alerts are generated based on the "Device Applications" configuration. If you browse the past flow alerts via the ntopng gui and filter by "Suspicious Device Protocols" you should be able to get more information about a specific alert.
Regarding the empty flows list, does this only happen on the View interface (`-i view:enp4s0...`)?

[2019-10-30 14:14] emanuele-f commented on #3008
Double checked this and it does not happen as we already pre-load from redis all the local/remote hosts alert configuration before iterating them.

[2019-10-30 14:14] #3008 closed, assigned to nobody

[2019-10-30 14:19] emanuele-f commented on #3007
A suggested alternative is to move all the alert-related preferences to lua and pre-load them before iterating the hosts/interfaces/networks. The migration requires some work as some C logic currently depends on some preferences (e.g. `Flow::triggerAlert`).

[2019-10-30 14:51] fsamareanu commented on #3014
For example this flow:

192.168.100.3:44764  9.9.9.10:53

Under additional flow status there's this:

Remote client and remote server
Suspicious Device Protocol

But 192.168.100.3 is local (based on -m setting)

And yes, seems only the view is not reporting any flows. If i select the individual interfaces I see traffic (but the counters are much lower than actual traffic).

From a linux server in

[2019-10-30 14:54] #3027 closed, assigned to simonemainardi

[2019-10-30 14:59] ListenNjoy commented on #3028
v.3.9.191030    [Enterprise/Professional build]

Upgraded from Stable version

[2019-10-30 18:18] simonemainardi commented on #3019
fixed in https://github.com/ntop/ntopng/commit/e8277e46ff651e7109a5109e4ffaea20ca18d1ca and subsequent commits

[2019-10-30 18:18] #3019 closed, assigned to simonemainardi

[2019-10-30 22:43] helpdeskdan commented on #3002
This yields the error, thank you.

<pre>
import requests

cookies = {
    'user': 'admin',
    'password': 'admin',
}

params = (
    ('ifid', '1'),
    ('status', 'engaged'),
)

response = requests.get('https://192.0.2.1:3000/lua/rest/get/alert/data.lua', params=params, cookies=cookies, verify=False)
print (response.content)
</pre>

[2019-10-30 23:13] war59312 commented on #2968
Sadly still getting the same "Warning Script Failure second.lua - Bad Argument #2" in SysLog.

How to get you a trace?

[2019-10-30 23:17] war59312 opened #3029 "On Upgrade Raspbian Pi 4 Buster: Bad escaping"
Hi,

On Raspbian Pi 4 Buster., upgrading from:

To:

Everything seems fine.

Thanks,

Will

[2019-10-31 07:40] emanuele-f commented on #2968
The trace should be reported in the log just before the script failure error

[2019-10-31 10:39] da-rodriguez opened #3030 "Cannot install supported ntopng on Debian Buster"
After followed the procedure from http://packages.ntop.org/apt/

...
wget http://apt.ntop.org/buster/all/apt-ntop.deb
apt install ./apt-ntop.deb

Just got the following error

[code]

[2019-10-31 12:31] #3020 closed, assigned to emanuele-f

[2019-10-31 17:06] #3021 closed, assigned to emanuele-f

[2019-11-01 10:15] jsuelwald opened #3031 "Can't compile on ubuntu server 19.10"
Hi,

i was trying to compile ntop on a fresh install of ubuntu server 19.10 and i ran into some trouble:

[code]

[code]

[code]

[2019-11-01 10:24] lucaderi commented on #3031
Did you clone BOTH ntopng and nDPI development packages? I have the feeling you have mixed versions

[2019-11-01 11:05] #3031 closed, assigned to nobody

[2019-11-01 11:38] jsuelwald commented on #3031
Thanks :) And yeah, that was the problem. Now everythink works fine (some comments further below)

And thanks for the very fast response on that

---
I was following this guide ( https://www.ntop.org/get-started/download/ ) but didn't think that nDPI was not-optional (i tink it was installed from the ubuntu repository).

Furthermore: The ./autogen.sh - step & the "make install" - step is missing i

[2019-11-02 16:33] lucaderi commented on #3030
This is a warning non an error. Go ahead please

[2019-11-02 16:33] #3030 closed, assigned to nobody

[2019-11-02 18:10] lucaderi opened #3032 "Double nDPI reload"
Enabling tracings such it is easy to check that  lists_utils.checkReloadLists()  has been called twice (double reload). This is not necessary

Tested with ntopng -i lo -i tcp://127.0.0.1:1234c -i syslog://127.0.0.1:9999  -i eth0 -i enp5s0

Note that you need at least two (-i) interfaces to reproduce it

[2019-11-02 18:57] lucaderi commented on #3032
Additional bug: you see, to reload the same host twice

02/Nov/2019 19:56:47 [NetworkInterface.cpp:7499] nDPILoadHostnameCategory(0x7fa8dc4c6610) [datkl.nightmichael.top]
02/Nov/2019 19:56:47 [NetworkInterface.cpp:7499] nDPILoadHostnameCategory(0x7fa8dc83aab0) [datkl.nightmichael.top]
02/Nov/2019 19:56:47 [NetworkInterface.cpp:7499] nDPILoadHostnameCategory(0x7fa8dc4c6610) [datnentrieuvy.com]
02/N

[2019-11-02 19:22] lucaderi opened #3033 "nDPI reload crash"
Because of #3032 nDPI is reloaded twice. Unfortunately when many lists have to be loaded the second reload is triggered while the first reload is still in progress. Calling cleanShadownDPI() causes ntopng to crash.

Another bug is a race condition on Ntop::canSafelyReloadnDPI() that does not check if a reload is still ongoing.

So the bug is that a reload cannot be triggered before a previous one

[2019-11-03 17:19] lucaderi opened #3034 "Slow HT Update on Raspberry"
03/Nov/2019 17:11:33 [NetworkInterface.cpp:2933] ERROR: Deadline exceeded [periodicHTStateUpdate][lo][expected: 17:11:16][off by: 17 secs]
03/Nov/2019 17:11:48 [NetworkInterface.cpp:2933] ERROR: Deadline exceeded [periodicHTStateUpdate][eth0][expected: 17:11:31][off by: 17 secs]

[2019-11-04 09:39] ListenNjoy commented on #3028
I tried to uninstall end remove ntopng from computer and install it again but the same error is in alert page.
/usr/share/ntopng/scripts/lua/modules/lua_utils.lua:684: attempt to compare nil with number

[2019-11-04 09:46] emanuele-f commented on #3028
Can you post a screenshot of the broken web page?

[2019-11-04 09:48] ListenNjoy commented on #3028
![NtopAlertError](https://user-images.githubusercontent.com/43986547/68111991-aa0b8a80-fef0-11e9-86fe-9f2d853bbc7e.jpg)

[2019-11-04 09:54] simonemainardi commented on #2996
any news here?

[2019-11-04 10:07] emanuele-f opened #3035 "Multiple housekeeping scripts executed concurrently"
ntopng can execute multiple housekeeping.lua scripts concurrently. This should never happen and breaks multiple assumptions, creating race conditions

[2019-11-04 10:10] emanuele-f commented on #3032
This happens because of #3035 . Can be easily reproduced by adding a `os.execute("sleep 10")` in housekeeping.lua

[2019-11-04 10:35] #3029 closed, assigned to simonemainardi

[2019-11-04 10:49] #3028 closed, assigned to simonemainardi

[2019-11-04 10:50] simonemainardi commented on #3028
issue is fixed. new builds are in progress. please hold on a couple of hours and the update.

[2019-11-04 10:51] ListenNjoy commented on #3028
Perfect Tanks

[2019-11-04 11:45] #3035 closed, assigned to emanuele-f

[2019-11-04 13:19] fsamareanu commented on #3014
After today's update (3.9.191104-8040) I changed the config to this:

-G=/var/run/ntopng.pid
-i=enp4s0
-m="192.168.0.0/16,172.16.0.0/12,10.0.0.0/8"
-n=0
-F "mysql;127.0.0.1;ntopng;flows;ntopng;PasswordHere"
--http-prefix="/ntopng"
-l=1
-w :3000
-d=/data/var/lib/ntopng
--redis=127.0.0.1:6379:PasswordHere

and all VLANs on the mirror port were discovered (not sure if automatically or there's another

[2019-11-04 13:50] simonemainardi commented on #2996
Fixed. New stable builds in progress. Please, hold on a couple of hours and update.

[2019-11-04 13:50] #2996 closed, assigned to simonemainardi

[2019-11-04 13:52] simonemainardi commented on #3001
Fixed in https://github.com/ntop/ntopng/commit/24c1c1bd73e67d9a1046e87855e9479abc33fc13

[2019-11-04 13:52] #3001 closed, assigned to emanuele-f

[2019-11-04 13:53] simonemainardi commented on #3014
Thanks for reporting.

[2019-11-04 13:53] #3014 closed, assigned to nobody

[2019-11-04 14:52] simonemainardi commented on #3023
implemented in https://github.com/ntop/ntopng/commit/c17157495796b13c95fbdb46b5e12aa01119f5a5

[2019-11-04 14:52] #3023 closed, assigned to simonemainardi

[2019-11-04 15:08] emanuele-f opened #3036 "DHCP broadcast traffic marked blacklisted domain"
![2019-11-04_16-08](https://user-images.githubusercontent.com/5488003/68131420-ef41b380-ff14-11e9-808f-bd0f1785c1cd.png)

[2019-11-04 16:11] emanuele-f commented on #3007
Hosts `disabled_status` migrated to lua and optimized in 675adcf90e0d60fd22999bc05e94a8b911919481

[2019-11-04 16:13] simonemainardi commented on #2983
please, reopen with the requested information if necessary.

[2019-11-04 16:13] #2983 closed, assigned to nobody

[2019-11-04 16:32] lucaderi opened #3037 "Hosts scripts are missing in packages (but present on the filesystem)"
<img width="995" alt="Screenshot_2019-11-04_at_17_29_51" src="https://user-images.githubusercontent.com/4493366/68138495-f8d51680-ff28-11e9-8a79-fda129e53fc4.png">

[2019-11-04 16:34] emanuele-f commented on #3032
Fix in 01953cf76f779af8554c000fa64fc591928f2ec0 and 94643f1fe199040f9fd0d0c18dc95692206c8d03

[2019-11-04 16:34] #3032 closed, assigned to emanuele-f

[2019-11-04 16:34] emanuele-f commented on #3033
Fix in 01953cf76f779af8554c000fa64fc591928f2ec0 and 94643f1fe199040f9fd0d0c18dc95692206c8d03

[2019-11-04 16:34] #3033 closed, assigned to emanuele-f

[2019-11-04 17:15] cardigliano opened #3038 "Enqueue Flow alerts from Lua"
Flow alerts life cycle is a long journey in the current implementation:

- they are triggered from Lua, setting a status in the C flow data structure
- periodic activities use that status to enqueue the actual alert to Redis
- periodic Lua script dequeue alerts from Redis and insert them to the DB, through C code

This journey should be shortened by enqueueing alerts to Redis directly from Lua.

[2019-11-04 17:19] lucaderi commented on #3015
The issue is basically implemented, What is missing is a graph of redis calls. It would be desirable also to reformat the table in JSON with up/= icons

[2019-11-04 17:20] simonemainardi opened #3039 "Count the number of times the ht_stats_update anti-stall kicks in"
It is requested to count the number of times the anti-stall system kicks in for flows (`Flow::periodic_hash_entry_state_update`), hosts and other entities.

For flows, it is requested to count also the number of lua calls that are skipped, and opportunely raise an alert.

[2019-11-04 17:21] simonemainardi opened #3040 "Remove virtual bytes from process memory"
only the green actual memory should be present in the following chart

![image](https://user-images.githubusercontent.com/3397663/68142542-ec07f100-ff2f-11e9-9ff2-7362cafd27aa.png)

[2019-11-04 17:38] #3037 closed, assigned to simonemainardi

[2019-11-04 17:51] simonemainardi opened #3041 "Category Updates"
Category lists show a button update now which can be clicked several times. It just shows a green badge at the top of the page, but it is impossible to understand or see if the update process is running and/or completed

![image](https://user-images.githubusercontent.com/3397663/68144319-b49b4380-ff33-11e9-8339-4ad8f58c7d07.png)

It is requested to implement the same mechanism already implemented

[2019-11-04 17:55] simonemainardi opened #3042 "Express idle hash table entries as a percentage of active entries"
Percentages should be shown in this page

![image](https://user-images.githubusercontent.com/3397663/68144717-89652400-ff34-11e9-8ffe-855a9581bcd7.png)

[2019-11-04 17:57] simonemainardi opened #3043 "Check ntopng + nProbe VoIP monitoring"
Recent rework of TVL has affected the VoIP monitoring done with ntopng and nProbe. It is requested to re-check this functionality and make sure all the VoIP fields (e.g., MOS) are properly shown as in this blog post: https://www.ntop.org/nprobe/monitoring-voip-traffic-with-nprobe-and-ntopng/

[2019-11-04 18:00] cardigliano commented on #2856
Asynchronous alerts generation has been implemented. It is now required to rework the flow alerts life cycle as described at https://github.com/ntop/ntopng/issues/3038

[2019-11-04 18:00] #2856 closed, assigned to cardigliano

[2019-11-04 21:30] SNerone opened #3044 "Dashboard Issues"
Can anyone here assist me with why my dashboard will not show the one graph correctly?  I've rebooted the server several times and still have the same issue.

![NtopNG_Issue_001](https://user-images.githubusercontent.com/36712440/68159694-439e6080-ff20-11e9-8744-10ac9852cffe.jpg)
![NtopNG_Issue_002](https://user-images.githubusercontent.com/36712440/68159695-4436f700-ff20-11e9-8135-0d7be3375fb2.jp

[2019-11-05 08:51] emanuele-f commented on #3044
Hi, yesterday I fixed some issues with the dashboard, can you upgrade to the latest version and see if the fix works for you?

[2019-11-05 09:11] emanuele-f commented on #3038
This is also connected to #2944 . We should decouple sqlite from alert generation, for both flow and non-flow alerts.

[2019-11-05 11:29] emanuele-f commented on #3007
Disabled alerts bitmap optimized in a96a90b65fda36f1d5cc936cb1d48f7b142a519b

[2019-11-05 14:03] emanuele-f commented on #3007
Disabled alerts boolean migrated to lua and optimized in 54140b6f1aad41d8c718c2ef7852101edc9c3d17

[2019-11-05 14:37] SNerone commented on #3044
I've updated to v.3.9.191105 however I still seem to have the issue with the dashboard not displaying.
![DashboardScreenShot_002](https://user-images.githubusercontent.com/36712440/68216999-d803d400-ffaf-11e9-8a6d-011830a9dafa.jpg)

[2019-11-05 14:57] cardigliano commented on #3038
Implemented with https://github.com/ntop/ntopng/commit/280213e14876804e7db293e7051fc475b8d72604 and  https://github.com/ntop/ntopng/commit/acdab024da8b9ec74e7a6a17509cdfed97b36197

[2019-11-05 15:03] nobuyukitoyokawa opened #3045 "Data export issue nprobe-agent -> ntopng -> elasticsearch."
I have seen data export issue nprobe-agent -> ntopng -> elasticsearch.
ntopng surely received the data and showing in "flow" in its dashboard. however, these flow data seems not to be exported to elasticsearch.  ntopng is running with community mode, but even with first-10min Enterprise license, it is not happening.
I like to get some assistance with getting around the issue.

# ntopng --version
v

[2019-11-05 15:12] emanuele-f commented on #3007
After the fixes above, the new top redis calls are the following:

- DNS cache access (e.g. `GET/EXPIRE ntopng.dns.cache.1.2.3.4`)
- Alerts events queue (e.g. `RPUSH ntopng.cache.ifid_0.flow_alerts_events_queue` / `ntopng.cache.ifid_0.alerts_events_queue`)
- Alerts notifications queue (e.g. `RPUSH ntopng.alerts.notifications_queue`)
- C to lua alert notifications, not so frequent but used for remo

[2019-11-05 15:38] #3038 closed, assigned to cardigliano

[2019-11-05 15:58] SNerone commented on #3044
Emanuele,

I should mention that if I leave the "Traffic Dashboard" page up long enough... it will show **some** data in it (see the screenshot below) however, if I refresh the page it's gone again.  Is it possible to reset our configuration to factory defaults and see if that will correct the issues that we're having?  Do you think that would help with this as we're okay with losing the current d

[2019-11-05 16:18] emanuele-f opened #3046 "Optimize DNS cache to avoid Redis access"
The current DNS resolution implementation based on Redis produces a lot of redis calls, as explained in #3007 . It's requested to use an own in-memory cache instead.

[2019-11-05 16:23] emanuele-f opened #3047 "Optimize queues to avoid redis access"
ntopng could provide it's own (lockless?) queues in order to reduce the overall redis load and subsequent delay. This is important in particular for the alerts queue as explained in #3007 .

[2019-11-05 16:24] emanuele-f commented on #3007
Individual issues have been opened for the remaining problems.

[2019-11-05 16:24] #3007 closed, assigned to emanuele-f

[2019-11-05 17:54] emanuele-f commented on #3044
The problem is probably related to the different number of points in the timeseries. Can you post here the contents of the variable `ifaces_lastday_data` from the javascript console? In chrome you can export it by following the following instructions: https://stackoverflow.com/questions/11849562/how-to-save-the-output-of-a-console-logobject-to-a-file. Please note that resetting to factory will onl

[2019-11-05 21:50] SNerone commented on #3044
Thanks for sending this over however I don't see where it is that I can get the output of the commands from the link which you've sent above.  I have saved a log file however it's not showing anything from the variable "ifaces_lastday_data".  All that i have is the log file below...
[10.1.3.21-1572990296044.log](https://github.com/ntop/ntopng/files/3811395/10.1.3.21-1572990296044.log)

[2019-11-06 10:19] twistybin opened #3048 "Application Protocol Overview"
Hi,
How can I set TLS.facebook to Facebook application and TLS.youtube to youtube application. Because TLS is category "Web". So It's not exactly to get statistical of users.

Finally, How can I sort Top Application use by users ( example: Top 10,100 Users use facebook in 30days,60days)

Thanks,
![Screen Shot 2019-11-06 at 5 19 45 PM](https://user-images.githubusercontent.com/43060473/68289947-b00

[2019-11-06 13:44] emanuele-f commented on #3044
In the developer console window you should type `ifaces_lastday_data` and press enter. That would print the contents of the javascript variable, then with the method explained in the link above you should be able to export it to file. Sorry for asking you to do these manual steps but currently this is the easiest way to debug this

[2019-11-06 14:00] emanuele-f commented on #3048
What is the output of `ntopng --version`?

Regarding the categorization, by clicking on the flow "Info" it should be recognized as social network, isn't this the case for you?

![image](https://user-images.githubusercontent.com/5488003/68303629-22fb1580-009c-11ea-80e9-b95fc1ac5749.png)

You need nIndex (available in ntopng enterprise) in order to filter the top hosts given an L7 application, pleas

[2019-11-06 14:58] SNerone commented on #3044
Is this what you’re looking for by chance?  If not I’ll keep on trying, thanks so much for your assistance with this…
[10.1.3.21-1573053030672.log](https://github.com/ntop/ntopng/files/3815141/10.1.3.21-1573053030672.log)

Maybe this file?  Sheesh I wish I knew more about programming so I could not only help here but be more a part of these communities and contribute...
[ntopng_ifaces_lastday_data

[2019-11-07 02:08] twistybin commented on #3048
Hi emanuele-f,
I use this ntopng community, because It's the first time I use ntopng, so if help me get statistical of users and export data connect to Power BI, I will buy Ntopng enterprise.
So, Do I have to upgrade enterprise collect top Protocols,categories ?,

In Community, It don't have Top Application,It only have historical Active flow ?
![Screen Shot 2019-11-07 at 9 33 34 AM](https://user-

[2019-11-07 09:11] emanuele-f commented on #3048
You can already review the top applications/categories for an interface/host in the community

![2019-11-07_10-09](https://user-images.githubusercontent.com/5488003/68375199-52faf500-013e-11ea-970a-30653e5904ea.png)

By enabling the `-F nindex`, available in the enterprise, flow export you will have the ability to see the top applications in the past (but not the top categories). I suggest you to

[2019-11-07 09:17] emanuele-f commented on #3044
This is the right one, thank you! The problem is the different number of points in the series as expected, we need to fix this.

![2019-11-07_10-15](https://user-images.githubusercontent.com/5488003/68375655-2398b800-013f-11ea-8109-70514e1377eb.png)

[2019-11-07 09:51] cde0 opened #3049 "Pro trail Licence"
Ntop support Trail License for Professional Edition?
I want to test Professional Edition before i buy it :)
Cheers

[2019-11-07 10:37] seandex commented on #153
It does not work. I tried everything. Last option I have is to delete the database

[2019-11-07 10:55] emanuele-f commented on #153
Please check out https://www.ntop.org/guides/ntopng/faq.html#cannot-login-into-the-gui

[2019-11-07 10:55] emanuele-f commented on #3049
Please contact us via this form: http://www.ntop.org/support/need-help-2/contact-us/

[2019-11-07 10:55] #3049 closed, assigned to nobody

[2019-11-07 10:56] emanuele-f commented on #3015
Implemented in 74a0ce0da9f0d6110dbd0652ccad7952fb34c522 and 58d88d161ef9c6a5be8b10f4e2b727dce9dc552a . Further additions will be discussed separately.

[2019-11-07 10:56] #3015 closed, assigned to emanuele-f

[2019-11-07 11:19] seandex commented on #153
my link also included that one and tried them all
after googling about 6 hours, someone who found the md5 method noticed his password was changed after |md5
since it is so suspicious i googled about hacking redis and found this
https://github.com/Avinash-acid/Redis-Server-Exploit
https://www.exploit-db.com/exploits/44973
I just tried ntopng for 3 days v 3.8
and i really hope my server is not compr

[2019-11-07 11:28] emanuele-f commented on #153
The password reset method should work as long as you can run commands in your system. Can you report the exact command sequence you are using to reset the password?

In general you should never expose services to open ports into the internet. Setting a redis password is also a good idea, please check out this for more security advices: https://www.ntop.org/ntopng/best-practices-to-secure-ntopng

[2019-11-07 13:17] SNerone commented on #3044
When you say "we need to fix this" are you stating this is something on your end or on my end which needs to be addressed?  If it's something on my end, please let me know what direction to head so I can get this taken care of.  Thank you for your time in working with me on this.

[2019-11-07 13:46] emanuele-f commented on #3044
This is a ntopng bug, ntop has to fix this on the codebase

[2019-11-07 15:38] SNerone commented on #3044
Okay, thanks I appreciate it

From: Emanuele Faranda <notifications@github.com>
Sent: Thursday, November 7, 2019 8:47 AM
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: SNerone <scott.nerone@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [ntop/ntopng] Dashboard Issues (#3044)

This is a ntopng bug, ntop has to fix this on the codebase

—
You are receiving this because you authored the

[2019-11-07 16:13] seandex commented on #153
Both bound to 127.0.0.1 with raw mangle and filter on.

I gave up it just worked at the fresh install then after 3 days one yum update took me 10 hours of no sleep on troubleshooting. it upgraded to premium 10 minutes demo, however, i can't even log in.
also, test if reboot really brakes the login as well since I can't go back to the state when it worked.

redis-cli 3.2.12
ntopng v.3.8.191104 [Ent

[2019-11-07 16:20] emanuele-f commented on #3044
Issue is now fixed. The fix will be available in the next package in one hour.

[2019-11-07 16:20] #3044 closed, assigned to nobody

[2019-11-07 16:34] emanuele-f commented on #153
I'm sorry you've spent so much time debugging this. If you still want to do a last try and you don't mind losing ntopng data you can try a full reset:

1. `sudo systemctl stop ntopng`
2. `sudo rm -rf /var/lib/ntopng /var/tmp/ntopng`
3. `redis-cli flushall`
4. `sudo systemctl restart ntopng`
5. Login with `admin` username and `admin` password

This will reset *all* the ntopng data and clear redis.

[2019-11-07 17:37] SNerone commented on #3044
Thanks so much for all of your assistance with this, I've updated and everything looks great!

Regards,
Scott Nerone

[2019-11-08 08:12] mastersesin commented on #3048
Thank you, emanuele-f
I just wrote email to request free trial ntopng enterprise.

I want to show historical like unifi controller.
example :
![Capture](https://user-images.githubusercontent.com/37859402/68460329-33e18d80-023a-11ea-8da8-8f87ae145eb0.PNG)

[2019-11-08 08:59] emanuele-f commented on #3048
Ok thank you. Of course you can use ntopng as a data source. If there is some api missing please let us know.

[2019-11-08 08:59] #3048 closed, assigned to nobody

[2019-11-08 09:18] cardigliano commented on #3047
In the meanwhile, we should implement a rating mechanism to avoid too many RPUSH on the Redis queue when we have too many queued alerts.

[2019-11-08 10:55] emanuele-f commented on #3047
Queue rating implemented in af1dc8a05e373b7ac3bfd53d4f4e7b4f6579bfd7 for the three alerts queues: flow alerts, non-flow alerts, notifications

[2019-11-09 11:20] ingria commented on #2960
Just general recommendations would be OK for now.

I was thinking about using leaflet.js, so that it will be possible to easily change data provider in the future (openstreetmaps/bing/google etc). But it will add extra frontend dependency. Is it fine?

[2019-11-11 13:12] ListenNjoy opened #3050 "Unknown message in log"
When i run journalctl -u ntopng.service -n30 in ntopng centos7 i only see this message repeated

ntopng[110923]: string both

This message is hammering the syslog with over 1000  of these messages every minute.
Any idea what this could be.?

Ntopn Vesrion
v.3.8.191104    [Enterprise/Professional build]
GIT rev:        3.8-stable:759e405b0122bad2ac45a28043f4e302f7032200:20191104
Pro rev:        r21

[2019-11-11 13:19] emanuele-f commented on #3050
Fixed in 2c6a3fe3421a50169b6cbb6c5730ee92ed9fddb6 . A new package will be available in one hour. Thank you for reporting!

[2019-11-11 13:19] #3050 closed, assigned to emanuele-f

[2019-11-11 15:18] emanuele-f opened #3051 "Optimize flow user scripts"
Tests have shown that populating lua tables from C is slow. By using single calls instead of tables we can gain a significant speedup (2-3x speedup on a single script, but a lot more if we remove the `flow.getInfo` call).

Here are some stats:

- new_table() + 3 lua_push_int32_table_entry takes `2849` clock cycles on average
- calling `lua_pushnumber` 3 times takes `933` clock cycles on average

[2019-11-11 15:19] emanuele-f commented on #3024
The script is not slow by his own, however it has a huge impact on the performance because it's currently the only script executed in the `flowEnd` callback. Since the host under test is constantly under scan attacks, such script is executed on many flows. As discovered recently, the performance impact is also bound to the lua table population, in particular in `flow.getStatus`, such requires a re

[2019-11-11 16:03] cardigliano commented on #2962
#2963 also detects this

[2019-11-11 16:03] #2962 closed, assigned to cardigliano

[2019-11-11 17:30] emanuele-f commented on #3051
Initial optimization performed in 739c87a52daaee3e7a772cdc83f29457a2f79c41 (flow.getInfo has been removed, except for the MUD script, this is a todo). With the new code it's now clear that the major time is spent in the flow alerts generation (and flow.getFullInfo() call), which costs some millions ticks

[2019-11-11 18:53] emanuele-f commented on #3051
Time spent analysis:

![photo_2019-11-11_19-52-25](https://user-images.githubusercontent.com/5488003/68612434-731b1300-04b4-11ea-8e10-2fca57133a38.jpg)

[2019-11-12 11:54] simonemainardi commented on #3045
implemented

[2019-11-12 11:54] #3045 closed, assigned to nobody

[2019-11-12 15:06] lucaderi opened #3052 "Inconsistent charts"
![Screenshot 2019-11-12 at 16 03 49](https://user-images.githubusercontent.com/4493366/68682965-47f0fc00-0566-11ea-9cd6-cc1f0c7e2410.png)
![Screenshot 2019-11-12 at 16 03 20](https://user-images.githubusercontent.com/4493366/68682969-47f0fc00-0566-11ea-931e-8221016ba6bb.png)

[2019-11-12 16:40] simonemainardi commented on #2930
implemented, thank you for the suggestion.

[2019-11-12 16:40] #2930 closed, assigned to nobody

[2019-11-12 17:02] juesor opened #3053 "ntopng restarting randomly"
Output of ntopng --version

# ntopng --version
v.3.9.191112    [Enterprise/Professional build]
GIT rev:        dev:c9137bbbcff4d95becc19f03ca677820deb52ea6:20191112
Pro rev:        r2523
Built on:
System Id:      68978C03B20B2B27
Platform:       x86_64
Edition:        Enterprise
License Type:   Permanent
Maintenance:    Until Thu May 14 17:34:11 2020 [184 days left]
License:        pxRtAT/D/J33y9y