[2022-05-25 16:09] cardigliano commented on #6629
Duplicate of https://github.com/ntop/ntopng/issues/6578 (reopened)

[2022-05-25 16:09] #6629 closed, assigned to nobody

[2022-05-25 16:10] cardigliano commented on #6578
Latest reported failure message in #6629

`24/May/2022 16:00:34 [LuaEngine.cpp:595] WARNING: Script failure [/usr/local/share/ntopng/scripts/callbacks/5second/system/network_discovery.lua][index a stringstring value]`

[2022-05-25 16:27] cardigliano commented on #6627
b5934b802d350745ec6e0ed0b416b24e072c41de should fix the "No such column cli2srv_pkts" failure

[2022-05-26 01:48] hdsjahuen commented on #6613
How do I send you the original packet? Can you give me an email address?

[2022-05-26 06:12] martinscheu commented on #6625
Thanks @lucaderi
We have Clickhouse version: 22.4.5.9

[2022-05-26 07:04] hdsjahuen opened #6631 "There is a difference between summary and detail traffic in ntopng"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]

**What happened**:

**What did you expect to happen?**

**How did you reproduce it?**

**Debug Information**:

In the traffic report, I see that the traffic of microsoft365 is 37.8% according to the total traffic of 11.68G during the period，microsoft's tra

[2022-05-26 07:06] lucaderi commented on #6620
In the nDPI API it is possible to exclude domain names with the call ndpi_add_host_risk_mask().

Example:
ndpi_add_host_risk_mask(ndpi_str,".xxxxxxxxxxxxx.org", 0 /* mask all */);

You can also specify this mask in the protocols file "-p protos.txt" with the following line

host_risk_mask:".xxxxxxxxxxxxx.org"=0

See https://www.ntop.org/ndpi/how-to-configure-flow-risk-exclusions-in-ndpi-and-ntopng

[2022-05-26 07:11] lucaderi opened #6632 "Historical Flows broken"
HTTP/1.1 302 Found Server: ntopng 5.3.220526 (x86_64) Set-Cookie: session=0c1debd8833a3c04c5a31a1243b5af1e; path=/; HttpOnly; SameSite=lax Location: /lua/http_status_code.lua?message=internal_error&referer=194.242.61.8%3A3000%2Flua%2Fpro%2Fdb_flow_details.lua%3Fpage%3Dflow%26status%3Dhistorical%26row_id%3D22864155588%26tstamp%3D1653547875&error_message=...are%2Fntopng%2Fscripts%2Flua%2Fmodules%2Fh

[2022-05-26 07:17] cardigliano commented on #6632
Fixed in 48aee7d88fd6a482aaba8101284629e3d471617d

[2022-05-26 07:44] MatteoBiscosi commented on #6631
Hi @hdsjahuen please report the charts you are analysing (specific page and specific charts as i can try to reproduce it). However consider that if you are looking at historical timeseries (saved on rrd or influxdb) they are pretty much aggregation of data, so the data there are not 100% "true" but they should be close to it. Everything depends even on the level of accuracy you have (settings->pre

[2022-05-26 07:46] lucaderi opened #6633 "Info Column is Duplicated in Historical Flow Alerts"
![Screen Shot 2022-05-26 at 09 44 55](https://user-images.githubusercontent.com/4493366/170442492-e6f4c1e1-aa56-4721-91f6-fd7693bb99a2.png)

[2022-05-26 07:50] MatteoBiscosi commented on #6633
Bugged only by using safari
![Screenshot from 2022-05-26 09-49-51](https://user-images.githubusercontent.com/49585191/170443299-45f1e8c9-f3d7-45b7-8874-e5f1247941b8.png)

[2022-05-26 07:58] lucaderi commented on #6632
Verified as fixed

[2022-05-26 07:58] #6632 closed, assigned to nobody

[2022-05-26 08:50] cardigliano commented on #6620
A new method ndpi_reset_host_risk_mask is required to reset and reload the configuration when deleting rules

[2022-05-26 09:34] lucaderi commented on #6578
Your statement is not correct. You used to have issue with parameter 21, and not with 22 (as I fixed 21)

[2022-05-26 10:13] lucaderi opened #6634 "Rework Checks GUI"
![image](https://user-images.githubusercontent.com/4493366/170464305-99d3748f-90d7-42fe-a778-09f08f0b51c4.png)

In the Settings -> Check Exclusions page do
- in the above box add 3 entries: Hosts (that contains the current page content), Domain Names, and TLS Certificate. These two additional entries will be implemented only in the Enterprise M and up, and hidden in the other versions.
- the new e

[2022-05-26 10:14] lucaderi commented on #6620
See #6634 for GUI design changes

[2022-05-26 11:03] lucaderi opened #6635 "Fix for Alert Checks Exclusions"
1. right alignment not working
![image](https://user-images.githubusercontent.com/4493366/170475397-4daf57e4-fe30-423c-a478-e55d24c36954.png)

2. extend the field size
![image](https://user-images.githubusercontent.com/4493366/170475606-a1fcda04-3b62-4635-928c-b83d5e7f41ea.png)

[2022-05-26 13:34] Taralas commented on #6578
Understood. Sorry about the miss on my part. Also, the process is still terminating unexpectedly without writing to the logs. Last entry was as follows:

[code]

[2022-05-26 13:38] Taralas commented on #6578
After updating to v.5.3.220526, getting the following errors:
[code]

[2022-05-26 20:03] 3freet opened #6636 "New device connection alert no longer availabe in >5.0 (Device connection/disconnection script)"
[#4709](https://github.com/ntop/ntopng/issues/4709) is when the feature was first introduced.

Also the Device connection/disconnection script no longer included on newly installed versions. And when trying to add it manually, it breaks many things.

If #6192 is meant to alert on newly detected devices that had never been seen on the network before, just like #4709 did, then this issue might be a

[2022-05-26 20:51] lucaderi commented on #6578
Builds will be created overnight, you are still using the unpatched version

[2022-05-26 21:19] lucaderi opened #6637 "Network Discovery Is Broken"
![Screen Shot 2022-05-26 at 23 18 42](https://user-images.githubusercontent.com/4493366/170581887-419d0137-d561-448b-a6d5-b1102f768327.png)

This is what happens in the network discovery page: the page is broken.

[2022-05-26 21:22] lucaderi commented on #6600
@MatteoBiscosi Is this ticket ready to test?

[2022-05-26 21:28] lucaderi commented on #6586
Closing for inactivity. We assume the problem was solved.

[2022-05-26 21:28] #6586 closed, assigned to nobody

[2022-05-26 21:29] lucaderi commented on #5978
@cardigliano Can you please update the ticket status?

[2022-05-26 21:29] lucaderi commented on #6341
Closing for inactivity. We assume the problem was solved.

[2022-05-26 21:29] #6341 closed, assigned to MatteoBiscosi

[2022-05-26 21:32] lucaderi commented on #6574
Still broken. Just go to http://194.xxxx:3000/lua/alert_stats.lua?page=user&epoch_begin=1653598888&epoch_end=1653600688&status=historical&ifid=2&severity=3%3Blte
take the alert and acknowledge. As you will see it won't disappear as it should.

[2022-05-26 21:51] lucaderi commented on #6626
![image](https://user-images.githubusercontent.com/4493366/170585937-373dba05-d266-428c-a61c-ca37ba12d891.png)

The same issue is still present in flows.

[2022-05-27 07:36] cardigliano commented on #5978
Using a single dropdown or a 2-step selection is equivalent. Since the latter cannot be implemented with the current component I would keep using the single dropdown to avoid wasting time for a new component, if it's not really required.

[2022-05-27 07:43] MatteoBiscosi commented on #6580
closing for inactivity, please reopen if needed

[2022-05-27 07:43] #6580 closed, assigned to MatteoBiscosi

[2022-05-27 07:47] MatteoBiscosi commented on #2722
Implemented as requested

[2022-05-27 07:47] #2722 closed, assigned to MatteoBiscosi

[2022-05-27 09:03] hdsjahuen opened #6638 "Warning about mining inside ntopng"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]

**What happened**:

**What did you expect to happen?**

**How did you reproduce it?**

**Debug Information**:

[Previous Questions](https://github.com/ntop/ntopng/issues/6613)
Hello, I have got the pcap file, I need your help to analyze it to see if you ca

[2022-05-27 11:28] martinscheu opened #6639 "Interface aggregation view hides hosts"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223] : ntopng Enterprise L v.5.3.220520 (Ubuntu 20.04.4 LTS)

**What happened**:
Wenn using the interface aggregation feature, like ntopng -i en0 -i en4 -i view:en0,en4
and then viewing a single interface, the Host Menu in the left bar disappears:
![image](https

[2022-05-27 13:18] Taralas commented on #6578
After updating to v.5.3.220527:
[code]

[2022-05-27 13:44] lucaderi opened #6640 "Dashboard L7 protocol are numeric"
![Screenshot 2022-05-27 at 15 43 18](https://user-images.githubusercontent.com/4493366/170711523-c99e2a54-726a-4bb1-9d50-8d8981608742.png)

[2022-05-27 13:50] MatteoBiscosi commented on #6639
Hi @martinscheu , this is normal, in viewed interfaces, there is no concept of hosts, if you want to find an host you have to check it in the view interface.
In fact if you go to the flow page of the viewed interface (`ens160`) you can see that there is not hyperlink to the host, instead if you go to the view interface there is.
This is developed in this way for two reasons:
- to not duplicate inf

[2022-05-27 13:50] #6639 closed, assigned to nobody

[2022-05-27 14:30] MatteoBiscosi commented on #6604
Implemented as requested. The offline mode can be found in this documentation session https://www.ntop.org/guides/ntopng/cli_options/cli_options.html?highlight=offline

[2022-05-27 14:30] #6604 closed, assigned to JudyyHopps

[2022-05-27 14:34] lucaderi commented on #6638
Ok contact me via email (deri@ntop.org) and send me the pcap privately for inspection

[2022-05-27 14:36] lucaderi opened #6641 "Add Top Interface Hosts"
Under Interface -> Chart, add a stacked chart named "top hosts" similar to "top protocols"

[2022-05-27 14:37] lucaderi opened #6642 "Add Top Network Hosts"
Same as #6641 but for networks

[2022-05-27 14:38] lucaderi opened #6643 "Add comments in -m file"
In the networks file (-m) add the ability to add comments or empty lines

[2022-05-27 14:41] lucaderi commented on #6638
Note that you have a 6 months old ntopng version. Can you please upgrade?

[2022-05-27 14:57] cardigliano commented on #6620
The REST API has been updated to handle this, reworking/moving the old endpoints:

lua/pro/rest/v2/add/alert/exclusion.lua
lua/pro/rest/v2/get/alert/exclusions.lua
lua/pro/rest/v2/delete/alert/exclusion.lua

[2022-05-27 15:38] MatteoBiscosi commented on #6600
Documentation updated by @JudyyHopps in commit 4bfda4ceec0466e717dcbd52a65325337f0d7573

[2022-05-27 17:55] martinscheu opened #6644 "ntopng not starting after command line update"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]: ntopng Enterprise L v.5.3.220520 (Ubuntu 20.04.4 LTS) |

**What happened**:
when doing apt update / upgrade, ntopng is not started automatically.
a systemctl restart ntopng is needed

**What did you expect to happen?**

**How did you reproduce it?**

**Deb

[2022-05-28 14:25] lucaderi commented on #6640
Fixed in 096c8513c6f28cdcfd97dc7fadc6045836af6b40 (pro)

[2022-05-28 14:25] #6640 closed, assigned to nobody

[2022-05-28 14:28] lucaderi commented on #6644
Can you please report the output of "systemctl is-enabled ntopng" ?

[2022-05-28 15:01] #6643 closed, assigned to lucaderi

[2022-05-28 15:02] lucaderi commented on #6637
Verified as fixed

[2022-05-28 15:02] #6637 closed, assigned to MatteoBiscosi

[2022-05-28 15:03] lucaderi commented on #6628
Verified as fixed

[2022-05-28 15:03] #6628 closed, assigned to MatteoBiscosi

[2022-05-28 15:03] lucaderi commented on #6627
Works for me after the fix

[2022-05-28 15:03] #6627 closed, assigned to nobody

[2022-05-28 16:37] Taralas commented on #6578
After updating to v.5.3.220528:
[code]

[2022-05-29 22:11] MichaelKirgus commented on #6552
Hi @MatteoBiscosi,
I recently upgraded from Elasticsearch 7.14 to Elasticsearch 8.2.1.
With ntopng version v.5.3.220529 and Elasticsearch 8.2.1 the flow export to Elasticsearch seems not working anymore:
`May 29 23:48:26 netflow01 ntopng[14453]: 29/May/2022 23:48:26 [ElasticSearch.cpp:189] ES: Buffered request with 9 flows (11024 bytes)
May 29 23:48:26 netflow01 ntopng[14453]: 29/May/2022 23:48:26

[2022-05-30 04:49] Niklasr69 commented on #5978
Hi,
@cardigliano
CC: @lucaderi
As we soon will have over 100 exporters and more will be added, it is very hard do find a specific interface.
I think it can work with the existing implementation if exporters IP address could be replaced by hostname.
Then it's easy to roll down to right exporter.

![image](https://user-images.githubusercontent.com/26242302/170919090-806320e9-f4fb-416a-ab4d-2a21b0a7d

[2022-05-30 08:11] tano46 opened #6646 "[nEdge] dhcp server not running on startup"
**Environment**:
* OS name: Ubuntu
* OS version: 20.04 LTS
* Architecture: amd64
* nedge version/revision: 5.2.220520

**What happened**:
- nedge processe starts with lan cable disconnected
- user conncects LAN cable
- dhcp server service shold be running but it is not available until a ndege service restart

[2022-05-30 08:14] tano46 opened #6647 "[nEdge] static routes disapper"
**Environment**:
* OS name: Ubuntu
* OS version: 20.04 LTS
* Architecture: amd64
* nedge version/revision: 5.2.220520

**What happened**:
- static routes properly configured
- disconnect and reconnect (after 30 secs) LAN cable
- static route should be available again but they are not present since next nedge service restart

[2022-05-30 08:32] bash0ra commented on #6627
This error stopped happening. Thank you.

[2022-05-30 08:35] bash0ra opened #6648 "ntopng/clickhouse again shows Errors"
We still have Clickhous and Ntop raleted errors in the logs:

Environment:

OS name: Ubuntu
OS version: 20.04
Architecture: amd64
ntopng version/revision: [ntopng Enterprise M v.5.3.220530 (Ubuntu 20.04.4 LTS) |
Clickhouse Version: 22.2.2.1

What happened:

On ntopng / System / Health / ClickHouse is showing the two errors below.

30/May/2022 10:21:11 Cannot parse input: expected '\'' before: 'gen

[2022-05-30 09:23] MatteoBiscosi commented on #6451
Closing for inactivity

[2022-05-30 09:23] #6451 closed, assigned to MatteoBiscosi

[2022-05-30 09:24] MatteoBiscosi commented on #6460
Implemented as requested

[2022-05-30 09:24] #6460 closed, assigned to MatteoBiscosi

[2022-05-30 12:45] cardigliano commented on #6648
As of the "Method write is not supported by storage View" message, I pushed a patch set with a few fixes related to that. Let's see after the next software update if it happens again.

[2022-05-30 14:22] basicmonkey commented on #6483
Sorry for the delay. First two requests are instant, no delay whatsoever. All statically served elements are fine.

The third command returns an empty line. Maybe an auth thing as curl not logged in?

[2022-05-30 15:37] MatteoBiscosi opened #6649 "Protocol Info not dumped when dumping flows without alerts"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]

**What happened**:
No Protocol information is dumped to the db if the selected flow has no alert, infact the protocol information are dumped only using alerts.

**What did you expect to happen?**
Dump protocol information even when a flow has no alert

**H

[2022-05-30 16:14] MatteoBiscosi commented on #6636
Hi @3freet we decided to move that alert to 'Unexpected device connected'.
Here you can add a list of excluded Devices (MACs). Whenever a new Device is connected to the network for the first time and it's not part of the exclusion list then the alert is going to be triggered.
![Screenshot from 2022-05-30 18-09-26](https://user-images.githubusercontent.com/49585191/171029516-80f9dad7-64e5-4332-ab74

[2022-05-30 16:14] #6636 closed, assigned to MatteoBiscosi

[2022-05-30 16:23] MatteoBiscosi commented on #6483
yes sorry this is an example:
`curl -s --verbose --cookie "user=admin; password=admin" "http://localhost:3000/lua/admin/edit_configset.lua?subdir=all"`

[2022-05-30 17:34] Taralas commented on #6578
After updating to v.5.3.220530:
[code]

[2022-05-30 18:38] basicmonkey commented on #6483
Thanks. That took about 10 seconds.

[2022-05-30 22:13] martinscheu commented on #6644
it is enabled. I install ntopng with a script:
[code]

[2022-05-31 06:11] hdsjahuen opened #6650 "Questions about IP-identified domain names in ntopng"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]

**What happened**:

**What did you expect to happen?**

**How did you reproduce it?**

**Debug Information**:

I would like to ask how the mechanism of IP to domain name conversion works
For example, 112.80.40.76, which is our company's public IP, is displ

[2022-05-31 06:52] lucaderi commented on #6650
ntopng binds the hostname to the IP (via passive sniffing) when somebody connects to a server. In the current ntopng version (so not yours) we check if the request was successful and then we do the binding, whereas in your version we did the binding all the time. So if you have somebody that is probing your server, what you see is normal.
Bottom line please update. If you enable clickhouse support

[2022-05-31 06:52] #6650 closed, assigned to nobody

[2022-05-31 07:26] hdsjahuen commented on #6650
[image](https://github.com/hdsjahuen/hk/blob/main/12.png)
The version of ntopng is shown in the figure

[2022-05-31 14:46] MichaelKirgus opened #6651 "Flows export failed - Elasticsearch 8.2.1"
**Environment**:
* OS name: Ubuntu
* OS version: 20.04.4 LTS
* Architecture: amd64
* ntopng version/revision: 5.3.220531

**What happened**:
I recently upgraded from Elasticsearch 7.14 to Elasticsearch 8.2.1.
With ntopng version v.5.3.220529 and Elasticsearch 8.2.1 the flow export to Elasticsearch seems not working anymore:
`May 29 23:48:26 netflow01 ntopng[14453]: 29/May/2022 23:48:26 [ElasticSea

[2022-05-31 16:52] MatteoBiscosi commented on #6483
Hi @basicmonkey yeah, it's the issue I told you about above, probably some request to google or some request to the internet blocks .lua script, could you please check the requests done during the curl? maybe we can understand which request is blocked

[2022-05-31 17:10] Taralas opened #6652 "Process Unexpectedly Terminated after Network Discovery"
**Environment**:
* OS name: OPNsense Business Edition
* OS version: 22.4, Based on FreeBSD 13.0-STABLE
* Architecture: amd64
* ntopng version/revision: v.5.3.220530

**What happened**:
After completing periodic execution of network_discovery.lua, process terminated unexpectedly

[code]

**What did you expect to happen?**
Process to not terminate without a logged event, or unexpectedly in normal op

[2022-05-31 21:31] Taralas commented on #6652
After 2 1/2 hours of operation, process terminated unexpectedly with the following recorded to the error log:
[code]

[2022-06-01 06:15] hdsjahuen opened #6653 "ERSPAN to ntopng shows no traffic after"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]

**What happened**:

**What did you expect to happen?**

**How did you reproduce it?**

**Debug Information**:

This is my version of ERSPAN
[image1](https://github.com/hdsjahuen/hk/blob/main/3.png)

This is my configuration for ntopng
[image2](https://gith

[2022-06-01 06:47] hdsjahuen commented on #6650
Hello, I would like to ask if this version I have is the latest one?

[2022-06-01 06:51] lucaderi commented on #6650
Download the latest package from https://packages.ntop.org. The version has the date in the format, so it has to be recent (from late May 2022)

[2022-06-01 06:53] lucaderi commented on #6653
We support ESSPAN Type 2, you have type 1. Please attach a pcap file

[2022-06-01 06:58] lucaderi commented on #6644
Ok but how do you update it?

apt-get update
apt-get install ntopng

I assume. So before running such commands do
- systemctl is-enabled ntopng

and report.

if ntopng was started *before* starting the upgrade, *and* the service is enabled, *after* the upgrade ntopng is restarted. Please check and report.

[2022-06-01 07:28] hdsjahuen commented on #6650
Hi, I don't think it's a software update problem，Because there are multiple public network segments in the company, different operators and different regions, it is impossible for each segment to be considered a pornographic site.
This image shows the domain name and IP in Historical Flows.
This IP starting with 103 is our company's, but the domain name shown is the domain name of the porn site. I

[2022-06-02 08:56] md1440 opened #6654 "error while loading shared libraries: libcap.so.2"
Hi,

I've been trying to run ntopng on my Pi 4 but keep running into `ntopng: error while loading shared libraries: libcap.so.2: cannot open shared object file: No such file or directory`. I am not sure what to make of it, as far as I can tell the libcap2 package is installed and updated and everything should run.

I am running the latest version of ntopng using Raspberry Pi OS Lite 64-bitKernel v

[2022-06-02 13:10] Taralas commented on #6578
Since ticket #6629 was closed already (in regards to process termination during network_discovery.lua run), I will add this here:
[code]
Last log entry before ntopng terminated unexpectedly on v.5.3.220601

[2022-06-03 07:34] 3freet commented on #6636
Is there a way to add all newly connected devices to this list automatically so that we still get alerted but only once?

[2022-06-03 12:25] gianogli opened #6655 "Reset all drops counters feature does not work"
Hi,

if I click over the "Drops Only" button to reset all the drop counters I've that only the last counter is reset as you can see in these screenshots.
![Before](https://user-images.githubusercontent.com/14093378/171853018-c70c4b52-f8ea-49b5-a7df-33980c86f072.png)
![After](https://user-images.githubusercontent.com/14093378/171853072-dfe7cafb-747a-4e94-9bc4-8de70ea2b930.png)

Thanks,

    GiAn

[2022-06-03 15:52] lucaderi commented on #6654
please report
- lsb_release -a
- the ntopng package version you have installed

[2022-06-03 15:53] lucaderi commented on #6648
@bash0ra Did you try the latest version that includes the patch?

[2022-06-03 17:07] bash0ra commented on #6648
Sorry, I haven’t had the time up to now.
But I think it should be fixed.

[2022-06-04 03:52] joonasak opened #6656 ""Application on Non-Standard Port" with protos.txt"
**Environment**:
* OS name: Ubuntu
* OS version: 20.04 LTS
* Architecture: amd64
* ntopng version/revision: 5.2.220520

**What happened**:
According to this article "https://www.ntop.org/ndpi/how-to-configure-flow-risk-exclusions-in-ndpi-and-ntopng/" I have tried to configure this and it's not working.

**What did you expect to happen?**:
The Alert Dashboard should not appear the Error of Applicat

[2022-06-04 03:57] joonasak opened #6657 "Auto-Generate Report"
**What would you like to add or change?**:
I would like to request a feature that can let the nTopng auto generate the report by Daily, Weekly or Monthly.

**Why do you and others need this?**:
Most customer are asking about this because most of them need the report in everyday or every week.

[2022-06-04 06:35] md1440 commented on #6654
Distributor ID:	Debian
Description:	Debian GNU/Linux 11 (bullseye)
Release:	11
Codename:	bullseye

apt-ntop_1.0.190416-469_all.deb as per https://packages.ntop.org/

[2022-06-04 19:25] MichaelKirgus commented on #6651
For everyone who hast the same problem there is an workaround to export to Elasticsearch **if you only use Netflow** (sadly not with ntopng, but better than nothing):
Stop ntopng and nprobe and use the Filebeat Netflow-Integration to send the flows to Elasticsearch. But the template/fields are not the same, so the dashboards in Elasticsearch needs to customized and a few data is missing that ntopn

[2022-06-05 09:54] lucaderi commented on #6656
Please attach protocols.txt and ntopng.conf

[2022-06-05 10:18] stevechilds opened #6658 "Fritzbox Login not working"
**Environment**:
* OS name: Ubuntu
* OS version: 20.04
* Architecture: amd64
* ntopng version/revision: v.3.8.190813	[Community build]
* Fritzbox 7530, version 07.29 (13/11/2021)

**What happened**:
Login to fritzbox using the fritzdump script fails with the "Login Failed" message, even though user (dslf-config) and password is correct (password copy & pasted from Chrome when logging into the box)

[2022-06-05 10:49] stevechilds commented on #6658
Ah, fixed it myself! You don't use the dslf-config username, you use the default user as setup in the FritzBox - e.g. the user fritz6253. You can tell which one it is in the Fritz Box UI.

Sorry, I could have sworn I tried that before posting, I must have mistyped the username - it's worth updating the docs though.

[2022-06-05 11:12] stevechilds commented on #6658
Right after fixing that, now when I try and use it (I had to disable the service as it was automatically enabled when I installed it via apt), I run the script, it sets up the ntopng instance, but when I try to connect, I get a "page "/" was not found" error?

The fritzdump output is as below..

When I open up http://127.0.0.1:3000 it redirects to http://127.0.0.1:3000/lua/login.lua, but I get the

[2022-06-05 11:30] lucaderi opened #6659 "Implement DHCP Alert Storm Detection"
In ntopng there is now the logic to detect DHCP storms (48bf0c7de3a9b646bdb4b250312fb69805fe4bd8)

This is to request to trigger an interface alert in ntopng Entgerprise when such a condition is detected

[dhcp_starvation.pcap.gz](https://github.com/ntop/ntopng/files/8839866/dhcp_starvation.pcap.gz)
.

[2022-06-05 11:52] stevechilds commented on #6658
Ah, fixed it again! - Never mind, hopefully this thread may help someone else :)

You need to edit the fritzscript and manually set the httpd docs & script folders

change

`
wget --no-check-certificate -qO- $FRITZIP/cgi-bin/capture_notimeout?ifaceorminor=$IFACE\&snaplen=\&capture=Start\&sid=$SID | ntopng -i -
`

to
`
wget --no-check-certificate -qO- $FRITZIP/cgi-bin/capture_notimeout?ifaceorminor

[2022-06-06 05:30] hdsjahuen opened #6660 "Clickhouse's directory causes disk space to be full and prevents ntopng from starting"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]

**What happened**:

**What did you expect to happen?**

**How did you reproduce it?**

**Debug Information**:

Today I found ntopng exception, after checking the disk space is full, it is caused by the directory of clickhouse, how to clean up the historica

[2022-06-06 06:41] lucaderi commented on #6660
Fixed in the most recent version

[2022-06-06 06:41] #6660 closed, assigned to nobody

[2022-06-06 06:42] lucaderi commented on #6658
Please send a pull request with the final script so we can incorporate it in our tools

[2022-06-06 06:42] #6658 closed, assigned to nobody

[2022-06-06 06:44] #6654 closed, assigned to nobody

[2022-06-06 06:48] lucaderi commented on #6653
Closed for inactivity. Will reopen when you will provide a pcap

[2022-06-06 06:48] #6653 closed, assigned to nobody

[2022-06-06 06:48] #6648 closed, assigned to lucaderi

[2022-06-06 07:33] hdsjahuen commented on #6650
hello，Want to know how to solve this problem

[2022-06-06 07:35] lucaderi opened #6661 "Invalid Name With Proxy"
![image](https://user-images.githubusercontent.com/4493366/172116396-48bf52d2-73aa-4358-aa7d-825ef1fbef23.png)

In this case this flow is sent through a proxy. The destination host is named after the visited site and this is wrong as this is a proxy that interconnects to the remote host and not the visited host. This you cannot use for 192.168.2.238 the Microsoft hostname

[2022-06-06 07:36] lucaderi opened #6662 "Missing VLAN tag from Historical Flows"
As of  #6661  this is a flow sent over a VLAN and no VLAN Id is shown (in the flow details)

[2022-06-06 07:48] lucaderi opened #6663 "Missing VLAN Id in Flow Alerts"
Same as #6662 in flow Alerts

[2022-06-06 08:14] anust commented on #6595
@lucaderi , i am unable to install ntopng 5.2 release and always getting the following error

[code]

[2022-06-06 12:33] lucaderi commented on #6661
Verified as fixed

[2022-06-06 12:33] #6661 closed, assigned to cardigliano, MatteoBiscosi

[2022-06-06 12:33] lucaderi commented on #6662
Verified as fixed

[2022-06-06 12:34] lucaderi commented on #6663
Verified as fixed

[2022-06-06 12:34] #6663 closed, assigned to MatteoBiscosi

[2022-06-06 12:34] #6662 closed, assigned to MatteoBiscosi

[2022-06-06 12:56] lucaderi opened #6664 "Reworking Traffic Directions"
In ntopng, there is the concept of "local" and "remote" that is used in alerts, historical flows...

In order to ease the management of this information, this ticket is to request the implementation of Direction that is already shown in live flows
![Screen Shot 2022-06-06 at 14 51 41](https://user-images.githubusercontent.com/4493366/172164160-fa66f278-abcc-4398-a531-23c93e030a39.png)
![Screen Sho

[2022-06-06 12:57] lucaderi opened #6665 "Implementing Directions In Historical Flows"
As specified in #6664, Historical Flows filters must be simplified/extended/reworked with traffic directions

[2022-06-06 12:58] lucaderi opened #6666 "Implementing Traffic Directions in Alerts"
As specified in #6664, Alerts filters must be simplified/extended/reworked with traffic directions

[2022-06-06 12:59] lucaderi opened #6667 "Implementing Directions in Service Map"
As specified in #6664, a new dropdown menu must be implemented to filter traffic directions

[2022-06-06 12:59] lucaderi opened #6668 "Implementing Directions in Periodicity Map"
As specified in #6664, a new dropdown menu must be implemented to filter traffic directions

[2022-06-06 15:56] MatteoBiscosi commented on #6659
Implemented as requested (Pro license on).
It can be simulated both using nmap (by running a dhcp discovery `sudo nmap -sU -p 67 --script=dhcp-discover 192.168.1.0/16`) or better by using tcpreplay (it sends more packets then nmp `sudo tcpreplay -i wlo1 -tK --loop 50 --unique-ip ../pcap/dhcp_starvation.pcap`)
![Screenshot from 2022-06-06 17-34-23](https://user-images.githubusercontent.com/49585191

[2022-06-06 16:02] MatteoBiscosi commented on #6655
Hi, sorry but in my case counters are reset. Could you please report your ntopng configuration and if there is some error in ntopng service status?

![Screenshot from 2022-06-06 18-00-27](https://user-images.githubusercontent.com/49585191/172198954-7c938e6e-c7d2-4c1f-8834-ce1434e873ae.png)
![Screenshot from 2022-06-06 18-00-34](https://user-images.githubusercontent.com/49585191/172198990-68263504-

[2022-06-07 02:07] joonasak commented on #6656
Here are the files.

On Sun, Jun 5, 2022 at 4:54 PM Luca Deri ***@***.***> wrote:

#SSH
***@***.***

[2022-06-07 02:41] hdsjahuen commented on #6660
But I can't update using yum update
This is my current [version](https://github.com/hdsjahuen/hk/blob/main/2.png)
And what is the reason for this[ logo](https://github.com/hdsjahuen/hk/blob/main/1.png) displayed on my interface
And I went to the web ui interface to update there is no [way](https://github.com/hdsjahuen/hk/blob/main/3.png)
I know, the current version should have 5.3, but why I can n

[2022-06-07 08:32] gianogli commented on #6655
This is my (offuscated) configuration file:
[code]

No error appears when I try to reset the counters...

Feel free to ask if you need other info. :-)

Thanks,

    GiAn

[2022-06-07 12:32] lucaderi opened #6669 "Sort Interface Names in Alphabetical Order"
![Screen Shot 2022-06-07 at 14 31 05](https://user-images.githubusercontent.com/4493366/172379386-243d1c05-f4e3-4293-8eba-27a295fccad9.png)

[2022-06-08 02:53] hdsjahuen commented on #6660
hello,I'd like to ask why it can't be updated, there are already two such issues that can't be updated

[2022-06-08 02:54] hdsjahuen commented on #6650
I would like to ask what is the problem with this IP domain name

[2022-06-08 06:45] lucaderi opened #6670 "Invalid Alert URL"
![image](https://user-images.githubusercontent.com/4493366/172549771-01e1b3af-4a87-442d-a414-5b937f1253d1.png)

will redirect to http://xtrapath1.izatcloud.net%20/xtra3grc.bin

(%20 is the bug)

[2022-06-08 07:16] joonasak commented on #6656
Is there anything update about this issue?

On Tue, Jun 7, 2022, 9:07 AM Chan Sakada ***@***.***> wrote:

[2022-06-08 08:23] 612wong opened #6671 "Unable to see all sub-interfaces under (All network interface under realtime / yesterday) in traffic dashboard"
**Environment**:
* OS name: RHEL
* OS version: 7.9
* Architecture: x86_64
* ntopng version/revision: 5.3.220310

**What happened**:
My license is Enterprise M which supports up to 16 interfaces.
In my monitoring list, I have: 1x physical interface, 2x Netflow interfaces, 2x sFlow interfaces and 11x sub-interface disaggregated by custom filter.

In traffic dashboard, there are two graphs for 'all n

[2022-06-08 08:25] lucaderi opened #6672 "Local HTTP Servers Broken"
![Screen Shot 2022-06-08 at 10 24 45](https://user-images.githubusercontent.com/4493366/172569094-cbd2bd21-7164-487d-b97c-c559e02ddd36.png)

[2022-06-08 09:27] hdsjahuen commented on #6580
[root@hocyber hocyber]# ntopng /etc/ntopng/ntopng.conf
08/Jun/2022 17:06:59 [Redis.cpp:151] Successfully connected to redis 127.0.0.1:6379@0
08/Jun/2022 17:06:59 [Redis.cpp:151] Successfully connected to redis 127.0.0.1:6379@0
08/Jun/2022 17:07:02 [boot.lua:23] WARNING: No connectivity detected, ntopng will run in offline mode
08/Jun/2022 17:07:02 [PF_RINGInterface.cpp:69] Reading packets from PF_

[2022-06-08 11:47] MatteoBiscosi commented on #6665
Implemented as requested
![Screenshot from 2022-06-08 13-46-47](https://user-images.githubusercontent.com/49585191/172608789-db058765-91b0-4480-a3f9-d412a1096d32.png)

[2022-06-08 13:49] Phhere opened #6673 "Unsupported publisher version"
**Environment**:
* OS name: [e.g. Ubuntu] Debian
* OS version: [e.g. 18.04] 11
* Architecture: [e.g. amd64] x86_64
* ntopng version/revision: [e.g. 5.1.211223] 5.2.220607-17791
* nprobe version: 9.7.220607-7809

**What happened**:
I tried to follow this setup:
https://www.ntop.org/guides/ntopng/using_with_other_tools/nprobe_collector_mode.html
But some errors are coming up:
[code]

**What did you

[2022-06-08 14:07] Phhere commented on #6673
Running both ntop and nprobe on apt instead of mixed apt and apt-stable fixed the issue

[2022-06-08 14:07] #6673 closed, assigned to nobody

[2022-06-08 14:29] Taralas commented on #6652
Still receiving this error on version v5.3.220606:
[code]

[2022-06-09 06:28] #6672 closed, assigned to nobody

[2022-06-09 06:36] lucaderi commented on #6671
Implemented in d263d533

[2022-06-09 06:36] #6671 closed, assigned to nobody

[2022-06-09 06:41] lucaderi opened #6674 "DNS Error Reported instead of Clear Text Credentials"
![image](https://user-images.githubusercontent.com/4493366/172781467-53f68fed-677e-490d-a12a-10b907ee74e0.png)

it looks like ntopng does not map this nDPI risk properly

[2022-06-09 06:51] lucaderi opened #6675 "Fix Historical Alert Layout"
![image](https://user-images.githubusercontent.com/4493366/172782397-c85159e8-d60e-4a93-adcf-3725fcaa463e.png)

The following issues must be addressed
1. Replace the label "Main Issue" (that is a duplicate of the column "Alert") with "Information"
2. In the Main issue field remove the score and description (pink)
3. The URL is ok (green) but it must be shorter

[2022-06-09 06:56] lucaderi opened #6676 "Unify Date Format in Historical Records"
This is the date/hour format in Alerts
![Screen Shot 2022-06-09 at 08 53 23](https://user-images.githubusercontent.com/4493366/172783652-f329af77-5765-445f-bd3b-f0ccfcd9e30e.png)

that hides the date if the displayed record is for the current day.

This is what happens in historical flows

![image](https://user-images.githubusercontent.com/4493366/172783795-c36dfb3e-3df6-42dd-aba0-ffc2ebffce14.png

[2022-06-09 07:46] lucaderi commented on #6670
Seems to work

[2022-06-09 07:46] #6670 closed, assigned to MatteoBiscosi

[2022-06-09 07:54] lucaderi opened #6677 "Duplicated Field in Historical Alerts"
![image](https://user-images.githubusercontent.com/4493366/172794901-e7370f7f-1910-4898-964c-6d7b99658303.png)

[2022-06-09 08:07] lucaderi opened #6678 "TCP Connection Inconsistencies"
![Screen Shot 2022-06-09 at 10 06 38](https://user-images.githubusercontent.com/4493366/172797442-792154b0-6390-4d5a-a8af-0157158a423d.png)
![Screen Shot 2022-06-09 at 10 06 13](https://user-images.githubusercontent.com/4493366/172797445-b6412136-d50e-4881-b185-0f0b51f7510a.png)
![Screen Shot 2022-06-09 at 09 59 01](https://user-images.githubusercontent.com/4493366/172797457-bd79ef29-ed7e-456f-992

[2022-06-09 08:07] lucaderi commented on #6622
No yet working, but moved into #6678

[2022-06-09 08:07] #6622 closed, assigned to MatteoBiscosi

[2022-06-09 08:09] lucaderi commented on #6572
I have tested with today's code on HS and it still faile
![Screen Shot 2022-06-09 at 10 09 42](https://user-images.githubusercontent.com/4493366/172797986-9c07f20f-2e96-42d0-b968-990131787dd6.png)
d

[2022-06-09 10:40] MatteoBiscosi commented on #6675
Please update the dist too

[2022-06-09 12:40] lucaderi opened #6679 "Implement Network Traffic Matrix"
Currently, we keep timeseries per known networks (-m), but no traffic matrix. This is to request the implementation of the traffic matrix (network-to-network) for all known networks

[2022-06-09 14:43] Taralas commented on #6652
Well, this one is new. Using version v.5.3.220608
[code]

[2022-06-09 15:10] lvalero opened #6680 "Host Pools Members - import csv file"
Hello,

In the documentation :
https://www.ntop.org/guides/ntopng/web_gui/pools.html

what is the format of the csv file to provide ?

Regards

[2022-06-10 00:16] 612wong commented on #5941
I would like to confirm the issue's gone/fixed in 5.3.220609 to which I have updated it.

[2022-06-10 00:16] #5941 closed, assigned to simonemainardi

[2022-06-10 07:17] martinscheu opened #6681 "Initial alerts not shown in alert page"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223] ntopng Enterprise L v.5.3.220610 (Ubuntu 20.04.4 LTS)

**What happened**:
When oppening the Alerts page, no alert is shown:

<img width="1426" alt="Screenshot 2022-06-10 at 09 17 09" src="https://user-images.githubusercontent.com/38549755/173011551-b939ca2c

[2022-06-10 07:22] martinscheu opened #6682 "IEC104 invalid command transition is alerting even when check is disabled"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223] ntopng Enterprise L v.5.3.220610 (Ubuntu 20.04.4 LTS) |

**What happened**:
see 0 transitions:
<img width="1842" alt="Screenshot 2022-06-10 at 09 21 59" src="https://user-images.githubusercontent.com/38549755/173012419-e31eb00b-fc80-46f7-8929-ef1db638ee84.p

[2022-06-10 07:51] MatteoBiscosi commented on #6681
Hi @martinscheu could you please tell me if some error is reported in `systemctl status ntopng`?

[2022-06-10 09:29] lucaderi opened #6683 "Add Host Possible Exfiltration Bytes Counter"
In of data exfiltration (e.g. via DNS) add a host byte counter for exfiltrated data volume

[2022-06-10 09:34] lucaderi opened #6684 "Implement Flow Triplet View"
In the flow view, flows are listed according to the 5 tuple. This can complicate data navigation as all sub-flows are listed in different rows in the flow view. This is to request the aggregation of flows in triplets (IP src, IP dst, port dst) with the ability to expand them in individual flows

[2022-06-10 09:35] lucaderi opened #6685 "Trigger an alert for a DNS DGA name resolved properly"
THis is to request ntopng to trigger and alert for DNS requests for DGA names that have been resolved to valid host IP addresses. This can be an indication of a future nasty activity.

[2022-06-10 09:47] lucaderi opened #6686 "Trigger an Alert for Short Lived TLS Certificates"
Certificates usually last 12 months, free certificates (e.g.Let's Encrypt) 90 days. Trigger an alerts for TLS certificates with short duration

[2022-06-10 12:13] martinscheu commented on #6682
10/Jun/2022 07:20:14 [LuaEngine.cpp:1254] WARNING Script failure [/usr/share/ntopng/scripts/lua/rest/v2/get/flow/alert/list.lua][.../alert_definitions/flow/alert_iec_invalid_transition.lua:46: attempt to concatenate a nil value]

[2022-06-10 12:14] martinscheu commented on #6681
Hi @MatteoBiscosi there is nothing in status. Also when I check system in the ntopng GUI, all looks good

[2022-06-10 12:19] martinscheu commented on #6644
normally like that
#!/bin/bash
sudo apt update
sudo apt upgrade -y

systemctl is-enabled ntopng
enabled

after install I never disable it manually.
running above commands manually,

with todays version ntopng keept running. I will close the ticket and report if otherwise

[2022-06-10 12:19] #6644 closed, assigned to lucaderi

[2022-06-10 13:19] adrianmoraru commented on #6551
Hello Alfredo,
I response via email with results.

[2022-06-10 14:18] cardigliano commented on #6681
@martinscheu could you check if you have js failures in your browser console?

[2022-06-11 06:04] lucaderi opened #6687 "Flows risks are no longer reported in Flow Info"
<img width="1136" alt="image" src="https://user-images.githubusercontent.com/4493366/173175461-06c85dac-ed92-4b42-bd08-850855927d66.png">
This can be reproduced on HS on view interface

[2022-06-11 08:26] martinscheu opened #6688 "Historical flow using UTC and local time"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223] ntopng Enterprise L v.5.3.220610 (Ubuntu 20.04.4 LTS

**What happened**:
In historical flow explorer the search time is UTC based, but records are shown in local time zone:
<img width="1478" alt="Screenshot 2022-06-11 at 10 25 16" src="https://user-images.g

[2022-06-11 10:30] martinscheu commented on #6681
yes there is one error:
Uncaught (in promise)
Object { readyState: 0, getResponseHeader: getResponseHeader(t), getAllResponseHeaders: getAllResponseHeaders(), setRequestHeader: setRequestHeader(t, e), overrideMimeType: overrideMimeType(t), statusCode: statusCode(t), abort: abort(t), state: state(), always: always(), catch: catch(t)
, … }

​

[2022-06-11 10:31] martinscheu commented on #6681
This page uses the non standard property “zoom”. Consider using calc() in the relevant property values, or using “transform” along with “transform-origin: 0 0”. [alert_stats.lua](https://localhost:8443/lua/alert_stats.lua?ifid=5&score=)
Source map error: Error: request failed with status 404
Resource URL: https://localhost:8443/dist/white-mode.css?1654863500
Source Map URL: white-mode.css.map

Sou

[2022-06-11 10:41] martinscheu opened #6689 "Traffic direction filter"
**What would you like to add or change?**:
It would be helpful to have filters for "local", "local-to-remote" or "remote-to-local" flow direction for Alerts, Historical Flows and Service Map.
Thank you.

**Why do you and others need this?**:

[2022-06-11 11:09] lucaderi commented on #6687
Fixed in nProbe (buffer too short)

[2022-06-11 11:09] #6687 closed, assigned to nobody

[2022-06-13 08:38] MatteoBiscosi commented on #6631
Closing for inactivity please reopen if needed

[2022-06-13 08:38] #6631 closed, assigned to MatteoBiscosi

[2022-06-13 09:00] cardigliano opened #6690 "Add process information to Historical Flow data"
Process information from nProbe/ebpf should be dumped to the database as parte of the JSON field, and it should be possible to filter flows by process name.

[2022-06-13 09:02] cardigliano opened #6691 "Implement check for Network Issues"
A new check should be implemented to trigger flow alerts in case of network issues (including retransmissions, high number of fragments, etc). The actual issues (one or many) should be reported in the flow status as issue information printed by the format func.

[2022-06-13 09:06] joonasak commented on #6656
Hi Luca, here is the files again. I uploaded last time through email now here again. Thank you.
[ntopng.zip](https://github.com/ntop/ntopng/files/8889647/ntopng.zip)

[2022-06-13 09:09] cardigliano commented on #6634
Note: when clicking on the Disable Alert button in the Flow alerts, the dialog should have as options:
- client and server as already available now, but the client should be reported as first, and it should be explicitly marked as "Client" or "Server"
- the domain when available as described above
- the certificate when available as described above

[2022-06-13 09:10] joonasak opened #6692 "Can't input telegram group ID inside the textbox"
**Environment**:
* OS name: OS name: Ubuntu
* OS version: 20.04 LTS
* Architecture: amd64
* ntopng version/revision: 5.2.220520

**What happened**:
I can't input telegram group ID with minus (-) inside the box.

![image](https://user-images.githubusercontent.com/85352105/173320063-95690e72-d712-426d-bf4b-6298f31fa5b0.png)

[2022-06-13 10:18] cardigliano opened #6693 "Add preference for the website used to check offline mode"
Change the default website used for the offline mode to something available in all the countries like github.
Also add a preference to change it.

[2022-06-13 10:21] MatteoBiscosi commented on #6267
Closing for inactivity, please reopen if needed

[2022-06-13 12:51] lucaderi commented on #6688
@martinscheu Can you report (after ntopng update) what you see in the local time zone?

![image](https://user-images.githubusercontent.com/4493366/173357732-e86daad3-75dd-44a5-bbff-8594c228df18.png)

[2022-06-13 14:22] MatteoBiscosi opened #6694 "Implement Kibana Dashboard"
In ntopng we can export both, flows and alerts information to Elasticsearch (Using -F option and endpoint/recipient in ntopng).
It is requested to create a dashboard displaying some information ntopng is able to display, mainly the alerts information.
First of all create a dashboard talking about the interface information:
- the status of the interface (a chart of the traffic)
- how many alerts yo

[2022-06-13 14:37] lucaderi opened #6695 "Implement Network/FQDN Exclusion in Alerts"
Add in the box above a new entry that will the third entry allowing to add exceptions

![Screen Shot 2022-06-13 at 16 36 05](https://user-images.githubusercontent.com/4493366/173378505-73c49118-f450-4234-87bc-369938a3c124.png)

[2022-06-13 14:47] lucaderi opened #6696 "Invalid link with copy when multiple names in TLS are reported"
![Screen Shot 2022-06-13 at 16 44 33](https://user-images.githubusercontent.com/4493366/173380267-7b2f4222-a491-4dbc-8447-68cb6bce2b8e.png)

[2022-06-13 23:14] Jenubis commented on #6355
Hello

Just tested today and still have the same issue
![48864F39-B951-4A97-AB62-32BBE7109ED3](https://user-images.githubusercontent.com/1705740/173462428-43f8fc58-14f2-43c9-83c7-776c1c191ec3.jpeg)
![96531FB4-9AA3-44CC-A06B-E057852988E3](https://user-images.githubusercontent.com/1705740/173462438-8bfa01c1-2721-463b-bb79-84e0507e07ec.png)
![88F02679-FC96-4F89-AD7C-F552445DDFD0](https://user-images.

[2022-06-14 03:53] 612wong opened #6697 "PIM is classified as unknown category but it should be of 'network' by default."
**Environment**:
* OS name: RHEL
* OS version: 7.9
* Architecture: x86_64
* ntopng version/revision: ntopng Enterprise M v.5.3.220612 (CentOS Linux release 7.9.2009 (Core))

**What happened**:
PIM flow is found in 'unknown' category.

**What did you expect to happen?**
PIM is expected to be in 'network' category.

**How did you reproduce it?**
Anytime. I tried to create an application with ip:224.

[2022-06-14 05:08] 612wong opened #6698 "Unable to edit category name of 'user custom category x'"
**Environment**:
* OS name: RHEL
* OS version: 7.9
* Architecture: x86_86
* ntopng version/revision: ntopng Enterprise M v.5.3.220612 (CentOS Linux release 7.9.2009 (Core))

**What happened**:
I grouped 10 custom applications under 'user custom category 1'. I clicked 'edit' button and change the 'category name' and then click 'edit' to save the changes. The screen was halt there. I refreshed the p

[2022-06-14 06:34] 612wong opened #6699 "a few (custom) application to category mappings are changed randomly"
**Environment**:
* OS name: RHEL
* OS version: 7.9
* Architecture: x86_64
* ntopng version/revision: ntopng Enterprise M v.5.3.220612 (CentOS Linux release 7.9.2009 (Core))

**What happened**:
I created a few custom applications (e.g. VoIP_A, VoIP_C) and grouped them into VoIP category. They might change to another category such as Cloud. I also created a custom application influxDB and grouped it

[2022-06-14 06:36] lucaderi commented on #6699
Not sure I understand what you did Please post your configuration and explain how to reproduce the results

[2022-06-14 06:38] lucaderi commented on #6697
Please open this ticket under nDPI and attach a pcap file for reproducing the issue

[2022-06-14 06:38] #6697 closed, assigned to nobody

[2022-06-14 07:36] cardigliano commented on #6355
Please note that the '-p' option is using a bad character as '-' (which is similar but not exactly the same), please delete it and write it again.

[2022-06-14 07:37] 612wong commented on #6699
I just fixed my VoIP application and Cloud category and then I found a few application-to-category mappings are changed.

For example, IT_WindowsServer was mapped to 'system' cateogry. it is now mapped to 'network' category.
<img width="892" alt="Screen Shot 2022-06-14 at 16 40 58" src="https://user-images.githubusercontent.com/58540705/173519898-4e8f5a1b-49fe-496b-8422-d364013d5a1e.png">

For exa

[2022-06-14 08:04] cardigliano commented on #6169
Duplicate of https://github.com/ntop/ntopng/issues/6634

[2022-06-14 08:04] #6169 closed, assigned to lucaderi, MatteoBiscosi

[2022-06-14 08:07] MatteoBiscosi commented on #6184
Hi @martinscheu most of the "Other issues" fields are currently searchable (not directly on Other Issues filter, but using other filters, e.g. the URL, using the info field)

[2022-06-14 08:07] #6184 closed, assigned to nobody

[2022-06-14 08:09] MatteoBiscosi commented on #6483
Closing for inactivity, please reopen if needed; however consider that the problem is some sort of firewall blocking ntopng requests to the internet.

[2022-06-14 08:11] MatteoBiscosi commented on #6366
Verified as implemented

[2022-06-14 08:11] #6366 closed, assigned to MatteoBiscosi

[2022-06-14 08:12] MatteoBiscosi commented on #6610
Implemented as requested

[2022-06-14 08:12] #6610 closed, assigned to cardigliano, MatteoBiscosi

[2022-06-14 08:13] uccidibuti commented on #6681
Hi @martinscheu , could you try with the latest version of ntopng and tell me if this problem is still present?

[2022-06-14 08:19] MatteoBiscosi commented on #6600
Implemented as requested.
The documentation can be found here https://www.ntop.org/guides/ntopng/web_gui/interfaces.html?highlight=mirrored at the end of the page

[2022-06-14 08:19] #6600 closed, assigned to MatteoBiscosi, JudyyHopps

[2022-06-14 08:20] MatteoBiscosi commented on #6593
Implemented as requested, the documentation can be found here https://www.ntop.org/guides/ntopng/cli_options/cli_options.html?highlight=offline

[2022-06-14 08:20] #6593 closed, assigned to JudyyHopps

[2022-06-14 08:43] MatteoBiscosi commented on #6692
Hi @joonasak the issue should be fixed, please update in a couple of hours and let me know

[2022-06-14 09:19] cardigliano commented on #6693
Implemented in 27abbe44483524b2018b98325af158e252f28cd4

[2022-06-14 09:19] #6693 closed, assigned to cardigliano

[2022-06-14 09:32] joonasak commented on #6692
Hi @MatteoBiscosi , I will test it, anything will let you know. Thank you.

[2022-06-14 09:38] cardigliano commented on #6265
We can probably add a dropdown here to select the exporter out of those available. In that case it is easier to select one, and we can display the hostname when available.

[2022-06-14 09:50] joonasak commented on #6692
Hi @MatteoBiscosi , It's working now. Thank you so much.

[2022-06-14 10:24] aaminahassan commented on #2564
@sonvodev  I am adding the same CORS issues using web, but not using curl API, please tell us the changings you have made in order to access JSON using API call

[2022-06-14 10:34] MatteoBiscosi commented on #6510
Implemented as requested

[2022-06-14 10:34] #6510 closed, assigned to MatteoBiscosi

[2022-06-14 10:35] MatteoBiscosi commented on #6692
Verified as fixed.
@joonasak you are welcome :)

[2022-06-14 10:35] #6692 closed, assigned to uccidibuti, MatteoBiscosi

[2022-06-14 10:42] aaminahassan opened #6700 "CORS Issue with REST API calls"
**Environment**:
* OS name: [Ubuntu]
* OS version: 20
* Agent: CHROME
* ntopng version/revision: [e.g. 5.3]

**I am trying to access rest api via react app, curl rest works fine, but rest api call gave CORS error, **: Please tell the way out to allow CROSS origins in ntopng.

**What did you expect to happen?**

**How did you reproduce it?**

**Debug Information**:

[2022-06-14 13:24] DGabri commented on #6694
Task Completed, ready for testing

[2022-06-14 13:24] #6694 closed, assigned to DGabri

[2022-06-14 14:32] MatteoBiscosi commented on #6696
Currently working correctly. Please not that the url starting with `*.` must not have an external link. Please reopen if needed
![Screenshot from 2022-06-14 16-25-27](https://user-images.githubusercontent.com/49585191/173603150-ef6da646-efc1-41c8-8a8f-e87b9b313d60.png)

[2022-06-14 14:32] #6696 closed, assigned to MatteoBiscosi

[2022-06-14 14:37] MatteoBiscosi commented on #6689
Hi @martinscheu they available in the latest ntopng version for alerts and historical, please check issues #6666 and #6665. Regarding Service map, consider that in the service map you only have local traffic. Instead for the Periodicity map please follow issue #6668

[2022-06-14 14:37] #6689 closed, assigned to nobody

[2022-06-14 14:39] ltkojak opened #6701 "ntopng "You're not supposed to be here" pfSense package install"
**Environment**:
* OS name: [e.g. Ubuntu] pfSense
* OS version: [e.g. 18.04] pfSense 22.01
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223] ntopng Community v.4.0.0 rev.0 (FreeBSD 12.3)

**What happened**:

Since I've upgraded to 22.01 of pfSense Plus, all of my active monitoring section has now turned to: "You're not supposed to be here!".  I've done some searching and ha

[2022-06-14 15:03] MatteoBiscosi commented on #6701
Hi @ltkojak consider that ntopng current version is 5.3.
Probably you installed the one shipped from FreeBSD itself (many times people have problems with it and we cannot help them), please install ours for the full support.
Follow these instructions https://www.ntop.org/guides/ntopng/third_party_integrations/pfsense.html#pfsenseintegration
and you should be able to install it without problems.
Pl

[2022-06-14 15:03] #6701 closed, assigned to nobody

[2022-06-14 16:08] lucaderi commented on #6667
Ignored as this is all local-to-local

[2022-06-14 23:05] 612wong commented on #6697
Will open a ticket under nDPI with the pcap file.

[2022-06-15 06:52] gianogli opened #6702 "Segmentation Fault on stable version"
Hi,

in the last months we are using the stable version of ntopng (now 5.2.220520-17694) but after 7/8 days where it works quite fine... it crashes with a segmentation fault error:

[code]

No core or trace are created.

I've already tried to update the software after almost each fault but the issue is always here.

Since the issue appear after a week, is there a way to debug it?

Thanks,

   GiAn

[2022-06-15 07:57] cardigliano commented on #6702
@gianogli I need to provide you a binary with debug symbols to generate a trace in gdb or a core dump. Please drop me an email with your OS version. Thank you.

[2022-06-15 07:59] joonasak commented on #6656
Hi, is there anyone here can help on this issue or give any feedback?

[2022-06-15 08:23] MatteoBiscosi commented on #6700
Hi @aaminahassan could you please tell me which errors do you have? Probably it's because you miss the authentication parameters (username and password)

[2022-06-15 08:24] #6667 closed, assigned to nobody

[2022-06-15 09:45] cardigliano opened #6703 "Add support for Top Sites when collecting from nProbe"
Top Sites are currently available when processing traffic from a live interface as it uses nDPI callbacks (see processDetectedProtocolData -> incrVisitedWebSite). Support for collected flow information should be added to make it work also over ZMQ.

[2022-06-15 09:57] cardigliano opened #6704 "Fix traffic directions in the top chart with disaggregation"
When disaggregating traffic from ZMQ based on probe IP, only one direction of the traffic is reported in the chart in the top menu.
This also applies when disaggregating live traffic (packets) by VLAN.
Note: something related to this has been implemented requiring "mirrored" traffic to be enabled.

[2022-06-15 10:03] gianogli commented on #6702
I just sent you an e-mail. Thanks... :-)

[2022-06-15 10:04] MatteoBiscosi commented on #6659
Implemented as requested

[2022-06-15 10:04] #6659 closed, assigned to MatteoBiscosi

[2022-06-15 12:07] 612wong commented on #6699
Following the upgrade to ntopng Enterprise M v.5.3.220615 (CentOS Linux release 7.9.2009 (Core), I found the issue is gone.

[2022-06-15 12:07] #6699 closed, assigned to nobody

[2022-06-15 12:09] 612wong commented on #6698
Have upgraded ntopng to v.5.3.220615 (CentOS Linux release 7.9.2009 (Core)) and still observed the same issue.

When I 'edit' the custom category and add a rule, then click 'edit'. The screen was stuck there although I tried to click 'x' to close it.

<img width="385" alt="Screen Shot 2022-06-15 at 22 06 14" src="https://user-images.githubusercontent.com/58540705/173823461-ef117f42-4549-44b9-978b-

[2022-06-15 12:19] 612wong opened #6705 "Top flow in traffic dashboard"
**What would you like to add or change?**:
I would like to add 'Top flows' for selected 'interface'.

**Why do you and others need this?**:
The top flow graph are very useful for network engineer to spot the root cause of link congestion quickly.

[2022-06-15 13:52] martinscheu commented on #6688
yes:
Local Timezone | Etc/UTC

which corresponds to the system settings:
[code]

[2022-06-15 13:54] martinscheu commented on #6682
@cardigliano problem still exists.
Also description of the Check is
`flow_checks.iec104_command)description `

[2022-06-15 13:58] martinscheu commented on #6681
it does work now, thank you @uccidibuti !

[2022-06-15 13:58] #6681 closed, assigned to uccidibuti

[2022-06-16 04:21] klevacore opened #6706 "This flow cannot be found. Very likely it is expired and ntopng has purged it from memory."
When going to Flows -> Live and clicking on "+" for more detail a following message appears (most of the time):
"This flow cannot be found. Very likely it is expired and ntopng has purged it from memory."
or
"This flow has been purged from memory." while displaying some flow details, and goes to the message above upon clicking anything.

Settings on the Preferences page:
Idle Local Hosts Cache - O

[2022-06-16 08:52] MatteoBiscosi commented on #6706
Hi @ipodogrny could you please tell me your ntopng configuration?

[2022-06-16 08:55] MatteoBiscosi commented on #6700
Hi @aaminahassan, please try following these instructions https://www.ntop.org/guides/ntopng/advanced_features/authentication.html?highlight=token
Your problem is most likely due to the auth.

[2022-06-16 13:00] gianogli commented on #6702
@cardigliano any news? :-)

[2022-06-16 13:01] gianogli commented on #6655
@MatteoBiscosi any news? :-)

[2022-06-16 13:25] cardigliano commented on #6702
@gianogli I am going to send you a binary within today

[2022-06-16 13:34] cardigliano commented on #6706
It seems this happens when collecting flows from nProbe (I was able to reproduce it with nProbe in agente mode). It seems flows expire too early.

[2022-06-16 14:37] MatteoBiscosi commented on #6688
Hi @martinscheu the issue should be fixed now, ntopng is going to display the server time.
(tried to put the machine in China and it's working correctly).
Please tell me if you find some not epoch not correctly formatted :)
![Screenshot from 2022-06-16 20-34-40](https://user-images.githubusercontent.com/49585191/174094355-743c94b9-5226-449f-9dd2-37f3541fac1d.png)

[2022-06-16 17:17] cardigliano commented on #6634
Update:
Both the Check Exclusion page and the Disable Alert action from the alerts page have been implemented.
Alerts can be currently excluded, disabled (in case of any host) and deleted (when requested).

What needs to be fixed is the domain name provided as option when disabling alerts: it often includes the full URL, or a list of domains, a clean domain should be provided instead, otherwise nD

[2022-06-17 03:27] aaminahassan commented on #6700
No, when I remove security from web browser, the API works, Please tell me the ntopng side changings for CORS allowed.

`curl -u admin:admin"http://192.168.0.1:3000/lua/get_oses_data.lua?currentPage=1&perPage=10&sortColumn=column_&sortOrder=desc" `

the above curl works from remote host, but the same converted to in react app shows cors.

[2022-06-17 05:41] pengxingwei opened #6707 "The new CMake build system does not create config.h file"
**Environment**:
* OS name: fedora
* OS version: 36
* Architecture: amd64
* ntopng version/revision: ntopcpp20

**What happened**:
I downloaded the ntopcpp20-branch, and run cmake and make, then I got this error message:
ntop_include.h :25:10  fatal error: config.h: No such file or directory #include "config.h"

**Debug Information**:

[2022-06-17 07:40] gianogli commented on #6702
Thanks... :-)

[2022-06-17 08:33] cardigliano commented on #6690
Process name has been added to the flow JSON in 5f01c526a9b85745eabdda0d725d4264f0791988
TODO: display and filter in the explorer

[2022-06-17 08:57] lucaderi commented on #6707
This is an unmaintained branch please ignore it

[2022-06-17 08:57] #6707 closed, assigned to nobody

[2022-06-17 08:59] lucaderi commented on #6700
@aaminahassan Can you please troubleshoot the issue (e.g. using curl -v) and report what you would like us to change?

[2022-06-17 10:46] uccidibuti commented on #6698
We are checking on our side.

[2022-06-17 10:57] cardigliano commented on #6572
It seems this was actually working according to the last check. Please reopen in case.

[2022-06-17 10:57] #6572 closed, assigned to cardigliano

[2022-06-17 11:04] #6226 closed, assigned to cardigliano

[2022-06-17 11:13] #4869 closed, assigned to cardigliano

[2022-06-17 15:54] MatteoBiscosi commented on #6706
Hi @ipodogrny the issue should be fixed, however note that the flow idle timeout preference works only for packet interfaces
![Screenshot from 2022-06-17 15-54-19](https://user-images.githubusercontent.com/49585191/174333937-fef8f428-57fe-44a2-8d47-dc62426f1260.png)

To change the flow idle timeout from ZMQ interfaces, you have to add `-d <num_sec>` option to nProbe (e.g. `-d 120`).
In ntopng thos

[2022-06-17 16:01] lucaderi commented on #6700
We decided to implement this issue only for REST APIs and not for GUI requests as you are doing

[2022-06-17 17:11] #6700 closed, assigned to nobody

[2022-06-17 17:12] lucaderi commented on #6633
Any fix for Safari or close this ticket

[2022-06-17 17:26] lucaderi opened #6708 "Invalid Check Exception Entry"
Adding this exception
![Screen Shot 2022-06-17 at 19 24 50](https://user-images.githubusercontent.com/4493366/174348301-4389c42a-b8a8-45a7-baa4-0e239c87e221.png)

produces
![Screen Shot 2022-06-17 at 19 25 10](https://user-images.githubusercontent.com/4493366/174348337-0c41bee3-ece4-43ae-ad43-60fda9abf178.png)

[2022-06-17 17:45] lucaderi opened #6709 "Unable to add TLS exclusion"
Adding C=US, O=Let's Encrypt, CN=Let's Encrypt Authority X3
![Screen Shot 2022-06-17 at 19 42 53](https://user-images.githubusercontent.com/4493366/174350638-2720cf25-20a8-4000-b3a9-b4ca025bd788.png)

is not working
![Screen Shot 2022-06-17 at 19 43 14](https://user-images.githubusercontent.com/4493366/174350666-f8bb0bbc-39bd-40c6-af60-5974932719c3.png)

Note that exceptions added via https://gith

[2022-06-17 21:12] lucaderi opened #6710 "Missing format validation in domain name"
In check Exclusions, domain validation is missing. Example the following domain is accepted
![Screen Shot 2022-06-17 at 23 12 18](https://user-images.githubusercontent.com/4493366/174401816-5f0a5f6a-5afd-4b68-b543-14775967ccae.png)

[2022-06-17 21:15] lucaderi opened #6711 "Missing format validation in IssuerDN name"
![Screen Shot 2022-06-17 at 23 13 35](https://user-images.githubusercontent.com/4493366/174401921-3005e710-9588-4c98-ba4d-4713e72cd498.png)
![Screen Shot 2022-06-17 at 23 13 56](https://user-images.githubusercontent.com/4493366/174401954-b5dc7e64-e9f4-4aef-8a1c-858a728bad3b.png)

This should not be accepted as it is not a DN (example C=IT, O=ntop, CN=ntop.org)

[2022-06-17 21:16] lucaderi opened #6712 "Inconsistent TLS Exclusion"
![image](https://user-images.githubusercontent.com/4493366/174402167-c7f959de-bfbc-4c68-b701-a05b5ae36e17.png)

The correct works is TLS Certificate Issuer, and it must be used everywhere for consistency

[2022-06-18 06:28] Hedders opened #6713 "Attempt to index a nil value in lua_utils.lua"
**Environment**:
* OS name: Ubuntu
* OS version: 22.04
* Architecture: amd64
* ntopng version/revision:  5.3.220618-17902

**What happened**:

Since updating to the above version, attempting to access any part of the web interface results in the following:

HTTP/1.1 302 Found Server: ntopng 5.3.220618 (x86_64) Set-Cookie: session=e793a6618b37b1bb795ea819b28e863a; path=/; HttpOnly; SameSite=lax Loc

[2022-06-18 07:33] martinscheu opened #6714 "Score Threshold Exceeded provide context"
**What would you like to add or change?**:
The alert "Score Threshold Exceeded" is showing the score number of a host when passing over the limit:
<img width="1257" alt="Screenshot 2022-06-18 at 09 29 33" src="https://user-images.githubusercontent.com/38549755/174427781-dec62166-355b-4169-805e-9c1c563a42f4.png">

But no further context is available, like what issues / anomalies on that host lead t

[2022-06-18 07:37] martinscheu commented on #6620
@uccidibuti where can I find the GUI for the domain name exclusion? thanks

[2022-06-18 13:33] martinscheu commented on #6688
@MatteoBiscosi yes for Historical flows recorded after the update it works, for older flows it still shows a time difference:
current:
<img width="1442" alt="Screenshot 2022-06-18 at 15 31 06" src="https://user-images.githubusercontent.com/38549755/174439978-ce892f57-57e1-4259-8875-167019990a1d.png">

old:

<img width="1444" alt="Screenshot 2022-06-18 at 15 30 50" src="https://user-images.githubus

[2022-06-18 13:43] martinscheu opened #6715 "Enterprise dashboard set time to host time"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223] ntopng Enterprise L v.5.3.220618 (Ubuntu 20.04.4 LTS)

**What happened**:
Please set dashboard time to system time, so it is consistent with flow / historical flow.
thank you.

<img width="1034" alt="Screenshot 2022-06-18 at 15 43 20" src="https://user-imag

[2022-06-18 13:48] martinscheu opened #6716 "Consistent nameing throughout ntopng"
**What would you like to add or change?**:
Hello
Current version of ntopng has one exception for "Suspicious":

<img width="410" alt="Screenshot 2022-06-18 at 09 42 55" src="https://user-images.githubusercontent.com/38549755/174441387-a27d2f17-2312-4108-a409-d9459d608dd2.png">

I personally do not like abbreviation, as then one need a table explaining the abbreviation.

**Why do you and others nee

[2022-06-20 07:53] cardigliano commented on #6709
Fixed in e1ac8e29edfd174ac5a5ffdd120c9ecf35b5b8db

[2022-06-20 07:53] #6709 closed, assigned to cardigliano, uccidibuti

[2022-06-20 08:02] cardigliano commented on #6620
Settings -> Behavioural Check Exclusions -> Domain Names

[2022-06-20 08:23] MatteoBiscosi commented on #6713
Hi @Hedders could you please update to the latest version? It's probably fixed in the latest one. Otherwise let me know

[2022-06-20 08:34] Hedders commented on #6713
Hi @MatteoBiscosi thanks for the quick response.  I've updated to version 5.3.220620-17904 and unfortunately the issue persists.

[2022-06-20 08:34] MatteoBiscosi commented on #6715
Hi @martinscheu could you please update and let me know, because as you can see in my system, everything works fine (I have a browser UTC +2 and a system UTC +5 and everything is printed in UTC +5)
![Screenshot from 2022-06-20 13-32-11](https://user-images.githubusercontent.com/49585191/174560219-98821fe1-3934-4859-bff1-f431d42957f1.png)

[2022-06-20 09:25] MatteoBiscosi commented on #6713
could you please share your `ntopng --version` output? in which pages this error appears? cause i'm not able to reproduce it.

[2022-06-20 09:29] Hedders commented on #6713
Sure.  It appears on all pages of the web interface, except hosts_geomap.lua for some reason.  output of ntopng --version:

Version:        5.3.220620 [Enterprise/Professional build]
GIT rev:        dev:8a001e56cb205b4124ee5e353cc7b0e4b96eab4e:20220620
Pro rev:        r5102
Built on:       Ubuntu 22.04 LTS
System Id:      L6DB806129206AAF2--U6DB80612601612D8--OL
Platform:       x86_64
Edition:

[2022-06-20 09:42] cardigliano commented on #6708
Fixed in 9f6d55425f3451918d081e9703aefef34daf7497

[2022-06-20 09:42] #6708 closed, assigned to cardigliano

[2022-06-20 09:43] cardigliano commented on #6712
Confirmed as fixed
<img width="1188" alt="Screen Shot 2022-06-20 at 11 42 52" src="https://user-images.githubusercontent.com/7548711/174574245-d974b7ef-d5f8-45b3-9cbe-2ef8c26c407f.png">

[2022-06-20 09:43] #6712 closed, assigned to cardigliano, uccidibuti

[2022-06-20 12:48] cardigliano commented on #6706
I confirm live flows are no longer purged immediately now for me. @ipodogrny please reopen in case you are still experiencing the issue.

[2022-06-20 12:48] #6706 closed, assigned to MatteoBiscosi

[2022-06-20 14:46] urbantao commented on #6713
Same issue after upgrade last week. from noptng logs:
[LuaEngine.cpp:1254] WARNING: Script failure [/usr/share/ntopng/scripts/lua/monitor/active_monitoring_monitor.lua][/usr/share/ntopng/scripts/lua/modules/lua_utils.lua:4398: attempt to index a nil value (local 'info')]

from webinterface :
HTTP/1.1 302 Found Server: ntopng 5.3.220620 (x86_64) Set-Cookie: session=6a96b82e98d0417bb0b8e693dbcd2c65;

[2022-06-20 14:49] urbantao commented on #6713
in reply to my previous post : all seems ok but not. Can't go into manage configuration menu. same error.

[2022-06-20 15:00] MatteoBiscosi commented on #6713
Hi @Hedders please add the `--community` option to the configuration file, restart ntopng and everything should work again fine.
Please let me know

[2022-06-20 15:02] Hedders commented on #6713
The --community option is already set in my configuration file.

[2022-06-20 15:02] urbantao commented on #6713
got it in my ntopng.conf file :
-G=/var/run/ntopng.pid
--community
-i=eno1

 Can you confirm me the system script ? :

[Unit]
Description=ntopng high-speed web-based traffic monitoring and analysis tool
After=network.target syslog.target redis.service pf_ring.service cluster.service mysql.service
Requires=
Wants=redis.service pf_ring.service cluster.service
PartOf=redis.service pf_ring.service clu

[2022-06-20 15:04] MatteoBiscosi commented on #6713
I added a check on the null value. Please update in a couple of hours and let me know.
Sorry for the inconvenience but i'm unable to reproduce your behavior

[2022-06-20 15:05] Hedders commented on #6713
I will do that and report back.  Thank you.  And no need to apologise - you're being incredibly helpful.

[2022-06-20 15:12] urbantao commented on #6713
will give you a feed back tomorrow. And I agree with hedders no apologise needed

[2022-06-20 16:19] lucaderi opened #6717 "Poll SNMP NUCounter"
Add the polling of Non-Unicast interface counters in order to figure out what traffic percentage is unicast and what is not

[2022-06-20 17:14] Hedders commented on #6713
@MatteoBiscosi I've updated and can confirm it seems to be fixed.  Thank you!

[2022-06-20 19:54] urbantao commented on #6713
I tried the update but I got some dependencies issue :

Error: Package: cento-1.17.220620-753.x86_64 (@ntop)
           Requires: pfring = 8.1.0-7555
           Removing: pfring-8.1.0-7555.x86_64 (@ntop)
               pfring = 8.1.0-7555
           Updated By: pfring-8.1.0-7556.x86_64 (ntop)
               pfring = 8.1.0-7556
 You could try using --skip-broken to work around the problem
 You coul

[2022-06-21 02:41] Yoshihiro-jp opened #6718 "Please think about making the demo site for the ntopng"
**What would you like to add or change?**:
I try to expand the ntop product in Japan.
Sometimes I was asked "Don't you have the demo site for the ntopng like SolarWinds?"

Below is the SolarWinds demo site.
https://hco01.demo.solarwinds.com/

**Why do you and others need this?**:
To sell and expand the ntop products in Japan.
I think that if you had it it would be big support for it.

regards,
Yos

[2022-06-21 07:51] urbantao commented on #6713
I tried a new yum update this morning, and it was ok. Ntopng work again. So really thx !!!! Just 1 little thing, got my malware category empty ... I'm going to check why but if you got an idea ?

[2022-06-21 07:54] urbantao commented on #6713
and still got an error on the mange configuration page :+1:
HTTP/1.1 302 Found Server: ntopng 5.3.220621 (x86_64) Set-Cookie: session=e7b420840212208e89400de2523978ae; path=/; HttpOnly; SameSite=lax Location: /lua/http_status_code.lua?message=internal_error&referer=10.10.6.100%3A3000%2Flua%2Fadmin%2Fmanage_configurations.lua&error_message=%5Bstring%20%22context%3D...%20or%20%7B%7D...%22%5D%3A132%3

[2022-06-21 08:13] Hedders commented on #6713
Actually, I can confirm that error on the Manage Configurations page:

HTTP/1.1 302 Found Server: ntopng 5.3.220621 (x86_64) Set-Cookie: session=5f94cdeab8b010f207be649a8ed0f729; path=/; HttpOnly; SameSite=lax Location: /lua/http_status_code.lua?message=internal_error&referer=192.168.178.250%3A3000%2Flua%2Fadmin%2Fmanage_configurations.lua&error_message=%5Bstring%20%22context%3D...%20or%20%7B%7D..

[2022-06-21 08:19] closertotheedge commented on #6713
Same here (ntopng with raspi4).

[2022-06-21 08:58] urbantao commented on #6713
I did some updates to my malware category and it's ok. Just to resume, only the manage configuration page is nok. One more time, thx for the work !!!! now I can have an eye on my internet flows !!!! you did the job really fast !! :+1:

[2022-06-21 09:00] cardigliano opened #6719 "Disabling flow alerts also disables historical flows"
Please check that disabling flow alerts on the preference page does not disables also the historical flows (reported by a user)

[2022-06-21 11:00] imrane2e commented on #6719
I can confirm the bug

`ntopng --version
Version:	5.3.220621 [Enterprise/Professional build]
GIT rev:	dev:61cfe7b50ec02aac818d097b2b86b0843278f288:20220621
Pro rev:	r5104`

Disabled Emit Host Alerts, and Emit Flow Alerts and I am not able to browse any data on historical flows before this

re-enabling doesn't help either.

I am using click house to dump flows and I don't see any significant change

[2022-06-21 11:46] #6713 closed, assigned to nobody

[2022-06-21 11:47] deanfourie1 commented on #5995
I am still getting this issue. Running via official install on ntopng website alongside pfSense.

I cannot send emails for some reason. Exact same error as post #1

any ideas?

[2022-06-21 11:53] deanfourie1 commented on #5995
Sorry you can now close this.

I tried server:465 but in fact the correct syntax is smtps://server

Thanks anyway.

[2022-06-21 13:55] lucaderi opened #6720 "Add MAC Addresses Tab"
Currently, in SNMP it is not possible to view all known MAC addresses as there is no tab that allows you to search MAC addresses (currently possible only in the top right upper)

[2022-06-22 08:52] deanfourie1 opened #6721 "2FA login!"
**What would you like to add or change?**:
Add 2FA login please.

**Why do you and others need this?**:
Extra security! Short and sweet!

[2022-06-22 09:06] MatteoBiscosi commented on #6713
hello everyone, please update to the latest ntopng version and even the configuration page should be fixed.
Thanks everyone for your help and updates

[2022-06-22 09:14] MatteoBiscosi commented on #6626
Verified as fixed

[2022-06-22 09:14] #6626 closed, assigned to MatteoBiscosi

[2022-06-22 09:14] MatteoBiscosi commented on #6623
Verified as Fixed

[2022-06-22 09:14] #6623 closed, assigned to MatteoBiscosi

[2022-06-22 09:15] MatteoBiscosi commented on #6649
Verified as Fixed

[2022-06-22 09:15] #6649 closed, assigned to MatteoBiscosi

[2022-06-22 09:16] MatteoBiscosi commented on #6674
Verified as Fixed

[2022-06-22 09:16] #6674 closed, assigned to MatteoBiscosi

[2022-06-22 09:17] MatteoBiscosi commented on #6675
Verified as fixed

[2022-06-22 09:17] #6675 closed, assigned to DGabri, MatteoBiscosi

[2022-06-22 09:17] MatteoBiscosi commented on #6676
Verified as Fixed

[2022-06-22 09:17] #6676 closed, assigned to DGabri, MatteoBiscosi

[2022-06-22 09:17] MatteoBiscosi commented on #6677
Verified as fixed

[2022-06-22 09:17] #6677 closed, assigned to DGabri, MatteoBiscosi

[2022-06-22 09:17] MatteoBiscosi commented on #6678
Verified as fixed

[2022-06-22 09:17] #6678 closed, assigned to lucaderi, MatteoBiscosi

[2022-06-22 09:48] lucaderi commented on #6656
I am not sure I understand the problem. You are defining a new port for SSH and ntopng is still reporting this as an alert (non-standard port)?

You are defining tcp:60122@SSH so ntopng should not complain when observing SSH traffic on port 60122

[2022-06-22 09:51] joonasak commented on #6656
Yes correct, ntopng is still reporting this as an alert.

[2022-06-22 10:06] CindyStudyEveryday opened #6722 "The meaning of log field in elasticsearch"
After outputting ntopng to elasticsearch, does the meaning of each log field in elasticsearch have a corresponding description? I know some, but I'm not sure about all. Thank you！
![image](https://user-images.githubusercontent.com/87004981/175002954-1dab7560-888c-4239-8878-12fb2156e5c6.png)

[2022-06-22 10:15] MatteoBiscosi commented on #6722
Hi @CindyStudyEveryday you probably have an old version of ntopng. Please update to the latest ntopng dev version (5.3), in fact in our latest version we migrated to the ECS formatting
https://www.elastic.co/guide/en/ecs/current/ecs-field-reference.html
![Screenshot from 2022-06-22 12-14-25](https://user-images.githubusercontent.com/49585191/175004991-6a27ea75-eecb-41f7-9ed3-ecf024b9bc3b.png)

[2022-06-22 10:15] #6722 closed, assigned to nobody

[2022-06-22 10:18] MatteoBiscosi commented on #6669
Verified as fixed

[2022-06-22 10:18] #6669 closed, assigned to uccidibuti, MatteoBiscosi

[2022-06-22 10:18] MatteoBiscosi commented on #6666
Verified as implemented

[2022-06-22 10:18] #6666 closed, assigned to MatteoBiscosi

[2022-06-22 10:18] MatteoBiscosi commented on #6665
Verified as implemented

[2022-06-22 10:18] #6665 closed, assigned to MatteoBiscosi

[2022-06-22 10:29] MatteoBiscosi commented on #6635
Verified as Fixed

[2022-06-22 10:29] #6635 closed, assigned to uccidibuti, MatteoBiscosi

[2022-06-22 10:43] MatteoBiscosi commented on #6655
Hi @gianogli I was able to reproduce, a new update should be available in some hours; please update tomorrow and let me know.
However consider the fact that some stats are not reset, like Remote Hosts, Active Flows ecc. (those are live stats that cannot be reset, to check if it's working please check total traffic, packets, ecc).

[2022-06-22 11:18] deanfourie1 opened #6723 "Plugins option not showing"
So I have a few issues I need to address. These are strange issues and have no idea what is going on. People keep telling me its due to a network misconfiguration but its not.

I have

1) No plugins option at all in the menu. It simply does not exist.
2) LAN hosts often show as ghost hosts, and these ghost hosts move around between the hosts, its completely random as to who will be ghost hosts nex

[2022-06-22 13:48] lucaderi opened #6724 "Rework Telemetry Information"
Currently, telemetry information is not too useful. See how to make it more effective

[2022-06-23 03:20] CindyStudyEveryday opened #6725 "two questions about ntopng -elasticsearch"
I would like to ask two questions.

1、When -f is used to write data to elasticsearch, the time field will see UNIX format in elasticsearch. Is there any method to add configuration to make it into normal time format?
2、How often is the data written into elasticsearch? End of a full session? Or how many seconds? I observed the same source IP, destination IP, source port and destination port, and fo

[2022-06-23 04:00] martinscheu commented on #6721
+1 !

[2022-06-23 06:31] closertotheedge commented on #6713
I upgraded (via apt-get) to latest available version (raspi4, raspbian) but error still exists:

HTTP/1.1 302 Found Server: ntopng 5.3.220619 (armv7l) Set-Cookie: session=6...; path=/; HttpOnly; SameSite=lax Location: /lua/http_status_code.lua?message=internal_error&referer=192.168.?.?%3A3000%2Flua%2Fflows_stats.lua&error_message=%2Fusr%2Fshare%2Fntopng%2Fscripts%2Flua%2Fmodules%2Flua_utils.lua%3A

[2022-06-23 08:39] martinscheu commented on #6715
thanks @uccidibuti

[2022-06-23 08:39] #6715 closed, assigned to uccidibuti

[2022-06-23 08:44] martinscheu commented on #6688
works well, thanks @MatteoBiscosi, @lucaderi

[2022-06-23 08:44] #6688 closed, assigned to uccidibuti, MatteoBiscosi

[2022-06-24 07:45] lucaderi opened #6726 "Slow alert table loading due to errors"
<img width="678" alt="image" src="https://user-images.githubusercontent.com/4493366/175488384-cc30b424-ddd6-44f3-afc9-f1837ad17678.png">

[2022-06-24 09:44] uccidibuti commented on #6726
Could you try to get the last version of ntopng/dist?
These files are present in https://github.com/ntop/ntopng-dist  ( [518b8c59f15bff8fad43.png](https://github.com/ntop/ntopng-dist/blob/dev/518b8c59f15bff8fad43.png) , [b2160eb121c76bb72cb1.png](https://github.com/ntop/ntopng-dist/blob/dev/b2160eb121c76bb72cb1.png) ). I have the last version of ntopng and all png are get in right way.
I need more

[2022-06-24 09:56] uccidibuti commented on #6633
'Info' and 'Flow Related Info' aren't represent the same information so I can't delete of any of them.
![image](https://user-images.githubusercontent.com/12447209/175511356-fed97c6f-7712-4146-a3a9-dffc7f796c13.png)

[2022-06-24 09:56] #6633 closed, assigned to uccidibuti, MatteoBiscosi

[2022-06-24 10:57] lucaderi opened #6727 "Daily SNMP Device Scan"
Enable the ability dynamically scan a list of networks for new SNMP devices
The syntax will be
+network (e.g. +192.168.2.0/24)
-network (e.g. -192.168.2.32)
that means do not add these devices

[2022-06-24 10:58] lucaderi opened #6728 "Installation Self-test switch"
Add the ability to run a post-install test-script (if present) that checks an installation

[2022-06-24 12:35] closertotheedge opened #6729 "When will you release a new version for RaspberryPi-Devices with fixed Bug #6713 ?"
Issue"Attempt to index a nil value in lua_utils.lua #6713" is still not fixed for RaspberryPi Devices.

I would appreciate if you could release a bugfixed version for that kind of devices.

[2022-06-27 08:34] cardigliano opened #6730 "Add Identity Management support using logs from Domain Controllers"

[2022-06-27 10:46] cardigliano commented on #6634
To be fixed:
- domain name provided as option when disabling alerts often includes the full URL
- issuerDN is sometimes within '[' ']'
- add vlan, domain, certificate when adding filters from an active flow (see flow_details.lua:1510)

[2022-06-27 11:00] uccidibuti commented on #6698
Please check the next update later today

[2022-06-27 12:21] lucaderi commented on #6172
There are two options on the table
- create a dialog where you can save/retrieve the current filters
- do something as wireshark does that keeps track of the latest X filters. See example below
![Screen Shot 2022-06-27 at 14 21 14](https://user-images.githubusercontent.com/4493366/175940108-74949e6b-325e-445a-bd9b-2d38d733c610.png)

[2022-06-27 12:25] lucaderi commented on #6729
Every week-end new builds are availble, such as yesterday https://packages.ntop.org/apt/buster_pi/armhf/

[2022-06-27 12:25] #6729 closed, assigned to nobody

[2022-06-27 14:57] MatteoBiscosi commented on #6725
Hi @CindyStudyEveryday in a few hours a new update should be available and with it you are able to change elastic dump frequency from the ntopng settings (Settings -> Advanced Options -> Flow Dump Settings -> Flow Dump Frequency).
With the new update, the dump frequency by default it's a 2 minute dump.
Note that flows are dumped when they end or when no more packets of that flow are no more seen f

[2022-06-27 14:57] #6725 closed, assigned to nobody

[2022-06-27 16:02] lucaderi commented on #6730
See https://support.vectra.ai/s/article/KB-VS-1059

[2022-06-27 16:09] #6726 closed, assigned to uccidibuti

[2022-06-27 16:18] lucaderi opened #6731 "Invalid Label ICMP:ICMP in Alerts"
![image](https://user-images.githubusercontent.com/4493366/175987942-c32889d3-1c00-4d4a-a1b2-250e14b9e0ba.png)

[2022-06-27 17:51] lucaderi opened #6732 "Misleading header time in collector mode"
When starting nprobe and ntopng as follows
- ntopng -i tcp://127.0.0.1:1234
- nprobe -i none -n none -3 2055  --zmq tcp://127.0.0.1:1234

This box is displayed

![Screen Shot 2022-06-27 at 19 49 18](https://user-images.githubusercontent.com/4493366/176004198-02fc9b7e-3568-44d8-b42d-9e930f943316.png)

The time is static and it does not go back until zero when the page should refresh. This can be mi

[2022-06-28 06:43] lucaderi opened #6733 "Various bugs in alerts exclusions"
Inside a flow clicking on risks
![Screen Shot 2022-06-28 at 08 41 46](https://user-images.githubusercontent.com/4493366/176111157-5229af1b-4c52-4614-9645-6d4a22ac1f6c.png)

this is what we get

![image](https://user-images.githubusercontent.com/4493366/176111235-cedc0eba-a97e-4aec-8df4-3c8ae1ada884.png)

Bugs
- null in the VLAN tag
- Missing CN certificate option

[2022-06-28 06:46] lucaderi commented on #6711
![image](https://user-images.githubusercontent.com/4493366/176111615-22e6d40c-1aa7-40da-942c-6f81f4213b31.png)

You still use square brackets around the CN and the validation is broken
![Screen Shot 2022-06-28 at 08 46 23](https://user-images.githubusercontent.com/4493366/176111774-38f5241b-a74f-491e-a572-75cb5b876e62.png)

[2022-06-28 06:48] lucaderi commented on #6710
Still bugged
![Screen Shot 2022-06-28 at 08 48 20](https://user-images.githubusercontent.com/4493366/176112091-92f4aea0-0a36-40f0-b73f-b462885efa0e.png)

In domain names you can have letters numbers, dot, hyphen, minus sign

[2022-06-28 06:52] lucaderi opened #6734 "Old-fashion buttons need UI refresh"
Settings -> Manage Data, format "Select Export Type"
![Screen Shot 2022-06-28 at 08 51 03](https://user-images.githubusercontent.com/4493366/176112677-d69383d9-0083-404c-8269-cdae59905b07.png)

[2022-06-28 06:52] gianogli commented on #6655
Hi @MatteoBiscosi, I can't update my environment now because I've another opened ticket for a Segmentation Fault. As soon I'll be able to update I'll check your changes...
Thanks.... :-)

[2022-06-28 06:54] lucaderi commented on #6698
Verified as fixed

[2022-06-28 06:54] #6698 closed, assigned to uccidibuti

[2022-06-28 06:56] lucaderi commented on #6655
@gianogli You configuration above with so many interfaces is not a good idea. You need to use nProbe instead

[2022-06-28 07:04] lucaderi commented on #6620
![image](https://user-images.githubusercontent.com/4493366/176114321-ac34f670-6d36-4152-90ae-337516e839a1.png)

When disabling alerts per content (e.g. domain name) even if "Delete Alerts" is flagged, nothing is deleted. If too difficult to implement, please disable the  "Delete Alerts" for non IP-based

[2022-06-28 12:39] jacoporusso-css opened #6735 "Segregate checks and exclusions on different interfaces"
**What would you like to add or change?**:
Please make checks enabling/disabling and checks exclusions a per-interface feature (e.g.: excluding an IP from a check when working on an interface wouldn't affect the same check on another).

**Why do you and others need this?**:
Working on different networks, each one assigned to an interface, requires different checks and exclusions. Current global se

[2022-06-28 12:50] jacoporusso-css opened #6736 "Create new custom feed under Category Lists"
**What would you like to add or change?**:
Please add the capability to create a new Category List via web UI (e.g.: adding a "+" sign to let users define their own feeds).

**Why do you and others need this?**:
Enhance checks with custom data.

[2022-06-28 12:53] jacoporusso-css opened #6737 "Cannot create users containing "." character"
**Environment**:
* ntopng version/revision: 5.2.220520

**What happened**:
If I try to create a user containing "." character inside its username, nothing happens.

[2022-06-28 12:59] MatteoBiscosi commented on #6651
Hi @MichaelKirgus ntopng didn't support ELK version 8 but stopped at 7. With this latest patch the support to ELK 8 has been added so you can dump again flows and alerts using our elasticsearch support :)
(PS: they changed some index between version 7 and version 8).
Currently this support is only for ntopng dev version, however in a half a month more or less a new stable version is going to be re

[2022-06-28 12:59] #6651 closed, assigned to MatteoBiscosi

[2022-06-28 13:19] MatteoBiscosi commented on #6737
Hi @jacoporusso-css as you can see from the screenshot, it's now possible to add '.' character to usernames.
Please wait for a couple of hours and a new stable version should be available, update and the issue should be fixed.
![Screenshot from 2022-06-28 15-17-55](https://user-images.githubusercontent.com/49585191/176188491-935207a8-7646-4c07-88fa-bed542ad41d4.png)

[2022-06-28 13:57] MatteoBiscosi commented on #6723
Hi @deanfourie1 please share your ntopng --version and ntopng configuration. Could you please send a couple of screenshot to understand better your case?

[2022-06-28 14:16] MatteoBiscosi commented on #6599
Verified as fixed

[2022-06-28 14:16] #6599 closed, assigned to MatteoBiscosi

[2022-06-28 22:19] miguelhernandez-work commented on #6723
Not to high-jack someone elses issue, but I also have no menu for plugins, and thus can't get influxdb-monitor plugin which the help docs say i should be able to use to look at my timeseries health.
[code]
[code]

[2022-06-29 00:24] 612wong opened #6738 "Unable to find my custom categories"
**Environment**:
* OS name: RHEL
* OS version: 7.9
* Architecture: x86_64
* ntopng version/revision: v.5.3.220628

**What happened**:
I had about 21 applications under 'custom user category 1'.
I changed the name of 'custom user category 1' to 'new app' as an example.
Under the application tab, the 21 applications are still showing 'custom user category 1'.
I changed the 21 applications from 'cust

[2022-06-29 09:55] lucaderi opened #6739 "MAC Address Search Points to Wrong URL"
![Screen Shot 2022-06-29 at 11 51 56](https://user-images.githubusercontent.com/4493366/176408007-e5bebe80-47ef-41f1-9902-f12620f0c3a5.png)

Searching a MAC address and clicking on it (2nd line) will redirect to

http://localhost:3000/lua/host_details.lua?ifid=2&host=B8%3A27%3AEB%3A4D%3A44%3AC8&mode=restore
![Screen Shot 2022-06-29 at 11 54 00](https://user-images.githubusercontent.com/4493366/176

[2022-06-29 13:38] cardigliano commented on #6739
The mac type is correctly set now from the backend, but the gui should also be fixed to handle that. Example:
<img width="628" alt="Screen Shot 2022-06-29 at 15 30 59" src="https://user-images.githubusercontent.com/7548711/176450241-0504a056-8035-496d-ac19-d9d0ee6f8fbb.png">
<img width="343" alt="Screen Shot 2022-06-29 at 15 31 13" src="https://user-images.githubusercontent.com/7548711/176450259-1

[2022-06-29 16:52] lucaderi opened #6740 "Service Map: Missing Row Color"
In the service map the row colour should be as in alerts: have a coloured bar that shows the status (undecided, deny, allow)
![image](https://user-images.githubusercontent.com/4493366/176492328-7342f380-94cb-43ca-a0db-c7bae2f77d76.png)
![Screen Shot 2022-06-29 at 18 52 03](https://user-images.githubusercontent.com/4493366/176492514-a031219d-8ddb-435d-8136-77f539fb29cc.png)

[2022-06-29 16:55] lucaderi opened #6741 "Hosts View: Add the score column"
In the past years the score is an important value for all ntopng components but unfortunately in the hosts page the score is on an optional column as shown below
![Screen Shot 2022-06-29 at 18 53 01](https://user-images.githubusercontent.com/4493366/176492721-854eabbb-8ca2-44d5-9ecd-e4e70b6a2da3.png)

This ticket is to request to add permanently the score column in the above table and remove it fr

[2022-06-29 17:01] lucaderi opened #6742 "DNS Server Logic is Broken"
ntopng is able to detect DNS servers and mark them as such. Unfortunately, this logic is broken. Below is an example of this bug.

![image](https://user-images.githubusercontent.com/4493366/176493954-8470ecec-fb2a-4873-8b8d-fb4acf8873c0.png)

![image](https://user-images.githubusercontent.com/4493366/176493861-23523547-7bc8-47d9-90cb-06e9c8f153d9.png)

[2022-06-29 17:11] lucaderi commented on #6733
Verified as fixed

[2022-06-29 17:11] #6733 closed, assigned to cardigliano, uccidibuti

[2022-06-30 05:37] skore-onclave opened #6743 "gpg: error reading key: public key not found"
I'm building Debian package using `deb - do 'cd packages/ubuntu;./configure; make` during this process, it triggered `gpg: error reading key: public key not found error`, to resolve this issue I generated a new gpg key but I'm not sure where to place the outcome of the `gpg --gen-key` so that it can read it and process the build.

[2022-06-30 07:57] Eugene-Prokhorenko opened #6744 "ntopng give an errors during upgrade after upgrade crush"
Unpacking uidmap (1:4.5-1ubuntu2.3) over (1:4.5-1ubuntu2.2) ...
Setting up ubuntu-advantage-tools (27.9~18.04.1) ...
Installing new version of config file /etc/ubuntu-advantage/uaclient.conf ...
Created symlink /etc/systemd/system/multi-user.target.wants/ubuntu-advantage.service → /lib/systemd/system/ubuntu-advantage.service.
Setting up libcurl4:amd64 (7.58.0-2ubuntu3.19) ...
Setting up uidmap (1:

[2022-06-30 08:57] MatteoBiscosi commented on #6679
Implemented as requested.
A new preference is going to be available into ntopng preferences and if enabled a new set of timeseries is going to be available.
![Screenshot from 2022-06-30 10-52-02](https://user-images.githubusercontent.com/49585191/176636441-b58a60aa-85c0-4c8b-a306-bf66cdbcfa15.png)
![Screenshot from 2022-06-30 10-48-03](https://user-images.githubusercontent.com/49585191/176636553-f

[2022-06-30 09:04] cardigliano commented on #6744
@Eugene-Prokhorenko it seems the installation of rsyslog is failing, this is not directly related to ntopng..

[2022-07-01 04:05] hdsjahuen opened #6745 "No installation package problem when installing ntopng in debian"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]

**What happened**:

**What did you expect to happen?**

**How did you reproduce it?**

**Debug Information**:

debian version：11
When I install ntopng in debian, I have a problem that there is no installation package
As this picture shows, what is the reas

[2022-07-01 04:10] hdsjahuen commented on #6745
I followed your installation guide exactly

[2022-07-01 07:56] cardigliano commented on #6745
@hdsjahuen this seems to be working for me, please try running the below commands and providing the output:

apt-get update && apt-get upgrade
apt install pfring
apt list --installed | grep pfring
apt install ntopng

[2022-07-01 09:51] MatteoBiscosi commented on #6738
Hi @612wong , thanks a lot for your report, now it should work, i edited a custom category and as you can see i can find it in the dropdown. please wait for tomorrow update, update and let me know.
![Screenshot from 2022-07-01 11-49-57](https://user-images.githubusercontent.com/49585191/176871567-0dec9020-0f96-4817-9c65-982f9d930b66.png)
![Screenshot from 2022-07-01 11-49-44](https://user-images.g

[2022-07-01 10:23] lucaderi commented on #6740
Verified as fixed

[2022-07-01 10:23] #6740 closed, assigned to uccidibuti

[2022-07-01 10:25] #6744 closed, assigned to nobody

[2022-07-01 10:27] lucaderi commented on #6711
Verified as fixed

[2022-07-01 10:27] #6711 closed, assigned to cardigliano, uccidibuti

[2022-07-01 10:32] MatteoBiscosi commented on #5961
Each data in description is now searchable, because description is an aggregation of all the information

[2022-07-01 10:32] #5961 closed, assigned to cardigliano, MatteoBiscosi

[2022-07-02 03:34] mattventura commented on #6253
Sorry, I just now saw this and tried it out with the latest version (5.3.220701-18012). Seems to still have the same issue. High usage of "kvm_lapic_find_highest_irr" on the host side, despite very little CPU usage on the guest side. Did a full config reset on ntopng just to be sure, but that doesn't seem to have changed anything.

[2022-07-02 09:14] lucaderi opened #6746 "Implement arbitrary IP search"
Add the ability to search source/destination IP with an arbitrary CIDR. For example find all flows whose source IP is 192.168.0.0/16

[2022-07-02 09:36] lucaderi opened #6747 "SNMP Packets Error Check"
As we now poll packets via SNMP, implement a new SNMP check that triggers an alert when error packets > 5% of the (Unicast + NonUnicast) total packets

[2022-07-02 09:55] lucaderi opened #6748 "Implement Alert Exception Presets"
Today ntopng is emitting all alerts by default. However, some of them are not real issues for most people. For instance "App. on Non-Std Port". This is to request to implement a set of presets for ignoring specific flow risks:
- In Behavioural Check Exceptions add the ability to set the relevance level: All (>0, the current default), Warning/Errors (score >= 50) , Errors (score >= 100). This is a

[2022-07-02 09:57] lucaderi opened #6749 "Remove Telemetry Collection"
Telemetry collection is not a very popular feature and the idea is to remove it and eventually migrate to the service (https://northernlightlabs.se/2014-07-05/systemd-status-mail-on-unit-failure.html)

[2022-07-03 19:09] martinscheu commented on #6749
good decision!

[2022-07-03 19:17] martinscheu opened #6750 "Too Long TLS Cert. Validity - Exclude TLS Certificate Issuer not working"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223] : ntopng Enterprise L v.5.3.220623 (Ubuntu 20.04.4 LTS)

**What happened**:
Trying to add a TLS Certificate Issuer in Exclude Checks "Too Long TLS Cert. Validity" seems not working.
Or syntax is wrong ?
`CN=ICS-CN`

**What did you expect to happen?**

**How

[2022-07-03 19:23] martinscheu opened #6751 "Service Map with time evolving functionality"
**What would you like to add or change?**:
The Service Map is helpful to fast check who is talking to whom. For further visibility / analyst support it would be very helpful to see the Service Map over time. Like I select e.g. 5h and can move a slider in this time range and see the connections evolving over time. Data should be available from clickhouse.
If the request is not clear, please contact

[2022-07-03 20:40] martinscheu opened #6752 "Distributed ntopng architecture"
**What would you like to add or change?**:
For network security monitoring ntopng is needed for layer 2 analysis. Having one ntopng instance per organization is not enough, as in most cases north - south and east - west traffic can not be monitored with only instance. Using RSPAN like technologies in order to get network traffic from remote locations back to the central ntopng instance is cumberso

[2022-07-03 23:31] 61swong commented on #6738
Hi @MatteoBiscosi , I confirmed the patch fixed the issue. Thanks!

[2022-07-04 06:29] 61swong opened #6753 "application searchin 'App tab' doesn't work under "Setting>Application and Categories""
**Environment**:
* OS name: RHEL
* OS version: 7.9
* Architecture: x86_86
* ntopng version/revision: v5.3.220703

**What happened**:
I cannot search application in the app tab under "Setting>Application and Categories"
Restart of the ntopng service doesn't help.
![searchapp](https://user-images.githubusercontent.com/50309519/177094685-e33fe07b-83a3-4526-90a2-f4227d84b946.PNG)

However I can search

[2022-07-04 07:19] lucaderi commented on #6750
Are you using nprobe or capturing packets from the network interface?

[2022-07-04 07:20] lucaderi opened #6754 "Poor Vue.js performance in Historical Flows"
Despite fast ClickHouse lookups, the user interface is sluggish

[ntopng Enterprise L v.5.3.220704 (Rocky Linux release 8.5 (Green Obsidian)) | ](https://www.ntop.org/products/traffic-analysis/ntop/)

Query performed in 0.12 seconds. SQL

GUI 34 sec

[2022-07-04 07:27] martinscheu commented on #6750
is the standard ntopng installation with mirror port

[2022-07-04 07:39] lucaderi opened #6755 "Search bug"
On 192.168.2.49 search
![Screenshot 2022-07-04 at 09 35 21](https://user-images.githubusercontent.com/4493366/177105149-62aa1691-ec78-4865-8b7f-0e12f43936e8.png)

click on 3Com will lead you to

http://192.168.2.49:3000/lua/pro/enterprise/snmp_interface_details.lua?ifid=5&host=&snmp_port_idx=16

![Screenshot 2022-07-04 at 09 37 04](https://user-images.githubusercontent.com/4493366/177105460-491461

[2022-07-04 07:46] martinscheu opened #6756 "Check IP/MAC Reassoc/Spoofing not accessible from Alert List"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223] ntopng Enterprise L v.5.3.220623 (Ubuntu 20.04.4 LTS) |

**What happened**:
When trying to allow list a host / MAC address from the Alert list, the drop down menu does not offer it:
<img width="1772" alt="Screenshot 2022-07-04 at 09 42 32" src="https://user

[2022-07-04 07:52] martinscheu opened #6757 "Unexpected NTP server found - NTP server in exclude list not working"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]: ntopng Enterprise L v.5.3.220623 (Ubuntu 20.04.4 LTS) |

**What happened**:
When having an internal NTP server, 3.238, which is allowed to contact any external NTP server and therefore is added to the excluded hosts is still generating unexpected NTP serve

[2022-07-04 08:03] martinscheu opened #6758 "Historical flow explorer - drop down top applications and alerts is not working"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]: ntopng Enterprise L v.5.3.220704 (Ubuntu 20.04.4 LTS) |

**What happened**:

<img width="2088" alt="Screenshot 2022-07-04 at 10 02 50" src="https://user-images.githubusercontent.com/38549755/177110059-8f7272ab-f7e7-4107-82d2-bb6797333578.png">

https://use

[2022-07-04 10:07] cardigliano commented on #6755
27c31ac4a07c58b97d519311b8be31bc8705186a should address this (building new packages to test this)

[2022-07-04 10:12] cardigliano commented on #6757
@martinscheu what about using Settings -> Behavioural Check Exclusions to add host exceptions instead?
This setting from the check should be removed as we now have the new Behavioural Check Exclusions and this looks duplicated/deprecated.

[2022-07-04 10:16] cardigliano commented on #6758
@martinscheu this is working for me, could you run the below steps to provide more info?
1. Open the web inspector to see "Network" requests
2. Click on Top Applications
3. Check the request to top.lua (there can be many, check the latest one, triggered when clicking on the Top Applications), and provide a screenshot of the response content
Thank you

[2022-07-04 10:19] cardigliano commented on #6756
@martinscheu do you mean the "Disable Alert" menu, to disable the alert type for the MAC address?

[2022-07-04 11:13] basicmonkey commented on #6483
Hi @MatteoBiscosi

Theres absolutely nothing stopping this VM talking to the internet:

[code]

My maintenance has just expired so I can't grab any more updates. I'm not keen to keep spending lots of money on ntop with this issue preventing me from using it.

[2022-07-04 11:14] basicmonkey commented on #6483
HTTPS requests working fine too:

[code]

[2022-07-04 12:53] jacoporusso-css opened #6759 "Allow user on multiple interfaces"
**What would you like to add or change?**:
Please consider changing the interface assignment option in user creation menu from single selection to multiple. As today a user can be assigned only to a specific one, or all of them. It would be better to b

**Why do you and others need this?**:
A user may be responsible only for a subset of the existing interfaces.

[2022-07-04 13:11] uccidibuti commented on #6754
The problem doesn't seem to be related to interface and vue js but by server GET slowness. To fix it we must profiling lua codes.
![image](https://user-images.githubusercontent.com/12447209/177161971-4348bd2d-c07d-4020-bd57-ac2e147a685c.png)
![image](https://user-images.githubusercontent.com/12447209/177162163-dda98443-a604-4567-9a54-d270ca77e09d.png)

[2022-07-04 14:40] lucaderi opened #6760 "Invalid ClickHouse Alert Records Stats"
![image](https://user-images.githubusercontent.com/4493366/177176612-530cae31-4b44-4c70-b179-e7edeee0c414.png)

[2022-07-04 15:01] martinscheu commented on #6758
thanks @cardigliano
I closed the browser, deleted the cache and now it is working too :)
sorry

[2022-07-04 15:01] #6758 closed, assigned to cardigliano, uccidibuti

[2022-07-04 15:06] martinscheu commented on #6756
In flow alerts I have more options:
<img width="165" alt="Screenshot 2022-07-04 at 17 05 41" src="https://user-images.githubusercontent.com/38549755/177180751-9c27500c-604f-40d6-ba5d-b29e8b0628e7.png">

and when I click on settings in flow alerts it gets me to the corresponding Check.
Thanks

[2022-07-04 15:53] cardigliano commented on #6758
Ok, @uccidibuti pushed a fix for this, not sure if it was that, but it seems we can close this

[2022-07-04 15:54] cardigliano commented on #6756
So is the "Settings" link not working?

[2022-07-04 15:58] MatteoBiscosi commented on #6753
Hi @61swong the issue should be fixed with the latest version, please update tomorrow and let me know

[2022-07-04 16:34] cardigliano commented on #6757
Excluded Hosts removed from check config bebb1e92193b39ada54f878417417fbc85803a04, please use Settings -> Behavioural Check Exclusions to add exceptions

[2022-07-04 16:34] #6757 closed, assigned to cardigliano

[2022-07-04 16:44] lucaderi commented on #6620
Verified as fixed

[2022-07-04 16:44] #6620 closed, assigned to lucaderi, cardigliano, uccidibuti, MatteoBiscosi

[2022-07-05 05:55] 61swong commented on #6753
Hi @MatteoBiscosi , thanks for the fix. It's working now.

[2022-07-05 05:55] #6753 closed, assigned to MatteoBiscosi

[2022-07-05 06:00] 61swong opened #6761 "Category filter shows original name of 'custom category' in 'app' tab under Setting>Applications and Categories"
**Environment**:
* OS name: RHEL
* OS version: 7.9
* Architecture: x86_64
* ntopng version/revision: 5.3.220705

**What happened**:
In the 'app' tab under Setting>Applications and Categories, the 'Category' filter still shows the original name of the user custom category.

![categoryFilter](https://user-images.githubusercontent.com/50309519/177259532-6674082d-f9ed-45b3-b456-1de5fc943701.PNG)

**Wh

[2022-07-05 08:12] oliwirth opened #6762 "`Sent` and `Rcvd` is changing in dev version after reloading page with F5"
**Environment**:
* OS name: Debian
* OS version: 11 bullseye
* Architecture: amd64
* ntopng version/revision:  5.3.220705

**What happened**:
I realised that `Sent` and `Rcvd` in data graph in dev-version is different (opposit) than in production version.
When reloading the page via F5 several times `Sent` and `Rcvd` is changing and also the graph.

**How did you reproduce it?**
Pressing F5 severa

[2022-07-05 10:01] lucaderi opened #6763 "Disable InfluxDB scripts with RRD"
In devices with little resources, it is important to disable unnecessary threads. A typical example is influxdb which should not even be started in the case of RRD. Please check if there are other threads that can be disabled.

Threads:  28 total,   2 running,  26 sleeping,   0 stopped,   0 zombie
%Cpu(s): 15.6 us,  4.9 sy,  0.0 ni, 74.0 id,  1.4 wa,  0.0 hi,  4.0 si,  0.0 st
MiB Mem :   3816.6 to

[2022-07-05 10:10] lucaderi opened #6764 "Errors while exporting ELK alerts to a an ELK instance that is down"
05/Jul/2022 11:38:03 [Utils.cpp:1527] WARNING: Unable to post data to (http://localhost:9200/_template/so-ntopng): Couldn't connect to server
05/Jul/2022 11:38:03 [notifications.lua:25] [elasticsearch.lua:103] ERROR: Unable to configure the Elasticsearch alerts-ntopng- index http://localhost:9200
05/Jul/2022 11:38:03 [notifications.lua:25] [elasticsearch.lua:131] ERROR: Unable to fetch Elasticsear

[2022-07-05 10:39] oliwirth commented on #6762
some more Info: Also the graph of snmp is affected.

[2022-07-05 11:12] #6763 closed, assigned to nobody

[2022-07-05 13:01] tano46 opened #6765 "[nEdge] Profile selection"
Add a profile selection functionality in nedge, each profile should save data from:
Settings->(all) users (edit)->category policies
Settings->(all) users (edit)-> application policies
System setup -> Captive Portal
System setup -> Bandwidth Control
System setup -> Routing Policies

The final user should be able to switch from a saved profile to another.

Limeted numbers of profiles and reboot for

[2022-07-05 13:03] #6737 closed, assigned to MatteoBiscosi

[2022-07-05 14:20] MatteoBiscosi commented on #6764
Now the check, in case a recipient crashes, is done every 2 minutes instead of 3 seconds, in this way it's able to check if perhaps the service goes up again but at the same time those errors do not fill the disk

[2022-07-05 14:43] MatteoBiscosi commented on #6761
Hi @61swong thanks again for your report, the issue should now be fixed, please wait for a couple of hours and a new update should be available
![Screenshot from 2022-07-05 16-42-31](https://user-images.githubusercontent.com/49585191/177354686-9c33e6e4-ca79-4ef1-9e1f-402f8561f19b.png)

[2022-07-05 15:11] MatteoBiscosi commented on #6760
Fixed pro repo

[2022-07-05 15:26] cardigliano commented on #6750
Adding "CN=ICS-CN" as IssuerDN in the exclusions page works for me. Is it not accepting the string (syntax validation) or is the exclusion not working for new alerts?

[2022-07-05 15:29] cardigliano commented on #6702
Update: we will test this with the new stable that will be released soon

[2022-07-05 15:38] uccidibuti commented on #6750
Can you add more details? after you added the certificate do you find it in lua/pro/admin/edit_alert_exclusions.lua (Settings->Behavioural Check Exclusions) page on TLS Certificate Issuer tab?

[2022-07-05 15:54] #6762 closed, assigned to MatteoBiscosi

[2022-07-05 16:06] cardigliano commented on #6523
This is working on latest dev (and new stable)

[2022-07-05 16:06] #6523 closed, assigned to cardigliano

[2022-07-05 19:43] lucaderi opened #6766 "Missing value unit in traffic timeseries"
![image](https://user-images.githubusercontent.com/4493366/177403376-2da805fa-b5f3-41a5-a572-e363e0059667.png)

This with RRD (not sure about InfluxDB but probably the bug is the same)

[2022-07-05 22:18] lucaderi commented on #6766
Fixe by https://github.com/ntop/ntopng/commit/8fc4dee5482b006425264485fb0b2cb3a3a72db8

[2022-07-05 22:18] #6766 closed, assigned to MatteoBiscosi

[2022-07-06 09:35] oliwirth commented on #6762
Hi, looks like the upgrade to 5.3.220706 fixed it!

[2022-07-06 14:44] MatteoBiscosi commented on #6749
Telemetry was removed in the commit 8dad513a4e1abdfba256d887d5fc6e37c7082129

[2022-07-07 04:04] 61swong commented on #6761
Hi @MatteoBiscosi thanks for the fix. I confirmed it's working now.

[2022-07-07 04:04] #6761 closed, assigned to MatteoBiscosi

[2022-07-07 04:24] 61swong opened #6767 "Original name of 'user custom category...' is shown in other areas."
**Environment**:
* OS name: RHEL
* OS version: 7.9
* Architecture: x86_86
* ntopng version/revision: 5.5.220707

**What happened**:
The original name of 'user custom category...' is shown in:
- interface > app > category tab
![interface_app_categorytab](https://user-images.githubusercontent.com/50309519/177690842-bd921a5c-36db-4734-bd0c-93072927d990.PNG)

- heading of the application list (setting

[2022-07-07 08:39] MatteoBiscosi opened #6768 "Change Flow exporter name in Live Flows"
**What would you like to add or change?**:
Ability to change the format of the Flow Exporter output (screenshot below) so that we can just show the Device Name (e.g. cisco2960, instead of 'Flow Exporter 192.168.2.40 [cisco2960.12.2]).

[2022-07-07 08:42] MatteoBiscosi opened #6769 "Add Live Flows configured expiration time"
**What would you like to add or change?**:
populate the configured expiration time on the page just to let people know (ie. Recently Live Flows – last 120 seconds).

[2022-07-07 08:44] MatteoBiscosi opened #6770 "Change input/output interface dropdown in live flows"
**What would you like to add or change?**:
Ability to change the format of the Interface output (screenshot below) so that we can just show <Interface> - <Interface Description> (e.g. test/0/2 – wan:test:aa111405:usa – this is a fictitious string representing what the interface description might be).

[2022-07-07 08:45] MatteoBiscosi opened #6771 "Change flow exporter filtering in Historical Flow"
**What would you like to add or change?**:
Historical Flow filtering requires manually inputting the IPv4 address of the Flow Exporter and the ifIndex of the interface – it would be great if we could get the same drop-downs as we can in the Live Monitoring

[2022-07-07 08:47] MatteoBiscosi opened #6772 "Improve LDAPS access"
**What would you like to add or change?**:
It is requested to grant LDAPS authenticated users (ie. non-admin users) access to Historical Flows for the entire security group.

Other then that add the ability to use most-privileged access rather than the default least-privileged (for example, we could have a group called sg-ntopng-admins and put the administrative users in this group and provide acc

[2022-07-08 05:47] 612wong commented on #6767
Hi @MatteoBiscosi , thanks for your update but I still can reproduce it in v5.5.220708.

<img width="1272" alt="Screen Shot 2022-07-08 at 15 32 15" src="https://user-images.githubusercontent.com/58540705/177924797-b07c8e5d-412e-429d-ac37-07f240d7a975.png">

<img width="1263" alt="Screen Shot 2022-07-08 at 15 38 00" src="https://user-images.githubusercontent.com/58540705/177924842-102b8c7d-5426-4d0

[2022-07-08 08:49] jacoporusso-css opened #6773 "Mistakes on reverse DNS resolution"
**What happened**:
Sometimes reverse IP to url resolution gives false positives. This behavior becomes evident when an apparently public resource is matched against a private IP (see screenshot).

![immagine](https://user-images.githubusercontent.com/108343272/177954820-ece31060-8613-49ed-8e08-9dea0aa85ba8.png)

[2022-07-08 09:12] MatteoBiscosi commented on #6767
Hi @61swong thanks again for your reports, i should have fixed this category name issue in all the pages, please let me know in the following days if you perhaps find some issue

[2022-07-08 10:11] jacoporusso-css opened #6774 "Make NtopNG local network definition a "per-interface" feature"
**What would you like to add or change?**:
It would be greatly helpful to switch the local network definition in NtopNG (and so the Hosts->Networks section in the UI) from global feature to interface local.

**Why do you and others need this?**:
Oftentimes distributed environments have overlapping/double local network ranges (e.g.: multiple stores, each one with a WLAN range equal to 192.168.1.0/2

[2022-07-08 13:35] jacoporusso-css opened #6775 "Cannot change password"
* ntopng version/revision: [v 5.4.220707 ]

**What happened**:
When a user change his password (even if changed from an admin account), even if a success messaged is displayed, upon new login the new credentials appear invalid. Using the old one works. So, password doesn't get updated.

[2022-07-08 14:46] MatteoBiscosi commented on #6775
Hi @jacoporusso-css I'm unable to reproduce your issue, I tried to create a new user, login with that user and change the password and everything seems working.
Could you please tell me more details? like your exact way from creating the user to changing the password? Is there some error reported in the journalctl (journactl -e -u ntopng)?

[2022-07-09 10:32] 61swong commented on #6767
Hi @MatteoBiscosi , thanks for the fix. I confirmed the issue's fixed. Cheers.

[2022-07-09 10:32] #6767 closed, assigned to nobody

[2022-07-11 08:19] MatteoBiscosi commented on #6764
Verified as fixed

[2022-07-11 08:19] #6764 closed, assigned to MatteoBiscosi

[2022-07-11 08:20] MatteoBiscosi commented on #6760
Verified as fixed

[2022-07-11 08:20] #6760 closed, assigned to MatteoBiscosi

[2022-07-11 08:21] MatteoBiscosi commented on #6742
Verified as fixed, the problem was with view interfaces

[2022-07-11 08:21] #6742 closed, assigned to MatteoBiscosi

[2022-07-11 08:22] #6738 closed, assigned to MatteoBiscosi

[2022-07-11 08:23] MatteoBiscosi commented on #6731
Verified as fixed

[2022-07-11 08:23] #6731 closed, assigned to cardigliano, MatteoBiscosi

[2022-07-11 08:24] MatteoBiscosi commented on #6724
Duplicate of #6749

[2022-07-11 08:24] #6724 closed, assigned to nobody

[2022-07-11 08:24] MatteoBiscosi commented on #6710
Verified as fixed

[2022-07-11 08:24] #6710 closed, assigned to cardigliano, uccidibuti

[2022-07-11 08:24] MatteoBiscosi commented on #6703
Implemented as requested

[2022-07-11 08:24] #6703 closed, assigned to MatteoBiscosi

[2022-07-11 08:26] MatteoBiscosi commented on #6723
Hi guys, please update to the latest ntopng version and let me know if everything is working fine. Otherwise please send me a couple of screenshots of your GUI

[2022-07-11 08:31] MatteoBiscosi commented on #6723
Hi guys, Plugins entry was removed in the latest ntopng versions. We renamed them "Checks" (for alerts) and "Notifications" (for endpoints and recipients). So please tell me what you are searching for and where did you find the Plugins option, maybe I forgot to remove it from the doc

[2022-07-11 08:49] MatteoBiscosi commented on #6723
Hi @miguelhernandez-work the issue should be fixed in the latest ntopng dev version. please update in a couple of hours and everything should work correctly. You do not need to enable plugins to monitor influxdb, when you enable influxdb a new Health page should appear reporting influxdb status.

[2022-07-11 09:24] MatteoBiscosi commented on #6768
Implemented as requested. However we had to put still the flow exporter ip next to the name, because there could be different devices with similar names and in order to distinguish them it's necessary the ip
![Screenshot from 2022-07-11 11-23-04](https://user-images.githubusercontent.com/49585191/178232748-32b417e4-fb7b-4c98-b709-7b0347ce326a.png)

[2022-07-11 09:24] #6768 closed, assigned to MatteoBiscosi

[2022-07-11 09:26] MatteoBiscosi commented on #6769
Like suggested, an entry describing the flow idle timeout has been added to ntopng live flows gui
![Screenshot from 2022-07-11 11-25-06](https://user-images.githubusercontent.com/49585191/178233299-7409ccf1-b2c7-40a9-a7ec-278e8bd6c0b5.png)

[2022-07-11 09:26] #6769 closed, assigned to MatteoBiscosi

[2022-07-11 10:59] lvalero opened #6776 "After upgrading ntopng traffic on interface is no more collected"
Hello,

GUI showed an upgrade for ntopng, i issued an "apt-get update" and "apt-get upgrade" and reboot, after reboot, services are up and running :

root@ntopng:~# systemctl status clickhouse-server.service
â— clickhouse-server.service - ClickHouse Server (analytic DBMS for big data)
     Loaded: loaded (/lib/systemd/system/clickhouse-server.service; enabled; vendor preset: enabled)
     Active:

[2022-07-11 11:37] lvalero commented on #6776
![nprobe_1](https://user-images.githubusercontent.com/9340748/178255859-c6cb8c16-2ccf-4a16-922f-ac6d2f19173e.JPG)
![nprobe_2](https://user-images.githubusercontent.com/9340748/178255863-3b8e071d-45b3-4ee1-a6ef-fada4aee4620.JPG)

[2022-07-11 11:40] MatteoBiscosi commented on #6776
Hi @lvalero could you please run both ntopng and nprobe in foreground and report the output?
to run them in foreground please stop both services and then run
`sudo nprobe /etc/nprobe/nprobe.conf`
`sudo ntopng /etc/ntopng/ntopng.conf`
or whatever conf file you have and then send me the output (to understand if there is some problem)

[2022-07-11 12:08] Eugene-Prokhorenko opened #6777 "Ntop not start after autoupdate."
**Environment**:
* OS name: [e.g. Ubuntu] Ubuntu
* OS version: [e.g. 18.04] 18.04.6
* Architecture: [e.g. amd64] AMD64
* ntopng version/revision: [e.g. 5.1.211223] 5.5.220708

**What happened**:
site become stuck:

No internetThere is something wrong with the proxy server, or the address is incorrect.
Try:

Contacting the system admin
[Checking the proxy address](chrome-error://chromewebdata/#butt

[2022-07-11 12:24] lvalero commented on #6776
1/ stop processe
root@ntopng:/etc/ntopng# systemctl stop nprobe
root@ntopng:/etc/ntopng# systemctl stop ntopng

2/ run in foreground

root@ntopng:~# nprobe /etc/nprobe/nprobe.conf
11/Jul/2022 08:23:13 [nprobe.c:5476] Reading configuration file /etc/nprobe/nprobe.conf
11/Jul/2022 08:23:13 [plugin.c:178] No plugins found in ./plugins
11/Jul/2022 08:23:13 [plugin.c:186] Loading 23 plugins [.so] from

[2022-07-11 13:26] cardigliano commented on #6777
@Eugene-Prokhorenko please provide the output of:
- systemctl is-enabled ntopng
- systemctl status ntopng
- journalctl -u ntopng (in a log file)

[2022-07-11 13:27] MatteoBiscosi commented on #6776
Hi @lvalero a new version of ntopng / nprobe stables should be available soon, please update them and see if the issue persists (check a couple of minutes after starting both services). if it persists please drop an email at `biscosi at ntop.org` with your configuration files. Sorry to trouble you but in my case everything seems working correctly

[2022-07-11 15:36] miguelhernandez-work commented on #6723
Looks good, it's working. Thanks! If anyone is wondering, the "Health" left-menu option is only visible once you select "System" from the dropdown, if you have an interface selected from that dropdown you won't see the Health menu option.

[2022-07-11 20:08] lucaderi commented on #6736
Implemented by https://github.com/ntop/ntopng/commit/5e8769b1b5c55899c4ed03c7599f3cef7bb010e3

[2022-07-11 20:08] #6736 closed, assigned to nobody

[2022-07-11 20:08] lucaderi commented on #6107
Implemented by https://github.com/ntop/ntopng/commit/5e8769b1b5c55899c4ed03c7599f3cef7bb010e3

[2022-07-11 20:08] #6107 closed, assigned to nobody

[2022-07-11 20:08] lucaderi commented on #4428
Implemented by https://github.com/ntop/ntopng/commit/5e8769b1b5c55899c4ed03c7599f3cef7bb010e3

[2022-07-11 20:08] #4428 closed, assigned to lucaderi

[2022-07-11 21:19] lvalero commented on #6776
Here is a message after the upgrade (new messages seen today July 11) :

root@ntopng:/home/zeta# head /var/log/syslog
Jul 10 00:00:10 ntopng systemd[1]: logrotate.service: Succeeded.
Jul 10 00:00:10 ntopng systemd[1]: Finished Rotate log files.
Jul 10 00:00:10 ntopng systemd[1]: man-db.service: Succeeded.
Jul 10 00:00:10 ntopng systemd[1]: Finished Daily man-db regeneration.
Jul 10 00:01:01 ntopng

[2022-07-12 06:58] skore-onclave opened #6778 "cp: cannot stat '/root/dat_files/dbip-city-lite-*.mmdb': No such file or directory"
**Environment**:
* OS name: [Ubuntu]
* OS version: [18.04]
* Architecture: [amd64]
* ntopng version/revision: [5.5.220712]

**What happened**:
Debian package compilation from source fails with error  `cp: cannot stat '/root/dat_files/dbip-city-lite-*.mmdb': No such file or directory` at `[ntopng-data]` step of make

**What did you expect to happen?**
Build for a core package of Ntopng succeeds but

[2022-07-12 07:29] cardigliano commented on #6778
@skore-onclave please note that the ntopng-data package is supposed to contain MMDB database files used for Geo Localization, please download them and place under /root/dat_files/dbip-city-lite-*.mmdb (note that you can download the Lite version of the database which is free from https://db-ip.com/db/)

[2022-07-12 07:54] MatteoBiscosi commented on #6776
Hi @lvalero, I think the problem is the configuration.
You are capturing by ntopng interface `127.0.0.1:5556c` (the `c` is used for Observation Points) but you are not sending from nProbe to ntopng using Observation Points (if you look at your nProbe config file, no `-E` option is configured); so please try to collect from interface `127.0.0.1:5556` instead of the `127.0.0.1:5556c` (or add an Obse

[2022-07-12 08:04] #6745 closed, assigned to nobody

[2022-07-12 08:05] #6723 closed, assigned to MatteoBiscosi

[2022-07-12 08:07] cardigliano commented on #6743
Please check the "dpkg-sig --sign" command in ntopng/packages/ubuntu/Makefile.in

[2022-07-12 08:07] #6743 closed, assigned to nobody

[2022-07-12 08:09] MatteoBiscosi commented on #6741
Implemented as requested

[2022-07-12 08:09] #6741 closed, assigned to uccidibuti

[2022-07-12 08:11] cardigliano commented on #6655
@gianogli any update on this?

[2022-07-12 08:14] cardigliano commented on #6652
@Taralas are you still able to reproduce this with the latest version?

[2022-07-12 08:16] cardigliano commented on #6652
This seems related to https://github.com/ntop/ntopng/issues/6578 (closing as duplicate)

[2022-07-12 08:16] #6652 closed, assigned to nobody

[2022-07-12 08:33] cardigliano commented on #6295
@mikulov could you confirm that this has been addressed and working in the latest version? Thank you.

[2022-07-12 08:43] skore-onclave opened #6779 "error: 'ndpi_patricia_tree_t' does not name a type; did you mean 'ndpi_ptree_t'? & few other errors"
**Environment**:
* OS name: [Ubuntu]
* OS version: [18.04]
* Architecture: [amd64]
* ntopng version/revision: [5.2.1]
* nDPI version/revision: [3.2]

**What happened**:
Debian package compilation from source fails with a bunch of errors as pasted in debug log below

**How did you reproduce it?**
checkout 3.2 tag
cd nDPI
./autogen.sh
./configure
make
cd ..
checkout 5.2.1 tag
cd ntopng
./autogen.sh

[2022-07-12 08:44] cardigliano commented on #6292
@mamema you said "ntopng is running again" thus I assume it's working now. Or are you still experiencing a buffer overflow using the latest image and the new license?

[2022-07-12 08:44] #6292 closed, assigned to nobody

[2022-07-12 08:46] cardigliano commented on #6779
@skore-onclave please checkout latest stable from both nDPI (4.4-stable) and ntopng (5.4-stable), we do not support older versions

[2022-07-12 08:46] #6779 closed, assigned to nobody

[2022-07-12 08:55] skore-onclave commented on #6778
@cardigliano Thanks for quick reply. I downloaded all the three lite versions of DB files, my question is do I need to create `dat_files` in root explicitly put the files under it? Or just i need to put DB files under `ntopng` root directory and build process takes care of creating `dat_files` folder and moving the files to `dat_files` from `ntpong` base directory.

[2022-07-12 09:05] jacoporusso-css commented on #6775
Hi Matteo,
 thank you for your suggestion. Unfortunately nothing related to this problem can be found in journalctl.
Anyway we did some further research, here's the exact condition triggering the issue:
If a user is created in a version of NtopNG prior 5.4.220707, the issue (not being able to change password) appears after upgrading.
Moreover these users are affected by another related problem: if

[2022-07-12 09:29] MatteoBiscosi commented on #6770
Implemented in the following way. Currently just the name, but we could add an alias to the interfaces
![Screenshot from 2022-07-12 11-28-39](https://user-images.githubusercontent.com/49585191/178458568-056c5a38-92f3-4b45-9186-c7066bc4a449.png)

[2022-07-12 09:54] cardigliano commented on #6778
You need to manually create the dat_files/ folder in your home, and place the mmdb files inside, example
ls dat_files
dbip-asn-lite-2022-07.mmdb  dbip-city-lite-2022-07.mmdb  dbip-country-lite-2022-07.mmdb

[2022-07-12 09:54] #6778 closed, assigned to cardigliano

[2022-07-12 09:55] Eugene-Prokhorenko commented on #6777
I inserted needed data into initial part of the list of needed info

July 11, 2022 5:27 PM, "Alfredo Cardigliano" ***@***.***> wrote:

[2022-07-12 10:03] lvalero commented on #6776
Hello Matteo,

Here is my new working config (now it is working)  :

***@***.***:/etc/nprobe# cat /etc/ntopng/ntopng.conf | grep -v '#'
-i=tcp://127.0.0.1:5556
-m="10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,132.207.0.0/16"
-G=/var/run/ntopng.pid
-F="clickhouse;127.0.0.1;ntopng;default;<MYPWD>"
-x=524288
-X=2097152

***@***.***:/etc/nprobe# cat nprobe.conf | fgrep -v '#'
-i=none
--collector-port=2055

[2022-07-12 10:17] Eugene-Prokhorenko commented on #6777
July 11, 2022 5:27 PM, "Alfredo Cardigliano" ***@***.***> wrote:

systemctl is-enabled ntopng
enabled
systemctl status ntopng
enabled
journalctl -u ntopng
[jour.txt](https://github.com/ntop/ntopng/files/9086903/jour.txt)

This one?

[2022-07-12 10:50] lucaderi commented on #6777
This is your problem

Jul 11 21:10:12 asnet-monitoring ntopng[7228]: [Redis.cpp:93] ERROR: Connection error [Connection refused]
Jul 11 21:10:12 asnet-monitoring ntopng[7228]: 11/Jul/2022 21:10:12 [Redis.cpp:93] ERROR: Connection error [Connection refused]
Jul 11 21:10:13 asnet-monitoring ntopng[7228]: 11/Jul/2022 21:10:13 [Redis.cpp:77] Redis has disconnected, reconnecting [remaining attempts: 14

[2022-07-12 11:23] MatteoBiscosi commented on #6776
Hi @lvalero glad to know that now is working correctly. Please reopen the issue if the same problem is going to appear again

[2022-07-12 11:23] #6776 closed, assigned to MatteoBiscosi

[2022-07-12 11:24] MatteoBiscosi commented on #6775
Hi @jacoporusso-css it seems that with the latest changes the issue (at least for the last version) is fixed. Please reopen the issue if it's going to appear again the same problem in the upcoming versions.

[2022-07-12 11:24] #6775 closed, assigned to MatteoBiscosi

[2022-07-12 15:12] mamema commented on #6292
as i have a working license, it is all good. I haven't tested, if the buffer overflow is still present, when using ntopng without license. So closing the issue is fine.

[2022-07-13 11:41] uccidibuti commented on #6172
Snapshots icon is now available and it allow to save / select / delete a filter. You must have ntop Enterprise license.
![image](https://user-images.githubusercontent.com/12447209/178725284-5f1b1f8f-211d-4fff-8a6e-52f3de548a92.png)

[2022-07-14 07:13] skore-onclave opened #6780 "How to apply mysql mysql patch during build process"
**Environment**:
* OS name: [Ubuntu]
* OS version: [18.04]
* Architecture: [amd64]
* ntopng version/revision: [5.4]

**What happened**:
I'm building ntopng Debian package from source and during this process I want to apply some custom MySQL patch.
I thought of using **patch -p1 < patchfile** but I'm not sure at what step of the build process I need to execute this command. Or I need to apply this

[2022-07-14 08:01] cardigliano commented on #6780
@skore-onclave not sure about what patch you need to apply, but I would do that on the source code before running the build process

[2022-07-14 08:01] #6780 closed, assigned to nobody

[2022-07-14 13:18] jacoporusso-css opened #6781 "Alert "HTTP Suspicious User-Agent" should report the specific User Agent detected"
**What would you like to add or change?**:
Add to the UI the information that triggered this alert. Without it, the user is left emptyhanded.

![immagine](https://user-images.githubusercontent.com/108343272/178991495-6abeec4b-4940-468d-b38a-208b801db82e.png)

[2022-07-14 15:07] lucaderi commented on #6777
@Eugene-Prokhorenko Did you fix this redis issue?

[2022-07-14 15:16] lucaderi opened #6782 "Invalid SNMP Interface Selection"
<img width="1313" alt="image" src="https://user-images.githubusercontent.com/4493366/179016637-ca0dcc92-30f0-4a28-856d-8c3d06545736.png">

Clicking on the interface ID for the specified server, produces

<img width="846" alt="image" src="https://user-images.githubusercontent.com/4493366/179016802-ad795459-8032-4946-9126-c740b90ea2c7.png">

that is a huge list long to load and use. It is requested

[2022-07-14 15:43] lucaderi opened #6783 "Slow scanner detection check"
Scanning is usually a quick activity that attackers want to carry on as fast as possible. However, there is a low percentage of scanners (<5%) that instead perform slow scans hoping not to be detected. In order to find them, ntopng can take into account the connection frequency and the flow size that in normal traffic has a high bytes variance compared to attack traffic.

This is to require the im

[2022-07-14 16:14] #6634 closed, assigned to cardigliano, uccidibuti

[2022-07-14 16:15] #6576 closed, assigned to cardigliano, JudyyHopps

[2022-07-15 02:30] 315xiaoyao commented on #4809
我也遇到这个问题，有找到解决方法的大神吗？

[2022-07-15 09:57] MatteoBiscosi commented on #6781
Hi @jacoporusso-css there should be the user agent reported: see the two screenshot, you should have an idea of the problem reported by ndpi (second screenshot) and you should find the user agent below, in the `Flow Related Info` section (if available)
![Screenshot from 2022-07-15 11-44-52](https://user-images.githubusercontent.com/49585191/179200426-f07a5377-0edd-4a07-b5a6-85c0f5309ee4.png)
![Scr

[2022-07-15 10:38] mariushosting opened #6784 "[Error] Config file not found Starting redis-server: redis-server."
Stable ntopng Docker Version I get this error in the log and ntopng won't start

15/Jul/2022 13:31:05 [Prefs.cpp:1880] WARNING: Config file  not found
Starting redis-server: redis-server.

This is what I use and perfectly works since yesterday:

docker run -d --name=ntop \
-p 3000:3000 \
-v /volume1/docker/ntop:/etc/ntopng.license:ro \
--net=host \
--restart always \
ntop/ntopng:stable

[2022-07-15 11:01] cardigliano commented on #6784
@mariushosting please provide a configuration file or options via command line

[2022-07-15 11:04] mariushosting commented on #6784
is there any config default file somewhere?

[2022-07-15 12:12] Eugene-Prokhorenko commented on #6777
no way. I tried install, remove, do manual editing, comparing two installation. Now I'm writing to authors. Will inform you.

July 14, 2022 7:07 PM, "Luca Deri" ***@***.***> wrote:

[2022-07-18 07:08] darrenp2022a opened #6785 "NTOP active monitoring does not send alerts"
**Environment**:
* OS name: Centos
* OS version: Stream 8
* Architecture: Intel
* ntopng version/revision: 5.5.220713 and current 5.4.220711

**What happened**:
NTOP does not send alerts, this has been the case since before August 2021.  This was reported to:

Luca, who created ticket 6405
Alfredo
Matteo

**What did you expect to happen?**
For it to send alerts

**How did you reproduce it?**
Turn

[2022-07-18 07:36] cardigliano commented on #6785
Could you comment more about "could this issue be related to NTOP not reading the hosts file" please?
Which file are you referring to exactly, and what is the relation with the notifications? Thank you.

[2022-07-18 07:39] darrenp2022a commented on #6785
From your last email, you sent a screenshot of notifications against google.com (8.8.8.8) from memory, and the difference is my hosts are not internet based, they are internal, so there is no DNS, I’m using the /etc/hosts file for resolution.

Continuous ICMP works fine with hosts configured in that way, but it’s the only difference I could think off compared with your working example. I have not

[2022-07-18 07:59] cardigliano commented on #6785
Regardless of the host being an IP address, a local defined name, or an internet FQDN, what you configure in the Recipient now is the Active Monitoring entry, which should be value agnostic. Anyway please provide an exact configuration example  and I will try to reproduce the same step by step.

[2022-07-18 08:36] cardigliano commented on #6784
ntopng installs some sample files under /etc/ntopng/, or you can just create an empty text file, and add one or multiple interfaces to monitor. Example:

-i=eno1
-i=eno2

[2022-07-18 08:38] cardigliano commented on #6777
@Eugene-Prokhorenko since this seems to be a redis related issue, I am closing this, please reopen in case some action is required on our side. Thank you.

[2022-07-18 08:38] #6777 closed, assigned to cardigliano

[2022-07-18 08:45] MatteoBiscosi commented on #6770
Verified as Implemented

[2022-07-18 08:45] #6770 closed, assigned to MatteoBiscosi

[2022-07-18 09:13] #6679 closed, assigned to nobody

[2022-07-18 09:14] MatteoBiscosi commented on #6655
Closing for inactivity. Please reopen if needed

[2022-07-18 09:14] #6655 closed, assigned to MatteoBiscosi

[2022-07-18 09:29] cardigliano commented on #6719
Works for me, waiting for a debug session with the user to verify the issue

[2022-07-18 09:52] MatteoBiscosi commented on #6624
This is currently impossible with the datables.net version we are using (the library itself cannot do this work)

[2022-07-18 09:52] #6624 closed, assigned to nobody

[2022-07-18 09:54] #6614 closed, assigned to nobody

[2022-07-18 09:57] MatteoBiscosi commented on #6561
Implemented as requested

[2022-07-18 09:57] #6561 closed, assigned to uccidibuti

[2022-07-18 09:57] MatteoBiscosi commented on #6511
Implemented as requested in the latest version

[2022-07-18 09:57] #6511 closed, assigned to nobody

[2022-07-18 10:15] cardigliano commented on #6719
This was related to a change to the interface, we can close this.

[2022-07-18 10:15] #6719 closed, assigned to nobody

[2022-07-18 10:19] cardigliano opened #6786 "Historial Flows page performance issues"
Exploring the historical data is slow when selecting a big time interval, even if the data to be displayed is a few rows. This is due to the aggregation functions used to build charts etc. It is required to address this by making the charts and other components using aggregation functions optionally enabled (at least when a big time interval is selected), if improving the performance is not possib

[2022-07-18 14:36] martinscheu commented on #6682
Hi @MatteoBiscosi
Unfortunately the alert is still getting triggered, even the Check is disabled.
Also the description is kind of faulty:
![image](https://user-images.githubusercontent.com/38549755/179535532-0b932d88-9b59-4fc3-9df4-e901f0fb42c0.png)

[2022-07-18 15:05] gianogli commented on #6655
@cardigliano I'm trying the new stable (v.5.4.220708). I'll update you asap... :-)

[2022-07-18 15:12] gianogli commented on #6655
Sorry for the delay... I'm trying the new stable (v.5.4.220708) and the issue is still here. :-)

[2022-07-18 15:17] gianogli commented on #6702
Sorry for the delay... In the last 3/4 days I'm using the new stable (v.5.4.220708). I'll update you asap.... :-)

[2022-07-18 15:59] sergico opened #6787 "ntop-ng does not detect a USB-C interface"
**Environment**:
* OS name: Ubuntu
* OS version: 22.04 64b
* Architecture: amd64
* ntopng version/revision: ntopng Community v.5.4.220714

**What happened**:
I'm experimenting with ntop on my laptop. Today I connected the laptop to the docking station I have in the office
The docking station is connected to the laptop via USB-C; the docking station is connected to the switch that give me access to

[2022-07-18 16:13] cardigliano commented on #6574
The number in the menu does not match the alerts displayed when they have been triggered after the selected time range. A note about this has been added to the page footer to warn the user.

[2022-07-18 16:13] #6574 closed, assigned to cardigliano

[2022-07-19 07:21] martinscheu commented on #6787
@sergico I had similar problem in the past, interface name too long. I renamed the interface and added it in the config file. Maybe you can try it?

[2022-07-19 08:14] cardigliano commented on #6787
I pushed a fix to handle long interface names like the one reported. Please wait for the next package update later today and check it.

[2022-07-19 09:22] MatteoBiscosi commented on #6682
Hi @martinscheu, the description is fixed and now the alert should be triggered only when the alert is enabled. Please disable and re-enable / disable the IEC alerts you are interested in, in order for the latest patch to be effective. A new build is going to be available in a couple of hours

[2022-07-19 09:59] MatteoBiscosi commented on #6410
Implemented, pro repo

[2022-07-19 10:23] MatteoBiscosi commented on #6109
Implemented; available in the latest version, pro repo

[2022-07-19 10:23] #6109 closed, assigned to MatteoBiscosi

[2022-07-19 12:07] martinscheu commented on #6787
great, thanks @cardigliano !

[2022-07-19 15:14] sergico commented on #6787
Hi, thanks for the suggestion. Will try it and let you know asap

[2022-07-19 16:00] sergico commented on #6787
I confirm that renaming the interface solved the issue
here the new `ip link` output

[code]

I renamed the iface `enx64c901ea6876` to `usbc0` and now it is corretly displayed into the interface list drop-down menu
thanks for the support

[2022-07-19 16:02] cardigliano commented on #6787
If you update the software, also the old interface name enx64c901ea6876 should be recognized. Thank you.

[2022-07-19 16:02] #6787 closed, assigned to cardigliano

[2022-07-19 23:43] 61swong opened #6788 "'flow exporter' column is missing in historical flows"
**Environment**:
* OS name: RHEL
* OS version: 7.9
* Architecture: x86_64
* ntopng version/revision: v5.5.220718

**What happened**:
'flow exporter' column is missing in historical flows when 'flow exporter' is selected in 'show column' list.

**What did you expect to happen?**
I expect the 'flow exporter' column is shown in historical flows when 'flow exporter' is selected in 'show column' list.

[2022-07-20 07:38] cardigliano commented on #6785
Unable to reproduce with the same configuration. We are scheduling a remote session to debug this.

[2022-07-20 08:21] MatteoBiscosi commented on #6788
Hi @61swong thanks for your report, the issue should now be fixed. A new build should be available in 4/5 hours at most

[2022-07-20 10:45] MatteoBiscosi commented on #6144
Checks implemented as requested
![Screenshot from 2022-07-20 12-44-57](https://user-images.githubusercontent.com/49585191/179963739-2508d58a-63cd-4508-ae6a-90f0d909cd72.png)

[2022-07-20 20:55] lucaderi opened #6789 "Error during search"
Searching a MAC (e.g. D2:39:EA:2D:90:F9) with the current version produces a bug
![Screen Shot 2022-07-20 at 22 54 09](https://user-images.githubusercontent.com/4493366/180080271-a2aa98fe-28b5-42f9-ba7e-8e8caa84ad29.png)

This happens when you enter a MAC that was not found and you type enter

[2022-07-20 21:30] MatteoBiscosi commented on #6789
Fixed pro repo

[2022-07-21 05:23] 61swong commented on #6788
Hi @MatteoBiscosi thanks for the fix but I found the column disappeared when I clicked on the column header to sort the rows. The column disappeared too if I set a filter with one of the exporter's IP address.

[2022-07-21 08:46] MatteoBiscosi commented on #6483
The issue is not fixed

[2022-07-21 09:05] MatteoBiscosi commented on #6788
Hi @61swong unfortunately i don't think it's going to disappear both jump on the "+" section.
![Screenshot from 2022-07-21 11-02-55](https://user-images.githubusercontent.com/49585191/180175157-2c355abb-b6c8-4c12-8e67-b62a77979f52.png)
I suggest on taking a look at it. We are not able to fix this issue at the current time (it's a problem of a library we use).
Please let me know

[2022-07-21 16:00] martinscheu commented on #6682
yes, it is ok now, when disabled it does not issue alerts anymore.
if you please could update the Check description to:
Trigger an alert when a high rate of command to command IEC transitions are detected
And then close the ticket :)
Thanks @MatteoBiscosi !

[2022-07-21 21:08] lucaderi opened #6790 "Invalid protocol page"
starting ntopng -i dns.pcap

[dns.pcap.gz](https://github.com/ntop/ntopng/files/9162782/dns.pcap.gz)

and clicking on

![image](https://user-images.githubusercontent.com/4493366/180315288-fd2859ed-1ef7-4582-bbca-ac1a451c8d24.png)

we jump into an invalid page
![Screen Shot 2022-07-21 at 23 07 42](https://user-images.githubusercontent.com/4493366/180315435-5b265faf-0665-4c2f-950b-e38bdcd5a367.png)

[2022-07-21 21:10] lucaderi commented on #6789
Ummmm
![Screen Shot 2022-07-21 at 23 09 08](https://user-images.githubusercontent.com/4493366/180315651-9b9af49a-f695-4e93-9c96-8e5bce49c7c7.png)
The error has been fixed but this result displays a message whose meaning is hard to understand. What do you wanna say that this MAC is not found or that there is a SNMP problem with it?

[2022-07-21 21:12] lucaderi commented on #6755
Verified as fixed

[2022-07-21 21:12] #6755 closed, assigned to cardigliano

[2022-07-22 04:42] 61swong commented on #6788
Hi @MatteoBiscosi thanks for your update. I figured out my screen isn't wide enough to show the selected columns and therefore the 'flow exporter' column seemed to be hidden. I zoom-out and found it now and be able to sort it by clicking the column header 'flow exporter' or filter with the flow exporter ip. Sorry for misleading you by my last test result.

[2022-07-22 04:42] #6788 closed, assigned to MatteoBiscosi

[2022-07-22 13:43] lucaderi commented on #6773
@jacoporusso-css Can you please share a short pcap with HTTP_Connect we can use to reproduce the issue?

[2022-07-22 13:52] uber99 opened #6791 "Error message when searching for ip"
Security Issues:
- Please disclose security related issues privately to https://www.ntop.org/support/need-help-2/contact-us/

Pre-Submit Checklist: (check applicable sources for existing issues)
  - [Github Issues](https://github.com/ntop/ntopng/issues?q=is%3Aissue+label%3Abug+)
  - [FAQs](https://www.ntop.org/support/documentation/faq/)
-->
![Screenshot 2022-07-22 145147](https://user-images.gith

[2022-07-22 13:56] cardigliano commented on #6791
@uber99 ntopng 5.0 is no longer supported, please update to 5.4 and reopen this issue if you are still able to reproduce it. Thank you.

[2022-07-22 13:56] #6791 closed, assigned to nobody

[2022-07-22 14:03] uber99 commented on #6791
Thanks, I have ran this command up still wont update
pkg add https://packages.ntop.org/FreeBSD/FreeBSD:11:amd64/latest/ntop-1.0.txz

is there command for updating versions ?

[2022-07-22 14:29] cardigliano commented on #6791
@uber99 FreeBSD 11 is no longer supported, please move to 12 or 13

https://packages.ntop.org/FreeBSD/

[2022-07-22 14:38] MatteoBiscosi commented on #6682
Thanks @martinscheu , the description is updated like you suggested and will be available in the next update

[2022-07-22 14:38] #6682 closed, assigned to MatteoBiscosi

[2022-07-22 16:12] cardigliano commented on #6786
This seemed to be due to a partial use of the index column (FIRST_SEEN) in range queries. The pro commit ae31e4eaf8720e0f724cb23acd86cea3ca78465f has improved the performance.

[2022-07-22 16:12] #6786 closed, assigned to nobody

[2022-07-25 06:57] gianogli commented on #6702
@cardigliano ... After 10 days the new stable version of ntopng is still up and running so I think we can close this issue and mark it as solved. If I'll have new issues/crashes I'll open a new one.
Thanks for your great support... ;-)

[2022-07-25 06:57] #6702 closed, assigned to nobody

[2022-07-25 07:28] cardigliano commented on #6750
@martinscheu can you please comment more on this?

[2022-07-25 08:02] MatteoBiscosi commented on #6578
Hi @Taralas I'm running a vm with opnsense and ntopng latest version. The error seems to be fixed. Please reopen the ticket if this is going to pop up again in your case

[2022-07-25 08:02] #6578 closed, assigned to MatteoBiscosi

[2022-07-25 09:54] MatteoBiscosi commented on #6771
Implemented as requested; now in both flow exporter and in/out if indexes, in CH page, there is a dropdown with interfaces and flow exporters label (the same for both live and historical flows)

[2022-07-25 09:54] #6771 closed, assigned to MatteoBiscosi

[2022-07-25 10:00] cardigliano opened #6792 "ntopng hangs on host_sites_update.dailyUpdateRedisHostSites"
ntopng hangs during the startup for 10+ minutes while running pro/scripts/callbacks/system/startup.lua
which is calling host_sites_update.dailyUpdateRedisHostSites()
It is requested to check what is actually taking all this time.

[2022-07-25 15:55] ltkojak opened #6793 "Live Flows no longer functioning after update"
**Environment**:
* OS name: FreeBSD
* OS version: 12.3
* Architecture: amd64
* ntopng version/revision: 5.5.220725

**What happened**:

After updating to new version - live flows no longer display.

**How did you reproduce it?**

Anytime I choose a specific host and go to LiveFlow it shows as blank.

When I navigate to Flows -> Live Flows the live flows do display.

**Debug Information**:

[2022-07-25 16:11] lucaderi opened #6794 "Collect Asset Management Information"
ntopng does not store asset information persistently. This is to request ntopng tp be enhanced to start collecting this information that includes
- operating system
- browser information
- NTP, DNS, SMTP, POP/SMTP
- asset type
- MAC Address

[2022-07-26 08:43] MatteoBiscosi commented on #6793
Hi @ltkojak i tried on a FreeBSD 12 but everything seems working fine, which ntopng version do you have, community or not? and do you have some errors in the ntopng logs?

[2022-07-26 12:57] ltkojak commented on #6793
Hi @MatteoBiscosi

My apologies for not including that in my initial post.

ntopng version/revision: 5.5.220726 CE (Installed new version today and problem still persists.)

The error I did see in the ntopng.log when attempting to go to a specific host's live flow:

26/Jul/2022 08:55:45 [LuaEngine.cpp:1254] WARNING: Script failure [/usr/local/share/ntopng/scripts/lua/get_flows_data.lua][/usr/local

[2022-07-27 08:57] MatteoBiscosi commented on #6793
Hi @ltkojak a new build should be available in a couple of hours, please update after that and let me know

[2022-07-27 11:58] lucaderi commented on #6789
Verified as fixed

[2022-07-27 11:58] #6789 closed, assigned to MatteoBiscosi

[2022-07-27 13:29] ltkojak commented on #6793
@MatteoBiscosi

The new build 5.5.220727 appears to have resolved it.

Thanks!!!

[2022-07-27 14:20] MatteoBiscosi commented on #6704
The issue should now be fixed (tested on both vlan and probe ip). Please reopen if needed.
![Screenshot from 2022-07-27 16-17-11](https://user-images.githubusercontent.com/49585191/181271189-42bd96f0-682e-41f7-8788-c77178295942.png)

[2022-07-27 14:20] #6704 closed, assigned to MatteoBiscosi

[2022-07-27 14:22] txurrispo opened #6795 "NPROBE not find installing NTOPNG on Raspberry PI 4."
Hi!!!

I have a problem triying to install NTOP on a Raspberry PI 4 Bullseye, updated to 27/07/2022

When I try to do the install from the instructions :
wget https://packages.ntop.org/RaspberryPI/apt-ntop_1.0.190416-469_all.deb
sudo dpkg -i apt-ntop_1.0.190416-469_all.deb
sudo apt-get update

sudo apt-get install ntopng nprobe n2n

Reading package lists... Done
Building dependency tree... Done
Re

[2022-07-27 14:38] lucaderi commented on #6795
Please do apt-get update first and try again

[2022-07-27 14:45] txurrispo commented on #6795
Thanks for the answer.

$ sudo apt update
Hit:1 http://raspbian.raspberrypi.org/raspbian bullseye InRelease
Hit:2 http://archive.raspberrypi.org/debian bullseye InRelease
Hit:3 https://packages.ntop.org/apt/bullseye_pi armhf/ InRelease
Hit:4 https://packages.ntop.org/apt/bullseye_pi all/ InRelease
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
All

[2022-07-27 15:37] lucaderi opened #6796 "Check for Detecting Flows on Blacklisted Server Ports"
This ticket is to request the implementation of a new check that takes as input a numerical list of blacklisted (i.e not allowed ports) and triggers and alerts whenever a flow towards one destination port listed is detected.

Example, if the list contains ports 22, all flows towards port 22 will trigger an alert.

[2022-07-27 15:46] lucaderi opened #6797 "Implement MAC appear/disappear check based on SNMP"
Similar to  "Unexpected Device Connected" that is based on network traffic and "MAC Detection" on SNMP, implement a similar check for SNMP only that
- uses the same MAC list used by https://github.com/ntop/ntopng/issues/6192
- the check is bound to ALL SNMP devices (i.e. the check is not per device but global)
- for all active MACs (found with the bridge MIB) an alert is triggered is a MAC that is

[2022-07-27 16:54] lucaderi opened #6798 "Add filter to hide specific SNMP Interfaces"
Some Interface names should be hidden (e.g. Null...) based on the start of their name.

This ticket is to request to implement a preference that contains a set of interface name prefixes, that should be skept during SNMP walking, display and timeseries.

[2022-07-28 08:10] MatteoBiscosi opened #6800 "Trigger an alert when a MAC disconnects from the Network/SNMP"
**What would you like to add or change?**:
Add a new check that's going to be triggered when a MAC disconnects (removed from ntopng, so, no more seen for a period of time) from both Network or SNMP.

**Why do you and others need this?**:
In a closed network, devices should always be the same (both up and down) so no connection nor disconnection should be seen in a network like that.

(Depends on #

[2022-07-28 08:13] MatteoBiscosi opened #6801 "Implement MAC Connection/Disconnection GUI"
**What would you like to add or change?**:
Add a GUI to the management of allowed / disallowed list for the MAC Connection/Disconnection check.
Add the possibility to allow/deny a MAC inside a network and trigger the alert when a denied MAC is seen on the network (a table similar to the Service Map one).

**Why do you and others need this?**:
In order to have a manageable GUI where a white list /

[2022-07-28 08:16] MatteoBiscosi commented on #6192
Depends on #6800 #6801

After internal review we decided to change the check in the following way:
The alert is going to be an engaged alert, until the MAC disappears from the network or it's put as "allowed" MAC.
A new GUI is going to be implemented, adding the possibility to manage the allow / disallow / white list thing.
Other then that no learning period is going to be put in this alert

[2022-07-28 08:46] txurrispo commented on #6795
Any news?

[2022-07-28 14:28] AnhTuanNguyenn opened #6802 "Get name's device connected VPN in flows/history flows"
**What would you like to add or change?**:
If not my mistake, can you please add feature for next version pls ?

**Why do you and others need this?**:

I have someone remote working, they connected by VPN and when i check in live flows or history flows i can't see their device name, i can only see their ip now.

Hope you can go this point for next version :)

regard,

[2022-07-28 15:17] lucaderi commented on #6802
This is implemented only with Fortinet VPN log integration

[2022-07-28 15:17] #6802 closed, assigned to nobody

[2022-07-28 15:17] #6793 closed, assigned to MatteoBiscosi

[2022-07-28 15:41] mzac commented on #1719
@lucaderi Any thoughts if this could be implemented?  The issue is 4 years old but still a very good idea!

[2022-07-29 05:37] 61swong opened #6803 "custom category name wasn't shown under host > app > category tab > table"
**Environment**:
* OS name: RHEL
* OS version: 7.9
* Architecture: x86_64
* ntopng version/revision: 5.5.220729

**What happened**:
The original name of the 'user custom category x' is shown under host > app > category tab > table.

**How did you reproduce it?**
Anytime. 'Restarting ntopng' doesn't help.

**Debug Information**:
![host-app-category-tab-table](https://user-images.githubusercontent.c

[2022-07-29 08:43] Falconcrest opened #6804 "Problem with apt update / apt upgrade on Raspberry Pi"
Linux ntopng 5.15.32-v8+ #1538 SMP PREEMPT Thu Mar 31 19:40:39 BST 2022 aarch64 GNU/Linux
PRETTY_NAME="Debian GNU/Linux 11 (bullseye)"
NAME="Debian GNU/Linux"
VERSION_ID="11"
VERSION="11 (bullseye)"
VERSION_CODENAME=bullseye
ID=debian
ntopng Professional v.5.5.220717
Raspberry Pi 3 Model B Plus Rev 1.3

When I run apt-get update I get the following error messages:

pi@ntopng:~ $ sudo apt-get updat

[2022-07-29 09:17] txurrispo commented on #6795
Hi!!!!

Today not find NPROBE and not find NTOPNG

$  sudo apt update
Get:1 https://packages.ntop.org/apt/bullseye_pi all/ InRelease [2,153 B]
Get:2 https://packages.ntop.org/apt/bullseye_pi armhf/ InRelease [2,155 B]
Get:3 https://packages.ntop.org/apt/bullseye_pi all/ Packages [449 B]
Get:4 https://packages.ntop.org/apt/bullseye_pi armhf/ Packages [1,614 B]
Get:5 http://archive.raspberrypi.org/d

[2022-07-29 09:40] cardigliano commented on #6804
Please reinstall the apt-ntop package from https://packages.ntop.org as reported in this FAQ https://www.ntop.org/support/faq/howto-update-gpg-package-signing-keys/

[2022-07-29 10:26] Falconcrest commented on #6804
I should have read better... 😉
I first tried reinstalling following this guide...

-------------------------------
Raspberry Raspbian Instructions
Type the following commands in your shell:

[code]
------------------------------
...but that didn't work, gave the same errors.
Then I chose this path...

------------------------------
Debian 11 (Bullseye)

Before to install make sure to edit /etc/apt

[2022-07-29 12:44] cardigliano commented on #6804
@Falconcrest I didn't realize you were using the RaspberryPI repo, let us check it

[2022-07-29 12:46] cardigliano commented on #6804
This seems to be a duplicate of #6795

[2022-07-29 12:46] #6804 closed, assigned to lucaderi

[2022-07-30 17:22] tusc opened #6805 "Missing CSS sheets in 5.4 build for UDM Pro"
**Environment**:
* OS name: Ubuntu within DOCKER
* OS version: 22.04
* Architecture: arm64
* ntopng version/revision: 5.4.220730-18180

**What happened**:
I maintain the port of ntopng forthe Ubiquiti series of routers (UDM/UDM Pro) located here: https://github.com/tusc/ntopng-udm

I've been trying to update to the latest stable release of ntopng, 5.4. I've been able to build the packages without

[2022-07-30 19:58] tusc commented on #6805
Something has changed with this version. In the prior release which was running fine, the css directory was fully populated:

[code]

Now in the 5.4 release, there are just two files. Did I miss a step during the build process?

[code]

[2022-07-31 20:29] tusc commented on #6805
Further troubleshooting, the httpdocs/dist folder in the built deb package is completely empty. I copied the contents of this folder from the official docker x64 image and now the web pages work properly.

Am I missing a step in the build process to populate the dist folder?

[2022-08-01 02:31] PaoGRodrigues opened #6806 "bad argument #4 to 'format' (number expected, got nil)"
**Environment**:
* OS name: Raspbian
* OS version: GNU/Linux 10
* Architecture: armv7l
* ntopng version/revision: 5.3.220306

**What happened**:
I am trying to get the list of alerts via the Rest API. I followed [this documentation](https://www.ntop.org/guides/ntopng/api/rest/api_v2.html#request-format):

<img width="656" alt="imagen" src="https://user-images.githubusercontent.com/22753936/1820604

[2022-08-01 05:49] skore-onclave opened #6807 "ntopng not connecting to mysql"
**Environment**:
* OS name: [Ubuntu]
* OS version: [18.04]
* Architecture: [amd64]
* ntopng version/revision: [5.4]

**What happened**:
- Not connecting to WEB GUI
- Not connecting to mysql

**How did you reproduce it?**

**Debug Information**:

**ntopng.conf**
[code]

**ntopng startup log**
[code]

[2022-08-01 06:14] txurrispo commented on #6795
HI @cardigliano

Whi is closed? today doesnt work too??
It not the same error than the https://github.com/ntop/ntopng/issues/6804.....

Regards.

[2022-08-01 07:10] cardigliano commented on #6795
@txurrispo this is not closed, it's some issue related to the bullseye_pi/armhf repo that we need to check as we made some change with the repo due to the GPG keys change

[2022-08-01 07:16] MatteoBiscosi commented on #6805
Hi @tusc , we started migrating the GUI to a client side app (using Vue). For this reason we did an other repository on github (https://github.com/ntop/ntopng-dist) and here you can find all the css you need and the js, so you need to add this repo into the ntopng folder `httpdocs` and rename it `dist`.
We automatically do this when running the `autogen.sh`

matteo@matteo-Precision-3541:~/ntopng/h

[2022-08-01 07:25] MatteoBiscosi commented on #6806
Hi @PaoGRodrigues, sorry the rest is right, but you miss the begin_epoch and end_epoch parameters. It's not reported in the documentation, I'm gonna fix that.
This is an example of the request you need:
`curl -u admin:admin -H "Content-Type: application/json" -v 'http://localhost:3000/lua/rest/v2/get/all/alert/list.lua?ifid=1&epoch_begin=1659336692&epoch_end=1659338492'`

[2022-08-01 07:38] MatteoBiscosi commented on #6806
A new version of the documentation should be updated and available soon
![Screenshot from 2022-08-01 09-35-48](https://user-images.githubusercontent.com/49585191/182097677-32b9613e-322d-46fa-a62d-50f82be7a6ae.png)

[2022-08-01 07:58] MatteoBiscosi commented on #6803
Hi @61swong, like usual thanks for your reports. A new build should be available in a couple of hours, please update after that and let me know, the issue should be fixed

[2022-08-01 09:16] txurrispo commented on #6795
Ok, thanks for all your work!!!!!

[2022-08-01 10:47] skore-onclave commented on #6807
I'm not sure if it's executing this code or not https://github.com/ntop/ntopng/blob/5.4-stable/src/Prefs.cpp#L1440

[2022-08-01 10:49] skore-onclave commented on #6807
I tried with `-F` option as well `sudo ntopng -F "mysql;127.0.0.1@3306;ntopng;ntopng;ntopng"`
In this log I don't see anything being called for MySQL connection.

**Satrtup log:**
[code]

[2022-08-01 13:29] tusc commented on #6805
Matteo, thanks!

I believe that is the issue. I did notice during the autogen.sh process there were some failures:

[code]

It appears I was missing ca-certificates package on the debian build container. After installing this package, the autogen.sh completed without issue. I'm going to close this issue.

[code]

[2022-08-01 13:29] #6805 closed, assigned to nobody

[2022-08-01 15:38] cardigliano opened #6808 "Add Exporter and Interface info to Flow Alerts"
It is requested to add the Exporter address and the Exporter Interface information to Flow alerts, in case of flows collected with ZMQ.
Please note that on clickhouse those fields should be already present in the Flow table and should be added to the view. On SQLite they have to be added to the alert information instead.

[2022-08-01 15:40] cardigliano opened #6809 "Get Flow Alert per Exporter Interface"
After implementing #6808, it is requested to add the ability to filter Flow Alerts per Exporter Interface. This should be available also through a simple REST API call (if the one used by the explorer works only for the ntopng datatables).

[2022-08-01 15:40] lucaderi opened #6810 "Integrate Microsoft Active Directory"
As with other integrations, this is to request to add the ability to bind users/systems to network traffic. A possible solution is to use a solution similar to [nxlog](https://nxlog.co)

[2022-08-01 15:42] cardigliano opened #6811 "Augment Exporter Interface statistics and timeseries"
It is requested to improve the timeseries for the Exporter Interfaces, by extending the statistics currently available (they now include bytes only), to also include protocol statistics.

[2022-08-01 16:49] cardigliano commented on #6555
@martinscheu is this still an open issue?

[2022-08-01 16:50] #6295 closed, assigned to cardigliano

[2022-08-01 16:52] #6739 closed, assigned to cardigliano, uccidibuti

[2022-08-02 04:17] 61swong commented on #6803
Hi @MatteoBiscosi, following the upgrade to the latest release, I found the issue still exists. Please see attached the screenshot.

![host-app-category_tab-table](https://user-images.githubusercontent.com/50309519/182290679-61867807-3cdd-45c3-971f-d55496dd2cb4.png)

[2022-08-02 07:06] cardigliano commented on #6807
@skore-onclave I pushed a software update for this, please apt-get update && apt-get upgrade and let us know

[2022-08-02 09:01] MatteoBiscosi commented on #6811
Already available, Enterprise version required

[2022-08-02 09:01] #6811 closed, assigned to nobody

[2022-08-02 09:20] #6498 closed, assigned to cardigliano

[2022-08-02 11:47] skore-onclave commented on #6807
@cardigliano FYI: I'm building a ntopng package from the 5.4-stable source, in that case, does it requires any additional steps for building the package to get it working with MYSQL?

[2022-08-02 15:37] #6806 closed, assigned to nobody

[2022-08-02 15:39] cardigliano commented on #6807
@skore-onclave I pushed an update for the stable too

[2022-08-02 15:42] skore-onclave commented on #6807
@cardigliano Thanks, so if I rebuild the package with a **5.4-stable branch** it should fix the issue, right?  Or are there any additional steps I would require?

[2022-08-02 15:48] cardigliano commented on #6807
Correct, please try and let me know

[2022-08-02 16:12] PaoGRodrigues commented on #6806
Thanks for your answer @MatteoBiscosi.

[2022-08-02 16:24] cardigliano commented on #6756
Closing for inactivity

[2022-08-02 16:24] #6756 closed, assigned to nobody

[2022-08-02 16:25] cardigliano commented on #6482
Reopen if still able to reproduce, providing more info

[2022-08-02 16:25] #6482 closed, assigned to nobody

[2022-08-02 16:29] MatteoBiscosi commented on #6803
Could you please try to update again? Has you can see, the label should be right now (Custom Test is custom category 2, but renamed)
![image](https://user-images.githubusercontent.com/49585191/182425490-e9c64d4a-46a8-47bf-ab32-0eedc07757f6.png)
![image](https://user-images.githubusercontent.com/49585191/182425829-13f329a2-c362-4986-ab9b-19bd28eb6735.png)

[2022-08-02 16:31] cardigliano commented on #6625
@martinscheu are you still able to reproduce this?

[2022-08-02 17:22] skore-onclave commented on #6807
@cardigliano
[code]

[2022-08-02 18:34] skore-onclave commented on #6807
@cardigliano Worked with MYSQL 5.7, Thanks :)

[2022-08-03 05:17] 61swong commented on #6803
Hi @MatteoBiscosi I tried to run the 'check for update' via the web gui and it didn't update for me. Finally I updated the package via command line and have it (ntopng Enterprise M v.5.5.220802 rev.18189) running. When I browsed a host > app > category tab, the table still shows the original name instead of the new name. I restarted the service a few times and it is still the same. Please let me k

[2022-08-03 06:23] skore-onclave commented on #6807
@cardigliano I got it working with MYSQL 5.7, with MYSQL 8.0 I have
[code]

[2022-08-03 07:05] cardigliano commented on #6807
Good to know this is working. As of the MySQL 8 issue, this seems a linking issue, please open an issue if you experience the same with our packages.

[2022-08-03 07:05] #6807 closed, assigned to nobody

[2022-08-04 05:05] 61swong commented on #6803
Hi @MatteoBiscosi I updated ntopng to v.5.5.220804 rev.18199 and the issue still exists.
![host-app-category_tab-table](https://user-images.githubusercontent.com/50309519/182767191-af10c746-b631-4dde-b47e-bf2b4fa33ad9.png)

[2022-08-04 09:05] MatteoBiscosi commented on #6172
Implemented as requested

[2022-08-04 09:05] #6172 closed, assigned to uccidibuti, MatteoBiscosi

[2022-08-04 09:06] MatteoBiscosi commented on #6720
Implemented as requested

[2022-08-04 09:06] #6720 closed, assigned to MatteoBiscosi

[2022-08-04 09:06] MatteoBiscosi commented on #6790
Verified as fixed

[2022-08-04 09:06] #6790 closed, assigned to MatteoBiscosi

[2022-08-04 09:46] #6410 closed, assigned to MatteoBiscosi

[2022-08-04 09:46] MatteoBiscosi commented on #6668
Implemented as requested

[2022-08-04 09:46] #6668 closed, assigned to MatteoBiscosi

[2022-08-04 09:46] MatteoBiscosi commented on #6465
Implemented as requested

[2022-08-04 09:46] #6465 closed, assigned to MatteoBiscosi

[2022-08-04 09:47] MatteoBiscosi commented on #6144
Implemented as requested, available only from Enterprise M

[2022-08-04 09:47] #6144 closed, assigned to MatteoBiscosi

[2022-08-05 14:53] #6784 closed, assigned to nobody

[2022-08-05 15:57] cardigliano commented on #6734
I confirm this is fixed

[2022-08-05 15:57] #6734 closed, assigned to uccidibuti

[2022-08-05 23:54] xvegax commented on #6804
I have the same problem with my PI x64:

Hit:1 http://deb.debian.org/debian buster InRelease
Hit:2 http://deb.debian.org/debian-security buster/updates InRelease
Get:3 http://deb.debian.org/debian buster-updates InRelease [56.6 kB]
Hit:4 https://download.docker.com/linux/debian buster InRelease
Get:5 http://archive.raspberrypi.org/debian buster InRelease [32.6 kB]
Get:6 https://packages.ntop.org/a

[2022-08-08 03:16] 61swong commented on #2295
Whilst looking for option to automate the WAN report monthly, I found this issue still open and wonder if it is still on the 'enhancement' list. As an end user, we are interested in the weekly and monthly report as a review to the WAN usage and pattern change in case of unexpected change in the routing or backup job schedule.

[2022-08-08 06:35] FumiyukiKato commented on #6795
I got the same problem on newer version `https://packages.ntop.org/RaspberryPI/apt-ntop.deb` update at 2022/08/02.

[2022-08-08 14:05] susl16c opened #6812 "how do I add my translation ?"
Can you create a file for Russian ?

[2022-08-08 15:56] cardigliano commented on #6812
Please take a look at https://github.com/ntop/ntopng/tree/dev/scripts/locales
Adding a translation is as easy as creating a new file ru.lua

[2022-08-09 06:56] susl16c commented on #6812
I create a file there, but it doesn't appear, can you help me with that, so that it appears there and I can gradually translate it?

[2022-08-10 08:57] lucaderi commented on #6772
In a multi-user environment, users can have restrictions in terms of the hosts they can view. If we enable historical flows we have the problem that we cannot honour this setting, so I am against this ticket. Probably what we need to do is to create another type of non-admin user with access to historical data

[2022-08-10 09:25] MatteoBiscosi commented on #6800
Network part is implemented, now the SNMP part needs to be implemented

[2022-08-10 20:05] martinscheu opened #6813 "Extend search for JA3 and community ID"
**What would you like to add or change?**:
Extend current search for JA3 client and server hash as well as the community ID.
Thanks !

**Why do you and others need this?**:

[2022-08-12 08:48] gianlucapiccolo opened #6814 "Flows not written to ClickHouse"
**Environment**:
* OS name: RHEL
* OS version: 8.6
* ntopng version/revision: 5.4.220804-18199

**What happened**:
I configured ClickHouse flows dump but the table flows remains empty. Only alerts tables are populated.

**How did you reproduce it?**
1. Install and configure nprobe to send flows to ntopng
2. Install and configure ClickHouse
3. Follow the procedure https://www.ntop.org/guides/ntopng

[2022-08-12 12:03] dontqwerty opened #6815 "Custom CSS file does not load"
**Environment**:
* OS name: RHEL
* OS version: 8.6
*  Architecture: x86_64
* ntopng version/revision: 5.4.220812-18220

**What happened**:
The custom CSS file does not load.

**How did you reproduce it?**
1. Place the custom CSS file under `/etc/ntopng/custom_theme.css` as documented [here](https://www.ntop.org/guides/ntopng/advanced_features/oem.html#oem-customizations)
2. Restart ntopng with `sy

[2022-08-12 16:41] lucaderi commented on #6814
Can you please attach a short pcap (template+flows) captured on port 6363 for inspection?

[2022-08-15 06:00] atemix opened #6816 "No health status indicator in influxdb monitor"
CentOS Stream release 8
ntopng Enterprise L v.5.4.220812

No health indicator on status page:

![image](https://user-images.githubusercontent.com/67421019/184584044-21cf1eda-0ac1-42b7-9976-4b43c6a5158a.png)

[2022-08-15 08:58] lucaderi opened #6817 "Using Hostnames in SNMP Filters in Historical Flows"
![image](https://user-images.githubusercontent.com/4493366/184606597-10e3ad41-23a1-4695-a8b9-0c3e30cde2d3.png)

Please map the host IP to the host name as it happens in the historical flows

[2022-08-16 11:19] cardigliano commented on #6817
<img width="710" alt="Screen Shot 2022-08-16 at 13 17 14" src="https://user-images.githubusercontent.com/7548711/184867411-279ed4fa-150b-46a5-a082-94e2a9d47d68.png">

[2022-08-16 12:49] lucaderi opened #6818 "Broken SNMP Interface filtering"
![image](https://user-images.githubusercontent.com/4493366/184883365-ed6c1fe2-e002-42a9-9355-9a98f6c1b34d.png)

[2022-08-16 13:35] lucaderi opened #6819 "SNMP Information Missing from Historical Flows"
![Screen Shot 2022-08-16 at 15 33 36](https://user-images.githubusercontent.com/4493366/184892585-fa10f620-2890-46d5-8060-d044ea368b35.png)

![Screen Shot 2022-08-16 at 15 33 27](https://user-images.githubusercontent.com/4493366/184892601-ff57ff41-52c6-4207-83cd-f1bb21f04352.png)

In the historical flows, under 'info' ntopng MUST display all the available information.

See also #6820

[2022-08-16 13:49] lucaderi opened #6820 "SNMP Information Missing from Live Flows"
Flow list (interface is present)
![Screen Shot 2022-08-16 at 15 47 52](https://user-images.githubusercontent.com/4493366/184895766-24f34191-8317-49ca-aad4-04cc872cef12.png)

Flow info (interface is missing)
![Screen Shot 2022-08-16 at 15 46 57](https://user-images.githubusercontent.com/4493366/184895610-e59a1dc1-1f81-4671-9ded-95d2ac085a79.png)

See also #6819

[2022-08-16 14:48] jufy111 commented on #3764
I'm in the same vote, my InfluxedDB (2.x) is set up to handle the V1 API, but I get the "Incompatible InfluxDB version: required "1.5.1", found "2.3.0". Please install an updated version from the official site." in the logs.

It appears that it doesn't try unless the major version of influxdb is 1.x.x. I believe I have isolated the function that occurs (see below), but I'm well aware that it may n

[2022-08-17 11:52] skore-onclave opened #6821 "The following packages have unmet dependencies: ntopng : Depends: libhiredis0.13 but it is not installable"
Environment:

OS name: [Ubuntu]
OS version: [Amazon EC2] and Ubuntu 20.04
AMI name: [debian-10-amd64-20220328-962]
Architecture: [amd64]
ntopng version/revision: [5.2]
What happened:

Installation log:

[code]

[2022-08-17 13:00] cardigliano commented on #6821
Please move to latest ntopng 5.4 (5.2 is no longer supported)

$ apt-cache depends ntopng | grep redis
  Depends: redis-server
  Depends: libhiredis0.14

[2022-08-17 13:00] #6821 closed, assigned to nobody

[2022-08-17 13:04] skore-onclave commented on #6821
@cardigliano Understood, but is there any workaround to resolve this issue? as we have some dependencies with 5.2

[2022-08-17 13:15] Niklasr69 opened #6822 "add exporter information in Alert information"
Add exporter information in alert page

![image](https://user-images.githubusercontent.com/26242302/185143363-21e8e0fa-d76f-4b32-a560-6a4bcdb17d81.png)

When you have lot of exporters, it should be very good to know from which exports the alert origin.
Save time

[2022-08-17 14:08] Niklasr69 commented on #6817
It works fine

[2022-08-17 14:18] #6817 closed, assigned to cardigliano

[2022-08-18 08:36] gianlucapiccolo commented on #6814
@lucaderi Here's the PCAP, please let me know if it is enough or if it is not as you expected. Many thanks.
[test-flow-pcap.zip](https://github.com/ntop/ntopng/files/9371900/test-flow-pcap.zip)

[2022-08-18 14:26] cardigliano commented on #6690
Process info are now displays in historical flows too with this patchset: c55bc1152416a44efdee51bd4ab9b6337186901e 6b8e16151bccb2f3b7cc2fb208481b3c88e73f4d 870e1d649734d20736e15c2214cdf4a904fee254

[2022-08-18 14:26] #6690 closed, assigned to cardigliano

[2022-08-18 16:06] dandare100 opened #6823 "High CPU Usage on Raspberry PI4"
**Environment**:
* OS name: Linux raspberrypi 5.15.56-v8+ 1575 SMP PREEMPT Fri Jul 22 20:31:26 BST 2022 aarch64 GNU/Linux
* OS version: 5.15.56
* Architecture: arm64
* ntopng version/revision: ntopng_5.5.220815-18228

**What happened**
I use ntopng to process NetFlows sent from a pFSense router.
Everything worked perfectly for many months.
It is a RPI4 with 8GB ram and nothing else running on it.

[2022-08-18 16:52] lucaderi commented on #6823
it seems ntopng is busy with behavioural checks. Have a look at flow alerts and see what is happening there.

[2022-08-18 17:28] dandare100 commented on #6823
Ok cool, thanks.
No alerts yet.
I tried disabling the behavioral checks and got this error
ntopng    | 18/Aug/2022 19:22:53 [toggle_all_checks.lua:54] [checks.lua:726] WARNING: Module 'tcp_issues_generic' is not associated to any known flow risk alert
ntopng    | 18/Aug/2022 19:22:53 [LuaEngine.cpp:1254] WARNING: Script failure [/usr/share/ntopng/scripts/lua/toggle_all_checks.lua][/usr/share/ntopn

[2022-08-19 04:46] Hedders opened #6824 "JSON syntax error in hosts_stats.lua"
**Environment**:
* OS name: Ubuntu
* OS version: 22.04
* Architecture: amd64
* ntopng version/revision: ntopng Community v.5.5.220818

**What happened**:
"SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data" when trying to view Hosts list from Menu -> Hosts -> Hosts

**How did you reproduce it?**
Menu -> Hosts -> Hosts

**Debug Information**:

SyntaxError: JSON.parse:

[2022-08-19 06:30] tramsach commented on #6795
same problem here

`
xxx@rpi:~ $ sudo apt-get update
Hit:1 http://download.zerotier.com/debian/bullseye bullseye InRelease
Hit:2 http://mirror.freedif.org/Raspbian/raspbian bullseye InRelease
Get:3 https://download.docker.com/linux/raspbian bullseye InRelease [26.7 kB]
Hit:4 http://archive.raspberrypi.org/debian bullseye InRelease
Hit:5 http://raspbian.raspberrypi.org/raspbian bullseye InRelease
G

[2022-08-19 13:43] cardigliano commented on #6824
@Hedders do you see any error in the service log? Please check "systemctl status ntopng" or "journalctl -u ntopng"

[2022-08-19 13:53] cardigliano commented on #6823
@dandare100 I tried clicking on Disable All or disabling individual tcp-related checks but I was unable to reproduce the same, where did you click exactly to get the above errors? Thank you.

[2022-08-19 16:51] Hedders commented on #6824
Hi, yes I do:

Aug 19 16:48:37 ubuntu-lenovo ntopng[1630600]: [LuaEngine.cpp:1254] WARNING: Script failure [/usr/share/ntopng/scripts/lua/get_hosts_data.lua][/usr/share/ntopng/scripts/lua/get_hosts_data.lua:49: attempt to index a string value (local 'h')]
Aug 19 16:48:37 ubuntu-lenovo ntopng[1630600]: 19/Aug/2022 16:48:37 [LuaEngine.cpp:1254] WARNING: Script failure [/usr/share/ntopng/scripts/lua/

[2022-08-19 17:53] cardigliano commented on #6824
I pushed some tracing to debug this, please update to tomorrow's build and provide the log again. Thank you.

[2022-08-19 19:39] Hedders commented on #6824
Thanks, I will do so once the build is out and will report back.

[2022-08-20 05:18] Hedders commented on #6824
Oddly this seem to have resolved itself in build v.5.5.220819 rev.18257. The Hosts list is now working normally.

[2022-08-20 19:16] dandare100 commented on #6823
@cardigliano

Hello

From

https://packages.ntop.org/RaspberryPI/bullseye_pi/arm64/ntopng/ntopng_5.5.220815-18228_arm64.deb

Fresh install with following config :
![image](https://user-images.githubusercontent.com/5639208/185762715-4035e9ab-4627-43ec-8c6d-4de76baece44.png)

I click here
Settings, Behavioural Checks

![Capture4](https://user-images.githubusercontent.com/5639208/185762785-b5a88ac0-5

[2022-08-22 07:21] cardigliano commented on #6824
Ok great, however it is likely you have messages in your service log reporting some failures which are now handled, please report them in case.

[2022-08-22 09:42] #6824 closed, assigned to nobody

[2022-08-22 09:42] cardigliano commented on #6824
Nevermind, I was able to reproduce, debug and fix this

[2022-08-22 09:55] MatteoBiscosi commented on #6816
Hi @atemix, in the latest ntopng all the stats should be right, please update in a couple of hours and let me know

[2022-08-22 10:09] MatteoBiscosi commented on #6815
Hi @dontqwerty a new build should be available in a couple of hours, please update and let me know. Yes, the error was simply because, instead of loading custom-theme from css folder, ntopng was trying to load from the dist folder; after the update, ntopng is going to load it from the css folder

[2022-08-22 10:14] MatteoBiscosi commented on #6792
Currently verified as fixed, please reopen if needed

[2022-08-22 10:14] #6792 closed, assigned to MatteoBiscosi

[2022-08-22 13:11] cardigliano commented on #6823
@dandare100 I tried reproducing this with ntopng_5.5.220821-18259_arm64.deb but I was not able to get the same, please try updating and let me know. What license are you running?

[2022-08-22 13:13] cardigliano commented on #6812
@susl16c in order to test a new language file, please add it to the list at the beginning of scripts/lua/modules/locales_utils.lua

[2022-08-22 13:14] #6812 closed, assigned to nobody

[2022-08-22 13:30] Hedders commented on #6824
Thank you and sorry for the slow response - work got in the way!

[2022-08-22 14:02] AnhTuanNguyenn commented on #6625
i have same pb too on version ntopng [ntopng Enterprise M v.5.5.220727 (FreeBSD 12.2)]
clickhouse version 22.4.5.9
and once more too:
[code]

[2022-08-22 14:25] dandare100 commented on #6823
I installed ntopng_5.5.220821-18259_arm64.deb

If I start it with the following config

-i="tcp://goflow:5556"
--local-networks="192.168.8.0/24,192.168.50.0/24,192.168.60.0/24,192.168.70.0/24,192.168.80.0/24,10.201.0.0/24"
--community
-n=3

the error happens

If I start ntopng with no config specified (defaults) the error does not happen. (while it's running in enterprise mode)

Could it have some

[2022-08-22 14:44] #6808 closed, assigned to cardigliano

[2022-08-22 17:23] atemix commented on #6816
@MatteoBiscosi Thx, it works.

[2022-08-23 08:55] cardigliano commented on #6823
@dandare100 please update to today's package, you should be able to disable the checks now

[2022-08-23 09:11] #6816 closed, assigned to MatteoBiscosi

[2022-08-23 09:12] #6801 closed, assigned to MatteoBiscosi

[2022-08-23 12:42] MatteoBiscosi commented on #6803
Hi @61swong can you find the user custom category 1 and 3 name in the category list?
![Screenshot from 2022-08-23 14-40-49](https://user-images.githubusercontent.com/49585191/186160635-a35d3b21-19d3-41de-94f9-7aa015ed238b.png)
If yes, then please edit them and rename them.
Please let me know

[2022-08-23 12:59] MatteoBiscosi commented on #6781
Closing for inactivity. In the latest ntopng version everything seems normal. Please re-open if needed
![Screenshot from 2022-08-23 14-58-56](https://user-images.githubusercontent.com/49585191/186164104-54e5636f-c4f1-419a-9976-93324cd12074.png)

[2022-08-23 12:59] #6781 closed, assigned to nobody

[2022-08-23 13:13] MatteoBiscosi commented on #6750
Closing for inactivity. In the latest ntopng this feature seems working correctly. Please reopen if needed.

[2022-08-23 13:13] #6750 closed, assigned to uccidibuti

[2022-08-23 13:16] cardigliano commented on #6822
Exporter information has been added. The column is still missing from the explorer (TODO)

[2022-08-23 14:54] lucaderi opened #6825 "Restore MAC/IP Reassignment Alert"
Currently, the MAC/IP Reassignment Alert implementation is broken, and it needs to be fixed.

[2022-08-24 06:28] 61swong commented on #6803
Hi @MatteoBiscosi

I just updated the ntopng to v5.5.220824, renamed those categories to 'User custom category x' (note: I forget which one was 'User custom category 1', .... so I just renamed them in the order they were shown in the list to 'User custom category 1', 'User custom category 2',... and then back to my own names. Then I restarted ntopng. I chose one of the top local talkers for one of

[2022-08-24 07:41] cardigliano commented on #6822
Completed, please verify

[2022-08-24 07:41] #6822 closed, assigned to cardigliano

[2022-08-24 09:50] dandare100 commented on #6823
@cardigliano Thank you, I appreciate the work.

That package (ntopng_5.5.220823-18283_arm64.deb) has solved the disable problem. I can now disable all the behavioural checks.

I am trying to get to the bottom of the high CPU usage. It persists with all the checks disabled.

![Capture6](https://user-images.githubusercontent.com/5639208/186384638-26af8580-bbd4-4a0e-aa4f-498fc13a796c.PNG)

Things I h

[2022-08-24 14:18] cardigliano commented on #6823
@dandare100 in the initial post you stated "There does not have to be flows published to zmq for this to happen.", does this mean ntopng will use 150% of cpu with no flow received at all? (i.e. nprobe not even running)

[2022-08-24 18:50] dandare100 commented on #6823
@cardigliano Yes, that is correct. I stopped the netflow feed on the pfSense and verified with the below

![image](https://user-images.githubusercontent.com/5639208/186500309-bd63db63-eb4f-4af0-aa39-d848667e9332.png)

[2022-08-24 20:56] phantomski77 opened #6826 "ntopng nightly not installable on Raspberry Pi arm64 - missing dependencies pfring and ntop-license"
**Environment**:
* OS name: Debian
* OS version: 11.4 Bullseye
* Architecture: arm64
* ntopng version/revision: nightly 5.5.220823

**What happened**:
During installation of ntopng package, following error occured:
[code]

**How did you reproduce it?**
I have tried both installation packages from:
`https://packages.ntop.org/RaspberryPI/apt-ntop.deb` and `https://packages.ntop.org/apt/bullseye/all/

[2022-08-24 21:28] Ryushin opened #6827 "Missing SysVInit Scripts in Debian Packages"
Most of the Debian packages do not include a SysVInit script, including ntopng.  It would also be nice to see manual instructions to add the appropriate apt package source in the Download web page.  I run Devuan and the install script creates the wrong apt package source and I had to modify it manually.  Though actually seeing the apt location sources on the web site would have made my life easier

[2022-08-25 07:48] cardigliano commented on #6827
@Ryushin we used to support init before, but with the adoption of systemd on all distributions we did the migration and decided to support a single mechanism as it was not really worth to support many.
If there are some changes required to support Devuan, please feel free to contribute (we appreciate PRs), as it's not one of the distributions we officially support. Thank you.

[2022-08-25 09:13] cardigliano commented on #6826
@phantomski77 there is a new arm64 packate (https://packages.ntop.org/RaspberryPI/bullseye_pi/arm64/ntopng/) please try updating

[2022-08-25 10:02] phantomski77 commented on #6826
Thanks @cardigliano, that now worked with `5.5.220825`. All installed correctly now.

[2022-08-25 10:02] #6826 closed, assigned to nobody

[2022-08-25 10:33] phantomski77 opened #6828 "Redis RRD timeseries corrupted? Cannot write data - timeseries.lua / rrd.lua fails"
**Environment**:
* OS name: Debian
* OS version: 11.4 Bullseye
* Architecture: Raspberry Pi 4 - arm64
* ntopng version/revision: 5.5.220825

**What happened**:
Using timeseries driver RRD, whenever I have any timeseries enabled for writing in Settings / Timeseries, following types of errors are produced in the log (this one is for _Interfaces Timeseries_ enabled):
[code]

**How did you reproduce i

[2022-08-25 12:25] Ryushin commented on #6827
Debian supports and provides other init systems other than systemd.  Such as SysVinit, OpenRC, RunIT, etc.
Please see: https://wiki.debian.org/Init
Since you are providing Debian packages, sysvinit scripts should also be provided.  Devuan uses something like 98% of the original packages from Debian.  Only certain packages are forked to provide better init compatibility and almost all of these are

[2022-08-25 16:06] cardigliano commented on #6823
@dandare100 I was able to reproduce this with your configuration, thank you for the info, I will keep you posted

[2022-08-25 17:19] dandare100 commented on #6823
Cool, no problem. Thanks for the update

[2022-08-26 01:19] elysch opened #6829 "AlmaLinux not correctly handled in ntopng-utils-manage-updates. Almost the same as #6491"
**Environment**:
* OS name: AlmaLinux
* OS version: 8.6 (Sky Tiger)
* Architecture: amd64
* ntopng version/revision: ntopng-5.4.220818-18242.x86_64

**What happened**:
cron runs the ntopng-utils-manage-updates script every minute,
and produces a dpkg error every time it runs.

This happens due to line 57 execution of /usr/bin/lsb_release do not contain any of the specified terms

**How did you rep

[2022-08-26 07:32] cardigliano commented on #6829
Implemented in 4a000a5b69d09f56abcd3419200ee8cf2cd7358b

[2022-08-26 07:32] #6829 closed, assigned to nobody

[2022-08-26 17:17] cardigliano commented on #6823
@dandare100 I pushed a fix for this, a new update should be available later today, please let me know

[2022-08-26 19:37] elysch commented on #6829
:) Thanks.
Glad to help.

[2022-08-26 19:49] leegitlee opened #6830 "error in dmesg traps: ntopng-5-pkt[581524]"
hello

It's my first post , sorry if i don't respect rules

**Environment**:
*ntopng Community v.5.5.220826 (Debian GNU/Linux 11 (bullseye)) |

**What happened**:
In dmesg i have error on a NIC but not if i put on startup --no-promisc in file ntopng.conf

[26217.651524] device enx00133b8b249b entered promiscuous mode
[26246.522600] traps: ntopng-5-pkt[581524] trap invalid opcode ip:55f23b1691c5 sp

[2022-08-27 08:25] dandare100 commented on #6823
Yeeeehaaaaa !!!!

Thank you @cardigliano

It is now fixed. Thank you for solving this.

[2022-08-27 08:25] #6823 closed, assigned to nobody

[2022-08-29 07:58] uccidibuti opened #6831 "new metrics metadata api for timeseries restyle"
**What would you like to add or change?**:
pro/scripts/lua/rest/v2/get/timeseries/type/consts.lua

**Why do you and others need this?**:
The api must provides all interfaces metrics. The format of the api is explained in  pro/scripts/lua/rest/v2/get/timeseries/type/consts.lua .

[2022-08-29 08:05] MatteoBiscosi commented on #6828
Hi @phantomski77 sorry for the late response. We did a major change to the timeseries because they were wrongly created (Unfortunatly RRD timeseries cannot be modified), so you have to delete those timeseries and start anew.
To remove the timeseries database you have to delete the files directly from /var/lib/ntopng (in the specific case those corrupted).
Before removing them, stop ntopng, remove

[2022-08-29 10:37] MatteoBiscosi commented on #6803
Hi @61swong, could you please run this command in the terminal?
![image](https://user-images.githubusercontent.com/49585191/187182429-4a9dc721-6fa8-40c6-b55a-69e69fe2fab5.png)
Here you should have all the custom category names you set up.
To remove them and reset them to the default naming you have to run `redis-cli HDEL ntopng.prefs.category_name "ID_OF_THE_CATEGORY"`
![image](https://user-images

[2022-08-29 11:51] phantomski77 commented on #6828
Hi @MatteoBiscosi,
absolutely no problem, thank you for your response. After removal and restart everything seems to be working ok. New RRDs created, no error messages.

[2022-08-29 11:51] #6828 closed, assigned to nobody

[2022-08-29 14:56] jean-christophe-manciot opened #6832 "Cannot connect to redis server with a strong password"
## Describe the bug
Ntopng cannot connect to redis server and wrongly reports 'ERROR: NOAUTH Authentication required' although it is required and successfully tested with redis-cli.

## Environment
* OS name:Ubuntu
* OS version: 22.04
* Architecture: amd64
* ntopng version/revision: 5.2.220519

**What happened**:
redis
[code]
ntopng
[code]

**Debug Information**:
redis
[code]

ntopng
[code]

[2022-08-29 14:59] jean-christophe-manciot commented on #6832
If I comment out the redis server ```requirepass```, remove the redis password in ntopng.conf and restart both services, ntopng starts without issue.

[2022-08-29 16:23] jean-christophe-manciot commented on #6832
I thought it was an issue related to the password length/strength, but it does not. Even with '123456789' for redis password, ntopng fails to start:
[code]

[2022-08-30 09:12] jean-christophe-manciot commented on #6832
Same issue with ntopng ```5.2.220414```.

[2022-08-30 11:30] txurrispo commented on #6795
First, thanks Luca and all the team for the work.

Checked today, and the same problem.

pi@raspberrypi:~ $ wget https://packages.ntop.org/RaspberryPI/apt-ntop.deb
--2022-08-30 12:28:42--  https://packages.ntop.org/RaspberryPI/apt-ntop.deb
Resolving packages.ntop.org (packages.ntop.org)... 167.99.215.164, 2a03:b0c0:2:d0::d27:3001
Connecting to packages.ntop.org (packages.ntop.org)|167.99.215.164|:

[2022-08-30 13:03] cardigliano commented on #6795
@txurrispo it seems you are running RPi 3, we currently support Buster on that hw. Bullseye is supported on RPi 4.

[2022-08-30 13:06] txurrispo commented on #6795
No its a Bullseye RPi4, if you se the repositories are bullseye

[2022-08-30 13:09] cardigliano commented on #6795
You are running an armhf Debian then, we support arm64 on RPi4

[2022-08-30 13:44] txurrispo commented on #6795
Yes you are right. Its a RPi4, but with Rapsberry Pi OS lite 32bits Bullseye. Im checking some things...

Formated and Installed with Rapsberry Pi OS lite 64bits Bullseye. Updated to today.

Same procedure for install that are on the web page  https://packages.ntop.org/

pi@raspberrypi:~ $ wget https://packages.ntop.org/RaspberryPI/apt-ntop.deb
--2022-08-30 14:42:53--  https://packages.ntop.org/Ra

[2022-08-30 15:13] cardigliano commented on #6795
@txurrispo I pushed a repo update, please try now

[2022-08-30 19:04] txurrispo commented on #6795
I think isd working!, thanks!!!!!!!!!

[2022-08-30 20:50] dandare100 commented on #6832
Hello @jean-christophe-manciot

I tested it on my side and it works fine.

I did notice in your posts above that the service is being started with /etc/ntopng.conf for the config.

`ExecStart=/usr/sbin/ntopng /etc/ntopng.conf`

and the grep you are doing  to show us your password is grepping /etc/ntopng/ntopng.conf

`grep -- ^-r /etc/ntopng/ntopng.conf`

Please check if it works after you move you

[2022-08-31 00:17] 61swong commented on #6803
Hi @MatteoBiscosi , I have followed your commands to remove them.
`[root@host ~]# redis-cli HGETALL ntopng.prefs.category_name
 1) "20"
 2) "corp data"
 3) "21"
 4) "corp biz high pri"
 5) "22"
 6) "corp infra ops"
 7) "23"
 8) "corp infra mon"
 9) "24"
10) "corp biz low pri"
[root@host ~]# redis-cli HDEL ntopng.prefs.category_name "20"
(integer) 1
[root@host ~]# redis-cli HDEL ntopng.prefs.catego

[2022-08-31 07:27] #6795 closed, assigned to lucaderi

[2022-08-31 07:32] cardigliano commented on #6832
Good catch @dandare100 !
@jean-christophe-manciot did you change the systemd script perhaps? Please fix/restore it to point to the right configuration file

[2022-08-31 14:28] #6815 closed, assigned to MatteoBiscosi

[2022-08-31 14:39] jean-christophe-manciot commented on #6832
@cardigliano @dandare100
OK,you're right, but using ```/etc/ntopng.conf``` and redis with a password a little bit more complex and stronger than 123456789, such as ```YAEGV6=[rItKb*[tbh}zX@XKVR^wbkrP``` makes ntopng fail:
[code]

I could not find anywhere in the official docs the passwords constraints:
- the characters which are allowed/not allowed
- their max length

Please, **allow all (or at le

[2022-08-31 14:54] jean-christophe-manciot commented on #6832
Same issue with mysql 8.0.

This is a **major issue** because in order to use ntopng, we would need to weaken the security of all its connected parts:
- ElasticSearch
- redis
- mysql
- mysql-nprobe

[2022-09-01 08:33] MatteoBiscosi commented on #6825
Verified as Fixed

[2022-09-01 08:33] #6825 closed, assigned to MatteoBiscosi

[2022-09-01 08:33] MatteoBiscosi commented on #6820
Verified as Fixed

[2022-09-01 08:33] #6820 closed, assigned to MatteoBiscosi

[2022-09-01 08:33] MatteoBiscosi commented on #6819
Verified as Fixed

[2022-09-01 08:33] #6819 closed, assigned to MatteoBiscosi

[2022-09-01 08:33] MatteoBiscosi commented on #6818
Verified as Fixed

[2022-09-01 08:33] #6818 closed, assigned to uccidibuti, MatteoBiscosi

[2022-09-02 04:35] joonasak opened #6834 "For ntopng not show Host Historical Application in real features"
**Environment**:
* OS name: Ubuntu
* OS version: 18.04
* Architecture: amd64
* ntopng version/revision: 5.4.220829

**What happened**:
In the website https://www.ntop.org/products/traffic-analysis/ntop/ we saw in the screenshot of the features Host Historical Application but in real production features we don't see it. Please kindly check it.

**In Website**

![image](https://user-images.githubuse

[2022-09-02 06:33] jean-christophe-manciot commented on #6832
@lucaderi
Any plan to allow all (at least Latin) characters to be used in all passwords to prevent weakened security of ntopng and all its connected parts?

[2022-09-02 13:29] cardigliano commented on #6834
Please go to Settings -> Preferences -> Timeseries and set Host Timeseries to Full (please note this will use more resources including disk space)

[2022-09-02 13:29] #6834 closed, assigned to nobody

[2022-09-02 13:54] cardigliano commented on #6832
@jean-christophe-manciot I pushed a fix for this in ac3d3cc38ff83aab9a86de53fcf2295e7249e058
ntopng was not supporting passwords containing @ characters as it is used to identify the DB ID, however I improved the parser and it should work now in your case. In any case I suggest using a password without : and @ characters.

[2022-09-02 13:54] #6832 closed, assigned to nobody

[2022-09-02 13:54] cardigliano commented on #6832
A new package will be available later today (1h from now)

[2022-09-02 14:17] cardigliano commented on #6830
@leegitlee we fixed a similar issue a few days ago, please update and let us know. Thank you.

[2022-09-02 14:21] cardigliano commented on #6638
Closing for inactivity

[2022-09-02 14:21] #6638 closed, assigned to lucaderi

[2022-09-02 14:23] cardigliano commented on #6555
Closing for inactivity

[2022-09-02 14:23] #6555 closed, assigned to cardigliano

[2022-09-02 14:27] #6258 closed, assigned to nobody

[2022-09-02 15:46] lucaderi opened #6835 "Trigger Alerts When Observing Traffic Between Host Twins"
Add the ability to define host twins (IP a, IP b), (IP c, IP d)....and trigger an alert whenever traffic a<->n or c<->d is observed.

[2022-09-02 15:48] lucaderi opened #6836 "Trigger Alerts When Traffic Between Host Twins Exceeds a Given Threshold"
Same as https://github.com/ntop/ntopng/issues/6835( but instead of generating an alert when traffic is observed between twins) an alert is triggered whenever total (not every 5 mins or so, but since ntopng started) traffic between twins exceeds the specified threshold.