[2016-06-15 07:46] simonemainardi commented on #522
Restart MySQL and ntopng

On Wednesday, 15 June 2016, Niko78 notifications@github.com wrote:

##

Sent from my iPad. Sorry for typos.

[2016-06-15 14:57] Urkioma opened #615 "[FR] Problem with values of statistic (chart)"
Hi,

First, sorry for my bad English, I'm French but I'll try to explain you my problem, and I wish you'll could resolve it ...

I don't know why but when I see the statistic chart the value of the max change when I choose an another time series. For 1 hour the max is less than for 10 mins ...

For 10 mins : Max is 90.16 mbit
![20160615-162613_1280x1024](https://cloud.githubusercontent.com/assets/

[2016-06-16 13:36] simonemainardi commented on #606
recent nDPI commits may have fixed the issue. Please, re-open a new issue and enclose the core dump as explained if you experience the crash.

[2016-06-16 13:36] #606 closed, assigned to nobody

[2016-06-16 13:36] simonemainardi commented on #610
@HRomie any updates?

[2016-06-16 15:06] lucadistefano commented on #522
I can confirm the errors are disappeared after the update

[2016-06-17 07:38] #522 closed, assigned to nobody

[2016-06-17 08:27] simonemainardi commented on #599
We still have to decide how to release the new db, however, existing MySQL options will be maintained and will work independently. Queries to the new db will not necessarily be compatible with MySQL.

[2016-06-17 13:36] HRomie commented on #610
@simonemainardi
Oh, sorry. i thought since you immediately acknowledged the error and directed me to another thread, you were already familiar with the bug and knew how to solve it.

I did what you suggested. I disabled the "RRDs For Local Hosts" in the web interface, stopped ntopng, and removed all the ntopng report folders in 'My Documents' (just to be sure) and started ntopng again. i also conf

[2016-06-17 20:40] masaeedu opened #617 "Document ZMQ exchange to set up data collection"
I need to use ntopng to visualize network flows, but need to do so in an environment which cannot accept the nprobe license terms. Since ntopng is ostensibly decoupled from nprobe, it should be able to communicate with a simple remote ZMQ socket that implements a subset of the functionality of nprobe. Is there any documentation available that details the required ZMQ exchange between a probe and t

[2016-06-17 21:08] lucaderi commented on #617
What are the license terms that you cannot accept? Did you see this http://www.ntop.org/ntopng/creating-a-hierarchical-cluster-of-ntopng-instances/ ?

[2016-06-17 22:04] masaeedu commented on #617
Per-system licenses are difficult because we need to be able to setup/teardown our entire deployment and report data from an indeterminate number of dynamically created VLANs, plus I'm not sure I could convince management to purchase a license since this is not business-essential.

I read through that article but don't quite see what you mean. Are you suggesting that I should use ntopng instances

[2016-06-18 11:42] lucaderi commented on #617
So in essence as long as everything is free, the management is happy. Sure but this way open source will die.

Yes you can use ntopng instead of nprobe if that's enough,

[2016-06-18 11:42] #617 closed, assigned to nobody

[2016-06-20 13:00] Niko78 opened #618 "hosts/flows counters colors in the right side of the footer ?"
On my ntop I can see that flows link changes sometimes of color : orange/red
it seems to me orange when flows > 75k and red >110k something like these values

my question is why these steps ? is it something to warn that server is limit for these values ?

thanks

Nico

[2016-06-20 13:06] simonemainardi commented on #618
see https://github.com/ntop/ntopng/blob/dev/scripts/lua/inc/footer.lua#L330
between 60 and 90% of the maximum value the color becomes orange, above 90% becomes red

[2016-06-20 13:06] #618 closed, assigned to nobody

[2016-06-20 13:10] Niko78 commented on #618
ok but what's the maximum value ?

[2016-06-20 13:14] Niko78 opened #619 "alert or not alert ?"
in ntop I have a host which is scanning network
I thought ntop could detect it as alert but it doesn't appear like that
do I need to change thresholds ? I let all the defaults

![scan](https://cloud.githubusercontent.com/assets/17108017/16195393/b0cb9436-36f9-11e6-808c-575b9e0baf1b.png)

Nico

[2016-06-20 13:16] simonemainardi commented on #618
did you know ntopng has a `--help` option? (https://github.com/ntop/ntopng/issues/563#issuecomment-219467007)

[code]

[2016-06-20 13:39] lucaderi commented on #619
In this ntopng version to avoid false positives we have set the threshold to
#define CONST_MAX_NUM_HOST_ACTIVE_FLOWS 65536
but in post 2.3 ntopng version we will expand this detection and thus make alerts more flexible

[2016-06-20 13:39] #619 closed, assigned to nobody

[2016-06-20 14:35] Niko78 commented on #585
my disk is full and now I have error in syslog... I configured ntop to catch data only 7 days but it grows with no limit it seems
is there something to do overwrite old data instead of warning me it is full ?

[2016-06-20 23:23] simonemainardi commented on #585
as this is a pretty relevant topic we have prepared a blog post that explains how to optimize MySQL disk space usage: http://www.ntop.org/ntopng/tweaking-mysql-to-improve-ntopng-flows-storage-space-usage/

[2016-06-20 23:23] #585 closed, assigned to nobody

[2016-06-21 09:16] simonemainardi commented on #614
@lucaderi the fact that the host has no activity in the heatmap is fine. The host was seen the last time more than 5 days before the screenshot was taken, while the captured heatmap only shows the last 6 hours.

What it is not OK is that flow counters are set at zero, whereas traffic sent/received is properly accounted. This bug is known and has already been fixed so @DigiAngel you only have to up

[2016-06-21 09:16] #614 closed, assigned to nobody

[2016-06-21 09:28] simonemainardi commented on #615
hi @Urkioma

Interface speed is sampled every second so it will be almost impossible to render interface speed charts without aggregations as the number of datapoints quickly becomes too high. Therefore, before rendering charts, in order to reduce the number of datapoints shown, we make some aggregations that average out multiple points into a single one.

Your 10-mins char has very steep peaks be

[2016-06-21 09:28] #615 closed, assigned to nobody

[2016-06-21 10:48] DigiAngel commented on #614
Good deal...thanks for your work on this.

[2016-06-21 17:52] DigiAngel opened #620 "FR: Limit alert display to monitored interface"
I listen to two interfaces, an internal only and Internet facing.  Would be nice to only show alerts for the currently monitored interface.  And nice work on the alerting btw.

[2016-06-21 18:27] DigiAngel opened #621 "FR: Alert display filters"
Process:  Get to hosts_stats.lua, then filter by Local.  Several Alert icons show up.  At this point it would be nice to be able to click on the Alert icon and see Alerts related only to that IP address.

From there, I select an IP address that has alerts.  From host_details.lua it would be nice to click on the Alerts and go to that IP addresses alerts.

Currently both of the above go to show_aler

[2016-06-22 01:57] masaeedu commented on #617
Well I also told you about why your licensing model doesn't work for our use case, and nProbe isn't open source so I'm not sure how this is relevant. It's clear however that this is not an avenue you're interested in exploring.

[2016-06-22 05:01] Niko78 commented on #619
any ETA for this new version ?

[2016-06-22 09:36] Niko78 opened #622 "no flows in selecting unknown flows"
in flows when I try to display only "unknown" flows, it displays me : No Results Found
I have ton of unknown flows so I don't see why it doesn't display entries

ntopng 2.3.160621 - Pro Small Business Edition

Niko

[2016-06-22 11:55] #622 closed, assigned to nobody

[2016-06-23 15:12] h8h commented on #548
Hi

This breaks the IPv6 support.

The ES `ip` field does not support IPv6 Addresses, see https://www.elastic.co/guide/en/elasticsearch/reference/2.3/ip.html

It got tons of IPv6 bulk inserts which could not be mapped.

Before that "fix" everything works.

Is it possible to revert the PR?

[2016-06-23 16:47] #548 closed, assigned to simonemainardi

[2016-06-23 20:45] m00tpoint opened #623 "New Install, NTOPNG reports "Invalid message received: your nProbe sender is outdated or invalid JSON?""
I have 3 Arista switches sending SFLOW data to the server on port 6323.

[root@servername username]# ntopng --version
v.2.2.160623 [Professional Edition]
GIT rev:   2.2-stable:c681e193ad0b8b346e1dddb56fd35707a71097cc:20160623
Pro rev:   r525
System Id: 68B8BF9E76056206
Built on:  CentOS Linux release 7.2.1511 (Core)
[root@servername username]#
[root@servername username]#
[root@servername username]

[2016-06-24 08:54] simonemainardi commented on #623
Please, update ntopng to the latest dev version (2.3.xx) and it will work. The dev version is fairly stable as we are already working on moving it to the stable release.

[2016-06-24 08:54] #623 closed, assigned to nobody

[2016-06-24 10:34] simonemainardi commented on #594
I've just tried to reproduce the issue. I am able to get the proper name either by command line or from within ntopng.

![image](https://cloud.githubusercontent.com/assets/3397663/16335412/b5d1a262-3a06-11e6-9af7-e8b1b45a91d0.png)

Resolution is immediate, no delays.

For the sake of completeness, I also enclose the recorded PTR ip to name resolution for the ip mentioned as a pcap file: [pcap-dns-

[2016-06-24 13:57] simonemainardi commented on #486
@Queeq thanks for reporting and sorry for the late feedback.

As we are in the process of re-designing interface views, we thought we could just pick the first physical interface in the grouped statistics. Now with the new commit we have added all the physical interfaces to the count.

You should be able to update and get the proper values. Also, as out-of-memory errors are gone I also think it is

[2016-06-24 14:17] hatclub commented on #594
I was using @ and copied it by accident here, but I was only specifying each of the resolvers configured in /etc/resolv.conf to prove to myself that they were both responding.

root@ntop:~# dig PTR 10.218.230.213.in-addr.arpa @213.230.211.71

; <<>> DiG 9.9.5-3ubuntu0.8-Ubuntu <<>> PTR 10.218.230.213.in-addr.arpa @213.230.211.71
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY,

[2016-06-24 14:25] lucaderi commented on #594
Yes it's definitively a scaling issue. Please consider -b 2

[--dns-mode|-n] <mode>              | DNS address resolution mode
                                    | 0 - Decode DNS responses and resolve
                                    |     local numeric IPs only (default)
                                    | 1 - Decode DNS responses and resolve all
                                    |     nu

[2016-06-24 14:25] #594 closed, assigned to lucaderi

[2016-06-24 14:35] hatclub commented on #594
Can't you plan to make DNS resolution multi-threaded?

If we turn it to -b 2 we presumably won't have any DNS at all in the interface (undesirable, frankly) as we're not using port mirroring (which is presumably required for -b 2 to see any DNS responses to decode), we're using netflow.

[2016-06-24 16:53] lucaderi commented on #594
If you have 30k addresses to resolve, the three with make the situation even worse as it might create a waterfall effect if not a DoS on your DNS. For the time being I would like to leave everything as is. This said the DNS resolution is multithreaded and we currently use 2 thread. If you are willing to try go to https://github.com/ntop/ntopng/blob/dev/include/ntop_defines.h and redefine CONST_NUM

[2016-06-24 17:04] hatclub commented on #594
Okay; any chance that UI-prompted resolves could use a separate thread so that if someone drills down on a host in the UI that will always work even if the main resolver processes are busy?

I'll have to set some time aside for building it by hand - any chance the CONST_NUM_RESOLVERS could be brought out to a config option to allow for runtime changes? It can have a caveat attached about exercisin

[2016-06-24 19:34] lucaderi commented on #542
@jmunty Sorry for the delay but we have been busy with the release of nprobe 7.4 where we have made quite some fixes. Did you try that perhaps? What version of ntopng are you using? The problem is a bit odd and IMHO it should work.

[2016-06-26 08:39] simonemainardi commented on #564
feature requested was already implemented in https://github.com/ntop/ntopng/commit/ae22da5136a84a8a2d0636409ee7bf89f23bed93 and reported in #265

have a look at https://github.com/ntop/ntopng/blob/ae22da5136a84a8a2d0636409ee7bf89f23bed93/src/PF_RINGInterface.cpp#L64

[2016-06-26 08:39] #564 closed, assigned to cardigliano

[2016-06-26 12:09] simonemainardi commented on #570
implemented in c2767e37f56a74169f06222114ad5a251b0b51b3

[2016-06-26 12:09] #570 closed, assigned to simonemainardi

[2016-06-26 12:17] simonemainardi commented on #474
We believe setting the interface speed manually using the gauge is the best approach as adding an extra item to the command line interface name would unnecessarily complicate the syntax. In addition, recent version of the nProbe communicate the right interface speed over ZMQ.

[2016-06-26 12:17] #474 closed, assigned to nobody

[2016-06-26 12:20] simonemainardi commented on #467
Closing for inactivity. Please, re-open individual issues if still experiencing problems. Also keep in mind that bridging under windows is not supported yet.

[2016-06-26 12:20] #467 closed, assigned to nobody

[2016-06-26 12:21] simonemainardi commented on #455
solution given. no feedback received. closing for inactivity.

[2016-06-26 12:21] #455 closed, assigned to nobody

[2016-06-26 12:24] simonemainardi commented on #419
closing for inactivity. Issues should have been fixed in recent commits. Please re-open if not solved.

[2016-06-26 12:24] #419 closed, assigned to nobody

[2016-06-26 12:28] simonemainardi commented on #348
@ValentinaViscarelli can you update on the progress? Is this completed? Can we close this?

[2016-06-26 12:32] simonemainardi commented on #125
This is available in ntopng if started in bridge (bump-in-the-wire) mode. Please read the docs.

[2016-06-26 12:32] #125 closed

[2016-06-26 12:34] simonemainardi commented on #57
implemented in the latest nProbe/ntopng through ZMQ events.

[2016-06-26 12:34] #57 closed

[2016-06-26 12:37] simonemainardi commented on #348
Implemented in:
- https://github.com/ntop/ntopng/blob/dev/scripts/lua/flow_details.lua#L502
- https://github.com/ntop/ntopng/blob/dev/scripts/lua/flow_details.lua#L516

[2016-06-26 12:37] #348 closed, assigned to nobody

[2016-06-26 12:41] simonemainardi commented on #346
implemented in https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/flow_utils.lua#L830

[2016-06-26 12:41] #346 closed, assigned to simonemainardi

[2016-06-26 12:42] simonemainardi commented on #347
implemented in https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/flow_utils.lua#L767

[2016-06-26 12:42] #347 closed, assigned to nobody

[2016-06-27 13:59] deathtrip opened #624 "provide tar.gz packages"
right now http://packages.ntop.org doesn't have any source packages, and the sourceforge repo one is outdated, so non deb/rpm distros are left out.
why aren't there any releases here on github anyway?

[2016-06-27 14:01] lucaderi commented on #624
![image](https://cloud.githubusercontent.com/assets/4493366/16382251/673e7aa4-3c80-11e6-98bb-dd5e89ad0f66.png)

[2016-06-27 14:01] #624 closed, assigned to nobody

[2016-06-28 05:17] Niko78 opened #625 "negative values in top talker"
hi

sometimes in dashboard in the top talker section, I have negative values displayed

<img width="376" alt="negative values top talker" src="https://cloud.githubusercontent.com/assets/17108017/16404535/3f0f463c-3d00-11e6-805a-934fe1e8fed8.PNG">

ntopng 2.5.160627

nico

[2016-06-28 05:18] Niko78 opened #626 "ntop http access unknown protocol"
hi

I can see that access to the ntop webpage (http port 3000) is detected as unknown protocol instead of http
<img width="393" alt="ntop 3000 not as http" src="https://cloud.githubusercontent.com/assets/17108017/16404572/7fe4fb16-3d00-11e6-8f5c-dea93f98bf73.PNG">

ntopng 2.5.160627
ndpi 1.8.0-dev-457-ff6b193

nico

[2016-06-28 05:22] Niko78 opened #627 "FR : direct link in host detail to history"
hi

when we select a host to get details, it would be interesting to have a link to history directly here to ovoid to click on "home", "historical data...", then enter host...

nico

nico

[2016-06-28 08:59] Niko78 opened #628 "FR: historical data from network"
hi
that would be interesting to have a history from a network and not only a host
sometimes I would like to get traffic from a network and not just a host

Nico

[2016-06-28 11:26] jppo opened #629 "Error when compiling version 2.4 stable"
Hello,
## I try to compile the 2.4 version and I get an error compiling, here is the end of trace

src/CollectorInterface.cpp: In constructor ‘CollectorInterface::CollectorInterface(const char_)’:
src/CollectorInterface.cpp:32:25: error: ‘zmq_ctx_new’ was not declared in this scope
   context = zmq_ctx_new();
                         ^
src/CollectorInterface.cpp:50:25: error: ‘zmq_ctx_destroy’ was

[2016-06-28 12:09] simonemainardi commented on #628
![image](https://cloud.githubusercontent.com/assets/3397663/16414728/ac24de38-3d39-11e6-9cc3-53e255c71947.png)

![image](https://cloud.githubusercontent.com/assets/3397663/16414758/de552516-3d39-11e6-9556-9bcf7e31661d.png)

[2016-06-28 12:09] #628 closed, assigned to nobody

[2016-06-28 12:09] lucaderi commented on #629
Please check https://github.com/ntop/ntopng/blob/dev/doc/README.compilation about ZMQ dependencies

[2016-06-28 12:09] #629 closed, assigned to nobody

[2016-06-28 12:22] Niko78 commented on #628
it's not so easy in my case
I use all the the 192.168.0.0/16
... and I would like to see only 192.168.174.0/24 by exemple, do I need to change my ntop command in putting a biggest list in "--local-networks" ?

nico

[2016-06-28 12:25] simonemainardi commented on #628
correct. Every network of interest has to be declared in the `local-networks` list. Clearly, if you wrap everything in a big `/16` you get the aggregate and not the breakdown.

[2016-06-28 12:50] Niko78 commented on #628
is it planned to improve that to have the possibility to sort and get only what we want instead of all ?
I ask that cause we use all the rfc1918 (around 500 networks) on my side and as you can imagine, I can't do that ... I would prefer a possibility to sort in history
thanks

[2016-06-28 14:04] lucaderi commented on #628
An IP address has a meaning, is it not just a 32 bit number. I Agree with @simonemainardi that you need to define your networks. If they are 500, you will defined 500 networks, but delegate this (lazyness) to ntopng isn't the way to address this issue

[2016-06-28 14:11] Niko78 commented on #628
it's a not a "lazyness"... for sure I can add all these 500 networks in starting ntop
I will see how it reacts with all these lines...

[2016-06-28 18:06] andris commented on #435
@lucaderi - I have this issue as well.  I'm attaching a pcap to hopefully help look at this.  I am sending traffic to the ntopng server via TZSP.  ntopng is showing statistics that include both the outer TZSP connection as well as the inner "real" traffic i am interested in.

In this capture 172.16.30.1 is the TZSP source (a router) and 172.16.30.2 is the ntopng server.

In all metrics in ntopng,

[2016-06-28 18:22] andris opened #630 "JSON Parse errors in elasticsearch for DNS_QUERYs"
This seems similar to #522 in that I get errors in elasticsearch about ntopng trying to send invalid UTF-8 characters, though in my case i am not using nprobe or zmq.

I have ntopng configured to export flows to elasticsearch using --dump-flows:
--dump-flows="es;flows;ntopng-%Y.%m.%d;http://localhost:9200/_bulk;"

I am using the latest dev build of ntopng:
v.2.5.160628 [Professional Edition]
GIT r

[2016-06-28 20:09] simonemainardi commented on #630
the reason should this one:
`JsonParseException[Invalid UTF-8...`

Does this happen for every DNS query? Or it is a sporadic event? Are you able to generate a pcap of the DNS query that triggered the error?

[2016-06-28 20:10] lucaderi commented on #630
Did you update nprobe to the latest version? The issue is on the nProbe side not on the ntop one

[2016-06-28 20:35] andris commented on #630
@simonemainardi - this happens continuously - about every 10-30 seconds or so.  Having done a little more research on this - I think this is likely a result of DNS queries "generated by 'Multicast/Unicast DNS Service Discovery or Zeroconf', which is a service of Apple 'Bonjour/Rendevous' or Unix Services like 'Avahi'."    More info here: https://docs.menandmice.com/pages/viewpage.action?pageId=636

[2016-06-28 22:24] lucaderi commented on #630
I have analysed the pcap but the JSON looks good

29/Jun/2016 00:22:15 [NetworkInterface.cpp:441] [ES] { "@timestamp": "2016-06-28T17:14:56.0Z", "type": "ntopng", "IN_SRC_MAC": "4C:5E:0C:F6:9D:93", "OUT_DST_MAC": "4C:5E:0C:F6:9F:A3", "IPV4_SRC_ADDR": "8.8.4.4", "IPV4_DST_ADDR": "10.40.2.1", "L4_SRC_PORT": 53, "L4_DST_PORT": 58054, "PROTOCOL": 17, "L7_PROTO": 5, "L7_PROTO_NAME": "DNS", "IN_PKTS": 1

[2016-06-28 22:49] andris commented on #630
Darn - looks like it's not as simple as finding all the DNS PTR packets with names like "dr._dns-sd._udp." some of them seem to process correctly and some not.

I will go back and continue to try to reproduce this and catch it in a pcap file.

[2016-06-28 22:53] lucaderi commented on #630
"DNS_QUERY": "dr._dns-sd._udp.0.0.168.192.in-addr.arpa" is a valid JSON string. The problem happens with "DNS_QUERY": ".nv��..�.tek���..�.?\�n���vs����z�.\/3������.e�+���?co9n6�gڷ�.�..��m=..�a�0ʨ�rt�.h�m}�.��.5p��ϙ�lq.:m��...�.�z0���2��(.{��cn�œ��z�.w\/.�b.�$5.�@�@x�Ԝ.td�6m!>�h.�y��a�����}.3���.3f",

[2016-06-28 23:00] andris commented on #630
it seems like some of the db._dns-sd._udp queries do have bad characters though

[2016-06-29 01:30:53,589][DEBUG][action.bulk              ] [Flygirl] [ntopng-2016.06.28][3] failed to execute bulk item (index) index {[ntopng-2016.06.28][flows][AVWZIveUwQBnFnmiC6mo], source[{ "@timestamp": "2016-06-28T22:30:25.0Z", "type": "flows", "IN_SRC_MAC": "4C:5E:0C:F6:9F:A3", "OUT_DST_MAC": "4C:5E:0C:F6:9D:9

[2016-06-28 23:01] lucaderi commented on #630
Sure but not those inside the pcap. Please try again

[2016-06-29 07:44] jmunty commented on #542
Hi many thanks! Will check this out :)

Calvin Chiang | SaaS Operations Engineer
P: +47 9540 5384
M: +47 2150 2562

From: Luca Deri [mailto:notifications@github.com]
Sent: 24. juni 2016 21:34
To: ntop/ntopng ntopng@noreply.github.com
Cc: Calvin Chiang Calvin.Chiang@confirmit.com; Mention mention@noreply.github.com
Subject: Re: [ntop/ntopng] No Data Available -- Windows -- Netflow (#542)

@jmunty h

[2016-06-29 09:17] jean-christophe-manciot opened #631 "‘struct ndpi_flow_struct::<anonymous union>::<anonymous>’ has no member named ‘reply_code’"
Ubuntu 16.04 4.4.0
ndpi commit stable 1.8
ntopng commit stable 2.4

[code]

[2016-06-29 10:03] lucaderi commented on #631
See https://github.com/ntop/ntopng/blob/2.4-stable/.travis.yml

[2016-06-29 10:03] #631 closed, assigned to nobody

[2016-06-29 12:23] beveradb opened #632 "ntopng exits (crashes?) after loading historical data page (Ubuntu 12.04 from repo)"
Hi,

Whenever I load the historical data page for an interface, it loads but then seems to crash ntopng and I have to restart it:

[code]

I've attached the last 2 seconds of the verbose log file, which I believe covers from me clicking the historical reports / graph tab to it exiting.
No more log entries are added to the log file after the last line in the attached log file until I restart the nt

[2016-06-29 14:29] simonemainardi commented on #632
@andrewthecoder please enclose the full ntopng startup line. In addition, are you able to generate a core dump and upload it along with ntopng binary?

[2016-06-30 06:29] jean-christophe-manciot commented on #631
The issue is there, despite all build dependencies installed.
I suspect that you have modified that structure in a post 1.8 version of nDPI.
Ntopng 2.4 should be compatible with ndpi 1.8.

[2016-06-30 06:42] lucaderi commented on #631
have you followed my instructions? I don't think so otherwise it would work as we're building packages very day and travis does not complain. Follow the advice and it will work.

[2016-06-30 06:44] jean-christophe-manciot commented on #631
Have you read my posts? You put your trust into machines instead of human beings....

[2016-06-30 07:51] lucaderi commented on #631
Awaiting a pull request from you that fixes this issue

[2016-06-30 07:58] alberk8 opened #633 "Compilation Warning"
Hi,

I have a latest source and compile on Ubuntu 14.04 and getting the warning below.  Thanks.

v.2.5.160630 [Community Edition]
GIT rev:   dev:284b0e33901e8048210d24ceaa3771acba8c57e1:20160630

g++ -g -Wall -I/home/aluser/ntopng -I/home/aluser/ntopng/include -I/usr/local/include -D_FILE_OFFSET_BITS=64   -I/usr/include/hiredis -I/home/aluser/ntopng/third-party/mongoose -I/home/aluser/ntopng/third

[2016-06-30 08:10] #633 closed, assigned to nobody

[2016-06-30 10:21] alwaysbegood commented on #429
hello, can you help me? i'm stuck here
"you can also retrieve old recorded data but interface name and ntopng instance name must be the same (it looks like you renamed it)."
can you give me example?

[2016-06-30 10:23] lucaderi commented on #429
In essence do not reset redis otherwise the association interface name/id will be lost.

[2016-07-01 08:50] mathieufrh opened #634 "init.d script bug"
Hi,

I think there is a bug in the ntopng init.d script (/packages/etc/init.d/ntopng).
Whenever I start it I have:

[code]

It is active (and working) but in the script output it says "failed!".
The fact is that the get_ntopng_pid function cannot find the PID because it get the PID file from the configuration but fail to assert that it exists:

[code]

[2016-07-01 09:37] lucaderi commented on #634
@mathieufrh Can you please send us a poll request with the fix to this problem?

[2016-07-01 11:57] kyoshi-maru opened #635 "Wrong flowsv4.FIRST/LAST_SWITCHED unix time"
Hi!
I have a really weird problem: The timestamps in flowsv4.FIRST_SWITCHED and flowsv4.LAST_SWITCHED are off by around 40 days. I tripple checked the dates of all servers and the routers (ASA) generating the traffic and they're all fine. Data keeps coming in and is being stored to the DB but these timestamps are wrong.

`select from_unixtime(FIRST_SWITCHED), from_unixtime(LAST_SWITCHED) from flow

[2016-07-01 13:45] simonemainardi commented on #635
if you browse ntopng, Flows page, do you get proper timestamps or not?

[2016-07-01 20:21] #634 closed, assigned to nobody

[2016-07-02 09:36] hAh0L13 opened #637 "[F23 x64] ntopng didn't compile"
Hi. I tried to compile ntopng on Fedora Server 23 x64. Obtain ntopng-2.4-stable.tar.gz and compile nDPI and third-partty/zeromq first (autogen.sh && make), but command "make" for ntopng fails:

[code]

I have installed the following:
- yum groupinstall "Development tools"
- yum install subversion autoconf automake autogen libpcap-devel GeoIP-devel hiredis-devel redis glib2-devel libxml2-devel sqli

[2016-07-02 11:40] lucaderi commented on #637
I have the feeling that libsodium might help. Can you please check if this is the case? We run CentOS no Fedora.

[2016-07-02 13:16] hAh0L13 commented on #637
Command "./configure" for zeromq tell me for libsodium:

[code]

[2016-07-02 13:27] lucaderi commented on #637
So add it to the list of libraries ntopng has to use and send us a pull request

[2016-07-02 14:13] hAh0L13 commented on #637
Found option "--without-libsodium" in Makefile, delete this and start make again. But nothing changes - undefined reference to crypto*

Also trying  sudo make -l/usr/lib64/

UPD

Solved, I suppose. Switch to use git version of ntopng and everything works fine.

[2016-07-02 14:21] jppo commented on #629
Hello Luca,

I read carefully the compilation doc and verify that all packages are well installed with "dpkg-query -l ",
all the packages in the doc where OK.
After a little search I get the trick, the doc is not OK and the dev package to install for libzmq is :
libzmq3-dev
which supersede (and remove) libzmq-dev

After that little tuning the compilation goes to end.

Regards

JP Pozzi

[2016-07-03 03:58] matt876 opened #638 "Can't list protocols on protocols tab for host."
HTTP/1.1 500 Internal server error Content-Type: text/html Connection: close Script "/usr/share/ntopng/scripts/lua/host_details_ndpi.lua" returned an error:
Works in ntopng-2.5

[2016-07-03 08:01] lucaderi commented on #637
@hAh0L13 Can you please check if this change fixed the issue?

[2016-07-03 12:40] lucaderi opened #639 "Per-Interface Alerts"
Add a new toggle in /lua/if_stats.lua where it is possible to disable per interface alerts

[2016-07-03 23:13] beveradb commented on #632
Never mind, I've upgraded to the latest nightly rather than the stable build and this no longer occurs.

Thanks anyway!

[2016-07-03 23:13] #632 closed, assigned to nobody

[2016-07-04 00:20] beveradb opened #640 "ntopng pro: constant, high CPU usage"
I'm using the latest nightly build of ntopng pro and finding it's using a large amount of CPU time constantly, even when the user interface isn't open in a web browser, and even when there's barely any traffic passing through the server.

![2016-07-04 01_16_46-greenshot](https://cloud.githubusercontent.com/assets/757713/16548395/413d2530-4185-11e6-961c-ede2f94a913e.png)

My configuration file cont

[2016-07-04 07:46] simonemainardi commented on #627
The link is already there, look ad the clock icon that goes backward:

![image](https://cloud.githubusercontent.com/assets/3397663/16553966/1ff70f7a-41cc-11e6-96a0-31df9eee7451.png)

[2016-07-04 07:46] #627 closed, assigned to nobody

[2016-07-04 08:20] kyoshi-maru commented on #635
The timestamps are wrong as well in the flows page.

[2016-07-04 08:22] ghost opened #641 "Problema con identificazione protocollo e applicazione"
Buongiorno,
ho riscontrato un problema nell'identificazione dei protocolli e delle applicazioni nel traffico analizzato.
La buona parte dei flussi infatti rimane definita come "Unknow".
Attualmente sto usando la versione Pro di nTop, accompagnata da nProbe.
Spero riusciate a fornirmi qualche informazione riguardo a questo problema e vi ringrazio anticipatamente,
Giacomo.

[2016-07-04 08:33] lucaderi commented on #641
English please

[2016-07-04 08:33] #641 closed, assigned to nobody

[2016-07-04 09:02] ghost opened #642 "Problem with the application identification"
Goodmorning,
I'm having trouble with the identification of application using nTop Pro. For the most of the flows nTop report "Unknow" or "(Too Early)" in the Application field. I attach in this report a screenshot of the problem. I'm using nProbe as collector for nTop.
I hope to receive your reply soon,
Giacomo.

![aaaaaa](https://cloud.githubusercontent.com/assets/17161338/16555808/c87fe662-41d6-

[2016-07-04 09:19] simonemainardi commented on #635
OK, so timestamps received by ntopng are not valid.

Please, capture flow traffic between the ASA and the nprobe, and then inspect it. Look at the timestamps contained in the captured packets (wireshark can help you) and see if they match with those shown in ntopng. If this is the case, then it may be something related to the timestamp export in the ASA.

[2016-07-04 10:55] lucaderi commented on #640
As you have not specified an interface with -i, noting listens to all interfaces including loopback. Please add with -i an interface to listen to, and report what happens.

[2016-07-04 11:45] dpavlin opened #643 "IN_BYTES and OUT_BYTES should be unsigned integers"
We are getting following errors in our logs because we overflowed (signed) integer for OUT_BYTES and/or IN_BYTES columns.

[code]

Fix for current installation is easy:

[code]

but it would be nice to fix this in source.

[2016-07-04 12:12] kyoshi-maru commented on #635
The timestamps from the ASAs seem correct. There are two timestamps using the wireshark CFLOW decoder with fieldnames  'Observation Time Millliseconds' and 'StartTime' and both reflect the correct timestamp. I tried with logstash as well and everything is correct there. All new data gets the 21. May 2016 as FIRST_SWITCHED/LAST_SWITCHED. Another distinct(LAST_SWITCHED) on the >3M rows only gives me

[2016-07-04 13:08] simonemainardi commented on #635
please enclose the pcap with the CFLOW I would like to look at that

[2016-07-04 14:06] kyoshi-maru commented on #635
Hi! I sent an email to your main company address asking for a place to put/send the pcap as it contains semi-confidential data.

[2016-07-04 15:24] simonemainardi commented on #635
please send it to mainardi ntop org

[2016-07-04 21:25] lucaderi commented on #642
What ntopng version are you using? With zmq we can probably optimize this as too early don't apply here

[2016-07-04 21:26] lucaderi commented on #638
In 2.5 works, whereas in what version does not work?

[2016-07-04 21:27] lucaderi commented on #637
Closed for inactivity

[2016-07-04 21:27] #637 closed, assigned to nobody

[2016-07-04 21:29] simonemainardi commented on #642
if it says 'too early' it means that not enough traffic has been seen on that flow. Please, post exact ntopng and nprobe startup commands. Also enclose a screenshot like the one above but with the whole table not only the first three columns

[2016-07-04 21:36] matt876 commented on #638
2.4 is what I am having problems with. 

Matt FridenstineNorth Coast Wireless Communications440-506-1798
Sent from my Verizon Wireless 4G LTE smartphone

-------- Original message --------
From: Luca Deri notifications@github.com
Date: 07/04/2016  5:26 PM  (GMT-05:00)
To: ntop/ntopng ntopng@noreply.github.com
Cc: matt876 matt876@gmail.com, Author author@noreply.github.com
Subject: Re: [ntop/ntopng

[2016-07-04 21:42] simonemainardi commented on #626
you need to allow a minimum amount of traffic to go through the flow in order to be detected as http:

![image](https://cloud.githubusercontent.com/assets/3397663/16570154/7628150a-4240-11e6-86fe-47640b1d27d3.png)

[2016-07-04 21:42] #626 closed, assigned to nobody

[2016-07-04 21:47] simonemainardi commented on #486
The latest commit fixed the issue. Closing.

[2016-07-04 21:47] #486 closed, assigned to simonemainardi

[2016-07-05 09:24] ghost commented on #642
I'm currently using the "2.2.160616 - Professional Edition" version, with an educational licence.
These are the commands that I use to start ntopng and nProbe:
     nprobe -G --zmq "tcp://serverip:5556" -i ens32
     ntopng -i tcp://serverip:5556
I attach the screenshot of the whole table that you request (I removed the clients and servers ip for privacy reasons).
![fsrgaesdgf](https://cloud.githu

[2016-07-05 10:06] simonemainardi commented on #642
I would suggest you to upgrade to the latest versions of ntopng and nprobe.

Anyway, as regards your issue: traffic volumes shown in the screenshot are too low (that is, few tens of bytes) to allow protocol detection. This is the reason why you get too-early or unknow. You have to wait until updated flow information is polled from the nprobe.

If you use netflow, you have to use nprobe to collect

[2016-07-05 10:43] ghost commented on #642
Thanks, finally I've understood what "Unknow" and "Too early" means!

Okay, thanks for the explanation.

[2016-07-05 10:49] simonemainardi commented on #642
you're welcome.

see http://packages.ntop.org/

[2016-07-05 10:49] #642 closed, assigned to simonemainardi

[2016-07-05 14:44] hAh0L13 commented on #637
Ok, all works fine with new fix. Big thanks

2016-07-05 3:27 GMT+06:00 Luca Deri notifications@github.com:

##

С уважением, Вячеслав Литкович
litkovich.v@gmail.com
http://about.me/hAh0L

[2016-07-05 14:53] matt876 commented on #638
I updated to  v.2.4.160704 today and I still have the same problem viewing the protocols list.

So far 2.4 seems stable. 2.5 would not stay running for more than 30 minutes under load. We are running at peak 1Gbps through it.

From: Luca Deri [mailto:notifications@github.com]
Sent: Monday, July 04, 2016 5:27 PM
To: ntop/ntopng
Cc: matt876; Author
Subject: Re: [ntop/ntopng] Can't list protocols on

[2016-07-05 15:26] simonemainardi commented on #638
we are aware of an nDPI bug https://github.com/ntop/nDPI/issues/225 that is causing crashes in version 2.5. @kYroL01 is looking at it.

[2016-07-05 17:42] satishdotpatel opened #644 "Report tab disappear after few minutes."
I am using community version to test all feature and i have notice after few minutes, my report tabs disappearing and only i can see is Dashbord.

is this normal on community version??

[2016-07-05 17:43] lucaderi commented on #644
Correct. Please add --community to stay in community mode (no pro switch)

[2016-07-05 17:43] #644 closed, assigned to nobody

[2016-07-05 17:48] satishdotpatel commented on #644
You scared me :) , because you reply was freaking fast.. Great!!!  let me try and get back to you.

Question:

In community mode we can collect _total_ 25k flows right, what happen after 25k?

[2016-07-05 17:51] lucaderi commented on #644
No limit at all in community mode. Just tweak with -x/-X to raise limits

[2016-07-05 18:55] satishdotpatel commented on #644
See, i am getting this warning, it say "NOTE: This is a DEMO version limited to 25000 flows export."

I have tried "-X" too

[code]

[2016-07-05 20:25] joval-sv opened #645 "ES Dropped Messages"
I have upgraded from v2.3 to latest v2.5 and now cannot save flows to Elasticsearch. I keep getting the following error:

Jul  5 14:25:14 collector1 ntopng: [ElasticSearch.cpp:64] WARNING: [ES] Message dropped. Total messages dropped: 961145
Jul  5 14:25:14 collector1 ntopng: [ElasticSearch.cpp:64] WARNING: [ES] Message dropped. Total messages dropped: 961146

After looking at the code from GIT, t

[2016-07-05 20:41] satishdotpatel opened #646 "Hosts Geo map not working"
I have two ntopng server, one of them i am getting this error when i got to "Hosts Geo Map" I am running    2.5.160701 - Community Edition

Oops! Something went wrong.
This page didn't load Google Maps correctly. See the JavaScript console for technical details.

[2016-07-05 20:56] satishdotpatel commented on #646
Found solution:

Google change some policy so you need to obtain API key and insert into /usr/share/ntopng/scripts/lua/hosts_geomap.lua

`<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=YOUR_API_KEY"></script>`

https://www.latecnosfera.com/2016/06/google-maps-api-error-missing-keymap-error-solved.html

[2016-07-05 21:38] lucaderi commented on #644
This is nprobe not ntopng (you have open an issue under ntopng). After the demo, it stops.

[2016-07-05 22:23] lucaderi commented on #642
@como00 Please confirm that with the latest app version, you see only unknown (not 'too early anymore')

[2016-07-05 23:08] lucaderi commented on #638
@matt876 The nDPI issue has been solved. Please confirm ntopng is working now.

[2016-07-06 08:04] ghost commented on #642
@lucaderi no, now I see more ("too early") than before, the number of unknow and too early has increased.

[2016-07-06 08:11] simonemainardi commented on #642
@como00 please post ntopng and nprobe versions used

[2016-07-06 08:19] ghost commented on #642
nTopng: v.2.4.160705 - Pro Small Business Edition
nProbe:  v.7.4.160705

[2016-07-06 09:48] simonemainardi commented on #646
thanks for pointing it out. We have added a new field in the ntopng preferences page to set the google api key

![image](https://cloud.githubusercontent.com/assets/3397663/16614085/92bf8cb8-436f-11e6-83a4-19506e62cbb9.png)

[2016-07-06 09:48] #646 closed, assigned to nobody

[2016-07-06 10:45] simonemainardi commented on #645
are you sure the issue started occurring only when switching between 2.3 and 2.5? I'm asking because ElasticSearch.cpp hasn't been changed for more than 3 months so it is unlikely that a bug popped out in the switch.

Can you please try and setup another empty ES test instance and see what happens?

[2016-07-06 12:53] matt876 commented on #638
2.5.160706 is not crashing, however it stopped receiving or processing data about 2 hours after running. Investigating further.

From: Luca Deri [mailto:notifications@github.com]
Sent: Tuesday, July 05, 2016 7:08 PM
To: ntop/ntopng
Cc: matt876; Mention
Subject: Re: [ntop/ntopng] Can't list protocols on protocols tab for host. (#638)

@matt876 https://github.com/matt876  The nDPI issue has been sol

[2016-07-06 13:02] simonemainardi commented on #638
look at the interface overview page _dropped packets_ and see if there is something strange going on. Can you post the the startup string used?

[2016-07-06 13:51] matt876 commented on #638
I am using all yum and RPM based installs. My config file contains local networks and two interfaces.

I just updated drivers, cleared old data off the disks and fix a couple issues I found in the log files. Running for now so if it fails again I will do more digging. Thanks

From: simonemainardi [mailto:notifications@github.com]
Sent: Wednesday, July 06, 2016 9:02 AM
To: ntop/ntopng
Cc: matt876;

[2016-07-06 15:17] kyoshi-maru commented on #635
Works with the latest release, many thanks for the quick fix.

[2016-07-06 15:17] #635 closed, assigned to simonemainardi

[2016-07-06 16:28] joval-sv commented on #645
I restarted Elasticsearch with an empty instance, and the same results
occurred, as seen in the logs:

Jul  6 09:25:15 collector1 kernel: device p1p1 entered promiscuous mode
Jul  6 09:25:15 collector1 kernel: device p1p2 entered promiscuous mode
Jul  6 09:25:35 collector1 ntopng: [ElasticSearch.cpp:58] WARNING: [ES]
Export queue too long [32768]: expect drops
Jul  6 09:25:35 collector1 ntopng: [E

[2016-07-06 17:28] matt876 commented on #638
It is still failing. Just stops processing data. Nothing in the logs.

No Ethernet errors or drops.

ntopng.conf

-G=/var/tmp/ntopng.pid

#-F="mysql;localhost;ntopng;flows;ntopng;d0ntf0rg3t"

--data-dir /home/ntopng/data

--interface=eth1

--interface=eth2

--local-networks="208.93.184.0/21,199.87.176.0/21,172.16.0.0/12,10.0.0.0/8,192.1

68.0.0/16"

[root@nx-ic-ntop01 ~]# more /etc/init.d/ntopng

[2016-07-06 19:20] lucaderi commented on #638
@matt876 Please generate a core dump and send me both the ntopng binary and the core. Thanks

[2016-07-06 19:52] lucaderi commented on #645
It looks ELK is too slow and not all flows are dumped into ELK. Can you please check if this is the case? So export seems to work, just drops occur

[2016-07-06 21:09] matt876 commented on #638
Working on the dump. I noticed after letting this sit for some time there are now dropped packets in the interface status page.

From: Luca Deri [mailto:notifications@github.com]
Sent: Wednesday, July 06, 2016 3:21 PM
To: ntop/ntopng
Cc: matt876; Mention
Subject: Re: [ntop/ntopng] Can't list protocols on protocols tab for host. (#638)

@matt876 https://github.com/matt876  Please generate a core du

[2016-07-07 00:08] gmourani commented on #638
Hello,

I got the same issue with version 2.4 on CentOS 6.7.
[Lua.cpp:5134] WARNING: Script failure [/usr/share/ntopng/scripts/lua/host_details_ndpi.lua][table index is nil]

Gerhard,

[2016-07-07 01:24] gmourani commented on #638
This happen for me when running in proxy mode --http-prefix /ntopng

[2016-07-07 08:02] mydzen opened #647 "ntopng switches itself off every day"
Hi, we faced with a problem with ntopng.
Service ntopng switches itself off every day. And every morning we reboot the system manually and it runs correctly. It lasts about a month.
We use 2.5.160706 - Pro Small Business Edition on Ubuntu 14.04.4 LTS.
How can we solve this problem?

[2016-07-07 12:28] lucaderi commented on #647
You need to crash ntopng, generate a core, then send me a tar file containing both ntopng and the core

[2016-07-07 12:36] mydzen commented on #647
Hi, Luca, can you send/write some instruction for generating this tar-file with necessary information.
I have Ubuntu and ntopng intstalled by default.

[2016-07-07 12:50] lucaderi commented on #647
http://www.ntop.org/support/faq/how-to-report-a-bug-on-ntop-apps/

[2016-07-07 14:53] simonemainardi commented on #638
I went through the error reported

The error is caused by
`[NDPI] ndpi_init_protocol_defaults(missing protoId=226) INTERNAL ERROR: not all protocols have been initialized`

The error above, in turn, determines the insertion of a `nil` value as key in the lua table obtained with `interface.getnDPIProtocols()` and, consequently, the following error is raised
`
[Lua.cpp:5134] WARNING: Script failure

[2016-07-07 15:50] gmourani commented on #638
Hello Luca,

You are right, using the latest nDPI and recompiling 2.4 with it solved the problem.

Gerhard,

[2016-07-07 15:57] kzhang201 opened #648 "ntopng dashboard dose not display graph"
ntopng dashboard and report dose not display graph on Professional version.

![dashboardcapture](https://cloud.githubusercontent.com/assets/20341664/16659871/f1738e74-4439-11e6-83ac-755403746867.JPG)
![reportcapture](https://cloud.githubusercontent.com/assets/20341664/16659872/f1790b38-4439-11e6-844a-b861ce41e057.JPG)

[2016-07-07 16:19] simonemainardi commented on #638
thanks for giving feedback. So compiling from sources solves the issue. However, we should be able to fix this also in packaged binaries.

[2016-07-07 16:20] simonemainardi commented on #648
please, paste also ntopng output log and startup string.

[2016-07-07 16:41] kzhang201 commented on #648
can you let me know where log location under CentOS 7?

[2016-07-07 16:42] kzhang201 commented on #648
[root@njsniffer ntopng]# more ntopng.conf
-G=/var/tmp/ntopng.pid
-i=em2
-i=p1p1
-i=p1p2
-i=p1p3
-i=p1p4
-i=view:p1p2,p1p3
-m=74.201.176.0/24,10.201.10.0/24,10.201.11.0/24

# Dump flows to MYSql

--dump-flows=mysql;localhost;ntopng;flows;ntopng;ntopng

[2016-07-07 16:47] kzhang201 commented on #648
the current log file is empty.

[root@njsniffer ntopng]# ls -l
total 192
-rwxrwxrwx. 1 root root      0 Jul  7 03:19 ntopng.log
-rwxrwxrwx. 1 root root      0 Jul  4 03:28 ntopng.log-20160704
-rwxrwxrwx. 1 root root      0 Jul  5 03:40 ntopng.log-20160705
-rwxrwxrwx. 1 root root   8707 Jul  6 03:09 ntopng.log-20160706
-rwxrwxrwx. 1 root root 180498 Jul  7 03:19 ntopng.log-20160707

[2016-07-07 17:03] simonemainardi commented on #648
you can either look in `/var/log/ntopng/ntopng.log` or run ntopng in foreground or browse ntopng menu entry "Runtime Status"

[2016-07-07 17:04] simonemainardi commented on #648
![image](https://cloud.githubusercontent.com/assets/3397663/16661930/8fe06042-4475-11e6-919e-38dea324d8b9.png)

[2016-07-07 17:06] kzhang201 commented on #648
ntopng Runtime Status
System Id   59844ABA9206AAF2
Version 2.4.160705 - Pro Small Business Edition
Platform    x86_64-unknown-linux-gnu [x86_64][CentOS Linux release 7.2.1511 (Core) ] - 64 bit
Startup Line    ntopng --pid "/var/tmp/ntopng.pid" --interface "em2" --interface "p1p1" --interface "p1p2" --interface "p1p3" --interface "p1p4" --interface "view:p1p2,p1p3" --local-networks "74.201.176.0/24

[2016-07-07 17:51] kzhang201 commented on #648
Problem was cause due to firefox browser version 47.0.  it's running OK with Google chrome.

![capture](https://cloud.githubusercontent.com/assets/20341664/16663303/9df2154e-4449-11e6-88df-51bf6b07e64b.JPG)

[2016-07-07 17:56] kzhang201 opened #649 "Saving flow throughput and display flow historical data from GUI"
It will nice to have ntopng be able saving flow throughput in the sql database and display those historical data from GUI

[2016-07-07 22:03] seismiccollision opened #650 "DOT1Q_SRC_VLAN from nprobe not populating VLAN in ntopng"
Tweaking my nprobe template that is collecting sflow
I noticed that %SRC_VLAN and %DST_VLAN didn't populate via nprobe but %DOT1Q_SRC_VLAN did however I don't see ntopng making use of that template field

[2016-07-08 05:28] Niko78 opened #651 "networks menu empty"
in 2.5.160704 when I go in hosts menu then I chose networks, it is empty
it was ok before

Nico

[2016-07-08 07:46] simonemainardi commented on #651
you already know you have to update to the latest dev build before posting the issue.

[2016-07-08 07:46] #651 closed, assigned to nobody

[2016-07-08 07:47] simonemainardi commented on #651
that has already been fixed in the latest dev

[2016-07-08 09:19] simonemainardi commented on #650
can you please capture sflow traffic in order to make sure it is actually carrying SRC_VLAN and DST_VLAN ? Feel free to enclose the pcap if you want us to do the check.

[2016-07-08 10:23] simonemainardi commented on #648
can you please try and force the reload of javascript files that have been loaded in the browser?

it should be something like `ctrl + shift + r` or `ctrl + F5` not sure.

[2016-07-08 12:48] gmourani opened #652 "Some broken link when using the proxy mode"
Hello,

When using the --http-prefix /ntopng option to run ntopng behind a proxy, I've noticed the following pages having some broken link.

top_hosts.lua - Link at the right of the page doesn't work (missing /ntopng/ in front of the link)
show_alerts.lua - Link into the Description column doesn't work (missing /ntopng/ in front of the link)

Gerhard,

[2016-07-08 13:34] simonemainardi commented on #638
fixed in https://github.com/ntop/nDPI/commit/72e3930e088c9e6df51f7f314935167c63b8d0ad

[2016-07-08 13:34] #638 closed, assigned to nobody

[2016-07-08 14:29] #652 closed, assigned to nobody

[2016-07-08 14:59] simonemainardi commented on #648
with FF 45 on ubuntu works as expected. Please try and do what we suggested above

![image](https://cloud.githubusercontent.com/assets/3397663/16691527/443db528-452d-11e6-9077-04513810ad62.png)

[2016-07-08 16:00] #643 closed, assigned to simonemainardi

[2016-07-08 16:01] simonemainardi commented on #643
than you for the suggestion. database schema is now automatically migrated.

[2016-07-08 17:01] gmourani commented on #652
Simone,

Patches worked well for the "top_hosts.lua" page but no for the “show_alerts.lua" page.

Gerhard,

[2016-07-08 17:18] simonemainardi commented on #652
Note that Patches will affect newely generated alerts only
Il 08/lug/2016 19:01, "gmourani" notifications@github.com ha scritto:

[2016-07-08 17:33] gmourani commented on #652
I’ve purged all alerts but still not working. Also, I’ve found that purging all alerts globally doesn’t reset the alert counter for individual host even if all removed!

[2016-07-08 17:45] seismiccollision commented on #650
@simonemainardi the sflow I'm capturing contains the 802.1q tag
I was running tests with nprobe writing out to a file and saw the SRC_VLAN and DST_VLAN write out at "0" but DOT1Q_SRC_VLAN writes out the VLAN contained in the sflow capture's dot1q header

Does that make sense?

[2016-07-08 22:25] kzhang201 commented on #648
Ctrl-Shift-r did resovled the problem in firefox

[2016-07-08 22:25] #648 closed, assigned to nobody

[2016-07-09 16:13] surajit26 commented on #143
Hi,
I am new on this and I have installed ntopng 2.4.160705 in centos 7. However, I am getting following error message while selecting host>click on any host>protocol. Run time status also showing same error.
I am attaching error message and run time status for your reference.
/usr/share/ntopng/scripts/lua/host details ndpi.lua

Thanks a ton in advance for your response.

![ntopng error](https://c

[2016-07-09 16:15] surajit26 opened #653 "[Lua.cpp:5134] WARNING: Script failure [/usr/share/ntopng/scripts/lua/host_details_ndpi.lua][table index is nil]"
Hi,
I am new on this and I have installed ntopng 2.4.160705 in centos 7. However, I am getting following error message while selecting host>click on any host>protocol.
/usr/share/ntopng/scripts/lua/host details ndpi.lua

Run time status also showing same following error.
09/Jul/2016 21:37:48 [Lua.cpp:5134] WARNING: Script failure [/usr/share/ntopng/scripts/lua/host_details_ndpi.lua][table index is

[2016-07-11 06:58] Artapel opened #654 "Internal Error while viewing Localhost"
Good day.

We are having an issue while trying to view data for local Hosts

When ever i click on a local host i get the following error

HTTP/1.1 500 Internal server error Content-Type: text/html Connection: close   Script "/usr/share/ntopng/scripts/lua/host_details.lua" returned an error:

Any Ideas?

[2016-07-11 07:31] simonemainardi commented on #652
so please post a screenshot of the alerts for which hyperlinks till don't have the http prefix. I need to see the type of alerts.

[2016-07-11 07:38] simonemainardi commented on #653
already fixed and discussed in #638, please update your 2.4 package.

[2016-07-11 07:38] #653 closed, assigned to nobody

[2016-07-11 07:41] simonemainardi commented on #654
please, report both the error that you get from the web browser and any error that appears in the log (console or log file). Also, post the version you are using.

[2016-07-11 08:21] simonemainardi commented on #143
@surajit26 I guess you didn't want to post the message here as you have opened a new issue with the same identical topic and content https://github.com/ntop/ntopng/issues/653

[2016-07-11 09:52] Artapel commented on #654
Hi Here are the Program Versions

n2disk.x86_64 0:2.7.160711-4663
nbox.noarch 0:2.5.0-508
nprobe.x86_64 0:7.5.160711-5345
ntopng.x86_64 0:2.5.160711-1322
ntopng-data.noarch 0:2.5.160711-1322
pfring.x86_64 0:6.5.0-713
pfring-dkms.noarch 0:6.5.0-713

Here are the Host details

Linux monitor 3.10.0-229.20.1.el7.x86_64 #1 SMP Tue Nov 3 19:10:07 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

Here are the bro

[2016-07-11 12:31] #654 closed, assigned to nobody

[2016-07-11 12:31] simonemainardi commented on #654
said that I can't reproduce, I've added an extra check to prevent the error.

[2016-07-11 13:27] jmunty opened #655 "--data-dir option missing in Ntopng Windows x64 v.2.4.270616 ?"
Hi
Has the --data-dir option been deprecated?

It appears in the Version 2.4 User Manual for NtopNG for Version for June 2016.
But it doesn't appear in the list of commands when i do a  ntopng /c -h
And if i actually use the option from the command line, it doesn't do anything.
I also checked with procmon on Windows and can't see ntopng attempting to access the directory i specify in --data-dir,..

[2016-07-11 14:12] gmourani commented on #652
Hello,

Attached is a screenshot.

Gerhard,

[2016-07-11 14:16] simonemainardi commented on #650
@seismiccollision everything looks good as very likely the sflow doesn't have SRC_VLAN and DST_VLAN, but has just the DOT1Q_SRC_VLAN populated. This is why you get 0 for SRC_VLAN.

Also according to this discussion https://www.ietf.org/mail-archive/web/ipfix/current/msg06205.html I argue we could collapse DOT1Q_SRC_VLAN to SRC_VLAN for visualization purposes in ntopng. However, I would be interest

[2016-07-11 14:19] simonemainardi commented on #652
can't see the attchement.

[2016-07-11 14:31] gmourani commented on #652
OK, here in a zip format.

[2016-07-11 14:36] simonemainardi commented on #652
no, there is no attachment. please go to the github issue page and upload the screenshot from there

[2016-07-11 18:29] lucaderi commented on #650
@seismiccollision Please send me a pcap to reproduce your issue and also specify the exact CLI I need ti use to reproduce the issue

[ 58] %SRC_VLAN                   %vlanId                       Source VLAN (inner VLAN in QinQ)
[ 59] %DST_VLAN                   %postVlanId                   Destination VLAN (inner VLAN in QinQ)
[243] %DOT1Q_SRC_VLAN             %dot1qVlanId                  Sour

[2016-07-12 07:10] surajit26 commented on #653
![ntopng error 1](https://cloud.githubusercontent.com/assets/20370958/16758180/dbd6a090-482d-11e6-9515-82981a24213d.jpg)
I am already running it in version 2.4 however, issue till exists. Please help.

[2016-07-12 07:20] seismiccollision commented on #650
@lucaderi I will follow this up with a sample pcap to your email
The command I was using to see this was:
`nprobe -b 2 --interpret-flow-packets -P temp --collector-port 6344 -T "%EXPORTER_IPV4_ADDRESS %INPUT_SNMP %OUTPUT_SNMP %IPV4_SRC_ADDR %IPV4_DST_ADDR %IPV4_NEXT_HOP %IN_PKTS %IN_BYTES %FIRST_SWITCHED %LAST_SWITCHED %L4_SRC_PORT %L4_DST_PORT %TCP_FLAGS %PROTOCOL %SRC_TOS %SRC_AS %DST_AS %IPV4_S

[2016-07-12 07:41] simonemainardi commented on #653
I am not sure that build include the fix. Please, let me check. I'll report back today.

[2016-07-12 07:42] malinkinsa opened #656 "/usr/bin/ntopng: error while loading shared libraries: libzmq.so.4: cannot open shared object file: No such file or directory --- solved"
Hello,
Use this article (http://packages.ntop.org/centos-stable/) i install ntopng.
And additionaly installed hiredis-devel.

But immediately i have a this error.
I use CentOS7
results of ldd:
`
        ldd /usr/local/bin/ntopng
    linux-vdso.so.1 =>  (0x00007ffca7b51000)

[code]

[2016-07-12 08:11] Artapel opened #657 "Ntopng does not come back up after restart"
I ran a systemctl restart ntopng but Ntopng never became available again

Here are the last and only entried that was written to the ntopng.log file

tail -f /var/log/ntopng/ntopng.log
"
11/Jul/2016 15:49:55 [main.cpp:37] Shutting down...
11/Jul/2016 15:49:56 [main.cpp:34] Ok I am leaving now
"

When i check the "systemctl status ntopng"i get the following

I have tried the following guides and fi

[2016-07-12 08:17] malinkinsa commented on #657
So, i have a this trouble too.
My issues https://github.com/ntop/ntopng/issues/656

[2016-07-12 08:30] simonemainardi commented on #656
centos7 package manager pulls in the zmq dependency automatically when installing ntopng:

[code]

However, as you pointed out, ntopng is liked against shared library `libzmq.so.4` whereas `.5` is being installed.

[code]

#137 didn't help

as a workaroud you can do a `ln -s /lib64/libzmq.so.5 /lib64/libzmq.so.4` but this should also be fixed in the packages

[2016-07-12 08:31] simonemainardi commented on #657
duplicate, please follow up on the other thread

[2016-07-12 08:31] #657 closed, assigned to nobody

[2016-07-12 10:11] malinkinsa commented on #656
@simonemainardi ,
It's work, thanks!
Also, we will wait fixing packages.

[2016-07-12 10:21] mathieufrh opened #658 "CollectorInterface.cpp + ZMQ compilation error"
I just install a clean Debian 8 VM and try to install ntopng.
I install the dependencies but when I compile I got thes following:

[code]

Then I do

[code]

And everything works flawlessly.
Maybe you should update the doc/README.compilation, I can request a merge if you prefer.

[2016-07-12 13:12] bryantsev1980 commented on #647
Hi, Luca. mydzen vacation. When restarted Service ntopng frequently changing SystemID and detecting License mismatch error. How fix it?

Successful boot:
12/Jul/2016 07:41:32 [Redis.cpp:92] Successfully connected to redis 127.0.0.1:6379@0
12/Jul/2016 07:41:32 [NtopPro.cpp:123] [LICENSE] Reading license from /etc/ntopng.license
12/Jul/2016 07:41:32 [Ntop.cpp:1095] Parent process is exiting (this is

[2016-07-12 13:17] simonemainardi commented on #647
Hi Brian, I guess you are running ntopng on a VM that changes some hardware
upon reboot (MAC address for example) and this, in turn, causes the system
id to change.

Please, start ntopng with option --online-license-check and report back.

Thank you,
Simone

On Tue, Jul 12, 2016 at 3:12 PM, bryantsev1980 notifications@github.com
wrote:

[2016-07-12 13:20] bryantsev1980 commented on #647
Hi, Luca. It's a physical server, not a VM.

[2016-07-12 13:22] simonemainardi commented on #647
Let's try with --online-license-check and report back, thank you

On Tue, Jul 12, 2016 at 3:20 PM, bryantsev1980 notifications@github.com
wrote:

[2016-07-12 13:25] lucaderi commented on #647
Do you keep em1 as management interface or it changes across boots?

[2016-07-12 13:33] Artapel opened #659 "No Result Found when clicking on Talkers/Host"
Good day

Its seems that my ntopng does not keep historical data in the "Talkers" and "Protocols" tabs.

I've done a yum update and the DB upgraded before posting this

![ntopng no historical data](https://cloud.githubusercontent.com/assets/18235030/16768739/d3a32926-4845-11e6-8a4c-de2a44916db6.PNG)

[2016-07-12 13:36] simonemainardi commented on #659
as there are no ipv4/ipv6 tabs shown in the picture, I assume there are no flows saved for that host in the specified time range. Are you able to visit talkers and protocols for example from the interface page? Or from other hosts?

[2016-07-12 13:48] Artapel commented on #659
I Saved the network as n local network

[@monitor yum.repos.d]# vim /etc/ntopng/ntopng.conf
-G=/var/tmp/ntopng.pid
-q=
-F mysql;HIDDEN
--verbose
--disable-autologout
--dns-mode 1
-m=193.168.0.0/24,192.168.1.0/24,192.168.6.0/24,192.168.62.0/24,192.168.63.0/24,192.168.66.0/24,192.168.65.0/24,192.168.62.0/24,192.168.60.0/24,192.168.21.0/24,192.168.13.0/24,192.168.4.0/24,192.168.5.0/24,192.168.1.0/24,

[2016-07-12 13:53] simonemainardi commented on #625
@Niko78 in no way I've been able to reproduce this issue. Is that a temporary glitch? Or is it persistent? Paste also ntopng configuration and architecture. Thank you. By the way, first try and update to the latest version.

[2016-07-12 13:54] simonemainardi commented on #659
images don't get attached if you use the mail client. However, paste the complete ntopng log or console output.

Simone

[2016-07-12 13:56] Artapel commented on #659
It  also seems that my Ntopng are not writing to logs since the update

Please see below

“
ntopng.log              ntopng.log-20160312.gz  ntopng.log-20160313.gz  ntopng.log-20160314.gz  ntopng.log-20160709     ntopng.log-20160710     ntopng.log-20160711     ntopng.log-20160712
[@monitor yum.repos.d]# tail -f /var/log/ntopng/ntopng.log
“

Regards
[Corne Kruger]

[2016-07-12 13:58] simonemainardi commented on #659
what about `ntopng.log-20160712`.

however, you can also start ntopng in foreground and inspect the output

[2016-07-12 14:04] Artapel commented on #659
Here are the latest log (By Date)
Take a close look at the dates, (File name, Log entries)

[@monitor yum.repos.d]# tail -f  /var/log/ntopng/ntopng.log-20160712
11/Jul/2016 15:49:55 [Lua.cpp:633] ntop_get_file_dir_exists() called
11/Jul/2016 15:49:55 [Lua.cpp:2267] ntop_rrd_update(/var/tmp/ntopng/0/rrd/tcp_retransmissions.rrd) N:0
11/Jul/2016 15:49:55 [Lua.cpp:717] ntop_is_windows() called
11/Jul/

[2016-07-12 14:20] simonemainardi commented on #659
that is not helpful. I need to see ntopng logs from the beginning to the end, no need to be verbose

[2016-07-12 14:21] simonemainardi commented on #659
also try to navigate to the historical pages / talkers / protocols to see if that triggers some error

[2016-07-12 14:27] Artapel commented on #659
Can i attach a file to this Email? Or just copy the very long log in here?

Regards
[Corne Kruger]

[2016-07-12 15:33] bryantsev1980 commented on #647
No, we don't change management interface across boots, how it check?

after adding --online-license-check it works:

12/Jul/2016 15:25:50 [Redis.cpp:92] Successfully connected to redis 127.0.0.1:6379@0
12/Jul/2016 15:25:50 [NtopPro.cpp:123] [LICENSE] Reading license from /etc/ntopng.license
12/Jul/2016 15:25:50 [NtopPro.cpp:136] Contacting licensing server. Please hold on...
12/Jul/2016 15:25:50 [

[2016-07-12 18:32] lucaderi commented on #650
I have fixed this issues and the patch will be included in the next build. In essence in case of a single encapsulation (no stacked VLANs) nprobe now populates also the inner VLAN tags (SRC_VLAN/DST_VLAN) . Thanks for reporting it.

[2016-07-12 18:35] #658 closed, assigned to nobody

[2016-07-13 07:50] simonemainardi commented on #659
do not use verbose flags when starting ntopng. Normal verbosity suffices. Use the github issue page to attach the file: I am not sure attachments go thru when using a mail client.

[2016-07-13 12:48] gnufan commented on #337
It's works for me e grazie mile luca per il suo lavoro

[2016-07-13 14:00] matt876 commented on #638
I installed 2.5.160712 yesterday and it has been perfectly stable for 24 hours.

From: Luca Deri [mailto:notifications@github.com]
Sent: Wednesday, July 06, 2016 3:21 PM
To: ntop/ntopng
Cc: matt876; Mention
Subject: Re: [ntop/ntopng] Can't list protocols on protocols tab for host. (#638)

@matt876 https://github.com/matt876  Please generate a core dump and send me both the ntopng binary and the co

[2016-07-13 14:05] simonemainardi commented on #638
thanks for reporting

[2016-07-13 20:56] h8h commented on #645
I have the same messages.

I applied the ES settings in version 2.5, therefore I don't have a clue if this happens earlier.

`[ElasticSearch.cpp:64] WARNING: [ES] Message dropped. Total messages dropped: 32134`

@lucaderi  is it possible to threshold the message? My logs file size grows up to 2GB per day!

My configuration

`
-H --dns-mode 3 -W 3001 -m 192.168.0.0/16,172.16.0.0/12,10.0.0.0/8,127.0

[2016-07-13 22:11] lucaderi commented on #645
The message should have been fixed in the current development builds. The -X is an internal ntopng setting that should not affect ELK unless it is low (such as in your case). In this case ELK drops will disappear as is ntopng that will drop data. My suggestion is that ELK can be used for small businesses, but if you have quite some traffic you need a powerful ELK cluster to keep up with traffic

[2016-07-14 14:27] joval-sv commented on #645
Hi,

I moved the ES data folder to a SSD, and my problems went away. I am
currently storing flows at a peak of~4M/hr without issues. I guess that
in order to capture a very large number of flows, ES needs a more
responsive disk subsystem.

BTW, I modified my INDEX as follows:

-F es;ntopng;ntopng-%Y.%m.%d-%H;http://xxxx:9200/_bulk;

I do not use a user/password, only restrict access via IPTABLES t

[2016-07-14 16:36] Niko78 commented on #625
it is a temporary thing but sometimes it reappears
architecture is simple : only one server with nprobe/ntopng where all my routers send theur netflow datas

ntop config
ntopng -F "mysql;localhost;ntopng;flows;root;xxxx" -m "161.48.0.0/19,100.64.0.0/16,100.65.0.0/16,100.66.0.0/16,100.77.0.0/16,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16" -i tcp://172.31.1.245:5556 -d /storage/tmp -w 3000 -x 250000 -X

[2016-07-14 16:44] simonemainardi commented on #645
thanks for giving the feedback. I think it is safe now to close this.

[2016-07-14 16:44] #645 closed, assigned to nobody

[2016-07-14 22:02] thecowinheat opened #661 "Cannot Dump Traffic on mirror trunk port"
Running NTOPNG on a mirror port of my firewall.  Firewall port has about 20 Vlans coming into it.  When viewing an individual host i click dump traffic and then get forwarded to a cannot find host page.  This is consistent on any device from this port.  If i push an access port to it the Vlans no longer come through but i can dump traffic.  i.e. if it shows up as 10.14.120.10@14 it does not work b

[2016-07-15 06:36] Artapel commented on #659
Ive done another update and restarted the ntopng service

Here are the log output

15/Jul/2016 08:35:19 [MySQLDB.cpp:550] Attempting to connect to MySQL for interface lo...
15/Jul/2016 08:35:19 [MySQLDB.cpp:55] ERROR: MySQL error: Unknown column 'IN_BYTES' in 'field list' [rc=-1]
15/Jul/2016 08:35:19 [MySQLDB.cpp:55] ERROR: MySQL error: Unknown column 'IN_BYTES' in 'field list' [rc=-1]
15/Jul/2016

[2016-07-15 10:48] simonemainardi commented on #659
the error

[code]

means that the ntopng database was not properly migrated. ntopng migrates the db schema automatically.

Please, make sure to upgrade to the latest dev build.

Also note that the log above is incomplete, the first part is missing.

[2016-07-15 11:41] Artapel commented on #659
15/Jul/2016 13:36:39 [main.cpp:37] Shutting down...
15/Jul/2016 13:36:40 [main.cpp:34] Ok I am leaving now
15/Jul/2016 13:36:42 [Ntop.cpp:1121] Setting local networks to 192.168.0.0/24,192.168.1.0/24,192.168.6.0/24,192.168.62.0/24,192.168.63.0/24,192.168.66.0/24,192.168.65.0/24,192.168.62.0/24,192.168.60.0/24,192.168.21.0/24,192.168.13.0/24,192.168.4.0/24,192.168.5.0/24,192.168.1.0/24,192.168.66.0

[2016-07-15 12:20] simonemainardi commented on #659
this is normal: a mysql schema update is in progress. You should be
notified from the web interface. Did you wait until the completion? Upon
completion the web interface redirects you to the usual ntopng.

On Fri, Jul 15, 2016 at 1:41 PM, Artapel notifications@github.com wrote:

[2016-07-15 13:04] faisalusuf opened #662 "ntopng Web GUI password reset to default after update to v2.4"
Hi,
I have upgraded my existing ntopng deployment to v2.4. After upgrade the web gui password reset to default "admin". Also observing that the web gui response time (navigating b/w different tabs) is increased after the upgrade.

Thanks
Faisal.

[2016-07-15 13:37] #661 closed, assigned to nobody

[2016-07-15 13:37] simonemainardi commented on #661
it should be fixed now, please hold on and reinstall the package tomorrow.

[2016-07-15 14:03] simonemainardi commented on #662
this is far too generic to be considered an issue.

ntopng updates don't touch redis so no password is ever changed during an update. Make sure you didn't upgrade the system and that caused redis to be cleared.

Also saying response time increased is too generic. Did you apply other changes / updates to the system apart from ntopng? Also you should report system load, architecture, OS, ntopng conf

[2016-07-15 14:18] Artapel commented on #659
A few times already

I just restarted ut noiw so that i can give you the 1st part of the log.

Now after the last update i cant seem to log in aswell.

Even the monitor PC that never EVER gets touched can log it.

The remembered credentials just dont work. Yet it does not tell you that the password is wrong. It just seems like it Silently fails and “removes” the password in the password field.

Re

[2016-07-15 15:16] simonemainardi commented on #659
you should wail until the database schema is completed before attempting to log in

[2016-07-15 15:49] lucaderi commented on #647
So you have got a solution now.

[2016-07-15 15:49] #647 closed, assigned to nobody

[2016-07-15 18:43] bryantsev1980 commented on #647
Yes, the problem was in line "/bridge" in file  /etc/rc.local
the problem disappeared after it was commented out
Thank you

[2016-07-18 06:55] Artapel commented on #659
Its takes about 3 to 4 hours to restart Ntop so i cannot restart it and still manage to catch the 1st part of the log.

But here are the last snippets of it.

Also i still cant log in. No error msgs. The Login button just seems to silently fail.

Please note the log below has been taken at the same time i were trying to log in multiple times.
It seems that the login attempt does not get logged.

A

[2016-07-18 07:57] simonemainardi commented on #659
ntopng is updating the database schema. The time it takes depends on the size of the existing database. This is normal. If you can't afford waiting for the update, please use a new name for the db in the -F startup string (e..g, `ntopng2`) so ntopng will start immediately. Then you can import records in the other db manually, for example by using mysqldump.

[2016-07-18 08:36] Artapel commented on #659
Simone its not about the starting of the DB, Its about me not being able to log in after the update.

I only restart the DB so that i can get you information from the logs. But i Still cannot log in when the update is done.

Regards
[Corne Kruger]

[2016-07-18 13:34] Artapel commented on #659
I have not heard back from you and wen eed to get this working

Please advise

Regards
[Corne Kruger]

[2016-07-18 13:50] simonemainardi commented on #659
the latest issue you mentioned is unrelated to the topic of this post that has been properly addressed and closed. I guess the 'can't login issue' is still related to your older (and closed) issue 'https://github.com/ntop/ntopng/issues/472'.

Note that this is community support and issues are served in best effort so please don't push if you don't get an answer in 2 hours.

[2016-07-18 13:55] Artapel commented on #659
Im getting Flack from the Business unit to get this sorted.

We are running the pro version and did pay for the lisence. Would you then mind logging in and sorting it out?

Regards
[Corne Kruger]

From: simonemainardi [mailto:notifications@github.com]
Sent: 18 July 2016 03:50 PM
To: ntop/ntopng
Cc: Corne Kruger; Author
Subject: Re: [ntop/ntopng] No Result Found when clicking on Talkers/Host (#659)

[2016-07-18 14:25] simonemainardi commented on #659
Thanks for using the professional version. As it is clearly stated in the shop, the license you purchased includes 5 days installation support and 1 year of updates.

[2016-07-18 14:31] Artapel commented on #659
So you are not helping

I tried all the suggestion you suggested.
I followed many other guides from other that have exatly the same problem to no avail?

Simone, What should the client do?

End result is we need it to work. It stopped working after a update?
None of us here are happy with you at the moment.

Regards
[Corne Kruger]

From: simonemainardi [mailto:notifications@github.com]
Sent: 18 Ju

[2016-07-18 14:36] lucaderi commented on #659
@Artapel Is remote connection to your box and option to sort out this issue quickly?

[2016-07-18 14:57] Artapel commented on #659
I had to leave for a meeting but will contact you in the morning regarding this.

Thanx for the effort

Regards
Corne Kruger
Live in the image of Jesus.

Sent from my iPhone

On 18 Jul 2016, at 4:36 PM, Luca Deri <notifications@github.com<mailto:notifications@github.com>> wrote:

@Artapelhttps://github.com/Artapel Is remote connection to your box and option to sort out this issue quickly?

—
You a

[2016-07-18 16:38] JSTYL commented on #297
Not sure how many others are testing the ntopng package now that it's available in pfSense 2.3 when using the development update branch. (aka - Not for production)

My recent testing rig came to stumbling halt after the HDD filed up with 12gb's of data from ntopng alongside my squid cache.  I had the "keep historical data" checkbox disabled in the ntopng settings however that did not seem to work.

[2016-07-18 17:42] Andrew17856 commented on #297
I think the configuration options in ntopng have moved on quite a bit since the older version on which the pfSense UI was modelled.  There are various options in the ntopng UI itself (see the preferences) which relate to the storage of RRD data.  You can switch those to off,  or set retention periods.

The most important thing in the pfSense UI is to be able to set the password etc for the ntopng

[2016-07-18 17:59] JSTYL commented on #297
Well, I had already changed the password through the ntopng UI, however I never saw any options for retention settings or a preferences button.

On a side note, another small issue I noticed was that if using a hostname alias in the pfSense > Advanced Settings it fails to connect to ntopng over http using the alias hostname, it keeps trying to redirect to https://hostname:3000

An https login woul

[2016-07-18 18:22] Andrew17856 commented on #297
It's under Gear icon > Preferences > Traffic Metric Storage

There's also Top Talkers Storage and Stats RRDs

[2016-07-18 19:00] JSTYL commented on #297
Yeah, I assumed that's where it would likely be.  The only options I have in the pfSense package when clicking the gear icon in the ntopng UI is "Change Password" & "Export Data".

pfSense Base: 2.3.2.a20160718.0928
Ntopng version: 2.3.160705

Tried a full uninstall and reinstall, still no change.

On Jul 18, 2016, at 1:22 PM, Andrew17856 <notifications@github.com<mailto:notifications@github.com>>

[2016-07-18 19:44] Andrew17856 commented on #297
That's the same ntopng version I'm running.

Are you logged into ntopng as admin?

I have Manage Users, Preferences and Export Data under the gear icon.

[2016-07-18 22:07] JSTYL commented on #297
Yes, I was logged in as the ntopng admin.

 I actually have to setup a couple new servers that arrived today (1 using the dev branch) so I'll see if that install shows up correctly.  If so, I'll try a fresh rebuild in a day or two and that clears up the missing UI options.

On Jul 18, 2016, at 2:44 PM, Andrew17856 <notifications@github.com<mailto:notifications@github.com>> wrote:

That's the same

[2016-07-19 09:45] Artapel commented on #659
I am available now?

Are you available?

Regards
[Corne Kruger]

From: Luca Deri [mailto:notifications@github.com]
Sent: 18 July 2016 04:36 PM
To: ntop/ntopng
Cc: Corne Kruger; Mention
Subject: Re: [ntop/ntopng] No Result Found when clicking on Talkers/Host (#659)

@Artapelhttps://github.com/Artapel Is remote connection to your box and option to sort out this issue quickly?

—
You are receiving th

[2016-07-19 10:48] simonemainardi commented on #659
send remote connection login credentials

[2016-07-19 10:56] Artapel commented on #659
Teamviewer
442 921 855
y1nc25

From: simonemainardi [mailto:notifications@github.com]
Sent: Tuesday, 19 July 2016 12:49 PM
To: ntop/ntopng ntopng@noreply.github.com
Cc: Corne Kruger corne.kruger@cbc-ct.co.za; Mention mention@noreply.github.com
Subject: Re: [ntop/ntopng] No Result Found when clicking on Talkers/Host (#659)

send remote connection login credentials

—
You are receiving this because

[2016-07-19 14:09] rickguise opened #664 "License Problem"
Hello.

I upgraded ntopng to version 2.4.270616 and nprobe to version 7.4.160623 but I am having troubles with the license number for ntopng.

If I enter my permanent license (E3...) in ntopng then I get the "licence expires in x minutes" on my dashboard.

If I try to generate a new one I get the error:  "License 32.. for systemId 4042441195-7104a212 has been already generated: please go back and

[2016-07-19 14:26] simonemainardi commented on #659
I sorted out the issue.

In the ntopng preferences you enabled a PURE LDAP login. This means that, as clearly stated in the manual of ntopng, no access is granted if the LDAP authentication fails. If you used LDAP/Local, then you would have been able to log in using stored credentials.

next time:
- read the manual
- tell the developers that you are using LDAP
- do not complain if you don't get an

[2016-07-19 14:26] #659 closed, assigned to nobody

[2016-07-19 14:29] Artapel commented on #659
If i could have log in to review i would have been easier

I would suggest to have the login screen reply with a relevant error it would have made it much easier for me and you.

It has been a few days tho

But thank you for sorting it out

Regards
[Corne Kruger]

From: simonemainardi [mailto:notifications@github.com]
Sent: 19 July 2016 04:26 PM
To: ntop/ntopng
Cc: Corne Kruger; Mention
Subject: R

[2016-07-19 14:53] Artapel commented on #659
Also I would like to suggest a test function on the ldap config page. If the only method to test it is to log out and back in. Everyone well get locked out and Won't know why

Now to clean up. I've created the test db as you suggested but I need to now merge the DB,s any suggestions?

Regards
Corne Kruger
Live in the image of Jesus.

Sent from my iPhone

On 19 Jul 2016, at 4:25 PM, simonemainardi

[2016-07-19 17:24] C-Duv commented on #548
Using [`ntopng_template_elk.json` template](https://github.com/ntop/ntopng/blob/dev/httpdocs/misc/ntopng_template_elk.json) I am still having `IPV4_DST_ADDR` and `IPV4_SRC_ADDR` being indexed as strings.

**Steps:**
- Stop `ntopng`
- Delete Kibana Index Pattern
- Delete ES index
- Apply template `curl -s https://raw.githubusercontent.com/ntop/ntopng/dev/httpdocs/misc/ntopng_template_elk.json | cur

[2016-07-19 17:40] simonemainardi commented on #548
Hi, thanks for the deep details given. I've just tried to reproduce the issue but IPV4 fields are indexed properly with type `ip`

![image](https://cloud.githubusercontent.com/assets/3397663/16960080/3298919e-4de8-11e6-83dc-ba1dc99432df.png)

[code]

[2016-07-19 17:46] faisalusuf commented on #662
Ah, My bad I have verified the events on the deployment its was a system update actually which caused the password reset.
Thanks for your expert advice.

[2016-07-19 17:46] #662 closed, assigned to nobody

[2016-07-19 21:25] lucaderi commented on #664
Rick can you please check the license? It should be 32C80.... instead of E3... Please recover it at https://shop.ntop.org/recover_licenses.html

[2016-07-19 22:05] C-Duv commented on #548
:(
I'll try on fresh Kibana and ElasticSearch installations.

To prevent me from testing unrelated stuff, can you confirm that this is (to fair extent) an ES mapping issue only? Nothing could be misconfigured on ntopng or Kibana side: no settings to enable nor third-party module needed?

[2016-07-20 07:48] simonemainardi commented on #548
I confirm the test above has been carried out on a zero-conf ES and Kibana. I cannot see any othe possible issue apart from the mapping. I would also like to tell you that you don't have to push the template manually. ntopng does it automatically.

[2016-07-20 08:30] rickguise commented on #664
I also tried with 32C80... but I keep getting "license expires in x minutes".

The recover license page tells me the following:
rguise@ubi.pt
1   License and installation support (one year) of ntopng Pro (Small Business Edition) Linux/Win (x64)
1   ntopng       4042441195-7104a212         2.3.160306  2016-05-12 00:00:00     32C80...

Thank you.

[2016-07-20 08:38] simonemainardi commented on #664
@rickguise Look for file `ntopng` under C:\Windows\Temp : this is a log file. Please share it.

[2016-07-20 08:44] C-Duv commented on #548
Not pushing the template did the trick: thanks :)
I was still following [the FAQ](https://github.com/ntop/ntopng/wiki/02-Elasticsearch-FAQ) which suggest to push it.

[2016-07-20 09:07] simonemainardi commented on #548
thanks for reporting. I updated the FAQ

On Wed, Jul 20, 2016 at 10:44 AM, C-Duv notifications@github.com wrote:

[2016-07-20 09:31] rickguise commented on #664
20/Jul/2016 09:27:04 [Ntop.cpp:1121] Setting local networks to 127.0.0.0/8
20/Jul/2016 09:27:04 [Redis.cpp:92] Successfully connected to redis 127.0.0.1:6379@0
20/Jul/2016 09:27:04 [NtopPro.cpp:120] [LICENSE] Read license from Redis [32C80...]
20/Jul/2016 09:27:04 [NtopPro.cpp:172] ERROR: [LICENSE] Invalid or missing ntopng License [License expired]
20/Jul/2016 09:27:04 [NtopPro.cpp:185] WARNING:

[2016-07-20 09:43] lucaderi commented on #664
Please remove the license from redis as follows (from cmd.exe)

# redis-cli del ntopng.license

so that the license file with the correct license can be read. Then restart ntopng

[2016-07-20 09:52] rickguise commented on #664
OK, just did that and restarted the service:

20/Jul/2016 10:48:21 [Ntop.cpp:1121] Setting local networks to 127.0.0.0/8
20/Jul/2016 10:48:21 [Redis.cpp:92] Successfully connected to redis 127.0.0.1:6379@0
20/Jul/2016 10:48:21 [NtopPro.cpp:120] [LICENSE] Read license from Redis []
20/Jul/2016 10:48:21 [NtopPro.cpp:172] ERROR: [LICENSE] Invalid or missing ntopng License [Empty license file]
20/Jul/

[2016-07-20 09:54] lucaderi commented on #664
What is the exact license file name and path?

[2016-07-20 09:58] rickguise commented on #664
[LICENSE] Read license from Redis [32C8035F368CD3DA5EDF3FA640249F51149458272247543A42]

What path are you referring to? I insert the license in ntopng about web page.

[2016-07-20 10:04] lucaderi commented on #664
Bug found. Later today we'll provide the fix

[2016-07-20 18:32] lucaderi commented on #664
Can you please check if http://packages.ntop.org/Windows/ntopng-2.4.160627_1-x64.zip works for you?

[2016-07-21 09:16] rickguise commented on #664
Yes! The fix solved it. Thank you very much and keep up the good work!

[2016-07-21 09:17] #664 closed, assigned to nobody

[2016-07-21 20:33] ghost opened #665 "No graph for Network Interfaces: Realtime Traffic and Last Day View"
I am running ntopng Professional 2.4.160627_1 with a demo license. However, there is no data for the two far-right dashboard panes (Network Interfaces: Realtime Traffic and Network Interfaces: Last Day View). Can you please assist?

![screen shot 2016-07-21 at 1 28 15 pm](https://cloud.githubusercontent.com/assets/6529032/17037865/c62258d6-4f47-11e6-9a3f-84bebc7ea57f.png)

[ntopng.log.zip](https:/

[2016-07-22 08:09] tianzhishuizhu opened #666 "Is it OK if OS is 14.04.1 LTS instead Linux Server x64 for running ntopng"
I have read the file README.md:

My computer OS is Ubuntu 14.04.1 LTS instead of Ubuntu Linux Server x64. Is it OK?

[2016-07-22 08:21] simonemainardi commented on #666
we do support 14.04 64bit. Here are the packages for that distribution: http://packages.ntop.org/ubuntu/14.04/x64/

[2016-07-22 08:22] simonemainardi commented on #665
hi David, let's arrange a teamviewer session, please send login credential privately.

[2016-07-22 11:53] battalo opened #667 "Host detail problem"
Hello,
Every host detail gives this problem. And all of my local host has a red warning icon on the hosts screen.
![host](https://cloud.githubusercontent.com/assets/16060297/17056277/13e0ab30-501b-11e6-9612-f12ee0c44167.JPG)
![version](https://cloud.githubusercontent.com/assets/16060297/17056278/16484a7c-501b-11e6-8e5f-d3e184584235.JPG)

[2016-07-22 18:59] seismiccollision commented on #650
@lucaderi I'm not sure if I was supposed to see a build to incorporate the DOT1Q_SRC_VLAN but the latest update doesn't seem to fix this

I was expecting to see something in ntopng/src/ParserInterface.cpp like:
...
addMapping("DOT1Q_SRC_VLAN", 243);
...
        case DOT1Q_SRC_VLAN:
          flow.vlan_id = atoi(value);
          break;
...

maybe? I could be way off the mark here

[2016-07-22 21:15] ghost commented on #665
There also seems to be an issue with the graphs for Mirror: Realtime Top Application Traffic and Realtime Top Application Traffic Last Day View being resized after a couple of minutes in Firefox under OS X and Ubuntu. The issue is not present in Chrome.

![screen shot 2016-07-22 at 1 58 39 pm](https://cloud.githubusercontent.com/assets/6529032/17071178/d217bdac-5014-11e6-8855-5f26c1f2b355.png)

[2016-07-24 12:29] #650 closed, assigned to nobody

[2016-07-24 12:30] simonemainardi commented on #650
hi @seismiccollision we have decided to use the outer vlan tag found in DOT1Q_SRC_VLAN/DOT1Q_DST_VLAN to set the flow vlan field, provided no inner vlan tag is available either in SRC_VLAN or DST_VLAN.

[2016-07-24 12:35] simonemainardi commented on #665
hi, did you see this closed issue? FF may be affected https://github.com/ntop/ntopng/issues/648

[2016-07-24 12:54] simonemainardi commented on #667
hi, we've made a fix. Please hold on, new packages are being rebuilt and will be available tomorrow.

[2016-07-24 12:54] #667 closed, assigned to nobody

[2016-07-24 16:02] surajit26 commented on #542
Hi,

I have configured ntopng 2.4.160627 - Community Edition on windows 2008 server (refer attached snapshot). I have enabled 6 Cisco routers interfaces as follows to view netflow for local as well as for other remote 5 locations:
R1#configure terminal
R1(config)#interface f0/1
R1(config-if)#ip route-cache flow
R1(config-if)#ip flow ingress
R1(config-if)#ip flow egress
R1(config-if)#exit
R1(config

[2016-07-24 18:09] ghost commented on #665
Yes, the issue with the graph resize in Firefox was not resolved with reload. The missing graph is missing for all browsers, including Chrome.

##

DAVID LUU
Help Desk Specialist | 408-933-3735 | dluu@datastax.com

[2016-07-25 07:46] lucaderi commented on #542
@jmunty What are the command line options you have used to start ntopng?

[2016-07-26 01:49] nntu opened #668 "too few arguments to function ‘ndpi_detection_module_struct"
src/Prefs.cpp:150:81: error: too few arguments to function ‘ndpi_detection_module_struct\* ndpi_init_detection_module(u_int32_t, void\* (_)(size_t), void (_)(void*), ndpi_debug_function_ptr)’

[2016-07-26 07:40] simonemainardi commented on #668
update nDPI sources to the latest version and it will work

[2016-07-26 08:01] surajit26 commented on #542
Hi Lucaderi,

Any update on this please (refer above attached snapshot and host stat output log.

Thanks,
Surajit

[2016-07-26 09:43] lucaderi commented on #542
@surajit26 I am lost on this issue. Too many cross comments, and no clear idea of what you need and what is the problem about. @simonemainardi Can you reproduce the problem?

[2016-07-26 12:32] surajit26 commented on #542
Hi Lucaderi,

Thanks for your response.

I have enabled six Cisco routers as follows from different locations to view netflow:
R1#configure terminal
R1(config)#interface GigabitEthernet0/1
R1(config-if)#ip route-cache flow
R1(config-if)#ip flow ingress
R1(config-if)#ip flow egress
R1(config-if)#exit
R1(config)#ip flow-export source GigabitEthernet0/1
R1(config)#ip flow-cache timeout active 60
R1(c

[2016-07-26 13:03] tianzhishuizhu commented on #666
@simonemainardi  I download ntopng_2.5.160725-1456_amd64.deb on the web you give. But it shows `Dependency is not satisfiable : pfring(=6.5.0-741` when installing in Ubuntu Software Center. How can solve this problem?

[2016-07-26 13:21] #668 closed, assigned to nobody

[2016-07-26 14:20] lucaderi commented on #666
@tianzhishuizhu You need to install packages with apt as explained in apt.ntop.org and not with dpkg

[2016-07-26 16:49] simonemainardi commented on #666
@tianzhishuizhu follow the instructions at http://packages.ntop.org/apt/

[2016-07-27 07:50] tianzhishuizhu commented on #666
@lucaderi In direcotry /ntopng/doc/README.compilation, I find:

When I run command above, shell outputs:

Can you tell me how to fix this? I have run `sudo apt-get update`.

[2016-07-27 07:52] #656 closed, assigned to nobody

[2016-07-27 07:58] lucaderi commented on #666
https://github.com/ntop/ntopng/commit/30ba6ab43ea94c7728861e04444e02aff2aa6686

[2016-07-27 09:28] lhxhanson opened #669 "Problem about local network"
Hi all,

My OS is CentOS-6.7, the IP of ntopng-host is 172.26.10.4, and the version of ntopng is 2.5.160629.
I have a problem about "local-networks". I put some subnet in the ntopng conf file.
Like,
--local-networks "172.26.10.0/24, 172.26.8.0/21,172.26.176.0/21"

When I start ntopng, the log says

[Ntop.cpp:1121] Setting local networks to 172.26.10.0/24, 172.26.8.0/21,172.26.176.0/21
[Redis.cpp:9

[2016-07-27 09:42] simonemainardi commented on #669
please update to the latest version we already solved that issue on another architecture. Please let us know

[2016-07-27 10:13] lhxhanson commented on #669
Hi simone,

After posting this issue, I was doing the update. But looks like, the problem still exist.
![20160727180910](https://cloud.githubusercontent.com/assets/5568373/17171949/6924f746-5425-11e6-96f5-82e6e8b08b81.png)

![20160727181122](https://cloud.githubusercontent.com/assets/5568373/17171972/8ec6fc42-5425-11e6-81b7-1aad48e0e58f.png)

[2016-07-27 10:15] simonemainardi commented on #669
I noticed you are using a a lot of options: can you try and report the behavior without:
- sticky hosts
- packet filter

thank you

[2016-07-27 11:28] surajit26 commented on #542
Hi Lucaderi/ simonemainardi,

Any update on this please (refer above attached snapshot).

Thanks in advance.

Regards,
Surajit

[2016-07-27 11:40] lhxhanson commented on #669
Thanks for reply.
After comment out the option you mentioned, it looks like the problem has gone.
So I'd like test for about 12 hours,  and will give you the report after the test.

[2016-07-27 12:26] simonemainardi commented on #669
which option did you commented out?

[2016-07-27 12:32] lhxhanson commented on #669
I comment out "packet filter", and change "sticky hosts" from "all" to "local".
After some test, I find that, if the host has no traffic through the ntopng, they are identified as remote, but once I make some traffic, like ping, they will change to local if they are match to the option "local-networks"

[2016-07-27 12:40] simonemainardi commented on #669
thanks for reporting. How can you see an host in ntopng if it has no traffic? What do you mean? Please, explain the exact sequence of steps.

[2016-07-27 14:00] tianzhishuizhu commented on #666
@lucaderi I install ntopng successfully. But find

Does this mean code on github is not the latest. Thanks for your work and time!

[2016-07-27 14:21] simonemainardi commented on #666
you are using version 2.3.. did you run an apt-get update before installing? the latest version is 2.5...

[2016-07-27 18:11] surajit26 commented on #542
Ok. Thanks a lot for your all support. I am moving to manageengine netflow analyzer for their better customer care support.
Cheers,
Surajit

[2016-07-27 19:45] lucaderi commented on #542
@surajit26 Feel free to use a non ntopng tool, but don't be impatient as the community edition is support in best effort mode. What you see is correct (beside the log warnings that will be fixed). The reason why DPI is limited (it is not correct to say that you have no DPI at all as ntopng detected netbios for instance), is because your router is not exporting it and thus on the collector side all

[2016-07-28 01:14] tianzhishuizhu commented on #666
@simonemainardi  I install it by downloading the source code of ntopng on github. As /ntopng/doc/README.compilation:

Because I install ntopng from source code, I think the version may be latest if the code is newest.But it shows version is **v.2.3.160727**. How can I solve this? Thanks.

[2016-07-28 02:00] lhxhanson commented on #669
This is why I was curious.
We have some subnet, for example "192.168.11.0/24". After ntopng start running for a while, I notice that some host like "192.168.11.123" appear in the "remote networks", but the traffic of them were 0. But after I ping the host from ntopng, that host changed from remote to local.
But this issue did not happen again for now. Maybe the option that modified works.

[2016-07-28 03:06] surajit26 commented on #542
Hi Lucaderi,

Thank you for writing to me. I was confused a little. Would suggest to maintain a SLA including escalation matrix to avoid confusion. Can you please suggest how to enable in preferences the RRDs for DPI protocols so I can enable charts. Unless I can view layer 7 application protocol wise bandwidth utilization, I can't go further for up-gradation. Your suggestion will be highly apprec

[2016-07-28 04:19] lhxhanson commented on #669
And if I set “sticky-hosts” in the conf file, the settings in Preference->In-Memory Data are working?
For example, I set sticky-hosts=local, "Local Host Idle Timeout" will not work?

[2016-07-28 07:54] simonemainardi commented on #666
major and minor releases look correct in the main branch: https://github.com/ntop/ntopng/blob/dev/autogen.sh#L5

so I am not sure you have actually checked out the `dev` branch of ntopng

[2016-07-28 08:09] simonemainardi commented on #542
You can enable RRD for DPI from the preferences:
![image](https://cloud.githubusercontent.com/assets/3397663/17205330/ccd10188-54aa-11e6-8ffd-9342802efe5b.png)

again, as you are exporting netflow data from the routers, you can't leverage a fully-featured nDPI engine, Packets stay on the routers so nProbe/ntopng/nDPI can't inspect them and can just guess the protocols on the basis of port numbers.

[2016-07-28 08:18] simonemainardi commented on #669
if you set sticky hosts to local you override the local host idle timeout that is ignored.

So as you can't reproduce the issue, I think it is safe to close it. You should consider reopening that if it occurs again, posting also the exact steps that lead to that.

thank you.

[2016-07-28 08:18] #669 closed, assigned to nobody

[2016-07-28 09:22] surajit26 commented on #542
Hi Simone,
Appreciated your support.
It had already been enabled earlier (refer attached snapshot). Can you please suggest the way/ process to mirror/tap routers traffic to the nProbe. Better to have nProbe with license version right? Please confirm.
Thanks a ton again for your support.
![ntopng ndpi rrd](https://cloud.githubusercontent.com/assets/20370958/17206538/df58ad92-54cd-11e6-8e36-84341fe8

[2016-07-28 09:40] simonemainardi commented on #542
in order to process mirror traffic you should make sure your router has a mirror port. If that is the case, then you can connect that port to an host running nProbe, say on interface `<interface name>`. At that point is very easy:

[code]

as nProbe will be able to see the traffic, a full nDPI detection will be performed.

Alternatively you can use a network tap to intercept traffic that is flowin

[2016-07-28 14:32] tianzhishuizhu commented on #666
@simonemainardi  I just use command `git clone git@github...` to download the code of ntopng and nDPI, and then install ntopng according to the `/ntopng/doc/README.compilation`. It says:

Can I install latest ntopng by this way?

[2016-07-28 14:35] simonemainardi commented on #666
yes you can build and install from sources. However, I guess you have also a packaged binary 2.3 version installed on your system and this may be the source of conflict. Check with apt to see if there is an ntopng already installed

[2016-07-28 16:07] surajit26 commented on #542
Thanks a lot.
Had tried this command also earlier. FYI, I installed both ntopng and nProbe in same server and same drive (c:). This may cause the issue as during installation I was informed redis & other prerequisites are already installed. What you say? I will send you commands output soon for further recommendation.
Regards,
Surajit

[2016-07-28 16:15] simonemainardi commented on #542
no that is not an issue it is just a notification that redis & other software are already installed. Don't worry about that.

[2016-07-28 16:22] surajit26 commented on #542
Can you take it remotely please. I can share login credentials separately if you want.

[2016-07-28 16:22] surajit26 commented on #542
Can you take it remotely please. I can share login credentials separately if you want.

[2016-07-28 16:46] lucaderi commented on #542
Please send your credentials via email (no github)

[2016-07-28 17:17] surajit26 commented on #542
URL: http://115.112.167.25:3000/lua/login.lua?referer=/
User ID: admin
Password: admin

(Natting IP is 115.112.167.25 and private IP is 192.168.22.10)

There are 7 different MPLS servers as follows with LAN interfaces IP:
192.168.100.4
192.168.2.5
192.168.13.11
10.80.0.1
10.109.0.1
10.105.0.1
10.113.0.1

I am attaching router configuration file for 192.168.2.5 as well for your
ease reference.

Reg

[2016-07-28 17:25] lucaderi commented on #542
I have looked at the system and beside some warning everything seems to work as expected. What is the exact problem you want us to look at?

[2016-07-28 17:49] surajit26 commented on #542
It is great pleasure for me.

I am not able to view other protocols (layer 7 protocols) wise traffic that are supported by nDPI since, all applications such as facebook, FTP, youtube, twitter, Skype, VRRP, dropbox, google map are allowed in the network.

[2016-07-28 18:02] surajit26 commented on #542
![ntopng error 5](https://cloud.githubusercontent.com/assets/20370958/17223695/6034f13a-551b-11e6-82d4-94aebf50a8ab.jpg)
![ntopng error 6](https://cloud.githubusercontent.com/assets/20370958/17223696/6038e95c-551b-11e6-8059-3c964650a142.JPG)
I am not able to view this while clicking on any host since all facebook, FTP, youtube, twitter, Skype, VRRP, dropbox, google map are allowed in the network.

[2016-07-28 19:00] lucaderi commented on #542
The 'P' in DPI stands for Packet. As your router sends nProbe flows (not packets) DPI cannot be applied on flows, and thus the protocol detection is limited because of this limitation. You can remove this limitation putting ntopng to listen on a physical packet interface without your router exporting flows.

[2016-07-28 19:05] surajit26 commented on #542
So you are suggesting me to configure it to ethernet switch port?

[2016-07-28 19:40] lucaderi commented on #666
@tianzhishuizhu Use https://github.com/ntop/ntopng/blob/dev/.travis.yml as reference that shows how to build ntopng (even though you are following the right steps)

[2016-07-28 19:40] #666 closed, assigned to nobody

[2016-07-28 20:19] lucaderi commented on #542
Yes

[2016-07-29 02:46] tianzhishuizhu commented on #666
@lucaderi  I tried the method you give. That is:

But the ntopng version is still v.2.3., not changed. Then I download source code from [Download ntopng-2.4-stable.tar.gz (134.1 MB)](https://sourceforge.net/projects/ntop/files/ntopng/). Then version is changed to v.2.4.

I want to install v.2.5 from source code. How can this be done? I have installed v.2.3 and v.2.4 on my ubuntu. Do they affect ea

[2016-07-29 05:13] surajit26 commented on #542
OK.
Let's try for good luck. Hope, will be able to revert back with some good news.

[2016-07-29 05:43] lucaderi commented on #666
Please avoid mixing request onto a single github issue. I suggest to install binary packages from http://packages.ntop.org so you avoid compilation headaches. Make sure to deinstall all ntopng binaries prior to install a new one. If you have issues with qq, please file on issues on nDPI and provide a pcap for reproducing it.

[2016-07-29 05:44] lucaderi commented on #655
Do not change this setting on Windows

[2016-07-29 05:44] #655 closed, assigned to nobody

[2016-07-29 05:45] lucaderi commented on #630
Closed for inactivity

[2016-07-29 05:45] #630 closed, assigned to nobody

[2016-07-29 05:46] #542 closed, assigned to lucaderi

[2016-07-29 10:16] surajit26 commented on #542
My badluck..

Attaching output of following command:
nprobe host:   ./nprobe -i <interface name> -n none --zmq tcp://*:5556
ntopng host:   ./ntopng -i tcp://<nprobe host ip>:5556

Had also configured an ethernet switch port (connected with router) however, same is not showing nDPI application protocols details (e.g. Facebook, Teitter, FTP, youtube, etc).
[.nprobe -i interface name -n none --zmq tc

[2016-07-29 10:17] lucaderi commented on #542
You need to enable DPI in the template (-t) adding for instance %L7_PROTO / %L7_PROTO_NAME
Example
nprobe -T "%IPV4_SRC_ADDR %IPV4_DST_ADDR %IPV4_NEXT_HOP %INPUT_SNMP %OUTPUT_SNMP %IN_PKTS %IN_BYTES %FIRST_SWITCHED %LAST_SWITCHED %L4_SRC_PORT %L4_DST_PORT %TCP_FLAGS %PROTOCOL %L7_PROTO %L7_PROTO_NAME" ....

[2016-07-29 10:32] simonemainardi commented on #542
also the interface name is missing after -i in the nprobe command

[2016-07-30 17:28] Doemela opened #670 "/usr/bin/ntopng: error while loading shared libraries: libntapi.so: cannot open shared object file: No such file or directory"
When I want to start ntopng I get

OS:  Ubuntu 14.04 LTS

[2016-07-30 21:19] lucaderi commented on #670
This library is part pf the pfring package that sound hai ve bene installed as dependency. Is this the case? What version of the packages have you installed?

[2016-07-30 23:07] Doemela commented on #670
http://apt-stable.ntop.org/14.04/all/apt-ntop-stable.deb
Module:  pfring
Version: 6.5.0

[2016-07-31 07:13] lucaderi commented on #670
Please provide the whole installation log that reports the problem as I have just tried and it works for me

[2016-07-31 14:58] Doemela commented on #670
I did:
wget http://apt-stable.ntop.org/14.04/all/apt-ntop-stable.deb
dpkg -i apt-ntop-stable.deb
apt-get clean all
apt-get update
apt-get install pfring nprobe ntopng ntopng-data n2disk cento nbox
[install.txt](https://github.com/ntop/ntopng/files/392459/install.txt)
[dpkglog.txt](https://github.com/ntop/ntopng/files/392463/dpkglog.txt)

Thats all I can find

[2016-08-02 08:09] mhercek opened #671 "[RHEL/CentOS 7] HTTPS server problem with libraries"
I've installed ntopng v2.5.160802-1389 from repo.
It complained about not being able to start HTTPS server:
`[mongoose.c:4673] ERROR: load_dll: cannot load libssl.so`
`[mongoose.c:4673] ERROR: load_dll: cannot load libcrypto.so`

Solved by creating symlinks.

[2016-08-02 08:34] simonemainardi commented on #671
hi, thans for reporting. We already have a branch that aims at resolving that issue: https://github.com/ntop/ntopng/compare/no-ssl-dl?expand=1

in the meanwhile, if you are on centos7, you should be able to hot fix that by manually symlinking lobssl.so to the actual libssl version:

[code]

same for libcrypto

[2016-08-02 08:35] simonemainardi commented on #671
also, did you read https://github.com/ntop/ntopng/blob/dev/doc/README.SSL

[2016-08-02 11:45] puschl opened #672 "ntopng segfault"
Hello,
Current nightly produces an segfault.
Version: ntopng x86_64 v.2.5.160802
[core.17752.gz](https://github.com/ntop/ntopng/files/396891/core.17752.gz)
[core.17688.gz](https://github.com/ntop/ntopng/files/396892/core.17688.gz)

See below:

[code]

[2016-08-02 14:32] marcocamza opened #673 "Unif - BitTorrent"
Communication between Access points and controller are detected as BitTorrent

[2016-08-02 14:39] kYroL01 commented on #673
@marcocamza I think this is a possible nDPI issue. Please open this issue on nDPI and provide us a pcap to verify the problem.
Thank you

[2016-08-02 14:49] lucaderi commented on #672
@puschl What Linux distro are you using? What ntopng binary package have you used?

[2016-08-02 14:55] puschl commented on #672
@lucaderi
CentOS Linux release 7.2.1511 (Core)
Binary was nightly from today.
Taken via yum from http://packages.ntop.org/centos/

[2016-08-02 15:21] marcocamza commented on #673
Ok but ntopng is installed on pfsense so I can't provide the requested.

[2016-08-03 08:23] lucaderi commented on #673
You need to do a tcpdump and generate a pcap file. Without it we cannot help unfortunately.

[2016-08-03 13:35] lucaderi commented on #672
@puschl Please upgrade and report if working now.

[2016-08-03 20:18] arthurvmdantas opened #674 "ntopng pro license not working"
Hi all,

I work for an educational institution on Brazil and recently we were given nProbe and ntopng pro licenses. The nProbe license works as expected but not the ntopng license.

I've used my system id and order id to generate the code license but when I put it on the license input box and click the "Save license" button.. nothing happens!
It still says "Community Edition" and shows an yellow/o

[2016-08-03 21:34] lucaderi commented on #674
I have invalidated the license for your orderId 1468590713. You can solve this problem downloading http://packages.ntop.org/Windows/ntopng-2.4.160627_1-x64.zip and re-generating the license.

[2016-08-04 06:49] lucaderi commented on #672
Seems to be solved. Please reopen it if necessary.

[2016-08-04 06:49] #672 closed, assigned to lucaderi

[2016-08-04 15:58] lucaderi commented on #672
The above fix was also necessary and ntopng should now be stable. Please confirm.

[2016-08-06 14:27] nate-byrnes opened #678 "Traffic History for host doesn't show traffic, when there is, and has been."
ON the dashboard I see traffic (this is my top host)
![dashboard](https://cloud.githubusercontent.com/assets/19349744/17457234/ec8a4e90-5bc0-11e6-81d3-e9ac231fd1dc.png)

On the host specific page, I see there has been traffic for quite a while
![host_top](https://cloud.githubusercontent.com/assets/19349744/17457220/25ada83a-5bc0-11e6-8289-b118e6a1a45d.png)

But, in the traffic history graph, I onl

[2016-08-06 21:27] Nosskirneh opened #679 "/usr/share/ntopng/scripts/lua/inc/menu.lua:25: attempt to index a nil value"
Hi!

I'm using Arch Linux. Just downloaded ntopng and started it with these parameters `sudo /usr/bin/ntopng -G /var/tmp/ntopng.pid -i 1 -w 3000 -n 1 -m 192.168.0.1/24 -S none -d /var/tmp/ntopng -q`

localhost:3000 starts and I login with the default settings. However, as soon as I'm logged in I'm greeted with `HTTP/1.1 500 Internal server error Content-Type: text/html Connection: close *warning s

[2016-08-06 21:45] Alestor opened #680 "No Data for Top Hosts on large queries"
Hello,

using Version 2.4.160805 with a mysql Database. When I  create reports or browser historical data for a time range greater than 4 days I don't get any result for Top hosts. On the reports the top host are just missing and under the historical data explorer I get the message "No Results Found" for top host. When I specify a time range of exactly 4 Days I get results back.

Version 2.4.16080

[2016-08-08 08:27] simonemainardi commented on #679
hi, are you sure that `1` is a valid interface name? Use `ntopng --help` to see all the valid interface names. Use those names with `-i`

Indeed, the code at `menu.lua:25` suggests me the interface name is not valid... menu should work insofar as the interface is valid

[2016-08-08 08:32] simonemainardi commented on #678
Hi, I noticed you've already had a similar issue (perhaps the same?) https://github.com/ntop/ntopng/issues/582

we crafted a fix but didn't receive any feedback from you. Are you sure you are using the latest dev version?

[2016-08-08 08:33] simonemainardi commented on #680
hi, thanks for reporting. Could you please enclose the ntopng logs (or console output)?

[2016-08-08 12:35] Nosskirneh commented on #679
Yes, thank you, this was the issue. I thought the 'i' parameter was supposed to be given the number corresponding to the interface which can be seen by launching ntopng with -h (which, in my case 1 = enp0s25).

Thank you again!

[2016-08-08 12:36] simonemainardi commented on #679
that's the way it works on windows. On linux you need the interface name! thanks for the feedback.

[2016-08-08 12:36] #679 closed, assigned to nobody

[2016-08-08 13:23] nate-byrnes commented on #678
Hi Simone,

I thought we agreed to close 582, my apologies if that was not the case.
The last fix was to correct entirely missing traffic history. This issue
seems to be incorrect traffic history.

I updated to: v.2.5.160718 about 3 weeks ago. (I typically try not to
upgrade too frequently... should I avoid that notion with regards to
ntop-ng?)

[code]

_Nathanial A. Byrnes_

_Elm Datacenter_ http

[2016-08-08 13:41] simonemainardi commented on #678
check if the proper interface is correctly selected (dropdown menu 'Interface'). If that is the case, please, provide us remote login details and we'll give it a look

[2016-08-08 15:10] dan2716430 opened #681 "Incorrect traffic values"
Using sflow data from 3 switches, the traffic is incorrect: it reports ~2Tbit/s while the real traffic is ~3Gbps down / ~2Gbps up.

Let me know what additional data you need.

![2016-08-08 17_42_57-graphs](https://cloud.githubusercontent.com/assets/20684284/17484575/42c8236c-5d93-11e6-9cc5-595073a9c6b4.png)

![2016-08-08 17_41_49-ntopng](https://cloud.githubusercontent.com/assets/20684284/17484579

[2016-08-08 15:15] simonemainardi commented on #681
please, enclose nprobe and ntopng configurations. Also, does the collector perform sampling of the traffic?

[2016-08-08 15:23] dan2716430 commented on #681
nProbe v.7.4.160719 (r5331)
nProbe is the collector, started like this:
nprobe --collector-port 6343 --zmq tcp://127.0.0.1:5556 >> /dev/null &

ntopng 2.4.160719 - Pro Small Business Edition, started like this:
ntopng -i tcp://127.0.0.1:5556 -d /var/tmp -w 3000 -v -m 10.0.10.0/16 >> /dev/null &

[2016-08-08 15:26] simonemainardi commented on #681
Don't redirect the output to null to see if there are warnings or notifications.

Anyway, do you know if the collector performs sampling of the traffic? That might be the issue. Nprobe has an option for that

[code]

[2016-08-08 15:29] dan2716430 commented on #681
No errors on nprobe:

nprobe --collector-port 6343 --zmq tcp://127.0.0.1:5556
08/Aug/2016 18:27:02 [nprobe.c:3399] Valid nProbe license found
08/Aug/2016 18:27:02 [nprobe.c:4864] WARNING: The output interfaceId is set to 0: did you forget to use -Q perhaps ?
08/Aug/2016 18:27:02 [nprobe.c:4867] WARNING: The input interfaceId is set to 0: did you forget to use -u perhaps ?
08/Aug/2016 18:27:02 [npr

[2016-08-08 15:37] dan2716430 commented on #681
Isn't nProbe the collector?

If you ask if the switches are doing sampling, they shouldn't. I used sflowtrend before and it reported correct data.

[2016-08-08 15:56] lucaderi commented on #681
@dan2716430 With sFlow sampling rate is dynamic and it's part of the sFlow packet. If the traffic rate is not correct there are some discrepancies between the flows being collected by nProbe. In order to fix this issue I need a pcap containing sflow flows so I can check what is going on.

[2016-08-08 15:59] simonemainardi commented on #671
addressed by

https://github.com/ntop/ntopng/commit/26625a11219260ddf72de153d13cb7c567c9ed99
https://github.com/ntop/ntopng/commit/83fef09467a6be64f4a1f63a1e21c8af65bf35ef
https://github.com/ntop/ntopng/commit/dd56a20e0dd662a639a951b687886f082e3578f1

[2016-08-08 15:59] #671 closed, assigned to nobody

[2016-08-08 16:01] lucaderi commented on #673
Closed for inactivity. Will reopen if necessary

[2016-08-08 16:01] #673 closed, assigned to nobody

[2016-08-08 16:03] dan2716430 commented on #681
How can I send you the pcap file privately?

[2016-08-08 16:06] lucaderi commented on #681
Email deri@ntop.org

[2016-08-08 16:15] dan2716430 commented on #681
Email sent

[2016-08-08 17:38] simonemainardi commented on #665
we have made some fixes. you will be notified one the new windows build is ready

[2016-08-08 19:20] Alestor commented on #680
Hello,

which logs do you need exactly? Unfortunately the is no messages related to the issue on the console or in /var/log/ntopng/ntopng.log. I noticed that the error messages happens when I search for top hots from about 700k flows. The Time range doesn't seem to matter that much.

I enabled slow-log for mysql and saw the following output when I get no results found:

 Time: 160808 21:18:35
 Use

[2016-08-08 21:33] lucaderi commented on #681
Fixed in nProbe. Apparently the sFlow switch does not always report correct values for the samplePool: added an extra check and now it works.

[2016-08-08 21:33] #681 closed, assigned to lucaderi

[2016-08-09 09:42] simonemainardi commented on #680
@Alestor report creation doesn't use MySQL. Can you confirm that you can't generate reports with a timespan greater than 4 days?

MySQL access occurs when browsing "historical data explorer". I argue that some timeout occurs at some point and this causes a "no results found". Do you get this message immediately or after a while?

Btw, did you try to tune my.cnf in order to increase myisam buffers

[2016-08-09 13:08] Alestor commented on #680
After adjusting some buffer in my.cnf I was able to list top hosts for 6 to 7 days in the **Historical data explorer**. I think the time range varies depending on how many flows in this period occurred. The error messages pops up after 5 to 6 seconds approx.

When I  create a reports I do see only top hosts for a time range of 1h or 1 day. In a Report for one week they are missing. Didn't tried a

[2016-08-09 14:03] nate-byrnes commented on #678
I'm not sure if you've seen it, but I sent web UI credentials to your
ntopng account. Do you need SSH access as well?

_Nathanial A. Byrnes_

_Elm Datacenter_ http://www.elmdc.com - CTO

_Mobile:_(716) 949.7656

_eMail:_nate@elmdc.com mailto:nate@elmdc.com

On 08/08/2016 09:42 AM, simonemainardi wrote:

[2016-08-09 15:52] Alestor commented on #680
When I create a report, top hosts and other stats are only shown when I go two days back.
Generating a report for the last 3 days doesn't show the stats for Top Countries , Top Hosts (local and remote) and Top ASN.

[2016-08-09 16:21] simonemainardi commented on #620
implemented in https://github.com/ntop/ntopng/commit/52abb7659a3de11ea6dd9e347fb97ae449de6c9d

[2016-08-09 16:21] #620 closed, assigned to nobody

[2016-08-10 06:32] lhxhanson opened #682 "The historical graph display has problem"
I have installed the ntopng with community license and the version is v.2.5.160805.
As you can see the historical graph has no x-axis and the y-axis is begin with 'n/a'. I have tried Chrome, Firefox and IE, it looks same.
![qq 20160810141908](https://cloud.githubusercontent.com/assets/5568373/17543831/01ca9754-5f06-11e6-9dd5-56124f1eb0f5.png)

[2016-08-10 07:19] andressalesa opened #683 "Palo Alto %APPLICATION_NAME, % USER_NAME does not show in NtopNG"
In the Palo Alto firewall can be configured to identify the user that making a request. It also has categorized applications.

According to manual these fields can be collected "%APPLICATION_NAME, % USER_NAME".

 If I run the following statement

nProbe --zmq "tcp: // *: 5556" -V 9 -i -n none none --collector-port 2055 -T "IPV4_DST_ADDR%%% IPV4_SRC_ADDR IPV4_NEXT_HOP% INPUT_SNMP% OUTPUT_SNMP% IN_P

[2016-08-10 07:24] andressalesa commented on #683
If I run nprobe with
nProbe --zmq "tcp: // *: 5556" -V 9 -i -n none none --collector-port 2055
I don't see "Palo Alto extra fields" in info flow.
![screenshot_23](https://cloud.githubusercontent.com/assets/20943014/17545200/28b01f58-5edc-11e6-84ad-97bcec8d35fc.png)

[2016-08-10 13:20] simonemainardi commented on #683
it looks like you didn't specify the fields in the nprobe template:

`nProbe --zmq "tcp: // *: 5556" -V 9 -i -n none none --collector-port 2055`

please add -T option with palo alto `%APPLICATION_NAME`

[2016-08-10 14:15] andressalesa commented on #683
Hi,

As I said in my post I tested the command:

nProbe --zmq "tcp: // *: 5556" -V 9 -i -n none none --collector-port 2055 -T "IPV4_DST_ADDR%%% IPV4_SRC_ADDR IPV4_NEXT_HOP% INPUT_SNMP% OUTPUT_SNMP% IN_PKTS% IN_BYTES% FIRST_SWITCHED% LAST_SWITCHED% L4_SRC_PORT% L4_DST_PORT% tcp_flags% PROTOCOL% SRC_TOS% SRC_AS% DST_AS% IPV4_SRC_MASK% IPV4_DST_MASK% L7_PROTO% L7_PROTO_NAME %APPLICATION_NAME% USER_NA

[2016-08-10 14:16] andressalesa commented on #683
If I open a host, flow, button info I don't see "extra" information.

![screenshot_26](https://cloud.githubusercontent.com/assets/20943014/17556982/c2873ace-5f15-11e6-9250-a29a971613aa.png)
![screenshot_25](https://cloud.githubusercontent.com/assets/20943014/17556984/c2b1d838-5f15-11e6-85b8-59c61ff7bc95.png)
![screenshot_27](https://cloud.githubusercontent.com/assets/20943014/17556983/c2adf3bc-5f1

[2016-08-10 14:44] andressalesa commented on #683
I read in this link

http://www.netflowauditor.com/forum/viewtopic.php?f=67&t=140

that fields for default netflow v9 are

"%IPV4_SRC_ADDR %IPV4_DST_ADDR %L4_SRC_PORT %L4_DST_PORT %PROTOCOL %INPUT_SNMP %OUTPUT_SNMP %IN_BYTES %IN_PKTS %SRC_TOS"

If I use

nprobe --zmq "tcp://*:5556"  -i none -n none --collector-port 2055 -T "%IPV4_SRC_ADDR %IPV4_DST_ADDR %L4_SRC_PORT %L4_DST_PORT %PROTOCOL %INPUT_S

[2016-08-10 16:45] siweizhang opened #685 "ntopng auth to redis"
Hi,
I just installed ntopng and ntopng-data on our centos 7.
But failed to start it because of the errors as shown below.
Could you help?
Regards,
Kevin SZ

[2016-08-10 17:07] simonemainardi commented on #685
Kevin,

the issue you reported via email is the following

`[Redis.cpp:69] ERROR: NOAUTH Authentication required.`

as already discussed via mail:

so for the moment this is a feature request.

[2016-08-10 17:09] siweizhang commented on #685
Yes.

From: simonemainardi [mailto:notifications@github.com]
Sent: Wednesday, August 10, 2016 10:08 AM
To: ntop/ntopng ntopng@noreply.github.com
Cc: Siwei Zhang siwzhang@tesla.com; Author author@noreply.github.com
Subject: Re: [ntop/ntopng] ntopng auth to redis (#685)

Kevin,

the issue you reported via email is the following

[Redis.cpp:69] ERROR: NOAUTH Authentication required.

as already discu

[2016-08-10 18:35] Alestor commented on #680
Displaying Top Talker in the Historical data exporer seems to work as long as the mysql-server is able to answer the query in less then 5 seconds. Does ntopng have a timeout of 5 seconds for sql queries?

[2016-08-11 02:05] lhxhanson commented on #682
@simonemainardi
@lucaderi
Can someone give any replies?

[2016-08-11 07:34] lhxhanson commented on #682
Looks like the community license is the reason why the graph has no x-axis.

[2016-08-11 08:47] cjeanneret opened #686 "Allow to set interface "custom name" from command line"
Hello,

It would be great if we could set the Custom Name label for the interface directly from the command line. Something like:

[code]

would be good (note: ":" is a reserved char, "," is already taken by ntopng and ";" might be confusing)

Doing so will avoid the need of going in the interface settings from the web interface, and directly provide a good display.

Thank you!

Cheers,

C.

[2016-08-11 09:40] simonemainardi commented on #685
hi, we've added redis authentication. new dev builds are under generation. Please wait an hour and then try the newest dev package. See instructions with ntopng --help and look for option -r

[2016-08-11 09:43] #682 closed, assigned to nobody

[2016-08-11 09:45] simonemainardi commented on #682
hi, I removed the `n/a` that, you're right, it is not nice to see. For the x-axis labels, they are not available but you can still get that information from the table on the right if you hover the mouse on the point of interest. See the row 'Selection Time'

![image](https://cloud.githubusercontent.com/assets/3397663/17584855/1def946c-5fb9-11e6-8594-d93ae63eb543.png)

[2016-08-11 09:47] simonemainardi commented on #678
@nate-byrnes  please re-send the credential as I can't find them in my email. Also yes SSH access would be nice as well.

[2016-08-11 11:54] lhxhanson commented on #682
It's a little pity to get the x-axis, so that the graph will looks nice, but thanks for the y-axis.

[2016-08-11 17:57] nate-byrnes commented on #678
Just sent to your mainardi@ntop.org email.

On 08/11/2016 05:47 AM, simonemainardi wrote:

[2016-08-11 19:18] arthurvmdantas commented on #674
Hello lucaderi, thanks for your response. Unfortunately, it's still not working. Are you certain that my order id is for a Pro edition?

I've downloaded and installed the file you linked. After that, I had the Pro [Small Business Edition] that expires after 10 minutes. Then, I generated a new license (through "About ntopng" option) and saved it. Afterwards, the license label says "Community Editti

[2016-08-11 19:56] lucaderi commented on #674
@arthurvmdantas @simonemainardi  Simone can assist you if necessary. However the problem is that the version you have entered during license creation is wrong. Please install the latest ntopng and generate the license passing all the correct values in the license form that will also tell you how to save the license on a file.

[2016-08-11 21:00] pnash01 opened #687 "ERROR: Unable to create interface myri:A2P0"
Hi -
 Just updated to latest nightly build, ntopng-2.5.160811-1434.x86_64.rpm, and dependencies (ntopng-data, pf_ring, pf_ring-dkms) and the software is unable to create the myricom interface:

11/Aug/2016 16:51:41 [main.cpp:196] ERROR: Unable to create interface myri:A2P0
11/Aug/2016 16:51:41 [main.cpp:229] ERROR: Startup error: missing super-user privileges ?

Software was started with the follo

[2016-08-11 21:11] arthurvmdantas commented on #674
I did all the steps again and now it's working as Pro Small Business [338 days left]. =)

Thank you very much for your support, lucaderi.

[2016-08-11 21:11] #674 closed, assigned to simonemainardi

[2016-08-12 08:47] sos-jh-cz opened #688 "ntopng pro license not working [mismatch error]"
hello,

i have recently obtained license for nprobe + ntopng.
after i applied them, nprobe works but ntopng does not. it's output says:

`09/Aug/2016 12:48:59 [NtopPro.cpp:122] [LICENSE] Reading license from /etc/ntopng.license
09/Aug/2016 12:48:59 [NtopPro.cpp:120] [LICENSE] Read license from Redis [**correct license hash here**]
09/Aug/2016 12:48:59 [NtopPro.cpp:172] ERROR: [LICENSE] Invalid or

[2016-08-12 08:52] andressalesa commented on #683
In this url, Palo Alto  explain that fields export to neflow

https://www.paloaltonetworks.com/documentation/61/pan-os/pan-os/reports-and-logging/netflow-templates#48263

I created a template to gather this information and does not work either.

nprobe --zmq "tcp://*:5556"  -i none -n none --collector-port 2055 -T  "%IN_BYTES %IN_PKTS %PROTOCOL %SRC_TOS %TCP_FLAGS %L4_SRC_PORT %IPV4_SRC_ADDR %INPU

[2016-08-12 08:55] andressalesa commented on #688
Hi,

I have an similar error. I asked a trial license for ntopng and nprobe and it follows in Community version.

I tested  to introduce license in interface/about but it did not work
Then I  tried  to create the  license file in folder “etc/”

I answered the email to Maria Teresa Allegro but I don't have a answer.

Regards

[2016-08-12 09:16] cardigliano commented on #687
@pnash01 what is the myricom SNF library you are using? Please note we provide v4 with the packages, which is installed under /usr/local/lib/libsnf.so.0. If your card supports v3, please try removing it and checking that ntopng is linking the one under /opt/snf/lib

[2016-08-12 14:09] simonemainardi commented on #678
thank you, I'm trying to connect

[2016-08-12 15:19] pnash01 commented on #687
Couldn't find libsnf\* in /usr/local/lib and ldd shows that it isn't linking against any snf library.  Can you check to see that myricom support is enabled in the daily builds?

[2016-08-12 16:05] simonemainardi commented on #688
the issue @andressalesa is different from this one, we are already following up privately. However:
- @andressalesa I noticed you are using `--community` option

![image](https://cloud.githubusercontent.com/assets/3397663/17628734/25001ac0-60b7-11e6-995c-8cfbfc82ccdf.png)

so it is natural that ntopng starts in community mode. please remove that and it will work.
- @sos-jh-cz please send `ntopng -

[2016-08-12 16:55] sos-jh-cz commented on #688
@simonemainardi

version output:

[code]

notably, it is autoupdated via apt.

startup config:

[code]

startup output:

[code]

startup with --online-license-check:

[code]

[2016-08-12 18:50] simonemainardi commented on #678
hi, I spent a lot of time on your machine trying to understand what's going on. This is a brief summary:
1. after a first restart of ntopng everything works smoothly and host statistics are properly saved
2. I tried by removing several options from the configuration (one after the other) but statistics are always properly stored
3. You told that you are experiencing performance drops. I argue the

[2016-08-12 18:56] simonemainardi commented on #688
did you try also by echoing the license directly into ntopng.license file?

e.g.,

[code]

replace XXXX with your license

[2016-08-12 19:00] nate-byrnes commented on #678
Hi Simone,

[code]

interface using ES for? (or to put it another way, what do I miss out on
if I turn off ES?)

[code]

On 08/12/2016 02:50 PM, simonemainardi wrote:

[2016-08-12 19:02] sos-jh-cz commented on #688
@simonemainardi

yes, i created it that way and tried it again now to be sure, but nothing changed.

[2016-08-12 19:32] simonemainardi commented on #678
The web interface doesn't use ES. That is, ntopng sends flows to ES but doesn't read them back. So I assume you have your own software that queries ES for further flow processing.

Note that, even if the web interface doesn't use it, it may suffer a slow down when the whole system is overloaded. In your case, the load average was between 3 and 5 that is too much.

[2016-08-12 19:37] lucaderi commented on #688
Hi all both licenses are invalid as they have not been generated properly. Please contact me via email (deri@ntop.org) and I will provide a new one. Sorry for the inconvenience.

[2016-08-12 19:37] #688 closed, assigned to nobody

[2016-08-12 20:33] nate-byrnes commented on #678
Got it. Thanks again. In that case, It looks like this issue is
resolved. Good to know about the ES causing a backlog. For now, I'll do
without it.

On 08/12/2016 03:32 PM, simonemainardi wrote:

[2016-08-13 08:51] cardigliano commented on #687
@pnash01 what if your OS/version?
Please also provide ldd `which pfcount`

[2016-08-13 09:24] #678 closed, assigned to nobody

[2016-08-13 09:25] simonemainardi commented on #665
this should have been fixed on windows. @david-luu can you confirm?

[2016-08-13 09:26] simonemainardi commented on #685
@siweizhang did you have a chance to try that feature out?

[2016-08-13 12:29] lucaderi commented on #625
@Niko78 We have made some fixes (in dev builds) since you reported the issue. Can you please update nProbe and ntopng and report? Thanks.

[2016-08-13 13:02] lucaderi commented on #670
I believe this problem has been fixed days ago. I cannot reproduce it using it https://github.com/ntop/packager. Closing it for now, but if you can reproduce it with the packager, please send the log error.

[2016-08-13 13:02] #670 closed, assigned to lucaderi

[2016-08-13 18:38] siweizhang commented on #685
Hi,

Sorry that I become busy now.

Regards,

Siwei

Sent from my iPhone

On Aug 13, 2016, at 2:26 AM, simonemainardi <notifications@github.com<mailto:notifications@github.com>> wrote:

@siweizhanghttps://github.com/siweizhang did you have a chance to try that feature out?

##

You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHubhttps://github.com/ntop

[2016-08-14 08:05] lucaderi commented on #687
@pnash01 Actually on CentOS libs should go under /lib64
I have just checked both CentOS's and ntopng
deri@centos7 214> ldd ntopng|grep snf
    libsnf.so.0 => /lib64/libsnf.so.0 (0x00007f4511cb2000)
deri@centos6 202> ldd ntopng|grep snf
    libsnf.so.0 => /lib64/libsnf.so.0 (0x00007f525dac4000)

Can you please check if it's really so on your system? Note that we expect you to have installed the Myr

[2016-08-14 15:05] ghost commented on #665
I'll check.

--MikeM

On Aug 13, 2016 2:25 AM, "simonemainardi" notifications@github.com wrote:

[2016-08-15 13:47] pnash01 commented on #687
Thanks - I just downloaded the Aug15 nightly build and things are working again. ldd output shows that it myricom support is enabled and it is linking to the right library.  I'm going to close out this issue.

[2016-08-15 13:47] #687 closed, assigned to cardigliano

[2016-08-15 13:58] pnash01 opened #691 "Does ntopng clear the dropped packet counter?"
Hi,
  I'm running the aug15 nightly build (2.5.160815 - Small Business Pro) and noticed that upon startup, it is reporting that it dropped 99.26% of the packets.  As it continues to run, this number declines.  Is it possible that it is calculating these statistics based off of data that is stored in the mysql database from previous sessions?

[2016-08-15 14:12] pnash01 opened #692 "Hosts / Network View - Chart contains no data"
Hi all,
  I'm running 2.5.160815 - Pro Small Business Edition.  Ntop has been running for the past 28 minutes - when I click on 'chart' icon under the Hosts/Network view, the graphs contain no data, even if I select 5m or 10m as a timeframe.   The Network page does properly display statistics however - over 200gb of traffic observed, etc.

Thanks,
 -Paul

[2016-08-15 14:18] flyersa opened #693 "nProbe/Ntopng traffic rates completly wrong"
Hi all,

we run nprobeng with ntop Business Edition to analyze data coming from four arista switches. For some hosts the traffic rates reported in the ntopng interface are almost correct for others where we have only around 1-10 Mbit/s traffic on the interfaces ntopng reports constantly an actual traffic of 6-14 Gbit/s.

On the Arista we use this as sampling rate:

Sample Rate: 20000
Polling Inter

[2016-08-15 17:02] lucaderi commented on #693
@flyersa -S is meaningful only for NetFlow (I have updated the man page to make it clear) as in sFlow  this info is part of the packet. I have fixed a sampling issue last week: please resync the apps and see if it works. If not, please share a pcap file with sFlow packets to see what sampling rate is specified in there.

[2016-08-15 17:06] lucaderi commented on #692
@pnash01 Can you please post some screenshots? Do you see anything wrong under Home -> Runtime status ?

[2016-08-15 17:11] flyersa commented on #693
Alright updated to nprobe-7.5.160815-5379.x86_64 and it looks ALOT better now. Thank you very much!

[2016-08-15 17:29] pnash01 commented on #692
Oddly enough, data started to appear in the chart.  I have chart data from 12:13pm to 1:22pm.   Here is the runtime status:

[code]

[2016-08-15 18:22] lucaderi commented on #692
@pnash01 @simonemainardi Phil, Simone sill look at the warnings when back from vacation.

[2016-08-15 18:22] lucaderi commented on #691
The number is absolute, so if you have drops at the beginning the drops is reported all the time. Please see http://www.ntop.org/ntopng/best-practices-for-running-ntopng/

[2016-08-15 18:22] #691 closed, assigned to nobody

[2016-08-16 08:18] #693 closed, assigned to nobody

[2016-08-16 09:28] rezaeimh7 opened #695 "how can two or more applications use PF_RING ZC cluster?"
Hi.

The following Picture indicates that many applications could use PF_RING clusters.
![pf ring](https://cloud.githubusercontent.com/assets/15108703/17692989/01e1444e-63b2-11e6-9b52-f88ed82fb919.jpg)
I have tested this by the following commands.
./zount -i eth0 -c 55            ---- ok
./zcount1 -i eth0 -c 99       ----- ok

Suppose i want to use pf_ring zc. As far as i know If you open a device

[2016-08-16 10:44] cardigliano commented on #695
Hi Mohsen
yes you can do both with zbalance:
1. zbalance_ipc -i zc:ethX -c 99 -m 0 -n <application instance>
2. zbalance_ipc -i zc:ethX -c 99 -m 0 -n <application 1 instances>,<application 2 instances>
Please take a look at zbalance_ipc -h for more options and at the zbalance_ipc output to see how to attach consumers to the cluster. There is also a README.examples with a few examples.

Alfredo

[2016-08-16 13:48] pnash01 commented on #692
I noticed that the charts under the 'Report' tab are also (mostly) empty.   I'm guessing that the minute.lua & hourly.lua contribue to that data.

[2016-08-17 09:51] ismaiel7awi opened #696 "Historiacal"
I need to know to enable -F option in NTOPNG to read the history of monitoring.

[2016-08-17 10:01] lucaderi commented on #696
Please see https://raw.githubusercontent.com/ntop/ntopng/dev/doc/UserGuide.pdf

[2016-08-17 10:02] lucaderi commented on #696
And http://www.ntop.org/ntopng/exploring-historical-data-using-ntopng-part-2/

[2016-08-17 10:02] #696 closed, assigned to nobody

[2016-08-17 15:07] nate-byrnes commented on #678
It seems that disabling the data writes to elastic search did not solve the problem. The traffic history worked for a few hours at most, then stopped working. I've since updated to build 160817, (and restarted the daemon). I'll check again in a couple hours, but at present, on the few top hosts I've checked, there is not yet any historical data...

[2016-08-17 16:15] nate-byrnes commented on #678
Yep, still missing historical data....

[2016-08-17 16:16] pnash01 opened #697 "ntopng interface no longer listening, myricom packet capture clobbered"
Hi all,
  Ntopng became unresponsive and took out the myricom interface along the way (e.g. every other packet sniffing application is now broken).   Here is the 'ps' output:

`nobody    1939     1  1939  9   15 Aug15 ?        04:39:12 /usr/local/bin/ntopng /etc/ntopng/ntopng.conf
nobody    1939     1  1953  7   15 Aug15 ?        03:55:19 /usr/local/bin/ntopng /etc/ntopng/ntopng.conf
nobody    193

[2016-08-17 17:59] pnash01 opened #698 "ntopng / myricom - MTU"
Hi all -
  I noticed that ntopng is claiming that the MTU for the myricom interface is 1514 bytes.  From what I've heard, the SNF enabled interfaces default to 9000 MTU.  Using ethtool on the 'ethX' representation of this interface (as opposed to the myri:A#P# interface) shows that it is set to 9000.

Thanks,
 -Paul

[2016-08-17 21:22] ekbfh opened #699 "There are no some of networks that listed in -m=" " in conf file"
For ex:
m="net1,net2,net3,net4"
but in menu networks i can see only net1,net2,net4 and remote nets.

What can be wrong? It is write correctly.

ntopng Pro [Small Business Edition] v.2.5.160817

P.S. where i can ask why nbox web didn't working?

[2016-08-18 10:11] ntcong opened #700 "login.lua patterns error on Chrome"
I'm having this on Chrome 53.0.2785.70 beta on OSX

[code]

Removing escape before = fixes the problem (pattern became ^[\w\$\!\/()=\?^*@_-\u0000-\u00ff]{1,}$)

[2016-08-19 01:13] anhnvme opened #701 "Data export IN/OUT BYTES/PKST not match ntopng"
Hello,

First,
I see data when export from ntopng to elasticsearch not same when i calculate total IN/OUT BYTES/PKST

Second,

How can i export field "application"  to elasticsearch

Thanks

[2016-08-19 09:12] webernetz opened #702 "How to display current configurations for ntopng?"
Hey guys,
how can I display the current running (default) configurations for ntopng?
I am getting the following alert: "Interface eth1 has too many hosts. Please extend the --max-num-hosts/-x command line option." But before I am fine-tuning this options, I would like to know what the default values are.

I am searching for something like "postconf" that shows all settings for postfix, or the like

[2016-08-19 09:42] lucaderi commented on #699
Can you please send me the exact networks so I can try to reproduce the issue?
What is the problem with the nBox?

[2016-08-19 11:04] ekbfh commented on #699
I write a letter to your mail deri@
Thank you!

[2016-08-19 11:48] Niko78 commented on #702
hi
in user guide

[--max-num-hosts|-x] <num> | Max number of active hosts
| (default: 65536)

nico

[2016-08-21 18:58] dan2716430 opened #703 "Top hosts missing on short time periods"
When generating reports, only Network Interfaces, Local/Remote, Applications and Application Breakdown are displayed. Missing Top Local and Remote Hosts.
This is valid for reports for last hour and last day. Last week seems to be fine.

Ntopng Pro 2.5.160821, running  on Debian 8.

ntopng --pid "/var/run/ntopng.pid" --interface "tcp://127.0.0.1:5556" --data-dir "/var/tmp" --http-port "3000" --loca

[2016-08-22 15:06] nate-byrnes opened #705 "Issue #678 still happening. Not using ES. Running version: 2.5.160822"
I would have re-opened that issue, but it seems I cannot....

[2016-08-22 15:42] ThomasdOtreppe opened #706 "Impossible to login on Chrome"
Using Chrome Version 54.0.2836.0 canary (64-bit) on Windows 7 64 bit, it doesn't let me login.

ntopng version: ntopng Community v.2.4.160818 from ntopng repos (--community has been appended to /etc/ntopng/ntopng.conf

I haven't changed the credentials, base Ubuntu 16.04 install and ntop-ng only.

It lets me type the login no problem but when I type the password, it enable login button after the f

[2016-08-22 21:06] lucaderi commented on #705
Please describe the problem in details and we'll look at it later this week

[2016-08-23 07:19] lucaderi commented on #702
@webernetz We do not have this capability. All we can offer you is to see with ntopng -h the defaults values, and at runtime from the home menu the command line option you have sent on CLI

[2016-08-23 07:19] #702 closed, assigned to nobody

[2016-08-23 17:23] nate-byrnes commented on #705
ON the dashboard I see traffic (this is my top host)
![dashboard](https://cloud.githubusercontent.com/assets/19349744/17457234/ec8a4e90-5bc0-11e6-81d3-e9ac231fd1dc.png)

On the host specific page, I see there has been traffic for quite a while
![host_top](https://cloud.githubusercontent.com/assets/19349744/17457220/25ada83a-5bc0-11e6-8289-b118e6a1a45d.png)

But, in the traffic history graph, I onl

[2016-08-23 20:16] dan2716430 commented on #703
Switched to stable (2.4.160818), deleted all history.

Same problem.

[2016-08-24 12:26] Niko78 opened #710 "tons of "suspicious activity""
since few builds, I have ton of "suspicious activity" permanently whereas it was not the case before
I have 3 ntop servers to manage different networks and they all have the same result :-(
if i'm correct the max is 8193 ? + I did not find the command to extand it
- as I'm using mysql to save data I have now an issue with I/O where I have now 3 MB/s of data recorded on disk. Before it was at 300 K

[2016-08-24 12:36] Niko78 opened #711 "FR: put the focus on username input (login.lua)"
when I go to the ntop webpage, focus is never put on username entry so I need each time to click on it
it would be interesting to add focus on it

thanks

nico

[2016-08-24 14:22] dan2716430 commented on #710
I can confirm the problem.
Even if you delete all the alerts, the list fills back up to 8193 (2^13 + 1).

[2016-08-24 15:32] xgerligand opened #712 "ntopng segfault with commit 11fcf54 ."
Good afternoon.
Compilation of commit 11fcf54 is correct, but i got a segfault when I start ntopng :

ntopng[28048]: segfault at 4b ip 00000000004a697b sp 00007ffdb85c3540 error 4 in ntopng[400000+1c9000]

PF_RING and nDPI were updated to last commit.

Linux : 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt25-2+deb8u3 (2016-07-02) x86_64 GNU/Linux
gcc (Debian 4.9.2-10) 4.9.2

Best regards

[2016-08-24 17:41] pnash01 commented on #703
I'm curious - when you look at the runtime stats, do you see any Lua errors? I posted a similar bug, and I think it is based on some aggregation scripts that are receiving null values when they expect to find something.

[2016-08-24 17:42] lucaderi commented on #703
Hi all, Simone will look at this problem once back from holidays (later this week). Be patient.

[2016-08-24 17:55] pnash01 commented on #703
No worries – I stop/re-start the service throughout the day and is remains stable.

-Paul

From: Luca Deri notifications@github.com
Reply-To: ntop/ntopng reply@reply.github.com
Date: Wednesday, August 24, 2016 at 1:43 PM
To: ntop/ntopng ntopng@noreply.github.com
Cc: Paul Nash Paul.Nash@tufts.edu, Comment comment@noreply.github.com
Subject: Re: [ntop/ntopng] Top hosts missing on short time periods

[2016-08-24 17:58] lucaderi commented on #712
I have just committed a fix. Can you please update and report us @emanuele-f how you have started ntopng (command line)?

[2016-08-24 18:00] lucaderi commented on #710
@Niko78 We do not have the ability to extend it, but @simonemainardi is working at a full alert reimplementation where we can take this into account. This said, are those alerts correct or not?

[2016-08-24 18:21] dan2716430 commented on #710
Nope. Can't speak about Nico, but even after I deleted all the data (/var/tmp), the alerts remained.
The same after clicking on purge all alerts: the alerts disappear for 10 seconds then gradually ramp up to 8193.

[2016-08-24 18:26] dan2716430 commented on #703
Yes, there were some errors logged every 5 minutes:
24/Aug/2016 03:30:02 [Lua.cpp:4755] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/minute.lua][/usr/share/ntopng/scripts/callbacks/minute.lua:195: '/var/tmp/0/rrd/1/2/3/4/bytes.rrd' is not an RRD file]

From the stable branch of a professional version, when I get a report of network issues I expect to:
- ideally: get a list of top t

[2016-08-24 18:49] tiitba opened #713 "Nprobe + NtopNG with Cisco ASA"
hi, i have installed:
ntopng Pro [Small Business Edition] v.2.4.160818
nProbe Pro  v.7.4.160818
for another side, Cisco ASA that send netflow service to port 2055
my config of nprobe: #nprobe -G --zmq tcp://*:5556 -i none -n none --collector-port 2055
my config of ntopng.conf:
-G=/var/run/ntopng.pid
--online-license-check
--local-networks="10.0.0.0/16, 10.2.0.0/16, 10.1.0.0/16, 10.1.1.0/24, 10.7.0

[2016-08-25 05:44] Niko78 commented on #710
same here as Dan, alerts seem not correct at all

[2016-08-25 05:51] dan2716430 commented on #710
@Niko78 Just out of curiosity: do you use the Nagios integration?
I was supposed to start testing this week, but when I saw 8k alerts... I'd better wait.
Trying to send 8193 SMS messages to 5 people might not be such a good idea...

[2016-08-25 05:54] lucaderi commented on #710
@Niko78 Can you explain why they are not correct? If I look at https://cloud.githubusercontent.com/assets/17108017/17930481/bf1a12ac-6a06-11e6-92a9-ce37627a70ac.png I believe they are correct. Please explain why are not so.

@dan2716430 Sending SMSs is not a good idea in 2016. These are flow issues that need to be consolidated in real alerts, and this is what we are doing. Please be patient, of if

[2016-08-25 06:01] dan2716430 commented on #710
@lucaderi In my limited experience with ntopng, every time you restart the service you get an alert for each known host. And you could click on "Purge all alerts" and all would be well until the next restart.

What's new is that now even if you delete all alerts they immediately come back. No service restart needed.

[2016-08-25 06:09] dan2716430 commented on #710
@lucaderi "Sending SMSs is not a good idea in 2016". Why?

[2016-08-25 06:15] lucaderi commented on #710
Said that you cannot send IMHO an alert per flow issue, I think there are better options such as https://telegram.org/blog/bot-revolution. We have a prototype working, but we need some time to integrate it properly in ntopng. It will happen in the coming months.

[2016-08-25 06:24] dan2716430 commented on #710
@lucaderi OK, so you don't have a problem with SMS as a delivery method for alerts. Call me old, but I do remember a time when Internet was not always available.
Telegram integration sounds fine. We use a Telegram bot to coordinate field teams.

[2016-08-25 07:59] Niko78 commented on #710
@Niko78 Can you explain why they are not correct? If I look at https://cloud.githubusercontent.com/assets/17108017/17930481/bf1a12ac-6a06-11e6-92a9-ce37627a70ac.png I believe they are correct. Please explain why are not so.
=> cause it's not because a server is down that there is something suspicious
I would say that all seems to be "suspicious" now, a simple SYN packet has nothing suspicious
a si

[2016-08-25 08:46] simonemainardi commented on #701
hi, "application" is already exported to ES, look for field "L7_PROTO_NAME"

please, give a detailed explanation of the steps you do to assert that counters don't match. What do you mean with 'when I calculate'? This will help us in reproducing the possible issue.

[2016-08-25 08:50] simonemainardi commented on #692
@pnash01 is this the same issue you are experiencing? https://github.com/ntop/ntopng/issues/678

[2016-08-25 09:03] #700 closed, assigned to nobody

[2016-08-25 09:04] simonemainardi commented on #700
thanks for reporting. The issue has been sorted.

[2016-08-25 09:11] simonemainardi commented on #697
it looks like that the redis maxmemory limit has been reached.

[code]

You should either raise the maximum redis memory from its configuration file, or be more conservative with memory usage from within ntopng (e.g., disable hosts dump and resolve only local ip addresses).

[2016-08-25 09:15] xgerligand commented on #712
Morning all.

This is OK now, thank you very much.

ntopng is started with systemctl.

[2016-08-25 10:30] lucaderi commented on #697
@simonemainardi This bug is the consequence of #712. No need to raise the memory, we need to play with valgrind.

[2016-08-25 11:02] simonemainardi commented on #698
I guess we should go through the pf_ring settings in that case. This should fix the issue: https://github.com/simonemainardi/ntopng/commit/6b1948849d5a81bc307bb92440a43473768e8873

@cardigliano what do you think?

[2016-08-25 12:12] garth1985 opened #714 "Ntopng 2.4.160818-1304.x86_64 - Filtering Not Working"
I cant seem to get the filtering at layer 7 to work at all on a Centos 7.2 server. I start ntop with the simplest of options to try eliminate possible issues.

![untitled](https://cloud.githubusercontent.com/assets/21240936/17968578/d9bb2372-6acd-11e6-94f9-7c6037c8675d.jpg)

ntopng -i bridge:p1p1,p1p2 -m "10.0.0.0/24" -G=/var/run/ntopng.pid -e

p1p1 being the external interface. p1p2 being the loc

[2016-08-25 12:46] simonemainardi commented on #714
please, inspect the ntopng logs and post here any possible error you may get. if you can't find the logs, run it in foreground without -e

[2016-08-25 13:25] garth1985 commented on #714
Hi, thanks for the reply.
The only errors I see are the following:
25/Aug/2016 15:19:00 [main.cpp:261] ERROR: Unable to store PID in file =/var/run/ntopng.pid
25/Aug/2016 15:19:04 [PacketBridge.cpp:252] ERROR: DISCARD [p1p1] 30:F7:0D:96:52:C1 -> 30:F7:0D:96:52:C1: do you have a loop in the network?

The loop error repeats every 10-15 seconds. A technician is going to check the cables but we are qu

[2016-08-25 14:53] simonemainardi commented on #706
Hi, I can successfully login using Version 54.0.2839.2 canary (64-bit). Please, try with the new build that will be released tomorrow as it includes the following fix that very likely is related: https://github.com/ntop/ntopng/issues/700

[2016-08-25 14:58] #711 closed, assigned to nobody

[2016-08-25 15:05] simonemainardi commented on #713
apart from the dashboard, does the traffic continue to appear on ntopng? For example, if you navigate to the flows page, do you still see new flows?

You can try and use the browser inspector to see if there is some issue with the dashboard. Right click->inspect element and look for exceptions while the issue occurs.

[2016-08-25 15:47] jbeney commented on #482
Hello Simone,

Did you release ntop 2.3 stable ?
I tried to upgrade according to the procedure http://packages.ntop.org/apt-stable/

But my version is still 2.2.

[cid:image001.png@01D1FEF8.AB350C20]

Thanks for your help,

Jonathan Béney
Ingénieur Intégration
Pôle Réseaux & Communications Unifiées

T : +33 4 26 20 95 24
M : +33 6 29 49 28 65
Exaprobe
Agence de Lyon : 13 B avenue Albert Einstein

[2016-08-25 16:45] simonemainardi commented on #685
I close the issue as I have successfully tested the implementation provided.

[2016-08-25 16:45] #685 closed, assigned to simonemainardi

[2016-08-25 17:32] simonemainardi commented on #714
attach the contents of the interface statistics page. I want to make sure that there's actually traffic flowing through the interfaces. That page also reports statistics on the policed packets. Check that out.

[2016-08-25 17:48] simonemainardi commented on #710
@Niko78 mysql has nothing to do with alerts. Alerts are not saved to mysql. The fact that now there's a 3Mbps traffic going to mysql does not suffice to assert there is something wrong. Check your network for changes, misbehaving/additional hosts, and look at the recorded flows. Do they look good?

The algorithm is implemented in `FlowStatus Flow::getFlowStatus()` please check that out, share your

[2016-08-25 18:08] simonemainardi commented on #703
@dan2716430 we have reworked some parts of the code, including the aggregation scripts. The new build is in progress. Please, wait at least an hour for its completion and try that out.

However, from the screenshot you posted, it looks like data collection stopped at around 21:18. As that kind of data is updated every 5 minutes, the error you reported:

[code]

may be related.

Apparently, the fil

[2016-08-25 18:35] tiitba commented on #713
on "Top Local Talkers" and "Top Remote Destinations" panel is updated.
The problem is on realtime traffic panels, for network interfaces and Application Traffic.
I not found exceptions using inspect elements.

[2016-08-25 18:46] dan2716430 commented on #703
I've sent you an email with the latest RRD.

[2016-08-25 19:09] mroe1234 opened #715 "Make ntopng ElasticSearch cluster aware"
As per the below documentation, there is a way to improve performance when using elastic search as a backend by making ntopng cluster aware:
https://www.elastic.co/guide/en/elasticsearch/client/index.html
With an installation of significant size ( /16 )  we see the following:
25/Aug/2016 14:19:38 [ElasticSearch.cpp:57] WARNING: [ES] Export queue too long [32768]: expect drops

Here is my config fi

[2016-08-25 19:13] mroe1234 opened #716 "RRD does not scale well (~140k hosts, ~40k of which are local)"
For large installations RRD without RRDCached is impossibly slow.  We are currently using an SAN with 24disks in a raid 10 and browsing the data is too slow.  Either RRDCached needs to be added or something like influxDB needs to be investigated.

[2016-08-26 05:39] Niko78 commented on #710
@simonemainardi
ok about mysql but I have this datarate on 3 servers just after upgrading ntop that's why I suspect something wrong before it was ok
no changes in network or/and server
I would like to downgrade, is there an historic of deb files, I would need deb from last week to test

about alerts, ok but as it seems I'm not alone to see something wrong here maybe you should look into it.
thanks

[2016-08-26 06:13] dan2716430 commented on #710
Tried this morning with the latest ntopng build and a clean data folder (/var/tmp/ntopng instead of /var/tmp).

ntopng started with 8193 alerts. How?? It has an empty data folder. If it did not see any traffic, what's the meaning of 8193 of these:
Fri Aug 26 09:09:11 2016    Warning  Suspicious Activity    Probing or server down: gw150-136.jcsfiberlink.net > 108.161.188.192 [TCP 79.134.136.150:390

[2016-08-26 06:30] lucaderi commented on #710
@dan2716430 the above activity is a problem as host 108.... Ha received 2048 TCP RST packets on port 443 sent by host gw-150.... So it looks to me like a DoS attack. BUT what do you mean with "if it did not see any traffic" ? Do you mean that ntopng has not seen these reset packets? Please explain.

[2016-08-26 07:05] garth1985 commented on #714
Hi. Please see below. I feel that it is almost like the system is not showing all the stats or it does not know how to identify the traffic.
![bridge protocols](https://cloud.githubusercontent.com/assets/21240936/17996990/1e4638e4-6b6c-11e6-8cc8-e4433ca158e6.jpg)
![bridge stats](https://cloud.githubusercontent.com/assets/21240936/17996999/2868a69a-6b6c-11e6-81ec-85a931029979.jpg)

[2016-08-26 07:09] dan2716430 commented on #710
Nope, it's not a DOS attack.
You have somewhere an amplification bug.
Fri Aug 26 09:09:11 2016    Warning  Suspicious Activity    Probing or server down: 82.213.22.13 > cache.google.com [TCP 82.213.22.13:443 > 79.134.129.197:41116 [proto: 91/SSL][10240/0 pkts][15360000/0 bytes][ACK]]

Do you need access to the server?

[2016-08-26 07:13] Niko78 commented on #710
same here there is no ddos attack
if you check my screenshots, for some of them there are only few packets (less than 50) and for sure it's not an attack... and even when there are more, nothing indicates it is an attack.. that could be a server in maintenance or something else

[2016-08-26 07:45] lucaderi commented on #710
@dan2716430 Yes access would be great. However if you look at ][10240/0 pkts][15360000/0 bytes] I see only one direction of the traffic (10240 in one direction, 0 in the reverse). Is this consistent with what you expect?

[2016-08-26 07:53] simonemainardi commented on #703
the file you sent me is clearly corrupted:

[code]

however, by looking at the path sent along with the RRD, it looks like you didn't start over on a different directory. please do as suggested.

[2016-08-26 07:58] simonemainardi commented on #713
I need to see that behavior in action. Can you send me a remote access at least to the web interface? you can use my mail mainardi ntop org

[2016-08-26 08:05] ekbfh commented on #699
Any update?
The problem is still there in /ntopng_2.5.160826-1590_amd64.deb

[2016-08-26 08:17] simonemainardi commented on #699
@ekbfh a network pops out in the network page only when some of its traffic is seen. So make sure  `net3` traffic is flowing through ntopng.

btw, what's wrong with the nbox?

[2016-08-26 08:53] ekbfh commented on #699
@simonemainardi hosts from this network are in top local and even in alerts. Maybe some bug in network.lua?
What cpu/memory i need to handle 100k hosts and 100k flows? Now it consumes about 3Gb RAM and ~33% of CPU(6 cores).

P.S. nbox didn't see ntopng, nprobe installations. Debian, all updates from packages.ntop.org

[2016-08-26 09:04] ekbfh commented on #699
**Update**
I didn't see some of networks in list, but i can use links like http://url:3000/lua/hosts_stats.lua?network=3, where is 3 is number of the net.

[2016-08-26 09:25] simonemainardi commented on #715
I am not sure ntopng should be aware of the ES cluster. I believe this is something that must be handled by ES itself. Knowing the internals of an ES cluster shouldn't be done by ntopng. Recall that ES properly handles shards and replicas and transparently distributes data and indices across nodes in the cluster. Node failures, additions, etc are handled by ES internally.

The only thing I believe

[2016-08-26 09:45] simonemainardi commented on #482
hi, we are now at version 2.4 stable. All the information to install/upgrade can be found here: http://packages.ntop.org/

[2016-08-26 10:09] dan2716430 commented on #710
Nope.
I sent you an email for access.

[2016-08-26 11:06] mroe1234 commented on #715
The problem is when ntopng send 3.4 million records per hour to one of 5 hosts that one host drowns while the other 4 are basically idle. Yes the one host will redistribute the best it can but performance suffers greatly. There is a reason elastic search _recommends_ a cluster aware interface.

[2016-08-26 11:45] colinvv2 opened #717 "Info field for BITTORRENT hash is empty"
I am capturing with Nprobe via Proxy using IPFIX and do have '%BITTORRENT_HASH' selected for export.

ntopng.conf:
-n=3
-w=3000
-W=0
-g=-1
-S=all
-F=mysql;localhost;ntopng;flows;ntopng;*****
-d=/storage/ntopng
-G=/var/run/ntopng.pid
-i=tcp://127.0.0.1:5556

nprobe-none.conf:
-n=none
-i=none
-t=60
-d=60
-a=0
-e=1
-B=10
-w=128000
-z=0
-S=1:1
-E=0:0
-g=/var/run/nprobe-none.pid
-3=6343
--zmq=tcp://127

[2016-08-26 13:17] jbeney commented on #482
Hi Simone,

I tried to upgrade following the procedure but the packages are not found for 14.04 LTS :

Err http://www.nmon.net/apt-stable/14.04/ x64/ n2disk 2.3.160414-4462
  404  Not Found
Err http://www.nmon.net/apt-stable/14.04/ x64/ nprobe 7.2.160414-4476
  404  Not Found
Err http://www.nmon.net/apt-stable/14.04/ x64/ ntopng 2.2.160414-1154
  404  Not Found
Err http://www.nmon.net/apt-stable/1

[2016-08-26 13:53] simonemainardi commented on #717
Hi,

you can't use nprobe in proxy mode if you want to the bittorrent hash. You need to send nprobe the real traffic in order for its engine to properly extract the hash from the flow.

[2016-08-26 17:37] simonemainardi commented on #482
did you `apt-get update`?

please, report the exact commands given

[2016-08-26 22:40] colinvv2 commented on #717
But if when I try to collect through 'eth0', I only see the flows from the switches that are reporting their flows. I don't actually get the customer traffic.

The switches are sending their flows via UDP port 6343... but I can only get the Proxy to listen there!

nprobe-eth0.conf:
-n=none
-i=eth0
-s=128
-t=60
-d=60
-a=0
-e=1
-B=10
-w=128000
-z=0
-S=1:1
-E=0:0
-g=/var/run/nprobe-eth0.pid
--zmq=tcp

[2016-08-27 02:16] colinvv2 commented on #717
So how can I do this using a centralized ntop 'collector' within my network?
http://www.ntop.org/ntopng/monitoring-bittorrent-traffic-with-ntopng/

[2016-08-27 07:43] lucaderi commented on #717
In proxy mode not all fields proxied: the bit torrent hash is one of those. Please file an issue request on nprobe where we can implement that

[2016-08-27 11:40] colinvv2 commented on #717
I have turned off 'proxy' and now have nprobe running as 'file' and sending to ntopng. Archive to MySQL is working for ntopng and I am still able to search previous flows. Will the 'file' nprobe be able to get the hash if I set for ?

nprobe-file.conf:
-n=none
-i=none
-t=60
-d=60
-a=0
-e=1
-B=10
-w=128000
-z=0
-S=1:1
-E=0:0
-g=/var/run/nprobe-file.pid
-3=6343
--zmq=tcp://127.0.0.1:5556
--vlanid-as

[2016-08-27 14:34] cardigliano commented on #698
I added support for get_card_settings in the myricom module, it should work now.

Alfredo

[2016-08-27 15:56] emanuele-f commented on #712
The bug is difficult to reproduce but indeed it's located somewhere. From my tests it seems to only appear when invoking luaEvalFlow from Flow::dissectHTTP. Maybe it's something related to concurrency in lua vm calls?

Here are some traces:

==8165== Invalid write of size 4
==8165==    at 0x4BB14B: lj_dispatch_ins (lj_dispatch.c:388)
==8165==    by 0x4DFB4F: lj_vm_inshook (in /home/emanuele/src/nt

[2016-08-27 16:02] kYroL01 commented on #712
@emanuele-f is it maybe related to this https://github.com/ntop/nDPI/issues/249 ?

[2016-08-27 19:34] lucaderi commented on #717
It looks that even in non-proxy mode there is a problem.

[2016-08-29 07:48] jbeney commented on #482
Hello Simone,

Yes I did, please find a trace attached.

Thanks,

Jonathan Béney
Ingénieur Intégration
Pôle Réseaux & Communications Unifiées

T : +33 4 26 20 95 24
M : +33 6 29 49 28 65
Exaprobe
Agence de Lyon : 13 B avenue Albert Einstein  - CS90217 - 69623 Villeurbanne Cedex
email : jbeney@exaprobe.commailto:jbeney@exaprobe.com ― web : www.exaprobe.comhttp://www.exaprobe.com/ /  www.econocom.co

[2016-08-29 08:48] Niko78 commented on #710
about my problem with more data... it's on my side, I have more flows than before so more data
sorry for the noise about that

[2016-08-29 09:17] simonemainardi commented on #482
the latest file downloaded is `«apt-ntop-stable.deb.12»` while you `dpkg`'ed package apt-ntop-stable.deb so maybe you installed and old file.

anyway, first remove any already installed package `apt-ntop` and `apt-ntop-stable` and all the other ntop related packages. Then run clean all and autoremove. Finally try and install the downloaded deb again but make sure to use the right file ending with

[2016-08-29 10:44] simonemainardi commented on #710
hi, I've made a fix that should have solved this issue. @Niko78 @dan2716430 a new build is in progress. Please hold on a couple of hours and then reinstall the latest ntopng. Feedback will be appreciated.

[2016-08-29 11:06] simonemainardi commented on #717
I have tested the combination of nProbe and ntopng with bittorrent traffic and I can say that the hash is propagated properly:

![image](https://cloud.githubusercontent.com/assets/3397663/18049408/64faadfa-6de8-11e6-9165-d4f422c4208a.png)

@colinvv2 , bittorrent hash extraction requires deep packet inspection. nProbe, in order to obtain that hash, leverages on the nDPI engine but it _must see_ the

[2016-08-29 12:47] Niko78 commented on #710
@simonemainardi for me alerts disappeared :-)
thanks

[2016-08-29 13:00] colinvv2 opened #719 "Access Forbidden - nBox integration is disabled"
I am intermittently getting these errors in ntopng. I notice that the main menu items are different and some 'Access Forbidden' messages start to appear.
![image](https://cloud.githubusercontent.com/assets/21261036/18052220/022fe972-6dc7-11e6-8a95-ae0e6f18b1c8.png)

[2016-08-29 13:05] simonemainardi commented on #719
acess forbidden means that you are trying to perform an administrator operation with a non-admin user. Please, check that.

If you still get the errors, post the exact urls visited when getting the message

[2016-08-29 13:18] simonemainardi commented on #714
hi, thanks for posting the screenshots. Apparently, everything looks OK and the bridge is working properly. The fact that shaped and dropped packet counters are at zero seems to suggest that no traffic matching the filtering/shaping criteria has gone through the interfaces. This statement is also enforced by the pie diagrams that don't show any protocol you've blacklisted. Please check that.

[2016-08-29 13:27] garth1985 commented on #714
Hi There
My first post shows blacklisting though? Is there another way to check/show this?
How come there is so much "unidentified" traffic, is there a way to update the layer 7 protocols?
Why does it seem like not all the flows/packets are being displayed/captured? Is there a limit to the number of flows?
We have confirmed, there is no way to connect out other than via the bridge of the Ntop.
Tha

[2016-08-29 13:29] simonemainardi commented on #716
can you please give us an indication of the number of hosts you are monitoring. Also are you keeping l7 statistics?

[2016-08-29 13:30] simonemainardi commented on #706
fix and solution given. closing for inactivity.

[2016-08-29 13:31] simonemainardi commented on #701
solution given. no further information received. closing for inactivity.

[2016-08-29 13:31] #701 closed, assigned to nobody

[2016-08-29 13:34] mroe1234 commented on #716
~140k hosts, ~40k of which are local.

On 08/29/2016 09:29 AM, simonemainardi wrote:

[2016-08-29 13:35] simonemainardi commented on #699
@ekbfh post the full ntopng configuration used or if you can't publish the addresses send it privately at mainardi ntop org

[2016-08-29 13:42] dan2716430 commented on #710
Upgraded to the latest version.

Now when I click on "Purge all alerts" nothing happens...

I can delete the alerts one by one and they don't seem to come back, but I'm not going to click on 8k alerts one by one...

[2016-08-29 13:55] simonemainardi commented on #710
I connected to your system and clicked purge all alerts: all alerts have been immediately purged. Now you have 0 alerts. Let me know.

[2016-08-29 14:00] dan2716430 commented on #710
Weird. That means I am logged in with a user account and did not have the rights to purge all?

Where is the logout button?

![2016-08-29 17_02_04-welcome to ntopng](https://cloud.githubusercontent.com/assets/20684284/18053933/6673e7e2-6e0a-11e6-8e9c-599b9ad454b6.png)

[2016-08-29 14:26] simonemainardi commented on #710
![image](https://cloud.githubusercontent.com/assets/3397663/18054720/40b97ddc-6e05-11e6-86b1-a324d185a71e.png)

screenshot taken directly from your host ntopng

[2016-08-29 14:34] simonemainardi commented on #705
@nate-byrnes I dropped you an email a few days ago. Can you please re-grant me the access to your machine. Thank you,

[2016-08-29 15:03] dan2716430 commented on #710
I don't doubt that's what you're seeing. I just wonder why I don't see the same thing.

[2016-08-29 15:08] dan2716430 commented on #710
Deleted cookies to force re-login and now I have the correct view.
Maybe the interface crashes when left opened?

Anyway, not relevant for this bug.

I can confirm that I no longer have the permanent 8k alerts.

[2016-08-29 15:26] ThomasdOtreppe commented on #706
Tested and just did a fresh install a few minutes ago and got v2.4.160818-1561. Still doesn't work.

[2016-08-29 15:27] ThomasdOtreppe commented on #706
Is there any way I can help debug the issue?

[2016-08-29 15:45] colinvv2 commented on #719
But I am an admin user... and it works properly most of the time. I think it has something to do with never logging in/out and just leaving the browser open all of the time. I do have it set to 'stay loggend in'.

[2016-08-29 15:48] colinvv2 commented on #719
Since the main menu has changed... I can't even log out! What is the query string URL to log off manually?
![image](https://cloud.githubusercontent.com/assets/21261036/18057573/895d1534-6dde-11e6-8806-25cf05044453.png)

[2016-08-29 15:58] simonemainardi commented on #719
delete cookies and it will come back

[2016-08-29 16:00] colinvv2 commented on #717
@simonemainardi,
Are you saying that by using the 'sflow' command in the switch, the hash info may not be sent through to the nProbe? We would need to use as a flow transmitter like one of the following:
- an nProbe application in the firewall itself
- an external piece of equipment on a 'mirror' port in the switch
- an intrusive 'bridge' device between the clients and the firewall

[2016-08-29 16:13] simonemainardi commented on #717
Correct.

A fourth option could be to use a network tap.

See this for a deeper discussion: http://www.ntop.org/pf_ring/port-mirror-vs-network-tap/

[2016-08-29 16:18] simonemainardi commented on #706
version `v2.4.160818-1561` doesn't include the fix. Please use a more recent version.

[2016-08-29 16:41] ThomasdOtreppe commented on #706
That's the latest version available in packages.

[2016-08-29 16:42] simonemainardi commented on #706
look for DEV packages, not sable

[2016-08-29 16:48] ThomasdOtreppe commented on #706
Works fine with dev.

[2016-08-29 16:48] #706 closed, assigned to simonemainardi

[2016-08-29 16:52] simonemainardi commented on #703
after logging and working on @dan2716430 machine I can confirm that the issue is solved now. Reports are properly shown for any time interval.

[2016-08-29 16:52] #703 closed, assigned to simonemainardi

[2016-08-29 17:25] tiitba commented on #713
hi, i cant give you access to you, but a system activity logging. It is util?

[2016-08-29 18:02] nate-byrnes commented on #705
Sorry, i'm just on my way home from a long weekend in the mountains. I'll get that set up tomorrow.
    Thanks,    Nate

---

Nathanial Byrneswww.elmdc.com(716) 949-7656

-------- Original message --------From: simonemainardi notifications@github.com Date: 8/29/16  10:34 AM  (GMT-05:00) To: ntop/ntopng ntopng@noreply.github.com Cc: nate-byrnes nate@elmdc.com, Mention mention@noreply.github.com Sub

[2016-08-29 19:35] tiitba commented on #713
hi, i cant give you access to you, but a system activity logging. It is util?

[2016-08-30 03:42] colinvv2 commented on #719
Ok. So that worked... and got me back to a regular menu.

I see the logout URL is:
http://127.0.0.1:3000/lua/logout.lua

So is this a problem with the User preferences setting for 'Auto Logout' set to 'Off'?

[2016-08-30 04:09] colinvv2 commented on #717
So just to clarify... only direct access to traffic, via nProbe, can extract the 'hash'?

Any way to get nProbe installed on my old Fedora firewalls... going way back. Cores 6/9/13?

[2016-08-30 07:43] simonemainardi commented on #719
autologout doesn't 'hide' the logoff menu, it's just to prevent ntopng from expiring user sessions.

Anyway, is the 'access forbidden' problem solved now?

[2016-08-30 13:45] pmerkner opened #721 "Enabling HTTPS disables all access to web interface"
I stepped through the instructions for creating an SSL cert and added the config file entries to enable HTTPS on port 3001 and disable HTTP by using port 0.  This completely disabled the web interface.  I then commented out the HTTP setting and restarted the ntopng service, still no web access on either HTTP or HTTPS.  Commented out the HTTPS setting and restarted the service, access to the web in

[2016-08-30 19:49] tiitba commented on #713
i think that i found the problem:
![ntopflow](https://cloud.githubusercontent.com/assets/20863646/18104322/035c2dfa-6ed1-11e6-9efa-79858f949daa.jpg)

Is necesary use parameter --max-num-flows?
default is 131072, but what is the recomendation?

[2016-08-31 05:50] faisalusuf opened #722 "Search Criteria missing with SQL Flowdump enabled"
Hi,
With reference to the blog post on `Exploring Historical Data using ntopng`. I have configured the SQL dump of expired flows. I'm not sure if its working properly also I'm unable to locate the search criteria on WEB-GUI. The configurations are okay in my deployment? Please guide.

`ntopng --pid "/var/run/ntopng.pid\" --community "" --dump-flows "mysql;localhost;ntopng;flows;root;xxx" --local-n

[2016-08-31 07:39] simonemainardi commented on #722
search criteria are available in the 'historical data explorer' which is a pro feature. Remove the flag `--community`.

I can also see some generic mysql error from the logs. Check the mysql database and make sure you can connect to that.

[2016-08-31 09:36] faisalusuf commented on #722
Hi simonemainardi,
Thanks for your response. Yes I can see the required tabs. Also I'm able to connect to database locally. Will try to get pro then.

Thanks

[2016-08-31 09:36] #722 closed, assigned to nobody

[2016-08-31 11:51] lhxhanson opened #723 "Is there any simple way to get all the local host that existing on the ntopng?"
My now solution is use script to open the url
get_hosts_data.lua?mode=local&currentPage=1&perPage=5000&sortColumn=column_ip&sortOrder=desc
If there any other people view the ntopng page in his browser, the hosts page also be 5000/per page, this will cause browser stuck.
So is there any other way to get all the local host that existing on the ntopng? Because after I get that, I can get every local

[2016-08-31 13:02] simonemainardi commented on #723
use your script to get paginated results. That is, rather than querying for 5k hosts, play with `currentPage` and `perPage` and call the `get_hosts_data` multiple times. Note that you may want to use flag `mode=local` in the url to get only local hosts. For example

[code]

[2016-08-31 13:02] #723 closed, assigned to nobody

[2016-08-31 15:57] pnash01 opened #724 "ntopng-2.5.160831-1509.x86_64.rpm segfaults upon startup"
Hi all -
  Installed the latest build to test the myricom/MTU support.   ntopng dies upon startup.  I removed the libsnf in /lib64 and pointed the symlink to /opt/snf/lib to see if it was a snf-v4 related issue - still core dumped.

`[root@foo ccpp-2016-08-31-10:19:52-46581]# more core_backtrace
{   "signal": 11
,   "executable": "/usr/bin/ntopng"
,   "stacktrace":
      [ {   "crash_thread": true

[2016-08-31 18:06] simonemainardi commented on #721
hi, I've just tested again https on centos7 and everything works as expected.

[code]

make sure to add the `https://` prefix in the browser url. If the issue still occurs, the add the full ntopng logs. You may have another process that is bound to port 3001.

[2016-08-31 18:31] pmerkner commented on #721
Thanks, Simone.  I’ll try it again.  It could be the instructions in the
user manual for the command switches reference using the colon so –w=:0
–W=:3001.  I’ll give it a go without the colon (which I bet fixes the
issue).

_From:_ simonemainardi [mailto:notifications@github.com]
_Sent:_ Wednesday, August 31, 2016 12:06 PM
_To:_ ntop/ntopng ntopng@noreply.github.com
_Cc:_ pmerkner pmerkner@usgs.go

[2016-08-31 19:12] pnash01 commented on #724
On the chance that it was a corrupted RRD file, I nuked the previously recorded RRD data to start from scratch.  It still segfaulted on startup.

[2016-09-01 05:46] fastlorenzo opened #725 "Update doc for proxy (trailing /)"
Today I tried to put ntopng behind an apache reverse proxy and I encountered the following issue :
I followed the man that says :

But it was not working. Then I noticed the following line in the logs :

Maybe the man example should be updated to remove the trailing / in the example provide.

Kr,
Lorenzo

[2016-09-01 07:49] simonemainardi commented on #721
as it is explained in the manual and in the help, if you use the `:` ntopng will bind on the local address

[2016-09-01 08:16] #725 closed, assigned to nobody

[2016-09-01 08:16] simonemainardi commented on #725
thank you

[2016-09-01 08:20] simonemainardi commented on #724
@pnash01 can you upload the core dump somewhere along with the ntopng binary used. This will help us seeing what's the issue.

[2016-09-01 08:55] simonemainardi commented on #713
increase that to make sure the maximum number is much higher than the actual number. This will limit the collisions in the internal hash tables and boost the performance.

please, let us know.

[2016-09-01 10:19] pmerkner commented on #721
That explains it.  I missed that in the manual!  Thanks again for the help,
Simone.

_From:_ simonemainardi [mailto:notifications@github.com]
_Sent:_ Thursday, September 1, 2016 1:50 AM
_To:_ ntop/ntopng ntopng@noreply.github.com
_Cc:_ pmerkner pmerkner@usgs.gov; Author author@noreply.github.com
_Subject:_ Re: [ntop/ntopng] Enabling HTTPS disables all access to web
interface (#721)

as it is expla

[2016-09-01 10:47] simonemainardi commented on #721
thanks for reporting

[2016-09-01 10:47] #721 closed, assigned to nobody

[2016-09-01 13:15] simonemainardi commented on #719
solution given. closing.

[2016-09-01 13:15] #719 closed, assigned to nobody

[2016-09-01 13:16] simonemainardi commented on #705
a remote session highlighted the filesystem was full. Please make more room and report back.

[2016-09-01 14:20] simonemainardi commented on #717
@colinvv2 correct. Check if you can leverage on one of the existing packaged distributions at http://packages.ntop.org/

[2016-09-01 14:20] #717 closed, assigned to nobody

[2016-09-01 14:23] simonemainardi commented on #705
I can confirm that the issue was due to a full FS. It is solved now and statistics are properly recorded.

[2016-09-01 14:23] #705 closed, assigned to simonemainardi

[2016-09-01 14:29] simonemainardi commented on #714
Hi,

On Mon, Aug 29, 2016 at 3:27 PM, garth1985 notifications@github.com wrote:

you can check rules from the interfaces page, menu 'traffic filtering' and
'traffic shaping'

layer7 protocols are detected via nDPI. That is pretty accurate so a large
part of unidentified traffic may suggest that there's something to check on
the traffic that is directed to ntopng. Also there's a 'no traffic yet' on

[2016-09-01 16:46] simonemainardi commented on #724
I've just fixed a crash on the box of another user. Before uploading the core dump, I encourage you to try with the latest dev build. Thank you.

Simone

[2016-09-01 18:57] pnash01 commented on #724
Just tried the latest nightly build (160901-1514) and it segfaulted on startup.

`#0  0x00000000005497fe in lj_BC_TGETS ()
#1  0x000000000052c5c9 in lua_pcall (L=0x4047f378, nargs=0, nresults=0, errfunc=0) at lj_api.c:1052
#2  0x000000000049f604 in NetworkInterface::luaEvalFlow (this=0xc9c010, f=0x7f2e90a17070, cb=callback_flow_update) at src/NetworkInterface.cpp:4100
#3  0x00000000004580ab in Flo

[2016-09-01 21:55] colinvv2 opened #726 "Extract pcap - Interface Missing"
When I try to 'Extract pcap'... error shows 'Interface Missing'.

![image](https://cloud.githubusercontent.com/assets/21261036/18185615/8c0562a6-706c-11e6-89f6-09e03a66e065.png)

---

ntopng.conf:
-n=3
-w=3000
-W=0
-g=-1
-S=all
-F=mysql;localhost;ntopng;flows;ntopng;*****
-d=/storage/ntopng
-G=/var/run/ntopng.pid
-i=tcp://127.0.0.1:5556

---

nprobe-file.conf:
-n=none
-i=none
-t=60
-d=60
-a=0
-e=1

[2016-09-02 05:56] Alestor commented on #680
Now I have ntopng running for one Month. A Report for the last 30 Days doesn't show the stats for Top Countries,Top Remote Hosts , Top Local Hosts, Top AS, Top Local OS and even Total Traffic for Local/Remote, Local Networks and all L7 Protocols are missing. Sorry but Reports like this are useless :-(

Version 2.4.160818 - Pro Small Business Edition

[2016-09-02 07:46] simonemainardi commented on #724
please, upload the core dump file along with the ntopng binary and share the download link

[2016-09-02 10:26] pnash01 commented on #724
Link sent yesterday to ntop-dev list. I cannot post publicly.

On Fri, Sep 2, 2016 at 3:47 AM -0400, "simonemainardi" <notifications@github.com<mailto:notifications@github.com>> wrote:

please, upload the core dump file along with the ntopng binary and share the download link

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHubhttps://github.com/nto

[2016-09-02 10:36] simonemainardi commented on #712
@xgerligand can you confirm this is solved?

[2016-09-02 10:38] #695 closed, assigned to nobody

[2016-09-02 10:40] simonemainardi commented on #610
@HRomie can you try and install our latest windows package http://packages.ntop.org/Windows/
please report if errors are still appearing.

thank you

[2016-09-02 10:41] simonemainardi commented on #713
@tiitba any news?

[2016-09-02 10:42] simonemainardi commented on #625
solution given. closing for inactivity.

[2016-09-02 10:42] #625 closed, assigned to nobody

[2016-09-02 10:47] simonemainardi commented on #665
Solution given. No feedback received. The user that posted the issue no longer exists. Closing.

[2016-09-02 10:47] #665 closed, assigned to lucaderi

[2016-09-02 10:49] simonemainardi commented on #724
didn't get that, it's not even in the spam folder. please use my direct mail mainardi ntop org

[2016-09-02 10:56] emanuele-f commented on #712
@simonemainardi this bug should be fixed properly before closing the issue. Right now the defective code it's only disabled, not fixed.

[2016-09-02 11:52] dan2716430 commented on #703
Can you please login again? The problem is back.

The log is filled with this:
02/Sep/2016 14:45:04 [Lua.cpp:5041] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/minute.lua][/usr/share/ntopng/scripts/callbacks/minute.lua:186: '/var/tmp/ntopng/0/rrd/Megaco.rrd' is not an RRD file]
02/Sep/2016 14:40:04 [Lua.cpp:5041] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/minute.l

[2016-09-02 13:39] dan2716430 opened #727 "Top application last day view grows by simply logging in to the UI"
I've not logged in to the UI for a few days.
Today I logged in at 14:45. Immediately the dashboard registered a 25% (about 1Gbps) increase on the Top Application Traffic Last Day View.
I checked with Cacti graphs, there was no traffic increase.

![2016-09-02 16_32_34-welcome to ntopng](https://cloud.githubusercontent.com/assets/20684284/18205652/c83ee3e0-712b-11e6-9a5b-90867a720d3a.png)

[2016-09-05 06:23] HRomie commented on #610
@simonemainardi
The latest build (ntopng-2.4.160627_1-x64.exe) , is completely broken to the point that it can not be reliably tested for this bug. testing on windows 10 x64, i constantly get these in the console:

If i had to guess, it would be that it's not doing a proper job of reformatting file names to windows acceptable ones ( windows does not allow ":" in the file name ).

[2016-09-05 07:49] lhxhanson commented on #723
So if the perPage is only work in the login session not all the user will be more convenient.

[2016-09-05 07:53] lhxhanson commented on #716
If you dump flows into database, the historical page will be very very slow. Every time you open the historical page, even the the auto update, ntopng will do some query.

[2016-09-05 13:20] dan2716430 commented on #703
Still the same problem. No errors now in the log.
![2016-09-05 16_19_44-welcome to ntopng](https://cloud.githubusercontent.com/assets/20684284/18249061/b29f4664-7384-11e6-807a-86020107108b.png)

[2016-09-05 13:32] simonemainardi commented on #703
@dan2716430 I'm working on that I'm on your machine

[2016-09-05 17:23] simonemainardi commented on #703
@dan2716430 please check now.

[2016-09-06 05:52] edo33 opened #728 "Ntopng compilation src/Prefs.o' failed on debian 8.5"
Hello.
Ive got problem with compiling ntopng 2.4.0 on my debian 8.5 system. I have tryed git pull && ./configure && make in nDPI dir but it didnt work.
Operating System: Debian GNU/Linux 8 (jessie)
Kernel: Linux 3.16.0-4-686-pae
Architecture: x86
src/Prefs.cpp: In function ‘void nDPIusage()’:
src/Prefs.cpp:150:81: error: too few arguments to function ‘ndpi_detection_module_struct\* ndpi_init_detec

[2016-09-06 07:40] simonemainardi commented on #728
you need to use nDPI stable branch 1.8 (https://github.com/ntop/nDPI/tree/1.8-stable)

make sure to uninstall any previous nDPI (you have 1.7.x under /usr/local) and then checkout branch 1.8 in an ntopng sibling directory

[2016-09-06 08:11] simonemainardi commented on #680
@Alestor we have made a fix that solved the missing hosts issue on debian. Please, try with the latest dev build.

Note that reports don't use mysql.

Also keep in mind that when upgrading from 2.4 to 2.5 there will be mysql schema updates that may take some time. So for you in order to try 2.5 I would recommend first disabling mysql flows dump. You can re-enable it afterwards.

[2016-09-06 09:10] edo33 commented on #728
Thank you very much. Now its ok but another error.
g++ -g -Wall -I/ntopng -I/ntopng/include -I/usr/local/include -D_FILE_OFFSET_BITS=64 -I/usr/include/hiredis  -I/usr/include/hiredis -I/ntopng/third-party/mongoose -I/ntopng/third-party/json-c  -I/usr/local/include/libndpi-1.7.1/libndpi  -I/ntopng/third-party/LuaJIT-2.0.3/src  -I/ntopng/third-party/zeromq-4.1.3/include -I/usr/include/mysql  -I/ntop

[2016-09-06 09:27] simonemainardi commented on #728
you are still using `libndpi-1.7.1``

re-run `./autogen.sh && ./configure`  before `make`

[2016-09-06 10:33] #610 closed, assigned to simonemainardi

[2016-09-06 10:33] simonemainardi commented on #610
@HRomie thanks for reporting. We have fixed the issue with file names. You will be notified when a new windows build will be available. This will likely be during the next few days.

[2016-09-06 11:19] DigiAngel opened #729 "Feature Request: Activities totals"
Instead of just having 0.00 B it would be neat to have totals on the right side:

[code]

[2016-09-06 11:26] edo33 commented on #728
Thank you very much. . After removing libndpi-1.7.1 from /usr/local/include/  there was still some shared objects in  /usr/local/lib - libndpi-bin.so. Problem was gone when I manualy remove that file. Many thanks for help.

[2016-09-06 12:10] simonemainardi commented on #728
thank you

[2016-09-06 12:10] #728 closed, assigned to nobody

[2016-09-06 14:14] DigiAngel opened #730 "Latest git segfault"
Bummer:

[code]

and

[code]

I can debug, just lemme know how.

[2016-09-06 14:43] simonemainardi commented on #730
you are using aug 26 version. Make sure to either use the latest branch of 2.4 stable if you are building from source.

[2016-09-06 15:11] tiitba commented on #713
hi, sory, i was with issues with servers, when i finish with these, i returne to work with ntopng, i will try with 1000000 flows as parametre, do you think that it will have any problems with perfeormance?

[2016-09-06 15:41] DigiAngel commented on #730
Thank you...however I'm more than happy to continue with the 2.5 branch to report bugs and use new features :)  This isn't really in a business environment, so I can continue to test.

[2016-09-06 15:44] simonemainardi commented on #730
Thank you. I'm closing this as it is related to an old version. Please, feel free to re-open in case you experience it in the latest build.

[2016-09-06 15:44] #730 closed, assigned to nobody

[2016-09-06 15:49] simonemainardi commented on #713
1M flows as maximum value may be OK but if you approach 1M real flows in practice on a single interface then this number may bee too high. In that cases, there are tricks you can use such as network views that create a logical merge of multiple interfaces.

[2016-09-06 16:09] pnash01 commented on #724
Tried latest version - it launches but the webportion does not bind to the interface.

[2016-09-06 18:11] Alestor commented on #680
Thanks for the Update - I'll try it out next weekend.

[2016-09-06 20:54] tiitba commented on #713
hi, i am not using -H parameter, because i not set mysql yet. In case to use db, is necesary set flows?
If you want, i can show you my final proyect (a simple scheme) to monitoring two routers at different sites, and then you tell me if it is the best setting to use ntopng + nprobe.
I not have hurry, but i would like have this system running to end of the year.

[2016-09-07 10:12] blues-git opened #731 "Feature Request: interface with sample rate"
I have few devices that I'm monitoring using ntopng.
Traffic is directed using port mirror with sample-rate 1:100. That causes bandwidth problems (100x lower rates).

I would be great to introduce option to specify interface with sample-rate, i.e.: -i eth0@100

[2016-09-08 08:30] EAnsy commented on #724
PANIC: unprotected error in call to Lua API (/usr/local/share/ntopng/scripts/callbacks/flowactivity.lua:37: attempt to call method 'gsub' (a number value))
Segfaulting too... :(
v.2.5.160831 [Community Edition]
GIT rev:   dev:19091e2a793ba9589544d83039309f0ba466ea8e:20160831

[2016-09-08 09:43] simonemainardi commented on #724
@EAnsy you are using version v2.5.160831, please update to the latest dev build

[2016-09-08 09:53] lucaderi commented on #717
In order to extract the hash it is necessary to see the whole packet, so a direct packet capture is required

[2016-09-08 15:43] simonemainardi commented on #713
I guess you mean flag `-F`... Anyway, without storing flows to db, you can still get a plenty of information. If you need raw flows stored on the db this depends on you and what you want to achieve.

Please, share the scheme here.

[2016-09-08 20:50] njcwotx opened #732 "ntopng - "database schema is being updated...""
After restarting ntopng, I get a message "The database schema is being updated to include the most recent changes. Please wait, this is normal.  You will be redirected as soon as the changes take effect."

At this point its been a few hours.  This happened a few days ago, but I deleted all the folders and started over.  We just purchased a pro license and applied yesterday.  If I blow away the fol

[2016-09-09 07:10] EAnsy commented on #724
PANIC: unprotected error in call to Lua API (/usr/local/share/ntopng/scripts/callbacks/flowactivity.lua:57: attempt to index local 'proto' (a nil value))
v.2.5.160908 [Community Edition]
GIT rev:   dev:dcc1a2da7f86dfa0305f4d154c3beffddf8c8f92:20160908

[2016-09-09 07:36] lhxhanson opened #733 "Reopen:There was something strange about MySQL"
![qq 20160909153007](https://cloud.githubusercontent.com/assets/5568373/18378927/6905e2da-76a2-11e6-8d18-9577dd3bc382.png)

Are these MySQL ERROR have any relevance to the **Data Retention**？
The version about ntopng is 2.4.160805 - Community Edition

[2016-09-09 07:41] prasad9920 opened #734 "is it possible to get trial license for 60 days I want to test ntopng with mysql database"
is it possible to get trial license for 60 days I want to test ntopng with mysql database

[2016-09-09 07:45] simonemainardi commented on #734
yes, please, follow up with Maria (mallegro ntop org) and she will provide you the trial license.

[2016-09-09 07:45] #734 closed, assigned to nobody

[2016-09-09 07:48] simonemainardi commented on #733
please, update to the latest stable (v2.4.160908) and then report back

[2016-09-09 08:05] simonemainardi commented on #732
Hi,

What happened is that you updated ntopng to a new version that introduced some changes in the MySQL database schema. In these cases ntopng tries to automatically migrate the old schema to the new one and this is why you get the message _"The database schema is being updated to include the most recent changes. Please wait, this is normal. You will be redirected as soon as the changes take effe

[2016-09-09 08:05] #732 closed, assigned to nobody

[2016-09-09 08:36] lhxhanson commented on #733
@simonemainardi
OK, I will try the latest stable version. If this happened again, then open a new issue.

[2016-09-09 16:40] njcwotx commented on #732
It has happened again this am.  Restarted ntopng and it reoocurred.  I didnt perform any upgrade until yesterday after the first 2 times it started and it had broken.  It was originally installed a few weeks ago fresh.  If I delete the ntopng mysql database for history, I can get it to start up again.

ntopng.log shows 3 lines at bottom of log.
MySQL schema update. Altering table flowsv4: renaming

[2016-09-10 08:30] simonemainardi commented on #724
@pnash01 @EAnsy we have found a race condition that could be the cause of the crash. Can you please try with the latest dev build and let us know. Thank you.

[2016-09-10 08:53] lucaderi commented on #724
Packages are under construction: please allow 30 min before you test it

[2016-09-11 01:35] lhxhanson commented on #733
I have update to the latest stable version, looks like the strange log is still have.
We have about 4k hosts, and 30 million flows a day. The mysql and ntopng data directory are all on a ssd.
![qq 20160911093042](https://cloud.githubusercontent.com/assets/5568373/18414589/71859930-7802-11e6-89fb-549b3c923c36.png)

[2016-09-12 03:43] theidforgithub opened #737 "about ntopng's system id and execute"
When I reboot my machine and don't know why the system id
The system id is changed after my machine reboot .
I have checked runtime status it's show that " [LICENSE] ntopng is starting without a valid license".
My last SystemId is 3B0B1FB576056205 but now it is changed to B308B1CFB2092205.
I try to use the shop page to generate a new one and it show I've got one before.

The other problem is I fou

[2016-09-12 06:34] davewkzn commented on #714
Good day Simone,

Thank you for your feedback to Garth. Sorry for only coming back to you now!

How are you keeping?

I am seeing inconsistent statistics in ntopng but perhaps it is my lack of understanding? Please may I ask for your urgent guidance/assistance?
Our setup is very simple. We have ntopng installed on a Linux firewall (CentOS-7.x) that has interface "p1p1" connected to the Internet an

[2016-09-12 07:42] simonemainardi commented on #733
If we look at the timestamp of the errors, we see that they occur exactly at 0.00 and 8.00.

I guess there is some automatic procedure at 0.00 that could possibly teardown MySQL server and/or it connections (e.g., system updates?).

Moreover, the next error occur at 8.00, that is, exactly 8 hours after midnight. The 8 hours is also the default timeout of mysql connections (see MySQL configuration

[2016-09-12 08:10] simonemainardi commented on #737
Alvin,

System ID should not change. Are you running ntopng on top of a VM? Please, check that the hypervisor has not changed the underlying emulated hardware or mac addresses.

Try and add ntopng option `--online-license-check`. If this doesn't work, please contact me privately and I'll send you instructions to withdraw the license and generate a new one (mainardi ntop org). However, we should un

[2016-09-12 15:05] theidforgithub commented on #737
Simonemainardi ,

Thanks for your help !

Maybe you are right, I've cloned my VM when I need to backup one . I didn't change my NIC even machine's hardware. I don't know will clone (the same mac address) will change the system id or not.
In this case , I believe maybe something is changed invisible ...

so the ntopng stop collecting the traffic is normal if I have the invalid license ?

It's seem

[2016-09-12 15:20] simonemainardi commented on #737
ntopng doesn't stop collecting traffic without a valid license, it just toggles in non-professional mode.

However, as you are running nprobe and ntopng on the same host, I guess it is the nprobe that stops sending traffic: without a valid license, nprobe stops exporting flows after a while.
Indeed, the system id change affects both the ntopng and the nprobe.

btw, if ntopng fails to start on boot

[2016-09-12 15:30] theidforgithub commented on #737
Very fast reply !!
I think you are right although I solve the ntopng's problem but the nprobe hasn't changed .

sudo systemctl status ntopng
● ntopng.service - LSB: Start/stop ntopng web
   Loaded: loaded (/etc/init.d/ntopng)
   Active: active (running) since Mon 2016-09-12 23:18:48 CST; 8min ago
  Process: 1008 ExecStart=/etc/init.d/ntopng start (code=exited, status=0/SUCCESS)
   CGroup: /system.

[2016-09-12 16:03] simonemainardi commented on #737
nprobe has the same option `--online-license-check` you can add it to the nprobe configuration file

[2016-09-12 16:09] theidforgithub commented on #737
OK , I'll try it . And I need to put both nprobe and ntopng in rc.local or it will not start like above I post ...

[2016-09-12 16:16] theidforgithub commented on #737
service nprobe status
● nprobe.service - LSB: Start/stop nprobe
   Loaded: loaded (/etc/init.d/nprobe)
   Active: active (exited) since Tue 2016-09-13 00:14:53 CST; 1min 15s ago
  Process: 613 ExecStart=/etc/init.d/nprobe start (code=exited, status=0/SUCCESS                                                                             )
Is it normal ??

[2016-09-12 16:21] simonemainardi commented on #737
it's normal, it just say exited. start it

[2016-09-12 16:21] theidforgithub commented on #737
okay I got it !
It's works now. I will keep monitoring it !
Thanks for help me !!!

[2016-09-12 17:12] brunoaraujocosta opened #739 "broken packages"
HI, having errors on install ntopng..

Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following information may help to resolve the situation:

The following packages have unmet dependencies:
 ntopng : Depends: l

[2016-09-12 18:43] lucaderi commented on #739
Can you please report what platform/OS version are you using and attach the whole installation log?

[2016-09-13 02:43] lhxhanson commented on #733
Thanks for reply.
The running ntopng host is the gateway that connect to the Internet, so if there is no big issue, we won't do any change on this host.
Why I think it may caused by Data Retention is that, sort the tables by idx, the oldest record's FIRST_SWITCHED is always about 08:00, just same as the error time in log. And our timezone is UTC+8.

We have a test environment, it has 500+ hosts, a

[2016-09-13 05:40] lucaderi commented on #712
We believe this issue is fixed

[2016-09-13 05:40] #712 closed, assigned to nobody

[2016-09-13 05:41] #737 closed, assigned to nobody

[2016-09-13 09:03] simonemainardi commented on #733
Since cleanup according to the data retention settings is performed once per day using the unix epoch, it should occurs exactly at UTC+8 on your system so your point is meaningful.

However, I think I have found the issue. The cleanup performs a DELETE operation on the mysql DB and this kind of query it is not supposed to return any result. In the previous implementation we assumed a no-result ret

[2016-09-13 09:10] #733 closed, assigned to nobody

[2016-09-13 09:45] brunoaraujocosta commented on #739
Hi
Using Ubuntu 16.04. I already add ntopng installed, but for somehow i can't install it again.
error:

The following packages have unmet dependencies:
 ntopng : Depends: libhiredis0.10 but it is not installable
          Depends: libmysqlclient18 but it is not installable
E: Unable to correct problems, you have held broken packages.

I only see apt-get logs with instalations. I can't see the fai

[2016-09-13 10:16] lucaderi commented on #739
Again, no logs, no version, are not enough. Please share this info or I cannot help you

[2016-09-13 10:23] Niko78 opened #740 "datarate on disk"
I use nprobe/ntop as netflow (v9) collector
I have around 45 routers (60k Hosts, 150k
flows) which send their netfow stream on this server
Bandwidth usage (input) on ntop server is less than 200 Kbps... but
ntop writes at more than 20MBps still on disk.

I have a second server with 400 routers with less hosts/flows... bandwidth usage is 500 kbps but datarate on disk is more than 50MBps !

we plann

[2016-09-13 11:01] simonemainardi commented on #740
Please enclose proof that is actually ntopng that is writing at 20/50Mbps on disk.

However, among the _27_ issues you have already filed so far (https://github.com/ntop/ntopng/issues?utf8=%E2%9C%93&q=author%3ANiko78) there is this one (https://github.com/ntop/ntopng/issues/628#issuecomment-229033070) that shows how you define one huge /16 local network. My feeling is that you have 60k local hosts

[2016-09-13 11:11] Niko78 commented on #740
L7 was disabled
I let you see my screenshot (less hosts/flows but high IO)

![ntop](https://cloud.githubusercontent.com/assets/17108017/18471754/a5022438-79b3-11e6-8814-f6138b3cb22b.jpg)

[2016-09-13 11:22] EAnsy commented on #724
Well done, guys -- uptime _(ntopng Community v.2.5.160913)_ more than one hour for now. Thanks!

[2016-09-13 12:05] lucaderi commented on #740
@Niko78 Can you please check on the nProbe side how many flows are sent to nProbe? I suggest you to add -b 1 (or even -b 2) on nProbe and see. I see flow drops on ntopng: can you please create a virtual interface per exporter router/nProbe so that you can leverage on the multithreading ntopng capabilities?