[2017-03-10 12:32] #1016 closed, assigned to simonemainardi, emanuele-f

[2017-03-10 12:53] gianogli commented on #1010
Ok, thanks! I'll write you to arrange a remote session.

However... now, after 2 days we have the same issue:

![ntopng_new4](https://cloud.githubusercontent.com/assets/14093378/23795984/a4b39fc2-0598-11e7-9352-4b75cab775c1.png)

Thanks...

[2017-03-10 13:53] trickius commented on #1032
No barely 20 hosts are in my network. I choose the loopback interface but same things happen.

[2017-03-10 14:08] FreeSoftwareServers commented on #1037
I set my router (Vyatta) to send flow packets to the ntop IP address, so I assume I want poll mode, I will read the doc's and try again. It just seems like when running the above, i should see nprobe listening, but maybe I am missing something

[2017-03-10 14:21] FreeSoftwareServers commented on #1037
I think one of my issues, was not using double dash's on --zmq, as I don't see the line "Successfully created endpoint tcp://*5556" in my above output, which I do now. But I'm not sure if this is working as I expected. I wasn't looking to use probe, as I mentioned I set the route to export netflow data to the ntop server. I don't see the "collector port" in netstat still. I am making progress thou

[2017-03-10 14:25] FreeSoftwareServers commented on #1037
Hazzar!! This post has the line of code I needed!

http://listgateway.unipi.it/pipermail/ntop/2015-September/018808.html

nprobe --zmq "tcp://*:5556" --collector-port 2055 -i none -n none

seems my issue was the "--" double dash, but also, I was using i eth0, and have the commands in a different order.

[2017-03-10 14:25] #1037 closed, assigned to nobody

[2017-03-11 09:08] lucaderi opened #1038 "Interface Menu Enhancements"
It is requested in the interfaces menu to
- add an icon (similar to the view icon for interface views) that identifies flow-collection interfaces and another for physical ethernet interfaces
- next to the interface name add the packet drop percentage (or nothing if no drops have been reported)

[2017-03-11 09:12] lucaderi opened #1039 "Add IP v4/v6 Menu"
It is request to add the IPv4/v6 menu already available in hosts/flows also on hosts -> Looking Glass menu item

[2017-03-11 09:20] lucaderi opened #1040 "L2/Flow Devices/SNMP Menu"
- The Flow devices menu must appear only if the selected interface is a flow interface
- The L2 menu must appear only of there is at least one L2 device, thing that typically does not happen with flow devices where (unless defined with -T) MAC addresses are not reported

[2017-03-11 09:25] lucaderi opened #1041 "Interface to SNMP Binding"
In the interface menu, when SNMP is configured there are some issues to be fixed.
- The menu entry must be renamed to "SNMP Bind" to "SNMP"
- The page must explain with a short sentence the idea behind this work
- If a SNMP device is selected, there must be a link to jumping to the SNMP view of the selected device
- When listing the SNMP devices, some devices must be discarded. Example you should

[2017-03-12 14:23] simonemainardi commented on #945
are you using nprobe to collect netflow from some device? Please, report the full nprobe and ntopng configuration used. My guess is that there's some issue with timestamps as flow are properly reaching ntopng.

[2017-03-12 14:32] timothyherrera commented on #945
Yes. Using nprobe to collect netflow from Cisco ASA.  Is there a trick to
properly configuring the timestamps on the ASA?

On Sun, Mar 12, 2017 at 7:23 AM, simonemainardi <notifications@github.com>
wrote:

[2017-03-12 14:34] timothyherrera commented on #945
Ntopng config:

--interface=tcp://127.0.0.1:5556
--pid=/var/tmp/ntopng.pid
--community=
--disable-login=1

nprobe config:

--zmq="tcp://*:5556"
--collector-port=2055
-n=none
-i=none
-g=/var/run/nprobe-none.pid

[2017-03-12 14:54] simonemainardi commented on #945
We should see a packet capture (a pcap) that goes from the ASA to the nprobe on port 2055. You can enclose a pcap for our inspection.

You know, the ASA is a firewall that uses NetFlow to implement NSEL which, in turn, exports flow information on the basis of events (e.g., flow was denied, flow was created, etc). I think the information send from the ASA is somehow incomplete and thus ntopng canno

[2017-03-12 18:13] timothyherrera commented on #945
I switched the nprobe config from collector mode to probe mode, and everything is now working!

http://www.ntop.org/products/netflow/nprobe/

Is there a reason why this change would make the difference?

[2017-03-13 02:29] lhxhanson commented on #1028
@emanuele-f
I have updated to the newest version. Here is the log:
![image](https://cloud.githubusercontent.com/assets/5568373/23839287/e9e769e8-07d7-11e7-885a-b62c44c95249.png)

[2017-03-13 10:32] #1028 closed, assigned to emanuele-f

[2017-03-13 10:33] simonemainardi commented on #1028
Fixed. Thanks for reporting. A new build is in progress. Please try in an hour.

[2017-03-13 10:39] simonemainardi commented on #945
nprobe in collector mode is designed to interpret and parse netflow data. Nprobe in probe mode is designed to capture information from raw packets. They are two different modes that do different things and cannot be used interchangeably. Are you sure you want to do raw packet capture on netflow data?

[2017-03-13 11:24] emanuele-f commented on #1041
Fixed with 11953e3ede7af3a8422b913d6842b970d13d2097

[2017-03-13 11:24] #1041 closed, assigned to simonemainardi, emanuele-f

[2017-03-13 11:39] lhxhanson commented on #1028
@simonemainardi  thanks for fixing.
By the way, when will the stable version fix this too?

[2017-03-13 12:02] #1040 closed, assigned to simonemainardi, emanuele-f

[2017-03-13 12:03] simonemainardi commented on #1028
as soon as we release version 2.6. Hopefully in 1-2 weeks from now.

[2017-03-13 12:15] simonemainardi commented on #1034
@PSmolders can you open an access to your ntopng web ui? I just want to try it and see. Feel free to send me the access privately at mainardi ntop org

[2017-03-13 13:29] simonemainardi commented on #1032
@trickius can you send me access and credentials to inspect your ntopng UI? You can do it privately at mainardi ntop org

[2017-03-13 14:32] PSmolders commented on #1034
I'm sorry, but I can't do that. We are a business with highly confidential data (medical personnel files among others) and it's just not possible to allow any opportunity for any scrap of data to leave the building or to allow others in. I can take censored screenshots and provide logfiles of anything you might need.

If it can't be fixed or if I am the only case, then so be it, I'll wait for othe

[2017-03-13 14:46] simonemainardi commented on #1034
ok, I understand. The real issue here is that I can't reproduce using ubuntu 16 LTS.

Please, enclose censored screenshots and any other information that can help us with the debugging

[2017-03-13 14:47] emanuele-f commented on #1039
Implemented with 20930f49c513f1d665aa3072d6403afe4ed75eb9

[2017-03-13 14:47] #1039 closed, assigned to simonemainardi, emanuele-f

[2017-03-13 16:33] timothyherrera commented on #945
Probably not, but the question remains; why does probe mode work when
collector mode does not work?

On Mon, Mar 13, 2017 at 3:39 AM, simonemainardi <notifications@github.com>
wrote:

[2017-03-13 16:41] simonemainardi commented on #945
You're comparing apples to oranges. nProbe in collector mode operates differently from nProbe in probe mode. The first this you should do when debugging the probe mode is to use tcpdump to see if netflow packets are properly reaching your host on configured port 2055.

[2017-03-13 16:44] timothyherrera commented on #945
Yes, I understand that nProbe works very differently in these two modes,
but what nProbe sends out should be the same, right?  ZMQ is used to send
the data to ntopng, whether it is collected via probe or collector mode.
So if nProbe sends ZMQ to ntopng in both cases, why does one work and the
other not work?

On Mon, Mar 13, 2017 at 9:41 AM, simonemainardi <notifications@github.com>
wrote:

[2017-03-13 16:49] simonemainardi commented on #945
but what nProbe sends out should be the same, right?

Right, provided that nProbe properly receives -- in collector mode -- or captures -- in probe mode -- data. This is why I suggested you to see if netflow is reaching your host on port 2055.

[2017-03-13 16:52] timothyherrera commented on #945
Yes, Netflow data is reaching the host on 2055.  We know this because we
see the ZMQ coming into ntopng in both modes.  The problem is that the data
is not displayed when nProbe is running in collector mode.  I can collect
pcap traces, but I don't understand how that will help since we already
know ntopng is getting data from nProbe.

On Mon, Mar 13, 2017 at 9:49 AM, simonemainardi <notifications@

[2017-03-13 17:04] timothyherrera commented on #945
Requested pcap attached
[netflow.pcap.zip](https://github.com/ntop/ntopng/files/839009/netflow.pcap.zip)

[2017-03-14 08:02] PSmolders commented on #1034
This will stay like this forever. I've left it on for over an hour and still the flows page does not update.
![flows](https://cloud.githubusercontent.com/assets/8997593/23891071/cd5f42d8-0894-11e7-929b-0a660a82609b.png)

Content of GET requests. The flow_key parameter is the same every round of requests, but the _ parameter increments every GET request.
![get](https://cloud.githubusercontent.com/a

[2017-03-14 08:51] simonemainardi commented on #1034
- what is the interface that was selected when taking the screenshots? The view? Or one of the other two? It looks like you have duplicate flows. Any chance the same flows are seen twice, one time per interface?
- Did you censored this json or it is as-is?
![image](https://cloud.githubusercontent.com/assets/3397663/23892551/59b040ba-089b-11e7-8698-b87e8354b8b1.png)

[2017-03-14 09:15] trickius commented on #1032
Hi, i have authorized privately mr mainardi by email to my ntopng installation. Plz inform me when you finish inspecting to revoke permission. Thanks a lot.

[2017-03-14 09:15] PSmolders commented on #1034
This JSON is as-is, it is not censored. I took the screenshots on the view interface. I can't seem to find any duplicate flows between interfaces 1 and 2. The orange-blue bars denoting the client-server traffic all turn completely orange, with one or two turning 50% orange and 50% blue, while there definitely is traffic flowing both ways. The coloring happens at the point where the page refuses to

[2017-03-14 13:29] johnydoo opened #1042 "host_details.lua returned an error"
Detected Alerts > Flow Alerts > clicking on an individual host in the Description wil generate this error:

[code]

[2017-03-14 13:32] johnydoo commented on #1042
Running ntopng 2.5.170314-2398 on CentOS 7.3.1611.

[2017-03-14 15:27] simonemainardi commented on #1034
if you visit a non-view interface, do you get proper refresh for the flows page?

[2017-03-14 15:33] simonemainardi commented on #1032
thanks, we're looking at it

[2017-03-14 15:36] PSmolders commented on #1034
No

[2017-03-14 19:35] emanuele-f commented on #1034
I'm trying to replicate your setup with a ZMQ interface and a view interface but with no luck. Can you point us to a previous ntopng version where the problem did not happen?

Please also note that:
- You are using ZMQ interfaces, so nProbe will introduce some delay on the exporting of the information
- If a flow expires (e.g. the hosts terminate that connection) then it is normal that the flows p

[2017-03-15 07:59] PSmolders commented on #1034
I believe I first spotted the issue around version 2.5.170306 or 07. Based on your two last bullet points, it seems like the software is expiring all flows on screen, while they are not actually expired in the backend. I can confirm that there are active connections to RDP servers that don't magically all disconnect or expire at the same time. It also affects all flows on the page, not just some t

[2017-03-15 08:34] PSmolders commented on #1034
I found the problem. I had the local host timeout set to 30 minutes and the remote host and idle flow timeouts set to 1 hour. I reset these to default and lo and behold, it is working again.

I had these values tuned up to be able to view flows concerning remote hosts from the Not Assigned host pool, so I could see who connected to a certain remote host. Is this intended or a bug?

[2017-03-15 13:22] simonemainardi commented on #1010
We have investigated your issue. The point is that you have an Insane number of local hosts so the periodic ntopng activities --those that collect statistics -- are not able to terminate within their deadlines.

Switching the Layer-7 statistics to off alleviates the problem. Alternatively you can reduce the size of your local networks or consider using RRDCached. Here's an issue similar to yours:

[2017-03-15 15:01] emanuele-f commented on #1010
Check added in 84b8499a236f369f5c682b50f0055f8a011f09a7

[2017-03-15 17:20] rich2012 opened #1043 "Dashboard Graphs Blank"
Network Interfaces: Realtime Traffic and Network Interfaces: Last Day View are blank.

Also, the 3 gauges at the bottom don't show any traffic (bandwidth usage, Local to Remote and Remote to Local)

Ntopng for Windows v. 2.4.160627 - Pro Small Business Edition

![capture](https://cloud.githubusercontent.com/assets/26150587/23961474/699ebeb6-0981-11e7-9b3b-a2bbc9c91bb6.JPG)

[2017-03-15 17:23] simonemainardi commented on #1010
@gianogli you should also consider moving to SSD as I think your disk is toooo slow...

[2017-03-15 17:23] #1010 closed, assigned to nobody

[2017-03-15 17:25] simonemainardi commented on #1032
@trickius we've released a new RPI build with the fix. Please, try to update.

[2017-03-15 17:26] simonemainardi commented on #1043
please use the browser inspector to investigate possible js errors (right click -> inspect element)

[2017-03-15 17:49] rich2012 commented on #1043
I do see the attached error. I tried Chrome and IE and neither one shows data in the graph or any traffic on the gauges.

![capture](https://cloud.githubusercontent.com/assets/26150587/23962916/00776884-0986-11e7-887e-e6164af95a2c.JPG)

[2017-03-15 17:50] simonemainardi commented on #1043
please attach the full error not just a small snippet of it

[2017-03-15 17:51] rich2012 commented on #1043
SyntaxError: Invalid character
   {
      [functions]: ,
      __proto__: { },
      description: "Invalid character",
      message: "Invalid character",
      name: "SyntaxError",
      number: -2146827274,
      stack: "SyntaxError: Invalid character
   at jQuery.parseJSON (http://ntop:3000/js/jquery.js:8482:3)
   at success (http://ntop:3000/lua/about.lua:401:6)
   at fire (http://ntop:3000/js

[2017-03-15 17:55] simonemainardi commented on #1043
I'm sorry but there's not enough information to understand there the problem can be. Can you please try and enclose the error as reported by chrome?

[2017-03-15 18:02] rich2012 commented on #1043
Here is the inspection log from Chrome.

[ntop-1489600792075.docx](https://github.com/ntop/ntopng/files/845578/ntop-1489600792075.docx)

[2017-03-15 18:50] emanuele-f commented on #1043
Hi, any chance to update to the 2.5 development version? Many bugs have already been fixed in it since we are moving toward the next stable release.

Note for the update: you will need to clean your environment by doing these steps: stop ntopng, flush redis (redis-cli flush all), flush ntopng data directory (e.g. rm -rf /var/tmp/ntopng), setup the development repository and replace ntopng

[2017-03-15 18:52] rich2012 commented on #1043
That sounds good. How do I install the dev version on Windows?

[2017-03-15 21:29] swissiws opened #1044 "Bridge 2+1 - TCP traffic flow"
2.5.170314 - Ubuntu 16.04.2

UDP traffic only in sent direction - all other traffic TCP,ICMP ok

![udp](https://cloud.githubusercontent.com/assets/26445196/23971556/b48c1dc0-0976-11e7-8dc5-b3aed34f5962.png)

[2017-03-16 04:08] danielmeyer commented on #1042
Running 2.5.170316-2509 - Pro Small Business Edition on Ubuntu 16.04.2 LTS and encountering the exact same issue.

[2017-03-16 06:39] gemakochi opened #1045 "Traffic Filtering page freezes ntop"
i'm using ntop in bridge mode. when i try to access Traffic Filtering page it freezes and i can't access anything. i have to reboot machine. i have found following error.

`[Redis.cpp:404] ERROR: WRONGTYPE Operation against a key holding the wrong kind of value [HKEYS ntopng.prefs.bridge:zc:eth1,zc:eth2.name]`

[2017-03-16 08:11] emanuele-f commented on #1045
What are the command line options you pass to ntopng?

[2017-03-16 08:13] emanuele-f commented on #1043
I'm sorry but the dev packages are not available for windows right now.

[2017-03-16 08:16] emanuele-f commented on #1042
We are reworking alerts code right now, the fix will be available as soon as we finish it

[2017-03-16 08:24] gemakochi commented on #1045
i'm running as a service with simple config.

[code]

[2017-03-16 09:17] simonemainardi commented on #1043
we will release a new windows build shortly. pleasde stay tuned.

[2017-03-16 10:12] lmlawas commented on #276
Is there a way to get the start time and end time of each src-dest pairing, and then dump it to MySQL? Thank you.

[2017-03-16 13:55] bsteinert opened #1046 "Traffic previously marked correct by stable release gets marked as unknown"
== setup ==
Juniper MX240 (inline-jflow) --IPFIX--> nprobe --zmq--> ntopng

== startup commands ==
nprobe --zmq tcp://*:2522 -i none -n none --collector-port 2522 --daemon
nprobe --zmq tcp://*:2526 -i none -n none --collector-port 2526 --daemon
ntopng -i tcp://localhost:2522 -i tcp://localhost:2526 -i view:tcp://localhost:2522,tcp://localhost:2526 --dns-mode=2 --local-network=xx.xx.xx.xx/xx --max-

[2017-03-16 15:06] emanuele-f commented on #1046
@kYroL01 can you check this out? It seems like most HTTP traffic on ZMQ is now reported as "unknown"

[2017-03-16 16:33] kYroL01 commented on #1046
Only the HTTP on ZMQ is detected as unknown ?

[2017-03-16 16:50] emanuele-f commented on #1046
Yes, on the local interface I do not experience the issue

[2017-03-16 17:02] bsteinert commented on #1046
i think it is not only http, because when you look at the graph of the "stable" version you see ssl and other protocols also.

[2017-03-16 17:04] kYroL01 commented on #1046
@emanuele-f From the graphic of @bsteinert it seems that all the traffic now is marked as _unknown_.
Are u sure is an nDPI issue ? It seems that all the traffic arriving from the probe does not recognize properly.

[2017-03-16 19:24] trickius commented on #1032
Yeap, it's working now. Thanks a lot!

[2017-03-16 19:57] tu-dalat opened #1047 "How to tell ntopng which UDP port to listen to"
Hi All:
 I must have missed something obvious. How do I configure udp ports for ntopng?
thank you
Tu Dalat

[2017-03-16 20:01] #1032 closed, assigned to nobody

[2017-03-16 20:08] simonemainardi commented on #276
Sure, enable mysql dump with option -F and you will find start and end time in table colums first_switched and last_switched, respectively

[2017-03-16 20:16] simonemainardi commented on #1047
If you mean on which ports ntopng should bind its web interface, see options -w and -W

If you just want to capture traffic on specific udp ports, use a bpf filter (option -B)

[2017-03-16 20:16] #1047 closed, assigned to nobody

[2017-03-17 13:03] simonemainardi commented on #1046
@bsteinert we have tried to reproduce your issue with no luck. Can you please re try with both ntopng and nprobe at their latest dev verions?

Keep in mind that, in your configuration, simple port-based protocol detection is done as you are collecting IPFIX and thus real traffic and real packets are not available to the nDPI engine. So even HTTP would fail to be detected if it is not on port 80.

[2017-03-17 14:02] bsteinert commented on #1046
@simonemainardi i have updated to the latest version from apt. i also have tried to remove and purge all data and starting from scratch with no luck. i always get the same problem with the dev version.

i agree that capturing the traffic directly would be the best way, but unfortunately i have deployed the routers on different sites and i have only dedicated 1g links for the measurement. so i gave

[2017-03-17 14:22] franckfischer commented on #890
Hello Simone,
To follow up on Jonathan's query, we currently have router A sending flows to an nprobe instance running in proxy mode.
Flows are then forwarded by nprobe to an ntopng instance.

We'd now like to add a second device (router B) to that setup and be able to separate reports from router A and router B in ntopng.

I got from your last reply we should create different interfaces for each

[2017-03-17 15:12] franckfischer opened #1048 "Seperating data in nTopng reports depending on the device sending data"
Hello Simone,
To follow up on Jonathan's query (issue #890), we currently have router A sending flows to an nprobe instance running in proxy mode.
Flows are then forwarded by nprobe to an ntopng instance.

We'd now like to add a second device (router B) to that setup and be able to separate reports from router A and router B in ntopng.

I got from issue #890 that we should create different dynamic

[2017-03-17 15:26] simonemainardi commented on #1048
no, you can use a single nProbe instance and let all your routers export to it. Just add the field EXPORTER_IPV4_ADDRESS to the nProbe template.

latest dev build, professional version, expert preferences view.

[2017-03-17 15:26] #1048 closed, assigned to nobody

[2017-03-17 15:28] simonemainardi commented on #1043
Closing as the bug is fixes in the dev. Will be distributed in the next windows build.

[2017-03-17 15:28] #1043 closed, assigned to nobody

[2017-03-17 15:31] simonemainardi commented on #1034
You shouldn't retain idle flows for such a long time. However I still don't understand why it looks like you have duplicate flows (at least according to the browser inspector screenshot attached). Can you please re-check?

[2017-03-18 08:52] lucaderi commented on #1046
@bsteinert @simonemainardi @kYroL01 Hi all any news about this case? I would like to solve it ASAP.

[2017-03-18 09:12] lucaderi opened #1049 "Not all pages are localised"
Pages localisation is partial and only limited to specific pages. Not even newly developed pages are localised.

[2017-03-18 09:16] lucaderi opened #1050 "Alerts Dashboard Invalid Page Behaviour"
![screen shot 2017-03-18 at 10 14 36](https://cloud.githubusercontent.com/assets/4493366/24070756/b5fb9380-0bc3-11e7-8e78-8bccb3214962.png)
There are a couple of issues to fix
1 The above triangle is not clickable
2. Expanding the box and performing a query will return a response with the search box collapsed even though it was expanded to perform the query

[2017-03-18 09:18] lucaderi opened #1051 "Invalid Character Validation"
Some characters are mangled.
![screen shot 2017-03-18 at 10 17 21](https://cloud.githubusercontent.com/assets/4493366/24070784/183b8afa-0bc4-11e7-909d-0d106fe46de0.png)
![screen shot 2017-03-18 at 10 17 12](https://cloud.githubusercontent.com/assets/4493366/24070785/1865790a-0bc4-11e7-92ea-9a4e99b82012.png)

For instance setting a custom name with ' it is replaced by _. This should be fixed as it

[2017-03-18 09:19] lucaderi opened #1052 "Missing Hosts in Host Search"
When searching hosts, in the top right search field, host custom names are not searched. It is acceptable to implement this request for local hosts only.

[2017-03-18 09:22] lucaderi opened #1053 "Cache SNMP Values in Host Location"
In case SNMP is configured, ntopng locates hosts on switch ports via SNMP and this info is reported in host_details.lua. To avoid long and un-necessary lookups, it is requested that once a host has been located, its location is stored in redis so that when the page is re-open we simply check if the host is still placed on the same switch port and report, by performing a full scan as today if and o

[2017-03-18 09:25] lucaderi opened #1054 "Periodically Reset Statistics"
Add a new field on the preferences pane (admin only) that will reset all hosts/flows/stats at midnight. In essence if this preference is set at midnight all stats are reset as if they start from zero. This in order to provide  clean daily (and not accumulated) view.

[2017-03-18 09:28] lucaderi opened #1055 "AS Traffic Stats"
Implement AS traffic stats (similar to network interfaces) that could depict bytes in/out as well L7 protocols stats. These stats can be put on graphs need to be available from the AS report page and they can be enabled from the preferences pane.

[2017-03-18 09:35] lucaderi opened #1056 "Log files must be rotated and compressed"
The ntong.log file must be periodically rotated (i.e. it must contain up to X lines, for instance 10k) and
a new file has to be created to avoid creating monster files. It would be nice to have them saved in compressed format (opening with gzopen instead of open)

/var/log/ntopng# ls -al
total 109676992
drwxr-xr-x  2 root root        4096 Mar 18 12:54 .
drwxr-xr-x 16 root root        4096 Mar 18 0

[2017-03-18 09:38] lucaderi opened #1057 "Hosts Statistics Update Frequency"
In preferences you can set Hosts Statistics Update Frequency to mins and hours. This is not a good idea as at most your should set this to 60 sec in practice. Remove invalid values.

[2017-03-18 09:41] lucaderi opened #1058 "Alerts Preferences Rework"
Please fix the behaviour below in the preferences pane that is currently hardly readable
1. If alerts are disabled all other buttons should be hidden (eg. dump flow alerts)
2. max number of alerts should go on a separate sub pane
3. security alerts such as probing or blacklist  alerts should go on a separate sub pane
4. syslog, slack and nagios prefs should go on a single "External Alert Report" s

[2017-03-18 09:51] lucaderi opened #1059 "On-Disk Timeseries Rework"
This preference pane should be refreshed as it's too long and misleading
1. I would remove the timeseries preferences (just hide them all for the time being) as changing them makes issues with existing RRDs and creates side-effects
2. Some preferences hard to understand (what is the difference between flow devices and flow interfaces time series?) and should be aggregated
3. Some preferences such

[2017-03-18 09:53] lucaderi opened #1060 "Top HTTP Sites Rework"
In preferences the "Top HTTP Sites" is not clear what it does. Furthermore it does not specify if these values are written on disk and how they can be used to create a list of websites visited by hosts.

[2017-03-18 09:58] lucaderi opened #1061 "Data Retention Preference"
Move all preferences related to data retention such as the prefs under "on-disk databases" on a separate prefernce pane. MySQL (For instance Check open_files_limit) prefs should go on a separate pane (perhaps a misc pane is enough). As it is today is hard to understand

[2017-03-18 10:01] lucaderi opened #1062 "Timeout Settings"
In the preference pane some user-editable values can lead to invalid configurations. For instance hosts/flow timeouts cannot be set to anything above a few mins (30 at most), local hosts timeout cannot be less than remote hosts timeout. "Local Hosts Cache Duration" should go onto the data retention tab #1061

[2017-03-18 10:05] lucaderi opened #1063 "IPv4/v6 Menu Missing in some hosts/reports."
The IPv4/v6 menu that can be found on various reports such as flows and hosts reports, must be out on all the remaining pages. For instance it is missing from network_stats.lua

[2017-03-18 10:07] lucaderi opened #1064 "Invalid AS link"
This fix https://github.com/ntop/ntopng/commit/04a18b2d5d5d3b872fa528ba85d55418fb06f224 is invalid as the bug is still present
![screen shot 2017-03-18 at 11 05 27](https://cloud.githubusercontent.com/assets/4493366/24071106/f13661f8-0bca-11e7-8a73-6c30a7c7bb0a.png)
The info button should not be at  the bottom of the page but next to the AS number on the title

[2017-03-18 10:11] lucaderi opened #1065 "Top Talkers Statistics Refresh Feedback"
Depending on the host speed and (in case of a remote ntopng installation) it is not clear if the ntong interface hangs or is operational. In particular on if_stats.lua on the right pane, you should indicate that a report is loading better as today. In fact when moving, data is not refreshed immediately and thus this can be misleading. You should immediately put a graphic loading indicator when you

[2017-03-18 10:16] #1029 closed, assigned to emanuele-f

[2017-03-18 10:19] lucaderi opened #1066 "Implement in/out Interface Traffic Stats"
As of today (mostly because of inability of pcap of doing this) ntopng is unable to report ingress and egress interface traffic but only local/remote. While this information is important in/out is more effective. It is requested to implement it and report it on the page footer page.

[2017-03-18 10:25] lucaderi opened #1067 "SNMP Implementation Support is Partial"
SNMP Implementation is not feature complete. In particular
- Physical Interfaces
It is not possible to compare on graphs interface stats with SNMP values for the same interface.

- NetFlow Interfaces
-- It is not possible to compare on graphs interface stats with SNMP values for the same interface.
-- The ratio should be displayed on in the graph page and computed on RRDs-only as the ratio between

[2017-03-18 10:30] lucaderi opened #1068 "Anonymize Data"
Add a new preference pane (admin only) where for all local IPs
- The remote contacted host is set to 0.0.0 or ::
- DNS queries are NOT saved in flows
- Any other sensitive information (if any) is hidden
- Features like HTTP top contacted sites are disabled if this option is in place

This means that on database the information written does not contain sensitive information, nor the web GUI can dis

[2017-03-18 10:42] lucaderi opened #1069 "Implement InfluxDB Support"
RRD fall short in terms of performance and an alternative has to be found. Other technologies like https://www.influxdata.com are now mature and they should be evaluated for ntopng integration.

It is request to implement influxDB support as alternative to RRDs. The use of Influx will be activated via a preference pane, leaving RRDs as fallback.

[2017-03-18 10:49] lucaderi opened #1070 "Implement Grafana DataSource Plugin"
Add grafana.org support by developing a plugin for polling data from ntopng. Once #1069 is implemented we need to decide if a native plugin is required or if we decide to support grafana via InfluxDB integration only.

[2017-03-18 10:50] lucaderi opened #1071 "Develop Snap Telemetry Support"
It is required to implement a plugin for interfacing ntopng with http://snap-telemetry.io so that ntopng can be queried from this telemetry framework.

[2017-03-18 10:53] lucaderi opened #1072 "Implement OOO/Retransmissions Stats"
ntopng supports accounting of OOO and Retransmissions per flow. It is required to sum them up (in addition to flow as it is today) per network interface, AS, network stats. They must be written to RRD is the preference is set.

[2017-03-18 10:58] lucaderi opened #1073 "Implement AS Latency Stats"
Similar to #1072 but limited to AS, it is requested to compute (based on TCP flow information) the network latency (min/max/avg) calculation per destination AS. These stats must be periodically updated (they are not counters but gauges) so it must be planned how to recompute them periodically (e.g. every minute) and how to handle missing measurements points (when there is traffic for an AS but no

[2017-03-18 16:06] bsteinert commented on #1046
@lucaderi no, i have tested with a different machine as ntopng host and switch to NetFlow V9 for testing. No luck at all. Now I'm back at IPFIX with the same problem. by looking at the longtime stats, it looks like only about 5 - 10% of the traffic gets matched.

<img width="347" alt="ntop" src="https://cloud.githubusercontent.com/assets/8318840/24073772/2028681c-0bfd-11e7-9b62-2481f792980f.png">

[2017-03-19 08:54] lucaderi opened #1074 "SNMP Devices Should Not be Bound to an Interface"
SNMP devices are bound to an interface, so switching across network interfaces hides the devices. This is a problem when implementing #1067 with dynamic flow interfaces as the SNMP device must be replicated for each virtual interface, thing that is not optimal (RRDs will be created for all subinterfaces) and also because we do not know in advance what subinterfaces will be created.

In essence SNM

[2017-03-19 10:06] simonemainardi commented on #1046
@bsteinert the issue cannot be with Netflow v9 or IPFIX as port-based protocol detection is done in both cases.

We can assist you remotely but first please let us see if we can reproduce the problem in our lab (so far we haven't been able to experience your issue). Can you please report the exact nprobe and ntopng version used, along with the OS used and distro?

[2017-03-19 11:30] bsteinert commented on #1046
== nprobe ==
Welcome to nProbe v.7.5.170317 (r5691) for x86_64-unknown-linux-gnu
with native PF_RING acceleration.
Copyright 2002-17 ntop.org

Build OS:      Debian GNU/Linux 8.2 (jessie)
SystemID:      051AF1D811B1B8A9
GIT rev:       dev:60b4028242bda03961cdadcdf64f9a42037c5eed:20170317

 == ntopng ==
v.2.5.170317 [Enterprise/Professional Edition]
GIT rev:   dev:db8086552c20497b58a32ffcf0cbeb4d2a

[2017-03-19 17:43] lucaderi opened #1075 "Protocol Policy Cannot be Modified"
In the if_stats.lua page (bridge mode is active) it is possible to modify the protocol bandwidth but not the protocol name. This requires to delete the protocol and create a new one, that is inconsistent. It would be nice to allow users to modify the protocol menu too.

[2017-03-20 08:16] PSmolders commented on #1034
I can now see some duplicate flows from the view interface. Duplicates have the exact same numbers as the original. Upgraded to 2.5.170320 today.

[2017-03-20 09:18] tttyu commented on #462
Pls someone help me. How to calculate throughput of a flow using nprobe?

[2017-03-20 09:29] simonemainardi opened #1076 "Remote Networks entry appear multiple times"
![screen shot 2017-03-20 at 10 27 44](https://cloud.githubusercontent.com/assets/3397663/24094236/00933138-0d58-11e7-9fe1-c49b26820571.png)

[2017-03-20 10:50] simonemainardi commented on #1061
Make a tab "Data Retention" and move all the related data retention settings there. Specifically RRD retention settings that are now under On-Disk Timeseries (or, even better, hidden as suggested in #1059). Also the Top talkers storage that is now under On-Disk Databases. MySQL will have a custom pane that is shown only when mysql is enabled.

[2017-03-20 10:51] simonemainardi commented on #1059
also see #1061

[2017-03-20 14:01] emanuele-f commented on #1061
Fixed with fe2a5fca4321a0e6f72a1b2efa8c372653c62213

[2017-03-20 14:01] #1061 closed, assigned to emanuele-f

[2017-03-20 14:02] emanuele-f commented on #1059
Fixed with fe2a5fca4321a0e6f72a1b2efa8c372653c62213

[2017-03-20 14:02] #1059 closed, assigned to emanuele-f

[2017-03-20 15:47] #1065 closed, assigned to simonemainardi

[2017-03-20 17:13] simonemainardi commented on #1064
Datatable title doesn't allow html. The link has been added using javascript.

[2017-03-20 17:15] #1064 closed, assigned to simonemainardi

[2017-03-20 17:21] lucaderi commented on #813
@emanuele-f Any chance to close this issue pending for months?

[2017-03-20 22:01] lucaderi commented on #1074
Fix https://github.com/ntop/ntopng/commit/c775d79b4ee5447e33b93653d7a64b7f7c4cfea6 has broken the interface menu in the SNMP tab that is not empty

![screen shot 2017-03-20 at 23 00 56](https://cloud.githubusercontent.com/assets/4493366/24123755/1c913e16-0dc1-11e7-9800-1921ad58c145.png)

[2017-03-20 22:25] emanuele-f commented on #1058
Implemented in 17e63065fd386a1d56f217dbe6888237803a4da9

[2017-03-20 22:25] #1058 closed, assigned to emanuele-f

[2017-03-20 22:25] emanuele-f commented on #1062
Implemented in 17e63065fd386a1d56f217dbe6888237803a4da9

[2017-03-20 22:25] #1062 closed, assigned to simonemainardi, emanuele-f

[2017-03-20 22:32] emanuele-f commented on #1057
Fixed in 3c87cef5ff370a0a29158f08f3be7d78986691c0

[2017-03-20 22:32] #1057 closed, assigned to simonemainardi

[2017-03-21 05:34] benhsmith commented on #479
I was unable to login using admin/admin at localhost:3000. But when I switched from localhost to my non-loopback IP address it worked, i.e. 192.168.0.123:3000

[2017-03-21 06:36] gemakochi opened #1077 "host name mismatch"
in active flows page some urls are wrong, local ips are named as *.google.com and some others.

![2017-03-21 08 46 04](https://cloud.githubusercontent.com/assets/581848/24135050/a04a9b4a-0e10-11e7-8efa-9124b879aaea.png)

[code]
[code]

[2017-03-22 09:42] PSmolders opened #1079 "Hosts not assigned to the correct pool"
Using ntopng 2.5.170322 on Ubuntu Server 16.04.02.

As of this morning, hosts are not assigned to a newly created host pool. I create the pool on a view interface, assign an IP range of 192.168.90.0/24, but on the Host Pool List page, it shows all hosts as part of the Host Pool Not Assigned pool. Tried to create a second new pool, using a different IP range, same thing. Manually adding a host to a

[2017-03-22 10:02] simonemainardi commented on #813
Further investigation highlighted the following.

The issue is due to the data aggregation of the sql top talker statistics. This also causes and invalid JSON to break the rendering of the page

[code]

we must review the top talker statistics.

[2017-03-22 15:45] simonemainardi commented on #1046
@bsteinert can we arrange a remote session? If affirmative, please send login details to mainardi at ntop dot org

thank you

[2017-03-22 16:56] #1046 closed, assigned to nobody

[2017-03-22 16:57] simonemainardi commented on #1046
@bsteinert no need to do a remote session. I have already fixed the bug. A new build is in progress. Wait an hour and then you can try again.

[2017-03-22 16:59] bsteinert commented on #1046
@simonemainardi thank you very much, i will try and give instant feedback!

[2017-03-22 17:33] lucaderi commented on #1074
HTTP/1.1 500 Internal server error
Content-Type: text/html
Connection: close

<html><head><title>ntop</title></head><body><img src=/img/warning.png> Script &quot;/home/deri/ntopng/scripts/lua/pro/enterprise/get_snmp_device_info.lua&quot; returned an error:
<p><H3>...opng/scripts/lua/pro/enterprise/get_snmp_device_info.lua:46: bad argument #1 to 'ipairs' (table expected, got nil)</H3></body></html>

[2017-03-22 18:01] bsteinert commented on #1046
@simonemainardi looks better now..

![ntop_fixed](https://cloud.githubusercontent.com/assets/8318840/24213187/e7aa950e-0f31-11e7-8fd0-1b600549d3a9.png)

[2017-03-22 22:11] Shmythe opened #1080 "--traffic-filtering="httpbl:xxxxxxxxxxxx" Not Working"
I put the line: '--traffic-filtering="httpbl:xxxxxxxxxx"' in my ntopng.conf file, and it shows the following line in the Runtime Status: '[HTTPBL.cpp:29] Enable http:dl with API key ', but it is blank after 'key'.

Then when I go to the projecthoneypot.org site it says that it has not received any requests using my key, so it is like ntopng is not storing my API key.

FYI: Obviously xxxxxxxxxxxx i

[2017-03-23 09:23] emanuele-f commented on #1080
Fixed with 8b709d6e04054eeb049497f5c3bc4eba56397e38. Thank you for reporting.

[2017-03-23 09:23] #1080 closed, assigned to emanuele-f

[2017-03-23 09:27] emanuele-f commented on #1045
@gemakochi are you using ntopng version 2.4 as reported in #1077 ?

[2017-03-23 11:53] emanuele-f commented on #1042
As discussed with @simonemainardi, this is fixed with 6d1bc0a219f3464cd4e020983309be350b53817f.
@johnydoo @danielmeyer newly generated alerts will work correctly. Please flush existing alerts if you want to start clean.

[2017-03-23 11:53] #1042 closed, assigned to nobody

[2017-03-23 12:35] simonemainardi commented on #1077
@gemakochi please try with the latest dev build as the bug may have already been fixed. Please, report.

[2017-03-23 13:43] emanuele-f commented on #1079
@simonemainardi should be allow host pools on view interfaces? This can create a conflict where the host is both assigned to a pool in the standard interface and to another in the view interface.

Reference: https://github.com/ntop/ntopng/blob/dev/src/NetworkInterface.cpp#L2104

[2017-03-23 14:14] emanuele-f commented on #1034
Can you describe your nProbe setup? Are you sure that the same traffic cannot be seen by both the probes with your setup?

[2017-03-23 14:31] emanuele-f commented on #1044
The screenshot does not highlight sent/received breakdown but the only the type of the DNS queries. Please post a full screenshot.

[2017-03-23 15:39] PSmolders commented on #1034
I have a server with 3 ethernet ports, 1 for the management interface and 2 for nProbe. The nProbe interfaces are connected to the WAN SPAN ports of our 2 routers, which are set up as load balancers of the entire network. The only way traffic could be duplicated is if the flow would be split over the incoming WAN ports.

[2017-03-23 15:45] gianogli opened #1081 "Networks view"
![ntopng_netw](https://cloud.githubusercontent.com/assets/14093378/24255531/0f64c4f2-0fe6-11e7-99d2-e19e22e11742.png)

Into the Networks view we have a lot of duplicated networks. As you can see in the image we have a lot of networks with the same names ("Remote Networks" and "x.y.0.0/18" (Network D)).
The table has 5924 rows. Is it correct?
Thanks...

[2017-03-23 15:48] simonemainardi commented on #1081
can you experience the same issue if you select a non-view interface?

[2017-03-23 15:49] emanuele-f commented on #1081
Same issue as #1076

[2017-03-23 15:51] gianogli opened #1082 "TYPO in the help"
[code]

I think that `1 - Disable login only for all hosts` should be `1 - Disable login for all hosts`.

[2017-03-23 15:56] gianogli commented on #1081
Yes, I've the same issue also with a non-view interface.
Could it be related with the issue `ERROR: Cannot complete local hosts RRD dump in 5 minutes. Please check your RRD configuration.`?

[2017-03-23 16:04] emanuele-f commented on #1052
Implemented in cd40d43db7945ccae34ad57eb808604420aa73c0

[2017-03-23 16:04] #1052 closed, assigned to emanuele-f

[2017-03-23 16:10] emanuele-f commented on #1081
No, that error states that you are trying to dump to disk too much information and some information will be lost. You should turn some "Timeseries" toggles off into the "Data Retention" settings or reduce your configured local networks size or migrate to a faster cpu/disk.

[2017-03-23 16:21] emanuele-f commented on #1082
Fixed. Thank you for reporting.

[2017-03-23 16:21] #1082 closed, assigned to nobody

[2017-03-23 16:57] emanuele-f commented on #1079
host pools cannot be used with view interfaces

Fixed in c546315c1582a6478f9953126b181442c7005579 and b9b2989b98e39bd8981d8693e0e50439f1d35f1d

[2017-03-23 16:57] #1079 closed, assigned to emanuele-f

[2017-03-23 17:16] emanuele-f commented on #1074
Fixed in pro

[2017-03-23 17:47] gemakochi commented on #1077
i've upgraded then reinstalled still have same error.

[code]

[code]

[code]

[2017-03-23 17:59] emanuele-f commented on #1077
Please stop ntopng and perform a "redis-cli flushall" and "rm -rf /var/tmp/ntopng" to remove your previous configuration and start clean, then please post the startup log again. Do you have ZC drivers licence?

[2017-03-23 18:11] gemakochi commented on #1077
i've license for both zc drivers and ntop.
[code]

[code]

[2017-03-23 18:16] emanuele-f commented on #1077
Please place the ntopng licence into /etc/ntopng.license or set it via the web UI. Your ntopng log states that it cannot find the licence

[2017-03-23 18:19] gemakochi commented on #1077
it's already in that path and i can't access web ui.

[2017-03-23 19:19] gemakochi commented on #1077
ntop starts without zc drivers but still does not see license.
[code]
[code]

[2017-03-23 19:32] emanuele-f commented on #1077
What's the output of 'ls -l /etc/ntopng.license'? If you add the `--dont-change-user` option to your configuration file, do you still get the error?

[2017-03-23 19:38] gemakochi commented on #1077
[code]
[code]
[code]

[2017-03-23 20:45] gemakochi commented on #1045
sorry i totaly forget this and yes it was 2.4, now it's 2.5. i can't test this in live network without zc drivers. i'll test this after #1077.

[2017-03-24 08:51] emanuele-f commented on #1076
Discussion continues in #1081

[2017-03-24 08:51] #1076 closed, assigned to simonemainardi, emanuele-f

[2017-03-24 08:51] simonemainardi commented on #1077
can you try and put the license key in page "menu->about"?

[2017-03-24 08:58] gemakochi commented on #1077
no error in web ui
[code]

[2017-03-24 09:09] simonemainardi commented on #1077
is your license older than 1 y? If yes, then you should renew the maintenance

however, what did you changed? It was giving you

[code]

and now it tells you

[code]

[2017-03-24 09:14] gemakochi commented on #1077
license is older than 1 year and i didn't change anything other than upgrading ntop itself.

when i restart service output is same.
[code]

[2017-03-24 09:33] #1081 closed, assigned to emanuele-f

[2017-03-24 09:38] simonemainardi commented on #1077
the output is not the same.

The output was "23/Mar/2017 22:35:55 [NtopPro.cpp:191] ERROR: [LICENSE] Invalid or missing ntopng License [Empty license file]"

And then has become "24/Mar/2017 12:13:47 [NtopPro.cpp:191] ERROR: [LICENSE] Invalid or missing ntopng License [Unable to unlock this version (license expired)]"

So I wanted to know what did you changed as you claimed the license file was in

[2017-03-24 09:42] gemakochi commented on #1077
as i said i didn't touch anything. anyway i'll renew license and we can countinue where we left.

[2017-03-24 10:02] emanuele-f commented on #1034
The fact that you see exactly two copies, in the view interface, of the flows with the same values is a symptom that there is actually flow duplication taking place. Please check out your network configuration.

[2017-03-24 11:26] emanuele-f commented on #1063
Fixed in 777934eea586aaf8eff330d73dd33775f54759d4

[2017-03-24 11:26] #1063 closed, assigned to simonemainardi

[2017-03-24 12:12] #1034 closed, assigned to simonemainardi, emanuele-f

[2017-03-24 12:21] simonemainardi commented on #1034
@PSmolders can you please explain so maybe other users can benefit from the solution? Was it actually a configuration issue?

The function that determines the uniqueness of a flow is implemented in : https://github.com/ntop/ntopng/blob/dev/src/Flow.cpp#L1486

[2017-03-24 14:27] simonemainardi commented on #813
Issue is fixed. A new release will be built overnight.

[2017-03-24 14:27] #813 closed, assigned to simonemainardi

[2017-03-24 16:51] emanuele-f commented on #1055
Implemented in b8c4145fcdac9990d5d72dae1a8c9e77ffa5e49a.
A separate preference field has been added.

[2017-03-24 16:51] #1055 closed, assigned to simonemainardi, emanuele-f

[2017-03-24 18:05] emanuele-f commented on #1051
Fixed in 6fd015baa9d102e640344191ab2bb6dc395a29b1

[2017-03-24 18:05] #1051 closed, assigned to simonemainardi, emanuele-f

[2017-03-24 23:09] lucaderi commented on #1074
![screen shot 2017-03-25 at 00 07 39](https://cloud.githubusercontent.com/assets/4493366/24316562/2a49ce7a-10ef-11e7-8bb4-ba25f365bbd3.png)
Apparently there are other code components where you do NOT read the correct SNMP community, you default to public and so SNMP is broken. Please fix this too

[2017-03-25 08:07] lucaderi opened #1083 "Add host TCP Flags Stats"
Implement https://github.com/ntop/ntopng/commit/3729abf6359cd85536c646384e6cba2095738269 for hosts.

[2017-03-25 08:08] lucaderi opened #1084 "Create TCP Flags timeseries"
Create RRD for #1083 (both local hosts and network interface).

[2017-03-25 08:19] lucaderi opened #1085 "Implement TCP/ARP/ICMP packets ratio and alerts"
For every host(mac) compute the
- ARP request/response ratio
- ICMP ECHO request/response ratio
- TCP SYN/SYN_ACK ratio

Generate (local) host alerts when those ratio significantly divert from 1:1. For alert generation please extend the host alert min/5min/hour/daily mechanisms already present (/lua/host_details.lua?page=alerts&tab=alert_settings)

[2017-03-25 08:25] lucaderi opened #1086 "Implement ICMP and ARP Distribution"
Similar to /lua/if_stats.lua?page=packets it is request to add new pie charts (both for local hosts and interfaces) where are depicted (see #1085)
- ARP request vs response
- ICMP flags distribution (echo, dest unreachable ...)

Both distribution should be divided in sent vs received. Example
- account the number of ICMP ECHO request sent and rcvd

Both directions (sent and rcvd) must be depicted.

[2017-03-25 08:50] lucaderi opened #1087 "Improve flow alerts generation"
Extend the current host/interface alert framework for emitting alerts when
- the number of active flows with low throughput is over a threshold
- the number of active flows with low retransmissions etc is over a threshold
- (host only) the number of egress flows from the same client port towards remote hosts is over a threshold
- the number of ICMP port/destination unreachable is over a threshold

[2017-03-25 09:08] lucaderi opened #1088 "Generate Geolocation Alarms"
Ofter people use geolocation  for detecting Internet traffic anomalies. For instance some machines are designed to be accessed (as server) only from domestic users and other hosts (in particular IoT devices) for detecting if they have violated security rules.

it is requested to group countries together in continents as explained (http://dev.maxmind.com/geoip/legacy/codes/country_continent/), put

[2017-03-25 09:09] lucaderi opened #1089 "Implement Continent-based Traffic Enforcement"
Ad explained in #1087, extend the host pools to enforce traffic only from/to specific continents

[2017-03-25 10:00] lucaderi opened #1090 "One-way Traffic Detection"
Extend the Flows menu to include a new item that selects only one-way flows (i.e. flows that have no packets from server -> client).

Make sure you add two menu entries
- one-way traffic vs NON Multicast/Broadcast
- one-way traffic vs Multicast/Broadcast

When a flow is deleted from memory, increase a counter in the host (client vs server, two counters are needed) so that it is possible to generat

[2017-03-25 10:19] lucaderi opened #1091 "Address Re-association Blindness"
ntopng does not check if the IP address / MAC association holds overtime. As in dynamic environments (eg. where DHCP is used) disconnection messages might not be observed, it is necessary to verify that the IP/MAC association is preserved, or if a new MAC is been assigned to a given IP.

In essence NetworkInterface::getFlow() (and sub methods) should be enhanced to implement this check.

[2017-03-25 10:21] lucaderi opened #1092 "Trigger Alert for IP Reassignment"
Implement a ARP-based mechanism (similar to https://en.wikipedia.org/wiki/Arpwatch) for detecting changes in IP/MAC association.

As the latter case can also be triggered by overlapping IPs we need to pay attention to ARP messages to detect these situations, and eventually trigger a (user-configurable) alert.

[2017-03-25 10:33] lucaderi opened #1093 "Implement Filter for Alerted Flows"
Similar to #1090, it is requested to implement e flow menu filter that selects only flows that are suspicious (i.e. that have been marked with a yellow triangle).

[2017-03-25 10:35] lucaderi opened #1094 "Invalid Flow Count when Protocol Filtering is Used"
![1](https://cloud.githubusercontent.com/assets/4493366/24321540/11211f74-114f-11e7-990d-519eb4db5cdc.png)

[2017-03-25 18:11] lucaderi opened #1095 "Invalid Host Quota Behaviour"
Host quota is a day amount of data that a host sends/receives. When the quota is past
- inline mode: the host traffic does not passes the bridge
- passive mode: an engaged alert is triggered

Every midnight the daily quota counter is reset and in case an engaged alert is present for the host, such alert is resolved.

The above behaviour is broken in the current release an it ought to be fixed. The

[2017-03-26 07:11] lucaderi opened #1097 "Enhance Host Pool Stats"
The /lua/pool_stats.lua should be enhanced by adding further stats (that ntopng keep internally) such as nDPI stats and time stats.

This is useful to understand what happens and to debug issues, in inline mode, when specific thresholds are reached.

[2017-03-26 20:17] ips972 commented on #948
Hi , I had a system migrate to a new vm host. systemid changed and I have the same problem.
tried to run the –online-license-check command but it doesn't work.
server must connect through proxy server to the internet. configured export command for the session.
verified with test WGET command. but running ntopng –online-license-check doesn't show any connection attempt to the configured proxy serve

[2017-03-26 20:18] ips972 opened #1098 "license and vm host changed - online license check through proxy server?"
Hi , I had a system migrate to a new vm host. systemid changed and I have the same problem.
tried to run the –online-license-check command but it doesn't work.
server must connect through proxy server to the internet. configured export command for the session.
verified with test WGET command. but running ntopng –online-license-check doesn't show any connection attempt to the configured proxy serve

[2017-03-27 07:25] EusebioGM opened #1099 "Ntopng is not showing http and dns tabs"
Hi,

Ntopng is not showing "http" and "dns" tabs.
"Pro licenses" for http and dns plugins and "Pro license" for Ntopng have been configured.
In my configuration there are two servers:
- 1 collector/proxy: nProbe Server + ntop + MySQL.
- 1 probe mode: nprobe configured. It gets Netflow data and sends to the proxy server. This data is stored in MySql database.
I attach a document with screenshots in

[2017-03-27 07:38] emanuele-f commented on #1045
So, please provide some feedback with 2.5 ntopng version after you renew the licence. Thank you

[2017-03-27 08:00] simonemainardi commented on #1095
- host quota shall be implemented at the level of host pool (current quota code in the host shall be removed)
- interface policing page shall be extended to allow the setting of two additional fields per host pool per protocol, namely, bytes quota and time quota
- bytes quota and time quota shall be allowed also in non-inline mode to generate alerts accordingly to the descriptions above
- L7 stati

[2017-03-27 08:19] simonemainardi commented on #1099
You need separate licenses for HTTP and DNS plugins. Once you've enabled those licenses, you will be able to use plugin-specific template fields (e.g., %HTTP_METHOD) and export their values to MySQL and/or ntopng.

Keep in mind that ntopng tabs HTTP and DNS are only available when raw packets are dissected by ntopng. If you collect netflow then you won't be able to get information such as number o

[2017-03-27 08:20] #1099 closed, assigned to simonemainardi

[2017-03-27 08:31] emanuele-f commented on #1074
Does the host have an SNMP community registered for it? Do you get an error message like this in the terminal? `"ERROR: community for device 192.168.1.2 is not set"`

[2017-03-27 08:45] simonemainardi commented on #1098
presently, online license verification though a proxy is not supported.

[2017-03-27 09:53] gemakochi commented on #1077
i've upgraded ntop and installed license, looks good without zc drivers.
[code]
[code]

when i switch to zc driver it does not start, "--dont-change-user" didn't change anything.
[code]
[code]

[2017-03-27 10:01] emanuele-f commented on #1091
In practice, [findFlowHosts](https://github.com/ntop/ntopng/blob/dev/src/NetworkInterface.cpp#L1925) should be extended to verify the src_mac/dst_mac to match the host retrieved from memory. What action should be taken if they do not match?

[2017-03-27 10:22] emanuele-f commented on #1077
Please ensure the interface is up `ifconfig eth1 up` and to follow the instructions here https://github.com/ntop/PF_RING/blob/dev/doc/README.apt_rpm_packages.md to setup pfring ZC correctly

[2017-03-27 10:47] gemakochi commented on #1077
i checked previous config, everything looks normal as in instructions but ethtool shows igb as driver. it should be igb_zc, isn't it?
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2017-03-27 12:32] emanuele-f commented on #1077
The driver is ok, please run `pfcount -i zc:eth1` and report if it works. Note that only a single ZC application can use the driver at a time.

[2017-03-27 12:36] gemakochi commented on #1077
[code]

[2017-03-27 12:51] lucaderi commented on #1095
To keep things simple in passive mode bytes and time quotas are per host (not per protocol).

[2017-03-27 13:18] emanuele-f opened #1100 "Application filtering in Flows should be done on active flows"
When clicking a protocol in the Flows view, the list of hosts which is returned contains hosts who have seen the application protocol in their lifetime.
It requested to rework this behaviour to only shows hosts who actually have any active flows of that protocol.

[2017-03-27 13:18] emanuele-f commented on #1094
Invalid count fixed with 1e22994828574e1eb54c785e78d69a35552f59c6. See #1100 for future enhancement

[2017-03-27 13:18] #1094 closed, assigned to emanuele-f

[2017-03-27 13:25] emanuele-f commented on #1077
What's the output of `ntopng -i zc:eth1`?

[2017-03-27 13:37] gemakochi commented on #1077
it starts and i can access web ui.
[code]

[2017-03-27 14:13] #1074 closed, assigned to emanuele-f

[2017-03-27 14:13] emanuele-f commented on #1074
The "empty community" message has been added to the gui

[2017-03-27 15:10] emanuele-f commented on #1077
There was a bug with zc interface name, fixed with e5f39d30aac5afd4057b7e2028105de482f73e64 . A new build will be available in one hour, please update and let us know

[2017-03-27 17:24] gemakochi commented on #1077
apt shows nothing new, guess i have to wait till tomorrow.

[2017-03-27 17:35] emanuele-f commented on #1077
Sorry, we have a problem with the builds, please update tomorrow

[2017-03-27 17:48] EusebioGM commented on #1099
Hi Simone,

Thanks for your reply.
I have separated licenses for HTTP and DNS plugins and have been configured correctly in proxy/collector nProbe. So I do not think this is the problem.
I have tried to use the following HTTP and DNS elements in the template when sending netflow data to the proxy/collector server from the "probe mode" pc:
NOTE: So you can see in the error messages that licenses ar

[2017-03-27 17:55] EusebioGM opened #1101 "Ntopng is not showing http and dns traffic"
Hi,

I have separated licenses for HTTP and DNS plugins and have been configured correctly in proxy/collector nProbe.
I have tried to use the following HTTP and DNS elements in the template when sending netflow data to the proxy/collector server from the "probe mode" system:
NOTE: So you can see in the error messages that licenses are found and "OK", but then they are unable to be loaded for some

[2017-03-27 20:04] #1091 closed, assigned to lucaderi

[2017-03-27 20:04] #1098 closed, assigned to nobody

[2017-03-28 06:52] PSmolders commented on #1034
Due to the load balancing nature of our setup, it is impossible to completely prevent any duplicates. But the original issue was about the flows page not updating properly, which was fixed by tuning down some 'in memory' settings. I am not too worried about duplicate flows.

[2017-03-28 07:12] gemakochi commented on #1077
i've upgraded and after reboot it worked. placed in live network, watching original issue. remotes looks like clients. there is also an issue about flow export, should i add that as new one.

![2017-03-28 10 02 35 ekran goruntusu](https://cloud.githubusercontent.com/assets/581848/24392916/a3123d90-139e-11e7-8abd-b641a4dab69f.png)

[2017-03-28 07:16] gemakochi commented on #1045
looks like its solved since there is no "Traffic Filtering" page and new "Traffic Policy" page is functional.

side note, that info box doesn't fit there.

![2017-03-28 10 17 28 ekran goruntusu](https://cloud.githubusercontent.com/assets/581848/24393199/d6801372-139f-11e7-9630-18eb326833bd.png)

[2017-03-28 07:38] simonemainardi commented on #1045
thanks for reporting

[2017-03-28 07:38] #1045 closed, assigned to emanuele-f

[2017-03-28 08:18] emanuele-f commented on #1077
Can you post a screenshot of the detailed flow information of one of these flows? Do the problem appears with non-ZC bridge too?
For the flow export issue, please open a new issue.

[2017-03-28 08:23] gemakochi commented on #1077
i can test non-ZC bridge 30 min later.

![2017-03-28 11 21 21 ekran goruntusu](https://cloud.githubusercontent.com/assets/581848/24395593/d899212c-13a8-11e7-8007-a2c07838220b.png)

[2017-03-28 09:31] gemakochi commented on #1077
non-zc bridge didn't change anything and original issue persists.

![2017-03-28 12 17 46 ekran goruntusu](https://cloud.githubusercontent.com/assets/581848/24398291/aaaa410c-13b1-11e7-9e10-84a739a7fa9e.png)

![2017-03-28 12 22 27 ekran goruntusu](https://cloud.githubusercontent.com/assets/581848/24398299/af15b898-13b1-11e7-933f-24399f677737.png)

[2017-03-28 10:18] simonemainardi commented on #1077
The point is that flows shown only report traffic for one direction. As is it not likely that a TCP flow will send megs of data without any ack from the other side, I argue that ntopng is not getting a direction of the traffic.

Visit runtime status and report the contents of that page

[2017-03-28 10:46] gemakochi commented on #1077
![2017-03-28 13 34 23 ekran goruntusu](https://cloud.githubusercontent.com/assets/581848/24401256/51e9005c-13bc-11e7-90ab-4c65174aba6e.png)

[2017-03-28 10:56] simonemainardi commented on #1077
check your flows page, do they look all unidirectional?

[2017-03-28 11:19] gemakochi commented on #1077
everyone i checked is unidirectional. what happens if traffic goes in one vlan and come backs from another?

[2017-03-28 11:58] gemakochi commented on #1077
i guess that's the problem, i'll report you back when i fix that.

[2017-03-28 15:02] simonemainardi commented on #1077
In that case -- that is, when traffic goes in one vlan and come backs from another -- two separate ntopng flows are created, one for each direction. Indeed, VLAN is kept into account when assigning packets to flows.

[2017-03-28 16:05] simonemainardi commented on #1099
@EusebioGM

what is strange is that plugin licenses are recognized but the plugins are not activated. e.g.,

27/Mar/2017 19:36:42 [plugin.c:778] Unable to enable plugin POP3 Protocol [/etc/nprobe.license.email]: License Ok

Can you please send your order id privately to mainardi at ntop dot org ?

[2017-03-28 16:06] simonemainardi commented on #1101
duplicate

[2017-03-28 16:06] #1101 closed, assigned to simonemainardi

[2017-03-28 16:55] emanuele-f commented on #1044
@swissiws any news?

[2017-03-28 18:54] gemakochi commented on #1077
yes, problem is just like that but i can't fix it completely now, there is a few things related to it. i have to solve them first. i'm sorry i waste your time. you can close this issue.

[2017-03-28 20:01] simonemainardi commented on #1077
thanks for reporting.

[2017-03-28 20:02] #1077 closed, assigned to simonemainardi

[2017-03-28 22:33] thegeodave commented on #813
what version is this fix on? I have 2.5.170328 and the problems persists.

[2017-03-28 22:42] thegeodave commented on #813
Well I take that back. It does appear to work after a restart BUT the report for 1 M or 6M shows top local hosts with totals that would reflect and be accurate for 1 day's worth of  throughput. I would expect my top local hosts on the 1 Month report to be around 800GB and the reports shows 9GB. And, Historical reports for individual local hosts are working and accurate.

[2017-03-29 08:24] simonemainardi commented on #813
Some degree of approximation is natural as report top talkers are obtained from 'minute top-talkers' that, in turn, are crunched in 'hour top-talkers' and in 'day top-talkers' for long periods such as 1 month.

However, a 2 orders of magnitude difference is not reasonable, unless your hosts completely disappears for periods of time and thus are kicked out from many top talker samples.

Can you ple

[2017-03-29 08:27] PSmolders opened #1103 "Graphs on reports page not working"
Using ntopng 2.5.170329 on Ubuntu Server 16.04.02

On the reports page, the graphs for the individual protocols are not showing. The browser gives me this error:
[code]

No errors in the log file as far as I can see.

[2017-03-29 08:30] simonemainardi commented on #1103
do you have vlans?

[2017-03-29 08:34] PSmolders commented on #1103
We have some VLANs, should I try to disable them from the template?

[2017-03-29 09:05] emanuele-f commented on #1097
In order to keep a consistent look (e.g. with the networks), the stats will be implemented as a separate tab in the pool_details.lua, which is accessed by the graph icon of the pool. The tab will only be available in inline mode and it will show in a simple table with the following columns: protocol/category, time and time quota, bytes and bytes quota.

A pool overview page will not be provided in

[2017-03-29 10:12] simonemainardi commented on #1053
implemented in 8e519f5b45f44f6c83629e862111eeda71d6032b and in the Pro part.

[2017-03-29 11:51] emanuele-f commented on #1097
What about this? I've added simple breakdown bars to represent the situation. The red text spots a quota limit reached.

![quotas](https://cloud.githubusercontent.com/assets/5488003/24453052/90482cd6-1486-11e7-9bd1-50e42e476675.png)

[2017-03-29 13:12] ad-ko opened #1104 "User Authentication with LDAPS"
I've setup the user authentication with LDAP (ldap://server.name:389) against the Active-Directory. I can log in to ntopng successfully with my AD account.

Unfortunately when I change the LDAP server address to "ldaps://server.name:636" I get the following error message:

29/Mar/2017 14:47:30 [LdapAuthenticator.cpp:315] ERROR: Bind error: Can't contact LDAP server

CA certificate from the issuing

[2017-03-29 13:17] gianogli opened #1105 "View Interfaces: optimizations and misunderstood information..."
In the last days I modified my server configuration as suggested in the issue #1010: I moved all the RRD files to a RAID0 of 2 SSD and I reduced the number of my local networks. Unfortunately, after these changes, I've again the error message "ERROR: Cannot complete local hosts RRD dump in 5 minutes. Please check your RRD configuration.". So I started to study the behavior of ntopng with my config

[2017-03-29 14:23] BroadbandCommunicationsNorth commented on #948
We have never tried to use any proxy for Nprobe/Ntopng, but I can confirm  --online-license-check works.

[2017-03-29 15:51] simonemainardi commented on #1105
This is normal. A view is by definition -- and thus by design -- a logical aggregate of multiple interfaces. It is not up to the view to decide what to show or what to not show. It is up to you to properly design a zc balance function that delivers traffic on the desired queue. Examples of distribution functions can be found at https://github.com/ntop/PF_RING/blob/dev/userland/examples_zc/zbalance

[2017-03-29 15:51] #1105 closed, assigned to simonemainardi, cardigliano

[2017-03-29 17:45] emanuele-f commented on #1095
Implemented with 42904dd0344a9a9a37e1c651cea0004357fe5a96

[2017-03-29 17:45] #1095 closed, assigned to emanuele-f

[2017-03-29 17:45] emanuele-f commented on #1097
Implemented with 42904dd0344a9a9a37e1c651cea0004357fe5a96

[2017-03-29 17:45] #1097 closed, assigned to emanuele-f

[2017-03-29 18:22] lucaderi commented on #1053
root@pc-deri:/home/deri/nProbe# tcpdump -i any port 161
tcpdump: verbose output suppressed, use -v or -vv for full protocol decode
listening on any, link-type LINUX_SLL (Linux cooked), capture size 262144 bytes
20:20:28.265177 IP deri.ntop.org.55795 > jswitch.ntop.org.snmp:  C="ntop" GetRequest(46)  17.7.1.2.2.1.2.3.100.0.106.99.53.204
20:20:28.270588 IP jswitch.ntop.org.snmp > deri.ntop.org.55795

[2017-03-29 18:30] lucaderi opened #1106 "net-snmp not working"
Installing net-snmp on a Linux PC, polling from  /lua/host_details.lua?ifid=0&host=x.x.x.x&page=snmp shows only the system group and not the interface group

![screen shot 2017-03-29 at 20 30 29](https://cloud.githubusercontent.com/assets/4493366/24470259/99cffaa8-14be-11e7-9593-fdf18c0a1496.png)

[2017-03-29 19:02] ValentinaViscarelli commented on #1104
I don't think it's a ntopng problem.
Did you try to use  ldapsearch command in order to check if ldaps of your server works properly?

For example:
ldapsearch -x -H ldaps://localhost -b dc=example,dc=com -d1

[2017-03-29 20:27] ad-ko commented on #1104
Yes I did a ldapsearch against the DC from the ntop host and it's working:

user@ntop:~$ldapsearch -x -H ldaps://kohlenstoff.domain.local -b dc=domain,dc=local -D CN=Optimus-Prime,OU=Users,DC=domain,DC=local -w XXX 'sAMAccountName=user'
ldap_url_parse_ext(ldaps://kohlenstoff.domain.local)
ldap_create
ldap_url_parse_ext(ldaps://kohlenstoff.domain.local:636/??base)
ldap_sasl_bind
ldap_send_initial_r

[2017-03-30 07:59] simonemainardi commented on #914
duplicate of #1054

[2017-03-30 07:59] #914 closed, assigned to simonemainardi

[2017-03-30 08:06] simonemainardi commented on #911
Flow throughput has been added to nProbe. To get the throughput in ntopng you can use nProbe template fields
- SRC_TO_DST_MAX_THROUGHPUT
- SRC_TO_DST_MIN_THROUGHPUT
- SRC_TO_DST_AVG_THROUGHPUT
- SRC_TO_DST_AVG_THROUGHPUT
- DST_TO_SRC_MIN_THROUGHPUT
- DST_TO_SRC_AVG_THROUGHPUT

Once you have added the template fields above, ntopng will export the corresponding data to either MySQL or to ElasticSear

[2017-03-30 08:06] #911 closed, assigned to nobody

[2017-03-30 08:16] emanuele-f commented on #1044
Closing for inactivity. Please reopen if necessary

[2017-03-30 08:16] #1044 closed, assigned to nobody

[2017-03-30 08:44] emanuele-f commented on #1054
Should the hosts and flows be removed from the hash tables or should theirs incStats statistics just be cleared?

[2017-03-30 08:50] simonemainardi commented on #1093
- add an additional criterion in the Paginator

[2017-03-30 11:03] emanuele-f commented on #1093
Implemented in b7e0669c336e9046b42de518967f515dd76ec6ce

[2017-03-30 11:03] #1093 closed, assigned to emanuele-f

[2017-03-30 11:03] emanuele-f commented on #1090
Implemented in b7e0669c336e9046b42de518967f515dd76ec6ce

[2017-03-30 11:03] #1090 closed, assigned to emanuele-f

[2017-03-30 13:53] emanuele-f commented on #1075
Implemented in 0fcf93ffb90638e805f2982a6f4b6be33cc27e16

[2017-03-30 13:53] #1075 closed, assigned to emanuele-f

[2017-03-30 15:41] lucaderi commented on #1086
ICMP is implemented. ARP is missing

[2017-03-30 19:31] simonemainardi commented on #1106
Fixed.

[2017-03-30 19:31] #1106 closed, assigned to simonemainardi

[2017-03-30 19:55] ValentinaViscarelli commented on #1104
@ad-ko
I have installed a  ldap server and I have enabled ldaps with a self-signed certificate. I create the accounts and groups and I have verified that ntopng with ldaps authentication works fine for me.
To be honest I don't know how I can help you. Is there something I can do for you?

[2017-03-30 21:27] simonemainardi commented on #1053
should be fixed now

[2017-03-30 21:27] #1053 closed, assigned to simonemainardi

[2017-03-31 11:08] simonemainardi commented on #1103
issue has been fixed, a new build is in progress. Please wait an hour, update, and give feedback.

[2017-03-31 11:08] #1103 closed, assigned to simonemainardi

[2017-03-31 11:26] emanuele-f commented on #1086
ARP implemented in 0ee87cfd4e312da4b60ffc5fb54f8375d5c1b87d
Examples:

Good traffic:
![good](https://cloud.githubusercontent.com/assets/5488003/24548444/873ea486-1615-11e7-9069-8da80e80486f.png)

Attacker:
![bad](https://cloud.githubusercontent.com/assets/5488003/24548458/9e704740-1615-11e7-8731-acd68bcdf041.png)

Victim:
![under_attack](https://cloud.githubusercontent.com/assets/5488003/24548462/

[2017-03-31 12:15] ad-ko commented on #1104
Are there any debugging or logging options that I can activate? I've a lot of different systems using a ldaps connection to the domain controller without any problems. I think I need to investigate the ntop machine to find the error.

[2017-03-31 14:10] PSmolders commented on #1103
Fixed

[2017-04-01 06:19] lucaderi commented on #1086
You do not seem to have implemented ARP stats in the interface view.

[2017-04-01 06:42] lucaderi opened #1108 "Add Search on Help Window and Review Consistency"
The help window is unusable due to the many options currently available. It is requested to:
- implement a search box where it is possible to find options. An idea is to search strings in help title items
- put together items that are consistent. For instance retention items are spread all around. In essence rethink what information has to be presented where so that users can find what they are lo

[2017-04-01 07:00] lucaderi opened #1109 "Shrink Traffic Shaping Layout"
![screen shot 2017-04-01 at 08 58 27](https://cloud.githubusercontent.com/assets/4493366/24576280/6697185e-16b9-11e7-9825-001c4e53b5a4.png)

The current layout does not render properly and buttons and on two lines instead of one. This because some fields are pretty large, and others (e.g the protocol) take far too much more space than necessary

[2017-04-01 07:03] lucaderi opened #1110 "Quota Buttons are Disabled"
![screen shot 2017-04-01 at 09 01 36](https://cloud.githubusercontent.com/assets/4493366/24576300/d66cfa90-16b9-11e7-9378-9cbf17896a4b.png)

1. On the default protocols no quota buttons should be displayed
1. On on-default protocols quota buttons are disabled

[2017-04-01 07:15] lucaderi opened #1111 "User Interface Localisation Incomplete"
The whole user interface must be localisable. So far only a portion of it is as such. It must be extended to all (or at least at most) remaining user interface components.

[2017-04-01 07:27] lucaderi opened #1112 "Ability to Specify the Default SNMP Community for Hosts"
In /lua/host_details.lua?ifid=YYY&host=XXXXX&page=snmp if the host community has not been configured it is request, the following message appears "Host XXXXX has not been configured as an SNMP device. Visit page SNMP to add this host to the list of configured SNMP devices." While this practice is good for hosts that need to be SNMP-monitored, it is not a good idea for all those cases where we want

[2017-04-01 07:30] lucaderi opened #1113 "Enhance SNMP Devices Preferences"
When adding a new SNMP device (snmpdevices_stats.lua) it is requested to add the ability for the user to specify if the device must be periodically SNMP-polled (and thus eventually generate traffic time series) or not. This helps to avoid un-necessary polling for devices that are not important.

Furthermore when adding a new device, figure out if the bridge MIB is supported (this is detected durin

[2017-04-01 07:33] lucaderi commented on #1086
In host_details.lua, if there is a MAC associated (e.g. it does not happen for all flow-devices), add a pie chart (in page=packets tab page) with ARP breakdown (sent/received).

[2017-04-01 07:40] lucaderi opened #1114 "Add Traffic Direction in Network Interfaces"
In ntopng all traffic does not have a direction as libpcap (used in case of no other means work) does not report traffic direction (RX or TX with respect to the interface).

It is requested to add RX/TX as property to each packet so that we know if this is ingress or egress traffic. PF_RING has this feature of knowing traffic direction. In case were are not aware of the direction we assume RX.

Se

[2017-04-02 08:26] emanuele-f commented on #1110
Quota buttons are disabled for non-default protocols only in the "Not Assigned" Host Pool. In manually created pools, they are enabled.

In order to enable quota for "Not Assigned" Host Pool, we also have to compute the "Not Assigned" Host Pool statistics, which currently are not available. Moreover, since the quota statistics are accessed by the graph icon on the Host Pools page, we should also e

[2017-04-02 08:49] emanuele-f commented on #1109
Size reduced with d3411a4a88d3bfc0e1ce6ae30f275f45b311db75 , please check out new version. What's the window size are you using?

[2017-04-02 19:41] EusebioGM opened #1115 "How to size the machine based on the received network traffic"
Hi,
I have an network architecture based in two servers: "probe mode" server and "collector" server.
And probe mode server is feeding "collector server".
So, I would like to know how to size both machines (servers) based on the real received traffic on the interface.
- Maybe there is some way of estimating how to size the machine as memory (RAM)? And what about the free space needed on hard drive?

[2017-04-03 11:34] emanuele-f commented on #1110
Implemented in d8d0d4e3817f4f82c0cfa7897a95fad34f002047

[2017-04-03 11:34] #1110 closed, assigned to emanuele-f

[2017-04-03 11:34] emanuele-f commented on #1109
Closing, please reopen if necessary.

[2017-04-03 11:34] #1109 closed, assigned to emanuele-f

[2017-04-03 14:36] simonemainardi opened #1116 "Host Alerts Configuration Page - Fields Size"
Re-arm is larger than the other fields
![image](https://cloud.githubusercontent.com/assets/3397663/24614498/ab0ca250-188b-11e7-91cd-28ea586b724f.png)

[2017-04-03 14:39] simonemainardi opened #1117 "Alerts Descriptions"
A description should be added (improved) for the configurable threshold-based alerts:

![image](https://cloud.githubusercontent.com/assets/3397663/24614565/db0874f2-188b-11e7-8901-d999cd2fe8d1.png)

Es:

- what does 'bytes' mean? >= Layer 2 ? or >= Layer 3? This should be explained
- what does dns mean?

[2017-04-03 14:43] simonemainardi commented on #1084
- create one RRD per flag (e.g., one rrd per syn, one rrd per syn+ack, one rrd per fin+ack, one rrd per rst).

- add an option in the preferences to toggle the creation of the above rrds for local hosts and network interfaces

[2017-04-03 14:47] simonemainardi opened #1118 "Add Protocol List per Protocol Category"
When configuring host pool policies and quotas it is possible to select protocol categories. However, it is not clear which protocols belong to which category.

It is requested to add information to allow the user to browse the full list of protocols that belong to each category.

[2017-04-03 19:13] ValentinaViscarelli commented on #1104
@ad-ko
In your case I see that the "ldap_sasl_bind_s" (a function of libldap library) function fails and seems it return this error code:

LDAP_SERVER_DOWN
The LDAP library can't contact the LDAP server.

To be honest I don't have an idea how I could resolve this problem. Any suggestions?
Any chance to try my ntopng with a your server (maybe with a test server)?

[2017-04-03 22:02] thegeodave commented on #813
updated to v2.5.170403. Hourly report to Day report to Week report all show valid data. However,  pulling up the Monthly report shows the top local hosts results the same as weekly results. see attached

![hour](https://cloud.githubusercontent.com/assets/25374047/24633771/17a7782a-187f-11e7-8454-f9a085d74853.png)
![day](https://cloud.githubusercontent.com/assets/25374047/24633784/1f4f5c28-187f-11e

[2017-04-04 08:08] simonemainardi opened #1120 "Preferences - attempt to index a nil value"
As soon as the preferences page is open:

![image](https://cloud.githubusercontent.com/assets/3397663/24647062/8b35c662-191e-11e7-8f7c-41a4a745fb54.png)

[2017-04-04 08:30] simonemainardi commented on #1066
duplicate of #1114

[2017-04-04 08:30] #1066 closed, assigned to lucaderi

[2017-04-04 08:56] emanuele-f commented on #1120
Fixed in 4ce22211046f579eed9ea3f64f45701ce8107f06

[2017-04-04 08:56] #1120 closed, assigned to emanuele-f

[2017-04-04 08:57] emanuele-f commented on #1108
Search implemented in the linked pull request. Preferences reworked in 4ce22211046f579eed9ea3f64f45701ce8107f06

[2017-04-04 08:57] #1108 closed, assigned to emanuele-f

[2017-04-04 09:55] emanuele-f commented on #1117
Implemented in 40828f2b662ed6527774ba69c356ce6ce92e5bb4.

[2017-04-04 09:55] #1117 closed, assigned to emanuele-f

[2017-04-04 09:56] emanuele-f commented on #1116
Fixed with 40828f2b662ed6527774ba69c356ce6ce92e5bb4

[2017-04-04 09:56] #1116 closed, assigned to emanuele-f

[2017-04-04 10:15] simonemainardi commented on #1113
implemented in Pro

[code]

[2017-04-04 10:15] #1113 closed, assigned to simonemainardi

[2017-04-04 11:11] simonemainardi opened #1121 "Preferences contents"
- MySQL data retention must be hidden when MySQL export is not enabled
- Database flow dump must be hidden when no export is available (elasticsearch, mysql, logstash)
- Traffic bridging must be hidden when ntopng has not been started with a bridge interface -i bridge

[2017-04-04 11:28] emanuele-f commented on #1086
Implemented in aa7bab5feee4f7de3fa9fc798b7a36ffd47cf172. Please reopen if necessary.

[2017-04-04 11:28] #1086 closed, assigned to emanuele-f

[2017-04-04 12:07] emanuele-f commented on #1121
Fixed with d56b05136eef282fc34dde13f8b534257629e5d3

[2017-04-04 12:07] #1121 closed, assigned to emanuele-f

[2017-04-04 13:15] simonemainardi opened #1122 "Sort Columns in Host ICMP Table"
Columns should be sortable as in the same ICMP page under if_stats.lua

![image](https://cloud.githubusercontent.com/assets/3397663/24658226/675c90ec-1949-11e7-90c2-7d0c8cb994a9.png)

[2017-04-04 13:36] emanuele-f commented on #1118
Implemented with 058d7e27ce6c177da0d03a661a5e177d25472db4. See attached screenshot:
![screenshot at 2017-04-04 15-31-27](https://cloud.githubusercontent.com/assets/5488003/24659219/59a8d926-194c-11e7-91e1-f935dc1bb6e5.png)

[2017-04-04 13:36] #1118 closed, assigned to emanuele-f

[2017-04-04 14:03] emanuele-f commented on #1122
Fixed with e38fa8b7a1857093806521724fd76def811503fb

[2017-04-04 14:03] #1122 closed, assigned to emanuele-f

[2017-04-04 14:54] emanuele-f commented on #1083
Implemented in a439d9c2bd9abc54077baee65b149c031d13e333

[2017-04-04 14:54] #1083 closed, assigned to emanuele-f

[2017-04-04 15:06] emanuele-f commented on #813
Please open a separate bug to truck this issue. Thank you.

[2017-04-04 15:11] #1112 closed, assigned to simonemainardi

[2017-04-04 16:51] #1060 closed, assigned to simonemainardi

[2017-04-04 17:13] emanuele-f commented on #1084
As discussed, currently the tcp flags timeseries are only available for network interfaces. See 4dffa882ef78240039394c56dacd6a8d2bca7c5b.

[2017-04-04 19:21] thegeodave opened #1123 "1Month report results for top local hosts totals incorrect"
Reports totals for 1Month or more are incorrect.  See attached below.

My true need here is to have a report of ALL LOCAL HOST TRAFFIC totals for a 30 day period or the last 30 days. (not just the top 10 local hosts). Seems it would be best to implement this on the main menu's Hosts/Hosts report page.   But this would probably be considered a request vs a bug. I can say that when I restart ntopng,

[2017-04-04 20:06] ValentinaViscarelli opened #1124 "Default traffic policy for a pool"
In bridge mode you are not able to change the default traffic policy for a pool.
For example you cannot set "1 (Drop all Traffic)" policy or a custom traffic policy.

[2017-04-04 21:12] #1124 closed, assigned to emanuele-f

[2017-04-04 21:12] emanuele-f commented on #1124
Thank you for reporting

[2017-04-05 04:00] davr opened #1125 "Cannot login from non-localhost"
When I log in from non localhost I just redirect immediately to the login page again with no error or anything. Appears to be the same as #479

When I attempt to login I see these messages in the log:
04/Apr/2017 20:56:16 [HTTPserver.cpp:136] [HTTP] Set session sessions.5a1b409954358a2d7bd34f60f6f0fd1b
04/Apr/2017 20:56:16 [HTTPserver.cpp:234] [HTTP] redirect_to_login(5a1b409954358a2d7bd34f60f6f0f

[2017-04-05 04:01] davr commented on #1125
Running version 2.2+dfsg1-1buil on Ubuntu 16.04.2 LTS, kernel 4.4.0-62-generic

[2017-04-05 08:12] simonemainardi commented on #1125
@davr please update at least to stable 2.4 or dev version 2.5. Version 2.2 is outdated.

[2017-04-05 08:26] simonemainardi commented on #1123
@thegeodave, we did some changes recently to the top talkers so the issue should be fixed now. The fact that you are experiencing issues with week and month reports may be due to the fact that that data has been crunched and stored BEFORE the latest changes.

So here you have two options:
- wait a few days and see if weekly/monthly reports start generating properly
- send us the top talkers databa

[2017-04-05 08:35] PSmolders opened #1126 "Limit ntopng to MySQL file limit"
Would it be possible to limit ntopng to a MySQL open file limit? I am running MySQL on a Synology NAS box and I can not change the open file limit from 1024 on there. Right now, nProbe crashes around 01:00 every morning because the file limit is too small. So, can ntopng be limited to only use 1024 MySQL files/connections instead? Currently using the MyISAM DB engine.

[2017-04-05 08:40] simonemainardi commented on #1126
is nProbe or ntopng that crashes?

[2017-04-05 08:42] PSmolders commented on #1126
I can still access the web GUI of ntopng, yet no new data comes in, on any interface. All pages are empty as old data is purged after a certain time. So I guess it is nProbe that crashes. Htop shows nProbe as not running after. Ntopng log shows error connecting to MySQL, then succesfully connecting, then disconnected in that order, for every interface, once every day at 01:00 after the ntopng MySQ

[2017-04-05 08:51] simonemainardi commented on #1126
I am not sure those two issues are related. Update nProbe to the latest dev version as a the cause of a crash was fixed yesterday.

Regarding MySQL there's some room to reduce the number of open files. If you can't increase the maximum on the OS,  you should ALERT TABLE and reduce the number of partitions manually.

[2017-04-05 08:54] PSmolders commented on #1126
nProbe is updated to the latest version as of today, I will check if the issue persists. For MySQL, I shall check it out.

[2017-04-05 09:16] simonemainardi commented on #1126
if you can't find the nProbe process running, then it has very likely crashed. Please follow the instructions at http://www.ntop.org/support/faq/how-to-report-a-bug-on-ntop-apps/ and use the github nprobe issue tracker to report.

[2017-04-05 09:16] #1126 closed, assigned to simonemainardi

[2017-04-05 09:29] simonemainardi commented on #1115
Space is basically impacted by the following:

- local hosts. ntopng keeps several RRDs with detailed statistics for each local host. You can control RRD size by tuning data retentions periods from the preferences. You may also toggle the L7 statistics for local hosts
- historical mysql flows: approximately 400k per mysql flow (total index + data)

Memory is impacted by the following:
- number of

[2017-04-05 09:29] #1115 closed, assigned to simonemainardi

[2017-04-05 10:34] simonemainardi commented on #1084
- scale is not consistent:

![image](https://cloud.githubusercontent.com/assets/3397663/24701554/2bc052a0-19fb-11e7-969d-27ea983460b0.png)

- it is not possible to determine the actual value even with the mouseover

- use horizontal rules to separate tcp from other timeseries and also to separate tcp flags timeseries from the ooo/retransm/lost. How everything is mixed together
![image](https://clo

[2017-04-05 13:38] emanuele-f commented on #1085
@lucaderi, please clarify some points:

- Packet ratio number should be visualized somewhere or should it be just used for alert generation?
- Should we see a "minimum" number of ARP//ICMP/TCP packets before checking for the ratio cross?
- Into the alert settings, it is acceptable to add a new field with a float ratio edge? E.g. "ARP request/response ratio" ">=" "1.8"

[2017-04-05 14:06] simonemainardi opened #1127 "Bytes and rates use different units"
It is requested to uniform all the rates / traffic volumes to the same unit. Either:

- Decimal prefixes (SI)

or

- Binary prefixes (IEC 80000-13)

Source: https://en.wikipedia.org/wiki/Data_rate_units

[2017-04-05 14:11] simonemainardi commented on #1084
I fixed the scale:

![image](https://cloud.githubusercontent.com/assets/3397663/24709542/80bfa944-1a1a-11e7-9896-3ac2f934a74a.png)

@emanuele-f please re-arrange the entries as suggested above.

[2017-04-05 14:33] emanuele-f commented on #1084
Arranged with 919a49b1a3b3ef42087ce97dd40b0e8b04e0b96e

[2017-04-05 14:33] #1084 closed, assigned to emanuele-f

[2017-04-05 15:00] ryu80 commented on #911
Great improvement !
but is it possible to use them directly with ntopng community ? because i don't understand how to add templates with ntopng.
maybe i have to modify something in ntopng_template_elk.json?
thanks

[2017-04-05 15:52] simonemainardi opened #1128 "All Protocols - Charts Issues"
Selecting the "All Protocols" dropdown entry doesn't render the chart properly.

![image](https://cloud.githubusercontent.com/assets/3397663/24714316/74c7026e-1a28-11e7-8f85-7f0225cd94b0.png)

Indeed,  there are items (Num_flows, Num_hosts) that are not supposed to be there.

[2017-04-05 16:10] #1128 closed, assigned to emanuele-f

[2017-04-05 16:28] simonemainardi commented on #911
@ryu80  you need nProbe and specify those field in nProbe template with -T. Then those fields will be automatically propagated to ntopng

[2017-04-05 16:29] simonemainardi commented on #911
if your aim is to just have the throughput in elasticsearch, then you can also skip ntopng and let nprobe do the insertion in ES

[2017-04-05 17:09] ValentinaViscarelli opened #1129 "Adding Captive Portal User"
You are not able to create a "Captive Portal User".
I try to fill form with these data:

account: paperino
full name: paperino
password: paperino
confirm password: paperino

no action happens when you push "Add new user" button

[2017-04-05 17:11] ValentinaViscarelli opened #1130 "Adding subnet to different pools"
You can add the same subnet to different pools. This should not be possible.
What policy do you apply in this case?

[2017-04-05 17:38] #1072 closed, assigned to simonemainardi

[2017-04-05 17:40] #1129 closed, assigned to emanuele-f

[2017-04-05 18:03] swissiws commented on #1044
I had another look and generated ICPM, UDP and TCP traffic from workstation to Router over NTOPNG bridge.
UTP from Win7 to Firewall = successful
ICMP from Win7 to Firewall - successful
TCP from Win7 to Firewall = fails

Would you please be able you have no such behavior and the issue is actually with my configuration? Using NtopNG 2.4.x all works fine and I do not have any issues with bridge.

Att

[2017-04-05 19:00] lucaderi commented on #1130
In other words no overlapping networks can be defined in different pool.

[2017-04-05 20:47] ValentinaViscarelli opened #1131 "Daily Traffic Quota doesn't seem to work"
I started ntopng in bridge mode "sudo ./ntopng -i bridge:enp6s0,enp8s0"
I have created a pool and I have inserted the subnet "192.168.10.0/24" and I have set a "Daily Traffic Quota" of 3 MiB for the http protocol.
Although I have passed the threshold (How you can see from screen shots), I can still surf the Internet using http protocol.
Am I doing something of wrong?
![welcome to ntopng - google c

[2017-04-05 22:03] lucaderi opened #1132 "Invalid Traffic Labels"
This commit is broken
https://github.com/ntop/ntopng/commit/310433275b0d3e1c75bf67927fa8958a4965e590

Traffic units must work as following
- per second units (https://en.wikipedia.org/wiki/Data_rate_units) must be expressed in decimal prefix (SI)
- volumetric units (e.g. megabytes transferred by a host) must be expressed as multiple of 1024.

[2017-04-06 08:28] simonemainardi commented on #1044
@swissiws document enclosed shows you are using 2.4

![image](https://cloud.githubusercontent.com/assets/3397663/24744796/7ec4b604-1ab3-11e7-825d-1600ac37ae46.png)

There are known issues there that cause historical traffic obtained from flows to be less that the actual traffic. Basically, some flows wasn't dumped properly. Those issues have been fixed in dev version.

[2017-04-06 09:36] simonemainardi opened #1133 "Bridged interfaces speed is doubled"
Bridged interfaces speed is doubled. Using iperf I would have expected a 1Mbps (the footer looks correct).

![image](https://cloud.githubusercontent.com/assets/3397663/24747619/3cdb3236-1abd-11e7-940b-977c03f54086.png)

[2017-04-06 10:37] simonemainardi opened #1134 "Default no-quota values"
Default no-quota-set values for traffic and time quotas are set to 0. This is misleading as 0 means drop-all in the traffic shapers. To make the interface consistent, use -1 to indicate a pass-all quota. This is consistent with  the -1 used to indicate a pass-all traffic shaper:

![image](https://cloud.githubusercontent.com/assets/3397663/24750040/b239d53e-1ac5-11e7-89ce-18b6f6da5902.png)

[2017-04-06 11:10] lucaderi opened #1135 "Late quota check circumvents limits"
When a host pool has past the quota, new flows made by such pools must be stopped immediately once the protocol has been detected and not periodically. Due to this, it is possible to avoid the quota limits simply reopening a new flow.

[2017-04-06 11:13] lucaderi opened #1136 "Misleading flow status information"
![screen shot 2017-04-06 at 13 09 15](https://cloud.githubusercontent.com/assets/4493366/24751589/79ab9c20-1aca-11e7-9dd3-16b68367066f.png)

Nowhere in the GUI it is written when a flow is blocked because of a quota limit. Looking at the above image you can see that this flow has no shaper associated (and thus unlimited bandwidth) but it is blocked. The reason is that the quota was past. It is req

[2017-04-06 11:15] lucaderi opened #1137 "Invalid Host Pool Report"
![screen shot 2017-04-06 at 13 14 22](https://cloud.githubusercontent.com/assets/4493366/24751744/0039bc72-1acb-11e7-9f8d-4a2ff4ad0da4.png)
![screen shot 2017-04-06 at 13 14 07](https://cloud.githubusercontent.com/assets/4493366/24751747/004d35e0-1acb-11e7-9d4d-004b4dbaa01d.png)
![screen shot 2017-04-06 at 13 13 50](https://cloud.githubusercontent.com/assets/4493366/24751746/004a1edc-1acb-11e7-9d3

[2017-04-06 11:20] lucaderi opened #1138 "Misleading Host Pool Report Implementation"
![screen shot 2017-04-06 at 13 17 14](https://cloud.githubusercontent.com/assets/4493366/24751840/6081c5d4-1acb-11e7-8812-62e69381de12.png)
Inside the  host pools definition window (see attachment) I expect to
- see a gauge that reports (in case of quota defined) the remaining percentage of allowed traffic
- an icon with an hyperlink to the host pool quota/details

As of today, users can be confus

[2017-04-06 11:21] lucaderi commented on #1131
@ValentinaViscarelli I think this issue has some kind of relationship with #1135

[2017-04-06 11:39] lucaderi opened #1139 "Preferences Search Glitches"
1. In the screenshot below there are HTML tags displayed and long description (it should be short and limited to the title)
![screen shot 2017-04-06 at 13 32 43](https://cloud.githubusercontent.com/assets/4493366/24752299/8ea57710-1acd-11e7-91f4-5144a111f8e8.png)

2. In the screenshot below in case search does not return any result, the user should be notified and report something like "no result

[2017-04-06 13:04] emanuele-f commented on #1135
Detection on new flows is performed as soon as the protocol is detected, see

https://github.com/ntop/ntopng/blob/dev/src/Flow.cpp#L584
https://github.com/ntop/ntopng/blob/dev/src/Flow.cpp#L2512

[2017-04-06 13:08] lucaderi commented on #1135
@emanuele-f Indeed there is a bug you need to fix

[2017-04-06 13:30] emanuele-f commented on #1136
Please provide the following details:
- Into the flow details, the quota information should be provided just as a boolean "Quota exceeded / Not exceeded" or with two gauges (one for client, one for server pool)?
- Into the host details, the information is just a "Quota exceeded / Not exceeded"?

[2017-04-06 16:20] dcsquare opened #1140 "Errors after upgrade"
I upgraded today to 2.5.170406 - Pro Small Business Edition (had to do a dist-upgrade).

Issues:
1. Traffic seen is 1% of the former (see image - it's a 10GB interface, with 3Gbps down, 1Gbps up at the moment of the screenshot).
2. The log is full of errors of the type:
06/Apr/2017 19:01:20 [Lua.cpp:6358] WARNING: Script failure
[/usr/share/ntopng/scripts/lua/network_load.lua][/usr/share/ntopng/sc

[2017-04-06 19:01] simonemainardi commented on #1140
please share ntopng and probe configurations used

[2017-04-06 19:03] dcsquare commented on #1140
Startup Line	ntopng --pid "/var/run/ntopng.pid" --interface "tcp://127.0.0.1:5556" --data-dir "/var/tmp/ntopng" --http-port "3000" --local-networks "x.y.z.w/19" --max-num-flows "200000" --max-num-hosts "250000" --sticky-hosts "none"

nprobe:
--collector-port=6343
--zmq=tcp://127.0.0.1:5556
-g=/var/run/nprobe-eth0.pid
--dump-stats=/var/log/nprobe/eth0-0_flows_stats.txt
-T="%IPV4_SRC_ADDR %IPV4_DST_

[2017-04-06 23:28] swissiws commented on #1044
Upgraded to newest nightly build and bridge is now working! gets start testing.

Question:
As bridge times out after 10 minutes and data flow stops, how can I apply for Government Enterprise version 2.5? many thanks

[2017-04-07 07:57] emanuele-f commented on #1140
It seems like your browser is still using the old pre-update code, can you flush its cache?

[2017-04-07 08:22] simonemainardi commented on #1044
@swissiws bridging features are available in the Pro. The enterprise version is still in beta and has not been released yet. You can purchase a pro license or contact our sales dept. to get an enterprise version trial

[2017-04-07 08:23] dcsquare commented on #1140
I can use an entirely new browser. And I did. Same results:
![2017-04-07 11_23_04-welcome to ntopng - internet explorer](https://cloud.githubusercontent.com/assets/718334/24791915/a824e7cc-1b84-11e7-9b0b-515cc6888b1a.png)

[2017-04-07 12:41] sillenomis opened #1141 "Raspberry PI 2 Install Issue"
Hi, I have followed install instructions at http://packages.ntop.org/RaspberryPI/ for my RPI2 running the latest lite (sic) version of jessie and this error occurs...

Preparing to unpack .../ntopng_2.5.170401-2576_armhf.deb ...
Unpacking ntopng (2.5.170401-2576) ...
dpkg: error processing archive /var/cache/apt/archives/ntopng_2.5.170401-2576_armhf.deb (--unpack):
 trying to overwrite '/usr/share

[2017-04-07 15:37] #1132 closed, assigned to simonemainardi

[2017-04-07 15:39] simonemainardi commented on #1135
fixed with:
- b2d906a31c07e33e0e65a38cb30c686a3e83aaef
- b20ddc6980017198b160df2c11ed2185efcfb0cb
- 997f83aa100eeb579d20f1b561d319451ccea68c
- 258858cec6959bf7d5295ed4216304d59ed52aa9

[2017-04-07 15:39] #1135 closed, assigned to nobody

[2017-04-07 15:48] simonemainardi commented on #1130
I partially disagree on the overlapping. I would allow overlapping networks to be defined across pools. In this way we could leverage the benefits of CIDR and longest match to implement more flexible policies.

For example, let's say you have an organization with a /24 and you know that all the executives have ip addresses in a more specific /25. By allowing overlapping networks you can policy the

[2017-04-07 17:00] ValentinaViscarelli opened #1142 "traffic policy: protocol priority"
The policy applied to a protocol should have priority over the default policy.
If you apply the configuration reported in the screen shot the http traffic doesn't pass.
![welcome to ntopng - google chrome_038](https://cloud.githubusercontent.com/assets/13115771/24810910/584a941e-1bc4-11e7-9c20-d892cefc9c31.png)

[2017-04-07 22:09] sillenomis commented on #1141
re-ran install this evening and install was a bit clunky with ntopng --configure errors (sorry did it on my phone, so didn't capture actual messages), but all working after a reboot. thanks for sorting. great product.

[2017-04-08 17:35] EusebioGM commented on #1115
ok, thanks a lot!

[2017-04-08 18:53] jevonearth opened #1144 "Logstash errors when parsing data from ntopng"
Hi,

I have been testing the ntopng to logstash feature, and I'm getting some good data passed from: mikrotik -> nprobe -> ntopng -> logstash -> elasticsearch

But I get regular json parse errors where there are spurious characters (such as `\u00004` and `\u0000` ) in the json. See two log samples below, along with version information and copies of my configs.

Please let me know if I can test any

[2017-04-09 09:38] #1068 closed, assigned to simonemainardi, emanuele-f

[2017-04-10 07:08] emanuele-f commented on #1141
Can you post here the configure errors you see? Maybe there is something in our package that we need to fix. Thank you.

[2017-04-10 08:12] dcsquare commented on #1140
You can close this one as I did an apt-get purge ntopng probe to start fresh.
I'm using this in production so I need it to work.
I'm opening a new bug thread.

[2017-04-10 08:12] #1140 closed, assigned to simonemainardi, emanuele-f

[2017-04-10 08:22] dcsquare opened #1145 "Incorect traffic values"
Fresh install of ntopng and nprobe (after the update to 2.5.170406 totally fubared my box).

The traffic values are incorrect. They should be 2Gbps down/ 500 Mbps up.
Ntopng show 900kbps down / 100 kbps up.

Sflow comes from a Huawei S6720, from a single interface.

Configs:
nprobe:
--collector-port=6343
--zmq=tcp://127.0.0.1:5556
-g=/var/run/nprobe-eth0.pid
--dump-stats=/var/log/nprobe/eth0-0_flo

[2017-04-10 09:07] simonemainardi commented on #1142
Issue has been fixed by waiting the completion of protocol detection before issuing a drop verdict for a flow.

Indeed, what was happening was that nDPI wasn't able to detect HTTP at the first packet so the flow wasn't able to go through.

Also note that, in order to have HTTP working, you should also have at least DNS/SSL enabled as well or the normal web navigation would very likely be affected

[2017-04-10 09:07] #1142 closed, assigned to simonemainardi, emanuele-f

[2017-04-10 09:49] simonemainardi commented on #1144
+@bperian

[2017-04-10 09:53] simonemainardi commented on #1131
fixed

[2017-04-10 09:53] #1131 closed, assigned to simonemainardi, emanuele-f

[2017-04-10 09:55] simonemainardi commented on #1127
rates and traffic volumes have been standardized across the whole platform.

speeds are always indicated using Deciamal prefixes (SI), whereas volumes are indicated using Binary Prefixes.

[2017-04-10 09:55] #1127 closed, assigned to simonemainardi, emanuele-f

[2017-04-10 09:56] simonemainardi commented on #1125
Solution given. Using an outdated release. Issue is fixed in versions >= 2.4

[2017-04-10 09:56] #1125 closed, assigned to simonemainardi

[2017-04-10 09:58] franckfischer commented on #1048
Hello Simone,

I’m following up on this topic.

You mentioned below that Dynamic Interface creation was to be made under the “expert preferences view”.
However, I was unable to find the “expert preferences view” (and therefore the Dynamic Interfaces creation) :
[cid:image002.jpg@01D2B1F1.C148BCD0]

I’m running the professional version in v.2.4.170215 which seams to be the latest version.

Could yo

[2017-04-10 09:59] simonemainardi commented on #1048
@franckfischer you need to move to version 2.5

[2017-04-10 10:25] emanuele-f commented on #1136
Implemented in eb7fae8c4c865301c7284ff4e91bdf4b4553fc6d and 97afda88b8e0b9fb46eae431244696fc84119777

[2017-04-10 10:25] #1136 closed, assigned to emanuele-f

[2017-04-10 11:07] emanuele-f commented on #1145
Can you post a screenshot of the page showing incorrect results?
Please note that the graph at the bottom of the page shows local-versus-remote traffic and not up-versus-down

![screenshot at 2017-04-10 13-04-43](https://cloud.githubusercontent.com/assets/5488003/24858914/8b0b2662-1dee-11e7-9640-5f725e7ea12b.png)

[2017-04-10 11:08] sillenomis commented on #1141
hi, i reran the install on a fresh install of raspian (so i could capture the errors for you) and there were no errors, so unfortunately i don't have anything to show you.

[2017-04-10 11:08] #1141 closed, assigned to emanuele-f

[2017-04-10 11:09] emanuele-f commented on #1141
That's ok, thank you

[2017-04-10 11:12] emanuele-f commented on #1104
@ad-ko any updates?

[2017-04-10 11:13] dcsquare commented on #1145
![2017-04-10 14_11_26-welcome to ntopng](https://cloud.githubusercontent.com/assets/718334/24859094/c659b69e-1df7-11e7-96c9-54393f53421b.png)

[2017-04-10 11:35] bperian commented on #1144
Issue should be fixed in https://github.com/ntop/ntopng/pull/1143

EDIT: I also encountered the described warnings regarding encoding on the previous version of the code.

[2017-04-10 16:55] emanuele-f opened #1146 "Bad NetBIOS host name association"
When using NetBIOS dissection to determine an host name, there are a couple of problems which result into a bad association:
1) There is no discrimination between NetBIOS requests and responses. (see questions.pcap)
2) Only the flow client host is updated with the name from NetBIOS, but this does not take into account the situation where the client host performs a query and the server host replies

[2017-04-10 17:08] mahescho commented on #926
I've the same problem with "2.4.170215 - Pro Small Business Edition" on one of two interfaces which are both fed by NetFlow.

[2017-04-10 17:27] simonemainardi commented on #926
@mahescho problem is solved in version 2.5

[2017-04-10 17:48] mahescho commented on #926
Upgraded ... success: no traffic gets recorded :(

[2017-04-10 20:13] lucaderi commented on #1146
@emanuele-f Please check if this problem is fixed

[2017-04-10 21:11] jevonearth commented on #1144
Thanks, I will test and let you know the results!

[2017-04-10 22:34] emanuele-f commented on #1146
I've found that in some NetBIOS responses, names are terminated by a space (0x20) rather than the null terminator.

![screenshot at 2017-04-11 00-02-11](https://cloud.githubusercontent.com/assets/5488003/24884560/3c71e106-1e4a-11e7-84c3-3f90da2def69.png)

This is handled in commit 7c703ede326273010db4806514e7fa736fd92130

[2017-04-11 08:01] bperian commented on #1144
@jevonearth , also did some more extensive testing. Part of the issue is still present.
I'll work on a fix today and post here an update afterwards.

Update: Might be related to this issue: https://github.com/json-c/json-c/issues/108

[2017-04-11 12:00] bperian commented on #1144
I tested the feature using the changes done in https://github.com/ntop/ntopng/pull/1147, could not reproduce the issue anymore.

[2017-04-11 15:41] emanuele-f commented on #1137
@lucaderi can you check if this is fixed after commit 2e61d5babc2ed2af0682fdacd525c027bf4311f7 ? Thank you.

[2017-04-11 15:42] GiuseppeAugiero opened #1148 "More informations about malware alert"
When ntopng load a blacklist file (https://rules.emergingthreats.net/fwrules/emerging-Block-IPs.txt) is it possible load a  malware tipology too (such as C&C or Zeus or Dshield etc.) ?

[2017-04-11 17:13] mahescho opened #1149 "No traffic recorded after upgrade from 2.4 to 2.5"
Hi,

as I get no response on the mailing list I report this issue here too. After a upgrade to 2.5 no traffic is recorded. I use NetFlow for two Mikrotik routers. For my configs see this message:

http://listgateway.unipi.it/pipermail/ntop/2017-April/019801.html

and for further debugging results see this message:

http://listgateway.unipi.it/pipermail/ntop/2017-April/019804.html

How to fix this?

[2017-04-11 18:39] emanuele-f commented on #1138
Changes implemented into 73528f792775ef67158efe07d7b6497bc2f300ef.

![screenshot at 2017-04-11 20-35-48](https://cloud.githubusercontent.com/assets/5488003/24924948/ed979f1e-1ef6-11e7-8cf4-33f770b9aabd.png)

Please reopen if necessary.

[2017-04-11 20:24] lucaderi commented on #1149
@mahescho we are doing our best to assist everyone, while some of our colleagues are on vacation.

Can you please paste (or send me via email) a pcap containing mikrotik-exported flows+templates so I can see what happens? Have you updated just ntopng or also nprobe since the last working setup?

[2017-04-11 22:18] simonemainardi commented on #1149
it looks like all the stats periodically reported to ntopng by nProbe are zero:

[code]

In addition to Luca's suggestion, if you let the nProbe run for a while (also add option --debug), do you see any logs appearing on the console? I would like to understand if  Mikrotik data properly reaches nProbe. Also, when quitting nProbe with a ctrl+c, it should print a summary of the statistics that inclu

[2017-04-12 06:23] bperian commented on #1144
@simonemainardi thank you
@jevonearth Please test the feature with the latest dev branch when you get the chance.

[2017-04-12 09:04] mahescho commented on #1149
Please keep in mind, that every thing perfectly worked with 2.4 but the "47 years problem" and nothing changed in the Mikrotik setup.

I've updated everything, current versions:

ntopng                         2.5.170411-2642
nprobe                         7.5.170411-5727

@lucaderi I've to ask again: how to create "a pcap containing mikrotik-exported flows+templates"?
@simonemainardi sent by mail

[2017-04-12 09:16] simonemainardi commented on #1145
@dcsquare , I've just worked on your box. I have been kicked out after a few minutes but, anyway, I was able to find the issue.

Basically, your nProbe configuration file was missing option `--upscale-traffic`. This option is needed to scale up traffic volumes by a factor that is equal to the sFlow sampling size.

After adding option --upscale-traffic volumes went back to normal expected values.

[2017-04-12 09:16] #1145 closed, assigned to simonemainardi

[2017-04-12 09:39] simonemainardi commented on #1149
@mahescho to generate a pcap run

```sudo tcpdump -i <name of the network interface that is receiving flows> -w microtik.pcap port 4711```

let the command run for a few minutes and then send us the file mikrotik.pcap

[2017-04-12 10:16] simonemainardi commented on #1146
@emanuele-f still not fixed:

![image](https://cloud.githubusercontent.com/assets/3397663/24952935/bd6c478a-1f79-11e7-81f2-31629717305c.png)

ERREQ is a name that has nothing to do with 192.168.2.130.

[2017-04-12 10:17] mahescho commented on #1149
So simple that I was unable to figure it out my self :(  - sent by mail.

[2017-04-12 11:31] simonemainardi commented on #1149
@mahescho I confirm the issue is fixed, tested both with Netflow v9 and Netflow v10.

A new build is in progress. Please, wait an hour and then update the packages.

[2017-04-12 15:00] dcsquare commented on #1145
@simonemainardi : You haven't been kicked out. The server crashed. As it does daily now.

--upscale-traffic is new? I did not needed that before the update.

Where can I read about each update and what changed? Before updating, preferably...

Thank you.

[2017-04-12 15:33] simonemainardi commented on #1145
Dan, please try with the latest version. You should no longer experience any crash.

[2017-04-12 17:18] mahescho commented on #1149
Thanks, works again as expected. I will post my new questions to the ML :-)

[2017-04-12 17:22] mahescho opened #1151 "IPv4 vs IPv6 traffic breakdown for network interfaces"
It wold be nice to know what the amount of IPv4 traffic is compared to IPv6 traffic, perhaps with a host an protocol breakdown.

[2017-04-12 17:35] juesor opened #1152 "nTopNG No Flow and ntopng.log filled with your nProbe sender is outdated?"
I have a nProbe server running nprobe.x86_64 7.5.170331-5706 with a valid license.

I have a nTopNG server running ntopng.x86_64 2.4.170215-1311 also with a valid license.

Both servers are CentOS 7.  Both servers had software installed via yum
Mar 27 16:43:49 Installed: ntopng-2.4.170215-1311.x86_64
Mar 31 09:57:11 Installed: nprobe-7.5.170331-5706.x86_64

I am seeing NetFlow traffic to the nProb

[2017-04-12 18:11] emanuele-f commented on #1152
Hi, you are using stable ntopng (2.4 version) but development nprobe (7.5 version). You should update your ntopng to version 2.5 as described here http://packages.ntop.org/centos/.

[2017-04-12 18:16] #1139 closed, assigned to emanuele-f

[2017-04-12 18:44] juesor commented on #1152
Updated:
ntopng.x86_64 0:2.5.170412-2544
pfring.x86_64 0:6.5.0-1188
pfring-dkms.noarch 0:6.5.0-1188

I upgraded my ntopng to the latest.

I also upgraded my nprobe
# nprobe -v

Welcome to nProbe v.7.5.170412 (r5728) for x86_64-unknown-linux-gnu

My errors in ntopng.log have stopped but still no traffic.

ZMQ RX Statistics
Collected Flows	0
Interface RX Updates	99
ZMQ Message Drops	0
Ingress Traffi

[2017-04-12 21:04] simonemainardi commented on #1149
thanks for reporting. I'm glad to know it's solved

[2017-04-12 21:04] #1149 closed, assigned to simonemainardi, lucaderi

[2017-04-12 21:57] lucaderi commented on #1152
@juesor Can you please show how you are starting both apps?

[2017-04-12 22:43] lucaderi opened #1153 "Force admin password change"
For security reasons, it is requested to check (in case the admin user is logged in) if the user has changed the default password, and if not to force the user to change the password to a value other than 'admin'

[2017-04-12 22:52] lucaderi commented on #1151
@mahescho When computing this per network interface the math is pretty simple (we can schedule this for this upcoming release).

However when doing it at host level we need to bind two different IPs (one IPv4 and one IPv6)  through the MAC address. Perhaps we can postpone this at the next release.

@emanuele-f what do you think? Perhaps we can split this ticket in two sub-tickets.

[2017-04-13 00:53] jevonearth commented on #1144
Hi there,

I have tested:
[code]

And I am no longer seeing json errors. Thanks for the prompt fix!
-Jev

[2017-04-13 06:33] tieungao88 opened #1154 "Confuse IN_BYTES on NTOP?"
Dear all,
I have confuse about **IN_BYTES** values.  I am using NTOP with Elastic + Kibana.
I want to caculator **bandwidth of network** dependence **IN_BYTES.** I got **AVG IN_BYTES** on time range **1min** but result values is not correct.
Everyone,Do your know it?

Thanks.

[2017-04-13 07:09] mahescho commented on #1151
For my personal intended use "per network interface" would be sufficient. For some one else a additional host based view may be of interest too. Splitting this is a good idea.

I've tried to achieve this by using "Traffic Profiles" but my filters seem not to work. As I have two routers (one with and one without NAT)  I've two different sets of IPs:

IPv4: net 1.2.3.4/29 or host 5.6.7.8
IPv6: net A

[2017-04-13 07:48] emanuele-f opened #1155 "IPv4 vs IPv6 traffic breakdown for mac addresses"
It is requested to implement IPv4 vs IPv6 traffic comparison per-host as #1151 is implemented per-interface.

[2017-04-13 09:44] emanuele-f commented on #1151
Implemented with eca26495d101f1a6f6a63bb7b850d912161518eb. You can find this information into the "Packets" tab under the interface view.

@mahescho please note that "Traffic profiles are applied to flows. Each flow can have up to one profile, thus in case of multiple profile matches, only the first one is selected.". If this is not the case, please open a separate issue describing your traffic pr

[2017-04-13 09:44] #1151 closed, assigned to emanuele-f

[2017-04-13 12:36] simonemainardi commented on #1144
credits go to @bperian ,  thank you!

[2017-04-13 12:36] #1144 closed, assigned to simonemainardi

[2017-04-13 12:44] simonemainardi commented on #1154
Can you please try to reformulate you question? Also add examples if those can be useful.

Also note that you may want to use nProbe as it already has mechanisms to calculate the throughput. You just have to use these fields:

[code]

[2017-04-13 13:25] simonemainardi commented on #1138
* The unit of measurement is missing (looks like it wraps):

![image](https://cloud.githubusercontent.com/assets/3397663/25006247/7c08881a-205c-11e7-8cd6-5df2b5b7bb59.png)

* The current quota used text is poorly aligned (it should not wrap)

![image](https://cloud.githubusercontent.com/assets/3397663/25006293/acb7a572-205c-11e7-9768-f3737dafdd81.png)

* When selecting a protocol/category from the

[2017-04-13 14:02] ESTIA-InstituteOfTechnology opened #1157 "Password with & -"
Hi,
I’m blocked me the admin user with a password content & and -. It's impossible to reconnect me to the administration page

But the ntopng is installed on virtual machine, i rollback to the old snapshot whith the same systemdid and  I reactived with the same systemID but it not works.

Can you help me to re-activate my licence ?

Thanks
Benoît

[2017-04-13 14:52] tieungao88 commented on #1154
Hi,
I will describe for you about my topo:
I have Switch. I config one span port.
Span port plug in NTOPNG.
NTOPNG out information to Elasticsearch.
Kibana read information of Elasticsearch.

In Kibana, I have info: IN_Bytes and Out_Bytes for each flow.  I want to caculate bandwidth form above values.
![22976cd46fa14da2bc10af9bb7ee39ce](https://cloud.githubusercontent.com/assets/6977423/25010226/a

[2017-04-13 15:20] emanuele-f commented on #1157
What ntopng version are you running? Do you use the `--online-license-check` ntopng option?

[2017-04-13 16:07] simonemainardi commented on #1133
fixed with the latest rework

[2017-04-13 16:07] #1133 closed, assigned to simonemainardi

[2017-04-13 17:09] ESTIA-InstituteOfTechnology commented on #1157
the version is 2.5.170413.
with the commande ntopng --online-license-check, its works and my license is active.
I was accustomed to use "service notpng start"

for the password with the character "&" , have you an idea why the password don't work ?
It works with @ for example.

Thanks
Benoît

[2017-04-13 18:06] mahescho opened #1158 "Traffic Profiles do not work as expected"
I've tried to use "Traffic Profiles" to see the amount of IPv4 and IPv6 traffic. As I have two routers (one with and one without NAT) I've two different sets of IPs in my two traffic profiles:

IPv4: net 1.2.3.4/29 or host 5.6.7.8
IPv6: net A:B:C::/48 or net D:E:F:A::/56

The profiles should work on both interfaces. Router A routes the IPv4 sub net 1.2.3.4/29 and the IPv6 prefix A:B:C::/48. router

[2017-04-13 18:08] emanuele-f commented on #1138
With commit 2657357ab82f54a3fbf6f07552aef3e0ae4ddd55 I've done the following improvements:
- quota text has been added above the bar since unwrapping the text inside is not possible
- bars are filled with statistics even if no quota is set for the given protocol (your 3rd point). This only applies to protocols which have been seen by ntopng (those who have an entry into the ndpistats, see 3rd vs 4

[2017-04-13 18:10] timothyherrera commented on #945
Why was this issue closed?  It was not resolved.

[2017-04-13 19:43] jevonearth commented on #1144
I hit one more json parse error. See log below.

If you search the block of text for `SERVER_NW_LATEN` I think you will narrow down the source. It looks like one block of text is getting overwritten with another.

[code]

[2017-04-13 19:45] bperian commented on #1144
@jevonearth , I see it. Thanks for reporting it. I have a pretty clear idea of why is that happening.  I'll get back as soon as possible with a patch.

[2017-04-14 00:22] juesor commented on #1152
I am running two CentOS 7 servers.  Both are being started as a systemctl "service" start

ntopng]# cat /etc/ntopng/ntopng.conf
-G=/var/run/ntopng.pid\
--interface="tcp://1##.1##.2##.1##:5556"
--zmq-encrypt-pwd xxxxxxxxxxxxxxxx

ntopng]# systemctl status ntopng
● ntopng.service - Start/stop ntopng program
   Loaded: loaded (/etc/systemd/system/ntopng.service; enabled; vendor preset: disabled)
   A

[2017-04-14 07:31] PSmolders opened #1159 "Lots of empty horizontal space in Name field"
Using ntopng 2.5.170414 on Ubuntu Server 16.04.2

The name field of the hosts page show a lot of empty horizontal space, while the server name is cut off. This seems like a waste of space. If I'm using a big monitor, I would expect tables and their contents to scale according to the available space and not cut the contents while there is enough space left. Is this intended or a bug? Using a 1920x1

[2017-04-14 08:23] mahescho commented on #1151
I use ZMQ and due to this the "Packets" tab is not visible in interface view.

/usr/share/ntopng/scripts/lua/if_stats.lua - line 208:
`if(ifstats.type ~= "zmq") then`
I've commented this out to get the tab. As there i data and it looks reasonable i consider this to be a bug.

Live stats is one thing but it's more important to have "IP Version Distribution" in reports.

[2017-04-14 08:28] bperian opened #1160 "[Logstash ext] Wrong data sometimes sent to logstash"
Reported by @jevonearth

If you search the block of text for SERVER_NW_LATEN I think you will narrow down the source. It looks like one block of text is getting overwritten with another.

Possibly issue with how data block is sent .

[code]

[2017-04-14 08:29] bperian commented on #1144
@jevonearth   I opened a new issue for this problem https://github.com/ntop/ntopng/issues/1160

[2017-04-14 08:51] bperian commented on #1160
@jevonearth Issue should be fixed in https://github.com/ntop/ntopng/pull/1161

[2017-04-14 09:11] simonemainardi opened #1162 "Lint data validation error - Community - Top Ports"
![image](https://cloud.githubusercontent.com/assets/3397663/25039279/15ebac04-2103-11e7-80c4-094cee6589f1.png)

[2017-04-14 09:50] simonemainardi commented on #945
@timothyherrera , the issue is not reproducible. Raspberry works properly, flows keep coming and are always updated. Just re-tested thoroughly with the following configurations
:

[code]

do you have a valid nprobe license? Keep in mind that nprobe, in demo mode, only sends the first 25k flows. So this can explain why you are not seeing new flows coming.

[2017-04-14 10:17] #1130 closed, assigned to emanuele-f

[2017-04-14 10:18] simonemainardi commented on #1123
@thegeodave do you have any feedback?

[2017-04-14 10:42] simonemainardi commented on #1152
@juesor please, update nprobe and make sure to have a version >= nprobe.x86_64 7.5.170413. The bug you reported has been fixed a couple of days ago.

[2017-04-14 11:04] simonemainardi commented on #1138
how can you fill the bars,  I quote,  "with statistics even if no quota is set for the given protocol"?

To progressively fill a bar you need a maximum. What is the 100% of an unset quota?

[2017-04-14 11:18] simonemainardi commented on #1154
IN_BYTES is server 2 client, OUT_BYTES is client 2 server.

Divide IN_BYTES+OUT_BYTES by the flow duration (LAST_SWITCHED - FIRST_SWITCHED). In this way you will find the average volume of data that has travelled on your flow during every second:

[code]

[2017-04-14 11:18] #1154 closed, assigned to simonemainardi

[2017-04-14 11:54] emanuele-f commented on #1138
I mean, the statistics are shown above the bar, not inside the bar. When no quota is set, "unlimited" is shown next to the current traffic (see time quotas in the screenshot above)

[2017-04-14 12:03] emanuele-f commented on #1151
Please open a separate feature request. Note that we are currently working on releasing the 2.6 version of ntopng and new feature requests will difficulty fit into it.

[2017-04-14 13:15] timothyherrera commented on #945
The issue is experienced even after restarting nProbe, so it is not a
licensing limitation.  There is no reason for me to buy nProbe if I can't
get ntopng working to report on the data collected.

There have been other issues reported with how Cisco ASA reports netflow
traffic.  Could that be the cause of the issue here?  I still don't
understand why the setup works when nProbe is running in probe

[2017-04-14 14:20] simonemainardi commented on #945
the pcap enclosed only has records but is missing templates. Please, attach a new pcap and make sure it contains templates as well otherwise we can't use that.

[2017-04-14 14:49] emanuele-f commented on #1162
Fixed in 12e6db4efb62e0f854ac1a44aaff0a8fc76fc226

[2017-04-14 14:49] #1162 closed, assigned to emanuele-f

[2017-04-14 16:23] emanuele-f commented on #1157
Fixed with a10d6c4f7d068624945e0c0040b7338b8d6367b0. Thank you for reporting.

[2017-04-14 16:23] #1157 closed, assigned to emanuele-f

[2017-04-14 16:30] timothyherrera commented on #945
New pcap attached, and appears to contain at least two templates.  Please
let me know if I can provide anything else.

[2017-04-14 16:33] timothyherrera commented on #945
Hmm... email attachments are not included in the post? Attaching again.
[netflow.pcap.zip](https://github.com/ntop/ntopng/files/922487/netflow.pcap.zip)

[2017-04-14 17:06] emanuele-f commented on #1146
This should be solved by commit a530ee282bc4625faec2c0aca6c9b2be5fe45353. We will reopen this isssue if necessary.

[2017-04-14 17:06] #1146 closed, assigned to lucaderi

[2017-04-14 17:28] emanuele-f commented on #1158
How does ntopng receive the flows from router A? If you go to the Flows menu, and apply an IPv4 filter through the IpVersion dropdown, can you see any IPv4 flows?

[2017-04-15 00:51] tieungao88 commented on #1154
Hi @simonemainardi ,
If I use formal:
`average volume data = (IN_BYTES+OUT_BYTES) / (LAST_SWITCHED - FIRST_SWITCHED)`
=> Result = N/A
![image](https://cloud.githubusercontent.com/assets/6977423/25060853/b75017dc-21d1-11e7-8047-fe8392a8fa62.png)

**## And ! LAST_SWITCHED, FIRST_SWITCHED , What does it mean?**

Thanks :).

[2017-04-15 09:08] simonemainardi commented on #1154
If fisrt and last switched are equal then you divide by zero and the result is nan. Add a +1 to the denominator

[2017-04-15 22:44] mahescho commented on #1158
The flows are revived by nprobe via NetFlow. For my config see: https://wiki.mhcsoftware.de/ntopng

When i switch IP-Version in Flows view it works as expected.

[2017-04-15 22:46] mahescho commented on #1151
Ok, but: bug, no FR :-)

[2017-04-15 22:47] mahescho opened #1163 "Bug: Pacekts tab not shown in Interfaces with ZMQ"
I use ZMQ and due to this the "Packets" tab is not visible in interface view.

/usr/share/ntopng/scripts/lua/if_stats.lua - line 208:
if(ifstats.type ~= "zmq") then
I've commented this out to get the tab. As there i data and it looks reasonable i consider this to be a bug.

Live stats is one thing but it's more important to have "IP Version Distribution" in reports.

[2017-04-15 22:59] xflowXen commented on #706
I am also able to reproduce this issue using v.2.4.170215 on CentOS 7.3.1611

[2017-04-16 08:42] simonemainardi commented on #706
@xyGZen issue is fixed in the dev packages and will be included in the next forthcoming release

[2017-04-17 03:19] tieungao88 commented on #1154
Thansk.

[2017-04-17 17:46] surj08 opened #1164 "Ntopng Dropping >50% Packets after update"
I seem to be having an issue with ntopng. Pfcount doesn't seem have this problem (0% drop). This is a completely clean reinstall (now) except ntop. I reinstalled because I had some package issues after update I thought might be the cause. I cleaned those up but, still had issues. Reinstalled and same issue. I did not have this issue prior to updates run last Friday. Last updates to this box before

[2017-04-18 08:40] emanuele-f commented on #1164
Hi, can you try to remove the `--enable-flow-activity` option? Also see if adding the `--disable-alerts` option makes a difference.

[2017-04-18 08:56] simonemainardi commented on #945
I have used tcpreplay-edit to reproduce your netflow capture in a loop, and I properly get flows both in nProbe and in ntopng (over ZMQ) even in the long run. However, let me run more tests, and I'll be back to you.

[2017-04-18 09:34] simonemainardi commented on #1158
I want to make sure that that is not due to the simultaneous presence of both IPv4 and IPv6.

As you can see here there are already checks to prevent unexpected behaviours: https://github.com/ntop/ntopng/blob/dev/src/ParserInterface.cpp#L567

Does the IPv4 profile get populated properly If you leave only the IPV4_ fields in the nprobe templates?

Do you see IPv4 traffic matching the profile if you

[2017-04-18 15:22] surj08 commented on #1164
Emanuele
Thanks for your help, I am still having the drops though. I simplified config as much as possible with and without -x and -X values above
[code]
CPU seems more stable around 100-200% instead of going higher (which is similar to performance before)

Getting this on service restart I think I have seen this before but, digging through the log I could never find it:
`18/Apr/2017 11:12:01 [Flo

[2017-04-18 16:26] simonemainardi opened #1165 "Invalid Host Labels"
Host labels contain invalid characters. This also yield an empty hosts page:

![image](https://cloud.githubusercontent.com/assets/3397663/25141566/31c750b8-2464-11e7-8000-0dc3b2f23c99.png)

![image](https://cloud.githubusercontent.com/assets/3397663/25141337/910be2e2-2463-11e7-9885-d8ab18233f6d.png)

![image](https://cloud.githubusercontent.com/assets/3397663/25141636/6499c2be-2464-11e7-881f-1073a

[2017-04-19 14:35] lucaderi opened #1166 "Remove rearm from Alerts"
As alerts are now implemented every min/5 min... the concept of rearm is misleading and it needs to be removed from ntopng

[2017-04-19 14:41] lucaderi opened #1167 "Reorganize Host Flows Threshold Alert"
Move "Host Flows Threshold" to the "Every X min/hours" host alert tabs.

[2017-04-19 14:48] lucaderi commented on #1167
Note that we need to keep in each host the total number of flows (never-decreasing), in order to implement this logic

[2017-04-19 15:59] lucaderi opened #1168 "Move SYN/flow alerts from C++ to Lua"
The host alerts
- Host Flow Alert Threshold
- Host SYN Alert Threshold

needs to be implemented as follows:
- the triggering logic is moved to Lua (currently is in C++)
- the Interface (and thus the Host) class implements  a new method that returns to Lua the list of all hosts (including the AlertCounter identification) with some alerts triggered.

[2017-04-20 08:24] emanuele-f commented on #1163
Fixed in 03428e6f033a98b4d172a21a6e49eadcfc616301

[2017-04-20 08:24] #1163 closed, assigned to emanuele-f

[2017-04-20 10:09] emanuele-f commented on #1166
Removed with 0a1a6c0a2b3cfd20d50c0151af74821cb119b2b6

[2017-04-20 10:09] #1166 closed, assigned to emanuele-f

[2017-04-20 13:40] surj08 commented on #1164
Please let me know whatever I can do to help this along. 👍  I've stopped services and redis-cli flushall to make sure nothing had gotten stuck in there after simplifying the config. Then I turned logging back up so I could see the error messages

[2017-04-20 16:45] LXicon opened #1169 "error when changing preferences"
Hi, thanks for all your work on ntopng. I did come across an error when saving my preferences though:

url : http://**redacted**/lua/admin/prefs.lua?tab=alerts

Script "/usr/local/ntopng/scripts/lua/admin/prefs.lua" returned an error:
/usr/local/ntopng/scripts/lua/modules/http_lint.lua:932: [LINT] _POST["toggle_malware_probing"] = "disabled" parameter error: Validation error

here is my config fil

[2017-04-20 17:04] simonemainardi commented on #1164
@surj08  can you provide us remote access to the box?

[2017-04-20 17:18] #1169 closed, assigned to emanuele-f

[2017-04-20 17:18] emanuele-f commented on #1169
Thank you for reporting.

[2017-04-20 20:05] emanuele-f commented on #1138
So, can this be closed?

[2017-04-20 20:05] emanuele-f commented on #1137
Any update?

[2017-04-20 20:47] surj08 commented on #1164
Absolutely! Could you provide me your key to add to authorized keys? Or
would you like a username/password?

On Thu, Apr 20, 2017 at 1:04 PM, simonemainardi <notifications@github.com>
wrote:

--
Jacob McClain
317-539-1337

[2017-04-20 21:48] simonemainardi commented on #1138
yes

[2017-04-20 21:48] #1138 closed, assigned to emanuele-f

[2017-04-20 22:20] jtl999 opened #1170 "Feature request: Historical data, range of data."
It would be great for the viewing of historical data of an interface, being able to specify a date range. For example comparing bandwidth usage of WAN interface with ISP billing that happens on specific dates, etc.

[2017-04-20 22:38] simonemainardi commented on #1123
Possible solutions given. No feedback received in 16 days. Closing.

[2017-04-20 22:38] #1123 closed, assigned to simonemainardi

[2017-04-21 13:33] simonemainardi commented on #1164
sure,

[id_rsa.pub.zip](https://github.com/ntop/ntopng/files/947168/id_rsa.pub.zip)

[2017-04-21 17:19] juesor commented on #1152
Fixed.

[2017-04-21 17:19] #1152 closed, assigned to nobody

[2017-04-22 08:01] emanuele-f commented on #1165
I was not able to reproduce the issue but  with 704cf4844e8d0a2999f95c08b0db4fcc47c40c9d I've implemented some stricter checks on the names which I expect to solve the issue. Please reopen if necessary.

[2017-04-22 08:01] #1165 closed, assigned to emanuele-f

[2017-04-23 11:05] simonemainardi opened #1171 "Host search field not working with VLANS"
The top-right host search field doesn't work with VLANs. The search is performed properly, hosts are found, but then the selected result doesn't link to the right host_details page.

[2017-04-23 11:07] simonemainardi opened #1172 "Display VLAN RRDs + Preference"
Vlan traffic statistics (bytes and l7 protocols) are now properly saved in 5min.lua. It is requested to handle the chart link in 'vlan_stats.lua' to peroperly visualize VLAN RRDs.

It is also requested to add a preference (off by default) to toggle the creation of VLAN rrds.

[2017-04-23 14:39] Alestor opened #1173 "No results from historical data explorer"
Hi,

when I search flows from mysql I don't get any results back. There is no error message nor a message about "n ipvX flows found".  After hitting the seach flows button the page just looks the same when opening the historical data explorer.

MySQL is up and running. Flow export works, too.

23/Apr/2017 14:17:48 [NetworkInterface.cpp:1999] Started packet polling on interface eth1 [id: 2]...
23/A

[2017-04-23 15:23] emanuele-f commented on #1173
Fixed with commit eb167e8deeae3934e7a79f094b4419957b5e2ebd. Thank you for reporting.

[2017-04-23 15:23] #1173 closed, assigned to emanuele-f

[2017-04-23 20:59] ValentinaViscarelli opened #1174 "Bridged traffic counters"
When you use ntopng in bridge mode with zc interfaces. The bridged traffic counters are wrong.
If you see the attached screenshot you can see that the rate of "zc:enp6s0 -> zc:enp8s0" direction is 1.44 Gbit/s but the links of my board are 1 Gbit/s.
if you add the ingress packets of "zc:enp6s0 -> zc:enp8s0" and "zc:enp6s0 -> zc:enp8s0" direction (12023800+1471838 = 13495638 ) you get more o less th

[2017-04-24 08:51] hgpit opened #1175 "Can't login after enabling LDAP"
Hi all,

We're brand new to ntopng, having purchased our ntopng and nProbe license within the last 24 hours.

Going through the preferences and settings, we've enabled LDAP and tried to configure it as best we can for out Active Directory environment.
Unfortunately, it must not have gone well, as now the login page won't accept any logins at all (not even the original admin login!).

Please can so

[2017-04-24 08:55] emanuele-f commented on #1175
Hi, to reset the authentication method run the following command
`redis-cli set ntopng.prefs.auth_type local`

[2017-04-24 09:02] hgpit commented on #1175
Wow, what a speedy response.

Worked perfectly, thank you!

Out of interest, I've been greping files all over the system to try and find where it had stored the settings.
Where exactly are they stored? Are they encrypted, which would explain why I couldn't find them (yet)?

Thank you!

[2017-04-24 09:20] emanuele-f commented on #1171
Fixed with 60bb301c7614a8183420896354ee774c1c43473c

[2017-04-24 09:20] #1171 closed, assigned to emanuele-f

[2017-04-24 09:53] emanuele-f commented on #1175
We use [redis](https://redis.io/), a key-value store, to save configuration. Redis works in memory, but dumps data to `/var/lib/redis/dump.rdb` for persistency.

[2017-04-24 10:26] hgpit opened #1176 "No hosts, no networks found"
Hi all,

Purchased ntopng and nProbe yesterday.
Installed and running on CentOS7.

Was mostly going great, got our core router feeding it NetFlow data. Plenty of host and network data being compiled.

Had a slight issue with LDAP, which I resolved via this forum, and since then been showing my team how great it is... until...
Now, suddenly, we click on Hosts or Networks, and it says 'No Results Fo

[2017-04-24 10:35] hgpit commented on #1176
Ok, I decided to try a complete server reboot, which meant other services on this box went down, so it's obviously not ideal. But... they Hosts and Networks page is now displaying properly.

Any feedback appreciated. Is ntopng a bit quirky when being updated?

Thank you.

[2017-04-24 10:41] simonemainardi commented on #1176
@hgpit thanks for reporting. It could be. As you are starting clean, I would recommend you to use the dev versions of  both nprobe and ntopng. They are stable now and we are preparing their stable release.

[2017-04-24 10:41] #1176 closed, assigned to nobody

[2017-04-24 10:50] simonemainardi commented on #1174
Already identified and wrongly assumed to be solved in https://github.com/ntop/ntopng/issues/1133

Fix is in progress

[2017-04-24 10:55] hgpit commented on #1175
Ok, thank you :)

[2017-04-24 10:55] #1175 closed, assigned to nobody

[2017-04-24 11:08] emanuele-f commented on #1172
Implemented in b83a93c6a58320ebff47ab15381b75b68f482aec

[2017-04-24 11:08] #1172 closed, assigned to emanuele-f

[2017-04-24 11:20] emanuele-f commented on #1176
@hgpit in order to update ntopng to the dev version, please follow these steps:
- stop ntopng and nProbe (e.g. `systemctl stop ntopng`)
- flush data: `rm -rf /var/tmp/ntopng && redis-cli flushall`
- update both ntopng and nProbe to the nightly builds using the instructions at http://packages.ntop.org/
- start ntopng and nProbe (e.g. `systemctl start ntopng`)

[2017-04-24 11:32] hgpit opened #1177 "Large networks list"
Hi all,

Originally I had 10.11.0.0/16 in my "/etc/ntopng/ntopng.conf" as my local networks. But I wanted to see all my branch networks separately when I click on "Networks" via the GUI; so I instead replaced it with 10.11.11.0/24, 10.11.45.0/24 etc. Problem is I have about 50 different networks.

Is it okay to literally list dozens and dozens of 24bit networks, or can I point the config line to a

[2017-04-24 11:34] dcsquare opened #1178 "Incorrect traffic"
Below are the traffic graphs from ntopng and Cacti. On the same interface.

Today we had 2 attacks, none was catched by ntopng.

I need to see the target of an attack.

![2017-04-24 14_28_35-welcome to ntopng](https://cloud.githubusercontent.com/assets/718334/25335280/066293ba-28fb-11e7-8aa1-e5452f6c7b0c.png)

![2017-04-24 14_29_28-graphs -_ tree mode -_ no103-hw-6720-stack - traffic - eth-trunk10

[2017-04-24 13:11] simonemainardi opened #1179 "Shaped/dropped flow info page glitch"
When selecting a shaped/dropped flow for inspection (flow_details.lua page) a "No quota" appear initially and then disappear immediately after the first ajax call refreshes the page

![image](https://cloud.githubusercontent.com/assets/3397663/25338583/08665980-2900-11e7-9674-cf42be3dc26c.png)

![image](https://cloud.githubusercontent.com/assets/3397663/25338590/0de42a18-2900-11e7-828b-a5c5f8159c43

[2017-04-24 13:31] emanuele-f commented on #1179
Fixed with 52cdd7382aa4f02d065f9c0a0403ecf619b34089

[2017-04-24 13:31] #1179 closed, assigned to emanuele-f

[2017-04-24 14:21] simonemainardi commented on #1174
fixed along with other counter issues in the pro branch

[2017-04-24 14:21] #1174 closed, assigned to simonemainardi

[2017-04-24 15:09] izzie88 opened #1180 "ntopng cannot pool report for one week and more"
Hello,
I have had ntopng running and being used to gather flows from cento, the issue we face is that when we try to pool report for a week or more, the application just keeps loading for hours and doesn't pool anything.

My version of ntopng is

v.2.5.170331 [Enterprise/Professional Edition]
GIT rev:   dev:ee2bee7a732c9a074ac1337b175d91a5ac8869fb:20170331
Pro rev:   r1021
System Id: CCA23B229105A

[2017-04-24 15:34] hgpit opened #1181 "SNMP button disappears after upgrade (2.4->2.5)"
Hi all,

I just upgraded our licensed ntopng Pro from v2.4 to v2.5 as per a recommendation on this forum.
Restarted the ntopng services and started looking around to see what's new.

Straight away we have noticed that hosts no longer have the 'SNMP' button. Additionally, if I go into the 'expert' preferences, under Admin, I see an 'SNMP' section, but clicking this just gives me a blank preferences

[2017-04-24 15:34] hgpit commented on #1181
I tried rebooting the whole server, but the problem still remains.

[2017-04-24 16:33] emanuele-f commented on #1181
Hi, SNMP support is only available in the Enterprise version of ntopng

[2017-04-24 16:59] hgpit commented on #1181
Has that changed since v2.4 because we were using it for most of the day yesterday?

[2017-04-24 17:12] hgpit commented on #1181
Also, http://www.ntop.org/announce/say-hello-to-ntopng-2-0/ specifically says: "Added SNMP support for visualising MIB-II host information through the ntopng web interface." for the Pro version.

[2017-04-24 18:20] hgpit commented on #1181
I just checked the shop (https://shop.ntop.org/cart.php), and there isn't even an Enterprise edition listed, so now I'm really confused :-|

[2017-04-24 18:39] emanuele-f commented on #1181
Currently the enterprise edition is only available for trial on demand.
Nevertheless, we are discussing if the SNMP information from the host page can be provided in the standard pro version of ntopng, we'll update you on this as soon as possible.

[2017-04-24 19:25] hgpit commented on #1181
Hi emanuele-f,

What you're saying is still inconsistent.

Your own [website](http://www.ntop.org/announce/say-hello-to-ntopng-2-0/) says SNMP is available in **Pro**.
We purchased **Pro** (v2.4) and had SNMP working fine. We loved it.
We upgraded to v2.5 and SNMP seems "broken", but your response is that it's not available in **Pro**?

Well, I just downgraded back to v2.4 and SNMP is back and wor

[2017-04-24 21:04] surj08 commented on #1164
Added you to root at ntop.n2ntech.com. Also opened up port 3000 so you could see the interface (default password) but, the service is off right now. Have your way with it, it's disposable :)

Thank you very much for taking the time to look into this! Hopefully it's not just something stupid I've done. This should be an almost completely clean CentOS 7 install

[2017-04-25 07:15] Thorfinn3 opened #1183 "SegFault after nprobe starting"
Hello,

I have a big problem with my nprobe. The software beginning well but after 30s I already have a segmentation fault error. I don't know how to fix it ...
I have to a problem with my Licence because it is the good license which is in the file nprobe.license.

Build OS:      Raspbian GNU/Linux 8.0 (jessie)
SystemID:      FD3D485B499602D2
GIT rev:       dev:847d2a4bf23a318c1f809e45bc9d12045394

[2017-04-25 09:12] simonemainardi commented on #1183
please use the nProbe issue tracker: https://github.com/ntop/nProbe/issues

[2017-04-25 09:12] #1183 closed, assigned to nobody

[2017-04-26 07:36] emanuele-f commented on #1180
Hi, are you referring to the "Traffic Report" page of ntopng? Do you see any errors into the ntopng log?

[2017-04-26 08:58] hgpit commented on #1181
Hello,

I am still waiting on an official statement from ntopng regarding this.

To re-iterate, we purchased a license for Pro, which currently includes SNMP functionality. This license guarantees 12 months of updates.

You are implying that you are removing features from Pro in the imminent future (v2.5+) and only making them available in Enterprise. Thus, we would no longer be getting what we pa

[2017-04-26 10:03] lucaderi commented on #1088
When will the GUI be updated?

[2017-04-26 10:41] simonemainardi commented on #1134
will possibly be re-open in the future

[2017-04-26 10:41] #1134 closed, assigned to emanuele-f

[2017-04-26 10:54] lucaderi opened #1184 "High CPU Usage on Raspberry in bridge mode"
On a RaspberryPi the CPU usage of an idle ntopng is too high when there is almost not traffic to bridge

ntopng -i bridge:br0,wlan0

%Cpu(s): 12.3 us,  7.9 sy,  0.0 ni, 79.8 id,  0.0 wa,  0.0 hi,  0.1 si,  0.0 st
KiB Mem:    996452 total,   330804 used,   665648 free,    16232 buffers
top - 10:53:54 up 50 min,  2 users,  load average: 1.33, 0.83, 0.51
Tasks: 125 total,   2 running, 123 sleeping,

[2017-04-26 11:03] lucaderi commented on #1137
The report is working now, but the view button is dimmed even though you can click on it
![screen shot 2017-04-26 at 13 02 05](https://cloud.githubusercontent.com/assets/4493366/25431363/99754b26-2a80-11e7-9628-27434b8c4253.png)

[2017-04-26 13:58] ghost opened #1185 "Elasticsearch --dump-flows crashes ntopng . Windows 10"
To reproduce:
- Have a local elasticsearch running at "localhost:9200"
- Current version of ntop: v.2.4.160627
- When executing the following command in order to post flow to elasticsearch, the program crashes:

ntopng.exe /c --community --dump-flows es;ntopng;ntopng-%Y.%m.%d;http://localhost:9200/_bulk; -v

Attached is the ntopng.log [ntopng.txt](https://github.com/ntop/ntopng/files/958605/ntopng

[2017-04-26 15:27] shahrilfitrishuib opened #1186 "Store License Ntopng Failure"
I already try to store license on the ntopng web GUI based on 5B276AB89205**** system ID. Im also do echo on "/etc/ntopng.license" path, which not working. Its turn into "community edition" after I store the license. Pls help me.

[2017-04-26 17:21] lucaderi commented on #1184
Solved

[2017-04-26 17:21] #1184 closed, assigned to simonemainardi

[2017-04-26 17:22] lucaderi commented on #1181
@hgpit This behaviour is a bug and it needs to be corrected. Thanks for reporting it

[2017-04-26 17:30] lucaderi opened #1187 "Missing interface IP address from SNMP"
Add interface IP address in SNMP tables. Hint see netifTable

[2017-04-26 18:35] emanuele-f commented on #1186
Hi, try to add the --online-license-check

[2017-04-26 19:00] joelphilippage opened #1188 "Can't remove traffic profile"
I am running ntopng professional for small businesses on Windows Server 2016 with the latest build.

I added a traffic profile named "Joel's Computer". It seemed to be working fine, but I started experiencing issues on startup where ntopng would get stuck after connecting MySQL for the dummy interface. When it does start, I see these 4 lines repeated continuously in the log:
[code]
When viewing th

[2017-04-26 20:35] surj08 commented on #1164
Updated to the current version again and same issues. Just FYI

[2017-04-26 20:38] emanuele-f commented on #1181
Fixed. @hgpit update to the tomorrow version to get the button back.

[2017-04-26 20:38] #1181 closed, assigned to simonemainardi, emanuele-f

[2017-04-26 20:45] emanuele-f commented on #1188
On linux, to reset the profiles I would run `redis-cli del ntopng.prefs.profiles`. Can you execute that command on your Windows Server?

Update: by the way, what browser are you using? The apostrophe in the input field should be blocked by your browser..

[2017-04-26 20:59] joelphilippage commented on #1188
That command successfully removed all the profiles. I am still getting the SQL error though. I will see if a reboot affects it when I get the chance. Thanks!

[2017-04-26 21:09] emanuele-f commented on #1188
If you create a new dummy profile within the gui (and save configuration) you should be able to reload the configuration wiithout the reboot. Nevertheless, I've patched the code as a server-side check on the profile name was missing, so thank you for reporting.

[2017-04-26 21:12] emanuele-f commented on #1168
Implemented as part of the pull #1182

[2017-04-26 21:12] #1168 closed, assigned to simonemainardi, emanuele-f

[2017-04-26 21:13] emanuele-f commented on #1167
Implemented as part of the pull request #1182

[2017-04-26 21:13] #1167 closed, assigned to simonemainardi, emanuele-f

[2017-04-26 21:26] emanuele-f commented on #1137
The view button is not actually dimmed, but it has a light color so it seems dimmed. For contrast, the dimmed version is shown in the screenshot below.

![screenshot at 2017-04-26 23-22-56](https://cloud.githubusercontent.com/assets/5488003/25457685/636150dc-2ad7-11e7-9dd6-0ff7bcb494b1.png)

Do you suggest to use a darker color for the view button?

[2017-04-27 02:38] nam412 opened #1189 "'Info' field in MySQL are empty"
I have 1 Ntopng and 4 nprobes.
On the ntopng web I can see many flows with info field but in the ntopng database, the 'info' field are empty for 4 nprobes.

In Nprobe PC (interface ID is 19), I use this command :
$ sudo nprobe --zmq tcp://*:5556 -T "%IPV4_SRC_ADDR %IPV4_DST_ADDR %IPV4_NEXT_HOP %INPUT_SNMP %OUTPUT_SNMP %IN_PKTS %IN_BYTES %FIRST_SWITCHED %LAST_SWITCHED %L4_SRC_PORT %L4_DST_PORT %TCP

[2017-04-27 08:22] emanuele-f commented on #1189
Please specify the ntopng and nProbe version used

[2017-04-27 08:22] #1188 closed, assigned to nobody

[2017-04-27 08:23] emanuele-f commented on #1158
@mahescho any update on this?

[2017-04-27 16:29] simonemainardi commented on #1177
Hi, there's no limit hard on the size of the string so you can specify a list of 50+ networks. Just put them in a sigle line, e.g., -m="network1,network2,..,network52".

The maximum number of allowed local networks is 255.

[2017-04-27 16:29] #1177 closed, assigned to nobody

[2017-04-27 17:27] lucaderi opened #1190 "Invalid label in alerts explorer"
<img width="208" alt="screen shot 2017-04-27 at 19 27 15" src="https://cloud.githubusercontent.com/assets/4493366/25495973/8e29553c-2b7f-11e7-836b-5ba5c98a9944.png">

[2017-04-27 17:29] lucaderi opened #1191 "Missing alert explorer icon in engaged alerts (but present in flow alerts)"
<img width="319" alt="screen shot 2017-04-27 at 19 28 11" src="https://cloud.githubusercontent.com/assets/4493366/25496006/b0e2813e-2b7f-11e7-9757-3a55a44b6513.png">
<img width="234" alt="screen shot 2017-04-27 at 19 28 03" src="https://cloud.githubusercontent.com/assets/4493366/25496007/b0e4d5a6-2b7f-11e7-953f-14cfc1ce8f60.png">

[2017-04-27 17:31] lucaderi opened #1192 "Host alert counter out of sync"
<img width="697" alt="screen shot 2017-04-27 at 19 29 58" src="https://cloud.githubusercontent.com/assets/4493366/25496084/f584b596-2b7f-11e7-8b6f-3cecf20ebd11.png">
<img width="508" alt="screen shot 2017-04-27 at 19 29 48" src="https://cloud.githubusercontent.com/assets/4493366/25496083/f58008ca-2b7f-11e7-9654-6e26391772c5.png">

The host seems to have two alerts triggered, in the engaged alerts

[2017-04-27 17:35] lucaderi opened #1193 "Alert explorer counter out of sync"
<img width="467" alt="screen shot 2017-04-27 at 19 33 51" src="https://cloud.githubusercontent.com/assets/4493366/25496255/7de88426-2b80-11e7-9e4e-afd5eef43073.png">
<img width="341" alt="screen shot 2017-04-27 at 19 33 20" src="https://cloud.githubusercontent.com/assets/4493366/25496254/7de16272-2b80-11e7-8874-8c56a43f037a.png">
For a specific host the number of flow alerts in the host view (http

[2017-04-27 17:40] lucaderi opened #1194 "Invalid alert reported for blacklist host"
1. Suppose an host X has been contacted by a blacklisted host Y. The alert explorer (see below)
<img width="360" alt="screen shot 2017-04-27 at 19 37 25" src="https://cloud.githubusercontent.com/assets/4493366/25496366/f7c63c70-2b80-11e7-99e6-793859b89faa.png">
X has been reported as both origin and target (wrong it is just target but the origin should be Y)

2. The alert below is meaningless: it

[2017-04-27 17:43] lucaderi opened #1195 "Invalid SYN flood alert reported"
The alert below is wrong as
1. the alert threshold was 10 and not 1
2. the alert is still open even though it should have been closed by now (invalid threshold?)
<img width="457" alt="screen shot 2017-04-27 at 19 42 28" src="https://cloud.githubusercontent.com/assets/4493366/25496557/aa1bf9be-2b81-11e7-9065-306765f62b82.png">

<img width="495" alt="screen shot 2017-04-27 at 19 40 16" src="https://

[2017-04-27 18:41] antoniovalenzuela opened #1196 "Process dies with SSL"
S.O.: Debian Raspbian 8 Jessie (armv71)

/usr/local/bin/
libssl.so -> /usr/lib/arm-linux-gnueabihf/libssl.so

config
-G=/var/run/ntopng.pid
-w=8090
-W=8091
-i=eth0

TCP 8091 it's available

Without SSL only (TCP 8090) works for a few minutes and then dies. (interface eth0)

[Log.docx](https://github.com/ntop/ntopng/files/962566/Log.docx)

Licensed product

[2017-04-28 00:44] nam412 commented on #1189
My ntopng version is Pro Small Business Edition 2.4..170109
My nprobe version is nprobe Pro 7.4.170109

[2017-04-28 07:17] simonemainardi commented on #1191
Alert explorer is only for flow alerts presently this explains why the icon is only present in flow alerts.

[2017-04-28 07:55] swissiws opened #1198 "IOPS/Hardware requirement for 240G MySQL history database"
Hi
i have a data growth of 120G per month with required history to keep over 2 month.

Are two SSD drives mirrored enough for queries over such data volume? Would I be better off with SAS 15k spindle array of 12?

many thanks

[2017-04-28 08:50] simonemainardi commented on #1189
INFO column contains the server name, that, is the certificate CN name if the flow is SSL, or the plain server name for HTTP.

The information you are looking for is located in column JSON, which contains compressed data automatically decompressed by ntopng during visualization. If you want to uncompress it manually, do a `select uncompress(JSON) from flowsv4`

[2017-04-28 08:50] #1189 closed, assigned to nobody

[2017-04-28 10:06] emanuele-f commented on #1195
Fixed with f76b872a2d6a64cf938f4673402b7776d6384c27

[2017-04-28 10:06] #1195 closed, assigned to emanuele-f

[2017-04-28 10:13] emanuele-f commented on #1194
Can we say that the alert on the host (Malware Detected alert) is redundant and can be removed as the alert on a flow already contains this information? If it isn't, than we need to move the generation of this alert from Host.cpp to Flow.cpp in order to show both the contacting and the contacted host into the alert message.

[2017-04-28 10:25] nguyenvanthien123 opened #1199 "How to change Last_switched to date, time"
Im using ntopng and in my database, how can I change First_switched, Last_switched fields to date, time ?
Thanks alot.

[2017-04-28 10:27] simonemainardi commented on #1199
see https://dev.mysql.com/doc/refman/5.5/en/date-and-time-functions.html#function_from-unixtime

[2017-04-28 10:27] #1199 closed, assigned to nobody

[2017-04-28 10:29] emanuele-f commented on #1193
In the flow_alerts_explorer, the time window you are using is one day (since num_minutes=1440) so you are only seeing one day flow alerts for the host. For contrast, in the host page there are all the host flow alerts ever seen. Can this be the reason of the issue?

[2017-04-28 10:40] emanuele-f commented on #1190
Fixed

[2017-04-28 10:40] #1190 closed, assigned to emanuele-f

[2017-04-28 10:53] nguyenvanthien123 opened #1200 "How to change First_Switched, Last_Switched fields to date-time?"
Hi,
I used ntopng, How can i change First_Switched, Last_Switched fields to date-time?
Thanks alot!

[2017-04-28 10:54] simonemainardi commented on #1200
duplicate of https://github.com/ntop/ntopng/issues/1199

[2017-04-28 10:54] #1200 closed, assigned to nobody

[2017-04-28 16:51] hgpit opened #1201 "Log Trace error after v2.5 update"
Hi,

Have Pro licence.

Platform: x86_64-unknown-linux-gnu [x86_64][CentOS Linux release 7.3.1611 (Core) ] - 64 bit

Updated from v2.4 to v2.5.170428 and now seeing the following appearing in "Last Log Trace" under notopng Runtime Status area:

`28/Apr/2017 17:47:22 [Lua.cpp:6511] WARNING: Script failure [/usr/share/ntopng/scripts/lua/login.lua][/usr/share/ntopng/scripts/lua/modules/http_lint.lua:

[2017-04-28 18:41] rubencitroxs opened #1202 "View pages visited by a host"
How can I view pages visited by a host?
example
![image](https://cloud.githubusercontent.com/assets/27857718/25542459/1a5fbd08-2c29-11e7-84f9-0be11e3fefd0.png)

My ntop does not show me that information.

[2017-04-29 08:21] ghost opened #1205 "YUM error while trying to update "pfing" on centos 7.3.1611"
Hello.

Running "yum update" on centos 7 and getting the error below. Just happened like yesterday. Any suggestions or what am I doing wrong? Thank you.

Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
 * base: mirror.keystealth.org
 * epel: mirror.hmc.edu
 * extras: repos-tx.psychz.net
 * updates: mirror.scalabledns.com
Resolving Dependencies
--> Running transaction check

[2017-04-29 10:34] emanuele-f commented on #1202
What ntopng version are you using? Are capturing from a local interface or from a remote probe?

[2017-04-29 10:35] emanuele-f commented on #1205
Please open an issue on https://github.com/ntop/PF_RING

[2017-04-29 10:35] #1205 closed, assigned to nobody

[2017-04-29 11:22] lucaderi commented on #1202
If you enable DB/ELK dump (-F) you can see historical activities

[2017-04-29 13:03] lucaderi commented on #1193
Supposing this is the case, they are not in sync and the info you need to report must be consistent. What you are saying is mostly related to internals and it is not relevant to the user who sees a discrepancy. This issue ought to be fixed.

[2017-04-29 13:05] lucaderi commented on #1194
No. All I am asking you is to specify in the alert message what are the peers and their role. i need to know if host X has contacted a blacklisted host or the other way round.

[2017-04-29 16:01] simonemainardi commented on #1201
maybe you have a browser tab that is open but unauthenticated so it is continuously redirected to login.lua

can you please check this?

[2017-04-29 19:35] trickius opened #1206 "low performance in bridge mode"
Hi,
i'm using ntopng Pro [Small Business Edition]/Embedded v.2.5.170429 on a raspberry pi 3 with the following parameters
ntopng --pid "/var/run/ntopng.pid" --dump-flows "mysql;192.168.1.97;ntopng;ntopng;ntopng;ntopng" --http-prefix "/ntopng" --data-dir "/hdd/ntopng" --interface "bridge:eth1,eth2" --online-license-check "" --local-networks "192.168.1.0/24" --dns-mode "1"

i am experiencing low per

[2017-04-30 09:00] simonemainardi commented on #1206
@trickius we have successful examples of users doing 70-80Mbps in bridge mode on rpi2/3. We should try to understand where is the bottleneck.

First of all, I would try to bridge eth1 and eth2 using the linux bridge (see `brctl`) to see the performances achieved.

Then, I would try to remove ntopng command line options, one after the other, to see if there is a bottleneck there (for example in MyS

[2017-04-30 09:11] simonemainardi commented on #289
implemented in the host pools

[2017-04-30 09:11] #289 closed

[2017-04-30 09:13] simonemainardi commented on #373
implemented host pool quotas to have daily bytes and time caps for each host pool L7 application protocol

[2017-04-30 09:13] #373 closed, assigned to nobody

[2017-04-30 09:20] simonemainardi commented on #394
historical traffic profiles charts are now implemented. Please update

[2017-04-30 09:20] #394 closed, assigned to nobody

[2017-04-30 09:25] simonemainardi commented on #422
latest report (professional version) implement top-talkers for each vlan seen. please, update and give it a try.

[2017-04-30 09:25] #422 closed, assigned to simonemainardi, emanuele-f

[2017-04-30 09:26] simonemainardi commented on #492
included in: https://github.com/ntop/ntopng/issues/1087

[2017-04-30 09:26] #492 closed, assigned to nobody

[2017-04-30 09:30] simonemainardi commented on #399
you can get properly formatted warning JSON data by fetching endpoints

 "http://host:3000/lua/get_alerts_data.lua?status=engaged&currentPage=1&perPage=10&sortColumn=column_date&sortOrder=desc"
"http://host:3000/lua/get_alerts_data.lua?status=engaged&currentPage=1&perPage=10&sortColumn=column_date&sortOrder=desc"
"http://host:3000/lua/get_alerts_data.lua?status=historical-flows&currentPage=1&perPa

[2017-04-30 09:30] #399 closed, assigned to nobody

[2017-04-30 09:35] simonemainardi commented on #649
throughput is saved to the database (JSON column) provided that ntopng is used in combination with nprobe using the following template fields:

[code]

[2017-04-30 09:35] #649 closed, assigned to nobody

[2017-04-30 09:41] simonemainardi commented on #945
@timothyherrera your issue is not reproducible. If possible please contact us privately and provide remote access to your pi.

[2017-04-30 09:41] #945 closed, assigned to simonemainardi

[2017-04-30 09:45] simonemainardi commented on #1104
closing for inactivity. please reopen if necessary

[2017-04-30 09:45] #1104 closed, assigned to ValentinaViscarelli

[2017-04-30 09:46] simonemainardi commented on #1049
duplicate of #1111

[2017-04-30 09:46] #1049 closed, assigned to simonemainardi, emanuele-f

[2017-04-30 09:47] simonemainardi commented on #1137
issue is solved. @emanuele-f please make  the button darker.

[2017-04-30 09:47] #1137 closed, assigned to emanuele-f

[2017-04-30 09:49] simonemainardi commented on #1158
information requested 12 days ago. no feedback received. closing for inactivity. please reopen in necessary

[2017-04-30 09:49] #1158 closed, assigned to nobody

[2017-04-30 09:50] simonemainardi commented on #1160
issue is fixed as of #1161

[2017-04-30 09:50] #1160 closed, assigned to nobody

[2017-04-30 09:51] simonemainardi commented on #1170
that can be done using the report in the professional version

[2017-04-30 09:51] #1170 closed, assigned to nobody

[2017-04-30 09:57] simonemainardi commented on #1178
@dcsquare can you please try and give extra information? When did the attacks occurred? At the spikes around 10.45 and 14.15? It could be that, during these spikes, network congestion/drops prevented data from flowing from nprobe to ntopng causing the two notches in the charts.

How are the ntopng and nprobe configured?

[2017-04-30 09:58] simonemainardi commented on #1180
any news?

[2017-04-30 09:59] simonemainardi commented on #1186
@shahrilfitrishuib did you manage to get the license working with @emanuele-f 's suggestion?

[2017-04-30 10:16] simonemainardi commented on #1198
@570 bytes per flow in MySQL we can estimate an approximate of 0.5B flows over 2 months. Depending on the queries you will have to perform, performance can drop significantly. Will you query the database using the professional version historical data explorer?

[2017-04-30 16:27] emanuele-f commented on #1194
Implemented with commit 284dfcd4cdea6bdc103d7a331f14d0d9db49e0ea

[2017-04-30 16:27] #1194 closed, assigned to simonemainardi, emanuele-f

[2017-04-30 16:41] dcsquare commented on #1178
@simonemainardi Thank you for your response.

I don't know what the issue was and I gave up on ntopng and switched back to sflowtrend. It shows me the attacks, no problem.

From my experience, ntopng is nowhere near ready for production. I could not use the stable version as apparently that cannot handle Huawei switches and the development version is alpha quality at best.

Perhaps I'm not the rig

[2017-04-30 17:01] emanuele-f commented on #1050
Fixed

[2017-04-30 17:01] #1050 closed, assigned to simonemainardi, emanuele-f

[2017-04-30 17:04] emanuele-f commented on #1193
@simonemainardi the flow alert explorer only shows "flows" alerts, so why does the past alerts contain a link to the explorer?

#1191

[2017-04-30 19:59] trickius commented on #1206
Hi I'm using 2+1 but it seems these 2 extra gigabit usb adapters that i am using are not working as expected. Thanks a lot

[2017-05-01 07:52] simonemainardi commented on #1193
"past alerts" should not have a link to the flows alerts explorer

[2017-05-01 08:04] simonemainardi commented on #1178
@dcsquare Thanks for your feedback.

Can you please comment a little bit more on the attacks? Although there's much room to improve ntopng, I am not sure we should blame it in this case. Specifically, are the two notches shown in the charts due to the sFlow exporters failing to properly export sFlow under attack?

Any extra information you would like to share will be appreciated.

[2017-05-01 10:30] simonemainardi commented on #1196
rpi package was not build with ssl support. @lucaderi can you please trigger a rebuild? I have installed missing dependency `libssl-dev`. Thank you.

With the new package, you won't need to symlink libssl.so

[2017-05-01 13:08] lucaderi opened #1207 "Ease Host Pool Assignment"
In the host detail, it would be nice to add a mechanism to add a host to a pool. Clicking on the pool URL shows hosts belonging to the pool but the process of adding it to the pool is manual. A + or anything similar that can do the job would be great to have

![screen shot 2017-05-01 at 15 06 21](https://cloud.githubusercontent.com/assets/4493366/25580265/c3f7dffa-2e7f-11e7-8df3-d8c1d0b7a2e2.png)

[2017-05-01 13:18] emanuele-f commented on #1207
The host pool can be configured from the "cog" icon into the host detail page

[2017-05-01 17:02] hamhock opened #1208 "add "FIX" protocol to list of Application Protocols"
would be a nice enhancement to add the this protocol to list of known Application Protocols:

https://github.com/blttll/fixc
https://en.wikipedia.org/wiki/Financial_Information_eXchange

[2017-05-01 18:10] swissiws commented on #1198
Professional at least, likely Enterprise when available.

Queries are usually based on single host IP address over a time frame of up to 30 days - required results include total MB for specific flows and talkers during time frame specified.

thanks.

[2017-05-01 20:00] dcsquare commented on #1178
No, the only sFlow exporter was working properly.
It's 2 X Huawei S6720 configured in stack. It's at 2% utilization so far. Sflowtrend reported every attack.

But since the update that bricked the ntopng on my box (the last bug I reported) the traffic shown was very different to the one shown by Cacti.

I don't know why and I really don't have the time to be a beta/alpha tester. Sorry.
I consider

[2017-05-02 02:31] antoniovalenzuela commented on #1196
Great!!! SSL operating.

Thank you for the quick response.

You can close the issue.

Atte. Antonio

---- On lun, 01 may 2017 07:30:48 -0300 simonemainardi &lt;notifications@github.com&gt; wrote ----

rpi package was not build with ssl support. @lucaderi can you please trigger a rebuild? I have installed missing dependency libssl-dev. Thank you.

With the new package, you won't need to symlink lib

[2017-05-02 07:49] simonemainardi commented on #1196
thanks!

[2017-05-02 07:49] #1196 closed, assigned to simonemainardi

[2017-05-02 07:51] emanuele-f commented on #1208
Hi, please open a new feature request on ndpi https://github.com/ntop/nDPI . Thank you

[2017-05-02 07:51] #1208 closed, assigned to nobody

[2017-05-02 10:29] zso-cti opened #1209 "Number of rows per page"
I can not create 200 entries (rows) per page.
It always shows max. only 150

[2017-05-02 12:44] rubencitroxs commented on #1202
Emanuele;

The version of ntopng and nprobe is:
-ntopng x86_64 v.2.5.170330
-nProbe v.7.5.170330

I am capturing locally

Getting Started:

Ntopng -i tcp: //127.0.0.1: 1236 -m "192.168.0.0/24,192.168.1.0/24,192.168.4.0/24" -w 3000 --online-license-check

Nprobe -i none -n none -3 2055 --zmq tcp: //127.0.0.1: 1236

[2017-05-02 12:45] emanuele-f commented on #1209
Fixed with c5c74bcd19cb7df765783eb375bea489f115d588. Thank you

[2017-05-02 12:45] #1209 closed, assigned to nobody

[2017-05-02 13:06] rubencitroxs commented on #1202
Luca
Where is it enabled?

[2017-05-02 13:16] simonemainardi commented on #1153
implemented

[2017-05-02 13:16] #1153 closed, assigned to emanuele-f

[2017-05-02 15:48] simonemainardi commented on #1202
@rubencitroxs please, enable MySQL export with option -F and you will have the history

[2017-05-02 15:48] #1202 closed, assigned to nobody

[2017-05-02 15:50] rubencitroxs commented on #1202
NTOP -F or NPROBE -F ?

[2017-05-02 16:48] emanuele-f commented on #1192
Fixed with 8537b2cc0a6d237b910871b6a6d21b4242fa6514

[2017-05-02 16:48] #1192 closed, assigned to emanuele-f

[2017-05-02 18:23] rubencitroxs commented on #1202
Thank you.

Now save the history, and mysql works fine.

However does not show me the URLs visited by the hosts

![image](https://cloud.githubusercontent.com/assets/27857718/25632763/4575605e-2f4b-11e7-8f03-2daa50e4dc55.png)

[2017-05-02 18:23] trickius commented on #1206
Ok managed to solve previous problem compiling modules for the extra ethernet interfaces.

My problem right now is whenever ntopng works in bridge mode -i br:eth0,eth1 i have double the ping roundtrip time, 70+ms in comparison to 30ms when ntopng runs with -i br0 with the same afformentioned ethernet interfaces. Also i have a drop of -10mbits when downloading. Does ndpi and layer7 capabilities has

[2017-05-02 19:31] simonemainardi commented on #1202
@rubencitroxs, as you are using ntopng along with nProbe, you must ensure the following:
- nProbe is monitoring a physical interface;
- nProbe DNS plugin is enabled and the following fields are exported:
[code]

With the setup above, you will find the details in the flow JSON.

If you want the info column to be populated natively by ntopng, then you have to monitor a physical interface with ntopng

[2017-05-02 19:33] simonemainardi commented on #1206
@trickius try with the latest rpi build that contain a fix (ntopng_2.5.170502-2750_armhf.deb)

[2017-05-02 19:40] rubencitroxs commented on #1202
Perfect, thanks.

Is it possible to get a demo of "DNS plugins"?

[2017-05-02 20:15] simonemainardi commented on #1202
Sure, please contact our team using the web form and request for that.

[2017-05-02 20:27] trickius commented on #1206
No unfortunately same thing happens with update.

[2017-05-02 21:31] ghost opened #1210 "ldap setup"
Hello,

I'm really trying to setup ntopng with my AD and so far no luck. I'm attaching my actual setup as a photo. Where am I making a mistake? Thank you.

![2017-05-02_1428](https://cloud.githubusercontent.com/assets/26657923/25640324/001f0f98-2f44-11e7-8ceb-507338104f17.png)

[2017-05-02 22:16] simonemainardi commented on #1206
@trickius , please, send the contents of /etc/network/interfaces, the output of `ifconfig` and `brctl show` when using ntopng with configuration -ibridge:eth0,eth1

by the way, running -ibridge:eth0,eth1 implies that eth0 and eth1 have no ip and you have a third interface that is neither eth0 nor eth1 used to manage the pi. Is this true on your setup?

[2017-05-03 07:40] trickius commented on #1206
Hi, yes that is true. Currently i have wlan0 as a management interface and eth0+eth1 (with external usb ethernet doggle) as bridge. Eth0+1 don't have ip addresses. Raspbian 8 needs those setup steps.

when ntopng monitors br0 (-i br0):

auto lo
iface lo inet loopback
iface eth0 inet manual
iface eth1 inet manual
auto br0
iface br0 inet manual
    bridge_ports      eth0 eth1
allow-hotplug wlan0
ifa

[2017-05-03 07:52] simonemainardi commented on #1206
@trickius I think there is some confusion on how you are using br0. You configured br0 to bridge eth0 and eth1 but actually you don't have to do that. Again, please, refer and follow the guidelines at: https://github.com/ntop/ntopng/blob/dev/doc/README.inline

[2017-05-03 08:56] PSmolders opened #1211 "Parameter validation error"
Using ntopng 2.5.170503 on Ubuntu Server 16.04.2

When I try to change the Local Host Idle Timeout parameter in the Preferences menu and click apply, the page returns HTTP error 500. The log shows me this error:
```[Lua.cpp:6503] WARNING: Script failure [/usr/share/ntopng/scripts/lua/admin/prefs.lua][/usr/share/ntopng/scripts/lua/modules/http_lint.lua:952: [LINT] _POST["opt_resbt_m_options_group_4

[2017-05-03 08:57] rkriekaard opened #1212 "Add IP ranges to Host Pool"
Hi,

It would be nice to define an IP range to add to a Host Pool, for instance the DHCP pool range for client computers. Or is this possible in another way?

[2017-05-03 09:17] trickius commented on #1206
Hi thanks for your reply. So based on your directions i have to compile rf_ring or use load_hugepages.sh without rf_ring module? Is that possible?
Should i purchase rf_ring also in order to have layer7 capability?

Using ntopng bridging in 2+1 mode
----------------------------------
In this setup the management interface is used to access the box, and
two additional interfaces are use for bridging

[2017-05-03 11:11] emanuele-f commented on #971
Fixed with 2c53dda60ba868e998b1d1ffd99701d7253ece63

[2017-05-03 12:36] emanuele-f commented on #1211
What browser are you using? If you open the browser inspector, do you see any javascript errors?

[2017-05-03 12:40] emanuele-f commented on #1212
Hi, this is already possible. You can add a network cidr into the host pools

![screenshot at 2017-05-03 14-38-55](https://cloud.githubusercontent.com/assets/5488003/25660837/55d35d02-300e-11e7-8ffb-651165985faf.png)

[2017-05-03 12:42] rkriekaard commented on #1212
Hi,

No, I don’t mean an entire subnet, but a range. In this particular situation we have a subnet 172.16.40.0/24 and a DHCP scope of 172.16.40.60-230. This scope is the one I would like to add as a host pool.

Met vriendelijke groet/Kind regards,

Rob Kriekaard
KBS Bedrijfsondersteuning
E: rob@kbsnl.com<mailto:rob@kbsnl.com>
T: 085 – 0491 441
M: 06 – 434 48 443

Bezoek onze website op http://www.

[2017-05-03 12:47] emanuele-f commented on #1212
You should configure those ranges via network cidr, please see this link https://en.wikipedia.org/wiki/IPv4_subnetting_reference for more information

[2017-05-03 12:47] #1212 closed, assigned to nobody

[2017-05-03 12:50] simonemainardi commented on #1206
no, pfring is not available on ARM, use -ibridge:eth0,eth1 and manage the pi via your wlan0.

To make sure the delay is not introduced by the usb adapters, use brctl to bridge eth0 and eth1 without any intervention of ntopng and monitor the latency.
Then, delete the bridge created with brctl and run ntopng with -ibridge:eth0,eth1 and see how the latency varies.

[2017-05-03 12:52] rkriekaard commented on #1212
Emanuele,

Given the scope I mentioned, you cannot use cidr to capture that.

I guess your answer is that it is not possible...

Met vriendelijke groet / Kind regards,

Rob Kriekaard
KBS Bedrijfsondersteuning
E: rob@kbsnl.com<mailto:rob@kbsnl.com>
T: 085 - 0491 441
M: 06 434 48 443

Bezoek onze website op http://www.kbsnl.com

Op 3 mei 2017 om 14:48 heeft Emanuele Faranda <notifications@github.com

[2017-05-03 12:55] PSmolders commented on #1211
Internet Explorer 11 just fails with HTTP 500 and the parameter validation error in the log. Firefox 53 does change the value without errors, but gives a warning in the developer console that the input character set of the form is in Windows-1252 and not UTF-8, which might cause input character loss according to the message.

I would attach the message, but it is in Dutch, not English.

[2017-05-03 12:57] simonemainardi commented on #1212
@rkriekaard you can either:
- build a subnet out of your subnet by specifying a longer bitmask, e.g., a /25, /26 /30...
- indicate every single host in the host pool

[2017-05-03 13:01] emanuele-f commented on #1211
That's enough information, I will investigate with the IE browser, thank you

[2017-05-03 13:43] trickius commented on #1206
I am sorry i didn't explain you good enough my tests so far. What you say is what i did. I already did a test with br0 and there is no latency. I then used -i bridge:eth0,eth1 and there is a latency.

[2017-05-03 16:42] s2105 opened #1213 "IPv6 flow data"
Hello,

We are using nprobe (7.4.170426 ) ntopng 2.4.170 for our flow data. We would like to know how to view IPv6 flow data.

Thanks,
Samir

[2017-05-04 08:05] simonemainardi commented on #1198
Restricting using host IP address is good and beneficial for the performances. We are also working on flows data preprocessing to speed up query time even further. Please stay tuned.

I think you would experience better performances with a raid array of 12 15k disks. However, you should also keep into account the cost that would be much much higher, if compared to the cost of two ssds.

[2017-05-04 09:03] simonemainardi commented on #1207
please, add a link to the host details configuration page next to the host pool name

[2017-05-04 09:34] zso-cti commented on #1209
Thanks I have fixed it.

[2017-05-04 11:28] emanuele-f commented on #1211
This should be fixed with 21171bbd73a9ad1c7becd6232d7a2f020d7a1523. Please reopen if necessary.

Note: the new ntopng package will be available tomorrow

[2017-05-04 11:28] #1211 closed, assigned to emanuele-f

[2017-05-04 12:47] juesor opened #1215 "nTopNG - View ports historically"
There are a few reports we can get out of the fluke netflow that I’m not able to figure out how to do in nTopNG.

A common report we run is something like, which ports were used against this IP during this time. Is it possible to have that information, and have it historically as well?

[2017-05-05 03:12] nguyenvanthien123 opened #1216 "How can i get MAC address of computer that i want to oversee?"
Hi,
I am using ntopng system. But it is not MAC address information. Now I want to get MAC address of the computer that it was oversee. How do i do?
(I want to get MAC address field in mysql database. How can i do?)
Thank alot!

[2017-05-05 06:56] nguyenvanthien123 opened #1217 "Where can i get MAC address infomation in ntopng system?"
Hi,
I am using ntopng system, I want to show MAC address. How can i get MAC address information?
Thank alot!

[2017-05-05 08:07] izzie88 commented on #1180
Hi  Simone,
Still the same issue, there are no errors being thrown in the logs, cannot still poll reports on ntopng for a week or more.

[2017-05-05 08:16] emanuele-f commented on #1180
So, your problem is in the "Traffic Report"?

[2017-05-05 08:17] emanuele-f commented on #1217
Duplicate of #1216. Please do not span issues!

[2017-05-05 08:17] #1217 closed, assigned to nobody

[2017-05-05 08:21] izzie88 commented on #1180
Hello Emanuele,
Yes, the issue is in the reporting. I have tried again today to poll report for a  month and for 2 hours it been loading, nothing has been polled.

[2017-05-05 08:24] emanuele-f commented on #1180
Can you update the software to the latest version and see if you still experience the problem?

[2017-05-05 08:41] simonemainardi commented on #1216
use nprobe in combination with ntopng, make sure to specify an nprobe template that contains source and destination macs, and you will have those exported in database column JSON.

Template fields you have to add are:
[ 56] %IN_SRC_MAC                 %sourceMacAddress             Source MAC Address
[ 80] %OUT_DST_MAC                %destinationMacAddress        Destination MAC Address

So an exam

[2017-05-05 08:41] #1216 closed, assigned to simonemainardi

[2017-05-05 08:58] emanuele-f commented on #1215
Hi, if you open an host page and go to the "ports" tab, you will see the ports he has contacted as a client and the ports he has been contacted as a server.

The historical representation of this is not currently available. Please open a separate feature request for this.

![screenshot at 2017-05-05 10-57-52](https://cloud.githubusercontent.com/assets/5488003/25739336/cf6fa976-3181-11e7-9446-38e83

[2017-05-05 08:58] #1215 closed, assigned to nobody

[2017-05-05 09:14] emanuele-f commented on #1213
Hi Samir, versions 2.4 version of ntopng and 7.4 of nProbe will be replaced soon by the next stable releases, so I suggest you to migrate to the latest version of these software to get full IPv6 support.

The following fields can be added to the nProbe template to make it send those data to ntopng.

[code]

[2017-05-05 09:15] emanuele-f commented on #1201
@hgpit any update?

[2017-05-05 09:16] emanuele-f commented on #1186
Closing for inactivity. Please reopen if necessary.

[2017-05-05 09:16] #1186 closed, assigned to nobody

[2017-05-05 09:25] emanuele-f commented on #1178
Closing the issue. Thank you for the information provided.

[2017-05-05 09:25] #1178 closed, assigned to nobody

[2017-05-05 09:31] emanuele-f commented on #513
The export of redis configuration is related to the management of ntopng itself, which is something out of the scope of ntopng itself.
This kind of feature should be implemented into a product like nBox, since it requires both ntopng and redis to be stopped to properly read and dump the configuration to a separate file.

[2017-05-05 09:31] #513 closed, assigned to emanuele-f

[2017-05-05 09:36] emanuele-f commented on #573
This is how the top hosts page has been conceived, we should plan a complete rework of the page and only then provide historical data.

[2017-05-05 09:36] #573 closed, assigned to emanuele-f

[2017-05-05 09:42] emanuele-f commented on #526
With the current implementation, ntopng (pro version) is able to generate top senders and top receivers graphs for a given network interface.

![screenshot at 2017-05-05 11-37-59](https://cloud.githubusercontent.com/assets/5488003/25740672/c6d2eb7e-3187-11e7-931b-8500d58cc0b0.png)

[2017-05-05 09:42] #526 closed, assigned to simonemainardi, emanuele-f

[2017-05-05 09:55] emanuele-f opened #1218 "Occasional segmentation fault in BatchedMySQLDB"
[code]

[2017-05-05 13:34] hgpit opened #1219 "nProbe mysql-community-libs dependency?"
Hi,

I have been testing/trialling ntopng for a couple of weeks now, and running "yum update" most days to get the latest releases from the nightly repo.

Today, I have tried to run the update and nprobe-7.5.170505-5749.x86_64 is complaining that it " Requires: mysql-community-libs >= 5.6".
Is this right? I am running this on CentOS7, which uses MariaDB by default. I don't really want to add anoth

[2017-05-05 13:58] simonemainardi commented on #1206
can you try and disable the mysql export?

[2017-05-05 14:20] simonemainardi commented on #493
implemented

[2017-05-05 14:20] #493 closed, assigned to nobody

[2017-05-05 14:21] emanuele-f commented on #1207
Implemented in ba8d992e3babcf3f3f9ee0c174cc34bc0d857655

[2017-05-05 14:21] #1207 closed, assigned to simonemainardi, emanuele-f

[2017-05-05 16:26] emanuele-f commented on #1218
The cause was Flow aggregation, which is now disabled with 9e4316e5c4b43a087e25ab09a0abaf35e086ca99.

[2017-05-05 16:26] #1218 closed, assigned to simonemainardi

[2017-05-05 18:02] #1193 closed, assigned to simonemainardi, emanuele-f

[2017-05-05 19:52] trickius commented on #1206
i will present you various tests with adsl speedtest
**when -i bridge:eth0,eth1 (ntopng is active and without mysql export):**

# ./speedtest-cli
Retrieving speedtest.net configuration...
Testing from Cosmote (80.107.135.155)...
Retrieving speedtest.net server list...
Selecting best server based on ping...
Hosted by Cosmote S.A. (Athens) [0.78 km]: 59.958 ms
Testing download speed.................

[2017-05-05 19:59] simonemainardi commented on #1206
Ok, the speeds are comparable. I would have expected similar results.
Especially On a pi, there Is a natural minor performance decrease
introduced by ntopng. Keep in mind that ntopng has to process each packet,
inspect its contents, decide, and forward. You should consider upgrading
the hardware if you can't tolerate even that decrease. Please note that
even with more powerful hardware, there will

[2017-05-05 20:33] trickius commented on #1206
Well it seems that layer7 capability has a significant overhead for me to accept. I will stick with ntopng doing ordinary monitor of -i br0 without layer7. I have a question though.. cpu load in the pi doesn't  change in different modes that we're testing. Perhaps there is some room for optimization there?

Following your question this is ntopng with mysql export and -i bridge:eth0,eth1

# ./speed

[2017-05-06 09:02] simonemainardi commented on #1206
Thanks for reporting all these benchmarks. I am closing as this is the expected behaviour on a pi.

[2017-05-06 09:02] #1206 closed, assigned to simonemainardi

[2017-05-06 09:59] lucaderi commented on #1219
Fixed in the current build.

[2017-05-06 09:59] #1219 closed, assigned to lucaderi, cardigliano

[2017-05-06 14:56] ValentinaViscarelli commented on #1210
@jozatan
Some questions.....
1) What ntopng version are you using? (ntopng --version)
2) Are you sure you have configured sAMAccount? (maybe do you have posix account)?
3) Could you report me LDAP Bind DN filed? (I cannot see the whole field in your screen shot).
4) Is it possible to have more informations of your server?
For example with this command (make attention the output of this command giv

[2017-05-08 08:10] PSmolders opened #1221 "No longer able to connect to webinterface"
Using ntopng v.2.5.170508 on Ubuntu 16.04.2

After updating to this version this morning, I am no longer able to connect to the webinterface specified by `-w "192.168.90.98:3000"`. The page does not error out, instead it tries to keep on connecting forever. The page title is shown as "Welcome to ntopng", the URL is shown as `http://192.168.90.98:3000/lua/please_wait.lua?referer=/` in Internet Expl

[2017-05-08 08:24] emanuele-f commented on #1221
Can you post the startup log of ntopng? Can you check cpu utilization with top?

[2017-05-08 08:27] PSmolders commented on #1221
Startup log in daemon mode:
[code]

Startup log without daemon mode:
[code]

/var/log/ntopng/ntopng.log is empty. Edited out the license key.

CPU usage is 0.1%. Memory usage is about 1 GB.

[2017-05-08 09:03] PSmolders commented on #1221
It seems it is fixed. Deleting the /var/tmp folder fixed the issue.

[2017-05-08 09:03] #1221 closed, assigned to nobody

[2017-05-08 10:29] ghost opened #1222 "Timestamp from "pcapng" files are wrong"
When reading the packets from a .pcapng file, the timestamps extracted in PcapInterface.cpp are wrong.
To reproduce set a Breakpoint in PcapInterface: static void* packetPollLoop(void* ptr) and check the values of the "hdr.ts" after call to 'pcap_next_ex' (please see the picture attached)
![pcapng_wrong_ts](https://cloud.githubusercontent.com/assets/28054776/25800478/d4143464-33e9-11e7-9c67-2e40d8

[2017-05-08 16:31] s2105 commented on #1213
Thank you

[2017-05-09 08:16] #1213 closed, assigned to nobody

[2017-05-09 08:42] emanuele-f commented on #1201
Closing for inactivity.

[2017-05-09 08:42] #1201 closed, assigned to nobody

[2017-05-09 08:55] emanuele-f commented on #1222
I can you provide a pcapng file? On latest ntopng version (2.5.170509) I'm not able to reproduce the issue with a sample pcapng I've created.

[2017-05-09 12:47] ghost commented on #1222
Hi Emmanuele, thanks for your fast response, it seems it happens only with certain pcapng files like the one I am trying to include here but it does not allow me, can you provide me an email address to send it?
I am testing it in the latest stable release of ntopng (2.4.stable)
The problem seems to come from libpcap.

[2017-05-09 13:39] emanuele-f commented on #1222
Hi, please send me the pcap at faranda@ntop.org

[2017-05-09 13:59] ghost commented on #1222
Ok I already sent you an email with the pcapng file to test it

[2017-05-09 18:53] ayeshabasit opened #1225 "MySQL dump"
After connecting mySQl to the interfaces successfully, the commandline output stops.

I want to start logging data asap, but I've been stuck here for a while with both elasticsearch and mysql.

09/May/2017 23:48:00 [Ntop.cpp:1121] Setting local networks to 127.0.0.0/8
09/May/2017 23:48:00 [Redis.cpp:92] Successfully connected to redis 127.0.0.1:63

[2017-05-09 18:54] emanuele-f commented on #1222
With the provided pcap file, the function `pcap_open_offline` from libpcap returns the error `Invalid interface capture length 4294967295, bigger than maximum of 262144`. See https://github.com/the-tcpdump-group/libpcap/issues/527 for a similar issue.

Since opening the pcap file with wireshark actually works and packet data can be read properly, I give you the same advice as reported in the link

[2017-05-09 18:54] #1222 closed, assigned to nobody

[2017-05-09 18:57] emanuele-f commented on #1225
What do you mean? It seams like ntopng has successfully connected to MySQL and is dumping flows to it as usual. You can connect to the web interface at port 3000 to access ntopng data visualization.

[2017-05-09 19:00] ayeshabasit commented on #1225
I changed the port to 3050 in the config file and now I have two webGUI instances for ntopng, one is on 3000 and the other on 3050, can you explain why? (sorry, noob question).... The one on 3000 has historical data running btw -.-

[2017-05-09 19:02] ayeshabasit commented on #1225
And occasionally, the one on 3000 would refuse to connect. Also if I turn close my shell, will it still continue to log data?

[2017-05-09 19:03] emanuele-f commented on #1225
Probably the port 3000 instance is the one started automatically via systemctl, so if you want to run ntopng manually from command line you should stop the service with `systemctl stop ntopng`.
Please note that running two instances of ntopng at the same time will not work properly

[2017-05-09 19:07] ayeshabasit commented on #1225
I'm on CentOS.. Should I use 'service' instead? And do you mean to say I should reconfigure how its restarted automatically upon reboot? I dont want to use it from command line, I simply want to log the flows into a dump so I can work on them offline after a couple of weeks of logging

[2017-05-09 19:14] emanuele-f commented on #1225
Ok, so you need to go with the service, and it will stay active and log data also when you close the shell.
Whenever you change the configuration, you can restart it with `systemctl restart ntopng`.

[2017-05-09 19:20] ayeshabasit commented on #1225
I did restart it, there are still two instances. The 3050 one is always there but does not have the history tab and the 3000 one is occasionally there, has only some flows which are incorrect, but has the history tab which isn't logging anything. Also, the command line output I've seen in other posts goes beyond successful connection of mySQL with interfaces which is why I thought something was am

[2017-05-09 19:29] ayeshabasit commented on #1225
Also I get a subset of the above output upon entering just 'ntopng' (which isn't even a command according to the documentation) on the terminal

 ntopng
10/May/2017 00:26:48 [Ntop.cpp:1121] Setting local networks to 127.0.0.0/8
10/May/2017 00:26:48 [Redis.cpp:92] Successfully connected to redis 127.0.0.1:6379@0
10/May/2017 00:26:48 [NtopPro.cpp:120] [LICENSE] Reading license from /etc/ntopng.licen

[2017-05-09 19:38] ayeshabasit commented on #1225
Also.... I just re-restarted it and now it can't be accessed from either ports.....

[2017-05-10 04:42] ayeshabasit commented on #1225
Can you please help me out

[2017-05-10 07:37] emanuele-f commented on #1225
Please start with a clean setup following these steps:
1) stop any running instance of ntopng, either from command line or service `systemctl stop ntopng`
2) verify that there are not running instances: `pgrep ntopng` should return nothing
3) flush your ntopng data: `redis-cli flushall && rm -rf /var/tmp/ntopng`
4) modify the configuration /etc/ntopng/ntopng.conf as needed
5) enable ntopng service

[2017-05-10 08:36] ghost commented on #1222
Thanks for your help Emmanuele. The problem seems to be somewhere in the pcapng header, however it doesnt seem to be the Snaplen as pointed in the link above. I will further investigate.
Best regards

[2017-05-10 13:52] simonemainardi commented on #1191
alert explorer is implemented for flow alerts

[2017-05-10 13:52] #1191 closed, assigned to simonemainardi

[2017-05-10 15:03] emanuele-f commented on #1180
@izzie88 is the issue solved?

[2017-05-10 17:03] jschmitt95 opened #1228 "NetFlow"
I have installed nbox on a virtual machine, instead of using a physical machine.  Is there any issue, or problem, with using a VM, with two virtual network cards, and having the core switch send netflow data to the IP address of the VM server?

[2017-05-10 19:33] ayeshabasit commented on #1225
I did all of the above, it is dumping flows to the DB like so .Maybe I am wrong to try and print the flows to the console using select * flowsv4, but the data looks like the following:
<img width="948" alt="capture" src="https://cloud.githubusercontent.com/assets/23487380/25917382/3f1182fa-35e1-11e7-8060-cffde5d570ef.PNG">
Also, I cant access the webGUI anymore.

[2017-05-10 19:45] ayeshabasit commented on #1225
Okay so apparently, the databases were updated yesterday when I first posted. I want it to do exactly this, but I want it to happen as a daemon process in the background AND to be able to access the webGUI too.

[2017-05-10 19:58] simonemainardi commented on #1225
the screenshot you reported is normal. There's a JSON db column that is compressed. If you want to see plaintext, use mysql DECOMPRESS

[2017-05-10 19:59] ayeshabasit commented on #1225
Thanks @simonemainardi, do you know a way to run ntopng as a daemon process AND have it dump flows to mysql AND to be able to access the webGUI?

[2017-05-10 20:14] simonemainardi commented on #1225
@ayeshabasit my colleague @emanuele-f has already explained you all the steps. If there's something you can't make it work, please post any error that can help us in diagnosing the issue

[2017-05-10 20:36] ayeshabasit commented on #1225
I followed the steps your @emanuele-f asked me to, but my problem was not solved.
Here is some more information:
1) **ntopng is running as a service as shown:**
<img width="435" alt="service" src="https://cloud.githubusercontent.com/assets/23487380/25919883/8d207d40-35e9-11e7-95a8-8f5bb2c63a88.PNG">
I used `service ntopng start` to start it

2) **My configuration file is as follows**
<img width="4

[2017-05-10 20:38] simonemainardi commented on #1225
remove the ':' from the port 3000 in the configuration

[2017-05-10 20:39] ayeshabasit commented on #1225
I only added it because it was in the user guide,
<img width="194" alt="manual1" src="https://cloud.githubusercontent.com/assets/23487380/25920213/aaf7708e-35ea-11e7-8710-b41b0116190d.PNG">
I'll remove it.

[2017-05-10 20:47] ayeshabasit commented on #1225
I changed the config file and restarted ntopng

The web GUI is working now, and its showing recent flows in the historical data explorer tab, however the database is not getting updated.

[2017-05-10 20:52] simonemainardi commented on #1225
See the help for the usage of option -w

[code]

-----

If you see flows in the historical data explorer it means that the db is populated. Remember that flows are only exported when they are expired so this can take a few minutes.

[2017-05-10 20:59] ayeshabasit commented on #1225
1) You are suggesting that I use the -w flag?
2) I changed the port back to 3000 in the config file, maybe that is why the GUI is working now.
3) Its been 13 minutes, several flows have ended according to the historical data explorer but the database has not updated.

[2017-05-10 21:01] simonemainardi commented on #1225
how can you say the database has not updated?

[2017-05-10 21:02] ayeshabasit commented on #1225
<img width="920" alt="db1" src="https://cloud.githubusercontent.com/assets/23487380/25921167/eaadfb82-35ed-11e7-8640-9bdb1e74342f.PNG">
I just ran the query

[2017-05-10 21:15] simonemainardi commented on #1225
you are looking at ipv6, look at ipv4 traffic (TABLE_NAME = 'flowsv4')

[2017-05-10 21:17] ayeshabasit commented on #1225
<img width="944" alt="db2" src="https://cloud.githubusercontent.com/assets/23487380/25921727/f9be9c56-35ef-11e7-90bc-669485f38cf2.PNG">

[2017-05-10 21:19] simonemainardi commented on #1225
check the date of the system running ntopng

[2017-05-10 21:20] ayeshabasit commented on #1225
<img width="805" alt="date" src="https://cloud.githubusercontent.com/assets/23487380/25921838/6fb4c3b8-35f0-11e7-8151-e49bf2394b13.PNG">

[2017-05-10 21:29] simonemainardi commented on #1225
your configuration is wrong, it says mysqld;.. while it should be msyql;.....

![image](https://cloud.githubusercontent.com/assets/3397663/25922165/61ac420e-35d8-11e7-9065-f5911b62427f.png)

Please, read the help......

[code]

[2017-05-10 21:30] ayeshabasit commented on #1225
I'm on a CentOS system, just mysql does not work here, let me try though

[2017-05-10 21:39] ayeshabasit commented on #1225
<img width="469" alt="capture1" src="https://cloud.githubusercontent.com/assets/23487380/25922512/f070dbfc-35f2-11e7-9aa6-d74894f3f32d.PNG">
Web GUI is not accessible anymore either

[2017-05-10 21:40] ayeshabasit commented on #1225
<img width="481" alt="capture3" src="https://cloud.githubusercontent.com/assets/23487380/25922591/3a22a00a-35f3-11e7-9242-2af2659f42de.PNG">
Changed it back now its working

[2017-05-10 21:51] ayeshabasit commented on #1225
Also,
__IF http port == 3000_:_
**1) the tables only get updated when I run ' ntopng -F mysqld;localhost;ntopng;ntopmanager;default' from the terminal which has output like so,**
<img width="853" alt="dc" src="https://cloud.githubusercontent.com/assets/23487380/25922841/275257bc-35f4-11e7-80a2-bc306fef3186.PNG">

**2) The tables get updated upon running this for that one instant.**

_But if http p

[2017-05-11 11:30] ayeshabasit commented on #1225
A gentle reminder that I am still stuck with this issue. Please let me know if I can provide any other information. Thank you.

[2017-05-11 11:42] emanuele-f commented on #1225
Please post here your full ntopng.conf as text

[2017-05-11 11:43] ayeshabasit commented on #1225
[code]

[2017-05-11 11:52] emanuele-f commented on #1225
Please replace your config file with this one.

[code]

Then follow these exact steps:

1) stop any running instance of ntopng, either from command line or service `systemctl stop ntopng`
2) verify that there are not running instances: `pgrep ntopng` should return nothing
3) flush your ntopng data: `redis-cli flushall && rm -rf /var/tmp/ntopng`
4) enable ntopng service so that it can be started at

[2017-05-11 11:54] ayeshabasit commented on #1225
I cannot run step 4 becuase I have a Centos system and it does not have an equivalent of the 'enable' command. Shall I run the rest and show you the result?

[2017-05-11 11:57] emanuele-f commented on #1225
I'm using CentOS 7 and enable is available for me. Nevertheless, you can skip that step. Please also perform a `rm -rf /var/nst/ntopng` in step 3.

[2017-05-11 12:03] ayeshabasit commented on #1225
I followed the steps after changing the conf file:
<img width="597" alt="59_1" src="https://cloud.githubusercontent.com/assets/23487380/25948130/b7075624-366b-11e7-9a33-1da9e7c07961.PNG">

<img width="485" alt="gui" src="https://cloud.githubusercontent.com/assets/23487380/25948161/c9a896da-366b-11e7-8f37-b4c7b4855efd.PNG">
As you can see, the GUI is now unavailable and the DB has not updated

[2017-05-11 12:07] emanuele-f commented on #1225
Please perform these steps:
1) `service stop ntopng`
2) `ntopng /etc/ntopng/ntopng.conf`
3) past here the full output of the command above

[2017-05-11 12:10] ayeshabasit commented on #1225
[code]
**Picture:**
<img width="947" alt="1" src="https://cloud.githubusercontent.com/assets/23487380/25948446/ddc19d00-366c-11e7-9a6d-7b4dbe845f05.PNG">

[2017-05-11 12:18] emanuele-f commented on #1225
In the configuration file, fix the dump-flows line with `mysql;localhost;ntopng;flows;ntopmanager;default`.

NOTE: this assumes your mysql username is `ntopmanager` and password is `default`. Does it work?

[2017-05-11 12:24] ayeshabasit commented on #1225
[code]

GUI is working, database is getting updated but this command has not exited and as soon as I keyboard interrupt out of this, the database and GUI will stop.

[2017-05-11 12:25] emanuele-f commented on #1225
Ok, now run `service ntopng start` and it will work as a service

[2017-05-11 12:26] ayeshabasit commented on #1225
Should I Ctrl-C out first?
<img width="1183" alt="2" src="https://cloud.githubusercontent.com/assets/23487380/25948861/f9937736-366e-11e7-88eb-e38b9da86c20.PNG">