[2018-12-13 15:25] emanuele-f commented on #2247
Of course you could match it via an ajax request but the question is if grafana supports this. I've found this issue https://github.com/grafana/grafana/issues/1032 so I think the answer is currently no

[2018-12-13 15:28] emanuele-f opened #2248 "Clicking on a SNMP interface changes the current page"

[2018-12-13 15:30] CDawson1 commented on #2247
Thanks.  That said, how easy/difficult is it to manually look this up?  As once an entry is made, it wouldn't change so a one-time lookup to manually figure it out doesn't seem too terrible.  It's just a matter of determining the ID that is created for the pool in question.

[2018-12-13 15:43] simonemainardi commented on #2241
Implemented. Sort is now possible by IP address, Name, and last poll time. In addition, a minimal breadcrumb has been implemented.

[2018-12-13 15:43] #2241 closed, assigned to simonemainardi

[2018-12-13 15:51] emanuele-f commented on #2248
Now fixed.

[2018-12-13 15:51] #2248 closed, assigned to emanuele-f

[2018-12-13 15:51] lucaderi commented on #2173
The first option does not work, the second will be hard to implement as people are used to use host preferences. As this issue depends on  #1854 let's wait until that is implemented

[2018-12-13 16:00] emanuele-f commented on #2247
You can browse the url `http://127.0.0.1:3000/lua/get_host_pools.lua?ifid=1` where the ifid value should corrispond to the network interface id. A simpler way for active pools is to go into the "Host Pool List" view, click on a pool and an url similar to this will be show: `http://127.0.0.1:3000/lua/hosts_stats.lua?pool=0` where the pool value is its id. Lastly, you can get a clean output by execu

[2018-12-13 16:02] CDawson1 commented on #2247
Ahh...I see.  If it was a snake...

Thanks!

[2018-12-13 16:02] #2218 closed, assigned to cardigliano

[2018-12-13 16:03] #2247 closed, assigned to nobody

[2018-12-13 17:24] cardigliano commented on #2231
Implemented batch write to reduce the number of syscall

[2018-12-13 17:24] #2231 closed, assigned to cardigliano

[2018-12-13 18:26] #2201 closed, assigned to cardigliano

[2018-12-14 08:39] simonemainardi commented on #2231
I can confirm that, after the latest changes, mg_write has an almost-negligible impact on the overall performance, going from 27 to 32 seconds:

[code]

[2018-12-14 10:16] #2135 closed, assigned to simonemainardi

[2018-12-14 10:20] simonemainardi opened #2249 "RADIUS for captive portal users"
RADIUS should work also for captive portal users. It is requested to check and possibly extend the current implementation.

[2018-12-14 10:54] lucaderi opened #2250 "Disable user login after failed attempts"
When for a given user there are a few attempts (3+) of login with invalid credentials, the login from such IP for the given user must be temporarily disabled but a few minutes (e.g. 1 or 5). If the user does not exist, after a few attempts the login from such IP must be also disabled.

[2018-12-14 11:15] lucaderi opened #2251 "Implement Alarm Egress via web hook"
Add the ability to egress alerts via a web hook in JSON format in addition to the current egress supported today. Examples of popular web hooks:
- https://documentation.meraki.com/zGeneral_Administration/Other_Topics/Webhooks
- https://create.meraki.io/build/meraki-webhooks-with-json-server/

[2018-12-14 11:28] #2068 closed, assigned to emanuele-f

[2018-12-14 18:52] #2211 closed, assigned to nobody

[2018-12-14 23:01] victorhooi commented on #2106
Oh, got it thanks for the update.

Hmm, shame about it not making 3.8. This means we need to keep using Ubuntu
16.04 for now right?

Is there any indication on when the work for 18.04 compatibility will be?

On Dec 13, 2018 21:48, "Emanuele Faranda" <notifications@github.com> wrote:

This has been postponed, it will not be part of the 3.8 release (release
soon within this month)

—
You are receivi

[2018-12-15 16:08] lucaderi opened #2252 "Implement REST-like call for flow extraction"
As follow up of #2220 it is requested to generate a REST-like (pure REST might be postponed until next release) call for extracting flows and pcaps.

Please make sure this API is documented in the user's guide.

[2018-12-15 16:43] #2229 closed, assigned to cardigliano

[2018-12-15 21:10] charlesboyo opened #2253 "ntopng fails to reconnect automatically to redis on disconnect"
Running ntopng on Ubuntu 16.04 with the distro packaged Redis server.
A recent update of the redis-server package caused the redis service to restart.
ntopng detected the disconnection and reported it was reconnecting but that failed to happen though redis was back online and available momentarily. There is no evidence of ntopng actually making a reconnection attempt.

Following were logged by nto

[2018-12-17 08:59] emanuele-f commented on #2238
@bthomas5g any news?

[2018-12-17 10:01] #2189 closed, assigned to nobody

[2018-12-17 11:08] bthomas5g commented on #2238
The infrastructure running ntopng is in a network freeze for the next day, so I'm reluctant to upgrade the development repository. From tomorrow however I'll be able to reinstall ntopng.

The options from /run/ntopng.conf on the instance collecting for external nodes is:

`root@nat-box:/# cat /run/ntopng.conf | grep -v '#'`
`-i=ens4`
`-i=tcp://192.168.33.17:3456`
`-w=3000`
`-m=10.68.34.0/24,10.68.

[2018-12-17 11:16] emanuele-f commented on #2238
Existing data should be preserved after the upgrade. We had permission issues with Ubuntu 18 (e.g. #1848) but they should be now fixed. Please check out the dev version when possible.

[2018-12-17 11:40] bthomas5g commented on #2238
FYI running;

`chmod 700 -R *`

under

`/var/tmp/ntopng/`

Appears to 'fix' this problem (this was one of the suggestions in #1848). I'm now able to view reports for old data. 066 is a very strange mask for the files...

Upgrade will likely occur tomorrow.

[2018-12-17 14:32] simonemainardi commented on #2234
implemented in: https://github.com/ntop/ntopng/commit/2b66f41878ef56e82cec3b6df39ec17dd4de3369

[2018-12-17 14:32] #2234 closed, assigned to simonemainardi

[2018-12-17 16:40] emanuele-f commented on #2250
IP is now blacklisted (regardless of the user) after 5 consecutive login attempts for 5 minutes.  Implemented in 5e321077cafbf214b617899992d99d06a1f86f3f and 697eccf9313dcacf4460336f19aa73298936b2fd.

[2018-12-17 16:40] #2250 closed, assigned to emanuele-f

[2018-12-17 23:25] PsyMan2000-zz commented on #1900
I was just looking for this option too. Would be a great feature. Especially for allowing the not so techy staff (aka managers) a slightly more intuitive experience. Keep up the great work.

[2018-12-18 09:53] emanuele-f commented on #2249
As discussed, it will be implemented in the following way:
- The "authentication" tab of the ntopng preferences will be shown in nedge too, but only for radius and local auth
- When enabled, the radius authenticator will be able to authenticate captive portal as well as gui users
- In the captive portal page, a link to the authentication preferences will explain the link between the two

[2018-12-18 10:29] #2249 closed, assigned to emanuele-f

[2018-12-18 14:18] boisgada commented on #2205
Yes, when switching from RRD to InfluxDB the green successfully initialized message is displayed.

I will gladly wipe out all timeseries data to get this working if you can provide instructions.

[2018-12-18 14:23] emanuele-f commented on #2205
Please check out the official InfluxDB instructions to flush the ntopng database: https://docs.influxdata.com/influxdb/v1.7/query_language/database_management/#delete-a-database-with-drop-database . The command from the influxdb cli should be `DROP DATABASE ntopng`, where ntopng is the database name.
Can you post a screenshot of the "Runtime Status" page? Can you inspect the InfluxDB logs to see i

[2018-12-18 14:24] boisgada opened #2254 "Assigning custom protocols to specific custom catagories"
We use custom protocols (specifically common ICS protocols) via the -p configuration option within ntopng.conf.  Can you provide instructions for adding a custom category (like "ICS Protocol") and adding protocols to this custom category.

[2018-12-18 14:28] emanuele-f commented on #2254
Ntopng provides some customized categories, e.g. "User Custom Category 1". Currently they cannot be renamed. Please checkout https://www.ntop.org/guides/ntopng/web_gui/categories.html#protocol-category .

[2018-12-18 14:40] boisgada commented on #2254
I did review that page but couldn't find any instructions for assigning a protocol to a custom category.  Is there a 'hidden' flag.  For example:

Format:

[code]

[2018-12-18 14:51] emanuele-f commented on #2254
Assigning from file is not supported. Please use the gui.

[2018-12-18 15:08] boisgada commented on #2254
The gui appears to only support adding hosts, not protocols.  Am I missing something?

[2018-12-18 18:10] emanuele-f commented on #2239
Here is a stack trace for a crash I've reproduced:

[code]

[2018-12-18 18:14] emanuele-f commented on #2254
In the previous versions of ntopng "Protocols" was not placed into a tab but rather into a separate menu entry "Categories". Please check out the documentation link and compare it with what you have right now. It will allow you to assign a protocol (built-in or custom defined in protos.txt) to a ntopng category,

[2018-12-18 18:24] ghost commented on #2239
Resolved issue by changing offload settings on interface

On Tue, 18 Dec 2018, 08:10 Emanuele Faranda, <notifications@github.com>
wrote:

[2018-12-18 18:50] #2239 closed, assigned to nobody

[2018-12-18 22:50] lucaderi opened #2255 "Backup configuration placed in Preferences"
Backup of nEdge configuration is placed inside the "misc' section of the preferences. As this is not a preference it should be moved elsewhere

[2018-12-18 22:51] lucaderi opened #2256 "Restore configuration is missing"
Contrary to ntopng, restore configuration is missing

[2018-12-18 22:54] lucaderi opened #2257 "Delete host data is not flexible"
<img width="567" alt="screenshot 2018-12-18 at 23 52 43" src="https://user-images.githubusercontent.com/4493366/50187931-1785eb00-0320-11e9-86e0-04f42c5fb5ad.png">

Passing a network/mask makes this feature more useful

[2018-12-18 22:55] lucaderi opened #2258 "Manage Stored Data not working as expected"
After having deleted data most host X with "Manage Stored Data", going to host X in the GUI and displaying for instance protocol statistics, it shows that past stats are still present contrary to what expected

[2018-12-18 23:00] boisgada commented on #2254
This is what I see:
![screen shot 2018-12-18 at 4 56 28 pm](https://user-images.githubusercontent.com/7538766/50188124-1a63ea00-02e6-11e9-8619-01beb212644f.png)

When I select "Edit Hosts" it doesn't appear I can add a Protocol:
![screen shot 2018-12-18 at 4 55 46 pm](https://user-images.githubusercontent.com/7538766/50188175-48492e80-02e6-11e9-9749-16edc3804929.png)

I'd like the ability to:
1) A

[2018-12-19 09:13] emanuele-f commented on #2254
By clicking on the "Protocols" tab you can move specific protocols to the specified category. Currently it is not possible to create new categories, but you can use the provided "User custom category x" which are empty by default

[2018-12-19 09:14] lucaderi commented on #2258
The data in memory needs to be also cleaned.

[2018-12-19 10:27] emanuele-f commented on #2257
This features requires very complex operations due the fact that ntopng does not possibly now all the hosts it has to delete (since hosts are cached for about 1 hour in redis and querying influxdb for such information returns a lot of results). This would probably require to implement a "delete by pattern" operation on the backends, for example on redis, influxdb and rrd. In influxdb a tag match b

[2018-12-19 10:55] emanuele-f commented on #2256
Now fixed

[2018-12-19 10:55] #2256 closed, assigned to emanuele-f

[2018-12-19 10:55] emanuele-f commented on #2255
Now fixed

[2018-12-19 10:55] #2255 closed, assigned to emanuele-f

[2018-12-19 12:53] boisgada commented on #2254
Thank you.  I had seen this option but thought I was missing where to create a custom category or make a bulk change.

May I request the ability to create custom groups in this issue or should I open a new feature request?

[2018-12-19 13:09] boisgada commented on #2205
There has to be something really simple and stupid I am doing wrong here.  I created a clean install from scratch on a different server (running community edition) and was able to implement InfluxDB timeseries data without an issue.

On the production server, I did the following:
1) dropped the ntopng database from InfluxDB
![screen shot 2018-12-18 at 5 21 20 pm](https://user-images.githubusercont

[2018-12-19 14:59] odhiambop opened #2260 "ntopng edge active flows shows NoIP for the servers and shows 00:00:00:00:00:00 for devices/host Mac Addresses"
Am using ntopng edge Enterprise Edition v.3.6.181128 in bridge mode(two interfaces ) with a third interface for management with an IP on management interface.
![active flows](https://user-images.githubusercontent.com/20622174/50227868-c9bcc180-03b7-11e9-9b2b-6740ba42f4d0.JPG)
![devices views](https://user-images.githubusercontent.com/20622174/50227870-ca555800-03b7-11e9-8377-32193a83a4ed.JPG)

whe

[2018-12-19 15:41] emanuele-f commented on #2254
Please open a separate issue. Adding new categories may be problematic, maybe renaming the custom ones could be an option.

[2018-12-19 15:41] #2254 closed, assigned to nobody

[2018-12-19 15:47] emanuele-f commented on #2260
Hi, please double check the LAN and WAN interfaces are assigned correctly through the gui.
Do you have the possibility to switch to the dev version of nedge and see if the problem still occurs? It is pretty stable as we are in the process of releasing it as the new stable. Please check out the instructions at http://packages.ntop.org/apt to install the dev version.

[2018-12-19 15:57] emanuele-f commented on #2205
Do you mean the `show tag keys` command? Please check out the `journalctl -u influxdb -f ` command to see if influxdb even receives the request.

[2018-12-19 16:35] odhiambop commented on #2260
I have doubled checked the LAN and WAN interfaces are assigned correctly. my _lan:enp1so_ and _wan:enp2s0_  then management interface is _eno1_

can't figure out on how to upgrade to dev version of nedge.
Am getting a challange in switching to the dev version of nedge. Kindly guide me on the commands to run.

[2018-12-19 17:13] odhiambop commented on #2260
I managed to upgrade to 3.7 but still having the same problem.

[2018-12-19 17:53] andysaje1 opened #2261 "NTOPNG crashes regularly about every 5-10 minutes , running licensed Pro on Windows server2008"
Event Name: APPCRASH
Response: Not available
Cab Id: 0

Problem signature:
P1: ntopng.exe
P2: 0.0.0.0
P3: 5baf1e2f
P4: ntdll.dll
P5: 6.1.7601.23864
P6: 595fa942
P7: c0000005
P8: 000000000004f23c
P9:
P10:

Attached files:

These files may be available here:
C:\ProgramData\Microsoft\Windows\WER\ReportQueue\AppCrash_ntopng.exe_af6153a2456a1c749a0bb93a867bd403ae99d60_12aed117

Analysis symbol:
Recheck

[2018-12-19 18:07] lucaderi commented on #2261
What version are you running?
Please attach the configuration file you are using with ntopng

[2018-12-19 18:08] lucaderi commented on #2257
Deleting a /24 and /32 network would be enough.

[2018-12-19 18:12] lucaderi opened #2262 "Extend Manage Stored Data to also delete flows"
This issue is tight with #2257. When deleting timeseries also flows must be deleted.

[2018-12-20 09:07] emanuele-f commented on #2260
Can you post the service log since startup? Check out `sudo journalctl -u ntopng`. Can you provide gui access to the device to debug the issue? If so, please send me the credentials at faranda@ntop.org

[2018-12-20 09:10] emanuele-f commented on #2238
Hi, do you have any news?

[2018-12-20 09:47] andysaje1 commented on #2261
The version info is below ... I don't see a config file in the ntopng directories
Version | 3.7.180929 - Professional Edition
-- | --
Windows
2.3.0-1121-3443928
7.39.0
3.x
4.x
1.4.5
5m
2.4.6
3.7
LuaJIT 2.1.0-beta3
4.1.3
2.9.1 / 3.0

[2018-12-20 16:48] julienmorot opened #2263 "ntopng mysql unknown column if field list"
Hello ntopng team,

I'm facing this error :
Dec 20 15:16:35 scalesi ntopng[18420]: 20/Dec/2018 15:16:35 [MySQLDB.cpp:723] Successfully connected to MySQL [ntopng@localhost:3306] for interface lo
Dec 20 15:16:36 scalesi ntopng: [BatchedMySQLDB.cpp:252] ERROR: MySQL error: Unknown column 'PROFILE' in 'field list' [rc=-1]
Dec 20 15:16:36 scalesi ntopng[18420]: 20/Dec/2018 15:16:36 [BatchedMySQLDB.cpp

[2018-12-20 18:15] lucaderi commented on #2261
We have released on packages.ntop.org a new Windows build that should address your issue. Please give it a try when you have time. I will now close this ticket. Please reopen it if necessary

[2018-12-20 18:15] #2261 closed, assigned to nobody

[2018-12-21 04:34] aaronmaxlevy opened #2264 "Historical Data Explorer does not work with "view" interfaces"
I'm running version 3.6.181030 and Historical Data Explorer does not work properly with "view" interfaces.

When I try to use Historical Data Explorer with a "view" interface, I get an error back saying "Empty query response (database down or query killed/timed out?)".

After debugging a bit with gdb, it looks like the issue is that as part of `ntop_interface_exec_sql_query` , it calls `getCurrent

[2018-12-22 06:46] lucaderi opened #2265 "Split protocol view"
As ntopng is now much richer than the past, the Protocols pane in both host and interface is opening a view that is too long. It is requested to break it apart in two tab/panes to make it easier to read
![screen shot 2018-12-22 at 07 45 28](https://user-images.githubusercontent.com/4493366/50371559-a95e5400-05bd-11e9-8332-4d6135bcb2b1.png)

[2018-12-22 10:22] lizzyshaw opened #2266 "corrupted double-linked list: 0x00007f55e80068b0"
There's an error when ntopng dump flow to elasticsearch, why and how to fix it?
Thanks.

*** Error in `/usr/local/bin/ntopng': corrupted double-linked list: 0x00007f55e80068b0 ***
======= Backtrace: =========
/lib64/libc.so.6(+0x7c5ee)[0x7f55f9cb95ee]
/lib64/libc.so.6(+0x7e405)[0x7f55f9cbb405]
/lib64/libc.so.6(__libc_calloc+0xb4)[0x7f55f9cbe324]
/lib64/libcurl.so.4(+0x1c02a)[0x7f55faad202a]
/lib64

[2018-12-22 13:57] emanuele-f commented on #2266
Hi, what ntopng version are you using?

[2018-12-22 14:36] lizzyshaw commented on #2266
This version: ntopng-3.7.181219-5516

[2018-12-22 16:50] odhiambop commented on #2260
Hey Emanuel

I manged to figure out the issue. Some system settings changed and noted that the remote hosts were masked leading to that. When I changed no masking under preferences ans restarted it worked for me.
Thanks

[2018-12-22 17:41] hvdbrand opened #2267 "Rpm install disables and stops service on centos 7"
When upgrading the ntopng rpm on CentOS 7.6, the ntopng service is disabled and stopped.
The expected behavior is that the start service is also started after the upgrade.
This seems to be cause by the preun scriptlet that stops and disables the service.

Systemd offers macros for these actions.
Would it be possible to use those?
Example: https://fedoraproject.org/wiki/Packaging:Scriptlets#Systemd

[2018-12-23 10:40] jlct021 opened #2268 "How to Analyse MikroTik Traffic Using nprobe -> ntopng on Windows"
We have Multiple nProbe sites with Mikrotik routers, and want to send flows to one remote ntopng instance running on a Windows machine.

Starting with the local site all behind the same Firewall / on same LAN:

Mikrotik is setup to send NetFlow to the IP of the host running nprobe & ntopng: 192.168.88.2

ntopng started as service with the below CMD:

ntopng /i -i tcp://*:5556c

And nprobe with:

n

[2018-12-24 10:04] simonemainardi commented on #2266
I'm unable to reproduce.

Please, report os, platform, full ntopng startup line, average number of exported flows per second, and any other information useful to reproduce.

[2018-12-24 14:17] emanuele-f commented on #2260
You are welcome

[2018-12-24 14:17] #2260 closed, assigned to nobody

[2018-12-24 14:22] emanuele-f commented on #2267
Thank you for the hints, we will look at this

[2018-12-24 14:26] emanuele-f commented on #2268
Please try to replace /i with /c to see command output. Into ntopng, in the network interface page, can you see the interface rx couter increasing?

[2018-12-25 02:16] jonbackhaus commented on #1397
I just tried to compile from source on the ODROID XU4 and the build failed. Any suggestions?

[2018-12-25 05:42] jlct021 commented on #2268
Starting ntopng with:

ntopng /c -i tcp://*:5556c

and nprobe with:

nprobe /c --zmq "tcp://127.0.0.1:5556" --zmq-probe-mode -i none -n none
--collector-port 2055 -T "@NTOPNG@"

Results in traffic being parsed to GUI running on:

http://127.0.0.1:3000/lua/hosts_stats.lua

However when selecting Hosts, Filter Hosts, Local Hosts, it outputs: No
results found, yet we can see some of our local IPs lis

[2018-12-26 13:48] emanuele-f commented on #1397
Please open a new issue and specify the commands you run and the output you get. Please check out https://github.com/ntop/ntopng/blob/dev/doc/README.compilation

[2018-12-26 15:08] HoseinKashefi commented on #2118
Dear @simonemainardi
I use ntopng : v.3.9.181226 (enabled http top site )(ZMQ Monitoring)
and Cento : v.1.5.181226
I need to have this feature. because of analyzing user behavior(about 5k Users)
 what can i do for it ? and is there any alternative solution to have it?

[2018-12-27 06:20] papage opened #2269 "ntopng footer bar traffic stats"
Hi all,

I am running an Ntopng instance getting feed from an nprobe via zmq (on another VM).
On the main screen, on the footer bar, the interface traffic rate reported is actually correct. But next to it there are these graphs of IN/OUT traffic rates, which don't add up to the interface traffic rate.  Also, the IN/OUT ratio is also very wrong and I have configured my networks. Even in your manual

[2018-12-27 08:53] wwbhl opened #2270 "ntopng centos7 make error"
src/tcp_connecter.cpp: In member function 'int zmq::tcp_connecter_t::get_new_reconnect_ivl()':
src/tcp_connecter.cpp:210:70: error: 'min' was not declared in this scope
             min (current_reconnect_ivl * 2, options.reconnect_ivl_max);
                                                                      ^
src/tcp_connecter.cpp:210:70: note: suggested alternative:
In file included from /usr/

[2018-12-27 09:05] #2270 closed, assigned to nobody

[2018-12-27 09:09] emanuele-f commented on #2118
Is nprobe reading raw packets from a physical interface or traffic from sflow/netflow? In the latter case the %HTTP_URL information may not be available

[2018-12-27 09:17] simonemainardi commented on #2270
Please, install `zeromq-devel` and you will be ok. I've updated the README: https://github.com/ntop/ntopng/blob/dev/doc/README.compilation

[2018-12-27 09:24] simonemainardi commented on #2269
the

![image](https://user-images.githubusercontent.com/3397663/50474495-69361180-09c1-11e9-9ed3-52b1ea2d923f.png)

traffic in the footer is not IN/OUT, it's local-to-remote and remote-to-local. So basically the traffic that goes from your local networks to non-local destinations, and vice versa.

[2018-12-27 09:24] #2269 closed, assigned to nobody

[2018-12-27 09:26] emanuele-f commented on #2268
Let's continue discussion via email only in order to avoid duplicating messages here.

[2018-12-27 09:26] #2268 closed, assigned to nobody

[2018-12-27 09:27] simonemainardi commented on #2268
Please, use ntopng option `-m` to list your local networks.

For example, if your local addresses are `192.168.1.0/24` use `-m 192.168.1.0/24`

[2018-12-27 09:31] emanuele-f commented on #2238
Closing for inactivity. Please reopen or comment if you have any update.

[2018-12-27 09:31] #2238 closed, assigned to emanuele-f

[2018-12-27 10:02] jiangdu8888 opened #2271 "No packet has been received yet on interface ens33"
There are two connections, in which the interface ens33 can not accept network traffic, where the interface Lo may be connected to the database? The collection of flow can be displayed.

[2018-12-27 10:04] jiangdu8888 commented on #2271
interface lo Top Application Protocols:Redis MySQL HTTP and Other

[2018-12-27 10:19] emanuele-f commented on #2263
Hi, do you have some exact steps to reproduce the issue? When using the `--community` the BatchedMySQLDB is disabled so the error above cannot happen, maybe the configuration used was different when the error occurred?

[2018-12-27 10:49] inetactief opened #2272 "Not showing IPv6"
We use a mikrotik router using netflow version 9.  On Centos 7 where running ntopng we have enabled IPv6 we can ping to a ipv6 address.

On /etc/nprobe/nprobe-none.conf
--zmq="tcp://*:5556"
-i=none
-n=none
-T="%IP_PROTOCOL_VERSION %IPV4_SRC_ADDR %IPV6_SRC_ADDR %IPV4_DST_ADDR %IPV6_DST_ADDR %IPV4_NEXT_HOP %IPV6_NEXT_HOP %INPUT_SNMP %OUTPUT_SNMP %IN_PKTS %IN_BYTES %FIRST_SWITCHED %LAST_SWITCHED %L4_

[2018-12-27 13:28] tohu2000 opened #2273 "Raspbian segmentation fault"
Successfull **install apt-get install ntopng nprobe** leads to segmentation fault immediately after start. Raspbian Stretch, all updated and upgraded.

[2018-12-27 13:30] simonemainardi commented on #2271
this is correct. if you use the default setup, ntopng will connect to redis via interface loopback. The same if you have a local MySQL database. This is why you are seeing Redis, and MYSQL flows on the loopback.

[2018-12-27 13:30] #2271 closed, assigned to nobody

[2018-12-27 13:32] simonemainardi commented on #2266
closing for inactivity. please, reopen with the requested information if necessary.

[2018-12-27 13:32] #2266 closed, assigned to nobody

[2018-12-27 13:33] emanuele-f commented on #2258
In order to completely clean the host data, the following steps should be taken:
1. Host should be "flagged" by the lua code (e.g. by putting it into a linked list / hash)
2. The packet capture thread should check for flagged hosts, destroying them (calling destructor and removing from the hosts hash table) and removing the redis serialization keys

A simpler solution would be to perform the persi

[2018-12-27 13:36] simonemainardi commented on #2272
You should check your mikrotik configuration and make sure IPv6 is actually exported in the NetFlow. If unsure, please, attach a pcap of the netflow (templates + data record) and we will check for you.

[2018-12-27 13:42] simonemainardi commented on #2273
post the output of

[code]

and the full output of the installation

[2018-12-27 14:09] #2264 closed, assigned to simonemainardi

[2018-12-27 14:10] simonemainardi commented on #2264
Thanks for reporting. The historical data explorer is not available for view interfaces as flows are dumped to database using the underlying interfaces. Menu entry has now been hidden. To navigate dumped flows just visit the actual interfaces that compose the view.

[2018-12-27 14:27] emanuele-f opened #2274 "Fix service behaviour with packaged installation"
As suggested in #2267, the ntopng package should use the available system mechanisms in order to automatically start/enable the ntopng service. This would prevent service start on system where this has been disabled by the systemd administrator. Some of such mechanisms are:

- on centos 7, https://fedoraproject.org/wiki/Features/PackagePresets and https://fedoraproject.org/wiki/Packaging:Scriptlet

[2018-12-27 14:40] tohu2000 commented on #2273
**sudo systemctl status ntopng**

Dez 27 15:38:02 raspberrypi systemd[1]: ntopng.service: Failed with result 'sign

**sudo systemctl status nprobe**

[2018-12-27 14:43] tohu2000 commented on #2273
apt-get install nprobe ntopng
Paketlisten werden gelesen... Fertig
Abhängigkeitsbaum wird aufgebaut.
Statusinformationen werden eingelesen.... Fertig
Die folgenden NEUEN Pakete werden installiert:
  nprobe ntopng
0 aktualisiert, 2 neu installiert, 0 zu entfernen und 155 nicht aktualisiert.
Es müssen noch 0 B von 6.340 kB an Archiven heruntergeladen werden.
Nach dieser Operation werden 34,9 MB Plat

[2018-12-27 15:47] emanuele-f commented on #2267
Fixed in c032b5ac10754beb61afacc8be8c20818b385915 . Use of macros will be addressed in a different issue.

[2018-12-27 15:47] #2267 closed, assigned to emanuele-f

[2018-12-27 15:52] emanuele-f commented on #2273
Cannot reproduce with latest ntopng package. The issue may be linked to an old version of libnettle6 . Please try to update both libnettle6 and ntopng and see if you still experience the issue. This is the output of `apt-cache policy libnettle6` in my test system:

[code]

[2018-12-27 15:55] emanuele-f commented on #2205
@boisgada any update?

[2018-12-27 15:59] emanuele-f commented on #2187
@CDawson1 do you have any new info about this? Sorry but we are pushing development towards the influxdb export rather than grafana

[2018-12-27 16:01] #2215 closed, assigned to nobody

[2018-12-27 16:01] #2219 closed, assigned to nobody

[2018-12-27 16:24] emanuele-f commented on #2061
Interface statistics will be dropped. Top clients and servers will be shown in the timeseries table below the chart as in the enterprise version.

[2018-12-27 16:29] papage commented on #2269
I understand that. I have configured my local networks and I have SPANed only my uplinks, so IN is actually the traffic towards my local networks and OUT is traffic from my local networks. I have no traffic going from remote to remote networks (transit).
The question is why the numbers don't add up to the interface traffic, why the ratio is wrong. I have assumed that because IN/OUT numbers are wro

[2018-12-27 16:37] tohu2000 commented on #2273
Thanks.
[code]
Seems up-to-date. Any other idea to narrow down the issue?

[2018-12-27 16:41] emanuele-f commented on #2273
Have you updated ntopng to the latest version? Can you get a full stack trace? Run `bt` into gdb after the crash

[2018-12-27 16:42] #2253 closed, assigned to simonemainardi

[2018-12-27 16:48] simonemainardi commented on #2265
- split should be in two tabs, one for Applications charts and tables, and the other for Categories charts and tables.
- Also terms Applications and Protocols are used interchangeably and this creates confusion. Unify the terminology.

[2018-12-27 16:53] simonemainardi commented on #2061
- top senders and top receivers will be shown in a table at the bottom of the chart and will be the top across the selected timeframe

[2018-12-27 17:39] tohu2000 commented on #2273
Thanks Emanuele, post installing apache and nagios, interestingly, ntopng started to work properly!

[2018-12-27 17:39] #2273 closed, assigned to nobody

[2018-12-28 05:55] jiangdu8888 commented on #2271
But why interface ens33 have no flow?

[2018-12-28 08:37] #2061 closed, assigned to emanuele-f

[2018-12-28 08:37] simonemainardi commented on #2271
very likely ens33 is not doing anything. do the following checks. is ens33 used to receive or send some traffic? is it connected to the network? is it connected to a span port or mirror?

[2018-12-28 08:42] simonemainardi commented on #2269
local-to-remote and remote-to-local are with reference to the ntopng local networks specified with `-m`. can you please check this?

[2018-12-28 09:32] inetactief commented on #2272
i record some data from the mikrotik to ntopng.

https://video-streams.nl/data-to-ntopng.zip

[2018-12-28 10:32] papage commented on #2269
Yes, I'm using --local-networks="x.y.z.0/24,a.b.c.0/21......" in the conf file.
I believe that IN/OUT rates is derived from the flows send from nprobe, while the interface traffic is a single number send from nprobe directly to ntopng as an informational element.
Anyway, could you clarify if the IN/OUT is calculated by ntopng by adding all the IN/OUT flows sent from nprobe?

Also, how can i check,

[2018-12-28 16:30] lucaderi opened #2275 "Package and release index query tool"
As of 3.8 nIndex is part of ntopng. However it is possible only to extract flows using the ntopng drill down interface. It would be nice to either package the nIndex extraction tool or provide a REST API call for ntopng to allow that.

[2018-12-28 17:00] lucaderi opened #2276 "Detect continuous recording already active"
ntopng is unable to detect n2disk already active on the same system where ntopng is also running. This pushes users to start n2disk only from pithing ntopng, that is not optimal as users might want to fine-tune n2disk.

It is requested ntopng to detect (in addition to those instances spawn by ntopng) existing n2disk instances and handle them as if they were started by ntopng. For the beginning it

[2018-12-28 17:48] lucaderi opened #2277 "Radius/LDAP caching must be limited in time"
Caching is used in ntopng in order to avoid contacting external authentication services too often. Examples include LDAP and Radius. However currently the caching time is 1h and this is a little bit too much.

It is requested to reduce it to at most 15 mins. No preference is necessary. When the timeout is past, the user needs to be revalidated (but not logged out from the GUI)

[2018-12-28 17:50] lucaderi opened #2278 "Cleanup Radius/LDAP caching at midnight"
As follow up to #2277, make sure that in all cases caching will not go beyond midnight. This requires authentication to be re-validated past midnight.

Please also make sure that any other security-related caching is also limited to the day it is set.

[2018-12-28 17:55] lucaderi opened #2279 "Publish video of continuous drill down"
The new continuous drill down feature needs a video that shows it how ti works in practice.

[2018-12-28 17:55] lucaderi opened #2280 "Publish nEdge overview video"
Many ntopng users are not aware of nEdge. It would be nice to make a short video about it

[2018-12-28 21:32] simonemainardi commented on #2280
What about this one? https://youtu.be/x2A4j03gFgI

[2018-12-29 08:39] HoseinKashefi commented on #2118
nprobe reads raw data directly from interface.

[2018-12-30 10:05] simonemainardi commented on #2118
using %HTTP_URL doesn't help. The feature relies on the dissected nDPI data that is only available when ntopng monitors physical interfaces. If you need this feature, try and open a feature request and we will see if we can accomodate it.

[2018-12-31 08:36] HoseinKashefi opened #2282 "Report Top 100 Visited sites by Cento & nTopng with ZMQ Method"
Combination of Cento and nTopNG is powerful and one of the features that needed for Service-Providers is analyzing users behavior. so please make that happen to find out which sites visited by users and even categorize them for better analyze.

[2018-12-31 09:15] emanuele-f opened #2283 "Upgrade bootstrap version and related libraries"
Bootstrap should be updated to the latest compatible version available https://github.com/twbs/bootstrap/releases/tag/v3.4.0

[2018-12-31 10:42] emanuele-f commented on #2283
Implemented in 669019d082a70784d586b6ba126684f66496df21

[2018-12-31 10:42] #2283 closed, assigned to emanuele-f

[2018-12-31 11:34] emanuele-f commented on #2274
Fixed in 45d096b054fe9a74bdcb89b5944f1cc7e3f1cc8e and 0da33a8044fac5c0bda0ae01f5d80b4ccded83ad

[2018-12-31 11:34] #2274 closed, assigned to emanuele-f

[2018-12-31 12:28] simonemainardi commented on #2265
Implemented.

Views are now split in two panes. One for the applications, and the other for the categories.

![image](https://user-images.githubusercontent.com/3397663/50560052-ef719100-0cfc-11e9-8bd3-0eead7af61e0.png)

[2018-12-31 12:28] #2265 closed, assigned to simonemainardi

[2018-12-31 13:11] simonemainardi commented on #2272
we need to see the netflow mikrotik is sending to nProbe as I am not sure it contains IPv6. Please, check it.

To create a capture, jump on the nProbe host and do:

[code]

Then send file netflow.pcap

[2019-01-02 08:31] majed17 opened #2284 "after some update now after running for a while GB values appear"
the duration becomes 10 years or more, and of course the 6.66 satanic value appears for the amount transferred for most hosts. some values are dns related, any idea what is the problem?

[2019-01-02 08:47] emanuele-f commented on #2284
Hi, please report the ntopng version (run `ntopng --version`) and configuration (usually `/etc/ntopng/ntopng.conf`) used

[2019-01-02 09:12] emanuele-f commented on #2205
Closing for inactivity, please reopen if necessary.

[2019-01-02 09:12] #2205 closed, assigned to nobody

[2019-01-02 09:13] emanuele-f commented on #2187
Closing for inactivity, please reopen if necessary.

[2019-01-02 09:13] #2187 closed, assigned to emanuele-f

[2019-01-02 09:35] cardigliano commented on #2204
Apparmor defines permission to read/write/execute files (e.g. "execute permission on sudo"), this does not add further control on the sudo or ntopctl parameters. Permission on the script to be executed is already restricted by sudo, and there is a strict sanity check for the parameters in the script itself. For this reason we decided not to add apparmor support for the time being.

[2019-01-02 09:35] #2204 closed, assigned to nobody

[2019-01-02 10:56] majed17 commented on #2284
ntopng --version
[code]

[code]

[2019-01-02 11:01] emanuele-f commented on #2284
Hi, please note that the license is expired. Have you upgraded nprobe to the latest version? Can you post a screenshot of the incorrect flows?

[2019-01-02 12:06] inetactief commented on #2272
It works now. The -T -V 9 and some config change and it works fine now!

[2019-01-02 12:12] #2257 closed, assigned to emanuele-f

[2019-01-02 12:32] majed17 commented on #2284
![ntop-screwedup](https://user-images.githubusercontent.com/35138065/50592035-6a74ac00-0ea3-11e9-9818-1de92229718c.png)
 nprobe --version

[code]

[2019-01-02 12:40] majed17 commented on #2284
Note: an ISR router was added in this period too!

[2019-01-02 14:53] emanuele-f commented on #2284
While the ntopng license is optional (you can add the `--community` option to the ntopng options) the nprobe license is mandatory and missing. Please go back to a standard ntopng setup (no theme/scripts modifications) and install the nprobe license (or ask for a trial) before proceeding

[2019-01-02 16:03] emanuele-f commented on #2262
Clicking on the "Delete Interface Data" and restarting ntopng already deletes interface flows. However, deleting a single host data do not triggers relevant flow deletion as this is not supported by the flow database. Please clarify

[2019-01-02 16:05] emanuele-f commented on #2272
Thank you for reporting

[2019-01-02 16:05] #2272 closed, assigned to nobody

[2019-01-02 16:32] simonemainardi commented on #2272
@inetactief please report the exact configuration you've used.

[2019-01-02 17:48] Gelob opened #2285 "Database Migration Referer field URL refresh issue"
When I'm presented with the please wait page during a Database schema migration, every time the page refreshes the refer field is updated again resulting in the URL being very long and eventually getting cut off. I expect the url to just stay as https://ntopng.company.com/lua/please_wait.lua?referer=ntopng.company.com every refresh

Example:
https://ntopng.company.com/lua/please_wait.lua?referer=n

[2019-01-02 17:58] Gelob opened #2286 "Display or log more information during MySQL database schema migrations"
A couple of times after upgrading ntopng I get presented with the database schema migration page. The problem is I have no idea what is going on in the background or how long it will take. I'd expect more detail in the log messages about ntopng starting a migration and then once its completed but there is no such message in the logs. A log message would go a long way to at least confirm a planned

[2019-01-02 18:13] simonemainardi commented on #2276
Detection of an already-active manually-managed recording service is now done. The status is shown as well as if it was started by ntopng.

Now working on the implementation of the timeline-based extraction using the timeline and the pcaps created by the manually-managed service.

[2019-01-02 18:26] Gelob opened #2287 "NTOPNG should support a secondary LDAP & RADIUS server"
NTOPNG should support supplying a secondary LDAP and RADIUS server if either of them are enabled. Many existing enterprise applications support this and its common for enterprises to have HA deployments of these services. It shouldn't be a required field. Usually there is a timeout value where if no response is received from the first server, the secondary is tried. Its important that NTOPNG respe

[2019-01-03 07:05] inetactief commented on #2272
I use for nprobe.conf and nprobe-none2.conf, nprobe-none3.conf lke this
 --zmq="tcp://127.0.0.1:5556"
-i=none
-n=none
-V=9
-T="%IP_PROTOCOL_VERSION %IPV4_SRC_ADDR %IPV6_SRC_ADDR %IPV4_DST_ADDR %IPV6_DST_ADDR %IPV4_NEXT_HOP %IPV6_NEXT_HOP %INPUT_SNMP %OUTPUT_SNMP %IN_PKTS %IN_BYTES %FIRST_SWITCHED %LAST_SWITCHED %L4_SRC_PORT %L4_DST_PORT %TCP_FLAGS %PROTOCOL %SRC_TOS %SRC_AS %DST_AS %IPV4_SRC_MASK

[2019-01-03 07:06] inetactief commented on #2272
For:
/etc/ntopng/ntopng.conf

-G=/var/tmp/ntopng.pid
-i=tcp://127.0.0.1:5556
--d=/var/tmp
--http-port=3000

[2019-01-03 10:16] CDawson1 commented on #2187
Apologies.  Our office was closed over Christmas week.  You can leave this closed, but the update other than the above is there is no update.  The issue remains and the Grafana team haven't chimed in.  What I have noticed is that data from other sources in Grafana, namely LibreNMS which is also using an InfluxDB to provide data into Grafana lines up with the data from ntopng via InfluxDB.

That sa

[2019-01-03 10:19] #2285 closed, assigned to emanuele-f

[2019-01-03 10:24] emanuele-f commented on #2187
Thank you for the update

[2019-01-03 10:30] emanuele-f commented on #2287
Hi, I think this is not the kind of job ntopng should care about. This is the job of HA LDAP/Radius proxy, which could be installed between ntopng and the actual auth servers

[2019-01-03 14:29] majed17 commented on #2284
so how to request a trial license for nprobe? I just couldn't find it.

[2019-01-03 14:58] lucaderi opened #2288 "Implement hello.ntop.org DNS mapping"
When installing nEdge (in bridge mode, but if possible also with routing would be nice to have) with a dynamic IP address, unless there is a static IP address, it is hard to locate a nEdge box.

Implement the ability to use hello.ntop.org to locate the nEdge box regardless of its current IP address. This can be implemented looking at the DNS packets and in case there is a request for hello.ntop.or

[2019-01-03 18:06] Gelob commented on #2287
I suppose but I personally haven't seen a deployment like that. While a proxy could load balance in front of your auth servers you would then really need to deploy two proxy servers to make sure the proxy server isn't your single point of failure. Your proxy servers would need to run something like keepalived in order for one proxy server to take over the single virtual ip address that all of your

[2019-01-03 19:20] emanuele-f commented on #2288
Support was already present but bugged, now fixed

[2019-01-03 19:20] #2288 closed, assigned to emanuele-f

[2019-01-03 19:21] emanuele-f commented on #2284
http://www.ntop.org/support/need-help-2/contact-us/

[2019-01-03 19:23] emanuele-f commented on #2106
nEdge now runs fine on Ubuntu 18, we are testing it right now

[2019-01-03 21:34] daledude opened #2289 ""Other" parameter error: Validation error"
v.3.8.190103	[Enterprise/Professional build]
GIT rev:	3.8-stable:c45822d8c3145cd233bf26ca0be6acd6f2fa09fa:20190103
Pro rev:	r2169
Built on:	Ubuntu 14.04.5 LTS
System Id:	8958BD8CB206AB23
Platform:	x86_64
Edition:	Enterprise
License Type:	Time-Limited
Validity:	Until Thu Jan  3 21:42:33 2019

While viewing interface timeseries there is a "Other" listed for Sender/Receiver under "Minute Interface To

[2019-01-03 22:32] Gelob opened #2290 "aggregatedflows and flows directories created by root instead of ntopng user"
I enabled -F nindex, but afterwards I see errors in the logs where ntopng/nindex is unable to write to the directory and gets permission denied. When I look at the user and group owner of those directories its owned by root instead of ntopng. I'm also curious what those warnings are.

[code]

[code]

v.3.8.190102    [Enterprise/Professional build]
GIT rev:        3.8-stable:21fd1d0ddd546ee1915d201

[2019-01-04 08:40] alitvak69 opened #2291 "Missing historical explorer"
I no longer see historical explorer search interface.  I cannot  do criteria searches even though the data is dumped into mysql.

[code]

[2019-01-04 09:10] emanuele-f commented on #2291
Hi, you are using the `--community` switch which turns ntopng in community mode, while the explorer is only available in the pro/enterprise version

[2019-01-04 09:37] emanuele-f commented on #2289
The "Other" entry is not clickable in my tests, how to reproduce?

![2019-01-04_10-32](https://user-images.githubusercontent.com/5488003/50681593-061d2e00-1004-11e9-82b8-b1af52884731.png)

[2019-01-04 14:24] M9k opened #2292 "Realtime Traffic problem with disaggregation probe IP"
Hi all,
I have one probe with ~20 interfaces (Disaggregation Criterion: Probe IP), all the displayed data are correct except for the realtime traffic.
The interfaces all belong to different devices.
I only see the data from the probe itself and the first 6 interfaces (not the top ones), all with the same value over time between them or 2 value.
Sometimes the values are correct and not duplicated.

[2019-01-04 18:01] emanuele-f commented on #2292
Is the last day view correct?

[2019-01-04 18:05] emanuele-f commented on #2263
@julienmorot any update?

[2019-01-04 19:55] alitvak69 opened #2293 "Invalid Parameters"
I cannot seem to change the password after purchasing an enterprise license.  When I change the password  I get an error "Invalid Parameters" without telling me what is missing.  I also cannot add a new user for the same reason (same error).

[2019-01-06 13:04] jlct021 commented on #2268
Thank you,

Noted re double posting.

When starting with:

ntopng /c -i tcp://*:5556c  -m 192.168.88.0/24

nprobe /c --zmq "tcp://127.0.0.1:5556" --zmq-probe-mode -i none -n none
--collector-port 2055 -T "@NTOPNG@"

And going to Hosts-> Looking Glass in ntopng, I now have a list of my local
hosts.

1) Is this a representation of both LAN and WAN traffic, and if so how do
we tweak so that WAN only

[2019-01-07 08:40] emanuele-f commented on #2293
What ntopng version are you using?

[2019-01-07 10:11] M9k commented on #2292
In the last day view I see the same interfaces of realtime traffic, but the data is correct.

[2019-01-07 13:38] emanuele-f commented on #2263
Closing for inactivity, please reopen if necessary

[2019-01-07 13:38] #2263 closed, assigned to nobody

[2019-01-07 15:50] #2290 closed, assigned to nobody

[2019-01-07 16:41] lucaderi opened #2294 "Missing n2disk stats"
In ntopng with continuous recording, it is possible to see only the recording status but no stats are reported. This is a problem as it is not possible to know the recording status, drops etc. It would be enough to read from /proc

# cat /proc/net/pf_ring/stats/7302-eth0.119
Duration:          0:00:15:55:128
Throughput:        0.00 Mpps	0.00 Gbps
Packets:           97506
Filtered:          97506
D

[2019-01-07 16:49] lucaderi commented on #2258
Please implement a C++ method (e.g. cleanup()) that cleans up host counters, stats etc. and do NOT call it in the meantime. Done this we'll decide how to call it.

[2019-01-08 08:10] M9k commented on #2292
And also the Traffic Report is correct, the data is unique for each interface and I can see all of them.

[2019-01-08 09:34] majed17 commented on #2284
So I installed the license but the problem remains... i also added maximum hosts and connections

[2019-01-08 09:56] cardigliano commented on #2251
Implemented in 2002128eb43013357e9dd48a0c7af0d4bff56023

[2019-01-08 09:56] #2251 closed, assigned to cardigliano

[2019-01-08 11:45] emanuele-f commented on #2258
Initial work implemented in 8cdf051d779a684fe25aee4d8e18a4d0315e70a8

[2019-01-08 12:08] simonemainardi commented on #2277
midnight session cleanup has been implemented in 28e87d93bc6ac8ef712a27467453221e21d760c6 and 332f0c320701edb71a64f18df4a382fd1f56493d.

A new preference is now available.

![image](https://user-images.githubusercontent.com/3397663/50829920-5a971500-1346-11e9-86ed-d92200fa07f6.png)

[2019-01-08 12:08] #2277 closed, assigned to simonemainardi

[2019-01-08 12:09] simonemainardi commented on #2278
Session duration has now bee made configurable. Implementation is in 28e87d9 and 332f0c3.

Duration can be configured from a new preference.

![image](https://user-images.githubusercontent.com/3397663/50829994-9f22b080-1346-11e9-8627-50bba6c75d6e.png)

[2019-01-08 12:09] #2278 closed, assigned to simonemainardi

[2019-01-08 12:10] #2276 closed, assigned to simonemainardi

[2019-01-08 14:22] emanuele-f commented on #2284
Can you post your nprobe configuration and the new ntopng config? Can you send me a pcap at faranda@ntop.org with some netflow/sflow traffic captured by nprobe? E.g. with `tcpdump -s0 -n -i any port 2055 -w netflow.pcap`

[2019-01-08 14:34] emanuele-f commented on #2262
Notes:
- on MySQL, it requested to remove the old flows related to the host
- for nIndex it must be discussed

Due to the impact of the operation, maybe it could be better to add a toggle in the gui to decide

[2019-01-08 14:41] majed17 commented on #2284
[code]
[code]

[2019-01-08 16:31] emanuele-f commented on #2284
Thank you, there is an issue with fragmented packets, please follow https://github.com/ntop/nProbe/issues/327

[2019-01-08 16:31] #2284 closed, assigned to nobody

[2019-01-08 17:08] lucaderi opened #2295 "Automatically generate traffic reports"
ntopng has great reporting capabilities on the embedded web interface, however it falls short when sending reports via email (HTML or PDF). It would be nice to have the ability to generate reports in a way that they could be sent and shared among people without having to connect to the web interface.

Reports are requested (at least) per
- host
- network interface

and they need to be sent periodi

[2019-01-08 17:13] lucaderi opened #2296 "Add Custom IP Blacklists"
In both ntopng and nEdge, it is possible to specify some IP addresses that identify hosts with malware (see Malware Alerts). Such feature it is based on a blacklist that is downloaded overnight.

It would be nice to extend this feature making it more general, by allowing people to complement the list with additional custom lists.

[2019-01-08 19:43] #2286 closed, assigned to emanuele-f

[2019-01-08 20:07] Gelob opened #2297 "Allow DNS Resolution to be user configurable"
Would it be possible to consider having DNS resolution be user configurable? We have cases where some users are using ntopng for security/forensic analysis purposes and they don't want to see the DNS name for an IP address when viewing historical flows because that may not have been the DNS name at the time the flow occurred. Other users that are network operators viewing real time data for top ta

[2019-01-09 09:07] lucaderi commented on #288
Implemented in nDPI

[2019-01-09 09:07] #288 closed

[2019-01-09 09:31] emanuele-f commented on #251
Right now ntopng holds top 5 minutes sites for local hosts. The daily view could be implemented by keeping an additional set of sites and merging the 5 minutes top sites (possibly extended to be a 15 minutes top sites) into the daily sites. Additionally, daily sites could be stored on SQLite to provide historical exploration

[2019-01-09 10:02] emanuele-f commented on #1114
With libpcap it's only possible to know the direction of the packets in linux cooked mode (see https://github.com/the-tcpdump-group/libpcap/issues/127, see `tcpdump -e -n -i any`). Since PF_RING already provides this information, in my opinion we should suggest the installation of the PR_RING module for community users (packed versions already have this), make the footer always show in and out dir

[2019-01-09 10:17] CDawson1 opened #2298 "NTOPNG spontaneously stops exporting flows"
I've had this issue pop up a few times now and I'm not sure what the trigger is.  While we generally have overarching performance issues with our VM host, this should not be occurring at all.

I have mysql and influxdb co-existing on the same VM, and generally, it's performant enough.  But I have issues after some period of time where ntopng stops exporting flows...
![noflows](https://user-images.

[2019-01-09 10:56] emanuele-f commented on #2295
Exporting simple tabular data is not a problem. Here is an example of using wkhtmltopdf to produce a pdf from an host weekly traffic report (C bindings also exist: https://wkhtmltopdf.org/libwkhtmltox).

![2019-01-09_11-41_1](https://user-images.githubusercontent.com/5488003/50894452-31848c00-13fb-11e9-8e66-d0d09208fe1b.png)

An alternative approach could be to manually "draw" the pdf contents, bu

[2019-01-09 11:10] emanuele-f commented on #2298
in #1672 the io wait of your system was high, is this still the case? If so, probably the disk is what is limiting your export rate. Moving influxdb and mysql to separates servers could be usefull. By the way, the optimized flow database storage is now in beta, maybe it could improve your situation https://www.ntop.org/guides/ntopng/historical_flows.html

[2019-01-09 11:14] CDawson1 commented on #2298
It fluctuates, but does still have some high peaks.  But in the screenshot at the top, it's not writing anything at all at the moment.  While we'd seen issues with some dropped flows, not all of them.

From the screenshot above, we're now at...

Exported Flows | 24 [0 Flows/s] | Blocked Flows | 85,120,282 [177333920.833%]

There should be no reason it's died completely I think, regardless of the o

[2019-01-09 11:17] emanuele-f commented on #2296
This is a sample mockup for the gui:

![2018-10-11_15-07](https://user-images.githubusercontent.com/5488003/50896038-c5585700-13ff-11e9-9166-a3f5be843a26.png)

The user can click on the plus button to configure an url, poll interval, and category. We can support files in the linux hosts file format.

[2019-01-09 11:18] emanuele-f commented on #2106
Ubuntu 18 support is now official. https://www.ntop.org/announce/introducing-ubuntu-18-support-for-ntopng-edge-nedge/

[2019-01-09 11:18] #2106 closed, assigned to emanuele-f

[2019-01-09 11:23] emanuele-f commented on #2298
What's the output of `show full processlist` in MySQL? What ntopng version are you using?
Can you post the latest log from `sudo journalctl -u ntopng -g MySQL`?

[2019-01-09 11:31] CDawson1 commented on #2298
We're running v.3.6.181128 with an Enterprise license

SQL output
https://pastebin.com/0bjLSKV3

The last command; -g is a bad switch.  You looking to grep for MySQL?  If so, I did, and no results.

But I do see a lot of influxdb issues....but I wouldn't connect those dots.

[2019-01-09 11:39] emanuele-f commented on #2298
Please note that a new stable release is available, an update is strongly suggested. The MySQL problem seems related to "Waiting for table level lock". Do you have free disk space? On the web I've found this: https://superuser.com/questions/1093610/mysql-5-7-stuck-forever-waiting-for-table-level-lock

[2019-01-09 11:48] CDawson1 commented on #2298
Re: disk space, yes.  Currently only 60% utilization.

I'll take a look at the link.

You (or one of your compatriots) mentioned the move away from MySQL for various performance reasons.  Just curious if you have a guesstimate time frame as to when you'd like to see that change.

[2019-01-09 12:01] emanuele-f commented on #2298
Right now ntopng enterprise (dev version suggested) supports exporting to nIndex (the MySQL replacement, see the documentation link I sent you above) so after the initial beta period we can say that such change is complete.

[2019-01-09 12:50] CDawson1 commented on #2298
Thanks.  I'll take a look.  Do you have any better link with specifics?  EG when I update this, I assume I'll need to tweak the config file for ntopng.

I found this...

https://www.ntop.org/ntopng/say-hello-to-nindex-personal-big-data-system-for-network-flows/

Can I assume I simply need to change:

-F="mysql;localhost;ntopng;flows;ntop;password"

...to...

-F="nindex"

[2019-01-09 13:28] emanuele-f commented on #2298
Yes

[2019-01-09 14:04] emanuele-f commented on #1452
Linked to #1114.

Right now the interface timeseries data has only 1 column, bytes. In order to preserve existing data, we could rename the column bytes to bytes_rcvd and assume rx if interface has no direction. Renaming in InfluxDB requires duplicating data into a new table. In RRD, the rrd_tune api could be used (similar to https://oss.oetiker.ch/rrdtool/doc/rrdtune.en.html).

Moreover, we must

[2019-01-09 14:09] simonemainardi opened #2299 "Mark "top" aggregated flows with a flag"
Ntopng periodically creates aggregated flows (every 5 minutes). It is requested to compute the Top X aggregated flows among all the available aggregates and mark them with a flag.

The flag  will then be used for the export to facilitate certain nIndex queries.

[2019-01-09 14:29] lucaderi opened #2300 "Create metric with exported flows/sec"
Similar to what happens with NetFlow, it would be nice in ntopng to create a metric that contains the number of flow exports/sec. Likewise it would be nice to also have a graph of number of ingress flows in case of flow collection

[2019-01-09 15:17] emanuele-f commented on #2300
Implemented in e3952dbb4819d253f74d6cdf162e621d15e1057d . Zmq flow exports already monitored.

[2019-01-09 16:18] emanuele-f commented on #2291
Closing for now as solution was given and no further details provided.

[2019-01-09 16:18] #2291 closed, assigned to nobody

[2019-01-09 16:20] simonemainardi commented on #1114
- create a method iface->supportsTXRX().
- change the footer double graph to chart TX and RX if iface->supportsTXRX() else hide it
- replace the clouds with text TX and RX to make it clear what is the chart referring to
- see if tx and rx can be red from /proc when not available

[2019-01-09 16:26] simonemainardi commented on #1114
recall that interfaces have the option "Mirrored traffic"

![image](https://user-images.githubusercontent.com/3397663/50912981-a7a4e500-1433-11e9-8a01-f332ee72a4b6.png)

in this case the TX/RX must be obviously missing.

[2019-01-09 16:50] cardigliano commented on #2220
REST endpoints for downloading interface, host, alerts data have been cleaned up:

- GET /lua/get_interface_data.lua
- GET /lua/host_get_json.lua
- GET /lua/get_alerts_data.lua

They have been documented using the OpenAPI format, included in the RTD documentation using the sphinxcontrib-swaggerdoc module. Some more work is required to render examples (sphinxcontrib-swaggerdoc seems to lack support

[2019-01-09 16:51] cardigliano commented on #2252
New REST endpoints for querying the flow database have been created:

- GET /lua/pro/get_flows_data.lua
- GET /lua/pro/get_topk_data.lua

Pcap can be extracted using the live extraction endpoint:

- GET /lua/live_traffic_extraction.lua

They have been documented using the OpenAPI format, included in the RTD documentation using the sphinxcontrib-swaggerdoc module. Some more work is required to rend

[2019-01-09 16:58] CDawson1 commented on #2298
Thanks.  I'll report here (if that's suitable) as to the difference I see.  I've updated and made the config change.  Three issues as a result I see (though ntopng itself seems OK).

First, I have over 4million alerts reported, but no way to clear them.

![alerts](https://user-images.githubusercontent.com/32870121/50914530-aa510b80-142e-11e9-8c01-7d81911dd578.png)

ntopng is complaining about...

[2019-01-09 18:23] simonemainardi commented on #1452
to avoid breaking things or doing migrations:

- leave the existing schema for bytes (iface:traffic) untouched
- create an additional schema (e.g., iface:traffic_txrx) with two columns, one for the tx bytes and the other for rx bytes
- add another entry in the interface charts page, say "Traffic TX/RX", which pulls the data from the new schema and shows the stacked RX and RX bytes for the interfac

[2019-01-10 08:21] CDawson1 commented on #2298
I changed the permissions to the directory in question above and that cleared the last two issues.  Don't quite know what happened there with the upgrade.

[2019-01-10 09:25] jlct021 opened #2301 "Internet usage for Local Hosts"
Mikrotik router with NetFlow forwarding to Windows PC:

When starting with:

ntopng /c -i tcp://*:5556c  -m 192.168.88.0/24

nprobe /c --zmq "tcp://127.0.0.1:5556" --zmq-probe-mode -i none -n none --collector-port 2055 -T "@NTOPNG@"

And going to Hosts-> Looking Glass in ntopng, I have a list of local hosts.

1) Is this a representation of both LAN and WAN traffic, and if so how do we tweak so onl

[2019-01-10 09:26] emanuele-f commented on #2298
For the alerts problem, can you perform the following steps?

1) find out the interface id by selecting the interface from the ntopng interfaces dropdown, assuming 0 from now
2) run `sudo sqlite3 /var/lib/ntopng_backup/0/alerts/alerts_v7.db` where 0 is the interface id
3) run `SELECT count(*) FROM engaged_alerts;` into the interactive shell. What's the output?

Emanuele

[2019-01-10 09:37] emanuele-f commented on #2301
That view shows the local hosts sorted by a criteria. Another view which shows local hosts traffic is the Hosts -> Hosts with a filter "Local Hosts Only" from the dropdown on the right.

The traffic shown depends on the information exported by your mikrotik. [Here](https://wiki.mikrotik.com/wiki/Manual:IP/Traffic_Flow) you can find instructions on how to configure the interface to export.

Regardi

[2019-01-10 10:52] CDawson1 commented on #2298
This box doesn't use sqlite3.

[2019-01-10 11:37] emanuele-f commented on #1114
Implemented in 123743d49c3690c4cbe3abd517b5c3552b864b27 and 08a8c67966a5f7397faa2190d1a9f9bab519a850

[2019-01-10 11:37] #1114 closed, assigned to emanuele-f

[2019-01-10 11:39] emanuele-f commented on #2298
Can't you install sqlite from repositories? E.g. `sudo apt-get install sqlite3`

[2019-01-10 13:04] CDawson1 commented on #2298
I can, yes, but what's the dependency?  I didn't see anything in any docs about explicitly requiring this, nor any additional setup that was required to use it as either related to the initial install, or the upgrade from 3.6 to 3.8.

[2019-01-10 15:13] #1452 closed, assigned to emanuele-f

[2019-01-10 15:14] emanuele-f commented on #2298
This is only needed to debug the issue, it's not a dependency of ntopng

[2019-01-10 15:32] emanuele-f commented on #2289
Closing for inactivity. Please reopen if necessary.

[2019-01-10 15:32] #2289 closed, assigned to emanuele-f

[2019-01-10 15:46] CDawson1 commented on #2298
Understood.   No problem.

That said...there is no dir as you mention, specifically, /var/lib/ntopng_backup does not exist.  /ntopng does, but nothing underneath.

[2019-01-10 15:57] emanuele-f commented on #2298
sorry, that was a mistake, `/var/lib/ntopng` is the correct directory

[2019-01-10 16:09] CDawson1 commented on #2298
No worries.  In any event, there's nothing in that directory.

[2019-01-10 16:22] emanuele-f commented on #2292
I can't see too reproduce it. If you hide one or more of the interfaces, do the other show up properly? How much time to wait for the issue to appear?

[2019-01-10 16:27] M9k commented on #2292
If I hide one interface the others keep the same value, the issues appear immediately when I open the Traffic Dashboard.
If you want I can give you a TeamViewer session to see the bug, it's pretty strange and delimited to the realtime traffig graphic only.

[2019-01-11 02:27] wantaquddin opened #2302 "Unable to start after upgrade to version 3.9.190110-5943"
I've upgraded ntopng to version 3.9.190110-5943 (on Raspbian Stretch). Now it longer starts.

running "service ntopng status" displays this:
* ntopng.service - ntopng high-speed web-based traffic monitoring and analysis tool
   Loaded: loaded (/etc/systemd/system/ntopng.service; enabled; vendor preset: enabled)
   Active: activating (auto-restart) (Result: signal) since Fri 2019-01-11 10:23:31 +08

[2019-01-11 03:21] wantaquddin commented on #2302
As a temporary workaround, I've downgraded nprobe to version 8.7.181227-6356 and ntopng to version 3.9.181227-5849

[2019-01-11 08:10] emanuele-f commented on #2298
If you are using the old directory scheme then please look for /var/tmp/ntopng

[2019-01-11 08:15] emanuele-f commented on #2292
A gui access would be fine too, as you prefer, please contact me via telegram or email at faranda@ntop.org Thank you

[2019-01-11 08:31] CDawson1 commented on #2298
Only alerts_v5.db exists, and the reply is 0.

[2019-01-11 10:03] emanuele-f commented on #2298
I've commited 2384aa0f8d6d308e15480e9427ddcd06aab0c78e, please wait an hour until the new package is built, update ntopng and check if the problem is solved

[2019-01-11 10:07] emanuele-f commented on #1300
Leaving the browser open for about 2 hours leads to memory exhaustion on my system, so the issue is still present. Issue is amplified if multiple dashboard tabs are open. The issue is indeed related to the charts `update` method. By commenting it, it seems like the issue does not reproduce

[2019-01-11 10:11] CDawson1 commented on #2298
Will do.  Thanks!

[2019-01-11 11:32] #2302 closed, assigned to emanuele-f

[2019-01-11 11:34] emanuele-f commented on #2302
Please wait an hour until the new package is ready

[2019-01-11 11:57] wantaquddin commented on #2302
Noted and thanks.

[2019-01-11 12:28] emanuele-f opened #2303 "Network discovery triggers login denied alert on nEdge"

[2019-01-11 12:35] CDawson1 commented on #2298
I've just updated to the latest dev package and that in itself cleared the alerts, but it's caused more issues than not.  May roll back here in a sec...
![nodata](https://user-images.githubusercontent.com/32870121/51034084-5dd80e00-159d-11e9-828e-1bb3bddf77b2.png)

Yeah...I'm rolling back...

Jan 11 12:46:21 NTOP2 systemd[1]: ntopng.service: Main process exited, code=dumped, status=11/SEGV
Jan 11

[2019-01-11 13:40] emanuele-f commented on #2298
Crash should be fixed, the new package will available in one hour

[2019-01-11 13:58] #2303 closed, assigned to emanuele-f

[2019-01-11 14:08] cardigliano commented on #2224
Implemented with the ability to enable them globally or per device (enabled by default)

[2019-01-11 14:08] #2224 closed, assigned to simonemainardi

[2019-01-11 14:25] simonemainardi commented on #2280
video is available. will make another shorter version if necessary.

[2019-01-11 14:25] #2280 closed, assigned to simonemainardi

[2019-01-11 15:00] simonemainardi commented on #2297
please consider using

[code]

You can disable DNS resolution if not necessary.

[2019-01-11 15:00] simonemainardi commented on #2293
Closing for inactivity. Reopen with the requested information if necessary.

[2019-01-11 15:00] #2293 closed, assigned to nobody

[2019-01-11 15:02] simonemainardi commented on #2299
Implemented.

Now an extra `is_top_aggregated_flow` is passed to the dump function. Implementations can choose to save this information to database.

Commit: https://github.com/ntop/ntopng/commit/fee0fe29a6743819a4f7381af1484cbe490503f7

[2019-01-11 15:02] #2299 closed, assigned to simonemainardi

[2019-01-11 15:06] simonemainardi commented on #2216
Implemented.

Now errors and discards are shown in the device interfaces page, and alerts can be triggered when changes in errors and discards are detected.

![image](https://user-images.githubusercontent.com/3397663/51041685-c4b7f000-15ba-11e9-90f9-92347b2d57e3.png)

[2019-01-11 15:06] #2216 closed, assigned to nobody

[2019-01-11 15:12] cardigliano commented on #2221
Implemented in 2002128eb43013357e9dd48a0c7af0d4bff56023

[2019-01-11 15:12] #2221 closed, assigned to nobody

[2019-01-11 15:12] cardigliano commented on #2217
Implemented in #2224

[2019-01-11 15:12] #2217 closed, assigned to nobody

[2019-01-11 15:19] emanuele-f commented on #2292
~~The bug is a clash on the interface name (which does not consider the disaggregation criteria)~~
The bug is probably related to the use of the remote_bps data, which is not consistent when using dynamic disaggregation

[2019-01-11 15:21] emanuele-f opened #2304 "Dashboard does not handle network latency"
When latency is too high, dashboard continues to flood the server with ajax requests. Moreover, older requests are not aborted so the number of in-flight requests continues to rise

[2019-01-11 15:31] simonemainardi commented on #2297
seems `--dns-mode` is ignored when visualizing historical data, causing addresses to always be resolved. will address this.

[2019-01-11 15:42] simonemainardi commented on #2304
it is requested to start a new request only when the previous one has been executed.

This is the approach that can be followed:
[code]

I would also keep into account the latency taken by the ajax request to complete and subtract it from the new setTimeout

[2019-01-11 17:00] emanuele-f commented on #2292
@M9k the new package will be available in an hour. Please update and let me know if the issue is fixed.

[2019-01-11 18:58] emanuele-f commented on #2304
Fixed. Now a warning redirecting to the "Realtime Stats Refresh Rate" preference is shown.

[2019-01-11 18:58] #2304 closed, assigned to nobody

[2019-01-11 19:59] Gelob commented on #2297
@simonemainardi I look forward to that being fixed. I kn ow of the --dns-mode option but that is global. I know making this user configurable may not be possible or accepted now but I just wanted to put the request out there for the future should it be re-considered or the DNS code changed.

[2019-01-11 22:49] jacekkal opened #2305 "Huge (incorrect) interface traffic volume"
After starting ntopng, I got every 1 minute warnings:

I also see very huge "Received Traffic" value, which is abnormal:
Received Traffic	16777215.66 TB [18,446,744,073,330,000,000 Pkts]

[code]

[2019-01-12 08:18] mariajohnfranklin opened #2306 "Gridcoin exited. How to solve this?"
I am getting an error.
gridcoinresearchd not started.  My debug.log showing this status

1/12/19 08:14:47 Gridcoin version v4.0.1.0-g2dfe71501 (2018-11-30 19:03:02 +0100)
01/12/19 08:14:47 Using OpenSSL version OpenSSL 1.1.1  11 Sep 2018
01/12/19 08:14:47 Default data directory /root/.GridcoinResearch
01/12/19 08:14:47 Used data directory /root/.GridcoinResearch
01/12/19 08:14:47 dbenv.open LogDir

[2019-01-12 08:42] lucaderi opened #2307 "Implement interface check"
When configuring interfaces in nEdge, it is important to check with a ping if the interfaces are properly plugged or if cables are swapped.
Implement this check during configuration and report a warning when interfaces are not properly plugged. This check should also be available somewhere on the GUI for checking the interface state (and in the future other things like DNS etc) to be run as "nEdge

[2019-01-12 08:45] lucaderi commented on #2306
I think you have posted this ticket to the wrong github repository

[2019-01-12 08:45] #2306 closed, assigned to nobody

[2019-01-12 09:07] mariajohnfranklin commented on #2306
yes sorry.

[2019-01-12 16:07] simonemainardi commented on #2297
dns setting must be honored when browsing historical data. Specifically, if dns resolution is off, no dns query has to be performed.

[2019-01-12 16:08] simonemainardi commented on #2305
please, report ntopng configuration used and a screenshot of the if_stats page.

[2019-01-12 17:04] jacekkal commented on #2305
![if_stats](https://user-images.githubusercontent.com/46612634/51076096-6b23f400-1694-11e9-9c11-7c097d4e320c.png)
![runtime](https://user-images.githubusercontent.com/46612634/51076098-6f501180-1694-11e9-9fe0-f3901346a080.png)

[2019-01-13 04:06] Ryananana opened #2308 "Get Nothing in the Flow Section"
Get Nothing in the FLOW section after upgrade to 3.9.190113
![snipaste_2019-01-13_12-03-06](https://user-images.githubusercontent.com/36809659/51081491-94dc2a00-172b-11e9-85d9-995222737451.png)
![snipaste_2019-01-13_12-03-41](https://user-images.githubusercontent.com/36809659/51081492-9574c080-172b-11e9-81fd-a62b3b69c717.png)

[2019-01-13 10:02] lucaderi opened #2309 "Add icinga support in alert integration"
Currently ntopng supports nagios for alert export. As nagios is loosing momentum in favour of other tools like Icinga 2, it is requested to also integrate ntopng with Icinga.

[2019-01-13 13:43] simonemainardi opened #2310 "Unknown traffic missing from host timeseries (InfluxDB)"
host has sent traffic at 1Gbps approx.

![image](https://user-images.githubusercontent.com/3397663/51085976-ddeaa900-1740-11e9-87ad-7e223afb5b70.png)

showing the top protocols chart yields a traffic that is 1/50 of the original traffic

![image](https://user-images.githubusercontent.com/3397663/51085986-01155880-1741-11e9-9441-13920e75ff49.png)

so it seems that the vast majority of traffic is mi

[2019-01-13 14:21] simonemainardi commented on #2308
newly added file `pro/scripts/lua/get_flows_data.lua` clashes with file `scripts/lua/get_flows_data.lua` and this is causing the issue.

@cardigliano please check.

[2019-01-13 15:36] cardigliano commented on #2308
pro/scripts/lua/get_flows_data.lua has been renamed to pro/scripts/lua/get_flows_db_data.lua, building new packages right now, please check it

[2019-01-13 16:17] fsamareanu commented on #2308
New package fixes it.

[2019-01-13 16:19] cardigliano commented on #2308
Thank you.

[2019-01-13 16:19] #2308 closed, assigned to nobody

[2019-01-13 16:33] simonemainardi opened #2311 "Missing host Layer-7 Timeseries when switching from InfluxDB to RRD"
Host L7 timeseries are missing after switching from influxdb back to RRDs.

![image](https://user-images.githubusercontent.com/3397663/51087873-067e9d00-1759-11e9-938a-e0b17fdd268f.png)

After the switch I've also restarted ntopng and let it run for 14 minutes but no Layer-7 timeseries is present.

![image](https://user-images.githubusercontent.com/3397663/51087892-37f76880-1759-11e9-8bdd-1e4d28d9

[2019-01-13 18:54] lucaderi commented on #2300
![screen shot 2019-01-13 at 19 53 32](https://user-images.githubusercontent.com/4493366/51089419-f53f8b80-176c-11e9-988d-15ba0bf67bb0.png)
I can't see it in the menu

[2019-01-14 07:55] M9k commented on #2292
Fixed, thanks a lot!

[2019-01-14 08:51] emanuele-f commented on #2292
Thank you for helping me troubleshooting this

[2019-01-14 08:51] #2292 closed, assigned to simonemainardi, emanuele-f

[2019-01-14 09:21] emanuele-f commented on #2297
Please note that this was fixed then reverted after internal discussion:

Fix: ae04ad2c7c4d2bc2792530a52c394f9c38cd1716
Revert: e597592de2f218e4710a4c04ac0841bfecf17e92

[2019-01-14 10:28] simonemainardi commented on #2297
this is slightly different. What I am asking is to disable DNS resolution when `--dns-mode` is 2 or 3

[2019-01-14 13:10] #2300 closed, assigned to emanuele-f

[2019-01-14 13:52] simonemainardi commented on #2305
@emanuele-f this is a pcap interface where you do the guess of traffic from proc. Please, check if this is causing the issue. There's an insane volume of traffic.

[2019-01-14 18:20] #2311 closed, assigned to emanuele-f

[2019-01-15 08:39] emanuele-f commented on #2298
@CDawson1 any update? Have you installed the new version?

[2019-01-15 09:16] CDawson1 commented on #2298
I didn't get a chance to get to it yesterday...I'm starting on it right now though.

[2019-01-15 09:41] emanuele-f commented on #2305
@jacekkal can you post the output of `cat /proc/net/dev`? What OS are you using?

[2019-01-15 09:46] CDawson1 commented on #2298
Still having issues getting data into the UI...restarted nprobe and ntopng and...

Jan 15 09:45:56 GB-THN-LIN-NTOP2 systemd[1]: ntopng.service: Unit entered failed state.
Jan 15 09:45:56 GB-THN-LIN-NTOP2 systemd[1]: ntopng.service: Failed with result 'core-dump'.

I'll look for said dump on the assumption it wrote something somewhere...unless you can tell me where it would be first.

[2019-01-15 10:10] emanuele-f commented on #2298
Please check out https://github.com/ntop/ntopng/blob/dev/doc/README.crash on how to get a stack trace and report here the exact ntopng and nprobe version used

[2019-01-15 10:21] emanuele-f commented on #2310
Could not reproduce this in the same testing environment, closing for now

[2019-01-15 10:21] #2310 closed, assigned to emanuele-f

[2019-01-15 10:24] emanuele-f opened #2312 "Rework flow exporters"
Flow exporters (e.g. elastic search, mysql, logstash) are currently handled differently. Some of them are global per ntop instance whereas others are interface specific. As a follow up of 4feb75a152003a872d8fe9054f202cc5c54071aa, their api should be unified and they should be handled consistently (by moving all of the to a network interface)

[2019-01-15 10:48] CDawson1 commented on #2298
Using...

ntopng 3.9.190115

nprobe 8.7.190115

I'm unable to induce a crash within gdb.  It seems to be calling a different configuration file, though I've attempted to call the conf file in question with no effect.

Subsequent restarts end up with...

[code]

And is now in a restart loop.  I'm trying to induce another crash without actually changing anything.

[2019-01-15 10:53] emanuele-f commented on #2298
Are you running gdb with `sudo gdb --args ntopng /etc/ntopng/ntopng.conf` ?

[2019-01-15 10:57] CDawson1 commented on #2298
I sudo for the duration of all my sessions (maybe a bad habit...if that was the question), so yes.

Otherwise, yes, I'm running the command as shown above.

No effect one way or another.

From within gdb, I think it's also in a restart loop.
[code]

The trace shows:

[code]

[2019-01-15 11:19] emanuele-f commented on #2298
So please try to generate a core dump from the the running service and then get a stack trace from it. Please check out the following notes on how to enable core dump generation:

[code]

[2019-01-15 11:37] CDawson1 commented on #2298
Will do.  Let me add some additional messages before the service dies.  Whether these have anything to do with it, I don't know.

[code]

[2019-01-15 11:53] CDawson1 commented on #2298
It seems there is a core dump file from earlier, though it's 340+MB.  What would you like me to do with it?  Interestingly I can't seem to get it to core anymore, the process just dies and restarts every eight seconds.

[code]

[2019-01-15 11:54] #2312 closed, assigned to emanuele-f

[2019-01-15 12:19] jacekkal commented on #2305
[code]

OS: Gentoo

[2019-01-15 14:36] emanuele-f commented on #2298
Now you can run the core dump through gdb: `gdb $(which ntopng) CoreDump` and run the `bt` command. Please post the output here.

[2019-01-15 14:43] CDawson1 commented on #2298
[code]

[2019-01-15 15:41] emanuele-f commented on #2305
I've tried manually feeding the provided output into ntopng and it works fine. Please update to the latest version as I think the issue was solved in 305d2c14d42265530b626d0821d6b893fd1b7247

[2019-01-15 16:02] emanuele-f commented on #2298
Thank you. a bad check was performed on NIndexFlowDB error code, I've fixed it (new package available in one hour). Nevertheless, the flow database initialization fails because it cannot write to the flows directory. Such directory should be located at `/var/tmp/ntopng/0/flows` (assuming 0 is your interface id). This is probably a permission issue so please run a `chown -R /var/tmp/ntopng ntopng:n

[2019-01-15 16:07] CDawson1 commented on #2298
Ok.  I'll await the new build, update, and fix the permission issues.  I probably won't get back to this until the morning however.

Thanks!

[2019-01-15 20:16] jacekkal commented on #2305
I cannot see any changes on new build:
![if_stats2](https://user-images.githubusercontent.com/46612634/51207209-7a13dc00-190a-11e9-97ca-a83530b15b89.png)

[code]

![runtime2](https://user-images.githubusercontent.com/46612634/51207220-7f712680-190a-11e9-9d4b-b1303559487a.png)

/proc/net/dev:
[code]

![about2](https://user-images.githubusercontent.com/46612634/51207539-62892300-190b-11e9-9b39-41118

[2019-01-15 20:31] lucaderi opened #2314 "[nEdge] Add IPv6 support"
nEdge is currently IPv4 centric and IPv6 traffic is not currently handled. It would be nice to add support for it as people are starting to reply it in various networks,

[2019-01-16 08:59] CDawson1 commented on #2298
I've updated, but the same issue with ntopng is happening;
[code]

I'm looking to see if I can find any more detailed information as to why.

For the record, now running v.3.9.190116 and v.8.7.190115 of ntopng and nprobe respectively.

[2019-01-16 09:17] emanuele-f commented on #1300
After debugging this for some time, I come to the conclusion that this issue is probably caused by the chrome memory management, not by a memory leak. In the picture below we can notice some blue lines which correspond to the big allocations which are retained in memory after the chart updates. Such allocations disappear after some time, so memory is correctly freed.

![2019-01-15_23-46](https://u

[2019-01-16 09:20] CDawson1 commented on #2298
I see some other issues...other possible permissions issues with /storage/ntopng/0/flows.

And that seemed to do it.  So I don't know how the permissions got out of whack...but the above, and the permissions issue with /var/tmp/ntopng.  Though the permissions were seemingly OK for /storage/ntopng/0/aggregatedflows

That said, I think now it's OK.  The app seems stable, I'm getting data, the alerts

[2019-01-16 09:38] simonemainardi opened #2315 "Network Discovery broken on nEdge"
Network Discovery is broken on nEdge.

![image](https://user-images.githubusercontent.com/3397663/51239857-c5fe6980-197a-11e9-9eed-c8a5dd939f30.png)

Percentages bounce randomly and the process never terminates.

[2019-01-16 09:40] emanuele-f commented on #2298
That's good. Regarding the permission issues, maybe during the upgrade something went wrong. We've recently commited a fix for a similar issue (3559fa6f8115e28c2fc2de8b32a4d6d0f82fb21c) but that was before you updated so I think this is something different. What operating system are you using?

[2019-01-16 09:57] emanuele-f commented on #2315
After testing on the same device with an updated version of nEdge the problem does not reproduces.

[2019-01-16 09:57] #2315 closed, assigned to nobody

[2019-01-16 10:18] CDawson1 commented on #2298
Ubuntu 16.04

[2019-01-16 10:22] emanuele-f commented on #2298
Thank you, should you experience the issue again please open a new ticket. Nevertheless, since the original issue is solved I'm closing this. Please feel free to comment on performance with the new database.

[2019-01-16 10:22] #2298 closed, assigned to nobody

[2019-01-16 10:26] emanuele-f commented on #2307
We came to the conclusion that the easiest way to implement this is by sending an ARP request and waiting for a reply on the physical network interface in a similar way as the network discovery does. This should be exposed to lua via an api (possibly a blocking call).

[2019-01-16 10:31] emanuele-f opened #2316 "Unify Protocol/Application labels"
Right now ntopng mixes use of "Protocol" and "Application" labels. With "Protocol" we should refer to L3 protocol information (e.g. ICMP), whereas with "Application" we should refer to the L7 application.

[2019-01-16 10:36] simonemainardi commented on #2316
- L4 information should be referred to as protocol (e.g., TCP, UDP, ICMP)
- L7 should be referred to as Application

[2019-01-16 10:50] simonemainardi commented on #1300
please test it with FireFox as well as users are reporting the same issue occurs with it.

[2019-01-16 12:10] emanuele-f commented on #1300
The firefox memory management regarding this issue seems better, memory does not get exhausted with it (tested with 5 tabs open) on a 30 minutes interval.

[2019-01-16 12:10] #1300 closed, assigned to simonemainardi, emanuele-f

[2019-01-16 15:16] simonemainardi opened #2317 "Duplicated menu Entry when nIndex is Enabled"
![image](https://user-images.githubusercontent.com/3397663/51258375-1f31c180-19aa-11e9-96b7-ae29b9d3d5ae.png)

[2019-01-16 15:18] CDawson1 opened #2318 "Host pool creation issues in 3.9 dev - settings changes in UI do not persist"
Having recently updated and addressed issues with migrating from MySQL to nIndex, I'm now looking to expand some functionality of ntopng.  I need to create (at the moment) nearly 100 host pools.  I don't know any easy way to do this, but I've found a semi-efficient way via the UI.  However, I've been met with the pools I've created disappearing.

At first, I created multiple empty pools at once, a

[2019-01-16 15:51] CDawson1 commented on #2318
Sorry...this was a self inflicted issue.  I've had  --disable-login=1 in the config...

Disabled that and logged in properly and all is well.

Might I suggest adding features that make it blatantly obvious if you don't have elevated privileges?

[2019-01-16 15:53] CDawson1 commented on #2318
Sorry...closed this thinking it was a self inflicted issue...but it's not.  Issue remains.

In fact, it looks as though any changes in the UI do not keep.  EG I have the refresh rate set to 2 sec, and changing it does not persist.

[2019-01-16 16:02] #2317 closed, assigned to emanuele-f

[2019-01-16 16:14] emanuele-f commented on #2305
Which compiler are you using? I've just added a debug print, please add the `-v 6` option to ntopng and filter the output with `ntopng your_ntopng_options_here -v 6 | grep iface_counters`. Please compare the output with the contents of `/proc/net/dev` and post it here.

[2019-01-16 16:27] emanuele-f commented on #2318
I can correctly create multiple pools (even though the plus button should only be used one, I'm going to fix this). Please check the uptime of ntopng as it very strange that they disappear suddenly. A remote access would be useful to see the exact issue (e.g. teamviewer or gui access), please email me at faranda@ntop.org if that's feasable.

Regarding `add_row_untyped`, this is a warning used inte

[2019-01-16 16:32] #2301 closed, assigned to nobody

[2019-01-16 16:33] CDawson1 commented on #2318
Thanks.  I'm sending you an email now.  Re: uptime...I'd not noticed as I though it was stable...but it seems that's not the case.  It's only 1m as I type.

[2019-01-16 16:47] CDawson1 commented on #2318
Looks like it's dying after about five minutes.

[2019-01-16 17:01] lucaderi opened #2319 "sFlow Ratio is zero"
![screen shot 2019-01-16 at 17 58 11](https://user-images.githubusercontent.com/4493366/51265187-822a5500-19b8-11e9-8f37-779b92c99876.png)
In sFlow switches export both packet and counter samples. Using them it is possible to upscale traffic and see the discrepancy (or ratio) between sFlow and SNMP counters exported via sFlow without having to collect them with SNMP. In this above screenshot ratio

[2019-01-16 17:03] lucaderi opened #2320 "Repeated notes section"
![screen shot 2019-01-16 at 18 02 21](https://user-images.githubusercontent.com/4493366/51265379-f49b3500-19b8-11e9-9236-ee917bb7b4aa.png)
In the URL below
http://xxxx:3000/lua/pro/enterprise/flowdevices_stats.lua?ip=xxxxx&page=historical
there are two nested notes section

[2019-01-16 17:05] lucaderi opened #2321 "Rework sFlow Menu"
![screen shot 2019-01-16 at 18 04 05](https://user-images.githubusercontent.com/4493366/51265468-23191000-19b9-11e9-8c01-577e67e4cd09.png)

The sFlow menu is not arranged at best as there are sections that seems to overlap such as Flow exporters and sFlow devices

[2019-01-16 17:18] #2297 closed, assigned to emanuele-f

[2019-01-16 17:22] emanuele-f commented on #2318
I've provided by email instructions for stack trace generation, please post it when possible.

[2019-01-16 17:27] jacekkal commented on #2305
Architecture is 64-bit.
Compiler: gcc/g++ (depending on directory, but g++ for ntopng/src) version 7.3.0

[code]
[code]

Could it be connected with grsec patch on kernel, restricting access to /proc? But the first read was correct.

EDIT: I think it could be /proc restriction.
From "-v 6" output:
[code]

[2019-01-16 17:46] emanuele-f commented on #2320
Fixed

[2019-01-16 17:46] #2320 closed, assigned to emanuele-f

[2019-01-16 17:50] emanuele-f commented on #2305
It seems like it's caused by grsec, the strange thing is that fopen succedes, let's see how to fix this.

Edit: this same behavior has been reported here https://serverfault.com/questions/759964/why-does-cat-proc-net-dev-show-only-0-for-non-root-users

[2019-01-16 18:08] emanuele-f commented on #2305
Please check out the new version, should be detected in commit 5cf98e0b4b8fe938a390c50b61db520b6b49e3d4

[2019-01-16 21:27] jacekkal commented on #2305
It is working now fine.
Thank you.

[2019-01-17 10:13] #2305 closed, assigned to emanuele-f

[2019-01-17 12:13] xisafe commented on #1928
bro IDS

[2019-01-17 15:24] CDawson1 commented on #2318
So this was semi-self inflicted after all in that there were other directories that had permissions issues.  Though given the difference with using MySQL and nIndex...don't know where or how that would have occurred. With the help of Emanuele, this seems resolved at the moment as we've been stable for nearly 90m now.

[2019-01-17 16:08] emanuele-f commented on #2318
Thank you for reporting

[2019-01-17 16:08] #2318 closed, assigned to emanuele-f

[2019-01-17 18:43] s2105 opened #2322 "AS Number shows 0"
Hello,
We are using ntopng community edition v.3.4.180531. We are trying to get AS number data but it shows as zero.

<img width="1191" alt="screen shot 2019-01-17 at 11 43 27 am" src="https://user-images.githubusercontent.com/22646495/51340808-26f67200-1a4d-11e9-9c2d-ff56fde10ef5.png">

[2019-01-18 09:05] emanuele-f commented on #2322
Hi, you are using an old version, please update to the current stable (3.8) or dev (3.9) http://packages.ntop.org. If building from source, please also make sure to download the geoip database with `make geoip`.

[2019-01-18 16:58] emanuele-f opened #2323 "Remote hosts are not serialized when sticky option is set"
When setting sticky hosts to `remote` or `all` it is expected to dump and restore remote hosts. This does not happen right night now as the `Host::serialize2redis` is empty (only local hosts can be serialized and restored).

[2019-01-18 18:09] emanuele-f opened #2324 "Per member quotas are not used in nEdge"
Per member quotas are implemented but not used by nEdge. We should decide to keep them (adding gui controls and test that they work properly) or remove them.

[2019-01-19 04:28] cmessin1 opened #2325 "Issue with ZMQ Server Function - Port not listening"
I am actually having the same issue on both ntopng and nprobe.

I have deployed on Ubuntu 16.04 via the official NTOP repositories.  I have also tried "apt upgrade" and rechecked.  I have tried setting both ntopng and nprobe as the zmq server function (at different times) and in both cases standard output is showing the port is coming up.  However, if I run "netstat -a"  I do not see the zmq port.

[2019-01-21 08:14] simonemainardi opened #2327 "Add Historical Charts of flow collection drops as reported by nProbe"
The latest nProbe keeps into account flow collection drops and sends them to ntopng over ZMQ. It is requested to collect these drops, display them in the gui, create timeseries, and raise alerts

[2019-01-21 08:34] simonemainardi commented on #2325
Please, paste the full output of ntopng. If it cannot create/connect to the ZMQ endpoint, it should report the error in the log.

[2019-01-22 09:25] swathikothapu commented on #874
?????  Identify and capture all ntopng flow fields through lua script and also analyze how all ntopng flow fields gets restricted while passing through Logstash??????

[2019-01-22 12:46] sachsgiri opened #2328 "-F "nIndex" does not dump flows if pcaps are given with -i"
I am running follwing version of ntopng :

v.3.9.190121  [Enterprise/Professional build]
GIT rev:  dev:2755b18dee5c281dd30ba640cb6f53433301bd95:20190121
Pro rev:  r2209
Built on:  Ubuntu 18.04.1 LTS
System Id:  BExxxxxxxxxxAF2
Platform:  x86_64
Edition:  Professional
License Type:  Permanent

I run following command :

time ntopng -r myredis:6379@1 -F "nindex" -i /var/data/pca
ps/gmail.pcap --shut

[2019-01-22 15:12] simonemainardi commented on #2325
closing for inactivity, reopen with the requested information if necessary.

[2019-01-22 15:12] #2325 closed, assigned to nobody

[2019-01-22 15:13] simonemainardi commented on #2322
solution given. closing.

[2019-01-22 15:13] #2322 closed, assigned to nobody

[2019-01-22 15:20] simonemainardi commented on #2323
Sticky hosts refer to the ntopng ability to prevent hosts from expiring from memory and this works OK.

The serialization/deserialization functionality is not directly related to this. By design, the serialization/deserialization is always done only for local hosts as it could be uncontrollably costly to perform such tasks for all the hosts.

[2019-01-22 15:20] #2323 closed, assigned to nobody

[2019-01-22 15:27] simonemainardi commented on #2258
implemented both for mac addresses and l3 hosts

[2019-01-22 15:27] #2258 closed, assigned to emanuele-f

[2019-01-22 16:27] s2105 commented on #2322
Thank you for your help.

[2019-01-23 15:17] simonemainardi commented on #2327
drops reported in the GUI and also as historical timeseries

![image](https://user-images.githubusercontent.com/3397663/51614192-6cbbaa80-1f25-11e9-98e4-5419ca177a1d.png)

![image](https://user-images.githubusercontent.com/3397663/51616279-084f1a00-1f2a-11e9-9bb4-e24c2e1caa38.png)

[2019-01-23 15:17] #2327 closed, assigned to nobody

[2019-01-24 00:37] Gelob opened #2329 "nindex historical query searches can make ntopng non-responsive"
We ran a historical query against an IP for nindex for a month long period, after 10 minutes the query still didn't return any results and the ntopng interface stopped responding as a result we had to restart ntopng. I've replaced the actual IP in the query. I'm happy to run it again to help debug if needed. I understand some queries may take a long time but they should run independent of the ntop

[2019-01-24 07:40] engee974 opened #2330 "Gauge at bottom page with 0 bps for upload traffic"
![image](https://user-images.githubusercontent.com/5074983/51662213-924fbf00-1fcc-11e9-8224-4c019779b5e8.png)
As you can see, the gauge displays 0 bps for the upload traffic.

[2019-01-24 11:20] simonemainardi commented on #2330
This can be normal for example if you are connected to a mirror port. Is this your case? If so, please, visit the ntopng interface preferences page and make the interface with 'mirrored traffic'

[2019-01-24 11:22] simonemainardi commented on #2329
this should have already been addressed by @emanuele-f. What is the ntopng version you are using?

[2019-01-24 11:55] simonemainardi opened #2331 "Use jdkson to produce JSON in get_host_data.lua"
currently the JSON in the file above is generated manually. It is requested to modify it to use lua library dkjson

[2019-01-24 12:43] engee974 commented on #2330
Before the update (apt-get update && apt-get upgrade) it wasn't at 0 bps.
That's why an issue is opened.
Yes the interface is in a mirror port

[2019-01-24 13:15] swathikothapu commented on #460
DPI- deep Inspect packets from MySQL (ubuntu machine) and access MySQL at  centOS machine and sniff packets

**) How to do this

[2019-01-24 13:33] simonemainardi commented on #2330
so this is normal.

before the update it was showing

- remote 2 local
-local 2 remote

traffic but this was causing confusion among the users that prefer to think in terms traffic received and sent from the interface.

[2019-01-24 13:33] #2330 closed, assigned to nobody

[2019-01-24 13:38] engee974 commented on #2330
is there a release note about that change ?
What is the solution for me ?
Downgrade the version ?

[2019-01-24 14:01] #2331 closed, assigned to nobody

[2019-01-24 14:09] simonemainardi commented on #2330
@emanuele-f please provide a link to the release change.

[2019-01-24 14:21] engee974 commented on #2330
I understand why you did that.
But what i need is a way to quickly read UPLOAD and DOWNLOAD traffic.
Now UP & DOWN are mixed up.

[2019-01-24 15:37] simonemainardi commented on #2330
nothing is mixed up. you were used to local-2-remote and remote-2-local which are not upload and download.

[2019-01-24 15:50] engee974 commented on #2330
I may be wrong.
Before the update (with the same configuration) for me Upload was local to remote and download was remote to local.
What do i see now ? It’s an aggregation of both traffic (what i call « mixed up »).
Remember that few seconds before the update both graph were correct for me and upload was about 200Mbps.

[2019-01-24 15:56] engee974 commented on #2330
Question : what is that gauge for ?
Only a view of the interface activity ?
Or à view off the analyzed traffic ?

[2019-01-24 20:00] engee974 opened #2332 "Bottom gauge and graphs : analyzed traffic mode"
Hi,
The bottom gauge and graphs have changed. The new behavior doesn’t match anymore with my need.
My NTOPNG is connected to mirrored ports to analyze the traffic between my network (local) and the rest of the internet (remote).
Upload traffic is the traffic from my network to the internet and download traffic is the traffic from the internet to my network.
I need a quick view of the analyzed traf

[2019-01-24 22:09] Gelob commented on #2329
I always forget that critical part. 3.8.190110 https://github.com/ntop/ntopng/commit/07f4b7ef21b4934e8b8513613f96a89dd94dad9c

[2019-01-27 14:24] ghost opened #2334 "test"
testing

[2019-01-27 14:24] #2334 closed, assigned to nobody

[2019-01-28 08:52] emanuele-f commented on #2329
Can you describe the exact step to reproduce it? Can you see this dialog appearing?

![2019-01-28_09-44](https://user-images.githubusercontent.com/5488003/51824353-e7941500-22d9-11e9-9ea5-f1fd0bf31bad.png)

[2019-01-28 09:22] emanuele-f commented on #2330
If you are monitoring mirrored traffic, then you should tick the "Mirrored Traffic" option https://www.ntop.org/guides/ntopng/web_gui/interfaces.html?highlight=mirrored%20traffic#settings . By doing so, the bottom graph in question will be hidden because, as you noted, it would be inconsistent to show the `in` and `out` directions as mirrored traffic only has a `in` direciton.

[2019-01-28 10:53] engee974 commented on #2330
So you answer my question : that bottom gauge and graphs is only to monitor the interface, not the analyzed trafic. Am i right ?

So before the upgrade why did that graphs be working perfectly for my need ?
Did you fix a bug ?

[2019-01-28 11:44] emanuele-f commented on #2328
This is caused by https://github.com/ntop/ntopng/blob/dev/src/PcapInterface.cpp#L138 . The fix will prevent the removal of the flows directories if `-F nindex` is specified.

[2019-01-28 11:47] emanuele-f commented on #2330
Before the patch: the bottom chart displayed local vs remote traffic (affected by the `-m` option).
After the patch: the bottom chart displays interface in vs out traffic. When using pf_ring, however, the chart actually displays the *monitored* in/out traffic.

[2019-01-28 12:16] #2328 closed, assigned to emanuele-f

[2019-01-28 15:52] Gelob commented on #2329
@emanuele-f on the nindex.lua page directly where you would query raw flows, I don't see that pop-up appear. I ran a query that took 26seconds which isn't that long but I'm not sure after how long that message should appear or if its implemented on that page.

Example URL:
`https://ntopng/lua/enterprise/nindex.lua?select_clause=*&where_clause=%28IPV4_SRC_ADDR%3D 1.1.1.1+OR+IPV4_DST_ADDR%3D 1.1.1.1

[2019-01-28 16:11] #2316 closed, assigned to emanuele-f

[2019-01-28 18:56] lucaderi opened #2336 "Remote hosts invalid router assignment"
Remote hosts are sometimes marked as routers, as the are confused with the local LAN router. This happens also when the interface is receiving mirrored traffic (preferences).

[2019-01-28 18:59] lucaderi opened #2337 "Routers should have no OS associated"
Sometimes a router has associated an OS (e.g. Android or Windows) as ntopng wrongly assumes that this is either a router (but it's not). Usually the problem is that a remote host is not a router (as it's just a PC) but ntopng wrongly assumes that it's a router

[2019-01-29 06:54] chougulepavan opened #2338 "Reset host counter"
Can I reset the individual host counter, just like I can do it for the interface?

[2019-01-29 08:58] emanuele-f commented on #2338
Yes, this is possible with the latest dev version.

![2019-01-29_09-57](https://user-images.githubusercontent.com/5488003/51896284-019a2a00-23a4-11e9-9e94-516e4e128cd1.png)

[2019-01-29 09:02] emanuele-f commented on #2329
Said that the explorer page is somehow a "debug page" for now, it is nevertheless necessary to add a way to interrupt the query at some point (e.g. when the browser tab is closed, resulting into a connection close)

[2019-01-29 09:24] swathikothapu commented on #1797
how all ntopng flow fields gets restricted while passing through Logstash

[2019-01-29 09:25] swathikothapu opened #2339 "how all ntopng flow fields gets restricted while passing through Logstash"

[2019-01-29 09:56] swathikothapu commented on #1647
dpkg -l | grep ntopng , command not found

[2019-01-29 11:02] simonemainardi commented on #2339
no description provided. unable to respond. provide detailed description of what you are trying to achieve.

[2019-01-29 11:02] #2339 closed, assigned to nobody

[2019-01-29 18:57] m4ntic0r commented on #2332
Hi

Same problem for me here. I updated ntopng and now the graph only shows "download traffic". I use port mirroring on my network switch and on the mirrored port there is my wan router.

Is there an option to change it back to old behaviour?

[2019-01-30 09:20] swathikothapu opened #2340 "Invalid nprobe licence"
I’m having issues regarding nProbe, it’s telling me Invalid nProbe license (/etc/nprobe.license) [License mismatch error].

![image](https://user-images.githubusercontent.com/37098746/51971108-6df95400-249e-11e9-95eb-9b9c4a05deb6.png)

[2019-01-30 09:59] lucaderi opened #2341 "Add ability to extract timeseries in host/interface graphs"
it would be nice to add a new button that allows to extract in text format the timeseries values currently visualised

[2019-01-30 10:01] lucaderi commented on #2252
Please update the REST calls according to the fix of https://github.com/ntop/ntopng/commit/36b34389ac4976471a55b9a25a2f36a781f1b9dd and update the documentation

[2019-01-30 10:01] lucaderi commented on #2220
Same as #2252

[2019-01-30 10:44] chougulepavan commented on #2338
Yes, found it. Thank you..!!

[2019-01-30 10:44] #2338 closed, assigned to nobody

[2019-01-30 13:19] cardigliano commented on #2220
Endpoints renamed to:

/lua/rest/get/interface/data.lua
/lua/rest/get/host/data.lua
/lua/rest/get/alert/data.lua

[2019-01-30 13:19] cardigliano commented on #2252
Endpoints renamed to:

/lua/pro/rest/get/db/flows.lua
/lua/pro/rest/get/db/topk_flows.lua
/lua/rest/get/pcap/live_extraction.lua

[2019-01-30 15:02] #2329 closed, assigned to lucaderi, emanuele-f

[2019-01-30 15:03] emanuele-f commented on #2329
The query is now aborted if the browser tab is closed or the abort button is pressed in case of the charts page

[2019-01-30 15:08] emanuele-f opened #2342 "Document timeseries schemas and add more query examples"

[2019-01-30 15:41] simonemainardi commented on #2336
fixed using the concept of broadcast domain:

- ipv6 https://github.com/ntop/ntopng/commit/183dfa41f945a5dff080a6b3c816261b5662c94d
- ipv4 https://github.com/ntop/ntopng/commit/92b722e6f364acb26e1c2c5ddd43efd111d44a1d

[2019-01-30 15:41] #2336 closed, assigned to simonemainardi

[2019-01-30 15:43] simonemainardi commented on #2340
in the screenshot is telling 'missing license file'. make sure file /etc/nprobe.license exists and is readable.

[2019-01-30 16:30] cardigliano opened #2343 "ntopng --version hangs for a while if redis is not running"
When you run ntopng --version, it waits for a while (>10s) trying to connect to redis in order to check the license (in case it is stored on redis). This should be somehow avoided (as this is also used by user interfaces like nBox and should return immediately), with a shorter timeout or with an option to avoid checking the license when the caller needs the version only.

[2019-01-30 17:09] swathikothapu commented on #2340
Thank you sir, sure i will check that.

On Wed, Jan 30, 2019 at 9:13 PM simonemainardi <notifications@github.com>
wrote:

[2019-01-31 08:20] chougulepavan opened #2344 "32bit arch support"
Hi, Will new ntopng version(3.9) support 32bit FreeBSD arch? If I compile new ntop for 32bit arch from the source will that binary work?

[2019-01-31 08:45] emanuele-f commented on #2344
Hi, no official support for 32bit OS, but if you manually compile there should be no problem

[2019-01-31 08:55] chougulepavan commented on #2344
I did try that, compiled manually but when tried to run the binary, getting a segmentation fault(core dump).

[2019-01-31 09:03] emanuele-f commented on #2344
Please see https://github.com/ntop/ntopng/blob/dev/doc/README.crash to get a stack trace. Also ensure that your are using the latest ntopng version

[2019-01-31 10:17] simonemainardi commented on #2319
Implemented under the sFlow devices

![image](https://user-images.githubusercontent.com/3397663/52047640-bb7ecb00-2549-11e9-90e9-c0237f525c72.png)

[2019-01-31 10:17] #2319 closed, assigned to nobody

[2019-01-31 10:17] #2340 closed, assigned to nobody

[2019-01-31 10:48] jean-christophe-manciot opened #2345 "Some numeric IPs are not resolved"
Debian buster
ntopng 3.8+dfsg1-2~1.gbp2947dc
ndpi 2.6-3
curl 7.63.0-1
[About page](https://user-images.githubusercontent.com/13176858/52048581-0c8fbe80-254c-11e9-9a55-c9dc453fd727.png)

1. ```-n=1```in ```/etc/ntopng/ntopng.conf```
2. The **/etc/hosts file is not used** in "all hosts" page; this results in unresolved local subnet IPv4 & IPv6 addresses
3. **Some remote IPv4/IPv6 addresses are unres

[2019-01-31 12:33] emanuele-f commented on #2345
Issues addressed in

f2e610d1ea528adffe169e22c2fd7ec46daac68d and 72c155f2b58a6803899a6c84fe324d65e22fcd0f . Please wait an hour until the new package is available.

[2019-01-31 12:33] #2345 closed, assigned to emanuele-f

[2019-01-31 13:13] Ambarish-kj opened #2346 "API for reset host counter"
Is there any API to reset the traffic stats for a specific host via LUA ?

[2019-01-31 13:40] lucaderi opened #2347 "Rename nEdge binaries"
Having nedge named as ntopng is misleading for many users. Please rename ntopng to nedge and update packages accordingly

[2019-01-31 13:45] lucaderi opened #2348 "Invalid package dependencies"
When updating ntopng, PF_RING dependencies are also updated. However it's wrong that also  apt-ntop is updated that has nothing to do with this

root@ubuntu:/home/deri# apt-get upgrade
Reading package lists... Done
Building dependency tree
Reading state information... Done
Calculating upgrade... Done
The following packages will be upgraded:
  apt-ntop n2n ndpi ntopng ntopng-data pfring pfring-dkms

[2019-01-31 14:14] emanuele-f commented on #2346
Yes, please use `interface.resetHostStats(host_ip)`. I'll adding it to the documentation. Please note that the host must be active

[2019-01-31 14:14] #2346 closed, assigned to nobody

[2019-01-31 14:45] lucaderi opened #2349 "Add ability to configure per-port alerts"
In SNMP all port alerts such as the one below are alike

[30/01/2019 10:31:40][Interface Status Change]: Interface 7 on SNMP device A.B.C.D changed its status to Down

and in case a port goes up/down a mail can be sent. However not all ports are important and thus emails for some ports are useless if not annoying.

It is requested to adde the ability to configure the alert generation on ports (e.g

[2019-01-31 15:34] emanuele-f commented on #2341
Implemented ![2019-01-31_16-33_1](https://user-images.githubusercontent.com/5488003/52065027-a320a780-256d-11e9-91b9-355beed3f22c.png)

[2019-01-31 15:34] #2341 closed, assigned to emanuele-f

[2019-01-31 15:55] emanuele-f commented on #2180
Initial work: 229c3b13c9339b1ed3c8bcf77fe5dabe6b0b4e0d

[2019-01-31 15:57] emanuele-f commented on #1054
This is now implemented. See `Midnight Stats Reset` in Cache Settings

[2019-01-31 15:57] #1054 closed, assigned to simonemainardi, emanuele-f

[2019-01-31 17:36] lucaderi opened #2350 "Suggest InfluxDB when monitoring many hosts"
The InfluxDB backend has several advantages in both performance and scalability when monitoring many hosts.
It is requested to implement a warning message (similar to the one used for the migration) when still using RRDs with many local hosts (e.g. > 500, just pick a threshold) or several timeseries dumped

[2019-01-31 18:04] jean-christophe-manciot opened #2351 "The downloaded configuration does not contain anything from the default and non-default preferences"
Debian buster
ntopng 3.8+dfsg1-2~1.gbp2947dc
ndpi 2.6-3
curl 7.63.0-1
[About page](https://user-images.githubusercontent.com/13176858/52048581-0c8fbe80-254c-11e9-9a55-c9dc453fd727.png)

1. Modify some configuration items in ```Preferences```
2. Download the configuration with ```Backup Configuration```
3. ```ntopng_conf_backup.tar.gz``` is empty

[2019-02-01 04:36] chougulepavan commented on #2344
Thanks Emanuele for quick followup.
Found the problem it is because of libcrypto library, SSH required libcrypto.so.7 and ntopng require libcrypto.so.9 and as per the gdb output these library causing segmentation fault, copied gdb output below,
root@:~/build/ntopng # gdb ./ntopng
GNU gdb 6.1.1 [FreeBSD]
Copyright 2004 Free Software Foundation, Inc.
GDB is free software, covered by the GNU General

[2019-02-01 09:00] emanuele-f commented on #2344
Ok, do you think there is something to fix our side (e.g. Makefile or conditional compilation) or this is something you can fix in your system?

[2019-02-01 09:42] emanuele-f commented on #2351
I cannot reproduce the issue. This is the top level archive contents:
![2019-02-01_10-32](https://user-images.githubusercontent.com/5488003/52114604-6227a200-2604-11e9-9bff-53ca54592bde.png)

Then going into the `.` directory shows:

![2019-02-01_10-32_1](https://user-images.githubusercontent.com/5488003/52114603-618f0b80-2604-11e9-832b-d622a6294e88.png)

[2019-02-01 14:08] zimbawe998 opened #2352 "Clod App Network Impact Report"
Enterprise Customer ask for a report and live view about what is the bandwidth impact about cloud application o365, Google, SalesForce etc

[2019-02-01 14:08] #2350 closed, assigned to emanuele-f

[2019-02-01 14:09] zimbawe998 opened #2353 "nTop distro"
It could be more better to have a dedicated and optimized nTop OS and specific ISO to avoid Linux/Windows OS Problems and use it as batter as possible

[2019-02-01 14:11] zimbawe998 opened #2354 "Host identifcation flow"
Enterprise Customer has the network developed on Layer 3. Actually the flow show all the IP conversation with the same internal MAC Address and it's difficult when you create Host group and so on.
It could be better to ask or something to switch to enable layer2/layer3 flow ibased inventory

[2019-02-01 15:24] jean-christophe-manciot commented on #2351
@emanuele-f
What ndpi/ntopng releases are you using?

[2019-02-01 15:30] emanuele-f commented on #2351
nDPI is not an issue here, I've tested it with the latest stable ntopng_3.8.190131-6037 . It seems like you are using the debian maintained version. Please test the version from our repos http://packages.ntop.org/apt-stable/

[2019-02-01 15:43] #2347 closed, assigned to simonemainardi, emanuele-f

[2019-02-01 15:50] emanuele-f commented on #2352
You can use ntopng to monitor the protocols bandwidths. Please check out the relevant pages of the manual:

https://www.ntop.org/guides/ntopng/web_gui/dashboard.html#dashboard-in-the-professional-version
https://www.ntop.org/guides/ntopng/web_gui/interfaces.html#protocols
https://www.ntop.org/guides/ntopng/web_gui/historical.html#historical-charts

For protocols not directly recognized by nDPI (th

[2019-02-01 15:50] #2352 closed, assigned to nobody

[2019-02-01 15:57] emanuele-f commented on #2353
We prefer to keep interoperability and let our users decide the OS of choice. Maintaining a custom ISO requires some efforts, we have built dockers images in the past but did not update anymore. Right now we prefer to ease the ntopng installation and setup. Anyway, installing ntopng and configuring it for a basic setup is quite simple, please check out:

http://packages.ntop.org
https://www.ntop.o

[2019-02-01 15:57] #2353 closed, assigned to nobody

[2019-02-01 15:59] emanuele-f commented on #2354
Layer 2 visibility depends on your network and monitoring configuration. I have clear the question, please elaborate

[2019-02-01 16:02] emanuele-f commented on #2332
Not possible right now, however we may support both modes by the means of a user preference, still discussing this internally with my colleagues before proceeding

[2019-02-01 16:06] emanuele-f commented on #2314
Here is a (possibly partial) checklist:

- use ip6tables to insert rules
- keep both ipv4 and ipv6 local ips
- add ipv6 support in captive portal
- conntrack: read ipv6 fields
- GUI: add the ability to specify a ipv6 addresses and configuration (possible both ipv4 and ipv6)
- Configure and start DHCPv6 server
- ipv4_utils: support for operations on ipv6 addresses
- nDPI: ndpi_add_string_value_to_a

[2019-02-01 16:32] jean-christophe-manciot commented on #2351
@emanuele-f
Your link contains only stable builds for ancient distributions. The development builds are not accessible and they are probably not built for the development distributions such as Debian buster and Ubuntu disco.

I've been trying to build the latest ntopng sources containing your recent fixes in the stable branch, but so far unsuccessfully: cf. [FTBFS issue regarding nDPI](https://git

[2019-02-01 16:51] emanuele-f commented on #2351
You are right, no support for buster yet, sorry for the wrong info. Btw, maybe you can remove dpdk and compile nDPI without it just to test this issue.

[2019-02-01 17:00] JasonMarkowitz opened #2355 "Unable to Compile on Openbsd -- NetworkInterface.o"
/mnt/remote/compiles/ntopng/include/NetworkInterface.h: In member function 'void NetworkInterface::decAlertLevel()':
/mnt/remote/compiles/ntopng/include/NetworkInterface.h:623: warning: comparison is always false due to limited range of data type
g++ -g -Wall -I/mnt/remote/compiles/ntopng -I/mnt/remote/compiles/ntopng/include -I/usr/local/include -I /mnt/remote/compiles/ntopng/third-party/hiredis

[2019-02-01 17:09] JasonMarkowitz commented on #2355
FYI this is a build on 3.8-stable.

[2019-02-02 10:58] jean-christophe-manciot commented on #2351
I was able to build ntopng from sources (76f35c4a3e46c91dd5dc1b219e900efb6735a9a6) without dpdk support, but starting it  as a daemon seems to work, but in reality it is useless: nothing happens
[code]

[2019-02-02 11:00] jean-christophe-manciot commented on #2351
Starting it manually is the same: nothing happens:
[code]

[2019-02-02 16:17] jean-christophe-manciot commented on #2351
@emanuele-f
I've decided to rebuild both ndpi & ntopng from the latest commit on their dev branch and with DPDK support now:
- **ndpi**: 20190131.2ec41c1 (1.8-1004-g2ec41c1) --> [deb available for Debian buster](https://git.sdxlive.com/DR/tree/Debian/pool/unstable/n/ndpi)
- **ntopng**: 20190201.10468d8 (3.0-2876-g10468d83) --> [deb available for Debian buster](https://git.sdxlive.com/DR/tree/Debia

[2019-02-02 18:09] jean-christophe-manciot commented on #2351
I purged all related packages to restart from scratch, including without a /var/lib/redis/dump.rdb and reinstalled them.
**I had to manually create a ```/var/lib/ntopng``` with the expected ntopng:ntopng user:group**. I did not see that in the [docs](https://www.ntop.org/guides/ntopng/how_to_start/index.html), maybe I missed something. I noticed that expectation when running ```ntopng -v 6 /etc/nt

[2019-02-03 05:46] HoseinKashefi commented on #2282
Dear Simone
would you please tell me if there is any update.

[2019-02-03 09:11] rafal-almusawi commented on #1666
@cardigliano how about if we have Napatech Card?

[2019-02-03 09:12] cardigliano commented on #1666
Please use the SN provided by "pfcount -L -v  1"

[2019-02-03 09:16] rafal-almusawi commented on #1666
@cardigliano i already use that and place it in /etc/pf_ring
is the file name should be the SN without dashes ?

[2019-02-03 09:46] cardigliano commented on #1666
Please use just the SN as provided by pfcount, dashes included

[2019-02-03 09:53] rafal-almusawi commented on #1666
Thanks its working

[2019-02-04 09:36] emanuele-f commented on #2355
You should probably search on the internet for such errors and try to figure out what to fix. I don't have a openbsd system to test this right now

[2019-02-04 09:40] emanuele-f commented on #2351
Please check out `__datadir/runtimeprefs.json`, it contains the preferences dump.

[2019-02-05 15:52] lucaderi opened #2356 "Add per host malicious flow counter"
When a flow ends, it is possible to decide whether the flow was kind of suspicious. Example
- unidirectional flow (no packets in the reverse direction)
- TCP flow that ends at SYN. Note that in case a SYN is sent, TCP request to retransmit it in case of no SYN-ACK. So a flow with only 1 SYN packet is twice suspicious
- TCP flows that do not end cleanly (FIN/RST)
- TCP flows that are incomplete (e.

[2019-02-06 08:34] simonemainardi commented on #2354
following up personally with @zimbawe998

[2019-02-06 08:34] #2354 closed, assigned to nobody

[2019-02-06 10:22] gianogli opened #2357 "Alert... How can I find all the hosts with a modified thresholds?"
In the last days I modified the Alert thresholds for 15/16 internal IPs.
Now I should set the SYN flood threshold for all these IPs to another value but:
-) I don't remember which IPs I modified and in which interfaces
-) I don't remember which threshold values I set for each IP
So... What do you think to add a global page with the list of all modified IPs ad all the set thresholds? This would be

[2019-02-06 11:05] emanuele-f commented on #2356
More information:

- reuse the getFlowStatus to determine if the flow is abnormal or not
- add a check on the status to determine if it's necessary to increase host bad flows counters
- host counters should be placed in the LocalHostStats
- unidirectional tcp flows are already marked as status_suspicious_tcp_syn_probing
- same thing for flows with only one SYN

[2019-02-06 14:48] simonemainardi commented on #2356
- when a flow goes Idle, increment an anomalous flows counter in the host if the flow status is not "Normal"

[2019-02-06 15:44] simonemainardi commented on #2296
add also : https://talosintelligence.com/documents/ip-blacklist

[2019-02-06 22:13] simonemainardi commented on #2296
add also: https://abuse.ch/#projects

[2019-02-07 11:03] simonemainardi opened #2358 "Add TCP Dropdown in the Active Flows Page"
* Add a TCP dropdown in the active flows page such that one can fliter active flows according to their TCP flags (e.g., SYN only, SYN/ACK, SYN/RST, FIN/RST)
* make sure SYN-only flows don't expire too early, make them expire as the other flows

[2019-02-07 11:06] simonemainardi opened #2359 "Count the number of fragmented packets per flow"
This can help in diagnosing certain kind of issues

[2019-02-07 11:10] simonemainardi opened #2360 "Add a per-Application breakdown of the active traffic"
Currently, it is not possible to see the actual throughput divided per-Application. It is requested to extend the following page to add such view:

![image](https://user-images.githubusercontent.com/3397663/52407747-6571d080-2ad1-11e9-9c93-72ebd1d75625.png)

[2019-02-07 17:36] jean-christophe-manciot commented on #2351
That folder is empty.
It seems that this feature is not correctly supported when there is no license.

[2019-02-08 09:03] emanuele-f commented on #2039
Implemented and documented

[2019-02-08 09:03] #2039 closed, assigned to emanuele-f

[2019-02-08 14:56] simonemainardi commented on #2358
implemented
![image](https://user-images.githubusercontent.com/3397663/52485865-15bb0400-2bba-11e9-9ec1-0e9804ee8bcb.png)

[2019-02-08 14:58] simonemainardi commented on #2358
implemented in: https://github.com/ntop/ntopng/commit/3dd9f116280716328d00454e5da9eb437711a292

[2019-02-08 14:58] #2358 closed, assigned to simonemainardi

[2019-02-08 15:00] emanuele-f commented on #2344
No feedback received, closing for inactivity

[2019-02-08 15:00] #2344 closed, assigned to nobody

[2019-02-08 18:17] emanuele-f commented on #2296
Initial work (lists caching and automatic reload of builtin lists): 7e0117fd129d2852e45ebdc29fc82fa193669ea3

[2019-02-09 16:08] jean-christophe-manciot commented on #2351
@emanuele-f
I have built ndpi & ntopng for **Ubuntu disco (19.04)** (with DPDK support now): **the same issue is there**; you can see for yourself below for Ubuntu disco or on Debian buster [here](https://github.com/ntop/ntopng/issues/2351#issuecomment-459977551):
- **ndpi**: git20190207.ddf0066 (1.8-1005-gddf0066) --> [deb available for Ubuntu disco](https://git.sdxlive.com/PPA/plain/Ubuntu/dists

[2019-02-09 23:47] #2252 closed, assigned to simonemainardi, cardigliano

[2019-02-11 08:44] emanuele-f commented on #2351
What's the output of `ls -ld /tmp`? Can a normal user create a temporary file/dir in your system (e.g. with `mkdir /tmp/test`)? What are the contents of `/etc/ntopng/ntopng.conf `?

[2019-02-11 08:46] emanuele-f commented on #2355
Closing for inactivity. Please provide a pull request if you improve compatibility.

[2019-02-11 08:46] #2355 closed, assigned to nobody

[2019-02-11 11:56] jean-christophe-manciot commented on #2351
On **debian buster & Ubuntu disco**:
[code]

[2019-02-11 13:51] emanuele-f commented on #2351
Please try removing the `-e` and `-G` options and starting ntopng with `systemctl start ntopng`

[2019-02-11 15:57] emanuele-f commented on #2296
As of 6bbb828ead0a8f48731a169d420545c1bd176767, lists can now be edited from the "Category Lists" page. Only built-in lists are supported for now (no ability to add new custom lists). Implementing custom lists addition would be quite trivial now.

[2019-02-11 16:06] emanuele-f commented on #2357
Hi, yes, this would be useful, however there are some things to keep in mind:
- it's already possible to set/change global thresholds for all the hosts, although this does not solve your issue with specific local hosts
- You can get such information with `redis-cli keys ntopng.prefs.*.alerts_config`
- We should remove/augument static threshold with a more dynamic approach

[2019-02-11 16:48] emanuele-f commented on #2343
This would require to remove license information from `--version` but to keep compatibility a new `--version-no-license` option will be added. Skipping the Redis connection would be error prone as ntopng requires it for different operations throughout the initialization code.

[2019-02-11 17:04] #2343 closed, assigned to emanuele-f

[2019-02-11 17:42] cardigliano commented on #2348
"apt-ntop" was getting updated by "apt-get upgrade" as it was getting a new version/revision together with the nbox package, this should no longer happen now as they are into separate repositories.

[2019-02-11 17:42] #2348 closed, assigned to simonemainardi

[2019-02-11 18:12] simonemainardi commented on #2296
make sure to handle the case where a blacklisted host is no longer blacklisted after a list update

[2019-02-11 18:46] oliwirth opened #2361 "ntopng SNMP to ASA Service Module"
Dear Ntop-Team,

GSI-Heavy Ion reseach center recently got an education Licence for ntopng from you, wich was requested by my colleage.
Thanks a lot for this!

I've got a little Problem.  I added two SNMP Devices. A Cisco Cat6509 which works fine. But to an Cisco ASA Module I get the message:
"The SNMP walk is too slow. Displayed data may be outdated or missing. Check network connectivity and devi

[2019-02-11 22:49] two-dogs opened #2362 "where to change date setting for web viewed info, in this case alerts"
presently the viewer shows date in format 02/02/2019 03:53:00, i have a hard time with that method, i cant find where to force method YYYY/mm/dd hh/min/sec

user manual does not show or i did not find

using 3.9.190209 - Community Edition
--

[2019-02-12 10:01] emanuele-f commented on #2296
Addressed in 2525b82ca4278bf0b79e955404397b8c9fe47c91

[2019-02-12 10:12] vladola opened #2363 "Unknown traffic type sourced by "other" and received by "other""
Can somebody help me understand how come the majority of the traffic reported is effectively unknown and generated by 'others' ? Please see image.

![](https://i.imgur.com/AiTCXgH.png)

[2019-02-12 10:39] emanuele-f commented on #2363
Please re-post the image on github, the link is not accessible. Are you capturing traffic from a physical interface or Netflow/sFlow? Please post your /etc/ntopng/ntopng.conf

[2019-02-12 10:45] vladola commented on #2363
This is from netflow.

This is the config:

[code]

[2019-02-12 11:22] emanuele-f commented on #2363
Which ntopng and nprobe version are you using? `ntopng -V`.
Since you are capturing from a netflow exporter, nProbe can only perform port based traffic identification (no DPI), so this could be normal. Can you inspect the active flows and possibly post a screenshot of the unknown flows?
Regarding the "Other" elements, it means that the network traffic is not generated by some top hosts but by many

[2019-02-12 11:26] cardigliano commented on #2351
@jean-christophe-manciot could you try running "ntopng -w 3000 -W 3001 -n 1" in foreground, and check if it prints any error when downloading the configuration? (Unfortunately we are not able to reproduce it, we also tried with the community edition compiled from the git dev branch, to reproduce what you are doing)

[2019-02-12 11:32] emanuele-f commented on #2356
![2019-02-12_12-31](https://user-images.githubusercontent.com/5488003/52632543-c62a5000-2eb9-11e9-9796-b9826aa026c7.png)

As requested, an anomalous flow counter has been added to the hosts with commit a09e8efed07f4fff028566e3bbece959b9ec26ed

[2019-02-12 11:32] #2356 closed, assigned to emanuele-f

[2019-02-12 11:37] vladola commented on #2363
Hi Emanuele, here's my version:

[code]
Is the historical data only in the enterprise edition? I think we have the professional edition. BTW, if 'other' is all other flows not 'in the top' how can I actually see them? They account for most of the traffic.

And here is an unknown flow:

![](https://i.imgur.com/R0U3ZXN.png)

[2019-02-12 11:45] emanuele-f commented on #2363
nIndex is only suggested with the dev version (3.9) and in pro will only keep 3 days of data (enterprise version does not have such limit). Anyway, the flow above has non standard ports 8084 and 49813 so nprobe can do very little to identify the protocol. Moreover, if the flow has mono-directional traffic the netflow exporter configuration may be wrong. If you want full layer 7 visibility, you sho

[2019-02-12 13:19] swathikothapu opened #2364 "how to make it display MySQL query on ntopng dashboard"

[2019-02-12 13:20] swathikothapu commented on #2364
I have tried to connect one system to another system with Mysql , While doing queries I can able to see MySQL flow, But MySQL query is not showing in ntopng dashboard. kindly suggest me how to see MySQL actual query ( select * from table_name) in ntopng dashboard)

![image](https://user-images.githubusercontent.com/37098746/52638539-2f30b880-2ef8-11e9-8ddc-f19b61e60819.png)

**) if i click on info

[2019-02-12 14:46] lucaderi opened #2365 "Missing hover display text"
<img width="278" alt="screenshot 2019-02-12 at 15 42 11" src="https://user-images.githubusercontent.com/4493366/52643198-cee04d80-2edc-11e9-9be7-d08ac808ef12.png">

It would be nice to add a hover over the host/MAC counters so that people know what they are about

[2019-02-12 16:29] #2365 closed, assigned to emanuele-f

[2019-02-13 06:24] HoseinKashefi opened #2366 "nTopNG Memory Leak"
Cento-nTopNG Server has about 94G RAM, it's started by 10%< memory usage and after about 20 Days usage reach to 95%.
is it normal or need attention?
please find more info by attached screenshot and please tell me if anything else needed.
Thanks in advance.
 ![image](https://user-images.githubusercontent.com/43135531/52690833-31d0f380-2f74-11e9-8e8f-7b07290e99d3.png)
![image](https://user-images.gi

[2019-02-13 08:58] simonemainardi commented on #2366
please post the full configuration used for both ntopng and cento

[2019-02-13 08:59] simonemainardi commented on #2364
what do you mean exactly?

[2019-02-13 09:03] swathikothapu commented on #2364
Thank you for reply,

Using below cammand how ntopng send network flows to MySQL .

./ntopng --user admin -F "mysql;localhost;ntopng;flows;use;password"

I have Ubuntu system , where I am accessing from MySQL database names, and i have another PC (here ntopng installed ) where exactly all dumped database were stored. I  just connect from one system to another system for getting MySQL flows in ntop

[2019-02-13 09:33] simonemainardi commented on #2361
The message means a timeout is reached (3 seconds) in one of the SNMP walks performed. So either your device or the network is slow. After a timeout is reached ntopng will automatically try and contact the device again in 15 minutes. So you don't have to worry much and only investigate further if the device is always in a "walk too slow" state.

[2019-02-13 09:33] #2361 closed, assigned to nobody

[2019-02-13 10:23] HoseinKashefi commented on #2366
ntopng Conf:
-G=/var/run/ntopng.pid
-i tcp://*:5556c
-w 10.47.84.81:3000
-m="x.X.x.X/23,y.Y.y.Y/22,z.Z.z.Z/22"
-X=524288
-x=524288
---------------------
Cento Conf
-i=zc:ens1f0
-i=zc:ens1f1
-i=zc:ens2f0
-i=zc:ens2f1
-i=zc:ens4f0
-i=zc:ens4f1
-i=zc:ens5f0
-i=zc:ens5f1
--zmq=tcp://127.0.0.1:5556
-g=0,1,2,3
-G=4,5,10,11
-D=2

[2019-02-13 10:39] simonemainardi opened #2367 "Makes pie charts in the flow alerts dashboard clickable"
The alert dashboard show several pie charts with alerts grouped by severity, type, ect.

![image](https://user-images.githubusercontent.com/3397663/52705679-cc84fe80-2f83-11e9-88b3-2aad5fbbb703.png)

it is requested to make pie char entries clickable to point to the flow alerts explorer

[2019-02-13 14:22] zimbawe998 opened #2368 "SMTP Alerting with Authentication"
Many customer needs to configure SMTP Alerting with autentication. This is useful with cloud services also.

[2019-02-13 14:46] jean-christophe-manciot commented on #2351
@emanuele-f
@cardigliano
Stopping it with ```/tmp# systemctl stop ntopng``` and launching it with ```/tmp# ntopng -w 3000 -W 3001 -n 1``` leads to the same result when backing up the configuration from the GUI and extracting it:
[code]
I have noticed a probably unrelated issue when I stop it with ```ctrl ^C```
[code]

[2019-02-13 14:54] jean-christophe-manciot commented on #2351
What calls should I look for in the trace if I run ```/tmp# ntopng -w 3000 -W 3001 -n -v 6```? The debug log is very chatty.

[2019-02-13 15:35] emanuele-f commented on #2362
Changing the format is not currently supported, no plans to do this for now sorry.

[2019-02-13 15:35] #2362 closed, assigned to nobody

[2019-02-13 15:45] emanuele-f commented on #2364
Hi, logging queries is not supported by ntopng. However, you can enable log from MySQL it self, please check out https://stackoverflow.com/questions/303994/log-all-queries-in-mysql

[2019-02-13 15:45] #2364 closed, assigned to nobody

[2019-02-13 15:45] simonemainardi commented on #2368
please explain and make an example

[2019-02-13 18:49] lucaderi opened #2369 "MAC and IP historical information are mixed"
For local hosts ntopng uses the IP address as key. This is wrong for local broadcast domain hosts as if there are hosts with dynamic address (e.g. DHCP) the IP address information does NOT represent the information of the IP when 'impersonated' by the MAC. The result is (for instance) that with DHCP hosts, the IP address graph is a mix of all hosts that had such IP assigned.

It is requested for h

[2019-02-13 18:55] lucaderi opened #2370 "Historical information and alerts are mixed"
When dumping historical information such as an alert, symbolic information such as the host name or for local broadcast domain host its MAC (see #2369) need to be serialised too. This means for instance that when an alert is retrieved, the symbolic host name must be retrieved from the serialised information and not resolved on the fly on the ntopng GUI.

[2019-02-13 19:35] lucaderi opened #2371 "Implement ICMP Dissection"
Adding ICMP dissection allows for specific messages (e.g. ICMP port unreachable) to correlate the previous flow that triggered the ICMP message with the ICMP message. This is helpful in flow exploration as well to avoid generating alerts twice (e.g. when talking with a blacklisted host)

[2019-02-13 19:39] lucaderi opened #2372 "Invalid MAC to Host Correlation"
![macbug](https://user-images.githubusercontent.com/4493366/52738561-2e1e8a80-2fcf-11e9-9a8d-251f609dab94.png)

With a MAC address it's not possibile to associate hosts from remote locations. Furthermore non-local hosts do not show in the host info page the MAC address. These are bugs that need to be fixed.

[2019-02-13 19:51] lucaderi opened #2373 "Improve SNMP/MAC correlation"
![screen_shot_2019-02-13_at_20_44_16](https://user-images.githubusercontent.com/4493366/52739103-7a1dff00-2fd0-11e9-9c61-14eb68d9d3d0.png)
SNMP alerts are not properly correlated to devices. For instance in the above examples, SNMP devices do not show the ports that have been affected by alerts. it would be nice to have a count of alerts per device/port instead of having them uncorrelated in the a

[2019-02-14 10:05] swathikothapu opened #2374 "ntopng flow fields match with logstash field"
Hi,

I am exporting ntopng flows to logstash using below command, But Why ntopng fileds is not matching with logstash fileds.

./ntopng --user admin -F "logstash;localhost;tcp;3000"

![screenshot from 2019-02-14 15-33-24](https://user-images.githubusercontent.com/37098746/52779328-ec90ec80-306d-11e9-8257-7fc5d49baf39.png)

![image](https://user-images.githubusercontent.com/37098746/52779352-fa4672

[2019-02-14 10:23] zimbawe998 commented on #2368
Some customer need user and password to connect to their internal MTA to allow ntopng to send alarm via smtp. TCP port 465/587 is required.

[2019-02-14 10:44] emanuele-f commented on #2374
Hi, please update to the latest version as the problem may be already fixed

[2019-02-14 11:10] swathikothapu commented on #2374
Hi,

logstash-6.3.0

[root@localhost ntopng]# ntopng -V

v.3.6.181116	[Enterprise/Professional build]
Edition:	Enterprise
License Type:	Time-Limited

You can continue with discussion #2374

[2019-02-14 11:11] swathikothapu commented on #2374
Hi ,

[2019-02-14 11:14] swathikothapu commented on #2374
This issue is not closed . please help on this

[2019-02-14 11:36] emanuele-f commented on #2374
Please update to the latest ntopng version

[2019-02-14 11:40] swathikothapu commented on #2374
Thank you emanuele,

But my question is why ntopng dashboard fields and logstash log field names are not same.

[2019-02-14 11:42] emanuele-f commented on #2366
I've tried checking for memory leaks but the result is negative, can you monitor the memory usage vs number of active flows and hosts over time?

[2019-02-14 11:49] emanuele-f commented on #2374
This is normal, the gui shows friendly names (also localized if language is not english) whereas logstash uses some "programmatic" names

[2019-02-14 12:26] swathikothapu commented on #2374
Thank you sir,

[2019-02-14 13:35] emanuele-f commented on #2372
Partially addressed in ac4ad2a3d75e05e19c06130b2240ffac3e8f7b9e

[2019-02-14 13:39] emanuele-f commented on #2374
The values are the same, although the gui shows the realtime traffic whereas on logstash the flow is only exported once it's complete (and as such will disappear from the gui), so you cannot do a 1:1 comparison between realtime and past flow data

[2019-02-14 15:03] jean-christophe-manciot opened #2375 "Manually disable all "false positives" bloating the flow alerts list"
ntopng be846535 (git20190212)

Depending on the configuration preferences, the list of flow alerts can, be **bloated/overwhelmed** with alerts:
- which are repeated endlessly
- and/or which we know are in fact OK
- and/or which are being taken care of and don't need to be listed anymore

For instance, a specific "TCP connection refused" alert between 2 specific hosts can be repeated every s/mn or

[2019-02-14 16:22] timothysweeney opened #2376 "Implement timeseries analysis for pcap files"
When analyzing PCAP files from disk capture timeseries data based on originating file timestamps in the same way that real-time captures are parsed and presented.

[2019-02-15 10:52] emanuele-f commented on #2376
Timeseries export/calculation is executed periodically whereas reading from a pcap is instantaneous, so implementing this may not be trivial

[2019-02-15 11:16] #2374 closed, assigned to nobody

[2019-02-15 11:22] emanuele-f opened #2377 "Count the number of abnormal flows by anomaly"
Flows dumped on disk now have a new identifier, the "status", which indicates the id of the flows status. In order to implement a summary view to show a flow status along with the total number of dumped flows with that status, it's necessary to perform a "count() group by status" query on the flows.

[2019-02-15 11:26] emanuele-f commented on #2372
Issue has been fixed by the commit referenced above.

[2019-02-15 11:26] #2372 closed, assigned to nobody

[2019-02-15 13:16] emanuele-f commented on #2332
After internal discussion, we decided that this is currently not a priority. Please note that from the "Networks" page you can get a realtime view of the traffic of each local network vs the remote networks.

[2019-02-15 13:16] #2332 closed, assigned to nobody

[2019-02-15 13:32] emanuele-f commented on #2363
Question answered. If you have other questions please open a new ticket.

[2019-02-15 13:32] #2363 closed, assigned to nobody

[2019-02-15 13:47] emanuele-f commented on #2337
Issue should be addressed in e6c4a5ad7ecccc17cfc63b064cc057b0518a3566, waiting for feedback before closing this

[2019-02-15 16:29] lucaderi opened #2378 "Anomaly indicators should not be depicted when not available"
![screen shot 2019-02-15 at 17 23 30](https://user-images.githubusercontent.com/4493366/52869901-ff2b2480-3146-11e9-876e-225c07b7d80f.png)
The anomaly indicators need a time window before they are active. As you can see in this graph the peak around the 18th has not been detected by RSI etc. as into the 21st the indicator is not working.

Solutions
1. Remove the indicators when not yet active
2. (

[2019-02-15 16:30] lucaderi opened #2379 "SNMP Information must have a separate tab"
![snmp](https://user-images.githubusercontent.com/4493366/52870098-5c26da80-3147-11e9-9e08-15941f42b76c.png)
SNMP information (when present) creates a huge page. It needs to be moved to a separate tab to avoid that

[2019-02-15 16:32] lucaderi opened #2380 "Wrong flow state"
![screen shot 2019-02-15 at 17 15 42](https://user-images.githubusercontent.com/4493366/52870172-837da780-3147-11e9-836d-b964bab4cf53.png)
As depicted above the flow state is wrong
1. the connection is NOT refused as you can see that is data exchange
2. the flow is NOT active (FIN+RST)

[2019-02-15 16:36] lucaderi opened #2381 "JSON parse errors"
15/Feb/2019 16:22:16 [Mac.cpp:280] WARNING: JSON Parse error [unexpected end of data] key: ntopng.serialized_macs.ifid_4__52:54:00:87:70:F1: { "mac": "52:54:00:87:70:F1", "seen.first":
15/Feb/2019 16:39:38 [LocalHost.cpp:143] WARNING: JSON Parse error [unexpected character] key: ntopng.serialized_hosts.ifid_4__fe80::a5b7:fc2a:8a20:3755@0: { "flows.as_client": 0, "flows.as_server": 1, "anomalous_fl

[2019-02-15 17:36] emanuele-f commented on #2378
With 69b1dd998e62fe575024e4117cb9ae0e2662b17f points are not graphed anymore where in their rolling window. However, a better approach to be implemented is the calculation of such indicators in lua

[2019-02-15 18:03] simonemainardi commented on #2371
implemented

https://github.com/ntop/ntopng/commit/ae23ebcd1cb4b91aa27defc134dfa7fb0fcc965d

[2019-02-15 18:03] #2371 closed, assigned to nobody

[2019-02-15 18:09] simonemainardi commented on #2368
as already experimented and commented in https://github.com/ntop/ntopng/issues/2044#issuecomment-427443966
we are currently not going to add authentication to ntopng as a series of issues may arise from this.

However, as a workaround, you can setup to 127.0.0.1 and setup postfix as a forwarder. Some of our users are successfully doing this.

[2019-02-15 18:09] #2368 closed, assigned to nobody

[2019-02-15 18:11] simonemainardi commented on #2381
@emanuele-f

![image](https://user-images.githubusercontent.com/3397663/52875759-6cde4d00-3155-11e9-85f2-54b8a75fc251.png)

it seems a bug with the last_stats_reset. why are you dumping this info to redis?  Can you fix this?

[2019-02-15 23:44] lucaderi opened #2382 "Invalid RRD to Influx migration"
- Ntopng reports to migrate from RRD to Influx even though ntopng is already using that
- in case of slow host update, ntopng reports that the problem is caused by either too many RRD files (not the case as we are using Influx) or disk slow.

[2019-02-16 08:12] HoseinKashefi commented on #2366
you can find same duration for memory usage and flows here:
[I guest I should increase number of ntopng flows (x/X Parameters)]
![centoflows](https://user-images.githubusercontent.com/43135531/52896602-9fcd2300-31df-11e9-9c9f-db2f140407dc.png)
![centomemory](https://user-images.githubusercontent.com/43135531/52896603-9fcd2300-31df-11e9-8459-41dc9c065473.png)

[2019-02-16 10:25] lucaderi commented on #2381
16/Feb/2019 01:03:47 [get_nindex_flows.lua:271] [get_nindex_flows.lua:86] ERROR: Internal library error
16/Feb/2019 02:38:52 [LocalHost.cpp:143] WARNING: JSON Parse error [unexpected end of data] key: ntopng.serialized_hosts.ifid_4__192.168.96.24@0: { "flows.as_client": 115, "flows.as_server": 280, "anomalous_flows.as_client": 0, "anomalous_flows.as_server": 0, "sent": { "packets": 279, "bytes": 6

[2019-02-16 10:27] lucaderi opened #2383 "Lua script failure at midnight"
16/Feb/2019 00:00:00 [LuaEngine.cpp:8617] WARNING: Script failure [/home/deri/ntopng/scripts/callbacks/system/daily.lua][/home/deri/ntopng/scripts/lua/modules/delete_data_utils.lua:516: field 'day' missing in date table]

[2019-02-16 10:28] lucaderi opened #2384 "Error while downloading lists"
16/Feb/2019 01:00:32 [housekeeping.lua:27] [lists_utils.lua:268] WARNING: An error occurred while downloading list 'Emerging Threats': http_code=0

What is error code 0 ?
Internet connectivity is not an issue, so the problem is elsewhere.

[2019-02-16 10:42] lucaderi opened #2385 "Invalid TCP states"
![screen shot 2019-02-16 at 11 34 21](https://user-images.githubusercontent.com/4493366/52898478-dc4c4f00-31de-11e9-90fd-2c863425075c.png)
The TCP states that have been implemented are not correct and some states are useless. Organise the menu in
1. All TCP flows
2. Established flows (i.e. flows that past 3WH and that are active)
3. Connecting (e.g. SYN only, with no 3WH)
4. Closed (i.e. clean ter

[2019-02-16 10:43] lucaderi commented on #2380
Please note that this ticket and #2385 reference each other.

[2019-02-16 10:48] lucaderi opened #2386 "Misbehaving flows"
The ntopng GUI is full of "anomalous" flows. The term anomaly is not correct as explained in https://en.wikipedia.org/wiki/Anomaly_detection. The term misbehaving (or a similar one) is correct as it means the the flow do not obey to the expected TCP behaviour.

![screen shot 2019-02-16 at 11 45 01](https://user-images.githubusercontent.com/4493366/52898631-503b2700-31e0-11e9-834d-57d092774fcf.png)

[2019-02-16 10:54] lucaderi opened #2387 "Implement additional Monitored Counters/Gauges"
Add the additional monitored counters and trigger alerts for (local hosts):
1. ~~ratio DNS positive/negative responses~~
2. ~~ratio DNS request/responses~~
3/4. ~~ICMP destination unreachable / ICMP port unreachable~~ (all ICMP types/counters reported in host details -> ICMP)
5. ~~ARP requests~~ (available through the device MAC address)
6. ~~Number of active contacted peers (taken from active flo

[2019-02-16 10:56] lucaderi opened #2388 "Write a lists blog post"
Security lists have been implemented and documented in https://www.ntop.org/guides/ntopng/advanced_features/category_lists.html?highlight=category but they have not announced with a blog post.

Please fix #2384 and write a blog post.

[2019-02-16 11:01] lucaderi opened #2389 "Bad flow formatting code in ICMP"
![screen_shot_2019-02-16_at_11_58_15](https://user-images.githubusercontent.com/4493366/52898779-4b777280-31e2-11e9-9b0e-9c0199e2a62c.png)

The "ICMP refer to flow" feature does not format flows properly. For instance in the above example the blacklist icon is missing from the ICMP info field, but it is present in the flow peers. This means also that the code you have written does not use a functi

[2019-02-16 11:10] lucaderi opened #2390 "Improve local broadcast detection algorithm"
The algorithm used to identify local subnet (broadcast) hosts is a 1:1 match. Example:
![screen shot 2019-02-16 at 12 04 03](https://user-images.githubusercontent.com/4493366/52898821-fab44980-31e2-11e9-83b4-00eed80d0c5b.png)

in the above example ntopng assumes that 192.168.1.{246,1,2} as local subnet hosts. While this is a correct assumption it is possible to learn more than this from the above

[2019-02-16 11:10] lucaderi commented on #2369
Please note that this ticket depends on #2390.

[2019-02-16 11:31] lucaderi opened #2391 "Improve detail on alert number"
The alert column in hosts_stats.lua is misleading. For instance blacklisted hosts have always the number of alerts set to 0 even though going in the flow alerts, there are alerts triggered by them.

Instead of counting only the number of alerts with flow state open, it is better to also account also the total number of alerts regardless if they a have a state or not. This way the alerts column wil

[2019-02-16 11:35] lucaderi opened #2392 "Add timeseries of triggered alerts"
In local hosts it is requested to implement a new timeseries containing (gauge) the number of alerts triggered. Please divide it in number of alerts caused by the host, and number or alerts for which the host has been victim. Currently it is not necessary to distinguish the alert type in the time serie.

These timeseries must be depicted in the host charts in a single chart where they are stacked.

[2019-02-16 11:42] lucaderi commented on #2184
This is a major bug that needs to be fixed ASAP as for low volume counters such as #2392 you will see no points even though there have been value in the timeseries. A possible workaround is to save (counters only) the host timeseries when it appears so you can compute the delta properly, or don't use the derivative function at all.

[2019-02-16 17:20] simonemainardi commented on #2385
implemented as requested:

<img width="216" alt="image" src="https://user-images.githubusercontent.com/3397663/52902878-57c9f280-3217-11e9-836a-4a90f9b8a49c.png">

[2019-02-16 17:20] #2385 closed, assigned to simonemainardi

[2019-02-16 18:12] #2380 closed, assigned to simonemainardi

[2019-02-17 17:17] lucaderi opened #2393 "[nEdge] PPPoE bypasses the policer"
Opening a PPoE session bypasses the policer and it allows to freely connect to the Internet if the router (as most ADSL router do) supports it.

[2019-02-17 17:40] lucaderi commented on #2393
Hint: ebtables -A FORWARD -p 0x8863 -j DROP

[2019-02-18 07:37] lucaderi commented on #2384
Same as in the past days
18/Feb/2019 01:00:27 [housekeeping.lua:27] [lists_utils.lua:268] WARNING: An error occurred while downloading list 'Emerging Threats': http_code=0

[2019-02-18 07:38] lucaderi commented on #2381
Further errors:
17/Feb/2019 23:47:30 [Mac.cpp:280] WARNING: JSON Parse error [unexpected character] key: ntopng.serialized_macs.ifid_0__78:7B:8A:C7:AF:28: { "mac": "78:7B:8A:C7:AF:28", "seen.first": , "seen.last": 1550442938, "last_stats_reset": 0, "devtype": 3, "model": "iMac18,3", "dhcpHost": true, "operatingSystem": 0, "fingerprint": "010306", "ndpiStats": { "categories": { "Network": { "id": 0

[2019-02-18 08:46] simonemainardi opened #2395 "Charts Reportedly Fail to Show on Microsoft Edge"
The charts page has been reported by a user to be not working on Microsoft Edge.

[2019-02-18 09:00] simonemainardi commented on #2389
No code has been duplicated. Function `getFlowLabel(icmp["unreach"]["flow"], true, true)` has been used to print the flow ALSO in the ICMP info row.

Missing Icon was just due to the fewer details with which the flow in the ICMP info was requested.

Requesting the flow with higher details automatically solves.

![image](https://user-images.githubusercontent.com/3397663/52939273-0418ef80-3364-11e9-

[2019-02-18 09:00] #2389 closed, assigned to simonemainardi

[2019-02-18 09:01] lucaderi commented on #2395
Microsoft Edge is deprecated even by Microsoft. Not an issue
https://redmondmag.com/articles/2018/12/06/microsoft-edge-shifting-to-chromium.aspx

[2019-02-18 09:01] #2395 closed, assigned to nobody

[2019-02-18 09:03] simonemainardi opened #2396 "Too many hosts message reportedly appears also when using InfluxDB"
2 users have reported that the yellow warning appears also when InfluxDB is enabled

![image](https://user-images.githubusercontent.com/3397663/52939398-640f9600-3364-11e9-855b-782f8fcfc8e7.png)

[2019-02-18 09:03] lucaderi opened #2397 "Add ability to configure MAC address hash size"
In case of large networks or when using traffic generators, the MAC address table might be too small and some tuning similar to -X/-x must be implemented.

[2019-02-18 09:05] lucaderi opened #2398 "Add MAC address red badge similar to hosts/flows"
Add a red badge when MAC addresses are too many (same as flows and hosts)

[2019-02-18 09:08] lucaderi opened #2399 "Add ability to mask MAC addresses"
In specific setups (e.g. when using a traffic generator) MAC addresses are generated randomly and this causes ntopng to have severe performance degradation (as well memory usage) for information that is useless to the user.

It is requested to add a preference that allow users to mask MAC addresses, and thus avoid the problem.

[2019-02-18 09:22] emanuele-f commented on #2381
There seem to be two different issues:
- Truncated json see (`"ICMP": { "duration":`)
- Missing values (`seen.first`, `last_stats_reset`, `seen.last`, all of these use the `json_object_new_int64`)

[2019-02-18 10:38] emanuele-f commented on #2366
Very informative, thank you! Do you have the possibility to run `valgrind --leak-check=full ntopng /etc/ntopng/ntopng.conf` for some hours and post here a link to the output it returns? Please note that this will slow down ntopng a lot, so drops will likely occur.

[2019-02-18 10:47] #2382 closed, assigned to emanuele-f

[2019-02-18 10:59] emanuele-f commented on #2384
![2019-02-18_11-58](https://user-images.githubusercontent.com/5488003/52946548-2adb2400-336c-11e9-8929-c88bc5a19bfe.png)

The server timeout out, timeout is 20 seconds right now, which is pretty high though

[2019-02-18 11:06] emanuele-f commented on #2383
Should be fixed in 0065eb9cd4d405b543da9ff0b83b4ba9e004409e . Please reopen if necessary.

[2019-02-18 11:06] #2383 closed, assigned to simonemainardi, emanuele-f

[2019-02-18 11:15] HoseinKashefi commented on #2366
sure, but when I run this command, ntopng works with trial mode because this mode changes the system id. is it ok, or something is wrong?

[2019-02-18 11:25] emanuele-f commented on #2366
Yes, it is normal when running via valgrind

[2019-02-18 11:28] emanuele-f commented on #2384
Time extended to 1 minute in 3d8e20bf5f1c9c2bfa7b3f475272ecbdf1192495

[2019-02-18 11:31] HoseinKashefi commented on #2366
so i guest we just have 10 minutes data.  where can i find valgrind's log?

[2019-02-18 11:49] emanuele-f commented on #2366
in community mode you should be able to write data without problems, the visualization however will only work for 10 minutes. Valgrind outputs data to console once you stop it with ctrl+c

[2019-02-18 12:12] #2378 closed, assigned to emanuele-f

[2019-02-18 12:34] HoseinKashefi commented on #2366
i tried 3 times and please  find them here.
[valgrind_ntopng3.log](https://github.com/ntop/ntopng/files/2875567/valgrind_ntopng3.log)
[valgrind_ntopng2.log](https://github.com/ntop/ntopng/files/2875568/valgrind_ntopng2.log)
[valgrind_ntopng4.log](https://github.com/ntop/ntopng/files/2875678/valgrind_ntopng4.log)

[2019-02-18 12:55] emanuele-f commented on #2337
Issue is now solved with the fix above.

[2019-02-18 12:55] #2337 closed, assigned to simonemainardi, emanuele-f

[2019-02-18 15:16] simonemainardi commented on #2366
I've tried to reproduce using your setup and valgrind without success. Also the traces enclosed doesn't seem to highlight memory leaks.

Can you please repeat using the latest ntopng 3.9? Also make sure to let it run ntopng for a while inside valgrind so that possible issue can be catched.

[2019-02-18 15:29] #2379 closed, assigned to emanuele-f

[2019-02-18 15:30] emanuele-f commented on #2384
Fixed with the commit above

[2019-02-18 15:30] #2384 closed, assigned to simonemainardi, emanuele-f

[2019-02-18 15:45] simonemainardi commented on #2321
So now the entry sFlow devices is hidden when there's no sFlow traffic

![image](https://user-images.githubusercontent.com/3397663/52961973-6988d280-339c-11e9-96ed-ca26ee21ecfc.png)

Then, devices that are responsible for the generation and export of flows are kept separated as shown here:

![image](https://user-images.githubusercontent.com/3397663/52962063-9f2dbb80-339c-11e9-8f7d-97d0eafa1f68.png

[2019-02-18 15:45] #2321 closed, assigned to simonemainardi

[2019-02-18 16:00] emanuele-f commented on #2296
Closing as we've decided that the current implementation is enough to fulfill the current users requirements. A blog post will explain the new features.

[2019-02-18 16:00] #2296 closed, assigned to emanuele-f

[2019-02-18 16:08] emanuele-f commented on #2396
Fixed in 576d28d2195cfb7111356258f25e0603ed33881d

[2019-02-18 16:08] #2396 closed, assigned to nobody

[2019-02-18 16:46] emanuele-f commented on #2392
Should we graph the engaged alerts or the "anomalous flows as client/server"?

[2019-02-18 17:03] lucaderi opened #2400 "Invalid DNS over TCP dissection"
![532](https://user-images.githubusercontent.com/4493366/52966425-88d92d00-33a7-11e9-8c67-725f4665a79b.png)
![531](https://user-images.githubusercontent.com/4493366/52966426-8971c380-33a7-11e9-8fd8-c108e2acb87e.png)

[2019-02-18 17:07] lucaderi opened #2401 "Missing host and flow information"
![mining](https://user-images.githubusercontent.com/4493366/52966529-d0f84f80-33a7-11e9-9933-b490cb4c41bc.png)
The above alert is misleading and probably a false positive as it does not contain the requested host name that has triggered the alert (not to mention that IPs are local this it might be a non alert)

[2019-02-18 17:10] lucaderi opened #2402 "Invalid and incomplete alert"
![445](https://user-images.githubusercontent.com/4493366/52966655-22084380-33a8-11e9-9231-f777a9b7947c.png)
The above alert has many flaws
1. it does not include the L7 protocol
2. it is likely top be SMB and thus it is quite normal that these type of flows are large
3. it does not indicate how large if the flow volume for having triggered the alert
4. it is not clear if the elephant flow trigger

[2019-02-18 17:13] lucaderi opened #2403 "ICMP flows do not contain any information that can be used for further investigation"
![icmp](https://user-images.githubusercontent.com/4493366/52966853-a3f86c80-33a8-11e9-86f0-90dd509711d6.png)

Same as #2402. Please add begin/end timestamp, volume, ICMP message types exchanged

[2019-02-18 17:13] emanuele-f opened #2404 "Memory leak when Mac/As/Vlan/.. hashes are full"
The return value of GenericHash->add is not checked for many hash tables. As a result, when tables are full, new entries are not added to the hash but leaked

[2019-02-18 17:15] emanuele-f commented on #2397
Mac addresses hashes rely on the same hash size as the hosts, however, due to #2404, number of MACs continues to grow undefinitely.

[2019-02-18 17:15] #2397 closed, assigned to nobody

[2019-02-18 17:31] HoseinKashefi commented on #2366
yes I had updated to v.3.9.190218 then ran it again, but unfortunately  same as before i guess.
[valgrind_ntopng5.log](https://github.com/ntop/ntopng/files/2876823/valgrind_ntopng5.log)

[2019-02-18 17:34] emanuele-f opened #2405 "Random language selection on other issues on first ntopng login"
During the first login, a random language is selected in the dropdown. Moreover, in the change password page, if the submitted passwords differ the first time, after the change is not possible to access the gui due to a lua error

[2019-02-18 18:10] emanuele-f commented on #2404
Fixed in 49a8bd7efb92c2ac7e968bfe0fc1a5be5eb40292

[2019-02-18 18:10] #2404 closed, assigned to nobody

[2019-02-18 18:11] emanuele-f commented on #2366
This is probably related to #2404 . Please wait an hour until the new package is available and retry with the new version

[2019-02-19 01:13] tonypang1228 commented on #2078
Similar situation here. I'm running a Enterprise license but the Enterprise lic fallen back to community after a couple of minutes but license check is ok:
PS C:\Program Files\ntopng> .\ntopng.exe /c --check-license
Starting ntopng
Running ntopng.
License Ok

There was a timer counting down the license expiry date. My license is just newly generated.

[2019-02-19 09:48] #2398 closed, assigned to emanuele-f

[2019-02-19 10:02] #2405 closed, assigned to emanuele-f

[2019-02-19 10:33] simonemainardi commented on #2399
add an option similar to --ignore-vlans but for mac addresses
[code]

[2019-02-19 10:59] emanuele-f commented on #2393
Fixed. Now only ipv4, ipv6 (blocked by iptables) and arp are allowed.

[2019-02-19 10:59] #2393 closed, assigned to simonemainardi, emanuele-f

[2019-02-19 12:33] sachsgiri opened #2406 "ntopng does not shutdown when -i arg is file with list of pcaps and --shutdown-when-done argument"
ntopng --version

v.3.9.190219	[Enterprise/Professional build]
GIT rev:	dev:a3b905e63279fcaf6836b08a27342e9664c9c5ed:20190219
Pro rev:	r2257
Built on:	Ubuntu 18.04.1 LTS
System Id:	=<>=
Platform:	x86_64
Edition:	Enterprise
License Type:	Time-Limited
Validity:	=<>=

2. Command run was : (pcaps.list is file with list of pcaps.)
time ntopng -r ev-redis:6379@1  --user root  -F "mysql;ev-mysql;id1;flow

[2019-02-19 13:14] simonemainardi commented on #2403
begin/end tstamp and volume not available as alerts are emitted as soon as possible so they contain partial data.

For timestamp, volume, etc one should go in nIndex and we have already added anchors for this.

![image](https://user-images.githubusercontent.com/3397663/53017536-7f57cf80-3450-11e9-96dd-1f3c44a732c6.png)

[2019-02-19 13:14] #2403 closed, assigned to simonemainardi

[2019-02-19 13:17] simonemainardi commented on #2403
also added the protocol:

![image](https://user-images.githubusercontent.com/3397663/53017765-0d33ba80-3451-11e9-8512-c7f404b3f517.png)

[2019-02-19 13:42] simonemainardi commented on #2400
this is normal. The fact that you are seeing strange characters in the DNS query is very likely due to an infected host or an attack. This is why the alert says 'Invalid DNS query" and reports it as suspicious activity.

[2019-02-19 14:20] simonemainardi commented on #2402
added information on the volume exceeded for elephant flows

![image](https://user-images.githubusercontent.com/3397663/53021605-da41f480-3459-11e9-9341-eb6b9e782db4.png)

[2019-02-19 14:58] jlixfeld opened #2407 "ifAlias as selector/identifier/description instead of ifName and/or ifIndex"
In Flow Devices view, is it possible to see ifAlias (if set) instead of ifName and/or ifIndex?  In the attached images, ifIndex and/or ifName are displayed, but those aren't always as useful as seeing ifAlias.

![screen shot 2019-02-19 at 9 49 54 am](https://user-images.githubusercontent.com/17339017/53024229-a00e2e00-342c-11e9-8acc-e49ac711938e.png)
![screen shot 2019-02-19 at 9 49 33 am](https:/

[2019-02-19 15:01] jlixfeld opened #2408 "Display scaled bps in addition to percentage"
In Flow Devices view,  it is it possible to display throughput in bps (or scaled to Mbps, Gbps, etc) in addition to percentage?

![screen shot 2019-02-19 at 9 49 09 am](https://user-images.githubusercontent.com/17339017/53096298-ceebd900-34ec-11e9-8156-33d459b1785f.png)

[2019-02-19 15:27] lucaderi commented on #2400
No this is an invalid DNS over TCP dissection. Please gather a pcap file for reproducing it

[2019-02-19 15:35] #2399 closed, assigned to simonemainardi, emanuele-f

[2019-02-19 16:22] emanuele-f commented on #2400
TCP DNS dissection fixed in https://github.com/ntop/nDPI/commit/ab3833a708fbd56e7edc72169563d26dffeb14de, now working properly. Please reopen if necessary.

[2019-02-19 17:21] lucaderi commented on #2400
Not sure your fix will solve the bug

[2019-02-19 17:52] simonemainardi commented on #2392
yes, please do the suggested way.

[2019-02-19 18:11] lucaderi opened #2409 "Implement misbehaving flow timeseries"
Misbehaving flows (as client/server) are not stored as time series. Please implement it.

[2019-02-19 18:11] lucaderi commented on #2386
Please see also #2409

[2019-02-19 18:12] lucaderi commented on #2392
This issue is about tracking the number of engaged alerts ntopng has reported per host. If a host is constantly moving from engaged-disengaged I might see no alerts (unless I open the past history alert view) but the host has several issues. So please add a host counter with the number of times you have created an engaged alert per host. Please see #2409

[2019-02-19 18:33] simonemainardi opened #2410 "Add Alert when a Custom List fails to download"
When a custom list fails to download, it goes in an "Error" state but the user can't notice it unless he/she goes into the custom lists page.

It is requested to add an alert to notify the user when a custom list fails to download.

[2019-02-19 19:39] HoseinKashefi commented on #2366
here with updated version(i think it is same as before )
v.3.9.190219
[valgrind_ntopng7.log](https://github.com/ntop/ntopng/files/2881718/valgrind_ntopng7.log)

[2019-02-19 20:43] emanuele-f commented on #2366
Please monitor the memory usage with the new version (normal operation, without valgrind), an important leak has been fixed, probably it was the one affecting you

[2019-02-20 08:23] HoseinKashefi commented on #2366
OK then. I've started yesterday and it has grown 10% until now. i will monitor it and update here

[2019-02-20 08:38] simonemainardi commented on #2402
- exclude protocols that are in the category file transfer from the elephant flow alerts
- add  a link that brings the user to the configuration page of the elephant flows

[2019-02-20 09:01] simonemainardi commented on #2410
also consider that lists are updated at 1AM whilst they should be updated at midnight

![image](https://user-images.githubusercontent.com/3397663/53079316-6d306c80-34f6-11e9-816e-c688cf9e44b4.png)

[2019-02-20 09:02] simonemainardi commented on #2409
companion of https://github.com/ntop/ntopng/issues/2392

[2019-02-20 09:05] simonemainardi commented on #2392
Keep a `cumulative` counter in the host that is incremented every time an engaged alert is triggered. then use this counter to produce the timeseries.

[2019-02-20 13:46] simonemainardi commented on #2408
do you mean you want to see in the table the average throughput in the selected time frame?

[2019-02-20 13:55] jlixfeld commented on #2408
Yes.  I apologize for the confusion.  I have re-uploaded the sample image.  I'm wondering if it's possible to have it visible within the table I have highlighted in the image.

[2019-02-20 14:28] #2402 closed, assigned to simonemainardi

[2019-02-20 14:31] emanuele-f opened #2411 "nEdge drops port forwarded connection"
nEdge sets a drop verdict on some port forwarded flows, for example VNC flows (port 5900).

[2019-02-20 14:35] simonemainardi commented on #2375
fine-grained alert filtering is already offered in the flow alerts explorer (enterprise version)

![image](https://user-images.githubusercontent.com/3397663/53099003-273ecd00-3525-11e9-9f97-266942dfae40.png)

[2019-02-20 14:35] #2375 closed, assigned to nobody

[2019-02-20 14:48] cardigliano commented on #2351
Please run it without "-v 6" and check the output whili clicking on "Backup Configuration", or send us the whole output in a text file. I recommend you to update to latest ntopng before, as we pushed some change to the backup script.

You cal also try running the backup utility manually and check / provide us the output:
$ ntopng-utils-manage-config -a backup
Backing up to /var/lib/ntopng/conf.tar

[2019-02-20 15:32] simonemainardi commented on #2409
implemented as requested.

[2019-02-20 15:32] #2409 closed, assigned to simonemainardi

[2019-02-20 16:33] #2410 closed, assigned to emanuele-f

[2019-02-20 16:33] emanuele-f commented on #2410
Example alert: ![2019-02-20_11-36](https://user-images.githubusercontent.com/5488003/53107305-b0a5cd80-352c-11e9-9e27-9916ae540676.png)

[2019-02-20 16:58] simonemainardi commented on #2392
also add the "Total Alerts" as an extra custom column entry for the host page to implement this related isssue:

https://github.com/ntop/ntopng/issues/2391

[2019-02-20 17:13] #2406 closed, assigned to nobody

[2019-02-20 18:10] timothysweeney commented on #2376
The work we are looking at is to playback files via disk2n and capture data from that interface in ntopng.   The problem I anticipate with this is that it requires disk2n and storage to keep up with rates which would otherwise not have a real-time constraint.   Additionally timestamps will reflect the playback vs the original timestamps from the file.

[2019-02-20 19:13] #2391 closed, assigned to emanuele-f

[2019-02-20 19:15] emanuele-f commented on #2392
A per-host total alerts counter and corresponding chart has been implemented in a486d2c19fc7226f9b247f3051b1d6b55268beb7 . It counts the total number of alerts (engaged and flow alerts) of an host, please check it out

[2019-02-20 23:02] emanuele-f commented on #2411
Fixed

[2019-02-20 23:02] #2411 closed, assigned to emanuele-f

[2019-02-21 08:55] supportcramra commented on #640
Hello,

I've got the same issue on my platform :
ntopng --version
v.3.9.190221    [Enterprise/Professional build]
GIT rev:        dev:a486d2c19fc7226f9b247f3051b1d6b55268beb7:20190221
Pro rev:        r2259
Built on:       Ubuntu 16.04.5 LTS
Platform:       x86_64
Edition:        Enterprise
License Type:   Permanent
Maintenance:    Until Tue Nov 12 14:42:47 2019 [264 days left]

Here is my configur

[2019-02-21 09:24] emanuele-f commented on #640
Does the high usage occurs during normal operation or when a browser window on the ntopng gui is opened? Please also post the output of `top -H -p $(pgrep ntopng)`

[2019-02-21 10:08] supportcramra commented on #640
Hello,
Load is very high at anytime.

top -H -p $(pgrep ntopng)
top - 11:07:40 up  2:22,  1 user,  load average: 9,99, 9,58, 8,38
Threads:  22 total,   5 en cours,  17 en veille,   0 arrêté,   0 zombie
%Cpu(s): 10,9 ut,  6,1 sy,  0,0 ni, 79,0 id,  0,0 wa,  0,0 hi,  4,0 si,  0,0 st
KiB Mem : 26401424+total, 23666635+libr,  7534968 util, 19812920 tamp/cache
KiB Éch: 26829414+total, 26829414+libr,

[2019-02-21 12:20] jean-christophe-manciot commented on #2351
ndpi 1.8-1009-gab3833a (git20190219.ab3833a)
ntopng 3.0-3018-g07ff4dee (git20190221.07ff4de)
Backing up the configuration:
[code]
There is nothing in the trace about the backup.

[2019-02-21 13:16] emanuele-f commented on #2392
Closing after positive feedback

[2019-02-21 13:16] #2392 closed, assigned to emanuele-f

[2019-02-21 13:18] emanuele-f commented on #640
Please update to the new package version and post the new `top -H -p $(pgrep ntopng)` command output

[2019-02-21 15:07] supportcramra commented on #640
Here is the output after an apt-get update && apt-get dist-upgrade

ntopng --version
v.3.9.190221    [Enterprise/Professional build]
GIT rev:        dev:6f94f7b1329335bc1bb997d83e37e408aed457a9:20190221
Pro rev:        r2259
Built on:       Ubuntu 16.04.5 LTS
System Id:      9475F97E9206AB23
Platform:       x86_64
Edition:        Enterprise
License Type:   Permanent
Maintenance:    Until Tue Nov 1

[2019-02-21 15:16] emanuele-f commented on #640
Can you attach gdb to the top threads, one at a time, and post here the results? For example, in order to attach to the first top thread (pid 1953):

[code]

post the output of the "bt" command above per each top thread

[2019-02-21 15:32] supportcramra commented on #640
top - 16:23:25 up  7:38,  1 user,  load average: 8,78, 8,51, 8,42
Threads:  22 total,   7 en cours,  15 en veille,   0 arrêté,   0 zombie
%Cpu(s): 25,0 ut,  2,7 sy,  0,0 ni, 69,2 id,  0,0 wa,  0,0 hi,  3,1 si,  0,0 st
KiB Mem : 26401424+total, 21998377+libr,  9917528 util, 34112932 tamp/cache
KiB Éch: 26829414+total, 26829414+libr,        0 util. 25242987+dispo Mem

  PID UTIL.     PR  NI    VIRT

[2019-02-21 15:56] emanuele-f commented on #640
so you've dumped the stack of the following threads:

[code]

everything seems normal (the first two processes are the one serving the gui timeseries charts requests). What is the stack trace of `1992` ?

[2019-02-21 17:45] emanuele-f commented on #2369
Initial work for host statistics and graphs: dd37cafa1276e083e251b813d3ff30f173c84856

[2019-02-21 18:17] lucaderi opened #2412 "Cumbersome historical flow access"
In order to view historical host flows, it is currently necessary to visit several pages (See example below)
![1](https://user-images.githubusercontent.com/4493366/53191821-25503900-360d-11e9-9f90-1a2cb2c07e53.png)

Add a "raw flow" entry in the menu below for a gives host
![screen shot 2019-02-21 at 19 16 57](https://user-images.githubusercontent.com/4493366/53191872-4b75d900-360d-11e9-9fa0-c4bfb

[2019-02-21 18:21] lucaderi opened #2413 "Missing Layer 4 and 7 Protocols and Misleading Flow Status"
![1](https://user-images.githubusercontent.com/4493366/53191987-8841d000-360d-11e9-859e-b6e1ec856896.png)

The above view does not contain
- L4 protocol (e.g. TCP)
- L7 protocol (e.g. Dropbox)

Furthermore the flow status is wrong as all TCP flows have a flow status that indicates a problem and this is not the case. The algorithm must be refined and the dumped flow status must be consistent with t

[2019-02-21 18:25] lucaderi opened #2414 "Poor information reported in ICMP Flows"
![1](https://user-images.githubusercontent.com/4493366/53192249-45ccc300-360e-11e9-83d5-dc89ba2fb407.png)
The above alerted flow is not properly reported
1. ICMP is not an application
2. The "Protocol: ICMP" should be reported in a more compact format
3. The original flow that triggered the "port unreachable" is not reported

[2019-02-21 18:28] lucaderi opened #2415 "ICMP Information Missing from Live Flows"
![2](https://user-images.githubusercontent.com/4493366/53192425-b4118580-360e-11e9-9277-ac79ef8ee57c.png)

The above ICMP flow does not show what original flow that triggered it. Please report it.

[2019-02-21 18:29] lucaderi opened #2416 "Squeezed Report with Available Space"
![1](https://user-images.githubusercontent.com/4493366/53192546-02bf1f80-360f-11e9-8362-eef0ee84bcd2.png)
The SNMP info is squeezed and on two lines even though you have an additional unused column. Please use it.

[2019-02-21 18:38] emanuele-f opened #2417 "Initialize influxdb database at startup"
The database should be initialized during each startup, not only during the change from rrd to influxdb

[2019-02-22 09:52] emanuele-f commented on #2388
Now online https://www.ntop.org/ntopng/how-to-track-an-fight-malware-ransomware-botnets-network-traffic-using-ntopng

[2019-02-22 09:52] #2388 closed, assigned to emanuele-f

[2019-02-22 16:24] emanuele-f commented on #2416
Fixed

[2019-02-22 16:24] #2416 closed, assigned to emanuele-f

[2019-02-22 18:29] inetactief opened #2418 "Error update"
[root@ntopng ~]# yum update
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
 * base: centos.mirror.transip.nl
 * epel: ftp.nluug.nl
 * extras: ftp.nluug.nl
 * updates: centos.mirror.triple-it.nl
Resolving Dependencies
--> Running transaction check
---> Package ntopng.x86_64 0:3.9.190222-5894 will be updated
---> Package ntopng.x86_64 0:3.9.190222-5913 will be an update
---

[2019-02-22 18:58] emanuele-f opened #2419 "Missing dhcp icon in DHCPv6 hosts"

[2019-02-22 22:27] #2419 closed, assigned to nobody

[2019-02-23 09:57] cardigliano commented on #2418
@inetactief this is working for me, it could be you updated in the middle of a repo refresh, please try again, nprobe should require pfring 7.5.0-2427 now.

[2019-02-23 11:59] jean-christophe-manciot commented on #2351
@emanuele-f
@cardigliano

```ntopng-utils-manage-config -a backup``` leads to the exact same result:
[code]

[2019-02-23 13:16] inetactief commented on #2418
great is works! Thanks..

[2019-02-25 09:06] #2418 closed, assigned to nobody

[2019-02-25 11:40] #2417 closed, assigned to emanuele-f

[2019-02-25 13:43] ahlamm01 opened #2421 "no data available in ntopng web interface"
nprob:

--zmq="tcp://*:5556"
--collector-port=2055
-n=none
-i=none

nprobe and ntponng are installed on the same server (ubuntu 16.04)

the nrpobe receive the data from my firewall

I have this error with ntopng

#ntopng -i tcp://127.0.0.1:5556

WARNING: Unable to open store /var/lib/ntopng/12/alerts/alerts_v7.db
[AlertsManager.cpp:942] ERROR: Unable to prepare statement for query SELECT count(_)

[2019-02-25 14:48] emanuele-f commented on #2366
@HoseinKashefi any news?

[2019-02-25 14:54] emanuele-f commented on #2421
Can you post a screenshot of your network interface page into ntopng? https://www.ntop.org/guides/ntopng/web_gui/interfaces.html#interfaces

[2019-02-25 14:58] ahlamm01 commented on #2421
this is the screenshot of my network interface
![interfaces](https://user-images.githubusercontent.com/47977190/53345867-29829c00-3916-11e9-8a19-c06d6edd9227.JPG)

[2019-02-25 15:03] emanuele-f commented on #2421
You have enabled interface disaggregation (https://www.ntop.org/guides/ntopng/advanced_features/dynamic_interfaces_disaggregation.html). You should select one of the *sub*-interfaces in the dropdown above to see the data. If you want to merge together different interfaces you need to use the *view interfaces*, please check out https://www.ntop.org/guides/ntopng/advanced_features/view_interfaces.ht

[2019-02-25 15:51] emanuele-f commented on #2415
Cannot reproduce, my instance of ntopng shows the original flow information correctly

![2019-02-25_16-49](https://user-images.githubusercontent.com/5488003/53349438-fc81b980-3914-11e9-8f5c-f05e9adfb29d.png)

[2019-02-25 16:16] emanuele-f commented on #2413
Currently there is a limitation on the maximum number of fields returned by nIndex (11 seems the limit). This must be extended in order to provide additional flow information

[2019-02-26 05:30] HoseinKashefi commented on #2366
here you can see memory usage 7 days chart(from ~80% availablity to ~20%)
![centomemory7days](https://user-images.githubusercontent.com/43135531/53389479-b5430980-39a4-11e9-8b41-5f7f0d08df18.png)

[2019-02-26 06:23] jedi0605 commented on #1894
Hello Ntopng,

Sorry bother you again.

Im using ntopng version " v.3.8.190118" with InfluxDB and I got ipv6
address in InfluxDB host:traffic.

On the other older ntopng version "v.3.5.180716" also using  InfluxDB but I
got "ipv4" address in InfluxDB host:traffic.

Where I can setting the config switch ipv6 to ipv4 in InfluxDB?

Thank you

Emanuele Faranda <notifications@github.com> 於 2018年8月3日 週五

[2019-02-26 08:37] ahlamm01 commented on #2421
thank you :)

[2019-02-26 09:10] emanuele-f commented on #1894
Hi, ntopng will write both ipv4 and ipv6 addresses timeseries to InfluxDB

[2019-02-26 09:11] emanuele-f commented on #2421
You are welcome

[2019-02-26 09:11] #2421 closed, assigned to nobody

[2019-02-26 09:25] jedi0605 commented on #1894
Hay, I know ntopng will  write  ip addresses timeseries to InfluxDB.
But right now I only have ipv6.
[image: bug.PNG]
[image: bug2.PNG]

Emanuele Faranda <notifications@github.com> 於 2019年2月26日 週二 下午5:11寫道：

[2019-02-26 09:28] emanuele-f commented on #1894
I cannot see the picture above sorry, please send them via github. Also open a new issue.

[2019-02-26 09:37] jedi0605 opened #2422 "Olny got ipv6 address in InfluxDB"
Im using ntopng version " v.3.8.190118" with InfluxDB but I got ipv6 address in InfluxDB host:traffic.

On the other older ntopng version "v.3.5.180716" with  InfluxDB.I got "ipv4" address in InfluxDB host:traffic.

Where I can setting the config switch ipv6 to ipv4 in InfluxDB?

Here is my ntopng hosts list
![bug](https://user-images.githubusercontent.com/5374440/53402592-fc54ed00-39ec-11e9-9c96-

[2019-02-26 09:56] emanuele-f commented on #2422
1.2.3.4 is ipv4, if you type the above ipv4 addresses in the "Filter within Host" field can you find them? There is not such option in ntopng, all the local hosts are dumped, regardless if they are ipv4 or ipv6

[2019-02-26 10:12] jedi0605 commented on #2422
I can't find any ipv4 addresses in host:traffic excluded 1.2.3.4.
And I can't find 1.2.3.4 ipv4 address in ntopng.
Here is ntopng log, maybe can help?
![bug3](https://user-images.githubusercontent.com/5374440/53405098-0cbb9680-39f2-11e9-9928-46e2cbdf4748.PNG)

[2019-02-26 10:15] emanuele-f commented on #2366
I've tried running valgrind again with exceeding hosts and flows but with negative results. Please use `valgrind --leak-check=full ntopng /etc/ntopng/ntopng.conf 2> valgrind_output.txt` and let it run for about one day. Then upload the `valgrind_output.txt` file.

[2019-02-26 10:18] emanuele-f commented on #2422
You probably need to add the nework "202.168.199.0/24" to the ntopng local networks list (-m option). Ntopng only stores timeseries for local hosts

[2019-02-26 10:23] jedi0605 commented on #2422
You mean this one?
![bug4](https://user-images.githubusercontent.com/5374440/53405820-a33c8780-39f3-11e9-9194-123b232b5eee.PNG)

[2019-02-26 10:35] emanuele-f commented on #2422
No, this is the host pool, you need to edit `/etc/ntopng/ntopng.conf` and specify the `-m="202.168.199.0/24"` option, then restart ntopng

[2019-02-26 12:16] HoseinKashefi commented on #2366
just for information , it worked only for 10 mins and it's changed to community mode .
in community mode flows doesn't go upper than 100 . is it normal?
![ntopng-com mode](https://user-images.githubusercontent.com/43135531/53412092-a3318d00-39dd-11e9-8f11-f2c0c23cd0dc.png)

[2019-02-26 12:26] emanuele-f commented on #2366
Switch to community mode is normal with valgrind. About the flow limit, there is no such limit in the community version. However, since valgrind is very cpu intensive, the machine may be slowed down to the point that it cannot process all the incoming flows. Please let it run for some minutes and, if the flows do not increase, then we need to find another way to debug this

[2019-02-26 13:55] HoseinKashefi commented on #2366
it's just grown by 1300 flows after 2 hours while there are about 800k flows.

[2019-02-26 14:01] emanuele-f commented on #2366
I see, please upload the valgrind log got so far, let's see if it contains miningfull information

[2019-02-26 16:14] emanuele-f opened #2423 "eBPF should not require root privileges"
The following error is printed in ntopng if privilege drop is enabled:

[code]

[2019-02-27 01:04] ahlamm01 opened #2424 "Incomplete Reports when generate 1 week"
the report doesn’t show “Top Countries”, Top Local Hosts”, “Top Remote Hosts when generate 1 week
1 month...it's ok for 1h and 1 day

could please help me to resolve this problem

ntopng version: v.3.8
nprobe version:  v.8.6

thank you

[2019-02-27 05:17] HoseinKashefi commented on #2366
Please find the attachment
[valgrind_output.txt](https://github.com/ntop/ntopng/files/2908671/valgrind_output.txt)

[2019-02-27 07:23] engee974 opened #2425 "Sorted column changes when a filter is applied on hosts_stats page"
Hi All,
I noted a change on the hosts stats page.
I usually sort by Throughput desc for hosts. With the old version of ntopng I was able to change the filter to local hosts only or remote, the sorted column kept the same. But now, by default on local only or remote hosts (only that 2 filters tested) , the list is sorted by "total byte sent" descending.

How to go back to the old behaviour ?

[2019-02-27 07:34] engee974 commented on #2332
OK it's noted.
but the networks views is not what i need.
I don't understand what is so difficult to rollback you code.
It was working before.

[2019-02-27 08:46] ahlamm01 commented on #2424
any update please
thank you

[2019-02-27 10:25] emanuele-f commented on #2424
Are you using influxdb or rrd? Can you post a screenshot of the missing report?

[2019-02-27 10:39] #2415 closed, assigned to nobody

[2019-02-27 10:40] simonemainardi commented on #2415
Can happen when the original flow that triggered the ICMP flow is no longer in memory or hasn't been seen.

Now, when this happens, information extracted from the ICMP packet is shown as text, without hyperlinks to the flow

![image](https://user-images.githubusercontent.com/3397663/53484370-feb65600-3a83-11e9-9ba2-65124215bedf.png)

Additional details have also been added to the flows list page s

[2019-02-27 10:52] emanuele-f opened #2426 "Invalid AggregatedFlow with nprobe causing segfault"
The following segfault appears quite soon while using nIndex and ntopng reads from a zmq socket:

[code]

[2019-02-27 11:15] emanuele-f commented on #2366
No luck. Please double check that the high memory usage is still caused by ntopng. Please also try changing the -x and -X (try for example with 100000 and 1048576) options and see how this affects the memory usage

[2019-02-27 11:35] #2425 closed, assigned to emanuele-f

[2019-02-27 12:06] HoseinKashefi commented on #2366
I've changed it and something like these has happened :
when I click on Flows I'm faced with "SyntaxError: Unexpected token H in JSON at position 0" error
and following logs are generated by ntopng :
ntop: 27/Feb/2019 15:22:38 [ParserInterface.cpp:664] WARNING: JSON Parse error [object value separator ',' expected] payload size: 319 payload: {"8":"185.143.232.66","12":"82.99.200.246","10":0,"14":0

[2019-02-27 12:57] jpbourke opened #2427 "ntopng -> ELK (more than basic flows_"
Is there a way to get ntopng to send richer flow information to ELK, such as re transmissions ?

[2019-02-27 13:25] emanuele-f commented on #2366
This error seems linked to improper escaping of HTTP_URL in cento, please create a new issue here: https://github.com/ntop/nProbe/issues

[2019-02-27 15:01] emanuele-f commented on #2426
nprobe startup line:

```sudo ./nprobes -i wlan0 -n none --zmq "tcp://127.0.0.1:5556" --disable-cache --zmq-disable-buffering -T "@NTOPNG@ %IN_SRC_MAC %OUT_SRC_MAC %IN_DST_MAC %OUT_DST_MAC %IPV4_SRC_ADDR %IPV6_SRC_ADDR %IP_PROTOCOL_VERSION %IPV4_DST_ADDR %IPV6_DST_ADDR %L4_SRC_PORT %L4_DST_PORT %SRC_VLAN %DST_VLAN %DOT1Q_SRC_VLAN %DOT1Q_DST_VLAN %L7_PROTO %PROTOCOL %TCP_FLAGS %INITIATOR_PKTS %IN_P

[2019-02-27 15:44] emanuele-f commented on #2427
Exported flow information is filled in by `Flow::flow2json` https://github.com/ntop/ntopng/blob/dev/src/Flow.cpp#L2041 . Adding retransmissions and other information is quite trivial (see `tcp_stats_s2d.pktRetr`) however there is the need to avoid inserting too much information into the flow json

[2019-02-27 16:02] emanuele-f commented on #2351
Please check out if 57b86780606d40d6267e4e219cda272955657b37 fixes the issue. Run ./autogen.sh and ./configure again after pulling the new code

[2019-02-27 16:46] simonemainardi opened #2428 "You have a lot of local hosts is not dismissable"
If I want to stay with RRDs I don't want to have that yellow badge always in front of me.

![image](https://user-images.githubusercontent.com/3397663/53507106-8ec1c300-3ab7-11e9-9260-18ef468dbb99.png)

[2019-02-27 17:18] #2428 closed, assigned to emanuele-f

[2019-02-27 18:52] branchnetconsulting opened #2429 "Redis Connection error [Connection refused]"
This issue has come up with newer version(s) of the ntopng deb.  Specifically I was just now testing with this deb:

`http://packages.ntop.org/apt-stable/16.04/x64/ntopng_3.8.190219-6179_amd64.deb`

and using this /etc/ntopng/ntopng.conf

[code]

If I try to start it with "systemctl start ntopng", it fails with this complaint even through stock Ubuntu redis-server is indeed running:

[code]
I even

[2019-02-28 09:37] emanuele-f commented on #2429
Are you running ubuntu 16? It works fine in my test system with a modified version of the configuration above

[2019-02-28 10:21] inghau opened #2430 "ERROR HTTP accept_new_connection IP% is not allowed to connect"
Hi,

I just update my ubuntu box to 18.04 but find the ntopng is broken.
After trying to remove and reinstall many times i still bounce to the same issue.
I've try googling for similiar problem but cant find it.
also tried
https://www.ntop.org/guides/ntopng/faq.html

If anyone know something please let me know.

Thanks

Feb 28 17:11:52 ntop systemd[1]: Started n2n edge process, on *.
Feb 28 17:11:

[2019-02-28 11:31] jean-christophe-manciot commented on #2351
@emanuele-f
@cardigliano
It is finally working although I cannot say whether all non-default settings have been saved or only some of them: building 0785c81 and running it leads to:
[code]
Also, it is strange that you were able to download them before the commit
[57b8678](https://github.com/ntop/ntopng/commit/57b86780606d40d6267e4e219cda272955657b37).

[2019-02-28 13:11] supportcramra opened #2431 "Missing graph since influxdb activated"
Hello,

I moved to influxdb timeseries few hours ago and applications datas are not collected anymore.
![image](https://user-images.githubusercontent.com/47848662/53568483-68a52d00-3b62-11e9-9568-6af9f982941a.png)
Can you help me ?
Application Breakdown is not available too in reporting.

Best Regards,

[2019-02-28 13:24] branchnetconsulting commented on #2429
Yes, Ubuntu 16.04 Server.  I am not sure how to further diagnose this as it only comes up when systemctl tries to start ntopng.  I actually find that on another Ubuntu 16.04 server in a very similar role, that the version of ntopng installed via the same exact deb does not exhibit this problem.  Any ideas on how I could test this further?

[2019-02-28 16:07] simonemainardi commented on #2431
Please, visit page

![image](https://user-images.githubusercontent.com/3397663/53580130-3eac3480-3b7b-11e9-9d7b-aefcb808b2c1.png)

And check if there are errors.

[2019-02-28 16:17] simonemainardi commented on #2430
You have an access control list set

[code]

So it is normal that IPs from 10.x/8 can't connect.

Visit this page and make the necessary changes:

![image](https://user-images.githubusercontent.com/3397663/53580792-aa42d180-3b7c-11e9-9706-e6435242f9de.png)

[2019-02-28 16:17] #2430 closed, assigned to nobody

[2019-02-28 16:21] simonemainardi commented on #2427
please, consider using nProbe if you want 100% fully-customizable information to ELK. With nProbe, you have a configurable template (-T) in which you can specify all the fields you want. nProbe will automatically push them to ELK.

[2019-02-28 16:21] #2427 closed, assigned to nobody

[2019-02-28 16:31] simonemainardi commented on #2422
closing for inactivity. reopen if necessary

[2019-02-28 16:31] #2422 closed, assigned to nobody

[2019-02-28 16:33] simonemainardi commented on #2426
can't reproduce. Are you able to debug?

[2019-02-28 16:43] simonemainardi commented on #2040
Implemented.

Currently, DHCP hosts and hosts in the broadcast domain are serialized by MAC address and also their timeseries are written by mac address.

[2019-02-28 16:43] #2040 closed, assigned to emanuele-f

[2019-02-28 17:43] simonemainardi commented on #2414
Fixed

![image](https://user-images.githubusercontent.com/3397663/53586538-acab2880-3b88-11e9-8f3a-fdba33f33002.png)

[2019-02-28 17:43] #2414 closed, assigned to nobody

[2019-02-28 20:46] ChathuraML opened #2432 "Can not dump flows in Nedge"
Can not dump flows to mysql using below config in Nedge?

"--dump-flows=mysql;localhost;ntopng;flows;root;rxxx"

[2019-03-01 09:00] emanuele-f commented on #2432
MySQL export is not avaiable in nEdge, please check out https://www.ntop.org/guides/nedge/features.html

[2019-03-01 09:00] #2432 closed, assigned to nobody

[2019-03-01 09:13] emanuele-f commented on #2429
You can try to inspect the loopback interface communication on port 6379 and see how ntopng and redis communicate and what goes wrong. ntopng sends a "PING" message to redis to verify the communication. The other option is to reinstall ntopng or install the dev version as this issue is really weird

[2019-03-01 09:17] emanuele-f commented on #2351
Defaults should not be serialized. The fix I've made is only required in newer versions of the `file` utility (available in disco), while it worked fine with other distros we support (even with ubuntu 18). I'm closing this as the issue is now solved.

[2019-03-01 09:17] #2351 closed, assigned to nobody

[2019-03-01 13:06] simonemainardi commented on #2401
Fixes. It was due to an nDPI issue https://github.com/ntop/nDPI/commit/d283538146c64912a50b177b073b9b5c85c270c9.

[2019-03-01 13:06] #2401 closed, assigned to nobody

[2019-03-01 15:30] emanuele-f commented on #2413
L4 and L7 now added

[2019-03-01 15:34] branchnetconsulting commented on #2429
Hi, I inspected the loopback interface and zero packets on 6379 are seen when I run "systemctl start ntopng" while when I just run "ntopng /etc/ntopng/ntopng.conf" I do see the expected redis packets.

I then tried using strace when starting up ntopng with systemctl but nothing particularly interesting stood out to me when inspecting all the noisy output of that.

Lastly I switched to installing t

[2019-03-01 15:55] lucaderi commented on #2423
Fixed by https://github.com/ntop/ntopng/commit/69a299486e253c9fc5298f2b099ecdc1daa18f3e

[2019-03-01 15:55] #2423 closed, assigned to nobody

[2019-03-01 16:20] Astaoth opened #2433 "[Suggestion] OpenStreetMaps support"
Hey,

I'm currently trying NTopNG, and I would like to use the GeoMap, but it requires a Google Maps API key.
Since Openstreetmaps has the same kind of API, I was wondering if you will support OSM as well in the future or if you rather plan to stay with Google Maps ?

Regards,
Astaoth

[2019-03-01 18:44] emanuele-f commented on #2426
Can't reproduce now. I've added some code to check invalid flows and print an error message to avoid crashes

[2019-03-03 11:36] junquera opened #2435 "Add `libjson` dependency"
Hi!

I was updating my docker repository [ntopng-docker](https://github.com/junquera/ntopng-docker) with ntopng 3.8 version, and there were multiple errors related with `json_config.h` when compiling:

[code]

Adding `libjson-c-dev` fixed this errors, should it be updated in [README.compilation](/ntop/ntopng/blob/dev/doc/README.compilation)?

[2019-03-03 13:02] Famku opened #2436 "Webhook to Rocket Chat"
Hi,

I was able to create a webhook to Rocket Chat but just receive empty messages.

Someone who can explain how to configure this?

[2019-03-03 17:55] emanuele-f commented on #2436
Hi, do you mean a webhook to receive the ntopng alerts? Please provide information and some code to read

[2019-03-03 21:05] Famku commented on #2436
Yes, to receive ntopng alerts

ntopng preferences:

![2](https://user-images.githubusercontent.com/27890413/53701664-b25e7380-3dff-11e9-8b24-ac146188825d.JPG)

Rocket Chat - incoming Webhook:

![1](https://user-images.githubusercontent.com/27890413/53701671-bee2cc00-3dff-11e9-9572-b14c01aee078.JPG)

Chat output:

![3](https://user-images.githubusercontent.com/27890413/53701687-df128b00-3dff-11e9-9

[2019-03-03 22:28] Famku commented on #2436
closed by mistake

[2019-03-04 06:53] HoseinKashefi commented on #2366
Update+
compare 2 versions (3.9.190219|3.9.190227) for 7 days memory usage.
![image](https://user-images.githubusercontent.com/43135531/53715457-208a5100-3e67-11e9-981c-7896383e7793.png)

[2019-03-04 08:41] simonemainardi commented on #2376
After internal review we've come to the conclusion that we cannot accomodate the request at this time. The whole part of ntopng that is in charge of writing historical timeseries assumes that is 'live' and it would require deep changes that we're unable to perform now.

[2019-03-04 08:41] #2376 closed, assigned to nobody

[2019-03-04 08:43] simonemainardi commented on #2435
Yes please, feel free to update the readme and send us a pull request for inclusion. Thank you.

[2019-03-04 08:43] #2435 closed, assigned to nobody

[2019-03-04 08:47] simonemainardi commented on #2433
Currently we are focusing on other developments and we are unable to accomodate this feature request. Anyway, if you would like to contribute, we would be glad to consider the inclusion of a Pull Request.

[2019-03-04 08:47] #2433 closed, assigned to nobody

[2019-03-04 08:51] emanuele-f commented on #2436
here you can find an example of message json https://www.ntop.org/guides/ntopng/web_gui/alerts.html?highlight=webhook . Can you debug with the console.log above the incoming message contents?

[2019-03-04 09:23] Famku commented on #2436
I can see the alerts in the log, but not in the chat

For now I will use Slack

Thank you

[2019-03-04 09:23] #2436 closed, assigned to nobody

[2019-03-04 12:22] vijaykilledar opened #2438 "ntopng classifying valid flows as Unknown when out_bytes are 0"
I created pcap with different traffic (facebook, google, twitter, amazon) and ran pcap through ntopng and mysql dump feature.
I converted mysql flows into csv and csv to json using python
In most of the valid target ip flows (facebook, google ) ntopng is classifying it as UNKNOWN app.
Common attribute in these flows is out_byte value is zero
attached screenshot of the flows.
![deepinscreenshot_sel

[2019-03-04 12:26] vijaykilledar commented on #2438
Build info
v.3.9.190227	[Enterprise/Professional build]
GIT rev:	dev:63b15acf8394c05549320f53d4a6f0d608f92bcb:20190227
Pro rev:	r2266
Built on:	Ubuntu 18.04.1 LTS
System Id:	D6AF3C6B9205A1D6
Platform:	x86_64
Edition:	Enterprise
License Type:	Time-Limited
Validity:	Until Mon Mar  4 18:06:18 2019

[2019-03-04 12:32] vijaykilledar opened #2439 "ntopng classifying 8.8.8.8 DNS query flows based on IP address in DNS query packet."
#2438 ran test mentioned in this defect. and check 8.8.8.8 ip flows you will see these flows are classified based on IP address in dns query packet though 8.8.8.8 is google's public ip address.
see blow image.
![1112deepinscreenshot_select-area_20190304173510](https://user-images.githubusercontent.com/35503935/53733644-9f9f7980-3ea7-11e9-9eb6-5c7d405f2a5b.png)

[2019-03-04 12:32] vijaykilledar commented on #2439
Build info

v.3.9.190227	[Enterprise/Professional build]
GIT rev:	dev:63b15acf8394c05549320f53d4a6f0d608f92bcb:20190227
Pro rev:	r2266
Built on:	Ubuntu 18.04.1 LTS
System Id:	D6AF3C6B9205A1D6
Platform:	x86_64
Edition:	Enterprise
License Type:	Time-Limited
Validity:	Until Mon Mar  4 18:06:18 2019

[2019-03-04 14:14] simonemainardi commented on #2438
please, enclose the pcap and the ntopng configuration used

[2019-03-04 14:20] simonemainardi commented on #2439
This is expected behavior. DNS is only functional to the service which is actually Google, Facebook, etc. in your example. However, we may report `DNS.<Application>` in a future release.

[2019-03-04 14:20] #2439 closed, assigned to nobody

[2019-03-04 15:25] simonemainardi commented on #2413
flow status fixed as well

[2019-03-04 15:25] #2413 closed, assigned to simonemainardi

[2019-03-04 17:50] simonemainardi commented on #2429
`Connection error [Connection refused]` that seems more a firewall issue.....

Please, check and make sure there's nothing blocking such connections.... maybe iptables?

[2019-03-04 18:36] branchnetconsulting commented on #2429
It is only reaching out to localhost to reach the running redis service.
When I run **/usr/local/bin/ntopng /etc/ntopng/ntopng.conf** it works
but when I run **systemctl start ntopng** it fails
so I can't see how iptables could be interfering

[2019-03-05 05:12] jiangdu8888 opened #2440 "how can i dpi the SSL and support encrypted connections to get the true protocol"

[2019-03-05 05:13] jiangdu8888 commented on #2440
Thinks！

[2019-03-05 07:26] vijaykilledar commented on #2438
pcap file is too big and github allowing only 10MB please generate yourself with facebook and google and other normal web traffic traffic.

[ntopng_conf.zip](https://github.com/ntop/ntopng/files/2929734/ntopng_conf.zip)
command used to generate mysql
sudo ntopng -w 8990 -i ./pcap_file.pcap  -F  "mysql;localhost;db_name;flows;root;password"

[2019-03-05 08:48] simonemainardi commented on #2440
ntopng doesn't support SSL decryption. However, it's able, via nDPI, to detect the application protocol using a combination of the certificate CN extracted during the initial SSL handshake plus the IP addresses of the conversation. This technique is effective to detect encrypted conversations, eg., Google, Facebook, etc. For example, if ntopng reads '*.facebook.com' in the certificate CN, it can s

[2019-03-05 08:48] #2440 closed, assigned to nobody

[2019-03-05 08:50] emanuele-f commented on #2431
@supportcramra were you able to inspect the ntopng log?

[2019-03-05 09:12] simonemainardi commented on #2429
I've just tried to reproduce using your exact config and

[code]

... it works perfectly on ubuntu16...

Note that it doesn't matter if it's on localhost ... if there's something (e.g., a firewall) preventing ntopng from connecting on localhost.... the connection will fail...

By the way:

- try and remove option `--daemon`
- are you sure the `/etc/systemd/system/ntopng.service` hasn't been change

[2019-03-05 09:20] jiangdu8888 commented on #2440
yes i saw that in ndPI. So is it already open in ntopng? Or how do I set it up? And Do I need to install any software or certificates?

[2019-03-05 09:28] emanuele-f commented on #2424
@ahlamm01 any news?

[2019-03-05 11:23] simonemainardi commented on #2400
fixed with: https://github.com/ntop/nDPI/commit/59f683858b2b8f28e88b9348b75fef5164665964

Issue was due to mono-directional DNS over TCP flows. Such flows were seen as monodirectional due to asymmetric routing and nDPI was tricked into thinking that the TCP header was actually the DNS response, yielding spurious data.

[2019-03-05 11:23] #2400 closed, assigned to simonemainardi

[2019-03-05 13:06] emanuele-f commented on #2366
I've added a chart which shows the ntopng memory consumption vs the number of active hosts and flows, the new package will be available in one hour. Please run it for one day and post here the screenshot.

Please check out "Process Memory vs Hosts/Flows"

[2019-03-05 14:26] simonemainardi commented on #2367
implemented. Now alert type links are clickable and bring the user to the alerts list page filtered with the selected alert type.

[2019-03-05 14:26] #2367 closed, assigned to nobody