[2015-05-04 07:04] atin001 opened #2 "ERROR: Unable to start HTTP server"
I have installed ntopng and redis server successfully on one of my VMs
* OS Version: 2.6.39-400.109.6.el6uek.x86_64
* Installed by compiling from source checked out from svn

Not able to start ntopng. The error that I am facing is as follows

[root@ucf2b-docs-psr0427-ms1 bin]# ./ntopng
30/Apr/2015 10:48:53 [Ntop.cpp:779] Setting local networks to 192.168.0.0/16,172.16.0.0/12,10.0.0.0/8,127.0.0.0/8

[2015-05-04 09:28] lucaderi opened #3 "Per-host configurable alerts"
Add per-host thresholds so that alerts are not generated with a global threshold that might be too high for some hosts and too little for others.
Alerts need to be generated for local hosts only and ignored for others. Example if local host X is under flood attack by remote host Y, the alert should report this (i.e. both X and Y must be named) but no state for host Y must be kept.

[2015-05-04 11:23] atin001 commented on #2
Additional Info: This issue happens only on a VM. Ntopng starts fine on physical box.

[2015-05-04 12:06] ariava commented on #2
Hi,

thanks for the report. Could you provide some more details about the VM setup? E.g. network configuration.

Thanks,
Arianna

[2015-05-04 12:15] atin001 commented on #2
Hi Arianna
Here is the ifconfig output

[paasusr@ucf2b-docs-psr0427-ms1 ~]$ ifconfig
eth0      Link encap:Ethernet  HWaddr C6:B0:3D:21:E4:CA
          inet addr:10.241.239.42  Bcast:10.241.239.43  Mask:255.255.255.252
          UP BROADCAST RUNNING MULTICAST  MTU:1500  Metric:1
          RX packets:43530133 errors:0 dropped:4 overruns:0 frame:0
          TX packets:41398108 errors:0 dropped:0 over

[2015-05-04 16:15] tsimmons opened #4 "Missing dependency on OS/X Yosemite"
I haven't built ntopng in a while. When trying to build it on Yosemite I get the following linker error:

`/usr/bin/clang++  src/Ntop.o  src/DnsStats.o  src/Prefs.o  src/GenericHash.o  src/Categorization.o  src/EthStats.o  src/HTTPserver.o  src/StringHost.o  src/VirtualHost.o  src/StringHash.o  src/PacketDumperTuntap.o  src/HistoricalInterface.o  src/AddressResolution.o  src/HostContacts.o  src/ma

[2015-05-04 22:48] lucaderi commented on #4
I use brew and it works for me.
On brew I do
brew install redis hiredis autoconf automake libtool rrdtool wget pkg-config git

Please figure out what you need to do on macports and then send me a merge request for the README.ntopng

thanks

[2015-05-04 22:48] #4 closed

[2015-05-05 07:22] chris4269 commented on #2
pi@Sonde /opt/ntopng $ ./ntopng
05/May/2015 07:21:00 [Ntop.cpp:586] Setting local networks to 192.168.1.0/24,0.0.0.0/32,224.0.0.0/8,239.0.0.0/8,255.255.255.255/32,127.0.0.0/8
05/May/2015 07:21:00 [Redis.cpp:74] Successfully connected to Redis 127.0.0.1:6379
05/May/2015 07:21:00 [main.cpp:168] ERROR: Startup error: missing super-user privileges ?

Version	1.2.1 (r1.2.1)
Platform	Raspbian (armv6l)

[2015-05-05 07:24] ariava commented on #2
@chris4269 you seem to be starting ntopng as a non-privileged user. Have you tried starting it as superuser (e.g. sudo ./ntopng)?

[2015-05-05 07:28] chris4269 commented on #2
pi@Sonde /opt/ntopng $ sudo ./ntopng
05/May/2015 07:27:28 [Ntop.cpp:586] Setting local networks to 192.168.1.0/24,0.0.0.0/32,224.0.0.0/8,239.0.0.0/8,255.255.255.255/32,127.0.0.0/8
05/May/2015 07:27:28 [Redis.cpp:74] Successfully connected to Redis 127.0.0.1:6379
05/May/2015 07:27:29 [main.cpp:168] ERROR: Startup error: missing super-user privileges ?

[2015-05-05 07:29] lucaderi commented on #2
Any chance to provide SSH access to your box to debug the issue locally?

[2015-05-05 07:39] chris4269 commented on #2
I live work on the server

[2015-05-05 07:40] chris4269 commented on #2
it's ok with : sudo ./ntopng -i eth0

[2015-05-05 07:42] lucaderi commented on #2
What Linux distribution are you using exactly ? Please use the GIT code as we have made fixes in the past days (you said you are using the SVN code)

[2015-05-05 07:43] chris4269 commented on #2
RASPBIAN
Debian Wheezy
Release date:2015-02-16
Default login:pi / raspberry
Kernel version:3.18
Release notes:Link

[2015-05-05 08:03] lucaderi commented on #2
We cannot support you if you use an old code version. Please update to github and try again

[2015-05-05 08:03] #2 closed

[2015-05-05 08:03] lucaderi opened #5 "Add netfilter support"
Add ability for ntopng to sniff from a netfilter interface (Linux only).

[2015-05-05 08:08] chris4269 commented on #2
Copyright	© 1998-2014 - ntop.org
License	GNU GPLv3
Version	1.2.1 (r1.2.1)
Platform	Raspbian (armv6l)
 Currently Logged User	admin
Uptime	11 sec

nDPI	r1.5.1
 Twitter Bootstrap	3.x
 Font Awesome	4.x
RRDtool	1.4.8
Redis Server	2.4.14
Mongoose web server	3.7
LuaJIT	LuaJIT 2.0.3
ØMQ	3.2.4
GeoIP	1.4.8

This product includes GeoLite data created by MaxMind, available from http://www.maxmind.com.

Data-D

[2015-05-05 08:09] ariava commented on #2
@chris4269 ntopng 1.2.1 is a really old version. Could you please clone this repo and try it? Or just grab some nightly build from the repo.

[2015-05-05 08:17] atin001 commented on #2
Question: The issue @chris4269 is facing seems to be different from what I have reported. In my case I ran ntopng as root and specifying the interface did not help. The error message is different also. Perhaps it needs to be tracked as a new bug?

The version I used was
[root@ucf2b-docs-psr0427-ms1 paasusr]# /usr/local/bin/ntopng --version
v.1.99.150430 (r9332)

[2015-05-05 08:20] ariava commented on #2
@atin001 Probably you shouls, but still, from the log you reported it seems you are not using the very latest code. Could you please try with the latest github code and, if you still see the issue, file a new issue? Thanks.

[2015-05-05 08:23] chris4269 commented on #2
pi@Sonde /opt/ntopng $ ./ntopng -V
v.1.2.1 (r1.2.1)

[2015-05-05 08:36] yurifrancalacci opened #6 "host alert thresholds"
Host alert thresholds are not saved/displayed
Version: community 1.99.150429
Configuration environment: ntopng behind a rev proxy

[2015-05-05 08:48] atin001 opened #7 "ERROR: Unable to start HTTP server (ntopng version v.1.99.150505)"
Reopening issue #2

Pulled latest code from git and tried to start ntopng. However it still fails to start

[root@ucf2b-docs-psr0427-ms1 paasusr]# /usr/local/bin/ntopng --version
v.1.99.150505

[root@ucf2b-docs-psr0427-ms1 paasusr]# /usr/local/bin/ntopng
05/May/2015 08:44:23 [src/Ntop.cpp:779] Setting local networks to 192.168.0.0/16,172.16.0.0/12,10.0.0.0/8,127.0.0.0/8,0.0.0.0/32,224.0.0.0/8,239.

[2015-05-05 14:07] chris4269 commented on #7
or you can find the log

[2015-05-05 14:14] lucaderi commented on #2
Like I have said we cannot support you unless you give access to your box where we can reproduce the bug.

[2015-05-07 16:50] #3 closed

[2015-05-07 19:59] chris4269 commented on #2
hello
I again install ntop on kali for raspberry
http://www.kali-quebec.org/viewtopic.php?id=306

root@kali:/opt/ntopng# ./ntopng -V
v.1.2.1 (r1.2.1)

when i select manage user
07/May/2015 19:58:01 [NetworkInterface.cpp:800] Started packet polling on interface lo [id: 2]...
Segmentation fault
root@kali:/opt/ntopng#

ntop is out of order

[2015-05-07 20:07] ariava commented on #2
@chris4269, please do try to install the latest ntopng. It is version 1.99 and you can download it from this very same repo. Version 1.2.1 is very old.

[2015-05-07 20:08] chris4269 commented on #2
give me url for version 1.99

[2015-05-07 20:10] alenauta commented on #2
@chris4269 you can git clone version 1.99 from https://github.com/ntop/ntopng.git

[2015-05-07 20:13] chris4269 commented on #2
wget http://sourceforge.net/projects/ntop/files/ntopng/ntopng-1.99.tgz
--2015-05-07 20:12:15--  http://sourceforge.net/projects/ntop/files/ntopng/ntopng-1.99.tgz
Resolving sourceforge.net (sourceforge.net)... 216.34.181.60
Connecting to sourceforge.net (sourceforge.net)|216.34.181.60|:80... connected.
HTTP request sent, awaiting response... 404 Not Found
2015-05-07 20:12:15 ERROR 404: Not Found.

[2015-05-07 20:19] ariava commented on #2
@chris4269, use git (available for all Linux distributions as a package) and do
git clone https://github.com/ntop/ntopng.git

[2015-05-07 22:48] chris4269 commented on #2
when I chose clone in desktop i have https://mac.github.com

[2015-05-07 22:57] chris4269 commented on #2
pi@raspberrypi /tmp $ sudo git clone https://github.com/ntop/ntopng.git
Cloning into 'ntopng'...
remote: Counting objects: 1985, done.
remote: Compressing objects: 100% (30/30), done.
remote: Total 1985 (delta 9), reused 0 (delta 0), pack-reused 1955
Receiving objects: 100% (1985/1985), 9.68 MiB | 554 KiB/s, done.
Resolving deltas: 100% (541/541), done.
Checking out files: 100% (1619/1619), done.

[2015-05-08 05:16] lucaderi opened #11 "Add ability to start ntopng with promiscuous mode disabled"
In essence it must be implemented a new command line option to disable promiscuous mode similar to what happens for instance with "tcpdump -p"

[2015-05-08 06:09] lucaderi commented on #2
https://github.com/ntop/ntopng/blob/dev/README.ntopng

[2015-05-08 07:19] chris4269 commented on #2
it's missing apache2 in the prerequisites !

[2015-05-08 07:44] alenauta commented on #2
@chris4269 after you have installed all dependencies, prior to do ./configure, you have to git clone https://github.com/ntop/nDPI.git and compile it.

[2015-05-08 10:27] chris4269 commented on #2
ERROR: Unable to start HTTP server (IPv4) on ports 3000

sudo ./ntopng
08/May/2015 10:27:08 [src/Ntop.cpp:779] Setting local networks to 192.168.0.0/16,172.16.0.0/12,10.0.0.0/8,127.0.0.0/8,0.0.0.0/32,224.0.0.0/8,239.0.0.0/8,255.255.255.255/32,127.0.0.0/8
08/May/2015 10:27:08 [src/Redis.cpp:93] Successfully connected to Redis 127.0.0.1:6379@0
08/May/2015 10:27:08 [src/PcapInterface.cpp:81] Reading

[2015-05-09 07:10] lucaderi commented on #11
Implemented in https://github.com/ntop/ntopng/commit/acb313f0e93da1dd905ff7f3157866b4a72232ad

[2015-05-09 07:10] #11 closed

[2015-05-09 08:24] ADDISON74 opened #13 "Similarity information is not working"
First of all thank you for this wonderful monitoring software.

I installed ntopng on Debian 7.8 Wheezy from source with geoip (online server) and Debian 8.0 Jessie from Debian's repository (vm server). In both I get an error as follows:

1) Go to [Flows] section. Click in column "Server" then on your server IP address.

2) You will see a lot of tabs from [Traffic] to [Historical]. Please click on

[2015-05-09 08:27] ADDISON74 opened #14 "Ntopng Service Status - Debian 8.0 Jessie package"
In a virtual machine I have Debian 8.0 Jessie for testing. With this Debian version I can install ntopng from repository instead of sources. This is a great because for Wheezy it was not available.

Ntopng installs fine as a service in the system and it works as expected (except Similarity bug I reported earlier). When I run:

root@server:~# service ntopng status

I get two warnings:

May 09 02:01

[2015-05-09 14:04] chris4269 commented on #2
i'ts ok

I just discovered Raspbian (August image) has no IPv6 enabled by default.

To solve this, I used "sudo nano /etc/modules", added "ipv6" at the end, and rebooted.

[2015-05-09 14:11] ariava commented on #2
@chris4269 commit b72bba5 should add a workaround which should allow you to now use ntopng even with IPv6 disabled

[2015-05-09 14:12] ariava commented on #7
Commit b72bba5 should work around this issue. @atin001 could you please verify whether it now works with the latest GitHub code?

[2015-05-09 14:15] ariava commented on #13
@ADDISON74 it seems like you are not using the latest code from GitHub (i.e. the line number in the error message doesn't correspond to a statement which could generate that error). Could you please try with the latest development code and provide the very same info you provided in your very thorough report?

[2015-05-09 14:17] ariava commented on #14
@ADDISON74 to get rid of the GeoIP warning it seems like you'd need to download GeoIP dat packages which can be achieved by issuing "make geoip". As of the script failure, as in the other issue you filed I don't think you are using the latest could. Could you please try again with the latest GitHub code?

[2015-05-09 16:08] yurifrancalacci opened #15 "Filtering report"
After saving the report filter with no protocols, re-clicking the report filter the http protocol results selected.

[2015-05-09 16:12] yurifrancalacci opened #16 "graph legend"
on report page, clicking on the print icon, a report i produced but graphs have no legend or a "cut" on

[2015-05-09 16:18] ariava commented on #15
@yurifrancalacci thank you for spotting that. Could you please update the SVN for the pro version? I have just committed a fix for that. Could you please check if now it seems to be working?

[2015-05-10 05:10] yurifrancalacci commented on #15
I will try it using the nightly package.
Yuri
On May 9, 2015 18:18, Arianna Avanzini <notifications@github.com> wrote:@yurifrancalacci thank you for spotting that. Could you please update the SVN for the pro version? I have just committed a fix for that. Could you please check if now it seems to be working?

—Reply to this email directly or view it on GitHub.

[2015-05-10 13:01] ariava commented on #15
@yurifrancalacci thanks!

[2015-05-10 17:32] yurifrancalacci opened #19 "bootstrap.css.map"
With the authentication active (and without an active session), the login page includes a reference to bootstrap.css.map that could not be retrieved (due to the login) and several requests to that file are done (each request is redirected to the login page). This issue do not have any side effect on the usability, but it is still and non working condition. When the user is logged this file is howe

[2015-05-11 08:02] atin001 commented on #7
@ariava Tried to build from source and install again but facing issues. Here are the steps I followed
1)  git clone https://github.com/ntop/ntopng.git
2) cd ntopng/
3) ./autogen.sh
4) ./configure
5) cd ..; git clone https://github.com/ntop/nDPI.git; cd nDPI; ./autogen.sh; make; cd ../ntopng
6) ./configure
7) /usr/bin/gmake

Here are the errors in make step
Making all in tests
gmake[3]: Entering di

[2015-05-11 08:37] lucaderi commented on #7
try again now

[2015-05-11 08:51] atin001 commented on #7
Yup. Working now!
Thanks @lucaderi @ariava

[2015-05-11 08:51] #7 closed

[2015-05-11 09:42] ariava commented on #5
5a06440 and 379e24b by @lucaderi add fixes to the original implementation.

[2015-05-11 09:42] #5 closed

[2015-05-11 12:20] lucaderi opened #20 "Max Size of Dump Files Unit"
In "Max Size of Dump Files" (e.g. http://localhost:3000/lua/if_stats.lua?if_name=XXX&page=packetdump) the unit (bytes) is too small. Change it to KB or better MB to make it easier for the user to set it.

[2015-05-11 14:42] lucaderi opened #21 "Add Interface Alerts"
Currently alerts are defined only for hosts. It is requested to implements alerts per interface

[2015-05-11 14:48] #20 closed

[2015-05-13 13:52] tomarch opened #24 "es export timestamp and pcap reading"
When reading pcap file and export flows to elasticsearch, the timestamps is based on the localtime. So it's hard to analyse data with time based graph.
The timestamp should be the pcap time.

[2015-05-13 22:59] lucaderi commented on #24
See https://github.com/ntop/ntopng/commit/73453189a95dd83bd3cc72cab51b51b772be573f

[2015-05-14 06:50] yurifrancalacci opened #25 "host_details.lua historical"
historical tab in host_details.lua does not show the graph in with any time series selected.
This could be cause by a "<script>" string inside a javascript section (probably just after the drawRRD call?). Chrome inspection tool reports as follow:
....
$.ajax ({
  type: 'GET',
  url: '/lua/modules/get_real_epochs.lua?epoch='+point.value.x,  data: { epoch: point.value.x },
  async: false,
  success:

[2015-05-14 06:54] #24 closed

[2015-05-14 09:34] chris-good opened #26 "Lua out of memory"
Running on centos6 against a very busy Cisco ASA ntopng is able to run briefly but once we click on a tab to get any data out of the interface we get messages like the following:

13/May/2015 15:05:19 [src/Lua.cpp:4667] WARNING: Script failure [/tmp/ntopng/scripts/lua/iface_ports_list.lua][not enough memory]
13/May/2015 15:05:19 [src/Lua.cpp:4667] WARNING: Script failure [/tmp/ntopng/scripts/lua/i

[2015-05-14 09:40] lucagiambastiani opened #27 "Project about Graphite"
In our project we decide to use StatsD to take network data in SNMP protocol and put them in the Graphite's DB Carbon, but StatsD can't do this, so we need help to do this changes.
Thank you

[2015-05-14 09:42] alenauta commented on #26
@chris-good would you report your system resouces?

[2015-05-14 10:00] chris-good commented on #26
The machine has 8GB ram, mostly free, lots of swap (unused).  I do not
believe that it is a system limit that we are hitting.  I believe it more
likely that lua by default has a relatively low memory allocation which is
inadequate in this case.

On 14 May 2015 at 10:42, alenauta <notifications@github.com> wrote:

--
Chris Good
Grapeshot
www.grapeshot.co.uk
+44 (0) 1223 790 660
Grapeshot Limited |

[2015-05-14 11:39] ariava commented on #26
@chris-good could you please provide info about how you started ntopng? Also, is there any chance to troubleshoot the issue on your server?

[2015-05-14 12:18] chris-good commented on #26
The command we have run is: ntopng -i tcp://127.0.0.1:5556 -n 3

On 14 May 2015 at 12:39, Arianna Avanzini <notifications@github.com> wrote:

--
Chris Good
Grapeshot
www.grapeshot.co.uk
+44 (0) 1223 790 660
Grapeshot Limited | 9 Dukes Court | 54-62 Newmarket Road | Cambridge | CB5
8DZ | UK

[2015-05-14 18:16] lmangani commented on #27
I believe there is background development ongoing on this front for proper support, in the meantime its quite easy to prototype using a small proxy application to turn JSON/TCP nprobe/ntopng reports into metric rows for Graphite/Carbon plaintext format.
A small nodejs example: https://github.com/celand/graFwd.js

[2015-05-16 19:59] #15 closed

[2015-05-17 20:38] ariava opened #28 "Add per-protocol RRDs for networks"
Add RRDs keeping bytes for application protocols as it happens now for network interfaces.

[2015-05-18 08:57] chris-good commented on #26
Any update on this?

On 14 May 2015 at 13:18, Chris Good <chris.good@grapeshot.com> wrote:

--
Chris Good
Grapeshot
www.grapeshot.co.uk
+44 (0) 1223 790 660
Grapeshot Limited | 9 Dukes Court | 54-62 Newmarket Road | Cambridge | CB5
8DZ | UK

[2015-05-18 09:06] ariava commented on #26
@chris-good we are unfortunately not managing to reproduce the issue on any of our systems. Is there any chance to troubleshoot the issue on your machine?

[2015-05-18 09:31] chris-good commented on #26
A little more data for you.

I restarted ntopng and as long as I don't click on any of the links it
seems to survive for a bit.  To give you an idea of the traffic level we
are seeing here is a screenshot from the counter on the homepage:

100k hosts and 128k flows in just over 2 minutes.  Shortly after the
counters stop incrementing when they hit a 128k limit, it was 4 minutes
before I got anothe

[2015-05-18 09:57] chris-good commented on #26
I suspect that you have already discovered this so apologies if this is not
new information.  I have been digging around and it appears that the "not
enough memory" error is coming from luajit.  A google for 'luajit "not
enough memory"'  suggests that on 64-bit machines luajit has a 1gb memory
limit.

I guess that we must simply be able to generate enough data that it hits
the limit.  Please can y

[2015-05-18 10:28] chris-good commented on #26
Just to follow up on that, if we use -x and -X we can get things working.
 128000 seems to work OK but once we get to 256000 hosts/flows we get the
out of memory error.

On 18 May 2015 at 10:57, Chris Good <chris.good@grapeshot.com> wrote:

--
Chris Good
Grapeshot
www.grapeshot.co.uk
+44 (0) 1223 790 660
Grapeshot Limited | 9 Dukes Court | 54-62 Newmarket Road | Cambridge | CB5
8DZ | UK

[2015-05-19 06:00] yurifrancalacci opened #29 "aggregated_hosts_stats.lua"
with a reverse proxy configuration environment no data are displayed in the aggregated_hosts_stats.lua page. Javascript console reports an error as follows:
aggregated_hosts_stats.lua:164 Uncaught SyntaxError: Unexpected token ILLEGAL
issue is probably caused by a misplaced ' " '
   var url_update =<http rev proxy path>"/lua/get_hosts_data.lua?aggregated=1";

[2015-05-19 06:13] lucaderi opened #30 "Per-Interface Alarms"
Implement per-interface alarms similar to what happens with host alarms

[2015-05-19 06:18] yurifrancalacci commented on #29
Double quotes should be moved from line 24 to line 22
     22    var url_update ="]]
     23 print(ntop.getHttpPrefix())
     24 print[[/lua/get_hosts_data.lua?aggregated=1]]

[2015-05-19 07:19] ariava commented on #29
@yurifrancalacci thanks for spotting that! d1442c7 implements the fix you suggested.

[2015-05-19 07:19] #29 closed

[2015-05-19 07:24] ariava commented on #30
@lucaderi sorry for probably dumb question, is this a duplicate of #21 or is this something different?

[2015-05-19 07:27] ariava commented on #25
@yurifrancalacci could you please try this again with latest git/nightly? I believe @lucaderi might have fixed this in some commit a few days ago.

[2015-05-19 07:28] ariava commented on #6
@yurifrancalacci thanks for spotting this, 7ee3b06 fixes the issue.

[2015-05-19 07:28] #6 closed

[2015-05-19 07:29] ariava commented on #13
@ADDISON74 sorry for following up on this, did you have any chance to test the new git code?

[2015-05-19 07:30] ariava commented on #14
@ADDISON74 sorry for following up on this, did you have any chance to test the new git code?

[2015-05-19 07:33] lucaderi commented on #30
My fault sorry

[2015-05-19 07:33] #30 closed

[2015-05-19 07:34] ariava commented on #30
Thanks for clarifying that, assigned myself #21.

[2015-05-19 10:28] ariava commented on #26
@chris-good thanks for all the info you provided. We understand that luajit's memory limit could be the issue here. There is a major improvement planned in ntopng's roadmap which will address high memory usage by Lua scripts in a proper way. However this improvement will most likely not make it to be included in 2.0.
If you could provide access to your machine, we could troubleshoot the issue prop

[2015-05-19 10:39] chris-good commented on #26
I am afraid that I don't think we will be able to get access to the
machine.  All the indications are that luajit memory limits are the issue.
If you set up a 64bit test bench with similar traffic rates to those we are
seeing I am confident that you will be able to reproduce once you see the
counters start ticking over 200000 hosts/flows.

Do you have any timescales for 2.1?

On 19 May 2015 at 11:

[2015-05-19 10:47] ariava commented on #26
@chris-good ntopng 2.0 should be released at the end of the month, so we'd be starting to work on 2.1 immediately after that.

[2015-05-19 22:17] ariava opened #31 "Add per-network traffic chart"
Show a chart for traffic volume for a given network in the web GUI.

[2015-05-20 06:55] lucaderi commented on #29
@yurifrancalacci Please provide a merge request for these simple mispelling issues.

[2015-05-20 12:39] philippeszanto opened #32 "Ntop Linux Debian"
'errno 10 while sending page to client'
Please, someone can help me ?
Thanks :+1:

[2015-05-20 12:40] ariava commented on #32
@philippeszanto could you please explain: 1) which ntopng version are you using; 2) if you are using a stable or nightly package or compiling from source; 3) how to reproduce the issue, e.g. how did you start ntopng?

[2015-05-20 12:47] philippeszanto commented on #32
I use Ntop On debian ("apt-get install ntop", how can exactly verify the version ?) 2) A nightly package I think, i'm sorry 3) "sudo chmod -R 777 /var/lib/ntop"  and "/etc/init.d/ntop start"

In fact, it works, but I have to this server with the least possible error, I looked in the logs and I find this error. If unable to resolve it together, it's not the end of the world.

Thanks, cordialy Phili

[2015-05-20 12:49] philippeszanto commented on #32
I have the version of Ntop ! (It's 5.0.1 on Debian)

[2015-05-20 12:51] ariava commented on #32
@philippeszanto it seems you are using a very old version of the software. The up-to-date version is called ntopng and it can be downloaded here: http://www.ntop.org/get-started/download/ or you can update your repos as explained here: http://www.nmon.net/packages/ or you can even get the development version from this very repository.

[2015-05-20 12:54] philippeszanto commented on #32
Ok, thanks, Have a good day ! :)
Cordially Philippe

[2015-05-20 12:55] ariava commented on #32
@philippeszanto you too

[2015-05-20 12:55] #32 closed

[2015-05-20 17:29] hemskgren commented on #26
Hello

We get the same problem.
centos7, ntopng stable, asa and netflow.
lua memory issue after 5-30 min dependig on connection/flow.

Have run other netflow v9 device for weeks with out issue.

Will test -x and -X tomorrow.

Regards
Christer

[2015-05-20 21:13] #21 closed

[2015-05-20 22:42] #31 closed

[2015-05-21 10:46] hemskgren commented on #26
The -X make it work for me.

Regards
Christer

[2015-05-22 07:18] lucaderi opened #33 "RRD configuration preferences"
ntopng saves raw metrics in RRDs with 1 sec granularity for 1 day, 1 min resolution for 1 month...

We need to create a preference panel where such values can be set by the user. The preferences will be written in redis, and the graph_utils.lua script (whenever a new rrd has to be created) will fetch the values from rrd. Existing rrds will not be affected by changes to preferences, but just those

[2015-05-22 21:14] ADDISON74 commented on #13
Sorry for my late reply. I abandoned for a while this project. I contacted the guys who maintain the package for Debian. Hope to get more success from there. Thank you.

[2015-05-22 21:17] ADDISON74 commented on #14
Sorry for my late reply. I hope to get more time to revise the package from Debian 8 repository. There is no update till now, even I contacted the guys who maintain the package. I will take yours from here and see what is happening. Thank you for your support.

[2015-05-25 06:33] alberk8 opened #34 "Error compile dev branch"
Hi,

I have clone the default (dev) branch of ntopng and the compiling process quit with an error.  On the same machine I have no problem compiling the master branch.  My OS is

Linux SMX8SIL 3.13.0-37-generic #64-Ubuntu SMP Mon Sep 22 21:28:38 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

Is there a bug in the Makefile?.  Thanks.

#### Make message with error below ###
checking GeoIP.h usability... ye

[2015-05-25 06:54] ariava commented on #34
@alberk8 could you please try to install the librrd-dev package and try again? You'd need to invoke ./autogen.sh and ./configure again before trying again to make.

[2015-05-25 07:36] lucaderi commented on #34
@alberk8 I have tried to reproduce the issue and it works for me. if ntopng does not find rrd installed it tries to compile it. It looks to me its compilation is failing on your system. So either you install rrd as Arianna suggested, or make sure you ha installed all prerequisites to rrd compilation.

[2015-05-25 07:36] #34 closed

[2015-05-25 07:40] alberk8 commented on #34
Hi ariava and lucaderi,

Thanks. It now compiles after installing the librrd-dev package.  It is odd that the master branch compiles without the package on the same machine.  Again thanks for the prompt reply.

[2015-05-26 00:54] #33 closed

[2015-05-27 15:26] #27 closed

[2015-05-27 15:29] #25 closed

[2015-05-27 15:30] #14 closed

[2015-05-27 15:30] #13 closed

[2015-06-01 10:06] paoloB132 opened #38 "Missed Top Talker"
Just install 2.0.150601 on CentOS 6.6

RPM version do not start, so compiled and installed from source

Still Top Talkers are not showed (like was on previous version) on Historical NIC Activity.
This is a very useful feature!
See also bug 538 on https://kpn.ntop.org/bugzilla/show_bug.cgi?id=538

It's also be mentioned that this windows in noticeably slower than previous version, when moving curso

[2015-06-01 10:12] ariava commented on #38
@paoloB132 could you please provide you configuration? Unfortunately we are still not managing to reproduce the issue.

[2015-06-01 10:51] paoloB132 commented on #38
Hi Arianna,

thanks to reply so fast !

Here some cons:

[root@ntop ntopng-2.0]# uname -a
Linux ntop.rfx.local 2.6.32-504.16.2.el6.x86_64 #1 SMP Wed Apr 22 06:48:29 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

ntopng Community v.2.0.150601

[root@ntop ntopng-2.0]# more /etc/ntopng/ntopng.conf
-G=/var/tmp/ntopng.pid
-m="192.168.0.0/16, 150.178.3.0/24, 150.178.32.0/24, 150.178.33.0/24, 150.178.34.0/24"

[2015-06-01 12:27] shadow974 opened #39 "Loading of historical data broken when using external flow-collector"
i have the same problem like described in this mailing-list:
 http://www.gossamer-threads.com/lists/ntop/misc/37261

Is there any timerange in which this refactoring will be done?

[2015-06-01 12:45] filippocarletti opened #40 "svn files in rpm package"
ntopng-2.0.150601-165.x86_64.rpm contains .svn directories.
`rpm -qvlp ntopng-2.0.150601-165.x86_64.rpm | grep svn`

[2015-06-01 12:56] ariava commented on #39
@shadow974 we are starting just now the development roadmap towards 2.1. Our roadmap includes fixing the historical interface and adding new features, so stay tuned.

[2015-06-01 22:49] lucaderi commented on #40
@filippocarletti Please check the new nightly build

[2015-06-02 20:41] kg6hum commented on #39
I am also seeing this issue.  I have an nBox collecting data and sending it back to ntopng 1.99.150530 running in a docker container.  The historical interface does not work in this situation, which makes the nBox probe not very useful.  Is there any idea of how long the 2.1 release will take?

[2015-06-03 09:14] #40 closed

[2015-06-03 09:18] filippocarletti commented on #40
`rpm -qlp ntopng-2.0.150603-172.x86_64.rpm | grep svn | wc -l`
`0`

[2015-06-04 09:24] paoloB132 commented on #38
Arianna,

I can try to help to debug the problem of missed "Minute
Top Talkers" i last NTOPNG, can you point me to the scripts that fetch/calculate and display  those information ?

Ciao,
aolo.

[2015-06-04 12:30] ariava commented on #38
@paoloB132 to aid in debugging the issue, could you please check the javascript console of your browser when you try to display top talkers? This could definitely give a hint if a javascript error was the issue.

[2015-06-04 13:04] paoloB132 commented on #38
Hi Ariannna,

1) I’m using Google Chrome
2) Go to Historical Activity of my nic  that is eth1
3) When I move curse over right panel with red traffic graph, it comes up following error:

jquery.js:9592 Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. For more help, check http://xhr.spec.whatwg.org/.

that should correspond

[2015-06-04 20:03] ariava commented on #38
@paoloB132 I think the issue is not in the javascript warning but in the script. Could you please check if the top talkers database was correctly created in the interface folder? (e.g. /var/tmp/ntopng/0/top_talkers/top_talkers.db) Would it be for instance possible to have remote access to your machine to debug the issue?

[2015-06-05 06:16] paoloB132 commented on #38
Hi Arianna,

agree..

[root@ntop ~]# ls -l /var/tmp/ntopng/0/top_talkers/top_talkers.db

Sure…thanks !

I need to know the remote IP address from where you plan to connect …ssh and tcp/3000.

Regards,
Paolo.

------------------------------------------------------------------------------------------------
Paolo Barbato

Consorzio RFX
corso Stati Uniti,4
35127 Padova - Italy
Network Administrator
ph

[2015-06-05 06:18] paoloB132 commented on #38
Arianna … I need also a private email (no github thread !) where send  access credential.

------------------------------------------------------------------------------------------------
Paolo Barbato

Consorzio RFX
corso Stati Uniti,4
35127 Padova - Italy
Network Administrator
phone: +39 049 8295097 fax: +39 049 8700718
----------------------------------------------------------------------------

[2015-06-07 07:21] lucaderi opened #42 "Rework host interactions"
It is necessary to rework /lua/hosts_interaction.lua as it is barely usable on large networks

[2015-06-07 07:24] lucaderi opened #43 "Add layer-2 view"
In the old ntop (non -ng) it was possible to show layer 2 statistics and to display mac address symbolic name (e.g. see https://code.wireshark.org/review/gitweb?p=wireshark.git;a=blob_plain;f=manuf).

[2015-06-09 17:07] sclark46 opened #47 "-e switch causes flow export to ElasticSearch to not work correctly"
But here I started ntopng without the -e flag and I got 3562 packets on port 9200 in a minute and a half.
sudo /usr/local/bin/ntopng -U ntop -ip4p1 -D all -E all -A 2 -H -n 1 -F"es;flows;ntopng2-%Y.%m.%d;http://localhost:9200/_bulk" -d/var/lib/ntop -w 3000 -n 1 -m 192.168.0.0/16,10.0.0.0/8,172.16.0.0/12
09/Jun/2015 10:34:11 [src/Prefs.cpp:685] Using ElasticSearch for data dump [flows][ntopng2-%Y.%

[2015-06-09 20:55] ariava commented on #38
@paoloB132 sorry for the delay in coming back to you. I'll access from kpn.ntop.org if that's OK. My e-mail is avanzini@ntop.org. Thanks to be willing to help.

[2015-06-09 21:29] ariava commented on #47
@sclark46 So during the first run you had the ES data and during the second run you don't have any? Or is the issue something else?

[2015-06-10 10:51] sclark46 commented on #47
That is correct, during the first run I started ntopng without the -e switch.

On 06/09/2015 05:29 PM, Arianna Avanzini wrote:

--
Stephen Clark
*NetWolves Managed Services, LLC.*
Director of Technology
Phone: 813-579-3200
Fax: 813-882-0209
Email: steve.clark@netwolves.com
http://www.netwolves.com

[2015-06-10 11:52] AliAAbadi opened #48 "Nprobe usage"
I have installed ntopng on Ubuntu machine to work as a collector for IPFIX traffic. I would like to know if nprobe should be installed to monitor the IPFIX traffic or it's possible to do that only using ntopng.
Please advise.

[2015-06-10 15:29] lucaderi commented on #48
@AliAAbadi Yes you need to install and start nProbe as explained in http://www.ntop.org/nprobe/why-nprobejsonzmq-instead-of-native-sflownetflow-support-in-ntopng/

[2015-06-10 15:29] #48 closed

[2015-06-11 11:42] overload08 opened #49 "Historical interface"
I use last SVN version of ntopng.
When I try to load files via historical interface, my ntopng crash...

Known issue ?

[2015-06-11 12:43] andreaconsadori opened #50 "cannot install on debian"
seems ntopng package isn't in the ubutu repos.
exist for x64 but not for "all" folder

[2015-06-11 15:44] lucaderi commented on #50
@andreaconsadori Correct. We do not build debian packages yet (it should be part of Debian I believe). However we're working at building Raspberry Pi packages, so soon you will see a debian package for that platform

[2015-06-11 15:44] #50 closed

[2015-06-11 22:59] ariava commented on #49
@overload08 could you please use the latest code from this git repo instead of the old SVN repo? Also, there a known issue with the historical interface we are looking into right now.

[2015-06-11 23:16] ariava commented on #49
@overload08 could you please try the latest git code from the dev branch or the nightly that will be cooked today? d1ef8f3 should fix the crash.

[2015-06-11 23:25] pcmerc opened #51 "Compiling from source Debian 7"
src/NetfilterInterface.cpp: In function ‘int netfilter_callback(nfq_q_handle*, nfgenmsg*, nfq_data*, void*)’:
src/NetfilterInterface.cpp:86:64: error: invalid conversion from ‘unsigned char**’ to ‘char**’ [-fpermissive]
In file included from /usr/xxx/ntopng/include/ntop_includes.h:107:0,
                 from src/NetfilterInterface.cpp:22:
/usr/include/libnetfilter_queue/libnetfilter_queue.h:99:12

[2015-06-11 23:35] ariava commented on #51
@pcmerc seems that different versons of libnetfilter_queue have different prototypes for the nfq_get_payload() function. We'll discuss about this issue shortly.

[2015-06-12 03:47] snapsnapsnap opened #52 "bandwidth graph at bottom reports local-local traffic also"
in the past, the graph only reported local-external and external-local traffic. now it seems to report all traffic, which is of no use to me.

[2015-06-12 09:59] lucaderi commented on #52
@snapsnapsnap Please paste the URL and a picture of the graph you are talking about

[2015-06-12 10:09] snapsnapsnap commented on #52
​our external BW is only 12Mbps, and that is the one I am worried about,

I have defined all our local networks.

On Fri, Jun 12, 2015 at 4:59 PM, Luca Deri <notifications@github.com> wrote:

--

.............................__o
.............................\<,
..........................( )/ ( )
................................
. Sverre Rakkenes
. www.rakkenes.org
. sverre@rakkenes.org
...........

[2015-06-12 10:12] lucaderi commented on #52
@snapsnapsnap Picture please

[2015-06-12 10:26] snapsnapsnap commented on #52
![selection_534](https://cloud.githubusercontent.com/assets/3761022/8128336/19c9d1bc-1128-11e5-92c0-c2d63e22e484.png)
sorry, I added it to email, but that did not seem to work, hope this work better.

[2015-06-14 23:02] syadnom opened #54 "add DSCP/ToS flag in bridge mode"
I (and many others) would like to put ntopng in front of our networks to identify and mark traffic types so that those marks can be used in our firewall and traffic shapers

For example:
ntopng as 'bump in wire' on the wan side of a traffic shaper.
ntopng marks bittorrent with a DSCP/ToS tag.
In the traffic shaper, mark connections with the bittorrent DSCP tag so that those connections can be shap

[2015-06-16 08:36] paoloB132 commented on #38
Dear Arianna,

any news on this subject ?

Regards,
Paolo.

------------------------------------------------------------------------------------------------
Paolo Barbato

Consorzio RFX
corso Stati Uniti,4
35127 Padova - Italy
Network Administrator
phone: +39 049 8295097 fax: +39 049 8700718
------------------------------------------------------------------------------------------------

[2015-06-16 10:28] ariava commented on #38
Hi @paoloB132, I sent out a private e-mail.

[2015-06-16 10:31] paoloB132 commented on #38
…I’ve really replied to that email with requested information… do you see any email from me ?

------------------------------------------------------------------------------------------------
Paolo Barbato

Consorzio RFX
corso Stati Uniti,4
35127 Padova - Italy
Network Administrator
phone: +39 049 8295097 fax: +39 049 8700718
------------------------------------------------------------------------

[2015-06-16 10:33] ariava commented on #38
@paoloB132 I mean I sent out a private e-mail now :-)

[2015-06-16 14:41] EdSchmidt opened #55 "Upgraded to ntopng 2.0 and get the error HTTPserver.cpp:486] ERROR: Unable to start HTTP server (IPv4) on ports 3000"
We were running stable on version 1.99.    Everything was working fine until the update.  I performed the update to hopefully get historical data to work when coming from nprobe. The server is running CentOS 6.6 with the ntop.repo enabled.  The ntopng service did not start, so I ran ntopng at the command line.  Whether I use my ntopng.conf file or not, I get the same error.

16/Jun/2015 10:25:54 [

[2015-06-16 14:55] lucaderi commented on #55
@EdSchmidt Is the SSL certificate present in httpdocs/ssl?

[2015-06-16 17:47] EdSchmidt commented on #55
In /usr/share/ntpng/httpdocs/   there is a ntopng-cert.pem file.

Edward Schmidt
Network Architect

(614) 789-3903 direct
edward.schmidt@careworks.com<mailto:edward.schmidt@careworks.com>

[Description: Description: CareWorks_LOGO_370_431_2011]<http://www.careworksmco.com/>
www.careworks.com<http://www.careworks.com/>

From: Luca Deri [mailto:notifications@github.com]
Sent: Tuesday, June 16, 2015

[2015-06-16 17:53] lucaderi commented on #55
@EdSchmidt Please provide the complete command line you have used to start ntopng

[2015-06-16 17:53] EdSchmidt commented on #55
I just moved the .pem file out of the ssl directory and everything works.

[2015-06-16 17:54] lucaderi commented on #55
Well SSL won't work for sure.

[2015-06-16 18:01] EdSchmidt commented on #55
-G=/var/tmp/ntopng.pid
-i tcp://127.0.0.1:5556
-n=2
-F=db
-d /var/tmp/ntopng
-w 3000
-m 10.72.0.0/16,10.70.0.0/16,10.1.0.0/16,10.3.7.0/24,10.32.84.0/24,10.11.84.0/24,10.3.22.0/24,10.3.5.0/24,10.3.36.0/24,10.3.30.0/24,74.116.228.0/24,10.75.184.0/22,10.75.0.0/21,10.75.232.0/22,172.25.0.0/16,10.75.176.0/22,10.75.8.0/22,10.75.24.0/24,10.3.18.0/22,10.75.168.0/22,10.75.152.0/22,10.75.168.0/22
-e
-H
-v

[2015-06-16 20:55] ariava commented on #55
@EdSchmidt how did you generate the pem file? Is it the same one you used with ntopng 1.99?

[2015-06-17 14:17] kong156 commented on #54
that would be nice indeed!

[2015-06-18 09:40] tomarch opened #56 "segmentation fault when reading pcap"
I just update my ntopng (bade on git dev repo) and now it segfault (it was working 2 week ago):

my command:
ntopng --pid /var/tmp/ntopng2.pid -i /tmp/dump_firewall.txt -w 3000 -n 2 -A 2 -F "db" -m "192.168.201.0/24,192.168.202.0/24,192.168.203.0/24,192.168.204.0/24,192.168.205.0/24,192.168.206.0/24"

the log:
18/Jun/2015 11:37:58 [src/Ntop.cpp:785] Setting local networks to 192.168.201.0/24,192.1

[2015-06-18 10:28] lucaderi opened #57 "Realtime traffic calculation when using nProbe"
When ntopng is used as flow collector, the traffic graphs are not accurate as ntopng computes the bytes/packets from flows. This is not correct, as flows contain average value and are sent to ntop periodically thus invalidating the realtime view of traffic.

[2015-06-18 10:44] lucaderi opened #58 "Aggregated view graph"
In ntopng when two interfaces are aggregated through a view the traffic is merged. It would be nice on
http://localhost:3000/lua/if_stats.lua?if_name=en0,lo0&page=historical not to see the sum of traffic directions but rather a stacked chart (of different colours) for each interface

[2015-06-18 10:47] ariava commented on #56
@tomarch any way to have the pcap you are using?

[2015-06-18 10:47] #49 closed

[2015-06-18 12:23] moschroe opened #59 "#include error when building from source"
Hi,

I'm running an Arch Linux machine, so there is no official package. I'm trying to get to know ntopng and ran into problems building it. I followed http://www.ntop.org/get-started/download/. Below is what I did:
[code]
Unfortunately, that yields the following output:
[code]
Switching to the `dev` branch yields the same result.
The directory `/usr/include/libndpi/`does contain all the header fi

[2015-06-18 12:57] tomarch commented on #56
It the same pcap list that i use 2 week ago and which worked fine. I also try with another pcap and it the same issue.

[2015-06-18 13:31] lucaderi opened #60 "Discard flows marked as bad"
In ntopng with

[--categorization-key|-c] <key>     | Key used to access host categorization
                                    | services (default: disabled).
[--httpbl-key|-k] <key>             | Key used to access httpbl
                                    | services (default: disabled).

You can detect flows that are apparently "bad". For bad flows, ntopng (when used in inline mode), should r

[2015-06-18 13:39] lucaderi opened #61 "Revised Historical Interface"
The current historical interface is not too useful as
1. When there are too many flows it is slow
2. With the pro version, you can have reports and top X without too much hassle.

Recode the historical interface so that users can drill down to flows starting from charts Example if you look at HTTP traffic chart on eth1 of host 1.2.3.4, then a new drill down element should appear for selecting/visu

[2015-06-19 09:24] tomarch commented on #56
here's the last log when enabling verbose :
19/Jun/2015 11:15:42 [src/Flow.cpp:1195] Emitting Flow: { "8": "192.168.206.2", "7": 1831, "12": "192.168.201.6", "11": 53, "4": 17, "57590": 5, "2": 0, "1": 0, "24": 0, "23": 0, "22": 1433114989, "21": 1433114989, "DNS_QUERY": "3-68.e-1.10-1d.18-4b.19-e.5565fef3?a7e947b5181f062df975edbac1bd7d88d424155a4bb2f100004dc1d49a8a7df.g.00.s.sophosxl.net" }
19/Ju

[2015-06-19 12:34] ariava commented on #59
@moschroe could you please try uninstalling nDPI (e.g. make uninstall inside the nDPI directory) and just leave it in the same directory as the ntopng one?
Then re-do the procedure you correctly did for ntopng:
./autogen.sh
./configure
make

[2015-06-19 13:06] ariava commented on #56
@tomarch unfortunately I am not managing to reproduce the segfault with any of the pcaps I have. Could you please provide a "pcap of death", privately? It will be used only to debug this issue.

[2015-06-19 13:06] #55 closed

[2015-06-19 13:28] AlexWolf54 opened #62 "99% dropped packets after update to ntopng Community v.2.0.150619"
Hey guys, I’ve got 99% dropped packets after update to NtopNG Community v.2.0.150619.
Only in the first 2 minutes the flow information are shown after reset the NtopNG settings via Nbox .
Could you please help? BR Alex

[2015-06-19 14:10] ariava commented on #62
@AlexWolf54 could you please provide details on your system setup and ntopng configuration?

[2015-06-19 15:57] sclark46 opened #63 "footer line is not updated when looking a collector interface"
ntopng Community v.2.0.150619
I have two ntopng instances on separate systems - with one acting as collector. The collector does not
update the bps in the footer.
0 bps [0 pps]
Uptime: 10 min, 52 sec
800 Hosts  4,206 Flows
also I don't see top talker graph.
If I do a tcpdump on port 3456 - the port I am using send the data on - I see a lot of traffic bewteen the
two ntopng systems.

on the sender

[2015-06-19 16:11] lucaderi commented on #63
@sclark46 Can you please send the command line you used to start all apps?

[2015-06-19 16:29] sclark46 commented on #63
Welcome to ntopng x86_64 v.2.0.150619
sudo /usr/local/bin/ntopng -U ntop -ip4p1 -D all -E all -A 2 -H -n 1 -F"es;flows;ntopng2-%Y.%m.%d;http://localhost:9200/_bulk" -d/var/lib/ntop -w 3000 -n 1 -m 192.168.0.0/16,10.0.0.0/8,172.16.0.0/12 -B "not host 10.0.133.88 or not host 192.168.198.46" -i tcp://10.0.133.87:3456 --community

Welcome to ntopng i686 v.2.0.150619
sudo /usr/local/bin/ntopng -U ntop

[2015-06-21 20:33] lucaderi commented on #63
@sclark46 I am unable to reproduce it but I have done this https://github.com/ntop/ntopng/commit/3d8f3ac92712448317810998555765e58aa1f5dd in case it helps

[2015-06-22 06:30] AlexWolf54 commented on #62
I´ve got Ubuntu 12.04 LTS x64 running and my ntopng.conf contains following parameters:
-n=1
-W=0
-g=-1
-m="10.82.0.0/16,10.0.0.0/8"
-C
-P
-G=/var/tmp/ntopng.pid
-i=eth0

The ntopng instance does not update the bps in the footer and shows 99% dropped packets.
Same problem description I found here:
https://github.com/ntop/ntopng/issues/63
Also the CPU is loaded up to 100% with the ntopng instance.

[2015-06-22 12:09] sclark46 commented on #63
Don't see any change from latest update. But I did determine that if I don't write flows to Elasticsearch on the sender - I get data on the collector.

© 1998-2015 - ntop.org
Generated by ntopng Community v.2.0.150622
for user admin and interface tcp://10.0.133.87:3456
Upgrade to Professional version
0 bps [0 pps]
Uptime: 1 min, 20 sec
445 Hosts  2,367 Flows

[2015-06-23 06:45] paoloB132 commented on #38
Arianna ...did you be able to reproduce this issue ?

[2015-06-23 11:05] ariava commented on #38
@paoloB132 I have just pushed a fix for top talkers to the dev branch (9e5d3f9). It will be in tonight's nightly. After updating please also remove the top_talkers folders for each interface as there was a flaw in the format of stored JSONs. There was also a permissions issue which I fixed (folders under /var/tmp/ntopng must be writable by nobody or by the user you specify with the -U option).

[2015-06-24 07:27] moschroe commented on #59
Sorry for the delay, got distracted by work.

I did invoke the `make uninstall` in the `nDPI` dir. That apparently did its job.

Wanting to start on a clean slate, I repeated all my previous steps sans `sudo make install` for nDPI (listed below). That should, AFAIR, produce the same state, since without an install (and by uninstalling the results of my previous effort) there should be no artifacts

[2015-06-24 11:34] sclark46 commented on #63
Are there plans to allow using ntopng to send data to another ntopng as well as Elasticsearch at the same time?

[2015-06-24 14:46] paoloB132 commented on #38
Hi Arianna,

download compile and install last development and really now I see top talkers showed when moving on the graph traffic window but only for initial 3/4 minutes, then they are missed again .

Regards,
Paolo.

------------------------------------------------------------------------------------------------
Paolo Barbato

Consorzio RFX
corso Stati Uniti,4
35127 Padova - Italy
Network Admin

[2015-06-28 13:41] lucaderi commented on #19
Fixed in current development code

[2015-06-28 13:41] #19 closed

[2015-06-28 13:43] lucaderi commented on #16
@ariava Arianna any news?

[2015-06-28 13:44] ariava commented on #16
@lucaderi Unfortunately I cannot reproduce this.

[2015-06-28 13:45] lucaderi commented on #59
@moschroe You are using an old version of nDPI. Get the code from github (after deinstalling the old packages) and it should work

[2015-06-28 13:45] #59 closed

[2015-06-28 13:46] lucaderi commented on #56
Unable to reproduce the issues. Closing it.

[2015-06-28 13:46] #56 closed

[2015-06-28 13:56] lucaderi commented on #51
@pcmerc I have just compiled on Debian 7.7 and it compiles flawlessly.

[2015-06-28 13:56] #51 closed

[2015-06-28 13:58] lucaderi commented on #39
The historical interface will be strongly recoded. For the time being please use ElasticSearch to dump historical data or the reporting capabilities available in the pro version. If you have suggestions on how/what the new historical interface should do, please file an enhancement issue. Thanks.

[2015-06-28 14:05] lucaderi commented on #16
@ariava As you can see inside the PDF both content and legend are missing. If this is a browser issue then let's close this issue.

![screen shot 2015-06-28 at 07 03 41](https://cloud.githubusercontent.com/assets/4493366/8396649/de138ada-1d63-11e5-95fd-83b315faab4e.png)
![screen shot 2015-06-28 at 07 03 48](https://cloud.githubusercontent.com/assets/4493366/8396650/de316046-1d63-11e5-8c2b-e1861a2e

[2015-06-28 14:06] lucaderi commented on #16
@ariava Please also note that the timelines are not in sync too

[2015-06-28 14:10] ariava commented on #16
@lucaderi so sorry, I was looking at the web page rendered for printing and not at the printed PDF itself. I can totally reproduce it, I'll try to look into this issue at once.

[2015-06-28 14:28] ariava commented on #16
@lucaderi could please check with latest SVN code? I might have pushed a workaround for this issue.

[2015-06-28 14:41] lucaderi commented on #16
@ariava Fixed

[2015-06-28 14:41] #16 closed

[2015-06-28 14:43] lucaderi commented on #47
Fixed in https://github.com/ntop/ntopng/commit/dc6a52c09ba2615645a038d1a4ef02d17e4a82b1

[2015-06-28 14:43] #47 closed

[2015-06-29 20:09] acs5369 opened #65 "Continuously duplicated data when outputting to ElasticSearch"
When running the following command:
`ntopng -n 3 -i [path to pcap] -F "es;flows;ntopng-%Y.%m.%d;http:/;locahost:9200/_bulk;" -v`
I notice that the program sends some data to ES, then loops for 5 seconds or longer (once each second, 5+ times) and outputs to the screen:

29/Jun/2015 12:31:17 [src/Lua.cpp:2555] ntop_get_dirs() called
29/Jun/2015 12:31:17 [src/Lua.cpp:2515] ntop_is_pro() called
29/Jun

[2015-06-30 00:53] ariava commented on #65
@acs5369 how long is the pcap? Would you be able to provide a pcap to reproduce the issue? (only for debugging purposes)

[2015-06-30 02:03] acs5369 commented on #65
The PCAP contains one ping request packet, nothing else in it. I created the PCAP from a Wireshark capture on a Win7 machine. I believe that the problem may be more due to the setup that I have (processing the PCAP in a separate VM than the capture was done on and no internet connection).

[2015-06-30 08:58] ValentinaViscarelli opened #66 "ntopng license inside file"
Adding ntopng license in /etc/ntopng.license

[2015-06-30 09:40] IT-W opened #67 "Unresponsive script"
We use our NTOP installation as part of our NOC. While running the main page (Top Talkers with actual traffic and the graphs corresponding those) we get this message after a few hours:
![image](https://cloud.githubusercontent.com/assets/13116221/8428068/335dbd08-1f1c-11e5-90cf-f6206cdea11a.png)
We use Firefox version 37.0.2. Also, if we run this page in IE, after a while the screen freezes without

[2015-06-30 10:12] lucaderi commented on #67
@IT-W What version of ntopng are you using?

[2015-06-30 10:13] IT-W commented on #67
2.0.150531 - Professional Edition

[2015-06-30 13:01] lucaderi commented on #65
You misspelled the option name  "es;flows;ntopng-%Y.%m.%d;http://localhost:9200/_bulk;"

This said see https://github.com/ntop/ntopng/commit/1d604d1902bbe703a51e522a0af1c466637dd540

[2015-06-30 13:01] #65 closed

[2015-06-30 13:21] zekicker commented on #51
I've the same issue there !

src/NetfilterInterface.cpp: In function 'int netfilter_callback(nfq_q_handle*, nfgenmsg*, nfq_data*, void*)':
src/NetfilterInterface.cpp:86: error: invalid conversion from 'unsigned char**' to 'char**'
src/NetfilterInterface.cpp:86: error:   initializing argument 2 of 'int nfq_get_payload(nfq_data*, char**)'
make: *** [src/NetfilterInterface.o] Error 1

[2015-06-30 15:28] lucaderi commented on #51
Same as above: no problem on debian 7.7

[2015-06-30 17:57] pcmerc commented on #51
I've removed nDPI & updated to the latest GIT version.
I've also updated to the latest version of ntopng through git.
Previous versions built no problem.

I am still receiving the same error & I'm running the latest deb 7 release.
Do I need to setup a new vm instance & prove otherwise?

[2015-06-30 18:05] pcmerc commented on #51
Loading up a fresh instance to verify the build failure.

[2015-06-30 18:40] pcmerc commented on #51
New compile on fresh build of debian 7.8 running now
nDPI compiled & installed prior

[2015-06-30 19:00] #28 closed

[2015-06-30 19:12] pcmerc commented on #51
echo "deb http://ftp.de.debian.org/debian wheezy-backports main" > /etc/apt/sources.list.d/backports.list
apt-get update && apt-get dist-upgrade
apt-get install git screen vim build-essential devscripts libnetfilter-queue-dev autoconf libtool libpcap-dev libjson0-dev autogen automake autoconf libtool libjsoncpp-dev
libjson-glib-dev libjson-c-dev libcurl4-openssl-dev libsqlite3-dev libgeoip-dev lib

[2015-06-30 19:13] pcmerc opened #68 "Compiling from source Debian 7"
echo "deb http://ftp.de.debian.org/debian wheezy-backports main" > /etc/apt/sources.list.d/backports.list
apt-get update && apt-get dist-upgrade
apt-get install git screen vim build-essential devscripts libnetfilter-queue-dev autoconf libtool libpcap-dev libjson0-dev autogen automake autoconf libtool libjsoncpp-dev
libjson-glib-dev libjson-c-dev libcurl4-openssl-dev libsqlite3-dev libgeoip-dev lib

[2015-06-30 21:12] ariava commented on #68
@pcmerc it seems you are using an old version of libnetfilter-queue. Recently the prototype of the nfq_get_payload() function has been changed (http://netfilter.vger.kernel.narkive.com/mebh6OoE/patch-libnetfilter-queue-1-3-non-modified-payload-arguments-are-pointer-to-const) and it seems the version you are using does not include such change. We cannot drop support for the current libnetfilter-que

[2015-06-30 21:13] ariava commented on #66
@ValentinaViscarelli could you please clarify the issue you are encountering?

[2015-06-30 21:40] pcmerc commented on #68
But as Luca stated, he built it on a debian 7.7 environment. So he must not be using the default packages. Did update his base using source or someones newer version in deb format? I have no issues compiling a newer version just trying to understand.

[2015-06-30 21:53] pcmerc commented on #68
Ok, built some updated debs for libnetfilter-queue1 - 1.0.2
libnetfilter-queue1_1.0.2-1_amd64.deb
libnetfilter-queue-dev_1.0.2-1_amd64.deb
Compiled with no errors now. Thanks Ariava :D

[2015-06-30 21:53] #68 closed

[2015-06-30 22:07] lucaderi commented on #66
@ValentinaViscarelli  In essence the license should be checked as follows
1. Check for license in /etc/ntopng.license
2. If not found search on redis for the license.

It this what you want?

[2015-06-30 22:09] pcmerc opened #69 "Compiling from source Debian 7 - PF_RINGInterface"
I've updated the libnetfilter-queue packages & have moved past that error on my production machine.
I am seeing this error now. I already have a previous built of PF_RING on this machine.
Ariava does this point to an outdated PF_RING library ?
My test build environment that completed with no errors after the libnetfilter-queue packages update didn't have PF_RING on it.

src/PF_RINGInterface.cpp: I

[2015-06-30 22:24] lmangani commented on #66
+1 for the dual license location option, file-system is more reliable for
this role

Lorenzo Mangani

HOMER / PCAPTURE DEV TEAM
Desk: +31 20 8080468 / +1 202-632-7227
Mobile: +31 6 4603-2730

QXIP BV - Capture Engineering
Amsterdam, The Netherlands
get@pcapture.com

On Wed, Jul 1, 2015 at 12:07 AM, Luca Deri <notifications@github.com> wrote:

[2015-06-30 23:05] pcmerc commented on #69
It appears that was the issue. I've updated PF_RING to the latest git version. Compiled complete.

[2015-06-30 23:05] #69 closed

[2015-07-02 14:02] lucaderi commented on #67
Please try the latest dev- build that works for me

[2015-07-03 06:39] paoloB132 commented on #38
Hi Arianna,

Any news ?

Installed v.2.0.150702

Traffic graph in Historical Activity form disappears.

When move on Traffic Windows some numbers come up on Minute Top Talkers frame, but honestly it’s not clear what they mean.

Min, Max, Average, Total Traffic always show “0”.

Regards,
Paolo.

------------------------------------------------------------------------------------------------
Paolo B

[2015-07-03 10:44] ariava commented on #38
@paoloB132 there was again an issue with permissions of the top talkers database. I do not know if that is the cause of the troubles you're experiencing, but even if I can ssh correctly to the server I still am not able to access the web interface: do I have to access via kpn.ntop.org as well?

[2015-07-03 11:08] crwdawg opened #70 "Depreciated message Kernel module error in /var/log/messages when starting service"
Scientific Linux (RHEL clone)
Jul  3 06:54:55 lnx-br01-s1 kernel: Loading kernel module for a network device with CAP_SYS_MODULE (deprecated).  Use CAP_NET_ADMIN and alias netdev-. instead.

[2015-07-03 11:20] paoloB132 commented on #38
yes …actually I don't see any attempt

------------------------------------------------------------------------------------------------
Paolo Barbato

Consorzio RFX
corso Stati Uniti,4
35127 Padova - Italy
Network Administrator
phone: +39 049 8295097 fax: +39 049 8700718
------------------------------------------------------------------------------------------------

[2015-07-03 11:45] lucaderi commented on #70
@crwdawg Why are you asking this to us? This does not look a ntopng issue

[2015-07-03 11:45] #70 closed

[2015-07-06 07:17] JuergenWeber opened #73 "Full-duplex characteristic of WAN traffic is not reflected in the little 'peity' graph at the bottom"
To my understanding WAN traffic is bidirectional (upstream- and downstream traffic at the same time). This doesn't reflect in the little 'peity' graph at the bottom of each NTOPNG page. In the little graph upstream- and downstream traffic doesn't occur simultaneously. It's either up- or downstream. Here's an example how it could look like: http://www.atotech.com/data/peity.html
![image](https://cl

[2015-07-06 10:02] philoo9999 commented on #62
same problem here

[2015-07-06 21:04] lucaderi commented on #67
No answer. I close it for the time being and perhaps re-open it if you are able to reproduce it

[2015-07-06 21:04] #67 closed

[2015-07-06 21:09] lucaderi opened #74 "Add MAC-address traffic statistics"
In essence it is necessary to enhance layer-2 support and add a new matrix report that displays who is talking to who at layer-2

[2015-07-06 21:12] lucaderi opened #75 "Ability to cluster hosts together in communities"
In the old ntop it was possible to define host communities that are a logical representation of cluster of hosts that fall under the same administrative domain. It is now time to implement this feature in ntopng.

[2015-07-06 21:16] lucaderi commented on #75
Implement a new patricia tree similar to the one used for networks. This feature will be implemented with a new command line argument that accepts a file with the following format

communityX=net1,net2,net3
communityY=net4,net5,net6
...

[2015-07-07 06:16] lucaderi commented on #62
Hi all, I cannot reproduce the bug and I need to debug it on your host if possible. Can you please contact me in private and let me know how to do this debug session?

[2015-07-07 06:18] lucaderi commented on #62
Please note that we have fixed a loop bug about 10 days ago, so I believe you are affected by this issue. Please update first to the latest version (any July version would work) and report.

[2015-07-09 07:21] VittGam opened #77 "The historical interface generates a flood alert when loading more than 32768 flows at once."

[2015-07-09 07:25] VittGam opened #78 "Last seen time is not always populated correctly for flows in Historical interface."
For example, many flows have "01/01/1970 01:00:05 [45 years, 200 days, 7 h, 22 min, 16 sec ago]" as Last Seen, with the time ranging from 01:00:00 and 01:00:something.

[2015-07-09 23:27] ariava commented on #77
@VittGam could you please check the latest dev branch? feefcc7 should fix the issue.

[2015-07-10 08:03] JuergenWeber opened #80 "-B filter statement causes error if statement > 512 Bytes"
We're running a NTOPNG box at the border LAN/WAN and we're filtering out all local IP networks. This makes the filter statement looong.
I get the following error if the -B filter statement exceeds 512 Bytes:  [src/PcapInterface.cpp:221] ERROR: Unable to set filter ip && !(ip multicast ........... || dst net 10.187.128.0/24 ||. Filter ignored.
Version: 2.0.150611

[2015-07-10 14:05] lucaderi commented on #73
I have made a fix towards what you need. Please play a bit with the HTML and add the remaining pieces such as Kbps etc so I can then incorporate them in ntopng. Please send me a merge request when you're done.

[2015-07-10 15:05] JuergenWeber commented on #52
You may need to add a filter statement ( -B=... ) to your ntopng.conf in additional to the local networks definition.

[2015-07-10 21:09] ariava commented on #26
@chris-good we have implemented some possible fixes for this issue. When possible, we have attempted to reduce load on the Lua stack, by fixing some of the scripts and implementing a flexible interface to filter out flows/hosts stats when retrieving them. However, we'd like some feedback so that we know where to apply it. Could you please try the latest dev branch?

[2015-07-11 02:25] drolfe commented on #39
+1 This is effecting us as well, Can't wait for 2.1 to be finished to get this resolved, is it still going to be a sqlite back-end or will there be other options for historical reporting ?

[2015-07-11 02:42] lucaderi commented on #39
The current option is ElasticSearch.

[2015-07-11 03:42] drolfe commented on #39
Will the ntopng interface be able to pull data from ES or do you just mean to use Qbana ?

[2015-07-11 11:33] hemskgren commented on #26
Hi

Today i switch from centos7 x64 stable to nightly builds (150711-4723).

After my May update I have updated to 2.0 stable. It is much better in cpu usage.
What i notice is the ntopng cpu load is now always over 100% from about 30-40% before.

I will check more later in the week. We do not have the same load on this ASA in the summer.

Regards
Christer

[2015-07-11 13:12] drolfe opened #81 "BGP ASN data not correct"
Ubuntu 14.04.2 LTS
ntopng x86_64 v.2.0.150531

I see our local ranges from the DC not pick-up the correct ASN, could all ASN resolution be off ?

Below networks show as ISP Elekom [ ASN 44348 ] in MOSCOW
93.158.208.0/20
93.158.200.0/21
The real DATA is Serverius BV [ ASN AS50673 ] in Netherlands

Let me know if you need any more information

[2015-07-11 16:23] lucaderi commented on #39
Will yes, 'is able'  is not. Today you can use your favourite tools to do that.

This said: why do you need the historical interface? Can you highlight some use cases?

[2015-07-11 16:28] #42 closed

[2015-07-11 16:33] #77 closed

[2015-07-11 16:35] ariava commented on #63
@sclark46 ntopng-to-ntopng interaction is planned but not available yet. Have you tried 8a300cd which @lucaderi pushed some time ago?

[2015-07-11 16:36] ariava commented on #62
@AlexWolf54 @philoo9999 any news about the fix @lucaderi added?

[2015-07-11 17:01] lucaderi commented on #63
@ariava @sclark46 I think you should read this: http://www.ntop.org/ntopng/creating-a-hierarchical-cluster-of-ntopng-instances/

[2015-07-11 17:08] lucaderi commented on #81
We rely on GeoIP dat files. Please check if they handle this update (so we can download new dat files) or if you need to report them this problem.

[2015-07-11 17:08] #81 closed

[2015-07-11 22:57] ariava commented on #80
@JuergenWeber could you please provide a sample filter statement that triggers the issue?

[2015-07-12 00:55] #75 closed

[2015-07-12 06:26] Drewshg312 opened #82 "Page "/lua/login.lua" was not found"
Hi! Successfully installed ntopng from homebrew. Started redis server and started ntopng: `$ sudo ntopng`. When going to `localhost:3000` in browser, getting this:

![untitled](https://cloud.githubusercontent.com/assets/10493450/8636687/1bb803e6-2824-11e5-85f7-86ab23e841ab.jpg)
Could you please point me in right direction. Thank you.

[2015-07-12 10:15] drolfe commented on #81
Ok I've updated the dat files by hand, lets see if this makes a difference

 root@ntopng:/usr/share/GeoIP# ls -la
total 28220
drwxr-xr-x   2 root root     4096 Jul 12 20:13 .
drwxr-xr-x 109 root root     4096 Jul  9 00:10 ..
-rw-r--r--   1 root root  3916649 Jun 15 06:45 GeoIPASNum.dat
-rw-r--r--   1 root root   769078 Jul  8 11:10 GeoIP.dat
-rw-r--r--   1 root root  3105495 Apr  8  2014 GeoIPv6.d

[2015-07-12 10:20] drolfe commented on #39
Hi,

for example, we often have software releases on the weekend, and sometimes the developers will complain about slow network performance.

So come Monday morning  Id like to look at what was using the network bandwidth at the times they said it was slow etc..

Regards, Daniel

[2015-07-12 20:47] lucaderi commented on #39
I have updated the dat files. overnight new packages will be built containing them

[2015-07-12 21:00] lucaderi commented on #80
@JuergenWeber Does tcpdump accepts your filter?

[2015-07-12 21:04] lucaderi commented on #82
Have you installed the v2 of ntopng? If so under /usr/local/ntopng do you see the files?

[2015-07-12 21:37] Drewshg312 commented on #82
Yeah I've already solved the problem:
https://github.com/Homebrew/homebrew/issues/41637#issuecomment-120756355

[2015-07-12 21:37] #82 closed

[2015-07-13 02:35] VittGam commented on #77
It doesn't alert me anymore now. Thanks!

[2015-07-13 06:35] shadow974 commented on #39
Hi,

yes, same use case here. The reporting feature in the professional-edition is not detailed enough to find the "bad guy" who caused the traffic spikes at time "x" in the past..

Regards, Karl

[2015-07-13 09:53] JuergenWeber commented on #80
Yes, it does.
Here's the real world example which works in NTOP- - but works in TCPDUMP
-B=ip && !(ip multicast || ether broadcast) && !((src net 10.187.112.0/22
|| src net 10.187.125.0/24 || src net 10.186.59.0/24 || src net
10.186.102.0/24 || src net 10.187.127.0/24 || src net 10.187.126.0/24 ||
src net 10.187.128.0/24 || src net 10.161.254.0/24 || src net
10.161.252.128/25 || src net 10.161.139

[2015-07-13 11:53] sclark46 commented on #63
Again - ntopng -> ntopng works OK as long as I don't have the sending ntopng also sending flows to elasticsearch. Let me add I haven't had a chance to test this with any recent versions. If it still is a problem I will open a new issue.

[2015-07-13 11:53] #63 closed

[2015-07-13 21:17] lucaderi commented on #39
You have the top talkers on each graph, so you can see what causes the bandwidth issues
![screen shot 2015-07-13 at 23 17 28](https://cloud.githubusercontent.com/assets/4493366/8661079/5c32d076-29b5-11e5-8811-bb7413489029.png)
.

[2015-07-13 21:44] kg6hum commented on #39
As an ISP, we need to look at traffic during "peak usage" hours, as well as the differences in traffic over time.  Since we are a small ISP, we do not have someone in our office during those "peak usage" hours to look at the data.  We would like to have historical data so we can look at the usage during the day and also look at trends in the traffic over time.  I am not opposed to using ElasticSea

[2015-07-13 22:06] lmangani commented on #39
The point of the external collector and using ntopng as a probe feeding data into it is indeed to allow ISPs small and big to build their own metric sets on a vastly more flexible platform such as ES (a few dashboards are provided in Qbana as model, but they literally take just minutes to build when familiar with the ntopng dataset) and enabling activity over any timerange - while ntopng works gre

[2015-07-14 06:33] shadow974 commented on #39
Ok, but the Graph you showed is also broken because of #57. It shows me spikes of 10 Gbit/s and more on a 100 Mbit/s interface caused by the periodically transmitted data from nprobe.

[2015-07-14 08:31] lucaderi commented on #39
This is not broken but it works like that. If you have a probe that emits flows every 30 sec or so you will see traffic spikes as the traffic of 30 sec is aggregated in one sec basically. We have plan extend the probe to send periodic traffic info for interface stats.

[2015-07-14 09:01] #62 closed

[2015-07-14 09:05] AlexWolf54 commented on #62
I´ve reinstalled server and ntopng. after that it was working fine!

[2015-07-15 16:24] lucaderi commented on #80
@JuergenWeber On what interface did you set this on ntopng? What is the -i interface you set? Note that BPF filters cannot be set for all interfaces. For instance the loopback interface accepts filters different than the ethernet interface. Please provide the complete log.

[2015-07-15 16:32] lucaderi commented on #80
Fixed on https://github.com/ntop/ntopng/commit/ebdcfc4d869db7b3b8fb09786df85eaaa7af2912. Again note that not all interfaces support the same BPF filter.

[2015-07-15 16:32] #80 closed

[2015-07-15 16:44] lucaderi commented on #52
@snapsnapsnap Can you please update ntopng and see if it works better now?

[2015-07-16 07:27] Drewshg312 opened #84 "ntopng on OS X strange error 500"
Hi! I've installed ntopng on mac os x yosemite 10.10.4
I have this in "About ntopng" tab:
![untitled1](https://cloud.githubusercontent.com/assets/10493450/8660995/81828a0c-2969-11e5-91db-0aea737a2905.jpg)

[2015-07-16 07:41] lucaderi commented on #84
Can you please check if the code in github fixes the issue?

[2015-07-16 07:44] Drewshg312 commented on #84
do you mean the master repo? which version is it? There is 2.0v (Stable) in brew...

[2015-07-16 07:46] lucaderi commented on #84
The master dev repo. I think we fixed the issue so we can back port the fix

[2015-07-16 07:46] lucaderi commented on #62
Good so the bug on nDPI was the reason

[2015-07-16 07:50] Drewshg312 commented on #84
In which version was it fixed? I've reported it in Homebrew but they say they don't have the issue...
How do I install it without brew? Is there an instrutction?

[2015-07-16 08:18] JuergenWeber commented on #80
--interface eth1

[2015-07-16 08:19] JuergenWeber commented on #80
-G=/var/tmp/ntopng.pid
# tells ntop the user id to run as
--user ntop5

#save messages into the system log
--use-syslog=daemon

# sets the directory that ntop runs from
--db-file-path /var/lib/ntop

# --data-dir=/var/tmp/ntopng

# the amount and severity of messages that ntop will put out
--trace-level 0

# limit ntop to listening on a specific interface and port
--http-port=3003
#--https-port=300

[2015-07-16 09:57] JuergenWeber opened #85 "remote2local.rrd and local2remote.rrd are missing in /var/tmp/ntopng/1/rrd/localstats/"
What can be the reason that remote2local.rrd and local2remote.rrd are not being created by minute.lua?

[2015-07-16 11:03] JuergenWeber commented on #85
After investing some time for investigation it turned out that the following kind of errors prevented the creation of local2remote/remote2local.rrd files. The manual creation of the missing directories solved the problem. One question remains: What is the source of these kind of errors?
 ntopng: [src/Lua.cpp:4477] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/minute.lua][/usr/share/

[2015-07-16 11:46] JuergenWeber commented on #85
Ok, reason for this was an error in the "/etc/ntopng/protos.txt" file which caused the "graph_utils.lua" to fail at line 884. Maybe it's a good idea to catch such kind of errors to prevent other parts of the ntopng from aborting.

[2015-07-16 12:03] JuergenWeber opened #86 "Menu item "Protocols/DNS" fails (no table shown)"
When calling "Protocols/DNS" the following error occured:
ntopng: [src/Lua.cpp:4746] WARNING: Script failure [/usr/share/ntopng/scripts/lua/get_hosts_data.lua][/usr/share/ntopng/scripts/lua/get_hosts_data.lua:394: attempt to compare number with nil]

After putting line 394 between a "nil" check everything works:
if(value["active_http_hosts"] ~= nil) then
     if(value["active_http_hosts"] > 0) the

[2015-07-16 12:11] snapsnapsnap commented on #52
ok, will try when I get to office

On Wed, Jul 15, 2015 at 11:44 PM, Luca Deri <notifications@github.com>
wrote:

--

.............................__o
.............................\<,
..........................( )/ ( )
................................
. Sverre Rakkenes
. www.rakkenes.org
. sverre@rakkenes.org
................................

[2015-07-16 12:13] lucaderi commented on #78
The historical interface will be reworked anyway. let's leave it open for the time being.

[2015-07-16 18:03] kYroL01 commented on #86
fixed in commit 03de4213c3fc866a40dccbe1ed41e66a90c0cf16

[2015-07-16 19:02] lucaderi commented on #85
See https://github.com/ntop/nDPI/commit/73358d5ec2f877ca30ac0b20c12530d1f338ca5b

[2015-07-16 19:02] #85 closed

[2015-07-16 19:02] #86 closed

[2015-07-17 06:50] JuergenWeber opened #87 "Typo in aggregated_host_details.lua"
Typo in line 173:
.."/lua/hiioset_details.lua?host="..k.."\">"..name["name"]..

[2015-07-17 07:22] JuergenWeber opened #88 "Error in DPI for http ???"
I find very strange "hosts" when launching "http_servers_stats.lua": The server 10.187.127.45=brlnap69 runs Microsoft SCCM (1.6.0-dev-66-12f89ff):

![image](https://cloud.githubusercontent.com/assets/13195740/8742405/422a9fd0-2c65-11e5-8884-89402a3fb80d.png)

[2015-07-17 07:48] JuergenWeber opened #89 "nil check missing in "get_hosts_data.lua""
When calling pages like "/lua/hosts_stats.lua?protocol=LotusNotes" I get often the following error (v.2.0.150611):

ntopng: [src/Lua.cpp:4746] WARNING: Script failure [/usr/share/ntopng/scripts/lua/get_hosts_data.lua][/usr/share/ntopng/scripts/lua/get_hosts_data.lua:227: attempt to index global 'info' (a nil value)]

[2015-07-20 06:28] lucaderi commented on #88
Please provide a pcap file of the traffic of such host to see what happens

[2015-07-20 09:38] shadow974 commented on #39
How far are these plans? The two most critical features for my company are getting meaningful live-data without those peaks and the ability to track down the IP who caused the most traffic in a selectable time-range. Could a donnation "help" with the development of these features? :)

[2015-07-20 09:45] lucaderi commented on #39
@shadow974 A donation can definitively help, but before talking about that I have said we need to recode the historical support because it was conceived with different requirements in mind. Now can you please list the requirements you would it to satisfy?

[2015-07-20 10:39] hemskgren commented on #26
Hi

It look like it run clean with 80-90 K conn/netflow from ASA with this spec.

Version	2.0.150711 - Community Edition
Platform	x86_64-unknown-linux-gnu (x86_64) - 64 bit
Uptime	 8 days, 23 h, 31 min, 58 sec

It will properly take a couple if week before we see 130 K conn/netflow.

Regards
Christer

[2015-07-20 10:45] hemskgren commented on #26
Hi

Should I keep the version or upgrade to latest (150720-264)?
I will leave it for a couple of weeks to I back to work again.

Regards
Christer

[2015-07-20 11:39] shadow974 commented on #39
We try to use ntopng with a bunch of nprobe sources to collect data from different locations. This should enable us to catch specific hosts generating uncommon traffic. We already have bandwith monitorings to get the exact time-range when this happens but no way to get the source of the problem.

The graph you showed would be the perfect solution but does not work with nprobe sources, actually.
Se

[2015-07-20 12:02] ariava commented on #87
@JuergenWeber fixed in 06a7063 with your signed-off.

[2015-07-20 12:03] #87 closed

[2015-07-20 12:04] ariava commented on #84
@Drewshg312 you must clone this git repository and get the dev branch (it's the default branch). Then you can compile it and run it.

[2015-07-20 12:28] lucaderi commented on #84
We update homebrew periodically with the new sw release. For the time being please use the development branch on git.

[2015-07-20 12:28] #84 closed

[2015-07-21 14:07] simpsora opened #90 "Can't build master on Mac OS X 10.7.5"
After running `autogen.sh`, `configure.sh`, and the same for nDPI master, I get the following error during `make`:

[code]

The version in brew doesn't work for me (keep getting `22/Jul/2015 00:07:12 [src/Lua.cpp:52] ERROR: Unable to create Lua interpreter`), so I was trying to build from master.

Any suggestions?

[2015-07-21 14:09] ariava commented on #90
@simpsora are you using the latest nDPI? Which branch?

[2015-07-21 16:38] lucaderi commented on #90
You are using the wrong DPI. If you need the devel version of ntopng, you need to use the devel version of nDPI and the other way round. Please fix this and it will work, otherwise wait until we update brew.

[2015-07-21 16:38] #90 closed

[2015-07-21 22:39] simpsora commented on #90
Hi @ariava and @lucaderi,

I am building using the master branch of both projects.  I don't need the devel version, just a standard version to use as a user.

I cloned the master branch of `ntopng`, and when I ran `configure` got this output:

[code]

I did that (it built cleanly), returned to `ntopng` and got the make errors described above.

What's the "right" DPI, and where would I find it?  I

[2015-07-22 01:07] ariava commented on #26
@hemskgren I believe by updating to the latest nightly you could get some improvement and many bugfixes which haven't been ported to stable yet.

[2015-07-22 06:29] lucaderi commented on #90
git clone https://github.com/ntop/nDPI.git
is for getting the development version. This is the error.

[2015-07-22 10:02] jerric12 opened #91 "Error compiling Ntopng"
Hi,
I wanted to install ntopng 2 + nDpi 1.6 and i have an error when compiling ntopng.
My system is a Debian Jessie.
Can you help me please
Thanks a lot (Sorry for my englih i'm french ;-))
The error is
----------------------------------------------------------------------------------------
In file included from /opt/ntopng/include/ntop_includes.h:153:0,
                 from src/HTTPBL.cpp:22:
/o

[2015-07-22 13:42] lucaderi commented on #91
You are using an old nDPI. Please get both ntopng and nDPI from github

[2015-07-22 13:42] #91 closed

[2015-07-22 13:56] jerric12 commented on #91
Thanks a lot. I'v installed 2 versions of ndpi, with apt-get and github.

[2015-07-23 01:10] pcmerc opened #92 "Flow.cpp build error on last code pull"
pulled latest nDPI, compiled & installed
pulled latest ntopng, compile fails with errors:

Previous build, built with no errors.

src/Flow.cpp: In constructor ‘Flow::Flow(NetworkInterface*, u_int16_t, u_int8_t, u_int8_t*, IpAddress*, u_int16_t, u_int8_t*, IpAddress*, u_int16_t, time_t, time_t)’:
src/Flow.cpp:97:32: error: cannot convert ‘ndpi_protocol {aka ndpi_proto}’ to ‘u_int16_t {aka short uns

[2015-07-23 09:09] ariava commented on #92
@pcmerc I currently don't see any compile-time error with dev branches of ntopng and nDPI. Did you get the dev branch of both repos? You need to have both stable branches or both dev branches.

[2015-07-23 13:56] lucaderi commented on #92
You are still using an old nDPI with a new ntopng code. Check again

[2015-07-23 13:56] #92 closed

[2015-07-23 15:16] mmaxwell3n1 opened #93 "Remote Host Throughput Showing 0 bps but Traffic is Collecting Correct Data"
Under Host > Host, any remote locations are not showing Throughput but are showing correct Traffic data.  All remote locations show 0 bps  This feature worked fine with the same configuration before.

ntopng V 2.0.150609
Ubuntu 14.04 LTS
Free License

[2015-07-23 15:21] ariava commented on #93
@mmaxwell3n1 could you please update to the latest nightly? Recently @lucaderi fixed a bug that could trigger this issue.

[2015-07-23 19:57] mmaxwell3n1 commented on #93
I just updated to the nightly build.  I am on version Community v.2.0.150723.  I am still getting no Remote traffic.  Please see attached image.

Thank you for helping.

![welcome to ntopng](https://cloud.githubusercontent.com/assets/13470200/8860698/075f60a8-314b-11e5-8958-b72a32ec9517.jpg)

[2015-07-23 20:08] pcmerc commented on #92
Thanks guys

4 drwxr-sr-x  3 root staff  4096 Jun 30 17:53 libndpi-1.6.1
 4 drwxr-sr-x  3 root staff  4096 Jul 23 01:04 libndpi-1.7.0

Yup it appears 2 dif versions

[2015-07-25 09:22] lucaderi commented on #26
These changes will not go in stable but in the next release. @hemskgren Please check if the fix works so we can close this bug

[2015-07-25 09:34] #89 closed

[2015-07-25 09:38] lucaderi commented on #88
@JuergenWeber Once you have a pcap please file an issue on nDPI (no ntopng)

[2015-07-25 09:38] #88 closed

[2015-07-25 09:56] #93 closed

[2015-07-25 09:57] lucaderi commented on #73
Fixed in git

[2015-07-25 09:57] #73 closed

[2015-07-25 09:58] lucaderi commented on #52
The current code in git has a new updated version of the bottom report that should address your request

[2015-07-25 09:58] #52 closed

[2015-07-25 09:58] lucaderi commented on #38
@paoloB132 @ariava Hi all can we close this issue?

[2015-07-27 09:53] ariava commented on #43
Was addressed in 0d2eeeb, sorry.

[2015-07-27 10:03] lucaderi commented on #43
Unfortunately the above commit addresses only the symbolic MAC display. No L2 stats (similar to L2 conversations in wireshark) is implemented yet.

[2015-07-27 10:04] ariava commented on #43
@lucaderi sorry, will do

[2015-07-28 22:27] #66 closed

[2015-07-29 05:56] DelltaPeak opened #96 "SSL don't work in nightly build"
ntopng can't find on start the SSL certificate, works with stable build.
[src/HTTPserver.cpp:449] HTTPS Disabled: missing SSL certificate /usr/share/ntopng/httpdocs/ssl/ntopng-cert.pem

Using v.2.0.150729

[2015-07-29 05:58] DelltaPeak opened #97 "no license for pro version"
Within the latest nightly build we can't use our pro license.
Deployed in:
/etc/ntopng.license
/etc/ntopng/ntopng.license

There is no way to activate our license in ntopng webinterface.

[2015-07-29 09:00] DelltaPeak opened #98 "Segfault with -F and -x/-X value"
ntopng crashes with '-F sqlite' after reaching -x and -X limit, reproduced with latest stable and nightly build. We have to set -x and -X limits because off 'out of memory' lua bug.

gdb output:
Program received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fffcabfd700 (LWP 28877)]
0x000000000044b8a4 in Host::get_ip (this=0x0) at /home/deri/rpmbuild/BUILD/ntopng-2.0.150729/include/Ho

[2015-07-29 10:50] lucaderi commented on #97
I have just checked and it works for me. What platform are you using?

[2015-07-29 10:53] DelltaPeak commented on #97
Latest CentOS 6. On stable or older nightly builds (older than 4 days) i put the license by a link into the ntopng httpd without using a license file in /etc. This link disappeared with the latest nightly build.

[2015-07-29 10:55] lucaderi commented on #97
If you have /etc/ntopng.license the license we assume is there and this is the place where you have the license. If such file does not exist it works as before. So I believe you have the license in such file and that is why you do not see a form in the about box.

[2015-07-29 11:01] DelltaPeak commented on #97
Without /etc/ntopng.license there is no link, ntopng starts direct in community mode without 10 minutes pro mode.
But i inserted the license:
ls /etc/ntopng.license
/etc/ntopng.license

There is nothing about a license in our ntopng.log

[2015-07-29 14:40] lucaderi commented on #97
I am not sure I understand. Please remove /etc/ntopng.license and the old "set license" box in the About menu should re-appear

[2015-07-29 14:44] DelltaPeak commented on #97
Already tested (now again) but no box there:
![ntopng](https://cloud.githubusercontent.com/assets/13550377/8960616/16f2d5de-3611-11e5-871f-6d00cfe695c9.png)

[2015-07-30 09:17] eloybrea opened #99 "Historical interface not working on RHEL 7"
I've setup nprobe and ntopng with the newest stable version
from the repository. When I am on the historical interface, I try to load the data by date and then it just
displays: "Well Done! Data loading process started successfully"

I don't see any loading process or animation.

OS: Redhat 7 (latest patches)
Nprobe version: v.7.1.150531
Ntopng version: v.2.0.150531

root@HOSTNAME:/var/tmp/ntopng#

[2015-07-30 09:55] lucaderi commented on #99
Please use the development version that has some fixes, however we'll dismiss the historical interface as in the current incarnation.

[2015-07-30 12:03] JKeySZR opened #100 "Ntopng for each ethXX and separated indexes in elasticsearch for each ethXX"
I  try to set up ntopng for the following problem (task):
I have two channels  (in future can be more)
one channel is responsible for the Internet channel, the second is for  the server segment.
They are traffic chanels , I want to analise the  traffic flowing through this traffic chanels and store it all in elasticsearch db
I have set up 2 ntopng each with its own configuration file, so that each

[2015-07-30 12:27] #98 closed

[2015-07-30 12:35] lucaderi commented on #100
I'm not an ES expert, but if I would be you I would create two different ES indexes

[2015-07-30 12:35] #100 closed

[2015-07-31 09:38] jerric12 opened #101 "Error compile ndpi-netfilter"
Hi,
I've installed ntopng/ndpi on a Debian Jessie and it works fine.
I need to associate with Netfilter. I tried to compile ndpi-netfilter with the instructions of ewildgoose.
I have these errors. Do you have an idea ? Can you help me please ?
Thanks
--------------------------------------------------------------------------------------------------------------------------
root@firewall:/opt/nDPI/nd

[2015-07-31 11:25] lucaderi commented on #101
Sorry we do not maintain this code. Please ask the author to send us a patch and we will integrate it

[2015-07-31 11:25] #101 closed

[2015-07-31 11:31] jerric12 commented on #101
Sorry. Thanks :-)

[2015-07-31 12:55] lucaderi commented on #97
I have just checked the package and after the latest fixes is ok. The license can go in /etc/ntopng.license or through the web GUI in redis.

[2015-07-31 14:59] lucaderi commented on #96
We have made some changes and in packages SSL works for me. Please update to the latest version and if not working please specify the platform you are using

[2015-08-01 07:53] #96 closed

[2015-08-01 12:58] wdbasson opened #102 "Can't view historical data of non-active local host"
When trying to view the historical of a non-active host (from the Top Local Hosts part of a report) I get an error: "Host *.*.*.* cannot be found. Perhaps this host has been previously purged from memory or it has never been observed by this instance."

OS: Ubuntu 14.04.2 LTS (GNU/Linux 3.18.0-22-rpi2 armv7l)
ntopng: v.2.0.150611 [Professional/Embedded Edition]

# cat /etc/ntopng/ntopng.conf
-G=/v

[2015-08-01 13:52] wdbasson opened #103 "No RX traffic recorded on the LAN facing interface of NAT gateway"
I have ntopng installed on a NAT gateway. No RX traffic is recorded on the LAN facing interface. No TX traffic is recorded on the WAN facing interface.

Maybe it is a problem with my settings? (It used to work fine with older versions of ntopng and it still works on the ARM version.)

![screenshot from 2015-08-01 15 48 37](https://cloud.githubusercontent.com/assets/9715479/9022053/d3c3d0d2-3864-11

[2015-08-03 07:48] hemskgren commented on #26
Hi

This look like it solve the problem.
Running fine for 22 days with the max 131,072 Flows for at least some time.

Regards
Christer

[2015-08-03 08:57] LionHear7 opened #104 "layer-7 traffic policies"
Cannot block any protocol set in the blacklist

Starting ntop with:
ntopng -i bridge:eth1,eth2
and adding a protocol (eg. Skype) in the blacklist for a host, the traffic is not blocked at all

ntopng release. v.2.0.150530 [Professional/Embedded Edition]
EdgeRouter Lite : v.1.2.0

[2015-08-03 09:42] talassa2004 opened #105 "want to see flows from a particular host that send flows"
Hello guys i have configured ntopng  as a collector  only  to receive  flows from all  network device
how can i see flow only  from a  selected device

in other words i  don't know how to  to  tell the system  to  show me   a particular  flows that comes from a specific   network  device that send the flows

my config is  like that

nprobe --zmq "tcp://*:5556" -i none -n none --collector-port 3002

[2015-08-03 14:35] yurifrancalacci commented on #104
As Luca wrote on the mailing list (http://www.gossamer-threads.com/lists/ntop/misc/39097), Skype is blocked mainly at login.
Did you check the blacklist also with other protocols?

[2015-08-03 15:33] jerric12 opened #106 "Error compile ndpi-netfilter"
Hi,
I've installed ntopng/ndpi on a Debian Jessie and it works fine.
I need to associate with Netfilter. I tried to compile ndpi-netfilter with the instructions of betolj.
Is this project always maintened ?
If yes, i have these errors. Do you have an idea ? Can you help me please ?
For information, i compiled a new kernel. I added "Connection tracking netlink interface" and "Connection tracking ev

[2015-08-03 15:34] lucaderi commented on #106
Please open nDPI bugs under nDPI and not on ntopng. We do not suppor this code as it is not written by ntop. Please contact its author and send us patches for making it work.

[2015-08-03 15:34] #106 closed

[2015-08-03 15:53] coreyhines opened #107 "NTOPNG fails to install on Ubuiquiti EdgeRouter"
Message Body:
Unable to install NTOPNG on ubiquiti edgerouter running EdgeOS 1.70. Getting dependency issues while following http://www.ntop.org/ntopng/using-ntopng-pre-2-0-on-a-ubiquity-edgerouter/

Please provide installation assistance, ntopng license purchased on 8/2/2015

Output:

root@ubnt:/home/admin# apt-get install libpcap-dev libtool rrdtool librrd-dev autoconf automake autogen redis-ser

[2015-08-03 16:32] lmangani commented on #107
Hi,

I believe you need to use the wheezy repositories in order for this to work correctly

[2015-08-03 17:16] coreyhines commented on #107
Looks like this was resolved by using the Wheezy distribution for the repo settings. Thanks! Please put in a note to update: http://www.ntop.org/ntopng/using-ntopng-pre-2-0-on-a-ubiquity-edgerouter/

[2015-08-04 05:45] phsiao opened #108 "Google Safe Browser API parameter bug"
According to https://developers.google.com/safe-browsing/lookup_guide?hl=en the parameter should be key, not apikey.

@@ -108,7 +109,7 @@ void Categorization::categorizeHostName(char *_url, char *buf, u_int buf_len) {

       // 2. Create the request_url for GET request.
       snprintf(request_url, sizeof(request_url),
-              "%s?client=%s&apikey=%s&appver=%s&pver=%s&url=%s",
+

[2015-08-04 05:48] phsiao opened #109 "categorization_key initialization bug"
I am having issue with categorization_key.

In my config file categorization_key is specified, and in Prefs.cpp it seems to have parsed and recorded correctly.   However, back in main.cpp it seems to always return NULL.

[2015-08-04 05:51] phsiao opened #110 "List of whitelisted domains for findCategory"
Similar to localhost, there is a list of domains that an operator would consider safe without consulting external service, so it would be very helpful that one can specify a list of domains for whitelisting so findCategory does not need to evaluate them.

[2015-08-04 07:23] lmangani commented on #107
Will update the guide - thanks!

[2015-08-04 07:23] #107 closed

[2015-08-04 09:02] jberthier opened #111 "file ntopng.start disapeared while migrating from 1.2 to 2.0"
Seen on CentOS 7
Migrating from ntong 1.2 to 2.0 using yum update

The file ntopng.start war erased during the update process.

[2015-08-04 09:03] jberthier opened #112 "ntopng.service status records a lot of message about rm"
Jun 23 15:07:40 myserver.mydomain.tld ntopng[4629]: /bin/rm: missing operand
Jun 23 15:07:40 myserver.mydomain.tld ntopng[4629]: Try '/bin/rm --help' for more information.

I noticed that the exec script searches only for "-G" option to find the pid file but I set the "--pid" option. So, I modified the script this way :
#PID_FILE=$(cat /etc/ntopng/ntopng.conf | grep '\-G='|cut -d '=' -f 2)
PID_FIL

[2015-08-04 09:08] jberthier opened #113 "After reboot, ntopng service starts with redis errors"
Seen on CentOS 7
After reboot, ntopng service starts with errors :
Jun 23 15:00:23 myserver.mydomain.tld ntopng[3154]: [src/Redis.cpp:108] ERROR: LOADING Redis is loading the dataset in memory
Jun 23 15:00:23 myserver.mydomain.tld ntopng[3154]: [src/Redis.cpp:1297] ERROR: LOADING Redis is loading the dataset in memory
Jun 23 15:00:23 myserver.mydomain.tld ntopng[3154]: [src/Redis.cpp:125] ERROR: L

[2015-08-04 12:53] #112 closed

[2015-08-04 13:01] lucaderi commented on #113
I have added a check for waiting up to 10 sec until redis finishes to start up. Please give it a try. This said, a periodic redis-cli flushall can help.

[2015-08-04 13:01] #113 closed

[2015-08-04 13:02] lucaderi commented on #111
This should already been fixed post-2.0 (dev branch)

[2015-08-04 13:02] #111 closed

[2015-08-04 13:22] LionHear7 commented on #104
Yes, I tried with other protocols as well (Youtube,Facebook, Wikipedia, HTTP). Skype was an example.

So let's use Wikipedia as the blocked protocol.
In the bridge overview the "Filtered Packets" counter rises correctly when using Wikipedia, but I still can browse its pages.

[2015-08-04 13:36] lucaderi commented on #104
If the filter counter increases packets are not forwarded. Are you sure you haev setup all properly? Can you please paste screenshots and a picture of your network topology?

[2015-08-04 21:01] LionHear7 commented on #104
Edge Router Lite interfaces:
- eth0 disconnected
- eth1 attached to a single PC
- eth2 on the Internet with a public IP

![edge_router](https://cloud.githubusercontent.com/assets/5438716/9070617/fd902daa-3af0-11e5-8ae8-5547a51f7055.png)

[2015-08-05 08:12] JuergenWeber opened #114 "What determines the size of redis?"
redis consumes lots of memory. Ntop "sits" at the border between WAN and LAN and monitors about 2500 hosts, 1200 aggregations, 15000 flows
Here's a screenshot of "top", ordered by memory usage:
![image](https://cloud.githubusercontent.com/assets/13195740/9081221/deb10dfe-3b5a-11e5-90ae-f98ef6c9d3b0.png)

[2015-08-05 08:21] DelltaPeak commented on #96
Doesn't work with latest nightly build (but in stable).
We are using: Centos 6.6, ntopng v.2.0.150805, wildcard ssl with a key, crt and ca bundle.

They key, crt and ca bundle is inserted in /usr/share/ntopng/httpdocs/ssl/ntopng-cert.pem

Logmessage:
05/Aug/2015 10:17:25 [src/HTTPserver.cpp:449] HTTPS Disabled: missing SSL certificate /usr/share/ntopng/httpdocs/ssl/ntopng-cert.pem
05/Aug/2015 10:1

[2015-08-05 11:13] lucaderi commented on #114
Can you please paste here the output "redis-cli info" ?

[2015-08-05 11:34] JuergenWeber commented on #114
Here it is:

# Server
redis_version:3.0.3
redis_git_sha1:00000000
redis_git_dirty:0
redis_build_id:789a1a0ec9b20e69
redis_mode:standalone
os:Linux 2.6.32-573.1.1.el6.x86_64 x86_64
arch_bits:64
multiplexing_api:epoll
gcc_version:4.4.7
process_id:6121
run_id:1160b271c7aa6e23d3b7a992f67bbb58c2c7176d
tcp_port:6379
uptime_in_seconds:622752
uptime_in_days:7
hz:10
lru_clock:12710997
config_file:/etc/redi

[2015-08-05 12:39] lucaderi commented on #114
So you only have 3308 active keys but used memory is 8.61G. I have seen it on redis 2.4 and I though it was a bug but it looks it is now.

Please ask on the redis mailing list and report back as this problem is concerning, and report back.

[2015-08-05 12:40] lucaderi commented on #114
The only suggestion I have is to start playing with the maxmemory parameter to set an upper limit.

[2015-08-05 12:43] lucaderi commented on #114
Seehttp://redis.io/topics/lru-cache

[2015-08-05 12:52] lucaderi commented on #114
See https://github.com/ntop/ntopng/blob/dev/doc/README.redis

[2015-08-05 14:34] JuergenWeber commented on #114
I applied the 2 parameters into /etc/redis.conf. But after restarting redis it was a matter of seconds until all memory was occupied again. I had a look into /var/lib/redis:
![image](https://cloud.githubusercontent.com/assets/13195740/9088308/a43676f2-3b8f-11e5-9995-52ee733a5fd2.png)
It seems that redis is loading the dump.rdb for the sake of persistence.
What will happen to NTOPNG if dump.rdb is

[2015-08-05 14:40] lucaderi commented on #114
Please do this
0. reconfigure redis.conf (done)
1. stop ntopng
2. redis-cli flushall
3. restart redis
4. start ntopng

Hope it works

[2015-08-05 14:45] #108 closed

[2015-08-05 14:45] #109 closed

[2015-08-05 14:46] lucaderi commented on #104
Can you please test http://packages.ntop.org/Ubiquity/mips/ntopng_2.0.150805-374_mips.deb

[2015-08-05 14:52] JuergenWeber commented on #114
Thanks Luca, this worked for me!

[2015-08-05 14:54] #114 closed

[2015-08-05 15:09] #74 closed

[2015-08-07 03:43] kargh opened #115 "No License Option in build 2.0.150807"
Just installed this nightly build and it looks like the issue is back where a pro license cannot be added.

I've removed the /etc/ntopng.license file and the option doesn't exist in the about page. It goes directly into Community Edition.

06/Aug/2015 23:37:00 [pro/NtopPro.cpp:212] [LICENSE] ntopng systemId:
06/Aug/2015 23:37:00 [pro/NtopPro.cpp:215] [LICENSE] ntopng is starting without a valid li

[2015-08-07 07:18] lucadistefano opened #116 "lua error in talkers"
![ntopngluaerr](https://cloud.githubusercontent.com/assets/1080723/9130678/2ffa4abe-3ce5-11e5-9e1a-f47ae03c6b00.jpg)

[2015-08-07 10:15] lucaderi commented on #116
please report exact ntopng version and check first if the dev version of ntopng works

[2015-08-07 11:01] lucaderi commented on #115
What distribution+version?

[2015-08-07 11:42] kargh commented on #115
Centos 6.6

[2015-08-07 12:45] #26 closed

[2015-08-07 12:45] lucaderi commented on #43
Already implemented.

[2015-08-07 12:45] #43 closed

[2015-08-07 12:46] lucaderi commented on #104
@LionHear7 Did you test the new build?

[2015-08-07 12:48] lucaderi commented on #115
Fixed in https://github.com/ntop/ntopng/commit/874e9162f8ca42bf990cac9fbf7e80b65cfb26c7
Currently building updated packages that will be available within an hour.

[2015-08-07 12:48] #115 closed

[2015-08-07 12:51] lucaderi commented on #105
In nProbe you can add to your template (-T) the information element(s)
[130] %EXPORTER_IPV4_ADDRESS      %exporterIPv4Address      	Exporter IPv4 Address
[131] %EXPORTER_IPV6_ADDRESS      %exporterIPv6Address      	Exporter IPv6 Address

so that in ntopng you can see how has sent you the flow. Currently in ntopng there is no way to filter flows per collector device.

What I suggest is
1. start mul

[2015-08-07 12:51] #105 closed

[2015-08-07 12:53] kargh commented on #115
Awesome. Much appreciated!

[2015-08-07 14:03] lucaderi commented on #116
Looking at the code it looks like you are using an old ntopng version. Please upgrade to the latest development version.

[2015-08-07 14:03] #116 closed

[2015-08-07 21:34] kargh opened #117 "Increase interface speed on set_if_prefs.lua"
Infiniband goes much higher than 10G. I changed the template locally to reflect this.

[2015-08-07 23:03] lucaderi commented on #117
Please send us a merge request with the new code

[2015-08-08 11:22] gav- commented on #51
Same issue, have to remove libnetfilter-queue-dev package to compile on Debian 7.8

[2015-08-08 11:31] lucaderi commented on #51
Please send us a patch for inclusion. I do not use Debian,

[2015-08-10 07:48] whoknowz opened #120 "Can't add multiple black listed protocols"
When adding multiple protocols to the blacklist and setting protocol policy, the page refreshes and show only a single protocol in the black list. Filtering does however works for that single protocol.
Completely fresh install doesn't help either.

2.0.150810 - Professional Edition

![before](https://cloud.githubusercontent.com/assets/7417874/9162149/fc4ca04c-3f5d-11e5-8dda-40e3aa920a9e.JPG)
![aft

[2015-08-10 14:54] lucadistefano commented on #116
cannot upgrade to latest version:

--> Finding unneeded leftover dependencies
Found and removing 0 unneeded dependencies
Error: Package: ntopng-2.0.150810-355.x86_64 (ntop-beta)
           Requires: libzmq.so.4()(64bit)
 You could try using --skip-broken to work around the problem
 You could try running: rpm -Va --nofiles --nodigest

where I can find missing dep? Until last week the zeromq3 was th

[2015-08-10 16:05] lucaderi commented on #116
please read http://packages.ntop.org/centos/

[2015-08-10 23:30] rwhalb opened #121 "Awesome font issue with Chrome: Version 45.0.2454.26 beta (64-bit)"
Having errors with the Awesome fonts:

From inspect element on chrome:

Failed to decode downloaded font: https://10.222.222.24:3001/font-awesome/fonts/fontawesome-webfont.woff2?v=4.4.0

jquery.js:10098

OTS parsing error: invalid version tag

[2015-08-11 06:20] lucaderi commented on #121
I have tested the issue and verified the mime types for these fonts

  {".woff", 5, "application/font-woff"},
  {".woff2", 6, "application/font-woff2"},
  {".ttf", 4, "application/x-font-ttf"},

and they are correct according to the specs. Everything works well with safari ( 8.0.7 (10600.7.12)) and Firefox (39.0.3).

I believe ntopng is doing what is supposed to do, and verified that the font tran

[2015-08-11 07:38] baddogdown commented on #121
+1 on this error.  Chrome reports a 401 Unauthorised when jquery made a call for access to Awesome fonts when going to the URL direct works fine.    Only a problem since this version of ChromeOS.  On one occasion the Developer Tools gave me a weird message saying something like >> either Unauthorised *or* a resource problem in accessing files. << which implied a local resource limitation being mis

[2015-08-11 11:20] kargh opened #122 "Logfile Error: not a simple integer"
My log file is filing up with this message:

11/Aug/2015 07:17:13 [src/Lua.cpp:4771] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/second.lua][/usr/share/ntopng/scripts/lua/modules/graph_utils.lua:880: /storage/ntopng/0/rrd/bytes.rrd: not a simple integer: '1.9974390685379e+14']

[2015-08-11 20:26] #122 closed

[2015-08-11 21:02] lucaderi commented on #120
The fix was due to a bug on e function that we introduced recently to cleanup HTTP parameters. I have also added a small page fix.

[2015-08-11 21:02] #120 closed

[2015-08-12 12:51] lucaderi opened #123 "Add L7 policy enforcement of NF_QUEUE"
Add ability to drop packets over netfilter NF_QUEUE instead of using interface bridge

[2015-08-12 13:10] whoknowz opened #124 "Traffic shaping not enforced"
Ingress and Egress shaping doesn't have any effect, starving networks with lesser hosts.
![capture1](https://cloud.githubusercontent.com/assets/7417874/9224621/5140ab6e-411d-11e5-87aa-3d6fa9d2165a.JPG)
![capture2](https://cloud.githubusercontent.com/assets/7417874/9224620/5140716c-411d-11e5-9a89-6b07747c46b6.JPG)

[2015-08-12 16:01] lucaderi commented on #124
@whoknowz Can you please add the networks you are shaping to the list of local networks (using -m)? This is required to enable shaping for non-local networks. We'll add a fix for this too.

[2015-08-12 16:21] lucaderi commented on #124
@whoknowz At the moment in ntopng we enforce traffic only per host (not per network) so we need some coding on our side to enable this feature.

[2015-08-12 17:28] whoknowz commented on #124
the local networks are already added via -m in the config. as you said network level is missing and the interface doesn't stop me from applying it. will wait for the enhancement.

[2015-08-12 17:28] #124 closed

[2015-08-12 17:42] whoknowz opened #125 "Feature request: Application/Protocol level shaping"
Having the ability to give a upper limit of bandwidth to a certain application or protocol. Could be either entire network or specific subnet. This would allow network administrators to not block abusive traffic but rather give manageable allotments to the users and avoid throttling entire user traffic.

Specific subnet division example:
WAN connection: 20mbps symmetrical
VLAN1 Egress/Ingress limi

[2015-08-13 11:06] rwhalb commented on #121
Upgrade Chrome to Beta version: 45.0.2454.37 beta (64-bit) and ntopng with latest GIT as of 08_13_2015.

This issue does not occur now. Mostly based on the comments above that this was an issue resolved by Google with Beta version: 45.0.2454.26 beta (64-bit).

Closing issue...

[2015-08-14 16:37] PaulosV opened #126 "Local MAC addresses are seldom recognized when collecting tagged VLAN traffic"
Right now I have Cisco monitoring port with about 5 different tagged VLANs (802.1q), connected to our monitoring server and traffic being analyzed by `ntopng Community v.2.0.150814`. (but this is an issue from stable v.2, at least)

Most of the local IP addresses (from our assigned IP range in the same L2 subnet) have a bogus MAC address assigned (something like 04:00:00:00:00:00 - 24 hosts have t

[2015-08-14 22:54] lucaderi commented on #126
@PaulosV Can you please send me (private) via email a pcap file to reproduce this issue?

[2015-08-15 11:48] PaulosV commented on #126
@lucaderi You have it ;)

[2015-08-15 17:16] lucaderi commented on #117
Fixed in 0463488b951f2808436874623b61094cf811824b

[2015-08-15 17:16] #117 closed

[2015-08-15 17:17] lucaderi commented on #39
We're rewriting the historical interface. Please follow #61.

[2015-08-15 17:17] #39 closed

[2015-08-15 17:17] lucaderi commented on #99
We're rewriting the historical interface. Please follow #61.

[2015-08-15 17:17] #99 closed

[2015-08-15 17:19] lucaderi commented on #102
This feature has been implemented. When a local host (and only them as they have rrd files) is requested but the host is not active, a page with a URL asking to re-activate the host is shown. Instead if you just directly to the URL of the host historical tab, the host is re-activated immediately and the graphs are shown with no further work.

[2015-08-15 17:19] #102 closed

[2015-08-15 17:19] #38 closed

[2015-08-15 17:20] lucaderi commented on #78
We're rewriting the historical interface. Please follow issue #61

[2015-08-15 17:20] #78 closed

[2015-08-19 11:40] valdecyralves opened #129 "Interface Custom Names Don't Appear in Dashboard or Reports"
Is there a way to have the Custom Names of the Interfaces appear everywhere else in the page including the reports? The custom names don't appear in the reports (or anywhere else in the page) and its difficult to associate the graphs with the long default interface names.
![unnamed](https://cloud.githubusercontent.com/assets/13868720/9355273/8e8dcd4e-4645-11e5-8da9-f92b02dd5094.png)

[2015-08-19 17:02] Orionpex opened #130 "1d and 1w reports not working"
I can only pull reports for 1h time frames but unable to use the reporting tool; as it is not displaying reports for 1d, 1w and so on. Please help

![ntoperror1](https://cloud.githubusercontent.com/assets/13873129/9363050/09d78d56-4672-11e5-88c8-473259550d81.jpg)
![ntoperror2](https://cloud.githubusercontent.com/assets/13873129/9363091/50596326-4672-11e5-9336-878b77442987.jpg)

![ntoperror](https:

[2015-08-20 13:38] kYroL01 commented on #130
Hello @Orionpex
This is what I see in my report page for 1d and 1w

![1d](https://cloud.githubusercontent.com/assets/7222956/9384000/74fdb598-474d-11e5-9691-ff73fffdf3fd.jpg)

![1d_1](https://cloud.githubusercontent.com/assets/7222956/9384014/80a99d94-474d-11e5-9612-69b07043d24d.jpg)

![1w](https://cloud.githubusercontent.com/assets/7222956/9384019/8865fad2-474d-11e5-9e3d-32082a41666b.jpg)

Ok, th

[2015-08-20 16:21] Orionpex commented on #130
@kYroL01

No complaint about amount of data; but I'm not getting any data output for my 1D and 1W graphs in the reporting tool.

[2015-08-20 20:23] kYroL01 commented on #130
Are you using the last version of ntopng ? Did you reconfigure all correctly ? I try to understand why you see this bug.

[2015-08-21 13:49] simonemainardi commented on #4
macports installs libraries in `/opt/local/lib` by default.

Edit `configure.seed` and append `-L/opt/local/lib` to `LDFLAGS`:
[code]
Then
[code]

[2015-08-21 20:07] lucaderi commented on #129
Problem fixed. Overnight a new build will include the fix.

[2015-08-21 20:07] #129 closed

[2015-08-21 20:09] lucaderi commented on #103
I am unable to reproduce your problem. Can you please try again with the latest build and see if works now? Are you using PF_RING perhaps?

[2015-08-21 20:09] #104 closed

[2015-08-22 23:33] Drewshg312 commented on #84
With the latest dev version getting this:

    -I/private/tmp/ntopng20150822-24304-1qbxoul/third-party/EWAHBoolArray/headers  -DDATA_DIR='"/usr/local/Cellar/ntopng/HEAD/share"' -I/private/tmp/ntopng20150822-24304-1qbxoul/third-party/libgeohash -I/private/tmp/ntopng20150822-24304-1qbxoul/third-party/patricia   -c src/Flow.cpp -o src/Flow.o
    src/Flow.cpp:96:28: error: assigning to 'u_int16_t' (ak

[2015-08-22 23:38] Drewshg312 opened #132 "latest dev version of ntopng compilation errors"
Compiling the latest dev version getting this:

    -I/private/tmp/ntopng20150822-24304-1qbxoul/third-party/EWAHBoolArray/headers  -DDATA_DIR='"/usr/local/Cellar/ntopng/HEAD/share"' -I/private/tmp/ntopng20150822-24304-1qbxoul/third-party/libgeohash -I/private/tmp/ntopng20150822-24304-1qbxoul/third-party/patricia   -c src/Flow.cpp -o src/Flow.o
    src/Flow.cpp:96:28: error: assigning to 'u_int16_t

[2015-08-23 04:52] lucaderi commented on #84
Your nDPI is newer than your ntopng code

[2015-08-23 04:53] Drewshg312 commented on #84
Sorry so what does that mean?

[2015-08-23 04:55] lucaderi commented on #84
Use the code of ntopng that's on git

[2015-08-23 04:58] Drewshg312 commented on #84
Ok

[2015-08-24 06:43] lucaderi commented on #132
Your ntopng and nDPI are out of sync (nDPI is more updated I believe)

[2015-08-24 06:43] #132 closed

[2015-08-24 13:00] Jovannydejesus opened #133 "Report and dashboard does not work"
Good.
I am currently having problems with the option of graphical report on the dashboard, it disappears when changing interface, and when I restart the service returns ntopng again.
![no report opcion](https://cloud.githubusercontent.com/assets/13890698/9440614/77ce4960-4a3e-11e5-998c-3a08cff02345.jpg)

[2015-08-24 13:44] wdbasson commented on #103
Tried with the latest build and still experiencing the same problem. I assume I'm using PF_RING because it's installed by default.

[2015-08-24 15:03] whoknowz opened #134 "Viber no longer detected"
Viber is no longer visible in any protocols. Maybe they updated their protocol.
Any easy fix?

[2015-08-24 15:34] lucaderi commented on #134
Maybe. Please attach a pcap file we can use for debugging

[2015-08-24 15:39] lucaderi commented on #133
Please update ntopng to the git code and report.

[2015-08-24 16:44] Jovannydejesus commented on #133
which it is the git code and report.

[2015-08-24 17:57] Jovannydejesus commented on #133
I can explain

[2015-08-24 18:18] lmangani commented on #133
Please update your setup to the latest ntopng version available on Github and re-test

[2015-08-24 18:39] Jovannydejesus commented on #133
lmangani, Could you send me the link to download available on Github

Regards.

[2015-08-24 18:48] lmangani commented on #133
You will have to clone and compile it from source

[code]

[2015-08-24 18:51] Jovannydejesus commented on #133
I am installing and testing
I let you know

Thank you.

[2015-08-24 18:53] lucaderi commented on #103
Can you please check if with pfcount (part of PF_RING) do you see the traffic? In all cases, please file an issue on PF_RING and not on ntopng as the problem seems to be there.

[2015-08-24 18:53] #103 closed

[2015-08-24 18:53] lucaderi commented on #134
Please file this issue on nDPI as it belongs to that project.

[2015-08-24 18:53] #134 closed

[2015-08-25 02:16] Drewshg312 commented on #84
Well we are actually using the nDPI and ntopng codes from git… and still getting these errors

[2015-08-25 02:18] Drewshg312 commented on #132
Well we are actually using the nDPI and ntopng codes from git… and still getting these errors
That's what the process does:

    git clone https://github.com/ntop/ntopng.git
    git clone https://github.com/ntop/nDPI.git
    cd /tmp/blah-nDPI
    ./autogen.sh
    make
    mv * /tmp/blah-ntopng/nDPI/
    cd /tmp/blah-ntopng
    ./autogen.sh

What's wrong?

    ./configure --prefix=#{prefix}
    mak

[2015-08-25 06:00] lucaderi commented on #132
It can't be. Please paste the whole log.

[2015-08-25 06:01] lucaderi commented on #130
As I don't see any  feedback and for us the problem does not occurs, we close this bug.

[2015-08-25 09:44] lmangani commented on #133
Closing Issue - Re-Open as/if needed.

[2015-08-25 09:44] #133 closed

[2015-08-25 09:48] AlekMarkus opened #135 "ntopng detect Skype Traffic , but there is no skype installed on workstations"
i can see that ntopng detect Skype Traffic from specific workstation (450 MB) but there is no skype installed on this workstation how its possible ?   the same happening with TOR i can see traffic in my network (40MB) from 4 workstaions , but there is no TOR installed on those workstations

i have attached pcap file from Skype Traffic that can be download from here :

https://www.dropbox.com/s/5x9

[2015-08-25 09:53] AlekMarkus opened #136 "Peers tab its blank and Application Portocol is not clickable"
Hello ,

1. i have workstations that in "Peers" tab its blank - i have attached Screen shot
![peers tab](https://cloud.githubusercontent.com/assets/13960741/9463842/338c8682-4b28-11e5-8338-f58ca63b1082.png)

2. in some workstations "Application Portocol " is not clickable - why ?

![application protocol](https://cloud.githubusercontent.com/assets/13960741/9463845/380b964e-4b28-11e5-93e2-7042eeb119

[2015-08-25 11:45] shadow974 commented on #57
Any news here? The only way to get accurate readings is to let ntopng capture by itself on the interface?

[2015-08-25 11:51] lmangani commented on #57
Milestone is ntopng 2.1

[2015-08-25 14:27] whoknowz commented on #136
I noticed that too. I figured the flows have expired, not sure.

[2015-08-25 22:31] lucaderi commented on #136
They are not clickable because you have not enabled nDPI rrd's for such host

[2015-08-25 23:30] Drewshg312 commented on #132
==> make
    /usr/local/Library/ENV/4.3/clang++ -g -fno-color-diagnostics -Wall -I/private/tmp/ntopng20150825-19653-1als1us -I/private/tmp/ntopng20150825-19653-1als1us/include -I/usr/local/include -I /private/tmp/ntopng20150825-19653-1als1us/third-party/hiredis -I/private/tmp/ntopng20150825-19653-1als1us/third-party/mongoose -I/usr/local/Cellar/json-c/0.12/include/json-c  -I./nDPI/src/include -I/u

[2015-08-26 08:34] AlekMarkus commented on #136
Hello luca,

1. what do you mean "for such host" ? what are the difference from this host to another ? these workstation are all the same

and where can i enable rrd ?

2. what about the tab "peers" that blank ?

[2015-08-26 08:58] lmangani commented on #135
Thanks for your report - This is related to nDPI, could you kindly open your issue here:  https://github.com/ntop/nDPI/issues

[2015-08-26 08:58] #135 closed

[2015-08-26 10:33] lucaderi commented on #136
You can create RRDs only for local hosts.
You can specify what RRD to create in the preferences menu. You need to enable the nDPI (L7) RRDs creation.

[2015-08-26 11:41] lucaderi commented on #132
You are using ntopng stable code

[2015-08-26 11:55] sclark46 opened #137 "Unable to load latest nightly build from ntop.repo"
I am running CentOS 6.7 and when I try to yum install ntopng I get:

yum --disablerepo=\* --enablerepo=base,updates,extras,epel,ntop install ntopng
Resolving Dependencies
--> Running transaction check
---> Package ntopng.x86_64 0:2.0.150825-411 will be installed
--> Processing Dependency: libnetfilter_queue for package: ntopng-2.0.150825-411.x86_64
--> Processing Dependency: ntopng-data for packag

[2015-08-26 12:03] lmangani commented on #137
Hi,

did you follow the instructions relative to libzmq in our repository guide?
http://packages.ntop.org/centos/

[2015-08-26 12:05] AlekMarkus commented on #136
Hey luca ,

1. the problem occur in local host

2 . and the RRD creation is enabled from the first day that i have installed ntopng

![rrd](https://cloud.githubusercontent.com/assets/13960741/9492835/c6a61916-4c03-11e5-9a01-cb31933e1227.png)

[2015-08-26 12:06] lucaderi commented on #136
Are you using the current development version of ntopng?

[2015-08-26 12:10] AlekMarkus commented on #136
ntopng Community v.2.0.150531 i have installed rpm and not compiled from Source

is there any difference ?

[2015-08-26 12:53] lucaderi commented on #136
update the rpm

[2015-08-26 13:42] valdecyralves commented on #129
am I supposed to see a newer version listed here? or is there another way
to update?

http://packages.ntop.org/Windows/
[image: Inline image 2]

On Fri, Aug 21, 2015 at 4:07 PM, Luca Deri <notifications@github.com> wrote:

[2015-08-26 13:45] AlekMarkus commented on #136
---> Package ntopng.x86_64 0:2.0.150531-164 will be updated
---> Package ntopng.x86_64 0:2.0.150826-415 will be an update
--> Processing Dependency: libzmq.so.4()(64bit) for package: ntopng-2.0.150826-415.x86_64
--> Finished Dependency Resolution
Error: Package: ntopng-2.0.150826-415.x86_64 (/ntopng-2.0.150826-415.x86_64)
           Requires: libzmq.so.4()(64bit)

which package contains libzmq.so.

[2015-08-26 14:11] lucaderi commented on #129
This is the place. Unfortunately we do not have nightly builds for windows yet

[2015-08-26 14:16] tomarch opened #138 "rrd files use too much space"
In my case, after one week, the /var/tmp/ntopng/0/rrd/ folder use 23GB
The git revision is v.2.0.150818

the biggest folder is /var/tmp/ntopng/0/rrd/172

[2015-08-26 14:18] valdecyralves commented on #129
Oh ok, we have it running in Windows and that's where I found the issue.
On Aug 26, 2015 11:11 AM, "Luca Deri" <notifications@github.com> wrote:

[2015-08-26 15:59] lucaderi commented on #130
Apparently this issue can be reproduced on centos 7. Need to investigate

[2015-08-26 18:21] Drewshg312 commented on #132
So why does it return these errors then?

[2015-08-26 19:45] lucaderi commented on #132
You still aren;t doing what you are supposed to do.
mkdir mac
cd mac
git clone https://github.com/ntop/ntopng.git
git clone https://github.com/ntop/nDPI.git
cd nDPI
./autogen.sh;./configure;make
cd ../ntopng
./autogen.sh;./configure;make

[2015-08-26 19:48] Drewshg312 commented on #132
But that's exactly the code I'm using…

[2015-08-26 21:25] lucaderi commented on #138
You can disable RRDs for application protocols (L7/nDPI) to save space

[2015-08-26 21:25] #138 closed

[2015-08-26 22:45] pcmerc opened #139 "output to ES casues segfault"
v.2.0.150723 [Community Edition]
GIT rev:   master:0db04bee4f77fa4e96f04d27e5f50929920e0914:20150723

ntopng -i eth1 -F 'es;flows;ntopng-%Y.%m.%d;http://remoteip:9200/_bulk;'

ntopng.conf:
-i eth1
-m 192.168.1.0/24
-n 1
-e
-A 2
-H
--data-dir=/usr/local/ntopng
-G=/var/run/ntopng/ntopng.pid

ES Log:

[2015-08-26 22:29:31,962][INFO ][cluster.metadata         ] [Atlas] [ntopng-2015.08.26] creating ind

[2015-08-26 22:46] lucaderi commented on #139
Your version is too old. Please use the code currently in git and try again

[2015-08-26 22:47] pcmerc commented on #139
Will do, thanks Luca! :D

[2015-08-26 22:48] lucaderi commented on #139
If not working, please paste a complete log. If working close this bug.

Thanks (please star this project on github if happy of the support)

[2015-08-26 22:49] lucaderi commented on #132
I don;t think so.

[2015-08-26 22:54] pcmerc commented on #139
Of course you guys get starred :D I've been using this app off & on since the Interplay days. ;)

[2015-08-26 22:57] pcmerc commented on #139
Should I switch to Dev? The master rev looks to be the same.

[2015-08-26 22:58] lucaderi commented on #137
Closing this issue as the above URL is the solution to this issue

[2015-08-26 22:58] #137 closed

[2015-08-26 22:59] lucaderi commented on #136
Just fixed in SVN. As of the issue above see #137

[2015-08-26 22:59] #136 closed

[2015-08-26 22:59] lucaderi commented on #123
The code has been implemented in the repository, testing needed.

[2015-08-26 23:00] lucaderi commented on #130
Finally fixes in the repository tonight.

[2015-08-26 23:00] #130 closed

[2015-08-26 23:29] lucaderi commented on #139
Yes

[2015-08-26 23:56] pcmerc commented on #139
What about nDPI, does that also need to be dev?
I am getting the same segfault it appears.

v.2.0.150723 [Community Edition]
GIT rev:   dev:8a23d56581a56000de1b0cc87f769937bf289cfd:20150826

[2015-08-27 00:12] pcmerc commented on #139
][DEBUG][action.bulk              ] [Atlas] [ntopng-2015.08.27][0] failed to execute bulk item (index) index {[ntopng-2015.08.27][flows][AU9sf5HfaP2QiUwtdM2E], source[{ "IPV4_SRC_ADDR": "172.24.15.52", "L4_SRC_PORT": 54109, "IPV4_DST_ADDR": "63.140.35.166", "L4_DST_PORT": 80, "PROTOCOL": 6, "L7_PROTO": 7, "L7_PROTO_NAME": "HTTP", "TCP_FLAGS": 26, "IN_PKTS": 16, "IN_BYTES": 10502, "OUT_PKTS": 0, "O

[2015-08-27 06:43] lucaderi commented on #139
So is not ntopng that crashes, but ES that complains for invalid URL, right?

[2015-08-27 10:55] sclark46 commented on #137
No - but thanks that fixed it.

[2015-08-27 12:46] AlekMarkus commented on #136
Hey Luca,

i have installed the new version of ntopng , i can see that sometimes the peers tab is not blank and sometimes it is , as well the problem of rrd still occur , i cannot click on protocols on different hosts

please advise

[2015-08-27 18:09] pcmerc commented on #139
It's ES complaining that the input is not UTF-8 compliant, is what I see.

[2015-08-27 19:24] lucaderi commented on #136
The pcap files are per sub-protocol, so Apple, where we put together DNS.Apple. HTTP.Apple.... otherwise we will have too many protocols.

Reset everything and delete /var/tmp/ntopng if you want, but noting will change. Is marta a local host? I believe is not. Click on it and check.

[2015-08-27 19:49] AlekMarkus commented on #136
Ok got it :)

1. about marta so yes , it is a local host , the workstation is near my office

2. i can see that in others hosts there  is Protocols that are clickable and some of them not (Local host)

![protocols](https://cloud.githubusercontent.com/assets/13960741/9531279/d21fa360-4d0d-11e5-8382-8e8b917f79c8.png)

[2015-08-27 20:48] lucaderi commented on #136
Do you allow remote login? Lorenzo what do you think?

[2015-08-27 23:56] lmangani commented on #136
@AlekMarkus please contact support@ntop.org we can arrange a remote check

[2015-08-28 05:59] chefcookbook commented on #137
thanks lmangani, issue has been resolved by following the given URL. also thanks to sclark46 for raised the issue

[2015-08-28 06:33] lmangani commented on #137
@chefcookbook Our pleasure!

[2015-08-31 08:49] paoloB132 opened #141 "Missed Top Talker .. again"
Was already opened issue: Missed Top Talker (#38)

[root@ntop yum.repos.d]# uname -a
Linux ntop.rfx.local 2.6.32-573.3.1.el6.x86_64 #1 SMP Thu Aug 13 22:55:16 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

I've upgraded to the last stable ntop  for CentOS, clean all previous reference in redis db and also remove previous /var/tmp/ntopng.

Installed:
  n2disk.x86_64 0:2.3.150830-4445    nbox.noarch 0:2.3

[2015-08-31 08:55] lmangani commented on #141
Paolo,

Are there any console messages during startup about license or license validity?

[2015-08-31 08:59] paoloB132 commented on #141
Hi Lorenzo,

here relevant lines form /var/log/messages:

Aug 31 10:34:27 ntop root: ntopng start
Aug 31 10:34:27 ntop kernel: [PF_RING] Welcome to PF_RING 6.0.3 ($Revision: master:40ddb1a2951023043c034c1d2d24f49f93eb61bf$)
Aug 31 10:34:27 ntop kernel: (C) 2004-14 ntop.org
Aug 31 10:34:27 ntop kernel: [PF_RING] registered /proc/net/pf_ring/
Aug 31 10:34:27 ntop kernel: NET: Registered protocol fam

[2015-08-31 09:16] cardigliano commented on #141
Hi Paolo
please provide:
1. output of ntopng --check-license
2. ntopng configuration

Thank you
Alfredo

[2015-08-31 09:43] paoloB132 commented on #141
[root@ntop ntopng-dev]# /usr/bin/ntopng --check-license
/usr/bin/ntopng: unrecognized option '--check-license’

[root@ntop ntopng-dev]# more /etc/ntopng/ntopng.conf
-G=/var/tmp/ntopng.pid
-m=192.168.0.0/16, 150.178.3.0/24, 150.178.32.0/24, 150.178.33.0/24, 150.178.34.0/24
-i=eth1

------------------------------------------------------------------------------------------------
Paolo Barbato

Consor

[2015-08-31 14:35] lucaderi commented on #141
Paolo the stable version contains just crash fixes as all new features and enhancements go in the dev packages. Would you mind using the dev packages and report if this issue is now working?

[2015-08-31 14:39] paoloB132 commented on #141
Hi Luca,

first, compliments for Ntop great enhancements!

Do you mean change ntop yum repo reference from baseurl=http://packages.ntop.org/centos-stable/$releasever/$basearch/ to baseurl=http://packages.ntop.org/centos/$releasever/$basearch/

?

Regards,
Paolo.

------------------------------------------------------------------------------------------------
Paolo Barbato

Consorzio RFX
corso Stat

[2015-08-31 14:47] paoloB132 commented on #141
Yes, now it works as expected !

Thanks, Paolo.

------------------------------------------------------------------------------------------------
Paolo Barbato

Consorzio RFX
corso Stati Uniti,4
35127 Padova - Italy
Network Administrator
phone: +39 049 8295097 fax: +39 049 8700718
------------------------------------------------------------------------------------------------

[2015-08-31 14:47] cardigliano commented on #141
Correct, please try using http://packages.ntop.org/centos/

Alfredo

[2015-08-31 15:52] khozmo opened #142 "Local network filter not working"
When selecting networks from the hosts menu I get "no results found". If I select hosts and then hosts I will get a list of all the flows with the correct IPs marked as local.

I am using the -f switch on nprobe to limit the traffic that is sampled and in the ntopng config I am using the -m switch to denote which networks are local. I was using this successfully about 3 weeks ago.

I have since pu

[2015-09-01 13:25] vidgizmo opened #143 "Compile error building on Raspberry Pi"
Just updated to the latest 2.0-stable source and tried to build.

Getting this error:

/usr/bin/g++ -g -Wall -I/home/pi/ntopng -I/home/pi/ntopng/include -I/usr/local/include -I /home/pi/ntopng/third-party/hiredis -I/home/pi/ntopng/third-party/mongoose -I/home/pi/ntopng/third-party/json-c -I../nDPI/src/include -I/home/pi/ntopng/third-party/LuaJIT-2.0.3/src -I/home/pi/ntopng/third-party/rrdtool-1.4.

[2015-09-01 13:44] mmonka opened #144 "Packages for Debian"
It would be very great to have an nprobe binary version for debian version wheezy/7.x

I tried to install the ubuntu deb packages, but their are to few dependencies.

[2015-09-01 14:24] kYroL01 commented on #126
@PaulosV You're right. I also notice that. I'm trying to fix in these days

[2015-09-01 14:38] jberthier opened #145 "SSL cert replaced after update"
Hi,

I use the stable repo on CentOS 7.

After an update from 2.0.150531-163 to 2.0.150830-212, the SSL cert was replaced under /usr/share/ntopng/httpdocs/ssl/ntopng-cert.pem.

The SSL cert signed by a public CA has been replaced by a self signed certicate :
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number: 17707173995456902324 (0xf5bc84eea73e34b4)
    Signature Algorithm: sha

[2015-09-01 23:22] PaulosV commented on #126
I can't properly test the change now, but it looks promising, thank you! Anyone else can confirm it is fixed?

[2015-09-02 01:19] kYroL01 commented on #126
We tried on two different pc (one with Linux and one with Mac) and it seems to be fixed. Waiting for your test.

[2015-09-02 05:57] lucaderi commented on #145
Please restore your certificate as the RPM package overwrites any certificate if present. Do you think that  saving your certificate somewhere else (e.g. /etc/ntopng-cert.pem) and ntopng checking that first could be enough for the future. Please advice.

[2015-09-02 06:19] mtnoc opened #147 "nTOPng top talkers not showing on the dashboard"
Dear support,

Yet a few challenges that I experience which are below.

I currently SPAN 2 interfaces, one Internal and one WAN. The internal interface seems to be running fine.

1.	Challenge that I experience is generating report, especially custom report, it takes long time to complete full report and also many times web browser crashed, no matters which web browsers I use.

2.	WAN interface, I

[2015-09-02 07:57] jberthier commented on #145
Hi Lucas

Yes I restored my certificate without problem.

An idea could be :
- store a default certificate under /usr/share/ntopng/httpdocs/ssl/ntopng-cert.pem
- store a prefered certificate under /etc/ntopng/ntopng-cert.pem
If the prefered certificate does not exist, ntopng should fallback to the default one.

More useful, add an option to fix the certificate path in ntopng.conf :)

Thanks

Regar

[2015-09-02 08:46] kYroL01 commented on #126
Fixed

[2015-09-02 08:46] #126 closed

[2015-09-02 09:39] lmangani commented on #126
Thanks for the confirmation!

[2015-09-02 10:48] lucaderi commented on #147
Can you please move to the latest development version first and explain in detail (or better send the URL) what reports are mostly causing the issue?

[2015-09-02 10:50] lmangani commented on #147
Knowing the resources allocated to your system might help, too.

[2015-09-02 10:51] lmangani commented on #143
Trying to replicate, is this with Raspbian or other OS Image/distro?

[2015-09-02 10:54] lmangani commented on #142
@khozmo which OS are you using?

[2015-09-02 10:55] lucaderi commented on #143
You nDPI and ntopng code is not in sync.

Please report how you cloned with repositories (exact command line)

[2015-09-02 13:55] khozmo commented on #142
I am using Ubuntu 14.04. Everything is fully updated.
On Sep 2, 2015 3:54 AM, "Lorenzo Mangani" <notifications@github.com> wrote:

[2015-09-02 14:46] gianogli opened #148 "Issue with "-i view:" parameter"
I think that ntopng have a problem to manage the "-i view:" parameter (used to aggregate more interfaces in a single view).

If I use the "view" option in this way:
    ntopng -i eth6 -i eth7 -i view:eth6,eth7 [...]
all works fine. If I use instead the zc drivers:
    ntopng -i zc:2@0 -i zc:2@1 -i view:zc:2@0,zc:2@1 [...]
the virtual aggregated interface "zc:2@0,zc:2@1" doesn't appear.

I think th

[2015-09-02 16:22] khozmo commented on #142
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 14.04.3 LTS
Release:        14.04
Codename:       trusty

[2015-09-03 15:12] lmangani commented on #143
@vidgizmo try comment in the Makefile the ```ifeq ($(HAS_NDPI), 0)``` condition to force ntopng compiling using the local sources for nDPI and kindly confirm if this was the issue.

[2015-09-03 15:13] #141 closed

[2015-09-03 17:55] vidgizmo commented on #143
Thanks. I will try your suggestions and let you know my results.

I have recreated both of my local nDPI and ntopng repositories and will
work on building.

I grabbed 1.7 of nDPI. Do I need 1.6?

On Thu, Sep 3, 2015 at 10:12 AM, Lorenzo Mangani <notifications@github.com>
wrote:

[2015-09-03 18:23] lmangani commented on #143
@vidgizmo You should use the latest github version of both ntopng and nDPI - I just tested on a Pi2 and it worked

[2015-09-04 07:05] lucaderi commented on #143
I think I know the problem. You have installed on your system nDPI and ntopng is detecting it and using it instead of the local copy. I have verified and nDPI was not exporting in the share library some symbols (I have just fixed it in https://github.com/ntop/nDPI/commit/ce7866a6a69ca0219ce79e4c130e6784da21b323). Now everything builds even using the shared library (we build packages with the stati

[2015-09-04 07:05] #143 closed

[2015-09-04 15:43] vidgizmo commented on #143
Thanks. I will do that.

I am now the acting cloud master for our work service (Lifesizecloud.com)
so I have been a bit busy lately :)

Old dog learning new tricks. :)

On Fri, Sep 4, 2015 at 2:05 AM, Luca Deri <notifications@github.com> wrote:

[2015-09-04 16:04] wilsonb77 opened #150 "Report - summarize monthly traffic usage per internal IP - bandwidth summary and port usage"
Report - summarize monthly traffic usage per internal IP - bandwidth summary and port usage.

We could use a manual or scheduled report where you can select the included dates and get a summary of usage for those dates.  The summary would show bandwidth usage and a breakdown of ports used within that traffic summary.  This would be per internal IP seen in the traffic.

This report would be used to

[2015-09-05 01:15] kYroL01 commented on #148
Please @gianogli test if the issue is fixed.

[2015-09-07 23:38] Drewshg312 opened #153 "How to reset password on ntopng?"
Hi!
I was changing my password and forgot it)
How do I reset my pass? The username is admin.

    redis-cli del user.admin.password

Did not help. Neither reinstallation helps (using homebrew on os x 10.10.5) ((

[2015-09-07 23:57] lmangani commented on #153
Hi,

Please try using ```redis-cli SET user.admin.password <MD5>```

If you want to drop all data and use redis for ntopng exclusively use ```redis-cli flush all ```

[2015-09-08 05:27] Drewshg312 commented on #153
I've tried `redis-cli SET user.admin.password MD5_of_newpass`  too. No results.
and

[code]

[2015-09-08 05:59] lucaderi commented on #153
https://www.ntop.org/guides/ntopng/faq.html#cannot-login-into-the-gui

[2015-09-08 06:09] Drewshg312 commented on #153
I've already read it and done everything like it says with no luck… That's why I'm asking you here

[2015-09-08 06:40] mjgehrmann commented on #142
I have a similar experience on Ubuntu 12.04 ntopng v2.0.150908
It worked when originally installed on v2.0.150802

I can verify rrd are being created and command line outputs no errors.

[2015-09-08 07:20] Drewshg312 commented on #153
There you go!
Found the answer here **(in comments)**:

http://blog.redbranch.net/2013/12/12/reset-ntopng-admin-password/

"I tried the above commands without any luck. I determined the user account above was not correct by running strings /var/lib/redis/dump.rdb | grep admin which showed a key for ntopng.user.admin.password. I was able to reset the password then by doing

redis-cli SET ntopng.use

[2015-09-08 07:59] lucaderi commented on #153
Please send us a merge request for the read me and open an issue for the issue you identified

[2015-09-08 08:08] Drewshg312 opened #154 "ntopng doesn't accept special characters in the passwords"
It should also be noted that ntopng does not allow special characters in the passwords and silently fails.
It would be nice to have a note about it on the page of password reset (user management) and in the README docs...

[2015-09-08 08:12] lmangani commented on #153
Docs updated by ntop team

[2015-09-08 08:15] Drewshg312 commented on #153
would be great to have some hint in an actual application - would save a lot of time…

[2015-09-08 08:18] lmangani commented on #153
I honestly believe the README does suffice for this sort of information as the go-to document.
Feel free to submit a pull request with any proposal of course.

[2015-09-08 08:22] Drewshg312 commented on #153
check the behavior of the application after changing the password to something like "34$#2"… Looks really buggy… just saying…

[2015-09-08 08:24] lmangani commented on #153
Our instructions do indicate how to RESET the password to its defaults, and not how to change it to a bad string. As said, improvements and contributions are super welcome any time!

[2015-09-08 08:26] Drewshg312 commented on #153
lol ok

[2015-09-08 09:02] lmangani commented on #153
@kYroL01 we could extend the new password input field with a regex filter in scripts/lua/inc/change_user_password_form.lua:

```<input id="new_password_input" type="password" name="new_password" value="" class="form-control" pattern="[a-zA-Z0-9-]+" />```

(untested)

[2015-09-08 09:06] lmangani commented on #154
Being handled in #153

[2015-09-08 09:06] #154 closed

[2015-09-08 09:07] kYroL01 commented on #153
@lmangani Try to do it

[2015-09-09 08:28] asadzz opened #155 "ntopng 2.0 communuity edition JSON Parse error:"
I'm getting following logs on console

09/Sep/2015 13:02:13 [ParserInterface.cpp:59] WARNING: JSON Parse error: 0.0.0.0
09/Sep/2015 13:02:13 [ParserInterface.cpp:59] WARNING: JSON Parse error: 10.10.71.18
09/Sep/2015 13:02:13 [ParserInterface.cpp:59] WARNING: JSON Parse error: 10.10.131.62
09/Sep/2015 13:02:13 [ParserInterface.cpp:59] WARNING: JSON Parse error: 0.0.0.0
09/Sep/2015 13:02:13 [Parser

[2015-09-09 20:08] lucaderi commented on #148
Just fixed

[2015-09-09 20:08] #148 closed

[2015-09-09 20:23] lucaderi commented on #139
@pcmerc I have pushed a fix: can you please try it?

[2015-09-10 01:45] mjgehrmann opened #157 "ntopng consumes memory and then becomes unresponsive"
Platform: Ubuntu 12.04LTS x64
Version: v2.0.150908

The memory issue seems to have started from libnetfilter-queue1 was required. Not sure what version required it but since then we have run out of ram for flow rates of 5000 flows and ~2000 hosts.

Limiting flows and hosts and changing sticky-hosts made no difference. Survival time was around 3-4 hours until all memory consumed and host required r

[2015-09-10 09:01] lucaderi commented on #157
Please report how you have started (CLI) ntopng

[2015-09-10 13:10] AlekMarkus opened #158 "Hosts suddnley dissaper from ntopng (local network)"
lets say i have seen host name : Server1 (10.1.101.1)

i click on this host  to see more information about , after i did a refresh to my page i have an error :

![hosts](https://cloud.githubusercontent.com/assets/13960741/9789048/40683a76-57d6-11e5-8a4e-fa67630d0b13.png)

it already happened with 2 hosts

[2015-09-10 13:14] lucaderi commented on #158
What's wrong with that?

[2015-09-10 13:23] AlekMarkus commented on #158
sorry my mistake ,

 i understand that this message occur if the computer doesn't have any traffic , so ntopng purge from memory ?

[2015-09-10 13:26] JuergenWeber opened #159 "NTOPNG detects only drops on eth1"
I need some help to get to the source of this issue:
NTOPNG detects only drops on eth1 but traffic on eth0 is being recognized, as well as the tcpdump file from eth1 ().
Strange, isn't it? What can cause drops to occur?
System is RHEL6 on VMWare:
{
  "stats_bytes":0,
  "flows":0,
  "networkinterface":"eth1",
  "version_ndpi":"1.6.0-dev-66-12f89ff",
  "gathering":"pcap",
  "uptime":684,
  "aggregat

[2015-09-10 13:28] lucaderi commented on #158
Yes when hosts and flows are idle

[2015-09-10 13:28] #158 closed

[2015-09-10 14:47] lucaderi commented on #159
Looks like an old ntopng. Please update first and if not working please specify how you started ntopng

[2015-09-10 15:51] AlekMarkus opened #160 "enhancement request - mark malicious traffic as bad in kibana"
mark malicious traffic as bad in kibana

[2015-09-10 15:52] AlekMarkus opened #161 "create Tile Map in Kibana - No Compatible Fields: The "ntopng-*" index pattern does not contain"
how can i send more information to elastichSearch   ? i want to create Tile Map , when i select Aggregation i have an error message :

No Compatible Fields: The "ntopng-*" index pattern does not contain any of the following field types: geo_point

im using

ntopng Community v.2.0.150910 (Package ntopng-2.0.150910-430.x86_64)

[2015-09-10 15:59] lmangani commented on #160
Hi Alek,

The beauty of using Kibana is nobody can limit your ways of using it. This is one such case for something the enduser/implementor can achieve in too many ways to list - ntop does not maintain any Kibana presets at the moment (but we might in the future)

[2015-09-10 16:01] lmangani commented on #161
Check if the geo field is correctly mapped as geo_point in Kibana for the index in question

[2015-09-10 16:04] deadElk opened #162 "ipv4 listen"
hi.

neither stable nor dev branches of ntopng listening to tcp4 port. only for tcp6 port. and no command-line switches like in ntop - --ipv4 --ipv6

tcp6       0      0 *.3080                 *.*                    LISTEN

ntopng_flags="--http-port=3080 --https-port=3443 --dns-mode=3 --interface=em1 --daemon --local-networks='10.0.0.0/8,127.0.0.0/8,169.254.0.0/16,172.16.0.0/12,196.168.0.0/16' --d

[2015-09-10 16:11] AlekMarkus commented on #160
sorry , maybe i didnt understand... luca wrote :

" we can mark this traffic as bad in kibana. Please file an enhancement request "

[2015-09-10 16:16] lmangani commented on #160
Re-Opening. I suppose this will be about exporting an additional JSON field with the rating value.

[2015-09-10 16:19] AlekMarkus commented on #161
do i need to configure in ntopng more than this ? :

-F=es;flows;ntopng-%Y.%m.%d;http://10.1.1.20:9200/_bulk

becuase i cant see geo field at kibana

those are the fields that i have :

![geo](https://cloud.githubusercontent.com/assets/13960741/9793932/e041c750-57f0-11e5-8f71-5cae62e6c3cf.png)

[2015-09-10 16:20] AlekMarkus commented on #160
Thank you ! :)

[2015-09-10 19:22] brconflict commented on #97
Still broken for me. Same issue. I also tried removing the ntopng.license file.

License	GNU GPLv3
Version	2.0.150910 - Community Edition
Platform	Debian jessie/sid (x86_64) - 64 bit

[2015-09-10 20:00] pcmerc commented on #139
Updated both nDPI & ntopng, compiling now.

[2015-09-10 20:06] pcmerc commented on #139
Compiled & running so far with no errors. I need to verify it's putting data into redis.

[2015-09-10 20:15] pcmerc commented on #139
Very responsive now, thanks Luca. Let me know if you'd like me to do any testing on any other flavors :D

[2015-09-10 20:17] lucaderi commented on #139
Testing is already great but @lmangani documentation is also desirable.

[2015-09-10 20:17] #139 closed

[2015-09-10 21:22] #153 closed

[2015-09-10 21:27] lucaderi commented on #162
Sure?

deri@i7 204> ./ntopng --http-port=3080 --https-port=3443

deri@i7 205> netstat -na | grep 3080
tcp6       0      0 :::3080                 :::*                    LISTEN
deri@i7 206> telnet localhost 3080
Trying ::1...
Connected to localhost.localdomain.
Escape character is '^]'.

^]
telnet> quit
Connection closed.
deri@i7 207> telnet 127.0.0.1 3080
Trying 127.0.0.1...
Connected to 127.0.0.

[2015-09-10 21:29] lucaderi commented on #142
@khozmo @mjgehrmann Can you please report the exact command line you are using?

[2015-09-10 23:21] mjgehrmann commented on #142
Here is my conf file:

# PID Path
-G=/var/tmp/ntopng.pid
# Data dir
-d=/opt/ntopng-data
# Run as Daemon
-e=
# Interface
-i=tcp://127.0.0.1:5556
# Server port
-w=3000
# Local Networks
-m="172.22.0.0/16,172.20.0.0/16,172.28.0.0/16,172.32.0.0/17,192.168.32.0/19,172.18.0.0/21,172.19.0.0/17,172.18.16.0/2
1,172.18.32.0/19"
# DNS Mode
-d=1
# Memory Tuning Flows/Hosts
-S=local
-X=10000
-x=5000

[2015-09-11 06:17] alberk8 opened #163 "Ntopng Data Dump to mysql not reflecting as per WebUI"
Hi,

I have enable the mysql dump and the data captured is not reflecting the data logged in the WebUI.  It seems that the mysql dump only capture the first instance the flow is detected.  I was running a web download of a big file (1.9GB) on one PC (192.168.8.210) from source (1.9.56.10)

One other question, in the mysql table the fields ip_src_addr and ip_dst_addr, it seems to be reversed, where

[2015-09-11 07:35] deadElk commented on #162
[root@traf ~]# netstat -na | grep 3080
tcp6       0      0 *.3080                 *.*                    LISTEN
[root@traf ~]# telnet localhost 3080
Trying ::1...
Connected to localhost.
Escape character is '^]'.
GET /

HTTP/1.1 500 Server Error
Content-Length: 42
Connection: close

Error 500: Server Error
Bad request: [GET]Connection closed by foreign host.
[root@traf ~]# telnet 127.0.0.1 3080
Tr

[2015-09-11 07:46] lucaderi commented on #162
# curl -v http://localhost:3080
* Rebuilt URL to: http://localhost:3080/
*   Trying 127.0.0.1...
* Connected to localhost (127.0.0.1) port 3080 (#0)

< HTTP/1.1 302 Found
< Set-Cookie: session=; path=/; expires=Thu, 01-Jan-1970 00:00:01 GMT; max-age=0; HttpOnly
< Location: /lua/login.lua?referer=/
* no chunk, no close, no size. Assume close to signal end
<

# curl -v "http://[::1]:3080"
* Rebuilt

[2015-09-11 07:55] deadElk commented on #162
for me - not
because ntopng not listening to tcp4
how can i force ntopng to listen tcp4?
may be patch for sources or something?

[root@traf ~]# curl -v http://[::1]:3080
* Rebuilt URL to: http://[::1]:3080/
*   Trying ::1...
* Connected to ::1 (::1) port 3080 (#0)

< HTTP/1.1 302 Found
< Set-Cookie: session=; path=/; expires=Thu, 01-Jan-1970 00:00:01 GMT; max-age=0; HttpOnly
< Location: /lua/login

[2015-09-11 07:58] lucaderi commented on #162
On what platform? Is the firewall ok? Can you debug it a bit to assist us reproducing the issue on our end?

[2015-09-11 08:03] deadElk commented on #162
freebsd 10.1, then updated to freebsd 10.2 - nothing changed
firewall disabled

what can i do to debug?

[2015-09-11 08:07] lucaderi commented on #162
This is not a FreeBSD shop, we need to install a box and try to see what happens, or please give us a remote access to your box.

[2015-09-11 08:08] deadElk commented on #162
same thing was on debian
will resurrect debian-box now ...
i installed ntopng from repository and started
ntopng only listen to tcp6
it's not related to OS

[2015-09-11 08:13] lucaderi commented on #162
please allow a remote login as on Linux we can't reproduce it.

[2015-09-11 08:16] deadElk commented on #162
ok. i will

[2015-09-11 09:01] deadElk commented on #162
issue solved.

the key is sysctl net.inet6.ip6.v6only=0 for freebsd
and sysctl net.ipv6.bindv6only=0 for linux
thanx for your time.

P.S.: may be it needs to be in doc's?

[2015-09-11 09:01] #162 closed

[2015-09-11 09:04] lmangani commented on #162
Note taken for updating the docs, thanks for the confirmation!

[2015-09-11 09:19] lucaderi commented on #162
@deadElk Now I am happy as this explains why on the same platform we observed different behaviours.

[2015-09-11 09:19] JuergenWeber commented on #159
Unfortunately, updating to "2.0.150911" didn't help.
NTOPNG is started via "service ntopng start". Here's the ntop.conf:

-G=/var/tmp/ntopng.pid
# tells ntop the user id to run as
--user ntop5

#save messages into the system log
--use-syslog=daemon

# sets the directory that ntop runs from
--db-file-path /var/lib/ntop

# --data-dir=/var/tmp/ntopng

# the amount and severity of messages that ntop w

[2015-09-11 09:21] deadElk commented on #162
+1

[2015-09-11 10:12] lucaderi commented on #162
https://github.com/ntop/ntopng/commit/12ed781f2eb718382ef7c7eeec6d599ea18f7d49

[2015-09-11 13:19] kYroL01 commented on #155
@asadzz Have you tried to upgrade to the last version of nprobe?
I tried nprobe v.7.2.150911 for x86_64-unknown-linux-gnu and  with ntopng 2.0 and no warning arise.
Try and let me know.
Thanks

[2015-09-11 13:24] gianogli opened #164 "Impossible delete Alerts when ntopng is run with "-l 1" option"
When I run ntopng with "-l 1" option ("Disable user login authentication") I can't delete the alerts shown by the show_alerts.lua script.
I don't know if this behavior is correct or not but I think it would be better give to the users the possibility to add the "nologin" user into the administrator group (with a specific command line option?) or add it by default.

Now, however, the function "bool

[2015-09-11 22:10] IdahoEv commented on #121
I am having this problem in version 45.0.2454.85 (64-bit)

[2015-09-11 23:15] pcmerc commented on #161
The ES output doesn't have the geoip info. I've managed to force ntopng to output the lat/lon by editing the src/Flow.cpp but output isn't correct as elasticsearch pukes on trying to add a visual with JAVA integer errors. Comparing the data to another correctly working instance the lat/lon data is not correct.

Working instance example: geoip.location  -121.89500000000001, 37.33940000000001

Non-w

[2015-09-12 14:58] michalzahor opened #165 "Upgrade to ntopng 2.x - few things broken"
Hi,

I've done upgrade from NTOPNG 1.2.1 to 2.0 - compiled 2.0 stable branch + nDPI 1.7 on Debian 7 [ Wheezy ]

There are several things broken:
 - Hosts: data/stats deleted after restart ntopng ( Seen Since is after restart few seconds )
 - Preferences: I'm logged in as admin but there is no Preferences menu - only Change Password, Export Data
 - Interfaces - Historical : after selecting Begin, E

[2015-09-12 18:44] michalzahor commented on #165
Some screenshots about interface history

Screens shows there are more then 60MB of historical data
![voila_capture 2015-09-12_07-54-01_pm](https://cloud.githubusercontent.com/assets/4986996/9833190/b51f96ac-598e-11e5-946e-2621bb5e36bb.jpg)

But no MIN,MAX, no graph although Top Talkers are there
![voila_capture 2015-09-12_07-54-45_pm](https://cloud.githubusercontent.com/assets/4986996/9833195/cee

[2015-09-13 10:01] lucaderi commented on #165
Can you please use the dev version of the package? The stable package will include only crash fixes, all the development/improvements go in dev.

[2015-09-13 16:42] michalzahor commented on #165
What functionality from 1.2.1 version is not available in 2.x dev ?
[ I have to consider moving back to 1.2.x ]. Is 2.X meant to be reworked version where functionality will be added step by step or 2.0 should have all the functionality of 1.x ?

The must for us is:
Interface history ( is it working in DEV branch ? )
Host history ( is it working in DEV branch ? )

[2015-09-13 16:47] lucaderi commented on #165
Interface history: replaced. The GUI is work in progress.
Host history: implemented.
Again, feel free to do what you like, but please open bugs only on the development version (or stable) but not on old 1.x versions.

[2015-09-13 16:47] #165 closed

[2015-09-13 17:22] lucaderi commented on #97
@brconflict See this
[root@centos6 deri]# ntopng --version
v.2.0.150912 [Professional Edition]
GIT rev:   dev:fe6becaa18fc1c98214a6c00bcfa2f82af7019b7:20150912
Pro rev:   r450
System Id: 12DC4E4000000789

Can you please check this on your PC and report?

[2015-09-13 22:30] lucaderi commented on #147
@mtnoc Can you please update and see if with the latest nightly build, these issues are gone?

[2015-09-14 11:52] kYroL01 commented on #164
The behavior is so deliberately implemented because if you are not an administrator ntopng does not allow the purge of alerts.
This is not an issue, so i close it, but we'll take on mind your question for future developments.

Thank you

[2015-09-14 11:52] lucaderi commented on #163
I have made a simple experiment
mysql> select idx, l7_proto, inet_ntoa(IP_SRC_ADDR) , L4_SRC_PORT, inet_ntoa(IP_DST_ADDR), L4_DST_PORT, bytes, packets, FROM_UNIXTIME(first_switched), from_unixtime(LAST_SWITCHED), uncompress(JSON) from flowsv4_0 where ip_dst_addr = INET_ATON('192.168.1.255')  limit 1;
+------+----------+------------------------+-------------+------------------------+-------------+-

[2015-09-14 11:54] lucaderi commented on #159
I can't follow you. In this example you are capturing from eth1, so I do not understand what is the problem with eth0

[2015-09-14 11:55] kYroL01 commented on #155
Are you update the ntopng from the dev master ? If not, please do it and try again.
Attending your news.

[2015-09-14 11:56] lucaderi commented on #164
@kYroL01 Your comment is correct, but I think we should modify the Utils::isUserAdministrator behaviour as indicated. I'll take a note.

[2015-09-14 11:58] kYroL01 commented on #164
@lucaderi Ok Luca, good point.

[2015-09-14 12:15] lucaderi commented on #164
@gianogli I have just checked wand with -l 1 you have admin rights. So to me all works as designed. I will modify the about page to report the user role (admin or unprivileged)

[2015-09-14 12:31] gianogli commented on #164
@lucaderi When I try to purge all the alerts nothing happen. To find the problem I tried to uncomment the warning messages into the Utils::isUserAdministrator function and when I try to purge the alerts I obtain:
14/Sep/2015 14:25:57 [Utils.cpp:614] WARNING: isUserAdministrator(nologin): NO

If I open the Users page (users.lua script) I can see only the "admin" user. No "nologin" user is defined.

[2015-09-14 12:38] lucaderi commented on #164
@gianogli Please report how you started ntopng. I assume you are using the code in GIT correct?

[2015-09-14 12:47] gianogli commented on #164
@lucaderi Yes. I'm using the community version 2.0.150914.
I run ntopng with:
./ntopng -i zc:2@0 -i zc:2@1 -i zc:2@2 -i zc:2@3 -i view:zc:2@0,zc:2@1,zc:2@2,zc:2@3 -u -n0 -d /var/tmp/ntopng/ -m "X.X.X.X/18,1X.X.X.X/19,X.X.X.X/21,X.X.X.X.0/20,X.X.X.X/21,X.X.X.X/25,X.X.X.X/24,X.X.X.X/24,X.X.X.X/24,X.X.X.X/23,X.X.X.X/23,192.168.0.0/16,172.16.0.0/12,10.0.0.0/8" -r 127.0.0.1:6379 -g 3,4,5,6 -l 1 -X 2621

[2015-09-14 13:02] pgdelfino opened #166 "Script "C:\Program Files\ntopng\scripts\lua\pro\dashboard.lua" returned an error"
after 20 minutes of working i got

![image](https://cloud.githubusercontent.com/assets/14275275/9850247/9d9bcfd2-5af1-11e5-917b-7d80686413a0.png)

[2015-09-14 14:35] AlekMarkus commented on #161
so what we should do ? :) wait till it will be fixed from DST_IP_LOCATION to geoip.location  ?

Thanks,
Alek

[2015-09-14 15:09] alberk8 commented on #163
From the Data above  the "in bytes" is  263 and the "out bytes" is 0.
I would assume that 192.168.1.146 is a local host, What i am confused is the direction of the data flow. Where is the "in bytes"  flowing to ? is it to 192.168.1.146 or 192.168.1.255 ?

The other issue is the flows data dump, From what I can see it only log the first instance the data flow appears on the network.  In the previou

[2015-09-14 19:39] bduff9 commented on #121
Same here, just noticed.  Running Version 45.0.2454.85 m, says:

Failed to decode downloaded font: http://......./fonts/fontawesome-webfont.woff2?v=4.4.0
OTS parsing error: invalid version tag

[2015-09-14 19:53] lucaderi commented on #121
Update chrome and the problem will be solved. On my Version 46.0.2490.22 beta (64-bit) all works

[2015-09-14 20:15] simonemainardi commented on #142
local networks list (option -m) was not correctly hygenized. Trailing " for options was not filtered out. Merge request should address this issue.

[2015-09-14 20:47] lucaderi commented on #163
I was also confused when I saw it on the NetFlow standard, but it has been defined like that so we have to live with it.
As of the other bug, please one a new issue so we can avoid mixing things

[2015-09-14 20:47] #163 closed

[2015-09-15 00:50] alberk8 opened #168 "Ntopng Data Dump to mysql not in sync with WebUI"
I have enabled the mysql dump and the data captured is not reflecting the data logged in the WebUI. It seems that the mysql dump only capture the first instance the flow is detected.

I was running a web download of a big file (1.9GB) on one PC (192.168.8.210) from source (1.9.56.10).  I let it run for 18mins.  On the WebUI, it shows lots of data downloaded but very little on the data dump.

OS =

[2015-09-15 09:17] #142 closed

[2015-09-15 12:49] kYroL01 commented on #166
Which is your ntopng version ?
This error appears when you refresh the page or rise up during the normal activity ?

[2015-09-15 13:00] pgdelfino commented on #166
Version 150915  during normal activity

Da: Michele Campus [mailto:notifications@github.com]
Inviato: martedì 15 settembre 2015 14:50
A: ntop/ntopng
Cc: pgdelfino
Oggetto: Re: [ntopng] Script "C:\Program Files\ntopng\scripts\lua\pro\dashboard.lua" returned an error (#166)

Which is your ntopng version ?
This error appears when you refresh the page or rise up during the normal activity ?

—
Reply t

[2015-09-15 13:20] lucaderi commented on #147
No feedback. Closing the bug as it works for me for the time being.

[2015-09-15 13:20] #147 closed

[2015-09-15 16:46] #164 closed

[2015-09-16 03:24] xder0991 opened #169 "Ntopng in a infinite loop when reading pcap from list"
A text file (pcap.txt) was generated from a folder containing a lot of individual pcaps.
The text within the text file is structured as such:
/home/user/desktop/folder/a.pcap
/home/user/desktop/folder/b.pcap
/home/user/desktop/folder/c.pcap
....

i ran ntopng using the following command:
sudo ntopng --community -i pcap.txt

it is stuck after showing the line "Reading packets from pcap file /home/u

[2015-09-16 08:52] kYroL01 commented on #169
First of all, i don't understand this: **sudo ntopng --community -i pcap.txt**
Why you pass a .txt file to ntopng ? You have to pass only .pcap file.

[2015-09-16 09:22] xder0991 commented on #169
https://github.com/xtao/ntopng/blob/master/ntopng.8

perhaps you would like to take a look at this under the -i option

[2015-09-16 09:33] kYroL01 commented on #169
@xder0991 sorry, my misunderstanding. I'll investigate about this.
So you read only the first pcap that you specify, right ?

[2015-09-16 09:40] lmangani commented on #169
Sorry for the invalid tag, corrected! My bad @xder0991

[2015-09-16 11:20] kargh commented on #157
I will second the insane memory usage. I'm hitting 30GB within 24 hours.

Here is my ntopng.conf
-n=1
-W=0
-g=-1
-m="10.0.1.0/24, 10.0.11.0/24"
-d=/storage/ntopng/
-C
-G=/var/tmp/ntopng.pid
-i=tcp://127.0.0.1:5556

[2015-09-16 12:26] xder0991 commented on #169
yes that is correct. only the first pcap gets read after which none of the other pcaps in the list is read.
this issue does not happen if i go through each of the pcap one by one manually instead of using a list.
thank you =)
hope i did not come off as sounding offended.

[2015-09-16 15:56] kargh opened #170 "Active Flows - No Results Found"
In one DC, everything is working as it should with ntopng, in another DC, with the same version installed, same configuration, I'm showing no Active Flows, Hosts, Networks, etc.  I am showing activity though (currently ~800 hosts, 12k flows).

Where might I look to resolve this issue?

[2015-09-16 16:03] kYroL01 commented on #170
This is too generic to understand the problem. We need to know about configurations.

[2015-09-16 16:23] kYroL01 commented on #155
I did many tests and no parsing error rise up. I exploring the function ParserInterface::parse_flows and the payload is parsing correctly. I think you must upgrade either ntopng and nprobe and try again.
For now, no bug with last version.

[2015-09-16 16:23] #155 closed

[2015-09-16 16:33] asadzz commented on #155
One thing I missed which is useful hint for testing that it was done using
nprobe in demo version which was feed "cisco asa 5585-x nsel/netflows"

On Wed, Sep 16, 2015 at 9:23 PM, Michele Campus <notifications@github.com>
wrote:

[2015-09-16 17:31] lucaderi commented on #166
This commit https://github.com/ntop/ntopng/commit/febd8775b51704e996e49ab08ae03c7542675444 should have fixed the bugs on windows. A new windows build has been uploaded to http://packages.ntop.org/Windows/. Please give it a try. If problems are not gone yet, we'll reopen the bug accordingly. Thanks for reporting the issues.

[2015-09-16 17:31] #166 closed

[2015-09-16 18:08] kargh commented on #170
Which configurations do you want?

On a side note, /lua/get_flows_data.lua returns { "currentPage" : 1, "data" : [ ], "perPage" : 10, "sort" : [ [ "column_", "desc" ] ], "totalRows" : 0 } on that server. I'm trying to trace back through the code to find out where the snag is at.

[2015-09-16 22:27] lucaderi commented on #157
I believe the problem is fixed by now. Please resync your code (a new binary package will be built overnight) and give it a try. Thanks for reporting the problem.

[2015-09-16 22:27] #157 closed

[2015-09-16 22:58] #169 closed

[2015-09-16 23:30] xder0991 commented on #169
thank you for the fix.
do i recompile from source or just do a update using the nightly/stable repository?

[2015-09-17 05:51] xder0991 opened #171 "error in ntopng: double free or coruption (fasttop)"
Scenario:
I have ntopng read in a huge list of pcap files using the command "sudo ntopng --community -i pcap.txt"
list of pcap files add up to a total of 10GB
After ntopng reaches the line "No more pcap files to read", i proceeded to check the analysis on the web portal.
I then left it unattended as i went for lunch.
2 hours later, i return to find that ntopng has crashed with the following line p

[2015-09-17 07:24] lucaderi commented on #169
Dev or source. In stable builds we just fix crashes or major things.

[2015-09-17 07:30] AlekMarkus opened #172 "wrong Actual Thpt when im downloading files"
i have updated ntopng to last version : ntopng Professional v.2.0.150915

i started to copying 4 gb File to my desktop, and  i was looking at ntopng Flows

i can see that at Flows the speed is : 360 Kbit.

but at my transfer window i can see 1.00 MB/Second , is this a bug ?

1.
![calc](https://cloud.githubusercontent.com/assets/13960741/9927381/df4d8e8e-5d26-11e5-9a70-e717be55a5b7.png)

2.
![calcu

[2015-09-17 07:58] lucaderi commented on #170
@kargh Please update the app to the latest dev package as we have fixed a few issues.

[2015-09-17 08:01] lucaderi commented on #159
Please reopen the bug if you can reproduce it

[2015-09-17 08:01] #159 closed

[2015-09-17 08:02] lucaderi commented on #97
Works for me

[2015-09-17 08:02] #97 closed

[2015-09-17 09:04] kYroL01 commented on #155
I also use nprobe in demo version, but the parsing is correct. I suggest you to sync your nprobe and ntopng to the latest version and re-try.

[2015-09-17 09:30] asadzz commented on #155
So the cisco netflows 5585-x were not taken into account. I will try to
isolate by testing with non cisco asa netflows. Also I will try to go with
new version of both product.
On 17 Sep 2015 14:04, "Michele Campus" <notifications@github.com> wrote:

[2015-09-17 09:31] kYroL01 commented on #155
Thank you

[2015-09-17 11:19] lucaderi commented on #155
@asadzz Can you please provide us a log of these flows you are using? You can do that adding "-b 2" to  nprobe so you can see on screen the flows converted in JSON.

[2015-09-17 11:48] lucaderi commented on #61
At the moment MySQL reports have replaced the old historical interface. With -F mysql.... you can save flows on a DB for later analysis. We'll be writing documentation soon.

[2015-09-17 12:31] kargh commented on #170
I've updated and the results are still the same.
[image](https://cloud.githubusercontent.com/assets/7748732/9933076/feddf6d0-5d0d-11e5-8209-4998a1460baf.png)

I'm not entirely sure when it stopped working -- I don't use it very often. It was my network guy who mentioned it to me yesterday.

[2015-09-17 13:35] lucaderi commented on #170
@kargh Any chance for me to connect?

[2015-09-17 13:36] lucaderi commented on #123
Tested

[2015-09-17 13:36] #123 closed

[2015-09-17 15:59] Steelcrusher commented on #121
Still having it on 46.0.2490.33 beta-m (64-bit)
Failed to decode downloaded font: http://...../fonts/font-awesome/fontawesome-webfont.woff2?v=4.3.0
OTS parsing error: invalid version tag

[2015-09-17 16:22] vidgizmo commented on #143
Finally got some time to rebuild, but I am obviously doing something stupid.

When I cleaned out the previous installation, I had removed rrd and redis,
but think I have them reinstalled now.

When I try to run ntopng (built from latest dev branch along with latest
dev branch of nDPI) I am getting coredumps... here is the backtrace and
other info.

Suggestions?

-----------------------------------

[2015-09-17 16:24] vidgizmo commented on #143
Here are the contents of /var/lib/ntopng/ntopng.log

17/Sep/2015 11:16:41 [Ntop.cpp:936] Setting local networks to 127.0.0.0/8
17/Sep/2015 11:16:41 [AddressResolution.cpp:137] Rule 127.0.0.0/8
17/Sep/2015 11:16:41 [Redis.cpp:105] Successfully connected to redis
127.0.0.1:6379@0
17/Sep/2015 11:16:41 [Ntop.cpp:910] Parent process is exiting (this is
normal)
17/Sep/2015 11:16:41 [main.cpp:136] System

[2015-09-17 16:33] vidgizmo commented on #143
Think I figured it out. I don't have ethtool installed. Would be nice for
the program to tell me :)

On Thu, Sep 17, 2015 at 11:24 AM, Mike Burkett <mike@burkett.org> wrote:

[2015-09-17 16:38] vidgizmo commented on #143
Nope, that's not it... still looking.

On Thu, Sep 17, 2015 at 11:33 AM, Mike Burkett <mike@burkett.org> wrote:

[2015-09-17 16:41] lmangani commented on #143
I cannot replicate your status on my B+ so far - please share the build log

[2015-09-17 17:16] IdahoEv commented on #121
For me, chrome claims it is "up to date" with 45.0.2454.85, so I can't update to 46.  (Maybe 46 not released for mac yet?)

But, i'm also getting a similar error with Firefox. The error message is different, but it is still refusing to load & parse the font.

[2015-09-17 18:08] lucaderi commented on #121
Please contact the font awesome people for assistance.

[2015-09-17 18:19] Steelcrusher commented on #121
To get version 46 you need to download the beta version of chrome.

[2015-09-17 19:07] vidgizmo commented on #143
Here is the configure log and make log.

On Thu, Sep 17, 2015 at 11:41 AM, Lorenzo Mangani <notifications@github.com>
wrote:

checking for gcc... gcc
checking whether the C compiler works... yes
checking for C compiler default output file name... a.out
checking for suffix of executables...
checking whether we are cross compiling... no
checking for suffix of object files... o
checking whether we ar

[2015-09-17 19:16] lucaderi commented on #143
Where is the error?

[2015-09-17 19:33] vidgizmo commented on #143
No error in logs, core dumping.

Here's the bt from gdb:

Core was generated by `/usr/local/bin/ntopng -U ntop --data-dir
/var/lib/ntopng -e -i eth0 -v -l 1 -q'.
Program terminated with signal 11, Segmentation fault.
#0  0x76797934 in strlen () from /lib/arm-linux-gnueabihf/libc.so.6
(gdb) bt
#0  0x76797934 in strlen () from /lib/arm-linux-gnueabihf/libc.so.6
#1  0x76762358 in vfprintf () from /li

[2015-09-17 19:46] vidgizmo commented on #143
I will try running w/ debug enabled.

On Thu, Sep 17, 2015 at 2:33 PM, Mike Burkett <mike@burkett.org> wrote:

[2015-09-17 19:48] lucaderi commented on #143
Please fetch the new code. I think I have solved it.

[2015-09-17 19:51] vidgizmo commented on #143
Fetched... rebuilding from scratch since I had just cleaned everything out
to rebuild w/o optimization. :)

THANKS for the amazing response.

On Thu, Sep 17, 2015 at 2:48 PM, Luca Deri <notifications@github.com> wrote:

[2015-09-17 21:11] vidgizmo commented on #143
Still core dumping, now at a new bt from gdb

(gdb) bt
#0  0x76778934 in strlen () from /lib/arm-linux-gnueabihf/libc.so.6
#1  0x76743358 in vfprintf () from /lib/arm-linux-gnueabihf/libc.so.6
#2  0x76764b58 in vsnprintf () from /lib/arm-linux-gnueabihf/libc.so.6
#3  0x00014fcc in Trace::traceEvent (this=0x642c90, eventTraceLevel=3,
_file=0x15c8b4 "Privileges are not dropped as we're not superuser

[2015-09-17 21:41] ValentinaViscarelli commented on #172
Please when you check the difference between ntopng GUI and window download, you have to considerate a couple of things:

1) the value that you see in ntopng gui is an average value (bits received / 5 seconds). The value in windows download is almost instantaneous and could be a high peak or low peak.
2) the value in ntopng is in bits/sec instead the value in window download should be in bytes/sec

[2015-09-17 21:41] #172 closed

[2015-09-17 23:03] vidgizmo commented on #143
Running fine now, not sure what is different.

On Thu, Sep 17, 2015 at 4:11 PM, Mike Burkett <mike@burkett.org> wrote:

[2015-09-18 09:23] paoloB132 opened #173 "Password problem with special char"
If you set a password with some special char (first char) your password are rejected (and password border come red !)

[2015-09-18 10:12] kYroL01 commented on #173
in ntopng not all the spacial char are allowed for your password.
special char allowed are: **/**, **:**, **)**, **(**, **}**, **{**, **[**, **]**, **?**, **&**, **<**, **>**, **@** , **' ' (space char)**.

[2015-09-18 10:18] paoloB132 commented on #173
Pity … my preferred ones, very commonly used anyway, are not present. Is there any specific reasons to restrict to those…and let me say that previous version of ntop (also the stable version) works perfectly…and again ntopng let me set the password with supposedly forbidden ones during user creation !!

I’ve tried to use  one of the supposed valid but password border comes red immediately…I think

[2015-09-18 10:25] kYroL01 commented on #173
I'm going to try to understand better.
So, for example, if you set a password like **hello&&** or **hello$$** you have the same result ?
Because you said in one case you can set and in another you can't.

[2015-09-18 10:37] paoloB132 commented on #173
1) version ntopng 2.0 stable does not suffer of this trouble…I’ve always  used a supposed not allowed  char as “first” one.

2) I’ve recently updated to development branch, following Luca suggestion, and now I have v.2.0.150917 . After this “upgrade" I noticed that I was no more able to login, and that immediately when typed  first char password, the field comes red bordered (new functionality on

[2015-09-18 10:42] kYroL01 commented on #173
For the "stable" vs "dev" version, the stable one maybe is good for this part, but the latest implementations are in the dev branch, so is good that you upgrade from that.

I think we have to investigate on this bug. So thanks for now for evidence this problem.
I think a fix is needed if you say this.

[2015-09-18 11:26] gianogli opened #174 "Preferences: Interface Speed issue."
If I use, as input interface, a ZC "virtual" interface or an aggregated "view" interface I can't choose an "Interface Speed" value bigger than 1000 Mbit.

In this example the view interface "view:zc:2@0,zc:2@1,zc:2@2,zc:2@3"  represents a tap interface of a 1Gbit/s full duplex link. So the Interface Speed should be 2000Mbit.
![ntopng_interface_speed](https://cloud.githubusercontent.com/assets/1409

[2015-09-18 11:41] gianogli commented on #174
I realized now that in the picture there is another issue related to the "view" interface. In the second graph the sum of the 2 flows (inbound and outbound) is not 554.87Mbps. I think that this graph does not represent the aggregated view but only the zc:2@0 interface.

[2015-09-18 16:35] lucaderi commented on #173
@paoloB132 Can you please make an example of a user and password I can use to reproduce the bug in the development version?

[2015-09-19 10:10] lucaderi commented on #173
I think I have realised what the problem could be. You have set the password containing chars ntopng that now filters, then you have upgraded to the new ntopng that prevents you from entering such chars. Then the problem. I suggest to stop ntopng, flush redis, start ntopng again, then the password you will set will be consistent with what ntopng accepts at login.

[2015-09-19 10:10] #173 closed

[2015-09-20 10:16] BabuBhatt opened #175 "Nprobe - map AS Number to Organisation"
Similar to %L4_DST_PORT_MAP, is it possible to implement a new field (e.g. %AS_DST_NUM_MAP) where nprobe maps a source and/or destination BGP number to the organisation that owns the AS. e.g.
%SRC_AS  = 714
%SRC_AS_MAP = APPLE-ENGINEERING

The lookup would be the same as using the GeoIPASNum.dat for IP address to country/city mapping

[2015-09-21 13:50] lucaderi commented on #171
@xder0991 Hi can you please put somewhere (dropbox?) both the ntopng binary and the coredump? This would allow us to analyse the problem.

[2015-09-21 13:51] lucaderi commented on #170
@kargh Any news? Can you please check in the browser's Javascript console if the re are errors and if so report them?

[2015-09-21 14:10] lucaderi commented on #161
@AlekMarkus @lmangani Lorenzo please tell me how shall I format the value un JSON (you're the expert) and I will write the patch.

[2015-09-21 14:11] lmangani commented on #161
Will do!

[2015-09-21 14:23] #168 closed

[2015-09-21 14:32] #110 closed

[2015-09-21 14:40] lmangani commented on #161
Value format should be a float with Latitude, Longitude values, ie:

[code]

The field name should not be critical, but its type should be correctly mapped as geo_point for the Index in question, ie:

[code]

Most likely a new index will have to be created if there is previous mappings for the same field with a different/wrong type (ie: float). Alternatively, one could delete the old index pattern

[2015-09-21 15:04] lmangani commented on #175
Is this request for nProbe?

[2015-09-21 23:15] xder0991 commented on #171
i tried replicating the issue but unfortunately i can't seem to get that
same error again.
it might be a one-off thing or simply an extreme corner case that is
difficult to replicate because i don't know how it triggered in the first
place.
the program has been running for the past 2-3 days with no such crashes
observed.

[2015-09-22 02:25] alberk8 opened #176 "Flows - No Results Found"
Hi,

I have the latest v.2.0 and it has issues with the per flows page when selecting from the "Application Filter" (if I select some protocol with sub category like Google - which is listed on the flow as SSL.Google.)  If i manually append on the URL it works.   I know you need to fix the lua script.  Attached is the sample screen.  Thanks.

![flows1](https://cloud.githubusercontent.com/assets/12

[2015-09-22 06:03] lucaderi commented on #171
Ok so I close this bug and we'll open it again if you are able to reproduce the problem. Thank you.

[2015-09-22 06:03] #171 closed

[2015-09-22 09:00] LionHear7 opened #177 "ntopng - ubiquity package - Segmentation fault"
I've installed the latest package 'ntopng_2.0.150805-374_mips.deb' on EdgeOS version 1.7
but after few minutes I get a segfault.

Here the log:
08/Sep/2015 09:53:27 [src/Redis.cpp:104] Successfully connected to redis 127.0.0.1:6379@0
08/Sep/2015 09:53:27 [pro/NtopPro.cpp:141] ERROR: [LICENSE] Invalid or missing ntopng License [Empty license file]
08/Sep/2015 09:53:27 [pro/NtopPro.cpp:154] WARNING:

[2015-09-22 09:27] paoloB132 opened #178 "password problem with special char ... again"
was issue #173 ...

I've take a look to

/usr/share/ntopng/scripts/lua/login.lua

and this explain better what I see:

<input type="password" class="form-control" name="password" placeholder="Password" pattern="^[\w]{1,}$" required=“">

Clearly only \w is admitted .

[2015-09-22 11:13] kargh commented on #170
@lucaderi Hello -- I was out of town all weekend. I just checked it again and there are no errors appearing. It is almost as if it is not reading from where ever flows are temporarily stored.

[2015-09-22 14:27] lucaderi commented on #178
So what do you expect? We accept numbers, letters and _. It is consistent with the preferences where you can set a password with the same constraints.

[2015-09-22 18:04] big-muha commented on #69
How did you update the PF_RING?

[2015-09-22 18:35] lucaderi commented on #69
perhaps you have an old PF_RING installed? Please check and if so, do remove it first.

[2015-09-22 18:36] big-muha commented on #69
How can I remove it?
By applying clean command, then reinstalling the whole thing

[2015-09-22 18:44] lucaderi commented on #69
If you have installed a packaged deinstall it, if installed with make install, you need to search include and lib files by hand and remove them

[2015-09-22 18:52] lucaderi commented on #170
Hard to help you. Can you please share a URL that does not work or better allow to connect to your box ?

[2015-09-22 19:01] #176 closed

[2015-09-22 19:04] lucaderi commented on #161
ntopng is inserting fields like DST_IP_LOCATION as an array of doubles
See Flow.cpp
    json_object_array_add(location, json_object_new_double(srv_host->get_latitude()));
      json_object_array_add(location, json_object_new_double(srv_host->get_longitude()));
      json_object_object_add(my_object, "DST_IP_LOCATION", location);

So what do you want me to do? Looks like the code is already in good

[2015-09-22 21:37] lmangani commented on #161
User should confirm if mapping was corrected in indexing, or updated it using [https://www.elastic.co/guide/en/elasticsearch/reference/current/indices-put-mapping.html](PUT Mapping API) for instance:

[code]

This should do the trick. My proposal is to have ntopng create the correct mappings on index creation, will propose a patch internally to do so.

[2015-09-22 21:47] pcmerc commented on #161
@lmangani I use logstash for other things. ntopng output's to it's own index so it doesn't conflict. I was using that info earlier as an example. I'll remove the current testing index & do some testing with what you've shared.

[2015-09-22 21:49] lmangani commented on #161
@pcmerc thanks! we can use any result or confirmation to make this automated going forward

[2015-09-23 06:40] AlekMarkus opened #179 "why ntopng using a lot of memory ?"
Hello ,

i had before a week 4gb installed on my server : Intel(R) Core(TM) i5-3470 CPU @ 3.20GHz (4 cpu's)

and it always was on 95% so i thought there not enough memory  and i will upgrade , today i have 8 GB on my server and its using   81% of my memory. why this happened ?

![memory](https://cloud.githubusercontent.com/assets/13960741/10039032/f0bbd5ea-61d6-11e5-9361-2b6f959f5820.png)

[2015-09-23 07:33] lucaderi commented on #179
We fixed a memory leak some time ago. Please upgrade to the latest version first.

[2015-09-23 07:55] AlekMarkus commented on #179
Hey Luca , I'm updating every time when I see new version. my ntopng version was updated yesterday version.

I have updated now , and I will update you

Thanks .

[2015-09-23 08:00] lucaderi commented on #179
I assume you have used the dev version right? Can you please tell me the command line you have used to start it?

[2015-09-23 08:10] AlekMarkus commented on #179
I have installed from rpm.

Yum install ntopng
And it's updated me to the last version.

I will be back soon to office , and write here my configuration file.

[2015-09-23 08:16] lucaderi commented on #179
OK but you have used the stable or the dev version?

[2015-09-23 08:19] AlekMarkus commented on #179
Stable.
I have updated from here

http://packages.ntop.org/rpm6/x86_64/ntopng/

[2015-09-23 09:21] AlekMarkus commented on #179
my conf file :

-n=1
-W=3000
-g=-1
-d=/var/tmp/ntopng.old/
-G=/var/tmp/ntopng.pid
-i=eth0
-i=eth1
-F=es;flows;ntopng-%Y.%m.%d;http://10.1.1.20:9200/_bulk
-c=ABQIAAAAqyS8slRQqo9Kcr0-E9h89hSGhgF8hR3CTnfinjU1fi7o32h8XA
-m=10.1.1.1/24,10.1.101.1/24,10.1.109.1/24,10.1.200.200/24
-p=/usr/share/ntopng/httpdocs/protocol/syslog.txt
~

[2015-09-23 10:05] lucaderi commented on #179
Use dev

[2015-09-23 10:12] lucaderi commented on #179
Try with dev and let me know

[2015-09-23 11:56] paoloB132 commented on #178
Luca,  this changes from previous version, where I've used other chars than "\w"

Also, when you log in noting and try to change password for admin using special char, you are granted to do that !!!!!!, no notification of wrong chars.

[2015-09-23 12:00] paoloB132 commented on #178
the file add_user.la has :+1:
<input id="password_input" type="password" name="password" value="" class="form-control">

that s different from the login one !!

[2015-09-23 12:21] lucaderi commented on #178
add_user_dialog.lua is checking the form prior to call add_user.lua so I think we're in business

Please send me a pull request with the change, and make sure you star ntopng on github.

[2015-09-23 12:24] kargh commented on #170
I'm sure you've seen it already but, if not, I emailed you your login information.

[2015-09-23 12:34] paoloB132 commented on #178
Done...both

[2015-09-23 13:34] AlekMarkus commented on #179
ok , where can i download the dev version ?

btw if i will remove current version do i need to backup before i remove ?

[2015-09-23 17:25] #178 closed

[2015-09-23 20:15] ayera-hstack commented on #170
I am having the same end result (no active flows when I try to list flows of a host). I can view all flows however when I try to list flows for a single host it comes back with no active flows. When I try to view the flows I get one error in the  ntopng.log file.

[Lua.cpp:4840] WARNING: Script failure [/usr/share/ntopng/scripts/lua/get_flows_data.lua][/usr/share/ntopng/scripts/lua/get_flows_data.

[2015-09-23 20:35] kargh commented on #170
yeah, that same error is my log files and I have the same issue as well (can't list flows for an individual host).

[2015-09-23 22:32] pcmerc commented on #161
Looks like some code was updated. Compiling new pull now.

[2015-09-23 22:50] pcmerc commented on #161
@lmangani using what you suggested as a test:
$ curl -XPUT 'http://localhost:9200/ntopng-2015.09.17/_mapping/ntopng' -d '
{
    "ntopng" : {
        "properties" : {
            "DST_IP_LOCATION" : {
                "type" : "geo_point"
            }
        }
    }
}
'

I cleared ES, updated nDPI & Ntopng to lastest. Ran ntopng which I can see dumping into the new index it created.

The DST_IP_LO

[2015-09-24 07:58] lmangani commented on #161
@pcmerc could you try apply this query to your *current* index, without clearing

[2015-09-24 18:17] lmangani commented on #179
@AlekMarkus see http://packages.ntop.org/

[2015-09-24 18:23] lmangani commented on #177
@LionHear7 do you have a core file for debugging the problem?

[2015-09-24 18:55] lmangani commented on #144
Note taken Markus, we are working on this - meanwhile closing this nprobe request to keep ntopng tracker clean.

[2015-09-24 19:43] AlekMarkus commented on #179
maybe i have wrong :)

i have downloaded always from here : http://packages.ntop.org/rpm6/x86_64/ntopng/

so i assume im using the dev version ?

[2015-09-24 20:39] lucaderi commented on #179
The above irk is correct. In essence with the very latest ntopng you still see the leak using the above config file right?

[2015-09-24 20:41] lucaderi commented on #177
I need to make a new build as this is an old development version.

[2015-09-24 23:10] AlekMarkus commented on #179
yes.

right now its taking 2GB..i think till tomorrow afternoon it will more than 2GB

[2015-09-25 07:34] AlekMarkus commented on #179
right now its 3 GB
![memory](https://cloud.githubusercontent.com/assets/13960741/10095245/f15370c6-6370-11e5-826e-82560a9659d9.png)

[2015-09-25 07:41] gianogli opened #182 "Wrong interface-core affinity"
I using the following command line:
*****************
$ ./ntopng -i zc:2@0 -i zc:2@1 -i zc:2@2 -i zc:2@3 -i view:zc:2@0,zc:2@1,zc:2@2,zc:2@3 -u -n0 -d /var/tmp/ntopng/ -r 127.0.0.1:6379 -g 3,4,5,6 -l 1 -X 262144 -x 131072  -S local
*****************
with 4 interfaces with 4 different core affinity (-g 3,4,5,6).
All the interfaces, however, are  assigned to the same core (3):
*****************
25/S

[2015-09-25 17:44] kYroL01 commented on #182
I tried and yes, you're right. Now i can't fix, but tomorrow i'll do it.

[2015-09-25 21:07] gianogli commented on #182
Thanks kYroL01! :-)

[2015-09-26 07:11] lucaderi commented on #170
Hi all can you please refresh the code and see if its better now?

[2015-09-26 07:11] lucaderi commented on #179
Alex any news? Memory increases as the number of hosts/flows increase but it should hit a max limit and do not cross such limit.

[2015-09-26 07:29] ayera-hstack commented on #170
I updated to 2.0.150926 just a bit ago with the same end results.

[Lua.cpp:4840] WARNING: Script failure [/usr/share/ntopng/scripts/lua/get_flows_data.lua][/usr/share/ntopng/scripts/lua/get_flows_data.lua:130: bad argument #1 to 'pairs' (table expected, got nil)]

From: Luca Deri [mailto:notifications@github.com]
Sent: Saturday, September 26, 2015 12:11 AM
To: ntop/ntopng <ntopng@noreply.github.c

[2015-09-26 07:40] lucaderi commented on #170
It looks like you do not have the fix installed. Packages will be built overnight again. Try copying the get_flows_data.lua from github

[2015-09-26 08:01] lucaderi commented on #145
The idea is that if you have a certificare installed, the package will not overwrite it.

[2015-09-26 08:01] #145 closed

[2015-09-26 08:16] lucaderi commented on #61
Added https://github.com/ntop/ntopng/blob/dev/doc/README.historical

This issue is now implemented. In the near future we might consider adding ELK support in historical reports.

[2015-09-26 08:16] #61 closed

[2015-09-26 08:25] AlekMarkus commented on #179
well i don't have any new hosts/server ,  and right now its taking 6.4 GB again...

i can give an remote access if you want to check couple things.

[2015-09-26 08:26] lucaderi commented on #179
Please do allow me to access (email deri@ntop.org)

[2015-09-26 15:53] simonemainardi commented on #174
@gianogli  first issue has been fixed with pull request #183
second issue has already been fixed so please update ntopng to the latest dev version.

[2015-09-26 18:02] ValentinaViscarelli commented on #182
Fixed.

[2015-09-26 18:02] #182 closed

[2015-09-26 22:37] lmangani commented on #161
This ultimately works for me - Could you please try using the following template mapping:

[code]

(Make sure the index field list is refreshed in Kibana)

[2015-09-27 05:04] flyswatter commented on #121
I'm having this problem on Chrome 46, I didn't get my font from fontawesome, have tried a few different fonts, run them through a couple different converters, same error.

[2015-09-27 08:02] lmangani commented on #160
@lucaderi do we already have an internal value to create ad fill new field with?

[2015-09-27 10:36] #179 closed

[2015-09-27 19:54] AlekMarkus commented on #161
hey lorenzo ,

is it possible to create a Test rpm package to packages.ntop.org ? and i will update from there.

and test.

Best Regards,
Alek

[2015-09-27 19:57] lucaderi commented on #161
Overnight new packages will be built

[2015-09-27 22:36] AlekMarkus commented on #161
1. i have updated to the last version : 2.0.150927-497

2. i have used template mapping like @lmangani wrote

3. index field list is refreshed in Kibana

still doesn't work.

Alek

[2015-09-27 23:54] lmangani commented on #161
@AlekMarkus did you create a new index after the template was planted? This will not work with existing indexes unfortunately but it will for new ones

[2015-09-28 00:59] AlekMarkus commented on #161
@lmangani i have deleted now , and recreate again index ntopng-*

i cannot see geo_point .. still doesn't work

![ntop](https://cloud.githubusercontent.com/assets/13960741/10126179/540f5eca-6595-11e5-9fbb-5540cdfc34c2.png)

[2015-09-28 03:12] ayera-hstack commented on #170
No luck. I just updated to 150928 and the issue persists.

[Lua.cpp:4840] WARNING: Script failure [/usr/share/ntopng/scripts/lua/get_flows_data.lua][/usr/share/ntopng/scripts/lua/get_flows_data.lua:110: bad argument #1 to 'pairs' (table expected, got nil)]

Harley

From: Luca Deri [mailto:notifications@github.com]
Sent: Saturday, September 26, 2015 12:40 AM
To: ntop/ntopng <ntopng@noreply.github.c

[2015-09-28 07:12] lucaderi commented on #170
@ayera-hstack Can you please send me the whole URL that generates the problem

[2015-09-28 10:36] lmangani commented on #161
The issue in your case seems to be with the type used. The template expects type "ntopng" but you are using "flows" as in an older example.
<pre>
_type	  	flows
type	  	flows
</pre>

Please correct either template or ntopng syntax and mapping should work

[2015-09-28 10:42] AlekMarkus commented on #161
ok i have changed -F syntax and now its
t_type  ntopngttype  ntopngstill doesn't work.
i will try to delete all and re-create
Date: Mon, 28 Sep 2015 03:36:27 -0700
From: notifications@github.com
To: ntopng@noreply.github.com
CC: alekmarkus@hotmail.com
Subject: Re: [ntopng] create Tile Map in Kibana - No Compatible Fields: The "ntopng-*" index pattern does not contain (#161)

The issue in your case

[2015-09-28 10:44] lmangani commented on #161
@AlekMarkus Ok, on index creation check a random entry and make sure the type is now "ntopng"

<pre>es;ntopng;ntopng-%Y.%m.%d;http://localhost:9200/_bulk;</pre>

[2015-09-28 10:54] AlekMarkus commented on #161
Working. :) thank you

[2015-09-28 11:56] gianogli commented on #174
It doesn't work.
If I change the "Interface Speed" (for instance from 1000 to 2000) the Interface Speed remains 1000 but the "Custom Interface Name" becomes 2000.
The two graphs are still not correlated (the first one shows 1025Mbps while the sum of the others is about 175Mbps).
![ntopng_interface_speed1](https://cloud.githubusercontent.com/assets/14093378/10134687/fbb745b4-65e7-11e5-99ac-88b32c36

[2015-09-28 12:01] lucaderi commented on #175
Implemented. Overnight a new package with the extension will be built.

[2015-09-28 12:01] #175 closed

[2015-09-28 12:02] lucaderi commented on #174
@simonemainardi Please check this problem.

[2015-09-28 17:10] simonemainardi commented on #174
new pull request should fix the issue. To reset interface name to its default, please clear the corresponding field and hit save.

Regarding the issue with counters, please note that while the gauge on the left shows the total sum of all traffic, plots on the right display only local-to-remote and remote-to-local traffic. Could you please let me know if the missing traffic is actually local to loc

[2015-09-28 20:19] lmangani commented on #161
#186 should further improve the situation by placing the @timestamp field first in ES packets

[2015-09-28 20:22] AlekMarkus opened #187 "is it possible to create a raw field of ntopng fields in Kibana ?"
Hello ,

i'm using logstash for other application to view in Kibana and i noticed that when im log for example

IIS/Apache/nagios i can see Example field and Exmaple.raw Field

in raw field i have more information than none raw.

for example i took nagios_hostname

 we can see hosts name like : ilo , sap etc..(incorrect names)
![none-raw](https://cloud.githubusercontent.com/assets/13960741/1014743

[2015-09-28 20:35] lmangani commented on #187
This aspect can be controlled with mappings - by default, Logstash creates a .raw not_analyzed version of strings - the same can be achieved for your ntopng index, ie:

<pre>
"dynamic_templates" : [ {
  "string_fields" : {
    "match" : "HTTP_URL",
    "match_mapping_type" : "string",
    "mapping" : {
      "type" : "string", "index" : "analyzed", "omit_norms" : true,
      "fields" : {
        "

[2015-09-28 20:53] AlekMarkus commented on #187
Great ! thanks lorenzo

[2015-09-28 20:54] ayera-hstack commented on #170
http://ntopnghost.com:3000/lua/host_details.lua?ifname=0&host=1.2.3.4&page=flows

[2015-09-28 21:07] lmangani commented on #187
This <a href="https://github.com/lmangani/ntopng-output-elasticsearch/blob/master/ntopng-es-template.json">template</a> should mimic the .raw behaviour as well as retain the other ntopng fields. If you want to give it a try and provide feedback that would be great!

[2015-09-28 21:47] AlekMarkus commented on #187
yes the template working.

but i removed line 23 and then the geo started to work too , before i removed it so the type wasn't

geo_point

[2015-09-28 22:05] lmangani commented on #187
template corrected! So, this covers both .raw and geo_point correctly?

[2015-09-28 22:10] AlekMarkus commented on #187
Yep , thanks :)

[2015-09-28 23:27] #187 closed

[2015-09-28 23:30] lmangani commented on #150
@wilsonb77 please see https://github.com/ntop/ntopng/blob/dev/doc/README.historical

[2015-09-29 06:24] AlekMarkus commented on #161
good morning @lmangani i have update ntopng to the last version + using yours json template for mapping :
https://github.com/lmangani/ntopng-output-elasticsearch/blob/master/ntopng-es-template.json

and everything working great.

Tile map can be created and there is no more DST_IP_LOCATION@timestamp

Thank you :+1:  :+1:

[2015-09-29 07:08] lmangani commented on #161
@AlekMarkus thank you for trying and confirming back!

[2015-09-29 07:08] #161 closed

[2015-09-29 08:28] gianogli commented on #174
@simonemainardi now the gauge on the left seems to work. Thanks!
About the plots on the right, instead, I think that something is wrong in fact the monitored IP traffic is almost all local-to-remote or remote-to-local (I think that only the 1/2% is local-to-local).
My local network definition is something like this: -m "X.X.X.X/18,X.X.X.X/19,X.X.X.X/21,X.X.X.X/20,X.X.X.X/21,X.X.X.X/25,X.X.X.X/24,X

[2015-09-29 11:09] filemoon opened #188 "ntopng (RasberryPi repo) no GUI after logon"
Login screen i displayed correctly - but when username and password is entered "Page "/" was not found" message is displayed and no ntopng gui is provided.

Ntopng and nprobe is installed using following repository and manual.
http://packages.ntop.org/RaspberryPI/

apt-get update warning message
(I'm not sure this is connected with the issue)
W: Conflicting distribution: http://packages.ntop.org a

[2015-09-30 08:48] volkovmm opened #189 "how to run historical interface?"
Hello! Please help me to understand how to start historical interface using  -F.
I have a build of ntopng 2.0.150930.
I can't find anywhere how to write the command in ntopng.conf to have the opportunity to work with the historical interface.
for example I have an interface named eth0.

[2015-09-30 08:49] lmangani commented on #189
Hi,

Please see: https://github.com/ntop/ntopng/blob/dev/doc/README.historical

[2015-09-30 09:22] BDUCROS opened #190 "No traffic and no throughput in NTOP (0 BPS)"
Hello,
I've taken a look of the manual on the NTOP site. I realized the installation on my server and it seems to works but I have a problem of configuration, I think .
There's no acquisition of throughput and all measured values are null ( 0 BPS) like there’s no traffic…
Have you got an idea?
Thank you for your help!
![screen1](https://cloud.githubusercontent.com/assets/14904126/10189237/5f2c404e

[2015-09-30 10:54] volkovmm commented on #189
Well. I looked it up. But understand all in General terms. Please provide me more specific help.
I have Centos 7. I have installed MariaDB. My file ntopng.conf file looks like this:
-G=/var/tmp/ntopng.pid
-- interface=eth0

What should I write to start the historical interface?
-F "mysql;localhost;ntopng;flows;root;"? how?

[2015-09-30 11:19] lmangani commented on #189
@volkovmm that is correct, just extend your existing options/configuration with:
<pre>
-F "mysql;localhost;ntopng;flows;mysql_user;mysql_password"
</pre>

__Please do create a MySQL User (or use root) and Database (ie: ntopng) upfront!__

The console will provide output, in case of issue paste it here for assistance.

[2015-09-30 12:58] lucaderi commented on #189
-F=....

[2015-09-30 15:53] MartinAparicio commented on #51
is there any solution? I have the same problem

[2015-09-30 15:59] lucaderi commented on #51
Said that we are working at packaging Debian .deb I see the the latest version is 8.2, so in no case we will support v7. Please start moving to 8x.

[2015-09-30 16:13] MartinAparicio commented on #51
Thanks for the answer but I do not use Debian, I use Gentoo.

But this error is because of what? It is missing some plug upgrade? Or the version of the kernel?

regards

[2015-09-30 16:43] lucaderi commented on #174
@gianogli Please open a different issue per problem. If you issue persists try to reproduce it with a simple setup.

[2015-09-30 16:43] #174 closed

[2015-09-30 21:08] lucaderi commented on #51
Your netfilter library is too old as the API has changed. We cannot support all Linux distro and multiple versions of them. You need to help yourself and send us a patch, or move to a distribution we use and support.

[2015-09-30 21:09] #189 closed

[2015-09-30 22:52] lucaderi commented on #144
They are now available (nightly builds) at http://packages.ntop.org/apt/

[2015-09-30 22:52] #144 closed

[2015-10-01 06:25] volkovmm commented on #189
hisorical interface not displayed on the page. what am I doing wrong?
This is my conf:
--interface=enp3s0
-F="mysql;localhost;ntopng;flows;root;977"
-G=/var/tmp/ntopng.pid
This is my lof file:
01/Oct/2015 08:36:45 [Ntop.cpp:936] Setting local networks to 127.0.0.0/8
01/Oct/2015 08:36:45 [Redis.cpp:105] Successfully connected to redis 127.0.0.1:6379@0
01/Oct/2015 08:36:45 [NtopPro.cpp:117] [LICENSE

[2015-10-01 08:17] volkovmm opened #191 "how to run historical interface?"
hisorical interface not displayed on the page. what am I doing wrong?
This is my conf:
--interface=enp3s0
-F=mysql;localhost;ntopng;flows;root;977
-G=/var/tmp/ntopng.pid
This is my lof file:
01/Oct/2015 08:36:45 [Ntop.cpp:936] Setting local networks to 127.0.0.0/8
01/Oct/2015 08:36:45 [Redis.cpp:105] Successfully connected to redis 127.0.0.1:6379@0
01/Oct/2015 08:36:45 [NtopPro.cpp:117] [LICENSE]

[2015-10-01 08:27] lucaderi commented on #191
Click on network interfaces, click on the traffic icon, you will see on the bottom of the page a table with flows. If you have the pro version you can click on a host/protocol/port... and you will see a drill down
![screen shot 2015-10-01 at 10 26 23](https://cloud.githubusercontent.com/assets/4493366/10216099/f2befeca-6826-11e5-9006-39fad7f667c7.png)

![screen shot 2015-10-01 at 10 24 34](https:/

[2015-10-01 08:59] volkovmm commented on #191
I have not displayed search criteria functions

[2015-10-01 09:12] #191 closed

[2015-10-01 12:34] LionHear7 commented on #177
Sorry, but it didn't generate the core dump.
I'll wait for a new build, Thanks!

[2015-10-01 21:07] juesor opened #193 "ntopng not showing full traffic - Do I need PF_RING - How do i install and use with ntopng"
I have a nTAP installed feeding into an Intel SFP+ LR optic going into an Intel 82599ES 10-Gigabit SFI/SFP+.

I have ntopng installed
[ntop@ntopng ~]# ntopng --version
v.2.0.150930 [Professional Edition]
GIT rev:   dev:f2d2b1b8ad9c00cd60decc30ccb2005486ea08dc:20150930
Pro rev:   r473
System Id: 3D0153209105A1EF
Built on:  CentOS Linux release 7.1.1503 (Core)

With nload started and running on the

[2015-10-01 21:51] kthkaya opened #194 "Win8.1 x64 - ntopng service occasionally crashes"
Hello,

Recently installed ntopng and longest time I can browse the web GUI is 4-5 minutes. After that, the service stops and ntop becomes unreachable.

Following is the eventviewer detils

Faulting application name: ntopng.exe, version: 0.0.0.0, time stamp: 0x55fbb78a
Faulting module name: wpcap.dll, version: 4.1.0.2980, time stamp: 0x51300495
Exception code: 0xc0000005
Fault offset: 0x0000000000