[2022-09-03 05:45] PrimeIntellectLevel opened #6837 "Unable to add web user"
I tried adding web user but having problem with the error prompting me. I tried different name still getting same error. See below.

![image](https://user-images.githubusercontent.com/112744466/188257621-cad1add1-b168-4b46-850c-4d27b1c21437.png)
![image](https://user-images.githubusercontent.com/112744466/188257634-202e62b8-0a82-43cf-966a-67523af3b57d.png)

I'm thinking it is a some kind of miss l

[2022-09-03 05:51] PrimeIntellectLevel opened #6838 "UI background bug in Dark Theme at TLS and SSL tab"
The background color at TLS and SSL tab is wrong during Dark Theme. See my screenshot below.

![image](https://user-images.githubusercontent.com/112744466/188257798-a3d69c11-b837-4b78-96b9-98a929fc8c9c.png)

![image](https://user-images.githubusercontent.com/112744466/188257807-d0dc1a14-ecf1-4b02-aaab-9ddae0a0125c.png)

[2022-09-04 11:09] dandare100 commented on #6837
Hello. You are correct. It was a typo on a field name.

The validation is actually failing on Full Name

PR 6839 created to fix https://github.com/ntop/ntopng/pull/6839

[2022-09-04 14:24] dandare100 opened #6840 "Bug with redis config option format @db-id only"
**Environment**:
* OS name: Rocky Linux 8
* OS version: 8
* Architecture:  x86_64 x86_64 x86_64 GNU/Linux
* ntopng version/revision: dev branch

**What happened**:

It looks like commit ac3d3cc38ff83aab9a86de53fcf2295e7249e058 causes the unit tests to fail.
The test config specifies the redis option as `-r=@2`
The change for that commit increments r to check the number range for the specified db-i

[2022-09-04 19:58] dandare100 opened #6841 "global 'ends' is not callable"
**Environment**:
* OS name: Rocky Linux 8
* OS version: 8
* Architecture:  x86_64 x86_64 x86_64 GNU/Linux
* ntopng version/revision: dev branch

**What happened**:
Warning on startup :
`
04/Sep/2022 21:40:05 [LuaEngine.cpp:595] WARNING: Script failure [/home/jeff/graft/repos/ntopng/scripts/callbacks/5second/system/timeseries.lua][...ff/graft/repos/ntopng/scripts/lua/modules/ntop_utils.lua:342: glo

[2022-09-05 08:24] cardigliano commented on #6837
Fix merged, thank you

[2022-09-05 08:24] #6837 closed, assigned to MatteoBiscosi

[2022-09-05 08:25] cardigliano commented on #6840
Fixed in e2519fff56e23ab82c0ca92f92f967d815c91965. Thank you!

[2022-09-05 08:25] #6840 closed, assigned to nobody

[2022-09-05 08:32] cardigliano commented on #6841
The same test seems to be working in our environment, we need to dig a bit more

[>] Running test 'v2/alert_tls_certificate_selfsigned' (1/1)
[i] OK
[>] ntopng TESTS completed successfully

[2022-09-05 08:35] MatteoBiscosi commented on #6841
Hi @dandare100 the issue should be fixed thanks to luca's commit dbf6e0b531aa9f63a5adbc9015e96d7b2c4d99ad

[2022-09-05 08:45] dandare100 commented on #6841
@MatteoBiscosi @cardigliano
This is now sorted and fixed.
Thank you very much

[2022-09-05 08:45] #6841 closed, assigned to MatteoBiscosi

[2022-09-05 09:40] lucaderi commented on #6827
We're not super-experts of all these init systems, so please provide us a pull request so we can add them in out packages. Thanks you

[2022-09-05 10:08] lucaderi opened #6842 "Broken Layout in Manage Users"
![image](https://user-images.githubusercontent.com/4493366/188424573-a414ed0b-99ba-4694-ba9c-5aa5f549ec6f.png)

The language drop down menu is empty and too large. Some spaces are missing.

[2022-09-05 10:29] #6842 closed, assigned to uccidibuti

[2022-09-05 10:33] lucaderi commented on #6810
Implemented by @cardigliano. Soon adding new per-user reports.

[2022-09-05 10:33] lucaderi commented on #6754
Fixed with SNMP polling optimizations

[2022-09-05 12:48] lazyandproud opened #6843 "UI bug on timeframe selection"
**Environment**:
* OS name: Debian
* OS version: 11
* Architecture: amd64
* ntopng version/revision: v.5.4.220902 rev.18359

**What happened**:
On historic flows (/lua/pro/db_search.lua) the select-box for timeframe has no description (last hour, last day, last week...)

**How did you reproduce it?**

**Debug Information**:
![image](https://user-images.githubusercontent.com/58183116/188452901-d233

[2022-09-05 16:18] PrimeIntellectLevel commented on #6837
Can I suggest? to mark the field that is mandatory that way user will know which one to fill up properly. Thanks!

[2022-09-05 18:49] dandare100 opened #6844 "Clicking on DNS Flow Detail causes WARNING in log"
**Environment**:
* OS name: Rocky Linux
* OS version: 8
* Architecture:  x86_64 x86_64 x86_64
* ntopng version/revision: dev branch

**What happened**:
WARNING in logs when clicking on  flow detail for a DNS flow
Warning is

[code]

**How did you reproduce it?**
Capture an DNS flow and click on the blue magnifying glass

![d1](https://user-images.githubusercontent.com/5639208/188501773-3d5aee8a-19

[2022-09-06 08:40] cardigliano opened #6845 "Application selection in Application Policies broken"
<img width="1353" alt="Screen Shot 2022-09-06 at 10 39 54" src="https://user-images.githubusercontent.com/7548711/188589051-521b36fa-0df2-4b32-98dd-cc603cf2277e.png">

[2022-09-06 09:53] prop-physics commented on #3764
Would very much like to see support for 2.0.
I am aware that this might still not be a development priority, but I do hope that we could at least leverage the 1.x compatibility layer as a stop-gap measure.

Thanks for posting your findings @jufy111, you've saved me some digging. Will see if I can get it working myself.

[2022-09-06 10:10] dandare100 commented on #6844
Fixed, thank you

[2022-09-06 10:10] #6844 closed, assigned to nobody

[2022-09-06 12:45] MatteoBiscosi commented on #6838
Verified as fixed

[2022-09-06 12:45] #6838 closed, assigned to MatteoBiscosi

[2022-09-06 12:46] MatteoBiscosi commented on #6483
Verified as fixed

[2022-09-06 12:46] #6483 closed, assigned to uccidibuti, MatteoBiscosi

[2022-09-06 18:18] cutaway opened #6846 "Docker Web Interface Not Accessible"
**Environment**: Docker
[code]

**What happened**:
Running the following commands runs the docker instance successfully. But the user is unable to connect to the NtopNG web interface using localhost:3000, 127.0.0.1:3000, or <IP>:3000. Yes, I disabled the system's firewall.

Start in promiscuous mode:
[code]

Run to parse a PCAP file:
[code]

**How did you reproduce it?**
Follow instructions for in

[2022-09-07 06:39] dandare100 commented on #6846
@cutaway
Hello.

With (as you had it)
[code]

What is the output of
[code]
[code]
Are you trying through a browser or cli ?

What is the output this curl on your side ?
[code]
[code]

[2022-09-07 07:27] cutaway commented on #6846
@dandare100

From local system running OSX:

[code]

From Docker terminal:

[code]

Additional debugging information: To get the full command to run I have to specify the interface name for the docker interface, eth0, rather than the interface name for the parent OSX system, en3.

[code]

[2022-09-07 08:25] dandare100 commented on #6846
@cutaway
Apologies, I only saw now that you are on OSX

For docker --net=host is not supported on mac.

https://docs.docker.com/network/host/

The port forwarding is supported, so try
[code]

and you should have the console.

The reason you need to specify the interface name for the docker interface and not the host machine's interface  is because docker  does not run natively on Mac or Windows.
I

[2022-09-07 14:28] cutaway commented on #6846
@dandare100

Removing the `--net=host` from the command line fixed it.

Noted about the interface. Not a worry for me since I'm using this to analyze individual PCAPs.

I'll open a separate recommendation about updating the Docker documentation with notes about OSX and analyzing individual PCAPs.

Thank you

[2022-09-07 14:51] cutaway opened #6847 "Update Docker Hub Directions"
**What would you like to add or change?**:

Recommend updating the Docker Hub directions to include information about running Docker on OSX and using it for one-time analysis of a packet capture.

**Why do you and others need this?**:

Some users will run Docker on OSX and will have issues with the `--net=host` option.
Some users will want to use the Docker version to analyze individual PCAP files

[2022-09-07 15:01] cutaway opened #6848 "ntopng multiple -u options in documentation"
**Environment**:
N/A as this is about the ntopng documentation at https://www.ntop.org/guides/ntopng/cli_options.html

**What happened**:
Two options in the ntopng 'Command Line Options' documentation have the `-u` designation.

**How did you reproduce it?**
Review the ntopng documentation at https://www.ntop.org/guides/ntopng/cli_options.html, search for `-u`, and review each instance.

You can a

[2022-09-07 16:45] dandare100 commented on #6846
@cutaway Cool. Enjoy :-)

[2022-09-07 22:38] cutaway opened #6849 "Web UI Flows Icon No Tooltip"
**Environment**:
[code]

**What happened**:
The Flows icon has no tooltip. The following image shows the tooltip for the Devices icon.

![image](https://user-images.githubusercontent.com/1958439/188995303-4989913b-b235-42b8-a6a5-5011a05b5bd2.png)

**How did you reproduce it?**

- Log into web UI
- Hover the mouse of the icons at the top of the page to see all of the tooltips.
- Hover over the Flow

[2022-09-08 09:07] MatteoBiscosi commented on #6848
Thanks a lot for your report @cutaway , I fixed for both, stable and dev version.
A new version is going to be available in a couple of hours

[2022-09-08 09:20] MatteoBiscosi commented on #6849
Thanks @cutaway , the issue should be fixed now, wait for a couple of hours and a new build should be available

[2022-09-08 09:24] MatteoBiscosi commented on #6843
Hi @lazyandproud please in a couple of hours update to the latest ntopng version and let me know. The issue should now be fixed; if not please right click on the page and select 'inspect' after that let me know if there are some errors in the console
![image](https://user-images.githubusercontent.com/49585191/189086183-e18e5e9e-d2a3-46f7-8bf2-af70eb778a42.png)

[2022-09-08 12:18] lucaderi opened #6850 "Missing data format in Historical Flows"
![image](https://user-images.githubusercontent.com/4493366/189119762-49dddf41-1068-4ade-8dbe-4743e60ee071.png)

[2022-09-08 13:43] lucaderi opened #6851 "CSV Download of Historical Flows not Human Friendly"
In HistoricalFlows when downloading historical flows in CSV, the output is not designed for humans. For instance
- map fields (17 -> UDP, and the same for nDPI)
- remove low level info

[2022-09-08 13:47] lucaderi opened #6852 "Download of Historical Alerts Slow with Many Records"
When downloading historical alerts, in the case of many records, the download is too slow, probably because there is no limit set on records. In all cases, it would be desirable to have download in streaming as with flows, and not at the end

[2022-09-08 16:15] lucaderi opened #6853 "Invalid Alert Type"
![image](https://user-images.githubusercontent.com/4493366/189172825-3f287438-db74-4506-b736-265c95c412f6.png)

As shown above there are two problems
- Status (column) is mapped to Alert Type (filter)
- The values are not in user-friendly mode but in numerical

Note that the bug is present in historical flows but not in alerts

[2022-09-08 16:17] lucaderi opened #6854 "Enhance ICMP Traffic Report"
<img width="994" alt="Screenshot 2022-09-08 at 18 15 55" src="https://user-images.githubusercontent.com/4493366/189173337-b3d839d3-4601-46d6-87c5-645ce82ed12b.png">

The above report is very limited. We should at least
- have a real-time ICMP report with top flows
- add top X hosts that created ICMP traffic

[2022-09-08 16:45] lucaderi opened #6855 "Detect Network Interface Bandwidth Peaks"
Add a new check that triggers an alert whenever the interface traffic is more/less than X times the previous observation period (not less than 5 minutes).

For example: in the last 10 minutes the traffic is double the traffic of the previous period (20 mins ago)

[2022-09-08 16:47] lucaderi opened #6856 "Enhance Device/MAC Address Tracking"
Add a learning period to the existing Device/MAC Address Tracking in order to avoid adding MAC addresses by hand, and letting ntopng create the MAC address list automatically.

[2022-09-08 18:31] leegitlee commented on #6830
It's OK
i can see now all traffic on the dashboard

Thanks

[2022-09-08 18:31] #6830 closed, assigned to nobody

[2022-09-08 18:52] 4oo4 opened #6857 "packages.ntop.ntopng.org bullseye all repository has incorrect sizes in InRelease file"
**Environment**:
* OS name: Debian
* OS version: 11
* Architecture: amd64
* ntopng version/revision: 5.4.220908-18414

**What happened**:
I noticed some issues with upgrading ntopng and related packages, and on investigating it appears that the `InRelease` file for the bullseye all suite has incorrect file sizes in it, and this causes `apt update` to fail. I also ensured that I'm also on the lates

[2022-09-08 22:54] cutaway commented on #6848
I'm running from Docker. I'm not sure with these updates will hit the Docker versions. Someone else will have to test to confirm and close

[2022-09-08 22:54] cutaway commented on #6849
I'm running from Docker. I'm not sure with these updates will hit the Docker versions. Someone else will have to test to confirm and close

[2022-09-08 22:54] #6846 closed, assigned to nobody

[2022-09-09 04:52] 4oo4 commented on #6857
Looks like someone fixed it already. Thanks!

[2022-09-09 04:52] #6857 closed, assigned to nobody

[2022-09-09 07:29] alonek1 commented on #6551
Hi,
I'm experiencing same issue. Is there any update/solution for this?

[2022-09-09 08:12] lazyandproud commented on #6843
Hi @MatteoBiscosi, same on v.5.4.220908 rev.18414. The errors also show up when directly connected to :3000, to exclude any issue with the reverse-proxy.
![image](https://user-images.githubusercontent.com/58183116/189303665-89b86466-2358-42ce-8124-6606b5288c5e.png)

[2022-09-09 13:33] lucaderi opened #6858 "Implement Local Hosts BlackList Check"
Whenever blacklists are updated, it is requested to check if any local host (-m) are listed in the blacklist and in this case trigger an alert.

[2022-09-09 15:03] martinscheu opened #6859 "Show system timezone next to system time"
**What would you like to add or change?**:
It would be helpful to show the system / server time zone as e.g. Etc/UTC (cat /etc/timezone)
<img width="333" alt="Screenshot 2022-09-09 at 16 56 36" src="https://user-images.githubusercontent.com/38549755/189381098-26fdefb3-1d65-43e1-88ea-107502a57130.png">

**Why do you and others need this?**:

[2022-09-09 15:54] cardigliano commented on #6551
@alonek1 this is on hold as we were unable to reproduce the same both in our lab and on the customer box using a debug binary (including a memory sanitizer). Are you able to provide ssh access to your box to try to debug this?

[2022-09-09 20:12] Ryushin commented on #6827
Really to support SysV and OpenRC, just add the init scripts back.

[2022-09-09 20:52] lucaderi commented on #6858
![image](https://user-images.githubusercontent.com/4493366/189442442-8b0bf62d-5822-4fae-815d-6cee7b92bfb0.png)

[2022-09-09 20:52] lucaderi commented on #6858
Feature implemented

[2022-09-09 20:54] lucaderi commented on #6858
Fixed

[2022-09-10 01:03] MatteoBiscosi commented on #6858
Implemented as requested

[2022-09-10 01:03] #6858 closed, assigned to nobody

[2022-09-10 13:07] lucaderi opened #6860 "Inconsistent Drop-Down Menus Styles"
![image](https://user-images.githubusercontent.com/4493366/189484752-f27369a6-a07b-44c3-80f3-86110d8eb0fa.png)

[2022-09-10 13:09] lucaderi opened #6861 "Missing L7 Protocols from Timeseries List"
![Screen Shot 2022-09-10 at 15 08 59](https://user-images.githubusercontent.com/4493366/189484809-783cdc28-bb3a-4c9a-a247-7d69f3e2f3cb.png)

[2022-09-10 13:11] lucaderi opened #6862 "Timeseries Names are not Sorted"
![Screen Shot 2022-09-10 at 15 09 44](https://user-images.githubusercontent.com/4493366/189484845-4036ec6b-18b9-4f59-9e2b-1cc76ee41a4d.png)

Note that when L7 timeseries will be added the menu must be sorted in blocks
- sorted generic series (e.g. live flows)
- end of block
- sorted list of L7 protocols

[2022-09-10 13:12] lucaderi opened #6863 "Invalid Default Timeseries"
The default must be as the old version, namely RX/TX traffic
![Screen Shot 2022-09-10 at 15 11 54](https://user-images.githubusercontent.com/4493366/189484892-56d97564-b79c-4014-8f37-54c1cc476b91.png)

[2022-09-10 13:14] lucaderi opened #6864 "Chart and Table Must Be in Sync"
![Screen Shot 2022-09-10 at 15 12 37](https://user-images.githubusercontent.com/4493366/189484931-a2019806-d95d-4782-829c-66ee94336139.png)

Clicking on a L7 protocol on the table must switch series to the same protocol. Example clicking on Discord in the table, must display Discord as timeseries.

[2022-09-10 13:18] lucaderi opened #6865 "RX/TX Traffic Colours are not uniform"
![image](https://user-images.githubusercontent.com/4493366/189485028-9d85f07d-f416-4961-89ba-b9ba8293678d.png)

The colour and style should be similar. The two greens look different. Ideally, in the mail chart, there should be a darker line at the edge of the timeseries as in the above peity chart

[2022-09-10 13:20] lucaderi opened #6866 "Invalid Behavioural Chart Style"
![Screen Shot 2022-09-10 at 15 18 40](https://user-images.githubusercontent.com/4493366/189485158-9d3053f6-f383-46fa-81b3-fd8dfb45971c.png)

In behavioural charts, it is ok that the main series is an area. What is wrong is that upper and lower bounds should be represented as lines (same as average and 95th percentile)

[2022-09-10 13:22] lucaderi opened #6867 "Vertical Alignment is Broken"
![image](https://user-images.githubusercontent.com/4493366/189485253-f0d380e4-62e5-426b-a375-730abceb9fe0.png)

[2022-09-10 13:25] lucaderi opened #6868 "Missing Chart Labels"
![image](https://user-images.githubusercontent.com/4493366/189485438-cc28fd75-8985-47b1-af56-d79b83d94ad2.png)

In case a chart has no data the chart element is totally empty with no label whatsoever leading the user to think that probably there is a bug. It is requested that when there are no series points at least a label is shown in order to instruct the user that the chart is as such due to no

[2022-09-10 13:28] lucaderi opened #6869 "New Label Cut Algorithm Needs to be Improved"
![image](https://user-images.githubusercontent.com/4493366/189485480-0f5a6e9b-f9e7-4881-9501-de037ed04c6b.png)

[2022-09-10 13:29] lucaderi opened #6870 "Live Flow Columns Should Not Wrap"
![Screen Shot 2022-09-10 at 15 28 10](https://user-images.githubusercontent.com/4493366/189485529-f29bfde3-4137-47fa-887a-7043da8a333f.png)

[2022-09-10 13:35] #6859 closed, assigned to nobody

[2022-09-10 13:36] lucaderi commented on #6859
![Screen Shot 2022-09-10 at 15 35 42](https://user-images.githubusercontent.com/4493366/189485837-52aa4dc7-78d1-4f8b-ad31-7fa8b539a300.png)

[2022-09-11 18:04] keinze opened #6871 "Unexpected DNS server found does not ignore 127.0.0.1 even if on exclusion list"
**Environment**:
* OS name: OPNsense
* OS version: 22.7.4
* Architecture: e.g. amd64
* ntopng version/revision: v.5.4.220831 rev.0 (FreeBSD 13.1

**What happened**:
I am getting continues errors [lo0] [❗️ Error] [Unexpected DNS server found]  Unexpected DNS server found: 127.0.0.1

I've added 127.0.0.1 to the exlusion list as folows but does not diappier. (Same with e.g. 8.8.8.8 worked):
127.0.0.1

[2022-09-11 20:31] lucaderi opened #6872 "Missing red triangle in asset map"
When in JSON response we have "max_entry_reached": true, the service map should show a red triangle in the map. Unfortuantely it does not show up.

[2022-09-12 06:16] martinscheu opened #6873 "Security Dashboard"
**What would you like to add or change?**:
It would be helpful to have a dashboard with security related information:

<img width="1275" alt="Screenshot 2022-09-12 at 08 14 36" src="https://user-images.githubusercontent.com/38549755/189585541-a7cba82e-b84a-4a46-8e4d-6c6245d5f39e.png">

10 items per list would be good.

scrolling up and down would be ok for me.

thank you!

**Why do you and others

[2022-09-12 13:10] #6845 closed, assigned to nobody

[2022-09-12 15:33] jacoporusso-css opened #6874 "Cannot whitelist complex domains"
**Environment**:
* ntopng version/revision: 5.4.220818

**What happened**:
Trying to whitelist some alerts (e.g.: Suspicious DNS Traffic) triggered by a complex internal domain string (e.g.: .ldap..tcp.pdc..msdcs.example.com) using the domain choice, the "exclude" button is grayed out.

![screen1](https://user-images.githubusercontent.com/108343272/189694843-0f992ff3-b2e6-4d5b-af56-2d9d1222e0ad.jp

[2022-09-13 23:24] MRTA1 opened #6875 "Launching ntopng GUI displays 'WARNING: using: sudo ethtool -K lo gro off gso off tso off'"
Dear ntopng support,

I am using the community version of ntopng.  I use the following command to start the ntopng software:

sudo ntopng --community

I access the Internet from my desktop computer via a wireless modem/router with an ethernet connection between the desktop computer and the wireless modem/router.  All of the messaging on the command line is without any errors upon starting ntopng.

[2022-09-14 07:25] Amanr77 opened #6876 "Global interface traffic graph not in line with real traffic bandwidth usage"
![ntop-evidence](https://user-images.githubusercontent.com/24620180/193232767-b79812ec-4321-4de1-88bb-e2b91767d1c5.JPG)

**Environment**:
* OS name: Centos
* OS version: 7.9.2009
* Architecture: x64
* ntopng version/revision: ntopng-5.4.220913-18458.x86_64

**What happened**:
the graph on the top left corner is not in line with the sum of the single live flows "Actual Thpt" values and not in line

[2022-09-14 07:28] cardigliano commented on #6875
@MRTA1 what is the adapter model? Please provide ethtool -i  ethX (replace ethX with your interface monitored by ntopng)

[2022-09-14 07:29] martinscheu opened #6877 "Group alerts"
**What would you like to add or change?**:
Working with alerts can be overwhelming, specially flow alerts. In order to improve visibility / usability, would it be possible to group alerts after the alert column?

Example:
<img width="339" alt="Screenshot 2022-09-14 at 09 25 37" src="https://user-images.githubusercontent.com/38549755/190088750-b0328d95-8841-4afb-870b-9cfec7de735e.png">

Would resul

[2022-09-14 07:40] martinscheu opened #6878 "Replace black / white list"
**What would you like to add or change?**:
In order to not casually assigning positive connotations to ```white``` while assigning negative connotations to ```black```
If you please could consider to replace:

- Whitelist becomes allowlist.
- Blacklist becomes denylist.
- Master/slave becomes leader/follower, primary/replica or primary/standby.
- Man hours becomes person hours or engineer hours.
-

[2022-09-14 09:37] lucaderi opened #6879 "Add ability to disable Interface Alerts"
In some cases, it is not required to trigger alerts per specific interfaces. This ticket is to request the implementation of an interface toggle that will disable alerts from being triggered on a specific interface.

[2022-09-14 09:41] MatteoBiscosi commented on #6874
Soon new builds are going to be available with the fix

[2022-09-14 12:31] midoelhawy opened #6880 "Error while calling historical flow API <DB::Exception: Syntax error: failed at position 144 ('10'): 10 . Expected>"
**Environment**:
* OS name: **Ubuntu server**
* OS version:**22.04**
* Docker version: **20.10.18**
* Architecture: **x86_64**
* clickhouse-server: **latest**
* clickhouse-client: **22.8.5.29**
* ntopng version/revision: **5.4.220913 [Enterprise/Professional build]**
* GIT rev:	**5.4-stable:ede2eeb11f6ec2dc445caee2f852c49ffded8c27:20220913**

**What happened**:
I can't get historical flows by the

[2022-09-14 13:04] cardigliano commented on #6880
Please paste here the configuration file

[2022-09-14 13:37] midoelhawy commented on #6880
`--redis", "127.0.0.1:6379","-i","tcp://127.0.0.1:5556", "-F", "clickhouse;127.0.0.1;ntopng;USERNAME;EMPTYPASSWORD"`

[2022-09-14 15:18] MRTA1 commented on #6875
Hello Alfredo,

Thank you for your help.  I get the WRANING messages for the lo interface.  I typed 'sudo ethtool -i lo' and received the following output:

Cannot get driver information: Operation not supported

[2022-09-14 16:43] cardigliano commented on #6880
@midoelhawy I pushed a fix to support your curl, a new package will be available later today or tomorrow, please also adjust the query using parenthesis and quotes when specifying IP addresses as below:

`curl -u admin:PASSWORD -H "Content-Type: application/json" -d '{"ifid": 1, "select_clause": "*", "where_clause": "IPV4_SRC_ADDR = (\"192.168.1.2\")", "begin_time_clause": 1590480290, "end_time_cl

[2022-09-14 17:02] lucaderi opened #6881 "Invalid backlink"
Clicking on the square button it should go back to the asset table without a target host and not to the asset map

![image](https://user-images.githubusercontent.com/4493366/190217163-9ba699eb-132d-4a4e-88b3-ff79d7772ae1.png)

[2022-09-14 17:25] lucaderi opened #6882 "Disable Menus with Selection"
![image](https://user-images.githubusercontent.com/4493366/190221637-fb128b71-ecfa-4278-884f-a352c38c2934.png)

Whenever a host is selected the VLAN menu should be disabled.

I would also disable the network menu (but this is optional) as the pool menu.

[2022-09-14 19:30] lucaderi opened #6883 "Change string to link"
![image](https://user-images.githubusercontent.com/4493366/190245247-650af612-609c-407a-a3da-3a0c1927a558.png)

A couple of issues
- In the asset map the host name should be clickable if the host exists in memory
- the interface name must be shortened

[2022-09-14 21:34] midoelhawy commented on #6880
I think it's still not working:

I tried to execute the same request sent by you :

[code]
But I got this output error

[code]

I have the stable docker image updated less than 4 hours ago `ntop/ntopng:stable`

![Screenshot from 2022-09-14 23-31-52](https://user-images.githubusercontent.com/27738027/190266408-6b8ebeb7-57d0-4da4-bde1-011d377861b1.png)

[2022-09-15 07:56] cardigliano commented on #6880
Could you provide the ntopng output from the container?

[2022-09-15 07:59] midoelhawy commented on #6880
[code]

[2022-09-15 08:02] cardigliano commented on #6880
I mean the full ntopng log when reproducing the API failure

[2022-09-15 08:05] midoelhawy commented on #6880
[code]

[2022-09-15 08:32] cardigliano commented on #6880
@midoelhawy can I see the full log please? Did you always use the dockerhub image? It seems you were running ubuntu 22 on the first post, the dockerhub image was ubuntu 20 until yesterday

[2022-09-15 08:33] cardigliano commented on #6880
Anyway, we will update the docker hub images later today, worth to check with the latest one.

[2022-09-15 08:45] midoelhawy commented on #6880
Ubuntu 22 is the host OS.
Did you always use the dockerhub image? yes

This is our full log :

[code]

[2022-09-15 09:41] martinscheu opened #6884 "Interface icons inconsistent"
**Environment**:
* OS name: [e.g. Ubuntu] Ubuntu
* OS version: [e.g. 18.04] 20.04
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223] ntopng Enterprise L v.5.5.220915

**What happened**:
Interface icons are not shown in same manner:
![image](https://user-images.githubusercontent.com/38549755/190371415-6d6f53b1-ae54-4549-89fa-367b59dc6d5e.png)

note that n2disk is running for

[2022-09-15 09:46] martinscheu opened #6885 "System storage utilisation display issue"
**Environment**:
* OS name: [e.g. Ubuntu] Ubuntu
* OS version: [e.g. 18.04] 20.04
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223] ntopng Enterprise L v.5.5.220915

**What happened**:
Storage utilization seems not to be displayed correctly:
n2disk is running for ntap0 and ens20 on /mnt/n2disk/6/pcap and /mnt/n2disk/7/pcap

But system storage shows ens20 and ntap0 as well:

[2022-09-15 11:02] #6882 closed, assigned to MatteoBiscosi

[2022-09-15 14:32] cardigliano commented on #6880
This has been addressed today, a new build will be available soon

[2022-09-15 16:20] MatteoBiscosi commented on #6871
Hi @keinze could you please send me a screenshot of a live alerted flows with unexpected dns server found alert?
![image](https://user-images.githubusercontent.com/49585191/190455862-d1df3130-d57a-4121-9e04-055967900975.png)
Then jump to the server host and send me the ip of the host.
If you cannot share your ips on github, please drop an email at `biscosi at ntop.org` with the screenshots

[2022-09-16 09:37] cardigliano commented on #6880
@midoelhawy please try rebuilding your container using the dockerhub image now nad let me know

[2022-09-16 09:48] jacoporusso-css opened #6886 "Cannot whitelist on numbered VLANs via protos file"
**Environment**:
* ntopng version/revision: 5.4.220818
**What happened**:

Following instructions found [here](https://www.ntop.org/ndpi/howto-define-ndpi-risk-exceptions-for-networks-and-domains/) and [here](https://www.ntop.org/ndpi/how-to-configure-flow-risk-exclusions-in-ndpi-and-ntopng/) I'm trying to whitelist a whole TLD on a specific alert. So I created a protos file with this line - host_

[2022-09-17 19:02] midoelhawy commented on #6880
Now it's works;
Thank you

[2022-09-17 19:02] #6880 closed, assigned to cardigliano

[2022-09-19 08:42] lucaderi commented on #6886
Please provide a short pcap we can use to reproduce the issue

[2022-09-19 10:45] lucaderi opened #6887 "Implement Honeypot Support"
In production networks, there are special hosts that can act as honeypots. Example
- an ILO/DRAC host should be accessed only from specific IPs and only with specific protocols
- (real) honeypots or IP black holes should not be contacted at all

This ticket is to request the implementation of a "honeypot-based alarm system" to trigger alerts when specific traffic flows are detected

[2022-09-19 14:32] lucaderi opened #6888 "Implement Blacklist Coverage/Stats"
ntopng uses blacklists to identify traffic from malicious sources. What is missing today is the
- lists coverage
- statistics about hosts usage and hits

This ticket is to request their implementation.

[2022-09-20 10:42] lucaderi opened #6889 "Invalid menu selection"
![image](https://user-images.githubusercontent.com/4493366/191237576-dc7f9b16-4534-4b5f-b79b-03e1c1b2023b.png)

[2022-09-20 16:44] lucaderi opened #6890 "Refresh Sankey Chart support in the Host Page"
In http://ntop_host:3000/lua/host_details.lua?host=@0&page=flows_sankey it is required to
- update sankey to the latest version
- add support for https://observablehq.com/@d3/sankey
- add in the page a dropdown menu with three values: local traffic only, traffic to the host, traffic from the host
- upon dropdown value change, a REST call will be issues and the sanky chart updated

[2022-09-21 07:22] lucaderi commented on #6117
Just committed https://github.com/ntop/nDPI/commit/1d0bc7c3506ea08fd84bb0781098193924ad1308 that will enable the implementation of this ticket

[2022-09-21 07:37] cardigliano opened #6891 "Add VLAN configuration in nEdge"
Add the ability to define VLAN interfaces through the System setup menu in nEdge. VLAN interfaces will be added to the system interfaces / netplan and will appear after applying the configuration (on reboot) and should be treated as standard interfaces (it should be possible to use them as LAN/WAN, assign an IP, etc).
Note: when a VLAN interface has been added to the list of interfaces in the conf

[2022-09-21 08:10] MatteoBiscosi commented on #6885
Verified as fixed

[2022-09-21 08:10] #6885 closed, assigned to MatteoBiscosi

[2022-09-21 08:10] MatteoBiscosi commented on #6884
Verified as Fixed

[2022-09-21 08:10] #6884 closed, assigned to MatteoBiscosi

[2022-09-21 08:10] MatteoBiscosi commented on #6883
Verified as fixed

[2022-09-21 08:10] #6883 closed, assigned to MatteoBiscosi

[2022-09-21 08:11] MatteoBiscosi commented on #6881
Verified as fixed

[2022-09-21 08:11] #6881 closed, assigned to MatteoBiscosi

[2022-09-21 08:11] MatteoBiscosi commented on #6874
Verified as fixed, reopen if needed

[2022-09-21 08:11] #6874 closed, assigned to MatteoBiscosi

[2022-09-21 08:12] MatteoBiscosi commented on #6872
Verified as fixed

[2022-09-21 08:12] #6872 closed, assigned to MatteoBiscosi

[2022-09-21 08:12] MatteoBiscosi commented on #6870
verified as fixed

[2022-09-21 08:12] #6870 closed, assigned to MatteoBiscosi

[2022-09-21 08:13] MatteoBiscosi commented on #6869
verified as fixed

[2022-09-21 08:13] #6869 closed, assigned to MatteoBiscosi

[2022-09-21 08:13] MatteoBiscosi commented on #6867
verified as fixed

[2022-09-21 08:13] #6867 closed, assigned to uccidibuti

[2022-09-21 08:13] MatteoBiscosi commented on #6865
Verified as fixed

[2022-09-21 08:13] #6865 closed, assigned to uccidibuti, MatteoBiscosi

[2022-09-21 08:14] MatteoBiscosi commented on #6863
Verified as fixed

[2022-09-21 08:14] #6863 closed, assigned to uccidibuti, MatteoBiscosi

[2022-09-21 08:14] MatteoBiscosi commented on #6862
Verified as fixed

[2022-09-21 08:14] #6862 closed, assigned to uccidibuti, MatteoBiscosi

[2022-09-21 08:14] MatteoBiscosi commented on #6860
Verified as fixed

[2022-09-21 08:14] #6860 closed, assigned to nobody

[2022-09-21 08:18] MatteoBiscosi commented on #6856
Verified as fixed, new option added for the learning period
![image](https://user-images.githubusercontent.com/49585191/191452108-223a4635-7f63-4aae-bbcf-eebdf50b1d61.png)

[2022-09-21 08:18] #6856 closed, assigned to MatteoBiscosi

[2022-09-21 08:19] MatteoBiscosi commented on #6853
verified as fixed

[2022-09-21 08:19] #6853 closed, assigned to cardigliano

[2022-09-21 08:19] MatteoBiscosi commented on #6850
verified as fixed

[2022-09-21 08:19] #6850 closed, assigned to cardigliano, MatteoBiscosi

[2022-09-21 08:19] MatteoBiscosi commented on #6849
verified as fixed

[2022-09-21 08:19] #6849 closed, assigned to MatteoBiscosi

[2022-09-21 08:19] MatteoBiscosi commented on #6848
verified as fixed

[2022-09-21 08:19] #6848 closed, assigned to MatteoBiscosi

[2022-09-21 08:20] MatteoBiscosi commented on #6843
Verified as fixed, reopen if needed

[2022-09-21 08:20] MatteoBiscosi commented on #6747
Implemented as requested

[2022-09-21 08:20] #6747 closed, assigned to MatteoBiscosi

[2022-09-21 09:00] #6145 closed, assigned to nobody

[2022-09-21 15:21] tim-hilt opened #6892 "fritzdump.sh: Hostnames not resolved"
**Environment**:
* OS name: Raspbian
* OS version: v1.0.25
* Architecture: arm64
* ntopng version/revision: 5.5.220918

**What happened**:

I think this is more of a support-question, but I seem to not have the ability to post to the Discord-channels, even though I have completed the verification-process (as far as I understand it)

I started the `fritzdump.sh`-script and do get packet-information

[2022-09-21 18:16] ropelletier opened #6893 "License page is blank, won't produce system id for license creation"
**Environment**:
* OS name: pfsense
* OS version: 2.6.0-RELEASE (amd64)
* Architecture: amd64
* ntopng version/revision: 5.0.220112 [Community build]

**What happened**: I need to install the license but I am unable to produce a systemid either from the license page or command line.

[code]

[2022-09-22 07:10] #6892 closed, assigned to nobody

[2022-09-22 07:19] MatteoBiscosi commented on #6893
Hi @ropelletier please update to the latest ntopng version. We have 2 different builds: stable (5.4) and dev (5.5); we do not support previous versions

[2022-09-22 09:49] lucaderi commented on #6814
Sorry for the delay, but I missed your reply. I have been able to reproduce the issue only in specific cases (e.g. resending a pcap). So I have made a patch that I hope addresses all corner cases. Fix will be both for dev and stable. Thanks for reporting the issue.

[2022-09-22 09:50] #6814 closed, assigned to nobody

[2022-09-22 09:51] lucaderi commented on #6814
Please wait until packages are available and in case the problem persists, reopen this ticket

[2022-09-22 10:03] lucaderi commented on #6625
This problem has been fixed and we're no longer able to reproduce it

[2022-09-22 10:04] lucaderi commented on #6625
This problem has been fixed and we're no longer able to reproduce it

[2022-09-22 10:04] #6625 closed, assigned to nobody

[2022-09-22 10:05] #6754 closed, assigned to uccidibuti, MatteoBiscosi

[2022-09-22 10:08] lucaderi commented on #6773
Closing for inactivity

[2022-09-22 10:08] #6773 closed, assigned to lucaderi

[2022-09-22 10:10] cardigliano commented on #6785
@darrenp2022a can we close this?

[2022-09-22 17:47] lucaderi commented on #6656
If in protos.txt you add
- tcp:2222@SSH
it will work.

[2022-09-22 17:47] #6656 closed, assigned to lucaderi

[2022-09-22 17:49] #6785 closed, assigned to cardigliano

[2022-09-22 18:09] ropelletier commented on #6893
For anyone coming across this later, I needed to update to pfsense+, then I was able to upgrade the ntopng package which did solve the issue.

[2022-09-22 18:09] #6893 closed, assigned to MatteoBiscosi

[2022-09-22 22:29] darrenp2022a commented on #6785
This issue is still pending, I set it up for you and enabled logging as requested, I had enabled remote access as discussed so you can view for yourself and heard nothing back.

So, as requested, let me know when you are going to look at tiffs and review the logs.

Regards
________________________________
From: Luca Deri ***@***.***>
Sent: Friday, September 23, 2022 1:49:38 AM
To: ntop/ntopng ***@

[2022-09-22 22:59] darrenp2022a opened #6894 "Duplicate of #6785 - NTOP does not recognise or send alerts"
Environment:

OS name: Centos
OS version: Stream 8
Architecture: Intel
ntopng version/revision: 5.5.220713 and current 5.4.220711
What happened:
NTOP does not send alerts, this has been the case since before August 2021. This was reported to:

Luca, who created ticket 6405
Alfredo
Matteo

What did you expect to happen?
For it to send alerts

How did you reproduce it?
Turn the product on,
Configure

[2022-09-23 07:37] cardigliano commented on #6785
@darrenp2022a, I actually "heard nothing back", please check our mail conversation:

<img width="814" alt="Screen Shot 2022-09-23 at 09 34 30" src="https://user-images.githubusercontent.com/7548711/191912342-6fe32f58-acfd-456b-8f85-e11954af891e.png">

[2022-09-23 07:44] cardigliano commented on #6894
Duplicate of #6785

[2022-09-23 07:44] #6894 closed, assigned to nobody

[2022-09-23 08:35] darrenp2022a commented on #6785
We had a conversation and discussed this, it’s available when you wish, I fully opened it up so you can see it. You saw the issue in action and wanted the logs.

Why are you closing the tickets, you personally saw the issue?

This is unbelievable to be honest… I’m gob smacked at this level of customer service.

I will open another ticket I guess and post to discord…

Regards

_____________________

[2022-09-23 08:41] cardigliano commented on #6785
The issue has been closed for inactivity, you can reopen the same one (without creating a new one) if still active.
I sent instructions to gather debug information on Aug 2nd, and I am still waiting for the logs (you said you were going to run the test and send them last time I heard from you).
I am willing to help solve this issue, but it's hard if you behave like this.

[2022-09-23 14:35] uccidibuti commented on #6890
some examples with new version of d3-sankey / d3: https://codesandbox.io/examples/package/d3-sankey

[2022-09-23 22:42] activescott opened #6895 "Breaking Changes in Docker Hub Release & Release Notes/Changelog: Redis"
Today watchtower pulled the latest version of `ntop/ntopng:latest` and the container won't start anymore and gives the following errors:

<details><summary>Logs</summary>

<pre>
Starting redis-server: redis-server.
23/Sep/2022 07:14:16 [Redis.cpp:93] ERROR: Connection error [Connection refused]
23/Sep/2022 07:14:17 [Redis.cpp:77] Redis has disconnected, reconnecting [remaining attempts: 14]
23/Sep

[2022-09-24 00:10] activescott commented on #6895
Okay I figured this out eventually...

Commands to help figure it out:

Logged into the container like `docker exec -ti my_ntopng_container_name /bin/bash`

Then I ran `tail -n 50 /var/log/redis/redis-server.log` to see the logs showing `Fatal error loading the DB: Permission denied. Exiting.`

Then I found https://stackoverflow.com/a/28686802/51061 and I checked the permissions: `stat /var/lib/re

[2022-09-24 00:10] #6895 closed, assigned to nobody

[2022-09-24 07:34] lucaderi opened #6896 "Filters are lost when moving from Hosts to Flows"
![image](https://user-images.githubusercontent.com/4493366/192086144-8fdd66c0-6001-4826-a691-7b6a31da7883.png)
In this case clicking in Flows to see the host alerts, the filter is removed and this is annoying for problem analysis

[2022-09-25 17:46] lucaderi opened #6897 "Double Data Load when Opening Asset Map"
![Screen Shot 2022-09-25 at 19 44 14](https://user-images.githubusercontent.com/4493366/192157511-4f7857f1-90ac-479a-b571-42f8b5c1219c.png)

When the asset map is loaded (clicking on the left sidebar) the backend is polled twice instead of once as it should be

[2022-09-26 06:48] Amanr77 commented on #6876
I'm still facing the issue even with the latest ntopng-5.4.220922-18510.x86_64

[2022-09-26 08:14] MatteoBiscosi commented on #6861
Verified as fixed

[2022-09-26 08:14] #6861 closed, assigned to MatteoBiscosi

[2022-09-27 02:44] marcusobrien opened #6898 "Bullseye (Pi) Cant resolve host address packages.ntop.org"
**Environment**:
* OS name:  Debian GNU/Linux 11 (bullseye)
* OS version: 11
* Architecture: Pi 4 - ARM
* ntopng version/revision: NONE - CANT INSTALL

**What happened**:
Try to install by following install guide, but wget reports

unable to resolve host address 'packages.ntop.org'

**How did you reproduce it?**
Follow this page instructions

https://packages.ntop.org/

Select Pi download - Raspbe

[2022-09-27 07:18] lucaderi commented on #6749
Already implemented

[2022-09-27 07:18] lucaderi commented on #6749
Already implemented

[2022-09-27 07:18] #6749 closed, assigned to nobody

[2022-09-27 07:25] lucaderi commented on #6592
Implemented

[2022-09-27 07:25] #6592 closed, assigned to JudyyHopps

[2022-09-27 07:27] lucaderi commented on #6269
@cardigliano introduced various fixes that reduced CPU load to a normal value

[2022-09-27 07:27] #6269 closed, assigned to nobody

[2022-09-27 07:30] lucaderi commented on #6192
Already implemented

[2022-09-27 07:30] #6192 closed, assigned to nobody

[2022-09-27 07:37] lucaderi commented on #5718
Implemented on the latest bullseye_pi (rPI)

[2022-09-27 07:37] #5718 closed, assigned to nobody

[2022-09-27 07:54] lucaderi commented on #3009
A possible implementation for this type of issues is to keep a per-(client)host map of URLs contacted and periodically visiting it every minute to check if a there are URL requests that are above a certain threshold. and report the problem.

[2022-09-27 07:55] #4025 closed, assigned to cardigliano

[2022-09-27 08:59] cardigliano commented on #5963
In cento it is possible to load-balance flow export via zmq using a comma-separated lists of endpoints, this can also be used to setup multiple channels towards the same endpoint (configured as collector)

[2022-09-27 08:59] #5963 closed, assigned to cardigliano

[2022-09-27 21:50] lazyandproud commented on #6843
persists on ntopng Enterprise L v.5.5.220919 rev.18494
![image](https://user-images.githubusercontent.com/58183116/192642137-b9f90f64-31cd-4b5b-86d1-0a180b74a160.png)

[2022-09-28 06:54] 61swong opened #6899 "Unable to receive notification for TCP retransmission issue over raw and zmq input"
**Environment**:
* OS name: RHEL/Centos
* OS version: 7.9.2009
* Architecture: x86_64
* ntopng version/revision: v5.5.220921

**What happened**:
I need to alert on TCP retransmission issue over different inputs (e.g. -i eth1, and -i tcp://127.0.0.1:9999) for a circuit or network segment.
I enabled 'TCP Retransm. Issues' under the 'Behavioural Checks'. The check seems to work only for packet interf

[2022-09-28 13:53] lucaderi opened #6900 "L7 protocol not listed"
![image](https://user-images.githubusercontent.com/4493366/192796952-25f4d41c-8664-4ea5-9fe2-405e6d0c1cb3.png)

When a L7 protocol is selected in the top drop-down menu, the bottom table should list such protocol so that it is possible to go under actions and show the related flows

[2022-09-28 13:53] lucaderi opened #6901 "Interface Aliases Not Honoured in Charts"
![image](https://user-images.githubusercontent.com/4493366/192797249-a86b4de5-a173-4196-a7c7-2fc3c051feda.png)

[2022-09-28 15:49] jean-christophe-manciot opened #6902 "Cannot connect as admin with an empty redis database"
## Describe the bug
Ntopng cannot connect to the GUI admin account right after first install.

## Environment
* OS name:Ubuntu
* OS version: 22.04
* Architecture: amd64
* ntopng version/revision: 5.5.220924

**What happened**:
redis (tls)
[code]
ntopng
[code]

Connecting to **127.0.0.1:3001** does not return any data.
[code]
![Screenshot from 2022-09-28 17-35-02](https://user-images.githubusercont

[2022-09-29 06:48] Niklasr69 opened #6903 "Flow Exporters filter is not persistent in flow live page"
**Environment**:
* OS name: Rocky Linux
* OS version: 8.5
* Architecture: x86_64
* ntopng version/revision: 5.5.220829 [Enterprise/Professional build]

**What happened**:

When Flows live page doing automatic refresh after 10-15 second, other exporters is displayed even what has been filtered in the Flow Export column.

**How did you reproduce it?**
Go to Flow live page.
Add an Export filter
Wait

[2022-09-29 07:18] lucaderi opened #6904 "Time selection is not updated after zoom"
![image](https://user-images.githubusercontent.com/4493366/192965303-1d3cb1aa-0f10-4584-bd89-091e8d757faa.png)

The top left menu (last 30 mins) is not updated to "Custom" when zooming

[2022-09-29 15:33] jacoporusso-css opened #6905 "Broken Exclusions on Domains"
**Environment**:
* ntopng version/revision: v.5.4.220915]

**What happened**:
Exclusions about domains, implemented both via UI (starting directly from alert exclusion popup) and via ndpi protos file on ntopng and via ndpi file on nprobe have no effect.

Here's an example:
 We are flooded by "Binary Application Transfer" alerts on windows updates downloads

![ev_01](https://user-images.githubuserc

[2022-09-29 15:58] jacoporusso-css commented on #6905
Additional note, as stated [here](https://github.com/ntop/ntopng/issues/6886) this issue is showing only on numbered VLANs

[2022-09-29 17:14] amin-tayebi commented on #543
@micoots
I have the same problem but with your solution are you sure it is safe? that website is not the main repo website!!!

[2022-09-30 07:02] ValeDaRold opened #6906 "Notifications Recipients link is broken"
**Environment**:
* ntopng version/revision: 5.4.220920-18498

**What happened**:
The Recipients link in the Notifications navbar is broken.
![captures_chrome-capture-2022-8-30](https://user-images.githubusercontent.com/36924916/193209768-a4bef968-71aa-46b8-a5e4-1fc6100a7b37.png)

**How did you reproduce it?**
In ntopNg, switch to `System` and click on `Notifications` in the left bar menu.
If you t

[2022-09-30 10:29] atemix opened #6907 "Flows Dump to Clickhouse is broken in stable"
**Environment**:
CentOS Stream release 8
amd64
ntopng Enterprise L v.5.4.220929

**What happened**:
After upgrading ro 5.4.220929 dumping to clickhouse was broken.
No changes in config (configured --dump-flows="clickhouse;X.X.X.X;yyy;yyy;zzz").
No errors or attempts to connect at all in logs.

**Debug Information**:

30/Sep/2022 12:50:59 [ZMQCollectorInterface.cpp:268] Collecting flows on tcp://12

[2022-09-30 10:35] cardigliano commented on #6907
@atemix we are building new stable packages that should fix this, a new update should be available soon (in 1h)

[2022-09-30 11:51] atemix commented on #6907
After upgrading to 5.4.220930 works fine, thx

[2022-09-30 11:51] #6907 closed, assigned to nobody

[2022-10-02 07:02] martinscheu opened #6908 "Filter for JA3 and community ID"
**What would you like to add or change?**:
Hello ntop team
It would be helpful to have the possibility to search for JA3 hash and community ID in Alerts and Historical flows.
Thanks!

**Why do you and others need this?**:

[2022-10-02 07:21] martinscheu opened #6909 "Include traffic profiles in filters"
**What would you like to add or change?**:
Hello ntop team
It would be nice to have traffic profile as filter in Historical flows and alerts.
Thank you!

**Why do you and others need this?**:

[2022-10-02 09:05] martinscheu opened #6910 "PCAP download from Historical flow"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]
ntopng Enterprise L v.5.5.220927 (Ubuntu 20.04.4 LTS)
**What happened**:
PCAP download on historical flow page seems not working correctly.
I select time span:
<img width="1952" alt="Screenshot 2022-10-02 at 10 21 58" src="https://user-images.githubusercont

[2022-10-03 01:42] joonasak opened #6911 "ntopng can not enable Top Visited Sites in preferences"
**Environment**:
* OS name: Ubuntu
* OS version: 22.04.1 LTS
* Architecture: amd64
* ntopng version/revision: 5.5.220915

**What happened**:
In Settings -> Preferences -> Applications -> Top Visited Sites can not enable this features after click on Save. In the previous version, it's fine. It's happened after I upgraded to this version 5.5.220915.

<img width="1421" alt="image" src="https://user-i

[2022-10-03 01:45] joonasak opened #6912 "ntopng can not enable Traffic Behavior Analysis in preferences"
**Environment**:
* OS name: Ubuntu
* OS version: 22.04.1 LTS
* Architecture: amd64
* ntopng version/revision: 5.5.220915

**What happened**:
In Settings -> Preferences -> Behavior Analysis -> Enable Traffic Behaviour Analysis can not enable this features after click on Save. In the previous version, it's fine. It's happened after I upgraded to this version 5.5.220915.

<img width="1421" alt="image

[2022-10-03 01:49] joonasak opened #6913 "ntopng can not enable Active Network Discovery in preferences"
**Environment**:
* OS name: Ubuntu
* OS version: 22.04.1 LTS
* Architecture: amd64
* ntopng version/revision: 5.5.220915

**What happened**:
In Settings -> Preferences -> Network Discovery -> Active Network Discovery can not enable this features after click on Save. In the previous version, it's fine. It's happened after I upgraded to this version 5.5.220915.

<img width="1421" alt="image" src="ht

[2022-10-03 01:54] joonasak opened #6914 "ntopng can't change the custom name interface"
**Environment**:
* OS name: Ubuntu
* OS version: 22.04.1 LTS
* Architecture: amd64
* ntopng version/revision: 5.5.220915

**What happened**:
On Interface -> Settings -> Custom Name not edit or change after make change and Save.

<img width="1421" alt="image" src="https://user-images.githubusercontent.com/85352105/193488363-49cb1148-1719-4186-9200-c73152624a2b.png">

[2022-10-03 07:18] cardigliano opened #6915 "Telegram notification missing information"
Telegram notification are missing basic information, including the subject of the alert. Example:

[interfacename][error][Suspicious Device Protocol]

(no info on what device protocol and the device ip or name)

[2022-10-03 07:55] lucaderi commented on #6911
I have just tested and it works for me.
![Screen Shot 2022-10-03 at 09 55 14](https://user-images.githubusercontent.com/4493366/193527450-52728343-673a-4bde-9d2f-975382b66175.png)

Can you please explain what isn't working exactly?

[2022-10-03 07:56] lucaderi commented on #6912
You are using an old version: this preference has been removed. Please upgrade

[2022-10-03 07:58] lucaderi commented on #6914
Just tested: it works for me. Can you please explain what you did exactly? My feeling is that you have many similar problems whose root cause might be similar (for instance redis).

[2022-10-03 08:00] cardigliano commented on #6910
@martinscheu please note the flow on port 48772 is UDP, the filter you are using in wireshark is tcp.port

[2022-10-03 08:14] joonasak commented on #6912
Okay let me try to upgrade

[2022-10-03 08:16] joonasak commented on #6914
My problem is when I edit or change the custom name to something like e.g. eno1 - LAN and click Save but it return the refresh page and not save the name that I have changed.

[2022-10-03 08:17] joonasak commented on #6911
My problem is after click enable on that and click Save it return back to disable the same.

[2022-10-03 10:29] #6915 closed, assigned to nobody

[2022-10-03 12:12] grlee opened #6916 "Internal Error when editing mac_details"
**Environment**:
* OS name: Raspbian
* OS version: 10 (buster)
* Architecture: armv7l
* ntopng version/revision: 5.5.220925

**What happened**:

When I click on the mac_details page for a device to update its device type or host pool.

**How did you reproduce it?**

**Debug Information**:

`
● ntopng.service - ntopng high-speed web-based traffic monitoring and analysis tool
   Loaded: loaded (/etc

[2022-10-03 12:37] OCrylic opened #6917 "License management for ntopng pod in Kubernetes"
Hi,

**What would you like to add or change?**:
Add the possibility to use a unique license for a ntopng pod in Kubernetes

**Why do you and others need this?**:
A pod in Kubernetes may change IP address, MAC address or host (worker node) very quickly. Therefore, the license cannot be bound to those.

I did not find any information about this case so I am writing you this issue and maybe you can h

[2022-10-03 13:38] cardigliano commented on #6917
@OCrylic I guess the workaround we use with Docker (please read https://www.ntop.org/support/faq/license-inside-a-container/) does not work for you, as that assumes you can provide visibility on the host network interfaces (using –network=host)

[2022-10-03 13:40] cardigliano commented on #6914
@joonasak please:
1. update ntopng to the latest version
2. reproduce the issue
3. provide the ntopng log just after reproducing it

[2022-10-03 13:40] #6912 closed, assigned to nobody

[2022-10-03 14:15] cardigliano commented on #6906
@ValeDaRold the same is working for me, running ntopng Enterprise L v.5.4.220930, please update to the latest revision and let us know

[2022-10-03 15:21] MatteoBiscosi commented on #6916
Hi @grlee the issue should be fixed, in a couple of hours (at most tomorrow morning) an other build should be available, please update and let me know.

[2022-10-03 15:23] MatteoBiscosi commented on #6913
Hi @joonasak we had this issue a couple of weeks ago, please update to the latest ntopng version and let me know if it still persists :)

[2022-10-03 15:24] MatteoBiscosi commented on #6911
Hi @joonasak just like issue #6913, update to the latest version and let me know :)

[2022-10-03 15:34] MatteoBiscosi commented on #6906
Hi @ValeDaRold an fix should be available in a couple of hours, please update and let me know

[2022-10-03 18:14] martinscheu commented on #6910
:D thanks @cardigliano my bad, sorry about it

[2022-10-03 18:14] #6910 closed, assigned to cardigliano

[2022-10-04 01:19] joonasak commented on #6914
I have updated the ntopng to the latest version and it's worked.

[2022-10-04 01:19] joonasak commented on #6914
Thank you.

[2022-10-04 01:20] joonasak commented on #6911
I have updated the ntopng to the latest version and it's worked. Thank you.

[2022-10-04 01:20] joonasak commented on #6913
I have updated the ntopng to the latest version and it's worked. Thank you.

[2022-10-04 08:10] ValeDaRold commented on #6906
Hi @MatteoBiscosi,
I've just tested the new release and the link has been fixed.

Thanks

[2022-10-04 08:10] #6906 closed, assigned to MatteoBiscosi

[2022-10-05 07:12] lucaderi opened #6918 "Missing score formatting in Networks"
![image](https://user-images.githubusercontent.com/4493366/194001766-8568fcee-d7d3-4224-b48c-4ebed4282691.png)

[2022-10-05 07:18] lucaderi opened #6919 "Add Score/Ratio Column"
In networks/AS reports, we have columns with the number of hosts and score.

![image](https://user-images.githubusercontent.com/4493366/194002361-6f8ea996-04e3-472a-b98f-a4eb82e5b8f0.png)

This ticket is to request to add a new column with Score Ratio computed as score / number of hosts.

[2022-10-05 07:19] lucaderi opened #6920 "Missing formatting in Hosts Page"
![image](https://user-images.githubusercontent.com/4493366/194002934-34910d07-b285-4dba-b490-0e4202a787df.png)

[2022-10-05 07:22] lucaderi opened #6921 "Missing Formatting in Host Pools"
![image](https://user-images.githubusercontent.com/4493366/194003452-f0f9932f-b861-4ac6-90d7-bdd0aa1b9bfc.png)

[2022-10-05 08:00] OCrylic commented on #6917
Hi Alfredo,

Thank you for you tip.
I already saw this workaround. technically it can be done with the option hostNetwork: true in Kubernetes but in my case this is not possible for two reasons:
- It "breaks" the network for this pod/container as it gets the IP address of the worker node and not the IP address of Kubernetes pod dedicated subnet. Plus, Kubernetes does not advice to use this.
- If t

[2022-10-05 15:13] MatteoBiscosi commented on #6803
Hi @61swong ii reworked the whole page, now each category label should be the right one, in a couple of hours a new build should be available. Please update and let me know

[2022-10-06 21:35] martinscheu opened #6922 "Filter for 2nd and lower flow risks not working"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]
ntopng Enterprise L v.5.5.221006 (Ubuntu 22.04.1 LTS) |

**What happened**:
When filtering in the alert list, the filter takes only into account the alert with the highest risk.
E.g. my flow has following issues:

- Clear-text credentials
- App. on Non-Std

[2022-10-07 08:53] MatteoBiscosi commented on #6914
Verified as fixed

[2022-10-07 08:53] #6914 closed, assigned to nobody

[2022-10-07 09:34] MatteoBiscosi commented on #6901
With the latest version, the issue should be fixed
![image](https://user-images.githubusercontent.com/49585191/194522855-c3485aff-f0e3-4c27-9313-e8d18a40959d.png)

[2022-10-07 10:39] MatteoBiscosi commented on #6871
Closing for inactivity, please reopen if needed

[2022-10-07 10:39] #6871 closed, assigned to MatteoBiscosi

[2022-10-07 10:40] MatteoBiscosi commented on #6866
Verified as fixed

[2022-10-07 10:40] #6866 closed, assigned to uccidibuti, MatteoBiscosi

[2022-10-07 10:40] MatteoBiscosi commented on #6864
Verified as fixed

[2022-10-07 10:40] #6864 closed, assigned to uccidibuti, MatteoBiscosi

[2022-10-07 11:05] #6831 closed, assigned to MatteoBiscosi

[2022-10-07 11:05] MatteoBiscosi commented on #6831
Implemented as requested

[2022-10-07 12:33] sbettid opened #6923 "Clickhouse table size not shown when database name is different from "ntopng""
**Environment**:
* OS name: RHEL
* OS version: 8.6
* Architecture: x86_64
* ntopng version/revision: 5.4.220920-18498

**What happened**:

When setting, in the ntopng configuration file, the dump of the flows on clickhouse, using a database with a name different from `ntopng`, the flows are correctly written in the DB but the tables size is not shown in the UI.

**How did you reproduce it?**

1. I

[2022-10-07 14:24] mzac opened #6924 "ntopng segfault when starting"
**Environment**:
* OS name: Ubuntu
* OS version: 20.04.5
* Architecture: amd64
* ntopng version/revision: 5.5.221007 [Enterprise/Professional build]

**What happened**:
When starting ntopng I get a segfault (core dump)

**How did you reproduce it?**
Starting ntopng produces the same error

**Debug Information**:
[code]

From dmesg:
[code]

[2022-10-07 15:28] midoelhawy opened #6925 "Save flow confidence into DB"
**What would you like to add or change?**:
It's possible to save flow confidence as status into CLICKHOUSE DB ?

[2022-10-07 16:51] fahrenhe1t commented on #4978
Here's a working docker-compose.yml on default http port 3000:
[code]

[2022-10-07 17:04] zepingouin opened #6926 "VACUUM no longer in use for ClickHouse DB"
**Environment**:
* OS name: Debian
* OS version: 11
* Architecture: amd64
* ntopng version/revision: 5.4.221006 rev.18605

**What happened**:

Nothing, just looking Health System

**How did you reproduce it?**

No manual action, just running

**Debug Information**:

From log :
`07/Oct/2022 18:00:05 [MySQLDB.cpp:1046] ERROR MySQL error: [Code: 62. DB::Exception: Syntax error: failed at position 1 (

[2022-10-07 21:14] midoelhawy commented on #6917
Hi @cardigliano
I have the same problem with Docker swarm, so I think if we can find another method to validate license into docker containers without "MODE:host" it will be a great helper.

For example, by mounting device file or something like that

[2022-10-10 08:20] MatteoBiscosi commented on #6923
Hi @sbettid a new build should be available in a couple of hours, please later on update and let me know

[2022-10-10 08:36] cardigliano opened #6927 "Range picker is broken"
Changing the time interval selection in the alerts page does not update the chart and datatable.
It seems there is some js failure (see inspector screenshot)

<img width="1352" alt="Screen Shot 2022-10-10 at 10 32 40" src="https://user-images.githubusercontent.com/7548711/194826524-63eb5f09-e3fb-4469-9c04-36a85d182007.png">

[2022-10-10 09:05] cardigliano commented on #6922
This is expected (it never worked as it is not implemented), however I agree that this behavior should be changed to match also the secondary alerts/risks (not just the main one). We will discuss this internally and plan this change.

[2022-10-10 09:22] sbettid commented on #6923
Hi @MatteoBiscosi, we can confirm that the new version fixed the issue, thank you for the prompt response!

[2022-10-10 09:22] #6923 closed, assigned to MatteoBiscosi

[2022-10-10 10:40] AmanBisaria opened #6928 "Need to have an PDF export tab button on the top talker report"
**What would you like to add or change?**:
Create a new page where we can have top talker with top 100 applications, top 100 conversations, top 100 domains, top 100 protocols and top 100 endpoints in a single page for a node interface and we should have the pdf export button to be added in that page.

**Why do you and others need this?**:
For simplification of the report and enhancement of top tal

[2022-10-10 15:56] MatteoBiscosi commented on #6927
Verify as fixed

[2022-10-10 15:56] #6927 closed, assigned to uccidibuti

[2022-10-10 16:27] MatteoBiscosi commented on #6921
Verified as fixed

[2022-10-10 16:27] #6921 closed, assigned to MatteoBiscosi

[2022-10-10 16:27] MatteoBiscosi commented on #6920
Verified as fixed

[2022-10-10 16:27] #6920 closed, assigned to MatteoBiscosi

[2022-10-10 16:27] MatteoBiscosi commented on #6918
Verified as fixed

[2022-10-10 16:27] #6918 closed, assigned to MatteoBiscosi

[2022-10-10 16:28] MatteoBiscosi commented on #6916
Verified as fixed

[2022-10-10 16:28] #6916 closed, assigned to MatteoBiscosi

[2022-10-10 16:28] MatteoBiscosi commented on #6913
Verified as fixed

[2022-10-10 16:28] #6913 closed, assigned to MatteoBiscosi

[2022-10-10 16:28] MatteoBiscosi commented on #6911
Verified as fixed

[2022-10-10 16:28] #6911 closed, assigned to MatteoBiscosi

[2022-10-10 16:29] MatteoBiscosi commented on #6900
Verified as fixed

[2022-10-10 16:29] #6900 closed, assigned to uccidibuti, MatteoBiscosi

[2022-10-10 16:29] MatteoBiscosi commented on #6901
Verified as fixed

[2022-10-10 16:29] #6901 closed, assigned to MatteoBiscosi

[2022-10-10 16:29] MatteoBiscosi commented on #6904
Verified as fixed

[2022-10-10 16:29] #6904 closed, assigned to uccidibuti

[2022-10-10 16:30] MatteoBiscosi commented on #6897
Verified as fixed

[2022-10-10 16:30] #6897 closed, assigned to MatteoBiscosi

[2022-10-10 16:30] MatteoBiscosi commented on #6803
Verified as fixed, please reopen if needed

[2022-10-10 16:30] #6803 closed, assigned to MatteoBiscosi

[2022-10-10 16:32] MatteoBiscosi commented on #6924
Hi @mzac please update to the latest ntopng version and the issue should be fixed

[2022-10-10 16:34] MatteoBiscosi commented on #6925
Hi @midoelhawy what do you mean by flow confidence?

[2022-10-10 16:35] MatteoBiscosi commented on #6926
Hi @zepingouin, please update to the latest version and let  me know if the problem persists

[2022-10-10 17:04] zepingouin commented on #6926
Updated to 5.4.221010 rev.18613

From log :
`10/Oct/2022 19:00:11 [MySQLDB.cpp:1046] ERROR MySQL error: [Code: 62. DB::Exception: Syntax error: failed at position 1 ('VACUUM'): VACUUM. Expected one of: Query, Query with output, EXPLAIN, SELECT query, possibly with UNION, list of union elements, SELECT query, subquery, possibly with UNION, SELECT subquery, SELECT query, WITH, SELECT, SHOW CREATE QU

[2022-10-11 01:00] 61swong commented on #6803
Thanks @MatteoBiscosi. It's working for me. Cheers.

[2022-10-11 06:49] fwjockey opened #6929 "ntopng unable to open Ethernet interface w/pcap with error No such file or directory"
**Environment**:
* OS name: Windows 11 Home
* OS version: 21H2
* Architecture: x64
* ntopng version/revision: 5.5.220926-x64
* redis version: x64-3.0.504
* npcap version: 1.71
*
**What happened**:
ntopng able to work with all interfaces except built-in Ethernet adaptor
ntopng log trace captured error message: Unable to open interface with pcap [2]: No such file or directory

**How did you reproduc

[2022-10-11 08:17] midoelhawy commented on #6880
Grate, thank you.
What about the timestamp problem?
All historical flows has timestamp (from live) has old datetime (for
example 29-07-2022)

Il mer 14 set 2022, 18:43 Alfredo Cardigliano ***@***.***> ha
scritto:

[2022-10-11 12:44] midoelhawy commented on #6925
If the flow is `Guess` or `DPI`
![Screenshot from 2022-10-11 14-43-16](https://user-images.githubusercontent.com/27738027/195093934-d204a9a3-e8fd-487f-877a-5a6b691edf00.png)

[2022-10-11 13:53] oreganmike opened #6930 "Rogue comma in /grafana/network_details_dashboard.json"
![image](https://user-images.githubusercontent.com/88057973/195109889-fb985ca7-d732-4378-bc3e-af068fb79c35.png)

[2022-10-11 14:11] #6930 closed, assigned to nobody

[2022-10-11 14:35] MatteoBiscosi commented on #6566
Verified as fixed, as explained before, the bs5 select is not supported by each browser, for this reason I'm changing them to the select2 component

[2022-10-11 14:35] #6566 closed, assigned to MatteoBiscosi

[2022-10-11 20:18] mzac commented on #6924
Still getting a sgefault ;(

[code]

[2022-10-11 21:47] lucaderi opened #6931 "Add Return Code in Info Column"
In the flow below
![image](https://user-images.githubusercontent.com/4493366/195204130-8fc5e5d3-3625-40d2-a50b-255d4a7431c8.png)

it would be nice to add the record type and error code that is reported in the info column
![Screen Shot 2022-10-11 at 23 45 50](https://user-images.githubusercontent.com/4493366/195204288-19443514-99f5-4921-b642-6d019582cd05.png)

This ticket is to request to add it fo

[2022-10-12 16:58] #6924 closed, assigned to MatteoBiscosi

[2022-10-12 17:37] #6150 closed, assigned to MatteoBiscosi

[2022-10-13 08:17] rusqq opened #6932 "Chosing allowed smtp/dns servers on check behaviours from select lists"
**What would you like to add or change?**:
Currently if we have emails or dns servers on cloud (for example office 365, google, cloudflare etc.) we have to specify ip ranges or urls manually. As you know, the list of the servers could change and we would have to update the the lists repeatedly. My idea is to provide some kind of API or anything that could automate the process. It could look like t

[2022-10-13 08:53] MatteoBiscosi commented on #6919
Implemented as requested

[2022-10-13 08:53] #6919 closed, assigned to MatteoBiscosi

[2022-10-13 08:53] MatteoBiscosi commented on #6931
Implemented as requested

[2022-10-13 08:53] #6931 closed, assigned to MatteoBiscosi

[2022-10-13 08:55] MatteoBiscosi commented on #6868
Verified as fixed
![image](https://user-images.githubusercontent.com/49585191/195551156-042803ad-4e07-4fc2-b801-40220c060545.png)

[2022-10-13 08:55] #6868 closed, assigned to uccidibuti

[2022-10-13 12:47] mzac commented on #6924
Hi @lucaderi thanks for the fix, no more segfault!

[2022-10-14 08:28] MatteoBiscosi commented on #6925
Hi @midoelhawy the flow confidence is already saved
![image](https://user-images.githubusercontent.com/49585191/195800166-6dc5b2fc-9e36-41c1-a74a-bc7be828333c.png)

[2022-10-14 08:28] #6925 closed, assigned to MatteoBiscosi

[2022-10-14 15:22] LennyV95 opened #6933 "ntopng -ndpi-protocols -p /var/lib/ntopng/protos.txt failed to parse lines"
Operating System: CentOS Linux 7 (Core)
CPE OS Name: cpe:/o:centos:centos:7
Kernel: Linux 4.4.182-1.el7.elrepo.x86_64
Architecture: x86-64

ntopng version is 5.1.2.11018
nDPI: 4.1.0

APCON runs nTOP on our virtual desktop linux side for people to try it out. We have a customer who is trying our ntop community package running on our IntellaStore system and client really likes it. He wants to add cu

[2022-10-17 08:21] MatteoBiscosi commented on #6933
Hi @LennyV95 you have to update ntopng to the latest version (5.5 version) otherwise we cannot provide support. Other then that, to run ntopng, you don't have to pass command line options to the systemctl; you have to add these options to the ntopng configuration file.
You can find the configuration file in /etc/ntopng/ntopng.conf
for more info please follow the ntopng guide https://www.ntop.org/g

[2022-10-17 08:21] #6933 closed, assigned to nobody

[2022-10-17 08:36] MatteoBiscosi commented on #6928
Hi @AmanBisaria so you would like to add top conversations, top servers and top domains to the top talker page, am I right?
Currently you can already download the top talkers (even if it's not really beautiful pdf) by clicking the printer icon on the top of the page.
![image](https://user-images.githubusercontent.com/49585191/196130189-6e8d16c8-0619-43a0-a252-d0447882cd48.png)

[2022-10-17 08:39] MatteoBiscosi commented on #6903
Hi @Niklasr69, we fixed this issue last week, please update to the latest ntopng version and everything should work fine

[2022-10-17 08:58] MatteoBiscosi commented on #6878
Hi @martinscheu, most of the connotations you suggested to change are (unfortunately) standards in networking, like blacklists/whitelists, master/slaves so we cannot change them otherwise customers may not understand it's meaning.
For the other connotations instead i'll change them.

[2022-10-17 10:22] cardigliano commented on #6902
@jean-christophe-manciot did you configure the redis password in the ntopng configuration file? could you provide the configuration file?

[2022-10-17 10:54] MatteoBiscosi commented on #6716
Hi @martinscheu I updated all the alerts naming and removed abbreviations, so everything should be consistent

[2022-10-17 10:54] #6716 closed, assigned to MatteoBiscosi

[2022-10-17 13:53] MatteoBiscosi commented on #6878
Implemented as requested

[2022-10-17 13:53] #6878 closed, assigned to MatteoBiscosi

[2022-10-17 14:47] jean-christophe-manciot commented on #6902
@cardigliano
Yes:

/etc/ntopng/ntopng.conf
[code]
Actually, the password is much more complex but this shouldn't have any impact, right?

[2022-10-18 05:18] Niklasr69 commented on #6903
Hi,
Tested and fault solved, can be closed.

[2022-10-18 07:46] #6903 closed, assigned to MatteoBiscosi

[2022-10-18 08:34] cardigliano opened #6934 "Bad custom traffic disaggregation entry"
The software should not allow the creation of empty entries, and it should allow the deletion of empty entries

![unknown](https://user-images.githubusercontent.com/7548711/196379450-40b3b2cf-4f6f-4aba-8e18-040bae334102.png)

[2022-10-18 09:40] jean-christophe-manciot commented on #6902
Same issue with ntopng 5.5.221012

[2022-10-18 10:51] cardigliano commented on #6902
@jean-christophe-manciot could you list all the special characters contained in the password, to try to reproduce this?
Note: I tried to reproduce this with a "strong" password and it's working for me.

[2022-10-18 14:03] midoelhawy commented on #6925
@MatteoBiscosi
Yes, i know that confidence is visible in the UI
but I need to fetch it directly from CLICKHOUSE DB

[2022-10-18 15:14] LennyV95 opened #6935 "ntopng -ndpi-protocols -p /var/lib/ntopng/protos.txt not working"
Operating System: Rocky Linux 8.5
ntopng version is 5.4.221014
nDPI: 4.4.0-3744

I am looking to add custom ports:applications to the list. Documentation states creating the protos.txt aand adding the -ndpi-protocols line when starting will provide an edit option in the GUI. There seems to be an issue running the command to enable custom application list. I created the protos.txt file, stop ntopng

[2022-10-19 09:06] jean-christophe-manciot commented on #6902
@cardigliano
-.}\`~_&#[.\

[2022-10-19 09:08] lucaderi commented on #6935
You need to edit /etc/ntopng/ntopng.conf and add a new line
-p /var/lib/ntopng/protos.txt

Then
sudo systemctl start ntopng

and it should work

[2022-10-19 09:11] lucaderi commented on #6929
Please run ntopng /c -h and see what is the index that corresponds to the ethernet you want to use. Suppose the index is 5, then do ntopng /c -i 5 and it should work

[2022-10-19 13:52] LennyV95 commented on #6935
I made the changes and it is now working.

Thank you for your assistance and have a great day.

________________________________
Leonard Villa
Solutions Engineer
***@***.******@***.***>
(631)786-4632 Direct Cell

Support: ***@***.******@***.***>

[http://utility2012.apcon.com/signature/logo.png]
APCON, Inc.
9255 SW Pioneer Court
Wilsonville, OR 97070
www.apcon.com<http://www.apcon.com/>

From: Luc

[2022-10-19 15:47] MatteoBiscosi commented on #6935
Verified as working

[2022-10-19 15:47] #6935 closed, assigned to nobody

[2022-10-20 08:29] AmanBisaria commented on #6928
Thats fine, but i want all the stuff mentioned in braces to be added on the same page. (top 100 applications, top 100 conversations, top 100 domains, top 100 protocols and top 100 endpoints)

[2022-10-20 08:32] danananda1 opened #6936 "Ntopng no longer starting after 5.5.221020 on PFSENSE 2.6"
**Environment**:
* OS name: pfSense
* OS version: 2.6
* Architecture: amd64
* ntopng version/revision: 5.5.221020

**What happened**:

ld-elf.so.1: Shared object "librdkafka.so.1" not found, required by "ntopng"

/usr/local/etc/rc.d/ntopng: WARNING: failed to start ntopng

However, librdkafka is not available on FreeBSD

**How did you reproduce it?**

upgrade to the latest ntopng available on the

[2022-10-20 08:40] cardigliano commented on #6936
@danananda1 we are currently adding kafka support to ntopng, please try updating to the next build later today

[2022-10-20 11:37] danananda1 commented on #6936
However it may seem that FreeBSD and pfSense does not have kafka, will ntopng integrate support within their packages? Or do we have to add dependencies?

[2022-10-20 11:40] cardigliano commented on #6936
FreeBSD provides a librdkafka package actually, which is not a dependency of ntopng

[2022-10-20 11:57] MatteoBiscosi commented on #6934
Verified as fixed

[2022-10-20 11:57] #6934 closed, assigned to nobody

[2022-10-20 14:07] g3tmypi opened #6937 "ntopng installer packages not available"
**Environment**:
* OS name: Raspbian GNU/Linux 11 (bullseye)
* OS version: [e.g. 18.04]
* Architecture:  ARMv7 Processor rev 4 (v7l)
    Raspberry Pi 3 Model B Rev 1.2

**What happened**:
tried to install ntopng an used instructions from ntop.org:
(did it in the past months few times without issues)

Raspberry Raspbian Instructions
Type the following commands in your shell:

wget https://packages.

[2022-10-20 14:14] cardigliano commented on #6937
The arm64 version of bullseye_pi is supported, it seems you have armhf

[2022-10-20 16:11] g3tmypi commented on #6937
Thanks for that hint. I had a working instance of ntopng months ago on this pi.

[2022-10-20 16:12] g3tmypi commented on #6937
additional question: I need to get back to buster on my pi for getting ntopng installed?

[2022-10-20 16:13] cardigliano commented on #6937
Yes, we support buster for armhf and bullseye for arm64

[2022-10-20 16:34] mzac opened #6938 "AS details flow lists other ASes"
**Environment**:
* OS name: Ubuntu
* OS version: 20.04.5 LTS
* Architecture: amd64
* ntopng version/revision: 5.5.221020

**What happened**:
When listing traffic for a specific AS, it lists traffic for other ASes as well and doesn't seem to be filtered correctly.

**How did you reproduce it?**
Visit the page ie:

https://ntop.local/lua/as_details.lua?asn=14593&page=flows

[2022-10-20 16:40] #6937 closed, assigned to nobody

[2022-10-20 16:41] cardigliano commented on #6936
@danananda1 please check latest package and let us know. Thank you.

[2022-10-20 16:44] cardigliano commented on #6926
@zepingouin we pushed an update the should fix that, please update and let us know.
Btw, what license are you running?

[2022-10-20 16:47] lucaderi opened #6939 "Missing Risk Definition"
20/Oct/2022 18:47:05 [FlowRiskAlerts.cpp:201] [!] nDPI risk 26/Risky ASN has not been defined in ntopng
20/Oct/2022 18:47:05 [FlowRiskAlerts.cpp:201] [!] nDPI risk 27/Risky Domain Name has not been defined in ntopng

[2022-10-21 00:01] danananda1 commented on #6936
Hello @cardigliano,

Still the same issue after upgrading.  "librdkafka.so.1" not found, required by "ntopng"

![image](https://user-images.githubusercontent.com/116262246/197081288-f3a64027-7741-45e0-9166-42cb2fc8db1b.png)

![image](https://user-images.githubusercontent.com/116262246/197081150-fbc86bf1-b4fe-49f6-8010-b1897d232d6f.png)

[2022-10-21 08:02] lucaderi opened #6940 "Improve Host Top Talkers Calculation"
![image](https://user-images.githubusercontent.com/4493366/197144948-778931fe-0394-4ef6-8056-ec756572b904.png)

21/Oct/2022 05:43:56 [LuaEngine.cpp:326] [tcp://127.0.0.1:5563] ERROR Cannot complete top talkers generation in 1 minute. Is there a huge number of hosts in the system?

144k local hosts are way too many to be handled in one minute, and this needs to be improved

[2022-10-21 08:50] MatteoBiscosi commented on #6938
Hi @mzac , could you please a screenshot showing that the filters are not correct? Unfortunatly in our lab everything seems fine.
Note that to be filtered, just one (client or server) need to be part of that ASN, you don't need both.

[2022-10-21 09:45] zepingouin commented on #6926
That's right, last update fixed the issue.
I'm using Community license.

[2022-10-21 10:05] #6926 closed, assigned to nobody

[2022-10-21 13:57] mzac commented on #6938
@MatteoBiscosi Since my screenshots will contain our internal public ip addresses, is there a way I can send you the details in private?  Or could we do a quick zoom session and I can show you?

[2022-10-21 14:31] MatteoBiscosi commented on #6938
Hi @mzac please drop an email at `biscosi at ntop.org` with the screenshot, i will delete it after fixing the issue

[2022-10-22 13:15] lucaderi opened #6941 "Invalid Score Calculation"
![Screen Shot 2022-10-22 at 15 13 52](https://user-images.githubusercontent.com/4493366/197341012-2fc3738d-6fbe-4926-83c3-98581db3cbf3.png)

Score 20 != 270 (150 + 100 + 10 + 10)

[bug.pcap.zip](https://github.com/ntop/ntopng/files/9844438/bug.pcap.zip)

[2022-10-22 21:56] midoelhawy commented on #6917
Hi @cardigliano
any news about this issue?

[2022-10-24 07:20] lucaderi opened #6942 "Invalid ClickHouse Alerts Calculation"
![Screen Shot 2022-10-24 at 09 17 52](https://user-images.githubusercontent.com/4493366/197469289-6a80cb08-1620-441a-9b2c-0918be12fd03.png)

While the flow stats are correct, alert starts are definitively wrong and need to be fixed.

[2022-10-24 07:24] lucaderi opened #6943 "Invalid Alert Score Handling"
![image](https://user-images.githubusercontent.com/4493366/197469693-fbaa3b9b-5bb7-4944-8588-448a04875e79.png)

After the recent severity changes, alerts are broken
1. values are hard to read when written in light green
2. errors produce low score due to a bug in the calculation. Example this alert has a score of 40 instead of 100+100+100+50+100+10+50
![Screen Shot 2022-10-24 at 09 22 39](https://

[2022-10-24 07:59] cardigliano commented on #6917
@midoelhawy this is in our todo list, it will be added to the roadmap asap

[2022-10-24 08:05] midoelhawy commented on #6917
Great, thank you

[2022-10-25 08:37] MatteoBiscosi commented on #6941
Verified as fixed

[2022-10-25 08:37] #6941 closed, assigned to MatteoBiscosi

[2022-10-25 08:37] MatteoBiscosi commented on #6943
Verified as fixed

[2022-10-25 08:37] #6943 closed, assigned to cardigliano, MatteoBiscosi

[2022-10-25 09:58] MatteoBiscosi commented on #6939
Verified as fixed

[2022-10-25 09:58] #6939 closed, assigned to MatteoBiscosi

[2022-10-25 10:08] atemix opened #6944 "Infrastructure Monitoring broken"
OS name: CentOS Stream release 8
Architecture: amd64
* ntopng version/revision: ntopng Enterprise L v.5.4.221021

**What happened**:
Infrastrucrure Monitoring configuration actions doesn't working. Neither during configuration, nor after. Nothing happend on Edit click.
Wrong status shown.

![image](https://user-images.githubusercontent.com/67421019/197746049-ac3a748e-a33b-4d0a-8eba-a042a17833a0.pn

[2022-10-25 16:20] lucaderi opened #6945 "Support ClickHouse Cluster"
Currently, ntopng is working only with a stand-alone ClickHouse database server. This ticket is to request ntopng to support a c ClickHouse cluster

[2022-10-26 07:01] martinscheu opened #6946 "nTap monitoring integration"
**What would you like to add or change?**:
Du to its functionality, ntap can be used behind a network diode, which only allows only uni directional communication. Therefore active monitoring is not possible.

It would be helpful, if the ntap_remote could periodically send a ICMP to the ntap_collector IP.

To integrate ntap_remote in the Active Monitoring, it would be helpful to have the possibilit

[2022-10-26 07:45] MatteoBiscosi commented on #6944
Hi @atemix the issue should be fixed with the latest version, thx for the report

[2022-10-26 08:20] cardigliano opened #6947 "Unable to stop continuous recording"
Disabling continuous recording and saving it seems to have no effect,
reloading the page it is back to enabled.

<img width="1554" alt="Screen Shot 2022-10-26 at 10 19 19" src="https://user-images.githubusercontent.com/7548711/197973062-e8a11300-43ef-41bc-ad03-d2f1a95b3565.png">

[2022-10-26 08:27] cardigliano opened #6948 "Alerts are disabled but ntopng is still triggering alerts"
*Host* (engaged) alerts are still being generated after disabling alerts and restarting ntopng

<img width="1638" alt="Screen Shot 2022-10-26 at 10 21 14" src="https://user-images.githubusercontent.com/7548711/197974569-21cf66dd-7ca8-474c-9735-3d2214e4815c.png">

[2022-10-26 15:13] MatteoBiscosi commented on #6942
Verified as fixed with the latest version

[2022-10-26 15:13] #6942 closed, assigned to MatteoBiscosi

[2022-10-26 15:13] MatteoBiscosi commented on #6944
Verified as fixed. Please reopen if needed

[2022-10-26 15:13] #6944 closed, assigned to MatteoBiscosi

[2022-10-27 10:27] atemix opened #6949 "Traffic recording stopping in Enterprise L"
OS name: CentOS Stream release 8
Architecture: amd64
ntopng version/revision: ntopng Enterprise L v.5.4.221026

What happened:

In Traffic Recording Settings:
Continuous traffic recording requires a n2disk license, purchase one at [e-shop](http://shop.ntop.org/). If you are no-profit, research or an education institution please read [this](http://www.ntop.org/support/faq/do-you-charge-universities

[2022-10-27 10:31] atemix opened #6950 "Flow Export "WARNING JSON type not supported""
OS name: CentOS Stream release 8
Architecture: amd64
ntopng version/revision: ntopng Enterprise L v.5.4.221026

What happened:

After confuguring flows export between ntopng instances, errors in central ntopng:
27/Oct/2022 13:28:46 [ZMQParserInterface.cpp:1572] WARNING JSON type 1 not supported [key: 57992]
27/Oct/2022 13:28:46 [ZMQParserInterface.cpp:1572] WARNING JSON type 1 not supported [key:

[2022-10-27 10:36] cardigliano commented on #6949
Please provide the output of n2disk1g --version

[2022-10-27 10:37] atemix opened #6951 "Infrastructure monitoring via https"
OS name: CentOS Stream release 8
Architecture: amd64
ntopng version/revision: ntopng Enterprise L v.5.4.221026

What happened:
After #6944 configuring works fine.
But monitoring doens't work via https (http is ok).
Even check status during https configuration is ok.
Servers certificates from corporate CA, root CA added to servers trusted store.

![image](https://user-images.githubusercontent.com/6

[2022-10-27 10:41] atemix commented on #6949
n2disk1g --version
27/Oct/2022 13:37:52 [n2disk.c:6112] WARNING: Invalid license found for LE######086A8F--UE######0D499E--OL
27/Oct/2022 13:37:52 [n2disk.c:6113] WARNING: Please check /etc/n2disk*.license file [License mismatch (check systemId or product version)]
n2disk1g v.3.6.221026 (r5273)
Copyright 2009-2019 ntop.org
SystemID:      LE######086A8F--UE######0D499E--OL
License:       Invalid li

[2022-10-27 11:03] cardigliano commented on #6949
How are you running n2disk? Please provide the command line and configuration

[2022-10-27 11:12] atemix commented on #6949
Configured from ntopng interface.

![image](https://user-images.githubusercontent.com/67421019/198269412-debe9f1b-abc8-42c3-a82c-02316543b2ef.png)

Automatically generated n2disk config:
--interface=ens192,ens224
--dump-directory=/home/n2disk-datadir/7/pcap
--index
--timeline-dir=/home/n2disk-datadir/7/timeline
--buffer-len=4096
--max-file-len=1024
--max-file-duration=60
--disk-limit=14680064
--sn

[2022-10-27 11:44] atemix commented on #6949
We didn't change anything in ntopng or n2disk configuration for a long time
n2disk stopped after upgrade to the latest stable 5.4.221026

[2022-10-27 13:09] cardigliano commented on #6949
@atemix please drop an email to cardigliano at ntop.org with your orderid

[2022-10-27 13:27] cardigliano commented on #6949
@atemix it seems you have an ntopng Enterprise L license, you need the Enterprise L *Bundle* to also unlock n2disk1g

[2022-10-27 13:46] cardigliano commented on #6947
This seems to be working now, I will reopen in case

[2022-10-27 13:46] #6947 closed, assigned to nobody

[2022-10-27 14:56] jacoporusso-css opened #6952 "Binary Application Transfer vs Windows Updates"
**Environment**:
* ntopng version/revision: 5.4.221019

**What happened**:
Windows updates constantly triggers Binary Application Transfer checks, making monitoring and investigation overwhelming. Since it cannot be excluded by conventional means (IP address related to updates are always changing - https://learn.microsoft.com/en-us/answers/questions/457840/what-are-the-ip-ranges-for-microsofty-win

[2022-10-27 16:00] atemix commented on #6949
"ntopng Enterprise L already unlocks n2disk 1G, thus no additional license is required in that case" - that's wrong?

[2022-10-27 16:10] cardigliano commented on #6949
Where did you read that exactly? It seems there is a mistake somewhere in the manual

[2022-10-27 16:12] atemix commented on #6949
It's from ntopng settings.

![image](https://user-images.githubusercontent.com/67421019/198343005-48dbeaac-172c-4d74-8ea1-60bebd36c373.png)

[2022-10-27 16:15] cardigliano commented on #6949
There was a mistake in the description, I fixed that. Enterprise L *Bundle* unlocks n2disk. Curious that it was working before the upgrade..

[2022-10-27 22:34] midoelhawy commented on #6925
Hi @MatteoBiscosi
Any news ?

[2022-10-28 04:35] atemix commented on #6949
Previously it was Bundle license... @cardigliano thx for help

[2022-10-28 05:49] atemix commented on #6949
By the way, in ntopng license generator missed comment for bundle too

![image](https://user-images.githubusercontent.com/67421019/198512549-0b858d1d-85fe-4078-afb5-1d09f7c5a6f4.png)

[2022-10-28 08:02] MatteoBiscosi commented on #6646
Possibly fixed with the last commit

[2022-10-28 11:06] lucaderi commented on #6936
@danananda1 Can you please update ntopng and report?

[2022-10-28 12:59] lucaderi opened #6953 "Support IPv6 addresses in ZMQ"
Supported ZMQ addresses (in both ntopng and nProbe) are IPv4-only. This ticket is to request IPv6 support. Example  tcp://[2001:470:b3cf:11:9c0b:2f69:c2a9:b639]:6382

Depends on  https://github.com/ntop/nProbe/issues/548

[2022-10-28 13:03] cardigliano commented on #6949
Closing this as this was due to the license. The descriptions have been fixed. Discussing this in a separate thread.

[2022-10-28 13:03] #6949 closed, assigned to nobody

[2022-10-28 15:59] cardigliano commented on #6948
Fixed

[2022-10-28 15:59] #6948 closed, assigned to nobody

[2022-10-29 09:21] lucaderi opened #6954 "Maps layout"
Since physics has been removed maps the layout is now unusable, and auto layout does not help as you can see

![Screen Shot 2022-10-29 at 11 18 49](https://user-images.githubusercontent.com/4493366/198823790-da8422c8-0051-427b-aec8-87c6d4e17d36.png)

Can you please check if you can do something including
- restore physics for a little time in order to have a better layout
- leave as is but improve

[2022-10-31 11:35] thomasbruchet opened #6955 "Loose configuration after reboot."
**Environment**:
* OS name: Debian
* OS version: 10
* ntopng version/revision: ntopng Enterprise M v.5.3.220401

**What happened**:
When I reboot my system, all the change made on "Custom Traffic Disaggregation" (at least) are lost and backed up to previous configuration.
I can modify configuration, stop the ntopng.service and restart I did'nt lost anything, all configuration are OK change made ar

[2022-10-31 11:59] MatteoBiscosi commented on #6955
Hi @thomasbruchet unfortunatly we do not provide support for older ntopng versions. Please update to the latest ntopng version (5.5 or 5.4) otherwise i cannot help you

[2022-10-31 12:00] MatteoBiscosi commented on #6955
The configurations are stored in Redis and everything should be saved correctly after rebooting

[2022-10-31 13:15] thomasbruchet commented on #6955
OK, I will try to have a look on redis, thank for the information.

[2022-10-31 13:24] thomasbruchet opened #6956 "Licence and pfring issue after upgrade."
Hi.

I've upgrade to 5.4.221027-18722 and have issues.
- PF_RING version mismatch
- Licence expiration

The licence was purchase by my manager so I don't have the information but do you know why it expired just after the upgrade ?
This morning the licence was still available.

For PFRING, I already installed the 8.2, can you hep me on the issue logged in ntopng ?

[code]

[code]

[2022-10-31 14:02] cardigliano commented on #6956
@thomasbruchet please note that licenses include 1 year maintenance (i.e. updates), if you update after 1 year from the license date, it expires.
Please read https://www.ntop.org/support/faq/are-licenses-permanent-what-about-maintenance/

[2022-10-31 15:56] thomasbruchet commented on #6955
I'd requested help of an sysadmin and he found that redis conf was commented for snapshotting:
Those lines was commented in /etc/redis/redis.conf, so he uncommented them and now I can reboot without loose anything
[code]

He talked about persistence but not remember what he changed. I will ask him on wednesday.

[2022-10-31 15:57] thomasbruchet commented on #6956
Thank you, maybe that's why when I ask for a simple apt upgrade, the version has not being installed.  I force with an apt install ntopng.
I will ask to my manager to buy a new licence for this year.

Is PFRING is linked to this issue or is it something else ?

[2022-10-31 16:03] cardigliano commented on #6956
The same applies to the applications and PF_RING ZC interfaces

[2022-10-31 16:07] thomasbruchet commented on #6956
Thank you.
I will inform my manager about that.

[2022-10-31 16:07] #6956 closed, assigned to nobody

[2022-10-31 16:09] MatteoBiscosi commented on #6955
Alright, thanks @thomasbruchet , please let me know out of curiosity, it was a redis configuration then.

[2022-10-31 16:09] #6955 closed, assigned to nobody

[2022-11-01 05:42] 61swong opened #6957 "updating 'custom traffic disaggregation' ends up with a new rule"
**Environment**:
* OS name: RHEL
* OS version: 7.9
* Architecture: x86_64
* ntopng version/revision: 5.4.221021

**What happened**:
After I edited an existing 'custom traffic disaggregation' rule, the system saved it as a new rule.

**How did you reproduce it?**
Anytime when I edit an existing rule and save.

**Debug Information**:
I edited 'xxxxxx' rule, appended '_test' to the rule name and save

[2022-11-01 18:31] netravnen opened #6958 "Unable to delete local ntopng user with username equal to an email address"
**Environment**:
* OS name: Ubuntu
* OS version: 22.04 LTS
* Architecture: AMD64
* ntopng version/revision: v.5.4.220721

**What happened**:

Unable to delete local ntopng user account if username is user@example.com

**How did you reproduce it?**

1. Go to path `{{ FQDN }}/lua/admin/users.lua`
2. Add user with password, full name, and username as `user@example.com`
3. Set role to `Administrator`

[2022-11-01 18:32] netravnen commented on #6958
![image](https://user-images.githubusercontent.com/1938389/199310978-8738833d-041f-496e-8b4c-108d8d19363c.png)

Fails to delete :(

[2022-11-01 21:38] grlee opened #6959 "Disabling Alerts not working"
NTOP bug

**Environment**:
* OS name: Raspbian
* OS version: 10 (buster)
* Architecture: armv7l
* ntopng version/revision: 5.5.221025

**What happened**:

When I look over alerts on the “alert_stats” page and want to disable certain ones (like “Suspicious DNS Traffic” to a specific DNS server), I find that none of the alerts I select to disable are disabled, nor any alerts deleted if I choose that

[2022-11-02 15:11] danananda1 commented on #6936
Will update tomorrow, ntop packages server has been excruciatingly slow recently. My download speed to packages.ntop.org has been averaging 16 kb/s. Will continue to retry.

[2022-11-02 15:18] cardigliano commented on #6936
@danananda1 please try using a different connection, it seems to be fairly fast for me

[2022-11-02 15:31] cardigliano commented on #6959
@grlee this seems to be working for me, please check:
1. if ntopng created new entries under Settings -> Behavioural Check Exclusions  for the alerts you tried to delete
2. if your browser logs failures or there is some failing request in your browser inspector when you click on the Exclude button

[2022-11-02 15:44] cardigliano opened #6960 "Restore Add button in Check Exclusions"
The Check Exclusions page used to have the option to create entries. Please restore the button.

<img width="1263" alt="Screen Shot 2022-11-02 at 16 43 19" src="https://user-images.githubusercontent.com/7548711/199534897-66266642-c288-4969-8dd1-8df455f863dc.png">

[2022-11-02 15:46] grlee commented on #6959
There's a Settings -> "Behavioural Check" menu option, but no "Behavioural Check Exclusions" menu option.
<img width="1025" alt="Screenshot 2022-11-02 at 11 45 23 AM" src="https://user-images.githubusercontent.com/1092908/199535498-77e7679f-f973-44c6-b4e7-11e698d055f3.png">

[2022-11-02 15:56] barnabasbusa commented on #5449
@tiny6996 may I ask if you have managed to get it working with authentication, or without it?
I seem to be getting the following error messages on my pfsense -> ntopng (influx) -> victoriametrics:

/var/db/ntopng/ntopng.log
[code]

Currently using ntopng Community v.5.0.220112 (FreeBSD 12.3)

Current config:
[code]

[2022-11-02 23:55] danananda1 commented on #6936
Issue fixed after successfully updating ntopng to 5.5.221102

[2022-11-02 23:55] #6936 closed, assigned to nobody

[2022-11-03 02:45] danananda1 opened #6961 "Ntopng service does not respond when service restart command is given - pfSense"
**Environment**:
* OS name: pfSense
* OS version: 2.6
* Architecture: amd64
* ntopng version/revision: 5.1.221102

**What happened**:

Trying to restart the ntopng service in pfsense using the ssh command "service ntopng restart" results in a hang whereby the computer waits for the PID. Nothing happens until you do a Control+C command in the terminal.

Running the command again afterwards will suc

[2022-11-03 07:05] joonasak opened #6962 "Host Traffic Analysis not working still loading"
**Environment**:
* OS name: Ubuntu
* OS version: 22.04
* Architecture: amd64
* ntopng version/revision: 5.5.221103

**What happened**:
I tried to open the new features of Host Traffic Analysis but it's still keep loading not show anything.

**How did you reproduce it?**
It should be show like you have published on your website.

<img width="1376" alt="image" src="https://user-images.githubusercont

[2022-11-03 07:06] lucaderi opened #6963 "Hide Top Applications Table"
The table with top applications should be hidden when L7 timeseries are not enabled for local hosts.

<img width="970" alt="image" src="https://user-images.githubusercontent.com/4493366/199663801-03f8d0e1-602f-4926-b932-621635aac86c.png">

[2022-11-03 07:20] joonasak commented on #6962
### Traffic Tab Also have problem

<img width="1376" alt="image" src="https://user-images.githubusercontent.com/85352105/199665758-17a178a9-65db-4455-a89a-8215a83cb054.png">

[2022-11-03 10:21] cardigliano commented on #6959
@grlee what license model are you running?

[2022-11-03 10:26] MatteoBiscosi commented on #6962
Hi @joonasak could you please right click the page and send me the output of the console?
I tried to reproduce your case but everything seems working fine for both local and remote hosts.
![image](https://user-images.githubusercontent.com/49585191/199697490-794ee998-8522-4875-99e8-f23e281826e4.png)

[2022-11-03 10:28] MatteoBiscosi commented on #6962
Other then that, could you please check if maybe there is some error in the `journalctl -e -u ntopng` after loading the page?

[2022-11-03 11:32] cardigliano commented on #6957
I am not able to reproduce this with the latest stable (5.4.221102), could you please update and check again?

[2022-11-03 11:57] grlee commented on #6959
ntopng Professional

[2022-11-03 16:03] tomwimmenhove commented on #1661
~@emanuele-f In the latest ntopng, there seems to be no "host pools timeseries" in the "Timeseries" tab under preferences.~
Never mind. It's no longer available, except with a 'professional' licence.

[2022-11-03 16:45] rmorandell-pgum opened #6964 "Filter for portname in ts_query"
Hi,

We have the requirement to search in the timeseries not only on a port index of a switch (exporter) but also by port name (interface name).

Example of a actual request via port-index:

http://devele:3000/lua/rest/v2/get/timeseries/ts.lua?ts_query=port:0,device:192.168.2.134,ifid:3&epoch_end=1667468100&ts_schema=flowdev_port:traffic&ts_compare=30m&zoom=30m&epoch_begin=1667466300&initial_point

[2022-11-04 04:45] 61swong commented on #6957
Hi @cardigliano , I upgraded my ntopng instance to v5.4.221103 and updated the name for one of existing rules "wap_nl" to "wan_nl" and it still created a new entry "wan_nl".
![image](https://user-images.githubusercontent.com/50309519/199888526-21d80ad6-d253-4312-904f-5d962a2b69a4.png)
On another ntopng instance, I ran the upgrade and got it up to the same version, the same change also caused the s

[2022-11-04 10:31] jacoporusso-css opened #6965 "Problem in service map visualization"
**Environment**:
* ntopng version/revision: 5.4.221102

**What happened**:
Connections visible in the global service map ("all network" option selected) are not visible anymore when I select the specific network.
Example:

![immagine](https://user-images.githubusercontent.com/108343272/199951157-c3447b1b-dc25-409e-9685-be4d12d0be93.png)

Both of these hosts belong to the network 10.127.70.0/24.
An

[2022-11-04 10:38] jacoporusso-css opened #6966 "Can't access pcap analysis feature"
**Environment**:
* OS name: Centos
* OS version: 7 (CentOS Linux release 7.9.2009 (Core))
* Architecture: x86
* ntopng version/revision: v.5.4.221102

**What happened**:
I'm trying to access the feature mentioned [here](https://www.ntop.org/ntopng/howto-use-ntopng-for-pcap-analysis/) and [here](https://www.ntop.org/guides/ntopng/web_gui/pcap_analysis.html) to analyze traffic using pcap files. Anyw

[2022-11-04 10:53] cardigliano commented on #6966
This is available on dev branch only until we release a new stable

[2022-11-04 10:53] #6966 closed, assigned to nobody

[2022-11-04 12:21] tiny-pangolin commented on #5449
I did not have auth enabled when I tested this I think the issue is that you are specifying the whole url and just http://victoriametrics.mydomain

[2022-11-04 13:00] barnabasbusa commented on #5449
When I replace the InfluxDB url with: `https://victoriametrics.mydomain` then I get the same error message as you used to get: ```ERROR: Incompatible InfluxDB version: required "1.5.1", found "nil". Please install an updated version from the <a href='https://portal.influxdata.com/downloads'>official site</a>.``` I thought this was patched in v1.73.1

I still see this error message in `victoriametr

[2022-11-07 09:33] MatteoBiscosi commented on #6965
Hi @jacoporusso-css could you please send me the map_handler request?
Because as you can see i tried to reproduce the error and everything works as expected, please send me the request and i'll try to investigate
![image](https://user-images.githubusercontent.com/49585191/200276004-f0008500-693c-47ad-bbca-6ed17c82c79d.png)

[2022-11-07 09:34] MatteoBiscosi commented on #6960
Verified as fixed

[2022-11-07 09:34] #6960 closed, assigned to nobody

[2022-11-07 10:55] MatteoBiscosi commented on #6957
Hi @61swong the issue should now be fixed, please updated in 3h and let me know

[2022-11-07 12:11] MatteoBiscosi commented on #6951
Hi @atemix to be able to poll from a remote ntopng using https, you need a correct set up for an SSL tunnel. You can find a blog post here describing how to do that https://www.ntop.org/ntopng/securing-ntopng-with-ssl-and-lets-encrypt/
To be sure that the SSL tunnel is working correctly, you can check it by clicking the `Check` button on the left
![image](https://user-images.githubusercontent.com/

[2022-11-07 12:11] #6951 closed, assigned to MatteoBiscosi

[2022-11-07 12:13] MatteoBiscosi commented on #6950
Hi @atemix please send me your ntopng.conf and nprobe.conf files directly to me `biscosi at ntop.org`

[2022-11-07 12:29] atemix commented on #6951
Configured correctly, check is OK.
Remote ntopng instance (ntopng-dc) is available to central.

![1](https://user-images.githubusercontent.com/67421019/200310502-df063feb-3c00-497c-895f-44e38087f9a8.jpg)
![2](https://user-images.githubusercontent.com/67421019/200310510-b099fd1f-b495-42f4-8265-3727c68b8b11.jpg)
![3](https://user-images.githubusercontent.com/67421019/200310526-2be57968-8470-4e5e-a4d

[2022-11-07 12:33] atemix commented on #6950
Hi @MatteoBiscosi, problem between ntopng instances, not between ntopng and nprobe.
Send conf directly.

[2022-11-07 13:19] atemix opened #6967 "Infrastructure monitoring via https"
#6951

Configured correctly, check is OK.
Remote ntopng instance (ntopng-dc) is available to central.

![1](https://user-images.githubusercontent.com/67421019/200320421-e6363101-c571-46b0-b9a1-2f4678841368.jpg)
![2](https://user-images.githubusercontent.com/67421019/200320426-88b60e2a-965e-434d-8a50-72d50da0e704.jpg)
![3](https://user-images.githubusercontent.com/67421019/200320428-e0e93c50-7505-4

[2022-11-07 14:03] Niklasr69 opened #6968 "information how many exporters per observation point"
A new column in page "Flow Exp.=>Observation Points" with number of Exporters per Observation Points

When using more than one Observation Points, it is difficult to know how many every one has.

![image](https://user-images.githubusercontent.com/26242302/200329155-cfec58fe-b75a-4d4b-8764-a63cfd0e7971.png)

[2022-11-07 14:16] jacoporusso-css commented on #6965
Hello Matteo,
 thank you for checking on the issue. I did some further test and I noticed it's not a matter of visualization, since it's affecting table view as well (no result when filtering on the specific network).
  As requested here's the map_handler GET request

http://<NTOPNG_URL>:3001/lua/pro/enterprise/map_handler.lua?unicast_only=false&network=7&map=service_map&page=graph&ifid=0&action=l

[2022-11-08 00:47] PaoGRodrigues opened #6969 "[Documentation] Info about alerts by api rest"
Hi!

I am trying to make a report based on alerts. I need to get all alerts related with a specific host via rest api, but there are some parameters in documentation that are missed.

I tried the enpoints in the docs but they're not clear.

Ej.
My request:
curl -u ****:**** -H "Content-Type: application/json" 'http://ip:port/lua/rest/v2/get/host/alert/list.lua?ifid=2&epoch_begin=1667260800&epoch_e

[2022-11-08 01:09] Purple-Toupee commented on #6929
I have this exact problem. My interface list:
[code]

Trying to use interface 8:
[code]

[2022-11-08 10:47] MatteoBiscosi commented on #6962
Verified as fixed, please reopen the issue if needed

[2022-11-08 10:47] #6962 closed, assigned to MatteoBiscosi

[2022-11-08 10:47] MatteoBiscosi commented on #6958
Verified as fixed, please reopen the issue if needed

[2022-11-08 10:47] #6958 closed, assigned to MatteoBiscosi

[2022-11-08 10:47] MatteoBiscosi commented on #6957
Verified as fixed, please reopen the issue if needed

[2022-11-08 10:47] #6957 closed, assigned to MatteoBiscosi

[2022-11-08 10:48] MatteoBiscosi commented on #6954
Verified as fixed, please reopen the issue if needed

[2022-11-08 10:48] #6954 closed, assigned to uccidibuti, MatteoBiscosi

[2022-11-08 11:13] cardigliano opened #6970 "Operating System page broken on refresh"
Open the Operating System and wait for a few seconds, the table columns are re-rendered in a different way as you can see looking at the table headers vs content (e.g. the chart button disappears).

[2022-11-08 22:52] 61swong commented on #6957
Thanks. I confirmed it's fixed.

[2022-11-08 23:01] 61swong opened #6971 "new ifid is generated for the 'sub-interface' whose cusotm traffic disaggregation filter was edited successfully"
**Environment**:
* OS name: RHEL
* OS version: 7.9
* Architecture: x86_64
* ntopng version/revision: 5.4.221107

**What happened**:
I have Grafana dashboards for all the sub-interfaces.
After I successfully edited the custom traffic disaggregation filter for a sub-interface, the system generated a new ifid '4' when it was '5'.
I don't see any impacts yet on the ntopng web GUI but it broke my Grafa

[2022-11-09 08:29] cardigliano commented on #6971
@61swong did you change the filter only or also renamed the interface?

[2022-11-09 13:08] cardigliano commented on #6891
Implemented

[2022-11-09 13:08] #6891 closed, assigned to MatteoBiscosi

[2022-11-09 13:10] cardigliano opened #6972 "nedge: bad netplan configuration with VLAN in LAN interfaces"
nEdge generates a bad netplan.yaml when VLAN are used as LAN interfaces, it creates a (unexpected) VLAN configuration under the ethernet section, in addition to the (correct) configuration under vlans.

[2022-11-09 13:13] cardigliano opened #6973 "nedge: add DHCP server configuration for multiple LAN interfaces"
Currently nEdge allows the creation of multiple LAN interfaces (physical or VLAN), however the DHCP server can be enabled on the first one. It is requested to:
1. add a DPCH server configuration for each LAN interface
2. add all the LAN interfaces with DHCP enabled to /etc/default/dhcpd.conf
3. add a configuration section for all the LAN interfaces with DHCP enabled in the isc-dhcp-server configur

[2022-11-09 14:38] netravnen opened #6974 "Unable to access as details graph -- bad argument #2 to 'format' (number expected, got nil)"
**Environment**:
* OS name: Ubuntu
* OS version: 22.04.1
* Architecture: amd64
* ntopng version/revision: ntopng Professional v.5.5.221109

**What happened**:

1. Trying to access the graph at `http://{{ FQDN }}:3000/lua/as_details.lua?asn=44446&page=historical` by clicking the graph icon from:
   - the AS Report at `http://{{ FQDN }}:3000/lua/as_stats.lua` and
   - traffic report at `http://{{ FQ

[2022-11-09 21:43] 61swong commented on #6971
@cardigliano I just renamed the interface.

[2022-11-10 08:20] cardigliano commented on #6971
@61swong the interface ID is tied to the interface name, as workaround I suggest to rename the interface to the previous name

[2022-11-10 10:51] danananda1 opened #6975 "ntop crashes after eating up all the ram and swap space - pfSense"
**Environment**:
* OS name: pfSense
* OS version: 2.6
* Architecture: amd64
* ntopng version/revision: [e.g. 5.1.211223]

**What happened**:

NTOPNG eats up all the ram of pfsense. I'm running a 8GB i7 3rd Gen running only pfSense. Upon starting ntopng consumes a lot of memory.

**How did you reproduce it?**

Run ntopng on pfsense and wait several hours and see the ram usage rise. Sometimes it tak

[2022-11-10 11:00] cardigliano commented on #6975
@danananda1 what ntopng version are you running?
Do you see that the memory usage is constantly increasing from the startup until it goes out of memory?

[2022-11-10 14:45] cardigliano opened #6976 "MAC address based traffic direction does not work on 5.4 stable"
Configuration details:
1. Configured custom traffic disaggregation filter (net 10.x.0.0/16 and 192.168.x.0/30 and net 239.0.0.0/8) for the sub-interfaces
2. On the main interface, the MAC address of the remote WAN devices is used for the traffic direction.

The MAC address based traffic direction works on the dev release v5.5.221013 but not on the stable release v5.4.221103.

[2022-11-10 15:24] cardigliano commented on #6959
@grlee please note Check Exclusions are available with Enterprise M/L/XL, the "Exclude Check" action/dialog was shown by mistake, but it actually does not work on your version as you see. I fixed it.

[2022-11-10 15:24] #6959 closed, assigned to nobody

[2022-11-10 15:45] grlee commented on #6959
Thanks

[2022-11-10 15:57] cardigliano opened #6977 "Bad name/description for tcp_issues_generic check"
<img width="1529" alt="Screen Shot 2022-11-10 at 16 56 53" src="https://user-images.githubusercontent.com/7548711/201143517-dab0d905-75d6-447a-b9cf-f773e262a066.png">

[2022-11-11 00:00] 61swong commented on #6971
Thanks for your suggestion. I will keep it as it is with ifid=4 because the name rollback would not get my data back from ifid=4 to ifid=5 in the InfluxDB.

[2022-11-11 11:09] cardigliano commented on #6970
<img width="1375" alt="Screen Shot 2022-11-11 at 12 09 15" src="https://user-images.githubusercontent.com/7548711/201328196-0933a129-802c-4a24-b453-9464ba07c364.png">

[2022-11-11 11:51] MatteoBiscosi commented on #6969
Hi @PaoGRodrigues to return the number and type of an host alert you have to run this rest
`curl -s -v -u admin:admin "http://localhost:3000/lua/rest/v2/get/all/alert/list.lua?ifid=1&epoch_begin=1636631115&epoch_end=1667779200&host=192.168.1.1"`

To get then a specific type of alerts (e.g. flow alerts), run
`curl -s -v -u admin:admin "http://localhost:3000/lua/rest/v2/get/flow/alert/list.lua?ifid=

[2022-11-11 11:51] #6969 closed, assigned to nobody

[2022-11-11 16:31] cardigliano commented on #6973
Verified

[2022-11-11 16:31] #6973 closed, assigned to cardigliano, MatteoBiscosi

[2022-11-11 16:31] cardigliano commented on #6972
Verified

[2022-11-11 16:31] #6972 closed, assigned to MatteoBiscosi

[2022-11-11 16:31] #6977 closed, assigned to MatteoBiscosi

[2022-11-11 16:32] #6970 closed, assigned to MatteoBiscosi

[2022-11-11 21:59] PaoGRodrigues commented on #6969
Thanks Matteo!

[2022-11-14 09:12] MatteoBiscosi commented on #6974
Hi @netravnen  could you please update and try again? the issue should be fixed

[2022-11-14 10:02] netravnen commented on #6974
@MatteoBiscosi Works :)

![image](https://user-images.githubusercontent.com/1938389/201631852-13059e55-b675-4e4e-abf2-814f0edf0ac4.png)

[2022-11-14 12:42] netravnen opened #6979 "Unable to ignore interfaces local to the nprobe host in collector mode"
**Environment**:
* OS name: Ubuntu
* OS version: 22.04.1 LTS
* Architecture: amd64
* ntopng version/revision: ntopng Professional v.5.5.221114

**Request**:

Be able to ignore local interfaces from the nprobe instance. (in the screenshot, `lo` and `eth0`)

**What happened**:

Using [Dynamic Disaggregation][0] results in a number of virtual interfaces being created. ✓

The resulting virtual interfa

[2022-11-14 13:26] cardigliano commented on #6979
@netravnen could you just remove "lo" and all the unneeded interfaces from ntopng.conf? I guess they are listed there

[2022-11-14 13:47] netravnen commented on #6979
🤬🤬🤬 I see your point!

(indeed the interfaces was listed in `/etc/ntopng/ntopng.conf` 🤦)

My mistake. 😊

[2022-11-14 13:47] #6979 closed, assigned to nobody

[2022-11-14 16:02] cardigliano commented on #6646
The periodic check in nedge seems to have fixed this, @tano46 please confirm

[2022-11-14 16:40] #6974 closed, assigned to MatteoBiscosi

[2022-11-15 08:27] netravnen commented on #6974
https://github.com/ntop/ntopng/commit/76ad7a3b4ff28fc7d934a6463768e6aea5c41939
https://github.com/ntop/ntopng/commit/4d01430a85bcc10c08b467f27b1da06c279eada9

[2022-11-15 09:26] MatteoBiscosi commented on #6974
Hi @netravnen thx for adding the commits, i totally forgot about that, thanks a lot :)

[2022-11-15 10:40] MatteoBiscosi commented on #6876
The issue is now fixed; the problem is that the various periodical updates on the traffic, flow, ecc are done in a different time, so it happens that when you see a peak on the chart on the upper left part of the GUI, you see old data from the table and viceversa.
Now the issue should be fixed

[2022-11-15 10:40] #6876 closed, assigned to MatteoBiscosi

[2022-11-16 10:31] MatteoBiscosi commented on #6899
Hi @61swong in the latest ntopng dev version this issue is fixed. The problem was simple, the check itself was not implemented.
So I implemented the check, by adding the possibility of configuring the percentage of Retransmission, Packets loss and Out of Order thresholds and if the percentage of these metrics in a flow exceeds the threshold configured an alert is going to be triggered.
Note that t

[2022-11-16 10:31] #6899 closed, assigned to MatteoBiscosi

[2022-11-16 10:47] rileonar commented on #435
Hello,
I have exactly the same environment: a router sending TZSP flow to an interface monitored by ntopng.
I see ntopng can handle TZSP encapsulation since v2.2, but I don't know how to decapsulate traffic from that flow.
Does anyone know how to configure ntopng to do that?
TIA

[2022-11-16 13:31] tano46 commented on #6646
Problem still there from our side

[2022-11-16 16:50] MatteoBiscosi commented on #6971
Hi @61swong it's an architectural problem this and it was designed in a way that whenever you change the name of the disaggregated interface, you create a new interface, so it's "unfixable" due the idea when it was created.
The thing I suggest is changing the interface settings and change the displayed name
![image](https://user-images.githubusercontent.com/49585191/202242627-79ee0776-d503-4b20-9c

[2022-11-16 16:50] #6971 closed, assigned to nobody

[2022-11-16 17:05] MatteoBiscosi commented on #6889
Verified as fixed

[2022-11-16 17:05] #6889 closed, assigned to uccidibuti, MatteoBiscosi

[2022-11-16 17:18] MatteoBiscosi commented on #6965
Hi @jacoporusso-css in the next build, the issue should be fixed (this nightly build). Let me know

[2022-11-16 17:25] MatteoBiscosi commented on #6938
Closing for inactivity, please reopen if the issue is going to pop up again

[2022-11-16 17:25] #6938 closed, assigned to MatteoBiscosi

[2022-11-16 17:36] MatteoBiscosi commented on #6902
Hi @jean-christophe-manciot , I'm going to update the documentation all the special characters that you wrote are accepted except for the ` and \ so please remove those two special characters and everything should work fine

[2022-11-16 17:36] #6902 closed, assigned to nobody

[2022-11-16 17:52] MatteoBiscosi commented on #6875
Closing for inactivity, please reopen if needed

[2022-11-16 17:52] #6875 closed, assigned to nobody

[2022-11-16 17:57] MatteoBiscosi commented on #6732
Verified as fixed

[2022-11-16 17:57] #6732 closed, assigned to lucaderi

[2022-11-16 17:59] MatteoBiscosi commented on #6641
No more needed with the latest historical charts

[2022-11-16 17:59] #6641 closed, assigned to nobody

[2022-11-16 18:00] MatteoBiscosi commented on #6642
No more needed with the latest historical charts

[2022-11-16 18:00] #6642 closed, assigned to nobody

[2022-11-16 18:03] MatteoBiscosi commented on #6265
Implemented as requested

[2022-11-16 18:03] #6265 closed, assigned to nobody

[2022-11-16 18:04] MatteoBiscosi commented on #6060
Implemented as requested

[2022-11-16 18:04] #6060 closed, assigned to MatteoBiscosi

[2022-11-16 18:05] MatteoBiscosi commented on #6069
Many changes were done during this period of time and now nDPI is able to report info like "why this alert was triggered" and this should be enough information. Please reopen the ticket if the information shown is not enough

[2022-11-16 18:05] #6069 closed, assigned to lucaderi, MatteoBiscosi

[2022-11-16 18:08] MatteoBiscosi commented on #5978
Hi, in the latest ntopng version the dropdown has a search, in this way even if there are a lot of entries, users (if they know what to search) are able to find fast the in/out SNMP interfaces.
Implemented as requested.
Please reopen if this search is not enough

[2022-11-16 18:08] #5978 closed, assigned to cardigliano, MatteoBiscosi

[2022-11-16 18:12] MatteoBiscosi commented on #5605
Implemented by using the snapshot features. Please reopen the ticket if it is not enough

[2022-11-16 18:12] #5605 closed, assigned to uccidibuti

[2022-11-16 18:12] #5054 closed, assigned to MatteoBiscosi, JudyyHopps

[2022-11-16 18:17] #2908 closed, assigned to simonemainardi

[2022-11-16 18:18] MatteoBiscosi commented on #3516
This ticket was implemented in many ways lately, by adding new severities, by adding the score and other metrics and this should be enought. Now we just need to reorganize the alerts and group them #6877

[2022-11-16 18:18] #3516 closed, assigned to nobody

[2022-11-16 22:34] 61swong commented on #6899
Thanks @MatteoBiscosi I'll upgrade in the next dev release. Hopefully this would work in stable release soon.

[2022-11-16 22:38] 61swong commented on #6971
Thanks for your confirmation. This would be a pity for people relying on the query to the InfluxDB.

[2022-11-17 08:23] joonasak opened #6980 "Recipient Notification by Host Pools not working"
**Environment**:
* OS name: Ubuntu
* OS version: 22.04
* Architecture: amd64
* ntopng version/revision: 5.5.221114

**What happened**:
I configured the notification on recipient and selected only Host Pools that I wants to get notification from but it's not working.

**How did you reproduce it?**
When I choose Host Pools in recipient notification, it should get notification only from the Host Pool

[2022-11-17 08:25] cardigliano commented on #6980
@joonasak what is the alert type you are testing with the host pool filtering?

[2022-11-17 08:28] joonasak commented on #6980
@cardigliano I only select host pool which I created and it's still get all the alerts flow from other flow which not related to that host pool.

[2022-11-17 08:43] MatteoBiscosi commented on #6967
Hi @atemix , try curling by adding the -u option to the curl (username:password) and let me know if in your case works

[2022-11-17 09:01] MatteoBiscosi commented on #6967
Hi @atemix, i added a debug print on the host that is doing https traffic, in couple of hours update and let me know the output on `journalctl -e -u ntopng` after pinging to the remote ntopng instance.
Sorry for all these questions, but in my instance https monitoring is working correctly

[2022-11-17 16:57] cardigliano commented on #6980
@joonasak this seems to be working in our lab, please drop an email to cardigliano at ntop.org to schedule a debug session

[2022-11-17 17:42] lucaderi opened #6981 "Dropdown menus unusable with empty tables"
![Screen Shot 2022-11-17 at 18 40 00](https://user-images.githubusercontent.com/4493366/202518667-23aadcfd-5d0d-4066-933b-32830820f4a4.png)

[2022-11-18 05:23] atemix commented on #6967
@MatteoBiscosi curling works fine

![image](https://user-images.githubusercontent.com/67421019/202626934-e3592373-c18b-4e57-bba2-f17f9875e5dc.png)

[2022-11-18 05:36] atemix commented on #6967
@MatteoBiscosi Nothing in logs

Nov 18 08:28:02 stal-ntopng ntopng[1935212]: 18/Nov/2022 08:28:02 [Redis.cpp:151] Successfully connected to redis 127.0.0.1:6379@0
Nov 18 08:28:02 stal-ntopng ntopng[1935212]: 18/Nov/2022 08:28:02 [Redis.cpp:151] Successfully connected to redis 127.0.0.1:6379@0
Nov 18 08:28:02 stal-ntopng ntopng[1935212]: 18/Nov/2022 08:28:02 [NtopPro.cpp:315] [LICENSE] Reading lice

[2022-11-18 10:18] cardigliano opened #6982 "Value field in Add filter does not update when the list of values is empty"
When the selected filter type does not contain values (e.g. selecting SNMP Interface with no SNMP device configured) the values are not updated and you keep seeing the values of the previously selected filter type (see the picture)

<img width="812" alt="Screen Shot 2022-11-18 at 11 17 08" src="https://user-images.githubusercontent.com/7548711/202678857-4a0fc9a5-ae94-45a2-a9cd-86cea9aac131.png">

[2022-11-18 10:20] cardigliano commented on #6982
REST content:

<img width="308" alt="Screen Shot 2022-11-18 at 11 19 53" src="https://user-images.githubusercontent.com/7548711/202679214-3ef31ba2-c958-47a8-9942-67fcf8053b93.png">

[2022-11-19 09:37] lucaderi opened #6983 "Invalid ports percentage"
![Screen Shot 2022-11-19 at 10 35 55](https://user-images.githubusercontent.com/4493366/202844596-3a0b700f-7707-442e-bd3a-8dc41d1efbc0.png)

http://194.x.x.x.:3000/lua/host_details.lua?host=194.242.61.66&page=packets

[2022-11-20 10:25] wasya2020 commented on #6192
Hi Luca. Is it possible to have an alarm triggering when a new IP is detected on the network ? Many thanks.

[2022-11-20 19:19] sascha224 commented on #6795
Closed, but not solved... Same problem here: "Package 'ntopng' has no installation candidate" on Raspbian 11.5 Bullseye 64bit @Raspi4

[2022-11-21 11:12] MatteoBiscosi commented on #6967
Hi @atemix sorry, i didn't explain well. Whenever a new curl is done a log should popup in your `journalctl -e -u ntopng`, something like
`[ActiveMonitoring] GET google.com`
 `[ActiveMonitoring] Response: `
could you please check it out and report here or send me the print by email `biscosi at ntop.org` if it contains private information

[2022-11-22 10:16] MatteoBiscosi commented on #5905
DNS Flood alert implemented. Available only from the Enterprise M version

[2022-11-22 10:16] MatteoBiscosi commented on #6983
Verified as Fixed

[2022-11-22 10:16] #6983 closed, assigned to MatteoBiscosi

[2022-11-22 10:27] atemix commented on #6967
Hi @MatteoBiscosi, sent you an email.

[2022-11-22 13:33] sascha224 opened #6984 "Raspi4 Debian Bullseye 64bit: "Package 'ntopng' has no installation candidate""
Original issue closed, but still not solved...  "Package 'ntopng' has no installation candidate" on Raspbian 11.5 Bullseye 64bit @Raspi4

_Originally posted by @sascha224 in https://github.com/ntop/ntopng/issues/6795#issuecomment-1321219651_

[2022-11-23 03:50] 61swong opened #6985 "custom traffic disaggregation doesn't work for MAC address filter"
**Environment**:
* OS name: RHEL
* OS version: 7.9
* Architecture: x86_64
* ntopng version/revision: v5.5.221013

**What happened**:
I am using MAC address for custom traffic disaggregation and it doesn't work for me.
Below is the filter I'm using.
ether host 64:f6:9d:23:d0:ff or ether host a4:4c:11:6c:ac:3f

**How did you reproduce it?**
Deleted the filter, restarted ntopng, created the same filt

[2022-11-23 09:43] cardigliano commented on #6985
Fixed, this will be available with the next nightly build

[2022-11-23 09:43] #6985 closed, assigned to cardigliano

[2022-11-23 10:42] cardigliano commented on #6898
packages.ntop.org is actually reachable, please retry and reopen this in case

[2022-11-23 10:42] #6898 closed, assigned to nobody

[2022-11-23 10:47] MatteoBiscosi commented on #6965
Verified as fixed, please reopoen the ticket if needed

[2022-11-23 10:47] #6965 closed, assigned to MatteoBiscosi

[2022-11-23 11:18] MatteoBiscosi commented on #5905
Implemented as requested, needed Enterprise M license at least.

[2022-11-23 11:18] #5905 closed, assigned to MatteoBiscosi

[2022-11-23 14:58] MatteoBiscosi commented on #6981
The same thing happens in the new datatable

![image](https://user-images.githubusercontent.com/49585191/203578355-b4bed6af-49cd-4b15-bf32-3775235c868a.png)

[2022-11-23 17:45] cardigliano commented on #6905
This seems to be working now, with and without VLANs, with the full or a partial domain.
Note that today I pushed a fix for the domains exceptions stored on redis that was creating unexpected behaviors.

As an example I tested exceptions with ftp.acc.umu.se and acc.umu.se as domains, with and without VLANS, using the below download to trigger the alert.
wget http://ftp.acc.umu.se/mirror/rockylinux

[2022-11-24 01:07] 61swong opened #6986 "Unable to disable checks due to 'Unknown user script xxxxx'"
**Environment**:
* OS name: RHEL
* OS version: 7.9
* Architecture: x86_64
* ntopng version/revision: v5.4.221122

**What happened**:
When I tried to disable the remaining checks (left behind after 'Disable All'. I experienced error message 'Unknown user script "fortinet"'.

**How did you reproduce it?**
Restart ntopng and remove the enabled services.

**Debug Information**:
Screenshot of the error

[2022-11-24 02:43] 61swong commented on #6899
Hi @MatteoBiscosi , I noticed my behaviour check list doesn't show 'TCP packets issue' (attached my screenshot).

![image](https://user-images.githubusercontent.com/50309519/203682282-b66d7583-575b-418f-86de-f5f47c1d29cc.png)

If it's 'TCP retransmission issue', I tried to edit the setting and couldn't find the threshold.

[2022-11-24 12:36] firengate opened #6987 "Radius Authentication failure[-1] on Debian 11 (ntopng dev 5.5)"
**Environment**:
* OS name: Debian 11 (in docker) + also tried the official ntopng image
* OS version: 11
* Architecture: amd64
* ntopng version/revision: 5.5.221105

**What happened**:
Radius authorization does not work. Radius packets are not generated by ntopng. Based on the error code, the problem is internal, so radius packets are not generated.

**Debug Information**:
tcpdump does not captur

[2022-11-24 15:07] MatteoBiscosi commented on #6967
Hi @atemix sorry for the wait but i was working on the issue. Now on our test site it works again, please in a couple of hours update to the latest version and let me know if it works again or not

[2022-11-24 15:24] MatteoBiscosi commented on #6986
Hi @61swong try out in this way:
- Click in Factory Reset (in the same page, next to disable all)
- Then Click Disable All again
and let me know if it disabled them or not

[2022-11-24 15:27] MatteoBiscosi commented on #6987
Hi @remackad did you follow this documentation regarding RADIUS auth?
https://www.ntop.org/guides/ntopng/advanced_features/authentication.html?highlight=radius

[2022-11-24 18:25] cardigliano commented on #6987
It seems to be working for me (Ubuntu 22) using latest dev.

I was using this test server: https://idblender.com/tools/public-radius

Please make sure tcpdump is using the correct interface (please specify it)

$ sudo tcpdump -ni eno1 port 1812
listening on eno1, link-type EN10MB (Ethernet), snapshot length 262144 bytes
19:25:23.680711 IP 192.168.2.134.51986 > 212.24.98.232.1812: RADIUS, Access-Re

[2022-11-24 19:06] firengate commented on #6987
Hi! Of course I did.

Okay, here.

root@284a2c53e5a6:/# ip ad
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
186: eth0@if187: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc noqueue state UP group default
    link/

[2022-11-24 23:08] 61swong commented on #6986
Hi @MatteoBiscosi,

In dev release, after factory reset, I tried 'disabled all' and the relevant 5 checks were still there. I could disable them one by one.

![image](https://user-images.githubusercontent.com/50309519/203872884-f48afb77-e057-4187-b838-f435ec2fbf32.png)

In Stable release, I did the factory reset and the 5 checks remained. However I couldn't disable them one by one with the same er

[2022-11-25 09:09] cardigliano opened #6988 "Browser freezes after 1 day on Dashboard"
Browser freezes and stops responding if you leave a tab on the Dashboard for 1 day, it seems the chart library is exhausting the resources. Killing the browser is required to restore it (unable to close the tab). Reproduced on Firefox.

[2022-11-25 11:27] cardigliano commented on #6987
Please provide the output of "apt list libradcli4" and a screenshot of the Preferences -> RADIUS Authentication section.

[2022-11-25 13:27] firengate commented on #6987
root@284a2c53e5a6:/# apt list libradcli4
Listing... Done
libradcli4/stable,now 1.2.11-1+b2 amd64 [installed]

![image](https://user-images.githubusercontent.com/25734655/203995479-98b1b9c1-4906-47f6-8c5e-48fb0e05b63d.png)

[2022-11-25 13:30] firengate commented on #6987
Can you check the RADIUS authorization in your docker image?

[2022-11-25 15:18] lucaderi opened #6989 "Invalid check load"
25/Nov/2022 16:16:10 [FlowChecksLoader.cpp:254] WARNING: Unable to find flow check 'potentially_dangerous': skipping it

[2022-11-25 15:19] cardigliano commented on #6987
Did you use ntop/ntopng:latest (from Dockerhub)?

[2022-11-25 15:30] cardigliano commented on #6987
I tried with this command below right now, radius authentication seems to be working with this docker image as well (using this public server to test it https://idblender.com/tools/public-radius)

sudo docker run -it -p 3000:3000 -v /etc/ntopng.license:/etc/ntopng.license:ro --net=host ntop/ntopng:latest

[2022-11-25 17:16] atemix commented on #6967
Hi @MatteoBiscosi, no change =(
Now its failing on resolve host name error, even direct IP specified.

![image](https://user-images.githubusercontent.com/67421019/204031869-7fdcf2e9-aacf-473d-9b97-1ffea5a75b50.png)

[2022-11-25 17:36] firengate commented on #6987
On the official image of version 5.4 it works.
I built an image based on Debian 11 and ntopng 5.5. Can you please check on Debian and ntopng dev version?

My Dockerfile:

FROM debian:bullseye

# skip interactive configuration dialogs
ENV DEBIAN_FRONTEND noninteractive

RUN apt update && apt install -y --no-install-recommends curl gnupg ca-certificates dirmngr apt-transport-https && \
        echo

[2022-11-28 07:44] lucaderi opened #6990 "Invalid Link and Name for Chart Images"
In recent ntopng versions there is a new option that allows the chart to be downloaded as image

![image](https://user-images.githubusercontent.com/4493366/204220881-0a77b61f-decd-4835-b51b-ede6c604ec07.png)

There are a few issues to fix
- There is a typo in "Downlod"
![image](https://user-images.githubusercontent.com/4493366/204221023-c9af9419-163d-49fd-91bf-10e6dde55725.png)
- The file name sho

[2022-11-28 08:11] sascha224 commented on #6984
A new try on another day fixed this for me...

[2022-11-28 08:11] #6984 closed, assigned to nobody

[2022-11-28 10:42] cardigliano commented on #6987
I ran a test on Debian 11 using a similar dockerfile that you can download from our github, this also seems to be working for me:

1. wget https://raw.githubusercontent.com/ntop/docker-ntop/master/Dockerfile.ntopng.debian11.dev
2. docker build -t ntopng -f Dockerfile.ntopng.debian11.dev .
3. docker run -it --net=host -v /etc/ntopng.license:/etc/ntopng.license ntopng -i eno1

[2022-11-28 10:57] cardigliano commented on #6980
@joonasak any chance we can schedule a call and take a look to address this?

[2022-11-28 11:03] joonasak commented on #6980
Hi,

It's working now and maybe working after I reinstalled. Thank you.

Best regards,
Chansakada CHHEM

On Mon, Nov 28, 2022, 5:58 PM Alfredo Cardigliano ***@***.***>
wrote:

[2022-11-28 11:11] cardigliano commented on #6980
Thank you

[2022-11-28 11:11] #6980 closed, assigned to cardigliano

[2022-11-28 11:15] MatteoBiscosi commented on #6989
The problem is the following: in a brief time, ntopng had this alert enabled but without a flow check implemented (due to an error).
in the recent time i fixed it, moving this no more used alert into the attic folder. However this print is still going to be printed on the output because this is going to take a look at the configuration, find this alert (no more present in ntopng) but not find the

[2022-11-28 11:43] MatteoBiscosi commented on #6967
Hi @atemix sorry it was my bad, i totally didn't see that i had to change even an other file. New builds should be available in a couple of hours
Let me know if the check now works and if the active monitoring and infrastructure monitoring works.
You should have two active monitoring instances in this page after adding a new infrastructure
![image](https://user-images.githubusercontent.com/4958519

[2022-11-28 14:43] cardigliano commented on #6964
The API is now accepting also interface names as provided by snmp or nprobe with mapping

[2022-11-28 14:43] #6964 closed, assigned to nobody

[2022-11-28 15:08] #6905 closed, assigned to cardigliano, MatteoBiscosi

[2022-11-28 15:13] cardigliano commented on #6551
No more updates, closing (reopen if still able to reproduce)

[2022-11-28 15:13] #6551 closed, assigned to cardigliano

[2022-11-28 15:18] cardigliano commented on #6253
@mattventura are you still running ntopng in the same environment and experiencing the same load on the host? If you are still able to reproduce the same with latest 5.5, please specify your kernel version and configuration details to let us reproduce this in our lab. Thank you.

[2022-11-28 15:22] cardigliano commented on #5510
Implemented in ntopng

[2022-11-28 15:22] #5510 closed, assigned to cardigliano

[2022-11-28 15:25] cardigliano commented on #1560
Reference is obsolete, closing for now

[2022-11-28 15:25] #1560 closed, assigned to nobody

[2022-11-28 15:28] cardigliano commented on #6657
Duplicate of https://github.com/ntop/ntopng/issues/2295

[2022-11-28 15:28] #6657 closed, assigned to nobody

[2022-11-28 15:29] cardigliano commented on #2652
This is now possible with the new chart UI component

[2022-11-28 15:29] #2652 closed, assigned to nobody

[2022-11-28 15:32] cardigliano commented on #2656
This is now possible with the new UI chart component

[2022-11-28 15:32] #2656 closed, assigned to nobody

[2022-11-28 15:44] cardigliano commented on #5886
FLow and Hosts scriptable alerts has been now implemented

[2022-11-28 15:44] #5886 closed, assigned to nobody

[2022-11-28 15:45] cardigliano commented on #6180
Closing for inactivity

[2022-11-28 15:45] #6180 closed, assigned to nobody

[2022-11-28 15:50] cardigliano commented on #6534
Implemented

[2022-11-28 15:50] #6534 closed, assigned to cardigliano

[2022-11-28 15:51] cardigliano commented on #5511
Duplicate of https://github.com/ntop/ntopng/issues/6615

[2022-11-28 15:51] #5511 closed, assigned to giorgiozoppi

[2022-11-28 15:52] cardigliano commented on #6695
Implemented

[2022-11-28 15:52] #6695 closed, assigned to nobody

[2022-11-28 16:55] cardigliano commented on #6976
This seems to be working, will reopen in case

[2022-11-28 16:55] #6976 closed, assigned to nobody

[2022-11-28 21:22] Ogenkii opened #6991 "unable to locate nprobe"
pi@NetworkPi:/opt $ sudo wget https://packages.ntop.org/RaspberryPI/apt-ntop.deb
--2022-11-29 05:17:33--  https://packages.ntop.org/RaspberryPI/apt-ntop.deb
Resolving packages.ntop.org (packages.ntop.org)... 167.99.215.164, 2a03:b0c0:2:d0::d27:3001
Connecting to packages.ntop.org (packages.ntop.org)|167.99.215.164|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3226 (3.2K

[2022-11-29 07:15] atemix commented on #6967
Hi @MatteoBiscosi, It works, thx for help.
But now there is a bug in active monitoring page, sent you an email.

[2022-11-29 08:19] cardigliano commented on #6991
@Ogenkii please note we provide packages for the 64-bit (arm64) version of raspbian based on bullseye only

[2022-11-29 09:49] cardigliano commented on #6982
This seems to be working now. @uccidibuti did you push a fix for this?

[2022-11-29 09:49] #6982 closed, assigned to uccidibuti

[2022-11-29 10:29] #6399 closed, assigned to lucaderi

[2022-11-29 10:51] cardigliano commented on #6646
@tano46 please note the service check is implemented by using a periodic check at the moment, this takes up to 1 minute to bring up the dhcp server. Could you check if it is just a matter of waiting this 1-min delay, or the check is not working at all in your case? Thank you.

[2022-11-29 11:02] cardigliano commented on #6975
Closing for inactivity (more information required, please reopen in case)

[2022-11-29 11:02] #6975 closed, assigned to nobody

[2022-11-29 11:11] #6991 closed, assigned to nobody

[2022-11-29 11:32] firengate commented on #6987
With your Dockerfile it works. Thank you very much! As far as I could understand, it is necessary to install the apt-ntop.deb package. Maybe it's something else, but either way it works.

[2022-11-29 11:32] #6987 closed, assigned to nobody

[2022-11-29 11:36] cardigliano commented on #6987
Great, thank you for the update

[2022-11-29 13:33] atemix commented on #6967
@MatteoBiscosi After upgrading to 5.4.221129 everything works perfect.
Thx for help.

[2022-11-29 13:33] #6967 closed, assigned to MatteoBiscosi

[2022-11-29 14:44] jpVm5jYYRE1VIKL commented on #6253
On my environment i not use capture at all (only flow) and have huge cpu overhead on kernel 5.10.0-13-amd64. Beside this device which do flow export almost does not have traffic.

[2022-11-29 14:46] jean-christophe-manciot opened #6992 "Cannot connect to mysql as user 'ntopng'@'<fdqn>'"
## Describe the bug
Ntopng tries to connect to mysql as 'ntopng'@'localhost' instead of 'ntopng'@'hostname.domain' when <<hostname.domain> and localhost point to the same host.

## Environment
* OS name:Ubuntu
* OS version: 22.10
* Architecture: amd64
* ntopng version/revision: 5.5.221116

**What happened**:
ntopng user for mysql
[code]
ntopng.conf
[code]

ntopng systemd service
[code]

[2022-11-29 14:46] cardigliano commented on #6253
@jpVm5jYYRE1VIKL please provide more details about your setup (hypervisor version, OS, CPU model, ntopng version, configuration file)

[2022-11-29 14:54] jpVm5jYYRE1VIKL commented on #6253
@cardigliano  i think that i need to update ntop i think  my issue is #6823 .

[2022-11-30 07:49] lucaderi opened #6993 "Sankey Flow Chart Broken"
The flow snaky chart is broken as you can see in the image below

![Screen Shot 2022-11-30 at 08 44 24](https://user-images.githubusercontent.com/4493366/204736970-69ace2be-592a-45f6-9902-85d436d07c75.png)

Open issues
- add a dropdown menu (similar to host maps) where are listed a few options such as "All Flows", "Incoming Flows", "Outgoing Flows"
- if there are no flows to report, the page canno

[2022-11-30 14:46] cardigliano commented on #6992
This looks like a misconfiguration as the host (hostname.domain) is directly provided to the mysql C API (mysql_try_connect), there is no bug in ntopng

[2022-11-30 14:46] #6992 closed, assigned to nobody

[2022-11-30 16:04] MatteoBiscosi commented on #5903
Implemented both as requested

[2022-11-30 16:04] #5903 closed, assigned to MatteoBiscosi