[2020-06-11 14:16] simonemainardi commented on #4018
Thanks for reporting. Issue is fixed. A new build is in progress. Please, update to the latest 4.1 and it will work.

It turned out that your ICMP flow was using template 257 which didn't have any postNAT IP address.

![image](https://user-images.githubusercontent.com/3397663/84397352-eaf21d00-abfe-11ea-87a5-cb2d17b904a4.png)

This was causing an empty address to be set over the original ipv6 addr

[2020-06-11 14:51] #4032 closed, assigned to simonemainardi

[2020-06-11 16:20] gabryon99 commented on #3693
We have also to refactorize the `get_geo_hosts.lua` script

[2020-06-12 08:35] NogNeetMachinaal commented on #4035
Team,

 �

Assuming this troubleshoot sessions is still happening:

Please use the link <https://teams.microsoft.com/l/meetup-join/19%3ameeting_MmUwYmE4ZWMtZDBlYy00Nzk1LWE3MTAtNTcxMThlMGU4MTk5%40thread.v2/0?context=%7b%22Tid%22%3a%22bf3ea48b-2f4b-41c4-8f08-5941fc1b23ce%22%2c%22Oid%22%3a%22410ab490-053b-468b-a2c9-f15754761289%22%7d>  below.

 �

 �

Thank you - Will

 �

 <https://teams.microsoft.c

[2020-06-12 08:38] cardigliano commented on #4035
@NogNeetMachinaal troubleshoot will happen (feel free to use direct mails for scheduling calls to avoid sending links publicly)

[2020-06-12 08:45] CyberbreinAirw0lf commented on #4035
Just removed the previous message with the links.

[2020-06-12 08:59] #4033 closed, assigned to simonemainardi

[2020-06-12 09:02] simonemainardi commented on #4033
Fixed. Issue was occurring when the same flow was received from multiple exporters. In this case, the first exporter was retained inside the flow, whereas the most recent exporter was shown in "Flow exporter IPv4 Address". New behavior is to always update the exporter (and SNMP ports) with the most recent data received. Possible finer approaches would require to perform dedups.

[2020-06-12 09:28] simonemainardi commented on #4034
please, use our official OS X package and report: https://packages.ntop.org/
Installation guide is at: https://www.ntop.org/guides/ntopng/what_is_ntopng.html#installing-on-macos

[2020-06-12 09:29] #3808 closed, assigned to nobody

[2020-06-12 09:39] cardigliano commented on #4035
Fixed

[2020-06-12 09:39] #4035 closed, assigned to cardigliano

[2020-06-12 10:28] #4031 closed, assigned to simonemainardi

[2020-06-12 10:29] simonemainardi commented on #4031
Thanks for reporting. HTML unescaping was performed on password changes, thus causing the % sign to be interpreted as the escape character. Issue is fixed. A new build is in progress. Wait a couple of hours and give it a try.

[2020-06-12 20:42] CyberbreinAirw0lf commented on #4036
One open question related to this topic:
How do I make these TCP flag distributions part of a report?

[2020-06-12 22:01] #4005 closed, assigned to MatteoBiscosi

[2020-06-14 07:22] lucaderi commented on #640
The image you attached is not reporting any issue. I don't understand whereas the problem here. Can you please elaborate? The previous version was constantly over 100% that is not the cat here. Not to say that is hard to comment without knowing anything about your traffic. I will close this issue unless you have good arguments against this

[2020-06-14 10:14] lucaderi opened #4040 "Invalid IP address validation in Active Monitoring"
![Screen Shot 2020-06-14 at 12 13 07](https://user-images.githubusercontent.com/4493366/84590629-8cb07e80-ae38-11ea-867c-fe1929772c60.png)

[2020-06-14 10:25] lucaderi commented on #4038
@Hagshur What is the Arista MIB missing?

[2020-06-14 19:47] CyberbreinAirw0lf opened #4041 "TCP analysis by IP and application"
Team,

Referring to the Interface => packets (i.e. TCP packet analysis):
What would it take to have this view for an application and for a particular host pair?

Thank you - Will

[2020-06-14 19:49] CyberbreinAirw0lf opened #4042 "TCP packet analysis reporting"
Team,

Referring to the Interface => packets (i.e. TCP packet analysis):
What would it take to have this view as a report for a specific period?
Ideally including a breakdown by application?

Thank you - Will

[2020-06-15 07:15] gabryon99 commented on #4040
We need to add a regex to validate the host input depending on the selected Measurement

[2020-06-15 07:59] simonemainardi opened #4043 "Unify tables add/search/dropdown look"
This is the expected layout
![image](https://user-images.githubusercontent.com/3397663/84632003-95fc2280-aeee-11ea-8221-c923a0b4fb79.png)

These pages need to be adjusted accordingly

![image](https://user-images.githubusercontent.com/3397663/84631610-f9d21b80-aeed-11ea-850b-404397b62cb6.png)

![image](https://user-images.githubusercontent.com/3397663/84631689-1706ea00-aeee-11ea-8b09-1abade095885.

[2020-06-15 08:30] gabryon99 commented on #3693
The Lua script `get_geo_hosts.lua` has been refactorized. Now there is no JSON printed with the `print` function but we use a simple Lua table to collect data and then print it with the `json` module. When a user navigates to a host page the map flies to the root server which is marked with the red color.

See the commit: https://github.com/ntop/ntopng/commit/5b4b55872feb9d9b58018c17184b067220f6b2

[2020-06-15 09:00] gabryon99 commented on #4040
We have created a new global JavaScript variable holding some regexes we use (such as ipv4, ipv6, ...). When a new measurement is selected a new function called `get_measurement_regex` sets the right pattern for the input box.

[2020-06-15 09:07] simonemainardi opened #4044 "SNMP add backup/restore buttons"
Snmp implements functions `snmp_config.backup()` and `snmp_config.restore()`.

It is requested to add buttons in the GUI which perform the operations above.

Buttons must be added bottom-left in (move also the delete button to the left)

![image](https://user-images.githubusercontent.com/3397663/84639122-3a369700-aef8-11ea-9946-2380bfde601d.png)

as in

![image](https://user-images.githubuserconte

[2020-06-15 09:39] gabryon99 commented on #4043
The following pages now are conforming with the new SNMP Table format:

- Recipient Endpoint List
- Notification Endpoint List
- Widgets List
- Datasource List
- Active Monitoring

The other pages require integration with the new DataTable. See the commit: https://github.com/ntop/ntopng/commit/91507212f02795990bb1680f26fbcc757424816b

[2020-06-15 10:06] gabryon99 commented on #3844
<img width="954" alt="Screenshot 2020-06-15 at 12 06 05" src="https://user-images.githubusercontent.com/14114916/84645270-99000e80-af00-11ea-956a-fe35cd4c90b1.png">
@jq-yeraz thanks for your suggesstion! I've implemented the styles you gave us.

[2020-06-15 12:48] simonemainardi commented on #3981
Missing import/export buttons in separate issue: https://github.com/ntop/ntopng/issues/4044
Other requests implemented.

[2020-06-15 12:48] #3981 closed, assigned to gabryon99

[2020-06-15 12:53] simonemainardi commented on #4040
the following functions MUST use the new REGEXP

https://github.com/ntop/ntopng/blob/b96e6dfba81bde7589bae0ab58d8f477ac68e1a0/httpdocs/js/ntopng_utils.js#L12

https://github.com/ntop/ntopng/blob/b96e6dfba81bde7589bae0ab58d8f477ac68e1a0/httpdocs/js/ntopng_utils.js#L20

move the mac regex the the REGEXP

https://github.com/ntop/ntopng/blob/b96e6dfba81bde7589bae0ab58d8f477ac68e1a0/httpdocs/js/ntopng_

[2020-06-15 12:59] simonemainardi commented on #4043
without doing the integration with the new DataTable, please adjusts also the other pages simply by putting the plus sign next to the search box, and the dropdowns on the left.

[2020-06-15 13:06] #3844 closed, assigned to gabryon99

[2020-06-15 14:18] lucaderi opened #4045 "Lack of SNMP Table Refresh"
The SNMP device table does not refresh data periodically: this has to be implemented with a periodic polling (e.g. every 10 or 30 sec).

[2020-06-15 16:21] gabryon99 commented on #4045
I set an interval for 30 seconds.

[2020-06-15 16:41] simonemainardi opened #4046 "SNMP device deletion with polling in progress"
Deleting an SNMP doesn't affect the SNMP poller. If a device is deleted in the middle of an SNMP poll, the polling continues, redis keys are written, and also timeseries are written. This should be avoided.

[2020-06-15 16:53] simonemainardi commented on #4042
Will, as this is a very special requirement for you, please contact us privately so we can arrange a custom development.

[2020-06-15 16:53] #4042 closed, assigned to nobody

[2020-06-15 16:54] simonemainardi commented on #4041
same as https://github.com/ntop/ntopng/issues/4042#issuecomment-644250842

[2020-06-15 16:54] #4041 closed, assigned to nobody

[2020-06-15 16:55] simonemainardi commented on #4036
- https://github.com/ntop/ntopng/issues/4042
- https://github.com/ntop/ntopng/issues/4041

[2020-06-15 17:02] daxrob opened #4047 "Mobile version not usable"
Hi,

I tried to reach the ntopng web gui with an iphone using chrome.
The web interface is not usable as you can see int portrait only the left menu is visible. On landscape the above portion of the interface hide all the rest.
Is it possible to correct/adjust the user interface for smartphone?
![C81069F6-F230-4A7F-AFFA-75DEDB49AF5A](https://user-images.githubusercontent.com/66008204/84685372-7854

[2020-06-16 07:25] TimotheusBachinger opened #4048 "rest/v1/get/interface/address.lua returns empty addresses array"
In case we execute this REST call (with a valid ifid), we receive an empty addresses array:
![image](https://user-images.githubusercontent.com/57113191/84744135-213eec00-afb3-11ea-8099-9d509678bdf9.png)

Is this the desired behavior?

[2020-06-16 07:25] simonemainardi commented on #2798
implemented in API version 1. See the documentation at https://www.ntop.org/guides/ntopng/api/rest/api_v1.html#Alerts

[2020-06-16 07:25] #2798 closed, assigned to nobody

[2020-06-16 07:31] TimotheusBachinger opened #4049 "rest/v1/get/host/active.lua: "attempt to concatenate a function value (local 'name')""
Hi ntop Team,

If we query rest/v1/get/host/active.lua with a valid ifid, we receive this error:

`HTTP/1.1 302 Found

Set-Cookie: session=xxxx; path=/; HttpOnly; SameSite=lax

Location: /lua/http_status_code.lua?message=internal_error&referer=ntop4.xxx.xxxx.com%3A3000%2Flua%2Frest%2Fv1%2Fget%2Fhost%2Factive.lua%3Fifid%3D2&error_message=%2Fusr%2Fshare%2Fntopng%2Fscripts%2Flua%2Frest%2Fv1%2Fget%2Fh

[2020-06-16 07:35] gabryon99 commented on #4044
<img width="940" alt="Screenshot 2020-06-16 at 09 35 07" src="https://user-images.githubusercontent.com/14114916/84745302-ac6cb180-afb4-11ea-8d50-6da3ee69119e.png">

The buttons are now implemented.

[2020-06-16 08:23] cardigliano commented on #4048
@TimotheusBachinger this is working for me, do you have an IP address configured in ifconfig on the interface you are providing with ifid?

[2020-06-16 08:37] #4049 closed, assigned to cardigliano

[2020-06-16 08:38] cardigliano commented on #4049
I pushed a fix for this, available with the next build

[2020-06-16 08:42] TimotheusBachinger commented on #4049
Thanks a lot for the quick fix!

[2020-06-16 09:33] gabryon99 commented on #4040
See: https://github.com/ntop/ntopng/commit/c2c763c2c1353057e9613d7cba3976b59a29b053#diff-587b20c94f784ad1cd0d6242bdf300a5R13

[2020-06-16 10:21] lucaderi commented on #640
Closing this ticket. Will reopen is necessary. We believe the behaviour reported is correct

[2020-06-16 10:21] #640 closed, assigned to lucaderi

[2020-06-16 10:22] lucaderi commented on #4038
@Hagshur Can you please assist to reproduce the issue you reported?

[2020-06-16 10:24] lucaderi commented on #4034
Please use the ntop package as Simone said. We have no control on the brew package

[2020-06-16 10:24] #4034 closed, assigned to nobody

[2020-06-16 12:53] #4045 closed, assigned to gabryon99

[2020-06-16 12:53] #4044 closed, assigned to gabryon99

[2020-06-16 12:55] simonemainardi commented on #4043
after internal review, we have decided to keep the look of old datatables unchanged. Those will be replaced with new datatables.

[2020-06-16 12:55] #4043 closed, assigned to gabryon99

[2020-06-16 13:03] simonemainardi commented on #4040
good to go

[2020-06-16 13:03] #4040 closed, assigned to gabryon99

[2020-06-16 15:06] ubun3t opened #4050 "Classify IP traffic to new application or category"
Hi all, I am trying to config ntop to group all traffic from some IP's (CDN) to a new category. Something like "Netflix-CDN or Facebook-CDN" to see quickly how much traffic doesn't leave those CDNs.

(ntopng Enterprise M Edition v.4.0.200615 )

I add a new application and in "rules box" set the network (x.x.x.x/24 or whatever).
In rules I am trying with :
ip:1.1.1.0/24
and
1.1.1.0/24

Ntop need to

[2020-06-16 17:39] oliwirth commented on #3686
Dear Simone, SNMP now works in version 4.1!!!
Nice! Thanks for fixing!
Just a short remark, in version 3.8 graphs were shown also via snmp. That was useful, since traffic was split into send and received. Graphs seem not to be available anymore?
Do you plan to implement this again?

[2020-06-16 20:46] simonemainardi commented on #3686
Thanks for reporting. Charts are available also in 4.1, just make sure they are enabled from the preferences:

![image](https://user-images.githubusercontent.com/3397663/84826377-28054780-b023-11ea-9467-cc29546c031a.png)

[2020-06-16 20:46] #3686 closed, assigned to nobody

[2020-06-17 07:23] TimotheusBachinger commented on #4048
@cardigliano I was discussing the topic with one of our consultants and I'll guess I misunderstood the concept. As the ifid was - I assume - a ZMQ interface, we do not have an IP address configured there:
![image](https://user-images.githubusercontent.com/57113191/84867879-1ef49480-b07c-11ea-9dd4-32bb4846109d.png)
So we can close this ticket.

[2020-06-17 07:29] zimbawe998 opened #4051 "Issue on logs after morning update"
17/Jun/2020 09:26:55 [AlertCheckLuaEngine.cpp:168] WARNING: Script failure[/usr/share/ntopng/scripts/callbacks/interface/flow.lua] [/usr/share/ntopng/scripts/callbacks/interface/flow.lua:458: attempt to index a nil value (local 'flow_status_type')]
17/Jun/2020 09:26:55 [AlertCheckLuaEngine.cpp:168] WARNING: Script failure[/usr/share/ntopng/scripts/callbacks/interface/flow.lua] [/usr/share/ntopng/s

[2020-06-17 07:37] gabryon99 commented on #3980
See the commit: https://github.com/ntop/ntopng/commit/a5c8be329a034d754c757e478fba0f5acc3b93a0

[2020-06-17 07:44] cardigliano commented on #4048
Ok thank you

[2020-06-17 07:44] #4048 closed, assigned to cardigliano

[2020-06-17 09:22] lucaderi commented on #4038
Closed for inactivity. Will reopen if input will be provided

[2020-06-17 09:22] #4038 closed, assigned to simonemainardi, lucaderi

[2020-06-17 09:47] lucaderi commented on #4046
Fixed

[2020-06-17 09:47] #4046 closed, assigned to nobody

[2020-06-17 09:59] lucaderi commented on #3980
Not working. You need a server side IP address validation

[2020-06-17 15:39] ubun3t commented on #4050
Hi, Any idea with that?

Thanks.

[2020-06-17 15:58] simonemainardi commented on #4050
Confirmed. Reproduced.

Due to ntopng failing to properly write ip rules to the file.

[2020-06-17 16:57] simonemainardi commented on #4050
Issue is fixed. Thanks for reporting. New builds are in progress. Please wait a couple of hours and update.

It's safe to specify just the addresses. Examples

![image](https://user-images.githubusercontent.com/3397663/84926882-5428d300-b0cc-11ea-8678-bad06fce15ae.png)

[2020-06-17 18:25] ubun3t commented on #4050
Thanks Simone, I have update and now my version is ntopng Enterprise M Edition v.4.0.200617.

Now ntop write well in protos.txt but after restart disappears again in web interface.

Thanks in advance.

![ntopng_Applications_and_Categories](https://user-images.githubusercontent.com/16337441/84935141-97893e80-b0d8-11ea-90ef-655cf3f1a1c4.png)

[2020-06-17 18:35] ubun3t opened #4052 "Custom Application - Not Resolved"
Hi Simone, the issue isn't resolved. Please check  #4050 comments.

Thanks in advanced.

[2020-06-17 19:49] #4052 closed, assigned to nobody

[2020-06-17 19:50] simonemainardi commented on #4050
what's the path of your `-p` custom protocol file? I guess the reboot deletes it so you may have put it under /tmp

[2020-06-17 19:53] ubun3t commented on #4050
This is the path :
-rw------- 1 ntopng ntopng  /var/lib/ntopng/protos.txt

And I haven't rebooted the machine, only restarted the service

[2020-06-17 20:29] DigiAngel opened #4053 "Fails to compile SNMP_LIB@ error"
Topic:
[code]
Latest git, pulled seconds ago.

[2020-06-17 21:27] ShagoY opened #4054 "Ntopng don't see sent/received traffic"
Hello,

Currently, I only have "total traffic" and "dropped packets", but other times, I do have "sent traffic" and "received traffic" in the statistics tab of my interface.

I have two ntopng installed in my network (1 directly on the proxmox host and the second one on a VPS which serves as a Wireguard server). Both have the same configuration but the one on the VPS shows me the inbound/outbound

[2020-06-18 06:48] simonemainardi commented on #4053
please run

[code]

[2020-06-18 06:54] simonemainardi commented on #4054
When only one direction is shown, it means the interface has been configured to receive "Mirrored Traffic" under the interface preferences page. In this case, the traffic is assumed to only enter the interface so only one 'side' is shown.

When both directions are charted, it means the interface has not been configured with "Mirrored Traffic". In this case, the interface is assumed to TX and RX so

[2020-06-18 06:54] #4054 closed, assigned to nobody

[2020-06-18 09:24] oliwirth commented on #3686
Dear Simone,
something does not work correct in SNMP. I realised it after the upgrade 2 days before.

SNMP shows duplicate names for different IP adresses. Also the names are changing after a while.
Have a look on IP 10.10.41.16 in both attached pics.

![ntopng_snmp_wrong_names1](https://user-images.githubusercontent.com/47536446/85003240-3ef88680-b156-11ea-98f6-fe205b125d6b.jpg)
![ntopng_snmp_wro

[2020-06-18 09:27] simonemainardi commented on #3980
implemented using server side address validation and resolution via a REST SNMP endpoint https://www.ntop.org/guides/ntopng/api/rest/api_v1.html#SNMP

Now the 'add' modal stays open until the 'add' request has succeeded. In case of errors (e.g., resolution failed) the modal shows an error and allows the user to opportunely modify the fields.

![image](https://user-images.githubusercontent.com/3397

[2020-06-18 09:27] #3980 closed, assigned to simonemainardi, gabryon99

[2020-06-18 09:30] oliwirth commented on #3686
Actual version: ntopng Enterprise M Edition v.4.1.200618

[2020-06-18 09:40] oliwirth commented on #3686
correct allocation is:
10.0.2.1         Cisco ASA Module l3-02a
10.0.0.1         Cisco Cat6509 l3-01
10.10.41.16   Brocade ICX6430 gificx15
10.10.29.181 Brocade ICX7450 icxq37
10.10.29.163 Brocade VDX vdxc03
10.10.29.90   Brocade ICX6450 icxx36

[2020-06-18 11:16] DigiAngel commented on #4053
Worked a treat...thank you!

[2020-06-18 11:16] #4053 closed, assigned to nobody

[2020-06-18 13:29] simonemainardi commented on #3686
Let's focus on `10.10.41.16` which is supposed to be Brocade ICX6430 gificx15.

As soon as you add it, name and descriptions are correct? Did you notice any particular action which causes this change?

An snmp packet capture would be useful to further dig into the issue. Can you record SNMP traffic until you see the issue occurring and then send us the resulting pcap file?

[2020-06-18 13:48] zimbawe998 commented on #4051
The problem persist since yesterday morning update.
18/Jun/2020 15:45:05 [AlertCheckLuaEngine.cpp:168] WARNING: Script failure[/usr/share/ntopng/scripts/callbacks/interface/flow.lua] [/usr/share/ntopng/scripts/callbacks/interface/flow.lua:458: attempt to index a nil value (local 'flow_status_type')]
18/Jun/2020 15:45:05 [AlertCheckLuaEngine.cpp:168] WARNING: Script failure[/usr/share/ntopng/script

[2020-06-18 14:24] zimbawe998 commented on #4051
after the latest update 15 miutes ago, the problem persist.
18/Jun/2020 16:22:25 [AlertCheckLuaEngine.cpp:168] WARNING: Script failure[/usr/share/ntopng/scripts/callbacks/interface/flow.lua] [/usr/share/ntopng/scripts/callbacks/interface/flow.lua:458: attempt to index a nil value (local 'flow_status_type')]
18/Jun/2020 16:22:20 [AlertCheckLuaEngine.cpp:168] WARNING: Script failure[/usr/share/ntopn

[2020-06-18 16:12] ubun3t commented on #4050
Hi Simone, any update? How can I resolve it?

Regards,

[2020-06-18 16:30] simonemainardi commented on #4050
attach your protos.txt here

[2020-06-18 16:38] simonemainardi commented on #4051
Can you report the full log since the startup?

[2020-06-18 16:41] ubun3t commented on #4050
root@ntop ~# cat /var/lib/ntopng/protos.txt
FaceBook-CDN
ip:45.228.235.192/26@FaceBook-CDN

NetFlix-CDN
ip:45.5.116.184/29@NetFlix-CDN

YouTube-CDN
ip:45.228.235.140@YouTube-CDN
ip:45.228.235.141@YouTube-CDN
ip:45.5.116.204@YouTube-CDN
ip:45.5.116.205@YouTube-CDN

I have removed #

[2020-06-18 22:16] lucaderi commented on #3388
We have implemented the ability to enable/disable interfaces via SNMP as requested

Example of a script that sets a port down
local port_up    = "1"
local port_down  = "2"
local ifIdx = "6" -- interfaceIndex
rsp = ntop.snmpset("127.0.0.1", "public", 5, 1, "1.3.6.1.2.1.2.2.1.7."..ifIdx, "i", port_down)

As of port status, please refer to #3833

As of the other request about the VLAN we believe this

[2020-06-18 22:16] #3388 closed, assigned to nobody

[2020-06-18 22:17] lucaderi commented on #3833
ntopng can now toggle interface status with

function snmp_dev:set_interface_status(snmp_host_ip, if_idx, toggle_to_up)

[2020-06-18 22:28] lucaderi opened #4055 "Extend GUI for SNMP host configuration"
Currently ntopng supports only SNMP v1/v2c. For adding SNMPv3 support as requested by  #1839 the following changes are requested:

a) In case SNMP v1 or 2c is set
- Change the current field "Community" to "Read Community"
- Add "Write Community"

Consistency checks: read community cannot be empty, write community is optional.

When adding a new device from the GUI please call snmp_config.add_devic

[2020-06-18 22:34] lucaderi commented on #3686
The above bug should be fixed by now. Overnight new packages will be built

[2020-06-19 09:09] lucaderi opened #4056 "Implement ntopng federation"
As of today, when multiple ntopng are installed, they do not speak each other. So simple operations such as searching a host and visualize its traffic, requires a manual search on all of them.

This is to request to implement a page where "companion" ntopng instances are defined (IP, and credentials) so what
- when a host is searched in the search box, remote hits are also reported
- clicking on a

[2020-06-19 09:14] lucaderi opened #4057 "Implement filtering on view interfaces (i.e. flow deduplication)"
When interfaces are merged in a view, sometimes there are cases where traffic is duplicated. This can happen in cases such
- ntopng monitors interface eth0 and eth1
- a view:all is created
- there are flows between hosts on eth0 and eth1

In essence we need to deduplicate traffic in case is between a host on eth0 with the corresponding recipient on eth1 and vice-versa (this as the flow is reported

[2020-06-19 09:15] lucaderi opened #4058 "Add reload button on SNMP page"
In /lua/pro/enterprise/snmpdevices_stats.lua add a reload button somewhere (e.g. next to the + icon) that refreshes the content of the table below.

[2020-06-19 09:18] lucaderi opened #4059 "Invalid form fill when adding multiple devices"
Suppose to add a host in SNMP. After adding such host, we now add a second host. In this case the form where data has to be entered is not empty but it still contains the previous values as shown in the picture. This is a bug and it must be fixed.

![Screen Shot 2020-06-19 at 11 17 01](https://user-images.githubusercontent.com/4493366/85116990-6dda2f80-b21e-11ea-8869-061b72cf0683.png)

[2020-06-19 09:21] lucaderi opened #4060 "Export alerts via ZMQ"
When multiple ntopng instances are speaking each other via ZMQ, only flows are exported and not alerts.

It is requested to implement alert export via ZMQ (in addition to flows), so that a remote ntopng instance can both visualize traffic and alerts.

When implementing this, add an option to tell ntopng to export
- only flows (as today)
- only alerts
- both flows and alerts (future default)

[2020-06-19 09:25] lucaderi opened #4061 "Rework device location code"
Create a small module where given a host, we can learn the SNMP device and port where such device is located. This will enable the implementation of #2904 and #3453

Note that the code that implements this feature is already present in the host page: it simply needs to be moved onto a separate module that will then promote code reuse.

[2020-06-19 09:47] simonemainardi commented on #4050
Using the file provided, behavior is consistent and new protocols are always present even across multiple ntopng restarts:

[code]

[2020-06-19 13:37] ubun3t commented on #4050
I don't understand why doesn't works for me

Let me show you :

`~# ntopng --version`
`v.4.0.200619    [Enterprise/Professional build]`
`GIT rev:        4.0-stable:b0c5fcc3fef67a9670dc351468ef80aa4df1a824:20200619`

My ntopng.conf has :

`--ndpi-protocols=/var/lib/ntopng/protos.txt`

I have tried to start manually with :

`ntopng -i "tcp://10.0.41.106:5551" -p /var/lib/ntopng/protos.txt -m 10.0.0.

[2020-06-19 14:53] christianbj87 opened #4062 "Migrate license"
Hi, we changed the server and need to migrate the license files of nProbe and NFlite plugin.
I need to contact you because i have already reset the license a few months ago.

 nprobe -v

Welcome to nProbe v.9.1.200617 (r6899) for x86_64-unknown-linux-gnu
with native PF_RING acceleration.
Copyright 2002-20 ntop.org

Build OS:      CentOS Linux release 7.7.1908 (Core)
SystemID:      689ED9C782072B16

[2020-06-19 16:52] simonemainardi commented on #4062
Contact us privately for licensing issues. Note that reset is only allowed one time per license.

[2020-06-19 16:52] #4062 closed, assigned to nobody

[2020-06-19 21:20] ggsubs opened #4063 "Error when building on FreeBSD - SyslogCollectorInterface.cpp"
Error when building on FreeBSD 11.3 from 4.0-stable:

`
c++ -g -Wall -I/root/build/ntopng -I/root/build/ntopng/include -I/usr/local/include -I /root/build/ntopng/third-party/hiredis -I/root/build/ntopng/third-party/mongoose -I/usr/local/include/json-c    -I../nDPI/src/include -I../nDPI/src/lib/third_party/include -I/root/build/ntopng/third-party/lua-5.3.5/src -I/usr/local/include  -I/root/build/nt

[2020-06-20 02:34] ggsubs opened #4064 ""No buffer space available" error on FreeBSD when initializing ZMQ"
The following receive buffer size is is not tolerated by FreeBSD:

[code]
The following error shows at startup. 10x reduction of the buffer solves the issue on FreeBSD.

[code]

[2020-06-20 07:20] gabryon99 commented on #4059
See the commit: https://github.com/ntop/ntopng/commit/0c71e32abf6b32680675de980583ba5c5ebb3bb0

[2020-06-20 07:20] gabryon99 commented on #4058
See the commit: https://github.com/ntop/ntopng/commit/0c71e32abf6b32680675de980583ba5c5ebb3bb0

[2020-06-20 07:56] gabryon99 commented on #3962
I have implemente reset logic for the `modalHandler`. See the Widget page for reference: https://github.com/ntop/ntopng/commit/7a532c75aa63c4f604d3012ea649fb0f938a7107

[2020-06-21 14:15] subhajitchatu opened #4065 "nEdge packet receiving modes"
I want to run nEdge as a package in my Linux based firewall. What are the options to send packets to nEdge from Linux kernel. Is it possible to send packets to nEdge like nDPI which supports various packet receiving modes?(NFQ, iptable, DPDK etc) Also if I want to send packets from nEdge to other modules is there any interface available? (eg. nEdge to IPS/IDS) Or is it meant for a standalone box w

[2020-06-22 07:33] #4059 closed, assigned to gabryon99

[2020-06-22 07:54] lucaderi opened #4066 "Buttons should be present when necessary"
![Screen Shot 2020-06-22 at 09 52 35](https://user-images.githubusercontent.com/4493366/85262547-3792ef00-b46e-11ea-8d1f-8a555c2edaed.png)
Delete buttons should be displayed when necessary. In the above picture there are no unresponsive devices to show

[2020-06-22 07:54] simonemainardi opened #4067 "SNMP table sort not preserved after refresh"
When the table with SNMP devices is refreshed (either periodically or manually by clicking refresh) the order is lost and rows change their position. This happens when the sort column doesn't guarantee per-row uniqueness (e.g, sort by community, sort by interfaces with errors).

[2020-06-22 07:54] #4058 closed, assigned to gabryon99

[2020-06-22 08:44] simonemainardi commented on #3962
there's a conflict with the are-you-sure.

Clicking on 'Reset Default' undoes all changes but then are you sure complains about changed data.

Moreover, 'Reset Default' behavior in

![image](https://user-images.githubusercontent.com/3397663/85267225-45983e00-b475-11ea-8987-3948b3a2ec94.png)

Should 'reset' the fields to the ntopng default, and not undo the changes. To undo the changes, it suffices

[2020-06-22 09:28] simonemainardi opened #4068 "User Script Configuration Clone Broken"
Using the button 'clone' always overwrites the current configuration.

![image](https://user-images.githubusercontent.com/3397663/85271464-200e3300-b47b-11ea-9eed-8831546ba0c4.png)

This is what happens when clicking 'clone' and setting the name to 'office' - default no longer exists.

![image](https://user-images.githubusercontent.com/3397663/85271476-256b7d80-b47b-11ea-8ec5-4f4e31e6a612.png)

sa

[2020-06-22 10:15] simonemainardi commented on #4065
In general, nEdge is meant for a standalone box.

nEdge uses NFQ internally to process enough traffic to take decisions (e.g., pass/drop/shape) and then leverages kernel conntrack.

nEdge uses one interface as LAN and one or more interfaces for the WAN(s). To send/receive traffic from/to it, you should use 'standard' (i.e., no tun/tap/bridge/dummy/lo) network interfaces of the system.

Feeding it

[2020-06-22 10:25] simonemainardi commented on #4064
@madpilot78 are you able to help @ggsubs with this FreeBSD issue?

[2020-06-22 10:27] simonemainardi commented on #2222
superseded by #4056

[2020-06-22 10:27] #2222 closed, assigned to nobody

[2020-06-22 10:35] simonemainardi commented on #1855
System monitoring implemented in the latest ntopng 4.1.

System monitoring is available under the system inteface

![image](https://user-images.githubusercontent.com/3397663/85278046-ac712380-b484-11ea-9ebd-a42d68e2c659.png)

![image](https://user-images.githubusercontent.com/3397663/85278171-daeefe80-b484-11ea-9ebc-bafdc841eec5.png)

Modularity is achieved by means of plugins.

nProbe and n2disk

[2020-06-22 10:35] #1855 closed, assigned to simonemainardi

[2020-06-22 11:00] oliwirth commented on #3686
Hello Luca,
yes now the display remains correct.
Thanks for fixing it!

[2020-06-22 11:12] madpilot78 commented on #4064
Hi, the error looks related to kernel mbufs exhaustion.
Strange this is happening at startup for you. It never happened in my testing.

@ggsubs could you report which version of FreeBSD you are using? Is ntopng compiled from the ports tree or gotten through the FreeBSD packages system?

Also could you report the ouput of "netstat -m".

Maybe raising the mbufs through the kern.ipc.nmbufs sysctl cou

[2020-06-22 12:06] simonemainardi commented on #4063
@madpilot78 can you please help @ggsubs with this as well. Thank you.

[2020-06-22 13:27] simonemainardi commented on #4061
implemented in https://github.com/ntop/ntopng/commit/5bb52b1793069f8573cdbcd338bdc306ca862f5c and companion pro commit

[2020-06-22 13:27] #4061 closed, assigned to simonemainardi

[2020-06-22 14:22] Yotouille commented on #2044
Hi,

I would be really grateful if I could use my own MTA to send email alerts, as I do with every other services, without needing to fire-up/maintain one more postfix process. :)

I think we only need StartTLS support, using AUTH method, and being able to enter a custom smtp port if needed.

Namaste

ps: google what...? x)

[2020-06-22 15:47] madpilot78 commented on #4063
@ggsubs Again I have never met such error while testing.

Exactly which revision of ntopng are you trying to compile? Are you using the ports framework or building standalone?

[2020-06-22 17:52] #4068 closed, assigned to simonemainardi

[2020-06-22 17:54] simonemainardi commented on #4050
Issue turned out to be an invalid rule in a custom category which was causing an exception and, consequently, the lua script wasn't able to complete and load all the rules.

![image](https://user-images.githubusercontent.com/3397663/85306265-83658880-b4ae-11ea-8a75-8fb7a1bc6e59.png).

Issue is now fixed in dev and stable.

[2020-06-22 17:54] #4050 closed, assigned to simonemainardi

[2020-06-22 20:18] StewAlexander-com opened #4069 "[Feature Request] Mobile phone view"
Hi all,

I can log into my instance of NTOPNG with my phone, however its essentially a carbon copy of the desktop version ...

All I see are the folder names at the right in portrait mode, in landscape mode its slightly better but things are cut off, and Its not that elegant.

I'm pretty sure I am not the only user who would like to see a mobile friendly view of ntopng

Thank you for considering t

[2020-06-22 20:23] simonemainardi commented on #4069
Duplicate of #4047

[2020-06-22 20:23] #4069 closed, assigned to nobody

[2020-06-22 20:58] StewAlexander-com commented on #4047
I agree, I often need this while out and about looking at our network equipment, but I can't read it from my phone

[2020-06-23 04:29] zimbawe998 commented on #4051
Hi Simone,
with the last update, some minutes ago, everythings started ok without problems.

[2020-06-23 06:37] ldceven opened #4070 "unify suricata and ntopng not worked problem"
Hi
It costs me Several days  to unify suricata and ntopng according to the guides, and it still not worked，and no data in interface syslog

my computer info：
a single physical
OS：Centos 7.7
Network interface: bond1
Ntopng: v.4.0.200409  from Yum install
Web Port: 127.0.0.1:3000
Syslog Port: 127.0.0.1:9999
Firewall: 9999 open
Suricata: 5.0.2

Ntopng and suricata Installed on the same machine

1.Sur

[2020-06-23 07:00] simonemainardi commented on #4051
I think it was something more related to the upgrade procedure than ntopng per se as I have never been able to reproduce. Anyway, thanks for reporting.

[2020-06-23 07:00] #4051 closed, assigned to simonemainardi

[2020-06-23 07:03] simonemainardi commented on #2044
@Yotouille it is supported:

![image](https://user-images.githubusercontent.com/3397663/85371331-55288d00-b530-11ea-9cf6-c15fb5a0d73b.png)

check the latest version of ntopng 4.1 or stable 4.0.

[2020-06-23 07:12] cardigliano commented on #4070
@ldceven is it an option for you to move to latest ntopng 4.1? Many improvements have been added to the syslog integration since the version you are running.

[2020-06-23 07:26] ldceven commented on #4070
I will try the updated version

[2020-06-23 08:57] simonemainardi opened #4071 "Custom Protocols not applied over ZMQ"
Having a defined list of custom protocols

![image](https://user-images.githubusercontent.com/3397663/85383285-139fde00-b540-11ea-9f86-ca40845d5cc5.png)

Allows to categorize traffic on packet interfaces

![image](https://user-images.githubusercontent.com/3397663/85383347-23b7bd80-b540-11ea-836a-d8606d58f1e2.png)

![image](https://user-images.githubusercontent.com/3397663/85383380-2b776200-b540-11

[2020-06-23 08:58] ldceven commented on #4070
I just updated to the new version, or the same problem, will there be other reasons?
V：4.1.200623

[2020-06-23 09:14] cardigliano commented on #4070
Please check the ntopng log (from journalctl or running ntopng in foreground) and make sure there is a "Incoming connection from" message to make sure rsyslog connects to ntopng.

[2020-06-23 09:35] ldceven commented on #4070
This is the running log of ntopng, which is using v.4.0.2 version, please help to see if there is a problem, it seems that there is no error.

 J u n   2 3   1 7 : 2 7 : 4 7   z h c - s e c u r i t y - n i d s - p r o - 1   d a e m o n . i n f o   s y s t e m d :     S t a r t i n g   n t o p n g   h i g h - s p e e d   w e b - b a s e d   t r a f f i c   m o n i t o r i n g   a n d   a n a l y s 

[2020-06-23 09:39] ldceven commented on #4070
there is a "Incoming connection from" message to make sure rsyslog connects to ntopng.
This is the running log of ntopng, using v.4.0.2 version, please help to see if there is a problem? It seems that there is no error

Jun 23 17:27:47 zhc-security-nids-pro-1 daemon.info systemd:  Starting ntopng high-speed web-based traffic monitoring and analysis tool...
Jun 23 17:27:47 zhc-security-nids-pro-1 d

[2020-06-23 09:42] ldceven commented on #4070
This is the running log of ntopng, using v.4.0.2 version, please help to see if there is a problem with the configuration? It seems that there is no error, but the log does not have "Incoming connection from"

Jun 23 17:27:47 zhc-security-nids-pro-1 daemon.info systemd:  Starting ntopng high-speed web-based traffic monitoring and analysis tool...
Jun 23 17:27:47 zhc-security-nids-pro-1 daemon.info

[2020-06-23 10:20] simonemainardi commented on #4071
Fixed in:

- [dev] https://github.com/ntop/ntopng/commit/7920d77a1588200067365f03a8f3d4f43d8b00c1
- [stable] https://github.com/ntop/ntopng/commit/e5b2c6b723f9fa6a9451c00c6a987838a5c3b44a

[2020-06-23 11:48] lucaderi commented on #3693
This bug seems to be fixed Now it works. The problem is that clustering hosts prevents them from being placed at the right place. The picture below shows the problem with 3 hosts belonging to the same subnet and located at 12.109700202942,43.147899627686 and placed in the wrong place

![Screen Shot 2020-06-23 at 13 45 48](https://user-images.githubusercontent.com/4493366/85400094-27efd500-b558-11e

[2020-06-23 13:08] cardigliano commented on #4070
It seems rsyslog is not connecting to ntopng, please configure it according to the instructions at https://www.ntop.org/guides/ntopng/advanced_features/syslog.html#syslog-relay-configuration-optional

[2020-06-23 14:23] simonemainardi commented on #4024
No feedback received. Closing. Reopen with the necessary information if necessary.

[2020-06-23 14:23] #4024 closed, assigned to simonemainardi

[2020-06-23 14:24] simonemainardi commented on #3959
implemented

[2020-06-23 14:24] #3959 closed, assigned to gabryon99

[2020-06-23 14:33] simonemainardi commented on #2869
this is part of the current rewrite of alert recipients

[2020-06-23 14:33] #2869 closed, assigned to nobody

[2020-06-23 14:49] oliwirth opened #4072 "How to Prevent Flow Drops"
Hello ntop team,

I discover data amount differences between my productive ntopng version 4.0 and my testing system version 4.1.

Please see attached two pictures. The graphs are the same but the scale and thus the average traffic differs in factor 3.

![ntopng40-2](https://user-images.githubusercontent.com/47536446/85415794-07327a00-b56e-11ea-93ca-aa9388cf566b.jpg)
![ntopng41-2](https://user-imag

[2020-06-23 14:58] simonemainardi commented on #4072
yes, having fewer cores may lead to packet/flow drop and consequent reduction of the traffic. By the way, you should see the amount of dropped traffic if you visit the interface page.

Please check and also report ntopng configuration used

[2020-06-23 15:02] oliwirth commented on #4072
My boss now asked, me with a smile, if we can enlarge the transported data amount with increasing to 16 CPU Cores....

[2020-06-23 15:27] oliwirth commented on #4072
Ah, ok, yes the interfaces showed some dopped packets, but  remains on the same level.
I restartet ntopng and now the counters remain zero on both systems (8CPU Cores).

What do do if they are increasing?

[2020-06-23 15:27] oliwirth commented on #4072
My ntopng config:

-G=/var/run/ntopng.pid
-i tcp://127.0.0.1:2056
-i tcp://127.0.0.1:9997
-i ens3
--max-num-flows 1000000
--max-num-hosts 1000000
-m 140.181.0.0/16,10.0.0.0/8
-n 1
-p /var/lib/ntopng/custom.proto
--online-license-check

[2020-06-23 15:36] oliwirth commented on #4072
I realise that on my production system (4.0) the `dropped ZMQ messages` are increasing to 18000 within 15 min for our Internet Interface (lots of flows) but the shown data is the same than inthe testsystem (4.1)
any advice what I can do?

[2020-06-23 16:30] simonemainardi commented on #4072
Drops are the reason of the discrepancy. Losing 18k messages over 15 minutes may be negligible, though.

Each single `-i` interface uses one thread, so given your configuration, it won't matter much to go from 8 to 16 cores.

What's the configuration of nProbe? Is it collecting NetFlow? sFlow?

[2020-06-23 20:14] simonemainardi opened #4073 "Add flow src and dst DSCP"
Add `u_int16_t` `src_dscp` and `dst_dscp` inside each flow.

DSCP is:

- IP header TOS for IPv4
- IP header Traffic Class for IPv6

DSCPs are populated as follow.

For packet interfaces:
- processPacket performs flow->setDSCP(dscp, cli_2_src /* true or false if the direction is either cli2srv or srv2cli*/)

For ZMQ interfaces:

- processFlow performs:
  - flow->setDSCP(SRC_TOS, true)
  - flow->set

[2020-06-23 20:16] simonemainardi opened #4074 "Implement DSCP stats"
Implement class `DSCPStats()` which counts bytes and packets, for each of the 22 codepoints listed at https://www.cisco.com/c/en/us/support/docs/quality-of-service-qos/qos-packet-marking/10103-dscpvalues.html and for each direction (cli2srv and srv2cli).

Implementation will be done with a small hash (say 5 buckets) to accomodate at most 22-items TrafficStats-array lazily initialized. Class must a

[2020-06-23 20:18] simonemainardi opened #4075 "Write DSCP stats timeseries"
A timeseries with sent and received bytes will be written for each local host and for each interface for every non-zero or the 22 codepoints listed at https://www.cisco.com/c/en/us/support/docs/quality-of-service-qos/qos-packet-marking/10103-dscpvalues.html

Local host timeseries will be written with 5-minute (1 minute) granularity as Layer-7 statistics.

Interface timeseries will be written every

[2020-06-23 20:21] simonemainardi opened #4076 "Dump DSCP to downstream stores"
Src and dst DSCP must be dumped to nIndex and ES.

To add DSCP to ES it suffices to extend `Flow::flow2json`
To add DSCP to nIndex, extra columns need to be added to `NIndexFlowDB.cpp`

Extra columns should also be added when visualizing extracted nIndex data and DSCP should be printed in a human-friendly way using the utility in `flow_utils.lua` implemented as part of https://github.com/ntop/ntop

[2020-06-23 22:11] ozoumi opened #4077 "Ntopng NoIP issue"
Hey,
I installed Ntopng in Ubuntu 20.04 LTS, and i can get informations about my network traffic. but while testing the solution i noticed that most client/server flows dont contain ip addresses (NoIP).

ntopng.conf
-----------------------------------------
--pid-path=/var/tmp/ntopng.pid
--daemon
--interface=ens33
--http-port=3000
--local-networks="172.18.68.0/23"
--dns-mode=1
--data-dir=/var/tmp/

[2020-06-24 06:49] simonemainardi commented on #4077
NoIP means no IP traffic. It could be DHCP for example. Check the flow application for additional information.

[2020-06-24 06:49] #4077 closed, assigned to nobody

[2020-06-24 07:11] simonemainardi commented on #4065
Closing. Reopen with the requested information if necessary and if you want to move forward with the discussion.

[2020-06-24 07:11] #4065 closed, assigned to nobody

[2020-06-24 07:19] gabryon99 commented on #4012
Create a Stub function to create simple Bootstrap Toasts

[2020-06-24 07:50] gabryon99 commented on #4067
See this commit: https://github.com/ntop/ntopng/commit/0b561c4d9a2fd2cf7af23120a5ec9b02b0656f5f

[2020-06-24 08:21] ozoumi commented on #4077
Actually, i tried wireshark to see if i can get that traffic, i've noticed many communications are presented with src port and destination and morr but for the ip addresses i don't get such information, however with wireshark i get the ip address.
Ps: wasn't dhcp

[2020-06-24 09:35] simonemainardi opened #4078 "Move Configurations out of User Scripts"
Configurations allow to specify heterogeneous groups of hosts, local networks, interfaces, snmp devices, etc. Such configurations are currently used to differentiate user scripts execution for each group. Configurations should become a general concept across the whole ntopng as they will be used not only to differentiate user scripts execution, but also to identify notification recipients. Let's c

[2020-06-24 09:54] simonemainardi commented on #4067
not working

[2020-06-24 10:12] #4066 closed, assigned to gabryon99

[2020-06-24 10:25] simonemainardi commented on #4071
issue is still present when using probe IP as disaggregation criterion

[2020-06-24 10:26] ldceven commented on #4070
I have tested and configured another rsyslog server, and can receive  logs, indicating that the rsyslog configuration is fine, and can forward syslog normally. The following is my test results

syslog server
![image](https://user-images.githubusercontent.com/67267374/85538309-58fb0300-b647-11ea-865b-38e2337e8d56.png)

I don’t know why I configured syslog to forward to 127.0.0.1:9999 on the same ma

[2020-06-24 10:38] cardigliano commented on #4070
Great, now please configure suricata as syslog producer as explained at
https://www.ntop.org/guides/ntopng/advanced_features/syslog.html#logs-demultiplexing
and let me know if you are able to see alerts coming from Suricata

[2020-06-24 10:51] ldceven commented on #4070
can to see alerts coming from Suricata
**syslog test server:**
![image](https://user-images.githubusercontent.com/67267374/85542233-7205b300-b64b-11ea-81fe-2f041f123c10.png)

**suricata :**
![image](https://user-images.githubusercontent.com/67267374/85542325-8cd82780-b64b-11ea-97f8-ed0f1ed969c5.png)

[2020-06-24 10:53] cardigliano commented on #4070
Are you able to see them in ntopng?

[2020-06-24 11:05] ldceven commented on #4070
no data in interface syslog。。。
![image](https://user-images.githubusercontent.com/67267374/85544459-9e223380-b64d-11ea-8068-47a8c72c3fcf.png)

[2020-06-24 12:39] #4071 closed, assigned to simonemainardi

[2020-06-24 13:18] simonemainardi commented on #4077
What was it? Better if you attach the wireshark capture.

[2020-06-24 14:28] oliwirth commented on #4072
nprobe is collecting netflow from two cisco device (cat 6900)

here is the nprobe config:
1) LHCone is a VRF to a science network `/etc/nprobe/nprobe-LHCone.conf`
-i=none
-n=none
--collector-port 9996
--zmq tcp://127.0.0.1:9997

and
2) our Internet connection `/etc/nprobe/nprobe-MSFC.conf`
-i=none
-n=none
--collector-port 2055
--zmq tcp://127.0.0.1:2056

[2020-06-24 14:30] oliwirth commented on #4072
nprobe is collecting netflow from two cisco device (cat 6900)

here is the nprobe config:

1. LHCone is a VRF to a science network /etc/nprobe/nprobe-LHCone.conf
    -i=none
    -n=none
    --collector-port 9996
    --zmq tcp://127.0.0.1:9997

and
2. our Internet connection /etc/nprobe/nprobe-MSFC.conf
-i=none
-n=none
--collector-port 2055
--zmq tcp://127.0.0.1:2056

[2020-06-24 14:30] oliwirth commented on #4072
nprobe is collecting netflow from two cisco device (cat 6900)

here is the nprobe config:
1. LHCone is a VRF to a science network /etc/nprobe/nprobe-LHCone.conf
    -i=none
    -n=none
    --collector-port 9996
    --zmq tcp://127.0.0.1:9997

and
2. our Internet connection /etc/nprobe/nprobe-MSFC.conf
    -i=none
    -n=none
    --collector-port 2055
    --zmq tcp://127.0.0.1:2056

[2020-06-24 14:32] oliwirth commented on #4072
nprobe is collecting netflow from two cisco device (cat 6900)

here is the nprobe config:

1) LHCone is a VRF to a science network `/etc/nprobe/nprobe-LHCone.conf`:
    -i=none
    -n=none
    --collector-port 9996
    --zmq tcp://127.0.0.1:9997

and
2) our Internet connection `/etc/nprobe/nprobe-MSFC.conf`:

-i=none
-n=none
--collector-port 2055
--zmq tcp://127.0.0.1:2056

[2020-06-24 15:51] #3852 closed, assigned to simonemainardi, gabryon99

[2020-06-24 16:06] simonemainardi commented on #3853
not enforced

[2020-06-24 16:08] simonemainardi commented on #3853
To enforce the max limit, remove method

https://github.com/ntop/ntopng/commit/90fd2122931af5fd906e46b7010fb227d621115f#diff-76f033502d8e6cc05fd9389f4d8c47c0R21

max limit must come with method `notification_configs.get_types()`

[2020-06-24 16:37] #3855 closed, assigned to simonemainardi, gabryon99

[2020-06-24 16:48] #3854 closed, assigned to simonemainardi, gabryon99

[2020-06-25 07:48] simonemainardi commented on #4067
fixed with https://github.com/ntop/ntopng/commit/2da75c8f93d6beedcf5bf6d3efab77fca4375536

[2020-06-25 07:48] #4067 closed, assigned to gabryon99

[2020-06-25 10:11] simonemainardi opened #4080 "User script flow/external_alert_check.lua executed when not necessary"
User script flow/external_alert_check.lua is executed also when not necessary. It must be only executed when syslog is enabled.

This script is also very time consuming:

![image](https://user-images.githubusercontent.com/3397663/85700729-f2282900-b6dc-11ea-978c-4cfa1c4b9452.png)

[2020-06-25 10:57] lucaderi commented on #1839
Implemented with today's commit. Note that it's available only on dev builds and it will be merged with the next stable release.

[2020-06-25 10:57] #1839 closed, assigned to nobody

[2020-06-25 10:58] lucaderi commented on #4055
Implemented with today's commit. Note that it's available only on dev builds and it will be merged with the next stable release.

[2020-06-25 10:58] #4055 closed, assigned to gabryon99

[2020-06-25 13:25] TimotheusBachinger opened #4081 "REST call to get all IP adresses which are known by one ifid"
Hi ntop Team,

We need to map a list of checkmk's internal IP adresses to the known IP adresses of ntop ng.
This could be similar to: lua/hosts_stats.lua

We formerly discussed in our google docs with: "implement endpoint get/host/interfaces.lua which returns the list"

Regards
Timi

[2020-06-25 13:27] TimotheusBachinger opened #4082 "REST call to get all interface ids of one ntop ng instance"
Hi ntop Team,

in order to manage a new ntop ng instance, we need to get a list of all available interface ids of this instance.

This could be similar to `interface.getIfNames() `

The following data would be needed:

- receive ifid
- receive human readable name for ifid

Regards
Timi

[2020-06-25 15:26] lucaderi opened #4083 "Nil name in host pool alerts"
![image](https://user-images.githubusercontent.com/4493366/85749285-0255fd80-b709-11ea-95be-8d304b24c62b.png)

[2020-06-25 16:18] mroe1234 opened #4084 "VLAN dynamic disaggregation issue"
Here is a tcpdump of the flows received from a particular netflow generator.  This data was captured from the nprobe host.  As you can see the template provided by the generator includes the SRC_VLAN, and the two flows have vlan_id of '0' and '95'.

In the ntopng interface I select the interface (tcp://127.0.0.1:5556), then select "interface" on the left, then the gear icon (config), then select "

[2020-06-25 16:27] lucaderi commented on #3693
![Screen Shot 2020-06-25 at 18 25 49](https://user-images.githubusercontent.com/4493366/85759518-62e93880-b711-11ea-9e2f-b3b3b3705d22.png)
![Screen Shot 2020-06-25 at 18 25 42](https://user-images.githubusercontent.com/4493366/85759534-6381cf00-b711-11ea-9dec-65295c932a9b.png)

Furthermore please
- a consequence of the above geolocation discrepancy is that you put host in places they should be (eg

[2020-06-25 16:57] simonemainardi commented on #4084
please report ntopng and nprobe configurations used. Also it would be important to have a netflow pcap capture so we can replay it in our lab. You can send it privately to me at mainardi at ntop dot org.

[2020-06-25 17:04] simonemainardi commented on #4081
what about `scripts/lua/rest/v1/get/interface/address.lua`? It should do what you are looking at.

[2020-06-25 17:30] #4082 closed, assigned to nobody

[2020-06-25 17:36] mroe1234 opened #4085 "Custom ElasticSearch template"
We find ourselves needing to customize the ElasticSearch template that ships with ntopng.  I have included the diff below.  Is there a way to specify the use of a custom template?  It also seems like every time ntopng restarts, it re-uploads the template from the default location, which reverts any custom changes.

    # diff /usr/share/ntopng/httpdocs/misc/ntopng_template_elk7.json /etc/ntopng/cu

[2020-06-25 17:37] simonemainardi commented on #4081
See also the documentation at: https://www.ntop.org/guides/ntopng/api/rest/examples_v1.html#get-interface-ip-addresses

[2020-06-25 17:38] simonemainardi commented on #4085
currently, this is not supported.

[2020-06-25 17:40] mroe1234 commented on #4084
nprobe.conf:
    --collector-port=2055
    --zmq=tcp://*:5556
    -T=@NTOPNG@

ntopng.conf:
    -G=/var/run/ntopng.pid
    -i tcp://127.0.0.1:5556
    -i tcp://*:1234c
    -m 10.10.0.0/16
    -F es;_doc;ntopng-%Y.%m.%d;http://elasticserver:9200/_bulk;

[2020-06-25 18:48] TimotheusBachinger commented on #4081
Hi Simone,

as far as we understood, `get/interface/address.lua` returns the IP adress to an ifid. E.g. in our system, where we only have one ifid (which is an zmq interface), we get no IP at all from this call. However in the ntopng web ui we see of course a lot of different IP adresses, which are monitored.
This is what we would like to receive via a REST call.

Regards
Timi

[2020-06-25 21:15] mroe1234 commented on #4085
In case this takes a while to implement and others need something like it in the future.  We ended up using patch to fix the template and making it an ExecStartPre script in systemd.  This has the benefit being to embrace minor template chances and if ntopng's template changes dramatically and the patch can't be successfully applied, ntopng won't start and effect the ElasticSearch cluster:

     [

[2020-06-26 06:54] simonemainardi commented on #4081
This is implemented already: https://www.ntop.org/guides/ntopng/api/rest/examples_v1.html#get-host-interfaces

This is normal. `get/interface/address.lua` returns the physical network interface address as read from the operating system and there's no such address for ZMQ.

This is what we would like to receive via a REST call.

To retrieve the list of active hosts of a particular interface the end

[2020-06-26 07:19] cardigliano commented on #4070
Do you see "Incoming connection from" messages in the ntopng logs now? I need to to make sure rsyslog connects to ntopng.

[2020-06-26 07:31] simonemainardi commented on #4084
Said that in the netflow pcap packet capture provided there are 4 netflow exporters and only one is actually exporting VLANs - the guy using template id 2885 - everything works as expected, both on stable and dev releases.

![image](https://user-images.githubusercontent.com/3397663/85830949-bef1a280-b78d-11ea-9db6-7122c39a59ce.png)

dev:

![image](https://user-images.githubusercontent.com/3397663/

[2020-06-26 08:58] #4083 closed, assigned to simonemainardi

[2020-06-26 10:08] #4080 closed, assigned to nobody

[2020-06-26 10:13] simonemainardi commented on #4072
Configurations look good. As also highlighted by you, 8 cores suffice to keep your instance running drop free. Drops are the cause of the reduced traffic and they are clearly shown (both as total volume and with an historical chart) under the interface page.

[2020-06-26 10:13] #4072 closed, assigned to nobody

[2020-06-26 10:54] TimotheusBachinger commented on #4082
Thanks a lot for the fast response + implementation!

[2020-06-26 12:23] mroe1234 commented on #4084
There is only one nprobe instance running on the local machine.  I get the same results if I use the config file or the cli.

[2020-06-26 12:39] simonemainardi commented on #4084
everything is working as expected so it must be something with the configuration. Did you follow my suggestion? Did you change the configurations as I've indicated?

[2020-06-26 12:49] #3856 closed, assigned to simonemainardi, gabryon99

[2020-06-26 12:52] simonemainardi commented on #3533
duplicate of #2965

[2020-06-26 12:52] #3533 closed, assigned to nobody

[2020-06-26 14:18] mroe1234 commented on #4084
nprobe.conf:
--collector-port=2055
--zmq=tcp://127.0.0.1:5556
-T=@NTOPNG@

ntopng:
-G=/var/run/ntopng.pid
-i tcp://127.0.0.1:5556
-i tcp://*:1234c

So I took half your suggestion and instead of listening on all interface, I limited zmq to 127.0.0.1, and that seems to do the trick.  Does that mean something else was emitting into zmq screwing up the data?

[2020-06-26 15:06] simonemainardi commented on #4084
Thanks for reporting.

By the way, there's no need to limit to 127.0.0.1 but it would be desirable, security-wise, if both ntopng and nprobe are on the same machine.

Note that:

- when you use ntopng in collector mode, e.g.,  `-i tcp://*:1234c` you can send data from multiple nprobe simultaneously but each one must have the ntopng ip address and option `--zmq-probe-mode` (`--zmq="tcp://<ntopng ad

[2020-06-26 15:06] #4084 closed, assigned to simonemainardi

[2020-06-26 16:34] simonemainardi commented on #4004
Alerts implemented

![image](https://user-images.githubusercontent.com/3397663/85879410-9c39ab00-b7da-11ea-92dc-c1f36acf51b6.png)

Scores increased as suggested.

Alerts are raised if at least one of the following conditions is detected:
- **TCP connection refused**: The three way handshake hasn't completed and we've seen a srv2cli RST
- **Suspicious TCP Probing**: If no srv2cli packet has been se

[2020-06-26 16:34] #4004 closed, assigned to nobody

[2020-06-27 12:30] hvdbrand commented on #3873
I also tested it again with an expired certificate and cannot reproduce
the issue.

On Mon, May 11, 2020 at 2:53 PM Emanuele Faranda <notifications@github.com>
wrote:

[2020-06-27 18:07] lucaderi commented on #3873
Good so we assume it is closed by now. Thank you

[2020-06-28 03:31] ldceven commented on #4070
Did not see it,
![image](https://user-images.githubusercontent.com/67267374/85937082-c3a38b80-b932-11ea-8e32-df8c9922baa7.png)

28/Jun/2020 11:27:17 [SyslogCollectorInterface.cpp:272] Collecting flows on syslog://127.0.0.1:9999
28/Jun/2020 11:27:16 [NetworkInterface.cpp:2343] Started packet polling on interface syslog://127.0.0.1:9999 [id: 2]...
28/Jun/2020 11:27:16 [NetworkInterface.cpp:2343] Sta

[2020-06-28 13:37] lucaderi commented on #4078
This ticket contains some valid points but it does not addresses the problem as a whole. IMHO the starting point are host pools so that we can simplify, and not complicate as proposed here, the application design. Let's recap: host pools define group of hosts that fall under the same administrative domain. In order to bring this concept to user script it is necessary to
create a concept similar to

[2020-06-29 07:24] cardigliano commented on #4070
It seems rsyslog is not connecting to ntopng, please try connecting manually (e.g. using netcat: nc 127.0.0.1 9999), you should see those messages

[2020-06-29 07:53] ldceven commented on #4070
syslog config
![image](https://user-images.githubusercontent.com/67267374/85987593-6259e600-ba20-11ea-8571-5d1c9eff59cd.png)

nc 127.0.0.1 9999   Did not see any messages
![image](https://user-images.githubusercontent.com/67267374/85987618-6dad1180-ba20-11ea-97d5-5f2b8bd05649.png)

[2020-06-29 07:55] cardigliano commented on #4070
Still no messages in the ntopng logs? Could you provide ssh access to debug this? (you can send a direct mail to cardigliano at ntop.org)

[2020-06-29 08:03] ldceven commented on #4070
Sorry, it's not very convenient. This is our intranet server. Thank you for your support.

[2020-06-29 15:52] simonemainardi opened #4086 "[configuration] Make host pools global"
Currently, host pools are a per-interface concept. To simplify configuration, host pools need to become a global concept.

It is requested to:
- refactor `host_pools_utils.lua` API to remove any reference to the interface ids.

For the migration:
- migrate existing per-interface host pools configuration into the global host pools
- host pool timeseries: copy in case of RRD, no action in case of In

[2020-06-29 15:58] simonemainardi opened #4087 "[configuration] Add a 'Pools' menu entry under 'System'"
A Pools menu entry needs to be added under system.

A sub-menu must be created for each of the following items

- Host pools
- Interface pools
- Local network pools
- SNMP devices pools
- Active measurement pools

Host pools sub-menu will point to a page which is currently what is contained under 'Interface'->host pools. The other sub-menus will point to ad-hoc pages listing the defined pools with

[2020-06-29 16:22] simonemainardi opened #4088 "[configuration] Implement pool_utils.lua"
To handle the following pools != host pools:

- Interface pools
- Local network pools
- SNMP devices pools
- Active measurement pools

a lua module must be implemented.

the API will be the following:

- `add_pool(pool_name, pool_type)`
- `rename_pool(pool_name, new_pool_name)`
- `delete_pool(pool_name)`
- `add_pool_member(pool_name, member)`
- `delete_pool_member(pool_name, member)`
- `clear_pool

[2020-06-29 16:32] simonemainardi opened #4089 "[configuration] Implements GUI to configure Interface pools"
Once https://github.com/ntop/ntopng/issues/4087 is implemented, a GUI must be implemented for the creation/deletion/edit of Interface pools.

A page with the list of pools will be shown when clicking System->Pools->Interface. A 'plus' sign will allow the addition of interface pools.

A column 'edit' will allow to:
- delete a pool
- rename a pool
- add/delete a pool member

All actions must call a

[2020-06-29 16:38] simonemainardi opened #4090 "[configuration] Implements GUI to configure Local network pools"
Once https://github.com/ntop/ntopng/issues/4087 is implemented, a GUI must be implemented for the creation/deletion/edit of Local network pools.

A page with the list of pools will be shown when clicking System->Pools->Local Networks. A 'plus' sign will allow the addition of interface pools.

A column 'edit' will allow to:
- delete a pool
- rename a pool
- add/delete a pool member

All actions mus

[2020-06-29 16:42] simonemainardi opened #4091 "[configuration] Implements GUI to configure SNMP devices pools"
Once https://github.com/ntop/ntopng/issues/4087 is implemented, a GUI must be implemented for the creation/deletion/edit of SNMP devices pools.

A page with the list of pools will be shown when clicking System->Pools->SNMP Devices. A 'plus' sign will allow the addition of SNMP devices pools.

A column 'edit' will allow to:
- delete a pool
- rename a pool
- add/delete a pool member

All actions mus

[2020-06-29 16:44] simonemainardi opened #4092 "[configuration] Implements GUI to configure Active measurement pools"
Once https://github.com/ntop/ntopng/issues/4087 is implemented, a GUI must be implemented for the creation/deletion/edit of Active measurement pools.

A page with the list of pools will be shown when clicking System->Pools->Active measurement. A 'plus' sign will allow the addition of interface pools.

A column 'edit' will allow to:
- delete a pool
- rename a pool
- add/delete a pool member

All ac

[2020-06-29 16:54] simonemainardi opened #4093 "[configuration] 'Add to pool' shortcuts"
Once #4089 #4090 #4091 #4092 have been implemented, shortcuts for the addition of pool members must be added:

- Interface pools: A dropdown with the list of available interface pools must be added under the if_stats.lua->cog page
- Local network pools: A dropdown with the list of available local network pools must be added under the cog icon of the network details (http://devel:3000/lua/network_d

[2020-06-29 17:07] simonemainardi opened #4094 "[configuration] Implement lua to map user scripts with pools"
The association between pools and user scripts is an extension of `user_scripts.lua`. The following methods need to be implemented:

- `add_pool(subdir, config, pool_name)`
- `delete_pool(subdir, config)`

The two methods above must be exposed via a REST API and need to be tested and exemplified.

[2020-06-29 17:08] simonemainardi opened #4095 "[configuration] GUI to map user scripts with pools"
Once https://github.com/ntop/ntopng/issues/4094 is implemented, the 'Apply to' column under the user scripts configuration page must be changed to show a dropdown with all the defined pools:

- Host user scripts must show a dropdown with all the host pools defined
- Flows: must be left as-is
- Interface pools must show a dropdown with all the interface pools defined
- Local network pools must show

[2020-06-29 17:40] lucaderi opened #4096 "Invalid sort in SNMP page"
![poll](https://user-images.githubusercontent.com/4493366/86037904-5da52a00-ba40-11ea-90ba-5069f501900f.png)

[2020-06-29 20:18] drivmont opened #4097 "JSON error when accessing Hosts and Looking Glass menu"
ntopng Community Edition v.3.8.200529 loaded on a Netgate/Pfsense box.
When I access the Hosts menu I get this error:

SyntaxError: JSON.parse: expected ',' or '}' after property value in object at line 9 column 262 of the JSON data

When I access the Looking Glass menu I get this error:

SyntaxError: JSON.parse: expected ',' or '}' after property value in object at line 4 column 262 of the JSON d

[2020-06-29 20:53] simonemainardi commented on #4097
3.8 is no longer supported. Supported stable release is 4.0. Please upgrade.

[2020-06-29 20:53] #4097 closed, assigned to nobody

[2020-06-30 06:06] simonemainardi opened #4098 "[configuration] Implements GUI to configure Host pools"
Once https://github.com/ntop/ntopng/issues/4087 is implemented current tabs (except for unassigned devices) under Interface->Host pools must be moved under System->Pools->Hosts.

[2020-06-30 08:23] lucaderi commented on #4096
Implemented

[2020-06-30 08:23] #4096 closed, assigned to gabryon99

[2020-06-30 11:49] mroe1234 opened #4099 "Custom Disaggregation filter is invalid"
verson: ntopng Enterprise M Edition v.4.1.200629

It seems that no matter what value I put in for Traffic Filter, including any of the provided examples.  I always get "Invalid filter" error.  As seen below, I copied and pasted one of the examples.

![image](https://user-images.githubusercontent.com/7173287/86122673-37b27080-baa6-11ea-875a-019cd8d42cbf.png)

[2020-06-30 12:19] cardigliano commented on #4099
@mroe1234 the same filter is working for me, what OS are you running?

[2020-06-30 13:25] mroe1234 commented on #4099
Debian Buster 10.4
4.19.0-8-amd64 #1 SMP Debian 4.19.98-1 (2020-01-26) x86_64 GNU/Linux

[2020-06-30 14:07] terminet85 opened #4100 "Syslog and Fortigate"
[code]

I've configured ntopng to get syslog from an Fortigate. I've followed this guide: https://www.ntop.org/guides/ntopng/advanced_features/syslog.html#syslog-relay-configuration-optional I've added the ip address of the FGT in Syslog Log Producers. But no data is displayed.

[code]

[2020-06-30 14:22] cardigliano commented on #4100
There is a debug mode to make sure ntopng is processing the logs:

  1. ntopng must be running
  2. set syslog verbosity to 1 or 2 (more logs) via redis: redis-cli set "ntopng.prefs.vpn_debug_enabled" "1"
  3. restart ntopng (better if you start it in foreground to read the logs on screen)

Are you able to check this?
Otherwise please provide us some logs generated by the fortigate (you can use ne

[2020-06-30 14:53] terminet85 commented on #4100
[code]

[code]

[2020-06-30 15:19] cardigliano commented on #4100
Could you check that the fortigate is sending logs containing:
type="event" subtype="vpn" action="tunnel-up"

[2020-07-01 09:15] terminet85 commented on #4100
[code]

[2020-07-01 09:23] simonemainardi commented on #4081
@TimotheusBachinger please provide feedback

[2020-07-01 09:25] cardigliano commented on #4100
@terminet85 ntopng should detect this event, any chance you can provide access to this system for debugging?

[2020-07-01 09:44] terminet85 commented on #4100
@cardigliano sure check your email box :)

[2020-07-01 09:51] TimotheusBachinger commented on #4081
Hi Simone,

sorry for not replying earlier. https://www.ntop.org/guides/ntopng/api/rest/examples_v1.html#get-active-hosts is what were looking for.
Thanks a lot!

Regards
Timi

[2020-07-01 09:51] #4081 closed, assigned to simonemainardi

[2020-07-01 09:52] simonemainardi commented on #4081
good, thanks for reporting

[2020-07-01 12:30] #4086 closed, assigned to simonemainardi

[2020-07-01 14:08] simonemainardi commented on #4098
Implemented:

Now the interface page only shows unassigned devices:

![image](https://user-images.githubusercontent.com/3397663/86253511-f066d580-bbb4-11ea-9f9b-1dedb8db2d7c.png)

Whereas global host pools are configurable from the system interface:

![image](https://user-images.githubusercontent.com/3397663/86253631-13918500-bbb5-11ea-8692-8af501684388.png)

[2020-07-01 14:08] #4098 closed, assigned to simonemainardi

[2020-07-01 14:09] simonemainardi commented on #4087
Menu implemented

![image](https://user-images.githubusercontent.com/3397663/86253715-32901700-bbb5-11ea-9e10-a34acb6c8e38.png)

Currently containing host pools. Additional pools will be added when implementing the other issues linked above.

[2020-07-01 14:09] #4087 closed, assigned to simonemainardi

[2020-07-01 20:39] lucaderi opened #4101 "Invalid confirm behaviour"
The confirm windows should not be displayed when
- the reload button is clicked
and then
- the user clicks on a hostname

![Screen_Shot_2020-07-01_at_22_34_48](https://user-images.githubusercontent.com/4493366/86289073-52423200-bbeb-11ea-8eaf-57f263fb4ef0.png)

[2020-07-01 20:41] lucaderi commented on #4101
![Screen Shot 2020-07-01 at 22 40 35](https://user-images.githubusercontent.com/4493366/86289390-e90eee80-bbeb-11ea-829e-f769fe23c17b.png)
Same bug when removing devices

[2020-07-01 20:47] pbyrne-tpt opened #4102 "Cannot determine n2disk timeline directory when using multiple dump directories"
Hi, we're having an issue with locating the timeline directory when using a manually controlled n2disk instance and multiple dump directories.

![image](https://user-images.githubusercontent.com/26063721/86289601-032fd900-bbba-11ea-930e-73ece5718ff0.png)

Here is the n2disk configuration:
--interface=nt:0
--dump-directory=/nvme1/n2disk/pcap/
--dump-directory=/nvme2/n2disk/pcap/
--dump-directory=/n

[2020-07-02 09:03] lucaderi opened #4103 "Create SNMP device breadcrumb"
![Screen Shot 2020-07-02 at 11 02 58](https://user-images.githubusercontent.com/4493366/86339286-b26cbe80-bc53-11ea-96f7-e1da374f4577.png)

SNMP navigation is complicated. This in particular when exploring interfaces. It is requested to implement a host breadcrumb to ease the navigation.

The main page is /lua/pro/enterprise/snmpdevices_stats.lua that shows all configured devices and it can be sim

[2020-07-02 12:44] gabryon99 commented on #3693
Removed the label below the map

[2020-07-02 12:44] gabryon99 commented on #3693
See commit: https://github.com/ntop/ntopng/commit/32dec57efb074d5d8937779385a6b3c6a138b203

[2020-07-02 12:44] #3693 closed, assigned to gabryon99

[2020-07-02 14:39] lucaderi commented on #4103
Implemented

[2020-07-02 14:39] #4103 closed, assigned to gabryon99

[2020-07-02 16:11] lucaderi commented on #4101
Fixed. It was reproducible with a host without SNMPv3: the v3 fields were not populated and thus the error

[2020-07-02 16:11] #4101 closed, assigned to gabryon99

[2020-07-03 09:07] gabryon99 opened #4104 "[configuration] Adding new pools"
In order to implement the pools adding, it's requested to create an endpoint will manage the following `POST` request (using interfaces pool for example):
[code]
The request contains always the same parameters across all different pool types.

When the request succeeds then a response like this is expected:
[code]

[2020-07-03 09:52] lucaderi opened #4105 "License save alert"
With ntopng enterprise L, the license must be saved on a text file as this is used also by nprobe and n2disk. In case the use puts the license on the web GUI (and only for the L version), ntopng mush show an alert asking the user to write the license file on disk otherwise the companion apps will be broken

[2020-07-03 10:10] gabryon99 opened #4106 "[configuration] Get members and config avaibles for pools"
It's requested to create two Lua functions to get the available members to create a new pool and the available config sets. When a new pool it's added the GUI will disable the members and config used by the new pool.

The functions name can be like: `*_pool_list_members()` and `*_snmp_pool_list_configsets()`. Where the `*` can be SNMP, Interface, Local Network, Active Monitoring, ...

[2020-07-03 10:14] gabryon99 opened #4107 "[configuration] Edit an existing Pool"
To edit an existing pool it's requested to implement a rest endpoint. The request will be like the following:
[code]

When the request succeeds then an answer it's expected from `rc_utils`.

[2020-07-03 10:17] gabryon99 opened #4108 "[configuration] Deleting an existing pool"
To delete an existing pool a request like this will be sent to the rest endpoint:
[code]

When the request succeeds an answer from `rc_utils` is expected.

[2020-07-03 10:22] gabryon99 opened #4109 "[configuration] Get pools available"
It's requested to implement a rest endpoint to get all the pools created inside the ntopng for a specific type.
The method interface can be like this:
[code]
The pool info must contain the name, the id, the members, and the config set associated.

[2020-07-03 10:52] gabryon99 commented on #4105
For the first case we will show the following message:
"_Please be aware that you need also to create /etc/ntopng.license file as this file is used by the other companion applications. See https://www.ntop.org/support/faq/what-is-included-in-ntopng-enterprise-l/ for details_"

for the second case:
"_We advise you create as well ntopng.license file (according to the instructions you received) to av

[2020-07-03 13:03] simonemainardi commented on #4106
Methods added. currently added for interfaces, will be extended for other pool types.

usage

[code]

[2020-07-03 17:22] simonemainardi commented on #4109
is a reponse like this OK:

[code]

[2020-07-04 10:17] Eugene-Prokhorenko opened #4110 "SNMP versions error"
I added some v2c devices in ntopng and next day I noticed, that some v2c changed to v3. Plz fix this.

[2020-07-06 04:38] garygaryyung opened #4111 "can Ntop import a Netflow file for analyzing the offline traffic?"
can Ntop import a Netflow file for analyzing the offline traffic?

[2020-07-06 07:17] gabryon99 commented on #4109
Yes, it's ok

[2020-07-06 07:50] simonemainardi commented on #4111
ntopng doesn't interpret netflow. To analyze netflow traffic, you need to use ntopng in combination with nProbe as described in https://www.ntop.org/guides/ntopng/advanced_features/sflow_collection.html?highlight=netflow#sflow-netflow-collection

In case you have a netflow packet capture that you want to replay, then you can use a tool such as `nfreplay` to send netflow to nProbe in collector mode

[2020-07-06 07:50] #4111 closed, assigned to nobody

[2020-07-06 07:51] gabryon99 commented on #4105
Fixed in https://github.com/ntop/ntopng/commit/5b6e1c1dee74f920c8fbf24ada0cf4a1409b62a6

[2020-07-06 07:51] #4105 closed, assigned to simonemainardi, gabryon99

[2020-07-06 08:03] simonemainardi commented on #4110
please report the version you are using.

[2020-07-06 08:25] lucaderi commented on #4110
@Eugene-Prokhorenko Please report how to to reproduce the issue.

[2020-07-06 08:34] cardigliano commented on #4102
@pbyrne-tpt what n2disk version are you running? (It seems I cannot reproduce this with the same conf and latest n2disk)

[2020-07-06 08:35] cardigliano commented on #4102
Please also provide cat /proc/net/pf_ring/stats/*

[2020-07-06 08:44] gabryon99 commented on #4012
In `menu_alert_notifications.lua` (under `scripts/lua/modules`) there is a function called `load_notifications()` to create the notifications to show when a page is loaded. See also `alert_notification.lua` to get further details

[2020-07-06 09:34] gabryon99 commented on #3881
<img width="793" alt="Screenshot 2020-07-06 at 11 33 50" src="https://user-images.githubusercontent.com/14114916/86578730-92533d00-bf7c-11ea-920c-a58af4abe5b3.png">
 Fixed

[2020-07-06 09:37] gabryon99 commented on #3881
See: https://github.com/ntop/ntopng/commit/f8dac7967d0d3663c2592cd6dace3a60d5d6cc6c

[2020-07-06 09:37] #3881 closed, assigned to gabryon99

[2020-07-06 09:43] Eugene-Prokhorenko commented on #4110
I update every day.

eugene@asnet-monitoring:~$ ntopng -V
v.4.1.200705    [Enterprise/Professional build]
GIT rev:        dev:fdb486e088753871809637ba66e25dc246cb543c:20200705
Pro rev:        r3098
Built on:       Ubuntu 18.04.4 LTS
System Id:      2C1C53C100000F59
Platform:       x86_64
Edition:        Enterprise M
License Type:   Permanent
Maintenance:    Until Thu Jun 17 17:14:33 2021 [346 days

[2020-07-06 10:42] simonemainardi commented on #4106
new methods use the OO-implementation and can be used as follow

[code]

[2020-07-06 13:31] lucaderi commented on #4110
Thanks but I need to know how to reproduce the problem.

[2020-07-06 13:35] lucaderi opened #4112 "Empty LLDP Page"
When a single device is polled and it has no peers to which it connects to, the LLDP page is empty
![Screen Shot 2020-07-06 at 15 33 04](https://user-images.githubusercontent.com/4493366/86598902-21bd1800-bf9e-11ea-8cd9-9495f6e9979a.png)

It is requested
- to report a message so that the user knows that this is not a bug but there are no peers to represent

Note that the area for the map is pretty

[2020-07-06 14:24] simonemainardi opened #4113 "SNMP API not working from CLI"
Examples at https://www.ntop.org/guides/ntopng/api/rest/examples_v1.html#add-an-snmp-device used to work when called from the CLI. They no longer work as `_POST` doesn't contain parsed parameters, just a payload.

Expected behavior is to have _POST populated as now the _GET is populated, thing that happens when the rest API is called from the browser.

[2020-07-06 14:34] lucaderi commented on #4113
@simonemainardi Questions
- Shall I leave _GET populated or not?
- Shall _POST["payload"] be left populated or removed after JSON parsing?

[2020-07-06 14:40] simonemainardi commented on #4113
Yes. Leaving _GET populated will guarantee all REST endpoints to continue working either if you pass them data with the GET as well as if you pass them data with the POST.

Special care is only needed by REST endpoint authors to make sure contents of _POST are used when setting stuff. This is fundamental to protect from CSRF.

With reference to this endpoint, `payload` can safely be removed. If yo

[2020-07-06 14:45] ChunshengZhao opened #4114 "IP/Mac address Stats"
**Example：**

Day1
MAC:XXXX:XXXX:XXXX -> DHCP -> 192.168.0.1
(Router/AccessPoint) MAC Address:AAAA:BBBB:CCCC
 Total Bytes: 1.0GB

Day2
MAC:YYYY:YYYY:YYYY -> DHCP -> 192.168.0.1
(Router/AccessPoint) MAC Address:AAAA:BBBB:CCCC
Total Bytes: ?GB

On the Day1, one host got an IP (192.168.0.1), the "Total Bytes" I saw were: 1.0G, and the Day2, another host got the same IP (192.168.0.1), Even if this hos

[2020-07-06 15:45] simonemainardi commented on #4114
See https://www.ntop.org/guides/ntopng/basic_concepts/local_broadcast_domain.html

In essence, ntopng is smart enough to keep stats on a per-mac-address for hosts in your local broadcast domain. You only have to set "local broadcast domain identifier" to "Mac Address" in

![image](https://user-images.githubusercontent.com/3397663/86612276-2e4a6c00-bfb0-11ea-8e60-0fe0f16c9edb.png)

You can also con

[2020-07-06 15:45] #4114 closed, assigned to nobody

[2020-07-06 16:19] mroe1234 commented on #4099
Any ideas on how to even figure out what's throwing the error?

[2020-07-06 18:53] kg9oh opened #4115 "Graphing selected timeframe not showing"
ntopng menu Interface > emX[nic] > chart
the timeframe selection for the charting is not showing the current selection.
selection of the time series works just fine, but a current selection indicator would be great.

[2020-07-06 21:43] BigGillyStyle opened #4116 "Install from package doesn't work on macOS 10.15.5 Catalina"
I have downloaded and attempted to install ntopng from http://packages.ntop.org/MacOS/. I've tried both http://packages.ntop.org/MacOS/ntopng-4.1.200506.pkg and http://packages.ntop.org/MacOS/ntopng-4.1.200427.pkg , but yet no web GUI is present on http://127.0.0.1:3000. I made sure to have Redis installed and running (through HomeBrew) prior to running the ntopng install.

[code]

No app is runni

[2020-07-07 06:48] Eugene-Prokhorenko commented on #4110
Just add some (13 in my case) snmp devices with v2c. Cheked that they are visible and give graphs by interfaces. Next day you can see v3 instead of v2c. but graphs are ok.

[2020-07-07 07:06] cardigliano commented on #4099
@mroe1234 it seems we are not able to reproduce this, any chance you can provide access to this system for debugging?

[2020-07-07 08:29] ChunshengZhao commented on #4114
The MAC address seen in the system is not the real MAC of the device.
It is the interface MAC of the switch.

![图片](https://user-images.githubusercontent.com/9263377/86748385-00782c80-c06f-11ea-919a-8d5a1cf9a156.png)

Also: How can I search for sensitive URLs in the search box. For example, I want to find a computer that visits Google.com.

[2020-07-07 08:42] cardigliano commented on #4070
@ldceven unfortunately I cannot do much without connecting to the box for debugging this, the same is working for me. ntopng is reporting "Accepting connections on 127.0.0.1:9999" which means the socket is up, you should see "Incoming connection from" messages when you try to connect with netcat..

[2020-07-07 09:04] gabryon99 commented on #4112
A message when there are no nodes has been added. When the page loads it checks if there are node with edges, if not the message below will be shown:
<img width="1480" alt="Screenshot 2020-07-07 at 11 02 46" src="https://user-images.githubusercontent.com/14114916/86754731-66e65600-c041-11ea-85f3-f9b5368e44e7.png">
otherwise the topology graph will be shown. Now the canvas is 600px tall.

See these

[2020-07-07 09:04] #4112 closed, assigned to gabryon99

[2020-07-07 09:06] lucaderi commented on #4116
@BigGillyStyle Can you please open a shell and type /usr/local/bin/ntopng /usr/local/etc/ntopng/ntopng.conf and report the output?

[2020-07-07 09:07] lucaderi commented on #4110
![Screen Shot 2020-07-07 at 11 07 05](https://user-images.githubusercontent.com/4493366/86755574-073c7a80-c042-11ea-9daa-f3b06ba305c2.png)
Do you mean that the above picture, without you to do anything, changed from 2c to 3 ?

[2020-07-07 09:13] Eugene-Prokhorenko commented on #4110
Yes! I did nothing with this table after creation.

On Tue, July 7, 2020 13:07, Luca Deri wrote:

[2020-07-07 09:37] simonemainardi commented on #4112
@gabryon99 can yuu also hide the 'topology' links in the menubar when there are no nodes so the user doesn't end up in an empty page?

[2020-07-07 09:37] simonemainardi commented on #4115
please report a screenshot

[2020-07-07 12:38] kg9oh commented on #4115
screenshot per request.
circled area is the selectable items, however upon clicking there is no indication of the time series selection.
all data elements are working.

![ntopng](https://user-images.githubusercontent.com/67924543/86782436-aa7e9700-c024-11ea-99e8-9be931a8f36c.png)

[2020-07-07 13:40] simonemainardi commented on #4115
@gabryon99 can you please highlight the current selection in community mode

[2020-07-07 14:16] mroe1234 commented on #4099
best I can do is a zoom session

[2020-07-07 16:33] cardigliano commented on #4099
That should work, please send a direct email to cardigliano at ntop.org to schedule the call. Thank you.

[2020-07-07 17:42] pbyrne-tpt commented on #4102
@cardigliano
n2disk --version
n2disk v.3.4.200623 (r5201)

ntopng --version
v.4.0.200623    [Enterprise/Professional build]

[root@fpif-pcapl1 ~]# cat /proc/net/pf_ring/stats/88501-none.50
Duration:          0:00:01:00:016
Throughput:        2.10 Mpps    14.72 Gbps
Packets:           112788408
Filtered:          112788408
Dropped:           0
Bytes:             98505772875
DumpedBytes:       95330

[2020-07-07 17:55] mroe1234 commented on #4099
I think I tracked down the bug/feature.  I deployed a whole new stack to play around with.  The limitation seems to be I cannot create custom disaggregation filters while I'm disaggregating by VLAN ID.  The thought process here was I wanted to duplicate the vlan id disaggregation prior to switching disaggregation methods, so I don't lose data.  That's when I'm presented with the "invalid filter" e

[2020-07-08 06:32] simonemainardi commented on #4114
If the mac address seen by ntopng is the mac address of the router, then ntopng cannot reliably determine any DHCP IP address re-assignment.

Wht do you mean with Vlanif MAC?

Can you attach a pcap capture so I can do better checks?

[2020-07-08 06:48] cjwbath opened #4117 "RADIUS support disappeared?"
I updated to ntopng Enterprise M Edition v.4.0.200704 (and the underlying OS to Debian 10) and now I don't seem to have RADIUS authentication option available any more in preferences:

![image](https://user-images.githubusercontent.com/40788773/86886730-5987a500-c0ef-11ea-9c87-e26f8baf0b25.png)

Is there some dependency I need to install?

[2020-07-08 07:07] cardigliano commented on #4099
@mroe1234 thank you for digging more into this, we will handle this case

[2020-07-08 07:09] simonemainardi commented on #4117
debian10 release was not compiled with radius support which has now been added. Please, hold on a couple of hours for new builds to be generated, update, and try again.

[2020-07-08 07:09] #4117 closed, assigned to nobody

[2020-07-08 07:13] simonemainardi commented on #4094
This issue no longer holds. In the most recent design, we have decided to create pools for each entity, e.g., host pools, interface pools, snmp devices pools, etc. User scripts specific for each entity will now use a dedicated pool.

[2020-07-08 07:13] #4094 closed, assigned to simonemainardi

[2020-07-08 09:06] gabryon99 commented on #3634
Now in dark mode the active element is orange so the user can distinguish which element is active in the bar. See the commit: https://github.com/ntop/ntopng/commit/0f613d25be8a9aefb5fa8b3b80a8c907cf407c7b for further details.

[2020-07-08 09:06] #3634 closed, assigned to gabryon99, DGabri

[2020-07-08 09:09] cardigliano commented on #4102
@pbyrne-tpt having multiple dump directories should not affect this, it just looks for the TimelinePath. I am double checking with the exact version you are running.

[2020-07-08 09:10] erathaowl opened #4118 "Startup error: Not unique table/alias: flowsv4"
I'm running ntopng on a raspberry pi 4 with 4gb of ram; everything works fine until last update (from ntopng:armhf 4.1.200608-10460 to 4.1.200706-10698) then the service won't boot up.
The relevant part of daemon.log report mysql error:

[code]

I've tried to create a new (empty) db but the startup script, after creating the required tables fail as previous.
If i disable the flow dump ntopng start

[2020-07-08 09:17] gabryon99 commented on #4115
<img width="829" alt="Screenshot 2020-07-08 at 11 14 25" src="https://user-images.githubusercontent.com/14114916/86900876-30c1d880-c10c-11ea-8b87-1d297e2863e7.png">
<img width="829" alt="Screenshot 2020-07-08 at 11 15 54" src="https://user-images.githubusercontent.com/14114916/86901072-649cfe00-c10c-11ea-9fa1-f7bafe030cc0.png">

Now the timeframe is highlighted as request (in default theme and in

[2020-07-08 09:17] #4115 closed, assigned to gabryon99

[2020-07-08 10:04] gabryon99 commented on #4012
<img width="1792" alt="Screenshot 2020-07-08 at 12 02 40" src="https://user-images.githubusercontent.com/14114916/86905843-f445ab00-c112-11ea-9395-f2804b3bc111.png">

This is the expected outcome

[2020-07-08 10:26] #4099 closed, assigned to cardigliano

[2020-07-08 10:26] cardigliano commented on #4099
I pushed a fix for this. You can even use Dynamic and Custom disaggregation together now (custom rules have the priority)

[2020-07-08 10:52] cardigliano commented on #4102
@pbyrne-tpt ntopng/n2disk stable with the same conf is also working for me, could you update to latest stable revision and let me know?

[2020-07-08 12:41] zimbawe998 opened #4119 "NetBIOS.SMBv23 alert"
Alert say SMVv23 on non standard port even if it's using 445.

https://docs.microsoft.com/en-us/windows-server/storage/file-server/best-practices-analyzer/smb-open-file-sharing-ports

[2020-07-08 14:29] ChunshengZhao commented on #4114
Filter Hosts: DHCP Only
Order by: IP Address

At the same time, I saw hosts with the same IP address, and one of them got the correct VLAN ID and real MAC address, but the traffic did not seem to be correct. The other one did not get the correct VLAN ID and MAC address (Vlanif1 MAC), but the traffic looks correct.

My switch has many VLANs. I deployed NTOPNG on a port in VLAN 30, and this port mir

[2020-07-08 18:25] tusc commented on #3204
ntopng --version
v.4.1.200705    [Community build]
GIT rev:        dev:d1eca8dbafc00a8a87ef6009560104509eacff84:20200705

Was this ever addressed? This still appears in the latest version.

Hash table idle entries purging on host udm.*****.local is too slow. This could lead to high memory utilization, data accuracy loss and missing alerts.

[2020-07-08 20:14] pbyrne-tpt commented on #4102
Still having the issue with the following package versions:

cento-1.10.200704-527.x86_64
e1000e-zc-3.4.0.2.3040-dkms.noarch
i40e-zc-2.4.6.3040-dkms.noarch
igb-zc-5.3.5.18.3040-dkms.noarch
ixgbe-zc-5.5.3.3040-dkms.noarch
ixgbevf-zc-4.5.1.3040-dkms.noarch
n2disk-3.4.200704-5213.x86_64
n2n-2.6.0-250.x86_64
ndpi-3.2.0-2605.x86_64
nprobe-9.0.200704-6823.x86_64
ntopng-4.0.200704-9268.x86_64
ntopng-data

[2020-07-08 22:36] BigGillyStyle commented on #4116
[code]

[2020-07-09 07:01] cardigliano commented on #4102
@pbyrne-tpt let's schedule a call, please send an email to cardigliano at ntop.org

[2020-07-09 08:34] simonemainardi commented on #3204
Alert mentioned is suspicious: it is about hash table idle entries for an host. This is not possible, hash table entries are only a per-interface concept. I have pushed a fix. Wait for new builds to be generated and update.

In general, hash table idle entries alerts occur when there are too many hosts/flows in the system, so they cannot be handled timely by ntopng. In this case you can try (a com

[2020-07-09 08:46] simonemainardi commented on #4114
It's normal to see two hosts. Hosts in ntopng are keyed using VLANs. In the picture above you have:

- 172.17.20.119 VLAN 20
- 172.17.20.119 without VLAN

This means ntopng is seeing both VLAN-tagged and untagged traffic for 172.17.20.119. However, tagged traffic is just a very small amount (1.98K). Telling you what is that tagged traffic is not possible without seeing a capture. It can also depen

[2020-07-09 09:44] simonemainardi commented on #4118
Already fixed. Please update.

[2020-07-09 09:44] #4118 closed, assigned to nobody

[2020-07-09 09:50] simonemainardi commented on #4119
can you add a pcap capture and a screenshot of the alert?

[2020-07-09 10:55] simonemainardi commented on #4089
Implemented

![image](https://user-images.githubusercontent.com/3397663/87031402-638ad000-c1e3-11ea-9c9e-a716efa2c5c5.png)

[2020-07-09 10:55] #4089 closed, assigned to simonemainardi, gabryon99

[2020-07-09 10:56] simonemainardi commented on #4090
implemented

![image](https://user-images.githubusercontent.com/3397663/87031591-9fbe3080-c1e3-11ea-91ab-3656222159dc.png)

[2020-07-09 10:56] #4090 closed, assigned to simonemainardi, gabryon99

[2020-07-09 10:58] simonemainardi commented on #4091
implemented

![image](https://user-images.githubusercontent.com/3397663/87031812-e6ac2600-c1e3-11ea-8ec6-c74bd8a87008.png)

[2020-07-09 10:58] #4091 closed, assigned to simonemainardi, gabryon99

[2020-07-09 10:59] simonemainardi commented on #4092
implemented

![image](https://user-images.githubusercontent.com/3397663/87031889-03e0f480-c1e4-11ea-8a56-a414ccec98c6.png)

[2020-07-09 10:59] #4092 closed, assigned to simonemainardi, gabryon99

[2020-07-09 11:00] simonemainardi commented on #4106
implemented as described above

[2020-07-09 11:00] #4106 closed, assigned to simonemainardi

[2020-07-09 11:01] simonemainardi commented on #4107
Implemented as requested in the backend exposed in the following REST endpoints:

[code]

[2020-07-09 11:01] #4107 closed, assigned to simonemainardi

[2020-07-09 11:02] simonemainardi commented on #4108
Implemented as requested in the backend exposed in the following REST endpoints:

[code]

[2020-07-09 11:02] #4108 closed, assigned to simonemainardi

[2020-07-09 11:03] simonemainardi commented on #4109
Implemented as requested in the backend exposed in the following REST endpoints:

[code]

[2020-07-09 11:03] #4109 closed, assigned to simonemainardi

[2020-07-09 11:04] simonemainardi commented on #4104
Implemented as requested in the backend exposed in the following REST endpoints:

[code]

[2020-07-09 11:04] #4104 closed, assigned to simonemainardi

[2020-07-09 11:07] simonemainardi commented on #4088
implemented in class `pools/base_pools.lua` with the following API

[code]

Lua subclasses have been implemented for:

- Interface pools
- Local network pools
- SNMP devices pools
- Active measurement pools

in:

[code]

[2020-07-09 11:07] #4088 closed, assigned to simonemainardi

[2020-07-09 11:09] simonemainardi commented on #4078
Information in this ticket has been reviewed and implementation has been done accordingly. Individual tickets have been opened where necessary.

[2020-07-09 11:09] #4078 closed, assigned to simonemainardi

[2020-07-09 12:43] lucaderi opened #4120 "Implement REST API authentication tokens"
In ntopng authentication is based on username+password. This ticket is to request the implementation of authentication tokens used in the REST API instead of username+password. This means that REST API users can ether provide
- username+password
or
- token (without username+password)

in REST API calls.

Tokens are bound to users (ie. a user has up to one token). The token is used ONLY for the RES

[2020-07-09 12:46] erathaowl commented on #4118
[code]

[code]

sorry but ... no update available at the moment; i'm on a wrong repository?

[2020-07-10 07:35] TimotheusBachinger commented on #4120
Hi Luca,

thanks for the proposal.

We would have a follow-up question regarding the implementation.

- Imagine a situation where multiple checkmk users have different ntop accounts
- In order to get a token for every checkmk user's ntop account, all credentials of those ntop accounts must be stored on the checkmk server OR all the password must be queried (e.g. via a pop-up)
- Or could we only st

[2020-07-10 07:46] erathaowl opened #4121 "Ntopng 4.1.200706-10698"
Already fixed. Please update.

_Originally posted by @simonemainardi in https://github.com/ntop/ntopng/issues/4118#issuecomment-656027063_

[code]

[code]

Hi Simone,
thank you for your reply in the original thread; I've try to update the package but version 4.1.200706-10698 is the lastest available at the moment; Maybe I'm on a wrong repository?

[2020-07-10 07:50] #4121 closed, assigned to nobody

[2020-07-10 07:52] simonemainardi commented on #4118
new builds are being generated

[2020-07-10 08:04] simonemainardi commented on #4118
they'll be ready in 2 hours from now

[2020-07-10 08:10] erathaowl commented on #4118
thank you!

[2020-07-10 12:01] ChunshengZhao commented on #4114
1. How to capture packets?  Use Wireshark?  How long does it take to capture?  2. How to provide the data package safely?  e-mail?  3. The question I asked before: how to save the URL visited and support search or trigger an alarm when accessing a specific URL.  I currently use the community version.Thanks!

[2020-07-11 14:52] ChunshengZhao commented on #4114
[code]

interface GigabitEthernet0/0/24
 port link-type access
 **port default vlan 30**

Is this configuration correct?
The ntop server is connected to 24 ports, and the IP is: xxx.xxx.30.1 . I accessed the server by http://xxx.xxx.30.1 .

[2020-07-13 08:16] cardigliano commented on #4027
Also consider https://github.com/ntop/ntopng/issues/3296 in the solution

[2020-07-13 09:31] notyourcommy commented on #4027
UPD* sorry, I din't know that was a reply directly to github

#3296 is interested in numbers for src and dst while we need graphs +95th percentile for PREV/NEXT as.
Of course it can be merged into one request somehow. (btw, we also asked for src/dst graphs for netflow/sflow data (because there is a big difference of what you see in IP/maxmind data and actual flow data) and I believe that #3296 is

[2020-07-13 10:01] simonemainardi opened #4122 "attempt to index a nil value (field '?')"
[code]

[2020-07-13 11:04] lucaderi opened #4123 "Add ability to select the SNMP pool when adding new devices"
Same as #3858 add in
![Screen Shot 2020-07-13 at 13 04 04](https://user-images.githubusercontent.com/4493366/87297840-62221600-c509-11ea-8d43-b5b54ea1b6a0.png)

a new drop down field for selecting the SNMP pool to which new devices will be bound.

[2020-07-13 11:08] lucaderi opened #4124 "Add edit button in SNMP devices"
![Screen Shot 2020-07-13 at 13 06 04](https://user-images.githubusercontent.com/4493366/87297980-a4e3ee00-c509-11ea-8ffc-9a1c7d1bec2b.png)

in SNMP it is not possible to edit an existing device. This has to be implemented. In the edit page a user can change everything except the device IP. This means it can change
- SNMP version and parameters
- Pool to which it belongs to (see #4123)

[2020-07-13 11:22] Zhrebec opened #4125 "ClearOS integration"
Hi!
I was able to install and make NtopNG work on ClearOS. Then I got flooded over email by failed check-update notifications. I have corrected the script to also allow "ClearOS" next to the "CentOS" keyword for distribution/package manager matching.
Could you please make this official as ClearOS is based off of Centos for now?

[2020-07-13 12:31] lucaderi commented on #4125
Please send us a pull request with changes. At the moment we don't have plans for ClearOS but if we can incorporate the chances to support via CentOS that is something we can consider

[2020-07-13 12:31] #4125 closed, assigned to nobody

[2020-07-13 12:32] lucaderi opened #4126 "Confirm message is not localised as it should"
![Screen Shot 2020-07-13 at 14 31 31](https://user-images.githubusercontent.com/4493366/87304755-98fe2900-c515-11ea-9eee-7318ecc805ba.png)

[2020-07-13 12:35] lucaderi opened #4127 "Modal dialogs are not stateless as they should"
Modal dialogs are stateful even though they should be stateless Example
SNMP -> Add Device (+)
![Screen Shot 2020-07-13 at 14 32 28](https://user-images.githubusercontent.com/4493366/87304866-cc40b800-c515-11ea-821a-6de603cedeb3.png)
the following screen is shown. Then change the drop down menu to a different value as in the example

![Screen Shot 2020-07-13 at 14 32 15](https://user-images.github

[2020-07-13 12:43] lucaderi opened #4128 "Rework Import/Export UI"
Currently import/export buttons are spread across the user interface, Example
- SNMP
- Script configurations
- Pools

just to mention a few. At the same time the backup is implemented in a non consistent way

![Screen Shot 2020-07-13 at 14 36 29](https://user-images.githubusercontent.com/4493366/87305147-4c671d80-c516-11ea-9303-8d669f55762b.png)

- Export does not open a dialog but it downloads th

[2020-07-13 13:16] simonemainardi opened #4129 "[configuration] Bind pool members: Lua API"
Issues https://github.com/ntop/ntopng/issues/3858 and https://github.com/ntop/ntopng/issues/4123 need APIs to bind members (e.g., active monitoring devices, SNMP device) to pools.

The following Lua API call will be implemented:

[code]

- `bind_member` assigns `member` to the pool identified with `pool_id`. If the `member` is already present in another pool, then `member` is removed from the old

[2020-07-13 13:20] gabryon99 commented on #4123
<img width="798" alt="Screenshot 2020-07-13 at 15 19 46" src="https://user-images.githubusercontent.com/14114916/87308987-4aa05880-c51c-11ea-8564-697ead4880c6.png">

The select has been added as request. Each entry contains a SNMP Pool Name

[2020-07-13 13:42] gabryon99 commented on #4127
![ezgif-2-9f11d64a4cc1](https://user-images.githubusercontent.com/14114916/87311245-4a558c80-c51f-11ea-8c7f-f1651955e7c5.gif)

Now the modals (used with the ModalHandler plugin) are stateless. I also removed the `is-valid` class when the input are valid.

[2020-07-13 14:07] #4122 closed, assigned to simonemainardi

[2020-07-13 15:29] simonemainardi commented on #4128
page will have a structure similar to

![image](https://user-images.githubusercontent.com/3397663/87321569-affc4580-c52c-11ea-950d-58ed13d537c3.png)

Nested structure is necessary as (SNMP pools depend on SNMP devices; Active Monitoring pool depend on Active monitoring entries. Items will be:

- [ ] User script configurations
- [ ] SNMP devices
  - [ ]  Pools
- [ ] Active monitoring
  - [ ] Pools

[2020-07-13 17:24] simonemainardi commented on #4129
Implemented. After internal review, we have decided to simplify and just use a single function `base_pools.bind_member(member, pool_id)`. To unbind a member it suffices to call the bind function  as  `base_pools.bind_member(member, host_pools_utils.DEFAULT_POOL_ID)`.

[2020-07-13 17:24] #4129 closed, assigned to simonemainardi

[2020-07-14 07:42] simonemainardi commented on #4093
https://github.com/ntop/ntopng/issues/4123

https://github.com/ntop/ntopng/issues/3858

[2020-07-14 07:43] simonemainardi commented on #4123
make the dropdown genration re-usable to that it can be used also to generate the dropdown of https://github.com/ntop/ntopng/issues/3858 and to add all the shortcuts as described in https://github.com/ntop/ntopng/issues/4093

[2020-07-14 08:37] simonemainardi opened #4130 "SNMP generates periodic traffic peaks on Redis"
System with 120 SNMP devices, most of them unreachable. What happens periodically is this:

![image](https://user-images.githubusercontent.com/3397663/87403982-d7e7b980-c5bd-11ea-982c-0836297bea58.png)

Intense activity on cachedsnmp.xxx.mib. Even repeated multiple times for the same device xxx.

[2020-07-14 09:45] simonemainardi opened #4131 "Makes host pools Lua implementation Object-Oriented"
Pools of any kind are now implemented as Lua classes under `modules/pools`. Host pools are the only pools which are currently using the old, non OO implementation under `modules/host_pools_utils.lua`.

It is requested to re-implement host pools as a Lua class under `modules/pools`. Implementation will only affect ntopng for now. nEdge will continue to have pools implemented with `modules/host_pool

[2020-07-14 09:47] simonemainardi opened #4132 "Migrate host_pools_utils.lua to nEdge"
Once #4131 has been implemented, `host_pools_utils.lua` will become an nEdge-only module. It is requested to refactor module name, and possibly move it under the nEdge-specific code.

[2020-07-14 10:34] ephemerist commented on #1889
I've found a similar issue - some services running on my machines publish mDNS names, which make it difficult to tell which host is which in ntopng. It would be great if we could configure ntopng to prefer DNS resolution over mDNS in this case.

[2020-07-14 14:57] simonemainardi commented on #4131
Implemented

[2020-07-14 14:57] #4131 closed, assigned to simonemainardi

[2020-07-14 15:21] simonemainardi opened #4133 "[configuration] Implement REST endpoint to add host pools"
New class `host_pools.lua` has been implemented. It is requested to expose the addition of host pools (`host_pools:add_pool`) via REST.

[2020-07-14 15:22] simonemainardi opened #4134 "[configuration] Implement REST endpoint to edit host pools"
New class `host_pools.lua` has been implemented. It is requested to expose the edit of host pools (`host_pools:edit_pool`) via REST.

[2020-07-14 15:22] simonemainardi opened #4135 "[configuration] Implement REST endpoint to delete host pools"
New class `host_pools.lua` has been implemented. It is requested to expose the deletion of host pools (`host_pools:delete_pool`) via REST.

[2020-07-14 15:24] simonemainardi opened #4136 "[configuration] Implement REST endpoint to bind host pool members"
It is requested to implement a REST endpoint which uses `host_pools:bind_member` used to bind members to host pools

[2020-07-14 15:26] simonemainardi opened #4137 "[configuration] Implement REST endpoint to unbind host pool members"
It is requested to implement a REST endpoint which uses `host_pools:bind_member` with the default pool id. This actually causes a pool member to be unbound to its pool.

[2020-07-14 15:29] simonemainardi opened #4138 "[configuration] Implement REST endpoint to check host pool members before bind"
It is requested to implement a REST endpoint which is called to check whether an host pool member can be added to a given pool. Among the checks performed, it is necessary to:
- Check if the member is a valid ip, or mac, or network
- Check if the member is not contained in any other pool

[2020-07-14 15:37] simonemainardi commented on #4133
implemented. Examples:

[code]

[2020-07-14 15:37] #4133 closed, assigned to simonemainardi

[2020-07-14 15:44] simonemainardi commented on #4134
Implemented. Examples:

[code]

[2020-07-14 15:44] #4134 closed, assigned to simonemainardi

[2020-07-14 15:48] simonemainardi commented on #4135
Implemented. Examples:

[code]

[2020-07-14 15:48] #4135 closed, assigned to simonemainardi

[2020-07-14 15:58] simonemainardi opened #4139 "[configuration] Implement REST endpoint to get host pools"
New class `host_pools.lua` has been implemented. It is requested implement a getter of host pools via REST.

[2020-07-14 16:05] simonemainardi commented on #4139
Implemented. Examples:

[code]

[2020-07-14 16:05] #4139 closed, assigned to simonemainardi

[2020-07-14 16:31] simonemainardi opened #4140 "[configuration] Merge host/interface/active monitoring/snmp device pools into a single page"
Pools menu need to have the current entries merged in a single "Pools" page

![image](https://user-images.githubusercontent.com/3397663/87451212-db039980-c5ff-11ea-80ca-b15ed4758deb.png)

The resulting page will be a single page with multiple pills or tabs (similar to what is currently done for user scripts configuration)

![image](https://user-images.githubusercontent.com/3397663/87451323-04bcc08

[2020-07-14 16:39] simonemainardi opened #4141 "[configuration] Implement host pools creation/deletion/edit GUI page"
Host pools must be added to the configurable pools currently available under the "Pools" menu entry.

It is requested to implement for host pools a page which is identical to the other pages, e.g,

![image](https://user-images.githubusercontent.com/3397663/87451689-86ace980-c600-11ea-9d1b-8985c927cf89.png)

Class `host_pools.lua` is available and has already been exposed via REST in a way which is

[2020-07-14 16:52] simonemainardi opened #4142 "[configuration] Implement host pools members creation/deletion/edit GUI page"
It is requested to implement a page to add/edit/delete host pool members

The page will have a table identical to this one (disregard alias and device type):

![image](https://user-images.githubusercontent.com/3397663/87452552-a0026580-c601-11ea-82bd-2c05ab490b25.png)

However, the new datatable must be used.

When implemented, page will be accessible from the "Pools" menu, under the entry "Host P

[2020-07-14 16:53] simonemainardi commented on #4140
Keep Host Pools separated unless #4141 and #4142 are implemented.

[2020-07-14 21:39] lucaderi opened #4143 "Error during pid file delete"
During shutdown the following message shows up
15/Jul/2020 00:22:37 [Ntop.cpp:2475] Deleted PID /var/run/ntopng.pid: [rc: -1][Permission denied]

but the file is in good shape and it should be deleted

[root@ntopng ~]# ps auxw|grep ntopng
ntopng   20226 28.2  0.5 3487624 365524 ?      Ssl  00:30   0:03 /usr/local/bin/ntopng /run/ntopng.conf

[root@ntopng ~]# ls -l /var/run/ntopng.pid
-rw-r--r--. 1

[2020-07-15 07:20] simonemainardi commented on #4114
use tool `tcpdump`

A few seconds.

Send it to mainardi ntop org

Not supported.

I am not familiar with the configuration of your switch. I can't tell you this. Anyway, again, I don't see any issue on ntopng side, just your switch which is sending both tagged and untagged traffic.

[2020-07-15 08:01] gabryon99 commented on #4126
The alert has been removed. See the commit for further details: https://github.com/ntop/ntopng/commit/48dc7e1a93f8afaaf3e4b76d361a5a9dd30c8851

[2020-07-15 08:04] gabryon99 opened #4144 "Confirm modal closing"
When a user edits a model content (for the Edit Modals) is requested to alert the user (nicely) if he wants to close the modal.

[2020-07-15 08:13] gabryon99 commented on #4011
<img width="800" alt="Screenshot 2020-07-14 at 10 20 32" src="https://user-images.githubusercontent.com/14114916/87520789-b94bf600-c683-11ea-86ff-22f9eda2c68d.png">
 An alert has been added to inform the user. When the flows are above the threshold the alert will disappear.

[2020-07-15 09:02] gabryon99 commented on #4123
<img width="897" alt="Screenshot 2020-07-15 at 11 01 22" src="https://user-images.githubusercontent.com/14114916/87525981-86f1c700-c68a-11ea-8ecc-ecd996d6786f.png">

A Select has been added and the binding has been done as described by https://github.com/ntop/ntopng/issues/4129

[2020-07-15 09:57] simonemainardi commented on #4136
Implemented. Examples:

[code]

[2020-07-15 09:57] #4136 closed, assigned to simonemainardi

[2020-07-15 09:58] simonemainardi commented on #4137
After internal review, we have decided not to implement the unbind. Unbind is done by binding the host to the `base_pools.DEFAULT_POOL_ID`. Discussion at https://github.com/ntop/ntopng/issues/4129#issuecomment-657688285

[2020-07-15 09:58] #4137 closed, assigned to simonemainardi

[2020-07-15 10:40] gabryon99 commented on #3858
<img width="897" alt="Screenshot 2020-07-15 at 12 40 11" src="https://user-images.githubusercontent.com/14114916/87535784-56188e80-c698-11ea-8e14-9d1d77667d35.png">

A select with Active Monitoring Pools has been added. See commit: https://github.com/ntop/ntopng/commit/1a72ce58c868d8e17930e6ee696d48c7edbcff2d for further details

[2020-07-15 10:41] cardigliano opened #4145 "Implement REST endpoint to set the host alias"
Add the ability to set the host alias via rest api. Adding a custom link in addition to the alias would also improve the integration with 3rd party tools.

[2020-07-15 14:04] simonemainardi commented on #4138
Implemented. Examples:

[code]

An empty response is returned when there's no pool found, e.g.,

[code]

Otherwise, response is returned with the pool which is currently containing the requested member, e.g.,

[code]

[2020-07-15 14:04] #4138 closed, assigned to simonemainardi

[2020-07-15 15:03] #4126 closed, assigned to gabryon99

[2020-07-15 15:18] simonemainardi commented on #4142
The add modal will behave as follows:

1. When the user clicks add, the first endpoint (implemented in https://github.com/ntop/ntopng/issues/4138) is called. If the member doesn't belong to any existing pool, then:
2. The second endpoint (implemented in https://github.com/ntop/ntopng/issues/4136) is called for the actual addition.

In case the member exists in another pool, behavior stops at 1., a

[2020-07-15 16:21] simonemainardi opened #4146 "Inconsistent behaviour of SNMP pool members UI"
Starting with

![image](https://user-images.githubusercontent.com/3397663/87569280-2b91fa00-c6c7-11ea-9aa6-7053d8ccbbe3.png)

Click on Edit, this modal opens up

![image](https://user-images.githubusercontent.com/3397663/87569326-3e0c3380-c6c7-11ea-9b80-ffda157a1c31.png)

If I want to remove a device from the pool, I click on it but the click doesn't highlight the clicked device. It highlights the

[2020-07-15 16:22] simonemainardi commented on #4146
this also suggests the modal are still stateful and so https://github.com/ntop/ntopng/issues/4127 is not completed

[2020-07-15 16:26] #4123 closed, assigned to simonemainardi, gabryon99

[2020-07-15 16:29] simonemainardi commented on #4095
User scripts 'Apply to' is now controlled when adding/editing any kind of pool (host/interface/...). After internal review, we have decided to only leave the user scripts 'Apply to' under the host pool pages, to avoid placing the same action in multiple interfaces across the UI.

[2020-07-15 16:29] #4095 closed, assigned to nobody

[2020-07-15 16:31] #4127 closed, assigned to gabryon99

[2020-07-15 19:26] #3858 closed, assigned to simonemainardi, gabryon99

[2020-07-16 07:52] erathaowl opened #4147 "Raspberry stable repository"
Good morning,
looking at your repositories for ntopng on raspberry platform _(buster or stretch is the same)_ I found that `http://packages.ntop.org/apt/buster_pi/armhf/` (dev repo) return the version 4.1.XXX, instead `http://packages.ntop.org/apt-stable/buster_pi/armhf/` (stable repo) doesn't contain any deb.
Is correct?

[2020-07-16 08:59] gabryon99 commented on #4146
If you hold `Command` key while doing:
"_If I want to remove a device from the pool, I click on it but the click doesn't highlight the clicked device. It highlights the device below the clicked one (in the image I clicked on 192.168.2.1)_"

then the `multiselect` selects the complimentary entries. This only happens when there are already pre-selected entries.

[2020-07-16 09:04] gabryon99 commented on #4146
The inconsistent behavior has been corrected. The problem was caused by a missing name field inside `all_members` object, which contains references to get a member's name.

![ezgif-2-7021b9e31f6c](https://user-images.githubusercontent.com/14114916/87652113-17e0a500-c754-11ea-9925-90c1b8a9ea69.gif)

[2020-07-16 09:42] simonemainardi commented on #4146
same behavior also for pools of other types

[2020-07-16 10:33] simonemainardi commented on #4146
Still inconsistent. If I open the edit modal, I want to see the current members highlighted in blue, not disabled in grey.

Current behavior:

![image](https://user-images.githubusercontent.com/3397663/87660713-ce965280-c75f-11ea-8d3b-c6bbeb1da6b9.png)

If I click on edit I get the two members disabled, in grey.

![image](https://user-images.githubusercontent.com/3397663/87660678-bf170980-c75f-11e

[2020-07-16 13:25] cardigliano commented on #4102
It seems this is due to a Permission denied on RH 7.7, the sudo configuration looks good, @pbyrne-tpt will investigate with the support.

[2020-07-16 13:46] cardigliano commented on #4102
Sine RH 7.6 the sudo utility runs the PAM modules even when NOPASSWD is configured in the policy.
Adding ntopng to /etc/access.conf looks to have fixed this issue.

[2020-07-16 13:46] #4102 closed, assigned to cardigliano

[2020-07-16 16:23] simonemainardi commented on #4132
Implemented. ntopng host pools have been migrated to the new implementation and `host_pools_utils.lua` has been moved to nEdge-only `host_pools_nedge.lua`

[2020-07-16 16:23] #4132 closed, assigned to simonemainardi

[2020-07-17 07:31] lucaderi commented on #4147
We do not maintain a stable Raspberry repository (nor for Windows and MacOS), but only for Ubuntu and CentOS

[2020-07-17 07:31] #4147 closed, assigned to nobody

[2020-07-17 07:33] lucaderi opened #4148 "No DNS stats when collecting flows"
![Screen_Shot_2020-07-17_at_09_26_57](https://user-images.githubusercontent.com/4493366/87760669-62275c00-c810-11ea-94ea-567a2fd78406.png)

When ntopng collects flows from nProbe over ZMQ, even if the nProbe template (-T) contains @NTOPNG@ and %DNS_XXXX IEs, the above form is empty

Example
-T="@NTOPNG@ %EXPORTER_IPV4_ADDRESS %DNS_QUERY %DNS_QUERY_ID %DNS_QUERY_TYPE %DNS_RET_CODE %DNS_NUM_ANSWERS

[2020-07-17 07:44] lucaderi opened #4149 "Use TLS version string from nDPI"
In scripts/lua/flow_details.lua there is

function tlsVersion2Str(v)
   ...
end

that should use  ndpi_ssl_version2str() as nDPi has all the valid TLS versions.

Better if one day we replace everywhere the work SSL with TLS

[2020-07-17 08:25] JeWe-HS opened #4150 "SSL certificate from external CA won't work"
Hi NTOP-Team,

I’ve tried to install a server certificate for our NTOPNG server, using this manual:
https://github.com/ntop/ntopng/blob/dev/doc/README.SSL

First, I created a key:
openssl genrsa -des3 -out ntopng.key 4096

Then the request file:
openssl req -new -key ntopng.key -out ntopng.csr

I got a certificate from our external CA and tried to install it:
cat ntopng.key ntopng-2020.cer > /usr/

[2020-07-17 08:30] simonemainardi commented on #4150
I have the suspect you've tried to generate a client certificate.

Follow this instructions

[code]

[2020-07-17 08:34] JeWe-HS commented on #4150
No, I get a server certificate from our provider DFN.

I tested the way described above with no success.

[2020-07-17 08:36] simonemainardi opened #4151 "nEdge Test Policy Spinner Broken"
- Search results appear top-right, far from the search box
- A blue text spins with the spinner

![image](https://user-images.githubusercontent.com/3397663/87766330-45435680-c819-11ea-8e9f-5bbb930fba22.png)

[2020-07-17 08:42] cardigliano commented on #4073
Already implemented

[2020-07-17 08:42] #4073 closed, assigned to nobody

[2020-07-17 09:51] lucaderi opened #4152 "No HTTP stats when collecting flows bug"
Same as #4148 but for HTTP.

-T "@NTOPNG@ %HTTP_URL %HTTP_RET_CODE %HTTP_REFERER %HTTP_UA %HTTP_MIME %HTTP_HOST %DNS_QUERY %DNS_QUERY_TYPE %DNS_RET_CODE %DNS_NUM_ANSWER" will reproduce both issues simultaneously

[2020-07-17 11:56] Eugene-Prokhorenko commented on #4148
The same for DHCP.

[2020-07-17 14:53] #4145 closed, assigned to cardigliano

[2020-07-17 14:54] #4012 closed, assigned to lucaderi, gabryon99

[2020-07-17 14:55] simonemainardi commented on #3804
nice to extend this: https://www.ntop.org/guides/ntopng/faq.html?highlight=sizing#hardware-sizing

[2020-07-17 21:39] mroe1234 opened #4153 "Intermittent 400 error from elastic search"
I'm trying to track down the root cause of continuous export drops.  Running ntopng straight from the command line as:

    ntopng -G=/var/run/ntopng.pid -i tcp://127.0.0.1:5556 -m 192.168.0.0/16 -F "es;_doc;ntopng-%Y.%m.%d;http://elastic.home.local:9200/_bulk;" -X 3000000 -v 4 -x 1000000

I noticed this:

    [Utils.cpp:1286] [JSON] {"error":{"root_cause":[{"type":"illegal_argument_exception","re

[2020-07-20 07:14] simonemainardi commented on #4151
@gabryon99 to setup nEdge, please prepare a VM with ubuntu16.

[2020-07-20 07:17] simonemainardi commented on #4150
Is the certificate in PEM format? It must be in PEM format and it must contain both the Private Key and the Certificate. This is an example of a valid file for ntopng:

[code]

[2020-07-20 08:24] lucaderi opened #4154 "Use ZMQ speed to trigger configuration alert"
![Untitled](https://user-images.githubusercontent.com/4493366/87915833-f0028180-ca72-11ea-807f-e144de19d4d9.png)
Create a user script to trigger an alert when the interface traffic exceeds the specified ZMQ maximum speed. This alert will be handled as -x/-X alert via a notification badge as this is a configuration error

[2020-07-20 08:24] lucaderi opened #4155 "Remove MTU from ZMQ interfaces"
![Untitled](https://user-images.githubusercontent.com/4493366/87915991-250ed400-ca73-11ea-9c53-dd35f1e7cbc2.png)

[2020-07-20 08:41] lucaderi opened #4156 "Extend User Script With Alert Recipient"
It is requested that when a user-script triggers an alert, the user can specify where such alarm must be delivered in case an alert is produced.

This for all user-scripts, so the code must be implemented as a module so that whenever this component is modified/extended the script code.

[2020-07-20 08:48] lucaderi opened #4157 "Implement Interface Alert Shortcuts"
The way alerts have been implemented is optimal for ntopng but sub-optimal for the user. For instance for triggering an alert when interface traffic exceeds X Gbit, a user must
- configure interface pool
- configure recipient/notification endpoint
- configure the user script for triggering an alert

All this is crazy complicated. It is requested to implement a "shortcut-like" feature in the Interf

[2020-07-20 09:05] simonemainardi commented on #4113
After internal review:

- All /rest/v1 APIs must use POST. No GET. Consequently, all REST API code must be changed from _GET to _POST.
- REST api v1 doc and examples must be updated accordingly
- POST parameters must be validated and put into _POST both if they are submitted as application-json (see REST v1 API examples) and if they are submitted as application/x-www-form-urlencoded (as currently

[2020-07-20 09:50] simonemainardi opened #4158 "Implement Not Assigned (Default) Pool"
Pools of any kind must have a default pool.

The default pool contains all SNMP devices/active monitoring/interfaces/local networks which haven't been assigned to any other pool.

The default pool is not editable and is always show (with its members) in any pool configuration page.

[2020-07-20 09:51] simonemainardi commented on #4158
Use name Default. Prevent name Default from being chosen or assigned to any other pool.

[2020-07-20 09:53] simonemainardi opened #4159 "Allow SNMP devices to be filtered by pool"
Add an extra dropdown next to the device filter in

![image](https://user-images.githubusercontent.com/3397663/87924714-8ccb1c00-ca7f-11ea-9a7b-62646cd6363d.png)

[2020-07-20 09:53] simonemainardi opened #4160 "Allow active monitoring to be filtered by pool"
Add an extra dropdown next to

![image](https://user-images.githubusercontent.com/3397663/87924785-a5d3cd00-ca7f-11ea-805e-412d69616429.png)

[2020-07-20 09:56] simonemainardi commented on #4128
A single page backup/restore will be implemented.

A dropdown will allow the user to chose what to export, ,e.g., SNMP devices, active monitoring, ..., All.

Two buttons will be shown at the bottom of the page, namely, "import" and "export".

[2020-07-20 09:59] simonemainardi opened #4161 "Use commas to separate pool members"
Use commas, not semicolons, to separate pool members in pools list as

![image](https://user-images.githubusercontent.com/3397663/87925322-68bc0a80-ca80-11ea-874c-3d0071b5477a.png)

[2020-07-20 10:02] simonemainardi opened #4162 "Write 'and X other' when pool members exceed 10"
When there are more than 10 members in a pool, it is requested to modify the list of members with a text saying:

"member0, member1, member2, member2, member4, member5, member6, member7, member8, member9 and XXX other"

where XXX is total - 10.

[2020-07-20 10:04] simonemainardi opened #4163 "Use 'User Script Configuration' In place of 'Configuration Name'"
in

![image](https://user-images.githubusercontent.com/3397663/87925830-26df9400-ca81-11ea-99cf-6e35c845ca88.png)

[2020-07-20 10:05] simonemainardi commented on #4163
same label must be used in the table:

![image](https://user-images.githubusercontent.com/3397663/87925940-4c6c9d80-ca81-11ea-8cb2-82b847c74d4c.png)

[2020-07-20 10:08] simonemainardi opened #4164 "Add link to edit host pool members"
A link "Edit host pool members" which brings to the host pool members page should be added in the host pool edit modal between name and configuration

![image](https://user-images.githubusercontent.com/3397663/87926221-acfbda80-ca81-11ea-950f-49fa4f235abf.png)

[2020-07-20 10:16] simonemainardi commented on #4161
implemented in the latest dev

[2020-07-20 10:16] #4161 closed, assigned to gabryon99

[2020-07-20 10:17] simonemainardi commented on #4146
now fixed

[2020-07-20 10:17] #4146 closed, assigned to gabryon99

[2020-07-20 10:21] simonemainardi opened #4165 "VLAN must be optional for host pool members"
currently it's not optional for networks:

![image](https://user-images.githubusercontent.com/3397663/87927407-732bd380-ca83-11ea-933e-db35f80a26a9.png)

[2020-07-20 10:23] gabryon99 commented on #4162
<img width="1025" alt="Screenshot 2020-07-20 at 12 23 10" src="https://user-images.githubusercontent.com/14114916/87927627-c7cf4e80-ca83-11ea-81d7-e7f0ec0267d5.png">

[2020-07-20 10:25] simonemainardi opened #4166 "Better layout and space of form fields"
Fields are huge with reference to the data they contain.

![image](https://user-images.githubusercontent.com/3397663/87927732-f816ed00-ca83-11ea-8e2e-54ccd2cc981e.png)

They must be adjusted and the layout of the modal reviewed

Better something like

![image](https://user-images.githubusercontent.com/3397663/87927617-c43bc780-ca83-11ea-8707-21c95208ab57.png)

[2020-07-20 10:27] gabryon99 commented on #4162
If the members are more than 10 then shows the label, see the commit: https://github.com/ntop/ntopng/commit/f168f16304ca78eb86b58a06924cdf32465ddd79

[2020-07-20 10:30] simonemainardi opened #4167 "Broken "Add Active Monitoring Pool""
Broken "Add Active Monitoring Pool" link in

![image](https://user-images.githubusercontent.com/3397663/87928097-8b502280-ca84-11ea-99f7-aa4291b2ae98.png)

which brings to

![image](https://user-images.githubusercontent.com/3397663/87928140-9c992f00-ca84-11ea-9da3-d1372802073e.png)

[2020-07-20 10:32] gabryon99 commented on #4166
Now the layout is more similar to the screenshot above. See the commit: https://github.com/ntop/ntopng/commit/29615f109fc9fa4622c4c8e387b6ec0c72a3485b

[2020-07-20 10:33] simonemainardi opened #4168 "Broken "Add a new SNMP Pool" link"
Link in

![image](https://user-images.githubusercontent.com/3397663/87928439-1d582b00-ca85-11ea-9a75-8c34d8b80506.png)

Brings to a broken page

![image](https://user-images.githubusercontent.com/3397663/87928406-10d3d280-ca85-11ea-8652-1fcc85dd5e86.png)

[2020-07-20 10:34] gabryon99 commented on #4167
Fixed, reload the plugins to see the new link: https://github.com/ntop/ntopng/commit/ea35d1b0a875fcd66b75b9d9c1eb5afedb91795e

[2020-07-20 10:36] simonemainardi opened #4169 "Refresh (or clean) modal contents after addition of a pool"
If I click the modal, I can add a pool in another page.

![image](https://user-images.githubusercontent.com/3397663/87928664-7627c380-ca85-11ea-8ac7-b7d75f68d334.png)

Then if I press the back button, I'm back to the modal but it's contents are not refreshed. The created pool is still missing. It is requested to either clean and close the modal automatically or to refresh its contents but it must

[2020-07-20 10:38] simonemainardi opened #4170 "Editing an host pool name causes its members to disappear"
If I have an host pool with some members, and then I click edit to 'rename' the host pool, all its members disappear.

[2020-07-20 10:40] simonemainardi opened #4171 "Member name inconsistent"
Member names shown in

![image](https://user-images.githubusercontent.com/3397663/87929022-0fef7080-ca86-11ea-9b80-76703081b1a4.png)

Are not consistent. They MUST be shown equal to those shown in

![image](https://user-images.githubusercontent.com/3397663/87929064-1f6eb980-ca86-11ea-9252-6e1d1478ba13.png)

[2020-07-20 10:41] gabryon99 commented on #4165
Done, see the commit: https://github.com/ntop/ntopng/commit/0e985c4561a92e20338b414b445ad10c5a9b8283

[2020-07-20 10:47] gabryon99 commented on #4171
Done, now the names are consistent between the pages. See the commit: https://github.com/ntop/ntopng/commit/691c139feff8def590aa81b5e029b009f6d49d55

[2020-07-20 10:54] gabryon99 commented on #4164
<img width="1025" alt="Screenshot 2020-07-20 at 12 54 01" src="https://user-images.githubusercontent.com/14114916/87930298-1848ab00-ca88-11ea-989b-d627400c05b0.png">

Is this fine?

[2020-07-20 12:07] gabryon99 commented on #4164
Link added. The link brings to the host pool members selected. See the commit: https://github.com/ntop/ntopng/commit/bd65d219967cd511c996ef53a707b8422d29811e

[2020-07-20 12:16] gabryon99 commented on #4168
<img width="1025" alt="Screenshot 2020-07-20 at 14 16 21" src="https://user-images.githubusercontent.com/14114916/87936703-978fac00-ca93-11ea-984b-80ce2003e38e.png">

Fixed too.

[2020-07-20 12:28] #4162 closed, assigned to gabryon99

[2020-07-20 12:30] simonemainardi opened #4172 "Sort by pool member broken"
![image](https://user-images.githubusercontent.com/3397663/87937750-92336100-ca95-11ea-87ff-171867a240dc.png)

[2020-07-20 12:32] simonemainardi commented on #4171
VLAN not shown, in this case there's no way to tell the vlan

![image](https://user-images.githubusercontent.com/3397663/87937842-c6a71d00-ca95-11ea-8396-7870269483b3.png)

[2020-07-20 12:32] #4168 closed, assigned to gabryon99

[2020-07-20 12:33] #4167 closed, assigned to gabryon99

[2020-07-20 12:35] #4166 closed, assigned to gabryon99

[2020-07-20 12:36] simonemainardi commented on #4165
Now unable to add a network member with or withouth a VLAN

![image](https://user-images.githubusercontent.com/3397663/87938125-59e05280-ca96-11ea-83ee-ed88a0834750.png)

![image](https://user-images.githubusercontent.com/3397663/87938177-6d8bb900-ca96-11ea-91a8-12d8171cb94b.png)

[2020-07-20 12:48] simonemainardi opened #4173 "Wrong modal labels"
![image](https://user-images.githubusercontent.com/3397663/87939164-eb9c8f80-ca97-11ea-92fb-c5e5b1bb86c5.png)

- Modal title must be singular "Host"
- Name placeholder must be singulare and lowercase: "... host pool..."
- Name must be bold as mandatory field

[2020-07-20 12:49] simonemainardi commented on #4172
don't forget that members can be also ipv6, networks and mac addresses.

[2020-07-20 12:49] #4164 closed, assigned to gabryon99

[2020-07-20 12:50] lucaderi opened #4174 "Add HOST-RESOURCES-MIB Support"
It is requested to add support for the HOST-RESOURCES-MIB for monitoring memory, users, applications etc. via SNMP

With Net-SNMP there is a partial support. Windows has full support. More info can be found here https://support.solarwinds.com/SuccessCenter/s/article/Install-or-configure-SNMP-for-Windows?language=en_US

snmpwalk -v 1 -c public 192.168.1.187 1.3.6.1.2.1.25
HOST-RESOURCES-MIB::hrSyst

[2020-07-20 12:57] simonemainardi opened #4175 "Broken Link"
Broken "Edit Host Pools" in

![image](https://user-images.githubusercontent.com/3397663/87940004-3074f600-ca99-11ea-9927-8dba1490d087.png)

Also in

![image](https://user-images.githubusercontent.com/3397663/87940050-42ef2f80-ca99-11ea-8df9-e7f6e0dfcfa8.png)

As a side note, it must use the same symbol used to edit host pool members

[2020-07-20 13:04] simonemainardi opened #4176 "Notification Endpoints Buttons Inconsistent"
Need to change the following buttons according to the new format

![image](https://user-images.githubusercontent.com/3397663/87940621-30c1c100-ca9a-11ea-816c-42e8209e96fe.png)

[2020-07-20 13:06] simonemainardi opened #4177 "Recipient Name missing from modal title"
![image](https://user-images.githubusercontent.com/3397663/87940861-8a29f000-ca9a-11ea-8237-0a20106c0e5f.png)

[2020-07-20 13:07] simonemainardi opened #4178 "Recipient endpoint fields not localized"
See fields are named with underscores

![image](https://user-images.githubusercontent.com/3397663/87940977-b180bd00-ca9a-11ea-8cb5-93432c55e3a9.png)

[2020-07-20 13:12] simonemainardi commented on #4177
same in the delete modal

![image](https://user-images.githubusercontent.com/3397663/87941413-69ae6580-ca9b-11ea-98ff-8362ccc1c634.png)

[2020-07-20 13:20] gabryon99 commented on #4165
Fixed in: https://github.com/ntop/ntopng/commit/3548d54583bc5b52eb63974adca46d686f28a99a

[2020-07-20 13:21] simonemainardi commented on #4165
next time test before marking as 'waiting for review'

[2020-07-20 13:22] #4165 closed, assigned to gabryon99

[2020-07-20 13:31] gabryon99 commented on #4173
Fixed, see commit: https://github.com/ntop/ntopng/commit/321e7ad156fb48fcf4a0ed8b050f14a6a42c39c4

[2020-07-20 13:35] simonemainardi opened #4179 "Conflicting field description with validation"
![image](https://user-images.githubusercontent.com/3397663/87943550-80a28700-ca9e-11ea-9030-fc85adb6da27.png)

- Field says 1 character
- Validation complains about 4 characters
- English is wrong: it is 1 character, not 1 characters

[2020-07-20 13:36] gabryon99 commented on #4176
<img width="1704" alt="Screenshot 2020-07-20 at 15 36 01" src="https://user-images.githubusercontent.com/14114916/87943721-b9daf700-ca9e-11ea-9ce3-0b59b8491cf3.png">

Fixed in: https://github.com/ntop/ntopng/commit/8f02fc9562c76132c3c15ce55f13b1c94b490ff1

[2020-07-20 13:40] gabryon99 commented on #4179
fixed in: https://github.com/ntop/ntopng/commit/460b708c45cd282b56928c3a7bc6e8fecca68192

[2020-07-20 13:43] simonemainardi opened #4180 "Extend pools/base_pools.lua to allow multiple recipients to be configured"
Similar to what is done for pool members, an extra `recipients` parameter must be handled in

[code]

`recipients` must be a lua array (identical to pools). To validate recipients, a method `function base_pools:get_available_recipient_ids()` must be implemented. The method queries `notification_recipients.get_recipients()` and returns the recipients.

[2020-07-20 13:47] simonemainardi opened #4181 "Extend REST APIs to edit/add pools to deal with recipients"
Utility `scripts/lua/modules/pools/pools_rest_utils.lua` must be extended for the following functions

[code]

An extra `recipients` parameter must be handed an passed to functions implemented in https://github.com/ntop/ntopng/issues/4180. Similar to the `members` parameter, `recipients` will be a comma separated list of valid recipient ids.

This issue depends on https://github.com/ntop/ntopng/is

[2020-07-20 13:52] simonemainardi opened #4182 "Extend pool add/edit GUI to accept recipients"
Similar to what is done with pool members, a multiselect with all available recipients must be shown inside pool add/edit modals (below the configuration name).

When there are no recipients available, the multiselect will show a message such as 'no recipient defined'.

A link to add recipient must be added.

This must use (and be implemented only after) https://github.com/ntop/ntopng/issues/4181

[2020-07-20 13:55] simonemainardi opened #4183 "Deleting a recipient must delete it also from the associated pools"
Similar to what is done in `function pools_lua_utils.unbind_all_configset_id` to unbind a configset from all defined pools, another method `function pools_lua_utils.unbind_all_recipient_id` must be implemented to remove a recipient from any pool it is associated to.

Method must be called when a recipient is deleted.

This issue depends on https://github.com/ntop/ntopng/issues/4180

[2020-07-20 15:04] simonemainardi opened #4184 "Add pool information to trigger/release/store alerts"
Alerts must carry the `pool_id` of the associated entity.

This involves adding such information inside the alert_json in

- `alerts_api.release`
- `alerts_api.trigger`
- `alerts_api.store`

see `alerts_api.addAlertGenerationInfo` for reference.

The right pool can be retrieved using the `entity_info.alert_entity` which is passed as parameter to the functions above:

1. `alert_consts.alert_entitie

[2020-07-20 15:51] cardigliano commented on #4074
Implemented. DSCP flags are grouped by precedence (8 groups + LE + unknown). REST endpoints have been added. Charts to host and interface details pages have been added.

[2020-07-20 15:51] #4074 closed, assigned to nobody

[2020-07-20 15:58] simonemainardi opened #4185 "Dispatch/process alert to recipient queues"
`notification_recipients.lua` must be extended to dispatch alert to the various notification recipients.

Dispatching should be done in `function alert_utils.processAlertNotifications` (see for example `alert_endpoints.dispatchNotification(message, json_message)`).

Dispatching:
- Uses host pools to retrieve the list of all recipients associated to the pool id of the alert
- Eneuques the alert to

[2020-07-20 16:03] #4176 closed, assigned to gabryon99

[2020-07-20 16:05] #4179 closed, assigned to gabryon99

[2020-07-20 16:07] #4173 closed, assigned to gabryon99

[2020-07-20 21:21] tnichols1998 opened #4187 "The notifications in the version v.4.1.200719 cover the dropdown menu items from user profile dropdown."
See the attached image.   The user profile drop-down and other content is now hidden by the new notification style.  Please revert notification style or place behind content.

![ntop_notification_issue](https://user-images.githubusercontent.com/9593326/87987832-213f7980-ca94-11ea-881e-29d7d5926341.png)

[2020-07-20 21:25] tnichols1998 opened #4188 "GeoIP is not installable on RaspberryPi/ARM version, but notification to enable GeoIP cannot be cleared"
See below for failed steps to install/enable GeoIP.   Please resolve issue to install, and also provide an option to clear the notification for users that prefer not to enable it.

[code]

[2020-07-20 21:29] simonemainardi commented on #4188
see https://github.com/ntop/ntopng/blob/dev/doc/README.geolocation.md#using-geolocation-when-ntopng-data-is-not-available

[2020-07-20 21:29] #4188 closed, assigned to nobody

[2020-07-21 08:25] gabryon99 commented on #4187
<img width="516" alt="Screenshot 2020-07-21 at 10 01 33" src="https://user-images.githubusercontent.com/14114916/88028596-299dc000-cb39-11ea-8248-391ff236317b.png">
The notification has been placed behind the dropdown menu: https://github.com/ntop/ntopng/commit/01f902ff687015a1981d0e8d82b3a7ef16e6399f

[2020-07-21 08:35] gabryon99 commented on #4175
The broken link has been fixed. See the commit: https://github.com/ntop/ntopng/commit/849e6b1acb9bb5e6b746cc0d7f9fdba6ec4bc745

[2020-07-21 08:49] gabryon99 commented on #4178
<img width="855" alt="Screenshot 2020-07-21 at 10 46 29" src="https://user-images.githubusercontent.com/14114916/88033269-71bfe100-cb3f-11ea-9005-ad6b0a8f4605.png">
Fixed, i18n has been used to translate the fields with the keys contained in `endpoint_notifications.recipients.*`. See the commit: https://github.com/ntop/ntopng/commit/290ac986e829989d6d671e2b1720b69b9874845f

[2020-07-21 09:05] gabryon99 commented on #4177
<img width="855" alt="Screenshot 2020-07-21 at 11 04 59" src="https://user-images.githubusercontent.com/14114916/88035172-07f50680-cb42-11ea-9334-eee67386a42f.png">

Fixed. See the commit: https://github.com/ntop/ntopng/commit/926fe778b66baf026c43f18332d9b8679f844a6a

[2020-07-21 09:12] gabryon99 commented on #4171
Fixed as request, see the commit: https://github.com/ntop/ntopng/commit/f5e32bb53606df51c58c2d0c946d7567a1f25b07

[2020-07-21 09:17] gabryon99 commented on #4163
<img width="855" alt="Screenshot 2020-07-21 at 11 15 44" src="https://user-images.githubusercontent.com/14114916/88036211-87370a00-cb43-11ea-9097-b82d205fd8a7.png">

Label renamed as requested. See the commit: https://github.com/ntop/ntopng/commit/edf11bebe163f679535f295bc957d94493c7da60

[2020-07-21 09:17] #4171 closed, assigned to gabryon99

[2020-07-21 09:32] #4011 closed, assigned to gabryon99

[2020-07-21 09:36] simonemainardi commented on #4093
need to add

- Interface pools: A dropdown with the list of available interface pools must be added under the if_stats.lua->cog page
- Local network pools: A dropdown with the list of available local network pools must be added under the cog icon of the network details (http://devel:3000/lua/network_details.lua?network=1&page=config#)

Make a general component to reuse what currently shows under t

[2020-07-21 09:41] simonemainardi opened #4189 "Host pool members page broken when no host pool is defined"
<img width="1069" alt="image" src="https://user-images.githubusercontent.com/3397663/88038876-1e519100-cb47-11ea-933e-70fcc4084cf2.png">

[2020-07-21 09:42] #4140 closed, assigned to gabryon99

[2020-07-21 09:44] simonemainardi commented on #4177
This is non standard. Colon is used nowhere. Must use Remove XXX recipient.

[2020-07-21 09:48] cardigliano commented on #4075
Implemented both for hosts and interfaces, a stacked chart has also been added.

[2020-07-21 09:48] #4075 closed, assigned to nobody

[2020-07-21 09:51] simonemainardi commented on #4175
didn't do as requested.

MUST use

<img width="125" alt="image" src="https://user-images.githubusercontent.com/3397663/88039758-468dbf80-cb48-11ea-9ee8-2d5a868d014f.png">

In place of "+ Add new xxx" EVERYWHERE.

[2020-07-21 09:52] #4178 closed, assigned to gabryon99

[2020-07-21 12:44] JeWe-HS commented on #4150
My key file starts with this:
[code]
May this be the problem?  If so, the key is created using the standard syntax, i just raised the key size?
`openssl genrsa -des3 -out ntopng.key 4096`

[2020-07-21 13:21] cardigliano commented on #4076
Implemented

[2020-07-21 13:21] #4076 closed, assigned to nobody

[2020-07-21 13:39] simonemainardi commented on #4184
Implemented in https://github.com/ntop/ntopng/commit/42b7d8e7e9f1e90657b559989382f402b786a11c and subsequent commits.

[2020-07-21 13:39] #4184 closed, assigned to simonemainardi

[2020-07-21 13:43] #4163 closed, assigned to gabryon99

[2020-07-21 13:43] #4141 closed, assigned to gabryon99

[2020-07-21 13:50] JeWe-HS commented on #4150
Problem solved, I had to create the key this way:
`openssl genrsa -out ntopng-key.pem 4096`

Thanks for your help, Simone!

[2020-07-21 13:50] #4150 closed, assigned to nobody

[2020-07-21 15:12] gabryon99 commented on #4189
Fixed, the problem was due to a missing GET parameter. See the commit: https://github.com/ntop/ntopng/commit/cc7d923c58d92a978ebe9bf87f2477cb4ef460ba

[2020-07-21 15:26] gabryon99 commented on #4175
Rewrote: https://github.com/ntop/ntopng/commit/b83108e423863ca5902aa1efb7f46d661b52e71d

[2020-07-21 15:29] gabryon99 commented on #4177
Colons are used in SNMP Page, Pools Page. See the last commit: https://github.com/ntop/ntopng/commit/b83108e423863ca5902aa1efb7f46d661b52e71d

[2020-07-21 15:54] lucaderi opened #4190 "Race condition"
In NetworkInterface::getActiveHostsList() / NetworkInterface::getActiveHostsGroup() there is no guarantee that entries put in the retriever pointer are not freed before the function ends. Everything works well if the host is fast enough, but the issue shows up when on slow machines the guarantee to use the pointer before it is freed is not honoured.

A possible solution is to put in host_search_wa

[2020-07-21 16:06] simonemainardi commented on #4190
Proposed solution also require changes in `GenericHash::walkAllStates`. Indeed, entries ready to be purged are placed in a vector which is deleted in bulk in `GenericHash::walkAllStates`. This behavior need to be changed to only delete entries having a zero Uses value.

[2020-07-21 16:22] simonemainardi commented on #4190
Alternative solution is to use `rdlock/unlock` (in place of inc/decUses that whould still require a synchronization mechanism to avoid races on the increased value). In this way, multiple sortHost can access the host in parallel.

Then `GenericHash::walkAllStates`, before freeing any entry ready to be purged, performs a `wrlock` to make sure no one else is working on it.

Note: Neither sortHost no

[2020-07-21 21:08] #4190 closed, assigned to nobody

[2020-07-21 23:05] lunim opened #4191 "Engaged alerts tab does not list any items"
There is an active alert, but the Engaged alerts tab is empty:
![image](https://user-images.githubusercontent.com/11578774/88115701-a0ec4780-cb6b-11ea-85a7-90909f2639ba.png)

I see the following in the Chrome web console:

[code]

This is in the log trace:

`[LuaEngine.cpp:880] WARNING: Script failure [/usr/share/ntopng/scripts/lua/get_alerts_table_data.lua][/usr/share/ntopng/scripts/lua/modules/a

[2020-07-22 06:04] lucaderi opened #4192 "Instance restart does not work"
![Screen Shot 2020-07-22 at 07 48 23](https://user-images.githubusercontent.com/4493366/88140360-e2bfd100-cbf1-11ea-9d4c-a5fe16bfbb29.png)
Clicking on restart ntopng does not restart at all.

Shutdown seems to happen but the instance does not terminate

Jul 22 08:04:34 ntop ntopng[23328]: [Host.cpp:54] WARNING: Internal error: num_uses=25632
Jul 22 08:04:34 ntop ntopng[23328]: 22/Jul/2020 08:04:34

[2020-07-22 06:51] gabryon99 commented on #4159
Can the pool name, for the snmp device, be returned from the request: `/lua/pro/enterprise/get_snmp_devices_list.lua`?

[2020-07-22 07:41] #4187 closed, assigned to gabryon99

[2020-07-22 07:44] simonemainardi commented on #4191
please update to the latest version

[2020-07-22 07:46] lucaderi opened #4193 "Dropped alerts counter not increasing"
![Screen Shot 2020-07-22 at 09 46 00](https://user-images.githubusercontent.com/4493366/88149317-32a59480-cc00-11ea-8f09-1dc55506e128.png)

[2020-07-22 09:34] lucaderi commented on #4192
Fixed by 5091cee6b241232688543e7a1b1da1dcabd3f874

[2020-07-22 09:34] #4192 closed, assigned to lucaderi, cardigliano

[2020-07-22 09:43] cardigliano commented on #4159
@gabryon99 get_snmp_devices_list.lua now returns column_pool_{id,name}

[2020-07-22 10:18] #4193 closed, assigned to cardigliano

[2020-07-22 15:17] gabryon99 commented on #4159
Thanks @cardigliano! The filter has been implemented:
<img width="1306" alt="Screenshot 2020-07-22 at 17 17 13" src="https://user-images.githubusercontent.com/14114916/88194490-31478c80-cc3f-11ea-8989-7c81f3eeb32d.png">

[2020-07-22 15:19] gabryon99 commented on #4160
The filter menu has been added:
<img width="1306" alt="Screenshot 2020-07-22 at 17 18 43" src="https://user-images.githubusercontent.com/14114916/88194700-66ec7580-cc3f-11ea-9e84-880ffca6bd6f.png">

[2020-07-22 15:30] cardigliano commented on #4180
Implemented

[2020-07-22 15:30] #4180 closed, assigned to nobody

[2020-07-22 15:31] cardigliano commented on #4181
Added pool_recipients parameter

[2020-07-22 15:31] #4181 closed, assigned to nobody

[2020-07-22 15:32] cardigliano commented on #4182
A new pool_recipients parameter has been added to the rest API #4181. This can be now implemented.

[2020-07-22 16:26] cardigliano commented on #4183
Imlpemented

[2020-07-22 16:26] #4183 closed, assigned to nobody

[2020-07-22 16:51] lunim commented on #4191
@simonemainardi  I don't see a list of releases, what is the latest version?

[2020-07-22 18:26] simonemainardi commented on #4191
if you are building from source, just pull the latest dev branch. Otherwise install the latest package.

[2020-07-22 18:37] #4189 closed, assigned to gabryon99

[2020-07-22 18:44] #4177 closed, assigned to gabryon99

[2020-07-22 18:44] #4175 closed, assigned to gabryon99

[2020-07-23 07:10] #4159 closed, assigned to gabryon99

[2020-07-23 08:55] gabryon99 commented on #4170
Fixed, the problem was in the request. Basically, because there weren't any members inside the modal an empty member list was sent to the endpoint. See the commit: https://github.com/ntop/ntopng/commit/1ecda696f98923682f076a3e2633503594c7b232

[2020-07-23 10:05] simonemainardi commented on #4182
- all the recipients must be shown for every pool
- every recipient can be associated to 0:N pools

[2020-07-23 10:08] gabryon99 commented on #4169
Done it, now there is a button near the Edit Pools Link that reload the select: https://github.com/ntop/ntopng/commit/64d7d749654039ad84e15002a77e9a8338f29ba5

[2020-07-23 10:12] gabryon99 commented on #4160
See the commit: https://github.com/ntop/ntopng/commit/5ad922c722af6ee38c1f4dbaf28cfbd8768c9eb5

[2020-07-23 13:44] tano46 commented on #4160
all references to pools and active monitoring has to be hidden in edge version where pools are not present

[2020-07-23 13:48] gabryon99 commented on #4182
The select has been added. But when an `add` request is sent with some recipients the `get` returns an empty array. See the commit: https://github.com/ntop/ntopng/commit/befc2ec82190959a35e3efa28a54839058fe5ad5

[2020-07-23 15:36] cardigliano commented on #4182
@gabryon99 I pushed a fix for the host pools (please update) and the 'recipient' parameter, however 'add' is still not working as you are providing a numeric ID (I guess the array index) instead of the recipient name (this is the real ID)

[2020-07-23 16:08] ShagoY opened #4194 "Can't create an Host Alias (Custom Name)"
Hello,

Some hosts don't allow me to create a host alias.
When I fill in the field and validate, the field comes back empty.

Most of them are "unresolved" hosts which is rather unfortunate ^^

What could cause that? I can't find anything in the logs.

Regards.

[2020-07-23 21:48] #4160 closed, assigned to gabryon99

[2020-07-23 21:55] simonemainardi commented on #4169
Something strange happens here:

I am here:

![image](https://user-images.githubusercontent.com/3397663/88342412-aa2e0d80-cd3f-11ea-8427-429f2823d059.png)

I select "edit pools" and go to page

![image](https://user-images.githubusercontent.com/3397663/88342490-c762dc00-cd3f-11ea-9a9f-c0e853bebd09.png)

Now, clicking on the browser "back" button, doesn't bring me back to the page with the modal op

[2020-07-23 21:56] #4170 closed, assigned to gabryon99

[2020-07-24 04:40] lulululuej commented on #2220
Hi,
does anyone know how to call network discovery data from api?

![Q2](https://user-images.githubusercontent.com/68433978/88361173-cf0b9a80-cdaa-11ea-8706-b0efb87c1ccb.PNG)

[2020-07-24 04:45] lulululuej opened #4195 "ntopng api"
Hi,

does anyone know how to call network discovey data from api. Really appreciate if someone can help.

Best regard,
Karen
![Q2](https://user-images.githubusercontent.com/68433978/88361326-40e3e400-cdab-11ea-8943-34744cc5350e.PNG)

[2020-07-24 04:47] simonemainardi commented on #4195
Duplicate of https://github.com/ntop/ntopng/issues/3697

[2020-07-24 04:58] simonemainardi commented on #2220
See https://github.com/ntop/ntopng/issues/3697

[2020-07-24 05:01] lulululuej commented on #3697
Hi,
is there any api to call network discovery? thanks.

[2020-07-24 06:23] gabryon99 commented on #4182
@cardigliano thanks! I was sending a numeric ID, now I'll send the recipient name

[2020-07-24 06:36] gabryon99 commented on #4182
Now it seems to work but there is another problem with the edit. When I edit a pool and I send the new recipients then the pool `recipient` member it's empty. Here's an example:
[code]

Answer from the server:
[code]

[2020-07-24 06:41] gabryon99 commented on #4169
This behavior depends on the browser you are using. On `Firefox` when the back button is pressed the previous page will be reloaded. `Safari` instead hibernates the page until the user doesn't click the back button and the browser restores the previous hybrid page state.

[2020-07-24 07:51] cardigliano commented on #4182
@gabryon99 the recipients parameter for the edit was not updated, please update and try again.
I still see numeric IDs for the recipients: {"pool_name":"SamplePool","confset_id":"0","pool_members":"","recipients":"1","csrf":"XXX"}

[2020-07-24 08:54] #4195 closed, assigned to nobody

[2020-07-24 09:15] cardigliano commented on #4194
I am not able to reproduce this, you said it happens on "some" hosts, any additional hint to reproduce this?
What ntopng version are you running?

[2020-07-24 18:59] ShagoY commented on #4194
ntopng Community Edition v.4.1.200720
but I had already noticed that on other versions, it's not recent.

Unfortunately, I did not find a "pattern" because I only notice it when I try to create a "Host Alias" on a host that doesn't have one.
The only sure thing is that it happens only on the hosts that have not been resolved by ntopng (By the way, I don't explain it either).

[2020-07-25 15:37] lucaderi opened #4196 "Crash when using redis cluster"
ntopng is unable to handle redis cluster
[root@srv-ipstat-01 ~]# ntopng
25/Jul/2020 18:35:34 [Ntop.cpp:2254] Setting local networks to 127.0.0.0/8
25/Jul/2020 18:35:34 [Redis.cpp:157] Successfully connected to redis 127.0.0.1:6379@0
25/Jul/2020 18:35:34 [Redis.cpp:513] ERROR: CLUSTERDOWN Hash slot not served
25/Jul/2020 18:35:34 [Redis.cpp:531] ERROR: CLUSTERDOWN Hash slot not served
25/Jul/2020 1

[2020-07-25 18:18] #4196 closed, assigned to nobody

[2020-07-25 18:22] gabryon99 commented on #4182
@cardigliano I've committed the last edits, now there is the recipient name as id for recipients. See the commit: https://github.com/ntop/ntopng/commit/394394523f0c1ca715257197a73d3a545f63e769

[2020-07-26 07:31] ChunshengZhao opened #4197 "How to Reset Counters —— Total Bytes，Seen Since，Total Bytes Sent ？"
![图片](https://user-images.githubusercontent.com/9263377/88473906-8263c300-cf54-11ea-910b-3173fafa164c.png)

[2020-07-27 06:20] closertotheedge opened #4198 "Make hint "Geolocation support is not enabled" removable"
ntopng community running on raspi4: Geolocation support ist not installed and is not needed.
I see no possibility to remove the info message: "Geo IP - Geolocation support is not enabled, please follow the instructions in the documentation to enable it."

[2020-07-27 06:48] simonemainardi commented on #4197
just enter the host page, and click reset data. You can also enable midnight stats reset from the preferences.

[2020-07-27 06:48] #4197 closed, assigned to nobody

[2020-07-27 06:53] simonemainardi opened #4199 "Page Pools broken in community mode"
SNMP breaks the page in community (indeed, it's not available)

![image](https://user-images.githubusercontent.com/3397663/88512243-8d673380-cfe6-11ea-8531-67be6713810a.png)

Make sure the page works in community mode, without the tab "SNMP"

[2020-07-27 06:57] lucaderi commented on #4198
What do you mean exactly?
- Is geolocation NOT installed (so you need to install)
or
- geolocation is installed and not detected?

Please elaborate

[2020-07-27 07:00] simonemainardi opened #4200 "Add a column with notification recipients in pool page"
Similar to the column with the script configuration, a new column listing recipients should be added in:

![image](https://user-images.githubusercontent.com/3397663/88512848-7e34b580-cfe7-11ea-9975-ca2b6d02deff.png)

Remember to use the same format as done for the members: at most 10 recipients, then show "and XXX other" or "and XXX others"

[2020-07-27 07:01] #4182 closed, assigned to gabryon99

[2020-07-27 07:02] simonemainardi commented on #4191
Solution given. No feedback received. Closing.

[2020-07-27 07:02] #4191 closed, assigned to nobody

[2020-07-27 07:03] #4142 closed, assigned to gabryon99

[2020-07-27 07:04] simonemainardi commented on #4064
Closing for inactivity. No feedback received. Please, provide the requested information as requested by @madpilot78  if necessary.

[2020-07-27 07:04] #4064 closed, assigned to madpilot78

[2020-07-27 07:04] simonemainardi commented on #4063
Closing for inactivity. No feedback received. Please, provide the requested information as requested by @madpilot78  if necessary.

[2020-07-27 07:04] #4063 closed, assigned to madpilot78

[2020-07-27 07:07] gabryon99 commented on #4199
Fixed. The problem was caused by loading a pro module in the community version. See the commit: https://github.com/ntop/ntopng/commit/d0303d12ee5461f891cdf1875872a910e9b99ae9

[2020-07-27 07:09] #4199 closed, assigned to gabryon99

[2020-07-27 07:14] #4169 closed, assigned to gabryon99

[2020-07-27 07:21] gabryon99 commented on #4200
<img width="933" alt="Screenshot 2020-07-27 at 09 15 13" src="https://user-images.githubusercontent.com/14114916/88514044-afae8080-cfe9-11ea-9d9e-bc6bcd31cf53.png">

Column added successfully, the column format is as requested. See the commit: https://github.com/ntop/ntopng/commit/aab31a3cea6760148b165a5f6c4708749d8d95b0

[2020-07-27 07:38] simonemainardi commented on #4200
broken

![image](https://user-images.githubusercontent.com/3397663/88516039-f5b91380-cfec-11ea-8462-d84b2c0f00c9.png)

[2020-07-27 07:38] #4200 closed, assigned to gabryon99

[2020-07-27 08:24] closertotheedge commented on #4198
geolocation is not installed and I don't want to install it. So how can I disable that hint at the top right corner of the screen?

[2020-07-27 08:25] ChunshengZhao commented on #4197
Hope to provide a button to reset all hosts.

[2020-07-27 13:13] cardigliano opened #4201 "[pools] Alert endpoints/recipients UI improvements"
The UI is a bit dispersive when it comes to configure endpoints, recipients, and bind recipients to pools.
An easy yet effective way for improving this would be to create a single page (instead of two different menu entries) with the Endpoints and Recipients configuration. Once those have been configured, the UI could provide a link to the Pools configuration to guide the user through the configur

[2020-07-27 13:17] simonemainardi commented on #4201
To simplify even further, I would also merge the two concepts of notification endpoints and notification recipients together. As the improvement suggests, I would use a single page to configure a single concept of 'notification recipient', which will contain the information which is currently spread between endpoints and recipients. This has also the benefit of not having empty recipients such as

[2020-07-27 13:23] lucaderi opened #4202 "Right badge covers the Apply/Cancel button"
![Screen Shot 2020-07-27 at 15 11 59](https://user-images.githubusercontent.com/4493366/88546737-1a2ce400-d01d-11ea-8778-0e388e1d8961.png)

[2020-07-27 13:29] gabryon99 commented on #4151
<img width="955" alt="Screenshot 2020-07-27 at 15 29 06" src="https://user-images.githubusercontent.com/14114916/88547369-ea321080-d01d-11ea-8502-f83f512248aa.png">

Spinning text fixed

[2020-07-27 13:59] lucaderi commented on #4198
No you cannot disable it.

[2020-07-27 13:59] #4198 closed, assigned to lucaderi, gabryon99

[2020-07-27 19:32] simonemainardi opened #4203 "Operating System in reports shows id rather than label"
![image](https://user-images.githubusercontent.com/3397663/88583522-a86e8d80-d050-11ea-9a9a-2d5a4430ce4c.png)

[2020-07-27 19:34] simonemainardi opened #4204 "DHCP address range poorly styled"
![image](https://user-images.githubusercontent.com/3397663/88583683-d9e75900-d050-11ea-9550-3ced07b5a72b.png)

[2020-07-27 19:36] simonemainardi opened #4205 "nEdge pools"
nEdge currently hides Pools menu. It is requested to show the pool menu and only show Local Network and Active monitoring Pools. All other pools must be hidden (including the Host Pools Member)

[2020-07-28 04:57] closertotheedge opened #4206 "Using free Geolocation Database in ntopng instead of Maxmind-Databases"
By downloading the ASN- and City-based mmdb-databases from https://db-ip.com/ to /usr/share/GeoIP/ and renaming them to GeoLite2-ASN.mmdb and GeoLite2-City.mmdb users of ntopng can avoid registering to Maxmind.com.

I ask ntopng developers to add this information in their README (https://github.com/ntop/ntopng/blob/dev/doc/README.geolocation.md).

Of course this may lead to reduced accuracy in geo

[2020-07-28 07:57] gabryon99 commented on #4203
<img width="1676" alt="Screenshot 2020-07-28 at 09 56 39" src="https://user-images.githubusercontent.com/14114916/88635979-a4765600-d0b8-11ea-8596-8fd279c00538.png">

Now the label is shown.

[2020-07-28 08:14] gabryon99 commented on #4205
<img width="808" alt="Screenshot 2020-07-28 at 10 13 42" src="https://user-images.githubusercontent.com/14114916/88637888-05069280-d0bb-11ea-98e3-3a5ad47c4683.png">

Done. See the commit: https://github.com/ntop/ntopng/commit/5f4b7d0c02fa8a132fd4708c618cc5d9ed8c8a86

[2020-07-28 08:53] simonemainardi commented on #4206
thanks for pointing this out. Would you like to contribute by updating the readme at https://github.com/ntop/ntopng/blob/dev/doc/README.geolocation.md? You can send a PF and we'll include that.

[2020-07-28 08:53] #4206 closed, assigned to nobody

[2020-07-28 08:54] #4151 closed, assigned to gabryon99

[2020-07-28 08:55] simonemainardi commented on #4205
![image](https://user-images.githubusercontent.com/3397663/88642424-c1af2280-d0c0-11ea-841b-ef719846e07a.png)

[2020-07-28 08:56] #4203 closed, assigned to gabryon99

[2020-07-28 08:57] gabryon99 commented on #4205
Now is fixed. https://github.com/ntop/ntopng/commit/f7675eb94e2b71d9c3d92fb7c47a5e0b656bc168

[2020-07-28 08:58] simonemainardi commented on #4201
For the moment just add an extra "Notifications" menu entry under System (chose a nice icon) and add two entries:

System Menu -> Notifications -> {Endpoints | Recipients}

[2020-07-28 12:59] #4205 closed, assigned to gabryon99

[2020-07-28 13:02] cardigliano opened #4207 "[pools] Add a test button to test recipients"
Each recipient should have a "Send Test Message" button to check the recipient configuration. This will call the <plugin>.runTest function.

[2020-07-28 13:36] cardigliano commented on #4207
The lua/edit_notification_recipient.lua script now accepts a new action=test (it requires recipient_name=XXX)

[2020-07-28 17:13] simonemainardi opened #4208 "Pool pills ordering"
For pool pills

![image](https://user-images.githubusercontent.com/3397663/88698447-5a1bc600-d106-11ea-8969-1089cef206fd.png)

move "Active Monitoring" as last element and make sure the first entry (and not the second) is selected when entering the page

[2020-07-28 17:16] simonemainardi opened #4209 "SNMP devices pool column"
Replace column "community" with the current SNMP device pool

![image](https://user-images.githubusercontent.com/3397663/88698725-b5e64f00-d106-11ea-9922-85a361462ed3.png)

[2020-07-28 17:17] simonemainardi opened #4210 "Allow spaces in pool names"
![image](https://user-images.githubusercontent.com/3397663/88698933-fd6cdb00-d106-11ea-9a8b-182cff20355b.png)

[2020-07-28 17:20] simonemainardi opened #4211 "Add recipient button does not work"
Clicking on the button + is ineffective, nothing happens

![image](https://user-images.githubusercontent.com/3397663/88699120-3c029580-d107-11ea-816a-bf2b13baa755.png)

likely, this occurs as no endpoint is defined.

[2020-07-28 17:22] simonemainardi opened #4212 "Inconsistent empty dropdown"
![image](https://user-images.githubusercontent.com/3397663/88699381-8edc4d00-d107-11ea-9a51-77b5ef11ecaa.png)

the first available endpoint must be automatically selected

[2020-07-28 17:25] simonemainardi opened #4213 "Implement edit for SNMP device"
Similar to `snmp_config.add_snmp_device`, an edit function `snmp_config.edit_snmp_device` should be implemented. The edit should allow to change everything but the device IP which is the key.

This is required to implement the UI of https://github.com/ntop/ntopng/issues/4124

[2020-07-28 20:38] gabryon99 commented on #4172
The sorting has been fixed. Unfortunately, it's not possible to disable the ordering when there is no filter applied. See the commit: https://github.com/ntop/ntopng/commit/f94ce33334dc3843b5a830c3246c6c67f396ddc6

[2020-07-29 02:47] lulululuej opened #4214 "ntopng license"
Hi,

I had asked the free education version and get the key from ntopng. I use the enterprise L license, but it has a time limit above the screen, and after the time limit it will return to community license. Does anyone have same situation? Is there any configuration wrong?

Thanks.

Best regards,
Karen

![license](https://user-images.githubusercontent.com/68433978/88750794-d656ed80-d188-11ea-97a

[2020-07-29 05:17] lucaderi commented on #4214
Please report the output of "ntopng --version"

[2020-07-29 07:12] lulululuej commented on #4214
![image](https://user-images.githubusercontent.com/68433978/88768291-77579f80-d1ad-11ea-9fd7-52b3f390be45.png)

Thanks.

[2020-07-29 07:43] simonemainardi commented on #4152
Fixed.

[code]

JSON (`./nprobe -i ~/ntopng/single_http.pcap --zmq tcp://127.0.0.1:5556 --zmq-probe-mode -T "@NTOPNG@ %HTTP_RET_CODE %HTTP_REFERER %HTTP_UA %HTTP_MIME" -D t -P /tmp/ --zmq-format j`):

![image](https://user-images.githubusercontent.com/3397663/88766185-e4504280-d177-11ea-8d1a-aa6cf2c3971c.png)

TLV (`sudo ./nprobe -i ~/ntopng/single_http.pcap --zmq tcp://127.0.0.1:5556 --zmq-probe-

[2020-07-29 07:43] #4152 closed, assigned to simonemainardi

[2020-07-29 08:23] lucaderi opened #4215 "Make SNMP timeout configurable"
Currently SNMP timeouts are hardcoded and not configurable. It would be desirable to have them configurable.

[2020-07-29 08:26] gabryon99 commented on #4212
<img width="816" alt="Screenshot 2020-07-29 at 10 26 06" src="https://user-images.githubusercontent.com/14114916/88776175-ecaf7a00-d185-11ea-9a52-03c82db5afaf.png">

Now the first endpoint is selected automatically. When an endpoint doesn't have any parameters to fill then a simple message will be shown. See the commit: https://github.com/ntop/ntopng/commit/efd74f46f7338950be5b947f401e2858b3799457

[2020-07-29 08:27] gabryon99 commented on #4210
Now the spaces are allowed when creating a pool. See the commit: https://github.com/ntop/ntopng/commit/ecaf51d470887a23fc7481588d4917b793ebb526

[2020-07-29 08:28] gabryon99 commented on #4211
Now when there are no endpoints defined an alert message (similar to the 'Host Pool Members') will be shown. See the commit: https://github.com/ntop/ntopng/commit/efd74f46f7338950be5b947f401e2858b3799457

[2020-07-29 08:29] gabryon99 commented on #4209
<img width="698" alt="Screenshot 2020-07-29 at 10 29 06" src="https://user-images.githubusercontent.com/14114916/88776508-56c81f00-d186-11ea-8c30-dab5952784e8.png">

The `Community` column has been removed as requested and it was replaced by the `Pool` column.

[2020-07-29 08:30] gabryon99 commented on #4208
<img width="698" alt="Screenshot 2020-07-29 at 10 30 03" src="https://user-images.githubusercontent.com/14114916/88776593-78c1a180-d186-11ea-9974-5957eb974aca.png">

The pills have been ordered as request. See the commit: https://github.com/ntop/ntopng/commit/439ba513d74bb84190aa22417f9f0829a641093b

[2020-07-29 08:31] gabryon99 commented on #4202
When the user is inside the `nedge` system setup page then the alert is hidden.

[2020-07-29 08:41] #4148 closed, assigned to simonemainardi

[2020-07-29 08:41] simonemainardi commented on #4148
Fixed. Remember that hosts must be local to have DNS stats.

[code]

ZMQ (JSON format ` sudo ./nprobe -i ~/dns.pcap --zmq tcp://127.0.0.1:5556 --zmq-probe-mode -T "@NTOPNG@ %DNS_QUERY %DNS_QUERY_ID %DNS_QUERY_TYPE %DNS_RET_CODE %DNS_NUM_ANSWERS %DNS_TTL_ANSWER %DNS_RESPONSE" -D t -P /tmp/ --zmq-format j`)

![image](https://user-images.githubusercontent.com/3397663/88775471-09977d80-d185-11ea-9475-

[2020-07-29 09:46] #4208 closed, assigned to gabryon99

[2020-07-29 09:48] simonemainardi commented on #4209
broken column name

![image](https://user-images.githubusercontent.com/3397663/88785377-626d1300-d191-11ea-84bf-5aa277b3e267.png)

[2020-07-29 09:49] #4210 closed, assigned to gabryon99

[2020-07-29 09:53] #4211 closed, assigned to gabryon99

[2020-07-29 09:53] #4212 closed, assigned to gabryon99

[2020-07-29 09:54] #4202 closed, assigned to gabryon99

[2020-07-29 09:57] simonemainardi opened #4216 "Add host pool member broken"
Clicking on add is ineffective.

![image](https://user-images.githubusercontent.com/3397663/88786305-a6ace300-d192-11ea-8e0d-8e362f6a7b92.png)

[2020-07-29 10:09] cardigliano commented on #4207
The test button should be placed in the Add/Edit recipient modal. In addition to action=test and recipient_name=XXX the endpoint_conf_name and all the form fields (recipient configuration) should be also provided to the backend.

[2020-07-29 10:13] gabryon99 commented on #4216
Fixed. See commit: https://github.com/ntop/ntopng/commit/c71187808bd3f0843f1e1f3825e0512909bc9671

[2020-07-29 10:15] #4209 closed, assigned to gabryon99

[2020-07-29 12:33] lucaderi opened #4217 "Implement local startup script mechanism"
ntopng can execute startup scripts such as boot.lua and startup.lua

Unfortunately these scripts are packaged and thus whatever is added to them is overwritten. This ticket is to require the implementation of local file versions, that (when present) are executed at the end of the startup script. The file names and path will be
- /usr/share/ntopng/local/scripts/callbacks/system/startup.lua
- /usr/s

[2020-07-29 12:38] lucaderi opened #4218 "Add REST Endpoint for creating a user"
Add REST v1 endpoint for creating a user specifying all the parameters that are requested in the ntopng web GUI
![Screen Shot 2020-07-29 at 14 35 13](https://user-images.githubusercontent.com/4493366/88800619-bf27f800-d1a8-11ea-84f3-da16a0b8c8f4.png)

Example of POST request parameter

{"username": "luca", "human_name: "Luca Deri", "password": "XXXXX" ..... }

The requestor user must me an adminis

[2020-07-29 12:39] lucaderi opened #4219 "Add REST Endpoint for deleting a user"
Same as #4218 but for deleting users. The requestor user must me an administrator.

[2020-07-29 12:45] lucaderi opened #4220 "Add REST Endpoint for Getting a User Session Cookie"
For avoiding multiple sign-in, it would be nice to have a REST API call that can retrieve the session cookie (or create it if not existing or expired) for a given user so that the requestor can pass it in future HTTP requests avoiding to login on ntopng

![Screen Shot 2020-07-29 at 14 07 26](https://user-images.githubusercontent.com/4493366/88801196-9b18e680-d1a9-11ea-95dc-c6dda174b98f.png)

In th

[2020-07-29 13:28] cardigliano commented on #4185
Implemented

[2020-07-29 13:28] #4185 closed, assigned to nobody

[2020-07-29 16:15] #4158 closed, assigned to simonemainardi

[2020-07-29 16:29] simonemainardi opened #4221 "[pools] Remove the "Delete" button from default host pools"
Delete button must be removed from any of the pool pages for the "Default" pool:

![image](https://user-images.githubusercontent.com/3397663/88826780-70d72100-d1c9-11ea-9c7c-447ffd9c0577.png)

[2020-07-29 16:31] simonemainardi opened #4222 "[pools] Make the "Default" pool name Non-Editable"
The "Default" pool name must be non-editable from any of the pools page

![image](https://user-images.githubusercontent.com/3397663/88826937-9c5a0b80-d1c9-11ea-9012-aff88040c035.png)

A greyed-out text box must be shown.

[2020-07-29 16:35] simonemainardi opened #4223 "[pools] Remove the multiselect with members from the "Default" pool"
The default pool has no members associated explicitly.

The section members with the multiselect must be removed from the "edit" of the Default pool

![image](https://user-images.githubusercontent.com/3397663/88827235-fa86ee80-d1c9-11ea-9747-d1a154684dc7.png)

The section members with link with the "Edit members" must be removed from the Default host pool

![image](https://user-images.githubuserco

[2020-07-29 16:37] simonemainardi opened #4224 "[pools] Hide the recipients multiselect when empty"
When no recipient is defined, the empty multiselect must be hidden from edit/add pools

![image](https://user-images.githubusercontent.com/3397663/88827614-73864600-d1ca-11ea-906f-551f9697a8ce.png)

A link "edit Recipients" (with the edit icon) must be shown in place of the multiselect.

[2020-07-29 16:47] simonemainardi opened #4225 "[pools] Default pool must be shown in italic"
Use the default pool id to apply italic style to the default pool

[2020-07-29 16:50] simonemainardi opened #4226 "[pools] Members for the "Default" pool"
An italic message such as "All unbound" must be shown in place of this empty cell for the default pool members

![image](https://user-images.githubusercontent.com/3397663/88828858-155a6280-d1cc-11ea-89b7-1547992e9d6d.png)

[2020-07-29 20:52] #4217 closed, assigned to nobody

[2020-07-30 07:31] simonemainardi opened #4227 "[pools] Remove hardcoded "Default""
Two "Default" pools now show up in the host and mac cog page

![image](https://user-images.githubusercontent.com/3397663/88893817-344a0a80-d247-11ea-82d4-fa19d0ea7976.png)

![image](https://user-images.githubusercontent.com/3397663/88893852-41ff9000-d247-11ea-9334-d2b06b433ea8.png)

It is requested to remove the "hardcoded" "Default" pool. With the current implementation, the "Default" pool is ret

[2020-07-30 07:32] simonemainardi commented on #4227
Same here:

![image](https://user-images.githubusercontent.com/3397663/88894040-9145c080-d247-11ea-8673-070dc72d822a.png)

[2020-07-30 07:40] simonemainardi opened #4228 "[pools] Remove the "Default" pool from host pool members dropdown"
This must not appear

![image](https://user-images.githubusercontent.com/3397663/88894685-8ccdd780-d248-11ea-9a50-31058ac4b34c.png)

Having only the "Default" pool must be treated as now it is currently treated having no pools

[2020-07-30 07:42] simonemainardi opened #4229 "[pools] VLAN must not be automatically populated with 0"
Adding a member sets a '0' to the VLAN

![image](https://user-images.githubusercontent.com/3397663/88894874-e1715280-d248-11ea-8aca-9b0061ba499f.png)

VLAN must be left empty. Zero is assumed implicitly when the field doesn't contain a value but this is not shown to the user.

Same for

![image](https://user-images.githubusercontent.com/3397663/88895211-0239a800-d249-11ea-9f63-6da61a71d67c.png)

[2020-07-30 07:48] simonemainardi opened #4230 "[pools] Rework layout host pool members of type Network"
CIDR is a complex term that should be hidden

![image](https://user-images.githubusercontent.com/3397663/88895743-2b5a3880-d249-11ea-9d95-f5c2156c385d.png)

It is requested to simplify the input as

![image](https://user-images.githubusercontent.com/3397663/88896171-bfc49b00-d249-11ea-9ccf-86995f7ebfd7.png)

[2020-07-30 07:49] simonemainardi commented on #4230
use a slash '/' to separate the network from the cidr

[2020-07-30 08:23] lulululuej opened #4231 "network discovery"
Hi,

I have some problems about notopng4.1.
First is about the network discovery, I had seen the website about how to detect the network discovery from https://www.ntop.org/ntopng/network-device-discovery-part-1-active-discovery/ ,

![圖片](https://user-images.githubusercontent.com/68433978/88899718-ff5aa980-d280-11ea-880e-c083e3680cde.png)

It said that we will have a list via ARP, and compare it w

[2020-07-30 08:54] #4218 closed, assigned to cardigliano

[2020-07-30 09:25] #4219 closed, assigned to cardigliano

[2020-07-30 09:42] simonemainardi opened #4232 "User Script Buttons Old Style"
Use the new style for the following buttons

![image](https://user-images.githubusercontent.com/3397663/88907979-94e24300-d259-11ea-8080-094c9610b245.png)

![image](https://user-images.githubusercontent.com/3397663/88908030-a9bed680-d259-11ea-9479-bdf61c334f3b.png)

[2020-07-30 09:43] simonemainardi commented on #4231
host -> mac addresses are the devices -> Layer 2 in ntopng 4.0+

![image](https://user-images.githubusercontent.com/3397663/88908132-ce1ab300-d259-11ea-98e3-8e4556975c7a.png)

[2020-07-30 09:43] #4231 closed, assigned to nobody

[2020-07-30 09:45] #4216 closed, assigned to gabryon99

[2020-07-30 09:46] simonemainardi opened #4233 "Host Pool Member filter broken"
![image](https://user-images.githubusercontent.com/3397663/88908509-3d90a280-d25a-11ea-95a0-2933be3d2161.png)

Ipv6 addresses are not shown when picking the IPv4/IPv6 from the dropdown

![image](https://user-images.githubusercontent.com/3397663/88908530-471a0a80-d25a-11ea-88c5-d1504b7bce76.png)

[2020-07-30 09:47] simonemainardi commented on #4233
moreover, the /32 must not be shown for ipv6 addresses (same as for ipv4 addresses)

[2020-07-30 09:53] simonemainardi opened #4234 "Notification Endpoint add modal inconsistent"
- open the add modal
- select mail
- close the modal
- reopen the modal

ends up in having this inconsistency

![image](https://user-images.githubusercontent.com/3397663/88909364-4a61c600-d25b-11ea-8d02-fedc6e3a3c47.png)

[2020-07-30 10:00] simonemainardi opened #4235 "Add new endpoint must have the first endpoint selected"
Rather than having the dropdown with "Select an Endpoint Type", the first endpoint must be automatically selected

![image](https://user-images.githubusercontent.com/3397663/88910049-281c7800-d25c-11ea-8acf-4af30e865e2f.png)

[2020-07-30 10:05] gabryon99 commented on #4207
A `Test Recipient` button has been added inside the add and edit modal.

[2020-07-30 10:24] simonemainardi opened #4236 "Notification format incomplete"
This is the notification format received via email.

![image](https://user-images.githubusercontent.com/3397663/88912429-8860e900-d25f-11ea-861a-91801ef8b27e.png)

The host is seen on two interfaces so two notifications are shown.

It is requested to add to the notification:
- interface id
- interface name
- host IP address

[2020-07-30 10:47] gabryon99 commented on #4227
<img width="627" alt="Screenshot 2020-07-30 at 12 46 54" src="https://user-images.githubusercontent.com/14114916/88914334-c27fba00-d262-11ea-9d4f-4f39f0380c24.png">

it seems `host_pools_utils.getPoolsList()` returns both `Not Assigned` and `Default Pool` entries

[2020-07-30 12:55] simonemainardi opened #4237 "[pools] Wrong link in edit active monitoring"
![image](https://user-images.githubusercontent.com/3397663/88925337-aedd4f00-d274-11ea-8240-3386adccbfdc.png)

must be edit pools with the standard icon

[2020-07-30 13:21] simonemainardi opened #4238 "[pools] Pool members not sorted in modal"
Pool members are not sorted. This makes it troublesome to locate/search members. It is requested to show members as sorted in

![image](https://user-images.githubusercontent.com/3397663/88927823-498b5d00-d278-11ea-930b-1192d0204e10.png)

use IP sorting for SNMP devices, use alphabetic sorting for other pools

[2020-07-30 13:43] gabryon99 commented on #4237
Link fixed. See the commit: https://github.com/ntop/ntopng/commit/e9ec62b9d397ec99f90e61c1cff10ca11bf60d83

[2020-07-30 13:44] gabryon99 commented on #4221
Removed the button for the default pool: https://github.com/ntop/ntopng/commit/b7e1d4bb630c7d9b34ebae30a61b6b94b0aa3df9

[2020-07-30 13:45] gabryon99 commented on #4222
The Default pool name cannot be editable: https://github.com/ntop/ntopng/commit/48715b92fb339d54883660923e6fa4284bcf76b8

[2020-07-30 13:46] gabryon99 commented on #4223
The multiselect members has been hidden. See the commit: https://github.com/ntop/ntopng/commit/9d151031406d31f3045abcc71cf38a719d34525d

[2020-07-30 13:47] gabryon99 commented on #4225
Done it: https://github.com/ntop/ntopng/commit/ff945049b815938b2d12ae79e9b3c479adb17e04

[2020-07-30 13:48] gabryon99 commented on #4226
Done it: https://github.com/ntop/ntopng/commit/edb7bf28f9b4caca9c9a06d683d63ef300ec55b6

[2020-07-30 13:48] gabryon99 commented on #4228
The default entry has been removed from the dropdown. See the commit: https://github.com/ntop/ntopng/commit/3a9c6306b37d9afb01658658ec2ee724fecf390e

[2020-07-30 13:49] gabryon99 commented on #4229
Now the VLAN input box is empty with a placeholder containing 0. See the commit: https://github.com/ntop/ntopng/commit/9039f0e260e6d7f108baf7a1c7eb43fc4e58fd08

[2020-07-30 13:50] gabryon99 commented on #4230
The layout has been reworked as requested. See the commit: https://github.com/ntop/ntopng/commit/bbbe27bd5a5c566dda926856c36214760d877203

[2020-07-30 13:50] simonemainardi commented on #4227
[code]

is no longer used apart from `scripts/lua/admin/host_pools.lua` which will be removed.

[2020-07-30 14:04] gabryon99 commented on #4232
The Configuration table style has been fixeed. See the commit: https://github.com/ntop/ntopng/commit/693070b1749fe851822e08bde3a5d2249e8cc740

The style has been fixed also in the scripts page: https://github.com/ntop/ntopng/commit/3b3bb87f922c7947c762bd42a568aa3fbfe988ae

[2020-07-30 14:14] gabryon99 commented on #4227
Ok, now the problem is fixed. See the commit: https://github.com/ntop/ntopng/commit/86175b2b5bb3a4d36640adfcc78b1fe988b44203

[2020-07-30 14:18] simonemainardi commented on #3853
multiple syslog can still be defined. please check https://github.com/ntop/ntopng/issues/3853#issuecomment-648915138

[2020-07-30 14:19] gabryon99 commented on #4235
Now the first endpoint is selected automatically. See the commit: https://github.com/ntop/ntopng/commit/be17a6c7435dee9293f94c5b547f0ed67baaaef6

[2020-07-30 14:25] gabryon99 commented on #4238
Now the order is fixed. See the commit: https://github.com/ntop/ntopng/commit/d4984df8aee8d87294548043c4a9007d002cc896

[2020-07-30 14:26] gabryon99 commented on #4233
Now the IPv4 and the IPv6 filters are standalone from each other. See the commit: https://github.com/ntop/ntopng/commit/ec2f0f66b088808f9b3e8e43103a6fa16ea28796

[2020-07-30 14:38] simonemainardi commented on #4207
- button must be y-aligned with add and cancel buttons

![image](https://user-images.githubusercontent.com/3397663/88935773-63ca3880-d282-11ea-925f-bb439302fb23.png)

- Add a text "Recipient is working" in place of OK and let it shown for at least two seconds

- handle response failures and notify the user, e.g.,

![image](https://user-images.githubusercontent.com/3397663/88936262-04205d00-d283-11

[2020-07-30 15:32] gabryon99 commented on #4207
The button has been moved near the cancel and the `add/edit` button. Now a timeout for the request has been set for 3 seconds. See the commit: https://github.com/ntop/ntopng/commit/16a9443bc6112412304714b9bf5daa6f9052c755

[2020-07-30 15:33] #4201 closed, assigned to gabryon99

[2020-07-30 15:34] #4221 closed, assigned to gabryon99

[2020-07-30 15:34] #4222 closed, assigned to gabryon99

[2020-07-30 15:35] #4225 closed, assigned to gabryon99

[2020-07-30 15:36] #4223 closed, assigned to gabryon99

[2020-07-30 15:36] #4226 closed, assigned to gabryon99

[2020-07-30 15:39] simonemainardi opened #4239 "[pools] Host pool members not showing up"
![image](https://user-images.githubusercontent.com/3397663/88943263-90368280-d28b-11ea-80fa-6a6a220be7ee.png)

![image](https://user-images.githubusercontent.com/3397663/88943323-9d537180-d28b-11ea-83ad-826b782b01d2.png)

[2020-07-30 15:42] simonemainardi commented on #4228
this is what happens when no host pool is defined:

![image](https://user-images.githubusercontent.com/3397663/88943599-f91dfa80-d28b-11ea-9b51-5a1ba90d1aab.png)

did't follow this:

[2020-07-30 15:43] simonemainardi commented on #4227
still bugged

![image](https://user-images.githubusercontent.com/3397663/88943763-2e2a4d00-d28c-11ea-840e-7c3fc4faaf72.png)

[2020-07-30 15:45] #4229 closed, assigned to gabryon99

[2020-07-30 15:47] simonemainardi commented on #4230
validation is wrong

![image](https://user-images.githubusercontent.com/3397663/88944089-9aa54c00-d28c-11ea-9471-fd96e4cba472.png)

- not turning red when the input is NaN
- Must be a number  between 1 and 127

[2020-07-30 15:48] #4232 closed, assigned to gabryon99

[2020-07-30 15:48] #4235 closed, assigned to gabryon99

[2020-07-30 15:49] simonemainardi commented on #4233
members are now disappeared

[2020-07-30 15:49] #4237 closed, assigned to gabryon99

[2020-07-30 15:50] #4238 closed, assigned to gabryon99

[2020-07-30 15:51] Maurotb opened #4240 "after install, cannot login"
Hi, i have installed ntopng in debian10 with apt , after install i try to login with admin admin but not work.
v.4.1.200730

ntopng --community -v3
this is my output at login

30/Jul/2020 17:46:53 [ThreadedActivity.cpp:392] Running /usr/share/ntopng/scripts/callbacks/system/timeseries.lua (iface=0x56106016fad0)
30/Jul/2020 17:46:53 [ThreadedActivity.cpp:392] Running /usr/share/ntopng/scripts/callb

[2020-07-30 15:57] cardigliano commented on #4240
@Maurotb please update again, a new build is available

[2020-07-30 16:09] cardigliano commented on #4220
Implemented new endpoint rest/v1/get/ntopng/session.lua

[2020-07-30 16:09] #4220 closed, assigned to cardigliano

[2020-07-30 16:13] simonemainardi opened #4241 "[pools] Hide message for recipients with no params"
this must be hidden

![image](https://user-images.githubusercontent.com/3397663/88947093-561baf80-d290-11ea-88bc-6c2c9d7751fc.png)

[2020-07-30 16:23] simonemainardi commented on #4207
- also move the messages, not just the button

![image](https://user-images.githubusercontent.com/3397663/88947813-61230f80-d291-11ea-9bf1-6d2787176ceb.png)

- The spinner position is not consistent. Look at how the spinner is placed inside SNMP modal and make it identical.
- The spinner color is not consistent. Look at how the spinner is colored inside SNMP and make it identical

- Message says t

[2020-07-30 16:57] simonemainardi opened #4242 "[pools] Syslog endpoint test message written in red"
The successful message is written in red:

![image](https://user-images.githubusercontent.com/3397663/88951569-78183080-d296-11ea-8f34-91ebfa2f6990.png)

[2020-07-30 17:37] gabryon99 commented on #4230
Fixed: https://github.com/ntop/ntopng/commit/31399956981ab9b0e68d33c3b4192976004b5092

[2020-07-30 17:42] gabryon99 commented on #4239
Fixed. The problem was caused due to the new changes to assign the default number as the first pool. See the commit: https://github.com/ntop/ntopng/commit/ba6bfeb927e7bf60678ccb8a3abd5a74eb385dd4

[2020-07-30 17:44] gabryon99 commented on #4228
The problem was caused by the guard: `pool:get_num_pools() > 0`, now the function `get_num_pools()` return almost a pool (the default one). The problem has been fixed. See the commit: https://github.com/ntop/ntopng/commit/57d988c20bd0a5acc6ec06748450eac3198a2716

[2020-07-30 17:46] gabryon99 commented on #4227
Now the hardcoded default pool has been removed. See the commit: https://github.com/ntop/ntopng/commit/d247dbb8979a97bda813db0b916f485d76ebfea0

[2020-07-30 19:30] Maurotb commented on #4240
yes, now work.
Thanks

[2020-07-30 19:30] #4240 closed, assigned to nobody

[2020-07-30 19:39] StewAlexander-com opened #4243 "After upgrading cannot login, won't take username and password"
Hi all,

After I upgraded I can no longer log in

Here's the details:
[code]

[2020-07-30 19:42] StewAlexander-com commented on #4243
Following instructions here did nothing:
https://www.ntop.org/guides/ntopng/faq.html#cannot-login-into-the-gui

[2020-07-30 20:23] lucaderi opened #4244 "[Pools] Unable to delete recipient"
When clicking on
![Screen Shot 2020-07-30 at 22 23 00](https://user-images.githubusercontent.com/4493366/88970752-3fd31b00-d2b3-11ea-94cf-0afa378f823b.png)

the folvogin error is reported

30/Jul/2020 22:21:53 [LuaEngine.cpp:880] WARNING: Script failure [/Users/deri/network/ntopng/scripts/lua/edit_notification_recipient.lua][.../network/ntopng/scripts/lua/modules/pools/base_pools.lua:688: bad argu

[2020-07-30 20:25] lucaderi opened #4245 "[Pools] Missing OK/Cancel button in Pools"
When no recipient is configured

![Screen Shot 2020-07-30 at 22 24 05](https://user-images.githubusercontent.com/4493366/88970972-8759a700-d2b3-11ea-8012-10c5f015a709.png)

editing pools the OK/Cancel button are not present

![Screen Shot 2020-07-30 at 22 24 33](https://user-images.githubusercontent.com/4493366/88971004-950f2c80-d2b3-11ea-9564-ad246faaa68b.png)

[2020-07-30 20:30] lucaderi opened #4246 "UI is not reporting if an alert can be triggered"
In this page
![Screen Shot 2020-07-30 at 22 27 04](https://user-images.githubusercontent.com/4493366/88971175-d8699b00-d2b3-11ea-9ea5-973ad0bb7220.png)
there are a few problems:

it is not clear if an alert will be triggered in case of threshold cross.

Please add a new label well visible (not a note) where it is written something like: "An alert will be triggered in case of threshold cross". The

[2020-07-30 20:31] lucaderi opened #4247 "Active Monitoring: Minimum threshold should be 1 msec"
![Screen Shot 2020-07-30 at 22 31 06](https://user-images.githubusercontent.com/4493366/88971615-870ddb80-d2b4-11ea-9f7f-540aaa5ae02d.png)

[2020-07-30 20:35] lucaderi opened #4248 "Test endpoint button is hidden during edit"
![Screen Shot 2020-07-30 at 22 34 28](https://user-images.githubusercontent.com/4493366/88971813-db18c000-d2b4-11ea-9814-d73b00b00356.png)

The test button should be present all time and not when adding a recipient. This is to check in case of delivery problems

[2020-07-30 20:48] lucaderi opened #4249 "Add Pool Assignment Button"
![Screen Shot 2020-07-30 at 22 47 24](https://user-images.githubusercontent.com/4493366/88972967-af96d500-d2b6-11ea-8c01-48496717f987.png)
In the above picture, every line must have a button that jumps onto the pool page for the selecting the pool for the given item

[2020-07-30 20:52] lucaderi opened #4250 "Alert time is set in UTC"
![Screen Shot 2020-07-30 at 22 51 50](https://user-images.githubusercontent.com/4493366/88973399-511e2680-d2b7-11ea-8459-53f805953102.png)

I believe the alert time should be set in local time and not UTC as it is today

[2020-07-30 21:17] lucaderi opened #4251 "Invalid Migration Notice Alert"
![Screen Shot 2020-07-30 at 23 16 19](https://user-images.githubusercontent.com/4493366/88975588-baebff80-d2ba-11ea-808a-1bcc65efb8df.png)

The following alert does not contain a link or anything for understanding what is the problem. This is a bug as in previous versions it was reporting the exact problem with a link to the documentation

[2020-07-31 07:12] cardigliano commented on #4243
Updating to latest build fixes this

[2020-07-31 07:12] #4243 closed, assigned to nobody

[2020-07-31 08:22] lulululuej commented on #4231
Thanks for your reply, but the result of my network discovery is very weird. Most of the hosts are the ghost hosts, but I had check my host -> MAC addresses but still don't understand.
![MAC address](https://user-images.githubusercontent.com/68433978/89015693-0bf70480-d34a-11ea-9e14-c450f302e4af.PNG)
![network discovery](https://user-images.githubusercontent.com/68433978/89015697-0d283180-d34a-11e

[2020-07-31 08:26] simonemainardi commented on #4227
still bugged

<img width="738" alt="image" src="https://user-images.githubusercontent.com/3397663/89015957-39c35580-d318-11ea-993d-0ce75e3245c0.png">

Do you mind grepping this all around the code?

[2020-07-31 08:29] simonemainardi commented on #4230
three digits doesn't fit in the box

<img width="168" alt="image" src="https://user-images.githubusercontent.com/3397663/89016178-96bf0b80-d318-11ea-8dc8-0a466c7a75d8.png">

when the box fails validation, its contents disappear

<img width="123" alt="image" src="https://user-images.githubusercontent.com/3397663/89016211-a3dbfa80-d318-11ea-8ea5-f9cc384e511d.png">

[2020-07-31 08:33] simonemainardi commented on #4233
still bugged

<img width="1041" alt="image" src="https://user-images.githubusercontent.com/3397663/89016468-13ea8080-d319-11ea-88a4-6ec801009b53.png">

the IPv4 network disappears:

<img width="1053" alt="image" src="https://user-images.githubusercontent.com/3397663/89016491-1cdb5200-d319-11ea-92e1-6701a1554b24.png">

the IPv6 address doesn't show up

<img width="960" alt="image" src="https://user

[2020-07-31 08:34] #4239 closed, assigned to gabryon99

[2020-07-31 08:39] simonemainardi commented on #4228
now the page is broken when there's no host pool (apart from the default)

<img width="1129" alt="image" src="https://user-images.githubusercontent.com/3397663/89017052-084b8980-d31a-11ea-99dc-30b368b5d07a.png">

test before marking issues as waiting for review

[2020-07-31 08:41] gabryon99 commented on #4227
I grepped all the references to the Not Assigned pool. Now there is no hardcoded default pool no more.

[2020-07-31 08:43] gabryon99 commented on #4228
Fixed. See the commit: https://github.com/ntop/ntopng/commit/cc35284ea22d1a473f17927bd5759115b1826559

[2020-07-31 08:47] simonemainardi commented on #4227
you've removed the last reference 6 minutes ago, after my last comment, and now it's ok.

[2020-07-31 08:47] #4227 closed, assigned to simonemainardi, gabryon99

[2020-07-31 09:00] simonemainardi opened #4252 "[pools] Wrong CIDR submitted for IPv6 host pool members"
When adding an IPv6 host pool member, a /128 must be submitted in place of /32

![image](https://user-images.githubusercontent.com/3397663/89018974-e7386800-d31c-11ea-963b-6cf5bb933fcc.png)

so the payload must contain `/128` not `/32`

[2020-07-31 09:05] #4228 closed, assigned to gabryon99

[2020-07-31 09:07] gabryon99 commented on #4230
I substituted the input box with a select containing the CIDR. If the typed address is an IPv4 address then all the CIDRs from 33 to 127 will be disabled. See the commit: https://github.com/ntop/ntopng/commit/30eb844553e263c19924a2d50202a7c2892ed6bc

[2020-07-31 09:07] gabryon99 commented on #4252
Just fixed. See the commit: https://github.com/ntop/ntopng/commit/e3e2c8e72d705a1aad6bdebfbbfebac931ddb68d

[2020-07-31 09:23] gabryon99 commented on #4241
The message has been hidden. See the commit: https://github.com/ntop/ntopng/commit/8a8a94760635ed8a20d1b4b1f0b1dd984147750b

[2020-07-31 09:33] gabryon99 commented on #4242
<img width="687" alt="Screenshot 2020-07-31 at 11 33 15" src="https://user-images.githubusercontent.com/14114916/89021993-a131d300-d321-11ea-8d95-83eca3e62053.png">

Fixed thanks to @cardigliano. The problem was in the backend. See the commit: https://github.com/ntop/ntopng/commit/a53f494d4387854219f02f77e3b817c4371043f9

[2020-07-31 09:36] #4242 closed, assigned to gabryon99

[2020-07-31 09:38] gabryon99 commented on #4247
Fixed, the problem was in the default value inside the edit modal. See the commit: https://github.com/ntop/ntopng/commit/0c3499b3f00c5d2755b140807ac224d98ca94f35

[2020-07-31 09:39] #4247 closed, assigned to gabryon99

[2020-07-31 09:58] gabryon99 commented on #4245
<img width="805" alt="Screenshot 2020-07-31 at 11 57 28" src="https://user-images.githubusercontent.com/14114916/89024209-03d89e00-d325-11ea-9dda-5cdef169da55.png">

Fixed, the problem was caused by a missing `</div>`. See the commit: https://github.com/ntop/ntopng/commit/b47fb7212994294251cf9e95200bcbbafd0dd9ad

[2020-07-31 10:09] #4252 closed, assigned to gabryon99

[2020-07-31 10:11] simonemainardi commented on #4233
This has fixed missing IPv6: https://github.com/ntop/ntopng/issues/4252

Divide the dropdown into:

IPv4 (must show all IPv4 hosts regardless of the CIDR)
IPv6 (must show all IPv6 hosts regardless of the CIDR)
MAC Address

[2020-07-31 12:43] simonemainardi commented on #4230
this is bugged. There's no complain about a clearly wrong input

![image](https://user-images.githubusercontent.com/3397663/89035762-c03d5e80-d33b-11ea-82a3-9fc356f7e418.png)

[2020-07-31 12:45] #4241 closed, assigned to gabryon99

[2020-07-31 12:48] simonemainardi opened #4253 "[pools] Member sort not working"
Sort is ineffective and so should be disabled for the members column

![image](https://user-images.githubusercontent.com/3397663/89036405-eb747d80-d33c-11ea-9173-8880076a637d.png)

[2020-07-31 13:09] simonemainardi opened #4254 "Double filter in dropdown"
Hitting 'delete unresponsive devices' when the dropdown has unresponsive devices selected yields this

![image](https://user-images.githubusercontent.com/3397663/89038011-d2b99700-d33f-11ea-99f1-489e460ff9dc.png)

[2020-07-31 14:08] #4245 closed, assigned to gabryon99

[2020-07-31 14:12] simonemainardi opened #4255 "[pools] Default configuration pool"
The Default user script configuration must show "No pools" as any other configuration, and not the italic "Default", when there's no pool associated to it

![image](https://user-images.githubusercontent.com/3397663/89043293-8cb50100-d348-11ea-934c-315d760c2d8c.png)

[2020-07-31 14:17] #4250 closed, assigned to simonemainardi

[2020-07-31 14:23] gabryon99 commented on #4253
Sorting disabled on member column. See the commit: https://github.com/ntop/ntopng/commit/039ce65578d0722e06f56a221073e6ff10adf2eb

[2020-07-31 14:24] gabryon99 commented on #4254
Fixed. See the commit: https://github.com/ntop/ntopng/commit/6153774c1b0e02b6c973748801592807a0ebe794

[2020-07-31 14:30] gabryon99 commented on #4230
Now if the CIDR is not valid for an IPv4 Address the CIDR select will automatically select the default value (`24`). See the commit: https://github.com/ntop/ntopng/commit/b9df1d72e5c073031be0b37d4ff6424e87e40454

[2020-07-31 14:53] #4236 closed, assigned to simonemainardi

[2020-07-31 14:53] simonemainardi commented on #4236
Format is now

[code]

[2020-07-31 14:53] gabryon99 commented on #4244
The problem was in the backend. @cardigliano fixed this. See the commit: https://github.com/ntop/ntopng/commit/75ba792513ef94879a78d37a99944f772248e3f0

[2020-07-31 14:54] simonemainardi commented on #4194
Currently unable to reproduce. Feel free to reopen when able to reproduce it consistently.

[2020-07-31 14:55] #4172 closed, assigned to gabryon99

[2020-07-31 15:24] simonemainardi commented on #4254
Still bugged. Now the filter is reset but an empty table is shown while actually there are many other devices existing. So my guess it that you just reset the filter but the table stays on 'unresponsive devices'. Test before commit.

[2020-07-31 16:32] simonemainardi commented on #4110
@Eugene-Prokhorenko is it working with the latest dev?

[2020-07-31 16:41] simonemainardi commented on #4230
this is not what the issue was asking. Desired layout is

![image](https://user-images.githubusercontent.com/3397663/89057090-56ce4780-d35d-11ea-9727-dadb9b1ed021.png)

just make the input slightly larger to handle https://github.com/ntop/ntopng/issues/4230#issuecomment-667003102

[2020-07-31 16:42] #4253 closed, assigned to gabryon99

[2020-07-31 16:42] #4244 closed, assigned to gabryon99

[2020-07-31 16:44] simonemainardi commented on #4207
please also replace "Recipient is working" with "Test successful"

[2020-07-31 16:46] simonemainardi opened #4256 "Modal "Cancel" button redundant"
Many modals have both the X in the top-right corner and the Cancel button.

<img width="791" alt="image" src="https://user-images.githubusercontent.com/3397663/89057504-099ea580-d35e-11ea-8a7d-94ea5c47b47d.png">

It is requested to check any modal in the software and remove the Cancel button - just leave the X.

[2020-07-31 16:50] simonemainardi opened #4257 "[pools] Show recipients below the Pool dropdown in SNMP and active monitoring"
For active monitoring and SNMP it is possible to pick a pool, e.g.,

<img width="682" alt="image" src="https://user-images.githubusercontent.com/3397663/89057662-56827c00-d35e-11ea-8c07-061f3f2a1b09.png">

Below this dropdown, it is requested to show a field with all the recipients associated to the selected pool. Field changes every time a pool is changed from the dropdown.

- Make the code gener

[2020-07-31 16:51] simonemainardi opened #4258 "SNMP Chart icon is too small"
This must be enlarged

<img width="78" alt="image" src="https://user-images.githubusercontent.com/3397663/89057950-bf69f400-d35e-11ea-94ab-42ec5ad06415.png">

[2020-07-31 16:52] simonemainardi opened #4259 "Change notification style"
For the top-right notifications it is requested to use the same style as in https://getbootstrap.com/docs/4.3/components/toasts/

In particular:
- severity color is just a small box
- all notifications are dismissable with the X

[2020-07-31 17:34] Eugene-Prokhorenko commented on #4110
there is no place for version. you change it to pool default. what is it for?

On Fri, July 31, 2020 20:32, simonemainardi wrote:

[2020-07-31 20:50] gabryon99 commented on #4258
<img width="409" alt="Screenshot 2020-07-31 at 22 50 27" src="https://user-images.githubusercontent.com/14114916/89076268-3c599580-d380-11ea-8a42-90d0f124b39d.png">
The icon has been resized.

[2020-08-01 13:35] gabryon99 commented on #4259
![photo_2020-08-01_15-32-17](https://user-images.githubusercontent.com/14114916/89102740-43c68080-d40c-11ea-83c5-e7de9107a3f3.jpg)

We simplified the toast we'are using inside ntopng, now all of them are dismissable, so in this way, a user can temporarily close a toast. The severity level is shown by the background color of the toast title (in the bootstrap documentation the `small box` is used as

[2020-08-01 13:41] gabryon99 commented on #4255
The message has been replaced: https://github.com/ntop/ntopng/commit/1ba69cca0af12cf6cfae027aed65d5a6d3987dce

[2020-08-01 13:43] gabryon99 commented on #4254
The problem has been fixed. See the commit: https://github.com/ntop/ntopng/commit/e5a42887ee2b33d829b241f7867d765ab96505fd

[2020-08-01 14:02] gabryon99 commented on #4230
Now the layout is as desired. See the commit: https://github.com/ntop/ntopng/commit/cf7ce525f59bd9b76c82d39d3b1ad395fa33bf2b