[2018-09-25 13:47] emanuele-f commented on #2059
There are two problems here:

1. The ground problem is that alert messages are written as messages to the alerts db. They should be written as json data instead so that further post-processing (e.g. localization) could be applied during query time.

2. Since language is a per-user concept and not a global instance concept, the language of a periodic script generating the alert is always english. T

[2018-09-25 14:16] engee974 commented on #2051
could that issue be linked to the issue #2018

I have a lot of dropped packets (after resetting all counters)
![image](https://user-images.githubusercontent.com/5074983/46020300-18c3c500-c0ef-11e8-8f1a-7104d2a08bbf.png)

[2018-09-25 14:19] lucaderi commented on #2059
As interim solution 2 can work, in the long run 1 is the solution to implement

[2018-09-25 15:04] ShagoY opened #2062 "Incorrect upload displays with mirroring port?"
Hi,
I use ntopng on a VM connected directly to a mirroring port

After many tests with iperf, I noticed that Ntopng did not seem to detect the active flow in upload and only displayed the download.

For example, we can see that Ntopng detects a 62.90 Mbit/s usage but the active flow only displays the download part (2.51 Mbit/s):
![trouble-upload](https://user-images.githubusercontent.com/25367500/

[2018-09-25 15:34] #2059 closed, assigned to emanuele-f

[2018-09-25 16:14] ffbarcelos opened #2063 "License Validation"
After upgrading from ntopng Pro (Small Business Edition) Linux (x64) educational version 3.5.180621 to 3.6.180924, the license is not working by modifying to the Community Edition version.
We have already executed the following commands and continue in the Community Edition:
ntopng --license-check
ntopng --online-license-check
how shall we proceed?

[2018-09-25 16:34] emanuele-f commented on #2060
Alert is working as expected:
![2018-09-25_18-28](https://user-images.githubusercontent.com/5488003/46028440-1f970b80-c0e0-11e8-98fa-fc7afa4d6507.png)
This is the relevant line which records the new association: https://github.com/ntop/ntopng/blob/dev/src/NetworkInterface.cpp#L6567

The following sequence of events could trigger the situation in the original screenshot:
1. 40:f2:e9:f9:9f:93 connec

[2018-09-25 16:38] emanuele-f commented on #2063
Hi, the license may be expired. Please contact us privately by filling in the contact form: http://www.ntop.org/support/need-help-2/contact-us

[2018-09-25 16:38] #2063 closed, assigned to nobody

[2018-09-25 17:15] ffbarcelos commented on #2063
I got in touch with the support and got a new license, but it did not work.

[2018-09-25 21:35] craigers521 commented on #2056
Emanuele - sorry about that.  Re-uploaded correct file and output as requested:

v.3.6.180921    [Enterprise/Professional build]
GIT rev:        3.6-stable:d48b092fc3874cf36fc5166560500140fa64f3ef:20180921
Pro rev:        r1855
Built on:       CentOS release 6.10 (Final)
System Id:      68931E9276066ACF
Platform:       x86_64
Edition:        Enterprise
License Type:   Permanent
Maintenance:    Unt

[2018-09-26 04:24] Falseclock opened #2064 "bad argument #2 to 'format' (no value)"
URL: /lua/host_details.lua?ifid=0&host=192.168.1.213&page=config

[code]

![image](https://user-images.githubusercontent.com/3299139/46057214-4dc72a80-c176-11e8-90bd-5f2cbe185207.png)

[2018-09-26 04:33] Falseclock commented on #2064
![image](https://user-images.githubusercontent.com/3299139/46057480-90d5cd80-c177-11e8-8a9c-9d769c338e5b.png)

[2018-09-26 07:28] emanuele-f commented on #2064
Please update to the latest stable, version 3.6

[2018-09-26 07:54] emanuele-f commented on #2063
Please contact us via email for license issues.

[2018-09-26 07:55] cardigliano commented on #2056
@craigers521 could you provide your ntopng configuration (file or command line)? Looking at the core dump, It seems that this is related to a hugepages memory allocation failure (are you using ZC?), due to an out of memory or similar. Based on your answer we will need more information to debug this. Thank you.

[2018-09-26 07:58] emanuele-f commented on #2062
Can you send me a pcap of the interface traffic at faranda@ntop.org? Please check out https://www.ntop.org/guides/ntopng/advanced_features/live_pcap_download.html

[2018-09-26 08:55] emanuele-f commented on #2051
So almost all the traffic is dropped. Can you try to run ntopng on the physical interfaces rather than a bond? Do you still have packet drops?

[2018-09-26 09:28] engee974 commented on #2051
OK i will try.
For your information, it was working perfectly before the update.
How can you explain that ?

[2018-09-26 11:08] ffbarcelos commented on #2063
I got in touch with the support and got a new license.

Fabio,
it seems, that everything is fine, but as I’m not a technician, if you need assistance please file an issue on: http://github.com/ntop/ntopng/issues.

Thank you.
Best regards,
Maria

ntopng -V
v.3.6.180924    [Community build]
GIT rev:        :3.6.180924

[2018-09-26 11:31] boisgada opened #2065 "ntopng Enterprise: Possible issue when selecting new interface"
When selecting a new interface from the 'Interfaces' drop down menu then selecting anything from the 'Hosts' menu, data for the previously selected interface shows up.

Work around:
- select desired interface from 'interfaces' drop down
- select anything from the 'hosts' drop down
- re-select the desired interface from the 'interfaces' drop down
- select desired option from the 'hosts' drop down w

[2018-09-26 11:38] ffbarcelos commented on #2063
ntopng --online-license-check
26/Sep/2018 08:18:36 [Ntop.cpp:1544] Setting local networks to 127.0.0.0/8
26/Sep/2018 08:18:36 [Redis.cpp:127] Successfully connected to redis 127.0.0.1:6379@0
26/Sep/2018 08:18:36 [Redis.cpp:127] Successfully connected to redis 127.0.0.1:6379@0
26/Sep/2018 08:18:38 [PcapInterface.cpp:91] Reading packets from interface enp5s0...
26/Sep/2018 08:18:38 [Ntop.cpp:1638] R

[2018-09-26 11:54] ffbarcelos commented on #2063
ntopng not showing professional version.

[2018-09-26 12:08] engee974 commented on #2051
I've changed all the configuration from my switch to the server
always 0 Bps and each physical interface has dropped packets
Eth2:
![image](https://user-images.githubusercontent.com/5074983/46078805-461f7a00-c1a6-11e8-8df6-d5fba589ff6e.png)

Eth3
![image](https://user-images.githubusercontent.com/5074983/46078843-62231b80-c1a6-11e8-8ae9-38c4a077c321.png)

[2018-09-26 12:43] emanuele-f opened #2066 "Deadlock while stopping ntopng"
The main thread, which receives the signals, also executes periodic stats updates. During such stats update, some functions perform a lock e.g. `AlertsManager::storeFlowAlert`. When a signal arrives, the thread execution is diverted to the signal handler. This causes a deadlock if the main thread was holding a lock while it is interrupted.

[code]

[2018-09-26 12:46] emanuele-f commented on #2063
Please run `ntopng --version` to verify if the license is working. You don't need the `--online-license-check` since you have a new license now.

[2018-09-26 12:49] ffbarcelos commented on #2063
ntopng --version
v.3.6.180924    [Community build]
GIT rev:        :3.6.180924

[2018-09-26 12:49] emanuele-f commented on #2051
Can you check the output of ifconfig to see if the interface is dropping packets? What is the average traffic rate you are trying to monitor?

[2018-09-26 12:51] emanuele-f commented on #2063
It seems like you are using the community version of ntopng from github. Have you installed ntopng from our repos? http://packages.ntop.org/

[2018-09-26 13:02] engee974 commented on #2051
[code]

[2018-09-26 13:02] ffbarcelos commented on #2063
Yes, ntopng from github.

[2018-09-26 13:07] ffbarcelos commented on #2063
apt upgrade
Reading package lists... Done
Building dependency tree
Reading state information... Done
Calculating upgrade... Done
The following packages were automatically installed and are no longer required:
  libllvm5.0 linux-image-4.4.0-130-generic linux-image-extra-4.4.0-130-generic
Use 'apt autoremove' to remove them.
The following NEW packages will be installed:
  libllvm6.0 linux-image-4.4.

[2018-09-26 13:07] ffbarcelos commented on #2063
Repo broken

[2018-09-26 13:09] engee974 commented on #2051
i also have dropped packets with tshark

[2018-09-26 13:39] emanuele-f commented on #2051
What is the expected traffic rate you are monitoring?

[2018-09-26 13:43] engee974 commented on #2051
Maximum 2 Gbps
But in few months it will be over 2 Gbps

[2018-09-26 13:51] craigers521 commented on #2056
Sure Cardigliano:
[ntopng.conf.txt](https://github.com/ntop/ntopng/files/2420007/ntopng.conf.txt)

[2018-09-26 14:08] emanuele-f commented on #2051
Please note that standard drivers can only handle about 1Mpps. I suggest you to evaluate PF_RING ZC. Please check out https://www.ntop.org/ntopng/best-practices-for-running-ntopng/ and https://www.ntop.org/products/packet-capture/pf_ring/pf_ring-zc-zero-copy/

[2018-09-26 14:53] engee974 commented on #2051
Thanks for the advice. I will consider it.
But don’t forget the initial issue : not working after an update.
It was working fine and now it not working fine at all. Something has changed between July and August and nobody knows what. It could be kernel, OS. The best would be to compile from source but from which branch ? What exactly ?

[2018-09-26 15:13] rodrigues-as commented on #2063
Regards,

To resolve the problem with of Hash Sum mismatch in the repository, run the following command:

echo 'Acquire::HTTP::Proxy::packages.ntop.org "DIRECT";' >> /etc/apt/apt.conf.d/03noproxy

Good luck solving your problem.

[2018-09-26 15:17] emanuele-f commented on #2051
The fact that you have drops with tshark too probably means that ntopng is not the source of the issue. Anyway, you can manually compile the old stable branch: https://github.com/ntop/ntopng/tree/3.4-stable . You will also need the old nDPI stable branch: https://github.com/ntop/nDPI/tree/2.2.2-stable

[2018-09-26 16:18] cardigliano commented on #2056
@craigers521 it seems you are not using zc drivers, however the core dump seems to be related to that, just to make sure: did you change the configuration perhaps? Could you try removing the network interface (--interface=eth1) from the configuration and use zmq only to see if it makes some difference? Thank you.

[2018-09-26 16:24] #2066 closed, assigned to nobody

[2018-09-26 18:24] lucaderi commented on #2065
Using the 3.7.180927 I am unable to reproduce it. What I have done is the following. Starting from this setup

![screen shot 2018-09-26 at 20 22 54](https://user-images.githubusercontent.com/4493366/46100574-fce12180-c1c9-11e8-9250-fa1a02218ec8.png)

I select eth0, and then I select

![screen shot 2018-09-26 at 20 23 57](https://user-images.githubusercontent.com/4493366/46100637-1e420d80-c1ca-11e8

[2018-09-26 18:31] engee974 commented on #2051
Good news for me the downgrade is working
Running ntopng 3.4-stable

![image](https://user-images.githubusercontent.com/5074983/46101011-e9d74d00-c1db-11e8-9b9c-e20f00010673.png)

[2018-09-26 18:38] engee974 commented on #2051
lower amount of dropped packets too

![image](https://user-images.githubusercontent.com/5074983/46101377-ceb90d00-c1dc-11e8-8452-ec8fa92f6f9a.png)

[2018-09-26 19:10] a-pashkov opened #2067 "MySQL - Dropped Flows"
I have ipvsadm balanser server on centos 6.

Server forwards 100,000 established connections. I need to collect the statistics about them.

Ntopng executes dump-flows every five minutes, dump contein 400k records and I have 80-90% flow drops.

I tried MySQL, ES and logstash to ram-disk backends on the same server.

How can I get statistic about lage number established sessions?

[2018-09-27 07:57] lucaderi commented on #2067
Are you talking about aggregated flows?

[2018-09-27 08:53] a-pashkov commented on #2067
I'm talking about flows from mysql table flowsv4

ntopng started with -F='mysql;localhost;ntopng;flows;ntopng;password'

I have lage number of persistent sessions information about which is dump every 5 minutes.

mysql> SELECT
    ->   idx,
    ->   inet_ntoa (CONV(HEX(IP_SRC_ADDR),16,10)) AS IP_SRC_ADDR,
    ->   inet_ntoa (CONV(HEX(IP_DST_ADDR),16,10)) AS IP_DST_ADDR,
    ->   LAST_SWITCHED-FIRS

[2018-09-27 09:22] emanuele-f commented on #2051
Ok, this is strange. The high packets drop could be linked to the high number of flows. It seems like old flows are not being removed from memory in the new version. Please add the `-v 3` option to your ntopng command line and perform a grep on the output for `Purging idle flows`. The full command line should be:

`ntopng --user "ntopng" --community --interface "bond1" --http-port "3000" --local-n

[2018-09-27 09:29] emanuele-f commented on #2067
Hi, please check out the following comment about MySQL performance and tuning: https://github.com/ntop/ntopng/issues/1672#issuecomment-383066165

[2018-09-27 09:33] emanuele-f commented on #1980
Did you start ntopng with default options or modified it? If so, please post your custom options. Please also read https://github.com/ntop/ntopng/blob/dev/doc/README.crash#L19 on how to get a stack trace on windows.

[2018-09-27 09:35] lucaderi commented on #2052
@engee974 how do we compute the local AS? We take our public IP address and match it for AS?

[2018-09-27 09:41] engee974 commented on #2052
If possible to set a option with the local ASN as it's done for local networks

for example for AS65501 :
`--local-asn=65501`

I suppose It could be possible to have several local AS.

[2018-09-27 14:13] engee974 commented on #2051
[ntopng-v.3.7.180927-verbose3.log](https://github.com/ntop/ntopng/files/2424430/ntopng-v.3.7.180927-verbose3.log)
[ntopng-v.3.4.180926-verbose3.log](https://github.com/ntop/ntopng/files/2424431/ntopng-v.3.4.180926-verbose3.log)

2 files to compare each version :

- v.3.4.180926 working perfectly, i can restart ntopng without flushing redis
- v.3.7.180927 not working as expected : 0 bps for through

[2018-09-27 15:54] samuelwei commented on #1415
I do have the same issue in v.3.6.180917

[2018-09-27 15:55] emanuele-f commented on #2051
Can you please check if the following patch fixes the issue on the 3.7 version?
Please run `git apply flow_purge.txt` then compile again with `make`.

[flow_purge.txt](https://github.com/ntop/ntopng/files/2424836/flow_purge.txt)

[2018-09-27 17:49] emanuele-f commented on #1415
@SamuelWei please open a separate issue with more information and screenshots if possible

[2018-09-27 19:15] engee974 commented on #2051
The issue is not fixed... no change

[ntopng-v.3.7.180927_patched-verbose3.log](https://github.com/ntop/ntopng/files/2425530/ntopng-v.3.7.180927_patched-verbose3.log)

[2018-09-27 20:44] craigers521 commented on #2056
[core-ntopng-7-99-99-6094-1537980300.zip](https://github.com/ntop/ntopng/files/2425851/core-ntopng-7-99-99-6094-1537980300.zip)

Commented out the --interface=eth1 line in the conf file and restarted service.  Still crashing after a few minutes...

[2018-09-27 21:40] boisgada commented on #2065
Your steps are exactly how I explained.  I am no longer able to reproduce the issue.

After reading your update I thought perhaps proxy cache may have been the culprit, but I tested two different proxies and I am not able to reproduce the issue.

Thank you.

[2018-09-28 07:56] cardigliano commented on #2056
(writing the stack trace of the latest core dump here to keep track of it)
#0  0x00000033b3a89791 in ?? ()
#1  0x00000000005e759e in rrd_write (rrd_file=0x7f5830000e90, buf=<value optimized out>, count=128) at rrd_open.c:719
#2  0x00000000005e1dbf in rrd_create_fn (file_name=0x41ce0bc0 "/var/tmp/ntopng/2/rrd/10/255/235/74/ICMP.rrd", rrd=0x7f58417fab00) at rrd_create.c:729
#3  0x00000000005e2fbc in

[2018-09-28 08:13] emanuele-f commented on #2065
Thank you for reporting

[2018-09-28 08:13] #2065 closed, assigned to nobody

[2018-09-28 08:13] cardigliano commented on #2056
@craigers521 any chance you can provide us ssh access to this machine to speed up the debugging?

[2018-09-28 08:51] emanuele-f commented on #2051
Can you check out the latest ntopng version? Please ensure to remove the previously applied patch by running `git reset --hard` and then fetch the changes with the usual `git pull`. Any chance to get access to your machine to speed up debugging?

[2018-09-28 08:56] emanuele-f commented on #2064
Closing the issue for now. Should you still experience the issue with the new stable, please reopen.

[2018-09-28 08:56] #2064 closed, assigned to nobody

[2018-09-28 09:15] emanuele-f opened #2068 "Improve scan detection alerts"
ntopng only monitors local hosts to detect scan attackers and victims. When an attacker tries to scan a single local host, an alert "local host x is under scan attack" is generated. However, if the attacker performs a scan against the whole local network (by sending packets to many hosts), it may remain undetected as per-host thresholds are not exceeded. The following improvements are probably nee

[2018-09-28 09:28] engee974 commented on #2051
With the new version freshly compiled it's better.
Throughput seems OK
![image](https://user-images.githubusercontent.com/5074983/46199767-eac5c700-c320-11e8-8db7-409e3a14d664.png)

But the gauge at the bottom is more inconsistent than it is with the 3.4 version.
It's more "real time" with the previous version.

For the moment, It will be difficult for me to give you a remote access to the server.

[2018-09-28 09:38] engee974 commented on #2051
To illustrate the inconsistency of the gauge

![image](https://user-images.githubusercontent.com/5074983/46200704-5c9f1000-c323-11e8-933c-91ecd4fce68f.png)

[2018-09-28 09:50] emanuele-f commented on #2051
If you have more then 2 gbps traffic, you need to increase the interface speed.

![2018-09-28_11-46](https://user-images.githubusercontent.com/5488003/46201370-80eaf480-c303-11e8-96ad-b5bf182f554f.png)

Please let me know if the new version work well in the long term.

[2018-09-28 09:53] engee974 commented on #2051
For the moment i have maximum 1.5Gbps traffic. That's why i said the gauge is inconsistent.
I will compare the 2 versions again to confirm or not the inconsistency.

I can give you a good feedback on tuesday next week.

[2018-09-28 10:31] engee974 commented on #2051
Should i open a new issue for teh gauge inconsistency

3.4 stable version
![image](https://user-images.githubusercontent.com/5074983/46203352-96bfe000-c32a-11e8-9930-97d2811714ff.png)
Gauge don't raise to 100%

3.7 dev version
![image](https://user-images.githubusercontent.com/5074983/46203510-1483eb80-c32b-11e8-93ec-3270c884f5ca.png)
4Gbps !!? on the graph

[2018-09-28 11:18] engee974 commented on #2051
No need to wait tuesday.
That issue is fixed for me.

[2018-09-28 11:18] #2051 closed, assigned to lucaderi, emanuele-f

[2018-09-28 11:33] ghost commented on #1934
Hi all, i tried installing this on my macOS. I got the following error after doing brew install ntopng
`Updating Homebrew...
==> Downloading https://homebrew.bintray.com/bottles/ntopng-3.6-stable.high_sierra.bottle.tar.gz

curl: (22) The requested URL returned error: 404 Not Found
Error: Failed to download resource "ntopng"
Download failed: https://homebrew.bintray.com/bottles/ntopng-3.6-stable.hi

[2018-09-28 13:42] lucaderi opened #2069 "Missing API documentation"
The nEdge documentation lacks description of the configuration API

[2018-09-28 13:52] lucaderi commented on #2068
The opposite is also true: trigger an alert when a host has more than X active flows regardless of its location (either local or remote)

[2018-09-28 14:43] craigers521 commented on #2056
cardigliano best i can do would be a screen share and give you remote control.  Want me to send you an invite? its a virtual machine, you think i have a resource constraint?

[2018-09-28 15:43] ShagoY commented on #2062
After many tests with Emanuele (Thanks again!), It appears that the problem only occurs with the management of the mirroring port on Ubiquiti hardware.

Maybe the problem is related to the fact that Ntopng sees VLAN when I activate the port mirroring on my ubiquiti swtich while my network is not in VLAN. (See: https://github.com/ntop/ntopng/issues/1870).

[2018-09-28 15:44] lucaderi opened #2070 "Implement Alert Rearm for Flow Alerts (i.e. Alarm Rate Limiting)"
In case of attacks, ntopng will spend most of his time generating alerts for attackers. This causes a waterfall effect and thus the attack also (partially) breaks ntopng.

It is requested to implement a "rearm" mechanism that prevents generating the same alarm over and over. Example in case of SYN scan attacker X, we cannot generate an alert per SYN-scanned host, but limit the number of generated

[2018-09-28 15:49] lucaderi opened #2071 "Split housekeeping thread implementation"
The housekeeping thread is carrying over many activities
- timely activity (e.g. timeseries and stats calculation)
- batch activity (e.g. aggregated flow export)

It is requested to split these two families of activities into two threads

[2018-09-28 16:18] lucaderi opened #2072 "Live Traffic Download: Invalid Filter"
In case a BPF expression that matches no packet is specified
![screenshot 2018-09-28 at 18 17 21](https://user-images.githubusercontent.com/4493366/46220566-c8e13a00-c34a-11e8-8239-34bc980a4e93.png)

the GUI becomes unresponsive and no action can be performed (on the same page, other pages work) until the (empty) download is completed

[2018-09-28 16:20] lucaderi opened #2073 "Live Traffic Download: VLAN and BPF"
In case a live traffic download is performed on a VLAN-tagged host, in case the BPF expression does not contain "vlan and ...." the filter never matches. It is requested to add a Javascript-Based alert that can inform the user of the problem before starting the download

[2018-09-28 16:24] lucaderi opened #2074 "Sort on Info field of Flow view is broken"
![screenshot 2018-09-28 at 18 24 16](https://user-images.githubusercontent.com/4493366/46220864-c4695100-c34b-11e8-9787-c212a205c1cc.png)

[2018-09-30 17:26] a-pashkov commented on #2067
I tried to follow the recommendations from #1672 (comment). (increase key_buffer_size)

"insert" performance was about 2k flow/sec.

Persistent sessions statistics dump to database every 5 minutes.

As I understand, the problem is that number of records (100k) is more than CONST_MAX_MYSQL_QUEUE_LEN.

[2018-10-01 01:47] boisgada opened #2075 "Grafana module '/lua/modules/grafana/query.lua' returns internal error"
After updating, the Grafana query module returns the following error:
[code]

'/lua/modules/grafana/search.lua' still works properly.

v.3.7.181001    [Enterprise/Professional build]
GIT rev:        dev:889729495e9133dbba2ef795ece476c50969ee10:20181001
Pro rev:        r1943
Built on:       Ubuntu 18.04.1 LTS
System Id:      [removed]
Platform:       x86_64
Edition:        Enterprise
License Type:

[2018-10-01 08:03] emanuele-f commented on #2075
Which grafana version are you using?

[2018-10-01 08:48] #2074 closed, assigned to simonemainardi

[2018-10-01 08:59] emanuele-f commented on #2056
@craigers521 please send me TeamViewer credentials at faranda@ntop.org

[2018-10-01 09:17] #2072 closed, assigned to nobody

[2018-10-01 10:44] avi9526 opened #2076 "ntopng listen on random high udp ports"
Question:
ntopng is build using https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=ntopng
run as systemctl service:
[code]
after starting I run
`netstat -pntua | grep $(pidof ntopng)`
and get (sensitive information removed)
[code]
What is the purpose of these listening UPD ports?

[2018-10-01 14:24] simonemainardi commented on #2076
those two upd sockets are open to perform multicast DNS  queries during active network discovery.

- Class MDNS: https://github.com/ntop/ntopng/blob/dev/src/MDNS.cpp#L35
- Network discovery in ntopng: https://www.ntop.org/ntopng/network-device-discovery-part-1-active-discovery/

[2018-10-01 14:24] #2076 closed, assigned to nobody

[2018-10-01 16:42] simonemainardi commented on #2073
implemented.

Now a modal is shown before downloading a pcap for VLAN-tagged hosts, when a BPF specified. The modal is only shown when the host is tagged AND when a BPF is specified. In all the other cases no modal is shown and the download starts straight after the click on the 'pcap download' button.

![image](https://user-images.githubusercontent.com/3397663/46301847-c62f5080-c5a7-11e8-9ffe-f97

[2018-10-01 16:42] #2073 closed, assigned to nobody

[2018-10-01 17:00] simonemainardi commented on #2067
Currently 2k is the maximum number of flows MySQL can handle in the community/pro editions. You can reach 8-9k if you go with the Enterprise but MySQL will soon choke resulting in queries too slow to be useful.

You can browse also the older issues relative to MySQL but, to summarize, MySQL is not the choice when it comes to storing large volumes of flows. Our efforts are currently towards the dev

[2018-10-01 17:00] #2067 closed, assigned to simonemainardi

[2018-10-01 19:13] boisgada commented on #2075
Grafana v5.3.0-beta1 (e05033a

[2018-10-02 06:05] theo-bot opened #2077 "No data written to influxdb"
Hi,

We installed ntopng and configured influxdb. After hitting the Save button a confirmation is given that the database is successfully initialized, no measurements are created, so no data is written.

What is going on?

/Theo

[2018-10-02 07:45] emanuele-f commented on #2077
Please post a screenshot of your Timeseries configuration page

[2018-10-02 07:59] emanuele-f commented on #2077
![2018-10-02_09-58](https://user-images.githubusercontent.com/5488003/46336002-f82ccb00-c618-11e8-8992-e9b93fd8e199.png)

Are the interface timeseries enabled?

[2018-10-02 08:06] #2077 closed, assigned to nobody

[2018-10-02 08:12] emanuele-f commented on #2062
@ShagoY as explained via email, the VLAN tag is actually present in the network traffic, so this seems like a device configuration issue. Were you able to solve the issue?

[2018-10-02 13:35] simonemainardi commented on #2058
implemented

search has now been greatly improved as suggested to include:
- partial matches (e.g., mac addresses are searched also when typing a partial string such as 04:)
- multiple SNMP devices and ports (that is, matching results are shown for multiple SNMP devices)

All the SNMP devices and their ports are now listed in the search box so one can pick up any entry.

![image](https://user-imag

[2018-10-02 13:35] #2058 closed, assigned to nobody

[2018-10-02 14:05] simonemainardi commented on #2055
please, use the plugin issue tracker: https://github.com/ntop/ntopng-grafana-datasource/issues

[2018-10-02 14:05] #2055 closed, assigned to simonemainardi

[2018-10-02 14:06] emanuele-f commented on #2056
@craigers521 any news?

[2018-10-02 14:09] craigers521 commented on #2056
emanuele - apologies.  We don't use teamviewer at my company it would have to be a skype for business meeting and then i could do a screenshare.  I am in the central time zone in the U.S. What time zone are you in? Trying to sort out a time we are both available to set up a meeting request.  thanks.

[2018-10-02 14:30] simonemainardi commented on #2075
just tried to reproduce without issues. Everything works, searches and graphs are correctly populated.

[code]

I would suggest to check the datasource configuration or stay with a stable grafana version such as this https://grafana.com/grafana/download/5.2.4

![image](https://user-images.githubusercontent.com/3397663/46355054-4a450f00-c660-11e8-8bbd-2972cd30e3cc.png)

[2018-10-02 14:34] emanuele-f commented on #2056
Hi, sorry but with skype it will be infeasable. I'm CEST timezone.

[2018-10-02 17:08] #2069 closed, assigned to simonemainardi

[2018-10-02 20:20] joelphilippage opened #2078 "Professional license not working"
I've seen other issues that are the same but I already contacted the sales team about my license not working and they said I need to file an issue.

After upgrading to ntopng 3.7 on Windows server, my license no longer works. Here are the logs:

`02/Oct/2018 14:11:37 [NtopPro.cpp:310] [LICENSE] Reading license from Redis
02/Oct/2018 14:11:37 [NtopPro.cpp:205] [LICENSE] { Correct License is here}:

[2018-10-02 22:23] boisgada commented on #2075
your feedback got me looking deeper...  research has shown the issue is related to the use of variables within grafana panels.  i also now realize i am pulling the beta repo of grafana instead of the stable version so when i updated, it is possible grafana was updated as well as ntopng.  i suspect you are correct and the issue may be with the grafana build rather than ntopng.

thank you for your s

[2018-10-02 22:41] boisgada commented on #2075
Additional information.....

Eliminating grafana variables from the equation, I created a new dashboard.  When adding timeseries entries, four interface entries work (_traffic_bps, _traffic_total_bytes, _traffic_pps, and _traffic_total_packets); but when selecting either _allprotocols_bps or _allcatacories_bps, I receive an error.

The error message being returned is:
[code]

I apologize for the i

[2018-10-03 07:15] simonemainardi commented on #2078
Has your license key been generated more than one year ago? It that is the case, then the license may be expired.

Try this:

- open a windows terminal (hit search -> then cmd -> run as administrator)
- go to the ntopng installation directory to reach the ntopng.exe executable
- run ntopng /c --check-license
- run ntopng /c --check-maintenance

report the output of the latest two commands.

[2018-10-03 10:51] simonemainardi commented on #2042
Implemented.

Code that deletes inactive interfaces has been 100% reused to avoid duplication. When deleting everything for an active (selected) interface, a restart of ntopng is necessary and the deletion is performed upon restart. Performing hot-deletion could introduce issues as:

- there may be periodic activities writing to files and directories deleted by another thread
- on windows it's eve

[2018-10-03 10:51] #2042 closed, assigned to nobody

[2018-10-03 12:50] juesor opened #2079 "ntopng 1D view redirects to connection failed"
Package ntopng.x86_64 0:3.7.181002-4897
Package ntopng-data.noarch 0:3.7.181002-4897

When I navigate to Traffic Report and click 1D nothing loads.

50% of the time i get a page cannot be displayed.

![ntopng 1d unable to load](https://user-images.githubusercontent.com/14931420/46410847-c468a880-c6df-11e8-8919-61907a842804.jpg)

I have updated to the latest nightly and its more of the same the pag

[2018-10-03 12:54] #2075 closed, assigned to nobody

[2018-10-03 12:58] simonemainardi commented on #2075
Thanks for providing such detailed information. That helped in fixing the issue. A new build with the fix will be available tomorrow.

[2018-10-03 13:31] simonemainardi commented on #2079
Uhm, I am not sure this is due to ntopng.

I can see a connection refused from the browser error. This typically occurs when the host (or someone in the middle like a firewall) sends you a tcp RST. That could be due to a closed port or to a firewall that doesn't want you to do that connection.

With a slow, unresponsive ntopng you would have had the page loading very very slowly or a connection ti

[2018-10-03 13:52] joelphilippage commented on #2078
I received my current license April 17, 2018. Here is the result of running those two commands:

C:\Users\Administrator>ntopng /c --check-license
Starting ntopng
Running ntopng.
Invalid license

C:\Users\Administrator>ntopng /c --check-maintenance
Starting ntopng
Running ntopng.
Invalid license

[2018-10-03 14:46] emanuele-f opened #2080 "nEdge crash delete custom_app_stats"
[code]

[2018-10-03 15:37] #2080 closed, assigned to emanuele-f

[2018-10-03 17:16] juesor commented on #2079
I sent you an email with a dropbox link to a video of what is happening.

The ntopng service is crashing and restarting in the process.  So it does not look to be a firewall issue.  This has worked in the past.

● ntopng.service - ntopng high-speed web-based traffic monitoring and analysis tool
   Loaded: loaded (/usr/lib/systemd/system/ntopng.service; disabled; vendor preset: disabled)
   Active:

[2018-10-04 07:25] simonemainardi commented on #2079
Thanks for providing the video. If the service crashes then a connection refused makes sense.

Please, generate a core dump of the crash and upload it somewhere along with the ntopng binary. Core dump generation instructions can be found at https://www.ntop.org/support/need-help-2/need-help/

Please, also include the ntopng configuration file.

[2018-10-04 07:29] simonemainardi commented on #2078
Please, send me the order id associated with the license purchase, the license, the output of ntopng --version, and a screenshot of the "About ntopng". my email is mainardi ntop org

[2018-10-04 07:33] doppelweber opened #2081 "Change /var/tmp/ntopng to /var/lib/ntopng as default"
in ntopng is default still /var/tmp/ntopng, change this to /var/lib/ntopng cause it changes to /var/lib/ntopng at version 3.7

[2018-10-04 07:34] emanuele-f commented on #2062
I'm closing the issue for now as the problem seems to be a device configuration issue. Please reopen if necessary.

[2018-10-04 07:34] #2062 closed, assigned to nobody

[2018-10-04 09:31] simonemainardi commented on #2081
yes, https://www.ntop.org/support/faq/migrate-the-data-directory-in-ntopng/

the required change is also highlighted in the gui

[2018-10-04 09:31] #2081 closed, assigned to nobody

[2018-10-04 09:45] S0t0nN3rdS commented on #1980
Not aware of any custom option.. Ive tried to uninstall/reinstall, but this doenst seem to remove all traces of the app.. how can I completely remove all of the settings to start afresh?

Ill also look into your suggestion, thanks

[2018-10-04 15:03] boisgada opened #2082 "Enhancement Request: Additional supported 'target' options within lua/modules/grafana/search.lua"
The grafana search module supports a simple 'interface' query parameter.  It would be nice if it also supported wildcards and/or a simple 'host' target query option.

Use case:  Creating a 'host' variable which parses the query output for use within dynamic panels.  This is easy with interface variables:
[code]

Then the variable [[interface_var]] can be used in the 'Repeat for each value of' sect

[2018-10-04 15:48] malvivent7 opened #2083 "Packet loss with last stable ntopng community 3.6.181004"
Hi, i have installed ex-novo ntopng stable on centos 7 using instructions on ntopng site. The server machine is an intel s2600jf 24xeon cores with 128GB of ram with an i350 dualnetwork card My startup ntopng command parameters is:
ntopng --max-num-hosts "600000" --http-port "3000" --https-port "0" --dns-mode "3" --local-networks "xxx.xxx.xxx.xxx/24 ecc." --traffic-filtering "httpbl:ljfiunmrxmbf" -

[2018-10-04 16:34] simonemainardi commented on #2047
thank you, I can confirm the implementation is and works as expected:

![image](https://user-images.githubusercontent.com/3397663/46488813-10ad0900-c804-11e8-86fa-fc9744afa049.png)

![image](https://user-images.githubusercontent.com/3397663/46488846-23bfd900-c804-11e8-85fe-4cbd09439b3e.png)

[2018-10-04 16:34] #2047 closed, assigned to cardigliano

[2018-10-04 16:38] simonemainardi commented on #2082
Currently, we have implemented influxdb support and we could drop the ntopng grafana datasource in favour of the influxdb one. For this reason I am putting this issue on hold.

An ntopng user who choses to use influxdb to store the timeseries will automatically benefit from the influxdb datasource http://docs.grafana.org/features/datasources/influxdb/ to access all the existing ntopng-generated ti

[2018-10-04 16:38] #2082 closed, assigned to emanuele-f

[2018-10-04 22:42] boisgada commented on #2082
Thank you for the information.  Does this also work for ZMQ pull connected nprobe interfaces?

[2018-10-05 07:29] simonemainardi commented on #2082
Data export to influxdb will support any kind on interface. ZMQ support will be guaranteed.

[2018-10-05 07:31] simonemainardi commented on #2079
also make sure to use version >= 3.7.181004 at this could have affected also this issue https://github.com/ntop/ntopng/commit/4ae68f9e44a94d8c1c0a90d1bca09624fd778a3c

[2018-10-05 07:33] simonemainardi commented on #2078
Thanks for providing the information. The output of ntopng --version and the screenshot of page About ntopng are missing. Please send them as well.

[2018-10-05 09:46] gianogli commented on #2082
Could you send us some examples (screenshots) of queries we have to configure in grafana to show the "iface:ndpi" or "host:traffic" (by InfluxDB) graphs as they are already shown into ntopng interface?
I've just tried but I can see only cumulative data graphs that are growing up indefinitely or that are constant indefinitely...

![screenshot_20181005_113836](https://user-images.githubusercontent.c

[2018-10-05 12:36] simonemainardi commented on #2070
Implemented using a leaky bucket. Thanks for pointing this issue out.

[2018-10-05 12:36] #2070 closed, assigned to nobody

[2018-10-05 12:56] emanuele-f commented on #2082
Hi, the traffic data type is "counter", meaning that cumulative values are stored. In order to get the instantaneous value, you should apply a `NON_NEGATIVE_DERIVATIVE` function on the value. Moreover, if the value is in bytes, you will have to multiply by 8 to get bps

[2018-10-05 13:05] simonemainardi commented on #2083
Every interface is handled by a single-thread in ntopng. So it doesn't matter if you've a xeon with 24 cores.

Without PF_RING Zero Copy, I wouldn't expect ntopng to be able to handle a lot more than 1Mpps per thread. However, you can try and run pfcount on interface eno2 to see if you experience drops also with that.

There are several ways to increase the capture speed, though. They include PF_R

[2018-10-05 13:15] juesor commented on #2079
Ok you may need to walk me through doing the crash a little more on centos.  But yes i am running on.

3.7.181005-4932

[2018-10-05 13:53] simonemainardi commented on #2079
OK:

- stop ntopng
- install gdb
- execute "gdb --args /usr/bin/ntopng /etc/ntopng/ntopng.conf"
- type "r" in the gdb console (stands for run)
- use ntopng regularly and wait until it crashes
- go back to the gdb console and save the core file with command "generate-core-file"

[2018-10-05 16:13] juesor commented on #2079
Ok i am doing that now.

I would suggest you move from mysql to something like elasticsearch i've been working with some graylog2 servers and for this type of application elastic blows mysql out of the water and a lot of my issues with ntopng come from the mysql integration.  I'll post the output of this shortly.

[2018-10-05 17:40] simonemainardi commented on #2044
After and in depth-investigation and a proof of concept implementation, we've seen that adding SMTP support is not a big deal per se, it would require just to add a bunch of lines and two extra username/password preferences.

This is the example we've used as a seed to build the proof of concept https://curl.haxx.se/libcurl/c/smtp-ssl.html

However, the most common SMTPs servers complain (especial

[2018-10-05 17:40] #2044 closed, assigned to nobody

[2018-10-05 17:40] simonemainardi commented on #1996
Closing fon inactivity. please, reopen with the requested information if necessary.

[2018-10-05 17:40] #1996 closed, assigned to nobody

[2018-10-05 17:41] simonemainardi commented on #2018
Closing for inactivity. Please, reopen with the requested information if necessary.

[2018-10-05 17:41] #2018 closed, assigned to cardigliano

[2018-10-05 19:18] emanuele-f opened #2084 "User defined Device Type is overwritten by ntopng"
The ntopng core overwrites the device type even if it was manually set by a user via the gui.

[2018-10-07 15:51] Alestor opened #2085 "ntopng crashes on Traffic Report"
ntopng --version
v.3.7.181007    [Enterprise/Professional build]
GIT rev:        dev:7225bef5c3b727a79483fb50b1c7bf850ba559bc:20181007
Pro rev:        r1958
Built on:       Debian GNU/Linux 8.2 (jessie)
System Id:      390956AE76056206
Platform:       x86_64
Edition:        Enterprise
License Type:   Permanent

When selecting Traffic Reports ntopng crashes and no charts are printed:

opng[2018]: s

[2018-10-08 07:30] simonemainardi commented on #2085
duplicate of #2079

[2018-10-08 07:30] #2085 closed, assigned to simonemainardi

[2018-10-08 09:18] simonemainardi commented on #2079
Thanks for reporting @juesor. The partial trace you've sent me was helpful, in fact. I have been able to reproduce a crash in the exact point highlighted by your trace.

[code]

I've pushed a fix (https://github.com/ntop/ntopng/commit/0cf2d567865669b0bae89268988e894d8fcc0a46). A new build is in progress and will be available in 1h from now. Please, let me know. If you still experience the crash, t

[2018-10-08 09:38] malvivent7 commented on #2083
Thanks Simone; as you pointed me on the right direction now i have 4 queues with no packetloss with zc... so far so good!! I have a question it's possible to switch to italian language and not english on the community version of ntopng?

[2018-10-08 09:39] simonemainardi commented on #2083
Awesome, thanks for reporting!

As per the question on the language, note that multi-lang support is a pro-only feature.

[2018-10-08 09:39] #2083 closed, assigned to nobody

[2018-10-08 10:22] simonemainardi commented on #2056
@craigers521 sorry for the late reply. It's not strictly necessary to skype or teamviewer as you've already provided the dump that is providing good information, in fact. Thank you.

The crash points out a "Program terminated with signal 7, Bus error." during the creation of an rrd file. This suggests me it could be something related to the FS or the IO (e.g., a mmap on a file could raise a SIGBUS

[2018-10-08 14:33] juesor commented on #2079
I ran the update this morning and am currently on

Updated:
  ntopng.x86_64 0:3.7.181008-4953            ntopng-data.noarch 0:3.7.181008-4953            pfring.x86_64 0:7.3.0-2168            pfring-dkms.noarch 0:7.3.0-2168
Updated:
  n2disk.x86_64 0:3.1.181008-5001    ntopng.x86_64 0:3.7.181008-4953    ntopng-data.noarch 0:3.7.181008-4953    pfring.x86_64 0:7.3.0-2168    pfring-dkms.noarch 0:7.3.0

[2018-10-08 14:35] simonemainardi commented on #2037
duplicate of #2044

[2018-10-08 14:35] #2037 closed, assigned to nobody

[2018-10-08 14:37] #2025 closed, assigned to cardigliano

[2018-10-08 14:37] simonemainardi commented on #1980
@S0t0nN3rdS any news here?

[2018-10-08 14:38] ShagoY opened #2087 "[RaspberryPI] Anomalous termination when open "Traffic Report" tab"
Hi,

Version : 3.7.181002 - Professional/Embedded Edition
Built on : Raspbian GNU/Linux 9.1 (stretch)
ntopng.conf : ntopng --ndpi-protocols "/etc/ntopng/protocol.txt" --local-networks "192.168.1.0/24" --interface "eth0" --http-port "3000" --dns-mode "1"

When I open the tab "Traffic Report", ntopng crash systematically.
If I insist (F5), the diagram appears after a while and multiple crash.

I mad

[2018-10-08 14:55] simonemainardi commented on #2087
Duplicate of #2079. Should already be fixed. A new rpi build is in progress.Please hold on a couple of hours and try again. Otherwise follow up at #2079

[2018-10-08 14:55] #2087 closed, assigned to nobody

[2018-10-08 15:21] juesor commented on #2079
2 hours later still waiting on 1 server but first server is working.

[2018-10-08 15:27] simonemainardi commented on #2079
Thanks for reporting. I'm glad to read the issue with the reports is solved. It is safe to close this issue now. Thank you.

As per the database schema migration, this occurs when the mysql table schema needs some changes. This is a sporadic update operation and we haven't been touching the schema for more than 1 year now. So I would expect it not to happen at every update. If you are getting this

[2018-10-08 15:27] #2079 closed, assigned to nobody

[2018-10-08 15:47] simonemainardi commented on #2078
Following up via email directly. Seems to be a glitch affecting a small number of old licenses generated with lower-case hex letters.

[2018-10-08 15:47] #2078 closed, assigned to nobody

[2018-10-08 16:47] simonemainardi commented on #1978
I can't tell you a time frame now as we're focusing on other tasks. If you are interested in an expedited development please contact us privately and we will arrange that.

[2018-10-08 18:35] craigers521 commented on #2056
this is a RHEL virtual and FS is on a SAN, seems to have enough space unless ntop is storing somewhere i don't know about:

Filesystem            Size  Used Avail Use% Mounted on
/dev/mapper/system-root
                      5.2G  1.5G  3.4G  31% /
tmpfs                 3.1G  8.2k  3.1G   1% /dev/shm
/dev/sda1             500M   80M  394M  17% /boot
/dev/mapper/system-home
                      1.

[2018-10-09 07:59] simonemainardi commented on #2056
Can you try and use a partition that is local to the VM for the ntopng data directory? You can use option -d.

I want to understand if writing to the SAN could cause the issue. Thanks.

[2018-10-09 09:01] ListenNjoy opened #2090 "Nprobe to Mariadb"
I am having problem to get nProbe to write to MariaDB 10.3 database.
MariaDB IP-address: 192.168.15.22
NtopNG IP-adress: 192.168.15.21
NProbe IP-adress: 192.168.15.20

Nprobe.conf
-i=none
-n=none
-3="2055"
-V="10"
-L="77.244.0.0/20,185.212.24.0/22"
zmq="tcp://*:5556"
-T="@NTOPNG@"
--mysql="192.168.15.22;ntopng;nf;ntopng;*******"
Ntopng.conf
# -F "mysql-nprobe;192.168.15.22;ntopng;nf;ntopng;*******

[2018-10-09 09:05] simonemainardi commented on #2090
please, use the nProbe issue tracker is you are experiencing issues with nProbe.

As you said you are having troubles, also report the logs of nProbe that could contain potential errors.

[2018-10-09 09:05] #2090 closed, assigned to nobody

[2018-10-09 12:11] simonemainardi commented on #1983
Missing Mining category is now fixed.

The rest is in progress as part of #1974.

[2018-10-09 12:11] #1983 closed, assigned to nobody

[2018-10-09 13:22] gianogli commented on #2082
Thanks Emanuele... :-)

I've just tried with the `NON_NEGATIVE_DERIVATIVE` but I think that something doesn't work as expected.
This is the graph built using "ntopng-grafana-datasource":
![screenshot_20181009_150853](https://user-images.githubusercontent.com/14093378/46671732-cb0e8880-cbd5-11e8-9b4d-2b16abb37365.png)

This is the same graph built using directly the InfluxFB data...
![screenshot_20

[2018-10-09 14:17] emanuele-f commented on #2082
Can you post the exact query you are using?

[2018-10-09 14:18] gianogli opened #2091 "Add the possibility to count only the "active" hosts"
This is the list of hosts we can see into the Network window of ntopng:

![screenshot_20181009_154503](https://user-images.githubusercontent.com/14093378/46673922-3149da00-cbdb-11e8-8e16-973318410381.png)

The column that contains the number of hosts, however, contain some strange value for us: for instance we don't have 7655 real hosts into the first /19 network!
We tried to understand this value

[2018-10-09 15:09] gianogli commented on #2082
The query is in the bottom part of the second graph. :-)

The query of the first graph is:
![screenshot_20181009_170715](https://user-images.githubusercontent.com/14093378/46678941-16c92e00-cbe6-11e8-9494-146ce1a908d8.png)

[2018-10-09 16:41] emanuele-f commented on #2082
can you remove the 10s in the non negative derivative? Or replace it with 1s?

[2018-10-10 08:51] gianogli commented on #2082
Here new test with "1s" in the non negative derivative:
![screenshot_20181010_104051](https://user-images.githubusercontent.com/14093378/46723908-3b221a80-cc79-11e8-9686-28a06a7023f0.png)
The X-axis unit was a my fault, sorry...
This is instead the standard "ntopng-grafana-datasource" graph:
![screenshot_20181010_103621](https://user-images.githubusercontent.com/14093378/46724037-79b7d500-cc79-11e

[2018-10-10 10:23] simonemainardi commented on #2057
Implemented as requested.

Remote-to-remote alerts were already present.

![image](https://user-images.githubusercontent.com/3397663/46721014-50e01180-cc72-11e8-8e39-2d63f968fb93.png)

![image](https://user-images.githubusercontent.com/3397663/46721451-4f631900-cc73-11e8-9821-352ce99ec151.png)

Commit https://github.com/ntop/ntopng/commit/ddf49ef106607ebfcdc26989ca0dcbbe92f234e7 adds the same kind

[2018-10-10 10:23] #2057 closed, assigned to nobody

[2018-10-10 10:30] lucaderi opened #2092 "Missing data cleanup after pcap analysis"
If ntopng is started as -i <pcap file> ntopng creates a new network interface, dumps preferences and files under /var/lib/ntopng/. This pollutes the system as it leaves a lot of un-necessary data.

If not possible to do in another way (e.g. avoid dumping data at all for pcaps) it is requested to modify ntopng to **only if started with -i *pcap file>**
- ignore the -F flag
- during ntopng shutdown

[2018-10-10 14:47] craigers521 commented on #2056
only have 500Mb of local space just for boot... the rest is all SAN.  It's all good guys, this was just a stopgap solution while we wait on budget money for another netflow product.  I appreciate you taking the time to try to help but i'm going to move on.

[2018-10-10 14:47] #2056 closed, assigned to nobody

[2018-10-10 17:17] emanuele-f commented on #2082
this could be a sampling issue. Can you please open a new github issue?

[2018-10-10 19:12] jensenja opened #2094 "[feature request] support influxdb relays"
Hi,

I use influx relays within my infrastructure - this basically splits a single write to two different influxd hosts simultaneously, so I have data redundancy. It would be helpful if ntopng could separate out the host/port for reading and host/port for writing, and disable (or at least augment) the influxd version check for writing so that a relay could be used. When I tried to specify my influ

[2018-10-10 20:37] juesor opened #2095 "MySQL - Dropped Flows"
I have a user that is debating the exported data from the historical report.

Installed Packages
ntopng.x86_64                                                                       3.7.181010-4980                                                                        @ntop

If i run the report i get more data then he does.

Is there anything to look at for queries?

Are you looking to move away fr

[2018-10-11 06:55] simonemainardi commented on #2095
Is that user restricted to certain 'allowed networks'? If he does, then he will see only the traffic for his allowed networks.

We are developing a special-purpose high-perf flow database, our efforts are focused on it, we are not planning to move away from mariadb.

[2018-10-11 07:56] markathomas commented on #1684
I have the same issue.  Built fine but won't start

[2018-10-11 07:58] emanuele-f commented on #2094
Hi, is this the architecture you are using? https://github.com/influxdata/influxdb-relay#description
If so, you should be able to specify the load balancer address in the ntopng preferences, so that we can avoid adding a new field to the preferences. If this is ok, the only problem is the version check?

[2018-10-11 08:00] gianogli commented on #2082
Ok, you are right! I will open a new github issue in the next hours. Thanks. :-)

[2018-10-11 09:41] gianogli opened #2096 "Strange Grafana graphs by using directly the InfluxDB data"
This is the graph built using "ntopng-grafana-datasource":
![screenshot_20181010_103621](https://user-images.githubusercontent.com/14093378/46794730-c1596200-cd48-11e8-95d3-cb3a9989990d.png)

This is the same graph built using directly the InfluxFB data:
![screenshot_20181010_104051](https://user-images.githubusercontent.com/14093378/46794771-d7672280-cd48-11e8-81b9-9a594398053e.png)
... that is n

[2018-10-11 09:41] gianogli commented on #2082
Done... ;-)
https://github.com/ntop/ntopng/issues/2096

[2018-10-11 09:54] gianogli opened #2097 "[ERROR] partial write: max-series-per-database limit exceeded"
Since I run the last stable release of ntopng (v.3.6.181009) over InfluxDB I have a lot of this errors:

[code]

What can I do?

Thanks...

[2018-10-11 10:12] simonemainardi commented on #2097
first result of a google search: https://community.influxdata.com/t/series-limit-in-database/156

[2018-10-11 11:57] gianogli commented on #2097
You are right. Sorry.
I thought it was an error of ntopng and not of InfluxDB.
It's not too easy to understand which process generated the error...

I've just add `INFLUXDB_DATA_MAX_SERIES_PER_DATABASE=1500000` in my `/etc/default/influxdb` file.

Thanks...

[2018-10-11 11:58] #2097 closed, assigned to emanuele-f

[2018-10-11 12:56] jensenja commented on #2094
Hi @emanuele-f

Yes and no. I'm not running a load balancer - I'm simply running the relay process on each of my influx nodes and pointing all writes to `9096` on each node (depending on geographic location), so that any datapoint written to one node is also written to the other. The relay only cares about the `/write` endpoint and not the `/query` endpoint, so I didn't see the need to add in a lo

[2018-10-11 13:12] jensenja commented on #2094
One other issue that would definitely need to be addressed in order to support relays would be ntopng's method of interacting with influx in order to use it as a timeseries backend. Since DB creation and alterations require the use of the `/query` endpoint, when using a relay all databases must be created beforehand. Ntopng appears to require the use of an admin user since it makes calls to create

[2018-10-11 13:51] emanuele-f commented on #2094
Please consider that most users just want to turn on InfluxDB without worrying about initialization or configuration stuff. This is why we create the database and set the retention policy from the gui. Nevertheless, before creating the database, we check if that already exists, and in that case we do not create it again. Non-admin users are already handled in the latest ntopng dev version.

Since

[2018-10-11 15:21] mdrodman opened #2098 "ntopng service keeps stopping"
It runs for a while then stops.  Here is what it has in the Wndows application log.

Faulting application name: ntopng.exe, version: 0.0.0.0, time stamp: 0x5b7cfe44
Faulting module name: ntdll.dll, version: 6.1.7601.24094, time stamp: 0x5abee643
Exception code: 0xc0000005
Fault offset: 0x000000000002a1c5
Faulting process id: 0x1914
Faulting application start time: 0x01d46171f1f6236a
Faulting appli

[2018-10-11 16:13] simonemainardi commented on #2092
Implemented in https://github.com/ntop/ntopng/commit/f30e042cfc31ccabbd87fd90692244d0120a82f9

The cleanup is performed during the next ntopng restart. This is to preserve the pattern already used to delete data for inactive and active interfaces.

The -F pattern hasn't been removed as one can decide to dump flows to database even if they come from pcap file.

[2018-10-11 16:13] #2092 closed, assigned to nobody

[2018-10-11 16:18] emanuele-f commented on #2098
Possibly duplicate of #1980 . Can you provide a stack trace as explained in https://github.com/ntop/ntopng/blob/dev/doc/README.crash#L19 ?

[2018-10-11 16:19] emanuele-f commented on #1974
Implemented in aa1ead94c4c168c57b353e8694bf2251b5fca0e2

[2018-10-11 16:19] #1974 closed, assigned to emanuele-f

[2018-10-11 16:25] emanuele-f commented on #1982
The feature is now implemented in both nEdge and ntopng. Documentation at https://www.ntop.org/guides/ntopng/advanced_features/device_protocols.html

[2018-10-11 16:25] #1982 closed, assigned to emanuele-f, cardigliano

[2018-10-11 16:47] emanuele-f commented on #2096
The grafana export is limited to 600 points. When the number of points is higher, they are sampled. This is why the grafana graph is smoother. But the the graph from influxdb actually shows two data series (I see two shades of green), whereas the interface traffic is only one series. Can you explain this?

[2018-10-11 17:25] emanuele-f opened #2099 "Customized Categories hosts not honored in nEdge policies"
The concept of category was originally bound to a protocol but now custom URL and IP addresses can be added to the categories. The internal policing structures must be updated to reflect this change the in a similar way as commit 658e30a58663362233a4061c7cfa0e453b391598

[2018-10-11 18:27] jensenja commented on #2094
I'd think that it should be safe to assume that users that want to use influx as the backend should already have a basic understanding of how influx works - retention policies aren't exactly an advanced feature.

Good to know, thank you.

So again I don't really think this is necessary if the LB is configured to route requests to `/ping` (which you're using in influxdb.lua in `getInfluxdbVersion()

[2018-10-11 18:34] mdrodman commented on #2098
[trace.TXT](https://github.com/ntop/ntopng/files/2470216/trace.TXT)

[2018-10-12 08:17] emanuele-f commented on #2094
To summarize, the changes you've requested are very specific to your use case. If other people find this useful we can reconsider this, but for now I close the issue. Please consider manually editing the https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/timeseries/drivers/influxdb.lua#L321 script to handle your use case. If you have other suggestions, please update this issue.

[2018-10-12 08:17] #2094 closed, assigned to emanuele-f

[2018-10-12 08:24] emanuele-f commented on #2098
Thank you. What ntopng version are you using?

[2018-10-12 09:51] gianogli commented on #2096
The graph from InfluxDB is made by using one data series only. The 2 colors are due by the "fill" option of the "Display" tab. Here the same graph with the "fill" field set to 10:
![screenshot_20181012_101607](https://user-images.githubusercontent.com/14093378/46856866-e52fad00-ce07-11e8-97c3-f3b4582852ed.png)

Ok, I think this is the main difference of the 2 graphs. Do you know if there is a way

[2018-10-12 10:59] simonemainardi commented on #2091
Unfortunately, *your* definition of active isn't general enough for us to justify a change in all the tables that have a column with the host count.
We believe is is important to show any host in such counts as otherwise potentially relevant hosts could be hidden only because the've not received traffic.

However, being able to highlight one-way traffic hosts is still an important task. For this r

[2018-10-12 10:59] #2091 closed, assigned to simonemainardi

[2018-10-12 13:08] Karlheinzniebuhr commented on #1008
Having the same issue on ubuntu 18.04 Server

[2018-10-12 13:14] Karlheinzniebuhr opened #2100 "Cannot install on Ubuntu Server 18.04"
The Ubuntu/Debian installation ([http://packages.ntop.org/](http://packages.ntop.org/)) does not work on Ubuntu Server 18.04.
I cannot install the following command after executing all the steps mentioned in the documentation.

[code]

[2018-10-12 13:20] simonemainardi commented on #1008
@Karlheinzniebuhr show the error. Are you with ubuntu 18.04 Server? Release files seem to be in place for the 18.04: http://packages.ntop.org/apt/18.04/

[2018-10-12 13:29] simonemainardi commented on #1008
ok let's continue the discussion at the new issue you've open: https://github.com/ntop/ntopng/issues/2100

[2018-10-12 13:39] mdrodman commented on #2098
Hi,

3.6.180822 Professional Edition

[2018-10-12 14:20] mdrodman commented on #2098
I will upgrade to the latest version and let you know if it fixes the problem or not.

[2018-10-12 14:40] mdrodman commented on #2098
[trace_37.TXT](https://github.com/ntop/ntopng/files/2473499/trace_37.TXT)

[2018-10-12 14:47] mdrodman commented on #2098
The upgrade to 3.7 did not fix the issue. I included the trace.

[2018-10-12 14:52] #2084 closed, assigned to nobody

[2018-10-12 15:49] simonemainardi commented on #2052
The best way to implement this enhancement is to expand any of the ASes specified in `--local-asn` with all it's networks to basically update the list `--local-networks`.

However, performing such expansions isn't possible with the GeoIP libmaxminddb library we are using (https://github.com/maxmind/libmaxminddb/blob/master/doc/libmaxminddb.md) as it doesn't allow to query for an ASN. That is, give

[2018-10-12 16:01] emanuele-f commented on #2048
Implemented in aa1ead94c4c168c57b353e8694bf2251b5fca0e2, but waiting for #2099 to work properly

[2018-10-12 16:01] #2048 closed, assigned to nobody

[2018-10-12 16:19] cardigliano commented on #2100
@Karlheinzniebuhr did you configure the "nightly" or "stable" repository? It seems to be working for me, I need more details to reproduce this.
Please make sure you ran all the required commands:

wget http://apt.ntop.org/18.04/all/apt-ntop.deb
dpkg -i apt-ntop.deb
apt-get clean all
apt-get update
apt-get install pfring-dkms nprobe ntopng n2disk cento

[2018-10-12 16:21] emanuele-f commented on #2098
Thank you for the information.

[2018-10-12 16:40] emanuele-f commented on #2096
For the sampling you can use `SELECT mean(bytes) as bytes FROM ... GROUP BY time(aggregation_interval)` where aggregation_interval is calculated accordingly (time_interval / max_point). You would need a subquery to apply it on the derivative. Please look at the driver implementation for more details: https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/timeseries/drivers/influxdb.lua . For

[2018-10-12 17:37] Karlheinzniebuhr commented on #2100
I tried both the nightly and the stable release. Here is the entire output of the nightly builds. As shown below, problems start occuring while running apt-get update. There is an error:
[code]

root@monitoring:/home/monitoradmin# wget http://apt.ntop.org/18.04/all/apt-ntop.deb
--2018-10-12 14:32:24--  http://apt.ntop.org/18.04/all/apt-ntop.deb
Resolving apt.ntop.org (apt.ntop.org)... 151.11.50.18

[2018-10-13 06:56] Howard-Chang opened #2102 "ntopng crash Error in `ntopng': double free or corruption (!prev): 0x00007f4c20197740"
Hi, I have run ntopng+nprobe cento for a long time( about 3 months), but today I found ntopng shut down, and it seems like memory map problem.
ntopng Community Edition v.3.3.180314
OS:Centos7
below is ntopng log:
[code]
thank you in advance: )

[2018-10-14 07:24] lucaderi commented on #2098
@mdrodman The trace you sent me does not help. Can you please explain *exactly* how to reproduce the problem including
- the command line to use
- if there is something in the web interface that causes ntopng to shut down
- if you see something in the ntopng log file prior to experience the crash

[2018-10-15 07:38] emanuele-f commented on #2102
You are using an old ntopng version. Please update to the latest version.

[2018-10-15 07:38] #2102 closed, assigned to nobody

[2018-10-15 08:56] simonemainardi commented on #2100
I am not sure why you have this kind of errors.

It seems that apt is looking for a version `5.0` which honestly I don't know from where it comes from. Maybe file `/etc/apt/sources.list.d/ntop.list` has been manually mangled? File must contain

[code]

It seems also you have both the stable and dev repos installed.

Do a complete remove
[code]

Then follow the installation instructions again and d

[2018-10-15 09:06] simonemainardi commented on #2071
Missing data points when using high-res l7 at 10 seconds where due to the slow, unoptimized lua code used to store data points. Commits on Oct 12, 2018 have addressed this.

The housekeeping activities (in C++) were correctly and timely executed by ntopng.

For this reason, there's no need to spawn another thread to separate timely and batch activities so far. Note also that the only 'batch' activ

[2018-10-15 09:06] #2071 closed, assigned to emanuele-f

[2018-10-15 09:07] simonemainardi commented on #2095
@juesor did you have a chance to verify what I've suggested above?

[2018-10-15 09:43] simonemainardi commented on #1980
No feedback received. Closing for inactivity. Follow-up at #2098 if necessary.

[2018-10-15 09:47] simonemainardi commented on #1914
Ability to delete all interfaces data is now implemented. Manage data menu can be used to delete:

- data for all the inactive, previously used interfaces.
- data for the active, in-use interface (in this case a restart of ntopng is required)

Moreover, when creating an interface out of a pcap file, any data created is deleted and periodic scripts aren't run at all.

[2018-10-15 09:47] #1914 closed, assigned to simonemainardi

[2018-10-15 09:55] simonemainardi commented on #1633
As highlighted, the chart with active flows is available from the interface page. Any custom period can be selected by dragging the mouse or selecting one of the presets.

![image](https://user-images.githubusercontent.com/3397663/46943948-22e33e80-d071-11e8-877d-111c8d72e922.png)

[2018-10-15 09:55] #1633 closed, assigned to nobody

[2018-10-15 13:17] juesor commented on #2095
I have LDAP setup and where do i see allowed networks.  I am in the same LDAP group as he is.  It feels like ntopng is having a hard time going through the DB and pulling data while inserting data.

![image](https://user-images.githubusercontent.com/14931420/46953151-a04b8680-d052-11e8-9c4e-8150120301b8.png)

We've look at Dropped flows int he past but this is just crazy.

[2018-10-15 13:56] mdrodman commented on #2098
I click start, run.  I type services.msc.  I then right click on ntopng and click start.  After about 3 minutes the service stops.
  *   the command line to use – Not sure what you mean by that.  Its windows.
  *   if there is something in the web interface that causes ntopng to shut down- I am not using the web interface when the service stops.
  *   if you see something in the ntopng log file pr

[2018-10-15 14:53] jensenja opened #2103 "max number of hosts in host pool?"
Hi,

I can't seem to add more than 8 entries to a given host pool list. Right now I have one IPv4 subnet, one IPv6 subnet, and 6 MAC addresses added to a host pool. Attempts to add more MACs are just silently ignored and the MACs are never added to the host pool. I can't find any errors in the logs either. Running ntopng version `3.6.181009 - Enterprise Edition` (timed license for RFP purposes). I

[2018-10-15 15:03] juesor commented on #2095
Here is a comparison between two different users.  Top is the user that reports data missing.

![image](https://user-images.githubusercontent.com/14931420/46959345-6d5cbf00-d061-11e8-8e6f-2dc2818adfdf.png)

Below is my search for that data and yes its more but we have a cacti graph that shows that that /24 is using 250MB/s over that 1 hour range.  I am pointing out dropped flows because my thought

[2018-10-15 15:11] jensenja commented on #2103
Deleting the v4/v6 subnet entries allows me to add 2 more MAC addresses, but I still cannot add more than 8 items to a given host pool list.

[2018-10-15 15:44] gianogli commented on #2096
Yes, it works! Great!!!
These are the 2 query I'm using now:
![screenshot_20181015_145553](https://user-images.githubusercontent.com/14093378/46952257-a3626900-d08a-11e8-8410-06e7d12fdb4d.png)
![screenshot_20181015_145615](https://user-images.githubusercontent.com/14093378/46952262-a65d5980-d08a-11e8-8973-eb9066ad4eb9.png)
And now...
![screenshot_20181015_153056](https://user-images.githubusercont

[2018-10-15 16:13] simonemainardi commented on #2095
Correct, the reason is that you have a HUGE number of dropped flows.

Your MySQL installation isn't able to ingest all the flows generated by ntopng. You can try and tune MySQL for performance (see older issues about this topic) but it is unlikely you'll get a fast-enough MySQL at you traffic speed. This is why we are focusing on the development of a special-purpose database aimed at working with

[2018-10-15 16:13] #2095 closed, assigned to nobody

[2018-10-15 16:15] simonemainardi commented on #2103
The maximum number of pool members is capped at 8, unless you have an unlimited Enterprise license which features and unlimited number of pool members. So what you are experiencing is normal.

[2018-10-15 16:15] #2103 closed, assigned to nobody

[2018-10-15 16:49] emanuele-f commented on #2096
Thank you for your feedback! Dynamic charts is something we miss right now but we want to implement. This could also be relevant for issue #1670 .

[2018-10-15 16:49] #2096 closed, assigned to emanuele-f

[2018-10-15 17:23] Karlheinzniebuhr commented on #2100
I found the problem, the links inside the package [wget http://apt-stable.ntop.org/18.04/all/apt-ntop-stable.deb](http://apt-stable.ntop.org/18.04/all/apt-ntop-stable.deb) point to version 5.
The moment I run **dpkg -i apt-ntop-stable.deb** the file ntop-stable.list gets updated with these values.
[code]
When I change them to the ones you provided, it works! So to fix this, the [documentation ](ht

[2018-10-15 17:47] emanuele-f commented on #2099
Fixed in 6717e3850bd254854b35fa530ece8dac6ace1b88

[2018-10-15 17:47] #2099 closed, assigned to emanuele-f

[2018-10-16 04:14] swathinsankaran commented on #1866
Could you please let me know how you solved the issue?

Thanks,
Swathin

[2018-10-16 06:03] swathinsankaran opened #2105 "Using NTOP data from another web application"
My requirement is to get the ntop data through REST call and show it my web application. But I am facing CORS header issue. This issue is very similar to the issue #1866.

Could anyone help me in resolving this issue?

Regards,
Swathin

[2018-10-16 08:13] emanuele-f commented on #2105
Hi, as outlined into the linked issue, have you added the CORS header into the script https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/lua_utils.lua#L151 ? It should be `print("Access-Control-Allow-Origin: *\r\n")`. You also need HTTP auth, or disable it in ntopng by adding the `-l 1` option to the config.

[2018-10-16 08:23] simonemainardi commented on #2100
this is what we do to populate the file. Actually, the 18 version is taken from lsb release and it works here:

[code]

Can you please report the output these commands:

[code]

[2018-10-16 08:53] swathinsankaran commented on #2105
Hi Emanuele,

I have added the line in `print("Access-Control-Allow-Origin: *\r\n")` to the file `lua_utils.lua` but i haven't added the `-l 1` option in the config file. I have started the ntop with `-l 1` option but now a diferent error is coming `Response for preflight is invalid (redirect)`.

Regards,
Swathin

[2018-10-16 09:43] emanuele-f commented on #2105
Hi, what ajax request are you sending? Please check out https://stackoverflow.com/questions/42168773/how-to-resolve-preflight-is-invalid-redirect-in-cors/42172732 .

[2018-10-16 09:47] swathinsankaran commented on #2105
Hi Emanuale,

I am having the following code in html which is making a request to the ntop but even after adding the `print("Access-Control-Allow-Origin: *\r\n")` in lua_utils.lua file and -l 1 while starting the ntop, a different error is coming now `Response for preflight is invalid (redirect)`.

[code]
Thanks for the quick response.

Regards,
Swathin

[2018-10-16 10:01] S0t0nN3rdS commented on #1980
I spent over 2 hours trying to install the dev tools etc for the debug logs and had no joy doing this.. Its probably going to be much easier if I reinstall the app from scratch.

Are there any other installation folders I need to remove manually as when I tried this, it dd retail alot of the setup info.

Thanks

[2018-10-16 10:14] emanuele-f commented on #2105
can you try to remove the "dataType" and the beforeSend ? Can you inspect the http requests/response to figure out what's going wrong?

[2018-10-16 10:15] emanuele-f commented on #1980
Please remove ntopng and perform a `redis-cli flushall` and `rm -rf /var/lib/ntopng`. Then reinstall

[2018-10-16 10:38] lucaderi opened #2106 "Add Ubuntu 18.04 LTS support"
Currently nEdge supports only Ubuntu 16.06 LTS. It is requested to make changes to also support Ubuntu 18.04 LTS

[2018-10-16 10:52] gamujtaba opened #2107 "ntopng is creashing"
Hi I am using netgate sg 3100 pfsense firewall i have install ntopng for monitor the employ internet usage.  i am facing issue ntopng service is automatically down after some time. and i am unable to access interface.

kindly confirm me why my ntopng service goes to stop automatically

[2018-10-16 11:23] emanuele-f commented on #2107
HI, what ntopng version are you using? What is your ntopng configuration?

[2018-10-16 11:41] gamujtaba commented on #2107
My Pfsense version is 2.4.4
my ntopng version is:  v.3.4.180911

I dont know how i can check the configuration. i have installed packages in pfsense available packages section.

and configured from from Package> Diagnostics: ntopng Settings

Regards,
Ahmad

[2018-10-16 14:25] Karlheinzniebuhr commented on #2100
monitoradmin# /usr/bin/lsb_release -a
No LSB modules are available.
Distributor ID: elementary
Description:    elementary OS 5.0 Juno
Release:        5.0
Codename:       juno
monitoradmin# /usr/bin/lsb_release -i
Distributor ID: elementary
monitoradmin# /usr/bin/lsb_release -i|cut -f 2
elementary
monitoradmin# /usr/bin/lsb_release -c|cut -f 2
juno
monitoradmin# /usr/bin/lsb_release -s -r
5.0

It s

[2018-10-16 14:27] #2100 closed, assigned to nobody

[2018-10-16 14:30] simonemainardi commented on #2100
You have Elementary OS 5.0 Juno, not Ubuntu18 as stated in the title. Double-check before posting invalid issues.

[2018-10-16 14:51] emanuele-f commented on #2107
The 3.4 version is outdated, we do not support it anymore. Please ask the Pfsense team to upgrade the package to the new stable.

[2018-10-16 14:51] #2107 closed, assigned to nobody

[2018-10-16 15:10] Karlheinzniebuhr commented on #2100
Actually I have Ubuntu Server 18.04 with Elementary on top of it. But you are right I should’ve checked that.

Sent from Mail for Windows 10

From: simonemainardi
Sent: Tuesday, October 16, 2018 11:31 AM
To: ntop/ntopng
Cc: Karl; State change
Subject: Re: [ntop/ntopng] Cannot install on Ubuntu Server 18.04 (#2100)

You have Elementary OS 5.0 Juno, not Ubuntu18 as stated in the title. Double-check

[2018-10-16 16:13] DevPGSV commented on #1949
I am also getting the same error:

ntopng: src/../third-party/patricia/patricia.c:753: patricia_node_t* patricia_lookup(patricia_tree_t*, prefix_t*): Assertion `prefix->bitlen <= patricia->maxbits' failed.

I am on Debian stretch. I compiled ntopng with the following steps:
https://www.ntop.org/get-started/download/
[code]
[This](http://mailman.icsi.berkeley.edu/pipermail/bro-dev/2012-November/005

[2018-10-16 22:49] lucaderi commented on #2098
Please start from cmd.exe

ntopng /c ... <any parameter you are using>

and attach to this ticket all the log messages you see on cmd.exe

[2018-10-16 22:51] lucaderi opened #2108 "Influx export error at startup"
When ntopng is just started (it does not happen after the initial exports) there are export errors

17/Oct/2018 00:47:27 [housekeeping.lua:26] [influxdb.lua:439] ERROR: POST of /var/lib/ntopng/6/ts_export/44_1539729940 failed
17/Oct/2018 00:47:30 [housekeeping.lua:26] [influxdb.lua:439] ERROR: POST of /var/lib/ntopng/6/ts_export/45_1539729951 failed

that disappear after a few seconds.

[2018-10-17 06:34] waqar-ali-aziz opened #2109 "Connecting NTOP with MYSQLfor saving data"
respected Sir i want to store data from ntop flows to MYSQL and i think i am making mistake in -F modification command. should it be written in ntopng.conf file (in this form # -F = "---------") and kindly explain briefly its parameters and 2nd thing is that is it necessary to make table in MYSQL or ntop will create it automatically ?

[2018-10-17 06:41] gamujtaba commented on #2107
i have created the ticket but they are not updating. now what i can do for upgrade this package to new pacakge in netgate sg 3100

[2018-10-17 07:24] simonemainardi commented on #2109
What you're asking is already in the documentation:

- configuration file: https://www.ntop.org/guides/ntopng/how_to_start/configuration_file.html
- mysql dump https://www.ntop.org/guides/ntopng/advanced_features/flows_dump.html?highlight=mysql

Don't forget to check that out before opening issues.

[2018-10-17 07:24] #2109 closed, assigned to nobody

[2018-10-17 07:32] simonemainardi commented on #1949
Thank you for this feedback, this is definitely helpful.

Can you please run a packet capture on the 6to4 interface, then start ntopng, wait until it crashes, and finally send the pcap here so we can use it to debug?

[code]

thank you

[2018-10-17 08:05] emanuele-f commented on #2107
if you have the possibility to compile from source, you could clone this git repository compile it by following the [compilation instructions](https://github.com/ntop/ntopng/blob/dev/doc/README.compilation)

[2018-10-17 10:34] S0t0nN3rdS commented on #1980
Dont think these commands work for windows

[2018-10-17 12:06] mimugmail commented on #1928
+1 nice idea!

[2018-10-17 12:09] mimugmail opened #2110 "[ntopng / nprobe] Interface selection chopped with nProbe criterion for disagg."
Hi,

I set up ntopng and nprobe as a flow collector to troubleshoot network problems. When I send flows from multiple agents the selections of nprobe IPs in interface selection is chopped (see screenshot).

Perhaps there's a better approach available?

![image](https://user-images.githubusercontent.com/20438689/47085223-42679c00-d216-11e8-88b8-f7659b055b2a.png)

[2018-10-17 12:45] simonemainardi commented on #2110
it's just the name that has been shortened. You can visit the interface page and change / add another name. Is this what you mean?

[2018-10-17 13:04] mimugmail commented on #2110
Oh, wasn't aware that we can change this in interface view, sorry :)

[2018-10-17 13:04] #2110 closed, assigned to nobody

[2018-10-17 13:48] mdrodman commented on #2098
Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\Program Files\ntopng>ntopng /c
Starting ntopng
Running ntopng.
17/Oct/2018 08:40:31 [Ntop.cpp:1545] Setting local networks to 127.0.0.0/8
17/Oct/2018 08:40:31 [Redis.cpp:132] Successfully connected to redis 127.0.0.1@0

17/Oct/2018 08:40:31 [Redis.cpp:132] Successfully connected to redis 127.0.

[2018-10-17 13:49] mdrodman commented on #2098
[ntop.txt](https://github.com/ntop/ntopng/files/2487688/ntop.txt)

[2018-10-17 13:49] #2098 closed, assigned to lucaderi

[2018-10-17 17:29] S0t0nN3rdS commented on #1980
Setup on a new PC and now working, so who knows what was going on but thanks for all of your help!

[2018-10-18 08:07] emanuele-f commented on #1980
Thank you for reporting

[2018-10-18 08:07] #1980 closed, assigned to nobody

[2018-10-18 13:52] #2108 closed, assigned to emanuele-f

[2018-10-18 19:37] tiitba opened #2111 "Error to start ntopng"
Hi, when i try run ntopng with file config path, console inform the follow error:
"ntopng /etc/ntopng/ntopng.conf
Segmentation fault"
However, on the reeset/start machine, ntopng take config, but i dont know from wich file config.

Data SO:
PRETTY_NAME="Debian GNU/Linux 9 (stretch)"
NAME="Debian GNU/Linux"
VERSION_ID="9"
VERSION="9 (stretch)"

Nntopng version:
ntopng Enterprise Edition v.3.6.18101

[2018-10-19 08:51] emanuele-f commented on #2111
Hi, please remove the --daemon option from the config. The ntopng service will automatically read /etc/ntopng/ntopng.conf on startup. Can you try to manually start ntopng from command line and get a backtrace of the crash as described here? https://github.com/ntop/ntopng/blob/dev/doc/README.crash

[2018-10-19 12:37] jiangdu8888 opened #2112 "Unable to write on /var/lib/ntopng as 'ntopng'"
19/Oct/2018 20:23:09 [Utils.cpp:407] WARNING: mkdir(/var/lib/ntopng) failed [13/Permission denied]
19/Oct/2018 20:23:09 [main.cpp:368] ERROR: Unable to write on /var/lib/ntopng as 'ntopng' [/var/lib/ntopng/.test]: No such file or directory. Please specify a different directory (-d)

[2018-10-19 12:54] cardigliano commented on #2112
@jiangdu8888 please read https://www.ntop.org/support/faq/migrate-the-data-directory-in-ntopng/ to migrate your datadir.
What is your linux distribution/version?

[2018-10-19 14:10] tiitba commented on #2111
Hi, thanks for your asnwer. I removed --daemon option from the config, but error message still on console.
On the other hand, here the output from gdb:

  gdb --args ntopng /etc/ntopng/ntopng.conf
GNU gdb (Debian 7.12-6) 7.12.0.20161007-git
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are

[2018-10-19 15:31] emanuele-f commented on #2111
This is the same issue as #2021 . The fix has not been backported to stable

[2018-10-19 15:47] emanuele-f commented on #2111
Now backported with 12f6373976c8949e946e6971452f92b29e52d2cf . A new package will be available in one hour. Thank you for reporting.

[2018-10-19 15:47] #2111 closed, assigned to emanuele-f

[2018-10-19 16:48] emanuele-f commented on #2105
@swathins079 were you able to solve the issue?

[2018-10-19 16:51] emanuele-f commented on #2060
Closing as it seems to work properly.

[2018-10-19 16:51] #2060 closed, assigned to emanuele-f

[2018-10-19 18:11] tiitba commented on #2111
Hi! It´s working!!
Thanks very much for you help!!

[2018-10-20 00:29] ghost commented on #2000
I just had a chance to test... the problem is still very much present for me.

This is my NTPL file:

[code]

If you have any thorough documentation for non-PCI passthrough/virtualized ZC, I can give that a go to see if the problem also exists there. However it should make no difference, in this case the card is passed through with IOMMU+vfio.

ntopng locks up.

[2018-10-20 01:02] jiangdu8888 commented on #2112
ubuntu16.04   and i'm first install "nTOPNG" on it

[2018-10-20 14:12] cardigliano commented on #2112
@jiangdu8888 a fresh install on ubuntu 16 is working for me, the installation script is creating the /var/lib/ntopng folder with the right permissions. If you did not fix it yet, could you provide "ls -al /var/lib"? Thank you.

[2018-10-20 14:21] cardigliano commented on #2000
@vogelfreiheit what ntopng version are you running? There is no special instruction for running ntopng on top of napatech, your ntpl configuration looks fine. After my previous fix ntopng is working smoothly on Napatech, strange that you still experience the same issue (did you see any difference?). Thank you.

[2018-10-20 14:56] ghost commented on #2000
This is the output of --version:

[code]

(I can confirm the license over e-mail)

The issues does not manifest when running nprobe as the source of flows:

[code]

The only unusual thing about this setup is that the card is passed through to the guest. I'm happy to test the ZC virtual machine capabilities if you guide me through the setup process, in that case we would not be using PCI passthroug

[2018-10-20 15:07] ghost commented on #2000
[code]

[2018-10-22 06:58] lucaderi opened #2113 "Periodically check DHCP-assigned address"
When nEdge has a dynamic IP address set via DHCP, in case the periodic lease is renewed but bound to a different IP address (with respect to the previous one), nEdge needs to detect this and reconfigure itself. This is because when used for instance in transparent bridge, the rules must be refreshed according to the new IP address. Addressing this ticket can be done via a periodic IP check (i.e. s

[2018-10-22 07:13] theo-bot opened #2114 "InfluxDB Missing measurements"
Hi,

I've enabled the Local Host Timeseries. However I still miss some measurements in my influxdb. I noticed in the influxdb the following:

"SELECT * FROM ntopng.autogen.\"host:ndpi\" WHERE host = '172.31.2.3' AND ifid = '4' AND time >= 0 GROUP BY protocol LIMIT 2

We only have:

name: measurements
name
----
asn:rtt
asn:traffic
flowdev_port:traffic
host_pool:blocked_flows
host_pool:ndpi
host_poo

[2018-10-22 10:41] simonemainardi opened #2115 "std::new exceptions not always handled"
C++ operator new raises a bad_alloc exception upon failure.

ntopng doesn't always catch this exception, and this could result in potentially abnormal ntopng terminations.

It is requested to either
- handle all these exceptions every time a new is called
- call the new(std::nothrow) operator to prevent the new from throwing exceptions and allowing the check of the assigned variable against NULL (

[2018-10-22 13:25] kravietz opened #2116 "usr/share/ntopng/scripts/lua/modules/xmlSimple.lua:66: bad argument #1 to 'find'"
Getting a lot of these when running network discovery.

[code]
Ntopng info:

[code]

[2018-10-22 13:56] emanuele-f opened #2117 "nEdge recovery IP traffic should not be monitored by nEdge"
nEdge recovery IP traffic appears into the nEdge gui, and this is not good as it could possibly be dropped. This should be avoided the same way as the traffic directed to the nEdge LAN IP address.

Edit: when in VLAN trunk mode, the management interface should be excluded as well from monitoring for the same reasons as above. Update the [vlan trunk docs](https://www.ntop.org/guides/nedge/bridging.

[2018-10-22 18:06] #2116 closed, assigned to nobody

[2018-10-22 18:07] emanuele-f commented on #2116
Thank you!

[2018-10-22 20:01] franciscoer opened #2118 "Top Visited Sites"
Hi! We are interested in having this feature, could you implement it?

Visualize the top HTTP sites contacted by any host

Thanks !

BR

Francisco

[2018-10-23 03:38] gamujtaba commented on #2107
I am using Netegate SG 3100 pfsense firewall i have tried to compile with update version but i am unable to compile. i have installed ntopng using package manage option in pfsense. there is old version 3.4 is stored. i want to update 3.6 for stability. with 3.4 i am facing issue. ntopng service stop automatically after some time. when i restart its removed all stored data. i want to monitor my emp

[2018-10-23 04:37] gamujtaba opened #2119 "I am using Netegate SG 3100 pfsense firewall i have tried to compile with update version but i am unable to compile. i have installed ntopng using package manage option in pfsense. there is old version 3.4 is stored. i want to update 3.6 for stability. with 3.4 i am facing issue. ntopng service stop automatically after some time. when i restart its removed all stored data. i want to monitor my employees internet usage."
kindly help me to fix this

_Originally posted by @gamujtaba in https://github.com/ntop/ntopng/issues/2107#issuecomment-432078515_

[2018-10-23 06:35] simonemainardi commented on #2119
Duplicate of https://github.com/ntop/ntopng/issues/2107

If you need support to compile, please, report the exact steps you've done and the compilation errors you're getting.

[2018-10-23 06:35] #2119 closed, assigned to nobody

[2018-10-23 06:39] simonemainardi commented on #2118
visit ntopng preferences, enable top HTTP sites

![image](https://user-images.githubusercontent.com/3397663/47340634-25601c80-d69f-11e8-9763-7ba7e5dc0109.png)

and you'll have them:

![image](https://user-images.githubusercontent.com/3397663/47340625-1ed1a500-d69f-11e8-955b-c3ef1c3fdf4e.png)

[2018-10-23 06:39] #2118 closed, assigned to nobody

[2018-10-23 11:53] franciscoer commented on #2118
Hey Simone, thanks for your answer. I already did a few days ago. But I do
not have the HTTP menu, inside the host

Please, take a look at images attached

Thanks

BR

Francisco

El mar., 23 oct. 2018 a las 3:39, simonemainardi (<notifications@github.com>)
escribió:

[2018-10-23 11:54] franciscoer commented on #2118
![preferences](https://user-images.githubusercontent.com/44379854/47358787-2db95700-d6a1-11e8-97f0-fbe292b9d726.png)
![hosts](https://user-images.githubusercontent.com/44379854/47358788-2db95700-d6a1-11e8-9113-b6747c265941.png)
Hey Simone, thanks for your answer. I already did a few days ago. But I do not have the HTTP menu, inside the host

Please, take a look at images attached

Thanks

BR

Fran

[2018-10-23 13:26] cardigliano commented on #2000
@vogelfreiheit I tried with the same configuration, however it is working smoothly for me:

/opt/napatech3/bin/ntpl -e "Delete=All"
/opt/napatech3/bin/ntpl -e "Setup[State=Active] = StreamId==252"
/opt/napatech3/bin/ntpl -e "Assign[StreamId = 252] = Port == 0"

sudo ntopng -i nt:stream252

PCI passthrough should be fine, I would keep using your current configuration.
While we keep investigating, p

[2018-10-23 17:16] emanuele-f opened #2120 "nEdge does not mark unknown flows even after huge number of packets"
[code]

this reduces performance as all the packets must go into userspace

[2018-10-25 07:40] simonemainardi commented on #2118
I've noticed you are using a ZMQ interface. VIsited websites are only available when ntopng monitors a physical interface with traffic packets.

[2018-10-25 08:11] emanuele-f commented on #2114
Hi, which ntopng version are you using (ntopng -V)? From your `show measurements` output it seems like you are missing host timeseries indeed. So you can't see any host charts into ntopng right? The string "ntopng.autogen." is strange, where did you get it? Can you post a screenshot of the ntopng about page?

[2018-10-25 11:46] emanuele-f commented on #2114
You are missing the local networks configuration, please check out https://www.ntop.org/guides/ntopng/basic_concepts/hosts.html#local-hosts

[2018-10-25 11:46] #2114 closed, assigned to nobody

[2018-10-25 19:38] slylander opened #2121 "multiple flow entries of the same source/destination"
I encountered something strange. ntopng kept indicating it reached max flow counter.  Upon inspecting I found there are multiple entries of the same source/destination.
ntopng.conf
---
-G=/var/run/ntopng.pid
-i=zc:eno1
--https-port=3001
-m=local networks
-n=1
-S=local
-d=/opt/ntopng
-q=
-X=3276800
---
Where do I troubleshoot?

![sniff-flow1](https://user-images.githubusercontent.com/23007984/47525

[2018-10-25 19:44] lucaderi opened #2122 "Describe best practices of optimising ntopng performance"
As described in https://www.ntop.org/ntopng/best-practices-for-running-ntopng/ ntopng can be configured to take advantages of RSS and ZC. This is not described in the ntopng user's guide and it ought to be described.

[2018-10-26 08:56] lucaderi opened #2123 "Invalid report"
The images below demonstrate that the queries and data returned is wrong, just TCP as a filter
![image002](https://user-images.githubusercontent.com/4493366/47555983-8c830880-d90d-11e8-8be7-383ded96ace5.png)
![image003](https://user-images.githubusercontent.com/4493366/47555987-8ee56280-d90d-11e8-8681-7761e2474962.png)

[2018-10-26 18:01] ghost commented on #2000
I will send over the files to your e-mail address if you can provide a (spam-proof) address here.
 The Napatech SDK is the latest version. Ingress traffic is under 1gbps, usualyl 2-50mbit. Nothing to break a sweat for.

I do have a new observation: n2disk grabbing off the same stream, with ntopng, makes ntopng bite the dust. I forgot how to duplicate/serve non round robin traffic across streams so

[2018-10-27 09:34] cardigliano commented on #2000
Please send the files to cardigliano at ntop.org

[2018-10-29 09:00] lucaderi opened #2124 "Missing VLAN_ID in Aggregated Flows"
Aggregated flows do not contain a VLAN_ID as raw flows have. This must be implemented

[2018-10-29 09:20] fsamareanu opened #2125 "Missing throughput in flows (always 0B)"
Hello,

I have this issue when I click on flows (notice it says 0 B/sec for all flows):

![image](https://user-images.githubusercontent.com/38040820/47640447-0ff66100-db7d-11e8-80d3-27a8c19a27d1.png)

However, traffic is seen by ntopng:

![image](https://user-images.githubusercontent.com/38040820/47640523-387e5b00-db7d-11e8-9185-7618c72988ea.png)

ntopng version is 3.7.181028 - Enterprise Edition

[2018-10-29 10:01] emanuele-f commented on #2121
Please confirm that the source and destination IP and ports of two rows are exactly the same? It's not clear from the screenshot above

[2018-10-29 10:04] emanuele-f commented on #2125
Possibly same issue as #2121

[2018-10-29 12:57] fsamareanu commented on #2125
Is there any info you require to troubleshoot this?

[2018-10-29 13:10] emanuele-f commented on #2125
What are the contents of /etc/ntopng/ntopng.conf ?

[2018-10-29 13:16] fsamareanu commented on #2125
-G=/var/run/ntopng.pid
-i=enp4s0.100
-i=enp4s0.101
-i=enp4s0.102
-i=enp4s0.103
-i=enp4s0.104
-i view:enp4s0.100,enp4s0.101,enp4s0.102,enp4s0.103,enp4s0.104
--local-networks="192.168.0.0/16,172.17.172.0/24"
-F "mysql;127.0.0.1;ntopng;flows;ntopng;XXXXXXXXXXXXXXXXXXXX"
-n=1
--http-prefix="/ntopng"
-l=1
-w :3000
-d=/data/var/lib/ntopng

[2018-10-29 13:50] emanuele-f commented on #2125
Please follow bug #2121

[2018-10-29 13:50] #2125 closed, assigned to nobody

[2018-10-29 14:20] emanuele-f commented on #2112
@jiangdu8888 any news?

[2018-10-29 14:20] emanuele-f commented on #2105
Closing for inactivity

[2018-10-29 14:20] #2105 closed, assigned to nobody

[2018-10-29 15:34] slylander commented on #2121
Hi Emanuele,

Yes, the source and destination IP and ports are exactly the same. I redacted them from praying eyes.  I can provide you via private channel if needed.

Thank you,

Willie

From: Emanuele Faranda <notifications@github.com>
Sent: Monday, October 29, 2018 3:02 AM
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: Peng, Willie <wpeng@fullerton.edu>; Author <author@noreply.github.com>
Subje

[2018-10-29 17:39] victorhooi commented on #2106
Will nEdge currently install on Ubuntu 18.04 or 18.10?

Is this simply a case of it not being officially supported, or does it actually not work?

[2018-10-29 18:33] #2121 closed, assigned to lucaderi, emanuele-f

[2018-10-30 07:39] izzie88 opened #2126 "I cannot login to ntopng"
When i enter my username and password, the page just refreshes and nothing happens.
I have done a password reset and still nothing happens.

The service is running and I dont know why I cannot login.

[2018-10-30 09:08] jiangdu8888 commented on #2112
ok,i did not fix it,so i change to install 3.6         so sorry about ruturn u late

[2018-10-30 09:22] emanuele-f commented on #2126
Hi, have you followed the instructions at https://github.com/ntop/ntopng/tree/dev/doc#resetting-admin-user-password ? What ntopng version are you using? Have you tried with another browser?

[2018-10-30 10:02] roigroup opened #2127 "lua_utils.lua error"
Hi,
I've just upgraded ntopng using this method:

https://community.nethserver.org/t/how-can-i-update-ntopng/7222/6

But now when I open it I get:

![schermata 2018-10-30 alle 11 00 31](https://user-images.githubusercontent.com/44604491/47710476-24953080-dc33-11e8-91fa-63fa4fffc16a.png)

Is there something I can do to solve it? Thanks.

[2018-10-30 10:15] emanuele-f commented on #2127
I think you are using an old version, please contact the nethserver support for this.

[2018-10-30 10:15] #2127 closed, assigned to nobody

[2018-10-30 11:01] izzie88 commented on #2126
ntopng version
v.3.6.181029    [Enterprise/Professional build]

Deleting this file runtimeprefs.json worked for me.
Thanks

[2018-10-30 11:28] #2126 closed, assigned to nobody

[2018-10-31 09:34] simonemainardi commented on #2123
Please, tell me:

- ntopng configuration used
- ntopng version
- is the historical data explorer browsed by a non-admin ntopng user with restricted privileges?

Please, also do the following to help me with the debug:

- make sure you are using the latest ntopng 3.7
- stop ntopng
- edit file /usr/share/ntopng/scripts/lua/modules/db_utils.lua and replace empty line 316 with the following line

[cod

[2018-10-31 09:47] lucaderi opened #2129 "Run minute.lua with multiple threads"
Currently minute.lua is not exploiting threads and so we have one minute.lua per ntopng instance, regardless of the number of interfaces. This might be a problem whenever there are too many open interfaces, as 60 sec might not be enough. This needs to be fixed

[2018-10-31 15:10] roigroup commented on #2127
I'm using NethServer 7.5.1804, the actual latest version.

[2018-10-31 16:30] emanuele-f commented on #2127
ntopng version. We are not NethServer

[2018-10-31 17:19] juesor commented on #2123
CentOS Linux release 7.5.1804 (Core)

ntopng.x86_64      3.7.181016-5025

No the end user is part of the group i have setup for LDAP Admin Group

I just upgraded to the latest nightly as requested to be on the latest.

ntopng.x86_64 0:3.7.181031-5126
ntopng-data.noarch 0:3.7.181031-5126

output of starting ntopng with tprint on line 317

 table
sql string select COUNT(*) AS TOT_FLOWS, SUM(IN_BYTES

[2018-10-31 18:13] juesor commented on #2123
MariaDB [ntopng]> select COUNT(*) AS TOT_FLOWS, SUM(IN_BYTES + OUT_BYTES) AS TOT_BYTES, SUM(PACKETS) AS TOT_PACKETS FROM aggrflowsv6 where FIRST_SWITCHED <= 1541005947 and FIRST_SWITCHED >= 1541002347 AND (NTOPNG_INSTANCE_NAME='ntopngmi.acentek.net'OR NTOPNG_INSTANCE_NAME IS NULL OR NTOPNG_INSTANCE_NAME='') AND (INTERFACE_ID='2') AND VLAN_ID=0;
+-----------+-----------+-------------+
| TOT_FLOWS |

[2018-10-31 19:31] ghost opened #2130 "GUI problem with fresh nedge installation"
The following is my install procedure:

wget http://apt.ntop.org/16.04/all/apt-ntop.deb
dpkg -i apt-ntop.deb
apt-get install nedge

The version installed is 3.7.181031-5398

After changing the default admin password, the GUI craps out

![untitled](https://user-images.githubusercontent.com/19802121/47813629-0823f180-dd22-11e8-851b-4f84e45ca689.png)

[2018-10-31 19:48] simonemainardi commented on #2123
let's consider this:

[code]

Do you think is reasonable? That is approx 1.3MB per flow. Maybe ntopng failed to insert into `aggrflowsv4 `

[2018-11-01 16:12] juesor commented on #2123
Yea that's close to the correct information but that's only with the TCP option in place.  Shouldn't the search above report back more data as its all traffic without the TCP filter.

[2018-11-01 17:31] ghost opened #2131 "nEdge DNS 5 seconds delay issue"
I have setup nedge (3.6.181031-5400) in router mode.  I performed a couple of tests with a client using this box as a gateway to verify the functionality of the routing features:

- client pings to 8.8.8.8, looks good
- client -> curl http://www.example.com/index.html This took 5 seconds. Upon further inspection, one of the 2 DNS queries performed never returned.  I have attached a trace

192.168.

[2018-11-02 09:23] emanuele-f commented on #2130
Do you have special plugins installed? Like ublock?

[2018-11-02 09:27] emanuele-f commented on #2131
It seems like that you hit this bug: https://www.ntop.org/guides/nedge/dns.html#dns-issue-5-seconds-delay . At the present, we are not aware of any general solution for the issue. It is a kernel bug.

[2018-11-02 13:23] ghost commented on #2000
Sending those today!

Could you send me a barebones list of instructions to setup the PF_RING ZC virtualization so that I don't need to use PCI-E passthrough. It works but I can't really reboot the VM as the PCI-E card does not seem to know how to reset itself properly:

[code]

That will obviously slow down whatever tests I can run as hard resets are needed.

[2018-11-02 13:26] cardigliano commented on #2000
@vogelfreiheit the PF_RING ZC support for KVM is not meant to be used for replacing the PCI-e passthrough, it should be used to create inter-VM processing patterns, with a master application running on the host, and the configuration is a bit more complicated. However you can find instructions at http://www.ntop.org/guides/pf_ring/vm/kvm_zc.html

[2018-11-02 14:09] ghost commented on #2130
There are no special packages installed.  I reverted to the recent stable and that worked nicely.

[2018-11-02 14:24] ghost commented on #2131
Ahh yes, that's the exact problem. Is there a reason your recommended work-around is not handled by nedge... or is that a solution for the client side?

[2018-11-02 14:40] emanuele-f commented on #2131
The suggested solution is client side only, since no known server side solution is currently known

[2018-11-02 15:14] ghost commented on #2131
Thanks for the info.  Can you recommend a kernel version for the nedge router to use where this bug is not present?  The bug was discovered over a year ago, and this seems like a show stopper for a router product.

[2018-11-02 15:43] emanuele-f commented on #2131
I know, we are currently looking forward for more info about this, I'm not aware of any official kernel patch/version released to address this issue.

[2018-11-02 16:26] ghost commented on #2131
Ok, thanks for the help on this one

[2018-11-02 16:34] emanuele-f commented on #2131
I see that some kernel commits reference this issue (https://github.com/torvalds/linux/commit/590b52e10d410e1439ae86be9fe19d75fdab628b) so newer kernel version are probably not affected. I'd try to make nEdge run on newer ubuntu 18 to see if the newer kernel (4.15) does not have this bug. See #2106

[2018-11-05 09:33] emanuele-f commented on #2130
I can't reproduce the issue, can you please open the broken page source (e.g. CTRL+U on firefox) and post it somewhere so that I can inspect it?

[2018-11-05 09:49] gamujtaba opened #2132 "ntopng is crashing"
Hi I am using netgate sg 3100 pfsense firewall i have install ntopng for monitor the employ internet usage. i am facing issue ntopng service is automatically down after some time. and i am unable to access interface.

kindly confirm me why my ntopng service goes to stop automatically

My Pfsense version is 2.4.4
my ntopng version is: ntopng Community/Embedded Edition v.3.6.181103

I dont know how

[2018-11-05 11:02] emanuele-f commented on #2132
Please follow the following instructions to get a stack trace for debugging: https://github.com/ntop/ntopng/blob/dev/doc/README.crash

[2018-11-05 11:15] emanuele-f opened #2133 "Flows expire while reading from PCAP file"

[2018-11-05 11:19] gamujtaba commented on #2132
Thanks for your update,
I have not installed it on any system i am using netgate sg3100 pfsense base router, with
OS FreeBSD 11.2-RELEASE-p3 ,

How i can fix this issue?

Is this issue any related to ssl certificate.

Regards,
Ahmad

[2018-11-05 11:22] emanuele-f commented on #2132
Ahmad, you will have to troubleshoot this manually from terminal, this is the only way we can troubleshoot this. Maybe you can ask the pfsense guys support for this.

[2018-11-05 11:27] simonemainardi commented on #2123
@juesor

ntopng uses tables `aggrflowsv4` and `aggrflowsv6` to store 5-min aggregates of network flows which are placed into `flowsv4` and `flowsv6`. Aggregated tables are used to speed up queries. So it seems, from the queries you've run, that the volume of traffic in the aggregated flows table is much lower than the one you are seeing in the normal flow table.

So this could be due to a stop/res

[2018-11-05 11:35] #2133 closed, assigned to nobody

[2018-11-05 11:36] simonemainardi commented on #2129
Actually, the `minute.lua` thread is executed in multiple threads, one thread per interface. The script is the following `scripts/callbacks/interface/minute.lua`. The only `minute.lua` that is executed by a single per-instance thread is `scripts/callbacks/system/minute.lua` but is not doing any time-consuming task.

[2018-11-05 11:36] #2129 closed, assigned to nobody

[2018-11-06 05:41] gamujtaba commented on #2132
Actually i am using ntopng package on pfsense, the service of ntopng are automatically crashed after some time,

when i checked the runtime status of ntopng i got below error,

06/Nov/2018 10:27:07 [main.cpp:382] Working directory: /var/db/ntopng
06/Nov/2018 10:27:07 [main.cpp:376] Logging onto /var/db/ntopng/ntopng.log
06/Nov/2018 10:27:07 [HTTPserver.cpp:1117] HTTP server listening on 3000

06/N

[2018-11-06 10:54] emanuele-f commented on #2106
@victorhooi there is currently no package for the Ubuntu 18 version. Moreover, there are some modifications to handle in the device configuration, for example Ubuntu 18 uses netplan instead of /etc/network/interfaces for network configuration

[2018-11-06 11:01] emanuele-f commented on #2131
I'll keep this bug open to track the issue. I've tried on Ubuntu 18 and the bug it's still there. The following URL describes the problem in detail: https://www.weave.works/blog/racy-conntrack-and-dns-lookup-timeouts . The author has proposed some patches which are being authored/integrated right now.

[2018-11-06 12:10] victorhooi commented on #2131
@emanuele-f Aha - but if we read between the lines - this means you got Ntop Edge to work on Ubuntu 18? =) Is that right?

[2018-11-06 13:01] codecupcake opened #2134 "ntop error - [LuaEngine.cpp:2619] ERROR: Unable to enable capabilities"
Hi,
I'm using pfsence 2.4.4 version. I have installed ntop. few days it worked perfectly.
I had to reboot the pfsence todays ago and then after that this error begins to showing.

[code]

[2018-11-06 13:04] emanuele-f commented on #2131
I'm working on the integration, but there is some more work and tests to do. I wished the new kernel solved this issue.

[2018-11-06 13:06] emanuele-f commented on #2134
What ntopng version are you using? You can find it in the ntopng about page.

[2018-11-06 13:17] codecupcake commented on #2134
3.6.181101 - Community Edition

[2018-11-06 13:31] emanuele-f commented on #2134
Please ask the package maintainer if ntopng has been compiled with the libcap (capabilities, not libpcap) library (HAVE_LIBCAP in config.status should tell you this).

[2018-11-06 13:39] emanuele-f commented on #2132
pfsense is not officially supported by us. Please ask the pfsense support to troubleshoot this and send us a stack trace of the crash. Please reopen the issue when you have such information.

[2018-11-06 13:39] #2132 closed, assigned to nobody

[2018-11-06 14:29] codecupcake commented on #2134
I'm still testing this application, everything is new to me. can you tell me how to fix this issue?

[2018-11-06 15:20] emanuele-f commented on #2134
This seems like a packaging issue, please ask this to the pfsense guys since we do not officially support pfsense and we are not in control of the package on that platform.

[2018-11-06 15:24] juesor commented on #2123
ntop definnetly has not restarted in the last 24 hours but yes my users state this always happens.

I am not using VLANs.

I'm getting the following on both of those queries.

         0 |      NULL |        NULL |

         0 |      NULL |        NULL |

[2018-11-06 15:34] codecupcake commented on #2134
Thank you

[2018-11-06 15:34] #2134 closed, assigned to nobody

[2018-11-07 13:40] lucaderi opened #2135 "SNMP documentation is very poor"
The SNMP documentation inside the manual is very poor and too short. Please extend it

[2018-11-07 13:41] lucaderi opened #2136 "SFlow documentation is very poor"
The sFlow documentation in the user's guide is very poor. Please extend it

[2018-11-07 16:00] rickguise opened #2137 "Upscale Sampled nProbe flows"
Hello. I have NTopNG version 3.7.181105 - Enterprise Edition running on CentOS Linux release 7.5.1804 (Core).

My nprobe is in collector mode with the following options:

--zmq="tcp://*:5556"
-3=2055
--flow-version 9
-n=none
-i=none
-S=1:1:100

Nprobe is not receiving sampled data, but is sending sampled data (1:100) to the ntopng collector, but the problem is that I am missing the Scaling Factor

[2018-11-07 22:14] lucaderi opened #2138 "Implement Community ID Flow Hashing"
Implement the flow community id as specified in https://github.com/corelight/community-id-spec that is required to implement #1928. Once the code is implemented, the code has to be ported to nProbe to implement a new information element containing it. Please use https://github.com/corelight/community-id-spec/blob/master/community-id.py to test your code and make sure it is compliant with the specs

[2018-11-08 03:12] philhagen opened #2139 "mark systemd startup file as service in rpm"
In the RPM distribution Please mark `/usr/lib/systemd/system/ntopng.service` as a config file, so custom modifications (e.g. the `--community` CLP) does not cause an update via rpm/yum to fail.

[2018-11-08 09:20] simonemainardi commented on #2139
`ntopng.service` is not a configuration file, it's a systemd unit file and it is not supposed to be changed. Configuration options, including `--community`, go into ntopng configuration file `/etc/ntopng/ntopng.conf` that is properly marked as such in the rpm.

[2018-11-08 09:20] #2139 closed, assigned to nobody

[2018-11-08 09:54] simonemainardi commented on #2130
any news with this?

[2018-11-08 09:55] simonemainardi commented on #2112
thanks for reporting

[2018-11-08 09:55] #2112 closed, assigned to nobody

[2018-11-08 11:35] simonemainardi commented on #2137
TL;DR:

change nProbe config to:

[code]

------

"Ingress Packets Sampling Rate" is only available when ntopng is capturing from physical NICs. It's not available via ZMQ.

However, you can easily address your scenario by telling nProbe a `flow collection rate` equal to the `flow export rate`. In this way, probe will think it's receiving sampled flows and will up-scale them using the rate provide

[2018-11-08 11:35] #2137 closed, assigned to nobody

[2018-11-08 12:02] rickguise commented on #2137
OK, it is working now with -S 1 : 100 : 100. Thank you for your help.

[2018-11-08 14:11] simonemainardi commented on #2124
vlan columns are only shown for interfaces that actually have vlan traffic. Now vlans have also been added to the drill-down of nIndex data.

[2018-11-08 14:11] #2124 closed, assigned to simonemainardi

[2018-11-08 16:06] simonemainardi commented on #2130
closing for inactivity. reopen with the requested feedback if necessary.

[2018-11-08 16:06] #2130 closed, assigned to nobody

[2018-11-08 17:26] simonemainardi commented on #2122
Done in: https://github.com/ntop/ntopng/commit/6781d79c0043810309751ca0813fadc4610d35da

Description and link to the blog post have been added.

Blog post updated accordingly.

[2018-11-08 17:26] #2122 closed, assigned to nobody

[2018-11-09 09:09] simonemainardi commented on #2136
a detailed blog post has been written: https://www.ntop.org/nprobe/sflow-collection-and-analysis-with-nprobe-and-ntopng/

documentation has been updated with a short description and reference to the blog post in https://github.com/ntop/ntopng/commit/a6e0a45b8d84aa770297bcace2a7f75640bd1e9b

[2018-11-09 09:09] #2136 closed, assigned to simonemainardi

[2018-11-09 11:43] simonemainardi commented on #574
DB explorer already supports the search on CIDR subnets.

Due to the introduction of the new flows database nIndex, we won't be able to accomodate this request in the DB explorer. Such features are under development and will be available in the nIndex explorer.

[2018-11-09 11:43] #574 closed, assigned to simonemainardi

[2018-11-09 11:45] simonemainardi commented on #295
Implemented and available in the latest ntopng.

The feature is called "Continuous traffic recording" and is documented at: https://www.ntop.org/guides/ntopng/advanced_features/traffic_recording.html?highlight=n2disk

[2018-11-09 11:45] #295 closed

[2018-11-09 16:29] VEJNET opened #2141 "ipv6 no working"

[2018-11-09 16:34] VEJNET commented on #2141
Hi, we want looking for ipv6 traffic, but when we do filter ipv6 only, We have ansfer: No results found.
Is some special config for ipv6 ? We start ntop with:
-m="10.0.0.0/8,192.168.0.0/16,62.209.194.0/23,62.209.206.0/23,193.179.108.0/22,185.151.252.0/22,193.86.120.0/23,2a07:7300::/29"

and nprobe with:

nprobe --zmq=tcp://*:5556 -3 2055 --flow-version 9 -n none -i ens192

Here is PS with my probl

[2018-11-09 18:51] #2123 closed, assigned to simonemainardi

[2018-11-09 18:53] simonemainardi commented on #2123
There was a limit on the number of aggregated flows (actually set to 1000) that was preventing the majority of aggregated flows from being dumped to database. This was causing the differences described above.

Now this limit has been removed by default and can be turned on from the preferences.

![image](https://user-images.githubusercontent.com/3397663/48282129-10360c80-e459-11e8-9819-1721536fd6e

[2018-11-11 22:41] hodiet opened #2142 "autogen.sh fail on OSX"
Environment:
OS-X 10.14.1
XCODE 10.1
downloaded ntopng with
git clone https://github.com/ntop/ntopng.git
as mentioned at https://www.ntop.org/get-started/download/

$ ./autogen.sh
Wait please...
configure.ac:40: error: possibly undefined macro: AC_MSG_RESULT
      If this token and others are legitimate, please use m4_pattern_allow.
      See the Autoconf documentation.

searched for this error, f

[2018-11-12 09:23] simonemainardi commented on #2142
I can successfully run `autogen.sh` on OS X 10.14.

[code]

Did you install all the build prerequisites as described in https://github.com/ntop/ntopng/blob/dev/doc/README.compilation? You can use brew or mac ports.

[2018-11-12 09:26] simonemainardi commented on #2141
Are you sure the netflow acutally contains IPv6? Can you attach a pcap of the netflow so we can try and reproduce? You can create a pcap with tcpdump: `tcpdump -i <interface> -s0 -w netflow.pcap udp and port 2055` and then attach file `netflow.pcap`

[2018-11-12 17:28] lucaderi opened #2143 "Implement log of activities"
For administrative actions such as
- change preferences
- reconfigure XXX
- download/extract pcap
- user login
...

it is compulsory to create a log file of these activities in human readable format.

[2018-11-12 17:42] lucaderi opened #2144 "Implement device family traffic counters"
ntopng is able to know the device type through network discovery. However it lacks per device family counters. Example:
- how much traffic my Internet printed did last week?
- how much traffic all Nest thermometers did today?

This has to be implemented per interface

[2018-11-12 18:58] lucaderi commented on #2019
For the time being let's only admins to configure SNMP devices and let all users to see SNMP devices

[2018-11-13 05:02] gamujtaba opened #2145 "ntop service crash after some time"
Hi team,

I am using ntopng Community/Embedded Edition v.3.6.181103 on Netgate SG 3100, Pfsense, i am facing issue in service stability, after some time my ntop service automatically stopped. I have tried to fix but i am unable to fix i have write to pfsense they replied i need to talk ntop support, can any one help me to fix this issue.

Regards,
Ahmad

[2018-11-13 09:04] ChathuraML opened #2146 "can not install Ntopng 3.4.180529-4167.x86_64 version"

[2018-11-13 09:14] simonemainardi commented on #2146
please report OS/and platform, installation steps followed and errors.

[2018-11-13 13:35] Artapel opened #2147 "Enhancement: Display SNMP Graphs on dashboard"
Good day. We are collecting SNMP traffic stats from multiple routers and would like to have it displayed on the dashboard as per the current way it is now.

It will be ideal of we can just have the current smooth graphs used in the SNMP section moved to the Dashboard.

Regards
Corné

[2018-11-13 15:52] pjaway opened #2148 "storage engine change on startup"
Running Ntopng on Centos 7.5.1804
MariaDB Server version 5.5.60
Ntopng version 3.6.181112 - Community Edition

Following the advise here https://www.ntop.org/ntopng/tweaking-mysql-to-improve-ntopng-flows-storage-space-usage/ I changed the flowsv4 table to Innodb

However on startup Ntop changed it back to MyISAM

MariaDB [(none)]> show processlist ;
+----+-----------+-----------+---------+--------

[2018-11-13 16:35] simonemainardi commented on #2148
that blog article is outdated, sorry. I will update it with a note. Currently, MyISAM is the storage engine used my ntopng. Changing it to innodb will cause ntopng to set it back to MyISAM upon restart.

[2018-11-13 16:35] #2148 closed, assigned to nobody

[2018-11-13 16:37] simonemainardi commented on #2145
as already explained in

https://github.com/ntop/ntopng/issues/2132

and

https://github.com/ntop/ntopng/issues/2119

We need a core dump, or at least a stack trace, of the crash. Reopen when you can provide that.

[2018-11-13 16:37] #2145 closed, assigned to nobody

[2018-11-13 16:40] simonemainardi commented on #2147
Currently we can't accomodate this request as we are discussing a redesign of the dashboard, to make it configurable with draggable/customizable blocks. We are planning to release the new dashboard in release 4.0. We will keep into account this suggestion, though.

[2018-11-13 16:40] #2147 closed, assigned to nobody

[2018-11-13 16:41] simonemainardi commented on #2147
ref: https://github.com/ntop/ntopng/issues/1670

[2018-11-13 16:42] Artapel commented on #2147
We just bought a license. Will v4 be included in this lisence?

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: simonemainardi <notifications@github.com>
Date: 2018/11/13 18:42 (GMT+02:00)
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: Corne Kruger <corne.kruger@canon-ct.co.za>, Author <author@noreply.github.com>
Subject: Re: [ntop/ntopng] Enhancement: Display SN

[2018-11-13 16:44] simonemainardi commented on #1407
merged with https://github.com/ntop/ntopng/issues/1670

[2018-11-13 16:44] #1407 closed, assigned to nobody

[2018-11-13 16:44] simonemainardi commented on #1408
merged with https://github.com/ntop/ntopng/issues/1670

[2018-11-13 16:44] #1408 closed, assigned to simonemainardi

[2018-11-13 16:44] simonemainardi commented on #1670
other suggestions for the design in:

- https://github.com/ntop/ntopng/issues/2147
- https://github.com/ntop/ntopng/issues/1407
- https://github.com/ntop/ntopng/issues/1408

[2018-11-13 16:46] simonemainardi commented on #1987
Feature is now included in nIndex. Won't add this to MySQL as its support could be dropped in the future and now is only maintained but not developed further.

[2018-11-13 16:46] #1987 closed, assigned to nobody

[2018-11-13 16:49] simonemainardi commented on #1905
Issue is no longer relevant as ntopng has now the ability to continuously record network traffic using n2disk: https://www.ntop.org/guides/ntopng/advanced_features/traffic_recording.html?highlight=continuous

New links to the ntopng alerts are added to extract malware traffic pcaps directly from n2disk.

[2018-11-13 16:49] #1905 closed, assigned to nobody

[2018-11-13 16:51] simonemainardi commented on #494
After reviewing this request, we decided to only keep one OS per IP to reduce memory usage.

[2018-11-13 16:51] #494 closed, assigned to nobody

[2018-11-13 16:55] simonemainardi commented on #2147
License gives you 1 year of free updates. So very likely yes.

[2018-11-13 19:00] simonemainardi commented on #2138
implemented and tested in:

https://github.com/ntop/ntopng/commit/5d7113bf232fd7c058ceabb1f8083e7874307470

[2018-11-13 19:00] #2138 closed, assigned to simonemainardi

[2018-11-15 18:09] Gelob opened #2149 "Add an option for LDAP referrals"
Ntopng should support turning off ldap referrals. In openldap this is as simple as setting "referrals no". This is highly preferred for my installation of ntopng as I only want it to query my local LDAP server in the same datacenter location directly and not any others it may get via a referral.

http://www.openldap.org/software//man.cgi?query=ldap.conf&sektion=5&apropos=0&manpath=OpenLDAP+2.4-Rel

[2018-11-16 09:29] inetactief opened #2150 "Multi flow in config file"
Hi,

We like to use config file nprobe "nprobe-none.conf:  for multi flows, is there example for this?
One flow works fine but i do not find how to setyup multi configs for more flows.

We use /etc/ntopng/ntopng.conf
We set there the mutli interfaces like:
-i=tcp://127.0.0.1:5556
-i=tcp://localhost:5557
etc..

In nprobe-none.conf we try to use:
# Vuur1 nprobe --zmq "tcp://*:5556" -i none -n none -

[2018-11-16 13:20] emanuele-f commented on #2150
Hi, you need to place the two sections above in two separate nprobe configuration files, for example nprobe-none.conf and nprobe-none2.conf . Then you can start the second nprobe with `systemctl start nprobe@none2`

[2018-11-16 13:24] emanuele-f commented on #2146
@ChathuraML any news?

[2018-11-16 13:25] emanuele-f commented on #2142
@hodiet any news?

[2018-11-16 13:25] emanuele-f commented on #2141
@VEJNET any news?

[2018-11-16 16:37] Gelob opened #2151 "Add unique page titles"
It would be nice if ntopng had proper page titles as you navigate to different page instead of just "Welcome to ntopng" on every page. When opening multiple tabs its hard to know what page is which.

[2018-11-16 20:20] wanderernxa opened #2152 "ntopng not getting flows from nprobe"
Hi,
I have a virtual machine with both ntopng and nprobe installed, I followed the steps outlined in the ntop.org packages site.
my /etc/nprobe conf looks like this:
--zmg="tcp://*:5556"
-i=none
-n=none
-3=2055
-T="@NTOPNG@"
-b=2

and my ntop.conf looks like this:
-G=/var/run/ntopng.pid
-i=tcp://127.0.0.1:5556

when I start both using:
systemctl start nprobe.service
systemctl start ntopng.service

[2018-11-17 10:56] lucaderi commented on #2036
A possible implementation option is to implement hot-standby

[2018-11-17 10:59] lucaderi opened #2153 "Trace user activity during configuration changes"
Currently it is not possible to keep track *on a human readable format* of what has been changed in configuration. Example create a log file containing
- at time K, user X has modified LDAP configuration
- at time K1, user Y has extracted a pcap file with BPF filter "host X and port Y"

[2018-11-18 10:52] emanuele-f commented on #2152
The configuration file should be placed here: `/etc/nprobe/nprobe-none.conf`. Then you can start the nprobe service with `sudo systemctl start nprobe`

[2018-11-18 20:07] lucaderi opened #2154 "Broken SNMP graphs"
![48677464-af53b600-eb75-11e8-97fb-d24849fcf4ed-2](https://user-images.githubusercontent.com/4493366/48917137-9143c980-ee85-11e8-92f6-2e85863f228f.jpg)

The above picture is from ntopng (on top of InfluxDB). As you can see, points are shown when polling happens (even 5 mins) instead of being it a continuous line. This is a bug that needs to be fixed

[2018-11-18 20:10] lucaderi opened #2155 "Broken Selection"
![image 2018-11-18 21 07 28](https://user-images.githubusercontent.com/4493366/48677486-fb065f80-eb75-11e8-894e-75b67de0bacd.jpg)
![image 2018-11-18 21 07 31](https://user-images.githubusercontent.com/4493366/48677487-fb065f80-eb75-11e8-8d25-0d18e40ddf7c.jpg)

In network discovery when selecting from the menu, options are not reset nor reported somewhere. Example if I select Apple Inc and then Rou

[2018-11-18 20:12] lucaderi opened #2156 "nEdge errors under heavy load"
With high traffic (e.g. 700 Mbit)

Traffic stops flowing after 20 minutes or so and the log reports
14/Nov/2018 19:30:40 [NetfilterInterface.cpp:476] ERROR: nfq_handle_packet() failed: [len: 52][rc: -1][errno: 0]
14/Nov/2018 19:30:40 [NetfilterInterface.cpp:476] ERROR: nfq_handle_packet() failed: [len: 52][rc: -1][errno: 0]
14/Nov/2018 19:30:40 [NetfilterInterface.cpp:476] ERROR: nfq_handle_packet

[2018-11-19 03:38] juesor opened #2157 "ZMQ flows stop being seen randomly when high traffic is found"
I have proven to Simone that zmq traffic is not being seen in ntopng or nprobe randomly.

![image](https://user-images.githubusercontent.com/14931420/48685040-022f6c80-eb7a-11e8-90e8-c58c480c6718.png)
![image](https://user-images.githubusercontent.com/14931420/48685051-08bde400-eb7a-11e8-983b-ad6997572704.png)

I ram a tcpdump -i any port 5556 and tcpdump showed 0 KB over 5 minutes proving no traf

[2018-11-19 08:44] simonemainardi commented on #2141
closing for inactivity. reopen with the requested information if necessary.

[2018-11-19 08:44] #2141 closed, assigned to simonemainardi

[2018-11-19 08:44] simonemainardi commented on #2142
closing for inactivity. reopen with the requested information if necessary.

[2018-11-19 08:44] #2142 closed, assigned to simonemainardi

[2018-11-19 08:45] simonemainardi commented on #2146
closing for inactivity. reopen with the requested information if necessary.

[2018-11-19 08:45] #2146 closed, assigned to nobody

[2018-11-19 08:59] simonemainardi opened #2158 "luaL_newstate() fails when limited amount of memory is available"
Lua fails to create `luaL_newstate()` when a limited amount of memory is available in the system. As other memory allocations (malloc/calloc/new) don't fail, the failure could be dependent from the lua implementation of `luaL_newstate()`.

To reproduce systematically:
-  change ntopng code to increase the num of buckets in the hosts and flows hash tables by a factor 8
- create a dummy network inte

[2018-11-19 09:01] simonemainardi commented on #2158
This is the mmap that seems to fail

[code]

[2018-11-19 09:06] simonemainardi opened #2159 "new version check only performed during startup?"
The check for updates should be performed periodically and not only during ntopng startup. Otherwise, long-running instances would file to detect and report new versions.

It is requested to check the current behavior and make sure checks are performed periodically.

[2018-11-19 09:11] simonemainardi opened #2160 "ntopng logo hyperlink should take back to the home of ntopng, not to the site"

[2018-11-19 09:15] simonemainardi opened #2161 "Device types invalid over ZMQ"
When ntopng is used over ZMQ to collect data from nprobe, device types are invalid. Sometimes, all the IPs are shown as routers, or printers, etc.

I think this happens when all the mac addresses are at zero but it should be verified.

[2018-11-19 09:34] simonemainardi opened #2162 "Automatically populate host pools"
Host pools can have tens or even hundreds of members. It is desirable to create an automatic way to populate them (backup and restore similar to user scripts configuration).

[2018-11-19 09:35] simonemainardi opened #2163 "Alert for long-lived flows (data exfiltration?)"
Certain long-lived flows could hide unwanted activities such as (low-throughput) data exfiltration. It is requested to create a configurable alert for such kind of events.

[2018-11-19 09:38] simonemainardi opened #2164 "Alert for elephant flows"
It is requested to add alerts for flows that have more than X bytes. The alert should look at client2server and server2client directions, separately.

This is useful to detect unwanted behaviours (e.g., data exfiltration) for example when an SSH or  Dropbox flow has uploaded more than X bytes.

[2018-11-19 10:21] clebig opened #2165 "http_lint.lua:1325: [LINT] _GET["application"] = "Musical.ly" parameter error: Validation error"
Error when accessing Application Musical.ly flows.
UI -> Flows->Applications, select Musical.ly.
![screenshot from 2018-11-19 11-20-50](https://user-images.githubusercontent.com/17143757/48700795-342de680-ebed-11e8-9d6c-541a088ea3ca.png)

 Script "/usr/share/ntopng/scripts/lua/flows_stats.lua" returned an error:

/usr/share/ntopng/scripts/lua/modules/http_lint.lua:1325: [LINT] _GET["application"]

[2018-11-19 13:15] inetactief commented on #2150
Thanks that works!

[2018-11-19 13:57] pjaway opened #2166 "Dropped flows"
We are currently seeing 6,300,000 Dropped flows, this only appears to happen when some housekeeping is running on the database - I have seen it when it deleting from flowsv4

We are running 3.6.181112 - Community Edition on CentOS Linux release 7.5.1804 (Core)
free -h reports

              total        used        free      shared  buff/cache   available
Mem:           3.7G        759M        169

[2018-11-19 16:23] pjaway commented on #2166
this is one of the deletes taken from the output of show processlist;  DELETE FROM flowsv4 where FIRST_SWITCHED < 1542468490 AND (INTERFACE_ID = 0) AND (NTOPNG_INSTANCE_NA |    0.000 |

[2018-11-19 16:34] wanderernxa commented on #2152
thanks that worked!

[2018-11-19 16:34] #2152 closed, assigned to nobody

[2018-11-19 16:53] #2165 closed, assigned to nobody

[2018-11-19 16:53] simonemainardi commented on #2165
thanks for reporting. Issue is fixed and will be available in the dev build starting from tomorrow.

[2018-11-19 17:02] simonemainardi commented on #2160
implemented

[2018-11-19 17:02] #2160 closed, assigned to nobody

[2018-11-19 17:12] #2159 closed, assigned to nobody

[2018-11-19 17:21] simonemainardi commented on #2157
waiting to jump on the system as soon as the issue occurs to debug

[2018-11-19 17:23] simonemainardi commented on #2150
thanks for reporting

[2018-11-19 17:23] #2150 closed, assigned to nobody

[2018-11-20 07:32] BruuD86 opened #2167 "License mismatch after rename NIC in Hyper-v"
i get this error after i renamed my network adapter in our hyper-v environment.
This resulted in a new mac adress for the VM.
What can i do to resolve this?

19/Nov/2018 14:14:56 [NtopPro.cpp:205] [LICENSE] /etc/ntopng.license: unable to validate Professional license [License mismatch error]
19/Nov/2018 14:14:56 [NtopPro.cpp:205] [LICENSE] /etc/ntopng.license: unable to validate Enterprise license

[2018-11-20 08:14] cardigliano commented on #2167
@BruuD86 it seems that your system ID changed due to the mac address change, you have 2 options, retire the license (1 time) or use the online check. Please read https://www.ntop.org/support/faq/how-can-i-move-a-license-to-a-new-server/

[2018-11-20 08:59] BruuD86 commented on #2167
Thanks i added --online-license-check and now it works again.

[2018-11-20 08:59] #2167 closed, assigned to nobody

[2018-11-20 10:52] #2155 closed, assigned to simonemainardi, emanuele-f

[2018-11-20 11:05] simonemainardi commented on #2166
MyISAM, the current MySQL storage engine used, supports only table-level locking. This means that, during the execution of a DELETE query, new flows cannot be inserted into the database. Such flows are queued, waiting for the DELETE to be completed. When the delete is slow, it could happen that the queue get filled up. Flows that can't fit into the queue are dropped and this explains the 'dropped

[2018-11-20 11:05] #2166 closed, assigned to nobody

[2018-11-20 11:59] #2161 closed, assigned to nobody

[2018-11-20 13:27] pjaway commented on #2166
Many thanks

[2018-11-20 14:07] clebig opened #2168 "Cutted graphs"
My traffic/app graphs are displayed with regular cuts (every 5 minutes).

I observed my grafana graphs are also affected the same way.

Also, every 5 minutes in influxd logs, I can see a 400 http error code.

`Nov 20 15:00:01 gatewayNG influxd[15788]: [httpd] ::1 - - [20/Nov/2018:15:00:01 +0100] "POST /write?db=ntopng HTTP/1.1" 204 0 "-" "-" 92919e6c-eccc-11e8-9a3d-000000000000 24224

Nov 20 15:00

[2018-11-20 14:08] clebig commented on #2165
Can we expect this fix to be available in the current stable release soon ?

[2018-11-20 14:38] lucaderi commented on #2168
Please also see #2154 as the graph issue described in this bug might be related to it

[2018-11-20 16:09] simonemainardi commented on #2156
references having the same issue with 52-bytes packet causing `nfq_handle_packet` to fail:

- https://www.spinics.net/lists/netfilter/msg54954.html
- https://stackoverflow.com/questions/20954110/netfilter-queue-spurious-packets

Should be fixed in the latest build that includes better error handling, retries and uses  `MSG_DONTWAIT`  in the recv().

[2018-11-20 16:09] #2156 closed, assigned to simonemainardi, emanuele-f, cardigliano

[2018-11-20 16:31] simonemainardi commented on #2168
do you see any error in the ntopng logs?

`journalctl -u ntopng`

please, also visit alerts page and see if there are any anomalies

![image](https://user-images.githubusercontent.com/3397663/48787986-28741a00-ecea-11e8-8ed9-5ea328befbbf.png)

[2018-11-20 18:16] simonemainardi commented on #2168
to better debug we are going to
- raise alerts when influxdb POST fail
- preserve the latest ~5 files with datapoints to troubleshoot

[2018-11-20 21:49] clebig commented on #2168
Please find attached the journalctl ntopng log.

I have no abnormal warning or error in "Detected Alerts", just alerts about a few flooder hosts.

[journalctl_-u.log](https://github.com/ntop/ntopng/files/2601691/journalctl_-u.log)

[2018-11-20 21:51] clebig commented on #2168
Is this addressed to me ? If so, how do I do that ?

[2018-11-21 09:28] simonemainardi commented on #2168
they are just notes for us. @emanuele-f will help you.

[2018-11-21 09:41] emanuele-f commented on #2168
@clebig please check out #2097 to fix the `max-series-per-database limit exceeded` error. Then please get back to us and report the new log

[2018-11-21 09:49] simonemainardi commented on #2165
yes, it will be available in the stable starting from tomorrow.

[2018-11-21 11:04] simonemainardi opened #2170 "Missing handling of InfluxDB write failures"
Currently,

InfludxDB POST failures are not handled. It is requested to handle them and notify the user with an alert in case of anomalies.

In particular, investigate if this error

[code]

And see if
1. InfluxDB config can be changed by ntopng to make that number unlimited
2. Notify the user that a change in the influxdb config is required

[2018-11-21 12:05] simonemainardi opened #2171 "Handle whitelists in custom categories"
ntopng uses lists to assign IP addresses and hostnames to categories.

Lists are used for example to raise alerts when a given hostname is assigned to the malware or mining category.

It is requested to add a whitelist of ip addresses and domains so that, when a given IP address or domain is whitelisted, it is never added to categories if found in a list.

[2018-11-21 12:05] simonemainardi opened #2172 "SNMP status change changed from nil"
![image](https://user-images.githubusercontent.com/3397663/48838429-92430100-ed88-11e8-8f3b-9e8df524304a.png)

[2018-11-21 12:17] lucaderi opened #2173 "Improve host connection/disconnection alert configuration"
In
![screen shot 2018-11-21 at 13 15 27](https://user-images.githubusercontent.com/4493366/48840644-8ad32600-ed8f-11e8-8c07-c2b8cfc4f09b.png)

it is not possible to specify for what hosts the alert should be triggered. This practice generate alerts also for hosts that are not supposed to generate alerts. Said that this ticket must be implemented as soon as #1854 will be implemented, it would be ni

[2018-11-21 14:41] simonemainardi commented on #2172
Fixed in the latest build.

[2018-11-21 14:41] #2172 closed, assigned to simonemainardi

[2018-11-21 18:00] simonemainardi commented on #2158
Issue is due to LuaJIT that only `mmaps` in the first 2GB of address space. That is, it looks for contiguous chunks of memory in the first 2GB.

https://github.com/ntop/ntopng/blob/91b3d699e10f694300b34815fc57a8e31dee36b9/third-party/LuaJIT-2.1.0-git/src/lj_alloc.c#L258

This is not enough as, on large installations, the first 2GB could be easily be already used by ntopng (e.g., to keep the hash t

[2018-11-22 05:30] victorhooi commented on #2164
I'd love this feature as well!

(Our use-case is also to detect data exfiltration).

[2018-11-22 09:33] clebig commented on #2168
Ok, I've just added INFLUXDB_DATA_MAX_SERIES_PER_DATABASE=1500000 in /etc/default/influxdb and restarted influxdb.
I can still see 400 codes.
`Nov 22 10:30:22 gatewayNG influxd[19316]: [httpd] ::1 - - [22/Nov/2018:10:30:22 +0100] "POST /write?db=ntopng HTTP/1.1" 204 0 "-" "-" 3c349c46-ee39-11e8-8008-000000000000 26778`

I'll keep looking at the graphs to see if I get new cuts.

[2018-11-22 09:51] simonemainardi commented on #2168
actually 204 is a 'no content' error. @emanuele-f do you think there are cases where we can send empty files to ntopng?

[2018-11-22 09:51] clebig commented on #2168
![screenshot from 2018-11-22 10-52-14](https://user-images.githubusercontent.com/17143757/48895358-28d4f800-ee45-11e8-8f74-cda86b8ad8de.png)
![screenshot from 2018-11-22 10-53-30](https://user-images.githubusercontent.com/17143757/48895359-28d4f800-ee45-11e8-9dca-cfa7bef88277.png)

I confirm that increasing INFLUXDB_DATA_MAX_SERIES_PER_DATABASE to 1500000 has not solved the problem described in my

[2018-11-22 09:54] simonemainardi commented on #2168
it seems that your influx didn't take the new setting. Indeed, the error still say 1000000

[code]

I would set it to zero for unlimited : https://github.com/influxdata/docs.influxdata.com/issues/710#issuecomment-249424327
Then restart influxdb

[2018-11-22 09:55] clebig commented on #2168
No, look at the date, that was before my changes and restart. I have no more error yet regarding partial writes...
`Nov 22 10:28:54 gatewayNG systemd[1]: Stopping InfluxDB is an open-source, distributed, time series database...

Nov 22 10:28:54 gatewayNG systemd[1]: Stopped InfluxDB is an open-source, distributed, time series database.

Nov 22 10:28:54 gatewayNG systemd[1]: Started InfluxDB is an

[2018-11-22 09:59] clebig commented on #2168
I have just set this setting to 0 and restarted influxdb.

[2018-11-22 10:03] clebig commented on #2168
I still get
`Nov 22 11:00:04 gatewayNG influxd[30875]: [httpd] ::1 - - [22/Nov/2018:11:00:04 +0100] "POST /write?db=ntopng HTTP/1.1" 400 91 "-" "-" 62677bc5-ee3d-11e8-801d-000000000000 199389
`
and this seems to be absolutely correlated with the cuts.

[2018-11-22 10:06] clebig commented on #2168
I would think 204 means no content in return to the POST-ed data. So I would interpret it as no problem.
400 as return to the POST-ed data however would mean that the data couldn't be recorded correctly.

[2018-11-22 10:09] simonemainardi commented on #2168
the influxdb log doesn't seem to be very informative regarding the 400 bad request. Can you use tcpdump to record the traffic that goes to influxdb and then open the capture with wireshark to see the actual POST-ed payload that caused the 400?

[2018-11-22 10:25] clebig commented on #2168
Yep, So 400 returns a JSON object with error: "partial write: max-series-per-database limit exceeded: (1000000) dropped=14989"

So it seems to confirm that influxdb didn't take into account the line "INFLUXDB_DATA_MAX_SERIES_PER_DATABASE=0" I have added at the bottom of /etc/influxdb/influxdb.conf and that my issue is related to this 1000000 limit.

[influxdb.pcap.gz](https://github.com/ntop/ntopn

[2018-11-22 10:35] clebig commented on #2168
I was setting it at the very bottom on the conf file when it was supposed to be set in [data]...
Now it's set in the data section. let see !

[2018-11-22 10:55] clebig commented on #2168
So... The setting is not taken into account.

When I do "influxd config" I can see the default limit (1000000) in the [data] section. I'm trying to understand why. So not a ntopng related problem.

[2018-11-22 11:01] clebig commented on #2168
Ok, the correct setting to put under [data] section is :
`max-series-per-database = 0`
That works. I'll wait a little bit for the data to flow in and see if the problem is definitly solved.

[2018-11-22 11:04] simonemainardi commented on #2168
Thanks for reporting. I've already opened an issue to better handling errors, including this: https://github.com/ntop/ntopng/issues/2170

[2018-11-22 11:52] #2019 closed, assigned to nobody

[2018-11-22 14:28] clebig commented on #2168
I confirm my problem is solved ! Thank you all.

[2018-11-22 15:32] lucaderi commented on #2168
See also https://github.com/influxdata/influxdb/issues/8432

[2018-11-22 15:35] lucaderi commented on #2168
So it seems from the ticket above that 204 actually means ok, so we're good here

[2018-11-22 15:35] #2168 closed, assigned to simonemainardi, emanuele-f

[2018-11-22 16:49] clebig commented on #2168
Normal HTTP POST writes (with http return code 204) logs shouldn't be flowing into the OS kernel logging subsystem in a production environment.
In the current realease of influxdb (1.7.1), an option is available to filter the information to be added to the logs based on the http return code.
The related option is "access-log-status-filter", [the documentation](https://github.com/influxdata/influxd

[2018-11-22 17:49] #2154 closed, assigned to emanuele-f

[2018-11-22 18:24] simonemainardi opened #2175 "Aggregated Flows vs Raw Flows"
ntopng creates flow aggregates that are update in the housekeeping threads (every 5 seconds) when performing the periodic flows walk.

Flow aggregates are dumped to database every 5 minute. Therefore, it can happen that an aggregate contains traffic for a raw flow that is dumped to database in the future.

It is requested to handle flow aggregates so that they are more consistent with the raw flow

[2018-11-22 18:29] simonemainardi opened #2176 "Total Bytes in Aggregated Flows not Accurate"
Aggregated flows are generated using client-server-l7 proto as the key.

This can lead to the following situation:

[code]

For examples, the total `Bytes` is not accurate as `5000` is the sum of client-to-server (192.168.2.1 -> 192.168.2.20) and server-to-client (192.168.2.20 -> 192.168.2.1). The server-to-client part of `5000` should go into the `Bytes` of the second row.

[2018-11-23 10:28] simonemainardi opened #2178 "Flows Double-Counted in Host Pools list"
![image](https://user-images.githubusercontent.com/3397663/48938913-e843b000-ef12-11e8-9ef7-06e66da1818f.png)

[2018-11-23 10:43] LakshmiChowdam opened #2179 "Problem with testing of ntopng with own created binary"
Hi Team,

I have downloaded the source code and built it successfully by going through the link: https://github.com/ntop/ntopng/blob/dev/doc/README.compilation

and the /etc/ntopng.conf as:
# DO NOT REMOVE the following option, required for daemonization.
-e=

# * Interfaces to sniff on: one interface per line, prefix with -i=
# If none is specified, ntopng will try to auto-detect the best interfa

[2018-11-23 11:55] emanuele-f commented on #2179
Please check out https://www.ntop.org/nprobe/network-monitoring-101-a-beginners-guide-to-understanding-ntop-tools/ .

[2018-11-23 16:38] emanuele-f commented on #1864
Implemented in eac278a28dda8e75e2270f34b042dc20dfd8d284 . Documentation is still missing.

[2018-11-23 17:01] hodiet commented on #2142
Sorry for being late.

I did not see the mentioned document but tried now to follow it. I use mac port, not brew, so I started with

this was successful, but stop compilation required more. nDPI

git clone https://github.com/ntop/nDPI.git; cd nDPI; ./autogen.sh

was successful, but stop compilation required more. libmaxminddb-dev

git clone --recursive https://github.com/maxmind/libmaxminddb
and i

[2018-11-23 17:02] hodiet commented on #2142
every time there is "stop" above "ntop" was written, but autocorrect changed it and I did not see it.

[2018-11-23 17:07] hodiet commented on #2142
I installed mysqlserver57 but the ./configure of ntop still abort with:

checking for mariadb_config... no
checking for mysql_config... no
MySQL libraries not found. Please install them as specified in README.compilation
Holgers-Mini:ntopng holgerdietze$

I wonder, why ntop need mysql??

[2018-11-23 18:30] emanuele-f opened #2180 "Improve InfluxDB query performance"
Same problem as #2023 . When the number of points is high and queries are nested (in particular with high resolution timeseries), the queries on InfluxDB can be very slow (can take several seconds). This is visible, for example, in the interface traffic and host traffic. We need a way to reduce such delay.

Some ideas:
- Use continuous queries to aggregate values like RRD does

Important: we shoul

[2018-11-23 18:31] simonemainardi commented on #2158
fixed as part of https://github.com/ntop/ntopng/commit/64d969fa2caa3fe9ea37fc2f48309315acb1c4ee

[2018-11-23 18:31] #2158 closed, assigned to nobody

[2018-11-23 18:32] emanuele-f commented on #2142
Have you run `brew install mysql`?

[2018-11-24 23:56] hodiet commented on #2142
Hi,

I mentioned, that I use macports. Not brew. Does it make sense to run brew install mysql in macports? And it does not answer my question, for which reason a prozess monitor tool like ntop depend on MySQL.

Gruß, Holger.

[2018-11-25 09:57] ChathuraML commented on #2175
i want to get the url list of a specific host is accessing . is it possible?

[2018-11-25 19:34] emanuele-f commented on #2142
I've no experience on the mac repos, sorry. ntopng needs the MySQL *client* libs to talk with MySQL to store flows information (option -F mysql ...).

[2018-11-26 15:06] rickguise opened #2181 "Sampler and Scaling issue"
Hello. Due to performance issues, I separated my nProbe/nTopng into 2 physical machines. My nProbe is receiving unsampled data, running in promiscuous mode with a packet capture sampling of 1000. My config file is as follows:
--zmq="tcp://*:5556"
--flow-version 9
-n=none
-i=enp0s25
-S=1000:1:1

The problem is that the traffic is showing up as kbits
![capture_ntopng](https://user-images.githubuserc

[2018-11-26 16:23] emanuele-f commented on #2181
Hi, you should use the same nprobe configuration as before (#2137) . Only change the `--zmq` option to send the traffic to the remote ntopng. What is your ntopng config?

[2018-11-26 16:46] rickguise commented on #2181
Hi, thanks for the response.

My ntopng config is

-i=tcp://192.168.69.14:5556
-m=192.168.0.0/16,10.0.0.0
-F "mysql;localhost;ntopng;flows;ntopng;xxx"

But isn't the poll mode the better architecture according to the link? https://www.ntop.org/nprobe/advanced-flow-collection-with-ntopng-and-nprobe/

Also, the nProbe guide states that -S=1:1:100 rate is effective when nprobe exports NetFlow towards

[2018-11-26 17:33] emanuele-f commented on #2181
Using poll or push mode depends on your network config, it's ok like you configured it. In bug #2147 you solved the issue by setting `-S 1:100:100`, does it fix your issue in this case?

[2018-11-26 22:04] lucaderi commented on #2179
Hi Chowdam, port 3000 is used by ntopng web GUI and you cannot use it for ZMQ. Please do
-  nprobe --zmq "tcp://127.0.0.1:1234" -i enp1s0 -b 2
- ntopng --community -i tcp://127.0.0.1:1234

and it will work

[2018-11-26 22:04] #2179 closed, assigned to nobody

[2018-11-27 05:32] LakshmiChowdam commented on #2179
Thanks a lot. Both suggestions worked.
-Chowdam.

[2018-11-27 11:21] simonemainardi opened #2182 "Wrong behaviour of traffic recording"
- traffic recording icon appears and disappears when refreshing the page.
- The tab is empty.
- No javascript error are present.
- Enabling the traffic recording doesn't work

![image](https://user-images.githubusercontent.com/3397663/49078600-c3b34500-f23e-11e8-802b-5d478541ae3c.png)

![image](https://user-images.githubusercontent.com/3397663/49078623-cdd54380-f23e-11e8-84e2-8af2587ab163.png)

[2018-11-27 16:55] emanuele-f opened #2183 "Bad peaks in SNMP top interfaces"
Sometimes there are peaks in the SNMP top interfaces charts which are not actually present in real data.

![2018-11-27_16-52](https://user-images.githubusercontent.com/5488003/49093664-780f9400-f25c-11e8-8b6b-5dfba3235a82.png)

The problem is related to the fact that the current total serie implementation requires a monotonically increasing property over the cumulative traffic of the single series

[2018-11-27 16:59] rickguise commented on #2181
With -S=1:1000:1000 I'm getting:
![capture_ntopng3](https://user-images.githubusercontent.com/5038939/49097478-b741e300-f264-11e8-9c7a-ad33b226c5d8.PNG)

with -S=1:100:100
![capture_ntopng4](https://user-images.githubusercontent.com/5038939/49097786-6e3e5e80-f265-11e8-80de-76dacce09ab5.PNG)

and with -S=1:1:1
![capture_ntopng5](https://user-images.githubusercontent.com/5038939/49097981-cb3a1480-f2

[2018-11-27 17:28] emanuele-f commented on #2182
This was already fixed with commit 6ca5e385871284005a983a638a73d5990db30da7 .

[2018-11-27 17:28] #2182 closed, assigned to emanuele-f

[2018-11-27 17:40] emanuele-f opened #2184 "Timeseries first point problem"
The first point of all the data series with "counter" type is missing. This happens, for example, when an host appears for a little period of time (e.g. 1 minute) and then goes offline. No point is displayed into the chart. The problem is that, in order to calculate the derivative, two points are needed. Both RRD and InfluxDB "eat" the first point of any data series and use it as a basis for the d

[2018-11-27 22:52] Gelob opened #2185 "Special Characters problem in LDAP Bind Authentication Password"
When using a LDAP Bind Authentication Password with a special character of <, it got converted to a _ after input when trying to bind. Ntopng should support these special characters in the bind password. This seems similar to https://github.com/ntop/ntopng/issues/1935

[2018-11-27 23:47] simonemainardi commented on #2185
what is the ntopng version you are using? issue should be fixed in the latest dev

[2018-11-28 12:20] simonemainardi commented on #2181
Thanks for reporting. I've fixed an issue on nProbe that was preventing it from properly upscaling sampled traffic as shown in the example.

A new build is in progress. Please, hold on a couple of hours and then update nProbe to the latest 8.7 dev version. Also make sure to have the latest ntopng 3.7 dev.

Correct configuration is the one you've used in the first place:

[code]

[2018-11-28 12:20] #2181 closed, assigned to simonemainardi

[2018-11-28 14:36] simonemainardi commented on #2142
I use macports, too and mysql is successfully located after the `./configure`

[code]

[2018-11-28 15:11] Gelob commented on #2185
Sorry, I am on latest version 3.7.181127 - Enterprise Edition

[2018-11-28 17:06] #2185 closed, assigned to cardigliano

[2018-11-28 17:07] simonemainardi commented on #2185
I've pushed a fix. Hold on 1 hour and try again. Don't forget to change and reset the LDAP Bind Authentication Password from the ntopng preferences attempting a login.

[2018-11-28 17:48] simonemainardi commented on #2153
duplicate of #2143

[2018-11-28 17:48] #2153 closed, assigned to nobody

[2018-11-28 18:03] emanuele-f commented on #1864
Refined in commit de5a58ecf303e07ec8dac98a1cfed80dc62ba9d2 . Documented.

[2018-11-28 18:03] #1864 closed, assigned to emanuele-f

[2018-11-28 18:13] wanderernxa opened #2186 "Customize GUI"
Hi,
Is it possible to customize the GUI so that business users can easily get the information that they are asking for?
For example, I want the display to only show web/internet traffic, something like lightsquid does. And maybe a pie chart showing the amount of usage of each type of traffic. For example the user can see that Netflix is taking up 40% of usage and the next largest chunk is HTTP, yo

[2018-11-29 09:32] #2178 closed, assigned to cardigliano

[2018-11-29 11:39] cardigliano commented on #2151
Support for unique page titles has been implemented.

[2018-11-29 11:39] #2151 closed, assigned to cardigliano

[2018-11-29 11:53] simonemainardi commented on #1843
either add the doc or remove the feature if no longer supported

[2018-11-29 12:00] simonemainardi commented on #286
@emanuele-f please review https://github.com/ntop/ntopng/pull/2177

[2018-11-29 12:09] simonemainardi commented on #1863
please review https://github.com/ntop/ntopng/pull/2177

[2018-11-29 12:11] simonemainardi commented on #244
closing for inactivity

[2018-11-29 12:11] #244 closed

[2018-11-29 12:15] rickguise commented on #2181
OK, thank you for the fix! It is working now. I have -S=1000 : 1 : 1 and my ntopng is showing the correct values:
![capture_ntopng6](https://user-images.githubusercontent.com/5038939/49221236-75ce4680-f3d0-11e8-8362-056606776db5.PNG)

[2018-11-29 13:34] simonemainardi commented on #2181
thanks for reporting!

[2018-11-29 15:43] simonemainardi commented on #2144
- it is desirable to have an entry under menu hosts with 'device types', similar to countries, autonomous systems, etc
- for the implementation one should use an hash table that is updated periodically when waling the hosts (see vlans_hash or ases_hash)

[2018-11-29 15:50] simonemainardi commented on #2068
one possible solution requires:
- alert counters to be added to all hosts (how are only added to local hosts)
- then we could write a walker that only vists hosts with anomalies (local + remote). An extra walker is necessary as currently only local hosts are walked in lua

[2018-11-29 15:55] simonemainardi commented on #2117
solution is to add an `ACCEPT` rule for the traffic that is destined to the nEdge machine. Such rule should be inserted in the `PREROUTING` chain before any other rule.

[2018-11-29 16:08] CDawson1 opened #2187 "Delayed data in Grafana using InfluxDB"
I'm not sure this is the best place to ask this question (as opposed to the Grafana community) but as it's ultimately sourced from NTOPNG...

I'm trying to leverage Grafana as much as possible with a variety of data sources, this being one.

I've recently moved from RRD to InfluxDB within NTOPNG and subsequently am playing around with various graphs within Grafana.

In this instance, I've created

[2018-11-29 20:02] YackingCat opened #2188 "Flow alerts do not tell you which policy blocked the flow"
After setting a policy that that drops a protocol, flow alerts only tell you that a flow was blocked due to a configured policy. If more than protocol is set to drop, it can be very hard to tell what policy is actually dropping the traffic. If the protocol was included in the description, it would be quite helpful.

[2018-11-30 09:22] cardigliano commented on #2171
Categories are defined in:

1. nDPI
2. List (text file)
3. GUI (Settings -> Categories)

The idea is to override categories defined in (2) removing some of the hosts defined there.
One option is doing this using a special (negative) marker for hosts defined in Settings -> Categories -> Edit Custom Hosts.
Example:

example1.com (add to the category)
!example2.com (remove from the category if define

[2018-11-30 09:53] emanuele-f opened #2189 "Interface graphs in nEdge have gaps"
In nEdge, interface counters are updated periodically with 3 seconds as the minimum interval between the updates. Interface load can affect the actual update time leading to unequal intervals, as seen in the screenshot below.

![2018-11-30_10-34](https://user-images.githubusercontent.com/5488003/49281617-e898f980-f484-11e8-8bf9-f80760ed8f54.png)

Changing the "iface:traffic" schema step to 3/4 sec

[2018-11-30 11:30] lucaderi commented on #2189
The concept of heartbeat has to be taken into account. If your datapoints are within the heartbeat you need to interpolate them, if outside you have no measurement and thus zero. When data is extracted it must take heartbeat into account.

[2018-11-30 17:48] mjhdcode commented on #706
Still happening for me on 3.6.181106 with CentOS 7.5....
Login works first time, then won't login - only on Chrome - Firefox works as expected
Thought I had lost my damn mind

[2018-11-30 17:50] Gelob opened #2190 "Not seeing applications classified properly"
I was previously seeing application traffic classified properly but sometime in the last few updates to the dev branch I only see ICMP, IPsec, OSPF, & GRE. Everything else is now Unknown when it used to be HTTP, HTTPS, etc. This is happening across all of my ZMQ interfaces (5)

v3.7.181130

![image](https://user-images.githubusercontent.com/422752/49305742-b643c800-f495-11e8-839c-2bd2d15e32ef.png)

[2018-11-30 18:03] lucaderi commented on #2157
@juesor Is the problem solved?

[2018-11-30 18:39] emanuele-f commented on #706
Please update to the latest version and retry. Please also ensure that you have no blocking browser plugins installed

[2018-11-30 20:48] emanuele-f commented on #1863
Integrated, now `radcli` needs to be added to the packages dependencies before closing this issue.

[2018-11-30 21:12] mjhdcode commented on #706
I don't have any plugins, and this bug seems pretty persistent (I'm well past the dev branch version suggested in other places), I think if you want this feature to work, a more in depth response to it's existence will be needed, luckily I'm monitoring isolated local network traffic, so I don't mind having no login - I just wanted you to know this issue is still lurking and has been since at least

[2018-11-30 21:13] mjhdcode commented on #706
Awesome toolkit though - kudos

[2018-11-30 21:34] mjhdcode opened #2191 "Port Monitoring for Devs!"
Feature Request:

So, I'll confess my level of IT and Networking ignorance here and now, but as a dev, this would be a REALLY nice feature:

If I had a view that looked at my server and listed all ports actively talking or listening in real time, and also let me specify a port or ports to watch actively while I'm interested in them.

Here is a use case:

I have 4 DB servers running on 4 ports on m

[2018-12-01 03:19] simonemainardi commented on #2175
Implemented. Aggregated flows are now updated only when the actual corresponding raw flow is written to database. This ensures consistency.

[2018-12-01 03:19] #2175 closed, assigned to simonemainardi

[2018-12-01 07:04] lucaderi commented on #286
@emanuele-f
![screen shot 2018-12-01 at 08 03 24](https://user-images.githubusercontent.com/4493366/49325256-9d8fec80-f53f-11e8-82d8-a58235c4ee6c.png)

Radius authentication is present in preferences even though radius support on my host is disabled.

[2018-12-01 08:06] lucaderi opened #2192 "Allow supernode configuration in remote access"
A preference for specifying the supernode IP and port should be added so people can setup their private remote access

[2018-12-01 08:13] lucaderi commented on #2192
Please set the default supernode to supernode.ntop.org:7777 and write somewhere in the GUI that people should setup and configure their own supernode to implement a fully private remote access infrastructure.

[2018-12-01 12:36] lucaderi opened #2193 "InfluxDB Errors not accounted"
When ntopng is writing datapoints in InfluxDB sometimes errors like are reported

{"error":"partial write: max-values-per-tag limit exceeded (100048/100000): measurement=\"mac:traffic\" tag=\"mac\" value=\"00:00:00:1A:A1:AA\" dropped=7"}

It is requested to
- create an alert when they happen
- provide a solution for most common issues. For instance the above problem leads to data loss and it can b

[2018-12-01 13:39] lucaderi opened #2194 "Schema Error for Hosts not present in memory"
When accessing an host that is not present in memory (e.g. though flow drill down) and the following URL is accessed

https://xxx:3000/lua/host_details.lua?ifid=0&host=192.168.1.3&page=historical&ts_schema=host:ndpi&zoom=1m&epoch=1543671232

this error is reported
01/Dec/2018 14:37:14 [host_details.lua:1937] [ts_schema.lua:103] ERROR: missing tag 'protocol' in schema host:ndpi

[2018-12-01 14:17] emanuele-f commented on #286
This is fixed in 1df7ebfed8f04e179b445845c9ad6213a742b4eb

[2018-12-01 15:33] #2192 closed, assigned to emanuele-f

[2018-12-02 09:34] programmer74SHA opened #2195 ""error" ntopng compilation ( !!pfdev->license)"
I want to compile ntopng but I have the following error.
`
g++ -g -Wall -I/usr/src/ntopng -I/usr/src/ntopng/include -I/usr/local/include -D_FILE_OFFSET_BITS=64 -I/usr/include/hiredis -I/usr/include/hiredis -I/usr/src/ntopng/third-party/mongoose -I/usr/src/ntopng/third-party/json-c  -I../nDPI/src/include -I../nDPI/src/lib/third_party/include -I/usr/src/ntopng/third-party/lua-5.3.5/src -DDONT_USE_LU

[2018-12-03 03:08] simonemainardi commented on #2176
Implemented.

Aggregated flows are now created from raw flows as follow:

- the client of the aggregated flow is the lesser between client and server of the raw flow
- the server of the aggregated flow is the greater between client and server of the raw flow

In this way, we are sure that issues such as the one explained above are solved. Note that client and server of the aggregated flow are actu

[2018-12-03 03:08] #2176 closed, assigned to simonemainardi

[2018-12-03 09:07] cardigliano commented on #2195
@programmer74SHA it seems you are compiling ntopng with an old pf_ring version, please pull latest pf_ring code and let us know (or provide the version you are using). Thank you.

[2018-12-03 15:12] cardigliano commented on #2190
@Gelob please provide the full configuration (cli or configuration file) for ntopng and zmq probe. Thank you.

[2018-12-03 15:34] Gelob commented on #2190
ntopng.conf
[code]

nprobe.conf

[code]

[2018-12-03 16:45] lucaderi commented on #2190
@Gelob Is the router generating the flows adding DPI information to the flows?

[2018-12-03 17:34] simonemainardi commented on #2143
Activities include:
- add/remove snmp devices
- any file download (pcap, flows, JSON...)
- preference changes (this if it is human readable so that we understand what it has been changed and not a computer-like log)
- logins: both failed and successful
- user password changes
- addition/deletion of users
- remote assistance activation / deactivation (even automatically after 24H)
- alert settings

[2018-12-03 18:05] Gelob commented on #2190
@lucaderi I'm not sure, How can I verify that? Isn't it nprobe job to add that information before its sent to ntopng?  This was working when I initially set it up 1-2 weeks ago. I've updated ntopng since then. I updated nprobe on one of the my boxes just see if that helped but made no difference.

ndpi-2.5.0-1438.x86_64
nProbe v.8.7.181203 (r6333)

[2018-12-03 19:16] kwc81 opened #2197 "Can not sort by IP address on Network Discovery page"
Can not sort by IP address on Network Discovery page. Can you please add this feature?

[2018-12-03 19:52] #2190 closed, assigned to nobody

[2018-12-03 20:07] juesor commented on #2157
No i did was we talked about over telegram and it did not resolved the issue.  i have added a crontab to nightly restart ntopng and it hasn't crashed since then.

I figured since i am looking at the new DB i'd hold off doing this for now.

[2018-12-03 21:21] emanuele-f commented on #2194
I have reproduced this in the community version of ntopng, while clicking inside an host chart area. I can't find it in the flow drill down though, can you be more specific?

[2018-12-03 21:35] emanuele-f commented on #2191
Hi, I did not fully understand the use case above, but please review the following features that may be interesting for you:
- you can apply a BPF filter to only see traffic on a specific port: `-B tcp port 22`
- you can monitor localhost traffic by running ntopng on the loopback interface: `-i lo`
- there is an ongoing research to integrate system monitoring (e.g. inter-process communication) wit

[2018-12-03 21:40] emanuele-f commented on #2186
Hi, this is currently not possible. There are some suggestion to make the ntopng dasboard more configurable, please check out #1670 . If you want a very specific view of the ntopng data and you can code then you could think about implementing your own gui by fetching data from ntopng. If you open the browser inspector in a realtime view you will see the underlying http requests taking place. You c

[2018-12-03 21:40] #2186 closed, assigned to nobody

[2018-12-03 21:58] emanuele-f commented on #2187
Hi, this is strange indeed. Can you try manually setting `max_num_points = global_max_num_points` to `max_num_points = math.huge` in the `scripts/lua/modules/grafana/query.lua`? Please note that if you installed the package from the ntop repo then your script directory will be located at `/var/lib/ntopng/scripts`. If you enable InfluxDB export then no RRD data will be created

[2018-12-03 22:24] #2197 closed, assigned to nobody

[2018-12-04 05:17] programmer74SHA commented on #2195
Hi dear friend @cardigliano
I deleted all the ntopng files and compiled pf_ring 7.1.0 version . Then I compiled ntopng based on the instructions. All the process of installation run with no problems but When I send the netflow towards logstash, Im getting the following error but  the data is correctly received in logstash .Based on the  following error has the netflow been fully received in logsta

[2018-12-04 12:02] HoseinKashefi opened #2198 "Traffic Report page no response"
Hi
when I try to select report duration from 1w or more , ntopng goes to waiting state and no response.
cento --version
v.1.5.181119
ntopng --version
v.3.7.181119

[2018-12-04 13:01] lucaderi opened #2199 "Invalid remote assistance configuration generated"
With https://github.com/ntop/ntopng/commit/4dc3d52731cafb2887803cea52685b872cfcc5d0 a new bug has been introduced. As you can see the following configuration file is empty in -l

# cat /etc/n2n/edge-n2n_assistance.conf
-d=n2n_assistance
-l=
-c=ZwS463nsSbg
-k=075mxozAtKrl
-a=192.168.166.1

even though

<img width="886" alt="screenshot 2018-12-04 at 04 58 03" src="https://user-images.githubuserconte

[2018-12-04 15:47] rickguise opened #2200 "Error in ntopng manual?"
Hello,

I believe there is a misprint in the online ntopng manual, section Command Line Options (https://www.ntop.org/guides/ntopng/cli_options.html).

In the explanation for the [—interface|-i] <interface|pcap> parameter it states that:

An example of ntopng and nprobe communication is
nprobe -i eth0 -n none --zmq tcp://*:5556
ntopng -i tcp://nprobe host ip:5556

It is also possible to operate nt

[2018-12-04 16:21] #2200 closed, assigned to nobody

[2018-12-04 16:24] emanuele-f commented on #2200
Thank you for reporting

[2018-12-04 16:35] emanuele-f commented on #2198
Hi, are you using InfluxDB or RRD as the timeseries storage (RRD is the default). Do you see any errors in the ntopng log? Please check out `sudo journalctl -u ntopng`. Can you post a screenshot of your ntopng "runtime status" page (under the home icon)?

[2018-12-04 17:51] mjhdcode commented on #2191
Yeah I'll take a look, if it doesn't fit my suggestion I'll try to clarify...

[2018-12-04 22:23] lucaderi opened #2201 "Implement storage monitor"
As ntopng can use quite a lot of disk space with with RRDs, InfluxDB, pcaps, and indexed flows, it is not time to consolidate usage space on a single page where we can keep disk space under control and perform cleanup operations. Currently we have an Influx disk monitor under the about menu, pcap have another threshold, ... everything is fragmented and hard to use.

Users can set a threshold (eith

[2018-12-04 22:29] lucaderi opened #2202 "Implement indexed flows retention policy"
Currently indexed flows stay forever on disk and this is a problem as the disk will fill up quickly.

It is requested to implement a retention policer that will harvest oldest flow directories in order to match the requested policy. As explained in #2201 disk space should be automatically reclaimed as soon as the usage goes above a certain threshold, this to avoid filling up disk space.

[2018-12-05 01:25] koriks1111 opened #2203 "Hide Internal Traffic from Flow"
Hi There,

im very newbee with ntop, may i ask if possible to hide those traffic coming or from internal network?

[2018-12-05 01:30] koriks1111 commented on #2203
or possible to filter those traffic per vlan passing thru internet and those passing thru other vlan only.
hopefully you get my point. thanks in advance

[2018-12-05 02:32] koriks1111 commented on #2203
i want to hide like below
for Example:

traffic from VLAN 1 going to our DMZ
But the traffic from vlan 1 going to internet will be displayed

[2018-12-05 05:21] koriks1111 commented on #1688
hello,

im new in using ntop. may i know how can i filter, i want to monitor only external traffic, what is the command in nBPF format?

[2018-12-05 07:15] HoseinKashefi commented on #2198
I use RRD format,
here you can find some journal output :
Dec 04 15:17:10  ntopng[4040]: We trust you have received the usual lecture from the local System
Dec 04 15:17:10  ntopng[4040]: Administrator. It usually boils down to these three things:
Dec 04 15:17:10  ntopng[4040]: #1) Respect the privacy of others.
Dec 04 15:17:10  ntopng[4040]: #2) Think before you type.
Dec 04 15:17:10  ntopng[4040]

[2018-12-05 11:21] lucaderi commented on #2203
Please use
[--packet-filter|-B] <filter>       | Ingress packet filter (BPF filter)
to discard unwanted traffic from being sent to ntopng for processing

[2018-12-05 11:21] #2203 closed, assigned to nobody

[2018-12-05 12:10] lucaderi commented on #2198
@emanuele-f  @cardigliano The bug is that ntopng should NOT start tools that are not necessary such as this n2diskctl is-active and in particular with sudo. Please fix this behaviour ASAP as it can lead to security issues.

[2018-12-05 12:17] lucaderi commented on #2198
@HoseinKashefi These tools are old. Please upgrade and the issue should disappear.

[2018-12-05 12:18] #2198 closed, assigned to emanuele-f, cardigliano

[2018-12-05 12:26] emanuele-f commented on #2198
@HoseinKashefi the ntopctl command issue should be fixed with the new version of ntopng. Please check this out and open a new bug if not. Regarding the report, due to a bug daily samples were not written so the raw samples are used instead and, since there are really a lot of points, the page blocks. Please wait for the daily script to run correctly at midnight in order to fix the problem.

[2018-12-05 12:26] lucaderi opened #2204 "Configure SElinux/Apparmor in ntopng packages"
In recent ntopng packages there is a new script called ntopctl that is started as sudo to enable/disable specific services. Our packages lack configuration for SElinux or apparmor where installed. IT is requested to add such files in packages to prevent unwanted behaviour

[2018-12-05 12:28] lucaderi commented on #2198
This #2204 needs to be implemented to harden ntopng further

[2018-12-05 13:32] juesor commented on #2157
This happened again last night. I have the system in a failed state if you would like to troubleshoot.

[2018-12-05 13:32] emanuele-f commented on #2203
How are you capturing the network flows? If you want to use a BPF filter you can pass the `-B "some filter"` option to ntopng. Please refer to https://www.ntop.org/guides/pf_ring/nbpf/nbpf.html for filter syntax

[2018-12-05 14:21] HoseinKashefi commented on #2198
Dear Emanuele and Luca
Thank you very much.
I will upgrade ASAP.

[2018-12-05 14:40] HoseinKashefi commented on #2198
it was updated and issue still exist, here some log after ntopng running :

Dec 05 18:06:18  sudo[22236]:   ntopng : TTY=unknown ; PWD=/ ; USER=root ; COMMAND=/bin/ntopctl n2n has-service n2n_assistance
Dec 05 18:06:18  sudo[22241]:   ntopng : TTY=unknown ; PWD=/ ; USER=root ; COMMAND=/bin/ntopctl n2disk has-service tcp://*:5556c
Dec 05 18:06:18  ntopng[22201]: 05/Dec/2018 18:06:18 [PeriodicActivi

[2018-12-05 16:02] emanuele-f commented on #2198
Do you still see the `command not allowed` error in the logs? If not, then this should be fixed. About the minute.lua, I've just commited a fix, anyway it won't create issues.

[2018-12-05 16:55] boisgada opened #2205 "Timeseries data works for RRD, but not being written to InfluxDB"
Summary:  When selecting RRD for timeseries, data is written to /var/lib/ntopng...  When changing from RRD to InfluxDB, no data is written.

System Information:
v.3.7.181204    [Enterprise/Professional build]
GIT rev:        dev:cb514ef9e1dbcbeb62fc52d62aa7e2d9dce347ce:20181204
Pro rev:        r2110
Built on:       Ubuntu 18.04.1 LTS
System Id:    [removed]
Platform:       x86_64
Edition:        E

[2018-12-05 17:10] #2157 closed, assigned to nobody

[2018-12-05 17:14] simonemainardi commented on #2157
So it turned out that keepalives were not honored for the tcp socket used by zmq. The connection was dead but the client, without keepalives, was considering it active. This can also be seen from the following `netstat` output.

Client:
[code]

Server:
[code]

My commits in ntopng and nprobe use `zmq_setsockopt` to request keepalive support from the kernel. This allows the client to detect a "dead

[2018-12-05 18:39] emanuele-f commented on #2205
Can you see any errors in the ntopng log? Please check out `sudo journalctl -u ntopng`. So this means that the historical charts of ntopng for recent data are empty for you?

[2018-12-05 19:24] boisgada commented on #2205
I switched back and forth between RRD and InfluxDB multiple times over the past few days, so I don't know the value of the setting when these log entries were recorded.  That being said, I see page after page of the following messages:

Dec 03 14:52:24 ntfk9012 ntopng[2346]: 03/Dec/2018 14:50:48 [housekeeping.lua:26] [influxdb.lua:420] ERROR: POST of /var/lib/ntopng/19/ts_export/0_1543848644 faile

[2018-12-05 23:12] koriks1111 commented on #2203
hi, sorry for late response due to diff time zone. :D

should i put this in traffic Profiles?
like this

![image](https://user-images.githubusercontent.com/42999735/49550331-32229200-f926-11e8-86f9-904866bf6380.png)

[2018-12-06 08:38] HoseinKashefi commented on #2198
I've checked it again, after restarting service, it's worked properly.
thank you

[2018-12-06 09:21] emanuele-f commented on #2205
Can you post a screenshot of the ntopng "Runtime Status" page? If you go into the timeseries preferences and swtich to RRD, then switch back to InfluxDB, when you click save do you have a green badge saying that the connection to the InfluxDB was successfully?

Edit: the new package has more debug messages and alerts, please install it to get more accurate traces.

[2018-12-06 09:22] emanuele-f commented on #2198
Thank you for reporting

[2018-12-06 09:23] emanuele-f commented on #2203
No, this should be added to the /etc/ntopng/ntopng.conf file and restart ntopng after the modification:

`-B=192.168.101.0/24`

[2018-12-06 09:46] #2199 closed, assigned to emanuele-f

[2018-12-06 09:49] emanuele-f commented on #286
Closing this, will continue on #1863 .

[2018-12-06 09:49] #286 closed

[2018-12-06 10:07] cardigliano commented on #2143
Implemented:
- PCAP download
- live extraction
- host JSON downlaod
- flows data download
- alerts enable/disable/changes
- alert endpoints changes
- delete alert data
- failed/successful logins
- user add/remove
- user password change
- remote assistance activation / deactivation
- traffic recording activation / deactivation
- delete host/interface data
- add/remove snmp devices

Missing:
- prefe

[2018-12-06 10:15] emanuele-f commented on #2193
As discussed, it will be implemented in the following way:

- an alert will be created for every single error. It will include the "error" message from Influxdb.
- in case of `max-values-per-tag limit exceeded`, a specific alert will be created suggesting how to solve the problem
- documentation will be updated to include the setting to extend the max-values-per-tag

[2018-12-06 13:32] #2193 closed, assigned to emanuele-f

[2018-12-06 16:16] emanuele-f commented on #2194
Assuming it's fixed now, please reopen if necessary.

[2018-12-06 16:16] #2194 closed, assigned to emanuele-f

[2018-12-06 16:24] emanuele-f commented on #2195
The original issue is solved, so I'm closing it. I'm added new debug messages to logstash in 6a826a7b96e598c7a655d38cc091dafd013dff1a . Please do a `git pull` and compile ntopng again. If you still experience issue, please open a new bug with new log.

[2018-12-06 16:24] #2195 closed, assigned to cardigliano

[2018-12-06 16:26] emanuele-f commented on #2170
Addressed in 9bae8e234a3fbcb19a193bc8b9081992d886c89e

[2018-12-06 16:26] #2170 closed, assigned to emanuele-f

[2018-12-06 17:11] cardigliano commented on #2164
@simonemainardi please review this

[2018-12-06 18:29] Gelob opened #2206 "Historical Data Explorer Begin Date is wrong"
The Begin Date/Time: has been defaulting to an incorrect date and maybe incorrect time since the last few dev builds. The Observation Period by default is set to 01:00:00 (1hr?) but the Begin Date/Time is showing as 18/01/1970 14:55:16

![screen shot 2018-12-06 at 12 29 11 pm](https://user-images.githubusercontent.com/422752/49604069-8e031000-f952-11e8-8851-95e2c8c34f51.png)

3.7.181204 - Enterpri

[2018-12-06 18:53] Gelob opened #2207 "grafana_utils.lua:33: field 'sec' is not an integer"
I keep seeing this in my logs and it seems like the ntopng grafana lua datasource is not working as a result.

06/Dec/2018 18:51:27 [LuaEngine.cpp:8766] WARNING: Script failure [/usr/share/ntopng/scripts/lua/modules/grafana/query.lua][/usr/share/ntopng/scripts/lua/modules/grafana_utils.lua:33: field 'sec' is not an integer]

v3.7.181204 - Enterprise Edition

[2018-12-06 19:02] Gelob commented on #2143
I'd like to note that currently in 3.7.181204 - Enterprise Edition if you have LDAP enabled and a user who attempts to login but doesn't exist in AD in you see the following message in the logs which may not make sense. If a new human readable message is already implemented it might be a good idea to remove this one.

[LdapAuthenticator.cpp:385] ERROR: no matching memberOf attribute found for any

[2018-12-06 19:13] Gelob opened #2208 "Realtime Top Application Traffic values higher than possible"
The Realtime Top Application Traffic values that I'm seeing on the Traffic Dashboard page seem to be incorrect. The values are higher than my network interface realtime traffic and as well as my top application traffic last day view. Something just seems wrong when its showing 8Gbit/s and my interface isn't above 1Gbps and I know I'm not doing 8Gbit/s

![screen shot 2018-12-06 at 1 10 25 pm](https

[2018-12-07 00:56] koriks1111 commented on #2203
Hi,

if i want to hide 2 vlan traffic destination, it would be like this

-B=not ip dst net 192.168.101.0/24,192.168.x.x
?

hiding 1 network is fine, but if multiple. i am having trouble.
apologies for inconvenience

[2018-12-07 01:19] koriks1111 commented on #2203
how about hiding the traffic between two network

ex: Src 101.0/24 --> Destination 102.0/24

really sorry, for trouble

[2018-12-07 02:20] simonemainardi commented on #2208
This is normal when you are dealing with collected NetFlow/sFlow data. Indeed, flow data is reported by devices only at the end of the flow so ntop sees a large volume of traffic in a very short period of time and is tricked into thinking the speed is huge.

This is unavoidable and has already been discussed several times, including: https://github.com/ntop/ntopng/issues/1359#issuecomment-32094992

[2018-12-07 02:20] #2208 closed, assigned to nobody

[2018-12-07 09:41] #2207 closed, assigned to emanuele-f

[2018-12-07 10:06] emanuele-f commented on #2203
You can use `and` operator and parenthesis, e.g. `(not ip dst net 192.168.101.0/24) and (not ip dst net 192.168.x.x)`

[2018-12-07 10:11] emanuele-f commented on #2143
I've changed it to trace level info, thank you for reporting

[2018-12-07 10:45] #2206 closed, assigned to emanuele-f

[2018-12-07 11:24] #2143 closed, assigned to cardigliano

[2018-12-07 11:24] #2164 closed, assigned to cardigliano

[2018-12-07 14:28] emanuele-f commented on #1837
Dropping this in favor of #1974 . Users can now add custom IP/domains to categories from the gui.

[2018-12-07 15:33] emanuele-f commented on #1863
Dependencies added in 20e2542b4b0dda33bb005d002dc58a0724018635 .

[2018-12-07 15:33] #1863 closed, assigned to emanuele-f

[2018-12-07 18:53] emanuele-f commented on #2120
The issue was not related to the "unknown" protocol but rather on the unidirectional behavior. Now fixed.

[2018-12-07 18:53] #2120 closed, assigned to emanuele-f

[2018-12-07 19:12] emanuele-f commented on #2187
@CDawson1 any news?

[2018-12-07 19:13] emanuele-f commented on #2191
@mjhdcode any news?

[2018-12-07 19:18] CDawson1 commented on #2187
Sorry. I’m in holiday until Monday. I’ll take a look as soon as I’m back.

Thanks!

Christian

On Dec 7, 2018, at 12:12, Emanuele Faranda <notifications@github.com<mailto:notifications@github.com>> wrote:

@CDawson1<https://github.com/CDawson1> any news?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/ntop/ntopng/issues/2187#

[2018-12-07 19:38] emanuele-f commented on #2149
@Gelob I've added an option to disable referrals, please check out if it works properly for you. The new feature will be available in the new package in one hour.

[2018-12-07 19:53] victorhooi commented on #2106
Is there indication on ETA for this support please?

(I see there's a 3.8 milestone - but I'm not sure when 3.8 will be release?)

Thanks! Victor

[2018-12-07 21:38] Gelob commented on #2149
@emanuele-f its working great. thank you!

[2018-12-07 21:38] #2149 closed, assigned to emanuele-f

[2018-12-10 09:43] CDawson1 commented on #2187
I've made the change and restarted ntopng and I don't see any difference in the graphs.  I assume this would be a pretty instantaneous change.

For the record, I've created a separate VM on which Grafana lives, but I would also assume that makes no difference in the grand scheme of things.

And I thought I'd installed the ntop package via the repo, but seemingly not as the lua file is under /usr/s

[2018-12-10 10:55] simonemainardi commented on #2163
as there are protocols such Dropbox or Spotify for which it is normal to be long lived (they announce themselves) it is requested to implement this behavior only when the destination is non broadcast/multicast.

[2018-12-10 16:45] emanuele-f commented on #2202
Implemented in 3532d90a868f5d8713cd409f6df6e03944f22c0d

[2018-12-10 16:45] #2202 closed, assigned to lucaderi, emanuele-f

[2018-12-10 20:55] simonemainardi opened #2209 "IT localization incomplete"
A lot of strings are not localized in IT.

Run to highlight missing strings

[code]

It is requested to complete the localization before the release.

[2018-12-10 20:56] simonemainardi opened #2210 "RADIUS/LDAP users should not be able to edit local users"
An user who's logged using LDAP or RADIUS should not be able to touch users that are local to ntopng. Currently, such users can access the user management page and are also able to perform operations with unspecified behavior for example changing the password of an non-existing user.

[2018-12-10 21:16] cardigliano commented on #2163
Implemented

[2018-12-10 21:16] #2163 closed, assigned to cardigliano

[2018-12-11 08:17] simonemainardi commented on #1837
Well, this is different, actually. protos.txt allows you to create new custom protocols and to associate traffic to protocols using ports, things that are not possible with the implementation of #1974

[2018-12-11 09:48] simonemainardi opened #2211 "Confusing message 'query was too slow and has been aborted' and other related issues"
- The message is frustrating for the user who doesn't know what to do next. It is required to explain the actions necessary.
- The chart appears and disappears. While the page refreshes automatically, sometimes the timeseries is properly drawn, some other times a plain horizontal line appears instead.
- After some page refreshes, the top yellow badge remains while the bottom red badge disappears a

[2018-12-11 11:09] #2171 closed, assigned to emanuele-f, cardigliano

[2018-12-11 11:43] emanuele-f commented on #2183
Issue has been fixed.

[2018-12-11 11:43] #2183 closed, assigned to emanuele-f

[2018-12-11 12:06] simonemainardi opened #2212 "Authentication Improvements"
- A single function isAdministrator should be shared between C and Lua. Currently Lua and C have different implementations. It is suggested to work on `Utils::isAdministrator` and expose it to Lua.
- User group and type of authentication (e.g., local or LDAP or RADIUS) are now stored in redis keys. This is wrong and cause clashes as one user can log from multiple locations simultaneously. It is re

[2018-12-11 13:08] #2210 closed, assigned to nobody

[2018-12-11 14:20] lucaderi commented on #1978
@simonemainardi This has been solved already right?

[2018-12-11 15:47] boisgada commented on #2205
Finally got around to updating and testing.

Steps taken:
1) apt update; apt -y upgrade
2) reboot server
3) change timeseries from RRD to InfluxDB (no data)
4) restart ntopng (to review logs at specific time)
5) view logs (no errors)

[2018-12-11 16:17] simonemainardi commented on #1978
this heuristic has still to be implemented

[2018-12-11 17:46] #2212 closed, assigned to nobody

[2018-12-11 18:00] emanuele-f commented on #2205
Please post the information asked above.

[2018-12-11 18:03] emanuele-f commented on #2191
Closing for inactivity. Please open a new issue with a clarified description if needed.

[2018-12-11 18:03] #2191 closed, assigned to nobody

[2018-12-11 18:27] cardigliano commented on #2209
IT localization updated

[2018-12-11 18:27] #2209 closed, assigned to cardigliano

[2018-12-11 18:30] simonemainardi opened #2213 "enable/disable eBPF from the preferences"

[2018-12-11 18:43] simonemainardi opened #2214 "add eBPF to packaged ntopng"
should add at least
- ubuntu18
- ubuntu16
- centos7

[2018-12-11 18:43] simonemainardi opened #2215 "Documentation/blog post for nIndex"

[2018-12-11 18:45] simonemainardi opened #2216 "Display errors for SNMP interfaces"

[2018-12-11 18:45] simonemainardi opened #2217 "Add alert on increasing errors for SNMP interfaces"

[2018-12-11 18:47] simonemainardi commented on #2217
- also a single error should be raised
- interfaces that continuously have errors should be 'muted'
- 'muting' should also be done at the level of snmp device

[2018-12-11 18:47] simonemainardi opened #2218 "Add mac addresses to the default @NTOPNG@ nprobe template"

[2018-12-11 18:54] simonemainardi opened #2219 "Improve the page for the nIndex Explorer"

[2018-12-11 22:17] lucaderi opened #2220 "Implement REST API"
Implement REST API (not an API as described in #1856) for downloading information about hosts, interfaces, and alerts

[2018-12-11 22:19] lucaderi opened #2221 "Implement HTTP Alert Endpoint"
Implement an HTTP endpoint that will be called whenever an alarm is triggered. This similar to what ntopng does with Nagios today but in a more general form. The alert data posted will be specified in JSON format.

[2018-12-11 22:24] lucaderi opened #2222 "Create Central Multi-instance Dashboard"
Similar to "Nagios Fusion", it is requested to implement a central dashboard that allows multiple ntopng instances to be monitored for the purpose of
- health monitoring
- traffic monitoring
- alerts overview

Search from the central console will be spread on all registered instances so that you can search a host on the central location and find it on a remote one.

This central console could be i

[2018-12-11 22:26] lucaderi opened #2223 "Implement SNMP Port Alerts"
Add the ability to define alerts whenever a SNMP port load is above X% of the max port speed for Y seconds

[2018-12-11 22:29] lucaderi opened #2224 "Implement Alert on SNMP Interface Discards"
Add the ability to trigger SNMP alerts when port error/discards increase. The alert has to be configurable on/off, globally and per switch (likely per port)

[2018-12-11 22:33] lucaderi opened #2225 "Post pcap for Security Analysis"
In case of an alert, it is requested to add the ability to extract a pcap that triggered the alert and (optionally) to post it to a security endpoint. Examples of endpoints include cloudshark and Security Onion

[2018-12-11 22:36] lucaderi opened #2226 "Create timeline based on flow data"
When flows are saved permanently, it is requested to add the ability to read flow data to generate timeseries to be drawn on ntopng. This will enable for instance the creation of timelines for remote hosts that have not been saved permanently by ntopng.

[2018-12-11 22:39] lucaderi opened #2227 "Add timeseries tags"
With Influx it is possible to add tags on data to highlight specific events happened. It is requested to support tags insertion/read and the ability to (optionally) add tags when an alert is triggered

[2018-12-12 07:43] lucaderi opened #2228 "ntopng does not handle subprocess lifecycle"
When ntopng starts processes such as edge (used for remote support) it must also
- stop the service when ntopng stops
- restart the service when ntopng restarts

This will also apply to potential other services that ntopng spawns.

[2018-12-12 10:17] sachsgiri opened #2229 "How to get callbacks after flows dump to mysql in ntopng?"
Hi,
I am using ntopng to know applications reading a pcap file and want to dump flows into mysql. I am running ntopng using this command:

 `ntopng -r myredis:6379 -F "mysql;mysqlhost;dbname;flows;username;" -i /var/data/pcaps/email.pcap --shutdown-when-done`

But I am not able to see any data in the flowsv4 or flowsv6 tables in mysql. When tried with no shudtdown-when-done, I could see the data.

[2018-12-12 10:53] emanuele-f commented on #2229
Hi, to know when flows are exported you can look at the exported flows counter into the interface page:

![2018-12-12_11-52_1](https://user-images.githubusercontent.com/5488003/49865146-14f53400-fdfc-11e8-8752-89b655781c46.png)

[2018-12-12 12:05] sachsgiri commented on #2229
@emanuele-f  I am not using UI. I want the point in time, when all the flows are dumped into mysql. Is there any specific callback I can get in scripts?

[2018-12-12 12:05] lucaderi opened #2230 "Invalid Floating Point Usage"
![screen shot 2018-12-12 at 13 02 24](https://user-images.githubusercontent.com/4493366/49868650-542c8080-fe0e-11e8-9252-9e52c9ed3258.png)
![screen shot 2018-12-12 at 13 01 58](https://user-images.githubusercontent.com/4493366/49868653-542c8080-fe0e-11e8-9ae1-7383b085b452.png)

[2018-12-12 12:07] sachsgiri commented on #2229
@emanuele-f  for a pcap file with -i option to ntopng cmd, I just want to get flows with applications. Thats why I am using shutdown-when-done. What is the right way to do so without being blocked?

[2018-12-12 12:09] simonemainardi opened #2231 "mg_write - slow when downloading nIndex flows?"
rows: 555118
50 usec x record w/o mg_write
108 usec x record w/ la mg_write

[code]

[2018-12-12 12:17] lucaderi opened #2232 "New Protocol/Categories Definition"
In ntopng is it possible to define new categories (or add hosts to categories) through the web interface. However
- this is not documented in the manual
- it is not clear how to jump from categories to protocols
- the menu protocols is used to put a protocol under a category and so it clashes with the other categories menu
- it is not clear the relation ship of the above two menu entries with
[--n

[2018-12-12 12:26] lucaderi opened #2233 "Create FAQs in ntopng manual"
The ntopng manual sometimes is unable to answer simple questions like
- how do I know who is using most of my bandwidth?
- how do I create a custom protocol category...

It is requested to add a FAQ section in the ntopng manual that covers most simple things that are hidden in the manual and not present in the index

[2018-12-12 12:29] lucaderi opened #2234 "Timeseries/flow Storage Size"
When deploying an ntopng instance it is not clear what are the hardware requirements. This in particular for storage it is not clear how much disk space will be used for X hosts with a retention time of Y days.
Please create a page that explains this, add it to the ntopng manual, so that people can have a rough idea of the space that will be used on disk

[2018-12-12 12:32] lucaderi opened #2235 "HTTP Traffic Reports"
In the local host breakdown it is not written anywhere that it is possible to keep a list of sites visited by the host. However this can be specified in preferences.

It is requested (in case are disabled) to add a note in the host HTTP breakdown and specify that.

Furthermore as SSL (HTTPS) traffic is becoming more and more relevant, also enhance this feature also with HTTPS

[2018-12-12 12:36] lucaderi opened #2236 "Document graph header"
![screen shot 2018-12-12 at 13 35 38](https://user-images.githubusercontent.com/4493366/49870148-d5861200-fe12-11e8-9675-75ac60167e7a.png)

in graphs there are various metrics computed that are not documented anywhere. Please add an online help/message to see what they are about and how to interpret them

[2018-12-12 12:42] lucaderi opened #2237 "Invalid search label"
![screen shot 2018-12-12 at 13 41 17](https://user-images.githubusercontent.com/4493366/49870444-a9b75c00-fe13-11e8-919c-4b52147bc175.png)

As it's possible to search IP/MAC addresses, as well as hosts, the "search host" label is misleading

[2018-12-12 13:03] emanuele-f commented on #2229
I see, so it seems like the flow export is not performed before the shutdown, please let me check this.

[2018-12-12 13:12] #2237 closed, assigned to simonemainardi

[2018-12-12 13:16] bthomas5g opened #2238 "Traffic Report not displaying graphs"
From the Ntop web interface, when I click on "Traffic Report" the displayed graphs are blank. If I click the checkbox button the change the filtered datasets (or change the dates the report is for) the display remains blank where the usage graphs usually go.

This feature has worked previously on this installation (specifically two days ago).

![image](https://user-images.githubusercontent.com/456

[2018-12-12 13:41] #2230 closed, assigned to simonemainardi

[2018-12-12 16:29] cardigliano commented on #2201
The interface status page now shows the storage utilization with a breakdown including Timeseries, Flows, Packet Dumps.
The Runtime Status page shows the (total) disk space used by each interface.
Each component (Flows, Traffic Recording) takes care of reclaiming old data (e.g. Traffic Recording is based on the concept of Dump Window).
Volumes utilization and alerting will be implemented with the

[2018-12-12 16:47] simonemainardi commented on #2235
implemented and documented, both for SSL traffic as well as for plain HTTP.

[2018-12-12 16:47] #2235 closed, assigned to simonemainardi

[2018-12-12 17:54] #2233 closed, assigned to simonemainardi

[2018-12-12 18:51] ghost opened #2239 "ntopng service and application failure"
Running ntopng on windows 7.  tried running as service and as application.  in both trial and licenced mode.  Have upgraded system to windows 10.  Have same issue where ntop (service or application) fails on a recurring basis every 10-15mins.  Error logs say application has failed. No other obivous logging indicators of the fault.

[2018-12-12 19:39] #2236 closed, assigned to emanuele-f

[2018-12-12 19:41] emanuele-f commented on #2239
Please follow these instructions to get a stack trace: https://github.com/ntop/ntopng/blob/dev/doc/README.crash#L19

[2018-12-12 19:43] emanuele-f commented on #2238
What's the output of `rrdtool info /var/tmp/ntopng/1/subnetstats/10/68/10/0/24/bytes.rrd` ?

[2018-12-12 19:45] emanuele-f commented on #2228
Implemented as part of 1d6e52fb1a47a454595914b476882445407a72e9 and https://github.com/ntop/n2n/commit/3bd4e2c33519332eac63b959dbb2e7aa66da5d87

[2018-12-12 19:45] #2228 closed, assigned to emanuele-f

[2018-12-13 00:33] lucaderi opened #2240 "Implement Local IPv4 Conversation Map"
The ARP protocol can be used to figure out who is talking to who on the local network. It is requested to create a map/dashboard of local communications overtime based on the ARP protocol, and to implement alerts based on undetected MAC-to-MAC communications

[2018-12-13 00:46] lucaderi opened #2241 "Implement Sort and Back in SNMP"
Inside /lua/pro/enterprise/snmpdevices_stats.lua it is not possible to sort columns. For instance it is not possible to sort devices according to the last sort time.

It is also request to implement a breadcrumb in SNMP navigation to avoid clicking several times on the 'back' icon to navigate across devices.

[2018-12-13 00:58] lucaderi opened #2242 "Misleading SNMP Host Location"
<img width="1149" alt="screenshot 2018-12-13 at 01 53 27" src="https://user-images.githubusercontent.com/4493366/49908279-15ccab00-fe7a-11e8-9b45-0fdb2374fe06.png">
In host info page the SNMP Info is misleading for many non-tech users. Example in the above picture the host is on port "GigabitEthernet 1/25" as all the other ports are PortChannel.

In the example below instead
<img width="389" alt="

[2018-12-13 01:01] lucaderi opened #2243 "Invalid SNMP Warning Message"
<img width="730" alt="screenshot 2018-12-13 at 02 00 01" src="https://user-images.githubusercontent.com/4493366/49908442-db174280-fe7a-11e8-82dc-85f183af6934.png">

The warning "Multiple MACs on non-trunk port" does not applies to trunk and port channel ports. Please fix it.

[2018-12-13 01:04] lucaderi opened #2244 "Missing URL Anchor for Active MACs"
<img width="1160" alt="screenshot 2018-12-13 at 02 02 48" src="https://user-images.githubusercontent.com/4493366/49908517-42cd8d80-fe7b-11e8-8bb9-dd74771fb90e.png">

Mac addresses on SNMP ports must be highlighted (i.e. add URL) for those MACs that have been found in the system

[2018-12-13 01:06] lucaderi opened #2245 "Invalid Preference Pane Content"
<img width="823" alt="screenshot 2018-12-13 at 02 05 02" src="https://user-images.githubusercontent.com/4493366/49908574-87592900-fe7b-11e8-83fa-af3ffa044b11.png">
 The two above elements are part of the timeseries preference pane even though they have nothing to do with timeseries. Please place at the correct location

[2018-12-13 05:28] sachsgiri opened #2246 "Best way to get callbacks after flows have been generated."
Hi all,
1. I want to know which callback scripts i should look to know if ntopng has created flows for interfaces/pcap files?
2. Is it possible to export/dump these flows as soon as they are generated to let's say a csv through callback scripts or by any other means? What will be the best way to do so?

[2018-12-13 08:49] emanuele-f commented on #2246
Please do not post duplicate issue, #2229 .

[2018-12-13 08:49] #2246 closed, assigned to nobody

[2018-12-13 09:35] bthomas5g commented on #2238
root@nat-box:/home/ubuntu# rrdtool info /var/tmp/ntopng/1/subnetstats/10/68/10/0/24/bytes.rrd
filename = "/var/tmp/ntopng/1/subnetstats/10/68/10/0/24/bytes.rrd"
rrd_version = "0003"
step = 60
last_update = 1544096040
header_size = 1944
ds[ingress].index = 0
ds[ingress].type = "DERIVE"
ds[ingress].minimal_heartbeat = 120
ds[ingress].min = NaN
ds[ingress].max = NaN
ds[ingress].last_ds = "U"
ds[ingre

[2018-12-13 09:47] #2245 closed, assigned to emanuele-f

[2018-12-13 10:20] simonemainardi commented on #2244
implemented

[2018-12-13 10:20] #2244 closed, assigned to simonemainardi

[2018-12-13 10:36] cardigliano commented on #2232
The Protocols and Categories pages have been merged into a single menu entry Categories in 2dc59620edb19bfbbf22eaec5a5517dc4b1a5757

[2018-12-13 10:38] emanuele-f commented on #2238
what ntopng options are you using? Can you upgrade to the dev version and see if this is solved as we will release it as the new stable soon?

[2018-12-13 10:48] emanuele-f commented on #2106
This has been postponed, it will not be part of the 3.8 release (release soon within this month)

[2018-12-13 11:29] emanuele-f commented on #1670
Another request from a ntopng user: create 1 week and 1month charts and display them into the dashboard

[2018-12-13 11:39] emanuele-f commented on #2173
This is what I propose:

- Turn the global preference into a "*New* devices connection/disconnection.."
- Add an option on the host pools configuration page, disabled by default, to trigger these alerts on the specific host pool

[2018-12-13 11:50] simonemainardi commented on #2243
implemented

[2018-12-13 11:50] #2243 closed, assigned to simonemainardi

[2018-12-13 11:59] #2232 closed, assigned to cardigliano

[2018-12-13 13:23] simonemainardi commented on #2242
Implemented. Now trunk and port channels are separated and listed after access ports

![image](https://user-images.githubusercontent.com/3397663/49941256-46482f80-fee2-11e8-9412-c35a5a4c4f06.png)

[2018-12-13 13:23] #2242 closed, assigned to simonemainardi

[2018-12-13 14:16] CDawson1 opened #2247 "Host pool description to InfluxDB index"
As we're able to pull host pool statistics created within the UI sent to InfluxDB, that's obviously the preferred method to pull data from and into Grafana.  However, the identifier created is simply a number given the host pool descriptor is arbitrary.

As you can see, there are several pool IDs, but simply as numbers.

![image](https://user-images.githubusercontent.com/32870121/49943022-bfde1e80

[2018-12-13 14:41] #1979 closed, assigned to emanuele-f

[2018-12-13 15:12] #1843 closed, assigned to emanuele-f