[2022-03-15 14:51] cardigliano commented on #6409
Implemented in c5baed08e619fa25b955e0e23ed3017da2a69bed and pro 7815c63b5ae8c162ab0049158e6b202e188742fd

[2022-03-15 16:09] MatteoBiscosi commented on #6411
Added more space to the Y axis labels, however I cannot add more then the current one. Added both tooltip on the chart and on the label in order to avoid this issue.

![Screenshot from 2022-03-15 17-07-38](https://user-images.githubusercontent.com/49585191/158421284-4fd4cea8-42fb-4d06-8c78-22e330c5fab6.png)
![Screenshot from 2022-03-15 17-07-44](https://user-images.githubusercontent.com/49585191/1

[2022-03-15 16:14] MatteoBiscosi commented on #6412
Hi @AnhTuanNguyenn is ClickHouse installed in the new server? because that message is usually displayed when ntopng cannot find ClickHouse. Could you please check it out? to do it, you just need to run `clickhouse-client`.
e.g. in my test lab:

matteo@matteo-Precision-3541:~/ntopng_front_end$ clickhouse-client
ClickHouse client version 21.12.3.32 (official build).
Connecting to localhost:9000 as u

[2022-03-15 16:24] cardigliano commented on #6403
All filters requiring mapping have been ported to the new vue component

[2022-03-15 20:14] AnhTuanNguyenn commented on #6412
hello Metteo,
yes, clickhouse installed on 2 servers, when i check i have same output as you (clickhouse connected localhost:9000)

[2022-03-15 21:16] lucaderi commented on #6412
- What is the platform you are using?
- What is the absolute path of clickhouse-client?
- What is the version of clickhouse you have installed?

[2022-03-15 21:21] lucaderi opened #6413 "Improve search field"
![Screen Shot 2022-03-15 at 22 15 02](https://user-images.githubusercontent.com/4493366/158474175-72deb350-add6-48c3-9339-1d79573a6d2c.png)

When you search a host that is not in memory ntopng reports no results found. In case ntopng is started with Clickhous and in case the searched entry looks like a host, instead of "No results Found" a new entry for searching this host in historical flows/aler

[2022-03-15 21:26] lucaderi opened #6414 "Checks: Avoid Button Overlap"
![Screen Shot 2022-03-15 at 22 25 25](https://user-images.githubusercontent.com/4493366/158475275-745668b0-89c5-4774-9023-af07feea435d.png)

In Settings - > Checks, please modify the last column to force buttons to stay on the same line when shrinking the page

[2022-03-15 21:29] lucaderi opened #6415 "Menu Badges Overlap with Small Windows"
![Screen Shot 2022-03-15 at 22 26 58](https://user-images.githubusercontent.com/4493366/158475513-b0874c88-128f-437b-90db-416ac951568f.png)

Menu badges should not overlap when shrinking the page. A solution needs to be found such as hiding badges when the page is too small or putting them on two rows to use half the space.

[2022-03-15 21:40] lucaderi opened #6416 "Rare/Unusual Domain Flow Check"
Implement a new flow check for reporting when visiting a "rare" (i.e. not popular) domain name for the selected ntop instance. Before emitting the first alert, ntopng must have a "learning period" for knowing what domains are popular or rare.

[2022-03-15 21:42] lucaderi opened #6417 "Rare/Unusual Destination Flow Check"
Similar to #6416 but with a check based on the destination IP address of a flow.

[2022-03-15 21:45] lucaderi opened #6418 "Missing Network/Pool Alert Filter"
Similar to what happens with historical flows, it is requested to implement in alerts the ability to filter hosts/flows based on network and pool Id.

[2022-03-15 21:51] lucaderi opened #6419 "Flow Alerts: Invalid IPv6 Validator"
In flow alerts when clicking on a host
![image](https://user-images.githubusercontent.com/4493366/158478314-6454b3cc-d5f9-4614-9e75-355be561578f.png)

the following window opens

![Screen Shot 2022-03-15 at 22 48 30](https://user-images.githubusercontent.com/4493366/158478409-755d963b-bb26-4a4e-a0bb-68260909a663.png)

And an error is reported (invalid value) as this is not detected as IPv6. This i

[2022-03-15 21:59] lucaderi opened #6420 "Unify Interface Style"
In the host page, SNMP information such as the interface name is reported as a badge.

Inside historical flows instead is reported as follows.
![image](https://user-images.githubusercontent.com/4493366/158479336-3fc028aa-e6e6-4852-a417-f217b6ff6b06.png)

This is to request to use the same SNMP format used in hosts and this unify the code.

[2022-03-15 22:02] AnhTuanNguyenn commented on #6412
as i said i using ntopng on my pfsense (you was help me resolved problem connection between ntopng and pfsense)
What is the absolute path of clickhouse-client? that a good question too, before i just install click house on server and i just connect it via file config ntopng that work tho, but when i remove and reinstall new version ntopng it's doesn't work anymore

What is the version of clickhous

[2022-03-15 22:07] lucaderi opened #6421 "Invalid Service Map Drill Down"
In http://localhost:3000/lua/pro/enterprise/service_map.lua?host=192.168.1.178

this what ntopng reports

![image](https://user-images.githubusercontent.com/4493366/158480350-ca777661-452d-4abf-8992-8f0bd2d9a20f.png)

Clicking on the table page the new URL is
http://localhost:3000/lua/pro/enterprise/service_map.lua?page=table&only_alerted_hosts=false&l7proto=&only_memory=false

and it lacks the fi

[2022-03-15 22:10] lucaderi commented on #6407
Verified as fixed

[2022-03-15 22:10] #6407 closed, assigned to MatteoBiscosi

[2022-03-15 22:10] lucaderi commented on #6402
Verified as fixed

[2022-03-15 22:10] #6402 closed, assigned to uccidibuti, MatteoBiscosi

[2022-03-15 22:15] lucaderi commented on #6409
Verified as fixed

[2022-03-15 22:17] lucaderi commented on #6411
Better now

[2022-03-15 22:17] #6411 closed, assigned to MatteoBiscosi

[2022-03-15 22:19] lucaderi commented on #6385
This has been fixed but in the current implementation, the VLAN is no longer present and only the filter on the IP is set (see #6419).

[2022-03-15 22:19] #6385 closed, assigned to nobody

[2022-03-15 22:19] lucaderi commented on #6408
Unable to reproduce it.

[2022-03-15 22:19] #6408 closed, assigned to nobody

[2022-03-15 22:24] #6409 closed, assigned to cardigliano

[2022-03-15 22:26] lucaderi commented on #6393
Verified as fixed

[2022-03-15 22:26] #6393 closed, assigned to MatteoBiscosi

[2022-03-15 22:33] lucaderi commented on #6403
Some issues are still present

Not working yet, albeit present in URL (example &status=0%3Bneq)
- Status (no filter box present but present in URL)

Filter added but not working (i.e. filter is not effective)
- Client Pool
- Server Network
![Screen Shot 2022-03-15 at 23 30 47](https://user-images.githubusercontent.com/4493366/158483086-2f671cba-3367-46ad-9fc6-12e865ae61b0.png)
It seems that reload

[2022-03-16 07:51] cardigliano commented on #6419
@uccidibuti please check the validator

[2022-03-16 07:57] cardigliano commented on #6403
@uccidibuti please check why a page reload is required when adding some filters as reported in the last comment

[2022-03-16 09:18] #6401 closed, assigned to uccidibuti

[2022-03-16 09:20] lucaderi opened #6422 "Invalid ClickHouse Queries"
Due to the nature of ClickHouse **all** queries **must** have in the WHERE clause the time keys for which a table has been created. Example

[code]

must have in the WHERE clause **at least** tstamp, otherwise the query will result in a **linear scan**.

This is what happens for instance when you click on the info button of an alert of of a flow. This is the URL that is requested

http://XXXX:3000

[2022-03-16 09:27] lucaderi opened #6423 "Flow Alert LifeCycle"
In ntopng, there are two types of alerts
- stateful (e.g. host alerts)
- stateless (e.g. flow alerts)

If in Host alerts you are visiting the engaged host alerts
![Screen Shot 2022-03-16 at 10 24 37](https://user-images.githubusercontent.com/4493366/158558449-8964791a-00e7-4813-b155-2978448261ba.png)

and then click on the Flow menu item you jump to
![Screen Shot 2022-03-16 at 10 26 10](https://us

[2022-03-16 09:36] lucaderi opened #6424 "DNS Fields Not Mapped in Alerts"
In DNS flows (and **ONLY** DNS) the following alert is unmapped.
![image](https://user-images.githubusercontent.com/4493366/158559823-e5d346bf-7248-4648-a1e9-e8468fbf98bd.png)

Query type and return code (better error code) should be mapped as follows (if the values in not in this list use the numerical value). So in the above Query 1 = A
[code]

For the error codes this is the list

[code]

[2022-03-16 09:40] lucaderi opened #6425 "Alerts Contain Duplicated Information"
![image](https://user-images.githubusercontent.com/4493366/158561224-efb19a2c-b323-46d7-a7a4-194be809d818.png)
The above image shows just an example. Most fields are replicated and should appear only once.

[2022-03-16 09:43] lucaderi opened #6426 "Implement Alerts Analysis"
Similar to Historical Flows Analysis, for hosts some sort of alert analysis must be implemented. In particular for flow alert analysis that the moment are just listed in a table.

[2022-03-16 09:48] lucaderi opened #6427 "Inconsistent Icons"
![image](https://user-images.githubusercontent.com/4493366/158562463-13c859ca-6f5d-4b55-a697-07370b170b18.png)
This is inconsistent. Either the "bug" icon is reverted, or all triangles are replaced with the bug. In this case:
- the bug should be red/yellow and not blue
- all the documentation must be updated in case of images with triangles

[2022-03-16 10:28] cardigliano opened #6428 "Bugged label in check configuration dialog"
<img width="825" alt="Screen Shot 2022-03-16 at 11 28 23" src="https://user-images.githubusercontent.com/7548711/158570053-6c02afd6-1bee-42ab-8424-02e6aee090ee.png">

[2022-03-16 10:33] lucaderi opened #6429 "Implement Local Active Hosts Timeseries"
ntopng implements a timeseries for active hosts (local + remote). This is to request to add another timeseries that contains the number of active local hosts.

[2022-03-16 11:02] lucaderi opened #6430 "Missing Check Button Label"
![Screen Shot 2022-03-16 at 12 01 03](https://user-images.githubusercontent.com/4493366/158575652-6e699aca-f698-4d95-9c8f-668e7286764b.png)

Please verify all check buttons

[2022-03-16 11:05] sysongyi opened #6431 "ntop ntopng: [LuaEngine.cpp:1254] WARNING: Script failure [/usr/share/ntopng/scripts/lua/pro/rest/v2/get/db/historical_db_search."
**Environment**:
* OS name: [CentOS Linux release]
* OS version: [ 7.9.2009]
* Architecture: [amd64]
* ntopng version/revision: [ntopng Enterprise M v.5.3.22031]

**What happened**:

I got an error after updating ntopng today.
ntopng.x86_64                                                  5.3.220315-17225                                          @ntop
ntopng-data.noarch

[2022-03-16 11:12] MatteoBiscosi commented on #6431
Hi @sysongyi the issue should be fixed, a new build is running, please wait a couple of hours and update.

[2022-03-16 11:16] lucaderi commented on #6428
Same here in host checks
![Screen Shot 2022-03-16 at 12 16 01](https://user-images.githubusercontent.com/4493366/158578145-e18d2ce1-fbc7-4f47-aadd-41641cf6f71d.png)

[2022-03-16 11:17] sysongyi commented on #6431
Thank you very much for the quick solution.

[2022-03-16 11:34] cardigliano commented on #6422
Fixed in ca189ea4fd0b509b8237849909e34bf0e505f372 (alerts) and pro a43aa1a5ba7b40cf5a846fcb0b1a3435baf75f13 (historical flows)

[2022-03-16 11:46] MatteoBiscosi commented on #6428
Fixed

[2022-03-16 12:17] MatteoBiscosi commented on #6427
Fixed, the issue was due to a change to the severity label

[2022-03-16 12:17] #6427 closed, assigned to nobody

[2022-03-16 12:33] lucaderi opened #6432 "Duplicated Icon Used In The Same Menu"
![Screen Shot 2022-03-16 at 13 31 41](https://user-images.githubusercontent.com/4493366/158590654-75405f7f-9aa7-4922-b1ee-2063f3719a21.png)

This is a bad practice as users are confused.

[2022-03-16 13:10] H0neyBeer opened #6433 "Issue with Ntop historical flows"
**Environment**:
* OS name: [Debian11 (bullseye)]
* OS version: [5.10.103]
* Architecture: [x86_64]
* ntopng version/revision:  [ntopng Enterprise M v.5.3.220316]
* nprobe version : nProbe Enterprise M

**What happened**:
Hello,

Yetserday I tried your Ntop license and installed clickhouse to keep my flows and it works ! But I can't see the flows in the "Flows" section but I can see it in the "Top

[2022-03-16 13:32] cardigliano commented on #6432
This has been fixed already

[2022-03-16 13:54] paulbrown4 opened #6434 "Can't send message to Telegram channel."
**Environment**:
* OS name: Ubuntu
* OS version: 20.04.4
* Architecture: amd64
* ntopng version/revision: v.5.3.220316 rev.17225

**What happened**:
When setting the Telegram endpoint channel ID to a group ID I recieve an error stating that the format is incorrect.

**What did you expect to happen?**
I expected the channel ID to be set to a group ID value that contains a dash at the beginning.

**

[2022-03-16 14:22] lucaderi commented on #6421
Verified as fixed

[2022-03-16 14:22] #6421 closed, assigned to MatteoBiscosi

[2022-03-16 14:23] lucaderi commented on #6422
This issue verified as fixed

[2022-03-16 14:23] #6422 closed, assigned to cardigliano

[2022-03-16 14:25] lucaderi opened #6435 "Invalid search text color in checks with dark theme"
![image](https://user-images.githubusercontent.com/4493366/158612342-1602f94f-93ba-46f0-b289-31270cc7c750.png)

[2022-03-16 14:27] lucaderi commented on #6428
Verified as fixed

[2022-03-16 14:27] #6428 closed, assigned to nobody

[2022-03-16 14:27] lucaderi commented on #6432
Verified as fixed

[2022-03-16 14:27] #6432 closed, assigned to nobody

[2022-03-16 14:35] lucaderi opened #6436 "Historical Flows Broken Again"
![image](https://user-images.githubusercontent.com/4493366/158614245-ccd2130c-0142-4978-9d6a-2e5f9cc664da.png)
![Screen Shot 2022-03-16 at 15 34 41](https://user-images.githubusercontent.com/4493366/158614336-23d4822f-845f-40c4-9505-24221e7c0d61.png)

[2022-03-16 15:25] MatteoBiscosi commented on #6433
Hi @H0neyBeer a new build soon is going to be available and the issue should be fixed, please bear with it a little

[2022-03-16 15:39] H0neyBeer commented on #6433
Thanks for your speed of action, have a great day!

[2022-03-16 16:01] MatteoBiscosi commented on #6433
Hi, the new update should be available, and now it's working correctly, sorry for the trouble
![Screenshot from 2022-03-16 16-59-58](https://user-images.githubusercontent.com/49585191/158633616-5824e654-b91c-401d-bba3-acd18bcc0654.png)

[2022-03-16 16:02] MatteoBiscosi commented on #6436
issue fixed (duplicate of #6433)

[2022-03-16 16:09] MatteoBiscosi commented on #6434
Hi @paulbrown4 sorry for the trouble, the issue now should be fixed. Wait for the nightly builds and tomorrow morning, update ntopng.
![Screenshot from 2022-03-16 17-05-04](https://user-images.githubusercontent.com/49585191/158634958-8df942f1-16a4-43a1-84a0-f2dd59e5160a.png)

and the check is working too.
![Screenshot from 2022-03-16 17-08-10](https://user-images.githubusercontent.com/49585191/158

[2022-03-16 16:32] lucaderi commented on #6420
Better but switch IP is missing that is important info.

![Screen Shot 2022-03-16 at 17 27 25](https://user-images.githubusercontent.com/4493366/158639563-97a3a056-8270-446e-92f9-f367d25a962b.png)

In the host page we see this info
![Screen Shot 2022-03-16 at 17 31 35](https://user-images.githubusercontent.com/4493366/158640067-a0afb38b-f6f0-41a6-a96b-bda8c1ca5d32.png)

[2022-03-17 09:08] AnhTuanNguyenn commented on #6412
UPDATE:
i try with newest ntopng and i got error same too, when i start service:

[Prefs.cpp:1406] WARNING: -F clickhouse is not available (ClickHouse client not found)

[2022-03-17 10:42] cardigliano commented on #6413
Implemented in 1a69ca984b318b74f09a1c8b5e8bca9f72e198ab d6365a5c2f15e3c96dee1affc82dba60e2883684 11ed60cafb8cee04ad2f76479cc783336ff9bb70 ca15d234fdece6ce786895dd8a413b0c62770651

[2022-03-17 11:05] MatteoBiscosi commented on #6435
Fixed in the latest release
![Screenshot from 2022-03-17 12-03-59](https://user-images.githubusercontent.com/49585191/158795953-17eacbef-0316-4185-a34e-a92a48494121.png)

[2022-03-17 12:43] paulbrown4 commented on #6434
Problem resolved. Using a negative channel Id works.

[2022-03-17 12:43] #6434 closed, assigned to MatteoBiscosi

[2022-03-17 14:49] MatteoBiscosi commented on #6425
Moved the flow info into a new column in order to avoid duplicate information
![Screenshot from 2022-03-17 15-47-55](https://user-images.githubusercontent.com/49585191/158830473-80d6ea94-e70b-4221-86a2-9a816d4634d2.png)

[2022-03-17 14:57] MatteoBiscosi commented on #6424
Added mapping for both DNS and HTTP. In a DNS alert info page, in the 'Flow Related Info' column all the info are formatted instead in the 'Protocol Info' not, in order to have both code and formatted string
![Screenshot from 2022-03-17 15-54-51](https://user-images.githubusercontent.com/49585191/158831391-5aae5de6-23a3-41a4-9bd3-ea8efb08b2ec.png)
![Screenshot from 2022-03-17 15-51-58](https://use

[2022-03-17 15:49] lucaderi commented on #6436
Verified as fixed

[2022-03-17 15:49] #6436 closed, assigned to MatteoBiscosi

[2022-03-17 19:52] lucaderi opened #6437 "Partial Alert Link"
In this alert the alert URL is partial as it does not contain the host address but just the second part of the URL

![image](https://user-images.githubusercontent.com/4493366/158884106-00ae1f43-1d65-43d3-8539-3315e7054375.png)

[2022-03-18 05:04] Niklasr69 commented on #5978
Looks very good know ([ntopng Enterprise L v.5.3.220318]).
Something that can be removed is the exporter IP addresses in SNMP interface column.
The exporter is already in an own column.
Marked with red in the picture.

![image](https://user-images.githubusercontent.com/26242302/158940577-505603ff-51ba-4889-b716-5135c772c25b.png)

[2022-03-18 08:24] notyourcommy commented on #6307
Fixed. Thank you.

[2022-03-18 08:24] #6307 closed, assigned to lucaderi, MatteoBiscosi

[2022-03-18 08:25] notyourcommy commented on #6267
@lucaderi Traffic direction in if_stats.lua is still wrong (just a reminder)

[2022-03-18 08:43] Syl4r-v opened #6438 "Historical flows search does only take AS number up to 5 digits long"
**Environment**:
* OS name: RHEL
* OS version: 8.5
* Architecture: x86
* ntopng version/revision: v.5.2.220315

**What happened**:
When searching flows through the historical flows expolorer with ASN, you can only use up to 5 digits long ASN.

**What did you expect to happen?**
Lots of ASNs that are above 99999 that you cant search right now.

**How did you reproduce it?**

**Debug Information**:

[2022-03-18 08:50] lucaderi opened #6439 "Add find delay"
In the top right find field, it is requested to add a slight delay to avoid searching during text insert

[2022-03-18 09:06] lucaderi opened #6440 "Improve GeoMap when depicting Large Datasets"
Currently, the GeoMap can represent ~512 hosts that is too little for many networks. This is to request a few changes in the top right menu
- Active Hosts -> Top Active Hosts (based on traffic)
- Alerted Hosts -> Top Alerted Hosts (based on score)
- Top ASNs: report a host marker per ASN sorted by traffic
- Top Alerted ASNs: report a host marker per ASN sorted by ASN score

In ASNs, when clicking

[2022-03-18 09:47] lucaderi opened #6441 "Reimplement lua/rest/v2/charts/host/map.lua"
Currently, map.lua it is very inefficient due to its nested implementation that requires several calls per host to be made.

This is to request a redesign of the function that in C++ implements the host iteration and data return, without going back/forth from Lua

[2022-03-18 09:48] lucaderi commented on #6435
Verified as fixed

[2022-03-18 09:48] #6435 closed, assigned to uccidibuti, MatteoBiscosi

[2022-03-18 09:49] lucaderi commented on #6433
Verified as fixed

[2022-03-18 09:49] #6433 closed, assigned to MatteoBiscosi

[2022-03-18 09:49] #6439 closed, assigned to uccidibuti

[2022-03-18 10:17] lucaderi opened #6442 "Optimize /lua/rest/v2/get/host/find.lua"
In order to reduce search time, this is to request to stop searching entries (e.g. hosts) as soon as enough hits have been returned

[2022-03-18 11:05] MatteoBiscosi commented on #6438
Hi @Syl4r-v a new build is running, please wait for a couple of hours, update and let me know if now it's working

[2022-03-18 11:30] Syl4r-v opened #6443 "Ntop stuck "We're almost ready.." screen after every restart"
**Environment**:
* OS name: RHEL 8
* OS version: 8.5
* Architecture: x86
* ntopng version/revision: v.5.2.220315

**What happened**:
Ntop stuck "We're almost ready.." screen after every restart. Can't seem to find any error messages from logs. Only thing that seems to help is to delete tmp folder inside ntopng data folder before starting the software, but that needs to be done every time.

**What

[2022-03-18 11:31] #6404 closed, assigned to uccidibuti, MatteoBiscosi

[2022-03-18 11:31] #6403 closed, assigned to cardigliano, uccidibuti

[2022-03-18 13:09] basicmonkey commented on #6373
I'm having this same issue.

ntopng Enterprise M v.5.3.220318 (Ubuntu 20.04.4 LTS)

Initial load after login is very slow and AJAX requests take 10-20 seconds.

I've check IO requests and nothing crazy. I've tried disabling ClickHouse/MySQL and the same.

[2022-03-18 14:25] MatteoBiscosi commented on #6443
Hi @Syl4r-v could you please check from `journalctl -u ntopng -e` and `systemctl status ntopng` if there is some error?

[2022-03-18 14:44] lucaderi opened #6444 "Missing Anchors from View-aggregated Interfaces"
View-aggregated interfaces lack of HTML anchors present in view interfaces.

Example:
View interface (all good)
![Screen Shot 2022-03-18 at 15 40 54](https://user-images.githubusercontent.com/4493366/159024103-35588c81-2e6d-4512-a5d9-784db9c59224.png)

Original interface (no anchors, flags etc)
![Screen Shot 2022-03-18 at 15 40 45](https://user-images.githubusercontent.com/4493366/159024115-42b4f2

[2022-03-18 14:50] lucaderi opened #6445 "Missing Exports Information with View Interfaces"
How to reproduce it:
ntopng -i tcp://127.0.0.1:1234 -i view:all

In the view interface, the exporters and in/out interfaces are missing.

View Interface
![Screen Shot 2022-03-18 at 15 49 30](https://user-images.githubusercontent.com/4493366/159025632-92dff0da-5838-4d6c-bbdb-020eb2bdf1a7.png)

Collector Interface
![Screen Shot 2022-03-18 at 15 49 13](https://user-images.githubusercontent.com/449336

[2022-03-18 14:54] lucaderi opened #6446 "Extend Flow Page with Exporters"
In the case of flow collection, it is compulsory to compare flows coming from various routers/interfaces. For this reason, in the flow view these menus are not enough

![Screen Shot 2022-03-18 at 15 53 11](https://user-images.githubusercontent.com/4493366/159026245-c388dc06-10f5-4ecc-81af-d45be51ae319.png)

This ticket is to request the extension of the flow table and add 3 more (sortable) columns

[2022-03-18 14:57] lucaderi opened #6447 "Modify Exporter Interface"
As of today the exporter interface menu is formatted as follows
![Screen Shot 2022-03-18 at 15 55 14](https://user-images.githubusercontent.com/4493366/159026583-5861ee5c-5216-4339-b693-91b031ba096a.png)

This is to request to change the format to
- In case SNMP is enabled and the interface name is present show it as
-- If the interface description is present show it as <ifDescr> [<ifName>]
-- If

[2022-03-19 13:08] martinscheu opened #6448 "Pivoting from Alerts to historical flows not working"
**Environment**:
* OS name: [e.g. Ubuntu] Ubuntu
* OS version: [e.g. 18.04] 20.04
* Architecture: [e.g. amd64] x86_64
* ntopng version/revision: [e.g. 5.1.211223] ntopng Enterprise L v.5.3.220318 (Ubuntu 20.04.4 LTS) |

**What happened**:
When trying to pivot from an alert to the historical flow explorer, not entry is shown.
System time set to CET

See attached pdf for details.
[2022-03-19_alert-p

[2022-03-19 13:10] martinscheu commented on #6448
[2022-03-19_alert-pivoting.pdf](https://github.com/ntop/ntopng/files/8309287/2022-03-19_alert-pivoting.pdf)

[2022-03-19 13:13] martinscheu commented on #6448
historical flow URLs
last day: http://192.168.88.238:3000/lua/pro/db_search.lua?epoch_begin=1647608102&epoch_end=1647694502&ifid=2&query_preset=&cli_ip=192.168.88.238%3Beq&srv_ip=192.168.88.250%3Beq&cli_port=38664%3Beq&srv_port=22%3Beq
last 30min: http://192.168.88.238:3000/lua/pro/db_search.lua?epoch_begin=1647693734&epoch_end=1647695534&ifid=2&query_preset=&cli_ip=192.168.88.238%3Beq&srv_ip=192.

[2022-03-19 13:16] martinscheu commented on #6448
config file, interfaces
-i=eno1
-i=syslog://*:5514
-i=usb-eth0

[2022-03-19 13:19] martinscheu commented on #6448
SQL query alert page:  SELECT 4 entity_id, (toUnixTimestamp(tstamp_end) - toUnixTimestamp(tstamp)) duration, * FROM `flow_alerts` WHERE (first_seen >= 1647691985 AND first_seen <= 1647693785) AND ( alert_status = 0 ) AND (interface_id = 2) AND (severity >= 5)  ORDER BY tstamp desc LIMIT 200 OFFSET 0

SQL query historical flow, when pivoting: SELECT PROTOCOL, L7_PROTO, L7_PROTO_MASTER, SCORE, PACKE

[2022-03-19 15:40] martinscheu opened #6449 "Alerts page details of warnings or notices are not displayed"
**Environment**:
* OS name: [e.g. Ubuntu] Ubuntu
* OS version: [e.g. 18.04] 20.04
* Architecture: [e.g. amd64] x86_64
* ntopng version/revision: [e.g. 5.1.211223] ntopng Enterprise L v.5.3.220318 (Ubuntu 20.04.4 LTS) |

**What happened**:
When trying to view infos of an Warning or Notice an error is diplayed:
<img width="1598" alt="Screenshot 2022-03-19 at 16 37 58" src="https://user-images.github

[2022-03-19 15:47] martinscheu opened #6450 "Downloaded pcap file is empty"
**Environment**:
* OS name: [e.g. Ubuntu] Ubuntu
* OS version: [e.g. 18.04] 20.04
* Architecture: [e.g. amd64] x86_64
* ntopng version/revision: [e.g. 5.1.211223] ntopng Enterprise L v.5.3.220318 (Ubuntu 20.04.4 LTS) |

**What happened**:
In historical flow explorer:

![image](https://user-images.githubusercontent.com/38549755/159127979-4be348bd-c920-4db3-bc00-a9f11a1ab12c.png)

SELECT PROTOCOL, L

[2022-03-19 16:11] martinscheu opened #6451 "Network discovery document used protocols"
**What would you like to add or change?**:
Know the used protocols / services used in the network discovery mode in order to define if traffic is from discovery or it is other traffic.
Not sure if the network traffic from the discovery could be labeled / tagged in order to recognize it when monitoring it?

**Why do you and others need this?**:

[2022-03-19 16:16] martinscheu opened #6452 "Discovered devices ability to edit information"
**What would you like to add or change?**:
The discovered devices page might not show all data. It would be helpful that the page could be edited to add missing information:
![image](https://user-images.githubusercontent.com/38549755/159129223-f26c48ca-cd70-49ee-a634-9f2cfb0fe0e6.png)

**Why do you and others need this?**:

[2022-03-21 05:38] Haldir31 opened #6453 "macOS - Thunderbolt interface not displayed"
Environment:
OS: macOS 12.3 21E230
Version: 5.3.220313 (MacOSX 10.13.6)

What would you like to add or change?:
Interface menu displays only the ethernet (en0) and wifi (en1) interface but not any additional interface provided by thunderbolt. Interface is listed under **en6** using terminal.

Why do you and others need this?:

[2022-03-21 08:17] Niklasr69 commented on #5978
Is it possible to add the real interface also in the filter part?
I.E after the SNMP ID the real interface name is showed (same as in table).

![image](https://user-images.githubusercontent.com/26242302/159224812-8da5df44-4913-45e6-8f02-43d27c3d75fc.png)

[2022-03-21 09:00] Niklasr69 commented on #6299
looks very nice.
Need to check a bit more before closing the issue.

[2022-03-21 09:00] #6423 closed, assigned to uccidibuti, MatteoBiscosi

[2022-03-21 09:04] AnhTuanNguyenn commented on #6412
@lucaderi you can help me check pls

[2022-03-21 09:19] lucaderi commented on #6453
Can you do ifconfig en6 and report?

[2022-03-21 09:55] #6430 closed, assigned to uccidibuti, MatteoBiscosi

[2022-03-21 10:04] #6414 closed, assigned to uccidibuti

[2022-03-21 10:22] cardigliano commented on #6449
This is related to #6448 (timestamp issue)

[2022-03-21 10:57] cardigliano commented on #6448
It is likely be5bf4e479d99f86dd40590dc8a95fb42850ad0c will fix this (however I was not able to reproduce the same issue on my installation)

[2022-03-21 10:57] cardigliano commented on #6449
It is likely be5bf4e479d99f86dd40590dc8a95fb42850ad0c will fix this (however I was not able to reproduce the same issue on my installation)

[2022-03-21 11:20] cardigliano commented on #6419
The Client Name is selected here when clicking on an IPv6, this should no longer happen now

[2022-03-21 11:22] cardigliano commented on #6450
Seems to be related to #6448 It is likely https://github.com/ntop/ntopng/commit/be5bf4e479d99f86dd40590dc8a95fb42850ad0c will fix this (however I was not able to reproduce the same issue on my installation)

[2022-03-21 11:53] lucaderi opened #6454 "Missing Blacklisted Host in Alerts"
In Host, Flows...
![image](https://user-images.githubusercontent.com/4493366/159255915-7795b722-a114-44ab-bd8f-cdb82723656f.png)
in Alerts
![image](https://user-images.githubusercontent.com/4493366/159255741-dead70e3-0f10-4379-ada0-42a09ee8dd3f.png)

[2022-03-21 12:25] Syl4r-v commented on #6443
I sent you logs via email @MatteoBiscosi

[2022-03-21 12:29] MatteoBiscosi commented on #6396
Hi @ListenNjoy try to update and let me know if now it's working please. With the latest patch in my lab the issue was fixed

[2022-03-21 14:11] lucaderi opened #6455 "Invalid Traffic Reported from Stdin"
Starting ntopng on top of an Interface (e.g. ntopng -i en3) shows
![Screen Shot 2022-03-21 at 15 09 28](https://user-images.githubusercontent.com/4493366/159278967-011fcfc7-3462-4ccb-9421-19ef8dd1c741.png)

whereas on top of stdin on the same interface (e.g. tcpdump -i en3 -n -w - | ./ntopng -i -) it shows
![Screen Shot 2022-03-21 at 15 08 46](https://user-images.githubusercontent.com/4493366/1592

[2022-03-21 14:14] martinscheu opened #6456 "Checks option historical alerts only"
**What would you like to add or change?**:
Current Checks create lots of alerts in a production system, too many to make use of it.
Disabling check is also not an option, as then I would miss important information. Exclude hosts in the Checks neither.

In order to reduce the number of alerts it would be helpful to have an option on each check like "historical alerts only", means no alert is trigge

[2022-03-21 14:56] MatteoBiscosi commented on #6443
Hi @Syl4r-v I've seen the log you sent, but everything seems alright except for a warning, could you please send me the ntopng.conf file? (still via mail)

[2022-03-21 17:21] lucaderi opened #6457 "Missing nProbe Information When Using Views"
When collecting flows with views you get

![Screen Shot 2022-03-21 at 18 17 56](https://user-images.githubusercontent.com/4493366/159328375-152ac415-ea8c-4a9d-8ed2-b47a756058ff.png)

instead of
![Screen Shot 2022-03-21 at 18 20 24](https://user-images.githubusercontent.com/4493366/159328816-f50e87a9-c9f5-40d4-93d5-5c6eb3713731.png)

when views are not used.

You can reproduce this issue on 194...

[2022-03-21 20:42] lucaderi commented on #6412
I believe the client app is not installed where it is expected. I have updated the code so in case of error in a addition to the string you reported, there is also the binary path of clickhouse-client that cannot be found. Please update and report.

[2022-03-22 05:25] Haldir31 commented on #6453
en6: flags=8863<UP,BROADCAST,SMART,RUNNING,SIMPLEX,MULTICAST> mtu 1500
	options=467<RXCSUM,TXCSUM,VLAN_MTU,TSO4,TSO6,CHANNEL_IO>
	ether 24:5e:be:4e:25:85
	inet6 fe80::10d3:b1f0:b90c:eaf4%en6 prefixlen 64 secured scopeid 0x16
	inet6 2a01:xx:xx:xx:xx:xx:xx:xx prefixlen 64 autoconf secured
	inet6 2a01:xx:xx:xx:xx:xx:xx:xx prefixlen 64 autoconf temporary
	inet 192.168.1.3 netmask 0xffffff00 broadcast

[2022-03-22 07:13] ListenNjoy commented on #6396
Sorry to say but i still get error and only {action} button.

Error below

22/Mar/2022 08:08:38 [LuaEngine.cpp:1254] WARNING Script failure [/usr/share/ntopng/scripts/lua/get_check_config.lua][/usr/share/ntopng/scripts/lua/modules/alert_exclusions.lua:240: attempt to index a nil value (local 't')]

[2022-03-22 08:11] martinscheu opened #6458 "Alert Application on Non-Standard Port false positive"
**Environment**:
* OS name: [e.g. Ubuntu] Ubuntu
* OS version: [e.g. 18.04] 20.04
* Architecture: [e.g. amd64] amd64
* ntopng version/revision: [e.g. 5.1.211223] ntopng Enterprise L v.5.3.220321 (Ubuntu 20.04.4 LTS) |

**What happened**:
The check "Application on Non-Standard Port" alerts even when the port and protocol is listed in the protos.txt

<img width="1159" alt="Screenshot 2022-03-22 at 0

[2022-03-22 08:33] lucaderi opened #6459 "Invalid VLAN 0"
In service map please modify the label "VLAN 0" to "Untagged" or "No VLAN" as VLAN 0 does not exist
![Screen Shot 2022-03-22 at 09 32 31](https://user-images.githubusercontent.com/4493366/159439704-0e3da22a-8967-4ee0-b705-c3924a0d928e.png)

[2022-03-22 08:35] lucaderi opened #6460 "Add a Networks Menu in Service and Periodicity Maps"
![image](https://user-images.githubusercontent.com/4493366/159439820-9da4a0da-ab26-4dca-88b5-08f704538b74.png)

On large installations, navigating networks can be difficult: please add a new menu for filtering hosts based on their network (i.e. cluster hosts similar to what happens on Hosts -> Networks

[2022-03-22 09:47] AnhTuanNguyenn commented on #6412
hello @lucaderi, thank for your return,

i removed ntopng and re-install new update, i got this error:

22/Mar/2022 10:44:49 [Prefs.cpp:1406] WARNING: -F clickhouse is not available (ClickHouse client not found)
22/Mar/2022 10:44:49 [Prefs.cpp:1407] WARNING: Expected /usr/local/bin/clickhouse-client

hope that can help you resolved this problem :)

[2022-03-22 10:01] lucaderi commented on #6412
type ls -l /usr/local/bin/clickhouse-client
and report

[2022-03-22 10:39] AnhTuanNguyenn commented on #6412
ls -l /usr/local/bin/clickhouse-client
ls: /usr/local/bin/clickhouse-client: No such file or directory

i check in /usr/local/bin/ i got this :
[2.6.0-RELEASE][admin@pfSense01]/root: cd /usr/local/bin/
[2.6.0-RELEASE][admin@pfSense01]/usr/local/bin: click
clickhouse                     clickhouse-extract-from-config clickhouse-local
clickhouse-benchmark           clickhouse-format              cli

[2022-03-22 11:28] MatteoBiscosi commented on #6457
Removed from the view interface like discussed

[2022-03-22 11:30] MatteoBiscosi commented on #6443
Like said via mail, currently this problem is not fixable in the stable version, the only way to fix it is to migrate to the dev version, due to some changes we did to ClickHouse in the dev version this issue is solved.
The issue is created by the huge quantity of log produced by ClickHouse into the `/ntopng/tmp` folder

[2022-03-22 11:30] #6443 closed, assigned to nobody

[2022-03-22 12:24] lucaderi commented on #6412
So this is your problem. Unless  /usr/local/bin/clickhouse-client is present with this ***exact*** path, ClickHouse won't work

[2022-03-22 12:24] #6412 closed, assigned to nobody

[2022-03-22 12:25] lucaderi commented on #6231
Verified as fixed

[2022-03-22 12:25] #6231 closed, assigned to MatteoBiscosi

[2022-03-22 20:45] lucaderi opened #6461 "Score Sort Doesn't Work in Networks"
![image](https://user-images.githubusercontent.com/4493366/159572695-09433671-2517-4b3d-a055-fcf4ee246e57.png)

Also, note that the score column is not formatted properly (e.g 2137 instead of 2'137)

[2022-03-22 21:00] lucaderi opened #6462 "Invalid Alert Format"
![image](https://user-images.githubusercontent.com/4493366/159574967-bda16ec6-ac5c-46f7-b9ac-18d93607da97.png)

issues
- some fields are super long and need to be cut
- the first column wraps
- the certificate duration is not formatted as with live flows
- the TLS version needs to be mapped (771 means nothing)

[2022-03-22 21:06] lucaderi opened #6463 "Missing Host IP Address"
![Screen Shot 2022-03-22 at 22 03 32](https://user-images.githubusercontent.com/4493366/159575687-a07c8ef8-202b-4d91-847e-e9735a13e756.png)

This format does not show the real hostname under xvideos.com but only his symbolic name. This prevents the analyzer to find out what is the IP address and thus searching it in DBs.

This is to request the real IP to be shown along with the name (if present).

[2022-03-22 21:55] lucaderi opened #6464 "Inconsistent DNS formatting"
This is a correct DNS formatting
![Screen Shot 2022-03-22 at 22 52 25](https://user-images.githubusercontent.com/4493366/159582587-3214a351-bf07-43db-86d8-a9759d53c02f.png)
this is an invalid one with duplicated fields unformatted consistently
![image](https://user-images.githubusercontent.com/4493366/159582672-af52eca6-a503-4e13-8d29-74a059661f51.png)

Please split the "Format Related info" into

[2022-03-22 21:55] lucaderi commented on #6424
Almost working See #6464

[2022-03-22 21:55] #6424 closed, assigned to MatteoBiscosi

[2022-03-22 21:57] lucaderi commented on #6413
![Screen Shot 2022-03-22 at 22 57 04](https://user-images.githubusercontent.com/4493366/159583094-afb8dc97-6033-4b32-872d-bcca0da548c4.png)

After the last changes no suggestion is reported. Please check one more time.

[2022-03-22 21:59] lucaderi commented on #6438
Verified as fixed

[2022-03-22 21:59] #6438 closed, assigned to MatteoBiscosi

[2022-03-22 22:03] lucaderi commented on #6425
Verified as fixed

[2022-03-22 22:03] lucaderi commented on #6431
Verified as fixed

[2022-03-22 22:03] #6431 closed, assigned to MatteoBiscosi

[2022-03-22 22:03] #6425 closed, assigned to MatteoBiscosi

[2022-03-22 22:04] lucaderi commented on #6445
Verified as fixed

[2022-03-22 22:04] #6445 closed, assigned to MatteoBiscosi

[2022-03-22 22:04] lucaderi commented on #6457
Verified as fixed

[2022-03-22 22:04] #6457 closed, assigned to MatteoBiscosi

[2022-03-22 22:06] lucaderi commented on #6419
Verified as fixed

[2022-03-22 22:06] #6419 closed, assigned to uccidibuti

[2022-03-22 22:07] lucaderi commented on #6365
Seems to work

[2022-03-22 22:07] #6365 closed, assigned to MatteoBiscosi

[2022-03-23 14:02] ListenNjoy commented on #6396
I have tested to reset ntopng on a test server with the same error, with the command: redis-cli -n ntopng.conf flushdb, and after this the edit alert option is working.

Is there a way to only reset the alerts config in ntopng so we dont lose all setting and timeseries.?

[2022-03-23 15:02] MatteoBiscosi commented on #6459
Fixed, pro repo

[2022-03-23 15:16] MatteoBiscosi commented on #6463
Added Cli/Srv ip using the standard format
![Screenshot from 2022-03-23 16-16-00](https://user-images.githubusercontent.com/49585191/159732960-a5793cf9-eb99-4691-a4be-c07c6a0f5897.png)

[2022-03-23 16:13] cardigliano commented on #6294
PCAP download (direct or scheduled) from Historical Flows Explorer, honouring the selected filters,  has been implemented and tested

[2022-03-23 16:13] #6294 closed, assigned to cardigliano, uccidibuti

[2022-03-23 17:20] lucaderi opened #6465 "List Alerted Flows in Networks and ASs"
Currently, the number of alerting flows is global. but on a large network, it would be great to have it split per network and AS for instance. This is to request to extend the network and AS pages and add a new sortable column with the list of alerted flows for such network/AS

[2022-03-23 17:23] lucaderi opened #6466 "Cluster Alerts to Ease Analysis"
On networks with many alerted flows it is complicated to understand what are the top X alerts unless they are grouped per criteria. For instance, if there are many blacklisted flows it would be nice what is the top blacklisted client or the top host targeted by blacklisted hosts.

A possible option is to add a new "key" column in the flow alert database that could be used to "group by" alerts with

[2022-03-23 17:26] lucaderi opened #6467 "Implement Flow Alert Acknowledging instead of Disabling the Check"
Currently, it is possible to silence alerts by means of exceptions that prevent the alert from being generated. Some users prefer to
"auto acknowedge" the alert instead, so that they are not lost but that do not compare in the list of flow alerts.

[2022-03-23 17:37] lucaderi commented on #6388
We have updated a new package that contains various leak fixes should address your problem. Please update

[2022-03-23 17:37] #6388 closed, assigned to nobody

[2022-03-23 17:46] lucaderi opened #6468 "Avoid ClickHouse to Fill Up the Disk"
ClickHouse is a fast database, but if the rate it can import fresh data (e.g. flows) exceeds the rate at which flows are produced, the result is that the disk is quickly filled up. In this case, it is better to drop alerts rather than to produce these issues.

This is to request to implement a mechanism to avoid this problem to happen and eventually report an alert in case of high pressure on the

[2022-03-23 17:56] lucaderi commented on #6463
Verified as fixed

[2022-03-23 17:56] #6463 closed, assigned to MatteoBiscosi

[2022-03-23 17:57] lucaderi commented on #6461
Sorting is fixed, formatting is not.

[2022-03-23 17:58] lucaderi commented on #6462
Verified as fixed

[2022-03-23 17:58] #6462 closed, assigned to MatteoBiscosi

[2022-03-23 17:59] lucaderi commented on #6464
Verified as fixed

[2022-03-23 17:59] #6464 closed, assigned to MatteoBiscosi

[2022-03-23 18:13] lucaderi commented on #6420
The host page (you can test this with sFlow) is not yet formatting SNMP interface information as expected
![Screen Shot 2022-03-23 at 19 12 40](https://user-images.githubusercontent.com/4493366/159767743-ff7df859-fde9-42e6-b8c8-a2702f5586bd.png)

[2022-03-23 18:17] lucaderi opened #6469 "The Service Map does not show VLANs with ZMQ"
The service map shows this info

![Screen Shot 2022-03-23 at 19 15 41](https://user-images.githubusercontent.com/4493366/159768284-17218a7c-7edf-4c69-80ee-504f28e73987.png)

without showing the VLAN menu in case of ZMQ (ok with physical interfaces)

![Screen Shot 2022-03-23 at 19 15 49](https://user-images.githubusercontent.com/4493366/159768280-4ac7ec70-4854-4aa4-9bc5-aa3ad770af40.png)

[2022-03-23 18:18] lucaderi commented on #6469
Invalid sorry

[2022-03-23 18:18] #6469 closed, assigned to nobody

[2022-03-23 18:18] lucaderi commented on #6459
Verified as fixed

[2022-03-23 18:18] #6459 closed, assigned to uccidibuti, MatteoBiscosi

[2022-03-23 18:20] lucaderi opened #6470 "Service Map does not work with VLANs"
When in the service map we click on a host the following URL is produced

/lua/pro/enterprise/service_map.lua?page=graph&host=1.2.3.4@4&vlan=4&unicast_only=false&only_memory=false&only_alerted_hosts=false

instead of

/lua/pro/enterprise/service_map.lua?page=graph&host=1.2.3.4&vlan=4&unicast_only=false&only_memory=false&only_alerted_hosts=false

and this results on an empty map

[2022-03-24 10:33] MatteoBiscosi opened #6471 "No more working service/periodicity map icons"
After migrating to webpack, personalized icons are no more working
![Screenshot from 2022-03-24 11-32-33](https://user-images.githubusercontent.com/49585191/159897761-7e4d4b2c-4382-4667-a2c2-02a42d80878e.png)

[2022-03-24 16:58] lucaderi opened #6472 "Historical Flows: Add Country Filtering"
Please add the ability to filter historical flows by country

[2022-03-24 16:59] lucaderi opened #6473 "Alerts: Add Country Filtering"
Same as #6472 but for Alerts

We need to modify the database in order to accommodate country information.

[2022-03-25 17:03] cardigliano opened #6474 "Buggy datatable footer in the SNMP cnfiguration page"
"Showing {0} to {1} of {2} rows"

<img width="593" alt="Screen Shot 2022-03-25 at 18 02 19" src="https://user-images.githubusercontent.com/7548711/160167449-f218931b-268b-49d3-8b05-b63b91b51fd8.png">

[2022-03-26 08:02] lucaderi opened #6475 "Improve Exporter IP Flow Layout"
a) The column below must be named Exporter IP

![image](https://user-images.githubusercontent.com/4493366/160230594-0d64dc7d-1105-47e2-a150-6579197c6731.png)

b) Column sort does not work.

c) Interfaces information is present in flows but the interfaces columns are empty

![Screen Shot 2022-03-26 at 09 04 48](https://user-images.githubusercontent.com/4493366/160230667-7b8e3b81-2448-47d9-94dd-ca5e

[2022-03-26 08:04] lucaderi commented on #6453
So if you do "ntopng -i en6" what happens?

[2022-03-28 05:44] MatteoBiscosi commented on #6396
Hi @ListenNjoy, you have to go here and reset the checks
![Screenshot from 2022-03-28 07-43-57](https://user-images.githubusercontent.com/49585191/160333783-45359781-9265-467e-bf44-0f2e9e634803.png)

[2022-03-28 08:20] lucaderi opened #6476 "SNMP Delete Alerts is Broken"
![Screenshot 2022-03-28 at 10 19 56](https://user-images.githubusercontent.com/4493366/160356419-7ca69f52-0309-4651-a0a2-4c72315650a9.png)

[2022-03-28 08:23] lucaderi opened #6477 "Enhance SNMP Layout"
![Screenshot 2022-03-28 at 10 20 40](https://user-images.githubusercontent.com/4493366/160356508-b16697a0-a8c6-4040-9180-27913d3491f4.png)

1. Columns Device IP and Interface Id are not clickable

2. Message "Seen on Device...." is wrong

3. Shorten  "SNMP Interface MAC Changed" to "MAC Port Changed"

[2022-03-28 08:30] cardigliano commented on #6477
4. Shorten "Interface Id" to "If Id"
5. Add SNMP and AM alerts to all interfaces

[2022-03-28 09:15] Niklasr69 commented on #6265
any date for this feature?

[2022-03-28 09:43] cardigliano commented on #6477
1, 2, 4 has been implemented

[2022-03-28 10:33] lucaderi opened #6478 "Broken MAC Address Sorting in SNMP"
![Screenshot 2022-03-28 at 12 32 09](https://user-images.githubusercontent.com/4493366/160380018-6fb0b08a-3992-4edf-a5ee-8a558d0a3f56.png)

[2022-03-28 13:04] cardigliano commented on #6477
5 has been implemented

[2022-03-28 14:14] yavuzaydin commented on #6295
We experience the same on Debian 11, here is the relevant output of ntopng --version:
Version:        5.2.220326 [Enterprise/Professional build]
GIT rev:        5.2-stable:105b301435a52a78e43c3b19c8d85a44dc103298:20220326
Pro rev:        r4750
Built on:       Debian GNU/Linux 11 (bullseye)
Platform:       x86_64
Edition:        Enterprise L (Bundle)

[2022-03-28 14:24] cardigliano commented on #6477
As of 2, it seems alert_type_params.prev_seen_device and alert_type_params.prev_seen_port are set to a bad value when generating the alert in pro/scripts/lua/modules/check_definitions/snmp_device/snmp_device_interface_mac_changed.lua

[2022-03-28 14:40] ListenNjoy commented on #6396
Thanks for this all is working after reset of checks setting and now everything works as i should.

[2022-03-28 14:40] #6396 closed, assigned to MatteoBiscosi

[2022-03-28 15:14] cardigliano commented on #6295
@yavuzaydin are you able to provide access to your system for debugging perhaps?

[2022-03-28 15:29] yavuzaydin commented on #6295
Yes this is possible if you send me an e-mail with your public key.

[2022-03-28 15:31] cardigliano commented on #6295
Please send a direct email to cardigliano at ntop.org

[2022-03-28 19:17] lucaderi commented on #6474
Verified as fixed

[2022-03-28 19:17] #6474 closed, assigned to MatteoBiscosi

[2022-03-28 19:25] lucaderi commented on #6477
Verified as fixed

[2022-03-28 19:25] #6477 closed, assigned to cardigliano

[2022-03-28 19:27] lucaderi commented on #6475
Issues a/b/c are fixed, issue d) is still pending

[2022-03-28 19:28] lucaderi commented on #6470
Verified as fixed

[2022-03-28 19:28] #6470 closed, assigned to nobody

[2022-03-28 19:29] lucaderi commented on #6461
Verified as fixed

[2022-03-28 19:29] #6461 closed, assigned to MatteoBiscosi

[2022-03-28 19:30] lucaderi commented on #6472
Verified as fixed

[2022-03-28 19:30] #6472 closed, assigned to cardigliano

[2022-03-28 19:31] lucaderi commented on #6473
Verified as fixed

[2022-03-28 19:31] #6473 closed, assigned to cardigliano

[2022-03-28 19:32] lucaderi commented on #6450
Works for me

[2022-03-28 19:32] #6450 closed, assigned to cardigliano

[2022-03-28 19:33] lucaderi commented on #6449
Verified as fixed

[2022-03-28 19:33] #6449 closed, assigned to cardigliano

[2022-03-28 19:35] lucaderi commented on #6448
Verified as fixed

[2022-03-28 19:35] #6448 closed, assigned to cardigliano

[2022-03-28 19:37] lucaderi commented on #6447
Verified as fixed

[2022-03-28 19:37] lucaderi commented on #6446
Verified as fixed

[2022-03-28 19:37] #6446 closed, assigned to uccidibuti

[2022-03-28 19:37] #6447 closed, assigned to uccidibuti

[2022-03-28 19:38] lucaderi commented on #6413
Verified as fixed

[2022-03-28 19:38] #6413 closed, assigned to cardigliano

[2022-03-28 19:38] lucaderi commented on #6299
Verified as fixed

[2022-03-28 19:38] #6299 closed, assigned to cardigliano

[2022-03-29 03:34] hdsjahuen opened #6479 "The customer purchased a license for ntopng and was informed that the license was not available."
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]

**What happened**:

**What did you expect to happen?**

**How did you reproduce it?**

**Debug Information**:

The customer purchased a license for ntopng and was informed that the license was not available. Exclusions have been made as per this blog:https

[2022-03-29 07:07] lucaderi commented on #6479
Your license does not match the systemId
License Type: Time-Limited [License mismatch (check systemId or product version)]

and L68BDE39476066B23--U68BDE394E52E04D0--OL is not in our DB. So there is something wrong happening. Please see https://www.ntop.org/support/kb/how-can-i-move-a-license-to-a-new-server/ in case you are moving the license from another host

[2022-03-29 07:07] #6479 closed, assigned to nobody

[2022-03-29 09:23] lucaderi commented on #6475
Verified as fixed

[2022-03-29 09:23] #6475 closed, assigned to uccidibuti

[2022-03-29 09:35] martinscheu opened #6480 "Advanced data analytics"
**What would you like to add or change?**:
Certain Checks give high level information to the analyst, e.g. scan detected:
![image](https://user-images.githubusercontent.com/38549755/160581042-8830f668-8991-4125-a659-d9f0d02a3a10.png)

To further investigate what / who scanned the host, it would be very helpful to have the search query for historical flow automatically generated.
I click on "Action

[2022-03-29 10:28] lucaderi commented on #6478
Verified as fixed

[2022-03-29 10:28] #6478 closed, assigned to uccidibuti, MatteoBiscosi

[2022-03-29 11:11] MatteoBiscosi commented on #6471
Fixed, pro repo

[2022-03-29 11:11] #6471 closed, assigned to MatteoBiscosi

[2022-03-29 11:55] robertogalvanuni opened #6481 "Live Flow is not working"
**Environment**:
* OS name: [(CentOS Linux release
* OS version: 7.9.2009 (Core)
* Architecture: x86_64
* ntopng version/revision: ntopng Community v.5.3.220329

**What happened**:

When I press on Flows - Live, the screen doesn't show it:

![image](https://user-images.githubusercontent.com/102580047/160605539-5145ec77-a6b5-4272-b823-8bc5b821e1cf.png)

**What did you expect to happen?**

Show Flow

[2022-03-29 12:40] lucaderi commented on #6392
Verified as fixed

[2022-03-29 12:40] #6392 closed, assigned to MatteoBiscosi

[2022-03-29 18:33] lucaderi opened #6482 "Errors during startup with sanitiser"
29/Mar/2022 20:32:16 [LuaEngineInterface.cpp:3862] WARNING: Bad context for interface 1
29/Mar/2022 20:32:16 [OtherAlertableEntity.cpp:64] ERROR: setEntityValue() not called or empty entity_val

[2022-03-29 21:46] samcrang commented on #6481
I had this problem too but it looks as though updating to the latest package available fixed this (I am on Debian though):

[code]

[2022-03-30 05:27] robertogalvanuni commented on #6481
Hello Samcrang,

Thanks for your reply.

I tried to update, uninstall, delete folders,.... but I finally fixed it commenting the line 16 in the file /usr/share/ntopng/scripts/lua/get_flows_data.lua

I put:

--local snmp_cached_dev = require "snmp_cached_dev"

Now is working properly.

Thanks for your help!

[2022-03-30 08:28] MatteoBiscosi commented on #6481
Hi @robertogalvanuni sorry for the trouble, I pushed a fix right now, in a couple of hours a new build is going to be available

[2022-03-30 08:36] cardigliano commented on #6482
I added more info to the message to debug this

[2022-03-30 09:58] MatteoBiscosi commented on #6363
Closing for inactivity

[2022-03-30 09:58] #6363 closed, assigned to nobody

[2022-03-30 14:27] basicmonkey opened #6483 "Dashboard AJAX requests running very slowly"
**Environment**:
Ubuntu 20.04.4 amd64
ntopng Enterprise M v.5.3.220330
Clickhouse flow recording
3x Remote nProbe instances

**What happened**:
Login page to dashboard opens instantly. Dashboard refresh runs very slowly. Using Chrome inspector, I can see AJAX requests to talkers take 15-20 seconds.

Seems like the same issue at: https://github.com/ntop/ntopng/issues/6373

**What did you expect to

[2022-03-30 14:45] cardigliano opened #6484 "Filter on Unknown does not work in historical flows"
Filters on the application protocols are working in the historical flows, exception made for the Unknown application

[2022-03-30 14:47] cardigliano opened #6485 "Handle continuous recording in disaggregated interfaces"
1. The ability to start continuous recording should be removed from the disaggregated interface as it should be enabled on the main interface
2. the sub interface should be able to extract traffic from the n2disk instance configured in the main interface (applying a filter whenever possible, e.g. when disaggregating per vlan)

[2022-03-30 14:48] cardigliano opened #6486 "PCAP download dialog does not handle the time zone correctly"
It seems that the PCAP download dialog in the Historical page does not account time zone (or the delta is wrong) when printing the time interval in the dialog

[2022-03-31 09:20] cardigliano commented on #6418
Pool and Network information are shown, and filters are working.
However, click on the pool and network for adding filters is not yet supported.

[2022-03-31 14:54] MatteoBiscosi opened #6487 "Service/Periodicity Maps are Slow"
In huge networks, service/periodicity maps are slow; the problem is related to the huge quantity of data given from the back end to the front end, slowing the representation of the map in the browser.
This problem is both for the table and for the chart format

[2022-03-31 15:40] cardigliano commented on #6485
Implemented in 7e84a6afdb0096c5449da0e9275b7bb3592a5c91 712075c958cbf1393b1efe83c00a1127d91b823e 7613382929a86ef9a3041994be7a81e67468adb3

[2022-03-31 15:40] #6485 closed, assigned to cardigliano

[2022-03-31 15:50] lucaderi commented on #6487
This is to require
- il there are too many entries (e.g. 1000+) limit the map/table to an upper bound and add a warning to notify the user
-in the table view of the maps, numerical values don't have commas

[2022-03-31 15:56] lucaderi opened #6488 "Implement Profile comparison"
In the historical flow explorer (of the Enterprise L), add a new page that allows you to specify two
- VLANs
- Host pools
- Time period

and compare (as in the service Map) the tuples. For each tuple please add a counter for the number of hits for each entry

[2022-03-31 15:57] lucaderi opened #6489 "Enhance Fortigate Syslog"
In the syslog parsing add
- VDOM
- username
that have to be displayed in the ntopng website.

[2022-03-31 15:58] lucaderi opened #6490 "Service Map: Missing Edges Labels"
In the service map, the label over the edges is missing. It used to contain the list of protocols

[2022-03-31 16:27] cardigliano commented on #6484
Fixed in 669d8ee6118e6908aabe55ec99431c1ec40b8ccf

[2022-03-31 16:27] #6484 closed, assigned to cardigliano

[2022-04-02 22:36] awbl00 commented on #6388
Unfortunately memory usage is still an issue with the latest release. CPU usage is greatly improved over previous versions, but process memory usage slowly climbs from ~500MB to over 2GB while total used memory slowly climbs to max from < 4GB usage prior to starting the noting service.

[2022-04-03 15:55] lumarel opened #6491 "Rocky Linux not correctly handled in ntopng-utils-manage-updates"
**Environment**:
* OS name: Rocky Linux
* OS version: 8.5
* Architecture: x86_64
* ntopng version/revision: 5.3.220328-17343 (package from the EL8 repo)

**What happened**:

cron runs the ntopng-utils-manage-updates script every minute,
and produces a dpkg error every time it runs.

This happens due to line 57 not expecting "Rocky".

**What did you expect to happen?**

ntopng-utils-manage-updates

[2022-04-04 07:16] #6481 closed, assigned to MatteoBiscosi

[2022-04-04 09:54] #6319 closed, assigned to cardigliano, uccidibuti

[2022-04-05 07:32] lucaderi opened #6492 "Timezone Not in Sync with ntopng"
In the ntopng GUI, the timezone shown in the browser is not in sync with the ntopng server instance. Currently, data is reported in the timezone of the browser instead of being shown in the server timezone.

This needs to be fixed and the valid timezone is the server one. In ntop.getInfo() method all the timezone information is reported, however, if for some reason it is not present, the browser t

[2022-04-05 08:21] cardigliano commented on #6491
Fixed in dce7bbeebfb8ca30e896c2b4f8b4e7867f067d5d , please check the next build

[2022-04-05 09:05] cardigliano commented on #6295
It seems that migrating from nIndex to ClickHouse made memory utilization stable for the @yavuzaydin installation, still monitoring that.

[2022-04-05 11:19] Niklasr69 commented on #5953
The implementation works great.
The feature request can be closed.

[2022-04-05 11:21] Niklasr69 commented on #6017
All features are there now with clickhouse.
Can be closed.

[2022-04-05 11:21] #6017 closed, assigned to nobody

[2022-04-05 11:31] Niklasr69 commented on #6278
is it included in the daily build?

[2022-04-05 12:45] cardigliano opened #6493 "[nEdge] User Edit leads to corrupted page"
<img width="1562" alt="Screen Shot 2022-04-05 at 14 44 20" src="https://user-images.githubusercontent.com/7548711/161756334-3aeef9fd-4d6e-48ea-8e11-de51040d39d5.png">

[2022-04-05 14:05] cardigliano commented on #6493
Fixed

[2022-04-05 14:05] #6493 closed, assigned to nobody

[2022-04-06 01:16] victorvillatoro323 commented on #6326
Hi, I wanted to add a possible hint at what this is could be. I am also trying to understand how to view 5m interval for Statistics host details and I realized that '5m' appears only when I enable the use of influxdb timeseries database. If this does not help, I tried. GL.

[2022-04-06 05:52] OzSpots-Wireless opened #6494 "layer7 api doesn't get all"
**Environment**:
* OS name: [pFsense]
* ntopng version: [e.g. 5.3]

**What happened**:
this endpoint doesn't list all interface stats only around 5
/lua/rest/v2/get/interface/l7/stats.lua?ifid=3&ndpistats_mode=count"

`{"rc_str":"OK","rc":0,"rsp":[{"value":64,"url":"/lua/flows_stats.lua?application=DNS","label":"DNS"},{"value":48,"url":"/lua/flows_stats.lua?application=LLMNR","label":"LLMNR"},{"va

[2022-04-06 08:51] MatteoBiscosi commented on #6494
Hi @ozrouter thanks for your report i fixed the issue by adding some parameters like can be found in the doc.
Use `get_all_values=true` the get all the values (or `max_values={NUM_VALUES}` to get at most {NUM_VALUES}) and `collapse_stats` to not get the values with a value < 3% (bytes or flows) collapsed in the `Other` returned value.

In a couple of hours the new version with these fixes is going

[2022-04-06 09:57] MatteoBiscosi commented on #6490
Fixed, Enterprise version

[2022-04-06 12:17] N3S1 commented on #6295
We're experiencing the same issue on a redhat system:
Version:        5.2.220326 [Enterprise/Professional build]
GIT rev:        5.2-stable:105b301435a52a78e43c3b19c8d85a44dc103298:20220326
Pro rev:        r4750
Built on:       Rocky Linux release 8.5 (Green Obsidian)
Platform:       x86_64
Edition:        Enterprise L (Bundle)

Kernel:        4.18.0-348.20.1.el8_5.x86_64

**Migration from nIndex

[2022-04-06 16:32] lucaderi opened #6495 "Missing MAC URL in Maps"
![image](https://user-images.githubusercontent.com/4493366/162023272-7e5c5824-5019-4ef4-8a41-eb1ea9607a04.png)

[2022-04-06 17:08] lucaderi commented on #6495
Invalid. The MAC address is shown only when the host/MAC is in memory

[2022-04-06 17:08] #6495 closed, assigned to MatteoBiscosi

[2022-04-06 23:09] OzSpots-Wireless commented on #6494
whoa that was quick thanks!
I upgraded pfsense to v.5.3.220406 with `pkg install ntopng` but the files didn't change.

how can I get the latest? - edit: should I downgrade to the 5.2 shown on release page?

[2022-04-07 04:59] Niklasr69 commented on #5978
Any updates?

[2022-04-07 08:08] TimotheusBachinger commented on #6275
Hi Matteo,

I have now a pcap from the customer  - I will sent you the file via email, as it cannot be attached here.

Regards
Timi

[2022-04-07 10:46] MatteoBiscosi commented on #6330
Added the ability to create and edit non admin user with the ability to check historical flow page
![Screenshot from 2022-04-07 12-43-01](https://user-images.githubusercontent.com/49585191/162181806-c2de4853-40d3-41e8-a6b9-f14d82184635.png)

[2022-04-07 10:46] #6330 closed, assigned to MatteoBiscosi

[2022-04-07 14:29] mikulov commented on #6295
After last update, working stable for 10+ days. Thank you very much @cardigliano

<img width="1563" alt="Screenshot 2022-04-07 at 19 28 01" src="https://user-images.githubusercontent.com/26163961/162222791-4e3360ed-e7ff-46e9-bfb6-9a1649bf8825.png">

[2022-04-07 14:33] N3S1 commented on #6295
Dear @mikulov,
good to hear that you are not affected by the problem any more!

Could you tell us which version you're using, or give us the output of your "ntopng --version" command?

[2022-04-07 14:43] mikulov commented on #6295
Version:        5.3.220323 [Enterprise/Professional build]
GIT rev:        dev:70b630600521d7708d1ed212b62b31546b5487b1:20220323
Pro rev:        r4860
Built on:       Ubuntu 18.04.6 LTS
Platform:       x86_64
Edition:        Enterprise L (Bundle)

[2022-04-07 15:16] lucafwp opened #6496 "ClickHouse Data Retention not applied"
**Environment**:
* OS name: CentOS Linux
* OS version: 7.9.2009
* Architecture: amd64
* ntopng version/revision: 5.2.220217.220217

**What happened**:
Clickhouse data on disk are not deleted, once retention period, set in Data Retention option, is expired

**What did you expect to happen?**
Data should be delete to keep only the amount of days set in configuration.

[2022-04-07 15:39] lumarel commented on #6491
I can confirm, this fixed the issue!
Thank you very much for the fast response and fix 🎉

[2022-04-07 15:39] #6491 closed, assigned to cardigliano

[2022-04-07 16:48] #5953 closed, assigned to MatteoBiscosi

[2022-04-07 17:25] MatteoBiscosi commented on #6275
Hi @TimotheusBachinger thanks a lot, I was able to reproduce and add the mapping in ntopng. A new version should be available tomorrow morning for both dev and stable version.

[2022-04-08 06:48] TimotheusBachinger commented on #6275
Hi @MatteoBiscosi,

Thanks for the fast actions from your side! I'll let the customer know about the builds/fixes.

Regards
Timi

[2022-04-08 09:17] MatteoBiscosi commented on #6259
Hi @assegid14 please update and let me know. Now the latest version is ntopng 5.3.
Then let me know nprobe configuration and if you are able to see the data instead in ntopng web gui

[2022-04-08 14:43] lucaderi opened #6497 "Add SNMP Symbolic Hostname"
![Screen Shot 2022-04-08 at 16 41 31](https://user-images.githubusercontent.com/4493366/162460891-83a827c7-fb68-4090-91bf-0d8b23de3305.png)

In the above picture instead of reporting the numeric IP 192.168...this is to request to put the symbolic name when available. Example 192.168.1.2 (myhostname)

[2022-04-08 15:12] assegid14 commented on #6259
Dear @MatteoBiscosi,
Sorry for not updating the status in time. The issue were resolved after doing the following.

1.    Migrated from Windows to Linux
2.    Replaced Elasticsearch by Clickhouse DB.

Now, everything is working perfectly.

Thank you!

[2022-04-08 15:50] lucaderi commented on #6496
Can you please report the output of (inside clickhouse-client)

SELECT DISTINCT database, table, toUInt32(partition) drop_part FROM system.parts WHERE active AND database='ntopng';

[2022-04-08 15:53] cardigliano commented on #5978
This has been implemented (testing)
<img width="1191" alt="Screen Shot 2022-04-08 at 17 53 40" src="https://user-images.githubusercontent.com/7548711/162478340-0bcdf304-8f6c-4070-bfa5-0f58d686834b.png">

[2022-04-08 16:35] MatteoBiscosi commented on #6259
Glad to know!

[2022-04-08 16:35] #6259 closed, assigned to MatteoBiscosi

[2022-04-09 09:20] lucaderi opened #6498 "Append System Alerts Links on the Interface Alert Page"
System
![Screen Shot 2022-04-09 at 11 18 45](https://user-images.githubusercontent.com/4493366/162565244-dbc9d974-8036-4391-a61f-ea1bbd61c3f0.png)

Interface
![Screen Shot 2022-04-09 at 11 18 30](https://user-images.githubusercontent.com/4493366/162565246-ff4e4d4d-527a-46f0-826c-752d87975e18.png)

[2022-04-09 12:50] lucaderi opened #6499 "Missing Search Field from System Interface"
This is to restore the search field in the system interface as it is helpful to find MAC addresses across all the SNMP pages.

[2022-04-09 13:59] fastfire opened #6500 "Missing evidence in behavior analysis maps"
**What happened**:

I'm doing some tests with network behavior analysis. I gave a low learning time, one hour, to then be able to force a connection different from those learned by ntop, to check if it is then reported in the alert view.
This is the standard view, filtered on the traffic with FTP CONTROL protocol, relative to the network in which testing the behavior analysis:
![image](https://use

[2022-04-10 13:17] lucaderi opened #6501 "Setting custom names lowercase them"
Before Set
![Screen Shot 2022-04-10 at 15 16 16](https://user-images.githubusercontent.com/4493366/162620008-d5d50a55-ece5-4181-a16c-5a126c693321.png)

After
![Screen Shot 2022-04-10 at 15 16 30](https://user-images.githubusercontent.com/4493366/162620007-1c1418e0-a4f8-49f3-8e3e-c69f3ce0b84c.png)

Case is not preserved

[2022-04-11 06:25] lucafwp commented on #6496
Hi @lucaderi , here is the output:

SELECT DISTINCT
    database,
    table,
    toUInt32(partition) AS drop_part
FROM system.parts
WHERE active AND (database = 'ntopng')

Query id: 7efdaeb1-6668-4f66-9dda-addde30c9dec

┌─database─┬─table─┬─drop_part─┐
│ ntopng   │ flows │  20220405 │
│ ntopng   │ flows │  20220406 │
│ ntopng   │ flows │  20220407 │
│ ntopng   │ flows │  20220408 │
│ ntopng   │ fl

[2022-04-11 10:57] MatteoBiscosi commented on #6437
This problem seems to be related to nprobe, in fact for the packetInterface, ntopng already concat the server host name; instead for ZMQInterfaces ntopng have not the info required (host server name) and so it cannot add the server name

[2022-04-11 12:39] lucaderi commented on #6496
So the retention is 7 days, looks good to me.

[2022-04-11 13:06] MatteoBiscosi commented on #6500
Hi @fastfire could you please share your ntopng --version?
The alerted behavior analysis is temporarily removed from dev version, we are currently reworking it to have better performances and visibility.
Consider that the alerted view is the service/periodicity map with only the alerted flows. So if you have a flow in the service/periodicity map that is even alerted (you can check it in the Alerts

[2022-04-11 13:14] MatteoBiscosi commented on #6500
You should instead see a red arrow if a new Flow is going to appear in the Service Map after the learning period.
For new flow I mean a flow not seen before (with different Client, Server, Protocol or Server port)
![Screenshot from 2022-04-11 15-11-30](https://user-images.githubusercontent.com/49585191/162747060-eec4fe42-3511-4465-aebd-8c3a009d1e77.png)
![Screenshot from 2022-04-11 15-12-03](https

[2022-04-11 17:21] jackyaz opened #6502 "Script failure [/usr/local/share/ntopng/scripts/callbacks/system/discover.lua][attempt to attempt to a index a string value value a string value]"
**Environment**:
* OS name: pfSense
* OS version: CE 2.6.0 (FreeBSD 12.3)
* Architecture: amd64
* ntopng version/revision: v.5.0.220112

**What happened**:
ntopng appears to coredump when running network discovery. System log catches the below error
[code]
ntopng log shows this as the last action timestamped the same
[code]

[2022-04-11 17:23] jackyaz commented on #6502
Looks like the pfSense package is a bit older, which might be the problem

[2022-04-12 07:58] cardigliano commented on #6502
Please try updating to the latest version (5.3) which is available at https://packages.ntop.org/FreeBSD/FreeBSD:12:amd64/latest/
following the instructions at https://www.ntop.org/guides/ntopng/third_party_integrations/pfsense.html

[2022-04-12 08:06] #6502 closed, assigned to nobody

[2022-04-12 09:45] MatteoBiscosi commented on #6490
Added in SNMP map too

[2022-04-12 09:45] #6490 closed, assigned to MatteoBiscosi

[2022-04-12 09:46] MatteoBiscosi commented on #6494
Hi @ozrouter try to update and let me know. No downgrade is needed, ntopng 5.3 version is the dev one instead the 5.2 is the stable one and my fix is currently only for the dev one so the 5.3 version is right

[2022-04-12 09:47] #6275 closed, assigned to MatteoBiscosi

[2022-04-12 09:47] MatteoBiscosi commented on #4287
Added in the latest dev version

[2022-04-12 09:47] #4287 closed, assigned to MatteoBiscosi

[2022-04-12 09:50] MatteoBiscosi commented on #6483
Hi @basicmonkey in which page do you see this problem? Try to update to the latest ntopng version that we pushed a couple of fixes regarding this one. Are you using a VPN? because we saw that using a VPN sometimes slow a lot the ajax requests

[2022-04-12 09:54] MatteoBiscosi commented on #6311
Fixed in the latest version
![Screenshot from 2022-04-12 11-53-50](https://user-images.githubusercontent.com/49585191/162933718-2100b8ba-f437-4ae5-a9c2-16e73687e709.png)

[2022-04-12 10:00] MatteoBiscosi commented on #6397
Splitted CH and influx/RRD data retention, updated descriptions

[2022-04-12 10:06] lucaderi opened #6503 "Invalid throughout calculated in SNMP topology map"
![image](https://user-images.githubusercontent.com/4493366/162935982-99e2812d-62f0-4f02-904f-7f85a7850334.png)

[2022-04-12 10:10] lucaderi opened #6504 "Topology MACs must be hyperlink if present, strings otherwise"
![Screen Shot 2022-04-12 at 12 08 50](https://user-images.githubusercontent.com/4493366/162936874-ff9afa08-fa3a-467b-9dc2-abf777393047.png)

[2022-04-12 11:53] basicmonkey commented on #6483
Hi @MatteoBiscosi this is on all pages, even non data specific ones such as system_stats. I've upgraded to: [ntopng Enterprise M v.5.3.220412] and no change. All AJAX requests are around 10 seconds on system_stats.

dashboard.lua takes 20seconds to load and data.lua AJAX requests take about 10 seconds when in dashboard. I've disabled the probes to see if no data helps, still the same. talkers.lua

[2022-04-12 12:15] basicmonkey commented on #6483
Not over VPN either. Over ethernet, full size MTU etc.

[2022-04-12 13:59] yarik2720 opened #6505 "Unable to add fail2ban endpoint"
**Environment**:
* OS name: Ubuntu
* OS version: 20.04.4
* Architecture: amd64
* ntopng version/revision: Community v.5.3.220412

**What happened**:
Tried to add fail2ban endpoint as it was shown on guide. Fail2ban is successfully installed and used in system

**What did you expect to happen?**
In endpoint types there is no fail2ban type to add

**How did you reproduce it?**

**Debug Information**

[2022-04-12 16:37] AnhTuanNguyenn opened #6506 "NTOPNG can't connect CLICKHOUSE through command line in file config"
hello, i just installed ntopng ( 5.3.220325) on and i want to connect with an Clickhouse VM with command line in : _/usr/local/etc/ntopng/ntopng.conf_

as simple line : -F="clickhouse;IP@9004;ntopng;default;MyPassword"

that seem all work but when i check system on interface ntopng i got this error:
![Capture](https://user-images.githubusercontent.com/24913199/163011101-bc9fbbee-079c-474f-945e-d67

[2022-04-12 18:31] lucaderi commented on #6503
Verified as fixed

[2022-04-12 18:31] #6503 closed, assigned to MatteoBiscosi

[2022-04-12 18:34] lucaderi commented on #6506
Can you please execute on shell the above command "cat ...." and report ?

clickhouse-client uses port 9000, 9004 is used for queries. So port 9000 and 9004 must be open.

[2022-04-12 18:36] lucaderi commented on #6499
In case of no match the usual "No match found" message is not shown
![image](https://user-images.githubusercontent.com/4493366/163030358-b6471185-6902-40c5-8f47-d24562003c2b.png)

[2022-04-12 18:36] lucaderi commented on #6476
Verified as fixed

[2022-04-12 18:36] #6476 closed, assigned to MatteoBiscosi

[2022-04-12 18:44] lucaderi commented on #6311
Verified as fixed

[2022-04-12 18:44] #6311 closed, assigned to MatteoBiscosi

[2022-04-12 18:44] lucaderi commented on #6487
Verified as fixed

[2022-04-12 18:44] #6487 closed, assigned to lucaderi, MatteoBiscosi

[2022-04-12 18:45] lucaderi commented on #6418
Verified as fixed

[2022-04-12 18:45] #6418 closed, assigned to cardigliano, uccidibuti

[2022-04-12 18:45] lucaderi commented on #6454
Verified as fixed

[2022-04-12 18:45] #6454 closed, assigned to MatteoBiscosi

[2022-04-12 18:46] lucaderi commented on #6322
Verified as fixed

[2022-04-12 18:46] #6322 closed, assigned to MatteoBiscosi

[2022-04-12 18:46] lucaderi commented on #6415
Verified as fixed

[2022-04-12 18:46] #6415 closed, assigned to uccidibuti

[2022-04-12 18:53] #6420 closed, assigned to MatteoBiscosi

[2022-04-12 18:56] lucaderi commented on #6501
Verified as fixed

[2022-04-12 18:56] #6501 closed, assigned to MatteoBiscosi

[2022-04-12 18:58] lucaderi opened #6507 "Missing Preferences Search"
This is to request to restore the search box that used to be present in previous ntopng versions.

![image](https://user-images.githubusercontent.com/4493366/163033932-3e0973fd-daca-4c6d-a7b0-be1092eeb299.png)

[2022-04-12 19:07] AnhTuanNguyenn commented on #6506
Hello Luca,

Before starting ntop i tried connect clickhouse manual with port 9000.
That’s was working.

And then i started ntopng with :
service ntopng start
 i see it connected but i even know the logs has save into pfsense until i
check system and i see the errors

So you want me execute command:
cat */usr/local/etc/ntopng/ntopng.conf ? *

*In the file conf i only added command: -F…. *

*I will

[2022-04-12 22:51] OzSpots-Wireless commented on #6494
Ok, reinstall fixed it, thanks very much.

[2022-04-12 22:51] #6494 closed, assigned to MatteoBiscosi

[2022-04-13 08:00] AnhTuanNguyenn commented on #6506
hello @lucaderi ,
this is output de command: cat /usr/local/etc/ntopng/ntopng.conf
![image](https://user-images.githubusercontent.com/24913199/163129710-eaab842a-02be-4d1e-b051-4e22b033ffe5.png)

[2022-04-13 08:09] fastfire commented on #6500
Hi @MatteoBiscosi , here ntop version:
ntopng Enterprise L v.5.2.220309 rev.17139 (CentOS Linux release 7.9.2009 (Core))

For "Local Hosts" do you mean hosts in the same subnet, or hosts in adjacent network too?

[2022-04-13 09:27] cardigliano commented on #6499
@uccidibuti please check this, the search box is reporting "No results found" for 'x' but not for '$'

<img width="1013" alt="Screen Shot 2022-04-13 at 11 25 33" src="https://user-images.githubusercontent.com/7548711/163145180-42a971b6-c993-478c-91d8-23dab62e69f3.png">
<img width="1008" alt="Screen Shot 2022-04-13 at 11 25 18" src="https://user-images.githubusercontent.com/7548711/163145213-e3e203

[2022-04-13 09:55] AnhTuanNguyenn commented on #6506
yes, i checked port 9000 and 9004 has opened on clickhouse server remote. @lucaderi

[2022-04-13 13:10] cardigliano commented on #6498
Implemented a few days ago
<img width="814" alt="Screen Shot 2022-04-13 at 15 10 07" src="https://user-images.githubusercontent.com/7548711/163187411-8233564f-2158-432b-9abe-2e3fa67c6715.png">

[2022-04-13 13:12] cardigliano commented on #6295
Is there anyone still affected by this? It seems this has been fixed, at least looking at the systems I was monitoring.

[2022-04-13 15:42] lucaderi commented on #6506
Can you please report the execution of the above command?

[2022-04-13 15:43] lucaderi opened #6508 "VLAN Tags are not fully Supported in Historical Alerts and Flows"
VLAN tags are not properly handled in historical flows and alerts.

[2022-04-13 15:45] lucaderi opened #6509 "NetBIOS Names should not be used for hostnames"
The NetBIOS name can be shared by multiple hosts (e.g. wpad). In this cause this name should not be used as label for hosts as you do with DNS names. It can be optionally used as "1.2.3.4 (netbios)" or just "1.2.3.4" and use the netbios name on the tooltip

[2022-04-13 15:47] lucaderi opened #6510 "Check Exceptions Do Not Support VLAN Tags"
In check exceptions, VLAN tags are ignored and thus the exception is applied only to untagged traffic. This ticket is to request the support of VLAN tags in exceptions.

[2022-04-13 15:50] lucaderi opened #6511 "Implement Content Exception Filtering"
Certain alerts that contain domain names (e.g. Suspicious DGA domain) or URLs (e.g. Suspicious SQL Injection) should be used to set exceptions. In this case, the panel below will also include the domain name or URL portion that can be used to ignore the exception. When this is implemented, the user should be able to edit the proposed information (e.g. use only a subset of the domain name).

![imag

[2022-04-13 16:09] AnhTuanNguyenn commented on #6506
hello Luca, which command you want, i don't understand much your question

[2022-04-13 16:53] AnhTuanNguyenn commented on #6506
if you want execution  cat /usr/local/etc/ntopng/ntopng.conf

[code]

i check port 9000 and 9004 is opened:
[code]

[2022-04-14 08:07] thomasbruchet commented on #6295
Hello,

I still lhave the issue since https://github.com/ntop/ntopng/issues/6320
This is my graph right now on: [ntopng Enterprise M v.5.3.220401 (Debian GNU/Linux 10 (buster))]
![image](https://user-images.githubusercontent.com/86605223/163340656-2ac40bce-377f-48b5-be86-86a0cd4319a5.png)
![image](https://user-images.githubusercontent.com/86605223/163341742-764dfe05-a7a9-476e-98e7-283ae456ef82.png

[2022-04-14 08:27] cardigliano commented on #6510
Backend implemented in da88d0ca8f4203ef0e5485de4d0dc4c8fbfb5e74 and pro 0e9a184edb7450139499a8de4c45e104a7faa97d 618f3b570aa2b3e6983388f3dc23f6cd77f6b410
Frontend implemented in 0863dc7d8cbfd0ec8d55085bae63f55e189e11e6
TODO: IP rendering with vlan in a single link

[2022-04-14 08:30] MatteoBiscosi commented on #6505
Hi @yarik2720 as written here you can use the f2b endpoint just from the pro version https://www.ntop.org/guides/ntopng/alerts/available_recipients.html

[2022-04-14 08:30] #6505 closed, assigned to nobody

[2022-04-14 08:33] MatteoBiscosi commented on #6500
Hi @fastfire you can find the description of local hosts here https://www.ntop.org/guides/ntopng/basic_concepts/hosts.html

[2022-04-14 08:44] AnhTuanNguyenn commented on #6506
hello @lucaderi
as i see in the log there are a line cat, so i was tried as
cat /var/db/ntopng/tmp/clickhouse/clickhouse-6-0-1.1650012602.csv
`2|4|1650012491|1650012493|0|928|75021|47877|27144|0|0|6|2130706433|::|60327|2130706433|::|6379|182|0|11|1|""pfSense01.xxx|6|0|0|0|"localhost"|"localhost"|0|0|1:Ik5bCGbZS6SDUl7NFfYOOEkdvWM=|0|0|0|0|24|24|0|0|0|1|1|12|12|0|0|0|0||`

[2022-04-14 11:48] N3S1 commented on #6295
@thomasbruchet Dunno if this helps, but there seems to be a new version in the Debian (Bullseye) stable Repo "[ntopng_5.2.220408-17421_amd64.deb](https://packages.ntop.org/apt-stable/bullseye/x64/ntopng_5.2.220408-17421_amd64.deb)".

What i can tell you so far, is that Clickhouse is not the solution for the memory leak problem!

(We in particular, have rollbacked to a previous version, but only be

[2022-04-14 15:25] ToqQrrl opened #6512 "Broken installation on OPNsense 22.x.y"
The install process via OPNsence plugins is not working since version 5.3.220412

The quick version of the problem is that when installing ntopng-enterprise on OPNsense (FreeBSD) at some point it want's to install this ---> hiredis: 0.13.3 [OPNsense]

And just when it finishes ... the process thinks that it has to remove it

The consequence of this is that ntopng doesn't start because it says that

[2022-04-14 16:35] cardigliano commented on #6512
@ToqQrrl a new package has been released right now, please try installing it

[2022-04-14 18:02] ToqQrrl commented on #6512
It is fixed ... thank you Sir!

[2022-04-15 08:01] cardigliano commented on #6512
Thank you

[2022-04-15 08:01] #6512 closed, assigned to nobody

[2022-04-15 08:15] cardigliano commented on #6508
Implemented in da88d0ca8f4203ef0e5485de4d0dc4c8fbfb5e74 0863dc7d8cbfd0ec8d55085bae63f55e189e11e6 and pro 0e9a184edb7450139499a8de4c45e104a7faa97d 618f3b570aa2b3e6983388f3dc23f6cd77f6b410
TODO: missing rendering js function

[2022-04-15 09:14] lucaderi commented on #6468
Fixed in commit 31d598be0bf4080bdf2a77cbe0ccc49e4aec3ee4

[2022-04-15 09:14] #6468 closed, assigned to lucaderi

[2022-04-16 10:10] Batnun opened #6513 "ntopng 5.3.220416 segfault on OPNsense 22.1.6"
Hi,

I've tried to install ntopng enterprise edition on my OPNsense firewall, but after the installation it just refuses to run.

I've followed the instructions on the ntopng website:
https://www.ntop.org/guides/ntopng/third_party_integrations/opnsense.html

added the ntop repository
install os-ntopng-enterprise and os-redis

Redis service started successfully
ntopng just don't start

I've perform

[2022-04-16 10:17] Batnun commented on #6513
I should add that the ntopng version coming from the OPNsense repository (slightly older version) works as expected...

[2022-04-17 16:58] lucaderi commented on #6513
Do you have /usr/local/etc/ntopng/ntopng.conf ? If not this is the problem. If yes please start from a shell
/usr/local/bin/ntopng /usr/local/etc/ntopng/ntopng.conf and report (as text) the whole startup log.

[2022-04-17 16:59] lucaderi opened #6514 "Service Map: Protocols are not Sorted"
![Screen Shot 2022-04-17 at 18 56 18](https://user-images.githubusercontent.com/4493366/163724712-b8c96b37-da4c-4789-aee6-0ff48d585ab2.png)

[2022-04-17 17:03] lucaderi opened #6515 "Rework Protocols Menu"
The tables menu implementation is suboptimal: when an optimal as when an entry is selected all other options disappear as you can see

Service Map
![Screen Shot 2022-04-17 at 18 59 28](https://user-images.githubusercontent.com/4493366/163724755-fd54fc23-77ef-4f96-938a-df4ec801988a.png)

Flows
![Screen Shot 2022-04-17 at 19 00 46](https://user-images.githubusercontent.com/4493366/163724780-397b1b4d

[2022-04-17 17:08] lucaderi opened #6516 "Service Map: Missing Default Sort"
In the service map the default sort should be as shown in the pictures below

![image](https://user-images.githubusercontent.com/4493366/163725010-086c234b-6c69-4432-bf29-26ac45fd17c6.png)
![image](https://user-images.githubusercontent.com/4493366/163725018-0eb1fc83-734b-4f91-959b-ca2e198ec48e.png)

[2022-04-18 04:11] ouliuquan opened #6517 "Build ntopng error"
**Environment**:
* OS name: [e.g. debian]
* OS version: [e.g.  8.11]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. git tag 93bb98bf22ff42fb7ada87208d4b8f9db4ea2292]

**What happened**:
New git clone, building, then error.

**What did you expect to happen?**
Fix the building error

**How did you reproduce it?**
Follow the building

**Debug Information**:
g++ -g -O2 -I/home/michael/t

[2022-04-18 09:42] Batnun commented on #6513
root@opnsense:~ # cat /usr/local/etc/ntopng/ntopng.conf
-i=igb2
-i=igb1
-i=igb0
-w=0
-W=3000
-n=1
--community=
-d=/var/db/ntopng-enterprise

root@opnsense:~ # /usr/local/bin/ntopng /usr/local/etc/ntopng/ntopng.conf
18/Apr/2022 10:37:50 [Redis.cpp:156] Successfully connected to redis 127.0.0.1@0
18/Apr/2022 10:37:50 [Redis.cpp:156] Successfully connected to redis 127.0.0.1@0
18/Apr/2022 10:37:50 [P

[2022-04-18 15:25] init098 commented on #6513
Hi, I have the same problem, os-ntopng-enterprise 5.3.220418 and opnsense 22.1.6. The log is similar to the report, only in my case it gives a segfault

[code]

[2022-04-18 16:14] Batnun commented on #6513
Hi, which hardware are you using for OPNsense? Mime is running on AMD EPYC 3201 CPU and I thought that maybe someone compiled it with a specific optimizations for Intel CPUs...

[2022-04-18 17:01] init098 commented on #6513
It is a virtual machine over KVM, the configuration is passing all the characteristics of the CPU, in this case it is an Intel(R) Core(TM) i5-8265U.

I had been using ntopng for several months without problems, but apparently an update to opnsense or ntopng itself broke the package.

[2022-04-18 21:08] ToqQrrl commented on #6513
Hi guys… the problem seems to have started (gradually) starting with ntopng version 5.3.220412 on OPNsense 22.1.5 / 22.1.6

And while this DEV version of ntopng (5.3.2204xx) doesn’t work … the crippled version that ships with OPNsense … ntopng version 5.2.2203xx (from a stable branch) still works.

But not all OPNsense boxes on 22.1.6 have this problem with the DEV version (5.3.2204xx) … it seems

[2022-04-19 05:49] #6517 closed, assigned to nobody

[2022-04-19 07:17] lucaderi opened #6520 "Service Map: Spinning circle disppears too early"
When loading data the spinning bad disappears too early

[2022-04-19 08:04] lucaderi opened #6521 "Star will break searches"
Putting a star * character breaks the search in the top right search field

![Screen Shot 2022-04-19 at 10 03 49](https://user-images.githubusercontent.com/4493366/163955371-b55a2dc2-d594-412d-a945-90222c672424.png)

[2022-04-19 08:22] Batnun commented on #6513
Still the same with version 5.3.220419 :(

[2022-04-19 10:03] cardigliano commented on #6513
We are trying to reproduce this in our lab, also on VMs, using ntopng 5.3.220415 on OPNsense 22.1.6, with no success so far (it's working with no segfault or bus errors). We used a configuration file similar to the one provided by @Batnun
Did you try flushing redis? (redis-cli flushall)

[2022-04-19 10:11] Batnun commented on #6513
I just tried to flush redis, but still no luck. I'm now getting the "Segmentation fault" error:

root@opnsense:~ # redis-cli flushall
OK
root@opnsense:~ # /usr/local/bin/ntopng /usr/local/etc/ntopng/ntopng.conf
19/Apr/2022 11:07:43 [Redis.cpp:156] Successfully connected to redis 127.0.0.1@0
19/Apr/2022 11:07:43 [Redis.cpp:156] Successfully connected to redis 127.0.0.1@0
19/Apr/2022 11:07:43 [PcapI

[2022-04-19 10:21] Batnun commented on #6513
Searching "Segmentation fault" in Google I'm getting the impressions that is something to do with how ntopng was compiled. Is something changed recently with the compilation process, like a different compiler or C/C++ library? (I'm not a developer)

[2022-04-19 12:57] cardigliano opened #6523 "Historical Flows that generated External Alert have status Normal"
Flows in Historical Flows that generated alerts of type External Alert have Normal as status (reproduced on a customer installation running in 5.2 stable)

[2022-04-19 13:11] init098 commented on #6513
@cardigliano Could the output of the **truss /usr/local/bin/ntopng /usr/local/etc/ntopng/ntopng.conf** command help?

[2022-04-19 13:18] cardigliano commented on #6513
@init098 not sure it helps, but worth checking it..
Is anyone able to provide ssh access to a system affected by this? That would help debugging

[2022-04-19 14:02] MatteoBiscosi commented on #6451
Hi @martinscheu i added a description for the network discovery. However, unfortunately,  I cannot label that traffic in the flows page

[2022-04-19 16:13] cardigliano commented on #6508
Hostname@vlan filter in engaged alerts supported in ea29fc817607af693aa6bf717647ae2d975d09d4
JS rendering implemented in d8165eb738d35b4b0bfea376661a7d299d0528b4
This should be fully implemented now.

[2022-04-19 18:17] Batnun commented on #6513
Attached is the output of **truss /usr/local/bin/ntopng /usr/local/etc/ntopng/ntopng.conf**
[truss_ntopng.txt](https://github.com/ntop/ntopng/files/8515533/truss_ntopng.txt)

[2022-04-20 02:56] init098 commented on #6513
@cardigliano I can't give you access, but if you tell me what to look at, I can send you the information.

[2022-04-20 07:17] cardigliano opened #6524 "Wrong tab switching from Host Alerts Engaged to Flow Alerts (Past)"
Switching from Host Alerts Engaged to Flow Alerts leads to an empty page as Flow Alerts does not have the Engage page, it should go to Past.

[2022-04-20 07:18] cardigliano commented on #6524
<img width="537" alt="Screen Shot 2022-04-20 at 09 17 37" src="https://user-images.githubusercontent.com/7548711/164172383-cc8d6dbf-0823-465b-a9e4-df3ac38f84ca.png">
<img width="548" alt="Screen Shot 2022-04-20 at 09 17 53" src="https://user-images.githubusercontent.com/7548711/164172430-4aea15c7-3ec5-41db-8a33-4da0769aec3b.png">

[2022-04-20 08:26] Yoshihiro-jp opened #6525 "can't see any flows in the "Historical Flow Explorer"."
**Environment**:
* OS name: [e.g. Ubuntu] Ubuntu
* OS version: [e.g. 18.04] 20.04.4 LTS
* Architecture: [e.g. amd64] x86_64
* ntopng version/revision: [e.g. 5.1.211223]  5.2.220408

**What happened**:

Problems procedure:
"Interface" menu in the ntopng → "Historical Data" → Push the "Actions" button with any application → Choose "Raw Flows"
Result:  I can't see any flows in the  "Historical Flow E

[2022-04-20 10:31] MatteoBiscosi commented on #6366
Implemented like the following:
- Available from Pro version on.
- The user is going to configure the "Per Host" score (Max score)
- If the network score exceeds the "Per Host" score an alert is going to be triggered (e.g. a user configure 200 score per host, meaning that with 30 hosts, the network score has not to be above 30 * 200, 6000 score)

![Screenshot from 2022-04-20 12-28-48](https://user

[2022-04-20 10:52] MatteoBiscosi commented on #6525
Hi @Yoshihiro-jp thanks again for your reports.
Now the issue should be fixed, as you can see, I filtered for tls and then jumped to raw flows and it's working.
A new build is going to start soon please wait for 2/3 hours and the new update should be available.
Waiting for your feedback.

![Screenshot from 2022-04-20 12-50-21](https://user-images.githubusercontent.com/49585191/164215280-38599c66-3

[2022-04-20 14:31] MatteoBiscosi commented on #6509
Now NetBIOS names are no more used for hostnames. Still reported however in the host page.

![Screenshot from 2022-04-20 16-30-33](https://user-images.githubusercontent.com/49585191/164254247-71c5754b-acd1-4941-9c1e-a2b7754afdc8.png)

[2022-04-20 16:06] lucaderi opened #6527 "Historical Flows: Invalid drill down"
Inside a flow clicking on the drill-down icon

![Screen Shot 2022-04-20 at 18 03 27](https://user-images.githubusercontent.com/4493366/164274060-987099d4-3e3a-430e-91ed-2d269d0f1999.png)

we go to

![Screen Shot 2022-04-20 at 18 04 02](https://user-images.githubusercontent.com/4493366/164274118-939e19f5-2d92-4e4d-8a94-0451a7c09ecf.png)

that is wrong as there is no filter selected.

This needs to

[2022-04-20 16:08] lucaderi opened #6528 "Improve Historical Flows Drill Down"
As with  #6527 add a drill-down icon for all flows that have info, such as HTTP and DNS that have for instance the resolved domain name.

Example add the drill-down icon here:
![image](https://user-images.githubusercontent.com/4493366/164276011-c6b309b5-346f-4dbd-be71-24c0f97a32ed.png)

[2022-04-20 18:55] lucaderi opened #6529 "Errors in ntopng.service File"
Apr 20 20:54:23 ntopint systemd[1]: /etc/systemd/system/ntopng.service:7: Unknown key name 'Required-Start' in section 'Unit', ignoring.
Apr 20 20:54:23 ntopint systemd[1]: /etc/systemd/system/ntopng.service:8: Unknown key name 'Required-Stop' in section 'Unit', ignoring.

This on ubuntu 20.04

[2022-04-21 00:14] Yoshihiro-jp commented on #6525
Dear @MatteoBiscosi ,

Using the version 5.2.220420 I confirmed it to be fixed.
Thank you for your quick modification.

regards,
Yoshihiro

[2022-04-21 08:01] cardigliano commented on #6529
Removed in e428151d06d12bfeb4b951e61f59f0a7bff4b14b

[2022-04-21 08:01] #6529 closed, assigned to cardigliano

[2022-04-21 08:02] cardigliano opened #6530 "Always honour the host param in live_traffic.lua"
It seems that live_traffic.lua provides the full traffic if the host specified in the host parameter is not active. It should return no traffic in that case.

[2022-04-21 08:04] #6525 closed, assigned to MatteoBiscosi

[2022-04-21 08:25] MatteoBiscosi commented on #6527
Fixed.
Consider the possibility that the flow the user select could be the first of a kind and so no flows can be found in the historical view (flows are going to be put inside the historical view after being removed from the live view)

![Screenshot from 2022-04-21 10-24-08](https://user-images.githubusercontent.com/49585191/164412747-96b28f2a-13dc-4ffa-bb19-354edbd90c48.png)
![Screenshot from 20

[2022-04-21 08:39] MatteoBiscosi commented on #6528
Feature implemented

![Screenshot from 2022-04-21 10-38-23](https://user-images.githubusercontent.com/49585191/164415482-1e0fc3b9-6b9e-4b72-9218-798831c15f73.png)
![Screenshot from 2022-04-21 10-38-33](https://user-images.githubusercontent.com/49585191/164415488-638273e8-a1ff-49f5-917b-63ec8a21963f.png)

[2022-04-21 09:22] cardigliano opened #6531 "Automatically filter by Observation Point in Historical Flows"
It would be nice to automatically filter historical flows by Observation Point when an OP is selected (in the dropdown at the top of the page)

[2022-04-21 09:24] cardigliano opened #6532 "Flow exporter selection in Live Flows vs selected Observation Point"
When selecting an OP in the dropdown, the Live Flows page still reports the full list of Flow Exporters in the dropdown used to filter by FE. This leads to an empty flows list when selecting a FE which does not belong to the selected OP, and this is useless. It would be nice to show only the FE in the selected OP.

[2022-04-21 09:26] cardigliano opened #6533 "Align the Interface and Observation Point dropdowns"
The two dropdowns are not aligned as in the enclosed picture

<img width="227" alt="Screen Shot 2022-04-21 at 10 53 03" src="https://user-images.githubusercontent.com/7548711/164424294-1c97ad8e-24c9-46f7-a0fc-56df012ac612.png">

[2022-04-21 09:27] cardigliano opened #6534 "Add list of exporters (by name) in the Flow Exporter filter in Historical Flows"
Currently the Flow Exporter filter requires entering an IP address of the exporter, it would be nice to have a dropdown with the list already populated (with IP and name)

[2022-04-21 14:05] cardigliano commented on #6530
Fixed in 17178a1506816a624e3715433a95292ef5a4aa7c

[2022-04-21 14:05] #6530 closed, assigned to cardigliano

[2022-04-21 19:06] Batnun commented on #6513
Working again for me with version 5.3.220421 😎

[2022-04-21 19:21] ToqQrrl commented on #6513
I also confirm that the latest DEV release 5.3.220421 works on OPNsense 22.1.6

[2022-04-21 19:30] init098 commented on #6513
In my case, it still doesn't work and gives the message "bus error" and the process crashes. How can I install the DEV version? I currently have version 5.3.220421

[2022-04-21 22:29] ToqQrrl commented on #6513
Hello …

5.3.xxyyzz is the DEV version
5.2.xxyyzz would be the STABLE version if it existed on OPNsense/PFSense

[2022-04-22 07:10] lucaderi opened #6535 "Unable to add two recipients"
After a recipient is added, clicking on the + icon the same form used previously with old values is shown instead of a new/empty one

[2022-04-22 07:11] lucaderi opened #6536 "Recipients: Empty Severity Field"
![Screenshot 2022-04-22 at 09 10 20](https://user-images.githubusercontent.com/4493366/164624770-db088247-bf53-45d3-92ed-5181e54f7cd0.png)
The above field must have a non empty value

[2022-04-22 07:13] lucaderi opened #6537 "Broken Policy Implementation in the service map"
![image](https://user-images.githubusercontent.com/4493366/164625073-f8cbd2b9-e862-43ce-98d5-09488729ae98.png)

[2022-04-22 07:15] lucaderi opened #6538 "Info Field is Not Necessary on the Periodicity Map"
The Info field is necessary only in the service map and it has to be removed from the periodicity map as it is always empty

![image](https://user-images.githubusercontent.com/4493366/164625513-6a93a5d4-7db0-40d2-aabc-79b3f460de96.png)

[2022-04-22 07:42] lucaderi opened #6539 "Speedtest Broken"
Active monitoring with speedtest is no longer working

[2022-04-22 08:34] lucaderi opened #6540 "Menu are not aligned"
<img width="442" alt="image" src="https://user-images.githubusercontent.com/4493366/164650729-cd99920b-0d1f-4b2e-b5e3-26f21c19de17.png">

[2022-04-22 08:38] cardigliano commented on #6533
Dup of #6540

[2022-04-22 08:38] #6533 closed, assigned to uccidibuti

[2022-04-22 10:03] cardigliano commented on #6513
@Batnun thank you for the truss output, but it didn't help.
In the meantime I tried on different platforms but I was not able to reproduce the issue so far, using the same OPNsense version, with latest ntopng. I will build a binary with debug symbols to provide you.
If some of you can run it, please drop an email to cardigliano at ntop.org

[2022-04-22 12:26] lucaderi opened #6541 "Merge EndPoint and Recipients"
Having a separate entry for EndPoint and Recipients can be misleading for web navigation. This is to request them to be merged into a single page named Notifications

[2022-04-22 12:29] lucaderi opened #6542 "Historical Flows: add aggregation menus"
![Screen Shot 2022-04-22 at 14 27 07](https://user-images.githubusercontent.com/4493366/164714137-bfff3f93-7da8-46a9-a6f4-029289b29e63.png)

The above entry is present in flow alerts. This is to request to add something similar in historical flows with the following differences
- add a new "Application" menu for l7 filters
- add a new "Info" menu for the Info entry

[2022-04-22 12:32] lucaderi opened #6543 "Make Menus On Demand"
Same as #6542, make these menus live, meaning that they are not populated with data as today. but the backend is queried as soon as somebody clicks on it. This will reduce the workload on the backend as menu queries are populated on demand and only when necessary.
This enhancement has to be implemented in both alerts and flows.

[2022-04-22 13:32] MatteoBiscosi commented on #6537
Fixed pro version

[2022-04-22 13:33] MatteoBiscosi commented on #6538
Fixed pro version

[2022-04-22 13:34] MatteoBiscosi commented on #6531
Removed observation point from historical flows, pro version

[2022-04-24 07:46] martinscheu opened #6544 "Alerts not displayed"
**Environment**:
* OS name: [e.g. Ubuntu] Ubuntu
* OS version: [e.g. 18.04] 20.04
* Architecture: [e.g. amd64] x86_64
* ntopng version/revision: [e.g. 5.1.211223] ntopng Enterprise L v.5.3.220424 (Ubuntu 20.04.4 LTS) |

**What happened**:
Alerts are not displayed anymore

<img width="1652" alt="Screenshot 2022-04-24 at 09 21 35" src="https://user-images.githubusercontent.com/38549755/164965933-6ba

[2022-04-25 07:15] #6539 closed, assigned to lucaderi

[2022-04-25 07:20] lucaderi commented on #6314
![Screen Shot 2022-04-25 at 09 18 56](https://user-images.githubusercontent.com/4493366/165039387-60f6b392-6026-4ab1-8659-f1da286fd66d.png)

It works with the current version. Please remember that as the pcap file is dated 02/15/2022 to mke sure your GUI displays  such date

[2022-04-25 07:20] #6314 closed, assigned to lucaderi

[2022-04-25 07:23] lucaderi commented on #6267
Sorry for the delay. The direction is set with -m unless your flow contains the direction. As you are using sFlow this could be the problem. How do you start nProbe exactly?

[2022-04-25 07:26] lucaderi commented on #6355
Fixed in the current version

[2022-04-25 07:26] #6355 closed, assigned to lucaderi

[2022-04-25 07:26] notyourcommy commented on #6267
Hello
Problem with direction is ONLY in if_stats.lua.

Nprobe
-i=none
-n=none
--zmq "tcp://127.0.0.1:5556"
--collector-port 6343
-V10
-b1
-T="%IPV4_SRC_ADDR %IPV4_DST_ADDR %L4_SRC_PORT %L4_DST_PORT %IPV6_SRC_ADDR %IPV6_DST_ADDR %IP_PROTOCOL_VERSION %SRC_TOS %PROTOCOL %ICMP_TYPE %INPUT_SNMP %SRC_AS %DST_AS %IPV4_NEXT_HOP %IPV6_NEXT_HOP %TCP_FLAGS %OUTPUT_SNMP %IN_BYTES %IN_PKTS %OUT_BYTES %OUT_PKTS

[2022-04-25 07:47] lucaderi commented on #6437
Unable to reproduce with the current version. Will reopen if necessary

[2022-04-25 07:47] #6437 closed, assigned to lucaderi, MatteoBiscosi

[2022-04-25 07:51] lucaderi opened #6545 "Missing Red Triangle in Alerted Flows"
![image](https://user-images.githubusercontent.com/4493366/165044240-c8170189-7994-4037-8e76-21d62617bc2d.png)

Reproduce with the enclosed pcap
[dns.pcap.txt](https://github.com/ntop/ntopng/files/8552609/dns.pcap.txt)

[2022-04-25 12:00] N3S1 commented on #6295
We've tested againg with the following version:
Version:        5.2.220420 [Enterprise/Professional build]
GIT rev:        5.2-stable:08227827a52b7e80612c42182194b780d4db93f4:20220420
Pro rev:        r4752
Built on:       Rocky Linux release 8.5 (Green Obsidian)

**But the issue STILL EXISTS, so we're again doing a rollback to a previous version...**

[2022-04-26 02:43] hdsjahuen opened #6546 "Problems installing clickhouse"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]

**What happened**:

**What did you expect to happen?**

**How did you reproduce it?**

**Debug Information**:

The installation of clickhouse was carried out according to the steps in the documentation above, executing the statement
yum install -y yum-util

[2022-04-26 02:46] hdsjahuen commented on #6546
ntopng version: 5.3.220419[Enterprise/Professional buld]

[2022-04-26 07:50] lucaderi commented on #6546
Please upgrade to the latest ntopng release where the problem is fixed

[2022-04-26 07:50] #6546 closed, assigned to nobody

[2022-04-26 09:00] 4ULAB opened #6547 "Active monitoring speed test on raspbian os not working"
**Environment**:
* OS name: [Raspbian GNU/Linux ]
* OS version: [10 buster]
* Architecture: [32 bit]
* ntopng version/revision: [ntopng Professional v.5.3.220425 rev.17530]

**What happened**:

If I set an active monitoring on the speedtest, the result is always red and never green, even though the connection is faster than the value set in the monitoring.

**What did you expect to happen?**

I ex

[2022-04-26 09:49] lucaderi opened #6548 "Broken Active Monitoring Template"
![image](https://user-images.githubusercontent.com/4493366/165273061-1f6cf962-0a16-4585-a50b-b84fca92a5ae.png)

Measurement column is duplicated

[2022-04-26 12:35] rusqq opened #6549 "Alerts still generated for allowed hosts"
**Environment**:
* OS name: [e.g. Ubuntu] Ubuntu
* OS version: [e.g. 18.04] 20.04
* Architecture: [e.g. amd64] x86_64
* ntopng version/revision: [e.g. 5.1.211223]  Enterprise L v.5.1.220124 rev.16555

**What happened**:

Alerts are still generated for allowed hosts:
![image](https://user-images.githubusercontent.com/96235374/165290250-5769ae12-a1a9-4c9a-b21d-1432006f279e.png)

**What did you expec

[2022-04-26 13:55] MatteoBiscosi commented on #6549
Hi @rusqq please update to the latest ntopng version, we no more support the 5.1 version.
Update to the latest stable version (5.2) or dev version (5.3) and let me know.

[2022-04-26 17:24] uccidibuti commented on #6492
Historical Flows and Alarms are fixed and now show server timezone also in datetime-picker and chart components. In Others page components (except table) still show browser timezone.

[2022-04-26 19:09] lucaderi commented on #6538
Verified as fixed.

[2022-04-26 19:09] #6538 closed, assigned to MatteoBiscosi

[2022-04-26 19:10] lucaderi commented on #6521
Verified as fixed.

[2022-04-26 19:10] #6521 closed, assigned to uccidibuti

[2022-04-26 19:11] lucaderi commented on #6540
Verified as fixed.

[2022-04-26 19:11] #6540 closed, assigned to MatteoBiscosi

[2022-04-26 19:12] lucaderi commented on #6545
Ummmm, I see a (i) icon but not a red triangle as it used to be. Why this inconsistency with all the other icons?

[2022-04-26 19:14] lucaderi commented on #6537
Verified as fixed.

[2022-04-26 19:14] #6537 closed, assigned to MatteoBiscosi

[2022-04-26 19:14] lucaderi commented on #6397
Verified as fixed.

[2022-04-26 19:14] #6397 closed, assigned to MatteoBiscosi

[2022-04-26 19:22] lucaderi commented on #6366
![Screen Shot 2022-04-26 at 21 20 30](https://user-images.githubusercontent.com/4493366/165376101-d7a8d478-2b84-4b9c-838e-28d9952c0e4f.png)

The threshold is set to 100 but the alert reports 700.

Furthermore since this change the host score and network score is no longer correct, and consistent across pages as you can see with host .178 below

![Screen Shot 2022-04-26 at 21 19 27](https://user-im

[2022-04-26 19:28] lucaderi commented on #6226
This script (Top Services) is  basically the same as Top Conversations so I suggest merging them: remove Top Services and add the Count field column

[2022-04-26 19:29] lucaderi commented on #6527
Verified as fixed.

[2022-04-26 19:29] #6527 closed, assigned to MatteoBiscosi

[2022-04-26 19:30] lucaderi commented on #6520
Verified as fixed.

[2022-04-26 19:30] #6520 closed, assigned to uccidibuti

[2022-04-26 19:31] lucaderi commented on #6508
Verified as fixed.

[2022-04-26 19:31] #6508 closed, assigned to cardigliano, uccidibuti

[2022-04-26 19:31] lucaderi commented on #6507
Verified as fixed.

[2022-04-26 19:31] #6507 closed, assigned to MatteoBiscosi

[2022-04-26 19:32] lucaderi commented on #6429
Verified as fixed.

[2022-04-26 19:32] #6429 closed, assigned to MatteoBiscosi

[2022-04-26 19:33] lucaderi commented on #6498
Working with ClickHouse not working with SQLite

[2022-04-26 19:36] lucaderi commented on #6207
Verified as fixed

[2022-04-26 19:36] #6207 closed, assigned to MatteoBiscosi

[2022-04-26 19:37] lucaderi commented on #6514
Verified as fixed

[2022-04-26 19:37] #6514 closed, assigned to MatteoBiscosi

[2022-04-26 19:38] lucaderi commented on #6516
Verified as fixed

[2022-04-26 19:38] #6516 closed, assigned to MatteoBiscosi

[2022-04-26 19:39] lucaderi commented on #6528
Verified as fixed

[2022-04-26 19:39] #6528 closed, assigned to MatteoBiscosi

[2022-04-26 19:41] lucaderi commented on #6535
Minimum severity is set to debug and not to Error (or Warning) as discussed. Everything else is working as expected.

[2022-04-26 19:44] lucaderi commented on #6535
Closing ticket and adding the comment to  #6536

[2022-04-26 19:44] #6535 closed, assigned to uccidibuti

[2022-04-26 19:44] lucaderi commented on #6536
Minimum severity is set to debug and not to Error (or Warning) as discussed. Everything else is working as expected.

[2022-04-26 19:45] lucaderi commented on #6548
Verified as fixed

[2022-04-26 19:45] #6548 closed, assigned to MatteoBiscosi

[2022-04-26 19:46] lucaderi commented on #6497
Verified as fixed

[2022-04-26 19:46] #6497 closed, assigned to cardigliano

[2022-04-26 19:48] lucaderi commented on #6398
How did you test it?

[2022-04-26 20:06] lucaderi commented on #6492
![image](https://user-images.githubusercontent.com/4493366/165383034-d03ced27-7f67-47ad-9fb2-8e86eb64b872.png)
I think that these changes have broken the time picket that shows the date in UTC and not in localtime (+2h with respect to UTC in the picture)

[2022-04-27 03:20] ToqQrrl commented on #6513
Alfredo ... I have unfortunately updated from version 5.3.220421 to 5.3.220426 and it is not working anymore ... same problem came back

ntopng stops executing after this ... just like before

[PeriodicActivities.cpp:109] Started periodic activities loop...

We would really need to have access to the stable 5.2.22xxyy branch on OPNsense/PFsense OS platform

It's is not viable having a "firewall pr

[2022-04-27 07:17] cardigliano commented on #6513
@ToqQrrl we are working on this, we will release a stable version for FreeBSD-based platform on the next stable release, please note FreeBSD support has been introduced a few months ago thus this is taking a bit due to the release cycle.

[2022-04-27 07:24] cardigliano commented on #6506
@AnhTuanNguyenn please try executing one of the commands reported in the Log Trace similar to the below:

cat /var/db/ntopng/tmp/[...] | /usr/local/bin/clickhouse-client [...] -d "ntopng"

Or please paste here the log in text format and I will give you the exact line to execute

[2022-04-27 08:18] MatteoBiscosi commented on #6544
Hi @martinscheu, could you please tell me, by opening the web browser developer tool (f12 or right click and then click inspect), if there are any errors and tell me the request and the answer done?
![Screenshot from 2022-04-27 10-17-35](https://user-images.githubusercontent.com/49585191/165473721-d9df1875-6525-4947-af7a-decb67bd9205.png)

[2022-04-27 08:19] MatteoBiscosi commented on #6500
Closing for inactivity, please reopen if needed

[2022-04-27 08:19] #6500 closed, assigned to MatteoBiscosi

[2022-04-27 08:45] MatteoBiscosi commented on #6547
Hi @Mirco980 we are currently working on that problem, it seems there is some problem with the speedtest library

[2022-04-27 09:39] MatteoBiscosi commented on #6549
Hi @rusqq as you can see, the exclude in the latest ntopng version (5.3.220427) it's working correctly, infact no alert was triggered for this flow
![Screenshot from 2022-04-27 11-33-28](https://user-images.githubusercontent.com/49585191/165489584-6092ba5f-a912-4c9c-9efa-e900452cfc4e.png)
![Screenshot from 2022-04-27 11-32-53](https://user-images.githubusercontent.com/49585191/165489594-ddbd0ba2-7

[2022-04-27 09:39] #6549 closed, assigned to MatteoBiscosi

[2022-04-27 15:16] cardigliano commented on #6405
This is no longer required as support for Active Monitoring selection has been added in recipients b277be68f29666154f9f698b9c155f4c47201026

[2022-04-27 15:16] #6405 closed, assigned to cardigliano, MatteoBiscosi

[2022-04-27 15:16] cardigliano commented on #6406
This is no longer required as support for Active Monitoring selection has been added in recipients b277be68f29666154f9f698b9c155f4c47201026

[2022-04-27 15:16] #6406 closed, assigned to cardigliano, MatteoBiscosi

[2022-04-28 02:14] Batnun commented on #6513
I can also confirm it stops working again for me, after upgrading to version 5.3.220428 ☹️

[2022-04-28 03:17] hdsjahuen opened #6550 "How to view the history browser in a single interface in ntopng"
**What would you like to add or change?**:

**Why do you and others need this?**:

After I installed clickhouse, I found that I could do a historical browser view, but since I have two interfaces, one for ens33 and one for ens37, I also view them both view:all.
When I want to view the history browser, I find that I can only view the view:all interface, but not the individual interface to view the

[2022-04-28 07:45] cardigliano commented on #6513
@Batnun we will get access to a box affected by this soon, where we can debug this, I will come back soon

[2022-04-28 09:13] AnhTuanNguyenn commented on #6506
hello @cardigliano
thank for your reply
as you told i was execute command and i got this:
![165723236-ff33d659-7c26-4112-b80c-5ca27ab1af47](https://user-images.githubusercontent.com/24913199/166208680-76672eb2-1f29-4255-b11c-b9fa5153cec2.jpg)

when i check file in /var/db/ntonpg/temp/clickhouse all file has rename .dsc i supposed:
![165718748-00c19459-5706-40c8-bcd6-c60c2044cc7d](https://user-imag

[2022-04-28 13:18] adrianmoraru opened #6551 "Huge ram memory usage with checkmk integration"
Hello Team,

I have a issue with ntopng <-> checkmk integration. The situation is like this:

- If I navigate in ntopng interface everything is ok - form resources point of view (cpu, ram, disk)
- When I navigate in checkmk, on the ntop options that appear after the integration, the ram usage is growing fast to 30-40-50GB ram.
- The solution is systemctl restart ntopng

**Environment**:
* OS name:

[2022-04-28 13:22] lucaderi commented on #6441
Implemented in b2f20317b827f41618211d5087e79466585bedf0

[2022-04-28 13:22] #6441 closed, assigned to lucaderi

[2022-04-28 15:05] cardigliano commented on #6551
@adrianmoraru can we schedule a call to take a look at this together?

[2022-04-28 16:22] stuartjk1606 opened #6552 "Elasticsearch 8 support for flow dumps"
NTOPNG requires support for Elasticsearch 8.

The current version of Elasticsearch (8.1) does not support the field _type. This was depricated in elasticsearch 7 and is removed altogether in 8. Also the current templates avaialble in the current Canonical release of NTOPNG 5.2.220420 does not have a valid elasticsearch v8 version which also fails.

Configuring NTOPNG to connect to Elasticsearch 8

[2022-04-28 20:33] martinscheu opened #6553 "pcap download on interface not working"
**Environment**:
* OS name: [e.g. Ubuntu] Ubuntu
* OS version: [e.g. 18.04] 20.04
* Architecture: [e.g. amd64] x86_64
* ntopng version/revision: [e.g. 5.1.211223] ntopng Enterprise L v.5.3.220405 rev.17390 (Ubuntu 20.04.4 LTS) |

**What happened**:
pcap download on interface for e.g. 5min is not working. Either download does not start or it stops after 1 or 2min

**What did you expect to happen?**

[2022-04-28 20:46] martinscheu opened #6554 "IEC 60870 analysis is not working"
OS name: [e.g. Ubuntu] Ubuntu
    OS version: [e.g. 18.04] 20.04
    Architecture: [e.g. amd64] x86_64
    ntopng version/revision: [e.g. 5.1.211223] ntopng Enterprise L v.5.3.220405 rev.17390 (Ubuntu 20.04.4 LTS) |

**What happened**:
The IEC 60870-5-104 flow analysis in active flow is not working:
<img width="1628" alt="Screenshot 2022-04-28 at 22 35 53" src="https://user-images.githubuserconten

[2022-04-28 20:50] martinscheu opened #6555 "Syslog not showing right amount of traffic"
**Environment**:

    OS name: [e.g. Ubuntu] Ubuntu
    OS version: [e.g. 18.04] 20.04
    Architecture: [e.g. amd64] x86_64
    ntopng version/revision: [e.g. 5.1.211223] ntopng Enterprise L v.5.3.220424 (Ubuntu 20.04.4 LTS) |

**What happened**:
Servers are connected by 1Gibt/s network.

<img width="717" alt="Screenshot 2022-04-28 at 20 06 43" src="https://user-images.githubusercontent.com/38549

[2022-04-29 06:13] adrianmoraru commented on #6551
@cardigliano sure, when is ok for you ? Today or next week Monday ?

[2022-04-29 07:31] cardigliano commented on #6555
Are you collecting flows from Suricata here or what is the source?

[2022-04-29 07:34] cardigliano commented on #6551
Today should work for me for a quick one, please drop an email to cardigliano at ntop.org

[2022-04-29 07:43] cardigliano commented on #6513
@Batnun we pushed a fix that was causing a segfault on OPNsense, please update and let us know. Thank you.

[2022-04-29 07:45] MatteoBiscosi commented on #6552
Hi @stuartjk1606 for the ntopng stable version (5.2), ntopng template follows the 7.1 version. I'm going to update the dev version with the latest ECS format available (8.1)

[2022-04-29 08:19] #6455 closed, assigned to nobody

[2022-04-29 08:22] lucaderi commented on #6547
Verified as fixed. New RPi packages will be built later today

[2022-04-29 08:22] #6547 closed, assigned to nobody

[2022-04-29 08:50] Batnun commented on #6513
@cardigliano  Thanks for that! Just updated to version 5.3.220429 and it's working again :)

Do you mind sharing what was the problem?

[2022-04-29 09:00] cardigliano commented on #6513
@Batnun it was due to an access to an uninitialized variable on FreeBSD (https://github.com/ntop/ntopng/commit/5bfacca8b25413214df57b4e72e883b154cb0aea)

[2022-04-29 09:09] Batnun commented on #6513
@cardigliano Thanks again and have a great weekend :)

[2022-04-29 09:10] lucaderi commented on #6506
Please repeat the above command with a file that exists out of the clickhouse tmp directory so we can see what is the problem. Please *before* doing that make sure you have updated to the latest ntopng version

[2022-04-29 09:22] cardigliano commented on #6513
Closing this. Please reopen in case.

[2022-04-29 09:22] #6513 closed, assigned to cardigliano

[2022-04-29 09:55] lucaderi commented on #6453
CLosing for inactivity, will reopen if necessary

[2022-04-29 09:55] #6453 closed, assigned to nobody

[2022-04-29 10:56] MatteoBiscosi opened #6556 "Error while excluding an alert"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]

**What happened**:

29/Apr/2022 12:53:10 [MySQLDB.cpp:698] Disconnected from MySQL for interface wlo1...
29/Apr/2022 12:53:10 [MySQLDB.cpp:827] Successfully connected to ClickHouse [default@127.0.0.1:9004][dname: ntopng] for interface wlo1
29/Apr/2022 12:5

[2022-04-29 11:33] martinscheu commented on #6544
Hi @MatteoBiscosi
Like this?
<img width="2024" alt="Screenshot 2022-04-29 at 13 32 57" src="https://user-images.githubusercontent.com/38549755/165936756-0cdf52cb-4cc4-45cd-9fba-7e437209e54a.png">
Otherwise I can give you access to the system

[2022-04-29 14:13] MatteoBiscosi commented on #6554
Hi @martinscheu I pushed an update and now it seems working. Please update in a couple of hours and let me know
![Screenshot from 2022-04-29 16-10-27](https://user-images.githubusercontent.com/49585191/165961595-5ffb7d4c-dfa8-4fa9-93d3-294759a5762b.png)

[2022-04-29 14:51] MatteoBiscosi commented on #6556
Verified as fixed

[2022-04-29 14:51] #6556 closed, assigned to cardigliano

[2022-04-29 14:53] AnhTuanNguyenn commented on #6506
hello Luca, i has installed newest version   5.3.220429 on server test, it's seem better old version but i have alway error
![test](https://user-images.githubusercontent.com/24913199/165968624-e1b8008c-1a42-43f8-b19a-d98524edcb2d.PNG)

i was find out a file existy in /var/db/ntopng/tmp/clickhouse:
[code]
i chose one of file exist and excuted it :
`[2.6.0-RELEASE][admin@pfSense01.css.fr]/var/db/nto

[2022-04-29 15:31] lucaderi commented on #6442
Implemented

[2022-04-29 15:31] #6442 closed, assigned to cardigliano

[2022-04-29 15:32] lucaderi commented on #6426
We have added top client/server/alert type menu

[2022-04-29 15:35] #6426 closed, assigned to nobody

[2022-04-29 15:36] lucaderi commented on #6308
OPNsense and pfSense are now supported and as new platforms are supported by ClickHouse, we'll also add support

[2022-04-29 15:36] #6308 closed, assigned to lucaderi

[2022-04-29 15:37] lucaderi commented on #6205
Closing for inactivity

[2022-04-29 15:37] #6205 closed, assigned to nobody

[2022-04-29 15:39] lucaderi commented on #6156
We have already optimized the engine to handle most of the above issues

[2022-04-29 15:39] #6156 closed, assigned to lucaderi, MatteoBiscosi

[2022-04-29 15:48] MatteoBiscosi commented on #6552
Hi @stuartjk1606 added ECS 8.1 support to ntopng flow dumps.
This support is going to be available only from ntopng 5.3 version on.
The support for ECS 8.1 was added following https://www.elastic.co/guide/en/ecs/current/index.html

![Screenshot from 2022-04-29 17-46-17](https://user-images.githubusercontent.com/49585191/165979045-0cb6a183-3eb7-4fa6-ad5a-fe9f38b1c6ef.png)

[2022-04-30 18:25] ToqQrrl commented on #6513
I also confirm that it works.

Thank you Alfredo for your great support … good job !

[2022-05-02 05:07] martinscheu commented on #6554
Hi Matteo,
On the production system it doesn't work.
Let me know if we need to check on that system.
I get only this:
<img width="1796" alt="Screenshot 2022-05-02 at 06 50 11" src="https://user-images.githubusercontent.com/38549755/166186769-865435f8-7081-46dc-a391-1e7877cc7707.png">

but the system has more than one TypeID

[2022-05-02 08:30] MatteoBiscosi commented on #6544
Hi @martinscheu yes exactly as you did.
@uccidibuti took care of it. Please update and let him know

[2022-05-02 09:25] uccidibuti commented on #6544
Hi Martin, this bug should be fixed with commits 0b9f5cf4f6156df31276812baf44213aaeb0fd58 and 91b67b2941506d32fc537f990d0a0e620be33df3 . Let me know if is still present.

[2022-05-02 15:27] lukepenick opened #6558 "nprobe will not install on raspberry pi 4"
When I try to do the install from the instructions :
wget https://packages.ntop.org/RaspberryPI/apt-ntop_1.0.190416-469_all.deb
sudo dpkg -i apt-ntop_1.0.190416-469_all.deb
sudo apt-get update

sudo apt-get install ntopng nprobe n2n

Nothing will install. When I do the packages individually, everything installs but nprobe.

I get the following error:

sudo apt-get install nprobe
Reading package li

[2022-05-02 19:02] lucaderi commented on #6558
Package updated, please report.

[2022-05-02 19:12] lucaderi opened #6559 "Avoid wrap in the Action Column"
![image](https://user-images.githubusercontent.com/4493366/166309357-b45024b4-d2a2-4065-bb2b-56e988c1f953.png)

The above fix should be implemented with all data tables that have the Action column  (e.g. Alerts, Periodicity Map, Checks...)

[2022-05-02 19:14] lucaderi opened #6560 "Missing ICMP Type/Code Mapping To Symbolic Values"
![Screen Shot 2022-05-02 at 21 13 33](https://user-images.githubusercontent.com/4493366/166310360-999eeded-045a-44e5-bf75-fc99da84d6cb.png)

[2022-05-02 19:26] lukepenick commented on #6558
Works! Thank you!

[2022-05-03 06:20] Niklasr69 commented on #5978
If you have a lot of exporters, it should work better if you first must choose an exporter in a drop down (#6534).
When chose interface filter, only the interface for the specific export should be in the drop down.

[2022-05-03 07:17] martinscheu commented on #6544
yes, I can see the alerts previously shown under "unknown"
Thanks Lorenzo @uccidibuti

[2022-05-03 07:17] #6544 closed, assigned to uccidibuti

[2022-05-03 09:04] MatteoBiscosi commented on #6560
Mapped like following. Used the IANA https://www.iana.org/assignments/icmp-parameters/icmp-parameters.xhtml and the relatives RFC
![Screenshot from 2022-05-03 11-03-57](https://user-images.githubusercontent.com/49585191/166428488-ff5ea7d3-9e41-463b-8267-c36914817e72.png)

[2022-05-03 09:36] #6558 closed, assigned to nobody

[2022-05-03 10:48] lucaderi commented on #6336
Verified as fixed

[2022-05-03 10:48] #6336 closed, assigned to lucaderi, MatteoBiscosi

[2022-05-03 10:48] lucaderi commented on #6545
git submodule update --init --recursive

[2022-05-03 10:48] #6545 closed, assigned to MatteoBiscosi

[2022-05-03 10:49] lucaderi commented on #6559
Verified as fixed

[2022-05-03 10:49] #6559 closed, assigned to uccidibuti

[2022-05-03 10:51] lucaderi commented on #6543
Verified as fixed

[2022-05-03 10:51] #6543 closed, assigned to cardigliano, uccidibuti

[2022-05-03 10:54] lucaderi opened #6561 "Disable + Button When There are no EndPoints Defined"
![image](https://user-images.githubusercontent.com/4493366/166441190-bd63396c-ae3d-473d-a08f-abe26fe366a1.png)

[2022-05-03 10:55] lucaderi opened #6562 "Make Dropdown Style Uniform in Recipients/EndPoints"
![image](https://user-images.githubusercontent.com/4493366/166441326-6a82ef2e-150d-4b46-917f-eb9f703baaa6.png)

[2022-05-03 11:00] MatteoBiscosi commented on #6554
Hi @martinscheu as you can see from your screenshot, the flow has no transition, for this reason no chart is displayed. The chart is displayed if there is at least one transition (see my screenshot above)

[2022-05-03 12:29] lucaderi commented on #6536
Verified as fixed

[2022-05-03 12:29] #6536 closed, assigned to uccidibuti

[2022-05-03 12:30] lucaderi commented on #6541
Verified as fixed

[2022-05-03 12:30] #6541 closed, assigned to MatteoBiscosi

[2022-05-03 13:27] lucaderi opened #6563 "Unmapped nDPI Alerts Trigger Errors"
How to reproduce it
- Open a shell and do ping -s 1024 192.168.1.1

Then open the page with your flow

![image](https://user-images.githubusercontent.com/4493366/166461465-8557285d-7eef-473d-9d46-98ddca337d0a.png)

and on the screen appears

03/May/2022 15:26:24 [LuaEngineNtop.cpp:45] ERROR: ntop_map_score_to_severity : expected number[@pos 1], got nil

[2022-05-03 13:29] lucaderi commented on #6563
Also, note that the type is wrong in the flow list and not the same as the one I see in the flow details

![image](https://user-images.githubusercontent.com/4493366/166461818-34badc96-8c7e-4e57-87e7-4f70b2769724.png)

[2022-05-03 13:31] lucaderi commented on #6560
Verified as fixed. Please note that this ticket might have originated this issue #6563

[2022-05-03 13:31] #6560 closed, assigned to MatteoBiscosi

[2022-05-03 15:08] cardigliano commented on #6553
This seems to be expected in the current implementation when the socket used to download the traffic is not as fast as the network interface receiving the traffic to be monitored. In order to overcome this, a new implementation is required, supporting a buffer and adding a packet drop counter to warn the user about what is actually captured out of the original traffic.
Developer Ref: NetworkInterf

[2022-05-03 20:32] lucaderi opened #6564 "Info field is ignored in alerts on ClickHouse"
![Screen Shot 2022-05-03 at 22 31 01](https://user-images.githubusercontent.com/4493366/166560982-8217b0f4-36b3-4223-81ef-bcad600700ec.png)

 SELECT 4 entity_id, (toUnixTimestamp(tstamp_end) - toUnixTimestamp(tstamp)) duration, toUnixTimestamp(tstamp) as tstamp_epoch, toUnixTimestamp(tstamp_end) as tstamp_end_epoch, * FROM `flow_alerts_view` WHERE (first_seen >= 1651607980 AND first_seen <= 165160

[2022-05-03 20:41] lucaderi opened #6565 "Inconsistent ClickHouse Flow/Alert Format"
The same record on ClickHouse is formatted differently if accessed as Alert or as Flow. Example

- Searched as Flow
![Screen Shot 2022-05-03 at 22 36 39](https://user-images.githubusercontent.com/4493366/166561911-1b12d3fe-e406-4ccf-a95f-88a419d0f1a9.png)

- Searched as Alert
![Screen Shot 2022-05-03 at 22 35 35](https://user-images.githubusercontent.com/4493366/166561914-1fb312fe-19e2-4b69-a3c8-4

[2022-05-04 11:16] lucaderi opened #6566 "CSS Inconsistency Across Browsers"
- Chrome
![Screen Shot 2022-05-04 at 13 12 33](https://user-images.githubusercontent.com/4493366/166671292-afeac232-9562-4821-82d2-52fd059367cb.png)
- Safari
![Screen Shot 2022-05-04 at 13 10 14](https://user-images.githubusercontent.com/4493366/166671297-2bb951bf-a278-420c-8472-436d316bf722.png)

This used to work and after the webpack changes it is now broken

[2022-05-04 14:05] lucaderi commented on #6554
Fixed in cf516f7411feba3a4d11d4acc30138446d16b8e1

[2022-05-04 14:25] martinscheu commented on #6554
works fine now, thanks @lucaderi !

[2022-05-04 14:25] #6554 closed, assigned to lucaderi, MatteoBiscosi

[2022-05-04 14:28] #6458 closed, assigned to nobody

[2022-05-04 14:44] zynex-mbrunner opened #6567 "Error deleting alerts"
When trying to delete alerts (single or range), I get the following error message on the endpoint  "/lua/http_status_code.lua"
__.png/scripts/lua/modules/alert_store/flow_alert_store.lua:89: attempt to index a nil value (field 'integer index')

**Environment**:
* OS name: Ubuntu
* OS version: 20.04.4
* Architecture: amd64
* ntopng version/revision: 5.3.220504

**What happened**: Deleting alerts (s

[2022-05-04 15:57] lucaderi opened #6568 "Empty Dropdown in Flow Analysis"
![image](https://user-images.githubusercontent.com/4493366/166721699-3d91ce4b-929e-4779-9d2b-9bc466ecab15.png)

[2022-05-04 17:11] lucaderi opened #6569 "Implement Filters on Empty fields"
The goal is to have something like INFO <> ''

![Screen Shot 2022-05-04 at 19 09 25](https://user-images.githubusercontent.com/4493366/166742042-abde9c0e-df44-40b6-995f-0292bf4023f6.png)
![Screen Shot 2022-05-04 at 19 10 52](https://user-images.githubusercontent.com/4493366/166742121-57993531-32a1-4b1c-a5d7-ed2fe28853e9.png)

[2022-05-04 17:14] lucaderi opened #6570 "Apply Button Should be Enabled Only When Form Value is Valid"
![Screen Shot 2022-05-04 at 19 11 51](https://user-images.githubusercontent.com/4493366/166742317-4662dd5c-2347-48db-b949-c051e2524f8f.png)
)

The Apply button should not be enabled as the input is invalid

[2022-05-04 19:40] cardigliano commented on #6569
It seems the backend actually supports "" (empty value), @uccidibuti please fix the validator to allow empty strings

[2022-05-04 20:23] MatteoBiscosi opened #6571 "Incorrect ICMP type mapping"
![Screenshot from 2022-05-04 22-22-06](https://user-images.githubusercontent.com/49585191/166819593-375dcc8a-a936-4b4f-9434-b5afcdd7245e.png)
![Screenshot from 2022-05-04 22-21-53](https://user-images.githubusercontent.com/49585191/166819613-c71a552e-249a-43de-8dea-a219d82d7362.png)

[2022-05-04 20:52] lucaderi opened #6572 "Invalid IPv6 Address Filtering in Historical Flows"
In the flow analysis page clicking on an IPv6 address
![image](https://user-images.githubusercontent.com/4493366/166823746-059a761c-72ea-4b63-bf06-a387389d1ac8.png)the
following dialog is open
![Screen Shot 2022-05-04 at 22 50 06](https://user-images.githubusercontent.com/4493366/166823840-88d3f1f5-b312-4b22-86f7-2f304eeb8875.png)

Instead of the Server IP (the same happens with the Client) the Se

[2022-05-05 07:55] martinscheu commented on #6555
yes, source is Suricata

[2022-05-05 08:37] bipin-stcs opened #6573 "You are attemping to generate a license for a product 737 days old"
Hello,

I am getting the below error while generating a license for ntopng

**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 16.04]
* Architecture: [e.g. x86_64]
* ntopng version/revision: [e.g. 4.1.200427]

**What happened**:
Not able to generate license. You are attemping to generate a license for a product 737 days old: please update first to a newever version and then generate you

[2022-05-06 07:19] cardigliano commented on #6573
@bipin-stcs as reported by the message, the license generator expects a fairly recent version of the software, as we do not support versions which are too old and cannot provide maintenance for those. I suggest to update the software and try again generating the license. Thank you.

[2022-05-06 07:58] AnhTuanNguyenn commented on #6506
hello @lucaderi , @cardigliano :)
any news ? :)

[2022-05-06 08:40] cardigliano commented on #6555
@martinscheu it would be great if you can check the issue at the single flow level, generating some traffic (e.g. a download) and checking the reported size. Looking at the code everything looks fine, thus I need a way to reproduce it (maybe you can provide some log generated by Suricata for a selected flow, to be injected to ntopng). Thank you.

[2022-05-06 08:45] MatteoBiscosi commented on #6563
Now it's working correctly. Regarding the note above, please follow issue #6571
![Screenshot from 2022-05-06 10-44-35](https://user-images.githubusercontent.com/49585191/167098594-df8fb533-24a7-4668-9864-aa32d0ecc4a8.png)

[2022-05-06 09:15] MatteoBiscosi commented on #6394
Available in the latest ntopng version
![Screenshot from 2022-05-06 11-15-15](https://user-images.githubusercontent.com/49585191/167103512-c169cb90-7166-41d3-aacf-55825d7513fc.png)

[2022-05-06 09:15] #6394 closed, assigned to nobody

[2022-05-06 09:16] MatteoBiscosi commented on #6345
This issue is fixed in the latest ntopng version, please reopen if needed

[2022-05-06 09:16] #6345 closed, assigned to nobody

[2022-05-06 09:24] cardigliano commented on #6572
Fixed in pro 09cdc630b664327800d2420e7d6db793739d218f (custom queries with no IP version field were affected)

[2022-05-06 09:33] MatteoBiscosi commented on #6326
Hi @ryota2425 , we already considered this possibility, but due to the huge number of hosts in a large network and the overhead it would have, we decided to just put the frequency of 5 minutes and 1 minutes for local hosts in case the user decides to use influxdb but not while using rrd. So like @victorvillatoro323 suggested, if you want that frequency for local hosts, please migrate to influxdb

[2022-05-06 09:33] #6326 closed, assigned to nobody

[2022-05-06 09:43] MatteoBiscosi commented on #6095
Hi, like lucaderi suggested, please migrate to ClickHouse db.
Closing for inactivity

[2022-05-06 09:43] #6095 closed, assigned to nobody

[2022-05-06 09:44] MatteoBiscosi commented on #6105
Feature available in the latest ntopng version

[2022-05-06 09:44] #6105 closed, assigned to nobody

[2022-05-06 09:45] MatteoBiscosi commented on #6103
Implemented in the latest ntopng version

[2022-05-06 09:45] #6103 closed, assigned to nobody

[2022-05-06 09:48] MatteoBiscosi commented on #5921
We decided to remove the observation point from the traffic dashboard and keep them only for the flows page in order to avoid these types of misurunderstanding

[2022-05-06 09:48] #5921 closed, assigned to nobody

[2022-05-06 09:51] MatteoBiscosi commented on #5864
Closing for inactivity. Please reopen if needed

[2022-05-06 09:51] #5864 closed, assigned to nobody

[2022-05-06 09:53] MatteoBiscosi commented on #5763
Hi @astalush please update to the latest ntopng version. Mainly in the 5.3 ntopng version we did a lot of reworks in SNMP and the issue should be fixed. Please reopen the ticket if the issue is not fixed.

[2022-05-06 09:53] #5763 closed, assigned to simonemainardi

[2022-05-06 09:55] MatteoBiscosi commented on #5689
Fixed partially in the latest version. Follow issue #6301 regarding multiple time pickers used

[2022-05-06 09:55] #5689 closed, assigned to nobody

[2022-05-06 09:58] MatteoBiscosi commented on #5495
Working in the latest ntopng version. Please reopen it's no more working

[2022-05-06 09:58] #5495 closed, assigned to simonemainardi

[2022-05-06 09:59] #5469 closed, assigned to cardigliano

[2022-05-06 10:07] MatteoBiscosi commented on #4874
Hi @AlekseiSaff please follow up the issue #6117 . We are currently working on it

[2022-05-06 10:07] #4874 closed, assigned to nobody

[2022-05-06 10:17] cardigliano commented on #6567
@uccidibuti please check the "Remove" action, it actually removes the single alert now, but it does not refresh the datatable (you have to reload the page to see the alerts disappear)

<img width="229" alt="Screen Shot 2022-05-06 at 12 15 42" src="https://user-images.githubusercontent.com/7548711/167113256-a358a98e-c769-470c-b065-f9d1fa620744.png">

[2022-05-06 11:38] bipin-stcs commented on #6573
Thank you @cardigliano

[2022-05-06 11:38] #6573 closed, assigned to nobody

[2022-05-06 13:20] victorhooi commented on #3764
@lucaderi Is there any word from the development team - either for disabling the version check, or making the changes to be compatible with InfluxDB 2.0?

[2022-05-06 13:36] lucaderi opened #6574 "When alerts are acknowledged, they are still accounted in the menu"
![Screen Shot 2022-05-06 at 15 17 57](https://user-images.githubusercontent.com/4493366/167143155-5d4055d4-5238-4f87-9367-51db23ceacc9.png)
In the move screen dump the list is empty but there is still 1 accounted as alert

[2022-05-06 13:44] lucaderi opened #6575 "Alerts Drops Check is Duplicated"
![Screen Shot 2022-05-06 at 15 37 23](https://user-images.githubusercontent.com/4493366/167144000-3db44260-e3b5-4337-8d63-4e5a1dca1b2f.png)

These two checks are different but with the same name: this needs to be fixed.

[2022-05-06 15:31] lucaderi opened #6576 "Undocumented User Authentication via Token"
ntopng users can be authenticated using user tokens. Unfortunately, this feature is not documented.

[2022-05-07 09:59] hdsjahuen opened #6577 "When using ntopng, individual IP addresses cannot be viewed"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]

**What happened**:

**What did you expect to happen?**

**How did you reproduce it?**

**Debug Information**:

When I use ntopng, all the other individual IP addresses can be viewed for statistics, but I found that one IP address could not be viewed for st

[2022-05-07 17:16] stuartjk1606 commented on #6552
Thanks for the work there @MatteoBiscosi , unfortunately I will not be able to test it yet as I have hit the next hurdle on my upgrade list, Ubuntu 22. I was hoping the Jammy binaries would be available by now but may have to fire up my old ubuntu 20 gateway if they do not come through soon.

[2022-05-07 17:19] stuartjk1606 commented on #6552
Quick question though, is it specific to Elasticsearch 8.1 or covering any version of Elasricsearch 8.x? Elastic is currently pushing out 8.2.

[2022-05-09 06:33] adrianmoraru commented on #6551
Hello,
Any updates on this issue ?

Thank you,
Adrian Moraru

[2022-05-09 06:48] cardigliano commented on #6576
Instructions for creating a session cookie and using it are available at:
https://www.ntop.org/guides/ntopng/api/rest/api_v2.html (see POST lua/rest/v2/create/ntopng/session.lua)
https://www.ntop.org/guides/ntopng/api/rest/examples_v2.html#create-a-session-cookie

[2022-05-09 07:23] MatteoBiscosi commented on #6577
Hi @hdsjahuen could you please put more information regarding the issue? like ntopng version and some screenshot, cause I'm not understanding which is the problem, if you could add more info it would be better.

[2022-05-09 08:32] hdsjahuen commented on #6550
Please tell me how to view the historical data of a single interface

[2022-05-09 09:49] MatteoBiscosi commented on #6575
Due to the way ntopng is structured, for an alert that needs to be triggered on all interfaces (System too), you need to develop 2 different alerts, one for the system one and one for the interface one, this is the reason why the alert is duplicated. To clear the misunderstanding i changed the alert name.
![Screenshot from 2022-05-09 11-47-17](https://user-images.githubusercontent.com/49585191/167

[2022-05-09 13:04] Taralas opened #6578 "LuaEngine Script Failures on Startup (network_discovery.lua)"
**Environment**:
* OS name: OPNsense Business Edition
* OS version: 22.4, Based on FreeBSD 13.0-STABLE
* Architecture: amd64
* ntopng version/revision: v.5.3.220509

**What happened**:
At startup, ntopng process throws the following errors:

[code]

**What did you expect to happen?**
Startup with no script errors

**How did you reproduce it?**
Clean install of ntopng on OPNsense, restart process

[2022-05-09 13:05] Taralas commented on #6578
This seems to have been occurring since release v.5.3.220426

[2022-05-09 15:37] lucaderi opened #6579 "Engaged Alerts: Table out of Sync with Chart"
![Screenshot 2022-05-09 at 17 35 27](https://user-images.githubusercontent.com/4493366/167445601-372276c7-9c1d-436d-9d88-57ac741c8b7d.png)

[2022-05-10 06:28] hdsjahuen opened #6580 "ntopng cannot be switched on after the licence has expired"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]

**What happened**:

**What did you expect to happen?**

**How did you reproduce it?**

**Debug Information**:

ntopng won't start after a 6 day trial of lincense for Enterprise L
Even after I manually systemctl start ntopng, after two minutes ntopng still

[2022-05-10 07:23] cardigliano commented on #6580
@hdsjahuen please remove the license, and add --community to the configuration file

[2022-05-10 07:31] MatteoBiscosi commented on #6550
Hi @hdsjahuen this is a wanted behaviour.
To check the flows from a specific interface, you have to go to the historical flow page and add a filter; there should be a filter for the interface, select that and select the interface you want

[2022-05-10 08:44] hdsjahuen commented on #6580
Hello, I can now go into the ntopng interface, but don't I get to experience the 10 minute Enterprise L version? Why can't I experience it when I go in?

[2022-05-10 08:48] cardigliano commented on #6580
You can remove --community and play with the Enterprise for 10 minutes. I suggested to add that option as it's usually annoying to switch between version unless you want to test it.

[2022-05-10 08:53] hdsjahuen commented on #6580
thank you

[2022-05-10 08:59] hdsjahuen commented on #6580
我刚刚试了一下，去掉了

[2022-05-10 09:04] hdsjahuen commented on #6580
I just tried to remove the -community
but this gives me the same situation as at the beginning, where the ntopng interface doesn't open at all

[2022-05-10 09:05] cardigliano commented on #6580
Did you remove the license? Can I see the "systemctl status ntopng" output?

[2022-05-10 09:06] hdsjahuen commented on #6580
[root@localhost PF_RING]# systemctl status ntopng
● ntopng.service - ntopng high-speed web-based traffic monitoring and analysis tool
   Loaded: loaded (/usr/lib/systemd/system/ntopng.service; enabled; vendor preset: disabled)
   Active: active (running) since Tue 2022-05-10 05:05:36 EDT; 3s ago
  Process: 46756 ExecStopPost=/bin/rm -rf /run/ntopng.conf /run/ntopng.conf.raw /run/ntopng.pid (code=e

[2022-05-10 09:08] hdsjahuen commented on #6580
I can't delete the license because the page doesn't open when there is no trial-community, then I try to edit etc/ntopng.lincense and he shows that there is no such file. If I switch to --community, the interface shows that there is no ntopng lincense in it.

[2022-05-10 09:09] hdsjahuen commented on #6580
I can't delete the license because the page doesn't open when there is no trial-community, then I try to edit etc/ntopng.lincense and he shows that there is no such file. If I switch to --community, the interface shows that there is no ntopng lincense in it.

[2022-05-10 09:20] hdsjahuen commented on #6577
![image](https://github.com/hdsjahuen/hk/blob/main/1.png)

This is the display when I want to view this single IP

[2022-05-10 09:34] MatteoBiscosi commented on #6577
Hi @hdsjahuen consider that timeseries are available only for Local Hosts, like written in the documentation. If you are referring to flows, check if you have some active flows from the live flows page

[2022-05-10 09:43] hdsjahuen commented on #6577
Thanks, I have one more question, when I do the view, it shows vlan 4095, what does this mean?
![image2](https://github.com/hdsjahuen/hk/blob/main/2.png)

[2022-05-10 09:57] MatteoBiscosi commented on #6577
It means that there is a VLAN on the network you are currently capturing traffic from and the vlan id is the 4095. So those traffic are currently seen on the vlan 4095

[2022-05-10 10:00] hdsjahuen commented on #6577
But vlan id 4095 is not available to users, and I did not create this ID

[2022-05-10 10:04] MatteoBiscosi commented on #6577
Could you please capture some traffic from your interface and send me via e-mail (biscosi at ntop.org) ?
We get the vlan information from the packets, so if we see it we add to the flows information. If you send me an email with a pcap i can try to figure it out if those information are really inside the packets or it's some ntopng bug.

[2022-05-10 10:33] lucaderi opened #6581 "Alerts: Case Issues"
![image](https://user-images.githubusercontent.com/4493366/167609315-73983ae1-1c8d-4d95-ad36-24453e9fc7c6.png)

[2022-05-10 10:39] lucaderi opened #6582 "Alerts: Add Top Protocols Dropdown menu"
![Screen Shot 2022-05-10 at 12 38 21](https://user-images.githubusercontent.com/4493366/167610281-496d7b01-97d2-43ec-b0ee-6b471515b579.png)

[2022-05-10 10:51] lucaderi opened #6583 "Invalid Alert URL"
In alerts if you click on the names below

![Screen Shot 2022-05-10 at 12 49 23](https://user-images.githubusercontent.com/4493366/167612175-28406bc9-fea4-4455-af14-1585bd2f2a85.png)

you obtain

![image](https://user-images.githubusercontent.com/4493366/167612275-42cd07e2-451e-41d0-9f7b-ac89c8d7ce06.png)

Note that there are also duplicated info to remove

![image](https://user-images.githubuserc

[2022-05-10 12:04] DerRealKeyser opened #6584 "Flow Alerts cannot be deleted"
**Environment**:
* OS name: pfSense 22.01
* OS version: FreeBSD 12.3
* Architecture: AMD64
* ntopng version/revision: [e.g. 5.3.220510]

**What happened**:
When attemting to delete past flow alerts, nothing happens - the flow Alerts remains in DB

**What did you expect to happen?**
They should be deleted

**How did you reproduce it?**
Tried restarts, reboots but nothing helps. Cannot delete the fl

[2022-05-10 12:25] lucaderi opened #6585 "OPNsense: Unable to find timezone"
10/May/2022 11:35:37 [Ntop.cpp:3570] WARNING: Unable to find timezone: using UTC

root@opnsense:~ # ls /var/db/zoneinfo
ls: /var/db/zoneinfo: No such file or directory

On FreeBSD everything works as usual

root@freebsd13 203> ls -l /var/db/zoneinfo
1 -rw-r--r--  1 root  wheel  12 Jan 18 21:58 /var/db/zoneinfo

[2022-05-10 13:28] lucaderi commented on #6506
This problem happens only when ntopng is started as a service. We're trying to find a solution. In the meantime please avoid starting ti as a service even though we are on this ticket so we plan to fix it ASAP.

[2022-05-10 13:59] AnhTuanNguyenn commented on #6506
Thank you and your team,
waiting your news :)

[2022-05-10 14:13] thebellringer opened #6586 "Multiple script issues with metrics roll-ups"
Environment:

*Version:       5.2.220504 [Enterprise/Professional build]
GIT rev:        5.2-stable:df2ab44db34f31be4edaa8a6411e0a41f6555948:20220504
Pro rev:        r4753
Built on:       Debian GNU/Linux 10 (buster)
System Id:      LEBB40CC69105A1EF--UEBB40CC6DEF17783--OL
Platform:       x86_64
Edition:        Enterprise L (Bundle)
License Type:   Time-Limited [Empty license file]

**What happene

[2022-05-10 15:22] MatteoBiscosi commented on #6571
Fixed in the last version

[2022-05-10 15:22] #6571 closed, assigned to MatteoBiscosi

[2022-05-10 15:31] MatteoBiscosi commented on #6504
It seems working in my case, please report back
![Screenshot from 2022-05-10 17-30-21](https://user-images.githubusercontent.com/49585191/167666091-fa5da086-c195-4db9-9fcb-618a882fb395.png)
![Screenshot from 2022-05-10 17-30-31](https://user-images.githubusercontent.com/49585191/167666095-9a5d9edb-5f97-46f6-9f08-e56dc8fc6d2a.png)

[2022-05-10 15:46] cardigliano commented on #6580
@hdsjahuen any chance I can connect and take a look directly? (my email is cardigliano at ntop.org)

[2022-05-10 20:16] Taralas commented on #6585
You can set the timezone on OPNsense to get rid of that error with tzsetup.

[2022-05-10 20:39] lucaderi commented on #6585
Unfortunately, OPNsense does not create a symbolic link to the timezone so I had to implement a workaround.

[2022-05-10 20:40] Taralas commented on #6586
This might be related to the following:
https://github.com/ntop/ntopng/issues/6578

[2022-05-10 20:41] #6585 closed, assigned to lucaderi

[2022-05-10 20:51] lucaderi commented on #6504
Verified as fixed

[2022-05-10 20:51] #6504 closed, assigned to MatteoBiscosi

[2022-05-10 20:52] lucaderi commented on #6542
Verified as fixed

[2022-05-10 20:52] #6542 closed, assigned to cardigliano, uccidibuti

[2022-05-10 20:53] lucaderi commented on #6568
Verified as fixed

[2022-05-10 20:53] #6568 closed, assigned to uccidibuti, MatteoBiscosi

[2022-05-10 21:01] lucaderi commented on #6563
Verified as fixed

[2022-05-10 21:01] #6563 closed, assigned to MatteoBiscosi

[2022-05-10 21:03] lucaderi commented on #6569
Verified as fixed

[2022-05-10 21:03] #6569 closed, assigned to uccidibuti

[2022-05-10 21:04] lucaderi opened #6587 "Historical Flows: Info is not Sortable"
The info fields in historical flows is not sortable contrary to all other fields. This ticket is to request to make it sortable.

[2022-05-10 21:09] lucaderi commented on #6581
Verified as fixed

[2022-05-10 21:09] #6581 closed, assigned to MatteoBiscosi

[2022-05-10 21:10] lucaderi commented on #6570
Verified as fixed

[2022-05-10 21:10] #6570 closed, assigned to uccidibuti

[2022-05-10 21:12] lucaderi commented on #6575
Verified as fixed

[2022-05-10 21:12] #6575 closed, assigned to MatteoBiscosi

[2022-05-10 21:13] lucaderi commented on #6582
Verified as fixed

[2022-05-10 21:13] #6582 closed, assigned to uccidibuti

[2022-05-10 21:15] lucaderi commented on #6583
Just tested on HS and it seems to be broken

[2022-05-10 21:16] lucaderi commented on #6492
Verified as fixed

[2022-05-10 21:16] #6492 closed, assigned to uccidibuti

[2022-05-11 02:25] hdsjahuen commented on #6577
Can you send it to me via jason file? I don't have access to the data server, so I can't capture the packets.

[2022-05-11 08:23] AnhTuanNguyenn commented on #6506
Testing on server test, feedback within 7 days, thank Luca :)

[2022-05-11 08:52] hdsjahuen opened #6588 "Problems with clickhouse"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]

**What happened**:

**What did you expect to happen?**

**How did you reproduce it?**

**Debug Information**:

Every time the server is shut down or restarted, clickhouse shows that it cannot connect
[image1](https://github.com/hdsjahuen/hk/blob/main/CentO

[2022-05-11 12:08] thebellringer commented on #6586
there is no solution?

[2022-05-11 14:18] cardigliano commented on #6584
This has been fixed in a patch set today (d248d2a158961f5c48115bcdb967bf5303d50212 7025b3dd5b71458d70a234ea21c19dcec359a918 86899d42f757328b6aa62b7be28dfb089646e524), a new software update will be available later today

[2022-05-11 14:21] MatteoBiscosi commented on #6588
Hi @hdsjahuen are your ClickHouse credential right? I mean, when adding the -F option in ntopng to start it, are the values right? for example I use
`-F "clickhouse;127.0.0.1;ntopng;default;"`
because I have default user with no password

[2022-05-11 14:25] MatteoBiscosi commented on #6577
Try to check if you have this possibility in ntopng GUI interface page. If you are capturing from a Packet interface, you are a superuser and you have a pro license at least you should be able to capture a pcap directly from ntopng GUI, by clicking that `PCAP Download`
![Screenshot from 2022-05-11 16-24-18](https://user-images.githubusercontent.com/49585191/167873262-aa2f375a-187b-49b6-9f00-ba62d5

[2022-05-11 15:48] DerRealKeyser commented on #6584
Dang, that was fast :-) Looking forward to update my build tomorrow.

[2022-05-11 15:48] #6584 closed, assigned to cardigliano

[2022-05-11 19:58] MatteoBiscosi commented on #6583
Tested with the latest ntopng version on HS and it seems working now.
![Screenshot from 2022-05-11 21-57-21](https://user-images.githubusercontent.com/49585191/167935257-7bfaf062-c8fa-4470-8a47-66a468a8d67d.png)

[2022-05-12 02:11] nasheayahu opened #6589 "Keep getting: You're not supposed to be here!"
pfSense
2.6.0-RELEASE (amd64)
built on Mon Jan 31 19:57:53 UTC 2022
FreeBSD 12.3-STABLE

Was wonder why I could not connect, had to go to the direct console to repeating messages, after rebooting was directed to view the Crash Reporter and got this:

[code]

I posted the on Netgate "[The firewall has encountered an error](https://forum.netgate.com/topic/172117/the-firewall-has-encountered-an-error

[2022-05-12 02:47] hdsjahuen commented on #6588
This is my ntopng.conf file
[image](https://github.com/hdsjahuen/hk/blob/main/ntopng.png)

Whenever I restart the server, I check the status of ntopng and it shows the following

[root@localhost hk]# systemctl status ntopng
● ntopng.service - ntopng high-speed web-based traffic monitoring and analysis tool
   Loaded: loaded (/usr/lib/systemd/system/ntopng.service; enabled; vendor preset: disabled)

[2022-05-12 07:59] uber99 opened #6590 "You're not supposed to be here!"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [4.2.210624 (0)]

**What happened**:
When going to view by ip in flow i am getting error message

**What did you expect to happen?**
view connections to ip

**How did you reproduce it?**
click on ip and get that error message

**Debug Information**:

[2022-05-12 08:05] MatteoBiscosi commented on #6590
Hi @uber99 are you getting the error when you jump to this page?
![Screenshot from 2022-05-12 10-04-31](https://user-images.githubusercontent.com/49585191/168022475-ca2de498-8d04-4919-b80d-323fa416c7df.png)

[2022-05-12 08:06] MatteoBiscosi commented on #6589
Hi @nasheayahu do you get that error when you try to jump to this page?
![Screenshot from 2022-05-12 10-04-31](https://user-images.githubusercontent.com/49585191/168022622-5c65ce3e-4d53-46f9-9b86-a27e8b9d82b1.png)

[2022-05-12 08:07] uber99 commented on #6590
Hi

When i go to hosts or any part of the system and you click on ip to drill down you get this.

You're not supposed to be here!
Internal server error
__.local/share/ntopng/scripts/lua/modules/plugins_utils.lua:997: module 'active_monitoring.am_utils' not found:__no field package.preload['active_monitoring.am_utils']__no file '/var/db/ntopng/plugins0/modules/active_monitoring/am_utils.lua'__no fi

[2022-05-12 08:28] Batnun opened #6591 "ntopng on OPNsense doesn't work with HTTPS anymore"
Hi,

I've noticed today that ntopng doesn't work with https anymore, even when I select the certificate that always worked. I even tried to change to another certificate but no joy. The GUI is accessible only with http to port 3000.

OPNsense 22.1.7_1-amd64
FreeBSD 13.0-STABLE
OpenSSL 1.1.1o 3 May 2022
ntopng 5.3.220512

Any idea how to check/configure TLS configuration from the CLI?

[2022-05-12 09:52] MatteoBiscosi commented on #6590
Hi @uber99 sorry but i'm not understanding how to reproduce your error, could you please send me a screenshot on where to click to reproduce it? Also, could you please send me your ntopng.conf file?

[2022-05-12 09:56] lucaderi commented on #6591
can you please paste what is inside you ntopng.conf file and how you have created your certificate?

Please also paste any error in the ntopng log

[2022-05-12 09:57] uber99 commented on #6590
![1](https://user-images.githubusercontent.com/85244223/168044504-01e71dba-2137-48dd-b542-221a90b5edb1.PNG)
![2](https://user-images.githubusercontent.com/85244223/168044785-16fa363a-73f3-4672-a349-c7fd59efb0b0.PNG)

If you click on any of these ip address you get that error above

[2022-05-12 10:01] MatteoBiscosi commented on #6590
Hi @uber99 please update to the latest ntopng version. We currently support only 5.3 (dev) and 5.2 (stable) version

[2022-05-12 10:03] lucaderi opened #6592 "Document the list of available checks"
In ntopng there are several checks that are not properly documented.

In https://www.ntop.org/guides/ntopng/scripts/checks.html they are described very technically and are not suitable for end users. This is to request to
- list all the available checks dividing them in families for each entity (flows, interface...)
- for each check explain what it does and what is the logic behind it
- show some

[2022-05-12 10:17] lucaderi commented on #5054
@martinscheu Can you please get in touch with @JudyyHopps so that you can tell her what you exactly want to be documented?

[2022-05-12 10:51] uber99 commented on #6590
Thanks, I have had look around but cant seem to find the updater in the software.
Pfsence package manager is also saying this is upto date.

Thanks

[2022-05-12 11:11] nasheayahu commented on #6589
It gives me the message when I select the IP Address on Hosts:

- All Hosts,
- Networks | Networks Name,
- Host Pool List | Pool Name | All Hosts for Pool Default,
- Autonomous Systems | AS Number | All Hosts for AS 396982,
- Countries | All Hosts for Country US,
- Hosts by Operating System | Name | All Linux Hosts,
- VLANs | All Hosts [VLAN 1077],
- Local HTTP Servers | HTTP Server IP,
- Top Host

[2022-05-12 12:08] cardigliano commented on #5978
@Niklasr69 this requires quite some changes to the filter dialog as we do not have a component for a double selection at the moment, we will consider implementing this in future

[2022-05-12 13:02] MatteoBiscosi commented on #6589
Hi @nasheayahu Could you please update to the latest version and let me know if it is still bugged?

[2022-05-12 13:44] Niklasr69 commented on #5978
@cardigliano
okay, so you mean that is not possible today to only get the interfaces from the filtered exporter?

[2022-05-12 14:03] AnhTuanNguyenn commented on #6506
i will update here my daily test:
after 2h start ntop, they working well but i i got this error you can tell me how to resolve that:
when i click to button it's not happening,

![Capture d’écran 2022-05-12 155855](https://user-images.githubusercontent.com/24913199/168093635-a2c6a37b-29bd-4f58-8404-10d99100aaca.png)

[2022-05-12 14:42] Batnun commented on #6591
![image](https://user-images.githubusercontent.com/13527785/168101215-a0d4893b-5bfd-4989-9f24-afe6a89be35e.png)

[2022-05-12 14:42] Batnun commented on #6591
Can't see any related errors in the log...

[2022-05-12 15:53] nasheayahu commented on #6589
Sure but, its currently showing 0.8.13_10 when will new update take effect on pfSense?

[2022-05-13 00:30] uccidibuti opened #6593 "Explain offline mode in ntopng documentation"
To avoid all ntopng external request (that could slow down the ntopng execution if a firewall is present) there is a possibility to start ntopng with ```--offline``` flag. All the possibility external requests made by ntopng are explained at: https://www.ntop.org/support/faq/to-what-ip-domain-names-ntopng-connects-to/ .
It needs to add this information to the Ntong documentation.

[2022-05-13 06:13] hdsjahuen commented on #6588
Hi, I re-installed and deployed ntopng on my side and also re-installed cilckhouse, but I still have the problem I mentioned above, I don't know if I had a problem installing clickhouse, here are the steps of my installation

yum install -y yum-utils
yum-config-manager --add-repo https://packages.clickhouse.com/rpm/clickhouse.repo
yum install -y clickhouse-server clickhouse-client
sudo /etc/init.d

[2022-05-13 06:15] hdsjahuen commented on #6580
Hello, I wonder if there is any other solution? Because I did inject the lincense before, but after it expires, I want to delete the lincense file, but it shows empty.

[2022-05-13 06:21] hdsjahuen commented on #6577
Hello, my side is connected to ntopng via TCP, I can't capture packets at this interface, my side is showing no
[image1](https://github.com/hdsjahuen/hk/blob/main/3.png)

Is there any other way to get the data on ntopng?

[2022-05-13 06:49] hdsjahuen opened #6594 "Why big data stream warnings and maximum traffic don't match"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]

**What happened**:

**What did you expect to happen?**

**How did you reproduce it?**

**Debug Information**:

When using ntopng, I found that there is a large data stream in the warning message, which is defined as 1GB, but if I check it, the maximum data

[2022-05-13 08:05] lucaderi commented on #6588
Type
sudo systemctl enable clickhouse-server
then reboot and it should work

[2022-05-13 08:07] cardigliano commented on #6580
Please try stopping ntopng and running "redis-cli DEL ntopng.license"

[2022-05-13 08:13] hdsjahuen commented on #6588
thanks

[2022-05-13 08:13] #6588 closed, assigned to nobody

[2022-05-13 08:16] MatteoBiscosi commented on #6594
Hi @hdsjahuen this behavior is normal.
The elephant flow alert is going to be triggered when a flow surpasses a total of X bytes; these bytes are configured in the elephant flow alert
![Screenshot from 2022-05-13 10-09-11](https://user-images.githubusercontent.com/49585191/168240290-c4a9f796-0dfb-4699-9b2a-5f15fa628c01.png)
 It means that when a flow create more then 1GB of traffic from local to r

[2022-05-13 08:16] #6594 closed, assigned to nobody

[2022-05-13 08:40] Batnun commented on #6591
I'm using the same certificate that used for the OPNsense, created by XCA

[2022-05-13 09:02] hdsjahuen commented on #6580
I've done what you said, but it doesn't work yet
[image](https://github.com/hdsjahuen/hk/blob/main/10.png)
[image2](https://github.com/hdsjahuen/hk/blob/main/11.png)

[2022-05-13 09:05] cardigliano commented on #6580
@hdsjahuen I need access to the machine to debug this

[2022-05-13 09:54] martinscheu opened #6595 "ntopng access over https broken"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223] : ntopng Enterprise L v.5.3.220512 (Ubuntu 20.04.4 LTS)

**What happened**:
Access of ntopng GUI over https is not working.
Doesn't matter -W:3001 or --https-port:3001

**What did you expect to happen?**

**How did you reproduce it?**

**Debug Information**

[2022-05-13 10:54] lucaderi commented on #6595
Please use -W=3001 or --https-port=3001 and report

[2022-05-13 11:46] martinscheu commented on #6595
sorry, typo
I meant it doesn't matter if I use
--https-port=3001
or
-W=3001

[2022-05-13 13:56] Batnun commented on #6595
So it's not only me...
https://github.com/ntop/ntopng/issues/6591

[2022-05-13 14:29] lucaderi commented on #6591
In order to enable https you need to
- use -W=<port>
and it will work

[2022-05-13 14:38] Batnun commented on #6591
You mean just replace the lowercase 'w' with uppercase 'W'? I just tried and it didn't help

See also here: https://github.com/ntop/ntopng/issues/6595

[2022-05-13 14:40] lucaderi commented on #6591
Yes. Please open the shell and start ntopng from it such as ntopng /usr/local/etc/ntopng/ntopng.conf and paste the log

[2022-05-13 14:43] lucaderi commented on #6595
Just tested on a clean host
- removed everything
- clean installed ntopng
- started as root@office:/home/deri# ntopng -w 0 -W 3000

This is the log

root@office:/home/deri# ntopng -w 0 -W 3000
13/May/2022 14:40:20 [Redis.cpp:151] Successfully connected to redis 127.0.0.1:6379@0
13/May/2022 14:40:20 [Redis.cpp:151] Successfully connected to redis 127.0.0.1:6379@0
13/May/2022 14:40:20 [NtopPro.cpp:3

[2022-05-13 14:43] #6553 closed, assigned to nobody

[2022-05-13 14:44] MatteoBiscosi commented on #6578
Please update to the latest version and let me know

[2022-05-13 14:49] MatteoBiscosi commented on #4968
Hi martin, in the latest ntopng versions we added a dialog when clicking to the malicious url in order to not lead to unwanted connection, in this way the problem should be resolved please reopen the issue if you think that this is not enough

[2022-05-13 14:49] #4968 closed, assigned to MatteoBiscosi

[2022-05-13 15:36] MatteoBiscosi commented on #6589
Hi @nasheayahu you are not using our ntopng, you are using ntopng version shipped by pfsense (0.8.13_10).
Please follow the documentation and install our repository https://www.ntop.org/guides/ntopng/third_party_integrations/pfsense.html?highlight=pfsense
Our ntopng current version is the 5.3 one.
In that version there should not be this issue (tested it right now); Thanks for your report

[2022-05-13 15:36] #6589 closed, assigned to nobody

[2022-05-13 15:45] MatteoBiscosi commented on #6590
Hi @uber99 please follow up the installation of the ntopng documentation https://www.ntop.org/guides/ntopng/third_party_integrations/pfsense.html?highlight=pfsense
Like pointed out in #6589 you need to install our ntopng not the one shipped with pfSense because it's version it's totally different and unfortunately we do not support it

[2022-05-13 15:45] #6590 closed, assigned to nobody

[2022-05-13 15:59] MatteoBiscosi commented on #6398
Tested on local pc with influxDB by forcing InfluxDB data retention to 1 day.
Please reopen if needed

[2022-05-13 15:59] #6398 closed, assigned to nobody

[2022-05-13 16:02] MatteoBiscosi commented on #6506
Hi @AnhTuanNguyenn please tune the -X option manually from the configuration file. Unfortunately ntopng is not able to modify the configuration file in pfSense.
To know which is the error please check https://www.ntop.org/guides/ntopng/cli_options/cli_options.html

[2022-05-13 16:03] MatteoBiscosi commented on #6524
Verified as fixed

[2022-05-13 16:03] #6524 closed, assigned to uccidibuti

[2022-05-13 16:04] MatteoBiscosi commented on #6486
Verified as fixed, please reopen if needed

[2022-05-13 16:04] #6486 closed, assigned to uccidibuti

[2022-05-14 04:59] martinscheu commented on #6595
I use config file

 Sets the HTTP port of the embedded web server.
--http-port=3000
--https-port=3001

and when I start ntopng as service (systemctl start ntopng) it looks it does not read the config .
when I run from command line "ntopng /etc/ntopng/ntopng.conf" it does work and ntopng is listening on the correct port.

[2022-05-14 05:15] martinscheu opened #6598 "IEC104 Invalid Transition with threshold"
**What would you like to add or change?**:
Add a threshold for the "IEC104 Invalid Transition" alert:
| Transitions | normal operations traffic | malware |
| --- | --- | --- |
| M_ to M_ | \> 1000 | 0   |
| M_ to C_ or C_ to M_ | \> 0 && < 10 | 0   |
| C_ to C_ | 0   | \> 10 |

**Why do you and others need this?**:
reduce false positive alerts, it would be helpful to have user adjustable threshold

[2022-05-14 10:27] lucaderi opened #6599 "Historical Flows and Views"
In the case of a view interface, historical flows are dumped only in the view interface. This means that doing into the physical interface, historical flows are not saved and thus the table is empty.

![Screen Shot 2022-05-14 at 12 25 26](https://user-images.githubusercontent.com/4493366/168421857-d14dde21-c4bb-46b2-ac16-ae5bde375c03.png)

This ticket is to request for all interfaces that are part

[2022-05-14 10:34] lucaderi opened #6600 "Mirror Traffic and Interfaces"
![Screen Shot 2022-05-14 at 12 28 01](https://user-images.githubusercontent.com/4493366/168421936-874d8ff0-bdb7-4df0-9f8a-906b271b7835.png)

When the traffic reported is shown as above (all traffic is in RX and this is kind of impossible for most networks) this usually means that the user has not clicked under Interface in the above item.
![Screen Shot 2022-05-14 at 12 29 33](https://user-images.g

[2022-05-14 10:41] lucaderi opened #6601 "Invalid URL"
![image](https://user-images.githubusercontent.com/4493366/168422317-150d03b7-5c2e-4d47-b467-7821fbfbf833.png)

- In this alert copying the URL I get https:///raw.php (the host is missing)
- Remove "Main Direction" that is obsolete as we now have bytes per direction

[2022-05-14 11:25] AlekseiSaff commented on #6117
amazing. stil l waiting for that feature. great to have both options include (if we see unwanted traffic) and exclude (if we don't see needed traffic for a period of time)

[2022-05-14 11:34] martinscheu commented on #6555
@cardigliano
my setup is ntopng and surricata installed on the same host. I don't think surricata is generating so many log entries.
Normal traffic:
![image](https://user-images.githubusercontent.com/38549755/168423851-c605f16d-aa41-4390-86ab-030c2d97eb53.png)
Syslog interface added:
![image](https://user-images.githubusercontent.com/38549755/168423872-419101eb-d075-425f-b152-aac3e9f2ac7e.png)

an

[2022-05-15 14:59] lucaderi commented on #6598
![Screen Shot 2022-05-15 at 16 57 30](https://user-images.githubusercontent.com/4493366/168479397-84a21f0c-03fb-4beb-ba86-fb802fbaa163.png)

Tested with https://www.netresec.com/?page=Blog&month=2022-04&post=Industroyer2-IEC-104-Analysis

[2022-05-15 14:59] #6598 closed, assigned to nobody

[2022-05-15 19:06] Batnun commented on #6591
Just running 'ntopng' from CLI works, but with HTTP only, port 3000

/usr/local/etc/ntopng.conf is probably associated with the ntopng from the OPNsense repository, so not in use:

-i=opt1,lan,wan
-W=3000
-n=1
-d=/var/db/ntopng

/usr/local/etc/ntopng.conf is an empty file, until I start ntopng from the OPNsense GUI, and then it contain the following:

-i=igb2
-i=igb1
-i=igb0
-w=0
-W=3000
-n=1
--co

[2022-05-15 20:01] Batnun commented on #6591
Update:

I've uninstalled ntopng from the OPNsense GUI, remove everything I've found with find / -name ntopng, and removed the repository.
Then I've installed everything according the following instructions:

https://www.ntop.org/guides/ntopng/third_party_integrations/opnsense.html

This is exactly what I did last time, but now it worked.

Thanks for the help!

[2022-05-16 07:28] cardigliano commented on #6591
Thank you. Please let us know if this happens again.

[2022-05-16 07:28] #6591 closed, assigned to nobody

[2022-05-16 08:06] dkrey opened #6603 "Clickhouse tmp directory is piling up with old files"
**Environment**:
* OS name and  version: CentOS Linux release 7.9.2009 (Core)
* Architecture: amd64
* ntopng version/revision: 5.2.220504
* ClickHouse server version 22.2.2.1

**What happened**:
The clickhouse tmp directory is piling up with old files
/opt/ntopng/tmp/clickhouse

Other than that, Ntopng is working fine - the historical flow explorer seems to

**What did you expect to happen?**
Auto

[2022-05-16 08:43] lucaderi commented on #6603
This problem has been solved on the dev version. Please switch or wait until we release a new stable

[2022-05-16 08:46] dkrey commented on #6603
Alright, thanks for the update!

[2022-05-16 09:31] MatteoBiscosi commented on #6601
The issue now should be fixed, however this problem is going to arise again if the flow does not have a server name

[2022-05-16 10:38] MatteoBiscosi commented on #6600
Added toast liker suggested. It is going to show only if the user has RX-only traffic (TX traffic is 0 and RX is greater then 0).
It's a dismissable toast (if you click dismiss, it's not going to pop-up again) and you can jump to the interface configuration by clicking the link in the toast.
Note that only Packet Interfaces have this configurable option (https://www.ntop.org/guides/ntopng/interfac

[2022-05-16 10:51] MatteoBiscosi commented on #6577
Hi, there is no other way, the only remaining way currently is to capture traffic using tcpdump or something like that in the server side

[2022-05-16 11:09] MatteoBiscosi commented on #6599
in the latest ntopng version, the historical flow submenu is already unavailable in a viewed interface. Other then that I added to datatable.template page the ifid, showing the view interface id instead of the viewed one.

[2022-05-16 14:11] AnhTuanNguyenn commented on #6506
hello @MatteoBiscosi
day 4 of test:
thank you, i was tune it, so good so far with ntopng, it working smoothly
but how can i prevent the alerts of ntopng save on my pfsense disk ? can i disable it in setting ?
i see also in clickhouse there are much alerts was transfered, i love it
![image](https://user-images.githubusercontent.com/24913199/168612215-16adb077-bc61-498f-a7bc-49e8932f775a.png)

[2022-05-16 15:18] MatteoBiscosi commented on #5903
Partially Implemented. Fin Scan currently working.

[2022-05-16 15:38] martinscheu commented on #6595
with latest update it is working not.
Thanks @lucaderi !

[2022-05-16 15:38] #6595 closed, assigned to nobody

[2022-05-16 15:50] #6603 closed, assigned to lucaderi

[2022-05-16 15:51] lucaderi commented on #6268
We have fixed this issue on the latest dev version: as you have a lot of traffic the directory was growing way too much

[2022-05-16 15:51] #6268 closed, assigned to nobody

[2022-05-16 15:56] lucaderi commented on #6371
Verified as fixed

[2022-05-16 15:56] #6371 closed, assigned to lucaderi

[2022-05-16 15:58] lucaderi commented on #6586
@thebellringer Can you please paste the log with full lines and also attach ntopng.conf ? We have not been able to reproduce it on our end so there is somthign weird.

[2022-05-16 16:44] Taralas commented on #6578
Ran through the weekend with the v.5.3.220514 update, Still getting errors, but did not restart

[2022-05-16 16:49] Taralas commented on #6578
Updated to v.5.3.220516. Got the following:

```16/May/2022 11:49:02 [LuaEngine.cpp:595] WARNING: Script failure [/usr/local/share/ntopng/scripts/callbacks/5second/system/notifications.lua][...png/scripts/lua/modules/alert_store/host_alert_store.lua:67: bad argument #21 to 'format' (number expected, got nil)]```

[2022-05-16 20:20] martinscheu commented on #6587
Hi @MatteoBiscosi, it is working on v.5.3.220516

[2022-05-16 20:30] martinscheu commented on #6601
Hi @MatteoBiscosi, it is working on v.5.3.220516: URL:[ 192.168.88.248:8080/WebVisuV3.bin](https://192.168.88.248:8080/WebVisuV3.bin) ] [ Server to Client Traffic: 1.06 MB | Client to Server Traffic: 187.74 KB ]

[2022-05-16 20:34] martinscheu commented on #6583
Hi @MatteoBiscosi can confirm it is working on  v.5.3.220516
Requested Server Name: a83af62d74a244baf459f2ceba4a94f5.clo.footprintdns.com ] [ Server to Client Traffic: 7.01 KB | Client to Server Traffic: 1.81 KB ]

[2022-05-16 20:37] martinscheu commented on #6579
Hi @uccidibuti is working on v.5.3.220516

[2022-05-16 20:46] martinscheu commented on #6451
@MatteoBiscosi could you please tell me where I can find it? ( I couldnt :) )

[2022-05-17 07:57] MatteoBiscosi commented on #6451
Hi @martinscheu, the protocols can be both found as a note in the network discovery page and in the network discovery documentation here https://www.ntop.org/guides/ntopng/web_gui/network_discovery.html
![Screenshot from 2022-05-17 09-55-32](https://user-images.githubusercontent.com/49585191/168759602-0ad9a486-fa2a-4acf-9cfc-6824b95473a7.png)

[2022-05-17 07:57] MatteoBiscosi commented on #6601
Thanks for your report @martinscheu. Please reopen the issue if needed

[2022-05-17 07:57] #6601 closed, assigned to MatteoBiscosi

[2022-05-17 07:58] MatteoBiscosi commented on #6587
Thanks @martinscheu. Please reopen the issue if needed

[2022-05-17 07:58] #6587 closed, assigned to MatteoBiscosi

[2022-05-17 07:59] MatteoBiscosi commented on #6583
Thanks @martinscheu. Please reopen if needed

[2022-05-17 07:59] #6583 closed, assigned to MatteoBiscosi

[2022-05-17 08:03] MatteoBiscosi commented on #6579
Thanks @martinscheu. Verified as fixed

[2022-05-17 08:03] #6579 closed, assigned to uccidibuti, MatteoBiscosi

[2022-05-17 08:05] MatteoBiscosi commented on #6577
Impossible to understand if it is a bug or not, without a pcap. Closing the issue, please reopen if you are able to get a pcap in order to check it.

[2022-05-17 08:05] #6577 closed, assigned to MatteoBiscosi

[2022-05-17 08:10] MatteoBiscosi commented on #6552
Hi @stuartjk1606 . I'm trying to stay tuned with the latest Elasticsearch version. Unfortunately for each version I have to check it. If you are able to check and give me a feedback that would be wonderful. However between 8.1 and 8.2 shouldn't change that much, so it should be working with it to, but it still need to be tested.
Closing the ticket. Please reopen if a problem arise or a new Elastic

[2022-05-17 08:10] #6552 closed, assigned to MatteoBiscosi

[2022-05-17 08:11] #6550 closed, assigned to nobody

[2022-05-17 08:12] #6531 closed, assigned to MatteoBiscosi

[2022-05-17 08:13] MatteoBiscosi commented on #6531
Verified as fixed

[2022-05-17 08:15] MatteoBiscosi commented on #6509
Verified as fixed, please reopen if needed

[2022-05-17 08:15] #6509 closed, assigned to MatteoBiscosi

[2022-05-17 08:20] MatteoBiscosi commented on #6506
Hi @AnhTuanNguyenn yes sure, you can disable alerts from the preferences. However with the latest ntopng version, alerts should take a lot less space, we optimized them a week ago or so. Otherwise you can store alerts in a remote Host with clickhouse installed in. In fact as explained in the documentation https://www.ntop.org/guides/ntopng/clickhouse/clickhouse.html you can have a remote ClickHous

[2022-05-17 08:20] #6506 closed, assigned to nobody

[2022-05-17 08:23] MatteoBiscosi commented on #6499
Both working correctly in the latest ntopng version. Please reopen the ticket if needed
![Screenshot from 2022-05-17 10-22-22](https://user-images.githubusercontent.com/49585191/168765233-06980616-6ea2-4f89-bd09-ef128e4b90a2.png)
![Screenshot from 2022-05-17 10-22-27](https://user-images.githubusercontent.com/49585191/168765242-2a7f556f-3936-4f22-ab40-2cc8f9c08929.png)

[2022-05-17 08:23] #6499 closed, assigned to uccidibuti

[2022-05-17 08:36] MatteoBiscosi commented on #6483
Hi @basicmonkey we were able to debug this problem and to understand the source of the problem.
In all our cases, the problem arose with a firewall blocking some specific traffic ntopng does (for instance the blacklisted lists, google, ecc), so please add this exceptions to your firewall https://www.ntop.org/support/faq/to-what-ip-domain-names-ntopng-connects-to/ and everything should work correct

[2022-05-17 08:46] MatteoBiscosi opened #6604 "Add --offline option to ntopng documentation"
**What would you like to add or change?**:
Update the documentation by adding the `--offline` option the the ntopng option list https://www.ntop.org/guides/ntopng/cli_options/cli_options.html
specifying the purpose of it; like explained in the issue #6483 ntopng contacts external services and for this reason sometime ntopng dashboard is slow (firewall blocks its requests). By adding the `--offline

[2022-05-17 09:29] MatteoBiscosi commented on #6366
Changed Network alert name and implementation. Now it seems working correctly.
![Screenshot from 2022-05-17 11-22-28](https://user-images.githubusercontent.com/49585191/168778871-c362c448-855e-4e4b-99c3-ae673f72da2f.png)
![Screenshot from 2022-05-17 11-22-56](https://user-images.githubusercontent.com/49585191/168778895-72d38908-4de1-4c17-8d80-4da4626becd1.png)

[2022-05-17 15:10] Taralas commented on #6578
Updated to v.5.3.220517. Got the following:

[code]

[2022-05-17 15:17] basicmonkey commented on #6483
Hi @MatteoBiscosi Thanks for letting me know. My firewall doesn't block any outgoing requests from the ntop VM. It can talk to anything. Only Russian and Belarusian IPs are blocked at the moment!

I've tried --offline in v.5.3.220517 and makes no difference. Still 15second AJAX requests.

[2022-05-17 16:18] djstarfox opened #6605 "TZNAME is not set"
I keep seeing this in the ntopng.log file and in system messages as a WARNING:
May 17 09:00:20 pie3 ntopng: [LuaEngineNtop.cpp:3199] WARNING: tzname is not set
May 17 09:00:20 pie3 ntopng[29498]: 17/May/2022 09:00:20 [LuaEngineNtop.cpp:3199] WARNING: tzname is not set

But there is nowhere to set timezone anywhere in the NTOPNG web GUI.

Timezone is set correctly on the Linux operating system:
# t

[2022-05-17 20:51] MatteoBiscosi commented on #6605
Hi @djstarfox we set that in the cookies, however this error happens when the cookie is deleted but the ntopng web gui still is running. You should logout and re-login (for example on my pc happens when i close my pc still running and relogin after a couple of hours and whenever I try to navigate in ntopng web gui this error is gonna happear, however after a couple of navigation, you should be aut

[2022-05-17 20:54] MatteoBiscosi commented on #6578
Hi @Taralas are you running ntopng with clickhouse or not? Because i'm trying to reproduce it but still no success.
Could you please share your ntopng configuration file?

[2022-05-18 10:47] cardigliano opened #6607 "Detect network bottlenecks from the SNMP topology chart"
Currently the Topology chart available under the SNMP menu shows the network topology when LLDP/CDP is available. It would be nice to:
1. implement a check able to detect network bottlenecks by checking the link load vs the link speed information coming from SNMP, using a configured threshold (global percentage should work for now).
2. based on the check in 1, highlight the links with issues in th

[2022-05-18 14:17] cardigliano opened #6608 "Link from flow alerts to the alert Info is broken"
In the Flow Alerts page (historical), clicking on the Info action of a single alert, the link which is generated contains status=engaged (which is wrong, it should be empty or historical)

[2022-05-18 14:20] cardigliano opened #6609 "Attempt to perform arithmetic on a nil value in db_flow_details.lua"
HTTP/1.1 302 Found Server: ntopng 5.3.220510 (x86_64) Set-Cookie: session=ec26e36699b46fd9b83e38a985c85de0; path=/; HttpOnly; SameSite=lax Location: /lua/http_status_code.lua?message=internal_error&referer=1.2.3.4%2Flua%2Fpro%2Fdb_flow_details.lua%3Frow_id%3D282019172%26tstamp%3D1652879070%26ifid%3D6&error_message=%2Fusr%2Fshare%2Fntopng%2Fscripts%2Flua%2Fpro%2Fdb_flow_details.lua%3A100%3A%20attem

[2022-05-18 14:34] MatteoBiscosi opened #6610 "Add Error Code filter in the alerts page"
**What would you like to add or change?**:
Add Error Code filters in the alert page in order to be able to search for an Error code status

[2022-05-18 15:43] lucaderi opened #6611 "Implement VLAN check"
In some cases, VLAN traffic (we can assume 0 as VLAN ID for untagged traffic) carries the traffic of specific network segments. This means that we could add a check where we specify for each VLAN the list of allowed networks. In this case, the check triggers alert whenever an IP address not belonging to the set of allowed IP ranges is observed in traffic.

[2022-05-18 20:40] djstarfox commented on #6555
I wonder if that high flow rate you're seeing is on the loopback interface, due to dropped logs or other syslog events?  Try ntopng -i syslog://192.168.1.1:5514 (your IP in there) instead of the * wildcard, and make sure Suricata is fowarding to syslog on the same interface.

[2022-05-19 09:03] cardigliano opened #6612 "Update VLAN Trunk Bridging documentation"
VLAN Trunk Bridging in nEdge requires specific configurations. The User's Guide provides instructions for Ubuntu 16 only (https://www.ntop.org/guides/nedge/bridging.html#vlan-trunk-bridging), updated instructions for Ubuntu 20 or later are required. It is thus requested to update the nEdge documentation.

[2022-05-19 09:21] hdsjahuen opened #6613 "Warning about mining inside ntopng"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]

**What happened**:

**What did you expect to happen?**

**How did you reproduce it?**

**Debug Information**:

Trying to identify mining in ntopng, I found a problem when I was looking at
Both ends of the warning activity stream are from China, with only I

[2022-05-19 09:40] hdsjahuen commented on #6613
Can you identify which coins are mined?

[2022-05-19 10:03] JudyyHopps opened #6614 "Checks clarification"
Can anybody please give me more details about the following Checks:

- Error Code
- Possible Exploit
- Suspicious Entropy
- Binary Application Transfer
- Detects anomalies in active flows number (what kind of anomalies?)
- HTTP Suspicious Content

Thank you

[2022-05-19 12:52] thebellringer commented on #6586
Hello,

Thank you for your respons.

Here is the ntopng.conf file :

-G=/var/tmp/ntopng.pid
--community
-n 1
-i enp5s0f0
-m "XXX.XXX.XXX.XX/XX"

The log :

 XXXXX ntopng[13708]: 19/May/2022 13:37:17 [Ntop.cpp:883] Adding XXXXX/128 as IPv6 interface address for enp5s0f0
 XXXXX ntopng[13708]: 19/May/2022 13:37:17 [Ntop.cpp:893] Adding XXXXX/64 as IPv6 local network for enp5s0f0
 XXXXX ntopng[13708]:

[2022-05-19 17:10] lucaderi opened #6615 "Missing Docker Documentation"
The manual lacks documentation on using our tools on docker.
In particular
- mention that we have containers ready at https://hub.docker.com/u/ntop
- use this post https://www.ntop.org/ntop/using-ntop-tools-including-pf_ring-zc-on-docker/ as starting point.
- also reference this https://www.ntop.org/support/faq/license-inside-a-container/
- https://www.ntop.org/ntop/best-practices-for-using-ntop-t

[2022-05-19 20:31] basicmonkey commented on #6483
Can you please reopen this?

[2022-05-20 10:33] lucaderi commented on #6613
yes we can identify throught DPI: see https://github.com/ntop/nDPI/blob/dev/src/lib/protocols/mining.c

Please note that you have millions of drops and thousand of flow alerts you need to analyze (see your screenshot)

[2022-05-20 10:33] #6613 closed, assigned to nobody

[2022-05-20 11:35] MatteoBiscosi commented on #6608
Verified as fixed

[2022-05-20 11:35] #6608 closed, assigned to uccidibuti

[2022-05-20 13:43] Taralas commented on #6578
I do not believe I have moved to clickhouse.

/usr/local/etc/ntopng/ntopng.conf
[code]

After updating to 5.3.220520

```20/May/2022 08:37:06 [LuaEngine.cpp:595] WARNING: Script failure [/usr/local/share/ntopng/scripts/callbacks/5second/system/notifications.lua][...png/scripts/lua/modules/alert_store/host_alert_store.lua:67: bad argument #21 to 'format' (number expected, got nil)]```

[2022-05-20 13:46] MatteoBiscosi commented on #6578
Hi @Taralas , gonna check that, however the `--community=` option is wrong, change it to `--community` and the restart ntopng, let me know

[2022-05-20 13:47] MatteoBiscosi commented on #6578
Which Host checks have you enabled?

[2022-05-20 13:50] MatteoBiscosi commented on #6567
Hi @mbrunner77 please update to the latest ntopng version and the issue should be fixed (tried in 3 labs and it's working on them all).
Reopen if needed

[2022-05-20 13:50] #6567 closed, assigned to cardigliano, uccidibuti

[2022-05-20 15:17] MatteoBiscosi commented on #6586
Hi @thebellringer a new build is going to be available in 4/5 hours at most, please update and let me know

[2022-05-20 15:32] MatteoBiscosi commented on #6574
Should be fixed in latest version

[2022-05-20 15:36] MatteoBiscosi commented on #6580
Hi @hdsjahuen please stop ntopng service (`systemctl stop ntopng`) then run ntopng in foreground by using the command `ntopng /etc/ntopng/ntopng.conf` and report back the entire log until it crashes

[2022-05-20 15:39] MatteoBiscosi commented on #6253
Hi @mattventura we did a lot of improvements in the latest ntopng dev version. Please update to the latest ntopng dev version and let me know if the CPU usage is better (we did some tests and from the 5.1 version we got better performances)

[2022-05-20 15:42] MatteoBiscosi commented on #6267
Hi @notyourcommy could which is your ntopng --version? could you please update and let me know if there is still this issue or not.

[2022-05-20 15:55] MatteoBiscosi commented on #6341
Hi @martinscheu like requested I added the ThreatFox IOCs, already enabled by default
![Screenshot from 2022-05-20 17-54-33](https://user-images.githubusercontent.com/49585191/169566265-a9da16b0-2248-4cdc-98cc-22d33d2e1e64.png)

[2022-05-20 17:19] Taralas commented on #6578
The ```--community=``` is generated by the OPNsense configuration agent. Take a look at https://discordapp.com/channels/726054161547919440/801351993560924181/940279273632194592 where @lucaderi asked for it to be added, and it was incorporated as part of a patch back in Feburary 2022.

For hosts checks, not sure what you are looking for.

[2022-05-23 01:31] hdsjahuen commented on #6613
Both ends of the warning activity stream are from China, with only IPs and no domains, and we also went to the client machines to check and found that no mining activity was taking place.
So if this is the case is it normal?

[2022-05-23 02:01] hdsjahuen commented on #6613
And I would like to ask what are the coins it can recognize? Besides Bitcoin, these

[2022-05-23 07:34] MatteoBiscosi commented on #6483
Hi @basicmonkey yeah sure, you have to reopen the ticket if it's not working.

[2022-05-23 07:41] MatteoBiscosi commented on #6483
Could you please help me debugging this problem?
To understand what's taking this time you have to help me with the curl.
Run these commands and let me know which is taking the most time and which is instead fast.
`curl http://localhost:3000/dist/third-party.js`
`curl http://localhost:3000/dist/third-party.css`
`curl http://localhost:3000/lua/admin/edit_configset.lua?subdir=all`
Instead of `localh

[2022-05-23 07:47] martinscheu opened #6616 "ntopng licence not found message when updating"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]: ntopng Enterprise L v.5.3.220523 (Ubuntu 20.04.4 LTS)

**What happened**:
when updating over command line, the following message is displayed:
<img width="986" alt="Screenshot 2022-05-23 at 09 32 07" src="https://user-images.githubusercontent.com/38549755/

[2022-05-23 07:58] MatteoBiscosi commented on #6578
Hi @Taralas please tell me which host checks you enabled.
![Screenshot from 2022-05-23 09-56-19](https://user-images.githubusercontent.com/49585191/169771317-1eaf4018-c4d0-426d-9987-987da5198dda.png)
If it's still not working, could you try unistalling and reinstalling ntopng? because i did a fresh install and i have no error.
When do you get this error? by just starting ntopng or by going in a sp

[2022-05-23 08:28] cardigliano commented on #6616
@martinscheu it seems this is due to a bad check in the maintenance, which has been already fixed, please go ahead with the installation

[2022-05-23 08:32] recalmer commented on #6616
I received the same message,  with the update for debian and a valid Enterprise L-lic.
https://packages.ntop.org/apt/bullseye x64/ ntopng 5.3.220523-17696
I have change last week the new "Enterprise L"-lic with a valid maintenance.

[2022-05-23 08:35] recalmer commented on #6616
After the update, the ntopng-service run with a valid license. It looks like it only affects the update process.

[2022-05-23 08:37] cardigliano commented on #6616
@recalmer yes it has been fixed as you noticed with the update

[2022-05-23 08:37] #6616 closed, assigned to nobody

[2022-05-23 11:23] lucaderi opened #6617 "Historical Alerted Flows: Host DrillDown is Numeric"
When doing drill down on alerted flows, the filtered client/server is search numerically and not symbolically

[2022-05-23 13:38] cardigliano commented on #6617
Note: this happens when clicking on a host in the "Top" dropdown.

[2022-05-23 13:54] lucaderi opened #6618 "Historical Alert Download is Broken"
![image](https://user-images.githubusercontent.com/4493366/169835135-b5f50a9c-a47e-4d85-a51a-ae11ad8d8176.png)

is broken as it reports

alert_id|alert_status|interface_id|tstamp|tstamp_end|severity|score|json|ip_version|cli_ip|srv_ip|cli_port|srv_port|vlan_id|is_cli_attacker|is_cli_victim|is_srv_attacker|is_srv_victim|proto|l7_proto|l7_master_proto|l7_cat|cli_name|srv_name|cli_country|srv_country

[2022-05-23 16:08] lucaderi commented on #6614
Please see https://www.ntop.org/guides/nDPI/flow_risks.html

[2022-05-23 20:56] Taralas commented on #6578
I get that error whether logged in or not.

<img width="1035" alt="image" src="https://user-images.githubusercontent.com/173816/169902223-5418f39a-d571-40cb-b685-efc007d1c308.png">

I have never put any checks in place, so I would assume they are the default settings. After removing the packages via the OPNsense UI, and removing the /var/db directory, I am still getting an error. Also, the perform

[2022-05-23 21:35] Taralas commented on #6578
After purging ntopng and redis from the machine, removing the configuration files, removing the database files, and reinstalling, the performance has returned to normal.

However, still getting the following errors:
```23/May/2022 16:34:31 [LuaEngine.cpp:595] WARNING: Script failure [/usr/local/share/ntopng/scripts/callbacks/5second/system/notifications.lua][...png/scripts/lua/modules/alert_store/

[2022-05-24 01:23] hdsjahuen commented on #6613
Hello, can you please solve my problem?

[2022-05-24 06:16] adrianmoraru commented on #6551
Hello,
Any news on this issue ?

Thank you,
Adrian Moraru

[2022-05-24 06:46] lucaderi commented on #6613
First of all please update to the current ntopng version that includes the most recent nDPI. Then if you believe you have misclassified traffic, please create a pcap file that we can use to reproduce the problem (you can test it with ntopng -i <pcap file>) and attach it to a new ticket. With the info you sent there is not much we can do.

[2022-05-24 06:51] lucaderi commented on #6578
I think I have fixed the above problem. Please test it (packages will be available in 1h) and reopen this ticket if necessary

[2022-05-24 07:37] lucaderi opened #6620 "Check Exclusions Are Useless for Specific Alerts"
![image](https://user-images.githubusercontent.com/4493366/169973597-3b5fc44e-a079-47c3-a7e3-690976acb93d.png)

Specific alerts such as
- Suspicious DGA Domain
- Known protocol on non-standard port
- Suspicious User Agent

cannot be handled with standard exclusions but they need to be handled with nDPI exceptions. This requires the web interface to be modified by
- giving use the ability to whitel

[2022-05-24 08:19] MatteoBiscosi commented on #6617
Fixed and tested on HSol

[2022-05-24 08:19] #6617 closed, assigned to MatteoBiscosi

[2022-05-24 08:19] MatteoBiscosi commented on #6618
Fixed and tested on HSol

[2022-05-24 08:19] #6618 closed, assigned to MatteoBiscosi

[2022-05-24 08:19] MatteoBiscosi commented on #6609
Verified as fixed

[2022-05-24 08:19] #6609 closed, assigned to nobody

[2022-05-24 08:21] MatteoBiscosi commented on #6564
Verified as fixed, tested on HSol

[2022-05-24 08:21] #6564 closed, assigned to cardigliano, MatteoBiscosi

[2022-05-24 08:23] cardigliano commented on #6620
- a list of supported "subjects" to be excluded should be added to the check configuration (e.g. src host, dst host, domain, certificate issuer) according to those supported by nDPI
- when clicking on the "disable" action for a specific alert, the above subjects should be provided in the dialog before applying the filter. Note that the certificate issuer should be provided only for TLS versions wh

[2022-05-24 09:23] MatteoBiscosi commented on #6605
Verified as fixed

[2022-05-24 09:23] #6605 closed, assigned to lucaderi, MatteoBiscosi

[2022-05-24 09:24] MatteoBiscosi commented on #6565
Implemented as requested and tested on HSol

[2022-05-24 09:24] #6565 closed, assigned to cardigliano, MatteoBiscosi

[2022-05-24 13:07] lucaderi opened #6621 "Engaged Host Alert Filters Broken"
![image](https://user-images.githubusercontent.com/4493366/170042104-6472f82c-496e-4c05-a3b1-06467c51d992.png)

Also note that at the bottom of the page the SQL button is missing.

[2022-05-24 13:38] cardigliano commented on #6621
Fixed in 5b0e59b50c4589fe74a4916b2c0699e55ecd2ca1

[2022-05-24 14:08] lucaderi opened #6622 "Implement Connection Failed Alert"
![image](https://user-images.githubusercontent.com/4493366/170055008-e6b22b5a-bb1c-46eb-a376-963c77feca15.png)

Similar to non-UDP unidirectional traffic alert, this is to request the implementation of alerts when connections as the one above are detected. The alert is emitted when the flow is expired or periodically.

[2022-05-24 15:20] Taralas commented on #6578
Just updated to 5.3.220524, no change on reporting.

[code]

[2022-05-24 15:36] lucaderi opened #6623 "Invalid host naming in flows and alerts"
![image](https://user-images.githubusercontent.com/4493366/170070058-a1ed46ae-5d72-463d-9de0-d538ca730aad.png)

There are several issues to fix in this image
- the pink squared names must be replaced with the blue squared names when available. If not available data will be as today. Note that this issue is also present when displaying historical flows in the flow record view.
- The orange fields m

[2022-05-24 15:43] lucaderi opened #6624 "Remove Empty/Default Fields in Historical Flows/Alerts"
![image](https://user-images.githubusercontent.com/4493366/170076564-a933f906-1b46-4889-8b4c-0fc1ce32f716.png)

In the image above the fields with empty or default values need to be removed to make everything smaller.

[2022-05-24 15:45] martinscheu opened #6625 "Clickhouse import shows erros"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]: ntopng Enterprise L v.5.3.220520 (Ubuntu 20.04.4 LTS)

**What happened**:
On ntopng / System / Health / ClickHouse is showing:
24/May/2022 15:39:26 Cannot parse input: expected '\'' before: 'generateUUIDv4(), 4139, 65535, 1653406766, 1653406766, 3, 10, \'t

[2022-05-24 18:19] bash0ra commented on #6625
~~Similar Errors happen to me too.....~~

Moved to #6627

[2022-05-24 19:55] lucaderi opened #6626 "Protocol is not Honoured on External Links"
![image](https://user-images.githubusercontent.com/4493366/170120939-99b645a5-64b1-466f-9a46-00447304f297.png)

External links must use http or https according to the flow. In the example above clicking on the link the URL has https insteaad of http. Please fix this discrepancy.

[2022-05-24 20:16] lucaderi commented on #6625
Can you please report the Clickhouse version? From ntopng system interface -> Health ClickHouse?

[2022-05-24 20:18] lucaderi opened #6627 "ClickHouse No Such Column in View Interface"
@bash0ra Reported
Similar Errors happen to me too.

Environment:

OS name: Ubuntu
OS version: 20.04
Architecture: amd64
ntopng version/revision: ntopng Enterprise M v.5.3.220523 (Ubuntu 20.04.4 LTS) |

What happened:

On ntopng / System / Health / ClickHouse is showing:

24/May/2022 20:18:10 No such column cli2srv_pkts in table ntopng.flow_alerts_view (d4130e74-8493-4c54-b878-98381d814f7b) [183233

[2022-05-24 20:18] lucaderi commented on #6625
@bash0ra I have moved your issue to  #6627 as this is different from the one reported by @martinscheu. Please also repor on #6627 your clickhouse version

[2022-05-24 20:21] lucaderi commented on #6627
I have done this
$ clickhouse-client
ClickHouse client version 22.2.2.1.
Connecting to localhost:9000 as user default.
Connected to ClickHouse server version 22.2.2 revision 54455.

dell.ntop.org :) drop database ntopng;

DROP DATABASE ntopng

Query id: 4a11c8ad-cd20-4524-81fb-ba8c117e537b

Ok.

0 rows in set. Elapsed: 0.009 sec.

dell.ntop.org :) create database ntopng;

CREATE DATABASE ntopng

Q

[2022-05-24 20:24] lucaderi opened #6628 "Junk At the End of Alerts"
![image](https://user-images.githubusercontent.com/4493366/170125452-af62e727-ad5a-4ced-b60e-7f81cc07ca49.png)

You can reproduce it with http://194.xxxxx:3000/lua/pro/db_flow_details.lua?row_id=22601348244&tstamp=1653405649

on the HS host

[2022-05-24 20:42] bash0ra commented on #6627
Clickhouse Version is 22.2.2.1

[2022-05-24 21:08] Taralas opened #6629 "LUA Error and process failure during Network Discovery"
**Environment**:
* OS name: OPNsense Business Edition
* OS version: 22.4, Based on FreeBSD 13.0-STABLE
* Architecture: amd64
* ntopng version/revision: v.5.3.220524

**What happened**:
Enabled Network Discovery, set SNMP community string and SNMPv3 user, and ran discovery and ntopng process terminated. Error message generated was:
```24/May/2022 16:00:34 [LuaEngine.cpp:595] WARNING: Script failure

[2022-05-24 21:09] Taralas opened #6630 "Reopening ticket #6578"
**Environment**:
* OS name: OPNsense Business Edition
* OS version: 22.4, Based on FreeBSD 13.0-STABLE
* Architecture: amd64
* ntopng version/revision: v.5.3.220524

**What happened**:
At startup, ntopng process throws the following errors:

[code]

**What did you expect to happen?**
Startup with no script errors

**How did you reproduce it?**
Clean install of ntopng on OPNsense, restart process

[2022-05-25 09:11] cardigliano commented on #6551
@adrianmoraru sorry for late reply, we are still digging into this, I will try to push this to find a solution asap

[2022-05-25 10:30] MatteoBiscosi commented on #6621
Verified as fixed
![Screenshot from 2022-05-25 12-29-07](https://user-images.githubusercontent.com/49585191/170242306-91533f72-1dcb-4f77-a169-2aeada0bfe78.png)

[2022-05-25 10:30] #6621 closed, assigned to nobody

[2022-05-25 14:42] cardigliano commented on #6551
@adrianmoraru since I was not able to reproduce your issue, I sent you a binary you can use to provide debug information, and instructions to run it, by email.

[2022-05-25 14:48] adrianmoraru commented on #6551
Hello Alfredo,
I received you email. I will test and come back with news.

[2022-05-25 16:09] cardigliano commented on #6630
Duplicate of https://github.com/ntop/ntopng/issues/6578 (reopened)

[2022-05-25 16:09] #6630 closed, assigned to MatteoBiscosi