[2017-05-11 12:27] emanuele-f commented on #1225
Yes

[2017-05-11 12:28] ayeshabasit commented on #1225
<img width="676" alt="3" src="https://cloud.githubusercontent.com/assets/23487380/25948944/39f11d56-366f-11e7-8ebd-f93ee0a585a1.PNG">
This is okay?

[2017-05-11 12:29] ayeshabasit commented on #1225
GUI is not working anymore and database is not getting updated

[2017-05-11 12:32] emanuele-f commented on #1225
Run `service ntopng restart`

[2017-05-11 12:34] ayeshabasit commented on #1225
Omg its woking now!! thank you so so much :DDDDDD <3

[2017-05-11 12:39] emanuele-f commented on #1225
I'm glad we've solved this

[2017-05-11 12:39] #1225 closed, assigned to nobody

[2017-05-11 13:02] #1228 closed, assigned to nobody

[2017-05-11 13:02] jschmitt95 commented on #1228
Problem resolved

[2017-05-11 19:25] ssirag commented on #769
I'm having the "Please install libcurl(-dev) (http://curl.haxx.se/)" issue when running the ./configure script for NtopNG install.

I'm running Ubuntu 16.04 and cloned the https://github.com/ntop/ntopng.git repo twice to fix it.

Versions:
Curl 7.47.0 (x86_64-pc-linux-gnu) libcurl/7.47.0 GnuTLS/3.4.10 zlib/1.2.8 libidn/1.32 librtmp/2.3
Libcurl3 version 7.47.0-1ubuntu2.2

[2017-05-11 19:26] ssirag opened #1229 "NtopNG configure error"
I'm having a "Please install libcurl(-dev) (http://curl.haxx.se/)" issue when running the ./configure script for NtopNG install.

I'm running Ubuntu 16.04 and cloned the https://github.com/ntop/ntopng.git repo twice to fix it.

Versions:
Curl 7.47.0 (x86_64-pc-linux-gnu) libcurl/7.47.0 GnuTLS/3.4.10 zlib/1.2.8 libidn/1.32 librtmp/2.3
Libcurl3 version 7.47.0-1ubuntu2.2

[2017-05-12 08:19] simonemainardi commented on #1229
so are you still getting the error or it is fixed?

[2017-05-12 09:03] ghost opened #1231 "New to ntopng. Geo not working"
Entered my API key. Geo still not working. Issue seems to be:

[Deprecation] getCurrentPosition() and watchPosition() no longer work on insecure origins. To use this feature, you should consider switching your application to a secure origin, such as HTTPS. See https://goo.gl/rStTGz for more details.
initialize @ googleMapJson.js:119

Google Maps API warning: SensorNotRequired https://developers.go

[2017-05-12 10:15] simonemainardi commented on #1231
just tried to reproduce with no luck. I get the warning but the geolocation works. Browser used? Can you try and start ntopng over HTTPS? (see option -W)

[2017-05-12 10:27] ghost commented on #1231
Hmmm, i think ntopng daemon doesn't pick up my config file..... I changed the config file and still i don't get https.

[code]

[2017-05-12 10:30] simonemainardi commented on #1231
you didn't specify any https port: try with

`--https-port=3001`

[2017-05-12 10:48] ghost commented on #1231
Did it. But i think it's not picking up the config file. I also have disable login in there and i still need to login. That's how i see that it's not picking up the config.

[2017-05-12 10:48] emanuele-f commented on #1229
@ssirag are you trying to compile 2.4 stable version or 2.5?

[2017-05-12 10:51] ghost commented on #1231
Interface still running on port 3000.

But I have more issues:

On accessing the web interface the first time i get:
[code]
That goes away and never comes back, so it's not an issue for me.

Also on the console i get:
`Cannot change tcp-segmentation-offload`
Don't know what to do with that either.

[2017-05-12 10:57] ssirag commented on #1229
@simonemainardi still the error
@emanuele-f I'm not sure how to tell which version is compiling...it's the latest code pulled from this repo.

[2017-05-12 11:19] emanuele-f commented on #1229
Do you have PF_RING installed system-wide? Can you post your config.log?

[2017-05-12 12:33] ghost opened #1232 "Missing rrd?"
![screen shot 2017-05-12 at 14 31 30](https://cloud.githubusercontent.com/assets/4884243/25998161/f4c8736c-371f-11e7-8769-3bd7c2a0cc9d.png)

[2017-05-12 12:53] simonemainardi commented on #1164
@surj08 thanks for providing access. I confirm we have solved the issue with the drops.

Anyway, please, check the traffic you are delivering to ntopng. Some IPs are seen with more than 1 MAC address. Please check as, under normal circumstances (unless you are using a load balancer), seeing an IP from more than 1 Mac is not expected.

[2017-05-12 12:53] #1164 closed, assigned to simonemainardi

[2017-05-12 14:15] ssirag commented on #1229
Yes, I have PF_RING installed... config log attached...

[config.log.txt](https://github.com/ntop/ntopng/files/996949/config.log.txt)

[2017-05-12 15:10] emanuele-f commented on #1229
Probably you are missing the `libcurl-devel` dependency. Please install ti with `sudo yum install libcurl-devel`

[2017-05-12 15:20] h0tw1r3 commented on #479
Fresh install, Centos 7. Using the hostname (http://ntop.mylocal.com:3000/) does not work. Using the IP (http://192.168.1.8:3000) does.

[2017-05-12 16:41] juesor opened #1233 "Feature Request - Historical representation of port usage based on IP."
There are a few reports we can get out of the fluke netflow that I’m not able to figure out how to do in nTopNG.

A common report we run is something like, which ports were used against this IP during this time. Is it possible to have that information, and have it historically as well?

Above is from one of my Network Admins that want to utilize nTopNG instead of Fluke Netflow.

Issue #1215 was op

[2017-05-12 17:31] ssirag commented on #1229
I'm on Ubuntu...not seeing any packages corresponding to libcurl-devel.

There are a few with libcurl in the name, but it's not clear if any of these would help...

http://packages.ubuntu.com/search?keywords=libcurl&searchon=names&suite=yakkety&section=all

[2017-05-12 17:55] emanuele-f commented on #1229
Oh sorry, I confused it with Centos. On ubuntu the package is `libcurl4-openssl-dev`.
See https://github.com/ntop/ntopng/blob/dev/doc/README.compilation for detailed dependency information.

[2017-05-12 18:04] ssirag commented on #1229
That was it...thanks...

[2017-05-12 18:23] #1229 closed, assigned to emanuele-f

[2017-05-15 07:41] emanuele-f commented on #1232
What ntopng version are you using (see `ntopng -V`)? Can you post the ntopng log from the terminal?

[2017-05-15 07:45] ghost commented on #1232
v.2.5.170502 [Enterprise/Professional/Embedded Edition]
GIT rev:   dev:8537b2cc0a6d237b910871b6a6d21b4242fa6514:20170502
Pro rev:   r1055
System Id: FD66D271499602D2
Built on:  Raspbian GNU/Linux 8.0 (jessie)

Apparently nothing in the log….

drwxr-xr-x 2 root root  4096 May 15 06:25 .
drwxr-xr-x 9 root root  4096 May 15 06:25 ..
-rwxrwxrwx 1 root root     0 May 15 06:25 ntopng.log
-rwxrwxrwx 1 ro

[2017-05-15 07:45] emanuele-f commented on #1231
The TCP segmentation offload is not a problem.
How do you configure ntopng, via command line options or via `/etc/ntopng/ntopng.conf` ? Can you post the configuration used?

[2017-05-15 07:47] ghost commented on #1231
Again, i get the feeling that my config file is not picked up. I am still running on port 3000 when my config tells me 3001.

[code]

[2017-05-15 07:52] simonemainardi commented on #1231
do you restart ntopng after changing its configuration file?

[2017-05-15 07:52] ghost commented on #1231
Yes.

On Mon, May 15, 2017 at 9:52 AM, simonemainardi <notifications@github.com>
wrote:

[2017-05-15 07:56] emanuele-f commented on #1231
Have you followed the steps to enable HTTPS outlined in https://github.com/ntop/ntopng/blob/dev/doc/README.SSL ?

Note: when ntopng fails to start HTTPS, a message similar to this will appear in the log: `15/May/2017 09:53:12 [HTTPserver.cpp:748] HTTPS Disabled: missing SSL certificate /home/emanuele/src/ntopng/httpdocs/ssl/ntopng-cert.pem`

[2017-05-15 08:03] emanuele-f commented on #1232
What's the output of `ls -l /var/tmp/ntopng/0/rrd/all`?
In order to get the full log, please stop ntopng `systemctl stop ntopng` ad run it from terminal `ntopng /etc/ntopng.conf`

[2017-05-15 08:03] emanuele-f commented on #1210
@jozatan any news?

[2017-05-15 08:04] emanuele-f commented on #1180
Closing for inactivity. Please reopen if necessary

[2017-05-15 08:04] #1180 closed, assigned to nobody

[2017-05-15 08:11] ghost commented on #1232
`ls: cannot access /var/tmp/ntopng/0/rrd/all: No such file or directory`

[code]

[2017-05-15 08:12] PSmolders opened #1235 "ZeroMQ logo/URL shows as a square"
Using ntopng 2.5.170515 on Ubuntu 16.04.2

When using Internet Explorer 11, on the About ntopng page, the ZeroMQ entry shows the first character of ZeroMQ as a square.
![knipsel](https://cloud.githubusercontent.com/assets/8997593/26048274/c02b8688-3956-11e7-83c3-46f116d2fa61.PNG)

Firefox 53 shows a question mark.
![knipsel2](https://cloud.githubusercontent.com/assets/8997593/26048316/e6db0c72-395

[2017-05-15 08:36] emanuele-f commented on #1232
Please remove the `-e` option from the configuration file and retry. Kill existing ntopng instances with `killall ntopng` before retrying

[2017-05-15 08:38] ghost commented on #1231
Yes.

On Mon, May 15, 2017 at 9:56 AM, Emanuele Faranda <notifications@github.com>
wrote:

[2017-05-15 08:40] ghost commented on #1232
HTTP working, HTTPS not.

[code]

[2017-05-15 08:44] emanuele-f commented on #1235
Fixed with ec77102b52a013ff2b3aaed1fa4db91391b6be09 . Thank you!

[2017-05-15 08:44] #1235 closed, assigned to emanuele-f

[2017-05-15 08:46] ghost commented on #1232
Changed -W=:3001 to -W=3001. Server takes too long to respond when accessing over HTTPS. HTTP still ok.

[2017-05-15 08:48] emanuele-f commented on #1232
If you've solved issue #1231, please close it.
About this issue, do you still see the "Missing rrd" error?

[2017-05-15 08:54] ghost commented on #1232
ntopng is now in 10 minute professional mode and i see the RRD error, but also the graph.
<img width="1418" alt="screen shot 2017-05-15 at 10 52 49" src="https://cloud.githubusercontent.com/assets/4884243/26049848/c7a71354-395c-11e7-879f-6d4610eb71bd.png">
On the console i get the following error:

`15/May/2017 10:52:17 [Lua.cpp:6503] WARNING: Script failure [/usr/share/ntopng/scripts/lua/flows_st

[2017-05-15 09:00] ghost commented on #1231
This one is resolved. Was a browser issue together with SSL issue.

[2017-05-15 09:00] #1231 closed, assigned to nobody

[2017-05-15 09:01] emanuele-f commented on #1232
We will do some tests and let you know, thank you.

[2017-05-15 09:36] simonemainardi commented on #1233
Did you consider using the ntopng Historical Data Explorer? You can use the search box to specify a given IP address and also choose the port #.

[2017-05-15 10:37] emanuele-f commented on #1232
Can you explain the steps to get to that page? Are you using a modified version of ntopng?

[2017-05-15 10:47] ghost commented on #1232
No modified version of ntopng. I'm not smart enough for that. ;-)

To reproduce:

Homepage, Hosts, Hosts

<img width="268" alt="screen shot 2017-05-15 at 12 41 54" src="https://cloud.githubusercontent.com/assets/4884243/26054225/1794d838-396c-11e7-8962-62d09838f15c.png">

Any IPV6 host (maybe it behaves the same with IPV4, haven't tried).

<img width="361" alt="screen shot 2017-05-15 at 12 42 10"

[2017-05-15 10:59] emanuele-f commented on #1232
That was an old link pointing to the wrong page. I've fixed it with commit 3be93aad69a39f906087111b85a3d4502826e22f It will be available to you as soon an a new raspberry package will be built. Thank you for reporting.

[2017-05-15 10:59] #1232 closed, assigned to nobody

[2017-05-15 16:51] simonemainardi commented on #1198
@swissiws did you try with the SSDs? Can you comment on the performances?

[2017-05-15 18:10] pwilthew opened #1236 "."

[2017-05-15 19:44] lawrencecare2 opened #1237 "Lua.cpp 6531"
Hi,

Ntopng v.2.5.170515
CentOS Linux release 7.3.1611 (Core)

          Seeing the errors below when accessing ntopng admin page and in logs. Clicking the preferences page will also break access until ntopng is restarted.

HTTP/1.1 500 Internal server error Content-Type: text/html Connection: close   Script "/usr/share/ntopng/scripts/lua/index.lua" returned an error:
/usr/share/ntopng/scripts/lua

[2017-05-15 20:15] blackwat3r88 opened #1238 "Outdated javascript libraries"
Hi,

into the project are used two js libraries with known vulnerabilities.

- jQuery1.11.1 (ntopng/httpdocs/js/jquery.js), affected by XSS, more info at https://nodesecurity.io/advisories/127
- moment.js (ntopng/httpdocs/js/moment.js) affected by a possible dos with a regex value, more info at https://github.com/moment/moment/issues/2936.
Please update this two libraries.

Thanks.

[2017-05-15 21:04] simonemainardi commented on #1236
I can see from the logs that `ERROR: Cannot complete local hosts RRD dump in 5 minutes. Please check your RRD configuration.`

This means ntopng is not able to process all the local hosts within 5 minutes. How many local hosts you have?

[2017-05-15 21:21] #1236 closed, assigned to nobody

[2017-05-16 05:46] TakayukiOnodera opened #1239 "Unexpected message when alerts config was disabled"
It's a minor problem. An unexpected error message is displayed on show_alerts.lua when alerts config was disabled on preferences.

![disabled_alerts_at_pref](https://cloud.githubusercontent.com/assets/27996188/26090832/55f37964-3a42-11e7-8a5c-74db0e5d3033.png)

[2017-05-16 08:17] simonemainardi commented on #1237
This can happen if you have a browser tab open on a given interface, and then you restart ntopng without that interface. The browser will keep issuing requests for the interface but actually ntopng no longer has it in memory and thus notifies with an error.

Can you please confirm?

[2017-05-16 08:43] PSmolders opened #1241 "Enormous number of repeating hosts"
Using ntopng 2.5.170515 on Ubuntu 16.04.2

I noticed my hosts counter going up rather rapidly over the course of this morning. Checking the networks page showed me that there were 4200 local hosts. Considering we only have about 400-500 local hosts, this seemed off. Opening the page containing all local hosts and scrolling through the pages to the end show all normal local hosts first, as is to be

[2017-05-16 12:39] simonemainardi commented on #1241
@PSmolders do you have the same IP address seen multiple MAC addresses (e.g., due to a load balancer)?

[2017-05-16 15:15] delgadod opened #1243 ""column_thpt" always shows "0 pps " when reading from .pcap file"
Hello,

I am using ntopng to translate many .pcap files into Netflow.
The program works great at parsing many large .pcap files quickly.

However I have found that I need to track number of packets exchanged per flow.
Normal exporting always shows 0 pps as throughput, which makes some sense as it's being read from a file instead of live from a network.

Is it possible to have total packets exchang

[2017-05-16 16:15] simonemainardi commented on #1238
fixed in 89df67d6977725e0486aa0fecb04d8f93eec5ed3

[2017-05-16 16:15] #1238 closed, assigned to emanuele-f

[2017-05-16 16:17] simonemainardi commented on #1243
Total throughput is zero when reading from a pcap file and this is normal as a pcap is always replayed at the maximum speed.

If you want to see the number of packets exchanged on a give flow, you just have to visit the flows detail page (click on the Info badge) from the flows list

[2017-05-16 16:17] #1243 closed, assigned to nobody

[2017-05-16 18:03] #1239 closed, assigned to emanuele-f

[2017-05-16 18:03] emanuele-f commented on #1239
Thank you for reporting

[2017-05-16 18:30] delgadod commented on #1243
Hello, thank you Simone.
I see that when selecting "export data" from the web GUI that packet number information is exported.

At the moment I am making HTTP requests using this URL:
`http://localhost:3000/lua/get_flows_data.lua?currentPage=1&perPage=10000&sortColumn=column_&sortOrder=desc`
to automate .pcap to Netflow .json files. This method does not provide the number of packets exchanged.

I s

[2017-05-16 18:35] emanuele-f commented on #1243
Hi, of course you can call the `http://localhost:3000/lua/do_export_data.lua` script via CLI or HTTP request and it will return json data. You can optionally pass "ip", "vlan", "ifid" parameters to restrict the search.

See `https://github.com/ntop/ntopng/tree/dev/doc` for cli curl example

Update: probably I've been too impulsive in the reply, you are interested in flows where what I've reported

[2017-05-16 18:39] delgadod commented on #1243
Thank you Emanuel.

This will help a lot.

[2017-05-16 19:26] delgadod commented on #1243
When calling the do_export_data.lua script there is a csrf value as in:
`http://localhost:3000/lua/do_export_data.lua?csrf=b24f49e4a65077c024d64f67bdd8d50d&hostIP=&hostVlan=`
How is this value generated by the webGUI? I cannot get results without it with HTTP request.

[2017-05-17 06:54] PSmolders commented on #1241
No, everything was working fine without any changes to our physical setup. I will try to update today and report.

[2017-05-17 10:45] PSmolders commented on #1241
I can no longer reproduce the issue in the first post. I did find however that the total number of hosts displayed at the bottom of the page does not correspond to the total hosts reported by the Hosts -> Networks page.

Example: the networks page shows me 824 local hosts and 899 remote hosts. The hosts counter at the bottom of the page shows me 3133 total hosts.

It seems the total hosts counter

[2017-05-17 12:59] emanuele-f commented on #1243
The latest development (2.5) version of ntopng does not use the csrf, so please update. I've fixed that just a few days ago.

[2017-05-17 17:53] emanuele-f commented on #1241
With the latest changes, a new host will be created for each different MAC address. The old behaviour was to create a new host for each different IP address.
The number you see at the bottom of the page reflects the number of active hosts, which now should correspond to the total number of "Devices -> Layer 2" devices. I agree this is confusing though..

[2017-05-17 20:11] delgadod commented on #769
I also am facing this issue on Ubuntu 16.04 as I try to update ntopng
v.2.4.170513 [Professional Edition]
GIT rev:   2.4-stable:00c19bd312019e97f0a1a499382a931d183ff827:20170513
Pro rev:   r643
System Id: 90DC7C979208AB1B
Built on:  Ubuntu 16.04.2 LTS

curl 7.52.1 (x86_64-pc-linux-gnu) libcurl/7.52.1 OpenSSL/1.0.2k zlib/1.2.8

[2017-05-17 20:12] delgadod commented on #1243
I am facing [Issue 769](https://github.com/ntop/ntopng/issues/769) in the ntopng installation, but on Ubuntu 16.04

[2017-05-17 20:28] emanuele-f commented on #1243
Do you have the libcurl issue while compiling the dev version of ntopng? Can you update from our repositories http://packages.ntop.org/ ? Note: you should update to the "nightly builds" version

[2017-05-17 21:06] delgadod commented on #1243
Resolved with dev version, thanks

[2017-05-17 23:11] lawrencecare2 commented on #1237
Thank you. I've exited my browsers and restarted ntopng. The errors are no
longer showing.

On Tue, May 16, 2017 at 1:17 AM, simonemainardi <notifications@github.com>
wrote:

[2017-05-18 00:03] #1237 closed, assigned to nobody

[2017-05-18 06:49] stage0144 opened #1245 "Recover more information when I use ntopng with nprobe"
Hi,

I want to know if it's possible to modificate ntopng or nprobe to display more informations (in my fact I want to display SSL version). But I have seen that Nprobe ins't totally OpenSource, so is it a problem to add informations that I want ?

[2017-05-19 06:43] #1241 closed, assigned to simonemainardi

[2017-05-19 13:44] Thorfinn3 opened #1247 "Error : Unsupported publisher version when I use Ntopng like a probe"
Hi,

So I use one Ntopng on a Raspberry Pi like a probe (plugged on a switch) and an other Ntopng on a server to catch flow and see the trafic.
So I enter on the Raspberry PI : `ntopng -i eth0 -I "tcp://*:3456" (no problem)`
But when I launche the second Ntopng : `ntopng -i tcp://xx.xx.xx.xx:3456`

I have an error :

19/May/2017 06:33:20 [Redis.cpp:109] Successfully connected to redis 127.0.0.1:63

[2017-05-20 10:39] emanuele-f commented on #1247
This is fixed with ef10ba35406bcf8f7f6843bf4e731218d12b8b0c . Please wait the next raspberry package build.

[2017-05-20 10:39] #1247 closed, assigned to nobody

[2017-05-22 02:57] arrmo opened #1249 "Download Historical Data"
Hi,

Sorry if this is a dumb question (it likely is ... :-(), but I can't quite find the plot I'm after. I want to plot the top few IP's and their traffic for the last day (example), and the total for the subnet. I don't see this, so figure if I can download the data I can plot it myself.

Is there a way to download this data (i.e. a URL that provides the samples for the last day, as an example)?

[2017-05-22 07:21] Thorfinn3 commented on #1247
It works, Thank you very much

[2017-05-22 08:10] simonemainardi commented on #769
@delgadod please list the exact steps you did and the error you received

[2017-05-22 08:28] simonemainardi commented on #1245
Hi @stage0144 ,

You can use all the fields you want by specifying them in nprobe template (see option -T). Every field will be displayed in the ntopng flow details page. You just have to select
 a flow by clicking on its "Info" badge to access the corresponding flow details page.

[2017-05-22 12:14] simonemainardi commented on #1249
@arrmo the Professional version gives you a "Report" page that features a top talkers section with traffic for any given period of time. You should try that as it is exactly what you are looking for.

Alternatively, if you want to code your own timeseries extraction features, you can use function `rrd2json` at https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/graph_utils.lua#L1474

[2017-05-22 12:14] #1249 closed, assigned to simonemainardi

[2017-05-22 12:38] arrmo commented on #1249
Thanks for the quick reply! Yep, the Pro version looks to be the answer. To be completely honest though, I can't really afford it for a small home setup (so likely need to roll my own ... :-().

Will give rrd2json a try - again, thanks! Do you know of any examples showing how to use / access it? I'm new to Lua.

[2017-05-22 15:10] ghost opened #1250 "Building Ntopng Windows"
Hello, after testing and building ntopng on Linux following the Netbeans guide step by step, Now I am interested in building for Windows, in order to test, debug and be able to track bugs.
So I would like to ask you the approach you use for ntopng in Windows. It is , what steps shall I follow to set up everything as I did for linux with the Netbeans guide?
Thanks in advance.

[2017-05-22 18:51] delgadod commented on #769
@simonemainardi
This was some time ago, but as I remember I used
sudo apt-get update
sudo apt-get upgrade
Then proceeded to uninstall ntopng and clone the github repo for the stable version, encountering the error "Please install libcurl(-dev) (http://curl.haxx.se/)" when running ./configure
I uninstalled the stable version (and dependencies) and then installed the dev version from http://packages

[2017-05-22 19:41] simonemainardi commented on #769
ok thanks for reporting.  Issue is fixes in dev, indeed.

[2017-05-22 19:42] simonemainardi commented on #1249
the best way is to see how it is called. See for example: https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/graph_utils.lua#L665

[2017-05-22 20:24] lucaderi commented on #1185
Fixed in http://packages.ntop.org/Windows/preview/, will be included in the next stable

[2017-05-22 20:24] #1185 closed, assigned to simonemainardi, emanuele-f

[2017-05-23 15:27] CountZerro commented on #1245
Thank you very much, I will try that.

[2017-05-23 15:28] stage0144 commented on #1245
Thank you very much, I will try that.

[2017-05-23 15:28] #1245 closed, assigned to simonemainardi

[2017-05-23 19:56] ayeshabasit opened #1252 "JSON format for recorded data"
Hi, so an uncompressed entry looks like this:  { "8": "x.y.z.w", "12": "a.b.c.d", "7": 21790, "21": 1495446592, "57595": 0.000000, "57596": 0.000000, "DST_IP_COUNTRY": "example.cn", "INTERFACE": "eth0", "PASS_VERDICT": true }

I just wanted to know what each entry is? Other than the first 2 and the last 4 which are obvious.

[2017-05-23 20:46] s2105 opened #1253 "issue regarding ntopng data visualization"
Hello,

We use nprobe & ntopng on same instance on openstack VM.

We see data coming to the port

ubuntu@ntopng:~$ sudo tcpdump -i eth0 -n udp port 6343 -T cnfp -vv
sudo: unable to resolve host ntopng
tcpdump: listening on eth0, link-type EN10MB (Ethernet), capture size 262144 bytes
14:37:12.395612 IP (tos 0x0, ttl 246, id 23125, offset 0, flags [none], proto UDP (17), length 164)
    199.116.233.

[2017-05-24 00:24] ak2766 opened #1254 "Sort broken on auto-refresh (OK for manual page refresh)."
When I elect to sort the flows by throughput, on auto-refresh of the page (not when I manually click the page refresh), the sort goes haywire.
![selection_048](https://cloud.githubusercontent.com/assets/6629646/26381856/ecb96100-406a-11e7-8517-095c091e5e8c.png)

Upon page refresh, the sort is good again.

UPDATE:
This is on CentOS 7:
[code]
With the following packages:
[code]
Installed following t

[2017-05-24 00:51] ak2766 commented on #1254
I believe the issue is that the IP Address column stays fixed with auto-refresh.  I can see why one would like it set this way - to keep track of current high throughput users - or maybe for performance gains (there are >1500 rows).

However, it would be nice if there was a radio button to lock a column when sort is activated as opposed to the 'sort-of-broken' behaviour currently seen.

Or maybe t

[2017-05-24 04:38] GerogeW opened #1255 "proper config for 4+ Gbps of traffic"
I have a new install with new 10G intel network cards, I have ZC licensed, I am pushing more than 4g of traffic, what should the ntop.conf should look like?

[2017-05-24 05:46] parksj10 opened #1256 "Unsupported Publisher Version with nProbe"
Hi,

I've installed nprobe and ntopng on my windows 2008 R2 Server, and am collecting TrafficFlow (Netflow) data from my Mikrotik router. When I run the programs together with the below commands, I get an error telling me that my nprobe may be out of date, or more specifically, the ntopng received flow is an unsupported publisher version. Please see below for details. Any insight is appreciated. N

[2017-05-24 07:40] emanuele-f commented on #1253
Hi, you should append "c" to the ntopng interface name to use it as a collector e.g `sudo ntopng -i "tcp://127.0.0.1:5556c" -d /var/tmp -w 3000`

See http://www.ntop.org/nprobe/advanced-flow-collection-with-ntopng-and-nprobe/ for more details (you are using push mode)

[2017-05-24 07:47] emanuele-f commented on #1254
Hi, this is the intended behaviour. The update only updates statistics on the page but does not change elements on the page.
What you really need is a real time view of the top hosts of the network with their throughput. We provide this in the traffic dashboard which is available in the pro version of ntopng.

Please see this screenshot:  http://4.bp.blogspot.com/-SQjPNWQhq8o/Vctx9muWLcI/AAAAAAAAA

[2017-05-24 07:56] simonemainardi commented on #1256
you are running nprobe `v 7.5.170507` and ntopng `v 2.4.160627 `, please make sure to install ntopng from http://packages.ntop.org/Windows/preview/

[2017-05-24 07:59] emanuele-f commented on #1255
Hi please verify thay you can actually capture packets from the zc interfaces `pfcount -i zc:eth1`, where  eth1 is your local inteface.

You can then configure ntopng to read from your zc interfaces by editing the `/etc/ntopng/ntopng.conf` and adding `-i=zc:eth1`. See `ntopng -h` for a full list of available options. You should probably set the `-m` option to define your local network segment in C

[2017-05-24 08:02] simonemainardi commented on #1253
- make sure a firewall is not dropping the incoming Netflow traffic. In that case you will see it with tcpdump but nProbe won't get it.

- add options -i=none and -n=none to the nProbe

- run nprobe with verbose option -b=2 and ntopng with -v=5. Messages printed on the console will tell you if flows are correctly received from both ntopng and nprobe

[2017-05-24 08:11] emanuele-f commented on #1252
Hi, the fields you see correspond to the template arguments used within nProbe. Please see "NetFlow v9/IPFIX format" section `nprobe -h` for more details. E.g. "8" is "IPV4_SRC_ADDR".

[code]

As an alternative, you can check https://github.com/ntop/ntopng/blob/dev/include/ntop_flow.h for some mappings

[2017-05-24 08:11] #1252 closed, assigned to nobody

[2017-05-24 08:47] ghost opened #1258 "glib-2.0 missing"
Just compiled ``ntopng`` on Ubuntu 14.04 according to documentation:

	git clone https://github.com/ntop/ntopng.git

	cd ntopng
	./autogen.sh
	./configure
	make

I got following warnings:

	Find 3rd-Party Libraries
	checking for glib_check_version in -lglib-2.0... no
	checking for pkg-config... pkg-config
	configure: WARNING:
	-----------------------------------------------------------------------

[2017-05-24 12:38] GerogeW commented on #1255
here is the syntax i get
# pfcount -i zc:enp4s0f0
Using PF_RING v.6.6.0
Capturing from zc:enp4s0f0 [mac: 90:E2:BA:86:C4:10][if_index: 6][speed: 10000Mb/s]
# Device RX channels: 8
# Polling threads:    1
Dumping statistics on /proc/net/pf_ring/stats/16783-enp4s0f0.6
Unable to enable ring :-(

[2017-05-24 12:40] cardigliano commented on #1255
Do you already have other applications running on the same interface perhaps? (Did you run ntopng for instance?)
Please also disable multiqueue setting RSS=1,1 according to the README.

[2017-05-24 12:49] GerogeW commented on #1255
Ok,  i stopped ntopng,  pfcount -i zc:enp4s0f0 works, and captures packets.

my current config for ixgbe.conf =
RSS=8,8 numa_cpu_affinity=0,0

are you suggesting i change it?

[2017-05-24 12:51] cardigliano commented on #1255
Please set RSS=1,1

[2017-05-24 12:54] GerogeW commented on #1255
do i leave the numa_cpu_affinty=0,0

[2017-05-24 12:56] cardigliano commented on #1255
That depends on your hw configuration, if you are not sure please remove numa_cpu_affinty

[2017-05-24 12:59] GerogeW commented on #1255
Ok, i can remove that.  is this something i should figure out?

[2017-05-24 13:01] cardigliano commented on #1255
How many CPUs do you have? On which CPU is the card connected on the PCIe?

[2017-05-24 13:05] GerogeW commented on #1255
(2) physical cpu, how can i determine which cpu the Network card is bound to?

[2017-05-24 13:06] cardigliano commented on #1255
Please check "lstopo" (or the motherboard manual)

[2017-05-24 13:07] GerogeW commented on #1255
lstopo
Machine (94GB total)
  NUMANode L#0 (P#0 47GB) + Package L#0 + L3 L#0 (12MB)
    L2 L#0 (256KB) + L1d L#0 (32KB) + L1i L#0 (32KB) + Core L#0
      PU L#0 (P#0)
      PU L#1 (P#12)
    L2 L#1 (256KB) + L1d L#1 (32KB) + L1i L#1 (32KB) + Core L#1
      PU L#2 (P#1)
      PU L#3 (P#13)
    L2 L#2 (256KB) + L1d L#2 (32KB) + L1i L#2 (32KB) + Core L#2
      PU L#4 (P#2)
      PU L#5 (P#14)
    L2

[2017-05-24 13:09] cardigliano commented on #1255
It seems everything is on the second node, please use numa_cpu_affinty=6,6 (core 6 is on the second CPU)

[2017-05-24 13:13] GerogeW commented on #1255
Ok,  what config should i use on my ntopng.conf now?

[2017-05-24 15:43] parksj10 commented on #1256
Thanks that solved the versioning issue!

[2017-05-24 16:10] simonemainardi commented on #1256
thanks for reporting

[2017-05-24 16:10] #1256 closed, assigned to nobody

[2017-05-24 19:39] parksj10 opened #1259 "localdate nil value error"
Hi,

I've got my systems set up with the most current version of nprobe and ntopng, and I'm getting the following error, every 3 seconds

`24/May/2017 12:29:19 [Lua.cpp:6462] WARNING: Script failure [C:\Program Files\ntopng\scripts\lua\network_load.lua][C:\Program Files\ntopng/scripts/lua/modules/lua_utils.lua:2737: attempt to index local 'localdate' (a nil value)]`

Also, I have a general questio

[2017-05-24 19:44] s2105 commented on #1253
Hello,

Thanks for your reply. With this two command it was working perfactly fine.

ubuntu@ntopng:~$ sudo nprobe --collector-port 6343 --zmq tcp://
127.0.0.1:5556 >> /dev/null &

ubuntu@ntopng:~$ sudo ntopng -i tcp://127.0.0.1:5556 -d /var/tmp -w 3000 -v

and i tried ubuntu@ntopng:~$ sudo nprobe --collector-port 6343 --zmq tcp://
127.0.0.1:5556  -b 2 -v 5 no messages.

If I need to rebuild my vir

[2017-05-24 21:15] ak2766 commented on #1254
Thanks Emanuele.

Time to pay up or shut up, I see - :).  I'll see if the company is willing to go the extra mile.

Cheers,
ak.

[2017-05-24 21:15] #1254 closed, assigned to nobody

[2017-05-24 22:24] lawrencecare2 commented on #971
Hi,

The external slack alerts doesn't seem to be working for me. I've reset webhook URL and the below curl test works fine but not getting any alerts from ntopng

curl -X POST --data-urlencode 'payload={"channel": "#network", "username": "webhookbot", "text": "This is posted to #network andomes from a bot named webhookbot.", "icon_emoji": ":ghost:"}' https://hooks.slack.com/services/T02FYTEDU/B41

[2017-05-24 23:07] Dav1XD opened #1261 "Search Criteria doens't show"
Hi guys, i'm brazilian. sorry if my english is horrible.

I have a problem with ntopng. I do the command "" ntopng -i eth0 -F "mysql;localhost;ntopng;flows;root;"
""
Ntop says this command shows the historical interface.

I do this, but doens't show.

I want see especific datas, such : "day from " "to", "especific host" "especific protocol".
I up a image from ntop. This image says exactly what i w

[2017-05-25 07:56] simonemainardi commented on #1261
Hi, don't worry for your english, it is more than OK.

Can you please check the output of ntopng (console or Menu->runtime status)? I argue that your connection to the MySQL database is not successful and thus you can't see the search criteria.

[2017-05-25 08:27] bioteseo opened #1262 "ntopng nightly build: host details -> active flows: application filters doesn't work"
Host detail -> active flows -> when I select an application filter for example unknown the output is:
Error 404: Not Found
File not found

I tried all filters shown, the results is the same, i.e.:
http://localhost:3000/ntopng/ntopng/lua/host_details.lua?ifid=0&host=xxx.xxx.xxx.xxx&page=flows
Error 404: Not Found
File not found

I'm using ntopng nightly version
# ntopng --version
v.2.5.170525 [Ente

[2017-05-25 08:53] emanuele-f commented on #1253
Hi, ntopng data is stored in two locations:
- the data directory, which is `/var/tmp` in your case
- Redis, whose dump should be located at `/var/lib/redis/dump.rdb`

You will need to stop both ntopng and redis services before copying the data.

[2017-05-25 08:53] #1253 closed, assigned to nobody

[2017-05-25 08:59] emanuele-f commented on #1255
You can use the configuration outlined in my first reply. For a basic configuration, you can use:

[code]

[2017-05-25 09:11] emanuele-f commented on #971
Have you created slack channels (#interface, #host, #flow) as explained in https://github.com/ntop/ntopng/blob/dev/doc/README.slack ?

Please try to set local hosts thresholds to generate new alerts and see if they are reported correctly to slack.

![screenshot at 2017-05-25 11-10-11](https://cloud.githubusercontent.com/assets/5488003/26443963/fcc7510a-4129-11e7-85b6-6cc61ba91de2.png)

[2017-05-25 09:17] emanuele-f commented on #1262
There is something wrong about the url above, the "ntopng/ntopng" part should not be there.

http://localhost:3000/lua/host_details.lua?ifid=0&host=xxx.xxx.xxx.xxx&page=flows

Can you browse `http://localhost:3000` and tell us when the "ntopng/ntopng" starts appearing in the url?

[2017-05-25 09:18] emanuele-f commented on #1210
Closing for inactivity, please reopen if necessary

[2017-05-25 09:18] #1210 closed, assigned to ValentinaViscarelli

[2017-05-25 09:27] bioteseo commented on #1262
If I remove that it works:
http://localhost:3000/ntopng/ntopng/lua/host_details.lua?ifid=0&host=xxx.xxx.xxx.xxx&page=flows - ko
http://localhost:3000/ntopng/lua/host_details.lua?ifid=0&host=xxx.xxx.xxx.xxx&page=flows - ok
The application filter adds the second ntopng in the url

[2017-05-25 09:31] emanuele-f commented on #1262
"ntopng" should not appear in the url at all, can you tell where the first "ntopng" it is added?

[2017-05-25 09:52] emanuele-f commented on #1262
Please post your `ntopng.conf` file or the command line options used to run ntopng

[2017-05-25 10:48] FadyFadel55 opened #1263 "Host Policy issue"
i cant found the host policy at my pfsense NTOPNG can you help me

[2017-05-25 11:25] bioteseo commented on #1262
I login in ntopng with:
http://xxx.xxx.xxx.xxx:3000
After the login every time I click on ntopng GUI ntopng string compare in the url.
This is an example:
http://xxx.xxx.xxx.xxx:3000/ntopng/lua/about.lua
 The double string ntopng compare only after the application filter as I described above.
This is the startup line: ntopng --pid "/var/tmp/ntopng.pid" --daemon "" --http-port "xxx.xxx.xxx.xxx:3000

[2017-05-25 11:34] bioteseo commented on #1262
In the ntopng.conf I commented: http_prefix
#--http-prefix="/ntopng" and restarted ntopng.
The problem is solved.
As I said, the ntopng user guide "suggest" that line and the stable version haven't got that problem

Thanks

[2017-05-25 12:34] emanuele-f commented on #1262
There is probably a bug in that specific page, I will investigate, thank you

[2017-05-25 12:48] bioteseo commented on #1262
Thank you too

[2017-05-25 13:27] Dav1XD commented on #1261
I doing a test with my pc. Because i have to do this on my pfsense.
I don't know if my ntopng is wrong, but the "runtime status" dont appear.

I'll send a image with ntopng and terminal with command line executed
![captura de tela de 2017-05-25 10-26-21](https://cloud.githubusercontent.com/assets/18383116/26451996/aa04e4d6-4134-11e7-86ff-44e5a49921f6.png)

[2017-05-25 14:53] GerogeW commented on #1255
i'm only seeing a very small amount of traffic with that config.

[2017-05-25 15:21] simonemainardi commented on #1259
Josh, I am assuming you want to monitor Mikrotik traffic so please make sure to add option "-i none" to the nprobe. Please report.

[2017-05-25 15:24] GerogeW commented on #1255
i think the problem may be i have more than 512,000 flows

[2017-05-25 15:28] emanuele-f commented on #1255
You can tune the maximum number of flow with the -X option
[code]
See also -x for the number of hosts:
[code]

[2017-05-25 15:29] gianogli opened #1264 "Request for a new feature: download txt list of local/remote hosts"
I've just seen the new footer of ntopng with the numbers of local/remote hosts:

![ntopng_footer](https://cloud.githubusercontent.com/assets/14093378/26456584/ca0ff70a-416d-11e7-8bf7-9d28cd31f8ef.png)

Very usefull!

Could you add a feature to permit to download the list (in txt format) of, at least, all the local hosts?
This feature would be useful for us to easily identify the IP of our local ho

[2017-05-25 15:29] GerogeW commented on #1255
isn't the max 512000?

[2017-05-25 15:32] parksj10 commented on #1259
Hi Simone,

Thanks for the reply. I was under the impression that nprobe defaulted to i = none when collector-port is specified, as seen in this line of the log

`24/May/2017 12:36:40 [nprobe.c:5540] -i is ignored as --collector-port|-3 has been used: using '-i none'`

I restarted with the option specified anyways and I'm still only getting received traffic on my external IP. Below is an example o

[2017-05-25 15:46] GerogeW commented on #1255
just to confirm, i have 82% packet loss

[2017-05-25 16:01] simonemainardi commented on #1255
@GerogeW you should re-introduce RSS (at least 4 queues), and start ntopng with 4 interfaces on the queues. See this: http://www.ntop.org/ntopng/best-practices-for-running-ntopng/

[2017-05-25 16:03] simonemainardi commented on #1261
oh I see, you have the community version and the historical explorer is not available there. Please, try to install the binary package for pfsense: http://packages.ntop.org/FreeBSD/x64/ntopng/

[2017-05-25 16:18] simonemainardi commented on #1264
Thanks :)

To download host data, you can use the Export data function:

![image](https://cloud.githubusercontent.com/assets/3397663/26459369/7fe097c6-4176-11e7-9c98-147e795c9cef.png)

Each host is in JSON format and has a flag that tells you if it is local or not

[2017-05-25 16:20] simonemainardi commented on #1263
this is only supported in the binary freebsd packages: http://packages.ntop.org/FreeBSD/

[2017-05-25 16:20] #1263 closed, assigned to nobody

[2017-05-25 16:51] simonemainardi commented on #1259
@parksj10 can you confirm you have followed: http://www.ntop.org/ntopng/how-to-analyse-mikrotik-traffic-using-ntopng/ ?

[2017-05-25 17:07] Dav1XD commented on #1261
I have ntopn in my pfsense. But i can't do the command. Give me a error : access denied.

But, in my sql, i gave permition to root access any database.
Because of this i teste on my local machine.

Other question : i see other option with elasticsearch + kibana and i wanna know if this can be give what i want : see especific host in a especific date.

Sorry if i'm abusive, i'm really nervours with

[2017-05-25 17:10] simonemainardi commented on #1261
@Dav1XD mysql export is working properly, I can see there's no error message in the encosed screenshot. However, the search page is only available in the pro version, this is why you can't get it with the version distirbuted in pfsense.

Anyway, you can still explore historical flows if you visit che interface/host chart page, and then select the tab "flows"

[2017-05-25 17:53] parksj10 commented on #1259
Yes. See output below
<img width="526" alt="screen shot 2017-05-25 at 10 53 38 am" src="https://cloud.githubusercontent.com/assets/28692761/26463189/56a1f1a4-4138-11e7-8a63-c9bb9271328a.png">

Did more digging, and it seems that other people have been having the same issue here:

[https://forum.mikrotik.com/viewtopic.php?t=115666](https://forum.mikrotik.com/viewtopic.php?t=115666)

[2017-05-25 20:37] gianogli commented on #1264
Ok, thanks...
I've just tried but there is a big problem. My browser (chrome) is not able to manage the JSON output when there are about 80000 hosts (internal + external) as in my case. Chrome now is freezed and I'm not able to cut and paste the output to a txt file.
I think that you have to modify the "Export  Data" web page, if possible, to add:
  -) a "Save to file" option to save the JSON outp

[2017-05-26 08:06] mahescho opened #1265 ""Top Application Traffic Last Day View" empty"
For me "Top Application Traffic Last Day View" does not get updated. The graph area is empty.

ntopng Pro [Small Business Edition] v.2.5.170524

[2017-05-26 10:46] dkmonaghan opened #1268 "Setting an interface in ntopng.conf breaks dashboard"
Hey there,

I'm using ntopng 2.5.170427 - Pro Small Business Edition. If I define an interface in ntopng.conf, the dashboard loses functionality. The 'Top Local Talkers' ceases to work:

![image](https://cloud.githubusercontent.com/assets/920215/26491753/cb2159fe-4208-11e7-8085-a982d27a8095.png)

My current startup line is as follows:
`ntopng --pid "/var/run/ntopng.pid" --dns-mode "1" --disable-al

[2017-05-26 12:42] emanuele-f commented on #1265
Hi, can you your full ntopng log from startup? If you run ntopng as a service, it should be located at `/var/log/ntopng/ntopng.log`

[2017-05-26 12:44] izzie88 opened #1269 "P2P still being downloaded"
Hello Cento crew,

P2P is still being downloaded through cento.

Worked at first after deployment, now users can now download P2P.

-------my bridge config is as follows
[bridge]
default = forward

[bridge.protocol]
BitTorrent = discard
Filetopia = discard
OpenFT = discard
FastTrack = discard
Gnutella = discard
eDonkey = discard

-------started cento as below
echo 4096 > /sys/kernel/mm/hugepages/h

[2017-05-26 12:53] emanuele-f commented on #1268
Hi, according to the configuration above, your `ntopng.conf` should be like this:

[code]

[2017-05-26 12:57] dkmonaghan commented on #1268
Hi @emanuele-f ,

My ntopng.conf currently looks like this:

[code]

For clarification, my question wasn't regarding how to configure ntopng, but rather that the 'Top Local Talkers' does not function when I specify `-i` in ntopng.conf.

Many thanks.

[2017-05-26 13:21] lucaderi commented on #1198
Closed for inactivity. Will reopen if necessary.

[2017-05-26 13:21] #1198 closed, assigned to simonemainardi

[2017-05-26 13:26] lucaderi commented on #1269
Hello, please move this issue under https://github.com/ntop/nProbe/issues and share a pcap wile with some traffic you believe it's p2p but that's not blocked by cento.

[2017-05-26 13:26] #1269 closed, assigned to nobody

[2017-05-26 13:27] lucaderi commented on #1258
Hello, please install the prerequisites as described in https://github.com/ntop/ntopng/blob/dev/doc/README.compilation and it will work

[2017-05-26 13:27] #1258 closed, assigned to nobody

[2017-05-26 13:33] emanuele-f commented on #1268
Can you post the full ntopng log from startup? If you open the browser inspector, can you see any javascript errors?

[2017-05-26 13:36] dkmonaghan commented on #1268
The browser console reports no javascript errors.

Is this the log you're looking for?

[code]

[2017-05-26 13:38] dkmonaghan commented on #1268
After a few minutes, the Javascript console has reported the following:

![image](https://cloud.githubusercontent.com/assets/920215/26496809/e2d91056-4220-11e7-898c-8328ca3a39be.png)

[2017-05-26 13:39] emanuele-f commented on #1264
Hi, I agree that being able to only filter the local hosts would be ideal.

For now, you can export data via an external script (e.g. via [curl](https://github.com/ntop/ntopng/tree/dev/doc)) and performs your filters there.

[2017-05-26 13:39] dkmonaghan commented on #1268
My nginx error log reports the following:

[code]

[2017-05-26 13:44] emanuele-f commented on #1268
For the original issue, it seems like you miss the local networks flag `-m`. When you used the eth0 interface before, ntopng was able to figure it out itself, but now it can't. So, please add them `-m` flag with a network cidr, e.g `-m="192.168.1.0/24,192.168.2.0/24"`

[2017-05-26 13:46] dkmonaghan commented on #1268
That makes sense! Adding in `-m` has resolved the original issue. Many thanks for your help.

[2017-05-26 13:53] emanuele-f commented on #1268
Ok, that's good. For the other issue, the 403 error should only appear if you restarted ntopng while the browser page was still open, and this is normal. Is this the case?

[2017-05-26 13:55] dkmonaghan commented on #1268
Ah, of course! I have not seen a 403 error in my logs since and the timestamps match up with when I restarted ntopng to get the log files for you.

This issue is now resolved, many thanks for your help.

[2017-05-26 13:55] #1268 closed, assigned to emanuele-f

[2017-05-26 16:43] mahescho commented on #1265
Sorry :-) you want me to send my ntopng.log to you, right?

[2017-05-26 16:46] emanuele-f commented on #1265
Yes, sorry I've missed the "post" word :)

[2017-05-26 16:48] mahescho commented on #1265
sent by mail

[2017-05-26 17:32] emanuele-f commented on #1265
I've just committed a patch to the error shown in the log, which is the cause of your issue.
A new build will be available in one hour, please update, restart ntopng and check the new log file for this error:
[code]

If you don't see it any more, then the problem is fixed and since tomorrow you will be able to see last day view correctly updated.

[2017-05-27 06:20] ayeshabasit opened #1270 "DNS Replies"
Hi, from what I understand, NTOPNG logs DNS queries, but is there a way to log/look at DNS replies? Particularly, is there a way to check if a lookup failed?

[2017-05-27 10:16] mahescho commented on #1265
error is gone, I will report back tomorrow about the data

[2017-05-27 11:19] mahescho commented on #1265
"Top Application Traffic Last Day View" shows the first data. Problem solved, thanks!

[2017-05-27 13:32] emanuele-f commented on #1265
Thank you

[2017-05-27 13:32] #1265 closed, assigned to nobody

[2017-05-27 13:38] emanuele-f commented on #1270
Hi, you can do this on a per-host basis. Just go into an host page and click on the DNS tab.

![screenshot at 2017-05-27 15-37-14](https://cloud.githubusercontent.com/assets/5488003/26521820/b3c9ac28-42e1-11e7-800f-69f27d423bd3.png)

[2017-05-27 13:54] emanuele-f commented on #1262
Fixed with 6e4cc5eacc81584a013de925ba9b5ca3f38b9658 . Thank you for reporting!

[2017-05-27 13:54] #1262 closed, assigned to emanuele-f

[2017-05-27 21:14] arrmo commented on #1249
Thanks for the pointers! Hopefully just a couple dumb questions left .. ;-).

I can find the data by IP address, seems to be in (for example), /var/db/ntopng/0/rrd/192/168/2/4 ... do I have that right? I admit, for this function, not sure what to use for rrdfile (or really, for host). Any pointers you can provide would be greatly appreciated.

Thanks again!

[2017-05-28 07:02] ayeshabasit commented on #1270
Okay, but can we do this on a _per-flow basis_? I know we can see queries, but I couldn't see replies.

[2017-05-29 01:26] parksj10 commented on #1259
@simonemainardi any ideas?

[2017-05-29 07:33] emanuele-f commented on #1270
No, this information is not currently available on the flows. Please open a separate feature request.

[2017-05-29 07:33] #1270 closed, assigned to nobody

[2017-05-29 07:46] mevertse opened #1271 "WARNING Script failure"
We get a warning message every minute
[Lua.cpp:6076] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/minute.lua][/usr/share/ntopng/scripts/lua/modules/alert_utils.lua:1948: attempt to index field 'stats' (a nil value)]

Is there a way to fix this?
Version	2.5.170527 - Community Edition

[2017-05-29 08:20] Niko78 opened #1272 "alerts detection"
hi,
I try to find how to change alert settings cause I have lot of alerts caused by "26 flows sent in 3 sec" and/or "26 flows received in 3s"
For me "26" it's ok and they should not appear in alert, I would like to put a higher value by example

thanks

nico

[2017-05-29 08:24] emanuele-f commented on #1271
Hi, I've just committed a fix for this 91728e40eec7395232ae364900108e515cf94bd4 .
Please update to the next version, which will be available tomorrow. In the meantime, you can temporarily disable alerts with the `-H` option to avoid the error.

[2017-05-29 08:24] #1271 closed, assigned to nobody

[2017-05-29 08:28] emanuele-f commented on #1272
Hi, in order to change these settings, please go into a local host page and click on the "triangle" icon.

![screenshot at 2017-05-29 10-26-26](https://cloud.githubusercontent.com/assets/5488003/26542211/a8e15370-4448-11e7-9a38-8098c888d759.png)

At the bottom of the page you can set the edges which trigger the alerts:
![screenshot at 2017-05-29 10-26-40](https://cloud.githubusercontent.com/assets

[2017-05-29 08:44] Niko78 commented on #1272
thanks

[2017-05-29 09:09] Niko78 commented on #1272
I talked too quickly !
I changed value for "all hosts" but still alerts

![1](https://cloud.githubusercontent.com/assets/17108017/26543699/325082a0-445f-11e7-829b-3dbbd517d7fa.PNG)
![2](https://cloud.githubusercontent.com/assets/17108017/26543706/350722ce-445f-11e7-8ad9-cdd39f945541.PNG)

[2017-05-29 09:30] emanuele-f commented on #1272
Please increase the edges a lot so that the existing alert will get closed (e.g. 1000). After that, you can tweak the correct edges.
Are these hosts you are having such alerts routers or servers? Or are they normal PCs?

[2017-05-29 09:33] Niko78 commented on #1272
ok I increased values... let's see
normal PC yes

[2017-05-29 09:49] Niko78 opened #1273 "filtering broadcast, multicast, default route"
hi

in my ntopng.conf, I use
...
--packet-filter="ip and not ip multicast and not ether broadcast"
...

but it doesn't seem to work
I just want to remove all these IP/network from ntopng GUI
+ not sure how to remove default route (0.0.0.0)

![capture](https://cloud.githubusercontent.com/assets/17108017/26545191/fb9925c2-4464-11e7-8719-cabe095fee2e.PNG)

thanks

[2017-05-29 10:55] Niko78 commented on #1273
ok I found that in log
[CollectorInterface.cpp:277] ERROR: No filter can be set on a collector interface.

[2017-05-29 10:57] emanuele-f commented on #1273
So you should set these filters on the nProbe side, please add `--bpf-filter` option to nProbe.

Note: you should also add "and not ip broadcast" to the filter

[2017-05-29 11:13] Niko78 commented on #1273
not better
[nprobe.c:8199] WARNING: You cannot use BPF filters (ip and not ip multicast and not ether broadcast and not host 0.0.0.0) in collector/proxy mode: BPF filter disabled

[2017-05-29 11:33] Niko78 commented on #1272
![1](https://cloud.githubusercontent.com/assets/17108017/26548212/4d4fc03e-4473-11e7-93ad-15bc067507dd.PNG)
![2](https://cloud.githubusercontent.com/assets/17108017/26548213/502f13ae-4473-11e7-9bc8-4ee5ba4670ef.PNG)

still doesn't work
but it seems to me "SYN flood" works but not "Flow flood"
+ something I don't understand => in the settings it's in "per second" and in alerts it's "in 3 seconds" ?

[2017-05-29 16:59] emanuele-f commented on #1273
Your probe is acting as a flow collector so BPF is indeed not supported. I'm labelling this post as a feature request.

[2017-05-29 17:42] emanuele-f commented on #1272
I've tried to reproduce the issue in my system with no luck. Please try setting an higher value (e.g. 100000) to drop the existing alerts. The alert should be reset after a minute. If that does not help, please consider resetting your alert data through the ntopng preferenes menu.

About the "per second" question, the alert is generated if the number of flows per second of an host is above the spe

[2017-05-30 08:48] Niko78 commented on #1272
well I flushed alerts, not better
I even cleaned my db, still not better

[2017-05-30 11:49] simonemainardi commented on #1273
@Niko78 use the filter on the nprobe (--bpf-filter) not on the ntopng

[2017-05-30 11:49] #1273 closed, assigned to nobody

[2017-05-30 11:53] Niko78 commented on #1273
@simonemainardi that's what Emanuele asked me and I did it with no more success

[2017-05-30 12:49] stage0144 opened #1277 "Add SSL version when I use Ntopng like probe to send flow at an other Ntopng"
Hi,

So today I use a Raspberry PI 3 like a probre plugged on a switch (port mirroring) to catch flow and return it to an other Ntopng. All works good but I want add some informations to flow details.
Indeed first of all I want add the SSL version.

To do that I try to use ndpiFlow on Flow.cpp to create packet. With this packet I recovers the byte wich correspond to SSL version :

`if((isSSL()) &&

[2017-05-30 21:45] simonemainardi commented on #1259
@parksj10 can you please try and install the latest preview build available at http://packages.ntop.org/Windows/preview/

Also, are you able to generate and upload a pcap file of netflow traffic that is collected by nprobe on port 2055 (both templates and records)?

[2017-05-30 22:02] simonemainardi commented on #1249
yes, correct

rrd files should do what you are looking

[2017-05-30 23:08] lawrencecare2 commented on #971
I have done the following...

1. created a slack channel #network

2. set a throughput threshold on a local host
<img width="1161" alt="screen shot 2017-05-30 at 3 54 53 pm" src="https://cloud.githubusercontent.com/assets/8658508/26608442/70706e64-4550-11e7-9262-369a902e1b2f.png">

3. enabled ntopng slack integration and configured a incoming webhook on slack.
![screen shot 2017-05-30 at 3 58 19 p

[2017-05-31 01:22] arrmo commented on #1249
Thanks!

[2017-05-31 03:27] parksj10 commented on #1259
@simonemainardi I installed the most recent build, still getting the nil value error and received traffic on external IP only. Here's a quick sample of my network traffic, let me know if you need a longer file.

Note 1: I collected with wireshark, not sure if you were asking to collect and save pcap with nprobe, it was easier to get the data directly with wireshark

Note 2: you'll need to remove t

[2017-05-31 06:55] izzie88 opened #1278 "Ntopng keeps crashing"
Hello Ntopng team,

My ntopng keeps crashing so i have to always manually restart it.

I find these in the ntopng logs.

25/May/2017 12:50:35 [Lua.cpp:6358] WARNING: Script failure [/usr/share/ntopng/scripts/lua/find_host.lua][/usr/share/ntopng/scripts/lua/find_host.lua:29: bad argument #1 to 'pairs' (table expected, got nil)]
25/May/2017 12:50:35 [Lua.cpp:6358] WARNING: Script failure [/usr/share

[2017-05-31 07:49] simonemainardi commented on #1278
@izzie88 what version are you running? Can you generate a core dump of the crash and upload both the binary and the dump?

[2017-05-31 08:06] gianogli commented on #1264
I've just tried to download the data using wget but there are some inconsistencies between the data shown on the web interface and the exported data.

From web interface we have:

![hosts_ntopng](https://cloud.githubusercontent.com/assets/14093378/26620890/eb4f8c48-45e4-11e7-9c2c-2ebfe6999f90.png)

        Local hosts: 28,404
        Remote hosts: 45,233

But if I use the exported data:

[code]

S

[2017-05-31 08:11] emanuele-f commented on #971
Please create the missing channels and retry:
[code]

[2017-05-31 08:27] simonemainardi commented on #1264
Presently, the counter in the footer does not keep a realtime view of active hosts. That would be too costly in terms of performances and new hosts can arrive or go idle too fast.

So I would expect small differences between the footer counter and the actual number of active hosts. Small, not one half.

Please, let me know how different are the footer counters for hosts wrt the counters found in p

[2017-05-31 09:31] gianogli commented on #1264
Ok, thanks for the info... :-)
In the Hosts web page I see 32768 hosts while the footer image show about 29300 hosts. These values are quite ok. The problem seems to be the exported data file...

[2017-05-31 11:50] simonemainardi commented on #1264
both pages use the same function getActiveHostList so I can't understand why you've such limit.

are you sure the line 'jq '.[].localHost' hosts.json | grep true | wc -l' properly count the local hosts?

[2017-05-31 13:51] emanuele-f commented on #1278
@izzie88 you are using an outdated ntopng version, please update

[2017-05-31 13:59] emanuele-f commented on #1272
Flushing alerts data will remove existing alerts, but it will also remove the alerts configuration, so you need to immediately set a new rule for the host before the fresh alert is triggered. You can do this from the cli with the following commands:
[code]

Please execute them immediately after the alerts flush from the preferences

[2017-05-31 14:01] emanuele-f commented on #1255
@GerogeW have you solved the issue adding the RSS option?

[2017-05-31 14:07] brunno-santiago opened #1279 "After Update CentOS the Licenses for ntopng and nprobe are not work anymore"
After Update CentOS the Licenses for ntopng and nprobe are not work anymore.
nprobe
OrderId: 1487796069
ntopng
OrderId: 1487776178

[2017-05-31 14:11] gianogli commented on #1264
I've tried again...
I don't know if this is important or not but I'm using a "view" interface (ifid=9).

Footer:

![hosts_ntopng](https://cloud.githubusercontent.com/assets/14093378/26635085/e916ed48-4618-11e7-8276-479f57304199.png)

        Local Hosts: ~29000
        Remote Hosts: ~52000
        => Total Hosts: ~81000

End of the "All Hosts" web page:

![hosts2_ntopng](https://cloud.githubuserco

[2017-05-31 14:28] izzie88 commented on #1278
Hi
ntopng Pro [Small Business Edition] v.2.5.170331

[2017-05-31 14:48] emanuele-f commented on #1278
Please update

[2017-05-31 15:47] simonemainardi commented on #1264
the second (grey) badge counts all hosts, not just remote

[2017-05-31 15:49] simonemainardi commented on #1279
what is your systemid? and ntopng and nprobe versions? try adding option --online-license-check

[2017-05-31 15:53] brunno-santiago commented on #1279
SystemId: 68C1DAA776056A7E
Version ntopng: 2.4.170525  Small Business

I have tried put --online-license-check on .conf

[2017-05-31 15:56] simonemainardi commented on #1279
bruno, you system id has changed. You registered the license with system id 68C1DAA**755**05617E. Are you on a VM?

[2017-05-31 15:59] pwilthew opened #1280 "How can I see the per-interface alerts in the web GUI?"
https://github.com/ntop/ntopng/issues/639

I'm using the 2.5.17 Enterprise/Professional Edition, but I can't find a way to see the the probing (and other) alerts.

Thank you,
Patricia

[2017-05-31 16:00] brunno-santiago commented on #1279
Simone, yes, my system is running on a VM vSphere 5.5 the only thing that I did was yum update -y && yum upgrade -y

[2017-05-31 16:34] simonemainardi commented on #1279
please follow instructions at  http://www.ntop.org/support/faq/how-can-i-move-a-license-to-a-new-server/ to transfer the license

Very likely your VM has changed some of the hardware (e.g., a card MAC address) and thus the license cannot be validated.

Please, make sure your VM hypervisor won't change the hardware again as transfer can be only done one time

[2017-05-31 16:34] #1279 closed, assigned to nobody

[2017-05-31 16:35] simonemainardi commented on #1280
there's an alert icol in the interface details page:

![image](https://cloud.githubusercontent.com/assets/3397663/26642931/e4e91842-462f-11e7-864b-e4420cf56209.png)

the alert icon in the menu only appears if there are detected alerts otherwise it is hidden

[2017-05-31 16:35] #1280 closed, assigned to nobody

[2017-05-31 16:45] pwilthew commented on #1280
Would there be any reason to not having any alerts on 74,100+ hosts?

I turned on the "Enable Probing Alerts" option in Security Alerts a week ago.

One of the other interfaces has 45,000+ hosts and does not have any alerts either.

Am I missing something?

Thanks!

[2017-05-31 16:51] brunno-santiago commented on #1279
it works, thanks.

[2017-05-31 17:19] emanuele-f commented on #1280
Hi, have you configured your local networks with the `-m` option? Alerts are only generated for local hosts

[2017-05-31 17:23] pwilthew commented on #1280
Yes, this is the config:
[code]

[2017-05-31 17:39] lawrencecare2 commented on #971
Gotcha, I am receiving Slack alerts now to the specified slack channels now. The alert types are matched to the channel name. Thank you Emanuele.

[2017-05-31 17:47] emanuele-f commented on #971
You are welcome

[2017-05-31 17:47] #971 closed, assigned to emanuele-f

[2017-06-01 04:10] Kazz3r24 opened #1281 "New Feature Request "Plex Media Server" detection for nDPI"
Just wondering if it's possible for Plex Media Server to be added into the detection list for nDPI. It uses TCP port 32400 primarily. Right now it's showing as Unknown under Application.

[2017-06-01 06:40] rwrocket opened #1283 "nprobe on Ubiquity, ntopng on AWS help"
I feel like I am chasing my tail here.
I am new to ntopng and nprobe and what I am trying to is run ntopng on AWS ubuntu 16.04 and nprobe on an Ubiquity Edgerouter.

The Edgerouter only has nprobe installed and is behind a NAT

I run this command on my nprobe Edgerouter
nprobe -n none --zmq "tcp://AWSSERVERIP:1234" -i br0 --zmq-probe-mode
(bridge 0 is the bridge I am passing traffic through)

01/J

[2017-06-01 07:52] gianogli commented on #1264
Are you sure? :-O
If I click over the grey badge the browser go to the http://X.X.X.X:3000/lua/hosts_stats.lua?mode=remote link, that is the "Remote Hosts" page...

[2017-06-02 08:39] izzie88 commented on #1278
i try to update to the new ntopng,
'make install' keeps bringing error.

Please help.

[2017-06-02 08:43] izzie88 commented on #1278
Hi Ntopng crew,
This is what the make install throws:

root@NTOP-DPI:~/ntopng# make install
Make sure you have already run 'make geoip' to also install geoip dat files
While we provide you an install make target, we encourage you
to create a package and install that
rpm - do 'make build-rpm'
deb - do 'cd packages/ubuntu;./configure;make
mkdir -p /usr/local/share/ntopng /usr/local/man/man8 /usr/loc

[2017-06-02 08:52] simonemainardi commented on #1278
@izzie88 are you trying to overwrite an installed ntopng package? Uninstall any existing package and then do an update. (assuming you are using debian/ubuntu, just run apt-get update && apt-get install ntopng)

[2017-06-02 08:56] izzie88 commented on #1278
Hi simone,

this is what i get:

apt-get update
Get:1 http://security.ubuntu.com/ubuntu xenial-security InRelease [102 kB]
Hit:2 http://ng.archive.ubuntu.com/ubuntu xenial InRelease
Get:3 http://ng.archive.ubuntu.com/ubuntu xenial-updates InRelease [102 kB]
Get:5 http://ng.archive.ubuntu.com/ubuntu xenial-backports InRelease [102 kB]
Hit:6 http://packages.ntop.org/apt/16.04 all/ InRelease
Get:4 ht

[2017-06-02 09:04] simonemainardi commented on #1278
It looks like you have accessed the repository mirror while being updated. Wait some time and try again...

[2017-06-02 09:29] simonemainardi commented on #1281
@Kazz3r24 please add a feature request on the nDPI page: https://github.com/ntop/nDPI

Don't forget to add a pcap file containing the traffic you want to be detected.

[2017-06-02 09:29] #1281 closed, assigned to nobody

[2017-06-02 09:36] simonemainardi commented on #1283
You are using old versions of the software. Please upgrade ntopng and nProbe to the latest builds as the zmq-probe-mode.

Having the latest versions installed, you can run (note the c after the ntopng zmq endpoint port):

[code]

[2017-06-02 11:34] Niko78 commented on #1272
still not ok even with your command
in hosts preferences I can see right values but I still get alerts like that
Host xxxxxx is a Flooder (26 flows sent in 3 sec)
Host yyyyyy is under flood attack (26 flows received in 3 sec)

[2017-06-02 11:54] ilovezfs opened #1285 "3.0 build failure on macOS"
The error is
[code]
The flags to `cp` are valid for GNU cp but not for the cp command on macOS.

The man page is here: https://developer.apple.com/legacy/library/documentation/Darwin/Reference/ManPages/man1/cp.1.html

[2017-06-02 11:54] izzie88 commented on #1278
Hi I have waited 3hours and still the same error being thrown

Get:1 http://security.ubuntu.com/ubuntu xenial-security InRelease [102 kB]
Hit:2 http://ng.archive.ubuntu.com/ubuntu xenial InRelease
Get:3 http://ng.archive.ubuntu.com/ubuntu xenial-updates InRelease [102 kB]
Get:4 http://ng.archive.ubuntu.com/ubuntu xenial-backports InRelease [102 kB]
Hit:6 http://packages.ntop.org/apt/16.04 all/ InR

[2017-06-02 14:15] simonemainardi commented on #1278
try now...

[2017-06-02 23:09] seismiccollision opened #1286 "LDAP Groups with Spaces"
looks like user_group and admin_group don't want spaces however I have existing groups with spaces
   ["user_group"]                                  =  validateSingleWord,
   ["admin_group"]                                 =  validateSingleWord,

Any possibility to change this or way to escape spaces?

[2017-06-02 23:51] seismiccollision opened #1287 "MAX_NUM_DEFINED_INTERFACES too low"
I have closer to 100 interfaces than the current MAX_NUM_DEFINED_INTERFACES of 32
Any considerations to increasing the value?

[2017-06-03 05:25] sundarnet opened #1288 "!dont install ntop via apt-get!"
im not sure where to post this issue but here it is
ok so just yesterday I tried to setup ntopng via apt and didn't type ntopng did just ntop !
DO NOT DO THIS !
it installed just ntop and not the proper package ntopng it then took me about 3 hrs to get ntopng installed correctly...... I think I still have an issue as I get this when apt-get upgrade

Synchronizing state of ntopng.service with SysV

[2017-06-03 08:06] lucaderi commented on #1285
Can you please provide a code patch ?

[2017-06-03 08:07] lucaderi commented on #1287
Can you please explain what is the use case for 100 interfaces? We need to understand if this is a real limitation or rather if we need to make a code design change.

[2017-06-03 08:09] lucaderi commented on #1288
In essence ntopng conflicts with the ntop (non ng) package?

[2017-06-03 08:54] lucaderi commented on #1288
is this https://github.com/ntop/ntopng/commit/63c9ac6d33d5ccd3fcf662d0bbe88f0621213b7a enough?

[2017-06-03 09:08] sundarnet commented on #1288
more than enough if I understand the code correctly
' removed the now obsolete ntop from repositories, '
' or instead of installing old ntop it will actually install ntopng instead '
which one is correct?

[2017-06-03 09:10] sundarnet commented on #1288
is there an easy way to rid myself of this?

Synchronizing state of ntopng.service with SysV init with /lib/systemd/systemd-sysv-install...
Executing /lib/systemd/systemd-sysv-install enable ntopng
Failed to execute operation: File exists
dpkg: error processing package ntopng (--configure):
subprocess installed post-installation script returned error exit status 1
Processing triggers for libc-bin

[2017-06-03 11:14] ilovezfs commented on #1285
This should work:
[code]
because I believe GNU cp can use `-r` and `-R` interchangeably.

[2017-06-03 20:15] seismiccollision commented on #1287
Sure thing!
I have multiple sflow sources that each aggregate traffic and send it so, since being able to have an interface created by source IP address, it's been nice to be able to see traffic sliced that way but I noticed that there was a limit to how many interfaces got created into the webui

[2017-06-03 21:46] ayeshabasit opened #1289 "Feature Request: Include DNS replies in individual flows"
It would be a useful feature to include DNS replies.

[2017-06-04 07:08] lucaderi opened #1290 "Invalid Encoding in get_flows_data.lua"
As shown below, invalid (label field) encoding (in bold) prevents proper HTML anchors to be shown in flow_stats.lua and thus to show flow information

[code]

[2017-06-04 07:10] lucaderi opened #1291 "Invalid parameter filtering in about.lua"
If a license field contains spaces (or other unexpected chars), the lint function fails and the web GUI break.

[2017-06-04 08:12] lucaderi commented on #1259
@parksj10 I am unable to reproduce the local date issue with the latest ntopng version. Can you confirm this?

As of the other problem I see your hosts have both in/out traffic.
![screen shot 2017-06-04 at 10 10 02](https://cloud.githubusercontent.com/assets/4493366/26759992/31273f8c-490e-11e7-9c06-1ad88ec9588b.png)
Can you please explain once again what is the problem?

[2017-06-04 08:19] #1285 closed, assigned to nobody

[2017-06-04 08:20] ilovezfs commented on #1285
@lucaderi Thanks!

[2017-06-05 01:26] rwrocket commented on #1283
Thanks for this, I have it working now so that is a start

The traffic mbp/s seems to be inaccurate.
For exmaple I run a speedtest.net through the captured network and both on the edgerouter and on the speedtest result it never goes above 20Mbps but the traffic report in ntopng is reporting a history of up to 54Mbps.

[2017-06-05 08:27] FadyFadel55 commented on #467
mr lucaderi  i dont understand where to add -m ???

[2017-06-05 08:30] emanuele-f commented on #467
What operating system are you using? Do you start ntopng from command line or as a service?

[2017-06-05 08:38] FadyFadel55 commented on #1263
is that for 64 or 32 pfsense freebsd ?

[2017-06-05 09:10] emanuele-f commented on #1263
it is for 64

[2017-06-05 09:43] emanuele-f commented on #1291
Fixed with caf47c05dbee34f2e3d3effe46cb40fb71d547b4

[2017-06-05 09:43] #1291 closed, assigned to simonemainardi, emanuele-f

[2017-06-05 09:51] simonemainardi commented on #1283
@rwrocket  it's not that data is inaccurate. The peaks you are seeing are due to the quantized nature of flows that are reported only periodically. Please see this comment that accurately explains what happens: https://github.com/ntop/ntopng/issues/958#issuecomment-277752139

Remember that, using the latest version, you can control that realtime stats refresh rate by tuning the interface page:
![i

[2017-06-05 10:04] emanuele-f commented on #1290
I've tried to put the `/lua/flow_details.lua?flow_key=363276186&label=LUCAS-IMAC:17500 &lt;-&gt; 10.211.55.255:17500` string into the label field sent via ajax but the page loads correctly. Can you provide some more information please?

[2017-06-05 10:06] emanuele-f commented on #1288
Can you apt-get remove ntop and ntopng from your system and retry to install ntopng?

[2017-06-05 10:22] emanuele-f commented on #1286
Fixed with 8c934757614d42234a335c739734a7c9e3a95bc1

[2017-06-05 10:22] #1286 closed, assigned to emanuele-f

[2017-06-05 10:27] ieasydevops opened #1292 "Ntopng gets terminated by SIGKILL"
hi， ntopng team

  I met a serios problem , whic blocked me for a long time, any one who can help me ? thanks very much .
    When i started the ntopng server, whatever the version  ( 2.5 or 3.0 ),
, it can only  last for a frew minutes, and then  was killed. ( it looks like is the os-kernal killed it)   but I cannot find any useful infomation to location the problem.

 the detail info as follows:

[2017-06-05 10:38] emanuele-f commented on #1292
Any hint from `systemctl status ntopng`? Can you check if there is another running ntopng instance?

[2017-06-05 10:50] ieasydevops commented on #1292
i certainly sure there is only one ntopng instance

[2017-06-05 11:00] emanuele-f commented on #1292
What's your ntopng configuration used? If I understand well the output of `free -g`, you have 115 GB of main memory available in your system?? Can you track the memory usage of ntopng?

[2017-06-05 11:52] simonemainardi commented on #1292
it looks like there's someone explicitly killing ntopng:

[2017-06-05 11:53] simonemainardi commented on #1292
see your output:

Jun 5 17:53:58 localhost root: 2017-06-05 17:53:58:root:root pts/0 2017-06-05 17:29 (10.204.57.246):10.204.57.178:kill -9 92961
Jun 5 17:54:05 localhost root: 2017-06-05 17:54:05:root:root pts/0 2017-06-05 17:29 (10.204.57.246):10.204.57.178:ps -ef | grep ntopng
Jun 5 17:54:10 localhost root: 2017-06-05 17:54:10:root:root pts/0 2017-06-05 17:29 (10.204.57.246):10.204.57.178:kill

[2017-06-05 12:48] FadyFadel55 commented on #467
i am using windows 10 pfsense ver 2.3.3 . i am starting ntopng as a service

[2017-06-05 12:48] simonemainardi commented on #1286
fixed both in sable and dev packages. Change will be available from tomorrow.

[2017-06-05 12:57] emanuele-f commented on #467
pfsense overrides ntopng configuration, so instead of the -m option you should set "local networks" (or something like that) from within the pfsense application. Please note that we do not officially support pfsense (see #297), and freebsd support is partial

[2017-06-05 13:01] sethbeauchamp opened #1293 "upgrading via apt-get - "Stopping PF_RING module:Stopping nProbe" none hangs"
Trying to upgrade via apt-get from 2.5 to current version on Debian Jessie, I get this message and it hangs indefinitely:
Stopping PF_RING module:Stopping nProbe none

I can ctrl Z out of that, and run ntopng -V and it shows v 3.1 now.  Unsure if the installation is fine or not, but the web does seem to continue working.

[2017-06-05 13:07] simonemainardi commented on #467
@madpilot78 can you please help @FadyFadel55 for ntopng pfsense configuration? Thank you

[2017-06-05 13:19] sethbeauchamp commented on #1293
using "modprobe -r pf_ring" helps this get futher. Now it hangs at...
Synchronizing state for nprobe.service with sysvinit using update-rc.d...
Executing /usr/sbin/update-rc.d nprobe defaults
Executing /usr/sbin/update-rc.d nprobe enable
(Re)Starting nprobe...
Stopping nProbe none

[2017-06-05 13:41] ieasydevops commented on #1292
thanks very much for your so quickly response, but there's still problems .
firt of all, my host server a total of 198G RAM, and only 116G has been used,  there should be enough memory for ntopng service start.  secondly, the follow picture can prove there are no one else explicitly kill the process.

![ntopng_test](https://cloud.githubusercontent.com/assets/4316534/26785884/19a12ba0-4a37-11e7-87f

[2017-06-05 13:53] simonemainardi commented on #1292
if I look at your traces I can see that the sig KILL is arriving from a root user, and not from the kernel. It also looks like that right after the kill, the same user tries to see if the process is still alive.

Type 'w' and make sure there's no one (apart from you) in the system.

[2017-06-05 13:55] emanuele-f commented on #1292
I suspect it is related to nohup, do you press ctrl+c after running nohup?

Can you run ntopng as a service (and manage with systemctl) in order to avoid any kind of terminal related problems?

[2017-06-05 13:58] ieasydevops commented on #1292
i do not press ctrl+c ,  and I suspect that's the reason:
localhost kernel: Loading kernel module for a network device with CAP_SYS_MODULE (deprecated).  Use CAP_NET_ADMIN and alias netdev-dummy instead

I  found an  answer but   without check:
https://bbs.archlinux.org/viewtopic.php?id=143657

        you're using an application that uses CAP_SYS_MODULE to insert a module into the kernel, Find ou

[2017-06-05 14:54] simonemainardi commented on #1264
right, counter has been recently pointed to the remote hosts only.

by the way, 32768 is a limit enforced when browsing any kind of hosts (this prevents too long hash tables lookups) so it is normal that you don't see number greater than this in the UI

[2017-06-05 15:03] emanuele-f commented on #1293
Note: a workaround is to manually stop/kill nprobe and only then perform the update

[2017-06-05 15:26] madpilot78 commented on #467
Hi,

As noted above by @emanuele-f pfSense adds it's own GUI to configure ntopng. The GUI allows an array of configuration but seems to expose only a part of ntopng functionality.

I performed a quick test using virtualbox.

Looks like after installing the ntopng package from pfsense package manager you have to reboot pfsense for the ntopng UI elements to show up.

After the reboot navigate to "Di

[2017-06-05 17:18] emanuele-f commented on #1292
Sorry I have no hint on the CAP_SYS_MODULE but I think it is not something related to ntopng. What I suggest you is to try to start ntopng as a service via `service/systemctl/whatever` and see if still it gets killed

[2017-06-05 17:23] emanuele-f commented on #1293
@cardigliano do you think this is related to pf_ring package or module?

[2017-06-05 17:28] cardigliano commented on #1293
It seems it is not related to pf_ring, but more details are needed. Please try stopping the nprobe service using the init.d script, check if it fails, and in case run it with bash -x to get a full trace. The same for pf_ring.

[2017-06-05 22:15] stebbo63 opened #1295 "Graphs in reports not showing in ntopng Pro [Small Business Edition] v.3.0.170605"
Hello,

after upgrading to v3.0 most of the individual graphs in the Traffic Report do not show.

Click Traffic Report.  The graphs will show if you select 1h and 1d timeframe, but not if you select 1w.

Cheers,
Chris.

![image](https://cloud.githubusercontent.com/assets/16530595/26805661/4cb23fc6-4a90-11e7-9931-2aa5ebaee37d.png)

[2017-06-05 22:29] lucaderi opened #1296 "Invalid number of flows/hosts reported in footer"
When a user has restrictions (e.g. hosts from network 192.168.0.0/24) and no flows can be displayed, in the flows/hosts menu there are no entries and that's correct. Unfortunately the footer reports a number of hosts/flows that does not take into account the network restrictions.

![screen shot 2017-06-06 at 00 26 57](https://cloud.githubusercontent.com/assets/4493366/26806039/26dc7a1e-4a4f-11e7-8

[2017-06-06 02:22] sundarnet commented on #1288
nope that did not work
it also seems that the issue also will not let me fully register ntopng

[2017-06-06 08:03] emanuele-f commented on #1261
Closing for inactivity, please reopen if necessary

[2017-06-06 08:03] #1261 closed, assigned to simonemainardi

[2017-06-06 08:19] emanuele-f commented on #1295
Hi, can you open the browser inspector to se if there are javascript errors?

[2017-06-06 15:04] madpilot78 commented on #467
I have made the needed modifications in a fork of the pfsense ports repository to add a custom networks list. It still needs a little polish, but it works.

If anyone is interested the work in progress is happening here:

https://github.com/madpilot78/pfsense-FreeBSD-ports/tree/ntopng_config_changes
(repo renamed)

[2017-06-07 09:14] emanuele-f commented on #1278
@izzie88 any update?

[2017-06-07 09:16] izzie88 commented on #1278
Update has been done, but i still keep restarting ntopng manually, I still did it today. Quick question please, does the license being expired have anything to do with it?

[2017-06-07 09:20] gianogli commented on #1264
Uhm... Ok! Thanks. :-)
However there are a lot of unclear parts in the hosts management:
-) The "32768" limit (not signaled in the hosts list).
-) The (look like real time...) number of (total/locale/remote?) hosts in the grey/green badge in the footer.
-) In the exported JSON file there is only a part of the indicated hosts, not all.
I hope you could solve these "issues" into the next releases of

[2017-06-07 09:21] emanuele-f commented on #1278
When the licence expires, you will go into community mode but it does not explain the issue. Please try to run manually ntopng from the cli so that we can see the possible cause. You can do this by stopping ntopng service via `sudo systemctl stop ntopng` and then start it from command line `sudo ntopng /etc/ntopng/ntopng.conf`.

Please post the console log you get.

[2017-06-07 09:27] emanuele-f commented on #1272
First of all, after resetting the alerts from the reset button, can you actually see no alerts reported in ntopng for about one minute? I want to understand if the reset alerts actually works for you.

[2017-06-07 09:32] izzie88 commented on #1278
Hi,
This is what i have:

sudo ntopng /etc/ntopng/ntopng.conf
07/Jun/2017 10:22:36 [Ntop.cpp:1359] Setting local networks to 41.184.152.0/21,41.184.168.0/21,41.184.180.0/22,41.184.164.0/22,41.184.184.0/24,41.184.187.0/24,41.184.185.0/24,41.184.186.0/24
07/Jun/2017 10:22:36 [Redis.cpp:109] Successfully connected to redis 127.0.0.1:6379@0
07/Jun/2017 10:22:36 [NtopPro.cpp:146] [LICENSE] Reading lice

[2017-06-07 09:38] emanuele-f commented on #1277
Hi, as explained in #1245, you can push custom fields via nprobe and this is how we support that feature. If you wish to do your own experiments with nDPI/ntopng, you can do that, but we cannot provide support for custom code. I can only suggest you to run the code with a debugger (e.g. gdb) and see where it crashes. You can look at the ParserInterface to have a clue on how ntopng parses ZMQ data

[2017-06-07 09:38] #1277 closed, assigned to nobody

[2017-06-07 09:40] emanuele-f commented on #1278
Hi, please update nprobe and perform the test again. Can you see a segmentation fault or a "killed" message when ntopng stops working?

[2017-06-07 09:44] emanuele-f commented on #1288
What ubuntu version are you using? Can you execute `systemctl disable ntopng` and then retry to install ntopng?

[2017-06-07 09:45] Niko78 commented on #1272
yes I can confirm during 1 minute, nothing after reseting them
but now back again "is a Flooder (26 flows sent in 3 sec)"

[2017-06-07 09:47] izzie88 commented on #1278
its still working, it takes  quite a while to crash. Mostly notice it in the morning at resumption when i try to open the ntopng webpage. So i now have to manually restart the ntopng service.

[2017-06-07 09:49] emanuele-f commented on #1278
so please, after the nprobe update, keep ntopng running in the terminal until you experience the crash.

[2017-06-07 09:53] gianogli opened #1298 "The x-axis (time) of the graphs is not clearly divided"
In this screenshot

![ntopng_chart_view](https://user-images.githubusercontent.com/14093378/26872071-88d0143e-4b75-11e7-99cd-91254ef9b238.png)

the vertical lines over the day strings are not fixed at 00:00 as expected in this kind of graph.
This behavior could cause some misunderstanding.

In instance, into the screenshot, it seems that the traffic started in the last hours of the "Jun 4" night w

[2017-06-07 09:53] sundarnet commented on #1288
I cheated and just reinstalled the whole system due to using webmin it's a pretty easy restore process
Fresh ubuntu servers install with DNS LAMP SSH
then install isc-dhcp-server squid
edit interfaces reboot install webmin restore backed up settings install ntopng...... about 2 hrs
and I aslo have it running kubuntu-desktop as well

[2017-06-07 09:55] emanuele-f commented on #1288
So, was the new ntopng installation successful?

[2017-06-07 09:56] sundarnet commented on #1288
I think all my problems were originating from me installing ntop
It installed an old v1.? and just mangled everything.
As long as that is not possible anymore we are all good

[2017-06-07 09:57] sundarnet commented on #1288
Yes fully working registered

this may work but
http://sundarnethome.dnsdojo.org:3000

[2017-06-07 09:58] emanuele-f commented on #1298
Hi, you are right, this is something weird. Thank you for reporting.

[2017-06-07 10:03] emanuele-f commented on #1288
Thank you for reporting.

[2017-06-07 10:03] #1288 closed, assigned to nobody

[2017-06-07 10:10] emanuele-f commented on #1272
Please repeat the procedure above with redis-cli command but, this time, execute `systemclt restart ntopng` right after the last redis-cli command. It should make ntopng reload the new settings. Sorry, I know this is hacky, we will improve alerts behaviour to avoid this commands stuff.

[2017-06-07 10:15] izzie88 commented on #1278
Hello Emmanuele,

Please can you assist me in outlining the correct steps for updating the
nprobe.

On Jun 7, 2017 10:49, "Emanuele Faranda" <notifications@github.com> wrote:

so please, after the nprobe update, keep ntopng running in the terminal
until you experience the crash.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.co

[2017-06-07 10:20] emanuele-f commented on #1278
You can update nprobe with `sudo apt-get update && sudo apt-get install nprobe`. After the update, please restart nprobe with `sudo systemctl restart nprobe` and also ntopng from command line. Please double check that your nprobe licence is not expired before performing the update!

[2017-06-07 10:32] Niko78 commented on #1272
done but still the same : alerts are back with this "26 flows..."
I can share my screen (teamviewer) if you want to check by yourself

[2017-06-07 10:35] izzie88 commented on #1278
cneto license still valid till next year, i will do the update as soon as i can and revert back to you.

[2017-06-07 10:42] emanuele-f commented on #1278
if you are using nprobe cento, please use the command "apt-get install cento" to update it

[2017-06-07 10:44] izzie88 commented on #1278
ok, thanks, i update as soon as i can and revert back to you.

[2017-06-07 11:17] emanuele-f commented on #1272
if you go into one of your local hosts view, can you see the newly set 100000 limit? If yes, please stop ntopng, delete the alerts database manually `/var/tmp/ntopng/0/alerts/alerts_v5.db` (where 0 is your network interface id) and then restart ntopng.

[2017-06-07 11:22] Niko78 commented on #1272
yep I can see 100000
done... and still same result :-(

[2017-06-07 12:08] balmha opened #1299 "Report bug on function Maps"
In today I was analyzing the traffic of my network and I ran into a problem when I try to access the maps function. I think it is due to the lack of an API key that was implemented on June 22, 2016 in the Google Maps API. Sorry for my english, i'm argentinian, regards!
http://subefotos.com/ver/?673dbf58e6669d1cf0e52926d3cdd211o.png

[2017-06-07 12:48] emanuele-f commented on #1299
Hi, are you using ntop? Please note that we do not support ntop any more, can you update to ntopng?

[2017-06-07 13:19] hgpit opened #1300 "Google Chrome runs out of memory"
Hi,

Currently using ntopng Pro [Small Business Edition] v.3.1.170605.
Viewing the dashboard via Google Chrome version 58.0.3029.110 (64-bit) on Windows 10 Pro with 16GB RAM.

After a while (about an hour), I get
"
Aw, Snap!
Google Chrome ran out of memory while trying to display this web page.
"

Also happens on my colleague's machine with a very similar environment.

Did a quick search, but not

[2017-06-07 14:38] emanuele-f commented on #1300
I'm debugging this, I can see the browser memory consuption constantly increasing

[2017-06-07 15:49] balmha commented on #1299
Hi, thanks for the information, I had no idea that there was no more support, greetings!

________________________________
De: Emanuele Faranda <notifications@github.com>
Enviado: miércoles, 07 de junio de 2017 09:48 a.m.
Para: ntop/ntopng
Cc: balmha; Author
Asunto: Re: [ntop/ntopng] Report bug on function Maps (#1299)

Hi, are you using ntop? Please note that we do not support ntop any more, can

[2017-06-07 16:57] emanuele-f commented on #1299
ntopng is an improved version of ntop, please update to get a bunch of new functionalities :)

[2017-06-07 16:57] #1299 closed, assigned to nobody

[2017-06-07 17:31] simonemainardi commented on #1070
https://github.com/ntop/ntopng/commit/c115271c5d11f6a75853193772378057d68ab9a3

[2017-06-07 21:02] emanuele-f commented on #1300
Hi, I've done some profiling on chrome on windows. I've monitored memory consumption in 2 hours and it slowly rises:

Hour  | Total memory
+0:00 | 110 M
+1:00 | 160 M
+2:00 | 200 M
+2:20 | 220 M

But it seems like the memory increase appears in chrome internal memory. Nevertheless, the consumption in my case is limited and it does not cause an out of memory issue. Please perform the following step

[2017-06-08 04:28] stebbo63 commented on #1295
Hi Emanuele,

I have attached a screenshot.  Hope this is what you were after.

Cheers,
Chris.
![image](https://user-images.githubusercontent.com/16530595/26912295-c1cf0538-4c56-11e7-88c5-635cacdd8063.png)

[2017-06-08 05:26] stebbo63 opened #1301 "ntopng Pro [Small Business Edition] v.3.0.170605 stops recording"
Hello All,

since updating to the latest version a few days ago, our system keeps "dropping out" and not recording anything.  The web interface stops responding and I need to ssh into the system and reboot. After the reboot, the system will log for a period of time, then drop out again.

I also notice that while logging, we get many reports of dropped packets and dropped flows.  We never saw these

[2017-06-08 07:51] emanuele-f commented on #1301
Hi, did you update from 2.4 or from 2.5 version of ntopng? Do you get any errors from the ntopng log?

[2017-06-08 07:57] emanuele-f commented on #1295
Can you afford to reset your existing graphs/report data? You will still retain configuration and mysql data, if any. If that's ok, please stop ntopng, flush your ntopng data directory (usually /var/tmp/ntopng) and restart ntopng

[2017-06-08 10:21] simonemainardi commented on #1295
before resetting everything, I would try with a js reload (hit ctrl+shift+r).

Do the other parts of the report work? That is, the stacked applications chart, top talkers, top ases, etc.?

[2017-06-08 10:28] simonemainardi commented on #1289
Feature is already supported when using ntopng in combination with nProbe. In particular, nProbe with plugin DNS will provide the requested information though the following fields

[code]

[2017-06-08 10:28] #1289 closed, assigned to nobody

[2017-06-08 15:25] hgpit opened #1305 "Unknown agrgegation value none"
Hi,

When starting/restarting ntopng-3.1.170608-2898.x86_64 and ntopng-3.1.170605-2876.x86_64 (don't know about previous versions) we see this error:

[code]

Doesn't appear to cause any issues we've seen yet, but thought I'd raise it.
There's also a typo in "agrgegation" :p

We are on CentOS7:
Linux svr-h003349.domain.local 3.10.0-514.21.1.el7.x86_64 #1 SMP Thu May 25 17:04:51 UTC 2017 x86_64 x86

[2017-06-08 23:04] mahescho opened #1306 "ntopng loses MySQL connection"
I observe this since I use ntopng, for about 2 month by now. It crashes on a irregular base. I hoped that this will get better after some updates but it does not. Ntopng never survived for longer than a week. The process just dies with the following log entries:

`09/Jun/2017 00:00:05 [MySQLDB.cpp:613] Disconnected from MySQL for interface tcp://127.0.0.1:5557...
09/Jun/2017 00:00:05 [MySQLDB.cpp:

[2017-06-09 04:34] stebbo63 commented on #1301
Hi emanuele,

As far as I can recall I upgraded from 2.5.  I found the following in the logs

08/Jun/2017 14:46:12 [Lua.cpp:6075] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/5min.lua][/usr/share/ntopng/scripts/lua/modules/graph_utils.lua:1053: /storage/ntopng/2/rrd/fe80__e8_1d71_dad4_e55f/dns/rcvd/queries/num_a.rrd: opening '/storage/ntopng/2/rrd/tcp_rst.rrd': No such file or dire

[2017-06-09 06:59] mahescho opened #1307 "FR: Filter flow alerts by alert type"
Please ignore this, it's nonsense, sorry.

[2017-06-09 07:14] emanuele-f commented on #1307
Hi, you already have the possibility to filter by alert type from the alerts page. If need further functionalities, please have a look at our alerts dashboard and alerts explorer available in the enterprise version, which you can run as a demo.

[2017-06-09 07:14] #1307 closed, assigned to nobody

[2017-06-09 07:25] emanuele-f commented on #1301
Do you have available disk space?

[2017-06-09 08:58] simonemainardi commented on #1306
@mahescho mysql re-connections are normal as MySQL connections time out after a configurable amount of time (default 8 hours) so ntopng have to periodically reconnect (https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_interactive_timeout).

Specifically, in your case, ntopng reconnects at midnight for the periodic database cleanup operations. This is normal.

Not sure why

[2017-06-09 09:03] simonemainardi commented on #1305
@hgpit do you have any particular value set for Dynamic Flow collection interfaces?

![screen shot 2017-06-09 at 11 01 47](https://user-images.githubusercontent.com/3397663/26968667-21657ade-4d03-11e7-8890-e04a6eaefd13.png)

a `redis-cli del ntopng.prefs.dynamic_flow_collection_mode` should solve the problem

[2017-06-09 09:05] mahescho commented on #1306
There is simply no NtopNG process. No further messages. The re connection message is the last in the log. I use: ntopng Pro [Small Business Edition] v.3.1.170608

[2017-06-09 09:13] emanuele-f commented on #1306
For the chrome issue, I've done sone tests for issue #1300 but cannot actually say if it's an ntopng problem or a chrome problem. Please check out these things:
- you should have the latest chrome version
- you can open the chrome task manager to analyze the memory usage
- if possible, try with another browser (e.g. firefox) and see if it crashes too

[2017-06-09 09:17] simonemainardi commented on #1306
@mahescho can you generate a core dump and upload it along with the binary (instructions at: http://www.ntop.org/support/faq/how-to-report-a-bug-on-ntop-apps/)? That will help us in understanding the issue

[2017-06-09 09:27] mahescho commented on #1306
@emanuele-f

I do.

I will.

Done so this morning, it's running now with Firefox for about 2,5h - will report my experiences.

[2017-06-09 09:41] mahescho commented on #1306
@simonemainardi  As NtopNG runs as a Debian Linux Systemd service this:

https://pve.proxmox.com/wiki/Enable_Core_Dump_systemd

may be the better solution. Do you agree?

[2017-06-09 10:29] simonemainardi commented on #1306
@mahescho yes.

BTW, to make sure core generation works (without having to wait a day or so), just send the process a SIG SEGV (e.g., sudo kill -SEGV <process pid>) and check for the existence of the core file

[2017-06-09 10:56] mahescho commented on #1306
Thanks for the tip. It works, but I'm unable to stat NtopNG after the kill again. I get:

`# systemctl status ntopng
● ntopng.service - Start/stop ntopng program
   Loaded: loaded (/etc/systemd/system/ntopng.service; enabled)
   Active: active (exited) (Result: core-dump) since Fr 2017-06-09 12:48:56 CEST; 4min 37s ago
  Process: 957 ExecStart=/etc/init.d/ntopng start (code=exited, status=0/SUCCES

[2017-06-09 12:07] mahescho commented on #1306
@emanuele-f

![auswahl_057](https://user-images.githubusercontent.com/5101589/26974707-d94f3680-4d1c-11e7-85cd-d1a8fad2987e.png)

Frirefox started at the same time is still up and running.

[2017-06-09 15:05] MajesticFalcon opened #1309 "Network load displayed incorrectly"
The traffic seems to be about right. I am wondering if upscaling needs to be applied for graphs and numbers to be reporting correctly. I have already specified local networks

![sflow-network-load-wrong](https://user-images.githubusercontent.com/8593209/26981518-0ee413b4-4cfb-11e7-86d3-331ec470717a.PNG)

[2017-06-10 03:31] stebbo63 commented on #1301
Hi emanuele,

Yes.  Some 390GB available.

Cheers,
Chris.

[2017-06-10 03:44] stebbo63 commented on #1295
Hi Simone,

the reports work properly if I ask for a 1hr or 1d timeframe, as shown here.
![image](https://user-images.githubusercontent.com/16530595/26999664-93c95dd6-4de2-11e7-8167-8eb4587810b6.png)

However, if I ask for a 1w timeframe, most of the report is blank.  No graphs or piecharts.  The "network interfaces" and "applications" are the only two charts that display in the 1w timeframe.
![im

[2017-06-11 08:55] lucaderi commented on #1293
@GCM707 Any news?

[2017-06-12 08:48] emanuele-f commented on #1309
Hi, please describe your monitoring setup

[2017-06-12 09:06] emanuele-f commented on #1306
Hi, were you able to generate the core file?

From the task manager, it seems your ntopng instance is really taking up a lot of memory. When you first start chrome, does it already take GB of memory at startup? Can you describe your monitoring setup, how many interfaces are you monitoring?

One thing you can try is to pass an option to chrome to increase the available size. `--js-flags="--max_old_

[2017-06-12 09:18] mahescho commented on #1306
No crash by now, so no core files.

It is an internal instance. I can not provide acces. Firefox currently runns the web interface since Friday without any problem ... I will try chrome with "max_old_space_size"

[2017-06-12 09:18] emanuele-f commented on #1301
Is /storage a local directory or is it a mount point? Does the file /storage/ntopng/2/rrd/10/174/79/247/MDNS.rrd exist right now? If you disable the `TCP Flags` under the data retention settings, do you still get errors?

[2017-06-12 09:22] emanuele-f commented on #1306
Ok, the `max_old_space_size` flag is not really a solution to the actual problem, but it should help

[2017-06-12 09:24] emanuele-f commented on #1300
@hgpit please try to run chrome with `--js-flags="--max_old_space_size=8192"` and see if it works. I would really like to found the source of the problem though.

[2017-06-12 09:50] emanuele-f commented on #1295
In the past, this problem happened when users changed their data retention times from the settings, and this is why we removed that settings. Do you remember if you changed such a setting in the past?

If this is the case, you should remove the files which hold anomal retention times, and that should fix your graphs. So, if purging all graph data is not a viable solution, you should tell us the le

[2017-06-12 09:51] emanuele-f commented on #1292
@meixinyun have you tried what I suggested above?

[2017-06-12 09:52] emanuele-f commented on #1283
Please reopen if necessary

[2017-06-12 09:52] #1283 closed, assigned to nobody

[2017-06-12 09:54] emanuele-f commented on #1259
@parksj10 any update?

[2017-06-12 09:54] emanuele-f commented on #1255
Closing for inactivity, please reopen if necessary

[2017-06-12 09:54] #1255 closed, assigned to nobody

[2017-06-12 10:01] emanuele-f commented on #1250
@aflorezparra windows build is a bit tricky, we use visual studio to compile the program but the setup is not trivial and we managed to build ntopng only into a specific virtual machine, so we do not have a recipe for this.

If you manage to build on windows with a clean setup and want to share your experience and possibly provide a readme to insert into the docs, we will appreciate it. I'm closin

[2017-06-12 10:01] #1250 closed, assigned to lucaderi

[2017-06-12 10:52] emanuele-f commented on #1272
So, it turns out we actually had a bug. This is fixed with commit 7bfc757cbf56fbbbc5595dc6aac95f79f2e5c396 , now it will work as expected. Thank you for reporting and for your tests.

[2017-06-12 10:52] #1272 closed, assigned to nobody

[2017-06-12 11:05] Artapel commented on #1301
Good day.
We suffer from exactly the same problem. The NtopNG runs for an hour if we are lucky then it just stops. There is also no entries further in the following log files.
tail -f /var/log/httpd/error_log
tail -f /var/log/messages

I have 1 entry in
tail -f /var/log/ntopng/ntopng.log
12/Jun/2017 13:05:14 [AlertsManager.cpp:1540] ERROR: SQL Error: near "ORDER": syntax error
DELETE FROM flows_al

[2017-06-12 11:42] philimnorden commented on #1305
I had the same error message in v.3.1.170606 and the command above solved it.

[2017-06-12 11:46] emanuele-f commented on #1305
Thank you for reporting. @hgpit please use the suggested command above. Reopen if necessary

[2017-06-12 11:46] #1305 closed, assigned to nobody

[2017-06-12 12:35] simonemainardi commented on #1306
as you are no longer experiencing any crash, the issue can be considered as solved. Shall you experience it again, please reopen and upload both the core dump and the binary of ntopng

[2017-06-12 12:35] #1306 closed, assigned to simonemainardi

[2017-06-12 13:11] emanuele-f commented on #1301
@Artapel please update ntopng and see if it still stops. If so, please open a separate issue. `systemctl show ntopng` should also give you some advice on why it stopped.

[2017-06-12 13:25] MajesticFalcon commented on #1309
Ubuntu 16.01 LTS
Ntopng 3.0 Licensed
Nprobe Licensed
Local networks setup

[2017-06-12 13:26] emanuele-f commented on #1309
How is your nprobe receiving flows? Can you post your ntopng conf and nprobe config please?

[2017-06-12 13:32] MajesticFalcon commented on #1309
nProbe Sflow. Both services are installed on the same server
nprobe --collector-port 6343 --zmq tcp://127.0.0.1:5556
ntopng -i tcp://127.0.0.1:5556 -d /var/tmp -w 80 -m .....

[2017-06-12 13:45] Artapel commented on #1301
Thank you for the reply.
I did the update and this is what i see when i start ntopng again

Jun 12 15:33:20 monitor.linux systemd[1]: Starting Start/stop ntopng program...
Jun 12 15:33:25 monitor.linux ntopng[28178]: Starting ntopng: Cannot change tcp-segmentation-offload
Jun 12 15:33:25 monitor.linux ntopng[28178]: Unable to start ntopng[FAILED]
Jun 12 15:33:25 monitor.linux systemd[1]: Started S

[2017-06-12 14:06] simonemainardi commented on #1309
@MajesticFalcon if you are using nProbe to collect sFlow, add nProbe option --upscale-traffic that will adjust the traffic on the basis of sFlow sampling rates.

All charts will be adjusted consequently.

Keep in mind that when nProbe is used in collector mode, interface charts (i.e., interface speed) give you statistics on the processed traffic (e.g., number of sFlow packets received).

[2017-06-12 14:06] #1309 closed, assigned to nobody

[2017-06-12 14:35] MajesticFalcon commented on #1309
@simonemainardi What about the two clouds for upload and download? Why is upload still 0 even after making the upscale change.

[2017-06-12 16:02] javeperez opened #1310 "ntopng suddenly went down"
hi guys, im having problem with my ntopng (community edition) it suddenly went down then all my data was gone like, traffic data and other stuff was gone and back to zero. How can i fix this? thank you

[2017-06-12 18:09] MajesticFalcon commented on #1309
@simonemainardi Also, if ran as cli --upscale-traffic works. If used in the config, --upscale-traffic is not a recognized config option

[2017-06-12 18:19] simonemainardi commented on #1309
@MajesticFalcon make --upscale-traffic is for nProbe and is only available in the latest stable/devs

[2017-06-12 18:28] emanuele-f commented on #1301
Please open a new issue where you specify the ntopng options used. Moreover, the output of `systemctl status ntopng` will tell us why it cannot start ntopng

[2017-06-12 18:30] emanuele-f commented on #1310
What kind of data do you mean? The graphs data? Please post your ntopng configuration

[2017-06-12 21:16] juesor commented on #1233
Where is that ???  I don't see the graphs at all times.

[2017-06-13 00:27] stebbo63 commented on #1301
I've noticed some errors in the ntop log.

ERROR: INSERT INTO `flowsv4` (VLAN_ID,L7_PROTO,IP_SRC_ADDR,L4_SRC_PORT,IP_DST_ADDR,L4_DST_PORT,PROTOCOL,IN_BYTES,OUT_BYTES,PACKETS,FIRST_SWITCHED,LAST_SWITCHED,INFO,JSON,NTOPNG_INSTANCE_NAME,INTERFACE_ID,PROFILE) VALUES ('0','5','179194610','53288','757124978','53','17','96','0','1','1497310683','1497310683','¬ñr"u»mÐª\''°¶Ð04†ãÁ˜¹.Ìj.ý¹^.ñq¿ñtÜ.dþi.',CO

[2017-06-13 00:38] stebbo63 commented on #1301
have just noticed there's an update and have udpated to 170612.  Will report whether this fixes my problem.

[2017-06-13 04:56] stebbo63 commented on #1301
unfortunately 170612 does not resolve the problem.

![image](https://user-images.githubusercontent.com/16530595/27066586-8402760e-5048-11e7-89e5-c04b9b24b48a.png)

[2017-06-13 08:28] emanuele-f commented on #1301
The mysql errors you see are the cause of the dropped (exported) flows. @simonemainardi any hint?

It does not explain the dropped packets though. Is the cpu usage high when you experience the drops? What traffic rate are you normally capturing?

[2017-06-13 09:54] Artapel opened #1311 "Ntopng v3 stops collecting data and the dashboard stops responding"
Hi Guys

We updated to ntopng.x86_64 3.1.170612-2915, since then ntop will stop collecting data about and hour or two after start/restart. The dashboard also stops responding. After a while Chrome will give me a

doing a _systemctl restart ntopng_ restores ntop to a working state but only for an hour or two.
Please note that ive got Bandwidthd and munin running on this server aswell and they work

[2017-06-13 11:21] emanuele-f commented on #1311
Hi, if you remove the -k option, can you restart it?

[2017-06-13 12:29] Artapel commented on #1311
I have done so. Unfortunate the same problem occurred

 systemctl status ntopng -l
● ntopng.service - Start/stop ntopng program
   Loaded: loaded (/etc/systemd/system/ntopng.service; disabled; vendor preset: disabled)
   Active: active (running) since Tue 2017-06-13 14:27:42 SAST; 53s ago
  Process: 3957 ExecStart=/etc/init.d/ntopng start (code=exited, status=0/SUCCESS)
 Main PID: 3965 (ntopng)

[2017-06-13 12:42] DatagramNetwork opened #1312 "Segmentation fault while heavy load"
I've compiled ntopng version:

[code]
Operating system: CentOS 6.9 13GB RAM,
[code]

I'm using SPAN on cisco switch to one of linux dedicated interfaces.
while span is coming from one or two vlan's everything seems to be working fine.
When I monitor all traffic ntopng is doing segmentation fault.

GDB output:
[code]

backtrace:

[code]

[code]

[2017-06-13 12:54] simonemainardi commented on #1312
thanks for reporting, can you upload the core and the ntopng binary somewhere for our inspection?

[2017-06-13 12:59] simonemainardi commented on #1301
I don't think the insertion errors are related to the high load. In insertion error is very likely due to a malformed dns request (see the characters).

However, before release 3.0, there was a bug that was preventing mysql INFO column to be populated in the database. As mysql INFO is indexed, the system may undergo some extra work to keep indexes updated. So please, can you try and disable mysql

[2017-06-13 13:04] DatagramNetwork commented on #1312
Hi Simon,
Please find both requested files on below link:
https://drive.google.com/drive/folders/0B3upfrz3wEjgMEhseXVPdzZDMzA?usp=sharing

[2017-06-13 13:05] emanuele-f commented on #1311
What about if you start ntopng manually from console like this: `sudo ntopng /etc/ntopng/ntopng.conf` ? Can you post the output you get in this way please?

[2017-06-13 13:21] simonemainardi commented on #1312
core file is trunctated:

BFD: Warning: /tmp/ntopng/core.2784 is truncated: expected core file size >= 208306176, found: 162308096.

fix this and re-upload.

Also make sure to compile using the standard ./configure && make -- don't strip symbols

[2017-06-13 13:23] simonemainardi commented on #1312
also --max-num-hosts 2000 is a very small number, increase it

[2017-06-13 13:31] DatagramNetwork commented on #1312
Hi Simon,
I've uploaded new coredump, please find it at same link.
https://drive.google.com/open?id=0B3upfrz3wEjgMEhseXVPdzZDMzA
As well I left --max-num-hosts default.

[2017-06-13 13:34] simonemainardi commented on #1233
@juesor they are available in the professional version when mysql data export is enabled

[2017-06-13 15:11] javeperez commented on #1310
Hi sir emanuele

Sorry for issue title,, im having trouble with this
![ntop](https://user-images.githubusercontent.com/29380048/27089629-8878b5e6-508d-11e7-8ce3-d5659a085547.PNG)

The uptime always resets and when i reboot my pfsense the data also was gone

Thank You

[2017-06-13 15:14] simonemainardi commented on #1312
fixed with https://github.com/ntop/ntopng/commit/5fb16927c9fc33a58b44951829d6c119c311d61c

thanks for reporting

new packages will be rebuilt overnight (CEST)

[2017-06-13 15:14] #1312 closed, assigned to nobody

[2017-06-13 15:21] xgerligand opened #1313 ""fatal error" ntopng compilation with libndpi-2.1.0 and "possible" solution."
Hi all.
Below the compilation outcome:
/usr/src/ntopng $ make
g++ -g -Wall -I/usr/src/ntopng -I/usr/src/ntopng/include -I/usr/local/include -I /usr/src/ntopng/third-party/hiredis -I/usr/src/ntopng/third-party/mongoose -I/usr/include/json-c     -I/usr/include/libndpi-2.1.0/libndpi   -I/usr/src/ntopng/third-party/LuaJIT-2.0.3/src     -I/usr/include/mysql -I/usr/include/mysql/..  -I/usr/src/ntopng -I

[2017-06-13 15:28] EinerPetersen opened #1314 "SANKEY charts, set sample to encompass traffic/flows per refresh interval"
I would like to see the traffic flow information per interval reflected in the SANKEY charts.  At the time of this request, the SANKEY charts seem to only give the instantaneous flow information every poll interval.  Would like them to show the flow information per interval.  Also, considering how this would possibly change, make the poll/refresh interval manually adjustable as opposed to defined/

[2017-06-13 16:31] EinerPetersen commented on #1300
Emanuele,

Does the same thing in Firefox ..... Firefox runs out of memory and then hangs...

Einer

[2017-06-13 16:38] simonemainardi commented on #1313
if you build from sources, then uninstall the libndpi you have under /usr/include and checkout nDPI sources from github. Please, refer to this readme for source compilation https://github.com/ntop/ntopng/blob/dev/doc/README.compilation

[2017-06-13 16:38] #1313 closed, assigned to nobody

[2017-06-13 17:10] xgerligand commented on #1313
Thank you for your answer.
I have deleted all my /usr/include/libndpi-*
and git clone new nDPI,
and rebuild it (without "make install" as this is "make install" which create /usr/include/libndpi-*)
now the ntopng compilation give these errors :

OK        Successfully built LuaJIT
gmake[2]: Leaving directory '/usr/src/ntopng/third-party/LuaJIT-2.0.3/src'
==== Successfully built LuaJIT 2.0.3 ====
g

[2017-06-13 17:23] simonemainardi commented on #1313
please describe all the exact steps you are doing

[2017-06-13 17:39] xgerligand commented on #1313
nDPI stage (/usr/src is the working directory) :

git clone  https://github.com/ntop/nDPI.git
                                cd nDPI

                                ./autogen.sh --prefix=/usr
                                make

ntopng stage (/usr/src is the working directory) :

git clone https://github.com/ntop/ntopng.git
                                cd ntopng

[2017-06-13 17:41] emanuele-f commented on #1310
Hi, that kind of data is not intended to be permanent within ntopng. Even if you don't reboot ntopng, hosts and flows will be removed from the view when they "expire". We also provide historical data, which means that you can browse an host data as graphs in the past. Please have a look at these links:

http://www.ntop.org/ntopng/exploring-historical-data-using-ntopng/
http://www.ntop.org/ntopng/e

[2017-06-13 17:41] #1310 closed, assigned to nobody

[2017-06-13 17:45] emanuele-f commented on #1313
Hi, please make sure your directory structure is the following:

/usr/src/nDPI
/usr/src/ntopng

[2017-06-13 17:51] xgerligand commented on #1313
Thank you all, yes this is my structure.

I found the mistake:
libndpi.pc was still in /usr/lib64/pkgconfig , I deleted it and it is OK now.
Thank you again for you help.
Xavier.
Bonjour de Paris.

[2017-06-13 19:05] juesor commented on #1233
ntopng Pro [Small Business Edition] v.3.0.170612

Apparently i don't pay attention enough.

If i go to GEAR > Preferences > Data Retention

I do not see mysql setup.

[2017-06-14 07:37] bioteseo opened #1315 "host view display only 255.255.255.255 in ntopng development builds"
Hi I'm using both ntopng version, but I see this issue only in the development version.
When I go in host view I see only a host 255.255.255.255.
In network view I see all networks and when I click on one of these I see the entire list of hosts of that network. Is it normal? I miss something?

This is my system:
Version	3.1.170614 - Community Edition
Built on	Ubuntu 14.04.5 LTS
nDPI	2.1.0-884-c46a

[2017-06-14 08:22] mahescho commented on #1306
No problem but just FYI: Firefox stopped working after about 5 days with a non responding script: http://192.168.100.21:3000/js/d3.v3.js:341

[2017-06-14 09:08] emanuele-f commented on #1306
@mahescho thank you for this information. If these problems are related to the d3.js component than maybe an update of the library would solve them. But the update would probably break our gui and some work must be done to fix and test it. This is not one of our priorities right now, but again thank you

[2017-06-14 09:16] emanuele-f commented on #1315
Hi, do you that you do not experience the issue in the 3.0.x stable version while you experience it in the 3.1.x dev version? If this is the case, then it is really strange since we have forked the stable version just a few days ago, so most of the code is still shared with the dev.

Nevertheless, it is not normal. When you only see an host, can you see the pagination with page numbers at the bott

[2017-06-14 09:19] emanuele-f commented on #1233
Hi @juesor, mysql export must be configured from command line parameters (or ntopng configuration file) using the `-F` option. Please see this link for more details http://www.ntop.org/ntopng/exploring-historical-data-using-ntopng/

[2017-06-14 11:16] Artapel commented on #1311
I have done the suggested. here is the output

I am monitoring now to see when it stops
Will keep you up to date

[2017-06-14 11:56] emanuele-f commented on #1311
Thank you @Artapel

[2017-06-14 12:02] bioteseo commented on #1315
Hi,
the issue is in 3.1.x dev but not in 3.0.x stable version. The issue was in dev version also before to move to 3.x version but not in the stable version.

I see page numbers: the first page is only for host 255.255.255.255, the second contain hosts and so on. When I return to page 1 host 255.255.255.255 has displayed. Filters and arrows didn't run right.

Here three scrennshot, first page and

[2017-06-14 13:27] emanuele-f commented on #1315
I suspect this is related to the fact that the ip 255.255.255.255 appears with many mac addresses. Internally, there are many hosts with the same ip but different mac addresses, so they are counted individually. On the gui side, however, they are sort of aggregated into one entry. This is something we should fix.

[2017-06-14 13:34] emanuele-f commented on #1300
Do you get the `d3.v3.js` script hung error as reported in #1306?

[2017-06-14 13:40] emanuele-f commented on #1292
Yesterday I've fixed a bug which caused high memory consumption in a particular case when multiple mac addresses appeared with the same ip 89a756fb9a1bbe52b091adca5e9eb562f7d56277 . Maybe this is what affected you and caused your ntopng process to be killed. I'm closing the issue since no feedback has been received. Please reopen if necessary.

[2017-06-14 13:40] #1292 closed, assigned to nobody

[2017-06-14 13:41] emanuele-f commented on #1278
@izzie88 any news?

[2017-06-14 13:42] emanuele-f commented on #1259
Closing for inactivity. Please reopen if necessary.

[2017-06-14 14:11] simonemainardi commented on #1311
@Artapel do you really need to monitor all the interfaces of the system?

[2017-06-14 14:52] izzie88 commented on #1278
I did an update 4 days ago, and it has been running for 4 days.
I am still monitoring it.

On Jun 14, 2017 14:41, "Emanuele Faranda" <notifications@github.com> wrote:

[2017-06-14 16:41] emanuele-f commented on #1278
Thank you for reporting.

I suggest you to update to the new version ntopng and nprobe to take advantage of the latest fixes. I'm closing the issue for now. Feel free to reopen it if necessary.

[2017-06-14 16:41] #1278 closed, assigned to nobody

[2017-06-14 20:51] VC-IT opened #1316 "Ntopng v3 stops collecting data and the dashboard stops responding"
Hello,

We upgraded ntop Business Pro to the latest version this morning and ever since that point the dashboard will stop responding every few minutes. If we restart, the dashboard will update for up to five minutes before stopping again. We do not see any errors generated. In addition, the webservice page will take 2-3 minutes to connect. There were no other changes made to the system beside the

[2017-06-14 20:53] VC-IT commented on #1316
Kernel version:
Linux netflow 4.4.0-79-generic #100-Ubuntu SMP Wed May 17 19:58:14 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

[2017-06-14 22:19] emanuele-f commented on #1316
Hi, your local network segment (-m option) is huge, so you have a lot of local hosts, whose statistics are dumped to disk. The error you get into the console states that ntopng is not able to write all these stats
in time. The heavy disk load is probably what causes the not responding web server.

Please disable the "Layer-7 Application" dump from the data retention preferences

[2017-06-14 22:24] VC-IT commented on #1316
Hello Emanuele,

Thank you for your reply. Layer-7 Application was never enabled. iotop reports:

Actual DISK READ:       4.59 M/s | Actual DISK WRITE:       6.73 M/s
  TID  PRIO  USER     DISK READ  DISK WRITE  SWAPIN     IO>    COMMAND
 1693 be/4 nobody      3.47 M/s    0.00 B/s 58.52 %  1.83 % ntopng /etc/ntopng/ntopng.conf
   30 be/4 root        0.00 B/s    0.00 B/s  0.00 %  0.24 % [kswapd0]

[2017-06-15 04:26] stebbo63 commented on #1316
I am now on .170613 and am having the same UI freezing issue.

[2017-06-15 04:28] stebbo63 commented on #1301
Ok.  I removed the mysql parameters from the startup conf file and rebooted.  The system lasted for about 3 minutes before the UI froze and I'm assuming I don't have any recording either.

my ntopng.conf file is
-w=3000
-W=0
-g=-1
-m="10.174.64.0/20"
-d=/storage/ntopng
-G=/var/run/ntopng.pid
-i=enp3s0

[2017-06-15 08:12] Artapel commented on #1311
It seems to run longer when using `sudo ntopng /etc/ntopng/ntopng.conf` but after a while it also stopped working

[2017-06-15 08:42] emanuele-f commented on #1316
@VC-IT does the ntopng footer green badge report a number of local hosts which is reasonable for your network? Please turn off any data retention setting and see if the gui bacomes responsive again.

[2017-06-15 09:04] emanuele-f commented on #1301
@stebbo63 if you disable all the data retention settings (under the ntopng preferences), does the ui still freeze?

Can you delete manually `/storage/ntopng/2/rrd/tcp_rst.rrd`, `/storage/ntopng/2/rrd/10/174/79/247/MDNS.rrd` and `/storage/ntopng/2/rrd/fe80__e8_1d71_dad4_e55f/dns/rcvd/queries/num_a.rrd` which are the cause of the above warnings? Do you get a clean ntopng log after this?

[2017-06-15 09:06] emanuele-f commented on #1311
@Artapel can you try to disable all the data retention settings under the ntopng preferences and see if the dashboard becomes responsive? Does the number of local hosts you see in the footer green badge match your expected local hosts number?

[2017-06-15 09:28] emanuele-f commented on #1293
I can reproduce the issue on Centos 7. When updating nprobe, the system becomes unreachable after the `Running transaction` message.

[code]

I previously tried to execute `bash -x /etc/init.d/nprobe stop` but the command blocks until I ctrl+c it. Maybe this is why the update hangs: the pf_ring module is unloaded but nprobe hangs and it stays unloaded. This is the output:

[code]

[2017-06-15 09:50] emanuele-f commented on #1293
@cardigliano this is my fix for /etc/init.d/nprobe:

replace all the
`if [ -f "${PID_FILE}" ]; then`
with
`if [ ! -z "${PID_FILE}" -a -f "${PID_FILE}" ]; then`

[2017-06-15 11:15] lucaderi commented on #1311
@Artapel Can you please specify in the configuration file with -i the exact interfaces you need to enable? As you are enabling too many interfaces this is definitely creating problems.

[2017-06-15 16:05] VC-IT commented on #1316
@emanuele-f
Currently it shows over 36,000 IPs on our network which is almost x10 larger than our allocated IP space. Though the range is /12, we are only using small portions (mostly split into /24s).

Additionally, when I progress through the pages it begins repeating the same addresses by page 9 and seems to pull up random results as I move through each page. I have it set to show 100 entries p

[2017-06-15 16:11] VC-IT commented on #1316
Here's page 7
![screen shot 2017-06-15 at 9 08 32 am](https://user-images.githubusercontent.com/29441496/27190821-908a767a-51aa-11e7-9170-fde83d1591e4.png)

Same IP on page9:
![screen shot 2017-06-15 at 9 10 27 am](https://user-images.githubusercontent.com/29441496/27190834-997b99e4-51aa-11e7-8988-bc3b184d96b2.png)

[2017-06-15 21:26] stebbo63 commented on #1301
@emanuele-f I have disabled all the data retention settings, and deleted two of those three files you mentioned.  The first one "tcp_rst.rrd" was not present on my system.

I've restarted and will see how the system performs today.  Thanks for the assistance.

[2017-06-15 21:31] VC-IT commented on #1316
Sorry, forgot to add, we turned off all the data retention yesterday. What we're seeing is an immense amount of reads while ntopng is running, even with mysql disabled.

This is after restarting the server and ntopng. After 1 minute the disk trashing becomes intense and ntopng is no longer responsive. The webgui stops updating and then we see rrd errors in the logs.

Actual DISK READ:      26.13 M

[2017-06-16 00:54] simonemainardi commented on #1316
So it turned out that during the 5-minute statistics update, all the hosts were processed. Actually, the intended behaviour is to only process _local_ hosts. Fix is in 7332cc7c53afe7554e25bc944a6943b1804cc728 and new builds are in progress.

The above fix should solve the error
[code]

Can you please test and report the behaviour of the system using ntopng with the fix?

I still can't understand t

[2017-06-16 01:31] simonemainardi commented on #1315
@emanuele-f I think I know the issue: NetworkInterface::getActiveHosts pushes hosts in a lua table and uses the host ip address as key. In case the same ip is seen with multiple mac addresses, then the same key is overwritten and thus fewer hosts are shown.

I am working on the fix. I will push results using integer numbers starting from 1 as it is done with flows. I need some time as this require

[2017-06-16 01:39] VC-IT commented on #1316
@simonemainardi
I now see the correct number of local hosts and iotop shows normal usage. The dashboard is running smoothly again. I'll update you tomorrow while we let it run.

In answer to your question, that was from - http://server:3000/luahosts_stats.lua?mode=local
If I clicked on it, that was the strange result I was seeing.

[2017-06-16 02:19] stebbo63 commented on #1301
@emanuele-f  Unfortunately, the system recorded for about two hours and then nothing.  The UI is responsive, but there is no traffic being "seen".

Cheers,
Chris.

[2017-06-16 03:31] simonemainardi commented on #1301
Chris, it looks like we've found the cause of the issue. The fix is already
available. Can you please try to update and report?

On Thu, 15 Jun 2017 at 22:34, Chris Stebbing <notifications@github.com>
wrote:

--
Sent from my iPad. Sorry for typos.

[2017-06-16 07:22] emanuele-f commented on #1316
@simonemainardi I think the host issue @VC-IT is experiencing is the same as issue #1315

[2017-06-16 10:10] stebbo63 commented on #1301
Hi emanuele,

have updated to 170616 and will see how it goes next week.

cheers,
Chris.

[2017-06-16 16:09] VC-IT commented on #1316
@simonemainardi
After a few hours of operation we're once again experiencing the large number of local IPs and rrd failures:

15/Jun/2017 19:26:53 [Lua.cpp:5500] [@/usr/share/ntopng/scripts/callbacks/5min.lua]:[156] ERROR: Cannot complete local hosts R
RD dump in 5 minutes. Please check your RRD configuration.
15/Jun/2017 23:19:50 [Lua.cpp:5500] [@/usr/share/ntopng/scripts/callbacks/5min.lua]:[156

[2017-06-17 22:50] rainbowbreeze opened #1318 "Report of latest hours traffic data (sent/receive) for an host"
First: thanks for ntop and ntopng! I'm finding them really useful to monitor my domestic bandwidth consumption using a RasPi 3 as AP and ntop - ntopng to check traffic from each host

In ntop I was using previously, I had a very convenient (for me) view where the total host traffic (sent/receive) was shown for the latest hours
![ntop-hourly-report](https://user-images.githubusercontent.com/381940/

[2017-06-18 22:31] emanuele-f commented on #1318
Hi, the ntopng community version does not have such a view. We offer a per hour/day traffic report (but it is not splitted between sent/receive) into the enterprise edition, which you can run as a demo from our repositories http://packages.ntop.org/. The report is available for local networks, hosts and interfaces.

![screenshot at 2017-06-19 00-29-06](https://user-images.githubusercontent.com/548

[2017-06-18 22:31] #1318 closed, assigned to nobody

[2017-06-18 23:23] emanuele-f commented on #1316
@VC-IT prior to the 3.0 version a single host was identified by an IP address. Now, with the 3.0 version, an host is identified by an IP address *and* a MAC address. So, even if you have 700 active IP but each IP has multiple MAC address (e.g. multiple virtual machines running into a singel host), then you will see one host for each IP-MAC combination. Can this be your case?

[2017-06-18 23:24] emanuele-f commented on #1301
@stebbo63 thank you, please let us know.

[2017-06-19 02:39] stebbo63 commented on #1301
Hi emanuele,

version 170616 has been running for a few days now, and all this morning with everyone here and using the internet.  Is it safe to start adding back in the data retention settings I removed?

Would you like me to test any particular settings in any particular order?

Thanks for the assistance so far.

Cheers,
Chris.

[2017-06-19 07:37] emanuele-f commented on #1301
Hi Chris, please first try to enable the "traffic" timeseries only and see if you get historical traffic stats. Later you can enable the "application" timeseries. How many local hosts do you have roughly (green badge in the footer)?

[2017-06-19 07:58] Artapel opened #1319 "Top Application Traffic Last Day View Not displaying Data"
Hi Guys. I updated to V3 But now i cant see any data in the "Top Application Traffic Last Day View" section.

**My current setup is as follows**

 **yum list installed | grep ntop**

**I found this error in the Ntopng.log**

**I tried fo follow the path but the "graph_utils.lua:9899" does not exist**
[code]
Any Ideas?

[2017-06-19 08:21] stebbo63 commented on #1301
Hi Emanuele,

I've enabled the "traffic" timeseries only at this stage.  We would usually have between 1000 and 1400 hosts connected at any one time during the day, with around 2200 unique hosts per day.  At the moment, the green badge says 518 but it's a few hours after the staff and students have gone home.

Cheers,
Chris.

[2017-06-19 08:35] emanuele-f commented on #1319
Hi, please delete `/var/tmp/ntopng/6/rrd/192/168/1/230@2/SOME/IP.rrd` from command line and see if you get any other error

[2017-06-19 08:37] Artapel commented on #1319
Fixed

Thank you very much!

Regards
[Corne Kruger]

From: Emanuele Faranda [mailto:notifications@github.com]
Sent: 19 June 2017 10:35 AM
To: ntop/ntopng
Cc: Corne Kruger; Author
Subject: Re: [ntop/ntopng] Top Application Traffic Last Day View Not displaying Data (#1319)

Hi, please delete /var/tmp/ntopng/6/rrd/192/168/1/230@2/SOME/IP.rrd<mailto:/var/tmp/ntopng/6/rrd/192/168/1/230@2/SOME/IP.rrd> f

[2017-06-19 08:49] Artapel commented on #1311
I did the update to the latest Ntopng this morning. This seems to have fixed the problem.

I have also just configured the 3 interfaces we are currently using.
P.S, the other interfaces are not active. Just showing up so im very sure that did not add to the original problem. Those interfaces has been present for 2 years now and did not create a problem in the past.

The board is now working fine a

[2017-06-19 08:51] emanuele-f commented on #1319
You are welcome. I'm closing the issue

[2017-06-19 10:18] Artapel opened #1320 "No Results Found @ User History (Flows Talkers Protocols)"
Hi Guys Hope you can help

I am trying to view a more detailed history on one particular IP address but im getting the "No Results Found" message when clicking on Flows,Talkers or Protocols.

I can see the bandwidth in the "Chart" tab but no other data in another tab.
This seems to be the case for all IP`s outside of Vlan0.

I can view this information on device in our default vlan.

**My current

[2017-06-19 20:33] VC-IT commented on #1316
@emanuele-f  - We've updated to the latest ntopng and have had no issues so far.

[2017-06-20 07:58] emanuele-f commented on #1316
Ok, I'm closing the issue for now, please reopen it if you still experience problems

[2017-06-20 07:58] #1316 closed, assigned to nobody

[2017-06-20 08:04] emanuele-f commented on #1301
Ok, please let me know if it works fine after enabling the application timeseries

[2017-06-20 08:15] emanuele-f commented on #1320
I confirm the problem is caused by the vlan id, which is combined into the IP_DST_ADDR and IP_SRC_ADDR mysql fields

[2017-06-20 08:16] Artapel commented on #1320
Thank you very much for the feedback. Is there anything i can do or should i wait for a fix?

Regards

NOTE: This e-mail is intended solely for the use of the individual(s) to whom it is addressed. If you are not an intended recipient you must not use, disclose, distribute, copy, print, or rely on this e-mail.

[2017-06-20 08:18] emanuele-f commented on #1320
Please wait for the fix, thank you

[2017-06-20 08:20] stebbo63 commented on #1301
Hi Emanuele,

the system was stable today (with just the traffic timeseries enabled).  I will add the application timeseries this evening as well and report back.

Cheers,
Chris.

[2017-06-20 08:48] Artapel commented on #1319
It seems that the problem WAS fixed but are occurring again. I can see this is true for a 3 my interfaces.

Here is the error i noticed while running a tail -f /var/log/ntopng/ntopng.conf

20/Jun/2017 10:45:01 [Lua.cpp:6112] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/5min.lua][/usr/share/ntopng/scripts/lua/modules/graph_utils.lua:1009: creating '/var/tmp/ntopng/7/rrd/SOME/IP.rrd'

[2017-06-20 08:51] emanuele-f commented on #1319
The file which causes the issue is always different or is it always the same?

[2017-06-20 12:59] Artapel commented on #1319
I kept the Tail -g /var/log/ntopng/ntopng.log running for a whiule and it seems to be the same file

[2017-06-20 13:00] Artapel commented on #1319
Take not of the exact times of all those log entries

[2017-06-20 15:34] NLedoux opened #1321 "LDAP (AD) authentication not working"
We were finally able to upgrade to the latest version but still no luck with LDAP authentication (Active Directory).
We have been able to confirm that ntop communicates with our AD server as I see the requests on our firewalls.
I think we also have been able to confirm that the Bind Account provided is used as inputting a wrong password triggers a “Bind error: Invalid credentials” that goes away a

[2017-06-20 18:50] BravoFox commented on #1311
I seem to be having the same issue. It seems to run just fine for an hour or two, then shows the service as being exited. The only fix for this is restarting the service with the aforementioned restart command.

[2017-06-20 18:52] ValentinaViscarelli commented on #1321
@NLedoux
Are you sure you have configured ntopng properly?
Could you please attach ntopng configuration for ldap authentication?
Is it possible to have more informations of your server?
For example with this command (make attention the output of this command gives private information of your accounts. If you want you can send me the info into my private email valentina@ntop.org):
ldapsearch -x -H

[2017-06-20 21:07] NLedoux commented on #1321
Hello Valentina,

I think ntopng is properly configured. It is working well apart from LDAP (AD) login.
We see LDAP requests to the AD server when login attemps are made and ntopng logs an error if the wrong password is entered form the LDAP Bind DN.
Here are the parameters:
- LDAP Accounts Type: sAMAccount
- LDAP Server Address: ldaps://[FQDN]:636
- LDAP Anonymous Binding: Off
- LDAP Bind DN: cn=

[2017-06-21 04:38] faizann24 opened #1322 "Uncompress(JSON) returns NULL"
Hey,

I have the data in a SQL database and I want to uncompress the JSON table but when I type uncompress(JSON), it gives me NULL.

I am using MySQL version 5.7 on Windows 8.

Any solution for this?

Regards

[2017-06-21 07:05] philimnorden commented on #1293
Same problem on ubuntu 16.04LTS:
 Doesn't matter if i manually shutdown/kill nprobe before i run upgrade.
 apt-get upgrade:
[code]

I tried your changes in /etc/init.d/nprobe but it does not work:
[code]

Line 197 /etc/init.d/nprobe ( i didn't changed anything there)
`if [ $PID -gt 0 ]; then`

[2017-06-21 08:30] stebbo63 commented on #1301
Hi Emanuele,

the system was stable today with both traffic and application timeseries retention enabled.  I'm going to enable the SQL logging now and see how it goes.

Cheers,
Chris.

[2017-06-21 09:10] emanuele-f commented on #1301
Ok, thank you for reporting

[2017-06-21 09:48] philimnorden opened #1323 "LDAP Auth: User are only "unprivileged user" if they are in both the User and the admin group"
When users are in the normal user group and in the admin group the user only get unprivileged  access. Wouldn't it be smarter if user would get admin rights?

We are using our usual "IT-Staff"-Group as LDAP User Group and a special "IT-Admin"-Group as LDAP Admin Group. But all our Admins are in the "IT-Staff"-Group too and they dont have the correct admin rights in ntopng.

[2017-06-21 10:11] lucaderi commented on #1322
@faizann24 Can you please specify the exact SQL query you are doing?

[2017-06-21 10:12] faizann24 commented on #1322
Sure.

select uncompress(JSON) from flowsv4

[2017-06-21 10:53] lucaderi commented on #1322
Strage I cannot reproduce it. Are you using a 3.x version of ntopng? Is maybe this an old record created with old (and buggy) ntopng versions?

[2017-06-21 12:26] harmane opened #1324 "Ntopng v3 - multiple issues (dropped MySQL flows, local hosts RRD dump error in log)"
Running a single instance of ntopng w/nprobe collecting netflow from Cisco 6509. Version and config as follows:

Debian 8.8
4 Core
16GB ram
1Gbps eth
MySQL Fabric

ii  apt-ntop-stable                2.4-535                            all          ntop stable apt package repository
ii  ntopng                         3.0.170619-3064                    amd64        Web-based traffic monitoring.
ii  n

[2017-06-21 13:11] simonemainardi commented on #1322
what you get if you just select the JSON without UNCOMPRESSing it?

[2017-06-21 13:37] lliopt opened #1325 "interface name in addition to snmpifindex"
Hi guys,
Currently we have snmpifindex field in the flow info, which is not quite useful, since you have no idea to what interface that index belongs, and that requires you to have snmp device tab opened just to verify incoming and outgoing interfaces for the flow.
Since snmp device tab already has all interface names polled, could you please add 2 more fields in GUI in addition to ifindex with th

[2017-06-21 13:58] lliopt opened #1326 "GUI is not quite useful for a network troubleshooting"
Hi team,
Current ntop GUI is kind of messy and doesn`t allow you to troubleshoot modular/multi-port/multispeed network devices efficiently because of lacking graphs/flows_grooping/you_namr_it  option on per interface (snmpifindex) basis.
Imagine you have a router with 1x40G interfaces + 1x10G + 1x1G and 1x100M interfaces and only 100M link is 100% utilised. In the same time all other interfaces ar

[2017-06-21 14:11] lucaderi commented on #1326
In summary

- You would like to see in flows_stats.lua all flows on a given interfaceId similar to what we do with hosts and Ids
- map the interface index with a name (if mapping is available)
- if you are in a flows_stats.lua clicking on a host does not move you to the host page host_details.lua?host=XXX but to the flow page of the host host_details.lua?host=XXX&page=flows

Is this correct?

[2017-06-21 14:38] lliopt commented on #1326
Hi Luca,
Thank you for promt reply.
1. From my understanding, you go to the devices tab to see the device(s) you have in `flowdevices_stats.lua` for example. There by clicking to the `Flow Exporter IP ` you reaching a table with ifindex/interface name, in/out bytes, rate(maybe?) and the most important - chart button/flows button.
That button should show table with flows related that interface only

[2017-06-21 16:16] #1324 closed, assigned to nobody

[2017-06-21 16:26] simonemainardi commented on #1324
hi, thanks for reporting, I have made an optimization to skip local hosts iterations in the 5min.lua script when, as in your case, all the host timeseries (data retention) are disabled.

This will prevent the error

[code]

You have 30k local hosts. This means that, if you want to save local hosts timeseries within a 5 minutes timespan, 100 hosts per second must have all their RRDs updated. We kno

[2017-06-21 16:36] lucaderi commented on #1326
Do you have multiple routers exporting flows or just one? If one, an interim solution is to go in preferences -> expert view and set "Dynamic Flow Collection Interfaces" to "Ingress Flow Interface".

Our idea was to use virtual network interfaces to split traffic sent by multiple probes/exporters. I see you are requesting some enhancement and most of them make sense.

[2017-06-21 19:05] harmane commented on #1324
`
"mac_address":"00:00:00:00:00:00"
`

For what it's worth I'm not seeing any MAC addresses with netflow. Only way I have seen MAC addresses or OS detection has been with in-line collection/mirror/span ports.

[ntopng.zip](https://github.com/ntop/ntopng/files/1092596/ntopng.zip)

[2017-06-21 20:27] ValentinaViscarelli commented on #1293
@philimnorden
@emanuele-f
Could you please attach your nprobe file configuration?

Please run this command and report the output:
cat /etc/nprobe/nprobe-none.conf

Thanks

[2017-06-21 21:07] ValentinaViscarelli commented on #1323
@philimnorden
I cannot reproduce this behaviour. If I create an account and assign it to user_group and also admin_group, the user will log in as admin.
Are you sure you have assign the user to admin group properly? If you remove the user just from user_group, are you able to log in as admin?

[2017-06-21 21:10] ValentinaViscarelli commented on #1321
@NLedoux
Are you sure you  have a sAMAccount? Maybe do you have a posix account?

[2017-06-21 21:11] NLedoux commented on #1321
If I’m not mistaking, AD is sAMAccount not posix.

Out of Office alert: June 30 - July 18
EquiSoft <http://www.equisoft.com/> SOLUTIONS D’AFFAIRES INNOVATRICES
Nicolas Ledoux, Directeur Principal, Infrastructure TI
T: 514.989.3141 X 259| +1.888.989.3141| M: 514.880.3141

From: ValentinaViscarelli [mailto:notifications@github.com]
Sent: Wednesday, June 21, 2017 5:10 PM
To: ntop/ntopng <ntopng@norep

[2017-06-21 21:49] ValentinaViscarelli commented on #1321
@NLedoux
If you use sAMAccount you have to user "memberOf" attribute to bind user to group and you have also to define "distinguishedName" attribute. Did you make these steps?

[2017-06-21 21:57] NLedoux commented on #1321
The directory is Microsoft Active Directory so yes those 2 attributes are used and defined.
Are you talking about configuration to be done on the ntopng side? If so where and how?

Out of Office alert: June 30 - July 18
EquiSoft <http://www.equisoft.com/> SOLUTIONS D’AFFAIRES INNOVATRICES
Nicolas Ledoux, Directeur Principal, Infrastructure TI
T: 514.989.3141 X 259| +1.888.989.3141| M: 514.880.3141

[2017-06-22 03:27] lliopt commented on #1326
Luca, yep we have multiple border routers  (6 as per now) with ~10 interfaces each with flow sampling and export enabled.
If we start to use `Dynamic Flow Collection Interfaces` with `Ingress flow interface` system becomes even more unusable.
As result you will have list of interfaces  listed as nprobe_ip:port:[interface_ifindex]. So again you have no idea where to find your interface + there is a

[2017-06-22 07:22] stebbo63 commented on #1301
Hi Emanuele,

have run for 24 hours with the system retaining traffic and appliciation timeseries, and also logging to SQL. I'm feeling quietly confident that this particular issue has been resolved.

Cheers,
Chris.

[2017-06-22 07:22] #1301 closed, assigned to nobody

[2017-06-22 07:27] stebbo63 commented on #1295
An initial check of build 170616 suggests that this issue might be resolved. Not completely sure as I've only been collecting data for a little while (after other isues).  Will check back in a week or so and report back.

Cheers,
Chris.

[2017-06-22 10:22] ayeshabasit commented on #1289
I am sorry for the inconvenience but can I be pointed to some resources that can help me setup an ntop + nprobe installation? I tried searching for something of the sort to no luck.

[2017-06-22 10:27] emanuele-f commented on #1289
Hi, please see this link http://www.ntop.org/nprobe/advanced-flow-collection-with-ntopng-and-nprobe/

[2017-06-22 11:01] ayeshabasit commented on #1289
Thank you - but I am still a little confused as to what ZMQ is.

[2017-06-22 11:07] ayeshabasit opened #1327 "make error while installing nDPI for ntop"
Here is my output, I installed pfring already as per instructions here http://www.ntop.org/get-started/download/

make  all-recursive
make[1]: Entering directory '/root/nDPI'
Making all in src/lib
make[2]: Entering directory '/root/nDPI/src/lib'
make[2]: Nothing to be done for 'all'.
make[2]: Leaving directory '/root/nDPI/src/lib'
Making all in example
make[2]: Entering directory '/root/nDPI/examp

[2017-06-22 11:16] emanuele-f commented on #1327
Hi, open an issue here https://github.com/ntop/nDPI

[2017-06-22 11:16] #1327 closed, assigned to nobody

[2017-06-22 11:18] emanuele-f commented on #1289
It is a communication protocol to exhange messages. Ntopng and nprobe open a socket and exchange data via ZMQ messages

[2017-06-22 13:18] philimnorden commented on #1293
[code]

[2017-06-22 13:25] ValentinaViscarelli commented on #1293
@philimnorden
When you write the configuration into file you have to use '=' character and please don't forget -g parameter (with the service it is mandatory). So change your configuration like this and give it a try.
Let me know if it works.
Thanks.

 -i=eno2
--collector-port=9999
--zmq=tcp://127.0.0.1:9876
-g=/var/run/nprobe-none.pid

[2017-06-22 13:29] emanuele-f commented on #1293
@ValentinaViscarelli I also missed the -g parameter. But I think the init script should handle this

[2017-06-22 13:41] ValentinaViscarelli commented on #1293
@emanuele-f
I will fix the script for not getting a problem if -g parameter is missing but anyway without pid file you will not able to stop nprobe instances.

[2017-06-22 13:50] emanuele-f commented on #1293
Ok, thank you

[2017-06-22 13:57] philimnorden commented on #1323
Yes, the admin group is properly assigned and if i remove the user from the user_group  im am able to log in as admin again.

[2017-06-22 14:03] philimnorden commented on #1293
Worked like a charm, thank you.

[2017-06-22 14:25] ValentinaViscarelli commented on #1323
@philimnorden
I checked the code and It's strange in fact it works for me..... what ntopng version are you using?

ntopng --version

[2017-06-22 15:42] ValentinaViscarelli commented on #1293
Fixed init.d script in order to avoid errors when you don't have -g parameter set in nprobe configuration.

[2017-06-22 15:42] #1293 closed, assigned to cardigliano, ValentinaViscarelli

[2017-06-22 15:54] gabbo9lli opened #1328 "load data from ntopng backup to logstash"
Hello.
I'd like to load data from ntopng mysql backup.
Then I'm restoring backup in a new instance in a new environment where I've installed elk environment.
Is it possible to recover data and visualize them in the new environment with kibana?
how?
thanks
regards
gabbo

[2017-06-22 19:21] simonemainardi commented on #1328
@gabbo9lli assuming you have mysql data backed up in a .sql file generated with mysqldump, then you can import that data in a new database with:

[code]

once you have that data in mysql you have to push it into elasticsearch for kibana visualization

you can use logstash to extract mysql data and push it into ES. Here is a great tutorial that show this: https://qbox.io/blog/migrating-mysql-data-i

[2017-06-22 19:21] #1328 closed, assigned to nobody

[2017-06-22 20:11] simonemainardi commented on #1324
if you want to see mac addresses with netflow, you have to explicitly declare an nprobe with source and destination mac addresses, e.g.,

-T "%IPV4_SRC_ADDR %IPV4_DST_ADDR %IPV4_NEXT_HOP %INPUT_SNMP %OUTPUT_SNMP %IN_PKTS %IN_BYTES %FLOW_START_MILLISECONDS %FLOW_END_MILLISECONDS %L4_SRC_PORT %L4_DST_PORT %TCP_FLAGS %PROTOCOL %SRC_TOS %SRC_AS %DST_AS %IPV4_SRC_MASK %IPV4_DST_MASK %IN_SRC_MAC %OUT_DS

[2017-06-22 20:13] simonemainardi commented on #1324
by the way, regarding your other question, the enterprise version not only features faster insertion speeds, but also uses aggregation techniques to speed up searches and queries.

[2017-06-23 10:35] gabbo9lli opened #1329 "recover flow data in elasticsearch using logstash"
hello.
I'd like to recover data flow in elasticsearch using logstash.
I'm able to import data but
I have two question.

- I'm not able to read data from column flowsv4_0.JSON.
I've read that that column was compressed.
How can I obtain clean json data from flowsv4_0.JSON?

- when I processing with logstash flowsv4_0.IP_SRC_ADDR column, I obtain a conversion error.
I've made this sql:
statement =>

[2017-06-24 23:32] Vizis opened #1330 "E: Unable to locate package nbox"
E: Unable to locate package nbox
AT apt-get install pfring nprobe ntopng ntopng-data n2disk cento nbox
 ofc after wget http://apt-stable.ntop.org/jessie/all/apt-ntop-stable.deb

[2017-06-24 23:32] Vizis commented on #1330
Debian 8.6 Jassie

[2017-06-26 01:53] sofakng opened #1331 "ntopng running on Raspberry Pi 3 isn't showing SNMP statistics but Windows is working"
I've just installed ntopng v3 on my Raspberry Pi 3 (raspian) and it's seeing traffic OK, but when I add an SNMP device it displays some basic information (description, object id, and name) but no interfaces are listed and the uptime is 0, etc.

When I install ntopng on Windows, it displays everything correctly for the same SNMP server.

Could I be missing packages on my raspberry pi 3 (raspian/deb

[2017-06-26 08:41] gabbo9lli commented on #1329
I've searched in old issues and I've found solutions about my requests.
In my research's query I put
select uncompress(JSON), inet_ntoa(IP_SRC_ADDR), inet_ntoa(IP_DST_ADDR)from flowsv4_0.

Regards
gabbo

[2017-06-26 08:41] #1329 closed, assigned to nobody

[2017-06-26 10:50] Niko78 opened #1332 "mysql/L7 dataretention question"
it's just a simple question
I would like to know how is done dataretention inside ntopng ? I mean by example I configured to store for 30 days
so what's happen after 30 days ? + does it detect if harddrive is full (waring at 80% usage ?) ? is there something like rotation log ?

thanks

[2017-06-26 13:42] simonemainardi commented on #1332
rotation is performed daily (daily.lua). Every day at midnight, mysql records older than the specified number of days are `DELETE`d.

[2017-06-26 13:42] #1332 closed, assigned to nobody

[2017-06-26 13:59] ValentinaViscarelli commented on #1330
nbox supports just ubuntu 14 and ubuntu 16.
Debian 8.6 Jassie is not supported.

[2017-06-26 13:59] #1330 closed, assigned to ValentinaViscarelli

[2017-06-27 02:26] SAray2013 opened #1333 "I want to know How to Analyse MikroTik Traffic Using ntopng."
I followed configuration from { http://www.ntop.org/ntopng/how-to-analyse-mikrotik-traffic-using-ntopng/ } but it's not working and made my router cannot access. Thank you for attention.

[2017-06-27 07:24] philimnorden commented on #1323
[code]

[2017-06-27 08:08] emanuele-f commented on #1333
Hi, please post the exact ntopng and nprobe command line you are using. What ntopng and nprobe version are you using? Can you post some logs?

Please take these steps to understand were the problem is:
1) run nprobe with -b2 option: it should print to the console the flows it receives from the router
2) run ntopng with -v3 options: it should print to the console the flows it receives from nprobe

[2017-06-27 09:02] dpavlin commented on #1319
We are having same problem here:

var/log/ntopng/ntopng.log.1:26/Jun/2017 06:25:14 [Lua.cpp:6112] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/5min.lua][/usr/share/ntopng/scripts/lua/modules/graph_utils.lua:989: creating '/var/tmp/ntopng/3/rrd/193/198/212/251/SOME/IP.rrd': No such file or directory]`

It happens for multiple IPs:

dpavlin@ntop:~$ grep SOME /var/log/ntopng/ntopng.lo

[2017-06-27 10:13] simonemainardi commented on #1319
Thanks for reporting, issue was a collateral effect of nDPI commit https://github.com/ntop/nDPI/commit/348159dc3aff479ca80928f97fdd3de94356591a

It should be solved now. New builds will be available starting from tomorrow.

Before trying again please make sure to remove all the rrds containing ..SOME...

[2017-06-27 14:40] harmane commented on #1324
I'm now seeing MAC addresses (Cisco config change) but however still see the zero MAC with send/receive traffic. Also no more MySQL drops after updating to ver. 3.0.170623 though netflow is significantly reduced this time of year.

I think I will look into the Enterprise version as there are some features we could use. I still am seeing lots of iowait on slaves but it's more a MySQL thing than nto

[2017-06-27 15:02] sethbeauchamp opened #1334 "Duplicate Interfaces showing up"
I seem to have multiple interfaces show up (i've renamed the dropdown to "Nodes" in my box). See image: http://imgur.com/1vN2kzB

This was not occurring until i upgraded to v3.1. I am having remote nodes send netflow v9 to my ntop server. Example of my configurations...

NPROBE:
--zmq="tcp://*:5556"
--collector-port=2055
-V=9
-n=none
-i=none
I have multiple nprobe-x.conf files, one corresponding t

[2017-06-27 15:29] harmane commented on #1333
Which RouterOS/Winbox version are you using? The ntop guide is fairly outdated. I use the following to start nprobe/ntopng w/script at reboot and RouterOS 6.38.7 bugfix:

nprobe:

/usr/local/bin/nprobe -G --zmq "tcp://*:5556" -i none -n none --collector-port 5900 -V 9

/etc/ntopng/ntopng.conf:

-w=3004 <---Web port (ntopnghost.local:3004)
-d=/var/ntopng <---data directory, default is /var/tmp I be

[2017-06-27 21:42] simonemainardi commented on #1334
have you selected the creation of virual interfaces of the basis of the exporter_ip/interface index from the ntopng preferences (entry Interfaces)?

[2017-06-27 21:58] sethbeauchamp commented on #1334
Oh oops. I didn't even realize that was there now. That looks to be the cause. Thanks.

[2017-06-27 21:58] #1334 closed, assigned to nobody

[2017-06-28 10:07] bioteseo opened #1335 "Host Pool List: wrong data in host column"
Hi,
ntopng stable version, in the host poll list (menu hosts -> host pools) I see more hosts (in number) than I defined in the host pool. When I click on host pool to see the list, the list is correct.
I defined three host pools with some IPs. For example an host pool with four hosts in host pool list has displayed with eight hosts, usually that number is the double....

Thanks

[2017-06-28 10:09] simonemainardi commented on #1335
can you post screenshots? Are the ips in any host pool duplicated? or are different ips?

[2017-06-28 11:30] bioteseo commented on #1335
They are different IPs in diffrent host pools: no overlapping
![screenshot from 2017-06-28 13-21-42](https://user-images.githubusercontent.com/316396/27635000-cbad1cfc-5c05-11e7-9699-de0fdc022605.png)
![screenshot from 2017-06-28 13-22-53-anonimized](https://user-images.githubusercontent.com/316396/27635001-cbb0c082-5c05-11e7-8910-eb87ddca1376.jpg)

[2017-06-28 11:43] simonemainardi commented on #1335
ok, thanks. We are working on that. Can you check and confirm you are seeing the same ip address with multiple macs? I think that that is the issue and is related to https://github.com/ntop/ntopng/issues/1315

[2017-06-28 13:24] michalzahor opened #1336 "Unable to use HTTPS to access web gui"
I want to use HTTPS to access web interface but NTOPNG complains during start:

To enable SSL, ntopng suggest readme:
Please read https://github.com/ntop/ntopng/blob/dev/doc/README.SSL if you want to enable SSL.

NTOPNG: v.3.1.170627 [Community Edition]
Debian 9

I've created PEM files as stated in documentation - but ntop still complains

[2017-06-28 14:13] bioteseo commented on #1335
I think there two different situations.
This issue is on ntopng stable version: 3.0.170623 - Community Edition and the hosts have different IP and different mac address, no overlapping. There could be overlapping on the default host pool (Not Assigned) but I can't check it. All pools defined from me and their hosts haven't overlapping.

I found the other issue  #1315 on ntopng dev version (now is

[2017-06-28 14:48] redtux commented on #1288
issue closed? :-( having the same problem here. ;-) purging, `systemctl disable ntopng`, and reinstall did not help. directly installing via `dpkg -i --force-all` is also not working.

`apt-cache policy ntopng`

`dpkg -i --force-all /var/cache/apt/archives/ntopng_3.0.170623-3081_amd64.deb /var/cache/apt/archives/ntopng-data_3.0.170623_all.deb`

as you can see, ntopng is running, but installing exi

[2017-06-28 15:59] lucaderi commented on #1333
@harmane Would you be willing to write a short README.mikrotik that we can add to the doc directory?

[2017-06-28 19:45] harmane commented on #1333
Sure. I should have some time this weekend to put something together.

[2017-06-28 21:31] MartinOehler opened #1337 "Ntopng Segfault (3.0.170623-3081)"
Hello,

we encounter a segfault after ntopng runs for a couple of days.

Version/Kernel Information:
[code]
OS: Debian 8.8

kern.log:
[code]

/var/log/ntopng.log:
[code]

ntopng is listening on 30 interfaces (which btw. is less that we would need), /var/tmp is filled with about 30 GB of data and there is plenty of space left. The system doesn't show remarkable I/O wait or other signs of weakness.

[2017-06-28 22:03] simonemainardi commented on #1337
hi martin,

Thanks for providing feedback.

the segfault and the errors "Cannot complete local hosts RRD dump in 5 minutes" may not be related. In order to investigate the segfault, can you please generate a core dump and upload it along with the ntopng binary?

By the way, how many local hosts do you have if you consider all the interfaces?

[2017-06-28 22:23] MartinOehler commented on #1337
Hi Simone,

do you have src packages available? I read the bug report guide and since this is a production system, source packages would help generating debug packages more quickly. The ntop-stable.list doesn't contain deb-src lines.

When building packages, where could I raise the interface limit? 30 VLANs aren't that much nowadays in a bigger network.

The value might not be representative at da

[2017-06-28 22:28] simonemainardi commented on #1337
matt, you don't need a source package. The ntopng binary is compiled with debug symbols so it is ok for the generation of a core dump.

So please just do `ulimit -c unlimited`, run ntopng, and then upload the core file and the ntopng binary (under /usr/local/bin) for our inspection.

as regards the vlans, are you using vlan-based virtual interfaces? Is this the reason why you want to increase the

[2017-06-28 22:40] simonemainardi commented on #1336
What does ntopng complain about? please, report the full log.

[2017-06-29 00:04] nate-byrnes opened #1338 "I was on the professional version, but after upgrading to v.3.1.170629 via apt-get, I'm back on community?"
Hi there, I've been using the ntop repository to update my ntopng version periodically, and this time I did it, I lost the professional edition..... please advise.

   Thanks,
   Nate

[2017-06-29 08:37] simonemainardi commented on #1338
nate, please make sure your license has been generated less than one year ago.

[2017-06-29 10:51] redtux commented on #1288
@lucaderi thank you for the fix! :+1:

[2017-06-29 12:37] ValentinaViscarelli commented on #1323
@philimnorden
Ldap authentication is a functionality just for ntopng pro. It should not have worked for community edition.
I have made a change in order to change this behavior. Please try to authenticate with ntopng professional edition.
If you have still the problem I need to access to your machine in order to debug the problem because I'm not able to reproduce it.

[2017-06-29 12:37] #1323 closed, assigned to ValentinaViscarelli

[2017-06-29 14:00] nate-byrnes commented on #1338
Where is the license file? Is the license check only performed at startup?
This was the first time I restarted ntopng in 3-4 months. I suspect that it
has been over a year now.

On Thu, Jun 29, 2017 at 4:37 AM, simonemainardi <notifications@github.com>
wrote:

[2017-06-29 14:17] MartinOehler commented on #1337
It died three times today without dumping a core file. I made sure that ```ulimit -c unlimited``` is set.

The script I used was
[code]
The output
[code]
So the ulimit call seems to have succeeded.

Additionally, we updated to the current version:
[code]
Concerning your question: yes, all interfaces are VLANs.

[2017-06-29 14:38] simonemainardi commented on #1337
martin, please check the `core_pattern` in `/proc/sys/kernel`

to make sure a crash will generate the core dump, please send a -SEGV signal to the process and check for dump generation. If you can find the core, delete it and let the process run and crash spontaneously.

this is a reference that can help: https://sigquit.wordpress.com/2009/03/13/the-core-pattern/

[2017-06-29 15:21] simonemainardi commented on #1338
@nate-byrnes if it is over than a year, then you have to renew the maintenance (http://www.ntop.org/support/faq/how-can-i-renew-maintenance-for-commercial-products/).

License file is under /etc/ntopng/ntopng.conf  and license check is performed both at startup and at runtime.

please, do a ntopng --check-license

[2017-06-30 03:40] SAray2013 commented on #1333
![untitled](https://user-images.githubusercontent.com/29720643/27719984-9125c5a8-5d80-11e7-8362-1c70fe385522.png)

[2017-06-30 03:41] SAray2013 commented on #1333
/ip traffic-flow
set active-flow-timeout=1m enabled=yes
/ip traffic-flow target
add dst-address=192.168.74.130 port=2055 v9-template-timeout=1m
/ip traffic-flow print
/ip traffic-flow target print detail

[2017-06-30 03:59] SAray2013 commented on #1333
please help sir Thank you for attention.

[2017-06-30 06:34] mhercek opened #1339 "No historical data and no active flows sometime"
**Environment:**
CentOS Linux release 7.3.1611
ntopng x86_64 v.3.1.170619, Small Business Edition
nprobe x86_64 v8.1.170619-5790

**Problem:**
Cannot see any data in Historical Data Explorer.
Sometimes I cannot see any active flows although my network is quite busy all day long.

30/Jun/2017 08:14:57 [PeriodicActivities.cpp:56] Started periodic activities loop...
30/Jun/2017 08:14:57 [NtopPro.cpp:

[2017-06-30 06:42] mhercek opened #1340 "Interface label"
I need to distinguish between my interfaces and something like **tcp://127.0.0.1:5555** is not very helpful.
See screenshot below for better understanding of my feature request.

![label](https://user-images.githubusercontent.com/20775751/27723944-c3966ef4-5d6f-11e7-8488-cfa6aef73048.png)

[2017-06-30 07:42] simonemainardi commented on #1340
To specify a custom name, visit the interface details page, select the gear (configuration) and specify a use field "Custom Name":

![image](https://user-images.githubusercontent.com/3397663/27725804-49c419d8-5d78-11e7-9064-2f5ccd3e9076.png)

[2017-06-30 07:42] #1340 closed, assigned to nobody

[2017-06-30 07:44] simonemainardi commented on #1333
@SAray2013 please, report ntopng and nprobe configurations used.

[2017-06-30 07:52] simonemainardi commented on #1339
please, make sure to select an interface that has traffic in the selected period. Use the dropdown 'Interfaces' menu to select an interface, and then go to the historical data explorer.

[2017-06-30 09:45] mhercek commented on #1339
I am trying to see data from the interface which has traffic 24/7.

[2017-06-30 09:47] mhercek opened #1341 "Lua error in Purge Past Alerts"
**Environment:**
CentOS Linux release 7.3.1611
ntopng x86_64 v.3.1.170619, Small Business Edition
nprobe x86_64 v8.1.170619-5790

**Problem:**
![error](https://user-images.githubusercontent.com/20775751/27730505-b5e0dd5c-5d89-11e7-82c1-7b18f4be4ccf.png)

[2017-06-30 09:57] mahescho opened #1342 "Update hangs for ever"
I've upgraded NtopNG and now I get for ever:

Database schema migration in progress, waiting for database ntop to become operational. You will be redirected as soon as the database is ready. Depending on the size of the existing database, this operation can take a long time. Migrations are performed only once and only during major version upgrades.

At first I found MySql to use 60 to 80% CPU but

[2017-06-30 09:58] MartinOehler commented on #1337
I wrote a small C program that segfaults and dumps a core without a problem. Seriously I'm quite puzzled why I can ```kill -11 / kill -s SIGSEGV``` any program (screen, bash) I try but ntopng refuses to give me a core. I even compiled it, used another Debian Jessie system - no success. At least it's consistent.

I'm searching for a solution...

Edit: ```ntopng -s``` did the trick since ntop does a

[2017-06-30 14:02] nate-byrnes commented on #1338
Thank you Simone, the license had expired.

[2017-06-30 14:02] #1338 closed, assigned to nobody

[2017-06-30 23:06] SAray2013 commented on #1333
@simonemainardi
Thank you for attention.
[code]

[2017-07-03 09:51] mhercek commented on #1339
I've used --verbosity 6 and I found no MySQL errors or warnings in /var/log/ntopng/ntopng.log.
I've dropped ntopng database and let ntopng recreate it - it didn't help to solve my problem.
There certainly are flows (with --verbosity 6 they're logged /var/log/ntopng/ntopng.log)

[2017-07-03 10:10] simonemainardi commented on #1339
@mhercek could that be an issue related to clocks synchronization? That is, first and last switched timestamps received in the collected flows are aligned with the machine clock?

[2017-07-03 11:06] simonemainardi commented on #1342
@mahescho that happens only the first time after a major update and it is due to internal mysql schema changes.

Please, make sure the machine has at disk space available al least equal to 2x the current size of the MySQL database. Indeed, mysql requires to copy the tables when performing `ALTER`s.

You can check the operations currently performed in MySQL simply by logging into a mysql shell and

[2017-07-03 11:08] mhercek commented on #1339
Clocks seem to be fine.

**$ date**
Mon Jul  3 12:59:50 CEST 2017

**/var/log/ntopng.log**
03/Jul/2017 12:58:06 [CollectorInterface.cpp:210] {"8":"192.168.xxx.xxx","12":"91.235.xxx.xxx","1":657,"7":52668,"11":443,"6":0,"4":6,"5":0,"16":0,"17":57788,"56":"D4:85:64:01:xx:xx","80":"00:00:00:00
:00:00","27":"::","28":"::","22":1499079449,"21":1499079454, "57943":"127.0.0.1"} [msg_id=500368]

**$ date

[2017-07-03 11:12] philimnorden commented on #1323
The real question is: Why does it say "Community Edition" while i use a valid enterprise licence.

[2017-07-03 11:17] ValentinaViscarelli commented on #1323
From your output I see:

root@XXXXXXXX:~# ntopng --version
v.3.1.170606 [**Community Edition**]
GIT rev:   dev:3603f3b6c85b9fa884101ba6e4a1b351787b12f9:20170606

[2017-07-03 11:19] simonemainardi commented on #1323
@philimnorden does it show community edition also inside the web UI? Please, follow up privately with us, send an email with the order id so we can check.

[2017-07-03 11:28] Artapel commented on #1311
The dashboard ran fine for more than a week. But now it has returned to only run for about a hour or 3 and then stop again. This issue started occurring after i did the update mentioned in this post.

https://github.com/ntop/ntopng/issues/1319#issuecomment-309378406

[2017-07-03 12:34] simonemainardi commented on #1319
@Artapel @dpavlin commit should have fixed the issue. Can you confirm you no longer see the SOME/IP.rdd error?

[2017-07-03 12:42] dpavlin commented on #1319
I don't see SOME/IP.rrd errors any more. Thanks.

[2017-07-03 12:44] simonemainardi commented on #1319
thanks for reporting

[2017-07-03 12:44] #1319 closed, assigned to nobody

[2017-07-03 12:47] Artapel commented on #1319
I also don`t see any error anymore. BUT now my board is freezing again. I did report on the relevant issue that is still open

[2017-07-03 12:50] simonemainardi commented on #1333
@SAray2013 I can't see the nprobe configuration

[2017-07-03 16:55] simonemainardi commented on #1341
just tried to reproduce on centos7 without success. Everything works properly. Can you please try and update to the latest version? Also, from which page are you performing the delete?

[2017-07-03 17:00] simonemainardi commented on #1339
@mhercek when you say `I cannot see any active flows`, do you mean both in the ntopng Flows page and in the historical data explorer, or both? Any change to get a remote access to the box to see?

[2017-07-03 18:16] mahescho commented on #1342
Disk space was the issue, thanks.

[2017-07-04 00:13] simonemainardi commented on #1342
thanks for reporting

[2017-07-04 00:13] #1342 closed, assigned to nobody

[2017-07-04 09:12] simonemainardi commented on #1336
No feedback received. Closing for inactivity.

[2017-07-04 09:12] #1336 closed, assigned to nobody

[2017-07-04 09:14] simonemainardi commented on #1335
@bioteseo can you please try with the latest ntopng 3.1 build and report? Commit https://github.com/ntop/ntopng/commit/eaa7a0d3130d9eeb2596a57c2d6b75eddca70707 should have fixed the issue.

[2017-07-04 09:20] simonemainardi commented on #1315
fixed with https://github.com/ntop/ntopng/commit/eaa7a0d3130d9eeb2596a57c2d6b75eddca70707

[2017-07-04 09:20] #1315 closed, assigned to nobody

[2017-07-04 09:31] bioteseo commented on #1335
Hi Simone,
in ntopng 3.1 I can't check the number in hosts pool. It's a big network, sorry.
My other ntopng (3.0 build) monitors a small network and it's easy to check that.
The other issue is surely fixed (255.255.255.255), thanks a lot.

[2017-07-04 09:35] simonemainardi commented on #1335
Thanks for reporting. To test it with 3.1 you may want to create a new host pool with just one host and see. Please, reopen if necessary.

[2017-07-04 09:35] #1335 closed, assigned to nobody

[2017-07-04 09:54] bioteseo commented on #1335
Hi Simone,
as you suggest I temporary modified an host pool. I inserted only an host and the host pool view displays the right value for that pool.
Thanks

[2017-07-04 11:38] matteoluc opened #1343 "clarification on hardware requirements"
Hello,
          i would like to know how many cores / CPU and how much RAM would serve to monitor the traffic of about 50 classes C with ntopng.

[2017-07-04 11:51] mhercek commented on #1341
Confirmed that it's solved in the latest version.

[2017-07-04 12:00] mhercek commented on #1339
I have four running NProbe instances, three of them are collecting NetFlow exports from routers and one of them is receiving mirrored traffic and producing NetFlow records itself.
I think we should focus on the problem why there are not any flows stored in MySQL.
The instance of NProbe which is receiving mirrored traffic has always active flows.

[2017-07-04 12:25] izzie88 commented on #1278
Hi Emmanuele,
the ntopng crashed again today, I licensed to enterprise yesterday and it crashed this afternoon, i had to manually restart the process.

see logs from service ntopng status:

● ntopng.service - Start/stop ntopng program
   Loaded: loaded (/etc/systemd/system/ntopng.service; enabled; vendor preset: enabled)
   Active: active (exited) (Result: signal) since Mon 2017-07-03 13:05:31 WAT

[2017-07-04 12:25] simonemainardi commented on #1341
thanks for reporting

[2017-07-04 12:25] #1341 closed, assigned to nobody

[2017-07-04 12:43] simonemainardi commented on #1339
visit the interface stats page. There is the count of mysql exported flows, as well as the rate at which flows are exported to mysql. Is that counter increasing? What is the value of the rate?

[2017-07-04 12:46] simonemainardi commented on #1278
@izzie88 the following error message suggests that nProbe could be updated.

[code]

can you please try and `apt-get update && apt-get install ntopng nprobe` to make sure they are  both at the latest version?

[2017-07-04 13:03] simonemainardi commented on #1343
If you are running ntopng to capture packets, then you should consider 3-4Gbps as the maximum rate that can be handled by a single core. For rates that go beyond this, you can use RSS with PF_RING zero copy to load balance the packets across multiple threads.

As you mentioned 50 C-class addresses, assuming all your addresses are local, I estimate a 256 * 50 ~ 12k local hosts in the worst case. Al

[2017-07-04 13:03] #1343 closed, assigned to nobody

[2017-07-04 13:40] simonemainardi commented on #1331
I have just tested with `ntopng Enterprise/Embedded Edition v.3.1.170704` on RPI and can confirm it is working. However, with the packaged version, I experience the behaviour reported here. @lucaderi can you please trigger a new RPI build?

[2017-07-04 16:12] simonemainardi commented on #1325
implemented. Will be available in the ntopng 3.1 dev build starting from tomorrow.

[2017-07-04 16:12] #1325 closed, assigned to nobody

[2017-07-04 16:31] simonemainardi commented on #1311
@Artapel we did a major change yesterday, can you please try with the latest 3.1 build?

[2017-07-04 16:32] simonemainardi commented on #1295
thanks for reporting

[2017-07-04 16:32] #1295 closed, assigned to nobody

[2017-07-04 16:34] simonemainardi commented on #1322
no feedback received, closing for inactivity

[2017-07-04 16:34] #1322 closed, assigned to simonemainardi

[2017-07-04 16:34] simonemainardi commented on #1321
@NLedoux @ValentinaViscarelli any news?

[2017-07-04 16:51] simonemainardi commented on #1314
It is already possible to control the refresh interval. You can control it from the interface settings

![image](https://user-images.githubusercontent.com/3397663/27838142-041a8696-60e9-11e7-9a42-86a509c0227f.png)

This affects both the gauge in the footer and the dashboards available in the professional versions. Dashboards and gauges will reflect the configured refresh interval to compute deltas

[2017-07-04 16:51] #1314 closed, assigned to nobody

[2017-07-04 20:44] ValentinaViscarelli commented on #1321
@NLedoux @simonemainardi
In order to verify if sAMAccount works properly I need to create in a LDAP server this type of account.
I'm using OpenLDAP server for Linux and I wasn't able to create this type of account in this server.
Do you know how I can create a sAMAccount? Another solution is that you let me access to your server (but I know that it could be a problem).

[2017-07-04 20:54] simonemainardi commented on #1331
I confirm this is fixed in the last build. The new RPI build is ready. Please update.

[2017-07-04 20:54] #1331 closed, assigned to nobody

[2017-07-05 00:05] Howard-Chang opened #1344 "ntopng on windows 7 can't run"
Hi everyone,
    I installed ntopng on my virtual machin (win 7), After I opened the task manager and start the ntopng
    service, it showed that"The operation could not be complete.  Access is denied."
    I have tried many times, and I don't know how to solve the problem.
    I am a student and doing my project. I need to use the tool but it looks  can't work .
    coud you help me .
    thanks

[2017-07-05 01:52] wsf535 opened #1345 "new version NTOPNG useed all mem and traffic on dashboard no correct"
[xxx@ntopng-p-049002 ~]$ free -h
                     total        used        free      shared  buff/cache   available
Mem:            62G         46G        6.5G         19M          9G         15G
Swap:            0B          0B          0B

only start ntopng  6 hours.

[2017-07-05 07:52] simonemainardi commented on #1345
please try and report with the latest 3.1 as we have done a major change

[2017-07-05 07:58] simonemainardi commented on #1344
Try to run ntopng from the windows console and post any possible errors. You can find instructions in the user guide

[2017-07-05 09:37] Howard-Chang commented on #1344
![default](https://user-images.githubusercontent.com/19474557/27858646-984da6c6-61a8-11e7-9de2-24dec761b7c6.png)

[2017-07-05 09:38] Howard-Chang commented on #1344
![default](https://user-images.githubusercontent.com/19474557/27860817-c1570dca-61b0-11e7-9529-1c1451dedd97.png)

[2017-07-05 09:39] Howard-Chang commented on #1344
I ran the ntopng on cmd
Thank you for your help : )

[2017-07-05 10:37] Howard-Chang commented on #1344
when I opened the task manager and start the ntopng
service, it showed that"The operation could not be complete. Access is denied."

[2017-07-05 11:13] simonemainardi commented on #1344
make sure to open the cmd as Administrator. Then run ntopng.exe and post the output

[2017-07-05 13:12] Howard-Chang commented on #1344
![default](https://user-images.githubusercontent.com/19474557/27865807-90d8b5ca-61c6-11e7-9709-dc4314c1c36d.png)

[2017-07-05 13:12] Howard-Chang commented on #1344
the result is the same. : (

[2017-07-05 13:28] simonemainardi commented on #1344
please read the user guide to see how to properly start ntopng from the cmq. it's written there. the report the output

[2017-07-05 14:19] Howard-Chang commented on #1344
![default](https://user-images.githubusercontent.com/19474557/27868609-dec08994-61cf-11e7-8d8d-3bf41ba85168.png)

[2017-07-05 14:20] Howard-Chang commented on #1344
I could run ntopng!
but when I open the browser it couldn't work.

[2017-07-05 14:32] Howard-Chang commented on #1344
![default](https://user-images.githubusercontent.com/19474557/27869181-b35b74c4-61d1-11e7-90cc-5a41f3de554d.png)

[2017-07-05 15:01] BravoFox commented on #1311
Just installed patches and reboot. I'll know if it worked in a bout an hour, as it seems to die right about the 3 hour mark.

[2017-07-05 16:32] BravoFox commented on #1311
Well its been up since 9AM EST at this point and hasnt gone down.

[2017-07-05 17:11] narcisgarcia opened #1346 "How to bind http service to one local IP"
I'm trying ntopng v.2.4.170204 [Community Edition] on Debian 9

With old ntop, GETOPT parameter at /etc/default/ntop allowed to specify p.e. "--http-server 192.168.1.100:3001"
But I've tested this syntax at /etc/ntopng.conf and doesnt seem to have any effect (unconditional port 3000 too)

Does anybody know what is the way to do this?

[2017-07-05 17:16] narcisgarcia opened #1347 "How to set 'admin' password with a text file"
I'm trying ntopng v.2.4.170204 [Community Edition] on Debian 9

File /usr/share/doc/ntopng/README.users says "It is possible to provide ntopng a list of users credentials in a text file".
Which path must have this file to be read by ntopng service?
Otherwise; How to specify the text file to be read by ntopng service?

* As it's well known, web interface complains with "Missing CSRF parameter" both

[2017-07-05 17:18] mhercek commented on #1339
It's the same (zero exported flows) for all four interfaces.

![image](https://user-images.githubusercontent.com/20775751/27876259-b9183bce-61b6-11e7-8d85-1d4a36f07988.png)

[2017-07-05 17:18] narcisgarcia opened #1348 "How to specify x509 certificate path"
I'm trying v.2.4.170204 [Community Edition] on Debian 9

How to specify my certificates path when using --https-port ?

Thanks.

[2017-07-05 17:23] BravoFox commented on #1311
After 6 hours it crashed again. Is there a new major version out, or did you mean 3.01? I just updated from the YUM repo.
Edit: Its back to crashing again once every hour...

[2017-07-05 17:24] narcisgarcia commented on #1346
Sorry; my mistake because of specifying bad IP.
It works perfectly in this.

[2017-07-05 17:24] #1346 closed, assigned to nobody

[2017-07-05 19:20] rbott commented on #1326
We have multiple core routers on different sites which are interconnected. They also have several peering links and downlinks to other  internal routers (connecting server networks).
To see incoming/outgoing external traffic and also internal-only traffic (e.g. between internal servers on different sites) we need to enable sflow exports on peering-, cross- and downlinks.

Either we miss a great po

[2017-07-06 10:57] mhercek commented on #1339
I made a packet capture and it's obvious from it that ntopng does not communicate with MySQL.
Only TCP communication between ntopng and MySQL is during ntopng startup/restart when it's checking table schema.

[2017-07-06 12:04] simonemainardi commented on #1339
@mhercek please, start ntopng with only one interface at time, let it run for a while, and then post here the full output. Check if the issue occurs with all the interfaces.

The fact that it says 0 exported flows and 0 errors could indicate that:
 - no flow is ever considered expired by ntopng (perhaps because it receives uptates from the nprobe). Inspecting the 'active flows' timeseries under th

[2017-07-06 12:33] simonemainardi commented on #1311
@BravoFox I mean dev version 3.1, can you try that?

[2017-07-06 12:42] simonemainardi commented on #1347
please, update to version 3.0, 2.4 is no longer supported.

To add users programmatically, you can use the following bash script: https://github.com/ntop/ntopng/blob/dev/httpdocs/misc/ntopng-add-user.sh

The README.users you are referring to is outdated and I will update it now.

[2017-07-06 12:42] #1347 closed, assigned to nobody

[2017-07-06 12:44] simonemainardi commented on #1348
certificate goes under /usr/share/ntopng/httpdocs/ssl and must be named ntopng-cert.pem

[code]

make sure it is in PEM format

[2017-07-06 12:44] #1348 closed, assigned to nobody

[2017-07-06 13:14] BravoFox commented on #1311
This is my only instance, so give me a bit to make sure i dont brick it.

[2017-07-06 13:23] BravoFox commented on #1311
3.1.170706 - Pro [Small Business Edition] Edition

OK installed and monitoring. I'll let you know.

[2017-07-06 16:59] narcisgarcia commented on #1348
Then I suppose ntopng-cert.pem is public certificate.
Where go CA and private certificates?

[2017-07-06 17:01] narcisgarcia opened #1350 "Cannot install supported ntopng (v3) on Debian Stable (v9)"
+No i386 or stretch packages at packages.ntop.org ?

[code]

#### IN STABLE amd64 HOST ####
(Once changed "stretch" to "jessie" at /etc/apt/sources.list.d/ntop-stable.list)

[code]

[2017-07-06 17:03] narcisgarcia commented on #1347
Does this script include the possibility to CHANGE admin password on ntopng 2.4 ?
Does redis-cli set accounts to be used/shared by other programs? Can be this a conflict?

[2017-07-06 17:56] simonemainardi commented on #1347
yes

no

no

[2017-07-06 18:02] simonemainardi commented on #1348
no, PEM contains both the certificate and the private key, see this as exampe: https://github.com/ntop/ntopng/blob/dev/httpdocs/ssl/ntopng-cert.pem.dummy

[2017-07-06 18:06] simonemainardi commented on #1350
use the exact procedure described here: http://packages.ntop.org/apt-stable/

I noticed that you are just running just `apt update` while actually the proper command is `apt-get update`

uninstall the current deb and reinstall the latest

[2017-07-06 18:06] #1350 closed, assigned to nobody

[2017-07-06 18:31] BravoFox commented on #1311
No go. Died again after about 5 hours.

[2017-07-06 19:24] narcisgarcia commented on #1350
Exact procedure (except stretch->jessie) used. Please, reopen this issue.
[code]

[code]

[2017-07-06 21:35] Gelob opened #1351 "Consistent seg fault after 2 hours"
I'm testing out nprobe + ntopng and since I've started testing after about 1-2hr ntopng always eats up all memory and then ends in a segmentation fault. System has 12GB of RAM with about 10GB free. It used to only have 8GB but I bumped it up on Jun 26th when seeing the seg fault caused by OOM, but since adding more RAM its still happening and it seems more like a memory leak than not having enough

[2017-07-07 07:43] emanuele-f commented on #1350
@narcisgarcia you should remove any installed apt-ntop-* package and only then install the repo version that matches you os distribution from our repositories. If you have dependencies issues, you've probably installed the wrong version.
From your first message it seems like your host could not access the url packages.ntop.org/apt-stable/stretch . Please try to access it manually, I can browse it

[2017-07-07 08:11] simonemainardi commented on #1351
can you provide access to the box for inspection? Alternatively, can you run the process with valgrind to spot any possible mem leak?

[2017-07-07 08:12] narcisgarcia commented on #1350
Removal of apt-ntop-stable package produces the removal of /etc/apt/sources.list.d/ntop-stable.list
I can browse packages.ntop.org/apt-stable/stretch manually too.

May http://packages.ntop.org/apt-stable/stretch/x64/Release be bad formed?
The other possibility is a bad use of apt-key by apt-ntop-stable.deb

[2017-07-07 12:22] Gelob commented on #1351
I'm running it with valgrind now. Where can I send the coredump and those results? I can provide access via a WebEx/screenshare at an arranged time.

[2017-07-07 13:26] simonemainardi commented on #1351
valgrind will output a comprehensive report after the execution. Let it run for a while, stop it, and post the output.

[2017-07-07 13:51] Artapel commented on #1311
I can confirm that mine also stops after a few hours. Please see the link below
Its work fine at after a restart but after a while the width of the bars start increasing and a few minutes later it will stop.
[https://ibb.co/ekJ7ua](url)

[2017-07-07 14:23] Gelob commented on #1351
I'd prefer to not post that output in a public issue just because I'm not sure what information it might contain. Is there an email I can send a URL too? I got this before ntopng crashed, is the output it produced fine or do I need to re-run with error-limit=no and wait for ntopng to crash?

[2017-07-07 17:39] simonemainardi commented on #1351
yes, you should re-run with --error-limit=no

also make sure to use  --tool=memcheck --leak-check=full

[2017-07-07 17:39] simonemainardi commented on #1351
you can use email: mainardi ntop org

[2017-07-08 13:21] Gelob commented on #1351
Thank you. I've emailed you the links to the coredump and the valgrind output. ntopng didn't seg fault when running with valgrind, it eventually just started swapping after it ate up all the ram and ate up swap/CPU until i killed it.

[2017-07-09 05:52] mhercek commented on #1339
Haven't I omitted some crucial NetFlow field in order to process flows correctly by ntopng?
`/usr/local/bin/nprobe --zmq tcp://127.0.0.1:5556 -i none -n none --collector-port 9996 -V 9 -T"%IPV4_SRC_ADDR %IPV4_DST_ADDR %IN_BYTES %L4_SRC_PORT %L4_DST_PORT %TCP_FLAGS %PROTOCOL %SRC_TOS %SRC_AS %DST_AS %IN_SRC_MAC %OUT_DST_MAC %IPV6_SRC_ADDR %IPV6_DST_ADDR %FIRST_SWITCHED %LAST_SWITCHED"`

![image](ht

[2017-07-09 19:42] MartinOehler commented on #1337
Since you got the core some days ago - did you find the problem?

If not, can I provide more information to be of assistance solving this issue?

[2017-07-09 20:57] simonemainardi commented on #1337
I received the core but not the executable. I need the ntopng binary to analyze the core. I requested it but didn't get any reply:

[2017-07-09 21:02] MartinOehler commented on #1337
I shared it again with you. It should be easy to get for you even without me since you have the debian packages containing the binary inside your own repository. It's version 3.0.170629-3093 (I did an update before starting the latest tests).

[2017-07-10 12:52] emanuele-f commented on #1344
@Howard-Chang please read our user guide https://github.com/ntop/ntopng/blob/dev/doc/UserGuide.pdf for the basic information on how to run ntopng on windows

[2017-07-10 14:09] smooi opened #1352 "Windows Install of 3.1.170706 still showing 3.0.170606 in GUI"
Uninstalled 3.0.170606, Win10Pcap and Redis, installed 3.1.170706 from current download and web GUI is still showing ntopng Pro [Small Business Edition] Edition v.3.0.170606.

Control Panel Programs and Features is showing v3.1.170706

Are there old .exe's residing somewhere or is the new installer still installing the old version?

[2017-07-10 16:46] simonemainardi commented on #1339
@mhercek try not to specify the template.

Also, it is unlikely that the chart enclosed is related to the active flows. Indeed, the y axis says Gbps. Please, make sure to select the 'active flows' from the dropdown 'timeseries'

[2017-07-10 16:51] simonemainardi commented on #1351
@Gelob thanks, I am investigating the core. In the meanwhile, can you please try to run the process as `sudo valgrind --tool=memcheck --leak-check=full ./ntopng <and all your options>`, let it run for a while, and then send the output?

I can't see any valgrind report in the log you sent me. I would expect something like

[code]

[2017-07-10 16:53] simonemainardi commented on #1345
@wsf535 did you try with version 3.1?

[2017-07-10 16:54] simonemainardi commented on #1333
@SAray2013 any feedback?

[2017-07-10 16:59] matteoluc opened #1353 "Problem with Version in the Home Page"
Hello,
         I'am using ntopng v.3.0.170705 with nprobe v.8.0.170705 on a remote server with centOS 7.3.1611.
I've the license of nprobe Pro on the local machine, from which i recall ntopng from the browser, executed on the remote server.
In the homepage, in the "version" line, I have the following problem:
![img-9195](https://user-images.githubusercontent.com/29771833/28029881-d10e81cc-65a1-11

[2017-07-10 17:15] simonemainardi commented on #1353
that has already been fixed. Please the package and it will work.

[2017-07-10 17:15] #1353 closed, assigned to nobody

[2017-07-10 17:22] simonemainardi commented on #1311
@BravoFox what is your configuration?

@Artapel do you still get the freeze without option -F ?

any of you can provide a remote ssh access to the box?

[2017-07-10 17:38] BravoFox commented on #1311
-G=/var/run/ntopng.pid
--local-networks="172.0.0.0/8,192.168.0.0/16"
--sticky-hosts=local
--dns-mode=1
--interface=p1p1
--interface=p1p2
--interface=p1p3
--data-dir=/usr/local/ntopng
--packet-filter="ip and not proto ipv6 and not ether host ff:ff:ff:ff:ff:ff and not net (224.0.0.0/8 or 239.0.0.0/8)

[2017-07-10 17:51] BravoFox commented on #1311
@simonemainardi Cant do the SSH session unfortunately. Security would have a field day. Is there something i could send or do in lieu of that?

[2017-07-10 18:33] Gelob commented on #1351
I emailed the log directly just now, but  are saying the output in the valgrind log isn't what you expect?

[2017-07-11 00:45] douzihao opened #1354 "debian7 How to resolve this Error"
make[1]: Leaving directory '/root/ntopng-3.0/third-party/json-c'
g++ -g -Wall -I/root/ntopng-3.0 -I/root/ntopng-3.0/include -I/usr/local/include -I /root/ntopng-3.0/third-party/hiredis -I/root/ntopng-3.0/third-party/mongoose -I/root/ntopng-3.0/third-party/json-c  -I../nDPI/src/include -I/root/ntopng-3.0/third-party/LuaJIT-2.0.3/src -I/root/ntopng-3.0/third-party/rrdtool-1.4.8/src/ -I/root/ntopng-3

[2017-07-11 03:58] wsf535 commented on #1345
version 3.1 memery usage has problem.
​

2017-07-11 0:53 GMT+08:00 simonemainardi <notifications@github.com>:

[2017-07-11 05:34] #1354 closed, assigned to nobody

[2017-07-11 05:37] mhercek commented on #1339
Well then, how do I include MAC addresses?

[2017-07-11 06:52] Artapel commented on #1311
@simonemainardi I updated again to the latest version BEFORE you requested to run without the -F.
So far its been running for about 20 hours fine. I will keep you updated if this changes.

[2017-07-11 08:23] emanuele-f commented on #1352
Hi, please try to remove the ntopng service with `ntopng /r` and then reinstall it with `ntopng /i ..options..`

[2017-07-11 10:16] simonemainardi commented on #1311
I have been fixing several leaks over the past days. @Artapel thanks for reporting, please keep me posted.

@BravoFox you may want to try and update to the latest dev build as it contains the fixes. Please wait a couple of hours before doing the update as a new build is in progress.

[2017-07-11 12:25] simonemainardi commented on #1345
please try with the latest build. I have fixed some mem leaks that could have been causing your OOM

[2017-07-11 12:27] simonemainardi commented on #1339
For the macs you need the template but first try not to use it. Also please address the other things pointed out in my previous message. In order to speed things up please consider giving me ssh access to the box.

[2017-07-11 12:34] simonemainardi commented on #1344
no feedback received. If necessary open another issue and submit the requested information.

[2017-07-11 12:34] #1344 closed, assigned to nobody

[2017-07-11 12:36] mhercek commented on #1339
I've appended these fields: %IPV4_NEXT_HOP %INPUT_SNMP %OUTPUT_SNMP and %IN_PKTS
and it's working now, I can see and browse exported records. I have no time to further investigate which particular record or records are needed by ntopng in order to function properly.

[2017-07-11 12:36] #1339 closed, assigned to nobody

[2017-07-11 12:36] simonemainardi commented on #1333
information requested hasn't been provided. closing for inactivity.

[2017-07-11 12:36] #1333 closed, assigned to nobody

[2017-07-11 12:38] simonemainardi commented on #1321
@NLedoux can you help @ValentinaViscarelli ?

[2017-07-11 12:39] simonemainardi commented on #1300
@emanuele-f do you have any news? Are you still experiencing the slow memory increase using the latest versions?

[2017-07-11 12:41] simonemainardi commented on #1339
thanks for reporting

[2017-07-11 12:50] smooi commented on #1352
Removed service via ntopng /r, removed ntopng, Redis, Winpcap, made sure Program files folders were empty, reinstalled and nTop version in web GUI  3.0.170606 - Enterprise Edition

I just installed ntop, from a fresh download of ntopng-3.1.170706-x64.exe, on a machine that has never had nTop installed and web GUI is showing ntopng Enterprise Edition v.3.0.170606 as well.

[2017-07-11 13:10] BravoFox commented on #1311
Latest update applied. I'll give it some time to burn in and see whats up.

[2017-07-11 13:12] simonemainardi commented on #1311
@BravoFox thanks. In case you will experience the OO again,  can you please try to run the process as `sudo valgrind --tool=memcheck --leak-check=full ./ntopng <and all your options>`, let it run for a while, and then send the valgrind output with summary? Thank you

[2017-07-11 13:12] BravoFox commented on #1311
@simonemainardi Yes sir I can.

[2017-07-11 15:01] Gelob commented on #1351
Running the latest version for over 4 hours now and it definitely looks good. No memory leak and no seg fault. 👍

[2017-07-12 00:16] Howard-Chang opened #1355 "can't access to the ntop web(localhost:3000) on win7"
Hi,
   I download the version of "ntopng-3.1.170606-x64.zip".After I installed it(ntopng /i) and run it
(ntopng /c) it show me the following log, and I have got the license, just can't  access to the ntop web(localhost:3000) and don't know how to use it.Because it seems to have to store the license to the ntopng web GUI.

05/Jul/2017 13:04:43 [Ntop.cpp:1359] Setting local networks to 127.0.0.0/8
0

[2017-07-12 08:34] wsf535 commented on #1345
thanks , I install latest build (ntopng-3.1.170712-2988) and it's ok now.

2017-07-11 20:25 GMT+08:00 simonemainardi <notifications@github.com>:

[2017-07-12 09:00] simonemainardi commented on #1345
thanks for reporting

[2017-07-12 09:00] #1345 closed, assigned to nobody

[2017-07-12 09:22] simonemainardi commented on #1337
Thanks for sharing. Can you please try and update to the latest 3.1 dev version? I have made several fixes that should solve this issue. Thanks.

[2017-07-12 13:52] BravoFox commented on #1311
So far so good. Don't seem to have the problem anymore. When will that change be moved to production so I can move off the development branch?

Thanks!

[2017-07-12 21:09] simonemainardi commented on #1311
Hi, I have already ported the fixes in the stable 3.0 version. You can revert back to stable.

Please try and feel free to close the issue if solved.

@Artapel is the issue solved also on your side?

[2017-07-12 21:28] antoniovalenzuela commented on #1300
same problem. Chrome updated Versión 59.0.3071.115 (Build oficial) (64 bits)
RAM 12 GB

[2017-07-12 22:59] lucaderi commented on #1352
Uploading new build 3.1.170713

[2017-07-12 22:59] #1352 closed, assigned to nobody

[2017-07-13 07:26] Artapel commented on #1311
@simonemainardi Unfortunately not. I've been doing some test to determine why.
I've also noticed that the browsers tab ntop displays on seems to run out of memory as well (Tested on two workstations that always worked). Although the other tabs are still fine.

Am going to run the

 command today. I just need to determine the correct command switches to use. Perhaps you can help. Can i send you a e

[2017-07-13 07:42] simonemainardi commented on #1311
@Artapel the browser OOM is another issue (https://github.com/ntop/ntopng/issues/1300). Let's try to see if we have resolved the issue in the subject of this topic first. Does your ntopng still stops collecting data after a while? Does it still eat all the available memory?

[2017-07-13 08:08] Artapel commented on #1311
@simonemainardi Ahh i see.
Ntop seems fine now. My data for the last 24hr is present if i go and look for it.
The ram usage is also withing acceptable limits.

The issue seems to be sorted on my side.
I will switch my focus to  (#1300).

[2017-07-13 08:10] Artapel commented on #1300
I am also experiencing the issue and will assist with testing.
Currently using Chrome Version 59.0.3071.115 (Official Build) (64-bit)
Will test on Firefox and IE

[2017-07-13 09:36] simonemainardi commented on #1351
Thanks for reporting. It is safe to close the issue now.

Fixes have been cherry-picked to stable as well.

[2017-07-13 09:36] #1351 closed, assigned to nobody

[2017-07-13 09:37] simonemainardi commented on #1355
please, install the latest windows build available and then try to access by pointing your browser to http://127.0.0.1:3000

[2017-07-13 09:39] simonemainardi commented on #1311
It is safe to close this issue as the leaks have been solved and back ported to stable as well. Thanks for supporting us in the debugging.

[2017-07-13 09:39] #1311 closed, assigned to nobody

[2017-07-13 09:51] Artapel commented on #1300
Quick test running 3 different browsers the same dashboard and all 3 browsers topped round about the same time

[2017-07-13 10:06] simonemainardi commented on #1300
@Artapel can you try and use the browser builtin debugger/profiles (e.g., chrome -> inspect element -> memory) and look for potentially useful information?

[2017-07-13 10:18] Howard-Chang commented on #1355
Thanks !!! It works now. But why localhost:3000 can't run @@?

[2017-07-13 10:21] Howard-Chang commented on #1355
sorry I found that it should add http:// in front of the web address ..

[2017-07-13 10:28] simonemainardi commented on #1355
thanks

[2017-07-13 10:28] #1355 closed, assigned to nobody

[2017-07-13 10:39] Artapel commented on #1300
I also ran chrome with the switch

Got the w, Snap!
Ran out of memory

[2017-07-13 10:41] Artapel commented on #1300
@simonemainardi Will check this now

[2017-07-13 13:30] AntonMay opened #1356 "Licensing"
Hi

We have 2 licence's

1. ntopng Pro SMB
2. nProbe Pro with Plugin support

both are out of maintenance support. I am upgrading to a new server with Ubuntu 16.04 and Percona MySQL 5.7.

Can I move my licence from the old server to the new server?

[2017-07-13 13:46] smooi commented on #1352
This build took care of the version update issues and other issues we were having on the 1st build of v3 with client-server discrepancies.

[2017-07-13 13:52] simonemainardi commented on #1356
no, as they are out of maintenance. Please, consider renewing the maintenance http://www.ntop.org/support/faq/how-can-i-renew-maintenance-for-commercial-products/

[2017-07-13 13:52] #1356 closed, assigned to nobody

[2017-07-13 15:19] smooi opened #1357 "nTop 3.1x alerts / syslog..."
We're wanting to get some of the nTop alerts via email or better yet, Syslog.  Can you point me to current documentation on how to do this?  I see references to Syslog in Preferences, but I'm not sure how to configure.  We're running nTop for Windows, current 3.1 build, Pro Small Business license.

Thanks.

[2017-07-13 16:11] antoniovalenzuela commented on #1300
got better, average RAM 30 MB.  (user normally, without parameters --js-flags="--max_old_space_size=8192")

[2017-07-13 18:03] simonemainardi commented on #1300
I have investigated the memory issue by inspecting browser heap snapshots. I have updated some JS dependencies that was causing some leaks. A new 3.1 build will be released tonight CEST. Please update tomorrow, hit CTRL+SHIFT+r to make sure all the js will be reloaded, and report.

[2017-07-13 23:07] kickinit24 opened #1358 "ntoppng not displaying netflow traffic"
Hello,
I recently installed Ntop and I love it so far. However I am unable to pull any netflow data from my router. Ntop is only displaying 1 network. Seems like it is only capturing the network traffic between my pc and the ntop server\collector. I have enabled and confirmed that netflow data from router is trying to send to the ntop collector. Any help would be much appreciated.
Thank you,

[2017-07-14 07:44] simonemainardi commented on #1358
This question has been posted three times: mailing list, shop, and github. Next time please do not triple-post the same question.

I paste here the reply I have given on the mailing list

[2017-07-14 18:21] ScottBrenner commented on #297
Any plans to update the pfSense plugin version? 2.4 is latest on pfSense while 3.0 is publicly available.

[2017-07-14 18:45] madpilot78 commented on #297
The FreeBSD port already has 3.0. I don't know exactly how dependencies are pulled in by pfsense packages, but you should push for the pfsense guys to pull in the new version.

Their packages are based on FreeBSD ports.