[2019-05-31 09:33] #2623 closed, assigned to nobody

[2019-05-31 09:35] emanuele-f commented on #2624
We already support export to json via https://www.ntop.org/guides/ntopng/web_gui/settings.html#manage-stored-data

[2019-05-31 10:23] emanuele-f commented on #2619
Can you perform again the steps described in https://www.ntop.org/guides/ntopng/faq.html#permission-denied-errors, wait 10 minutes, and see if the chart is populated?

[2019-05-31 14:35] maravento opened #2625 "Error: rrd_update_r"
example:
![Captura de pantalla -2019-05-31 10-38-54](https://user-images.githubusercontent.com/14880802/58717230-5ec4dd00-8390-11e9-8a06-3033522f5d50.png)

[2019-05-31 20:59] emanuele-f commented on #2625
Please check out https://www.ntop.org/guides/ntopng/faq.html#permission-denied-errors

[2019-05-31 23:50] maravento commented on #2625
solved! thanks

[2019-05-31 23:50] #2625 closed, assigned to nobody

[2019-06-02 08:31] jean-christophe-manciot commented on #2606
I can see that the "seen since" column is not reset after a restart, but the "hosts" column is alongside the number of rows, so it seems clear that the setting ```Runtime Preferences-->Timeseries-->AS and Countries``` is useless in that regard.

[2019-06-02 11:39] jean-christophe-manciot opened #2626 "[Feature request] Add ways to measure the evolving popularity of a site"
Debian buster
ntopng 3.9.190531 - Community Edition
ndpi 2.9.0-1542-c43bec8

Unless I'm missing something, so far, the only way to try to measure the popularity of a site is through the following time series chart:
- ```traffic```
- ```total flows``` which is actually represented by ```active flows```

We could get a more precise view of the growing/declining popularity of a site with the followin

[2019-06-03 07:54] #2624 closed, assigned to nobody

[2019-06-03 08:06] simonemainardi commented on #2514
implemented https://www.ntop.org/ndpi/tls-ssl-analysis-when-encryption-and-safety-are-not-alike/

[2019-06-03 08:06] #2514 closed, assigned to nobody

[2019-06-03 09:06] emanuele-f commented on #1854
Implemented in https://github.com/ntop/ntopng/commit/5f9e8b17df20a018a67f65fcdefd176f168f3a51 , additional commits will follow

[2019-06-03 12:11] StewAlexander-com commented on #2618
No sorry, we cannot allow that ...

However I can execute any script or set of commands and collect the output you want

Grazie mille

Stew

[2019-06-03 12:28] StewAlexander-com commented on #2622
# Thank you!

It is showing up:

![image](https://user-images.githubusercontent.com/48565067/58801458-a2aa2300-85d8-11e9-8e66-01686039a586.png)

-----

![image](https://user-images.githubusercontent.com/48565067/58801572-e69d2800-85d8-11e9-88ea-2464acd295d3.png)

-----

![image](https://user-images.githubusercontent.com/48565067/58801747-64f9ca00-85d9-11e9-9a65-467148733825.png)

[2019-06-03 12:31] StewAlexander-com commented on #2624
Where is this export page?

Does this mean you have a restful API?

[2019-06-03 12:35] StewAlexander-com commented on #2624
Ok found it under "managed stored data"

Still curious if this means that ntopng has a restful API, please let me know

[2019-06-03 13:03] simonemainardi commented on #2622
thanks for reporting

[2019-06-03 13:03] #2622 closed, assigned to nobody

[2019-06-03 13:05] StewAlexander-com commented on #2619
Tried this twice, no change in results ...

[2019-06-03 13:50] StewAlexander-com opened #2628 "Local / Remote Panel, Application Panels all go blank after updating the reporting period and clicking the print button under the "Traffic Report" menu option"
When I click the print button (see screen first screen capture, where I pointed the arrow), the local / remote, application panels under the traffic report menu option go blank in the print window, going back to the main traffic report menu it is also now missing, reloading the page does not bring the graphs back.

![image](https://user-images.githubusercontent.com/48565067/58806629-99bf4e80-85e4-

[2019-06-03 13:56] StewAlexander-com commented on #2628
Re-logging into ntopng brings the graphs back, by the way

[2019-06-03 14:00] StewAlexander-com commented on #2628
## Details ...

![image](https://user-images.githubusercontent.com/48565067/58807488-2ae2f500-85e6-11e9-9f9e-a6de123d04cc.png)

----

![image](https://user-images.githubusercontent.com/48565067/58807619-67165580-85e6-11e9-9b46-e4449b87d096.png)

[2019-06-03 14:10] emanuele-f commented on #2624
Please check out https://www.ntop.org/guides/ntopng/api/rest/index.html

[2019-06-03 14:15] emanuele-f commented on #2628
Any javascript errors?

[2019-06-03 14:15] StewAlexander-com commented on #2624
very nice, ***please close this feature request as resolved***, thanks

[2019-06-03 14:22] StewAlexander-com commented on #2628
Weird, it worked this time

On the first try clicking the print button under the traffic menu report menu option didn't open the Chrome Browser ***Print Dialog Menu***, on the second it did, when it did open the print dialog menu it showed all the panels with graphs.

Appears like a loading time-out or unexpected termination error where a process died before the rendering of all the panels and ope

[2019-06-03 14:30] emanuele-f commented on #2628
It works for me too. Closing for now. If it happens again please add the javascript error information.

[2019-06-03 14:44] StewAlexander-com commented on #2628
Will do ...

[2019-06-03 14:50] StewAlexander-com commented on #2628
Ok, when I change the reporting time from 1 hour to 1 week, then click the print menu button I get this javascript error when I use the Chrome Browser to inspect the lack of graphs showing up under the print window that appears (the chrome print dialog window never opens)...

[code]
Going back to the main ***Traffic Report*** window and the Local / Remote panels are now missing graphs

Seeing what

[2019-06-03 15:00] StewAlexander-com commented on #2628
Apparently I didn't catch the requirement to change the reporting time period to see the error? Not sure, anyway I was able to produce the error after changing the reporting time period at the far upper left of the window from 1 hr to 1 week..

[2019-06-03 16:13] simonemainardi opened #2629 "apt-get remove ntopng on ubuntu16 seems to remove the config file"
An edited config file should be preserved rather than being deleted. It is necessary to check this behavior.

[2019-06-03 16:48] emanuele-f commented on #2628
This occurs sometimes, both for RRD and InfluxDB when selecting 1d. In both cases it is caused by missing normalization (normalization is only performed in standard charts, but not in the report).

In RRD it's caused by different RRA picked (the current touchRRD does not help):

![2019-06-03_18-14](https://user-images.githubusercontent.com/5488003/58819141-12db9780-861f-11e9-8f6f-326c331f383e.png)

[2019-06-03 17:22] StewAlexander-com commented on #2628
Is it possible to fix this, or this working as designed?

[2019-06-04 09:02] simonemainardi opened #2630 "Specify which endpoint to use depending on the type of alert"
Currently, all alerts are sent to all configured endpoints. It is requested to specify which alerts have to be sent to any of the configured endpoints.

This make it possible for example to only end high-severity alerts via email, and leave all the other alerts within ntopng.

[2019-06-04 10:21] emanuele-f commented on #2628
Of course this is a bug and must be fixed

[2019-06-04 11:22] emanuele-f commented on #2628
This should be fixed in the new build. Please wait an our and update ntopng.

[2019-06-04 12:31] StewAlexander-com commented on #2628
Thank you for your support with these issues, very appreciated.

Just for your info: I worked with several companies that had sometimes a peculiar perspective on what was a "bug" and what was "working as designed", it's been a pleasure working with you and your team.

[2019-06-04 12:57] emanuele-f commented on #2606
Your impatient answers will not help us understand the problem. Since this is opensource, you can look at the code and modify it as you want. If you want support please be kind.

`Runtime Preferences-->Timeseries-->AS and Countries` does not affect the realtime data but only the historical data (https://www.ntop.org/guides/ntopng/web_gui/historical.html). This cannot be reproduced with the officia

[2019-06-04 13:36] emanuele-f commented on #2629
Tried both stable and dev packages with:

[code]

The edited config fil is correctly preserved in all the cases.

[2019-06-04 13:36] #2629 closed, assigned to nobody

[2019-06-04 13:39] emanuele-f commented on #2619
Can you provide remote assistance access on email?

[2019-06-04 13:52] #2606 closed, assigned to emanuele-f

[2019-06-04 13:54] simonemainardi commented on #2626
Currently, you can create custom categories of custom applications to define your sites (that will include SSL certificates, HTTP hosts, DNS names) and then you'll have them available as if they were regular builtin applications, along with the number of active flows, hosts, etc.

Please, see https://www.ntop.org/guides/ntopng/web_gui/categories.html

[2019-06-04 13:54] #2626 closed, assigned to nobody

[2019-06-04 13:57] simonemainardi commented on #2619
please, attache the full ntopng configuration used and the exact page you visited to obtain the screenshot in the first post.

The `WARNING: Use sudo ethtool -K eth0 gro off gso off tso off` won't affect missing data

[2019-06-04 14:02] simonemainardi commented on #2618
You said "unless ntopng is stopped". Please, explain. Are you saying that if you run `ethtool -K eth0 gro off gso off tso off` and then restart ntopng, it will stop showing the warning?

[2019-06-04 14:18] StewAlexander-com commented on #2619
Sure first the configuration file:
[code]
How to get to the place where I see no graph:

![image](https://user-images.githubusercontent.com/48565067/58886151-6c8ca200-86b1-11e9-9201-3721ae304ef7.png)
![image](https://user-images.githubusercontent.com/48565067/58886256-93e36f00-86b1-11e9-838c-07187b46b8ae.png)
![image](https://user-images.githubusercontent.com/48565067/58886309-aa89c600-86b1-11e9-9

[2019-06-04 14:26] StewAlexanderACC commented on #2619
Per ```You said "unless ntopng is stopped". Please, explain. Are you saying that if you run ethtool -K eth0 gro off gso off tso off and then restart ntopng, it will stop showing the warning?```:

What I mean is, unless I run ```$sudo service ntopng stop``` first, the command appears to do nothing, when I do run ```$sudo service ntopng stop``` the ```$sudo service ntopng status``` messages appear t

[2019-06-04 14:31] StewAlexander-com commented on #2618
Per ```You said "unless ntopng is stopped". Please, explain. Are you saying that if you run ethtool -K eth0 gro off gso off tso off and then restart ntopng, it will stop showing the warning?```:

What I mean is, unless I run ```$sudo service ntopng stop``` first, the command appears to do nothing, when I do run ```$sudo service ntopng stop``` the ```$sudo service ntopng status``` messages appear t

[2019-06-04 14:33] StewAlexander-com commented on #2619
If you still would like remote access to my ntopng web instance, please let me know and I will provide over email

[2019-06-04 14:41] StewAlexander-com commented on #2628
Scrolling down the "Traffic Report" page I came across one of the fields that is "missing" application data still, and I see this message is the Chrome Inspector Window (not sure what to make of it)

![image](https://user-images.githubusercontent.com/48565067/58888431-5e408500-86b5-11e9-9573-80fb43b21e45.png)

This ***Application Breakdown*** field that says "No Data Available" is under the "Netwo

[2019-06-04 14:58] emanuele-f commented on #2628
If you select such interface from the Interfaces dropdown of the header bar and go into the interface charts, can you see any top applications show there?

[2019-06-04 15:01] lucaderi opened #2631 "Implement zoom in+out"
<img width="1294" alt="Screenshot 2019-06-04 at 16 59 45" src="https://user-images.githubusercontent.com/4493366/58890101-4800ec00-86ea-11e9-8597-41a88ae4d9ca.png">

Implement zoom in (e.g. divide the time in two centered), out (e.g. double the current time)

[2019-06-04 15:04] lucaderi opened #2632 "Implement alert when DNS traffic is too much"
<img width="1316" alt="Screenshot 2019-06-04 at 17 03 16" src="https://user-images.githubusercontent.com/4493366/58890317-b0e86400-86ea-11e9-8523-90ce2feb6687.png">

In the above report, this host has made far too much DNS traffic with respect to the rest of the protocols. This is clearly an anomaly. We need to implement a mechanism to detect this

[2019-06-04 15:19] StewAlexander-com commented on #2628
Yes, thanks

![image](https://user-images.githubusercontent.com/48565067/58891461-8d0d2a00-86ba-11e9-8736-80159b1700ff.png)

[2019-06-04 15:20] emanuele-f commented on #2628
This is traffic, please select top applications

[2019-06-04 15:22] StewAlexander-com commented on #2628
Not in the list:

![image](https://user-images.githubusercontent.com/48565067/58891708-00af3700-86bb-11e9-89e1-4af8a7eb934e.png)

[2019-06-04 15:25] StewAlexander-com commented on #2628
Top Protocols output:

![image](https://user-images.githubusercontent.com/48565067/58891946-669bbe80-86bb-11e9-9101-d7afb5186ee5.png)

[2019-06-04 15:25] emanuele-f commented on #2549
The flow stays active because the flow is still active on conntrack (and the last_seen is updated for this reason). The lifetime of the flows is currently bound to the conntrack lifetime, which, for established flows, is 5 days (See nf_conntrack_tcp_timeout_established in https://www.kernel.org/doc/Documentation/networking/nf_conntrack-sysctl.txt, e.g. `sudo sysctl -w net.netfilter.nf_conntrack_tc

[2019-06-04 15:28] StewAlexander-com commented on #2628
Top Senders and Top Receivers is blank:

![image](https://user-images.githubusercontent.com/48565067/58892167-c1cdb100-86bb-11e9-9f3a-1ed202eafcbf.png)
--------
![image](https://user-images.githubusercontent.com/48565067/58892273-ea55ab00-86bb-11e9-8b0c-7297d0f7dc5c.png)

[2019-06-04 15:29] emanuele-f commented on #2628
Top Protocols is correct, sorry we renamed it on dev. The chart however is for eth0, you should select "tcp://127.0.0.1:1235 [10.210.8.5]" from the interfaces dropdown before

[2019-06-04 15:31] StewAlexander-com commented on #2628
Not Available:
![image](https://user-images.githubusercontent.com/48565067/58892507-5a643100-86bc-11e9-91c2-b7ca062169f1.png)

[2019-06-04 15:33] emanuele-f commented on #2628
I think it is the first one, try to show its top protocols chart

[2019-06-04 15:34] StewAlexander-com commented on #2628
Not available:
![image](https://user-images.githubusercontent.com/48565067/58892726-bf1f8b80-86bc-11e9-89f4-438149645f3e.png)

[2019-06-04 15:41] emanuele-f commented on #2628
So there are no applications on this interface, probably because there is no traffic (the traffic on the chart is 0)

[2019-06-04 21:24] StewAlexander-com opened #2633 "Seeing LuaEngine "Script Failure" messages in the /var/log/syslog"
Not sure what effect this has, however I noticed this in the ```/var/log/syslog``` log file:

[code]

Repeated several times

[2019-06-04 21:27] StewAlexander-com commented on #2633
Full list:
[code]

[2019-06-04 21:31] StewAlexander-com commented on #2633
System Info:

[code]

Ntopng info:

[code]

[2019-06-04 22:01] maravento opened #2634 "[NetworkInterface.cpp:150] ERROR: Unable to initialize nDPI"
After the last update and after applying the issue [#2625](https://github.com/ntop/ntopng/issues/2625) solution ntopng stop.

ntopng.service - ntopng high-speed web-based traffic monitoring and analysis tool
   Loaded: loaded (/etc/systemd/system/ntopng.service; enabled; vendor preset: enabled)
   Active: failed (Result: exit-code) since Tue 2019-06-04 09:25:38 -05; 42s ago
  Process: 20784 ExecSt

[2019-06-05 07:35] emanuele-f commented on #2634
Which ntopng version are you using? Please run `ntopng --version`. If you have manually compiled ntopng from github, please update nDPI to the latest version

[2019-06-05 07:40] emanuele-f commented on #2633
I've backported ea5d85c6ab55a56ee0ff8a56be104165e336a614 in stable, please check out the new package, available in one hour.

[2019-06-05 07:40] #2633 closed, assigned to nobody

[2019-06-05 08:15] lucaderi commented on #2634
Bug already fixed, please update to the latest version

[2019-06-05 08:15] #2634 closed, assigned to nobody

[2019-06-05 12:11] StewAlexander-com commented on #2633
Just seeing this now, thanks
[code]

[2019-06-05 12:13] StewAlexander-com commented on #2619
So this is the ntopng server, and it should be seeing a lot of traffic, instead the graph shows none

![image](https://user-images.githubusercontent.com/48565067/58955395-dc5e6380-8769-11e9-9d7d-047ef444329a.png)

[2019-06-05 12:16] StewAlexander-com commented on #2618
Upgraded ntopng to:

[code]

Now see these Warning messages again:
[code]

[2019-06-05 13:24] maravento commented on #2634
thanks

[2019-06-05 13:52] cardigliano commented on #2542
Closing for the time being as it has low interest.

[2019-06-05 13:52] #2542 closed, assigned to cardigliano

[2019-06-05 13:56] StewAlexander-com commented on #2628
Oddly the above screen capture is from our ntopng instance, as in I am looking at the ntopng server output, correct me if I am wrong, but I would think this should be seeing quite a bit of traffic.

[2019-06-05 13:56] simonemainardi commented on #2618
tell me what happens if:

1. stop ntopng
2. run `ethtool -K eth0 gro off gso off tso off`
3. start ntopng

after the start of ntopng (step 3) do you still see _new_ warnings appearing?

[2019-06-05 13:59] StewAlexander-com commented on #2618
Yes

[code]

[2019-06-05 14:03] cardigliano commented on #2618
@StewAlexanderACC please make sure ntopng is *not* running after "sudo service ntopng stop" *and* before running the other commands, as it seems ntopng was running since "1h 41min ago" in the output you sent. Thank you.

[2019-06-05 14:12] StewAlexander-com commented on #2618
[code]
[code]
[code]

[2019-06-05 14:14] StewAlexander-com commented on #2618
## And here is the Warning message again:
[code]

[2019-06-05 14:18] cardigliano commented on #2618
@StewAlexanderACC this is weird, it seems that even disabling GRO/LRO on the interface (it is actually reported as off), it is still delivering packets bigger than expected.
Please also provide "ifconfig eth0" to double check also the mtu.

[2019-06-05 14:43] emanuele-f commented on #2628
It should be the interface from nProbe, please check out https://www.ntop.org/nprobe/network-monitoring-101-a-beginners-guide-to-understanding-ntop-tools on how to properly setup ntopng and nprobe for communication. If you still have problems, then post the ntopng and nprobe configuration used

[2019-06-05 15:59] StewAlexander-com commented on #2618
Yeah it ***is*** weird....

[code]

[2019-06-05 16:05] StewAlexander-com commented on #2618
Driver info:

[code]

[2019-06-05 16:06] cardigliano commented on #2618
@StewAlexanderACC could you double check with pfcount (pfcount -i eth0 -v 1) that length of captured packets is exceeding the MTU?

[2019-06-05 16:10] StewAlexander-com commented on #2618
The feedback from the command is **extensive**

[code]
Can I grep or awk / sed something from this huge list for you?

[2019-06-05 16:11] StewAlexander-com commented on #2618
[code]

[2019-06-05 16:14] StewAlexander-com commented on #2628
Ok, this is a separate issue anyway, sorry to include it in the bug ticket for the print issue.

Please let me know when the print issue bug (above) is fixed, thanks

[2019-06-05 16:46] lucaderi opened #2635 "Missing attacker IP(s)"
![alrm bug](https://user-images.githubusercontent.com/4493366/58974154-0f344600-87c2-11e9-9be4-7fb8fe6294d1.png)

Alert without an indication of who has created the problem need to be enhanced/extended

[2019-06-05 17:20] emanuele-f commented on #2628
It should be already solved in the latest stable

[2019-06-05 17:37] StewAlexander-com commented on #2628
I tested it, mostly works ...

There is one thing I found @emanuele-f ...

I set the traffic report to a week, pressed the print button ...

When the print dialog box for chrome came up the local / remote interface graph hadn't completed drawing yet to the screen, so the panel graph was empty

Upon closing the Chrome print dialog box, the local / remote interface panel graph completed drawing on t

[2019-06-05 17:46] StewAlexander-com opened #2636 "Lots of white space when attempting to print from the "Traffic Report" menu"
#### Although the page renders compactly, the Chrome Browser Print Menu dialog box shows a tremendous amount of white space:

Here's what the web page shows:

![image](https://user-images.githubusercontent.com/48565067/58977869-97055a80-8798-11e9-9275-c3dbdf6ac4fb.png)

-------------

Here is what the Chrome Print Dialog shows, white space I am referring to circled:

![image](https://user-images.g

[2019-06-05 17:54] StewAlexander-com commented on #2636
Chrome version running on Windows 2010:

![image](https://user-images.githubusercontent.com/48565067/58978225-6540c380-8799-11e9-8a8b-98ae2dc3e8d0.png)

[2019-06-05 18:01] StewAlexander-com commented on #2636
Weirdly attempting to change the print layout to "landscape" mode does nothing (Chome bug?)

![image](https://user-images.githubusercontent.com/48565067/58978696-5eff1700-879a-11e9-9728-56221291d409.png)

[2019-06-05 20:00] StewAlexander-com commented on #2619
***No graphs for***....

* Host Pool List Graph:
![image](https://user-images.githubusercontent.com/48565067/58985578-a6d96a80-87a9-11e9-9a6d-61c1cf6efd2c.png)
![image](https://user-images.githubusercontent.com/48565067/58985672-e738e880-87a9-11e9-98e9-88a5a47407a5.png)
----

* Autonomous Systems:
![image](https://user-images.githubusercontent.com/48565067/58985797-28c99380-87aa-11e9-8593-9d792d71

[2019-06-05 20:02] StewAlexander-com commented on #2619
Top Receiver / Top Sender graphing seems to be unavailable no matter what interface or what object I choose, could this be a configuration issue?

[2019-06-05 20:13] StewAlexander-com commented on #2619
Per @emanuele-f

[code]

I followed this to the best of my knowledge, the configuration for ntopng.conf is in an earlier comment, here is the configuration for nprobe:

[code]

[2019-06-05 20:34] emanuele-f commented on #2619
Your nprobe is capturing the loopback interface traffic (lo), this is probably not what you want. Moreover, the `--zmq` on nprobe as explained in https://www.ntop.org/nprobe/network-monitoring-101-a-beginners-guide-to-understanding-ntop-tools

[2019-06-05 20:45] StewAlexander-com commented on #2619
Since the nprobe collector is on the same server as the ntopng server, if the ntopng server is listening on eth0 should nprobe be listening on eth0 also? The KVM running this only has one interface

This server can see all the vlans in our network

[2019-06-05 21:08] StewAlexander-com commented on #2619
getting these messages
[code]

after updating the nprobe.conf file with the following

[code]

[2019-06-06 07:54] emanuele-f commented on #2619
You don't need nprobe in order to monitor the interface traffic, you already have ntopng. Please read the online guides for basic understanding of our tools.

[2019-06-06 08:28] cardigliano commented on #2618
@StewAlexanderACC I added a flag to filter packets by size, please update your packages and run something like "sudo pfcount -i eth0 -v 1 -K 1524"

[2019-06-06 09:22] emanuele-f commented on #2636
Currently we cannot accomodate this request. The reports export requires a rework.

[2019-06-06 09:22] #2636 closed, assigned to nobody

[2019-06-06 09:28] emanuele-f opened #2637 "Add traffic spike chart in the footer even when no packet direction is available"
The standard chart in vs out should be added to the footer as a single "total" spike chart even when it is not possible to determine the direction of the packets

[2019-06-06 09:29] emanuele-f opened #2638 "Show the number of SNMP alerted interfaces in the main SNMP view"

[2019-06-06 09:30] emanuele-f opened #2639 "Remove sort from the info column while using containers"

[2019-06-06 09:31] emanuele-f commented on #1854
The implementation has been approved, further development will follow in #1855

[2019-06-06 09:31] #1854 closed, assigned to simonemainardi

[2019-06-06 09:32] emanuele-f opened #2640 "Move SNMP devices under the system interface menù"

[2019-06-06 09:37] emanuele-f commented on #1855
As internally discussed, this new monitoring layer should be:

- Be modular. Each element will be handled by a separate script
- Possibly reuse existing monitoring scripts (e.g. in the standard nagios format)
- Use spike charts to show realtime data (when polling is not expensive)

The components to monitor:
- [x] CPU: a 1 second chart resolution must be provided
- [x] InfluxDB: health and disk oc

[2019-06-06 09:53] #2639 closed, assigned to emanuele-f

[2019-06-06 10:06] #2637 closed, assigned to emanuele-f

[2019-06-06 10:09] emanuele-f opened #2641 "Some past alerts are lost"

[2019-06-06 10:45] emanuele-f opened #2642 "Document "Local Network Static Route""

[2019-06-06 11:31] jean-christophe-manciot commented on #2626
The initial goal is to get **several charts with historical stats** showing:
- ```total hosts```: total number of hosts which contacted the site/were contacted by the site
- ```total countries```: total number of countries which contacted the site/were contacted by the site
- ```total AS```: total number of AS which contacted the site/were contacted by the site

These charts to do relate to any pa

[2019-06-06 12:23] StewAlexander-com commented on #2619
Looks like the issue is with my understanding of your tool, which is fine as I am new to it, will read up on docs and perhaps do some retooling.

Either way, appreciate your support with this ticket, please close.

[2019-06-06 12:34] StewAlexander-com commented on #2618
After upgrading:
[code]
-------
[code]

[2019-06-06 12:35] StewAlexander-com commented on #2618
What the heck is this address? It isn't local: 96.43.137.99, very weird

[2019-06-06 12:38] StewAlexander-com commented on #2618
Looks like the address is resolving as ***rdns1.joesdatacenter.com***

[2019-06-06 12:39] StewAlexander-com commented on #2618
Can you help tell me what those messages are saying, please?

[2019-06-06 12:39] cardigliano commented on #2618
@StewAlexanderACC it seems that the virtio driver you are using is ignoring the GRO setting or something like that. You probably need to disable GRO also on the physical interface on the host which is used to provide connectivity to the VM.

[2019-06-06 12:40] cardigliano commented on #2618
Those are packets received on the interface, not sure waht kind of traffic you expect to see there, please double check.

[2019-06-06 12:48] StewAlexander-com commented on #2618
We are not showing this ntopng to the web, so how it is getting packets from the web is very odd

Is there a way to get a pcap or something similar of the traffic from this host using ntopng?

[2019-06-06 12:50] cardigliano commented on #2618
You have a few options:
1. start a live capture from ntopng
2. enable continuous recording in ntopng
3. run "tcpdump -ni eth0 -w file.pcap" (I think this is the simplest one at this point)

[2019-06-06 12:52] StewAlexander-com commented on #2618
Thanks

[2019-06-06 13:06] komarEX opened #2643 "Suddenly ntopng doesn't send any data to InfluxDB"
Hi
Suddenly tonight out ntopng server was getting a lot of data in directory /var/log/ntopng.
It seems like due to unknown to me reasons ntopng decided that it won't push any more data into InfluxDB even if everything was working just fine before (no one did anything on the server).

I thought that maybe it's some kind of bug and we just need to upgrade so I did but nothing changed.

Ntopng versio

[2019-06-06 13:25] emanuele-f commented on #2643
Can you see any export failed alerts into ntopng?

[2019-06-06 13:34] komarEX commented on #2643
Yes but I've already fixed that and still no luck. After this fix no new alerts regarding influxdb.

[2019-06-06 13:40] StewAlexander-com commented on #2618
Just so you know our PFSense firewall apparently is getting its snort rules from joesdatacenter.

[2019-06-06 13:47] emanuele-f commented on #2643
Can you try to manually execute this commands and post the output here?
[code]

[2019-06-06 14:02] komarEX commented on #2643
[code]

[2019-06-06 14:37] emanuele-f commented on #2643
Can you set the ntopng log back to "normal", reboot ntopng, and then run `sudo journalctl -u ntopng` and post here the last log trace?

[2019-06-06 15:12] emanuele-f commented on #2628
You can close the print page and then print the report again via the print funciton of the browser. As a workaround I've added some delay. This enhancement is only available in the development version of ntopng. Properly handling this feature correctly would require a major rework which is not planned right now.

[2019-06-06 15:12] #2628 closed, assigned to emanuele-f

[2019-06-06 15:50] emanuele-f commented on #2631
![2019-06-06_17-50](https://user-images.githubusercontent.com/5488003/59047139-d56f4800-8872-11e9-9b38-7de43d2a904a.png)

Implemented

[2019-06-06 15:50] #2631 closed, assigned to emanuele-f

[2019-06-06 16:56] StewAlexander-com commented on #2628
Understood, thank you again for your support

[2019-06-07 07:20] komarEX commented on #2643
Sure.

[code]

These errors in the end are there since forever so I don't think that it's a problem. Especially when I have 2 interfaces and 1 view and all 3 of them waste resources in ../ts_export directories.

[2019-06-07 08:30] emanuele-f commented on #2643
Please note that you can selectively disable timeseries from the interface settings page https://www.ntop.org/guides/ntopng/web_gui/interfaces.html#settings . Please also run:

`sudo journalctl -u influxdb | grep POST | tail -n20`

Which will give you the latest writes to InfluxDB, can you post the output here?

[2019-06-07 09:20] komarEX commented on #2643
I'm aware but I want to have all timeseries for each interface (view included).
I've already checked if there are any POSTs to InfluxDB - there are none. I can make new database, I can alter settings like retention and it gets into Influx, GET also works **but there are no POSTs whatsoever** and I don't know why (it all goes into files to ts_export directories).

[2019-06-07 09:55] emanuele-f commented on #2643
Please post the output of the following commands:

[code]

[2019-06-07 10:20] komarEX commented on #2643
[code]

[2019-06-07 10:34] emanuele-f commented on #2643
Can you manually edit `/usr/share/ntopng/scripts/callbacks/system/housekeeping.lua`and add `tprint("upload ts data")` above this line https://github.com/ntop/ntopng/blob/3.8-stable/scripts/callbacks/system/housekeeping.lua#L26 ? Then "upload ts data" should appear into the ntopng log (`sudo journalctl -u ntopng -f`)

[2019-06-07 14:20] komarEX commented on #2643
[code]
Still I can't see any POSTs to Influx.

[2019-06-07 14:52] emanuele-f commented on #2643
This is needed to debug where the problem could be.

Please add `tprint(drivers)` in `/usr/share/ntopng/scripts/lua/modules/callback_utils.lua` above this line:
https://github.com/ntop/ntopng/blob/89f6544524a2f24bb4739108aef67dbb2d263a02/scripts

and also `tprint(name_id)` in `/usr/share/ntopng/scripts/lua/modules/timeseries/drivers/influxdb.lua` above this line: https://github.com/ntop/ntopng/blo

[2019-06-07 14:55] komarEX commented on #2643
I will do that on Monday :)

[2019-06-07 21:33] zimbawe998 opened #2644 "Feature Request: All ntopng and nprobe configuration in GUI"
Please allow us to entirely configure ntopng and nprobe parameters via Web.

[2019-06-10 06:25] komarEX commented on #2643
Your first link is broken and doesn't point o exact line.

[2019-06-10 06:44] komarEX commented on #2643
Hmm. I've uncommented this line https://github.com/ntop/ntopng/blob/3.8-stable/scripts/lua/modules/timeseries/drivers/influxdb.lua#L489 and threw `tprint(name_id)` after that.
What's funny is that ts_exports directory gets new files but nothing goes into log from ntopng. Is this only place which saves to ts_exports folder?
[code]

[2019-06-10 06:47] komarEX commented on #2643
Your first link was probably this change:
[code]
Output for that is:
[code]

[2019-06-10 09:29] emanuele-f opened #2647 "Query should respect time bounds on InfluxDB"
When performing a query "last 5 minutes of data", the chart should visualize "last 5 minutes of data from now", not "last 5 minutes of data since last available point"

[2019-06-10 10:42] simonemainardi opened #2648 "Chart time span doesn't match the specified begin/end date and time"
- select a custom End Dat/time from the datetimepicker to generate the chart
![image](https://user-images.githubusercontent.com/3397663/59190387-e4107480-8b7c-11e9-9c65-f587c931fe23.png)

- refresh the page and even if the url doesn't change the chart is shifted as well as the contents of the datetimepicker

![image](https://user-images.githubusercontent.com/3397663/59190395-e8d52880-8b7c-11e9-9f3

[2019-06-10 12:06] emanuele-f commented on #2647
More information on #2648

[2019-06-10 12:06] #2647 closed, assigned to emanuele-f

[2019-06-10 16:50] simonemainardi opened #2649 "Implement aggregation counters also for engaged alerts"
Currently, engaged alerts are not aggregated, that is, their count always stay at 1. It is requested to aggregate also engaged alerts using the count.

[2019-06-11 08:05] cardigliano commented on #2638
This has been implemented, there is an "Interfaces With Errors" columns counting interfaces with Errors/Discards counters > 0 (it is possible to select since boot or since last poll).
Any suggestion for the column name?

[2019-06-11 08:08] tuantmb opened #2650 "ntopng scan (SYN_SENT) public/LAN IP"
I see many *SYN_SENT* from ntopng (one by one) also public & internal IP of my Office this triggers my IDS so much (SCAN alert). So this is a feature of ntong or my misconfiguration

The destination of SYN_SENT request also are public & my LAN IPs:
[code]

*My ntopng information as below:*
[code]

*My ntopng commandline:*
[code]

[2019-06-11 08:10] simonemainardi commented on #2641
fixed

[2019-06-11 08:10] #2641 closed, assigned to simonemainardi

[2019-06-11 08:10] #2619 closed, assigned to nobody

[2019-06-11 08:12] cardigliano commented on #2638
A new page with the full list of interfaces from all SNMP devices has also been implemented.

[2019-06-11 08:17] emanuele-f commented on #2650
I cannot reproduce this. In order to drill down the problem, please ensure that:

- Automatic Network Discovery is disable from the preferences
- Disable all the category lists https://www.ntop.org/guides/ntopng/advanced_features/category_lists.html
- Do a `grep -r 210.145.38.38` into the ntopng source directory if running from git

[2019-06-11 08:17] simonemainardi commented on #2640
using the name system is wrong and misleading with reference to the SNMP. It is requested to find a more representative name.

[2019-06-11 08:22] emanuele-f commented on #2638
In my opinion the dropdown shoud show the current selection: e.g. "Errors Since Boot" and "Errors Since Last Poll"

[2019-06-11 09:17] tuantmb commented on #2650
Thanks @emanuele-f ! Maybe "Network Discovery" is the reason, I just disable it and haven't seen any alert in an hour.
[code]

[2019-06-11 09:17] #2650 closed, assigned to nobody

[2019-06-11 14:14] StewAlexander-com commented on #2618
### Thanks for your help, you can close this ticket

@cardigliano \:

Appears that the fault of this is on my end, that the virtual driver isn't actually doing the ethtool command (well it is doing it from the virtual drivers perspective, but it actually need to be done on the physical interface [as in at the hypervisor level]).

It might be useful to note in some doc that using the command ```sud

[2019-06-11 14:17] cardigliano commented on #2618
Thank you for the update, appreciated.

[2019-06-11 14:17] #2618 closed, assigned to nobody

[2019-06-11 19:41] lucaderi opened #2652 "Implement active monitoring RTT comparison"
The RTT system entry does not have the ability to compare individual timeseries. This has to be implemented

[2019-06-11 22:30] lucaderi opened #2653 "Implement InfluxDB Exported Points TS"
![Screen Shot 2019-06-12 at 00 30 04](https://user-images.githubusercontent.com/4493366/59311305-4cf50b00-8ca9-11e9-83f3-a660ac2edc61.png)

[2019-06-12 06:48] lucaderi opened #2654 "RTT Timeseries Invalid Chart"
![Screenshot from 2019-06-12 08-43-27](https://user-images.githubusercontent.com/4493366/59329168-8ac85280-8cee-11e9-84f7-578d3d52db25.png)

The right end of this chart is wrong
- the current time is 8:43 and the chart is back in time
- the last measurement is not zero but it looks like zero (i.e. I believe you are depicting a point in the future)

[2019-06-12 06:52] lucaderi opened #2655 "RTT Missing Data"
![Screenshot from 2019-06-12 08-42-38](https://user-images.githubusercontent.com/4493366/59329285-d4b13880-8cee-11e9-8a19-bb76580c72be.png)
The RTT report should include
-  the last measurement (value and time) and numeric IP address that has been contacted
- highlight hosts that have alerts (i.e.no response in time)
- by default have a RTT value when adding a new host
- if the probe is ICMP, the

[2019-06-12 06:54] lucaderi opened #2656 "Create per-application report"
Currently it is not possible to compare local hosts according to a protocol (e.g. YouTube) over a period of time. It is requested to implement this enhancing the existing protocol chart
![Screenshot from 2019-06-12 08-54-23](https://user-images.githubusercontent.com/4493366/59329666-b435ae00-8cef-11e9-94ba-6a0e3cd179d5.png)

[2019-06-12 07:42] emanuele-f commented on #2653
![2019-06-12_09-41](https://user-images.githubusercontent.com/5488003/59332360-8c414d00-8ce5-11e9-83e8-bed80e121cfc.png)

Already implemented, at least 1h zoom level must be selected

[2019-06-12 07:42] #2653 closed, assigned to emanuele-f

[2019-06-12 10:11] emanuele-f commented on #2655
Initial work in 976de25de6500a58033a500c91f129203bff7690

[2019-06-13 21:25] emanuele-f commented on #2643
These files are only created by the C core which exports the ts data. This issue is weird, can you please add `tprint(name_id)` below https://github.com/ntop/ntopng/blob/3.8-stable/scripts/lua/modules/timeseries/drivers/influxdb.lua#L461 and also `tprint(ret)` below https://github.com/ntop/ntopng/blob/3.8-stable/scripts/lua/modules/timeseries/drivers/influxdb.lua#L482 ?

[2019-06-13 21:51] Gelob opened #2657 "Host Details Peers page displays invalid bytes and has missing hosts"
Running ntopng https://github.com/ntop/ntopng/commit/2850bf47154e4aad0489a78524e2a503dbc1ce94

On the host details peers page I'm seeing invalid #s like the screenshot below and the Host field is empty

![image](https://user-images.githubusercontent.com/422752/59469766-5ee6c300-8dfb-11e9-85f3-c6e79597594a.png)

[2019-06-14 07:14] komarEX commented on #2643
I have removed previous tprint lines so only these 2 are present right now. Here's the log:

[code]

[2019-06-14 07:55] emanuele-f commented on #2643
Ok, hopefully this will be the last lines:

`tprint("FILE: " .. fname)` below
https://github.com/ntop/ntopng/blob/3.8-stable/scripts/lua/modules/timeseries/drivers/influxdb.lua#L439

`tprint(ret)` below https://github.com/ntop/ntopng/blob/3.8-stable/scripts/lua/modules/timeseries/drivers/influxdb.lua#L446

`tprint("MSG:" .. msg)` below https://github.com/ntop/ntopng/blob/3.8-stable/scripts/lua/mod

[2019-06-14 08:12] komarEX commented on #2643
I didn't delete 2 previous tprints so we have 5 now in code. Log:

[code]

[2019-06-14 09:02] emanuele-f commented on #2643
Please remove the old ones. Can you also run `ls -l /var/log/ntopng/4/ts_export/2762_1559804241`?

[2019-06-14 09:25] komarEX commented on #2643
I've stopped ntopng after that log and for some reason I don't have these files. Only couple of new:

[code]

I will remove older tprints and leave only 3 newest from https://github.com/ntop/ntopng/issues/2643#issuecomment-502008771

Log:
[code]

Directories (after that log generation):
[code]

For some reason these files don't exist there.

Epoch time in saved files is more or less real but epoch

[2019-06-14 09:31] komarEX commented on #2643
Maybe this strace will help you a bit:
[code]

Can you confirm something with me? Does ntopng expected these old (8 days old) files to exist? We had issue with ntopng saving a lot of files and if I remember correctly someone might have deleted these old files to "save space". Still new files are being generated and nothing goes into InfluxDB anyway.

[2019-06-15 16:57] christrt9 opened #2658 "Can't install ntopng on Linux mint"
I follow the instruction here: http://packages.ntop.org/apt-stable/

But i get this error

[code]

`E: Unable to locate package nprobe
`

I have linux mint 19.1

[2019-06-16 11:01] emanuele-f commented on #2658
Linux mint is not supported, but since it's based on ubuntu you should be able to install the packages manually by downloading the debs at the bottom of the http://packages.ntop.org/apt-stable page

[2019-06-17 08:42] #2658 closed, assigned to nobody

[2019-06-17 09:16] #2657 closed, assigned to nobody

[2019-06-17 09:26] emanuele-f commented on #2643
The problem could be exactly that, ntopng expects that files to exist and for some reason the export queue got a lot of unexported files. Please try to manually clean the export queue with `redis-cli del ntopng.influx_file_queue`.

[2019-06-17 09:30] emanuele-f opened #2659 "Improve InfluxDB export logic"
- Monitor the export queue length `ntopng.influx_file_queue` and generate an alert if old files remain for a long time in the queue
- Flush the export queue in `startup.lua` since the files to export are already cleaned there
- Add a warning/error message when a file in the export queue cannot be found on disk
- When an export fails, do not throw away the file, instead retry it next time for some

[2019-06-17 09:33] emanuele-f commented on #2559
Please refer to #2562

[2019-06-17 09:33] #2559 closed, assigned to nobody

[2019-06-17 14:15] kenatgcc opened #2660 "No Flow or SNMP Charts"
I get "No results found" when trying to view charts for SNMP devices or flow exporters. I have SNMP timeseries enabled. My system info is :

Version | 3.9.190617 - Enterprise Edition
-- | --
Debian GNU/Linux 9.1 (stretch)
Debian 9.1 [x86_64][Debian GNU/Linux 9.1 (stretch)] - 64 bit
ntopng --interface "tcp://10.4.56.32:5556" --interface "enp0s25" --local-networks "10.3.0.0/16"
2.9.0-1555-41b7548
7.

[2019-06-17 19:00] StewAlexander-com opened #2661 "ntopng : problem with defaults entries ; TTY=unknown ; PWD=/ ; USER=root ;"
What does this message mean repeated in the logs?
```ntopng : problem with defaults entries ; TTY=unknown ; PWD=/ ; USER=root ;```

Ntopng details:
![image](https://user-images.githubusercontent.com/48565067/59629324-92359480-9110-11e9-88f4-fd3f914b5784.png)

[2019-06-17 20:17] StewAlexander-com opened #2662 "Statistics update on interface eth0 [VLAN Id: 110] is too slow."
I am getting this message:

[code]

However my Cache Update Frequency is 1 second:
![image](https://user-images.githubusercontent.com/48565067/59633802-55bb6600-911b-11e9-8cfb-48dc3ba8c2f9.png)

[2019-06-18 10:03] komarEX commented on #2643
It was exactly that. After I purged `influx_file_queue` everything went back to normal.
Essentially I don't think that's proper way to handle it with this kind of behavior.
I propose to change it to "if ntopng expects file to exist it will print so in log but it **WON'T** stop parsing any other ts_export files".
Generally speaking because of this issue we have lost about 2 weeks of network data be

[2019-06-18 10:08] emanuele-f commented on #2643
I fully agree with this, please feel free to comment https://github.com/ntop/ntopng/issues/2659 with additional suggestions.

[2019-06-18 10:08] #2643 closed, assigned to nobody

[2019-06-18 10:10] emanuele-f commented on #2662
In order to fix the slow update issue you should *increase* the update frequency, try 10 seconds for example.

[2019-06-18 10:10] #2662 closed, assigned to nobody

[2019-06-18 10:12] emanuele-f commented on #2661
Please try to modify nsswitch as explained in https://superuser.com/questions/1086152/sudo-sending-annoying-alerts-issue-with-defaults-entries .

[2019-06-18 10:14] emanuele-f commented on #2660
Can you post a screenshot of the page with error?

[2019-06-18 10:19] komarEX commented on #2659
Even if old files remain unexported still export new files if possible to do so.

[2019-06-18 11:32] kenatgcc commented on #2660
Screenshots added.
![snmp_chart_view](https://user-images.githubusercontent.com/50203145/59678743-2f3d0f80-919b-11e9-8f7c-80015482f218.png)
![snmp_intf_view](https://user-images.githubusercontent.com/50203145/59678744-2f3d0f80-919b-11e9-9a7d-63dfffd1039a.png)
![snmp_device_view](https://user-images.githubusercontent.com/50203145/59678745-2f3d0f80-919b-11e9-9faa-a22313a0b877.png)
![flow_stats_view]

[2019-06-18 11:55] emanuele-f commented on #2660
What's the latest output of `sudo journalctl -u ntopng`?

[2019-06-18 12:11] StewAlexander-com commented on #2662
Thank you

That is somewhat unclear via how I understood the issue, but it does make sense since I started with 3 seconds and moved it to 1 thinking, it would resolve things, which it did not.

I appreciate the feedback, @emanuele-f, can you perhaps write this somewhere. for others who may encounter the same issue? That is, if that makes sense...

In any regard, thank you for the explanation, plea

[2019-06-18 13:23] kenatgcc commented on #2660
Attached.

[journalctl.txt](https://github.com/ntop/ntopng/files/3301667/journalctl.txt)

[2019-06-18 14:52] emanuele-f commented on #2640
Implemented

[2019-06-18 14:52] #2640 closed, assigned to nobody

[2019-06-18 14:53] emanuele-f commented on #2638
@cardigliano we close this as implemented?

[2019-06-18 14:55] cardigliano commented on #2638
@emanuele-f yes, this was pending for review and more tests, I guess we can close it.

[2019-06-18 14:55] #2638 closed, assigned to cardigliano

[2019-06-18 14:58] emanuele-f commented on #2660
The log is truncated on the right, please post again

[2019-06-18 15:19] kenatgcc commented on #2660
[journalctl2.txt](https://github.com/ntop/ntopng/files/3302202/journalctl2.txt)

[2019-06-19 07:49] emanuele-f commented on #2660
Can you post a screenshot of the "SNMP Devices" view? What is the value of "Time Since Last Poll"?
Inside the SNMP device configuration, under the cog icon, is "Device Polling" enabled?

[2019-06-19 08:12] emanuele-f commented on #2648
Should be already fixed in 82305dd24a0e48130d64b0fbb8551e7b0e35632d .

[2019-06-19 08:12] #2648 closed, assigned to nobody

[2019-06-19 08:27] emanuele-f commented on #2654
The last point being zero is caused by the fact that 1h resolution data is being used but the continuos query for the last point has not been run yet. With dba42d5842993d8be5d139aa2728e37dff6ee7ae now the chart does not show such missing point

[2019-06-19 09:25] emanuele-f commented on #2659
Initial fix implemented in 89b9aebfd7745bddee2f899fcee42195e260ae21 and backported to stable, additional enhancements will be implemented only in dev

[2019-06-19 10:14] kenatgcc commented on #2660
Attached.

[journalctl.txt](https://github.com/ntop/ntopng/files/3301667/journalctl.txt)
![snmp_device_detail](https://user-images.githubusercontent.com/50203145/59757299-75f13f00-9259-11e9-91ad-c67564b02d2f.png)
![snmp_devices_view](https://user-images.githubusercontent.com/50203145/59757300-75f13f00-9259-11e9-8a98-fc44453d0815.png)

[2019-06-19 12:25] emanuele-f commented on #2660
Can you provide remote gui access to debug this more easily? Please also see https://www.ntop.org/guides/ntopng/remote_assistance.html .

Are there any recent alerts for SNMP devices under the alerts icon above? The service log does not seem to be the most recent one, can you double check using journalctl and scrolling the view to the bottom? What's the output of `sudo systemctl status ntopng`?

[2019-06-19 13:50] emanuele-f commented on #2659
Enhancements implemented in 956a3713dc9e64fa2a79d724d20744424856567e, 3898e215580b1121456adef076cf37b5d2393683, a2f4dc0c24fe8d7525ae26d66650366b5b771c61 . If a file is not found, now we do not exit but try with next file until deadline is hit.

[2019-06-19 13:50] #2659 closed, assigned to nobody

[2019-06-19 13:56] kenatgcc commented on #2660
Attached is the outputs you requested.
[journalctl3.txt](https://github.com/ntop/ntopng/files/3306423/journalctl3.txt)
[systemctl_status_ntopng.txt](https://github.com/ntop/ntopng/files/3306424/systemctl_status_ntopng.txt)

[2019-06-19 14:08] kenatgcc commented on #2660
Attached.

[journalctl.txt](https://github.com/ntop/ntopng/files/3301667/journalctl.txt)
![snmp_device_detail](https://user-images.githubusercontent.com/50203145/59757299-75f13f00-9259-11e9-91ad-c67564b02d2f.png)
![snmp_devices_view](https://user-images.githubusercontent.com/50203145/59757300-75f13f00-9259-11e9-8a98-fc44453d0815.png)

[2019-06-19 14:09] kenatgcc commented on #2660
SNMP alerts screen shot

![snmp_alerts](https://user-images.githubusercontent.com/50203145/59772690-4141af80-927a-11e9-9e2b-5f5004947f41.png)

[2019-06-19 14:13] kenatgcc commented on #2660
I have loaded the n2n package, when UTC will you have time to connect?
[n2n_assistance.zip](https://github.com/ntop/ntopng/files/3306485/n2n_assistance.zip)

[2019-06-19 14:14] emanuele-f commented on #2660
Please disable it and enable again to reset the credentials, send me the credentials privately at faranda@ntop.org, I can connect now.

Edit: make sure to enable gui admin access or provide via email gui user credentials

[2019-06-20 02:17] ghost opened #2663 "Cache Settings Crash"
Script "/usr/share/ntopng/scripts/lua/admin/prefs.lua" returned an error:

/usr/share/ntopng/scripts/lua/modules/http_lint.lua:1471: [LINT] _POST["opt_resbt_h_options_group_1"] = "3600" parameter error: Missing validation

Tested in two browsers, same script popup.

![Screenshot_2019-06-20_12-13-08](https://user-images.githubusercontent.com/38232155/59813541-432c7100-9355-11e9-9f82-e01fbaeb7246.pn

[2019-06-20 02:18] #2663 closed, assigned to nobody

[2019-06-20 02:18] ghost commented on #2663
Sorry, Flow Idle Timeout didn't have a time parameter.

[2019-06-20 10:24] kenatgcc commented on #2660
Should I turn on InfluxDB?
![image](https://user-images.githubusercontent.com/50203145/59842184-009e7080-9324-11e9-8d0f-4ec0b9eba017.png)

[2019-06-20 10:43] emanuele-f commented on #2660
Yes

[2019-06-20 11:01] kenatgcc commented on #2660
Do you have a link with InfluxDB instructions?
![image](https://user-images.githubusercontent.com/50203145/59844556-32fe9c80-9329-11e9-877f-8eb6d8147fa1.png)

[2019-06-20 11:13] kenatgcc commented on #2660
Or do I need to install the package? From what I read here, it looks like it should be automatically configured. https://www.ntop.org/guides/ntopng/basic_concepts/timeseries.html#influxdb-driver

[2019-06-20 12:29] emanuele-f commented on #2660
You need to install influxdb 1.7 from https://portal.influxdata.com/downloads . Then you can use the instructions above to enable it into ntopng.

[2019-06-20 12:35] kenatgcc commented on #2660
Okay, that's what I figured.
What about nProbe running on the ntopng server, is that required? If so, should I be using a licensed Pro version so it's not limited in flow capacity?

[2019-06-20 12:58] emanuele-f commented on #2660
You need nprobe only if you are capturing netflow/sflow traffic, please check out https://www.ntop.org/nprobe/network-monitoring-101-a-beginners-guide-to-understanding-ntop-tools/ for more details. In such cases you will need a license.

[2019-06-20 13:10] emanuele-f opened #2664 "Bad argument #2 to 'format' (number has no integer representation)"
Given the information provided in https://github.com/ntop/nProbe/issues/346 , the problem occurs while exporting the UDP bytes unicast/non unicast .

[2019-06-20 13:12] emanuele-f commented on #2664
@HoseinKashefi I've made a little fix in https://github.com/ntop/ntopng/commit/aa739268f73bbd6663f21164e22c51f96411cc4f and added a trace, please try again with the new ntopng package which will be available in one hour. If you still experience the problem please post the new log.

[2019-06-20 13:20] emanuele-f commented on #2661
@StewAlexanderACC were you able to address the issue?

[2019-06-20 14:05] kenatgcc commented on #2660
I only want the ntopng server to process ZMQ feeds from nProbe so I will systemctl disable nprobe.

[2019-06-20 15:01] kenatgcc commented on #2660
I have InfluxDB 1.7.6 running as the timeseries database and that seems to be working fine.
With nProbe disabled on the ntopng server, I am not seeing any flow exporters or any SNMP chart views.

![image](https://user-images.githubusercontent.com/50203145/59859461-ba103c80-934a-11e9-9000-dbee21b064be.png)

[2019-06-20 15:06] emanuele-f commented on #2660
Without nProbe is normal that "Flow exporters" is not shown as you are now only capturing from the network interfaces. For the chart you need to way at least 2 SNMP refresh times, so about 10 minutes after ntopng start and then they should appear.

[2019-06-20 15:20] StewAlexander-com commented on #2661
@emanuele-f

Yeah, I was onto other issues, checked the logs, messages are gone.
Please close this issue, sorry about the delay.

[2019-06-20 15:45] emanuele-f commented on #2661
Thank you for reporting

[2019-06-20 15:45] #2661 closed, assigned to nobody

[2019-06-20 15:56] kenatgcc commented on #2660
I am not seeing the chart icon in the SNMP Device view after an hour.

[2019-06-20 16:14] emanuele-f commented on #2660
Do you have any alerts below the InfluxDB "System" menu entry? Do you have errors in the ntopng log?

[2019-06-20 16:42] kenatgcc commented on #2660
No alerts below the InfluxDB "System" menu entry. A few errors in ntopng.log

20/Jun/2019 12:19:46 [LuaEngine.cpp:9040] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/system/5min.lua][.../share/ntopng/scripts/call
backs/system/5min/influxdb.lua:120: attempt to call a nil value (method 'getInfluxdbVersion')]
20/Jun/2019 12:24:23 [LuaEngine.cpp:9040] WARNING: Script failure [/usr/share

[2019-06-20 16:57] jppo opened #2665 "Problem with Lua influxdb Callback"
Hello,
I am trying NtopNG with timeseries in an InflxDB database and I get some errors in the log :
----------------------------------------------------------------------------------------------------------------------------
Jun 20 18:40:00 jpcorei7 ntopng[4974]: 20/Jun/2019 18:40:00 [LuaEngine.cpp:9040] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/system/5min.lua][.../share/ntopng

[2019-06-20 18:07] kenatgcc commented on #2660
I am seeing the chart icons slowly populate, there are maybe 25 out of the 76 SNMP devices showing up.
Perhaps if I wait a few more hours they will all get there.

![image](https://user-images.githubusercontent.com/50203145/59871094-bdb0bd00-9364-11e9-8006-16e062e0475f.png)

[2019-06-21 06:11] lucaderi opened #2666 "False positive alarm"
![Screen Shot 2019-06-21 at 08 09 50](https://user-images.githubusercontent.com/4493366/59901623-20a16300-93fc-11e9-9f0d-944c03083db1.png)
Connections such as databases can stay up for a long time. The above alarm is wrong

[2019-06-21 06:13] lucaderi opened #2667 "Missing flow information from alert"
![image](https://user-images.githubusercontent.com/4493366/59901698-56dee280-93fc-11e9-87f2-64e12d40f09f.png)
The above alert is useless as it lacks ports (it contains just IP addresses and protocol)

[2019-06-21 06:16] lucaderi opened #2668 "[nIndex] Invalid bandwidth calculation"
![image](https://user-images.githubusercontent.com/4493366/59901809-b76e1f80-93fc-11e9-82aa-6c4c0213c3db.png)
it's impossible that a 60 bytes packet can map to 74 Kbit/sec

[2019-06-21 06:24] lucaderi opened #2669 "Missing container menu and sort options"
![image](https://user-images.githubusercontent.com/4493366/59901916-07e57d00-93fd-11e9-9ff5-dcd1ca8b7f70.png)
The above picture contains a few bugs
1. the Client/Server RTT labels (the same inconsistency applies for instances to hosts list) are note let aligned. The label must always be left aligned, while the column content should be aligned according to the datatype
2. the container and RTT menu

[2019-06-21 06:28] lucaderi opened #2670 "Invalid protocol combination"
![Screen Shot 2019-06-21 at 08 27 46](https://user-images.githubusercontent.com/4493366/59902444-80007280-93fe-11e9-8ab6-d7c6cbb6edb9.png)
This is an ICMP flow that has nothing to do with SSL

[2019-06-21 06:31] lucaderi opened #2671 "nIndex is not enabled for ZMQ collection interfaces"
When collecting from ZMQc (example tcp://127.0.0.1:1234c) the following errors are reported
21/Jun/2019 08:23:12 [NIndexFlowDB.cpp:536] WARNING: Unable to read data dir /var/lib/ntopng/4/flows
21/Jun/2019 08:23:09 [NIndexFlowDB.cpp:536] WARNING: Unable to read data dir /var/lib/ntopng/4/flows
21/Jun/2019 08:22:57 [NIndexFlowDB.cpp:536] WARNING: Unable to read data dir /var/lib/ntopng/4/flows
and t

[2019-06-21 06:37] lucaderi opened #2672 "Improve InfluxDB stats"
![Screen Shot 2019-06-21 at 08 32 46](https://user-images.githubusercontent.com/4493366/59902662-29476880-93ff-11e9-9d55-40acdbc41e8e.png)
In the influx stats some issues need to be addressed
- influx alarms are displayed under the "System Status": this is wrong as they need to be moved under the InfluxDB menu
- the term "Point" is misleading and it's not clear what is about
- the counters (ad lea

[2019-06-21 06:39] lucaderi opened #2673 "Alert purging requires too many clicks"
As alerts are not distributed across multiple pages, it is no longer simple to delete all of them unless several clicks and page visits are performed.
it is requires to add on all pages an extra URL (or inline form) that allows to purge all alerts for a given interface

[2019-06-21 08:01] #2665 closed, assigned to nobody

[2019-06-21 08:02] emanuele-f commented on #2665
The new package containing the fix will be available in one hour.

[2019-06-21 09:46] emanuele-f commented on #2660
I suspect the problem is related to SNMP walks taking too much time. In https://github.com/ntop/ntopng/commit/8a239f97f443a442f595a4c2bd0e9ead37657e60 I've added a trace and alerts to monitor such duration. Please wait one hour and install the new package.
Then check out the system alerts after 30 minutes and see if there are "Slow Periodic Activity" alerts:
![2019-06-21_11-45](https://user-images

[2019-06-21 09:53] jppo commented on #2665
Hello,
I try it, it works, no more message.
Regards
JP P

[2019-06-21 10:02] emanuele-f commented on #2665
Thank you for reporting

[2019-06-21 10:25] lucaderi opened #2674 "Invalid host JSON"
Clicking on the host JSON button (e.g. /lua/rest/get/host/data.lua?ifid=1&host=A.B.C.D) the JSON returned is incomplete

{"http":{"virtual_hosts":[],"receiver":{"query":{"num_post":0,"num_other":0,"total":0,"num_get":0,"num_put":0,"num_head":0},"response":{"num_1xx":0,"num_3xx":0,"total":0,"num_2xx":0,"num_5xx":0,"num_4xx":0},"rate":{"query":{"get":0,"post":0,"head":0,"put":0,"other":0},"response"

[2019-06-21 10:56] #2671 closed, assigned to simonemainardi

[2019-06-21 12:30] #2674 closed, assigned to simonemainardi

[2019-06-21 13:23] StewAlexander-com opened #2675 "Showing a strange interface 5181/5180 on multiple devices go up and down"
## Very Strange Interface 5180/5181 showing up on multiple devices, this isn't a "true" physical port of these switches.

Please create a filter or remove this odd stuff so that we can deduce or point to actual physical port changes versus these, thank you.

![image](https://user-images.githubusercontent.com/48565067/59925605-7418ae80-9406-11e9-912a-7731d2ecc2fe.png)
-------

They all say the same

[2019-06-21 13:29] simonemainardi commented on #2675
please explain, add detailed description and steps to reproduce

[2019-06-21 13:33] StewAlexander-com commented on #2675
![image](https://user-images.githubusercontent.com/48565067/59926120-9959ec80-9407-11e9-86dc-1692212461d9.png)

[2019-06-21 13:34] StewAlexander-com commented on #2675
![image](https://user-images.githubusercontent.com/48565067/59926202-d0300280-9407-11e9-8995-7f0fa5a3082d.png)

[2019-06-21 13:35] StewAlexander-com commented on #2675
![image](https://user-images.githubusercontent.com/48565067/59926253-f2298500-9407-11e9-9a26-3f77ee9759ee.png)

[2019-06-21 13:38] StewAlexander-com commented on #2675
![image](https://user-images.githubusercontent.com/48565067/59926441-50eefe80-9408-11e9-93ac-99aacea64d2b.png)

[2019-06-21 13:39] StewAlexander-com commented on #2675
![image](https://user-images.githubusercontent.com/48565067/59926518-77149e80-9408-11e9-8d28-469205ce0281.png)

[2019-06-21 13:40] StewAlexander-com commented on #2675
@emanuele-f  - have any ideas?

[2019-06-21 14:01] #2666 closed, assigned to simonemainardi

[2019-06-21 14:47] #2670 closed, assigned to simonemainardi

[2019-06-21 14:49] lucaderi opened #2676 "Improve disk usage monitoring"
![Screen Shot 2019-06-21 at 16 46 29](https://user-images.githubusercontent.com/4493366/59930956-320e5d80-9444-11e9-9897-958699941919.png)
The way storage is monitored does not help supervising the operations. It displays the space used on disk by ntopng but it does not supervise free disk space.
It is requested to
- add monitoring for the disk partition where ntopng is running
- add an alert when

[2019-06-22 10:25] HoseinKashefi commented on #2664
errors are resolved.
Thank you

[2019-06-22 13:24] emanuele-f commented on #2664
Great

[2019-06-22 13:24] #2664 closed, assigned to nobody

[2019-06-22 13:26] emanuele-f commented on #2675
So this is a virtual interface, I though such interfaces were ignored, please let me check this with my colleagues

[2019-06-23 12:20] kenatgcc commented on #2660
I am seeing a couple of "Slow Periodic Activity" alerts after the upgrade. I have also reduced my SNMP devices from 76 to 17 to see if that helps.
![image](https://user-images.githubusercontent.com/50203145/59976252-bfaa9400-958f-11e9-8bb9-fa93fe833e33.png)

[2019-06-24 07:42] emanuele-f commented on #2675
You can disable alerts from specific interfaces through the config page.

![2019-06-24_09-41](https://user-images.githubusercontent.com/5488003/60000321-7ae83100-9653-11e9-8733-618f2c8d36c1.png)

propVirtual interfaces cannot be ignored in general as VLAN interfaces are actually propVirtual .

[2019-06-24 07:42] #2675 closed, assigned to nobody

[2019-06-24 11:07] kenatgcc commented on #2660
I am getting a few of these alerts per hour since I installed the patch yesterday.

![image](https://user-images.githubusercontent.com/50203145/60014293-a583bb00-964e-11e9-925b-9d4438b7e6f4.png)

[2019-06-24 11:57] emanuele-f commented on #2660
We need to fix this

[2019-06-24 11:57] StewAlexander-com commented on #2675
@emanuele-f

 If I understand, so there is no way to filter these out since they are virtual interfaces for the vlans?

[2019-06-24 11:59] kenatgcc commented on #2660
Let me know what I can do to help.

[2019-06-24 12:00] StewAlexander-com commented on #2675
Makes it very difficult then to build statistics as to actual interface port changes, a weakness of your software.

[2019-06-24 12:03] StewAlexander-com commented on #2675
I am missing the gear icon on the page to filter out this message
![image](https://user-images.githubusercontent.com/48565067/60017361-943eac80-9656-11e9-965a-6e5ebc6342e2.png)

[2019-06-24 12:11] StewAlexander-com commented on #2675
Please consider a **feature request** to add filtering to the Past Alerts screen under the "Detected Alerts" option under the Warning Icon menu

If users could filter out, or search for interfaces, IPs, statuses or other options it would be a huge benefit to your customers, not just us.

![image](https://user-images.githubusercontent.com/48565067/60017790-99e8c200-9657-11e9-9455-22cb825edd14.png)

[2019-06-24 12:14] emanuele-f commented on #2675
Please check out the latest development version of ntopng, the possibility to turn them off are added there. We only provide bug fixes for the stable, if you find something missing in the dev version we can fix it.

[2019-06-24 13:07] StewAlexander-com commented on #2675
Ok, can you point me on how to get it?

[2019-06-24 13:38] emanuele-f commented on #2675
Please follow the instruction from http://packages.ntop.org based on your repo (refer to the `nightly` builds)

[2019-06-24 14:16] StewAlexander-com commented on #2675
Weird, what we use, I believe...

This is a dev version, am I correct?
![image](https://user-images.githubusercontent.com/48565067/60026163-16d06780-9669-11e9-95e8-7c0fd6aee489.png)

[2019-06-24 14:18] emanuele-f commented on #2675
Dev version is 3.9.x

[2019-06-24 14:21] StewAlexander-com opened #2677 "Adding ntopng to snapcraft.io"
Hi all,

An "unofficial" looking version of **ntopng** looks to be out at https://snapcraft.io/search?q=ntopng.

Any thoughts on creating an "authoritative" version of ntopng as a snap package?

[2019-06-24 14:21] StewAlexander-com commented on #2675
Ok, thanks

[2019-06-24 14:47] EpiqSty commented on #2511
Hi,

We're faced with the same error:

Jun 24 16:42:27 dc1voipsniffer01 ntopng[22843]: [24/06/2019 16:42:26][Error][Blacklisted Flow][Flow] Client, server or domain is blacklisted [Flow: 158.176.27.186@98:56866 123.122.149.191@98:33333] [L4 Protocol: TCP]
Jun 24 16:42:51 dc1voipsniffer01 ntopng[22843]: [24/06/2019 16:42:51][Error][Blacklisted Flow][Flow] Client, server or domain is blacklisted [Fl

[2019-06-24 14:55] EpiqSty commented on #2511
btw, AFAIK, those blacklists are managed via [Category Lists / Blacklists](https://www.ntop.org/guides/ntopng/advanced_features/category_lists.html), but how could we know by given log ( see https://github.com/ntop/ntopng/issues/2511#issuecomment-505043081), which certain blacklist was matched with mentioned

?
This is not really clear.

[2019-06-24 17:08] StewAlexander-com opened #2678 "Warned for arp traffic from 0.0.0.0"
Seeing these warning messages about stuff coming from 0.0.0.0 to different IPs

I am pretty sure these are not really warnings

![image](https://user-images.githubusercontent.com/48565067/60037985-0fb55380-9681-11e9-9d15-09823e13cc1b.png)

[2019-06-24 17:09] StewAlexander-com commented on #2678
System status:
![image](https://user-images.githubusercontent.com/48565067/60038085-4ee3a480-9681-11e9-8227-25785498e5aa.png)

[2019-06-24 21:07] pfruh opened #2679 "alert_utils.lua:3492: attempt to compare number with nil"
Hi, just upgraded ntopng, added a couple of RTT hosts and enabled es data dump, so I'm not sure what caused it, but I'm suddenly getting a lot of logspam on Ubuntu 18.04, disabling the Slack alerter stopped it.

[code]

[code]

[2019-06-24 21:54] Gelob commented on #2275
Any update on when such a tool would be released or the REST API to query such data functionality?

[2019-06-25 07:57] simonemainardi commented on #2678
Actually those warnings are highlighting there's some arp traffic which does not seem to be normal (see the broadcast l2 dst and a dst protocol address 10.x.x.x.x). That could be a bug/feature of certain devices or an ntopng bug. In any case it would be useful to investigate and understand.

Would it be possible for you to generate a pcap capture and send it to us for inspection? You could use som

[2019-06-25 08:00] #2679 closed, assigned to nobody

[2019-06-25 17:05] simonemainardi commented on #2672
Negative rates appear on the right axis

![image](https://user-images.githubusercontent.com/3397663/60118211-1d9bcf00-977c-11e9-81cb-ac3d0016ba3b.png)

[2019-06-25 17:08] simonemainardi commented on #2672
charting the total exports does not give any meaningful value. An exact number is always used for gauges in ntopng except for this chart where it seems to be the sum. It is requested to chart this counter using a rate.

![image](https://user-images.githubusercontent.com/3397663/60118250-3c01ca80-977c-11e9-8d8c-04b80c627632.png)

[2019-06-25 17:08] simonemainardi commented on #2673
part of the reworking currently in progress

[2019-06-25 17:08] #2673 closed, assigned to simonemainardi

[2019-06-25 17:11] #2654 closed, assigned to nobody

[2019-06-25 17:12] simonemainardi commented on #2590
Network alerts are implemented:

Network page, Alerts tab:

![image](https://user-images.githubusercontent.com/3397663/60118663-1a551300-977d-11e9-9851-c257c5b2f6f2.png)

[2019-06-25 17:12] #2590 closed, assigned to nobody

[2019-06-26 10:13] simonemainardi commented on #2667
part of the rework in progress

[2019-06-26 10:13] #2667 closed, assigned to simonemainardi

[2019-06-26 10:13] simonemainardi commented on #2649
part of the alerts rework in progress

[2019-06-26 10:31] #2649 closed, assigned to nobody

[2019-06-26 13:01] emanuele-f commented on #2668
Timeseries bandwidth is properly calculated as shown in the iperf 1Mbit/s test below.

![2019-06-26_13-48](https://user-images.githubusercontent.com/5488003/60181604-16bf9b80-9812-11e9-964e-157174c387e9.png)

Queries like `from t1 to t2` only return flows having first_seen > t1 and last_seen < t2, so some flows are not shown, however this is not the case for the issue above (verified on the origin

[2019-06-26 13:50] lucaderi opened #2680 "Dashboard charts are not filled"
<img width="768" alt="Screenshot 2019-06-26 at 15 49 30" src="https://user-images.githubusercontent.com/4493366/60185369-1501d200-982a-11e9-8db8-c04a1560cdc7.png">
When connecting to the dashboard the above two charts are empty. It would be nice to have them with data when logging in

[2019-06-26 15:12] StewAlexander-com commented on #2678
Yeah I can try, may take a little bit to capture some details, but the messages are fairly consistent

[2019-06-26 16:55] StewAlexander-com commented on #2678
Something really weird is going on, I have several sessions open on my server but every time I try to collect a tcpdump its like the MAC is changing

[code]

[code]

[2019-06-26 16:57] StewAlexander-com commented on #2678
Getting nothing

[code]
[code]

[2019-06-26 16:58] StewAlexander-com commented on #2678
[code]

[2019-06-26 17:01] StewAlexander-com commented on #2678
Any more advice @simonemainardi ?

[2019-06-26 17:02] simonemainardi commented on #2678
let's to this:

1. sniff all the arp traffic with `sudo tcpdump -i eth0 -s0 -w arp.pcap arp`
2. jump into ntopng and wait until you see a new `[Broadcast domain] ARP traffic` alert
3. stop the sniffing and send me the resulting file `arp.pcap` along with the text of the new alert seen in 2

[2019-06-26 17:23] StewAlexander-com commented on #2678
pcap attached
[arp.zip](https://github.com/ntop/ntopng/files/3331240/arp.zip)

Maybe it caught these?
[code]

[2019-06-26 21:13] StewAlexander-com commented on #2678
@simonemainardi
Now ntopng appears to have had a hard crash causing what looks like a kernel packet, doing a shutdown of the VM and now it won't come up again

[2019-06-27 07:17] simonemainardi commented on #2678
look at the output. What does ntopng says? What are the messages when it does not come up?

[2019-06-27 08:53] cardigliano commented on #2676
The *System Status* page now displays the disk utilization including space used by the system, free space, total disk size. The data dir path and device is also reported. In case a pcap path other than the data dir has been specified in the configuration, an additional bar for that volume is displayed.

[2019-06-27 09:14] #2678 closed, assigned to simonemainardi

[2019-06-27 09:18] simonemainardi commented on #2678
Thanks for providing the pcap.

So it turned out those ARPs were the so called ARP Probes. ARP Probes convey both a question ("Is anyone using this address?") and an implied statement ("This is the address I hope to use.") and do not involve a reply. See RFC 5227. They are normal and should not trigger broadcast domain alerts.
I've fixed this issue. New builds are in progress and will be ready in

[2019-06-27 16:21] StewAlexander-com commented on #2678
thanks

[2019-06-27 20:29] StewAlexander-com opened #2681 "Warnings for arping between broadcast domains to from / to hosts that don't exist"
Hi,

I am getting these ARP warnings from / to hosts in broadcast domains we don't have in our network
[code]
Version info for our ntopng instance:
![image](https://user-images.githubusercontent.com/48565067/60298497-a6d81080-98f8-11e9-9d1b-f97421e14500.png)

[2019-06-28 07:08] lucaderi opened #2682 "Improve InfluxDB stats"
![Screen Shot 2019-06-28 at 08 56 35](https://user-images.githubusercontent.com/4493366/60323561-b4d27380-9982-11e9-88a4-f83df3b12527.png)

the above page contains several items that need to be improved
1. Add small help/description that describe what are the items about. For instance RAM is the memory used by Influx (I mean a separate process) or used by ntopng for talking/caching with Influx?
2

[2019-06-28 07:41] emanuele-f opened #2683 "Improve charts scale ticks"
![2019-06-28_09-39](https://user-images.githubusercontent.com/5488003/60325885-f0b40b80-9977-11e9-8a4d-6b2f02609cd5.png)

In the chart above, the y scale has multiple repeated ticks with the same value. It seems like the same ticks number are always applied regardless of the y domain range shown.

[2019-06-28 07:47] emanuele-f commented on #2681
4C:4E:35 is a Cisco manufacturer whereas AC:37:43 is HTC so they seem like valid mac addresses. Please recheck your network to see why these devices are present

[2019-06-28 09:48] lucaderi opened #2684 "Hidden Redis alerts"
Errors like

![Screen Shot 2019-06-28 at 11 47 20](https://user-images.githubusercontent.com/4493366/60333893-83fe3880-999a-11e9-9263-c0105c0f1e9d.png)

must be found digging logs. They are important and instead must open am alert and appear in the ntopng footer

[2019-06-28 09:50] lucaderi opened #2685 "System alerts cannot be filtered using dropdown menus as in other windows"
![Screen Shot 2019-06-28 at 11 49 20](https://user-images.githubusercontent.com/4493366/60334007-caec2e00-999a-11e9-86e6-983ace86654d.png)

Due to the above limitation it is not clean what is going on and it is hard to search them

[2019-06-28 10:27] emanuele-f opened #2686 "Alerts enhancements"
After the rework a9d3c78587870b65ac7290c22b9b491cd4dee921 , the following enhancements are necessary:

- [ ] Unify C to Lua alerts queue handling and message format e.g. `check_process_alerts`, `check_macs_alerts`, `check_host_pools_alerts`.
- [ ] Unify notifications, alerts, and alerts_api format

[2019-06-28 10:30] emanuele-f opened #2687 "Implement past alert aggregation during visualization"
After the rework in a9d3c78587870b65ac7290c22b9b491cd4dee921 past alerts grouping has been removed from the database. It is necessary to group alerts during the visualization phase, which means adding a `count(*) group by key`. Flows alerts should be unified as well.

[2019-06-28 10:32] emanuele-f opened #2688 "Implement releaseAlert"
It is necessary to implement a releaseAlert api to close an engaged alert before its natural expiration due to periodicity.

[2019-06-28 10:33] emanuele-f commented on #2685
Note: the above limitation is also present in any embedded alerts page, e.g. alerts for hosts. This was probably disabled due to issue in the page parameters handling

[2019-06-28 10:51] emanuele-f opened #2689 "Interface name does not allow "//""
E.g. `zmq://127.0.0.1:5556` will strip the //

[2019-06-28 13:07] emanuele-f commented on #2688
Implemented in 2df194a2820b18fc3b3b55c22e5bf26d5b90500a

[2019-06-28 13:07] #2688 closed, assigned to emanuele-f

[2019-06-28 13:22] #2689 closed, assigned to nobody

[2019-06-28 13:39] StewAlexander-com commented on #2681
I have (or should have) access to all devices on our network, our Cisco equipment is on 10.2.x.x domain
[code]
12.195.224.10 is not an address anywhere in our network, we use 10.x.x.x / 192.x.x.x / 172.x.x.x which are scoped as internal addresses per IANA (https://www.iana.org/), 12.x.x.x is an external address apparently owned by AT&T (https://www.iana.org/assignments/ipv4-address-space/ipv4-addr

[2019-06-28 13:56] StewAlexander-com commented on #2681
Our router has an IP on the 10.90.x.x domain, but it is 10.90.1, the router is a Cisco, the other devices on that network are IP phones by a different provider

[2019-06-28 13:58] StewAlexander-com commented on #2681
I did an nmap scan on the 10.90.0.7 if it is on our network, it isn't up

[2019-06-28 15:01] emanuele-f commented on #2681
These packets are being generated in the network and won't necessary match an existing host. ntopng is just reporting what it sees. If you think this is an ntopng bug you can double check with `tcpdump`

[2019-06-28 16:01] cardigliano commented on #2660
@kenatgcc we pushed a fix for this to control the maximum duration of the SNMP walks, please update and let us know. Thank you.

[2019-06-29 09:21] kenatgcc commented on #2660
The alerts are still occurring after applying v3.9.190629 but the time to complete is reduced.

![image](https://user-images.githubusercontent.com/50203145/60382169-6201c600-9a2d-11e9-9950-87350715baf2.png)

[2019-06-29 13:24] micoots commented on #543
Hi. This is still an issue. I'm not sure why the key isn't being made available, it's been reported a number of times from what I can see in web searches.

I ended up find the key here:

http://linuxsoft.cern.ch/mirror/packages.ntop.org/

or moreso:

http://linuxsoft.cern.ch/mirror/packages.ntop.org/RPM-GPG-KEY-deri

Please add this key to your repo so your ntop.repo file actually works and instal

[2019-06-29 16:08] lucaderi opened #2690 "Invalid RRD update"
29/Jun/2019 18:55:01 [minute.lua:25] [rrd.lua:399] ERROR: rrd_update_r() [C:\Users\Luca\Documents\ntopng\1\rrd\\MDNS.rrd][1561827301:25] failed [C:\Users\Luca\Documents\ntopng\1\rrd\\MDNS.rrd: illegal attempt to update using time 1561827301 when last update time is 1561827301 (minimum one second step)]
29/Jun/2019 18:55:01 [minute.lua:25] [rrd.lua:399] ERROR: rrd_update_r() [C:\Users\Luca\Document

[2019-06-29 16:22] lucaderi opened #2691 "RRD Applications/Categories are Broken"
![Screen Shot 2019-06-29 at 18 21 08](https://user-images.githubusercontent.com/4493366/60386829-b3946a00-9a9a-11e9-9097-033f9208cdbc.png)

While hosts (inside the host details) report applications and categories, the RRD graphs are empty

[2019-06-29 16:25] lucaderi opened #2692 "Sometimes Local Hosts do not have RRD graphs"
![Screen Shot 2019-06-29 at 18 23 06](https://user-images.githubusercontent.com/4493366/60386844-0110d700-9a9b-11e9-82d3-7848c4fc311b.png)
RRD-based timeseries sometimes are not reported in the host details and the graph icon is missing. This does not happen all the times, but may hosts have no graph icon. Apparently there are no RRDs on disk for such host. So it is correct that the icon is missin

[2019-06-29 16:29] lucaderi opened #2693 "Group items when the value is the same"
![Screen Shot 2019-06-29 at 18 29 02](https://user-images.githubusercontent.com/4493366/60386896-cb202280-9a9b-11e9-8118-45b4c309b693.png)
Taken from host (Additional Host Names)

[2019-06-30 07:56] lucaderi opened #2694 "Influx memory reported by top and ntopng are inconsistent"
![Screen Shot 2019-06-30 at 09 54 43](https://user-images.githubusercontent.com/4493366/60393940-1fb7b200-9b1d-11e9-86e9-4054a09f88be.png)
![Screen Shot 2019-06-30 at 09 55 59](https://user-images.githubusercontent.com/4493366/60393964-4bd33300-9b1d-11e9-9aa4-8548b4b93384.png)
![Screen Shot 2019-06-30 at 09 55 44](https://user-images.githubusercontent.com/4493366/60393965-4bd33300-9b1d-11e9-9fd1-d

[2019-07-01 08:27] emanuele-f commented on #2694
The shown memory usage is taken from InfluxDB itself as documented in https://www.influxdata.com/blog/how-to-use-the-show-stats-command-and-the-_internal-database-to-monitor-influxdb . In particular `Sys` metric is shown. Need to verify if there is a better way through the internal stats or it's better to consult some OS api

[2019-07-01 09:30] #2690 closed, assigned to simonemainardi, emanuele-f

[2019-07-01 11:02] emanuele-f opened #2695 "Graceful termination in Windows"
ntopng can be stopped gracefully when running from cli via SetConsoleCtrlHandler as described in https://docs.microsoft.com/en-us/windows/console/registering-a-control-handler-function

[2019-07-01 13:14] emanuele-f commented on #2683
Another related problem is the negative scale (see y axis on the right)

![](https://user-images.githubusercontent.com/3397663/60118211-1d9bcf00-977c-11e9-81cb-ac3d0016ba3b.png)

[2019-07-01 13:15] emanuele-f commented on #2672
Export chart fixed in e51afad34400712cc156e2fc0602fc517b08f306 . Please refer to #2683 for the chart scale enhancements.

[2019-07-01 13:15] #2672 closed, assigned to emanuele-f

[2019-07-01 13:31] kenatgcc commented on #2660
The alerts are still occurring after applying v3.9.190629 but the time to complete is reduced.

![image](https://user-images.githubusercontent.com/50203145/60382169-6201c600-9a2d-11e9-9950-87350715baf2.png)

[2019-07-01 14:14] simonemainardi opened #2696 "Improve Interface Views"
Interface views provide a partial representation of the traffic when the same host is seen across multiple interfaces. In this case, only one of the hosts is returned. It is requested to improve the implementation to handle this.

[2019-07-01 16:45] #2694 closed, assigned to simonemainardi, emanuele-f

[2019-07-01 16:46] simonemainardi commented on #2694
Fixed. Explanation is available in the commit code comments.

[2019-07-01 20:44] #2695 closed, assigned to nobody

[2019-07-02 07:50] cardigliano commented on #2660
@kenatgcc please update again to today's build and let us see the time to complete. Thank you.

[2019-07-02 08:51] emanuele-f opened #2697 "Fix InfluxDB Storage Utilization chart"
The Storage Utilization chart of InfluxDB is wrong because the query does not take into account the idle shards (whose time is outside the visualized interval). For this reason, the storage utilization must be reworked and use `driver:getDiskUsage` to export the disk usage timeseries.

[2019-07-02 11:16] kenatgcc commented on #2660
Some initial slow alerts, I will check again in about an hour and post results.
![image](https://user-images.githubusercontent.com/50203145/60508723-41d63f00-9c99-11e9-8877-45c4000f2cea.png)

[2019-07-02 12:18] emanuele-f commented on #2660
Alert for timeseries and discover.lua where incorrect, now fixed in d8d2638d50d48f4592191b2c4f0484e00970a594 . The second script however is taking very long, are you still using InfluxDB for the export as shown in image below?

![2019-07-02_14-18](https://user-images.githubusercontent.com/5488003/60512194-76f78700-9cc3-11e9-9ed5-89fa64f989f6.png)

[2019-07-02 12:33] #2693 closed, assigned to nobody

[2019-07-02 12:42] kenatgcc commented on #2660
Yes, InfluxDB is still my database. The latest system alerts are below
![image](https://user-images.githubusercontent.com/50203145/60513449-4143a580-9ca5-11e9-8163-a077f76daedc.png)

[2019-07-02 13:32] #2697 closed, assigned to emanuele-f

[2019-07-02 15:08] emanuele-f commented on #2656
Can the nIndex top contacts per protocol view be a solution for this?

[2019-07-02 15:12] emanuele-f commented on #2644
We have some plans to make ntopng able to configure some basic parameters of nprobe as well as system configuration parameters, but this will be postponed.

[2019-07-02 15:12] #2644 closed, assigned to nobody

[2019-07-02 15:47] simonemainardi commented on #2669
Implemented. Flows are now sortable by RTT and can also be filtered according to any given container or pod.

![image](https://user-images.githubusercontent.com/3397663/60526783-4af2fa80-9cf1-11e9-9051-7568a7301303.png)

[2019-07-02 15:47] #2669 closed, assigned to simonemainardi

[2019-07-02 15:50] emanuele-f commented on #2578
Currently we cannot accomodate this request. Here is how to reset *all* the ntopng preferences:

[code]

[2019-07-02 15:50] #2578 closed, assigned to nobody

[2019-07-02 16:06] simonemainardi commented on #2681
let's take one of the two warnings as example

[code]

Means that ntopng has detected arp traffic with sender ip address 10.90.0.7 and target ip address 12.195.224.10. Both ip addresses are dissected by ntopng directly from the arp payload.

Seeing addresses which, to the best of your knowledge, are unknown doesn't mean ntopng is wrong. Among the reason there are:
- misconfigured hosts
- hidden ho

[2019-07-02 16:06] #2681 closed, assigned to nobody

[2019-07-02 16:28] StewAlexander-com commented on #2681
Hmm,

12.x.x.x is not in the list, it wouldn't be as it is not a private IP space.
![image](https://user-images.githubusercontent.com/48565067/60529519-bf637480-9cc4-11e9-825c-f917a356399d.png)

I also do a lot of snooping for hidden hosts.

However, without a tracedump I don't really know;  if I have proof in a pcap of something odd I'll open another case.

Please close this @simonemainardi, than

[2019-07-02 16:48] AnanthGopal commented on #2220
Hi @lucaderi @cardigliano , When I trying to call rest API service I got below error

can you help me?

![Capture](https://user-images.githubusercontent.com/13050426/60530746-185bf880-9d17-11e9-8ba0-cd27236d157d.PNG)

[2019-07-02 16:51] cardigliano commented on #2220
@AnanthGopal what ntopng version are you running? (ntopng -V)

[2019-07-02 16:57] AnanthGopal commented on #2220
v.3.8.181224

![image](https://user-images.githubusercontent.com/13050426/60531398-8d7bfd80-9d18-11e9-9396-002a19bd4319.png)

[2019-07-02 16:59] cardigliano commented on #2220
This has been implemented on Feb 18, 2019, you are running an older version, please update

[2019-07-02 17:00] AnanthGopal commented on #2220
which version can I use?

[2019-07-02 17:08] cardigliano commented on #2220
Please install latest one from our repository (we do not have other options)

[2019-07-02 17:17] AnanthGopal commented on #2220
okay, thank you for your support. I will check it

[2019-07-02 17:38] AnanthGopal commented on #2220
thank you that's working fine.

[2019-07-02 18:20] AnanthGopal commented on #2220
is topk_flows service (http://127.0.0.1:3000/lua/pro/rest/get/db/topk_flows.lua?ifid=0) needed Professional edition license?

[2019-07-02 18:39] StewAlexander-com opened #2698 "Errors in syslog"
Error in syslog:
[code]
------------
![image](https://user-images.githubusercontent.com/48565067/60537694-14a88180-9cd7-11e9-8466-ee2eff1a74ae.png)

[2019-07-02 18:50] StewAlexander-com commented on #2698
[code]

[2019-07-02 21:03] lucaderi opened #2699 "Invalid aggregations used with InfluxDB"
![Screen Shot 2019-07-02 at 22 59 47](https://user-images.githubusercontent.com/4493366/60546208-27de4000-9d1d-11e9-9103-686ac0d0bc16.png)
As shown in the above picture, ntop has been started with an empty DB less than a day ago. This means that daily aggregation has not been performed, so it is a bug to show an empty chart, instead of using for instance the hourly aggregation.

In summary when us

[2019-07-02 21:08] lucaderi opened #2700 "Invalid InfluxDB DB Size"
Up to today the InfluxDB was over 40GB and so I have deleted the ntopng database, removed all data and restarted Influx.

deri@ubuntu 206> sudo du -kh /var/lib/influxdb/|tail
392K	/var/lib/influxdb/data/ntopng/one_month/513/index/6
396K	/var/lib/influxdb/data/ntopng/one_month/513/index/7
396K	/var/lib/influxdb/data/ntopng/one_month/513/index/5
396K	/var/lib/influxdb/data/ntopng/one_month/513/index

[2019-07-03 07:08] AnanthGopal commented on #2220
How can I get flow data by using Ntop API?

![image](https://user-images.githubusercontent.com/13050426/60570638-9d82f400-9d8f-11e9-9e80-a4c48b41d7ea.png)

[2019-07-03 07:12] lucaderi opened #2701 "ntopng web logs are out of sync with the current status"
<img width="1360" alt="Screenshot 2019-07-03 at 09 11 28" src="https://user-images.githubusercontent.com/4493366/60570844-ac0ee280-9d72-11e9-96df-2fe7a7250fe9.png">

[2019-07-03 07:18] lucaderi opened #2702 "ntopng does not properly report InfluxDB issues"
ntopng checks the InfluxDB version and created the ntopng database during preference selection.
At startup these checks are either absent or hidden and users are not aware that the DB is not working as expected

[2019-07-03 07:23] lucaderi opened #2703 "Error when switching in preferences from RRD to InfluxDB"
<img width="1027" alt="Screenshot 2019-07-03 at 09 22 47" src="https://user-images.githubusercontent.com/4493366/60571602-3b68c580-9d74-11e9-8754-5c85d4882574.png">

[2019-07-03 07:26] cardigliano commented on #2220
@AnanthGopal yes it does require a license as reported

[2019-07-03 07:37] emanuele-f opened #2704 "Add button to delete system interface data"

[2019-07-03 08:02] yohannatheresia commented on #2532
Hello, sir.
I want to ask, why does my traffic monitoring not appear?
The case is like this, sir. What I am monitoring is my campus hotspot / wifi user but I made my own wifi too, but only what I monitor is my campus hotspot / wifi user. But sir, my campus hotspot / wifi user traffic is not included in my ntopng. Which is usually wrong, sir? Please sir, I need your answer.

[2019-07-03 09:44] simonemainardi commented on #2700
solved. issue was due to the `ntopng` database abruptly deleted. Information about the `ntopng database` size read from the `_internal` database, and shown in the Storage Utilization cell, was not deleted along with the database and this explains the difference.

[2019-07-03 09:44] #2700 closed, assigned to simonemainardi, emanuele-f

[2019-07-03 11:02] cardigliano commented on #2660
@kenatgcc please update again (sorry for all the iterations, we are trying to identify what is causing the delay in your installation). Thank you.

[2019-07-03 11:04] lucaderi opened #2705 "Invalid graph labels"
![Schermata 2019-07-03 alle 08 52 20](https://user-images.githubusercontent.com/4493366/60586785-1df72400-9d93-11e9-8272-41235f3882c1.jpeg)

[2019-07-03 11:51] emanuele-f commented on #2705
Please report the chart page

[2019-07-03 12:02] kenatgcc commented on #2660
@cardigliano I may have mentioned before that this is a proof of concept machine, basically just a desktop pc. Below is a snapshot from Webmin, does this application need more a powerful machine to run properly?
Load average rarely goes above 1.00.

![image](https://user-images.githubusercontent.com/50203145/60590016-ea9f9f80-9d68-11e9-8cc3-adf3694c13ed.png)

[2019-07-03 12:30] #2703 closed, assigned to nobody

[2019-07-03 13:33] kenatgcc commented on #2660
Here's some good news, there have been no "Slow Periodic Activity" alerts since the update and restart @ 08:10 EDT.
![image](https://user-images.githubusercontent.com/50203145/60595740-a2d34500-9d75-11e9-8c32-4cba2ef704b5.png)

[2019-07-03 13:40] cardigliano commented on #2660
@kenatgcc the machine you are currently using seems to be powerful enough for what you are doing now. As of alerts, we are currently interrupting snmp polling to honour the 5 minutes polling slot, however we should notify what activity has been interrupted now. Thank you for your feedback.

[2019-07-03 14:38] #2701 closed, assigned to emanuele-f

[2019-07-03 14:39] cardigliano commented on #2660
@kenatgcc I pushed more improvements to detect "unresponsive" devices when snmp polling is interrupted: you should see a triangle (warning) on the corresponding device in the list. This will be available with the next build.

[2019-07-03 15:01] #2702 closed, assigned to emanuele-f

[2019-07-03 15:33] simonemainardi commented on #2692
Issue occurring under Windows, fixed in the latest windows build (ntopng-3.9.190702.zip).

[2019-07-03 15:33] #2692 closed, assigned to simonemainardi

[2019-07-03 15:35] simonemainardi commented on #2691
Issue occurring under Windows, fixed in the latest windows build (ntopng-3.9.190702.zip).

[2019-07-03 15:35] #2691 closed, assigned to simonemainardi

[2019-07-03 15:38] simonemainardi commented on #2685
will reconsider this issue after the rework as it may involve significant changes also in the way alerts are filtered

[2019-07-03 15:38] #2685 closed, assigned to nobody

[2019-07-03 15:40] #2676 closed, assigned to cardigliano

[2019-07-03 15:49] simonemainardi commented on #1991
duplicate of #2222

[2019-07-03 15:49] #1991 closed, assigned to nobody

[2019-07-03 18:09] jppo opened #2706 "Can't compile and install on Debian Buster"
Hello,
I try to compile/install Ntopng  (3.9)on a Debian 10 (Buster), compile went OK, but install is refused :
--------------------------------------------------------------------------------
The following packages have unmet dependencies:
 ntopng : Depends: libcurl3 but it is not installable
          Depends: libmariadbclient18 but it is not installable
-----------------------------------------

[2019-07-03 21:37] Arean71 opened #2707 "Can't install ntopng on Ubuntu 19.4"
Hi, I tried to install ntopng on Ubuntu, by executing the following command, but at the first step I have got an error: Connection refused.
Any body can help me?

sudo wget http://apt-stable.ntop.org/18.04/all/apt-ntop-stable.deb
--2019-07-04 00:24:30--  http://apt-stable.ntop.org/18.04/all/apt-ntop-stable.deb
Resolving apt-stable.ntop.org (apt-stable.ntop.org)... 167.99.215.164, 2a03:b0c0:2:d0::d

[2019-07-04 07:22] cardigliano commented on #2707
@Arean71 this is working for me, it could have been caused by a temporary outage, could you try again please? This said please note that you are installing a 18.04 package on ubuntu 19..

[2019-07-04 07:37] emanuele-f commented on #2706
We do not support debian buster for now in the packages. You can manually edit the control files to fix the dependencies to make it work.

[2019-07-04 07:37] #2706 closed, assigned to nobody

[2019-07-04 07:49] emanuele-f commented on #2698
Can you figure out the full ipv6 address which is causing the troubles? This should have been fixed in 005d56e5ddcd130297479bc497b029ea754f8dca

[2019-07-04 08:01] simonemainardi commented on #2706
@jppo as you said you've manually compiled and installed ntopng, you have to follow this readme https://github.com/ntop/ntopng/blob/dev/doc/README.compilation. It guides you to the manual installation of dependencies as well. Try it, and if you think there is something to update for Debian10, please edit it and send us a pull request. Thank you.

[2019-07-04 09:10] emanuele-f commented on #2704
Initial work in 0748ef191d89e5b052aa5560febb4e5ae185ce60 . Need to verify why alerts are not deleted.

[2019-07-04 09:38] emanuele-f commented on #2699
The problem seems related to the manual deletion of some /var/lib/influxdb directories. Possible to monitor CQ status with https://docs.influxdata.com/platform/monitoring/influxdata-platform/tools/measurements-internal/#queryfail .

[2019-07-04 09:39] emanuele-f commented on #2705
This can be reproduced in nEdge traffic chart with 5m resolution

[2019-07-04 10:11] jppo commented on #2706
Hello,

As you stated in your mail I had to :
- create a new file "control.10.in" from control.debian9.in
changing some packages versions :
Depends: @PFRING_DEP@, libsqlite3-0, redis-server, librrd8, logrotate,
libcurl4, libpcap0.8, libldap-2.4-2, libhiredis0.13, libssl1.0.2,
libmariadb3, lsb-release, tar, ethtool, libcap2, bridge-utils,
libnetfilter-conntrack3, libzstd1, libmaxminddb0, libradcli4

[2019-07-04 10:20] emanuele-f commented on #2705
Issue addressed in 65580f7b623969f5068816406a0bbc995c0c99ad, waiting for customer feedback before closing this.

[2019-07-04 10:35] emanuele-f opened #2708 "Issues with same IP in sub-interfaces on view interface"
When the same host (IP / IP+VLAN) is seen on multiple sub-interfaces, which the view interface is aggregating, the ntopng gui will just pick one of them. This is wrong as both the hosts should be accessible and have their own identity.

[2019-07-04 13:50] simonemainardi commented on #2682
Done

Means ntopng has successfully exported the metric to InfluxDB and has received a 200 OK from it. Documented.

3. What does dropped point means? Are they lost forever?

Lost forever. Documented.

4. Since when the exports, drops... are accounted? Since ntopng startup?

Since startup. Documented.

5. Please add a HTML anchor so that if you click on drops you are diverted to the second page to

[2019-07-04 13:50] #2682 closed, assigned to simonemainardi

[2019-07-04 13:50] simonemainardi commented on #2708
duplicate of #2696

[2019-07-04 13:50] #2708 closed, assigned to emanuele-f

[2019-07-04 14:09] simonemainardi commented on #2687
will be rediscussed once done with the latest alert rework which is in progress

[2019-07-04 14:09] #2687 closed, assigned to nobody

[2019-07-04 14:29] emanuele-f commented on #2698
In particular, the IPv6 reported in the error message is for `fe80::a2cc:2bff:feb2:0000` so these are the possibilities:

1. Multiple host with that IPv6 address actually exists in your network (unlikely)
2. Multiple hosts with IPv6 starting with `fe80::a2cc:2bff:feb2` exists in your network and the last 4 hex digits reported are wrong due to a bug

[2019-07-04 14:31] simonemainardi commented on #2684
I'd use the Redis monitor rather than scraping the log files and I'd but the information in a page which is similar to the one we use to monitor Influxdb

[code]

[2019-07-04 14:31] emanuele-f commented on #2699
After internal review we decided for now not to add such monitoring, so this can be closed.

[2019-07-04 14:31] #2699 closed, assigned to simonemainardi, emanuele-f

[2019-07-05 08:38] cardigliano commented on #2660
@kenatgcc please confirm that you see the warning (triangle) for "unresponsive" devices, however it seems the peridoic activity honours the deadline now

[2019-07-05 08:38] #2660 closed, assigned to cardigliano

[2019-07-05 08:59] #2707 closed, assigned to nobody

[2019-07-05 09:30] emanuele-f commented on #2705
Closing as no positive/negative feedback received. Assuming that fix is working, otherwise will reopen this.

[2019-07-05 09:30] #2705 closed, assigned to nobody

[2019-07-05 14:29] emanuele-f commented on #2704
Issues fixed in 6d7f108c1478c88a6fb41437d284732182062e7f and a3e174435384aefe9ce323eeb3d42f5c2fb89fae

[2019-07-05 14:29] #2704 closed, assigned to emanuele-f

[2019-07-05 14:44] emanuele-f commented on #2698
@StewAlexanderACC any news?

[2019-07-05 15:13] simonemainardi opened #2709 "Add host pool to the variable column in the host list"
It is requested to add an extra entry:
- host pool in ntopng
- user in nedge

which allows to see the host pool associated to each host. The extra entry should be for the variable column in the hosts list:

![image](https://user-images.githubusercontent.com/3397663/60731533-16c54700-9f48-11e9-83b7-d60288f0ca02.png)

[2019-07-05 15:19] StewAlexander-com commented on #2698
Sorry @emanuele-f got a little distracted...

The issue here is that we do not have any policies that limit the things on our guest wireless network, a sore point with me, **_really_**.

So, as students come into and out of our college we get about 6,000 or so wireless devices on our guest network doing all sorts of nonsense - consisting of Apple, Google, Amazon, Samsung, even Hauwaei and others.

[2019-07-05 15:27] emanuele-f commented on #2698
I see, anyway that IPv6 address is just a link local address, so it is something assigned automatically based on the device mac address, so it should not have collisions. It is more likely that the issue is point 2, but that was fixed in 005d56e5ddcd130297479bc497b029ea754f8dca on 1th of June, so your version should already be fixed. Just to be sure, please update ntopng to the latest version agai

[2019-07-05 15:33] StewAlexander-com commented on #2698
ok will do

[2019-07-05 15:37] StewAlexander-com commented on #2698
Apparently we had a few broken dependencies, fixing these and upgrading

[2019-07-05 15:43] StewAlexander-com commented on #2698
Please keep the ticket open over the weekend and I will report back with what I see, on the new release

[2019-07-05 16:39] emanuele-f opened #2710 "Show menu entries with lower resolution as disabled instead of hiding them"
For example, the InfluxDB Storage size is only shown when selecting 30m and hidden when selecting 5m

[2019-07-05 16:56] emanuele-f commented on #2683
First problem addressed in 3732fbc6916b5b5a083ba15b53e95a0953b04bb5

[2019-07-05 18:34] emanuele-f commented on #2683
Negative values fixed in fe8a586e6a57b3f2c8c97ed800ba58281b225703

[2019-07-05 18:34] #2683 closed, assigned to nobody

[2019-07-06 10:57] maccas777 opened #2711 "/usr/share/ntopng/scripts/lua/modules/http_lint.lua:1622: [LINT] _GET["host"] ="NGINX" parameter error: Validation error]"
Hi all

I am new here and new to Ntopng
after installing ntopng and running about few days i notice i have this error can some one help me

 ntopng:  [LuaEngine.cpp:9563] WARNING: Script failure [/usr/share/ntopng/scripts/lua/host_details.lua [/usr/share/ntopng/scripts/lua/modules/http_lint.lua:1622: [LINT] _GET["host"] = "NGINX" parameter error: Validation error]

Jul 05 19:31:33 NGINX ntopng:  0

[2019-07-08 09:25] emanuele-f commented on #2711
Hi, please post a screenshot of the "About ntopng" page, located under the home icon.

[2019-07-08 12:19] kenatgcc commented on #2660
@cardigliano I see the triangles indicating "unresponsive" SNMP devices but, the devices respond and complete "snmpwalk" command from the server within a few seconds...
What do you suggest to fix the "unresponsive" devices? Delete and re-add perhaps??
![image](https://user-images.githubusercontent.com/50203145/60809592-0a640880-a159-11e9-9594-1abff5a24c22.png)

[2019-07-08 12:57] cardigliano commented on #2660
@kenatgcc this seems to be due to a few factors: the number of walks ntopng does, the time each walk takes, the number of devices and ports you have. We need to rework the way ntopng polls the devices to optimize all of this and make sure it completes all operations within the time slot even with the number of devices you have.

[2019-07-08 13:01] kenatgcc commented on #2660
@cardigliano should I just delete the unresponsive SNMP devices?

[2019-07-08 13:04] cardigliano commented on #2660
@kenatgcc as I said we need to improve snmp polling to try to speed up it and make it work for you. In the meanwhile, it's up to you if you want to keep those devices there, however please note that polling is getting interrupted for those devices, thus data is missing for them.

[2019-07-08 13:17] kenatgcc commented on #2660
@cardigliano I have OpenNMS that tracks all the SNMP data I need. I am testing the NTOP products to collect and analyze flow data from my network devices. If I remove the SNMP device, will I still see traffic data under the "Flow Exporters" menu?
![image](https://user-images.githubusercontent.com/50203145/60813140-0cca6080-a161-11e9-9085-ce9ca4fae29f.png)

[2019-07-08 14:15] maccas777 commented on #2711
HI Emanuele

Thank you for your reply
here is the about ntopng page
![image](https://user-images.githubusercontent.com/52458177/60817261-e68eda00-a1cd-11e9-8d65-5235049f14bf.png)

[2019-07-08 16:21] simonemainardi commented on #2478
see https://technitium.com/dns/ for example

[2019-07-08 16:21] simonemainardi commented on #2562
look at the mongodb json format as well as the one by lemire

[2019-07-08 16:24] jean-christophe-manciot opened #2712 "ntopng tries "INSERT INTO `flowsv4`" even when it cannot connect to mysql"
Ubuntu 19.10 eoan
ndpi: 2.9.0-1599-c0d9dc9
ntopng: 3.9.190705 - Community Edition
mysql-server: 5.7.26-1

The bottom live throughput, number of local/remote hosts, number of alerts, devices & flows are not updated anymore:
![Bottom statistics](https://user-images.githubusercontent.com/13176858/60825967-2abdb280-a1ad-11e9-9268-0d6186fed3a5.png)

It used to be displayed instantly.

[2019-07-08 17:07] cardigliano commented on #2660
@kenatgcc yes you will still see traffic from the exporters

[2019-07-08 17:34] StewAlexander-com commented on #2698
@emanuele-f
[code]
![image](https://user-images.githubusercontent.com/48565067/60830409-22518180-a185-11e9-8d90-dc21cb58bfb1.png)

[2019-07-08 17:50] jean-christophe-manciot commented on #2712
ntopng has become a CPU hog:
![ntopng CPU consumption](https://user-images.githubusercontent.com/13176858/60831281-83934800-a1b9-11e9-8bd5-8ffc8113344a.png)

[2019-07-08 18:57] jean-christophe-manciot commented on #2712
Restarting mysql server seems to have worked around this issue.
I saw some strange connection errors with mysql in the log (since there was no previous issue with mysql):
[code]
Why does ntopng tries to ```INSERT INTO flowsv4``` despite its inability to connect to mysql?

[2019-07-09 08:06] emanuele-f commented on #2262
Has discussed, this feature cannot be implemented right now in nIndex, so a warning has been added in 736fabc5a11ead9d0bc9582615ab1dba2f76b316

[2019-07-09 08:06] #2262 closed, assigned to emanuele-f

[2019-07-10 10:41] emanuele-f opened #2713 "Todo alerts"
- [x] Fix interface and network to use the new API
- [x] Display errors when an alert callback fails
- [x] Remove stateless alert release logic based on alert_tstamp_end (it does now work with new logic)
- [x] Rework gui threshold gui
- [x] Fix interface alert counter
- [x] Handle delete alerts on the Alertable from gui
- [x] p2p threshold cross: should use the p2p category
- [x] Change database a

[2019-07-11 08:59] #2387 closed, assigned to cardigliano

[2019-07-11 12:02] cardigliano commented on #2712
@jean-christophe-manciot I pushed a fix for this, could you confirm it works for you now? Thank you.

[2019-07-11 12:22] cardigliano commented on #2711
@maccas777 this should not happen as the "host" parameter should be an IP or MAC, I am trying to figure out where "NGINX" comes from, any useful information to reproduce this are welcome. I guess "NGINX" is the hostname of the machine running ntopng, correct? It would be even better if we have a chance to ssh to this machine. Thank you.

[2019-07-11 12:44] jean-christophe-manciot commented on #2712
@cardigliano
Since I have no idea what triggered this issue (mysql-server was running fine when it happened), I am unable to confirm whether your fix works correctly or not.

[2019-07-11 12:48] maccas777 commented on #2711
HI cardigliano

Thank you for your reply
I would be ok for you to remote to my notebook and I ssh in for you
Host name
NGINX-Server-VM

If you can remote in via teamview that would be great

[2019-07-11 12:51] emanuele-f opened #2714 "Captive portal not working with nEdge in router mode"
The log reports that the user `emanuel` is not a captive portal user, however the inserted username is `emanuele` so it seems like it is truncated. Shorter usernames work fine

[2019-07-11 13:04] cardigliano commented on #2712
Let's close this and reopen it in case. Thank you.

[2019-07-11 13:04] #2712 closed, assigned to cardigliano

[2019-07-11 13:05] cardigliano commented on #2711
@maccas777 that would be great. Please send details to cardigliano at ntop.org

[2019-07-11 13:09] maccas777 commented on #2711
Hi cardigliano email sent to you :) thank you again

[2019-07-11 14:03] maccas777 commented on #2711
Hi cardigliano
Great that you would spent time for me to fix this issue
I am grateful and thankful for the best support ever men

:)

[2019-07-11 14:03] cardigliano commented on #2711
Thank you!

[2019-07-11 14:03] #2711 closed, assigned to cardigliano

[2019-07-11 14:46] stump-ed opened #2715 "syslog errors and flow alerts explorer tabs: summary, type, and visual dont display"
(many repeats of next line:)
Jul 11 14:35:05 ntopgvm001 ntopng[8279]: 11/Jul/2019 14:35:05 [5min.lua:25] [rrd.lua:368] ERROR: rrd_update_r() [/var/lib/ntopng/1/rrd/10/11/49/187/udp_sent_unicast.rrd][1562855704:28332:0] failed [/var/lib/ntopng/1/rrd/10/11/49/187/udp_sent_unicast.rrd: illegal attempt to update using time 1562855704 when last update time is 1562855704 (minimum one

(many repeats of n

[2019-07-11 15:05] emanuele-f commented on #2715
We are reworking the alerts, this page is currently broken and in the todo list of #2713 . I'll close this once fixed

[2019-07-11 20:14] maccas777 opened #2716 "Error [LuaEngine.cpp:9091] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/system/second.lua][/usr/share/ntopng/scripts/lua/modules/tracker.lua:5: module 'dkjson' not found:]"
After reboot of my server i found this error
 [LuaEngine.cpp:9091] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/system/second.lua][/usr/share/ntopng/scripts/lua/modules/tracker.lua:5: module 'dkjson' not found:]

Is there anything i can do to fix this I have try to google and look into this error code but can not find the same symptom

![image](https://user-images.githubusercontent

[2019-07-12 15:26] simonemainardi commented on #2716
can you please update to the latest version and check again? I cannot reproduce.

[2019-07-12 17:02] emanuele-f commented on #2715
A fix will be available in the tomorrow version of ntopng.

[2019-07-12 17:02] #2715 closed, assigned to nobody

[2019-07-12 20:37] Gelob opened #2717 "[/usr/share/ntopng/scripts/lua/modules/top_talkers_utils.lua:156: attempt to index a nil value (field 'delta')]"
Seeing this flood the logs.

Using version
https://github.com/ntop/ntopng/commit/e87ce25bfdd27038e4e7601bf58f6f57399ace80

12/Jul/2019 20:32:02 [LuaEngine.cpp:9446] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/interface/minute.lua][/usr/share/ntopng/scripts/lua/modules/top_talkers_utils.lua:156: attempt to index a nil value (field 'delta')]

[2019-07-13 05:05] maccas777 commented on #2716
Hi simonemainardi

Can you please share me a guide on how to update to the latest version

[2019-07-13 05:34] maccas777 commented on #2716
error is no longer there after update thank you simonemainardi :)

but i found another error sorry

13/Jul/2019 13:31:17 [LuaEngine.cpp:9449] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/system/second.lua][/usr/share/ntopng/scripts/callbacks/system/second.lua:10: module 'callback_utils' not found:]

13/Jul/2019 15:04:08 [LuaEngine.cpp:9919] WARNING: Script failure [/usr/share/ntopn

[2019-07-13 07:11] maccas777 opened #2718 "Setting up slack alert - Error on HTTP/1.1 500 Internal server error Content-Type: text/html Connection: close Script "/usr/share/ntopng/scripts/lua/admin/prefs.lua" returned an error:"
I was trying to setup my ntop to sent alert to slack
https://github.com/ntop/ntopng/blob/dev/doc/README.slack

But i ran into this error
  | Channel NamesConfigure the Slack channels where each alert will be sent. Channels must exist in order to correcly display the alert.

HTTP/1.1 500 Internal server error Content-Type: text/html Connection: close   Script "/usr/share/ntopng/scripts/lua/admin/pr

[2019-07-14 12:54] maccas777 commented on #960
hi i am having the same problem
Yes I have a api key but i got this the error
Can anyone guide me how i can fix this error

ntopng Community Edition v.3.9.190713
User admin Interface eth0

![image](https://user-images.githubusercontent.com/52458177/61183890-7d99dd00-a679-11e9-9253-8f8f77b3ef82.png)

[2019-07-15 05:07] HoseinKashefi opened #2719 "[nTopng] Doesn't show some data"
after update to following version some issues were happened:
 ntopng --version
v.3.9.190714    [Enterprise/Professional build]
[ntopng190714.log](https://github.com/ntop/ntopng/files/3390849/ntopng190714.log)
![ntopng190714(1)](https://user-images.githubusercontent.com/43135531/61196434-e5850d80-a6e3-11e9-8ccd-39386da7e6f2.jpg)
![ntopng190714(2)](https://user-images.githubusercontent.com/43135531/

[2019-07-15 06:29] emanuele-f commented on #2716
What OS are you using?

[2019-07-15 07:17] maccas777 commented on #2716
Hi Emaunuele

I am using CentOS Linux release 7.6.1810 (Core)

[2019-07-15 08:27] #2717 closed, assigned to nobody

[2019-07-15 08:33] #2718 closed, assigned to emanuele-f

[2019-07-15 08:38] emanuele-f commented on #2719
Have you updated cento as well?

[2019-07-15 08:51] HoseinKashefi commented on #2719
yes : v.1.9.190714

[2019-07-15 12:28] kenatgcc opened #2720 "No Data in Network Interfaces: Realtime Traffic Dashboard View"
The graph is empty.

![image](https://user-images.githubusercontent.com/50203145/61216070-840c7100-a6da-11e9-9f41-7ea43b7adecd.png)

[2019-07-15 12:32] emanuele-f commented on #2720
What are the contents of your /etc/ntopng/ntopng.conf file?

[2019-07-15 14:54] emanuele-f commented on #2716
Please check out the new package, which will be available in one hour.

[2019-07-15 15:38] kenatgcc commented on #2720
My ntopng.conf is below.

[my_ntopng.conf.txt](https://github.com/ntop/ntopng/files/3393052/my_ntopng.conf.txt)

[2019-07-15 15:41] #2719 closed, assigned to cardigliano

[2019-07-15 15:49] cardigliano commented on #2719
A fix for this has been pushed, a new package will be available in <1h, please update and let us know.

[2019-07-15 15:49] cardigliano commented on #2720
A fix for this has been pushed, a new package will be available in <1h, please update and let us know.

[2019-07-15 15:50] cardigliano commented on #2720
Duplicate of #2719

[2019-07-15 15:50] #2720 closed, assigned to nobody

[2019-07-15 17:22] kenatgcc commented on #2720
I updated today and the data has returned to Network Interfaces: Realtime Traffic in the dashboard.
Thanks!

[2019-07-15 19:20] Gelob opened #2721 "[daily.lua:36] [alert_utils.lua:2011] ERROR: Unknown granularity day"
Seen this on startup a few times time across builds

15/Jul/2019 19:05:01 [daily.lua:36] [alert_utils.lua:2011] ERROR: Unknown granularity day

version: https://github.com/ntop/ntopng/commit/9687f6f5f1f0fca39a33d65c4b7f05f997c1c30a

[2019-07-15 20:19] #2721 closed, assigned to nobody

[2019-07-15 20:19] emanuele-f commented on #2721
Thank you for reporting.

[2019-07-16 02:48] maccas777 commented on #2716
HI Emanuele

I have try to update and hit this error  below

https://wiki.centos.org/yum-errors

If above article doesn't help to resolve this issue please use https://bugs.centos.org/.

ndpi-2.9.0-1668.x86_64.rpm     FAILED
http://packages.ntop.org/centos/7/x86_64/Packages/ndpi-2.9.0-1668.x86_64.rpm: [Errno 14] HTTP Error 404 - Not Found
Trying other mirror.
nprobe-8.7.190716-6566.x86_64. FAILED

[2019-07-16 03:21] maccas777 commented on #2716
hi emanuele

I have update to the latest

![image](https://user-images.githubusercontent.com/52458177/61263485-3a438980-a7b3-11e9-9d24-54ed12d0f097.png)

I find this error

16/Jul/2019 11:15:45 [LuaEngine.cpp:9535] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/system/second.lua][/usr/share/ntopng/scripts/lua/modules/os_utils.lua:7: module 'tracker' not found:]
16/Jul/2019 11:05:48 [

[2019-07-16 08:42] HoseinKashefi commented on #2719
Dear @cardigliano ,
still missing mini traffic graph (host and flows\s)
![image](https://user-images.githubusercontent.com/43135531/61279437-62d77d80-a7cb-11e9-9560-4b41aace646e.png)

[2019-07-16 11:28] simonemainardi commented on #2716
I've just tried to reproduce but everything works as expected, no error:

![image](https://user-images.githubusercontent.com/3397663/61290898-45a3ae80-a7cd-11e9-9098-5e7e7ccb858d.png)

[code]

Please try to completely remove and re-install

[2019-07-16 12:04] lucaderi opened #2722 "Improve flow filtering"
Under a specific host, tab flows, add a dropdown menu that allows you to  filter only those flows between the two hosts

[2019-07-16 12:05] lucaderi opened #2723 "Remote host search is not working"
![image](https://user-images.githubusercontent.com/4493366/61292894-b4cfd180-a7d2-11e9-8de9-6c9f573e8212.png)

[2019-07-16 17:17] cardigliano commented on #960
@maccas777 it seems the Geo Map is working for me using the same ntopng version. I just generated a key and it is correctly detected by the google API. Could you provide more information (e.g. browser version) to reproduce it? Thank you.

[2019-07-16 17:19] cardigliano commented on #2719
@HoseinKashefi the footer is working for me, however today we made some change, I am pushing a new build. Please update later today (new packages available in 1h) and let us know. Thank you.

[2019-07-16 18:05] kenatgcc opened #2724 "Dashboard Network Interfaces : Last Day View Graph Inverts"

[2019-07-16 18:07] kenatgcc commented on #2724
If I watch the dashboard page for a few minutes the Last Day View  graph display flips to some kind of inverted view...
![image](https://user-images.githubusercontent.com/50203145/61318411-fe202100-a7d2-11e9-949f-88d7bcbc0c8f.png)

[2019-07-16 21:56] Gelob opened #2725 "[nIndex] ntopng not purging old flow data"
Under Preferences > Flow Database Dump > Flow Index Storage. I have it set to 121 days (4 months) However if I look at the data on my disk for the flows are kept I see data back to January and February.

I am using nindex for flow export (-F=nindex) in my ntopng.conf. Its been set like this for a month and no change. Been through a couple of versions and same issue. Currently on https://github.com

[2019-07-17 02:35] maccas777 commented on #2716
hi Simonemainardi

can you share me steps or link on how can i make a clean remove and clean reinstall on ntop

as my current server is in production no reboot could be done at the moment

Does the reinstall required reboot ?

[2019-07-17 05:32] maccas777 commented on #960
Hi cardigliano

I am using chrome
Version 75.0.3770.100 (Official Build) (64-bit)

[2019-07-17 07:27] HoseinKashefi commented on #2719
I've updated to v.3.9.190717, unfortunately graph was not fixed. is there anything to check locally ?

[2019-07-17 07:46] cadrega opened #2726 "missing libjson-c3 dependency on current Debian stretch package stable build"
I just updated to ntopng 3.8.190715-7107, but I got some errors during update:

[code]

I fixed it by installing the `libjson-c3` package:
[code]

Please add the `libjson-c3` dependency on the Debian Stretch package! (and maybe other Debian versions?)

[code]

[2019-07-17 08:18] cardigliano commented on #2719
@HoseinKashefi could you right click -> Inspect Element in your browser and check for javascript errors, if there is any? Thank you.

[2019-07-17 08:28] simonemainardi commented on #960
FWIW, I've just tested on chrome and it works properly with the key.

[2019-07-17 08:29] simonemainardi commented on #2724
which browser are you using?

[2019-07-17 09:06] HoseinKashefi commented on #2719
errors are occurred for if_stats, here some info :
![inspect(1)](https://user-images.githubusercontent.com/43135531/61362671-d050e000-a897-11e9-85db-582f71881877.jpg)
![inspect(2)](https://user-images.githubusercontent.com/43135531/61362672-d050e000-a897-11e9-912a-c85d08e44e45.jpg)
[if_stats.lua.txt](https://github.com/ntop/ntopng/files/3400975/if_stats.lua.txt)

[2019-07-17 09:17] kingxf1995 opened #2727 "No "All Protocols" item in my statistic page"
VERSION: ntopng Community Edition v.3.8.190711

The page of mine
![myntopng](https://user-images.githubusercontent.com/7127170/61363189-2e8cbb80-a8b6-11e9-8fb7-787a6e7a62c4.png)

[offical guides](https://www.ntop.org/guides/ntopng/web_gui/host_details.html#statistics)
![offical](https://www.ntop.org/guides/ntopng/_images/web_gui_host_details_stats_dropdown.png)

Is that not avaliable in Community

[2019-07-17 09:54] emanuele-f commented on #2727
That is only available in the pro version.

[2019-07-17 09:54] #2727 closed, assigned to nobody

[2019-07-18 06:14] emanuele-f commented on #2726
The dev version is already fixed. json-c dependency fix now backported to stable, thank you for reporting.

[2019-07-18 06:14] #2726 closed, assigned to nobody

[2019-07-18 06:16] emanuele-f commented on #2725
Do you have any errors in the ntopng log? Flows should be purged at midnight

[2019-07-18 07:35] emanuele-f opened #2728 "Split host alert counter"
Currently we count the total number of alerts per host in AlertsManager::storeAlert and AlertsManager::storeFlowAlert . The following modification should be performed:

- Split the counter by alert type using a map `alert_type -> count` on the host.

- Move the counter host increment from AlertsManager::storeAlert to lua. This will allow us to increment the counter as soon as the alert is generate

[2019-07-18 07:45] emanuele-f opened #2729 "Add ability to ignore alerts"
- Add an action in the gui, which allows the user to whitelist the triple `<entity_type, entity_value, alert_type>` e.g. "ignore *syn scan* alerts for *host* *192.168.1.1*".

- When working with flow alerts, the user can choose to apply the ignore rule to client, server, or both

- Alerts ignored will be counted

- A new tab into the alerts page of the interface should show the ignore rules along

[2019-07-18 12:45] emanuele-f opened #2730 "Traffic block button in hosts view does not work"

[2019-07-18 13:07] fsamareanu opened #2731 "Invalid redirect URL during DB migration step after upgrade"
Hello,

This is still an issue with the latest nightly. Attached are a screenshot of the page + page source during DB upgrade activities. Startup arguments:

-i=enp4s0.100
-i=enp4s0.101
-i=enp4s0.102
-i=enp4s0.103
-i=enp4s0.104
-i view:enp4s0.100,enp4s0.101,enp4s0.102,enp4s0.103,enp4s0.104
--local-networks="192.168.0.0/16,172.17.172.0/24"
-F "mysql;127.0.0.1;ntopng;flows;ntopng;XXXXXXXXXXXXXX"
-n=

[2019-07-18 13:16] emanuele-f commented on #2731
The alert table seems to be in progress, do you have a lot of records in the database?

[2019-07-18 13:52] fsamareanu commented on #2731
Yes, mysql DB size is 13 GB. And yes, this alert table is in progress. Once it completed application functions normally and http prefix is correctly accounted for.

[2019-07-18 13:56] Gelob commented on #2725
No worthwhile errors in the ntopng log. I ran `journalctl -u ntopng --since "48 hour ago"`. Only thing I see in there is `[minute.lua:32] [ts_5min_dump_utils.lua:429] ERROR: [tcp://<removed>:5556 ]Cannot complete local hosts timeseries dump. Disk slow or too many local hosts?` and should be unrelated

![Screen Shot 2019-07-18 at 8 38 32 AM](https://user-images.githubusercontent.com/422752/61463422

[2019-07-18 13:59] emanuele-f commented on #2731
So can this be closed or there was an issue in the http prefix?

[2019-07-18 14:03] fsamareanu commented on #2731
There was an issue with http prefix not being used during the upgrade screen ntopng is generating during DB activities. Once DB activities are completed (in this case a column was being resized) ntopng functions normally.

[2019-07-18 14:06] emanuele-f commented on #2731
Do you have a screenshot/URL? The above screenshot URL seems fine with the /ntopng prefix

[2019-07-18 14:42] fsamareanu commented on #2731
If you look in the page source (ntopng.txt) you will see this:

[code]
I've replaced my domain name with XXX and as you can see there's no http-prefix here. If this was generated correctly it should be something like this:

[code]

[2019-07-18 15:00] dannysha opened #2732 "Web GUI - cannot sign in using PW with a space"
When trying to sign in to the Web GUI, once a space is entered into the Password field, both the Username and Password box outlines turn red, and the Login button reverts to faded blue and cannot be clicked.

[2019-07-18 15:06] fsamareanu commented on #2731
Problem seems to be in scripts/lua/please_wait.lua:

window.location.replace("]] print(host) print[[");

This doesn't seem to take into account the http prefix at all.

[2019-07-18 15:26] #2731 closed, assigned to nobody

[2019-07-18 17:11] cardigliano commented on #2719
@HoseinKashefi I pushed a fix for this, please check the next build. Thank you.

[2019-07-19 08:59] jean-christophe-manciot opened #2733 "FTBFS: ZMQParserInterface.cpp:1029:12: error: ‘ndpi_serialization_end_of_record’ was not declared in this scope; did you mean ‘ndpi_serialization_unknown’?"
Ubuntu 19.10 eoan
ntopng: 3.0-3992-g824027da
gcc-9 9.1.0-8ubuntu1

Building with:
[code]
leads to:
[code]
Whole build log:
[ntopng_3.0-3992-g824027da_amd64.build.log](https://github.com/ntop/ntopng/files/3410310/ntopng_3.0-3992-g824027da_amd64.build.log)

[2019-07-19 09:01] cardigliano commented on #2733
@jean-christophe-manciot did you update nDPI to latest code from github?

[2019-07-19 09:06] jean-christophe-manciot commented on #2733
Yes, but it cannot be built either, as pointed out by [FTBFS: No rule to make target 'ndpi_util.o', needed by 'ndpiReader.dpdk'](https://github.com/ntop/nDPI/issues/753)

[2019-07-19 10:41] simonemainardi opened #2734 "ERROR: rrd_update_r()"
Every time I:

- stop ntopng
- delete the ntopng data dir
- start ntopng

I get these errors (only one time during the first update):

[code]

[2019-07-19 12:31] simonemainardi commented on #2734
happened again after 20 minutes

[code]

[2019-07-19 14:22] emanuele-f commented on #2716
Hi, no need to reboot. Please perform the following steps (existing data will be lost):
[code]

[2019-07-19 14:28] emanuele-f commented on #2729
The following issues came out and have been discussed:

- Keeping a counter requires keeping the state of an alert even if such alert is disabled. For this reason, the C trigger methods should have an addiitional parameter *disabled* which causes the disabled alert to be ignored during the walks and it will be not accounted into the interface/host counters

- Flow alerts are generated in C so the

[2019-07-19 14:33] emanuele-f commented on #2733
The bug is related to ndpi not being updated, please follow up on the issue on nDPI to fix this.

[2019-07-19 14:33] #2733 closed, assigned to nobody

[2019-07-19 14:37] emanuele-f commented on #2732
Please check out this if you need to reset the password: https://www.ntop.org/guides/ntopng/faq.html#cannot-login-into-the-gui

How were you able to set the password with space in the first place? It should not be possible as whitespace is not allowed

![2019-07-19_16-35](https://user-images.githubusercontent.com/5488003/61543180-805a5080-aa32-11e9-921c-07e921dcc906.png)

[2019-07-19 15:27] #2728 closed, assigned to emanuele-f

[2019-07-19 17:25] dannysha commented on #2732
We're using LDAP authentication :)

[2019-07-20 05:29] HoseinKashefi opened #2736 "Discontinuous traffic analyze and graph"
after update[v.3.9.190720] ntopng shows traffic Discontinuously like following shot:
![image](https://user-images.githubusercontent.com/43135531/61574429-ebf4fa00-aad4-11e9-9403-b18eb941cbcd.png)

[2019-07-20 05:31] HoseinKashefi commented on #2719
@cardigliano it's resolved but following issue is  occurred #2736

[2019-07-21 19:20] jean-christophe-manciot opened #2737 "No remote IP addresses are resolved into host names"
Ubuntu 19.10
ntopng 3.9.190717 - Community Edition
ndpi 2.9.0-1629-c083596

Only the name of the local router appear in the ```Name``` column:
![Reverse DNS Issue](https://user-images.githubusercontent.com/13176858/61595898-1346e680-abfd-11e9-93d8-7d6ba3feeda7.png)

I don't know if this is expected, but it would be much better to resolve each numeric IP address into host name (**reverse DNS lookup

[2019-07-22 07:09] simonemainardi commented on #2737
See

[code]

Basically you need 1.

[2019-07-22 07:09] #2737 closed, assigned to nobody

[2019-07-22 08:14] jean-christophe-manciot commented on #2737
@simonemainardi
You are so quick to dismiss issues: in my ```/etc/ntopng```, I have:
[code]

[2019-07-22 10:17] johnjey commented on #1250
Hello, I have encountered the same problem, I don't know if you solve it.

[2019-07-22 11:02] kenatgcc commented on #2724
Waterfox 56.2.12 (64-bit)

[2019-07-22 12:31] emanuele-f commented on #2724
Can you check with chrome/firefox if you still have the issue?

[2019-07-22 13:22] bmansvk commented on #2734
I have the same issue. The log is full of these:
`22/Jul/2019 13:15:11 [5min.lua:25] [rrd.lua:368] ERROR: rrd_update_r() [/var/lib/ntopng/0/rrd/192/168/46/67/udp_sent_unicast.rrd][1563801311:1188:0] failed [/var/lib/ntopng/0/rrd/192/168/46/67/udp_sent_unicast.rrd: illegal attempt to update using time 1563801311 when last update time is 1563801311 (minimum one
22/Jul/2019 13:15:11 [5min.lua:25] [rr

[2019-07-22 15:52] kenatgcc commented on #2724
Waterfox 56.2.12 (64-bit)

[2019-07-22 15:53] kenatgcc commented on #2724
I used Google Chrome is up to date
Version 75.0.3770.142 (Official Build) (64-bit) and get similar views after a few minutes.

![image](https://user-images.githubusercontent.com/50203145/61646361-5cd41780-ac77-11e9-817c-3e7844117248.png)

[2019-07-22 15:56] kenatgcc commented on #2724
I did try updating ntopng:

Version | 3.9.190722 -  Enterprise Edition
-- | --
Debian GNU/Linux 9.1 (stretch)
Debian 9.1 [x86_64][Debian GNU/Linux 9.1 (stretch)] - 64 bit

[2019-07-22 17:24] AnanthGopal opened #2738 "nprobe service not started in windows"
nprobe service not started in windows

![image](https://user-images.githubusercontent.com/13050426/61651528-ae11f480-acd3-11e9-842e-59e432290682.png)

[2019-07-22 20:35] emanuele-f commented on #2724
What are the contents of `/etc/ntopng/ntopng.conf` ? After the issue occurs in chrome, can you enter the browser developer console and dump the contents of the `ifaces_lastday_data` variable to file as explained in https://stackoverflow.com/questions/11849562/how-to-save-the-output-of-a-console-logobject-to-a-file/33770244#33770244 ?

[2019-07-22 20:38] emanuele-f commented on #2738
Please open an issue on the nprobe page (https://github.com/ntop/nProbe/issues) and close this one.

Which nprobe version are you using? Which command did you use to install the service? If you run it manually from console (without the `/i` option), does it run properly?

[2019-07-23 08:47] simonemainardi commented on #2716
any news?

[2019-07-23 08:51] maccas777 commented on #2716
We have stop this for now will try again next week as we are currently on a project i close this for now will reopen once we move on

[2019-07-23 08:51] #2716 closed, assigned to simonemainardi

[2019-07-23 09:30] kenatgcc commented on #2724
[ntopng_conf_07232019.txt](https://github.com/ntop/ntopng/files/3421279/ntopng_conf_07232019.txt)
[10.3.56.101-1563874114487.log](https://github.com/ntop/ntopng/files/3421280/10.3.56.101-1563874114487.log)
requested outputs are attached.

[2019-07-23 12:23] Gelob commented on #2725
Anything else I can do to troubleshoot?

[2019-07-23 12:34] emanuele-f commented on #2729
Implemented
![2019-07-23_14-34](https://user-images.githubusercontent.com/5488003/61712614-3cbf5980-ad46-11e9-9cf9-3850847ce2a9.png)
![2019-07-23_14-33](https://user-images.githubusercontent.com/5488003/61712615-3d57f000-ad46-11e9-9f8f-c384354b81c8.png)
![2019-07-23_14-32](https://user-images.githubusercontent.com/5488003/61712616-3d57f000-ad46-11e9-9aff-5b8325ddaeec.png)

[2019-07-23 12:34] #2729 closed, assigned to emanuele-f

[2019-07-23 12:36] emanuele-f commented on #2725
Please let me try to reproduce this

[2019-07-23 13:15] emanuele-f commented on #2725
Could not reproduce. I've added more traces in the new dev package, which will be available in one hour. Please update and run the script `http://127.0.0.1:3000/lua/test_delete_nindex.lua` and report the console output here. What are the contents of the `/data/ntopng/0/flows/2019/01` directory?

[2019-07-23 13:32] AnanthGopal commented on #2738
I find the solution for that issue. I uninstall Win10Pcap and install WinPcap_4_1_3.exe.. then it's working fine

[2019-07-23 13:32] #2738 closed, assigned to nobody

[2019-07-23 13:42] AnanthGopal commented on #2220
hi @cardigliano @lucaderi @simonemainardi @bjornfor
How did I use my local MySQL database? I try below comment but I got error
![image](https://user-images.githubusercontent.com/13050426/61716964-d22a1000-ad7d-11e9-8f72-cb07a92d2f9e.png)

[2019-07-23 17:38] Gelob commented on #2725
Heres whats in those directories.

[code]

[code]
[code]

I ran the test_delete_nindex.lua and it cleaned it up as expected. Seems like for some reason its not running nightly. I attached the log. My server is in GMT time zone if that helps any.

[test_delete_nindex.log](https://github.com/ntop/ntopng/files/3423347/test_delete_nindex.log)

[code]

[2019-07-24 04:55] AnanthGopal opened #2740 "How to use local database in ntop"
Anyone can help to connect MySQL database? When I try to configure MySql, I got below error
![](https://user-images.githubusercontent.com/13050426/61716964-d22a1000-ad7d-11e9-8f72-cb07a92d2f9e.png)

[2019-07-24 06:23] simonemainardi commented on #2220
hi, add a `/c` right after `ntopng` and before all other options

[2019-07-24 06:28] simonemainardi commented on #2740
Add a `/c` after `ntopng` and before all other options.

And do not cross post as you've done in https://github.com/ntop/ntopng/issues/2220#issuecomment-514215567.

[2019-07-24 06:28] #2740 closed, assigned to nobody

[2019-07-24 06:43] simonemainardi commented on #2737
You are so quick to post new issues: you didn't mention you were using -n=1.

Click on any of the hosts with name `bbox` and look at its details. There will be table Additional Host Names which should list the DNS-resolved name, e.g.,

<img width="1006" alt="image" src="https://user-images.githubusercontent.com/3397663/61770874-9b401280-adee-11e9-83e3-8020e412cc31.png">

If there is no such field,

[2019-07-24 09:33] jean-christophe-manciot opened #2741 "FTBFS: NetworkInterface.cpp:3000:5: error: ‘dumpAggregatedFlows’ was not declared in this scope"
Ubuntu 19.10 eoan
ndpi a9ce7cc
ntopng: 3.0-4040-g0d57feda (0d57feda)
gcc-9 9.1.0-9ubuntu2

nDPI is built without issue after DPDK v19.05:
[code]
Building ntopng with:
[code]
leads to:
[code]

[2019-07-24 10:21] simonemainardi commented on #2741
fixed with

https://github.com/ntop/ntopng/commit/b9ae314776e7daa7826447a7bd979a137a461f2f

[2019-07-24 10:21] #2741 closed, assigned to nobody

[2019-07-24 10:25] jean-christophe-manciot commented on #2737
There is no FQDN in the details either.
- I have no resolution stats because I use a systemd service and no such stats appear in syslog nor on the CLI when the service is stopped.
[code]
- if I restart ntopng, it clears the remote hosts list; only a few pop up as remote hosts;
- there is a FQDN outside of ntopng for each of them;, for instance:
[code]
The reverse DNS lookup should be done as soon

[2019-07-24 11:21] kenatgcc commented on #2724
Is there any other testing I can try? Do you need more logs?

[2019-07-24 12:14] Gelob commented on #2725
I checked the logs this morning after updating yesterday to https://github.com/ntop/ntopng/commit/03cec7d8311ca07ec00558859a008d14ffa89d9d but I didn't see anything related to cleanup. What should I expect to see since the additional logging was added?

[2019-07-24 14:12] #2714 closed, assigned to nobody

[2019-07-24 15:38] #2730 closed, assigned to nobody

[2019-07-24 15:38] emanuele-f commented on #2725
We have to understand if the daily activity is silently failing or the cleanup code not called due due some condition, we will follow up when possible, thank you for the information so far

[2019-07-25 09:28] mchupin opened #2742 "Disaggregation and Custom Protocols"
After setting disaggregation (by Probe IP), custom protocols are no longer detected. Is this normal behavior? When disaagregation disabled, everything is ok.
Custom protocols define in file /var/lib/ntopng/protos.txt
Ntopng Version v.3.8.190110

[2019-07-25 11:07] mchupin commented on #2742
Fixed in 3.9.190725

[2019-07-25 11:07] #2742 closed, assigned to nobody

[2019-07-25 13:13] StewAlexander-com opened #2743 ""This flow is no longer active and it should have been purged from memory" errors"
@emanuele-f
Errors showing up under the `Detected Alerts` menu:
[code]
System info:
![image](https://user-images.githubusercontent.com/48565067/61877160-6dc19a80-aebc-11e9-85d3-f194b840bd92.png)

[2019-07-25 13:16] StewAlexander-com commented on #2743
Appears related to ticket ##2725

[2019-07-25 13:21] StewAlexander-com commented on #2743
These messages are coming in very quickly, at a rate of 2 or 3 a second, repeated several times a minute...

![image](https://user-images.githubusercontent.com/48565067/61877695-8b433400-aebd-11e9-98d9-b40720679d98.png)

[2019-07-25 14:45] Tamahome-M opened #2744 "Dropped Packets on PF_RING"
Bound Device(s)    : enp4s0
Active                 : 1
Breed                  : Standard
Appl. Name             : ntopng
Socket Mode            : RX only
Capture Direction      : RX+TX
Sampling Rate          : 1
Filtering Sampling Rate: 0
IP Defragment          : Yes
BPF Filtering          : Disabled
Sw Filt Hash Rules     : 0
Sw Filt WC Rules       : 0
Sw Filt Hash Match     : 0
Sw Filt Hash Miss

[2019-07-25 14:53] cardigliano commented on #2744
@Tamahome-M could you provide statistics about the traffic rate (pps / bps)?
You should be able to see the current rate also in the footer.

[2019-07-25 14:58] Tamahome-M commented on #2744
from ntopng 934.58 Mbit/s [168,788 pps]
v.3.9.190725	[Community build]
GIT rev:	dev:ce1b9821de33e5ff5c608d0cbc169f44bb7cbbd0:20190725

real traffic from snmp (zabbix) ~0.5Mpps ~2.4Gbps

[2019-07-25 15:03] cardigliano commented on #2744
@Tamahome-M we recommend using ZC drivers with RSS (multiple queues) above 1 Gbps as a single ntopng thread cannot keep up with high rate traffic. Please read:
https://www.ntop.org/ntopng/best-practices-for-running-ntopng/
https://www.ntop.org/guides/ntopng/advanced_features/view_interfaces.html

[2019-07-25 16:00] simonemainardi commented on #2743
please, update to the latest version and check if this is happening again.

[2019-07-25 16:50] StewAlexander-com commented on #2743
After deleting a few arp messages crossing vlan boundaries these showed up again...

![image](https://user-images.githubusercontent.com/48565067/61892839-a7a19980-aeda-11e9-95d2-56ff552e2727.png)
----------
![image](https://user-images.githubusercontent.com/48565067/61892876-c43dd180-aeda-11e9-9b2b-231abc4a7583.png)

[2019-07-25 18:37] StewAlexander-com opened #2745 "NTOPNG using a lot of memory"
NTOP is using all available memory, no matter how much we give it.

[code]

[2019-07-25 19:42] simonemainardi commented on #2745
Please report os and ntopng version (update ntopng to the latest version if not already done) and also attach the configuration used and any relevant preference you’ve set from the gui.

[2019-07-25 19:51] StewAlexander-com commented on #2745
![image](https://user-images.githubusercontent.com/48565067/61903768-5520a700-aef3-11e9-8d91-e06aa2db9eea.png)

![image](https://user-images.githubusercontent.com/48565067/61903799-6c5f9480-aef3-11e9-9f63-a9f2c5d727c8.png)

![image](https://user-images.githubusercontent.com/48565067/61903836-8305eb80-aef3-11e9-9506-70efb2094d56.png)

![image](https://user-images.githubusercontent.com/48565067/6190

[2019-07-25 19:57] StewAlexander-com commented on #2745
SSH isn't even working due to memory constraints

![image](https://user-images.githubusercontent.com/48565067/61904388-c1e87100-aef4-11e9-98b2-037f37a4e899.png)

The Ubuntu Linux prompt isn't coming up, not enough memory because NTOPNG is eating it all

[2019-07-25 20:04] StewAlexander-com commented on #2745
![image](https://user-images.githubusercontent.com/48565067/61904903-d5e0a280-aef5-11e9-9dac-306a24e75785.png)
![image](https://user-images.githubusercontent.com/48565067/61904945-e5f88200-aef5-11e9-90a8-8ebf907e1af9.png)

[2019-07-25 20:05] StewAlexander-com commented on #2745
![image](https://user-images.githubusercontent.com/48565067/61904990-ff99c980-aef5-11e9-8471-7ff7e9a56710.png)

[2019-07-25 20:59] HaleyACS opened #2746 "Drop Google in favour of openstreetmap"
Hi folks,

eventually you should drop google in favor of openstreetmaps for geolocalisation.
Kind of is crap google requiring a API Key to access that functionality.

[2019-07-26 05:45] Tamahome-M commented on #2744
As I understand it, ZC does not work for "Ethernet controller: Mellanox Technologies MT27520 Family [ConnectX-3 Pro]"
Well, I think it's easier to get an INTEL X710 to solve the problem.

[2019-07-26 07:13] cardigliano commented on #2744
ZC drivers work with Intel adapters only. There is a full list at https://www.ntop.org/guides/pf_ring/zc.html
We have native supports for other adapters as described at https://www.ntop.org/guides/pf_ring/modules/index.html
However in your case I recommend an Intel one, X520 (better) or X710

[2019-07-26 08:15] simonemainardi commented on #2745
hi, I've made a fix that should address this issue and #2743. New packages are being built. Please, hold on one hour from now, then update ntopng to the latest version, and let us know.

[2019-07-26 08:16] simonemainardi commented on #2746
duplicate of https://github.com/ntop/ntopng/issues/2433

[2019-07-26 08:16] #2746 closed, assigned to nobody

[2019-07-26 08:18] simonemainardi commented on #2736
hi Hosein, please try update to the latest version and report if you are still experiencing the behavior.

Check ntopng logs for errors, crashes or timeseries errors. If you are using influxdb, you can also visit page System->InfluxDB and see if it is dropping points.

[2019-07-26 12:41] StewAlexander-com commented on #2745
It doesn't appear to be consuming as much, looks about 50% after upgrading

![image](https://user-images.githubusercontent.com/48565067/61952133-0f122480-af81-11e9-9197-9b0faa3118df.png)

[2019-07-26 13:00] simonemainardi commented on #2745
ok good. please keep an eye on it and let me know if it grows and ends up in using all the available mem or if it is stable.

[2019-07-26 13:03] StewAlexander-com commented on #2745
I'll watch for any signs of "memory leaks" or memory expansion, and I will let you know

[2019-07-26 13:06] StewAlexander-com commented on #2745
Output of glances (https://nicolargo.github.io/glances/):

![image](https://user-images.githubusercontent.com/48565067/61953508-92814500-af84-11e9-94e8-586097c4905d.png)

[2019-07-26 14:55] StewAlexander-com commented on #2745
Still good, if there is a mem leak it is much slower than previously, thanks

htop output:
![image](https://user-images.githubusercontent.com/48565067/61960627-d3cd2100-af93-11e9-8032-aeabeb0091dd.png)

[2019-07-26 16:20] simonemainardi commented on #2745
Thanks for reporting. Please, check out #2743 and tell me if that is solved as well. Very likely they were related.

[2019-07-26 16:20] #2745 closed, assigned to simonemainardi

[2019-07-27 04:26] HoseinKashefi commented on #2736
i cannot update because of package dependency :
Error: Package: pfring-7.5.0-2604.x86_64 (ntop)
           Requires: ndpi = 2.9.0-1745
           Installed: ndpi-2.9.0-1670.x86_64 (@ntop)
               ndpi = 2.9.0-1670

[2019-07-29 08:08] #2744 closed, assigned to nobody

[2019-07-29 15:05] cardigliano commented on #2736
@HoseinKashefi please try again:
yum clean all
yum update
(if you still have issues, please try yum remove pfring ndpi && yum install pfring)

[2019-07-30 07:08] HoseinKashefi commented on #2736
updated to :ntopng --version
v.3.9.190730
but ntopng doesn't show any data
![image](https://user-images.githubusercontent.com/43135531/62101686-81e60d00-b2ab-11e9-8bb1-d23e7c3103e5.png)
cento crashes after start:
[ntopng190730.log](https://github.com/ntop/ntopng/files/3445553/ntopng190730.log)
unfortunately our license expired today and i wont be able to update it :(
![image](https://user-images.g

[2019-07-30 16:16] emanuele-f commented on #2713
Implemented

[2019-07-30 16:16] #2713 closed, assigned to simonemainardi, emanuele-f

[2019-07-31 06:52] simonemainardi commented on #2743
@StewAlexanderACC can you please tell if these errors are gone in the lates build? afe2e51 should have fixed this

[2019-07-31 07:09] simonemainardi opened #2747 "Default values for script alerts"
New alerts are dynamically added via lua scripts such as https://github.com/ntop/ntopng/blob/dev/scripts/callbacks/interface/alerts/host/flow_flood_attacker.lua.

It is requested to add to the script and handle an optional defaults table `default = {value = xx, active = [true|false]}` so that one can add a new alert and automatically enable it with a default value which becomes valid as a global.

[2019-07-31 07:58] emanuele-f commented on #2736
Please renew the maintenance in order to verify if the new version is working

[2019-07-31 12:24] PHCSJC opened #2748 "PKG_CHECK_MODULES(NDPI, libndpi >= 2.0"
aarch64,This is my compiler setup:

apt-get install build-essential git autoconf libtool libpcap-dev libpng-dev libzmq5-dev default-libmysqlclient-dev -y
cd /usr/src
git clone https://github.com/ntop/nDPI.git
cd nDPI; ./autogen.sh; ./configure; make; cd ..
git clone https://github.com/ntop/ntopng.git
cd ntopng
./autogen.sh
./configure
make

this time,I got this issue:

root@aml:/usr/src/ntopng# ./

[2019-07-31 12:44] emanuele-f commented on #2748
Have you run `./autogen.sh` into ntopng? Please note that compiling as root is discouraged

[2019-07-31 13:12] PHCSJC commented on #2748
yes,I have run ./autogen.sh in ntopng,and I use root test compiler,so it is not problem,thanks!

[2019-07-31 13:20] emanuele-f commented on #2748
Please run the following commands into the ntopng source directory to clean up and retry:

[code]

[2019-07-31 13:59] PHCSJC commented on #2748
Hi,the same issue:

root@aml:~# cd /usr/src/ntopng/
root@aml:/usr/src/ntopng# make clean
make: *** No rule to make target 'clean'.  Stop.
root@aml:/usr/src/ntopng# ./autogen.sh
Wait please...
configure.ac:45: error: possibly undefined macro: AC_MSG_RESULT
      If this token and others are legitimate, please use m4_pattern_allow.
      See the Autoconf documentation.
configure.ac:101: error: possi

[2019-07-31 15:32] kenatgcc opened #2749 "Anomalous Terminations After enabling nindex"
I get anomalous terminations approximately every two minutes after adding -F="nindex" to ntopng.conf to enable nindex.

[about_ntopng.txt](https://github.com/ntop/ntopng/files/3452666/about_ntopng.txt)
[ntopng_conf_07312019.txt](https://github.com/ntop/ntopng/files/3452667/ntopng_conf_07312019.txt)
![anomalous_terminations](https://user-images.githubusercontent.com/50203145/62225540-a4008d80-b386-

[2019-07-31 15:55] emanuele-f commented on #2749
Can you get a stack trace as described here? https://github.com/ntop/ntopng/blob/dev/doc/README.crash

[2019-07-31 16:18] kenatgcc commented on #2749
Stack trace follows:

Thread 27 "ntopng" received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fffab7fe700 (LWP 28110)]
0x0000000100000000 in ?? ()
(gdb) bt
#0  0x0000000100000000 in ?? ()
#1  0x00007ffff74ae30e in json_object_put () from /lib/x86_64-linux-gnu/libjson-c.so.3
#2  0x00005555555cd86d in Flow::~Flow (this=0x7fff7c6be990, __in_chrg=<optimized out>) at src/Flow.cpp:224
#3

[2019-07-31 22:03] Gelob commented on #2725
I wanted to update it still doesn't appear to be running and theirs nothing in the logs still. Currently on https://github.com/ntop/ntopng/commit/03cec7d8311ca07ec00558859a008d14ffa89d9d

[2019-08-01 08:14] emanuele-f commented on #2749
We are looking at this

[2019-08-01 08:33] tano46 opened #2750 "Captive portal redirection URL not working"
If redirection URL value is configured as empty, after the autenthication procedure the browser is not redirected to the requested page.
A blank page with "success" is displayed but no rediection to the original requested page

[2019-08-01 08:54] emanuele-f commented on #2724
Please note that ifaces_lastday_data is not present in the files above. Can you provide access to the gui to troubleshoot the problem? You can email me at faranda@ntop.org

[2019-08-01 08:59] emanuele-f commented on #2723
Cannot reproduce. Maybe the host went idle while performing the search?

[2019-08-01 09:12] #2732 closed, assigned to emanuele-f

[2019-08-01 09:13] cardigliano commented on #2749
@kenatgcc we pushed a patch that should fix the segfault, new packages will be available in 1h, please let us. Thank you.

[2019-08-01 09:14] emanuele-f commented on #2732
The fix will be available in the next dev build (in one hour).

[2019-08-01 09:45] kenatgcc commented on #2749
Same behavior after loading new packages. I have attached the full gdb output in a text file.
![image](https://user-images.githubusercontent.com/50203145/62283399-79aede80-b41f-11e9-9cdc-fa599468a32c.png)
[segfault_08012019.txt](https://github.com/ntop/ntopng/files/3456008/segfault_08012019.txt)

[2019-08-01 09:45] cardigliano commented on #2749
@kenatgcc please wait a bit before updating (as I said it takes 1h to build new packages)

[2019-08-01 09:55] #2725 closed, assigned to emanuele-f

[2019-08-01 09:58] emanuele-f commented on #2725
The new package will be available in one our

[2019-08-01 11:13] kenatgcc commented on #2749
Okay, sorry I jumped the gun. Is it ready now? I see version 3.9.190801-7312 available.

[2019-08-01 11:51] emanuele-f commented on #2749
Yes, it's available

[2019-08-01 11:54] kenatgcc commented on #2749
Similar behavior but crashes are farther apart.
![image](https://user-images.githubusercontent.com/50203145/62291268-85a39c00-b431-11e9-96d2-8e011d0ec88c.png)

[2019-08-01 12:13] kenatgcc commented on #2749
I am able to cause a crash by going Interface -> Graph -> Top L7 Contacts (/lua/if_stats.lua?ifid=7&page=historical&detail_view=top_l7_contacts) gdb output follows:

[Thread 0x7fffaa7fc700 (LWP 29780) exited]
01/Aug/2019 08:09:40 [NIndexFlowDB.cpp:786] topk(flows: raw flows, time: 1564660990/1564661410, select: IPV4_SRC_ADDR/BYTES, where: ((IP_PROTOCOL_VERSION=4)) AND (FIRST_SEEN >= 1564661050) AN

[2019-08-01 12:15] lucaderi commented on #2723
I am unable to reproduce it with the current release. Host idleness might explain even though I am not sure it was the case. I suggest to leave the code as is, given that we cannot reproduce it now.

[2019-08-01 12:15] #2723 closed, assigned to nobody

[2019-08-01 15:48] emanuele-f commented on #2724
The problem is probably caused by NaN values. I've committed a fix. The new package will be available in one hour, please report if it's working.

![2019-08-01_17-19](https://user-images.githubusercontent.com/5488003/62307688-91b04d80-b473-11e9-9f45-05087d243af5.png)
![2019-08-01_17-20](https://user-images.githubusercontent.com/5488003/62307703-9a088880-b473-11e9-9a4e-60e652b1f796.png)

[2019-08-01 20:12] kenatgcc commented on #2724
I do not see the new package available yet, are you still working on it?

[2019-08-02 07:09] emanuele-f commented on #2724
Please recheck now

[2019-08-02 07:11] emanuele-f commented on #2748
You are probably missing the `pkg-config` package. Please install all the requirements as explained in https://github.com/ntop/ntopng/blob/dev/doc/README.compilation .

[2019-08-02 07:11] #2748 closed, assigned to nobody

[2019-08-02 07:21] PHCSJC commented on #2748
ok，I have installed pkg-config,and have successed compiler ，thanks!

[2019-08-02 08:46] #2734 closed, assigned to emanuele-f

[2019-08-02 09:40] kenatgcc commented on #2724
The graph is behaving normally after loading the new package. Is 8 the limit for interfaces displayed in that graph? I have 9 edge devices and one probe.

[2019-08-02 09:44] emanuele-f commented on #2724
Yes, there is a limit of 8 interfaces. We will take this into account for issue #1670 . Closing this one as solved.

[2019-08-02 09:44] #2724 closed, assigned to emanuele-f

[2019-08-02 09:54] emanuele-f commented on #2698
This should be fixed in https://github.com/ntop/ntopng/commit/b365cd28df7abe8f7f4b3628d99fbf5aac163ccd . Please wait one hour until the new package is available, update and confirm that the issue is fixed for you.

[2019-08-02 13:03] emanuele-f commented on #2749
Cannot reproduce right now. I think the problem is caused by a corrupted nIndex database. Can you send us the contents of `/var/lib/ntopng/7/flows` and `/var/lib/ntopng/7/aggregated` flows? You can pack the directories into a zip, but please note that they contain private information about your flows. In order to reduce the zip size you can only send us the exact day where the crash occurs (e.g. `

[2019-08-05 02:43] fnetto opened #2751 "Host parameter error: Validation error"
Getting this error on a new deployment:

Script "/usr/share/ntopng/scripts/lua/host_details.lua" returned an error:
/usr/share/ntopng/scripts/lua/modules/http_lint.lua:1471: [LINT] _GET["host"] = "private.host.name" parameter error: Validation error

Can generate this error by going into (from a host)  Peers-> Clicking on some clickable nodes

Version: 3.8.190730 - Professional Edition
Built on |

[2019-08-05 05:58] fsamareanu opened #2752 "Debian buster support"
Hello,

Now that buster's stable, are there any plans to add nightly builds for it? I've been running it fine for a couple of months by changing manually the dependency to libcurl4 instead of the old version and an override file like this:

root@gemma:~# cat /etc/systemd/system/ntopng.service.d/override.conf
[Service]
Environment="LD_LIBRARY_PATH=/usr/local/curl/:$LD_LIBRARY_PATH"

root@gemma:~# l

[2019-08-05 08:13] emanuele-f commented on #2751
Fixed in f45e68bb95fed722b45f706df7db2371936038f5 . A new package will be available in one hour.

[2019-08-05 08:13] #2751 closed, assigned to nobody

[2019-08-05 09:44] kenatgcc commented on #2749
I updated the packages this morning, uncommented -F=nindex and got below error before anomalous term. I will email you the flows directory separately.
![image](https://user-images.githubusercontent.com/50203145/62455211-de31ac80-b743-11e9-8e6a-82390407dfb2.png)

[2019-08-05 13:04] kenatgcc commented on #2749
Another error looking at a different interface.
![image](https://user-images.githubusercontent.com/50203145/62466742-0e874400-b760-11e9-8d10-800080b11e0f.png)

[2019-08-05 13:14] emanuele-f commented on #2749
Please ensure that:

- You have restarted ntopng after the change
- You have refreshed the browser window after the change

When `-F` is not used, the "Top L7 Contats" should not be show:

![2019-08-05_15-09](https://user-images.githubusercontent.com/5488003/62467227-c0376c80-b782-11e9-88e7-66bff7581c83.png)

Please report the ntopng version that you are using and error logs

[2019-08-05 13:45] fnetto commented on #2751
Okay!  I am in shock!  I am Senior Solution Architect in the US and I deal with so many large SW Vendors and I identify bugs or issues, now none of these large vendors could ever deliver such a fast response including a fix that all it took was 2 command lines.

**Your team rocks** and that is the reason why I love NTOP and been using it for the longest time!

Thank you again for such a quick resp

[2019-08-05 13:52] emanuele-f commented on #2751
Thank you!

[2019-08-05 14:07] kenatgcc commented on #2749
journalctl -u ntopng is attached. What other error logs can I provide?
[journalctl08052019.txt](https://github.com/ntop/ntopng/files/3467942/journalctl08052019.txt)

[2019-08-05 14:07] kenatgcc commented on #2749
Version | 3.9.190805 -  Enterprise Edition
-- | --

[2019-08-05 14:39] emanuele-f commented on #2749
For the `JSON parse error`, after you get the error you should see an error message reported into the ntopng log, which you can consult with `journalctl -u ntopng` as before

[2019-08-05 14:41] emanuele-f commented on #2686
Already implemented

[2019-08-05 14:41] #2686 closed, assigned to nobody

[2019-08-05 14:53] emanuele-f commented on #2342
Documented

https://www.ntop.org/guides/ntopng/api/timeseries/metrics.html
https://www.ntop.org/guides/ntopng/api/timeseries/queries.html
https://www.ntop.org/nprobe/containers-and-networks-visibility-with-ntopng-and-influxdb

[2019-08-05 14:53] #2342 closed, assigned to emanuele-f

[2019-08-05 14:54] emanuele-f commented on #2696
@simonemainardi is this now all implemented?

[2019-08-05 14:55] kenatgcc commented on #2749
I don't see any JSON errors in journalctl.

[journalctl_ERROR.txt](https://github.com/ntop/ntopng/files/3468146/journalctl_ERROR.txt)

[2019-08-05 15:22] kenatgcc commented on #2749
This is the journalctl result after a crash showing JSON error in the web page.
Aug 05 11:15:33 debian ntopng[2088]: 05/Aug/2019 11:15:33 [NIndexFlowDB.cpp:786] topk(flows: aggregated, time: 1565014440/1565018160, select: IPV4_SRC_ADDR/BYTES, where: ((TOP_TYPE & 1) AND (IP_PROTOCOL_VERSION=4)) AND (FIRST_SEEN >= 1565014500) AND (LAST_SEEN <= 1565018100) AND (FLOW_TIME <1565018160) and (FLOW_TIME>1

[2019-08-05 16:39] StewAlexander-com opened #2753 "Weird download error in alerts"
seeing this in alert messages repeated:

[code]

![image](https://user-images.githubusercontent.com/48565067/62480533-1950d180-b77e-11e9-89e2-889043a0257a.png)

[2019-08-06 06:37] emanuele-f commented on #2753
Can you go into the lists page https://www.ntop.org/guides/ntopng/advanced_features/category_lists.html and click "Update Now" to manually download them?

[2019-08-06 08:46] simonemainardi commented on #2743
Fixed as part of afe2e51. Before the fix, flows weren't purged for dynamic interfaces.

[2019-08-06 08:46] #2743 closed, assigned to simonemainardi

[2019-08-06 12:16] StewAlexander-com commented on #2753
I get see a bunch of errors, and no confirmation the download was completed

[2019-08-06 12:21] emanuele-f commented on #2753
Which errors are you getting?

If you click on the external link to go directly to the list site, can you successfully access it?

![2019-08-06_14-20](https://user-images.githubusercontent.com/5488003/62539391-a5c5c780-b844-11e9-882b-6f3298cefe11.png)

[2019-08-06 12:23] emanuele-f commented on #2698
@StewAlexanderACC were you able to upgrade and test it?

[2019-08-06 13:20] StewAlexander-com commented on #2698
yes

[2019-08-06 13:22] StewAlexander-com commented on #2698
i'll take a look i a minute

[2019-08-06 13:26] StewAlexander-com commented on #2698
appears fixed

[2019-08-06 13:33] StewAlexander-com opened #2754 "Errors in syslog (new)"
Errors in yslog
[code]

[2019-08-06 13:35] StewAlexander-com commented on #2754
![image](https://user-images.githubusercontent.com/48565067/62544305-866f7000-b82d-11e9-8292-38c8deea9ecb.png)

[2019-08-06 13:38] emanuele-f commented on #2698
Thank you for reporting

[2019-08-06 13:38] #2698 closed, assigned to nobody

[2019-08-06 13:38] emanuele-f commented on #2754
Please follow up with this in #2753

[2019-08-06 13:38] #2754 closed, assigned to nobody

[2019-08-07 12:32] emanuele-f commented on #2567
Alerts implemented in https://github.com/ntop/ntopng/commit/81a9963e465fa7aee7c4cb87e07b51732ce1c3dd . The NDPI_PROTOCOL_POTENTIALLY_DANGEROUS protocol breed is checked in order to generate such alerts.

![2019-08-07_14-28](https://user-images.githubusercontent.com/5488003/62622960-2a7d1800-b90f-11e9-9f46-51225b2b1302.png)

Regarding telnet, I think it's current classification as NDPI_PROTOCOL_UNS

[2019-08-08 12:09] #2621 closed, assigned to nobody

[2019-08-08 13:26] PHCSJC opened #2756 "WARNING: ntopng has not been compiled with libcap-dev"
My compiler process:

apt install build-essential git autoconf libtool libpcap-dev pkg-config libcurl4-openssl-dev libmaxminddb-dev libsqlite3-dev libreadline-dev librrd-dev libssl1.0-dev -y
apt install libpng-dev libzmq5-dev default-libmysqlclient-dev -y

cd /usr/src
wget -O nDPI-2.6.tar.gz https://github.com/ntop/nDPI/archive/2.6.tar.gz
tar zxvf nDPI-2.6.tar.gz
mv nDPI-2.6/ nDPI
cd nDPI
./autoge

[2019-08-08 13:56] emanuele-f commented on #2756
Hi, you need to install `libcap-dev` with `sudo apt-get install libcap-dev`. Please check out https://github.com/ntop/ntopng/blob/dev/doc/README.compilation for full dependencies.

[2019-08-08 14:17] emanuele-f commented on #2752
Debian buster support fixed in 1afab2aa5f7a7128ffca117895fe801d7da7eb6b . ntopng is now available for debian buster from our repositories. Missing ldap/radius support will be fixed soon.

[2019-08-08 14:17] #2752 closed, assigned to emanuele-f

[2019-08-08 14:48] PHCSJC commented on #2756
ok,thanks!

[2019-08-08 14:48] #2756 closed, assigned to nobody

[2019-08-09 07:46] dvdgnwn opened #2758 "System setup error after detach an interface & factory reset"

[2019-08-09 07:48] dvdgnwn commented on #2758
This morning I detach an interface in nEdge instance using Openstack Horizon portal, then I did factory reset in nEdge website. Then I would like configure nEdge again from beginning by clik "System Setup", however then appears error like this:

![photo_2019-08-09_14-47-33](https://user-images.githubusercontent.com/22539531/62763031-c09e7300-bab4-11e9-8f46-23b496857fa2.jpg)

I'm using ntopng Edge

[2019-08-09 08:10] emanuele-f commented on #2567
With cc66bf86e716573c44f4ae8e1226e46e94bd969c now ntopng uses the NDPI_PROTOCOL_DANGEROUS classification, which is currently set only for smbv1 . Other protocols will be added in the future

[2019-08-09 08:10] #2567 closed, assigned to emanuele-f

[2019-08-09 09:08] EpiqSty commented on #2749
Hi, we have exactly the same behavior with ntopng Enterprise Edition v.3.9.190808 and nIndex enabled:
Here is a stack trace:
[ntopng-coredump-issues-2749.txt](https://github.com/ntop/ntopng/files/3485562/ntopng-coredump-issues-2749.txt)
Basically it crashes almost every time, then we're dealing with flows.

`$ ntopng --version
v.3.9.190808    [Enterprise/Professional build]
GIT rev:        dev:81a

[2019-08-09 09:28] emanuele-f commented on #2749
Please report the full output of `ntopng --version`

[2019-08-09 11:14] kenatgcc commented on #2749
ntopng --version
v.3.9.190808    [Enterprise/Professional build]
GIT rev:        dev:899b580cc4c9c1ae86283e345f9f5e39bc23fdaf:20190808
Pro rev:        r2410
Built on:       Debian GNU/Linux 9.9 (stretch)
System Id:      0D45B0809206A1D8
Platform:       x86_64
Edition:        Enterprise
License Type:   Permanent
Maintenance:    Until Fri May  1 12:02:55 2020 [266 days left]
License:        qhZ8FDCn

[2019-08-09 11:54] EpiqSty opened #2759 "Ability to filter by TOS"
Hi,

We are using ntopng Enterprise with nIndex as historical storage.
As the traffic inputs we're using nProbe.  In nprobe debug log I see incoming pakets with TOS flag set:
`Aug 09 13:26:39 rz1voipsniffer01 nprobe[21986]: 09/Aug/2019 13:26:39 [engine.c:2840] New Flow: [tcp] 172.16.23.160:49401 -> 172.16.23.197:1435 [00:00:00:00:00:00 -> 00:00:00:00:00:00][vlan 0/0][tos 2][ifIdx: 709 -> 102][subf

[2019-08-09 12:22] emanuele-f commented on #2749
Please try to run this ntopng package which disables nIndex optimizations and possibly get a more detailed stack trace: https://we.tl/t-0YrDMGZFPT

[code]

[2019-08-09 13:49] emanuele-f commented on #2749
Edit: I was able to reproduce the crash, I'm now debugging it

[2019-08-09 13:54] kenatgcc commented on #2749
I did as well with the latest dev build.

09/Aug/2019 09:47:40 [NIndexFlowDB.cpp:786] topk(flows: raw flows, time: 1565358040/1565358460, select: IPV4_SRC_ADDR/BYTES, where: ((IP_PROTOCOL_VERSION=4)) AND (FIRST_SEEN >= 1565358100) AND (LAST_SEEN <= 1565358400) AND (FLOW_TIME <1565358460) and (FLOW_TIME>1565358040), topkOperator=0, records=0:100, topToBottomSort=0)
09/Aug/2019 09:47:40 [NIndexFlowD

[2019-08-09 14:52] emanuele-f commented on #2749
I've made a fix. The new package will be available in our hour.

[2019-08-09 14:52] #2749 closed, assigned to nobody

[2019-08-09 19:24] EpiqSty commented on #2749
Updated, looks fine so far - thanks!

[2019-08-09 19:39] EpiqSty commented on #2759
Actually, I've found an exporter tool like http://<ntopng.url>/lua/pro/nindex_topk.lua, there I was trying to see at least if Ntopng has such field, but when I'am selecting SRC_TOS in Select Keys, the "Run query" command shows me:
`ERROR: No error`

this is an example of query:
http://<ntopng.url>/lua/pro/nindex_topk.lua?select_keys_clause=IPV4_SRC_ADDR%2CIPV4_DST_ADDR%2CL7_PROTO%2CSRC_TOS&select_

[2019-08-13 05:56] lucaderi opened #2760 "Invalid hostpool reporting"
When preferences are off
<img width="931" alt="Screenshot 2019-08-13 at 07 55 24" src="https://user-images.githubusercontent.com/4493366/62918383-bbd10c00-bd9f-11e9-8d07-845d9bda1a4d.png">
then charts for hostpools
<img width="541" alt="Screenshot 2019-08-13 at 07 55 50" src="https://user-images.githubusercontent.com/4493366/62918406-cb505500-bd9f-11e9-8a8b-ad55e7689bdc.png">
must also be disabled

[2019-08-13 05:59] lucaderi opened #2761 "Missing +/add button anchor on host pools"
<img width="1030" alt="Screenshot 2019-08-13 at 07 57 55" src="https://user-images.githubusercontent.com/4493366/62918504-1702fe80-bda0-11e9-9e19-769ecb3b5d9d.png">

[2019-08-13 08:52] lucaderi opened #2762 "Simplify license status"
In ntopng/edge the system checks multiple licenses (pro and enterprise) reporting for each license an error code or success. This means that for enterprise validation you see a failure for the pro and a success for the enterprise. This is misleading; only one result must be returned reporting the correct license status

[2019-08-13 12:27] StewAlexander-com commented on #2753
Yes @emanuele-f - however still seeing error messages:
![image](https://user-images.githubusercontent.com/48565067/62941494-2b48fa80-bda4-11e9-8e58-542f626bfc98.png)

[2019-08-13 13:08] AnanthGopal opened #2763 "how to monitor a particular ip address."
Hi,

I need to monitor a particular IP and port, not the entire system, how can I add IP. Can you provide the cmd for that?

[2019-08-13 14:52] lucaderi opened #2764 "Default GUI to https"
ntopng GUI starts with http leaving https optional. This is no longer acceptable and ntopng must start with https likely generating automatically the certificate with lets encrypt if no other certificate is provided

[2019-08-13 16:57] lucaderi opened #2765 "Ease nProbe and ntopng integration"
The ntopng manual is very short when describing the integration with nPronbe. Only this page is available https://www.ntop.org/guides/ntopng/case_study/using_with_nprobe.html

It is requested
1. to add a sample configuration file in both nprobe (in this case two files have to be generated once for flow collection and one for flow generation from packets) and ntopng packages that can be use as quic

[2019-08-13 17:19] simonemainardi commented on #2763
create a BPF filter and add it to the ntopng configuration using option -B

[code]

for example, to only monitor host 1.2.3.4 you can do

[code]

[2019-08-13 17:19] #2763 closed, assigned to nobody

[2019-08-13 17:52] simonemainardi commented on #2758
@dvdgnwn can you please try and repeat all the steps using nEdge version 3.9 and see if you are experiencing it again? thank you.

[2019-08-13 17:55] t0m5k1 opened #2766 "Unable to login"
Fresh installation on ArchLinux
Since installation I am unable to login with admin, admin.
I have tried the following commands:
redis-cli del ntopng.user.admin.password

this just does nothing, I'm still unable to login and after 1 single failure I get total lockout for 5 minutes.
Trying to remove the lock out with:
for k in `redis-cli keys ntopng.cache.failed_logins.*`; do redis-cli del $k; done

[2019-08-13 17:56] t0m5k1 commented on #2766
Additionally all commands that were run were after stopping ntopng with:
systemctl stop ntopng

[2019-08-13 17:59] simonemainardi commented on #2558
Currently, we cannot extend the limit of 8 nIndex interfaces per ntopng instance. This is due to the number of files open which would be too high for a single process.

However, one can start multiple ntopng instances, each one monitoring at most 8 interfaces. To start multiple instances on the same machine, one can just run multiple `ntopng`s and specify different data directories (option -d) and

[2019-08-13 17:59] #2558 closed, assigned to lucaderi

[2019-08-13 18:00] simonemainardi commented on #2766
1. stop ntopng
2. `redis-cli flushall`
3. `rm -rf /var/lib/ntopng/runtimeprefs.json`
4. restart ntopng

Then check with admin/admin again

[2019-08-13 18:09] t0m5k1 commented on #2766
Did not work

[2019-08-14 04:12] dvdgnwn commented on #2758
Hi @simonemainardi , do you mean install nEdge from beginning using this guide?
http://packages.ntop.org/apt-stable/

[2019-08-14 08:43] cardigliano commented on #2762
Fixed

[2019-08-14 08:43] #2762 closed, assigned to cardigliano

[2019-08-14 09:46] simonemainardi commented on #2766
The one I've described above is the standard procedure to reset the admin password. As you are running ntopng on Archlinux which we do not officially support and you've also installed it using AUR, which we also do not officially support, there could be something else I am not aware of.

Can you please first try and search/ask in the AUR community for the package (I can see there are several pages

[2019-08-14 10:02] #2761 closed, assigned to simonemainardi

[2019-08-14 10:30] #2760 closed, assigned to nobody

[2019-08-14 10:31] simonemainardi commented on #2758
correct. please, first uninstall then reinstall.

[2019-08-14 10:48] simonemainardi commented on #2753
hover the mouse on top of the circled i. which is the message you are seeing?

[2019-08-14 12:24] StewAlexander-com commented on #2753
it says `an unknown error has occured`

[2019-08-14 13:36] emanuele-f commented on #2758
@dvdgnwn as written in telegram the error above should be already fixed. Simone, please refer to fix 8a5a2afae731d708f8d1a48653655fff001ca041 in ntopng pro 3.8

[2019-08-14 15:12] dvdgnwn commented on #2758
@simonemainardi @emanuele-f  I see, yesterday I retire the nEdge license, and this morning I request new nEdge license but I did not uninstall the existing nEdge.

So what should I do now? Should I do retire the license again, then I do uninstall and re-install the nEdge?

[2019-08-14 17:56] t0m5k1 commented on #2766
Thanks for the "go elsewhere your not supported!"

I'll do just that even though clearly something is wrong on the back end.
All an AUR install does is build from source using very simple bash commands with nothing fancy being added.

If I install from Arch repo's I end up with a 3 year old version which I'm sure you will promptly tell me is also not supported due to age.

I think with my experien

[2019-08-14 17:56] #2766 closed, assigned to nobody

[2019-08-14 22:31] lucaderi opened #2767 "Excessive redis access for notification check"
Redis is accessed too often for checking extraction jobs even on hosts where n2disk is not installed/enabled

1565821731.408907 [0 127.0.0.1:50193] "HKEYS" "ntopng.traffic_recording.extraction_jobs"
1565821731.410593 [0 127.0.0.1:50193] "LPOP" "ntopng.traffic_recording.extraction_queue"
1565821734.223793 [0 127.0.0.1:50193] "HKEYS" "ntopng.traffic_recording.extraction_jobs"
1565821734.223940 [0 12

[2019-08-14 22:51] simonemainardi commented on #2758
try and simply update with `apt-get update && apt-get install nedge`

[2019-08-15 07:23] dvdgnwn commented on #2758
@simonemainardi @emanuele-f , in System Setup now appears setting for LAN (ens3, ens4) and WAN (ens3, ens4), but in nEdge web only shown Interface nf:0.
Do you have suggestion about that?

![2019-08-15 14_22_30-Window](https://user-images.githubusercontent.com/22539531/63079293-29c82f80-bf68-11e9-88bd-60065c155b0f.png)

[2019-08-15 10:04] emanuele-f commented on #2758
`nf:0` is always shown in the footer, this is expected. It represents the traffic that flows into nEdge. If the original issue is solved, please close this .

[2019-08-15 17:07] EpiqSty opened #2768 "ntopng@ systemd template missing"
in multi-instances ntopng configuration we're missing systemd template, such as:
 /etc/systemd/system/ntopng@.service

Could you please provide some example?
At the moment we're created systemd services by hands, but we are not sure what to do with
`ExecStartPre=/bin/sh -c '/usr/bin/ntopng-utils-manage-config -a check-restore  && /usr/bin/ntopng-utils-manage-config -a restore || true'`
line in cas

[2019-08-15 19:17] lucaderi opened #2769 "Missing interface alerts"
<img width="1211" alt="Screenshot 2019-08-15 at 21 14 50" src="https://user-images.githubusercontent.com/4493366/63120084-dd014a80-bfa1-11e9-9bc5-f4f27d5bd1be.png">
In the above screenshot there are (correct) 4 alerts: 1 (interface) + 3 (host) alerts. The interface alert is not reported but just the host alerts

[2019-08-15 19:19] lucaderi opened #2770 "Alert number is not in sync on the same page"
<img width="1069" alt="Screenshot 2019-08-15 at 21 08 33" src="https://user-images.githubusercontent.com/4493366/63120299-54cf7500-bfa2-11e9-9eb5-52d410239076.png">

[2019-08-16 09:24] psct opened #2771 "Historical Data Explorer, Flow Search Criteria, jumping time"
While trying to set a time frame for data exploration the selected interval jumps back one hour after hitting "Search Flows".

Example: Begin <date> 09:04:00 and End <date> 10:04:00 jumps after hitting "Search Flows" to <date> 08:04:00 and End <date> 09:04:00.

It looks like the data fetched uses the "modified" interval.

If I hit "Search Flows" multiple times the interval jumps back on hour after

[2019-08-16 09:52] #2758 closed, assigned to nobody

[2019-08-16 12:36] #2767 closed, assigned to cardigliano

[2019-08-16 12:36] simonemainardi commented on #2768
Hi, I've deployed the `ntopng@` service file and updated the docs. A new build will be available in one hour (ntopng 3.9) and you'll find the docs at https://www.ntop.org/guides/ntopng/how_to_start/running_as_a_daemon.html

[2019-08-16 12:36] #2768 closed, assigned to simonemainardi

[2019-08-16 12:38] simonemainardi commented on #2759
SRC_TOS is not available as an nIndex column in ntopng, so you won't be able to search for it. However, we are integrating nIndex directly with nProbe so that you'll get all the fields specified in the nProbe template -T as nIndex columns. Please, follow up on nProbe.

[2019-08-16 12:38] #2759 closed, assigned to nobody

[2019-08-16 12:39] simonemainardi commented on #2696
implemented.

[2019-08-16 12:39] #2696 closed, assigned to simonemainardi

[2019-08-16 13:19] simonemainardi commented on #2709
no need to add this as an extra element as all hosts members of any pool are available from the pool details page

[2019-08-16 13:19] #2709 closed, assigned to simonemainardi

[2019-08-19 09:22] #2770 closed, assigned to emanuele-f

[2019-08-19 09:22] #2769 closed, assigned to emanuele-f

[2019-08-19 12:05] lucaderi opened #2772 "Implement alert timeseries"
(Local) Hosts (as well all alarm-able entities) should implement two timeseries
- (counter) with the number of flow alerts (host-only)
- (gauge) with the list of engaged alerts (all)

The counters that will be used by these timeseries need to be exported in the GUI. In particular on the host report (hosts_stats.lua) it would be nice to have columns with such counters.

[2019-08-19 12:14] lucaderi opened #2773 "Enhance Host Explorer"
Extend the host explorer (/lua/bubble.lua) to depict hosts with flows
- established
- closed
- connecting
- misbehaving
...
as in flow TCP state

[2019-08-19 13:03] dvachon2018 opened #2774 "error after reinstalling ntopng"
hello, was not able to upgrade because apt-get upgrade said that latest version already installed but not true.
so i did a full reinstall. installation failed with a code and ntopng cannot start

root@ntop:/etc/ntopng# apt-get install ntopng ntopng-data
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  ntopng nt

[2019-08-19 13:34] dvachon2018 commented on #2774
hello, solved
missing libjson-c3

[2019-08-19 13:34] #2774 closed, assigned to nobody

[2019-08-20 14:46] #2771 closed, assigned to simonemainardi

[2019-08-20 14:47] simonemainardi commented on #2771
Hi, thanks for reporting. There was an issue with daylight savings time. New builds are in progress. Please, hold on a couple of hours and try again.

[2019-08-20 16:08] simonemainardi commented on #2753
Cannot reproduce. Please, edit file `/usr/share/ntopng/scripts/lua/modules/lists_utils.lua` and add the following line

[code]

In this position: https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/lists_utils.lua#L304

Then look at the ntopng output and report here what you see. Thank you.

[2019-08-21 06:41] DVMZCS opened #2775 "[/usr/share/ntopng/scripts/lua/modules/alert_utils.lua:115: attempt to index a nil value (field '?')]"
Hi there everybody.

I just installed ntopng and i am getting this error since i started the service:

[/usr/share/ntopng/scripts/lua/modules/alert_utils.lua:115: attempt to index a nil value (field '?')]

Thank you for your help

[2019-08-21 07:52] emanuele-f commented on #2775
Hi, please report the output of `ntopng --version`. Does it occur without an explicit action from the gui?

[2019-08-21 08:29] emanuele-f commented on #2775
This may be fixed in 951cb1a4e907853cb7eff8533bd4578dd61dcf24 . Please wait one hour until the new package is available and update ntopng to the latest version.

[2019-08-21 09:23] emanuele-f opened #2776 "Some host timeseries have low resolution"
After commit 5851395d8058f4465faab7370b3f0aa1913d9933 `TimeseriesStats::luaStats` directly accesses the Host instance instead of using a locally stored value. This means that all the points will hold the last host value instead of the snapshot at a given resolution. As a result, the effective resolution of these timeseries is always 1 minute regardless of the target resolution. Affected host times

[2019-08-21 09:27] cardigliano commented on #2765
Sample files are now installed under /etc/ntopng and /etc/nprobe, and instructions have been added to the documentation.

[2019-08-21 09:27] #2765 closed, assigned to cardigliano

[2019-08-21 10:36] AnanthGopal commented on #2740
hi @simonemainardi  when i run this cmd   ntopng /c --community -i tcp://127.0.0.1:5556 i got below error in centos but its working fine in windows.
![image](https://user-images.githubusercontent.com/13050426/63425221-ae65f280-c42d-11e9-83c7-f64c3c482562.png)

[2019-08-21 10:51] simonemainardi opened #2777 "List Download Errors are Not Meaningful"
![image](https://user-images.githubusercontent.com/3397663/63426051-36d69a00-c412-11e9-9f72-b77c397ddbda.png)

"The server connection timeout out after 0 seconds [HTTP Code: 0]" is meaningless. Cannot timeout after 0 seconds. HTTP code cannot be zero.

[2019-08-21 10:53] simonemainardi opened #2778 "Alert types / Alert Severity Filters Missing"
It would be desirable to have severity and type filters in the top-right part of the alerts table

![image](https://user-images.githubusercontent.com/3397663/63426215-92a12300-c412-11e9-89b3-dc8603a8bd2c.png)

[2019-08-21 11:05] simonemainardi commented on #2722
add two dropdown:
- one with hosts having the highest number of flows in common
- one with hosts having the least number of flows in common

[2019-08-21 11:06] AnanthGopal commented on #2763
When I execute the above command in CentOs I got Below error
![image](https://user-images.githubusercontent.com/13050426/63427022-c770a280-c431-11e9-8155-b741ba06e266.png)

How can I resolve that issue?

[2019-08-21 11:09] simonemainardi commented on #2684
will be part of the redis monitoring which is in progress

[2019-08-21 11:09] #2684 closed, assigned to nobody

[2019-08-21 11:11] simonemainardi commented on #2656
desirable to have the stacked chart of top contacts

[2019-08-21 11:11] lucaderi opened #2779 "Create DNS Host report"
Using nIndex, generate a per-host report about DNS usage over a specified period of time

[2019-08-21 12:54] simonemainardi commented on #2740
address already in use: it means there's some other program using port 3000 - possibly another ntopng instance is already running?

[2019-08-21 12:56] simonemainardi commented on #2763
there's another program using port 3000 - possibly another ntopng instance is already running.

[2019-08-21 13:37] #2776 closed, assigned to emanuele-f

[2019-08-21 13:45] emanuele-f commented on #2777
In what conditions is this reproduced?

[2019-08-21 14:20] simonemainardi commented on #2777
should be when the host cannot communicate to the internet

[2019-08-21 15:09] emanuele-f commented on #2772
Implemented in 69cd896a9fb822116376ebe4ad974811432237d9 and 1032af0d8f414409666a13e7664f18745cbf5e9c

[2019-08-21 15:09] #2772 closed, assigned to emanuele-f

[2019-08-22 03:20] AnanthGopal commented on #2763
yes. But I monitor more IP so that I used this command

in windows, that's working fine(Already instance running and use above command that's working) but centOs I got above error.

My requirement is
  Already ntopng is running 3000. then I need to monitor some more IP. How can I achieve this?

[2019-08-22 07:23] simonemainardi commented on #2763
you have to find out which process is using port 3000, stop it, then start ntopng.

[2019-08-22 13:15] #2778 closed, assigned to emanuele-f

[2019-08-22 13:18] emanuele-f opened #2780 "Rtt alerts shown in System Status page"
Need to implement the `entity_excludes` option in C to account this.

[2019-08-22 14:32] #2780 closed, assigned to emanuele-f

[2019-08-22 14:45] AnanthGopal commented on #2763
Thank you for your response.

i think you are understanding my question.

When we install ntopng, then ntopng use default port 3000 and started to listen to that particular system or server.

now i need to add another IP to monitor by using ntopng /c --community -B "host 1.2.2.2";

similarly, i will add more IP to listen so that i asked help to you.

[2019-08-22 14:52] emanuele-f commented on #2763
You can use -B `host 1.2.2.2 or host 3.4.4.4`. `-B` accepts a standard BPF filter https://biot.com/capstats/bpf.html . On the other hand, if you really want to run two separate ntopng instances, then you need to specify a different listening port with `-w` (e.g. `-w 3001`). You will also need to specify different `-d` and `-r` parameters.

[2019-08-23 07:53] #2777 closed, assigned to nobody

[2019-08-23 07:53] bmansvk opened #2781 "ntopng segfaults ntopng-3.9.190823-7061.x86_64"
Latest update of ntopng starts to segfault when using GUI (opening monitored interface in the GUI).

ntopng[14713]: segfault at 7f67dc950000 ip 00007f68607622ca sp 00007f6821ffa068 error 6 in libc-2.17.so[7f68606c7000+1c2000]

No problem with version ntopng-3.9.190819-7032.x86_64 and below.

OS Centos 7 x86_64

[2019-08-23 07:55] emanuele-f commented on #2753
@StewAlexanderACC please recheck the error message after commit 2814a940775dc1c0b8058f6c1f5cca2d77a7a38d . A new package will be available in one hour

[2019-08-23 07:56] emanuele-f commented on #2781
Can you get a stack trace as described in https://github.com/ntop/ntopng/blob/dev/doc/README.crash ?

[2019-08-23 08:06] bmansvk commented on #2781
# gdb --args ntopng /etc/ntopng/ntopng.conf
GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-114.el7
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.

[2019-08-23 08:21] emanuele-f commented on #2781
Thank you. Can you provide a pcap file with ssh traffic to reproduce the crash? You should be able to get it with `sudo tcpdump -i your_nic -s0 -w ssh.pcap tcp port 22`

[2019-08-23 08:31] bmansvk commented on #2781
[ssh.pcap.zip](https://github.com/ntop/ntopng/files/3533548/ssh.pcap.zip)

[2019-08-23 08:50] emanuele-f commented on #2781
The very first packets of the connections are needed to reproduce the crash. Please follow the following steps:

- start the tcpdump command above
- start ntopng and wait for the crash
- stop the tcpdump command and get the pcap

If you prefer, you can send me the pcap at faranda@ntop.org

[2019-08-23 09:42] emanuele-f commented on #2781
I was unable to reproduce but some boundary checks where missing, https://github.com/ntop/nDPI/commit/1231b8183978fd9f2a64ffd1d3f8069f7774f435 may have solved the issue. Please wait one hour until the new ntopng package is available and report if the crash is fixed

[2019-08-23 09:44] bmansvk commented on #2781
Yes, I did it as you described:
1. started pcap dump
2. started ntopng in debug mode
3. stopped tcpdump when ntopng crashed
I done it over ssh connection (so there is no SSH handshake).

I repeated tcpdump using this scenario:
1. started pcap dump on local tty terminal
2. started ntopng on local tty terminal
3. connected to host using ssh and waited for the crash
4. stopped tcpdump
This time there

[2019-08-23 09:47] bmansvk commented on #2781
I will try and let you know.

[2019-08-23 09:49] emanuele-f commented on #2781
Could not reproduce the crash with the pcap above and pre-fix code. Anyway, let's wait until you test the new package.

[2019-08-23 10:46] bmansvk commented on #2781
Crashed again. See log: [scrash.txt](https://github.com/ntop/ntopng/files/3534107/scrash.txt)

Installed versions:
Aug 23 12:31:41 Updated: ntopng-data-3.9.190823-7062.noarch
Aug 23 12:31:43 Updated: ntopng-3.9.190823-7062.x86_64

Maybe is SSH but on different port than 22 (so the packet which caused crash, isn't using TCP/22). The network which is monitored using ntopng is mess.

[2019-08-23 11:16] emanuele-f commented on #2781
There is an issue with packages, I'll write here when the new package with the fix above is available.

[2019-08-23 12:34] emanuele-f commented on #2736
No feedback received, closing for inactivity

[2019-08-23 12:34] #2736 closed, assigned to emanuele-f

[2019-08-23 13:04] simonemainardi opened #2782 "Alert column_id carrying a link"
Alerts JSON data was carrying a link inside `column_id`

https://github.com/ntop/ntopng/blob/81f93ad882f67ec1af020973c6a905a095630ded/scripts/lua/get_alerts_table_data.lua#L141

The part which contains the link as been commented out as it was source of other issues. It is bad to piggyback links or other information inside a column which should only contain an id. It is requested to move this in an

[2019-08-23 14:19] emanuele-f commented on #2781
The new package is now available

[2019-08-23 17:23] #2747 closed, assigned to nobody

[2019-08-23 23:48] radyphan opened #2783 "flows not show up"
Dear All,

I have an issue regarding flows data not show up, but traffic dashboard or hosts are fine.

 I have configure on both server and cisco router as bellow:

[code]

Configure on ntopng.config only enable ip bellow:
[code]
Configure on nprobe.config:

[code]

Unfortunatly, I have follow all instruction from ntop document, but I still can't get flows data.

If anyone face with this issue ple

[2019-08-25 09:12] bmansvk commented on #2781
It seems that is fixed now. Running for two days without segfault.Thanks.

[2019-08-25 09:12] #2781 closed, assigned to emanuele-f

[2019-08-26 11:54] StewAlexander-com commented on #2753
Thanks

[2019-08-26 13:07] emanuele-f commented on #2753
Do you still have errors? Can you post the new error message?

[2019-08-26 13:22] emanuele-f commented on #2783
The flows are probably expiring due to timeout. Please ensure that the cisco flow export timeout is not too long and that the clock of the cisco router and the clock of the ntopng host are in sync. You can add the `--disable-cache` and `--zmq-disable-buffering` option to nprobe to ensure that nprobe is not responsible for the delay. You can also extend the "Flow Idle Timeout" from the ntopng prefe

[2019-08-26 13:23] emanuele-f commented on #2775
@DVMZCS any news?

[2019-08-26 17:00] ronynelson opened #2785 "Correct Licensing for record traffic"
Hello I need Ntop to keep network traffic records for six months. What license do I need for ntop to store the collected data?

[2019-08-27 07:24] emanuele-f commented on #2785
Hi, assuming that you are capturing packets from a port mirror or similar (see https://www.ntop.org/nprobe/network-monitoring-101-a-beginners-guide-to-understanding-ntop-tools/ for details):

- ntopng enterprise version to enable nIndex flow dump (https://www.ntop.org/guides/ntopng/historical_flows.html)
- n2disk if you want to record raw packet data (https://www.ntop.org/guides/ntopng/traffic_rec

[2019-08-27 07:24] #2785 closed, assigned to nobody

[2019-08-27 07:47] simonemainardi commented on #2309
Implemented

- code: https://github.com/ntop/ntopng/tree/dev/tools/icinga2
- Blog: https://www.ntop.org/ntopng/integrating-ntopng-with-icinga/
- docs: https://www.ntop.org/guides/ntopng/advanced_features/icinga2.html

[2019-08-27 07:47] #2309 closed, assigned to simonemainardi

[2019-08-27 07:57] simonemainardi opened #2786 "Interface packet size, SYN flags distributions and other not updated in view interfaces"
This page is not updated for view interfaces. It is requested to update it using values from the underlying viewed interfaces

![image](https://user-images.githubusercontent.com/3397663/63752183-18a8e800-c8b1-11e9-89a9-75930f89888b.png)

[2019-08-27 12:36] simonemainardi commented on #2786
Implemented: https://github.com/ntop/ntopng/commit/e46221e0bb6b49aaa81fdb7849a293b885f2776a

[2019-08-27 12:36] #2786 closed, assigned to simonemainardi

[2019-08-27 13:23] simonemainardi commented on #2775
closing for inactivity, no feedback received, please reopen with the requested information if necessary.

[2019-08-27 13:23] #2775 closed, assigned to nobody

[2019-08-27 13:43] #2782 closed, assigned to nobody

[2019-08-27 14:25] simonemainardi commented on #2677
Hi, thanks for this suggestion, unfortunately we are not able to maintain it at this time. Would you be interested in becoming the maintainer of the official snap packages?

[2019-08-27 14:49] StewAlexander-com commented on #2677
Not at the moment, but please ask the community if anyone would like to be a maintainer, as this is an interesting idea

[2019-08-27 16:18] #2750 closed, assigned to nobody

[2019-08-27 16:19] simonemainardi commented on #2677
Ok so let me just close this for now.

[2019-08-27 16:19] #2677 closed, assigned to nobody

[2019-08-27 16:29] #2642 closed, assigned to simonemainardi

[2019-08-27 16:31] cardigliano commented on #2562
TLV (a binary format) support has been implemented (both in ntopng as consumer and nProbe/Cento as producers). This is the default export format in nProbe now. ntopng supports both legacy JSON and TLV.

[2019-08-27 16:31] #2562 closed, assigned to nobody

[2019-08-27 22:42] radyphan commented on #2783
Hi,

The issue was fixed after follow your instruction.

Thank you,
Rady

[2019-08-28 07:12] emanuele-f commented on #2783
You are welcome

[2019-08-28 07:12] #2783 closed, assigned to nobody

[2019-08-28 10:17] lucaderi opened #2787 "Invalid flow export format"
<img width="220" alt="Screenshot 2019-08-28 at 12 16 33" src="https://user-images.githubusercontent.com/4493366/63847252-b83ba880-c98d-11e9-9975-5824d2f41c5e.png">

NTOPNG_INSTANCE_NAME|PACKETS|INTERFACE_ID|IPV6_SRC_ADDR|JSON|IPV6_DST_ADDR|IP_DST_PORT|PROFILE|L7_PROTO|FIRST_SEEN|SRC_TO_DST_BYTES|IPV4_SRC_ADDR|INFO|FLOW_TIME|VLAN_ID|IPV4_DST_ADDR|PROTOCOL|IP_PROTOCOL_VERSION|BYTES|DST_TO_SRC_BYTES|

[2019-08-28 10:56] Tamahome-M commented on #2744
I found Intel Corporation Ethernet Controller X710 for 10GbE SFP+ (rev 01)
[code]
but ntopng "Dropped Packets" ~50%

![2019-08-28 13-53-01](https://user-images.githubusercontent.com/10276582/63849854-93e6c880-c99b-11e9-8f13-f97cf30ab8ab.png)

[2019-08-28 11:02] cardigliano commented on #2744
@Tamahome-M what is the peak pps rate that you see? Please note that ntopng is able to process max ~1Gbps per thread, using ZC redices the overhead on the capture size, however it seems you are hitting a bottlebeck in ntopng now. One option for improving the performance is distributing the load across multiple threads with RSS and views, please read https://www.ntop.org/ntopng/best-practices-for-r

[2019-08-28 12:38] Tamahome-M commented on #2744
It seems I don’t even need to use the ZC.
This is what confused me when using the “view”, it seems this is a display problem:
![2019-08-28 15-32-56](https://user-images.githubusercontent.com/10276582/63856136-9e0fc380-c9a9-11e9-9ff5-e9d63a425895.png)

[2019-08-28 14:58] emanuele-f opened #2788 "Implement alerts when malicious JA3 signatures are detected"
The list https://sslbl.abuse.ch/blacklist/ja3_fingerprints.csv can be used as the source of the signatures. However, the message should be a warning as the signatures may have false positives

[2019-08-28 14:59] emanuele-f opened #2789 "Implement remote DNS resolution failure alerts"
An alert should be generated when the DNS resolution of a remote host fails

[2019-08-28 15:37] DVMZCS commented on #2775
Hi guys-

Sorry i didn't reply earlier, i was pretty busy.

Yes @emanuele-f i updated it and it is fixed now.

Thank you for all your help!

[2019-08-28 16:33] #2788 closed, assigned to emanuele-f

[2019-08-28 16:33] emanuele-f commented on #2788
Example:

![2019-08-28_18-30](https://user-images.githubusercontent.com/5488003/63874491-20e84c80-c9b1-11e9-8a6c-537265e242de.png)

[2019-08-29 07:38] simonemainardi opened #2790 "MySQL nProbe integration not working"
ntopng is no longer able to connect to the MySQL database created by nProbe to show the flows https://www.ntop.org/nprobe/when-live-is-not-enough-connecting-ntopng-and-nprobe-via-mysql-for-historical-flows-exploration/

[2019-08-29 08:01] Niko78 commented on #1272
hi,
this bug is back for me
I have alerts while I configure higher values

[2019-08-29 08:04] Niko78 opened #2791 "alert detection"
hi
an old bug is back #1272 with lastest release
thanks

nicolas

[2019-08-29 08:05] #2791 closed, assigned to nobody

[2019-08-29 08:09] emanuele-f commented on #2787
Is the JSON column the only issue? Code uses a buffer of 64 B to dump column values. Maybe it's better to just skip the JSON column while exporting to txt

[2019-08-29 08:12] emanuele-f commented on #2753
No feedback received, closing.

[2019-08-29 10:27] emanuele-f commented on #2787
JSON column has been removed

[2019-08-29 10:27] #2787 closed, assigned to nobody

[2019-08-29 11:26] Niko78 opened #2792 "FR: add alert when a remote destination host appears"
hi,
Is it possible to get alerts from "remote destinations" ?
In my case, remote should be only rfc1918 + 2 other networks (what I entered in --local-networks" .... sometimes I can see other IP and each time I need to find the source (what router detects it) and fix it.
Today, first I have to check in live if I see this kind of entry then click on it, etc... to find "info". So that would be great

[2019-08-29 12:04] emanuele-f commented on #2792
Hi, please clarify as the information above is really confusing. With "remote destinations" you mean the remote hosts (in ntopng terminology) or what else? Please rephrase the problem to address

[2019-08-29 12:08] Niko78 commented on #2792
sorry, I meant all IP appearing in the main interface in the "top remote destinations" table

[2019-08-29 12:54] sgajemison commented on #2456
I too am getting errors similar to this every 3 seconds. I have tried the suggestions above without success yet.

29/Aug/2019 08:47:52 [LuaEngine.cpp:9776] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/system/housekeeping.lua][...are/ntopng/scripts/lua/modules/alert_endpoints_utils.lua:131: attempt to compare number with string]
29/Aug/2019 08:47:49 [LuaEngine.cpp:9776] WARNING: Scr

[2019-08-29 13:27] emanuele-f commented on #2792
Ok so what is the problem to address? What is missing in ntopng?

[2019-08-29 13:32] Niko78 commented on #2792
well I need to check this table when an IP appears (outside rfc1918), then click on it, etc... and most often flow is finished, so I lost information.. that's why I would like to get a kind of alerts table with all these info

[2019-08-29 13:39] emanuele-f commented on #2792
Do you want to get an alert when a new remote destination host appears? Neither the title nor the description of this issue is clear

[2019-08-29 13:40] emanuele-f commented on #2456
The problem is different here. Please open a new issue and specify:
- the output of `ntopng --version`
- the `Alert Endpoints` that you have enabled into the ntopng preferences

[2019-08-29 13:42] Niko78 commented on #2792
yes that's it... when remote host is not in : --local-networks + multicast, broadcast, noip

[2019-08-29 13:48] emanuele-f commented on #2792
Ok so this request is very specific of your environment so I would not integrate it into ntopng. However you can implement such checks by writing a quite simple alert script and placing it under /usr/share/ntopng/scripts/callbacks/interface/alerts/host. You can take https://github.com/ntop/ntopng/blob/dev/scripts/callbacks/interface/alerts/host/request_reply_ratio.lua as an example but remove the

[2019-08-29 13:48] #2792 closed, assigned to nobody

[2019-08-29 13:49] Niko78 commented on #2792
ok thanks for your help and sorry if it was not clear

[2019-08-29 14:36] simonemainardi commented on #2790
After internal review an no community users, we have decided to drop this integration in favor of nIndex. This integration should only be considered working until nProbe 8.4 and ntopng 3.6.

[2019-08-30 01:37] johnwarburton commented on #2287
A list of LDAP servers to choose from is pretty normal. I would like to see this feature too

[code]

[2019-08-30 10:12] #2710 closed, assigned to nobody

[2019-08-30 13:21] StewAlexander-com opened #2793 "Seeing "Threshold Cross][Engaged] Minute flow_flood_victim crossed" after upgrade, how do I suppress these messages?"
System Details

![image](https://user-images.githubusercontent.com/48565067/64023910-40918900-cb07-11e9-8f2a-7a5d9066bfa3.png)

Alerts received in slack after upgrade:
[code]
How do I suppress / eliminate these alerts?

[2019-08-30 13:31] emanuele-f commented on #2793
Please update to the latest version as some changes have been done. You need to tune/remove the local/remote hosts thresholds (see https://www.ntop.org/guides/ntopng/basic_concepts/alerts.html#user-configurable-thresholds for an example of the interface configuration)

[2019-08-30 16:48] chrisrobinson commented on #2044
"Because people might try to use a Google account, we shouldn't bother supporting authentication."

What a weird answer. I'd like this to work.

[2019-08-30 17:02] chrisrobinson opened #2794 "Email alert endpoint configuration doesn't support authentication"
Why is it not possible to specify a username, password, and TCP port? Email alerts as exist today seem to require an SMTP open relay, and who actually has one of those?

I'm using version "ntopng Community Edition v.3.6.190215" in PfSense 2.4.4.

[2019-08-30 17:03] sgajemison opened #2795 "Script Failure Errors LuaEngine"
Every 3 seconds I am getting the below error logged. Any insight into what could be the cause?

30/Aug/2019 13:01:07 [LuaEngine.cpp:9824] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/system/housekeeping.lua][...are/ntopng/scripts/lua/modules/alert_endpoints_utils.lua:131: attempt to compare number with string]
30/Aug/2019 13:01:04 [LuaEngine.cpp:9824] WARNING: Script failure [/usr/

[2019-09-01 17:55] fsamareanu opened #2796 "Automatically pull all dependencies for ntopng"
OS:
root@gemma:~# lsb_release -a
No LSB modules are available.
Distributor ID:	Debian
Description:	Debian GNU/Linux 10 (buster)
Release:	10
Codename:	buster

ntopng pulls pfring as a dependency but the pfring service fails to start due to missing module:

[code]
However, installing pfring-dkms fixes above error since module is built:

[code]

[2019-09-01 17:57] fsamareanu commented on #2795
Here's another one:
[code]

[2019-09-02 07:06] emanuele-f commented on #2795
For the flow.lua issue we are fixing it. @sgajemison please report the output of `ntopng --version`

[2019-09-02 07:14] emanuele-f commented on #2796
Installing ntopng with `sudo apt-get install ntopng` automatically pulls `pfring-dkms` in my system, what is the command you've used to install ntopng?

[code]

[2019-09-02 07:28] fsamareanu commented on #2796
apt-cache disagrees (again, on debian 10):

[code]
**Depends: pfring (= 7.5.0-2635), libsqlite3-0, redis-server, librrd8, logrotate, libcurl4, libpcap0.8, libldap-2.4-2, libhiredis0.14, libssl1.1, libmariadb3, lsb-release, tar, ethtool, libcap2, bridge-utils, libnetfilter-conntrack3, libzstd1, libmaxminddb0, libradcli4, libjson-c3, udev, debconf, libnuma1, libzmq5, libnetfilter-queue1
Recommends: