[2016-04-11 21:04] #485 closed, assigned to nobody

[2016-04-11 21:18] lucaderi commented on #484
@fi-ro Sorry I need a code dump (a core file I mean not a text trace). Please try again and reopen this bug once available

[2016-04-11 21:18] #484 closed, assigned to nobody

[2016-04-12 05:59] fi-ro commented on #484
Hi Luca,

could you please give instruction on how to produce the information needed?
I'm not that familiar in the linux dev world.

On 2016-04-11 23:18, Luca Deri wrote:

[2016-04-12 06:53] hemskgren commented on #483
update

This morning it looks better (uptime 16h). It is only  the following have the same issue.
2, no interface historical traffic graf but "top talker" works. (/lua/if_stats.lua?id=9&page=historical)

after a fist reload of ntopng it was the same, only 2 did not work as well (uptime 5-10 min).
after second reload of ntopng it was issue with 1, 2, and 3 above (uptime 5min).

Regards
Christer

[2016-04-12 07:33] simonemainardi commented on #484
execute `ulimit -c unlimited` and the run ntopng. A core file is produced upon crash. Send both the ntopng executable and the core file. Please not that the core file may be very large. So you may find it useful to send a download link rather than the whole file

[2016-04-12 07:39] simonemainardi commented on #483
I am not sure to understand your issue. Please enclose screenshots.

[2016-04-12 08:56] iber-mi commented on #480
As I said at the time, would be in the community ntopng if compatible with Debian 7 nprobe not work with this ... I do not think it's that hard to do because it is not an old system, but I do not you can help Debian install this system in July so I have to rely NTOP ... it is not so hard to understand.

[2016-04-12 09:17] simonemainardi commented on #480
If you don't think it's that hard, why don't you start working on that? Please submit pull request when done and we will be happy to evaluate that. Thank you.

[2016-04-12 09:29] iber-mi commented on #480
I think and say it is not so difficult for a reason, ntopong think if it works on Debian 7 what works is not nprobe because it is only 8 (jessie) but I see that if there is a functioning nprobe-debian7 but mips: http://packages.ntop.org/apt/wheezy/mips/nprobe_7.3.160217-4844_mips.deb

so I say I do not think it is so difficult then to do the same but for x86 or x64. Then there is the nprobes binar

[2016-04-12 10:25] Queeq opened #486 "Autonomous systems page performance"
Hi,
I'm running ntopng (Community v.2.2.160411) on a VMWare virtual host (8 CPUs, 8G RAM), Ubuntu 14.04, custom 4.4.6 kernel. Our external traffic during the day is around 25 Gbit/s. Flows exported from border routers are sampled 4096:1.
Hosts, Autonomous Systems and Country pages from "Hosts" menu take a lot of time to load. I understand that they may need to aggregate a lot of data, but is it ok

[2016-04-12 11:05] #473 closed, assigned to cardigliano

[2016-04-12 14:09] elim99 opened #487 "error when viewing host details"
I get the following error when I attempt to view a host:

[code]

This error appears after ntopng has been running for a while - in this case for about 30 hours. A restart of ntopng promptly fixes the issue. The log file basically has the exact same error. I was not able to catch this error in verbose mode.

[2016-04-12 16:14] C-Duv commented on #433
Thanks: it works :+1:

[2016-04-12 16:27] #487 closed, assigned to nobody

[2016-04-12 16:28] simonemainardi commented on #487
I think I have fixed the issue. Packages are being built and will be available tomorrow.

[2016-04-13 08:02] iber-mi commented on #480
Any response to this?

[2016-04-13 08:06] lucaderi commented on #480
@iber-mi We're preparing Debian 7 x64 packages. nprobes is a small, binary, self-contained build and it does not include ZMQ for avoiding dependencies.

[2016-04-13 09:07] iber-mi commented on #480
Prepare packages for Debian 7? :O but you mean nprobe too? Ntopng because as I said I think with 8 Debian repositories can install it and it works, the problem is nprobe for x64, you can prepare this package?

[2016-04-13 11:11] presianbg opened #488 "Interface statistics not working properly"
Dear All,

Thank you for the great work!

I have some problems with my nbox setup (latest centos nightly builds). Here is my config:

cat /etc/nprobe/nprobe-none.conf

[code]

cat /etc/ntopng/ntopng.conf

[code]

[screenshot](http://imgur.com/8LmvtZL) - meter and graphs are working sometimes, but most of the time they do nothing.

I'm using nprobe as proxy :

NetFlow Router V5 ->flow -> nprobe ->

[2016-04-13 11:16] simonemainardi commented on #488
please paste the screenshot directly here. I cannot access imgur.

[2016-04-13 11:16] simonemainardi commented on #478
solution proposed. no feedback given. closing for inactivity.

[2016-04-13 11:16] #478 closed, assigned to nobody

[2016-04-13 11:17] presianbg commented on #488
![selection_003](https://cloud.githubusercontent.com/assets/2163486/14491596/79ad2fc0-0182-11e6-989e-e5cf214e8d97.png)

[2016-04-13 11:19] simonemainardi commented on #472
closing for inactivity. If you are still unable to log in, feel free to open another issue with the requested details.

[2016-04-13 11:19] #472 closed, assigned to nobody

[2016-04-13 11:24] simonemainardi commented on #488
https://github.com/ntop/ntopng/issues/470 :

[2016-04-13 11:24] #488 closed, assigned to nobody

[2016-04-13 11:26] simonemainardi commented on #483
@hemskgren any news?

[2016-04-13 11:26] presianbg commented on #488
But sometimes when I restart ntopng and nprobe it's working for a munite or two... how that comes ?

[2016-04-13 11:30] simonemainardi commented on #470
please, navigate to the interface statistics page and check the historical interface speed chart.

[2016-04-13 11:31] simonemainardi commented on #488
please, navigate to the interface page and check the historical interface speed chart.

[2016-04-13 11:33] presianbg commented on #488
![selection_004](https://cloud.githubusercontent.com/assets/2163486/14491954/a59b3ca6-0184-11e6-830e-296179abd433.png)

[2016-04-13 11:35] simonemainardi commented on #488
that's correct. The chart on the left is empty for the reasons described in #470

[2016-04-13 11:38] presianbg commented on #488
Ok. Thank you.

[2016-04-13 12:12] whoknowz commented on #455
@simonemainardi how do I do the following: Capture everything except backups (exclude traffic to just a single host).

[2016-04-13 12:28] simonemainardi commented on #455
run ntopng using a BPF filter that matches what you want to capture

[2016-04-14 06:52] inetactief commented on #470
Hi Simone,

I check it, its empty, see the sreenshot.

Best regards,

Michel

From: simonemainardi
Sent: Wednesday, April 13, 2016 1:30 PM
To: ntop/ntopng
Cc: inetactief
Subject: Re: [ntop/ntopng] No ZMQ interface speed detected (#470)

please, navigate to the interface statistics page and check the historical interface speed chart.

—
You are receiving this because you were mentioned.
Reply to th

[2016-04-14 07:39] iber-mi commented on #480
Any response to this?

[2016-04-14 07:48] simonemainardi commented on #470
@inetactief sorry about that, the message was meant to be addressed to #488

[2016-04-14 08:13] mathieufrh opened #490 "ntopng debian daemon not stopping"
Hello

I don't know if it happens to other users too but my ntopng daemon do not want to stop when using

It looks like the get_ntopng_pid function correctly set the `PID_FILE` variable but set `PID` to `0`. But if I manually run `PID=$(cat $PID_FILE)` then  `PID` is not set to `0`.

If I had the line

after the line 206 of the script (ntopng/packages/etc/init.d/ntopng) then everything is working

[2016-04-15 08:14] iber-mi commented on #480
Hello???

[2016-04-15 09:10] lucaderi commented on #480
@iber-mi Packages will be release by the end of this week. Please monitor http://packages.ntop.org

[2016-04-15 10:15] simonemainardi commented on #466
Implemented in https://github.com/ntop/ntopng/commit/0ca318ac4dd32ba891fa5d725e0fef4f18d562b4 please give it a try, code is in the latest nightly build.

[2016-04-15 10:15] #466 closed, assigned to simonemainardi

[2016-04-15 10:45] J101 opened #491 "ntopng setup for windows"
hi may you please guide me on how to setup ntopng on my windows?

i cant understand on where will i input the commands below.
![adfasfdsaf](https://cloud.githubusercontent.com/assets/18482239/14559287/2cae76c0-033a-11e6-8873-a361ebf010fb.PNG)

[2016-04-15 10:47] simonemainardi commented on #486
I noticed that you are using version 2.2. There have been huge improvements in sorting and memory management after its release so I encourage you to upgrade to the latest nightly build (version 2.3.x). Please, let us know if the upgrade solved the issue.

BTW, I also think you have to tune ntopng configuration and increase with -X and -x the maximum number of flows and hosts. Make sure actual valu

[2016-04-15 11:01] Queeq commented on #486
I tried installing nightly builds but some of the nprobes were not sending any traffic to ntopng (I used 6 nprobes + 1 ntopng). Performance of the mentioned pages were also quite poor if I remember correctly.

I don't quite understand how `-X` and `-x` options could help. Are there any limits by default that should be risen? I experienced severe problems due to number of flows when I had lower sam

[2016-04-15 11:21] simonemainardi commented on #486
Yes, it is worth increasing -X and -x. Of course default settings work quite well in the most part of the cases but very likely you have a huge number of flows/hosts. Increasing X and x will increase internal hash tables and yield less collisions (== faster searches == lower cpu load).

Right PF_RING is only good if local capture is performed. Sorry I missed the part where you say that flows are e

[2016-04-15 12:47] Queeq commented on #486
I have set both `-x` and `-X` to `1000000`. Web UI performance is indeed much better now. However when I use single ntopng process which receives flows from multiple nprobes it slowly dies after some time: at first it stops showing traffic on separate interfaces, then on all and finally it stops responding completely (it accepts TCP session but never answers for HTTP queries). Should I open separa

[2016-04-15 16:32] simonemainardi commented on #491
I have extended the UserGuide with windows docs. Please refer to the following pdf: https://github.com/ntop/ntopng/blob/dev/doc/UserGuide.pdf

[2016-04-15 16:32] #491 closed, assigned to nobody

[2016-04-15 16:41] simonemainardi opened #492 "Implement retransmissions-based alerts"
An increasing number of retransmissions may be a symptom of network issues. Implementing this kind of alerts will help the diagnosis.

[2016-04-15 16:47] simonemainardi opened #493 "Implement Alerts Dashboard"
A dashboard that gives a realtime overview of presently active alarms (as well as alarms that are re-arming and those that are no longer active) will help the analyst in diagnosing network problems.

[2016-04-15 16:52] simonemainardi opened #494 "Handle OS detection behind NAT"
NAT may 'hide' multiple hosts behind a single IP address. ntopng can be enhanced by handling multiple 'natted' operating systems.

[2016-04-15 16:55] simonemainardi opened #495 "Monitor network latency"
Latency can be monitored and alerts can be possibly attached to anomalous changes.

[2016-04-15 19:24] garrymar opened #496 "Clicking on info button of active flows almost always produces a script failure"
Dear developers,

Clicking on info button of active flows almost always produces a script failure:

16/Apr/2016 00:18:25 [Lua.cpp:4857] WARNING: Script failure [/usr/share/ntopng/scripts/lua/flow_details.lua][/usr/share/ntopng/scripts/lua/flow_details.lua:263: attempt to compare number with nil]

ntopng --version
v.2.3.160415 [Professional Edition]
GIT rev:   dev:13e49130392b656aa6ffd6944e7c6b720e

[2016-04-15 19:29] garrymar opened #497 "callbacks/minute.lua script failure each 5 minutes"
Dear developers,

callbacks/minute.lua script generates warning message in ntopng.log every 5 minutes:

15/Apr/2016 23:50:02 [Lua.cpp:4512] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/minute.lua][/usr/share/ntopng/scripts/lua/modules/lua_utils.lua:1984: bad argument #2 to 'format' (number expected, got nil)]
15/Apr/2016 23:55:01 [Lua.cpp:4512] WARNING: Script failure [/usr/share/n

[2016-04-15 19:38] lucaderi commented on #294
Implemented. Clicking on flow information it is possible to display application latency.
![screen shot 2016-04-15 at 21 38 20](https://cloud.githubusercontent.com/assets/4493366/14572999/6a9a7e3a-0352-11e6-861d-47b23ca53d6d.png)

[2016-04-15 19:38] #294 closed

[2016-04-15 20:06] garrymar opened #498 "The hosts list for local network shows 4 rows instead of 20"
Dear developers,

The hosts list for local network shows fewer rows than specified by row count selector. Here is a link for the screenshot https://drive.google.com/open?id=0B1psMbVJS9tSV3FUM05SaEZwenc.

Thanks.

Kind Regards,
Garri

[2016-04-15 20:13] lucaderi commented on #497
Said that I cannot reproduce it, I have added some extra checks to prevent it. We need to investigate it more in details if we'll be able to reproduce it. Overnight new packages will be built that include the fix

[2016-04-18 09:09] Andrew17856 commented on #297
Thanks for your work on this.  It looks from this issue that the intention is to integrate ntopng with pfsense so that ntopng's packet inspection can be used in firewall rules.

That's useful but I can see there's a fair amount of work in it,  hence it being fed into the ntopng 2.3 release.

At  the moment, the ntopng package is completely missing from pfSense due to the earlier dependency issue.

[2016-04-18 10:52] #496 closed, assigned to nobody

[2016-04-18 12:07] fi-ro commented on #484
I've managed to get a core file (logout/login was the trick).

The corefile is downloadable here:
https://bwsyncandshare.kit.edu/dl/fi6jfUa4PE66X8DncfV29chR/core.7z

The ntopng binary is the one I've posted earlier.

[2016-04-18 12:37] arrmo opened #499 "MySQL Tables / Format"
Hi,

I really like that ntopng is storing data to MySQL - to allow offline processing / customization. But ... is information available anywhere explaining the format of the data? I see multiple v4 tables (i.e. IPv4), not sure what is in which tables.

And does ntopng handle the data consolidation? What I mean is - for longer periods of time the data is compiled, to wider time slices ... is this b

[2016-04-18 16:33] simonemainardi commented on #499
MySQL table names in ntopng 2.2.x have the following naming convention:

`flowsv<IPversion>_<interface_id>`

In 2.3.x version only two tables are used, namely `flowsv4` and `flowsv6`

Table column names should be self-explanatory. If you have specific questions, please ask them here.

Presently, consolidation is not carried out. However, ntopng run a daily activity that cleans up MySQL flows older

[2016-04-18 16:55] seismiccollision opened #500 "sFlow Interface Gauge Showing sFlow Throughput Data"
At some point it looks like the interface gauge for our sFlow collection stopped displaying the throughput as provided by the sFlow data and began what seems to be the physical interface's data rates. I think it started after an update but I don't know which one

[2016-04-18 18:03] arrmo commented on #499
Thanks for the quick reply - much appreciated! Yes, the columns make sense, no issues there ... it was more about the tables themselves, to understand what they implied.

Need to look at the data further - not sure if there is an output every second (looking at the first few rows), or what happens when connections are maintained longer.

Thanks again.

[2016-04-18 18:10] simonemainardi commented on #499
expired/closed flows flows are continuously dumped to mysql in an asynchronous way with an independent thread. So the dump frequency is not a constant. A flow is not dumped unless it's expired/closed.

p.s. don't forget to star ntopng if you like it ;)

[2016-04-18 18:10] #499 closed, assigned to nobody

[2016-04-18 18:44] arrmo commented on #499
OK, one quick question ... I see tables 0 through 5, but "ip link show" shows 1 through 7 => confused.

Any thoughts?

[2016-04-18 19:28] #498 closed, assigned to nobody

[2016-04-18 19:56] lucaderi commented on #484
@fi-ro It doesn't look like a core dump the file you sent.

deri@pc-deri 214> m core.7z
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html>
<head>
<meta name="title" content="bwSync&Share" />
<meta name="description" content="Share, sync and backup your files online" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>bwSync&Share</title>

<script type="text/javascr

[2016-04-18 20:18] soutieslak commented on #297
I read this: "ntopng package was removed from FreeBSD ports because it no longer compiled. That issue has recently been fixed, and the package will return soon."
Source: https://doc.pfsense.org/index.php/2.3_Removed_Packages

Then I found this thread! Thank you so much for your work! Really can't wait for it to come back to pfsense... Is there any news on its ETA?

[2016-04-18 20:24] lucaderi commented on #297
@soutieslak We need assistance on how to integrate ntopng with the pfSense configuration. In essence ntopng will work but for the integration we need support from the pfSense community

[2016-04-18 21:13] Andrew17856 commented on #297
@lucaderi   I'm happy to help in any way I can.  What assistance do you
need?

How far off true integration are we (i.e. ntopng marking packets that
pfSense can subsequently filter according to its own rules)?

If it's a long way (I can see some complications in marking the packets
in a way that pfSense can subsequently filter) then, as mentioned above,
one option is to leave that feature as part

[2016-04-19 05:51] soutieslak commented on #297
@lucaderi what integration is still required in order to make it official? Have you asked for help on twitter yet? pfsense seems quite active there? Agreed with @Andrew17856, thanks for your help and dedication.

[2016-04-19 06:20] lucaderi commented on #297
I see that there are people taking care of the package such as @madpilot78. I need feedback on the integration side. My idea is to use ntopng for both monitoring and traffic detection, so that you can use it as a drop-in replacement for ipfw-classifyd. This tool (ipfw-classifyd) has a configuration file which specifies how to mark traffic based on the protocol. I need to understand how the pfsense

[2016-04-19 06:28] soutieslak commented on #297
@lucaderi I hear you man. I just think that of the 7000 twitter followers, there must be members who could assist, and they might not be aware of this github page. So if we post it there, they might get exposed to this page, and that could increase the productivity.

Unfortunately I have not worked with the development of these tools before, so for me to try assist will slow down productivity.

So

[2016-04-19 07:42] hemskgren opened #501 "LDAP user authentication"
Hi

i can see LDAP user authentication is implemented by #285.
running. ntopng x86_64 v.2.3.160412 do not look to have any option for ldap.

Any documentation about  LDAP user authentication?

regards
Christer

[2016-04-19 07:49] simonemainardi commented on #501
LDAP support is only available in the Professional Small Business editions.

[2016-04-19 07:49] #501 closed, assigned to nobody

[2016-04-19 08:20] simonemainardi commented on #499
ids are not the same and thus not comparable. ids shown in table names have a business meaning that is limited to ntopng internals.

[2016-04-19 08:39] Queeq commented on #486
The AS page performance became much better with v.2.3.160419. Additionally, even though ntopng still freezes after some time, it works longer now: >5 minutes, ~120k hosts and 85k flows. It throws out the same error when running in foreground:

[code]

I have also noticed that if ntopng is restarted without nprobes being restarted, this new instance doesn't receive traffic from nprobes anymore. Let

[2016-04-19 08:47] hemskgren commented on #483
Hi

First i have now updated to ntopng x86_64 v.2.3.160419  and removed my "comment" > (ix-pe01) behind the interface in the configuration.

This is still the same on all pages.
![image](https://cloud.githubusercontent.com/assets/10794918/14631875/dbc3fb16-0615-11e6-9f32-4862fdcc8488.png)

and this is still the same on interface -> history page. a traffic spike can sometime show. but no graf.
![im

[2016-04-19 09:46] samwaniskrezi opened #502 "NTOPNG zero MAC Address"
I already follow the solution from issue #427 , but the issue still happened.

**nprobe.conf**

[code]

![ntop1](https://cloud.githubusercontent.com/assets/18549788/14634934/d62c190e-0656-11e6-8471-d2df271a58e9.PNG)

[2016-04-19 10:53] EAnsy opened #503 "Can't save users account info"
After some working ntopng rejects normal login/password to get in.
_**ntopng restart**_ get it restarted, but without any created users and with default _admin/admin_ only.
It's nor useful neither secure at all.
_ntopng Community v.2.3.151210_

[2016-04-19 11:02] simonemainardi commented on #502
you are using nprobe in netflow collector mode. Make sure the device that is exporting on `2055` is actually sending mac addresses as well.

[2016-04-19 11:25] simonemainardi commented on #503
please update to the latest dev version and report again.

[2016-04-19 11:28] simonemainardi commented on #483
please make sure to specify local networks with ntopng command `-m`

[2016-04-19 11:31] simonemainardi commented on #486
we are working on the improvement of pages performance by performing sorting and grouping operations directly in C. Enhancements will be ready soon. Feel free to open a new issue regarding the nprobes.

[2016-04-19 11:56] ValentinaViscarelli commented on #490
Hello,
sorry for delay in replying your issue.
How do you run ntopng? As a service? (sudo service ntopng start)

Could you please send me the output of these commands when ntopng is running?

sudo service ntopng status
ls /etc/ntopng
cat /etc/ntopng/ntopng.conf
cat /var/tmp/ntopng.pid

Thanks

[2016-04-19 12:19] hemskgren commented on #483
changing from --local-networks=" net xx"  to -m "net xx" didn't do any differences..

[2016-04-19 12:21] simonemainardi commented on #500
@seismiccollision please provide more quantitative information. attach screenshots / data of what you think it is relevant to the issue. Thank you

[2016-04-19 12:25] tocks53 opened #504 "The name of the computer is not good"
Hello,
I have install ntopng 4 days. It's a very good program.

But if i seach the ip of my compter in the texbox a the top of the page. The name is not the good name.

It's a name of a another computer. all my computers are on DHCP.

When i can configure ntopng for take the good translation name and computer ip with DHCP.

This puts the mess in historical. because the IP used by a PC today is not

[2016-04-19 12:30] simonemainardi commented on #483
`--local-networks` accepts CIDR notation not BPF, e.g., `-m"192.168.1.0/24"`

[2016-04-19 12:33] samwaniskrezi commented on #502
i have cisco catalyst 6500 exporting on port 2055 for all vlans. how can i make sure that these devices exporting mac address.

[2016-04-19 12:37] lucaderi commented on #504
@tocks53 Is moving to MAC address an option for you? Don't forget to star ntopng if you like it

[2016-04-19 12:39] hemskgren commented on #483
yes

-m "192.168.0.0/16,10.0.0.0/8,10.32.0.0/16,10.34.0.0/16,10.36.0.0/14,10.40.0.0/15,10.46.0.0/16,10.52.0.0/16,10.53.0.0/16,10.53.100.0/22,10.58.0.0/16,10.127.0.0/16,10.163.0.0/16,172.16.0.0/12"

[2016-04-19 12:41] simonemainardi commented on #502
quick and dirty: use wireshark and sniff some cisco traffic towards port 2055. Then inspect captured packets and see if mac addresses are there. Otherwise you should check cisco configuration.

[2016-04-19 12:44] simonemainardi commented on #483
I think this may be the same limitation as discussed in https://github.com/ntop/ntopng/issues/470

can you comment on this @lucaderi ? Thank you.

[2016-04-19 12:55] lucaderi commented on #483
@hemskgren Are you using the latest nprobe? If not please do. Using so many interfaces isn't a good practice: please read http://www.ntop.org/nprobe/advanced-flow-collection-with-ntopng-and-nprobe/
@simonemainardi I don't see what -m and #470 have to do with this issue.

[2016-04-19 13:18] EAnsy commented on #503
Well... now I can't **_make_** ntopng:

[code]

Two different servers (with working previous ntopng versions), all running SMS (sms.it-ccs.com) with all current updates. Compiled as described in www.ntop.org/get-started/download/#ntopng (with nDPI section first -- else got error message -- and with ./autogen.sh there skipped).

[2016-04-19 13:24] tocks53 commented on #504
Thanks for your reply

This is better, but how do laptops? they have 2 MAC address ? wifi and ethernet

ntopng it can resolve the name with the MAC?

Yes, i star ntopng

[2016-04-19 13:42] Queeq opened #505 "Malformed traffic from nprobes over ZMQ"
Running latest nightlies on VMWare virtual machine Ubuntu 14.04, kernel 4.4.6.

There are 6 nprobe instances receiving IPFIX from Juniper routers and 1 ntopng instance which connects to nprobes over TCP (everything's within the same VM). It had been working fine on the same version before I restarted it several times today (both nprobes and ntopng).

Nprobes are run with these parameters:

[code]

[2016-04-19 13:48] hemskgren commented on #483
Hi

can be thru but this is a excellent setup for my network.

I deleted all statistics.
rm -rf /var/tmp/ntopng/
redis-cli
FLUSHALL
FLUSHB

started nprobe with -I  on one nprobe reciving ipfix.
restarted ntopng and the both issue was temporary gone!!! on that "interface"

after some time i did the same on next nprobe with -I  and restarted ntopng and the statistics problem was back.

[2016-04-19 14:04] Andrew17856 commented on #297
I think the best way forward is to open an issue/feature request on the pfSense bugtracker, so the pfsense development team can work with Luca on the best way to integrate ntopng with pfsense.  I'll do that and post a link back here.

They'll know what packet marking approach will be best to use for ntopng to identify traffic.  For example, I think ipfw-classifyd uses Layer 7, which was removed in

[2016-04-19 14:15] Andrew17856 commented on #297
Here's the link to the pfSense bugtracker - hopefully a dev from the pfSense team will get in touch!

https://redmine.pfsense.org/issues/6204

[2016-04-19 14:26] lucaderi commented on #504
Each MAC is a different PC. Would you like to bundle them into a single PC?

All this is NOT available today but we can add it to the roadmap. If interested, please open _individual_ issues for each feature and we'll consider their implementation.

[2016-04-19 14:26] #504 closed, assigned to nobody

[2016-04-19 14:29] arrmo commented on #499
OK, that makes sense - but then how to find traffic for a specific interface? Do I need to search all tables each time?

Thanks.

[2016-04-19 14:29] hemskgren commented on #483
[root@ix-netflow01-px ~]# nprobe -v

Welcome to nProbe v.7.3.160419 (r5042) for x86_64-unknown-linux-gnu
with native PF_RING acceleration.
Copyright 2002-16 ntop.org

Build OS:      CentOS Linux release 7.1.1503 (Core)
SystemID:      689677AB82072B1

[2016-04-19 14:40] lucaderi commented on #505
We have added compression and (optional) encryption some time ago. Can you please confirm the versions of ntopng and nprobe you are using?

[2016-04-19 14:43] Queeq commented on #505
nprobe 7.3.160419-5042
ntopng 2.3.160419-1164

[2016-04-19 14:45] lucaderi commented on #502
@samwaniskrezi nprobe does not collect MAC addresses even if they are exported (I doubt they are exported). Shall you be interested please file an issue https://github.com/ntop/nProbe/issues

[2016-04-19 14:45] #502 closed, assigned to nobody

[2016-04-19 14:50] lucaderi commented on #505
Please send a pcap file (full packet size) with flows sent by your routers to nProbe as I need to debug the issue. Note that I need both flows and templates.

[2016-04-19 14:54] tocks53 opened #506 "request bundle MAC adresse into single pc"
Actually each MAC is a different PC. i want to bundle them into a single PC.

Because, my pc is in dhcp and the laptop as 2 MAC, wifi and ethernet.

thanks

[2016-04-19 14:56] tocks53 commented on #504
ntopng how to set to work with MAC and not IP?

waiting for update ntopng

[2016-04-19 14:59] Queeq commented on #505
We use default ipv4-template by Juniper. It is described [here](https://www.juniper.net/techpubs/en_US/junos14.1/topics/task/configuration/services-ipfix-flow-template-flow-aggregation-configuring.html#id-11330739).
I'll send sample flows over e-mail.

[2016-04-19 15:19] simonemainardi commented on #499
visit page `http://localhost:3000/lua/if_stats.lua` interface id is shown in the table

[2016-04-19 15:31] simonemainardi commented on #506
this can be the extension of flow profiles to hosts, aka communities.

[2016-04-19 16:18] hemskgren opened #507 "netflow vs ipfix behavior"
Hi

If i change my cisco asr1000 router from sending netflow to ipfix towards nprobe.

I still see traffic but in the flow tab change behavior to look like this.

![image](https://cloud.githubusercontent.com/assets/10794918/14646466/d5effc1e-0659-11e6-8c6d-e59e27eae34c.png)

and the "info" for each flow say "This flow cannot be found (expired ?)"
If i change back to netflow on the router the flow

[2016-04-19 16:39] gonzopancho commented on #297
@Andrew17856 we already know.

[2016-04-19 18:14] J101 opened #508 "how to add devices to be monitored in ntopng"
Hi please help me on how to add devices to be monitored in ntopng. Thank you.

How to add interfaces
How to add devices (routers,servers etc)

NOTE: i already installed ntopng in my desktop and as of the moment the only device in interfaces is my pc.

[2016-04-19 19:53] Andrew17856 commented on #297
Ok, thank you.

[2016-04-19 20:34] seismiccollision commented on #500
@simonemainardi see attached, thanks!
![image](https://cloud.githubusercontent.com/assets/9156430/14654617/6c21d7ba-0633-11e6-858a-1712974427e0.png)

[2016-04-19 20:36] seismiccollision commented on #500
Also relevant
![image](https://cloud.githubusercontent.com/assets/9156430/14654644/93536e5c-0633-11e6-9c3a-fad5ffc779d4.png)

the sparklines aren't registering anything and the interface gauge doesn't match the application traffic

[2016-04-19 21:01] seismiccollision commented on #486
@Queeq I don't know if this might be any help but at a similar tracked scale using sFlows in ntopng I found that running ntopng with "-S=local" in ntopng.conf helped flush remote hosts (which i didn't care as much about tracking)

here's a snippit from the .conf that's been working for me:
-A=2
-D=all
-E=all
-S=all
-W=3001
-x=3000000
-X=131072
-S=local

[2016-04-19 23:19] arrmo commented on #499
That works, thanks for the info!

[2016-04-20 00:00] arrmo opened #509 "Some Questions"
First off, my apologies - these are just some questions, as I try to use the data in MySQL ... not issues at all! But not sure how else to ask, so sorry if this makes your "issues" list look longer. That all said, I really like ntopng, and the MySQL data - thanks!

And, the questions .. ;).
1) the end goal, I want to plot the top (some number ... say 3, 5, or 10) clients on the subnet. Historical

[2016-04-20 07:06] lucadistefano opened #510 "MySQL error: The total number of locks exceeds the lock table size"
After 3 days of traffic tracked the following error occours.
To let it work again I restarted mysql and ntopng.
No error appears on mysql log.

19/Apr/2016 05:49:02 [MySQLDB.cpp:439] Attempting to connect to MySQL for interface tcp://10.62.5.111:5553...
19/Apr/2016 05:49:02 [MySQLDB.cpp:479] Succesfully connected to MySQL [127.0.0.1:ntopng] for interface tcp://10.62.5.111:5553
19/Apr/2016 05:49:02

[2016-04-20 07:08] lucadistefano opened #511 "ERROR: MySQL error: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''' at line 1"
sometimes the following error occour:

19/Apr/2016 14:54:32 [MySQLDB.cpp:439] Attempting to connect to MySQL for interface tcp://10.62.5.111:5552...
19/Apr/2016 14:54:32 [MySQLDB.cpp:479] Succesfully connected to MySQL [127.0.0.1:ntopng] for interface tcp://10.62.5.111:5552
19/Apr/2016 14:54:33 [MySQLDB.cpp:45] ERROR: MySQL error: You have an error in your SQL syntax; check the manual that corresp

[2016-04-20 07:13] lucadistefano opened #512 "Local to remote and remote to local info are always 0"
Local to remote and remote to local are always 0
I suspect it not works with zmq interfaces.

![image](https://cloud.githubusercontent.com/assets/1080723/14666111/d54ddf0a-06d7-11e6-9e0f-a9182dcd4628.png)

configuration:
-n=1
-w=3000
-W=0
-m="10.62.4.0/22,10.62.1.0/25"
-X=320000
-x=132768
-F=mysql;127.0.0.1;ntopng;flows;ntopng;ntopng
-d=/storage/ntopng
-C
-l=1
-G=/var/tmp/ntopng.pid
-i=tcp://10.62

[2016-04-20 07:21] lucadistefano commented on #511
maybe is the same problem:
Apr 20 09:07:54 nbox-demo ntopng: [MySQLDB.cpp:45] ERROR: MySQL error: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''nbox-demo.wp.lan' at line 1
Apr 20 09:07:54 nbox-demo ntopng: [MySQLDB.cpp:46] ERROR: INSERT INTO `flowsv4` (VLAN_ID,L7_PROTO,IP_SRC_ADDR,L4_SRC_PORT,IP_DST_ADDR,L4_D

[2016-04-20 07:28] lucadistefano opened #513 "Feature request: export of configuration"
save all ntopng configuration options and profiles to a text file use /etc/ntopng/ntopng.conf for store all of them.

[2016-04-20 07:31] lucadistefano opened #514 "Feature request: avoid default query on 'historical data explorer'"
avoid default query on 'historical data explorer' it can take long time and is not the query that the user will do

[2016-04-20 07:32] lucadistefano opened #515 "Feature request: configure per page result size"
keep the configuration of 'per page result size'

[2016-04-20 07:48] lucadistefano opened #516 "[Lua.cpp:4484] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/minute.lua][/usr/share/ntopng/scripts/callbacks/minute.lua:104: mmaping file '....rrd': Invalid argument]"
They are a lot of this kind of warnings:

19/Apr/2016 14:00:10 [Lua.cpp:4484] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/minute.lua][/usr/share/ntopng/scripts/callbacks/minute.lua:201: mmaping file '/storage/ntopng/5/rrd/10/62/6/128/Microsoft.rrd': Invalid argument]
 Invalid argument]
....
20/Apr/2016 08:20:02 [Lua.cpp:4484] WARNING: Script failure [/usr/share/ntopng/scripts/call

[2016-04-20 08:58] soutieslak commented on #297
@Andrew17856 I also think that just bringing it back as a package that one can install is a good first step. Then the integration after that.

[2016-04-20 09:16] simonemainardi commented on #515
this is already implemented. If you found some pages that seem to forgot the 'per page result size' then please indicate them.

[2016-04-20 10:31] lucadistefano opened #517 "mysql grows seems without limits"
mysql retention is 2 days.
the system is up since 1 week but the space used by mysql grows each day.
I expected after 3 days older data will be dropped .

root@nbox-demo:~# du -sh /storage/*
54G /storage/mysql
11G /storage/ntopng

I tried to reduce the retention at 1d but data still not dropped.

[2016-04-20 10:41] simonemainardi commented on #514
feature implemented, will be available in the builds starting from tomorrow.

[2016-04-20 10:41] #514 closed, assigned to nobody

[2016-04-20 10:46] simonemainardi commented on #516
RRDs are files with a fixed, non-zero, size. The fact that your RRDs have no dimension may suggest there is something wrong with their creation.
- the first thing I suggest you is to clear /storage/ntopng and inspect again the file size
- check /storage/ntopng permissions and make sure the user who is running ntopng has rwx privileges there
- did you change any of the RRD configuration parameters

[2016-04-20 11:02] narankhetani opened #518 "traffic profile not tagging"
Hi Luca/Simone,

We have changed to just use 1 traffic profile “pat_SecureVPN=net 10.255.16.0/20 or net 10.10.106.0/23 or net 10.10.108.0/23”

Sometime flow matches the profile but doesn’t get tagged – this would cause the query base on profile name to miss the packet:
| 2016-04-18 18:50:44           | pat_SecureVPN |       0 | 10.255.18.196          | 10.78.128.49           |       52165 |

[2016-04-20 11:33] simonemainardi commented on #517
MySQL InnoDB does not release `ibdata1` disk space after deleting data rows from table: http://dev.mysql.com/doc/refman/5.7/en/innodb-file-space.html

Make sure to configure MySQL to use `innodb_file_per_table`. In this way the disk space is released after an optimize table: http://dev.mysql.com/doc/refman/5.7/en/optimize-table.html

[2016-04-20 11:33] #517 closed, assigned to nobody

[2016-04-20 11:43] narankhetani opened #519 "ICMP Traffic doesn't match traffic profile at all"
ICMP traffic doesn’t seem to match with traffic profile at all.  Is this intentional? If yes, is there any other protocol wouldn’t match the traffic profile?
| 2016-04-18 20:38:54           |               |       0 | 10.255.16.186          | 10.78.15.10            |           0 |           0 |        1 |
| 2016-04-14 16:20:52           |               |       0 | 10.255.29.167          | 10.78.15

[2016-04-20 12:26] Artapel commented on #472
Hi Simone

Id like to discuss a change

If you look at the |Network Interfaces: Realtime Traffix) graph. The networks are sticked on top of each other. This make sit very difficult to really see the usage of the network. Our (Light blue – Neotel 15MB enp1s0f0) is only a 15MB line in total. But on the grap hits reaching 24 and above as per the graph, which confuses everyone.
The same with the rest

[2016-04-20 12:48] #511 closed, assigned to nobody

[2016-04-20 12:55] lucadistefano commented on #517
the option is already activated:
innodb_file_per_table=1

as you see the ibdata1 is not big:
root@nbox-demo:~# ll -h /storage/mysql/
total 2,9G
drwx------ 5 mysql mysql 4,0K apr 19 08:59 ./
drwxr-xr-x 4 root  root  4,0K apr  1 11:49 ../
-rw-rw---- 1 mysql mysql **866M** apr 20 11:58 ibdata1
-rw-rw---- 1 mysql mysql 1,0G apr 20 11:58 ib_logfile0
-rw-rw---- 1 mysql mysql 1,0G apr 20 10:42 ib_logfile

[2016-04-20 13:15] Artapel commented on #472
Here is another out of perportionate graph

[cid:image002.png@01D19B17.6AFCF1D0]

Regards
[Corne Kruger]

From: Corne Kruger
Sent: 20 April 2016 02:25 PM
To: 'ntop/ntopng'; ntop/ntopng
Subject: RE: [ntop/ntopng] Cannot log into new install of Ntopng (#472)

Hi Simone

Id like to discuss a change

If you look at the |Network Interfaces: Realtime Traffix) graph. The networks are sticked on top of ea

[2016-04-20 13:41] simonemainardi commented on #518
Flow profile assignment was done only _after_ nDPI L7 protocol detection. This required a minimum of `NDPI_MIN_NUM_PACKETS` (hardcoded at 10). Flows with a number of packets less that 10 (e.g., pings) were not assigned to profiles.

Fix has been introduced. Packages are being build and will be available starting from tomorrow.

[2016-04-20 13:43] #518 closed, assigned to nobody

[2016-04-20 13:44] simonemainardi commented on #519
6fa077c fixes the issue. The root cause is the same as #518

[2016-04-20 13:44] #519 closed, assigned to nobody

[2016-04-20 13:51] simonemainardi commented on #517
you need to `OPTIMIZE TABLE` to reclaim disk space

[2016-04-20 14:03] lucadistefano commented on #517
if optimize table is needed for reclaim space, it should be executed after the drop of the data but
anyway there is another problem: innodb optimize recreates the whole table, if your db has 50 G of data the optimization takes hours and the twice of the space.

Therefore the solution is to use a partitioning at application layer. you can create a table per day and when the table expires you simply

[2016-04-20 14:28] garrymar commented on #496
Works as expected! Thanks.

[2016-04-20 14:32] garrymar commented on #497
Updated to v.2.3.160420. The problem solved. Thanks!

[2016-04-20 14:32] #497 closed, assigned to nobody

[2016-04-20 14:34] garrymar commented on #498
Works as expected. Thanks!

[2016-04-20 14:46] simonemainardi commented on #472
Regarding this issue: Did you manage to log-in? If yes, then please post the solution so that also other users may have a benefit. Thank you.

---

Regarding the other suggestions: please open separate feature requests and include images/screenshots.

[2016-04-20 15:12] simonemainardi commented on #508
you need to make sure ntopng is monitoring an interface that receives all the network traffic you are interested into. If you run ntopng locally on your PC it will very likely show you only the PC traffic and some broadcast.

Here it is explained in detail how to properly feed ntopng with network traffic: http://www.ntop.org/pf_ring/port-mirror-vs-network-tap/

[2016-04-20 15:12] #508 closed, assigned to nobody

[2016-04-20 15:38] simonemainardi commented on #517
Creating a separate table for each day as you are suggesting will cause big headaches when querying. How would you deal with queries that span more than one day? You will be forced to use MySQL Views or `UNION`s or some other aggregation mechanism. I don't think this suggestion is viable.

---

I think a viable solution is to prevent the MySQL database to become bigger than what you can actually h

[2016-04-20 15:51] Artapel commented on #472
Unfortunately not. I'm still fighting.

Where else can
I look for
Logs?

Regards
Corne Kruger
Live in the image if Jesus.

Sent from my iPhone

On 20 Apr 2016, at 4:46 PM, simonemainardi <notifications@github.com<mailto:notifications@github.com>> wrote:

Ragarding this issue: Did you manage to log-in? If yes, then please post the solution so that also other users may have a benefit. Thank you.

--

[2016-04-20 15:52] simonemainardi commented on #510
Please, post mysql server version and mysql configuration file used. Thank you

[2016-04-20 15:59] simonemainardi commented on #472
look in /var/log/ntopng

[2016-04-20 16:57] arrmo opened #520 "Highlight During Select / Zoom"
Hi,

When dragging to select, to zoom in on a (historical) plot, it would be nice if the selected area were highlighted (to make selection easier).

Thanks!

[2016-04-21 09:18] airtwist1 commented on #477
Hi Valentina,

sorry for reopening this  ticket, but we recognised that we run into more problem´s by starting ntopng from cli instead from nbox.

The Problem is, that we loose all our configuration that we set up in ntopng when we start ntopng through cli.

How can we manage this ?

Mit freundlichen Grüßen  / Best regards

Jean Ora

CEO

forcenet-logo_signatur

Force Net GmbH
Borsigstrasse 3-5
D-

[2016-04-21 09:19] lucadistefano opened #522 "JSON Parse error"
Sometimes in log appears the following message:
20/Apr/2016 17:30:48 [Flow.cpp:1545] WARNING: JSON Parse error:
20/Apr/2016 19:22:35 [Flow.cpp:1545] WARNING: JSON Parse error: ��{'�
20/Apr/2016 21:17:13 [Flow.cpp:1545] WARNING: JSON Parse error: p~8 �
20/Apr/2016 21:44:02 [Flow.cpp:1545] WARNING: JSON Parse error: ��%&�
20/Apr/2016 23:06:27 [Flow.cpp:1545] WARNING: JSON Parse error: ��!&�

dat

[2016-04-21 09:24] Artapel opened #523 "Local VLans showing up as remote traffic."
Hi Guys

My Local Vlan`s are showing up as remote traffic.

Any idea as to why this is.
To recreate the issue, just have your Ntop machine between your router a n layer 3 switch with multiple vlans.

Ntop details are as follows.
n2disk.x86_64 0:2.5.160421-4617
nbox.noarch 0:2.3.0-487
nprobe.x86_64 0:7.3.160421-5044
ntopng.x86_64 0:2.3.160421-1100
ntopng-data.noarch 0:2.3.160421-1100

Linux CentOS

[2016-04-21 09:49] simonemainardi commented on #523
not sure what you mean with local VLANs. With ntopng you can define local networks, not local VLANs. Please explain.

[2016-04-21 09:53] lucadistefano commented on #517
I agree, but the question is that the system was reconfigured from scratch 8 days ago with a retention of 2 days but the database has grown constantly.
Now I updated ntopng and wiped all data from ntopng and mysql. I configured a check on fs and mysql for to graph the size of the db in the time.

About 'manual' :-) partitioning, yes we use unions on a very large data : db of ~200GB with unions tha

[2016-04-21 10:01] lucadistefano commented on #512
today I restarted the system from scratch and for a while the info on loc-rem-loc was shown for each  zmq interface.
Then I readded the view -i=view:tcp://10.62.5.111:5552,tcp://10.62.5.111:5553 and the info is disappeared again, even if I select the single interface.

[2016-04-21 10:13] simonemainardi commented on #512
Thank, this is helpful.

If you remove the view once again, will the single ZMQ interfaces show the info?

[2016-04-21 11:20] ValentinaViscarelli commented on #477
@airtwist1
I didn't understand well the problem.
Maybe is your problem is why nbox doesn't manage --online-license-check parameter?

[2016-04-21 11:26] Artapel commented on #523
Thats correct. Its a local network. Where do i set that?

Regards
[Corne Kruger]

From: simonemainardi [mailto:notifications@github.com]
Sent: 21 April 2016 11:50 AM
To: ntop/ntopng
Cc: Corne Kruger; Author
Subject: Re: [ntop/ntopng] Local VLans showing up as remote traffic. (#523)

not sure what you mean with local VLANs. With ntopng you can define local networks, not local VLANs. Please explain.

[2016-04-21 12:04] Artapel commented on #523
Here is my config file btw

-G=/var/tmp/ntopng.pid
-q=
-F mysql;localhost;ntopng;flows;ntopng;
--verbose
--disable-autologout
--dns-mode 1
--local-networks -m "192.168.0.0/24,192.168.1.0/24,192.168.6.0/24,192.168.62.0/24,192.168.63.0/24,192.168.66.0/24,192.168.65.0/24,192.168.62.0/24,192.168.60.0/24,192.168.21.0/24,192.168.13.0/24,192.168.4.0/24,192.168.5.0/24,192.168.1.0/24,192.168.66.0/24,172.18

[2016-04-21 12:17] lucadistefano commented on #512
when I remove the view, still not working

[2016-04-21 12:21] airtwist1 commented on #477
Well, our Problem is, that we´re not able to start ntopng throu the nbox Gui. Because in nBox it says, that our license is not valid, which is not true.

So Valentina told us un workaround to start nbox trough the cli direct on the console to get the license verification. Now, we start ntopng like this through cli

Ntopng –I “tcp://127.0.0.1:5556” –online-license-check

Our Problem now is that whe

[2016-04-21 12:33] lucadistefano opened #524 "remove template list limitation"
in nprobe you can configure a limited number of template fields:
1) the limitation of line length in conf file (usually 2048 chars)
2) the size of packet that carries the value

using zmq (so going beyond the netflow protocol limitation) it would be nice to be able to enable how many fields are needed.
one probe can handle mysql, sip rtp , dns traffic and if you try to enable it all (plus the stan

[2016-04-21 12:58] lucadistefano commented on #516
1)done, let you know if happens again
2)yes user is nobody and all files belongs to  nobody nogroup with -rw-rw-rw-
3)not sure, maybe the 'nDPI RRDs For Local Hosts and Networks' switched to on if the default is off

[2016-04-21 14:10] simonemainardi commented on #523
you config file line is wrong, you have to use the = sign and not twice `--local-networks` and `-m` on the same line:

[code]

If you had looked at the ntopng log you would have found it.

[2016-04-21 14:10] #523 closed, assigned to nobody

[2016-04-21 14:19] ValentinaViscarelli commented on #477
Hi,
I made a change. Now ntopng manages --online-license-check parameter (in ntopng configuration go to last parameter of general section). In this way you want run ntopng by GUI.

Ignore if GUI says that you don't have a valid license. ntopng will work anyway.
In order to update use:

apt-get update
apt-get upgrade

[2016-04-21 14:23] simonemainardi commented on #516
regarding to 3): changes will not affect already created RRDs but only the new ones that get created after the changes.

[2016-04-21 14:40] simonemainardi commented on #500
can you attach nProbe and ntopng configurations as well

[2016-04-21 14:58] arrmo commented on #499
Just an FYI - I'm running the following version, but seem to have the longer list of tables (not just 2 of them)?

v.2.3.160415 [Community Edition]
GIT rev:   :2.3.160415

Or am I missing something?

Thanks!

[2016-04-21 15:03] simonemainardi commented on #499
version should use only one table and migration should occur automatically. If this is not your case, try and delete the mysql db (dump it before deleting if you don't want to lose old data). A new mysql db will be recreated automatically.

[2016-04-21 15:07] arrmo commented on #499
Hi,

Dumped (deleted) the table - and then had to restart the service (no problem). Did that, database was recreated ... with all the tables (flowsv4_0 to flowsv4_5, for example).

Thanks!

[2016-04-21 15:09] simonemainardi commented on #503
make sure nDPI and ntopng sources are in the same directory. You can then run `./configure` inside ntopng to get the list of commands required to download and build nDPI.

Alternatively, rather than building from source, install a packaged version

[2016-04-21 15:10] airtwist1 commented on #477
Ciao Valentina,

sorry, but after apt-get update and upgrade we´re running in the same Problem, that the new Dashboard disapeard and we only see the old Dashboard. The same Problem which we solved before with the parameter –online-license-check …

Mit freundlichen Grüßen  / Best regards

Jean Ora

CEO

forcenet-logo_signatur

Force Net GmbH
Borsigstrasse 3-5
D-93092 Barbing
Tel:  (+49) 9401 - 5398

[2016-04-21 15:24] simonemainardi commented on #499
so you are using an ntopng that is not the one shown above. Double check: perhaps you have another ntopng installation

[2016-04-21 15:27] arrmo commented on #499
That's what I was thinking as well! And it's possible, but here is what I just did (to check),
ps -elF | grep ntop
=> only result is /usr/sbin/ntopng /etc/ntopng.conf

So then,
/usr/sbin/ntopng -V
v.2.3.160415 [Community Edition]
GIT rev:   :2.3.160415

Thoughts?

[2016-04-21 15:51] arrmo commented on #499
Perhaps this syntax (in /etc/ntopng.conf) is the issue?
-F="mysql;localhost;ntopng;flows;user;password"

Thanks!

[2016-04-21 16:06] simonemainardi commented on #499
Here is the piece of code that creates the database as said. It is available in the latest build: https://github.com/ntop/ntopng/blob/dev/src/MySQLDB.cpp#L86

[2016-04-21 16:13] simonemainardi commented on #524
please give an example and a use case

[2016-04-21 16:31] arrmo commented on #499
Makes sense, and I agree - I wonder if this is something messed up with the Ubuntu package (I installed using apt). While executing the program says v2.3, if I look at Ubuntu packages I see ... Package: ntopng (2.2+dfsg1-1build1) [universe]

I admit, not sure what dfsg1 implies.

[2016-04-21 16:33] simonemainardi commented on #509
Presently it is not available but we will introduce this feature at some point. Please feel free to post a feature request.

It contains extra information,. .e.g., ssl certificates, HTTP URLS, etc.

right

`ntopng --help`

yes, in the Pro version there is a whole section for the reports.

It's hard coded but it can be configured: just change line https://github.com/ntop/ntopng/blob/dev/include/nto

[2016-04-21 16:33] #509 closed, assigned to nobody

[2016-04-21 16:39] simonemainardi commented on #503
Closing since the issue cannot be reproduced with the latest dev version. Solution to properly compile from sources has been given. Re-open another issue with full configuration details if you still experience login troubles with the latest dev.

[2016-04-21 16:39] #503 closed, assigned to nobody

[2016-04-21 16:43] simonemainardi commented on #481
I think it is safe to close the issue as the main object has been addressed in the discussion.

Please follow up with @lucaderi if you are interested in Fastbit.

[2016-04-21 16:44] #481 closed, assigned to simonemainardi

[2016-04-21 16:57] simonemainardi commented on #479
no username is send to ntopng. Indeed, there is nothing after the slash in the error shown.

[code]

This means that an empty string has been submitted as the username. This line confirms what I'm saying: https://github.com/ntop/ntopng/blob/dev/src/HTTPserver.cpp#L218

Please, update to the latest package and report the exact procedure you do to login. If you log in via the standard login page, us

[2016-04-21 16:58] simonemainardi commented on #475
Implemented in https://github.com/ntop/ntopng/commit/8a367fac29202735e6c71a27ad4718f3bbab0cd6

[2016-04-21 16:58] #475 closed, assigned to simonemainardi

[2016-04-21 17:00] simonemainardi commented on #463
Implemented in 8a367fa

[2016-04-21 17:00] #463 closed, assigned to ValentinaViscarelli

[2016-04-21 17:36] ValentinaViscarelli commented on #477
But after the update....
Do you have the problem also if you use cli or just with you run with GUI?

[2016-04-21 17:59] ValentinaViscarelli commented on #507
@hemskgren
Could you send me a pcap file that you can capture with tcpdump from the socket where nprobe receive the data?
Obviously you have to set your router in order to send ipfix data.

[2016-04-21 18:15] airtwist1 commented on #477
Yes, after I made apt-get update , apt-get ugrade, then restart OS

Just when i run it in GUI nbox

Mit freundlichen Grüßen  / Best regards

Jean Ora

CEO

forcenet-logo_signatur

Force Net GmbH
Borsigstrasse 3-5
D-93092 Barbing
Tel:  (+49) 9401 - 53989 – 102

Fax.: (+49) 9401 – 53989 - 101
e-mail:  ora@forcenet.de
web:     www.forcenet.de
Amtsgericht Regensburg, HRB 13009
E.USt.Nr.: DE 282 293 04

[2016-04-21 19:04] ValentinaViscarelli commented on #477
but do you set the "Online License Check" flag in ntopng configuration like the screen shot attached below?
Could you post the output of this command "cat /etc/ntopng/ntopng.conf"?

![ntopng](https://cloud.githubusercontent.com/assets/13115771/14720996/5b547d34-0804-11e6-9ba8-0b83a7bc8888.png)

[2016-04-21 20:39] airtwist1 commented on #477
There is no Option to set the flag ….

Mit freundlichen Grüßen  / Best regards

Jean Ora

CEO

forcenet-logo_signatur

Force Net GmbH
Borsigstrasse 3-5
D-93092 Barbing
Tel:  (+49) 9401 - 53989 – 102

Fax.: (+49) 9401 – 53989 - 101
e-mail:  ora@forcenet.de
web:     www.forcenet.de
Amtsgericht Regensburg, HRB 13009
E.USt.Nr.: DE 282 293 041
Geschäftsführer: Jean Ora
This e-mail may contain confident

[2016-04-21 21:11] ValentinaViscarelli commented on #477
I don't think you have the correct version of nbox. Try to do a clean:

apt-get clean all
apt-get update
apt-get upgrade

If you don't still have the flags, please post the output of this command:

dpkg -s nbox

[2016-04-21 21:48] James-LA opened #525 "using DNS_RET_CODE causes page to not properly render due to some variable casting issues"
![screen shot 2016-04-21 at 2 42 07 pm](https://cloud.githubusercontent.com/assets/17343275/14725310/08fccc5a-07d0-11e6-89b1-6ca75deeff5e.png)

[2016-04-21 23:03] arrmo commented on #509
Thanks so much! A few minor thoughts, below.
1) Will do! I'd be happy to try to help out if I can - but I admit, a bit overwhelmed by Lua and the structure of the pages ... :(. I can get the SQL queries working, but getting it on a page will be a challenge ... but willing to try!
5) Will do. BTW, after make ... does make install put things in the right places? If so, I'll remove the Ubuntu version

[2016-04-21 23:53] arrmo opened #526 "Client History (Multiple Clients)"
Hopefully this makes sense ... :). A feature request (that I'd like to help with if possible!)

I would like to be able to plot the top (some number ... say 3, 5, or 10) clients on the subnet. Historical data, such as for an interface (Timeseries), a line chart with the items on top of each other - the top clients over the time period.

Thanks!

[2016-04-22 00:11] arrmo opened #527 ".deb build failure on Ubuntu (16.04 LTS) (?)"
Hi,

OK, trying to get to v2.3 on Ubuntu (16.04 LTS). I cloned ntopng and nDPI (as it tells me to do, this was very helpful!). Installed the required dependencies, and it all built fine (to the make stage), but ... make install worked, but only to be able to run it => not as a service, and no /etc/ntopng.conf (for example). so then I tried to build the .deb (inside packages/ubuntu), as it recommen

[2016-04-22 00:24] arrmo commented on #499
FYI, working fine with manual build - don't believe the version Ubuntu says it is ... ;).

Thanks!

[2016-04-22 05:48] lucaderi commented on #512
note that both nprobe and ntopng must be in sync to recent versions,

[2016-04-22 07:31] Queeq commented on #505
I tested it yesterday and it worked. I think we may close this issue now. I wonder if latest commits resolved #507 too.

[2016-04-22 07:38] Queeq commented on #486
Thank you for the suggestion @seismiccollision, I'll try this today.
Just for the sake of statistics, I've left it working overnight and it now shows as consuming 10.4GB of memory (Virtual), 7640 MB residential, so my virtual machine with 8GB RAM has no free memory left and 4GB more was swapped (normally it consumes around 200 MB). There are around 1 090 000 hosts active in ntopng and around 55k f

[2016-04-22 07:50] airtwist1 commented on #477
The flag still not appear.

ora@fn-ntop:~$ sudo dpkg -s nbox

[sudo] password for ora:

Package: nbox

Status: install ok installed

Priority: optional

Section: free

Installed-Size: 4815

Maintainer: Luca Deri deri@ntop.org

Architecture: all

Version: 2.3-449

Depends: apache2, perl, libtemplate-perl, libcgi-pm-perl, libxml-parser-perl, libhtml-template-perl, libjson-perl, ethtool, tshark, dmid

[2016-04-22 07:54] EAnsy opened #528 "Can't make ntopng due to error in NetworkInterface.cpp:862: undefined reference to ndpi_detection_giveup"
Fresh source (today)
**_git clone https://github.com/ntop/ntopng.git
git clone https://github.com/ntop/nDPI.git_**

Then **_cd nDPI_**
Done **_./autogen.sh_**
Done all commands 1..5 as described in **INSTALL** file there, **OK**.

Then **_cd ../ntopng_**
Done **_./autogen.sh_** OK
Done **_./configure_** OK

Then **_make_** issuing an error below:

`I/root/ntopng/third-party/http-client-c/src/  -DD

[2016-04-22 07:59] Queeq commented on #505
Seems like I was too fast closing it. It had been working for some time but stopped working after the first restart. I'm running nprobe 7.3.160422-5045 and ntopng 2.3.160422-1178. Symptoms are the same.

[2016-04-22 08:02] ValentinaViscarelli commented on #477
Your version is old. I think the nbox package  is in kept-back when you do the upgrade.
Try to remove and install again nbox.

sudo apt-get remove nbox
sudo apt-get install nbox

[2016-04-22 08:20] #525 closed, assigned to nobody

[2016-04-22 08:34] simonemainardi commented on #528
ntopng configure script looks for nDPI in its directory and in its parent directory (https://github.com/ntop/ntopng/blob/dev/configure.seed#L49). However, I can't see these directories listed in `-I`.

ndpi installation is not needed, compilation suffices.

Please, re-run ntopng ./autogen and ./configure and post their output. Also, it looks like you are compiling everything as root.

[2016-04-22 08:42] simonemainardi commented on #510
any news?

[2016-04-22 08:42] simonemainardi commented on #515
@lucadistefano any news here?

[2016-04-22 08:47] simonemainardi commented on #527
Said that 16.04 is not officially supported, you can try the following

[code]

same for `debian.ntopng-data`

[2016-04-22 08:59] lucadistefano commented on #510
mysql  Ver 14.14 Distrib 5.5.49, for debian-linux-gnu (x86_64) using readline 6.3

#

# The MySQL database server configuration file.

#

# You can copy this to one of:

# \- "/etc/mysql/my.cnf" to set global options,

# \- "~/.my.cnf" to set user-specific options.

#

# One can use all long options that the program supports.

# Run program with --help to get a list of available options and with

[2016-04-22 09:00] lucadistefano commented on #512
ntopng and nprobe are both aligned on the same build day

I upgraded to the build of today  but the problem is still present

[2016-04-22 09:19] simonemainardi commented on #510
Very likely your `innodb_buffer_pool_size` is too small. It looks like you have declared `innodb_buffer_pool_size` twice in your config.

I guess the MySQL server takes the second value that is just 80M.

Make sure to raise it to 1G at least and check it via

[code]

---

You also said you don't care about transactions so I am not sure why you keep the bin logs for 10 days. Also the transaction is

[2016-04-22 09:19] Artapel commented on #523
Not all the Vlans are showing up as expected

Any ideas why?

[cid:image001.png@01D19C88.D58F7910]

Regards
[Corne Kruger]

From: simonemainardi [mailto:notifications@github.com]
Sent: 21 April 2016 04:11 PM
To: ntop/ntopng
Cc: Corne Kruger; Author
Subject: Re: [ntop/ntopng] Local VLans showing up as remote traffic. (#523)

Closed #523https://github.com/ntop/ntopng/issues/523.

—
You are receiving

[2016-04-22 09:22] simonemainardi commented on #523
too generic. give exact configuration used and what you think it is not showing up. Include screenshots as well if you think this can help.

[2016-04-22 09:28] Artapel commented on #523
Here is my exact config

vim /etc/ntopng/ntopng.conf
-G=/var/tmp/ntopng.pid
-q=
-F mysql;localhost;ntopng;flows;ntopng;
--verbose
--disable-autologout
--dns-mode 1
-m=192.168.0.0/24,192.168.1.0/24,192.168.6.0/24,192.168.62.0/24,192.168.63.0/24,192.168.66.0/24,192.168.65.0/24,192.168.62.0/24,192.168.60.0/24,192.168.21.0/24,192.168.13.0/24,192.168.4.0/24,192.168.5.0/24,192.168.1.0/24,192.168.66.0/24

[2016-04-22 09:42] simonemainardi commented on #523
a VLAN shows up only where there's some traffic tagged with it

[2016-04-22 10:04] lucadistefano commented on #517
when I should expect the deletion of rows, it is triggered at defined time or constantly ? I have setted retention 1d.

thanks

[2016-04-22 12:25] Artapel commented on #472
Any ideas on this?

Regards
[Corne Kruger]

From: Corne Kruger
Sent: 20 April 2016 02:25 PM
To: 'ntop/ntopng'; ntop/ntopng
Subject: RE: [ntop/ntopng] Cannot log into new install of Ntopng (#472)

Hi Simone

Id like to discuss a change

If you look at the |Network Interfaces: Realtime Traffix) graph. The networks are sticked on top of each other. This make sit very difficult to really see the usage

[2016-04-22 13:19] simonemainardi commented on #472
you have to provide the logs as already indicated.

[2016-04-22 13:34] Artapel commented on #472
Ignore the Subject line. Check the mail below

Regards
[Corne Kruger]

From: simonemainardi [mailto:notifications@github.com]
Sent: 22 April 2016 03:19 PM
To: ntop/ntopng
Cc: Corne Kruger; Mention
Subject: Re: [ntop/ntopng] Cannot log into new install of Ntopng (#472)

you have to provide the logs as already indicated.

—
You are receiving this because you were mentioned.
Reply to this email direc

[2016-04-22 13:49] Artapel commented on #472
Hi Simone

Id like to discuss a change

If you look at the |Network Interfaces: Realtime Traffix) graph. The networks are sticked on top of each other. This make sit very difficult to really see the usage of the network. Our (Light blue – Neotel 15MB enp1s0f0) is only a 15MB line in total. But on the grap hits reaching 24 and above as per the graph, which confuses everyone.
The same with the rest

[2016-04-22 13:49] lucadistefano commented on #515
in the history when you click on flows tab the setting of live flows tab is lost

[2016-04-22 13:50] lucadistefano commented on #517
after 1d and 6 hours I don't see row deletions:
| Innodb_rows_deleted                      | 0            |
| Innodb_rows_inserted                     | 7151365      |

can I force the cleanup?

[2016-04-22 14:04] lucadistefano commented on #524
try to put this template in the nprobe configuration file on a linux machine:
-T=%IN_BYTES %IN_PKTS %PROTOCOL %PROTOCOL_MAP %SRC_TOS %TCP_FLAGS %L4_SRC_PORT %L4_SRC_PORT_MAP %IPV4_SRC_ADDR %IPV4_SRC_MASK %INPUT_SNMP %L4_DST_PORT %L4_DST_PORT_MAP %L4_SRV_PORT %L4_SRV_PORT_MAP %IPV4_DST_ADDR %IPV4_DST_MASK %OUTPUT_SNMP %IPV4_NEXT_HOP %SRC_AS %DST_AS %LAST_SWITCHED %FIRST_SWITCHED %OUT_BYTES %OUT_PKT

[2016-04-22 14:18] lucadistefano opened #529 "json data non visible on flow read from db"
perform a query with historical data explorer and select a flow.
If you try to display the info of the flow you get:

![image](https://cloud.githubusercontent.com/assets/1080723/14743943/a32d61ca-08a4-11e6-8970-904909ffccbb.png)

and you don't see any json data

[2016-04-22 14:39] lucaderi commented on #505
Without a pcap I can't help much

[2016-04-22 14:42] Queeq commented on #505
@lucaderi Please check your e-mail, I sent it to the e-mail in your Github profile on the 19th of April, 15:10 UTC. The subject was "ntopng issue #505 flows pcap".

[2016-04-22 14:45] simonemainardi commented on #524
this is an nProbe limitation, you should refer to: https://github.com/ntop/nProbe/issues

[2016-04-22 14:45] #524 closed, assigned to nobody

[2016-04-22 15:04] simonemainardi commented on #529
Thanks for reporting. Now lua tables are rendered as strings. Update will be available in the forthcoming nightly build.

[2016-04-22 15:04] #529 closed, assigned to nobody

[2016-04-22 15:44] simonemainardi commented on #517
cleanup should start at midnight local time provided that ntopng is running. Script is daily.lua

[2016-04-22 16:01] James-LA opened #530 "Request: provide SSL cipher information while exporting flows"
Currently, nprobe is unable to tell us which ciphers the user is utilizing when utilizing ssl, nprobe would have a great value added feature by adding the ability to provide which ciphers the client is using at the time.  this would allow admins to be able to force upgrades or even lock down weak ciphers or just for reporting purposes and security purposes which ciphers are being used.

[2016-04-22 16:41] hemskgren commented on #507
[ipfix-ntop.zip](https://github.com/ntop/ntopng/files/232211/ipfix-ntop.zip)

[2016-04-22 19:00] arrmo commented on #527
No luck, but I understand - no Ubuntu 16.04 yet.

Thanks!

[2016-04-22 19:01] lucaderi commented on #527
@arrmo I am working at it. Stay tuned

[2016-04-22 19:18] arrmo commented on #527
Thanks! Yell if you want me to test something out - happy to help if I can!

[2016-04-23 06:13] airtwist1 commented on #477
Ciao Valentina,

Grazie, now IT works!

Best regards
Jean

Am 22.04.2016 um 10:02 schrieb ValentinaViscarelli <notifications@github.com<mailto:notifications@github.com>>:

Your version is old. I think the nbox package is in kept-back when you do the upgrade.
Try to remove and install again nbox.

sudo apt-get remove nbox
sudo apt-get install nbox

—
You are receiving this because you were mentione

[2016-04-23 08:18] lucaderi commented on #527
Fixed by https://github.com/ntop/ntopng/commit/a4d527ff9ee17374b9596ae799053fa2af74964b

[2016-04-23 17:28] arrmo commented on #527
FYI, I updated git (git fetch), and tried to recompile - same error. Do I need to do something special?

Thanks!

[2016-04-23 17:36] lucaderi commented on #527
Please post a log

[2016-04-23 17:37] arrmo commented on #527
It's all working to this point (and ntopng itself builds fine),

cp -r ../etc/ ./usr/ ./debian/tmp
cp: target './debian/tmp' is not a directory
debian/rules:38: recipe for target 'binary-arch' failed
make: **\* [binary-arch] Error 1
dpkg-buildpackage: error: fakeroot debian/rules binary gave error exit status 2
Makefile:10: recipe for target 'ntopng' failed
make: **\* [ntopng] Error 2

Thanks!

[2016-04-23 17:40] lucaderi commented on #527
You are using old code or the stable release

[2016-04-23 17:42] arrmo commented on #527
Ahhh ... that's very possible. Are you on the dev branch? If so, no issues - and sorry for the confusion.

Thanks!

[2016-04-23 17:45] lucaderi commented on #527
Sure I am on dev branch

[2016-04-23 17:45] #527 closed, assigned to nobody

[2016-04-23 23:27] yurivict opened #531 "Latest version?"
I would like to create/update the FreeBSD port. However it isn't obvious (to me) what the latest version is.

The latest FreeBSD port version is ntop-5.0.1 from sourceforge. Arch takes ntopng-2.2 from sourceforge.

Could you please add the note to the README what the latest recommended version is (or just make a release)?

[2016-04-24 03:16] techmad opened #532 "ntopng doesnt auto start properly on boot on raspberry pi"
I found ntopng does not stay started after reboot on Rasberry Pi. I think because no hardware clock.

[code]

Because Rasberry doesn't come with hardward clock by default, it takes a while for NTP to come into sync from factory default old date. Firstly the RRD inserts fails being earlier than last update (before boot) as seen above.

But it seams ntopg process also stops also when the time gets u

[2016-04-24 03:26] techmad commented on #532
Nope.. didn't work..
Just hangs the startup process now after reboot..

[code]

I know this is more of a Raspberry pi / debian issue to resolve, but since ntopng officially supported  on ARM, and ntopng controls the init.d script source, any suggestions??

I have licensed copy, and used ntopng shop install instructions.

[2016-04-24 08:20] lucaderi commented on #531
@yurivict Thanks for contacting us. Please note that there is a similar ongoing activity https://github.com/ntop/ntopng/issues/297 @madpilot78

ntop is EOL. Please use the latest development code you find here on github (dev branch).

[2016-04-24 08:20] #531 closed, assigned to nobody

[2016-04-24 08:24] lucaderi commented on #532
I assume that you have set the time before starting ntopng, and thus I do not believe this is a ntopng issue. If you have a patch for Raspberry please share it with us via a pull request.

[2016-04-24 08:42] techmad commented on #532
Raspberry does have hardware clock, unless you buy/add module. So it’s not a matter of just ‘setting the time’ once.
Raspberry Pi basically gets it correct time on every boot from NTP

Your init script starts ntopng embedded version straight away… which a) starts to fails RRD updates since time insert is before last update time of RRD file.
Those errors are fine, until clock gets updated, but b) i

[2016-04-24 09:01] lucaderi commented on #532
This is a bug and it must be fixed regardless of the installation support time window. Now I understand the problem after your second explanation. Let me see what I can do. Stay tuned.

[2016-04-24 09:20] techmad commented on #532
Great!   For reference it was a clean install Raspbian - Jessie Lite - 2016-03-18   Kernel 4.1
Stock install as per: http://packages.ntop.org/RaspberryPI/

Hopefully it can be replicated by simple reboot. ntopng crashes I think when NTP updates.

In case not replicated, from stock ntopng install I added only this to config:

-i=bridge:eth1,eth2
-m="10.0.0.0/8"
-F="mysql;localhost;ntopng;flows;root

[2016-04-24 09:44] techmad commented on #532
Ok, this is strange. I removed MYSQL and bridge and ntopng started OK after reboot.
I then put back config back in and ntopng seams to have started (twice tested) without crash.

Sorry, maybe this is not a bug after all. Maybe in my other failures (tested multiple times over one hour) the debian default  NTP servers had more a delayed response getting time perhaps. But it appears to be rebooting j

[2016-04-24 10:38] lucaderi commented on #532
Closed. Will be reopen if necessary. Thanks for reporting it.

[2016-04-24 10:38] #532 closed, assigned to lucaderi

[2016-04-24 10:39] techmad commented on #532
Hi, I tried to simulate the same problem by disabling internet to delay NTP during boot. I could not replicate issue. I see Raspberry Pi still has current and correct date even without NTP internet.
Which I don't understand since there is no hwclock.

[code]

I did however install ntpdate when trying to fix the issue before using 'ntp-wait'

[code]

Perhaps close this bug for now until someone els

[2016-04-24 14:43] steste640 opened #534 "Incompatibilità apache 2.4.6 e nbox"
After an apache 2 update from version 2.2 to 2.4 NBOX on port 80 he has stopped responding.
While on port 3000 ntopng meets regularly if you try to start the apache server that responds:
NameVirtualHost has no effect and will be removed in the next release
/etc/httpd/conf.d/nbox.conf

Dopo un'aggiornamento di apahce 2 dalla versione 2.2 alla 2.4 nbox sulla porta 80 ha cessato di rispondere.
Mentre

[2016-04-24 20:12] madpilot78 commented on #297
I have made a new version of the port, anyone interested in testing it can download the files from here:

http://www.madpilot.net/~mad/ntopng_port.txz

The port installs today's snapshot from github, from branch 2.2. It also includes this patch I sent a pull request for:

https://github.com/ntop/ntopng/pull/533

If anyone tests this please report back.

Thanks!

[2016-04-24 20:19] lucaderi commented on #297
Pull requests have been merged in the dev branch.

[2016-04-24 20:37] madpilot78 commented on #297
Thanks!

[2016-04-24 21:37] lucaderi commented on #505
@Queeq Look like the pcap you sent me contains flows but not templates. Please try again.
![screen shot 2016-04-24 at 23 36 03](https://cloud.githubusercontent.com/assets/4493366/14770590/78e76820-0a75-11e6-9d4d-a21bbfb2f71b.png)

[2016-04-25 07:52] hemskgren commented on #507
Hi

starting nprobe v.7.3.160425 (r5052) with the following. "-b 2"

# /usr/local/bin/nprobe --zmq tcp://127.0.0.1:5556 -b 2 -i none -n none --collector-port 2001

log discard reciving ipfix.

25/Apr/2016 09:46:40 [collect.c:368] Received flow with invalid count [sentPkts: 0][sentOctets: 0]: discarded [num_flows: 2027]
25/Apr/2016 09:46:40 [collect.c:368] Received flow with invalid count [sentPkts

[2016-04-25 07:55] lucaderi commented on #507
![screen shot 2016-04-25 at 09 54 11](https://cloud.githubusercontent.com/assets/4493366/14777167/b15a7d0e-0acb-11e6-8eab-534ee4d24c59.png)

As you can see the flows do not contain bytes+packets as expected, Please make sure your flow source exports them. Due to this, nprobe complains.

[2016-04-25 08:49] filemoon opened #536 "No data for Network Interfaces: realtime and Last Day view"
Hi.

ntopng is connected to nprobe (over ZMQ).

Network Interfaces: Realtime Traffic is empty
Network Interfaces: Last Day View empty too
Status from bottom of the screen has no data too (other data/information is visible and working well).

![screen shot 2016-04-25 at 09 44 51](https://cloud.githubusercontent.com/assets/14888287/14778366/70e35026-0aca-11e6-9ca5-2e643d91e94a.jpg)

![screen shot 20

[2016-04-25 08:56] lucaderi commented on #536
Please update first ntopng and nProbe and if not working, please report your configuration

[2016-04-25 09:03] filemoon commented on #536
Updated to very latest available version (from your repository: deb http://packages.ntop.org/apt/jessie_pi/ armhf/, deb http://packages.ntop.org/apt/jessie_pi/ all/).

![screen shot 2016-04-25 at 10 02 33](https://cloud.githubusercontent.com/assets/14888287/14778794/e6065fa4-0acc-11e6-9ae1-0972a4820ed5.jpg)

ntopng config:
-G=/var/run/ntopng.pid
-d=/mnt/pqi/ntopng
-i=tcp://127.0.0.1:5556
--local-n

[2016-04-25 12:05] EAnsy commented on #503
Latest ntopng Community v.2.3.160425
Problem is still here.
Redis has been upgraded too.

[2016-04-25 17:04] seismiccollision commented on #500
@simonemainardi
I've been using this for nprobe:
`nprobe --zmq=tcp://*:5556 -i none -n none --collector-port 6343 -T"%IPV4_SRC_ADDR %IPV4_DST_ADDR %IPV4_NEXT_HOP \%INPUT_SNMP %OUTPUT_SNMP %IN_PKTS %IN_BYTES %FIRST_SWITCHED \%LAST_SWITCHED %L4_SRC_PORT %L4_DST_PORT %TCP_FLAGS %PROTOCOL \%SRC_TOS %SRC_AS %DST_AS %IPV4_SRC_MASK %IPV4_DST_MASK  \%IN_SRC_MAC %OUT_DST_MAC \%SRC_VLAN %DST_VLAN" >> /dev/n

[2016-04-25 17:23] seismiccollision commented on #500
@simonemainardi
FWIW I updated to the latest version and the issue improved until I adjusted the 'interface speed' parameter in the webui

now i am seeing the following
![image](https://cloud.githubusercontent.com/assets/9156430/14792541/97d70290-0acf-11e6-9836-1aa62cb9adfd.png)

i had the interface speed set to 10000Mbps but once things started working it was showing >20Gbps so I adjusted it to 7

[2016-04-25 19:40] arrmo commented on #297
Hi,

FYI, downloaded and tried to install the txz file above => got the following error message,

pkg: ntopng_port.txz is not a valid package: no manifest found
Failed to install the following 1 package(s): ntopng_port.txz

Did the install work for others?

[2016-04-25 20:27] madpilot78 commented on #297
I should have explained better, that file isn't a binary package, it's an archive of the port directory. You should extract it in /usr/ports/net, it will create an ntopng directory you can switch to and run "make install" into.

I'm interested in testing of the port.

Anyway, if you want to, and you're ok with running binaries from me I can create a binary package for you, I just need to know whic

[2016-04-26 00:09] Andrew17856 commented on #297
@madpilot78.   Thanks for this.  Can I check: is this a bare port of ntopng or a specific build for pfSense?  The ntopng version running on pfSense 2.2.x had a user interface within pfSense (in addition to the user interface of ntopng itself).

[2016-04-26 02:44] arrmo commented on #297
Hi,

I kinda wondered if that was what it was. I can try to build it, but I'm on pfSense ... not sure there are many / any build tools. I know my way around Linux quite well, not so much with BSD ... :(.

It's 10.3-RELEASE, does that help?

Thanks!

[2016-04-26 05:46] hemskgren opened #537 "ntop rpm key"
Have you change rpm key or is it some issue?

warning: /var/cache/yum/x86_64/7/ntop/packages/nprobe-7.3.160426-5062.x86_64.rpm: Header V4 RSA/SHA1 Signature, key ID d1eb60be: NOKEY                      ]  0.0 B/s | 474 kB  --:--:-- ETA
Public key for nprobe-7.3.160426-5062.x86_64.rpm is not installed

Retrieving key from http://www.nmon.net/centos/RPM-GPG-KEY-deri

The GPG keys listed for the "nto

[2016-04-26 06:57] inetactief commented on #470
Mikrotik support ask me? can you specify what you exactly are not receiving:
*) interface speed (data tx/rx)
*) interface speed (maximum transferable amount)
Can somebody help me? It wil be nice to view al functions from the mikrotik see in ntopng :+1:

[2016-04-26 07:43] madpilot78 commented on #297
This is a plain FreeBSD port.

The ntopng port was removed a little while ago and I wanted to bring it back. I have no experience building packages for pfsense. But in the past having a FreeBSD port was a requirement for pfsense packages, I don't know if that's still the case.

[2016-04-26 08:15] Andrew17856 commented on #297
Yes it is.  There needs to be a working port before it can be released as a pfSense package.  Thanks.

[2016-04-26 08:21] simonemainardi commented on #536
@filemoon introduced some enhancements to properly show interface speed even when nprobe is used as collector of some other device.

We just have to rebuild embedded packages.

@lucaderi could you please fire a package rebuild for http://packages.ntop.org/apt/jessie_pi/armhf/

thank you.

[2016-04-26 08:23] simonemainardi commented on #512
fixed in https://github.com/ntop/ntopng/commit/8a69147ddacba5e715e026d1af6401b990345727

[2016-04-26 08:23] #512 closed, assigned to nobody

[2016-04-26 08:32] simonemainardi commented on #470
@inetactief we made some enhancements to the latest dev versions in order to capture the interface speed even when the nprobe is used as a collector of netflow devices.

please, make sure to upgrade both ntopng and nprobe.

[2016-04-26 08:35] simonemainardi commented on #483
the latest dev versions of nprobe and ntopng contains enhancements that address your issue

Commits are:
- https://github.com/ntop/ntopng/commit/8a69147ddacba5e715e026d1af6401b990345727
- https://github.com/ntop/ntopng/commit/89ea597be36075ffcbbd52ecfd2e89fd8f7efad0

Please upgrade software to the latest nightly builds.

[2016-04-26 08:35] #483 closed, assigned to nobody

[2016-04-26 09:22] soutieslak commented on #297
I have been following this thread, and am very excited. The progress you guys are making is unreal! Keep it up!

I can help test if it is released as a pfSense package.

[2016-04-26 10:03] filemoon commented on #536
Thank you ;)

I will test it as soon as it will be available.

[2016-04-26 15:00] jean-christophe-manciot opened #538 "IpAddress.cpp:158:31: error: ‘struct ndpi_in6_addr’ has no member named ‘u6_addr’"
Ubuntu 16.04 4.4.0
ntopng commit c7d695b788ce4797123f35e1a7e2253e4cbb735b (stable 2.2)

[code]

**Log**:
[Compiling 2.2.txt](https://github.com/ntop/ntopng/files/236876/Compiling.2.2.txt)

[2016-04-26 15:51] simonemainardi commented on #538
hi, try and update nDPI first.

[2016-04-26 20:22] filemoon commented on #536
v.2.3.160426 - small difference.

Network Interfaces: Realtime Traffic - no data
Network Interfaces: Last Day View - no data
- data for interface - green colour
- no data for gauge interface - red colour

![screen shot 2016-04-26 at 22 27 43](https://cloud.githubusercontent.com/assets/14888287/14834965/2cfcf8c2-0bff-11e6-8631-98b9d52d5424.jpg)

[2016-04-26 21:39] ValentinaViscarelli commented on #534
Please after updating of httpd to 2.4 version please remove and install again nbox.
So run these commands:
- yum remove nbox
- yum install nbox

If you have problem with gpg keys add --nogpgcheck
yum install --nogpgcheck nbox

This should fix your problem. Let us know.

[2016-04-27 05:49] EAnsy commented on #528
Well, without nDPI' **_make install_** all ntopng **_make_** process finished OK!
But I would be glad to see this note in documentation.

[2016-04-27 05:49] #528 closed, assigned to nobody

[2016-04-27 06:07] EAnsy opened #539 "Can't login, after restart drops all configuration changes, DEFAULT admin password"
Fresh compiled ntopng:
`v.2.3.160425 [Community Edition]
GIT rev:   dev:766ea9840ac76aeb9441e7fbf25696fa29d104d9:20160425`
Redis has been upgraded too (redis-cli 3.0.7)
`Linux berms 3.4.67-smp #2 SMP Sat Oct 26 22:36:46 EEST 2013 i686 Intel(R) Celeron(R) CPU 2.66GHz GenuineIntel GNU/Linux`
Updated Slackware-based server (32-bit) SMS (http://sms.it-ccs.com)

After some time working can't login anym

[2016-04-27 06:41] jean-christophe-manciot opened #540 "Flow.cpp:1984: undefined reference to `ndpi_strnstr`"
Ubuntu 16.04 4.4.0
git commit 4cd701feb5c384f268497eab434913b48645f5b3 with already built ndpi git commit 1b9aa2ab712dd9092040723e7d9edb2001209724

[code]

[2016-04-27 08:37] simonemainardi commented on #539
hi, thanks for reporting. It looks like your redis cache has been flushed and so ntopng started using default settings. However, ntopng _never_ flushes redis on its own. For this reason it is likely that some operation on your system has flushed redis. You should check, maybe it is something related to the redis upgrade.

[2016-04-27 08:39] simonemainardi commented on #479
Support given. No feedback or information provided in 6 days. Closing for inactivity. If you are still experiencing the issue please open another issue with the requested information.

[2016-04-27 08:39] #479 closed, assigned to nobody

[2016-04-27 08:41] simonemainardi commented on #490
No feedback received. Closing for inactivity.

[2016-04-27 08:41] #490 closed, assigned to ValentinaViscarelli

[2016-04-27 08:43] simonemainardi commented on #510
I think it is safe to close this issue as it appears to be related to the MySQL configuration.

[2016-04-27 08:43] #510 closed, assigned to nobody

[2016-04-27 09:35] simonemainardi commented on #538
I have tested ntopng source compilation on ubuntu 16: everything works as expected.

[code]

Make sure to:
- build nDPI first (ntopng will tell you the instructions: `Please do cd ..; git clone https://github.com/ntop/nDPI.git; cd nDPI; ./autogen.sh; make; cd ../ntopng`)
- build ntopng (./autogen.sh && ./configure make geoip and then make)

Detailed updated readme can be found at: https://github.c

[2016-04-27 09:35] #538 closed, assigned to nobody

[2016-04-27 09:37] simonemainardi commented on #540
see this: https://github.com/ntop/ntopng/issues/538

you should make sure to keep nDPI and ntopng aligned by using their latest dev versions.

[2016-04-27 09:37] #540 closed, assigned to nobody

[2016-04-27 09:42] simonemainardi commented on #522
@lucadistefano can you please make sure to use the latest dev versions of both nprobe and ntopng? We have made some changes on the ZMQ compression. Please, let us know if you still experience the issue. Thank you.

[2016-04-27 09:43] simonemainardi commented on #516
@lucadistefano any news? Did you sort the issue with empty RRDs? Was that related to file system permissions?

[2016-04-27 10:19] jean-christophe-manciot commented on #540
As already stated in the first post, I have successfully built the last git commit of ndpi.
It may be noteworthy to notice that I have configured **ndpi** with an option:

[code]

However, I still experience this issue with **ntopng**:

[code]

The full log:
[Compiling 2.2.1~git.txt](https://github.com/ntop/ntopng/files/238430/Compiling.2.2.1.git.txt)

[2016-04-27 10:31] simonemainardi commented on #540
build is successful even with `with-pic`. The enclosed file name 2.2.x suggest me that you are not using the latest ntopng dev version.

[2016-04-27 11:35] jean-christophe-manciot commented on #540
I just made up that version, because there's no official number that I'm aware of after 2.2.
If "Updated sign key" is not the last commit, then the latest has not been committed on the github site: https://github.com/ntop/ntopng

[2016-04-27 12:52] filemoon commented on #536
Today after box was restarted is working very same was as before - no traffic is present including (green box).

Just for clarification:
Realtime Top Application Traffic - ok
Top Application Traffic Last Day View - ok
Top Local Talkers + Actual Traffic - ok
Top Remote Destinations+ Actual Traffic -ok

Network Interfaces: Realtime Traffic - no data
Network Interfaces: Last Day View - no data
+
no d

[2016-04-28 06:58] filemoon commented on #536
And another warnings from recent build.

Apr 28 07:10:17 Odroid-C2 ntopng[691]: [Lua.cpp:4598] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/minute.lua][/usr/share/ntopng/scripts/callbacks/minute.lua:217: '/var/lib/ntopng/0/rrd/10/0/1/110/DNS.rrd' is too small (should be 154744 bytes)]
Apr 28 07:15:18 Odroid-C2 ntopng[691]: [Lua.cpp:4598] WARNING: Script failure [/usr/share/ntopng/s

[2016-04-28 09:01] lucaderi commented on #537
please go to http://packages.ntop.org/centos/ and re-follow the instructions for setting up packages. We have updated the GPG key and moved to new site packages.ntop.org.

[2016-04-28 09:01] #537 closed, assigned to nobody

[2016-04-28 09:03] lucaderi commented on #516
Closing for inactivity. Will reopen if necessary.

[2016-04-28 09:03] #516 closed, assigned to nobody

[2016-04-28 09:03] lucaderi commented on #522
We have made a few changes to ZMQ and you need to have both ntopng and nprobe in sync. I believe if you do that the problem will disappear

[2016-04-28 09:04] lucaderi commented on #505
Closing for inactivity. Will reopen if necessary.

[2016-04-28 09:04] #505 closed, assigned to lucaderi

[2016-04-28 09:15] Queeq commented on #505
@lucaderi Sorry, I was on vacation during the last days. I've just (minutes ago) managed to include templates into the Netflow packets from our routers and will shortly send the traffic dump by e-mail to you.

For now, just for reference for other people exporting IPFIX from Juniper routers, the following is the configuration that is necessary to include templates together with flows:

[code]

Not

[2016-04-28 13:47] colorlessprism commented on #536
Chiming in to say I have this issue as well. CentOS 7. If I 'systemctl restart ntopng' enough times I can get the uptime to appear. Eventually I removed the ntopng service, rebooted, re-added the ntopng service, and rebooted. Then the gauge, traffic readout, and up time were displayed until I closed the browser and opened a new browser on a second computer on a different subnet. Then I was back to

[2016-04-28 15:36] jean-christophe-manciot commented on #540
Something very strange has happened: compiling ntopng **without** ndpi passes; if I build & install from last commit of ndpi again, ntopng compilation experiences the same error!
How can that be even possible & have you compiled ntopng with the latest commit of ndpi built & installed?

[2016-04-28 15:37] jean-christophe-manciot commented on #540
Log:
[ntopng built without ndpi.txt](https://github.com/ntop/ntopng/files/240868/ntopng.built.without.ndpi.txt)

[2016-04-28 16:30] seismiccollision commented on #486
@Queeq Did those settings help at all?

[2016-04-28 16:40] Queeq commented on #486
@seismiccollision It's difficult to say because my tests failed due to #505. I'll update this thread once it's resolved.

[2016-04-28 20:48] filemoon commented on #536
![screen shot 2016-04-28 at 21 35 32](https://cloud.githubusercontent.com/assets/14888287/14900700/db4e52e6-0d89-11e6-9859-c6ab01f15850.jpg)

Interface home screen for reference - received traffic is also 0 (but traffic breakdown graph is alive)

![screen shot 2016-04-28 at 21 48 05](https://cloud.githubusercontent.com/assets/14888287/14900933/e91736e4-0d8a-11e6-9f2c-629e46d2c480.jpg)

[2016-04-29 09:06] tianzhishuizhu opened #541 "The whole work of ntopng"
I can only see that ntopng does the work of analysing how much traffic the specific application on the specific host produces.Is it the main purpose of ntopng and even the whole purpose?

[2016-04-29 09:36] lucaderi commented on #541
This is just one of the many things that ntopng does, but it is not the only one. ntopng is traffic monitor application you can use to analyse QoS and QoE as well to troubleshoot network problems

[2016-04-29 09:36] #541 closed, assigned to nobody

[2016-04-29 10:20] tianzhishuizhu commented on #541
@lucaderi  Thanks! Have the functionality mentioned above accomplished in the current version of ntopng?

[2016-04-29 11:57] jmunty opened #542 "No Data Available -- Windows -- Netflow"
Hi
I've had a really good go at this, but can't seem to make it work.

Windows 2012 R2
nProbeWin-x64-7.3.160319.zip
ntopng-2.3.160319-x64.zip

I've read both manuals over a couple of times

The nprobe manual says that for using ntopng with nprobe you should use the following config:
ntop Configuration
`ntopng -i tcp://127.0.0.1:5556`
nProbe Configuration

[code]

I then did the following
- ran the

[2016-04-29 12:02] jmunty commented on #542
oh yeah i also tried deleting the nprobe temp files in C:\Windows\Temp\0 and restarting ntop but that didnt work.

Also the NTOP GUI did work once for a couple of minutes. I stopped it thinking that i was nearly done with the configuration. but i've never been able to get it working this way since... The combination i used was as below:

[code]

[2016-04-29 12:17] jmunty commented on #542
btw i am using a trial licence for both ntopng and nprobe.
the licence for nprobe is in c:\program files\nprobe and is recognized when nprobe starts up

the licence for ntopng i inserted in the GUI and it seems to stay there even when i create/delete the service or run it from command line

I also tried typing in all commands by hand rather than copy/paste

This is what ntopng looks like when star

[2016-04-29 15:37] Queeq commented on #539
Wouldn't it be more reliable to store this data somewhere else?

[2016-04-29 17:38] simonemainardi commented on #539
We use redis as it's the fastest persistent cache around.

On our side we may add authentication to redis. On your side you should make sure redis is accessible only from localhost and avoid executing scripts/updates that automatically clear redis data.

[2016-04-29 17:38] #539 closed, assigned to nobody

[2016-04-29 20:49] steste640 commented on #534
After reinstalling NBOX now the apache server start. On port 80 no the NBOX screen appears. At the start the httpd server by this error but is started.
systemd: Starting the Apache httpd server .....
httpd: AH00548: namevirtualHosts has no effect and will be removed in the next release /etc/httpd/conf.d/nbox.conf:1
Started the apache http server

[2016-04-30 08:39] lucaderi commented on #541
Sure. Time for you to run ntopng

[2016-04-30 08:53] ValentinaViscarelli commented on #534
The error you reported isn't an error, but it is just a warning. I also have this warning but it works for me.
Said that, please send me  the output output these commands:
- ls /ect/httpd/conf.d
- systemctl status httpd

[2016-04-30 12:48] steste640 commented on #534
1
[root@ntop conf.d]# ls
autoindex.conf  manual.conf  nbox.conf.rpmsave  nbox.ssl.conf.rpmsave  README            userdir.conf
fcgid.conf      nbox.conf    nbox.ssl.conf      phpMyAdmin.conf        ssl.conf.disable  welcome.conf.disable

2
[root@ntop conf.d]# systemctl status httpd.service
● httpd.service - The Apache HTTP Server
   Loaded: loaded (/usr/lib/systemd/system/httpd.service; enabled; v

[2016-04-30 13:20] ValentinaViscarelli commented on #534
I see that apache is running properly but I also see you have other .conf file that could be in conflict with nbox on http (port 80) for example (please read README file in /etc/httpd/conf.d folder to understand how apache load the configuration file):

manual.conf
fcgid.conf
phpMyAdmin.conf

When you install apache configuration you should check for conflict.
Anyway you can try to use https (in f

[2016-04-30 13:34] ValentinaViscarelli commented on #534
@steste640
Sorry but I didn't understand if nbox properly works on port 80.
Does it work?

[2016-04-30 15:54] steste640 commented on #534
No, the door 80 does not reach any page. Instead the 3000 ntop works.

[2016-04-30 16:11] steste640 commented on #534
The problem was that httpd worked default in ipv6.
I modified nbox.conf
Listen 80
in
Listen 0.0.0.0:80

and nbox.ssl.conf
Listen 443
in
Listen 0.0.0.0:443
Now the server listens on ports but does not reach any page.
In that say the web pages NBOX located?

[2016-04-30 16:36] steste640 commented on #534
[Sat Apr 30 18:27:47.742001 2016] [ssl:warn] [pid 13762] AH01873: Init: Session Cache is not configured [hint: SSLSessionCache]

[2016-04-30 17:33] steste640 opened #543 "new release yum report error key"
last upgrade problem

[root@ntop conf.d]# yum update
Plugin abilitati:fastestmirror, langpacks
Loading mirror speeds from cached hostfile
- base: mirrors.prometeus.net
- epel: mirror.23media.de
- extras: mirrors.prometeus.net
- updates: mirrors.prometeus.net
  Risoluzione dipendenze
  There are unfinished transactions remaining. You might consider running yum-complete-transaction, or "yum-complete

[2016-05-01 07:33] lucaderi commented on #543
Please remove all packages and install them again. @ValentinaViscarelli Do you have suggestions?

[2016-05-01 09:13] ValentinaViscarelli commented on #534
@steste640
I see you have other .conf file that could be in conflict with nbox on http (port 80) for example:

manual.conf
fcgid.conf
phpMyAdmin.conf

We configure port 80 just to do a redirection on 443 port. Actually the real nbox site goes on https protocol. So first of all try to access directly with https (for example https://locahost if you are in the same machine).

If this doesn't  work pl

[2016-05-01 10:16] ValentinaViscarelli commented on #543
@lucaderi
remove all packages and install them again doesn't resolve the problem.
It seems there is something of wrong in the packets (missing key???). If I download a rpm package (for example nprobe) and I run these commands:

rpm -K nprobe-7.3.160501-5071.x86_64.rpm
nprobe-7.3.160501-5071.x86_64.rpm: RSA sha1 ((MD5) PGP) md5 NOT OK (MISSING KEYS: (MD5) PGP#d1eb60be)

and then:

rpm -Kv nprobe-7.

[2016-05-01 10:25] lucaderi commented on #543
@ValentinaViscarelli The key http://packages.ntop.org/centos/RPM-GPG-KEY-deri corresponds to

pub   4096R/D1EB60BE 2016-04-25
uid                  Luca Deri (Luca Deri's key.) deri@ntop.org
sub   4096R/EFAB838B 2016-04-25

And thus to d1eb60be. Check "rpm --import ..." and "gpg --list-keys" to debug the issue.

[2016-05-01 12:55] airtwist1 opened #544 "nTOPng / shows wrong "total Bytes""
Hi,

we recognized that ntopng is showing wrong "total Bytes"

For example, when we download a iso File from foreign Server with 4 GB of size. We can see the flow, but after it ends, ntopng is showing that 8GB where downloaded. It always shows double of "total Bytes" sends and receives ...

Which configuration could adjust this behavior ?

Many Thanks for your support
Jean

Sflow settings on the p

[2016-05-01 13:45] simonemainardi commented on #544
hi, could you please post the ntopng configuration used and the exact page that apparently gives you wrong information. Thank you

[2016-05-01 13:54] airtwist1 commented on #544
Hi,

please find attached the ntopn configuration.

In the Flow section it shows the wrong information.

<img width="1577" alt="bildschirmfoto 2016-05-01 um 15 51 11" src="https://cloud.githubusercontent.com/assets/16499817/14942653/943bcd20-0fc3-11e6-8813-5bb7cb4ac492.png">

<img width="491" alt="bildschirmfoto 2016-04-21 um 22 38 10" src="https://cloud.githubusercontent.com/assets/16499817/14942

[2016-05-01 18:32] ValentinaViscarelli commented on #543
@lucaderi
Luca the file http://packages.ntop.org/centos/RPM-GPG-KEY-deri seems to be having two key. In fact if I download it and I run "gpg RPM-GPG-KEY-deri" I get:

pub  1024D/7921DF34 2003-06-27 Luca Deri (Luca Deri's key.) deri@ntop.org
sub  1024g/0FC9E456 2003-06-27
pub  4096R/D1EB60BE 2016-04-25 Luca Deri (Luca Deri's key.) deri@ntop.org
sub  4096R/EFAB838B 2016-04-25

When I try to update/i

[2016-05-01 23:42] filemoon commented on #536
v.2.3.160426 - still same.

[2016-05-02 08:49] simonemainardi commented on #544
Jean I need to see nProbe configuration as well. Thank you.

[2016-05-02 09:06] airtwist1 commented on #544
Hi,

sorry.

root@fn-ntop:~# cat /etc/nprobe/nprobe-none.conf
-n=none
-i=none
-t=15
-d=5
-a=0
-e=1
-B=10
-w=128000
-z=0
-S=1:1
-E=0:0
-g=/var/run/nprobe-none.pid
-3=6343
--zmq=tcp://*:5556
--vlanid-as-iface-idx=none
-V=5
--dump-stats=/var/log/nprobe/none-0_flows_stats.txt

[2016-05-02 10:17] Queeq commented on #505
@lucaderi Have you received the pcap file on April 28th? Please reopen if yes.

[2016-05-02 10:44] #536 closed, assigned to lucaderi

[2016-05-02 10:45] #500 closed, assigned to nobody

[2016-05-02 10:52] simonemainardi commented on #507
Solution given. No feedback received. Closing.

[2016-05-02 10:52] #507 closed, assigned to ValentinaViscarelli

[2016-05-02 11:10] simonemainardi commented on #544
you said that you are collecting 1:1024 sampled data so it is unlikely that you will be able to have precise information, isn't it?

[2016-05-02 11:13] airtwist1 commented on #544
so you mean i've to der the Option -S=1:1
to 1:1024?

[2016-05-02 11:14] airtwist1 commented on #544
so you mean i've to set the Option -S=1:1
to 1:1024?

[2016-05-02 12:11] simonemainardi commented on #544
I mean this

[2016-05-02 12:16] airtwist1 commented on #544
yes, we have force 10 switches and the smallest amount to adjust ist 256 as sampling.

Anyway, when we download a 4 GB iso. i would accept if ntop is showing 4.3 or 4.5 GB. But showing 8 GB is much to far. So, what do you recommend to setup ?

regarding to the 10Gbit port, it is a 10Gbit ethernet port, but has a speed of 1 Gbit because it´s plugged to a 1Gbit Switch.

[2016-05-02 12:52] lucaderi commented on #544
@airtwist1 Please see on nprobe
[--collector-sample-rate] <value>   | Specify the bytes/pkts collection sample rate.

[2016-05-02 13:07] lucaderi commented on #543
@ValentinaViscarelli  What about
gpg --keyserver keyserver.ubuntu.com --recv-keys  6F13614FD1EB60BE

[2016-05-02 13:11] airtwist1 commented on #544
we setup on our switch to poll every 10 Seconds 1 packet of 1024.

There are two options in the nprobe config to setup. Please, just let me know, which configuration would be the best for this type of setting.

What do you recommend for

Sampling Rate ? 1:1 or 1:2 or 1: what do you prefer
![bildschirmfoto 2016-05-02 um 15 05 21](https://cloud.githubusercontent.com/assets/16499817/14955141/14a45c0c

[2016-05-02 13:14] lucaderi commented on #544
Sampling rate is the egress rate and should be 1:1, collector sampling rate should be 256

[2016-05-02 13:25] airtwist1 commented on #544
thanks

[2016-05-02 13:25] #544 closed, assigned to nobody

[2016-05-02 14:27] ValentinaViscarelli commented on #543
@lucaderi
gpg --keyserver keyserver.ubuntu.com --recv-keys 6F13614FD1EB60BE
gpg: requesting key D1EB60BE from hkp server keyserver.ubuntu.com
gpg: key D1EB60BE: "Luca Deri (Luca Deri's key.) deri@ntop.org" not changed
gpg: Total number processed: 1
gpg:              unchanged: 1

[2016-05-02 14:37] simonemainardi commented on #543
@ValentinaViscarelli now you can try again with yum install and it won't complain.

[2016-05-02 15:23] ValentinaViscarelli commented on #543
@lucaderi
Ok now it works.

[2016-05-02 15:23] #543 closed, assigned to nobody

[2016-05-02 18:27] ambassador90 opened #545 "compilation errors (‘struct ndpi_flow_struct’ has no member named ‘bittorent_hash’)"
Debian 8.4
git clone https://github.com/ntop/ntopng.git
git clone https://github.com/ntop/nDPI.git
cd nDPI
./autogen.sh
./configure (also tried --with-pic)
make
cd ../ntopng
./autogen.sh
./configure
make geoip
make > following errors:

src/Flow.cpp: In member function ‘void Flow::processDetectedProtocol()’:
src/Flow.cpp:272:42: error: ‘struct ndpi_flow_struct’ has no member named ‘bittorent_hash’

[2016-05-02 20:31] steste640 commented on #534
All .conf disable.
Not work. No conflict in port 80. No page send from port 80. No page send from port 443

[2016-05-02 21:35] steste640 commented on #534
Ok Ok work!!!! Modify the file ntop.conf in /etc/httpd/conf.d/ntop.conf

COMMENT NameVirtualHost *:80
#NameVirtualHost *:80
<VirtualHost *:80>
        ServerAdmin webmaster@localhost

[code]

</VirtualHost>

[2016-05-02 21:36] lucaderi commented on #542
@jmunty It looks like the nProbe package was not properly built. I am uploading a new nprobe package in http://packages.ntop.org/Windows/ that should fix the issue.

[2016-05-02 21:41] lucaderi commented on #545
Please updated nDPI too and it will work.

[2016-05-02 21:41] #545 closed, assigned to nobody

[2016-05-03 08:45] simonemainardi commented on #545
duplicate of https://github.com/ntop/ntopng/issues/451

[2016-05-03 09:40] pdf opened #546 "libmysqlclient18 unavailable on Ubuntu 16.04"
Appears the current client is `libmysqlclient20`.

[2016-05-03 10:03] lucaderi commented on #546
@pdf In fact we use the libmysqlclient20 dependency

dpkg -I nprobe_7.3.160503-5072_amd64.deb
 new debian package, version 2.0.
 size 1218100 bytes: control archive=2448 bytes.
     394 bytes,    11 lines      control
    3136 bytes,    39 lines      md5sums
     581 bytes,    34 lines   \*  postinst             #!/bin/sh
     187 bytes,    13 lines   \*  postrm               #!/bin/sh
     664 by

[2016-05-03 10:03] #546 closed, assigned to nobody

[2016-05-03 11:49] pdf commented on #546
I should have specified I suppose, but not for the ntopng package:

[code]

[code]

[2016-05-03 12:03] lucaderi commented on #546
@pdf Sorry now I understand. I have fixed it and binary packages are being rebuilt

[2016-05-03 14:50] jmunty commented on #542
Hi Luca
Many thanks its all working now!
I can see in the output in debug mode that nprobe is bringing up the zmq service now.
I only just noticed that the windows installer creates the services for you. Might be worth changing that section in the nprobe manual as people who read it will probably think they still have to create the service themselves

[2016-05-03 15:38] jmunty commented on #542
Hi Luca,

TLDR - is there something missing from the ntopng windows binary?
Maybe something to do with the zmq listener service? I can't see stuff being received into ntopng.

---

I thought it was solved but its not yet.

What i did:
- uninstalled redis
- removed old ntopng and nprobe services with /r switch
- deleted ntopng and nprobe program folders
- deleted all webdirs in C:\Windows\Temp\0 an

[2016-05-03 21:01] dboehlke opened #547 "--zmq is missing from nProbe v.7.3.160503"
I upgraded to the latest testing release today, and found that ntopng and nprobe were no longer talking.  I have ntopng and nprobe installed on two separate servers and have them communicating using zmq.  Upon looking at the logs, I noticed the following warning:

03/May/2016 15:50:57 [nprobe.c:4760] WARNING: Unrecognized option '--zmq'

This warning wasn't there until today.  The "--zmq" option a

[2016-05-03 21:59] lucaderi commented on #547
What version of nProbe and on what platform the problem occurs?

[2016-05-03 22:26] shamsway opened #548 "ntopng / elasticsearch template IP field"
Please let me know if this is the wrong spot to put this - I was not sure where else to ask.

I am using the elasticsearch template from https://github.com/ntop/ntopng/wiki/02-Elasticsearch-FAQ.  The geoip type matching works as expected, but IPV4_DST_ADDR and IPV4_SRC_ADDR are being indexed as a string.  I am pretty novice when it comes to elasticsearch, but I've tried several variations in the t

[2016-05-03 23:06] simonemainardi commented on #548
did you try to completely remove `match_mapping_type`  from

[code]

please, let me know if it works.

[2016-05-04 00:34] pdf commented on #546
Thanks for the rapid turn-around!

[2016-05-04 01:26] shamsway commented on #548
Yes, I did try that, sorry for not mentioning it.  It was the first thing I tried on a hunch :)

[2016-05-04 07:56] simonemainardi commented on #548
solved, new packages are being rebuilt and will be available tomorrow.

[2016-05-04 11:46] Queeq commented on #486
Currently I'm running v.2.3.160504, UI performance is great. Here's the relevant config:

[code]

It has been running for 1h 45m now and shows 310k hosts (and rising), 96k flows (and slowly rising), consumes around 3.2-3.6 GB of memory (and seems like rising on average). Sometimes these numbers are getting lower but then rise again.

I've also seen the following message after 1h 35m of uptime, but

[2016-05-04 19:23] ValentinaViscarelli commented on #534
Resolved.

[2016-05-04 19:23] #534 closed, assigned to ValentinaViscarelli

[2016-05-04 20:20] dboehlke commented on #547
Luca,

Oops, the nProbe version is: "nProbe v.7.3.160503 (r5072) for x86_64-unknown-linux-gnu"

##

Dan B

[2016-05-04 20:24] dboehlke commented on #547
Just checked with nProbe v.7.3.160504, I still get the warning:

[code]

[2016-05-04 22:00] lucaderi commented on #542
@jmunty How did you start ntopng exactly? I see you have a view interface. Please on the ntopng web gui set the interface to the collector interface.

[2016-05-04 22:06] lucaderi commented on #547
The problem is that on Ubuntu 12 there is no official ZMQ3 package and we had complains from people because we were installing the libzeromq3 library. I haven't been able to find the zmq3 package in back ports either. This is why --zmq has been removed.

[2016-05-05 09:15] tman24 opened #549 "ntopng memory leak"
I probably update my ntopng pro install once a month, but following a recent update (and a number of rapid other updates to try and resolve the issue), I'm now seeing the ntopng process consume all available system memory within 24 hours of starting. Previous versions ran for months without any problems.

It's obviously a memory leak, but I haven't changed the config settings for a long time now.

[2016-05-05 11:22] #549 closed, assigned to nobody

[2016-05-05 11:24] simonemainardi commented on #549
thanks for reporting. An inspection with valgrind highlighted some issues. They are fixed now. New packages will be available tomorrow.

[2016-05-05 11:24] lucadistefano opened #550 "error message stopping ntopng"
[root@nbox-demo ~]# /etc/init.d/ntopng stop
Stopping ntopng: /etc/init.d/ntopng: line 208: kill: (24606) - No such process
                                                           [  OK  ]

[2016-05-05 11:37] tman24 commented on #549
Thanks for the quick reply and proposed fix. I'll update when the new packages are available and test.

[2016-05-05 11:52] ValentinaViscarelli commented on #550
Fixed.
If you update from ntop repositories you will be able to find the fix in tomorrow building packets.

[2016-05-05 11:52] #550 closed, assigned to ValentinaViscarelli

[2016-05-05 18:37] dboehlke commented on #547
Thanks!  I am working on getting my servers upgraded to Ubuntu 14.  It should fix my problem.

Is there a change log for the testing release?

[2016-05-06 07:23] lucaderi commented on #547
Sure, it's installed in /usr/local/share/nprobe/Changelog

Yes Ubuntu 14 fixes the problem as it has ZMQ natively supported.

[2016-05-06 07:23] #547 closed, assigned to lucaderi

[2016-05-06 07:31] retalieight opened #551 "Inaccurate bandwidth usage and interface setting problems"
Is ntopng not supposed to show traffic in real-time? I'm using nprobe but the traffic that's reported is all over the place and it doesn't seem like it lines up with my routers traffic. I have a Mikrotik router and I'm using traffic flow to send v9 netflow data to my Linux VM that runs nprobe. Do I need to tweak the sample rate? I also never see any remote to local traffic.. so I'm not sure that m

[2016-05-06 07:40] MarcoPamio opened #552 "Only Upstream dynamic graph in aggregate interface"
If I select a view with multiple interfaces, I can see only upstrem traffic.
![image](https://cloud.githubusercontent.com/assets/17720114/15066937/46f4c6f4-136d-11e6-932d-550aa46bfd4d.png)
![image](https://cloud.githubusercontent.com/assets/17720114/15067032/ce9d74e8-136d-11e6-99df-155dcd047309.png)

If I switch to only-one interface, there is no this problem.
It seems that it takes the graph of o

[2016-05-06 08:03] simonemainardi commented on #551
make sure to update to the latest ntopng dev version and check again.

If you still experience the issue, then post also the ntopng configuration used.

You don't have to tune sample rate parameters, unless your mikrotik is sending flows of sampled data.

[2016-05-06 09:04] #552 closed, assigned to nobody

[2016-05-06 17:47] chownsauce commented on #551
Thanks for the response!

Now I'm getting..

06/May/2016 12:46:34 [CollectorInterface.cpp:161] ERROR: Unable to uncompress ZMQ traffic: ntopng compiled without zlib

I don't see a configure flag for zlib or anything like that so I'm confused.

[2016-05-06 17:55] retalieight commented on #551
Ok I'm stuck at configuring the dev release..

checking for curl_easy_perform in -lcurl... no
Please install libcurl(-dev) (http://curl.haxx.se/)

This is on Debian 7.10 (Wheezy) and I have libcurl and libcurl-dev installed which has curl_easy_perform. I tried using https://raw.githubusercontent.com/simonemainardi/ntopng/b71dd158f88c695d4c39745b02bf946c912c19e1/configure.seed which worked but it's

[2016-05-06 19:47] retalieight commented on #551
I was able to get it to compile after making some changes to pfring section of the configure.seed and it's working now but when I perform a speedtest on my 1Gbps connection it's still showing inaccurate bursts. I removed the sample rate stuff I had configured from my configs too.

![speedtest](https://cloud.githubusercontent.com/assets/10072572/15084491/6a6352aa-1399-11e6-995a-35d85d99c9d7.png)

[2016-05-07 09:56] simonemainardi commented on #551
please post interface historical traffic.

I guess the mikrotik is reporting flows to nprobe with a frequency that is far to low to have a meaningful indication of the bursts.

For example, if you have a fully-utilized 1Gbps line that is reported every 10 seconds by the mikrotik, then you will see a 10Gbps spike every ten seconds as this is the information the nProbe gets.

Please, check out mikro

[2016-05-07 19:06] Andrew17856 commented on #297
@arrmo @madpilot78 There aren't any build tools on pfSense - see here:  https://doc.pfsense.org/index.php/Can_I_compile_software_on_pfSense

So I can't build the port in the pfSense environment.

I don't mind installing a binary on my test pfSense box, if that would help testing.

@lucaderi @gonzopancho Do you know if the ntopng UI has been converted to bootstrap within pfSense yet please?

Thanks

[2016-05-08 07:44] lucaderi commented on #297
@Andrew17856 The problem is not to test it on pfSense but to integrate it with pfSense so that shaping, dropping etc happens in pfSense rather than in ntopng. So thus is NOT a porting problem but rather an integration problem with pfSense. As this question is floating for more than 6 months now, I am not sure if  there is interest in the pfSense community. As of the other question, ntopng has been

[2016-05-08 08:18] Andrew17856 commented on #297
@lucaderi  I understand you're trying to integrate it.  My point (per my 18/4 post) is that is going to take a while to do simply because it involves joining up two dev teams (as you say, the question has been out there for six months).

If the pfSense ntopng UI has already been converted to bootstrap and you have a bare port of ntopng that works on FreeBSD,  that's all you need to get it back ont

[2016-05-08 08:23] lucaderi commented on #297
@Andrew17856 Ok if this is all you need then I think I am done on my side.

[2016-05-08 09:44] Andrew17856 commented on #297
@lucaderi  Thanks. Are you going to push ntopng into the FreeBSD ports repository please?  That's the first step in getting the existing package back onto pfSense.

[2016-05-08 10:40] madpilot78 commented on #297
@Andrew17856 Hi, I'm working on the FreeBSD port.

I'm almost done with that, I'm waiting for feedback from a pair of persons who are helping me test it.

I'm going to commit it as soon as I'm sure it works fine.

If you want to test the FreeBSD port you can grab what I have done here:

http://www.madpilot.net/~mad/ntopng_port.txz

Please note that this also needs adding a user in /usr/ports/UIDs

[2016-05-08 12:04] Andrew17856 commented on #297
@madpilot78 Thank you - very much appreciated.  I only have a pfSense test VM at the moment (which lacks build tools) but I'll set up a FreeBSD VM when I have a moment and give any feedback. It sounds like you're almost there anyway.

[2016-05-09 09:41] MarcoPamio commented on #552
Perfetto!
![image](https://cloud.githubusercontent.com/assets/17720114/15109266/e8fb958a-15da-11e6-94d6-106d74bfba24.png)

[2016-05-09 14:02] lucadistefano opened #553 "segfault ntopng"
while inserting new profile ntopng has crashed.
I don't know if it is related to the profile, anyway the profile was :  net 10.67.28.0/24 or net 10.67.6.0/24

ntopng[145510]: segfault at 24 ip 0000003daf0811a1 sp 00007f561abfa038 error 4 in libc-2.12.so[3daf000000+18a000]
ntopng[30766]: segfault at 3 ip 0000003daf0811a1 sp 00007ffffb690f48 error 4 in libc-2.12.so[3daf000000+18a000]

09/May/2016 15

[2016-05-09 15:05] simonemainardi commented on #553
please, try to reproduce with core dump enabled. Then enclose the core dump for further debugging: `http://www.ntop.org/support/need-help-2/need-help/`

[2016-05-10 15:33] Queeq commented on #553
I experience segfaults almost on every start (sometimes it starts normally though).

[code]

Verbose mode gives no additional output.

[code]

Github hasn't allowed me to attach core file, neither did it allow core.zip. Rename core.txt to core.zip.
[core.txt](https://github.com/ntop/ntopng/files/257524/core.txt)

[2016-05-10 15:45] #553 closed, assigned to nobody

[2016-05-10 15:48] simonemainardi commented on #553
@Queeq  thanks for reporting. I have made a fix. New packages will be available tomorrow.

@lucadistefano I am not sure this fix will also solve crash related to traffic profiles. In case you experience the crash again, please feel free to re-open another issue with the core dump as requested.

[2016-05-10 15:48] #551 closed, assigned to nobody

[2016-05-10 15:49] simonemainardi commented on #542
@jmunty  any news?

[2016-05-10 16:29] #515 closed, assigned to nobody

[2016-05-10 18:56] dboehlke commented on #547
Upgrading systems to Ubuntu 14.04 fixed missing --zmq issue.  Ntopng and nProbe are working again.

There are lots of configuration differences between Ubuntu 12.04 and 14.04 so in place upgrade was not trivial.

Thanks for your help with this!

[2016-05-11 13:25] jmunty commented on #542
Guys, sorry for the late reply .- been off a few days.
The view interface is set to the collector interface.
It doesn't work.

What tools are there to see:
- what zmq traffic is being pushed by nprobe
- what zmq traffic is being consumed by ntopng?

Also,
- what should i see in the ntopng log when netflow data is being successfully received/consumed?
- when i quit nprobe, why does it say [collecte

[2016-05-11 13:32] jmunty commented on #542
also... when i run a windows process monitor (procmon) i see very little activity from nprobe/ntopng on port tcp 5556. Most of the activity seems to run on:
nprobe: localhost:5905 <=> localhost:58319-58322
ntopng: localhost:6379 <=> localhost:58488

not sure if that helps at all...

[2016-05-12 08:05] al2rex commented on #212
hello..
how to intstall librarys the nDPI in centOS 7 ?? help meeee ..!!

[2016-05-12 08:45] simonemainardi commented on #212
see https://github.com/ntop/nDPI

[2016-05-12 08:54] Queeq commented on #486
I have configured `--dump-flows` to MySQL database. AS page became a bit slower, but is usable. ntopng memory usage fluctuates between 1.4 and 2.1 GB, flows table in MySQL has around 1.2M rows and using roughly 700 MB of space after ~30 minutes uptime. I've seen no memory warning in ntopng output so far. I will report back after it's run for some more time.

[2016-05-12 10:53] jjirasek opened #554 "nprobe configuration"
Hi, I have mikrotik router with cca 1gbit traffic. Router has several internal interfaces and several
external interfaces. On internal interfaces I have some users, external interfaces is peers to internet providers with BGP. Router also makes NAT for local users.

I want to see historical traffic of users in charts and I want to check who visited some host in internet in specific time. I want to

[2016-05-12 11:31] Queeq commented on #486
So ntopng had become frozen after 1h 25m of uptime. I haven't been looking at it for another 1.5 hours and now I see it has eaten all RAM and some swap. And I see these messages again:

[code]

I think that an important detail here is that through all this time AS page has been opened in browser.

[2016-05-12 13:39] simonemainardi commented on #486
thanks for reporting again. Enhancement has not yet been completed. Please hold on.

[2016-05-13 07:21] Queeq opened #555 "init scripts don't properly work on Ubuntu 16.04"
ntopng 2.3.160513-1233
nprobe 7.3.160513-5162
Ubuntu Server 16.04

Seems like systemd intercepts init scripts. Here's what it looks like:

[code]

As a result, it doesn't start.
`service ntopng start` command has no output and doesn't start the daemon either.

nProbe init.d start works though, but `service nprobe start` does not:

[code]

nProbe stopping doesn't work, it hangs indefinitely after t

[2016-05-13 16:15] nate-byrnes opened #556 "OOM when ntopng webui left open for 30+ hours"
I'm running ntopng (licensed) on a server with 40GB RAM.  (I started out with 8GB, and was getting OOM's then too, but figured I was retaining too much data, so upgraded the server to 40). If I do not leave a browser open watching the web UI continuously, It seems that the server process of ntopng can continue running (see attached screen crop, this shows the longest ntopng has continued running s

[2016-05-13 16:32] simonemainardi commented on #556
we have made some fixes recently. Please, upgrade ntopng to the latest nightly build and report back again. thank you.

[2016-05-13 17:07] filemoon opened #557 "Alerts/warnings description incorrect."
When I see alert or warning message descriptions are always same  - "1"

![screen shot 2016-05-13 at 18 05 22](https://cloud.githubusercontent.com/assets/14888287/15255692/79898b9a-1935-11e6-9969-e6c56a99b750.jpg)

[2016-05-15 07:05] lucaderi commented on #555
@Queeq Can yon please attach the configuration files we can use to reproduce this issue?

[2016-05-15 16:20] Niko78 opened #558 "FR: add info about from where flow comes from"
hi,
I use ntopng (ntopng Professional v.2.2.160512) in a big IPSEC VPN and it appears that sometimes it would be interesting to know from what device the flow comes from... more easy to identify an issue.
Si I ask as a feature request to get this information as a plus in flow details

regards

Nico

[2016-05-15 16:27] Niko78 opened #559 "UI frozen when asking for history/top"
hi,

I use ntopng Professional v.2.2.160512 and when I ask for graph about traffic with ipv4 top flow under, more often this last info are broken (no result found) and ntopng webUI is loading...
if I try to select an other option in menu, nothing cause it's still loading
I use mysql-server to save all data with purge after 7 days.

Do I need to switch to 2.3 ? if yes how to without breaking all ?

[2016-05-15 16:45] Niko78 opened #560 "convert CLI in conf file"
hi,
I use ntopng Professional v.2.2.160512 but to launch it I do it in CLI
=> ntopng -F "mysql;localhost;ntopng;flows;root;xxx" -i tcp://192.168.6.35:5556 -d /storage/tmp -w 3000 -v >> /dev/null &

I tried to convert this line inside ntopng.conf file but it doesn't work
if you have an idea how to do it ?

thanks

Nico

[2016-05-15 18:17] Queeq commented on #555
There are 6 .config and .start files in `/etc/nprobe/` that have names like these:

[code]

The content of config files is identical except of port numbers:

[code]

There are `/etc/ntopng/ntopng.conf` and `/etc/ntopng/ntopng.start` files, config being this:

[code]

[2016-05-16 07:58] simonemainardi commented on #559
right, you have to update to the latest dev version. It contains fixes and automatic database reconnections.

[2016-05-16 07:58] #559 closed, assigned to nobody

[2016-05-16 07:59] simonemainardi commented on #560
post the `ntopng.conf` file you have created. Also note that if you start ntopng as a daemon you don't need redirection to dev null.

[2016-05-16 08:01] Niko78 commented on #559
hi,
thanks for info
is there something special to switch from stable to dev build ? just change the apt ?
I use ubuntu 14.04

nico

[2016-05-16 08:03] simonemainardi commented on #559
uninstall the `apt-ntop-stable.deb` package and then follow instructions at : http://packages.ntop.org/apt/

[2016-05-16 08:05] Niko78 commented on #560
ok, right now I don't use ntopng.conf cause I can't get the same result as cli command
ntopng.conf
-w=3000
-W=0
-g=-1
-d=/storage/ntopng/storage/ntopng
-G=/var/tmp/ntopng.pid
-i=tcp://192.168.6.35:5556

nico

[2016-05-16 08:07] simonemainardi commented on #560
what do you mean with "I can't get the same result as cli command" please be specific and explain what you can't get

[2016-05-16 08:35] Niko78 commented on #560
ok so I just upgraded to dev version and now something is broken
as I said, before I used my own script to start ntopng and nprobe
ntopng -F "mysql;localhost;ntopng;flows;root;xxxx" -i tcp://192.168.6.35:5556 -d /storage/tmp -w 3000 -v >> /dev/null &
/usr/local/bin/nprobe --collector-port 7002 --zmq tcp://192.168.6.35:5556 >> /dev/null &

after upgrading, see my ntopng.conf
-w=3000
-W=0
-g=-1
-d=/

[2016-05-16 08:42] simonemainardi commented on #560
if you manage ntopng and nprobe using the nbox, then you don't need your "script". Just let the nbox do the work.

So now please clear the configurations files shown that may be wrong (for example the `-d=/storage/ntopng/storage/ntopng` looks awkward to me) and restart the nbox. Then use the nbox to reconfigure both ntopng and nprobe and don't touch the configuration files by hand.

If then the np

[2016-05-16 09:08] Niko78 commented on #560
well... now still broken and it doesn't recognize my licenses :-(

[2016-05-16 09:22] simonemainardi commented on #560
dear @Niko78 please be proactive and provide information that can help us in understanding what is not not working.

enclose screenshots, logs, debug messages, etc everything that can help us in guiding you through a proper configuration.

ntopng and nprobe always look for licenses in the default places /etc/nprobe/ and /etc/ntopng/ so if licenses are there, they will be found. If you say they are

[2016-05-16 10:11] Niko78 commented on #560
well... see screenshots... I don't know what to do now
can I contact you in private ?

<img width="898" alt="lic1" src="https://cloud.githubusercontent.com/assets/17108017/15286783/3793bd88-1b5f-11e6-85b7-026ac6c02d1b.PNG">
<img width="531" alt="lic2" src="https://cloud.githubusercontent.com/assets/17108017/15286785/382bbb42-1b5f-11e6-9839-d070115364f5.PNG">
<img width="541" alt="lic3" src="https:

[2016-05-16 10:22] simonemainardi commented on #560
- try to run ntopng from the command line and see if it recognizes the license
- when did you buy the licenses?
- check system time and date
- check license files permissions

[2016-05-16 10:50] tinycolds opened #561 "problem solved"

[2016-05-16 10:53] Niko78 commented on #560
- from command line, same problem
- got them last week and all worked fine until I switch in dev build (I got them for free as I'm in a non profit department)
- date is ok (+ ntp updates)
- permissions
  -rw-r--r-- 1 root root 51 mai   16 11:34 /etc/ntopng.license

I downgraded to stable and same issue with licenses (ntopng and nprobe) :-(

[2016-05-16 10:58] #561 closed, assigned to nobody

[2016-05-16 11:26] Niko78 commented on #560
in verifying license, it appears that systemID changed after upgrading to dev :-(
now : 68B5DD5E76046AD1
before : 68B5DD5E550461D1

any idea why ? and now what can I do ?

[2016-05-16 11:27] jean-christophe-manciot commented on #540
Thanks, the issue is solved indeed.

[2016-05-16 12:22] simonemainardi commented on #560
contact me privately at mainardi at ntop dot org and I will give you instructions

[2016-05-16 12:22] #560 closed, assigned to nobody

[2016-05-16 14:32] Niko78 opened #562 "ntopng/nprobe command line from stable to dev builds"
hi,

I used stable with my own command started
with nightly builds, they don't work
someone can "translate" me my lines to get them working ?
#

ntopng -F "mysql;localhost;ntopng;flows;root;azer" -i tcp://192.168.6.35:5556 -d /storage/tmp -w 3000 -v >> /dev/null &
# /usr/local/bin/nprobe --collector-port 7002 --zmq tcp://192.168.6.35:5556 >> /dev/null &

thanks

Nico

[2016-05-16 14:48] Queeq commented on #556
I experience this problem too, as I describe it in #486. With ntopng v.2.3.160516 it's still there (UI became unresponsive after it's been running for less than 5 minutes). I keep Autonomous Systems page open.

[2016-05-16 14:54] simonemainardi commented on #562
duplicate of https://github.com/ntop/ntopng/issues/560

[2016-05-16 14:56] simonemainardi commented on #562
as already told you, you have to explain what is not working. If you just say " they don't work" no one will be able to help.

Post the configuration files used, any error, logs, everything that could give people evidence of what is not working.

[2016-05-16 15:00] Niko78 commented on #562
ok for nprobe, it seems ok
but with ntopng not
========================================================================
root@ntop-acad:~# ntopng -F "mysql;localhost;ntopng;flows;root;azer" -i tcp://192.168.6.35:5556 -d /storage/tmp -w 3000 -v
16/May/2016 16:58:43 [Ntop.cpp:1013] Setting local networks to 127.0.0.0/8
16/May/2016 16:58:43 [AddressTree.cpp:141] Rule 127.0.0.0/8
16/May/2016 16:58:43 [

[2016-05-16 15:11] Niko78 commented on #562
ok so I succeeded to start nprobe but not ntopng

`root@ntop-acad:~# ntopng -F "mysql;localhost;ntopng;flows;root;azer" -i tcp://192.168.6.35:5556 -d /storage/tmp -w 3000 -v
16/May/2016 17:08:18 [Ntop.cpp:1013] Setting local networks to 127.0.0.0/8
16/May/2016 17:08:18 [AddressTree.cpp:141] Rule 127.0.0.0/8
16/May/2016 17:08:18 [Redis.cpp:92] Successfully connected to redis 127.0.0.1:6379@0
16/May

[2016-05-16 15:19] simonemainardi commented on #562
try without option "-F" and report. It that was the problem -- and you don't have any important data inside MySQL -- you can drop the database `ntopng` before adding the -F back.

You upgraded to the dev version and then went back to the stable. MySQL database structure is not backward-compatible.

[2016-05-16 15:23] Niko78 commented on #562
ah it seems to work well now
so now I'm with the dev and all seems ok
thanks for your help Simone.

[2016-05-16 15:25] simonemainardi commented on #562
@Niko78 you should at least explain what you did or what you were doing wrong. This will help other users like you in the future.

[2016-05-16 15:26] Niko78 commented on #562
well for that I just removed the "-F" like you asked me

[2016-05-16 15:31] #562 closed, assigned to nobody

[2016-05-16 15:41] Niko78 opened #563 "historical data in nightly builds"
hi,
Just upgraded to nightly builds
I read that http://www.ntop.org/ntopng/exploring-historical-data-using-ntopng-part-2/ to explore datas but I can't find it in my UI, some titles in the menu are not there

<img width="639" alt="top" src="https://cloud.githubusercontent.com/assets/17108017/15294759/d30050a0-1b8d-11e6-89c1-81d7ce695351.PNG">

[2016-05-16 16:00] simonemainardi commented on #563
post ntopng configuration or startup string

[2016-05-16 16:01] Niko78 commented on #563
still the same ;-)
=> ntopng "mysql;localhost;ntopng;flows;root;azer" -i tcp://192.168.6.35:5556 -d /storage/tmp -w 3000 -v

[2016-05-16 16:07] simonemainardi commented on #563
Seriously? The string is just invalid. You would have figured it out on your own if you just had read the ntopng output.

You took the -F off but left the MySQL configuration parameters.

Seriously, read the manual and go through the examples before opening another issue. You have reported three questions today that were just invalid https://github.com/ntop/ntopng/blob/dev/doc/UserGuide.pdf

[2016-05-16 16:07] #563 closed, assigned to nobody

[2016-05-16 16:09] simonemainardi commented on #558
the interface used gives you the source of the flow. The interface can be a physical device or a remote probe this doesn't matter. Look at the top-right menu "interface"

[2016-05-16 16:09] #558 closed, assigned to nobody

[2016-05-16 16:12] Niko78 commented on #558
I meant I would like to know the device that send netflow stream
I have ton of routers which send netflow data to my server... I just wanted to know from what device this particular flow comes from
maybe it's not possible, no problem
regards
nico

[2016-05-16 16:16] simonemainardi commented on #558
this is totally possible: start one nProbe instance per router. Then start ntopng with as many -i as the nProbe instances.

You would have found it on your own with a quick issue search: for example: https://github.com/ntop/ntopng/issues/327

[2016-05-17 14:46] simonemainardi commented on #554
if you use mysql on ntopng, then you don't need to use it also in nProbe. Let the ntopng dump flows to the database. there is a column interface id that can be used to distinguish interfaces.

ntopng doesn't read nprobe stored flows. ntopng reads the flows it has previously dumped.

check if the exported data is sampled.

yes, you can adjust the zoom level by clicking on the chart around the inter

[2016-05-17 14:46] #554 closed, assigned to nobody

[2016-05-18 02:44] hdbonnett opened #564 "Ntop setting PF_RING_ZC_DEVICE_CAPTURE_TX=0 - how to override?"
I'm in the process of bringing up a new firewall for a client using IPTables and ntopng on Centos 7. The firewall is masquerading traffic, hosting ntopng and collecting network flows on the local interfaces. PF_RING dev (6.3.0) is installed on the firewall. From what I can see in /proc/net/pf_ring/info both of my interfaces are being found and I have enabled TX_Capture (so I can get both sides of

[2016-05-18 14:20] jmunty commented on #542
Hi Guys do you have any news on this issue at all?
I posted on github some days ago

[2016-05-18 17:42] filemoon opened #566 "nightly builds for armhf packages"
Currently Debian repository is not updated frequently (for some architectures update is more frequent as for others).
For example armhf - last build is dated 26-04-2016 when for X64 is 18-05-2016.

Can you arrange minimum update frame (for example one for week or once for two weeks) - many already solved issues are still present because new build is not available.

Regards Chris

[2016-05-19 15:58] jmunty commented on #542
Hi

a little more info i saw today. ....

When i run Wireshark on the data i can see a few things.
Firstly i can see the template packets coming through... and the templates themselves look like this:

![image](https://cloud.githubusercontent.com/assets/18736993/15400042/4710d308-1dea-11e6-9080-56e6045a8c19.png)

When i drill down into wireshark to see the flows that are encapsulated in a single p

[2016-05-19 16:31] madpilot78 commented on #297
For people wanting to test I have modified the URL to reflect that now tha port is also updating the nDPI port. Here is the new URL:

http://www.madpilot.net/~mad/ndpi-ntop.txz

Please remove the net/ndpi port before extracting this archive in net.

You also still need to modify UIDs and GIDs:

[code]

[2016-05-19 18:46] m00tpoint commented on #542
I am seeing this behavior on a new install on CentOS as well, version v.7.2.160512 for both NProbe and NTop.

nprobe -n none -i none -3 6343 --zmq "tcp://*:5555"
ntopng -i tcp://127.0.0.1:5555

nprobe verbose 2 and debug clearly show numerous inbound sflow packets arriving and being decoded, but 0 packets are sent to NTOP over tcp 5555. If I dump to disk with no nested directories, I get a 204-byt

[2016-05-20 08:37] lucaderi opened #567 "Multiple MySQL/Redis instances"
In order to maximise performance, it is requested to implement per VM lua (so per http request) a MySQL/Redis instance (when necessary) so that we do not slow down the ntopng engine while using the web GUI

[2016-05-20 08:39] lucaderi opened #568 "Interface name in menubar"
Display the interface name in the menubar (if too long it must be shortened) instead of the label "Interface"

[2016-05-20 08:41] lucaderi opened #569 "Flow duration invalid in some flows"
Add a validation routine for flow duration that sometime it overlaps and thus the flow duration is negative so it is mapped to a long value (e.g. 132 years....)

[2016-05-20 08:42] lucaderi opened #570 "Active flows label"
The page label "Active flows" in "/lua/flows_stats.lua" must be changed to "Recent Flows" (or something similar) for ZMQ interfaces

[2016-05-20 08:44] lucaderi opened #571 "Broadcast traffic computation"
As with -m we have the list of networks, so that we can compute the broadcast addresses (in addition to the usual 255.255.255.255 and 0.0.0.0) so that we can tag each flow for "broadcast" and thus compute this in RRDs (and also in GUIs)

[2016-05-20 08:45] lucaderi opened #572 "Export/Display nProbe Flow configuration options"
It would be desirable to export/visualize nprobe configuration (e.g. the flow duration...) in the interface view

[2016-05-20 08:46] lucaderi opened #573 "Empty top hosts page"
The page lua/top_hosts.lua is empty and it is populated over time. The initial page must be populated with historical data and not be empty.

[2016-05-20 08:49] lucaderi opened #574 "DB Explorer IP Host Enhancements"
1. Add JSON completion in IP field
2. Add ability to specify src/dst/both in IP field
3. Add ability to add wildcard "broadcast" as IP
4. Add ability to specify CIDS (IP/mask) in IP

[2016-05-20 08:55] lucaderi opened #575 "Add Visualisation Preference for L7 Protocols"
In pages like /lua/host_details.lua?ifname=4&host=192.168.9.88&page=ndpi all protocols are displayed and thus the use might be confused for protocols received but not sent. Example an Internet host receives a lot of probing packets for protocols it does not have (e.g. probing on the telnet port) so we display tenth of protocols unnecessary.

it would be desirable to add the ability to hide (as a p

[2016-05-20 08:56] lucaderi opened #576 "Rework Preference Panes"
In the /lua/admin/prefs.lua the page is too long. It is requested to add a left menu bar that allows people to visualise only one section at a time.

[2016-05-20 09:00] lucaderi opened #577 "Save all data in Preference Panes"
Once fixed #576 each sub-pane must have a single "save" button that saves all the values of the pane instead of single individual panes that are not easy to use for long configurations

[2016-05-20 09:01] lucaderi opened #578 "Add Graph in Profiles"
In /lua/if_stats.lua?id=0&page=trafficprofiles add at the top of the page a stacked graph with all defined profiles

[2016-05-20 09:17] lucaderi opened #579 "Missing historical charts for retransmissions/OOO/lost"
The above chart is computed for packet interfaces (e.g -i eth0) but it is not populated via ZMQ. ntopng must interpret retransmissions/OOO/lost received via ZMQ and use them for creating charts

[2016-05-20 09:22] lucaderi opened #580 "Implement per-flow Lua script execution"
Add the ability to evaluate a Lua script when a flow is created/purged.

The script can be reloaded during the ntopng execution.

[2016-05-20 09:26] lucaderi opened #581 "Implement Websocket for AJAX refresh"
ntopng must start using web sockets at least for the page footer to reduce the load on the browser

[2016-05-20 10:00] lucaderi commented on #542
@m00tpoint Can you please send me via email a pcap containing flows + templates so we can check what we need to change in nProbe in order to support your device?

[2016-05-20 17:20] m00tpoint commented on #542
Sent, and thanks!

[2016-05-20 19:05] nate-byrnes commented on #556
I've been running now for 7 days with v.2.3.160513... not sure what happened to Queeq

[2016-05-20 19:05] #556 closed, assigned to nobody

[2016-05-20 19:08] nate-byrnes opened #582 "No host history data visible (storing in elastic search...)"
Perhaps this is not an issue, but, I cannot see any per host traffic history. Instead I get the graph like below. I could not find any documentation detailing the correct storage set up so this would work...

![ntopng_host_hist](https://cloud.githubusercontent.com/assets/19349744/15438923/7785e21e-1e9c-11e6-867a-e1a21a171e7a.png)

[2016-05-20 19:11] nate-byrnes commented on #582
This host definitely has had traffic in the past hour. So this graph should be populated. My configuration is:

--interface=eth1
--interface=eth2
--interface=eth4
--interface=eth5
--daemon=
--dns-mode=1
--local-networks=" ---- removed from post ----- "
--redis=localhost
--dump-flows="es;ntopng;ntopng-%Y.%m.%d;http://lb.elmdc.com:9200/_bulk"
#--dump-flows=
--packet-filter="not host 10.88.29.18"
--d

[2016-05-22 02:25] alberk8 opened #583 "Enhancement: Message for SQL Schema Change"
Hi,

When upgrading to a new ntopng and if there is a SQL schema change in new version of ntopng, particularly when there is already an existing large DB  it would take sometime to complete.  In the meantime the web interface of ntopng would not appear and this would give an illusion that something is wrong with ntopng.  There is not message (/var/tmp./ntopng/ntopng.log) that DB schema is being ch

[2016-05-22 12:31] simonemainardi commented on #583
Thanks, also related to #567

[2016-05-23 08:21] simonemainardi commented on #566
actually we support and release x64 nightly builds for both jessie and wheezy

Do you need nightly builds for the 32-bit hard-float armhf architecture?

[2016-05-23 08:44] filemoon commented on #566
Yes please :) - armhf will be recommended and arm64 too if possible ;)

Regards Chris

[2016-05-23 08:55] simonemainardi commented on #582
@nate-byrnes
- make sure to upgrade to the latest nightly build
- check permissions 1: is the user who runs ntopng privileges to monitor `--interface`s?
- check permissions 2: Empty charts can be the symptom that ntopng is not able to write data points to disk. Make sure `/var/tmp/ntopng` is writeable by the user who runs ntopng.

[2016-05-23 13:46] DamienOtel opened #584 "Ntop keeps crashing"
Hi

We are running ntop on a windows 2008 R2 system.
However when I select certain options it seems to crash the ntopng.exe

For example when I select Hosts>>Local flow matrix the service,application crashes and have to restart it.

[2016-05-23 14:31] simonemainardi commented on #584
please, post ntopng logs.

[2016-05-24 02:46] nate-byrnes commented on #582
I've upgraded to v.2.3.160523 (I am using packages.ntop.org as my apt repo). The user is 'nobody' and able to capture the data off of the interfaces. I have verified that /var/tmp/ntopng is owned by nobody.  Is the data I'm looking for just the bytes.rrd files in the subdirectory `/var/tmp/ntopng/<interface num>/rrd/<octet 1>/<octet 2>/<octet 3>/<octet 4>@<vlan>/`   ?

[2016-05-24 05:10] Niko78 opened #585 "ntopng mysqlDB grows up... limit usage"
hi,
I use ntopng to save data in mysql database.
I configured it to limit data retention at 7 days but my DB is growing up too much
So can you confirm me my configuration is OK ?
thanks

Nico
<img width="927" alt="ntop-1" src="https://cloud.githubusercontent.com/assets/17108017/15492707/7cb9757c-217e-11e6-9812-13ff05a96474.PNG">
<img width="920" alt="ntop-2" src="https://cloud.githubusercontent.co

[2016-05-24 07:46] simonemainardi commented on #582
@nate-byrnes yes, the subdirectory is right. Note that the host must be local.

`--communities` is not a valid option, same for `--dump-aggregations`.  Check the help.

Post contents of the Traffic tab for the local host considered. I guess the interfaces simply don't receive it's traffic.Have a look at: http://www.ntop.org/pf_ring/port-mirror-vs-network-tap/

[2016-05-24 10:22] simonemainardi commented on #583
ntopng will output a notification when performing the latest mysql schema update (see https://github.com/ntop/ntopng/commit/9953cc2328d653cda7b138dd933a539abb7b9179#diff-6c69828bd2ad4b659c217ed525196f27R297). This behavior will be kept consistent for any possible new schema update.

[2016-05-24 10:22] #583 closed, assigned to nobody

[2016-05-24 13:08] nate-byrnes commented on #582
Thanks, the hosts are local. Just to clarify, I have no history for any local hosts. I've taken out the communities and dump-aggregations lines from my config file. I cleaned out /var/tmp/ntopng and restarted.

(side note: It seems that ntopng creates the child directories before it changes users. It re-created all the subdirectories, which were owned as root, but when I looked at the process, it

[2016-05-24 14:10] #557 closed, assigned to nobody

[2016-05-24 14:11] simonemainardi commented on #555
@Queeq please checkout nProbe manual http://www.ntop.org/support/documentation/documentation/ that explains how to control nProbe start/stop daemon

[2016-05-24 14:30] simonemainardi commented on #582
I noticed the host has VLAN 13. You verified that file permissions are OK. Can you please check if historical charts are properly shown for local hosts that don't belong to any vlan?

[2016-05-24 14:43] nate-byrnes commented on #582
I do not have any hosts which do not  belong to any vlan.

File permissions (sampled... look like):

[code]

[2016-05-24 14:50] Queeq commented on #555
@simonemainardi I was acting pretty much according to manual, as I described in my penultimate post. The only difference is that I didn't specify interfaces explicitly, but that shouldn't matter as the interface name is an optional parameter anyway.

[2016-05-24 14:51] kyoshi-maru opened #586 "No historical talkers/protocols"
Hi guys!
I just bought nProbe and ntopng small business (v2.3.160519). I have a problem with the historic data in the interface and single hosts view: It says 'No result found' in the talkers and protocols tab. The chart tab works fine. I found someone with the same issue and it was supposely fixed. The Client/Server Host search box doesn't work either, I tested with a known IP. Everything is stor

[2016-05-24 17:26] simonemainardi commented on #586
Hi, If I understand correctly you checked the MariaDB logs. Can you please also inspect ntopng logs and post any possible error. Thank you.

OT: the number of flows you have is approaching the maximum. Try and increase the value. See `-X`

[2016-05-24 17:51] simonemainardi commented on #582
any chance you can give me access to the ntopng ui? If affirmative then please contact me privately at mainardi ntop org and send access details. thank you

[2016-05-24 18:28] nate-byrnes commented on #582
Yes, sending details now.

[2016-05-24 18:35] DamienOtel commented on #584
HI Malope

Please reply here

From: simonemainardi [mailto:notifications@github.com]
Sent: 23 May 2016 04:31 PM
To: ntop/ntopng
Cc: Damien Ellis; Author
Subject: Re: [ntop/ntopng] Ntop keeps crashing (#584)

please, post ntopng logs.

—
You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHubhttps://github.com/ntop/ntopng/issues/584#issuecomment-220

[2016-05-24 18:38] ValentinaViscarelli commented on #576
Implemented as requested.

[2016-05-24 18:38] #576 closed, assigned to ValentinaViscarelli

[2016-05-24 18:39] ValentinaViscarelli commented on #577
Implemented as requested.

[2016-05-24 18:39] #577 closed, assigned to ValentinaViscarelli

[2016-05-25 05:18] Niko78 commented on #585
it would be interesting to have an option to limit disk usage from database because even in putting only seting in days...
I can get few datas for one week but a biggest streams an other week, so in 7 days I can't get the same space each time

so if it's possible maybe an option to tell that database can't exceed 80% of disk space by example

nico

[2016-05-25 07:52] kyoshi-maru commented on #586
Hi! A while after posting the issue here I though about checking for new release in the repo so I updated and restarted, now everything works with v.2.3.160524.

Thanks for the tip with the max flows didn't notice that one :-)

[2016-05-25 07:52] #586 closed, assigned to nobody

[2016-05-25 11:04] smezei opened #587 "HTTP/1.1 500 Internal server error Content-Type: text/html"
HTTP/1.1 500 Internal server error Content-Type: text/html Connection: close Script "/usr/local/shar /ntopng/scripts/lua/index.lua" returned an error:
/usr/local/share/ntopng/scripts/lua/inc/menu.lua:22: attempt to index a userdata value

What is the problem?

Thank you!

[2016-05-25 14:19] simonemainardi commented on #587
Hi, please make sure you are using the latest dev build

[2016-05-25 14:23] smezei commented on #587
Hi,  it is  ntopng 2.2.0 (in CHANGELOG.md)

[2016-05-25 14:36] simonemainardi commented on #587
You should update and use the latest dev build which is 2.3.xx see packages.ntop.org

[2016-05-25 14:43] smezei commented on #587
Thank you very much!
I have question!
How can i update and use the lastest build?

[2016-05-25 15:07] simonemainardi commented on #587
instructions are at: http://packages.ntop.org/ look for nightly builds

[2016-05-25 15:18] smezei commented on #587
Thank you!
But my OS is i686 not x64

[2016-05-25 17:31] nate-byrnes commented on #582
Did you receive the details I sent?

[2016-05-25 21:08] simonemainardi commented on #582
Hi. Yes. Sorry we are out of office at the ripe meeting in Copenhagen. We have limited resources. We will look at your issue during the weekend.

[2016-05-25 21:10] simonemainardi commented on #587
Presently we are unable to maintain 32-bit packages. Please consider upgrading your system.

[2016-05-25 21:10] #587 closed, assigned to nobody

[2016-05-26 09:20] DamienOtel commented on #584
Malope please reply

From: simonemainardi [mailto:notifications@github.com]
Sent: 23 May 2016 04:31 PM
To: ntop/ntopng
Cc: Damien Ellis; Author
Subject: Re: [ntop/ntopng] Ntop keeps crashing (#584)

please, post ntopng logs.

—
You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHubhttps://github.com/ntop/ntopng/issues/584#issuecomment-220996979

[2016-05-26 09:22] DamienOtel commented on #584
Please advise where I can find these logs on windows system

From: Damien Ellis
Sent: Thursday, May 26, 2016 11:21 AM
To: ntop/ntopng; ntop/ntopng
Cc: Author; Malope Molepo
Subject: RE: [ntop/ntopng] Ntop keeps crashing (#584)

Malope please reply

From: simonemainardi [mailto:notifications@github.com]
Sent: 23 May 2016 04:31 PM
To: ntop/ntopng
Cc: Damien Ellis; Author
Subject: Re: [ntop/ntopng] N

[2016-05-28 16:47] Niko78 opened #588 "syslog / cron"
hi
in checking my logs I detected a cron entry each minute in syslog
CRON[25108]: (root) CMD (python /var/ntop/utils/scheduler.py > /dev/null 2>&1)

is it normal ?
because my syslog file has ton of these lines

ntopng v.2.3.160528 [Professional Edition]

thanks

Nico

[2016-05-28 22:21] madpilot78 commented on #297
I have just committed the restoration of the  ntopng port to the FreeBSD ports tree:

http://www.freshports.org/net/ntopng/

[2016-05-28 22:32] Andrew17856 commented on #297
Great,  thank you very much for fixing and restoring the port.  Much appreciated.

[2016-05-29 03:58] Vaelatern opened #589 "Please tag a release"
Thank you!

[2016-05-29 12:28] Niko78 opened #590 "issue with trafic detection"
I had opened an issue in ndpi but it seems to be an issue in ntopng
thanks to check here
https://github.com/ntop/nDPI/issues/194

Nico

[2016-05-29 14:49] Pimmetje commented on #297
@madpilot78 Thx for fixing. Is anyone planning to get the package back in pfSense? In the mean time whats the best way to test it?

[2016-05-29 15:29] Andrew17856 commented on #297
Now it's in the FreeBSD ports tree it should find it's way back into the pfSense ports repository then back into pfSense. There's a thread on it here : https://forum.pfsense.org/index.php?topic=109839

[2016-05-29 15:38] Niko78 commented on #590
I followed a link to be more clean and simple
=> http://www.ntop.org/nprobe/why-nprobejsonzmq-instead-of-native-sflownetflow-support-in-ntopng/

so in entering
nprobe --zmq "tcp://*:5556" -i none -n none --collector-port 2055
then
ntopng -i tcp://127.0.0.1:5556 -w 3000

I have same issue, netflow is not well detected, anyconnect vpn ssl same... and I don't have graph in bottom
BUT if I change ntop

[2016-05-30 02:13] hatclub opened #591 "ntopng dies / Ubuntu 14.04"
Hi

I did a "DIY" nBox on Ubuntu 14.04 LTS and initially installed from the apt-stable repo. ntopng was crashing without logging anything after 6-18 hours.

At Luca's suggestion I switched to the development repo and did an apt-get update / dist-upgrade and relaunched ntopng, but the issue remains.

No entries appear to be turning up in the ntopng.log or in syslog that would explain the issue.

An

[2016-05-30 05:59] gengzhi1024 opened #592 "nprobe problems"
The license works, however, when load the nprobe, core dump happened.

(gdb) bt
#0  0x00007fc5303a7a03 in _IO_vfprintf_internal (s=s@entry=0x7ffc9a273490,

[code]
#1  0x00007fc5303ce579 in _IO_vsnprintf (

[code]
#2  0x00007fc530e353a0 in traceEvent ()

   from /usr/local/lib/libnprobe-7.3.160522.so
#3  0x00007fc530e25426 in ?? () from /usr/local/lib/libnprobe-7.3.160522.so
#4  0x00007fc530e23af3

[2016-05-30 06:35] lucaderi commented on #591
@hatclub Please generate a core dump and share both the core dump and the ntopng binary, so we can debug it.

[2016-05-30 06:35] lucaderi commented on #589
We'll do when we will release 2.4. Please use branches for the time being

[2016-05-30 06:35] #589 closed, assigned to nobody

[2016-05-30 06:36] lucaderi commented on #592
We fixed this bug days ago. Please use a more recent probe version. In case of bug. please file it under nprobe not ntopng

[2016-05-30 06:36] #592 closed, assigned to nobody

[2016-05-30 06:38] lucaderi commented on #590
The graph you highlighted indicates traffic local->remote and remote->local. As you use ZMQ, ntopng has no clue what are your local networks. Please specify them with -m and it will work. Using -i eth0 works because ntopng reads it from the interface

[2016-05-30 06:39] lucaderi commented on #588
This is a file part of nbox used to check if there are extractions to do. It is fine like that.

[2016-05-30 06:39] #588 closed, assigned to ValentinaViscarelli

[2016-05-30 07:28] Niko78 commented on #590
the issue is not really the small graph, I can do without
my issue is that I don't get all data, same with your "-m"
I just took a screenshot when there is -m and without
as you can see I don't get the same amount flows

<img width="431" alt="ntop1" src="https://cloud.githubusercontent.com/assets/17108017/15642622/cbff2536-2648-11e6-94c8-ba4365d53733.PNG">
<img width="459" alt="ntop2" src="https:/

[2016-05-30 07:33] lucaderi commented on #584
@DamienOtel we have made a new windows build. Can you please give it a try?

[2016-05-30 07:35] lucaderi commented on #590
Looks odd to me. @ValentinaViscarelli can you please get in touch and see if you can reproduce it?

[2016-05-30 07:40] Niko78 commented on #590
I can give more info
I have around 50 cisco routers configured to send netflow stream to my server on port 7002

I start nprobe as service : /etc/init.d/nprobe start
I have nprobe-none.conf with
-n=none
-i=none
-g=/var/run/nprobe-none.pid
-3=7002
--zmq=tcp://192.168.6.35:5556

and an empty file nprobe-none.start

then I start ntop
ntopng -i tcp://192.168.6.35:5556 -d /storage/tmp -w 3000 >> /dev/n

[2016-05-30 08:02] Andrew17856 commented on #297
p.s. re your comment on testing, see here:  https://doc.pfsense.org/index.php/Installing_FreeBSD_Packages under pfSense 2.3

It's possible to install native FreeBSD ports into pfSense, but it may break things.  Probably safest to wait for the devs to push it out as an official pfSense package.

[2016-05-30 08:03] DamienOtel commented on #584
Sure. How do I go about doing that? Do I do a fresh install on the application on the server?
If so please share links

[2016-05-30 08:54] simonemainardi commented on #584
@DamienOtel the Windows installer can be found at http://packages.ntop.org/Windows/

uninstall the old ntopng and the re-install the new build

[2016-05-30 10:37] rbgarga commented on #297
Thank you @madpilot78. Since pfSense uses quarterly branch of the ports tree, I'll cherry-pick the commit to the tree to make it available on pfSense repo

[2016-05-30 13:02] rbgarga commented on #297
Done

[2016-05-30 15:33] simonemainardi commented on #590
Duplicate of https://github.com/ntop/ntopng/issues/536 please upgrade ntopng to the latest nightly build

[2016-05-30 15:33] #590 closed, assigned to ValentinaViscarelli

[2016-05-30 17:01] Niko78 commented on #536
still the same issue on my side with last nightly (small amount of hosts and flows when adding "-m")
ntopng v.2.3.160530 [Professional Edition]
nProbe v.7.3.160530 (r5227)

[2016-05-30 18:13] Niko78 commented on #536
without "-m" when I check in verbose mode, I have ton of
30/May/2016 20:12:30 [CollectorInterface.cpp:183] [216] P▒z
30/May/2016 20:12:30 [ParserInterface.cpp:684] Not handled ZMQ field 15/15
30/May/2016 20:12:30 [ParserInterface.cpp:684] Not handled ZMQ field 10/10
30/May/2016 20:12:30 [ParserInterface.cpp:684] Not handled ZMQ field 14/14
30/May/2016 20:12:30 [ParserInterface.cpp:684] Not handled

[2016-05-30 20:23] filemoon commented on #536
And I'm still waiting for Debian arm build (v.2.3.160426 is the latest one).

👎

[2016-05-31 07:12] Niko78 commented on #536
I fixed a little bit my problem, I think it was a misunderstanding of  "-m"
I added a "-m" with all networks I managed (rfc1918 + pub network), now it's OK
but still issue to detect vpn ssl anyconnect (detected as quic) and netflow (detected as RX)

I have a second server in rfc1918 ip which manage all my vpn (distributed rfc1918), so "-m" has list of rfc1918"

[2016-05-31 07:19] lucaderi commented on #536
Please file two different issues under ndpi and attach two pcap files, one for quic and one for rx.

[2016-05-31 07:21] Niko78 commented on #536
already done
https://github.com/ntop/nDPI/issues/194

[2016-05-31 07:39] Niko78 commented on #536
but this "-m" is not clear
right now with my list of network, the only thing that changes is now I have a graph and a top list

I also detected that in flows tab, I have nothing in info column
if I start ntopng with only "-m" without network list, I have this time info... and protocols (netflow) are well detected and info column has info but not the right amount of hosts/flows
something is strange

[2016-05-31 09:09] MrBrax commented on #297
Just curious, will this new version/port support HTTPS on pfSense?
I know the regular version does so

[2016-05-31 09:37] simonemainardi commented on #536
@Niko78 this issue is closed. Please open a new issue with all the screenshots and configurations used in order to enable us to reproduce. Thank you.

[2016-05-31 11:17] MarcoPamio opened #593 "nothing displayed in "Top Application Traffic Last Day View" on Dashboard"
Nothing is displayed,
![image](https://cloud.githubusercontent.com/assets/17720114/15672592/d90e15a4-2731-11e6-8004-39494176db32.png)

[2016-05-31 12:06] simonemainardi commented on #593
It take some time to show the first data points. Note that application stats are collected every 5 minutes. So please allow ntopng enough time.

[2016-05-31 13:27] hatclub commented on #591
Hi @lucaderi, I have set /etc/security/limits.conf to permit unlimited cores, rebooted, and will update this once things go wrong again.

[2016-05-31 14:08] hatclub commented on #591
Now I actually have a new problem; the nbox interface thinks ntopng isn't running (it is) and ntopng's dashboard claims that I only have 2 or 3 local talkers and 2-5 remote destinations that amount to a few kbits of traffic (whilst also claiming it sees 105k hosts and 56k flows, 30-400mbps total depending on when the netflow gets exported).

![ntopng](https://cloud.githubusercontent.com/assets/543

[2016-05-31 14:16] simonemainardi commented on #591
@hatclub this issue is related to the core dump, let's use it just to investigate the dump to make things easier to follow.

Use other issues to track different problems. However, the latest version is v.2.3.160531 so please update to this one before posting. Also, you may want and use ntopng without nbox initially.

[2016-05-31 14:20] hatclub commented on #591
Ah, yeah, sorry. Anyway, at least the above served some purpose to get the configs. I actually did an update before rebooting but neglected to actually _upgrade_. Have done, now on 160531, ntopng dashboard looks normal now after /etc/init.d/ntopng restart. Will wait for it to crash.

[2016-05-31 14:36] simonemainardi commented on #591
thanks for reporting. let's wait and see

[2016-05-31 15:11] hatclub opened #594 "Reverse DNS lookups unreliable"
ntopng seems to be very poor at completing reverse dns lookups; even if I open a host detail page which appears to attempt to run the reverse lookup again based on the pinwheel that appears, the IP is not replaced with the hostname.

![reverse](https://cloud.githubusercontent.com/assets/5437917/15679454/d14738ec-2749-11e6-8a6a-46ebc1c53344.png)

There doesn't appear to be any rhyme or reason to wh

[2016-05-31 17:32] simonemainardi commented on #582
@nate-byrnes we have made some fixes. could you please try and update to the latest dev version. Thank you.

[2016-05-31 17:32] simonemainardi commented on #555
@ValentinaViscarelli could you please look at this.

[2016-05-31 17:34] simonemainardi commented on #542
@jmunty please try and install the latest windows build and report back. Thank you

[2016-05-31 17:35] simonemainardi commented on #486
@Queeq we are done with the improvements. Your issue should now be solved. Please try and update to the latest dev build and give a feedback. Thank you.

[2016-05-31 20:33] nate-byrnes commented on #582
I'm now on 2.3.160531, the historic data icon does not appear for any of the hosts (all local) that I've looked at so far (10+). Most of the hosts I've looked at were listed as top talkers.

[2016-05-31 21:39] lucaderi commented on #297
Do you mean HTTPS detection or access the interface via HTTPS? Both are supported

[2016-05-31 21:41] MrBrax commented on #297
@lucaderi sorry, interface access. The 2.2 (old) version of pfSense has some old build and (probably because of the implementation) only has HTTP.

[2016-05-31 21:44] Pimmetje commented on #297
We there be remote storage support? I haven't been able to find it, And most pfSense boxes won't have big disks.

[2016-05-31 21:56] madpilot78 commented on #297
The ndpi version in the FreeBSD port is 1.8.

The ntopng port at present installs a recent snapshot of ntop, commit a92a08d7be7fcb8ad707544ae11d008ca552816e, from May 28th.

So it's not the old 2.2 from the port before it was removed from the tree.

[2016-06-01 07:13] jmunty commented on #542
Hi Simone
Great thanks for that – will try it out today!

[2016-06-01 09:37] Queeq commented on #486
Using today's nightly it became frozen after 14 minutes, consuming all available memory.

[2016-06-01 10:37] lucaderi commented on #486
Are yiu using the latest 2.3.160601 version? If not please update and report of your setup

[2016-06-01 10:43] Queeq commented on #486
@lucaderi Yes, v.2.3.160601

[2016-06-01 10:55] simonemainardi commented on #486
@Queeq I've just spent 1 hour trying to spot mem leaks but I can't find any.

Could you please try with
`valgrind --tool=memcheck --leak-check=yes ./ntopng`

and give us feedback? Thank you

[2016-06-01 10:56] nate-byrnes commented on #582
When I run with "--dump-flows=" rather than my ES config in "--dump-flows=es;...." I get the historical chart icon for hosts again. But, there is still no data rendered in the chart. When I am looking at my current top talker (presently a system getting a microsoft update) I can see that it's rrd files haven't been updated since the 24th.

[2016-06-01 11:02] simonemainardi commented on #582
@nate-byrnes we are trying to sort out your issue. Please check the email: we are asking you some extra details.

[2016-06-01 15:28] Queeq commented on #486
@simonemainardi
Running under `valgrind` as you said didn't lead to freeze. However there is a significant difference in its behavior: it was showing like 1/500 of actual bandwidth and ~1/100 of number of flows and hosts. It was also consuming much less memory (~500 MB vs ~3 GB) and CPU (~100% instead of ~400%). It seemed like it was only able to run on one core and was missing a lot of data from

[2016-06-01 15:30] Queeq commented on #486
Attaching valgrind log, just in case
[ntopng_valgrind.log.txt](https://github.com/ntop/ntopng/files/293759/ntopng_valgrind.log.txt)

[2016-06-01 15:59] simonemainardi commented on #486
@Queeq please attach the full ntopng command line used. I am not sure it's the same you reported above. Indeed, in the valgrind log I can find MySQL calls.

Also, does ntopng freezes while using the UI? Or it eats up all the ram regardless the use of the UI?

[2016-06-01 16:03] hatclub commented on #591
Either one of the builds between stable and 160531 fixes the issue, or installing the licence for nprobe & ntopng fixed the issue - it's stayed up 25h so far which is the longest to date. I guess I'll let you know in a week if it stays up that this can be closed(!)

[2016-06-01 16:09] Queeq commented on #486
Last time it was run as `valgrind --tool=memcheck --leak-check=yes --time-stamp=yes ntopng /etc/ntopng/ntopng.conf`

The ntopng.conf is the following:

[code]

Ntopng freeezes only after UI had been opened for some time. It could run for days without problems when UI is closed.

[2016-06-01 16:55] hatclub opened #595 "Disabled alerts persist in host detail page / 160531 / Ubuntu 14.04"
I have a customer on net who does security scans which trigger the ntop flow-based alerts due to the high rate of new flows (and high number of flows) created.

I cleared all alerts from the alerts page, and told ntop not to alert for the source IP in question, but the host still shows the alert symbol in dashboard view and the host detail page still show that 80 alerts were generated.

I can unde

[2016-06-02 09:24] hatclub opened #596 "Hostnames unnecessarily truncated in certain views"
Is it possible to configure the number of characters before hostnames are considered for truncation, or disable truncation (perhaps in combination with a CSS change for overflow hidden), or make truncation "smarter" (eg client side rendered) to take account of cell widths?

See the below screenshot where truncation was unnecessarily aggressive resulting in partial hostnames despite large amounts o

[2016-06-02 09:40] hatclub opened #597 "ntopng claims some flows with 136 year duration"
Is this an issue with the Cisco exported netflow data, or an nprobe/ntopng error involving an unsigned 32 bit int (as iirc 136 years in seconds is somewhere in the region of the maximum value of an unsigned 32 bit int), or some sort of issue in nprobe not knowing the uptime of the exporting device (as netflow records export in milliseconds since boot, iirc?)

![136 years](https://cloud.githubuserc

[2016-06-02 09:57] Niko78 commented on #597
yep same for me but Luca already reported it
https://github.com/ntop/ntopng/issues/569

[2016-06-02 10:11] lucaderi commented on #597
Duplicate of #569

[2016-06-02 10:11] #597 closed, assigned to nobody

[2016-06-02 10:12] #569 closed, assigned to lucaderi

[2016-06-02 12:46] hatclub commented on #596
Seeing full hostnames in an on:hover would be a bonus here too, allowing the full hostname to be seen even in views/on screens that are spaced constrained.

[2016-06-02 12:49] hatclub opened #598 "ntopng is still generating alerts for a host that has alerts disabled"
As per #595 I disabled alerts in the host view for a given IP for a host that is known to generate flooder alerts

When I looked at the dashboard today I saw fresh alerts for the IP that had alerting disabled (the total number of alerts has now climbed from 80 to 156).

I double checked the host details - alerting is still disabled (unchecked) for this host.

[2016-06-02 13:24] jmunty commented on #542
Hi Simone

Had a quick shot at it yesterday but couldn’t get it to work.

Pretty tied up today and tomorrow so give me till around Tuesday and I should have some results

[2016-06-02 21:56] lucaderi commented on #598
What ntopng version are you using? Did you try the latest 2.3.160602 version?

[2016-06-03 08:30] simonemainardi commented on #591
thanks for the feedback

[2016-06-03 08:30] #591 closed, assigned to nobody

[2016-06-03 14:04] hatclub commented on #598
Now upgraded to 160603; sorry, I'm not used to a branch that shifts this frequently, so I'll make sure we upgrade more aggressively - I did have a look in the recent changelog and nothing stuck out as relevant though.

We might not know if this is fixed until next week, though - I don't think they're actively scanning at the moment. Will let you know what happens.

[2016-06-03 14:29] #595 closed, assigned to nobody

[2016-06-03 14:29] #598 closed, assigned to simonemainardi

[2016-06-03 14:29] simonemainardi commented on #598
please update to the latest dev build. We have made a fix.

[2016-06-03 14:45] simonemainardi commented on #486
@Queeq , since the issue only occurs when the UI is running, I think we can safely _exclude_ the following things:
- MySQL dump
- periodic lua activities (scripts/callbacks) and C methods invoked there

If you are not experiencing the errors: `WARNING: Script failure [/usr/share/ntopng/scripts/lua/get_grouped_hosts_data.lua][not enough memory]
` then we can also exclude that Lua is eating up too m

[2016-06-03 15:02] hatclub commented on #598
Hi @simonemainardi - thanks - as soon as it's packaged I'll give it a whirl. 160603 is still the newest on apt.

[2016-06-03 15:24] lucaderi commented on #598
@hatclub just updated (160603)

[2016-06-03 18:00] Queeq commented on #486
Well, actually it becomes frozen when these messages appear:

[code]

Active browsing is not needed, simply leaving the following pages open lead to freeze with the above messages:
- Hosts -> Autonomous Systems
- Hosts -> Countries

Keeping the following pages opened doesn't lead to freeze:
- Hosts -> Networks (I have no networks defined)
- Hosts -> MAC addresses (I have only one MAC  there - all

[2016-06-03 23:27] JSTYL commented on #297
Is there an ETA as to when this should be available in pfSense now that it's ported?

[2016-06-04 09:35] Niko78 opened #599 "too long to get history"
hi
I use ntop with a "-F" to save in mysql database and it works well
but when I try to get a host history for one week... I have to wait around 10 minutes to get the result
database size is about 50 GB right now
is it caused by no SSD disk usage ?
what do you advise ? send data to ELK ?

thanks

Niko

[2016-06-04 09:43] lucaderi commented on #599
The problem is the DB. You need to tune it, check the disk configuration, see if you have so much data that you better need a cluster etc. How many records you have extracted in one week of traffic of a single host?
ELK is a toy IMHO: good for small setups, for large ones you need a distributed configuration that jeopardised the idea of having a simple DB.
We're working at a new database, written

[2016-06-04 09:43] #599 closed, assigned to nobody

[2016-06-04 16:27] #582 closed, assigned to nobody

[2016-06-04 16:49] ValentinaViscarelli commented on #555
@Queeq
I have made some fixes.
Please update and give it a try. Thanks.

Anyway make attention because there is something of wrong in your configuration files.

In ntopng:
1) replace this row "--http-port=:3000" with "--http-port=3000" (without ':' character).
2) remove "--daemon".  You are running ntopng as a service. you don't need to put this parameter.

In nprobe:
1) remove "--daemon". the sam

[2016-06-04 17:40] Queeq commented on #555
@ValentinaViscarelli Thank you for the advice. I put a colon before the port number for ntopng to listen only on loopback, according to its manual.
I modified my config files as you said. Are your fixes going to be included in the nearest nighly?

[2016-06-04 20:51] ValentinaViscarelli commented on #555
If the manual is wrong we will correct it.
No if you want you can try now. I have already built the packages.
Let me know if it works.
Thanks.

[2016-06-04 21:25] filemoon opened #600 "Ntopng - v.2.3.160603 (arm) "First / Last Seen" always same."
Hi.

I've noticed all my hosts have always have very same first/last seen date (one and same data for all of them - first and last) - external and local.

Examples:

![screen shot 2016-06-04 at 22 24 23](https://cloud.githubusercontent.com/assets/14888287/15802215/25d05d56-2aa3-11e6-8167-df1746d33c2a.jpg)
![screen shot 2016-06-04 at 22 24 02](https://cloud.githubusercontent.com/assets/14888287/158

[2016-06-05 11:59] Queeq commented on #555
@ValentinaViscarelli
I don't think the manual is wrong as it works as expected.
I found a problem in nprobe init script. You consider only short options and that is why in my scenario `stop` function didn't work. Here is how it should look like (line 122):

[code]

I modified `grep` to match `--pid-file=` string in addition to `-g`. I also added `^` for it not to match commented lines.

Init scrip

[2016-06-05 17:18] ValentinaViscarelli commented on #555
@Queeq
ok for pid-file. It's true it isn't currently managed for init.d file, but I analyzed the configuration files you gave us in your previous messages and in nprobe configuration there is not the "--pid-file" parameter and I said what was missing in configuration file order to work the service.
The ntopng configuration file that you gave us can work for me (apart from "--http-port" and "--daem

[2016-06-06 13:48] hatclub commented on #595
Persists in 160606 (latest build on apt)

After unchecking "Host Alerts" under the cog menu item on host detail, Host Alert icon persists on dashboard and alert counter persists on Host Detail page.

Might be worth clearing all existing alerts events for a host that has alerting turned off, as well.

[2016-06-06 13:59] simonemainardi commented on #595
@hatclub alert counters you see are those occurred before disabling the alert. Please, check that after unchecking "Host Alerts" no _new_ alerts are triggered.

[2016-06-06 14:00] hatclub commented on #595
New alerts being triggered are #598 ; this is about the alert flag staying lit and existing alert counters persisting on a host I have told ntopng I don't want alerts for.

[2016-06-06 14:02] hatclub commented on #595
![flag-still-lit](https://cloud.githubusercontent.com/assets/5437917/15824574/b9fb1a0c-2bf7-11e6-852a-6717654122b5.png)

Here's a screenshot of the dashboard flag I'm talking about.

[2016-06-06 14:35] simonemainardi commented on #595
please check with the latest fix

[2016-06-06 14:41] hatclub commented on #595
Will do as soon as it's packaged. Should I not be using packages, or do I need to wait n minutes after commit for rebuild?

[2016-06-06 15:42] simonemainardi commented on #595
you can use the package that will be built tonight

[2016-06-06 16:18] Queeq commented on #555
@ValentinaViscarelli
I have attached the complete config file.
[ntopng.conf.txt](https://github.com/ntop/ntopng/files/300832/ntopng.conf.txt)

[2016-06-06 16:49] Niko78 opened #601 "FR: graph superposition"
hi,

it's just a feature request
I think that would be interesting to have possibility to active graph superposition

I mean by example, when we have bandwidth graph (or other kind of graph) we could have an option to add to this graph the same graph from the day before
It could be interesting to detect something not normal or just compare values, it's a kind of proactive information and we could

[2016-06-06 17:38] ValentinaViscarelli commented on #555
@Queeq
It can work for me. What error do you have? Try also to see the log (/var/log/ntopng/ntopng.log).

antonio@ubuntu16:~$ sudo /etc/init.d/ntopng start
[ ok ] Starting ntopng (via systemctl): ntopng.service.
antonio@ubuntu16:~$ sudo /etc/init.d/ntopng status
● ntopng.service - LSB: Start/stop ntopng web
   Loaded: loaded (/etc/init.d/ntopng; bad; vendor preset: enabled)
   Active: active (runn

[2016-06-06 18:14] Queeq commented on #555
This is strange. I have this:

[code]

Last log is dated May 31st. I guess my installation might be broken somehow.

[2016-06-06 18:22] Queeq commented on #555
You know what... I've just tried to stop it (even though it wasn't running) and it began working. Looks like something was stuck inside systemd. I haven't tried to look at its status before you showed me and it gave me a clue. Thanks and sorry for taking so much time.

I hope you wouldn't forget to include the modified `grep` line in nprobe's init script.

[2016-06-06 18:22] #555 closed, assigned to ValentinaViscarelli

[2016-06-06 18:51] ValentinaViscarelli commented on #555
@Queeq
I have just made the change of nprobe script. You can find it in tomorrow release.

[2016-06-07 04:25] buitregool commented on #121
If your are using Chrome, try adding the opentype (OTF) url of the font to **font-awesome.min.css** as shown below:

`url('../fonts/FontAwesome.otf?v=4.3.0') format('opentype'),`

Cheers!

[2016-06-07 06:19] lucadistefano commented on #522
the error is still present with the build of yesterday and they are not utf8 chars:

06/Jun/2016 15:28:40 [Flow.cpp:1592] WARNING: JSON Parse error: { "58500": "tcp", "5": "0", "58503": "tcp_other", "9": "0", "10": "0", "58508": "443", "13": "0", "14": "0", "15": "0.0.0.0", "16": "0", "17": "0", "29": "0", "30": "0", "32": "0", "35": "1", "36": "120", "37": "30", "52": "127", "53": "127", "55": "0

[2016-06-07 08:21] simonemainardi commented on #522
@lucadistefano I've tried to re-parse the json strings you reported but actually I don't get any Parse error. Anyway, I've added JSON parse error descriptions to the code. So next time you should also see the reason that led to the failure. Please, follow up upon any news.

[2016-06-07 08:22] simonemainardi commented on #593
@MarcoPamio any news?

[2016-06-07 08:22] simonemainardi commented on #584
@DamienOtel did you try with the new package?

[2016-06-07 09:35] soutieslak commented on #297
Great work guys, can't wait to use it again.

I would also like to know if there is an ETA for when this will appear under the packages available in pfSense?

[2016-06-07 10:01] jmunty commented on #542
HI Simone
Thanks for your work on this. I still can't get it to work.
I’m going to try the linux version shortly instead. Thanks again!

[2016-06-07 10:26] Pimmetje commented on #297
@soutieslak Thats something i think u should ask the people of pfSense. But as far as i could get nobody is willing to give a estimate. So unless u have a pfSense gold subscription the only thing we can do is hope and wait.

[2016-06-07 10:42] simonemainardi commented on #601
yes, this is an interesting feature. we were already discussing the implementation.

[2016-06-07 11:00] #596 closed, assigned to nobody

[2016-06-07 11:35] filemoon commented on #600
Another screenshot from now.
Issue is still present for all hosts (internal/external).

![another example](https://cloud.githubusercontent.com/assets/14888287/15856255/55c67530-2cac-11e6-9e5c-003f445d86fc.jpg)

[2016-06-07 12:24] simonemainardi commented on #600
can't reproduce on raspberry pi. Please, post full configuration used

[2016-06-07 12:28] simonemainardi commented on #486
@Queeq any chance to have remote access (SSH + web) to the system? If affirmative, please send the details to mainardi ntop org

thank you

[2016-06-07 12:52] Queeq commented on #486
@simonemainardi Sorry, the machine is located within a restricted segment of a corporate network. Let me know what kind of diagnostics you would like to see.

[2016-06-07 13:09] simonemainardi commented on #486
Ok, let's proceed by trial and error. I've made additional changes. Please try again tomorrow with the latest nighty build and report. Thank you.

[2016-06-07 13:33] filemoon commented on #600
This is full config.

-G=/var/log/ntopng.pid
-d=/var/lib/ntopng
-i=tcp://127.0.0.1:5556
-m="10.0.1.0/24,10.0.2.0/24,10.0.0.0/24"
-n=1
-X=100000
-x=16000

[2016-06-07 14:32] lucaderi commented on #600
@filemoon What nprobe version are you using? What about the nprobe config file?

[2016-06-07 14:56] hatclub opened #602 "nprobe init script doesn't wait long enough for nprobe to stop when restarting"
When nprobe is busy as a netflow collector, "/etc/init.d/nprobe restart" does not wait until nprobe is completely stopped before attempting to restart nprobe, leading to a port collision and eventually, no copies of nprobe running when the original (slowly shutting down) thread finally terminates.

07/Jun/2016 15:50:20 [cache.c:1224] Redis Cache [0 total/0.0 get/sec][0 total/0.0 set/sec]
07/Jun/20

[2016-06-07 15:05] hatclub opened #603 "160607 / Invalid session does not appear to log user out (Was: Can't toggle Host Alerts on or off)"
When viewing the "Cog" menu on the host_detail page, unticking or ticking the Host Alerts checkbox results in the page reloading with the tickbox still set however it was to begin with.

[2016-06-07 15:15] simonemainardi commented on #603
I assume "Cog" is `page=config`. That said, alert toggle works properly here. Please try and post additional information.

Try and flush/inspect redis key (`ntopng.prefs.alerts`) before and after host alert toggle. When alerts are off you should be able to see something like

[code]

[2016-06-07 15:20] hatclub commented on #603
Hrm. Works okay in Chrome 50.0.2661.102 m (Windows), but not in Opera 37.0.2178.32 (Windows) - could, possibly, be a cache problem as I was using Opera with 160606 and just refreshed the page after restarting to 160607.

Closing out all my opera windows (I have a _LOT_ of browser windows/tabs/etc) and will let you know if I can clear this behaviour or if it persists.

[2016-06-07 15:33] hatclub commented on #603
Restarted Opera to upgrade to 37.0.2178.54, cleared all "Cached files and images", behaviour persists.

Cleared all cookies as well, logged back in, works fine.

So presumably some cookie session ID thing that only gets checked when changes are requested, given I could browse around pages in ntop just fine?

Not sure if this is something that can be improved so that a session is completely invalid

[2016-06-07 17:46] filemoon commented on #600
Latest available ARM version.

-3=2055
-V=9
--zmq tcp://*:5556
-i=none
-n=none
-t=60
-d=15
-l=15
-g=/var/log/nprobe.pid

[2016-06-07 17:51] lucaderi commented on #602
@ValentinaViscarelli Can you please look at this when you have time send that you are already modifying the other init scripts for Ubuntu 16?

[2016-06-07 18:50] filemoon commented on #600
What may be tricky - I'm using ARM64 system (Odroid C2) - linux multiarch - and armhf version of ntopng/nprobe.

Are you planing to create builds for ARM64 version too?

[2016-06-07 20:02] lucaderi commented on #600
Is the clock properly set on both nprobe and ntopng PIs ?
We'll be releasing 64 bit ARM packages soon

[2016-06-07 21:04] filemoon commented on #600
The clock is set at ARM "server" - ntopng and nprobe is running from at same server (time is syncing any hour - ntp) - time/time zone is correct.

Can't wait for ARM64 build ;)

[2016-06-07 21:19] rbgarga commented on #297
@soutieslak please keep track of pfSense changes at https://redmine.pfsense.org/issues/6443

[2016-06-07 21:49] ValentinaViscarelli commented on #602
@hatclub
I have made some changes. Now it should be fine.
Overnight a new nprobe release (containing the changes) will be built.
Please update nprobe and give it a try.
Thanks

[2016-06-07 21:49] #602 closed, assigned to ValentinaViscarelli

[2016-06-08 09:42] simonemainardi commented on #600
Hi,

I have tested also with nprobe and ntopng arm builds. It works properly:

![image](https://cloud.githubusercontent.com/assets/3397663/15889918/6fbe5202-2d6d-11e6-864c-22f031f1e0e1.png)

I run ntopng on a raspberry pi:

[code]

And nprobe on a ubiquiti edgex:

[code]

That said. I noticed you are using nprobe as a proxy. That is, it receives flows on port 2055. Are you sure that flows sent to

[2016-06-08 10:02] simonemainardi commented on #603
I am not sure why you say invalid session. If you were able to browse ntopng the session was valid: your browser and ntopng were bouncing valid session cookies or you would have been kicked out. Toggling host alerts requires an additional nonce to prevent cross site requests forgery. Again, this was valid otherwise ntopng would have raised a invalid CSRF token error.

Very likely this is an opera

[2016-06-08 10:02] #603 closed, assigned to nobody

[2016-06-08 10:09] simonemainardi commented on #593
solution given. no feedback received. closing.

[2016-06-08 10:09] #593 closed, assigned to nobody

[2016-06-08 11:08] Queeq commented on #486
Seems like v.2.3.160608 is slightly better. As if you made purging inactive hosts faster. However number of hosts is still growing. There is an impression it has not enough resources to purge them when UI is opened thus leading to memory overload and eventual freeze.

I tried setting host idle timeouts to 30 seconds together with Hosts Stats Update Frequency to 10 seconds, which made it better and

[2016-06-08 11:28] hatclub commented on #603
Well, the issue didn't clear when I restarted the browser completely (after having closed all ntop tabs) and clearing all cached files; it only went away when clearing cookies (forcing me to log in again).

I've also seen the CSRF error before, and it wasn't that - the page was just reloading with the toggle set back how it was. I'll try to reproduce next time I upgrade.

[2016-06-08 13:05] Niko78 opened #604 "L4 protocol list ?"
I would like to know what's the L4 protocol list you use ?
cause in flows, I have a line with only a number (see screenshot)
maybe you could update this list with
http://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml

![2016-06-08_150115](https://cloud.githubusercontent.com/assets/17108017/15895213/60987cc2-2d8a-11e6-9ce4-94f8adb2b672.png)

Nicolas

[2016-06-08 18:02] filemoon commented on #600
Please close the ticket - I did not export time stamps (now my cisco config is sorted) ;(

[2016-06-08 19:13] #600 closed, assigned to nobody

[2016-06-09 08:47] simonemainardi commented on #604
https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/template.lua#L374

[2016-06-09 08:47] #604 closed, assigned to nobody

[2016-06-09 08:48] simonemainardi commented on #584
solution given, closing for inactivity.

[2016-06-09 08:48] #584 closed, assigned to nobody

[2016-06-09 08:53] Niko78 commented on #604
well it seems it doesn't work well
I use ntopng 2.3.160608 / ndpi 1.8.0-dev-449-0b7a392 / nprobe  v.7.3.160608

see new screenshot
![proto](https://cloud.githubusercontent.com/assets/17108017/15924029/6f0b2fec-2e30-11e6-87df-4abfa50c755a.png)

[2016-06-09 09:02] DamienOtel commented on #584
Good day

Thank you the patch is working

From: simonemainardi [mailto:notifications@github.com]
Sent: 09 June 2016 10:48 AM
To: ntop/ntopng
Cc: Damien Ellis; Mention
Subject: Re: [ntop/ntopng] Ntop keeps crashing (#584)

solution given, closing for inactivity.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHubhttps://github.com/ntop/ntopng/issues

[2016-06-09 09:17] simonemainardi commented on #584
thanks for the feedback

[2016-06-09 10:06] simonemainardi commented on #604
on the C++ side, here are the protos converted to labels: https://github.com/ntop/ntopng/blob/dev/src/Utils.cpp#L99

[2016-06-09 11:01] Niko78 commented on #604
... and is it possible to extend this list ?

[2016-06-09 11:15] simonemainardi commented on #604
definitely, please to extend the list with what you need and submit a pull request. Thank you!

[2016-06-09 11:39] Niko78 commented on #604
done with 3 new entries
thanks

[2016-06-09 12:46] Niko78 opened #606 "ntopng closes by itself ???"
ntopng was started normaly and worked OK then I detected that it was down (tcp 3000)
so I checked server and ntop was not started

in checking logs, I have these lines when it failed
Jun  9 13:47:06 ntop-ia kernel: [184026.132698] show_signal_msg: 39 callbacks suppressed
Jun  9 13:47:06 ntop-ia kernel: [184026.132711] ntopng[11881]: segfault at 7f00c7227050 ip 00007f00c7227050 sp 00007f00fe3d2bd8

[2016-06-09 12:48] Niko78 opened #607 "ntop sends mails ?"
with ntop 2.3.160608
it seems to try to send mails

in my logs I have ton of lines like that
Jun  9 13:34:01 ntop-ia CRON[3097]: (root) CMD (python /var/ntop/utils/scheduler.py > /dev/null 2>&1)
Jun  9 13:34:13 ntop-ia postfix/sendmail[3187]: fatal: open /etc/postfix/main.cf: No such file or directory
Jun  9 13:35:01 ntop-ia CRON[3359]: (root) CMD (python /var/ntop/utils/scheduler.py > /dev/null 2

[2016-06-09 12:53] simonemainardi commented on #606
please, generate a core dump and post both the code dump and the ntopng binary used

[2016-06-09 13:16] simonemainardi commented on #486
@Queeq I was wondering how's it going after 1 day...

[2016-06-09 16:28] Niko78 commented on #522
on my side I still have few lines like that
ntopng: [Flow.cpp:1592] WARNING: JSON Parse error: { "15": "192.168.6.241", "10": "6", "14": "2", "5": "0", "16": "0", "17": "0", "9": "24", "13": "20", "42": "46771563" }
ntopng: [Flow.cpp:1596] WARNING: JSON Parse error [quoted object property name expected]: { "15": "172.29.44.205", "10": "48", "14": "2", "5": "0", "16": "0", "17": "0", "9": "28", "13

[2016-06-09 17:05] Niko78 commented on #606
v.2.3.160609 [Professional Edition]
GIT rev:   dev:63879f9635448a83cfc58a5fe1add673aff7c597:20160609
Pro rev:   r636
Built on:  Ubuntu 14.04.4 LTS

[dump.zip](https://github.com/ntop/ntopng/files/307494/dump.zip)

let me know if it's ok

Nico

[2016-06-09 17:21] ValentinaViscarelli commented on #607
@Niko78
How can you be sure it's ntop?
If I see the logs I cannot understand who has printed sendmail logs.

[2016-06-09 17:22] Niko78 commented on #607
well it's at the same rythm than ntop cron...
I will recheck tomorrow if I can get more details

[2016-06-09 18:25] Queeq commented on #486
I was not able to leave UI opened for long and haven't been watching it as I was traveling. Now as I've looked at it - it's frozen and ate all RAM and swap. There is this message in the log again:

[code]

It appeared after it had been running for about 10 hours. UI was closed. It had continued working though as there are some more messages regarding lost connection to MySQL later. Seems like only

[2016-06-09 18:28] Queeq commented on #486
Oh, it wasn't ntopng who ate all memory (it consumed only around 4G), but redis-server. Became clear after I restarted ntopng (had to send SIGABRT as there was no reaction on SIGTERM).

[2016-06-09 18:53] Queeq commented on #486
By the way, this is a real problem with redis as it consumes over 5 GB even after restart. Seems like it's packed with obsolete data from ntopng:

[code]

[2016-06-09 23:59] hatclub commented on #602
@ValentinaViscarelli works perfectly (tested on 160609)

[2016-06-10 00:02] hatclub commented on #607
I can't think of a circumstance where having a completely broken local mail system is a great idea, so it might be worth fixing your MTA (or switching for another basic one that just forwards local mail to a remote destination) and then you'll be able to see exactly what the emails are!

[2016-06-10 08:19] simonemainardi commented on #606
no:

[code]

Follow: http://www.ntop.org/support/faq/how-to-report-a-bug-on-ntop-apps/

Also paste full configuration used to startup ntopng

[2016-06-10 08:45] Niko78 commented on #607
well I configured postfix with main.cf available and no more log

[2016-06-10 08:57] #607 closed, assigned to ValentinaViscarelli

[2016-06-10 08:59] Niko78 opened #608 "no active flows with limited user/network"
I created a user in ntop with limited access and with visibility only for 192.168.115.0/24
in the dashboard page, I can see in top local talkers the right machines (inside 192.168.115 network)... but when I click on the "Flows" menu, it tells me : No Results Found

if I'm connected in admin, no problem to see all streams from this network

I missed something ?

Thanks

Nico

[2016-06-10 09:04] Niko78 opened #609 "internal server error"
in going on graph interface, I get an error
see screenshot

<img width="935" alt="ntop error" src="https://cloud.githubusercontent.com/assets/17108017/15959435/1b6073ae-2efb-11e6-91ad-21639759f348.PNG">

Nico

[2016-06-10 10:44] simonemainardi commented on #522
I'm getting a big headache: `Flow.cpp:1596` parses a string into a JSON object and raises the errors.

However, the string parsed was a former json object converted into string by `json_object_to_json_string` at `NetworkInterface.cpp:633`. How is it possible that json-c first converts json to a string and then it is not able to parse that string?

[2016-06-10 11:00] simonemainardi commented on #609
Even though I can't reproduce, I added extra checks to prevent the error. Please post full ntopng configuration used.

[2016-06-10 11:04] simonemainardi commented on #609
why did you edit the original version?

![image](https://cloud.githubusercontent.com/assets/3397663/15962498/d39f8742-2f0b-11e6-8e05-fd59938a1505.png)

[2016-06-10 11:08] Niko78 commented on #609
cause it's not limited to user with limited rights, I checked that after sorry

ntop config
ntopng -F "mysql;localhost;ntopng;flows;root;azer" -m "161.48.0.0/19,100.64.0.0/16,100.65.0.0/16,100.66.0.0/16,100.77.0.0/16,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16" -i tcp://172.31.1.245:5556 --online-license-check -d /storage/tmp -w 3000

[2016-06-10 11:18] simonemainardi commented on #609
can't reproduce, try to patch the code with the commit      5d8fbae

[2016-06-10 11:20] simonemainardi commented on #486
@Queeq thanks for the feedback. In order to verify this issue we should wait until you're able to leave the UI open on the AS page.

As per the redis memory consumption, you may want to try and disable dns caching and host dump. Also this may help: https://github.com/ntop/ntopng/blob/dev/doc/README.redis

[2016-06-10 11:25] Niko78 commented on #608
... or "flows" display only stream where both src and dst are THIS network ?
I think "flows" should show me all streams where 192.168.115.0/24 appears (src or dst)

[2016-06-10 13:52] HRomie opened #610 "ntopng pro: "Error 'fetching cdp from rra' while calling rrd_fetch_r""
I have tested the pre-compiled version of ntopng pro for windows x64 (v.2.3.160530) . ntopng's log, report this error every once in a while when visiting the dashboard:

I could not reproduce this running in community mode.

[2016-06-10 16:19] Queeq commented on #486
@simonemainardi Thanks for the redis hint.

As of now, UI has being opened for around 3 hours and is still running (v.2.3.160610). So the freeze issue is gone. However there are some other:
1. ntopng has eaten 5.5 GB of memory so far, and
2. it shows 630k active hosts (even though I had set the limit to 500k) and slowly rising.
3. AS throughput is incorrect (2-3 times less than actual).

As for po

[2016-06-11 01:15] HRomie opened #611 "ntopng pro: extended interface report generation causes the footer gauge and bandwidth dynamic graph to stop working"
Testing the provided pre-compiled win x64 binary (v.2.3.160530) . going to Home-> Report , the interfaces extended report, does not seem to be showing up by itself ( Only 'Network Interfaces' graph is available. even after running for more than hour), however, if i re-select the active interface ( by going to Interfaces->NIC_Name ), the full report suddenly shows up, but it causes the footer graph

[2016-06-11 07:49] Niko78 commented on #609
Ok just confirmed it's ok now
thanks

[2016-06-11 10:02] #609 closed, assigned to nobody

[2016-06-12 03:12] alberk8 commented on #599
Hi,

I am sorry to ask questions on a closed issue.  But this is an interesting subject to me.  I have the following questions.
1)  Will you maintain the existing MySQL options when the new DB is made available?.
2) Will the new DB be made available to the community edition and/or Open Source?
3) Is the query to the new DB based on a new language or will it be compatible to MySQL query language?

[2016-06-12 12:35] jean-christophe-manciot opened #612 "src/Flow.cpp:318:28: error: ‘struct ndpi_flow_struct::<anonymous union>::<anonymous>’ has no member named ‘reply_code’"
Ubuntu 16.04 4.4.0-24
ntopng commit 400ad5813148fe4ad113985ddceaf97af42b9241

[code]

Full log:
[src-Flow.cpp-318:28- error.txt](https://github.com/ntop/ntopng/files/310760/src-Flow.cpp-318.28-.error.txt)

[2016-06-12 16:08] lucaderi commented on #612
You need tup update nDPI and it will work

[2016-06-12 16:08] #612 closed, assigned to nobody

[2016-06-13 10:53] lucadistefano commented on #522
here my errors with the cause:
13/Jun/2016 10:00:21 [Flow.cpp:1596] WARNING: JSON Parse error [object value separator ',' expected]: { "58500": "tcp", "5": "0", "58503": "tcp_other", "9": "0", "10": "0", "58508": "443", "13": "0", "14": "0", "15": "0.0.0.0", "16": "0", "17": "0", "32": "0", "52": "127", "53": "127", "55": "0", "60": "4", "95": "0", "130": "0.0.0.0", "148": "54609731", "150": "1465

[2016-06-13 13:31] lucaderi commented on #522
@Niko78 @lucadistefano Please refresh the code from github and report if it works now

[2016-06-13 15:16] jmunty commented on #542
Hi Simone
I’m still in the process of getting a test system setup so I can send you the traffic.
Would it be enough though if I send you just the template files from packet captures on my production system? Would that help with the troubleshooting?

[2016-06-14 07:00] simonemainardi commented on #608
Limiting user UI visibility to one or more networks will show that user only flows and hosts belonging to the specified networks. As -- an administrator -- you explicitly specify the list of networks in the configuration, you expect that no other networks except than those specified is shown to the user.

[2016-06-14 07:00] #608 closed, assigned to nobody

[2016-06-14 07:06] simonemainardi commented on #610
this has already been discussed in https://github.com/ntop/nProbe/issues/51#issuecomment-208186143
please follow the instructions there

[2016-06-14 07:08] simonemainardi commented on #606
@Niko78 did you figured out how to produce a core dump? Or actually what was the cause behind the supposed crash?

[2016-06-14 07:49] Niko78 commented on #606
no crash yet

[2016-06-14 07:51] Niko78 commented on #608
hmm I'm sure I understand
if I restrict user to see 192.168.115.0/24, can this user see flows with this subnet when they go to internet by exemple ? ie 192.168.115.1 <=> 8.8.8.8 ?
it should be because I don't see restriction utility if I have to open 0.0.0.0/0 for that
thanks
nico

[2016-06-14 08:44] lhxhanson opened #613 "Get a warn message:"Loading kernel module for a network device with CAP_SYS_MODULE (deprecated). Use CAP_NET_ADMIN and alias netdev-dummy instead""
When reboot the ntopng host machine, I get this warn message from the xencenter console.

"Loading kernel module for a network device with CAP_SYS_MODULE (deprecated).  Use CAP_NET_ADMIN and alias netdev-dummy instead"

Is there anyone ever see this yet?

[2016-06-14 09:08] #613 closed, assigned to nobody

[2016-06-14 11:15] simonemainardi commented on #611
I have made fixes and tested on win10 x86_64. Fix will be available in the next Windows build.

[2016-06-14 11:15] #611 closed, assigned to nobody

[2016-06-14 11:47] DigiAngel opened #614 "FR: Host Activity Map match First/Last scene"
Topic says it...screenshot says it better though.

![screenshot from 2016-06-14 05-43-48](https://cloud.githubusercontent.com/assets/947191/16041565/45faa5d0-31f3-11e6-828a-2c432085f2ee.png)

It looks like the Activity Map is only 24 hours in span?  It would be nice if this was expanded or configurable.  Thank you.

[2016-06-14 11:49] lucaderi commented on #614
For remote hosts the activity map is not serialized so when the host is back to life it's empty. Have you disabled host purge?

[2016-06-14 11:54] DigiAngel commented on #614
Thanks Luca for the quick reply.  I've left all the options in Data Purge default....should I try setting these to something greater?

[2016-06-14 11:57] lucaderi commented on #614
No leave them as default, just wondering why you have such a host without any traffic in the activity map.

[2016-06-14 12:02] DigiAngel commented on #614
OK thanks...I'll leave them untouched.  For reference here's the command line I'm using:

[code]

and version info:

[code]

Thanks again.

[2016-06-14 12:35] lucaderi commented on #614
Please paste http://localhost:3000/lua/runtime.lua

[2016-06-14 12:39] DigiAngel commented on #614
Sanitized version attached..thank you.
![screenshot from 2016-06-14 06-37-29](https://cloud.githubusercontent.com/assets/947191/16043000/ca907dea-31fa-11e6-93ac-872f32f37fe0.png)

[2016-06-15 07:44] Niko78 commented on #522
I upgraded with lasr build yesterday morning (v.2.3.160614)
seems to be fixed but now I have new error which I never got before

Jun 15 01:00:02 ntop-racine ntopng: [MySQLDB.cpp:593] ERROR: MySQL error: [MySQL server has gone away][2006]
...
Jun 15 01:17:44 ntop-racine ntopng: [MySQLDB.cpp:50] ERROR: MySQL error: Lock wait timeout exceeded; try restarting transaction

mysql is still UP and running