[2016-01-09 09:22] lucaderi commented on #275
@seismiccollision I have committed a patch and soon a new build will be ready. Please try again. This said I think that in your setup you need to increase -x/-X as you're running out of resources. Please report the test outcome.

[2016-01-09 09:32] lucaderi opened #346 "Add support of HTTP nProbe-augmented flows"
ntopng should be able to interpret HTTP flow information generated by nProbe + HTTP Plugin

[2016-01-09 09:33] lucaderi opened #347 "Add support of DNS nProbe-augmented flows"
ntopng should be able to interpret DNS flow information generated by nProbe + DNS Plugin

[2016-01-09 09:33] lucaderi opened #348 "Add support of SIP/RTP nProbe-augmented flows"
ntopng should be able to interpret SIP/RTP flow information generated by nProbe + SIP/RTP Plugin

[2016-01-09 20:13] Stalker71 opened #349 "Add Nprobe GeoPoint Export to ElasticSearch"
Hi,

Ntop is able to send location in the right format to use in the map in Kibana but not Nprobe.
Nprobe exports only the result : city and country for public IP.
Being able to see the cities, countries is great but being able to display a dynamic Map on a dashboard is a really nice feature.

Thanks!

[2016-01-09 20:19] Stalker71 opened #350 "Add Nprobe AS owner Export to ElasticSearch"
Hi,

Ntop is able to display AS owner but it seems Nprobe is not able to do the same thing and export it to ElascticSearch.
Is it possible to add this nice feature?

Thanks!

[2016-01-10 20:07] whoknowz opened #351 "Host protocols not available"
Had issue with both Protocols and Flows not showing up for individual hosts, probably bug #311.
After changing to nightly builds the flows are visible now, however Protocols still says "Unable to find data expired?" for even active connections.

NTOPNG is bridged between two trunk interfaces with multiple VLANs.

![capture](https://cloud.githubusercontent.com/assets/7417874/12223699/e2391904-b7ff-

[2016-01-11 04:43] whoknowz opened #352 "Flows suddenly stopped showing"
Flows from individual and global views stopped suddenly.
Logs show the following...
" tail -f /var/log/ntopng/ntopng.log
11/Jan/2016 09:36:57 [NetworkInterface.cpp:1815] WARNING: Internal error: column 1097666720 not handled
11/Jan/2016 09:36:57 [NetworkInterface.cpp:1815] WARNING: Internal error: column 1097666720 not handled
"

[2016-01-11 05:03] seismiccollision commented on #275
@lucaderi I am patching as we speak and I will report back. I am not sure what you mean by "you need to increase -x/-X", can you please explain? Thanks!

[2016-01-11 06:00] alberk8 commented on #275
Hi,
I think what Luca is alluding to is the max number of Flows and Hosts parameter.  what is shown below would be the default value.  May I know what is the bandwidth that you are monitoring with ntopng?  Thanks.

 (Max number of active flows)
-X 131072

(Max number of active hosts)
-x 131072

[2016-01-11 14:21] juesor commented on #341
Thank you for opening it.

Any other suggestions?  I've never had the --pid in my config as the startup script looks for it but if not found creates in /var/tmp/
as seen below.

get_ntopng_pid() {
if [ -f "/etc/ntopng/ntopng.conf" ]; then
PID_FILE=$(cat /etc/ntopng/ntopng.conf | grep -E '-G=|--pid'|cut -d '=' -f 2)
else
PID_FILE="/var/tmp/ntopng.pid"
fi

[2016-01-11 14:57] tezcangulnaz opened #353 "too many packages discarded or dropped % 50 percentage"
![image](https://cloud.githubusercontent.com/assets/16521020/12236772/4f2c3f44-b884-11e5-802e-4b48bc413d46.png)

after updating ntopng, too many packets are dropped and dashboard working too slow

[2016-01-11 15:34] seismiccollision commented on #275
@alberk8 Thanks for the clarification! I am making use of sflow for this so the volume of sflow is pretty low at ~1Mbps but it represents ~3Gbps average of flows with peaks of 25Gbps according to ntopng, all internet-facing so the quantity of flagged remote addresses remains relatively high. Also, this is just a sample of the total sflow data I was planning to collect. Based on the above I expect

[2016-01-11 15:53] simonemainardi commented on #341
the script now finds the `--pid` in your ntopng.conf but fails to parse it since there is no `=` (look at the `cut`you've posted above).

please modify your ntopng.conf with `--pid=/var/tmp/ntopng.pid`, shut down any running instance of ntopng, delete the existing `/var/tmp/ntopng.pid`, and try to restart the service.

[2016-01-12 11:27] lucaderi commented on #341
@juesor I have made a fix for you. Please check it ant let us know. Don't forget to star ntopng on Github

[2016-01-12 16:37] shadrack222 opened #354 "Ntopng compilation error on debian 8.2 x86"
Hello,

After nDPI compilation without problems i got the following error while compiling ntopng (date : Wed Jan 6 16:34:53 2016 +0100 )

...

In file included from /usr/local/include/libndpi-1.7.1/libndpi/ndpi_main.h:33:0,
from /opt/ntopng/include/ntop_includes.h:99,
from src/NetworkInterface.cpp:22:
/usr/local/include/libndpi-1.7.1/libndpi/ndpi_api.h:77:40: note: initializing argument 2 of ‘ndpi

[2016-01-12 19:12] seismiccollision commented on #275
@lucaderi @simonemainardi
experienced another crash on the following version:
v.2.3.160111 [Professional Edition]
GIT rev:   dev:aab4e1a85d0a312c6f0987e2243ca1ceabb701ad:20160111
Pro rev:   r536
System Id: 6883D57176056201
Built on:  Ubuntu 14.04.3 LTS

It didn't generate a core dump and I'm not sure why

Log:
kernel: [88218.988431] ntopng[1370]: segfault at 30 ip 000000000041d0d6 sp 00007f4a8d1e2

[2016-01-13 01:22] ParadigmElena opened #355 "Incomplete Reports on Ubuntu 12.04.5 LTS"
The reports don't show anything below “Application Breakdown”, i.e. the report doesn’t show “Top Countries”, Top Local Hosts”, “Top Remote Hosts” and “Top ASN”. It's the same for any time period.

![reports](https://cloud.githubusercontent.com/assets/16676539/12282177/c0d9cd0e-b961-11e5-9532-151b80a7fb59.png)

[2016-01-14 01:54] gvanem commented on #354
I got the same error on Windows/MSVC. Apply this patch in `NetworkInterface.cpp`:

[code]

[2016-01-14 14:45] martin8883 opened #356 "Webserver not listening on IPv4 but only IPv6"
Hi,
I have the same issue like in #307 - ntopng webserver is only listening on IPv6 port but not on IPv4. It seems as the used Mongoose webserver does not work correctly.
Server is Debian Jessie 8.2 and packages are nightly build binaries from packages.ntop.org. Also tried the stable packages for Ubuntu 14.04 (same problem).

[code]

This is the log from ntopng:

[code]

My network configuration i

[2016-01-14 16:14] martin8883 commented on #356
Same problem on a freshly installed Ubuntu 14.04 LTS as virtual machine:

[code]

As some people have it running, perhaps the problem is the virtual machine. It´s a KVM container on a Proxmox 3.x host

[code]

This is the vm config. Any suggestions?

[code]

Already tried to change the network config from virtio to other values but Mongoose also does not listen on IPv4.
Edit: just noticed that als

[2016-01-14 16:49] gvanem opened #357 ""ERROR: Unable to locate docs dir""
I have no problem running Ntop from the install-bin directory using the built-in heuristics for finding it's paths. But using `--httpdocs-dir` with an absolute path, it aborts with message:
`ERROR: Unable to locate docs dir`.

I start Ntop via a `go.bat` file in the `f:\MingW32\src\inet\ntop-NG\orig-bin` (where `ntopng.exe` is) like so:

[code]

I.e. _not_ as a service. And the output is:

[code]

[2016-01-14 16:53] martin8883 commented on #356
Both systems are running now. I don´t know exactly why, but I can make have a guess.
The Daemon was not working at the very beginning and there was no error message but port 80 was not reachable so I started debugging.
libmysql-dev was missing and I installed it. And from that time I think I was hunting a ghost. I did no actual web access but only checked netstat and that was the problem. That the

[2016-01-14 16:53] #356 closed, assigned to nobody

[2016-01-14 19:26] h8h opened #359 "Dump Flows -F with mysql results in high packets drops"
I have a jessie kvm instance with ntopng ([latest sourceforge build](http://sourceforge.net/projects/ntop/files/ntopng/ntopng-2.2.tar.gz/download)) running inside. I decide to dump the expired flows to a mysql database.

If I activate this option the dropped   packets raise up to 99 % (from 0.45%) and the bandwidth drops to nearly 0 - 1 MB/s (from 90MB/s).

It seems that it doesn't matter whether

[2016-01-14 19:53] lucaderi commented on #354
Thank you. Fixed

[2016-01-14 19:53] #354 closed, assigned to nobody

[2016-01-14 20:05] lucaderi commented on #359
@h8h Can you please share the command line argument you use? I dump flows in MySQL and everything works well. Are you sure MySQL is fast enough?

[2016-01-14 20:29] juesor commented on #341
Luca as always you are awesome i removed the pid declaration from my conf and it is back working like it was before.

Installed Packages
ntopng.x86_64                                                                      2.3.160114-785                                                                      @ntop

I will post another trouble i have since upgrading its showing ntopng community.

[2016-01-14 20:29] #341 closed, assigned to nobody

[2016-01-14 20:35] juesor opened #360 "ntopng not showing professional version"
© 1998-2016 - ntop.org  Generated by ntopng Community v.2.3.160114 for user admin and interface p2p1

Installed Packages
ntopng.x86_64                                                                      2.3.160114-785                                                                      @ntop

Jan 14 14:31:58 HEND-ntopng ntopng[32653]: [NtopPro.cpp:158] ERROR: [LICENSE] Invalid or missing ntopng L

[2016-01-14 21:19] seismiccollision commented on #275
uptime of over 2 days now which is further than i had gotten in the past. ~130k tracked hosts and ~1100flows. starting to increase amount of sflow data
the only thing that is very sluggish is the traffic graphs

[2016-01-14 23:41] lucaderi commented on #275
If you have so many hosts/flows please increase -x and -X to double the value you have.
Example -x=260000 ....

[2016-01-14 23:53] lucaderi commented on #341
Thank you very kind of you.

[2016-01-15 00:30] seismiccollision commented on #275
@lucaderi  Thanks for the tip! I've fixed that now

[2016-01-15 02:26] #275 closed

[2016-01-15 12:32] lucaderi commented on #360
@juesor Please paste your license and the output of ntopng --version

[2016-01-15 14:37] juesor commented on #360
C6151D64A4ABBEF7447E4BBD3FA762111475181184AFA4417F

ntopng ~]# ntopng --version
v.2.3.160114 [Professional Edition]
GIT rev:   dev:c4546c4e75b39b78114bbe4bf4dfc4b5b054c5a5:20160114
Pro rev:   r537
System Id: A53E30B69105A1EF
Built on:  CentOS Linux release 7.1.1503 (Core)

We were DDOS'ed last night and found the Flows Flood in NtopNG and our fastnetmon detected it and wanted to see some more info

[2016-01-15 20:22] h8h commented on #359
Thank you for the quick reply.

Here is the command linke arguments I use:

[code]

For example two interfaces, with 3h View. At the half I disabled mysql dump (-F):

## Eth3

![eth3](https://cloud.githubusercontent.com/assets/953856/12364068/d8f3f636-bbcc-11e5-916e-6d14754d2dde.PNG)
![eth3_drops](https://cloud.githubusercontent.com/assets/953856/12364069/d928886a-bbcc-11e5-9226-d056605c4508.PNG)

[2016-01-16 03:13] lucaderi commented on #268
@dboehlke Can you please check if the patch we committed worked? (packages are being rebuilt)

[2016-01-16 03:19] lucaderi commented on #360
I do not have any license for systemId A53E30B69105A1EF, you used to have 3D0153209105A1EF as ssytemId. Please go to http://www.ntop.org/support/kb/how-can-i-move-a-license-to-a-new-server/

[2016-01-16 14:34] lucaderi commented on #357
@gvanem I see that you are using old ntopng code, I suggest to update first. Why didn't you use the package we build? We do not support MingW32. As of the other problem, please file a separate issue as it makes sense to follow your suggestion.

[2016-01-16 14:34] #357 closed, assigned to nobody

[2016-01-17 08:24] gvanem commented on #357
How do you see that? This seems the most recent on your site and what I used
  http://packages.ntop.org/Windows/ntopng-2.2.151130-x64.zip

Why another of this _negative_ questions? I **used your installer**; the `.exe` inside the above `.zip`.

[2016-01-18 00:36] mjgehrmann opened #361 "Flow history timeout in network_details view"
I have experienced this in version 2.1 and now 2.2 with the mysql option enabled. The experience is when you view the network_details the flow query takes a long time and stops the UI from being responsive. I'm talking more than 5 minutes and usually it times out.

I have tried a manual query for a single record and got an immediate response. Even 100 records is less than 3 seconds. So I'm wonderi

[2016-01-18 08:34] shadrack222 opened #362 "Ntopng compilation src/Prefs.o' failed on debian x86"
Good morning,
- On Linux 3.16.0-4-686-pae #1 SMP Debian 3.16.7-ckt20-1+deb8u2 (2016-01-02) i686 GNU/Linux
- With ntopng Update 3bea0a7..4267c60

I got the following error when i tried to compile ntopng after nDPI:

src/Prefs.cpp:269:157: error: invalid conversion from ‘void\* (_)(long unsigned int)’ to ‘void_ (_)(size_t) {aka void_ (_)(unsigned int)}’ [-fpermissive]
   struct ndpi_detection_module

[2016-01-18 13:33] juesor commented on #360
I entred my order ID and email address and recieved maintenance is over.

Do you have to reset it manually?

[2016-01-18 18:31] lucaderi commented on #360
Please mail me your orderId so I can see what's happening

[2016-01-18 18:31] #360 closed, assigned to nobody

[2016-01-19 15:04] juesor commented on #360
Did you get my orderID?

[2016-01-19 15:41] lucaderi commented on #362
Please update nDPI and try again: that should fix the problem

[2016-01-19 15:41] #362 closed, assigned to nobody

[2016-01-19 16:29] lucaderi commented on #357
You have mentioned Mingw in the previous email, I thought you was using that. Please file a bug for the path issue on windows

[2016-01-20 13:04] shadrack222 commented on #362
Hello,

Thanks for your feedback,
Restart everything from scratch.
Still same problem after nDPI compilcation:

src/Prefs.cpp: In function ‘void usage()’:
src/Prefs.cpp:269:157: error: invalid conversion from ‘void\* (_)(long unsigned int)’ to ‘void_ (_)(size_t) {aka void_ (_)(unsigned int)}’ [-fpermissive]
   struct ndpi_detection_module_struct *ndpi_struct = ndpi_init_detection_module(ntop->getG

[2016-01-20 20:52] mmaxwell5 opened #363 "Ubuntu 14.04 LTS Error"
I have a fresh install of Ubuntu 14.04 LTS server.  When I install stop and then try to run ntopng -h I get the following error:
ntopng: error while loading shared libraries: libmysqlclient.so.18: cannot open shared object file: No such file or directory

[2016-01-20 22:25] whoknowz commented on #352
did a redis flushall and everything is back to normal, not ideal since lost all history

[2016-01-20 22:25] #352 closed, assigned to nobody

[2016-01-21 15:02] juesor commented on #360
I still have not  received a response to my email.  Is someone available?

[2016-01-21 22:45] bauruine commented on #363
you need to install libmysqlclient18 and libpcap0.8

Those are missing in the package dependencies list.

[2016-01-22 09:14] #363 closed, assigned to nobody

[2016-01-22 09:22] lucaderi commented on #359
Ok but MySQL is fast enough for what you want to do? You are probably monitoring too many interfaces for s single DB. Please check the load on MySQL

[2016-01-22 09:22] lucaderi commented on #353
@tezcangulnaz Any news?

[2016-01-22 09:23] lucaderi commented on #350
SRC_AS and DST_AS are written by nProbe if your template sets them. Please share your nprobe configuration

[2016-01-22 09:36] lucaderi commented on #360
I replied you privately. The orderId 1389192120 you used is not for ntopng but for nprobe. Each products has a different license and you cannot mix them up

[2016-01-22 14:04] simonemainardi commented on #362
no changes between 3bea0a7 and 4267c60 involve either nDPI or the Prefs.

Please, confirm that you `cd`ed into the nDPI source folder and did a `git pull && ./configure && make` into that directory before compiling ntopng.

[2016-01-22 14:26] Stalker71 commented on #350
Hi Luca,

Sorry, the AS number is well showed but not the real name of the number like it can be export by NtopNG.

Here is my configuration:
-n=none
-i=eth0
-s=128
-A=/usr/local/nprobe/GeoIPASNum.dat
-t=60
-d=60
-a=0
-e=1
-B=10
-w=128000
-z=0
-S=1:1
-E=0:0
-g=/var/run/nprobe-eth0.pid
--vlanid-as-iface-idx=none
-T=%IN_BYTES %IN_PKTS %PROTOCOL %PROTOCOL_MAP %SRC_TOS %L4_SRC_PORT %L4_SRC_PORT_MAP %I

[2016-01-22 16:42] mmaxwell5 commented on #363
Could you please send me noting.conf and noting.start sample files for ntopng 2

Thank you

Michael Maxwell

[2016-01-23 00:22] simonemainardi commented on #363
`ntopng.conf`contains ntopng startup options (run `ntopng -h` for a list), one per line. There is no default configuration. If no `ntopng.conf` file is created by the user, `ntopng` creates it with a couple of lines.
For the sake of example, here is an `ntopng.conf` file under `/etc/ntopng`

[code]

The `ntopng.start` is empty.

[2016-01-23 00:49] simonemainardi commented on #359
Whereas Elastic Search dump is asynchronous and occurs in a separate thread, MySQL flow export is synchronous and occurs in the same thread that handles the interface traffic. So it is likely that high volumes of exported flows will interfere negatively with the monitoring.

As a quick workaround, you may try and tune MySQL configuration to increase threads, memory, and buffer sizes. In this way,

[2016-01-23 01:17] simonemainardi commented on #362
I was able to reproduce the error on freebsd 8.1

I made a fix. Please check now.

[2016-01-24 18:17] simonemainardi commented on #361
Hi, could you please report the full MySQL query that is executed? It appears as truncated in the output of `mytop`.

Please also note that when querying against networks, ntopng uses ranges of IPs. Therefore, MySQL queries are expected to be slower than those using single ip addresses. However this should not make the UI irresponsive. Before ending up with an irresponsive UI, can you normally bro

[2016-01-24 18:29] simonemainardi commented on #355
@ParadigmElena, i can see from the screenshot that you are using v.2.2.151211, please update to the latest nightly build. This bug has already been fixed.

Please, let us know if it works as expected.

[2016-01-24 18:29] #355 closed, assigned to simonemainardi

[2016-01-25 09:16] shadrack222 commented on #362
Hello,

yes i do confirm: i cd into the nDPI source folder and did a git pull && ./configure && make into that directory before compiling ntopng.

I just tried with the fix, it works, thanks a lot.

Best regards,

Eric.

[2016-01-25 17:39] seismiccollision commented on #361
i run into the same issue. the chart loads pretty quickly but mysql hangs the rest of the page

if it's any help here is the query i am seeing (IPs obscured but this particular network is a /22):
select INET_NTOA(IP_SRC_ADDR) AS IP_SRC_ADDR,INET_NTOA(IP_DST_ADDR) AS IP_DST_ADDR ,L4_SRC_PORT,L4_DST_PORT,VLAN_ID,PROTOCOL,FIRST_SWITCHED,LAST_SWITCHED,PACKETS,BYTES,idx,L7_PROTO,INFO from flowsv4 where

[2016-01-25 18:07] seismiccollision opened #364 "tracking hosts - sizing"
is setting "sticky-hosts" to "local" going to flush tracked remote hosts from the web UI when they are idle? as i am ramping up my load on ntopng I am hitting about 600k tracked hosts and 3.5k flows before running out of 8GB memory. as the list of hosts ramp up i see hosts that seem to have been idle for an extended period of time yet still appear in the web ui with "-S" flag at default. I just se

[2016-01-25 21:12] h8h commented on #359
Thank you. Thats mostlikely the reason.

[2016-01-25 21:12] #359 closed, assigned to nobody

[2016-01-26 04:33] timdoes69 opened #365 "nTopng 2.2.160118 - Professional Edition 'Traffic Report' Reporting 'Other' for hostname"
![ntopngscreenshot2](https://cloud.githubusercontent.com/assets/16872078/12572557/5140d7b8-c3ab-11e5-8e9d-314bc4165877.png)
Version 2.2.160118 - Professional Edition
Platform Debian jessie/sid (x86_64) - 64 bit
Built on Ubuntu 14.04.3 LTS
nDPI 1.7.0-1.7-stable-180-a121161
RRDtool 1.4.7
Redis Server 2.8.4
Mongoose web server 3.7
LuaJIT LuaJIT 2.0.3
ØMQ 4.0.4
GeoIP 1.6.0
Data-Driven Documents (d3js)

[2016-01-26 10:48] lucaderi commented on #285
- Privileged users will be identified if they belong to a specific LDAP group.
- ntopng users will be identified if they belong to a specific LDAP group. In other words (if this group is configured) not all valid LDAP users can login but only those who belong to this group.

[2016-01-26 11:15] simonemainardi commented on #361
thanks @seismiccollision for reporting the whole query.

I inspected the length of the MySQL index that is selected by the query complier. I noticed that it was 768 bytes.
![image](https://cloud.githubusercontent.com/assets/3397663/12578879/f215da62-c423-11e5-8152-93b7196c8288.png)

So I added a different index to the mysql table, yielding a new key length of just 5 bytes
![image](https://cloud.gi

[2016-01-26 11:18] #361 closed, assigned to simonemainardi

[2016-01-26 11:49] simonemainardi commented on #364
@seismiccollision currently the purging process is non deterministic. That is, every second, 1 / 32th of the hash table holding hosts (flows) is checked for expired entries. Thresholds are hardcoded but can be configured at compile-time.

So there is no guarantee that all expired hosts (flows) are purged from the memory every second.

the -S is none by default, that is, both local and remote hosts

[2016-01-26 12:12] mzaian opened #366 "Two way traffic"
Hi,
Is it possible to get a list of current / historic conversations with source and destination IP, protocol and port? not Top Talkers but two way conversation ?
between internal clients with each other , not between clients and ntop server or broadcast address.

Thanks

[2016-01-26 12:45] simonemainardi commented on #366
Hi Mohamed,

You can browse peers involved in current conversations just by selecting the "Peers" tab into each host details page. Host details page are reachable from the dropdown Hosts menu.

Se for example the Peers page of host 65.52.108.74 looks as follows

![image](https://cloud.githubusercontent.com/assets/3397663/12580811/d91d3c94-c432-11e5-9475-69bcf485b577.png)

If you want to drill down

[2016-01-26 12:45] #366 closed, assigned to simonemainardi

[2016-01-26 19:28] DaveLafleur commented on #170
Active Flows
No Results Found
Generated by ntopng Community v.2.2.160118

this system is ubuntu 14.04 installed from repo today.  how is this issue resolved?

[2016-01-27 01:18] seismiccollision commented on #364
@simonemainardi
Thanks for the explanation!

However, so far the statement that -S local would purge fewer hosts does not seem to be the case. I am now 30 hours up with that flag and only tracking ~3,000 hosts instead of the ~150,000 hosts that seemed to collect over night (the vast majority of which were remote)

[2016-01-27 01:20] seismiccollision commented on #361
@simonemainardi thanks a bunch! updating now and i can't wait!

[2016-01-27 08:39] mzaian commented on #366
Hello,

We enabled mysql configuration and it starts to store the data. Our objective is to view top conversations between any 2 parties. This will help us for example to understand who consumes much bandwidth in our wan.

When checked the peers of one of our wan routers we only found the monitoring host communicating to it. Please see the attached image.

![mon 10 4 0 1](https://cloud.githubuserc

[2016-01-27 09:56] lucaderi commented on #353
Closed for inactivity

[2016-01-27 09:56] #353 closed, assigned to nobody

[2016-01-28 10:24] #265 closed

[2016-01-28 13:24] paoloB132 opened #367 "nprobe zmq vs PF_RING"
I'm probing same interface (switch mirror port) eth1 using nprobe zmq and directly ntopng PF_RING.

I confirm that statistical traffic occupation with nProbe is not precise, I understand that this is a milestone forseen in 2.3, where  that graphs with PF_RING seem correct.

I notice that moving pointer on graphs to identify top host (Minute Top Traffic Statistic) is really fast with nProbe but ter

[2016-01-28 14:31] #336 closed, assigned to nobody

[2016-01-28 14:32] lucaderi commented on #317
This is a duplicate of https://github.com/ntop/ntopng/issues/57 as the root cause is the same.

[2016-01-28 14:32] #317 closed

[2016-01-28 14:33] lucaderi commented on #367
This is normal as in netflow the number you se are average numbers. This is a duplicate of https://github.com/ntop/ntopng/issues/57 as the root cause is the same,

[2016-01-28 14:35] paoloB132 commented on #367
Ciao Luca.

and what about slow pointer isssue ?

---

Paolo Barbato

Consorzio RFX
 https://www.igi.cnr.it/corso Stati Uniti,4
35127 Padova - Italy
Network Administrator

## phone: +39 049 8295097 fax: +39 049 8700718

[2016-01-28 14:40] lucaderi commented on #367
Please quote the issue Id you're referring to

[2016-01-28 14:42] paoloB132 commented on #367
Luca I mean this one 367 ..

"I notice that moving pointer on graphs to identify top host (Minute Top Traffic Statistic) is really fast with nProbe but terribly slow with PF_RING. Any reason for that ? "

[2016-01-28 14:46] lucaderi commented on #367
Sorry I missed this comment. It looks odd to me. @simonemainardi Simone please look at this.

[2016-01-28 14:46] paoloB132 commented on #367
thanks ..

[2016-01-28 15:44] simonemainardi commented on #170
can't reproduce with the very same configuration. Flows show normally both in the Flows page and in each host details.

please, provide additional details

[2016-01-28 16:27] simonemainardi commented on #366
@mzaian I think the monitoring host is not seeing the traffic that goes through the wan router. This is why it only shows just the traffic that directly involve it.

You should make sure the traffic that goes through the wan router is also sent to the monitoring host (e.g., via a span port, a tap or via nprobe).

[2016-01-28 17:45] #351 closed, assigned to simonemainardi

[2016-01-28 17:46] simonemainardi commented on #351
I added the support for VLANs to the script that generates the application protocol table. This should fix your issue. Please, let me know.

[2016-01-29 13:38] brianjmurrell opened #368 "not determining local hosts"
I start `ntopng` with `-m 10.75.22.0/24,fd31:aeb1:48df::/64,XXX::/64,YYY::/64,ZZZ::/64 --community -w 3001 -i /var/bandwidth_monitor/files.txt` and it reports that it's parsed the `-m` option correctly:

[code]

Yet, when I go to Hosts and filter for only remote hosts (http://server:3001/lua/hosts_stats.lua?mode=remote) I see many of my local IPv6 hosts showing as remote.  `fd31:aeb1:48df:0:21f:cc

[2016-01-29 13:45] simonemainardi commented on #368
add the `-vv` as ntopng startup option and see if it actually adds all the networks. You should see something like

[code]

I would also wrap the network list between a pair of `"`

[2016-01-29 16:22] morphyno opened #369 "Moving from centos to centos-stable repository brakes all libpcap base application"
We have been on "http://www.nmon.net/centos/$releasever/$basearch/" for sometime and we switched to "http://www.nmon.net/centos-stable/$releasever/$basearch/" recently.

To minimize dependency issues, we remove all ntopng,ntopng-data,pfring,pfring-dkms,nprobe first before installing fresh from the stable repository.

However, upon installing from the stable repository, we notice any libpcap based

[2016-01-29 16:23] morphyno commented on #369
There is no method of indication urgency but this is a fairly urgent issue for us. We integrate Ntopng/Nprobe/PFring in our enterprise network monitoring products.

[2016-01-29 16:52] brianjmurrell commented on #368
[code]

I don't get the `Adding ... as IPv* local network for` messages.

One thing worth noting is that I am not capturing from an interface but rather reading a pcap file (list).

[2016-01-29 18:05] lucaderi commented on #369
@morphyno I have done a little change in the stable packages. Can you see if something has changed

[2016-01-29 18:23] morphyno commented on #369
Thank you @lucaderi , i see there has been repo changes, but the RPMs are still from 1/18, i guess new RPM's will be generated automatically?

[2016-01-29 18:36] lucaderi commented on #369
correct. Packages are being rebuilt

[2016-01-29 20:28] brianjmurrell opened #370 "reading from stdin (-i -) doesn't work"
[code]

and I get a similar error on the WebUI:

[code]

I get the same problem if I simply try to `cat` a "pcap" capture file -- the same file that works if I name it with `-i capture.pcap`, so the file is fine.

[2016-01-30 07:13] mzaian commented on #366
@simonemainardi

Would you please send us the documentation of configuring nProbe on Ubuntu 14.04. We have ntopng as well as nbox installed on our server.

[2016-01-30 20:44] whoknowz commented on #351
@simonemainardi thank you, that fixed it.

[2016-01-30 20:53] whoknowz opened #371 "Strange DNS failure in nightly build"
Installed a professional version of ntopng nightly in a bump-in-the-wire config and suddenly all DNS traffic fails. nslookup to any DNS server, local or remote fails.
Installed stable version and resolved the issue, however stable has the "flow" bug #311 where individual host's flow cannot be viewed.
I am a bit baffled, since I run nightly on several machines in bump-in-the-wire config, but only t

[2016-01-30 21:01] whoknowz opened #372 "Ability to add manual subnets for Traffic Filtering"
We need a way to manually add any subnet to Traffic Filtering. Currently the drop down only supports defined Local Networks and we have to manually select individual hosts to modify filters.

For instance say I want to deny everyone "192.168.1.0/24" Youtube but allow "192.168.1.108/29" everything, I have to now do that from the URL instead of the web interface.

Enhancement perhaps?

[2016-01-30 21:04] whoknowz opened #373 "Ability to have schedules for Traffic Filtering"
Feature request: Ability to have on/off times for Traffic Filtering policies. Say for example I want to disable all "fun" application protocols during 9-17 hrs but allow afterwards.
Is it possible to do this via cronjob perhaps?

[2016-02-01 16:12] brianjmurrell opened #374 "Active Flows: No Results Found when drilling down from a Host"
When I drill down into Flows from a host (i.e. http://server:3000/lua/host_details.lua?ifname=0&host=10.75.22.37&page=flows) it always says No Results Found, however that same host shows active flows at the top level Flows (http://server:3000/lua/flows_stats.lua) page.

Is this expected?

[2016-02-01 16:28] brianjmurrell commented on #368
Anything more on this?

What is even more interesting is that in http://server:3000/lua/pro/report.lua?num_minutes=10080 in the section "Local Networks" under my interface name, it does correctly list all of my local networks, yet still, in http://server:3000/lua/hosts_stats.lua only my IPv4 hosts are being shown as Local.  My IPv6 hosts are being shown as remote.

[2016-02-01 23:22] simonemainardi commented on #374
are you using the latest dev version? there was a known bug in older releases that was affecting some builds.

[2016-02-02 03:49] whoknowz commented on #374
The stable version needs to have this issue resolved, we can't be running dev on production cause dev itself has other issues. I am not sure, but the fix requires a recompile right? Not a simple Lua script fix?

[2016-02-02 04:28] whoknowz commented on #373
A little digging around and the following works in a script run by a cronjob (ugly, but works)
1. Copy value from redis db key ntopng.prefs.4.l7_policy somewhere ("4" is interface ID, will be different on each install)
2. Update value to preferred, nil if allow everything
3. Have a Lua script with interface.reloadL7Rules()
4. Have a cron job execute curl --cookie "user=admin; password=admin" "http

[2016-02-02 05:00] brianjmurrell commented on #374
This.

Stable versions of software need to have bug fixes applied to them periodically (sooner than later, more frequently than infrequent) or they defy the definition of stable.

[2016-02-02 12:03] brianjmurrell commented on #370
Any ideas?

[2016-02-02 12:05] brianjmurrell opened #375 "-F db value out of range"
I'm using ntopng 2.2.160118 from the [ntop repository](http://packages.ntop.org/centos-stable/7).

I was interested in dumping the flows to a database and wanted the low overhead of a local sqlite database.  I had gathered that using `-F db` would do that, however `ntopng` complains to me:

[code]

Am I misunderstanding something?

[2016-02-02 13:02] alberk8 commented on #375
Hi,

The -F db only works with MySQL or MariaDB.

[2016-02-02 14:21] #375 closed, assigned to nobody

[2016-02-02 14:22] lucaderi commented on #374
@simonemainardi if this bug has been fixes on dev it must be ported to stable. Please check

[2016-02-02 14:32] brianjmurrell commented on #375
But the manpage says that to use MySQL you use `mysql` not `db`:

[code]

Is there not a way to use a more lightweight/instantaneous database than the hassle of MySQL/MariaDB with it's required installation and up-front configuration (i.e. creating database and user) overhead?

[2016-02-02 15:14] lucaderi commented on #375
@brianjmurrell What do you want to do exactly?

[2016-02-02 16:49] brianjmurrell commented on #375
I (think) I want to write flows to disk the way -F does.  I just don't want to go to the effort of standing up a MySQL server to do it.

[2016-02-02 17:47] lucaderi commented on #375
This is not supported, but you can extend ntopng and send us a code contribution.

[2016-02-03 18:25] morphyno commented on #369
@lucaderi, i installed the rpm's build on 1/29, still see this issue.

[devusern@localhost ntop_rpms]$ sudo yum -y install *
[sudo] password for devuser:
Loaded plugins: fastestmirror
Examining libnetfilter_queue-1.0.2-2.el7.x86_64.rpm: libnetfilter_queue-1.0.2-2.el7.x86_64
libnetfilter_queue-1.0.2-2.el7.x86_64.rpm: does not update installed package.
Examining nprobe-7.2.160129-4471.x86_64.rpm: np

[2016-02-03 21:00] lucaderi commented on #369
What's is dumpcap? Why is it looking for ntop libs? Please do "ldd dumpcap" to understand what is the problem,

[2016-02-04 09:11] simonemainardi commented on #366
you can do `nprobe --help` for detailed usage help. @ValentinaViscarelli may have some additional documentation as well.

[2016-02-04 09:19] simonemainardi commented on #372
@whoknowz you can also set Host Traffic Policies from every host details page when you are inline.

[2016-02-04 09:22] simonemainardi commented on #364
@seismiccollision do you have any updates?

also please keep in mind that you can cap the maximum number of hosts and flows from the command line:

[code]

[2016-02-04 09:43] ValentinaViscarelli commented on #366
you can find nprobe user's guide here:

http://www.ntop.org/wp-content/uploads/2013/03/nProbe_UserGuide.pdf

[2016-02-04 09:57] morphyno commented on #369
It seems the issue has to do with "yum remove"

This is the command I used

sudo yum remove pfring nprobe nbox ntopng ntopng-data pfring-dkms

Before that command, here is the output of ldd /usr/sbin/dumpcap

[code]

Here is after the removal

[code]

[2016-02-04 12:49] dkomander opened #376 "get a report where we can see the external traffic for our internal server IPs / hosts, cumulated in GByte per month and IP"
Hi Support,

thanks to the latest update with the new feature "historical graphs" , we now can see the generated traffic for receivers and senders for timeframe x (1 minute, 5 minutes, 1 hour etc.).

We would like to get a report where we can see the external traffic for our internal server IPs / hosts, cumulated in GByte per month and IP. This should only count the external incoming and outgoing

[2016-02-04 13:21] whoknowz commented on #372
@simonemainardi I am aware of that, but it is difficult to add a range of hosts that fall under the same filter/shaping rules. This feature was present before, see screenshot from ntopng website, notice the "Add Network"

![screen-shot-2015-02-09-at-08 06 12](https://cloud.githubusercontent.com/assets/7417874/12816062/065570ce-cb6c-11e5-8fcb-eb7c02229ca6.png)

[2016-02-04 13:32] whoknowz commented on #372
There is also a bug when we do the following for a new host not in the list.
1. Select a host for detail view
2. Select "Modify Host Traffic Policy"
3. Black list a protocol or just click "Set Protocol Policy and Shaper"
4. The policy is applied to the first host/network in the drop down list and not the host selected in step 1.

This only happens first time a specific host is selected for modific

[2016-02-04 15:09] #370 closed, assigned to nobody

[2016-02-04 15:10] simonemainardi commented on #370
please, check now and let me know

[2016-02-05 01:28] DigiAngel opened #377 "Dashboard: Talkers with firefox hangs with script error"
Topic says it...new install...I only see this behaviour with firefox, both on Windows and Linux.  Going to Dashboard: Talkers gets me:

![screenshot from 2016-02-04 18 04 00](https://cloud.githubusercontent.com/assets/947191/12835396/f785e51e-cb6c-11e5-94a5-67e84e829ebe.png)

I see this issue with Internet Explorer with a popup of "192.168.1.7 is not responding due to long running script".  Any wa

[2016-02-05 01:33] DigiAngel opened #378 "Top Hosts is blank"
Topic says it....pretty much all the other areas with flows and hosts have information.  Any hints on what I'm missing?  Thank you.

[2016-02-05 13:26] simonemainardi commented on #377
need extra information to reproduce. Please post ntopng version, linux distribution, url that hangs. Also try to "debug script" and post the output.

[2016-02-05 13:46] DigiAngel commented on #377
Thanks....I thought about that after I posted that I didn't include much detail...sorry about that.  Linux distro is Ubuntu 14.04 Server 64 bit, ntop version is:

[code]

and now I can't get into the interface, but it's just the main flows page when you start it up.

[2016-02-05 14:06] #378 closed, assigned to nobody

[2016-02-05 14:06] simonemainardi commented on #378
please, check now

[2016-02-05 14:20] simonemainardi commented on #377
can't reproduce with
- FF 41.0.2 and
- 3.16.0-51-generic 14.04.1-Ubuntu SMP x86_64 GNU/Linux

please try to use the FF debugger and see if you can get some additional hints. Is your network heavily loaded?

[2016-02-05 14:39] simonemainardi commented on #374
I have cherrypicked the fix to the 2.2-stable branch (https://github.com/ntop/ntopng/commit/f46b07653eb22472052835dcb73ea260794ea8d9). Packages are being rebuilt.

[2016-02-05 14:39] #374 closed, assigned to nobody

[2016-02-05 14:53] DigiAngel commented on #377
Heh...this is on a home test box with practically no traffic :)  Here's the complete build data:

[code]

I can't seem to get back into it even after resetting the admin pass with redis, so I'll try later today or during this weekend....unless you know a trick to reset the password.  Thanks.

[2016-02-05 15:52] DigiAngel commented on #378
Wow quick fix this is working now thank you.

[2016-02-05 16:04] DigiAngel commented on #377
Well after doing the latest git pull this is now longer an issue...good job and thank you :)

[2016-02-05 16:04] #377 closed, assigned to nobody

[2016-02-05 19:09] seismiccollision commented on #364
@simonemainardi it still seems like the "-S local" decreased the number of tracked hosts from not including the flag. instead of 150,000 hosts and 1500 flows i now see 7000 hosts and 10,000 flows and it seems improved with that -S local

[2016-02-05 20:36] johben commented on #365
I have the same problem or a question.

[2016-02-06 08:15] mzaian commented on #366
@ValentinaViscarelli I've read the guide and it contains everything and its complicated for us to start with, can you please send us the minimal configuration to use nProbe.

[2016-02-06 10:42] ValentinaViscarelli commented on #366
example ntopng instance:
/usr/local/bin/ntopng -i tcp://127.0.0.1:5556

example nprobe instance (eth0 is the interface for incoming traffic):
/usr/local/bin/nprobe -i eth0 -n none --zmq tcp://*:5556

In this case nprobe and ntopng are in the same machine. If you have two different machine replace 127.0.0.1 with the nprobe machine address.
Said that this is the wrong place to discuss about nprobe a

[2016-02-06 11:32] lucaderi commented on #369
If dumpcap was linked with the pfring library, I consider this a standard behaviour.

[2016-02-06 12:35] ValentinaViscarelli commented on #371
Could you send us two capture file? The first one has to be capture before ntopng and the second one after.

[2016-02-06 14:31] lucaderi commented on #365
The hyperlinks are gone for hosts that are not active (i.e. for which the URL will direct you at a "no host" page). The top sender/receivers work for me, but you are right that the AS section does not contain hyperlinks. @simonemainardi Simone can you please fix this?

[2016-02-06 16:09] egberts opened #379 "Does not build in local (or closed) network"
When building `ntopng` in a network that is walled-off, airgapped, closed, or locally, the `configure` fails with:

[code]

And doing a `make` resulted in the following...

[code]

Not sure how to proceed.

[2016-02-06 17:22] DigiAngel opened #380 "Filtering fails after running for long periods"
Topic says it...kinda odd.  Version:

[code]

Running command:

[code]

You can see some localhosts at the bottom of the gif before attempting to sort:
![test](https://cloud.githubusercontent.com/assets/947191/12868058/7a9c9f5c-ccbb-11e5-8e82-785d72f721a5.gif)

[2016-02-06 22:29] DigiAngel commented on #380
Also confirming that this also a) applies to things like sorting to protocol, and b) once I stopped and restarted it works as intended, so this appears to be intermittent.  More testing.

[2016-02-07 01:23] DigiAngel commented on #380
So more on this....this appears to apply to any filtering.  After running for a few hours I see this behaviour when attempting to filter by my local network:
![netafterrun](https://cloud.githubusercontent.com/assets/947191/12870369/a4635f36-ccfe-11e5-9b84-c2db84f69e30.gif)

but after stopping and starting ntop I get:
![netnew](https://cloud.githubusercontent.com/assets/947191/12870372/b21fa332-ccf

[2016-02-07 02:11] brianjmurrell opened #381 "installing ntopng on centos 7 breaks tcpdump, tshark, etc."
After installing ntopng on CentOS 7, pcap tools like `tcpdump` and `tshark` break:

[code]

[2016-02-07 10:40] codearrangertoo commented on #369
I'm having the same issue.
This looks related: https://www.centos.org/forums/viewtopic.php?f=47&t=56051

[2016-02-07 10:41] codearrangertoo commented on #369
tcpdump, dumpcap, tshark, etc all worked fine before I installed ntopng

[2016-02-07 10:41] codearrangertoo commented on #369
Now I get this...

$ sudo tcpdump
tcpdump: error while loading shared libraries: libsnf.so.0: cannot open shared object file: No such file or directory
$

[2016-02-07 10:42] codearrangertoo commented on #369
[jgarland@beast ~]$ sudo dumpcap
dumpcap: error while loading shared libraries: libsnf.so.0: cannot open shared object file: No such file or directory
[jgarland@beast ~]$ sudo tshark
tshark: error while loading shared libraries: libsnf.so.0: cannot open shared object file: No such file or directory
[jgarland@beast ~]$ sudo nc
nc: error while loading shared libraries: libsnf.so.0: cannot open share

[2016-02-07 14:01] brianjmurrell commented on #374
How long do packages take to show up in the stable repos?  http://packages.ntop.org/centos-stable/7Server/x86_64/Packages/ still has ntopng-2.2.160129-693.x86_64.rpm from Jan. 29.

[2016-02-07 15:30] simonemainardi commented on #374
@cardigliano could you please check if the ntopng stable build has been triggered for centos? thank you

[2016-02-07 16:33] simonemainardi commented on #372
please check now, features requested have been added and the highlighted bug has been fixed.

![image](https://cloud.githubusercontent.com/assets/3397663/12873563/b5f458a0-cdc0-11e5-9b7c-8574b6683472.png)

let me know if everything works as expected

[2016-02-07 20:28] lucaderi commented on #297
Work in progress, almost ready. See https://github.com/ntop/ntopng/blob/dev/doc/README.pfsense for more info

[2016-02-07 20:34] lucaderi commented on #369
Why do you use /usr/local/lib/libpcap.so.1 ? I think this is the problem. This is ntop's library part of PF_RING. if you use non-PF_RING apps you should use the system library not this,

[2016-02-08 08:55] mzaian commented on #366
Hi,

I followed your steps and was able to make ntopng works with nprobe as a collector.

Now still cannot get the netflow results despite that we configured our WAN router with the correct netflow configuration to redirect to nprobe.

Please check the attachment and inform how we can see a same results from ntopng.

Thanks

![webview](https://cloud.githubusercontent.com/assets/1049820/12881367/16

[2016-02-08 09:01] lucaderi commented on #366
Please add -b 2 to nprobe so it can print the flows it receives/emits

[2016-02-08 09:30] ValentinaViscarelli commented on #366
@mzaian Do you receive on nprobe "Normal traffic" or "Netflow data"?
If you receive netflow data please use this to run nprobe:

/usr/local/bin/nprobe -i none -n none --collector-port 2055 --zmq tcp://*:5556

where --collector-port is the number port where the router send netflow data

[2016-02-08 09:39] mzaian commented on #366
@lucaderi

Thx, I will attach the nprobe and ntopng configuration files, because i'm using nbox to configure both.

@ValentinaViscarelli
I'm redirecting the traffic to 9996 from my wan router so i'm running this with port 9996 instead of 2055. Please see the attached conf files.

[ntopng.conf.txt](https://github.com/ntop/ntopng/files/121365/ntopng.conf.txt)
[nprobe-eth0.conf.txt](https://github.co

[2016-02-08 10:03] ValentinaViscarelli commented on #366
The nprobe configuration is wrong.
If you want to receive netflow data from a router you have to use "proxy" tab in nprobe configuration (no eth0 tab). Fill "Listening Port" field with 9996 and "ZeroMQ Endpoint" field with tcp://*:5556

[2016-02-08 11:02] mzaian commented on #366
Thanks this helps a lot. it successfully now showing the "Active Flows". How can we get a detailed report of the same flows for a duration of "Last X" "15 Mins",  "1 hour" or "1 day" for example.

Thanks

[2016-02-08 16:23] mzac opened #382 "ntopng can't listen to http port"
Getting the following error with any option I try:

08/Feb/2016 11:22:13 [HTTPserver.cpp:497] ERROR: Unable to start HTTP server (IPv4) on ports 3000: Invalid argument

root@nbox1:~# ntopng -V
v.2.3.160208 [Professional Edition]
GIT rev:   dev:0cfa2b2c5b37fdd8208413443d046e74d79bbadc:20160208
Pro rev:   r564
System Id: 68926F0F820721D8
Built on:  Ubuntu 14.04.3 LTS

[2016-02-08 18:22] #382 closed, assigned to nobody

[2016-02-08 18:22] simonemainardi commented on #382
please, check now

[2016-02-08 19:04] timdoes69 commented on #365
What does the Hostname 'Other' mean? i.e. not available, no longer active, spoofed...

[2016-02-08 20:40] lucaderi commented on #365
Any other host/AS... that is not listed in the table section where it appears

[2016-02-08 21:31] tezcangulnaz opened #383 "I can't run ntopng due to Unable to start HTTP server on ports 3000: Invalid argument"
[HTTPserver.cpp:460] Please read https://github.com/ntop/ntopng/blob/dev/doc/README.SSL if you want to enable SSL.
08/Feb/2016 23:29:24 [HTTPserver.cpp:497] ERROR: Unable to start HTTP server (IPv4) on ports 3000: Invalid argument

[2016-02-08 21:59] simonemainardi commented on #383
duplicate of #382
fix has been introduced. packages will be built overnight.

[2016-02-08 21:59] #383 closed, assigned to nobody

[2016-02-09 07:57] lzalewsk opened #384 "HTTP server not listening with dump-flows to MySQL"
Hi,
ntopng HTTP server works fine without domping flows to MySQL but in case of -F command it doesn't.

[code]

[2016-02-09 08:49] simonemainardi commented on #384
The output looks good

[code]

please, be more specific

[2016-02-09 09:25] LionHear7 opened #385 "DNS issue in resolving some domain names"
Hi,
I have ntopng v.2.3.160113 [Professional Edition]
Built on:  Ubuntu 14.04.3 LTS
and a bridge connection over 2 interfaces using pfring.

I use the bridge for the 7-Layer policies features.

There's a strange behaviour in resolving some third-level domains. (google related)
Here you are the differences between two requests.

time dig google.com
real    0m0.082s
user    0m0.016s
sys 0m0.000s

ti

[2016-02-09 09:35] Hetzbacke opened #386 "Too many arguments on line 71"
After I write the configuration file for ntopng and tried to start the service if got the Error Message, that there are too many arguments on Line 71 in

/etc/init.d/ntopng

as attached file you can see my configuration file. Can anybody help me with this?

[ntopng.conf.txt](https://github.com/ntop/ntopng/files/122815/ntopng.conf.txt)

[2016-02-09 09:44] simonemainardi commented on #365
Links to AS have been added back. Keep in mind that you will see 'no results found' in the linked page if no presently active host belongs to the reported AS. Packages will be built overnight.

As per the 'Other' issue, I cannot reproduce as well.

[2016-02-09 09:44] #365 closed, assigned to simonemainardi

[2016-02-09 09:46] lucaderi commented on #385
Can you please capture two pcaps, one before and one after ntopng where you capture the DNS traffic, and share them with us?

[2016-02-09 10:09] #386 closed, assigned to nobody

[2016-02-09 10:10] simonemainardi commented on #386
fixed. packages will be built tonight. Anyway, please check, your ntopng should start even if it complains.

[2016-02-09 11:29] #368 closed, assigned to nobody

[2016-02-09 11:29] simonemainardi commented on #368
please, check now and let us know

[2016-02-09 12:15] simonemainardi commented on #379
If you look at the output you'll see that there is no `svn`installed.

[code]

Anyway, now we've moved everything to git. Please update the sources of ntopng, the latest stable is 2.2 and you still have 1.2.1 sources. Also, even if the network is closed you need to provide ntopng with all its dependencies.

[2016-02-09 12:15] #379 closed, assigned to nobody

[2016-02-09 12:28] simonemainardi commented on #374
i've just checked and the latest stable builds include this fix now.

[2016-02-09 12:40] simonemainardi commented on #381
duplicate of #369

[2016-02-09 12:40] #381 closed, assigned to nobody

[2016-02-09 12:45] #369 closed, assigned to nobody

[2016-02-09 14:44] Hetzbacke commented on #386
Thanks for your help. I will wait for the new build tonight.

[2016-02-09 16:00] LionHear7 commented on #385
There's no differences in the output. (or I produced the wrong output :P )

without ntopng bridge:
listening on enp2s0, link-type EN10MB (Ethernet), capture size 262144 bytes
13:16:27.927706 IP 172.16.0.119.47827 > 8.8.8.8.53: 48866+ [1au] A? mail.google.com. (44)
13:16:35.459217 IP 172.16.0.119.40760 > 8.8.8.8.53: 6071+ [1au] A? google.com. (39)

with ntopng bridge:
listening on enp2s0, link-type

[2016-02-09 16:01] lucaderi commented on #385
I need a pcap (.pcap file) with request and response.

[2016-02-09 20:47] lzalewsk commented on #384
Yes OK, but the response time is very poor
(Sorry for Polish lang)

[code]

What may be important:
- test interface is 10Gbps with ~50-70% utilization.

[code]

without dump to MySQL ntopng works fine.

[2016-02-10 10:25] mzaian commented on #366
pleas update, as i sent you it showed active flows , but how can we check historical data ?

Thanks

[2016-02-10 18:41] lucaderi commented on #384
@lzalewsk You cannot run ntopng as you did at 10G. You need to 1. use PF_RING to virtualise the NIC into multiple rings using RSS 2. start ntopng listening on all virtual interfaces so you can process traffic simultaneously on all of them 3. create a view to aggregate them into a single interface. Note that yesterday I have committed an important change that should improve quite a bit MySQL perfor

[2016-02-10 18:42] lucaderi commented on #367
@simonemainardi Any news?

[2016-02-10 22:04] lucaderi commented on #345
I think problem is generated either for lack or rights (no root) or because eth1 is either unavailable or down.

[2016-02-10 22:04] #345 closed, assigned to nobody

[2016-02-10 22:06] lucaderi commented on #342
Are you using the pro version without license so after some minutes it will go back to community (without dashboard)?

[2016-02-10 22:06] lucaderi commented on #295
@simonemainardi Please update the status of this issue

[2016-02-11 12:45] Cyndz136 opened #387 "BUG (?) on NTOPNG"
Hi good day to your office,

I've been doing test runs on ntopng specifically the Network Policer.
i got a 30 day trial license. i got the interfaces on bridge so it can act as a bump in the wire.
and then as i try to block a test Laptop with sorts of applications installed.
to be specific i tried to block off SPOTIFY and SKYPE. so on my ntop there appears to have a line on every Spotify and skype

[2016-02-11 13:08] simonemainardi commented on #387
too generic to claim it's a bug.

post network interfaces configuration, ntopng configuration, and ntopng log.

[2016-02-11 13:36] kkkhh commented on #342
here is my license information

![default](https://cloud.githubusercontent.com/assets/16585647/12977734/7fe5cbaa-d107-11e5-9635-e66810eda0cd.JPG)

[2016-02-11 14:02] lucaderi opened #388 "Extend the set of letters supported by the password field"
ntopng does not accept all chars on the keyboard for the password field. Example _$()à are not accepted. They need to be added.

[2016-02-11 14:30] Cyndz136 commented on #387
i'll post the network configuration, ntop configuration and the ntopng log tomorrow.
so that we can pinpoint if it really is a bug
thank you

[2016-02-11 18:26] #388 closed, assigned to simonemainardi

[2016-02-11 18:26] #232 closed

[2016-02-12 14:07] anon84 commented on #387
Hello, I just purchased your Pro version of ntopng and am having the same issue as described above. Items that have been added to the blacklist are not being dropped/blocked at all. I tried adding CNN, Spotify, Amazon and Google. I have attached screens of my settings. I'm not sure how to grab an ntopng log but willing to if someone could point out how.

![selection_007](https://cloud.githubuserco

[2016-02-12 17:33] OMGsus commented on #369
I don't think anyone is purposefully linking those libs. Things work fine in Centos7 until pf_ring is installed. Cent guys don't seem to think this is a problem with cent. They are directing us back to pf_ring.

Quote: "We don't supply pfring so the people that do are supplying packages that break CentOS and you need to talk to them."

So the question of "Why do you use /usr/local/lib/libpcap.so.1

[2016-02-12 18:43] simonemainardi commented on #387
hi @anon84 , please check /var/log/ntopng/ntopng.log and post the output here

however you've set up the google DNS 8.8.8.8 as default GW for eth2.

[2016-02-12 23:11] morganm opened #389 "Mysql on MyISAM"
I'm using ntopng on a raspberrypi 2 running ArchLinux. Great setup and I'm very happy with ntopng here. I recently upgraded from 2.x series to v.2.3.160212 (GIT rev:   ::20160212) and wanted to configure the mysql historical reporting.

First attempt, this worked, but the pi became extremely sluggish due to I/O writes to the SD card. Some internet research indicates this is a known problem with My

[2016-02-13 09:41] whoknowz opened #390 "Ubuntu 14.04.3 LTS install giving error"
Started with a fresh Ubuntu install and followed the below guide.
http://packages.ntop.org/apt/

But ends with the following:

[code]

[2016-02-13 10:38] sthen opened #391 "Feature request: ability to set http/https bind address"
Currently ntopng can only bind to predefined addresses for http/https: either 127.0.0.1 or :: (the ipv6 "all addresses" bind). It would be useful to be able to set the address explicitly, this would allow a few possibilities: binding to a management interface only, binding to the ipv6 loopback ::1, binding to 0.0.0.0 (IPv4 "all addresses").

This also relates to issues #307 and #356 as binding to

[2016-02-13 10:42] whoknowz commented on #372
@simonemainardi everything works on nightly build, can we have this in stable please.

[2016-02-13 11:36] #389 closed, assigned to nobody

[2016-02-13 11:40] simonemainardi commented on #389
Thanks for pointing this out. Ntopng won't create extra tables so your workaround is safe. I've just added a fix into the dev branch.

Using varchars is not the best way to store IPv6 but unfortunately MySQL IPv6 support is only available starting with 5.6 (http://dev.mysql.com/doc/refman/5.6/en/miscellaneous-functions.html#function_inet6-aton). For this reason we decided to keep them as strings t

[2016-02-13 11:54] anon84 commented on #387
Thanks, here is the log.

[ntopng.txt](https://github.com/ntop/ntopng/files/129093/ntopng.txt)

[2016-02-13 13:19] simonemainardi commented on #372
I've just cherry-picked the commit into the 2.2 stable branch. @lucaderi please trigger stable build, thank you.

[2016-02-13 13:20] #372 closed, assigned to nobody

[2016-02-13 14:31] ValentinaViscarelli commented on #390
Please could you report the output of this command?

sudo sh -x nbox.postinst configure

[2016-02-13 14:40] whoknowz commented on #390
The service started after this command, but the apt-get upgrade command still fails as above.

[code]

[2016-02-13 14:49] ValentinaViscarelli commented on #390
Don't seem there is a problem.
Try to remove the package and install it again.
sudo apt-get remove nbox
sudo apt-get install nbox

[2016-02-13 14:52] whoknowz commented on #390
Yes it is strange. This was happening in an old install so I tried with a fresh one as well and entirely different machine as well. Re-installing as you said doesn't help either.

[2016-02-13 18:11] cardigliano commented on #369
Please test latest dev packages.

[2016-02-13 21:45] cpuodzius commented on #369
This issue is affecting users from 2.2-stable which has been built on CentOS 7.1.1503 whereas the current CentOS release is 7.2.1511.

[2016-02-14 05:08] OMGsus commented on #369
Rebuilding on both now. Will test on a latest centos7 build too. Just takes some time getting the latest centos stable on my ixgbe systems.

[2016-02-14 10:08] cardigliano commented on #369
I applied the patch also to the stable. New builds will be available soon.

[2016-02-14 14:13] lucaderi commented on #340
@dpkano Sorry for the delay. I have updated the package adding the missing dependencies. I have tried to reproduce the issues on my EdgeRouter Lite with no luck. Can you please try again?

[2016-02-14 23:32] lzalewsk commented on #384
I had try to find some UserGuides reletated to PF_RING and .. Could you give me some hints how to configure multiple rings using RSS?
BTW. I have 2x10Gbps eth interface working as a TAP receiver. Both are working as RX
Traffc FROM the Internet ~5-8Gbps
Traffic TO the Internet up to 1Gbps
This two 10Gbps cards are:Ethernet controller: Broadcom Corporation NetXtreme II BCM57810 10 Gigabit Ethernet (

[2016-02-15 00:05] lzalewsk opened #392 "Stable repo for Debian"
Is there any chance for stable repository for Debian (jesssie)?
http://packages.ntop.org/apt-stable/

For nightly builds [http://packages.ntop.org/apt/] there is.

By the way. For nightly builds (in case of debian) there is no possible to do:
apt-get install pfring-drivers-zc-dkms
apt-get install pfring-drivers-dna-dkms

[2016-02-15 05:46] Cyndz136 commented on #387
Hi i've still can't figure out the problem i still can't blocked the apps/websites i want to block.

[NTOP log sheet.txt](https://github.com/ntop/ntopng/files/130172/NTOP.log.sheet.txt)
![network config](https://cloud.githubusercontent.com/assets/16551561/13040715/8777a8bc-d3ea-11e5-8e7f-da720e791158.jpg)

[2016-02-15 06:31] Cyndz136 opened #393 "Bridge suddenly gone."
Hi Good Day,

last week i was able to bridge my two interface and then when i decided to open the ntop again (i didn't shutdown the laptop by the way since last week) and saw that the bridge was gone and when i issued the bridging command again i cannot do it. also is there a way to put it back again.

Also if possible do you have Video Tutorials on how to do the bridging and the right way of conf

[2016-02-15 06:32] Cyndz136 commented on #387
my bridge settings is gone. is there a way to put it back again?
i tried issuing another bridge command but it appears that i can't seem to do it again.

![20160215_142104](https://cloud.githubusercontent.com/assets/16551561/13041281/db4bdebc-d3f0-11e5-9bbd-ceb791a0932a.jpg)
![20160215_141456](https://cloud.githubusercontent.com/assets/16551561/13041282/db4c6242-d3f0-11e5-8077-f8474e01d52e.jpg)

[2016-02-15 08:09] simonemainardi commented on #393
it says `address already in use`. this means that there's another process listening on port 3000. Maybe there's another ntopng instance running? please look for running ntopng processes and kill them before doing a new bridge

[2016-02-15 08:11] Cyndz136 commented on #393
how will i kill the existing process? i tried the command sudo ufw deny 3000 but it still didn't work

[2016-02-15 08:12] simonemainardi commented on #393
http://www.cyberciti.biz/faq/kill-process-in-linux-or-terminate-a-process-in-unix-or-linux-systems/

[2016-02-15 08:19] Cyndz136 commented on #393
thank You,
i'll try this.

[2016-02-15 08:19] Cyndz136 commented on #387
with regards with these one is there any updates?

[2016-02-15 08:33] cardigliano commented on #384
Hi Lukasz
please note pf_ring ZC (or the old generation DNA) does not support Broadcom in zero-copy mode. You can capture from Broadcom cards using standard drivers.
Please also note nBox runs on Ubuntu and CentOS, we did not test it on Debian.

Alfredo

[2016-02-15 09:00] svenvogel opened #394 "Monthly Usage Report from traffic profiles in pro Version (per Month or Day or specific time Range)"
Hi,

when we use the pro Version, there is a Reporting tool, but its not possible to report the monthly usage from any traffic profile. Can you add these to Reporting?

thanks

Sven

[2016-02-15 09:19] svenvogel opened #395 "new traffic profile reset all values"
Hi,

when i add a new traffic profile my complete other profiles will be reset and cleared. why is that so? its not good because we need the traffic from the days before for complete month.

thanks

Sven

[2016-02-15 10:07] svenvogel opened #396 "licencing issue (ntop user interface)"
when i add a licence for ntopng they will not be applied.

[root@cloud-ntop etc]# ntopng --check-license
## Demo mode license

[root@cloud-ntop etc]# cat /etc/ntopng.license
3D9707F99E62F7001EC662DD819FAF07145725574191922F92

is there any fix for that problem? CentOS 7

thanks

Sven

[2016-02-15 10:36] svenvogel opened #397 "Save Packets in ZMQ Format"
Can you implement that feature.

thanks

Sven

[2016-02-15 16:19] svenvogel commented on #150
#394

[2016-02-15 17:47] simonemainardi commented on #366
@mzaian if you use the Professional edition you can get detailed ntopng reports. If you are running the Community edition, then you can still get plenty of historical data for example by browsing the interface page. You'll se a chart that you can click to drill down an select the time range of interest.
![image](https://cloud.githubusercontent.com/assets/3397663/13056240/703c101e-d414-11e5-9d46-70

[2016-02-15 17:58] simonemainardi commented on #367
@paoloB132 , every mouse move aimed at identifying minute top talkers translates into a sqlite query. I so guess the necessary I/O is preempted by other higher-priority tasks under PF_RING.

Intuitively, the load under PF_RING is much higher since every single packet has to be processed. Conversely, nProbe benefits from aggregated flow data.

I think we should look at your system load under both c

[2016-02-15 18:08] simonemainardi commented on #387
@anon84 your log says

[code]

@Cyndz136 your error is the same.

You guys already have an ntopng running and are trying to start another instance. You should stop any running instance before attempting to re-launch a new ntopng instance.

That said, in order to get help, you should make sure to provide:
- the ntopng command string executed with its parameters
- ntopng host interfaces configuratio

[2016-02-15 18:10] simonemainardi commented on #342
@kkkhh please, post ntopng configuration file or startup string.

also inspect any ntopng console output (or /var/log/ntopng/ntopng.log) for any errors and possibly post them here.

thank you

[2016-02-15 18:41] sthen opened #398 "Occasional SIGSEGVs in normal operation"
I'm running ntopng-2.2 on OpenBSD (working on a port). After a while running (varies, sometimes minutes sometimes hours) ntopng is exiting. I've got a backtrace and debug output from one. Any ideas? Note that OpenBSD's malloc has some hardening including use-after-free detection. Thanks.

[code]

[ntopng-crash-debugoutput.txt](https://github.com/ntop/ntopng/files/131246/ntopng-crash-debugoutput.tx

[2016-02-15 20:00] morphyno commented on #369
The latest builds on 2/14 seems to have resolve the issue. Thank you @cardiglian @lucaderi for the fix!

[2016-02-15 21:18] OMGsus commented on #369
Working on my centos7 Ixgbe hosts. Going to relink for plugins now :) thanks!

[2016-02-15 21:56] lucaderi commented on #398
Can you please use first the code in git rather than 2.2? Please report if you can reproduce the problem with it.

[2016-02-15 22:08] lucaderi commented on #396
Is the clock set properly on your system? Please provide a complete startup log using the latest development package.

[2016-02-15 23:37] svenvogel commented on #396
Hi Luca,

yes clock is set correctly. i update to the following version.
nbox 2.3.0 build 472
[root@cloud-ntop ~]# ntopng --check-license
Demo mode license
[root@cloud-~]# ntopng --version
v.2.3.160215 [Professional Edition]
GIT rev:   dev:9e5c843abefb0fd57f7b9f72357a93f7f123b646:20160215
Pro rev:   r569
System Id: 689B577B76056B01
Built on:  CentOS Linux release 7.1.1503 (Core)

when i login in n

[2016-02-16 01:03] kkkhh commented on #342
here is my config file

-G=/var/tmp/ntopng.pid
--local-networks "192.168.0.0/16,10.10.0.0/16"
--interface ens19

the log errors

16/Feb/2016 03:50:20 [Lua.cpp:4430] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/minute.lua][/usr/share/ntopng/scripts/lua/modules/alert_utils.lua:38: attempt to perform arithmetic on field 'stats.bytes' (a nil value)]
16/Feb/2016 04:00:19 [Lua.cpp:4430]

[2016-02-16 07:34] paoloB132 commented on #367
Hi Simone,

That the point! As soon as I move on the graph when PF_RING is active CPU reach 100% and stay there until I stop. Usually ntop has a very low load. See load with PF_RING active but only dash board accessed:

top - 08:15:12 up 61 days, 23:29,  1 user,  load average: 0.80, 0.28, 0.09
Tasks: 184 total,   1 running, 183 sleeping,   0 stopped,   0 zombie
Cpu(s):  3.0%us,  3.4%sy,  0.0%ni, 9

[2016-02-16 08:47] ValentinaViscarelli commented on #396
Sven,
At the moment ignore it. Your license is good and this is a problem of the GUI, In fact when you run ntopng you get:

.....
WARNING: [LICENSE] Your license will expire on Sun Mar 6 10:15:41 2016
.....

We will fix the GUI asap

[2016-02-16 09:01] simonemainardi commented on #367
@paoloB132 with PF_RING enabled the system spends ~20% running the kernel, servicing interrupts or managing resources. That's pretty high. Indeed, The system spends a lot of time copying packets from the system to the userland. In PF_RING ZC copies don't occur and this significantly increases system speed (btw, ZC is not compatible with your NICs).

I think it is worth playing a bit with cores aff

[2016-02-16 09:12] jensmolsson opened #399 "Block traffic while attack"
If a host (IP) get a system alert, for example, scan attack, it would be great to block all traffic to that host/IP for example, 5 min.

Otherwise, its possible to get a request from system when an system warning has ben made? Then it would not be that hard to make this function :)

[2016-02-16 09:22] paoloB132 commented on #367
Thanks Simone, I’ll try to play with you suggestions.

Anyway a good workaround could also, if possible,  caching  minute top talkers statistics table, for selected Timeframe.

I mean query db and load meaningful records only once at the first access to that particular Timeframe, not using dynamic but hogging realtime access.

Ntopng is a very usefeul tool, and interface graph helps a lot, coupled

[2016-02-16 13:16] sthen commented on #398
I'll try to do this, but devel doesn't build directly on OpenBSD, I'll need to figure out some bpf_timeval vs timeval pieces first.

I have hit it again btw, it was json-like http payload this time too.

[2016-02-16 15:39] DigiAngel commented on #380
No takers on this eh?

[2016-02-16 16:17] simonemainardi commented on #395
@svenvogel, please post the exact steps that lead to the issue you are experiencing, thank you. I'm trying to reproduce it with no luck.

[2016-02-16 16:21] simonemainardi commented on #397
@svenvogel , ZMQ carries aggregated flow data, not packets. Could you please explain what do you need.

[2016-02-16 19:16] ssnex opened #400 "can't stat after update"
ntopng -V

[code]

================ ntopng log ====================================

16/Feb/2016 21:05:37 [Ntop.cpp:975] Setting local networks to 10.0.1.0/24
16/Feb/2016 21:05:37 [Redis.cpp:106] Successfully connected to redis 127.0.0.1:6379@0
16/Feb/2016 21:05:37 [main.cpp:183] **ERROR**: Unable to create interface eth2
16/Feb/2016 21:05:37 [PcapInterface.cpp:85] Reading packets from interface e

[2016-02-16 20:30] lucaderi commented on #400
@SANYA-SNEX Please post the whole command line you use to start ntopng and check if you are root

[2016-02-16 21:25] ssnex commented on #400
service ntopng start

/etc/ntopng/ntopng.conf

[code]

I run this from root and i try change
_--user ntop_  to _--user root_
and problem not solve

[2016-02-16 23:21] svenvogel commented on #395
Hi Simone,

before it looks with my values over any days...interfaces - my probe - overview
![beforce_traffic](https://cloud.githubusercontent.com/assets/5433844/13094626/315429ba-d50c-11e5-8b6b-3047a26a639f.PNG)
1. got to traffic profiles
2. change any traffic profile and click save
3. go back to interfaces and my nprobe and choose the overview again and counter starts new...

![after_traffic](ht

[2016-02-16 23:23] svenvogel commented on #397
i thought that my values are persistent over time. my problem with the reset of my values #395 i thought i need the dump feature?! maybe i dont need them when #395 that is fixed?

![image](https://cloud.githubusercontent.com/assets/5433844/13094685/a1dda1ca-d50c-11e5-921b-c90ab73e4bf5.png)

[2016-02-16 23:48] svenvogel commented on #396
okay.

[2016-02-17 08:42] dersch81 opened #401 "Ntopng start fails / too many arguments"
I'm facing several weeks this problem by starting the ntopng service.

/etc/init.d/ntopng start
- Starting ntopng
  /etc/init.d/ntopng: Zeile 64: [: Zu viele Argumente.
  /etc/init.d/ntopng: Zeile 68: [: Zu viele Argumente.
  /etc/init.d/ntopng: Zeile 64: [: Zu viele Argumente.
  /etc/init.d/ntopng: Zeile 68: [: Zu viele Argumente.
  /etc/init.d/ntopng: Zeile 64: [: Zu viele Argumente.
  /etc/init

[2016-02-17 14:21] paoloB132 commented on #367
Affinity doesn't help.

runnning ntopng used pid is 10961
10961 nobody    20   0 1219m  67m  13m S 29.3  0.5   0:04.54 ntopng

actually uses all cores
[root@ntop ~]# taskset -p -c 10961
pid 10961's current affinity list: 0-3

force on core 0
[root@ntop ~]# taskset -p -c 0 10961
pid 10961's current affinity list: 0-3
pid 10961's new affinity list: 0

..still slow

[2016-02-17 20:30] bmurphree opened #403 "Traffic Report Filters Fail"
When trying to focus on a specific time-range in a report, it's impossible to filter out protocols or interfaces.

[2016-02-18 07:53] Cyndz136 commented on #393
how come i can't kill the port.
i've tried the commands there on the link

[2016-02-18 08:20] lucaderi commented on #403
@bmurphree Can you please attach some screenshot that highlight the problem?

[2016-02-18 08:22] lucaderi commented on #401
@dersch81 I think you forgot to specify the PID file in your script. Please check and it will work, Do not forget to star ntopng!

[2016-02-18 08:22] #401 closed, assigned to nobody

[2016-02-18 08:24] dersch81 commented on #401
@lucaderi i never modified the script. It is installed with the repo. The issue started after some upgrade of ntopng.

[2016-02-18 08:43] lucaderi commented on #400
I have made some changes that will be included in the next packages. Build. Please report.

[2016-02-18 08:44] lucaderi commented on #398
Please send us a patch once you figure out the compilation issue

[2016-02-18 08:46] lucaderi commented on #401
please attach the script and report the version of ntopng

[2016-02-18 08:54] dersch81 commented on #401
dpkg -l | grep ntopng
ii  ntopng                                                      2.2.160216-945                                  amd64        Web-based traffic monitoring.
ii  ntopng-data                                                 2.2.160216                                      all          Data files (geoip) for ntopng.

[ntopng.txt](https://github.com/ntop/ntopng/files/135862/ntopng.tx

[2016-02-18 08:55] #396 closed, assigned to nobody

[2016-02-18 08:56] lucaderi commented on #395
This is the way it is designed. Are you saying that we should restart just one counter (the one you modified)?

[2016-02-18 08:57] lucaderi commented on #401
you need to send /etc/ntopng/ntopng.conf

[2016-02-18 08:59] dersch81 commented on #401
ok
[ntopng.conf.txt](https://github.com/ntop/ntopng/files/135873/ntopng.conf.txt)

[2016-02-18 09:12] Cyndz136 opened #404 "bridging takes too long"
Hi, i was able to bridge again the two network interfaces but then after i've issued the command it takes too long to finish is that normal?

ccahilig@NTOP:~$ ntopng -i bridge:em1,wlan0
18/Feb/2016 17:09:02 [Ntop.cpp:933] Setting local networks to 127.0.0.0/8
18/Feb/2016 17:09:02 [Redis.cpp:106] Successfully connected to redis 127.0.0.1:6379@0
18/Feb/2016 17:09:02 [NtopPro.cpp:119] [LICENSE] Readi

[2016-02-18 10:00] dersch81 commented on #401
@lucaderi it works!

sudo /etc/init.d/ntopng restart
- Stopping ntopng
  951
- Starting ntopng
  1041
  ...done.

thanks a lot for your commit!

[2016-02-18 10:19] lucaderi commented on #401
@dersch81 please star ntopng on github

[2016-02-18 10:23] lucaderi commented on #404
Please read the log and listen to our replies.
1. You need to be root
18/Feb/2016 17:09:02 [PacketBridge.cpp:96] ERROR: Unable to open interface em1
18/Feb/2016 17:09:02 [Ntop.cpp:1152] Registered interface bridge:em1,wlan0 [id: 5]
18/Feb/2016 17:09:02 [Ntop.cpp:1165] Registered interface view bridge:em1,wlan0 [id: 5]
18/Feb/2016 17:09:02 [Utils.cpp:286] Privileges are not dropped as we're not sup

[2016-02-18 10:23] #404 closed, assigned to nobody

[2016-02-18 10:26] lucaderi commented on #392
Not all drivers compile on debian. We advise you to use Ubuntu instead.
As of the stable repository I will keep this in mind.

[2016-02-18 10:29] lucaderi commented on #384
We have implemented an asynchronous dump to MySQL that should address your problem. Please refresh your code

[2016-02-18 10:29] #384 closed, assigned to nobody

[2016-02-18 10:29] Cyndz136 commented on #404
then how do you suggest i do all this because i've been going in circles with these. one day i was able to bridge then the next day the bridge is gone. when i try to bridge again not possible i tried the link given to me on killing a port it didn't work.

[2016-02-18 10:31] lucaderi commented on #350
What you ask will fill up DB space unnecessarily. You can create a table with mapping AS name/number and use SQL to map names to numbers

[2016-02-18 10:31] #350 closed, assigned to nobody

[2016-02-18 10:32] lucaderi commented on #393
Please do not bridge wifi with ethernet and be root

[2016-02-18 10:32] #393 closed, assigned to nobody

[2016-02-18 10:46] Cyndz136 opened #405 "Virtual NTOPng"
Is it possible to put/install the NTOPng on an ESXi Server but running on UBUNTU server?
How should i bridge the two network interface.
if bridging the WiFi with the ethernet is not possible, how should i go about with this.?
is it possible if i used a WiFi adapter to bridge and get the BUMP in the Wire?

Please let me know,
Thank You,
Cyndee

[2016-02-18 10:47] #405 closed, assigned to nobody

[2016-02-18 13:14] DigiAngel commented on #380
FYI latest git pull as of yesterday I see the same behaviour.  Thank you.

[2016-02-18 13:57] lucaderi commented on #380
It works for me. Any chance to login to your host?

[2016-02-18 15:34] DigiAngel commented on #380
Sure...let me email you offline here...thank you.

[2016-02-18 16:02] svenvogel commented on #395
Hi Luca,

yes we think that would be better. first we thought it is the complete count of one traffic profile. we found out that we found the complete traffic director in the profile.

![image](https://cloud.githubusercontent.com/assets/5433844/13149259/27b59c30-d661-11e5-8503-4ce570a0c76a.png)

![image](https://cloud.githubusercontent.com/assets/5433844/13149267/30254fdc-d661-11e5-9863-d1c5bd7289

[2016-02-18 16:34] lucaderi commented on #292
Implemented in the development branch

[2016-02-18 16:34] #292 closed

[2016-02-18 16:34] ssnex commented on #400
error 404
I try after some time. Problem with the server where the package is.

# yum update

[code]

[2016-02-18 16:59] whoknowz opened #406 "Configuration persistence"
When doing a Redis flushall we loose all host filter rules and traffic shaping rules.
Possible to have the values persistent elsewhere or maybe a way to backup the config before a flush?

For example in a situation like this, the only way to fix it is to flushall right?

18/Feb/2016 21:53:28 [Redis.cpp:357] ERROR: WRONGTYPE Operation against a key holding the wrong kind of value [HKEYS ntopng.pref

[2016-02-18 18:34] ssnex commented on #400
yum clean metadata
yum update
ntopng -V

## v.2.3.160218 [Professional Edition]

Try try to start

#

# method 1 NOT working:

**sudo ntopng --http-port 3000 --local-networks 10.0.1.0/24 --user ntop  --interface eth0 --interface eth1 --interface eth2 --community**

================ ntopng log ====================================

[code]

================= system logs ============================

[2016-02-18 22:05] lucaderi commented on #406
You can backup/restore as specified in http://zdk.blinkenshell.org/redis-backup-and-restore/

For the above problem you can do

redis-cli del ntopng.prefs.bridge:eth0,eth1.name

[2016-02-18 22:05] lucaderi commented on #406
Please star ntopng on github

[2016-02-18 22:05] #406 closed, assigned to nobody

[2016-02-19 06:23] lucaderi commented on #400
Please generate a core of ntopng (in the first case) and put it somewhere so I can download it. I need to investigate this strange issue. Also attach the output of "ntopng --version". Thanks

[2016-02-19 09:07] ssnex commented on #400
I had never done core dump so I unsure what am I doing it right.
I do it like write in this page:
http://www.ntop.org/support/need-help-2/need-help/

git clone https://github.com/ntop/ntopng.git
cd ntopng
./autogen.sh
./configure

_checking for nDPI... not found_

cd ..
git clone https://github.com/ntop/nDPI.git
cd nDPI
./autogen.sh
make
cd ../ntopng
./autogen.sh
./configure

[code]

yum list libc

[2016-02-19 10:13] ftraybird opened #407 "Windows GeoIp and Hosts by Country"
Do these features work under Windows? I can't get the country flags to show in ntopng when I browse my flows in a Windows install.

When I go to Hosts by country it keeps saying no results found.

I am using the most recent version and running nprobe and ntopng with these options.

ntopng /c -i tcp://127.0.0.1:5556

nprobe /c --zmq "tcp://*:5556" -n none -i none --collector-port 2055 --as-list Geo

[2016-02-19 13:39] svenvogel opened #408 "more traffic profiles"
Hi,

we can only create 16 traffic profiles but we need unlimited. is that possible to add these?

thanks

Sven

[2016-02-19 13:42] svenvogel opened #409 "ntop ng crash with german characters"
Hi,

when we add traffic profiles with german characters like "ä, ö, ü" ntopng crashes.

19/Feb/2016 14:31:10 [Lua.cpp:4560] WARNING: Discarded char '<E4>' in URI [H%E4nder]

greetings
Sven

[2016-02-19 13:51] ftraybird opened #410 "Save Flows to MySQL with -F"
I have MySQL now installed and want to save the flows to the db.

Do I have to create a db inside MySQL before I can have ntopng save the flows to a db?  If so do you have the instructions for the table, etc?

I have the command below but how do I setup the dbname and the tablename to allow this command to connect successfully?

 ntopng /c -i tcp://127.0.0.1:5556 -F "mysql;db_ip_address;dbname;tab

[2016-02-19 14:08] ftraybird commented on #410
Found it!  Thanks

https://github.com/ntop/ntopng/wiki/03-MySQL-FAQ

[2016-02-19 14:08] #410 closed, assigned to nobody

[2016-02-19 14:21] ftraybird opened #411 "Saving to MySQL data looks encrypted"
After I connect to my ntopng db in MySQL and run the following command:

mysql> select \* from flowsv4_6;

I get what looks to be encrypted data.

How can I view the data saved from ntopng in MySQL?  Do I need a tool or can I use just simple standard MySQL commands to look at the historical flow data?

Thanks!

[2016-02-19 15:00] #411 closed, assigned to nobody

[2016-02-19 15:07] DigiAngel commented on #380
Hi Luca, I emailed you yesterday to your ntop account...if you're still up for remoting in please let me know..thank you.

[2016-02-19 15:14] ftraybird opened #412 "Change Column of IP_SRC_ADDR and IP_DST_ADDR in MySQL?"
I am using ntopng to save the flows to MySQL but these Columns field type are Interger and I believe I need them changed to Text so I can see what the IP addresses are.

How can I modify the field types of these 2 columns so I can see the source and destination IPs?

Thanks!

[2016-02-19 15:15] ftraybird commented on #412
For example, instead of 10.0.0.1 I see 167772161 in the MySQL db when I search the db.

[2016-02-19 15:21] simonemainardi commented on #412
use MySQL `INET_NTOA` to get an ascii representation of IPv4 addresses (http://dev.mysql.com/doc/refman/5.7/en/miscellaneous-functions.html#function_inet-ntoa)

[2016-02-19 15:21] #412 closed, assigned to nobody

[2016-02-19 16:26] lucaderi commented on #380
@DigiAngel Please try again I can't see your email

[2016-02-19 16:28] DigiAngel commented on #380
Trying now...thank you.

[2016-02-19 16:31] DigiAngel commented on #380
OK sent:

[code]

Thanks again.

[2016-02-19 19:14] ftraybird opened #413 "Windows Versions Supported?"
Which versions of Windows OSs are supported by ntopng on Windows?

[2016-02-19 19:39] #380 closed, assigned to nobody

[2016-02-19 19:41] lucaderi commented on #409
I can reproduce the warning but not the crash

[2016-02-19 23:35] whoknowz commented on #371
I can't replicate the issue locally, it is happening at two of my client places. Reverting to version 2.2 fixes the issues always. I will try to get a pcap dump.

[2016-02-20 07:18] lucaderi commented on #413
x64 versions. Personally we use on Win7

[2016-02-20 07:18] #413 closed, assigned to nobody

[2016-02-20 13:03] svenvogel commented on #409
hmm yes thats the only thing which i saw in log. we filled out the traffic profiles very fastly and ntopng seems to be crashed. i dont have more information.

[2016-02-20 13:12] lucaderi commented on #409
Can you please generate a core dump and create a tar ball containing the core and the ntopng binary (just the binary)?

[2016-02-20 13:12] svenvogel commented on #409
how i generate them?

[2016-02-20 13:16] lucaderi commented on #409
http://www.ntop.org/support/faq/how-to-report-a-bug-on-ntop-apps/

[2016-02-20 13:18] whoknowz commented on #385
Probably the same as #371 I have the same issue

[2016-02-20 13:20] lucaderi commented on #385
@whoknowz Can you please capture a pcap to assist with the debugging?

[2016-02-20 13:48] whoknowz commented on #385
I will try to get a pcap...but since it is happenning on production machines at two clients I had to revert to 2.2. Strangely this is not happenning at my office setup. I have checked several times and the whole topology is similar since I always push updates to clients once I have it working fine locally. The DNS server resides on the local LAN so it probably is having problems getting records fr

[2016-02-20 14:31] ftraybird commented on #412
Thank you!  exactly what I am looking for; but, I want the data to go into MySQL from ntopng and stay in the table as an IP address so I can easily export the db to create reports for the client.

Is there a way to have MySQL just store what it receives from ntopng which is an IP and not convert it to a number so I have to convert it back to an IP?

Thanks again!

[2016-02-20 14:37] ftraybird opened #414 "IP_SRC_ADDR and IP_DST_ADDR stay in IP Format in MySQL while writing to db"
I am using ntopng to save the flows to MySQL but these Columns field type are Interger and I believe I need them changed to Text so I can see what the IP addresses are.

How can I modify the field types of these 2 columns so I can see the source and destination IPs?

For example, instead of 10.0.0.1 I see 167772161 in the MySQL db when I search the db.

I ran these commands on the table columns to

[2016-02-21 05:33] ftraybird opened #415 "Historical Data on Windows?"
http://www.ntop.org/ntopng/exploring-historical-data-using-ntopng/

Im running the following command in Windows 7

ntopng /c -i tcp://127.0.0.1:5556 -F "mysql;db_ip_address;dbname;tablename;account;password"

I have no historical data showing like explained in the above article.

What am I missing?

Thanks!

[2016-02-21 08:10] lucaderi commented on #414
@ftraybird I think the way it is implemented is correct as it allows us to play with subnets etc. Converting it to strings takes more space and prevents us from handling it with subnets. As @simonemainardi pointed out you can use INET_NTOA() to do what you are looking for.

Don't forget to star ntopng on github. Thanks.

[2016-02-21 08:10] #414 closed, assigned to nobody

[2016-02-21 09:01] lucaderi commented on #411
@ftraybird It is just compressed. See http://www.w3resource.com/mysql/encryption-and-compression-functions/compress().php

[2016-02-21 11:30] ftraybird commented on #414
Makes sense and now I understand all those reasons.

I'll just figure out a way to run INET_NTOA() on the columns so I can convert them before any kind of reporting. Or maybe I can convert outside of MySQL.

Ntopng is starred by us and i want to thank you and everyone here for all the great work everyone puts into such an amazing netflow analysis package.

Thanks again!

[2016-02-21 13:36] lzalewsk opened #416 "Wrong fields name in ES with ZMQ between nProbe and ntopng"
Hi,
In case of nProbe and ntopng communication via ZMQ witch node should dump data to Elasticsearch?
In case of following command:
`nprobe -i eth5 --elastic "eth5;nprobedev2-%Y.%m.%d;http://localhost:9200/_bulk;" -T "%FLOW_ID %FLOW_START_SEC %FLOW_END_SEC %FLOW_START_MILLISECONDS %FLOW_END_MILLISECONDS %FLOW_ACTIVE_TIMEOUT %FLOW_INACTIVE_TIMEOU %FLOWS %IPV4_SRC_ADDR %L4_SRC_PORT %IPV4_DST_ADDR %L4

[2016-02-21 22:28] simonemainardi commented on #414
Hi,

I don’t know why you need to store ip strings rather than integers. Integers take less space and querying them is much more efficient. String conversion it’s just a matter of using the INET_NTOA at query time.

Nevertheless, you should not change mysql column types of the tables used by ntopng. This will very likely cause unexpected behavior. If you still want ip strings in the database, you

[2016-02-22 05:10] ftraybird commented on #414
Thanks Luca.  Thanks Simone.  I understand now and you're exactly right on how you are storing the IP addresses.  As you stated I will just convert if I need to later for a report or just create a MySQL view.  I didn't realize at the open of this issue that storing IPs as a number has such benefits such as searching ranges, subnets, and uses less storage.  Thanks again!  Nick

[2016-02-22 19:24] DigiAngel opened #417 "Filtering issue by country"
Topic says it....I'm unable to filter by almost all the counties on this screen:

![2016-02-22 12_17_27-welcome to ntopng - internet explorer](https://cloud.githubusercontent.com/assets/947191/13229566/e7ac0722-d95e-11e5-9af8-ede137b42cdd.jpg)

I get the below:

![2016-02-22 12_17_41-welcome to ntopng - internet explorer](https://cloud.githubusercontent.com/assets/947191/13229579/f1fb1a56-d95e-11e

[2016-02-23 01:47] Mahmoudz commented on #121
I faced the same problem and it took me some time to find out that I was missing to transfer the `.woff2` file in my gulp task.

[code]

[2016-02-23 15:18] svenvogel commented on #408
can you please add this in the new version?

[2016-02-23 22:22] ssnex commented on #400
ntopng -V
v.2.3.160223 [Professional Edition]

ntopng    x86_64      2.3.160223-910
ntopng-data   noarch   2.3.160223-910

seems began to work. I now do not know whether to update or not

[2016-02-23 23:44] lzalewsk opened #418 "Difference between ntopng data and Elasticsearch"
Hi
I have lanched ntopng with following parameters in ntopnng.conf
-G=/var/tmp/ntopng.pid
-w=3000
-i=vlan710
-i=vlan711
-F="es;ntopng;ntopng_proxy-%Y.%m.%d;http://10.221.1.44:9200/_bulk;"

I'm little confused for one active user which has transfered ~230 MB data via FTP I have noticed:
in ntopng
![ntopng_ftp](https://cloud.githubusercontent.com/assets/14045566/13270490/cc34ad88-da8e-11e5-909c-cbf2

[2016-02-24 08:15] lucaderi commented on #418
In ntopng  you see a cumulative counter, in ES you seem to analyze just one flow.
Don't forget to star ntopng on github

[2016-02-24 08:15] #418 closed, assigned to nobody

[2016-02-24 10:41] lucaderi commented on #400
Yesterday we have fixed a crash, might be that it affected you and it's solved by now

[2016-02-24 10:42] lucaderi commented on #416
nprobe should dump to ELK. Please check who is sending these jsonX fields

[2016-02-24 12:29] lzalewsk commented on #418
Problem is that I do not see any additional flows marketd as FTP_DATA or FTP_CONTROL
For the whole day (I have made a few checks) sum of Bytest marked as FTP_DATA is ~35MB vs. 230MB in one session.
![ftp_problem](https://cloud.githubusercontent.com/assets/14045566/13285251/e2a8aa2c-daf9-11e5-89ab-c2f3b325285d.png)

I will double check, but please confirm that in your QA tests it pass, and all data

[2016-02-24 12:31] lucaderi commented on #418
You need to debug and reproduce the problem (if any). For us it works.

[2016-02-24 15:01] ftraybird opened #419 "Options missing in Windows version"
I don't see a new version for Windows on GitHub; but, is this a licensing issue or is it a version issue I'm experiencing?

Below is what I have installed on my Windows System and I don't have the following an an option.
- historical data​ views aren't available
- Geo location page says no results found
- When I click the globe on any IP it just shows a blank Google Maps page
- BPF search drop-dow

[2016-02-24 17:31] lucaderi commented on #415
You need the pro version for historical reports

[2016-02-24 17:31] #415 closed, assigned to nobody

[2016-02-24 17:32] lucaderi commented on #419
- Historical reports are a pro feature
- For geolocation you need to have the .dat files installed. Please check the ntopng startup log as they should be part of the package.
- As of the globe issue please detail the issue
- What is BPF search?

[2016-02-24 18:36] #417 closed, assigned to nobody

[2016-02-24 18:37] lucaderi commented on #403
Closing for inactivity. Will reopen if details will be provided

[2016-02-24 18:37] #403 closed, assigned to simonemainardi

[2016-02-24 19:04] DigiAngel commented on #417
Thanks Luca!

[2016-02-25 10:04] Mile-Lile opened #420 "IPS on HTTP/2"
Can ntopng do IPS on HTTP/2?

[2016-02-25 10:09] lucaderi commented on #420
ntopng can do IPS on all nDPI detected protocols. At the moment we support QUIC/SPDY. If you have a HTTP 2.0 pcap trace please send it to use so we can double check

[2016-02-25 12:51] DigiAngel opened #421 "No Results Found by Operating system"
Topic says it...I have several days worth of data and 46 different local hosts, but when I select Hosts -> Operating System I get No Results Found.  Anything I can do to troubleshoot this on my end?  Thank you.

[2016-02-25 13:03] lucaderi commented on #421
#417 duplicate.

[2016-02-25 13:03] #421 closed, assigned to nobody

[2016-02-26 00:59] seismiccollision opened #422 "Network Descriptions"
It would be very cool to be able to tie network subnets back to interfaces/VLANS/SVIs

[2016-02-26 09:54] rathnaTech opened #423 "Ntopng cannot detect IMSI's"
Hi ,
  I tried with GTP based pcap file with ntopng .But ,ntopng cannot able to find IMSI ,ip etc.,While extracting the same pcap file with wireshark it shows all the files.Please provide the solution.

Thank you,

[2016-02-26 10:29] lucaderi commented on #423
You need to use nProbe to handle GTP and forward data to ntopng via ZMQ. See https://sharkfest.wireshark.org/assets/presentations/I5.pdf

[2016-02-26 10:29] #423 closed, assigned to nobody

[2016-02-26 17:26] simonemainardi commented on #295
@lucaderi the integration is done, available on the Pro edition.

A button 'request pcap is shown at the bottom of historical top talkers and protocols':
![image](https://cloud.githubusercontent.com/assets/3397663/13359741/05ba2ea6-dcb6-11e5-8aee-630b3030d271.png)

Clicking on the button triggers a request to the nbox. The request carries a BPF filter generated on the  basis of begin and end epoch

[2016-02-26 17:27] simonemainardi commented on #340
@dpkano any news?

[2016-02-26 17:41] simonemainardi commented on #342
@kkkhh  I've made some fixes recently. Could you please try and check again?

btw, have you any alerts configured? If this is the case, try to remove them and see what happens.

Please, let us know.

[2016-02-26 18:42] simonemainardi commented on #342
packages will be built overnight and available starting from tomorrow

[2016-02-27 03:55] lzalewsk commented on #416
The json-labels
nprobe [....] --json-labels
solves the problem.

[2016-02-27 03:55] #416 closed, assigned to nobody

[2016-02-27 06:01] lucaderi commented on #340
Closing. I think I have fixed it with my last build/fix.

[2016-02-27 06:01] #340 closed, assigned to nobody

[2016-02-27 06:01] lzalewsk opened #424 "No details in Flow - Internal server error"
ntopng version: 2.3.160226
In case of nprobe -> ntopng setup
nprobe.conf:

[code]

ntopng -i tcp://localhost:5556

In ntopng GUI after going into FLOW details I receive
`/usr/share/ntopng/scripts/lua/modules/flow_utils.lua:1047: attempt to perform arithmetic on global 'time_epoch' (a string value)`

![ntopng](https://cloud.githubusercontent.com/assets/14045566/13371162/8d982116-dd1f-11e5-91eb-8389

[2016-02-27 18:33] lucaderi commented on #316
Implemented. Note that the latest nProbe dev version is required for this feature.

[2016-02-27 18:33] #316 closed

[2016-02-28 18:02] ftraybird commented on #419
Thanks!  I think I'm still in demo version so that is a lot of my issues.

How do I check the ntopng startup logs?  I am using --as-list GeoIPASNum.dat --city-list GeoLiteCity.dat when I run nProbe and those 2 files are in the same directory as nProbe.

The Globe issue I thought it shows on the map the communications from or to that IP.  I just get a blank map.

The traffic filters using the Berke

[2016-02-28 19:49] lucaderi commented on #419
Start ntopng from cmd.exe as ntopng /c
The dat files should be already present. Please post the exact command line you are using.
We are building Win packages every time to time. These do not seem to be Pro issues but packing issue. Please describe in detail what happens but also attach a startup log

[2016-02-28 21:41] ftraybird commented on #419
Thanks!  I've attached the license, command, startup log, and directory listing.  Please notice my check-license and my -V show different results.  Not sure if that matters.  I entered my Pro code but I don't think it took it successfully.

C:\Program Files\ntopng>ntopng /c --check-license
Starting ntopg
Running ntopng.
Demo mode license

C:\Program Files\ntopng>ntopng /c -V
Starting ntopg
Running

[2016-02-29 04:51] rathnaTech commented on #424
yes, I am also facing the same problem.I extracted GTP packets through ntopng .When i opened the flow there is no information found(eg. IMSI,IP,SERVICR NUMBER ETC.,). Please provide sufficient information as soon as possible.
Thank You,

[2016-02-29 04:55] rathnaTech commented on #423
Thank you Luca.

  Does nprobe supports 10G capacity.Is it a open source or licensed tool.

[2016-02-29 10:39] lucaderi commented on #423
It is a commercial product: http://www.ntop.org/products/netflow/nprobe/

[2016-03-01 01:16] kkkhh commented on #342
![_001](https://cloud.githubusercontent.com/assets/16585647/13414443/f1d689fe-df8d-11e5-87d4-369603a0b7b1.jpg)

here is the version i used
do you mean that i should try the nightly builds packages ?

[2016-03-01 08:45] simonemainardi commented on #342
yes, you shoud try nightly builds. I can confirm the issue has been solved with

![image](https://cloud.githubusercontent.com/assets/3397663/13421991/30a1da90-df92-11e5-8480-67192c785e7b.png)

[2016-03-01 09:48] simonemainardi commented on #390
@whoknowz , nbox package post intall is failing. Please run

[code]

and post any output.

thanks

[2016-03-01 09:54] simonemainardi commented on #397
right, dump features are for packet-interfaces only and are not related with #365.

[2016-03-01 09:54] #397 closed, assigned to nobody

[2016-03-01 10:13] simonemainardi commented on #412
duplicate of #414

[2016-03-01 10:18] simonemainardi commented on #371
@whoknowz did you manage to get a pcap? Also please note that the flow bug fix has been ported to stable as well.

[2016-03-01 10:36] simonemainardi commented on #408
presently we have chosen to limit the maximum number of profiles even if we may increase this number in the future.

[2016-03-01 10:41] svenvogel commented on #408
Why you close the ticket and what is may increase the number in the future?

Von: simonemainardi [mailto:notifications@github.com]
Gesendet: Dienstag, 1. März 2016 11:36
An: ntop/ntopng
Cc: Vogel, Sven
Betreff: Re: [ntopng] more traffic profiles (#408)

presently we have chosen to limit the maximum number of profiles even if we may increase this number in the future.

—
Reply to this email directl

[2016-03-01 11:11] lucaderi commented on #408
@svenvogel Can you please tell us what is a reasonable number of profiles?

[2016-03-01 13:05] rathnaTech commented on #424
![screenshot from 2016-03-01 12 48 39](https://cloud.githubusercontent.com/assets/16934803/13427831/81f5bb24-dfdc-11e5-8ccd-bff037a0b26d.png)

while feeding capture file to the nprobe  it was not executed

[2016-03-01 13:47] lucaderi commented on #424
The warning issue should have been fixed

[2016-03-01 21:35] lzalewsk commented on #424
Hi,
I still have a problem
After upgrade ntopng x86_64 v.2.3.160301

![ntopng_crash](https://cloud.githubusercontent.com/assets/14045566/13442649/8ea66a14-dffd-11e5-8561-8d7ce11fc7eb.png)

Additionaly after few click's / navigations it's crash.

[code]

[2016-03-02 01:13] kkkhh commented on #342
ok
the problem has been solved
tks a lot

[2016-03-02 06:11] #342 closed, assigned to nobody

[2016-03-02 08:08] lucaderi commented on #424
@rathnaTech Please open a different issue where you explain how you have started nProbe and ntopng. Note that you need to enable the GTP plugin for handling GTP traffic

[2016-03-02 08:14] lucaderi commented on #424
I have fixed the warning/error. A new build is in progress

[2016-03-02 09:09] razor3g opened #425 "Application Classification"
Hello,
Please I am using ntopng for traffic analysis in my company. My issue is: I have just limited L7 apps attached to the host IPs I am seeing. For instance, all I can see under applications are (NetBios, Unknown, DHCP, Dropbox, SSDP) any other app we are using online does not show.

Please do i go about this?
![capture](https://cloud.githubusercontent.com/assets/17588682/13455622/7cffed86-e056

[2016-03-02 15:23] svenvogel commented on #408
i think 256 profiles would be a good choice. when we need more cpu we can add a vcpu. maybe its possible to add with edit field the account of traffic profiles. that would be great :)

[2016-03-02 23:09] lucaderi commented on #425
You can type ntopng -h to see the list of supported protocols. It looks you have protocols nDPi does not support.

[2016-03-03 08:17] razor3g commented on #425
Ok. I typed the command as instructed and I saw 221 nDPI protocals listed but how do I get them to show up?
Because I saw protocols like: skype, facebook, cnn, Yahoo etc but they do not show up in the applications.

[2016-03-03 12:08] mydzen commented on #385
Hello!
Also have a problem with dns.
I have ntopng   2.3.160303 - Professional Edition, on Ubuntu. It works in bridge mode.
When ntopng turn on in bridge mode, I have problems with resolving dns names. When I use network without ntopng - it wirks correctly. Screenshot of nslookup in attachement.
Tell me, please, what's happen?

![ntop_fb](https://cloud.githubusercontent.com/assets/15261519/1349379

[2016-03-03 17:28] seismiccollision opened #426 "page=historical type views lose "IPv4 Flows", "IPv6 Flows" "Talkers", and "Protocols" after a while"
This only happens after ntopng has been running for a while (24 hours since the last bounce)
When I hit urls such as
https://172.0.0.1:3001/lua/if_stats.lua?if_name=2&page=historical
https://172.0.0.1:3001/lua/host_details.lua?ifname=2&host=1.1.1.1&page=historical

the "IPv4 Flows" tab disappears
the "Talkers" tab won't display anything
the "Protocols" tab won't display anything

and db_explorer.l

[2016-03-03 18:43] simonemainardi commented on #426
@seismiccollision: @lucaderi made a fix in 031056a 2 days ago. Are you using the latest dev build?

[2016-03-03 19:36] seismiccollision commented on #426
Oh no, updated 5 days ago
Thanks for letting me know and sorry for the trouble!

[2016-03-03 21:53] simonemainardi commented on #419
@ftraybird try and put the license key in a single-line file `ntopng.license` under `C:\Program Files\ntopng`, restart ntopng, and see if it recognizes the license.

[2016-03-04 00:53] seismiccollision commented on #426
Updated, I'm sure that will have fixed it

[2016-03-04 00:53] #426 closed, assigned to nobody

[2016-03-04 00:59] seismiccollision opened #427 "Sflow not collecting MAC Address in ntopng"
I opened this under nprobe but it didn't seem to get noticed (and I'm not 100% sure it is nprobe's doing though I think it is)

Collecting Sflow by running nprobe as follows:
nprobe --zmq "tcp://*:5556" -i none -n none --collector-port 6343

I am able to collect sflow and provide it to ntopng but it seems like the L2 headers containing the src/dst mac addresses in the flow record are not processed

[2016-03-04 01:01] seismiccollision commented on #364
well i'm very happy with my setup at the moment so i'll close this out, thanks for all the support!

[2016-03-04 01:01] #364 closed, assigned to nobody

[2016-03-04 06:09] razor3g commented on #425
Ok. I typed the command as instructed and I saw 221 nDPI protocals listed
but how do I get them to show up?
Because I saw protocols like: skype, facebook, cnn, Yahoo etc but they do
not show up in the applications.

On Wed, Mar 2, 2016 at 11:09 PM, Luca Deri notifications@github.com wrote:

##

Regards,

Network Engineer | Teledata ICT
No. 10 Mensa Saba Road, Kokomlemle, Accra, Ghana
Tel: +233 (0)

[2016-03-04 12:23] razor3g opened #428 "Creation of Policies"
Hello,

Please can you help us in the creation of policies? For instance, user policies that filter specific contents or block user from accessing things they are not supposed to.

[2016-03-04 12:54] MrBrax commented on #297
Less ready?

[2016-03-04 13:57] iber-mi opened #429 "ntopng not save data in mysql (?)"
Hi, I have running the ntopng conf NetFlow interface, now the only thing that I can not run is to be stored in mysql for once cut not lose that data and to load them whenever you want, I do not know what I'm doing wrong because I see refurnishing all following the manual, execute this command:

ntopng -i tcp://127.0.0.1:5556 -F "mysql;localhost;ntopng;flows;ntopng;nt1234" -w 3001

and does not kee

[2016-03-04 15:30] kYroL01 commented on #428
Maybe you need to read these:

http://www.ntop.org/ndpi/how-to-enforce-layer-7-traffic-policies-using-ntopng/

http://www.ntop.org/ndpi/using-ntopng-to-implement-a-wifi-access-point-with-layer-7-traffic-enforcement/

[2016-03-04 15:49] simonemainardi commented on #429
please, make sure user ntopng (identified by password nt1234) has privileges to create a mysql db on loclahost.

[code]

and see if any error appear.

[2016-03-05 01:46] TheLinuxGuy commented on #297
I wonder if anyone has tried to release a newer FreeBSD package? that would automatically fix pfsense. It currently works but its just a very old version (ntopng v.1.2.1 (r8205) )

https://www.freshports.org/net/ntopng/

[2016-03-05 06:44] whoknowz commented on #390
I just updated to version 2.3-473 from 2.3-472 and everything is back to normal. Closing issue, not sure what changed tho.

[2016-03-05 06:44] #390 closed, assigned to ValentinaViscarelli

[2016-03-05 06:57] lucaderi commented on #297
Hi guys I can complete the pfSense implementation is there is somebody willing to help both with packaging and some pfSense basics. Volunteers please contact me.

[2016-03-05 15:19] lucaderi commented on #385
I need to check what is the traffic your network -> ntopng and ntopng->internet (I need two different pcaps) to understand what is going on. Furthermore I need to see what traffic policy rules you have setup.

[2016-03-05 16:29] ftraybird commented on #419
It does read it but it appears to be a mismatch error.  Please see below.

05/Mar/2016 11:27:45 [NtopPro.cpp:119] [LICENSE] Reading license from ntopng.license
05/Mar/2016 11:27:45 [NtopPro.cpp:116] [LICENSE] Read license from Redis [C78...E73]
05/Mar/2016 11:27:45 [NtopPro.cpp:158] ERROR: [LICENSE] Invalid or missing ntopng License [License mismatch error]
05/Mar/2016 11:27:45 [NtopPro.cpp:171] W

[2016-03-07 08:33] iber-mi commented on #429
Hi, thanks for the advice but I work a lot on mysql with other applications and as user permissions and other works, I've done what you told me and no mistake, all right db created me. But still store data in db ...
because it is?!

[2016-03-07 08:44] xgerligand opened #430 "Compilation aborted : undefined reference to `ndpi_detection_giveup' and `ndpi_strnstr'"
Hi,
Compilation of ntopng aborted with these errors :

src/NetworkInterface.o: In function `NetworkInterface::processPacket(timeval const*, unsigned long, ndpi_ethhdr*, unsigned short, ndpi_iphdr*, ndpi_ipv6hdr*, unsigned short, unsigned short, pcap_pkthdr const*, unsigned char const*, int*, int*, unsigned short*)':
/usr/src/ntopng/src/NetworkInterface.cpp:804: undefined reference to`ndpi_detectio

[2016-03-07 08:49] kYroL01 commented on #430
Did you update nDPI before ?

[2016-03-07 08:53] xgerligand commented on #430
Yes absolutly, i ahve done a 'git pull' of nDPI.

[2016-03-07 09:13] kYroL01 commented on #430
I updated right now nDPI and ntopng and no compilation error rise-up.
nDPI -> git pull && make
ntopng -> git pull && make

[2016-03-07 09:14] #428 closed, assigned to nobody

[2016-03-07 10:18] xgerligand commented on #430
I have deleted nDPI and ntopng, and 'git clone' the two.
I got the same error...Maybe depend of compiler
 /usr/src $ gcc -v
Using built-in specs.
COLLECT_GCC=/usr/x86_64-pc-linux-gnu/gcc-bin/4.9.3/gcc
COLLECT_LTO_WRAPPER=/usr/libexec/gcc/x86_64-pc-linux-gnu/4.9.3/lto-wrapper
Target: x86_64-pc-linux-gnu
Configured with: ../gcc-4.9.3/configure --disable-libssp --enable-multilib --enable-version-spec

[2016-03-07 11:32] iber-mi commented on #429
It has already worked for me, it seems that was because I had version 2.2, I installed the 2.3 and has already worked for me saving data in mysql.
Now I'm not able is to load the data to see with ntopng, as I do this? I tried the same command but I start from 0, do not load mysql data, any help?

[2016-03-07 11:38] simonemainardi commented on #429
I am not sure to understand if yours is an issue related to 1) flow dump or 2) flow retrieval. Does ntopng write flows to MySQL? Can you see new rows appearing in MySQL tables? Or not?

[2016-03-07 11:43] iber-mi commented on #429
Now if you write and see the new rows in mysql flow, the version was apparently used, updating and works for me.
But now I want to be able to load the data from mysql web by ntopng, and see that data when I want, how this is done?

[2016-03-07 11:47] simonemainardi commented on #429
you should go to the historical page of interfaces or hosts: if mysql is enabled you have extra tabs that allow you to browse historical flows that are retrieved from mysql

[2016-03-07 12:03] markfoodyburton opened #431 "Interface Traffic Breakdown (Feature Request)"
Some way of visiting the breakdown of traffic between interfaces would be helpful. For instance if you have a combined 'view' of multiple interfaces, it would be nice to know the difference between the traffic on each one. The code for this seems to exist in drawRRD (it supports multiple data series), but I see now way of requesting this through the User Interface.
To make this concrete, I have 2

[2016-03-07 12:05] simonemainardi commented on #430
the linker is complaining about  `ndpi_detection_giveup`. The function has been added 3 days ago in https://github.com/ntop/nDPI/commit/462368f959daf9ffc72fc0fd91ef62a03487354c so i guess the linker is not pointing to the latest nDPI. Check for older versions in your system and remove them.

[2016-03-07 12:11] iber-mi commented on #429
Which enabled mysql? What do you mean exactly?

[2016-03-07 12:44] lucaderi commented on #430
Correct. update nDPI and it will work

[2016-03-07 12:44] #430 closed, assigned to nobody

[2016-03-07 14:02] simonemainardi commented on #429
see this http://www.ntop.org/ntopng/exploring-historical-data-using-ntopng-part-2/

[2016-03-07 15:29] svenvogel commented on #408
there are any information when it will included in a actutally version?

[2016-03-07 15:46] lucaderi commented on #408
Sometime in spring (hopefully). Can you please send us examples of the 16 filters you have so we can better the design them?

[2016-03-07 15:50] svenvogel commented on #408
i would send you an email because of data and an screenshot?

[2016-03-07 15:52] svenvogel opened #432 "get actually traffic from ip address (json/curl)?"
is there a way to get the traffic from a specific ip address with json or something so that we can use it in a monitoring system? json or curl the value?

thanks

Sven

[2016-03-07 15:53] lucaderi commented on #408
Sure

[2016-03-07 18:02] C-Duv opened #433 "MAC address are not sent to ElasticSearch"
I have enabled dump of flow to ElasticSearch server with the following option:

[code]

It is working fine except I cannot find the MAC addresses in the ES index.
It would be useful to me so that I can analyze traffic per device over long period of time.
How can I add this field?

[2016-03-07 19:43] Mile-Lile commented on #420
here it is...
[http2.zip](https://github.com/ntop/ntopng/files/161962/http2.zip)

[2016-03-07 20:47] lucaderi commented on #419
@ftraybird Please mail me the license and systemId as I want to double check.

[2016-03-08 06:17] jahanzeb-arshad opened #434 "Not able to block P2P traffic"
I am trying to block P2P/Torrent traffic for our enterprise network. I have blocked Bittorent protocol and the flows interface show that Bittorrent is being blocked. But I am still able to download via torrents. The flow interface show this traffic as Unknown.

[2016-03-08 09:47] simonemainardi commented on #432
you can curl `host_stats.lua?ifname=0&host=192.168.2.130` where ifname and host are the interface id and host ip address of interest, respectively. It replies valid json.

note that the endpoint is only used by ntopng internals and fields may change without notice in the future.

[2016-03-08 09:57] simonemainardi commented on #431
The feature you are suggesting is already available. If you use an interface view then you can see interface traffic breakdown from the view historical page:
![image](https://cloud.githubusercontent.com/assets/3397663/13598125/792868da-e51c-11e5-819f-3c28c211b0d1.png)

[2016-03-08 09:57] #431 closed, assigned to nobody

[2016-03-08 09:59] simonemainardi commented on #425
@razor3g , as discussed separately via email, all the traffic listed has broadcast/multicast destinations. Therefore I think the host that is running ntopng is not properly configured to receive all network traffic. In other words, it only receives broadcast traffic.

Please check your network / host configuration.

Can you update on this?

[2016-03-08 10:13] svenvogel commented on #432
thanks for help. is it the only way or is there also a way with nprobe?

[2016-03-08 10:18] svenvogel commented on #432
"throughput_bps":981517.875 <- is that the actually throughput?

[2016-03-08 10:33] tpavlin opened #435 "ntopng and TZSP and filtering out TZSP sniffing traffic"
It would be nice to be able to filter out TZSP sniffed traffic flows, and only show decoded flows. Since due to my network configuration I can only preform monitor such way. I got loads of flows originating from my router reserved TZSP IP with destionation of dedicated ntopng server.

Great tool, keep up the good work!

Thank you
Tic Pavlin

[2016-03-08 10:41] svenvogel commented on #432
http://192.168.77.144:3000/lua/host_stats.lua?ifname=0&host=85.X.X.X

is it possible to add username and password to bypass the http authentication login?

[2016-03-08 10:55] iber-mi commented on #429
thanks, but again does not save me again flows in the mysql db, I returned to install everything from 0 and still the same ... I need to pay license for this to work?

[2016-03-08 11:08] simonemainardi commented on #432
- you can't query nprobe directly via http.
- throughput is in bits per second
- in order to query host_stats.lua you should first use curl to get the session cookie, save it, and then send the cookie back every time you request host_stats.lua.

Pass user and password to authorize.html to get the cookie

[code]

[2016-03-08 11:10] simonemainardi commented on #429
mysql export is available in community edition so you don't have to pay. Could you please post ntopng startup string and console output?

[2016-03-08 11:19] iber-mi commented on #429
Startup: #ntopng -i tcp://127.0.0.1:5556 -F "mysql;localhost;ntopng;flows;ntopng;ntopng31;" -w 3002 -v

I have found that the mysql user and password and let me create db works, not by mysql permits.

Console output (I can not put all poruqe would not fit me here):

#

....
08/Mar/2016 12:15:39 [ParserInterface.cpp:651] Not handled ZMQ field 15/15
08/Mar/2016 12:15:39 [ParserInterface.cpp:651] Not

[2016-03-08 12:08] simonemainardi commented on #429
if your password doesn't end in `;` you should remove the last occurrence of   `;` from the -F string:

`-F "mysql;localhost;ntopng;flows;ntopng;ntopng31"`

also attach a txt file with the whole console output if the issue persists

[2016-03-08 12:11] simonemainardi commented on #431
For the sake of completeness: the interface breakdown is only available in the professional version

[2016-03-08 12:13] iber-mi commented on #429
all right, thank you very much, for one thing and see what happens ...

Now I will try to see if I can load the data into ntopng

[2016-03-08 12:42] lucaderi commented on #432
See "Accessing ntopng URLs from command line tools" in https://github.com/ntop/ntopng/blob/dev/doc/README.ntopng

[2016-03-08 12:42] #432 closed, assigned to nobody

[2016-03-08 12:46] lucaderi commented on #425
if you have a problem with one protocol, please capture a pcap file with such protocol (so we can reproduce the issue), file a bug under nDPI and we will look at it.

[2016-03-08 12:46] #425 closed, assigned to nobody

[2016-03-08 14:00] iber-mi commented on #429
Not to load data from MySQL to ntopng, I've read me: http://www.ntop.org/ntopng/exploring-historical-data-using-ntopng-part-2
but not clear how came to see tabs after chart: IPv4 Flows, IPv6Flows, Talkers, Protcols, Pcaps, my these tabs do not appear to me, I do not know where to access, I access the port: 3000 web that is eth0? or I access: Flow 3002 is the team that I have saved data on db? I've

[2016-03-08 14:11] lucaderi commented on #429
@iber-mi You need the pro version of ntopng. With the community edition those tabs do not appear

[2016-03-08 15:36] iber-mi commented on #429
Now I have the pro version and I still see those tabs. Not because the link I've been through before not teach the URL, you may find it so, you could tell that URL access those tabs?
Example: http://127.0.0.1:3000/lua/if_stats.lua?if_name=eth0&page=historical  here I see the chart tab, but no more. This is what appears tod me down the web ntopng:

© 1998-2016 - ntop.org
Generated by ntopng Profess

[2016-03-08 16:29] simonemainardi commented on #429
can't get the point. please post screenshots.

[2016-03-08 17:00] fi-ro opened #436 "ntopng not showing historical data"
Hi,
I've talked to Simone on the mailing list and was asked to open an issue here.

The problem is that don't see historical data in the ntop frontend.

In the ntopng.log it says it successfully connected to the DB:

[code]

In the DB itself I can see entries coming in.

However in the interface historical page on the bottom I see a red bar
with

Same applies if I check a host's historical page.

[2016-03-08 17:02] iber-mi commented on #429
Send tab screen chart to see if you see something.

![chart](https://cloud.githubusercontent.com/assets/17645260/13609299/960eefc8-e558-11e5-93a2-606530fb1591.png)

[2016-03-08 17:08] simonemainardi commented on #429
no historical tabs are present: very likely you didn't enable MySQL with -F . Check configuration.

[2016-03-08 17:10] simonemainardi commented on #436
I've noticed that you are using version 2.2 stable .Could you please update and use the latest dev version? We've done a lot of improvements there.

[2016-03-08 17:18] iber-mi commented on #429
Yes, it is true now me 2 tabs appear more with -F, Talkers and Protcols, but show me the data and still IPv4 and v6 tabs appear, because it could happen? Thanks for the help.

![cahrt2](https://cloud.githubusercontent.com/assets/17645260/13609634/190f2a54-e55a-11e5-90ba-cd585697e7de.png)

[2016-03-08 17:20] simonemainardi commented on #429
interface is not receiving data...

[2016-03-08 17:21] iber-mi commented on #429
but I have to receive data to load my mysql db? I can not upload data without receiving data?

[2016-03-08 17:23] simonemainardi commented on #429
you can also retrieve old recorded data but interface name and ntopng instance name must be the same (it looks like you renamed it).

[2016-03-08 17:36] iber-mi commented on #429
And it works great! Thank you.

Pcap'd know how could download file? Not leave me when doi to extract pacap. Unknow response tells me.

[2016-03-08 19:36] simonemainardi commented on #429
in order to download pcap you need and nBox with n2disk enabled. issue is solved, don't forget to star ntopng!

[2016-03-09 08:45] iber-mi commented on #429
To install this I need a license payment? or it is not necessary?

[2016-03-09 08:56] fi-ro commented on #436
I was using the stable build because this is a test setup for later production use and would like to continue on stable when in production.

I've updated now to these version:

[code]

Changes I've noticed:
- table names changed from `ntopngv4_2` to `ntopngv4`
- entries in the tables are increasing (with current timestamp)
- syslog entry:
  `[MySQLDB.cpp:477] ERROR: MySQL error: [Table 'flowdb.flo

[2016-03-09 09:36] iber-mi commented on #429
This error may be due? data do not appear on the tab Protocols:

HTTP/1.1 500 Internal server error Content-Type: text/html Connection: close   Script "/usr/share/ntopng/scripts/lua/if_stats.lua" returned an error:
.../share/ntopng/pro/scripts/lua/modules/nv_graph_utils.lua:617: bad argument #1 to 'pairs' (table expected, got userdata)

[2016-03-09 09:42] mydzen commented on #385
Hello. pcap files in attachment

[pcap.zip](https://github.com/ntop/ntopng/files/164856/pcap.zip)

[2016-03-09 13:04] razor3g opened #437 "Policy implementation"
Hello,

My colleague misrepresented the case of policy issues we were having with ntopng.
There is no section on the page to apply policies.
Please assist

[2016-03-09 15:33] razor3g commented on #437
Hello

[2016-03-09 15:52] ValeDC opened #438 "Problem With Historical View"
Hallo,
i've just update my previous pro version to 2.2.160308 (the current stable), acquiring a new licence "ntopng Pro Small Business Linux/Win (x64)", but i can't see the tabs of the historical interface.

my enviroment:
Version 2.2.160308 - Professional Edition
Platform    x86_64-unknown-linux-gnu (x86_64) - 64 bit
Built on    CentOS Linux release 7.1.1503 (Core)

nDPI    1.7.0-1.7-stable-180-a

[2016-03-09 17:48] lucaderi commented on #438
@ValeDC You need to install the development version (non-stable) to see those features that will be integrated in the next stable.

[2016-03-09 17:48] #438 closed, assigned to nobody

[2016-03-09 18:44] simonemainardi commented on #437
how did you configure ntopng? please post startup string

[2016-03-09 19:48] seismiccollision opened #439 "Tune or disable goodput for Sflow"
Because Sflow does not capture enough unique data I am seeing lots of alerts for goodput in the latest version. Is there a way to disable or tune that alert?

[2016-03-09 20:03] lucaderi commented on #439
We need to tune the code you are right. I have disabled goodput computation for ZMQ interfaces. Please resync the code or overnight a new build will include it.

[2016-03-09 20:03] #439 closed, assigned to nobody

[2016-03-09 20:04] lucaderi commented on #439
https://github.com/ntop/ntopng/commit/ec572f6084ad9fe22fe75bca98cfa6fcd78920d3

[2016-03-09 20:26] seismiccollision commented on #439
@lucaderi no worries, thanks for your support!

[2016-03-10 07:56] iber-mi commented on #429
Hello! some help?

[2016-03-10 17:06] simonemainardi commented on #429
hi, we've made some fixes. backages are being build. Update tomorrow and let us know.

[2016-03-10 17:16] simonemainardi commented on #436
changes are expected. mysql table names and columns were slightly changed. ntopng migrates tables to the new format automatically.

if you still can't see flows, try to rename the interface and use a string without slashes or wait until tomorrow and update the packages. We have introduced some minor fixes to deal with names with slashes.

[2016-03-11 07:57] iber-mi commented on #429
ok, and install n Box and n2disk, some kind of paid license is required to run this?

[2016-03-11 07:58] lucaderi commented on #429
You need a license for n2disk, not for the nBox.

[2016-03-11 08:01] iber-mi commented on #429
License payment? or is there free? You buy in http://shop.ntop.org?

[2016-03-11 08:05] lucaderi commented on #429
Yes use the shop

[2016-03-11 09:48] fi-ro commented on #436
I just did a update to this version:

[code]

As you said, the schema was updated to:

[code]

However, ntopng.log still show's the table not found error:

[code]

I've found a workaround:
Previously I ran ntopng with
`ntopng -i tcp://127.0.0.1:5556 -q -F "mysql;ip-sql-cluster;flowdb;ntopdb;dbuser;dbuserpw"`
When I start it insead with:
`ntopng -i tcp://127.0.0.1:5556 -q -F "mysql;ip-sql-cluster;f

[2016-03-11 10:09] fi-ro commented on #436
Some addition:
With the above workaround all data is there and is displayed correctly in the web ui.
But in the database everything seems to be stored in **one** entry:

[code]

Displaying this entry I see lot's of binary data. So I'm guessing that all data is stored in this single entry.
Is this assumption correct?

[2016-03-11 10:25] lucaderi opened #440 "Disable web session autologout"
It is requested to disable web session autologout via preferences from the web panel.

[2016-03-11 12:38] razor3g commented on #437
Hello,

I followed instructions in the link below
http://packages.ntop.org/centos/

[2016-03-11 13:39] iber-mi commented on #144
Hello, there is no way nProbe when installing Debian 7/ wheezy? It would be very necessary, thank you.

[2016-03-11 13:41] razor3g commented on #437
Hello,

Was it a wrong procedure..?

[2016-03-11 13:43] lucaderi commented on #144
You can use this http://packages.ntop.org/debian/jessie/x64/nprobe/nprobes

[2016-03-11 13:54] iber-mi commented on #144
This is not a .deb I install debian 7?

[2016-03-11 15:10] simonemainardi commented on #436
FROM clause is missing in your query:

[code]

[2016-03-11 17:09] lucaderi commented on #144
it is a static binary. Please use it or move to v8

[2016-03-11 21:03] overcookedTOFU commented on #297
I don't know how much I can help with packaging, but I do know some pfSense basics.  What can I do to help?

Also, is there any hope for an updated FreeBSD package? That may be the quickest route!

[2016-03-12 08:04] lucaderi commented on #434
Please report the ntopng version (are you using the latest 7.3.x version?) and setup to reproduce the issue. note that flows are detected at start, so if there is an intermediate flow we cannot detect it.

[2016-03-12 09:38] alberk8 opened #441 "Error when specifing Httpdocs, scripts or callback directory"
Hi,

I have compiled ntopng from source on Ubuntu 15.10 X64.  It works when installed in it's default directory.   To simulate the problem I just "sudo mv /usr/local/share/ntopng   /usr/local/share/ntopngx.

I get the following error
$ sudo ./ntopng ntopng.conf
12/Mar/2016 17:31:34 [Prefs.cpp:634] All HTTP user login disabled
12/Mar/2016 17:31:34 [Prefs.cpp:820] Logging into /var/tmp/ntopng/ntopng

[2016-03-12 16:58] dfariazo opened #442 "help with "Category RRDs For Local Hosts and Networks""
this options not work can you help me please

-k flashstart:<user>:<password>.

![ntop](https://cloud.githubusercontent.com/assets/17800992/13724149/9968317c-e849-11e5-9621-5ffdad54a426.jpg)

[2016-03-13 07:28] UbuntuRunner commented on #297
Hi, lucaderi, just wanted to encourage you to go on with your work (though I am afraid I am not able to help you), cause we use ntopng almost daily on our pfsense-boxes.

Thanks for your work !

[2016-03-13 10:36] djha983 opened #443 "Historical tab shows graph but no flow info in tabular data"
I have installed and running Ntopng 2.2.I have enabled storing data to mysql using -F option.Flow is being stored in mysql.But when i go to historical tab of interface,it shows me graph but there is not flow information in IPv4 tabular view.It says
![test](https://cloud.githubusercontent.com/assets/17782428/13728176/815dafa2-e935-11e5-8283-015f593cc78d.png)
 no result found.

[2016-03-13 17:04] Romano44 opened #444 "Host throughput sorting bug"
Greetings. I manage LAN network and decided to try ntopng 2.2 I just got running. Everything work as expected except one strange thing: hosts are not dynamically sorted based on their throughput.:

![sort](https://cloud.githubusercontent.com/assets/17813740/13730068/ed885a56-e944-11e5-8e29-cdcc0326928c.jpg)

As you see on the pic they should be dynamically relocated from top to bottom based on the

[2016-03-13 22:06] lzalewsk opened #445 "ntopng - Floating point exception"
Hi,
ntopng -V
v.2.3.160313 [Professional Edition]
GIT rev:   dev:4295e7621b2a77d4c2787d0a6149f1f43035aaf6:20160313
Pro rev:   r592
System Id: 3C0E6232B206AB23
Built on:  Debian GNU/Linux 8.2 (jessie)
### ntopng.conf:

[code]

Monitored traffic: 5-8Gbps
After few minutes of working

[code]

How to get core dumps info in binnary version? I may provide.

[2016-03-14 04:53] jahanzeb-arshad commented on #434
The ntop version being used is "2.2.160229 - Professional Edition".
To Reproduce configure the ntop service to use bridge interfaces. Pass the traffic of end machine via the bridge interfaces. Using Bittorent client Transmission to download CentOS torrent.

[2016-03-14 05:49] jahanzeb-arshad commented on #434
Just to add to the info, following is the screenshot of the torrent peers and their relevant protocols being used.

![screenshot from 2016-03-14 10-44-06](https://cloud.githubusercontent.com/assets/17155548/13736026/4c0a1780-e9d2-11e5-8d89-1a52a7f035ce.png)

[2016-03-14 07:42] mydzen commented on #385
Hello! Any ideas about problem?

[2016-03-14 08:55] iber-mi commented on #144
Thanks, i've already run with ./nprobes, it seems to run fine and tells me good collection of Flow collection, but I can not visualize it in ntopng as nProbe are different commands to use? The ntopng indicates 0 flows.

14/Mar/2016 09:51:11 [nprobe.c:2596] Flow collection: [collected pkts: 31][processed flows: 643]

[2016-03-14 10:15] iber-mi commented on #144
I mark this error: ./nprobes: unrecognized option '--zmq', and when the nProbe is installed appears this:

14/Mar/2016 11:07:51 [util.c:4012] Initializing ZMQ as server
14/Mar/2016 11:07:51 [util.c:4055] Succesfully created ZMQ endpoint tcp://*:5557

seems not nprobes server does not start ZMQ, you have any idea how to fix it?

[2016-03-14 10:47] iber-mi commented on #144
nprobes --zmq not recognize the option, making a --help not seem that option, however in nProbe if. For serving nprobes then? Is there any way to activate --zqm binary nprobes?

[2016-03-14 12:59] lucaderi commented on #445
@lzalewsk You need to enable coredump generation (e.g. see http://askubuntu.com/questions/53956/how-can-i-enable-core-dump), then start ntopng from command line on a directory where it can write the core. Better if you can add -s so that you do not switch to nobody and thus ntopng can write the core to disk.

[2016-03-14 14:25] overcookedTOFU commented on #297
@lucaderi, just wanted you make sure you are aware that in pfsense 2.3 (currently in beta), there are a number of significant changes to the way packages work.  The short version is that pfsense packages will be more closely aligned with freeBSD packages.  Seems like this a perfect time to look at getting ntopng and pfsense working together.  Again, please let me know what I can do to help.

Thank

[2016-03-14 15:17] lucaderi commented on #442
Please see https://github.com/ntop/ntopng/blob/dev/doc/README.flashstart

[2016-03-14 15:17] #442 closed, assigned to nobody

[2016-03-14 15:19] lucaderi commented on #398
@sthen Any news?

[2016-03-14 15:48] lucaderi commented on #144
ZMQ is supported in Debian packages.

Welcome to nProbe v.7.3.160314 (r4935) for x86_64-unknown-linux-gnu
with native PF_RING acceleration.
Copyright 2002-16 ntop.org

Build OS:      Debian GNU/Linux 8.2 (jessie)
SystemID:      12F54F8A00000789
License:       Invalid nProbe license (/etc/nprobe.license) [Missing license file]

I think you are missing the license for the export plugin or you have n

[2016-03-14 16:03] iber-mi commented on #144
You told me to download this file: http://packages.ntop.org/debian/jessie/x64/nprobe/nprobes

and I do not appear this, look:
 ./nprobes --help | grep ZMQ
--json-labels                       | In case JSON label is used (e.g. with ZMQ)

./nprobes --version

Welcome to nProbe v.7.3.160314 (r4935) for x86_64-unknown-linux-gnu
with native PF_RING acceleration.
Copyright 2002-16 ntop.org

Build OS:

[2016-03-14 16:04] lucaderi commented on #144
The static binary does not have ZMQ support only the packaged version. This because on Debian 7 there is no ZMQ3 package.

[2016-03-14 16:18] iber-mi commented on #144
I think he is wrong, not since when, but we are the ZMQ3 packages for Debian 7 I have installed but not yet detected the ./nprobes ZMQ me, I can do to make me work on Debian 7? I can not actaulizar to version 8 because I would stop working some php servers in Debian 8 does not work yet.

Look, ZMQ3 packages for Debian 7 Official: https://packages.debian.org/source/wheezy-backports/zeromq3

[2016-03-14 16:24] lucaderi commented on #144
Let me repeat it one more time. We support only Debian 8. Please upgrade.

[2016-03-14 16:28] iber-mi commented on #144
ZMQ3 already Debian 7, there is nothing to do for nprobe in wheezy?

[2016-03-14 16:47] lucaderi commented on #144
Sorry we have no resources to support Debian 7 with ZMQ.

[2016-03-14 17:00] iber-mi commented on #144
And there is another package of nprobe to run this? I can not believe that Debian 7 being a version that is not old, not work with any of this.

[2016-03-14 17:51] simonemainardi commented on #433
MAC addresses have been added to ES-exported flows. We decided to not export MAC addresses to MySQL to prevent possible space-related issues.

[2016-03-14 17:51] #433 closed, assigned to nobody

[2016-03-14 19:30] #440 closed, assigned to simonemainardi

[2016-03-14 19:33] simonemainardi commented on #437
see the manual, page 55: https://github.com/ntop/ntopng/blob/dev/doc/UserGuide.pdf

[2016-03-14 19:33] #437 closed, assigned to nobody

[2016-03-14 20:51] grandrivers commented on #297
also this might help
https://forum.pfsense.org/index.php?topic=103481.0

[2016-03-14 21:01] simonemainardi commented on #443
please, move the the latest dev version. We have made fixes and improvements.

[2016-03-15 08:53] djha983 commented on #443
I have installed 2.3 and now i can do analysis on historical data.I have enabled -F option to store flow data in mysql db as well as elastic search.data is stored in MySQL but not sent to elastic search.

Is it possible to store flow data in MySQL as well as elasticsearch same time?

[2016-03-15 09:58] simonemainardi commented on #443
no, not at the same time. you need two ntopng instances.

[2016-03-15 09:58] #443 closed, assigned to nobody

[2016-03-15 10:21] #436 closed, assigned to nobody

[2016-03-15 10:23] simonemainardi commented on #441
confirmed, fixing

[2016-03-15 10:26] simonemainardi commented on #429
Solution given. Closing.

[2016-03-15 10:26] #429 closed, assigned to nobody

[2016-03-15 10:29] simonemainardi commented on #409
Can't reproduce the crash. The warning is due to the ntopng engine that strips out non-ascii characters. UTF-8 is not supported. @svenvogel any news? can you confirm that ntopng is not crashing but just raising an error? thank you

[2016-03-15 11:19] simonemainardi commented on #427
MAC addresses are properly exported and shown in ntopng hosts. You have to explicitly provide nprobe with a template that carries MAC information. nProbe does not export MAC addresses in its default template. This will work (see the last line):

[code]

As already said, MAC addresses were shown in the host details page. I have now edited the flow details page to show mac addresses there as well. S

[2016-03-15 11:25] #427 closed, assigned to nobody

[2016-03-15 11:32] simonemainardi commented on #424
@lzalewsk I confirm the issue

[code]

has been fixed 14 day ago in f97ee78d4 .

[2016-03-15 11:32] #424 closed, assigned to simonemainardi

[2016-03-15 11:33] simonemainardi commented on #422
please make a more detailed use-case of what you would like to achieve.

[2016-03-15 11:58] iber-mi opened #446 "ntop rrd arrested"
Hi,
might lead me in because my graphics RDD have stopped suddenly and had only been since yesterday at 6 PM working? The curious that the traffic graph has not stopped, only protocol applications. Attached images.

![config](https://cloud.githubusercontent.com/assets/17645260/13776954/482004d2-eaad-11e5-885a-c2e78789df21.png)
![traffic](https://cloud.githubusercontent.com/assets/17645260/13776955

[2016-03-15 11:59] simonemainardi commented on #446
ntop development and support has been discontinued. Please consider moving to ntopng -- actually, this is the ntopng issue tracker.

[2016-03-15 11:59] #446 closed, assigned to nobody

[2016-03-15 12:14] iber-mi commented on #446
I know and I've tried for 1 whole week, but I have already discussed in this forum that it is impossible to operate nprobe on Debian 7 and can not update to Debian 8 because I have several servers that php5.5 up do not work as well my only option is ntop and now this happens rrd graphics that are stopped and not because reason, and I would like to use my ntopng, but does not serve me without nprob

[2016-03-15 12:18] simonemainardi commented on #446
#144

[2016-03-15 12:23] iber-mi commented on #446
?

[2016-03-15 12:37] iber-mi commented on #446
The latest posts #144 they are mine, I've already tried that and it does not work.

[2016-03-15 13:12] simonemainardi commented on #446
I am not sure you can claim it does not work. It works on the supported architectures. Debian 7 is not supported. @lucaderi already said "Sorry we have no resources to support Debian 7 with ZMQ.". You should try and find a way to update php5.5 since it is preventing the update to Debian 8.

We do our best to support as many architectures as possible. Presently the demand to support Debian 7 is too

[2016-03-15 13:16] lucaderi commented on #446
Sorry ntop is no longer supported. Please move to ntopng.

[2016-03-15 16:24] lucaderi commented on #434
How did you configure the filtering rules? Are the flows you mention detected as BitTorrent?

[2016-03-15 16:25] lucaderi commented on #310
Fixed in the latest package builds

[2016-03-15 16:25] #310 closed

[2016-03-15 16:26] lucaderi commented on #400
Closed for inactivity (or more likely because the fix solved the problem)

[2016-03-15 16:26] #400 closed, assigned to simonemainardi

[2016-03-15 17:43] simonemainardi commented on #387
Solution given, no feedback received. Closing for inactivity.

[2016-03-15 17:43] #387 closed, assigned to nobody

[2016-03-15 17:46] simonemainardi commented on #349
@Stalker71 this is the ntopng issue tracker, please move your issue to https://github.com/ntop/nProbe/issues

[2016-03-15 17:46] #349 closed, assigned to nobody

[2016-03-15 20:26] seismiccollision commented on #427
@simonemainardi thank you so much!

[2016-03-15 20:46] seismiccollision commented on #422
@simonemainardi
essentially i want to be able to tie subnets back to meaningful information so that ntopng can provide context without having to leave its interface

hypothetical relevant information:
I have subnet 8.8.8.0/24 defined in ntopng.conf with "-m="8.8.8.0/24"
that subnet's gateway is VLAN interface 100
VLAN interface 100 has a description of "Production Web Servers"
the sflow headers ac

[2016-03-16 08:26] maskcv opened #447 "Local hosts"
Hi Luca
I need help. I cannot put my local networks working

Please see my main files

regards

[code]

-G=/var/tmp/ntopng.pid
-i=tcp://127.0.0.1:5556
-w=3000
-m=41.223.152.0/22,41.77.128.0/21,195.140.248.0/22,165.90.64.0/19
-d=/var/tmp/ntopng

[4]+  Exit 255                ntopng -i tcp://127.0.0.1:5556 -d /var/tmp -w 3000 -v >> /dev/null
root@ntop16:/etc/ntopng# ntopng -i tcp://127.0.0.1:5556 -d

[2016-03-16 08:31] simonemainardi commented on #447
Please,  do not redirect the output to dev/null: see the console logs and report any error.

Also note that according to the ntopng commands shown, the configuration file ntopng.conf is not used. if you want to use it you have to launch

./ntopng /path/to/the/ntopng.conf

best,
simone

[2016-03-16 08:51] mydzen commented on #385
good afternoon
tell me how long it takes for the test? we can not use the purchased product due to this problem.

[2016-03-16 09:01] lucaderi commented on #385
@mydzen @simonemainardi  Simone is looking at it

[2016-03-16 09:11] jahanzeb-arshad commented on #434
Under Main menu Interface I select the bridge interface through my traffic is passing. Under Traffic Filtering tab I add my lan network to the filter. Then from whitlelisted protocols I selected Applejuice, Bittorrent, FIletopia, Gnutella, IRC, TOR, eDonkey and moved them to Blacklisted.

The flows information shows that the traffic passing through is unknown.

![screenshot from 2016-03-16 14-08-5

[2016-03-16 09:15] simonemainardi commented on #434
thanks for the screenshot. it looks like not all the bittorrent flows are properly recognized as such. Any chance you can post a pcap with bittorrent traffic so we can try and reproduce? @kYroL01 may want to have a look at the nDPI engine.

[2016-03-16 09:23] lucaderi commented on #434
@jahanzeb-arshad The flows with a strike-through are blocked the others are not. So we need to enhance our nDPI mechanism as @simonemainardi said. Please create one pcap with full packets per protocol. Example you start with protocol X and create a x.pcap, then protocol Y and create y.pcap. Then file a bug under the nDPI component (not ntopng) posting the pcap and the issue. Please one pcap per is

[2016-03-16 09:23] #434 closed, assigned to nobody

[2016-03-16 09:37] kYroL01 commented on #434
@simonemainardi Definetly a P2P check about protocol dissectors are needed. There are other issues in nDPI that evidence that.
Please @jahanzeb-arshad follow the instructions of @lucaderi . Thanks a lot.

[2016-03-16 14:35] grinapo commented on #55
Apart from that being closed this problem is extremely hard to solve since the error messages are probably completely unrelated to the problem: there is error output without the matching syscall, so probably the output is bogus.

("[HTTPserver.cpp:495] ERROR: Unable to start HTTP server (IPv4) on ports 127.0.0.1;3301,127.0.0.1;3302s: Success" - no syscall to give "Success" or "Bad file descriptor"

[2016-03-16 14:41] lucaderi commented on #55
Can you please move to version 2.3 and open a bug if the problem is still present?

[2016-03-16 15:06] grinapo opened #448 "http://packages.ntop.org/apt/ fails for Debian/sid"
apt-ntop.deb seems to try to generate repo url by the release, but it will fail for everything which is not wheezy or jessie (obviously). Either you generate symlinks for others (like my sid) or fixup the script.
Unfortunately neither would really help us since jessie depends on   libhiredis0.10  which is not in sid anymore, and   libhiredis0.13   have a different name, so recompilation is necessa

[2016-03-16 17:31] simonemainardi commented on #444
@Romano44 this is the expected behavior, not a bug. Hosts are sorted according to their throughput measured in the moment when you click on the column name. Then, ntopng dynamically updates hosts information but does not change entries in the table. It would be annoying in terms of experience to change the contents of a multi-column table while a user may be reading it.

If you want to have a real

[2016-03-16 17:31] #444 closed, assigned to nobody

[2016-03-16 17:42] arifyn opened #449 "nearly all hosts generate low goodput alerts"
Since low goodput warnings were added to the nightly build, my installation of ntopng has been throwing low goodput alerts for every host that connects to the network. I have a hard time believing that nearly all of our TCP and ICMP flows are low goodput.

I assume this is not the intended behavior and that this is not affecting all installations of ntopng, but I am not sure what is unique about o

[2016-03-16 17:44] whoknowz commented on #449
Second that. Woke up to 180K alerts, anyway to disable this?

[2016-03-16 18:45] Romano44 commented on #444
Dear Simone, first thank you for your reply.

I have to disagree and say this is wrong app behavior though IMO. Not only would it be **not** annoying to sort table on the fly, it is in fact desired behavior and any other application do it.

Let me remind you that original Ntop also sorted tables on the fly. Other shell apps like iptraf or iftop do the same and they do it in same realtime speed if

[2016-03-16 18:52] rewwade opened #450 "error while loading shared libraries: libzmq.so.4"
I've just updated ntopng on my Centos 6.7 box and it will not start because of the following error:

Issue #137 provides some nebulous information relating to zmq on the ntop yum repos, but I can't find any concrete information. Similarly, the ntopng man page contains the following:

However the `third-party/` directory does not appear to be distributed with the rpm version.

As best as I can tell

[2016-03-16 20:07] simonemainardi commented on #385
confirmed. I don't even get a DNS reply when trying to resolve `mail.google.com`. It timeouts after 18sec

[code]

DNS works properly with other domains, i.e., `repubblica.it`

![image](https://cloud.githubusercontent.com/assets/3397663/13827048/e4318c34-ebba-11e5-8a15-62f19ae1c26c.png)

pcap: [dns-pcap.pcapng.zip](https://github.com/ntop/ntopng/files/176803/dns-pcap.pcapng.zip)

[2016-03-16 20:13] whoknowz commented on #385
This is not Google specific when I tested. Also even more stranger was the fact that directly specifying a global DNS server like 8.8.8.8 or ISP DNS on the client machine resolves the issue, but when configured with a secondary DNS server forwarding queries never works when bridge is up.

[2016-03-16 20:19] lucaderi commented on #385
@whoknowz @simonemainardi This is correct. When you resolve google addresses, you must enable also the Google protocol, not just DNS. Same for Facebook....

[2016-03-16 20:35] simonemainardi commented on #385
I have no blacklisted protocols in the ntopng policier.

note this configuration:

[code]

This is what I get if I simultaneously capture en4 and eth4

[code]

This is what I get if I simultaneously capture en4 and eth5

[code]

Look at the first two DNS going through eth5: they are malformed. I am not sure this is expected.

[2016-03-16 20:37] #409 closed, assigned to nobody

[2016-03-16 20:48] lucaderi commented on #385
@simonemainardi How did you start ntopng?

[2016-03-16 21:22] mjgehrmann commented on #449
Any chance goodput may false alert for sampled flow data? I see the same issue.

Mike

[2016-03-16 21:23] lucaderi commented on #449
This has been fixed already. What version are you using?

[2016-03-16 21:41] ValentinaViscarelli commented on #450
@rewwade
Try to install libzmq as described here: http://packages.ntop.org/centos/

In particular:

cd /etc/yum.repos.d/
wget https://copr.fedoraproject.org/coprs/saltstack/zeromq4/repo/epel-X/saltstack-zeromq4-epel-X.repo

Note: replace X with 6 (for CentOS 6) or 7 (for CentOS 7) then do:

[code]

[2016-03-16 21:54] simonemainardi commented on #385
[code]

[2016-03-16 21:56] simonemainardi commented on #435
@tpavlin can you please attach a pcap with TZSP traffic? So we can have a look at it and evaluate possible implementations.

[2016-03-16 22:27] arifyn commented on #449
oops - for some reason the running version was still v.2.3.160311. I restarted and purged existing alerts and am having no further issues with 316.

[2016-03-16 22:31] #449 closed, assigned to nobody

[2016-03-17 06:39] grinapo opened #451 "fails to build: src/Flow.cpp:266:42: error: ‘struct ndpi_flow_struct’ has no member named ‘bittorent_hash’"
Tried to compile on Debian/sid (to resolve the redis lib clashing) and got this:
src/Flow.cpp: In member function ‘void Flow::processDetectedProtocol()’:
src/Flow.cpp:266:42: error: ‘struct ndpi_flow_struct’ has no member named ‘bittorent_hash’
       setBittorrentHash((char*)ndpiFlow->bittorent_hash);
                                          ^
Makefile:129: recipe for target 'src/Flow.o' failed

[2016-03-17 06:43] grinapo commented on #451
Also ntop_includes.h seem to missing 'ndpi_api.h' (educated guess), making other parts of the compile to fail.

[2016-03-17 07:31] lucaderi commented on #371
Fixed by https://github.com/ntop/nDPI/commit/27d09c33ce881e3104637764f63f4e87018a4866

[2016-03-17 07:31] #371 closed, assigned to ValentinaViscarelli

[2016-03-17 07:31] lucaderi commented on #385
Fixed by https://github.com/ntop/nDPI/commit/27d09c33ce881e3104637764f63f4e87018a4866

[2016-03-17 07:31] #385 closed, assigned to nobody

[2016-03-17 07:32] #450 closed, assigned to nobody

[2016-03-17 07:33] lucaderi commented on #448
@grinapo Please attach log of the issue

[2016-03-17 07:33] lucaderi commented on #451
You need to update nDPI and it will work

[2016-03-17 07:33] #451 closed, assigned to nobody

[2016-03-17 09:04] sthen commented on #398
I've got the dev code running on a modified kernel + libpcap running on my laptop and not seen a problem yet, but need to get a router running this code to give it a better workout. I'll try and do this over the next few days and let you know how it goes.

I'm going to try and get things changed re bpf_timeval in OpenBSD because this is a common problem (this all stems back to the time when libpca

[2016-03-17 10:15] maskcv commented on #447
Hi Simone

Can you please tell me how to configure properly my networks?

Thank you

[2016-03-17 11:36] simonemainardi commented on #447
[code]

where `/path/to/ntopng.conf` is the file system path to the config file you have shown above, e.g., `/etc/ntopng/ntopng.conf`

[2016-03-17 11:36] #447 closed, assigned to nobody

[2016-03-17 11:38] simonemainardi commented on #407
@ftraybird please indicate windows version

[2016-03-17 13:16] simonemainardi commented on #385
awesome, everything is now working properly, thanks @lucaderi !

[2016-03-17 13:41] iber-mi opened #452 "ntop export pcap"
There any way to export ntop Netflows connections of different interfaces to a pcap file?

[2016-03-17 16:34] simonemainardi commented on #452
I am not sure what you want to achieve. Netflow ships flow data only not packet contents, why do you want pcaps? Why don't you just use option -F to dump flows to MySQL? please explain

[2016-03-17 16:43] iber-mi commented on #452
I -F option does not work, I want a file with all connections with the plugin rrd captured several remote computers with NetFlow, and then load that file into wireshark, is that possible?

[2016-03-17 18:20] jdillard commented on #297
Getting ntopng back into FreeBSD ports is the best route. It was removed because it didn’t work with current ndpi version that ports has.

[2016-03-17 18:25] rbgarga commented on #297
Yeah, the first step is to get ntopng available on FreeBSD ports again. It was deleted from ports tree in last Feb:

https://github.com/freebsd/freebsd-ports/commit/90ba00fe27138b51500de75fe5b123f38e3cf82d

The reason it was removed is anyone worked on the port to update it to a recent version, the version that was available at that time was too old and didn't run with current ndpi version.

[2016-03-17 18:26] rbgarga commented on #297
I would be glad to help to get it committed to the FreeBSD ports tree, if anyone has a patch please contact me

[2016-03-17 22:44] lzalewsk commented on #445
I have problem to catch core dump.
From ntopng version
v.2.3.160316 [Professional Edition]
GIT rev:   dev:a102daf52fd863b3e331dac3f0a3addb1e113fce:20160316
Pro rev:   r593
System Id: 3C0E6232B206AB23
Built on:  Debian GNU/Linux 8.2 (jessie)

seems it's stable :)

[2016-03-18 00:11] grinapo commented on #451
Both were pulled before compilaton... but I'll try again...

[2016-03-18 00:17] grinapo commented on #448
Um, there is no log, I try to describe the steps.
1) install apt-ntop.deb on a Debian/sid
2) check the generated /etc/apt/sources.list.d/ntopng.list
3) it will contain 'sid' as a distribution (which is also the directory name in repo)
4) repo only contains 'jessie' and 'wheezy' directories, not 'sid'
5) thus the update, install and everything else fails with 404

+1) replacing 'sid' with 'jessie'

[2016-03-18 03:51] tinycolds opened #453 "ntopng Dropped Packets is hign"
we are capturing the flow from **em4,** it's nearly **1100Mbps**. however, the Dropped Packets is nearly **25%** and we found that the process runs on a single core(we have 24 cores), we just want the capture process runs on multi cores and it will improve the performance, is that possible?

[2016-03-18 03:53] tinycolds commented on #453
`Setting affinity of interface em4 to core 1`
can we set the interface to multi cores?
btw, the version of the code we use is the latest **dev** **branch**.
hmmm, can someone give me some suggestions how to decrease the **Dropped Packets**, thanks !

[2016-03-18 07:48] lucaderi commented on #445
@lzalewsk A floating point issue has been solved days ago. So I assume it was the same problem you reported.

[2016-03-18 07:48] #445 closed, assigned to nobody

[2016-03-18 07:51] lucaderi commented on #448
The problem is that we do not support anything but Debian 8, sorry. If you want to send me a pull request for packages build https://github.com/ntop/ntopng/tree/dev/packages feel free to do that, but we have no time to support anything but Debian 8. If you want you can compile from source.

[2016-03-18 07:51] #448 closed, assigned to nobody

[2016-03-18 07:54] lucaderi commented on #297
I have compiled ntopng under the latest FreeBSD several times. It works. I am unsure about older versions, so in essence I think we've done our homework.

[2016-03-18 08:30] lucaderi commented on #453
You need to
1. increase -x/-X
2. use RSS to create at least 2 queues
3. start ntopng over the two queues

[2016-03-18 09:07] iber-mi commented on #452
Could you tell me because it does not work?

The server cannot find the requested page (page expired or ntop configuration ?).
Received request:

"GET /historicalTalkers.html HTTP/1.1"
This feature is not YET available on your platform: we're working for you

[2016-03-18 10:24] tinycolds commented on #453
Hi, lucaderi, i tried to decrease and increase -x/-X and strangely found that **when decreasing the option, the Dropped Packets is nearly 2.83%**, very confused about the result.

[2016-03-18 10:27] lucaderi commented on #453
please post more stats about the drop/hosts/traffic rate etc

[2016-03-18 10:49] rbgarga commented on #297
OK, I'll attempt to ressurrect the port as soon as I have some spare time and will let you know the results

[2016-03-18 15:42] simonemainardi commented on #452
pcap dump is not available for collector interfaces.

Also note that:
- ntopng does not directly talk netflow, it talks to the nprobes via ZMQ
- nprobe, on turn, may talk netflow

So if you want to capture ZMQ between nprobes and ntopng you can quickly use wireshark on your own, e.g.,
if you have the following configuration:

[code]

you can just use a quick wireshark filter like the following:

[

[2016-03-18 15:42] #452 closed, assigned to nobody

[2016-03-19 09:24] lzalewsk commented on #445
Thx Luca.

[2016-03-19 10:57] madpilot78 commented on #297
Hi,

I'm a FreeBSD committer and I was also going to look at the port, on Luca's request.

I can help you and, if you get something working, I can test it and commit it to the official tree once ready.

Please keep me informed!

P.S. I just noticed you are also a committer. Anyway I can help!

[2016-03-19 11:25] whoknowz commented on #449
Doesn't fix for me. See attached screenshot.
![capture](https://cloud.githubusercontent.com/assets/7417874/13898315/255de03c-edef-11e5-81ea-5bd7dedeea9b.JPG)

[2016-03-19 11:37] lucaderi commented on #449
https://github.com/ntop/ntopng/commit/4bd964859ffca356a7d5400f17de15f378540858

[2016-03-19 15:29] madpilot78 commented on #297
I have created a fixed port based on the old deprecated one. It build and packages fine here, but I have not run tested it.

A few notes:
It's getting the 2.2 tarball from sourceforge

I've configured it to use the bundled nDPI library, since the one in ports/net/ndpi is an older version which has different defines for at least one of it's structures. We should choose if we want to keep the net/nd

[2016-03-19 20:35] DigiAngel opened #454 "Feature Request: Alert on duration"
I'd love to have an "alert on duration" feature in ntop-ng.  The use case would be to catch tcp/udp/icmp sessions/flows that may have say a trickle of data.  I'd like to be able to set a time like, say 30 minutes, to alert on in the case of a long session that may be small bits of data...this could hopefully assist with catching bad guys trying to exfiltrate data out of a network.  Thank you.

[2016-03-20 12:04] whoknowz opened #455 "Specify which networks gets history save in MySQL"
I am not sure if this is already implemented in some form, but I could use a feature for the following scenario.
We have multiple VLANs communicating with each other, specially backups.
Is there anyway to ignore certain traffic between two networks/hosts so that historical data analysis wouldn't store such large amounts of data regarding redundant and non-critical traffic.
It takes quite a while f

[2016-03-20 14:13] simonemainardi commented on #455
Presently ntopng doesn't allow to specify which networks get their history saved in MySQL.

I would recommend starting an ntopng instance with a BPF that captures the patterns of traffic you are interested to and then use -F to dump to MySQL.

So for example you can run one ntopng instance that captures everything but doesn't dump to MySQL, and another instance that captures only the patterns of i

[2016-03-20 16:21] whoknowz commented on #455
I think this should be a feature request, most of my clients wish to know who/host did what after the fact related to online behaviour, but still wish to have a realtime all seeing eye as well on entire network..

[2016-03-20 21:18] simonemainardi commented on #441
@alberk8, you also need to specify the install path when using custom installation directories (option -t):

[code]

[2016-03-20 21:18] #441 closed, assigned to nobody

[2016-03-21 03:16] tinycolds commented on #453
Dear lucaderi, so sorry for the late reply ! I dont't have access to the ntopng server these days.

Our previous ntopng.conf is`-G=/var/tmp/ntopng.pid -n=1 -P -i=em4 -m 10.0.0.0/8 -H -e daemon`

The data shown on the website is **Active Flows 89131, All hosts 25561, Dropped Packets 18%**
![4 pic](https://cloud.githubusercontent.com/assets/11733909/13909937/b0b089b6-ef55-11e5-8884-03f3e7ae7389.jpg)

[2016-03-21 07:21] lucaderi commented on #453
You need to set -X/-x to at least double the value you have. In essence I would start with -x 512000 -X 512000 and see what happens. The larger is x/X the better is the performance but slightly more memory is used/

[2016-03-21 07:57] iber-mi commented on #452
Ntopng not talk about, talk about ntop, is the title of the topic.

[2016-03-21 09:08] simonemainardi commented on #452
you already know that ntop is no longer supported: #446

[2016-03-21 09:49] tinycolds commented on #453
Dear lucaderi, following ur instruction, i start the server with `-x 512000 -X 512000.`
However, the Dropped Packets is so high and **All Hosts is 205507 Active Flows is 401260.**
So why Dropped Packets so high ?
![8 pic](https://cloud.githubusercontent.com/assets/11733909/13914866/3144f0f4-ef8c-11e5-96dc-a89528c4ffbb.jpg)

[2016-03-21 10:01] simonemainardi commented on #453
512k hosts and flows are fully occupied. Try to increase these thresholds even more.

In addition, as @lucaderi suggested, you should also use RSS to create more than one queue and then possibly bind each queue to a different cpu

[2016-03-21 10:07] ValentinaViscarelli commented on #285
Added LDAP authentication as described in requirements.

[2016-03-21 10:07] #285 closed

[2016-03-21 10:32] tinycolds commented on #453
Sincerely thanks !

[2016-03-21 12:21] lucaderi commented on #453
I think you are monitoring a large network using a default configuration. You need to do something more than simply starting ntopng. Please follow @simonemainardi advices.

[2016-03-21 12:21] #453 closed, assigned to nobody

[2016-03-22 12:49] whoknowz commented on #125
Ubiquiti implemented the above nicely in their firmware version 1.8.0 for EdgeMax routers, with the help of nDPI I assume..

[2016-03-22 12:59] skendric opened #456 "'Script "crsf" returned an error' when saving license file"
Generating an ntopng Pro version license appears to succeed.  But saving that license produces the error message:
     Script "crsf" returned an error

Manually creating the license and restarting ntopng produces the following messages:

Mar 22 05:48:07 ganesh logger: ntopng start
Mar 22 05:48:07 ganesh ntopng: [NtopPro.cpp:158] ERROR: [LICENSE] Invalid or mis
sing ntopng License [License mismatch

[2016-03-22 13:59] lucaderi commented on #456
@skendric This happens when the crsf-protected page has been open for a while. Example you open the page with the form, do something else, then click on the page after 5/10 mins. This is a protection mechanism. In order to avoid it, please reload the page, try again an it will work.

[2016-03-22 20:41] simonemainardi commented on #314
fixed in 417e909

[2016-03-22 20:41] #314 closed

[2016-03-23 00:03] #391 closed, assigned to nobody

[2016-03-23 06:44] lucaderi commented on #391
@simonemainardi Is tre manual updated with the change you have implemented?

[2016-03-23 09:30] simonemainardi commented on #391
I updated the inline help with examples but not the manual

https://github.com/simonemainardi/ntopng/commit/b6eb2bc36c0c1a51a58dcb7031f8a958f3136663#diff-31ebf7cc04d6eef2420ff06d32158cbbR182

[2016-03-23 17:26] skendric commented on #456
OK, I quit my browser, open it again, return to About ntopng, and see my license key displayed prominently.  I click Save License and indeed, no error message.

However.

I don't see an /etc/ntopng.license file and reloading ntopng leads to the same 'Invalid or missing ntopng license' message in syslog.

Running "strace ntopng --check-license", I see:
stat("/etc/ntopng.license", 0x7ffcc2401e70) =

[2016-03-23 17:57] lucaderi commented on #456
ntopng.license is created only by command line. The license you add via GUI is just put on redis (so make sure you do not reset it or you will loose your license).

[2016-03-23 23:20] skendric commented on #456
I see, so there are (2) places to store the license:
- /etc/ntopng
- redis

Examining the strace output I posted, I would suggest that I have stored the license in *both* places.

I remain puzzled, though, as to why "ntopng --check-license" continues to return "Demo mode license" rather than "Professional" or similar.  And why ntopng's start-up routines log "Invalid or missing ntopng license file"

[2016-03-23 23:21] skendric commented on #456
Or
(c) I have fumbled installing the license in redis or in /etc/ntopng.license in some fashion

[2016-03-23 23:22] skendric commented on #456
I see, so there are (2) places to store the license:

[code]

Examining the strace output I posted, I would suggest that I have stored the license in both places.

I remain puzzled, though, as to why "ntopng --check-license" continues to return "Demo mode license" rather than "Professional" or similar. And why ntopng's start-up routines log "Invalid or missing ntopng license file", when in fact th

[2016-03-24 10:37] lucaderi commented on #456
@skendric Can you please post your ntopng's systemId and license you use?

[2016-03-24 12:04] ileshenko opened #457 "Can I send CFLOW directly to ntopng?"
Hi,
My project is - router's DPI with L7 recognition. Router's software  #determines L7 protocol (number and name) and sends CFLOW packets. I want to display results using nTopng.

The problem, that if I pass CFLOW traffic through nprobe, nprobe ignores received L7 fields and sends to ntopng L7_PROTO:0 L7_PROTO_NAME:Unknown.

I use nprobe only for translation from udp CFLOW to tcp nropng  protocol

[2016-03-24 12:18] sdkjain opened #458 "ntopng build failure on windows"
Hi,

I tried to build ntoNg code and Ndpi code on Windows 10. I am getting below error respectively:

NtopNG build faiilure is below:
_$ ./autogen.sh
Wait please...
Can't locate Autom4te/ChannelDefs.pm in @INC (you may need to install the Autom4                                                                                                    te::ChannelDefs module) (@INC contains: C:/PROGRA~2/Gnu

[2016-03-24 12:54] skendric commented on #456
System ID:  B6B0840C000207D0
License:  31AA49967C5FF2826CB089411422EE6B1490015319F4F43C99

[2016-03-24 13:18] lucaderi commented on #456
I see the problem. You have generated the license for an invalid systemId and thus it does not work. Please use 512ED18FAAEEC0AFFE0D9DD0BB9229C71490361474996BD94A and it will work.

[2016-03-24 13:18] #456 closed, assigned to nobody

[2016-03-24 13:43] lucaderi commented on #457
This is not possible as we have decided not to support NetFlow natively in ntopng (yet). Please see http://www.ntop.org/nprobe/advanced-flow-collection-with-ntopng-and-nprobe/

[2016-03-24 13:43] #457 closed, assigned to nobody

[2016-03-24 14:20] ileshenko commented on #457
Ok!
Is it possible to display report from my own DPI tool? I have no problems to use nprobe, in case it forwards received application ID&Name.

[2016-03-24 22:17] lucaderi commented on #458
I have never compiled ntopng using the GNU tools for Windows. I use .NET and it works for me. If you happen to make it work with GNU tools and you want to share a patch I would be glad to evaluate it.

[2016-03-24 22:17] #458 closed, assigned to nobody

[2016-03-24 22:21] lucaderi commented on #435
@tpavlin I close this issue for inactivity. When will you be able to share a pcap we'll reopen it

[2016-03-24 22:21] #435 closed, assigned to lucaderi

[2016-03-24 22:21] lucaderi commented on #367
@simonemainardi Any progress?

[2016-03-25 16:21] gijs007 opened #460 "Talkers and protocols not saved to MySQL"
I've setup ntopng community edition on Windows and it's outputting data to MySQL.
I've launched it with the command: -F "mysql;localhost;ntopng;flows;username;password"

I'm looking at the history of an interface and the chart table works fine, however the talkers and procols table result in "No Results Found"

I've also seen some screenshots of people that have a different tab for ipv4 and ipv6 f

[2016-03-25 16:27] simonemainardi commented on #460
look at the ntopng log or console output and see if there is any MySQL error. Post full ntopng configuration and make sure MySQL used specified inside -F has privileges to create and write on a databasenamed ntopng.

[2016-03-25 16:43] gijs007 commented on #460
I haven't done any configuration besides the command line for MySQL. In the preferences section on the "website" I made a few minor changes. (increasing the number of days for raw data to be saved, enabled nDPI RRD's for local hosts and networks)

I've attached the console output:
[log.txt](https://github.com/ntop/ntopng/files/189745/log.txt)

The user has all rights for the database that was crea

[2016-03-25 18:59] #460 closed, assigned to nobody

[2016-03-25 19:00] simonemainardi commented on #460
Hi, I've made a fix. I think your issue is due to the fancy interface names. Fix will be available in the next windows build.

[2016-03-26 09:08] lucaderi commented on #457
nProbe or ntopng can do that of course.

[2016-03-27 13:00] ileshenko commented on #457
Thanks!
What field should I use in my report, in order to inform nprobe, that application is, for example "dropbox"?

[2016-03-28 06:05] sdkjain commented on #458
Hi Luca,

Thanks for the update on the issue. Could you please let me know the build steps using .Net as I didnt found that anywhere?

Thanks,
Sourabh.

[2016-03-28 07:33] lucaderi commented on #458
@sdkjain You need to create a .net project on your PC, add all the dependencies (nDPI etc) and compile it. it's time consuming so you better use our binary packages unless you know how to do it.

[2016-03-28 08:42] sdkjain commented on #458
I am interested in contributing to the project so I want to understand the windows code and build stuffs.
It would be great help if u can share me the steps for the same.
I will be preparing a doc/readme and contribute here as well.

[2016-03-28 08:49] lucaderi commented on #458
Please move to Linux/OSX, contribute and then we'll periodically port it to windows. Doing it natively on Windows is time consuming for us.

[2016-03-28 11:32] lucaderi commented on #457
in nProbe you need to use %L7_PROTO

[2016-03-29 02:42] WarrenOpus opened #461 "ntopng not showing historical data"
ntopng Professional v.2.2.160326

ntopng.conf contains:
-i=tcp://127.0.0.1:5555
-i=tcp://127.0.0.1:5556
-i=tcp://127.0.0.1:5557
-i=tcp://127.0.0.1:5558
-i=tcp://127.0.0.1:5560
-i=tcp://127.0.0.1:5561
-i=tcp://127.0.0.1:5563
-i=tcp://127.0.0.1:5564
-i=tcp://127.0.0.1:5565
-i=tcp://127.0.0.1:5566
-F=mysql;localhost;ntopng;flows;x;x

nprobes are working and feeding the frontend correctly.

However, w

[2016-03-29 16:57] lucaderi commented on #398
Closing for inactivity. Shall you have news please contact us

[2016-03-29 16:57] #398 closed, assigned to nobody

[2016-03-29 17:01] lucaderi commented on #295
@ValentinaViscarelli Any news?

[2016-03-30 07:21] johanteekens opened #462 "Don't seem to receive timestamps in nprobe from Cisco ASA 5510 netflow"
- My setup: Cisco ASA 5510 sending netflow to a Centos Linux machine according to https://supportforums.cisco.com/document/30476/configuring-netflow-asa-asdm
- Setup ntopng according to http://packages.ntop.org/centos/
- I’ve set my Cisco asa to send a template every 5 minutes.
- I’m running nprobe and ntopng on the Centos Linux machine
- I’ve setup ntp to make sure both systems have the same time

[2016-03-30 07:28] lucaderi commented on #462
@johanteekens please send deri@ntop.org and mainardi@ntop.org the pcap for debugging.

[2016-03-30 14:50] simonemainardi commented on #461
please, update to the latest ntopng dev version and give feedback. thank you.

[2016-03-31 03:02] WarrenOpus commented on #461
Hi,
Some what apprehensive moving to dev on a production monitoring system.
I moved to dev to get SQL history working... and now nprobe won't start.
*
*_[1]+  Segmentation fault \*    (core dumped) nprobe --zmq tcp://_:5559
-n none -n none --collector-port 2059

:(

##

Warren Daly
Chief Technical Officer
+855 (0) 89 288 107 Skype: warrendaly

OPUS
+855 (0) 23 987 014
www.opus.com.kh
Suite 3FN1 -

[2016-03-31 06:39] lucaderi opened #463 "Add ELK flow drops"
Please add traces for flow drops when importing them in ELK, similar to what happens on nProbe

[2016-03-31 07:11] lucaderi commented on #461
@WarrenOpus Can you please report nprobe --version? @ValentinaViscarelli Can you please try to reproduce the bug?

[2016-03-31 07:16] lucaderi opened #464 "Wrong flows sort"
In ntopng if you go to /lua/flows_stats.lua and click on the Info column, the sort is not global but per page. If you click on page 2, you will see that page 2 is sorted, but not a global sort just per page sort.  I believe the bug in sin flow_search_walker() inside NetworkInterface.cpp

[2016-03-31 07:33] ValentinaViscarelli commented on #461
@WarrenOpus
The command you use to run is wrong. you are using twice -n option and you are not using -i option.
Please use this command:
nprobe --zmq tcp://*:5559 -i none -n none --collector-port 2059

[2016-03-31 12:47] chigurupati opened #465 "ntopng warning and no traffic is seen on ntop web ui"
Hello,

I am running my nprobe and ntopng on 2 different terminals of my raspberry pi 2.

**my commands:**
on terminal 1: nprobe --zmq "tcp://127.0.0.1:5556" -i eth0 -n none -b 1
on terminal 2: ntopng -i tcp://127.0.0.1:5556

On ntopng side, I get the following warning and no traffic captured on ntop web ui.
WARNING: Invalid message received: your nProbe sender is outdated or invalid JSON?

Please

[2016-03-31 12:49] chigurupati commented on #465
My nprobe logs:

nprobe --zmq "tcp://127.0.0.1:5556" -i eth0 -n none -b 1
31/Mar/2016 12:42:06 [nprobe.c:3263] ERROR: Invalid nProbe license (/etc/nprobe.license) [Missing license file]
31/Mar/2016 12:42:06 [nprobe.c:3270] ERROR: *****************************************************
31/Mar/2016 12:42:06 [nprobe.c:3271] ERROR: *\*                                                 **
31/Mar/2016 12:42

[2016-03-31 15:16] simonemainardi commented on #465
issue is reproducible with

[code]

but everything works smoothly if flows are collected with

[code]

@lucaderi should we first make a new RPI build before deepening the inspection?

[2016-03-31 15:22] lucaderi commented on #465
@simonemainardi Ok will do

[2016-03-31 15:22] simonemainardi commented on #465
thank you

[2016-03-31 16:39] lucaderi commented on #465
New packages have been uploaded. @chigurupati Please check

[2016-03-31 17:50] simonemainardi commented on #465
thanks @lucaderi , I confirm the latest RPI build is no longer affected by the bug.

[2016-03-31 17:50] #465 closed, assigned to simonemainardi

[2016-03-31 19:10] simone-unipi opened #466 "Per VLAN traffic graph"
In a multi-VLAN environment would be nice to have a report that shows aggregated traffic per VLAN.
Something like the "application" report (with all the VLANs displayed), but also per single VLAN.

[2016-03-31 20:50] lucaderi commented on #466
@simonemainardi In essence we need to implement RRDs per VLAN.

[2016-03-31 21:30] anthraxau opened #467 "No host traffic policies"
Hello,

I am running a windows server 2008 x64 with ntopng on it, i am trying to deploy ntopng as a Inline Network Traffic Policer between one of our gateway firewalls and the internal network.

I have the pro edition and the windows machine has one interface from firewall. and one interface to the lan. It is currently setup in windows for those interfaces to be bridged.

Is that an incorrect way

[2016-03-31 23:58] anthraxau commented on #467
sorry abit more information.
When selecting a host in the ntopng web gui no traffic policies buttons are their. the whole line is removed.

[2016-04-01 06:30] lucaderi commented on #467
Policies are available only for local hosts. Use -m to add networks

[2016-04-01 09:34] anthraxau commented on #467
the subnet on the lan interface is the only hosts we want to place policies on. i will try -m out.

Thanks mate

[2016-04-01 09:45] anthraxau commented on #467
i added -m to the ntopng service start parameters but there was no change. i also cant find a CLi for ntopng. what is the correct way to do this in a windows environment?

[2016-04-01 10:04] lucaderi commented on #467
Sorry I have not realised you were using Windows. At the moment bridging is Linux only but we can port it to Windows. How did you start ntopng exactly?

[2016-04-01 10:48] chigurupati commented on #465
@simonemainardi and @lucaderi , I can see the latest package but then I try to install, there are some unmet dependencies. check the below logs.

apt-get install ntopng

---

Reading package lists... Done
Building dependency tree
Reading state information... Done
You might want to run 'apt-get -f install' to correct these:
The following packages have unmet dependencies:
 console-setup : Depends: k

[2016-04-01 11:35] anthraxau commented on #467
Oh thats a bummer. We really need ntopng to work in bridged mode.
ntopng is running the default config that it installed with and is started as a windows service.

[2016-04-01 11:38] anthraxau commented on #467
I just noticed my work email that you sent me earlier. can we talk on here rather than use email support as i cant access that email domain from home. email was to d.carpenter.

[2016-04-01 12:59] chigurupati opened #468 "Problem installing ntopng (2.3.160331). unmet dependencies - for keyboard-configuration"
Hello

@simonemainardi and @lucaderi , I can see the latest package (2.3.160331) but then I try to install, there are some unmet dependencies. check the below logs.

apt-get install ntopng

Reading package lists... Done
Building dependency tree

Reading state information... Done
You might want to run 'apt-get -f install' to correct these:
The following packages have unmet dependencies:
console-set

[2016-04-01 13:01] simonemainardi commented on #465
did you run apt-get update first?

[2016-04-01 13:03] chigurupati commented on #465
Hello,

Yes I did:
1: apt-get update
2: apt-get upgrade

[2016-04-01 14:16] chigurupati commented on #465
Hello,

The issue is solved. I had to completely uninstall previous version with all its dependencies. and freshly install the latest package.
Thanks
Amar.

[2016-04-01 14:17] chigurupati commented on #468
Hello,

The issue is solved. I had to completely uninstall previous version with all its dependencies. and freshly install the latest package. you can close it.

Thanks
Amar.

[2016-04-01 14:51] wmorgan1 opened #469 "LUA script failure - not enough memory"
Hello!

My university currently has ntopng and nprobe set up on a server with 24 cores and 48 GB of ram, with a passive 10Gb/s link monitoring all internet traffic. We have standard licenses for both nprobe and ntopng.

We have set nprobe to export data to ntopng, which then exports the data to ES.

Ntopng is shutting down after only a few minutes of uptime. The "systemctl status ntopng" command s

[2016-04-01 14:55] simonemainardi commented on #469
please report ntopng version

[2016-04-01 14:56] #468 closed, assigned to nobody

[2016-04-01 15:00] wmorgan1 commented on #469
Sorry!
[root@xxxxx ntopng]# ntopng -V
v.2.2.160323 [Professional Edition]
GIT rev:   2.2-stable:06306079a9f31f95143756e855b99ac968415763:20160323
Pro rev:   r524
System Id: xxxxxxx
Built on:  CentOS Linux release 7.1.1503 (Core)

[root@xxxx bin]# ./nprobe -v

Welcome to nProbe v.7.2.160323 (r4473) for x86_64-unknown-linux-gnu
with native PF_RING acceleration.
Copyright 2002-15 ntop.org

Build OS:

[2016-04-01 15:12] simonemainardi commented on #464
It looks like this is also true for other columns as well (e.g., column_server) and only when sorting flows.

C sort seems OK but the order is not preserved when pushing data in the lua table. Here is some output with column_server:

[code]

[2016-04-01 15:15] simonemainardi commented on #469
this is a duplicate of https://github.com/ntop/ntopng/issues/26

please update to the latest dev version. Memory has been optimized.

[2016-04-01 15:15] #469 closed, assigned to nobody

[2016-04-01 16:19] simonemainardi opened #470 "No ZMQ interface speed detected"
MikroTik is sending netflow to nprobe port 2055

[code]

host + flows + protocols data is shown but not interface aggregated traffic:

![image](https://cloud.githubusercontent.com/assets/3397663/14213028/054e0226-f836-11e5-9abf-e299546c9518.png)

![image](https://cloud.githubusercontent.com/assets/3397663/14213034/11353ac8-f836-11e5-9b89-7f1f70bd2c15.png)

![image](https://cloud.githubusercontent.

[2016-04-01 18:11] simonemainardi commented on #464
I guess the explanation is that it is not guaranteed that lua table entries are returned in the same order of insertion:

http://www.lua.org/pil/7.3.html

[code]

[2016-04-02 19:04] Artapel opened #472 "Cannot log into new install of Ntopng"
Hi Guys.

Hope you can help me out on this one.

 the default user and password are admin is not working for me.
It does not say "Incorrect Password" or any other error/notification, it just refreshes the screen as if i did not type any and credentials yet.

I`ve installed a community copy of ntopng on my CentOS 7 Virtual Container.

Installation instructions was used from this source
http://packa

[2016-04-04 13:01] narankhetani opened #473 "10GB interface seen as 1GB using zbalance pfring"
noticed that ntopng see’s the interface as a 1gb and not 10gb see attached below:
set to 10GB
![screen shot 2016-04-04 at 11 14 15 am](https://cloud.githubusercontent.com/assets/5029683/14248615/6b0ce490-fa6d-11e5-9d01-425a19de0dfc.JPG)

and as you can see its seen as a 1GB interface which messes with the graphing and not sure if it causes any limitations?:
![screen shot 2016-04-04 at 11 13 59 am]

[2016-04-04 14:05] simonemainardi commented on #461
@WarrenOpus any news?

[2016-04-04 22:23] skendric opened #474 "Propose setting interface speed with ntopng command-line parameter"
BACKGROUND
Interface speed is chosen by querying the ntopng host's NIC.  However, this is not necessarily accurate when ntopng is pulling flow traffic from an nProbe via zmq.  As a work-around, we can set interface speed by clicking on the traffic gauge and typing into the "Interface Speed (Mbit)" box.

For a large number of interfaces, this manual approach becomes tedious & error-prone.

PROPOSE

[2016-04-05 06:20] lucaderi commented on #473
@narankhetani At the moment tehere is no way for us to know the interface speed via ZC.

[2016-04-05 06:27] lucaderi opened #475 "Report ELK Flow drops"
Add per-interface ELK flow stats (both drops and errors) so that we can report if ELK is becoming a bottleneck.

[2016-04-05 06:30] lucaderi opened #476 "n2disk integration in ntopng"
ntopng has the ability to integrate with n2disk/nbox, however it is not yet able to instruct n2disk to dump packets on demand (e.g. per host). Instead packet dump happens still with within ntopng at "low rate". ntopng should instrument n2disk to dump selected traffic based on filtering rules set by ntopng via REST API.

[2016-04-05 07:02] airtwist1 opened #477 "After update > Dashboard is not accessible anymore"
Hi,

we updated our Server with apt-get update & upgrade, after that, the fancy Dashboard of ntop is not starting anymore. Only the old Dashboard with the "Top Talkers Flow" is accessible and we are always redirected to that Dashboard by that link http://192.168.XX.XX:3000/lua/index.lua

Also the Reports are not shown under the Home folder.

The Machine is a VM:
Ubuntu 14.04.3 LTS \n \l

root@fn-n

[2016-04-05 08:05] simonemainardi commented on #477
Check ntopng log output. If it complains about an invalid license, it means that the hardware seen has changed (VM updates?). If this is the case try to execute ntopng with `--online-license-check`

[2016-04-05 08:07] simonemainardi commented on #472
Is there any relevant information (e.g., errors / warnings) in the ntopng log file?

[2016-04-05 10:42] airtwist1 commented on #477
Well, the license is valid, but in nbox it says, that the license cannot be found .....
also my nprobe license cannot be found.

here is the ntop log:

04/Apr/2016 16:52:52    Setting affinity of interface tcp://127.0.0.1:5556 to core 1
04/Apr/2016 16:52:52    Started packet polling on interface tcp://127.0.0.1:5556 [id: 3]...
04/Apr/2016 16:52:53    Collecting flows on tcp://127.0.0.1:5556 [ntopn

[2016-04-05 12:01] inetactief commented on #470
We update our versions:
nprobe 7.3.160405-4999
ntopng 2.3.160405-1037
And do sudo systemctl restart ntopng and start again : nprobe --zmq "tcp://*:5556" -i none -n none --collector-port 2055
But same problem!

[2016-04-05 12:35] ValentinaViscarelli commented on #477
Please contact me by email (valentina@ntop.org) and send me the output of following commands:
- ntopng --version
- ntopng --check-license
- cat /etc/ntopng.license
- echo "get ntopng.license" | redis-cli

[2016-04-05 14:23] emory commented on #310
I just did a fresh install last night using the documentation on the ntop website and I'm seeing the same error (second one) as the initial requester.

If the message is benign I'm happy to ignore it, but am admittedly not clear on the package and platform identification ramifications of this package.

[2016-04-05 23:32] #464 closed, assigned to simonemainardi

[2016-04-06 07:16] alberk8 opened #478 "Enhancement: Reconnect back to mysql"
Hi,

I would be nice to have the running ntopng instance reconnect back to a downed or restarted mysql database.  At the moment, if mysql is restarted or stop-start, ntopng will not be logging to the db until ntopng is restarted.  log error in the ntopng.log file and syslog.

Apr  6 09:27:38 Ubuntu-15.10 ntopng: [MySQLDB.cpp:380] ERROR: MySQL error: [MySQL server has gone away][INSERT INTO `flowsv

[2016-04-06 23:15] lucaderi commented on #462
@johanteekens I have looked at your problem. The flows ASA generate do not have both the start and the end time (they look like flows but are not properly exported)
![screen shot 2016-04-07 at 01 10 04](https://cloud.githubusercontent.com/assets/4493366/14335686/8108a986-fc5d-11e5-8771-4f08dabd20f2.png)

This means that the only thing nprobe can do is to assume that the flow has lasted just the ti

[2016-04-06 23:15] #462 closed, assigned to simonemainardi

[2016-04-07 07:40] simonemainardi commented on #470
@inetactief can you bind your nProbe to a public address so I can use a remote ntopng to debug?

thank you

[2016-04-07 07:44] inetactief commented on #470
Yes, let me know what i must do..

[2016-04-07 07:53] simonemainardi commented on #470
just make sure
- the nProbe host is reachable from a public IP address
- the nProbe process is bound to that public IP address

say for example public ip is x.y.z.w, you can do `nprobe --zmq "tcp://*:5556" -i none -n none --collector-port 2055` and from remote I can do

[code]

[2016-04-07 07:55] lucaderi commented on #470
Sorry @simonemainardi the answer is not correct. The speed cannot be detected as nprobe is NOT capturing from a physical device but ti is used as collector (i.e. the mikrotik does not advertise the speed). So this is not a bug but a limitation of the sender

[2016-04-07 07:55] #470 closed, assigned to nobody

[2016-04-07 07:59] simonemainardi commented on #478
Can you please try and update to the latest nighly build. We have already introduced mysql reconnections. Please let me now.

[2016-04-07 09:05] simonemainardi commented on #472
@Artapel any news?

[2016-04-07 09:07] simonemainardi commented on #461
Solution proposed. No feedback given. closing for inactivity.

[2016-04-07 09:07] #461 closed, assigned to ValentinaViscarelli

[2016-04-07 09:08] Artapel commented on #472
Hi

Yes Im just looking for the Ntop Log.

Can you help me out by giving me the location of the log file?

Regards
[Corne Kruger]

From: simonemainardi [mailto:notifications@github.com]
Sent: 07 April 2016 11:06 AM
To: ntop/ntopng
Cc: Corne Kruger
Subject: Re: [ntop/ntopng] Cannot log into new install of Ntopng (#472)

@Artapelhttps://github.com/Artapel any news?

—
You are receiving this because

[2016-04-07 09:09] simonemainardi commented on #407
Closing for inactivity. No feedback received. If the issue is not solved please re-open another issue with the above information.

[2016-04-07 09:09] #407 closed, assigned to nobody

[2016-04-07 09:09] WarrenOpus commented on #461
Rolled back to stable version. We can't upgrade to dev on a live production environment. Sorry.

[2016-04-07 09:12] simonemainardi commented on #472
look in `/var/log/ntopng`

[2016-04-07 12:38] cobrafast opened #479 "Cannot login anymore."
Attempting to login with valid credentials fails with

[code]

the behaviour or error message does not change after a `redis-cli flushall`. Even the shown session ID remains identical.

Version: 2.2+dfsg1-2 (debian/sid)
Kernel: 4.3.3-7 x86_64

[2016-04-07 20:23] gonzopancho commented on #297
getting that to garga@ will result in a lot more chance of it going directly into pfsense.

[2016-04-07 21:05] ValentinaViscarelli commented on #477
Resolved using --online-license-check

[2016-04-07 21:05] #477 closed, assigned to ValentinaViscarelli

[2016-04-08 10:58] iber-mi opened #480 "ntop - Top talkers Historical"
Hi, I am using ntop because ntopng can not use it for debian 7 and can not upgrade to 8 drop other services. I would like to know how to activate the Top Talkers> Historical, because right now does not work when I select this option, that way you can do? Deputy image.

![top talkers-historcal](https://cloud.githubusercontent.com/assets/17645260/14381825/97d784ca-fd89-11e5-894b-61ff58070f23.png)

[2016-04-08 12:06] narankhetani opened #481 "lossing ntopng data on reboot or service restart"
Hello,

So it seems when the server restarts or the ntopng service is restarted all the collected flow data is reset on the UI, is there anyway for us to ensure its retained?

[2016-04-08 14:10] simonemainardi commented on #480
ntop is no longer supported.

https://github.com/ntop/ntopng/issues/452
https://github.com/ntop/ntopng/issues/446
https://github.com/ntop/ntopng/issues/144

[2016-04-08 14:10] #480 closed, assigned to nobody

[2016-04-08 15:07] simonemainardi commented on #481
hello @narankhetani

ntopng keeps live flows directly in memory. Since flows are usually short lived entities, we didn't include any serialization mechanism to dump and reload _active_ flows on ntopng restart. Indeed, a flow that is currently active, will be very likely expired by the time you have rebooted the system. Hence, serialization would be of little help.

Serialization/deserialization is

[2016-04-08 15:12] simonemainardi commented on #479
when did the error start showing up? Did you update something?

[2016-04-08 15:13] cobrafast commented on #479
That's hard for me to tell as I hadn't used ntopng in a while and several updates were done meanwhile.

[2016-04-08 15:20] simonemainardi commented on #479
so I think we should try and start with a clean install. Use apt to completely remove ntopng and make sure no ntopng process is active. Then

[code]

start ntopng and try again.

You can also try the following to reset the admin password:

[code]

[2016-04-08 15:25] cobrafast commented on #479
Okay, I did all this. Nothing changed.

[2016-04-08 15:28] simonemainardi commented on #479
please, paste full ntopng log

[2016-04-08 15:31] cobrafast commented on #479
http://pastebin.com/H0MzXEzs

[2016-04-08 16:39] narankhetani commented on #481
Hi @simonemainardi ,

Thanks for the information, however I would like to retain at least 30 days worth of data what would you suggest our data rate is about 2.9Gbps.

[2016-04-08 21:09] simonemainardi commented on #481
I think yours is a very interesting problem to solve. To be honest I don't have a recipe to retain 30 day of flows generated at 2.9Gbps. I mean, even if you find a way to dump flows at that speed, search and indexing will become far too slow to be usable.

Just a couple of ideas that I would consider:
- An hadoop cluster with: kafka --> spark --> hbase / cassandra
- A Mysql cluster with a sharded

[2016-04-09 06:58] lucaderi commented on #481
@narankhetani We have plans to adapt the indexing system we have developed for n2disk from packets, to flows. It's months we're working at this. I personally do not believe in big data/big databases (just the idea of serialising in JSON and pushing data out in HTTP is insane per-se) as while they solve the problem, they introduce new problems due to the increased complexity of the system and the n

[2016-04-09 08:10] lucaderi commented on #463
@ValentinaViscarelli Please note that if you parse the HTTP response (from ELK) you have a report about flows now imported for various errors. Instead for ELK export, we need to back port the code from nprobe where we keep a linked list of messages instead of using redis. When the list is too long we count flow export drops (actually we could to be smarter and avoid exporting flows at all to ELK i

[2016-04-09 19:16] simonemainardi commented on #481
Big data ecosystems have been designed with the aim of being very scalable horizontally. To scale horizontally you are forced to use well-known protocols in order to ensure maximum interoperability between heterogeneous systems. To me this is the reason behind the big-data engineers common choice of using JSON and HTTP.  We know that JSON is not the best format but it is becoming a de-facto standa

[2016-04-10 16:57] numeronove commented on #297
I have built ntopng 2.2 on OpenBSD 5.9, where thanks to the `divert-packet` action, one could feed ntopng to do some serious traffic shaping, by leveraging nDPI capabilities.

Now here is what I'm missing: _how does ntopng mark packets_ in order for pf ( packet filter ) to do its traffic shaper job?

I guess that ntopng implements some queueing mechanism, and feeds back packets to the firewall at

[2016-04-10 17:07] lucaderi commented on #297
@numeronove You need to use the 2.3 code for latest changes. What we do is mark traffic with the nDPI protocol ID but this is not probably what people need/want. In essence we need your feedback on this so that we can complete the development (unless somebody wants to contribute)

[2016-04-10 20:20] numeronove commented on #297
@lucaderi I gave a look to **DivertInterface.cpp**, to find how ntopng sends back packets: it calls `sendto()` in the same way as the OpenBSD [divert(4)](http://man.openbsd.org/OpenBSD-current/man4/divert.4) man page sample program does.

Just a few lines before it calls `dissectPacket()`, where the last argument is a pointer to nDPI protocol number, defined in **ndpi_protocol_ids.h**. That protoc

[2016-04-10 20:55] lucaderi commented on #297
I am not familiar with OpenBSD. I have tested it on FreeBSD and it works as expected. The point is that you cannot set a queue per nDPI protocolID but the configuration must be simpler IMHO, and this is where I need input.

[2016-04-10 21:39] numeronove commented on #297
The two of them, FreeBSD ipfw and OpenBSD pf, are quite different.
In pfSense the main firewall is [pf(4)](https://www.freebsd.org/cgi/man.cgi?query=pf&sektion=4&apropos=0&manpath=FreeBSD+10.3-RELEASE), while [ipfw(4)](https://www.freebsd.org/cgi/man.cgi?query=ipfw&apropos=0&sektion=0&manpath=FreeBSD+10.3-RELEASE&arch=default&format=html) is used with [dummynet(4)](https://www.freebsd.org/cgi/man.

[2016-04-11 08:18] narankhetani commented on #481
Hi All,

Thanks for the thoughts I like the read of Fastbit, do you have any idea on
timelines?

On Sat, 9 Apr 2016 at 20:16 simonemainardi notifications@github.com wrote:

[2016-04-11 11:06] iber-mi commented on #480
And explain why I can not use ntopng, if you did nProbe for Debian 7 x64 would not have these problems ... the only thing I ask is if you could show me this option by adding some kind of quick parameter, I ask nothing more, maybe it's something easy that I you know that answer without giving rodeos that is no longer supported, thanks.

[2016-04-11 11:36] jbeney opened #482 "NTOP feature request / Keep host timestamp when changing section"
Hello,

Currently on NTOP, we can see the realtime peers of a specific host.
We would like to generate a report for a specific host and a specific timeframe containing the top peers. Is it possible to do it, and if not could it be included in a future release ?

Thanks !

Jonathan

![report](https://cloud.githubusercontent.com/assets/18396402/14425827/6af26f3e-ffea-11e5-946b-1bf59eb414b1.jpg)

[2016-04-11 13:14] simonemainardi commented on #482
if you enable MySQL export, then (in the pro version) you can drill down and obtain the top talkers for any period of time. See this http://www.ntop.org/ntopng/exploring-historical-data-using-ntopng-part-2/

[2016-04-11 13:17] simonemainardi commented on #480
explanation was given here: https://github.com/ntop/ntopng/issues/144

[2016-04-11 14:26] iber-mi commented on #480
Explanation? That ?, I'm asking to see the Top Talkers> Historical and there is no explanation for this, as indicated by the title of the issue, I do not understand your answer.

[2016-04-11 14:36] jbeney commented on #482
Hi Simone,

Yes I enabled Mysql and have a pro version but I still don't have the top talkers
Any thing else to do ? Thanks

![report2](https://cloud.githubusercontent.com/assets/18396402/14430889/8bf96a7a-0003-11e6-8503-8e4a5a70fc9b.jpg)

[2016-04-11 14:47] simonemainardi commented on #480
you said '_And explain why I can not use ntopng_': @lucaderi gave you the explanation in #144

[2016-04-11 14:49] simonemainardi commented on #482
you should use version >= 2.3.x please upgrade to the nightly builds

[2016-04-11 14:54] hemskgren opened #483 "multipel interface issue"
Hi

I have the following in ntopng.conf running 2.3.160408 - Community Edition.
#

--interface=tcp://127.0.0.1:5556(shared),
--interface=tcp://127.0.0.1:55005(1-px-pe01-wan),
--interface=tcp://127.0.0.1:55006(2-px-pe02-wan),
--interface=tcp://127.0.0.1:55007(1-p0-pe01),
--interface=tcp://127.0.0.1:55008(2-p0-pe02),
--interface=tcp://127.0.0.1:55009(1-p1-pe01),
--interface=tcp://127.0.0.1:55010(2-p

[2016-04-11 14:57] jbeney commented on #482
OK I will do that, do you have a procedure to upgrade from 2.2 to 2.3?
Thanks

[2016-04-11 14:59] simonemainardi commented on #482
see here http://packages.ntop.org/

[2016-04-11 15:05] simonemainardi commented on #483
make sure there is an nProbe exporting flows (`nprobe --zmq tcp://127.0.0.1:55013`) on localhost port 55013

[2016-04-11 15:08] fi-ro opened #484 "segfault"
Hi,

My ntopng process just crashed with a segfault:

`nprobe1 kernel: [278184.943142] ntopng[9241]: segfault at 7f8f00000000 ip 00007f901aaf1aea sp 00007f8ff7ffe5d8 error 4 in libc-2.19.so[7f901aa69000+1bb000]`

[code]

If there are any more information needed, just let me know.

[2016-04-11 15:09] lucaderi commented on #484
Please send us a tar file containing both the core dump and the ntopng binary

[2016-04-11 15:13] simonemainardi commented on #479
The log file attached does not have the errors you shown in the first post. It looks ok.

[2016-04-11 15:16] hemskgren commented on #483
Hi

The flow tab works and show the traffic.
The reported stuff do not work for me with multiple interface with , after each.

Regards
Christer

[2016-04-11 15:22] fi-ro commented on #484
Here you go
Tar is not allowed by github :/
[ntopng_segfault.zip](https://github.com/ntop/ntopng/files/213280/ntopng_segfault.zip)

[2016-04-11 15:48] jbeney commented on #482
Hi, I did the upgrade with the stable release (I don't want to install a non stable release as our customer is already using ntop).

I'm now in version 2.2.160409 but I still don't see the top talkers.

![report3](https://cloud.githubusercontent.com/assets/18396402/14433153/710a0fee-000d-11e6-9f87-efdafc780088.jpg)

[2016-04-11 15:50] simonemainardi commented on #482
historical top talkers have been introduced in 2.3, they are not available in 2.2. Please hold on, 2.3 stable will be released shortly.

[2016-04-11 15:50] #482 closed, assigned to nobody

[2016-04-11 15:52] cobrafast commented on #479
Sorry, verbose isn't activated by default and I didn't check.

Here is a new log with verbose option activated: http://pastebin.com/SRUCbHXi

Line 698 is where my error message is at.

[2016-04-11 15:53] jbeney commented on #482
ok thanks for your help !!

[2016-04-11 16:11] iber-mi commented on #480
I can not use nprobe, so I do not use ntopng, now I just need the Top Talkers> Historical functioning me, it is not difficult to understand.

[2016-04-11 16:27] simonemainardi commented on #480
This is community support. As already discussed, we have limited resources and we are unable to support ntop. It is not difficult to understand.

We believe we should focus our efforts on ntopng as many more community members will have a benefit.

If you want support for ntop that has been discontinued 2 years ago, then you are not asking for community support as you will be the only one who benef

[2016-04-11 20:47] sirvulcan opened #485 "Segmentation Fault"
Ive just decided to give the 2.x series a go but im getting a segmentation fault. This happens on both the 2.2 latest release and the latest 2.3 git revision. We are running Debian 7 currently (upgrading to 8 is not an option at this point in time). We are running 1.9 at the same time but the issue also occurs if we stop the 1.9 version and just run 2.x.

Ive tarred up the binary and the core dump

[2016-04-11 21:04] lucaderi commented on #485
@sirvulcan I think I have fixed the bug. Please rebuild the code and try again. Thanks for reporting the issue. In case the bug isn't fixes please reopen it.