[2020-08-01 21:18] lmoralesa opened #4260 "Can`t add hosts"
I just installed ntopng with community license, I go to the system option, then to the pool option to add a host, interace or pool member but it does not let me add anything, for example in the pool option, and I give the sign from +, I put a name, I choose the default option in the user script, then add but it doesn't add anything, so it is the same with the other options.
I would like help to se

[2020-08-03 02:47] lulululuej commented on #4214
Hi,
is there any configuration wrong? I have retry the key they provide to me but still the same issue. The output of ntopng --version said there is a license mismatch but I don't know why.

[2020-08-03 08:19] simonemainardi commented on #4260
It doesn't depend on the license. You just have to use page "Host Pool Members" to add members to host pools

<img width="405" alt="image" src="https://user-images.githubusercontent.com/3397663/89161322-bea9ab80-d572-11ea-988b-6c0f15805630.png">

We've reworked it. Will will prepare all the necessary documentation before the release.

[2020-08-03 08:19] #4260 closed, assigned to nobody

[2020-08-03 08:59] #4259 closed, assigned to lucaderi, gabryon99

[2020-08-03 09:06] #4258 closed, assigned to gabryon99

[2020-08-03 09:07] #4255 closed, assigned to gabryon99

[2020-08-03 09:08] #4254 closed, assigned to gabryon99

[2020-08-03 09:12] simonemainardi commented on #4230
<img width="792" alt="image" src="https://user-images.githubusercontent.com/3397663/89166324-2d3e3780-d57a-11ea-9709-d1426dd9af14.png">

[2020-08-03 09:27] simonemainardi commented on #4110
Pools are groups of SNMP devices. You can associate each pool to a series of recipients. This allows you to send mails selectively, e.g., when SNMP device 1.2.3.4 errors, send an email to Eugene, when SNMP device 6.7.8.9 errors, send and email to Luca.

We are going to complete the documentation before the release. However, in the meanwhile, you can give it a try:
- add a notification endpoint
- a

[2020-08-03 09:27] #4110 closed, assigned to nobody

[2020-08-03 10:02] lucaderi opened #4261 "Unify alert format"
Alerts format must be unique. The green one is the old one and it has to migrate to the new one. Please define a lua module so we can use that one instead of inlining code.

![Screen Shot 2020-08-03 at 12 01 08](https://user-images.githubusercontent.com/4493366/89171182-14855000-d581-11ea-9cf0-77f670a5082f.png)
![Screen Shot 2020-08-03 at 11 07 11](https://user-images.githubusercontent.com/4493366

[2020-08-03 10:19] Eugene-Prokhorenko commented on #4110
Ok, lets close.
It's interesting, that SNMP routers in ntop list now give warning: waiting
for SNMP program 16 (or other number).

E.

On Mon, August 3, 2020 13:28, simonemainardi wrote:

[2020-08-03 14:26] lmoralesa commented on #4260
Thanks for your answer, the reason for my question is because I do the procedure of adding a new host as it tells me, I fill in the spaces requested and when I add, it does nothing, I would like to know if that is due to permissions or something I'm not doing well.
Thank you

[2020-08-03 17:31] lucaderi opened #4262 "SNMP Invalid column format"
![Screen Shot 2020-08-03 at 19 29 47](https://user-images.githubusercontent.com/4493366/89210096-c479ae00-d5bf-11ea-9d4f-56a35f508947.png)

[2020-08-03 17:36] lucaderi commented on #4213
Implemented

function snmp_config.edit_snmp_device(snmp_device_ip, snmp_read_community, snmp_write_community,
                                     snmp_version, symbolic_name, description,
                                     level, username, auth_protocol, auth_passphrase,
                                     privacy_protocol, privacy_passphrase)

[2020-08-03 17:36] #4213 closed, assigned to lucaderi

[2020-08-03 17:37] lucaderi commented on #4124
Please modify the actions column replacing labels with icons

[2020-08-03 17:40] lucaderi commented on #4214
You have generated a x64 license and installed it on a raspberry. This is your problem

[2020-08-03 17:40] #4214 closed, assigned to lucaderi

[2020-08-03 17:51] lucaderi commented on #4116
I apologise for the delay. Can you please first update to http://packages.ntop.org/MacOS/ntopng-4.1.200803.pkg and report if working? If not please do "sudo /usr/local/bin/ntopng /usr/local/etc/ntopng/ntopng.conf"

Note that ntopng starts as a service and thus the above command is just for debugging purpose.

[2020-08-03 17:58] lucaderi commented on #4113
Left _GET and removed payload. Now you can complete the rest of the work

[2020-08-03 18:22] gabryon99 commented on #4262
There was an extra pool column, I removed it

[2020-08-03 18:28] gabryon99 commented on #4261
Right now I edited the style. I'm developing a module to unify the styles. See the commit: https://github.com/ntop/ntopng/commit/e5facb83d576a52bf2db5beefcba138b68b42482

[2020-08-03 18:31] gabryon99 commented on #4230
The problem was in Firefox Browser. I solved it. See the commit: https://github.com/ntop/ntopng/commit/f62ec96bc7f834548c77e5229dbb9fecac2a89ec

[2020-08-04 07:25] lucaderi commented on #4248
Test button is now present both with edit and add so this ticket can be closed

[2020-08-04 07:25] #4248 closed, assigned to gabryon99

[2020-08-04 07:29] lucaderi commented on #4251
Bug fixed: the new alert message contains a link to the correct documentation

[2020-08-04 07:29] #4251 closed, assigned to gabryon99

[2020-08-04 07:30] #4262 closed, assigned to gabryon99

[2020-08-04 07:31] #4261 closed, assigned to gabryon99

[2020-08-04 07:46] lucaderi commented on #4257
I think the problem is broader than described. A user must be able to know if when a SNMP device fails, there is a recipient configured to be notified. In this case I want to be able to modify the recipient list and name.

[2020-08-04 07:49] lucaderi opened #4263 "[Pools] Add the "All" Poll type"
In
![Screen Shot 2020-08-04 at 09 41 28](https://user-images.githubusercontent.com/4493366/89267438-85873f00-d637-11ea-8fe0-81598b194092.png)
it is not possible to see in one page all the pools configured. it is requested to
- add a "All" pill that shows all pools regardless of their family
- Add a new column named "Family" with the pool family

[2020-08-04 07:51] #4230 closed, assigned to gabryon99

[2020-08-04 07:55] lucaderi commented on #4256
I think this tickets makes no sense. Better to leave the X and leave cancel

[2020-08-04 07:57] lucaderi commented on #4256
@gabryon99 Please a) make the threshold field as large as the other field b) "Edit Pools" remove the label and make Y centred with respect to the field next to it

[2020-08-04 08:03] simonemainardi commented on #4256
This is exactly what the ticket was asking

[2020-08-04 08:12] lucaderi opened #4264 "Add Endpoint Column"
![Screen Shot 2020-08-04 at 10 11 32](https://user-images.githubusercontent.com/4493366/89269934-e6644680-d63a-11ea-8ed4-eee807aa11df.png)

Add a new column that represents the endpoint type associated with a recipient

[2020-08-04 08:21] lucaderi opened #4265 "Create Notification Template"
As of today, alert messages are not configurable. Example

[30/07/2020 21:08:05][Error][Threshold Cross][Released] Minute host_score crossed by host 192.168.1.122 [1035 > 999]
[30/07/2020 21:09:06][Error][Threshold Cross][Engaged] Minute host_score crossed by host 192.168.1.122 [1035 > 999]

It is requested to implement a template system that allows people to edit the notification content to perso

[2020-08-04 08:27] simonemainardi commented on #4260
Are you using the latest dev version? Please, make sure to update and report.

[2020-08-04 08:28] simonemainardi commented on #4110
can you attach a screenshot?

[2020-08-04 09:14] simonemainardi commented on #4231
This means that, each of the IP addresses marked with the ghost icon:

1. Has a MAC address which is known to ntopng from the traffic - indeed, you see it listed in the macs list page
2. However, the ARP scan run by ntopng didn't receive any response from that MAC address

E.g., your 192.168.1.89 has a MAC address which you can find inside the MAC addresses page, however, that MAC address didn't r

[2020-08-04 13:32] Eugene-Prokhorenko commented on #4110
On mikrotik router.

On Tue, August 4, 2020 12:28, simonemainardi wrote:

[2020-08-04 14:09] lucaderi opened #4266 "Implement plugin for triggering alerts on periodic behaviour"
As ntopng implements  (if enabled) periodic behaviour detection, it is requested to implement a plugins to trigger an alert when
- periodic behaviour is detected
- a periodic behaviour becomes aperiodic.

The plugin should set a minimum threshold (e.g. at least X periodic loops have been detected) in order to discard noise traffic, as well have the ability to ignore specific application protocols/

[2020-08-04 14:30] lucaderi opened #4267 "Filter menu doesn't scroll"
Filtering menus in ntopng tables do not scroll preventing the user to navigate the information as expected

![Screen Shot 2020-08-04 at 16 28 27](https://user-images.githubusercontent.com/4493366/89305991-981d6a80-d66f-11ea-99a5-b18035c32bca.png)

![Screen Shot 2020-08-04 at 16 28 33](https://user-images.githubusercontent.com/4493366/89305986-96ec3d80-d66f-11ea-95fb-0d56b1e2f3ea.png)

[2020-08-04 15:10] gabryon99 commented on #4267
Fixed. Now when the dropdown height is too hight then it will crop it to max 20 rem. See the commit: https://github.com/ntop/ntopng/commit/7d2b0a179250c541f5e5008adb8c47faa7759ed2

[2020-08-04 15:22] gabryon99 commented on #4264
The endpoint column has been added, the commit is: https://github.com/ntop/ntopng/commit/dc322144edb46b505ce8d19d207bc467223d5f13

[2020-08-05 08:28] gabryon99 commented on #4224
<img width="819" alt="Screenshot 2020-08-05 at 10 27 57" src="https://user-images.githubusercontent.com/14114916/89389916-568bce80-d706-11ea-9234-f06eefdc58de.png">

Done, now when there are no recipients a link will be shown as requested. https://github.com/ntop/ntopng/commit/9b8087844f0d6a695db4033046188ac5ee476122

[2020-08-05 08:55] lucaderi commented on #3619
Invalid ticket

[2020-08-05 08:55] #3619 closed, assigned to nobody

[2020-08-05 09:08] lucaderi commented on #2225
Think how to add the ability, in case of n2disk integration, to extract a pcap for selected alerts when possible.

[2020-08-05 09:40] #4224 closed, assigned to gabryon99

[2020-08-05 09:41] #4267 closed, assigned to gabryon99

[2020-08-05 09:42] lucaderi commented on #4264
The commit looks good. Please add a filter with endpoint type

[2020-08-05 09:44] lucaderi commented on #4256
The final decision is to keep both X and cancel.

[2020-08-05 09:44] #4256 closed, assigned to gabryon99

[2020-08-05 09:46] lucaderi commented on #4234
The current implementation looks good to me.

[2020-08-05 09:46] #4234 closed, assigned to gabryon99

[2020-08-05 09:56] lucaderi commented on #4263
As in manage_pools.lua the RESt endpoint is

        endpoints = {
            get_all_pools  = string.format("/lua/rest/v1/get/%s/pools.lua", pool_type),
            add_pool       = string.format("/lua/rest/v1/add/%s/pool.lua", pool_type),
            edit_pool      = string.format("/lua/rest/v1/edit/%s/pool.lua", pool_type),
            delete_pool    = string.format("/lua/rest/v1/delete/%s/poo

[2020-08-05 09:57] #4124 closed, assigned to gabryon99

[2020-08-05 14:18] lucaderi commented on #4155
Bug fixed already

[2020-08-05 14:18] #4155 closed, assigned to nobody

[2020-08-05 17:25] #4215 closed, assigned to lucaderi

[2020-08-05 17:27] lucaderi commented on #4154
As of the changes today in particular for flow collection, this ticket is no longer necessary to be implemented

[2020-08-05 17:27] #4154 closed, assigned to nobody

[2020-08-05 19:59] lucaderi opened #4268 "Add DHCP as Exception for Unidirectional Traffic"
![Screen Shot 2020-08-05 at 21 57 32](https://user-images.githubusercontent.com/4493366/89458074-ba45e400-d766-11ea-9068-f501a36f9be8.png)

The above flow is a DHCP response that by nature is unidirectional: it should not trigger a flow status score

[2020-08-06 09:14] simonemainardi commented on #4263
given the semantic we have for the rest api, `/v1/<action>/<subject>/<item>` it think it is desirable to have `scripts/lua/rest/v1/get/pools/list.lua` or `scripts/lua/rest/v1/get/pool/list.lua`

[2020-08-06 09:24] lucaderi opened #4269 "Create a Telegram endpoint"
Add the ability to send alerts to Telegram

[2020-08-06 10:13] zimbawe998 opened #4270 "Ldap login slow"
06/Aug/2020 12:10:55 [LdapAuthenticator.cpp:400] ERROR: Could not bind to distinguishedName/dn/sn attribute

Generated by version
Version
4.1.200730 (11009) - Enterprise
 M Edition

[2020-08-06 10:14] zimbawe998 commented on #4270
Platform
x86_64-unknown-linux-gnu [x86_64][] - 64 bit

[2020-08-06 10:16] zimbawe998 commented on #4270
CentOS 7.8.2003

[2020-08-06 10:17] lucaderi opened #4271 "[Pool] Excessive Pressure on Redis with SNMP"
This is what happens on redis when refreshing the SNMP page

1596709001.316997 [0 127.0.0.1:55334] "SETNX" "ntopng.cache.pools.snmp_device.pool_lock" "1"
1596709001.317124 [0 127.0.0.1:55334] "EXPIRE" "ntopng.cache.pools.snmp_device.pool_lock" "5"
1596709001.317282 [0 127.0.0.1:55334] "GET" "ntopng.pools.snmp_device_pools.pool_id_0.details"
1596709001.317500 [0 127.0.0.1:55334] "DEL" "ntopng.cache

[2020-08-06 10:25] lucaderi commented on #4130
I have checked this issue with the current codebase and
- no duplicate SNMP devices are polled
- only a minimum amount of keys is read: those that are needed for a difference such as counters
- unresponsive devices are not redis-polled as they are discarded before the poll starts

I believe you have used an old code version.

Instead please have a look at #4271

[2020-08-06 10:25] #4130 closed, assigned to nobody

[2020-08-06 12:05] operations999 opened #4272 "Device is added but error "The SNMP does not respond""
Hello,
We are running Enterprise edition of Ntopng / nprobe . After adding the device it gives error
under https://xxxxxx:3000/lua/pro/enterprise/snmpdevices_stats.lua
The SNMP device does not respond.
Services are running fine but no visible traffic.
Any idea what is the issue?
Thanks

[2020-08-06 13:06] lucaderi commented on #4264
This is an example of filtering manu correctly styled:
- only the items families (that are present) are listed with the number or items in ()
![Screen Shot 2020-08-06 at 15 03 57](https://user-images.githubusercontent.com/4493366/89534991-1277f700-d7f6-11ea-8330-a626573dfbed.png)
This is what you did:
- all families are listed
- no quantity whatsoever
![Screen Shot 2020-08-06 at 15 03 38](https://

[2020-08-06 14:22] lucaderi opened #4273 "Restart URL must be shown only for systemd systems"
![Screen Shot 2020-08-06 at 16 21 41](https://user-images.githubusercontent.com/4493366/89543231-f62d8780-d800-11ea-921e-1ee25de3fcdc.png)

[2020-08-06 15:50] lmoralesa commented on #4260
Hi, I'm using ntopng Community Edition v.4.1.200731

[2020-08-07 08:04] simonemainardi commented on #4270
how can you tell this is an ntopng issue and not a wrong LDAP parameter specified?

[2020-08-07 08:18] simonemainardi commented on #4272
when do you get this error? During SNMP device addition? Can you post a screenshot. Likely, the SNMP device is not responding to ntopng (either not responding or too slow)

[2020-08-07 08:21] simonemainardi commented on #4268
For the implementation, it is requested to re-use the exclusion list already implemented for elephant and long-lived flows

<img width="787" alt="image" src="https://user-images.githubusercontent.com/3397663/89625209-be255380-d897-11ea-82c6-878f19634004.png">

The exclusion list must be populated with DHCP set as default.

[2020-08-07 08:24] simonemainardi opened #4274 "User scripts buttons poorly styled"
<img width="1206" alt="image" src="https://user-images.githubusercontent.com/3397663/89625307-f62c9680-d897-11ea-826f-4f4d4cbea357.png">

- A white space is present when there's no edit
- Rounded edges are not consistent

[2020-08-07 08:25] simonemainardi commented on #4119
any news?

[2020-08-07 09:05] NicolasPSQ commented on #4270
Hi Simone,
because we can do the login, the logon process goes to success but take very time....sometimes we need to push more times the button "login".

Thanks

[2020-08-07 09:28] simonemainardi opened #4275 "Endpoint, SNMP and other forms broken"
ntopng UI forms no longer work.

[code]

Seems the issue is tue to forms passing data as application/json rather than urlencoded.

[2020-08-07 09:38] MaoPann opened #4276 "How to get flows details via API."
I need get  real-time throughput, network and application delays, round-trip time (RTT), TCP statistics (retransmissions, out-of-sequence packets, packet loss), and transmitted bytes and packets through API,but I found nothing about it after reading all  RESTful API.

[2020-08-07 10:20] gabryon99 commented on #4274
Now the style is consistent with the other tables. See the commit: https://github.com/ntop/ntopng/commit/4574c667a01b3de4c7238f4f086c09c9464a1d6b

[2020-08-07 11:23] ChaosEmpire opened #4277 "Segmentation fault with fritzbox"
I started the fritzbox script
it logged into the box
tries to start ntopng

segementation fault

./fritzdump.sh: line 51: 80113 Done                    wget --no-check-certificate -qO- $FRITZIP/cgi-bin/capture_notimeout?ifaceorminor=$IFACE\&snaplen=\&capture=Start\&sid=$SID
     80114 Segmentation fault      (core dumped) | ntopng -i -

[2020-08-07 11:28] ChaosEmpire commented on #4277
ubuntu kernel: [20794.194390] [PF_RING] bind: stdin not found
ubuntu kernel: [20794.378582] ntopng[81337]: segfault at 74 ip 00007fd6fbe42fc4 sp 00007ffe1d15e618 error 4 in libpcap.so.1.9.1[7fd6fbe37000+26000]
ubuntu kernel: [20794.378590] Code: 89 df ff 13 85 c0 74 ee eb c4 66 66 2e 0f 1f 84 00 00 00 00 00 90 f3 0f 1e fa c7 47 2c 01 00 00 00 c3 0f 1f 40 00 f3 0f 1e fa <8b> 47 74 85 c0 74 05 8b 47

[2020-08-07 11:29] ChaosEmpire commented on #4277
ubuntu kernel: [20794.194390] [PF_RING] bind: stdin not found
ubuntu kernel: [20794.378582] ntopng[81337]: segfault at 74 ip 00007fd6fbe42fc4 sp 00007ffe1d15e618 error 4 in libpcap.so.1.9.1[7fd6fbe37000+26000]
ubuntu kernel: [20794.378590] Code: 89 df ff 13 85 c0 74 ee eb c4 66 66 2e 0f 1f 84 00 00 00 00 00 90 f3 0f 1e fa c7 47 2c 01 00 00 00 c3 0f 1f 40 00 f3 0f 1e fa <8b> 47 74 85 c0 74 05 8b 47

[2020-08-07 13:00] simonemainardi commented on #4276
https://www.ntop.org/guides/ntopng/api/rest/index.html

[2020-08-07 13:00] #4276 closed, assigned to nobody

[2020-08-07 13:43] simonemainardi commented on #4275
this `error()` causes the webserver to respond with 302 so the request is not even processed https://github.com/ntop/ntopng/commit/047a29aaf702d092786fab53a5d0843c9dfbb9ed#diff-923956786dd620fa4912d26c8adf3b19R1888

However, the bug is that CSRF validation MUST be performed also when the csrf token is submitted inside the JSON.

[2020-08-07 14:48] lucaderi commented on #4277
Please start ntopng with debugger and provide a trace. We don't have fireboxes

[2020-08-07 15:21] #4274 closed, assigned to gabryon99

[2020-08-07 15:21] #4275 closed, assigned to nobody

[2020-08-07 15:24] lucaderi commented on #4272
I think this bug has been fixed with the recent code push. Please try again and in case of error please reopen the ticket. New packages will be available later today or overnight.

[2020-08-07 15:24] #4272 closed, assigned to nobody

[2020-08-07 16:07] lucaderi opened #4278 "REST API Invalid Return codes"
REST API calls in case of failure are returning 200 OK and this is wrong as callers have no idea if this is a failure or not.

Instead they should return a more specific error such as 4XX

[2020-08-07 16:10] lucaderi opened #4279 "Add REST API Logging"
Contrary to other ntopng actions such as login or restart, (non GET, so ADD for instance) REST API calls must be logged so it is possible to keep track of configuration changes.

The produced log must include
- the previous value (JSON)
- the new value(s) (JSON)

and eventually a human readable message.

[2020-08-07 16:14] lucaderi opened #4280 "Add REST API WebHook for API Tracing"
As follow up of #4279, it is requested to create a specific endpoint/webhook so that in case of API changes is is possible to export those changes to a remote system that can keep track of all changes made. In order not to mix up these messages with other types, it is probably a good idea to create a specific alert type.

[2020-08-07 16:16] lucaderi opened #4281 "Add REST API call to Update a User"
Currently ti is not possible to update am existing user, such as changing the language or its role.

It is requested to implement a new REST endpoint for editing existing users.

[2020-08-07 17:08] ChaosEmpire commented on #4277
"Please start ntopng with debugger"

can you please explain exacty what to do?
i cant find a debugging switch fo rmore logging

and seperate debugger? i m not a developer..just a user trying to see traffic of the router

[2020-08-08 15:59] BigGillyStyle commented on #4116
Yes...that fixed things for me.  Thanks @lucaderi

[2020-08-08 15:59] #4116 closed, assigned to lucaderi

[2020-08-10 00:42] MaoPann commented on #4276
I have readed the REATful API,but not found information needed.Could you please give me more guidance,such as how to get the Round-trip time via API.

[2020-08-10 03:50] lulululuej opened #4283 "license problem"
Hi,
I had use the key to create the license and add to /etc/ntopng.license and save it on Help->About page, but it still the community version on web, then i type ntopng --version the log is below
![image](https://user-images.githubusercontent.com/68433978/89750674-8ae4fd80-daff-11ea-94c0-4320d8e11c62.png)

![weird](https://user-images.githubusercontent.com/68433978/89750682-96d0bf80-daff-11ea-973

[2020-08-10 03:52] MaoPann opened #4284 "1.Why I got the response of "-2-INVALID _INTERFACE",when I use the API as examples."
Why I got the response of "-2-INVALID _INTERFACE",when I use the API as examples.

[2020-08-10 07:51] cardigliano commented on #4284
@MaoPann could you provide the rest request you are running? (e.g. the full curl command)

[2020-08-10 08:31] MaoPann commented on #4284
curl-u admin:mp1234"http://192.168.0.100:3000/lua/rest/v1/get/interface/data.lua?ifid=0"

[2020-08-10 08:34] simonemainardi commented on #4283
did you restart ntopng after saving the license in /etc/ntopng.license?

[2020-08-10 09:16] simonemainardi commented on #4284
Is `0` a valid id of an active interface?

You can use API call https://www.ntop.org/guides/ntopng/api/rest/examples_v1.html#get-actively-monitored-interfaces to check.

[2020-08-10 09:29] simonemainardi opened #4285 "CSRF vulnerabilities when POSTing JSON (e.g., all modals)"
CSRF checks are no longer enforced when data is POSTed as JSON.

For example, I can forge a POST to change certain active monitoring data, pass an arbitrary CSRF, and have the data changed.

<img width="596" alt="image" src="https://user-images.githubusercontent.com/3397663/89768663-2d9b7d00-dafc-11ea-9aa6-75b401695719.png">

So basically `csrf` is no longer checked nor the contents of the POST ar

[2020-08-10 09:32] MaoPann commented on #4284
I use the command curl -u admin:admin "http://localhost:3000/lua/rest/v1/get/ntopng/interfaces.lua" but didn't have any response

[2020-08-10 09:33] cardigliano commented on #4284
Please use the correct password

[2020-08-10 09:37] MaoPann commented on #4284
yes I had  use the correct password

[2020-08-10 09:51] cardigliano commented on #4284
Please provide the output of:
curl -vu admin:mp1234 "http://192.168.0.100:3000/lua/rest/v1/get/ntopng/interfaces.lua"

[2020-08-10 09:57] cardigliano commented on #4277
It seems there is some issue with ntopng reading from stdin, however this is working for me using latest version.
You should first of all make sure that the data stream is working as expected, you can replace "ntopng -i -" with "tshark -i -" for instance. If that is working, you should provide a crash trace (let ntopng generate a core dump and open it with gdb).

[2020-08-10 10:12] cardigliano commented on #4283
Latest 4.0 build is working for me, please try restarting it.

[2020-08-10 10:28] gabryon99 commented on #4047
We have improved the mobile UI. Now there is a hamburger button to open the sidebar. The mobile sidebar contains all the badges shown in the navbar and the network statistics (such as download/upload rate).

Below there are some images that show the fixed mobile UI:

[_About Page_]
<img width="355" alt="Screenshot 2020-08-10 at 12 25 06" src="https://user-images.githubusercontent.com/14114916/8977

[2020-08-10 12:34] TimotheusBachinger commented on #4120
Hi Luca,

as discussed, the implementation as in [https://github.com/ntop/ntopng/issues/4220](https://github.com/ntop/ntopng/issues/4220 ) would be suitable.
Furthermore the session token will not expire, so there is no need to refresh it from our side.

You could close this issue, as it seems to be already implemented with #4220

Regards
Timi

[2020-08-10 12:44] lucaderi commented on #4047
Looks good to me. Some pages are a bit too small for small displays but now the system is usable on modern phones and tablets

[2020-08-10 12:44] #4047 closed, assigned to gabryon99

[2020-08-10 12:50] #4120 closed, assigned to nobody

[2020-08-10 12:51] lucaderi commented on #4120
Closed as requested but in #4220 the cookie expires and it's not a token as proposed.

[2020-08-11 08:40] simonemainardi commented on #3857
This issue has been implemented. Recipients will be now merged with notification endpoints to simplify the overall configuration.

[2020-08-11 08:40] #3857 closed, assigned to simonemainardi, gabryon99

[2020-08-11 09:02] simonemainardi commented on #3860
Alert endpoints have been removed from the preferences.

[2020-08-11 09:02] #3860 closed, assigned to nobody

[2020-08-11 09:07] cardigliano commented on #4276
@MaoPann the information you need have been added to the API, you need to add the verbose parameter as in the example below. This will be available in the dev packages with the next build later today.

curl -u admin:password "http://192.168.0.1:3000/lua/rest/v1/get/flow/active.lua?ifid=1&verbose=true"

[2020-08-11 09:39] cardigliano commented on #4273
Fixed

[2020-08-11 09:39] #4273 closed, assigned to cardigliano

[2020-08-11 09:42] MaoPann commented on #4284
C:\Users\maopa>curl -v admin:mp1234 "http://192.168.0.101:3000/lua/rest/v1/get/flow/active.lua?ifid=1&verbose=true"
* Rebuilt URL to: admin:mp1234/
* Port number ended with 'm'
* Closing connection -1
curl: (3) Port number ended with 'm'
*   Trying 192.168.0.101...
* TCP_NODELAY set
* Connected to 192.168.0.101 (192.168.0.101) port 3000 (#0)

< HTTP/1.1 302 Found
< Set-Cookie: session=; path=/; ex

[2020-08-11 09:43] MaoPann commented on #4284
C:\Users\maopa>curl -vu admin:mp1234 "http://192.168.0.101:3000/lua/rest/v1/get/flow/active.lua?ifid=1&verbose=true"
*   Trying 192.168.0.101...
* TCP_NODELAY set
* Connected to 192.168.0.101 (192.168.0.101) port 3000 (#0)
* Server auth using Basic with user 'admin'

< HTTP/1.1 200 OK
< Cache-Control: max-age=0, no-cache, no-store
< Server: ntopng 4.1.200609 [Win64 [x64][Windows]]
< Pragma: no-cac

[2020-08-11 09:43] cardigliano commented on #4284
You are getting redirected to the login page, this is an authentication issue, please check username and password.

[2020-08-11 09:46] MaoPann commented on #4284
I Confirmed my  username and password.
Is the web gui username and password?

[2020-08-11 09:51] cardigliano commented on #4284
Please also provide
curl -vu admin: mp1234 "http://192.168.0.100:3000/lua/rest/v1/get/ntopng/interfaces.lua"

[2020-08-11 09:59] MaoPann commented on #4284
*   Trying 192.168.0.101...
* TCP_NODELAY set
* Connected to 192.168.0.101 (192.168.0.101) port 3000 (#0)
* Server auth using Basic with user 'admin'

< HTTP/1.1 302 Found
< Set-Cookie: session=; path=/; HttpOnly; SameSite=lax
< Location: /lua/http_status_code.lua?message=not_found&referer=192.168.0.101%3A3000%2Flua%2Frest%2Fv1%2Fget%2Fntopng%2Finterfaces.lua&error_message=
* no chunk, no close, n

[2020-08-11 10:37] ummeegge opened #4286 "Additional free location database (libloc)"
Dear developers and community,
just wanted to leave a note for a new location database where no registration or license key is needed. The project has been developed by the IPFire project and calls libloc --> https://location.ipfire.org . Am currently not sure if this a topic of interest here but i nevertheless wanted to mentioned it.

With best regards,

Erik

For some more informations:
https://

[2020-08-11 15:21] lucaderi commented on #4286
Hi @ummeegge thanks for the comment. Do you suggest us to move to libloc?

[2020-08-11 15:22] lucaderi opened #4287 "Add the ability to rename the custom category name"
![Screen Shot 2020-08-11 at 17 19 38](https://user-images.githubusercontent.com/4493366/89915889-37ee7180-dbf7-11ea-864d-16d1674a9b6e.png)

[2020-08-11 15:25] lucaderi opened #4288 "Inconsistent graph and browser crashes"
![Screen Shot 2020-08-11 at 16 40 40](https://user-images.githubusercontent.com/4493366/89916073-7126e180-dbf7-11ea-9893-041f89057dd5.png)

The above chart crashes on some browsers (e.g. Chrome) and while the traffic rate changes correctly, the chart is flat.

[2020-08-11 15:26] lucaderi opened #4289 "Custom protocols are not depicted"
![Screen Shot 2020-08-11 at 17 25 28](https://user-images.githubusercontent.com/4493366/89916221-acc1ab80-dbf7-11ea-83ae-4d9c56c68f4c.png)

Creating custom protocols using the -p  <file>switch has a side effect
- protocol are depicted in the web GUI
- they are not depicted in the above picture where all the applications protocols are listed

[2020-08-11 15:29] lucaderi opened #4290 "Drill down protocol categories"
![Screen Shot 2020-08-11 at 17 27 32](https://user-images.githubusercontent.com/4493366/89916525-fd390900-dbf7-11ea-9b63-e634a2811501.png)

Currently it is not possible to see what protocols are listed under the categories. This ticket requests such protocols to be listed so that it is possible to see under a category what protocols traffic is observed.

The above feature is requested for all elem

[2020-08-11 15:52] ummeegge commented on #4286
Hello lucaderi,
thanks for opening up a discussion. Since we (some IPFire users) have integrate unofficial the [ntopng community version also into IPFire](https://gitlab.com/ummeegge/ntopng-ipfire) environment and some users did have problems with the new Maxmind policies but IPFire reacts with an own solution for his firewall components, i thought it might be worth to go for a hint for news from

[2020-08-11 18:04] stump-ed opened #4291 "flow.lua script failure"
I'm seeing a metric crap-ton of the following in the journal:

[AlertCheckLuaEngine.cpp:167] WARNING:Script failure[/usr/share/ntopng/scripts/callback/share/ntopng/scripts/callbacks/interface/flow.lua] [/usr/share/ntopng/scripts/interface/flow.lua:226: type 'function' is not supported by JSON.]

and the flow counts are continuously increasing - they never seem to age out...
I've updated ntopng to

[2020-08-11 19:41] lucaderi commented on #4291
Several people reported that the issue with flows not expiring was solved with the release you are running. So there is something special in your setup. I suggest to
- apt-get remove ntopng ntopng-data
- rm -rf /usr/share/ntopng
- apt-get install ntopng ntopng-data

Then report is something has changed.

I suggest to reduce --max-num-flows  and --max-num-hosts to more reasonable values.

[2020-08-11 19:48] #4283 closed, assigned to nobody

[2020-08-11 19:55] mroe1234 opened #4292 "ElasticSearch export: Export queue too long expect drops"
running Version: ntopng Enterprise M Edition v.4.1.200810
Uptime: 1 Day, 07:04:50

From Interface page:
Dropped Flows | 2,193,579 [0.21%]

From log:
Aug 10 18:17:28 schnoz ntopng: [ElasticSearch.cpp:69] WARNING: [ES] Export queue too long [32768]: expect drops
Aug 10 18:17:28 schnoz ntopng[28321]: 10/Aug/2020 18:17:28 [ElasticSearch.cpp:69] WARNING: [ES] Export queue too long [32768]: expect drops

[2020-08-11 21:31] bpersonick commented on #4119
This is incredibly annoying we're spammed with thousands of these each day, when could this be resolved?  Is there a way I can removed just this somehow without removing others?

![2020-08-11 17_32_02-ntopng - Flows](https://user-images.githubusercontent.com/41927875/89951042-b566b180-dbf8-11ea-8a30-997f419c60c0.png)

[2020-08-12 07:34] gabryon99 commented on #4288
The bug has been fixed. See the commit: https://github.com/ntop/ntopng/commit/8e08eca7949b9dbec4b0f5eec99b2e202abfb25d

[2020-08-12 08:05] cardigliano commented on #4284
@MaoPann what ntopng version are you running?

[2020-08-12 08:16] simonemainardi commented on #4292
You ES queue gets filled, that is, there's not enough time for ntopng to export queued flows to ElasticSearch.

However, this seems just a sporadic error (occurred at 18:17 and 18:55) and only the 0.21% of flows have been dropped, so it doesn't seems to be a bug or something structurally wrong.

[2020-08-12 08:17] simonemainardi commented on #4292
how many active hosts/flows are you processing? How much traffic are you processing?

[2020-08-12 08:19] simonemainardi commented on #4284
I can confirm APIs are working on the latest dev build. Likely, this is the commit that has fixed the issue: https://github.com/ntop/ntopng/commit/0113b367c9824aba3f4bcefa7ee15f5e7148bd23

Please, try and update.

[2020-08-12 08:22] simonemainardi commented on #4290
Information is already available at the following page

<img width="1275" alt="image" src="https://user-images.githubusercontent.com/3397663/89992482-9b26e500-dc85-11ea-82bd-b87f83690578.png">

It is requested to add a link to this page with the filter already set.

[2020-08-12 08:31] simonemainardi commented on #4119
can any of you guys provide a pcap capture of this NetBIOS.SBMv23 which is causing this?

[2020-08-12 09:09] lucaderi commented on #4119
Fixed by https://github.com/ntop/nDPI/commit/9edddee0b7e63ff4fd6e5c19156e422d5712375c

New builds will be available within one hour now

[2020-08-12 09:09] #4119 closed, assigned to lucaderi

[2020-08-12 09:34] gabryon99 commented on #4144
We've come up with a solution. These are the steps when a user opens a form modal:

1) The user opens the modal to add new data (or edit an existing data).
<img width="806" alt="Screenshot 2020-08-12 at 10 21 59" src="https://user-images.githubusercontent.com/14114916/89999322-ebef0b80-dc8e-11ea-92bd-0cf27f7f4398.png">
If the obligatory fields are not fulfilled then the submit form button doesn't

[2020-08-12 09:56] MDSharma commented on #4024
Please consider re-opening this one..  I think it can be a very worthy addition to ntopng and will compliment the features of nScrub.

In the example illustrated here:

netflow v9 emitters -> nProbe -> ntopng
---------------------------------> GoBGP running on the ntopng host
---------------------------------> GoBGP set to peer with multiple routers to announce blackholes.
------------------------

[2020-08-12 15:36] MDSharma commented on #2609
you could also have an option to coordinate with a BGP blackhole system (like fastnetmon with ExaBGP or GoBGP) in the monitoring mode. When an attack stops, the blackhole can be pulled away..  That would make ntopng stand out from nScrub (with no netflow processing) and add a good feature enhancement.

[2020-08-12 21:21] martinscheu opened #4293 "Additional alert type "acknowledged""
Hello,
In actual ntopng alarms are acknowledged automatically, without user input.
In certain circumstances it is required, that the user needs to acknowledge an alarm.
To support the user, the alarm icons could be gray, when the alarm is not active anymore, but not acknowledged yet.
Thank you.

[2020-08-13 10:19] lucaderi commented on #4293
I would add also the (optional) ability to auto-acknowledge alerts after some time by marking it as auto-acknowledge.

Implementing this ticket will also require the implementation of "mass ACK" in case an administrator needs to ack several alerts of a selected type (or all alerts)

[2020-08-13 10:21] #4288 closed, assigned to gabryon99

[2020-08-13 14:53] lucaderi opened #4294 "Put package on hold with expired license"
Some users complained for https://github.com/ntop/ntopng/blob/dev/packages/ubuntu/debian.ntopng/prerm.in#L20 that breaks ntopng with automatic upgrades or with '-y'.

A suggestion is to avoid upgrading ntopng (and other ntopng packages) using
- apt-mark hold ntopng ntopng-base/data
(check if there is a similar mechanism for yum, but I doubt)

Blocking upgrades for expired licenses could prevent so

[2020-08-13 15:04] lucaderi opened #4295 "Implement Include in ntopng.conf"
In order to simplify administration, ntopng.conf should support mechanisms such as (this is just an example)

Include conf.modules.d/*.conf
    #   Indexes Includes FollowSymLinks SymLinksifOwnerMatch ExecCGI MultiViews
    # (You will also need to add "Includes" to the "Options" directive.)

that allows a config file to include other sub-config files.

The idea is that when systemd starts ntopng

[2020-08-13 16:03] lucaderi commented on #4128
In short create a new page with

a) dropdown menu with the following entries
- SNMP
- Script configurations
- Pools/Endpoints/Recipients
- Active Monitoring

b) 2 buttons
- Import
- Export

[2020-08-14 07:07] lucaderi opened #4296 "Rework VirtualHostHash Class"
The code if this class is not optimal and is also bugged

[HTTPstats.cpp:514] WARNING: Too many virtual hosts on x.x.x.x (0 virtual hosts). New virtual hosts will be ignored.

[2020-08-14 08:01] simonemainardi commented on #4284
@MaoPann any news?

[2020-08-14 08:04] simonemainardi commented on #4270
Do you have evidence this is due to a particular ntopng release and to to the network/ldap server? Error "Could not bind to distinguishedName/dn/sn attribute" is detected. Please, explain.

[2020-08-14 08:05] simonemainardi commented on #4277
@ChaosEmpire any news?

[2020-08-14 08:07] #4207 closed, assigned to gabryon99

[2020-08-14 08:11] simonemainardi commented on #3267
'apply to' elements no longer exist in the latest dev. Now the 'apply to' is controlled with pools.

[2020-08-14 08:11] #3267 closed, assigned to gabryon99

[2020-08-14 08:19] gabryon99 commented on #4264
<img width="706" alt="Screenshot 2020-08-14 at 10 18 41" src="https://user-images.githubusercontent.com/14114916/90229033-88441a00-de17-11ea-9619-8253d1ada5c9.png">

Now there is a counter near the filter name. If there is no data inside the datatable that matches the filter then the entry will be hidden.

[2020-08-14 08:28] simonemainardi commented on #4093
also consider and add the refresh button as inside the modals

[2020-08-14 08:40] lucaderi commented on #3853
@simonemainardi Please in

implement the conf_max_num

i.e.

local notification_configs = require("notification_configs")
tprint( notification_configs.get_types())

that it must be present all times with the maximum number of occurrences

[2020-08-14 08:44] lucaderi commented on #4290
@simonemainardi Not quite. In the picture above, the backend must report the amount of traffic. Depicting it is simple. Please provide some code to do that. The image you pasted is not enough

[2020-08-14 08:46] lucaderi commented on #4268
@simonemainardi Sorry this is wrong. The algorithm that detected unidirectional traffic must discard DHCP from the list. This si not a frontend issue

[2020-08-14 08:47] simonemainardi commented on #4268
True. Other exceptions are:
- NetFlow
- sFlow

[2020-08-14 09:02] lucaderi opened #4297 "Implement Reset To Factory In Scripts"
As discussed in #3962 we need to implement a reset button. Such reset must implement the "reset to factory" (i.e. restore the values defined by ntopng at the first installation) and not set the value as in the default configuration.

Currently the get_user_script_config.lua script is called. This issue requires to change the logic of this script and return the factory default.

[2020-08-14 09:02] lucaderi commented on #3962
I have tested the code. The are you sure problem is now solved. The Reset will be discussed in #4297

[2020-08-14 09:02] #3962 closed, assigned to gabryon99

[2020-08-14 09:07] lucaderi commented on #4249
After some discussion with @gabryon99 we decided not to go through the implementation as it ill add exceptions for entities that do not have the pool concept as flows

[2020-08-14 09:07] #4249 closed, assigned to gabryon99

[2020-08-14 09:33] lucaderi opened #4298 "Provide user feedback when performing an operation"
Currently user feedback is provided only in a few cases such as when adding an active monitoring device.

This ticket requests to add this feedback to all possible forms such as SNMP.

Prior to implement this ticket please list all actions that will provide a feedback

[2020-08-14 09:33] lucaderi commented on #3960
See #4298

[2020-08-14 09:33] #3960 closed, assigned to gabryon99

[2020-08-14 09:36] lucaderi opened #4299 "[Pools] Implement list all pools API"
Please implement

given the semantic we have for the rest api, `/v1/<action>/<subject>/<item>` it think it is desirable to have `scripts/lua/rest/v1/get/pools/list.lua` or `scripts/lua/rest/v1/get/pool/list.lua`

_Originally posted by @simonemainardi in https://github.com/ntop/ntopng/issues/4263#issuecomment-669812470_

[2020-08-14 09:36] lucaderi commented on #4263
@simonemainardi Depends on #4299. Done that @gabryon99 can complete the implementation

[2020-08-14 09:39] gabryon99 opened #4300 "Return successful message when performing REST operations"
It's requested to return a successful message when performing REST operation such as 'Add SNMP Device/Edit SNMP Device/Remove SNMP Device'. The message must be neutral as possible and descriptive.

Example:
1) Add SNMP Device
2) If the add was successful then the returned body of the request may contain:
[code]

This ticket depends on #4279

[2020-08-14 09:44] lucaderi commented on #4290
Please @simonemainardi handle this ticket as it is mostly about the backend. What is requested it to provide a breakdown per protocol/category and either
- transform the category name in a HREF that jumps on a page that shows the breakdown
- add the breakdown online (I prefer this)

[2020-08-14 10:02] #4279 closed, assigned to simonemainardi, cardigliano

[2020-08-14 10:27] lucaderi opened #4301 "Package update does not work on CentOS"
![Screen Shot 2020-08-14 at 12 25 34](https://user-images.githubusercontent.com/4493366/90240357-5fc51b80-de29-11ea-8424-1a17b051b1b7.png)

This is the message that is reported when updating "ntopng Enterprise M Edition v.4.1.200807": no updates, just this message.

[2020-08-14 10:52] lucaderi opened #4303 "SNMP: Add filter to select interfaces Up with traffic detected"
![Screen Shot 2020-08-14 at 12 51 10](https://user-images.githubusercontent.com/4493366/90242226-e4fdff80-de2c-11ea-8ba2-037c091435f5.png)
![Screen Shot 2020-08-14 at 12 51 02](https://user-images.githubusercontent.com/4493366/90242231-e62f2c80-de2c-11ea-8669-6807bc52d502.png)

In addition to interfaces Up, add a new filter item for interface Up with traffic detected (i.e. those interfaces that ar

[2020-08-14 11:04] lucaderi opened #4304 "SNMP Flow Ratio is broken"
![Screen_Shot_2020-08-14_at_13_01_53](https://user-images.githubusercontent.com/4493366/90243118-981b2880-de2e-11ea-94bc-6793cea42069.png)
![Screen_Shot_2020-08-14_at_13_02_07](https://user-images.githubusercontent.com/4493366/90243124-99e4ec00-de2e-11ea-8199-3bdd2a9c6019.png)

[2020-08-14 12:18] HaleyACS commented on #4294
For RPM packages (yum/rpm) one method is to edit the /etc/yum.conf file and add the package into the exclude list.
for example:
`exclude=ntopng*`
would prevent ntopng to be updated by yum.

As general note - the script/upgraded script from ntopng side *(cron-job checking updates) should not update the package if the license date expired and put it on hold in the other package managers.
The system-

[2020-08-14 12:48] #4291 closed, assigned to nobody

[2020-08-14 13:08] #4268 closed, assigned to simonemainardi

[2020-08-14 16:59] CyberbreinAirw0lf commented on #4294
It looks like I have this problem - license is expired. However, I can not add a new license key because there is no webUI. Tried to revert the config to the community edition => not working.

Please advise - where do we go from here?

[2020-08-14 19:01] mroe1234 commented on #4292
the top bar says ~65k local and 50k remote, and flows are almost 1m

[2020-08-15 15:27] ChaosEmpire commented on #4277
I was messed up, after ntopng got updated by apt but my pfring was newer than the now required one
needed to deinstall, reinstall pfring (now its an older version than installed before from the repo)
(repo of ntopng is added to ubuntu, that makes me wonder why the ntopng does not met its own requirements)

But with newer ntopng and older pfring the fritzbox script started

just one broken pipe err

[2020-08-17 02:48] fuqiangleon opened #4306 "How do we add a new language/locale for ntop?"

[2020-08-17 07:29] cardigliano commented on #4277
Were you able to check with tshark as suggested that traffic is flowing?

[2020-08-17 08:21] lucaderi commented on #4264
Still pending

[2020-08-17 08:58] gabryon99 commented on #4204
Now the boxes are aligned:
<img width="1271" alt="Screenshot 2020-08-17 at 10 58 44" src="https://user-images.githubusercontent.com/14114916/90377680-9fce0d80-e078-11ea-9cf0-d4c2846e5047.png">

[2020-08-17 09:19] gabryon99 commented on #3853
Now if exists a Syslog Endpoint Type is not possible to create a new one:
<img width="1632" alt="Screenshot 2020-08-17 at 11 18 33" src="https://user-images.githubusercontent.com/14114916/90379739-6519a480-e07b-11ea-8f8f-44381c81af5c.png">
<img width="796" alt="Screenshot 2020-08-17 at 11 18 50" src="https://user-images.githubusercontent.com/14114916/90379768-6fd43980-e07b-11ea-817d-9ce1580cc129.p

[2020-08-17 10:32] #4295 closed, assigned to cardigliano

[2020-08-17 10:52] cardigliano commented on #4294
Added note on package installation to warn the user about maintenance expiration and provide commands to hold the package.

[2020-08-17 10:52] #4294 closed, assigned to cardigliano

[2020-08-17 10:54] cardigliano commented on #4295
This has been implemented by including configuration files under /etc/ntopng/ntopng.conf.d/*.conf when running systemd (similar to what  /etc/rc.local.conf does with /etc/rc.local.d)

[2020-08-17 12:40] lucaderi commented on #4070
Closing for inactivity. Will reopen if more details are provided

[2020-08-17 12:40] #4070 closed, assigned to cardigliano

[2020-08-17 12:41] lucaderi commented on #3833
Furthermore add the ability to put the interface up/down via SNMP

[2020-08-17 12:41] simonemainardi commented on #4306
Let's say you want to do french localization, you can just copy the `https://github.com/ntop/ntopng/blob/dev/scripts/locales/en.lua into` `fr.lua`, then edit `fr.lua` by localizing the strings on the right, e.g.:

from

["packets_page"] = {
    ["arp_distribution"] = "ARP Distribution",
    ["ip_version_distribution"] = "IP Version Distribution",

to

["packets_page"] = {
    ["arp_distribution"]

[2020-08-17 12:41] #4306 closed, assigned to nobody

[2020-08-17 12:45] #3853 closed, assigned to gabryon99

[2020-08-17 12:49] lucaderi opened #4308 "Broken Endpoint Validation"
Problems
1. It is not specified what are the required fields constraints to satisfy. Example the endpoint name must be 4 chars or more (why 4?)
![Screen Shot 2020-08-17 at 14 46 18](https://user-images.githubusercontent.com/4493366/90397642-702efd80-e098-11ea-902d-a352b6cedd53.png)
2. The Server IP is not properly validated
![Screen Shot 2020-08-17 at 14 47 59](https://user-images.githubuserconten

[2020-08-17 15:30] simonemainardi commented on #4303
Implemented:

![image](https://user-images.githubusercontent.com/3397663/90413837-4f25d700-e0af-11ea-8077-ec640b761790.png)

[2020-08-17 15:30] #4303 closed, assigned to simonemainardi

[2020-08-17 17:19] simonemainardi commented on #4300
Implemented. Now both success and error codes are returned also in a human readable string.

To maintain compatibility, error code string is still returned in `"rc_str"`, and the human-readable, localized i18n string is returned in `"rc_str_hr"`

Example responses:

[code]

Localization is supported. Language is chosen on the basis of the locale configured for the user which is performing the API

[2020-08-17 17:19] #4300 closed, assigned to nobody

[2020-08-17 17:29] simonemainardi commented on #4304
I've let the instance run for a couple of hours with NetFlow and I get pretty accurate results:

![image](https://user-images.githubusercontent.com/3397663/90425224-b5b2f100-e0bf-11ea-84cc-e95b68e7bb4f.png)

Can you please explain how to reproduce? Are you using NetFlow or sFlow? Is there any *collection filter* or similar which may cause the traffic received from the flows to be much less that th

[2020-08-18 09:07] #4281 closed, assigned to simonemainardi, cardigliano

[2020-08-18 09:09] #4204 closed, assigned to gabryon99

[2020-08-18 14:21] CyberbreinAirw0lf opened #4309 "How-to configure"
Two questions on how-to configure within ntopng.

(1) – In some customers cases, part of the webtraffic could be is running through a proxy/loadbalancer.
In our lab, this would be the HTTP/HTTPS-traffic running over TCP port 8888
Is there a way to configure this that it can be reported on?

(2) – There are 3 host pools based on 2 subnets being 192.168.2.0/14 and 192.168.139.0/24:
- DMZ: 192.168.2.

[2020-08-18 14:37] CyberbreinAirw0lf opened #4310 "Using ElasticSearch"
I’m really struggling with forwarding data to ElasticSearch.
I have set things up to the extend that Elastic accepts data from Beats.
Where Beats equals Filebeat, Packetbeat, Auditbeat and Wineventbeat.

But forwarding data from ntopng to Elastic seems to be a bridge to far.
Is there somewhere a step-by-step document?
Or at least some pointers how to start?

Thank you - Will

[2020-08-18 14:58] simonemainardi commented on #3735
Refactoring done:

- Implemented class NtopngUtils in https://github.com/ntop/ntopng/commit/e61f9ffe68f3a46ee26a2748ca571ce7434b281a
- Refactored NtopngUtils into NtopUtils in https://github.com/ntop/ntopng/commit/1ae2b2d93262b82155fbe377f0cbb80795b0e6a5
- Moved `String.prototype` function to separate file in https://github.com/ntop/ntopng/commit/3b2bbc2aa468b271aa1d51e541bfa1c273f84b14
- Added st

[2020-08-18 14:58] #3735 closed, assigned to simonemainardi, gabryon99

[2020-08-18 15:33] simonemainardi commented on #4309
In our lab, this would be the HTTP/HTTPS-traffic running over TCP port 8888
Is there a way to configure this that it can be reported on?

You can configure TCP port 8888 as a custom protocol. See https://www.ntop.org/guides/ntopng/web_gui/categories.html?highlight=custom#custom-applications

Likely, members are not correctly assigned to pools. Visit page "Host Pool Members", then make sure members

[2020-08-18 15:34] simonemainardi commented on #4310
https://www.ntop.org/guides/ntopng/advanced_features/flows_dump.html#flowdumpelasticsearch

[2020-08-18 15:34] #4310 closed, assigned to nobody

[2020-08-18 20:38] bpersonick commented on #3204
I'm using nTop and still see this issue I just downloaded the latest binary 10 days ago and it still an issue

[2020-08-19 07:36] simonemainardi commented on #4271
Fixed in the above commits and companion pro commits. Pools were enumerated more than one time per device.

Currently, pools are enumerated only twice, regardless of the number of SNMP devices. One time in the page, and another time in the AJAX request.

[code]

[2020-08-19 07:36] #4271 closed, assigned to simonemainardi, cardigliano

[2020-08-19 08:19] gabryon99 commented on #4308
Now if the user types a hostname for the SMTP Server then a DNS Resolve will be performed by the backend to check if the hostname exists. See the commit: https://github.com/ntop/ntopng/commit/5797c7c8fdc13c73d619e86077d8c9a1f775825d

[2020-08-19 09:15] cardigliano commented on #4301
This has been fixed, waiting for a feedback from the user.
Also, updates failures are now reported, if any (e.g. maintenance expired, service disabled, etc.)

[2020-08-19 09:24] gabryon99 commented on #4308
I have changed the pattern used for emails. See the new commit: https://github.com/ntop/ntopng/commit/fc2275aaadaf20c6cd5e2a1055915c6ab613bc06

[2020-08-19 09:25] lucaderi commented on #4308
Seems to work

[2020-08-19 09:25] #4308 closed, assigned to gabryon99

[2020-08-19 10:46] lucaderi commented on #2635
For the time being please handle the drill-down adding an icon for it.

[2020-08-19 12:19] simonemainardi commented on #4289
Tried both on linux and OSX. Custom applications are correctly shown, both in the timeseries list and also when doing the drilldown with nIndex.

There were an issue with the ordering, though. Lowercase applications were listed after upper-case applications so that could be the cause of the seemingly missing application. Fixed.

Will follow up privately with the user and do additional changes if n

[2020-08-19 12:19] #4289 closed, assigned to simonemainardi

[2020-08-19 12:23] simonemainardi commented on #4284
No feedback received. Closing.

[2020-08-19 12:23] #4284 closed, assigned to nobody

[2020-08-19 12:28] simonemainardi commented on #4292
It doesn't seems to be a bug for me. With 1M active flows, losing 0.21% sporadically is likely normal and may be due to load spikes on the machine for example. You have basically lost 2M out of 1B+ exported flows, which is expected on a loaded machine.

Feel free to reopen if this percentage becomes higher or losses are consistent.

[2020-08-19 12:28] #4292 closed, assigned to nobody

[2020-08-19 12:29] simonemainardi commented on #4286
@ummeegge would you be interested in taking care of this extension?

[2020-08-19 13:12] #4301 closed, assigned to cardigliano

[2020-08-19 13:51] gabryon99 commented on #4128
The GUI for the page has been implemented (see the screenshot below):
<img width="1692" alt="Screenshot 2020-08-19 at 15 50 49" src="https://user-images.githubusercontent.com/14114916/90643321-c3898300-e233-11ea-84b5-de4991a2351e.png">

The only thing to do is to replace the href for the export button (contained in file `import_export_config.template`)
See the commit: https://github.com/ntop/ntopn

[2020-08-19 14:23] simonemainardi commented on #2635
Drilldown buttons have been added as requested for alerts of the following types:

- alert_tcp_syn_flood
- alert_flows_flood
- alert_tcp_syn_scan

Drilldown links are as follows:

![image](https://user-images.githubusercontent.com/3397663/90642898-4100c380-e233-11ea-8df8-affbd5669880.png)

Clicking on the drilldown, with nIndex enabled, opens the host historical page with the historical number of

[2020-08-19 14:26] #2635 closed, assigned to simonemainardi

[2020-08-19 14:44] TimotheusBachinger opened #4312 "Cannot get cookie for user"
Hi ntop,

We currently cannot get the cookie from our ntop instance. Can you reproduce this error on your side?
It seems also rest_utils.lua was changed yesterday.
[code]
Thanks a lot
Regards
Timi

[2020-08-19 15:16] #4312 closed, assigned to simonemainardi

[2020-08-19 15:28] simonemainardi commented on #4304
Verified working also on the reported machine

![image](https://user-images.githubusercontent.com/3397663/90654605-d8b8de80-e240-11ea-9112-877f25a59877.png)

As both flow devices timeseries and snmp interface timeseries go back in time for 1 hour, chances are a timeseries was incomplete or missing at that time (e.g. SNMP was just enabled, flow devices timeseries were just enabled).

[2020-08-19 15:32] lucaderi commented on #4304
1h is way too much: it must be in sync with SNMP or netflow

[2020-08-19 15:53] simonemainardi commented on #4312
Thanks for reporting. New builds are in progress. Please wait a couple of hours and try again.

[2020-08-19 16:35] simonemainardi commented on #4304
synced with the SNMP pool interval which is 5 minutes. Results are still consistent. Notes describe how this ratio is calculated and the time interval used.

![image](https://user-images.githubusercontent.com/3397663/90664026-bb890d80-e24a-11ea-8640-a67adc4afaef.png)

[2020-08-19 16:35] #4304 closed, assigned to simonemainardi

[2020-08-19 16:40] simonemainardi opened #4313 "Traffic profiles no longer working"
Trying to add a profile yields an empty page

![image](https://user-images.githubusercontent.com/3397663/90664780-66013080-e24b-11ea-85f6-226cae5b4b76.png)

A user also reported that any existing user profile gets deleted.

[2020-08-19 17:06] #4313 closed, assigned to simonemainardi

[2020-08-20 06:32] TimotheusBachinger commented on #4312
Thanks Simone, cookies are working again.

[2020-08-20 07:37] simonemainardi commented on #4309
do you have any feedback so far?

[2020-08-20 09:15] simonemainardi commented on #4143
The file cannot be deleted as it is under `/var/run` which, in turn, is a symlink to `/run`, which is not writable by user `ntopng`. Privileges of the file are not enough as it is required to have also write permission on the containing directory.

[2020-08-20 09:35] #4143 closed, assigned to simonemainardi

[2020-08-20 09:45] #4278 closed, assigned to simonemainardi, cardigliano

[2020-08-20 09:51] #4149 closed, assigned to simonemainardi

[2020-08-20 13:42] simonemainardi commented on #4290
Implemented as requested:

![image](https://user-images.githubusercontent.com/3397663/90775878-acad6400-e2f9-11ea-945b-b62cb8591543.png)

![image](https://user-images.githubusercontent.com/3397663/90777193-5d683300-e2fb-11ea-8f2f-afe88f1a08df.png)

[2020-08-20 13:42] #4290 closed, assigned to simonemainardi

[2020-08-20 17:25] lucaderi opened #4314 "Split host score"
Host score is currently the sum of client and server score. This is suboptimal for detecting if a given host is an attacker or attacked. It is required to split the host score in client and server score. The current score stays as is, but it is the sum of the two.

Ticket #3833 depends on this feature request.

[2020-08-20 17:48] lucaderi opened #4315 "Add SNMP port toggle"
In case SNMP is enabled it is possible to detect on which port a given host is connected. A host can be observed on multiple ports is trunk ports are considered. For the sake of this ticket, we defina a host connected to a port when the such port is an access port (i.e. untagged with no trunk set).

This ticket requires to implement two items
- in the SNMP device page, it is required to implement

[2020-08-20 17:55] lucaderi commented on #3833
Attack mitigation will be implemented by means of a new script that will use the client score (#4314): the idea is to block a host that is attacking (thus client score) the rest of the network via SNMP. Attack mitigation in the future can be implemented also for server score (not via SNMP) so for the sake of code reusability it is requested to write the mitigation code in a way that it can be exte

[2020-08-21 08:23] simonemainardi opened #4316 "Show traffic profile in nIndex flows"
Flows stored in nIndex have their traffic profile written as well. However, the profile isn't shown when accessing such flows. It is requested to show the traffic profile as a blue badge as already done for active flows.

[2020-08-21 13:16] simonemainardi commented on #4315
SNMP port toggle added. An "Actions" column has been added with a direct link to the interface "config" page.

![image](https://user-images.githubusercontent.com/3397663/90893465-5571c700-e3bf-11ea-9e3f-6d3aae30e82c.png)

The port admin status can be toggled from then "config" page as any other configuration related to the interface:

![image](https://user-images.githubusercontent.com/3397663/9089

[2020-08-21 13:16] #4315 closed, assigned to simonemainardi

[2020-08-21 14:50] simonemainardi commented on #4314
Implemented.

[2020-08-21 14:50] #4314 closed, assigned to simonemainardi

[2020-08-21 15:45] simonemainardi commented on #4309
Solution given. No feedback received. Closing.

[2020-08-21 15:45] #4309 closed, assigned to nobody

[2020-08-21 17:23] Aikatsui commented on #1670
Design suggestion: ntopng interface quite big for 15inch laptop screens then we only able to see few details (especially affect due screen height). is it possible to add option for zoom out interface eg: 70% 60% and it must remain till adjust again. (sometimes we may not use big screens).

[2020-08-21 17:32] Aikatsui opened #4317 "Add option for disable blocklist updates"
i dont like ntopng often connect to blocklist servers. i can manually block however it's good to have option in software then add 'Disabled' option to update frequency

Setting path
settings > category lists > a list > action > edit > update frequency

[2020-08-22 14:45] simonemainardi commented on #4317
This is already supported. You can disable lists you don't want to be fetched by ntopng.

[2020-08-22 14:45] #4317 closed, assigned to nobody

[2020-08-22 17:01] ummeegge commented on #4286
@simonemainardi of course i can give it a try. It might be great if you can point me in the correct direction to give this implementation a try.

Best regards,

Erik

[2020-08-24 13:10] simonemainardi commented on #3833
Implemented. As requested, the client score is used to possibly trigger an `snmpset` on the host access port.

An alert is triggered as well to let the user know about the performed action:

![image](https://user-images.githubusercontent.com/3397663/91046904-8816fc00-e619-11ea-93a9-aac63248c9d8.png)

By default, the script is disabled and has a minimum score of 30000. The script can be configured

[2020-08-24 13:10] #3833 closed, assigned to simonemainardi

[2020-08-24 14:41] lucaderi opened #4318 "Rework FifoQueue.cpp, FifoStringsQueue.cpp, FifoSerializerQueue.h"
Class FifoQueue can be be removed and FifoStringsQueue rewritten in C++

Class FifoSerializerQueue.h needs also to be adapted.

[2020-08-24 15:43] lucaderi opened #4319 "Backport some REST features to 4.0"
The following tickets code need to be back ported onto the 4.0 stable
- https://github.com/ntop/ntopng/issues/4217
- https://github.com/ntop/ntopng/issues/4218
- https://github.com/ntop/ntopng/issues/4219
- https://github.com/ntop/ntopng/issues/4220
- https://github.com/ntop/ntopng/issues/4281

[2020-08-24 15:59] simonemainardi commented on #4285
After internal discussion we have decided to perform validation on C++:
- the JSON must be decoded and;
- the `csrf` token must be validated for any of the API calls going to any REST endpoint different from `rest/<version>/get`.

[2020-08-24 16:05] simonemainardi opened #4320 "Review implementation of Score"
The current implementation of score is cumbersome. For example, the whole flows hash table is walked every minute before executing the `host_score.lua` plugins. Other issues may involve the use of `unsafe` pointers. In addition, increases are divided into `incValue` and `incIdleFlowScore`.

It is requested to review the current implementation and possibly simplify it.

Implementation must work als

[2020-08-24 16:19] simonemainardi opened #4321 "Implement notification recipients in an OO fashion"
Similar to what has been done for pools, notification recipients must be implemented as objects. So basically there will be a `base_recipient` and then the other recipients such as `email_recipient`, `webhook_recipient`, all implemented as sub-classes of `base_recipient`.

In principle, class `base_recipient` can stay under `modules/recipients/base_recipients.lua` whereas all the sub-classes can b

[2020-08-24 16:23] simonemainardi opened #4322 "Merge notification endpoints and notification recipients"
Currently, notification endpoints are separate from notification recipients. It is requested to merge endpoints together with recipients to:

- simplify the UI
- simplify the test of newly added recipients

After this implementation, only recipients will be left and will be equivalent to the current endpoint+recipients implementation.

[2020-08-24 16:25] simonemainardi opened #4323 "Update the UI with the new merged OO recipients"
After the implementation of:

https://github.com/ntop/ntopng/issues/4321
https://github.com/ntop/ntopng/issues/4322

The UI of recipients needs to be reworked to use the new implementation.

[2020-08-24 16:28] simonemainardi opened #4324 "Implement monitoring of recipients queues"
Recipients get their notifications enqueued into per-recipient queues.

It is requested to monitor these queues so that it is possible to now, at every time, how many notifications have been enqueued, how many of them have been dequeued, and how many are waiting in the queue.

This implementation must be done inside `base_recipient` once the implementation of https://github.com/ntop/ntopng/issues/

[2020-08-24 16:30] simonemainardi commented on #4323
The new UI will also show, for each recipient, the information computed in

https://github.com/ntop/ntopng/issues/4324

[2020-08-24 16:34] simonemainardi opened #4325 "Implement SQLite as any other notification recipient"
Currently, notification/alerts are written into SQLite regardless of any other recipient defined. It is requested to implement SQLite as any other notification recipient. This SQLite recipient will be called `ntopng builtin` and won't be deletable from the list of recipients. However, it will be possible to disable it. This is useful to alleviate pressure on highly loaded machines.

[2020-08-24 16:39] simonemainardi commented on #4265
For the email alert endpoint, it will be desirable to have the email template specified as well. Desirable to re-use the current plugin engine already used inside ntopng.

[2020-08-24 16:42] simonemainardi commented on #4257
This will be re-opened if necessary after the implementation of https://github.com/ntop/ntopng/issues/4321

[2020-08-24 16:42] #4257 closed, assigned to gabryon99

[2020-08-24 16:43] simonemainardi commented on #4153
any suggestion to reproduce?

[2020-08-24 16:44] #4144 closed, assigned to gabryon99

[2020-08-24 16:48] simonemainardi commented on #3730
This is now implemented with the concept of host pools and recipients associated.

[2020-08-24 16:48] #3730 closed, assigned to nobody

[2020-08-24 16:50] simonemainardi commented on #3726
This is supported. It suffices to search the host in the search bar. Both if the host is active or inactive (but serialized), the host can be accessed and its alerts browsed.

[2020-08-24 16:50] #3726 closed, assigned to nobody

[2020-08-24 16:51] simonemainardi opened #4326 "Review MUD implementation"
MUD implementation should be partial. It is requested to review it and possibly complete or remove it.

[2020-08-24 16:52] simonemainardi commented on #4326
Also consider this when doing the review https://github.com/ntop/ntopng/issues/3499

[2020-08-24 16:54] simonemainardi commented on #3072
As the tables with aggregated flows have been removed, the number of nIndex interfaces can now be doubled to keep the number of open files constant.

[2020-08-24 16:58] simonemainardi commented on #3558
Current implementation adds support for this. Every RTT-monitored host can be assigned to a pool which, in turn, can be configured with one or more notification recipients to send emails, slack notifications, etc.

[2020-08-24 16:58] #3558 closed, assigned to nobody

[2020-08-24 17:04] simonemainardi commented on #2944
https://github.com/ntop/ntopng/issues/4325

For the time being, we decided not to do this.

This is decoupled in the latest implementation.

[2020-08-24 17:04] #2944 closed, assigned to nobody

[2020-08-24 17:09] simonemainardi commented on #3124
Implemented in https://github.com/ntop/ntopng/issues/2635?#issuecomment-676440796

[2020-08-24 17:09] #3124 closed, assigned to nobody

[2020-08-24 17:12] simonemainardi opened #4327 "SNMP does not correctly show write community"
When the write community is configured, the SNMP edit modal doesn't show it correctly. It is requested to fix this.

[2020-08-24 19:40] lucaderi opened #4328 "AddressSanitizer bug report"
==7426==ERROR: AddressSanitizer: heap-use-after-free on address 0x60700146a690 at pc 0x00000043a5e8 bp 0x7f4de2da2be0 sp 0x7f4de2da2388
READ of size 1 at 0x60700146a690 thread T27 (ht_state_update)
    #0 0x43a5e7 in strcmp (/home/deri/ntopng/ntopng+0x43a5e7)
    #1 0x668de9 in luaS_new (/home/deri/ntopng/ntopng+0x668de9)
    #2 0x65d922 in lua_pushstring (/home/deri/ntopng/ntopng+0x65d922)
    #3

[2020-08-24 22:14] #4318 closed, assigned to lucaderi

[2020-08-25 02:49] oskar-fagerfjall opened #4329 "Two year license typo in documentation?"
In the document "What is ntopng?" under the section Licensing, one can read the following:

I read this as a full two years. Should this example really be "until 12/31/2020", or is licensing more convoluted than I thought?

[2020-08-25 09:43] simonemainardi opened #4330 "User script enable button does not work"
The green button is ineffective, nothing happens when clicking on it.

![image](https://user-images.githubusercontent.com/3397663/91159164-f74b2980-e6c7-11ea-9db4-cb1f28d3aedf.png)

The only way to re-enable a script is to click on "Edit" and then "Apply"

![image](https://user-images.githubusercontent.com/3397663/91159216-0631dc00-e6c8-11ea-850c-eac97a87eb68.png)

However, for scripts without par

[2020-08-25 10:22] simonemainardi commented on #4327
Fixed in https://github.com/ntop/ntopng/commit/32951bb50ab82a9416e8d577721c31a81fbe5dd9 and companion pro commit.

[2020-08-25 10:22] #4327 closed, assigned to simonemainardi

[2020-08-25 10:25] #4329 closed, assigned to nobody

[2020-08-25 10:26] simonemainardi commented on #4329
thanks for pointing this out

[2020-08-25 13:30] ShagoY commented on #4194
After analysis, I think I have found the behavior that is causing my problem.
First of all, I don't encounter this problem with the stable version (4.0.x) and it only impacts hosts (IPv4/IPv6) under VLAN with the dev version (4.1.x).

So when I modify the Host Alias of a host under VLAN, the UI doesn't seem to have taken into account the modification and always displays "Custom Name".
While analyz

[2020-08-25 13:45] cardigliano commented on #4319
Backported

[2020-08-25 13:45] #4319 closed, assigned to lucaderi, cardigliano

[2020-08-25 14:14] ShagoY opened #4331 "Resolve local hostname from MAC address"
Hi,

My ISP requires me to use a dual stack IPv4+6 for some of these devices such as Android TV box.

As we know Android does not allow DHCP, and its IPv6 changes regularly for security reasons.

Ntopng already detects the different IPs according to the MAC address (hosts_stats.lua?mac=xx:xx:xx:xx:xx).
So it would be interesting if Ntopng could use the hostname it manages to resolve and use it for

[2020-08-25 14:34] u238 commented on #4319
Hi all,

it would be great to have this PR inside too:
#4082

[2020-08-25 14:40] cardigliano commented on #4319
@u238 this has been backported today

[2020-08-25 14:47] #4285 closed, assigned to simonemainardi

[2020-08-25 14:55] simonemainardi commented on #4331
why the hostname and not the MAC address? You can also specify the MAC address as local broadcast domain so that all the timeseries and historical data are kept on a per-MAC basis. So basically if you have IP1 and then IP2 associated to the same MAC, you'll be able to see the same data regardless of the IP change

![image](https://user-images.githubusercontent.com/3397663/91190321-bf59db80-e6f3-11

[2020-08-25 15:50] ShagoY commented on #4331
Ok, I just enabled the "Local Broadcast Domain Hosts Identifier" option and added the associated DHCP range but it didn't change anything.

For info, with my dual stack devices managed by my DHCPv4+6 server (except for the link-local address), I have the hostname followed by the [IPv6] tag.
But for Android devices, it's another story...

![Annotation 2020-08-25 174143](https://user-images.githubus

[2020-08-25 16:24] simonemainardi commented on #4294
This is the commit for reference: https://github.com/ntop/ntopng/commit/20a29cf77fb28820fdfb76628a0db40b2b45048f

[2020-08-25 16:42] cardigliano commented on #4194
@ShagoY please check the next build, I pushed a fix for this

[2020-08-25 16:43] simonemainardi commented on #4331
You don't see changes in the frontend. Changes are in how historical data is stored.

Example:

- at time t0 you have MAC with IP1
- at time t1 you have MAC with IP2
- at time t2 you have MAC with IP3

If at time t2 you look at IP3 historical data, you will actually see MAC stats, that is, the union of IP1, then IP2, and IP3.

Does this makes sense to you?

[2020-08-25 16:44] simonemainardi commented on #4331
by the way, the only guy in your local broadcast domain (at least from what I can see in the picture) is the IPv4 Freebox Player.

[2020-08-25 18:18] Aikatsui commented on #4317
@simonemainardi  No. i want to keep certain lists enabled but prevent get updated often (hourly/daily)
v.4.0.200511

[2020-08-25 18:19] ShagoY commented on #4194
Np :) What time do you usually do updates?

[2020-08-25 22:13] ShagoY commented on #4331
Sorry, this is a screenshot of the hosts_stats.lua page "All Hosts with Mac XX:XX:XX:XX:XX", not the "All Hosts" page. so it's a screenshot displaying the different IPv4&6 of the same host :)

The thing is that I do have a hostname for my IPv6 on dual-stack hosts being managed by the dhcpv6 (But none for the link-local) but Android hosts don't manage the dhcpv6, only the SLAAC.

So I would like th

[2020-08-26 09:12] jonaskluger opened #4332 "alert drilldown link via REST API"
As a Pro user of the ntopng API I want to get the drilldown html link for alerts.

Result of this function:

scripts/lua/get_alerts_table_data.lua
graph_utils.getAlertGraphLink(getInterfaceId(ifname), _value, alert_info, engaged)

![image](https://user-images.githubusercontent.com/39433953/91284860-c1bc4400-e78c-11ea-831e-d27bcfe318bb.png)

[2020-08-26 09:17] #4328 closed, assigned to simonemainardi, lucaderi

[2020-08-26 09:52] #4330 closed, assigned to simonemainardi

[2020-08-26 10:10] lucaderi opened #4333 "Locate Host via SNMP"
As of today the function
function snmp_location.get_host_snmp_ports(mac)
...
end

locates a MAC address via SNMP reporting the list access ports and trunk ports where such MAC has been observed. The problem of this code is that this MAC is not clear where it is really located. For instance it can report more than one access port and this is wrong.

This ticket requests to implement a function, tha

[2020-08-26 11:35] anust opened #4334 "Network Device Discovery Fields not saved in ntopng?"
I cannot save ARP responses in Elasticsearch, except the MAC addresses.

[2020-08-26 12:33] ShagoY commented on #4194
All good now ! thank you :)

[2020-08-26 12:35] #4194 closed, assigned to nobody

[2020-08-26 13:10] fsamareanu opened #4335 "#3144 has resurfaced"
Hello,

#3144 has again resurfaced. This generates an e-mail every time it's ran by cron.

[code]

[2020-08-26 17:30] ShagoY commented on #4331
Basically, if the key "ntopng.dns.cache.[IPv6]" is not resolved (=IPv6), we use either :
1- "ntopng.dns.cache.[IPv4]" if it is resolved. This is the "automatic" way.
2- "ntopng.cache.host_labels.[Mac]" if it exists. But I'll need set aliases before.
3- "ntopng.dns.cache.[ipv6-link-local]" (eg. fe80::*). But I'll need to add override dns associations on my domain server before.

Except error and be

[2020-08-26 17:41] ShagoY opened #4336 "The [IPv6] suffix is not displayed."
If I add an alias to an IPv6 host, the suffix "[IPv6]" is no longer displayed in the dashboard.

It's not much but it would make the dashboard sexier! :-D

Thanks.

ntopng v.4.1.200826

[2020-08-26 19:13] njcwotx opened #4337 "Issue ntopng causing interfaces to stop breifly on linux iptables firewall router"
I run ntopng in tandem with an iptables firewall router for many years now.  I have upgraded to buster about a year ago, and recently performed a full update cycle, including ntopng.

After this update, I started having packet loss on all devices behind the firewall on 2 separate ports for about a week now.  I have tracked it to ntopng.   If I stop ntopng services, the issue no longer occurs.   If

[2020-08-26 19:21] simonemainardi commented on #4333
implemented function `get_host_access_port` as requested. Implementation available in pro commit 7b3d61d59bb72e6e932cd9a06f27a2cfb4f29aa0.

[2020-08-26 19:21] #4333 closed, assigned to simonemainardi

[2020-08-26 22:23] ShagoY commented on #4331
After I set an alias directly on the mac address again, my ipv6 (unresolved) took the right hostname in the flows page.

I don't know why it didn't work before...

Sorry for wasting your time. Thanks for your time.

[2020-08-26 22:23] #4331 closed, assigned to nobody

[2020-08-26 22:28] ShagoY commented on #4331
Edit: I just saw that the local-link IPv6 (fe80::/10) doesn't take the alias of the mac address.

As on the WAN side, ipv6 unicast (2000::/3) is not resolved by ntopng because the mac address is the one of my Pfsense firewall. Is there a way to fix this?

[2020-08-27 01:02] Yoshihiro-jp opened #4338 "throughput.lua doesn't work in the latest stable version of ntopng"
I checked the "throughput.lua" in the latest stable version of ntopng whether it works or not.

ntop@ntop:/usr/share/ntopng/scripts/plugins/threshold_cross/user_scripts/host$ sudo ntopng --version
v.4.0.200825    [Enterprise/Professional build]
GIT rev:        4.0-stable:db6bde4c54ade33b72167cce7856bde3cd1d2bfb:20200825
Pro rev:        r2816
Built on:       Ubuntu 18.04.5 LTS
System Id:      XXXXX

[2020-08-27 08:18] #4338 closed, assigned to nobody

[2020-08-27 08:25] simonemainardi commented on #4336
can you provide a patch for this?

[2020-08-27 08:31] simonemainardi commented on #4337
So basically ntopng is running on the router? That is, "eth0", "eth1", "eth2"  are router interfaces and devices connected to those interfaces experience drops?

Make sure to update ntopng to the latest dev version. Then:
- Make sure there's no SNMP device configured under system->SNMP (`ERROR: ntop_snmpv3_batch_get : expected string[@pos 4], got nil` seems to be related to SNMP).
- Check the syst

[2020-08-27 08:34] simonemainardi commented on #4334
This is what is currently saved in ES: https://github.com/ntop/ntopng/blob/dev/src/Flow.cpp#L2258

What would you like to have in addition to these fields? Note that it is not practical to save everything or we'll end up in filling ES too much.

[2020-08-27 15:45] ShagoY commented on #4336
Sincerely I would have liked to help you and when I tried, I had 141 results in the code... Because the search under github could not find [IPv6] because it is not "case sensitive" and ignores [] symbols.
I didn't know where to start :-/

Not to mention that I'm not a developer ^^

[2020-08-27 16:00] ShagoY commented on #4336
Some additional information that I hope will help...
It seems that the [IPv6] suffix only appears when the host is resolved automatically.
And in my case I just added a custom alias directly on the mac address. Not directly on the host.
So by logic, I guess that as soon as a key of the type "ntopng.cache.host_labels.\*" exists, we lose the suffix.
And the opposite if ntopng only finds an associate

[2020-08-28 07:52] cardigliano commented on #4335
@fsamareanu since I am not able to reproduce the same, could you run the script with "bash -x /usr/bin/ntopng-utils-manage-updates -a check-updates-on-demand" and provide the output? Thank you.

[2020-08-30 09:28] lucaderi opened #4339 "LInk-Local Addresses are marked (wrongly) as Remote"
![Screen Shot 2020-08-30 at 11 26 44](https://user-images.githubusercontent.com/4493366/91655792-bc743780-eab3-11ea-89cd-5872595d7400.png)

https://en.wikipedia.org/wiki/Link-local_address

[2020-08-31 01:01] MaoPann opened #4340 "31/Aug/2020 08:58:39 [Prefs.cpp:1283] WARNING: Config file start not found"
ntopng start

31/Aug/2020 08:58:39 [Prefs.cpp:1283] WARNING: Config file start not found

[2020-08-31 01:07] MaoPann opened #4341 "ntopng[7393]: [Trace.cpp:118] ERROR: Unable to create log /var/log/ntopng/ntopng.log"
./ntopng status
ntopng[7393]: [Trace.cpp:118] ERROR: Unable to create log /var/log/ntopng/ntopng.log

[2020-08-31 06:58] cardigliano commented on #4340
The correct command is "systemctl start ntopng"

[2020-08-31 06:58] #4340 closed, assigned to nobody

[2020-08-31 06:59] cardigliano commented on #4341
As in #4340, please use "systemctl status ntopng"

[2020-08-31 06:59] #4341 closed, assigned to nobody

[2020-08-31 07:03] MaoPann commented on #4341
systemctl status ntopng
 [Trace.cpp:118] ERROR: Unable to create log /var/log/ntopng/ntopng.log

[2020-08-31 07:04] MaoPann opened #4342 "systemctl status ntopng"
systemctl status ntopng
[Trace.cpp:118] ERROR: Unable to create log /var/log/ntopng/ntopng.log

[2020-08-31 07:27] simonemainardi commented on #4342
Did you enable the creation of the log file from the preferences? In that case you need to run ntopng with `--dont-change-user`. However, you should just let systemd handle the logs for you.

[2020-08-31 07:33] MaoPann commented on #4342
I don't quite understand what you mean

[2020-08-31 07:35] simonemainardi commented on #4342
turn this off:

![image](https://user-images.githubusercontent.com/3397663/91694651-39171c80-eb6d-11ea-9d71-708044c2dfe3.png)

then restart and use `journalctl -u ntopng` to browse ntopng logs.

[2020-08-31 07:37] MaoPann commented on #4342
thanks!!!

[2020-08-31 07:38] #4342 closed, assigned to nobody

[2020-08-31 07:55] #4339 closed, assigned to nobody

[2020-08-31 07:57] simonemainardi commented on #4334
Solution given. No feedback received. Closing.

[2020-08-31 07:57] #4334 closed, assigned to nobody

[2020-08-31 10:44] simonemainardi commented on #4316
Implemented in cef4e57 and companion pro commit.

[2020-08-31 10:44] #4316 closed, assigned to nobody

[2020-08-31 12:06] santuari opened #4343 "Influxdb time-series driver automatic pre-configuration"
I need to provision ntopng with [influxdb database for storing time-series historical data](https://www.ntop.org/guides/ntopng/basic_concepts/timeseries.html) enabled and configured by default. In particular, I would like to be able to set [the configurations](https://user-images.githubusercontent.com/6616963/91716925-d33c8c00-eb90-11ea-97b1-cc16e78ff142.png).

Can I use a config file or a rest AP

[2020-08-31 13:34] simonemainardi commented on #4343
Currently, influxdb configuration via API is not supported. However, you can clone file '<datadir>/ntopng/runtimeprefs.json' as the configuration is written there.

[2020-08-31 13:48] santuari commented on #4343
thanks @simonemainardi
How can I use that file to be able to automatically enable and configure the influxdb to store history data?
Thanks!

[2020-08-31 14:04] thalthoff opened #4344 "Home setting question"
Hi all!

I'd like to know what license(s) I'd need to do the following:

Setting: Home network, some 30-50 network devices, An internet-access-router that supports IPFIX and a bored Pi3 with an external 3TB HDD.

What I want to do: I'd like to collect the IPFIX data that the main router produces with nProbe on the Pi and write all data in a mySQL/MariaDB on that same Pi. If the Pi is "strong enoug

[2020-08-31 14:15] simonemainardi commented on #4263
REST API endpoint is complete. Please, the endpoint (see https://github.com/ntop/ntopng/issues/4299 for an example) to complete the implementation.

[2020-08-31 14:15] simonemainardi commented on #4299
Implemented in https://github.com/ntop/ntopng/commit/6e0ae904dfb34520d3749552f7b6d6707c4ec932.

[code]

Response returns a lua array with all pools. An additional `key` is returned along with every pool so that it is possible to determine the family of the pool, e.g., `interface`, `host`, etc.

Example response:

[code]

[2020-08-31 14:15] #4299 closed, assigned to simonemainardi

[2020-08-31 14:35] simonemainardi commented on #4344
required setup is

- nProbe (standard Version suffices for IPFIX collection)
- ntopng Community or above

However, using MySQL/MariaDB is not really recommended in real scenarios. They will choke quickly and become too slow to be usable. So basically slow queries and slow insertions. This, mixed with a low-end PI, won't bring you far.

My recommendation is to use ntopng Pro or above with our speci

[2020-08-31 14:36] simonemainardi commented on #4343
- do the configuration from the UI
- stop ntopng both on the source and on the destination machine
- copy file `runtimeprefs.json` from the source to the destination machine
- restart both ntopng instances

[2020-08-31 14:48] thalthoff commented on #4344
Thank you very much for your quick answer!

So how do I have to go on? nProbe, standard edition on the Pi and ntopng pro edition or above on my Mac mini? Or would it be easier (make more sense) to implement nProbe standard and ntopng pro together on that Mac mini and let the Pi to continue to be bored?

Edit: The Mac mini is a Mac mini Server (Late 2011) with a 2GHz Intel Core i7 and 16GB RAM plus

[2020-08-31 15:53] #4297 closed, assigned to simonemainardi

[2020-08-31 15:57] simonemainardi commented on #4344
you can leave nProbe on the PI - and so save some $$$ as the ARM license is cheaper - and then run ntopng on the Mac. Note that with ntopng Pro there's a maximum of three days retention for flows, whereas unlimited retention comes with Enterprise version.

[2020-08-31 16:19] #3072 closed, assigned to nobody

[2020-08-31 16:28] simonemainardi opened #4345 "Unable to add active monitoring hosts - circular require"
Adding an active monitoring host yields

[code]

Likely, there's a circular require.

[2020-08-31 16:43] anust commented on #4334
@simonemainardi Thanks for the reply, I need OS resolved to be saved in ntopng ES index

[2020-08-31 17:02] #4345 closed, assigned to nobody

[2020-08-31 20:02] lucaderi opened #4346 "Create a Discord Webhook"
Currently ntopng can post a message on discord as follows

---
url = "https://discordapp.com/api/webhooks/XXXXXXXXXX"
data = '{"username": "ntopng", "content": "This is a test"}'
rc = ntop.httpPost(url, data)
---

Unfortunately recipient + webhook won't work as they are unable to create a JSON as requested by discord.

This ticket is to request the creation of a discord recipient where it is possi

[2020-09-01 05:56] MaoPann opened #4347 "Can ntopng be used with third-party network probes."
I want to install ntop in the virtual machine and use it to monitor the data of A third-party network probe. Can it be realized? If it can be implemented, do we need any special configuration?

[2020-09-01 06:40] simonemainardi commented on #4347
please give details of the third-party network probe.

[2020-09-01 06:44] lucaderi commented on #4325
See https://github.com/ntop/ntopng/commit/aeecbcce296780ede7561b96f4e28780b0086e2e

[2020-09-01 06:54] thalthoff commented on #4344
Ok, got that! Thank you! If I keep saving $$$ apart, which scenario would be the most recommended, most manageable, easiest to maintain? Which one would YOU implement in your home with the given ressources, if $$$ for licenses has a "lower" priority?

[2020-09-01 07:10] MaoPann commented on #4347
Details of the third party network probe are given later.Then,I have installed ntopng monitoring on the virtual machine. Is there any problem with this? And I have multiple virtual machines installed on my server.

[2020-09-01 07:53] fsamareanu commented on #4335
[bash_out.txt](https://github.com/ntop/ntopng/files/5154679/bash_out.txt)
Attached

[2020-09-01 09:29] simonemainardi commented on #4347
ntopng can be installed on a VM without problems. Waiting for probe details.

[2020-09-01 09:47] MaoPann commented on #4347
Details of the third party network probe are given later.Then,How to import network probe data into a specific virtual machine, because we have multiple virtual machines.

[2020-09-01 13:48] jednoprsak opened #4348 "monitor Netflow/Sflow data that could reach up to 100 Gbps bandwith"
I was thinking about using some combination of ntopng, nprobe and cento, but I would like to know, what would you recommend for solving our problem. We want to monitor Netflow/Sflow data that could reach up to 100 Gbps bandwith. We will export these data from our Cisco switch interface. Please could you suggest some solution for our issue?

[2020-09-01 15:43] lucaderi commented on #4277
Closed for inactivity. Will reopen if necessary

[2020-09-01 15:43] #4277 closed, assigned to nobody

[2020-09-01 17:47] lucaderi commented on #4347
This is a discussion for discord and not for github Please move to it https://www.ntop.org/community/

[2020-09-01 17:47] #4347 closed, assigned to nobody

[2020-09-01 18:14] junaid-soomro-ivolve opened #4349 "Historical Flows API: get all records"
What i am confused with is i am using API to check for historical flows now by default flow limit is 10 per request and if i provide the limit parameter in the API then i can get more flows. i am asking is there a way to pull all flows in one request via API call? or any work around for this task would be deemed useful thank you.

i have seen this parameter called max_hits=10 which only gets 10 re

[2020-09-02 02:52] MaoPann opened #4350 "Can ntopng directly monitor data from SPAN or TAP？"
Can ntopng directly monitor data from SPAN or TAB？

[2020-09-02 02:53] MaoPann commented on #4350
Or use nprobe and ntopng to monitor?

[2020-09-02 03:26] MaoPann opened #4351 "After Enabling Flow Dump,Where is the stream data stored?"

[2020-09-02 03:28] MaoPann opened #4352 "Can ntopng display the network data of USB interface？"

[2020-09-02 08:59] simonemainardi commented on #4350
See https://www.ntop.org/guides/ntopng/use_cases/mirror_tap_monitoring.html

Before flooding GitHub with questions, make sure you've gone through all the available documentation https://www.ntop.org/guides/ntopng/ and blog https://www.ntop.org/blog/

[2020-09-02 08:59] #4350 closed, assigned to nobody

[2020-09-02 09:08] simonemainardi commented on #4348
Challenge here is not  bandwidth per-se but  the number of Netflow flows / sFlow samples generated per second.

The combination of software to be used is nProbe (for the collection) + ntopng (for the visualization and analysis).

As a ballpark, consider that nProbe+ntopng can handle approx. 100k flows per second when nProbe is used in `--collector-passthrough`.

So the first thing to do here is to

[2020-09-02 09:10] simonemainardi commented on #4343
Does this helps? Did you manage to use the file?

[2020-09-02 09:11] simonemainardi commented on #4344
I would keep everything on x86_64.

[2020-09-02 09:13] simonemainardi commented on #4349
Currently, this is not supported with REST API. The maximum number of flows exported in one single request is 10k.

I think we would have to implement a 'cursor'/'pagination' mechanism to allow all flows to be retrieved. It's not practical to send all of them in a single response as this can become HUGE.

[2020-09-02 09:14] simonemainardi commented on #4351
Which option did you use to enable flows dump?

[2020-09-02 09:15] simonemainardi commented on #4352
It that is an USB network interface, then yes, you can display network data as any other network interface using ntopng option `-i` with the interface name as seen on the system.

[2020-09-02 09:19] junaid-soomro-ivolve commented on #4349
Thanks Mr. Simone. Good to know.

[2020-09-02 09:24] santuari commented on #4343
We need to also update our current installations, so in this way, we might override the existing settings.
Moreover, the settings are "hashed" so it is difficult to know if we have applied the change or not in an automatic procedure.
Does [this approch](https://github.com/ntop/ntopng/issues/4295#issuecomment-674811514) make sense also for this use case? What do you think?

[2020-09-02 09:53] MaoPann commented on #4351
I want to enable Flow Dump with -F nindex or  Data Retention,But I don't know the difference between the two methods. Where do the two methods save flows.

[2020-09-02 10:44] #4352 closed, assigned to nobody

[2020-09-02 10:45] lucaderi commented on #4351
please ask these questions on discord leaving github for tickets

[2020-09-02 10:45] #4351 closed, assigned to nobody

[2020-09-02 10:45] lucaderi opened #4353 "Unable to edit recipient name"
![Screen Shot 2020-09-02 at 12 43 44](https://user-images.githubusercontent.com/4493366/91971854-2a219d00-ed1a-11ea-80de-0e5fefbd4e0f.png)

[2020-09-02 10:46] lucaderi opened #4354 "Unable to edit endpoint name"
![Screen Shot 2020-09-02 at 12 43 15](https://user-images.githubusercontent.com/4493366/91971918-3efe3080-ed1a-11ea-8fe8-f0a764b98f27.png)

[2020-09-02 10:49] lucaderi opened #4355 "Email test button logs on console with no visual feedback"
![Screen Shot 2020-09-02 at 12 47 43](https://user-images.githubusercontent.com/4493366/91972187-97cdc900-ed1a-11ea-8cd2-434aaeb579dd.png)

02/Sep/2020 12:47:35 [Utils.cpp:1703] WARNING: Unable to send email to (smtp://mail.ntop.org/ntop.org): Login denied. Run ntopng with -v6 for more details.
02/Sep/2020 12:47:38 [Utils.cpp:1703] WARNING: Unable to send email to (smtp://mail.ntop.org/ntop.org):

[2020-09-02 11:09] lucaderi commented on #4321
The key of EVERYTHING in ntopng must be agnostic to the value it handles. It can be a UUID, a number or anything as long as it's unique and immutable when the the data it refers is modified

[2020-09-02 13:34] simonemainardi opened #4356 "Import/Export configuration in Active Monitoring not working"
Button has a strange look and opens a non-existing page

<img width="527" alt="image" src="https://user-images.githubusercontent.com/3397663/91990151-ad022200-ed31-11ea-861f-573a82772e68.png">

[2020-09-02 14:23] lucaderi opened #4357 "Stateful alerts are not persistent"
Suppose I actively monitor host X and alert is triggered as X is down. If I restart ntopng another alert for X is sent even though the previous alert was already delivered to the expected recipient. This needs to be fixed by introducing some for of (redis?) persistency to avoid alarm storms to be generated whenever ntopng is restarted

[2020-09-02 14:28] thalthoff commented on #4344
Perfect! Thank you very much for your help!

-Thomas

[2020-09-02 15:08] simonemainardi commented on #4357
Proposed solution is:

- set the a `ntopng.cache.<fields_that_create_an_alert_key>` during `alerts_api.trigger()`
- delete the key during `alerts_api.release()`

At this point, a new notification is only dispatched during `alerts_api.trigger()` if the key doesn't exists.

[2020-09-02 15:09] simonemainardi commented on #4344
Thank you!

[2020-09-02 15:09] #4344 closed, assigned to nobody

[2020-09-02 19:47] lucaderi commented on #4357
Ok but
- the key must be short in length (MD5 could help instead of using fields)
- remember to cleanup redis when alerts are delivered etc

[2020-09-02 19:49] lucaderi opened #4358 "Split plugins apart"
The plugins folder contains heterogeneous components such as alerts, syslog extensions ....

it doesn't make any sense to mix them up but they must be stored in different folders, one per type and not all in the same place

[2020-09-02 19:51] lucaderi opened #4359 "Plugins are not self-contained"
Plugins must be self-contained meaning that when a new plugin folder is added, no other folder, file etc of ntopng has to be modified. As of today at least localisation breaks this principle that instead it must be honoured

For instace a new plugin must be listed in en.lua on

  ["types"] = {
      ["email"] = "Email",
      ["slack"] = "Slack",
      ["syslog"] = "Syslog",
      ["webhook"] = "W

[2020-09-02 19:54] lucaderi opened #4360 "Alert: export doesn't implement store-and-forward"
A plugin that delivers alerts to remote peers (e.g. via email HTTP etc) should not discard alerts if unable to deliver them remotely for a temporary failure. As email services do, they must stay in queue for some time (so the criteria is either time or length, or even both) and retransmitted as soon as the network comes back to life. This way alerts are delivered if possible and not discarded for

[2020-09-02 19:57] lucaderi opened #4361 "User interface is not stateless"
![Screen Shot 2020-09-02 at 21 45 04](https://user-images.githubusercontent.com/4493366/92030191-fb7de380-ed66-11ea-9c94-6c55c709e18c.png)

Suppose you do in a sequence
- on + and the endpoint name is empty
- click on edit on endpoint s, then click on +, in the endpoint name (of the newly open dialog)you will see s
- click on edit on endpoint web, then click on +, in the endpoint name (of the newl

[2020-09-02 20:00] lucaderi opened #4362 "Table layout is not responsive"
![Screen Shot 2020-09-02 at 21 59 36](https://user-images.githubusercontent.com/4493366/92030664-ab535100-ed67-11ea-9e43-72f43dffaed9.png)
![Screen Shot 2020-09-02 at 21 59 21](https://user-images.githubusercontent.com/4493366/92030670-ac847e00-ed67-11ea-8e2c-d42ed75bc93f.png)
![Screen Shot 2020-09-02 at 21 59 06](https://user-images.githubusercontent.com/4493366/92030673-ad1d1480-ed67-11ea-9910-8

[2020-09-02 22:55] lucaderi opened #4363 "Plugins don't use recipient template"
In plugins the recipient_template contains a template_name that is not used. Example ntopng/scripts/plugins/email_alert_endpoint/alert_endpoints/email.lua contains

local email = {
   conf_params = {
      { param_name = "smtp_server" },
      { param_name = "email_sender"},
      { param_name = "smtp_username", optional = true },
      { param_name = "smtp_password", optional = true },
   },
   c

[2020-09-02 22:57] lucaderi opened #4364 "Email plugin doesn't use the cc field"
![Screen Shot 2020-09-03 at 00 53 21](https://user-images.githubusercontent.com/4493366/92045156-288ac000-ed80-11ea-9c23-913e8c3efd1c.png)

In the email plugin the cc field is not used in emails (this regardless if the format of "cc" is correct or not), nor its value is stored if the format is not correct.

This ticket depends on #4363

[2020-09-03 08:01] #4357 closed, assigned to simonemainardi

[2020-09-03 08:08] simonemainardi commented on #4359
Distributing localization files in individual, plugin-specific files, is absolutely good from the point of view of the design as you've said. However, this will also be painful for the translations. Currently, translators are only given the single "locales/en.lua" file to translate. If we split the locales into multiple files, then we would also have to give translators multiple files or create an

[2020-09-03 08:22] lucaderi commented on #4359
You need to glue locales during plugin load

[2020-09-03 08:31] simonemainardi commented on #4359
Per-plugin locales are already supported and glued during load: https://www.ntop.org/guides/ntopng/plugins/localization.html

My comment only involves the act of doing the translation.

[2020-09-03 09:36] jednoprsak commented on #4348
Thank you for your response. I will deploy it inside our environment and let you know about the results.

[2020-09-03 12:18] #4363 closed, assigned to simonemainardi, gabryon99

[2020-09-03 12:46] #4364 closed, assigned to simonemainardi

[2020-09-03 14:31] #4355 closed, assigned to simonemainardi, gabryon99

[2020-09-03 14:31] simonemainardi commented on #4355
Status is now propagated to the end user in the UI:

![image](https://user-images.githubusercontent.com/3397663/92126397-6a5b4b00-ee00-11ea-9527-333b09f5e91c.png)

![image](https://user-images.githubusercontent.com/3397663/92126426-7515e000-ee00-11ea-9115-88d0feb7b13a.png)

[2020-09-03 14:53] simonemainardi commented on #4362
same for the SNMP page

[2020-09-04 10:49] simonemainardi opened #4365 "Implement two priority queues for each notification recipient"
Two queues are needed for each recipient, one high- and one low-priority:

- Low-priority will receive all but flow alert notifications
- High-priority will receive only flow alert notifications

Function `get_endpoint_recipient_queue(endpoint_recipient_name)` will be tuned to accept an alert as input an implement the necessary logic, thus returning a queue name which depends on the priority.

Ano

[2020-09-04 10:57] simonemainardi opened #4366 "Remove intermediate global queues - only leave per-recipient queues"
Currently, alerts are pushed into a global queue `ntop.pushAlertNotification(alert_json)` and then are popped from the global queue and pushed again into per-recipient queues, depending on the pool id (` notification_recipients.dispatchNotification`).

It is requested to:
- remove the global queue
- Push straight into the per-recipient queues as soon as the notification is generated

This basicall

[2020-09-04 15:11] hoangtnk opened #4367 "Ignore vlans does not work with RSS"
Due to limitation of our device's mirroring capability, we need to enable `--ignore-vlans` (#1870) for ntop to categorize flows correctly. Our network has roughly 2 - 3 Gbps traffic on average, thus we also use RSS to reduce packet drops. Unfortunately, these two features cannot work together. Anytime we use RSS, `--ignore-vlans` simply does not have any effect. As soon as I disable RSS, `--ignore

[2020-09-04 19:56] squad1534 commented on #4260
I'm having the same or a similar problem with creating Host Pools and Host Pool Members when in System and they are not showing up on the interface side or in the flows where that host should have the Host Pool label. When I click the + in Host Pool List it refreshes to a blank screen with "Version - ntop.org - and time stamps" nothing in the body.

Community Edition v4.1.200904 (11335)

[2020-09-07 01:51] MaoPann opened #4368 "How to make my own dashboard."
I want to do some simple secondary development to meet our monitoring needs. What should I do? For example, I want to make my own dashboard.

[2020-09-07 02:50] MaoPann opened #4369 "Why is there no data."
![image](https://user-images.githubusercontent.com/44804599/92344036-ebb02780-f0f7-11ea-9197-ad3c4f3f1a94.png)

[2020-09-07 02:52] MaoPann commented on #4369
![image](https://user-images.githubusercontent.com/44804599/92344132-2e71ff80-f0f8-11ea-9b69-838f90676c58.png)

[2020-09-07 03:32] hoangtnk commented on #4367
We've just migrated ntop to run on a much more powerful server, and observe no packet drops without using RSS (`--ignore-vlans` still enabled for the reason mentioned). My question is, what is the maximum traffic that ntop can handle without RSS? Can it reach up to 10 Gbps? If so, I think that's good enough for our environment and we don't need to tweak anything.

[2020-09-07 03:45] hoangtnk commented on #4369
Hi, make sure that you already has traffic sent to your server. Try `tcpdump` on the interface that ntop receives traffic.

[2020-09-07 04:00] MaoPann commented on #4369
![image](https://user-images.githubusercontent.com/44804599/92347188-c58f8500-f101-11ea-8d24-c246e1e250a0.png)

[2020-09-07 04:06] MaoPann opened #4370 "Why is the real-time traffic dashboard not real-time."
![image](https://user-images.githubusercontent.com/44804599/92347380-8150b480-f102-11ea-96ba-04215c5e8f06.png)

[2020-09-07 06:44] gabryon99 commented on #4362
Added a responsive table wrapper for each table. See the commit: https://github.com/ntop/ntopng/commit/ccaf1f7b285884e0d8446f4cb2b7cc2049d98f2a

[2020-09-07 07:09] hoangtnk commented on #4369
Have you configured ntop to listen on interface `ens33`? Please show the `ntopng.conf` file.

[2020-09-07 07:17] cardigliano commented on #4367
@hoangtnk I assume that your problem here is that you have the same flow which is going to different RSS queues as there is a different VLAN per direction, could you confirm? I need to check whether VLAN can be excluded by the adapter in the hash computation, what is your adapter model?
As of the performance, it depends on a few factors including CPU and avg packet size (i.e. pps), you should be a

[2020-09-07 07:25] gabryon99 commented on #4361
There was a bug during the modal closing filling the inputs in the wrong way due to selectors. See the commit: https://github.com/ntop/ntopng/commit/c59133ef72f88da97220b8580a07b9ea262e900c

[2020-09-07 07:28] gabryon99 commented on #4356
There was a problem inside the href attribute. See the commit: https://github.com/ntop/ntopng/commit/9e508a73820733832aaa5079d1052ae665ba2665

[2020-09-07 08:02] hoangtnk commented on #4367
@cardigliano Yes. I have different VLAN per direction. You can see in the packet capture that we have a weird vlan 4095 in one direction and no vlan in the other.

[youtube_captured_on_ntop.pcap.gz](https://github.com/ntop/ntopng/files/5181770/youtube_captured_on_ntop.pcap.gz)

This is the limitation of our device's mirroring feature, as described [here](https://www.juniper.net/documentation/en_US

[2020-09-07 10:23] manjotsc opened #4371 "Geomap not Populating"
I updated geoipupdate and run it , but still data is not populating.

![Annotation 2020-09-07 062259](https://user-images.githubusercontent.com/51430971/92377754-a3cad980-f0d2-11ea-91b7-75c7537ee1a5.png)

[2020-09-07 10:39] NicolasPSQ commented on #4270
Hello Simone,
is slowly also with the local authentication... Could you tell me where to look in logs of ntop to check if i found some errors?

Thanks

[2020-09-07 13:09] simonemainardi commented on #4370
Please use discord for questions: https://www.ntop.org/community/

You can control the refresh rate from

![image](https://user-images.githubusercontent.com/3397663/92390800-dfd65c80-f11b-11ea-8429-898c5a83c9fa.png)

That chart shows realtime data over the most recent 10 minutes.

[2020-09-07 13:09] #4370 closed, assigned to nobody

[2020-09-07 13:10] simonemainardi commented on #4368
Please use discord for questions: https://www.ntop.org/community/

Use the REST API https://www.ntop.org/guides/ntopng/api/index.html

[2020-09-07 13:10] #4368 closed, assigned to nobody

[2020-09-07 13:11] simonemainardi commented on #4371
Please show the output of ntopng. It will tell you if the geoip databases are loaded successfully.

[2020-09-07 13:12] simonemainardi commented on #4365
Implemented. Queues will now be moved to C.

[2020-09-07 13:12] #4365 closed, assigned to simonemainardi

[2020-09-07 13:12] simonemainardi commented on #4366
Implemented.

[2020-09-07 13:12] #4366 closed, assigned to simonemainardi

[2020-09-07 13:14] simonemainardi commented on #4362
SNMP table still bugged.

[2020-09-07 13:15] #4361 closed, assigned to gabryon99

[2020-09-07 13:17] simonemainardi commented on #4356
This now points to a WIP page and eventually ends up in a not found error:

![image](https://user-images.githubusercontent.com/3397663/92391526-24162c80-f11d-11ea-865a-e99cd3a9763a.png)

Can you just leave the old import/export behavior for now?

[2020-09-07 13:17] simonemainardi commented on #4337
No feedback received. Closing. Feel free to reopen with the requested information if necessary.

[2020-09-07 13:17] #4337 closed, assigned to nobody

[2020-09-07 20:49] manjotsc commented on #4371
07/Sep/2020 20:48:28 [Ntop.cpp:2295] Setting local networks to 127.0.0.0/8,fe80::/10
07/Sep/2020 20:48:28 [Redis.cpp:157] Successfully connected to redis 127.0.0.1:6379@0
07/Sep/2020 20:48:28 [Redis.cpp:157] Successfully connected to redis 127.0.0.1:6379@0
07/Sep/2020 20:48:28 [NtopPro.cpp:297] [LICENSE] Reading license from Redis
07/Sep/2020 20:48:28 [NtopPro.cpp:425] [LICENSE] Unable to validate

[2020-09-08 07:13] junaid-soomro-ivolve opened #4372 "Historical flows API(query aggregated flows or total sum) as provided in the UI of ntopng."
I have seen this explorer tab which lets me query aggregated flows and RAW flows. How can i query the same in API call? there is no documentation or parameters list provided in the official website. I am trying to sum total src2dst bytes where ipv4_src_addr = ipaddress and flow_clause = aggregated within a specific timeframe.

Thank you.

[2020-09-08 07:20] junaid-soomro-ivolve commented on #4372
also if you guys could add difference between aggregated and RAW flows.

[2020-09-08 07:34] simonemainardi commented on #4372
aggregate flows are no longer present - they were experimental code which has now been removed for performance.

[2020-09-08 07:36] simonemainardi commented on #4371
It seems everything has been loaded correctly:

[code]

Please, visit page Hosts->Countries and see if you have results there. Perhaps you've only private addresses.

[2020-09-08 07:37] junaid-soomro-ivolve commented on #4372
then is there a query available that i can use to sum src2dst_bytes of a specific src_ipv4_addr acting as client within the specified timeframe?

[2020-09-08 07:37] simonemainardi commented on #4270
Check Redis, e.g., use `redis-cli monitor` and see if there's an high activity. This could be the cause. After the login, is the ntopng UI reactive, or slow?

[2020-09-08 07:38] simonemainardi commented on #4372
This is not supported via API

[2020-09-08 07:40] simonemainardi commented on #4260
please, add screenshots of the reported behavior.

[2020-09-08 07:44] junaid-soomro-ivolve commented on #4372
so what i can do is list flows via the historical API passing where_clause as source ip and then accumulate the sum of src2dst bytes myself.

[2020-09-08 07:55] NicolasPSQ commented on #4270
Ok, thanks. I will check redis. No, after the login, the ntopng UI works as usual.

[2020-09-08 08:18] manjotsc commented on #4371
Under Countries, it says "No Results Found", I have ntopng 3.0. Just running fine on same subnet, geo map also working, But ntopng 4.0 not showing any data.

[2020-09-08 08:39] jonaskluger opened #4373 "REST API call for lua function: categories_utils.get_category_protocols_list()"
As a User querying data via the REST API I want to get the data for:
Host Details Page -> Applications Tab -> Category table -> column: Applications

I expect to get the data from this lua call:
categories_utils.get_category_protocols_list(v.category)

https://github.com/ntop/ntopng/blob/dev/scripts/lua/host_details_ndpi_categories.lua

![Screenshot at 2020-09-07 13-54-51](https://user-images.gith

[2020-09-08 08:41] NicolasPSQ commented on #4270
I'm checking redis but don't find any particular problem.Maybe, it's depend of number of snmp devices added?

[2020-09-08 08:43] manjotsc commented on #4371
@simonemainardi I think you are right, ntopng is detecting network activity, but it's detecting local activity only. It is not able to see public connections for some reasons. Under Flows I able to see local connection only.

[2020-09-08 09:16] lucaderi opened #4374 "Show recipients bound to a pool"
In pages such as active monitoring, SNMP... you see a page such as
![Screen Shot 2020-09-08 at 10 55 33](https://user-images.githubusercontent.com/4493366/92457060-094ac300-f1c4-11ea-9b7c-d43849cdf74a.png)

It is requested to
- the edit link should allow the selected pool (and not all pools as today) to be edited by opening a page such as
![Screen Shot 2020-09-08 at 10 56 11](https://user-images.g

[2020-09-08 09:21] lucaderi opened #4375 "Extend the recipients page with usage information"
Currently nowhere in ntopng is specified where recipients are used, but only the opposite (who uses a recipient). It is requested to extend the recipients page and
- add a new column "Users" with the number of configured users for such recipient
- inside the recipient edit add a way to edit the "users" of such recipient by adding for instance direct hyperlinks to the user

[2020-09-08 09:36] lucaderi commented on #4367
@hoangtnk Your attached pcap can't be downloaded. Please try again

[2020-09-08 09:43] lucaderi commented on #4367
I don't think this issue is related to ntopng. With RSS if you have one direction with VLAN and now without, packets are sent to different RSS queues and thus your ntopng instance sees only one direction, in particular with XL710 where RSS is asymmetric.

[2020-09-08 09:43] #4367 closed, assigned to nobody

[2020-09-08 09:44] lucaderi commented on #4359
The "types" key need to be edited. Please remove cross dependencies

[2020-09-08 09:59] manjotsc opened #4376 "Ntopng not detecting public connections"
I am running ntopng 4.0 on Ubuntu 20, ntopng is only detecting local network activity, but it not able to detect public connections.

Need help.

Thanks,

[2020-09-08 17:35] lucaderi commented on #4376
I believe you are sniffing from a wrong interface. Please check with tcpdump if you see the traffic you expect to see.

For this kind of questions please use the discord channel leaving github to issues

[2020-09-08 17:35] #4376 closed, assigned to nobody

[2020-09-08 17:36] lucaderi commented on #4322
This ticket won't be implemented as we decided is not what we need

[2020-09-08 17:36] #4322 closed, assigned to nobody

[2020-09-08 18:29] squad1534 commented on #4260
Here's what my Host Pool List looks like when I was able to add them in recent earlier versions:
![image](https://user-images.githubusercontent.com/28546897/92513269-05c43580-f1de-11ea-84fa-510d95925e16.png)

And here's what it looks like when I click the + sign to add a Host from the Host Pool Membership that contains 20 Hosts Pools I've added.
![image](https://user-images.githubusercontent.com/2

[2020-09-09 09:10] gabryon99 commented on #4374
A little label with a recipients list has been added for SNMP Devices and Active Monitoring Records, see the commit: https://github.com/ntop/ntopng/commit/1fc31fa6abe8cf80ac1d257b086ac1d673ec96a7

[2020-09-09 14:00] NicolasPSQ commented on #4270
Hi simone,
you can close this issue, because the problema was another on pc.

Thanks

[2020-09-09 15:48] simonemainardi opened #4377 "[pools] Show `builtin` endpoints but make them uneditable and undeletable"
Currently, `builtin` endpoints are hidden from

![image](https://user-images.githubusercontent.com/3397663/92621515-2f578c80-f2c4-11ea-8695-c2813301943c.png)

Actual hiding is done in `get_notification_configs.lua` using a boolean flag `builtin` shipped with the endpoint configuration.

It is requested to show these builtin endpoints in the UI but *prevent* users from deleting / editing them.

[2020-09-09 15:56] simonemainardi opened #4378 "[pools] Show `builtin` recipients but make them non-editable and non-deletable"
Builtin recipients are currently hidden from

![image](https://user-images.githubusercontent.com/3397663/92622188-113e5c00-f2c5-11ea-9b7d-3e715f8f92d2.png)

Actual hiding is done in `get_recipients_endpoint.lua` using boolean flag `builtin`. It is requested to use this flag to show `builtin` recipients but they must be non-editable and non-deletable.

[2020-09-09 15:59] simonemainardi opened #4379 "[pools] Show `builtin` recipients in pool modals"
Builtin recipients are currently hidden from pool modals, e.g.,

![image](https://user-images.githubusercontent.com/3397663/92622926-eb658700-f2c5-11ea-9e37-b11333ae0f65.png)

It is requested to show `builtin` recipients in add/edit pool modals. The add modal must have `builtin` recipients selected by default in the multiselect.

[2020-09-09 16:08] simonemainardi opened #4380 "[pools] Implement additional pools"
Extend current pool classes under `modules/pools/` to cover any exiting alert entity as listed in `alert_consts.lua`.

The following pools need to be implemented:

- `flow_pools.lua` for the `flow` alert entity
- `mac_pools.lua` for the `mac` alert entity
- `host_pool_pools.lua` for the `host_pool` alert entity
- `system_pools.lua` for `process`, `user`, `influx_db`, `test`, `category_lists`, `per

[2020-09-09 16:09] simonemainardi opened #4381 "[pools] Implement additional edit pool REST API"
Once https://github.com/ntop/ntopng/issues/4380 is implemented, it is requested to expose an edit REST API to edit such pools.

A REST API endpoint will be exposed for each of the pools.

The only operation possible, however, will be to assign/unassign recipients to the "Default" pool.

[2020-09-09 16:15] simonemainardi opened #4382 "[pools] Show additional pools in the UI"
Once https://github.com/ntop/ntopng/issues/4381 is completed, it is requested to add extra pills in

![image](https://user-images.githubusercontent.com/3397663/92624585-f91c0c00-f2c7-11ea-8903-9d76f695fa05.png)

For "Host Pools", "Flows", "Devices" and "System" pools.

The pages will only show the "Default" pool, without any recipient and the "Default" config.

- The "Default" pool will not be del

[2020-09-09 16:20] simonemainardi opened #4383 "[pools] Remove forced use of builtin SQLite recipient"
Once #4382 will be implemented, the backed can be cleaned to avoid forcing the use of the builtin SQLite recipient in function recipients:dispatch_notification(notification). Every possible entity will have their pools and pools will have reciopients associated, thus making no longer necessary to forcefully add the SQLite recipient.

Basically this will be removed

[code]

[2020-09-09 16:26] simonemainardi opened #4384 "[pools] Implement reset pools configuration"
It is requested to implement a method in `pools_lua_utils.lua` to reset the configuration of any pool. Thus, only "Default" pools with "Default" builtin recipients will be left after calling this function.

This function will also be exposed via API as `./scripts/lua/rest/v1/reset/pools.lua`

[2020-09-09 16:28] simonemainardi opened #4385 "[pools] Add a pools reset configuration button"
Once this is implemented https://github.com/ntop/ntopng/issues/4384, it is requested to add button "Reset Configuration" in the Pools page. The button will call the REST API endpoint implemented to do the actual reset. This must be similar to what has already been done for user scripts:

![image](https://user-images.githubusercontent.com/3397663/92626435-31bce500-f2ca-11ea-95a3-18c0748d2670.png)

[2020-09-09 16:30] simonemainardi opened #4386 "[pools] Refactor creation of builtin endpoints and recipients"
Builtin endpoints and recipients are created in `startup.lua`. It is requested to move the creation logic out of this file, in a function of `recipients.lua`.

[2020-09-09 16:59] simonemainardi commented on #3545
Dump must be moved out from the periodic hash table walk.

Proposed solution is to create a dedicated thread which runs when a dumper exists (e.g., MySQL, nIndex, etc).

The thread will perform two actions basically:

1. Walk 1/Nth of the hash table and dump flows active for more than 5 minutes
2. Dequeue `idle` flows from a queue, dump them and `delete` them.

Idle flows will be enqueued using a

[2020-09-10 04:02] hoangtnk commented on #4367
@lucaderi Yes, I'm now aware that `--ignore-vlans` does not work with RSS because traffic goes to different RSS queues. But @cardigliano mentioned that there's still a possibility (depends on adapter model) to exclude vlan in hash computation. Or do we have other solutions (besides RSS) that can work with `--ignore-vlans`?

P/S: Please reopen this thread for further discussion, or pointing me to t

[2020-09-10 05:40] MaoPann opened #4387 "ntopng inactive"
![image](https://user-images.githubusercontent.com/44804599/92685910-34234b80-f36b-11ea-827f-bb47a36e5a88.png)

[2020-09-10 06:10] gabryon99 commented on #4375
To implement this enhancement we require a way to get the users about a recipient. Having this resource we can insert a new column called 'Users' that shows a brief list of the recipient's user. When clicking on the list a modal with the complete Users List will be shown.

<img width="568" alt="Screenshot 2020-09-10 at 08 09 26" src="https://user-images.githubusercontent.com/14114916/92688064-f3ac

[2020-09-10 07:03] #4387 closed, assigned to nobody

[2020-09-10 07:05] MaoPann opened #4388 "Geoipupdate failed"
![image](https://user-images.githubusercontent.com/44804599/92692550-ead8f900-f376-11ea-90e4-6d5ac5e9c851.png)

[2020-09-10 07:59] simonemainardi commented on #4388
This is not ntopng-related. Check your internet connection or refer to maxmind.

[2020-09-10 07:59] #4388 closed, assigned to nobody

[2020-09-10 09:13] simonemainardi commented on #4381
Implemented:

Flow:

[code]

mac:

[code]

host pool:

[code]

system:

[code]

[2020-09-10 09:13] #4381 closed, assigned to simonemainardi

[2020-09-10 09:13] simonemainardi commented on #4380
Implemented.

[2020-09-10 09:13] #4380 closed, assigned to simonemainardi

[2020-09-10 10:02] simonemainardi commented on #4386
Implemented.

[2020-09-10 10:02] #4386 closed, assigned to simonemainardi

[2020-09-10 10:04] #4270 closed, assigned to nobody

[2020-09-10 10:04] lucaderi opened #4389 "[pools] Missing Endpoint/Recipient Dependency Check"
As of today it is possible to delete an endpoint while having a recipient for such endpoint defined. The result is this error

10/Sep/2020 12:02:17 [LuaEngine.cpp:909] WARNING: Script failure [/Users/deri/network/ntopng/scripts/lua/get_recipients_endpoint.lua][...i/network/ntopng/scripts/lua/get_recipients_endpoint.lua:28: attempt to index a nil value (field 'endpoint_conf')]

and inability to use

[2020-09-10 10:16] lucaderi opened #4390 "Unable to delete recipients"
![Screen Shot 2020-09-10 at 12 15 37](https://user-images.githubusercontent.com/4493366/92716652-62029300-f35f-11ea-92a4-8daac4834c00.png)

Clicking on the delete button has no effect

[2020-09-10 10:19] lucaderi opened #4391 "[pools] Implement Endpoint/Recipient Factory Reset Button"
Add a new button in Endpoint+Recipient that allows to restore (ONLY for Endpoint+Recipient) to factory deleting all defined endpoint/recipient and adding the default ones (if any)

[2020-09-10 10:44] gabryon99 commented on #4390
The problem was on handling the server response that changed. Now the problem has been fixed. See the commit: https://github.com/ntop/ntopng/commit/2e0b7015fc81559d4219911f8598c94267d9d4ca

[2020-09-10 10:50] gabryon99 commented on #4378
Done it. See the commit: https://github.com/ntop/ntopng/commit/2048db187fa6c2223ed71b176375d482979f5a8e

[2020-09-10 10:50] gabryon99 commented on #4377
Done it. See the commit: https://github.com/ntop/ntopng/commit/2e0b7015fc81559d4219911f8598c94267d9d4ca

[2020-09-10 11:20] junaid-soomro-ivolve opened #4392 "Incorrect data in the response of historical flows API."
I fetched all the flows of date 5th sep(24 hours data) and i summed the src2dst bytes i got 334084 then i fetched the flows of 6th sep(24 hours) and i summed the src2dst bytes. I got 2038206. The problem is when i fetch the combined data of these two days i should get a sum of above figures which should be 2372290 logically. But i get 919742 which does not make any sense. There is a huge differenc

[2020-09-10 11:24] junaid-soomro-ivolve commented on #4392
We are about to purchase the enterprise license. This type of bug is very critical for our business.

[2020-09-10 12:07] simonemainardi commented on #4375
implemented REST endpoint:

example:

[code]

[2020-09-10 12:28] #4378 closed, assigned to gabryon99

[2020-09-10 12:28] #4377 closed, assigned to gabryon99

[2020-09-10 12:29] simonemainardi commented on #4382
@gabryon99 please start doing this implementation.

[2020-09-10 12:39] simonemainardi opened #4393 "[pools] Missing pool recipients multiselect"
When there's only the default recipient, the Recipient multiselect in edit/add pool is missing

![image](https://user-images.githubusercontent.com/3397663/92729871-41dccf00-f373-11ea-9bfe-51f6fd3cdacb.png)

Recipient multiselect must always be present as there will always be at least the builtin recipient. See https://github.com/ntop/ntopng/issues/4379

[2020-09-10 12:46] simonemainardi commented on #4384
Implemented and exposed via REST as

[code]

[2020-09-10 12:46] #4384 closed, assigned to simonemainardi

[2020-09-10 12:47] simonemainardi commented on #4385
Use the REST endpoint provided in https://github.com/ntop/ntopng/issues/4384#issuecomment-690260341 to be called on button click.

[2020-09-10 13:15] gabryon99 commented on #4393
Now there is always the multiselect. See the commit: https://github.com/ntop/ntopng/commit/8617c045ef8a8ed499ccc52cc7bff25172e62dcf

[2020-09-10 13:19] simonemainardi commented on #4391
REST API endpoints implemented. Please add the buttons in the UI using the following endpoints:

- RECIPIENTS: `curl -s -u admin:admin1  -H "Content-Type: application/json"  http://localhost:3000/lua/rest/v1/delete/recipients.lua`
- ENDPOINTS: ` curl -s -u admin:admin1  -H "Content-Type: application/json"  http://localhost:3000/lua/rest/v1/delete/endpoints.lua`

[2020-09-10 13:26] #4390 closed, assigned to gabryon99

[2020-09-10 14:02] #4359 closed, assigned to simonemainardi

[2020-09-10 14:11] #4374 closed, assigned to gabryon99

[2020-09-10 16:21] cardigliano commented on #4335
@fsamareanu just to make sure, could you provide your /usr/bin/ntopng-utils-manage-updates ? Thank you

[2020-09-10 16:31] simonemainardi commented on #4369
Closing for inactivity. No feedback received.

[2020-09-10 16:31] #4369 closed, assigned to nobody

[2020-09-10 16:32] simonemainardi commented on #4343
I think a more structured solution need to be designed for your use case.

[2020-09-10 16:32] simonemainardi commented on #4353
recipient name is now editable.

[2020-09-10 16:32] #4353 closed, assigned to gabryon99

[2020-09-10 16:33] simonemainardi commented on #4321
notification recipients are now implemented as OO under `modules/recipients` and are keyed with integers as requested.

[2020-09-10 16:33] #4321 closed, assigned to simonemainardi

[2020-09-10 16:33] simonemainardi commented on #4323
UI has been updated. Old implementation has been moved to attic.

[2020-09-10 16:33] #4323 closed, assigned to gabryon99

[2020-09-10 16:34] simonemainardi commented on #4325
SQLite is now implemented as any other notification recipient. It is coded as a plugin under `scripts/plugin/sqlite_alert_endpoint`.

[2020-09-10 16:34] #4325 closed, assigned to nobody

[2020-09-10 16:39] #4393 closed, assigned to gabryon99

[2020-09-10 16:40] simonemainardi opened #4394 "[pools] No recipient shown when there's only the builtin"
When there's only the builtin endpoint+recipient, the recipient page is shown as empty

![image](https://user-images.githubusercontent.com/3397663/92764853-19fe6300-f395-11ea-9b00-26e53d921db6.png)

![image](https://user-images.githubusercontent.com/3397663/92764877-1ec31700-f395-11ea-952d-da4dafaa3c15.png)

[2020-09-10 17:18] #4392 closed, assigned to nobody

[2020-09-11 08:02] simonemainardi commented on #4389
Lua exception is fixed.

I've extended the getter to return, along with available configs, all the recipients associated. So `get_notification_configs.lua` returns, for each config, the list of available `recipients`. @gabryon99 please use this information to:

- Add an extra column Used by with information such as "recipient1, recipient2, and X more."
- Add a warning shown when deleting an config

[2020-09-11 08:02] simonemainardi commented on #4362
Fixed in the latest build.

[2020-09-11 08:02] #4362 closed, assigned to gabryon99

[2020-09-11 08:03] simonemainardi commented on #4233
@gabryon99 please handle this

[2020-09-11 08:06] simonemainardi commented on #4372
As said aggregated flows are no longer part of ntopng. You'll be able to extract all flows once FR https://github.com/ntop/ntopng/issues/4349 will be implemented.

[2020-09-11 08:06] #4372 closed, assigned to nobody

[2020-09-11 08:15] simonemainardi commented on #4358
A plugin can actually perform heterogeneous things, so choice was to add action-dependent plugin subfolders: see https://www.ntop.org/guides/ntopng/plugins/structure.html#plugin-structure

For example, the active monitoring plugin:
- Periodically executes monitoring probes
- Adds UI pages for configuration
- Generate alerts

[2020-09-11 09:51] #4346 closed, assigned to lucaderi

[2020-09-11 10:24] simonemainardi opened #4395 "Rework ElasticSearch Endpoint/Recipient"
Elasticsearch Endpoint/Recipient currently depends on the -F configuration. It is requested to rework the ES Endpoint/Recipient and make it self-contained, similar to the webhook endpoint so that it can accept ES connection parameters.

[2020-09-11 12:36] gabryon99 commented on #4382
The new pools have been added as requested. See the commit: https://github.com/ntop/ntopng/commit/3b071dd0462e6022d7642bef977ceb3cbebce2cc

[2020-09-11 12:37] gabryon99 commented on #4394
Fixed, now the recipients list is always shown even there are only the built-in endpoints/recipients. See the commit: https://github.com/ntop/ntopng/commit/f8ef59e19da0dce81dc1086cd5eda03e77136ae9

[2020-09-11 12:43] gabryon99 commented on #4379
Now the builtin recipients are always shown in the multi-select and always selected for the add modal. See the commit: https://github.com/ntop/ntopng/commit/9a2fea3a6b579f5276774e345c799d90882f60f2

[2020-09-11 12:56] cfrancis2b opened #4396 "Ntopng crashes every time (v.4.1.200911)"
Ntopng crashes every time I try to login after the last update.

v.4.1.200911

Regards.

[2020-09-11 13:08] gabryon99 commented on #4389
The extra column has been added. Now when an endpoint is about to be removed then the modal will show how many recipients will be deleted as well. See the commit: https://github.com/ntop/ntopng/commit/7c60d03e0378e25a28c464ffe5fbebae2ff0d892

[2020-09-11 13:09] simonemainardi commented on #4396
Are you using the packaged version? Building from source?

[2020-09-11 13:23] santuari commented on #4343
Do you think that can be somehow implemented?

[2020-09-11 13:29] santuari opened #4397 "Theme preference per-user"
Our customer can select a preference of the theme type (dark and light) within our product. We would like to align the customer theme preference also in ntopng.

The theme preference in our product are per-user, so we would like that the theme preference (dark and light) in ntopng is per-user. In the past, ntopng had the sidebar preference per-user (https://github.com/ntop/ntopng/issues/3344), but

[2020-09-11 14:09] lucaderi commented on #3433
Detection has been implemented via flow-risk by nDPI

[2020-09-11 14:12] lucaderi opened #4398 "Implement plugin for generating alerts based on flow risk"
nDPI implements flow risk that is used to detect per-flow issues. In addition to increasing the score based on the risk, this plugin should trigger alert when specific risks (identified by nDPI) are found.

[2020-09-11 14:12] lucaderi commented on #3433
Will be implemented by #4398

[2020-09-11 14:12] #3433 closed, assigned to nobody

[2020-09-11 14:15] lucaderi commented on #4003
![Screen Shot 2020-09-11 at 16 14 44](https://user-images.githubusercontent.com/4493366/92936091-f9dcab80-f449-11ea-8e3e-1a298fea3e15.png)
Considering the DHCP servers are now discovered, most pieces to implement this ticket should be already implemented

[2020-09-11 14:27] cfrancis2b commented on #4396
Packaged version

[2020-09-11 14:28] cfrancis2b commented on #4396
Sep 11 06:23:22 Installed: ntopng-4.1.200911-10878.x86_64
Sep 11 06:27:46 Installed: ntopng-data-4.1.200911-10878.noarch
Sep 11 06:27:46 Installed: ndpi-3.3.0-2810.x86_64
Sep 11 06:27:47 Installed: pfring-7.7.0-3169.x86_64
Sep 11 06:27:49 Installed: nprobe-9.1.200911-6951.x86_64
Sep 11 06:27:53 Installed: ntopng-4.1.200911-10878.x86_64
Sep 11 06:27:54 Installed: cento-1.11.200911-581.x86_64

[2020-09-11 14:51] #4379 closed, assigned to gabryon99

[2020-09-11 14:52] #4382 closed, assigned to gabryon99

[2020-09-11 14:55] simonemainardi commented on #4389
broken.

adding many recipients for the same endpoint breaks the page:

![image](https://user-images.githubusercontent.com/3397663/92940607-9786a980-f44f-11ea-91ed-427c562526c7.png)

requested NOT to break the page and show "and X more"

[2020-09-11 14:57] simonemainardi commented on #4394
broken.

There's a plus sign which is highlighted but clicking on it is ineffective: nothing happens.

![image](https://user-images.githubusercontent.com/3397663/92940777-cf8dec80-f44f-11ea-8aa3-6e23625e74e3.png)

[2020-09-11 14:59] simonemainardi commented on #4398
see https://github.com/ntop/ntopng/tree/dev/scripts/plugins/flow_risks

[2020-09-11 15:34] gabryon99 commented on #4389
Fixed. See the commit: https://github.com/ntop/ntopng/commit/4eb22f261a836fedd631999d264232e315173398

[2020-09-11 15:36] simonemainardi commented on #4389
request was to use work 'more' not 'other' so you don't have to handle plural/singular.

[2020-09-11 15:47] gabryon99 commented on #4394
Disabled the button when there are no endpoints. See the commit: https://github.com/ntop/ntopng/commit/37ed43f74f2218f7123ee9880730f636980a2019

[2020-09-11 16:40] #4383 closed, assigned to simonemainardi

[2020-09-11 21:05] bakerds opened #4399 "Date format preference"
(Feature request)
It would be nice if the web UI could be configured to display dates in big-endian (ISO 8601, 2020-09-11), little-endian (most of the world, 11/09/2020), or middle-endian (USA, 09/11/2020) format according to the user's preference or system settings.

[2020-09-11 22:36] lucaderi commented on #3545
https://github.com/ntop/ntopng/commit/18637f21e18edb8adaa55a4bf61d78693e796b44 implements this ticket

[2020-09-12 02:34] cfrancis2b commented on #4396
Fixed with today's update

[2020-09-12 02:34] #4396 closed, assigned to nobody

[2020-09-12 02:35] cfrancis2b commented on #4396
Sep 11 21:31:21 Updated: pfring-7.7.0-3170.x86_64
Sep 11 21:31:23 Updated: ntopng-data-4.1.200912-10893.noarch
Sep 11 21:31:25 Updated: nprobe-9.1.200912-6951.x86_64
Sep 11 21:31:29 Updated: ntopng-4.1.200912-10893.x86_64
Sep 11 21:31:29 Updated: cento-1.11.200912-581.x86_64

[2020-09-12 02:48] cfrancis2b opened #4400 "GeoMap: No show the hosts or their flows."
Geo Map, shows the map but does not graph the position of the hosts or their flows.

Regards.

[2020-09-13 22:58] dragonxtek commented on #3440
Hi,
I have nDPI 3.3.0-2755-ad8318e2, and recently I tried to compile ntopng but I have the same issue

src/Flow.cpp:3916:83: error: cannot convert ‘long unsigned int*’ to ‘ndpi_protocol_category_t*’
     if(ndpi_match_custom_category(ndpi_struct, (char*)dst_name, strlen(dst_name), &id) == 0)
                                                                                   ^~~
In file included fro

[2020-09-13 23:02] dragonxtek opened #4401 "Unable to compile: [Makefile:148: src/Flow.o] Error 1"
Hi,
I have nDPI 3.3.0-2755-ad8318e2, and recently I tried to compile ntopng but yet I have the same issue in #3440

[2020-09-14 08:55] fsamareanu commented on #4335
[ntopng-utils-manage-updates.txt](https://github.com/ntop/ntopng/files/5217250/ntopng-utils-manage-updates.txt)

[2020-09-14 09:45] DigiAngel opened #4402 "Fails to compile: unrecognized command line option -Wno-address-of-packed-member"
[code]
latest git as of a few minutes ago.  Thank you.

[2020-09-14 12:26] simonemainardi commented on #4400
Checkout this and report: https://github.com/ntop/ntopng/issues/4371

[2020-09-14 12:28] simonemainardi commented on #4401
make sure your ntopng and nDPI sources are aligned. Either:
- development: both ad the tip of `dev`
- stable ntopng at the tip of 4.0-stable branch and nDPI at the tip of 3.2-stable branch

[2020-09-14 12:28] #4401 closed, assigned to nobody

[2020-09-14 12:29] simonemainardi commented on #4402
Your nDPI header files under `-I/opt/ntopng/ndpi/include/ndpi` are outdated. Update them and it will work.

[2020-09-14 12:29] #4402 closed, assigned to nobody

[2020-09-14 12:37] simonemainardi commented on #4394
Still bugged:

now the plus sign always stays greyed-out and it's impossible to add recipients even where there are non-builtin endpoints:

![image](https://user-images.githubusercontent.com/3397663/93086664-c0997b00-f697-11ea-8872-b17b1c2fd505.png)

![image](https://user-images.githubusercontent.com/3397663/93086604-aa8bba80-f697-11ea-8317-f3f1022be0d0.png)

[2020-09-14 12:38] simonemainardi commented on #4395
Rework has been implemented. Now Elasticsearch is implemented as an endpoint + recipient:

![image](https://user-images.githubusercontent.com/3397663/93086417-64cef200-f697-11ea-85ee-3ae78877b9df.png)

index name can be specified in the recipient so the same endpoint can be re-used, with different index names, for different notifications.

[2020-09-14 12:38] #4395 closed, assigned to simonemainardi

[2020-09-14 13:19] DigiAngel opened #4403 "FR: Remove Geolocation popup"
This shows up on every screen, all the time:
![Screenshot from 2020-09-14 07-18-07](https://user-images.githubusercontent.com/947191/93090855-96759800-f65a-11ea-8a6a-6a4bdc579820.png)

I have no interest in the Geolocation feature currently...any way to disable this?  Thanks.

[2020-09-14 13:26] simonemainardi commented on #4403
duplicate of https://github.com/ntop/ntopng/issues/4198

[2020-09-14 13:26] #4403 closed, assigned to nobody

[2020-09-14 13:26] gabryon99 commented on #4394
This has been fixed. If there are only recipients that are builtin then the button will be greyed out, otherwise, it will be enabled. See the commit: https://github.com/ntop/ntopng/commit/024f8b4572947389dfee6c660bcb723e48b11713

[2020-09-14 13:27] DigiAngel commented on #4403
Well...that certainly sucks.

[2020-09-14 13:30] #4394 closed, assigned to gabryon99

[2020-09-14 13:33] ShagoY commented on #4400
Same here, I have the information of the countries in "Hosts > Countries", the flags in the flows but nothing in the geomaps.

ntopng Community v.4.1.200911

[2020-09-14 13:44] gabryon99 commented on #4389
<img width="583" alt="Screenshot 2020-09-14 at 15 43 49" src="https://user-images.githubusercontent.com/14114916/93093538-17578280-f6a1-11ea-8097-ffe7ec255028.png">

Thanks for the suggestion. I replaced other/others with `and X more`, you can see the screenshot above. Check the commit: https://github.com/ntop/ntopng/commit/7a76cbf880ce71ac863520ad357ee23fe30456dc

[2020-09-14 14:02] ghost opened #4404 "unable to log into web interface after logging out"
I'm running ntopng on opnsense and i can't log into my ntopng web gui anymore.
it's a fresh install i changed the password and i was able to login and use the gui.
after logging off, i tried logging back in but it wouldn't take my username and password anymore.
I reinstalled the ntopng and redis package and even reinstalled opnsense completely and started from scratch.
am i doing something wrong?

[2020-09-14 14:05] gabryon99 opened #4405 "View Community Dashboard also in the Pro Version"
It's requested to add a menu entry that allows viewing the community dashboard also in the pro versions.

[2020-09-14 14:34] #4389 closed, assigned to gabryon99

[2020-09-14 15:18] ShagoY commented on #4400
On my ELK stack, ntopng returns the value 0,0 for *_IP_LOCATION

[2020-09-14 15:50] cardigliano opened #4406 "Implement "direct" flow dump to nIndex"
The flow dump is currently limited by the hash table scan and user scripts performance. It is required to add a "direct" mode in order to dump flows to nIndex as soon as they are collected by ZMQ. This should be done inline or using an additional thread (with a queue). This new mode should be optionally enabled with the -F option (e.g. -F "nindex;direct")

[2020-09-14 16:08] StewAlexander-com opened #4407 "Ntopng not running, service not listed, but software is installed"
Hi all,

My system shows that ntopng is installed:

[code]

But when I ask for the man pages:
support@ntopng:~$ man ntopng
No manual entry for ntopng

When I try to install it I get an unmet dependency error:

[code]

Please help thanks

[2020-09-14 16:25] simonemainardi commented on #4404
try:

- stop ntopng
- rm -rf /var/lib/ntopng/runtimeprefs.json (the file inside ntopng data directory)
- redis-cli flushall
- restart ntopng

[2020-09-14 16:25] simonemainardi commented on #4404
the you will have to re-enter the default password again

[2020-09-14 17:53] olg33 opened #4408 "Daily Index name change"
I'm exporting data  to ElasticSearch (ES) where ntopng creates a daily index automatically using the following command in /etc/ntopng/ntopng.conf:

`-F "es;flows;ntopng-%Y.%m.%d;http://localhost:9200/_bulk;"`

It creates daily indexes named, for instance:

ntopng-2020.09.14

I would like to change the name structure, so that daily indexes are named like this:

ntopng-0001
ntopng-0002

and so on,

[2020-09-15 07:48] simonemainardi commented on #4408
This is not supported. Daily indices cannot be named with an incremental number. However, you can safely use the day number `%d`  or the month number `%m` or any combination of them to create daily indices as of today.

[2020-09-15 07:48] #4408 closed, assigned to nobody

[2020-09-15 07:48] simonemainardi commented on #4407
@cardigliano is looking at it.

[2020-09-15 08:36] jonaskluger opened #4409 "add "key" to L4 protocols API result"
As a User querying l4 protocols via the REST API, I want to have get the Protocols key.
https://www.ntop.org/guides/ntopng/api/rest/api_v1.html#L4%20Protocols

Currently:
`{"id":-1,"name":"Other IP"}`
Expected:
`{"id":-1,"name":"Other IP", "key": "other_ip"}`

Similar to _l4_keys_ global variable from _lua_utils.lua_
[code]

[2020-09-15 09:08] cardigliano commented on #4407
@StewAlexander-com could you run "apt-get update && apt-get upgrade" and try again please?

[2020-09-15 15:42] StewAlexander-com commented on #4407
@cardigliano

I did, don't see much difference
[code]

[2020-09-15 15:44] StewAlexander-com commented on #4407
![image](https://user-images.githubusercontent.com/48565067/93233168-c3a07400-f748-11ea-9a6e-aeb35a402c6b.png)

[2020-09-15 16:05] #4358 closed, assigned to simonemainardi

[2020-09-15 16:14] djstarfox opened #4410 "Unable to set a Category on Applications"
BUG.  Unable to change/set a category on any application (l7proto) in nTopNG  4.1.200816-11161 armhf.

Behavior:
1) Applications / Categories will not permit me to save a category assignment to any protocol.  All custom protocols defined in protos.txt file are listed as "Unspecified" and cannot be changed in the GUI.
/lua/admin/edit_categories.lua?category=cat_0&tab=protocols

2)  Alerts for this

[2020-09-15 17:18] simonemainardi opened #4411 "[pools] Add recipient multiselect with script categories"
- Each recipient must show a multiselect with all available `user_scripts.script_categories`
- Multiselect must be shown between recipient name and recipient endpoint type.
- All the available categories will be selected by default. The user can then manually de-select unwanted categories
- Categories will be passed using a comma-separated list of their ids (see https://github.com/ntop/ntopng/comm

[2020-09-15 17:20] simonemainardi opened #4412 "[pools] Implement backend to handle per-recipient user script categories"
Class `recipients.lua` must handle and store user-script categories. Edit, delete, set must be made available via REST API.

[2020-09-15 17:21] simonemainardi commented on #4411
This issue depends on https://github.com/ntop/ntopng/issues/4412

[2020-09-15 17:25] simonemainardi opened #4413 "[pools] Implement backend to handle per-category score"
Currently, host score is total. It is requested do keep the score separated on the basis of the user script category which caused the score to increase.

All user scripts must be updated accordingly.

[2020-09-15 17:27] simonemainardi opened #4414 "[pools] Depict host score composition"
Once https://github.com/ntop/ntopng/issues/4413 is implemented, a pie chart with host score will be shown. Add a new tab "Score" under the host page with the pie chart. Add an hyperlink to the overall host score shown in the home page to the "Score" tab.

[2020-09-15 17:30] #4391 closed, assigned to gabryon99

[2020-09-15 17:31] simonemainardi commented on #4404
did you follow the suggestion?

[2020-09-15 20:27] djstarfox commented on #4343
Makes more sense to have the InfluxDB configuration be part of the ntopng.conf file (i.e., command line parameters) and not part of the GUI config. Currently, you can specify Redis-Server config with "--redis", so why not InfluxDB too?

Of course, that would be an enhancement to ntop... not currently available.

[2020-09-15 21:27] lucaderi opened #4415 "Startup is taking too long"
Depending on connection speed, the initial startup can take a while

15/Sep/2020 15:22:19 [Ntop.cpp:865] Adding fe80::1/128 as IPv6 interface address for lo0
15/Sep/2020 15:22:19 [Ntop.cpp:875] Adding fe80::1/64 as IPv6 local network for lo0
15/Sep/2020 15:22:19 [PeriodicActivities.cpp:108] Started periodic activities loop...
15/Sep/2020 15:22:20 [startup.lua:50] Processing startup.lua: please hol

[2020-09-15 21:30] lucaderi opened #4416 "Implement recipient/endpoint script"
Similar to the webhook plugin, it is requested to implement a shell command execution so that a command/shell script is executed in case an alert is triggered

[2020-09-15 21:33] lucaderi opened #4417 "nIndex support broken"
In the latest dev version, nIndex support is broken.

When lucky no result is found
![Screen Shot 2020-09-15 at 23 33 10](https://user-images.githubusercontent.com/4493366/93267344-d7c98d00-f7ab-11ea-9994-07c8d8bf5ef0.png)

when unlucky a crash happens

15/Sep/2020 23:28:07 [NetworkInterface.cpp:2438] Started packet polling on interface en3 [id: 0]...
Assertion failed: (false), function container_

[2020-09-15 21:36] lucaderi opened #4418 "Invalid nIndex permission after update/upgrade"
On both CentOS and Ubuntu, when upgrading/updating ntopng, many times (but not always) nIndex fails to start (after ntopng update) with an error that reports permission errors in nIndex. Executing the commands listed at https://www.ntop.org/guides/ntopng/faq.html?highlight=chmod#permission-denied-errors
will restore the system back to life.

This defect must be fixed

[2020-09-15 21:38] lucaderi opened #4419 "Syslog endpoint export"
Add the ability to specify (today is localhost) the IP address of a remote syslog server without having to modify the local syslog configuration file, an action that cannot be performed from he ntopng GUI

[2020-09-15 21:39] lucaderi opened #4420 "List hosts according to retransmissions"
In the host view, it is requested to add retransmissions as criteria to identify hosts with retransmission issues

![Screen Shot 2020-09-15 at 23 38 43](https://user-images.githubusercontent.com/4493366/93267949-b6b56c00-f7ac-11ea-8617-c91bd4c6fbff.png)

[2020-09-15 21:40] lucaderi opened #4421 "Export DoH/DoT/CryptoDNS Information in DNS Tab"
In case DoH/DoT/CryptoDNS is used, the DNS hos tab should contain information about this matter

[2020-09-15 21:42] lucaderi opened #4422 "Add DNS top queries"
In the DNS tab, similar to the HTTP tab, it would be nice to have a list of most requested domain names that have been queried. In order to keep the list compact, it is enough to omit the hostname, and just limit to the domain. Note that in order to  you need to use techniques such as https://publicsuffix.org/list/ to know what is the domain name and TLD portion

[2020-09-15 21:43] lucaderi opened #4423 "Toggle scripts state"
Add buttons for enable all/disable all/reset to factory default script status

[2020-09-15 21:46] lucaderi opened #4424 "Increase script thresholds"
Most scripts have very ow threshold values that trigger too many (false positive) alerts. For instance
- the SNMP script for dropping host when the client host score exceeds a givne threshold should be increased (default threshold value)
- number of hosts contacted
...

In essence use more reasonable defaults that do not generate false positives

[2020-09-15 21:48] lucaderi opened #4425 "Create alert when too many retransmissions are observed"
Retransmissions indicate connection issues or similar events. It is requested to create a plugin that generated )stateful) host alerts when hourly retransmissions exceed the predefined threshold

[2020-09-15 21:49] lucaderi commented on #4414
Not quite. Show a thermometer instead of a donut/pie chart that takes too much space
![Screen Shot 2020-09-15 at 23 49 05](https://user-images.githubusercontent.com/4493366/93268764-119b9300-f7ae-11ea-97c0-11caaaf5750c.png)

[2020-09-15 21:51] lucaderi opened #4426 "Enhance DNS Data Exfiltration"
Add the ability to whitelist some domain names that are not considered by the DNS exfiltration plugin

[2020-09-15 21:54] lucaderi opened #4427 "Add support for ECS"
Ad of today both ntopng (and nProbe) do not fully support ECS (Elastic Common Schema). Is is requested to add support for them. See https://www.elastic.co/guide/en/ecs/current/index.html for more information

[2020-09-15 21:55] lucaderi opened #4428 "Add the ability to edit/add/delete category lists"
![Screen Shot 2020-09-15 at 23 55 26](https://user-images.githubusercontent.com/4493366/93269283-f9784380-f7ae-11ea-9a87-14507d787ea5.png)

[2020-09-15 21:58] lucaderi opened #4429 "Enhance Recipients filtering"
it is requested to add the ability to select recipients based on the following criteria
- family of the script that triggered the alert (e.g. security, system,....)
- the severity of the alert to be delivered to the remote recipient

This allows recipients to be finely selected according to the alert that needs to be delivered

[2020-09-15 21:59] lucaderi opened #4430 "Enhance webhook data format"
Similarly to the syslog plugin where the output can be delivered both in text and JSON format, this needs to be implemented also in the webhook script

[2020-09-15 22:01] lucaderi opened #4431 "Report license failure in the web GUI"
When ntopng does nop accept a license (or a license file is not present) an exact error is returned when executing "ntopng --version" that lists the exact license error

it is requested to report this information in the web GUI so that users can detect the root cause of these issues without using the shell

[2020-09-15 22:13] lucaderi opened #4432 "nDPI Risk Factor out of sync with ntopng"
Currently, ntopng doesn't handle all flow risks supported by ntopng: this needs to be addressed

[2020-09-16 08:13] lucaderi opened #4433 "Implement consistent data reset"
Similar to backup/restore https://github.com/ntop/ntopng/issues/4128 reset must be implemented in a consistent way on a separate page, by modifying the buttons already present to use it. Meaning that for entities such as
- SNMP
- Active Monitoring
- Recipients + Endpoints
....

Add the ability to
- delete all configured entries
- reset to factory default

Note that when resetting to factory defaul

[2020-09-16 08:14] lucaderi opened #4434 "Show num uses for endpoints"
In the endpoints page, add
- last usage time

[2020-09-16 08:15] lucaderi opened #4435 "Remove unnecessary space"
![Screenshot 2020-09-16 at 08 07 20](https://user-images.githubusercontent.com/4493366/93310713-6caca480-f805-11ea-87ed-2a6d7658092b.png)

[2020-09-16 08:15] lucaderi opened #4436 "Last duration value is broken"
![Screenshot 2020-09-16 at 08 08 10](https://user-images.githubusercontent.com/4493366/93310805-8817af80-f805-11ea-8358-7bc6d94a78ed.png)

[2020-09-16 08:17] lucaderi opened #4437 "Allow hosts to be sorted according to score"
Currently in the host page it is possible to sort hosts according to the total score.
![Screenshot 2020-09-16 at 08 10 55](https://user-images.githubusercontent.com/4493366/93310998-ba291180-f805-11ea-9ea8-60f607df8793.png)

It is requested to add the ability to sort according to client and server score (in addition to total score)

This ticket depends on #4320

[2020-09-16 08:19] lucaderi opened #4438 "Implement plugin unload"
It is requested to implement a hook that is triggered whenever a plugin is loaded (or reloaded). Something like hook.onload() that is partially existing in the current codebase

[2020-09-16 08:23] lucaderi commented on #4429
Furthermore in the current implementation
![Screenshot 2020-09-16 at 08 22 35](https://user-images.githubusercontent.com/4493366/93311438-4b988380-f806-11ea-8a0a-346969cbb3dc.png)

1. Add a better label for "Categories"
2. A use must select 1+ elements (zero is not allowed)
3. Consider collapsing some Categories together (e.g. Internals and others) or render them in a way that is easy to understan

[2020-09-16 08:24] lucaderi opened #4439 "Enhance recipient name"
![Screenshot 2020-09-16 at 08 36 41](https://user-images.githubusercontent.com/4493366/93311764-b1850b00-f806-11ea-92b5-b731d6b955fd.png)

The current list is styled poorly. Add at least the endpoint family and (better) some extra info. For instance for email it would be nice to see the recipient name

[2020-09-16 08:24] lucaderi opened #4440 "Button style must be consistent"
![Screenshot 2020-09-16 at 08 42 37](https://user-images.githubusercontent.com/4493366/93311896-d8dbd800-f806-11ea-8b05-21e090b505f8.png)

- The hyperlink must become a button
- The delete button is basically a factory reset (#4433)
If buttons have generic labels (e.g. Edit) all luges must have generic labels and no page have a specialised label
<img width="168" alt="Screenshot 2020-09-16 at 10 26

[2020-09-16 08:50] cardigliano commented on #4417
It seems this is working after latest dump changes

[2020-09-16 08:50] #4417 closed, assigned to cardigliano

[2020-09-16 08:52] simonemainardi commented on #4438
Implemented. Now you can define:

- `script.onLoad` to have the method called when the plugin is loaded/unloaded, that is, when ntopng starts, when a license expires, or when you click reload plugins
- `script.setup` to have the method called before other user script hooks are executed, e.g., every time before the min.lua executes host hooks. This method was already existing.

[2020-09-16 09:04] cardigliano commented on #4431
Added in https://github.com/ntop/ntopng/commit/e2f87a26b940242d1a2e4c6cc417f31086ee28d7

[2020-09-16 09:04] #4431 closed, assigned to cardigliano

[2020-09-16 09:06] cardigliano commented on #4406
Implemented in the Enterprise L version.
Some more work is required for reporting the status (wip).

[2020-09-16 09:18] #4438 closed, assigned to simonemainardi

[2020-09-16 12:06] StewAlexander-com commented on #4407
I ran ```sudo apt-get install ntopng``` and it now reloaded ntopng, keeping all of our configuration options.

And the ntopng is now up....

What caused ntopng to need to be installed again, why didn't I need to force a re-install if the software was already there??

[2020-09-16 13:40] cardigliano commented on #4407
@StewAlexander-com I think you ran apt-get update and a new version was available.. so everything is working now right?

[2020-09-16 13:49] cardigliano commented on #4335
The issue you are experiencing is a bit weird. Sorry for bothering you, I pushed some change, new nightly builds will be available later today, please test it and let me know. Thank you.

[2020-09-16 15:19] lucaderi opened #4441 "Alert style must be consistent"
![Screen_Shot_2020-09-16_at_17 13 13](https://user-images.githubusercontent.com/4493366/93357693-e6ae4f00-f840-11ea-8f22-d4495325ea53.png)
![Screen Shot 2020-09-16 at 17 14 57](https://user-images.githubusercontent.com/4493366/93357696-e7df7c00-f840-11ea-99bc-1e7ec498f3f5.png)

[2020-09-16 15:36] simonemainardi opened #4442 "Enable user scripts must be disabled when the user script has no config"
I can click the green 'enable' button for user scripts without parameters:

![image](https://user-images.githubusercontent.com/3397663/93359441-e8791200-f842-11ea-950c-c33abbfb7bcc.png)

This causes the user script to be enabled with empty values, yielding lua exceptions. The user scripts must only be enabled when the've valid values, e.g,

![image](https://user-images.githubusercontent.com/339766

[2020-09-16 16:11] #4436 closed, assigned to simonemainardi

[2020-09-16 16:15] #4442 closed, assigned to gabryon99

[2020-09-16 16:21] gabryon99 commented on #4435
Unnecessary space has been removed. See the commit: https://github.com/ntop/ntopng/commit/2331baa1fd64f7d36650ea1a57114490635a189a

[2020-09-16 23:58] StewAlexander-com commented on #4407
Yes, mille grazie

Best Regards,

  Stew Alexander
  stew@stewalexander.com (mailto:stew@stewalexander.com)

M:   (919) 697-8591 (tel:(919)%20697-8591)

 - Sent via mobile -

[2020-09-17 07:04] fsamareanu commented on #4335
yeah it's silent now :)

root@gemma:~#  /usr/bin/ntopng-utils-manage-updates -a check-updates-on-demand
root@gemma:~#

[2020-09-17 07:07] fsamareanu opened #4443 "After renewal ntopng thinks license is invalid"
During startup ntopng says this:

ep 17 11:00:04 gemma ntopng[30811]: 17/Sep/2020 11:00:04 [NtopPro.cpp:699] [LICENSE] System Id:#REDACTED
Sep 17 11:00:04 gemma ntopng[30811]: 17/Sep/2020 11:00:04 [NtopPro.cpp:700] [LICENSE] Edition:#011Enterprise M
Sep 17 11:00:04 gemma ntopng[30811]: 17/Sep/2020 11:00:04 [NtopPro.cpp:701] [LICENSE] License Type:#011Permanent License
Sep 17 11:00:04 gemma ntopng[

[2020-09-17 07:12] andiyk opened #4444 "Script Failure in AlertCheckLuaEngine"
17/Sep/2020 09:04:07 [AlertCheckLuaEngine.cpp:168] WARNING: Script failure[/usr/share/ntopng/scripts/callbacks/interface/interface.lua] [/usr/share/ntopng/scripts/lua/modules/user_scripts.lua:44: attempt to compare nil with number]
17/Sep/2020 09:04:07 [AlertCheckLuaEngine.cpp:168] WARNING: Script failure[/usr/share/ntopng/scripts/callbacks/interface/interface.lua] [/usr/share/ntopng/scripts/lua/m

[2020-09-17 07:15] MaoPann opened #4445 "Large scale network monitoring."
I want to use ntop software with other devices, such as tap, to monitor all devices in a large network, but I don't know how to deploy it. Can you provide an actual case.

[2020-09-17 07:20] fsamareanu commented on #4443
It seems that ntopng only checks if /etc/ntopng.license exists. In this case I believe it's stored in redis.

root@gemma:~# ntopng --version
v.4.1.200917    [Enterprise/Professional build]
GIT rev:        dev:8db941c31e7a4fbaaa73a3cf948c49fe8c80deff:20200917
Pro rev:        r3234
Built on:       Debian GNU/Linux 10 (buster)
System Id:      43047DC49206AB0A
Platform:       x86_64
Edition:        En

[2020-09-17 07:20] andiyk opened #4446 "Failure in SyslogLuaEngine"
17/Sep/2020 09:03:34 [SyslogLuaEngine.cpp:76] WARNING: Script failure [...lib/ntopng/plugins0/callbacks/system/syslog/suricata.lua:94: attempt to index a nil value (local 'event_http')]

v.4.1.200917 [Enterprise/Professional build]
GIT rev: dev:8db941c31e7a4fbaaa73a3cf948c49fe8c80deff:20200917
Pro rev: r3234
Built on: Ubuntu 20.04.1 LTS
System Id: *
Platform: x86_64
Edition: Professional
License T

[2020-09-17 08:11] andiyk commented on #4444
Perhaps its going in the same Direction:
Syslog Mesages from Suricata (5.0.0) don´t produce any Alert.

Example Message from Suricata:

Msg: Sep 17 09:58:55 [suricata_node] suricata[19863]: {"timestamp": "2020-09-17T09:58:55.031557+0200", "flow_id": 923592279978533, "in_iface": "br0", "event_type": "alert", "src_ip": "139.7.*", "src_port": 500, "dest_ip": "192.168.*", "dest_port": 500, "proto": "U

[2020-09-17 08:21] simonemainardi commented on #4444
@please try and update to the latest 4.1 version; then go to settings->user scripts and hit reset configuration. Then report.

[2020-09-17 08:22] simonemainardi commented on #4445
see:

- https://www.ntop.org/nprobe/network-monitoring-101-a-beginners-guide-to-understanding-ntop-tools/
- Use cases: https://www.ntop.org/guides/ntopng/using_with_other_tools/index.html

then come back with precise data and questions

[2020-09-17 08:29] simonemainardi commented on #4404
No feedback received. Closing.

[2020-09-17 08:29] #4404 closed, assigned to nobody

[2020-09-17 08:30] simonemainardi commented on #4385
Added

![image](https://user-images.githubusercontent.com/3397663/93444047-c037f480-f8d0-11ea-8e74-72f68db12d28.png)

[2020-09-17 08:30] #4385 closed, assigned to gabryon99

[2020-09-17 08:32] #4407 closed, assigned to cardigliano

[2020-09-17 08:33] simonemainardi commented on #4412
implemented

[2020-09-17 08:33] #4412 closed, assigned to simonemainardi

[2020-09-17 08:33] simonemainardi commented on #4411
Implemented

![image](https://user-images.githubusercontent.com/3397663/93445057-23c22200-f8d1-11ea-8773-26dbfe72a133.png)

[2020-09-17 08:33] #4411 closed, assigned to gabryon99

[2020-09-17 08:36] simonemainardi commented on #4423
Factory reset already present. Enable All / Disable all already requested in https://github.com/ntop/ntopng/issues/3917

[2020-09-17 08:36] #4423 closed, assigned to simonemainardi, gabryon99

[2020-09-17 08:38] andiyk commented on #4444
it should be the newest Version : v.4.1.200917     Now i reset the Configuration under user scripts and restart ntopng, but same Result:

17/Sep/2020 10:33:06 [AlertCheckLuaEngine.cpp:168] WARNING: Script failure[/usr/share/ntopng/scripts/callbacks/interface/interface.lua] [/usr/share/ntopng/scripts/lua/modules/user_scripts.lua:44: attempt to compare nil with number]
17/Sep/2020 10:33:06 [AlertChe

[2020-09-17 08:40] simonemainardi commented on #4429
Implemented

![image](https://user-images.githubusercontent.com/3397663/93446949-1bb6b200-f8d2-11ea-931c-3153d15d0d6f.png)

[2020-09-17 08:40] #4429 closed, assigned to simonemainardi, gabryon99

[2020-09-17 08:44] simonemainardi commented on #4432
do you mean to extend the user script https://github.com/ntop/ntopng/tree/dev/scripts/plugins/alerts/security/flow_risks?

In that case, given that we only have 64 flow statuses available (bitmap limit) I think we should only create a subset of flow statuses and map there multiple risks.

[2020-09-17 08:44] #4435 closed, assigned to gabryon99

[2020-09-17 08:46] simonemainardi commented on #4444
check settings->user script they try and disable host user scripts one by one and tell me if you find the issue is due to a particular script.

[2020-09-17 08:46] gabryon99 commented on #4441
The alert style has been fixed. The commit is on the pro vcs.

[2020-09-17 08:59] gabryon99 commented on #4439
Right now we have improved the UI adding the recipient type on the new multi-selects.

<img width="1792" alt="Screenshot 2020-09-17 at 10 57 21" src="https://user-images.githubusercontent.com/14114916/93449053-91238200-f8d4-11ea-9fd6-5b0300e93b65.png">

It's requested to create a function to that returns the most important field of a recipient so we can add extra information, like the example belo

[2020-09-17 09:18] andiyk commented on #4444
I´m wondering. I try to disable the Suricata User script first, then restart ntopng, then reactivated the suricata Script and restart ntopng again. The Error in Log go away. But always no Alerts reported from Suricata again.
Question: Wich Value was used from the suricata Logs to compare with the Threshold? I guess this Value is the reason, why it not show in the Interface. Could it be, or i´m goi

[2020-09-17 09:26] andiyk commented on #4446
same root cause as in #4444. The Error goes away  - close Issue

[2020-09-17 09:33] andiyk commented on #4444
and how can i change theThreshold for the Suricata Alerts? Only the "Host Log" Threshold i can change. For Suricata its grayed out in the "User Scripts/Syslog/Config Default".

[2020-09-17 09:35] #4406 closed, assigned to cardigliano

[2020-09-17 09:43] andiyk commented on #4446
Bad News: The Error is back:
30min. since fresh start

Sep 17 11:33:05 nas ntopng: [SyslogLuaEngine.cpp:76] WARNING: Script failure [...lib/ntopng/plugins0/callbacks/system/syslog/suricata.lua:94: attempt to index a nil value (local 'event_http')]
Sep 17 11:33:05 nas ntopng[28879]: 17/Sep/2020 11:33:05 [SyslogLuaEngine.cpp:76] WARNING: Script failure [...lib/ntopng/plugins0/callbacks/system/syslog

[2020-09-17 12:53] cardigliano commented on #4446
@andiyk it seems ntopng is received logs from suricata with unexpected syntax, I added some check to avoid errors (next build), but I need to check why you have "malformed" logs. Are you able to provide some logs from suricata?

[2020-09-17 13:09] andiyk commented on #4446
sure, did you need a single line or more?

one of the Original Syslog Message on the Suricata host (lokal IP is Masked):

Sep 17 14:59:20 shaper suricata[19805]: {"timestamp": "2020-09-17T14:59:20.001942+0200", "flow_id": 1887001891253593, "in_iface": "br0", "event_type": "alert", "src_ip": "***********", "src_port": 41364, "dest_ip": "157.55.194.109", "dest_port": 443, "proto": "TCP", "tx_id": 0,

[2020-09-17 13:13] cardigliano commented on #4446
I need some log with "event_type": "http"

[2020-09-17 13:17] andiyk commented on #4446
sorry, next try:

Sep 17 15:14:22 shaper suricata[19805]: {"timestamp": "2020-09-17T15:14:22.430290+0200", "flow_id": 75535072723571, "in_iface": "br0", "event_type": "http", "src_ip": "192.168.**", "src_port": 55887, "dest_ip": "103.5.198.219", "dest_port": 80, "proto": "TCP", "tx_id": 0, "http": {"hostname": "webres5.pand.ctmail.com", "url": "/SpamResolverNG/SpamResolverNG.dll?DoNewRequest", "ht

[2020-09-17 13:38] gabryon99 commented on #4439
The details for the recipient have been added. See the referenced commit.

[2020-09-17 13:45] gabryon99 commented on #4434
We only need these stats for the endpoints so I can add them inside the table.

[2020-09-17 14:57] andiyk opened #4447 "Error when activate "P2P Traffic Alert""
when activate P2P Traffic Alert Trigger  (in my Example > 512000bytes / min) then ntopng gives me an Error:

[AlertCheckLuaEngine.cpp:168] WARNING: Script failure[/usr/share/ntopng/scripts/callbacks/interface/host.lua] [attempt to index a number value]

[2020-09-17 16:05] jsuelwald commented on #2482
Hi. I've installed ntopng today and i have the exact same issue

Login in via http://<ip>:3000 works, http://<hostname>:3000 fails.
What can i do to give you more information?

[2020-09-17 16:08] #4439 closed, assigned to gabryon99

[2020-09-17 16:09] #4441 closed, assigned to gabryon99

[2020-09-17 16:34] #4447 closed, assigned to simonemainardi

[2020-09-17 16:35] simonemainardi commented on #4447
Thanks for reporting. Issue is fixes. New builds in progress. Wait one hour, update, and report.

[2020-09-17 16:37] #4445 closed, assigned to nobody

[2020-09-17 16:47] simonemainardi commented on #2482
what's the difference?

[2020-09-17 19:05] cfrancis2b commented on #4400
The database is updated without news.

lrwxrwxrwx    1 root root       17 sep 17  2019 GeoIP.dat -> GeoIP-initial.dat
-rw-r--r--    1 root root       19 sep 17  2019 GeoIP.dat.test
-rw-r--r--    1 root root  1242574 ago  8  2019 GeoIP-initial.dat
-rw-------    1 root root        0 sep 24  2019 .geoipupdate.lock
lrwxrwxrwx    1 root root       19 sep 17  2019 GeoIPv6.dat -> GeoIPv6-initial.dat
-rw-

[2020-09-18 06:36] andiyk commented on #4446
Problem solved. The Error goes away.

[2020-09-18 06:36] #4446 closed, assigned to cardigliano

[2020-09-18 06:43] andiyk commented on #4444
the Issue can closed. The Error is gone. The other Problem, that the Alerts from Suricata not shown: It should it be an new Thread/Issue.

[2020-09-18 06:43] #4444 closed, assigned to nobody

[2020-09-18 07:10] andiyk opened #4448 "The Alerts from Suricata not shown"
The Alerts from Suricata (v5.0.3 last stable) not shown in ntopng somewhere.  The Suricata Alerts was received over rsyslog from an remote Node over an dedicated LAN Connection . The Remote Node is running only nprobe+suricata. The Data from nprobe was received over ZMQ and the Data from Suricata over syslog to the ntopng Host. The Suricata (syslog IF) is configured as Companion Device to the ZMQ

[2020-09-18 08:39] simonemainardi opened #4449 "Poorly styled badge when setting the UI license"
After applying the license in the UI, this badge with an awkward look appears

![image](https://user-images.githubusercontent.com/3397663/93576573-4f114380-f99b-11ea-892b-7bab8f9edc30.png)

[2020-09-18 08:43] simonemainardi commented on #4443
License is correctly read both from /etc/ntopng.license and also from Redis if you do `ntopng --version` (tested with v.4.1.200918).

Reading license from Redis may fail if Redis need authentication (e.g., user/password) and you fail to provide them to the CLI.

[2020-09-18 08:43] #4443 closed, assigned to nobody

[2020-09-18 09:18] #4424 closed, assigned to simonemainardi

[2020-09-18 10:36] lucaderi opened #4450 "Invalid MTU and speed reported on view interfaces"
![Screen Shot 2020-09-18 at 12 28 13](https://user-images.githubusercontent.com/4493366/93588272-7708a300-f9ab-11ea-804f-411c08420a79.png)

[2020-09-18 15:51] andiyk commented on #4448
![image](https://user-images.githubusercontent.com/23166953/93618064-17c08800-f9d7-11ea-913a-4cb4e4560c4c.png)

the Suricata Events was interpreted as Traffic, not as Events. In this Screenshot shows me >2GBit on a 1Gbit Interface

[2020-09-18 16:07] lucaderi opened #4451 "Implement additional plugin hooks"
Currently, plugins are not notified when
- plugin enabled
- plugin disabled
- plugin configuration is changed

It is requested to implement these three new hooks

[2020-09-18 16:09] simonemainardi commented on #4451
- Configuration must be passed as parameter of these hooks.
- In the configuration changed, pass the new configuration or both

[2020-09-18 16:11] simonemainardi commented on #4451
during startup, configuration should be accessed.

[2020-09-18 16:42] simonemainardi commented on #4413
Implemented. Host score breakdown is returned, in %, when requesting the lua of an host inside key `score_pct`. Example:

[code]

Means a 100% server score for category `system` which has id 4.

`score_pct` is a table:
- keys are script category ids as found in `user_scripts.script_categories`
- values are the % of contribution for particular category to the total score

[2020-09-18 16:42] #4413 closed, assigned to simonemainardi

[2020-09-18 16:42] simonemainardi commented on #4414
@gabryon99 please use the implementation of https://github.com/ntop/ntopng/issues/4413

[2020-09-18 17:07] cardigliano commented on #4448
Please update to the next build as I pushed some safety check for the log parser. I ran the tests in our lab right now and it seems alerts are generated. Please check it with the new packages and let me know.

[2020-09-18 17:36] andiyk commented on #4448
same Problem:

the following Alert:

Sep 18 19:32:05 shaper suricata[9417]: {"timestamp": "2020-09-18T19:32:05.002464+0200", "flow_id": 1783381802551091, "in_iface": "enp2s0", "event_type": "alert", "src_ip": "52.216.30.4", "src_port": 80, "dest_ip": "192.168.55.70", "dest_port": 35352, "proto": "TCP", "metadata": {"flowbits": ["FB180732_0"], "flowints": {"http.anomaly.count": 1}}, "tx_id": 1, "al

[2020-09-18 17:40] andiyk commented on #4448
![image](https://user-images.githubusercontent.com/23166953/93628407-cd470780-f9e6-11ea-9f73-8ec15b94c4f7.png)

[2020-09-18 17:41] andiyk commented on #4448
![image](https://user-images.githubusercontent.com/23166953/93628513-f798c500-f9e6-11ea-87e2-d999c92afb01.png)

[2020-09-18 17:42] andiyk commented on #4448
![image](https://user-images.githubusercontent.com/23166953/93628617-1eef9200-f9e7-11ea-9974-847b3fd8ed54.png)

[2020-09-18 19:53] #4449 closed, assigned to gabryon99

[2020-09-20 11:27] simonemainardi commented on #4451
Implemented method `script.onUpdateConfig(confid, config)`.

For an example see `https://github.com/ntop/ntopng/commit/304c5404f21f7a77a5e1bfe2ba1bc2e45cfdd126#diff-4439637b09f3bf416f195bf3faa4b975`.

Method `script.onUpdateConfig(confid, config)` is necessary as:
- Multiple configurations can be defined (e.g., default configuration applied to pool X, additional configuration applied to pool Y and

[2020-09-20 13:37] jppo opened #4452 "Error when compiling last version"
Hello,

I want to compile the latest version from githud on my Sebian 10 system and I get an error :
----------------------------------------------------------------------------------------------------------------------------------------------
src/NetworkInterface.cpp: In member function ‘virtual void NetworkInterface::lua(lua_State*)’:
src/NetworkInterface.cpp:5166:54: error: ‘sub_interfaces’ was

[2020-09-20 17:05] lucaderi opened #4453 "Need to improve script.onUpdateConfig implementation"
This hook https://github.com/ntop/ntopng/commit/304c5404f21f7a77a5e1bfe2ba1bc2e45cfdd126 lacks a parameter that specifies the reason why this hook is called that can be
- plugin enable
- plugin value change
- plugin disable

Note that this hook is also called for plugin that are disabled and this is an invalid behaviour that must be addressed.

This ticket and #4454 are cross-related

[2020-09-20 17:14] lucaderi opened #4454 "Missing script hook for plugins termination"
Some plugins need to run some termination actions when they are disabled or when ntopng is shutdown.

In the first case (plugin disable) the script.onUpdateConfig() is called but
- this is misleading as no configuration changes but rather the plugin is disabled

In the latter case (ntopng shutdown) no hook is defined nor  script.onUpdateConfig() is called.

It is requested to
- call script.onUpdat

[2020-09-20 17:17] lucaderi opened #4455 "Hook script.onLoad() is called for both enabled and disabled plugins"
The above hook is called for both enabled (expected) and disabled (unexpected) plugins. While this practice is not pleasant, it is acceptable is a paramerer is passed to the hook that allows the hook to execute actions based on the fact if the plugin is enabled or disabled.

Hence
- either you call the onLoad() hook only for enabled plugins
- or add a parameter to disambiguate this behaviour

[2020-09-20 17:37] lucaderi opened #4456 "Invalid plugin disable/enable"
One of the principles of ntopng (and of most user interfaces/applications) is that there must be a single way of doing a certain thing. This means that if in a GUI you allow this
- both actions, being then the same, must have the same effect and the behavior consistent.
- the icons for both actions must be alike

Example:

![Screen Shot 2020-09-20 at 19 28 09](https://user-images.githubusercontent

[2020-09-21 06:59] simonemainardi commented on #4455
For user scripts - user scripts, not other plugin components - we can replace the onLoad method with the newly implemented `script.onUpdateConfig`. This is called when ntopng starts or when the configuration of a user script changes and it has the configuration passed as input. From the configuration you can read which hooks are enableld/disabled, and their configuration. Please comment.

[2020-09-21 07:07] simonemainardi commented on #4453
A user script can have some hooks enabled, and some other hooks disabled. `script.onUpdateConfig` receives the configuration as input which says which one of them are enabled/disabled, and individual configurations.

For, example, given the threshold cross user script:
- minute threshold can be enabled at 1000 Bps
- 5 minute threshold can be disabled

Enabled/disabled can be read from the configur

[2020-09-21 07:36] cardigliano commented on #4452
Fixed bd76fad52afdaa1ad1f57ab96b250fefb6f954a6

[2020-09-21 07:36] #4452 closed, assigned to nobody

[2020-09-21 08:09] lucaderi opened #4457 "Missing script.onResetConfig() handler"
Currently, there is no handler called when the GUI reset button is called (red button)

![Screen Shot 2020-09-20 at 19 27 59](https://user-images.githubusercontent.com/4493366/93744129-9b55c100-fbf1-11ea-85dd-5d659728fb4c.png)

It is requested to implement such a handler that is called when the reset button is called. Otherwise, modify the behavior of script.onUpdateConfig() and pass on a specific

[2020-09-21 08:30] jean-christophe-manciot opened #4458 "FTBFS: src/NetworkInterface.cpp:5166:54: error: ‘sub_interfaces’ was not declared in this scope"
Debian bullseye
ndpi: 1.8-2333-g8ba1baac
ntopng: 3.0-4295-g141622f1-3817-g304c5404f
gcc: 10.1.0-1

nDPI is built without issue after DPDK v20.08:
[code]
Building ntopng with:
[code]
leads to:
[code]

[2020-09-21 08:31] lucaderi commented on #4458
Fixed by https://github.com/ntop/ntopng/commit/af12cdb86b7ee466289a34d5df6eabadba270ce7

[2020-09-21 08:31] #4458 closed, assigned to nobody

[2020-09-21 10:25] simonemainardi opened #4459 "Race condition in score update"
Host scores are increased periodically - every minute, at the beginning of `host_score.lua` in

https://github.com/ntop/ntopng/blob/841dacd4cd2a108bd111e80843e0bf8963dd7ee5/src/NetworkInterface.cpp#L7671

However, increases are also done, by another thread, when flows go idle in

https://github.com/ntop/ntopng/blob/841dacd4cd2a108bd111e80843e0bf8963dd7ee5/src/Flow.cpp#L4354

This causes a race con

[2020-09-21 10:28] simonemainardi opened #4460 "Score update doesn't work when analyzing pcap files"
When analyzing pcap files, multiple increases are performed.

This is what happens with a pcap

![image](https://user-images.githubusercontent.com/3397663/93756697-c5b17980-fc05-11ea-95f3-8c092599f8f0.png)

Expected result in the case of the image is 1000 and 5, not 1010 and 15.

[2020-09-21 16:56] simonemainardi commented on #4457
I think the best way to implement this behavior is to make the "Reset Default" button open a modal, asking the user to reset the script to the default value. Then, if the user clicks on yes, the configuration is reset and the hook called.

With the current implementation, the described behavior cannot be implemented as
1. Reset Default populate the UI with default values
2. Then the user can chang

[2020-09-21 17:03] cardigliano commented on #4448
@andiyk I pushed another fix for this today, please update to the next build and let me know. Thank you.

[2020-09-21 19:50] lucaderi opened #4461 "Edit button must be disabled for disabled scripts"
![Screen Shot 2020-09-21 at 21 50 18](https://user-images.githubusercontent.com/4493366/93814186-79415a80-fc54-11ea-81c4-d9f837da4e22.png)

[2020-09-21 20:31] lucaderi commented on #4457
I don't think it's a good idea to implement a modal on top of a modal. The point here is that the default value needs to be stored somewhere and not always is a static value as the one you put in the plugin code.
Anyway if too complex just leave it as is, but change "Reset Default" to "Reset to Factory Values" or something like that as this is the correct label

[2020-09-21 20:40] lucaderi commented on #4451
Verified: working as expected.

[2020-09-21 20:40] #4451 closed, assigned to simonemainardi

[2020-09-21 20:41] lucaderi commented on #4453
Verified: working as expected.

[2020-09-21 20:41] #4453 closed, assigned to simonemainardi

[2020-09-21 20:41] lucaderi commented on #4454
Verified: working as expected.

[2020-09-21 20:41] #4454 closed, assigned to simonemainardi

[2020-09-21 20:41] lucaderi commented on #4455
Verified: working as expected.

[2020-09-21 20:41] #4455 closed, assigned to simonemainardi

[2020-09-22 05:53] MaoPann opened #4462 "no results"
Why there is no resualts ?

![image](https://user-images.githubusercontent.com/44804599/93847914-df70c080-fcda-11ea-8cd9-003160c0f40b.png)
![image](https://user-images.githubusercontent.com/44804599/93849496-da157500-fcde-11ea-9a12-75b45706f5fa.png)

[2020-09-22 06:02] andiyk commented on #4448
no. the same Problem.
the following Alert from Suricata:

        Facility local5 (21), Severity error (3)
        Msg: Sep 22 07:53:01 shaper suricata[13803]: {"timestamp": "2020-09-22T07:53:01.158583+0200", "flow_id": 594374370838263, "in_iface": "enp2s0", "event_type": "alert", "src_ip": "192.168.xxx.xxx", "src_port": 60621, "dest_ip": "123.206.51.22", "dest_port": 9000, "proto": "TCP", "metada

[2020-09-22 07:09] simonemainardi commented on #4462
Selected timeframes don't match. Align them.

[2020-09-22 07:09] #4462 closed, assigned to nobody

[2020-09-22 07:10] cardigliano commented on #4335
Great

[2020-09-22 07:10] #4335 closed, assigned to cardigliano

[2020-09-22 07:14] cardigliano commented on #4448
@andiyk are you available for a joint debug session? (video call or ssh) Please write to cardigliano at ntop.org

[2020-09-22 08:05] gabryon99 opened #4463 "Hide widgets and datasources from menu"
We have decided to implement the widgets and datasources in the next release.

[2020-09-22 08:06] gabryon99 commented on #4463
Hidden. See commit: https://github.com/ntop/ntopng/commit/ecd3e4e06244d25edde11455088cd835b3fba5d8

[2020-09-22 08:06] #4463 closed, assigned to gabryon99

[2020-09-22 08:09] #4264 closed, assigned to gabryon99

[2020-09-22 08:40] lucaderi opened #4464 "Modify disabled script behaviour"
![Screen Shot 2020-09-22 at 10 01 58](https://user-images.githubusercontent.com/4493366/93857319-b3454780-fcba-11ea-8d04-21b758bbba37.png)

In disabled scripts, the edit button should not be visualized as disabled scripts configuration should not be changed. Instead the toggle enable/disable must be always enabled and it should redirect to the current "edit" button so people can toggle the enable

[2020-09-22 08:48] lucaderi opened #4465 "Invalid pool migration message reported"
In ntopng (no nEdge) the following message is reported
22/Sep/2020 10:46:43 [startup.lua:42] [host_pools_nedge.lua:719] WARNING: Host pools configuration migrated.

when ntopng starts from scratch. You can reproduce it with
rm /var/lib/ntopng/runtimeprefs.json; redis-cli flushall
then start ntopng

[2020-09-22 08:52] simonemainardi opened #4466 "Unable to show CPU load - JS error"
![image](https://user-images.githubusercontent.com/3397663/93861991-b2fc7a80-fcc1-11ea-94ad-478a066ac2c2.png)

[2020-09-22 09:08] lucaderi opened #4467 "Invalid button state in user scripts"
After a full ntopng reset (stop ntopng; rm /var/lib/ntopng/runtimeprefs.json ; redis-cli flushall; start ntopng again) I have:

![Screen Shot 2020-09-22 at 11 05 10](https://user-images.githubusercontent.com/4493366/93863236-9103f780-fcc3-11ea-86b6-e591b3afa8ee.png)

Bugs
- Rename is enabled for the default configuration: this happens for all tabs
![Screen Shot 2020-09-22 at 11 05 26](https://user

[2020-09-22 09:13] simonemainardi opened #4468 "Clicking restore host causes ntopng to crash"
When trying to restore an host from the search

![image](https://user-images.githubusercontent.com/3397663/93864025-944bb300-fcc4-11ea-8668-7ec199cabf4e.png)

ntopng hangs for a while with "restoring host..." and then eventually crashes

[2020-09-22 09:54] #4405 closed, assigned to gabryon99

[2020-09-22 09:56] lucaderi opened #4469 "The configure button must be gray all time and not only when the mouse is on it"
![Screen Shot 2020-09-22 at 11 55 31](https://user-images.githubusercontent.com/4493366/93868288-8c8f0d00-fcca-11ea-83b3-ef0b02b04238.png)
![Screen Shot 2020-09-22 at 11 55 23](https://user-images.githubusercontent.com/4493366/93868294-8dc03a00-fcca-11ea-8f4c-d4156d5edf27.png)

[2020-09-22 09:59] lucaderi opened #4470 "Outdated DHCP Alert Messages"
![Screen Shot 2020-09-22 at 11 57 40](https://user-images.githubusercontent.com/4493366/93868525-d7108980-fcca-11ea-9d42-5e2055776d34.png)
![Screen Shot 2020-09-22 at 11 57 28](https://user-images.githubusercontent.com/4493366/93868526-d7a92000-fcca-11ea-8dd7-ca5ea95a27e8.png)

The above messages have not yet been migrated to the new style

![image](https://user-images.githubusercontent.com/449336

[2020-09-22 10:03] lucaderi opened #4471 "Unify Tab Styles"
Correct Tab style

![Screen Shot 2020-09-22 at 12 01 19](https://user-images.githubusercontent.com/4493366/93868872-5dc56680-fccb-11ea-8b7c-1f41d5710a99.png)

invalid Tab style (hard to distinguish a button with the same color with a tab)
![Screen Shot 2020-09-22 at 12 00 53](https://user-images.githubusercontent.com/4493366/93868875-5e5dfd00-fccb-11ea-8243-6e28c3915d14.png)

The whole ntopng UI m

[2020-09-22 10:09] simonemainardi opened #4472 "Save L7-Categories in nIndex"
It is requested to save L7-categories in nIndex and update queries to only return flows for a given category.

[2020-09-22 10:10] simonemainardi commented on #4410
show the errors you get

[2020-09-22 10:12] simonemainardi commented on #4324
Backend is implemented. Now needed to show this information in the UI.

[2020-09-22 10:13] lucaderi opened #4473 "Christmas Tree Button Layout"
This is a regression that has been broken in one of the latest commits.
![Screen_Shot_2020-09-22_at_12_10_21](https://user-images.githubusercontent.com/4493366/93870034-ef81a380-fccc-11ea-896e-27e46150e6d4.png)

The two vertical lines MUST be aligned as it sued to be until some days ago

[2020-09-22 10:15] #4457 closed, assigned to simonemainardi, gabryon99

[2020-09-22 10:18] simonemainardi opened #4474 "Implement OO endpoints with integer IDs"
Similar to what has been done for `recipients`, it is requested to implement endpoints as OO with integer ids.

For reference, see implementation in `modules/recipients/recipients.lua`.

Then, all the UI must be migrated to the new implementation.

[2020-09-22 10:19] simonemainardi commented on #4434
this ticket depends on https://github.com/ntop/ntopng/issues/4474

[2020-09-22 10:24] simonemainardi opened #4475 "Implement OO import/export and REST API"
A new OO module for import export must be implemented: `modules/import_export/import_export.lua`.

Multiple items must be contained in the module, e.g., `modules/import_export/items/{snmp, pools, notifications, etc}`, each one implementing `:import()` and `:export()` functions, producing and reading a JSON, respectively.

- SNMP devices, active monitoring, user scripts are exported as-is without d

[2020-09-22 10:24] simonemainardi commented on #4128
this ticket depends on https://github.com/ntop/ntopng/issues/4475

[2020-09-22 13:02] simonemainardi commented on #4473
Christmas tree also in category lists

![image](https://user-images.githubusercontent.com/3397663/93885602-9e7da980-fce4-11ea-8a7e-c91207778847.png)

Plus, the button upload is wrong as the action is a refresh.

[2020-09-22 13:47] #4459 closed, assigned to simonemainardi, lucaderi

[2020-09-22 13:47] #4460 closed, assigned to simonemainardi, lucaderi

[2020-09-22 15:10] lucaderi opened #4476 "Button style must be consistent"
SNMP/Pools
![Screen Shot 2020-09-22 at 17 08 47](https://user-images.githubusercontent.com/4493366/93900984-51a2ce80-fcf6-11ea-9027-f7ccc250cc23.png)

Active Monitoring
![Screen Shot 2020-09-22 at 17 08 41](https://user-images.githubusercontent.com/4493366/93900991-549dbf00-fcf6-11ea-8334-892c708e7946.png)

[2020-09-22 15:22] kruisdraad commented on #1104
Hi,

I have the same issue. LDAP search works, but only if i allow self-signed certificates in /etc/ldap.conf. These settings are:
tls_checkpeer no
TLS_REQCERT allow

Some libraries use the ldap.conf as a base. In Other e.g. PHP sessions i also must specifiy that i am using a self-signed certificated. In the NTOPNG settings there is no such option.

I know the configuration is correct, because i c

[2020-09-22 15:32] kruisdraad commented on #1104
Oh update, using /etc/ldap.conf DOES work, but requires a RESTART of ntopng to be effective. i perhaps an addition for the manual?

Also the administrator must ALSO be a member of the USERS group, else i cannot login. So you must create a nested AD group to include admins in users.

[2020-09-22 15:36] cardigliano commented on #4448
Fixed in 7bda229e8f1ccda336fcbc377004837d92a1ba95

[2020-09-22 15:36] #4448 closed, assigned to cardigliano

[2020-09-22 16:02] #4465 closed, assigned to simonemainardi

[2020-09-22 16:03] #4450 closed, assigned to simonemainardi, gabryon99

[2020-09-22 16:42] cfrancis2b opened #4477 "Failed to start after update."
Failed to start after update:

Sep 22 07:48:18 Updated: ntopng-data-4.1.200922-10997.noarch
Sep 22 07:48:18 Updated: ndpi-3.3.0-2840.x86_64
Sep 22 07:48:19 Updated: pfring-7.7.0-3175.x86_64
Sep 22 07:48:21 Updated: nprobe-9.1.200922-6952.x86_64
Sep 22 07:48:21 Updated: cento-1.11.200922-583.x86_64
Sep 22 07:48:26 Updated: ntopng-4.1.200922-10997.x86_64

Error:
====
 You're not supposed to be here!

[2020-09-22 17:02] #4477 closed, assigned to nobody

[2020-09-22 17:10] simonemainardi opened #4478 ".fail() arrow functions have wrong parameters"
All `.fail` arrow functions in `cripts-list-utils.js` (need to check other files as well) have a wrong set of parameters:

[code]

should be

[code]

It is requested to fix all this calls.

[2020-09-22 17:13] simonemainardi opened #4479 "Unable to toggle on user scripts without templates"
User scripts without a template cause an exception to be thrown

![image](https://user-images.githubusercontent.com/3397663/93914879-72275480-fd07-11ea-93a0-772c8786c78b.png)

An consequently it is impossible to enable them with the following

![image](https://user-images.githubusercontent.com/3397663/93914936-8ff4b980-fd07-11ea-8841-6cadea712f1c.png)

[2020-09-22 21:43] gabryon99 commented on #4467
It seems that inside `scripts_config.lua` the `default_config_only` flag is set to false because `user_scripts.getScriptType(subdir).default_config_only` where `subdir=flows` returns nil.

See the code:
[code]

[2020-09-23 01:02] MaoPann commented on #4462
I don't understand what you mean.

[2020-09-23 01:47] MaoPann opened #4480 "Timeseries infixdb setup failed."
When I set influxdb and saved it, the settings seem to fail. After setting, it is still RRD.
![image](https://user-images.githubusercontent.com/44804599/93955175-be16df80-fd81-11ea-95c2-ff6d0a8c791e.png)

[2020-09-23 02:21] MaoPann commented on #4480
How to check whether infixdb is set successfully and the storage space occupied by infixdb

[2020-09-23 06:24] #4469 closed, assigned to gabryon99

[2020-09-23 06:27] gabryon99 commented on #4479
Commit reference: https://github.com/ntop/ntopng/commit/fc70eaa37799ae064a6a93414bc9d7e68d94af95

[2020-09-23 06:40] lucaderi commented on #4479
In order to reproduce you need to follow these steps
- disable the flow risk plugin
- enable the flow risk plugin and the problem will show up

[2020-09-23 08:34] simonemainardi commented on #4479
@gabryon99 please explain how you've handled missing templates. What happens when now when the template doesn't exist? Is the exception still thrown?

[2020-09-23 10:24] lucaderi commented on #3843
Currently implemented. See #4437 for a refinement of this ticket

[2020-09-23 10:24] #3843 closed, assigned to nobody

[2020-09-23 10:24] #4414 closed, assigned to gabryon99

[2020-09-23 10:53] simonemainardi opened #4481 "No not show ZERO in column"
As discussed:

Zero values are never reported by ntopng, remove them

![image](https://user-images.githubusercontent.com/3397663/94003500-95034880-fd9b-11ea-8116-f64e56952704.png)

Also remove column Number of Usage as only Time Since Last Use is desired (Number of Usage can become a huge number, meaningless for the end user)

[2020-09-23 11:52] #4320 closed, assigned to cardigliano

[2020-09-23 14:01] lucaderi commented on #4480
You can check it on the preferences page. The RRD storage is used because you have old RRD files. Does this help?

[2020-09-23 14:21] gabryon99 commented on #4464
Currently, we have decided to shows all the three buttons in the action column.
When a script is disabled then the source code button and the `edit` button are disabled, only the `toggle on` button is enabled.

**Disabled Section:**
For the scripts who don't have parameters to configure then clicking on the `toggle on` button it enables the script normally, instead, for those who have parameters t

[2020-09-23 14:23] gabryon99 commented on #4479
Now when there isn't a template for a User Script an alert message will be shown inside the edit modal. The edit modal of a plugin that doesn't have a template it has only the 'Cancel' button.

[2020-09-23 14:26] gabryon99 commented on #4478
The set of parameters is right. The problem was caused by an exception thrown when a user script didn't have a template to use. Now thanks to the edits done for the ticket #4479 this doesn't happen anymore.

[2020-09-23 14:36] gabryon99 commented on #4467
The bug for the renaming default config has been solved. Now on the tabs who have only the default config, only the edit button is shown.

[2020-09-23 14:37] gabryon99 commented on #4263
The `All` pool has been implemented. The http_prefix has been added in all the endpoints used by the pools.

[2020-09-23 15:08] cardigliano commented on #4128
REST endpoints for import/export of the user script configuration are available at:

lua/rest/v1/export/scripts/config.lua (an optional download parameter can be provided to download a file without the rest envelope)
lua/rest/v1/import/scripts/config.lua (an exported JSON should be provided, without the rest envelope)

They can already be used to test the GUI.

[2020-09-23 15:20] gabryon99 commented on #4481
Column removed as requested.

[2020-09-23 15:20] #4481 closed, assigned to gabryon99

[2020-09-23 15:24] lucaderi opened #4482 "Invalid () formatting"
![Screen_Shot_2020-09-23_at_17_23_05](https://user-images.githubusercontent.com/4493366/94033789-9d6e7a00-fdc1-11ea-881e-009465a6cc02.png)

[2020-09-23 15:43] lucaderi opened #4483 "Invalid Recipients Behaviour"
How to reproduce it
- create 3 recipients
![Screen Shot 2020-09-23 at 17 37 14](https://user-images.githubusercontent.com/4493366/94035508-72852580-fdc3-11ea-8a0c-d6559218dd6c.png)
the first one (luca in my case) has Info as severity, luca-errors has severity Error, luca-warning has severity Warning.
![Screen Shot 2020-09-23 at 17 38 34](https://user-images.githubusercontent.com/4493366/94035641-9

[2020-09-23 15:59] #4432 closed, assigned to simonemainardi

[2020-09-23 16:22] simonemainardi opened #4484 "Bugged Parentheses"
![image](https://user-images.githubusercontent.com/3397663/94040796-a8c5a380-fdc9-11ea-893a-4e763939e755.png)

expected behavior is to remove outer parentheses and leave the per-endpoint format function do the work.

[2020-09-23 16:31] simonemainardi commented on #4484
duplicate of #4482

[2020-09-23 16:31] #4484 closed, assigned to gabryon99

[2020-09-23 16:34] MaoPann commented on #4480
of no avail. I have delete all rrd files in /var/lib/ntopng. what should I do?I set influxdb, click Save settings, it will automatically jump to RRD.I'm in a hurry. How to solve it,

[2020-09-23 17:03] simonemainardi commented on #4480
What does the settings page say after you set influx? A message OK/ERROR should appear at the top of the settings page.

[2020-09-23 17:12] MaoPann commented on #4480
nothing  at the top of the settings page.

![image](https://user-images.githubusercontent.com/44804599/94046354-28239900-fe03-11ea-8855-8620631c2f6b.png)

[2020-09-23 19:52] gabryon99 commented on #4471
<img width="1792" alt="Screenshot 2020-09-23 at 21 52 01" src="https://user-images.githubusercontent.com/14114916/94062474-04525a00-fde7-11ea-939d-0b4451a60b1e.png">

Now the tabs on the page have the same look. See the referenced commit in the ticket

[2020-09-23 19:56] #4482 closed, assigned to gabryon99

[2020-09-23 21:29] gabryon99 commented on #4476
The button style has been uniformed across the pages. Now we only need to implement the Manage Config page to bound a link to the button Import/Export Configuration.

[2020-09-24 07:25] #4479 closed, assigned to gabryon99

[2020-09-24 07:25] #4478 closed, assigned to gabryon99

[2020-09-24 07:30] simonemainardi commented on #4476
The pages indicated have still very same look as already highlighted. Nothing has changed.

![image](https://user-images.githubusercontent.com/3397663/94114321-7c04a100-fe48-11ea-987f-12b66048cfb4.png)

![image](https://user-images.githubusercontent.com/3397663/94114340-832baf00-fe48-11ea-8856-cb574a92f176.png)

[2020-09-24 07:31] Kptainflintt opened #4485 ""Top application Protocols" on Dashboard is empty"
Hello,

I try to make working my installation but on dashboard, "Top Application" and "Top hosts" are not functionning, circle is grayed out, no error message or "No data" message.

At the other side, when I go to "Interface section", I can see used application charts...

v.4.1.200923    [Enterprise/Professional build]
GIT rev:        dev:c7b7f2ee1b65701bbd22842a8fe90c13b2798e66:20200923
Pro rev:

[2020-09-24 07:34] simonemainardi commented on #4471
Tabs still unchanged (and broken) in

![image](https://user-images.githubusercontent.com/3397663/94114599-dbfb4780-fe48-11ea-9840-0d56c9f83587.png)

![image](https://user-images.githubusercontent.com/3397663/94114700-fdf4ca00-fe48-11ea-9cd2-9e2926e1245f.png)

[2020-09-24 07:37] simonemainardi commented on #4467
This is inconsistent behavior.

As you've hidden the 'rename' for the default config in flows Default config

![image](https://user-images.githubusercontent.com/3397663/94114976-5fb53400-fe49-11ea-829d-20178985cd78.png)

you must hide it everywhere for every Default config. For example, for hosts, the button is just disabled

![image](https://user-images.githubusercontent.com/3397663/94115065-8116

[2020-09-24 07:39] #4464 closed, assigned to gabryon99

[2020-09-24 07:42] simonemainardi commented on #4263
please, move the All tab as the last element of the list.

[2020-09-24 07:49] simonemainardi commented on #4476
Fixed. Issue was just due to browser caching.

[2020-09-24 07:49] #4476 closed, assigned to gabryon99

[2020-09-24 08:03] simonemainardi commented on #4485
please, report the ntopng configuration used, and a screenshot of the ntopng header bar.

[2020-09-24 08:05] simonemainardi commented on #4480
Click InfluxDB, set the params, Click save, and look at the top of the page. A message will appear. Either Success or an Error will tell you what is happening.

[2020-09-24 08:50] jonaskluger commented on #4485
I tried to query data today via the flows REST API and get to an error page.
This worked fine just yesterday. We are using the daily build version.

Could this be related to this issue?

![image](https://user-images.githubusercontent.com/39433953/94123150-b58ed980-fe53-11ea-8ab6-006b4dc00152.png)

[2020-09-24 09:04] MaoPann commented on #4480
Yes,I have done,the results as follow.
![image](https://user-images.githubusercontent.com/44804599/94124784-07515700-fe88-11ea-92a7-7ec66cc3c13e.png)

[2020-09-24 10:30] clebig opened #4486 "License mismatch error"
Hi,

I have tried to get my ntopng 4.0 activated with a license key for Enterprise L x86_64 but it doesn't work. I get a message saying "License mismatch error" when I run ntopng --version.

I have sent an email to Maria who checked everything, she confirmed the "system" tells  "it's a permanent license". She invited me to open a ticket here.

Below the ntopng --version output. For obvious reasons

[2020-09-24 10:45] lucaderi commented on #4483
Verified it is fixed now

[2020-09-24 10:45] #4483 closed, assigned to simonemainardi

[2020-09-24 11:36] simonemainardi commented on #4485
please, show the endpoint you've contacted

[2020-09-24 11:38] simonemainardi commented on #4480
you should either see

![image](https://user-images.githubusercontent.com/3397663/94140141-1a096300-fe6b-11ea-816f-52a746f1d0cf.png)

or an error with the motivation:

![image](https://user-images.githubusercontent.com/3397663/94140181-22619e00-fe6b-11ea-8260-77a65e671ec5.png)

[2020-09-24 12:19] jonaskluger commented on #4485
http://my-ntopng-url:3000/lua/rest/v1/get/flow/active.lua?ifid=2&currentPage=1&perPage=2000&sortColumn=column_bytes&sortOrder=asc

ntopng Enterprise M v.4.1.200924

[2020-09-24 13:09] lucaderi commented on #4486
I have checked your orderId and you have generated by mistake the license for your orderId and not for your systemId. I have invalidated it; please generate it again and it will work.

[2020-09-24 13:09] #4486 closed, assigned to nobody

[2020-09-24 13:17] lucaderi opened #4487 "Rework ELK EndPoint/Recipient"
In ntopng 4.1.x endpoint/recipients are used to deliver events to consumers. Alerts fall into this category. Currently, persistent alert storage is implemented by the SQLite component that is good for small sites but not for large ones. As of today ntopng has the ability to store alerts in ELK but this is hidden in the interface, mixed with -F and preferences.

This ticket requests to create an EL