[2017-10-04 14:28] simonemainardi commented on #1398
try to remove --flow-version as well.

Apart from the throughput values that you mentioned, are the total values of bytes and packets correct?

[2017-10-04 14:55] qm2k commented on #1398
Removing --flow-version did not help. When I list specific flows, their Total Bytes value looks correct.

[2017-10-04 15:44] simonemainardi commented on #1473
implemented

![image](https://user-images.githubusercontent.com/3397663/31185200-b001a662-a92b-11e7-9eab-96064e55a7c8.png)

[2017-10-04 15:44] #1473 closed, assigned to simonemainardi

[2017-10-04 16:50] adb854 opened #1507 "ntopng doesn't save prefereces permanently"
Hi,
I installed ntopng ver. 3.1.170713 on Windows 10 and it works very well, except that when I try to set the preferences the changes are not saved permanently. When the service is restarted the options turn back to their default values.
Could someone please help? Thank you in advance.

[2017-10-04 19:53] pocho1987 opened #1508 "Use of templating variables in grafana with ntop datasource"
Hi,

I've been triying to use variables to have templating dashboard to be able to visualize ntop graphs for different hosts, but i have notice that i can not use variables in the metrics when configuring the panel graph in grafana with ntop datasource.. so i would like to know if it is possible to use templating variables when using grafana with ntop datasource (create a different graph panel for

[2017-10-04 22:25] simonemainardi commented on #1474
implemented as requested. configuration available via ntopng preferences

[2017-10-04 22:25] #1474 closed, assigned to simonemainardi

[2017-10-05 07:44] adb854 commented on #1507
I noticed in "Runtime Status" rows like this:
05/Oct/2017 09:36:47 [Utils.cpp:242] WARNING: Unable to write file \var\tmp\ntopng/runtimeprefs.json.temp
So I created the forlder hierarchy c:\var\tmp\ntopng and then preferences saved.

[2017-10-05 07:45] simonemainardi commented on #1508
I'm moving the discussion to https://github.com/ntop/ntopng-grafana-datasource/issues

[2017-10-05 07:45] #1508 closed, assigned to nobody

[2017-10-05 07:55] simonemainardi commented on #1508
can you explain how you are adding variables and if you get any error?

[2017-10-05 08:00] #1507 closed, assigned to nobody

[2017-10-05 08:02] simonemainardi commented on #1507
Thanks for reporting. Issue is fixed and will be available in the next Windows build.

[2017-10-05 13:32] simonemainardi commented on #1476
![image](https://user-images.githubusercontent.com/3397663/31229841-529ba01a-a9e2-11e7-89f6-25988bc74456.png)

implemented. Categories are now listed in an independent section of the dropdown menu and a stacked chart is available for the top RRDs.

[2017-10-05 13:32] #1476 closed, assigned to simonemainardi

[2017-10-05 14:26] simonemainardi commented on #1506
@lucaderi

- Do the timeseries of the unexpected protocols contain significant traffic?
- Is it possible for some flows to be mis-classified by nDPI?
- As you know (Google for example) offers some CDN services (e.g., to relay several common JS libraries). Do you think this can explain the unexpected protocols?

[2017-10-05 15:33] simonemainardi commented on #1505
implemented

![image](https://user-images.githubusercontent.com/3397663/31235770-9a6f7a14-a9f2-11e7-8228-ad3fa325d4d5.png)

[2017-10-05 15:50] #1505 closed, assigned to simonemainardi

[2017-10-05 15:54] simonemainardi commented on #1506
Autonomous systems RRD files search path was wrongly generated.

I believe commits https://github.com/ntop/ntopng/commit/2faec95bd666dc585c9d43807b0e720d145af729 and the pro 5c49b3f9010467f6e83b9a438c77cfbc329bd205 has fixed the issue.

please check and reopen if necessary

[2017-10-05 15:54] #1506 closed, assigned to simonemainardi

[2017-10-05 16:21] simonemainardi commented on #1484
an `sslscan` highlighted NO SSLv3 chipers supported even without commit  https://github.com/ntop/ntopng/commit/f36a2b1dd5f49ea46d6389f16ca66b27bcba4764

[code]

@emanuele-f how can you say we offer SSLv3 with mongoose?

[2017-10-06 08:19] anonygit123 commented on #479
I've experienced this issue with ntopng on pfsense. It works with Firefox but not Google Chrome.
The causing factor in my scenario is because the https certificate is self-signed and does not match the name.

Firefox fully respects the user's decision to proceed and "trusts it", Chrome doesn't.

Chrome lets the user connect but it either allow the "secure cookies" to be set or it doesn't send them

[2017-10-06 09:14] emanuele-f commented on #1484
As discussed, the SSLv3 support availability is probably dependent on the openssl version installed on the system. I'm closing the issue for now. @nanook72 if you have news please feel free to comment. Thanks

[2017-10-06 09:14] #1484 closed, assigned to nobody

[2017-10-06 09:16] simonemainardi commented on #1504
A key now explains how to read the AS charts

![image](https://user-images.githubusercontent.com/3397663/31270958-a4fc57e2-aa86-11e7-93f1-dfb7aea82c69.png)

I do not believe that swapping RX and TX will be OK. It is true that if you have local hosts that visit google, you would like to see a lot of traffic received FROM google (so RX). But imagine an infrastructure that hosts webservers and use nt

[2017-10-06 09:17] #1504 closed, assigned to simonemainardi

[2017-10-06 09:26] simonemainardi commented on #1503
@AkshatGhai123 any news?

[2017-10-06 09:41] AkshatGhai123 commented on #1503
Hi Simon, it was an issue with pf_ring
it was not able to start
i uninstalled it, rebooted my system and then reinstalled pf_ring and ntopng, and it started working :D

[2017-10-06 09:41] #1503 closed, assigned to nobody

[2017-10-06 10:00] simonemainardi commented on #1500
![](https://github.trello.services/images/mini-trello-icon.png) [implement flow drops count in inline mode (per host/device/mac)](https://trello.com/c/jIy97jiG/2-implement-flow-drops-count-in-inline-mode-per-host-device-mac)

[2017-10-06 14:40] nanook72 commented on #1484
I understand what you’re saying and I have disabled it in apache configs for anything running on 443.  However the vulnerability scans point specifically port 3000 which ntop is running on and I need to disable SSL3 for that.

From: Emanuele Faranda <notifications@github.com>
Reply-To: ntop/ntopng <reply@reply.github.com>
Date: Friday, October 6, 2017 at 4:15 AM
To: ntop/ntopng <ntopng@noreply.git

[2017-10-06 17:46] simonemainardi commented on #1500
As requested feature is implemented both for hosts, devices and pools.

![image](https://user-images.githubusercontent.com/3397663/31290358-7dfdad1c-aacc-11e7-9b8c-461db424aafc.png)

![image](https://user-images.githubusercontent.com/3397663/31290440-c3c11a28-aacc-11e7-9a32-cca7d497fc78.png)

a new row is shown in either hosts and devices page when the number of flow drops is greater than zero and

[2017-10-06 17:46] #1500 closed, assigned to simonemainardi

[2017-10-08 17:40] isvilenski opened #1509 "Attempt to index local 'localdate' (a nil value)]"
Hello,
I installed the latest ntopng on a windows server.
It appears like everything is working fine except I get this error message in the console every 3 seconds.

[Lua.cpp:6559] WARNING: Script failure [C:\Program Files\ntopng\scripts\lua\network_load.lua][C:\Program Files\ntopng/scripts/lua/modules/lua_utils.lua:2794: attempt to index local 'localdate' (a nil value)]

This is the function that

[2017-10-09 02:17] qianguozheng opened #1510 "Compile failed due to not found libcache.h"
I update nDPI to the latest(2476c3c1b63b87ae85254f717315b9f8a52b4f7e), and update ntopng to the latest(4e4020a480d91c1f921123ebf3824b87751ce636).
But still cannot make ntopng being compiled ok.

below is the error not found libcache.h.

how should I do to make it work fine ?
[code]

[2017-10-09 08:59] emanuele-f commented on #1477
This is not needed anymore

[2017-10-09 08:59] #1477 closed, assigned to lucaderi

[2017-10-09 10:53] emanuele-f commented on #1510
Hi, you need to clone ndpi into `/home/weeds/magicwifi/test` and compile it. Please execute:
[code]

You should be able to compile it now.

[2017-10-09 10:55] emanuele-f commented on #1484
With my patch above SSL3 should be disabled no matter what library version you run. Please update and check it out.

[2017-10-09 14:01] simonemainardi opened #1511 "Host pools member counters are wrong"
Host pools member counters are handled by increasing/decreasing a counter in method Host::updateHostPool(). However, this method is called both in the data path and in periodic scripts. For this reason counter updates are not safe. In addition, the counter is not decreased when a member host is purged from memory, causing always-increasing counter values.

[2017-10-09 16:29] simonemainardi commented on #1451
implemented

![image](https://user-images.githubusercontent.com/3397663/31348370-bce27c06-ad1f-11e7-8868-d6aa28d0e645.png)

[2017-10-09 16:29] #1451 closed, assigned to simonemainardi

[2017-10-09 16:36] simonemainardi commented on #1070
ntopng grafana datasource plugin is out:
- source code: https://github.com/ntop/ntopng-grafana-datasource
- announcement: http://www.ntop.org/ntopng/ntopng-grafana-integration-the-beauty-of-data-visualizazion/
- grafana community: https://grafana.com/plugins/ntop-ntopng-datasource

[2017-10-09 16:36] #1070 closed, assigned to simonemainardi

[2017-10-09 16:53] simonemainardi commented on #1509
thanks for reporting, this is fixed and will be available in the next windows build.

[2017-10-09 16:53] #1509 closed, assigned to nobody

[2017-10-09 17:20] simonemainardi commented on #1498
I have just re-tested name resolution with 3.1.170713 on windows and DNS resolution works properly.

Please, check your command line: the dash doesn't seem the standard one:  –n 1  should be -n 1 (note the first dash is longer and is non standard).

[2017-10-09 17:49] mikeshev commented on #1498
Oh my! You are indeed correct. So sorry I never notice that! I will note the ticket regarding my mistake. Many thanks for your help.

From: simonemainardi [mailto:notifications@github.com]
Sent: Monday, October 09, 2017 1:21 PM
To: ntop/ntopng
Cc: Michael Shevenell; Author
Subject: Re: [ntop/ntopng] DNS Resolution Broke (Windows) (#1498)

I have just re-tested name resolution with 3.1.170713 on wi

[2017-10-09 17:51] simonemainardi commented on #1498
thanks for reporting :)

[2017-10-09 17:51] #1498 closed, assigned to nobody

[2017-10-09 22:51] glego commented on #297
@tylerszabo , I'm running **2.3.4-RELEASE-p1** with **ntopng 0.8.10**, did you first **uninstall** the existing packages and then manually installed the FreeBSD binaries or did you install the binaries over the existing installation?

Thanks,
/Glenn

[2017-10-10 02:21] qianguozheng commented on #1510
I follow your instruction, but still fail.

and I think it should be the relative path of libcache.h problem, actually I don't have any path like this *../lib/third_party/include/libcache.h: No such file or directory*, this is the problem.

[code]

[2017-10-10 02:34] qianguozheng commented on #1510
I make it work by create a folder of  `lib/third_party/include/` under /usr/local/libndpi-xxx, and I think this problem maybe caused by that I have already install nDPI before, but not uninstall before execute your instruction, and I modify the Makefile of ntopng to make it find the libndpi.a at where I compile nDPI.

[code]

Thanks.

[2017-10-10 02:34] #1510 closed, assigned to nobody

[2017-10-10 04:58] tylerszabo commented on #297
@glego I removed all previous versions when I was experimenting with different packages, but none of them worked until I installed version 3. I'm not sure how to go from a working older version to version 3; I'd suspect an uninstall would be enough.

[2017-10-10 08:00] gianogli opened #1512 "Option "-H" in the help message..."
Hi, after this [commit](https://github.com/ntop/ntopng/commit/76153395c4e47454556ae18535bde32e5abb44e1) you also have to remove this entry into the ntopng help:

`[--disable-alerts|-H]               | Disable alerts generation`

Thanks... :-)

[2017-10-10 08:04] simonemainardi commented on #1512
yes the commit implements feature request https://github.com/ntop/ntopng/issues/1490

you can disable alerts from the ntopng web UI.

[2017-10-10 08:04] #1512 closed, assigned to nobody

[2017-10-10 08:17] gianogli commented on #1512
@simonemainardi yes, I know. But if you run "notng -h" (last version) you can still find the line about the flag "-H". You should remove it from the help. ;-)

[2017-10-10 08:39] simonemainardi commented on #1487
@dsubariyanto any news?

[2017-10-10 09:59] dsubariyanto commented on #1487
The logs still same with previous I generated, it tells `stop reason = signal SIGSTOP`. I plan to test on another mac with same OSX (el capitan). I'm afraid this issues just occured on my mac.

[2017-10-10 14:42] oernii opened #1513 "http 403 - RPM-GPG-KEY-deri"
Hi, the public key is unaccessible:
curl -v http://packages.ntop.org/centos-stable/RPM-GPG-KEY-deri
< HTTP/1.1 403 Forbidden

[2017-10-10 15:05] lucaderi commented on #1513
Fixed. Thank you for reporting it

[2017-10-10 15:05] #1513 closed, assigned to nobody

[2017-10-11 00:37] isvilenski commented on #1509
Thanks!

[2017-10-11 06:57] savanapandit opened #1514 "Lua script Modification"
Hello ,
i was trying to modify lua example script at location /ntopng/scripts/lua/examples/hello_world.lua , but i cant see the modification changes from web
https://<ip address>:3001/lua/examples/hello_world.lua

i tried following steps to see modification

1- Restart ntop

Any clue

[2017-10-11 07:20] mahescho opened #1515 "Debian Repo broken?"
http://packages.ntop.org does no longer work for me. I use:

deb http://packages.ntop.org/apt/jessie/ x64/
deb http://packages.ntop.org/apt/jessie/ all/

in my sources list. The repo does not look like a usual valid default repo. Please consider to use some thing like that:

https://mirrorer.alioth.debian.org/

to build a "normal standard" repo. It's pretty easy.

EDIT: I've moved the packages to

[2017-10-11 08:26] emanuele-f commented on #1515
Hi, can you post the error you get?

[2017-10-11 08:28] mahescho commented on #1515
Holen: 1 http://packages.ntop.org/apt/jessie/ all/ apt-ntop 2.5-822 [6.704 B]
Fehl http://packages.ntop.org/apt/jessie/ x64/ nprobe 8.1.171009-5907
  404  Not Found
Fehl http://packages.ntop.org/apt/jessie/ x64/ ntopng 3.1.171009-3534
  404  Not Found
Fehl http://packages.ntop.org/apt/jessie/ x64/ n2disk 2.9.171009-4887
  404  Not Found
Fehl http://packages.ntop.org/apt/jessie/ x64/ cento 1.3.1710

[2017-10-11 08:31] emanuele-f commented on #1514
Hi, please fix the url `https://127.0.0.1:3001/lua/examples/hello_world.lua`. Are you building ntopng from source or installing it via packages? Is `/ntopng/` the full path of your ntopng installation?

[2017-10-11 08:34] cardigliano commented on #1515
@mahescho it seems to be working in our lab, did you apt-get update ?

[2017-10-11 08:44] mahescho commented on #1515
:-) yes ... but for me the problem is solved with a even better solution, see my edit of the first post.

[2017-10-11 08:54] emanuele-f commented on #1515
Ok, so I'm closing the issue for now

[2017-10-11 08:54] #1515 closed, assigned to nobody

[2017-10-11 09:26] savanapandit commented on #1514
Hey , thanks for quick reply , got the issue fixed with proper recompilation

 ./autogen.sh &&  ./configure &&  make &&  make install &&  ntopng

Hope i am on right track

[2017-10-11 09:36] dsubariyanto commented on #1487
@simonemainardi I just tested on another mac osx el capitan and it runs smooth! I think the problem was from my mac and not the source, sorry for bothering you.

[2017-10-11 09:36] #1487 closed, assigned to nobody

[2017-10-11 09:45] #1514 closed, assigned to nobody

[2017-10-11 18:19] Fouadata opened #1516 "Not getting the Application Breakdown data"
Hello,
I have the NTOPNG enterprise edition, and i am not getting the Application breakdown data within the reports and dashboard.

what i am missing here?

check attached pics

![image](https://user-images.githubusercontent.com/32652862/31458764-691ec600-ae97-11e7-90ba-3fd25f949b45.png)

![image](https://user-images.githubusercontent.com/32652862/31458787-800214bc-ae97-11e7-9a1a-67e5a1dcc667.png)

[2017-10-12 14:59] shanesmart opened #1517 "Detected Alerts Not Purging"
Good morning -

After nightly build, the detected alerts will not purge. Version number. ntopng Community Edition v.3.1.171012. Thank you for your time.

Log:
12/Oct/2017 07:46:09 [AlertsManager.cpp:1150] ERROR: SQL Error: attempt to write a readonly database DELETE FROM flows_alerts WHERE 1=1
12/Oct/2017 06:02:34 [AlertsManager.cpp:814] ERROR: SQL Error: step [INSERT INTO flows_alerts (alert_tsta

[2017-10-13 10:44] #1511 closed, assigned to simonemainardi

[2017-10-13 10:44] simonemainardi commented on #1478
implemented

[2017-10-13 12:48] sthen opened #1518 "Flow::dissectHTTP reads beyond end of payload"
(I maintain the ntopng port in OpenBSD). As reported in https://marc.info/?l=openbsd-ports&m=150789419119621&w=2 a user is experiencing ntopng segfaults. These are coming from strchr called by Flow::dissectHTTP, here is an excerpt of the backtrace from that message:

[code]

So the string in payload is not NUL-terminated, and strchr() searches past the end, and experiences a segfault as it tries t

[2017-10-13 14:34] #1518 closed, assigned to nobody

[2017-10-13 14:37] simonemainardi commented on #1516
hi, what is the ntopng configuration used? Do you see any error in the ntopng log? Please check and possibly report it.

What about the alerts (see the red badge at bottom-right of the page).

[2017-10-13 15:01] antoniovalenzuela commented on #1496
news? i can't install ntopng

[2017-10-13 16:18] simonemainardi commented on #1517
For security reasons, reads/writes from/to the alerts database are now performed with a nonprivileged user (unless you explicitly `--dont-change-user`)

As the alerts database, before security fix https://github.com/ntop/ntopng/issues/1486, was created and accessed as root, it is now inaccessible by any nonprivileged user.

So please, either run ntopng with `--dont-change-user` or do a chmod/chown

[2017-10-13 16:18] #1517 closed, assigned to nobody

[2017-10-14 15:15] howdey57 commented on #1459
Just wondering if this might get done soon?

Charles

[2017-10-14 22:24] Alestor opened #1519 "Page "/lua/banned_site.lua" was not found"
Hello,

i did a upgrade of ntop to the latest dev release this morning. So far so good  - after this there were no noticeable issues. Same day a few hours later I get the message "Page "/lua/banned_site.lua" was not found" when try to browse the webgui by using a DNS Name. Using the IP Address instead the DNS Name works normal.

ntopng Professional Edition v.3.1.171014

[2017-10-15 15:14] Alestor commented on #1519
Ok, I did a upgrade to  v.3.1.171015 today and everything works normal again.

[2017-10-16 09:42] ummeegge opened #1520 "--packet-filter option seems to be ignored"
Dear ntopng developers,
i have recently build ntopng v.3.1.171006 community edition for IPFire systems which makes a very good impression until now but i have encounter a problem with the '--packet-filter' option whereby the main focus was to filter out Multi- Broadcast, IPv6 but also the ntopng webinterface entries. Have tried it with the following entries,

`
--packet-filter="ip and not proto ip

[2017-10-16 10:46] Fouadata commented on #1516
Check below the CONF file

-G=/var/run/ntopng.pid
--interface=enp16s0f1
--interface=enp16s0f0
--dns-mode=1
--enterprise
-–disable-autologout
--local-networks="10.10.0.0/21,192.168.199.0/24,192.168.160.0/24,10.100.0.0/16,10.200.0.0/16,10.120.0.0/16,192.168.2.0/24,192.168.6.0/24,192.168.9.0/26,192.168.9.64/26,192.168.9.128/26,192.168.9.192/26,192.168.10.0/26,192.168.10.64/26,192.168.10.128/26,192.16

[2017-10-16 12:08] simonemainardi commented on #1520
@ummeegge I can confirm the issue is already fixed. Please, update ntopng and it will work again.

Thanks for reporting, though.

[2017-10-16 12:08] #1520 closed, assigned to nobody

[2017-10-16 13:05] simonemainardi opened #1521 "service ntopng start/stop fails to start the service"
[code]

[code]

Several issues are detected:
1. `sudo service ntopng start` silently returns without any error but it actually fails to start the process
2. `sudo service ntopng status` says `active` while actually the process is not active. No meaningful information to understand why the process is not started is present.
3. `sudo /etc/init.d/ntopng start` says `[OK]` but actually it fails to sta

[2017-10-16 13:06] simonemainardi commented on #1519
thanks for reporting. Issue is indeed fixed now.

[2017-10-16 13:06] #1519 closed, assigned to nobody

[2017-10-16 13:08] simonemainardi commented on #1521
Moreover:

[code]

while the process is not already running

[2017-10-16 13:30] gjws commented on #1496
Still can't install. Any ETA on a fix please?

[2017-10-16 14:10] simonemainardi commented on #1496
Fixed: https://github.com/ntop/ntopng/commit/94502920ef1a67a4c5a7e397e682e77a00b9895f a new build will be released shortly

[2017-10-16 14:10] #1496 closed, assigned to lucaderi

[2017-10-16 17:20] #1493 closed, assigned to nobody

[2017-10-16 17:21] simonemainardi commented on #1493
this issue is now fixed by means of commit fe297fe and its companion in the pro part.

[2017-10-16 17:27] simonemainardi commented on #1516
Do not use option `--enterprise`, it does not exist.

What do you get if you visit the interface stats page with the chart? Do you get data there?
![image](https://user-images.githubusercontent.com/3397663/31625825-bdd571d0-b2a7-11e7-8c97-b0736ceca067.png)

Check file permissions, are rrd files in the data directory r/w accessible by the user which is running ntopng (e.g., sudo ls -lha /var/tmp/nt

[2017-10-16 17:51] ummeegge commented on #1520
@simonemainardi  thank you for your fast response. Am stuck currently to compile the new version but i will address this on another issue. Thanks again.

Best regards,

Erik

[2017-10-16 17:53] Fouadata commented on #1516
Check pics below
![image](https://user-images.githubusercontent.com/32652862/31626790-ce4d1036-b289-11e7-90e1-f21d8082990a.png)
![image](https://user-images.githubusercontent.com/32652862/31626820-e2acfa28-b289-11e7-84dc-063748c24ce2.png)

![image](https://user-images.githubusercontent.com/32652862/31626896-1beb1c8e-b28a-11e7-9857-0aca35911946.png)
Without the enterprise line the NTOP goes to comu

[2017-10-16 18:02] Fouadata commented on #1516
[root@snort 0]# ls -la
total 8
drwxrwxrwx  8 root   root     93 Oct  9 16:16 .
drwxrwxrwx 11 root   root    127 Oct 16 09:56 ..
drwxrwxrwx  3 nobody nobody   15 Oct  9 16:16 activities
drwxrwxrwx  2 root   root     25 Oct  9 16:09 alerts
drwxrwxrwx  5 nobody nobody   38 Oct  9 16:10 json
drwxrwxrwx 12 nobody nobody 4096 Oct  9 16:30 rrd
drwxrwxrwx  5 nobody nobody   79 Oct  9 16:44 subnetstats
drw

[2017-10-16 18:09] Fouadata commented on #1516
I removed the --enterprise line from CONF file.

[2017-10-17 00:08] antoniovalenzuela commented on #1496
15 days without using ntopng

another issue:

Preparing to unpack .../nprobe_8.1.171016-5920_armhf.deb ...
Unpacking nprobe (8.1.171016-5920) over (8.1.170928-5893) ...
Preparing to unpack .../ntopng_3.1.171016-3574_armhf.deb ...
Unpacking ntopng (3.1.171016-3574) over (3.1.170928-3496) ...
Preparing to unpack .../ntopng-data_3.1.171016_all.deb ...
Unpacking ntopng-data (3.1.171016) over (3.1.1709

[2017-10-17 10:24] simonemainardi commented on #1516
what if you visit the interface page and select 'all applications'? Do you get the data?

![image](https://user-images.githubusercontent.com/3397663/31659938-0b3f8198-b336-11e7-81d4-e691ae2dd688.png)

[2017-10-17 10:39] Fouadata commented on #1516
![image](https://user-images.githubusercontent.com/32652862/31660577-97610126-b316-11e7-9840-a763759e90c5.png)
 NOthing in there for both interfaces that i use.

[2017-10-17 10:49] simonemainardi commented on #1516
any chance to get remote access to the box? If yes, please send login credentials to mainardi ntop org

[2017-10-17 10:52] Fouadata commented on #1516
will send you teamviewer to my machine.

[2017-10-17 11:46] simonemainardi commented on #1516
Thanks for providing access. It turned out to be an issue with RRD files permissions. Safe to close now.

[2017-10-17 11:46] #1516 closed, assigned to nobody

[2017-10-17 15:07] ummeegge opened #1522 "Segfault in v.3.1.171017"
I have currently a problem to start the current new version
[code]
which crashes with the following entries:

`
Oct 17 16:54:55 ipfire kernel: ntopng[24954]: segfault at 90 ip 0000000000440b6d sp 00006ded9f7e0f40 error 4 in ntopng[400000+185000]
`

Have uploaded also a core dumb for you which is located in here --> https://people.ipfire.org/~ummeegge/ntopng/crashes_archiv/ntopng-v.3.1.171017_dev_2

[2017-10-17 16:04] simonemainardi commented on #1522
where did you build the binary?

[2017-10-17 16:48] simonemainardi commented on #1496
retry now with the latest package

[2017-10-17 17:17] simonemainardi commented on #1521
[code]

[2017-10-17 18:09] antoniovalenzuela commented on #1496
Setting up ntopng (3.1.171016-3574) ...
Rebuilding ld cache...
Adding the ntopng startup script [configure]
Synchronizing state for ntopng.service with sysvinit using update-rc.d...
Executing /usr/sbin/update-rc.d ntopng defaults
Executing /usr/sbin/update-rc.d ntopng enable
(Re)Starting ntopng...
Failed to restart ntopng.service: Unit pf_ring.service failed to load: No such file or directory.
dpk

[2017-10-18 03:03] ummeegge commented on #1522
Hello simonemainardi,
have build it in an IPFire development environment http://wiki.ipfire.org/devel/ipfire-2.x/addon-howto which is based on LFS http://www.linuxfromscratch.org/ . Used the same system for a little older ntopng version

[code]
without problems, except the already reported --packet-filter issue ( #1520 ) .

Erik

[2017-10-18 04:34] adam543201 opened #1523 "Can't make ntopng due to error in NetworkInterface.cpp:4456 Error 1"
/usr/src/ntopng# ./autogen.sh
---------------------------------------------------
/usr/src/ntopng# ./configure
checking for gcc... gcc
checking whether the C compiler works... yes
checking for C compiler default output file name... a.out
checking for suffix of executables...
checking whether we are cross compiling... no
checking for suffix of object files... o
checking whether we are using the GNU

[2017-10-18 08:32] simonemainardi commented on #1523
your nDPI is outdated and is not aligned with the ntopng code. Please, follow the instructions at https://github.com/ntop/ntopng/blob/dev/doc/README.compilation

[2017-10-18 08:32] #1523 closed, assigned to nobody

[2017-10-18 10:02] simonemainardi commented on #1522
I can't inspect the core as I don't have such environment. Can you provide me remote access to the box or, alternatively, can you use gdb to inspect the core in order to point me to the cause of the crash?

[2017-10-18 11:14] adam543201 commented on #1523
how did you figure that, just curious cause i did everything exact and got the same message

[2017-10-18 11:17] adam543201 commented on #1523
g++ -g -Wall -I/root/ntopng -I/root/ntopng/include -I/usr/local/include -D_FILE_OFFSET_BITS=64 -I/usr/include/hiredis -I/usr/include/hiredis -I/root/ntopng/third-party/mongoose -I/root/ntopng/third-party/json-c  -I/usr/local/include/libndpi-2.1.0/libndpi -I/root/ntopng/third-party/LuaJIT-2.1.0-beta3/src   -I/usr/include/mariadb -I/usr/include/mariadb/mysql  -I/root/ntopng -I/root/ntopng/include -I

[2017-10-18 11:53] ummeegge commented on #1522
Needed to build GDB first but here we are:

[code]
On my productive machine are no toolchains, GCC, or GDB available i used strace for another view on the compiled and packed version, here are the last lines:

[code]

EDIT: Just as another info i wanted also deliver the grsec messages from yesterday which causes the segfault ( grsec needed to be disabled for ntopng via paxctl which was also done b

[2017-10-18 17:52] Karrun opened #1524 "How to setup nProbe and ntopng on 2 different servers"
Hi,

I have ntopng running on a server (iMac) and nProbe on a different server (RHEL 7).

Currently I am starting ntopng by running,
     ntopng -i tcp://<iMac IP>:5556 -e
and the UI can be reached only from iMac as the URL is http://127.0.0.1:3000 (default)

Q1: How can I run URL on a IPv4 address so other people on my team can also view the page from anywhere and not just when logged into the iM

[2017-10-19 01:39] Entinux opened #1525 "sFlow analysis issue"
We are facing some problem in proving the sFlow analysis part in nTop is working improperly.

Please help forwarding the following inquiry to your support staff :

After running for about 10 hours, the core switch is indeed giving sFlow data to nProbe -> nTop.

<img width="1056" alt="image1" src="https://user-images.githubusercontent.com/32905008/31750102-752e8966-b4b0-11e7-949e-0b978751522b.png">

[2017-10-19 11:46] emanuele-f opened #1526 "ThreadPool segfault"
[code]

[2017-10-19 15:05] fanr10 opened #1527 "Starting ntopng:awk: write failure (Broken pipe)"
● ntopng.service - Start/stop ntopng program
   Loaded: loaded (/etc/systemd/system/ntopng.service; enabled)
   Active: active (running) since Thu 2017-10-19 12:59:00 -02; 8s ago
  Process: 20559 ExecStart=/etc/init.d/ntopng start (code=exited, status=0/SUCCESS)
 Main PID: 20575 (ntopng)
   CGroup: /system.slice/ntopng.service
           └─20575 /usr/bin/ntopng /etc/ntopng/ntopng.conf

Oct 19 12:5

[2017-10-19 15:15] filemoon opened #1528 "[ARMHF] Unable to install/update ntopng"
Hi

Can you help me with this issue.
Looks like pf_ring.service issue is still there.

apt-get install ntopng
Reading package lists... Done
Building dependency tree
Reading state information... Done
ntopng:armhf is already the newest version (3.1.171018-3582).
0 upgraded, 0 newly installed, 0 to remove and 1 not upgraded.
1 not fully installed or removed.
After this operation, 0 B of additional di

[2017-10-19 15:25] ryny24 commented on #1526
Is this the same issue as mine? I upgraded today and it won't run:

probe@cust225-240-78-64:~$ /usr/local/bin/ntopng /etc/ntopng/ntopng.conf >> /var/log/ntopng/ntopng.log
Segmentation fault

I'm trying to downgrade but haven't been able to yet.

[2017-10-19 15:31] emanuele-f commented on #1526
Hi, if the segfault happens at startup, then it's probably fixed with ccb4c2cf1947b78dc4ecba91b9fb15a3b8d884cb . This is a different bug

[2017-10-19 15:40] ryny24 commented on #1526
Ok I am running again. I was able to downgrade.
sudo dpkg -i ntopng_3.1.171018-3577_amd64.deb
dpkg: warning: downgrading ntopng from 3.1.171019-3590 to 3.1.171018-3577

[2017-10-19 21:42] simonemainardi commented on #1522
it still doesn't help. Please, print at least the backtrace with `bt` inside gdb. Alternatively you should provide me a remote access to the box.... that will be easier

[2017-10-19 21:44] simonemainardi commented on #1523
you have an outdated version of nDPI installed in `/usr/local/include/libndpi-2.1.0/libndpi` please make sure to remove any installed version and only rely with the source nDPI

[2017-10-20 06:12] lucaderi commented on #1528
This is a duplicate of #1521, please monitor that issue. WE're reworking the systemd script.

[2017-10-20 08:19] emanuele-f commented on #1526
Hi, a new package containing the fix is now available, please update to new version.

This bug should be fixed with commit 2e8be3ee97ce141903805363c811b7096415af0b

[2017-10-20 08:39] Howard-Chang opened #1529 "Flows drop when store data into Elasticsearch"
this is the command:
ntopng /c -i "tcp://127.0.0.1:2055" -F "es;ntopng;ntopng-%Y.%m.%d;http://localhost:9200/_bulk;"
nprobe /c --zmq "tcp://*:2055" -i none -n none --collector-port 5556

When I setup, After about 3minutes I found that ntopng would drop flows
this is the log:
20/Oct/2017 15:49:19 [PeriodicActivities.cpp:50] Started periodic activities loop...
20/Oct/2017 15:49:19 [NetworkInterface.

[2017-10-20 09:29] Howard-Chang commented on #1529
I am thinking whether is the CPU and RAM not good enough.
![image](https://user-images.githubusercontent.com/19474557/31814435-34f9e766-b5bc-11e7-9bc7-3ce947105f61.png)

[2017-10-20 10:48] ummeegge commented on #1522
Hello simonemainardi,

Here is the gdb run output:
[code]
And here bt full:

[code]
If you need other options, please deliver them.

This might be also a possibility, how should we do this ? SSH session ?

Best regards,

Erik

EDIT: Have seen #1526 , which might be related to this one here.

[2017-10-20 20:18] tomarch commented on #1522
I've the same issue.
Git up to date, build on centos 7.4

The gdb trace:

0x000000000041a3ed in HostPools::getNumPoolHosts (this=0x14e7820, pool_id=0) at /usr/src/ntopng/include/HostPools.h:90
90	    return(num_active_hosts_inline[pool_id] + num_active_hosts_offline[pool_id]);
(gdb) backtrace
#0  0x000000000041a3ed in HostPools::getNumPoolHosts(unsigned short) (this=0x14e7820, pool_id=0) at /usr/s

[2017-10-21 02:06] Howard-Chang commented on #1529
Ok, I add one core (now is two core) and RAM add to 8G . the problem is solved!

[2017-10-21 02:12] Howard-Chang commented on #1529
BTW, I found that the collected flows amount much more than Elastcsearch flows export.Is it correct@@?
![image](https://user-images.githubusercontent.com/19474557/31847062-bf444084-b647-11e7-8a45-2d4166ee0546.png)

[2017-10-21 03:34] jasonamorrow commented on #1496
Looks like I'm having a similar issue. When trying to update today:

Setting up nprobe (8.1.171016-5920) ...
Rebuilding ld cache...
Adding the nprobe startup script
Synchronizing state for nprobe.service with sysvinit using update-rc.d...
Executing /usr/sbin/update-rc.d nprobe defaults
insserv: Service pf_ring has to be enabled to start service nprobe
insserv: Service cluster has to be enabled to

[2017-10-21 14:26] simonemainardi commented on #1522
@ummeegge @tomarch please try to re-build with the latest code.

@ummeegge if it still doesn't work please provide ssh access. Send the to mainardi ntop org. Thanks

[2017-10-21 21:00] edasque opened #1530 "How would you go about setting up ntopng on an x86 Synology NAS?"
Right now I am trying cross-compiling to Synology via spksrc but it seems a tall order.

ntopng running in docker with nprobe gathering stats? But then how do I get nprobe on Synology, seems I can't x-compile, source isn't available for nprobe, right?

Cheers,

Erik

[2017-10-22 07:13] ummeegge commented on #1522
@simonemainardi
your fix unfortunately do not solves the segfault here.
Don´t you think it might be more comfortable for us if you inspect this issue with the possible better known CentOS since tomarch do have the same issue ? If this is no solution for you i can give you nevertheless access but i can arrange this earliest in the middle of next week. What are you thinking about this ?
Nevertheless

[2017-10-22 14:12] #1522 closed, assigned to nobody

[2017-10-22 14:12] simonemainardi commented on #1522
thanks for supporting me by providing extra info. Issue should be solved now. Please, confirm.

[2017-10-22 14:22] simonemainardi commented on #1530
@edasque running and nprobe running in docker is OK.

no nprobe source code is available so building it from source is not an option.

If you are planning to use licensed ntopng and nprobe versions on docker, then you just have to make sure the underlying hardware exposed through the container does not change. This is to make sure licenses, that are bound to the hardware, will continue to work.

[2017-10-22 14:22] #1530 closed, assigned to nobody

[2017-10-22 14:36] edasque commented on #1530
@simonemainardi if everything is hosted into a container, won’t I be getting the container network activity versus the host?

[2017-10-22 14:38] simonemainardi commented on #1530
no, you can expose the host network to the docker container with `docker run --net=host ...`

[2017-10-23 00:48] jasonamorrow opened #1531 "Unable to start ntopng 3.1.171016-3574 on rasberry pi 2b running jessie_pi"
After running the latest update from /RaspberryPI/jessie_pi/armhf ntopng fails to start:

Setting up nprobe (8.1.171016-5920) ...
Rebuilding ld cache...
Adding the nprobe startup script
Synchronizing state for nprobe.service with sysvinit using update-rc.d...
Executing /usr/sbin/update-rc.d nprobe defaults
Executing /usr/sbin/update-rc.d nprobe enable
(Re)Starting nprobe...
Stopping nProbe wlan0
M

[2017-10-23 01:27] edasque commented on #1530
Thank you, got a decent 3.1.x image going - https://hub.docker.com/r/edasque/docker-ntopng/

[2017-10-23 13:23] mdelavaud commented on #1531
Try to update pf-ring aswell, if you have the latest version installed then check that the pf_ring service is enabled and running

[2017-10-23 13:44] jasonamorrow commented on #1531
@mdelavaud pf_ring isn't in the /RaspberryPI/jessie_pi/ repo and I don't believe it was needed prior to the update.

[2017-10-23 14:00] simonemainardi commented on #1531
duplicate of #1528

[2017-10-23 14:00] #1531 closed, assigned to nobody

[2017-10-23 14:01] simonemainardi commented on #1526
I confirm the issue is fixed as of the latest dev build.

[2017-10-23 14:01] #1526 closed, assigned to lucaderi

[2017-10-23 14:25] simonemainardi commented on #1529
Thanks for reporting. You may also want to tune your ES java VM to increase ES ingestion speed. Typically, that is the bottle neck.

If the number of dropped flows is zero, then the exported number of flows must be, on average equal, to the number of collected flows.
However, there are cases where the exported number of flows is smaller. For example when an Netflow/sFlow exporter reports the same

[2017-10-23 14:25] #1529 closed, assigned to simonemainardi

[2017-10-23 14:35] simonemainardi commented on #1525
If you are collection sFlow, please use nProbe option `--upscale-traffic` to adjust bytes/packets quantities to reasonable levels.

Also, remove nProbe option `-nf` that doesn't exist.

I would also use nProbe option `-V10` rather than `-V5` to make sure flows are reported as bi-directional.

Please, report.

[2017-10-23 15:40] IlariExove opened #1532 "ZMQ interface to nProbe doesn't collect IPv6 flow information correctly"
In ntopng flow list IPv6 hosts are shown as `NoIP`.

nProbe v.8.1.171023 (r5930)
ntopng v.3.1.171023

My nProbe config looks like this (nProbe is working as sFlow collector):
[code]

ntopng command line looks like this:
[code]

nProbe debug output shows that IPv6 flows are being emitted:
[code]

ntopng is reporting warnings to its log file:
[code]

If I remove all IPV4* fields from the nProbe temp

[2017-10-23 17:05] #1532 closed, assigned to nobody

[2017-10-23 17:06] simonemainardi commented on #1532
thanks for reporting, issue should be fixed now. Please, hold on new builds will be available starting from tomorrow morning CEST.

[2017-10-24 08:05] simonemainardi commented on #1531
please, try to `apt-get update && apt-get install ntopng`  now

[2017-10-24 08:06] simonemainardi commented on #1528
@filemoon please try to update the pi package now and report

[2017-10-24 09:35] Niko78 opened #1533 "impossible to purge alerts"
hi
I just upgraded my ntopng and I wanted to purge alerts... but that doesn't work
in logs have this message :
ntop-racine ntopng: [AlertsManager.cpp:1150] ERROR: SQL Error: attempt to write a readonly database#012DELETE FROM closed_alerts WHERE 1=1

I did not change something on server or in my ntop config
any idea ?
I have the same issue on my second ntop server..
I hope no need to clean db

fyi

[2017-10-24 09:56] simonemainardi commented on #1533
duplicate of https://github.com/ntop/ntopng/issues/1517
please check before posting new issues

[2017-10-24 09:56] #1533 closed, assigned to nobody

[2017-10-24 10:42] Niko78 commented on #1533
ok sorry
I still have a small issue
in "engaged alerts" i have this line

Wed Sep 20 18:29:00 2017 | 33 days, 18 h, 10 min, 21 sec | Error | Misconfigured App | Interface tcp://172.31.1.245:5556 has too many flows. Please extend the --max-num-flows/-X command line option

so I changed in my config with higher value but this entry can't be removed

nico

[2017-10-24 10:59] pleoeter commented on #1225
hello, I cannot see my Historical Data tab, even after successfully connecting with mysql database, please help me to sort out the problem.
ntopng -F "mysql;localhost;ntopng;ntopng;ntopng;1234
[MySQLDB.cpp:720] Successfully connected to MySQL [localhost:ntopng] for interface ens33

[2017-10-24 11:32] jasonamorrow commented on #1531
@simonemainardi I get the same result:

sudo apt install ntopng
Reading package lists... Done
Building dependency tree
Reading state information... Done
ntopng is already the newest version.
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.
1 not fully installed or removed.
After this operation, 0 B of additional disk space will be used.
Do you want to continue? [Y/n] y
Setting up nto

[2017-10-24 11:59] IlariExove commented on #1532
👍
Thanks! Works like a charm now!

[2017-10-24 16:15] filemoon commented on #1528
Issue sorted.

[2017-10-24 16:20] filemoon opened #1534 "[ARMHF] Unable to delete flow alerts and past alerts."
Hi,

I still have very same number of flow alerts and past alerts - I cannot delete them (deletion process looks ok but alerts are still there).

[2017-10-24 18:25] ummeegge commented on #1522
Your welcome,
thank you too for solving this issue. Have tested it and ntopng starts and works on the first view again as expected.
Have also tested the '--packet-filter' issue (  #1520 ) which i reported inititally and there are a new problem which delivers also a segfault

`
Oct 24 13:14:05 ipfire kernel: ntopng[27053]: segfault at 7f387909c9d0 ip 00007f387daf16ae sp 00007ffd1cec2500 error 4 in

[2017-10-24 20:20] juesor opened #1535 "Memory Leak ?"
![image](https://user-images.githubusercontent.com/14931420/31965835-291cac98-b8ce-11e7-854b-c7267c5d7274.png)

I have a ntopng server with nprobe sending flows.  And so far we are up to 11.4GB virtual and 9.9GB Reserved.

[2017-10-24 20:27] juesor commented on #1535
Installed Packages
ntopng.x86_64          3.0.171020-2915         @ntop

My ntopng.conf

-G=/var/run/ntopng.pid
-F="mysql;localhost;ntopng;flows;ntopng;SecureMySQLPassword"
--interface "tcp://xxx.xx.xxx.xx:5556"
--zmq-encrypt-pwd SecurePasswordsForAll
-m all.of.my.subnets/19, another.one.subnet.here/21,and.more.and.more/22.......
-x 1000000
-X 1000000

[2017-10-24 22:39] tsri-network opened #1536 "Update issues on CentOS with ntop repo"
I've now had the same problem happen twice with updates from the ntop CentOS repository:

We have ntopng & nprobe installed using the CentOS repository as provided by ntop, described at the top of http://packages.ntop.org/.  The repo had updates available for all ntopng components, so I shut down all the related services just to be safe (nprobe, ntopng, mysql/mariadb), then ran "yum update".  Ever

[2017-10-25 07:18] pleoeter opened #1537 "How can we get Historical data view in Community edition?"
I want to see my data history in ntopng after successful connection with mysql, Is it possible in community edition? if so please post the procedure.

[2017-10-25 08:27] tomarch opened #1538 "No protocol graph in grafana"
I've setup grafana plugin, bandwith and PPS work fine but protocol one don't work.

I use lastest ntopng (yum nightlies).

[2017-10-25 08:59] emanuele-f commented on #1537
Hi, with community edition you can only access the `flows` tab under the host graphs page to see the raw flows. With lincensed version, you get more advanced features like filters and drill-downs. Please see the following links fore more information:

http://www.ntop.org/products/traffic-analysis/ntop/
http://www.ntop.org/ntopng/exploring-historical-data-using-ntopng-part-2/
http://www.ntop.org/pr

[2017-10-25 08:59] #1537 closed, assigned to nobody

[2017-10-25 09:05] emanuele-f commented on #1536
Hi, please check out the `Disaggregation Criterion` under the `Network Interfaces` section of the ntopng advanced preferences. If you do not want disaggreagation, please set it to "None".

[2017-10-25 09:06] emanuele-f commented on #1534
Hi, what ntopng are you using? Can't you delete single alerts or "flush all" alerts?

[2017-10-25 09:08] emanuele-f commented on #1535
Hi, can you please try the development builds "nightly" of ntopng and see if you still experience the problem? Please check out http://packages.ntop.org/apt/

[2017-10-25 09:09] emanuele-f commented on #1528
Thank you for reporting

[2017-10-25 09:09] #1528 closed, assigned to simonemainardi

[2017-10-25 09:10] emanuele-f commented on #1522
@ummeegge please open a separate issue

[2017-10-25 09:12] emanuele-f commented on #1531
Please run `apt-get update` and `apt-get install ntopng` again. The user on #1528 reported it is fixed now

[2017-10-25 09:13] emanuele-f commented on #1225
Hi, historical data is only available on licensed versions of ntopng. If this is the case, please open a new issue.

[2017-10-25 09:16] simonemainardi commented on #1538
please, make sure to enable local hosts timeseries generation from ntopng preferences:

![image](https://user-images.githubusercontent.com/3397663/31990565-c4c0fed6-b975-11e7-92bc-dffb407bee83.png)

Also please use https://github.com/ntop/ntopng-grafana-datasource for grafana-related issues

[2017-10-25 09:16] #1538 closed, assigned to nobody

[2017-10-25 09:16] emanuele-f commented on #1527
Hi, what is your linux distribution and ntopng version used? Can you reproduce it with latest ntopng version?

[2017-10-25 09:17] simonemainardi commented on #1534
duplicate of #1517
please check before posting new issues

[2017-10-25 09:17] #1534 closed, assigned to nobody

[2017-10-25 09:20] emanuele-f commented on #1524
Hi, if you want others to access your ntopng installation, you only need to give them your ip address (public or private). See `ifconfig` for private address. E.g. `http://192.168.1.10:3000`.

For ntopng - nprobe communication, please check out our user guide https://github.com/ntop/ntopng/blob/dev/doc/UserGuide.pdf and http://www.ntop.org/nprobe/advanced-flow-collection-with-ntopng-and-nprobe/

[2017-10-25 09:20] #1524 closed, assigned to nobody

[2017-10-25 09:20] simonemainardi commented on #1531
we are migrating rpi builds to stretch so please make sure to updte as armnf jessie will be discontinued

[2017-10-25 10:44] pleoeter commented on #1537
you mean no other mean to view historical data in community edition?
I have seen the links though

[2017-10-25 14:02] juesor commented on #1535
Do you have a dev repo for RHEL 7?

I am grabbing the RPM's from http://packages.ntop.org/rpm7/x86_64/ntopng/ for ntopng-3.1.171025-3466.x86_64.rpm

It requests pfring-7.1.0-1511.x86_64.rpm so i grabbed that RPM and that requires pfring-7.1.0-1511.x86_64  but i do not see an RPM for that in http://packages.ntop.org/rpm7/x86_64/PF_RING/

[2017-10-25 14:39] juesor commented on #1535
Installed Packages
ntopng.x86_64                                                                     3.1.171025-3466                                                                      installed

Ok so I found pfring dkms here : http://packages.ntop.org/rpm7/noarch/PF_RING-dkms/

Then I ran the following

sudo yum install ntopng-3.1.171025-3466.x86_64.rpm pfring-7.1.0-1511.x86_64.rpm pfring-dkms-

[2017-10-25 16:29] juesor commented on #1535
After upgrading the above i'm getting the servers to crash randomly

[root@ntopng ~]# systemctl status ntopng
● ntopng.service - Start/stop ntopng program
   Loaded: loaded (/etc/systemd/system/ntopng.service; enabled; vendor preset: disabled)
   Active: active (exited) (Result: signal) since Wed 2017-10-25 12:16:40 CDT; 10min ago
  Process: 14542 ExecStop=/etc/init.d/ntopng stop (code=exited, sta

[2017-10-25 18:37] tsri-network commented on #1536
That was set to a non-default option--thanks for the info.  Why would this problem only arise after updates?  It's been running, rebooted, restarted numerous times before the update, but this only happens after applying updates (for us).

[2017-10-25 20:06] jasonamorrow commented on #1531
Looks like they have already been discontinued:
W: Failed to fetch http://apt.ntop.org/jessie_pi/armhf/Packages  404  Not Found

W: Failed to fetch http://apt.ntop.org/jessie_pi/all/Packages  404  Not Found

The upgrade from jessie to stretch isn't a simple in place upgrade. It will be some time before I can migrate.

[2017-10-25 20:57] juesor commented on #1535
And ntopng has lost all stability.  The service is crashing consistently.

[2017-10-26 10:02] emanuele-f commented on #1536
It may happen if ntopng is not termined properly after the preference change, although this would not be your case. Please try to shutdown and restart ntopng now that it is set and verify if it's still set to the correct preference. If you still experience the problem after an upgrade, please open a new bug.

[2017-10-26 10:02] #1536 closed, assigned to nobody

[2017-10-26 10:04] emanuele-f commented on #1537
Exactly. Historical data exploration is only available starting with pro licence.

[2017-10-26 10:10] pleoeter commented on #1537
Ok, I am trying Elastic Search now, please help me solving the error

 [Utils.cpp:985] WARNING: Unable to post data to (https://localhost:9200/_template/ntopng_template): SSL connect error
[ElasticSearch.cpp:230] ERROR: Unable to send ntopng template (/root/ntopng/httpdocs/misc/ntopng_template_elk.json) to ES

[2017-10-26 10:11] pleoeter commented on #1537
I have solved it using
 ntopng -F 'es;ntopng;ntopng-%Y.%m.%d;http://localhost:9200/_bulk;http_ntopng:ntopng;'

Thanks

[2017-10-26 14:28] juesor commented on #1535
Oct 26 09:25:06 ntopng ntopng: [Lua.cpp:6595] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/second.lua][/usr/share/ntopng/scripts/lua/modules/graph_utils.lua:981: /var/tmp/ntopng/14/rrd/bytes.rrd: illegal attempt to update using time 1509027906 when last update time is 1509030462 (minimum one second step)]
Oct 26 09:25:08 ntopng kernel: ntopng invoked oom-killer: gfp_mask=0x200da, o

[2017-10-26 14:34] juesor commented on #1535
I updated to the latest.

Updated:
  ntopng.x86_64 0:3.1.171026-3471
  pfring.x86_64 0:7.1.0-1513

[2017-10-26 16:33] simonemainardi commented on #1535
@juesor is `ntopng.x86_64 0:3.1.171026-3471` leading to out-of-memory? Or was that an older version?

[2017-10-26 17:22] juesor commented on #1535
I was getting out of memory prior to 171026.  I was getting OOM on 3.1.171025

I am working on nProbe now it's not showing flows over the zmq.  So nTopNG is not crashing anymore.

[2017-10-26 17:22] juesor commented on #1535
I'll update when i figure out what is going on with nProbe and see if it is still crashing.

[2017-10-27 07:27] mahescho opened #1540 "Own hosts detected as flooder -> crash"
Hi,

recently hosts of my own net, set by "-m" in ntopng.conf get recorded as flooder in the alerts and so flood the alerts. In consequence Ntopng after some time crashes with:

`25/Oct/2017 14:32:08 [AlertsManager.cpp:814] ERROR: SQL Error: step [INSERT INTO flows_alerts (alert_tstamp, alert_type, alert_severity, alert_json, vlan_id, proto, l7_proto, first_switched, last_switched, cli_country, sr

[2017-10-27 07:40] mahescho opened #1541 ""Top Application Traffic Last Day View" -> empty"
Hi,

on one of my setups "Top Application Traffic Last Day View" stays empty. Why?

Version: ntopng Professional Edition v.3.1.171014

TIA
Matthias

[2017-10-27 08:15] mahescho opened #1542 ""Purge Past Allerts" does not work"
Hi,

when I try to purge the past allerts nothing gets deleted.

Version: ntopng Professional Edition v.3.1.171027

Matthias

[2017-10-27 12:49] simonemainardi commented on #1542
duplicate of https://github.com/ntop/ntopng/issues/1534

[2017-10-27 12:49] #1542 closed, assigned to nobody

[2017-10-27 12:50] simonemainardi commented on #1540
duplicate of https://github.com/ntop/ntopng/issues/1517

[2017-10-27 12:50] #1540 closed, assigned to nobody

[2017-10-30 08:46] pleoeter commented on #1313
/usr/local/include/libndpi-2.1.0/libndpi/ndpi_typedefs.h:28:49: fatal error: ../lib/third_party/include/libcache.h: No such file or directory
compilation terminated.
Makefile:160: recipe for target 'src/MDNS.o' failed
My source files are at /usr/src/ directory , please tell me to resolv the isssue

[2017-10-30 08:58] simonemainardi commented on #1313
there's an outdated nDPI installed under your `/usr/local/include/libndpi-2.1.0/`

make sure to uninstall it so the complier won't use it then you can follow step-by-step instructions available at https://github.com/ntop/ntopng/blob/dev/doc/README.compilation

[2017-10-30 09:21] pleoeter commented on #1313
no luck @simonemainardi

[2017-10-30 09:27] simonemainardi commented on #1313
Just saying no luck doesn't help.

Did you do what I suggested? Did you uninstall the nDPI under `/usr/local/include`? What is the new error log?

[2017-10-30 09:30] pleoeter commented on #1313
same error, i uninstalled the path , and recompiled again

[2017-10-30 09:31] simonemainardi commented on #1313
Show every single step you did. My guess is that you didn't run ./configure again

[2017-10-30 09:38] pleoeter commented on #1313
/usr/local/include$ sudo rm -r libndpi-2.1.0
cd nDPI
./autogen.sh && ./configure
make && make install

cd ntopng
./autogen.sh && ./configure
make && make install

 fatal error: ../lib/third_party/include/libcache.h: No such file or directory
compilation terminated.
Makefile:154: recipe for target 'src/DB.o' failed

[2017-10-30 09:38] Howard-Chang commented on #1529
sorry, I found the problem occur again after about 2days.
and now after starting ntopng and nProbe about 20 minutes, the drop flow happen again.
![image](https://user-images.githubusercontent.com/19474557/32163939-ea08f726-bd98-11e7-9c18-307c83caf887.png)

is there any way to solve it ?
thanks a lot

[2017-10-30 09:43] Howard-Chang commented on #1529
Is it ES problem ?
Due to the slow ingestion of ES

[2017-10-30 10:43] simonemainardi commented on #1529
correct, please tune your ES as is is not fast enough to ingest flows

[2017-10-30 10:44] simonemainardi commented on #1313
you are missing git pull on both nDPI and ntopng directories

[2017-10-30 10:45] simonemainardi commented on #1541
Mathias, can you please, update to the latest 3.1 version and report? Your issue should already be fixed. Please, report.

[2017-10-30 10:45] simonemainardi commented on #1527
@fanr10 any news?

[2017-10-30 15:45] mahescho commented on #1541
Now I'm on "ntopng Professional Edition v.3.1.171030" (updated right now) and nothing changed.

Edit: I monitor 2 interfaces. One shows top applications last day view and the other does not.

[2017-10-30 17:18] s2105 opened #1543 "ntop & elk script error"
Hello,

While trying to run following command give us permission denied error.

sudo ntopng -i tcp://127.0.0.1:5556 -w 3000 -F 'es,ntopng;ntopng-%Y.%m.%d;http://10.10.10.1/_bulk;admin:password;'

gives following error:

30/Oct/2017 17:13:21 [Lua.cpp:6075] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/second.lua][/usr/share/ntopng/scripts/lua/modules/graph_utils.lua:968: opening '/va

[2017-10-31 01:44] jasonamorrow commented on #1531
@simonemainardi after migrating to stretch ntopng was able start, but I still get the following from nprobe:

Setting up nprobe (8.1.171031-5937) ...
Rebuilding ld cache...
Adding the nprobe startup script
Synchronizing state of nprobe.service with SysV service script with /lib/systemd/systemd-sysv-install.
Executing: /lib/systemd/systemd-sysv-install enable nprobe
insserv: Service pf_ring has to

[2017-10-31 03:47] pleoeter commented on #1313
git pull to both directories, ntopng and nDPI, recompiled again , problem still persist

/usr/local/include/libndpi-2.1.0/libndpi/ndpi_typedefs.h:28:49: fatal error: ../lib/third_party/include/libcache.h: No such file or directory
compilation terminated.
Makefile:160: recipe for target 'src/HostHash.o' failed

[2017-10-31 21:21] #1543 closed, assigned to nobody

[2017-11-01 05:31] ummeegge opened #1544 "Historical interface chart is missing in v.3.1.171029"
Hello,
i wanted to report/ask that "/lua/if_stats.lua?ifid=1&page=historical" is under

[code]

[not present anymore](https://people.ipfire.org/~ummeegge/screenshoots/ntopng/ntopng_no_historical_tab.png)
whereby ntopng version

[code]

[do provides the historical interface charts](https://people.ipfire.org/~ummeegge/screenshoots/ntopng/ntopng_with_hostorical_tab.png).

So my question is, are this

[2017-11-01 05:56] ummeegge opened #1545 "Segfault error 4 in libpthread in v.3.1.171029"
Hello,
i wanted to report a segfault which appears if i stop ntopng via initscript which makes it a little bit difficult to deliver a usable GDB output since GDB quits before SIGSEGV.

This appears with version:

[code]
`
/usr/bin/ntopng: ELF 64-bit LSB executable, x86-64, version 1 (SYSV), dynamically linked, interpreter /lib64/ld-linux-x86-64.so.2, for GNU/Linux 3.2.0, stripped, with debug_info

[2017-11-01 12:46] simonemainardi commented on #1545
First of all, please, try the lastest version and report.

If the crash occurs during exit, you can still run gdb and them manuall send a SIGTERM with

[code]

This should lead to the crash.

[2017-11-01 12:47] simonemainardi commented on #1544
please, update to the lastest version as we believe the issue is fixed there

[2017-11-01 12:52] simonemainardi commented on #1531
please use the nProbe tracker as this seems related to nProbe.

[2017-11-01 12:55] simonemainardi commented on #1313
please follow the instructions in the compilation readme. Again `/usr/local/include/libndpi-2.1.0/libndpi/ndpi_typedefs.h:` means you are trying to use an installed version.

Just follow the readme. Start clean. Uninstall `/usr/local/include/libndpi-2.1.0/`. Then `cd` to your home directory and do the readme step-by-step.

[2017-11-02 06:09] ummeegge commented on #1545
Thanks for clarifying and helping me out to debug this.

used now the actual versions:

[code]
with

`ntopng: ELF 64-bit LSB executable, x86-64, version 1 (SYSV), dynamically linked, interpreter /lib64/ld-linux-x86-64.so.2, for GNU/Linux 3.2.0, not stripped, with debug_info`

and have tested it like you suggested which delivers the segfault:
[code]

GDB where:
[code]

bt full:
[code]

If you need

[2017-11-02 13:21] ummeegge commented on #1544
Hello,
i can not confirm this, the historical interface tab do not appears here. Have used the sources from yesterday (nDPI and ntopng):

[code]
`
./ntopng: ELF 64-bit LSB executable, x86-64, version 1 (SYSV), dynamically linked, interpreter /lib64/ld-linux-x86-64.so.2, for GNU/Linux 3.2.0, not stripped, with debug_info`

Have started it with GDB which points the following out:

[code]

whereby th

[2017-11-02 15:16] Marlow925 opened #1546 "ntopng web interface crashes at least once every 24 hours"
Hi,
The ntopng web interface crashes at least once every 24 hours. I see this behavior on 3 different ntop servers.

Here's the debug output from one of them:
31/Oct/2017 20:51:37 [Ntop.cpp:1437] Setting local networks to XXXX/X
31/Oct/2017 20:51:37 [Redis.cpp:111] Successfully connected to redis 127.0.0.1:6379@0
31/Oct/2017 20:51:37 [Redis.cpp:111] Successfully connected to redis 127.0.0.1:6379@0

[2017-11-02 15:17] Marlow925 commented on #1546
Configuration for ntopng above:
-G=/var/run/ntopng.pid
-w=80
-m=X.X.X.X/X
-i=tcp://XXX.XXX.XXX.XXX:1234
-x=800000
-X=800000
--debug

[2017-11-02 17:47] simonemainardi commented on #1546
what is the version you are running? Please make sure to work on the latest dev. Are you able to generate a core dump for our inspection?

[2017-11-02 17:49] Marlow925 commented on #1546
As it says in my initial post: "31/Oct/2017 20:51:38 [Ntop.cpp:350] Welcome to ntopng x86_64 v.3.1.171026 - (C) 1998-17 ntop.org"

So that one is only a few days old. Dump has been problematic. Don't have the time at the moment to find out, what goes wrong when trying to get a dump. If i get a bit of time, I'll see, if I can figure it out.

[2017-11-02 21:12] madpsy opened #1547 "Latest stable for ubuntu incorrect versions"
The current stable release manifest contains incorrect versions  (http://packages.ntop.org/apt-stable/16.04/x64/).

The release file stipulates:

pfring_7.0.0-1515_amd64.de
ntopng_3.0.171027-3628_amd64.deb

Howver, in the repo:

pfring_7.0.0-1535_amd64.deb
nprobe_8.0.171102-5797_amd64.deb

[2017-11-03 19:10] antoniovalenzuela opened #1548 "#1496 Not solved!"
#1496 Not solved!
RPI3

Setting up ntopng (3.1.171016-3574) ...
Rebuilding ld cache...
Adding the ntopng startup script [configure]
Synchronizing state for ntopng.service with sysvinit using update-rc.d...
Executing /usr/sbin/update-rc.d ntopng defaults
Executing /usr/sbin/update-rc.d ntopng enable
(Re)Starting ntopng...
Failed to restart ntopng.service: Unit pf_ring.service failed to load: No suc

[2017-11-03 19:12] antoniovalenzuela commented on #1496
Open #1548
The problem continues and the links are broken
@simonemainardi

[2017-11-04 00:59] atoonk commented on #1496
same issue here..

[2017-11-04 06:02] Alestor opened #1549 "No Graphs for some Pools and Traffic Report"
Hi,

generating a Traffic Report results in a script failure and no charts are shown at all.

04/Nov/2017 06:46:59 [Lua.cpp:7088] WARNING: Script failure [/usr/share/ntopng/scripts/lua/pro/report.lua][/usr/share/ntopng/scripts/lua/modules/graph_utils.lua:1083: /var/ntop/data/2/rrd/192/168/10/0/24/bytes.rrd: expected 2 data source readings (got 1) from 1509772619]

A similar error is shown when I t

[2017-11-04 06:30] lucaderi commented on #1548
On x64

root@debian8:/tmp# dpkg -i apt-ntop.deb
Selecting previously unselected package apt-ntop.
(Reading database ... 74919 files and directories currently installed.)
Preparing to unpack apt-ntop.deb ...
Unpacking apt-ntop (2.5-853) ...
Setting up apt-ntop (2.5-853) ...
Adding ntop key to apt keyring
OK
root@debian8:/tmp# cat /etc/apt/sources.list.d/ntop.list
deb http://packages.ntop.org/apt/je

[2017-11-04 06:30] #1548 closed, assigned to nobody

[2017-11-04 06:32] lucaderi commented on #1547
We have fixed this problem. Thanks for reporting it

[2017-11-04 06:32] #1547 closed, assigned to nobody

[2017-11-04 06:34] lucaderi commented on #1546
@Marlow925 Please update and let us know if it works. We had an issue (now fixed) with RRD creation that might have caused this issue.

[2017-11-04 06:49] lucaderi commented on #1527
This does not look like a package issue but rather a system issue (for instance disk full).
Closed for inactivity, will reopen if necessary.

[2017-11-04 06:49] #1527 closed, assigned to nobody

[2017-11-04 08:54] Marlow925 commented on #1546
Next crash. Will update today.

31/Oct/2017 20:51:38 [main.cpp:394] Working directory: /var/tmp/ntopng
31/Oct/2017 20:51:38 [main.cpp:396] Scripts/HTML pages directory: /usr/share/ntopng
31/Oct/2017 20:51:38 [Ntop.cpp:350] Welcome to ntopng x86_64 v.3.1.171026 - (C) 1998-17 ntop.org
31/Oct/2017 20:51:38 [Ntop.cpp:360] Built on Debian GNU/Linux 8.2 (jessie)
31/Oct/2017 20:51:38 [NtopPro.cpp:440] [L

[2017-11-04 08:54] Marlow925 commented on #1546
Will update today, as it has crashed again.

[2017-11-04 09:30] resturiani opened #1550 "Ntopng Not Detect protocol client"
I install ntopng and connect it with the traffic flow mikrotik. ntopng and nprobe I install on the same machine. and I check the client's network, his ip sometimes detect sometimes not. but the protocol that client ip accessed is not detect in ntopng. looks always like below. does anyone know the solution?

![screenshot from 2017-11-04 16-30-04](https://user-images.githubusercontent.com/22189485/3

[2017-11-04 22:19] jerryzsplunk opened #1551 "ntopng exit with segfault error"
The ntopng web interface crashes at least once every 10 to 24 hours. I see the below log entries in /var/log/message of ntop server.

Nov  5 07:31:20 ntopng kernel: ntopng[8189]: segfault at 0 ip 0000000000412c07 sp 00007efc53f6ebe0 error 4 in ntopng[400000+271000]
Nov  5 07:31:20 ntopng systemd: ntopng.service: main process exited, code=killed, status=11/SEGV

When crashed, I have to manually res

[2017-11-04 23:17] Marlow925 commented on #1546
I'm afraid, the problem persists with todays version:

04/Nov/2017 09:41:58 [Ntop.cpp:1435] Setting local networks to XXXX/X
04/Nov/2017 09:41:58 [Redis.cpp:111] Successfully connected to redis 127.0.0.1:6379@0
04/Nov/2017 09:41:58 [Redis.cpp:111] Successfully connected to redis 127.0.0.1:6379@0
04/Nov/2017 09:41:58 [NtopPro.cpp:210] [LICENSE] Reading license from Redis
04/Nov/2017 09:41:58 [NtopP

[2017-11-05 01:46] dvachon2018 opened #1552 "no interface historical data if daemon mode"
hi
if running in daemon mode, (--daemon) there is not data in Interfaces/eth0/(page:historical). No problem without (--daemon)

hardware/software;
CPU load | 1.89%
Used: 4.73% / Available: 1.87 GB / Total: 1.97 GB
3.1.171031 - Professional/Embedded Edition
Debian 9.1 [armv7l][Raspbian GNU/Linux 9.1 (stretch)] - 32 bit
ntopng --pid "/var/run/ntopng.pid" --daemon "" --interface "eth0" --local-networ

[2017-11-05 17:25] lucaderi opened #1553 "Flow block does not work with Netfilter Interfaces"
This feature seems to work only with physical interfaces but not with netfilter.

[2017-11-06 03:35] Howard-Chang opened #1554 "Missing script housekeeping.lua and second.lua"
Today, when I start ntopng with the command:
ntopng /c -i "tcp://127.0.0.1:2055" --prefs-dir "C:\Program Files\ntopng\runtimetemp" -F "es;ntopng;ntopng-%Y.%m.%d;http://localhost/_bulk;"
nprobe /c --zmq "tcp://*:2055" -i none -n none --collector-port 5556

It occured warning log on ntopng cmd.

06/Nov/2017 11:34:51 [PeriodicActivities.cpp:50] Started periodic activities loop...
06/Nov/2017 11:34:51

[2017-11-06 03:37] Howard-Chang commented on #1554
I have check the file, and it didn't missing

[2017-11-06 05:55] dvachon2018 opened #1555 "ntopng.service: Main process exited after some hours"
ntopng.service: Main process exited, code=killee
d, status=11/SEGV

also, many message like that in log file.

Nov  5 11:25:01 ntop ntopng: [Lua.cpp:6648] WARNING: Script failure [/usr/share//
ntopng/scripts/callbacks/5min.lua][/usr/share/ntopng/scripts/lua/modules/graph_uu
tils.lua:998: Cannot create temporary file]
Nov  5 11:25:05 ntop kernel: [55423.437916] sunxi-bt bt: block state already is
0

[2017-11-06 06:13] dvachon2018 opened #1556 "Error:RRD file error in Hosts page:traffic_report"
hardware/software;
3.1.171031 - Professional/Embedded Edition
Debian 9.1 [armv7l][Raspbian GNU/Linux 9.1 (stretch)] - 32 bit
ntopng --pid "/var/run/ntopng.pid" --interface "eth0" --local-networks "192.168.20.0/24" --disable-autologout "" --disable-login "1" --sticky-hosts "all" --user "root" --instance-name "NetworkDV" --dns-mode "1" --https-port "3001"

[2017-11-06 07:22] Marlow925 commented on #1546
root@bifrost:/home/marlow# date
Sun Nov  5 10:29:55 GMT 2017
root@bifrost:/home/marlow# ntopng /etc/ntopng/ntopng.conf
05/Nov/2017 10:29:57 [Ntop.cpp:1435] Setting local networks to X.X.X.X
05/Nov/2017 10:29:57 [Redis.cpp:111] Successfully connected to redis 127.0.0.1:6379@0
05/Nov/2017 10:29:57 [Redis.cpp:111] Successfully connected to redis 127.0.0.1:6379@0
05/Nov/2017 10:29:57 [NtopPro.cpp:210]

[2017-11-06 10:23] Howard-Chang commented on #1529
I ask the ES engineer, and he ask me what's the
ntopng bulk size, what kind of storage do I have in my cluster? What does disk I/O and iowait look like during indexing?
https://discuss.elastic.co/t/tuning-the-es-performance/105832/22

[2017-11-06 10:33] simonemainardi commented on #1556
can you please post the full error?

[2017-11-06 10:34] simonemainardi commented on #1535
closing for inactivity, reopen if necessary.

[2017-11-06 10:34] #1535 closed, assigned to nobody

[2017-11-06 10:35] simonemainardi commented on #1525
Solution given, no feedback received. Closing.

[2017-11-06 10:35] #1525 closed, assigned to nobody

[2017-11-06 11:27] simonemainardi commented on #1541
@mahescho can you right-click on the browser, select "Inspector", and reload the page? Are you seeing any JS/script error in the console?

[2017-11-06 11:29] simonemainardi commented on #1546
@Marlow925 are you able to generate a core dump?

[2017-11-06 11:51] simonemainardi commented on #1554
it seems to be an RRD bug: http://rrd-mailinglists.937164.n2.nabble.com/template/NamlServlet.jtp?macro=search_page&node=937164&query=short+read+while+reading+header+

I would try to stop ntopng, clear the rrd file that is causing the error, and restart it

[2017-11-06 11:52] simonemainardi commented on #1552
can you post the page Runtime status when in daemon mode? Please, also che the ntopng log file (under /var/log/ntopng)

[2017-11-06 12:46] dvachon2018 commented on #1556
here a print screen

[cid:595a978d-d180-429f-8b5c-ed82ace3f9e7]

________________________________
De : simonemainardi <notifications@github.com>
Envoyé : 6 novembre 2017 05:33
À : ntop/ntopng
Cc : dvachon2018; Author
Objet : Re: [ntop/ntopng] Error:RRD file error in Hosts page:traffic_report (#1556)

can you please post the full error?

—
You are receiving this because you authored the thread.
Rep

[2017-11-06 12:50] dvachon2018 commented on #1556
![2017-11-06 07_45_41-welcome to ntopng](https://user-images.githubusercontent.com/33327149/32441790-092af6c6-c2c7-11e7-81d1-f0715795bd9a.jpg)

[2017-11-06 13:15] dvachon2018 commented on #1552
yes
here print screen without daemon;
![2017-11-06 07_57_34-welcome to ntopng](https://user-images.githubusercontent.com/33327149/32442207-8e09dd02-c2c8-11e7-9294-4c24c3bd301b.jpg)

here print screen with daemon;
![2017-11-06 08_01_06-welcome to ntopng](https://user-images.githubusercontent.com/33327149/32442236-b6831302-c2c8-11e7-9d8b-c9d960c3b07b.jpg)

runtime status
![2017-11-06 08_04_22-welcom

[2017-11-06 13:18] antoniovalenzuela commented on #1548
@lucaderi

Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following information may help to resolve the situation:

The following packages have unmet dependencies:
 ntopng : Depends: librrd8 but it is not install

[2017-11-06 18:52] antoniovalenzuela opened #1557 "#1496 #1548 Not solved!"
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following information may help to resolve the situation:

The following packages have unmet dependencies:
ntopng : Depends: librrd8 but it is not installable
Depends

[2017-11-06 18:54] antoniovalenzuela commented on #1548
@lucaderi

Please answer, for something buy a license. What happens with the respositories for RPI Jessie 8 (x86).

[2017-11-06 21:49] linepoint opened #1558 "invalid rrd DS name in second.lua"
Line 53: makeRRD(basedir, ifstats.id, "iface", "num_zmq_received_flows", 1, tolongint(ifstats.zmqRecvStats.flows))

"num_zmq_received_flows" is 22 characters.  Valid DS names are 0-19 characters as per rrdtool documentation.

This error causes second.lua to generate an error log entry per second as it continually attempts to create the rrd file and fails with the following error:

[Lua.cpp:6648] W

[2017-11-07 08:08] Howard-Chang commented on #1554
ok, it can work correctly now!
thanks a lot.

[2017-11-07 08:45] Howard-Chang commented on #1529
It still drop flows very seriously.
![image](https://user-images.githubusercontent.com/19474557/32484487-f83e8c50-c3da-11e7-884c-2c39fbae906d.png)

[2017-11-07 10:41] Howard-Chang commented on #1529
but mysql doesn't have this problem

[2017-11-07 14:02] Olivier6767 opened #1559 "nTop stops receiving flows from nProbe after Uncompress ERROR"
**Versions**
nProbe v.8.1.171031 - Raspbian 9.1 (raspberry)
nTopng v.3.0.171105 - Debian Stretch

**Command lines**
nprobe --zmq "tcp://*:5556" -n none -b 2
ntopng -i "tcp://10.1.1.172:5556" -v 3

nTop starts to receive a few flows from nProbe and then the following error occurs:
**[CollectorInterface.cpp:191] ERROR: Uncompress error [-5]**

After this error, no flows are processed by nTopng anymo

[2017-11-07 17:21] Olivier6767 commented on #1559
I tried installing nProbe on another x64 Debian Stretch machine ( v.8.0.171102), sending the flows to the same nTopng host as before. This works well, no dropouts of flows or uncompress error messages.

**==> Therefore the issue seems to be with the nProbe binary available for Debian Stretch on Raspberry...**

[2017-11-08 02:41] r1bnc commented on #1496
cannot install ntop RPI 2B.
[code]

[2017-11-08 06:48] Howard-Chang commented on #1441
I have the same problem.
the max speed of the flows collected is about  [1489.5 Flows/sec]
and the ES exported is about only  [350 Flows/sec]
average CPU load is about 60~70% (2core)
average RAM use is about 70% (8G)
and  the drop flows is very seriously.
But when I export to mysql there's no drop flow at all.
I think it may the inefficient manner of  indexing into Elasticsearch .
I have asked the

[2017-11-08 09:21] lucaderi opened #1560 "Improve flow reporting"
We should report flow information similar to
https://developers.google.com/web/tools/chrome-devtools/network-performance/reference#timing-explanation

[2017-11-08 15:51] emanuele-f commented on #1558
Fixed with 0a064fe4dab7a990b52a47e26ddd591a23755ed6 . Thank you for reporting

[2017-11-08 15:51] #1558 closed, assigned to nobody

[2017-11-08 16:04] emanuele-f commented on #1556
Hi @dvachon2018 , the report works for me with latest version. Please provide a full log, your previous message did not contain it (bacause of email, please use github directly)

[2017-11-08 16:07] emanuele-f commented on #1555
Hi, do you have available disk space?

[2017-11-08 16:08] emanuele-f commented on #1554
Thank you for reporting

[2017-11-08 16:08] #1554 closed, assigned to nobody

[2017-11-08 16:16] emanuele-f commented on #1551
Hi, any chance to generate a core dump or a stack trace with gdb?

[2017-11-08 16:25] Olivier6767 commented on #1559
Looks like there is no 'stable' release (v 8.0) of nProbe for Raspberry.
When using nProbe v 8.1 (on Raspberry) along with nTopng v 3.1 the compress issue is gone.

So I switched my nTopng to the non-stable release (v 8.1).

[2017-11-08 16:25] #1559 closed, assigned to nobody

[2017-11-08 16:42] Alestor commented on #1549
Hello,

the issue still persists in the Version I've installed yesterday.

ntopng --version
v.3.1.171107    [Enterprise/Professional build]
GIT rev:        dev:531a9455b98dd78261ecf92e74a547ced8aead93:20171107
Pro rev:        r1240

Are there more informations needed?

[2017-11-09 04:55] dvachon2018 commented on #1556
hi
upgraded to latest arm stretch pi to 3.1.171108 and it is working now.

[2017-11-09 05:21] dvachon2018 commented on #1556
strange, with this new release, /etc/init.d/ntopng does not exist anymore
also, no log file in /var/log/ntopng/   the directory is empty

[2017-11-09 05:40] dvachon2018 commented on #1555
yes disk space available
i upgraded to latest arm stretch pi to 3.1.171108 and will test is again

[2017-11-09 11:53] emanuele-f commented on #1555
OK, Thank you

[2017-11-09 16:29] lucaderi commented on #1557
Fixed. Will reopen if necessary

[2017-11-09 16:29] #1557 closed, assigned to nobody

[2017-11-09 16:45] antoniovalenzuela opened #1561 "#1496 #1548 and #1557 Not solved!"
RPI3 Jessie 8 (x86)
please tell us what is the official installation for Jessie 8, 3 tickets without solution.

A) They told me to use the strech repository .. it does not work

/etc/apt/sources.list.d/ntop.list
deb http://apt.ntop.org/stretch_pi armhf/
deb http://apt.ntop.org/stretch_pi all/

apt-get install ntopng

The following packages have unmet dependencies:
 ntopng : Depends: librrd8 but it

[2017-11-09 22:00] s2105 opened #1562 "ntopng and elk running issue"
Hello,

While trying to run ntopng with the following command gives us error

ntopng -i tcp://127.0.0.1:5556 -w 3000 -F 'es,ntopng;ntopng-%Y.%m.%d;http://10.10.1.1:9200/_bulk;admin;password;'

09/Nov/2017 21:58:34 [AlertsManager.cpp:943] ERROR: SQL Error: step [INSERT INTO flows_alerts (alert_tstamp, alert_type, alert_severity, alert_json, vlan_id, proto, l7_proto, first_switched, last_switched, c

[2017-11-09 23:40] jerryzsplunk commented on #1551
I haven't seen such error any more in the past a few days. In case this error happens again, I will generate a core dump for your investigation

[2017-11-10 10:55] Alestor commented on #1549
Stable Build isn't affected by this issue. Would appreciate if somebody could take care of this in the dev build.

[2017-11-10 13:13] dvachon2018 opened #1563 "Enterprise license for ARM ?"
Hi!
Running ntopng on ARM Raspbian GNU/Linux 9.1 (stretch).
Without a license, when starting ntopng, it run for the first 10 minutes in Enterprise mode with all the Enterrpise feature then swith to community mode.
Via email, i asked to ntop shop a license for Enterprise ARM but they answer me that it is not available because it was not developed. I dont understand.
So my question/problem is ; Is E

[2017-11-10 15:45] ffbarcelos opened #1564 "[Lua.cpp:5507] [@/usr/share/ntopng/scripts/callbacks/5min.lua]:[158] ERROR: Cannot complete local hosts RRD dump in 5 minutes. Please check your RRD configuration."
Boa tarde,
Como corrigir os erros abaixo?
10/Nov/2017 12:14:50 [Lua.cpp:5507] [@/usr/share/ntopng/scripts/callbacks/5min.lua]:[158] ERROR: Cannot complete local hosts RRD dump in 5 minutes. Please check your RRD configuration.
10/Nov/2017 12:19:50 [Lua.cpp:5507] [@/usr/share/ntopng/scripts/callbacks/5min.lua]:[158] ERROR: Cannot complete local hosts RRD dump in 5 minutes. Please check your RRD con

[2017-11-10 16:40] simonemainardi commented on #1564
you have too many local hosts and thus there's not enough time to calculate their timeseries. Can you reduce their number by playing with parameter -m?

[2017-11-10 16:53] simonemainardi commented on #1562
please, try to run version 3.1 and report again if the issue still occurs. The new version will carry extra information in the ERROR.

[2017-11-10 16:53] #1562 closed, assigned to nobody

[2017-11-10 16:54] ffbarcelos commented on #1564
I already use this parameter, but there are several networks, one of them ipv6. Would there be no other way to solve it?

[2017-11-10 17:27] emanuele-f commented on #1551
Ok, Thank you

[2017-11-10 17:43] emanuele-f commented on #1549
Hi, this is fixed with commit 12c622b96a87e69c9472da0adef1e25ccfac3450. A new build will be available in one hour. Thank you.

[2017-11-10 17:43] #1549 closed, assigned to nobody

[2017-11-10 17:48] emanuele-f commented on #1564
@ffbarcelos, you can try to update your disk with a faster one or turn off some data dump into the data retention settings. I'm closing the issue for now.

[2017-11-10 17:50] emanuele-f commented on #1556
Thank you for reporting. We are migrating to a pure systemd service file, this is why /etc/init.d is empty. Stay tuned.

[2017-11-10 17:50] #1556 closed, assigned to nobody

[2017-11-10 17:51] emanuele-f commented on #1555
I'm closing the issue for now, please reopen it if necessary

[2017-11-10 17:51] #1555 closed, assigned to nobody

[2017-11-10 17:55] emanuele-f commented on #1552
@dvachon2018 the screenshot shows two different graphs. Can you still reproduce the problem? If so, please send us two screenshot of the same graph.

[2017-11-10 18:01] emanuele-f commented on #1550
Hi, can you give us more information about the undetected traffic? For example, from the Flows or Ports tab.

[2017-11-10 18:06] emanuele-f commented on #1481
Implemented with b11538aa47e7b05aa9afda52f1f19535ce075df2 and related commits

[2017-11-10 18:06] #1481 closed, assigned to simonemainardi

[2017-11-10 18:06] emanuele-f commented on #1480
Implemented with 7281fd0d5d9b566c0c59657db379306453d5ae2f and related commits

[2017-11-10 18:06] #1480 closed, assigned to simonemainardi, lucaderi

[2017-11-10 18:07] #1478 closed, assigned to simonemainardi

[2017-11-10 18:09] emanuele-f commented on #1459
The build is available at http://packages.ntop.org/RaspberryPI/

[2017-11-10 18:09] #1459 closed, assigned to nobody

[2017-11-10 18:10] lucaderi commented on #1563
Hello, Sorry for not having replied to your email, but we are unable to find it on our system.
For ARM we have decided to release the pro version but not the enterprise as we believe an ARM box might not been able to exploit the ether prise features. However as you are asking this, we have added to our shop.

[2017-11-10 18:10] #1563 closed, assigned to nobody

[2017-11-10 18:10] ffbarcelos commented on #1564
The disk is a 200 GB SSD, in the retention configuration, only the Traffic Application and Layer-7 is enabled, the total of hosts around 10,000 divided into several networks.

[2017-11-10 18:11] lucaderi commented on #1545
@ummeegge Can you please report if the fix worked?

[2017-11-10 18:16] lucaderi commented on #1561
@antoniovalenzuela Three tickets with answers that you did not follow. Above you are continuing to do things we do not support.

All you need to do is
1. On ARM we support only stretch_pi. If you ahem jessie upgrade first
2. Go to http://packages.ntop.org/RaspberryPI/
3. Do what is written
- sudo su
- wget http://packages.ntop.org/apt/ntop.key
- apt-key add ntop.key
- Raspbian Stretch (9.x) [Activ

[2017-11-10 18:16] #1561 closed, assigned to nobody

[2017-11-10 18:16] emanuele-f commented on #1564
Layer 7 applications is what takes most of the time to write. Is the cpu load high?

[2017-11-10 18:26] ffbarcelos commented on #1564
PID USER      PR  NI    VIRT    RES    SHR S  %CPU %MEM     TIME+ COMMAND
 8621 nobody    20   0 3909700 2,463g  16724 S 264,8 14,0  82:47.31 ntopng
 7623 nobody    20   0  839412 293204  18436 S  50,2  1,6  21:54.98 nprobe
 1761 nobody    20   0  577268  77744  18524 S  16,3  0,4   9:57.15 nprobe
 1554 nobody    20   0  511732  27500  18552 S   7,6  0,1   3:44.15 nprobe

[2017-11-10 18:31] ffbarcelos commented on #1564
The CPU is supporting.

[2017-11-10 18:42] howdey57 commented on #1459
Just tried to install this but got an error, and the code was not signed. Thoughts?

Preparing to unpack .../ntopng_3.1.171108-3683_armhf.deb ...
Unpacking ntopng (3.1.171108-3683) over (2.4+dfsg1-3) ...
dpkg: error processing archive /var/cache/apt/archives/ntopng_3.1.171108-3683_armhf.deb (--unpack):
 trying to overwrite '/usr/share/ntopng/httpdocs/css/bootstrap-datetimepicker.css', which is als

[2017-11-10 18:44] ffbarcelos commented on #1564
I was doing some tests, the number of networks was reduced, and the errors changed.

10/Nov/2017 15:57:18 [Lua.cpp:6082] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/5min.lua][/usr/share/ntopng/scripts/callbacks/5min.lua:130: /storage/ntopng/0/rrd/200/18/44/85/Telnet.rrd: opening '/storage/ntopng/0/subnetstats/200/18/32/0/20/num_http_hosts.rrd': No such file or directory]
10/Nov/20

[2017-11-10 18:45] simonemainardi commented on #1556
migration is completed, is not in progress. You can control the start/stop ntopng with `systemctl`

[2017-11-10 18:52] emanuele-f commented on #1564
Please provide the following information:

- What ntopng version are you using?
- What is your ntopng configuration?
- How many cores in your cpu?

[2017-11-10 19:01] emanuele-f commented on #1459
You ntopng-data package is outdated (it is using old version 2.4). Please remove any ntopng related package, including the /etc/apt/sources.list.d/ntop.list. Then follow the instructions at the link above.

[2017-11-10 20:32] Alestor commented on #1549
Thank you

[2017-11-11 00:13] dvachon2018 commented on #1552
hi, dont now why but working since last build.   3.1.171108

[2017-11-11 01:05] emanuele-f commented on #1552
Ok, I'm closing the issue for now. Should you experience it again, please reopen. Thank you.

[2017-11-11 01:05] #1552 closed, assigned to nobody

[2017-11-11 08:36] ummeegge commented on #1545
Hello lucaderi,
and thanks for working on this. Your commit unfortunately do not fix the problem. But the debugging differs to the last one and it looks like this:

Kernel messages:
[code]

Attaching GDB to process:
[code]

Sending SIGINT:
[code]

GDB where:
[code]

bt full:
[code]

Tests has been made with:
[code]
[code]

As a beneath info/question #1544 is here still presant and not fixed. Shoul

[2017-11-11 10:19] resturiani commented on #1550
below this topology I use:
![screenshot from 2017-11-11 17-12-18](https://user-images.githubusercontent.com/22189485/32688452-8e53359e-c703-11e7-8651-bfa403ec1c9b.png)

I use traffic flow from Mikrotik to server, and I try to detect IP client. I got that IP, but ntopng not detect what client acces on browser. below is the proof:
![screenshot from 2017-11-11 16-56-03](https://user-images.githubuser

[2017-11-11 13:35] lucaderi opened #1565 "Unable to handle PID file properly"
PID file is not handled properly

1. Startup issue
[main.cpp:318] ERROR: Unable to store PID in file /var/run/ntopng.pid

2. Shutdown issue
[main.cpp:64] Deleted PID /var/run/ntopng.pid [rc: -1]

[2017-11-11 13:47] lucaderi commented on #1489
@qm2k @cardigliano
Any news here? It works for me with the current version

[2017-11-11 13:48] lucaderi commented on #1364
@malexorg we plan to make them available by the time we release v3.2 likely this month

[2017-11-11 14:35] qm2k commented on #1489
Will make test update this Monday and come back with the result.

[2017-11-12 02:23] Howard-Chang opened #1566 "Exported flows is lower than Collected flows"
Hi, I push the collected flows into logstash then to ES, and I found the exported flows is lower than collected flows very much, but there's no drop flows.
Is it correct?

![image](https://user-images.githubusercontent.com/19474557/32695285-31b9f496-c792-11e7-9f1a-6da6aef862a1.png)

thank you in advance!

[2017-11-13 08:33] emanuele-f commented on #1550
Hi, please consider that flows take some time to reach the nProbe and then the ntopng instance. If you go into the graphs page (chart icon in the host toolbar) and wait 10 minutes after surfing the internet with the test client, can you see any http traffic?

[2017-11-13 08:47] simonemainardi commented on #1566
I quote my previous reply to an older issue you posted (https://github.com/ntop/ntopng/issues/1529)

You didn't address any of the above. Can you first please try and comment on the above suggestions?

[2017-11-13 12:00] schoerg commented on #772
Thanks for this.
I have the same crappy switch, Nortel 4524GT-PWR.

[2017-11-13 13:35] emanuele-f commented on #1546
@Marlow925 any news? Can you still experience the issue with the latest ntopng and nprobe version?

[2017-11-13 13:43] Marlow925 commented on #1546
Yes .. on v.3.1.171111 right now and still crashing any 24-36 hours.

Last one with
*** Error in `ntopng': corrupted double-linked list: 0x00007f34a00008b0 ***
Aborted

[2017-11-13 14:05] emanuele-f commented on #1546
Which os? Which nprobe version?

[2017-11-13 14:41] emanuele-f commented on #1544
Hi, can you double check the executable you are running? It seems like you are mixing `/tmp/ntopng/ntopng`, `/usr/bin/ntopng` and `./ntopng` (gdb). The error above should be fixed with the current ntopng version..

[2017-11-13 15:05] emanuele-f commented on #1541
@mahescho do you still experience the issue?

[2017-11-13 15:13] ffbarcelos commented on #1564
Please provide the following information:

What ntopng version are you using?  ntopng Pro [Small Business Edition] Edition v.3.0.171105
What is your ntopng configuration?
-n=2
-w=3000
-W=0
-g=-1
m="xxx.xx.xx.0/20,xxx.xx.xx.0/22,xxx.xx.xx.0/23,xxx.xx.xx.0/24,xxx.xx.xx.0/24,xxx.xx.xx.0/22,xxx.xx.xx.0/22,xxx.xx.xx.0/21"
-S=local
-X=2000000
-x=2000000
-d=/storage/ntopng
-G=/var/run/ntopng.pid
-i=tcp:/

[2017-11-13 15:47] emanuele-f commented on #1564
You are using the `-S` option, which causes all the hosts to stay in memory (and this is bad since during the periodic data dump we have to iterate all the hosts). Please try to remove it.

[2017-11-13 15:51] ummeegge commented on #1544
Hello emanuele-f,
thanks for looking over this. I needed to compile ntopng with the debug flag, the compilation and GDB tests has been made in /tmp that´s why the ntopng directory has been located in /tmp. Have also a regular compiled version (CFLAGS -O2) in my productive system where i do not have GDB or GCC available. Both system are on version

[code]
and have both the same behavior where the h

[2017-11-13 16:16] emanuele-f commented on #1544
Ok, but please note that if you run ntopng with`/tmp/ntopng/ntopng` from outside the `/tmp/ntopng` directory, it will still use your system wide (possibly outdated) scripts directory (located at '/usr/local/share/ntopng`). So, what I suggest is to remove any custom system wide installation of ntopng and try the binary version from the ntopng repository. This way, you'll know for sure you are using

[2017-11-13 16:21] ffbarcelos commented on #1564
Hi,
Removing a -S option, but the errors continue, what else can we change?

Thank you

13/Nov/2017 14:06:46 [Lua.cpp:6082] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/5min.lua][/usr/share/ntopng/scripts/callbacks/5min.lua:130: opening '/storage/ntopng/0/subnetstats/200/18/32/0/20/tcp_rst.rrd': No such file or directory]

13/Nov/2017 14:11:50 [Lua.cpp:6082] WARNING: Script failure

[2017-11-13 16:37] ffbarcelos commented on #1564
If memory is increased, would it solve?

[2017-11-13 16:38] emanuele-f commented on #1564
Any chance to upgrade to the development version of ntopng? Can you still see the `Cannot complete local hosts RRD dump in 5 minutes. Please check your RRD configuration` error?

[2017-11-13 16:56] ffbarcelos commented on #1564
Se resolver o problema eu atualizo para a versão de desenvolvimento, qual seria o impacto?

Como faço para verificar o erro de configuração  do RRD?

[2017-11-13 16:57] ffbarcelos commented on #1564
If I solve the problem I upgrade to a development version, what is the impact?

How do I check the RRD configuration error?

[2017-11-13 17:42] ummeegge commented on #1544
Thank you for clarification. But i think this should be here not the problem since the interface history do not work on the productive machine too. Also if i make a clean build, which i did in that case, i need to make a complete new build of the whole distribution (IPFire in that case) to get the new ROOTFILES (which includes then also possible new files or deletion of old files) to generate an u

[2017-11-13 18:10] emanuele-f commented on #1564
We are moving towards the next stable release, so please try the dev version if possible. The RRD error should appear into the ntopng log

[2017-11-13 22:22] simonemainardi commented on #1551
fixed with https://github.com/ntop/ntopng/commit/b5ad7ebfce523269caec4e4c79ec09cb3df9fd7b

[2017-11-13 22:22] #1551 closed, assigned to nobody

[2017-11-14 06:44] LolikaPadmanbhan opened #1567 "Compilation terminated due to /libcache.h: No such file or directory"
I  followed the instruction given, but still i have this problem and am new to this so, plz help me out what to do next .?
I also want to know which source file to be executed to get the ntop connected to web server.
i want this to run through source code/ntop repository only.

gmake[3]: Entering directory '/home/lolika/source_code/nDPI/ntopng/third-party/json-c/tests'
gmake[3]: Nothing to be done

[2017-11-14 08:42] qm2k commented on #1489
I still don't see minor version number, is it ok? What was your fix?

As for update failure, I cannot directly check it right now since `pfring-dkms` is currently at the latest level in my system, and was updated from 6.7.0 to 7.1.0 without proxy. I re-enabled proxy usage for packages.ntop.org and will need to upgrade 2 more times to confirm one way or another (first upgrade will store package in

[2017-11-14 09:15] Niko78 opened #1568 "mysql and storage full"
hi
I'm using ntop with -F option to write in database, it works well
I have an issue because when partition is full, ntop can't write more and it writes ton of warning in syslog... so partition where syslog is becomes full :-(
 [MySQLDB.cpp:56] ERROR: MySQL error: Out of range value for column 'idx' at row 1 [rc=-1]
Nov 14 10:14:38 ntop-racine ntopng: [MySQLDB.cpp:56] ERROR: MySQL error: Out of ra

[2017-11-14 11:23] Marlow925 commented on #1546
I always match nprobe and ntopng.
Crashed again today with v.3.1.171113 ..
"Segmentation fault"

[2017-11-14 11:28] enekow opened #1569 "Build ntopng for Windows"
Hello,

I am trying to build ntopng for windows x64 using VS2017.

What would be the best approach to make it work?
Is there any guide for that purpose?

Kind regards,
Eneko

[2017-11-14 13:10] emanuele-f commented on #1546
@Marlow925 which OS are you using? Can you enable core dump generation? Which nprobe version?

[2017-11-14 13:40] emanuele-f commented on #1567
Hi, you should put ntopng and nDPI at the same directory level (so please do a `cd nDPI && mv nDPI/ntopng ..`).

Then you need to compile nDPI first: `cd nDPI && ./autogen.sh && ./configure && make`. Then ntopng: `cd ntopng && ./autogen.sh && ./configure && make`

[2017-11-14 14:26] emanuele-f commented on #1544
Can you please post a screenshot of your ntopng preferences, page Timeseries?
Does the file `/var/tmp/ntopng/1/rrd/bytes.rrd` exist in your system?

[2017-11-14 14:41] emanuele-f commented on #1541
@mahescho please follow the following steps:

1) select the ntopng interface from the ntopng gui
2) Into the interface page, note the id  (say 7) of your network interface.
3) Then go into the ntopng preferences and post a screenshot of the Timeseries settings
4) What are the contents of the directory `/var/tmp/ntopng/7/` (7 is the interface id as stated previously)?

[2017-11-14 15:17] emanuele-f commented on #1545
@ummeegge, we cannot reproduce the crash anymore. Please provide the following information:

- Do you experience the issue *every time* you try to stop ntopng?
- If you go into the ntopng source directory, what's the first line of `git log`?
- Run `./autogen.sh && ./configure && make`
- Now run ntopng from the local directory: `gdb --args ./ntopng /etc/ntopng/ntopng.conf` and get a trace with `thr

[2017-11-14 15:45] emanuele-f commented on #1568
Hi, please check out the `MySQL storage` option under the ntopng Timeseries preferences. We delete old flows at midnight. This means that if your MYSQL db becomes full in less than one day, you will need to either incress your HDD size or reduce the amount of data ntopng analyzes.

Please note that MySQL is not intended to be a used as round robin db. You could write a python script or so to perfo

[2017-11-14 17:47] lucaderi commented on #1565
The fix is an intermediate fix. The ultimate solution is to create
- ntopng as user
- create /var/run/ntopng/ and store the pid file in there owned by the user

Keep in mind http://seclists.org/oss-sec/2017/q3/305

[2017-11-14 23:12] jj2473 commented on #1496
sudo apt-get upgrade
Reading package lists... Done
Building dependency tree
Reading state information... Done
Calculating upgrade... Done
The following packages have been kept back:
  gstreamer1.0-plugins-bad libgl1-mesa-dri libgstreamer-plugins-bad1.0-0
  pix-icons pix-plym-splash pixel-wallpaper raspberrypi-ui-mods sonic-pi
  wolfram-engine xserver-xorg-input-all
0 upgraded, 0 newly installed, 0

[2017-11-14 23:12] jj2473 opened #1570 "Upgrade issue"
sudo apt-get upgrade
Reading package lists... Done
Building dependency tree
Reading state information... Done
Calculating upgrade... Done
The following packages have been kept back:
  gstreamer1.0-plugins-bad libgl1-mesa-dri libgstreamer-plugins-bad1.0-0
  pix-icons pix-plym-splash pixel-wallpaper raspberrypi-ui-mods sonic-pi
  wolfram-engine xserver-xorg-input-all
0 upgraded, 0 newly installed, 0

[2017-11-15 04:40] LolikaPadmanbhan commented on #1567
@emanuele-f
hey,
Thanks for the response.
I have kept both nDPI and ntopng in the same directory and followed the same as you told. but still i face the same error.
when i compile nDPI its compiling with out any problem, later when i use cd ntopng && ./autogen.sh && ./configure && make for ntopng it is giving me the same error again.
Help me out please.
Thanking you..

[2017-11-15 07:05] Niko78 commented on #1568
Hi
yep that's what I done and it doesn't change anything
my storage is full but as I changed settings to keep data for 2 weeks instead of 1 month, I thought at midnight, it would remove old data... it's not the case, my storage is still full this morning (I would say even no changes).

I have a storage size about 1TB, so should not be problem (not full in one day). I try to reduce again data reten

[2017-11-15 07:13] mhmontazeri opened #1571 "n2disk hardware dependency"
Hi,
I'm using n2disk for a 10G transfer and my experience was successful but now after changing target test motherboard, the license error message has been shown(and the machine ID is the problem apparently). Is there any solution?

Best Regards
mhmontazeri

[2017-11-15 07:31] mhmontazeri commented on #1571
Hi,
In my previous issue, its absent that i shall say about my requirement for changing motherboard because of achieving higher rate performance. Thanks for any help...

Best Regards
mhmontazeri

[2017-11-15 07:44] LolikaPadmanbhan commented on #1567
hey @emanuele-f

In continuation to the previous post. according to my observation from the error is, the file libcache.h is in nDIP  folder in the described path  : ../nDPI/src/lib/third_party/include/libcache.h. but when we are using make in ntopng it is unable to locate the path of libcache.h i guess and  no where i get to see this nDIP included in the path.
just tell me is my understanding is

[2017-11-15 09:00] emanuele-f commented on #1567
It seems like ntopng is using /usr/local/include/libndpi-2.1.0 as the nDPI include directory. Can you uninstall the system wide installed nDPI and retry with `./autogen.sh && ./configure && make` into ntopng source directory?

[2017-11-15 09:03] emanuele-f commented on #1568
Ok. Maybe you can manually connect to the ntopng mysql database and perform queries on the FIRST_SWITCHED field to see how hold is your data

[2017-11-15 09:05] emanuele-f commented on #1570
It seems like your systemd version is buggy, what operating system are you using? Is it updated?

[2017-11-15 09:09] emanuele-f commented on #1571
Hi, see the instructions at https://www.ntop.org/support/faq/how-can-i-move-a-license-to-a-new-server/

Please contact us privately via the contact form for any additional need.

[2017-11-15 09:09] #1571 closed, assigned to nobody

[2017-11-15 10:35] Marlow925 commented on #1546
As I stated in my answer before: "I always match nprobe and ntopng.". Which means, that when I run ntopng v.3.1.171113, then i run nprobe from the build day.

As for the enabling core dump generation, that hasn't been working right, so no can do until I get some time to look at that.

OS is Debian 8.9

I run ntopng instances on 4 different servers and all have the same behavior. Of these 2 are vm'

[2017-11-15 11:35] LolikaPadmanbhan commented on #1567
@emanuele-f
Should i be doing uninstall for all the package also or only nDPI should be fine.. ?
if in case the compilation is successful. which file should i run to see the output?
Thank you..

[2017-11-15 11:48] emanuele-f commented on #1567
Only nDPI. After successfully compiled, you can run ntopng with `./ntopng` from the ntopng source directory

[2017-11-15 13:07] resturiani commented on #1550
No sir. It's just showed app protocol like i screenshoot before. It didnt record what client access like facebook, google, github, etc. If we look on test client that ports and flows menu just showed like this:
![screenshot from 2017-11-15 19-51-27](https://user-images.githubusercontent.com/22189485/32837221-3f92298a-ca3f-11e7-91aa-f97084837b7b.png)
![screenshot from 2017-11-15 19-54-52](https://u

[2017-11-15 13:09] jj2473 commented on #1570
Hello,
This is on an updated raspberry pi 3, I see other people are getting same
error. This happens when it try to install updated ntopng and nprobe.

Thank,
Jim

On Wed, Nov 15, 2017 at 4:05 AM Emanuele Faranda <notifications@github.com>
wrote:

[2017-11-15 16:41] emanuele-f commented on #1472
Fixed with commits:

- f62c86a2419e07157ebf5d8dccbbeec390600fbf
- 70486044048f58bdaab1859e8e7be2b9e3d50d15
- 7a62ae009bde0bf60a0833bf22d7255a7088d134

[2017-11-15 16:41] #1472 closed, assigned to simonemainardi, emanuele-f

[2017-11-15 16:49] simonemainardi commented on #1550
It is technically not possible to perform nDPI inspection when ntopng and nProbe are used to collect and visualize netflow traffic, either from a Mikrotik or from any other NetFlow source. When nProbe is used to collect netflow traffic, basic port-based protocol detection is performed and this explains why you are not seeing Facebook, Youtube, etc.

This is not a limitation of ntopng. It is merely

[2017-11-15 16:49] #1550 closed, assigned to simonemainardi

[2017-11-15 17:14] LolikaPadmanbhan commented on #1567
@emanuele-f
I followed your suggestion it didn't.
so i used : sudo apt autoremove  and started the compilation from fresh, but got stuck again in the same error.
the steps i followed
Installed the packages
sudo apt-get install libmysqlclient-dev
sudo apt-get install libsqlite3-dev
sudo apt-get install libglib2.0-dev
sudo apt-get install libxml2-dev
sudo apt-get install wget
sudo apt install redis-

[2017-11-15 17:16] emanuele-f commented on #1570
Hi, I've just tried to do a new install of ntopng on raspberry 3 with no problem:

[code]

You are using outdated packages (eg. ntopng `3.1.171016` vs current version `3.1.171115`). Please run `sudo apt-get update` before issuing the upgrade command

[2017-11-15 17:23] emanuele-f commented on #1567
Hi, what is clear from the log above is that you have somehow installed nDPI systemwide (and it is still there). So, if you have installed nDPI from packages, do `apt-get remove ndpi`. Otherwise, if you have installed it from source, go into the nDPI source directory and do a `sudo make uninstall`. If you have successfully removed nDPI systemwide then `/usr/local/include/libndpi-2.1.0` *cannot* ex

[2017-11-15 17:31] emanuele-f commented on #1546
We have some machines running latest nprobe and ntopng with no problem. So the issue is something specific to your setup, and we need a core dump to troubleshoot it. If possible, can you run `gdb --args ntopng /etc/ntopng/ntopng.conf` until it crashes? After it crashes, you can execute `bt` from the gdb shell and get the stack trace, which will be very useful for us to spot the problem. You can al

[2017-11-15 17:42] LolikaPadmanbhan commented on #1567
@emanuele-f
hey ,
Thanks a tone ... i followed the steps and i could successfully Compile the file. Am happy for it..
Thank you very much.
if you don't mind can i get your email id. so that if i need any help during running ntopng i can seek your help.
thank you once again.

[2017-11-15 18:00] lucaderi opened #1572 "Lua code drives VM out of memory"
With many hosts, the function makeTopJSON in top_structure.lua allocates a lot of memory that can push the VM OOM. In addition to this it defines global variable that when used in ntopng with many interfaces make things even worse.

IMHO this code needs to be rewritten in C++ to avoid these type of problem.

[2017-11-15 18:01] emanuele-f commented on #1567
@LolikaPadmanbhan thank you for the feedback. I'm part of the ntop team so the best way to get help on ntopng is to open an issue here. Me or one of my collegues will help you. I'm closing the issue.

[2017-11-15 18:01] #1567 closed, assigned to nobody

[2017-11-15 20:43] jj2473 commented on #1570
Hello,
I am and it pulls down what packages it can find.

On Wed, Nov 15, 2017 at 12:16 PM Emanuele Faranda <notifications@github.com>
wrote:

[2017-11-16 02:00] jj2473 commented on #1570
Hello Emanuele,
 sudo apt-get update
Get:1 http://mirrordirector.raspbian.org jessie InRelease [14.9 kB]
Get:2 http://archive.raspberrypi.org jessie InRelease [22.9 kB]
Get:3 http://mirrordirector.raspbian.org jessie/main armhf Packages [9,536
kB]
Ign http://apt.ntop.org armhf/ InRelease
Ign http://apt.ntop.org all/ InRelease
Ign http://apt.ntop.org armhf/ Release.gpg
Ign http://apt.ntop.org all/

[2017-11-16 08:44] emanuele-f commented on #1570
We no longer support jessie on raspberry. stretch is the new stable. Please see http://packages.ntop.org/RaspberryPI

[2017-11-16 08:44] #1570 closed, assigned to nobody

[2017-11-16 09:04] Niko78 commented on #1568
well this morning no changes yet, it seems nothing happens at midnight

I think I found where is the problem
I peformed a query in database (in flowsv4) and older first_switched is 1510183930 => 09/11/2017 @ 00:32:10 so no problem here, it respects the mysql retention (7 days) I configured in ntop
BUT in performing the same thing in aggrflowsv4 older first_switched is 1498130654 => 22/06/2017 @ 13

[2017-11-16 09:32] emanuele-f commented on #1568
What ntopng version are you using?

[2017-11-16 09:34] Niko78 commented on #1568
3.1.171115 - Professional Edition

[2017-11-16 09:42] emanuele-f commented on #1568
What's the output of `SELECT INTERFACE_ID, FIRST_SWITCHED FROM aggrflowsv4 ORDER BY FIRST_SWITCHED ASC LIMIT 1` ? If think the problem is that some old flows in your db where registered on a network interface which you don't use anymore into ntopng.

Ps. currently, we only delete old flows for the currently available network interfaces of ntopng.

[2017-11-16 09:49] Niko78 commented on #1568
it's still the same interface for me, no changes

mysql> SELECT INTERFACE_ID, FIRST_SWITCHED FROM aggrflowsv4 ORDER BY FIRST_SWITCHED ASC LIMIT 1
    -> ;
+--------------+----------------+
| INTERFACE_ID | FIRST_SWITCHED |
+--------------+----------------+
|            1 |     1498130654 |
+--------------+----------------+
1 row in set (0,00 sec)

[2017-11-16 09:52] emanuele-f commented on #1568
If you go into the ntopng gui, can you find a network interface whose id is 1? You can check this by selecting each interface from the Interfaces menu and looking at the "Id" field displayed into the page

[2017-11-16 09:55] Niko78 commented on #1568
I have only one interface and id is well 1
/lua/if_stats.lua?ifid=1

[2017-11-16 10:12] emanuele-f commented on #1568
Flow aggregations are only available into the enterprise version of ntopng. You are using the pro version but maybe in the past you used the enterprise (or run the demo of enterprise), can you confirm this? What's the output of `SELECT FIRST_SWITCHED, NTOPNG_INSTANCE_NAME FROM aggrflowsv4 ORDER BY FIRST_SWITCHED DESC LIMIT 1` ?

[2017-11-16 10:14] Niko78 commented on #1568
always used pro version (I'm in Education entity)
mysql> SELECT FIRST_SWITCHED, NTOPNG_INSTANCE_NAME FROM aggrflowsv4 ORDER BY FIRST_SWITCHED DESC LIMIT 1;
+----------------+----------------------+
| FIRST_SWITCHED | NTOPNG_INSTANCE_NAME |
+----------------+----------------------+
|     1500461921 |                      |
+----------------+----------------------+
1 row in set (0,02 sec)

[2017-11-16 10:38] emanuele-f commented on #1568
I see. Somehow the flows went into your database table aggrflowsv4 (which was not supposed to be used by your ntopng version), so you can safely delete them. You can do this with the query `DELETE FROM aggrflowsv4;`

[2017-11-16 10:38] #1568 closed, assigned to nobody

[2017-11-16 10:39] simonemainardi commented on #1548
@antoniovalenzuela RPI has ben upgraded to the new stable stretch

[2017-11-16 12:02] Niko78 commented on #1568
ok done but disk space is still full
I checked space in storage folder and I found that

du -Sh | sort -hr | head -n 25
232G    ./mysql/ntopng
4,7G    ./tmp/1/json/min
4,6G    ./tmp/1/json/5mins
1,4G    ./tmp/1/json/hour
1,3G    ./tmp/1/activities/17/09/04
1,1G    ./tmp/1/activities/17/06/26
1005M   ./tmp/1/activities/17/06/27
789M    ./tmp/1/activities/17/06/08
788M    ./tmp/1/activities/17/06/06

[2017-11-16 12:08] ffbarcelos commented on #1564
I upgraded to the original edition Pro [Small Business Edition] v.3.0.171114 (previous Edition v.3.0.171105), plus some warnings continue.
16/Nov/2017 09:46:00 [Lua.cpp:6082] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/5min.lua][/usr/share/ntopng/scripts/lua/modules/graph_utils.lua:1053: opening '/storage/ntopng/0/subnetstats/200/18/32/0/20/tcp_synack.rrd': No such file or directo

[2017-11-16 13:14] emanuele-f commented on #1568
You can safely remove the activities folder as they are not used anymore. We avoid deleting user data automatically when possible, but I agree that some sort of confirmation message should be provided to the user to automatically delete them.

[2017-11-16 13:19] emanuele-f commented on #1564
You need to change the ntop repository in order to use the development builds. Please follow the instructions at http://packages.ntop.org/ for "nightly builds"

[2017-11-16 13:47] emanuele-f commented on #1544
@ummeegge please also check out the `Create Interface Timeseries` flag under the cog icon into the network interface page

[2017-11-16 16:46] ffbarcelos commented on #1564
Changing to a version to solve problems? Will not impact on the use license?

[2017-11-16 18:22] emanuele-f commented on #1564
You licence will not be affected. The development version has many fixes, so it will probably solve your problems.

[2017-11-17 06:31] LolikaPadmanbhan opened #1573 "How to configure/set NetFlow and sFlow in ntopng?"
Hey,
I have installed ntop in one machine using apt on Ubuntu 16.04, i get to see the older version(1998 -2012)
In another  Ubuntu 16.04 machine i have installed ntopng by compiling source code(LuaJIT 2.1.0-beta3). both the interface look very different. I understand ntopng is a product of top. but however i see a Plugins tab in ntop which allows us to set/configure NetFlow, sFlow in ntop. is it p

[2017-11-17 09:15] emanuele-f commented on #1573
Hi, ntopng requires nProbe in order to receive NetFlow/sFlow traffic. Please look at this page for more information https://www.ntop.org/nprobe/advanced-flow-collection-with-ntopng-and-nprobe/ . You can also find other info in our user guide https://github.com/ntop/ntopng/blob/dev/doc/UserGuide.pdf

[2017-11-17 10:15] ffbarcelos commented on #1564
# dpkg -i apt-ntop.deb
(Reading database ... 192333 files and directories currently installed.)
Preparing to unpack apt-ntop.deb ...
Unpacking apt-ntop (2.5-505) ...
dpkg: error processing archive apt-ntop.deb (--install):
 trying to overwrite '/etc/nbox/ntop-apt.key', which is also in package apt-ntop-stable 2.4-538
abort-install
Errors were encountered while processing:
 apt-ntop.deb

[2017-11-17 10:29] emanuele-f commented on #1564
Please remove apt-ntop-stable

[2017-11-17 10:53] LolikaPadmanbhan commented on #1573
Hi,
i downloaded the source code for nProbe from git source repo. Now,how do i compile and run to configure and set my own netflow to ntopng to monitor is my question.

Thank you,

[2017-11-17 11:03] simonemainardi commented on #1573
@LolikaPadmanbhan nProbe is not opensource so any version you've downloaded is not affiliated with us.

Please, install nProbe from http://packages.ntop.org/

Then follow the readme pointed out by @emanuele-f to collect NetFlow.

[2017-11-17 11:21] LolikaPadmanbhan commented on #1573
@simonemainardi ,
Hi, https://github.com/ntop/nProbe.git i was saying i have download the this repo. is it not from ntop.? i was asking about compiling this.
Thank you.

[2017-11-17 11:26] simonemainardi commented on #1573
That repo only contains docs not code. You can't compile it.

[2017-11-17 11:35] LolikaPadmanbhan commented on #1573
ya i just saw. then i need to install nProbe from ntop package only as a separate application and then config with ntopng right?
thank  you.

[2017-11-17 11:42] simonemainardi commented on #1568
@Niko78 what is the most recent last_switched that you see in aggrflowsv4? does that table still get updated?

[2017-11-17 11:43] simonemainardi commented on #1573
correct

[2017-11-17 11:48] LolikaPadmanbhan commented on #1573
Can i use sudo apt-get install nProbe on Ubuntu 16.04 for installation.?
Thank you.

[2017-11-17 11:50] LolikaPadmanbhan commented on #1573
i don't think i can use sudo for this.? it might not locate the package.

[2017-11-17 11:52] emanuele-f commented on #1573
nprobe package is lowercase

[2017-11-17 11:52] Niko78 commented on #1568
@simonemainardi
I removed aggrflowsv4 as requested by Emanuele, since that table has not been created.

[2017-11-17 11:53] LolikaPadmanbhan commented on #1573
@emanuele-f
No i tried both ..;-(

[2017-11-17 11:55] Niko78 opened #1574 "strange lines in syslog"
in checking my syslog I can see few lines (the same)

 [Lua.cpp:6188] [@/usr/share/ntopng/scripts/lua/modules/alert_utils.lua]:[1946] Unexpected new_entity_info == nil

and some alerts
 [Alert] blacklisted host <A HREF='/lua/host_details.lua?host=115.231.218.26&ifid=1&page=alerts'>115.231.218.26</A> contacted host <A HREF='/lua/host_details.lua?host=10.0.115.14&ifid=1&page=alerts'>10.0.115.14</A>

[2017-11-17 11:58] LolikaPadmanbhan commented on #1573
One more think i want  both ntopng and nProbe in the same system.
i want to create my own NetFlow and monitor that in ntopng.
As ntopng does for the local system.

[2017-11-17 11:58] simonemainardi commented on #1496
are you guys Raspbian GNU/Linux 9.1 (stretch)? Please note that jessie is no longer supported for rpi.

[2017-11-17 12:15] LolikaPadmanbhan commented on #1573
One more think i want  both ntopng and nProbe in the same system.
i want to create my own NetFlow and monitor that in ntopng.
As ntopng does for the local system.

[2017-11-17 12:49] ffbarcelos commented on #1564
Remove apt-ntop-stable and then put apt-ntop, update and update, but the errors continue.

17/Nov/2017 09:25:44 | WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/5min.lua][/usr/share/ntopng/scripts/callbacks/5min.lua:116: opening '/storage/ntopng/0/subnetstats/xxx/xx/xx/0/20/tcp_rst.rrd': No such file or directory]
-- | --
17/Nov/2017 09:45:55 | WARNING: Script failure [/usr/share/nto

[2017-11-17 12:52] simonemainardi commented on #1574
@Niko78 are you using the latest version? However, the alert is normal it's a blacklisted host connection. Disable the alerts from the preferences if you don't want them.

[2017-11-17 12:54] simonemainardi commented on #1564
@ffbarcelos any chance to get an ssh access to the machine?

[2017-11-17 12:55] simonemainardi commented on #1566
@Howard-Chang any news?

[2017-11-17 13:02] ffbarcelos commented on #1564
What is your email contact?

[2017-11-17 13:04] emanuele-f commented on #1573
Have you configured the ntop repository as explained in http://packages.ntop.org/ ?

[2017-11-17 13:12] Niko78 commented on #1574
@simonemainardi
sure I use : 3.1.171117 -  Professional Edition

about alerts I think I did not understand settings cause I thought it was to display them in UI not to add them in syslog, well ok understood now

[2017-11-17 13:15] simonemainardi commented on #1574
so please disable preference 'send alerts to syslog'

[2017-11-17 13:17] Niko78 commented on #1574
this setting is already at off
![capture](https://user-images.githubusercontent.com/17108017/32949155-123d7822-cba2-11e7-9881-1c689c3d94e8.PNG)

[2017-11-17 13:37] simonemainardi commented on #1564
mainardi ntop org

[2017-11-17 13:45] simonemainardi commented on #1521
fixed in https://github.com/ntop/ntopng/commit/fbb325830d556592daabf144e1b40b973736b715

[2017-11-17 13:45] #1521 closed, assigned to simonemainardi

[2017-11-17 14:43] emanuele-f commented on #1574
@Niko78 I've commited a fix. Please try the new package which will be available in one hour and let me know

[2017-11-17 14:49] emanuele-f commented on #1545
@ummeegge any news?

[2017-11-17 14:50] emanuele-f commented on #1541
@mahescho any news?

[2017-11-17 16:09] resturiani opened #1575 "How to Connect Ntopng to Mikrotik?"
how to monitor in ntopng using mikrotik?
I really need your help.

[2017-11-17 16:28] emanuele-f commented on #1575
Hi, please check out the following links:

- https://www.ntop.org/ntopng/how-to-analyse-mikrotik-traffic-using-ntopng/
- http://www.ntop.org/nprobe/advanced-flow-collection-with-ntopng-and-nprobe/

[2017-11-17 19:00] Niko78 commented on #1574
it seems to be ok now
thanks

[2017-11-18 01:31] resturiani commented on #1575
I have followed the steps. but still not working.
do you have a solution?

[2017-11-18 06:06] LolikaPadmanbhan commented on #1573
i have used sudo apt-get install ntop along with the required packages.
and i another i have compiled the ntopng using the repo.. i understand it will not happen in the one which i have compiled from source code.but, it should happen for the one which i have used from sudo apt.?
Thank you.

[2017-11-18 06:31] ummeegge commented on #1544
Hi emanuele-f,

shure

![Timeseries page](https://people.ipfire.org/~ummeegge/screenshoots/ntopng/ntopng_timeseries1.png)

tests has also been made with the default settings after installation with the same results.

My installation paths differs here a little (nst instead of tmp) but the rrd/ dir is here missing

[code]

The only section which includes a 'creation of network interfaces' was the '

[2017-11-18 06:40] LolikaPadmanbhan commented on #1573
hey,
I have removed ntop using the command.
sudo apt autoremove
sudo apt purge ntop
then followed these instructions from http://packages.ntop.org/
    wget http://apt-stable.ntop.org/16.04/all/apt-ntop-stable.deb
    sudo dpkg -i apt-ntop-stable.deb
  then run
  sudo  apt-get clean all
sudo  apt-get update
but it giving me this error when i try to execute this: sudo apt-get install pfring nprobe

[2017-11-18 07:36] ummeegge commented on #1545
Hello emanuele-f,

yes.

The first line of 'git log' is:

`commit 70486044048f58bdaab1859e8e7be2b9e3d50d15`

Did that for nDPI and ntopng but i need also to disable grsecurity (needed to do that with all version before, also with the stable 3.0 ) via paxctl with a:

[code]

otherwise i get an:

[code]

Here the output of 'gdb --args ./ntopng /etc/ntopng/ntopng.conf' whereby the procedure now is as

[2017-11-20 09:03] emanuele-f commented on #1575
Please see my email response.

[2017-11-20 09:10] emanuele-f commented on #1573
Hi, you are now on the right path to install ntopng. If you use ubuntu, some software manager may lock the dpkg (e.g. `unattended-upgrades`) temporary. Anyway, after some time, you should be able to properly run the command above correctly. If that does not happen, maybe youl will need to manually remove `/var/lib/dpkg/lock`.

[2017-11-20 09:11] emanuele-f commented on #1574
Thank you for reporting!

[2017-11-20 09:11] #1574 closed, assigned to nobody

[2017-11-20 10:20] lucaderi commented on #1541
Closed for inactivity. Will reopen if necessary.

[2017-11-20 10:20] #1541 closed, assigned to nobody

[2017-11-20 10:21] lucaderi commented on #1553
At least DNS traffic and captive portal don't work with netfilter

[2017-11-20 11:22] emanuele-f commented on #1545
I've reproduced the issue locally, thank you for your information. I've commited a fix 633ab65cdca165d25cd67b89d817761ac40ba17f . A new package will be available in one hour, please update and let me know if it works properly.

[2017-11-20 14:13] emanuele-f commented on #1544
The log you posted previously (`WARNING: Script failure`) reports `/var/tmp/ntopng/2/rrd/bytes.rrd'. What ntopng options are you using?

[2017-11-20 22:30] junquera opened #1576 "New Docker"
Hi! I've made a **docker** that pulls from the repo and creates all from the Ubuntu 16.04 image. I've created it because the `apt`s version is outdated.

My version is at: [ntopng-docker](https://github.com/junquera/ntopng-docker)

[2017-11-21 04:59] LolikaPadmanbhan commented on #1573
Hey, i have been trying its not happening. even after removing the lock file manually am still unable to install it. still with error.
sudo apt-get install pfring nprobe ntopng ntopng-data n2disk cento nbox
Reading package lists... Done
Building dependency tree
Reading state information... Done
ntopng is already the newest version (3.0.171120-3737).
cento is already the newest version (1.2.171120-

[2017-11-21 05:00] ummeegge commented on #1544
Hello emanuele-f,

this was a testing version in IPFire´s chroot (building) environment not the productive one.
Have build an actual version:

[code]

and this version seems to have fixed the problem, the interface history tab appears and works again.
The directories looks also good now:

[code]

This bug is solved here.

Thanks for your work and you effort.

Best regards,

Erik

[2017-11-21 05:03] ummeegge commented on #1545
Hello emanuele-f,
problem is also solved here.

Thank you too for your work on this.

Best regards,

Erik

[2017-11-21 08:49] emanuele-f commented on #1545
Thank you!

[2017-11-21 08:49] #1545 closed, assigned to nobody

[2017-11-21 09:03] emanuele-f commented on #1573
Please remove any previously installed ntopng files. For example `/etc/init.d/ntopng`

[2017-11-21 09:04] emanuele-f commented on #1544
Thank you for reporting Erik

[2017-11-21 09:04] #1544 closed, assigned to nobody

[2017-11-21 09:52] emanuele-f commented on #1576
Hi, thank you for sharing!

We provide an ubuntu 14 based docker file to pull ntopng from our package repository https://github.com/ntop/ntopng/tree/dev/docker but your solution is definitely more opensource friendly

[2017-11-21 10:18] LolikaPadmanbhan commented on #1573
i have removed all the files and started fresh but still its not working i don't knw what is the problem.

[2017-11-21 10:40] emanuele-f commented on #1573
A quick search on google will help you. Do you have package `ntop` installed ? See #1288

[2017-11-21 14:18] simonemainardi commented on #1576
there is also this docker that I've written some time ago. It's much smaller than yours: https://github.com/simonemainardi/ntopng-docker

We will several versions available when pulling an official dockerfile for the project.

Thanks for your contribution.

[2017-11-21 14:18] #1576 closed, assigned to nobody

[2017-11-21 14:19] simonemainardi commented on #1566
Closing for inactivity. Please reopen with the requested information if necessary.

[2017-11-21 14:19] #1566 closed, assigned to nobody

[2017-11-21 18:51] simonemainardi commented on #1546
any news?

[2017-11-22 09:01] LolikaPadmanbhan commented on #1573
hi, have been searching, am unable to find the correct answer. the one which you have refereed is on debian. but i am using Ubuntu 16.04. i tried that also anyways.
However i tried following  the instructions from  http://packages.ntop.org/ on a new system . when used sudo apt-get update endup with this error.
404  Not Found
Ign:10 http://packages.ntop.org/apt/16.10 x64/ Translation-en
Ign:11 http

[2017-11-22 11:20] emanuele-f commented on #1573
As you can deduct from the missing instructions at http://packages.ntop.org/apt/ , we *do not* support ubuntu 16.10 ! Please start from a clean 16.04 and follow the instructions meticulously

[2017-11-22 17:21] emanuele-f commented on #1553
Fixed

[2017-11-22 17:21] #1553 closed, assigned to emanuele-f

[2017-11-23 03:57] Howard-Chang opened #1577 "ntopng crash"
Hi, today I found my ntopng carshed which happened on forth day.
this is the log:
23/Nov/2017 11:52:15 [PeriodicActivities.cpp:50] Started periodic activities loop...
23/Nov/2017 11:52:15 [NetworkInterface.cpp:2149] Started packet polling on interface tcp://127.0.0.1:2055 [id: 1]...
23/Nov/2017 11:52:15 [CollectorInterface.cpp:115] Collecting flows on tcp://127.0.0.1:2055
23/Nov/2017 11:52:15 [Lua

[2017-11-23 04:42] Howard-Chang commented on #1577
After I remove all the document in rrd file, it can work .
but how to prevent it happen again ?

thank you in advance!

[2017-11-24 06:28] LolikaPadmanbhan commented on #1573
hey, ya the system which i used previously was 16.10. so i was not able to find the package.
@emanuele-f
hey, i have been trying this from past 1 week am still unable to understand the issue.
as you told i removed all the files of ntop manually by using the command : sudo rm -r with all the files relevant to ntop as well as ntopng. there is no file or dir related to ntop or ntopng.
then i started

[2017-11-24 09:20] emanuele-f commented on #1575
Discussion will continue via email.

[2017-11-25 10:23] malvivent7 opened #1578 "Error in ntopng runtime status"
Hi i have installed ntopng through the repo offered for ubuntu 16.04 lts all seem ok but in runtime status of the webinterface admin i see this moltitude of warnings

Script failure [/usr/share/ntopng/scripts/callbacks/minute.lua][/usr/share/ntopng/scripts/callbacks/minute.lua:74: opening '/storage/ntopng/1/subnetstats/192/168/10/0/24/bytes.rrd': Permission denied] (lot of it)
this is my version
3

[2017-11-25 10:57] lucaderi commented on #1572
Fixed in current branch

[2017-11-25 10:57] #1572 closed, assigned to simonemainardi

[2017-11-25 10:59] lucaderi commented on #1577
I think this was a corrupted RRD file. Unfortunately in this case the crash is due to RRD and the best you can do is to delete the file that is causing the issue. We'll soon release a new stable that introduces several new improvements that should also mitigate these issues

[2017-11-25 10:59] #1577 closed, assigned to nobody

[2017-11-25 11:00] lucaderi commented on #1569
Eneko,
we build it using .NET compiler making a project with all the needed files, that is a quite painful path. If you can manage to create a simpler option, please send us a pull request.

[2017-11-25 11:00] #1569 closed, assigned to lucaderi

[2017-11-26 17:36] simonemainardi commented on #1573
@LolikaPadmanbhan by looking at the error log enclosed

[code]

it seems that there's some installation file already present and so the installation fails. It looks like you didn't fully remove the old files.

I would try and do an `apt-get --purge remove ntopng && apt-get install ntopng`

[2017-11-27 05:56] Howard-Chang commented on #1577
ok I got! thank you very much.

[2017-11-27 07:38] LolikaPadmanbhan commented on #1573
yaa am doing same from past 1 week.

Thank you.

[2017-11-27 08:28] simonemainardi commented on #1573
can you send us a remote ssh access?

[2017-11-27 08:56] emanuele-f commented on #1578
Hi, what are the permissions of file `/storage/ntopng/1/subnetstats/192/168/10/0/24/bytes.rrd` ?

Can you remove the `--dont-change-user` parameter and add the `-U your_username`? After doing this, please run `chown -R your_username:your_group /storage/ntopng`

[2017-11-27 09:13] emanuele-f commented on #1546
Closing for inactivity. If you still experience the issues, please reopen and send us a backtrace trace.

[2017-11-27 09:13] #1546 closed, assigned to nobody

[2017-11-27 10:05] ShinIce opened #1579 "ntopng kills ipsec connection"
Hi,

atm I have problems on a debian stable server with ntopng in version 3.0.171102 which runs an ipsec tunnel with xl2tpd.
I'm not sure if the problem is ntopng, pfring or even xl2tpd but removing ntopng and pfring solves it on the easiest way.

On the first run ntopng.conf was plain as shipped, in this case ntopng made changes also to the ppp* devices, thinking this was my problem, I had set th

[2017-11-27 10:14] Paxy opened #1580 "segfault on disaggregation"
Version | 3.1.171125 - Professional Edition
Ubuntu 16.04.3 LTS

When I try to enable disaggregation Ingress interface or VRF, segfault crash appear on ntopng service.
If I disable disaggregation, service works fine.

nProbe is receiving flows from Mikrotik router.

Syslog:
[code]

[2017-11-27 10:14] emanuele-f commented on #1579
Hi, can you try to add the `--no-promisc` option to ntopng?

[2017-11-27 10:21] malvivent7 commented on #1578
Hi emanuele, thanks for your reply this is the permissions of the file that you ask for:
-rw-r--r-- 1 nobody nogroup 93736 nov 25 02:52 /storage/ntopng/1/subnetstats/192/168/10/0/24/bytes.rrd

[2017-11-27 11:17] emanuele-f commented on #1578
Are you running ntopng as root or as normal user?

[2017-11-27 11:21] emanuele-f commented on #1580
Can you run ntopng directly with gdb and get a stack trace please?
1) stop any running ntopng instance: `systemctl stop ntopng`
2) run ntopng: `gdb --args ntopng /etc/ntopng.conf`
3) When i crashes, execute `backtrace` to get a trace

[2017-11-27 11:23] malvivent7 commented on #1578
I start ntopng as root

[2017-11-27 11:25] ShinIce commented on #1579
@emanuele-f will test it, hopefully this night (need to have VPN users offline), and report it.

[2017-11-27 11:30] CDawson1 opened #1581 "Question: 3.2 release date?"
I've been informed that an impending 3.2 release is due at the end of November.  We're awaiting this release as we're looking to leverage Grafana but only on stable releases.  As it's now the 27th, and all _3.1_ notes suggest it's only 25% complete, is this still feasible or should we expect additional delays?

[2017-11-27 11:47] emanuele-f commented on #1579
Thank you, please let me know

[2017-11-27 11:56] emanuele-f commented on #1578
Please follow the instructions on my first reply

[2017-11-27 12:56] Paxy commented on #1580
I am missing somthing !
Proccess is not started, I can not access to web interface.
[code]

[2017-11-27 13:47] malvivent7 commented on #1578
THANKS emanuele!!! all works ok now ... strange parameter --dont-change-user.... i dont know where cames it from?? anyway thanks again

[2017-11-27 14:03] emanuele-f commented on #1580
After running `gdb --args ...` please enter the command `run`. It will start ntopng

[2017-11-27 14:04] emanuele-f commented on #1578
Glad you solved. Closing the issue

[2017-11-27 14:04] #1578 closed, assigned to nobody

[2017-11-27 15:12] Paxy commented on #1580
Oh, sorry. Here it is:
[code]

[2017-11-27 16:31] #1580 closed, assigned to nobody

[2017-11-27 16:32] emanuele-f commented on #1580
Thank you. I've committed a fix. A new package will be available in one hour.

[2017-11-27 20:33] ShinIce commented on #1579
so, test made @emanuele-f but there is no change.
After ntopng start the whole tunnel breaks down.

[2017-11-28 04:12] LolikaPadmanbhan commented on #1573
@simonemainardi
Hey thanks, shall we use teamviewer? ssh might not be possible so.

[2017-11-28 09:08] simonemainardi commented on #1573
ok, send access details to mainardi ntop org

[2017-11-28 10:35] LolikaPadmanbhan commented on #1573
is it mainardi@ntop.org?

[2017-11-29 12:48] Bu11etmagnet opened #1582 "ntop can not be built in another directory (out-of-tree)"
[code]

In the makefile, there's
[code]

`configure` should be `../configure`
`Makefile.in` should be `../Makefile.in`

[2017-11-29 12:58] emanuele-f commented on #1582
Hi, we do not support this mode right know. If you want to compile ntopng, please do a `./configure` from the ntopng root directory.

[2017-11-29 12:58] #1582 closed, assigned to nobody

[2017-11-29 16:23] resturiani commented on #1575
Hiemanuele. let's start discussing it from the beginning. my goal is monitoring client using ntopng which is assisted with mikrotik (traffic flow). This is my network server (ubuntu 16.04).

first I have installed ntopng on the server. from the tutorial, I also edited the ntopng.conf file. what's next step? this is all in order to avoid misunderstanding.

[2017-11-29 20:23] pawan-saxena commented on #1454
@rkriekaard Have you found the solution...i am facing similar issue.
I am using a private ip. :(

[2017-11-30 01:26] resturiani commented on #1575
Hi emanuele,
Let's start discussing it from the beginning. My goal is monitoring client using ntopng which is assisted with mikrotik (traffic flow).
This is my network server (ubuntu 16.04):
![picture 1](https://user-images.githubusercontent.com/22189485/33408188-b577de92-d5a7-11e7-9a09-15f083072189.png)

First I have installed ntopng on the server. from the tutorial, I also edited the ntopng.conf

[2017-11-30 09:10] emanuele-f commented on #1575
You have to configure nprobe to receive the Mikrotic flows and send them to ntopng.

[code]

Then tell your mikrotic to export flows to 192.168.10.253 port 5556. Try it and if you have troubles please send be your ntopng/nprobe configuration / logs

[2017-11-30 09:14] lucaderi commented on #1454
Hi all, the solution is to edit the geoIP files ad described in https://github.com/threatstream/mhn/wiki/Customizing-Maxmind-IP-Geo-DB-for-Internal-Networks

[2017-11-30 09:14] #1454 closed, assigned to nobody

[2017-11-30 10:27] resturiani commented on #1575
Thank you,

I've configured the nprobe.conf file.
and I have also run as you say.
for nprobe -i none -n none --collector-port 2055 --zmq "tcp://127.0.0.1:5556", the result as below:
![screenshot from 2017-11-30 16-52-18](https://user-images.githubusercontent.com/22189485/33425979-f12f7ab2-d5f2-11e7-9d8b-f19b474d0736.png)

and for ntopng -i "tcp://127.0.0.1:5556", the result is as below:
![screensh

[2017-11-30 14:43] robynhub opened #1583 "Ntopng segfault"
Hello,
current stable segfault:

`# cat /etc/apt/sources.list.d/ntop.list`
[code]

`# ntopng -V`
[code]

`# cat /etc/ntopng/ntopng.conf`
[code]

`# gdb --args ntopng /etc/ntopng/ntopng.conf`
[code]

[2017-11-30 15:13] robynhub commented on #1583
Seems to be an issue of my system. Cleared application data and it worked again.

Ty anyway

[2017-11-30 15:13] #1583 closed, assigned to nobody

[2017-12-01 04:15] Howard-Chang opened #1584 "How to put the flow data into different nodes through logstash"
I am using logstash to ingest data and push it to elasticsearch, however could I distribute the flow data into different host(the same cluster) at the same time ?
this is the command I use:
C:\Program Files\ntopng>ntopng /c -i "tcp://127.0.0.1:2055"  --local-networks "120.127.0.0/16" -F "logstash;localhost;tcp;5510"

thank you in advance!

[2017-12-01 06:37] Howard-Chang commented on #1584
like this Schematic:
distribute flow data into different hosts, to reduce the risk that if one host crash all system crash.
![image](https://user-images.githubusercontent.com/19474557/33470765-065ccd74-d6a5-11e7-9c30-fbf196ae1cf8.png)

[2017-12-01 09:32] emanuele-f commented on #1575
The nprobe error above appears because you have other nprobe instances running on the system. You can find nprobe config files under /etc/nprobe. Please stop them when performing command line tests: `systemctl stop nprobe@none` or `killall nprobe`. Otherwise you can change the "5556" port in ntopng and nprobe to something else

[2017-12-01 09:35] emanuele-f commented on #1579
Can you see any hint in `dmesg` when this happens? With `--no-promisc` do you still see the interface going promiscuos?

[2017-12-01 09:35] #1579 closed, assigned to nobody

[2017-12-01 11:57] resturiani commented on #1575
I have followed your instructions. and now nprobe has started.
![screenshot_5](https://user-images.githubusercontent.com/22189485/33481942-4d5583aa-d6c9-11e7-9ec4-2d448f3a0808.png)

And I have also changed port 5556 to 5557, but ntopng still not detect what is access by the client. and interface 127.0.0.1:5556 there is no incoming traffic flow. looks like this:
![screenshot_6](https://user-images.

[2017-12-01 14:10] simonemainardi commented on #1575
From the pics enclosed I can see the ntopng is connected to nprobe. Indeed, Interface RX Updates are increasing.

The real issue here is that you configured your mikrotik to export on port 5556
![image](https://user-images.githubusercontent.com/3397663/33486272-af28a320-d6a9-11e7-99d9-438fd039889f.png)

while you told nProbe to collect flows on port 2055
![image](https://user-images.githubusercont

[2017-12-01 14:10] #1575 closed, assigned to nobody

[2017-12-01 14:13] simonemainardi commented on #1067
features are implemented now

[2017-12-01 14:13] #1067 closed, assigned to simonemainardi, emanuele-f

[2017-12-01 14:20] simonemainardi commented on #716
Several optimizations have been made to reduce the pressure on the IO. Recent commits demonstrate this.

Moreover, from a UI perspective, the user has now the ability to control which RRD are generated for each interface, local host, and device:

![image](https://user-images.githubusercontent.com/3397663/33486625-15de5e10-d6ab-11e7-9584-883c645d7185.png)

So we believe we can close this issue now

[2017-12-01 14:20] #716 closed, assigned to nobody

[2017-12-01 14:23] simonemainardi commented on #580
@emanuele-f your contribution should have addressed this feature so please check and close it if it is completed.

[2017-12-01 14:31] simonemainardi commented on #1581
3.2 stable will be released during next week.

[2017-12-01 14:31] #1581 closed, assigned to nobody

[2017-12-01 14:35] simonemainardi commented on #1584
If you are looking for a way to distribute flows across multiple downstream collectors, have a look at nProbe. You can send flows to multiple downstream collectors (e.g., NetFlow or Kafka collectors) in a round-robin fashion or by sending the same flow to each collector.

[2017-12-01 14:35] #1584 closed, assigned to simonemainardi

[2017-12-01 14:37] simonemainardi commented on #1573
Yes.

PS: It's not me that I'm lazy and don't want to types @ and dots, it's just not recommended to write cleartext emails in posts due to spammers heavy crawling web pages.

[2017-12-01 14:37] #1573 closed, assigned to simonemainardi, emanuele-f

[2017-12-01 14:38] simonemainardi commented on #1564
fixed with https://github.com/ntop/ntopng/commit/6c7e71d684aa0276c3a950dc66347f9639a4d608 and https://github.com/ntop/ntopng/commit/a98b8d847e1060bcb078f52bb4958c73982be0c4

[2017-12-01 14:38] #1564 closed, assigned to simonemainardi

[2017-12-01 15:44] resturiani commented on #1575
Thankyou sir,
Ya, it works. But not everything my client accessed was detected. eg youtube, wikipedia, skype, my ntopng didn't detect it. He just detects google, facebook, twitter and amazon.
What is the problem?
Please give me solution

[2017-12-01 15:50] emanuele-f commented on #1575
In this setup, ntopng cannot parse per-packet information (e.g. SSL certificate), which is needed for full protocol detection. If you need full protocol detection you would need to place ntopng inline with the traffic, please see https://github.com/ntop/ntopng/blob/dev/doc/README.inline for more information

[2017-12-01 15:53] emanuele-f commented on #580
Correct, the flow activity code has been removed and API reorganized. See https://github.com/ntop/ntopng/blob/dev/doc/README.user_scripts for details.

[2017-12-01 15:53] #580 closed, assigned to lucaderi

[2017-12-01 18:19] simonemainardi commented on #1565
issue is handled safely as one can run ntopng specifying an arbitrary user with option -U and get the pid file generated with the right user.

Moreover, handling ntopng with systemd no longer uses pid files so no security issue occurs

[2017-12-01 18:19] #1565 closed, assigned to simonemainardi

[2017-12-02 09:26] resturiani commented on #1575
from what I've read, https://github.com/ntop/ntopng/blob/dev/doc/README.inline does not match the topology.
in the present case, ntopng directly i connect with mikrotik without switch. is there any way to still be able to display all the protocols of the client if it remains directly connected with mikrotik.

[2017-12-02 17:44] simonemainardi commented on #1575
https://github.com/ntop/ntopng/blob/dev/doc/README.inline has nothing to do with this issue.

Deep packet inspection technology is only available when monitoring raw packets. It is technically not possible to do it on Miktotik NetFlow because it does not contain raw monitored traffic packets.

So if you want to perform deep packet inspections, use a mirror port of the switch and deliver the mirror

[2017-12-02 17:53] simonemainardi commented on #1468
This is a limitation of view interfaces that don't expect to have the same autonomous system on more than one of the interfaces aggregated through the same view.

[2017-12-02 17:53] #1468 closed, assigned to simonemainardi

[2017-12-03 22:32] lucaderi commented on #1364
Implemented

[2017-12-03 22:32] #1364 closed, assigned to lucaderi

[2017-12-04 05:30] LolikaPadmanbhan commented on #1573
Hey, @emanuele-f @simonemainardi
Thanks for the support as of now i am able to use ntopng in one machine and i used  sudo install for nprobe i could install, however i need a licence to use it. so thats fine. well, i appreciate your support.
thanks a lot.

[2017-12-04 08:50] ubun3t opened #1585 "Error identifying "Application""
Hi all, Is possible change how to NTOP identify a "Application" ? For example, I have all UDP 9995 (Netflow)  how bittorrent.

Thanks in advance.

[2017-12-04 08:56] emanuele-f commented on #1585
Hi, you can do this with the `--ndpi-protocols` option. Please see https://www.ntop.org/ndpi/configuring-ndpi-for-custom-protocol-detection/

[2017-12-04 08:56] #1585 closed, assigned to nobody

[2017-12-04 09:03] ubun3t commented on #1585
Ok, thanks!

[2017-12-04 09:05] lisaeka opened #1586 "Ntopng with Netflow Cisco"
Hi everybody.
I want to know how to connect ntopng with netflow cisco router.

[2017-12-04 09:10] emanuele-f commented on #1585
You are welcome

[2017-12-04 09:13] emanuele-f commented on #1586
Hi, you have to install both nprobe and ntopng. nprobe will receive the netfllow traffic and send it to ntopng. You can run both on the local machine this way:

sudo ntopng -i "tcp://127.0.0.1:5556"
sudo nprobe -i none -n none --collector-port 2055 --zmq "tcp://127.0.0.1:5556"

Then instruct your cisco router to export flows to the machine ip, port 2055

For more information, please see our user g

[2017-12-04 09:18] lisaeka commented on #1586
If I also use cisco switch to connect it, what switch also should be in configuration?

[2017-12-04 09:22] emanuele-f commented on #1586
You can connect the ntopng-running machine to the switch and export the switch flows to it. Is this your question?

[2017-12-04 10:09] Pixelshifter opened #1587 "[Grafana] allprotocols_bps over ZMQ won't show data points"
Since ntopng 3.2 update which I did today, Grafana won't show the application / protocol breakdown per interface, which was working fine before the update. The throughput metrics works tho, only the L7 stuff not.

I haven't changed any settings within the ntopng webpreferences, it's still creating timeseries for L7 applications, which I can see is working in the ntopng webUI.

More people having t

[2017-12-04 13:32] simonemainardi commented on #1587
I've just tried to re-test ntopng 3.2 on Centos 7 with grafana and everything works as expected:

[code]

![image](https://user-images.githubusercontent.com/3397663/33555507-eb972314-d900-11e7-8001-ac5919ec01ac.png)

maybe you should try and re-add timeseries in the graph tab Metrics?

[2017-12-04 13:59] Pixelshifter commented on #1587
I did exactly that, even removed the data-source, re-added it, uninstalled the Grafana plug-in, resetted the datasource creds to the ntopng admin, nothing works. I've readded the query many times, and each time i see 'No data points', like the query won't return results (is the query incorrect??) My storage is still filling up with flow data tho, AND the other dashboard keeps working without havin

[2017-12-04 14:06] simonemainardi commented on #1587
check:
- grafana interval selected on the top-right corner and make sure there exist datapoints for that interval
- visit the ntopng web UI, interface charts page, and select the same interval to make sure there are data points there
- make sure rrd creation is not disabled for that interface (there's a cog page in if_stats.lua)
- make sure Timeseries are on for interfaces in the preference page

[2017-12-04 14:39] simonemainardi commented on #1439
robtex offers a much wider information with reference to peeringDB. For example, Robtex includes:
- AS membership in AS sets
- registered routes

Whereas peering db just gives you AS points of presence on IXPs and its peers.

[2017-12-04 14:39] #1439 closed, assigned to nobody

[2017-12-04 15:02] Pixelshifter commented on #1587
![timeseries settings](https://user-images.githubusercontent.com/12703535/33557473-a44af218-d907-11e7-8a30-34075aa2b529.png)

These are my settings as they were before AND after the update. I've checked all your points, in Grafana i refresh every 5 sec. Still 'no data points', but I see ntopng is the culprit because it isn't generating any time-series data after the update (even after dis- and ena

[2017-12-04 15:55] Pixelshifter commented on #1587
Strange... it seems to be working... sometimes (still not from Grafana), but in my ntopng UI, under 'Traffic dashboard', I can sometimes see the day-to-day chart adding in the application breakdown data. But when i refresh the page, that particular fresh data in that chart is gone, and i only see the data BEFORE the update from this morning (see screen below). However, the real-time chart is givin

[2017-12-05 07:38] qm2k commented on #1489
Still see same problem:
[code]

[2017-12-05 08:16] simonemainardi commented on #1587
ntopng is correctly monitoring the layer-7 but is not saving the corresponding RRDs. So the charts are shown neither in ntopng nor in grafana.

Does this behavior occur with all the interfaces?

Can you try and toggle the interface L7 timeseries to None, save, toggle it back to Protocol and save again?

[2017-12-05 09:09] CDawson1 opened #1588 "Verbose logging filling log files 3.2 stable"
I believe this was a known issue in 3.0.x and I'd seen it resolved in some 3.1 dev versions.  However, the 3.2 stable release seems to have shifted the issue from the /var/log/ntopng/ntopng.log file to the /var/log/syslog file.

No, verbose logging is not enabled.

Over the last 2h40m, my logfile is 10GB.

Any idea why this issue has moved/cropped back up?

[2017-12-05 10:00] Pixelshifter commented on #1587
I've did the toggle to none and protocol. Now a day (24h) has passed since the update, the bottom left window now says that there is no data available at all. Strange... And yes, it happens on ALL interfaces.

When I check 'About ntopng' i see RRDtool version 1.4.8. Maybe the L7 proto RRD's are stored in a folder / dir which the process has no write access to or something? Logging is kinda vague s

[2017-12-05 10:09] capricorn80 opened #1589 "Question regarding sending traffic to ntopng from proxy servers"
Hi!

I have ntopng in same subnet as my other three proxy servers are. I want to see application layer traffic i.e the user computer is requesting webpages from the proxy.
I can see on ntopng the proxy server machines but its not showing me flows, talkers and activity.

How can I do this to see the traffic from the proxies to my ntopng?

Thanks

[2017-12-05 10:48] Pixelshifter commented on #1589
Perhaps a mirror port on the switch the proxies are attached to, and net ntopng listen on that mirror port. there are different deployment options, which in a simplified way can be viewed here:

https://www.ntop.org/products/netflow/nprobe/

https://www.ntop.org/products/traffic-analysis/ntop/

I hope this kinda helps you further!

[2017-12-05 11:23] Pixelshifter commented on #1587
Update: It doesn't work at all in ntopng. Turned off timeseries, saved, turned it on. Did the same for the whole ntopng service. Could it be that a nprobe plugin or something isn't enabled by default? Cause that was updated too. Still got the pro license tho and i didn't remove anything about ndpi or l7 plug-ins.

I went through the changelog on github, didn't noticed any change about privileges (

[2017-12-05 11:41] simonemainardi commented on #1587
any chance to have a remote access to quickly check?

[2017-12-05 12:28] capricorn80 commented on #1589
Thanks.

I was thinking to have some client on the proxy to send data to ntopng. Like I was reading that you can configure Netflow on Cisco devices to send data to ntopng and they you can see the flow.

[2017-12-05 13:39] Pixelshifter commented on #1589
Netflow works only on L3 devices from Cisco yes. A l2 switch could probably do sFlow (which ntop also decodes). You could also put a computer with 2 NIC's between your modem and router, slap ntopng on top of it and let it do inline (active) network monitoring. If you are trunking you could maybe put it between the vlan trunk so to instantly decode all traffic.

[2017-12-05 13:42] Pixelshifter commented on #1587
Sorry, that won't work unfortunately seeing the particular environment this machine is in. One thing I forgot tho; what did you mean with the cog on if_stats.lua? How can i see if RRDtool is active?

[2017-12-05 13:55] simonemainardi commented on #1587
yes

make sure interface timeseries generation is ticked

[2017-12-05 13:58] simonemainardi commented on #1588
what is your log file filled with? As verbose logging is off by default, I guess there's some error/warning that is showing up

[2017-12-05 14:13] CDawson1 commented on #1588
Same issue as previously noted; netflow entries...

`ec  5 14:00:17 GB-THN-LIN-NTOP2 ntopng[1605]: 05/Dec/2017 14:00:17 [Utils.cpp:998] Posted JSON to http://localhost:9200/_bulk

Dec  5 14:00:17 GB-THN-LIN-NTOP2 ntopng[1605]: 05/Dec/2017 14:00:17 [NetworkInterface.cpp:713] [ES] { "@timestamp": "2017-12-05T13:59:03.0Z", "type": "flows", "IN_SRC_MAC": "00:00:00:00:00:00", "OUT_DST_MAC": "00:00:00:0

[2017-12-05 14:53] capricorn80 commented on #1589
My ntopng is running as VM so port mirroring is not the option.

[2017-12-05 18:13] simonemainardi commented on #1588
as you can see from the following piece of code, the output you have should only occur in ultra-verbose mode as it is only printed with `TRACE_INFO`

[code]

So you should turn off any verbose level set in the ntopng configuration file.

[2017-12-05 18:29] tobiasdam commented on #1424
I think I am experiencing the issue described above.

I am using `Raspbian Stretch` on a Raspberry Pi 3 and installed the `ntopng v.3.2.171203` stable version using the apt-stable repository.

The system is acting as a Wi-Fi access point, therefore ntopng is listening on `eth0` and additionally on `wlan0`. In case no device is connected to the Wi-Fi, stopping the ntopng service hangs after receivi

[2017-12-05 19:10] CDawson1 commented on #1588
That’s just it, as I’ve mentioned in my first post verbose logging is not on. This behavior change is a result of upgrading from our previous 3.0 stable release to the 3.2 stable release. No other configuration changes have been made.  As it was noted,  there was a “bug“ in 3.0.x for verbose logging that was fixed in 3.1. I would suggest that this problem has resurfaced and somehow moved to a diff

[2017-12-06 02:14] jsoref opened #1591 "Page "/lua/Â " was not found"
ntopng                               3.3.171205-3846
From http://packages.ntop.org/apt/stretch x64/ Packages

On the /lua/if_stats.lua?page=pools page (Manage Pools), clicking "View" yields:
Page "/lua/Â " was not found

         datatableForEachRow("#table-create", function() {
...
            var pool_link = $("td:nth-child(7)", $(this)).html();
-> pool_link = "&nbsp;"
...
              datatabl

[2017-12-06 09:03] emanuele-f commented on #1591
Fixed with commit 4cd147da6767c758c75d20e647b6ca74e73788c2 . Thank you for reporting!

[2017-12-06 09:03] #1591 closed, assigned to nobody

[2017-12-06 09:25] Pixelshifter commented on #1589
Couldn't you assign the VM NIC to a VLAN on your physical network, and mirror your ports where the proxies are attached to, to that VLAN?

[2017-12-06 09:26] emanuele-f commented on #1588
Can you go into the "Logging" preferences and change the log level to "error", click save, and then back to normal and save? What is the content of gyour ntopng configuration file?

[2017-12-06 09:26] Pixelshifter commented on #1587
Dear Simone,

Thanks for staying in touch. I went to if_stats.lua for each interface, clicked the cog wheel, disabled the timeseries box, saved it, waited a minute or two, re-enabled them but no difference :(

Where does ntopgng store the RRD data? I could check for myself if it perhaps is something happening within centos (like permissions). Thanks!!

Edit: nPRobe's plugin is out of the equation,

[2017-12-06 09:41] emanuele-f commented on #1424
Can you attach a gdb debugger to ntopng while it is blocked `gdb --pid ntopng_pid` and print a `thread apply all bt`?

[2017-12-06 09:47] CDawson1 commented on #1588
Logging was set to info, and that seems to have done the trick.  Interesting that the behaviour changed in that it moved from the ntopng.log to syslog files.  Don't think I'd seen any reference to that in the documentation.  I also wouldn't have expected actual netflow to be part of that logging process.

It's currently set to normal and that's looking OK.

At any rate, simply changing the log lev

[2017-12-06 09:59] emanuele-f commented on #1588
Yes, info logging is very verbose, so it should be disabled in production.

[2017-12-06 09:59] #1588 closed, assigned to nobody

[2017-12-06 10:03] simonemainardi commented on #1587
If it was a permission issue then you would have seen errors in the output.

RRD data is stored in the data directory which defaults to /var/tmp/ntopng/<interface id>/rrd

there's a periodic script for each interface that runs every 5 minutes and creates/updates the rrds

[2017-12-06 10:04] simonemainardi commented on #1587
If it was a permission issue then you would have seen errors in the output.

RRD data is stored in the data directory which defaults to /var/tmp/ntopng/<interface id>/rrd

there's a periodic script for each interface that runs every 5 minutes and creates/updates the rrds

[2017-12-06 10:07] tobiasdam commented on #1424
Of course:

[code]

[2017-12-06 17:46] capricorn80 commented on #1589
It will be a hard setup so I guess there is no simple way as I was thinking to have some setting on the proxy servers to see the traffic flows on it from remote ntopng.

[2017-12-07 02:38] qianguozheng opened #1592 "ndpiReader crash due to free?"
I use ndpiReader in openwrt router system, to monitor the traffic and it crash as below
 commit id is -- f7e95b4ee82f04704f923fd4f6608423291761d9
[code]

[2017-12-07 08:46] emanuele-f commented on #1592
Please open a bug here: https://github.com/ntop/nDPI/issues . If possible, please update to the latest stable/dev version before reporting the error.

[2017-12-07 08:46] #1592 closed, assigned to nobody

[2017-12-07 09:03] Pixelshifter commented on #1587
Just did a yum update to upgrade nprobe and ntopng. I was using a Enterprise trial license with --online-check, which reverted after the update. current versions are:

Welcome to nProbe v.8.2.171206 (r5975)
GIT rev:       8.2-stable:1d91fef5df763b15cdf21dd2bb8a4668333e0d1a:20171206
Edition:       nProbe Pro

ntopng
v.3.2.171206    [Enterprise/Professional build]
GIT rev:        3.2-stable:8c030243

[2017-12-07 11:06] Pixelshifter commented on #1587
Ok, so i've removed the --licence-check in my ntopng.conf so it's looking at the ntopng.license file in /etc/ so i'm back on the enterprise version. ANDDDD, Grafana stopped seeing data points and ntopng GUI (traffic dashboard) shows that the graph "Top Application Traffic Last Day View" isn't working (again).

Here's some interesting stuff from my journalctl -u ntopng -f command:

Dec 07 12:03:06

[2017-12-07 15:25] cfrancis2b opened #1593 "Script "/usr/share/ntopng/scripts/lua/if_stats.lua" returned an error: /usr/share/ntopng/scripts/lua/modules/host_pools_utils.lua:20: attempt to call global 'haveNedge2' (a nil value)"
Este error se esta presentando con las ultimas versiones de ntopng al querer consultar o editar los hosts pools.
This error is presented with the latest versions of ntopng when you want to consult or edit the hosts pools.

 Script "/usr/share/ntopng/scripts/lua/if_stats.lua" returned an error:

/usr/share/ntopng/scripts/lua/modules/host_pools_utils.lua:20: attempt to call global 'haveNedge2' (a ni

[2017-12-07 16:29] vg0426 opened #1594 "Local networks disappeared"
Hi guys I’ve set up ntopng version 3.3 and define several local networks on the config file, when I start the service I can see the networks on the web interface but after a few seconds they start going away and only the remote networks remain and all the local networks defined gone. I’ve check the log file and there is no error showing

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub

[2017-12-07 19:17] emanuele-f commented on #1593
Hi, this is now fixed, thank you for reporting. Please update to the new version, which will be available in one hour.

[2017-12-07 19:17] #1593 closed, assigned to nobody

[2017-12-07 19:19] emanuele-f commented on #1594
Hi, local networks expire if there is there is no traffic for some time. What's your configuration file? Do you see still traffic when all the networks disappear?

[2017-12-07 19:22] emanuele-f commented on #1587
Hi, please disable verbose logging or you will miss possible errors. What's your ntopng configuration file?

[2017-12-08 04:06] gmichels opened #1595 "Unable to install nprobe on RPI stretch - update-rc.d: error: unable to read /etc/init.d/nprobe"
Hello

Trying to install the latest available nprobe version on a RPI running stretch:

[code]

This is on a container image with the following Dockerfile:

[code]

Any clues?

Thank you

[2017-12-08 13:10] vg0426 commented on #1594
hi emanuele below is some info about the instance am running, for certain reasons some data was mask with #####, another thing to notice: like i said before when i go to url #.#.#.#:#/lua/network_stats.lua all defined local networks show only for a few seconds after the service starts and then disappear from this url but if i go to url #.#.#.#:#/lua/hosts_stats.lua?network=3 or url #.#.#.#:#/lua/n

[2017-12-08 20:52] cfrancis2b opened #1596 "Script "/usr/share/ntopng/scripts/lua/if_stats.lua" returned an error: (Host Pools)"
Este error se ha presentado en las ultimas versiones de ntopng; No se puede clasificar pools, como no se puede generar gráficos de la interface principal.

_Script "/usr/share/ntopng/scripts/lua/if_stats.lua" returned an error:
/usr/share/ntopng/scripts/lua/if_stats.lua:19: attempt to call global 'haveNedge2' (a nil value)_

This error has been presented in the latest versions of ntopng;  Can't do

[2017-12-08 20:53] cfrancis2b commented on #1596
ntopng.x86_64                              3.3.171208-3708        @ntop
ntopng-data.noarch                      3.3.171208-3708        @ntop-noarch
pfring.x86_64                               7.1.0-1596             @ntop
pfring-dkms.noarch                      7.1.0-1596             @ntop-noarch

Linux XXXXXX 3.10.0-693.11.1.el7.x86_64 #1 SMP Mon Dec 4 23:52:40 UTC 2017 x86_64 x86_64 x86_64 GNU/Li

[2017-12-09 01:11] tomukasteris commented on #1596
Tried many times but get the same problem.

[2017-12-09 09:01] lisaeka commented on #1586
Hi dear,
I have connected ntopng with cisco netflow. but in the flows page, sometimes he appears and detects my client as below:
![screenshot_7](https://user-images.githubusercontent.com/34223805/33794214-1e6d2066-dcfa-11e7-9f5b-c14224e496aa.png)

and when I refresh, the page looks like the picture below:
![screenshot_8](https://user-images.githubusercontent.com/34223805/33794217-242f712a-dcfa-11e

[2017-12-10 10:33] simonemainardi commented on #1586
you are running an outdated version. Please, make sure to install nProbe 8.2 and ntopng 3.2 and then report

[2017-12-10 10:43] #1596 closed, assigned to nobody

[2017-12-10 10:43] simonemainardi commented on #1596
thanks for reporting, issue is fixed now

[2017-12-10 19:00] tomukasteris opened #1597 "[Lua.cpp:125] NULL interface: did you restart ntopng in the meantime?"
Hello,

Why I get this message and how to fix it?

[Lua.cpp:125] NULL interface: did you restart ntopng in the meantime?

My config:

ntopng --daemon "" --interface "eth1" --https-port "3005" --local-networks "192.168.0.0/16" --dns-mode "1" --data-dir "/var/tmp/ntopng" --sticky-hosts "all" --disable-autologout ""

[2017-12-10 23:01] jcfarsight opened #1598 "Daemon fails to start again with 11/SEGV shortly after being stopped"
I'm currently running ntopng 3.3.171203 on my Raspberry Pi 3 Model B and want it to act as a traffic monitor. I've had success with this however I can't restart (or sometimes even start) the daemon without it going into a death loop of seg faults.

It seems to be that if the service is stopped for a long period of time then it will successfully come back up when started, however once it is stopped

[2017-12-11 08:43] emanuele-f commented on #1597
Hi, what ntopng version are you using?

[2017-12-11 11:17] emanuele-f commented on #1594
Hi, can you give me more information about your local networks? If possible, please send me an an email at `faranda@ntop.org`. Otherwise, please specify:
1) Does any of your local networks include another? E.g. `192.168.0.0/16` includes `192.168.1.0/24`
2) Are your local networks normalized? E.g. `192.168.10.3/24` is not normalized, whereas `192.168.10.0/24` is
3) If you change the sort column on

[2017-12-11 15:08] emanuele-f commented on #1594
@vg0426 how many local/remote hosts do you have roughly? I see a limitation of 32768 on the code which handles grouping, which can be the cause of the problem

[2017-12-11 16:28] emanuele-f opened #1599 "Host groups are partial (when the number of hosts is high)"
Hosts groups (e.g. Networks, ASn, Countries) are generated by creating dynamic support arrays to perform the aggregations and sort. For example, NetworkInterface::sortHosts support array has a limit of CONST_MAX_NUM_HITS (32768) entries. When the actual number of hosts is greater that 32768, the aggragated view will only reflect a portion of the actual hosts.

The solution to this is not to increa

[2017-12-11 17:36] tomukasteris commented on #1597
Hello,

Version:
ntopng Community/Embedded Edition v.3.3.171210

<img width="1500" alt="ntopng_log" src="https://user-images.githubusercontent.com/11430578/33844955-cd7fab5a-de99-11e7-85a0-12f27d18505a.png">

[2017-12-11 18:14] emanuele-f commented on #1597
Hi, these messages are normal, please change logging level to normal from the ntopng preferences

[2017-12-11 18:14] #1597 closed, assigned to nobody

[2017-12-13 01:10] r1bnc commented on #1595
works now on Raspbian stretch ( 4.9.59-v7+ #1047 SMP Sun Oct 29 12:19:23 GMT 2017) (full install log below):
[code]

[2017-12-13 01:25] r1bnc opened #1600 "unable to open 'Manage Users'"
I am using Firefox 57 with ublock origin and noscript (whitelisted ofcourse) and yet  I cannot view/edit passwords at '**Manage Users**' Tried this with mobile devices too. Please do not suggest to use other browsers. The ntopng is freshly installed.
![userpw](https://user-images.githubusercontent.com/8337343/33917147-8415174e-dfe7-11e7-812a-118875ea4146.png)

[2017-12-13 01:53] gmichels commented on #1595
The problem is the base image I am using from resin doesn't have `systemd` enabled by default, and it seems the `nprobe` deb depends on a functional `systemd`. For dockerized images, it's kind of moot to have `systemd`.

It's possible to enable `systemd` on resin images using `ENV INITSYSTEM on` however that is activated at runtime only, which means there is no way to have `nprobe` installed in th

[2017-12-13 02:29] lisaeka commented on #1586
Hi,
I have updated ntopng and its nprobe. And the results are still the same as before.

[2017-12-13 06:12] sachithmuhandiram opened #1601 "Prefs.h:257:10: error: ‘pcap_direction_t’ does not name a type"
I tried to install ntopng using the given [https://www.ntop.org/ntop/mini-tutorial-fresh-install-of-ntopng-on-centos-7/](instructions)

When I try to execute `make` I get following error.

My environment is Redhat-7 , 3.10.0-693.5.2.el7.x86_64

[2017-12-13 09:20] emanuele-f commented on #1600
Hi, please update to the latest version before submitting issues. Your page seems broken (see the icons) because of some plugin, so please disable all of them and retry.

[2017-12-13 09:25] emanuele-f commented on #1586
Please post some new screenshot of ntopng and the configuration you are using

[2017-12-13 09:29] emanuele-f commented on #1601
Hi, do you have libpcap-devel installed? Please note that the info reported in that page may be outdated, please refer to https://github.com/ntop/ntopng/blob/dev/doc/README.compilation instead

[2017-12-13 12:07] lisaeka commented on #1586
Hi,
this is my configuration on ntop
![ntopng-conf](https://user-images.githubusercontent.com/34223805/33938117-c3aff544-e038-11e7-84fc-3a6b436867a8.png)
![nprobe-none-conf](https://user-images.githubusercontent.com/34223805/33938118-c70e3782-e038-11e7-8eb5-feae3f09414f.png)

and this is my configuration on cisco router
![cisco-router](https://user-images.githubusercontent.com/34223805/33938122-cd

[2017-12-13 14:05] emanuele-f commented on #1496
Don't know if the problem is the same, but I've had a similar issue when upgrading ntopng in ubuntu 16 from pre-sytemd version to systemd version. I've solved it by removing `/etc/init.d/ntopng`.

[2017-12-13 14:17] emanuele-f commented on #1586
Please remove `--pid-path` and `--daemon` from the ntopng configuration. Can you post the output of `ntopng --version` and `nprobe --version`? Do you have an nprobe licence?

[2017-12-13 14:35] lisaeka commented on #1586
I have removed the --pid-path and --daemon . but the result remains the same as above.
this is my ntopng and nprobe version:
![ntopng](https://user-images.githubusercontent.com/34223805/33944038-7dd064b8-e04d-11e7-86de-5f5daa6aad03.png)
![nprobe](https://user-images.githubusercontent.com/34223805/33944050-84e413bc-e04d-11e7-9fcd-98367b2ee2ad.png)

[2017-12-13 15:44] resturiani opened #1602 "Ntopng Integration With Nagios"
Hallo everyone.
I want to do ntopng integration with nagios. Where Nagios I use to provide notification. and I follow the steps from here https://support.nagios.com/kb/article.php?id=96#Ubuntu.
but in this section:
![image](https://user-images.githubusercontent.com/22189485/33947391-db250f20-e056-11e7-8e37-9be25d8fe814.png)
when the extract appears error.

And when I run this command,
![image](htt

[2017-12-13 22:34] RiaanLab commented on #1496
Same issue here.

[2017-12-13 23:16] sidsamant opened #1603 "Lua Api Documentation help"
Hi,

   In ntopng\scripts\lua\API.lua, line 107, it says to read from "ntop_get_interface_flows_info documentation" for more information.

  I am not able to figure out where the detailed documentation is. Could you please help me in the right direction?

  Apologies for my lack of knowledge.

Thanks in advance,
Sid

[2017-12-14 09:07] emanuele-f commented on #1586
Do you have valid nprobe licence? If you use the trial, the number of flows you can export is limited

[2017-12-14 09:10] emanuele-f commented on #1496
@RiaanLab do you see the message `Service pf_ring has to be enabled to start service ntopng`? If you remove `/etc/init.d/ntopng`, does it fixes it?

[2017-12-14 09:21] emanuele-f commented on #1603
Hi, sorry but we currently lack a well documented lua api. I suggest you to look at the following sources:

General information about Lua scripting in ntopng
- https://github.com/simonemainardi/ntopng-docker/blob/master/Linux%20Day%2028%20Ottobre%202017.pdf

Hosts/Flows related api methods
- https://github.com/ntop/ntopng/blob/dev/src/Lua.cpp#L6587

Internal api methods
- https://github.com/ntop/n

[2017-12-14 09:52] resturiani commented on #1586
yes, i use that trial. Can I get the license?

[2017-12-14 09:53] lisaeka commented on #1586
yes, i use that trial. Can I get the license?

[2017-12-14 10:09] simonemainardi commented on #1602
that is a nagios issue, not an nopng one. Please refer to the nagios folks.

[2017-12-14 10:09] #1602 closed, assigned to nobody

[2017-12-14 11:16] ubun3t opened #1604 "Time range in NTOPNG"
Hi,
I have NTOPNG running in South America but I am in EU. When I connect to the web interface the time in the dashboard and in traffic report is wrong. I would like to see the time the remote country. How can I do it?¿
The photo is taken at 12pm in Spain.
Thanks in advance,

![captura de pantalla de 2017-12-14 12-05-24](https://user-images.githubusercontent.com/16337441/33989334-6f2de56e-e0c7-11e

[2017-12-14 12:16] emanuele-f commented on #1586
Yes, please see https://shop.ntop.org/

[2017-12-14 12:16] #1586 closed, assigned to nobody

[2017-12-14 12:24] resturiani commented on #1602
Allright.
Now, I'm following your tutorial video. when i follow the command below,
![image](https://user-images.githubusercontent.com/22189485/33992197-3e9b84e6-e104-11e7-8308-b4ab12089e88.png)

on my linux there is no such file. what is wrong and how to solve it?

[2017-12-14 12:53] vg0426 commented on #1594
Hi emanuele-f I have around 30000 hosts grouped in different local networks and none of the networks is overlapping with any of the other ones. Anyhow I tried one of your recommendations of sorting the local networks list and since then none has disappeared so thanks for the tip

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-12-14 13:18] sidsamant commented on #1603
Thanks for the links. They look sufficient for now.

[2017-12-14 13:18] #1603 closed, assigned to nobody

[2017-12-14 13:29] resturiani commented on #1602
Allright.
now, i follow your tutorial video about ntopng integration with nagios.
when i follow this command:
![image](https://user-images.githubusercontent.com/22189485/33994501-49c86150-e10d-11e7-9296-6786909be24c.png)

in my linux did not find the file. the results are as below:
![image](https://user-images.githubusercontent.com/22189485/33994529-65f04b86-e10d-11e7-88ed-c36b237d8a84.png)
what i

[2017-12-14 13:30] simonemainardi commented on #1602
you have to create the file and intsall nsca. Please refer to this post that explains everything:

https://www.ntop.org/guides/ntopng-integration-with-nagios/

[2017-12-14 18:56] emanuele-f commented on #1594
@vg0426 thank you for reporting. This is definitely related to issue #1599, so please follow that issue for updates

[2017-12-14 18:56] #1594 closed, assigned to nobody

[2017-12-15 13:59] Pixelshifter commented on #1587
Just want to refer to this issue https://github.com/ntop/ntopng/issues/1010. Exact same thing happening here. But.... it's not creating any L7 .rrd files in the /var/tmp/ntopng/$IF/ directory even though it's enabled in ntopng timeseries preferences.

[2017-12-15 16:43] kuestess opened #1605 "Network discovery not working on Raspbian Stretch"
Upgraded my Raspberry Pi from Jessie to Stretch.  Recompiled and installed under Stretch, but network discovery no longer works.  Consistently states 'A network discovery is in progress. The page will refresh periodically.' in the web interface, however no updated discovery data is ever populated.  Log states Lua.cpp:6559] [Discover] Started triggered discovery on interface eth1, so it appears to

[2017-12-15 19:03] harmane opened #1606 "Since ntopng 3.2.171211 and nprobe 8.2.171211 stable, no flows (NETFLOW)"
Sorry to ask this here but since upgrading from 3.1.x & 8.1.x to 3.2.171211 & 8.2.171211 respectively I cannot get netflow data to be available to ntopng from nprobe. I have ENT license for ntopng and pro for nprobe:

`ntopng --version  v.3.2.171214    [Enterprise/Professional build]`
`nprobe --version  v.8.2.171214 (r5982)`

ntopng.conf

-G=/ntopng-data/ntopng.pid
-i=tcp://127.0.0.1:5556
-S=local

[2017-12-16 00:03] sanbornm opened #1607 "Failed to compile"
[code]

[2017-12-16 22:40] espigle opened #1608 "Community Edition and Bridging"
I can't for the life of me make bridging work with the community edition, whether installed from the latest stable binaries (Ubuntu 16.04) or installing from source here from GitHub. I'm trying to do a 2+1 setup as indicated here: https://github.com/ntop/ntopng/blob/dev/doc/README.inline

Interestingly if I run in professional mode (which of course only runs for 10 minutes), it will start up fine

[2017-12-17 10:59] simonemainardi commented on #1608
Bridging is a pro-only feature. You can create a bridge with brctl and then start ntopng with -i <bridge name> but that won't allow you to do traffic policing, just passive monitoring.

[2017-12-17 10:59] #1608 closed, assigned to nobody

[2017-12-17 11:04] simonemainardi commented on #1607
you just to update nDPI sources prior to compile ntopng. Make sure both nDPI and ntopng are at their respective HEADs in the dev branch.

[2017-12-17 11:04] #1607 closed, assigned to nobody

[2017-12-17 11:12] simonemainardi commented on #1606
add option `--zmq-probe-mode` to nProbe and append a `c` (which stands for collector) to the ntopng zmq endpoint. Assuming both apps  are on the same machine, you can do a

[code]

also it looks like there's a double quote unclosed in your nprobe configuration `... --zmq "tcp://127.0.0.1:5556 --zmq-probe-mode ...`

if you are still not getting the flows properly visualized, check with tcpdump on p

[2017-12-17 14:39] simonemainardi commented on #1587
@Pixelshifter I'm trying to reproduce with out success.

Please, post the full ntopng output log (see page runtime status)
also ntopng --check-license

are you using the admin user?

[2017-12-17 15:14] espigle commented on #1608
Perfect--passive monitor is all I'm after, anyway. I'll work through setting up the bridge on the Linux side and get things to going. Thanks!

[2017-12-18 00:22] ruachemman opened #1609 "missing shared library librrd.so.8 on latest version of CentOS 7"
Hi there, I've installed ntopng from the ntop.org repository on CentOS 7 but on starting the service it's missing a shared library librrd.so.8. I am trying to integrate Ntopng with Observium

[2017-12-18 07:37] ubun3t commented on #1604
Hi, I have changed the time of my PC to the time of the destination country but still the range is wrong. If I select 1h for the report and it is 1:25 a.m., NTOP shows the report starting from 2:30 a.m. until 3:30 a.m. ....¿??¿

How can I change this? I need a report and with the wrong time I can not do it.

ntopng Professional Edition v.3.3.171205

![captura de pantalla de 2017-12-18 01-34-46](ht

[2017-12-18 07:45] Pixelshifter commented on #1587
1: I'm running as the admin user yes.
2: # ntopng --check-license: Demo license
3: 18/Dec/2017 08:33:00 [Lua.cpp:7036] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/interface/minute.lua][/usr/share/ntopng/scripts/lua/modules/alert_utils.lua:2035: attempt to call global 'mustScanAlerts' (a nil value)]

Is constantly filling up the runtime status window (comes back 2x per minute).

4:

[2017-12-18 12:41] harmane commented on #1606
Interesting. The unclosed quotes were a typo.

On my test box (community) I initially had an improperly setup symlink in multi-user.target.wants for nprobe-none.conf. Once fixed I would get segfault when running ntopng until I cleared application data.  I could then see flows in ntopng.

On the enterprise instance I confirmed everything from test and cleared application data but still received sam

[2017-12-18 13:20] harmane commented on #1606
Spoke too soon. Segfault after a few minutes:

[Switching to Thread 0x7fffb6ff5700 (LWP 2697)]
__memcpy_sse2_unaligned () at ../sysdeps/x86_64/multiarch/memcpy-sse2-unaligned.S:157
157     ../sysdeps/x86_64/multiarch/memcpy-sse2-unaligned.S: No such file or directory.
(gdb) bt
#0  __memcpy_sse2_unaligned () at ../sysdeps/x86_64/multiarch/memcpy-sse2-unaligned.S:157
#1  0x00000000004d0937 in FlowPr

[2017-12-18 13:30] emanuele-f commented on #1609
That is strange, on CentOS 7 latest ntopng is linked agains librrd 4:

[code]

Which ntopng version are you using? Have you followed the istructions at `http://packages.ntop.org/centos/`?

[2017-12-18 14:36] emanuele-f commented on #1606
Can you provide a pcap file with sample traffic to reproduce the crash?

[2017-12-18 16:11] aouinizied opened #1610 "Segmentation fault when enabling sticky host"
**Using ntopng version**
v.3.2.171218	[Enterprise/Professional build]
GIT rev:	3.2-stable:36b231667fa7770c1463ad9f0acf8858acbdc798:20171218
Pro rev:	r1279
Built on:	Ubuntu 16.04.3 LTS
System Id:	877FE07F9206AAF2
Platform:	x86_64
Edition:	Enterprise
License Type:	Demo
Validity:	Until Mon Dec 18 17:15:57 2017
**On Ubuntu:** 4.10.0-42-generic
**Starting ntopng using:** sudo ntopng -i enp0s25 --commun

[2017-12-18 16:45] harmane commented on #1606
Sent via email w/pcap attached.

[2017-12-18 21:29] ruachemman commented on #1609
Hi emanuele, I uninstalled and used the http://packages.ntop.org/centos/ and got it to work. Cheers

[2017-12-18 21:29] #1609 closed, assigned to nobody

[2017-12-18 21:31] ruachemman opened #1611 "Can't login to the webpage of ntopng"
After entering the username and password (default) it just refreshes and doesn't login. Tried Chrome, Opera, IE and even Edge, still didn't work. Has anyone encountered such issues? Sorry if this question has been asked as I'm a newbie setting this up.

[2017-12-19 07:03] ubun3t commented on #1604
nobody? this means that cannot see the correct time in reports?

[2017-12-19 09:40] emanuele-f commented on #1611
Hi, the default username and password is "admin". Do you have any extensions to disable/block javascript ?

[2017-12-19 09:43] emanuele-f commented on #1610
Hi, can you please run ntopng with `gdb --args ntopng -i enp0s25 --community -v 2 -S local -n 1` and post a backtrace of the segmentation fault? You can do this with `bt` command from gdb, after the program crashes

[2017-12-19 13:30] emanuele-f commented on #1606
Thank you, the issue as been addressed with commits 188c8c461e85d400b943c114bef1641a05d63d63 and c6c74eb26b74b1fe49a5cbed5df8eee43769f2c6 . A new package will be available in one hour.

[2017-12-19 15:37] harmane commented on #1606
@emanuele-f

Sorry to keep replying to this. I have updated to lastest versions from today and ntopng started but after reboot or stop/start I get segfault:

19/Dec/2017 10:10:52 [CollectorInterface.cpp:122] Collecting flows on tcp://*:5556c
Program received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fffb6ff5700 (LWP 1428)]
0x000000000042c5e8 in Mac::getDeviceType (this=0x0) at /h

[2017-12-19 23:03] ruachemman commented on #1611
I've been able to solve this by changing the password of the default account. Still couldn't figure out why the default credentials wouldn't work.

[2017-12-19 23:03] #1611 closed, assigned to nobody

[2017-12-20 08:47] emanuele-f commented on #1606
If you manage to reproduce the crash again please see if it still happens after you remove the `-S` option

[2017-12-20 08:50] emanuele-f commented on #1606
Possibly related to #1610

[2017-12-20 11:39] ffbarcelos opened #1612 "Traffic Profiles disabled in the interface"
Hi,

After registering Traffic Profiles, the icon does not appear in the interface, as shown below.

![barrantop](https://user-images.githubusercontent.com/33551829/34205349-1a1bbc9e-e569-11e7-9263-cbb29da9b178.png)

v.3.3.171219    [Enterprise/Professional build]

[2017-12-20 11:57] simonemainardi commented on #1612
Traffic profiles are a pro-only feature. So if you are using ntopng in Pro demo mode, then they will disappear after 10 minutes when the software toggles back to community.

Is this your case?

[2017-12-20 12:01] ffbarcelos commented on #1612
No, I have a ntopng Professional license.

[2017-12-20 13:00] nwager404 opened #1613 "Upgrade License"
I have an educational license for the previous version of ntop and nprobe.  How do I upgrade those licenses to run the latest version?

Thank you,

[2017-12-20 14:19] ucakmakci opened #1614 "Network traffic capture analyze"
Hello,

We have a problem with monitoring a network traffic. It is possible that we couldn’t configure properly but maybe you can help.

You can find below the network chart it says 568Mbit traffic at top. Frankly it is bandwidth is 8mbits.

![image](https://user-images.githubusercontent.com/11998407/34211275-a1fa0bee-e5a9-11e7-9efc-99eae08a0621.png)

And the picture here is the anlysis of that tr

[2017-12-21 18:45] clevelandcs opened #1615 "Update pfSense Package from 3.0 release to 3.2 release"
What is the release cycle for the pfSense package? I see 3.2 was released in May but the current package in the pfSense package manager is 3.0. I would like to update to 3.2 so I can use the official Grafana plugin to pull metrics alongside my other data rather than accessing the dashboard and clicking through screens. I don't know how to go about doing this myself but I would imagine it wouldn't

[2017-12-21 20:53] BravoFox opened #1616 "Unable to define local networks"
Currently only able to keep NTOP running when i remove the switch for local network definition. I noticed when i change that, the user running NTOP turns to root when its enable, and back to nobody when its disabled. It's currently running fine without defining local networks.

[2017-12-22 04:24] r1bnc commented on #1600
it is now updated but still the same. The `Manage Users` work if I use Chromium not Firefox 57 or older firefox (with or without Addons like uBlock,Noscipt)

[2017-12-22 08:43] emanuele-f commented on #1616
Hi, please post your ntopng configuration file. The option to define local networks is `-m`

[2017-12-22 08:46] emanuele-f commented on #1615
Hi, please contact the pfsense mantainers, see https://forum.pfsense.org/index.php?topic=131504.0 for a similar discussion

[2017-12-22 08:46] #1615 closed, assigned to nobody

[2017-12-22 08:49] emanuele-f commented on #1600
Hi, I have 57.0.2 and it works for me. Please try to start with a clean browser

[2017-12-22 10:43] ffbarcelos commented on #1612
Any solution?

[2017-12-22 14:04] emanuele-f commented on #1612
Fixed with 2e9a9a9efa4952ee06c34f0025da27d9550c3b6a . A new package will be available in one our.

[2017-12-22 14:04] #1612 closed, assigned to nobody

[2017-12-22 14:15] emanuele-f commented on #1613
Hi, please contact us privately https://www.ntop.org/support/need-help-2/contact-us/

[2017-12-22 14:15] #1613 closed, assigned to nobody

[2017-12-22 14:16] emanuele-f commented on #1601
@sachithnalaka any update?

[2017-12-22 14:22] emanuele-f commented on #1614
I, please post your ntopng (and nprobe ?) configuration

[2017-12-22 14:23] BravoFox commented on #1616
-G=/var/run/ntopng.pid
# -e=
-i=p1p1
-i=p1p2
-i=p1p3
# -w=3000
#--local-networks="172.XX.0.0/16,192.168.0.0/16"

[2017-12-22 14:58] ucakmakci commented on #1614
Hi,

Here is my config. We only gather flow data.

--interface=tcp://10.20.30.201:5556,tcp://10.20.30.201:5557
--pid-path=/var/tmp/ntopng.pid
--daemon
--interface=ens160
--http-port=3000
--dns-mode=1
--data-dir=/var/tmp/ntopng
--disable-autologout
--enable-flow-activity
--max-num-flows=1310720
--disable-login
--community
--local-networks="10.249.23.0/24,10.249.23.0/24,

[2017-12-22 16:42] emanuele-f commented on #1614
The `local-networks` contains a typo, it should be
`--local-networks="10.249.23.0/24,10.249.23.0/24"`

Moreover, you are capturing from a local interface "ens160", not only the flow data.

What's your nprobe configuration?

[2017-12-22 16:45] emanuele-f commented on #1616
What happens exactly when you enable the local networks? Can you reach the ntopng gui?

[2017-12-22 16:51] BravoFox commented on #1616
The process gets killed every few seconds. It just cycles through that. I've noticed the user changes to root when it happens, but that seems to be the only thing I've noticed. I've uninstalled and reinstalled with no change either.

[2017-12-22 17:26] jsstaedtler opened #1617 "ntopng crashes when implementing mysql (Windows)"
ntopng has been working well for me so far, but I'm now trying to add mysql to the mix.  But every time I try adding it in with the -F argument, ntopng crashes on startup.  This is as far as it gets from the command line:

[code]

Then Windows will pop up its usual crash dialog with "ntopng.exe has stopped working".

This is on Windows 10 x64, with the ntopng-3.2.171203-x64 build installed.  I've

[2017-12-22 17:29] emanuele-f commented on #1616
Can you see any error into the ntopng log? Please check out `journalctl -u ntopng`

[2017-12-22 17:34] BravoFox commented on #1616
Dec 22 12:45:55 NTOP.asmhq.local systemd[1]: ntopng.service failed.
Dec 22 12:46:00 NTOP.asmhq.local systemd[1]: ntopng.service holdoff time over, scheduling restart.
Dec 22 12:46:00 NTOP.asmhq.local systemd[1]: Starting ntopng high-speed web-based traffic monitoring and analysis tool...
Dec 22 12:46:00 NTOP.asmhq.local systemd[1]: Started ntopng high-speed web-based traffic monitoring and analysi

[2017-12-22 17:47] BravoFox commented on #1616
it literally worked for about 5 minutes, then when i changed the networks to add one more it failed again. Same exact problem. Changes user to root, then fails.

[2017-12-22 20:00] ucakmakci commented on #1614
It's a typing mistake. Sorry
I have 2 server ntop server and nprobe server. Nprobe port 6343 and 9999  gather flow data send ntopng.
#My ntopng.conf file
--interface=tcp://10.20.30.201:5556,tcp://10.20.30.201:5557
--pid-path=/var/tmp/ntopng.pid
--daemon
--interface=ens160
--http-port=3000
--dns-mode=1
--data-dir=/var/tmp/ntopng
--disable-autologout
--enable-flow-activity
--max-num-flows=1310720
--

[2017-12-22 22:11] fiveohhh opened #1618 "Crashing Ubuntu 16.04 when using filter"
I recently upgraded from ntopng 2.2 to 3.2.  Before I upgraded I had a filter to only grab traffic coming or going to my local network.  After I upgraded, my machine locked up with a kernel panic (machine is a ubuntu 16.04 on esxi 6.5 with 1gb of ram).

I poked around and eventually found out that if I removed the filter (-B option) the machine would stay up.  But as soon as I put the filter back

[2017-12-22 23:31] fiveohhh commented on #1618
Here is what the filter line in the conf looks like

[code]

[2017-12-23 10:26] sachithmuhandiram commented on #1601
@Emmanuelle-f yes, I have installed libpcap-devel. Still no luck.

[2017-12-23 16:48] fiveohhh commented on #1618
I updated off the stable to the nightly 3.3.171223-3943 and it fixed the issue.

[2017-12-23 16:48] #1618 closed, assigned to nobody

[2017-12-24 01:29] srcshelton opened #1619 "ntopng-3.2 compiled from source crashes on startup..."
... possibly due to a conflict with system luajit library?

[code]

... which isn't a huge help without debugging symbols... but is there a known conflict between ntopng-3.2 and luajit-2.0.4?  Is the intent to use the bundled LuaJIT-2.1.0b3... and, if so, is there an issue with the build system whereby the system luajit library is being used in place of the bundled code? If this is the case, how c

[2017-12-24 02:18] srcshelton commented on #1619
It looks as if your Makefile is doing:

[code]

... which will always favour any system luajit of any version over the bundled source - which would not appear ideal if you have a dependency on LuaJIT-2.1.0b3 specifically, rather than just needing any luajit.

(Ideally, could `configure` be checking for the correct versions of dependencies, and providing the ability to specify include and library d

[2017-12-25 15:44] ucakmakci commented on #1614
can you help me

[2017-12-26 05:30] jwilczek opened #1620 "ntopng not showing flows or top talkers"
Nevermind, this seems to be a limitation of the community license.

[2017-12-26 07:24] emanuele-f commented on #1601
What libpcap-devel version have you installed into your system? Can you locate the header file e.g. `/usr/include/pcap.h` ?

[2017-12-26 07:26] emanuele-f commented on #1620
Hi, please see http://www.ntop.org/products/traffic-analysis/ntop/ for a comparison of the versions of our software

[2017-12-26 07:29] emanuele-f commented on #1616
Hi, if possibly, please run ntopng through the gdb debugger and get a trace of the crash. You can do this:
1) Stop your running ntopng instance: `systemctl stop ntopng`
2) Run ntopng through the debugger: `gdb --args ntopng /etc/ntopng/ntopng.cong`
3) When it crashes, please execute `bt` to get a backtrace. Please post the backtrace here.

[2017-12-26 07:31] sachithmuhandiram commented on #1601
@emanuele-f Yes, I can locate it, I installed ntopng using `yum install`

[2017-12-26 07:48] emanuele-f commented on #1614
Hi, there are many errors in the log:

Please update to the latest ntopng and nprobe version both your servers

You are disaggregating based on the Netflow ingress interface. Ntopng will create a virtual interface for each Netflow ingress interface, but you have too many. Do you really need this?

You have too many local networks. Do you really need a per-network view of every single network? If s

[2017-12-26 07:50] emanuele-f commented on #1601
Can you execute `./autogen.sh && ./configure` again? Do you see any libpcap related message? What if you run again `make` now?

[2017-12-26 08:00] emanuele-f commented on #1610
Crash trace:

[code]

[2017-12-26 08:09] emanuele-f commented on #1610
@aouinizied The above crash is fixed with commit df7a7c6ae1354c6cc3b2a2b1d990e089e5cdbcda . A new package will be available in one hour. Please update and let me know.

[2017-12-26 08:11] emanuele-f commented on #1606
@harmane the above issue is fixed with commit df7a7c6ae1354c6cc3b2a2b1d990e089e5cdbcda . Please update to the new version, which will be available in one hour.

[2017-12-26 08:11] #1606 closed, assigned to nobody

[2017-12-26 08:14] emanuele-f commented on #1598
Hi, this is probably related to the sticky hosts . Please follow issue #1610

[2017-12-26 08:14] #1598 closed, assigned to nobody

[2017-12-26 08:28] emanuele-f commented on #1589
@capricorn80 even if ntopng runs within a vm, you can possibly expose (bind) a port, see https://docs.docker.com/engine/userguide/networking/default_network/binding/ for a docker how-to.

An alternative to port mirroring is to install nprobe on your proxies and make it export flows to the ntopng server

[2017-12-26 11:01] simonemainardi commented on #1620
@jwilczek if you look at the right corner of the footer, do you see non-zero counters?

[2017-12-26 11:02] simonemainardi commented on #1620
posting the original issue for completeness:

![image](https://user-images.githubusercontent.com/3397663/34355321-a39d3a4a-ea34-11e7-849a-1e0959cf84b8.png)

[2017-12-26 11:23] #1619 closed, assigned to nobody

[2017-12-26 11:23] simonemainardi commented on #1619
thanks for reporting, issue is fixed and commit is available as highlighted above.

[2017-12-26 14:02] ucakmakci commented on #1614
Hello,
First thank you for you help

We update the nptong to 3.3.171226-3774.x86_64 and errors are gone.

We made disaggregating to *none* but we dont know the difference actually. We cant decide which one to choose.

The reason of this is we want to monitor networks throughput and traffic of all branches we have. Is there any other way or best practice to monitor throughput and traffic?

We add t

[2017-12-26 14:41] emanuele-f commented on #1614
None is the correct option if you don't need a per remote interface detail of the traffic.

You can define a more general network e.g. `--local-networks="10.249.0.0/16"` to include many of your actual networks. Ntopng will see those networks as a whole.

The accuracy of the graph may depend on your Netflow exporter settings. Maybe the exporter is caching flows before exporting them to nprobe, so y

[2017-12-26 16:07] jwilczek commented on #1620
@simonemainardi I would see flashes of non-zero counters. For a brief second, both counters would show non-zero values and then a second or so later they would be zero again. The would remain zero for an extended period of time and then may flash non-zero for a brief instant.

[2017-12-27 09:04] ucakmakci commented on #1614
So we changed it to *None* but we don't really understand the detail of traffic means.

We made this change but we realized that they are much general than we needed. We have a bit more distributed network. The networks we gave were each for a single branch. We want to monitor these branches network in detail not the all branches at once. After we did this change we cant monitor for a single branc

[2017-12-27 12:50] emanuele-f commented on #1614
When "Ingress Interface" is selected, ntopng will create as many virtuail interfaces as your NetFlow switch interfaces. This would allow you to see/graph data on a per-switch interface basis. In your case you have too many ports, so you can't enable this.

You can actually use `-m "10.249.0.0/16,10.249.1.0/24"` in ntopng. The rule is that most specific match wins, so in this case host 10.249.1.1 w

[2017-12-27 18:16] simonemainardi commented on #1620
@jwilczek what can happen is that `softflowd` flows have a last switched in the past. If this is the case, ntopng is tricked into thinking that received flows are old and already expired and thus it purges them immediately from memory.

You should check the openwrt router date and time settings.

If the issue continues, then please report the full ntopng and nprobe configurations used, as well as

[2017-12-28 16:23] jwilczek commented on #1620
I'll dig a little deeper. As it stands, router date time is set from NTP server and appears correct.

[2017-12-29 11:47] Pixelshifter commented on #1587
The trial license has ended, and guess what? I can see application data points in Grafana even without the timeseries set to Protocol/catagory OR both lol... its off...

# ntopng --version
v.3.2.171211    [Enterprise/Professional build]
GIT rev:        3.2-stable:8c030243189bbdde04d2d87abdf3b98fce1ab1b8:20171211
Pro rev:        r1279
Built on:       CentOS Linux release 7.4.1708 (Core)
System Id:

[2017-12-31 17:02] jfbourdeau opened #1621 "problem installing ntopng 3.2.0 on Linux Mint 18.3"
I want to use ntopng 3.2.0 ( https://www.ntop.org/get-started/download/ )  on linux mint 18.3

I can't  install the last version found here : http://packages.ntop.org/apt/

dpkg: error processing archive apt-ntop.deb (--install):
 trying to overwrite '/etc/nbox/ntop-apt.key', which is also in package apt-ntop-stable 2.6-899
abort-install
Errors were encountered while processing:
 apt-ntop.deb

the

[2018-01-01 09:33] sidsamant opened #1622 "Incorrect type for IPv4 fields in Elasticsearch dump"
Hi,

   ES6.1, Fedora 26, Ntopng v.3.1.171005 and custom UI.

   I am not able to find the template from [https://github.com/ntop/ntopng/blob/dev/httpdocs/misc/ntopng_template_elk.json](url)

 ` GET /_template/ntopng-* ` yields `{}`

  `GET /_mapping` yields the following mapping :

`"ntopng-2017.12.31":{"aliases":{},"mappings":{"ntopng":{"properties":{"@timestamp":{"type":"date"},"CLIENT_NW_LATEN

[2018-01-01 18:04] lucaderi commented on #1621
You need to install either apt-ntop or apt-ntop-stable but not at the same time. In other words you cannot have simultaneously stable and dev packages, either one or another. We've added an extra check in packages that will hopefully spot this problem earlier, and that will be available in the next overnight build

[2018-01-01 18:04] #1621 closed, assigned to nobody

[2018-01-02 09:21] ucakmakci commented on #1614
Happy new year @emanuele-f ,

We made changes according to your suggestions and they worked really well on interfaces tab but there is some issues on networks chart and top talkers.

1. The top talkers are not for the network we looking. It is for interface traffic. Can this be a bug too?

![image](https://user-images.githubusercontent.com/11998407/34479099-b47ca0a4-efb5-11e7-972b-2212b9bcfd0d.png

[2018-01-02 10:10] emanuele-f commented on #1614
Hi, thank you! Happy new year for you too!

Yes, we currently calculate/show top talkers only on a per-interface basis. With the pro version of ntopng we provide an historical explorer which integrates with mysql/elastic search to provide a more detailed view (e.g. for top talkers). Please check out our demo version for more information.

You can set the "Local Networks Common Thresholds" into any

[2018-01-02 14:07] BravoFox commented on #1616
Sorry just got back from leave. Ill do it today.

[2018-01-02 16:12] BravoFox commented on #1616
It looks like the latest update fixed the problem, because after updating again im not getting the same issues as before.

Thanks!

[2018-01-02 17:07] emanuele-f commented on #1616
Thank you for reporting!

[2018-01-02 17:07] #1616 closed, assigned to nobody

[2018-01-03 01:56] r1bnc commented on #1595
Now I have a problem on uninstalling Ntopng, nprobe cannot be uninstalled even if i reinstall ntopng and nprobe. using raspbian 9.3 stretch log file:
[code]

[2018-01-03 01:57] #1600 closed, assigned to nobody

[2018-01-03 18:23] jsstaedtler commented on #1617
I managed to get it running correctly on a Windows 7 machine, so there must be something in Windows 10 mucking things up.

I configured everything on the WIn10 machine like it was on Win7 (basically default settings everywhere), but it made no difference.  Looking at the operating and error logs for mysql, it appears there's no attempt to access mysql at all.  So ntopng is dying before it even get

[2018-01-03 18:26] jsstaedtler commented on #1617
Just for fun, I set Windows 7 compatibility mode on ntopng.exe.  No improvement.

[2018-01-05 15:29] simonemainardi commented on #1622
You don't have to manually push the template, ntopng will push it automatically upon startup. Update ntopng to either 3.2 or 3.3.

Just tried with 3.3 and everything works smoothly. I cleared all the indices and templates to make sure the template was pushed.

[code]

Then as soon as I started ntopng I got the new template:
[code]

And here are the fields properly recognized as IP addresses

![ima

[2018-01-05 15:29] #1622 closed, assigned to nobody

[2018-01-05 15:30] simonemainardi commented on #1620
Closing for inactivity. No feedback received. Please, reopen with the requested information if necessary.

[2018-01-05 15:30] #1620 closed, assigned to nobody

[2018-01-05 15:38] simonemainardi commented on #1614
correct

[2018-01-05 15:38] #1614 closed, assigned to nobody

[2018-01-05 15:40] simonemainardi commented on #1610
as already pointed out issue has been fixed 10 days ago with commit df7a7c6 so it is safe to close the issue now.

[2018-01-05 15:40] #1610 closed, assigned to nobody

[2018-01-05 17:35] simonemainardi commented on #1601
No feedback received in 10 days, closing for inactivity.

[2018-01-05 17:35] #1601 closed, assigned to nobody

[2018-01-06 03:00] Howard-Chang opened #1623 "WARNING: A flow has been seen from multiple exporters or from multiple IN/OUT interfaces. Check exporters configuration."
Hi everyone,
I send netflow to nProbe ->ntopng->logstash->elasticsearch
on ntopng command line, it show me an warning A flow has been seen from multiple exporters or from multiple IN/OUT interfaces. Check exporters configuration.
Then I found I can only search download flow in my elasticsearch(there's no update flow).

ntopng version:v.3.2.171215
nProbe version:v.8.2.171203

thank you in advance!

[2018-01-06 09:04] Howard-Chang commented on #1529
Now, my CPU is 8 cores and RAM is 8 G, but the drop flow still occur now.
I has tried to tune the logstash performance, but the situation is the same.
How could I do to avoid the drop flow?

thank you very much!

[2018-01-07 17:36] Howard-Chang commented on #1623
such like this photo:
![image](https://user-images.githubusercontent.com/19474557/34652061-4d4a74ca-f414-11e7-805a-fb2e6fe19611.png)
there's only receive flows.

[2018-01-08 09:58] Pixelshifter commented on #1587
A complete reinstall of the VM it was running on solved the issue!