[2019-11-13 09:12] emanuele-f commented on #3053
Can you extract a stack trace as explained in https://github.com/ntop/ntopng/blob/dev/doc/README.crash ? Are there any particular conditions to trigger the crash?

[2019-11-13 09:18] emanuele-f opened #3054 "Ntopng allows inserting invalid usernames"
The add user form can be submitted even  though the form is invalid (just pressing "enter"). This means that invalid user names can be inserted into ntopng (e.g. `test.123`). Furthermore, no server side validation is blocking this. The inserted user cannot be deleted.

[2019-11-13 11:08] #3054 closed, assigned to emanuele-f

[2019-11-13 11:11] emanuele-f commented on #3054
A new build will be available in one hour. Please note that dots in user names are not allowed. You will need to manually delete the invalid users with the following command (assuming the invalid username is `test.2`):

`for k in $(redis-cli keys ntopng.user.test.2*); do redis-cli del $k; done`

and restart ntopng after that.

[2019-11-13 15:17] #3024 closed, assigned to simonemainardi

[2019-11-13 15:18] simonemainardi opened #3055 "Implement filter to execute callbacks only on bi-directional flows"
Certain flow callbacks needs to be only have sense when the flow has seen traffic in both directions so it is requested to implement this to avoid unnecessary callback execution

[2019-11-13 15:18] simonemainardi opened #3056 "Implement filter to execute callbacks only on flows with THW completed"

[2019-11-13 16:28] #3056 closed, assigned to simonemainardi

[2019-11-13 17:15] #3055 closed, assigned to simonemainardi

[2019-11-13 18:02] simonemainardi commented on #3039
implemented

[2019-11-13 18:02] #3039 closed, assigned to simonemainardi

[2019-11-13 18:03] simonemainardi commented on #3034
Cannot reproduce in the lab. Please, give extra details (e.g., pi build and distro) to reproduce if necessary.

[2019-11-13 18:03] #3034 closed, assigned to simonemainardi

[2019-11-14 11:08] emanuele-f commented on #3047
Implemented in df0556cb875d614bc6949526c6037af7f1bfa8f9 and c19bda542507221491412675add342f96e6a1619

[2019-11-14 11:08] #3047 closed, assigned to emanuele-f

[2019-11-14 11:11] emanuele-f commented on #3051
The new implementation in df0556cb875d614bc6949526c6037af7f1bfa8f9 is about 10 times faster. However on the test machine there are still missed calls, so we must find another way to fix this

[2019-11-14 16:48] emanuele-f commented on #3051
We should definitely improve the scheduling logic. As shown after 1a1eb50acdf69042f7c0509d52f4c35e99957ab9, we can distribute the load across multiple `ht_state_update.lua` runs to avoid dropping calls

[2019-11-14 18:19] Eugene-Prokhorenko opened #3057 "Top talkers data"
For about a month data for Actual Traffic in Top takers don't changes and graphs are horizontal lines. The same after deleted persistent data.

[2019-11-15 07:50] lucaderi opened #3058 "Use SNMP Bulk for SNMP Table Walk"
The ntopng SNMP implementation uses the get-next for walking tables. It would be great with SNMPv2 to use get-bulk to reduce the number of messages exchanged with the agent

[2019-11-15 07:54] emanuele-f commented on #3057
Can you post a screenshot of the problem? What is the output of ntopng --version?

[2019-11-15 08:40] Eugene-Prokhorenko commented on #3057
ubuntu@cacti:~$ ntopng --version
v.3.9.191114    [Enterprise/Professional build]
GIT rev:        dev:52e081ac1cac5a9a28ee04ea114d2f39eccacaee:20191114
Pro rev:        r2528
Built on:       Ubuntu 18.04.3 LTS
System Id:      50DF0C7600050812
Platform:       x86_64
Edition:        Enterprise
License Type:   Permanent
Maintenance:    Until Mon Sep 21 18:09:28 2020 [311 days left]
License:        ZeIQ

[2019-11-15 08:40] Eugene-Prokhorenko commented on #3057
Hope this will help

[2019-11-15 08:42] #3040 closed, assigned to emanuele-f

[2019-11-15 11:40] #3013 closed, assigned to cardigliano

[2019-11-15 14:22] simonemainardi commented on #2753
closing for inactivity. please reopen with the requested information if necessary

[2019-11-15 14:22] #2753 closed, assigned to simonemainardi, emanuele-f

[2019-11-15 14:23] simonemainardi commented on #2680
will be part of dashboard redesign in 4.1

[2019-11-15 14:23] #2680 closed, assigned to nobody

[2019-11-15 14:33] simonemainardi commented on #3017
implemented:

![image](https://user-images.githubusercontent.com/3397663/68950807-2e95bd00-07bd-11ea-9cfc-a963d43f03ea.png)

![image](https://user-images.githubusercontent.com/3397663/68950822-37868e80-07bd-11ea-9b7e-504a07f060ad.png)

[2019-11-15 14:33] #3017 closed, assigned to simonemainardi

[2019-11-15 14:33] simonemainardi commented on #3016
requests implemented. all the dashboard is now ajax with cells that refresh and show the arrows and pagination support

![image](https://user-images.githubusercontent.com/3397663/68950870-5422c680-07bd-11ea-8e82-47b811fd51b4.png)

[2019-11-15 14:33] #3016 closed, assigned to simonemainardi

[2019-11-15 15:27] simonemainardi commented on #3057
are the following checkboxes ticked on the interface?

![image](https://user-images.githubusercontent.com/3397663/68954596-a0253980-07c4-11ea-83f4-9209dce178fb.png)

also check from the preferences if timeseries are enabled:

![image](https://user-images.githubusercontent.com/3397663/68954691-cf3bab00-07c4-11ea-9d1a-8986756bb508.png)

[2019-11-15 16:19] #2822 closed, assigned to cardigliano

[2019-11-15 16:51] cardigliano commented on #3010
This data structure cannot grow indefinitely actually:
1. it is limited by the size of the hosts table (it keeps a reference to the peer)
2. when there are no active flows, the peer is erased

[2019-11-15 16:51] #3010 closed, assigned to cardigliano

[2019-11-15 17:43] emanuele-f commented on #3051
Optimizations:
- 60fc7e0cfb2cd11ba0d44ca65044bada69635920
- 7d0888d302893b06b16b07857492578c302d4be5
- fc962d73f32fe49d3af962ef1950994a720953d9

![photo_2019-11-15_18-39-33](https://user-images.githubusercontent.com/5488003/68963567-1dee4280-07cf-11ea-9838-e1fab8acd803.jpg)

The peaks are now handled correctly. Drops now occur only when there is a continuous very high load. Further optimizations,

[2019-11-15 17:43] #3051 closed, assigned to emanuele-f

[2019-11-15 17:47] #3011 closed, assigned to cardigliano

[2019-11-15 18:48] #2981 closed, assigned to cardigliano

[2019-11-15 20:27] Eugene-Prokhorenko commented on #3057
Yes, they  are ticked.
Some Timeseries were enabled.
I tried to move to influxdb, but I got: can't connect to influxdb.

[2019-11-15 20:44] juesor commented on #3053
On the latest version of ntopng the restarting has cleared up.

[2019-11-15 20:47] #3053 closed, assigned to emanuele-f

[2019-11-15 21:57] alanmilinovic opened #3059 "High CPU in TrPoolWorker"
I am confused, so many issues and discussions about very high CPU and all of them are resolved. On my RPi 4 with buster and latest version of ntopng, CPU is always very high. It is so high that it slows down entire RPi so that I cannot use other applications, it is freezing because of that.

Ntopng is very cool application and I would like to use it but unfortunately I cannot. Are there any improv

[2019-11-16 13:23] Eugene-Prokhorenko commented on #3057
Looks like all local hosts are lost. All hosts accounting as remote.

[2019-11-18 08:45] emanuele-f commented on #3059
Hi, thank you for your interest in improving ntopng. I'm upgrading the raspberry package, please wait one hour and retry with the new version. After upgrading, can you post the output of `top -H -p $(pgrep ntopng)` to know which are the ntopng threads which are causing the high load? Does the high load occur only if the web interface is opened?

[2019-11-18 08:50] alanmilinovic commented on #3059
Hi, thank you for a fast response. Sure I will be more than happy to test new version and past output here. High load is there as well in the background, when web interface is not opened.

[2019-11-18 08:54] emanuele-f commented on #3057
The dashboard shows the local hosts under "Top local talkers". If some hosts are reported as remote, you should probably adjust the `--local-networks`/`-m` option into the ntopng configutation file `/etc/ntopng/ntopng.conf`

[2019-11-18 09:45] lucaderi opened #3060 "SNMP Stats Lifecycle is Broken"
When a SNMP device is deleted, information are not removed form redis as it should be

[2019-11-18 09:45] emanuele-f commented on #3059
There is currently an issue with the build, I will update this thread once the new package is ready.

[2019-11-18 11:09] alanmilinovic commented on #3059
No worries, just to be on the same page, this is what I used as a source to get package on my RPi.

[code]

[2019-11-18 14:06] StewAlexander-com opened #3061 "NTOPNG not collecting analytics - messages seen in /var/log/syslog"
Ntopng is no longer receiving any packets, the web interface is up but there is no traffic analytics

This message seen in the logs
[code]
[code]
[code]
**The above appears to repeat**

----------------
Output of $ntopng --version:
[code]

Please help, thanks

[2019-11-18 14:10] StewAlexander-com commented on #3061
Output of ```$sudo service ntopng status```:
[code]

[2019-11-18 14:11] StewAlexander-com commented on #3061
Upgrading to see if this clears the issue.

[2019-11-18 14:15] StewAlexander-com commented on #3061
Seeing these warnings during ``sudo apt upgrade'' process:
[code]
Is there anything I need to do on this end?

[2019-11-18 14:17] StewAlexander-com commented on #3061
Apparently the interface (eth0)is receiving traffic again from ntopng's point of view.

If there is anything else I can do, please let me know thank you

[2019-11-18 14:21] StewAlexanderACC commented on #3061
Doing a ```$tail -f syslog'''
Seeing this:
[code]
Separate issue?

[2019-11-18 14:26] StewAlexander-com commented on #3061
Grepping the syslog for "ntopng ntopng" after upgrade:

[code]

TSO issue related to eth0 being a virtual interface on a kvm cluster, can apply it locally but it won't take as it needs to be applied globally which I cannot do.

[2019-11-18 14:29] StewAlexander-com commented on #3061
Everything appears to be "working" after upgrading this morning, but I would like to know if the above issue is resolved, or if there is something I / we can do to resolve it.

[2019-11-18 14:42] Eugene-Prokhorenko commented on #3057
I had 2 -m options (v4 & v6). It worked before, but now I merged in one.  Local are ok, but traffic is still constant.
So I decided to delete interface data. And now graphs and top local talkers are ok.

[2019-11-18 14:53] StewAlexander-com opened #3062 "How to get more information an Application being seen under network traffic?"
Hi all

Trying to get more information on the "WhatAppCall" application traffic apparently being seen by the eth0 interface of our ntopng instance.

![image](https://user-images.githubusercontent.com/48565067/69062608-2e7a0500-09e9-11ea-855c-04de7a87aa52.png)

How do I go about verifying this traffic, or at least getting some more information on it?

[2019-11-18 15:17] StewAlexander-com opened #3063 "Unable to decode JSON data for network discovery"
Getting this error:

![image](https://user-images.githubusercontent.com/48565067/69064617-74849800-09ec-11ea-88de-1c4e4ebe4287.png)

Is this a permissions issue?
[code]

[2019-11-18 16:18] Eugene-Prokhorenko commented on #3057
18/Nov/2019 19:29:50 [5min.lua:27] [ts_5min_dump_utils.lua:461] ERROR: [tcp://127.0.0.1:5556 ]Cannot complete local hosts timeseries dump. Disk slow or too many local hosts?
18/Nov/2019 19:27:52 [LuaEngine.cpp:10388] [tcp://127.0.0.1:5556] ERROR: Cannot complete top talkers generation in 1 minute. Is there a huge number of hosts in the system?
18/Nov/2019 19:25:53 [LuaEngine.cpp:10388] [tcp://127.

[2019-11-18 16:22] #3042 closed, assigned to nobody

[2019-11-18 16:23] simonemainardi commented on #3042
![image](https://user-images.githubusercontent.com/3397663/69070205-0c53a780-0a28-11ea-9a56-c0e91932ed42.png)

[2019-11-18 16:45] emanuele-f commented on #3061
This should be handled in b2a6588ad51e9a6496cae67db3ef1553d466ff92. The new package will be available in one hour. After the fix you will get a traceback in the console when such error occurs. Please report the traceback here so that we can identify where this is generated.

[2019-11-18 16:50] emanuele-f commented on #3063
Can you please post the output of `redis-cli get ntopng.cache.ifid_1.device_discovery` where `1` is the interface id of your network interface? You can check the interface ID from the network interface page into ntopng. Please note that the above output will contain sensitive data, you may want to send it directly at faranda@ntop.org .

[2019-11-18 16:53] StewAlexander-com commented on #3063
So my network interface is eth0

Then the command I enter would be this?

redis-cli get ntopng.cache.ifid_0.device_discovery

[2019-11-18 16:54] emanuele-f commented on #3057
What is the number of local hosts you have in ntopng? You may want to switch from RRD to InfluxDB on a big network or disable some timeseries from the ntopng preferences. Please check out https://www.ntop.org/ntopng/ntopng-and-time-series-from-rrd-to-influxdb-new-charts-with-time-shift and https://www.ntop.org/ntopng/ntopng-disk-requirements-for-timeseries-and-flows/

[2019-11-18 16:56] emanuele-f commented on #3063
You need to verify this from the gui:

![2019-11-18_17-55](https://user-images.githubusercontent.com/5488003/69072931-55a1f800-0a24-11ea-9abb-f68550929069.png)

[2019-11-18 16:59] emanuele-f commented on #3062
For the past data analysis you can look at the ntopng report https://www.ntop.org/guides/ntopng/web_gui/report.html . For more detailed data you will need to enable flow export either via MySQL or nIndex, please check out https://www.ntop.org/guides/ntopng/historical_flows.html and http://www.ntop.org/ntopng/exploring-historical-data-using-ntopng/

[2019-11-18 16:59] StewAlexander-com commented on #3063
Yes, in this case it is 0 for us, thank you for providing that detail.

[2019-11-18 17:02] StewAlexander-com commented on #3063
Yes I see a great deal of information when issuing the command, however it contains MAC and IP addresses I cannot give out, is there a way to redact this from the output?

[2019-11-18 17:06] StewAlexander-com commented on #3062
Thanks!

[2019-11-18 17:06] #3062 closed, assigned to nobody

[2019-11-18 17:06] emanuele-f commented on #3063
The following information may be enough:
- Total length in characters of the data
- First and last part of the json, is it a valid json?
- Approximately how many devices do you have in your network (according to ntopng)?

[2019-11-18 17:16] StewAlexander-com commented on #3063
1.
[code]
2.
first: ``` {"ghost_found":true,"devices":[{"device_info":"","information":[],"ghost":true,"```
last: ```"status":{"message":"","code":"OK"},"discovery_timestamp":1574088784}```

3. How do I find this out?
Is this it?
![image](https://user-images.githubusercontent.com/48565067/69074370-39d72b80-09fd-11ea-81d1-47527baf6a16.png)

[2019-11-18 17:17] StewAlexander-com commented on #3063
Under the hosts section:
![image](https://user-images.githubusercontent.com/48565067/69074454-68550680-09fd-11ea-816a-84354cbdd8f0.png)

[2019-11-18 17:18] StewAlexander-com commented on #3063
We have a variable number of end clients on our network as we are a school with an open wireless policy for students

[2019-11-18 17:25] emanuele-f commented on #3063
Yes, 1705 active devices. The problem is that too much data has been serialized and we deserialize up to 131052 characters. We must limit the number of serialized elements and support more devices.

[2019-11-18 17:46] emanuele-f commented on #3059
New package now available. You can upgrade with:

[code]

[2019-11-18 18:43] StewAlexander-com commented on #3063
Ah, so is there anything we can do?

[2019-11-18 18:51] StewAlexander-com commented on #3061
Just upgraded, see the following in /var/log/syslog
[code]

[2019-11-18 18:52] alanmilinovic commented on #3059
[code]

[2019-11-18 18:52] StewAlexander-com commented on #3061
[code]

[2019-11-18 19:46] Eugene-Prokhorenko commented on #3057
6000 local hosts, but 300.000 flows at the moment. Attack?

[2019-11-19 03:04] twistybin opened #3064 "How can I Custom hostname, export data"
Hi,
I just upgraded ntopng to enterprise, I have some questions to work with ntopng.

How can I collect top 100 people use the most time or traffic of facebook, google,instagram ?
I sort and filter in this image, is It Right in the picture ?
![Capture](https://user-images.githubusercontent.com/43060473/69112098-15895680-0ab2-11ea-9349-8d7457d94f07.PNG)
-------------------------------------------
H

[2019-11-19 08:48] simonemainardi commented on #3064
I sort and filter in this image, is It Right in the picture ?

yes, that gives you the top-conversation. If you want the top clients and top servers, you can open the dropdown menu and chose "top clients" and "top servers"

We only show ip addresses and not custom names as you are looking at historical data. Historically, an ip address could have had a different name from what it has now (possibly

[2019-11-19 08:48] #3064 closed, assigned to nobody

[2019-11-19 09:04] twistybin commented on #3064
Hi, I just changed Host Alias, but in report still show Hostname is IP, not Host alias.

[2019-11-19 09:26] cardigliano opened #3065 "Add ZMQ encryption"
Events collected by ntopng using ZeroMQ are currently delivered in clear JSON/TLV. This is not acceptable for some use cases and it is required to add encryption support.

ZeroMQ 4.x comes with CurveZMQ as a built-in security mechanism and supports two libraries:

- libsodium https://libsodium.org/ (recommended when distributing the code in binary form)
- tweetnacl https://tweetnacl.cr.yp.to/ (emb

[2019-11-19 10:13] emanuele-f commented on #3057
I suggest you to switch to InfluxDB as you have many local hosts. Regarding the flows number, please check the alerts page for details on the active flows. Please note that if the footer badge is shown as red you will need to tweak the following options:

[code]

If the original issue is now solved please close this thread.

[2019-11-19 10:18] emanuele-f commented on #3061
Please retry after ac0c20441ff884e6d366210da60f3f866e5fd7b7 . A new package will be available in one hour.

[2019-11-19 10:21] emanuele-f commented on #3059
Can you post a screenshot of the ntopng footer (the badges which indicate the number of hosts and flows)? Both CPU and memory usage seem fine. Are you sure that this is a cpu related issue?

[2019-11-19 12:13] hgpit opened #3066 "Times-out logging in"
Hi all,

We haven't used our ntopng Enterprise installation for ages, but decided to upgrade it to the latest version (3.9), so we could get re-acquainted with it.

The problem is, after running all the updates (including a kernel update) and rebooting the box, we are having problems logging in.

Out of dozens of attempts, I have managed to login once. Upon logging out and retrying to log-in, it f

[2019-11-19 12:46] StewAlexander-com commented on #3061
output
[code]

[code]

[2019-11-19 12:49] StewAlexander-com commented on #3061
Created the following from the output of the ```$sudo service ntopng status``` command, as the above may be truncated or unreadable:

[service_status.txt](https://github.com/ntop/ntopng/files/3863820/service_status.txt)

[2019-11-19 12:52] StewAlexander-com commented on #3061
[code]

[2019-11-19 13:10] emanuele-f commented on #3061
Integer conversion added in 3ba5dcd0036d05815c9a84c7e7adf9bf5d558021 . Please recheck the new package, which will be available in one hour

[2019-11-19 13:14] emanuele-f commented on #3066
Please check out the following questions:

- Which web browser are you using? Do you have some browser extensions which may interfere with the login?
- Can you try with another web browser?
- When it fails to login, does it show some error message?
- Are you trying `admin`/`admin` as the default credentials after following the reset steps reported in the faq?

[2019-11-19 14:37] StewAlexander-com commented on #3061
Errors don't appear to be there, thank you....

Output:
[code]

[code]

[2019-11-19 14:47] StewAlexander-com opened #3067 "JSON errors under the SNMP nmenu"
Seeing the following JSON errors under the SNMP menu option:

![image](https://user-images.githubusercontent.com/48565067/69156436-664c7f80-0ab1-11ea-9db6-6639c47e9b6b.png)

[code]

[2019-11-19 14:49] StewAlexander-com commented on #3067
![image](https://user-images.githubusercontent.com/48565067/69156770-ef63b680-0ab1-11ea-9b6c-8ce67c9b1812.png)

[2019-11-19 14:55] StewAlexander-com commented on #3061
Seeing this after upgrading:

![image](https://user-images.githubusercontent.com/48565067/69157599-2be3e200-0ab3-11ea-8a25-59e2d5a5493a.png)

[2019-11-19 15:25] simonemainardi commented on #3064
historical data is always shown as IP

[2019-11-19 15:41] simonemainardi commented on #3067
fixed. thanks for reporting. new packages will be available in a couple of hours.

[2019-11-19 15:41] #3067 closed, assigned to simonemainardi

[2019-11-19 15:52] cardigliano commented on #3000
@alexiff are you getting syntax errors when saving the group name in the preferences?
If that's not the case as I guess, could you check the ntopng service logs for errors?

[2019-11-19 16:47] #3063 closed, assigned to simonemainardi

[2019-11-19 16:48] simonemainardi commented on #3063
thanks for reporting. issue is fixed. new packages will be available in one hour. now the system will handle up to 8192 discovered devices, then it will show you a warning but no JSON decode issue should occur.

[2019-11-19 17:24] StewAlexander-com commented on #3067
Thank you @simonemainardi

[2019-11-19 17:27] StewAlexander-com commented on #3063
Thank you @simonemainardi, I'll update ntopng tomorrow morning our time (GMT-5 / EST) and report any issues

[2019-11-19 18:40] antoniovalenzuela opened #3068 "Hide VLAN from Top Networks"
One adapter with two VLAN ETH0 and ETH0.20

It allows to hide VLAN 20 from GUI, but from the general options when saving shows error.

Hide from top networks: 10.10.20.252@20

 Script "/usr/share/ntopng/scripts/lua/if_stats.lua" returned an error:
/usr/share/ntopng/scripts/lua/modules/http_lint.lua:1634: [LINT] _POST["hide_from_top"] = "10.10.20.252%4020" parameter error: Validation error

![image

[2019-11-19 22:10] lucaderi commented on #2473
Implemented.

[2019-11-19 22:10] #2473 closed, assigned to lucaderi

[2019-11-19 22:33] lucaderi opened #3069 "ntopng telemetry timeseries can't be disabled"
In recent ntopng builds telemetry information (e.g. for ntopng or redis just to name a couple) have been implemented.
Unfortunately it is missing a preference to disable such timeseries that might fill-up the disk on devices with limited space or with filesystems that do not support constant write.

[2019-11-20 02:00] twistybin commented on #3064
![Capture](https://user-images.githubusercontent.com/43060473/69202373-0cf95480-0b74-11ea-8c6c-37ff311468e5.PNG)

I need to edit custom name this here, I saw some pictures on git, It can edit custom name, but with me It hide.

And I check historical of my host, It did not show traffic yesterday, It only show traffic today, so Did I lost data from host ???
![Capture](https://user-images.githubuserc

[2019-11-20 09:41] simonemainardi commented on #3064
click the cog next to the name, right before the Local green badge

It seems you have a DHCP host, are you sure your IP didn't change?

[2019-11-20 10:16] emanuele-f opened #3070 "Add country information in nIndex"

[2019-11-20 10:19] emanuele-f opened #3071 "Prevent nIndex database corruption"
The database can get corrupted if ntopng is abnormally killed, which causes subsequent queries to fail. This should be prevented.

[2019-11-20 10:19] emanuele-f opened #3072 "Increase the number of supported nIndex interfaces"

[2019-11-20 10:32] emanuele-f opened #3073 "Split SNMP alerts in multiple user scripts"

[2019-11-20 10:33] simonemainardi commented on #2961
I confirm this is implemented in the screenshot above.

[2019-11-20 10:33] #2961 closed, assigned to lucaderi, emanuele-f

[2019-11-20 13:08] StewAlexander-com commented on #3061
Opening a separate ticket on the issue where clicking Traffic Report causes ntopng to freeze

[2019-11-20 13:08] StewAlexander-com commented on #3061
Appears this is fixed, thank you all

[2019-11-20 13:08] #3061 closed, assigned to nobody

[2019-11-20 13:17] StewAlexander-com opened #3074 "Clicking on "Traffic Report" under the speedometer icon causes ntopng to hang"
Hi all,

When I click on "traffic report" under the speedometer icon in ntopng's web interface, ntopng becomes unresponsive.

I did click "network discovery first" and begin that task, which wasn't completed when I attempted to see the traffic report, so it may be a case where something is busy.

Once the network discovery completes will attempt again.

However, if  the "Traffic Report" is depende

[2019-11-20 13:23] StewAlexander-com commented on #3074
Network Discovery is taking over 10 minutes, at the moment our network shows about 1500 devices and climbing as users are starting to log in, wondering if this is normal behavior?

If it is, is there any way to alert the user to time remaining?

[2019-11-20 13:24] simonemainardi commented on #3074
what is the percentage of the network discovery?

[2019-11-20 13:26] StewAlexander-com commented on #3074
@simonemainardi  Does not say

![image](https://user-images.githubusercontent.com/48565067/69242722-79258980-0b6f-11ea-923e-48b9cf522c94.png)

[2019-11-20 15:05] #3069 closed, assigned to simonemainardi

[2019-11-20 15:13] Eugene-Prokhorenko commented on #3057
I moved to InFluxDB. It works for 300000  flows and 8000 red badges (unknown malware). So I'm closing case.

[2019-11-20 15:13] #3057 closed, assigned to nobody

[2019-11-20 15:26] twistybin commented on #3064
Yes, IP didn't change.
Today, I change to use database mysql(4 tables : aggrflowsv4,aggrflowsv6,flowsv4,flowsv6), I think it exactly traffic than nindex.
How can I see top clients used by Application ?, ( It look like contains columns: IP, Total Duration time, Total Sent/Receive Bytes).
 I click 'Historical Data Explorer', and I cannot search how to exactly right top Client use application.

[2019-11-20 21:55] lucaderi opened #3075 "GUI Unresponsive when InfluxDB does not respond"
In case ntopng has been configured to export data in InfluxDB but the database is down, the user interface is unresponsive.

[2019-11-20 23:50] lucaderi opened #3076 "Add the ability to detect slow DoS"
In the attached file here is a slow DoS attack. Thousand of flows as the one depicted below with low goodput, 1 min+ packet IAT, from same source to the same destination.

ntopng is unable to detect them, hence a new script file must be developed.

[dos_slow.pcap.zip](https://github.com/ntop/ntopng/files/3872082/dos_slow.pcap.zip)
![Screen Shot 2019-11-21 at 00 49 07](https://user-images.githubuse

[2019-11-21 08:50] simonemainardi opened #3077 "Interfaces TCP timeseries seem to always stay at zero"
Interface TCP timeseries (e.g., retx, ooo) seem to always stay at zero, even if the preference to save them is on.

It is requested to verify this.

[2019-11-21 10:04] twistybin commented on #3064
Hi,
what is different betweeen table 'flowsv4' and table 'aggrlowsv4' ?
![Capture](https://user-images.githubusercontent.com/43060473/69327864-cfceb880-0c80-11ea-96e8-93c495770cfe.PNG)

I need to export mysql to report, so I don't know what is exactly table I need to export data.

[2019-11-21 10:55] emanuele-f opened #3078 "Replace percentage with progress bar in Periodic Activities page"
This is a possible enhancement however not strictly required as the page is for internal use

[2019-11-21 12:20] alanmilinovic commented on #3059
I am not sure if it is CPU, but that is what I saw as a higher number for ntopng process.

![image](https://user-images.githubusercontent.com/1752983/69337663-b10cf980-0c61-11ea-992a-b627b214a8b9.png)

[2019-11-21 13:29] emanuele-f commented on #3059
So you are monitoring a small network, ntopng should use low resources. Usually freezing issues on linux occur when the memory is exhausted and system begins to swap

[2019-11-21 13:52] simonemainardi opened #3079 "Detected flow from pcap file stays in state not_yet_detected<"
when processing a pcap file, a flow with protocol detected stays in not-yet-detected:

![image](https://user-images.githubusercontent.com/3397663/69343782-86756d80-0c6e-11ea-9890-7db7a5f07172.png)

[2019-11-21 13:53] StewAlexander-com commented on #3074
@simonemainardi
The network discovery is still in progress from _**yesterday!**_

![image](https://user-images.githubusercontent.com/48565067/69343838-54e3ae80-0c3c-11ea-958d-2a693a97f6bd.png)

[2019-11-21 14:11] alanmilinovic commented on #3059
But memory and swap memory looks fine.

[2019-11-21 14:22] #3079 closed, assigned to simonemainardi

[2019-11-21 14:25] StewAlexander-com opened #3080 "Network Discovery has been continuing for more than 24 hours"
Network Discovery has been going on for more than 24 hours....

![image](https://user-images.githubusercontent.com/48565067/69346174-59aa6180-0c40-11ea-9557-db5879e4922e.png)

My guess it's actually frozen.
[code]
[code]

[2019-11-21 14:31] StewAlexander-com commented on #3080
![image](https://user-images.githubusercontent.com/48565067/69346942-a8a4c680-0c41-11ea-9969-e4c3f7ddd9a1.png)

[2019-11-21 15:40] simonemainardi commented on #3076
implemented in https://github.com/ntop/ntopng/commit/5b81a3ab9ed8a6a0a93a7f46f3c66ca88fd9d31f and companion pro commit

![image](https://user-images.githubusercontent.com/3397663/69352281-f38fff80-0c7c-11ea-9f0b-6e41ad06527e.png)

[2019-11-21 15:40] #3076 closed, assigned to simonemainardi

[2019-11-21 16:20] cardigliano commented on #3065
ntopng can now act as ZMQ CURVE server by adding the --zmq-encryption option to the configuration file.
A private/public key pair is automatically generated (unless a private key is manually generated and provided with --zmq-encryption-key <key>) and the public key is displayed in the interface status page.
The public key should be configured in nProbe/cento/n2disk using the --zmq-encryption-key '

[2019-11-21 16:28] simonemainardi commented on #3080
attach to the process with gdb, then type

`thread apply all bt`

and post the output here. thanks

[2019-11-21 16:53] #3065 closed, assigned to cardigliano

[2019-11-22 04:07] twistybin opened #3081 "Database Mysql Structure"
Hi,
I enabled mysql databse, It has 4 tables, but I don't know what is different values in 4 tables ?.
![Capture](https://user-images.githubusercontent.com/43060473/69397218-f68bfe00-0d17-11ea-981c-6b631aae24ca.PNG)
I cannot find Hostname(Alias), Traffic profiles,Host pools, ... in mysql, so where i can find it in database ntopng ?

and I want to request in Traffic Profiles.  when I click graph on

[2019-11-22 08:28] simonemainardi commented on #3081
This is the structure of the MySQL table

[code]

As you can see, the traffic `PROFILE` is dumped to DB, but not the host pool. Host pool information is exported in the time series and is kept internally by ntopng.

This feature is not supported.

[2019-11-22 08:30] simonemainardi commented on #3074
if you restart ntopng and do not perform a discovery, then the report is responsive?

[2019-11-22 08:44] cde0 opened #3082 "View with Dynamic Disaggregation"
Hello :)
I tried to create view for dynamic disaggregation with Probe IP but it don't show any traffic.
I tried with name,id but nothing it show on the view. The interface for every Probe IP it show the results.
The question is just if it support View with Dynamic Dissagregation.
Cheers :)

[2019-11-22 10:25] twistybin commented on #3081
what is different between table name 'aggrflowsv4' and table name 'flowsv4' ?

[2019-11-22 14:36] StewAlexander-com opened #3083 "Error messages seen, do not see full Traffic Report output"
Seeing errors after upgrading, traffic report graphing not complete:

[code]

From your system status page ( [...]/lua/system_stats.lua)

![image](https://user-images.githubusercontent.com/48565067/69434272-47492a00-0d0b-11ea-8898-b9e36caab8f9.png)
![image](https://user-images.githubusercontent.com/48565067/69434346-6e076080-0d0b-11ea-8619-41016abc2aa1.png)

[code]

[2019-11-22 14:38] StewAlexander-com commented on #3080
@simonemainardi I don't understand the above, what is gdb?

[2019-11-22 14:40] StewAlexander-com commented on #3074
@simonemainardi
Yes, but it's missing data ... see #3083

[2019-11-22 14:48] StewAlexander-com commented on #3080
How do I isolate the process? Do you have a name?

[2019-11-22 14:53] StewAlexander-com commented on #3080
I upgraded and the network disovery finished after a period

Currently:
[code]

[2019-11-22 14:53] #3080 closed, assigned to nobody

[2019-11-22 15:43] emanuele-f commented on #3083
This should be fixed in the latest build, please upgrade ntopng

[2019-11-22 17:25] StewAlexander-com commented on #3083
Working now, confirmed closing - thank you

[2019-11-22 17:25] #3083 closed, assigned to nobody

[2019-11-22 18:02] simonemainardi commented on #3073
implemented in https://github.com/ntop/ntopng/commit/188ec66c25a3dbb54d06e66d7bdfdac2a7a42cf2 and companion pro commit

[2019-11-22 18:02] #3073 closed, assigned to simonemainardi

[2019-11-22 18:11] #3068 closed, assigned to cardigliano

[2019-11-22 18:22] simonemainardi commented on #3078
implemented

![image](https://user-images.githubusercontent.com/3397663/69450411-62448a00-0d5d-11ea-9346-54777de6642c.png)

[2019-11-22 18:22] #3078 closed, assigned to simonemainardi

[2019-11-22 18:24] simonemainardi commented on #3081
`aggr` tables contain 5-minute aggregates of flows on the following key:

[code]

those tables are used to reduce the cardinality of flows and speed-up certain queries.

[2019-11-22 18:24] #3081 closed, assigned to nobody

[2019-11-22 18:26] simonemainardi commented on #3082
It doesn't seem to have sense what you are trying to do.

If you are using disaggregation, then it means you want to disaggregate the traffic, so why you are trying to put it back together with a view? Why don't you just avoid using the disaggregation?

please explain your use case

[2019-11-22 18:26] simonemainardi commented on #3066
any news?

[2019-11-23 10:07] dado895 opened #3084 "Navigation history report"
Please how to get on ntopng the report of the volume consumption per computer and
Navigation history report.

Best regards.

[2019-11-23 17:26] Eugene-Prokhorenko opened #3085 "New errors after moving too influxdb"
There was an error while sending timeseries data to "http://localhost:8086": partial write: max-series-per-database limit exceeded: (1000000) dropped=157

Also some errors in the log:

23/Nov/2019 20:00:11 [NetworkInterface.cpp:1730] Invalid packet received [len: 7056][max len: 1468].
23/Nov/2019 19:34:50 [ParserInterface.cpp:223] WARNING: A flow has been seen from multiple exporters or from multi

[2019-11-25 07:06] mhonzki opened #3086 "Error when i click host on Top Hosts (local)"
When I navigate top host local and click 1 of the host, I received the error below.

****/usr/local/share/ntopng/scripts/lua/modules/http_lint.lua:1324: [LINT] _GET["host"] = "TCXerver.BGN" parameter error: Validation error****

![image](https://user-images.githubusercontent.com/58162469/69519454-082e0980-0f95-11ea-8f7f-dafd2e1b03cb.png)

[2019-11-25 07:38] mhonzki commented on #3086
any update on this plsss..

[2019-11-25 13:56] simonemainardi commented on #3086
please attach a screenshot to show where you click to trigger the error

[2019-11-25 13:59] simonemainardi commented on #3085
duplicate of https://github.com/ntop/ntopng/issues/2097

do you have TSO or GRO enabled? which is your ntopng configuration?

it could be that the same flow is seen from multiple interfaces of the same exporter

[2019-11-25 14:03] simonemainardi commented on #3084
you have an overall 'traffic report' section

![image](https://user-images.githubusercontent.com/3397663/69546572-4a0a8000-0f94-11ea-856c-6e7f29d2efa7.png)

To have host-specific reports you have the following options.

1. Access host historical timeseries. This gives you layer-7 visibility and allows you to choose the time interval of interest

![image](https://user-images.githubusercontent.com/3

[2019-11-25 14:03] #3084 closed, assigned to nobody

[2019-11-25 14:06] simonemainardi commented on #3074
I've seen #3083 can you please confirm this issue still holds? That is, is the discovery still hanging?

[2019-11-25 14:42] emanuele-f commented on #3075
The main issue was a query executed on every page load, fixed in 20ef1a4ebcf5654f29cd69e3cfe8808a25d7a83c . Additionally, in the event of slow InfluxDB queries, 478c97b7437d806947e04a347e20b67de8b0d02b introduces a 1 minute inhibition interval where most of the queries performed during page loads are aborted immediately.

[2019-11-25 14:42] #3075 closed, assigned to simonemainardi, emanuele-f

[2019-11-25 14:52] StewAlexander-com commented on #3074
It is no longer hanging, apologies for not closing this case earlier

[2019-11-25 14:52] #3074 closed, assigned to simonemainardi

[2019-11-25 14:53] cardigliano commented on #2979
Bytes columns size changed to 64 bit with https://github.com/ntop/ntopng/commit/51e63d05a97faf8b1bc37d807ddf8fccbef6dccd

[2019-11-25 14:53] #2979 closed, assigned to cardigliano

[2019-11-25 14:54] #3077 closed, assigned to simonemainardi

[2019-11-26 03:06] mhonzki commented on #3086
Hi
Thanks for the response I got this error message when I was clicking **HOSTS**>>**TOP HOSTS**>>**ALUCARD.BGN** and it shows an error.

![image](https://user-images.githubusercontent.com/58162469/69596064-54805480-103c-11ea-8f3d-c150cc103241.png)
![image](https://user-images.githubusercontent.com/58162469/69596069-58ac7200-103c-11ea-9c6a-2c83764be3a0.png)
![image](https://user-images.githubuserc

[2019-11-26 06:08] Eugene-Prokhorenko commented on #3085
After increasing timeseries I'm getting:
/usr/share/ntopng/scripts/lua/system_stats.lua:33: attempt to call a nil value (field 'getTimeseriesMenu')

[2019-11-26 11:17] emanuele-f commented on #3085
Please update again, it should be fixed

[2019-11-26 13:03] bezi019 opened #3087 "[LuaEngine.cpp:11693] WARNING: Script failure"
Hi
Im trying to configure ntop datasource in Grafana:

![Capture](https://user-images.githubusercontent.com/58218502/69635460-b0150700-1069-11ea-9200-9b559f7a4bb3.JPG)

but its not working at all and from ntop side I face below error:

![Capture2](https://user-images.githubusercontent.com/58218502/69635570-f66a6600-1069-11ea-82c6-81f76ed7f61f.JPG)

![Capture3](https://user-images.githubusercontent

[2019-11-26 13:17] simonemainardi commented on #3087
hi, as shown in the discontinuation notice at https://github.com/ntop/ntopng-grafana-datasource#discontinuation-notice

The datasource is no longer supported. Just enable influxdb from ntopng and the use the influxdb grafana datasource.

[2019-11-26 13:17] #3087 closed, assigned to nobody

[2019-11-26 13:19] simonemainardi commented on #3086
You're using an outdated version of ntopng. Please upgrade to at least version 3.8 and it will work.

[2019-11-26 13:19] #3086 closed, assigned to nobody

[2019-11-26 13:19] simonemainardi commented on #3082
No feedback received. Please, submit the requested information if necessary to continue the discussion.

[2019-11-26 13:19] #3082 closed, assigned to nobody

[2019-11-26 13:20] simonemainardi commented on #3066
Closing for inactivity. No feedback received.

[2019-11-26 13:20] #3066 closed, assigned to nobody

[2019-11-26 14:15] simonemainardi opened #3088 "Email support on Debian9 possibly broken"
It seems that clicking on send test email doesn't cause any CURL action or log to be performed

[2019-11-26 16:44] simonemainardi commented on #3088
confirm is working with "3.9.191126"

[2019-11-26 16:44] #3088 closed, assigned to nobody

[2019-11-26 16:49] simonemainardi commented on #3052
Internal charts have been reworked.

Duration of the lua calls (as shown in the first image) has now been put under the corresponding periodic activity, which is ht_state_update.lua for current lua calls

![image](https://user-images.githubusercontent.com/3397663/69654263-c5436300-1074-11ea-9956-d015f608b668.png)

The number of lua calls has been extended as well not only to count the number of ca

[2019-11-26 16:49] #3052 closed, assigned to simonemainardi

[2019-11-26 17:07] #3002 closed, assigned to simonemainardi

[2019-11-26 17:08] simonemainardi commented on #3002
fixed, thanks for reporting. don't forget to pass arguments

[code]

to paginate the results.

[2019-11-26 17:28] simonemainardi commented on #2995
implemented

![image](https://user-images.githubusercontent.com/3397663/69657493-9a5c0d80-107a-11ea-95f1-68747c55780c.png)

[2019-11-26 17:28] #2995 closed, assigned to simonemainardi

[2019-11-26 17:30] simonemainardi commented on #2994
TLS (smtps) support and Gmail support added in https://github.com/ntop/ntopng/commit/88a2c9c36f9b4092847875b0c962d34971b1904e

[2019-11-26 17:30] #2994 closed, assigned to nobody

[2019-11-26 17:32] simonemainardi commented on #2972
duplicate of #3026

[2019-11-26 17:32] #2972 closed, assigned to nobody

[2019-11-27 01:06] mhonzki commented on #3086
Hi sir,
Thanks for the response again how do we update my ntopng from my pfsense. do you have any document to do this? thank you so much.

[2019-11-27 05:40] Eugene-Prokhorenko commented on #3085
Fixed.
I put ethtool -K ens3 gro off gso off tso off to /etc/init.d, but still getting warning. How can I be sure, that ethtool run before ntop?

[2019-11-27 07:47] emanuele-f commented on #3086
Please contact the pfsense support for this, it is something specific of their distribution.

[2019-11-27 07:51] emanuele-f commented on #3085
Which distribution are you using? I'm searching it online e.g. https://serverfault.com/questions/463111/how-to-persist-ethtool-settings-through-reboot

[2019-11-27 08:00] emanuele-f commented on #3036
Issue cannot be reproduced with the latest version.

[2019-11-27 08:00] #3036 closed, assigned to nobody

[2019-11-27 08:04] emanuele-f commented on #3059
The CPU load from the `top` output above does not explain the freeze issue. Please report the output of `top` and `cat /proc/meminfo` while the system is freezing.

[2019-11-27 09:14] simonemainardi commented on #2960
@ingria yes this is ok an sorry for this late reply, we missed the message

[2019-11-27 09:19] simonemainardi commented on #2938
Implemented. A single VM is spawned and then re-used for every user script.

[2019-11-27 09:19] #2938 closed, assigned to nobody

[2019-11-27 09:20] simonemainardi commented on #2937
sure, it support historical chart per local host. Can you please check and make sure the host you are looking at is local?

[2019-11-27 09:22] simonemainardi commented on #2913
@StewAlexanderACC do you have any news?

[2019-11-27 10:53] Eugene-Prokhorenko commented on #3085
Ubuntu 18.04. They recommend to create rc-local. I created tso-gro :)
Also I find out this messages in my mail:
Date: Wed, 27 Nov 2019 06:25:24 +0400 (+04)
From: Cron Daemon <root@asnet.am>
To: root@asnet.am
Subject: Cron <root@cacti> test -x /usr/sbin/anacron || ( cd / && run-parts --report
    /etc/cron.daily )

/etc/cron.daily/logrotate:
error: Ignoring cento because of bad file mode - must be

[2019-11-27 12:55] StewAlexander-com commented on #2913
I opened a ticket over at the github darkreader site (https://github.com/darkreader/darkreader/issues/1648)  have heard zero feedback

[2019-11-27 16:38] lucaderi opened #3089 "Implement inline lua viewer"
In the latest ntopng versions, the processing engine has been enhanced with the ability to run scripts. They are invisible to the user.

It is requested to add in ntopng the ability to view scripts (only for admins) and on a future version also to modify them.

The best is to embed https://microsoft.github.io/monaco-editor/ that supports Lua syntax highlighting.

[2019-11-28 07:39] underleo opened #3090 "Active Flows error "SyntaxError: Unexpected end of JSON input""
Hello,

We encountering issues of "Active Flows" with ntopng version "ntopng Professional Edition v.3.9.191116".
When click "Active Flows", it shows "SyntaxError: Unexpected end of JSON input" on the screem.
It leads us lack of veiws of flows of our network.

Please give some help.

[2019-11-28 08:04] emanuele-f opened #3091 "Category list download issues on Windows"
A user reported the following error while downloading the category lists:

`[26/11/2019 07:34:36][Warning][Device Disconnection][Engaged] An error occurred while downloading list 'MalwareDomainList Hosts': The server connection timeout out after 0 seconds [HTTP Code: 0]`

We should try to reproduce this and possibly build a new package with the fix.

[2019-11-28 08:17] emanuele-f commented on #3090
Please update to the latest version and see if the issue still occurs. If that's so, please report your /etc/ntopng/ntopng.conf and latest log from `sudo journalctl -u ntopng`

[2019-11-28 10:40] alessandrobls opened #3092 "Cannot start ntopng after mysql reinstall."
Hello,

I have Centos (centos-release-7-7.1908.0.el7.centos.x86_64). I had to remove and reinstall mysql and ntopng (I'm using enterprise version) due space problems.

After reinstalling mysql (mysql  Ver 8.0.18 for Linux on x86_64 (MySQL Community Server - GPL))  I tried to reinstall ntopng.

`[root@srvntop yum.repos.d]# systemctl start ntopng
Job for ntopng.service failed because the control pro

[2019-11-28 10:59] emanuele-f commented on #3092
Please update both ntopng and mysql to the latest version. If you still experience issues run:

[code]

and check out errors in the output. Please also report the output of `ntopng --version`

[2019-11-28 11:15] alessandrobls commented on #3092
Hello,

according rpm -qa I have installed:

[code]
That should be latest version..

and `ntopng --version` produces

`[root@srvntop mysql]# ntopng --version
ntopng: error while loading shared libraries: libmysqlclient.so.18: cannot open shared object file: No such file or directory`

Thanks

Alessandro.

[2019-11-28 13:50] alessandrobls commented on #3092
Removed MySQL and installed MariaDb Resolves the issue... thanks!

[2019-11-28 13:50] #3092 closed, assigned to nobody

[2019-11-28 14:53] emanuele-f commented on #3046
Initial optimization in 6e9887f38441d286c6d70682ff0517cd79ca02ad

[2019-11-28 15:30] mhonzki commented on #3086
But they will support the users that have a license.

On Wed, Nov 27, 2019 at 3:48 PM Emanuele Faranda <notifications@github.com>
wrote:

[2019-11-28 15:43] emanuele-f commented on #3086
You cannot install a licensed version of ntopng in pfsense as we don't build for the pfsense OS

[2019-11-28 23:22] mhonzki commented on #3086
But the pfsense gives only a 3.6 version ok ntopng....btw
My pfsense version is 2.4.4 thanks

On Thu, Nov 28, 2019, 11:43 PM Emanuele Faranda <notifications@github.com>
wrote:

[2019-11-29 06:51] underleo commented on #3090
Hi @emanuele-f ,

Thx for your response, but after upgrade to "3.9.191129 - Professional Edition", we still no luck for active flow.
I export "journalctl -u ntopng" as a file below:
[ntopng.log](https://github.com/ntop/ntopng/files/3904039/ntopng.log)

[2019-11-29 07:44] emanuele-f commented on #3090
Which OS are you using? Please also report your `/etc/ntopng/ntopng.conf`. If you run `sudo journalctl -u ntopng -f` then, without exiting journalctl, load the flows page, does `journalctl` report an error message in the last line?

[2019-11-29 07:46] emanuele-f commented on #3086
Since we do not maintain the pfsense package you have two options:
1. Ask the pfsense package maintainer to upgrade the package
2. Install our official packages on a supported distribution, see http://packages.ntop.org

[2019-11-29 08:13] emanuele-f commented on #3046
After internal discussion the current behavior is acceptable.

[2019-11-29 08:13] #3046 closed, assigned to lucaderi, emanuele-f

[2019-11-29 09:22] underleo commented on #3090
@emanuele-f ,
we use centos 7, "3.10.0-1062.4.3.el7.x86_64".
When i click flow, seems the ntopng process will hang and restart by itself, below is output of "journalctl -u ntopng -f". I clicked twice, so it restart twice from my point of view.
ntopng.conf also attachend.
![Capture_20191129_03](https://user-images.githubusercontent.com/19524719/69858279-a0e1c380-12cc-11ea-8354-2d2d85a69fa6.PNG)
![C

[2019-11-29 09:35] emanuele-f commented on #3090
It seems like ntopng is crashing, please check out the instructions at https://github.com/ntop/ntopng/blob/dev/doc/README.crash to get a stack trace

[2019-11-29 09:58] lucaderi commented on #3070
Please add it as 16bit (2 bytes country code)

[2019-11-29 10:27] emanuele-f commented on #2948
In 1fd65ac44c2ae84dfda8c977c079873f2d47fed3 the reporting of the message has been fixed. Alert generation must still be fixed though

[2019-11-29 14:36] webernetz opened #3093 "Sorted table isn't refreshing correctly"
Hello ntopng,

when I am using a table and sort for a certain column, e.g. "Hosts" within the AS list, this sorting is not refreshed, while the table contents are refreshed indeed. This leads to situations in which the sorted column isn't correct anymore. In the following screenshot, the sorting was correct at the time of opening the table, but changed afterwards. Is that on purpose?

![grafik](ht

[2019-11-29 15:27] emanuele-f commented on #3093
Hi, yes this is a standard behaviour in ntopng, we only refresh the specific rows, we do not query the whole data again

[2019-11-29 16:38] simonemainardi commented on #3043
the issue seems not to be solved. At least no information (e.g., caller and called parties) are shown for SIP flows.

[code]

and ntopng shows nothing under SIP flows

[2019-12-01 14:54] SNerone opened #3094 "ntopng service stopping"
My Raspbian Buster Lite installation of ntopng periodically stops running, when I run the command ```systemctl status ntopng``` I get the following.  Any insight into why this is happening or if I have some type of configuration problem?  I looked along the previous issues to see if someone else had this issue and I found one other person however there wasn't any type of resolution to it.
[code]
I

[2019-12-02 08:10] emanuele-f commented on #3094
What is the output of `ntopng --version`? The systemctl command is showing ntopng as active for 13h, how did you noticed it stopped? Did the gui not respond anymore?

[2019-12-02 10:42] sebastianionita82 opened #3095 "Ldap groups"
I would like to a have an option to disable usage of LDAP groups when using LDAP Authentication.
This will be useful in some scenarios where there are no groups implemented in LDAP.

Also there will be nice if were filters

[2019-12-02 10:55] cardigliano commented on #3000
Closing for inactivity (it works for me with the current code), please reopen in case.

[2019-12-02 10:55] #3000 closed, assigned to cardigliano

[2019-12-02 11:11] cardigliano commented on #3043
SIP info seems to be displayed correctly with latest code. Fixed RTP MOS with https://github.com/ntop/ntopng/commit/6359bc9ab0e8e2f17bca609743361cb5a2bd8d8b

[2019-12-02 11:11] #3043 closed, assigned to cardigliano

[2019-12-02 13:48] emanuele-f commented on #2969
Implemented

[2019-12-02 13:48] #2969 closed, assigned to simonemainardi

[2019-12-02 19:09] SNerone commented on #3094
I'd noticed that the GUI stopped collecting flows after a few hours, the only way that it would resume was for me to issue the command ```systemctl restart ntopng```

Output of the ```ntopng --version``` command...
[code]
Output of  ```nprobe --version```
[code]

[2019-12-03 08:24] emanuele-f commented on #3094
The nprobe license is missing, so it will stop exporting flows after some time. Please buy a license.

[2019-12-03 08:24] #3094 closed, assigned to nobody

[2019-12-03 09:51] #3093 closed, assigned to nobody

[2019-12-03 09:54] emanuele-f commented on #3095
How would you associate the LDAP users to the ntopng users? Right now the group is what it is used for the association.

[2019-12-03 15:39] lucaderi opened #3096 "i18n is called also for non GUI scripts"
i18n should be called and loaded only whenever is necessary. Today it is loaded all the time and this slows down lua scripts when not necessary.

The correct algorithm is to load the i18n language only as soon as the first i18n() call is made

[2019-12-03 16:42] simonemainardi opened #3097 "Add a callback for each SNMP device"
Currently, SNMP callbacks run for each interface for each device. It is requested to add a callback which runs for each SNMP device.

[2019-12-03 18:42] sebastianionita82 commented on #3095
You right I can't with this setup. The idea is that some ldap doesn't have groups. The idea is to have the ldap setup a bit more flexible.
- disable groups and have all users admin, restricted access by ip's or other means
- having filters will have select users that can login

The idea is to have the ldap setup a bit more flexible.

[2019-12-04 12:58] bezi019 opened #3098 "Layer 7 data"
Hello,
Ive configured the ntopng v.3.9.191103 to send collected data to influxdb and also use garfana v.6.5.0.beta1. But my problem is I cannot configure or actually find L7 graph in Grafana for my core SW.

[2019-12-04 17:45] emanuele-f commented on #3098
Have you enabled L7 timeseries from the ntopng preferences?

[2019-12-06 09:07] Stesnyaus opened #3099 "Add multiple flow analysis script/feature"
Hello.
Is there any chance of adding script/feauture of automatic multi-iteration analysis of the same flow?

[2019-12-06 09:39] emanuele-f commented on #3099
Hi, can you be more specific about the use case and what are you trying to accomplish?

[2019-12-06 10:31] Stesnyaus commented on #3099
Hello!
I need this feature for my little study project. I think I can do simple script for this feature by my self, but if this will be a default feature, it could be a lot better in usability and optimization.
My goal which I want to get from this feature is to analyze efficiency of multiple analysis of one flow. Will this feature take us better or faster results after analysis (e.g. when we run

[2019-12-06 12:51] cfrancis2b opened #3100 "No show "Top Flow Talkers"."
Since update 191205 of the ntopng this is more colorful but does not show the "Top Flow Talkers".

Regards.

[2019-12-06 14:12] cfrancis2b commented on #3100
Currently these are the installed packages:

cento.x86_64                               1.11.191206-529        @ntop
n2n.x86_64                                 2.5.1-243              @ntop
ndpi.x86_64                                3.1.0-2104             @ntop
ndpi-dev.x86_64                            3.1.0-2104             @ntop
nprobe.x86_64                              8.7.191206-6686        @

[2019-12-06 15:11] emanuele-f commented on #3099
Is this related to ntopng or nDPI? What do you mean with multiple analysis of one flow? Sorry but this is very abstract information to me, I can't get what you need in practice.

[2019-12-06 15:12] emanuele-f commented on #3100
@simonemainardi please check out

[2019-12-06 16:16] 23ewrdtf opened #3101 "No place to specify Flood alert threshold"
Hi,
I'm using `ntopng Community Edition v.3.6.190513` on top of `pfSense`, and I don't see option to specify threshold for flood alerts.

Is that because it wasn't implemented in that version or there is a bug ?

[2019-12-06 18:16] lucaderi opened #3102 "Invalid alert generation"
![Pasted_Image_06_12_2019__19_11](https://user-images.githubusercontent.com/4493366/70345486-7e1b5600-185c-11ea-826b-780e83df2a3c.png)

Defining nDPI protocols such as
tcp:1234@SALT
tcp:1235@CLIENTSO

creates issues as protocols are somehow inconsistent (SSH.CLIENTSO and SALT) but this is not a big problem. The real issue is that ntopng triggers alarms as these protocols are not allowed for the sp

[2019-12-06 19:48] lucaderi opened #3103 "VLAN Capture Issues"
When capturing traffic inside the host page
![Screen Shot 2019-12-06 at 20 44 50](https://user-images.githubusercontent.com/4493366/70351473-4961cb80-1869-11ea-8794-842d8c9f0052.png)

setting a filter on host such as "vlan and port 53" it reports

![Screen Shot 2019-12-06 at 20 46 03](https://user-images.githubusercontent.com/4493366/70351539-73b38900-1869-11ea-93b5-280f2f9ac426.png)

that is misl

[2019-12-06 19:52] lucaderi opened #3104 "Configuration Export"
Implement a feature for exporting the configuration of network interface and importing it on another host. This should include thresholds, scripts etc. so that we can clone the configuration across hosts

[2019-12-06 19:54] lucaderi opened #3105 "Export alerts to ELK"
Add the ability to export alerts to ELK for long term analysis and storage, in addition to the native/embedded export in sqlite that is good for short term analysis

[2019-12-06 19:55] lucaderi commented on #2357
This needs to be implemented by v4 release

[2019-12-06 20:02] lucaderi opened #3106 "DNS Dissection"
![Pasted_Image_06_12_2019__20_57](https://user-images.githubusercontent.com/4493366/70352344-3bad4580-186b-11ea-82fd-332d7ddf55cc.png)
The above picture is from ntopng used to collect flows send by nProbe with -T="@NTOPNG@"
As you can see
1. if the resolver uses always the same port, the DNS protocol is set to the first detected host (DNS.Telegram in the example) even though this is just the first

[2019-12-06 20:08] lucaderi opened #3107 "Invalid Alert Labels"
![Pasted_Image_06_12_2019__21_04](https://user-images.githubusercontent.com/4493366/70352788-38ff2000-186c-11ea-8493-e430858a17fc.png)
In the above example the same host is observed on two VLANs. As the alert name does not report (next to the host name) the VLAN Id, it is not possible to understand what VLAN has the problem.
Furthermore it is requested to add a HREF that points to the script/rule

[2019-12-07 08:22] bezi019 commented on #3098
Yes I have.

[2019-12-07 08:53] lucaderi opened #3108 "Fix layout"
![Screen Shot 2019-12-07 at 09 45 35](https://user-images.githubusercontent.com/4493366/70371678-5f59a580-18d6-11ea-9851-5afef2796901.png)

[2019-12-07 08:53] Stesnyaus commented on #3099
Hi!
My issue is related to both ntopng and nDPI.
I'm talking about feature/script that checks/analyze selected flow few times in a row. Practice algoritm of this feature will be like this:
1) ntopng/nDPI scans flows from network;
2) User selects the desired flow;
3) ntopng/nDPI analyze that flow and show the results (e.g. protocol, IPs, MACs, ports, maybe App signature & etc.);
4) ntopng/nDPI anal

[2019-12-07 10:40] cfrancis2b commented on #3100
![imagen](https://user-images.githubusercontent.com/15823719/70372981-fcefad80-18b3-11ea-8ed3-134c1d35a0a5.png)

Actualice a la versión de hoy, pero continua el problema.
Upgrade to today's version, but the problem continues.

[2019-12-08 10:26] lucaderi opened #3109 "No results returned"
![Screen Shot 2019-12-08 at 11 25 21](https://user-images.githubusercontent.com/4493366/70388068-7ae3af80-19ad-11ea-94f3-97484dfe374e.png)
Clicking on the right icon that is supposed to return flow information, no information is returned.

[2019-12-09 07:41] emanuele-f commented on #3098
Can you see the L7 charts into ntopng? In Influxdb L7 data is contained into the following tables:
- `host:ndpi`: contains per-host L7 applications data
- `iface:ndpi`: contains per-interface L7 applications data
- `host_pool:ndpi`, `asn:ndpi`, `vlan:ndpi`: contais per-pool/ASN/VLAN L7 applications data

[2019-12-09 07:46] emanuele-f commented on #3099
nDPI reads raw packets from network interfaces and then marks a flow with a protocol and possibly extracts some metadata from it. This "analysis" is carried out automatically by nDPI/ntopng and cannot be controlled by an external user. You can however execute custom lua scripts on flows with users scripts (check out https://www.ntop.org/guides/ntopng/api/user_scripts/index.html but please note tha

[2019-12-09 09:58] #3108 closed, assigned to nobody

[2019-12-09 10:23] #3103 closed, assigned to nobody

[2019-12-09 11:22] bezi019 commented on #3098
Perfect, I found it.thanks man.
how can I define a graph for top 10 hosts on specific protocol like email?

[2019-12-09 11:35] emanuele-f commented on #3098
This question is influxdb specific. Please check out https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/timeseries/drivers/influxdb.lua#L1278 for some query examples. You can also run `redis-cli lrange ntopng.trace.influxdb_queries 0 -1` to get a list of the latest influxdb queries executed by ntopng

[2019-12-09 12:05] bezi019 commented on #3098
thanks a lot>

[2019-12-09 12:05] #3098 closed, assigned to nobody

[2019-12-10 10:51] lucaderi opened #3110 "HTML tables too high"
HTML tables (e.g. the flow view) have rows that are far too high. They take a lot of unnecessary space.
It is requested to shrink them a bit to save room for other information

[2019-12-10 14:34] emanuele-f commented on #2928
Implemented in a3432e00e89f461492b033940bbb46f09bab2fb7 . The datadir subdir `/var/lib/ntopng/plugins` is used for now

[2019-12-10 14:34] #2928 closed, assigned to emanuele-f

[2019-12-10 14:35] emanuele-f commented on #2953
Implemented in a3432e00e89f461492b033940bbb46f09bab2fb7

[2019-12-10 14:35] #2953 closed, assigned to emanuele-f

[2019-12-10 14:39] emanuele-f commented on #2976
Implemented in a3432e00e89f461492b033940bbb46f09bab2fb7

[2019-12-10 14:39] #2976 closed, assigned to nobody

[2019-12-10 14:40] emanuele-f commented on #3004
This has been fixed.

[2019-12-10 14:40] #3004 closed, assigned to simonemainardi, emanuele-f

[2019-12-10 17:06] lucaderi opened #3111 "Fix script issues that prevent the code editor to work"
The fix requires these two issues to be addresses and this the lines uncommented to enable the code viewer
- https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/alert_utils.lua#L1100
- https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/flow_callbacks_utils.lua#L86

[2019-12-10 17:57] gabryon99 commented on #3110
Created a pull request for this issue, see:
https://github.com/ntop/ntopng/commit/19d1e5108bb1a0c2094dd5f21bbfcce2197f9047

[2019-12-10 18:00] cardigliano opened #3113 "Hide the live pcap download feature in collection mode"
The live "pcap download" button in the host page should be displayed in live packet capture mode only.
This applies to ntopng 3.8 stable.

![Screen Shot 2019-12-10 at 15 10 30](https://user-images.githubusercontent.com/7548711/70555233-f052aa00-1b7e-11ea-84b8-0182ab556179.png)

[2019-12-10 18:08] cardigliano opened #3114 "Host pools randomly disappear"
Host pools sometimes disappear (after a few minutes). It also happened to see a host pool disappearing from the Host Pools configuration page, while it was still listed in the Host Pool page, with an empty name and stats populated (see screenshot). In the latter case, creating a new host pool, the old ID has been reassigned to the new pool.
This applies to ntopng 3.8 stable.

![Screen Shot 2019-12

[2019-12-10 18:30] emanuele-f commented on #3111
Implemented in 15759c8db2d50edf2846dd544f17a5e4205951ce

[2019-12-10 18:30] #3111 closed, assigned to emanuele-f

[2019-12-10 20:29] lucaderi commented on #3089
Implemented

[2019-12-10 20:29] #3089 closed, assigned to nobody

[2019-12-11 07:04] emanuele-f commented on #3110
Pull request has been merged

[2019-12-11 07:04] #3110 closed, assigned to gabryon99

[2019-12-11 12:50] cfrancis2b commented on #3100
Do you have any progress or comment regarding this issue?
I have made today's update without any improvement.

Regards.

[2019-12-11 13:10] lucaderi opened #3115 "Unable to load category files"
dic 10 14:12:24 loaysa ntopng[2563]: [Utils.cpp:1847] ERROR: Could not open /var/lib/ntopng/category_lists/Emerging Threats.txt.new for write
dic 10 14:12:24 loaysa ntopng[2563]: 10/Dec/2019 14:12:24 [Utils.cpp:1847] ERROR: Could not open /var/lib/ntopng/category_lists/Emerging Threats.txt.new for write
dic 10 15:00:03 loaysa ntopng[2563]: [Utils.cpp:1847] ERROR: Could not open /var/lib/ntopng/cat

[2019-12-11 13:17] lucaderi opened #3116 "Max number of pool entries"
In
<img width="1379" alt="Screenshot 2019-12-11 at 14 15 35" src="https://user-images.githubusercontent.com/4493366/70624510-bafe9880-1c20-11ea-9ff2-8a49ba8c4290.png">

you can define more than 9 pools but only a limited number is displayed. For instance I have defined 12 pools, 9 are displayed, but if I want to add a new one the system says (correctly) that is already defined.

<img width="1368"

[2019-12-11 13:31] lucaderi opened #3117 "Implement item filtering in pools"
<img width="520" alt="Screenshot 2019-12-11 at 14 29 08" src="https://user-images.githubusercontent.com/4493366/70625440-aae7b880-1c22-11ea-815f-68981e968305.png">

With many mac addresses, searching "by hand" is not useful. A search capability should be implemented.

Furthermore the "filter device" menu has an awful layout

[2019-12-11 13:48] lucaderi opened #3118 "Failure while removing pool members"
<img width="1370" alt="Screenshot 2019-12-11 at 14 48 05" src="https://user-images.githubusercontent.com/4493366/70626745-4417ce80-1c25-11ea-95e0-477e8cb0bcd4.png">
<img width="1344" alt="Screenshot 2019-12-11 at 14 32 50" src="https://user-images.githubusercontent.com/4493366/70626746-4417ce80-1c25-11ea-98b8-2c583d3c9b32.png">

[2019-12-11 13:53] lucaderi opened #3119 "Duplicate pool add"
In host pools it is possible to associate to two different pools the same host, using (in the first pool) the IP address and in the second pool the MAC.  This has to be prevented as it leads to inconsistencies

[2019-12-11 13:59] lucaderi opened #3120 "Alert browsing is not working"
Starting from the following alert
Date/Time	Duration	Severity	Alert Type	Drilldown	Description	Actions
00:15:01	05:00	Warning	 Replies / Requests Ratio	 	Host 192.168.1.2 has sent 10 DNS requests but received 4 DNS replies [5 minutes ratio: 36.4%]	 DisableDelete

clicking on the IP address it is possible to see the timeseries. In this window, setting the begin time (in the time field) the apply bu

[2019-12-11 14:04] lucaderi opened #3121 "Info field not supported in flow explorer"
<img width="1368" alt="Screenshot 2019-12-11 at 15 03 22" src="https://user-images.githubusercontent.com/4493366/70627948-70cce580-1c27-11ea-97fd-67431757f663.png">

[2019-12-11 14:07] lucaderi opened #3122 "Invalid connection/disconnection messages"
ntopng report connection/disconnection messages for hosts that are permanently connected to network: this needs to be fixed

[2019-12-11 14:11] lucaderi opened #3123 "Implement host auto-thresholds to avoid silly alert generation"
Sometimes we receive alerts for scanner, flooder, etc that are misleading for specific hosts. For instance for a host that has several connections (e.g. a mail server) the default threshold might be unfit.
It is requested to add a button "auto" (or similar) that sets such thresholds based on the past host history for these thresholds.

[2019-12-11 14:22] lucaderi opened #3124 "Implement better flow drill-down"
In case of alerts such as
Date/Time	Duration	Severity	Alert Type	Drilldown	Description	Actions
07:26:01	01:00	Error	 TCP SYN Scan	 	Host 192.168.1.2 is a SYN Scan attacker [172 > 50 SYN sent]	 DisableDelete

it would be nice ntopng to drill down only to these selected flows that triggered the alert

[2019-12-11 14:48] cfrancis2b opened #3125 "They removed the links to check the spam and malware lists."
With the latest update they removed the links to check the spam and malware lists.

[2019-12-11 15:05] lucaderi commented on #3125
What do you mean exactly?

<img width="1373" alt="Screenshot 2019-12-11 at 16 04 35" src="https://user-images.githubusercontent.com/4493366/70632940-feacce80-1c2f-11ea-8b2a-9a9e5fdac5b8.png">

[2019-12-11 15:42] cfrancis2b commented on #3125
I refer to the links that allow you to review the pages. They do not appear next to the name.

[2019-12-11 16:09] emanuele-f commented on #3115
Which linux distribution? What is the output of `ls -ld /var/lib/ntopng/category_lists`?

[2019-12-11 16:12] emanuele-f commented on #3125
The item is actually present bu the css is making it not visible

[2019-12-11 16:43] emanuele-f opened #3126 "Some preferences are lost upon ntopng restart"
The bug has been experienced in particular on the timeseries settings of sub interfaces and on the "Duplicate Traffic" preference of the view interface.

[2019-12-11 20:32] cfrancis2b opened #3127 "[LuaEngine.cpp:11514] WARNING: Script failure"
[LuaEngine.cpp:11514] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/system/shutdown.lua][...g/plugins/alert_definitions/alert_port_status_change.lua:1: unexpected symbol near '<\135>']

This error is occurring after you completely reinstall ntopng.

[2019-12-11 21:03] cfrancis2b commented on #3127
11/Dec/2019 16:03:21 [AlertCheckLuaEngine.cpp:143] WARNING: Script failure[/usr/share/ntopng/scripts/callbacks/interface/flow.lua] [attempt to call a nil value]
11/Dec/2019 16:03:21 [AlertCheckLuaEngine.cpp:143] WARNING: Script failure[/usr/share/ntopng/scripts/callbacks/interface/flow.lua] [attempt to call a nil value]
11/Dec/2019 16:03:21 [AlertCheckLuaEngine.cpp:143] WARNING: Script failure[/us

[2019-12-12 07:29] #3127 closed, assigned to emanuele-f

[2019-12-12 07:30] emanuele-f commented on #3127
Thank you for reporting. A new package will be available in one hour

[2019-12-12 10:06] M9k commented on #3059
Good morning,
I have the same problem on a VM (x86_64).
![Immagine](https://user-images.githubusercontent.com/9288402/70702830-39b20f00-1ccf-11ea-800f-da4169a9a5a1.png)

grep -v "^#" /etc/ntopng/ntopng.conf
--online-license-check
-i=tcp://192.168.X.X:5556
-i=tcp://192.168.X.X:5556
-m=10.0.0.0/8,192.168.0.0/16,172.16.0.0/12

Thanks

[2019-12-12 10:29] cardigliano commented on #3113
Fixed on stable (host and interface pages) and dev (interface page)

[2019-12-12 10:29] #3113 closed, assigned to nobody

[2019-12-12 13:10] cfrancis2b commented on #3127
The problem was corrected in the last update.  Thank you

[2019-12-12 13:50] simonemainardi opened #3128 "Analysis of pcap files yields incomplete data"
Flow bytes

![image](https://user-images.githubusercontent.com/3397663/70717334-6fb2bb80-1cee-11ea-8155-5394bfe3d53f.png)

don't match host bytes

![image](https://user-images.githubusercontent.com/3397663/70717474-b2749380-1cee-11ea-8761-e79f0b36cd89.png)

[2019-12-12 17:24] #3096 closed, assigned to emanuele-f

[2019-12-13 02:55] wantaquddin opened #3129 "Youtube, Google, GoogleServices, Facebook grouped under TLS"
Upgraded ntopng Enterprise/Embedded from version 3.8_181227 to 3.9_191118. Previous historical data & flow are upgraded.

After upgrade, I noticed that in Traffic Report and Interfaces chart, Youtube, Google, GoogleServices and Facebook are now grouped under "TLS". Previously they're separated from "HTTPS" protocol (under old ntopng).

Under "Applications" tab in Interfaces chart, the protocols ar

[2019-12-13 09:18] #3125 closed, assigned to simonemainardi

[2019-12-13 13:53] #3126 closed, assigned to emanuele-f

[2019-12-16 09:35] #3100 closed, assigned to simonemainardi

[2019-12-16 10:36] #3118 closed, assigned to cardigliano

[2019-12-16 11:08] simonemainardi commented on #3060
this is fixed. no information is left.

[2019-12-16 11:08] #3060 closed, assigned to simonemainardi

[2019-12-16 14:30] #3097 closed, assigned to emanuele-f

[2019-12-16 16:52] lucaderi opened #3130 "Empty OS in Network Discovery"
<img width="1308" alt="Screenshot 2019-12-16 at 17 51 35" src="https://user-images.githubusercontent.com/4493366/70926104-cbea4800-202c-11ea-8288-00f74f5f47ff.png">

[2019-12-17 11:35] #3128 closed, assigned to simonemainardi

[2019-12-17 16:30] simonemainardi commented on #3130
fixed in https://github.com/ntop/ntopng/commit/34387c4121ef24c116a924071902a481cc14d39d

[2019-12-17 16:30] #3130 closed, assigned to simonemainardi

[2019-12-17 17:13] #3129 closed, assigned to nobody

[2019-12-17 17:13] simonemainardi commented on #3129
Thanks for reporting. Issue is fixed and a new build is in progress. Please hold on a couple of hours and update.

[2019-12-17 22:29] shikari7 opened #3131 "ntopng for CentOS 8"
Following instructions specified for CentOS 8 here:

`http://packages.ntop.org/centos-stable/`

However no CentOS 8 RPMs have been built yet.  You can see only 6 and 7 RPMs.

Please populate the CentOS 8 repo!  :)

[2019-12-18 08:42] simonemainardi commented on #3131
centos8 stable packages will be released along with the next stable release of ntopng in Q1 2020. In the meanwhile you can use dev packages on centos8.

[2019-12-18 08:42] #3131 closed, assigned to nobody

[2019-12-18 09:36] emanuele-f opened #3132 "Domain match with zmq interfaces not working"
A user reported that malware domains (e.g. creditbootcamp.com) are not identified when using zmq interfaces. This should be checked and possibly fixed. Note: the flow URL is correctly reported.

![2019-12-18_10-35](https://user-images.githubusercontent.com/5488003/71074226-d0704700-2179-11ea-948d-867aa3d2312c.png)

[2019-12-18 10:08] cardigliano opened #3133 "Traffic disaggregation matches unexpected traffic with IPv6 filters"
It seems that Custom Traffic Disaggregation (when processing traffic from a network interface) is matching unexpected traffic when IPv6 filters are specified.

[2019-12-18 13:00] webernetz commented on #3133
Hi @cardigliano

I have tested the disaggregation with `net 192.168.0.0/27 or net 2001:db8:6d:a1::/64` but after stopping and starting ntopng again, it looks like the filters don't work at all. I can see all hosts everywhere. E.g. at the System -> Interfaces Status:
![grafik](https://user-images.githubusercontent.com/13365684/71088328-72098f80-219e-11ea-8a35-26ae86c73c43.png)

And now I can't even

[2019-12-18 13:28] psct opened #3134 "Traffic Dashboard empty after upgrade?"
I am using ntopng on armhf/Raspberry pi. While jumping from 3.9.191118-8139 to 3.9.191209-8291 the Dashboard shows no traffic at all. If I downgrade, it works as usual. This happens on fresh installs.

[2019-12-18 13:40] webernetz opened #3135 "Linking a single host with IPv6 and IPv4 addresses together?"
Hey guys,

is there any option to link two "Hosts" together, since a single host is listed as two different Hosts in ntopng as long as it has an IPv6 and a legacy IP address:
![grafik](https://user-images.githubusercontent.com/13365684/71090815-32de3d00-21a4-11ea-87be-d9ddf870e7d4.png)

This would be interesting in the timeseries, for example, to compare v4 vs. v6 traffic to this single machine.

[2019-12-18 13:48] webernetz opened #3136 "DNS breakdown: more entries in the pie chart"
Is there a way to display more entries than "three + other" on the pie chart?
![grafik](https://user-images.githubusercontent.com/13365684/71091269-17bffd00-21a5-11ea-9d6f-d9ab1bccc8a1.png)

I would like to have the basic RRs displayed everytime, that is: A, AAAA, TXT, SOA, NS.
Or, every RR that has more than 10 % can be displayed?

[2019-12-18 14:22] simonemainardi commented on #3136
Implemented. All the records are now if greater than zero.

![image](https://user-images.githubusercontent.com/3397663/71093640-e0078400-21a9-11ea-8073-06784b78b660.png)

Supported records are listed at https://github.com/ntop/ntopng/blob/dev/include/DnsStats.h#L27

A new build is in progress and will be ready in a couple of hours.

[2019-12-18 14:22] #3136 closed, assigned to nobody

[2019-12-18 14:24] webernetz commented on #3136
Wow, that was fast!!!

[2019-12-18 14:30] simonemainardi commented on #3119
This is by design. Mac associations win over IP associations so that is the case described the host will be associated to the pool matching its mac address in a consistent way.

It is also not possible to prevent this during host pool configuration. Indeed, for example when an host is offline, ntopng won't be able to know its IP or Mac and consequently it won't also be able to perform any kind of

[2019-12-18 14:30] #3119 closed, assigned to simonemainardi

[2019-12-18 14:31] webernetz opened #3137 "Support of DNSSEC RRs"
Maybe you could add the RRs that are relevant for DNSSEC, that is: RRSIG, NSEC, NSEC3, NSEC3PARAM, DNSKEY, DS.

Ref:
https://www.iana.org/assignments/dns-parameters/dns-parameters.xhtml#dns-parameters-4
https://tools.ietf.org/html/rfc4034
https://tools.ietf.org/html/rfc5155

[2019-12-18 14:34] #3117 closed, assigned to nobody

[2019-12-18 14:35] simonemainardi commented on #3137
do you have a pcap with those guys that you can attach?

[2019-12-18 14:36] simonemainardi commented on #3134
do you see the traffic if you visit other pages?

[2019-12-18 14:39] webernetz commented on #3137
Sure. Will send it to you by mail. (Don't want to make it publicly avaiable.)

[2019-12-18 14:44] psct commented on #3134
Yes, I see trafiic on the flow page and on others (I did not check every page).

[2019-12-18 14:46] simonemainardi commented on #3134
Show a screenshot. Also open the browser inspector and attach any errors you may see in the console.

[2019-12-18 14:56] psct commented on #3134
![Bildschirmfoto 2019-12-18 um 15 52 41](https://user-images.githubusercontent.com/16280050/71096582-df252100-21ae-11ea-94e9-a0867adb9862.png)

Sorry, but I see no errors.

[2019-12-18 15:12] simonemainardi commented on #3116
I've reproduced the reported behavior. This is not a bug. You've added pools 1 to 12. As they are sorted in lexicographic order, "Pool12" that you are trying to add is shown on page 01 while you are on page 02. So ntopng correctly tells you the pool already exists.

![image](https://user-images.githubusercontent.com/3397663/71097923-1f859e80-21b1-11ea-9af3-b2e097872f40.png)

![image](https://user-

[2019-12-18 15:12] #3116 closed, assigned to nobody

[2019-12-18 15:44] simonemainardi commented on #3115
unable to reproduce. please, resubmit with the requested information if necessary.

[2019-12-18 15:44] #3115 closed, assigned to nobody

[2019-12-18 15:53] simonemainardi commented on #3101
It was not configurable on version 3.6. Please, update to at least 3.8 or turn off the alert.

[2019-12-18 15:53] #3101 closed, assigned to nobody

[2019-12-18 15:58] cardigliano commented on #2958
Implemented

[2019-12-18 15:58] #2958 closed, assigned to emanuele-f, cardigliano

[2019-12-18 17:09] simonemainardi commented on #3134
please, try and re-update now.

[2019-12-18 18:57] cardigliano commented on #3133
@webernetz I pushed a fix for the IPv6 match issue, a new package will be available in <1h. Please update and let us know.
As of the delete issue, I am not able to reproduce it. Did you shutdown ntopng gracefully?

[2019-12-18 19:36] webernetz commented on #3133
Hi @cardigliano. Nice, thanks for that.

To be honest, what is a "graceful shutdown"? I am always doing `sudo service ntopng stop` followed by a `sudo service ntopng start`. Is this graceful?

[2019-12-19 08:07] cardigliano commented on #3133
Yes, it should, unless there is some crash during the shutdown (this should not happen, however you can double check the service log to make sure)

[2019-12-19 08:35] webernetz commented on #3137
Currently, this is what is looks like on an authoritative DNSSEC-capable server: about 1/3 is "Other" because of the RRSIGs that are queried for any DNS request from a DNSSEC validating recurser.

![grafik](https://user-images.githubusercontent.com/13365684/71157722-da11b180-2242-11ea-8408-e6351f784e62.png)

[2019-12-19 08:58] psct commented on #3134
I would like to, but I am on armhf and see no new package to do so ...

[2019-12-19 09:20] webernetz commented on #3133
Hey @cardigliano. It looks much better now with version v.3.9.191219. Yeah!

One thing I've noticed though:
<del>I am getting *some* local IPv4 addresses in the disaggregation that are not part of the filter. In my case, I have a disaggregation of "net 193.24.227.192/27 or net 2001:470:7d:a1::/64" but I am seeing at least two other IPv4 addresses:</del> --> Oh sorry, I am wrong, this is because I

[2019-12-19 09:22] cardigliano commented on #3133
Great! Thank you for the update!

[2019-12-19 09:22] #3133 closed, assigned to cardigliano

[2019-12-19 09:28] webernetz opened #3138 "SNMP not working for Cisco routers?"
Hey guys,

I am using the SNMP functionality for a Cisco switch and two routers. While it's working without any problems for my switch, it doesn't work for my two routers. They are discovered correctly (hence SNMP community strings and ACLs work fine), however, no interface stats are coming in. I am getting the following error message: "The SNMP walk is too slow. Displayed data may be outdated or

[2019-12-19 10:43] #3102 closed, assigned to simonemainardi

[2019-12-19 11:00] simonemainardi opened #3139 "Protocol categories are lost upon restart"
Applying a category to a custom host works, but then the category is lost upon restart ad it goes back to unspecified.

<img width="1241" alt="image" src="https://user-images.githubusercontent.com/3397663/71168483-1cdd8480-2257-11ea-8df1-f44a68b1cd8a.png">

[2019-12-19 11:15] simonemainardi commented on #3139
The same is true for non-custom protocols. Seems categories are just not saved. In addition, by following the code, it seems these associations are only set per-interface whereas they should be for all the interfaces.

[2019-12-19 12:28] MozCrash opened #3140 "unify suricata and ntopng not worked."
sorry to bother you.
It costs me about 3 days to unify suricata and ntopng according to the [guides](https://www.ntop.org/guides/ntopng/advanced_features/suricata.html), and it still not worked.

Details as follows

my computer info：
Computer: Virtual Machine Created by ESXI
OS: CentOS 7
Network interface: ens192
Ntopng: v.3.9.191219 compiled from github
Web Port: 127.0.0.1:6666
Nginx: proxy 80/44

[2019-12-19 14:11] #3139 closed, assigned to emanuele-f

[2019-12-19 14:16] emanuele-f commented on #3059
@M9k do you have any news regarding the `top -H` output after the new changes as asked privately?

[2019-12-19 14:23] cardigliano commented on #3109
Fixed (mg_write was braking the connection, using mg_write_retry)

[2019-12-19 14:23] #3109 closed, assigned to cardigliano

[2019-12-19 14:24] cardigliano commented on #3140
It seems that ntopng is receiving Suricata messages correctly, it is likely the lua plugin that handles those messages is not working properly. Checking on our side.

[2019-12-19 14:59] MozCrash commented on #3140
thanks a lot. :)

[2019-12-19 16:18] M9k commented on #3059
@emanuele-f :
   PID USER      PR  NI    VIRT    RES    SHR S %CPU %MEM     TIME+ COMMAND
151263 ntopng    20   0 1682848 764568  11416 S 28,0 43,0  38:59.10 ht_state_update
151264 ntopng    20   0 1682848 764568  11416 S 25,0 43,0  39:04.35 ht_state_update
151265 ntopng    20   0 1682848 764568  11416 S  2,3 43,0   3:16.55 housekeeping.lu
151269 ntopng    20   0 1682848 764568  11416 S  1,3 43,0

[2019-12-19 17:22] cardigliano commented on #3140
@MozCrash this has been fixed, please update from github (or the new package will be available in <1h) and let us know.

[2019-12-19 18:59] simonemainardi commented on #3132
fixed in https://github.com/ntop/ntopng/commit/562ac1d0f83c3d5a312841121c5d87ac3f10a6fd

[2019-12-19 18:59] #3132 closed, assigned to simonemainardi

[2019-12-20 02:45] MozCrash commented on #3140
good job,it fixed.thanks again. :)

[2019-12-20 02:45] #3140 closed, assigned to cardigliano

[2019-12-20 07:29] alanmilinovic commented on #3059
I can see sometimes ntopng process to use 90% of CPU power for few seconds. Usually it is around 20% what is as well very high if you ask me. All that in idle mode.

[2019-12-20 08:22] simonemainardi commented on #3090
any news here? @underleo are you able to generate a stacktrace? do you need guidance?

[2019-12-20 09:18] emanuele-f commented on #3059
Thank you for the info. Can you try to disable all the flow scripts and see if the load goes back to acceptable levels?

![2019-12-20_10-17](https://user-images.githubusercontent.com/5488003/71244062-95048280-2309-11ea-8ef0-aeb52143c34d.png)

[2019-12-20 09:59] simonemainardi commented on #3138
I've added a debug preference at:

![image](https://user-images.githubusercontent.com/3397663/71246803-bb311f00-2317-11ea-88b7-f8d8f5093d99.png)

This should print out timing information out to the logs as:

[code]

Can you please enable it and report the output so we can have an idea if the walk is slow? (wait an hour as new builds are being generated)

[2019-12-20 11:54] #3122 closed, assigned to cardigliano

[2019-12-20 14:38] cardigliano commented on #3090
Closing for inactivity, @underleo please reopen if you are still able to reproduce this and provide a stacktrace. Thank you.

[2019-12-20 14:38] #3090 closed, assigned to nobody

[2019-12-20 14:40] simonemainardi commented on #3099
The solution proposed with user scripts is what you are looking for.

In particular, have a look at flow user scripts: https://www.ntop.org/guides/ntopng/api/user_scripts/flow_hooks.html and the reported example. Basically, you will be able to execute any custom lua script on each flow, at several stages of the lifetime:

- protocolDetected: called after the Layer-7 application protocol has been d

[2019-12-20 14:40] #3099 closed, assigned to nobody

[2019-12-20 14:41] simonemainardi commented on #3134
please, retry now the package is available

[2019-12-20 14:44] #2279 closed, assigned to simonemainardi

[2019-12-20 14:48] alanmilinovic commented on #3059
By clicking on Interface I get this:
 Script "/usr/share/ntopng/scripts/lua/if_stats.lua" returned an error:
/var/lib/ntopng/plugins/alert_endpoints/nagios.lua:1: unexpected symbol near '<\135>'

[2019-12-20 15:06] emanuele-f commented on #3059
Please upgrade to the latest ntopng package, then post here the output of `ntopng --version` if the problem still occurs.

[2019-12-20 15:11] simonemainardi commented on #2931
implemented in https://github.com/ntop/ntopng/commit/ba13e4985615feea8f32a836435ab89911df471b and previous commits

[2019-12-20 15:11] #2931 closed, assigned to nobody

[2019-12-20 15:13] simonemainardi commented on #2913
@StewAlexanderACC let's close this for now. Feel free to reopen and comment if the guys at darkreader will respond at some future point in time. Thanks for your effort, anyway.

[2019-12-20 15:13] #2913 closed, assigned to nobody

[2019-12-20 15:16] simonemainardi commented on #2895
This issue no longer holds after the latest reworks of user scripts and plugins.

[2019-12-20 15:16] #2895 closed, assigned to nobody

[2019-12-20 15:16] #2875 closed, assigned to simonemainardi

[2019-12-20 15:20] simonemainardi commented on #2830
Implemented. Suppressed alerts are now loaded and checked straight in lua in `alerts_api.hasSuppressedAlerts`.

[2019-12-20 15:20] #2830 closed, assigned to nobody

[2019-12-20 15:23] #3107 closed, assigned to nobody

[2019-12-20 15:26] alanmilinovic commented on #3059
pi@1raspberrypi:~ $ ntopng --version
v.3.9.191220    [Enterprise/Professional/Embedded build]
GIT rev:        dev:818a21d9eeb48d844b9e2169b9b0dcf0e9c454e0:20191220
Pro rev:        r2624
Built on:       Raspbian GNU/Linux 10 (buster)
System Id:      44066669499602D2
Platform:       armv7l
Edition:        Enterprise Embedded
License Type:   Time-Limited [Empty license file]
Validity:       Until Fri

[2019-12-20 15:42] simonemainardi commented on #3059
please show exactly where you click as I cannot reproduce

[2019-12-20 15:48] alanmilinovic commented on #3059
Interface button in top horizontal menu.

[2019-12-20 15:58] psct commented on #3134
Works now for me with v.3.9.191220-8430, thank you very much!

[2019-12-20 15:58] #3134 closed, assigned to nobody

[2019-12-20 16:03] simonemainardi commented on #3059
Make sure ntopng has been correctly updated, the old process stopped and the new process executed.

[2019-12-20 16:10] lucaderi opened #3141 "Invalid layout"
<img width="1065" alt="Screenshot 2019-12-20 at 17 09 34" src="https://user-images.githubusercontent.com/4493366/71267691-9060be00-234b-11ea-99c5-233e990162d1.png">

[2019-12-20 16:13] alanmilinovic commented on #3059
I updated package with normal linux update statement. Not sure what you are reffering to. Will try to purge and install package again.

[2019-12-20 16:23] alanmilinovic commented on #3059
`sudo systemctl restart ntopng` helped. Will disable flow scripts and let you know about performance.

[2019-12-20 16:27] #2892 closed, assigned to nobody

[2019-12-20 16:45] alanmilinovic commented on #3059
Still same usage, 23% of CPU.

[2019-12-22 05:39] fsamareanu opened #3142 "Invalid column in sql query"
Hello,

This comes in the logs when drilling down in traffic for a specific IP:

`Dec 22 09:37:51 gemma ntopng: [MySQLDB.cpp:1001] ERROR: MySQL error: [Unknown column 'tcp' in 'where clause'][1054][select COUNT(*) AS TOT_FLOWS, SUM(IN_BYTES + OUT_BYTES) AS TOT_BYTES, SUM(PACKETS) AS TOT_PACKETS FROM flowsv4 where FIRST_SWITCHED <= 1576993057 and FIRST_SWITCHED >= 1576991257 AND (NTOPNG_INSTANCE_NA

[2019-12-23 09:40] #3142 closed, assigned to simonemainardi

[2019-12-23 10:32] simonemainardi commented on #3141
Fixed:

![image](https://user-images.githubusercontent.com/3397663/71352908-d00bed80-2577-11ea-9940-78c517a57e2c.png)

[2019-12-23 10:34] #3141 closed, assigned to simonemainardi

[2019-12-23 10:56] simonemainardi commented on #3106
this is a pcap I've generated to reproduce the issue

[multidns_sameport.pcap.zip](https://github.com/ntop/ntopng/files/3994654/multidns_sameport.pcap.zip)

[2019-12-23 14:13] cavedon opened #3143 "latest stable ntopng (3.8) does not compile against latest stable libndpi (2.8)"
The latest stable release of ntopng in https://github.com/ntop/ntopng/releases (3.8) fails to compile against the latest stable release of libndpi in https://github.com/ntop/ndpi/releases (2.8).

[code]

I encountered this issue while trying to upgrade libndpi from 2.6 to 2.8 in Debian.

[2019-12-23 14:17] emanuele-f commented on #1949
Can be easily reproduced by repeatedly calling `ndpi_fill_ip_protocol_category` with 0 as both the saddr and daddr

[2019-12-23 14:24] emanuele-f commented on #1949
Fixed in https://github.com/ntop/nDPI/commit/73c7ccdb65a1e13e3fb1726af7882dd34534906f

[2019-12-23 14:24] #1949 closed, assigned to nobody

[2019-12-23 14:42] fsamareanu opened #3144 "scheduled scripts generate warnings"
Hello,

The scripts used to check for updates generate unnecessary messages every time they run:

[code]
I have over 32k e-mails in the inbox now.

[2019-12-23 14:50] cardigliano commented on #3144
@fsamareanu a new package with a fix for this will be available in 1h, warnings will be suppressed

[2019-12-23 14:57] simonemainardi commented on #3143
Latest stable nDPI is 3.0 (https://github.com/ntop/nDPI/tree/3.0-stable) which successfully builds with ntopng 3.8.

I've added the release at https://github.com/ntop/nDPI/releases

[2019-12-23 14:57] #3143 closed, assigned to simonemainardi

[2019-12-23 15:39] fsamareanu commented on #3144
Thank you, it's gone now.

[2019-12-23 15:39] #3144 closed, assigned to nobody

[2019-12-23 17:08] emanuele-f commented on #3059
Even if the scripts are disabled there is an overhead since some operations are always performed. In 8b7d711a3674d2af92b59bf647c23c6f040de714 I've added an option to disable the invocation. Please wait one hour for the new package to be available, then upgrade and edit `/usr/share/ntopng/scripts/callbacks/interface/ht_state_update.lua`, setting `skip_user_scripts = true`. This will disable flow sc

[2019-12-23 17:38] cardigliano commented on #2835
Update: RSS support has been fixed on X550 with ZC drivers.

[2019-12-23 18:07] lucaderi commented on #3143
See https://github.com/ntop/ntopng/blob/3.8-stable/.travis.yml for compilation hints

[2019-12-23 19:37] traderose opened #3145 "Search filter by Autonomous system number ASN"
May be good to add search/filter per ASN. It will be helpful when you need to know traffic amount from your ASN to a remote ASN.

![image](https://user-images.githubusercontent.com/30375013/71376947-48a09780-25d4-11ea-9473-c9eadc32f3b4.png)

[2019-12-23 20:15] alanmilinovic commented on #3059
Ok, waiting for new package.

[2019-12-23 22:09] cavedon commented on #3143
Thank you for adding nDPI 3.0 to the releases.
However ntopng 3.8 in the [Releases](https://github.com/ntop/ntopng/releases) page does not build with nDPI 3.0 either (see error below).

If instead I build from the `3.8-stable` branch, then it builds successfully. Would you consider adding that to the releases, please, e.g. as 3.8.1?

Thank you.

nDPI release 3.0 + ntopng release 3.8:
[code]

[2019-12-24 09:03] tomarch opened #3146 "Can't access Web Interface after updating ntopng"
Hi,

Today i've updated our two ntopng server and now we can't access web interface.
We have the authentification form and after login we have "ERR_EMPTY_RESPONSE" error

ntopng --version
v.3.9.191224	[Enterprise/Professional build]
GIT rev:	dev:8b7d711a3674d2af92b59bf647c23c6f040de714:20191224
Pro rev:	r2626

we use centos 7 package: ntopng.x86_64   3.9.191224-8111

we have severals errors when l

[2019-12-24 09:38] simonemainardi commented on #3143
done

[2019-12-24 10:04] simonemainardi opened #3147 "System Charts Axes Invalid in Community Edition"
![image](https://user-images.githubusercontent.com/3397663/71408025-0b242480-263d-11ea-9d6a-f84607c21821.png)

![image](https://user-images.githubusercontent.com/3397663/71408045-170fe680-263d-11ea-94e5-5b994da52a80.png)

[2019-12-24 10:52] emanuele-f commented on #3146
This is now fixed. The new package will be available in one hour.

[2019-12-24 10:52] #3146 closed, assigned to emanuele-f

[2019-12-24 13:28] tomarch commented on #3146
Perfect, works again !
Thanks.

[2019-12-24 17:47] simonemainardi opened #3148 "High load on houskeeping.lua due to alerts"
Lua script `housekeeping.lua` puts a lot of pressure on the system.

![image](https://user-images.githubusercontent.com/3397663/71421816-8f969780-267d-11ea-972d-2253e80eb71c.png)

Alert-related functions contained in the script are responsible for this high load. Commenting them reduces the load dramatically. Specifically, the functions creating the highest pressure are the `json.decode`. It is re

[2019-12-25 00:20] cavedon commented on #3143
Thank you, very appreciated.

[2019-12-25 02:29] libin525308160 opened #3150 "Multiple ntopng points to influxdb, how to distinguish the source host"
Specify the database of multiple ntopng programs as the same influxdb database, and use grafana to obtain display data from influxdb. During this process, I found that it is impossible to distinguish which host the ntopng traffic comes from. How do I need to distinguish the source host?

[2019-12-27 08:12] lucaderi opened #3151 "Web error while displaying hash tables statistics"
![Screen Shot 2019-12-27 at 09 10 54](https://user-images.githubusercontent.com/4493366/71508666-dd332000-2888-11ea-9c4d-f72dff527943.png)

[2019-12-27 08:13] lucaderi opened #3152 "Slow processing even with almost no traffic reported"
![Screen Shot 2019-12-27 at 09 12 41](https://user-images.githubusercontent.com/4493366/71508728-153a6300-2889-11ea-8172-f3d12497834d.png)

[2019-12-27 08:55] simonemainardi opened #3153 "HTTP info no longer available"
![image](https://user-images.githubusercontent.com/3397663/71510378-00f96480-288f-11ea-931f-acfb601e500f.png)

hosts no longer show http info even tough that information should be available

[2019-12-27 09:15] #3151 closed, assigned to simonemainardi

[2019-12-27 09:22] simonemainardi commented on #3153
Fixed as of https://github.com/ntop/ntopng/commit/4b47316ebf9e390f46c4d7d4d4272d204406e97e

[2019-12-27 09:22] #3153 closed, assigned to simonemainardi

[2019-12-27 09:35] simonemainardi commented on #3152
threshold should be 50 and not 0 as shown in the image. This is the configuration obtained on the same host:

![image](https://user-images.githubusercontent.com/3397663/71511953-7b78b300-2894-11ea-95c1-d26d67ea83fb.png)

so it could be that user script slow_purge.lua is not reading the correct value.

[2019-12-27 09:37] simonemainardi commented on #3150
You have to use one InfluxDB database per process. Just configure a different database name on each ntopng instance.

[2019-12-27 09:37] #3150 closed, assigned to nobody

[2019-12-27 16:07] cardigliano commented on #3148
This has been improved by removing a json decode in 1 place (out of 3, as in the other 2 places it requires a major code rework) for alerts coming from the datapath, and a json encode that was actually duplicated.

[2019-12-27 16:07] simonemainardi commented on #2960
@gabryon99 please take care of this

[2019-12-27 16:19] simonemainardi opened #3154 "Community edition dropdowns are poorly styled"
In community edition, dropdowns look like

![image](https://user-images.githubusercontent.com/3397663/71524187-a121ae80-28cc-11ea-92a4-6be67e896263.png)

it is requested to restyle them to make them look as

![image](https://user-images.githubusercontent.com/3397663/71524246-eb0a9480-28cc-11ea-8010-93543986d5c4.png)

[2019-12-27 16:23] simonemainardi opened #3155 "Alerts dashboard poorly styled"
Filter criteria of the alerts dashboard are poorly styled, with a collapsible field hiding them

![image](https://user-images.githubusercontent.com/3397663/71524344-6bc99080-28cd-11ea-9d0a-75ab1c3d1334.png)

It is requested to remove this collapsible and make the search criteria standard as those in the flow alerts explorer:

![image](https://user-images.githubusercontent.com/3397663/71524371-8603

[2019-12-27 16:25] #2937 closed, assigned to nobody

[2019-12-28 15:08] lucaderi opened #3159 "Implement template in scripts/lua/config_list.lua and scripts/lua/script_list.lua"
This page is full of HTML and CSS code and it is not at all a lua file. Please
- implement a template with HTML code and use it
- move the CSS code into a separate file
- remove all references in code comments to authors

Create a pull request and submit it.

[2019-12-28 15:16] lucaderi commented on #3159
See for instance scripts/lua/flow_details.lua and templates present in httpdocs/templates

[2019-12-28 17:34] gabryon99 commented on #3159
Opened pull request: https://github.com/ntop/ntopng/pull/3160

[2019-12-29 10:58] emanuele-f commented on #2960
We could also evaluate to use a more basic map like: https://nabeelshahid.wordpress.com/2015/02/13/jvectormap-javascript-html-svg-based-world-world-regions-territories-countries-maps-plugin

[2019-12-29 11:05] bezi019 opened #3161 "ntopng timeseries"
hello,
quick question:
what's the differences between "Interfaces Timeseries", "Local Hosts Timeseries" and "Devices Timeseries"?

[2019-12-29 15:48] #3159 closed, assigned to gabryon99

[2019-12-29 21:20] lucaderi opened #3162 "Implement host blackhole"
Sometimes ntopng is put under heavy pressure by scanners who create thousand flows/sec y wasting a lot of resources and loading the CPU.
As ntopng is able to recognise scans, it is requested to implement a mechanism what
- whenever a IP source scanner is detected, it is insert on a special map for some time (e.g. 2 mins)
- flows with client belonging to the above map are discarded and accounted as

[2019-12-30 07:51] #2992 closed, assigned to nobody

[2019-12-30 08:33] simonemainardi commented on #3161
Hello

- Interfaces Timeseries: timeseries for the interface, that is, traffic (both tx and rx), l7 protocols, l4 protocols, etc. at the level of interface (e.g., eth0)
- Local Hosts Timeseries: timeseries calculated for each local host (you define local hosts using option -m). These timeseries can consume a lot of disk space, especially when the number of local hosts is high
- Devices Timeseries:

[2019-12-30 08:33] #3161 closed, assigned to nobody

[2019-12-30 08:35] simonemainardi opened #3163 "Javascript code in template files"
Template files `config_list.html` and `script_list.html` are full of javascript code while they should only contain html for the presentation. Please motivate the reason behind this choice. In other words, can such javascript be put in dedicated javascript files?

[2019-12-30 08:36] simonemainardi opened #3164 "Template files contain non-localized strings"
Template files `config_list.html` and `script_list.html` contain a lot of non-localized strings. i18n must always be used.

[2019-12-30 08:38] simonemainardi opened #3165 "Form submit always assume successful responses"
Forms in template files `config_list.html` and `script_list.html` always assume successful responses, i.e, no timeouts are handled, no responses != 200 are handled, it is always assumed the server responds with a valid 200 OK and with payload. It is requested to handle such cases.

[2019-12-30 08:40] simonemainardi opened #3166 "make minify fails"
Tried to edit `plugin-script-datatable.js` and re-run `make minify` but it fails:

[code]

[2019-12-30 09:54] gabryon99 commented on #3166
Thanks for the report. To minify the `plugin-script-datable.js` you have to make sure to have installated `uglify-es` because the script uses ES6 standards which are not support by uglify-js standard. You can find `uglify-es` in npm repositories. Then you have to type `make minify UGLIFY_VERSION=3` because as the npm page says the `es` version is s API/CLI compatible with `uglify-js@3`.

https://w

[2019-12-30 10:44] simonemainardi commented on #3166
please update the README.compilation and commit the necessary changes to the makefile so that `make minify` can complete without errors and without extra params such as `UGLIFY_VERSION=3`

[2019-12-30 10:59] simonemainardi opened #3167 "SYN Flood and SYN Scan alerts not triggered for ZMQ interfaces"
Alerts mentioned in the title require calls to `updateSynAlertsCounter` which is only called when processing packets and not flows. It is requested to change this behavior.

[2019-12-30 11:02] simonemainardi opened #3168 "Hosts TCP flags stats invalid for ZMQ interfaces"
`PacketStats::incFlagStats` assumes packet-by-packet updates

[code]

For ZMQ interfaces, where all the flags are received at the same time, this leads to inconsistent results. For example, a completed flow with syn+ack+fin would not cause any of the above counters to be incremented. It is requested to rework this behavior to make it work with ZMQ interfaces as well.

[2019-12-30 12:51] gabryon99 commented on #3163
I found a way to separate the javascript code from the template. I'm going to commit the edits I've done.

[2019-12-30 14:10] gabryon99 commented on #3166
Issue fixed: https://github.com/ntop/ntopng/pull/3169

[2019-12-30 14:10] #3166 closed, assigned to gabryon99

[2019-12-30 14:11] gabryon99 commented on #3165
Issue fixed: https://github.com/gabryon99/ntopng/commit/daf231391ddb3683043dcc0cbfe54e7738bef5b5

[2019-12-30 14:11] #3165 closed, assigned to gabryon99

[2019-12-30 14:24] simonemainardi opened #3171 "Config: Invalid targets accepted"
the UI accepts the target

![image](https://user-images.githubusercontent.com/3397663/71585875-5f854380-2b18-11ea-8f8a-c4883f876fe2.png)

the backend complains

30/Dec/2019 15:20:01 [Utils.cpp:2891] ERROR: Error parsing IPv6 q:p:
30/Dec/2019 15:21:01 [Utils.cpp:2891] ERROR: Error parsing IPv6 q:p:

it is requested not to accept invalid inputs

[2019-12-30 14:25] simonemainardi opened #3172 "(Invalid) targets accepted multiple times"
trying to add `x:y:z:w:q:p:l` yields an error message which is nonsensical

![image](https://user-images.githubusercontent.com/3397663/71585956-b0953780-2b18-11ea-9a58-235b8efbee26.png)

[2019-12-30 14:28] simonemainardi opened #3173 "Config names not validated in Javascript"
Yield internal server errors

![image](https://user-images.githubusercontent.com/3397663/71586049-0f5ab100-2b19-11ea-9388-ea635beffd40.png)

[2019-12-30 14:29] simonemainardi commented on #3173
also empty names should not be allowed

[2019-12-30 14:31] simonemainardi opened #3174 "Arbitraily long config names accepted"
no limit is imposed in the config name length. this causes software to malfunction

![image](https://user-images.githubusercontent.com/3397663/71586138-70828480-2b19-11ea-9765-6948c3daac0d.png)

[2019-12-30 14:58] emanuele-f commented on #3172
Fixed in 63e270313e21f6b5d386a0e0cef57ba9b7f008fc

[2019-12-30 14:58] #3172 closed, assigned to gabryon99

[2019-12-30 14:58] emanuele-f commented on #3171
Fixed in 03e3613e7ee8e8b1eec976324ecc119e21b19622

[2019-12-30 14:58] #3171 closed, assigned to gabryon99

[2019-12-30 16:42] gabryon99 commented on #3174
Fixed, see: https://github.com/ntop/ntopng/pull/3175

[2019-12-30 16:42] #3174 closed, assigned to gabryon99

[2019-12-30 16:42] gabryon99 commented on #3173
Fixed, see: https://github.com/ntop/ntopng/pull/3175

[2019-12-30 16:42] #3173 closed, assigned to gabryon99

[2019-12-30 16:43] #3163 closed, assigned to gabryon99

[2019-12-30 20:53] gabryon99 commented on #3154
Issue fixed: https://github.com/ntop/ntopng/pull/3176

[2019-12-30 20:53] #3154 closed, assigned to gabryon99

[2019-12-31 11:32] #3152 closed, assigned to emanuele-f

[2019-12-31 11:33] emanuele-f commented on #3152
The issue was caused by a missing purge on the ARP matrix hash.

![2019-12-31_11-59](https://user-images.githubusercontent.com/5488003/71620319-408ebc00-2bc1-11ea-871a-3180a555fb4b.png)

[2019-12-31 19:18] emanuele-f commented on #3059
New improvements implemented in https://github.com/ntop/ntopng/commit/87c336a4aae9e2ea0c8410830b24b42fa94375dd . The new package is now available. Please try both with and without `skip_user_scripts = true`.

[2019-12-31 20:42] alanmilinovic commented on #3059
Now it is 2%, with or without skip user scripts. Thank you for a great work! Happy new year!

[2019-12-31 22:12] aaronjwood opened #3177 "Wrong speed detection of 10GbE interface"
I have a Mellanox  ConnectX-2 card which is 10GbE. From ethtool:
[code]

This interface shows up as gigabit in ntop:
![Capture](https://user-images.githubusercontent.com/446283/71635223-85bde880-2bd7-11ea-801c-33f1a0adf660.PNG)

[2020-01-02 09:23] cardigliano opened #3178 "User scripts operators"
The user scripts threshold configuration now allows the user to select the operator like '>' or '<' (with respect to a configured value). This often does not make sense, for instance it does not make sense to define the SYN Flood as SYN/s '<' of a value (and it can lead to misconfigurations). It would be nice to list operators that make sense only (the script should provide the list).

[2020-01-02 09:52] #3148 closed, assigned to cardigliano

[2020-01-02 09:59] #3178 closed, assigned to emanuele-f, gabryon99

[2020-01-02 11:32] emanuele-f commented on #3164
Note: non localized strings are also present in js files (e.g. scripts-list-utils.js), please fix this as well

[2020-01-02 11:37] cardigliano commented on #3177
@aaronjwood are you sure you didn't configure/overwrite the interface speed in the interface configuration tab? Otherwise it means ntopng is failing reading the interface speed through the ethtool API, any chance we can ssh to this system to debug it?

[2020-01-02 11:53] simonemainardi opened #3180 "Host tcp packets size distribution shows TCP flags"
![image](https://user-images.githubusercontent.com/3397663/71665894-d27ffb80-2d5e-11ea-88d0-85bfeaeb61b0.png)

[2020-01-02 13:39] fluxcap1 opened #3182 "make geoip fails after GeoLite CCPA policy update"
Maxmind implemented CCPA and removed the free, direct access GeoIP download. A user should signup for a Maxmind user account for access databases.

`--2020-01-02 05:10:19--  http://geolite.maxmind.com/download/geoip/database/GeoLite2-City.tar.gz
Resolving geolite.maxmind.com (geolite.maxmind.com)... failed: Name or service not known.
wget: unable to resolve host address ‘geolite.maxmind.com’
--202

[2020-01-02 13:50] emanuele-f commented on #2929
This is implemented into the new user_scripts gui.

[2020-01-02 13:50] #2929 closed, assigned to emanuele-f

[2020-01-02 13:50] emanuele-f commented on #2974
This is implemented into the new user_scripts gui.

[2020-01-02 13:50] #2974 closed, assigned to simonemainardi, emanuele-f

[2020-01-02 13:51] emanuele-f commented on #2946
This is implemented into the new user_scripts gui.

[2020-01-02 13:51] #2946 closed, assigned to simonemainardi

[2020-01-02 14:03] StewAlexander-com opened #3183 "When running ntopng network discovery the traffic report hangs"
NTOPNG version info:

![image](https://user-images.githubusercontent.com/48565067/71670701-bec49d00-2d3e-11ea-80b9-8ffd453e6059.png)
---
![image](https://user-images.githubusercontent.com/48565067/71670627-7311f380-2d3e-11ea-9e44-8a8c94db09ca.png)

[2020-01-02 14:04] emanuele-f commented on #3182
More information: https://blog.maxmind.com/2019/12/18/significant-changes-to-accessing-and-using-geolite2-databases

[2020-01-02 14:52] simonemainardi commented on #3168
fixed in https://github.com/ntop/ntopng/commit/591421d530471a3c2c33730a5b08815b9bfcbc9b

[2020-01-02 14:52] #3168 closed, assigned to simonemainardi

[2020-01-02 15:43] simonemainardi commented on #3183
hi, how can you tell this is due to the network discovery? please give any possible detail

[2020-01-02 15:48] StewAlexander-com commented on #3183
@simonemainardi

The simplest explanation is that after running network discovery, and before it finishes I go to the traffic report screen and it times out as above.

After the network discovery process is finished, I go to the same traffic discovery page and it loads as expected.

[2020-01-02 16:03] simonemainardi commented on #3180
fixed as of https://github.com/ntop/ntopng/commit/591421d530471a3c2c33730a5b08815b9bfcbc9b

[2020-01-02 16:03] #3180 closed, assigned to simonemainardi

[2020-01-02 18:22] #3167 closed, assigned to simonemainardi

[2020-01-02 21:12] aaronjwood commented on #3177
Yeah, I haven't fiddled with any of the interface settings. I did make a change recently and restart ntop which seems to have fixed the issue. I'm now passing `-U 1000` and `--community` args at runtime where I wasn't before. No idea why this would fix the issue, I'm thinking it's unrelated. If I hit the issue again I'll post my findings and explain what steps I took to get there.

[2020-01-02 21:18] aaronjwood commented on #3177
The issue popped up again. Yesterday after the restart of ntop the interface speed was detected correctly but today it's back to being reported at 1.0 Gbit/s. I don't see any relevant logs on stdout/stderr but I'm able to reproduce this behavior:

1. Restart ntop
2. See that the interface speed is reported correctly
3. Wait some time (unsure of how long) and see that the interface speed is reporte

[2020-01-02 21:23] aaronjwood commented on #3177
Another thing to note: when the speed is being reported correctly ntop shows the IPv6 link-local address like so:
![Capture](https://user-images.githubusercontent.com/446283/71694066-f3e2e680-2d62-11ea-84f0-98506883a7db.PNG)

When the speed is not reported correctly there's no detection of the link-local address (see screenshot in my original post)

[2020-01-03 08:10] cardigliano commented on #3177
@aaronjwood could you confirm that the interface speed switches from 10 to 1G without restarting ntopng? (please check the uptime to make sure) Thank you

[2020-01-03 08:58] simonemainardi opened #3185 "Localization and Javascript files"
A lot of boilerplate code is currently necessary to pass localized strings to javascript files

![image](https://user-images.githubusercontent.com/3397663/71714738-50034480-2e0f-11ea-8ae8-c30d74ac16a1.png)

It is requested to propose a solution to avoid this. Among the possibilities are:
- Automatically generate a js file with localized strings out of the lua i18n
- Do not use localized strings in

[2020-01-03 09:19] simonemainardi opened #3186 "ntopng reportedly crashes"
We need to review if there is some kind of network saturation in a site. But when we tried to open NTOP to check it, we found it down.
We rebooted the server and updated it but the problem remains.

We do not know what more to check and do. I attach what we get for asking ntopng status:

loops@monit:/etc/nprobe$ sudo systemctl status ntopng
● ntopng.service - ntopng high-speed web-based traffic mo

[2020-01-03 10:26] simonemainardi commented on #3183
Do you know at what percentage the discovery is when the report hangs? Does the report page fail to completely load? Can you please open the browser inspector and tell if you see any pending HTTP requests? Is there an heavy redis activity? Please, check it with `redis-cli monitor`

[2020-01-03 11:01] cardigliano commented on #3186
ntopng was failing to start due to inability to connect to mysql

[2020-01-03 11:01] #3186 closed, assigned to nobody

[2020-01-03 11:30] fluxcap1 commented on #3182
A workaround for this is to install geoipupdate tool, create an account on Maxmind web, generate a token, download configuration file and copy it as /etc/GeoIP.conf.

Run - geoipupdate -v -d /usr/local/src/ntopng/httpdocs/geoip/

gmake install, no need to run gmake geoip.

[2020-01-03 11:40] EpiqSty opened #3187 "errors in ntopng log after upgrade to latest"
Hi,
Today, after upgrading to the latest ntopng version:
[code]
we're faced with such errors in the logs:
[code]
our system is:
[code]

[2020-01-03 12:10] emanuele-f commented on #3187
This is fixed in 6795ed5d077ec38a85549592c9f79829e4db7eeb. A new package will be available in one hour.

[2020-01-03 12:10] #3187 closed, assigned to nobody

[2020-01-03 12:24] #3164 closed, assigned to gabryon99

[2020-01-03 12:29] StewAlexander-com commented on #3183
I cannot replicate the problem...

I believe it may be because when I originally saw this, I had just upgraded ntopng. theory is it wasn't at a "steady-state" yet, and so therefore a resource allocation issue occurred -- just conjecture.

Now that the latest ntopng has had a day to collect data, there's no longer the hang.

Could you please attempt a replication?

Thank you ...

[2020-01-03 14:13] ggirotto opened #3188 "macOS ERROR: Unable to write on /var/lib/ntopng as 'ntopng'"
Running latest ntopng version installed using Homebrew on macOS 10.15.2

When running `sudo ntopng`, the following error is thrown:

`[main.cpp:374] ERROR: Unable to write on /var/lib/ntopng as 'ntopng' [/var/lib/ntopng/.test]: No such file or directory. Please specify a different directory (-d)`

When manually creating the directory, the following error happens:

`03/Jan/2020 11:11:46 [main.cpp:3

[2020-01-03 14:22] cardigliano commented on #3188
ntopng is changing user to 'ntopng' by default, please try with --dont-change-user or setting a different user with --user <user> (check the /var/lib/ntopng permission accordingly)

[2020-01-03 14:29] ggirotto commented on #3188
Using `--dont-change-user` worked perfectly. Thanks for the quick answer

[2020-01-03 14:31] #3188 closed, assigned to nobody

[2020-01-03 14:33] emanuele-f opened #3189 "Filtered on/off toggles in user scripts config not bound"
The event binding occurs during table load, but some elements are hidden due to the enabled/disabled filter. The events on such items are not bound, in fact clicking the on/off button after switching the tab produces no effect.

![Peek 2020-01-03 15-31](https://user-images.githubusercontent.com/5488003/71728723-c3b84800-2e35-11ea-8b68-52e7f1ed2d0f.gif)

[2020-01-05 10:46] #3189 closed, assigned to gabryon99

[2020-01-06 10:03] fluxcap1 opened #3191 "Unclean shutdown error"
I am running ntopng on openSUSE Leap-15.1 and every time after a reboot I get this error via mail - `[06/01/2020 01:19:38][Error][Process] Started after anomalous termination (bug report) ntopng v.3.8.191004 (openSUSE Leap 15.1) [pid: 4478][options: --user "ntopng" --interface "eth0" --interface "eth1" --http-port "0" --https-port "192.168.0.155:3001" --local-networks "192.168.0.0/24" --local-netw

[2020-01-06 11:13] AmCrNi opened #3192 "n2disk package for armhf"
I wasn't able to find it http://packages.ntop.org/RaspberryPI/buster_pi/armhf/ however it is available for debian buster http://packages.ntop.org/apt/buster/x64/.

Is it possible to prepare package n2disk for raspberry pi?

[2020-01-06 11:55] HH62 opened #3193 "Ntopng script failure"
Hi,

i'm getting this ntopng error regularly:

[LuaEngine.cpp:11750] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/system/discover.lua][attempt to index a function value]

Any ideas?
Ntopng version is 3.9.200103 (8545) - Professional Edition running under Ubuntu 18.04.3 LTS.

Greetings
Hendrik

[2020-01-07 05:29] idris-d opened #3194 "ERROR: Unable to create /storage/ntopng/3/rrd/drops.rrd [Cannot create temporary file]"
Hi all,
I am currently using the following:
ubuntu16:04
ntopng Enterprise Edition v.3.9.200107
 Ubuntu 16.04.6 LTS (GNU/Linux 4.4.0-170-generic x86_64)

I am faced with the following errors:
 ERROR: Unable to create /storage/ntopng/3/rrd/drops.rrd [Cannot create temporary file]
 WARNING: mkdir(/storage/ntopng/3/rrd/) failed [13/Permission denied]
here is what my permission looks
Storage folder per

[2020-01-07 08:22] tercaneBay opened #3195 "ntopng script error on login"
Script "/usr/share/ntopng/scripts/lua/login.lua" returned an error:
/usr/share/ntopng/scripts/lua/modules/locales_utils.lua:40: bad argument #1 to 'for iterator' (table expected, got nil)

ntopng - version 3.9.200107-8567
ntopng-data - 3.9.200107

also on on console manuel run of ntopng facing this logs;

07/Jan/2020 11:26:31 [LuaEngine.cpp:11750] WARNING: Script failure [/usr/share/ntopng/scripts

[2020-01-07 08:23] simonemainardi commented on #3191
it seems ntopng isn't able to terminate gracefully. Are you able to setup core dump generation as described in https://www.ntop.org/support/need-help-2/need-help/?

Then, please enclose the resulting stacktrace or the whole core.

[2020-01-07 08:26] simonemainardi commented on #3193
Do you have periodic discovery enabled? Does this error occur every time the discovery runs?

[2020-01-07 08:40] simonemainardi commented on #3195
platform?

Seems an issue with the loading of plugin locales:

[code]

[2020-01-07 08:49] simonemainardi commented on #3194
unless you've specified `--dont-change-user` or specified a user with `-U`, ntopng will run as user `ntopng`.

You should make sure the data directory (`/storage/ntopng` in your case) is readable and writable by the user which is running ntopng.

Either try to add `--dont-change-user` to ntopng or execute `sudo chown -R ntopng:ntopng /storage/ntopng`

[2020-01-07 09:12] cardigliano commented on #3192
Moved to https://github.com/ntop/n2disk/issues/22

[2020-01-07 09:12] #3192 closed, assigned to nobody

[2020-01-07 09:34] simonemainardi commented on #3182
ntopng-data package now brings `geoipupdate` as dependency rather than geolocation databases. Instructions to continue using geolocation in ntop products are available at https://github.com/ntop/ntopng/blob/dev/doc/README.geolocation.md

[2020-01-07 09:34] #3182 closed, assigned to nobody

[2020-01-07 09:40] simonemainardi commented on #3183
I'm unable to replicate. I've tried to forcefully block the discovery process in the middle and generate reports several times, but under no circumstance I've been able to reproduce. Reports always generate and do not hang. So I am closing this for now but feel free to comment again or reopen if you find additional evidence of a systematic way to reproduce.

[2020-01-07 09:40] #3183 closed, assigned to simonemainardi

[2020-01-07 09:53] tercaneBay commented on #3195
Ubuntu default config. Even i run without config file. This occurs.

[2020-01-07 11:50] cardigliano commented on #3121
This now works with simple strings as in the example above, however it still does not work with strings containing spaces or special characters ("'" should be used in this case, however it is not currently allowed by the validator)

[2020-01-07 11:55] simonemainardi commented on #3195
ubuntu version?

[2020-01-07 13:11] simonemainardi commented on #3138
hi @webernetz wondering if you've had the chance to try this...

[2020-01-07 13:18] tercaneBay commented on #3195
Ubuntu 18.04.3 LTS

[2020-01-07 15:12] simonemainardi commented on #3195
I've added extra debug info which should help in diagnosing this issue. A new build is in progress, hold on an our, update, and provide the new logs.

In the meanwhile, can you please try and attach the contents of /var/lib/ntopng/plugins/locales/en.lua. Then stop ntopng, delete it, and restart ntopng to see if the error continues

[2020-01-07 15:24] cardigliano commented on #3177
@aaronjwood any update on this? Please also let us know if it is possible to ssh to this system to debug the issue. Thank you.

[2020-01-07 16:10] fluxcap1 commented on #3191
I am not getting any coredump.
`root@linux-fx1e:/home/flux # coredumpctl list

No coredumps found.`

[2020-01-07 16:20] simonemainardi commented on #3191
add option --dont-change-user to ntopng and retry. To reproduces manually you can run

`kill -SEGV <the pid of ntopng>`

and check if the core dump generates

[2020-01-07 16:29] fluxcap1 commented on #3191
Nothing as yet -
root@linux-fx1e:/home/flux # kill -SEGV 15904

root@linux-fx1e:/home/flux # systemctl start ntopng.service

root@linux-fx1e:/home/flux # systemctl status ntopng.service
● ntopng.service - ntopng high-speed web-based traffic monitoring and analysis tool
   Loaded: loaded (/usr/lib/systemd/system/ntopng.service; enabled; vendor preset: disabled)
   Active: active (running) since Tue

[2020-01-07 17:16] aaronjwood commented on #3177
I haven't hit the issue again since it happened. And no, this environment is closed off so I can't provide ssh access.

[2020-01-07 18:52] simonemainardi commented on #3162
Duplicate of #2609

[2020-01-08 06:13] tercaneBay commented on #3195
After latest new build its fixed.

[2020-01-08 06:43] lucaderi commented on #3185
I think the way it is implemented makes sense. Adding further complexity generating JS as suggested won't make things simpler. @simonemainardi ok for you to close this ticket?

[2020-01-08 08:28] cardigliano commented on #3121
Fixed

[2020-01-08 08:28] #3121 closed, assigned to lucaderi

[2020-01-08 10:02] fluxcap1 commented on #3191
The error is gone now. I changed the ExecStart= to
/usr/local/bin/ntopng --user ntopng -i eth0 -i eth1 --http-port 0 --https-port 192.168.0.155:3001 -m 192.168.0.0/24 -n 1 -d /var/lib/ntopng -r XXXXXXX:XXXX -l 1

Removed ExecStopPost=

Now there isn't any anomalous termination mail from system.

systemctl status ntopng
● ntopng.service - ntopng high-speed web-based traffic monitoring and analysis

[2020-01-08 10:03] #3191 closed, assigned to nobody

[2020-01-08 10:25] HH62 commented on #3193
Network discovery is enabled and set to 15 min. The error occurs once, thereafter the data collection is terminated, Ntopng still running.

[2020-01-08 10:51] simonemainardi opened #3197 "Strange Behaviour of User Scripts Called on View Interfaces"
It seems flow users scripts are no longer executed on view interfaces. It is requested to diagnose and solve this issue.

[2020-01-08 11:09] simonemainardi opened #3198 "Broken alerts for ICMP"
Visualizing alerts for ICMP flows breaks the page and yields the following error

[code]

![image](https://user-images.githubusercontent.com/3397663/71973569-8ece3b80-320f-11ea-85e2-9c871376a1d9.png)

![image](https://user-images.githubusercontent.com/3397663/71973613-a3123880-320f-11ea-9ffd-1ca7afe05914.png)

[2020-01-08 11:18] #3195 closed, assigned to simonemainardi

[2020-01-08 12:09] lucaderi commented on #3162
Not a full duplicate. Let's keep it open for the time being.

[2020-01-08 14:07] cardigliano commented on #3070
A src/dst country code has been added to nindex

[2020-01-08 14:13] #3070 closed, assigned to cardigliano

[2020-01-08 15:11] cardigliano commented on #3177
Please let us know if you are able to reproduce again (maybe we can connect with TeamViewer or other supervised tool?)

[2020-01-08 16:57] lucaderi opened #3200 "Crashes are no longer reported in the system log"
![Screen Shot 2020-01-08 at 17 55 04](https://user-images.githubusercontent.com/4493366/71998501-103dc200-3240-11ea-9a45-72c818de129c.png)

In the past few hours ntopng crashed but these are not reported in the log. We can only see "start events" with invalid duration (what does <1 sec mean for these events?)

[2020-01-08 16:59] lucaderi opened #3201 "Missing ntopng update events"
![Screen Shot 2020-01-08 at 17 58 02](https://user-images.githubusercontent.com/4493366/71998718-70ccff00-3240-11ea-9aa1-bce70bfbc251.png)

When ntopng is updated (e.g. overnight with the automatic updates for instance) the system log does not report this event. it must be added in order to track application lifecycle

[2020-01-08 17:51] cardigliano commented on #3201
Implemented

[2020-01-08 17:51] #3201 closed, assigned to nobody

[2020-01-08 18:50] simonemainardi opened #3202 "Reuse of VMs breaks walk logic and interface views"
Commit 87c336a4

Breaks the logic behind the generic flow hash table walker. Indeed, it arbitrarily casts a `void*` into something an also allocate stuff. Method is not supposed to know or assume anything about the `void*` - everything should be up to the caller

[code]

As a corollary, this also break the `flow.lua` script in case of view interfaces where the call is performed in the view in `Vie

[2020-01-09 08:35] simonemainardi opened #3203 "Flow Alerts Explorer not listing alerts"
442 alerts match the search criteria (there's an alert origin indicated)

![image](https://user-images.githubusercontent.com/3397663/72051254-2b9de100-32c3-11ea-9713-2712fa1a8525.png)

however, switching to tab flows, does not show any result

![image](https://user-images.githubusercontent.com/3397663/72051300-43756500-32c3-11ea-83a6-056fdd99e5a7.png)

as the visual explorer has alerts, it is very

[2020-01-09 08:37] simonemainardi commented on #3194
Closing for inactivity. No feedback received. Please, reopen with the requested information if necessary.

[2020-01-09 08:37] #3194 closed, assigned to nobody

[2020-01-09 08:38] simonemainardi commented on #3193
What do you mean with data collection is terminated? The discovery is terminated?

[2020-01-09 09:09] simonemainardi commented on #3193
however, I can't reproduce on

[code]

can you please update to the latest version and see if it is still occurring?

[2020-01-09 09:32] simonemainardi commented on #3202
as a workaround I've coded this

https://github.com/ntop/ntopng/commit/d635c52bc63f23f03a3abed4f5ef79a3b392b5fe

but the solution is not to reuse a VM across multiple interfaces

[2020-01-09 12:26] PawelConnectio opened #3204 "Hash table idle entries purging on interface xxx is too slow."
  | Hash table idle entries purging on interface all is too slow. This could lead to high memory utilization, data accuracy loss and missing alerts. [> 0%]
-- | --

` ntopng --version
v.3.9.200109    [Enterprise/Professional build]
GIT rev:        dev:3827baeab3860bf4be73a970c97fb1f2a1453eb4:20200109
Pro rev:        r2648
Built on:       Debian GNU/Linux 9.1 (stretch)
System Id:      6894571582072

[2020-01-09 14:26] #3198 closed, assigned to nobody

[2020-01-09 18:58] cardigliano commented on #3200
This seems to be working on my installation, I ran a few tests shutting down it brutally and the crash is always reported

[2020-01-09 19:42] lucaderi opened #3205 "Invalid multitenant network handling"
When ntopng is running with a user who has network defined (multitenant), such user has hidden all the hosts not belonging to him. Unfortunately such user can still visualise network he's not supposed to see

[2020-01-09 19:45] lucaderi opened #3206 "Limited ICMP Information"
![image](https://user-images.githubusercontent.com/4493366/72099300-a5b08300-3320-11ea-8b4b-75072207383e.png)

In case of ICMP port unreachable ntopng should report also what port/flow is unreachable

[2020-01-09 19:48] lucaderi opened #3207 "Add pcap download capability"
In user preferences it is requested to add a flag to allow non-admin users to be able to download pcap files. Note that in case a user has restrictions in terms of networks, the pcap should contain only packets belonging to such networks.

[2020-01-09 19:50] lucaderi opened #3208 "Add multitenant support to n2disk"
As follow-up to #3207 it is requested to implement multitenant support also whenever n2disk is enabled with ntopng.

[2020-01-09 19:53] lucaderi opened #3209 "Restore inactive hosts via search"
In /lua/host_details.lua?host=X.X.X.X if host X.X.X.X is not active but it used to be active, ntopng will restore it to memory and show a limited representation of the host, including historical data. it is requested that putting X.X.X.X in the search field, the host X.X.X.X is also restored in memory (if previously serialised)

[2020-01-09 19:55] lucaderi opened #3210 "Multitenant alert support"
In case ntopng is configured with multitenant, each user should not see all alerts but only those that have been emitted for the configured hosts.

[2020-01-10 09:11] emanuele-f commented on #3204
Closing this to avoid splitting information across multiple sources as we are currently discussing this via email. Will reopen if necessary.

[2020-01-10 09:11] #3204 closed, assigned to nobody

[2020-01-10 09:34] notyourcommy opened #3211 "After the ntopng update only half of traffic bandwidth is shown in ASN stats and host pools."
After an update in December 26.12 (unfortunately I dont remember from which version to latest at that date) we see that only half of bandwidth is shown in ASN stats and host pool stats (and even if we look "per ip" stats)
Meanwhile traffic is there as you can see on "Interface statistic" charts.
ntopng -V
v.3.9.200108	[Enterprise/Professional build]
GIT rev:	dev:724f1da5ea00392185df691ebde24a40ae1

[2020-01-10 10:02] emanuele-f opened #3212 "Description tooltip does not appear on the inactive tabs"
To reproduce:
1. Click on the "Enabled" tab and reload the page
![2020-01-10_11-01](https://user-images.githubusercontent.com/5488003/72144245-2490d480-3390-11ea-8a3d-38635d7d7940.png)

2. Click on the "Disabled" tab. The tooltip on this tab will not work.
![2020-01-10_10-58](https://user-images.githubusercontent.com/5488003/72144145-ef848200-338f-11ea-9b7e-ea77bc535d97.png)

[2020-01-10 10:02] Aesculapius opened #3213 "Cannot reach settings in community mode"
Somehow I'm unable to reach certain pages among which the settings page when the professional license has expired. Using the professional license, everything works (for 10 minutes). The following error is displayed:

 Script "/usr/share/ntopng/scripts/lua/admin/prefs.lua" returned an error:
/var/lib/ntopng/plugins/alert_endpoints/nagios.lua:1: unexpected symbol near '<\135>'

Using ntopng Communit

[2020-01-10 10:10] emanuele-f commented on #3213
If you plan to work in community mode please add the `--community` flag into the ntopng configuration file (/etc/ntopng/ntopng.conf) or command line. That being said, the problem is that after switching back to community mode we should reload the list of active ntopng plugins, we will discuss this internally.

[2020-01-10 10:57] #3206 closed, assigned to simonemainardi

[2020-01-10 12:17] #3205 closed, assigned to simonemainardi

[2020-01-10 13:30] simonemainardi opened #3214 "Flows and alerts wrongly categorized as mining"
This happens over ZMQ. Private ip addresses cannot be considered miners. The same happens for certain good public ip addresses.

![image](https://user-images.githubusercontent.com/3397663/72156373-aba47380-33b5-11ea-84af-c932bab2e818.png)

[2020-01-10 13:30] simonemainardi commented on #3214
moreover, the bitcoin logo is broken

[2020-01-10 13:53] Aesculapius commented on #3213
Thanks, that solved my issue. Won't close because of your suggestion to improve.

[2020-01-10 15:10] cardigliano commented on #3177
Closing for the time being, please reopen if it happens again

[2020-01-10 15:10] #3177 closed, assigned to cardigliano

[2020-01-10 15:16] lucaderi opened #3216 "Missing port from flow alerts"
In #3214 there is an image that shows a few alerts. They lack of the port that instead must be present.

[2020-01-10 15:21] simonemainardi commented on #3214
it turn out that those flows were on port 30303 which is known to be used by ethereum so this is not a bug

[2020-01-10 15:21] #3214 closed, assigned to simonemainardi

[2020-01-10 15:49] lucaderi commented on #3200
Seems to work now. Closing it.

[2020-01-10 15:49] #3200 closed, assigned to nobody

[2020-01-10 17:56] #3203 closed, assigned to simonemainardi

[2020-01-11 11:36] lucaderi opened #3217 "Create self check alert"
In case ntopng misbehaves (e.g. 100% CPU loop, no packet processed, memory exhausted etc) it should be possible to trigger an alert to that a remote administrator can be notified and address the issue.

[2020-01-12 21:14] emanuele-f opened #3218 "Elephant/long lived flows user scripts configuration"
The elephant flows configuration, currently located into the global ntopng preferences, should be moved to the user scripts configuration page via a template. In particular, it is necessary to implement two new templates, with the inputs fields shown in this picture:

![2020-01-16_14-28](https://user-images.githubusercontent.com/5488003/72528936-1ea16480-3864-11ea-903a-75231cb69f4e.png)

[2020-01-12 21:17] emanuele-f opened #3219 "Show user scripts benchmarks under the internals section"
After commit d037f9a9a44a87bdbb23699f62045fea112e3d1f it's necessary to implement a section in the internals page to show the benchmarks info that are currently missing

[2020-01-12 21:21] emanuele-f opened #3220 "Show current user script value"
Right now, in order to see the current user script configuration, it's necessary to open each user script. It is requested to show the current user script value directly in the user scripts datatable in a compact way. Sinche the template logic is implemented in javascript, the frontend should take care of formatting the compact message.

[2020-01-12 21:23] emanuele-f opened #3221 "Make the user scripts IDs dynamic"
Both the status and the alert ID should be automatically generated as they are only intended for internal use. The status/alert key should be used instead of the ID to reference a particular status/alert in the API.

[2020-01-12 21:30] emanuele-f opened #3222 "Improve alert score"
Requested changes:
- Rename `relevance` to `score`
- Add ability to specify a callback to implement a custom score calculation logic
- Remove JA3 server alert, rename script to ja3c
- Avoid refreshing the score too often as it may be computed on partial data
- Properly visualize host score
- Implement score chart
- Implement a threshold alert on an host score

[2020-01-13 00:52] dtouzeau opened #3223 "Unable to compile on Debian 10 ( src/RwLock.o )"
Using the last git

[code]

[2020-01-13 09:59] emanuele-f commented on #3223
Please post the output of `git log -n 1` on both nDPI and ntopng. Did you execute in nDP both and ntopng `./autogen.sh` and `make`?

[2020-01-13 10:13] simonemainardi opened #3224 "TCP flags under host_details on packets view"
latest ntopng reportedly missing the tcp flags under host_details on packets view. It just shows Other. Used to show SYN,RST,etc with flow data.

[2020-01-13 10:19] simonemainardi commented on #3197
fixed

[2020-01-13 10:19] #3197 closed, assigned to simonemainardi

[2020-01-13 10:23] simonemainardi opened #3225 "Flow user scripts for view interfaces"
Viewed interfaces, that is, those that are part of a `view:`, must inherit flow user scripts configuration from the view.

Therefore, flow user scripts must not be configurable for such viewed interfaces (this is already implemented) and when retrieving the configuration in `flow.lua`, one should retrieve the configuration of the view for any of the underlying viewed interfaces.

[2020-01-13 11:19] #3216 closed, assigned to simonemainardi

[2020-01-13 11:22] emanuele-f opened #3226 "Alert the flow when some specific countries contact/are contacted"
The user script will need to provide an input to allow the user to edit the blacklisted countries

[2020-01-13 11:24] simonemainardi commented on #3224
seems affecting only ZMQ interfaces

[2020-01-13 11:30] dtouzeau commented on #3223
Seems missing execution autogen.sh on nDPI ( should fix the issue )
Perhaps add it here : https://www.ntop.org/get-started/download/

Just mention:  **source of zeromq-4.1.7 is corrupted**

[code]
Seems install-sh, install.sh, or shtool is not present in /root/ntopng/third-party/zeromq-4.1.7

Fix it by:
[code]
Restart make...

[2020-01-13 11:30] #3223 closed, assigned to nobody

[2020-01-13 11:56] simonemainardi commented on #3224
Fixed.  Issue was on nProbe which wasn't sending TCP flags when operating in collector mode.

[2020-01-13 11:56] #3224 closed, assigned to simonemainardi

[2020-01-13 12:03] cardigliano commented on #3207
Implemented

[2020-01-13 12:03] #3207 closed, assigned to cardigliano

[2020-01-13 13:25] HoseinKashefi opened #3227 "[ntopng] High ZMQ message drops"
according to the image, which options or stats need to check to find out the problem
cento --version
v.1.11.200101
ntopng --version
v.3.9.200101
Using PFRING_ZC v.7.5.0.191219

 ![image](https://user-images.githubusercontent.com/43135531/72259228-2f17cc00-3625-11ea-800b-0beafa25d4bf.png)

[2020-01-13 14:05] emanuele-f opened #3228 "ViewInterfaces not purging hosts"
It seems like hosts are not properly purged in ViewInterfaces:

![image008](https://user-images.githubusercontent.com/5488003/72261874-a5a8cf80-360d-11ea-8986-5347206b5428.jpg)
![image006](https://user-images.githubusercontent.com/5488003/72261875-a5a8cf80-360d-11ea-83ba-f5b2fbbeacc2.jpg)

[2020-01-13 14:45] #3228 closed, assigned to simonemainardi

[2020-01-13 15:21] emanuele-f opened #3229 "Add ability to export and import user scripts configuration"
This is necessary to allow the user to clone configuration across different machines

[2020-01-13 16:57] tofic77 opened #3230 "Script "/usr/share/ntopng/scripts/lua/if_stats.lua" returned an error:"
Script "/usr/share/ntopng/scripts/lua/if_stats.lua" returned an error:

/var/lib/ntopng/plugins/alert_endpoints/nagios.lua:1: unexpected symbol near '<\135>'

Fresh install on Raspberry Pi with this procedure: http://packages.ntop.org/RaspberryPI/

[2020-01-13 17:12] emanuele-f commented on #3230
This is probably a duplicate of #3213 , adding `--community` should fix it.

[2020-01-13 17:19] emanuele-f commented on #3226
Implemented in 7679da4d21c97725692530fbfd09323c0e5b7b91 . @gabryon99 please take care of the following things:
- Add a label beside the textarea (e.g. with "Blacklisted Countries list:")
- Fill the textarea with the previous value when the dialog is opened
- Separare the template specific code (e.g. for the threshold cross) from the generic code (see TODO in scripts-list-utils.js)

[2020-01-13 17:25] emanuele-f opened #3231 "edit_configset.lua does not handle errors"
The javascript code does not handle:

- HTTP reply errors (e.g. 503): the configuration edit dialog window is just closed, no error reported
- Errors returned by the lua API in JSON: see the `success` and `error` fields

Please note that such common errors must be handled in all the pages, so please pay attention to this

[2020-01-13 17:28] simonemainardi commented on #3211
I have made a fix on nprobe and re-testing everything in a controlled environment. Everything works as expected, either in the host pool as well as on the single host. note that on sFlow, as it involves traffic sampling, you will not have 100% accurate data, but still pretty good agreeement.

It could be that host pool traffic was double counted before in the case source and destination host pools

[2020-01-13 17:55] tofic77 commented on #3230
Ok, sorry i didn't find the issue #3213.

Thank you for your help.

[2020-01-13 17:55] #3230 closed, assigned to nobody

[2020-01-13 18:01] joerg-wille opened #3232 "[Question] how to do traffic analysis on fritzbox"
Hi,
I want to log and visualize my private fritz!box router and found following script:
https://github.com/ntop/ntopng/blob/dev/tools/fritzdump.sh
Since I am on a Mac I installed ntopng with brew and started redis and followed this blog:
https://www.ntop.org/ntopng/how-to-use-ntopng-for-realtime-traffic-analysis-on-fritzbox-routers/

For some reason I then "should" start logging "lan" in the URL:

[2020-01-13 22:13] notyourcommy commented on #3211
Updated, same results.
I also thought that maybe it was bad calculation previously but no. We have other sFlow collectors (just for peace of mind) and we can compare the results - for example from nfsen/nfdump (screenshots attached).  As you can see picture was almost identical previously
p.s. I can let you inside this system if you want (or we can even buy support hours via shop.ntop.org)
![googl

[2020-01-13 23:13] cardigliano commented on #3208
Implemented (direct extraction only)

[2020-01-13 23:13] #3208 closed, assigned to cardigliano

[2020-01-14 08:45] simonemainardi commented on #3211
Thanks for the quick update.

Please, also visit page Exporters, then pick the sFlow exporter, and chart the traffic on its interfaces. Please, tell me if that are consistent (they are extracted from counter samples and not flow samples).

Also visit page Interface and post a screenshot, I would like to see if there are ZMQ or samples drops.

[2020-01-14 10:04] jpgpi250 opened #3233 "Script "/usr/share/ntopng/scripts/lua/if_stats.lua" returned an error"
Raspbian Buster Lite, Minimal image based on Debian Buster
Version: September 2019
Release date: 2019-09-26
Kernel version: 4.19

install commands:
wget http://packages.ntop.org/RaspberryPI/apt-ntop_1.0.190416-469_all.deb
sudo dpkg -i apt-ntop_1.0.190416-469_all.deb
sudo apt-get -y install ntopng nprobe n2n

ntopng system is running in community edition:
/etc/systemd/system/ntopng.service:
ExecSta

[2020-01-14 10:51] simonemainardi commented on #3233
duplicate of #3213

[2020-01-14 10:51] #3233 closed, assigned to nobody

[2020-01-14 11:45] cardigliano commented on #3232
@joerg-wille where do you see "some traffic" in the web interface? Are you checking traffic stats from the Interface page? Could you provide some more detail? Thank you.

[2020-01-14 11:52] cardigliano commented on #3227
@HoseinKashefi please try disabling ZMQ compression adding --zmq-disable-compression to the cento configuration. Please let us know. Thank you.
Note: if this is not enough, we should consider adding support for batch-mode in cento to optimize the flow export over ZMQ.

[2020-01-14 12:04] cardigliano commented on #3193
@HH62 any update on this? Did you try with latest version?

[2020-01-14 12:10] HoseinKashefi commented on #3227
here you can find cento config and ZMQ Compression is disabled.
[cento_config.log](https://github.com/ntop/ntopng/files/4059032/cento_config.log)

[2020-01-14 12:59] HH62 commented on #3193
Yes, I did and I deactivated the discovery process. Running stable for 24 h so far, but I am still observing. I will keep you informed.

[2020-01-14 13:31] joerg-wille commented on #3232
![screenshot](https://user-images.githubusercontent.com/12610094/72348046-c8a0b580-36d9-11ea-934a-389fccd91617.png)
But that's the only indication of the setup doing "something". If I modify the script to analyze other interfaces than the Fritz!Box WWAN Interface "2-0" or if I do not start logging "Lan" in the Fritz!Box then this number in the ntop WebUI does not change.

[2020-01-14 13:34] jasonamorrow opened #3234 "SyntaxError: Unexpected token T in JSON at position #####"
I currently get the error message "SyntaxError: Unexpected token T in JSON at position #####" when trying to view all hosts in hosts_stats.lua.

If I filter by VLAN the error only appears for one specific VLAN id.

I'm not seeing any related errors in the logs.

This is version 3.8.190204 - Community/Embedded Edition running on Raspbian Buster

[2020-01-14 13:45] cardigliano commented on #3227
could you provide some machine specs? (e.g. cpu model, memory)

[2020-01-14 13:47] cardigliano commented on #3193
@HH62 you experienced the issue with discovery enabled right? Thus you are not under the same conditions now..

[2020-01-14 13:49] emanuele-f commented on #3234
The ntopng version that you are using is outdated, please install the latest version from our repository (http://packages.ntop.org/RaspberryPI/) or from source.

[2020-01-14 13:54] cardigliano commented on #3232
are you able to provide a small pcap, by replacing ntopng with tcpdump (e.g. | tcpdump -i - -w dump.pcap)

[2020-01-14 14:26] notyourcommy commented on #3211
1) I'm not sure how to check if exporters traffic is "consistent" but they are also added via SNMP community and I see that it reads data via SNMP
2) there are some drops on interface but compared to total packets processed its nothing.
![exporter-1](https://user-images.githubusercontent.com/56963978/72352124-600e0480-36ea-11ea-8496-aac956d456f5.png)
![exporter-2](https://user-images.githubusercon

[2020-01-14 14:40] #3212 closed, assigned to gabryon99

[2020-01-14 14:45] notyourcommy commented on #3211
Ok. Here are some pictures from SNMP
![exporter-1-snmp](https://user-images.githubusercontent.com/56963978/72353799-4cb06880-36ed-11ea-8737-9c18c3564e00.png)
![exporter-2-snmp](https://user-images.githubusercontent.com/56963978/72353804-4de19580-36ed-11ea-834e-4311f8efda58.png)

[2020-01-14 14:49] #2866 closed, assigned to simonemainardi

[2020-01-14 15:17] bakerds opened #3235 "Listen on both IPv4 and IPv6"
Per [this documentation](https://www.ntop.org/guides/ntopng/cli_options.html), it is possible to configure the web interface to listen on an IPv4 or an IPv6 address. However, when no address is specified (as in `-w 80`), ntopng listens only on 0.0.0.0 and does not listen on IPv6 at all. Ideally, ntopng would listen on both 0.0.0.0 and [::] in this mode.

To get it to listen on both protocols, we c

[2020-01-14 16:34] #3231 closed, assigned to gabryon99

[2020-01-14 16:34] #3226 closed, assigned to emanuele-f, gabryon99

[2020-01-14 17:31] emanuele-f opened #3237 "Replace user scripts configuration buttons with badges"

[2020-01-14 17:40] cawhite6 opened #3238 "Grafana Dashboard, Influxdb Source - Query/Schema for Device Classification"
This may nto be so much an issue/bug as it is a question? I can't find any information on how the Device/Host OS classification is stored so I can query into Grafana as a panel/pie chart/etc?

Any direction is appreciated, influx knowledge is basic as ntop is tour only product using it (everything else is mysql/mariadb)

[2020-01-14 17:54] cardigliano opened #3239 "Unable to disable a script"
When I try to disable the script by unchecking "Enabled", the Apply button is disabled and it is not possible to save the configuration.

<img width="842" alt="Screen Shot 2020-01-14 at 18 51 50" src="https://user-images.githubusercontent.com/7548711/72368757-f64c2580-36fe-11ea-9a94-17a0642150e0.png">

[2020-01-14 20:43] joerg-wille commented on #3232
I have tried:
| tcpdump -i - -w dump.pcap
and got following error:
tcpdump: -: No such device exists

Then I replaced -I with -r
wget --no-check-certificate -qO- $FRITZIP/cgi-bin/capture_notimeout?ifaceorminor=$IFACE\&snaplen=\&capture=Start\&sid=$SID | tcpdump -w ./dump.pcap -r -

and this time I got following error:
tcpdump: unknown file format

I have no experience with tcpdump...

[2020-01-14 21:13] joerg-wille commented on #3232
![Bildschirmfoto 2020-01-14 um 22 09 04](https://user-images.githubusercontent.com/12610094/72382965-aa0ede80-371a-11ea-84fd-e1967de7cc74.png)
I saw yesterday that on the interface side in the WebUI there also was a pcap download button, but it only creates an empty file.
How can it be that I see "Received Traffic" some MB, but in "Traffic Breakdown" "No traffic yet".

[2020-01-15 00:16] lucaderi opened #3240 "Implementation of flow score"
Each flow has a numerical (>= 0) value named score that summarizes all the issues related to the flow. In essence every flow has already a bitmap of issues, such as high retransmission rate, or communication with blacklisted hosts. The score is a way to move from this high-level and non-numerical, to a numerical value that can be used to account anomalies. A high score value means that the flow ha

[2020-01-15 00:32] lucaderi opened #3241 "Implementation of host score"
This ticket depends in #3240 so that ticket must be implemented prior to work on this.

- Host score definition
Each host (network, AS...) has a numerical non-negative value used to store the score value. This value is computed over a 1-minute (configurable in the future but for the time being let's assume it's a single non-configurable value) time frame. At second 0 the value of the score is 0, t

[2020-01-15 06:04] HoseinKashefi commented on #3227
2X Intel(R) Xeon(R) CPU E5-2690 v3 @ 2.60GHz (24threads each)
6X 16G DDR4 (2133MHz)
2X NVME 1T
8X 10G Intel 82599 NIC

[2020-01-15 08:19] simonemainardi commented on #3232
as you are on OS X, it seems this is the reason why you get the unrecognized output error:

https://apple.stackexchange.com/questions/152682/why-does-tcpdump-not-recognise-piped-input/354139#354139

please follow the link to solve and generate the pcap. Thank you

[2020-01-15 08:25] simonemainardi commented on #3211
Pick

![image](https://user-images.githubusercontent.com/3397663/72417279-d0fbfd80-3778-11ea-8412-bb5abb658fdd.png)

then chart one interface (where you know a particular host is attached) and see if the traffic reported for the interface agrees.

[2020-01-15 08:38] cardigliano commented on #3227
Thank you, we will check the performance with the same conf on a similar system.

[2020-01-15 09:26] cardigliano commented on #3239
An (empty) error is also occurring when trying to disable a flow script
![IMAGE 2020-01-15 10:25:48](https://user-images.githubusercontent.com/7548711/72421778-70bd8980-3781-11ea-872d-049fd8aa4094.jpg)

[2020-01-15 11:00] emanuele-f opened #3243 "Short message abbreviation is not necessary"
![2020-01-15_11-59](https://user-images.githubusercontent.com/5488003/72428711-2ab6f480-3786-11ea-85bc-70e7a144af33.png)

[2020-01-15 11:02] oktavianq opened #3244 "Script failure errors luaEngine"
Every 3-5 sec i getting erros the below errors logged.
Jan 15 10:58:18 RAZOR ntopng: [LuaEngine.cpp:11848] WARNING: Script failure [/us                                                 r/share/ntopng/scripts/callbacks/system/housekeeping.lua][/var/lib/ntopng/plugin                                                 s/alert_endpoints/nagios.lua:1: unexpected symbol near '<\135>']
Jan 15 10:58:18 RAZOR

[2020-01-15 11:07] cardigliano commented on #3244
Duplicate of https://github.com/ntop/ntopng/issues/3213

[2020-01-15 11:07] #3244 closed, assigned to nobody

[2020-01-15 11:35] emanuele-f commented on #3222
Initial changes: d7528e1628bc78f334d970b47a26d7bd41c4c8f4

[2020-01-15 12:12] simonemainardi commented on #3221
implemented in

https://github.com/ntop/ntopng/commit/48910b9f871bd6d9cfcbe6b21a3a51a630758fe4
https://github.com/ntop/ntopng/commit/212c449e5b29e8b432abc42c1cc3eba220072902

[2020-01-15 12:12] #3221 closed, assigned to simonemainardi

[2020-01-15 13:43] #3237 closed, assigned to cardigliano

[2020-01-15 14:28] emanuele-f commented on #3222
Additional changes implemented in 6edecb12cb502d8f2637bf29089006769c16072b

[2020-01-15 14:28] #3222 closed, assigned to nobody

[2020-01-15 14:41] #3225 closed, assigned to simonemainardi

[2020-01-15 15:26] simonemainardi opened #3246 "periodicStatsUpdate not in sync with periodicHTStateUpdate"
Under certain conditions, periodicStatsUpdate is not in sync with periodicHTStateUpdate and this could cause certain stats not to be updated (e.g., hosts stats and AS stats). This could happen for the last part of the flow (e.g., when the flow goes idle) and it affects more ZMQ interfaces where the periodicStatsUpdate frequency is lower.

[2020-01-15 16:45] webernetz commented on #3138
Hi @simonemainardi, I have just upgraded ntopng. I'll come back to you in a couple of days.

[2020-01-15 17:08] #3239 closed, assigned to gabryon99

[2020-01-15 18:21] #3246 closed, assigned to simonemainardi

[2020-01-16 07:08] #3243 closed, assigned to gabryon99

[2020-01-16 10:14] cardigliano commented on #3229
Implemented

[2020-01-16 10:14] #3229 closed, assigned to cardigliano

[2020-01-16 11:39] HH62 commented on #3193
Yes that's true. But the interface is connected to a Port Mirror and I discovered in the preferences that it is not possible to turn Network Discovery on under such circumstances.
Ntopng is running stable now for 3 days without error.

[2020-01-16 13:46] simonemainardi commented on #3211
please, try, update to the latest build before reporting.

[2020-01-16 14:23] notyourcommy commented on #3211
It seems that you have fixed something with this last update. What was it?

[2020-01-16 17:14] emanuele-f opened #3247 "Extend the ids script to return flow, client and server score"
See also score_utils.lua

[2020-01-16 17:39] simonemainardi commented on #3221
ID are now assigned dynamically upon startup in method https://github.com/ntop/ntopng/commit/48910b9f871bd6d9cfcbe6b21a3a51a630758fe4#diff-f5a9e74caeb3eb8bd9c6005c1f1286f3R215.

Currently, IDs are dynamically assigned for used script constants, namely `flow` and `alert` constants: https://github.com/ntop/ntopng/commit/212c449e5b29e8b432abc42c1cc3eba220072902#diff-7b42fba947b77cb9959c6bbc62a71263R1

[2020-01-16 18:06] simonemainardi commented on #3211
synchronization issue between threads: https://github.com/ntop/ntopng/commit/5fbb3701344d295348d21cf1acbaadebefd0372a affecting certain highly-loaded systems

can you confirm values are back to normal?

[2020-01-16 18:36] cardigliano commented on #3247
Implemented

[2020-01-16 18:36] #3247 closed, assigned to cardigliano

[2020-01-16 19:14] notyourcommy commented on #3211
Yes, I can confirm that values are back to normal. Issue solved.
p.s. thank you very much for the fix!

[2020-01-16 20:59] simonemainardi commented on #3211
thanks, and sorry for the bug.

[2020-01-16 20:59] #3211 closed, assigned to simonemainardi

[2020-01-16 21:02] jpgpi250 opened #3248 "raspberrypi.localdomain has sent 59 DNS requests but received 0 DNS replies"
I'm running ntopng (packet filter port 53) on a raspberry pi 3B with pihole + unbound as a recursive resolver.
I'm getting a lot of warnings like:
Host raspberrypi.localdomain has sent 196 DNS requests but received 0 DNS replies [5 minutes ratio: 0%]
Is there a way to see which DNS request has been made that remains unanswered, if NOT, would it be possible to see the unanswered requests made, incl

[2020-01-17 08:37] oktavianq opened #3249 "Reset webgui admin password"
I forgot the administrator password for gui in ntopng. I carried out the following commands
systemctl stop ntopng.service
redis-cli del ntopng.user.admin.password
After this i  running these commands,
systemctl start ntopng.service
I started the server without errors, but  the default password  not work.
I see ntopng process when i run ps -A

[2020-01-17 08:42] emanuele-f commented on #3249
Please follow these instructions in this exact order:
1. ntopng must be running
2. `redis-cli del ntopng.user.admin.password`
3. `sudo systemctl restart ntopng`

[2020-01-17 08:44] oktavianq commented on #3249
Solved .Many thx :)

[2020-01-17 08:46] emanuele-f commented on #3249
You are welcome

[2020-01-17 08:46] #3249 closed, assigned to nobody

[2020-01-17 09:16] emanuele-f commented on #3240
The flow score is now implemented into the enterprise version of ntopng. The `flow.setStatus/flow.triggerStatus` functions have been extended with 3 positional parameters, flow_score, cli_score and srv_score, which allows a user script to specify the scores while setting a flow status. The cli_score and srv_score are then transferred to the flow peers according to the logic described in #3241.

Th

[2020-01-17 09:16] #3240 closed, assigned to nobody

[2020-01-17 09:28] cardigliano commented on #3227
@HoseinKashefi please add "--zmq-format=t" to the cento configuration and let us know what is the performance. Thank you.

[2020-01-17 09:44] emanuele-f commented on #3241
The host score is now implemented into the enterprise version of ntopng. The client/server score is first accounted into the flow once `flow.setStatus/flow.triggerStatus` is called as explained in #3240. Then, in minute.lua, the host user script "Score" is responsible for transferring the peers score from the flow into the hosts. In particular, the Score script implements the following algorithm:

[2020-01-17 09:44] #3241 closed, assigned to nobody

[2020-01-17 13:51] webernetz commented on #3138
Hey @simonemainardi, concerning the two routers that aren't working I am getting those log messages (I replaced parts of the IPv4 addresses):
<pre><code>Jan 17 11:50:30 mirror ntopng[31742]: 17/Jan/2020 11:50:30 [5min.lua:10] [snmp_device.lua:46] cache_bridge executed in 30 secs [host: 193.x.y.1]
Jan 17 11:51:00 mirror ntopng[31742]: 17/Jan/2020 11:51:00 [5min.lua:10] [snmp_device.lua:46] cache_br

[2020-01-17 16:00] cardigliano commented on #3227
@HoseinKashefi latest Cento update (dev package) includes a new option --zmq-batch-mode that should boost ZMQ performance. I suggest you to update and add --zmq-format=t and --zmq-batch-mode to the configuration file. Please let us know.

[2020-01-17 16:07] cardigliano commented on #3193
Ok got it. Let's close this for now, please reopen it if you are able te reproduce it again. Thank you.

[2020-01-17 16:07] #3193 closed, assigned to nobody

[2020-01-17 18:11] #2936 closed, assigned to emanuele-f

[2020-01-17 18:17] emanuele-f commented on #2936
The `alerts_api.addAlertGenerationInfo` function adds the section `alert_generation` into the alert json containing the metadata required to create a link to the specific alert configuration page. A link is added to the alert message pointing to the configuration page:

![2020-01-17_19-16](https://user-images.githubusercontent.com/5488003/72635786-900d1000-3955-11ea-85d7-9f4919b0a24b.png)

[2020-01-18 06:25] HoseinKashefi commented on #3227
Cento version :
v.1.11.200117
unfortunately still we have ZMQ message drop
![image](https://user-images.githubusercontent.com/43135531/72659651-31d54100-39d8-11ea-8f17-bb9ead9b71f7.png)
![image](https://user-images.githubusercontent.com/43135531/72659662-69dc8400-39d8-11ea-811a-3c4af7af46e6.png)

[2020-01-18 13:38] joerg-wille commented on #3232
thanks, for this tip. But I am still not able to log any data.
I have installed current version from tcpdump with brew and added it before macOS version to path. So:
which tcpdump
/usr/local/opt/tcpdump/sbin/tcpdump

But, when I call the script after I exchanged the line to:
wget --no-check-certificate -qO- $FRITZIP/cgi-bin/capture_notimeout?ifaceorminor=$IFACE\&snaplen=\&capture=Start\&sid=$SID|

[2020-01-18 15:28] wanderernxa opened #3254 "Dummies guide to nedge dashboard reporting understanding traffic"
Hi,
I may have missed something but I am having a difficult time reading the traffic monitoring from the dashboard of NEdge. I have it installed in bridge mode and it works fine. Is there a simple dashboard someone can guide me to where I can see all the traffic that computers across the bridge are accessing? Like youtube, facebook, etc.. in a simple way to read and view. I just want to monitor it

[2020-01-19 21:48] lucaderi opened #3255 "Invalid 3WH Computation"
Additional flags on the first packet invalidate 3WH/nw latency calculation

![Screen Shot 2020-01-19 at 22 47 22](https://user-images.githubusercontent.com/4493366/72689069-b1186100-3b0d-11ea-990a-eb3f11e92396.png)
[3wayhandshake.pcap.zip](https://github.com/ntop/ntopng/files/4083659/3wayhandshake.pcap.zip)

[2020-01-20 10:54] #3255 closed, assigned to simonemainardi

[2020-01-20 12:04] oktavianq opened #3256 "Lua script failed + license"
1. First problem  . I got this error 20/Jan/2020 11:55:00 [AlertCheckLuaEngine.cpp:167] WARNING: Script failure[/usr/share/ntopng/scripts/callbacks/interface/flow.lua] [/usr/share/ntopng/scripts/callbacks/interface/flow.lua:420: attempt to index a nil value (upvalue 'score_utils')]

v.3.9.200120    [Enterprise/Professional build]
GIT rev:        dev:b78160427b9bacc5d6760fb8ba3c73f95e5c0187:2020012

[2020-01-20 12:22] emanuele-f commented on #3256
Fixed in dd8643ad793ff4c808672abf051c10f6545165cd. A new package will be available in one hour.

[2020-01-20 12:22] #3256 closed, assigned to nobody

[2020-01-20 12:32] oktavianq commented on #3256
Many thx :)

[2020-01-20 12:57] emanuele-f commented on #3202
The fix above has fixed the bug. The surrounding code can probably be improved but such rework can be postponed.

[2020-01-20 12:57] #3202 closed, assigned to emanuele-f

[2020-01-20 13:57] cardigliano commented on #3227
@HoseinKashefi could you provide some stats (a couple of minutes during busy hours) from the cento output? Please run it in foreground with the same configuration (please also provide the configuration). Thank you.

[2020-01-20 14:43] simonemainardi opened #3257 "Toggling ON/OFF on flow user scripts disables everything"
select user script->flows, then default configuration

![image](https://user-images.githubusercontent.com/3397663/72735091-6cd3a200-3b9b-11ea-8c93-069cba457b7e.png)

as soon as off is clicked on any of the buttons, everything becomes disabled and it is not possible to re-enable it

![image](https://user-images.githubusercontent.com/3397663/72735167-8c6aca80-3b9b-11ea-8555-6b89fc5800a0.png)

[2020-01-20 14:45] simonemainardi opened #3258 "User scripts Applied To column is unclear"
An empty 'applied to' column is unclear. If applied to everything, one should write everything in italic and/or gray but just empty is not acceptable

![image](https://user-images.githubusercontent.com/3397663/72735285-c9cf5800-3b9b-11ea-9b5d-f1422241a4a9.png)

[2020-01-20 14:47] simonemainardi opened #3259 "User Scripts description should use all the space available"
Al lot of empty space is left and descriptions are truncated too early.

![image](https://user-images.githubusercontent.com/3397663/72735393-04d18b80-3b9c-11ea-9617-937285900a30.png)

it is requested to use more space when available

[2020-01-20 14:52] simonemainardi opened #3260 "User scripts configuration layout"
![image](https://user-images.githubusercontent.com/3397663/72735552-51b56200-3b9c-11ea-87eb-c7c569e48b62.png)

- When only an operator is available (e.g., only >), the dropdown must not be shown, prefer something like this

![image](https://user-images.githubusercontent.com/3397663/72735626-77426b80-3b9c-11ea-9f72-4a5300f6c3b4.png)

- Right corner of the input box should be rounded
- Input box is

[2020-01-20 15:01] simonemainardi opened #3261 "Long menus should be scrollable"
When a long menu appears, it goes below the page

![image](https://user-images.githubusercontent.com/3397663/72736335-c6d56700-3b9d-11ea-904a-57703b46789f.png)

It must:
- open below the name

![image](https://user-images.githubusercontent.com/3397663/72736415-f1272480-3b9d-11ea-84b7-97896cc1242f.png)

[2020-01-20 15:04] simonemainardi opened #3262 "HTML broken when multiple TLS certificate names available"
see the bullets

![image](https://user-images.githubusercontent.com/3397663/72736688-76aad480-3b9e-11ea-9d61-f56ec6f322ff.png)

[2020-01-20 15:05] simonemainardi opened #3263 "HTML broken with certain TLS certificates"
![image](https://user-images.githubusercontent.com/3397663/72736748-93dfa300-3b9e-11ea-90fa-518df45858a1.png)

[2020-01-20 15:10] simonemainardi opened #3264 "Connection issues alert type is not valid for flows that haven't been purged"
Alert type is not a connection issue. It is requested to change this.

![image](https://user-images.githubusercontent.com/3397663/72737108-3435c780-3b9f-11ea-901b-53880b1c7d8b.png)

[2020-01-20 15:18] simonemainardi opened #3265 "Datetimepicker dropdown style"
In the charts page, the datetimepicker is not rendered properly

![image](https://user-images.githubusercontent.com/3397663/72737646-3a787380-3ba0-11ea-9b5d-ff26bc482f3a.png)

same in the flow alerts explorer

![image](https://user-images.githubusercontent.com/3397663/72737684-50863400-3ba0-11ea-8515-6cdb0c5d1e14.png)

it is requested to fix this

[2020-01-20 16:14] emanuele-f opened #3266 "Change alert_api.setStatus api"
`alert_api.setStatus` accepts the status ID as the second parameter. It is requested to pass the whole status definition structure instead

[2020-01-20 16:23] simonemainardi opened #3267 "Show 'Apply To' elements as chips"
![image](https://user-images.githubusercontent.com/3397663/72742192-7f54d800-3ba9-11ea-8342-bf2a9810f703.png)

[2020-01-20 16:41] simonemainardi opened #3268 "HTTP page should be hidden when no HTTP info is available"
![image](https://user-images.githubusercontent.com/3397663/72743474-0905a500-3bac-11ea-8247-00f21911d469.png)

[2020-01-20 17:55] cardigliano commented on #3227
@HoseinKashefi please update cento before running the test above. Thank you.

[2020-01-20 18:33] cardigliano commented on #2835
@tercaneBay please update this issue as the ZC bug seems fixed now. Thank you.

[2020-01-21 07:47] #3257 closed, assigned to gabryon99

[2020-01-21 08:35] gabryon99 commented on #3261
Which pages are exactly?

[2020-01-21 08:43] simonemainardi commented on #3261
flows_stats.lua, menu applications
then any chart with a dropdown (see the historical page of if_stats.lua)

[2020-01-21 08:47] gabryon99 commented on #3261
I replaced all occurrences (except for `menu.lua`) of `dropdown-menu` with `dropdown-menu scrollable-dropdown`, so when a menu has a height greater than `16rem` the scrollbar will be enabled.
The css class is this:
[code]

[2020-01-21 10:14] PawelConnectio opened #3270 "System freezes after update to v.3.9.200121"
Like in title. System debian 9 freezes almost instantly afrer reboot .This behaviour  i have noticed after update to v.3.9.200121 .
Another issue  :
`
  InfluxDB Export Failure | Points dropped. Could not send them to 'http://172.25.1.36:8086'.
`

[2020-01-21 10:18] simonemainardi commented on #3261
seems it has no effect at least using the latest source

![image](https://user-images.githubusercontent.com/3397663/72796407-8fb79200-3c3f-11ea-9c78-ff0c64edbb5b.png)

note:

when I click traffic

![image](https://user-images.githubusercontent.com/3397663/72796444-9ba35400-3c3f-11ea-8025-8726b3b9c9ad.png)

I would expect the dropdown to open below "Traffic" and not above as shown in the picture. T

[2020-01-21 10:20] cardigliano commented on #3270
@PawelConnectio could you provide more details about the configuration? (e.g. PF_RING drivers, ntopng configuration, etc). Thank you.

[2020-01-21 10:32] PawelConnectio commented on #3270
ntopng.conf :
`-x= 5000000
-X= 2000000
-i="view:tcp://127.0.0.1:5555,tcp://127.0.0.1:5556,tcp://127.0.0.1:5554"
-i="tcp://127.0.0.1:5555"
-i="tcp://127.0.0.1:5556"
-i="tcp://127.0.0.1:5554"`
and nprobe config files
`-zmq="tcp://127.0.0.1:5554"
-T="@NTOPNG@"
-i=none
--collector-port=2056
--lifetime-timeout=5
--idle-timeout=5
--zmq="tcp://127.0.0.1:5555"
-T="@NTOPNG@"
-i=none
--collector-port=2057
-

[2020-01-21 10:36] #3262 closed, assigned to simonemainardi

[2020-01-21 10:36] #3263 closed, assigned to simonemainardi

[2020-01-21 11:08] #3268 closed, assigned to simonemainardi

[2020-01-21 11:26] HoseinKashefi commented on #3227
Here you are, please find the attachment
[Cento~26Gbps.log](https://github.com/ntop/ntopng/files/4090779/Cento.26Gbps.log)

[2020-01-21 11:28] #3266 closed, assigned to simonemainardi

[2020-01-21 11:51] #3264 closed, assigned to nobody

[2020-01-21 16:36] phoenixryan opened #3272 "Problem updating with centos"
When I run yum update

yum update
Loaded plugins: refresh-packagekit, security
Setting up Update Process
ntop                                                                                                                              | 2.9 kB     00:00
ntop/primary_db                                                                                                                   | 7.9 kB     00:

[2020-01-21 16:43] gabryon99 opened #3273 "Change `Script Subdirs` title inside scripts_config.lua"
![image](https://user-images.githubusercontent.com/14114916/72824311-58fc6e80-3c75-11ea-8f5f-868acd714566.png)

Needs to change `Scripts Subdirs` into: `Configuration Entities`

[2020-01-21 16:44] #3260 closed, assigned to emanuele-f, gabryon99

[2020-01-21 17:21] emanuele-f opened #3274 "Form with validation errors can be submitted"
![2020-01-21_18-20](https://user-images.githubusercontent.com/5488003/72827251-577d7700-3c72-11ea-8a60-a2dc7f992f1c.png)

[2020-01-21 17:52] simonemainardi commented on #3219
implemented

![image](https://user-images.githubusercontent.com/3397663/72829448-18095780-3c7f-11ea-9cb5-4a6a6ccb2ee1.png)

[2020-01-21 17:52] #3219 closed, assigned to simonemainardi

[2020-01-21 19:06] cardigliano commented on #3227
Sorry for bothering you, trying to figure out what is affecting the performance in your installation. Please run one more test, after updating both cento and ntopng, and provide both the cento log and the ntopng stats screenshot. Thank you.

[2020-01-21 19:10] StewAlexander-com opened #3275 "Every time I attempt to go to NTOPNG via a browser it freezes the system, requiring a reboot"
Hi

Just upgraded to this version:

![image](https://user-images.githubusercontent.com/48565067/72834784-8508f700-3c57-11ea-8b93-dd552d3b3d4e.png)

Now when I attempt to go to the Ntopng login screen using a browser I can't get to it, and the whole Operating System (on a ProxMox Ubuntu VM) freezes.

Please help, thanks

[2020-01-21 19:54] gabryon99 commented on #3258
Fixed.

[2020-01-21 21:29] ascaris5 opened #3278 "/var/lib/ntopng/plugins/alert_endpoints/nagios.lua:1: unexpected symbol near '<\135>'"
Continually receive this error:

Script "/usr/share/ntopng/scripts/lua/if_stats.lua" returned an error:

/var/lib/ntopng/plugins/alert_endpoints/nagios.lua:1: unexpected symbol near '<\135>'

Goes away after restart, then reappears after a few clicks.

[2020-01-21 21:50] simonemainardi commented on #3278
duplicate of https://github.com/ntop/ntopng/issues/3213

[2020-01-21 21:50] #3278 closed, assigned to nobody

[2020-01-22 07:00] HoseinKashefi commented on #3227
Please find the attachment ,
[ntopng~20Gbps.log](https://github.com/ntop/ntopng/files/4095671/ntopng.20Gbps.log)
[Cento~20Gbps.log](https://github.com/ntop/ntopng/files/4095672/Cento.20Gbps.log)
![ntop-cento-status](https://user-images.githubusercontent.com/43135531/72872245-2056a680-3d02-11ea-99d7-db337acc02a2.png)

[2020-01-22 07:12] PawelConnectio commented on #3275
i have same issue !

[2020-01-22 08:35] cardigliano commented on #3227
@HoseinKashefi I meant a ntopng screenshot from the Web UI -> Interface -> (stats), like the first you posted here

[2020-01-22 08:38] sirjana opened #3279 "how to add timeseries on ntopng"
I have just installed a ntopng server and I need to add a timeseries data for port 1521. How can I add hosts on ntop which are on different network? Can anyone help me how can I do this?

[2020-01-22 08:50] simonemainardi opened #3280 "Implement User Script Categories"
It is requested to add categories (as constants) so that they can be declared for each user script and shown in the user scripts page.

[2020-01-22 08:53] simonemainardi opened #3281 "Script Subdirs should become Script Target"
![image](https://user-images.githubusercontent.com/3397663/72879323-ee8f1100-3cfc-11ea-9db1-0d2332e5bd74.png)

subdir is unclear, the term target should be used instead

[2020-01-22 08:55] simonemainardi opened #3282 "User Script Column Enabled Should be Removed"
Column Enabled should be removed and an extra button should be placed under the actions:

![image](https://user-images.githubusercontent.com/3397663/72879481-3c0b7e00-3cfd-11ea-9b29-bc63ae33269c.png)

A disabled script will have an 'enable' button. An enabled script will have a 'disable' button.

[2020-01-22 08:59] simonemainardi opened #3283 "Viewing a User Script only Shows a Single File"
eg.,

![image](https://user-images.githubusercontent.com/3397663/72879617-90166280-3cfd-11ea-825f-469c54fa091a.png)

starting from the page above, one should also have access to other lua plugin files

[2020-01-22 09:02] simonemainardi opened #3284 "System and Syslog User Script configurations should not have 'Apply To'"
Only the default configuration is available and editable without any apply to

![image](https://user-images.githubusercontent.com/3397663/72879936-33677780-3cfe-11ea-97a8-5552816eab62.png)

[2020-01-22 09:03] simonemainardi opened #3285 "Plugins localization"
It is requested to add plugin strings translated to italian and provide a diff or a sort of a file with all the strings which also require a german translation

[2020-01-22 09:07] simonemainardi commented on #3258
Applied to default has no meaning

![image](https://user-images.githubusercontent.com/3397663/72880178-a7a21b00-3cfe-11ea-8d8c-acd106ff1d70.png)

for interface target, write all interfaces. for host targets, write all hosts, and so on.

[2020-01-22 09:09] simonemainardi opened #3286 "Rename User Script target Networks to Local Networks"
Target should be renamed as described in the title

[2020-01-22 09:24] simonemainardi opened #3287 "SNMP alert to detect MACs changing access ports"
Check the feasibility of, and possibly implement alert via plugins, for the issue in the subject

[2020-01-22 09:56] HoseinKashefi commented on #3227
sorry for misunderstanding
here is the shot from UI
![image](https://user-images.githubusercontent.com/43135531/72883613-e396a980-3d19-11ea-928b-e045f1a9c61a.png)
the flows are much more than
{ -X=1048576
  -x=1048576  }
and when X or x are set to
{ -X=‭2097152‬
  -x=‭2097152 }
ntopng shows following errors:
**ntopng[23253]: 22/Jan/2020 14:18:06 [ParserInterface.cpp:243] WARNING: A flow has been s

[2020-01-22 10:03] cardigliano opened #3288 "Hide reboot button when ntopng is not running as service"

[2020-01-22 10:47] gabryon99 commented on #3284
opened a pr: https://github.com/ntop/ntopng/pull/3289

[2020-01-22 10:50] emanuele-f commented on #3281
See #3273

[2020-01-22 10:50] #3281 closed, assigned to emanuele-f

[2020-01-22 10:58] cardigliano commented on #3227
Are you able to provide us a core dump to debug the segfault? https://www.ntop.org/support/need-help-2/need-help/
Btw, any chance we can access this system perhaps? Just to avoid bothering you with all those requests..

[2020-01-22 11:16] gabryon99 opened #3290 "Bad operator on edit scripts modal"
![image](https://user-images.githubusercontent.com/14114916/72889872-f35dc000-3d10-11ea-985b-556813b58223.png)

When the user clicks `Apply` the following message appears.

[2020-01-22 11:54] #3273 closed, assigned to gabryon99

[2020-01-22 11:59] cardigliano commented on #3275
A new build is available, please update (make sure pfring-dkms is also getting updated) and let us know if you are still able to reproduce this. Thank you.

[2020-01-22 12:02] emanuele-f commented on #3218
Note: elephant/long lived flows (pr #3276) still don't implement the "Reset to Default" button.

[2020-01-22 12:27] HoseinKashefi commented on #3227
I can provide remote access if you prefer. just let me know anydesk/teamviewer or ssh you need

[2020-01-22 12:36] StewAlexander-com commented on #3275
I updated my Ubuntu system today using the ```$ sudo apt update``` and ```$ sudo apt upgrade``` commands, and it is now working as expected.

Thank you ...

[2020-01-22 12:36] StewAlexander-com commented on #3275
Closing as fixed.

[2020-01-22 12:36] #3275 closed, assigned to nobody

[2020-01-22 13:20] emanuele-f opened #3291 "Use multiselect for elphant/long lived flows proto/category selection"

[2020-01-22 13:20] emanuele-f commented on #3218
Depends on #3291

[2020-01-22 13:38] cardigliano commented on #3227
ssh would be the best option for us. Please write to cardigliano at ntop.org

[2020-01-22 13:45] simonemainardi opened #3292 "Add Configuration for User Script Interface Load Threshold Alerts"
Currently,

The script can only be configured from the preferences

![image](https://user-images.githubusercontent.com/3397663/72899133-af28ea80-3d25-11ea-8b4e-3cc9d98e241a.png)

it is requested to modify the configuration of the user script so that the threshold (a value between 0 and 100) can be configured from the script page - now it only has an on/off preference.

Once this has been done, the

[2020-01-22 14:14] gabryon99 commented on #3291
Opened a pr: https://github.com/ntop/ntopng/pull/3293

[2020-01-22 14:15] gabryon99 commented on #3274
Fixed.

[2020-01-22 14:15] #3274 closed, assigned to gabryon99

[2020-01-22 14:44] PawelConnectio commented on #3270
fixed in v.3.9.200122

[2020-01-22 14:44] #3270 closed, assigned to nobody

[2020-01-22 14:45] #3291 closed, assigned to gabryon99

[2020-01-22 14:50] #3284 closed, assigned to gabryon99

[2020-01-22 15:02] #3290 closed, assigned to emanuele-f

[2020-01-22 15:05] #3218 closed, assigned to emanuele-f, gabryon99

[2020-01-22 15:56] emanuele-f commented on #3292
Implemented

[2020-01-22 15:56] #3292 closed, assigned to emanuele-f, gabryon99

[2020-01-22 15:59] emanuele-f commented on #3282
Note: it is necessary to always show the enable/disable button, even for config with granularities

[2020-01-22 18:34] simonemainardi commented on #3287
implemented

[2020-01-22 18:34] #3287 closed, assigned to simonemainardi

[2020-01-23 08:48] simonemainardi commented on #3280
Categories are:

- Other (when no category is specified in the user script)
- Security (such as blacklisted)
- Internals (things related to the ntopng status such as when it is not purging)
- Network (such as the threshold cross)

[2020-01-23 09:19] emanuele-f opened #3294 "Make the strings currently hardcoded into the scripts-list-utils.js file localizable"

[2020-01-23 09:57] emanuele-f commented on #3282
additional lua api implemented in 60b739ed5eaa0dbbd90cfe4f6e27bb974191ee49

[2020-01-23 10:33] cardigliano opened #3296 "Source AS leaving and entering an interface with volume"
ISPs need to know the source AS leaving an interface and the source AS coming through that interface and volume, it would be nice to have this in the traffic report.

Whatever is leaving the ISP network (egress) should have the source AS number of the ISP only or customers behind the ISP network having an AS number that the ISP acts as transit for them. In the ingress part (whatever is coming thro

[2020-01-23 10:46] emanuele-f commented on #3282
Fixed in #3295

[2020-01-23 10:46] #3282 closed, assigned to emanuele-f, gabryon99

[2020-01-23 12:12] #3283 closed, assigned to simonemainardi

[2020-01-23 12:41] #3286 closed, assigned to gabryon99

[2020-01-23 12:42] emanuele-f commented on #3294
#3297

[2020-01-23 12:45] #3294 closed, assigned to gabryon99

[2020-01-23 13:44] emanuele-f opened #3299 "Remove references to "syslog" and "system" in scripts-list-utils.js"
Since 1c8c93ff6e001b8a4b92f60007c50d99564eb5d3, the new field `default_config_only` can be used to determine if cloning is supported or not. Explicit references should be removed from the js script and use the new `default_config_only` returned by `user_scripts.listSubdirs`

[2020-01-23 15:31] simonemainardi commented on #3280
implemented

[2020-01-23 16:26] simonemainardi commented on #3280
![image](https://user-images.githubusercontent.com/3397663/73003206-85df8b80-3e05-11ea-8def-288998eb421c.png)

[2020-01-23 16:26] #3280 closed, assigned to simonemainardi

[2020-01-23 17:15] #3299 closed, assigned to gabryon99

[2020-01-23 17:19] #3259 closed, assigned to gabryon99

[2020-01-23 17:19] #3220 closed, assigned to emanuele-f

[2020-01-23 17:27] #3258 closed, assigned to emanuele-f

[2020-01-23 17:29] #3185 closed, assigned to gabryon99

[2020-01-23 17:29] simonemainardi commented on #3185
I think for the time being we can leave it as is.

[2020-01-23 17:35] gabryon99 commented on #3041
We'll be addressed once the notification daemon will be implemented

[2020-01-23 17:35] #3041 closed, assigned to gabryon99

[2020-01-23 17:37] emanuele-f commented on #3234
No further feedback received, please reopen if necessary.

[2020-01-23 17:37] #3234 closed, assigned to nobody

[2020-01-23 17:46] #3261 closed, assigned to emanuele-f, gabryon99

[2020-01-23 17:47] simonemainardi commented on #3261
Fixed.

To avoid long menus it is recommended to use css class `scrollable-droprown`, for example

[code]

[2020-01-23 17:56] emanuele-f commented on #3254
The traffic dashboard should already provide enough details about the top active applications. Regarding the blocked sites view, currently nEdge does not report such information. It just redirects the user to the blocked page if a child safe DNS is in use. However you can check the top HTTP sites visited by a local host in the `Sites` tab under the host details.

[2020-01-23 18:16] emanuele-f opened #3305 "Add user script description inside the config dialog"

[2020-01-23 18:23] emanuele-f opened #3306 "Abbreviate user scripts "value" column"

[2020-01-23 18:25] emanuele-f opened #3307 "Add user scripts config reset button"

[2020-01-23 18:26] emanuele-f opened #3308 "Add a user script category dropdown filter"

[2020-01-23 18:35] emanuele-f opened #3310 "Handle html tags in user scripts description"

[2020-01-23 18:40] simonemainardi opened #3311 "Add user script categories description"
It is requested to add in the notes the descriptions of the user script categories.

[2020-01-24 07:12] PawelConnectio opened #3314 "Script fail flow.lua long_lived.lua"
like in topic ,this error repeats constantly:
`an 24 08:10:54 tor-cz-log03 ntopng: [AlertCheckLuaEngine.cpp:167] WARNING: Script failure[/usr/share/ntopng/scripts/callbacks/interface/flow.lua] [...b/ntopng/plugins/callbacks/interface/flow/long_lived.lua:46: attempt to index a nil value (local 'conf')]
Jan 24 08:10:54 tor-cz-log03 ntopng[939]: 24/Jan/2020 08:10:53 [AlertCheckLuaEngine.cpp:167] WARN

[2020-01-24 08:23] Michiko0109 opened #3315 "【ntop nEdge latest 3.9 version】 Cloud not select language"
![add system user](https://user-images.githubusercontent.com/60252545/73054599-2c8f5f00-3ece-11ea-8230-8cff49e9fd41.png)

I am using nEdge  latest 3.9 version.
I found issue that I could not select language.
I created another user in addition to the default user 'admin'.
However, I could not select language using an another user.

[2020-01-24 09:27] emanuele-f commented on #3315
nEdge only supports the english language right now. If you want to support the localization feature in other languages please contact us via http://www.ntop.org/support/need-help-2/contact-us .

[2020-01-24 09:27] #3315 closed, assigned to nobody

[2020-01-24 09:31] emanuele-f commented on #3314
Are you using the latest ntopng version? Please post the output of `ntopng --version`

[2020-01-24 09:59] simonemainardi commented on #3305
done in https://github.com/ntop/ntopng/pull/3309

[2020-01-24 09:59] #3305 closed, assigned to gabryon99

[2020-01-24 09:59] simonemainardi commented on #3306
done in https://github.com/ntop/ntopng/pull/3312

[2020-01-24 09:59] #3306 closed, assigned to gabryon99

[2020-01-24 10:00] simonemainardi opened #3316 "Interface Load Threshold Alerts enabled without a value"
This is enabled but has no value

![image](https://user-images.githubusercontent.com/3397663/73060712-c3412900-3e98-11ea-9847-d277f12d0fa8.png)

[2020-01-24 10:11] #3307 closed, assigned to emanuele-f

[2020-01-24 10:26] emanuele-f commented on #3316
The issue has occurred because of a change in the configuration format. Using the "Reset Configuration" button fixes this.

[2020-01-24 10:26] #3316 closed, assigned to emanuele-f

[2020-01-24 10:28] emanuele-f commented on #3285
As discussed internally, it's better for us to keep all the internal strings into a single file to easy the localization implementation and review process. Will need to move the existing user scripts strings back to the original configuration file

[2020-01-24 10:29] PawelConnectio commented on #3314
v.3.9.200124

[2020-01-24 10:37] emanuele-f commented on #3314
The issue may be linked to a previous configuration. Please use the "Reset Configuration" button to delete the existing configuration. I've also addressed this in c791fc1246fc06e48b33c40ff7a792ae7eed4c16 . A new package will be available in one hour.

[2020-01-24 10:48] simonemainardi opened #3318 "User Script Categories Dropdown Fixes"
I've generalized the contents of the dropdown in https://github.com/ntop/ntopng/commit/0e2e8c61c492f7444811a844d3fcef8aee5f1015. Keep in mind that categories can change and can be updated so hardcoding them is not good.

Please address the following:
- this is broken as you are comparing a localized string: https://github.com/ntop/ntopng/pull/3313/files#diff-e48743a6229d29f1d444836d70026bb9R1238 c

[2020-01-24 10:49] simonemainardi commented on #3308
superseded by https://github.com/ntop/ntopng/issues/3318

[2020-01-24 10:49] #3308 closed, assigned to gabryon99

[2020-01-24 11:01] emanuele-f commented on #3285
Fixed in 2d7b7c86e60166c621086afdbc3b3387c0522dd8. The italian/german localization can be obtained with the `tools/localization/localize.sh` tool together with all the remaining strings to localize.

[2020-01-24 11:19] simonemainardi commented on #3311
![image](https://user-images.githubusercontent.com/3397663/73065428-d4dbfe00-3ea3-11ea-9f60-7d776af62352.png)

[2020-01-24 11:19] #3311 closed, assigned to simonemainardi

[2020-01-24 11:21] emanuele-f opened #3319 "Change language field is missing for the admin user"

[2020-01-24 11:26] emanuele-f opened #3320 "Specify from which script/status the flow score is calculated"

[2020-01-24 11:38] emanuele-f opened #3321 "Complete the it/de localization"
This should be postponed just before the 4.0 release

[2020-01-24 11:39] emanuele-f commented on #3285
Localization completion moved to #3321

[2020-01-24 11:39] #3285 closed, assigned to emanuele-f

[2020-01-24 11:41] PawelConnectio commented on #3314
maybe its stupid question but where is that button

[2020-01-24 13:09] emanuele-f commented on #3314
That has been added in the new package, please update ntopng.

[2020-01-24 13:12] gabryon99 commented on #3318
Merged #3317.

[2020-01-24 13:12] #3318 closed, assigned to gabryon99

[2020-01-24 13:14] simonemainardi commented on #3314
see button "Reset configuration"

![image](https://user-images.githubusercontent.com/3397663/73071736-e0372580-3eb3-11ea-9c09-d2d715631516.png)

[2020-01-24 13:17] simonemainardi commented on #3272
we are not affiliated nor related nor we distribute via `http://www1.ngtech.co.il`. Please, check our centos repos.

[2020-01-24 13:17] #3272 closed, assigned to nobody

[2020-01-24 13:22] simonemainardi commented on #3279
see the documentation at: https://www.ntop.org/guides/ntopng/api/timeseries/index.html

[2020-01-24 13:22] #3279 closed, assigned to nobody

[2020-01-24 13:24] simonemainardi commented on #3114
solved in 3.9. @cardigliano please confirm.

[2020-01-24 13:27] simonemainardi commented on #3209
duplicate of #2898

[2020-01-24 13:27] #3209 closed, assigned to nobody

[2020-01-24 13:28] simonemainardi commented on #2890
issue no longer holds as of latest implementation

[2020-01-24 13:28] #2890 closed, assigned to emanuele-f

[2020-01-24 13:32] simonemainardi commented on #2572
implemented

![image](https://user-images.githubusercontent.com/3397663/73072849-5177d800-3eb6-11ea-8640-3aba2aef698f.png)

[2020-01-24 13:32] #2572 closed, assigned to nobody

[2020-01-24 13:34] simonemainardi commented on #2513
TLS alerts for expired certificates implemented. All the TLS alerts supported are now the folowing

![image](https://user-images.githubusercontent.com/3397663/73072975-9ef44500-3eb6-11ea-99de-91b8401411df.png)

[2020-01-24 13:34] #2513 closed, assigned to emanuele-f

[2020-01-24 13:38] simonemainardi commented on #2479
Common alerts thresholds no longer exists. These are now been moved to the user scripts. Each user script has now its own thresholds that can be set. Configurations allow to specify different targets.

For example, to apply different thresholds to hosts in `10.0.0.0/8` and in `192.168.2.0/24` one can create two configurations:

![image](https://user-images.githubusercontent.com/3397663/73073193-1b

[2020-01-24 13:38] #2479 closed, assigned to emanuele-f

[2020-01-24 13:43] simonemainardi commented on #2357
In the latest ntopng version, you have the ability to create configurations for the alerts. Each configuration is applied to a certain group of hosts (specified in CIDR format).

So for example if you have two groups of hosts, say ced with ip `192.168.1.0/24` and office with ip `192.168.2.0/24`, and you want to apply different configurations to them, you can create two configurations as:

![image]

[2020-01-24 13:43] #2357 closed, assigned to nobody

[2020-01-24 13:54] cardigliano commented on #3114
I've been able to reproduce this on 3.8 time ago, I didn't see a fix for this actually, however it is likely this has been fixed in latest dev with some other patch. I would run some more test on dev and the next stable before closing it.

[2020-01-24 14:04] PawelConnectio commented on #3314
after update and reset there is no errors at all !

[2020-01-24 14:04] #3314 closed, assigned to nobody

[2020-01-24 14:21] emanuele-f commented on #2571
Implemented. It's now possible to specify a list of subdomains to exclude.

[2020-01-24 14:21] #2571 closed, assigned to emanuele-f

[2020-01-24 15:26] simonemainardi commented on #3232
please, try and download the pcap directly from inside ntopng. Go to the interface page and the click pcap download and attach it here.

![image](https://user-images.githubusercontent.com/3397663/73080481-2f865180-3ec6-11ea-8680-f59b08f48c3e.png)

[2020-01-24 15:51] #3319 closed, assigned to simonemainardi

[2020-01-24 16:23] simonemainardi commented on #3235
IPv6 ANY_ADDRESS is correctly accepted. Remember to specify the port after the `[::]`

See for example:

[code]

Then

[code]

[2020-01-24 16:23] #3235 closed, assigned to nobody

[2020-01-24 16:28] simonemainardi opened #3322 "User Scripts errors in Apply To"
Let's say I have 2 confs as shown here:

![image](https://user-images.githubusercontent.com/3397663/73085266-b4756900-3ece-11ea-9e6f-3d7320387d72.png)

If I try and edit the 'apply to' of one conf, and set it equal to the 'apply to' of the other conf, I get an error and this is fine

![image](https://user-images.githubusercontent.com/3397663/73085365-dec72680-3ece-11ea-92c5-82c7460438fd.png)

howe

[2020-01-24 18:18] joerg-wille commented on #3232
I have tried this already.
As I stated [above](https://github.com/ntop/ntopng/issues/3232#issuecomment-574376764), using the WebUI to download pcap produces empty files.
Or am using the WebUI wrong?

[2020-01-24 18:29] gabryon99 commented on #3322
When the request fails a new `csrf `token it must be sent, however the response doesn't contain the new `csrf` token so the new request fails again.

[2020-01-25 17:05] simonemainardi opened #3325 "Disabling Long Lived Flows allows empty values to be set"
If I disable long lived flows, I can 'Apply' with the input value empty

![image](https://user-images.githubusercontent.com/3397663/73124545-f40a8680-3f9c-11ea-9fc1-0c9ba105b6d7.png)

This causes an empty value to be stored and only a > sign is shown

![image](https://user-images.githubusercontent.com/3397663/73124550-fe2c8500-3f9c-11ea-8257-a8745cf80680.png)

This empty configuration can then be

[2020-01-25 17:41] simonemainardi opened #3326 "User Script Categories Dropdown should only contain available entries"
The dropdown should only contain categories available for the currently selected pill

![image](https://user-images.githubusercontent.com/3397663/73124986-14890f80-3fa2-11ea-9eee-a3df3be131e1.png)

For example, clicking Security yields and empty result as Security is only in the 'All' but not in the 'Enabled'

![image](https://user-images.githubusercontent.com/3397663/73124999-3e423680-3fa2-11ea-8

[2020-01-27 07:19] PawelConnectio opened #3327 "Influxdb Export failure"
Hi,
error Inluxdb Export failure shows from about 3-4 releases ago. Current version :
3.9.200124 (8746) -  Enterprise Edition
![Bez tytułu](https://user-images.githubusercontent.com/59692777/73156321-bb25fb00-40dd-11ea-836d-1dd335faf7f0.jpg)

[2020-01-27 09:00] emanuele-f commented on #3327
Can you post a screenshot of the InfluxDB status page?

[2020-01-27 09:13] PawelConnectio commented on #3327
![2020-01-27 10_12_54-Welcome to ntopng](https://user-images.githubusercontent.com/59692777/73162229-a487a000-40ed-11ea-8d50-982fc467a5b7.png)

[2020-01-27 09:18] #3322 closed, assigned to gabryon99

[2020-01-27 09:18] emanuele-f commented on #3327
Have you restarted ntopng after the issue occurred? It seems like the database is not able to keep up with the writes. When such drops occurs, please try to login into the influxdb command line and check if it responds to basic queries

[2020-01-27 09:24] PawelConnectio commented on #3327
Yes, i tryed restart few times - without any change. I think that housekeeping have to do with this .Below inluxdb RAM usage , its reach allmost max
![2020-01-27 10_21_09-Welcome to ntopng](https://user-images.githubusercontent.com/59692777/73162881-114f6a00-40ef-11ea-9e0c-d21d465a46b2.png)

[2020-01-27 09:40] simonemainardi commented on #3325
fixed in:
- https://github.com/ntop/ntopng/commit/29e080881de0506f0d4d10f71aa28f3efe0327fd
- https://github.com/ntop/ntopng/commit/628c9465eb479c7338afde31c3d10e7e6b8590ba

[2020-01-27 09:40] #3325 closed, assigned to emanuele-f, gabryon99

[2020-01-27 10:02] emanuele-f commented on #3327
You have a very high series cardinality, you should try to reduce the amount of timeseries written to the database by disabling some timeseries into the ntopng preferences. Please try to update InfluxDB to the latest version and/or contact the InfluxDB support

[2020-01-27 10:16] simonemainardi commented on #2612
Implemented as "Old TLS Version" flow alert in the latest dev

![image](https://user-images.githubusercontent.com/3397663/73166613-78bce800-40f6-11ea-9b05-519189a9751b.png)

[2020-01-27 10:16] #2612 closed, assigned to nobody

[2020-01-27 10:19] simonemainardi commented on #3104
implemented. Available features are export, import, and reset

![image](https://user-images.githubusercontent.com/3397663/73166827-ea953180-40f6-11ea-8562-335bb7abd945.png)

[2020-01-27 10:19] #3104 closed, assigned to nobody

[2020-01-27 10:26] #3254 closed, assigned to nobody

[2020-01-27 10:48] #3326 closed, assigned to emanuele-f, gabryon99

[2020-01-27 13:08] #3213 closed, assigned to simonemainardi

[2020-01-27 14:38] emanuele-f commented on #2851
Implemented in 8d51dae0e53908acc0a92dd75679245c36201a90

[2020-01-27 14:38] #2851 closed, assigned to emanuele-f

[2020-01-27 15:37] emanuele-f commented on #3120
Datetime pickers interaction fixed in 35a3c9ab0793721721b22d9a7b1d549c301fbe90

[2020-01-27 15:49] jasonamorrow opened #3332 "WARNING: Script failure"
I'm currently getting the following lua scipt failure messages in the log trace. This started occurring after I tried to disable alerts in preferences.

Below are the error messages from the trace log:
27/Jan/2020 10:40:11 [LuaEngine.cpp:12484] WARNING: Script failure [/usr/share/ntopng/scripts/lua/get_flows_data.lua][/usr/share/ntopng/scripts/lua/get_flows_data.lua:247: attempt to index a nil val

[2020-01-27 16:41] simonemainardi commented on #3332
please, try and update to the latest version and report. if planning to use only community add `--community`

[2020-01-27 16:53] jasonamorrow commented on #3332
I'm on the latest version for Raspbian and I'm using --community.

[2020-01-27 17:31] simonemainardi commented on #3332
Latest is 200127

[2020-01-27 18:22] jasonamorrow commented on #3332
After upgrading I continue to get the following in the trace log:

27/Jan/2020 13:21:25 [AlertCheckLuaEngine.cpp:80] WARNING: Script failure[/usr/share/ntopng/scripts/callbacks/interface/flow.lua] [cannot open /var/ntopng/plugins/plugins_metadata.lua: No such file or directory]
27/Jan/2020 13:21:01 [AlertCheckLuaEngine.cpp:80] WARNING: Script failure[/usr/share/ntopng/scripts/callbacks/interface/n

[2020-01-28 11:23] lucaderi opened #3333 "Invalid data reported when using Suricata"
![image](https://user-images.githubusercontent.com/4493366/73259733-b4c07d80-41c8-11ea-92a8-54d2b0f34928.png)

It seems that when using Suricata (InfluxDB is used as backend but it should not matter) traffic rates are wrong (TB range). Probably this is due to an invalid parsing of data reported  by Suricata

[2020-01-28 13:30] emanuele-f commented on #3120
A drilldown link has been added to such alerts, which brings the user to the corresponding host chart. As a further enhancement, a new "top DNS queries" view could be implemented by using the following nindex topk query:

![photo_2020-01-28_14-29-30](https://user-images.githubusercontent.com/5488003/73268108-39fc6000-41d2-11ea-9684-cacf465f3e5b.jpg)

[2020-01-28 13:52] simonemainardi opened #3334 "Manage data layout poorly styled"
![image](https://user-images.githubusercontent.com/3397663/73269784-be081500-41dd-11ea-8f3c-a2c6de51a306.png)

![image](https://user-images.githubusercontent.com/3397663/73269796-c3fdf600-41dd-11ea-9a7b-05879179738f.png)

[2020-01-28 13:59] simonemainardi opened #3335 "Report poorly styled with new sidebar"
![image](https://user-images.githubusercontent.com/3397663/73270306-b09f5a80-41de-11ea-8c5b-14dc0567b872.png)

[2020-01-28 14:05] simonemainardi commented on #3335
fixed

![image](https://user-images.githubusercontent.com/3397663/73270772-a7fb5400-41df-11ea-9ada-5207c868c38d.png)

[2020-01-28 14:05] #3335 closed, assigned to simonemainardi

[2020-01-28 14:08] jasonamorrow commented on #3332
The Flows page gives the following error: SyntaxError: Unexpected token H in JSON at position 0

There are additional errors in the trace log. Below is a sample:

28/Jan/2020 09:07:13 [second.lua:26] [ntop_utils.lua:205] ERROR: stack traceback: /usr/share/ntopng/scripts/lua/modules/ntop_utils.lua:205: in function 'tolongint' ...re/ntopng/scripts/lua/modules/timeseries/drivers/rrd.lua:340: in funct

[2020-01-28 14:10] emanuele-f commented on #2948
Alert fixed in 9833a87cbcfd82d1dc4c022e964559b397f4a986 . The error message is now checked every minute and an alert is generated.

![2020-01-28_15-08](https://user-images.githubusercontent.com/5488003/73270985-b2195480-41d7-11ea-8868-e65d4d645dc4.png)

[2020-01-28 14:10] #2948 closed, assigned to emanuele-f

[2020-01-28 14:11] emanuele-f commented on #3332
Please run on the raspberry `ntopng --version`

[2020-01-28 14:14] jasonamorrow commented on #3332
jason@monitor:~ $ ntopng --version
v.3.9.200127    [Enterprise/Professional/Embedded build]
GIT rev:        dev:35a3c9ab0793721721b22d9a7b1d549c301fbe90:20200127
Pro rev:        r2685
Built on:       Raspbian GNU/Linux 10 (buster)
System Id:      440C3FC9499602D2
Platform:       armv7l
Edition:        Enterprise Embedded
License Type:   Time-Limited [Empty license file]
Validity:       Until Tue J