[2021-03-15 08:23] simonemainardi opened #5107 "Failing loadModule silenced"
Please see https://github.com/ntop/ntopng/commit/885cc595ed7c0d7bca7f576907e6aec9b39b62b8

[2021-03-15 08:25] simonemainardi commented on #4621
@MatteoBiscosi please explain the fix you have done and also backported to stable.

[2021-03-15 08:35] simonemainardi commented on #5090
Mar 5 07:55:52 Ntop-NtopNG kernel: Code: 00 0f b7 ea 48 8b 04 eb 48 85 c0 75 18 bf 01 00 00 00 be 30 00 00 00 e8 e0 a2 f6 ff 48 85 c0 48 89 04 eb 74 67 48 8b 4c 24 40 0f 6f 00 66 49 0f 6e cc 66 49 0f 6e d5 66 0f 6c d1 66 0f d4 d0
Mar 5 07:55:53 Ntop-NtopNG systemd: ntopng.service: main process exited, code=killed, status=11/SEGV

This was resolved and already available in the latest dev/stable

[2021-03-15 08:35] #5090 closed, assigned to nobody

[2021-03-15 08:36] simonemainardi commented on #5099
Please, show the full log, and make sure you've run an `apt-get update` first.

[2021-03-15 08:38] Uzzi commented on #5099
Now I've installed on 32bit Raspian

[2021-03-15 08:38] simonemainardi commented on #5100
Please, show ntopng version used, configuration used, and attach screenshots.

[2021-03-15 08:40] simonemainardi commented on #5081
Closing for inactivity. No feedback received in 12 days.

[2021-03-15 08:40] #5081 closed, assigned to nobody

[2021-03-15 08:56] simonemainardi commented on #5099
Please, explain and show the logs.

[2021-03-15 09:10] #5102 closed, assigned to cardigliano

[2021-03-15 09:38] cardigliano commented on #5098
@kopigreenx did you install the ntopng version distributed by Ubuntu before perhaps? It seems you have ntopng-data 3.2+dfsg1-1 installed, which conflict with our package. To fix this please uninstall it (apt-get remove ntopng ntopng-data) and install form our repo.

[2021-03-15 09:38] #5098 closed, assigned to cardigliano

[2021-03-15 10:03] cardigliano commented on #5091
@ottorei please note this has been improved in the new dev version with a scrollable dropdown, it will be available with the next stable release.

[2021-03-15 10:03] #5091 closed, assigned to nobody

[2021-03-15 13:23] ottorei opened #5108 "Feature request - traffic report for host pools"
At the moment there does not seem to be a straightforward way to report top remote ASNs and have a combined peer-reports for host pools. Peers-tab only exist on host-page. I would like a way to combine these peers from multiple hosts and show the aggregated stats on host pools.

Another possibility could be to have a similar dashboard as Traffic Report but with the ability to filter hosts based on

[2021-03-15 13:44] rreiner commented on #5101
This is still happening after the 4.3.210314 update.  I have also removed all previous data in the data directory and restarted again, that didn't help either.

$ ntopng --version
Version:        4.3.210314 [Enterprise/Professional/Embedded build]
GIT rev:        dev:8915a98a8a2ba436cd8d71b3fd456fb7ef5a8977:20210314
Pro rev:        r3630
Built on:       Raspbian GNU/Linux 10 (buster)
System Id:

[2021-03-15 13:50] kopigreenx commented on #5098
thanks @cardigliano ,,,

[2021-03-15 14:04] rreiner commented on #5101
Now monitoring it with the 4.3.210315 update

$ ntopng --version
Version:        4.3.210315 [Enterprise/Professional/Embedded build]
GIT rev:        dev:6580aa2ac41ba2fe9e55e05bcb792496be5f010e:20210315
Pro rev:        r3631
Built on:       Raspbian GNU/Linux 10 (buster)
System Id:      130FA343499602D2
Platform:       armv7l
Edition:        Enterprise Embedded
License Type:   Time-Limited [Empty

[2021-03-15 15:32] zimbawe998 opened #5109 "Export all the IPs that contacted an host in a specific time interval"
I need to export all the IP Address that contact a host in a specific time interval.
This function it's required also if i have nprobe mapped to ntopng in order to track all the ip calling a nprobe host based

[2021-03-15 17:18] rreiner commented on #5101
It's still crashing periodically in the same way with version 4.3.210315

[2021-03-15 17:22] cardigliano commented on #5101
@rreiner can I see your configuration file?

[2021-03-15 17:28] rreiner commented on #5101
@cardigliano my config file contents follow:

[code]

[2021-03-15 17:39] cardigliano commented on #5101
@rreiner could you try adding --community to the configuration? Please let me know if it still crashes. Thank you.

[2021-03-15 17:44] rreiner commented on #5101
Done, and will monitor for crashes.  But I will miss those ten minutes of extended features!

[2021-03-15 19:30] rreiner commented on #5101
@cardigliano Still happens with --community

$ journalctl -f --system --lines=50 --unit=ntopng | grep -i segv\\\|restart
Mar 15 15:23:43 nghost systemd[1]: ntopng.service: Main process exited, code=killed, status=11/SEGV
Mar 15 15:23:48 nghost systemd[1]: ntopng.service: Service RestartSec=5s expired, scheduling restart.
Mar 15 15:23:48 nghost systemd[1]: ntopng.service: Scheduled restart job, res

[2021-03-15 22:39] rreiner commented on #5101
One thing that's probably unusual about my config is that I have rather long caching intervals:

[code]

But the problem isn't memory exhaustion... I see

[code]

[2021-03-16 07:34] simonemainardi commented on #5084
You execute the first query on the alerts index, and then, you execute a second query on the flows index using fields and search criteria of interest.

Do not think in terms of JOINs but in terms of separate queries. Elasticsearch is NoSQL and JOINs would be tremendously expensive.

[2021-03-16 07:35] #5084 closed, assigned to MatteoBiscosi

[2021-03-16 07:36] #5071 closed, assigned to MatteoBiscosi

[2021-03-16 07:37] simonemainardi commented on #5089
@martinscheu can you confirm this issue is solved?

[2021-03-16 07:46] simonemainardi commented on #4950
Still bugged. When a filter is selected, all host pool counters in the dropdown are messed up and wrong. It's not true there is (1) flow for test pool

![image](https://user-images.githubusercontent.com/3397663/111273344-f9f57800-8633-11eb-89f6-8f5ce2e06784.png)

[2021-03-16 07:48] #4618 closed, assigned to MatteoBiscosi

[2021-03-16 07:51] simonemainardi commented on #5106
@MatteoBiscosi please explain why the commit fixes the issue. Why it was working, what has caused the issue, and why the line you added fixes it. Add comments in the code.

[2021-03-16 07:57] simonemainardi commented on #5101
A bit OT: may I ask you why you are using caching intervals so long. What is your use case. Seems you are pushing ntopng to the maximum caching values it allows to configure.

[2021-03-16 07:57] #5086 closed, assigned to simonemainardi

[2021-03-16 07:58] simonemainardi commented on #5086
Didn't receive any feedback. Fixes are in the referenced commits.

[2021-03-16 07:59] simonemainardi commented on #5095
@MatteoBiscosi please comment why the referenced commit addresses this.

[2021-03-16 08:06] simonemainardi commented on #5087
@olmanolsztyn can you confirm this is solved? Do they appear?

By the way, I have feedback that now speed is missing from certain interfaces:

![image](https://user-images.githubusercontent.com/3397663/111275553-8f920700-8636-11eb-88a5-ecc91fae321f.png)

Can you please do an anmpwalk on OID `1.3.6.1.2.1.2.2.1.5` and see if the speed is shown for interfaces that are seemingly not showing their spee

[2021-03-16 08:31] simonemainardi commented on #2482
@TheLinuxGuy what about the ntopng version? Can you check on another browser? Please, also use the vivaldi inspector to see if there are any blocked requests. I am not sure if is it vivaldi policies that are causing this.

[2021-03-16 09:20] gabryon99 commented on #5095
The Exporters Page didn't render due to the uBlock Plugin that blocks the HTTP request of javascript files that contains specific tokens viewed as ads provider (in our case the file `flowdevices_stats.js` was including the `stats` string in its name). Now the file has been renamed and the problem is gone.

The commit description of https://github.com/ntop/ntopng/commit/6580aa2ac41ba2fe9e55e05bcb79

[2021-03-16 09:35] MatteoBiscosi commented on #5106
The reason is simple, the super method (the one inside GenericTrafficElement) is the one who's going to update the throughput and it wasn't called before, so the host throughput in reality was never updated, with the fix instead the super method is called and the throughput is now periodically updated

[2021-03-16 10:03] MatteoBiscosi commented on #4621
Already fixed the issue into the stable, the issue was the following: the boolean that was checked periodically was resetted when the issue, e.g. "not executed", was instead executed, so even if you had some issue into the specific column, (e.g. 10 "not executed" like into @gianogli 's screenshot) were not filtered because they were "old" issues and the specific boolean was resetted. I fixed the f

[2021-03-16 10:12] MatteoBiscosi commented on #4950
@simonemainardi  I was not able to reproduce this behaviour, could you please tell me how the pools are configured?

[2021-03-16 10:21] olmanolsztyn commented on #5087
Interfaces with null speed are xe- (10gbps interface) and lt- (logical tunnel interface)
Sample from snmpwalk both for xe- and lt- :
IF-MIB::ifSpeed.543 = Gauge32: 4294967295

Another things is even now lldp neighbors are present but ntopng doesnt drawing maps with these interfaces.

[2021-03-16 10:49] simonemainardi commented on #5106
You say it wasn't called before, but actually the host throughput was calculated in earlier versions of ntopng. So please explain what has changed and why you say it wan't called before.

[2021-03-16 10:56] simonemainardi commented on #5087
Can you please repeat the walk `1.3.6.1.2.1.2.2.1.5` on interfaces 513 and 512?

----

By the way

Seems you are hitting this with 10Gbps interfaces (https://cric.grenoble.cnrs.fr/Administrateurs/Outils/MIBS/?oid=1.3.6.1.2.1.2.2.1.5)

Can you try and snmpwalk on:

1.3.6.1.2.1.31.1.1.1.15 (ifHighSpeed)

[2021-03-16 11:06] olmanolsztyn commented on #5087
Snmpwalk response:

IF-MIB::ifHighSpeed.512 = Gauge32: 10000
IF-MIB::ifHighSpeed.513 = Gauge32: 10000
IF-MIB::ifHighSpeed.514 = Gauge32: 10000
IF-MIB::ifHighSpeed.515 = Gauge32: 10000

[2021-03-16 11:08] MatteoBiscosi commented on #5106
The periodic update method of HostStats override the GenericTrafficElement periodic update but the super periodic update was not called by HostStats so all the periodic updates done by GenericTrafficElement weren't done and this mean that the throughput update wasn't done

[2021-03-16 11:10] simonemainardi commented on #5106
issue was caused here with the override of this virtual method which was not calling the overridden method in the parent

[code]

[2021-03-16 11:10] #5106 closed, assigned to MatteoBiscosi

[2021-03-16 11:11] simonemainardi commented on #4950
![image](https://user-images.githubusercontent.com/3397663/111299837-b52c0a00-8650-11eb-99df-9e75d7693e61.png)

then ping 8.8.8.8

[2021-03-16 11:53] simonemainardi commented on #5087
Thanks, please, check this as well

[2021-03-16 12:50] olmanolsztyn commented on #5087
IF-MIB::ifSpeed.512 = Gauge32: 4294967295
IF-MIB::ifSpeed.513 = Gauge32: 4294967295
IF-MIB::ifSpeed.514 = Gauge32: 4294967295
IF-MIB::ifSpeed.515 = Gauge32: 4294967295

[2021-03-16 13:22] rreiner commented on #5101
@simonemainardi The use case is simple:

The network is not large or busy (about 60 hosts total, average throughput seen on the SPAN port of under 1Mbit/sec, no more than about 40 hosts active at one time.)

BUT some hosts come and go at long intervals (1 week or more), and if we do not set the cache intervals high then they disappear from the Hosts displays and it becomes impossible to answer que

[2021-03-16 16:48] antonakv opened #5110 "ntopng 4.3.210315 stops processing netflow data which is coming from nprobe 9.5.210315 through ZMQ"
I have problem with ntopng 4.3.210315. It stops processing netflow data which is coming from nprobe 9.5.210315 through ZMQ. And nprobe receives netflow stream from Mikrotik. OS: Raspbian GNU/Linux 10 (buster).

tcpdump on zero mq port shows that data is comming to ntopng but ZMQ Statistics stays without any change and flow is not accounted.

When I restart ntopng it starts working again for a whil

[2021-03-16 16:54] #4950 closed, assigned to MatteoBiscosi

[2021-03-16 16:56] simonemainardi commented on #5110
- is your nProbe licensed?
- Look under the interface stats page. Do you see ZMQ messages counters increasing?
- Why to you think it is related to BPF L7?

[2021-03-16 17:26] antonakv commented on #5110
Hi @simonemainardi
- Yes, nProbe is licensed. And license is recognised correctly as I see in a logs.
- ZMQ messages counters aren't increasing. When I do restart it's increasing and then stops again.
- I think it's related to BPF L7 as I have checked recent issues and in one of them was said that ntopng stops crashing when L7 analysis is disabled. It's my guess.

[2021-03-16 17:45] simonemainardi commented on #5110
please report the output of `ntopng --version` and `nprobe --version`

[2021-03-16 17:48] simonemainardi commented on #5101
Thank you for reporting this.

Totally. I was just curious to see if your use case could have been resolved differently.

[2021-03-16 17:51] antonakv commented on #5110
Here you are @simonemainardi
$ ntopng --version
Version:	4.3.210315 [Enterprise/Professional/Embedded build]
GIT rev:	dev:4cb53e4508a354865b18213b24b5c96cf267ccbd:20210315
Pro rev:	r3633
Built on:	Raspbian GNU/Linux 10 (buster)
System Id:	4419597B499602D2
Platform:	armv7l
Edition:	Enterprise Embedded
License Type:	Permanent
Maintenance:	Until Wed Mar 16 18:38:46 2022 [364 days left]
License:	Wh47a

[2021-03-16 19:01] AlphaDE commented on #5025
I am still seeing this issue with v.4.3.210315 (Raspbian GNU/Linux 10 (buster)) |

[2021-03-16 19:05] AlphaDE commented on #5025
Was this also fixed in 4.3? Because I am still seeing this issue in v.4.3.210315 (Raspbian GNU/Linux 10 (buster)).

[2021-03-17 04:41] amastelek commented on #5025
I'm still having the issuing on debian buster using 4.2.

[2021-03-17 07:37] zcy382725 commented on #5102
thanks @cardigliano that's exactly what i need

[2021-03-17 08:03] #5095 closed, assigned to gabryon99

[2021-03-17 08:04] lucaderi opened #5111 "Alert Christmas Tree again"
<img width="1423" alt="Screenshot_2021-03-17_at_09_00_46" src="https://user-images.githubusercontent.com/4493366/111434340-b9fbc700-86ff-11eb-9288-36e67d889afb.png">

[2021-03-17 08:30] antonakv opened #5112 "[startup.lua:176] [lists_utils.lua:511] WARNING Bad domain name 'https' in list 'Abuse.ch URLhaus'"
There is some typo:
[startup.lua:176] [lists_utils.lua:511] WARNING Bad domain name 'https' in list 'Abuse.ch URLhaus'

--
Version | ntopng Enterprise M v.4.3.210315 (Raspbian GNU/Linux 10 (buster)) \|
nDPI | 3.5.0-3039-b22cb70a

[2021-03-17 14:42] lucaderi commented on #5110
After some tests we realised the bug is in the ntopng side as nProbe is continuously sending out flows

[2021-03-17 15:10] antonakv commented on #5110
@lucaderi Thank you very much!

[2021-03-17 15:24] fisben opened #5113 "License error after increase system requirements"
Iis it forbidden to increase the number of processors and memory after installing the license?
Because after installing the license there was an error that there were not enough processors to process the flow, I increased the number of processors from 2 to 6 and the licenses stopped working.

When it worked :
root@ntop:~# systemctl start nprobe
root@ntop:~# nprobe -v

Welcome to nProbe v.9.4.21031

[2021-03-17 15:59] rreiner commented on #5101
It almost looks like there's some periodicity in the crash times -- midnight and 8am seem like the most common (but not the only) times for the SEGVs:

[code]

[2021-03-17 15:59] cardigliano commented on #5113
Hi Dmitry
how did you increase the processors? Is this a VM or you replaced the physical CPU?

Alfredo

[2021-03-17 16:04] fisben commented on #5113
VM hyper-v

[2021-03-17 16:12] fisben commented on #5113
root@ntop:~# ntopng -i eth0 --online-license-check
18/Mar/2021 00:56:50 [Ntop.cpp:2347] Setting local networks to 127.0.0.0/8,fe80::/10
18/Mar/2021 00:56:50 [Redis.cpp:157] Successfully connected to redis 127.0.0.1:6379@0
18/Mar/2021 00:56:50 [Redis.cpp:157] Successfully connected to redis 127.0.0.1:6379@0
18/Mar/2021 00:56:50 [NtopPro.cpp:322] [LICENSE] Reading license from /etc/ntopng.license
18

[2021-03-17 16:44] fisben commented on #5113
i use recover page - https://shop.ntop.org/recover_licenses.php
using system id from command: "ntopng -V --vm | grep System" for new license and its worked

[2021-03-18 03:03] #5113 closed, assigned to nobody

[2021-03-18 07:53] ListenNjoy opened #5114 "Influx DB error ntopng and flow button crash"
Hello i get this error when recieving zmg from cento.

[timeseries.lua:14] [influxdb.lua:456] ERROR: Unexpected query error: not executed, in query #18:  CREATE CONTINUOUS QUERY "iface:score__1d" ON ntopng BEGIN SELECT mean(cli_score) as cli_score,mean(srv_score) as srv_score INTO "1d"."iface:score" FROM ( SELECT mean(cli_score) as cli_score,mean(srv_score) as srv_score FROM "autogen"."iface:score

[2021-03-18 08:17] Paolo5466 opened #5115 "[nedge] Wrongly classified flow"
website "www.confindustriabrescia.it" gets identified as "tor" traffic and gets blocked.
Using the ip address instead works.
I tried to add both the IP and the FQDN in the "User custom category 1" with "Allow" policy but it doesn't solve the issue.
The website is still unreachable.
Is it any way to "trust" a public IP or FQDN to avoid it being blocked?

Thanks

![image](https://user-images.githubu

[2021-03-18 09:12] lucaderi commented on #5112
At line 456 of the Abuse.ch URLhaus.txt file there is an invalid entry (so the problem is of abuse.ch not ntop) and then the issue. We have added a more explicit warning (https://github.com/ntop/ntopng/commit/146a4b8c9a36b3a9c9bc483994cf3549db93a445) to ease the process of locating the invalid line

127.0.0.1       htownbars.com
127.0.0.1       https
127.0.0.1       hub.matinal-nominal.pt

[2021-03-18 09:12] #5112 closed, assigned to lucaderi

[2021-03-18 12:43] antonakv commented on #5110
There is strace output when it has stuck
[code]

[2021-03-18 17:28] blefev commented on #5049
Deleting data and reinstalling made it work for about a day, but the issue came back.

[2021-03-19 08:47] gabryon99 commented on #5111
I scaled up the maximum width of the 'Action' column:
https://github.com/ntop/ntopng/commit/a948cbea0f261ba149333ad0af7f5f659b7dbcb1

See the file: `scripts/lua/modules/alert_utils.lua`

[2021-03-19 09:27] lucaderi commented on #5110
The issue is solved: the device was put on pause

[2021-03-19 09:27] #5110 closed, assigned to lucaderi, MatteoBiscosi

[2021-03-19 09:44] MatteoBiscosi commented on #5107
Silencing removed, the error was caused by an incorrect rest test

[2021-03-19 10:10] gianogli commented on #5114
I've a very similar issue: I've just upgraded ntopng from 4.3.210212 to 4.3.210319 (Enterprise M) and now my logs are filled by these error messages:
[code]
I think there is some problem into influxdb related to the new "score" feature...

[2021-03-19 11:24] simonemainardi commented on #5114
@MatteoBiscosi please check lua method `getPossiblyChangedSchemas`.

If there has been changes in the score timeseries, this can potentially be the source for reported errors.

It should be necessary to update `getPossiblyChangedSchemas`

[2021-03-19 11:26] simonemainardi commented on #5107
please, cleanup `tprint` leftovers and then close: https://github.com/ntop/ntopng/commit/ab559470173a4a59ec0c40d1b3c276fd5a78b3f1#diff-951facdf8262ca5e08b77698f817e252aaa6a8316a33239f7b15f981f877f6aaR1203

[2021-03-19 11:28] MatteoBiscosi commented on #5107
already cleaned up, see commit: e71dfaaa0b3e9cbe0d517c2f67ad4cb7c2cb9bc0

[2021-03-19 11:28] #5107 closed, assigned to MatteoBiscosi

[2021-03-19 12:45] antonakv commented on #5110
I'm not sure if "The issue is solved: the device was put on pause" is straight solution as ntopng puts on pause itself when it was not on pause. Maybe because of slow IO, or peak high cpu load or licensing check issue. Something like that. It was not op pause on purpose. Moreover, in a while after restart ntopng will put netflow comming from nprobe on pause again.

[2021-03-19 16:08] MatteoBiscosi commented on #5114
Hi @ListenNjoy i should have fixed the issue, builds are in progress wait for a few hours and update ntopng. Let me know if the problem persists or not

[2021-03-19 21:43] gianogli commented on #5114
Hi @MatteoBiscosi, I've just update the ntopng package and the error messages are disappeared.
The "Score" column on "Active Flows" windows is always empty for now... but I don't know if I've to wait some hours to see if the new feature is working as expected.
Thanks for your support... ;-)

[2021-03-20 09:58] amastelek opened #5118 "ntop restart not working from web interface"
The restart from the web interface on multiple instances of ntopng causes the service to fail.

I need to go to the command line and the do: sudo service ntopng@oz restart

This bring the web interface and the service back to life.

[2021-03-20 16:57] lucaderi commented on #5115
Fixed by https://github.com/ntop/nDPI/commit/627299e4ddd7d39fcc7ce8cd703be0ed8f92da4a in dev. Do you use stable or dev?

[2021-03-20 16:58] Paolo5466 commented on #5115
Sorry for not detailing the request.
Dev.

Il sab 20 mar 2021, 17:57 Luca Deri ***@***.***> ha scritto:

[2021-03-20 18:32] lucaderi commented on #5115
So overnight the new build with the fix will be available. Thanks for reporting the issue

[2021-03-20 18:32] #5115 closed, assigned to lucaderi

[2021-03-20 18:38] Paolo5466 commented on #5115
Thank you.

Il sab 20 mar 2021, 19:32 Luca Deri ***@***.***> ha scritto:

[2021-03-21 07:48] lucaderi commented on #5111
Seems to work now, will reopen if necessary

[2021-03-21 07:48] #5111 closed, assigned to gabryon99

[2021-03-22 09:04] cardigliano commented on #5076
It seems this is no longer reproducible. Please reopen in case.

[2021-03-22 09:04] #5076 closed, assigned to cardigliano

[2021-03-22 22:16] lucaderi opened #5119 "Score counter wrap"
![Screen Shot 2021-03-22 at 23 15 41](https://user-images.githubusercontent.com/4493366/112065260-a53a8b80-8b64-11eb-9581-a11bca16d6be.png)

[2021-03-22 22:17] lucaderi opened #5120 "Invalid double blacklist icon"
![image](https://user-images.githubusercontent.com/4493366/112065294-b7b4c500-8b64-11eb-9219-166ab505f5cb.png)

[2021-03-22 22:18] lucaderi opened #5121 "Invalid TLS host pagepage"
http://XXXX:3000/lua/rest/v1/get/host/get_fingerprint_data.lua?fingerprint_type=ja3&ifid=3&host=83.149.162.179&_=1616435773481

This is the output
{
"rc_str_hr": "Not found",
"rc": -1,
"rc_str": "NOT_FOUND",
"rsp": []
}

[2021-03-22 22:19] lucaderi opened #5122 "Invalid zero value reported"
![Screen_Shot_2021-03-22_at_23_18_58](https://user-images.githubusercontent.com/4493366/112065538-137f4e00-8b65-11eb-86e4-d0a23088e6ba.png)

[2021-03-23 07:30] lucaderi opened #5123 "Engaged alerts lost past shutdown"
Engaged alerts are not written to the alert database if ntopng is stopped or restarted. Two options
- serialise the alerts so that when ntopng starts up again they are still engaged
- at shutdown put the engaged alerts in the alert database before shutdown completes (perhaps this is the best solution)

[2021-03-23 07:34] #5120 closed, assigned to nobody

[2021-03-23 07:35] lucaderi opened #5124 "Invalid engaged alerts transition"
When engaged alerts return to normal state (e.g the problem disappears) they should move to the "Past Alerts" section of alerts. Unfortunately this works from time to time and formar engaged alerts disappear instead of being moved to the "Past Alerts" section. This behaviour is wrong for most alerts such as "Unexpected Host Behaviour" or "Ghost Networks". Example this engaged alerts is open for so

[2021-03-23 09:15] #5114 closed, assigned to MatteoBiscosi

[2021-03-23 09:42] lucaderi commented on #5099
Closing for inactivity. Will reopen if necessary

[2021-03-23 09:42] #5099 closed, assigned to nobody

[2021-03-23 10:27] gianogli opened #5125 "WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/system/daily.lua]: attempt to call a nil value"
I find this warning into my logs:
[code]
I have one warning a day after midnight.
Could you resolve?

Thanks... :-)

[2021-03-23 10:46] #5122 closed, assigned to simonemainardi, MatteoBiscosi

[2021-03-23 10:47] simonemainardi commented on #5119
This is due to Flow::updateAlertsStats not being called when preference don't emit flow alerts is set. Fix in progress.

[2021-03-23 10:55] MatteoBiscosi commented on #5125
Hi @gianogli the issue should be fixed, let me know if everything works fine from now on

[2021-03-23 14:37] lucaderi opened #5126 "Too many hosts automatic handling not working"
![Screen Shot 2021-03-23 at 15 35 47](https://user-images.githubusercontent.com/4493366/112163625-80d6c180-8bed-11eb-9ee6-9fcbefadba96.png)

Ubuntu 18, 4.3.210323

[2021-03-24 01:18] tswalker opened #5127 "opnsense hangs on shutdown waiting for ntopng PID to stop"
I've noticed since 20.7.x that opnsense is having some troubles during reboot/shutdown with ntopng not getting stopped in a timely manner.. can take several minutes or longer.  kill the service will immediately continue the shutdown.

[2021-03-24 03:05] RicterZ commented on #5086
CVE-2021-28073, CVE-2021-28074 assigned to these issues.

Simone Mainardi ***@***.***>于2021年3月16日 周二下午3:58写道：

--
Regards,
Ricter Zheng

[2021-03-24 07:21] simonemainardi commented on #5086
Did you report the references to the fixes in the CVEs?

[2021-03-24 07:23] RicterZ commented on #5086
Yes, with the fixed commits

Simone Mainardi ***@***.***>于2021年3月24日 周三下午3:22写道：

--
Regards,
Ricter Zheng

[2021-03-24 07:34] simonemainardi commented on #5086
thank you

[2021-03-24 07:56] simonemainardi commented on #5119
Fixed in https://github.com/ntop/ntopng/commit/8c31b700735e7654cf6c81bc1f8cd6ac18993885

[2021-03-24 07:56] #5119 closed, assigned to simonemainardi

[2021-03-24 08:51] #5123 closed, assigned to simonemainardi

[2021-03-24 08:51] simonemainardi commented on #5123
This is the way chosen.

[2021-03-24 09:38] gianogli commented on #5125
Hi @MatteoBiscosi, I've just updated my installation to v.4.3.210324 but I've to wait midnight to verify if the issue is solved (as I beleave ;-) ).

For now... thanks for your support! :-)

[2021-03-24 09:51] #5125 closed, assigned to MatteoBiscosi

[2021-03-24 10:04] simonemainardi opened #5128 "Invalid handlerPeerBehaviour"
alerts_api.handlerPeerBehaviour is invalid as it always triggers a single alert (single alert type) for 5 different alerts. This will likely cause unexpected behaviors.

Function is called here:

[code]

if you want to use the same type, namely `alert_unexpected_behaviour`,  this is fine, but you need to differentiate using the subtype. e.g.,

subtype = "active_flows_anomaly_as_client"
subtype = "

[2021-03-24 10:13] simonemainardi commented on #5128
even better and more generic use the concatenation of script_key and either "as_client" or "as_server" as subtype

[2021-03-24 10:33] #5121 closed, assigned to nobody

[2021-03-24 14:42] MatteoBiscosi commented on #5128
As decided before the unexpected behaviour alert is divided into 5 new alerts. For this reason the subtype is not needed and it's removed from the current implementation.
Regarding the localization everything is fixed now and the "Behaviour Type" used inside the handlerPeerBehaviour function is not needed anymore, because the description is handled by the alert_definition format function

[2021-03-24 15:02] simonemainardi commented on #2920
when `ntop->getPro()->is_oem()`, it would be desirable to respond to `<product_name>.local`

[2021-03-24 15:10] simonemainardi commented on #2914
After internal review, we have decided that the current behavior is consistent:

- Regular captive portal users will reach the captive portal normally
- Administrators will just have to add `:3000` to the call home address, which is normal and expected from an administrator (already familiar with ntopng)

Current implementation has also the benefit of being less complex, without an extra DNAT.

[2021-03-24 15:10] #2914 closed, assigned to simonemainardi, lucaderi

[2021-03-24 15:11] AngeloColucci opened #5129 "After pressing the flows button ntopng crashes"
Hello,
on our ntopng server we get the following error when click on flows menu:

Mar 24 15:13:45 ntopng-poc kernel: [600665.356300] ntopng[35951]: segfault at 7f3f8070ff10 ip 000056505db08a0f sp 00007f3e92c84cd0 error 6 in ntopng[56505d9a2000+453000]
Mar 24 15:13:46 ntopng-poc systemd[1]: ntopng.service: Main process exited, code=killed, status=11/SEGV
Mar 24 15:13:46 ntopng-poc systemd[1]: ntopn

[2021-03-24 15:18] MatteoBiscosi commented on #5089
Closed for inactivity, if needed please reopen the issue.

[2021-03-24 15:18] #5089 closed, assigned to MatteoBiscosi

[2021-03-24 15:18] simonemainardi commented on #2917
A fairly simple implementation can involve a dropdown to choose whether quotes are

- Daily
- Weekly
- Montly

And tune the reset accordingly

[2021-03-24 15:20] #4942 closed, assigned to simonemainardi, MatteoBiscosi

[2021-03-24 15:21] #4887 closed, assigned to MatteoBiscosi

[2021-03-24 15:34] lucaderi opened #5130 "Alert aggregation is flawed"
![Screen_Shot_2021-03-24_at_16_33_25](https://user-images.githubusercontent.com/4493366/112338110-cf07c580-8cbe-11eb-9da2-fe9c06fd8024.png)

[2021-03-24 15:43] cardigliano opened #5131 "Support protocol names in nEdge configuration bootstrap"
Protocol IDs are provided to nEdge in the JSON used to bootstrap the configuration. Check and test also support for protocol names as IDs can change over time (IDs for deprecated protocols are recycled from time to time)

[2021-03-24 16:38] simonemainardi opened #5132 "nEdge Factory Reset"
Factory reset in nEdge does not seem to reset

- Interface names
- Captive portal status (seems it stays enabled)
- Networks settings, DHCP, DNS
- Routing policies

[2021-03-24 16:39] simonemainardi opened #5133 "Speedtest in nEdge not working"
Seems the speedtest on 32bit machines does not work and on 64bit machines it stops working after a while. Moreover, it would be useful to be able to chose the interface for the test.

[2021-03-24 17:25] MatteoBiscosi commented on #5129
Hi @AngeloColucci I'm sorry but i'm unable to reproduce this issue, so please download this binary with debug symbols
https://www.dropbox.com/s/ddi7gjw39nhbr65/ntopng?dl=0
Run it in gdb as you normally do:
gdb --args /etc/ntopng/ntopng.conf
Then run it and wait until it crashes. When it crashes type 'bt' inside the (gdb) prompt and send me the output.
You can find detailed instructions [here](http

[2021-03-25 07:20] #5128 closed, assigned to MatteoBiscosi

[2021-03-25 07:21] simonemainardi commented on #5127
please report the ntopng version used. Make sure you've installed an official package from https://packages.ntop.org/

[2021-03-25 08:42] AngeloColucci commented on #5129
Hi Matteo,
following the output in gdb after segmentation fault, and the bt:

Thread 13 "ntopng" received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7fffc67fc700 (LWP 40927)]
nDPIStats::incStats (this=this@entry=0x7fffc67f4650, when=when@entry=0, proto_id=proto_id@entry=3, sent_packets=<optimized out>, sent_bytes=<optimized out>, rcvd_packets=<optimized out>, rcvd_bytes=0) at src/n

[2021-03-25 08:52] lucaderi opened #5134 "Inconsistent Endpoint/Recipients Setup"
<img width="1211" alt="Screenshot 2021-03-25 at 09 48 00" src="https://user-images.githubusercontent.com/4493366/112445666-b09dda80-8d4f-11eb-85a6-5e9eeb3e2301.png">

This is the setup I have on my system, that it cannot be fixed even with a factory reset of endpoint/recipients.

[2021-03-25 08:56] simonemainardi commented on #5129
are you using custom protocols?

Please type `p proto_id` inside the gdb (were you have typed bt) and report the output.

[2021-03-25 09:36] #5134 closed, assigned to simonemainardi

[2021-03-25 09:49] cardigliano commented on #5131
All the required formats are already supported:

1. protocol ID
2. protocol name
3. category name

Names are *not* case sensitive

Examples:

 ["ConnectivityCheck"] = "pass", [10] = "slow_pass", ["Facebook"] = "slower_pass",  ["youtube"] = "drop"

[2021-03-25 09:49] #5131 closed, assigned to cardigliano

[2021-03-25 10:15] cardigliano commented on #2920
isCallHomeAddress now also checks `hello.<product>.local` in case of OEM

[2021-03-25 10:15] #2920 closed, assigned to MatteoBiscosi

[2021-03-25 12:25] AngeloColucci commented on #5129
Hi Simone,

I don't know how I can do that...

Following the print of proto_id field that you required:

(gdb) bt
#0  nDPIStats::incStats (this=this@entry=0x7fffbb7f6650, when=when@entry=0, proto_id=proto_id@entry=3, sent_packets=<optimized out>, sent_bytes=<optimized out>, rcvd_packets=<optimized out>, rcvd_bytes=0) at src/nDPIStats.cpp:267
#1  0x000055555565aaa9 in Flow::sumStats (this=this@entr

[2021-03-25 14:37] cardigliano commented on #3872
Implemented

[2021-03-25 14:37] #3872 closed, assigned to nobody

[2021-03-25 18:57] #5129 closed, assigned to nobody

[2021-03-25 21:45] lucaderi opened #5135 "Crash when configuring active monitoring hosts"
As soon as a new host is added in active monitoring, ntopng reports the following errors

- Linux
 Mar 25 22:42:44 pc-deri ntopng[7603]: [LuaEngine.cpp:392] WARNING: Script failure [/usr/share/ntopng/scripts/lua/modules/user_scripts.lua][/usr/share/ntopng/scripts/lua/modules/user_scripts.lua:1939: too many C levels (limit is 200) in function at line 1928 near 'i18n']
Mar 25 22:42:44 pc-deri ntopng

[2021-03-26 07:23] #5135 closed, assigned to simonemainardi, MatteoBiscosi

[2021-03-26 08:51] lucaderi opened #5136 "Unable to double -X/-x"
Ubuntu 18.04 LTS with the current dev *looks like a regression)

![Screen Shot 2021-03-26 at 09 48 32](https://user-images.githubusercontent.com/4493366/112606325-88c67980-8e18-11eb-8de2-fba621736459.png)
then click on the button
![Screen Shot 2021-03-26 at 09 48 37](https://user-images.githubusercontent.com/4493366/112606359-954ad200-8e18-11eb-9d29-f32c5e3e8bb5.png)
then click on "Double Number"

[2021-03-26 09:20] lucaderi commented on #2901
We decided that this feature is not relevant, so it won't implemented

[2021-03-26 09:20] #2901 closed, assigned to nobody

[2021-03-26 09:23] lucaderi commented on #2831
This has been implemented as local hosts with DHCP are serialised via MAC

[2021-03-26 09:23] #2831 closed, assigned to nobody

[2021-03-26 09:35] #5136 closed, assigned to MatteoBiscosi

[2021-03-26 14:05] martinscheu commented on #4951
Hello ntop - Team!
I think it is not implemented, but it would help a lot :-).
Thanks, Martin

[2021-03-26 15:50] martinscheu opened #5137 "Implement host DNS cache rate detection"
Hello
DGA detection / DNS data exfiltration is difficult to detect.
An indicator of malicious activity is to check the host cache hit rate. If a host is asking a lot of names which are not in the cache, it is suspicious.
Thank you.
Regards, Martin

[2021-03-26 17:03] MatteoBiscosi commented on #4422
Added top domain names to the host/interface Top Sites page. Currently the full name is added and not only the domain.

[2021-03-26 18:00] netsolv opened #5138 "User Scripts will not enable"
I just updated to the latest build after the service restart, I can no longer change/enable user scripts...
Version:        4.3.210324 [Enterprise/Professional/Embedded build]
GIT rev:        dev:6a1600b2eb85ab6eca6e5bd279fd4482288dcdba:20210324
Pro rev:        r3655
Built on:       Raspbian GNU/Linux 10 (buster)
Platform:       armv7l
Edition:        Professional Embedded
License Type:   Permanen

[2021-03-27 10:23] adamsj182 commented on #4837
You guys are on a whole other level than me and so I don't have anything to add except that I started running into the exact same error:

 "dyld: Library not loaded: /usr/local/Cellar/glib/2.66.1/lib/libgmodule-2.0.0.dylib
  Referenced from: /usr/local/opt/ntopng//libgio-2.0.0.dylib
  Reason: Incompatible library version: libgio-2.0.0.dylib requires version 6601.0.0 or later, but libgmodule-2.0.0.

[2021-03-29 08:18] stockybuild opened #5139 "Raspberry Pi OS (not) 64bit nor (Debian) anymore..."
Raspberry Pi OS isn't available in 64bit anymore (or just now?) which means a build from source (and broken packages) is pretty much on the cards for most debian fans if the latest version of ntop software is sought after. ... (maybe a good learning experience...)

[2021-03-29 08:25] lucaderi commented on #5139
To date PiOS 64 bit has not been officially released AFIK (https://www.raspberrypi.org/software/operating-systems/), so we decided to stay to 32 bit. Are we missing something?

[2021-03-29 08:26] lucaderi commented on #5105
Can you please upgrade to the latest version where we have made some fixes and report?

[2021-03-29 15:44] itboffin71 commented on #4837
Whilst not a fix for the official package you can still get it working by installing using homebrew package tool

brew install ntopng

[2021-03-30 06:57] tomkolp opened #5140 "Disabled alerts are not saved in the exclusion list"
After disabling an alert for a specific address, it does not appear in the exclusion list. It was working normally a few days ago. I currently have version v. 4.3.210330
![image](https://user-images.githubusercontent.com/39633242/112946737-2c27cf00-9136-11eb-99f6-ea08ddfa47d7.png)
![image](https://user-images.githubusercontent.com/39633242/112946762-31851980-9136-11eb-86cf-e643a030b50c.png)

[2021-03-30 06:58] simonemainardi commented on #5140
we are in the process of implementing a page with all disabled alerts.

[2021-03-30 08:20] lucaderi commented on #5139
Closing we'll reopen if necessary

[2021-03-30 08:20] #5139 closed, assigned to nobody

[2021-03-30 08:50] AmCrNi commented on #5105
Hi,

After upgrade to the newest version ntopng sitll restarts (every minute). In the UI I see the following:

[code]
strace show the following:
[code]

[2021-03-30 09:35] ioxera commented on #4624
I encountered the same problem. I can complete the compilation with ntopng v4.2 + NDPI v3.4 without any errors, but the same error was reported with ntopng v4.2 + NDPI v3.4. When I try to use other versions of NDPI（dev\v3.2\v3.0), I will make different errors, so I don't think that the version of NDPI is too old, I have no solution to this problem.

[2021-03-30 15:26] MatteoBiscosi commented on #3620
Localhost thumbnail changed to this new icon:
![Screenshot from 2021-03-30 17-23-45](https://user-images.githubusercontent.com/49585191/113014565-fbb75380-917c-11eb-86d2-24fe221d69eb.png)

[2021-03-30 15:26] #3620 closed, assigned to nobody

[2021-03-30 20:11] netsolv commented on #5138
VERSION UPDATE:
Version:        4.3.210328 [Enterprise/Professional/Embedded build]
GIT rev:        dev:2bf21168ffa6dc46055311483b6a2300377ab084:20210328
Pro rev:        r3671

Receiving from systemctl status ntopng.service
[FlowCallbacksLoader.cpp:215] WARNING: Unable to find flow callback  iec60870_5_104

[2021-03-31 09:59] iamperson347 commented on #5127
I have the same issue. The problem appears to be that opnsense/freebsd shuts down redis before it shuts down ntopng. This causes ntopng to hang trying to reconnect to redis. It sounds like a dependency issue in the rc scripts for freebsd.

[2021-03-31 20:58] gabryon99 opened #5141 "Implement REST endpoints for the new Traffic Dashboard"
As discussed today, we have to implement the new traffic dashboard that will replace the current one. The new dashboard will have (at the moment) five widgets listed below:
1. **Top L7 Protocols**, displayed as a Bar Chart (or Word Cloud chart?);
2. **Interface Score**, displayed as a big number with a label representing the increase/decrease percentage compared to a selected time period;
3. The *

[2021-03-31 21:45] tswalker commented on #5127
apologize for the delay:
current ntopng plugin for opnsense versions:

Plugin Changelog
================
1.2
* Changed data directory to avoid warning
* Make data directory persistant in MFS environments

ntop version info:
Copyright | © 1998-20 - ntop.org
-- | --
GNU GPLv3
4.2.210309 (0) -  Community Edition

OPNsense 21.1.3_3-amd64
FreeBSD 12.1-RELEASE-p14-HBSD
OpenSSL 1.1.1j 16 Feb 2021

[2021-04-01 15:49] gabryon99 opened #5142 "(Dashboard-#0) Implement REST Endpoint for Interface's Score"
As discussed in the ticket #5141, we have to implement a REST endpoint to get the interface score that will be displayed in the new dashboard. The GET request will contain only 1 parameter: `ifid` (the interface ID).
The response will contain the score of the interface shown as below:
[code]

The endpoint will be located under `scripts/lua/rest/v1/charts/interface/...`

[2021-04-01 15:56] gabryon99 opened #5143 "(Dashboard-#1) Implement REST Endpoint for Top L7 Protocols"
As discussed in the ticket #5141, we have to implement a REST endpoint to get the top list of L7 protocols that will be displayed in the new dashboard. The GET request will contain only 1 parameter: `ifid` (the interface ID).

We should(?) implement 2 version for this endpoint:
* The first one will contain a response formatted for a **vertical bar chart** (the same used by chart.js: https://www.ch

[2021-04-01 16:14] gabryon99 opened #5144 "(Dashboard-#2) Implement REST Endpoint for Top Talkers (Remote + Local)"
As discussed in the previous tickets, we have to implement a new REST endpoint for the Top Talkers (Remote and Local).
The GET request will contain 2 parameters:
* `ifid`
* `type=remote|local`

The data will be displayed with a horizontal bar chart (see chart.js documentation: https://www.chartjs.org/docs/latest/charts/bar.html)

[2021-04-01 16:30] gabryon99 opened #5145 "(Dashboard-#3) Implement REST Endpoint for Alert Chart"
Finally, we have to implement a REST endpoint to display the alerts count in the new Dashboard. The request will contain only the interface ID parameter.
The data returned must be formatted for a radar chart (see chart.js documentation: https://www.chartjs.org/docs/latest/charts/radar.html)

[2021-04-01 16:37] MatteoBiscosi commented on #5145
Personally I think that inside the alert chart would be nice to have a single dataset representing the quantity of alerts of an interface. As edges I think it's a good idea to put the alerts with the most "number" (obviously from a specific severity on, for example the most numerous warning and error alerts) or the most severity (for example a critical alert should be there), in this way it's poss

[2021-04-02 12:30] #5138 closed, assigned to nobody

[2021-04-02 12:33] netsolv opened #5146 "Memory Issue?"
Is it normal for 20 enabled user scripts to utilize 33 command instances in htop /usr/bin/ntopng /run/ntopng.conf each consuming 41.7 in memory allocation?

![image](https://user-images.githubusercontent.com/76790187/113415864-1ca2c300-938e-11eb-82cf-7511a2b91b26.png)

[2021-04-02 14:40] handude opened #5147 "[host_details.lua:2148] [ts_schema.lua:139] ERROR missing tag 'protocol' in schema host:ndpi"
Getting the error above in the log file while using ntopng /Embedded v.4.3.210328 (Raspbian GNU/Linux 10 (buster))

When going to host detail - apps - and then click on any app , the web interface shows "No data found" (url /lua/host_details.lua?host=x.x.x.x
The error can be reproduced

This always worked, so I assume an update broke this. I completely reinstalled ntopng, but the error remains.

[2021-04-02 16:08] MatteoBiscosi commented on #5147
Hi @handude I'm sorry but I'm unable to reproduce the bug. However I have a guess about the issue, the url you shared is the entire url?

[2021-04-02 16:15] handude commented on #5147
Thank you,

I did not include the hostname part, the full url is

https://my.domain.org:3001/lua/host_details.lua?host=x.x.x.x&page=historical&protocol=Amazon&ts_schema=host:ndpi

Where x.x.x.x is the ip address of the host I am looking at. (In this case
looking at Amazon traffic)

Thanks again

On Fri 2 Apr 2021, 17:08 Matteo Biscosi, ***@***.***> wrote:

[2021-04-02 16:56] MatteoBiscosi commented on #5147
Thank you,
Please download [this file](https://www.dropbox.com/s/rtwpd926jf36r9v/ts.lua?dl=0) and replace the file inside '/usr/share/ntopng/scripts/lua/rest/v1/get/timeseries/ts.lua' with the one downloaded. It's a debug file. It's going to print some debug info into the log, so please check the log file and report me back the info. Note that some of these info are Ip Addresses so be sure to remo

[2021-04-02 17:33] handude commented on #5147
Thank you, Matteo.

There is not a whole lot of more info in the log : (I did restart ntopng, not sure if that was needed), I did not see any ip addresses in the log.

Apr  2 18:24:52 ntopng ntopng[7943]: 02/Apr/2021 18:24:52 [startup.lua:37] Processing startup.lua: please hold on...
Apr  2 18:24:54 ntopng ntopng[7943]: 02/Apr/2021 18:24:54 [startup.lua:176] [lists_utils.lua:782] Refreshing catego

[2021-04-02 23:05] BrettDikeman opened #5148 "segfault on opnsense"
Greetings,

ntop-ng-enterprise has been segfaulting on launch on an opnsense firewall for a while and I finally had time to investigate; this has been a problem for months, but 4.3.210402 is currently installed.

I've purged all files/directories related to ntop-ng that seemed sensible, and re-installed following the instructions at https://www.ntop.org/guides/ntopng/third_party_integrations/opnse

[2021-04-03 11:12] handude commented on #5147
Just as an FYI. I was going to buy a license anyway, which I did to see what would happen. I do not have issues anymore now while ntopng is licensed.

[2021-04-04 15:37] netsolv commented on #5146
useless support

[2021-04-04 15:37] netsolv opened #5149 "[FlowCallbacksLoader.cpp:204] WARNING: Unable to find flow callback iec60870_5_104"
[LuaEngine.cpp:1156] WARNING: Script failure [/usr/share/ntopng/scripts/lua/get_alerts_table_data.lua][...t_definitions/host/host_alert_replies_requests_ratio.lua:76: attempt to index a nil value (local 'subtype_info')]

[2021-04-04 15:38] mihakralj commented on #5146
This is not a support channel for ntopng... 😊

[2021-04-05 11:00] AlekseiSaff opened #5150 "sFlow device not visible in ntopng"
We have list of the switches (same brand, same configuration), but not all of them are presented in the list of sFlow devices.

how to troubleshoot that situation?

[2021-04-06 03:04] AlekseiSaff commented on #5150
sorry, that was license limit.

[2021-04-06 03:04] #5150 closed, assigned to nobody

[2021-04-06 03:04] AlekseiSaff commented on #5150
sorry, that was license limit.

[2021-04-06 07:50] #5149 closed, assigned to nobody

[2021-04-06 16:15] simonemainardi opened #5151 "Rework Alert Page (Global)"
It is requested to rework current alert page:

![image](https://user-images.githubusercontent.com/3397663/113741052-8fe76480-9701-11eb-8c0a-dd735e2baa2a.png)

The result will be a similar page (create an `alerts_stats.lua`) with a breadcrumb identical to what is currently implemented for user scripts

![image](https://user-images.githubusercontent.com/3397663/113741251-bd341280-9701-11eb-900f-8586

[2021-04-06 16:24] simonemainardi opened #5152 "Rework Alert Pages (Host- Interface- Network- System- Active-Monitoring Contexts)"
Once https://github.com/ntop/ntopng/issues/5151 is implemented, re-use the code to change the various context-specific alert pages in ntopng. Namely:

Hosts (note that for hosts there are both flow alerts involving the host and host alerts):

![image](https://user-images.githubusercontent.com/3397663/113744124-b3f87500-9704-11eb-9958-342f35d1f464.png)

Local Networks:

![image](https://user-images

[2021-04-06 16:27] simonemainardi opened #5153 "Rework Alert Pages (Backend)"
Implement REST endpoints enumerated in https://github.com/ntop/ntopng/issues/5151 to serve paginated data according to the request.

[2021-04-06 17:13] lucaderi opened #5154 "Unable to disable host alerts"
![Screen Shot 2021-04-06 at 19 11 45](https://user-images.githubusercontent.com/4493366/113751208-f70a1680-970b-11eb-99dc-6d117d2ea183.png)

Only flow alerts can be disable, host alerts must also be disabled

[2021-04-06 17:50] lucaderi opened #5155 "Add L7 Exporter Information"
It is requested per netflow exporter, to create timeseries of the exporter. Currently it is divided per Interface whereas it is requested to implement it also as cumulative (regardless of the interface Id)

[2021-04-06 17:54] lucaderi opened #5156 "Add exporter information per host"
It is required to report in every host monitored via netflow, from which exporter such host has been observed. If observed from 2 or more exporters, you can just put one exporter (eg. the last exporter) but say that multiple exporters observed such host

[2021-04-06 17:55] lucaderi opened #5157 "Add exporter menu in hosts"
Add in the host view the exporter menu that is now present in flows

This ticked depends on #5156.

[2021-04-06 19:51] lucaderi opened #5158 "Alert Error"
06/Apr/2021 21:01:06 [AlertCheckLuaEngine.cpp:170] WARNING: Script failure[/Users/deri/network/ntopng/scripts/callbacks/system/system.lua] [...s/deri/network/ntopng/scripts/lua/modules/alerts_api.lua:418: attempt to index a string value (local 'triggered')]
06/Apr/2021 21:02:04 [AlertCheckLuaEngine.cpp:170] WARNING: Script failure[/Users/deri/network/ntopng/scripts/callbacks/system/system.lua] [..

[2021-04-06 20:24] martinscheu opened #5159 "Add JA3 hash to flow alert"
Hello
With the Error "possibly malicious JA3 signature" I miss the JA3 hash in the past flow alert and elastic export. If you please could add the hash to the flow alert and message body for elasticsearch.
<img width="1101" alt="Screenshot 2021-04-06 at 22 24 01" src="https://user-images.githubusercontent.com/38549755/113773846-d0a5a480-9726-11eb-8082-aebfe542fba0.png">
Thank you.

[2021-04-07 07:22] #5154 closed, assigned to cardigliano

[2021-04-07 07:29] MatteoBiscosi commented on #5147
Thanks @handude if the issue will show up again please reopen the ticket. Meanwhile I'll try to check the why you had no debug print (that's really strange) and try to fix the issue without the license. Thank you again for your collaboration.

[2021-04-07 07:29] #5147 closed, assigned to nobody

[2021-04-07 09:36] simonemainardi commented on #5151
Please, use this reference REST endpoint to implement: https://github.com/ntop/ntopng/commit/a0a4843dc73a7c478acfea1b860b2cfe7a6f526f

Edit (mockup) `record` entries and params for the pagination so I can see them and implement the backend.

[2021-04-07 11:04] MatteoBiscosi commented on #5142
There are two types of score, the score as a client and the score as a server, so the answer is going to have 2 values:
`
'score_as_cli': 5,
'score_as_srv': 10
`
In this way we are going to resolve the issue about the "excessive unused space" too

[2021-04-07 19:38] lucaderi commented on #5151
@simonemainardi I believe these alert categories are far too many. What is the point of having 12 categories on a page? I believe it is hard to use it should be divided differently (e.g. with a drop-down menu)

[2021-04-07 19:53] lucaderi commented on #5146
@netsolv Why did you close this ticket across Easter break?

Please report the output " top -H -p `pidof ntopng`"
Thanks

[2021-04-07 21:28] netsolv commented on #5146
top - 17:27:25 up 8 days, 53 min,  3 users,  load average: 1.24, 1.18, 1.19
Threads:  34 total,   0 running,  34 sleeping,   0 stopped,   0 zombie
%Cpu(s): 21.6 us,  4.2 sy,  0.0 ni, 72.9 id,  0.0 wa,  0.0 hi,  1.4 si,  0.0 st
MiB Mem :   3827.6 total,    254.0 free,   1571.7 used,   2002.0 buff/cache
MiB Swap:   1024.0 total,   1024.0 free,      0.0 used.   1895.3 avail Mem

  PID USER      PR  N

[2021-04-07 21:30] netsolv commented on #5146
after latest update, still showing
 ntopng[3237]: [FlowCallbacksLoader.cpp:204] WARNING: Unable to find flow callback  iec60870_5_104
on the status of ntopng.service

[2021-04-07 21:31] netsolv commented on #5146
After systemctl restart ntopng.service

top - 17:31:24 up 8 days, 57 min,  3 users,  load average: 0.98, 1.16, 1.18
Threads:  34 total,   0 running,  34 sleeping,   0 stopped,   0 zombie
%Cpu(s):  0.8 us,  2.6 sy,  0.0 ni, 96.2 id,  0.0 wa,  0.0 hi,  0.3 si,  0.0 st
MiB Mem :   3827.6 total,   1258.5 free,    561.1 used,   2008.0 buff/cache
MiB Swap:   1024.0 total,   1024.0 free,      0.0 used.

[2021-04-08 06:25] simonemainardi commented on #5158
Likely due to alerted active monitoring devices. Fix in progress.

[2021-04-08 06:41] simonemainardi commented on #5151
Categories

- host,network,snmp_device,mac,host_pool,process,user,influx_db,category_lists,am_host,periodic_activity,other

Will have a common subset of columns

- Date/Time, Duration, Severity, Count, Alert Type, Alert Description, Actions

Then, for each category there will be the following column(s) to indicate the entity/subject/source/origin or whatever other name we can use to nicely indicat

[2021-04-08 06:49] simonemainardi commented on #5151
In terms of mere SQLite schemas, I would make a single schema identical across each category. This is to ease queries and will save a lot of IFs. So basically, apart from the common columns, category-specific columns will become:

- Entity (or another nice name)
  - Will hold the IP for hosts and snmp devices, the network for networks, the Mac for mac, and so on
-  Entity Name
   - Will hold a sym

[2021-04-08 06:52] simonemainardi commented on #5151
I would be desirable to add input/output port and exporter also to flows

[2021-04-08 08:26] simonemainardi commented on #5151
A possible schema is

XXX is the new word that will replace the current word entity.

[code]

I am well aware that for IP addresses it is not ideal to use TEXT. Choice is due to:

0. Sqlite does not natively support IPs so queries will require casts
1. Simplicity of implementation (won't need to differentiate between host- queries vs. mac-queries, vs. other XXX queries)
3. Cardinality of the table

[2021-04-08 09:20] #5158 closed, assigned to simonemainardi

[2021-04-08 10:36] MatteoBiscosi commented on #5159
Hi @martinscheu , I added the ja3 hash as you requested. Please let me know if everything works fine.

[2021-04-08 21:17] victorhooi commented on #3764
@simonemainardi Was there any update on the internal discussions, around InfluxDB 2.0 support in ntopng?

[2021-04-09 06:36] simonemainardi commented on #3764
Hi. This is not currently among the prioritized activities. Cannot provide an ETA.

[2021-04-09 07:00] laurentduru commented on #3764
Hello @simonemainardi , as I understand there is no more developpement on the ntop datasource for grafana.  You promote the usage of the influxdb datasource. https://www.ntop.org/ntop/ntopng-influxdb-and-grafana-a-step-by-step-guide-to-create-dashboards/

Supporting influxdb2.0 will enhance grafana/ntop intercactions.

One of the need we have is "selective result" to get top n application or IP an

[2021-04-09 09:21] simonemainardi commented on #3764
did you consider using the REST API of ntopng?

[2021-04-09 09:31] laurentduru commented on #3764
@simonemainardi , do you mean using REST API from GRAFANA with the JSON PLUGIN : https://grafana.com/grafana/plugins/simpod-json-datasource/ ?

Not for the moment but it might change ;) do you have examples of implementation ?

[2021-04-09 13:38] cardigliano commented on #5148
@BrettDikeman any chance we can debug this in your fw (both ssh or screen sharing works for us)?

Note: latest 4.3.210409 has been tested and works in our lab.

[2021-04-09 13:41] cardigliano commented on #5105
@AmCrNi in order to isolate this issue, could you try removing the syslog interface? Any chance we can debug this on your box (ssh or screen sharing)?

[2021-04-09 13:42] cardigliano commented on #5093
Closing for inactivity (this works for us, more details required), please reopen in case.

[2021-04-09 13:42] #5093 closed, assigned to cardigliano

[2021-04-09 13:49] cardigliano commented on #5146
This has been fixed, an update should address it.

Please note those are threads, not commands or processes. 41.7 is related to the whole (single) process.

[2021-04-09 14:47] MatteoBiscosi commented on #5126
Issue solved into ticket #5136 and by commit #c97196c

[2021-04-09 14:47] #5126 closed, assigned to nobody

[2021-04-09 14:53] #4725 closed, assigned to simonemainardi, MatteoBiscosi

[2021-04-09 14:53] #4621 closed, assigned to MatteoBiscosi

[2021-04-09 14:53] #4472 closed, assigned to MatteoBiscosi

[2021-04-09 14:53] #4422 closed, assigned to MatteoBiscosi

[2021-04-09 14:53] #2801 closed, assigned to MatteoBiscosi

[2021-04-09 18:46] lucaderi opened #5160 "Endless shutdown"
(lldb) bt
* thread #1, queue = 'com.apple.main-thread', stop reason = signal SIGSTOP
  * frame #0: 0x00007fff69d8bd82 libsystem_kernel.dylib`__semwait_signal + 10
    frame #1: 0x00007fff69f57824 libsystem_pthread.dylib`_pthread_join + 626
    frame #2: 0x000000010d28974c ntopng`ThreadPool::~ThreadPool(this=0x00007fd85fee6de0) at ThreadPool.cpp:68
    frame #3: 0x000000010d289ae5 ntopng`ThreadPool

[2021-04-09 19:05] AmCrNi commented on #5105
@cardigliano - no crashes with disabled syslog inteface. Maybe it's worth to reproduce problem with binary containing debug symbols?

[2021-04-09 19:26] netsolv commented on #5146
sudo /usr/bin/ntopng --version
Version:        4.3.210404 [Enterprise/Professional/Embedded build]
GIT rev:        dev:baf0bb0dafc295bede03b0c86e728caa0c03c8ad:20210404
Pro rev:        r3688
Built on:       Raspbian GNU/Linux 10 (buster)

Just ran sudo systemctl restart ntopng.service
Still showing after restart and running sudo systemct status ntopng.service
[FlowCallbacksLoader.cpp:204] WARNING:

[2021-04-10 00:42] victorhooi commented on #3764
@simonemainardi Thanks for getting back, and the clear info about the roadmap.

Over time, InfluxDB 1.0 will be going away - it would be awesome if ntopNG can be ported to keep up with the current version of InfluxDB.

Furthermore, in terms of a time series database - it has been great having InfluxDB support in ntopng, and supports a lot of great functionality built on top of the ntopng data. (RR

[2021-04-10 11:53] lucaderi commented on #5160
Fixed by c9f18c918da019aba48e0d48144de860b9d697c6

[2021-04-10 15:44] iamperson347 commented on #5127
I think this issue should be resolved for opnsense via this commit (not in a released version yet).

https://github.com/opnsense/core/commit/7316071974b790b6262b65465649df61aa55c500

[2021-04-11 07:50] lucaderi opened #5161 "Entity is a meaningless term and it needs to be removed"
The term "entity" is meaningless and the code is full of this word. It needs to be removed and replace with a term that fits better.

Example

function host_alert_flow_anomaly.format(ifid, alert, alert_type_params)
  local alert_consts = require("alert_consts")
  local entity = alert_consts.formatAlertEntity(ifid, alert_consts.alertEntityRaw(alert["alert_entity"]), alert["alert_entity_val"])
  loc

[2021-04-11 12:17] lucaderi opened #5162 "Missing host flag (present in flows)"
![Screen Shot 2021-04-11 at 14 15 58](https://user-images.githubusercontent.com/4493366/114303874-96465980-9ad0-11eb-81d1-1d6e2efe5429.png)

[2021-04-11 12:41] lucaderi opened #5163 "Show warning when missing manifest file"
Plugins with no manifest file are silently skipped. This is to request a warning to let developers know that a manifest file is missing

[2021-04-11 16:48] lucaderi opened #5164 "Script hooks obsolete albeit required"
In some user_scripts there are some comments such as

function script.hooks.min(params)
   -- TODO: remove, implemented in C++
end

However removing them introduces a side effect

11/Apr/2021 18:45:51 [startup.lua:16] [user_scripts.lua:709] WARNING: No 'hooks' defined in user script 'XXXX', skipping

This has to be fixed

[2021-04-11 16:50] lucaderi opened #5165 "Warning during callback load"
11/Apr/2021 18:49:09 [HostCallbacksLoader.cpp:159] WARNING: Unable to find host callback bytes

[2021-04-12 06:28] lucaderi opened #5166 "Invalid column wrap in Alerts"
From the screenshots below you can see that the rightmost column is far too wide instead of being as large as necessary. This means that it pushes other columns to wrap even when not necessary

![Screen Shot 2021-04-11 at 18 00 07](https://user-images.githubusercontent.com/4493366/114349879-bde90080-9b68-11eb-86cc-73f81d30b376.png)
![Screen Shot 2021-04-11 at 18 00 00](https://user-images.githubus

[2021-04-12 07:24] cardigliano commented on #5105
@AmCrNi please drop an email to cardigliano at ntop.org, I will send you a binary and instructions

[2021-04-12 07:30] #5163 closed, assigned to simonemainardi

[2021-04-12 07:35] #5165 closed, assigned to simonemainardi, cardigliano

[2021-04-12 07:39] simonemainardi commented on #5165
Then warning was initially hidden and was enabled only for debug purposes.

It basically means there was a callback `bytes` for hosts that no longer exists but its configuration still exists in the JSON configuration file.

This happens for all host callbacks that were present and then are removed. Many of them have been removed due to the recent rework so I would expect the warning to show up, un

[2021-04-12 08:43] lucaderi commented on #5160
Unfortunately it seems that there are cases where shutdown does not end. Example when SNMP polling is in progress systemd waits a bit and then kills the app. This means that ntopng restart after package upgrade won't work as ntopng is still down
root@ntop:/home/deri# service ntopng status
* ntopng.service - ntopng high-speed web-based traffic monitoring and analysis tool
   Loaded: loaded (/etc/sy

[2021-04-12 11:21] lucaderi opened #5167 "Slowdowns with no Internet Access"
When the host where ntopng is installed has no Internet access (e.g. in a datacenter disconnected from the Internet) the user interface is sluggish as apparently periodically ntopng connects to the Internet, not to mention that the initial list download fails and takes quite some time to startup. This needs to be fixed.

[2021-04-12 14:48] MatteoBiscosi commented on #5074
The issue should be fixed by @gabryon99 , if the problem is going to reappear please reopen the ticket

[2021-04-12 14:48] #5074 closed, assigned to nobody

[2021-04-12 16:27] colinlegendre opened #5168 "Clicking 'Reset Counters' Drops only button does not work when using view"
I have 4 nprobe threads feeding into a view.

When i click the 'drops only' button to reset counters it does not work, either under the view to reset dropped exported zmq flows, or under the actual interface to reset the dropped alerts.

Worked fine when not using view and nprobe threads.

[2021-04-12 18:34] AmCrNi commented on #5105
@cardigliano - no crashes with disabled syslog inteface. Maybe it's worth to reproduce problem with binary containing debug symbols?

[2021-04-12 19:36] lucaderi opened #5169 "Nil label on alerts"
![Screen Shot 2021-04-12 at 21 34 25](https://user-images.githubusercontent.com/4493366/114451016-063f0780-9bd7-11eb-9e5a-2763f1d9111c.png)

[2021-04-12 19:40] lucaderi opened #5170 "Error while browsing alerts"
![Screen Shot 2021-04-12 at 21 39 20](https://user-images.githubusercontent.com/4493366/114451477-954c1f80-9bd7-11eb-8544-434b34a809f2.png)

Apr 12 21:37:46 ntop ntopng[5320]:  string stack traceback:
Apr 12 21:37:46 ntop ntopng[5320]:         /usr/share/ntopng/scripts/lua/modules/alert_consts.lua:533: in function 'alert_consts.alertEngine'
Apr 12 21:37:46 ntop ntopng[5320]:         .../lua/module

[2021-04-13 04:03] lucaderi opened #5172 "Score Anomaly constantly triggered and never go back to normal state"
Score anomaly alert once triggered never go back to release state. (most of the times as sometime they do)

See src/host_callbacks/ScoreAnomaly.cpp

void ScoreAnomaly::periodicUpdate(Host *h, HostAlert *engaged_alert) {
  HostAlert *alert = engaged_alert;
  u_int8_t cli_score = 0, srv_score = 0;
  const u_int8_t score_value = 50;

  if(h->has_score_anomaly(true))  cli_score = score_value;
  if(h->

[2021-04-13 08:45] #5169 closed, assigned to MatteoBiscosi

[2021-04-13 09:01] #5162 closed, assigned to MatteoBiscosi

[2021-04-13 09:07] MatteoBiscosi commented on #5170
This issue should be fixed thanks to the fix to the issue #5169

[2021-04-13 11:05] MatteoBiscosi commented on #5168
hi @colinlegendre , can you please report ntopng version?

[2021-04-13 12:30] colinlegendre commented on #5168
Enterprise L 4.2.210401

On Tue., Apr. 13, 2021, 07:06 Matteo Biscosi, ***@***.***>
wrote:

[2021-04-13 14:35] lucaderi opened #5173 "Interface disaggregation does not support aggregated view"
When enabling interface disaggregation (e.g. based on Ingress Interface Id) several interfaces are created. Adding view:all or view:<interface name> is compulsory to see all the traffic of the router put together regardless of the aggregation. Unfortunately the above techniques do not working and replicating traffic on all interfaces is not an option

[2021-04-14 08:12] lucaderi opened #5174 "Implement alert when host NTP traffic is too much"
Same as #2632 for NTP

[2021-04-14 14:08] colinlegendre opened #5175 "Alert for Daily throughput does not work correctly"
I have alerts setup for Daily throughput and hourly throughput via the user scripts.

The hourly one seems to work correctly as set alerting when the hourly throughput of a host is above 75 Mbps.

The daily one does not.. i have it set to 50mbps daily.. but it seems to alert even when that is not the case.. i looked at all the hosts with the alert and none had an avg of 50Mbps over the 25 hours pr

[2021-04-14 15:24] simonemainardi commented on #3764
Right. Support will be added, insofar as possible.

RRD still there, supported and present.

[2021-04-15 19:31] tswalker commented on #5127
i can confirm, this does resolve the issue... thanks!

[2021-04-15 19:31] #5127 closed, assigned to nobody

[2021-04-16 08:34] lucaderi opened #5176 "Host map menu entries are not sorted"
![Screen Shot 2021-04-16 at 10 34 07](https://user-images.githubusercontent.com/4493366/114996671-564fef80-9e9f-11eb-8e38-5b0e31b7fe2b.png)

[2021-04-16 09:43] #5170 closed, assigned to simonemainardi, MatteoBiscosi

[2021-04-16 09:45] #5159 closed, assigned to MatteoBiscosi

[2021-04-16 14:07] MatteoBiscosi commented on #5124
This behavior should be fixed, if the problem reappear please reopen the ticket

[2021-04-16 14:07] #5124 closed, assigned to simonemainardi, MatteoBiscosi

[2021-04-16 14:58] MatteoBiscosi commented on #5175
Hi @colinlegendre can you please send the screenshot of the traffic timeserie of the last 24 h of an host that triggered the alert (you can find the host timeserie by clicking onto a chart icon of the host menu
![Screenshot from 2021-04-16 16-57-23](https://user-images.githubusercontent.com/49585191/115043618-fd02b300-9ed4-11eb-8cad-caaf425dce7e.png)
 and selecting the traffic timeserie into the m

[2021-04-16 15:06] MatteoBiscosi commented on #5100
Hi @thalthoff do you still have this issue? If yes please send the info simone asked above

[2021-04-16 16:47] lucaderi opened #5177 "Host Map: Invalid label in DNS names"
![Screen Shot 2021-04-16 at 18 45 43](https://user-images.githubusercontent.com/4493366/115057174-03e4f200-9ee4-11eb-8c95-e5843e102c89.png)

The label "remote hosts" is misleading as it represents the number of queries instead

[2021-04-16 16:49] lucaderi opened #5178 "Host Map: Invalid DNS bytes accounted"
The number of DNS bytes in host map and host stats are not identical. The value in the host map is incorrect

![Screen Shot 2021-04-16 at 18 48 49](https://user-images.githubusercontent.com/4493366/115057472-66d68900-9ee4-11eb-841a-371b54d20ec7.png)
![Screen Shot 2021-04-16 at 18 48 29](https://user-images.githubusercontent.com/4493366/115057475-676f1f80-9ee4-11eb-8b6f-c9ef470fc8fc.png)

[2021-04-16 16:51] lucaderi opened #5179 "Host Map: DNS and NTP invalid refresh"
After that latest fix, if the "Excessive Traffic.." Interface callback is enabled, going back to the host map leaves the map empty until ntopng is restarted. Changing the setting should not require ntopng to be restarted

[2021-04-16 16:53] lucaderi opened #5180 "Host Map: NTP Traffic accounting is always empty"
![Screen Shot 2021-04-16 at 18 52 25](https://user-images.githubusercontent.com/4493366/115057927-ed8b6600-9ee4-11eb-9046-0a7f3e87452d.png)

[2021-04-16 16:55] lucaderi opened #5181 "Host Map: Invalid Zoom Level and Missing Refresh"
The host map
- lacks of a refresh button for reloading data
- refreshing the page will result the drop down menu to be reset
- the bubbles go outside of the screen boundaries: add more space to the borders to let them stay inside of the page

![Screen Shot 2021-04-16 at 18 54 10](https://user-images.githubusercontent.com/4493366/115058103-26c3d600-9ee5-11eb-9228-d5385b7700df.png)

[2021-04-16 20:00] lucaderi opened #5182 "Host Map: Bubble chart is unreadable"
![Screen Shot 2021-04-16 at 21 57 45](https://user-images.githubusercontent.com/4493366/115077742-d9546280-9efe-11eb-9531-900c7f23ef81.png)

===

This is the JSON that creates the problem

{
    "rc_str": "OK",
    "rsp": {
        "series": [
            {
                "name": "Local Hosts",
                "data": [
                    {
                        "meta": {

[2021-04-16 20:02] lucaderi commented on #5180
Update: after a while the map is populated.but as you can see the label is wrong. So issues
- invalid label
- far too slow update (not in near-realtime)

![Screen Shot 2021-04-16 at 22 01 13](https://user-images.githubusercontent.com/4493366/115078019-4a941580-9eff-11eb-8954-67ad0911a8b3.png)

[2021-04-16 22:05] BrettDikeman commented on #5148
Sorry for the delay in replying - sure, happy to help. A view-only tmate
session with audio via any of the popular services would work, for example.
Shoot me a private email to coordinate specifics (please include your
preferred time/availability including timezone and what audio
call/conferencing are convenient for you); my gmail username is the same as
here.

On Fri, Apr 9, 2021 at 9:39 AM Alfre

[2021-04-17 10:58] lucaderi commented on #5176
Verified as fixed

[2021-04-17 10:58] #5176 closed, assigned to gabryon99

[2021-04-17 10:59] lucaderi commented on #5181
The first two problems are verified as fixed. The last one (bubbles go out of screen) is still pending

[2021-04-17 11:01] lucaderi commented on #5181
Furthermore please remove non integer values (if possible) from legenda (you can't slide bytes)

[2021-04-17 13:56] AlphaDE commented on #5025
Any updates on this issue, persists with ntopng /Embedded v.4.3.210411 (Raspbian GNU/Linux 10 (buster))

[2021-04-18 13:39] lucaderi commented on #5182
The label "Remote Hosts" shows when moving the cursor over the bubble is misleading: it should have a label that matches the currently displayed graph

[2021-04-18 15:46] lucaderi opened #5183 "Host Map: Add Loading notification"
With bubble chart and large networks, loading takes a bit. It is requested to add a load notification so that users know that the graph is still loading data

[2021-04-18 17:22] lucaderi opened #5184 "Host Map: Reload button is not consistent"
The reload button of the host map

![Screen Shot 2021-04-18 at 19 20 09](https://user-images.githubusercontent.com/4493366/115154436-26f5da00-a07b-11eb-82fb-a797eaf33878.png)

should be consistent with the ntopng GUI

![Screen Shot 2021-04-18 at 19 20 22](https://user-images.githubusercontent.com/4493366/115154432-25c4ad00-a07b-11eb-8a65-555f538fee77.png)

It is requested to make it consistent wit

[2021-04-19 05:19] amastelek commented on #5025
I was having the same problem of no result using the 3rd party speedtest-cli https://github.com/sivel/speedtest-cli  This was after a apt-get update && apt-get upgrade of buster.
I changed to the ookla one which works and scripted it to send the url of the result to slack and that now works for me.  I stopped using the speedtest on ntopng.

[2021-04-19 07:15] cardigliano commented on #5148
I sent an email to your gmail account right now

[2021-04-19 08:51] simonemainardi commented on #5146
Reported issue should be fixed. New raspberry builds are in progress and will be ready in a coupe of hours.

[2021-04-19 09:08] simonemainardi commented on #5166
Pages are being rewritten from scratch so this issue can be closed.

[2021-04-19 09:08] #5166 closed, assigned to gabryon99

[2021-04-19 09:13] simonemainardi commented on #5167
Issues seems to be due to slow slow dns resolution, kicked in when using curl. Setting seems to be then env variable `RES_TIMEOUT` that affects this and prevents curl from immediately figuring out there's no internet connection.

I think we could do a short check upon startup to detect if ntopng is running on a system with or without internet, and prevent certain operations from being performed.

[2021-04-19 14:19] MatteoBiscosi commented on #5168
hi @colinlegendre soon an update is going to be available, could you please update and let me know if both of reset counters are fixed?

[2021-04-19 15:13] colinlegendre commented on #5168
Will do.

On Mon., Apr. 19, 2021, 10:20 Matteo Biscosi, ***@***.***>
wrote:

[2021-04-19 17:19] AlphaDE commented on #5025
I used speedtest 2.0.2 (installed via apt) so far, now replaced it with 2.1.3 installed via pip3 on two and with the ookla 1.0.0.2 on a third Raspbeery. On the commandline, they work all.

[2021-04-19 17:36] lucaderi opened #5185 "Too strong severity for broadcast traffic"
![Screen_Shot_2021-04-19_at_13_11_40](https://user-images.githubusercontent.com/4493366/115278799-2f671700-a146-11eb-8a29-90a2cae5d9b9.png)

Unsafe protocols cannot trigger an error as severity as it is far too much. At most a warning and for sure NOT for broadcast traffic (as in the picture) where in this case info as severity is enough. Please fix this discrepancy

[2021-04-20 00:43] tigattack commented on #3764
For the time being, could you modify or disable the version check in the InfluxDB 1 module?

InfluxDB 2 has a [v1 compatability API](https://docs.influxdata.com/influxdb/v2.0/reference/api/influxdb-1x/), but it's not possible to use it with ntopng due to the following error:
`[prefs.lua:104] [influxdb.lua:1682] ERROR Incompatible InfluxDB version: required "1.5.1", found "nil". Please install an u

[2021-04-20 05:16] amastelek commented on #5025
On the non-ookla one I get a base10 error reported by python.   Didn't realize there is a version available via pip3.

[2021-04-20 05:25] AmCrNi commented on #5105
@cardigliano mail sent with title `FWD: Re: [ntop/ntopng] Segmentation fault (#5105)`

[2021-04-20 08:15] lucaderi opened #5186 "Invalid where specified when filtering nIndex flows with risk"
![Screen Shot 2021-04-20 at 10 14 12](https://user-images.githubusercontent.com/4493366/115361828-4008a300-a1c1-11eb-8b43-8e060dc4292a.png)

20/Apr/2021 10:10:23 [NIndexFlowDB.cpp:637] select(time: 1618905860/1618906280[420 sec], select: [PROTOCOL,IPV4_SRC_ADDR,IP_SRC_PORT,DST_LABEL,IP_DST_PORT,L7_PROTO,L7_CATEGORY,PACKETS,TOTAL_BYTES,FLOW_RISK,INFO], where: [(FLOW_RISK=No risk) AND (FIRST_SEEN >=

[2021-04-20 08:17] lucaderi opened #5187 "Inability to set flow risk to any value other than ="
![Screen Shot 2021-04-20 at 10 15 47](https://user-images.githubusercontent.com/4493366/115361976-63cbe900-a1c1-11eb-9615-7c88b4c6ba7e.png)

Filering on flow risk cannot be only = and it must include either a drop down menu or another way to select values to filter

[2021-04-20 08:18] lucaderi opened #5188 "Inability to filter on DSCP values"
![Screen Shot 2021-04-20 at 10 17 41](https://user-images.githubusercontent.com/4493366/115362402-c7eead00-a1c1-11eb-9dcb-3e1efbf7c00c.png)

[2021-04-20 08:19] lucaderi opened #5189 "Inability to filter on Flow Status values"
![Screen Shot 2021-04-20 at 10 19 12](https://user-images.githubusercontent.com/4493366/115362502-e48ae500-a1c1-11eb-8035-2c3959a13840.png)

[2021-04-20 10:08] gabryon99 opened #5190 "Add endpoint to release the alerts"
As for `rest/v1/delete/{host,mac,flow,system,active_monitoring}/alerts.lua` it's necessary to implement a REST endpoint to release an alert. This endpoint will be used inside the new alerts page.

[2021-04-20 14:31] netsolv opened #5191 "Disabled User Scripts continue to generate Alerts"
On latest version, disabled ALL user scripts, yet I continue to show alerts on scripts that are DISABLED.

[2021-04-20 14:38] netsolv commented on #5191
I have restart ntopng.service multiple times to try and "flush" out the settings. Ex: tls_old_proto_version whether enabled or disabled still is posting alerts. For some reason or another ntopng is NOT updating which user scripts are enabled or disabled and generating alerts accordingly.

[2021-04-20 14:53] simonemainardi commented on #5191
Please, visit system -> settings -> manage configurations and do a reset of the "User Scripts".

[2021-04-20 15:09] lucaderi opened #5192 "Flow risk values not mapped in flow explorer"
![Screen Shot 2021-04-20 at 17 08 29](https://user-images.githubusercontent.com/4493366/115420046-1f5d3f00-a1fb-11eb-8597-bdb20f7801af.png)

[2021-04-20 15:10] lucaderi commented on #5189
![Screen Shot 2021-04-20 at 17 11 12](https://user-images.githubusercontent.com/4493366/115420460-719e6000-a1fb-11eb-8bfa-e6cdda087a37.png)
Still bugged: filtering seems to work but the label is not correct

[2021-04-20 15:12] lucaderi commented on #5187
Verified as fixed

[2021-04-20 15:12] #5187 closed, assigned to simonemainardi, gabryon99

[2021-04-20 15:12] lucaderi commented on #5186
Verified as fixed

[2021-04-20 15:12] #5186 closed, assigned to nobody

[2021-04-20 15:13] lucaderi commented on #5180
Verified as fixed

[2021-04-20 15:13] #5180 closed, assigned to MatteoBiscosi

[2021-04-20 15:15] lucaderi opened #5193 "DNS and NTP Traffic invalid label"
The traffic should be displayed and not Local/Remote Hosts
![Screen Shot 2021-04-20 at 17 14 41](https://user-images.githubusercontent.com/4493366/115421113-fbe6c400-a1fb-11eb-9c5f-80836bffa3ba.png)
![Screen Shot 2021-04-20 at 17 14 19](https://user-images.githubusercontent.com/4493366/115421116-fc7f5a80-a1fb-11eb-8768-5402207ec1fe.png)

[2021-04-20 15:15] lucaderi commented on #5177
See #5193

[2021-04-20 15:16] lucaderi commented on #5177
This ticket seems not to be fixed

[2021-04-20 15:38] MatteoBiscosi commented on #5189
fixed under the pro repository

[2021-04-20 16:08] simonemainardi opened #5194 "New Alerts Explorer - Idea and UI"
Current alert explorer, although non-optimal, can be made useful with some changes.

For Flows this is the present explorer:

![image](https://user-images.githubusercontent.com/3397663/115426782-20916a80-a201-11eb-95ea-64de1e4044f8.png)

The following changes must be applied (work only on past alerts for now):

---

Poor layout of filter criteria:

![image](https://user-images.githubusercontent.co

[2021-04-20 16:14] MatteoBiscosi commented on #5192
Fixed under the pro repository

[2021-04-20 17:59] netsolv commented on #5191
Performed actions as requested, same result... after the reset "re-enabled" all the scripts.. I disabled all except the blacklist and the alerts are still being generated from scripts that are not enabled... aka " Obsolete TLS Version" "Possibly Client Malicious JA3 Signature" the primary one I need to disable is the "Obsolete TLS Version" the site uses to many 1.1 and 1.2 types.

[2021-04-21 06:50] simonemainardi opened #5195 "Flow Status Dropdown - Invalid Chart"
This is what happens when we select an entry from the flow status dropdown

![image](https://user-images.githubusercontent.com/3397663/115509285-8b34bb80-a27e-11eb-9487-3ef0c4c33548.png)

The chart must not be visible.

[2021-04-21 07:55] looterz commented on #5049
Have had this issue for awhile, deleting data and reinstalling does let it work for a bit but it always comes back.

[2021-04-21 09:06] MatteoBiscosi commented on #5118
Hi @amastelek , could you please report your ntopng version and the output of 'sudo service ntopng@oz status' when you try to restart ntopng from the web interface?

[2021-04-21 09:08] MatteoBiscosi commented on #5100
Closed for inactivity, please reopen the issue if the problem reappear

[2021-04-21 09:08] #5100 closed, assigned to nobody

[2021-04-21 09:24] gabryon99 commented on #5184
Thanks to @MatteoBiscosi the button is now placed in the right position as shown in the image below (next to the filter dropdown).

<img width="1699" alt="Screenshot 2021-04-21 at 11 24 05" src="https://user-images.githubusercontent.com/14114916/115530479-17051280-a294-11eb-8442-e16725a546f2.png">

[2021-04-21 09:24] #5184 closed, assigned to gabryon99, MatteoBiscosi

[2021-04-21 09:35] amastelek commented on #5118
1
amastelek@ntop-sa:~$ ntopng --version
v.4.2.210419    [Enterprise/Professional build]
GIT rev:        4.2-stable:8a6026e287f79acc97fc9f3e68020bd4edfbe1ac:20210419
Pro rev:        r3349
Built on:       Debian GNU/Linux 10 (buster)
System Id:      134AAA73920CAB21
Platform:       x86_64
Edition:        Enterprise M
License Type:   Permanent

● ntopng.service - ntopng high-speed web-based traffic m

[2021-04-21 09:36] simonemainardi commented on #5118
Please attach examples of such logs

[2021-04-21 09:42] simonemainardi commented on #5195
The idea was to show a chart with aggregated information across flows matching the various filters.

However, this design is flawed under many aspects:

1. A ton of whitespace is wasted. Just report the overall total bytes and throughput. Remove the charts. Consider using a table header to write this information on the same line of the dropdown to avoid wasting space
2. Throughput doesn't work.
3.

[2021-04-21 10:02] #5185 closed, assigned to MatteoBiscosi

[2021-04-21 10:07] simonemainardi opened #5196 "Actions button breaks user scripts layout"
![image](https://user-images.githubusercontent.com/3397663/115536459-1b342e80-a29a-11eb-8aab-ead3dd29cd4c.png)

[2021-04-21 10:08] simonemainardi commented on #5191
please, report the version used.

[2021-04-21 10:49] #5191 closed, assigned to simonemainardi

[2021-04-21 10:52] simonemainardi commented on #5191
Confirmed working in the latest dev. Please, hold on until https://github.com/ntop/ntopng/issues/5196 is solved, and then update.

[2021-04-21 12:02] simonemainardi commented on #5168
any news?

[2021-04-21 12:03] #5146 closed, assigned to nobody

[2021-04-21 12:11] simonemainardi commented on #5164
Host hooks removed in `c0ad0ff162b955527d98f3c532d6b352ae835c08`, default is now 1 min.

Flow hooks removed as no longer needed.

[2021-04-21 12:11] #5164 closed, assigned to simonemainardi

[2021-04-21 12:13] simonemainardi commented on #5130
Alert aggregation no longer exists in the latest implementation. This decision has been made to favor speed and simplicity as the former implementation was cumbersome. So this issue cannot be fixes but a possible new implementation will be discussed in the future.

[2021-04-21 12:13] #5130 closed, assigned to simonemainardi

[2021-04-21 12:21] #5172 closed, assigned to simonemainardi, lucaderi

[2021-04-21 12:23] simonemainardi commented on #5137
Which cache do you have in mind? Please, explain, and attach an example if possible. Thanks.

[2021-04-21 12:24] simonemainardi commented on #5151
This issue can be closed as, after internal review, we have decided to create a completely new page and database structure.

[2021-04-21 12:24] #5151 closed, assigned to gabryon99

[2021-04-21 12:24] simonemainardi commented on #5153
This issue can be closed as, after internal review, we have decided to create a completely new page and database structure.

[2021-04-21 12:24] #5153 closed, assigned to simonemainardi

[2021-04-21 12:25] simonemainardi commented on #5152
This issue can be closed as, after internal review, we have decided to create a completely new page and database structure.

[2021-04-21 12:25] #5152 closed, assigned to gabryon99

[2021-04-21 12:34] cardigliano commented on #5101
@rreiner please drop an email to cardigliano at ntop.org and I will send you a binary you can use to generate a trace. Thank you.

[2021-04-21 12:40] gabryon99 commented on #5196
I reverted the original code for the 'Action' column inside the `alerts-store` branch. In the future I will integrate the new context menu for the actions in order to save space for the columns and avoid hidden buttons.

[2021-04-21 12:55] #5196 closed, assigned to gabryon99

[2021-04-21 13:08] lucaderi commented on #5195
IMHO
1. This problem is now fixed
2. I have just tested and it works for me. Please show the bug
3. What are the other options on the table?
4. Your function collects more info than necessary with respect to the current implementation, addressing above comment 3.

[2021-04-21 13:27] lucaderi commented on #5192
Verified as fixed

[2021-04-21 13:27] #5192 closed, assigned to gabryon99, MatteoBiscosi

[2021-04-21 13:27] lucaderi commented on #5189
Verified as fixed

[2021-04-21 13:27] #5189 closed, assigned to MatteoBiscosi

[2021-04-21 13:29] lucaderi opened #5197 "Invalid flow status in flow explorer"
![Screen Shot 2021-04-21 at 15 28 18](https://user-images.githubusercontent.com/4493366/115561835-3b71e680-a2b6-11eb-975a-7972b902d012.png)

Unknown value is not acceptable for the flow status: I believe there is a mapping issue

[2021-04-21 13:30] lucaderi opened #5198 "Flow Explorer: actions button does not execute any action"
![Screen Shot 2021-04-21 at 15 29 47](https://user-images.githubusercontent.com/4493366/115562068-6e1bdf00-a2b6-11eb-83ad-49ca89ade697.png)

[2021-04-21 13:37] lucaderi commented on #5188
Verified as fixed

[2021-04-21 13:37] #5188 closed, assigned to MatteoBiscosi

[2021-04-21 13:55] lucaderi commented on #5194
Please open individual tickets

[2021-04-21 13:55] #5194 closed, assigned to gabryon99

[2021-04-21 14:36] simonemainardi commented on #5195
2.

![image](https://user-images.githubusercontent.com/3397663/115571139-028a3f80-a2bf-11eb-9f9e-f7f13bd15d1d.png)

3.

a) Limit the throughput to Layer-7 applications and show the chart only when a Layer-7 application is selected from the dropdown. Keep throughput straight into the interface Layer-7 nDPIStats and read them without walking the whole hash table
b) Add a refresh button next to the c

[2021-04-21 14:40] simonemainardi opened #5199 "New Alerts Explorer - Poor Filters Layout"
Poor layout of filter criteria:

![image](https://user-images.githubusercontent.com/3397663/115427074-6a7a5080-a201-11eb-9cd9-59ea9e729f3e.png)

- All criteria (including the filter textbox and the apply button) must stay on one line.

- 30m, 1h, 1d, 1w become a dropdown like the one in the current explorer:

![image](https://user-images.githubusercontent.com/3397663/115427274-9eee0c80-a201-11eb-9

[2021-04-21 14:41] simonemainardi opened #5200 "New Alerts Explorer - No additional button must appear in the histogram"
No additional button must appear in the histogram

![image](https://user-images.githubusercontent.com/3397663/115427605-e5dc0200-a201-11eb-883b-ad950af2c247.png)

---

Source https://github.com/ntop/ntopng/issues/5194

[2021-04-21 14:42] simonemainardi opened #5201 "New Alerts Explorer - Client and server columns must be adjacent"
client and server columns must be adjacent, e.g.,

![image](https://user-images.githubusercontent.com/3397663/115427866-1f147200-a202-11eb-8c48-0e003b24f3ae.png)

same for their names

---

Source https://github.com/ntop/ntopng/issues/5194

[2021-04-21 14:42] simonemainardi opened #5202 "New Alerts Explorer - Filters must have the same names of their columns"
Filters must have the same names of the column., not like "Client IP" vs "Client"

![image](https://user-images.githubusercontent.com/3397663/115427996-3e130400-a202-11eb-8173-fa5e8cbd4d2d.png)

---

Source https://github.com/ntop/ntopng/issues/5194

[2021-04-21 14:43] simonemainardi opened #5203 "New Alerts Explorer - Filters must be validated against their type"
Filters must be validated against their type

![image](https://user-images.githubusercontent.com/3397663/115428129-5edb5980-a202-11eb-8ec8-50b21604499e.png)

---

Source: https://github.com/ntop/ntopng/issues/5194

[2021-04-21 14:44] simonemainardi opened #5204 "New Alerts Explorer - Addition of invalid filters must be prevented"
Addition of invalid filters should be prevented

![image](https://user-images.githubusercontent.com/3397663/115428186-6f8bcf80-a202-11eb-9229-6870fb9a7c62.png)

---

Source https://github.com/ntop/ntopng/issues/5194

[2021-04-21 14:45] simonemainardi opened #5205 "New Alerts Explorer - Autocompletion of filters"
Autocompletion should be present, i.e., typing applic should show "Application"

![image](https://user-images.githubusercontent.com/3397663/115428288-88948080-a202-11eb-99ae-35d389ce53bd.png)

---

Source https://github.com/ntop/ntopng/issues/5194

[2021-04-21 14:46] simonemainardi opened #5206 "New Alerts Explorer - Filters for Severity and Type"
Severity and alert type should be add filters too

![image](https://user-images.githubusercontent.com/3397663/115428426-ad88f380-a202-11eb-8a33-c4525de36a9c.png)

They must support also >= and <=

---

Source https://github.com/ntop/ntopng/issues/5194

[2021-04-21 14:47] simonemainardi opened #5207 "New Alerts Explorer - Hyperlinks must be in italic"
Hyperlinks must be in italic to signify they point to historical data

---

Source https://github.com/ntop/ntopng/issues/5194

[2021-04-21 14:48] simonemainardi opened #5208 "New Alerts Explorer - Mouseover doesn't tell the exact timestamp"
Mouseover doesn't tell the exact timestamp

![image](https://user-images.githubusercontent.com/3397663/115428929-2c7e2c00-a203-11eb-9bf6-214eee543bf3.png)

---

Source https://github.com/ntop/ntopng/issues/5194

[2021-04-21 14:49] simonemainardi opened #5209 "New Alerts Explorer - Meaningless timeseries name reported"
An exotic timeseries name is reported

![image](https://user-images.githubusercontent.com/3397663/115428971-3738c100-a203-11eb-9681-9b333cd671b3.png)

---

Source https://github.com/ntop/ntopng/issues/5194

[2021-04-21 14:50] simonemainardi opened #5210 "New Alerts Explorer - Histogram colors - feasibility"
We would like to color each bar of the histogram with multiple colors, depending on the severity. Please, comment if the histogram can to this thing and we will update the backend accordingly. In case this is doable, attach an example of response you would like to receive.

---

Source https://github.com/ntop/ntopng/issues/5194

[2021-04-21 15:25] colinlegendre commented on #5168
I've not had any drops yet.. so the counters are still at 0.  Can't test
until there is something to reset :)

---
Colin Legendre
President and CTO

Coextro - Unlimited. Fast. Reliable.
w: www.coextro.com
e: ***@***.***

p: 647-693-7686 ext.101
m: 416-560-8502
f: 647-812-4132

On Wed, Apr 21, 2021 at 8:03 AM Simone Mainardi ***@***.***>
wrote:

[2021-04-21 15:40] MatteoBiscosi commented on #5197
Implemented into the pro repository

[2021-04-21 16:33] simonemainardi commented on #5087
I've added support for `ifHighSpeed` to support the 10Gbit interfaces as highlighted. A new build will be ready overnight. Thanks for supporting this.

[2021-04-21 16:33] #5087 closed, assigned to simonemainardi

[2021-04-21 17:58] jphussey05 opened #5211 "Dropping packets with -o flag"
`With the -o flag and using zc drivers, this is my output:
=========================
Absolute Stats: [902'671 pkts total][199'458 pkts dropped][22.1% dropped]
[703'213 pkts rcvd][144'381'835 bytes rcvd][351'590.50 pkt/sec][577.50 Mbit/sec]
=========================
Actual Stats: [291'110 pkts rcvd][1'000.04 ms][291'095.73 pps][0.48 Gbps]
=========================

Without the -o flag:
============

[2021-04-21 18:05] jphussey05 commented on #5211
This is the command I use to launch:

sudo pfcount -i zc:p1p1 -o ~/pcaps/pfring

[2021-04-21 18:17] #5211 closed, assigned to nobody

[2021-04-22 07:51] gabryon99 commented on #5200
I think we should leave these additional buttons:
1. The "Zoom" button is shown when the histogram `zoom` functionality is enabled (https://apexcharts.com/docs/options/chart/zoom/), thus disabling the button implies disabling the zoom functionality;
2. The Hamburger Button (the three lines) is useful to download a snapshot of the chart in a PNG image file, or in an SVG image file.

[2021-04-22 07:58] simonemainardi commented on #5200
1. So remove the Zoom/+ Zoom/- buttons from the search filters and leave it.
2. OK

[2021-04-22 08:16] simonemainardi commented on #5195
This is how it looks like when the page opens

![image](https://user-images.githubusercontent.com/3397663/115680253-b3421e80-a353-11eb-81b4-b93afde463be.png)

This is how it looks like when it refreshes

![image](https://user-images.githubusercontent.com/3397663/115680415-d2d94700-a353-11eb-91f9-d6dd0fd19447.png)

[2021-04-22 09:31] MatteoBiscosi commented on #5198
Fixed into pro repo

[2021-04-22 12:04] lucaderi opened #5212 "Plugins exclusion lists are not honoured"
![Screenshot_2021-04-22_at_10 30 45](https://user-images.githubusercontent.com/4493366/115711101-6b32f400-a373-11eb-82ae-ad374242adf9.png)

Walk through all plugins and make sure the explosion list is honoured. As example this plugin does not honour it

[2021-04-22 12:05] lucaderi opened #5213 "Error while setting IP exception in unexpected DNS plugin"
![Screenshot_2021-04-22_at_10 30 14](https://user-images.githubusercontent.com/4493366/115711319-a9301800-a373-11eb-9278-1ead10be4529.png)

This ticket depends on #5212

[2021-04-22 16:53] lucaderi opened #5214 "Notification error"
22/Apr/2021 17:17:41 [LuaEngine.cpp:560] WARNING Script failure [/usr/share/ntopng/scripts/callbacks/system/notifications.lua][/usr/share/ntopng/scripts/lua/modules/pools/host_pools.lua:387: attempt to index a nil value (global 'host')]
22/Apr/2021 17:17:08 [LuaEngine.cpp:560] WARNING Script failure [/usr/share/ntopng/scripts/callbacks/system/notifications.lua][/usr/share/ntopng/scripts/lua/module

[2021-04-22 17:06] simonemainardi opened #5215 "Factory Reset - Clicking on button is ineffective"
Clicking on this button is ineffective (branch alerts-store)

![image](https://user-images.githubusercontent.com/3397663/115755593-cb3e9000-a39d-11eb-90f8-2d259d1b2e1d.png)

[2021-04-22 17:07] simonemainardi opened #5216 "New Alerts Explorer - Disabled Alerts Modal Broken"
Clicking on bells open broken forms

![image](https://user-images.githubusercontent.com/3397663/115755783-ffb24c00-a39d-11eb-9438-36fdf166afdc.png)

[2021-04-22 17:43] rreiner opened #5217 ""Eth0 is dropping alerts" - using only builtin sqlite recipient"
Seeing an alert "Interface eth0 is dropping alerts. Likely it is generating too many of them, or recipients are slow."

But the only alert recipient is is the builtin_config_sqlite, and the alert rate is low.

Screenshots attached.  In the screenshots the redacted IP addresses are those of internal hosts -- all different ones.

![image](https://user-images.githubusercontent.com/12399329/115761713-

[2021-04-22 17:49] rreiner opened #5218 ""Detected {client,server} score anomaly for host ... score: nil""
Seeing recurring alerts of the forms ""Detected client score anomaly for host ... score: nil" and ""Detected server score anomaly for host ... score: nil"

Screenshot attached.  The redacted IPs in the screenshot are those of internal hosts -- they are all different, not always the same.

![image](https://user-images.githubusercontent.com/12399329/115762095-17bfa680-a371-11eb-8c50-26d743c46602.png

[2021-04-23 07:38] olmanolsztyn opened #5219 "Topology map related to 10G interfaces is non proper created"
I have 10G interfaces that detects neighbors using LLDP but topology map is not properly created related to 10G interfaces.

[2021-04-23 07:42] cardigliano commented on #5101
This is the stack trace from @rreiner. It seems the ndpiFlow ptr is not valid, a new debug session will be scheduled to dig more into this.

0x0008a2a4 in Flow::processDNSPacket (this=0x9b7f7fd8, ip_packet=0xa6f2fe "E", ip_len=46, packet_time=1619128522623) at
src/Flow.cpp:725
(gdb) bt
#0  0x0008a2a4 in Flow::processDNSPacket (this=0x9b7f7fd8, ip_packet=0xa6f2fe "E", ip_len=46,
    packet_time=161

[2021-04-23 07:56] MatteoBiscosi commented on #5218
Hi @rreiner the fix is done, please wait until the next raspbian update

[2021-04-23 10:49] simonemainardi commented on #5216
make sure this works for both hosts and flows, and all other families.

[2021-04-23 11:25] gabryon99 commented on #5215
Fixed. The problem was with a missing space. Next time can you attach a screenshot of the console to see if there are any errors? Thanks.

[2021-04-23 11:28] gabryon99 commented on #5209
To give a meaningful name the REST endpoint that provides the timeseries must be edited. You have to set the field `name` of the `serie` inside the `series` array given as answer.

[2021-04-23 11:30] gabryon99 commented on #5200
Removing the Zoom/+ and Zoom/- implies the removing of the buttons contained inside the new nindex page.

[2021-04-23 11:33] gabryon99 commented on #5199
As said in #5200 in [this comment](https://github.com/ntop/ntopng/issues/5200#issuecomment-825595535), these edits will change the nindex page because the range picker is a template used in both pages.

[2021-04-23 11:43] gabryon99 commented on #5210
This is doable. Inside the returned array `series` fetched from the REST Endpoint (`scripts/lua/rest/v1/get/alert/ts.lua`) it's necessary to add a "serie" for each alert severity. See the example used inside the apexcharts documentation: https://apexcharts.com/javascript-chart-demos/bar-charts/stacked/

[2021-04-23 12:03] cardigliano commented on #5200
@gabryon99 I think we should have a single Zoom +/- button to avoid duplicated controls (and confusion for the user)

[2021-04-23 12:06] cardigliano commented on #5199
It should be clear to the user that 1d is a shortcut for "Last" 1d that will change the time range in the date picker, and this is not relative to the current time interval. What about adding at least the word "Last" before the selection?

[2021-04-23 12:46] simonemainardi commented on #5209
Thanks for the hint. Fixed in 69cd80a4725a37ac86c69968077c1d56426b85ca.

[2021-04-23 12:49] #5209 closed, assigned to simonemainardi

[2021-04-23 12:56] gabryon99 commented on #5200
<img width="244" alt="Screenshot 2021-04-23 at 14 53 56" src="https://user-images.githubusercontent.com/14114916/115873842-bcaab400-a443-11eb-8932-f0480fba50eb.png">

Hidden the "zoom" icon as requested. The hamburger button will remain as I said [here](https://github.com/ntop/ntopng/issues/5200#issuecomment-824623783).

[2021-04-23 12:56] #5200 closed, assigned to gabryon99

[2021-04-23 12:58] gabryon99 commented on #5199
@cardigliano it's fine for me.

The range picker layout on Firefox is visually broken, I'll fix it.

[2021-04-23 13:05] gabryon99 commented on #5199
<img width="1792" alt="Screenshot 2021-04-23 at 15 03 46" src="https://user-images.githubusercontent.com/14114916/115875038-1b246200-a445-11eb-911d-ccb827d4681d.png">

Layout fixed in Firefox. Remember to **reload the cache** to see the new changes.

[2021-04-23 15:57] cardigliano opened #5220 "New Alerts Explorer - SNMP Alerts page JS failure"
There is a jquery failure in the new SNMP alerts page (the endpoint seems to be called correctly).

<img width="998" alt="Screen Shot 2021-04-23 at 17 55 07" src="https://user-images.githubusercontent.com/7548711/115897753-0c49a980-a45d-11eb-9d42-80ac67113a06.png">

[2021-04-23 15:59] cardigliano opened #5221 "New Alerts Explorer - Always use columns names for sorting"
The alerts page is using sort=date in the GET query. date is not a valid column name. Use tstamp instead (always use names coming from columns)

[2021-04-23 16:18] lucaderi commented on #5198
![Screen Shot 2021-04-23 at 18 17 53](https://user-images.githubusercontent.com/4493366/115900437-41a3c680-a460-11eb-9046-eaf9b8b93eb8.png)
The action button is working now but a new bug popped up

[2021-04-23 16:19] lucaderi commented on #5197
Verified as fixed even though i prefer to see an empty field instead of "no status"

[2021-04-23 16:19] #5197 closed, assigned to MatteoBiscosi

[2021-04-23 16:20] lucaderi commented on #5193
Verified as fixed

[2021-04-23 16:20] #5193 closed, assigned to gabryon99, MatteoBiscosi

[2021-04-23 16:20] lucaderi commented on #5183
Verified as fixed

[2021-04-23 16:20] #5183 closed, assigned to gabryon99

[2021-04-23 16:21] lucaderi commented on #5179
Verified as fixed

[2021-04-23 16:21] #5179 closed, assigned to MatteoBiscosi

[2021-04-23 16:22] lucaderi commented on #5178
Verified as fixed even though in one page I see bytes in the other page number of requests

[2021-04-23 16:22] #5178 closed, assigned to MatteoBiscosi

[2021-04-23 16:22] lucaderi commented on #5177
Verified as fixed

[2021-04-23 16:22] #5177 closed, assigned to MatteoBiscosi

[2021-04-23 16:23] #3683 closed, assigned to MatteoBiscosi

[2021-04-23 16:28] lucaderi opened #5222 "Missing value format"
![Screen_Shot_2021-04-23_at_18_26_44](https://user-images.githubusercontent.com/4493366/115901531-9dbb1a80-a461-11eb-8f7c-c527f425af00.png)

Please remove Bytes from the label and format the value

[2021-04-23 16:28] lucaderi commented on #5182
Seems to be fixed

[2021-04-23 16:28] #5182 closed, assigned to gabryon99

[2021-04-23 16:33] #5221 closed, assigned to gabryon99

[2021-04-23 16:49] #5199 closed, assigned to gabryon99

[2021-04-23 17:07] lemmy04 opened #5223 "ntopng 4.2 crashes as soon as I enable timeseries to influxdb"
I have an influxdb up and running that I feed with telegraf from a dozen pcs. As soon as I switch the timeseries driver to influxdb and point it at my database, ntopng crashes. If i restart it, it crashes again, the only way to get it to work again is to delete the redi key that stores the timeseries driver...

[2021-04-23 17:34] cardigliano opened #5224 "New Alerts Explorer - Add tabs for new alert endpoints"
New endpoints have been added for "interface", "network" and "user". It is required to add a tab for each of them in the alerts page.

[2021-04-23 20:51] netsolv opened #5225 "ntopng.conf --collection-filter"
It appears ntopng.service is no longer applying the --collection-filter=!xxx.xxx.xxx.xxx/xx portion of the .conf file. nprobe -h | grep -- --collection-filter still shows the variable is correct, however we are seeing an abundant of traffic from a probe server via broadcast. We need to remove 2 specific hosts from all data collection.

[2021-04-24 07:48] lucaderi commented on #5101
@rreiner I have made a fix you can try. Packages are being rebuilt and will be available in about one hour from now. Please upgrade and report. Thank you.

[2021-04-24 08:02] lucaderi opened #5226 "Invalid web user lifecycle"
![Screen_Shot_2021-04-24_at_09_58_43](https://user-images.githubusercontent.com/4493366/115951956-d00d5c00-a4e3-11eb-98cc-d5f93650b82c.png)

In this example the user selected has been created with admin privileges. The form (and underlying user delete script) should work as follows:
- the admin user cannot be deleted
- a logged user (even if defined as admin) cannot delete itself as in the picture

[2021-04-24 08:09] gabryon99 commented on #5224
I've added the new links inside the navbar and added the necessary templates, but there are few problems with the new endpoints.

### Interface Endpoint

For the `list.lua` endpoint I receive this error:
<img width="1562" alt="Screenshot 2021-04-24 at 09 57 00" src="https://user-images.githubusercontent.com/14114916/115951896-6c832e80-a4e3-11eb-9f71-d877064acb5e.png">

### User Endpoint

The same

[2021-04-24 08:29] gabryon99 commented on #5224
### System Endpoint

Also, the `system` endpoint has the same problem:

<img width="1579" alt="Screenshot 2021-04-24 at 10 28 45" src="https://user-images.githubusercontent.com/14114916/115952708-dac9f000-a4e7-11eb-9d84-9c2612823239.png">

[2021-04-24 15:10] cardigliano commented on #5224
The alert_entity related failure has been addressed in 81ed0f7e9d4c2b827756f11cf157c2f9cd617476.
@simonemainardi please review the current value in system_alert_store

[2021-04-24 15:16] rreiner commented on #5101
OK, got it installed and running, and will monitor for crashes.

On Sat, Apr 24, 2021 at 3:48 AM Luca Deri ***@***.***> wrote:

[2021-04-24 15:50] rreiner opened #5227 "error when releasing an alert"
When releasing an alert of type "Flow Anomaly", a screen full of raw HTTP headers is displayed in the GUI, ending with the error message ` alerts_api.lua:472: attempt to index a nil value (global 'host')`

Screenshots attached.

![image](https://user-images.githubusercontent.com/12399329/115964433-80825c80-a4f2-11eb-95d6-ef93d766798c.png)

Then after clicking Release icon on the second flow and co

[2021-04-24 15:54] rreiner commented on #5218
The new version no longer shows nil scores, but still generates large numbers of not-useful alerts.  It's not clear how the scores and bounds are being determined, but they are not sensible.
See attached:

![image](https://user-images.githubusercontent.com/12399329/115964716-c25fd280-a4f3-11eb-8a75-40d737222191.png)

[2021-04-24 19:08] simonemainardi commented on #5224
@cardigliano everything reviewed. Some alert entities merged into system - see referenced commits.

@gabryon99 let us know if everything is OK.

[2021-04-24 19:12] simonemainardi opened #5228 "New Alerts Explorer - Update Links"
The following links should be updated:

1. Alerts page under host_details should point to the new alerts page, tab "host", with the host IP selected. NOTE that the selection must support VLAN, when it is not zero. Filters will look like 1.2.3.4 for hosts without VLAN, and 1.2.3.4@XX for any VLAN XX > 0.
2. Alerts page under if_stats should point to the new alerts page, tab "interface". In this cas

[2021-04-25 20:58] rreiner commented on #5101
No crashes in 36 hours since I installed the update.  This compares to 5-6
per day prior.  So tentatively this appears to be fixed.

--
Sent from my phone

On Sat., Apr. 24, 2021, 11:16 Richard Reiner, ***@***.***>
wrote:

[2021-04-25 22:42] xeen3d commented on #4837
I have purchased a License the Brew is not a Pro version and I have same Problem now like others above but I have pay money
for get a running program !! So it would be Time fix that issue !!!
Andre

[2021-04-26 06:47] simonemainardi commented on #5218
Fixes have been done in another branch that will be merged shortly.

[2021-04-26 07:07] cardigliano commented on #5101
@rreiner this is a great news, let's close this, please reopen in case you experience other crashes. Thank you.

[2021-04-26 07:07] #5101 closed, assigned to cardigliano

[2021-04-26 07:10] simonemainardi commented on #5225
this is an nprobe option, please apply to nprobe. ntopng supports -B for BPF filters on packet-interfaces.

[2021-04-26 07:10] #5225 closed, assigned to nobody

[2021-04-26 09:47] simonemainardi commented on #5227
This functionality is being reworked and will be merged into dev shortly. Thanks for reporting.

[2021-04-26 09:48] simonemainardi commented on #5217
This functionality is being reworked and will be merged into dev shortly. Thanks for reporting.

[2021-04-26 09:48] #5215 closed, assigned to gabryon99

[2021-04-26 09:51] simonemainardi commented on #5214
This is fixed as reported by the user. Moreover, `host.` pointer to active hosts is no longer existing in the codebase.

[2021-04-26 09:51] #5214 closed, assigned to simonemainardi, MatteoBiscosi

[2021-04-26 10:04] gabryon99 commented on #5190
Implemented inside the `alerts-store` branch.

[2021-04-26 10:04] #5190 closed, assigned to simonemainardi

[2021-04-26 10:14] MatteoBiscosi commented on #5223
Hi @lemmy04 , sorry but I'm unable to reproduce the bug, could you please tell me your ntopng version and if you have some errors (you can check the errors by doing `service ntopng status`)?

[2021-04-26 10:38] lemmy04 commented on #5223
I am running ntopng 4.2 built as RPM for openSUSE from the tar file on https://github.com/ntop/ntopng/releases/tag/4.2, the spec file used to package it is here: https://build.opensuse.org/package/show/server:monitoring/ntopng

I didn't see any errors in my logs - and I actually got it to work now, by setting the database as the IP address instead of hostname. My guess is that ntopng can't deal wi

[2021-04-26 10:41] kfra71 opened #5229 "segmentation fault"
We are suddenly experiencing this issue while start upping ntpng with an enterprise L license:

Following the debug:

gdb --args ntopng /etc/ntopng/ntopng.conf
GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-120.el7
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistrib

[2021-04-26 11:03] lucaderi commented on #5198
Verified as fixed

[2021-04-26 11:03] #5198 closed, assigned to MatteoBiscosi

[2021-04-26 11:57] simonemainardi commented on #5229
Can you please do the following.

1. stop ntopng
2. `$ redis-cli  dump ntopng.prefs.user_scripts.configset_v3 > ntopng.prefs.user_scripts.configset_v3.txt`
3. `$ redis-cli del ntopng.prefs.user_scripts.configset_v3`
4. restart ntopng

if it solves, then please send me the file `ntopng.prefs.user_scripts.configset_v3.txt` privately via mail at mainardi ntop org

[2021-04-26 12:18] simonemainardi commented on #5223
OpenSUSE is not a distribution we support.

Anyway, checkout the latest sources from https://github.com/ntop/ntopng/tree/4.2-stable and retry.

In case you still experience the crash, consider switching to a supported distribution or provide a stack trace we can use to debug.

[2021-04-26 12:18] #5223 closed, assigned to MatteoBiscosi

[2021-04-26 13:01] kfra71 commented on #5229
Dear Simone, now it works like a charm.

Please find in attachment ntopng.prefs.user_scripts.configset_v3.txt file.

Looking forward to hearing from you.

Best regards,

Francesco.

[2021-04-26 13:45] MatteoBiscosi commented on #4970
Hi @PaoloCmb total throughput/bytes for the filtered flows has been implemented. Regarding the multi selection currently it is not possible to select more than one entry.

[2021-04-26 13:45] #4970 closed, assigned to nobody

[2021-04-26 14:22] MatteoBiscosi commented on #2862
Currently implemented into `lua/rest/v1/charts/host/map.lua`

[2021-04-26 14:22] #2862 closed, assigned to nobody

[2021-04-26 15:06] simonemainardi commented on #5229
Francesco, thanks for reporting. Unfortunately, I can't see any attachment. Please, check.

[2021-04-26 15:07] kfra71 commented on #5229
here we go again

Francesco.

[ntopng.prefs.user_scripts.configset_v3.txt.zip](https://github.com/ntop/ntopng/files/6378184/ntopng.prefs.user_scripts.configset_v3.txt.zip)

[2021-04-26 18:57] lucaderi commented on #5226
Verified as fixed

[2021-04-26 18:57] #5226 closed, assigned to gabryon99, MatteoBiscosi

[2021-04-27 06:14] lucaderi opened #5230 "Alert: too much space wasted"
![1](https://user-images.githubusercontent.com/4493366/116193901-60d87780-a730-11eb-99b5-b3e7bf9c3b89.png)
The above picture shows how the page renders on my laptop. A lot of space wasted, only two alerts that instead are the core of this page.

You can string the picture using something like
![image001](https://user-images.githubusercontent.com/4493366/116194024-8cf3f880-a730-11eb-9d00-42a485c30e

[2021-04-27 06:16] lucaderi opened #5231 "Alert: Invalid formatting"
![2](https://user-images.githubusercontent.com/4493366/116194101-a8f79a00-a730-11eb-8754-e49198797418.png)

As you can see on this picture you waste a lot of space. Suggestions
- merge client and client name in a single column
- severity should be much shorter
- Description should not wrap
- String labels such as Application
- Missing L4 protocol

[2021-04-27 06:18] lucaderi opened #5232 "Alert: Missing Hyperlinks"
![3](https://user-images.githubusercontent.com/4493366/116194253-e5c39100-a730-11eb-9611-e3119f240427.png)
With the new table it is no loner available a hyperlink to jump to the host page (if present) but only to stay on alerts (correct). Please add an icon or something along that line to enable jumping to the host page as in the old alert page

[2021-04-27 06:19] lucaderi opened #5233 "Alert: Missing alert breakdown"
In the previous alert page it was possible to see the alert breakdown for severity, types, etc.

This is no longer present and it must be restored

[2021-04-27 06:20] lucaderi opened #5234 "nIndex Explorer: Missing Hyperlinks"
Same as #5232 for nIndex

[2021-04-27 06:29] lucaderi opened #5235 "Collect Attackers Data on a Datalake"
In case an alert where an attacker is defined, it is requested to send this data to a central collector. Example if you have 5 ntopng instances, it would be nice to collapse into a single place all attackers information limited to attackers with public IP address.

It is requested to implement this functionality by defining a packet format containing
- attacker IP
- attacker score
- checksum/authe

[2021-04-27 08:57] gabryon99 commented on #5224
Fixed and implemented.

[2021-04-27 08:57] #5224 closed, assigned to gabryon99

[2021-04-27 09:37] gabryon99 commented on #5220
Verified as fixed.

[2021-04-27 09:37] #5220 closed, assigned to gabryon99

[2021-04-27 09:51] #3542 closed, assigned to nobody

[2021-04-27 09:52] MatteoBiscosi commented on #3542
Currently added Ip version and Hosts type (remote, local, ...)

[2021-04-27 10:01] lucaderi opened #5236 "Alert Drill down icons do not execute any action"
![Screen Shot 2021-04-27 at 12 00 06](https://user-images.githubusercontent.com/4493366/116223750-254da580-a750-11eb-80f6-198d17ff382c.png)

Example URL http:/xxxx:3000/lua/alert_stats.lua?begin_epoch=1619516455&end_epoch=1619516699

[2021-04-27 10:02] lucaderi opened #5237 "Alert: Clicking on a bar does not drill down"
![Screen Shot 2021-04-27 at 12 01 24](https://user-images.githubusercontent.com/4493366/116223912-5037f980-a750-11eb-9d93-cf261ec48da8.png)

[2021-04-27 10:12] simonemainardi opened #5238 "Uncaught (in promise) Error: Widget alert-timeseries not found!"
![image](https://user-images.githubusercontent.com/3397663/116225139-c38e3b00-a751-11eb-8f2f-2c0e73d28816.png)

[2021-04-27 10:59] lucaderi opened #5239 "Alert: Add badge when there are engaged alerts"
![Screen Shot 2021-04-27 at 12 02 18](https://user-images.githubusercontent.com/4493366/116224041-752c6c80-a750-11eb-9410-a8ca490aa3e3.png)

In the upper menubar, add a red badge similar to the picture below
![Screen Shot 2021-04-27 at 10 57 10](https://user-images.githubusercontent.com/4493366/116230748-5205bb00-a758-11eb-8ec5-4f6ca1cbb8d9.png)
for those entries that have engaged alerts

[2021-04-27 12:16] #5216 closed, assigned to gabryon99

[2021-04-27 12:17] #5222 closed, assigned to MatteoBiscosi

[2021-04-27 12:24] simonemainardi opened #5240 "Invalid [object Object] filter when accessing via direct link"
When accessing the alerts page via a direct link, e.g.,  pointing the browser to "http://devel:3000/lua/alert_stats.lua?page=host&status=engaged&ip=192.168.2.222@78", the filter is not properly populated.

![image](https://user-images.githubusercontent.com/3397663/116240571-45875f80-a764-11eb-8e19-68ed12c89565.png)

[2021-04-27 12:30] #5240 closed, assigned to gabryon99

[2021-04-27 12:33] mailinglists35 commented on #4057
how do I enable `view:all` without [explicitly adding interface names](https://www.ntop.org/guides/ntopng/advanced_features/view_interfaces.html)?  basically I want to let it discover interfaces as they come up and down and keep a dynamic updated "view:all"

[2021-04-27 12:57] simonemainardi commented on #5232
@gabryon99 as requested you now have extra fields telling you the url:

- For flow alerts: check for `cli_url` and `srv_url` in the response
- For host alerts: check for `ip_url` in the response

URLs are populated for active hosts, otherwise they are just plain strings when hosts are inactive.

[2021-04-27 13:48] simonemainardi commented on #5202
Verified as fixed.

[2021-04-27 13:48] #5202 closed, assigned to gabryon99

[2021-04-27 16:35] simonemainardi commented on #5212
Fixed in the referenced commits.

[2021-04-27 16:35] #5212 closed, assigned to simonemainardi

[2021-04-28 06:38] lucaderi opened #5241 "Regression: Automatic update does not work"
As already discussed, automatic updates sometime work, sometime do not work. This is Ubuntu 18.04 LTS tonight
![Screenshot 2021-04-28 at 08 37 08](https://user-images.githubusercontent.com/4493366/116357666-06f1b380-a7fd-11eb-8f1f-aaa2c210f09f.png)
![Screenshot 2021-04-28 at 08 36 56](https://user-images.githubusercontent.com/4493366/116357671-078a4a00-a7fd-11eb-8723-b2eac361a486.png)

[2021-04-28 06:38] lucaderi opened #5242 "Alerts: Column size in uneven"
![Screenshot 2021-04-28 at 08 34 19](https://user-images.githubusercontent.com/4493366/116357746-1ffa6480-a7fd-11eb-8124-49358b67df5c.png)

Action column is too wide, problem already discussed in  #5232

[2021-04-28 06:44] lucaderi opened #5243 "Alert duration is not correct"
![Screenshot 2021-04-28 at 08 43 00](https://user-images.githubusercontent.com/4493366/116358334-d1999580-a7fd-11eb-8869-4d87d845f668.png)

[2021-04-28 06:54] lucaderi opened #5244 "Default alert timespan is wrong"
Clicking on the alert icon, brings to this window. By default the duration is 30 mins but instead of having 30m selected "custom" is selected

![Screenshot 2021-04-28 at 08 52 20](https://user-images.githubusercontent.com/4493366/116359454-1a9e1980-a7ff-11eb-820f-be2a6290d1e5.png)

Please check also nIndex

[2021-04-28 06:58] lucaderi opened #5245 "Alerts: Do not enable breadcrumb hyperlink for entries with no alerts"
Example:
![Screenshot 2021-04-28 at 08 55 37](https://user-images.githubusercontent.com/4493366/116359832-8da79000-a7ff-11eb-9514-b280878bb689.png)

Note that when #5239 will be implemented and this ticket will also be implemented, refresh needs to update the breadcrumb in case new alerts have been reported in the meantime and thus the menu link need to be enabled

[2021-04-28 07:02] lucaderi opened #5246 "Implement alert dashboard"
In the current alert implementation, a bird eye view of the current alert status is missing. This needs to be implemented as landing page. Something like (or better) this below is the bare minimum we can expect. Better if some charts are used.

![Screenshot 2021-04-28 at 09 01 25](https://user-images.githubusercontent.com/4493366/116360588-600f1680-a800-11eb-8614-bed1e3555cb9.png)

[2021-04-28 07:06] lucaderi opened #5247 "Alert breadcrumb needs to be reworked"
In all the ntopng entries such as the host
![Screenshot 2021-04-28 at 09 03 54](https://user-images.githubusercontent.com/4493366/116360910-b2e8ce00-a800-11eb-8ab1-4d21c019748e.png)

it is clean what is the title, and what are the entries. In the alerts, the first entry (Alerts) it is not clear if it is a disabled hyperlink, a bug or the title. Adding an icon to implement #5246 or a"Alert:" can he

[2021-04-28 08:31] lucaderi commented on #5241
Doing a manual update the installation worked. ntopng did not realise it and it still proposes the package just instal
<img width="1332" alt="Screenshot 2021-04-28 at 10 30 24" src="https://user-images.githubusercontent.com/4493366/116372627-e7628700-a80c-11eb-9158-1466956aada3.png">
led

[2021-04-28 08:53] gabryon99 commented on #5238
Exception caught in a try catch block.

[2021-04-28 08:53] #5238 closed, assigned to gabryon99

[2021-04-28 09:11] cardigliano commented on #5241
I was able to repruduce the update failure, it was due to a missing dependency in other repo which were not updated by our script, fixed in d2bce17c7acaf534b77a50f63d633464e760c981
The GUI issue about the update proposal at the same version after a manual update has been fixed in 28fd3b3516dfd0dba8e2be1a693327d410183ee0

[2021-04-28 09:28] cardigliano commented on #5241
Logging has also been enabled in b2a6ff60f9306dc7d898b7dd83e72a62a551a457
Please reopen if experience this again

[2021-04-28 09:28] #5241 closed, assigned to cardigliano

[2021-04-28 09:41] gabryon99 commented on #5228
Links updated.

[2021-04-28 09:41] #5228 closed, assigned to gabryon99

[2021-04-28 10:09] gabryon99 opened #5248 "Nil values in Past Host Alerts"
<img width="1698" alt="Screenshot 2021-04-28 at 12 40 48" src="https://user-images.githubusercontent.com/14114916/116391040-f8b48f00-a81e-11eb-8c95-3268925c8259.png">

[2021-04-28 10:20] gabryon99 commented on #5247
<img width="1698" alt="Screenshot 2021-04-28 at 12 19 26" src="https://user-images.githubusercontent.com/14114916/116388309-fb61b500-a81b-11eb-89a4-3cbd807b0845.png">

Added a small icon to the left and a separator, similar to the User Script's navbar.

[2021-04-28 10:23] MatteoBiscosi commented on #5234
Implemented into pro rep

[2021-04-28 10:23] simonemainardi commented on #5247
Please, maintain the same style across all the UI. See the breadcrumb attached in this issue. It has icons on the right, and no separator. Kindly unify the style across all the breadcrumbs.

[2021-04-28 10:24] simonemainardi commented on #5247
also, alerts use the `fa-triangle` as icon

[2021-04-28 10:39] gabryon99 commented on #5247
@simonemainardi now the navbar use the main section's icon if it's available. The navbar is a template, so the style is unified across the pages.

[2021-04-28 10:40] kfra71 opened #5249 "Error in updating"
is there anyone that is getting this dependency error?

Any idea on how to solve it?  Already did yum clean all

Resolving Dependencies
--> Running transaction check
---> Package cento.x86_64 0:1.13.210426-667 will be updated
---> Package cento.x86_64 0:1.13.210428-667 will be an update
---> Package n2disk.x86_64 0:3.7.210426-5310 will be updated
---> Package n2disk.x86_64 0:3.7.210428-5310 will b

[2021-04-29 08:01] shabsta commented on #5049
Same issues here, I have removed the package and reinstalled and the issue still exists immediately after reinstalling via package manager - which should be the correct / preferred method to manage packages.

[2021-04-29 08:11] gabryon99 commented on #5207
Added hyperlinks.

[2021-04-29 08:11] #5207 closed, assigned to gabryon99

[2021-04-29 09:44] cardigliano commented on #5249
@kfra71 what OS are you running? Could you try with another clean all and update as we rebuilt the repo in the meantime? Thank you.

[2021-04-29 09:54] simonemainardi opened #5250 "nIndex Drilldown - Recording utils - number expected got nil"
Clicking on download from an nIndex flow, yields the following error

![image](https://user-images.githubusercontent.com/3397663/116533329-8953a380-a8e1-11eb-9c80-fc16eedcc48a.png)

[2021-04-29 10:06] cardigliano commented on #5248
This seems to be working for me

[2021-04-29 10:12] kfra71 commented on #5249
I did yum clean all few seconds ago and nothing changed.

I am using CentOS Linux release 7.9.2009 (Core).

[2021-04-29 10:13] simonemainardi opened #5251 "nIndex Drilldown - Failing at finding records"
When 200 is selected as number of records, drilldown starts failing after the 2nd/3rd page. When 250 is selected, everything seems to work.

It is also requested to add up to 1000 as records per page.

[2021-04-29 10:16] #5243 closed, assigned to simonemainardi, MatteoBiscosi

[2021-04-29 10:16] simonemainardi opened #5252 "Virustotal - Add configuration for registered accounts"
It is requested to add configuration for registered virustotal users (under the preferences) so people can access additional info when following virustotal links.

[2021-04-29 10:19] simonemainardi opened #5253 "nIndex Drilldown - Clicking download on nIndex - JS errors"
![image](https://user-images.githubusercontent.com/3397663/116536196-ea30ab00-a8e4-11eb-879c-03ddcd2bfeb7.png)

![image](https://user-images.githubusercontent.com/3397663/116536173-e3a23380-a8e4-11eb-98dd-2e4ecf2765c8.png)

[2021-04-29 10:26] simonemainardi commented on #5248
Ffor me too, seems more an issue with an old database or schema. Closing for now. @gabryon99 please wipe the old database as we have seen.

[2021-04-29 10:26] #5248 closed, assigned to simonemainardi

[2021-04-29 11:02] cardigliano commented on #5242
Currently columns can change in the same page navigating alerts through pagination, as they are moved to the "+" (expanded information) according to the content. Please see the pictures. This IMHO should be avoided as it is confusing for the user.

<img width="1025" alt="Screen Shot 2021-04-29 at 12 59 16" src="https://user-images.githubusercontent.com/7548711/116540884-0a636880-a8eb-11eb-802f-1fc

[2021-04-29 12:08] lucaderi opened #5254 "Invalid Flow Pagination"
![Screen_Shot_2021-04-29_at_14_07_23](https://user-images.githubusercontent.com/4493366/116548381-6a124180-a8f4-11eb-8887-78fe2fe70794.png)

[2021-04-29 12:13] lucaderi opened #5255 "Alert: Invalid score/alert calculation"
![Screen_Shot_2021-04-29_at_14_09_33](https://user-images.githubusercontent.com/4493366/116548547-ad6cb000-a8f4-11eb-92c4-056ec2d979bf.png)

All the above flows are alike: the client is trying to connect to a port that is closed. Unfortunately
- only one flow is alerted
- this alert is reported as TCP probing but it cannot be this case, as the client is talking always with the same destination IP+

[2021-04-29 12:15] lucaderi opened #5256 "Flow Alerts Lack Tuple information"
![Screen Shot 2021-04-29 at 14 14 04](https://user-images.githubusercontent.com/4493366/116548969-384daa80-a8f5-11eb-90a7-a7857d558350.png)

From this alert it is not possible to know the 5-tuple that originated the alert

[2021-04-29 12:15] cardigliano opened #5257 "Alert: broken IP selection in Disable Alerts dialog"
The Disable Alerts dialog shows "Object" in the host selection, it is likely this is due to the recent change to the cli_ip/srv_ip

<img width="512" alt="Screen Shot 2021-04-29 at 14 13 38" src="https://user-images.githubusercontent.com/7548711/116548860-194f1880-a8f5-11eb-9839-de98c4a3bda6.png">

[2021-04-29 12:17] lucaderi opened #5258 "Merge Flow Alerts with nIndex"
![Screen Shot 2021-04-29 at 14 15 16](https://user-images.githubusercontent.com/4493366/116549079-5c10f080-a8f5-11eb-95aa-47224957482e.png)

It is requested for the above flow alerts, to to have the ability (if -F nIndex is enabled) to jump onto nIndex and visualize the flow. A simple way would be to glue the up using communityId but probably it's better to use the 5-tuple as this allows nIndex fi

[2021-04-29 12:19] cardigliano commented on #5227
The new UI is now available, this no longer applies as the Release button has been removed/replaced with the disable functionality.

[2021-04-29 12:19] #5227 closed, assigned to simonemainardi

[2021-04-29 12:59] cardigliano commented on #5218
Branch merged, this is also a duplicate of #5248 which has been addressed.

[2021-04-29 12:59] #5218 closed, assigned to simonemainardi

[2021-04-29 13:02] cardigliano commented on #5217
Fixed with the branch merge two days ago. 2278926da4a90a7b2098383b06a31371b6d8dced

[2021-04-29 13:02] #5217 closed, assigned to simonemainardi

[2021-04-29 13:09] cardigliano commented on #5213
The ip=X.X.X.X format is currently supported in the Exclusion List. This should be simplified as it is not user friendly.

[2021-04-29 14:56] mrx3000 commented on #4837
After installing from the official package (https://packages.ntop.org/MacOS/ntopng-4.3.201102.pkg) I do not see the "libgmodule-2.0.0.dylib" in the "/usr/local/opt/ntopng". Other libraries are there. As such, modifying "LD/DYLD_LIBRARY_PATH" does not help - library not there, can't be loaded.

Could someone please check the package contents?

[2021-04-29 15:37] lucaderi commented on #5242
The initial issue is solved for me. Now this new one from @cardigliano needs to be handled (I would open a separate ticket)

[2021-04-29 15:53] simonemainardi opened #5259 "nEdge Apply button does not apply"
button is disabled and nothing happens

![image](https://user-images.githubusercontent.com/3397663/116580517-bc168f80-a913-11eb-8e36-4ee0b53b83ca.png)

[2021-04-29 16:07] simonemainardi commented on #5259
![image](https://user-images.githubusercontent.com/3397663/116582552-c9347e00-a915-11eb-81a0-8d160df30467.png)

[2021-04-29 16:31] MatteoBiscosi commented on #5250
Fixed into the pro repository

[2021-04-29 16:31] #5250 closed, assigned to simonemainardi, gabryon99, MatteoBiscosi

[2021-04-29 17:25] lucaderi commented on #5244
Verified as fixed

[2021-04-29 17:25] #5244 closed, assigned to gabryon99

[2021-04-29 17:26] lucaderi commented on #5247
Verified as fixed.

[2021-04-29 17:26] #5247 closed, assigned to gabryon99

[2021-04-29 17:26] lucaderi commented on #5234
Verified as fixed

[2021-04-29 17:26] #5234 closed, assigned to gabryon99, MatteoBiscosi

[2021-04-30 06:31] lucaderi opened #5260 "Alert download button broken"
In the alert window there are two main problems with the bottom download button:

![Screen Shot 2021-04-30 at 08 28 21](https://user-images.githubusercontent.com/4493366/116657057-10f6ec00-a98e-11eb-813e-83e49418e463.png)

- Change the label from "Download Records" -> "Download X Alerts" where X is the number of alerts currently shown. If too complicated omit X but change the label
- The download

[2021-04-30 07:22] Ryananana opened #5261 "Add official nightly build for Archlinux"
The latest version of Ntopng in AUR is 4.2-1,using Ntopng in Docker is something wired.So I'd like to know is it possible add official nightly built package for Archlinux.

[2021-04-30 07:52] cardigliano commented on #5249
Sorry for the delay, it took some time to rebuild the OSX package. Please check the new package available at https://packages.ntop.org . Thank you.

[2021-04-30 07:53] cardigliano commented on #4837
Sorry for the delay, it took some time to rebuild a new OSX package. Please check the new package available at https://packages.ntop.org . Thank you.

[2021-04-30 08:00] gabryon99 commented on #5259
Fix done. See also the commit: https://github.com/ntop/ntopng/commit/690b60319949142cd8d4bb1fc08c38e907c2cffc

[2021-04-30 08:00] #5259 closed, assigned to gabryon99

[2021-04-30 08:11] lucaderi commented on #5261
We don't use ArchLinux: please make sure packaging for archlinux works, and we'll see what we can do

[2021-04-30 08:11] #5261 closed, assigned to nobody

[2021-04-30 08:35] #5254 closed, assigned to MatteoBiscosi

[2021-04-30 08:36] gabryon99 commented on #5201
Verified as fixed.

[2021-04-30 08:36] #5201 closed, assigned to gabryon99

[2021-04-30 08:49] gabryon99 opened #5262 "Invalid hostname for host alerts received from the endpoint"
When opening the modal to disable a host alert I don't see the right hostname for the selected host.

<img width="1695" alt="Screenshot 2021-04-30 at 10 47 11" src="https://user-images.githubusercontent.com/14114916/116671618-6ee0ff00-a9a1-11eb-9ce4-d745699f5272.png">

<img width="1083" alt="Screenshot 2021-04-30 at 10 46 00" src="https://user-images.githubusercontent.com/14114916/116671467-422ce7

[2021-04-30 09:07] cardigliano commented on #5255
The 2 alerted flows, unlike the others, have a single SYN packet which is triggering the TCP probing alert. This is leading to false positives and IMHO it should be removed (note we already have a SYN scan check on the host as attacker)

[2021-04-30 09:13] cardigliano commented on #5249
@kfra71 I pushed a new package, please try updating again and let me know. Thank you.

[2021-04-30 09:50] #5262 closed, assigned to cardigliano

[2021-04-30 11:05] #5255 closed, assigned to nobody

[2021-04-30 14:38] MatteoBiscosi commented on #5258
Implemented by @cardigliano (see #5256), the jump is done by clicking the icon into the description

[2021-04-30 16:24] cardigliano commented on #5258
The current implementation adds 2 icons: 1. the "stream" icon which is present when the flow is active (with a link to the flow details), 2. the "lens" icon which is present then nIndex is enabled (with a link to the Historical flow explorer). See the picture below.

<img width="354" alt="Screen Shot 2021-04-30 at 18 22 05" src="https://user-images.githubusercontent.com/7548711/116724500-06b20d80-

[2021-04-30 16:35] lucaderi opened #5263 "Score anomaly lacks client/server information"
![Screen_Shot_2021-04-30_at_18_33_50](https://user-images.githubusercontent.com/4493366/116725807-bc319080-a9e2-11eb-8b90-d6be5f224788.png)

[2021-04-30 17:18] cardigliano commented on #5210
A PoC of this has been implemented for flows and hosts. @gabryon99 is there a way to set a (meaningful) palette? (e.g. now the 'warning' severity is green, debug is red)

[2021-04-30 17:19] cardigliano commented on #5206
By clicking on the histogram colors implemented in #5210 should also apply a filter on severity

[2021-04-30 17:38] lucaderi opened #5264 "Improve GeoIP documentation"
I've installed ntopng on Raspberrian but I can't get GeoIp to work and therefore the map stays empty. I've followed all instructions Max Mind ( https://github.com/ntop/ntopng/blob/dev/doc/README.geolocation.md) but they are a bit fuzzy. Can you please update the instructions for raspberry pi useres.

II have installed ntopng-data but I can’t find geoipupdate on my raspberry. Is that still correct?

[2021-04-30 18:51] lucaderi opened #5265 "Lateral movement detection does not seem to honour DHCP"
![image](https://user-images.githubusercontent.com/4493366/116740764-bbeec080-a9f5-11eb-9106-e48d98f07332.png)

This is the image of my home network where DHCP is active and host change IP continuously. It looks MAC addresses are not used as keys in lateral movement and periodicity detection.

[2021-05-01 11:19] aidanharris opened #5266 "IPv4 LInk-Local Addresses are marked (wrongly) as Remote"
The same as #4339 but for IPv4.

[RFC 3927](https://tools.ietf.org/html/rfc3927) addresses in the `169.254/16` prefix are flagged as "Remote" when they should show as "Local".

[2021-05-01 17:06] lucaderi commented on #5260
Some comments:
- the output is JSON, whereas with nIndex it is text. We need to be consistent and use a single format
- fields as msg":"<a class='btn-sx' href='/lua/flow_details.lua?flow_key=3533815125&flow_hash_id=66'><i class='fas fa-stream'></i></a> <a class='btn-sx' href='/lua/pro/nindex_query.lua?begin_epoch=1619888693&end_epoch=1619888701&cli_ip=192.168.1.178,eq&srv_ip=17.248.145.208,eq&cli_

[2021-05-01 17:09] lucaderi commented on #5258
![Screen Shot 2021-05-01 at 19 08 22](https://user-images.githubusercontent.com/4493366/116789737-a4284280-aab0-11eb-8953-6b0ecf55f9d1.png)

The implementation is ok but The icons you added are in the description instead in the actions column where it is its natural place. I suggest to move it over there.

[2021-05-01 17:11] lucaderi commented on #5256
Implementation ok but please merge IP:port columns as it doesn't;t make sense to waste space with ports column is they are not sortable. This way you can leave more space to other columns that need space such as the description

[2021-05-02 19:49] kfra71 commented on #5249
Now it works like a charm!

[2021-05-02 19:49] #5249 closed, assigned to cardigliano

[2021-05-02 22:41] kfra71 commented on #5229
Fixed with the latest update

[2021-05-02 22:41] #5229 closed, assigned to simonemainardi

[2021-05-03 04:59] vollkommenheit commented on #4837
Nice, thanks. Now, on 10.14 Mojave I'm getting :

`#ntopng`

03/May/2021 08:55:26 [Redis.cpp:99] ERROR: Connection error [Connection refused]
03/May/2021 08:55:27 [Redis.cpp:83] Redis has disconnected, reconnecting [remaining attempts: 14]
03/May/2021 08:55:27 [Redis.cpp:99] ERROR: Connection error [Connection refused]

`#ntopng -r`

03/May/2021 08:55:49 [Ntop.cpp:2411] Setting local networks to 1

[2021-05-03 07:46] cardigliano commented on #4837
It seems redis is not running, please try running in another shell "redis-server", then run "ntopng"

[2021-05-03 08:02] simonemainardi commented on #5256
please for client and server make the same as the active flows page:

![image](https://user-images.githubusercontent.com/3397663/116853602-a1376a00-abf6-11eb-90ca-1760e15bd370.png)

re-use the same function that also attaches badges, flags, etc

[2021-05-03 08:53] #5258 closed, assigned to cardigliano

[2021-05-03 08:54] cardigliano commented on #5257
Confirm this is fixed

[2021-05-03 08:54] #5257 closed, assigned to gabryon99, MatteoBiscosi

[2021-05-03 09:40] MatteoBiscosi commented on #5265
Fixed for both, Periodicity and Service Map (pro rep)

[2021-05-03 09:42] MatteoBiscosi commented on #5263
Client and Server information should be into the description of the alert, please check it and let me know, because at the moment I'm unable to reproduce this alert

[2021-05-03 10:01] wuppiwuppi commented on #3830
I second that question. I have severe issues getting it installed via apt using the given installation instructions. I remain with a 3.8 version which comes from ubuntu repositories - not ntop ones.

[2021-05-03 12:16] cardigliano commented on #5210
Colors have been implemented

[2021-05-03 12:16] #5210 closed, assigned to simonemainardi, cardigliano, gabryon99

[2021-05-03 12:18] cardigliano commented on #5105
@AmCrNi can we close this?

[2021-05-03 12:22] cardigliano commented on #5148
@BrettDikeman can we close this?

[2021-05-03 13:24] MatteoBiscosi commented on #5251
Verified as fixed, if the same problem arise again please reopen the issue

[2021-05-03 13:24] #5251 closed, assigned to simonemainardi, gabryon99, MatteoBiscosi

[2021-05-03 15:39] cardigliano opened #5268 "Alert: Missing button to flush all alerts"
A button to delete all alerts is missing - support for this is implemented by the backend

[2021-05-03 16:25] #5232 closed, assigned to simonemainardi, gabryon99

[2021-05-03 16:26] simonemainardi commented on #5260
@MatteoBiscosi please use the already defined `noHtml` and dispose the duplicate function added with the commit

[2021-05-03 16:37] simonemainardi opened #5269 "CheckMK Integration - Migration of alert endpoints"
@TimotheusBachinger in the latest 4.3 dev we have significantly reworked the internal ntopng alerts engine to:

- keep entities in separate database tables
- improve the database structure
- improve the way data are stored and presented to the user

Alerts, which were previously mixed together, are not kept separated on a per-entity basis. That is, we have host alerts, interface alerts and so on.

[2021-05-03 19:58] lucaderi opened #5270 "Missing info in TLS Certificate Expired"
![Screen Shot 2021-05-03 at 21 56 33](https://user-images.githubusercontent.com/4493366/116926376-93b3cb80-ac5a-11eb-9838-3a8fe4e0b016.png)
The following alert is kinda useless as the SNI is missing

[2021-05-03 20:00] lucaderi opened #5271 "Alerts: broken layout when resizing the screen"
![Screen Shot 2021-05-03 at 21 59 28](https://user-images.githubusercontent.com/4493366/116926633-de354800-ac5a-11eb-883c-85ef76ccca57.png)
![Screen Shot 2021-05-03 at 21 59 08](https://user-images.githubusercontent.com/4493366/116926638-decdde80-ac5a-11eb-80cb-b50e5fe0de67.png)

[2021-05-03 20:03] lucaderi opened #5272 "Missing Alarms Breakdown"
In the new alerts implementation the previous breakdown is gone and thus it is hard to understand what is happening. it would be nice to have
- top attacker/victim breakdown
- alert type breakdown
- etc.

as otherwise it is hard to understand what is happening on a system

![Screen Shot 2021-05-03 at 22 01 21](https://user-images.githubusercontent.com/4493366/116926799-1f2d5c80-ac5b-11eb-966d-ba43

[2021-05-03 20:07] lucaderi opened #5273 "Alerts: Inactive buttons"
![Screen_Shot_2021-05-03_at_22_01_21](https://user-images.githubusercontent.com/4493366/116927246-b2ff2880-ac5b-11eb-9333-4ba36561e21b.png)

In the alerts view (with -f nindex), the flow icon is disabled, the magnifier lens is active but it executes no action.

[2021-05-03 20:10] lucaderi commented on #5270
Same bug here
![Screen Shot 2021-05-03 at 22 10 11](https://user-images.githubusercontent.com/4493366/116927761-60723c00-ac5c-11eb-9d37-5e851b9beb9b.png)

[2021-05-03 20:13] olg33 opened #5274 "VLAN Feature is gone after Upgrade"
Hi,

We've been working with ntopng Community Edition v.4.0.200609 and got used to the VLAN feature under Hosts, it was very useful in our network analysis.

![Capture](https://user-images.githubusercontent.com/61751672/116927904-520b2c80-ac2a-11eb-9705-ba45a8c1b533.JPG)

We recently upgraded to ntopng Community v.4.2.210427 but just noted that the VLAN section is gone. Is any reason why it's no l

[2021-05-04 00:31] colinlegendre commented on #5168
Unfortunately the issue still persists.  Just tested today.

On Wed., Apr. 21, 2021, 11:24 Colin Legendre, ***@***.***> wrote:

[2021-05-04 06:16] lucaderi opened #5275 "Zero ports displayed"
<img width="1123" alt="Screenshot 2021-05-04 at 08 14 29" src="https://user-images.githubusercontent.com/4493366/116966576-cee0e980-acb0-11eb-8778-8d75ef0d806c.png">

It is a major flaw to display ports for protocols other than UDP and TCP. As you as remind that it means that you are not formatting the data using ntopng functions but you have used yet another bugged function. This must be fixed

[2021-05-04 06:49] lucaderi opened #5276 "Alerts: Remove unnecessary icons"
<img width="1123" alt="Screenshot 2021-05-04 at 08 14 29" src="https://user-images.githubusercontent.com/4493366/116966757-30a15380-acb1-11eb-9ac9-d2b35a37462c.png">

In the above image, there are plenty of useless icons that must be removed. Leave the IP and port, everything else is not needed

[2021-05-04 06:53] lucaderi opened #5277 "Flow Alerts: Minimum viable implementation"
<img width="1118" alt="Screenshot 2021-05-04 at 08 50 29" src="https://user-images.githubusercontent.com/4493366/116969000-d48cfe00-acb5-11eb-9980-b1b7070a0dd6.png">
Flow alerts *must* report all the time the following fields
- time
- alert type
- client and server
- alert description

Everything else can be enabled/disable but not these information above listed

[2021-05-04 07:33] cardigliano opened #5278 "Flow Explorer Filter Input is broken (GUI)"
When adding multiple chips into the filter input, they are not properly rendered. This happens for instance when digging into a flow alert, by clicking on the "Historical Flow" button, which creates a filter with a few items.
Furthermore, the filter label does not match the column name.

<img width="1475" alt="Screen Shot 2021-05-04 at 09 28 47" src="https://user-images.githubusercontent.com/75487

[2021-05-04 07:36] cardigliano commented on #5273
The flow icon is a link to the active flow, it seems the flow is no longer active in this case (we should probably add a title or tooltip).
The magnifier should redirect to the Historical Flow Explorer, this link is working for me, could you inspect the element and provide the href?

[2021-05-04 07:42] gabryon99 commented on #5278
<img width="1904" alt="Screenshot 2021-05-04 at 09 41 27" src="https://user-images.githubusercontent.com/14114916/116973475-e8882e00-acbc-11eb-8bdc-819d6f22e252.png">
I think the best solution is to move the Filters Input Box below the range picker, like shown in the screenshot above.

[2021-05-04 07:55] cardigliano opened #5279 "Alerts: SNMP Device alerts table is broken"
<img width="1487" alt="Screen Shot 2021-05-04 at 09 54 19" src="https://user-images.githubusercontent.com/7548711/116974726-d3140380-acbe-11eb-8aec-11e2f8a35d59.png">

[2021-05-04 07:56] MatteoBiscosi commented on #5256
Removed badges because they waste a lot of space #5276

[2021-05-04 07:58] cardigliano opened #5280 "Alerts: missing description column in System alerts"
This page is missing the description column. The other columns should be resized (I guess this will be fixed adding the description)

<img width="1485" alt="Screen Shot 2021-05-04 at 09 57 21" src="https://user-images.githubusercontent.com/7548711/116974936-2423f780-acbf-11eb-97db-d5bf7ba073ef.png">

[2021-05-04 09:37] lucaderi opened #5281 "Alarm severity is now based on score value"
Severity and score are two different concepts that need to be unified. The severity will be based on the score value and thus the code and the GUI can be simplified

[2021-05-04 09:45] lucaderi opened #5282 "Alerts: Missing time in hover"
<img width="951" alt="Screenshot 2021-05-04 at 11 41 21" src="https://user-images.githubusercontent.com/4493366/116986151-b92ded00-accd-11eb-8ccd-c798661f9e64.png">

In case the time window is short, the hover window must also report the time

[2021-05-04 09:59] lucaderi opened #5283 "Alerts: Restore the wheel icon"
In the previous alerts implementation the wheel icon was present. In the current one is gone. Possible options
- Restore the icon button
- In the "bell" icon add the ability to disable the alert for all

[2021-05-04 10:05] MatteoBiscosi opened #5284 "Alerts: Range picker not editable"
It is not possible to modify the day of the "End" range picker into the alert page because the end epoch would be lesser then the begin epoch
![Screenshot from 2021-05-04 11-59-46](https://user-images.githubusercontent.com/49585191/116988389-96510800-acd0-11eb-8bad-dcc79b1cd45c.png)

[2021-05-04 10:39] simonemainardi commented on #5268
use the following endpoints to delete

[code]

- open a modal
- write timestamps and other filters in the modal
- ask for confirmation

[2021-05-05 09:11] simonemainardi opened #5285 "External alerts missing essential information"
A flow alert sent to an external recipient is now missing the 5-tuple information:

![image](https://user-images.githubusercontent.com/3397663/117119551-87328e80-ad92-11eb-89f8-294117dda6e9.png)

[2021-05-05 09:51] #5276 closed, assigned to MatteoBiscosi

[2021-05-05 10:05] simonemainardi commented on #5278
Verified. Working.

[2021-05-05 10:05] #5278 closed, assigned to gabryon99

[2021-05-05 11:08] simonemainardi commented on #5283
Implemented with the addition of an extra "All" entry under the disable alerts action button

![image](https://user-images.githubusercontent.com/3397663/117132351-092ab380-ada3-11eb-9dcf-72bdb5fdd437.png)

[2021-05-05 11:09] #5283 closed, assigned to simonemainardi

[2021-05-05 12:47] #5256 closed, assigned to MatteoBiscosi

[2021-05-05 12:48] #5275 closed, assigned to MatteoBiscosi

[2021-05-05 12:55] simonemainardi commented on #5268
delete doesn't work

![image](https://user-images.githubusercontent.com/3397663/117144100-d3d99200-adb1-11eb-8fbb-569037fee271.png)

clicking on the button opens a modal

![image](https://user-images.githubusercontent.com/3397663/117144138-dfc55400-adb1-11eb-8e6c-ac364af0fd2d.png)

but then I can see no POST in the requests and data is not always deleted. Sometimes it is deleted, some other times

[2021-05-05 12:58] simonemainardi commented on #5268
Moreover, once the page refreshes after a submit, the filters are broken:

![image](https://user-images.githubusercontent.com/3397663/117144607-68dc8b00-adb2-11eb-9dda-d41d5b12738e.png)

[2021-05-05 13:02] simonemainardi commented on #5281
Implemented in the referenced and subsequent commits.

[2021-05-05 13:02] #5281 closed, assigned to nobody

[2021-05-05 13:04] simonemainardi commented on #5274
@MatteoBiscosi please try and reproduce. To simulate VLANs you can use option `--simulate-vlans`

[2021-05-05 17:44] olg33 commented on #5274
Thanks. I just added the option provided and the VLAN feature is back. However it doesn't seem to be providing accurate information. For instance I can see VLAN IDs from 1 to 256 all with ath least one host, I don't have that many IDs configured in my network. I have IDs such as 300 and 800 but those are not being displayed. Also, if I look at the hosts on Vlan 1, I expect to see hosts in a single

[2021-05-05 21:48] simonemainardi commented on #5274
It's a debug flag and I've suggested @MatteoBiscosi to check it. It's not a flag to be used in production.

[2021-05-06 06:49] ListenNjoy opened #5286 "Error in Luaengine"
we get this errors after update

ntopng Enterprise M v.4.3.210506 () |

06/May/2021 08:47:17 [LuaEngineNtop.cpp:47] ERROR ntop_map_score_to_severity : expected number[@pos 1], got nil
06/May/2021 08:47:14 [LuaEngine.cpp:560] WARNING Script failure [/usr/share/ntopng/scripts/callbacks/system/notifications.lua][/usr/share/ntopng/scripts/lua/modules/alert_consts.lua:488: attempt to index a nil value

[2021-05-06 07:23] #5266 closed, assigned to nobody

[2021-05-06 07:25] simonemainardi commented on #5266
Fixed. Thanks for reporting. IPs in that range are now reported as private, indeed, they are meant for link-local communication. Note that "Local" in the ntopng parlance means addresses specified with `-m=""` and this is a bit different concept.

[2021-05-06 07:26] simonemainardi commented on #5266
also see referenced commit https://github.com/ntop/ntopng/commit/5fab173ba221fb885b304a80977e34e1238d73a3

[2021-05-06 07:27] gabryon99 commented on #5282
Add missing date as requested.

[2021-05-06 07:27] gabryon99 commented on #5208
Issue moved on ticket https://github.com/ntop/ntopng/issues/5282.

[2021-05-06 07:27] #5208 closed, assigned to gabryon99

[2021-05-06 08:34] lucaderi opened #5287 "Alert: Reorder columns"
As described in #5277 there are some columns that must appear all the time Now we define the order
- When
- Alert Type
- Subject (e.g. flow peers for flow alerts)
- all the rest

<img width="1109" alt="Screenshot 2021-05-06 at 10 30 13" src="https://user-images.githubusercontent.com/4493366/117267111-3ab08700-ae56-11eb-8142-f8bbeaa51548.png">

[2021-05-06 08:37] lucaderi opened #5288 "Flow Alerts: Merge client and server"
<img width="392" alt="Screenshot 2021-05-06 at 10 35 15" src="https://user-images.githubusercontent.com/4493366/117267680-d215da00-ae56-11eb-92b3-4f4cdf2a97fd.png">

In order to save space merge client and server in a new column (not sortable) named flow
- the filter HREF must be only for the searchable fields (now I see the underline under port that is nor searchable)
- the host icons are not ver

[2021-05-06 08:39] lucaderi opened #5289 "Alerts: Graph"
<img width="1220" alt="Screenshot 2021-05-06 at 10 37 31" src="https://user-images.githubusercontent.com/4493366/117267942-14d7b200-ae57-11eb-82fc-42b82152880f.png">

In case of no data, the alert bar is empty and this is not easy to read. Better to have a chart working this way
- for the reported time see what os the top value (eg. at 10AM you have 4 alerts in total)
- for the time slots where th

[2021-05-06 08:40] lucaderi opened #5290 "Flow Alerts: Rework L7 application"
<img width="254" alt="Screenshot 2021-05-06 at 10 39 45" src="https://user-images.githubusercontent.com/4493366/117268287-697b2d00-ae57-11eb-9331-517187f747a9.png">

In nDPI the protocol is defined as major.application. Here the major is missing

in order to save space use L4:major.application. Example: TCP:TLS.Google

[2021-05-06 08:44] lucaderi opened #5291 "Alerts: Add Alerts Report"
In the upper menu
<img width="964" alt="Screenshot 2021-05-06 at 10 41 30" src="https://user-images.githubusercontent.com/4493366/117268525-a3e4ca00-ae57-11eb-927f-7af7119d274f.png">
add as first item a new entry called "All" (or similar) that regardless of the alert family, shows what is happening on this system. This will be the new default tab

In order not to change the layout it is enough to

[2021-05-06 08:46] cardigliano commented on #5286
Fixed on 8d1edf226e1268c3cfef7273ebbd0ca67b307307, a new package will be available soon

[2021-05-06 08:46] #5286 closed, assigned to nobody

[2021-05-06 08:53] #5290 closed, assigned to nobody

[2021-05-06 09:00] lucaderi opened #5292 "Alerts: Rework filters"
The current filter implementation is complex and needs to be simplified. Proposal
- keep using the current approach that when you click on a HREF a new filter entry is added
<img width="190" alt="Screenshot 2021-05-06 at 10 46 50" src="https://user-images.githubusercontent.com/4493366/117269219-62a0ea00-ae58-11eb-9a75-a36ac01151c3.png">
- Add a + icon next to the filter bar for adding a custom fil

[2021-05-06 09:54] MatteoBiscosi commented on #5284
Verified as Fixed

[2021-05-06 09:54] #5284 closed, assigned to gabryon99, MatteoBiscosi

[2021-05-06 10:12] MatteoBiscosi commented on #5274
Hi @olg33 I'm sorry but I'm unable to reproduce your problem. Note that the VLANs feature is being displayed only if you have VLANs in your network. Could you please tell me if you find an host with a VLAN different from the 0 (without using the debug flag that simone suggested)?

[2021-05-06 13:53] #5280 closed, assigned to gabryon99, MatteoBiscosi

[2021-05-06 14:20] lucaderi opened #5293 "Invalid OS detection"
![Schermata 2021-05-06 alle 16 07 06](https://user-images.githubusercontent.com/4493366/117314336-f2f62380-ae86-11eb-8e98-96c459df52c8.png)

[2021-05-06 14:44] lucaderi commented on #5282
![Screen Shot 2021-05-06 at 16 44 10](https://user-images.githubusercontent.com/4493366/117318044-5cc3fc80-ae8a-11eb-81f7-bfc0da1d05f0.png)
Time is now present but it's wrong

[2021-05-06 14:53] gabryon99 commented on #5282
Hour fixed to 24H format.

[2021-05-06 15:02] #5288 closed, assigned to cardigliano

[2021-05-06 15:25] olg33 commented on #5274
Hello @MatteoBiscosi Let me provide you more details of the problem.
I have a virtual machine with ntopng connected to a switch port that is mirroring traffic from a trunk with the following VLANS:

`       vlan 1-3,6,7,17,21,36,46,56,66,76,86,96,106,116,126
        vlan add 127,137,140,146,160,301-303,333,408,421,446
        vlan add 546,660,706,716,736,801,833,921,946`

After starting ntopng wit

[2021-05-06 15:36] lucaderi commented on #5282
![Screen Shot 2021-05-06 at 17 35 42](https://user-images.githubusercontent.com/4493366/117325994-87fe1a00-ae91-11eb-8369-b32ebb4d8021.png)
Closer but not fixed. As you can see I do not expect to see a time < 17:20:00 in the hover for 17:20:00

[2021-05-06 16:42] simonemainardi commented on #5274
This parameter is DEBUG-ONLY, it FAKES VLANs for the purpose of testing. So it is normal that

[2021-05-06 16:43] simonemainardi commented on #5274
It seems you have disaggregation enabled.  Please, report that configuration.

[2021-05-06 20:09] olg33 commented on #5274
The only parameters that aren't commented on /etc/ntopng.conf file are :

`-G=/var/run/ntopng.pid`
`--community`
`--simulate-vlans`
`  -i=ens192`
` -w=3000`

The rest are disabled.

In that case, can we say that the VLAN feature is no longer supported for production networks on version 4.2.2?

VLAN simulations don't help on our day-to-day operations.

[2021-05-07 06:37] simonemainardi commented on #5274
Sure. I didn't ask you to use VLAN simulation and I don't know why you wanted to use it. I just asked @MatteoBiscosi to use that option to try and reproduce. @MatteoBiscosi do you have any news?

[2021-05-07 06:39] simonemainardi commented on #5274
You did not report on this. You need to visit the interface page -> tab with a branch icon, and check for disaggregation. Report. I can see from

![image](https://user-images.githubusercontent.com/3397663/117408046-ac98d700-af0f-11eb-952f-4ed145060f3f.png)

That you have disaggregation enabled.

[2021-05-07 07:18] simonemainardi commented on #5168
@MatteoBiscosi please check. Note that version is 4.2.

[2021-05-07 07:20] simonemainardi commented on #4057
please explain your use case. What is the type of interfaces that come up and down?

[2021-05-07 08:28] Rico29 opened #5294 "traffic report : VLAN problem"
Hello
on report.lua page, I only see stuff about one of my vlans. I have no information about other vlans traffic.

I have vlans 50->53 defined
![Sélection_159](https://user-images.githubusercontent.com/12935571/117421222-9f371900-af1e-11eb-8457-9cd2cdd10c42.png)

got flows /hosts for these vlans :
![Sélection_158](https://user-images.githubusercontent.com/12935571/117421312-b8d86080-af1e-11eb-857

[2021-05-07 08:43] mailinglists35 commented on #4057
ethernet, tun and ppp

use case: home gateway with one internet-facing interface (pppoe over ethernet) and multiple openvpn tunnels and ephemeral ethernet over usb devices (plugging in/out ethernet usb dongles)

[2021-05-07 09:07] lucaderi opened #5295 "Alert SQL Error"
07/May/2021 10:52:04 [AlertStore.cpp:131] ERROR: SQL Error: CHECK constraint failed: interface_alerts
INSERT INTO interface_alerts (alert_id, tstamp, tstamp_end, severity, score, ifid, name, alias, granularity, json) VALUES (4128, 1620377504, 1620377523, 5, 100, -1, '', '', 60, '{"ps_name":"stats_update.lua","alert_generation":{"subdir":"system","script_key":"slow_periodic_activity"},"max_duration

[2021-05-07 09:17] ListenNjoy opened #5296 "Strange vlans i Top L7 Contacts"
Hello

In interface -> graph -> and choosing top L7 contacts there is no client and server data.

And it show a lot of strange VLAN under VLAN tab.

Under Top Client / Top Servers it show the vlans and no hostname

Ntopng Version: ntopng Enterprise M v.4.3.210507 ()

Best Regards

Martin

[2021-05-07 09:25] MatteoBiscosi commented on #5294
Hi @Rico29 could you please report the screeshot of the data?
You have to right click on the page, click 'Inspect', go into the 'Network' tab and please report the data contained inside the 'get_from_top_talkers_db' preview tab (like the screenshot below).
![Screenshot from 2021-05-07 11-24-12](https://user-images.githubusercontent.com/49585191/117428929-d01b4c00-af26-11eb-95c5-8b2171f8c248.png)
I

[2021-05-07 09:34] MatteoBiscosi commented on #5168
Hi @colinlegendre I'm sorry to hear that the problem isn't solved. Could you please report your current ntopng version?

[2021-05-07 09:34] Rico29 commented on #5294
Hello

Here it is. only vlan 52 :

![Sélection_160](https://user-images.githubusercontent.com/12935571/117430290-466c7e00-af28-11eb-929d-a28c6570c5ac.png)

Regards

Le ven. 7 mai 2021 à 11:25, Matteo Biscosi ***@***.***> a
écrit :

[2021-05-07 09:36] Rico29 commented on #5294
URL is : http://smokeping.adm.celya.fr:3000/lua/pro/get_from_top_talkers_db.lua?ifid=9&epoch=1620380100&num_minutes=60

[2021-05-07 12:22] simonemainardi commented on #5296
please attach screenshots and the configuration file

[2021-05-07 12:30] ListenNjoy commented on #5296
![NtopngL7](https://user-images.githubusercontent.com/43986547/117449453-4aa49580-af40-11eb-9609-0ae2adf209fe.jpg)

This is what is change from original ntopng.conf

--local-networks="List of local Network"
 -i=eno1,eno2
 -n=1
 -p=/etc/ntopng/protos.txt
-F nindex

[2021-05-07 12:33] ListenNjoy commented on #5296
![NtopngTopClients](https://user-images.githubusercontent.com/43986547/117450109-1d0c1c00-af41-11eb-8418-bcc3e9aff060.jpg)

[2021-05-07 15:41] olg33 commented on #5274
Ah ok, got it. Here you are:

![Capture](https://user-images.githubusercontent.com/61751672/117474584-0f4a9c80-af29-11eb-8a00-5ee9b6cde119.JPG)

[2021-05-07 15:50] olg33 commented on #5274
I just went ahead and enabled it:
![Capture](https://user-images.githubusercontent.com/61751672/117475649-4ec5b880-af2a-11eb-8594-4182df15536c.JPG)

But after that nothing happened. Unless I'm missing something.

[2021-05-07 16:43] simonemainardi commented on #5294
Thanks for reporting. Issue is fixed and will be distributed in the next dev build available tomorrow. Don't forget to let ntopng run for a while as new stats need to be generated.

[2021-05-07 16:43] #5294 closed, assigned to nobody

[2021-05-08 06:42] kfra71 opened #5297 "Update error on CentOS come back again"
We are still facing yum update error while updating on CentOS Linux release 7.9.2009 (Core):

Resolving Dependencies
--> Running transaction check
---> Package cento.x86_64 0:1.13.210506-667 will be updated
---> Package cento.x86_64 0:1.13.210507-668 will be an update
---> Package n2disk.x86_64 0:3.7.210506-5311 will be updated
---> Package n2disk.x86_64 0:3.7.210507-5311 will be an update
---> Pa

[2021-05-09 13:26] lucaderi opened #5298 "Alerts: Missing invalid domain name"
![Screen Shot 2021-05-09 at 15 25 27](https://user-images.githubusercontent.com/4493366/117573905-db16dd80-b0da-11eb-90a8-0d267d29f57c.png)

[2021-05-09 13:30] lucaderi opened #5299 "Alerts: Missing Certificate Name"
![Screen Shot 2021-05-09 at 15 29 12](https://user-images.githubusercontent.com/4493366/117574004-61332400-b0db-11eb-82a6-8eaab435a5b3.png)

[2021-05-09 13:44] lucaderi opened #5300 "Missing schema"
09/May/2021 15:43:20 [if_stats.lua:1404] [ts_utils_core.lua:609] ERROR: Schema not found: iface:score

This error is generate when clicking on the left sidebar on "Interface" and then on the chart icon

[2021-05-09 13:47] lucaderi opened #5301 "Invalid host alerts link"
![Screen Shot 2021-05-09 at 15 45 40](https://user-images.githubusercontent.com/4493366/117574499-a0fb0b00-b0dd-11eb-9572-49da1e6f9999.png)

When inside a host the alert triangle is clicked, the HTML anchor sends to the historical instead of going to the engaged host flow alerts.

[2021-05-09 14:11] daymickcorr commented on #3764
Influx seems to stop wanting collecting metrics directly from the server, graphite an opentsdb were dropped from influxdb 2.0 and are now in telegraf, on the long run it would be better for ntopng to write to one of the input plugins for telegraf.

now the way it works let's say you have netdata which can output in graphite or prometheus
prometheus will be sent to /metrics
graphite will be sent on

[2021-05-10 06:28] lucaderi opened #5302 "Alerts: Missing Victim and Attacker Columns"
The alert subsystem stores in the DB the IP address of the victims and attackers. They MUST be reported in the user interface in both the flow and the host pages. If unknown these two columns must be left empty

[2021-05-10 06:29] lucaderi opened #5303 "Alerts documentation is out of sync"
The alert documentation has not been updated wince the Lua to C++ migration

[2021-05-10 07:25] #5299 closed, assigned to simonemainardi

[2021-05-10 07:33] cardigliano commented on #5297
In order to fix this once and for all we need to make the pfring version change on ndpi version change (or add the date to the version), as the installed pfring version depends on an older ndpi version. As workaround a pfring updated should be forced (removing and reinstalling it).

[2021-05-10 07:51] #5301 closed, assigned to cardigliano

[2021-05-10 07:54] MatteoBiscosi commented on #5279
Verified as Fixed

[2021-05-10 07:54] #5279 closed, assigned to MatteoBiscosi

[2021-05-10 07:54] #5298 closed, assigned to simonemainardi

[2021-05-10 07:57] #5265 closed, assigned to MatteoBiscosi

[2021-05-10 07:59] #5270 closed, assigned to MatteoBiscosi

[2021-05-10 08:00] simonemainardi commented on #5289
Barchart has been replaced with a staked area chart

[2021-05-10 08:00] #5289 closed, assigned to gabryon99

[2021-05-10 08:02] simonemainardi commented on #5274
@MatteoBiscosi please give a feedback on this.

[2021-05-10 08:03] simonemainardi commented on #5231
All the items in the bullet list have been addressed. We now have to better manage the layout and space used but there are separate issues for this.

[2021-05-10 08:03] #5231 closed, assigned to simonemainardi, gabryon99

[2021-05-10 08:06] #5242 closed, assigned to gabryon99

[2021-05-10 08:12] simonemainardi commented on #5239
Implemented

![image](https://user-images.githubusercontent.com/3397663/117627214-3814a100-b178-11eb-9106-a98d189b082c.png)

[2021-05-10 08:12] #5239 closed, assigned to simonemainardi, gabryon99

[2021-05-10 08:19] cardigliano commented on #5277
Columns have been reworked after this, moving the severity, the alert type in the description, merging client/server in a single Flow column

[2021-05-10 08:19] #5277 closed, assigned to simonemainardi, cardigliano

[2021-05-10 08:29] simonemainardi commented on #5268
Layout is awkward. Dates and times can be clicked and change values of the underlying page.

![image](https://user-images.githubusercontent.com/3397663/117628211-30093100-b179-11eb-8199-908b075ddc7d.png)

[2021-05-10 08:40] simonemainardi commented on #5302
Just by looking at the code, it is very likely that this implementation hasn't been tested. Simply look at the data types. Please, test and resubmit.

[2021-05-10 08:41] MatteoBiscosi commented on #5274
Hi @olg33 how many disaggregated interfaces do you have?

[2021-05-10 08:47] simonemainardi commented on #5274
Also attach a pcap capture of ens192. You can send it privately to biscosi at ntop dot org

Note that initially you were attaching a screenshot on a `br0` interface, then on `ens192` so you should make sure to be running tests on the same conditions.

[2021-05-10 08:51] simonemainardi opened #5304 "Local Network Alerts seem to flap every 2 minutes"
![image](https://user-images.githubusercontent.com/3397663/117632687-a3ad3d00-b17d-11eb-8f6a-b506a4835ac2.png)

[2021-05-10 08:58] #5285 closed, assigned to cardigliano

[2021-05-10 09:23] MatteoBiscosi commented on #5302
Unified attacker and victim columns into host alerts as requested but maintained them separated into flow alerts due to readability issues

[2021-05-10 09:28] cardigliano commented on #5273
Inactive buttons are no longer present, active buttons have been moved to the flow columns

[2021-05-10 09:28] #5273 closed, assigned to simonemainardi, cardigliano, gabryon99

[2021-05-10 09:35] cardigliano commented on #5271
This layout has been reworked, however this should be further improved imho adding at least some padding and the same alignment on the left side when wrapping.

<img width="728" alt="Screen Shot 2021-05-10 at 11 33 31" src="https://user-images.githubusercontent.com/7548711/117638868-96934c80-b183-11eb-9985-036cde4c81b1.png">

[2021-05-10 09:47] TimotheusBachinger commented on #5269
Hi @lucaderi ,

thanks for the heads-up.

My first thoughts:

- We would need to continue to support the integration with v4.2. Therefore we would need to be able to query the ntop REST API version and then decide on checkmk side which endpoints/REST API (v1 or v2) to be used. Would this be possible (or maybe already is possible)?
- I did not had a deeper look into the data format of the new endpo

[2021-05-10 11:42] MatteoBiscosi commented on #5296
Hi @ListenNjoy the issue now is fixed, thanks for you report, builds are in progress wait for a few hours and update, everything should be alright now. Note that soon these page is going to be removed and put into the page 'Dashboard->Historical Flow Explorer'. Reopen the ticket if you seem to find something strange inside the current page.

[2021-05-10 11:42] #5296 closed, assigned to MatteoBiscosi

[2021-05-10 12:30] #5268 closed, assigned to gabryon99

[2021-05-10 12:30] ListenNjoy commented on #5296
Thanks

[2021-05-10 13:09] #5295 closed, assigned to cardigliano

[2021-05-10 13:19] #5304 closed, assigned to simonemainardi

[2021-05-10 13:21] vollkommenheit commented on #4837
Thanks. I end up starting redis-server manually by executing "sudo /usr/local/bin/ntopng-redis-server", even though /Library/LaunchDaemons/io.redis.redis-server.plist is supposedly already loaded by launchd but apparently didn't kick off redis-server for some reason.

The one remaining question is: I have ntopng seemingly up and running, according to a look-see at http://my-ip:3030 , but should I

[2021-05-10 13:23] cardigliano commented on #4837
@vollkommenheit please try using the "ntopng" command to run the application and let us know

[2021-05-10 13:37] cardigliano commented on #5230
The page layout has been reworked, a new chart is used now

[2021-05-10 13:37] #5230 closed, assigned to gabryon99

[2021-05-10 13:48] cardigliano commented on #5168
@colinlegendre please provide the output of "ntopng -V" to make sure we are using the same version

[2021-05-10 14:10] cardigliano commented on #5263
I confirm the alert description now reports the client/server info for this alert
<img width="561" alt="Screen Shot 2021-05-10 at 16 06 43" src="https://user-images.githubusercontent.com/7548711/117672495-2fd55980-b1aa-11eb-95a4-78b94c0f4d15.png">

[2021-05-10 14:10] #5263 closed, assigned to MatteoBiscosi

[2021-05-10 14:16] cardigliano commented on #5105
I assume this is no longer reproducible , please reopen in case

[2021-05-10 14:16] #5105 closed, assigned to cardigliano

[2021-05-10 14:25] cardigliano commented on #5148
It seems this has been addressed. Closing.

[2021-05-10 14:25] #5148 closed, assigned to cardigliano, MatteoBiscosi

[2021-05-10 14:36] olg33 commented on #5274
Only one: ens192

Already sent. Please let me know if not received yet.

The snapshot with br0 is just a demonstration of how the VLAN feature worked when on Rel.4.0.2, that's a different VM. All the VMs upgraded to 4.2.2 and under test have interface ens192. br0 is no longer used on 4.2.2.

[2021-05-10 15:10] vollkommenheit commented on #4837
I have "ntopng" in one terminal, and "sudo /usr/local/bin/ntopng-redis-server" in another, both as foreground process. Things look fine at http://[my-ip]:3030 (though http://127.0.0.1:3030 says it's shut down). I'm just concerned about ntopng-bin seemingly trying to reference /usr/local/opt/rrdtool/lib/librrd.8.dylib when it's at /usr/local/opt/ntopng/librrd.8.dylib, which might mean some graphing

[2021-05-10 15:20] cardigliano commented on #4837
@vollkommenheit the ntopng script takes care of fixing linking by setting DYLD_LIBRARY_PATH, if everything is working you can just ignore the ntopng-bin output.

[2021-05-10 15:20] #4837 closed, assigned to cardigliano

[2021-05-10 15:26] MatteoBiscosi commented on #5274
Hi @olg33  Thanks for the pcap. The problem is that you only have one VLAN (the 0) so the VLAN option won't appear, it's going to appear when you have more than one VLAN.
This is the reason why you don't see that option.
In fact when you use the DEBUG simbol '--simulate-vlans' that feature is going to show up.
An other thing that shows the fact that you only have one VLAN is the number of interfac

[2021-05-10 15:34] cardigliano commented on #5246
An "All" landing page has been implemented. This is also looks like a duplicate of https://github.com/ntop/ntopng/issues/5291

[2021-05-10 15:34] #5246 closed, assigned to nobody

[2021-05-10 15:35] sercopi135 opened #5305 "nTop (4.2-stable) installed on a VM and nProbe (9.2-stable) installed on a different VM"
Hi all,

I writing you to try to solve a problem related to not receiving traffic on nTop, sended by a nProbe in production with the option
--collector-port.

nTop and nProbe are installed on two different Virtual Machines.

With tcpdump on nProbe, I can receive netflow sended by a switch.

From the nProbe I can telnet the tcp/5556 port, related to nTop where it listen, but if I open the nTop WEB

[2021-05-10 16:01] #5271 closed, assigned to gabryon99

[2021-05-10 16:01] olg33 commented on #5274
Thanks @MatteoBiscosi

That makes sense, however I do have VLANs in this network. As previously mentioned, interface ens192 is connected to an interface that mirrors traffic (We have enabled the Mirrored Traffic option on Interface -> Gear Icon --> Mirrored Traffic) coming from a switch trunk that has enabled the following VLANs:

` switchport trunk allowed vlan 1-3,6,7,17,21,36,46,56,66,76,86,96,

[2021-05-10 16:04] olg33 commented on #5274
Also, packet captures in pcap all have a VLAN id assigned (I know them) but can't understand why they aren't being recognized by the capture.

[2021-05-10 16:27] lucaderi commented on #5302
Columns are not sortable, please implement it

[2021-05-10 16:46] simonemainardi commented on #5274
There is no 802.1q VLAN-tagged packet inside the pcap you've provided

![image](https://user-images.githubusercontent.com/3397663/117694843-e5f76e00-b1bf-11eb-93ec-597f2ec4e461.png)

So it is completely normal not to see VLANs. Likely, your mirror is just mirroring packets without their VLAN-tags. Definitely nothing on the ntopng side which works normally. Check your mirror configuration and make

[2021-05-10 16:46] #5274 closed, assigned to MatteoBiscosi

[2021-05-10 16:46] cardigliano commented on #5297
@kfra71 this has been addressed, it should no longer happen, please update

[2021-05-10 16:46] #5297 closed, assigned to cardigliano

[2021-05-10 17:14] lucaderi opened #5306 "Alert badges not supporting multitenancy"
Multitenancy support is partially broken with alarm badges. As you can see in the picture below, there are some alerts reported that instead should be hidden to the selected user.

![Screen Shot 2021-05-10 at 19 12 46](https://user-images.githubusercontent.com/4493366/117698232-c95d3500-b1c3-11eb-85b8-0a5800e1fb63.png)

This is a regression of #3210

[2021-05-10 17:15] lucaderi opened #5307 "Non privileged users should not be able to delete alerts"
Unprivileged users should not be able to delete alerts nor the delete alert button should be shown on the web interface

[2021-05-10 17:17] lucaderi opened #5308 "Historical Flow Explorer Broken for Non Privileged Users"
Unprivileged users can access the historical flow explorer window that unfortuanately is broken/empty.

![Screen Shot 2021-05-10 at 19 17 00](https://user-images.githubusercontent.com/4493366/117698742-51433f00-b1c4-11eb-88da-253a4bb22b97.png)

[2021-05-10 17:21] lucaderi opened #5309 "Alert report does not support multi tenancy"
![Screen Shot 2021-05-10 at 19 18 38](https://user-images.githubusercontent.com/4493366/117698951-8fd8f980-b1c4-11eb-8fee-4155c8b6d2b6.png)

A user who is restricted to selected hosts (in the user preferences page) is able to see alerts he's not supposed to see.

This is a regression of #3210. I believe the REST API is also bugged.

[2021-05-10 17:27] lucaderi opened #5310 "Attacker/Victims are not Working as Expected"
Attacker and victims fields don't seem to be populated properly. As you can see in the picture below they are all empty. See for instance

![image](https://user-images.githubusercontent.com/4493366/117699684-6a002480-b1c5-11eb-9864-1eb6ca88c3f7.png)

and compare it with

![Screen Shot 2021-05-10 at 19 26 42](https://user-images.githubusercontent.com/4493366/117699953-b6e3fb00-b1c5-11eb-99f7-87ed98

[2021-05-10 17:45] lucaderi opened #5311 "Labels are not consistent (Network vs Local Networks)"
![Screen Shot 2021-05-10 at 19 44 09](https://user-images.githubusercontent.com/4493366/117701966-2b1f9e00-b1c8-11eb-93a6-b81061effda9.png)
![Screen Shot 2021-05-10 at 19 44 02](https://user-images.githubusercontent.com/4493366/117701969-2c50cb00-b1c8-11eb-958d-f55dc32ac8a8.png)

[2021-05-10 17:46] lucaderi opened #5312 "Interface alerts have no type and they are all mixed"
![Screen Shot 2021-05-10 at 19 43 24](https://user-images.githubusercontent.com/4493366/117702041-48546c80-b1c8-11eb-9f3c-bf0bf5bdee0c.png)

[2021-05-10 17:47] lucaderi commented on #5237
Bars are gone this ticket can be closed

[2021-05-10 17:47] #5237 closed, assigned to gabryon99

[2021-05-10 19:17] lucaderi opened #5313 "Host icons should not wrap in alerts"
![Screen Shot 2021-05-10 at 21 16 06](https://user-images.githubusercontent.com/4493366/117712782-0da50100-b1d5-11eb-8a05-f8e3f71de017.png)

[2021-05-11 07:11] lucaderi opened #5314 "Inability to filter/sort alerts using alert type"
![Screen Shot 2021-05-11 at 09 08 18](https://user-images.githubusercontent.com/4493366/117773415-90ab7300-b238-11eb-8fd8-8e072cbab001.png)

It is missing the ability to filter/sort alerts based on their type, contrary to other fields

[2021-05-11 07:39] lucaderi opened #5315 "Alert score value is not homogeneous across alerts"
The alert score value is not homogeneous across alerts. In the example below a protocol running on a non-standard port has a score of 300 that is way too high for this type of problems

![Screen Shot 2021-05-11 at 09 08 18](https://user-images.githubusercontent.com/4493366/117773657-de27e000-b238-11eb-9783-d1a43a6cfd86.png)

it is requested to rework the alert score implementation and make it more

[2021-05-11 08:11] lucaderi opened #5316 "Alerts do not report the exact problem detected"
Alert description is way to short and it does not explains many things. Example see this alert
![Screen Shot 2021-05-11 at 09 50 04](https://user-images.githubusercontent.com/4493366/117780923-61006900-b240-11eb-8320-14dfaf3ae092.png)

this is not an alert just about a suspicious file transfer as it also has various other problems to report as shown in the flow breakdown.

![Screen Shot 2021-05-11

[2021-05-11 08:28] simonemainardi commented on #5314
Duplicate of https://github.com/ntop/ntopng/issues/5206

[2021-05-11 08:28] #5314 closed, assigned to nobody

[2021-05-11 08:29] lucaderi opened #5317 "Missing score report for AS, Country, VLAN, Network"
Currently, the score concept is implemented for all ntopng elements such as flow, host, AS....

Unfortunately for most of them, the score is not reported as you can see from the picture below

![Screen Shot 2021-05-11 at 10 25 36](https://user-images.githubusercontent.com/4493366/117783914-48de1900-b243-11eb-847f-8f748bf73cc5.png)

This ticket is to request to
- report the score on a sortable colu

[2021-05-11 09:00] ListenNjoy commented on #5316
Is it possible to allow ex. windowsupdate domain name to allow sending suspicious traffic, i can only set IP-Address in actions and Windows update uses a lot of different IP-adresses   .

[2021-05-11 09:44] astalush opened #5318 "InfluxDB monitor (or RRD )"
Hy. I cannot seem to find the page where you can see the size of the influxDB database or RRD database. It seems that the script for influxdb monitor is active but it doesn't work. The influxdb is configured and it works but cannot see size. Thanks.

ntopng Enterprise L v.4.3.210511

![image](https://user-images.githubusercontent.com/8401863/117795149-30bfc700-b24e-11eb-8197-50f2e215eace.png)

[2021-05-11 09:52] #5213 closed, assigned to simonemainardi

[2021-05-11 12:41] #5312 closed, assigned to nobody

[2021-05-11 14:29] #5313 closed, assigned to nobody

[2021-05-11 14:40] ListenNjoy commented on #5318
Same here
ntopng Enterprise M v.4.3.210511

[2021-05-11 14:45] ListenNjoy opened #5319 "Sort alert by desription / Type"
I miss sorting out alert by choosing to click type and ex. threshold cross to view only those alerts.

Ntopn version: ntopng Enterprise M v.4.3.210511

Picture of old version
![NtopngAlertType](https://user-images.githubusercontent.com/43986547/117835894-85783780-b278-11eb-92ae-c4cd7c198886.jpg)

[2021-05-11 17:14] simonemainardi commented on #5319
duplicate of https://github.com/ntop/ntopng/issues/5206

[2021-05-11 17:14] #5319 closed, assigned to nobody

[2021-05-11 17:16] simonemainardi commented on #5307
This is broken. Delete has disappeared also for admins

![image](https://user-images.githubusercontent.com/3397663/117857700-57e9b900-b28d-11eb-835e-59a12973ee4d.png)

[2021-05-11 17:18] simonemainardi opened #5320 "Inconsistent dropdown for number of records"
Initially, there was a 10. Now, after changing the number of records from another page, this is how it looks like

![image](https://user-images.githubusercontent.com/3397663/117857925-9bdcbe00-b28d-11eb-97dc-2d44771b00da.png)

[2021-05-11 17:22] simonemainardi commented on #5305
visit the ntopng stats page, and check for received ZMQ messages. Do you see them increasing?

[2021-05-11 19:53] KFDCompiled opened #5321 "Use alert endpoint validation for email fields part two"
Similar to #3910 , email validation fails if there is a numeral in the domain name:

![recipient](https://user-images.githubusercontent.com/13281971/117876156-43db9280-b260-11eb-9f83-ffe31549a320.png)
![endpoint](https://user-images.githubusercontent.com/13281971/117876165-45a55600-b260-11eb-9977-159bb5f8596c.PNG)

[2021-05-11 20:32] lucaderi commented on #5307
Verified as fixed

[2021-05-11 20:32] #5307 closed, assigned to MatteoBiscosi

[2021-05-11 20:33] lucaderi commented on #5308
Verified as fixed

[2021-05-11 20:33] #5308 closed, assigned to MatteoBiscosi

[2021-05-11 20:35] lucaderi opened #5322 "Allowed Networks not Honoured in Historical Flow Explorer"
Despite the "Allowed Networks" value, unprivileged users can view all historical flows. This needs to be fixed.

[2021-05-11 21:10] lucaderi commented on #5310
Said that it is necessary to have some automatic regression tests, the implementation seems to have problems. You can check with the enclosed file. Fruthermore column names take too much space.
[Petya_Failed_SMB_Auth_ETERNALBLUE_attempt.pcap.gz](https://github.com/ntop/ntopng/files/6462034/Petya_Failed_SMB_Auth_ETERNALBLUE_attempt.pcap.gz)

[2021-05-11 22:59] OzSpots-Wireless opened #5323 "How to display host Sites?"
![image](https://user-images.githubusercontent.com/5474756/117894430-a637a000-b2ff-11eb-8748-a5b2869f9670.png)

Sites is missing on 4.3 (running on pfsense KVM virtio interface )

If I click on the JSON, it does show sites visited.

[2021-05-12 02:38] OzSpots-Wireless commented on #5323
I just installed another with the 10minute full version and it shows Sites. When I add the --community flag, sites is no longer visable...

[2021-05-12 06:46] simonemainardi commented on #5323
sites is a pro-only feature

[2021-05-12 06:46] #5323 closed, assigned to nobody

[2021-05-12 06:53] OzSpots-Wireless commented on #5323
thanks, I figured that but can't find it stated anywhere

and the version comparison states this is included:
`Visualize the top HTTP sites contacted by an host
`
Which we can't do with only the Top hosts page.

[2021-05-12 06:56] simonemainardi commented on #5323
HTTP is available in community, too. It's a different feature.

[2021-05-12 07:07] simonemainardi opened #5324 "Implement multi-tenancy for alerts"
ntopng supports user-capabilities a la linux, see `auth.lua`

Basically, each non-admin user has a bitmap of do-s and dont-s.

Currently, the bitmap is an all do-s with all 1s. However, the code already supports it, e.g.,:

[code]

I would add an 'alerts' capability for-admin users, conditionally allowing them to browse alerts. This approach is simple and easier to maintain if compared to other ap

[2021-05-12 07:37] #5260 closed, assigned to MatteoBiscosi

[2021-05-12 07:38] MatteoBiscosi commented on #5253
The issue is fixed, please reopen the ticket if needed

[2021-05-12 07:38] #5253 closed, assigned to simonemainardi, gabryon99, MatteoBiscosi

[2021-05-12 08:08] #5311 closed, assigned to nobody

[2021-05-12 08:52] #5320 closed, assigned to nobody

[2021-05-12 09:27] MatteoBiscosi commented on #5321
Hi @KFDCompiled could you please report your ntopng version?

[2021-05-12 10:25] cardigliano commented on #5206
By clicking on the alert name (part of the description) it is possible to filter by alert type now

[2021-05-12 11:03] MatteoBiscosi commented on #5318
Hi @astalush , thanks for the report, now it's working correctly.
![Screenshot from 2021-05-12 12-59-52](https://user-images.githubusercontent.com/49585191/117964676-2c64de00-b322-11eb-8d58-8fcd172873c6.png)
Now you should be able to see Redis and InfluxDB monitor into the Health submenù (previously they weren't working correctly); new builds are in progress, wait for a few hours, upgrade and the

[2021-05-12 11:03] #5318 closed, assigned to MatteoBiscosi

[2021-05-12 11:05] #5315 closed, assigned to nobody

[2021-05-12 12:01] astalush commented on #5318
Version ntopng-data-4.3.210512-13521
Still now showing :
![image](https://user-images.githubusercontent.com/8401863/117971727-89649200-b32a-11eb-8a25-2a1b9d0b1eeb.png)

But I've edited myself the two menu.lua from here : https://github.com/ntop/ntopng/commit/323ab56282a8cf6e7040d753dc785a1032e0e2bb and it works.

Thanks!

[2021-05-12 13:25] cardigliano commented on #5140
Disabled hosts are now in the user script exclusion list

[2021-05-12 13:25] #5140 closed, assigned to nobody

[2021-05-12 15:18] #5300 closed, assigned to simonemainardi

[2021-05-12 16:15] mg00772233 opened #5325 "ntopng flow export to elasticsearch"
Hi, We are trying to get historical flows into elasticsearch/kibana but we're getting Post request failed errors on ntopng. It works intially, then starts to fail as the traffic increases. No CPU/Mem issues on elasticsearch server or ntopng server.

Config below:
--dump-flows=es;ntopng;ntopng-%Y.%m.%d;http://158.143.237.133:9200/_bulk;

Log messages:
May 12 15:49:53 net-trafficmonitor-prod-0 ntopn

[2021-05-13 07:36] lucaderi opened #5326 "Extract flows that contribute to an alert"
When an alert is triggered, it is important to identify the flows that contributed to it (if it is an alert triggered using flows). For instance, if there is a port scan, it would be nice when the port scan alert is detected to see what flows contributed to reporting this as a port scan.

[2021-05-13 13:52] simonemainardi commented on #5316
Implemented. Now all alerts carry not only the predominant alert, but all the issues detected for the flow. All those issues are shown in a spillover column

![image](https://user-images.githubusercontent.com/3397663/118135352-3579ac00-b403-11eb-9203-4f927c63b52f.png)

[2021-05-13 13:52] #5316 closed, assigned to simonemainardi

[2021-05-14 03:07] KFDCompiled commented on #5321
4.2.d20210309

[2021-05-14 07:00] tomkolp opened #5327 "HTTP/1.1 302 Found Server: ntopng 4.3.210514"
![image](https://user-images.githubusercontent.com/39633242/118233851-cea3d380-b492-11eb-94a4-66f80fd2e858.png)

[2021-05-14 07:22] lucaderi commented on #5321
This ticket is already fixed on the stable branch. Please update and reopen the ticket if necessary

[2021-05-14 07:22] #5321 closed, assigned to MatteoBiscosi

[2021-05-14 09:17] lucaderi commented on #5327
What platform/distribution are you using?

[2021-05-14 12:08] tomkolp commented on #5327
Opnsense

[2021-05-14 14:45] simonemainardi commented on #5291
implemented

[2021-05-14 14:45] #5291 closed, assigned to simonemainardi

[2021-05-14 14:54] olg33 opened #5328 "Adding a title in the main dashboard"
This is just a question.

When opening ntopng main page, we are presented with the dashboard and a graph with the Top Flow Talkers. I'd like to know if there is a way to add a title with the name of the location or the node being monitored. It could be useful for technical reports or to avoid confusion when several locations are opened in the same monitor.

Thank you.

[2021-05-14 16:16] lucaderi opened #5329 "Alert Colors are Too Close"
![Screen Shot 2021-05-14 at 18 14 27](https://user-images.githubusercontent.com/4493366/118298889-5ebc3a00-b4e0-11eb-932f-0e6b59a0f78b.png)

[2021-05-14 17:02] simonemainardi commented on #5324
@cardigliano @lucaderi please review the following possible solutions

![image](https://user-images.githubusercontent.com/3397663/118304350-dbeaad80-b4e6-11eb-85b4-444bd213813a.png)

[2021-05-14 17:03] simonemainardi commented on #5328
Can you please articulate more and add screenshots? Why do the interface name isn't enough?

[2021-05-14 17:43] olg33 commented on #5328
Sure,
The main dashboard normally looks like this:

![Capture2](https://user-images.githubusercontent.com/61751672/118307406-a5963980-b4b8-11eb-8ff0-686687eeb687.JPG)

We have a Network Operations Center (NOC) where charts from different sites are displayed in several monitors. If those charts don't have a title or description it's hard to tell for an operator where is the chart for a specific nod

[2021-05-14 19:48] lucaderi opened #5330 "Unify Button Style"
With the new alert implementation, a new "white" button style has been introduced.

![Screen Shot 2021-05-14 at 21 46 36](https://user-images.githubusercontent.com/4493366/118321460-e8c6cb80-b4fd-11eb-890a-f96315d56a7a.png)

This ticket is to request to unify the style of all the other buttons similar to the one above

![Screen Shot 2021-05-14 at 21 46 25](https://user-images.githubusercontent.com

[2021-05-14 19:52] lucaderi commented on #5317
Verified as fixed

[2021-05-14 19:52] #5317 closed, assigned to simonemainardi, MatteoBiscosi

[2021-05-15 07:36] lucaderi opened #5331 "Flow alert score is cryptic"
![Screen Shot 2021-05-15 at 09 33 13](https://user-images.githubusercontent.com/4493366/118352241-a4b8e280-b560-11eb-8ac4-bcead5908202.png)

As shown in the example below, the alert score is the sum of the individual issues but this is not clear from the GUI. It is requested to show the value of the individual issues so that it is clear how the total score is calculated

[2021-05-15 09:33] Iamyourbaba opened #5332 "When a computer is shut down, ntop cannot track the computer's past traffic usage"
When a computer is shut down, ntop cannot track the computer's past traffic usage

[2021-05-15 10:40] lucaderi opened #5333 "Score Anomaly Alert is Incomplete"
![image](https://user-images.githubusercontent.com/4493366/118357466-a55e7280-b57a-11eb-879a-b37e58c6e140.png)

The above alert must report if the issue is in the client or in the server score. As it is today it is useless

[2021-05-15 10:42] lucaderi opened #5334 "Enhance Alert Hyperlinks"
![Screen Shot 2021-05-15 at 12 41 17](https://user-images.githubusercontent.com/4493366/118357517-dccd1f00-b57a-11eb-8c70-03d969da7df0.png)

In the table above, add a hyperlink on the coloured numbers so we can jump immediately (in one click) to the filtered alerts. Example in the above picture to the error or warnign host alerts.

[2021-05-15 10:45] lucaderi opened #5335 "Alert Custom Time Button Broken"
![Screen Shot 2021-05-15 at 12 43 49](https://user-images.githubusercontent.com/4493366/118357598-3afa0200-b57b-11eb-8103-691f85fb08a5.png)

As shown in the above picture, when moving time with +/- or magnify lens, the drill-down menu stays to the old (30 mins) value instead of moving to custom.

[2021-05-15 10:56] lucaderi opened #5336 "Alerts: Time selection is lost when moving across tabs"
This is a sample selection
![Screen Shot 2021-05-15 at 12 46 22](https://user-images.githubusercontent.com/4493366/118357662-9fb55c80-b57b-11eb-9176-a4fc82f68505.png)

Now clicking on
![Screen Shot 2021-05-15 at 12 46 32](https://user-images.githubusercontent.com/4493366/118357661-9f1cc600-b57b-11eb-8d32-71124841931a.png)

the time selection is lost

[2021-05-15 11:03] lucaderi opened #5337 "Inconsistent Host Alert Score"
![image](https://user-images.githubusercontent.com/4493366/118358112-a2b14c80-b57d-11eb-9bac-1383a822ebbe.png)

In the picture above it is unclear why
- hosts with the same problem have different score
- the attacker/victim column is not populated based on the client or server flow score (see #5302)

[2021-05-15 11:03] lucaderi commented on #5302
Reopen as of #5337

[2021-05-15 11:05] lucaderi opened #5338 "Alert severity filtering is broken"
![image](https://user-images.githubusercontent.com/4493366/118358232-2f5c0a80-b57e-11eb-889a-8b5a9ac2c1bb.png)

[2021-05-15 11:12] lucaderi opened #5339 "Enhance Score Anomaly Alert"
![image](https://user-images.githubusercontent.com/4493366/118358383-d17bf280-b57e-11eb-8c1d-b74e920155e3.png)

In the above picture, we see that there is an anomaly for the score of a given host. Going inside the host detail page it is possible to observe the score breakdown that enables us to understand what is the nature of the problem

![Screen Shot 2021-05-15 at 13 09 07](https://user-images.

[2021-05-15 15:19] lucaderi opened #5340 "Multicast/Broadcast and Remote"
![Screen Shot 2021-05-15 at 17 17 49](https://user-images.githubusercontent.com/4493366/118368069-86270b80-b5a1-11eb-8f11-10b519369fda.png)

![Screen Shot 2021-05-15 at 17 23 49](https://user-images.githubusercontent.com/4493366/118368399-56c4ce80-b5a2-11eb-9230-34b53b386044.png)

By definition, only unicast address can be remote. all others (broad and multicast, including NoIP/0.0.0.0) are always

[2021-05-15 15:23] lucaderi opened #5341 "Table Views and Icons/Signs"
In host breakdown, we can show all the icons/signs that are available including broadcast domain, or private vs local IP.

In tables such as alerts, hosts, flows (see the picture below) only relevant icons must be displayed to avoid confusing the user. In this case leave only: country flag, local/remote/multicast

![Screen Shot 2021-05-15 at 17 19 59](https://user-images.githubusercontent.com/4493

[2021-05-15 15:38] kfra71 opened #5342 "SMTP error"
I am getting this error while trying to configure alert via email:

May 15 17:29:26 unix_box ntopng: [Utils.cpp:1793] WARNING: Unable to send email to (smtp://mailing.domain.it/domain.it): Login denied. Run ntopng with -v6 for more details.
May 15 17:29:26 unix_box ntopng: 15/May/2021 17:29:26 [Utils.cpp:1793] WARNING: Unable to send email to (smtp://mailing.selecta.it/selecta.it): Login denied. R

[2021-05-15 18:40] reggoboy opened #5343 "ntopng on Mac gives "This site can’t be reached" after installation"
I installed on my Mac (running Catalina 10.15.7 (19H1030)) using:

https://packages.ntop.org/

The docs say:

http://localhost:3000/

should load the GUI, but it does not. Tried rebooting. Tried 127.0.0.1. I haven't found anything in the FAQs or elsewhere to explain why this may not be working. Privacy settings? Security settings? File permissions? Firewall is off.

netstat doesn't reveal any daem

[2021-05-16 19:52] simonemainardi commented on #5343
please, check https://www.ntop.org/guides/ntopng/what_is_ntopng.html#installing-on-macos

ntopng seems not to be running. Check:

[Start] `sudo launchctl load /Library/LaunchDaemons/org.ntop.ntopng.plist`
[Stop] `sudo launchctl unload /Library/LaunchDaemons/org.ntop.ntopng.plist`

[2021-05-16 19:53] simonemainardi commented on #5342
@kfra71 can you please report the full error obtained when running ntopng with extra verbosity. Thanks.

[2021-05-16 19:55] simonemainardi commented on #5341
@MatteoBiscosi you have already implemented a format function for flow alerts that already hides most of the icons. I believe you should use that function across the whole UI as explained by @lucaderi.

[2021-05-16 19:57] simonemainardi commented on #5340
Default local and private networks are defined in the following constants:

[code]

Please, update them accordingly as indicated by @lucaderi

[2021-05-16 20:00] simonemainardi commented on #5339
Please elaborate more your request.

Note that the score in the alert (50) is the only score relative to the "Score anomaly issue", whereas the host score breakdown shown in the other screenshot is the overall host score, which includes:

- all engaged host alerts
- all flow alerts involving the host either as client or server

[2021-05-16 20:02] simonemainardi commented on #5302
With the new filters it may be beneficial for the sake of layout and space to remove the two columns and have them available as filters as discussed with @cardigliano. Please, consider this.

[2021-05-16 20:06] simonemainardi commented on #5337
According to the implementation https://github.com/ntop/ntopng/blob/dev/src/host_callbacks/FlowAnomaly.cpp, a flow anomaly can be

- as client
- as server
- both

When anomalies are both as client and as server, the score is x2. This should be made more clear in the UI.

[2021-05-16 20:09] simonemainardi commented on #5332
Please articulate this. What do you mean with past traffic usage?

[2021-05-16 20:18] simonemainardi commented on #5331
This is not just an UI-related issue. This involves reworking the alerts engine as currently the flow score is maintained as follows:

- the total flow score
- the score for the 'main flow alert'
- a score breakdown per category (e.g., security, network, etc).

Indeed, the original agreed project was to keep the score breakdown not for individual issues but for categories (e.g, security, network,

[2021-05-16 20:20] simonemainardi commented on #5328
why don't you assign an alias to the disaggregated interface to specify the site name? I believe this will do what you are looking for without adding extra items on the UI.

[2021-05-16 20:22] simonemainardi commented on #5330
The rationale behind the new style I have introduced with the new alert implementation is that a grey badge with a counter is shown on the engaged alerts button. As the badge style is grey, having a grey-badge-on-a-grey-button resulted in unreadable badges. If you prefer to change the badge style and not the button style, please, update badges rather than buttons.

[2021-05-16 23:02] reggoboy commented on #5343
Thanks, but no dice. It thinks it was already running; and stopping / starting didn't help:

[code]

Where's the log file? Maybe it will say what's going on. I checked Console, but I don't see any error messages that look relevant. What will the process be called? There's nothing named "ntop" or anything close.

[2021-05-16 23:10] reggoboy commented on #5343
Update:

I found some relevant logs in the console. They weren't tagged with "ERROR" metadata per console guidelines, so they didn't appear until I widened the search.

It appears **Redis** is not working properly, although the docs say it should have been installed and started by the install process.

Suggestions?

[code]

[2021-05-17 06:13] simonemainardi commented on #5334
Before implementing this, we should change/extend filters to also include > and <, not just the =.

[2021-05-17 06:16] simonemainardi commented on #5325
please attach the ntopng configuration used, and the rate at which flows are being exported to ES.

[2021-05-17 06:18] simonemainardi commented on #5287
order changed as described

[2021-05-17 06:18] #5287 closed, assigned to nobody

[2021-05-17 07:18] simonemainardi commented on #5305
No feedback received, closing. Reopen with the requested information if necessary.

[2021-05-17 07:18] #5305 closed, assigned to nobody

[2021-05-17 07:18] dimkar121 opened #5344 "Aggregate results on top talkers within date interval"
Hallo,

I am wondering if there exists any way to receive aggregate results on top talkers within a certain date interval (as the alerts).

thanks in advance,
Dimitrios

[2021-05-17 07:21] simonemainardi commented on #5269
@TimotheusBachinger

There will be some changes in the API as well. Changes are due to the rework of the backend alert engine. We will bump the version from v1 to v2 but still there will be changes.

It's similar, but yes there will be some changes to take into account.

End of June, mid-july.

To discuss changes in greater detail, please allow us some extra time so we can complete the implementat

[2021-05-17 07:23] simonemainardi commented on #5233
superseded by https://github.com/ntop/ntopng/issues/5272

[2021-05-17 07:23] #5233 closed, assigned to simonemainardi, gabryon99

[2021-05-17 08:15] Iamyourbaba commented on #5332
I have two computers, each of which is connected to a different ip network. When one of my computers connects to the server I need to monitor and shuts down after a period of time, my other computer cannot view the server traffic used by the shut down computer in the background.

[2021-05-17 08:30] #5340 closed, assigned to lucaderi

[2021-05-17 10:27] MatteoBiscosi commented on #5338
Verify as fixed, please reopen if needed

[2021-05-17 10:27] #5338 closed, assigned to cardigliano

[2021-05-17 11:15] lucaderi opened #5345 "BT5: Time preset dropdown not working"
![Screen Shot 2021-05-17 at 13 13 37](https://user-images.githubusercontent.com/4493366/118479873-d329ef80-b711-11eb-8d80-f60f267624e4.png)

[2021-05-17 11:15] lucaderi opened #5346 "BT5: Suboptimal Color Palette"
![Screen Shot 2021-05-17 at 13 15 26](https://user-images.githubusercontent.com/4493366/118480023-010f3400-b712-11eb-8007-de7384cbb3b5.png)