[2021-07-02 09:16] cardigliano commented on #5607
Fixed for flow alerts in 49a180355533fd87befc815dbdb475332de90814

[2021-07-02 09:21] lucaderi opened #5619 "Add host notes"
Similar to what happens with custom host name, add the ability to add a custom text field where an operator can put a string.

Example for host 1.2.3.4 "MacBook sitting in the conference room". The field is persistent and it should be shown only in the host page. Of course unprivileged users should not be able to modify/set the field

[2021-07-02 09:55] MatteoBiscosi commented on #5457
It seems that it is working correctly now, please reopen if needed

[2021-07-02 09:55] #5457 closed, assigned to MatteoBiscosi

[2021-07-02 10:38] fanciulli commented on #5574
@simonemainardi after further checks it seems it its only trimming latest character.

e.g. NTOPNG 1234 is shown on login and on window title as NTOPNG 123

[2021-07-02 10:41] scdit46 opened #5620 "tcp port 3000 is not listening after the license expired"
**After that the license expired happens this problem:**

Jul 02 12:36:38 ubuntu ntopng[5989]: [NtopPro.cpp:548] WARNING: [LICENSE] Invalid license [License expired]
Jul 02 12:36:38 ubuntu ntopng[5989]: 02/Jul/2021 12:36:38 [NtopPro.cpp:548] WARNING: [LICENSE] Invalid license [License expired]
Jul 02 12:36:38 ubuntu ntopng[5989]: [NtopPro.cpp:554] WARNING: [LICENSE] Your license is expired on Wed

[2021-07-02 14:33] MatteoBiscosi commented on #5599
Removed into the pro repo

[2021-07-02 15:54] simonemainardi commented on #5620
Logs seem to be OK. How can you say

?

[2021-07-02 16:00] scdit46 commented on #5620
root@ubuntu:~#  **systemctl status ntopng**
● ntopng.service - ntopng high-speed web-based traffic monitoring and analysis tool
     Loaded: loaded (/etc/systemd/system/ntopng.service; enabled; vendor preset: enabled)
     Active: inactive (dead) since Fri 2021-07-02 17:57:28 CEST; 39s ago
    Process: 62803 ExecStartPre=/bin/sh -c /usr/bin/ntopng-utils-manage-config -a check-restore  && /usr/bin/

[2021-07-03 07:22] simonemainardi commented on #5620
it 's not running

[2021-07-03 07:38] scdit46 commented on #5620
I know!!!

I know if I set the trial license the ntopng starts sucesfull
But with the expired license ntopng does not start?
I think that ntopng should starts with community license
what is happening?

[2021-07-03 07:40] scdit46 commented on #5620
also the log displays:

Jul 02 17:57:28 ubuntu ntopng[62823]: 02/Jul/2021 17:57:28 [HTTPserver.cpp:1695] **HTTP server listening on 3000**
Jul 02 17:57:28 ubuntu systemd[1]: **ntopng.service: Succeeded.**

when ntopng does not start
why?

[2021-07-03 08:21] simonemainardi commented on #5620
report os version used, ntopng version, ntopng configuration file, and the full log since the very beginning

[2021-07-03 09:02] scdit46 commented on #5620
root@ubuntu:~# ntopng --version
Version:        4.3.210702 [Enterprise/Professional build]
GIT rev:        dev:6a3d7f0af469ef8cd379752e994c03b20a9f0d0d:20210702
Pro rev:        r3951
Built on:       Ubuntu 20.04.2 LTS
System Id:      3BD8966F760B6B24
Platform:       x86_64
Edition:        Enterprise L (Bundle)
License Type:   Time-Limited [License expired]
Validity:       Until Sat Jul  3 11:11:02

[2021-07-03 09:05] scdit46 commented on #5620
[ntopng.log](https://github.com/ntop/ntopng/files/6758127/ntopng.log)

The full log

[2021-07-03 09:13] scdit46 commented on #5620
the conf files
[integracion-nprobe.conf.log](https://github.com/ntop/ntopng/files/6758141/integracion-nprobe.conf.log)
[ntopng.conf.log](https://github.com/ntop/ntopng/files/6758143/ntopng.conf.log)

[2021-07-05 00:38] MaoPann commented on #5615
hello , any one help me.

[2021-07-05 06:21] Yoshihiro-jp opened #5621 "Failed to download the config when using the Google Chrome but Firefox would be no problem."
Hi,

I noticed this problem when I tested the latest ntopng version.

[ntopng version]
ntopng Enterprise L v.4.2.210629

In the ntopng menu if I try to export the config file I would be failed with Google Chrome but if I used the Firefox it could be succeeded.

Kindly refer to the attached file.

The difference is the file name to download.
The Google chrome is "all_config.json".
The Firefox is "c

[2021-07-05 06:46] scdit46 commented on #5620
what is the problem?

[2021-07-05 07:29] MaoPann opened #5622 "Unable to serve requests at this time, possibly starting up or shutting down"
some times i can't open the webGUI
![image](https://user-images.githubusercontent.com/44804599/124433825-be7ae700-dda5-11eb-9744-078a8566988d.png)

[2021-07-05 07:31] simonemainardi commented on #5622
this happens during "start up or shut down" of ntopng. It's just a transient of at most a bunch of seconds when the webserver comes up.

[2021-07-05 07:31] #5622 closed, assigned to nobody

[2021-07-05 07:37] simonemainardi commented on #5620
remove expired license file /etc/ntopng.license and report

[2021-07-05 07:39] MaoPann commented on #5622
@simonemainardi
This may also happen when I switch pages

[2021-07-05 07:39] simonemainardi commented on #5621
This is fixed in the latest dev version of ntopng. Will be pushed in the stable within a few days in the next stable release.

[2021-07-05 07:39] #5621 closed, assigned to nobody

[2021-07-05 07:40] simonemainardi commented on #5622
Check the uptime. Is the process crashing/restarting?

[2021-07-05 10:04] scdit46 commented on #5620
I remove **/etc/ntopng.license**  but ntop does not start

the log is:

Jul 05 12:00:42 ubuntu systemd[1]: Starting ntopng high-speed web-based traffic monitoring and analysis tool...
Jul 05 12:00:42 ubuntu systemd[1]: Started ntopng high-speed web-based traffic monitoring and analysis tool.
Jul 05 12:00:42 ubuntu ntopng[7162]: 05/Jul/2021 12:00:42 [Ntop.cpp:2490] Setting local networks to 127.0.0

[2021-07-05 10:55] simonemainardi commented on #5620
also remove the key added from the ntopng web UI under License

[2021-07-05 12:40] scdit46 commented on #5620
The web UI is not starts.
The tcp port 3000 is not listening
The process ntopng is not started.

[2021-07-05 12:49] simonemainardi commented on #5620
run

[code]

then restart

[2021-07-05 13:16] scdit46 commented on #5620
now It´s works!!!!!

What it was happened?

[2021-07-05 14:50] lucaderi commented on #5526
Verified as fixed

[2021-07-05 14:50] #5526 closed, assigned to simonemainardi

[2021-07-05 15:10] lucaderi commented on #5617
Verified as fixed

[2021-07-05 15:10] #5617 closed, assigned to MatteoBiscosi, VasilisTako

[2021-07-05 15:11] lucaderi opened #5623 "Alert host names are not cut to max size"
![Screen Shot 2021-07-05 at 16 41 31](https://user-images.githubusercontent.com/4493366/124491840-00128e80-ddb4-11eb-8614-0a3922595396.png)

[2021-07-05 15:14] lucaderi opened #5624 "Suspicious Protocol vs Attacker vs Multicast"
![image](https://user-images.githubusercontent.com/4493366/124491946-1e788a00-ddb4-11eb-94f6-6f94f719f192.png)

Labelling a host as an attacker as it has used an unexpected protocol when speaking with a multicast group is way too strong

[2021-07-05 15:16] lucaderi opened #5625 "MAC address and Service Map"
When MAC address is used as a key

![Screen Shot 2021-07-05 at 17 14 43](https://user-images.githubusercontent.com/4493366/124492262-816a2100-ddb4-11eb-8177-1e4eba913e13.png)

internally the system identifies hosts using a MAC. The MAC-IP association is stored when the MAC is first detected with the result that when the map is visualized, the association is outdated and thus wrong.

![Screen Shot

[2021-07-05 15:17] lucaderi commented on #5616
This fix introduces a new problem as an unprivileged user cannot see alerts at all.
![Screen Shot 2021-07-05 at 17 17 27](https://user-images.githubusercontent.com/4493366/124492533-e32a8b00-ddb4-11eb-8c49-58178b738641.png)

[2021-07-05 15:19] lucaderi opened #5626 "Non-Admin users cannot visualize graphs"
This is when logging with a non-admin user
![Screen Shot 2021-07-05 at 17 18 41](https://user-images.githubusercontent.com/4493366/124492667-0fdea280-ddb5-11eb-9586-45f02197f3ae.png)

This on the same host with admin user
![Screen Shot 2021-07-05 at 17 18 35](https://user-images.githubusercontent.com/4493366/124492671-11a86600-ddb5-11eb-8530-4eb4efebed3a.png)

Interface graphs instead as working a

[2021-07-05 15:20] lucaderi commented on #5599
Verified as fixed

[2021-07-05 15:20] #5599 closed, assigned to MatteoBiscosi, VasilisTako

[2021-07-05 15:23] lucaderi commented on #5626
The issue is probably due to an invalid check on privileges. On interfaces with MAC address as key, limiting a user to specific IP
![Screen Shot 2021-07-05 at 17 22 51](https://user-images.githubusercontent.com/4493366/124493201-a57a3200-ddb5-11eb-85a0-0d0b9dff3d31.png)
will not cope with MAC addresses raising this message
05/Jul/2021 17:18:00 [ts.lua:137] [ts_utils_core.lua:195] ERROR: User: test

[2021-07-05 15:24] lucaderi commented on #5598
Seems to be fixed, hard to reproduce

[2021-07-05 15:24] #5598 closed, assigned to VasilisTako

[2021-07-05 15:40] lucaderi opened #5627 "Some flow risks are ignored"
Running nDPI with the enclosed pcap we obtain
	1	TCP 192.168.1.178:58233 <-> 31.11.32.73:80 [proto: 7/HTTP][cat: Web/5][203 pkts/13525 bytes <-> 297 pkts/444709 bytes][Goodput ratio: 1/96][0.22 sec][Host: www.giuseppeservidio.net][bytes ratio: -0.941 (Download)][IAT c2s/s2c min/avg/max/stddev: 0/0 1/0 25/25 3/2][Pkt Len c2s/s2c min/avg/max/stddev: 66/74 67/1497 181/1506 8/106][URL: www.giuseppeser

[2021-07-05 15:40] lucaderi commented on #5596
Not sure how to reproduce it while #5627 is open

[2021-07-05 15:41] lucaderi opened #5628 "nIndex warning"
05/Jul/2021 17:38:22 [LuaEngine.cpp:1204] WARNING: Script failure [/ntopng/scripts/lua/pro/get_nindex_flows.lua][.../scripts/lua/pro/get_nindex_flows.lua:28: attempt to index a boolean value (local 'nindex_flows')]

[2021-07-05 15:48] MatteoBiscosi commented on #5618
Implemented as requested

[2021-07-05 15:50] lucaderi opened #5629 "Flows anomalies do not report VLANId"
![image](https://user-images.githubusercontent.com/4493366/124496215-6cdc5780-ddb9-11eb-847f-2d428ebe8c74.png)

![image](https://user-images.githubusercontent.com/4493366/124496265-7e256400-ddb9-11eb-9ab2-191d69e2204b.png)

[2021-07-05 15:53] lucaderi opened #5630 "Filter items limited to 5"
![Screen Shot 2021-07-05 at 17 52 11](https://user-images.githubusercontent.com/4493366/124496482-c2186900-ddb9-11eb-8f21-c69763576592.png)

The limit of 5 items per filter type (e.g. Alert Type in this case) is not enough to enable any reasonable analysis. Remove the limitation or raise it to 20+

[2021-07-05 15:55] lucaderi opened #5631 "Invalid "Dropped Alerts" filter"
![Screen Shot 2021-07-05 at 17 54 59](https://user-images.githubusercontent.com/4493366/124496772-250a0000-ddba-11eb-991b-4ccbe002eecf.png)

Filters usually work except for the above that when clicking on it reports and empty field

[2021-07-05 15:56] lucaderi commented on #5607
Verified as fixed

[2021-07-05 15:56] #5607 closed, assigned to cardigliano, MatteoBiscosi

[2021-07-05 15:58] lucaderi commented on #5595
Fixed albeit #5623 is open on a similar issue.

[2021-07-05 15:58] #5595 closed, assigned to cardigliano, MatteoBiscosi

[2021-07-05 16:00] simonemainardi commented on #5618
If you have decided to open a modal dialog before following an external link, then this behavior must be applied across all external links opened by ntopng, not just one. So please either open if for every modal, or don't open it at all.

[code]

[2021-07-05 16:07] cardigliano commented on #5616
The Alerts menu has not been changed in this fix, in fact it is available in my system. Did you configure allowed-networks for the user perhaps?

[2021-07-05 17:18] lucaderi opened #5632 "Invalid Alert VLAN Tags"
![image](https://user-images.githubusercontent.com/4493366/124503335-a31fd400-ddc5-11eb-8a55-296a66cb9e50.png)

As you can see from this picture
- top hosts have no VLAN tags
- flow hosts sometimes have tags
- sometimes the tag is mapped to a string, sometimes it is not

[2021-07-05 20:36] drewp opened #5633 "interface.select(ifname); interface.getLocalHostsInfo(...) returns hosts from other interfaces"
My code is like this:

[code]

Without those last 3 lines, I would get nondeterministic listings of 10.1.x.x hosts in the `ens5` results, etc. The host counts per interface were stable; just sometimes e.g. 10.2.0.81's data would be substituted in the mac for 10.1.0.1, etc.

[2021-07-06 07:21] scdit46 opened #5634 "Connection TLS does not display the icon forbidden by fingerprintng JA3 blacklist."
Before when a JA3 is in the blacklist https://sslbl.abuse.ch/ja3-fingerprints/ displays from ntopng web UI (host->TLS) a **forbidden icon**  (see picture)
<img width="306" alt="ntop" src="https://user-images.githubusercontent.com/63736962/124558064-7fe33c00-de3a-11eb-8e92-7a4a13cf758a.png">

Now the forbidden icon is not displayed from the ntopng web UI when a connecion TLS is in https://sslbl.abu

[2021-07-06 07:29] scdit46 commented on #5634
When I restart ntopng service the fingerprint JA3 is reset (connections TLS disappears)
Is there any way to avoid this?

[2021-07-06 07:55] simonemainardi commented on #5632
to simulate on a non-VLAN environment yon can use `--simulate-vlans`

[2021-07-06 07:58] simonemainardi commented on #5630
Likely this was due to a failing ajax request. Unable to reproduce. Can you please check again and, if still occurring, explain how to trigger this behavior.

[2021-07-06 08:06] simonemainardi commented on #5616
This happens because the unprivileged user has allowed networks. Alerts are now visible to:

- Administrators
- Unprivileged users without allowed networks

Remote unprivileged users and users with allowed networks are not entitled to see alerts.

[2021-07-06 08:06] #5616 closed, assigned to simonemainardi, cardigliano

[2021-07-06 08:07] simonemainardi commented on #5623
use method `shortenString`

[2021-07-06 08:10] simonemainardi commented on #5614
This is normal, you cannot open a modal on top of another modal. However, if necessary, you can edit the `action` button of the current modal to trigger a 'restart'.

[2021-07-06 08:10] #5614 closed, assigned to MatteoBiscosi, VasilisTako

[2021-07-06 08:14] simonemainardi commented on #5493
Closing for inactivity. Reopen if necessary with the requested information.

[2021-07-06 08:14] #5493 closed, assigned to nobody

[2021-07-06 08:25] simonemainardi commented on #5495
Currently, InfluxDB data is cleaned up when the interface data is deleted. We may decide to expose only the InfluxDB cleanup functionality.

[2021-07-06 09:06] lucaderi commented on #5540
Depends on https://github.com/ntop/nDPI/issues/1231

[2021-07-06 09:08] lucaderi commented on #5293
This issue is hard to handle as this looks like a Mac device that runs some Windows-like software and advertises it via NetBIOS. We'll close it for now until a pcap can be provided for ground truth..

[2021-07-06 09:08] #5293 closed, assigned to lucaderi

[2021-07-06 09:12] lucaderi opened #5635 "Implement multiple flow-collection support"
In the current ntopng, the list of ZMQ collection devices is limited to 32. This means that sites with 64 or 100 probes cannot see what is happening.

This is to require the support of IPFIX observation points and allow users to filter traffic based on remote points rather than flow collector IPs that are currently limited only to flow only,

[2021-07-06 10:58] lucaderi commented on #5410
Implement ZMQ encryption that is missing from ZMQ Exporter.

[2021-07-06 12:16] cardigliano commented on #5264
Instructions for Raspberry Pi OS have been added in  https://github.com/ntop/ntopng/commit/53ffe5c9e679299c4f4cceda91718cf79ab056c5

[2021-07-06 12:55] lucaderi commented on #5629
![image](https://user-images.githubusercontent.com/4493366/124603389-2bf04b80-de6a-11eb-8520-c156d92418c3.png)
Better but still bugged (missing symbolic VLAN mapping)

[2021-07-06 12:56] lucaderi commented on #5632
![image](https://user-images.githubusercontent.com/4493366/124603576-5b06bd00-de6a-11eb-936b-a895b3351645.png)
Better but still bugged

[2021-07-06 12:58] lucaderi opened #5636 "Implement max string lenght in alert page"
If you can implement the max column size by adding a max string lenght, you can pass from this
![Screen Shot 2021-07-06 at 14 57 26](https://user-images.githubusercontent.com/4493366/124603704-7ffb3000-de6a-11eb-9271-444f866fc32e.png)
to this
![Screen Shot 2021-07-06 at 14 57 20](https://user-images.githubusercontent.com/4493366/124603705-8093c680-de6a-11eb-8b2a-5ebb7722156b.png)

[2021-07-06 12:59] lucaderi commented on #5623
verified as fixed

[2021-07-06 12:59] #5623 closed, assigned to MatteoBiscosi

[2021-07-06 13:00] #5264 closed, assigned to simonemainardi, cardigliano

[2021-07-06 13:02] lucaderi commented on #5601
![image](https://user-images.githubusercontent.com/4493366/124604283-13346580-de6b-11eb-857c-ac83641c7008.png)

I believe you should remove the VLAN Id from the label as it's part of the page, or map it to the symbolic vlan name

[2021-07-06 13:04] lucaderi opened #5637 "Find a better word for Subject"
![Screen Shot 2021-07-06 at 15 02 42](https://user-images.githubusercontent.com/4493366/124604444-3ced8c80-de6b-11eb-870c-d5a478b8a5d0.png)

The word subject is not a networking term and it needs to be replaced with something more meaningful. In this case, is this an interface, with Interface Name for instance.

Note that there is also a mapping problem as once is referenced as tcp:// and once as

[2021-07-06 13:19] MatteoBiscosi commented on #5629
Fixed both into pro and community repo

[2021-07-06 13:20] MatteoBiscosi commented on #5632
Fixed both into pro and community repo

[2021-07-06 13:47] lucaderi opened #5638 "View interfaces do not honour traffic directions"
![Screen Shot 2021-07-06 at 15 46 09](https://user-images.githubusercontent.com/4493366/124611065-627d9480-de71-11eb-9d19-d05f2b3bb0e1.png)
![Screen Shot 2021-07-06 at 15 45 55](https://user-images.githubusercontent.com/4493366/124611070-64475800-de71-11eb-9408-5c4f919bdc5f.png)

[2021-07-06 13:51] lucaderi opened #5639 "View Interfaces do not trigger alerts"
Up to end of May dev version view interfaces used to trigger alerts, now everything is broken

![Screen Shot 2021-07-06 at 15 46 09](https://user-images.githubusercontent.com/4493366/124611248-8c36bb80-de71-11eb-904f-d55609b3001e.png)
![Screen Shot 2021-07-06 at 15 45 55](https://user-images.githubusercontent.com/4493366/124611250-8ccf5200-de71-11eb-8651-3d5ecb138f5c.png)

[2021-07-06 13:54] lucaderi opened #5640 "Alerts are not triggered"
![Screen Shot 2021-07-06 at 15 52 50](https://user-images.githubusercontent.com/4493366/124612004-43333700-de72-11eb-8e29-c2f985f0c999.png)

When using this configuration
-i=tcp://127.0.0.1:17900c
-i=tcp://127.0.0.1:17901c
-i=view:tcp://127.0.0.1:17900c,tcp://127.0.0.1:17901c

alerts are shown in the GUI (top menu) but not in the alert page

[2021-07-06 14:23] cardigliano commented on #5630
It is likely this was due to a failure in the ajax request due to 471e56a9efc42459c2bc3d966f7eae8385ab66c0

[2021-07-06 15:35] simonemainardi opened #5641 "Changing datepicker under All alerts triggers a JS error"
![image](https://user-images.githubusercontent.com/3397663/124628183-85fc0b80-de80-11eb-9d5d-313c751df3dd.png)

[2021-07-06 15:38] simonemainardi commented on #5600
- Implemented the ability to acknowledge past alerts, both individually and as groups.
- Acknowledged alerts are kept separate from past alerts and can be seen using the filters toggle

![image](https://user-images.githubusercontent.com/3397663/124628438-c0fe3f00-de80-11eb-832b-547a23ade667.png)

- An optional comment can be added when acknowledging alerts. The comment is then shown when visualizi

[2021-07-06 15:38] #5600 closed, assigned to simonemainardi

[2021-07-06 15:47] #5626 closed, assigned to simonemainardi, cardigliano

[2021-07-06 15:58] #5624 closed, assigned to simonemainardi

[2021-07-06 16:09] #5629 closed, assigned to MatteoBiscosi, VasilisTako

[2021-07-06 16:17] simonemainardi commented on #5628
Fix is invalid. It does not solve the problem, it just hides it. Rather than understanding why `nindex_flows` is a boolean (this is the fix), you have hidden the bug in an empty response.

![image](https://user-images.githubusercontent.com/3397663/124634181-52bc7b00-de86-11eb-841c-2be60e06b6c5.png)

[2021-07-06 16:35] simonemainardi commented on #5632
Fix is invalid. The first parameter of `hostVisualization`  has been abused, i.e., the parameter must be an IP address but the function has been called using the first parameter either as an IP address or as a label.

Examples:

- https://github.com/ntop/ntopng/commit/744a5e53
- https://github.com/ntop/ntopng/commit/68fe3e4369fb68787eb9e807c9fd1440c375b910

This must be fixed in community and pro.

[2021-07-07 06:51] lucaderi opened #5642 "Disable Maps for Viewed Interfaces"
When view interfaces are used, hosts are implemented in the view interface and not on the physical "viewed" interface. This means that the Maps menu needs to be disabled for a "viewed" interface and enabled only on the "view" interface.

[2021-07-07 06:56] lucaderi opened #5643 "Name resolution must be lowercase"
When resolving hostnames, the DNS name (but in general all names) must be lowercased in the backend. Example

![image](https://user-images.githubusercontent.com/4493366/124713700-2abe2d80-df01-11eb-8300-77feb20e225e.png)

[2021-07-07 07:29] lucaderi opened #5644 "Implement Observation Point Report"
Only for flow-collection devices, similar to the exporters report, it is requested to implement the observation point report that lists
- all observation point ids
- number of flows and bytes collected
- chart of flows and bytes (enabled with the same preferences of the exporters)

[2021-07-07 07:38] #5601 closed, assigned to MatteoBiscosi

[2021-07-07 07:41] lucaderi commented on #5630
Verified as fixed

[2021-07-07 07:41] #5630 closed, assigned to cardigliano

[2021-07-07 09:42] cardigliano commented on #5615
@MaoPann does the server support TLS? I do not see a 250-STARTTLS message coming from the server in your logs..

[2021-07-07 09:45] MaoPann commented on #5615
don‘t surport

[2021-07-07 09:46] cardigliano commented on #5615
Can I see your Endpoint configuration?

[2021-07-07 10:04] MaoPann commented on #5615
![image](https://user-images.githubusercontent.com/44804599/124740716-9fb75480-df4d-11eb-9da5-0c185a838c63.png)
![image](https://user-images.githubusercontent.com/44804599/124740771-af369d80-df4d-11eb-8124-2b84dfeeaf77.png)
![image](https://user-images.githubusercontent.com/44804599/124740836-ba89c900-df4d-11eb-83fc-fe4e9b3bdcb3.png)

[2021-07-07 10:07] cardigliano commented on #5615
I was asking for the "Endpoint" configuration, not the "Recipient"

[2021-07-07 12:49] lucaderi opened #5645 "Periodicity Map is Broken"
![Screen Shot 2021-07-07 at 14 47 30](https://user-images.githubusercontent.com/4493366/124761694-59a0c780-df32-11eb-80bf-57f57fccdbb3.png)
![Screen Shot 2021-07-07 at 14 47 22](https://user-images.githubusercontent.com/4493366/124761704-5c032180-df32-11eb-8809-2c5b514b645e.png)

The graph version contains many more nodes than the table. This not to mention that the graph version lacks many edges

[2021-07-07 12:58] lucaderi opened #5646 "Elephant flows do not report URL (when present)"
![image](https://user-images.githubusercontent.com/4493366/124762961-be105680-df33-11eb-936a-6d0c7f0ca001.png)

Without a URL, troubleshooting the above problem is not possible

[2021-07-07 13:14] lucaderi commented on #5632
Still flawed

![image](https://user-images.githubusercontent.com/4493366/124765216-09c3ff80-df36-11eb-952a-af121d02aca9.png)

[2021-07-07 13:16] lucaderi opened #5647 "VLAN Tag is cut when shortening Host Names"
![image](https://user-images.githubusercontent.com/4493366/124765334-24967400-df36-11eb-9b7d-f88edc988847.png)

When a hostname is too long, its name is shortened and this is ok. The problem is that this should not be applied to the VLAN but only to the hostname. As of today, the VLAN tag is removed. Please shorten the host but not the VLAN tag.

[2021-07-07 13:20] cardigliano commented on #5615
@MaoPann please update to latest package (4.3.210707-14888), and try setting smtp://<host> as SMTP Server (note the smtp:// scheme/prefix). Let me know if it works or provide the verbose log again. Thank you.

[2021-07-07 13:20] lucaderi opened #5648 "Unify Flows Icons"
![image](https://user-images.githubusercontent.com/4493366/124765980-c9b14c80-df36-11eb-93e3-c6185fccf904.png)

In the host bar, the Flows label should be replaced with the icon as in the sidebar

[2021-07-07 13:23] simonemainardi commented on #5628
Verified fixed in the pro part.

[2021-07-07 13:23] #5628 closed, assigned to MatteoBiscosi

[2021-07-07 13:36] simonemainardi commented on #5627
Alert is generated using the latest build. Tested both on Linux and OS X.

![image](https://user-images.githubusercontent.com/3397663/124768499-0120f880-df39-11eb-8389-813d809b605c.png)

Look at the checks configuration page. Is the "Suspicious File Transfer" enabled? Also look under check exclusions, you may have excluded that check.

[2021-07-07 13:36] #5627 closed, assigned to simonemainardi

[2021-07-07 13:46] lucaderi opened #5649 "Missing domain name from DGA Alerts"
![image](https://user-images.githubusercontent.com/4493366/124770034-485bb900-df3a-11eb-8d4c-e9e04ef6a529.png)

![image](https://user-images.githubusercontent.com/4493366/124770216-72ad7680-df3a-11eb-8993-d68bc328242f.png)

Similar to #5646

[2021-07-07 13:47] lucaderi commented on #5639
Verified as fixed (at least for flows)

[2021-07-07 13:47] #5639 closed, assigned to simonemainardi

[2021-07-07 13:56] cardigliano commented on #5480
This has been fixed in 4ca5eb238e7e145857fbaf4e20dc2d96e4e86542 and fdd9a8f3990dac589d8508e3b71d025086154c4e
As of Telegram, please note it is now required to open the conversation with the bot in Telegram, before adding the ID in ntopng, otherwise the bot "can't initiate conversation with a user".

[2021-07-07 13:56] #5480 closed, assigned to cardigliano

[2021-07-07 14:13] #5487 closed, assigned to simonemainardi

[2021-07-07 14:14] simonemainardi commented on #5487
Fixed. Now modals to change the config and/or restart ntopng are only shown on supported systems, i.e., linux systems running packaged versions of ntopng.

[2021-07-07 14:42] #5631 closed, assigned to simonemainardi

[2021-07-07 14:44] #5648 closed, assigned to VasilisTako

[2021-07-07 15:00] cardigliano commented on #5568
A few bugs that were causing leaks and corruptions have been addressed during the last week, it is likely this was due to those bugs and it is solved. Please report wether the latest ntopng version is still affected by this.

[2021-07-07 16:01] lucaderi opened #5650 "Score anomalies alerts are broken"
This is what I see on my console

07/Jul/2021 15:15:17 [HostStats.cpp:101] [ANOMALY] 192.168.1.178 [en3][client score] [value: 563]
07/Jul/2021 15:37:55 [HostStats.cpp:113] [ANOMALY] 194.242.61.8 [en3][server score] [value: 270]
07/Jul/2021 15:47:57 [HostStats.cpp:113] [ANOMALY] 194.242.61.8 [en3][server score] [value: 470]
07/Jul/2021 16:38:06 [HostStats.cpp:113] [ANOMALY] 192.168.1.187 [en3][ser

[2021-07-07 17:21] #5649 closed, assigned to simonemainardi

[2021-07-08 07:01] MaoPann commented on #5615
i update the latest package ,it works
![image](https://user-images.githubusercontent.com/44804599/124877784-fed4a200-dffd-11eb-841a-1a87f788f702.png)

[2021-07-08 07:10] MaoPann commented on #5615
but the Ubuntu There doesn't seem to be a new version available yet

[2021-07-08 07:23] #5641 closed, assigned to VasilisTako

[2021-07-08 07:27] #5642 closed, assigned to simonemainardi

[2021-07-08 07:29] cardigliano commented on #5615
Great! Let's close this then.

Packages for Ubuntu seems to be updated, what Ubuntu version are you running?

[2021-07-08 07:29] #5615 closed, assigned to cardigliano

[2021-07-08 07:30] simonemainardi commented on #5640
Fixed as of https://github.com/ntop/ntopng/issues/5639

[2021-07-08 07:30] #5640 closed, assigned to simonemainardi

[2021-07-08 07:31] simonemainardi commented on #5647
@MatteoBiscosi what about using the shortenString function straigh inside the hostVisualization? In this way, you can control the lenght of both names and VLANs.

[2021-07-08 08:30] simonemainardi commented on #5507
Fixed in the lasted build.

[2021-07-08 08:30] #5507 closed, assigned to simonemainardi

[2021-07-08 13:00] lucaderi opened #5651 "Inconsistent Host / Flows Drill-down"
![Screen Shot 2021-07-08 at 14 58 07](https://user-images.githubusercontent.com/4493366/124925707-0182c780-dffd-11eb-9393-952a4feebdbf.png)

1. The explorer menu is a stub/work-in-progress
2. Time is not formatted
3. Sort is not available
4. Consider sending users to the Historical Flow Explorer page

[2021-07-08 13:06] lucaderi opened #5652 "Historical Flow Explorer Issues"
The issues below can be reproduced with Ubuntu 18.04 packages
- Adding a host filter is not working until the page is refreshed
- The same applies when changing the number of rows displayed
- Sorting (in particular by time) is disabled
- Hostnames and ASN can be pretty long and need to be shortened. For ASN "62041 (Telegram Messenger Inc)" -> 62041 (Telegram Mess...)" and not "62041 (Telegram Mes.

[2021-07-08 15:00] lucaderi commented on #5269
@TimotheusBachinger The v1 REST is now part of the current dev. So all functionalities of 4.2 are available in the dev version and in the next stable. As we have made quite some improvenments to the v1, we have created a v2 API version that will replace v1. So in the next stable release we'll support both v1 and v2, but the v1 will be deprecated in a future stable release so please plan moving to

[2021-07-08 18:02] lucaderi commented on #5651
Verified as fixed

[2021-07-08 18:02] #5651 closed, assigned to MatteoBiscosi

[2021-07-08 18:15] lucaderi commented on #5647
![image](https://user-images.githubusercontent.com/4493366/124971197-3278f180-e029-11eb-8f23-918327b1d315.png)
Still bugged in alerts

[2021-07-08 18:18] lucaderi commented on #5632
This is fixed and it will be closed when #5647 will be closed

[2021-07-09 08:57] simonemainardi commented on #5647
Fixed in the latest dev

![image](https://user-images.githubusercontent.com/3397663/125052544-604f4c00-e0a4-11eb-9d9a-87bce4a59491.png)

[2021-07-09 08:58] #5632 closed, assigned to MatteoBiscosi, VasilisTako

[2021-07-09 08:58] #5647 closed, assigned to MatteoBiscosi

[2021-07-09 09:02] simonemainardi commented on #5636
Implemented in the latest dev.

![image](https://user-images.githubusercontent.com/3397663/125053176-17e45e00-e0a5-11eb-9f4e-5d5693c134ef.png)

As discussed, although not ideal, shortening is done on the backend.

[2021-07-09 09:02] #5636 closed, assigned to simonemainardi

[2021-07-09 10:12] #5646 closed, assigned to simonemainardi

[2021-07-09 10:13] simonemainardi commented on #5646
Fixed.

![image](https://user-images.githubusercontent.com/3397663/125062802-1455d480-e0af-11eb-899f-1c24b5b04953.png)

[2021-07-09 10:26] #5643 closed, assigned to MatteoBiscosi

[2021-07-09 10:51] #5638 closed, assigned to simonemainardi

[2021-07-09 10:54] simonemainardi commented on #5638
Support added

![image](https://user-images.githubusercontent.com/3397663/125067572-bd52fe00-e0b4-11eb-843f-26b501378663.png)

[2021-07-09 13:12] simonemainardi commented on #5568
Crashes no longer reproduced. Likely fixed due to resolved memory leaks.

[2021-07-09 13:12] #5568 closed, assigned to nobody

[2021-07-09 13:49] MatteoBiscosi commented on #5652
(Partial) Sorting implemented, names shortening added and loading during page changes (prev, next page) added. Regarding the page refresh try to change browser and let me know, because it seems sometimes boostrap library doesn't work perfectly fine with Chrome browser and when you click the browser `Go Back` button it crashes and you need to reload the page to work fine again.

[2021-07-09 14:40] #5471 closed, assigned to simonemainardi

[2021-07-09 14:46] lucaderi opened #5653 "Symbolic host names are broken"
![image](https://user-images.githubusercontent.com/4493366/125096083-13d03480-e0d5-11eb-872b-28116f130d54.png)
![Screen Shot 2021-07-09 at 16 43 18](https://user-images.githubusercontent.com/4493366/125096093-1763bb80-e0d5-11eb-93e3-f58b55824ef6.png)

[2021-07-09 15:11] cardigliano commented on #5167
Offline mode implemented in af5ded3231d35d6b262e9f065254d81a2d9d8223 15a2a3477148b763fd8860b6a8381deafdeac962 bb297048c78f8664205833bb82add05bc5d33dad b8dcca7fdb8be43d6fb5c50969e9c425c370ecb7
ntopng detects that there is no connection at boot time, switching to offline mode. In offline mode it checks for connectivity every hour. Features like the lists downloading, post updates, telemetry, are dis

[2021-07-09 15:18] #5653 closed, assigned to simonemainardi

[2021-07-09 15:22] lucaderi opened #5654 "Improve shortener algorithm"
![Screen Shot 2021-07-09 at 17 21 02](https://user-images.githubusercontent.com/4493366/125101058-15e8c200-e0da-11eb-862f-4d51b67ef7bd.png)

As shown in the above example, this string is shortened, but the three extra ... (dots) are useless as the final string is not shorter but it is actually longer having the three extra dots.

[2021-07-09 15:51] #5654 closed, assigned to nobody

[2021-07-09 15:58] #5167 closed, assigned to cardigliano

[2021-07-09 18:09] lucaderi commented on #5645
Verified as fixed

[2021-07-09 18:09] #5645 closed, assigned to MatteoBiscosi

[2021-07-09 18:12] lucaderi commented on #5625
Still broken. On my network, I identify hosts with a MAC so in this map
- I have too many hosts with an IP address. This means that you have resolved the host when the map is rendered but it's not quite so
![Screen Shot 2021-07-09 at 20 11 10](https://user-images.githubusercontent.com/4493366/125119771-d7f79800-e0f1-11eb-8d1c-41c3a4a53ab7.png)
as most hosts are like this
![Screen Shot 2021-07-09 a

[2021-07-09 18:14] lucaderi commented on #5652
Given the above limitations, please remember to sort columns s discussed in order to have the key fields always visible (5 tuple).

[2021-07-09 18:15] lucaderi opened #5655 "Client ASN Mapping not working in Flow Explorer"
![Screen Shot 2021-07-09 at 20 14 36](https://user-images.githubusercontent.com/4493366/125120119-52c0b300-e0f2-11eb-9eba-deab9ddf2f3e.png)
![Screen Shot 2021-07-09 at 20 14 23](https://user-images.githubusercontent.com/4493366/125120121-53594980-e0f2-11eb-9b53-a6a393a01dd5.png)

[2021-07-09 18:17] lucaderi opened #5656 "Protocol Filter not working as expected"
![Screen Shot 2021-07-09 at 20 15 42](https://user-images.githubusercontent.com/4493366/125120229-7a178000-e0f2-11eb-92a8-a50885fb2f90.png)

In the flow explorer, the protocol filtering is not working as expected: when clicking on it the drop-down menu is not selecting the correct entry

[2021-07-09 18:19] lucaderi opened #5657 "Add Threshold to Client/Server Score Anomaly"
The score anomaly alert detects changes in behaviour but it does not enforce a high value. So if a host has a very high score value (e.g. above 1000) that is steady, no alert is produced.

This is to require the implementation of a max score threshold value (configurable) that an alert is triggered until the score is above the specified threshold.

[2021-07-10 23:53] develop-cloud opened #5658 "ntopng fresh install(as module) on pfsense | host_details.lua internal server error"
Hi,

I'm using a (trough pfsense) a 'fresh' install of ntopng that finalises successfully.

When using(inside the ntopng webinterface-dashboard) the links for a IP address(more details) or client(more details) I end up with this content with this url. The url is different than the original pointer of the link-url.

original: http://xxx.xxx.xxx.xxx:3000/lua/host_details.lua?host=xxx.xxx.xxx.xxx
end

[2021-07-11 12:46] ShagoY opened #5659 "Pre-build package for Debian bullseye?"
Hi,
The last update of Proxmox is based on Debian GNU/Linux 11 (bullseye) which makes your packages unusable.

I wonder if you have planned a pre-build package for this version in the future?

[2021-07-12 07:21] simonemainardi commented on #5658
please, report ntopng version used

[2021-07-12 09:20] lucaderi opened #5660 "No domain name dumped in flow database (nIndex)"
The historical flow database does not report the domain name

![Screen Shot 2021-07-12 at 11 14 44](https://user-images.githubusercontent.com/4493366/125262610-9d187e80-e302-11eb-8562-9ed34661732a.png)

whereas this info is shown in the in the flow

![Screen Shot 2021-07-12 at 11 18 41](https://user-images.githubusercontent.com/4493366/125263123-0d270480-e303-11eb-8c64-e5b0ce49cd8e.png)

This need

[2021-07-12 09:23] lucaderi opened #5661 "Symbolic host names are missing from top Interface hosts"
![Screen Shot 2021-07-12 at 11 22 15](https://user-images.githubusercontent.com/4493366/125263661-8161a800-e303-11eb-9b4f-534231777acc.png)

[2021-07-12 09:26] cardigliano commented on #5656
Fixed

[2021-07-12 11:50] thomasbruchet opened #5662 "No access to User Script configuration."
Hello.

Regarding the doc, user script should be available on:  Settings->User Scripts.
https://www.ntop.org/guides/ntopng/web_gui/user_scripts.html

I've no User Script into Settings menu:
![image](https://user-images.githubusercontent.com/86605223/125266621-47de6c00-e306-11eb-9199-2db990a3beaa.png)

$ ntopng --version
Version:        4.3.210712 [Enterprise/Professional build]
GIT rev:        dev

[2021-07-12 13:18] MatteoBiscosi commented on #5661
Fixed in all the "Top" views (Top l7 contacts, Top server, Top client)

[2021-07-12 13:36] #5519 closed, assigned to simonemainardi

[2021-07-12 15:33] MatteoBiscosi commented on #5660
Fixed under the pro repo

[2021-07-12 15:37] MatteoBiscosi commented on #5662
Hi @thomasbruchet we recently changed 'User Scripts' into 'Checks' and we still have to update the documentation, so from now on you access the User Scripts by going into 'Settings->Checks'.
Sorry for the trouble.

[2021-07-12 16:14] lucaderi commented on #5610
The goal of this ticket is to make sure people can find what they are looking, see what options are available, regardless of the place where checks are implemented (as today).

[2021-07-12 17:18] cardigliano opened #5663 "Missing Application for Unknown Flows"
The Application cell is empty for flows with Unknown applications protocol (looking at the flow details, the reported application is Unknown). In this case ntopng is collecting flows from nProbe. Is this expected?

<img width="491" alt="Screen Shot 2021-07-12 at 19 16 49" src="https://user-images.githubusercontent.com/7548711/125329430-c4dd0600-e345-11eb-8892-17d952a4882e.png">

[2021-07-12 17:21] lucaderi opened #5664 "Invalid Suspicious Device Protocol Reported"
The client is not a printer so this alert should not be reported

![Screen Shot 2021-07-12 at 19 18 32](https://user-images.githubusercontent.com/4493366/125329667-11284600-e346-11eb-9fdf-2e81b5a78cf1.png)
![Screen Shot 2021-07-12 at 19 18 59](https://user-images.githubusercontent.com/4493366/125329681-138aa000-e346-11eb-8506-fce5feef49f6.png)

[2021-07-12 17:23] lucaderi commented on #5661
Verified as fixed

[2021-07-12 17:23] #5661 closed, assigned to MatteoBiscosi, VasilisTako

[2021-07-12 17:24] lucaderi commented on #5657
No default value (1000) is set
![Screen Shot 2021-07-12 at 19 23 53](https://user-images.githubusercontent.com/4493366/125330214-bf33f000-e346-11eb-8a2f-32a07031a705.png)

[2021-07-12 17:26] lucaderi commented on #5660
![Screen Shot 2021-07-12 at 19 25 44](https://user-images.githubusercontent.com/4493366/125330385-fd311400-e346-11eb-8ec1-e7092f90439c.png)
Where should the name be set ? Info is empty

[2021-07-12 17:27] lucaderi commented on #5656
Verified as fixed

[2021-07-12 17:27] #5656 closed, assigned to cardigliano

[2021-07-12 17:28] lucaderi commented on #5655
Verified as fixed

[2021-07-12 17:28] #5655 closed, assigned to MatteoBiscosi

[2021-07-12 17:28] lucaderi commented on #5652
Verified as fixed

[2021-07-12 17:28] #5652 closed, assigned to MatteoBiscosi

[2021-07-12 17:31] lucaderi commented on #5650
![Screen Shot 2021-07-12 at 19 29 29](https://user-images.githubusercontent.com/4493366/125330828-847e8780-e347-11eb-9302-4a29b59ae61b.png)
There is a new bug I believe introduced with #5657. In essence it seems that an empty value for the score is interpreted as 0 and this is wrong as 0 means no check.

[2021-07-12 17:33] lucaderi commented on #5596
Verified as fixed

[2021-07-12 17:33] #5596 closed, assigned to MatteoBiscosi

[2021-07-13 06:58] thomasbruchet commented on #5662
Hi.
Thank you for this answer.
I'm looking for a way to whitelist a specific couple Host/event to have it in the flow as notice, not as an error.
I will looking on Discord for some help.

[2021-07-13 07:24] lucaderi opened #5665 "Raise an alert when a host contacts an abnormal number of countries/ASN"
In every local host keep track of the number of different countries and ASN contacted (if GeoIP is disabled this check won't apply) by incrementing a counter (e.g. based on HLL) when a new flow is created. Implement a threshold in the host that checks when a host contacts a high number of countries/ASN (this can be set by implementing a high threshold e.g. with default value 100), as well when its

[2021-07-13 07:48] simonemainardi commented on #5664
Alert has been triggered for the server, which seems to be a printer. Indeed, see "Server application....".

Please explain.

[2021-07-13 07:50] simonemainardi commented on #5662
duplicate of https://github.com/ntop/ntopng/issues/5303

[2021-07-13 07:50] #5662 closed, assigned to nobody

[2021-07-13 07:57] MatteoBiscosi commented on #5657
The threshold empty is due to the fact that the alert was already enabled before the update. In fact if you click `Reset to Factory Value` below the score is going to be added correctly.

[2021-07-13 08:19] lucaderi opened #5666 "Missing flow fields in database dump"
In the flow database, the following fields are missing
- observationPointId
- probe IP address

[2021-07-13 08:26] lucaderi opened #5667 "Implement upper-limit boundaries in collection mode"
Currently, ntopng does not check any upper limit in terms of a number of collectors. Potentially place where the system will break include (but are not limited to)

- the interface page (only a few probes are reported)
- the flow page (super long list)
- the collectors page (ever-increasing list)

Also, make sure that the code limits the number of collectors to an upper bound to prevent memory ove

[2021-07-13 09:03] MatteoBiscosi commented on #5660
It should be fixed now, pro repo.

[2021-07-13 09:38] lucaderi commented on #5667
Use nprobe --stress-test ... to put pressure on ntopng

[2021-07-13 09:52] lucaderi opened #5668 "Inconsistent naming"
![image](https://user-images.githubusercontent.com/4493366/125431450-c785d4eb-078e-489d-a3a0-47796505403c.png)

In the above page there are 4 different words to identify the same thing
- Flow device
- Flow Exporter
- Probe
- Collector
This needs to be fixed

[2021-07-13 09:56] lucaderi opened #5669 "Add ability to edit ObservationPoint Name"
![Screen Shot 2021-07-13 at 11 55 43](https://user-images.githubusercontent.com/4493366/125432111-243fa823-2400-4ddf-8410-8d383ea1ee37.png)

This is similar to what happens for instance with VLANs

[2021-07-13 09:58] lucaderi opened #5670 "Unify Flow Device Timeseries Preferences"
![image](https://user-images.githubusercontent.com/4493366/125432424-599ea6fa-1b65-41ec-9e12-0a63bc7841b8.png)

Merge the two preferences above to avoid complicated setups

[2021-07-13 09:59] lucaderi commented on #5670
Make sure that the names you will use in preferences are consistent with https://github.com/ntop/ntopng/issues/5668

[2021-07-13 10:10] lucaderi commented on #5657
Verified as fixed

[2021-07-13 10:10] #5657 closed, assigned to MatteoBiscosi

[2021-07-13 10:12] simonemainardi commented on #5668
not to say that the documentation carries the old name 'exporters'

[2021-07-13 10:16] simonemainardi commented on #5669
implement with a REST API endpoint `./scripts/lua/rest/v2/set/obsservation_point/alias.lua` similar to what we have for host `./scripts/lua/rest/v2/set/host/alias.lua`.

The UI should do REST API requests to set the alias.

Extend the REST API swagger doc with documentation when implemented.

[2021-07-13 10:20] lucaderi commented on #5611
The implementation is working and populates a new menu entry at the bottom of the interface menu

[2021-07-13 10:20] #5611 closed, assigned to MatteoBiscosi, VasilisTako

[2021-07-13 10:22] lucaderi opened #5671 "Missing Infrastructure documentation"
Please document the infrastructure feature, as well write a blog post

[2021-07-13 10:23] lucaderi commented on #5611
![image](https://user-images.githubusercontent.com/4493366/125436153-298af681-2a52-412b-ab97-e300f506b2b7.png)

[2021-07-13 10:30] simonemainardi commented on #5620
trial licenses expired cause ntopng to exit

[2021-07-13 10:30] #5620 closed, assigned to nobody

[2021-07-13 10:37] lucaderi opened #5672 "Infrastructure Monitoring is Broken"
With the latest version of ntopng, infrastructure monitoring is no longer working

![image](https://user-images.githubusercontent.com/4493366/125437880-cdca7b47-3b1a-4275-8dac-0b6697d736bc.png)

Empty page clickign on a chart
![Screen Shot 2021-07-13 at 12 35 04](https://user-images.githubusercontent.com/4493366/125437906-3df839a9-6cf9-45ff-b473-4f26864c4445.png)

[2021-07-13 10:41] simonemainardi commented on #5634
Malicious signatures are shown both under the flows:

![image](https://user-images.githubusercontent.com/3397663/125438363-5069b354-f5b2-43d9-b979-dbaf59eff618.png)

![image](https://user-images.githubusercontent.com/3397663/125438392-43874317-9888-4fed-95a8-eb9d2d0b5c30.png)

and host page

![image](https://user-images.githubusercontent.com/3397663/125438439-a7a49df0-2a37-4489-914b-a5affa3d3189.p

[2021-07-13 10:41] #5634 closed, assigned to simonemainardi

[2021-07-13 10:41] simonemainardi commented on #5634
we will consider serialization of JA3 in a future release

[2021-07-13 13:49] thomasbruchet opened #5673 "Not able to create"
Hello.

I want to manage my host into "Host Pool" but the button " + " is grey.
![image](https://user-images.githubusercontent.com/86605223/125462506-2213c92b-9af6-4f97-bc1a-b8d46605e7e3.png)

I've already add some Host
![image](https://user-images.githubusercontent.com/86605223/125463338-0c77b938-732c-422c-9d1c-aa9b6ce90d36.png)

Is there some config to change in ntopng.conf or something that I m

[2021-07-13 13:50] lkjom opened #5674 "Unable to Add Recipient"
Pretty much identical to https://github.com/ntop/ntopng/issues/4787 (Ntop reinstall didn't resolve)

Cookies / Cache cleared , Various Browsers, Chome, Firefox . Reinstalled NTOPNG from scratch, Attempted with account Authorized by Radius and by builtin Admin

Was possible in the Past perhaps around November but since when you click on add the element becomes disabled  and the edit_notification_re

[2021-07-13 14:53] simonemainardi commented on #5673
Number of pools is limited by the license. What's the license you're running?

[2021-07-13 14:56] thomasbruchet commented on #5673
I'm runnin a ntopng Enterprise M v.4.3.210712 (Debian GNU/Linux 10 (buster)) |

Version:        4.3.210712 [Enterprise/Professional build]
GIT rev:        dev:d94034735289abd07087d7fc7cddd8f7bcf9cd91:20210712
Pro rev:        r3991
Built on:       Debian GNU/Linux 10 (buster)
System Id:      5404F99DB206AB13
Platform:       x86_64
Edition:        Enterprise M
License Type:   Permanent
Maintenance:

[2021-07-13 14:58] simonemainardi commented on #5673
how many pools have you defined so far?

[2021-07-13 15:05] thomasbruchet commented on #5673
I've created no pools, the only one that exist is the default one (screenshot on first message).
<html><body>

Name | Members
-- | --
Default | All unbound

</body>
</html>

[2021-07-13 15:05] lucaderi commented on #5672
Possible regression of #5417 ?

[2021-07-13 15:09] simonemainardi commented on #5673
Sorry, I think it is a bit misleading. To create host pools, go under tab "Host", not "Host Pool". Tab "Host Pool" is to create pools of host pools. Currently not useful.

[2021-07-13 15:18] thomasbruchet commented on #5673
OK, that is what I do for now. but this group of host are not usable in Flow filter.
There are not "Hosts" filter nor "Host Pool" in Active Flows, is that a normal situation ?
I've some "Host" already created with IP attached to this host. and I don't understand the point to attach an IP to Host if we can not use it for filter ? Maybe I missed something ?

![image](https://user-images.githubuserco

[2021-07-13 16:42] cardigliano commented on #5663
Fixed in 0207d4be056dc1e8b11a39cb5e09413a312a38cb

[2021-07-13 16:42] #5663 closed, assigned to nobody

[2021-07-13 19:32] phantomski77 opened #5675 "arm64v8 version 4.x for Raspberry Pi 4"
Any chance the ntopng versions `4.2` and above will be available for `arm64v8` architecture?

I have managed to modify the Dockerfile that would build an image and run the container on Raspberry Pi 4 (Debian Buster) - [see pull request here](https://github.com/ntop/docker-ntop/pull/4).

The latest available version is only `3.8.190204` however.

Strangely enough `ntopng-data` is available in `4.2`

[2021-07-14 06:19] simonemainardi commented on #5675
Did you check nightly raspbian packages available at https://packages.ntop.org?

The ntopng-data you are referring to is not distributed by us. Currently, we are not distributing ntopng-data for the raspberry. That was due to issues with libmaxminddb geolocation. I believe that now we can reconsider this.

[2021-07-14 06:21] jaiinfant opened #5676 "Multple .lua files not found, 3000 port alredy in use so cant start https and config export gives network error"
fresh install of pfsense verson: 2.5.2-RELEASE (amd64)
absolutely on default configuration
followed by fresh install of ntopng Community v.4.2.210624 by inbuild package manager.
after enabling ntopng and only monitoring lan nterface, i can access ntopng webui. no errors shown. but when i try to export current configuration i get network error.
 all browsers gave same network issue error .
![Captur

[2021-07-14 06:22] simonemainardi commented on #5675
Sorry, actually we have started distributing also ntopng-data https://packages.ntop.org/RaspberryPI/buster_pi/all/ntopng-data/

I believe you have all the ingredients.

[2021-07-14 06:24] simonemainardi commented on #5676
To install, please use official instructions at https://www.ntop.org/guides/ntopng/third_party_integrations/pfsense.html

[2021-07-14 06:35] jaiinfant commented on #5676
ok ill try this and update here

[2021-07-14 10:16] simonemainardi opened #5677 "Jailed Host Pool and Host Pool Maximums"
The addition of a new builtin host pool seems to have reduced the maximum number of pools by one.

This ticket to to increase maximum pools limits according to what is specified in https://www.ntop.org/products/traffic-analysis/ntop/

[2021-07-14 10:23] simonemainardi opened #5678 "Avoid generating empty timeseries for view interfaces"
With view interfaces, there are timeseries that cannot be generated, .e.g, device timeseries or (for viewed interfaces) timeseries with the number of hosts.

This is to skip the generation of such timeseries.

[2021-07-14 10:42] cardigliano commented on #5674
The lua endpoint has been improved to provide more info (not just 'failed') in case of failures. A new update will be available later today. Please check it and let us know. Thank you.

[2021-07-14 10:45] MatteoBiscosi commented on #5668
The only "exporter" name I left are the ones that could compromise the compatibility with the current version (like timeseries or C stats)

[2021-07-14 13:05] #5678 closed, assigned to simonemainardi

[2021-07-14 13:09] simonemainardi commented on #5669
add http prefix when requesting REST API paths

[2021-07-14 15:05] lucaderi opened #5679 "Missing option for doubling automatically -X/-x"
![Screen Shot 2021-07-14 at 17 02 50](https://user-images.githubusercontent.com/4493366/125645371-c3fc043e-4456-47af-9c7f-6837178e5ad6.png)

This used to work some time ago for applications started from systemd. It can be reproduced with ntopng Enterprise L v.4.2.210629

Regression of #5136 ?

[2021-07-14 15:06] simonemainardi commented on #5672
Issue is due to infrastructure instances having the REST API version hardcoded in the key.

This means infrastructure instances added with version v1/ are not visible under version v2/. Similarly, version v2/ works only with version v2.

For the time being, compatibility has been ensured by using version v1/ which will work also under stable 5.0. Then, by release 5.2, we will remove this hardcoded

[2021-07-14 15:06] #5672 closed, assigned to simonemainardi

[2021-07-14 15:12] simonemainardi opened #5680 "Support REST API Versions in Infrastructure Monitoring"
Infrastructure monitoring doesn't support REST API versions. Indeed, the version is hardcoded inside the infrastructure key.

![image](https://user-images.githubusercontent.com/3397663/125646383-c26eb4b3-0d5d-49dc-9157-a5b38273d316.png)

This must be removed. Also, infrastructure implementation should be cleaned and implemented as a regular active monitoring measure.

[2021-07-14 16:30] #5434 closed, assigned to nobody

[2021-07-14 16:49] #5664 closed, assigned to simonemainardi

[2021-07-14 16:50] simonemainardi commented on #5664
Fixed:

- Server application alerts are only triggered if the server has responded
- Messages explain the issue more clearly

![image](https://user-images.githubusercontent.com/3397663/125661138-17d25020-d54c-4a5d-834d-96924317ebd3.png)

[2021-07-14 16:51] #5670 closed, assigned to MatteoBiscosi

[2021-07-14 17:50] brunobcestari commented on #5470
Hello!
I managed to fix it here by adding my local network range in both **nprobe.conf** and **ntopng.conf** files with

`--local-networks=<local-ip range>`

After adding this parameter in both files I started to see separate traffic for RX and TX coming from Traffic Flow.

[2021-07-14 18:31] phantomski77 commented on #5675
I've looked at all the repositories and their package contents, and where `all` is available as an architecture, the `ntopng` is actually missing in the packages (it is available only in `x64` architecture).

The only place where there's at least `armhf` version available is the [Raspberry Pi repository](https://packages.ntop.org/RaspberryPI/).

`arm64` architecture is only available in official D

[2021-07-14 19:16] lucaderi commented on #5672
Verified as fixed. @simonemainardi next time let me close the ticket I open after reviewing it. Thanks

[2021-07-14 19:17] lucaderi opened #5681 "Resolved hostnames must be lowercase"
![image](https://user-images.githubusercontent.com/4493366/125679934-f06c1a4b-262c-496d-85df-2a410f06f83a.png)

[2021-07-14 19:22] lucaderi opened #5682 "Infrastructure monitoring triggers a false positive risk"
![image](https://user-images.githubusercontent.com/4493366/125680537-90e1a9f1-bf70-45b9-94f7-ae5de9cf2dc3.png)

[2021-07-14 22:57] jaiinfant commented on #5676
I installed using official method as you said and got latest ntopng Community v.4.3.210714 (FreeBSD 12.2). now everything works fine. seems like pfsense inbuild package manager ntopng version is currently broken. Thankyou

[2021-07-15 07:12] simonemainardi commented on #5676
Thank you for reporting.

[2021-07-15 07:12] #5676 closed, assigned to nobody

[2021-07-15 07:20] simonemainardi commented on #5675
Thank you. For the time being, we are not able to also build and maintain for `arm64` as we believe `armhf` is enough for now to support raspberry and other embedded devices.

By using the Dockerfile you've kindly provided, `arm64` can still benefit from ntopng or such architectures.

Thank you.

[2021-07-15 07:20] #5675 closed, assigned to nobody

[2021-07-15 09:00] #5677 closed, assigned to simonemainardi

[2021-07-15 15:13] simonemainardi commented on #5667
Interface page now shows at most two nProbes

![image](https://user-images.githubusercontent.com/3397663/125812190-86dcf28e-0edf-4da5-ae15-fe81165b027b.png)

Then a summary page is accessible with the whole list

![image](https://user-images.githubusercontent.com/3397663/125812295-72cd8454-1626-4056-b94f-8fb1b630329c.png)

[2021-07-15 16:30] derekslenk commented on #5677
I updated to the newest version on OPNsense and the issue persists

[HostPools.cpp:394] WARNING: Ignoring pool [pool id: 5]. Maximum number of host pools for this license is 5, inclusive of the Not Assigned pool.

![image](https://user-images.githubusercontent.com/42957/125824109-082134c5-34aa-4a54-8de3-437576abfb13.png)

 - edit: just realized that it might be tomorrow's nightly that contains it

[2021-07-15 17:02] simonemainardi commented on #5677
Correct. Fix will be available from tomorrow.

[2021-07-16 07:06] lucaderi commented on #5669
In case an observation Point has a custom name set, the text box must contain the value preciously set ("Test" in the example below) and not an empty box

![image](https://user-images.githubusercontent.com/4493366/125906608-a1d9f3e6-9e53-4424-9e6a-3bb01ff679b1.png)

Also please remove debug messages on the console

 table
alias string Test
observation_point string 3333
 table
alias string Test
obs

[2021-07-16 10:49] simonemainardi commented on #5681
Remove duplicated function. 773b538  does not remove. Please leave only `Utils::stringtolower`.

[2021-07-16 11:49] lucaderi opened #5683 "Invalid Traffic Totals"
In this picture, this host in a year has made 10 GB

![image](https://user-images.githubusercontent.com/4493366/125942858-2146f115-0b13-4ea5-b530-f773b0cf37f3.jpeg)

whereas in the last week 56 GB. This is not possible
![image](https://user-images.githubusercontent.com/4493366/125942890-21aca78b-a325-4e7a-b924-efe787f47414.jpeg)

The timeseries backend is RRD

[2021-07-16 12:26] lucaderi opened #5684 "Rework Column Key in Probes List"
![image](https://user-images.githubusercontent.com/4493366/125946952-b95f6f06-af19-4f03-aed9-f7aa0bd829b5.png)

The current probe key is the nProbe IP and not the interface name used by the probe. Note that multiple probes can run on the same host hence in the future this will be extended with other info such engineId or similar.

[2021-07-16 13:00] lucaderi commented on #5644
Verified as fixed

[2021-07-16 13:00] #5644 closed, assigned to MatteoBiscosi

[2021-07-16 13:00] simonemainardi commented on #5667
As per the bounds:

- The number of nProbe instances identified with `source_id` is limited to 255 due to the `u_int8_t` used as map key.
- The number of flow devices (*collectors*) handled (regardless of how many nProbe are sending them) has been set to `MAX_NUM_OBSERVATION_POINTS` (pro commit c6845461945ecb2fbfeedab4a4f72ca1cce5d39c)
- The number of sFlow devices handled is already limited by `N

[2021-07-16 13:14] lucaderi opened #5685 "[nIndex] VLAN Id present in Dump but not as a Column"
![Screen Shot 2021-07-16 at 15 13 48](https://user-images.githubusercontent.com/4493366/125953611-53aed84a-355a-4e14-9124-c819f3d4c75c.png)

[2021-07-16 13:16] lucaderi opened #5686 "Unable to edit value for ObservationPointID"
![Screen Shot 2021-07-16 at 15 10 42](https://user-images.githubusercontent.com/4493366/125953750-009b3708-8dee-4d06-9378-27ac63ff5dc2.png)

this is contrary to all other fields
![Screen Shot 2021-07-16 at 15 16 03](https://user-images.githubusercontent.com/4493366/125953917-6e30c5f6-d2ca-42f6-ba9f-0cdc8f6b976f.png)

[2021-07-16 13:16] lucaderi commented on #5666
Verified as fixed

[2021-07-16 13:16] #5666 closed, assigned to MatteoBiscosi

[2021-07-16 13:51] lucaderi opened #5687 "Historical Flow Navigation Bug"
When disabling begin/end time
![Screen Shot 2021-07-16 at 15 49 22](https://user-images.githubusercontent.com/4493366/125958452-ba927a55-f153-40e8-a009-387582fdcfe0.png)

the following error shows up when clicking on actions

![Screen Shot 2021-07-16 at 15 49 30](https://user-images.githubusercontent.com/4493366/125958431-0850ed5e-bba6-4d22-a56f-438666796d61.png)

[2021-07-16 13:52] lucaderi opened #5688 "Historical Flow Navigation Improvements"
- Observation point values are not mapped to aliases
- The actions column must be the rightmost column

[2021-07-16 13:59] simonemainardi commented on #5684
This has already been reworked. Please, review.

[2021-07-16 20:54] lucaderi opened #5689 "Misleading Time Pickers"
ntopng's time pickers are misleading.
![Screen Shot 2021-07-16 at 22 44 11](https://user-images.githubusercontent.com/4493366/126006543-b0462339-3850-4ea8-a5b9-bbc1f519059f.png)
![Screen Shot 2021-07-16 at 22 45 06](https://user-images.githubusercontent.com/4493366/126006632-97a0029d-7988-439c-8cfe-aba31c708295.png)

First of all their style is not homogeneous, but the main problem is that the tim

[2021-07-16 21:29] lucaderi opened #5690 "Continuous check update slows down operations"
ntopng calls check_update.lua every 10 seconds

![image](https://user-images.githubusercontent.com/4493366/126009744-6448b6a3-b145-46fa-8bd5-92baf5b6d902.png)

Said that this is not a good practice, in case the check update is slow, the GUI is slow when rendering the menu

You can reproduce this bug on 194.242....

[2021-07-16 21:51] rajkumar78 opened #5691 "ntopng not showing data when you select the interface graph"
ntopng not showing data when you select the interface graph as shown in the attached pic.
I am expecting this to show the TOP senders during the time I select the graph

![image](https://user-images.githubusercontent.com/87549353/126011843-d1ff5fc2-d239-4be2-89c6-064ce2cb5e76.png)

[2021-07-17 06:50] simonemainardi commented on #5690
Moreover, the new offline mode should be used to completely avoid checks when ntopng is offline

[2021-07-18 16:17] jag5cof opened #5692 "can't login on raspberry pi buster"

[2021-07-18 16:17] jag5cof commented on #5692
the default user and password is not working

[2021-07-19 07:12] simonemainardi commented on #5692
See https://www.ntop.org/guides/ntopng/faq.html#cannot-login-into-the-gui

[2021-07-19 07:12] #5692 closed, assigned to nobody

[2021-07-19 09:52] cardigliano commented on #5690
Optimized in 717c73d6498a75de4fb4a0358300c13dc62a518a

[2021-07-19 09:54] cardigliano commented on #5690
Offline mode is also disabling updates check with 56d63ae507f1f5dc5079bf7941f455b25b0be292

[2021-07-19 10:13] tanobar commented on #5665
Me and my colleague @D0kken took in charge the issue and we have thought of a solution:
Two objects Cardinality will be added in LocalHostStats.h to count respectively the number of different ASN and different Countries contacted. In LocalHostStats.h will be defined the methods for counters management. In Flow.cpp whenever a new flow will be detected and the associated counter increased by incNumF

[2021-07-19 13:52] MatteoBiscosi commented on #5687
Fixed Pro repo

[2021-07-19 14:21] MatteoBiscosi commented on #5688
Fixed Pro Repo

[2021-07-19 14:25] simonemainardi commented on #5637
Alternatives:
- item
- object
- unit
- element
- entity

Note that also entity is used also by Home Assistant to manage devices (https://www.home-assistant.io/docs/configuration/customizing-devices/) so I am not sure this term is meaningless (https://github.com/ntop/ntopng/issues/5161).

Please, pick one and report.

[2021-07-19 14:27] simonemainardi commented on #5679
Are you getting this behavior also with version 4.3? According to the tests I've run 4.3 seems not to be affected.

Please, also report the OS / distro and keep in mind that the the functionality only works on packaged versions.

[2021-07-19 14:58] simonemainardi commented on #5668
![image](https://user-images.githubusercontent.com/3397663/126180376-2428ec1b-6cbc-49f6-9976-0c81752590c2.png)

[2021-07-19 15:03] MatteoBiscosi commented on #5686
Fixed, pro repo

[2021-07-19 16:04] simonemainardi commented on #5679
Feature is supported as of 4.3. Version 4.2 does not support in-place changes.

[2021-07-19 16:04] #5679 closed, assigned to nobody

[2021-07-19 17:42] adipadalwar opened #5693 "Unable to see TOP sender data under interface"
![image](https://user-images.githubusercontent.com/87663746/126194052-1402afd7-9afc-4812-8148-80aecb773419.png)

[2021-07-19 20:20] lucaderi commented on #5688
Verified as fixed

[2021-07-19 20:20] #5688 closed, assigned to MatteoBiscosi

[2021-07-19 20:21] lucaderi commented on #5687
Verified as fixed

[2021-07-19 20:21] #5687 closed, assigned to MatteoBiscosi

[2021-07-19 20:23] lucaderi commented on #5669
1. First problem: the bracket is no longer squared
![Screen Shot 2021-07-19 at 22 21 43](https://user-images.githubusercontent.com/4493366/126222222-42974a3c-5fd8-4c56-961f-108da6f04358.png)

2. Error
![Screen Shot 2021-07-19 at 22 21 21](https://user-images.githubusercontent.com/4493366/126222320-30ea10e5-9932-4655-8bc5-4914ea89f5f2.png)

[2021-07-19 20:23] lucaderi commented on #5686
Verified as fixed

[2021-07-19 20:23] #5686 closed, assigned to MatteoBiscosi

[2021-07-19 20:24] lucaderi commented on #5684
Verified as fixed

[2021-07-19 20:24] #5684 closed, assigned to simonemainardi

[2021-07-19 20:28] lucaderi commented on #5668
Verified as fixed (even though via ZMQ we have only nProbes)

[2021-07-19 20:28] #5668 closed, assigned to nobody

[2021-07-19 20:31] lucaderi commented on #5667
Verified as fixed

[2021-07-19 20:31] #5667 closed, assigned to simonemainardi

[2021-07-19 20:33] lucaderi commented on #5660
Verified as fixed

[2021-07-19 20:33] #5660 closed, assigned to MatteoBiscosi

[2021-07-19 20:43] lucaderi opened #5694 "Score alerts are not generated for all hosts"
Score is enabled with a top value of 5000
![Screen Shot 2021-07-19 at 22 39 38](https://user-images.githubusercontent.com/4493366/126224420-adf85500-e680-49d5-8060-f6c73ba848f5.png)

Several hosts have high score
![image](https://user-images.githubusercontent.com/4493366/126224482-1e665461-22d7-4bcb-955a-9bcd85082c96.png)

Only 4 hosts have alerts
![image](https://user-images.githubusercontent.com

[2021-07-19 20:45] lucaderi opened #5695 "Engaged alerts are lost across restarts"
When a ntopng Instance with engaged alerts is restarted, engaged alerts are lost (not nice but ok) and they do not appear in past alerts. They need at least to be stored in past alerts

[2021-07-19 20:59] lucaderi commented on #5637
Choose and close this ticket

[2021-07-19 21:09] lucaderi commented on #5690
![Screen Shot 2021-07-19 at 23 08 48](https://user-images.githubusercontent.com/4493366/126227754-04540960-2b57-449d-a48d-ff7c54de6bc6.png)
I still see it called often

Furthermore, the menu is still hanging, maybe for a different issue, but it needs to be investigated. You can reproduce it on 194... hosts you have access to

[2021-07-19 21:10] lucaderi commented on #5650
Seems to work even though this is somehow related to https://github.com/ntop/ntopng/issues/5694

[2021-07-19 21:10] #5650 closed, assigned to MatteoBiscosi

[2021-07-20 08:00] cardigliano commented on #5690
TIming fixed/improved in fce7511388df0bf58bbc69c46b0d5c3677b802e2

[2021-07-20 08:47] MatteoBiscosi commented on #5665
Hi @tanobar and @D0kken the solution you thought about is right. However like luca suggested, instead of using normal counters it should be better using HLL counters and every 5 minutes add the results to a DES structure. In this way we are going to have both a static and a dynamic threshold, like it is currently implemented for the contacted hosts (check hll_contacted_hosts into LocalHostStats cl

[2021-07-20 09:16] simonemainardi commented on #5683
Fixed but honestly the modified code is almost completely unreadable and without comments so we should really consider throwing it in favor of something simple and manageable.

[2021-07-20 09:47] simonemainardi commented on #5683
still bugged for applications:

![image](https://user-images.githubusercontent.com/3397663/126301592-f13590ff-419a-4112-9b16-00a89a047eeb.png)

![image](https://user-images.githubusercontent.com/3397663/126301657-ea0ffa2e-c842-4a83-825b-a2c29879f16b.png)

[2021-07-20 09:51] simonemainardi commented on #5683
This seems to be an artifact of RRD when showing timeseries with almost no data. Please review.

[2021-07-20 10:33] simonemainardi commented on #5694
Issue is potentially fixed in the referenced commit and companion pro commit.

It was likely due to the use of the DES-smoothed score value rather that the actual score value when comparing it with the threshold.

Builds are in progress, please check and report.

[2021-07-20 12:22] simonemainardi commented on #5695
I have verified that a clean shutdown causes engaged alerts to be released for:

- interfaces
- hosts
- local networks

Missing alerts can therefore be to to an unclean shutdown.

[2021-07-20 12:30] #5637 closed, assigned to nobody

[2021-07-20 12:31] simonemainardi commented on #5674
No feedback received in 6 days, reopen with feedback if necessary.

[2021-07-20 12:46] simonemainardi opened #5696 "Upgrade Tests [Ubuntu 20.04]"
It is requested to test the upgrade between 4.2 and 4.3 (which soon will become 5.0 stable) on ubuntu 20.04 using packaged versions of ntopng:

- Install stable packages
- Run version 4.2
- Install dev packages
- Check ntopng data and make sure no error is occurring

Tests must be done using:

- [x] RRD
- [x] InfluxDB
- [x] nIndex
- [x] With host pools defined
- [x] With endpoints and recipients d

[2021-07-20 12:48] simonemainardi opened #5697 "Upgrade Tests [Centos 8]"
It is requested to test the upgrade between 4.2 and 4.3 (which soon will become 5.0 stable) on Centos 8 using packaged versions of ntopng:

- Install stable packages
- Run version 4.2
- Install dev packages
- Check ntopng data and make sure no error is occurring

Tests must be done using:

- [ ] RRD
- [ ] InfluxDB
- [ ] nIndex
- [ ] With host pools defined
- [ ] With endpoints and recipients defin

[2021-07-20 12:50] simonemainardi commented on #5303
@MatteoBiscosi please document the dangerous host and the host ban.

[2021-07-20 12:52] simonemainardi opened #5698 "REST API documentation is out of sync"
Several v1/ and v2/ endpoints are not documented. It is requested to upgrade https://github.com/ntop/ntopng/blob/dev/doc/src/api/rest/rest-api-v2.json to make sure every endpoint under v2/ is listed as swagger.

[2021-07-20 12:53] simonemainardi opened #5699 "Upgrade Tests [Suricata and Syslog]"
It is requested to test the upgrade with suricata and syslog integrations, and also extend the documentation where necessary.

[2021-07-20 12:54] simonemainardi opened #5700 "ntopng and nProbe Agent"
It is requested to test the latest ntopng and nProbe agent to make sure they can communicate together properly and show all the eBPF information.

[2021-07-20 12:56] simonemainardi opened #5701 "Import / Export / Reset Tests"
It is requested to test the import/export/reset functionalities, both individually and as entire configuration

![image](https://user-images.githubusercontent.com/3397663/126327833-f88ed61c-3a49-4424-bbf9-7874f8d8c2b8.png)

Also verify that the export of checks include check exclusions

[2021-07-20 13:03] simonemainardi opened #5702 "External recipients"
It is requested to test all external recipients currently available.

Make sure to at least have host and flow alerts delivered, with all the necessary information (e.g., the 5-tuple for flows).

For the mail plugin, make sure it works with Gmail.

[2021-07-20 13:04] lkjom commented on #5674
Apologies I was running on Stable branch instead of Nightly whilst waiting for the update . I have now updated from 4.2->4.3
![image](https://user-images.githubusercontent.com/87376849/126328954-fc08842e-326f-4609-82ac-d0d30d31fd0c.png)

[2021-07-20 13:05] simonemainardi commented on #5674
remove the recipient and try to re-add it.

[2021-07-20 13:11] lkjom commented on #5674
Removed all endpoints starting from Scratch
![image](https://user-images.githubusercontent.com/87376849/126329365-c86d4eef-4a0c-4471-a5c9-497ef752c4b2.png)
Added test with IP of basic syslog server
![image](https://user-images.githubusercontent.com/87376849/126329443-5bf0a6f5-d2da-42dd-bba1-f1be21d39b81.png)
![image](https://user-images.githubusercontent.com/87376849/126329494-238ffd36-916c-48d9-a

[2021-07-20 13:12] TimotheusBachinger opened #5703 "Getting a cookie for a LDAP username"
Hi Ntop Team,

We have the use case where ntop and checkmk is connected to the same LDAP.

Usally we're retriving a cookie for a ntop user via a ntop admin account:

[code]

But when using the LDAP user name, we cannot get a cookie for this user:
[code]

Can you reproduce this on your side and maybe fix this?

Best regards
Timi

[2021-07-20 13:36] cardigliano commented on #5674
@lkjom it seems there is something messed up with your endpoints, I suggest to reset the configuration from Settings -> Manage Configurations and reset Endpoints and Recipients

[2021-07-20 13:50] lkjom commented on #5674
As above Settings->Manage Configurations and reset endpoints and Recipients

Same outcome im afraid , the Command did wipe existing test endpoints (was no recipients anyways)

"Internal_error"

[2021-07-20 13:54] simonemainardi commented on #5701
- [x] SNMP
- [x] Active Monitoring
- [x] Checks
- [x] Endpoints and Recipients
- [x] Pools
- [x] Infrastructure
- [x] Entire configuration

[2021-07-20 14:42] simonemainardi commented on #5701
Verified. Fixes in the referenced commits.

[2021-07-20 14:42] #5701 closed, assigned to simonemainardi

[2021-07-20 15:36] VasilisTako commented on #5689
Updated under Pro version. Waiting for review about "Custom" field behavior when changing date.

[2021-07-20 15:59] simonemainardi commented on #5700
Verified

![image](https://user-images.githubusercontent.com/3397663/126356799-0b4112d4-7bcc-4e5e-ba28-663a5ec8042f.png)

[2021-07-20 15:59] #5700 closed, assigned to simonemainardi

[2021-07-20 21:24] lucaderi commented on #5659
We will provide Debian 11 packages once it ill be officiall released

[2021-07-21 08:08] cardigliano commented on #5674
Any chance we can take a look a this together in a call (or providing ssh)?

[2021-07-21 09:14] simonemainardi commented on #5696
Verified

[2021-07-21 09:14] #5696 closed, assigned to simonemainardi

[2021-07-21 09:21] lkjom commented on #5674
Sure We can do a call and have a remote session sure let me know when suits , im 9-5 London time

[2021-07-21 10:33] MatteoBiscosi commented on #5625
Fixed, pro repo

[2021-07-21 13:56] cardigliano commented on #5697
Verified

[2021-07-21 13:56] #5697 closed, assigned to cardigliano

[2021-07-21 15:21] cardigliano commented on #5703
This is supported for Local users only at the moment. This needs to be extended to also LDAP users.

[2021-07-21 15:37] cardigliano commented on #5674
@lkjom please send a direct email to cardigliano at ntop.org

[2021-07-21 15:42] cardigliano commented on #5699
Verified

[2021-07-21 15:42] #5699 closed, assigned to cardigliano

[2021-07-22 10:19] #5698 closed, assigned to simonemainardi

[2021-07-22 10:23] simonemainardi opened #5704 "Interface REST API endpoints not reading ifid"
There are several REST API endpoints that don't read the interface id. It is requested to:

- always pass `ifid` when the UI needs to call the endpoints
- throw an `INVALID_INTERFACE` error when `ifid` is not submitted

Endpoints are:

- [x] /lua/rest/v2/charts/host/map.lua
- [x] /lua/pro/rest/v2/get/maps/periodicity_map.lua
- [x] /lua/pro/rest/v2/get/maps/service_map.lua
- [x]  /lua/pro/rest/v2/g

[2021-07-22 10:26] simonemainardi commented on #5704
moreover, to clean the tree, only for v2/, do the following moves

/lua/pro/rest/v2/get/maps/periodicity_map.lua -> /lua/pro/rest/v2/get/interface/map/periodicity.lua
/lua/pro/rest/v2/get/maps/service_map.lua -> /lua/pro/rest/v2/get/interface/map/service.lua
/lua/pro/rest/v2/get/observation_points/stats.lua -> /lua/pro/rest/v2/get/interface/observation_points/stats.lua
/lua/rest/v2/charts/host/map

[2021-07-22 14:21] simonemainardi commented on #5683
I went on and can also say this is due to the loss of precision RRD when going back in time.

For example, this is what I get when querying monthly and yearly data, respectively

![image](https://user-images.githubusercontent.com/3397663/126648705-df6846a6-424e-4081-9e8a-ccb8a87f1792.png)

![image](https://user-images.githubusercontent.com/3397663/126648809-7d26a16c-4994-4150-9fac-832657300a44.png

[2021-07-22 14:32] cardigliano commented on #5702
All endpoints have been verified and the documentation updated

[2021-07-22 14:32] #5702 closed, assigned to cardigliano

[2021-07-22 15:44] simonemainardi commented on #5693
Likely the interval is too tiny (see you have 5 minutes).

Try to enlarge a bit.

[2021-07-22 15:46] simonemainardi commented on #5673
Host pool filter is available under the active flows page

![image](https://user-images.githubusercontent.com/3397663/126668466-fe00a8fe-64ae-4189-bbfa-d820737c7165.png)

You will see all hosts grouped by pool there.

[2021-07-22 16:52] lucaderi commented on #5681
Verified as fixed

[2021-07-22 16:52] #5681 closed, assigned to MatteoBiscosi

[2021-07-22 16:54] lucaderi commented on #5683
Please add a warning in the chart that reports a possible loss of accuracy with large time intervals, and close this ticket.

[2021-07-22 16:55] lucaderi opened #5705 "Empty Networks/Hosts report with View Interfaces"
![Screen Shot 2021-07-22 at 18 55 00](https://user-images.githubusercontent.com/4493366/126678191-e416c8b0-f62a-4d4b-93cb-bbce4ed49db4.png)

[2021-07-22 16:58] lucaderi commented on #5690
Problem mitigated but still hanging
![image](https://user-images.githubusercontent.com/4493366/126678495-e0da1b13-5d28-4cb5-b6df-e3be039de24f.png)
![image](https://user-images.githubusercontent.com/4493366/126678554-0f34627b-1157-4a4c-b047-2605db5ccbda.png)

[2021-07-22 17:02] lucaderi commented on #5685
Verified as fixed

[2021-07-22 17:02] #5685 closed, assigned to MatteoBiscosi

[2021-07-22 17:03] lucaderi opened #5706 "Invalid Hostname Resolution"
![Screen Shot 2021-07-22 at 19 02 45](https://user-images.githubusercontent.com/4493366/126679291-057b566b-bd52-4ecf-9011-c6d01a91f960.png)

[2021-07-22 17:04] lucaderi commented on #5706
![Screen Shot 2021-07-22 at 19 04 14](https://user-images.githubusercontent.com/4493366/126679499-1efeaf7b-fe5e-4e2f-9c50-d9f05a50fe17.png)

Also here
deri@Lucas-iMac.local 201> host 192.168.1.178
Host 178.1.168.192.in-addr.arpa. not found: 3(NXDOMAIN)

[2021-07-22 17:07] lucaderi commented on #5689
There is still a flaw. Click on Interface -> Chart icon you get
![Screen Shot 2021-07-22 at 19 06 11](https://user-images.githubusercontent.com/4493366/126679759-a5597104-c18c-46c0-9f24-41dd7e441f03.png)
as in hosts
![Screen Shot 2021-07-22 at 19 06 44](https://user-images.githubusercontent.com/4493366/126679848-65c77e54-a9fb-49e0-a7c7-f82d47c010a7.png)
and alerts
![Screen Shot 2021-07-22 at 19 13

[2021-07-22 17:08] lucaderi opened #5707 "Timepickers need to be Harmonised"
![Screen Shot 2021-07-22 at 19 05 21](https://user-images.githubusercontent.com/4493366/126679915-278c5e74-fe40-424d-b605-8127cfdb9174.png)
![Screen Shot 2021-07-22 at 19 06 44](https://user-images.githubusercontent.com/4493366/126679922-ee96e4a8-a08d-4686-aa39-7786a9c36d73.png)

[2021-07-22 17:10] simonemainardi commented on #5689
yes, this has already been reported @VasilisTako is dealing with it

[2021-07-22 17:11] lucaderi commented on #5625
I still see the above problem, with hosts that do not exist instead of MAC addresses
![Screen Shot 2021-07-22 at 19 10 52](https://user-images.githubusercontent.com/4493366/126680347-2e6b0cbf-1a89-4863-8ec3-9de44b5aa359.png)
![Screen Shot 2021-07-22 at 19 11 05](https://user-images.githubusercontent.com/4493366/126680363-b3a540f0-b3cc-4b24-a06e-dc10516b76ae.png)

[2021-07-22 17:17] lucaderi commented on #5695
Verified as fixed (they appear on the past page).

Please add the commit fixing this issue and close this ticket.

[2021-07-22 17:18] lucaderi commented on #5694
The bug was not DES related but static threshold related. It seems to be fixed now.

[2021-07-22 17:18] #5694 closed, assigned to simonemainardi

[2021-07-23 01:44] MaoPann opened #5708 "Historical Flow Explorer"
I remember there wasHistorical Flow Explorer before, but now it seems to be gone?

![image](https://user-images.githubusercontent.com/44804599/126728536-d714a0a3-bb46-4049-8345-9f87f0d8d994.png)

![image](https://user-images.githubusercontent.com/44804599/126728572-bc32d040-40cc-4a4e-a000-dab535c165e0.png)

[2021-07-23 03:38] #5708 closed, assigned to nobody

[2021-07-23 06:27] MaoPann opened #5709 "Historical Flow Explorer"
1、I export the history stream to elasticsearch. Can I view and export the history flows on ntopng? Just like Historical Flow Explorer?
2、Can we export the history flows to ES and MySQL at the same time?

[2021-07-23 07:19] cardigliano commented on #5690
The check update call is now async, I already updated the box (today) and it seems the page is loading smoothly, please confirm (actually I was not able to reproduce the issue even before).

[2021-07-23 07:22] cardigliano opened #5710 "OEM Customizations: custom favicon"
Add support for setting a custom favicon

[2021-07-23 07:32] simonemainardi commented on #5709
Historical explorer is available when using nIndex or MySQL, not Elasticsearch

Only one downstream recipient is supported at time.

[2021-07-23 07:32] #5709 closed, assigned to nobody

[2021-07-23 07:59] simonemainardi commented on #5462
Fixed.

[2021-07-23 07:59] #5462 closed, assigned to nobody

[2021-07-23 10:14] cardigliano commented on #5674
This was caused by a "corrupted" redis db. There was a lock key in a bad state (even the TTL did not remove the key), cleaning up it fixed the issue.

[2021-07-23 10:14] #5674 closed, assigned to cardigliano

[2021-07-23 10:42] simonemainardi commented on #5706
Several things that may have caused the reported behavior have been addresses so possibly the issue is now fixed.

Specifically:

- It looks like your 'google' LAN host has only flows as server so my guess is that ntopng has only seen partial traffic. I have modified the behavior to set the name only when we are sure about the server host, i.e., no swap heuristic https://github.com/ntop/ntopng/com

[2021-07-23 12:12] thomasbruchet opened #5711 "Link Error - You are not supposed to be here."
Hello.

I've a webpage error when I try to go into the "Check settings" of a "warning" alert for a device.
[code]

I select my [interface] then [Alert]>[Device]
![image](https://user-images.githubusercontent.com/86605223/126779057-ccbd6a3e-8f2b-4a5e-a4fc-1cfdf52fd229.png)

On the new page, I'm going to clic on the settings icon for an alert ![image](https://user-images.githubusercontent.com/866052

[2021-07-23 12:12] simonemainardi commented on #5695
No commit has fixed it, likely, as explained above, missing alerts were due to an unclean shutdown.

[2021-07-23 12:12] #5695 closed, assigned to simonemainardi

[2021-07-23 12:27] thomasbruchet commented on #5673
Hello,
There is no Host pool Filter available under the active flows page
Here is my host pool list for all the interfaces, the 2 that I mark are active on the selected interface.
![image](https://user-images.githubusercontent.com/86605223/126780947-4f82c1a0-9e5b-49c4-8829-1cc95a9ca5fa.png)

On the Active Flows of this interface there are no filter in "Host Pool"
![image](https://user-images.githu

[2021-07-23 12:29] thomasbruchet opened #5712 "Host pool filter is not available on one interface."
Hello,
There is no Host pool Filter available under the active flows page
Here is my host pool list for all the interfaces, the 2 that I mark are active on the selected interface.
![image](https://user-images.githubusercontent.com/86605223/126780947-4f82c1a0-9e5b-49c4-8829-1cc95a9ca5fa.png)

On the Active Flows of this interface there are no filter in "Host Pool"
![image](https://user-images.githu

[2021-07-23 14:37] simonemainardi commented on #5625
Said that the current implementation is far from being optimal, the rework I've done should fix the behavior reported.

[2021-07-23 15:08] cardigliano commented on #5704
Fixed on 1540d46e7a5434619996c95bfc8803128a0be4cc and 55e1d38e086df287c8a37b9befb07659baf77c74 (and the pro branch)

[2021-07-23 15:08] #5704 closed, assigned to cardigliano, MatteoBiscosi

[2021-07-23 15:26] #5673 closed, assigned to nobody

[2021-07-23 15:34] simonemainardi commented on #5712
Please, try and disable disaggregation, restart ntopng, and report.

[2021-07-23 15:36] simonemainardi commented on #5711
It is not clear how to trigger this behavior.

Please attach additional examples, and where you click, including the whole alert line with the type.

[2021-07-23 15:48] #5683 closed, assigned to simonemainardi

[2021-07-23 18:43] thomasbruchet commented on #5712
I'm on vacation for a week and can't do anything on the system.  Please consider my issue as hold for a week.

[2021-07-23 18:43] thomasbruchet commented on #5711
I'm on vacation for a week and can't do anything on the system.  Please consider my issue as hold for a week.

[2021-07-26 07:04] martinscheu commented on #5545
@cardigliano thanks for the explanation. Our workflow is to search for anomalies, i.e. we don't know what we are looking for. We start with biggest time frame and then look for unexpected applications, therefore the ancient pre-filter of only showing applications present in the events, helped a lot. The top alerts helps, but often what we are looking for is at the end of the top list, like one odd

[2021-07-26 10:09] simonemainardi commented on #5705
Addressed in the pro part

![image](https://user-images.githubusercontent.com/3397663/126972254-e8daf261-6843-4bb0-8373-a6459eeb9abb.png)

[2021-07-26 10:12] simonemainardi commented on #5691
Likely addressed in the pro part. Hold on a couple of hours, update to the latest 4.3 stable, and it will work.

[2021-07-26 10:13] simonemainardi commented on #5693
Duplicate of https://github.com/ntop/ntopng/issues/5691. Likely addressed in the pro part. Hold on a couple of hours, update to the latest 4.3 stable, and it will work.

[2021-07-26 10:13] #5693 closed, assigned to nobody

[2021-07-26 10:48] simonemainardi commented on #5665
@tanobar please let us know if the suggestion given works for you. You can also go with the cardinality counters if you reset them periodically.

[2021-07-26 10:50] simonemainardi commented on #5658
No feedback received. Make sure to install using the instructions at https://www.ntop.org/guides/ntopng/third_party_integrations/pfsense.html

Feel free to reopen with the requested information if necessary.

[2021-07-26 10:50] #5658 closed, assigned to nobody

[2021-07-26 10:51] simonemainardi commented on #5633
Please, provide examples of the reported behavior as is is not clear to me.

[2021-07-26 10:52] #5593 closed, assigned to nobody

[2021-07-26 10:54] simonemainardi commented on #5574
please attach screenshots as it doesn't seem to be reproducible

![image](https://user-images.githubusercontent.com/3397663/126977934-b4c61e27-8812-4107-8b4d-245cdaecaab7.png)

[2021-07-26 10:55] simonemainardi commented on #5553
@ankan1979 sorry for the late reply. Do you have / can you generate a Netstream pcap that we can use to reproduce the issue in our lab?

[2021-07-26 10:56] simonemainardi commented on #5618
any news?

[2021-07-26 10:59] simonemainardi commented on #4921
handled by https://github.com/ntop/ntopng/issues/5675

[2021-07-26 10:59] #4921 closed, assigned to nobody

[2021-07-26 13:13] tanobar commented on #5665
Yes, we followed the suggestions. We're almost done. We have to review some things but if you want we can do the Pull Request to show the status of the job.

[2021-07-26 17:41] develop-cloud commented on #5658
Hi,

Thank you for the replays. The versions were the latest on the moment of creating the topic.

I can confirm that i did not use the provided manual (given above), but the plugin repository installation/add feature of pfsense.

The errors look related of what is described in the manual, given in the link above.

I can not rebuild the situation of wich this ticket is based on due to hardware rep

[2021-07-27 05:31] ankan1979 commented on #5553
Hi  Simone,

Please find the PCAP file.

Regards,

Ankan

On Mon, Jul 26, 2021 at 4:25 PM Simone Mainardi ***@***.***>
wrote:

[2021-07-27 06:54] simonemainardi commented on #5553
There's no pcap attached. Please check.

[2021-07-27 06:58] ankan1979 commented on #5553
Hi Simone,

Please find the attachment.

On Tue, Jul 27, 2021 at 12:24 PM Simone Mainardi ***@***.***>
wrote:

[2021-07-27 07:30] cardigliano commented on #5512
@MaoPann I think you have too much pressure on the disk, n2disk is using the disk affecting the ntopng performance for IO operations, what disk model (or raid configuration) are you using?

[2021-07-27 08:00] simonemainardi commented on #5553
There is no pcap attached. Please, don't respond to the email. Visit the GitHub issue page and attach the file from there.

[2021-07-27 09:13] ankan1979 commented on #5553
Hi Simone,

I am trying to attach  but the file format is not supporting it. Can I send it to your telegram chat?

Regards,

Ankan

[2021-07-27 09:14] simonemainardi commented on #5553
zip it and it will work

[2021-07-27 09:59] ankan1979 commented on #5553
Hi Simone,

Yes, I missed sorry.
[netstream.zip](https://github.com/ntop/ntopng/files/6884533/netstream.zip)

[2021-07-27 10:34] simonemainardi commented on #5553
Attached pcap doesn't contain enough information. Templates are missing:

![image](https://user-images.githubusercontent.com/3397663/127140167-6a250e91-08b6-4b01-ae71-ce5c2f4f4e71.png)

Let the capture running for longer, make sure there are templates inside, and re attach. Thank you.

[2021-07-27 10:44] lucaderi commented on #5669
Verified as fixed

[2021-07-27 10:44] #5669 closed, assigned to MatteoBiscosi, VasilisTako

[2021-07-27 10:46] lucaderi commented on #5705
Verified as fixed

[2021-07-27 10:46] #5705 closed, assigned to nobody

[2021-07-27 10:48] lucaderi commented on #5625
Better (I see MAC addresses now) but still bugged as in the main graph there are some edges that disappear during drill-down.

![Screen Shot 2021-07-27 at 12 47 23](https://user-images.githubusercontent.com/4493366/127141732-b9b96c4d-b706-4ab4-91f0-30aad1557f31.png)
![Screen Shot 2021-07-27 at 12 47 17](https://user-images.githubusercontent.com/4493366/127141739-3aeb3ac3-9e35-48bd-a2f2-45d83cb985b

[2021-07-27 11:14] simonemainardi commented on #5671
- Documentation added in the referenced commit
- Blog post available at: https://www.ntop.org/ntopng/infrastructure-monitoring-observing-the-health-and-status-of-multiple-ntopng-instances/
- Youtube video available at: https://www.youtube.com/watch?v=7yWaN3yRErI

[2021-07-27 11:32] lucaderi opened #5715 "Invalid result reported when no L7 contacts can be found"
![image](https://user-images.githubusercontent.com/4493366/127146747-87e59012-6d7b-4ba2-8998-cbfe4a613335.png)

[2021-07-27 11:43] lucaderi opened #5716 "Raise an alert when a host contacts an abnormal number of host names"
Same as #5665 but counting domain names contacted by a host. In essence in every localHost instantiate a HLL data structure with a few bytes (4 can be enough) and for every flow do
-  char *name = ndpiFlow ? ndpi_get_flow_name(ndpiFlow) : NULL;
- increment the HLL member used to count the number of contacted host names
- Raise an alert when a high number of names is contacted every 1 (or 5) minute

[2021-07-27 12:14] D0kken commented on #5716
My colleague @tanobar and I are working for this Issue. Anyway, is the use of a DES data structure still required ?

[2021-07-27 14:42] ankan1979 commented on #5553
Hi Simone,

Please check this one.
[netstream1.zip](https://github.com/ntop/ntopng/files/6886415/netstream1.zip)

[2021-07-27 17:33] simonemainardi opened #5717 "Service/Periodicity Maps - Handle Collisions"
Seems `PeriodicityHash::updateElement` don't handle colliding elements. Collisions should be handled.

[2021-07-27 17:35] simonemainardi commented on #5625
Issue should be resolved now but this needs to be handled https://github.com/ntop/ntopng/issues/5717

[2021-07-27 23:13] espectrorj opened #5718 "Support for aarch64 packages"
Dear All,

Since last update ntopng starts but the process gets restarted after a few seconds in an endless loop.

Any help appreciated.

Regards,

--> The environment - Raspberry Pi 4:

Version:        4.3.210725 [Enterprise/Professional/Embedded build]
GIT rev:        dev:51072aea7492cb7cf831120cc14e95867b62660d:20210725
Pro rev:        r4057
Built on:       Raspbian GNU/Linux 10 (buster)
Platfo

[2021-07-28 06:14] MaoPann opened #5719 "Wrong traffic statistics"
version : ntopng 4.2 bundle stable ,
os : centos7

I use nprobe to receive NetFlow and then use ntopng to monitor, but I encounter an incorrect traffic statistics. Ntopng shows that there is 3TB of DNS traffic,but we checked that the host traffic is actually only tens of KB

![image](https://user-images.githubusercontent.com/44804599/127272826-920cd3fe-d06e-45a3-b379-5e80e730ac3c.png)

[2021-07-28 07:01] MaoPann commented on #5719
Similar error

![image](https://user-images.githubusercontent.com/44804599/127278456-5866a3de-e3f0-4510-83bc-e957ed19ad1c.png)
![image](https://user-images.githubusercontent.com/44804599/127278501-d2043689-0c66-4f6f-b232-c7d64aee0eaf.png)

[2021-07-28 07:14] TimotheusBachinger commented on #5703
Thanks for the information. Can you estimate a time frame when this will be possible?

[2021-07-28 12:17] simonemainardi commented on #5719
You have sampled NetFlow traffic (see https://github.com/ntop/nProbe/issues/499), so collected traffic is upscaled according to the sampling factor.

If you don't want to upscale the traffic, you can tune nProbe option `--sample-rate`. You can also tune the upscaling behavior by changing this:

![image](https://user-images.githubusercontent.com/3397663/127320777-03493c75-48c7-4dba-91d5-e1a8542221c

[2021-07-28 12:17] #5719 closed, assigned to nobody

[2021-07-28 12:26] simonemainardi commented on #5718
Reproduced.

[2021-07-28 13:07] cardigliano commented on #5703
@TimotheusBachinger this ticket requires some considerations. When the (authenticated) LDAP user itself requires the creation of a new session, there should be no major issues in implementing this. However, when the admin user requires the creation of a session for an LDAP user, the LDAP authentication is required in order to verify that the user is valid. Is it fine to require also the user passw

[2021-07-28 13:58] simonemainardi commented on #5718
Fixed. Thanks for reporting. It was a sporadic issue due to timing. New build in progress. Hold on a couple of hours and update.

[2021-07-28 14:11] espectrorj commented on #5718
Sure, no problem.

Thank you for the fast fix, @simonemainardi!

Best regards.

[2021-07-28 16:23] phantomski77 commented on #5718
Tested latest `ntopng_4.3.210728-15127_armhf.deb`.

Still the same error:
[code]

And then it goes into continuous restart loop.

Raspberry Pi 4 Model B Rev 1.4
Linux 5.8.0-1029-raspi aarch64
Docker Engine 20.10.7

[2021-07-28 18:54] espectrorj commented on #5718
Same thing here, even after the update the error remains.

[code]

[2021-07-28 20:04] lucaderi opened #5722 "Errors during alert navigation"
![Screen Shot 2021-07-28 at 22 03 05](https://user-images.githubusercontent.com/4493366/127388194-2c3e0545-5514-42e9-bd4c-9f77e3753451.png)
![Screen Shot 2021-07-28 at 22 02 54](https://user-images.githubusercontent.com/4493366/127388198-08c01258-7bfe-42a8-b5e6-96a9c9afc384.png)

[2021-07-29 01:11] MaoPann commented on #5719
@simonemainardi
The sampling I'm talking about is set when the switch generates NetFlow. Nprobe did not sample NetFlow，in other words，--sample-rate=1 and lngress Packets Sampling Rate =1.
If it is only an approximate value, I can accept it, but some flows are thousands of times different from the actual flow.
Ntopng shows that there is 3TB of DNS traffic,but we checked that the host traffic is act

[2021-07-29 07:11] simonemainardi commented on #5719
- Attach a pcap capture of the NetFlow yielding those values (make sure it contains data and templates)
- Report the nProbe configuration used
- Report the ntopng configuration used

[2021-07-29 07:16] #5722 closed, assigned to nobody

[2021-07-29 07:17] simonemainardi commented on #5722
Thanks for reporting. It was part of a WIP that will be completed in the next few hours. I've temporarily disabled this.

[2021-07-29 07:18] simonemainardi commented on #5718
Are you guys running on docker? I am not currently able to reproduce.

[2021-07-29 07:23] simonemainardi commented on #5718
also try and execute the following command when ntopng is not started

[code]

then try a restart

[2021-07-29 10:19] #5715 closed, assigned to nobody

[2021-07-29 12:08] phantomski77 commented on #5718
Yes, Docker (the .arm64 version on rPi4 8GB).

I have tried the startup process step by step:

1. Nothing running:
[code]
2. After starting redis-server:
[code]
3. Using your command:
[code]
4. Starting ntopng:
[code]

Same error.
Same error after restart.

Could it be related to running armv7l code (32bit) on arm64v8 (64bit) system? Potential memory access to memory that doesn't exist, etc.

[2021-07-29 12:18] simonemainardi commented on #5718
This is probable. I have been running the latest version without crashes for hours after all tests have succeeded ( on a physical rpi).

@espectrorj are you on docker as well?

[2021-07-29 12:58] phantomski77 commented on #5718
Strange thing is all was perfectly fine on `v.4.3.210711`. Since then, all the subsequent builds fail with the same error. Something changed since that release that's causing it.

[2021-07-29 13:11] simonemainardi commented on #5718
I am not sure about the cause but you agree with me that running armv7l code (32bit)  on a dockerized arm64v8 (64bit) is quite hacky....

Are you able to build a debug version and run inside gdb?

[2021-07-29 13:32] phantomski77 commented on #5718
It's a bit hacky, I do agree, but should be perfectly within the realms of arm64v8 interpreter and instruction set. Plus rPi4 is 8x the memory of rPi3.

**A little update** - running ntopng on different interfaces produces different results. For example local loopback `-i lo` doesn't crash. Some of the Docker networks run for a while, then crash later. It seems to depend on type of packets receive

[2021-07-29 13:33] phantomski77 commented on #5718
Not on my own (never done that), but if you'd have time for little tutorial, I'm happy to test it.

[2021-07-29 14:04] espectrorj commented on #5718
Negative, no docker here.

I'm also running ntopng on arm64v8 (64bit) system.

[2021-07-29 14:14] espectrorj commented on #5718
Issued the above command and restarted ntopng but got the same error.

[code]

[2021-07-29 14:51] simonemainardi commented on #5718
How did you install the package? Unfortunately we are not yet supporting arm64v8

[2021-07-29 15:15] phantomski77 commented on #5718
I know you don't @simonemainardi and we're of course very grateful you're spending some time trying to find a solution. So thank you very much for your kind support!

If I can make a kind suggestion, I'd very much recommend putting some resources into this architecture. Raspberry Pi is an obvious example (that's how a lot of us start learning various systems before deploying them further or using

[2021-07-29 17:47] simonemainardi commented on #5718
@phantomski77 what's the actual rpi arm64v8 distribution you are using? And the hardware? we are trying to understand if we can produce the build

[2021-07-29 19:21] phantomski77 commented on #5718
**HW**: Raspberry Pi 4 Model B Rev 1.4 (8GB)
**CPU**: Broadcom [BCM2711](https://datasheets.raspberrypi.org/bcm2711/bcm2711-peripherals.pdf) (ARM Cortex-A72 - arm64v8A)
**Kernel**: Linux 5.8.0-1029-raspi
**OS**: Ubuntu 20.10 aarch64
**Docker**: 20.10.7 CE linux/arm64
**ntopng**: `4.3.210711` - **worked ok**, `4.3.210718`, `4.3.210725` and `4.3.210728` **didn't work.**

I'm using ntopng Docker vers

[2021-07-29 20:08] espectrorj commented on #5718
I switched to 32 bit kernel (armv7l+) and can confirm that the application is running fine for 30 minutes now.

But ntopng was working fine until latest updates as @phantomski77 already mentioned, even with 64 bit Kernel enabled.

`HW: Raspberry Pi 4 Model B Rev 1.2 (4GB)`

64 bit Kernel - Crashes and endless restart loop
[code]

32 bit Kernel - No issues so far.
[code]

[2021-07-30 08:49] MaoPann opened #5724 "Statistical report"
Can I set the number of top IPS for the reports generated by ntopng？
For example, I want to set top 150 IP addresses
![image](https://user-images.githubusercontent.com/44804599/127627563-1039a325-c1ce-4e4f-8670-5de74c0fe521.png)

[2021-07-30 08:52] #5671 closed, assigned to nobody

[2021-07-30 09:25] TimotheusBachinger commented on #5703
@cardigliano would this mean that for getting a session cookie for a LDAP user, we would need to sent the user password as well in the API request?
If yes, this would break our concept of "only storing NTOP admin credentials" on our side.

[2021-07-30 09:31] cardigliano commented on #5703
@TimotheusBachinger that was just a possible option, but I understand it works on specific use cases only. Another solution should be used then.

[2021-07-30 12:21] simonemainardi commented on #5703
The point is that if you want to generate a session cookie for an LDAP user, and you are "only storing NTOP admin credentials" then the NTOP admin should act as a proxy for the LDAP user.

So a possible solution can be:

1. The LDAP user tells check_mk `ldap_username` and `ldap_password`
2. check_mk uses the "NTOP admin credentials" to proxy `ldap_username` and `ldap_password` credentials to `v1/c

[2021-07-30 13:51] simonemainardi commented on #5303
Documentation updated in https://github.com/ntop/ntopng/commit/0bc1eb97d02d0c91655e02485daf3a325ef3e27c and subsequent commits

[2021-07-30 13:51] #5303 closed, assigned to simonemainardi, cardigliano

[2021-07-31 21:29] martinscheu commented on #5718
same issue after auto update. `Linux raspberrypi 5.10.52-v8+ #1440 SMP PREEMPT Tue Jul 27 09:56:40 BST 2021 aarch64 GNU/Linux` ntopng is installed native, but docker is running on the host.

[2021-08-02 08:32] lucaderi commented on #5706
Still bugged

$ redis-cli --scan --pattern *serialized_hosts* | xargs redis-cli del
redis-cli: No match.

![Screen Shot 2021-08-02 at 10 27 09](https://user-images.githubusercontent.com/4493366/127829701-f021d8a5-534c-4fb2-a5a6-ac9af4ba5d7c.png)

This localhost has accessed wp.net so that domain name has to be bound to the server and not to the client

![Screen Shot 2021-08-02 at 10 35 32](https:/

[2021-08-02 08:34] lucaderi commented on #5625
Still bugged as of today: there are MAC addresses that are unknown and many nodes with only one edge. Something is still wrong

[2021-08-02 08:38] lucaderi opened #5725 "Historical Flows Search Bug"
02/Aug/2021 10:35:24 [NIndexFlowDB.cpp:677] select(time: 1627893044/1627893530[486 sec], select: [IPV4_SRC_ADDR,SRC_LABEL,IPV4_DST_ADDR,DST_LABEL,VLAN_ID,IP_SRC_PORT,IP_DST_PORT,PROTOCOL,L7_PROTO,L7_PROTO_MASTER,PACKETS,TOTAL_BYTES,FIRST_SEEN,LAST_SEEN,SRC_ASN,DST_ASN,L7_CATEGORY,STATUS,FLOW_RISK,SRC2DST_DSCP,INFO,OBSERVATION_POINT_ID,PROBE_IP,SRC2DST_TCP_FLAGS,DST2SRC_TCP_FLAGS,SCORE,VLAN_ID], wh

[2021-08-02 08:40] lucaderi commented on #5326
Seems to work as expected

[2021-08-02 08:40] #5326 closed, assigned to simonemainardi, cardigliano

[2021-08-02 08:44] lucaderi commented on #5690
Seems to work now

[2021-08-02 08:44] #5690 closed, assigned to cardigliano

[2021-08-02 08:46] lucaderi opened #5726 "Reduce number of periodic checks"
If possible theseminute checks must be avoided

Aug  2 10:40:01 ntop2 CRON[8421]: (root) CMD (/usr/bin/ntopng-utils-manage-updates -a check-updates-on-demand)
Aug  2 10:40:01 ntop2 CRON[8422]: (root) CMD (/usr/bin/ntopng-utils-manage-updates -a handle-upgrade-requests)
Aug  2 10:41:01 ntop2 CRON[8849]: (root) CMD (/usr/bin/ntopng-utils-manage-updates -a check-updates-on-demand)
Aug  2 10:41:01 nto

[2021-08-02 08:54] cardigliano commented on #5726
Currently there is a cron task polling for requests from the GUI to check (on demand) if a new update is available through apt/yum, or install the update. In order to avoid this ntopng should run a script directly, with privileges for using apt, and other implications on the update mechanism (e.g. for upgrading and restarting ntopng)

[2021-08-02 09:06] thomasbruchet commented on #5711
Hello I'm back.
Here are the followings step to proceed.

![image](https://user-images.githubusercontent.com/86605223/127833983-804c2ed3-6128-456f-8554-31338f8fd0ad.png)

![image](https://user-images.githubusercontent.com/86605223/127834065-be3ca3cd-5f4e-4c76-bb94-a9f143abe1d7.png)

![image](https://user-images.githubusercontent.com/86605223/127834126-ae27deae-09cc-457b-a0ab-29bc0c13d241.png)

![i

[2021-08-02 09:15] simonemainardi commented on #5718
@everyone unless we officially support `aarch64` for binary packages, the issue is likely to occur.

You should not expect to have a package built for an architecture to be running on another architecture. The fact that is was working/not working is not really meaningful as it could be due to unpredictable factors, such as functions used, compilers and compiled instructions, and so on.

Solution t

[2021-08-02 09:20] cardigliano commented on #5726
ad726155a9a206df3c6ac3de52d345815fb1326a halves the number of cron script executions

[2021-08-02 09:39] simonemainardi commented on #5724
No. There are heuristics that estimate the number of top-talkers to keep in the report.

If you need arbitrary precision, use nIndex and store all flows. Using this you'll be able to extract any number of talkers, at the expense of more disk space used.

[2021-08-02 09:39] #5724 closed, assigned to nobody

[2021-08-02 10:41] lucaderi commented on #5725
This is bug is fixed automatically when https://github.com/ntop/ntopng/issues/5706 is fixed as the bug is on the displayed value.

[2021-08-02 10:41] #5725 closed, assigned to lucaderi

[2021-08-02 16:18] simonemainardi commented on #5706
Said that the host shown above has only flows initiated 'as server' and this makes me think you are only seeing partial traffic

![image](https://user-images.githubusercontent.com/3397663/127892431-3eb46496-2a64-47e3-826e-2af53d5c522f.png)

I was able to reproduce the issue by artificially throwing the first packet (with the SYN) of a TCP session

![image](https://user-images.githubusercontent.com

[2021-08-03 08:01] simonemainardi commented on #5718
Which distro would you like to have packaged? Ubuntu20?

[2021-08-03 08:02] simonemainardi commented on #5691
Closing for inactivity. Fix already distributed, feel free to provide feedback or reopen if necessary.

[2021-08-03 08:02] #5691 closed, assigned to simonemainardi

[2021-08-03 08:15] #5682 closed, assigned to simonemainardi

[2021-08-03 08:28] simonemainardi commented on #5707
part of https://github.com/ntop/ntopng/issues/5689

[2021-08-03 08:28] #5707 closed, assigned to nobody

[2021-08-03 08:29] simonemainardi commented on #5633
No feedback received. Reopen with the requested information if necessary.

[2021-08-03 08:29] #5633 closed, assigned to nobody

[2021-08-03 08:48] simonemainardi commented on #5553
I did an investigation using the file provided. I have done a replay of the netstream and fed it to nProbe and, in turn, ntopng.

I see there's a perfect match between the traffic seen under the exporters section (now renamed to probes) and the traffic measured in the interface. See

![image](https://user-images.githubusercontent.com/3397663/127986398-ae465f64-885e-4489-aa81-c7cfe5c19ec1.png)

So

[2021-08-03 10:55] phantomski77 commented on #5718
I personally prefer Docker, so it doesn’t really matter - Ubuntu 20 or 21 or Debian 10 would all do very nicely. If I needed to run this standalone, I’d probably prefer Debian for security, but no problem with Ubuntu 20.

[2021-08-03 11:02] phantomski77 commented on #5718
You’re absolutely right and this was always “nice to have” rather than a requirement. I was actually surprised it worked at all in `4.3.210711`, but when it stopped in later versions it was bit of a bummer. In my limited experience with arm arch it always seemed to be pretty reliable running the old instruction set, it’s usually memory addressing when it falls apart.

Absolutely. Big thumbs up if

[2021-08-03 13:12] espectrorj commented on #5718
+1 for Debian 10.

[2021-08-03 13:14] espectrorj commented on #5718
Exactly, @phantomski77.

Couldn't agree more.

[2021-08-03 16:52] lucaderi opened #5727 "Names are not supposed to be shortened"
![Screen Shot 2021-08-03 at 18 49 28](https://user-images.githubusercontent.com/4493366/128054821-e512b1b6-0244-4a58-bda4-43eafbd556a6.png)
While on the GUI, names need to be cut in size, they must be kept as they have been received for troubleshooting purposes.

Furthermore are already discussed, the tooltip must include the full hostname (unshortened) as well its numeric IP

[2021-08-03 17:40] simonemainardi commented on #5727
![image](https://user-images.githubusercontent.com/3397663/128060902-52a04f5d-876c-4ca9-a487-5af86f25c9bc.png)

[2021-08-03 21:40] chris-ruddy opened #5728 "Wrong pcap file format"
Pcap files with nanosecond timestamps are exported by ntopng (v.4.2.210729) in microsecond format instead of nanosecond format. This causes Wireshark to display the timestamps as negative numbers.

![image (1)](https://user-images.githubusercontent.com/87386616/128090003-47ea863e-8956-447c-a989-68e6b73f7e8a.png)

Nanosecond format pcap files have different magic numbers:

[code]

If you change the

[2021-08-04 09:03] cardigliano commented on #5728
@chris-ruddy how are you exporting the file? Could you provide more details about your configuration and operation? Thank you.

[2021-08-04 09:05] simonemainardi commented on #5727
Implemented the same behavior when drilling down nIndex flows under the pro

![image](https://user-images.githubusercontent.com/3397663/128154012-7af32d7f-bd6c-4985-85d3-e90e8dac992e.png)

[2021-08-04 09:29] thomasbruchet opened #5729 "Option to configure the traffic report"
Hello,

I would like export or use recipients/endpoints to send a mail with a daily/weekly/monthly traffic report and some options to configure thoses report like remove some information like in exemple;
- Top Networks [] [Average Traffic/sec]
- Top Countries [] [Average Traffic/sec]
- Top ASN [] [Average Traffic/sec]
- Top Local OS [] [Average Traffic/sec]
- Top Non-Local OS [] [Average Traffic/s

[2021-08-04 09:57] thomasbruchet commented on #5712
I've worked on this problem and find why there is no option to filter.
Filters only work on current view, not for the entire interface. In my case there was no flow in warning for the host pool that I've created.
So no flow for those host pools = no filter available.

I've looked for other flow with error linked to my host pool definition and the filter is OK.

The issue can be closed.

[2021-08-04 09:57] #5712 closed, assigned to nobody

[2021-08-04 09:59] thomasbruchet commented on #5712
Wrong understanding of how flow filters work

[2021-08-04 10:40] simonemainardi commented on #5574
Closing for inactivity. Please, reopen with the requested feedback if necessary.

[2021-08-04 10:40] #5574 closed, assigned to nobody

[2021-08-04 12:56] lucaderi opened #5730 "Invalid ntopng connections"
ntopng.exe , downloaded and installed from ntopng-4.3.210218-x64.zip  makes the following outgoing network connections.

processPath    proto    remoteIP    remotePort
C:\Program Files\ntopng\ntopng.exe    udp    81.164.131.245    5353
C:\Program Files\ntopng\ntopng.exe    udp    81.164.131.245    5353
C:\Program Files\ntopng\ntopng.exe    tcp    81.164.131.245    80
C:\Program Files\ntopng\ntopng

[2021-08-04 14:31] lucaderi commented on #5706
![Screen Shot 2021-08-04 at 16 34 40](https://user-images.githubusercontent.com/4493366/128200263-03fbbe64-fd32-473b-9dbf-03e0763af943.png)
Still bugged

deri@Lucas-iMac.local 214> redis-cli --scan --pattern *serialized_hosts* | xargs redis-cli del
redis-cli: No match.

(this is my router)
![Screen Shot 2021-08-04 at 16 29 41](https://user-images.githubusercontent.com/4493366/128199368-8958e664-54

[2021-08-04 14:34] lucaderi opened #5731 "Partial Hostname Resolution"
Similar to #5706

As you can see the symbolic name is available but not used

![image](https://user-images.githubusercontent.com/4493366/128199966-cfa1a1e0-9b28-4e27-ab11-f27cd2d006dd.png)

[2021-08-04 16:59] lucaderi opened #5732 "Service and periodicity maps broken"
![Screen Shot 2021-08-04 at 17 11 51](https://user-images.githubusercontent.com/4493366/128222955-719a25e0-55fe-4d9e-8111-746c1c6c7ae4.png)

[2021-08-04 17:00] chris-ruddy commented on #5728
@cardigliano we're exporting the file from the ntopng GUI:

<img width="1533" alt="Screen Shot 2021-08-04 at 12 59 40" src="https://user-images.githubusercontent.com/87386616/128223119-95b87154-c75e-4fc6-81f7-0cab67a1c46d.png">

Our setup is four n2disk instances write data to disk (with nanosecond timestamps), which is sent to ntopng with zmq.

Here is one n2disk config (the others are the same o

[2021-08-04 17:02] cardigliano commented on #5728
@chris-ruddy got it, thank you for the details

[2021-08-04 17:03] lucaderi opened #5733 "ntopng traffic (HTTP on port 3000) can't be secure"
![image](https://user-images.githubusercontent.com/4493366/128223514-37560f96-5d94-4d68-af34-653fba232797.png)

[2021-08-04 17:25] simonemainardi commented on #5733
The breed is read from nDPI. Please make `ndpi_get_proto_breed` with the same fingerprint of `ndpi_get_proto_category`. Indeed, it would be desirable to pass the whole `ndpi_protocol` to the function so that nDPI can check both the master and app protocols before deciding on the breed.

[2021-08-04 19:40] lucaderi commented on #5732
@MatteoBiscosi Please note that the interface alias is not taken into account and still view://... is used

[2021-08-04 19:41] lucaderi commented on #5731
Seems to work

[2021-08-04 19:41] #5731 closed, assigned to nobody

[2021-08-04 19:42] lucaderi commented on #5706
Not able to reproduce it now, it seems to be fixed

[2021-08-04 19:42] #5706 closed, assigned to nobody

[2021-08-04 19:45] lucaderi commented on #5727
Verified as fixed

[2021-08-04 19:45] #5727 closed, assigned to nobody

[2021-08-04 19:50] lucaderi commented on #5625
![image](https://user-images.githubusercontent.com/4493366/128245467-0cfba527-2b28-4f2f-aec6-a49d899e2b26.png)

![image](https://user-images.githubusercontent.com/4493366/128245576-71e07631-e56a-425f-ae3f-6e17da3e0e80.png)

Still bugged.

[2021-08-04 20:02] lucaderi opened #5734 "Periodicity Map Inconsistencies"
![Screen Shot 2021-08-04 at 21 51 32](https://user-images.githubusercontent.com/4493366/128245836-4b3cb330-96ab-475f-8fe1-d4db4f52f0e1.png)

In the periodicity map (and in the service map as well) in case the interface identified hosts with MAC addresses
- the CHIP icon must be put on all hosts or none. In the image it is on some hosts only
- clicking on the host 192.168.1.133 URL the page is refr

[2021-08-05 03:31] MaoPann commented on #5553
@simonemainardi Hi, I have encountered a similar problem. Please check the netstream pacp file below.
[netstream.zip](https://github.com/ntop/ntopng/files/6935736/netstream.zip)

[2021-08-05 06:25] simonemainardi commented on #5553
@MaoPann

[2021-08-05 06:35] simonemainardi commented on #5732
See now.

![image](https://user-images.githubusercontent.com/3397663/128303106-b4f83951-da92-422f-9fa3-2dfe42357d38.png)

[2021-08-05 06:58] simonemainardi commented on #5625
![image](https://user-images.githubusercontent.com/3397663/128305590-c753c973-e264-4d0d-89cf-0ec7b47ba24b.png)

![image](https://user-images.githubusercontent.com/3397663/128305620-69301d7c-17ba-4e52-ae32-93418cce2704.png)

[2021-08-05 07:01] ankan1979 commented on #5553
Hi Simone,

Please find the attachment. The snaps are taken for both Netstream and sFlow enabled devices with a sample rate of
![interface_real_traffic_utilization_sflow_enabled](https://user-images.githubusercontent.com/86306689/128306017-b8a078e7-24cb-4bd2-a9da-cb9399c331bd.png)
![sflow_int_real_traffic_show_accurate](https://user-images.githubusercontent.com/86306689/128306025-92be7264-80de-4ab

[2021-08-05 10:38] cardigliano commented on #5728
This has been fixed. A new dev package is already available. A new stable will be available soon.

[2021-08-05 10:39] #5728 closed, assigned to cardigliano

[2021-08-06 01:57] MaoPann commented on #5553
@simonemainardi  Hi,The situation I encountered is the same as ankan1979 above. I recorded a detailed test video and provide detailed information to help you solve the problem. The test information is not convenient to post on github. I will send it to you via email, please check it.

[2021-08-06 08:29] cardigliano commented on #5733
The lock icon is now used only for encrypted protocols, thumb up is used otherwise.
<img width="618" alt="Screen Shot 2021-08-06 at 10 26 58" src="https://user-images.githubusercontent.com/7548711/128481416-8c3d16cb-d94a-4578-9085-ca13722d9524.png">
<img width="731" alt="Screen Shot 2021-08-06 at 10 29 00" src="https://user-images.githubusercontent.com/7548711/128481442-4a6ab116-1a6d-4049-a465-50d

[2021-08-06 08:29] #5733 closed, assigned to lucaderi

[2021-08-06 09:40] thomasbruchet opened #5736 "Exclude Checks: Suspicious Device Protocol - Invalid arguments"
Hello,

I wanted to exclude an IP from a check and when I do, I get an error of Invalid arguments.
There are no arguments besides what is displayed that I can act on.

![image](https://user-images.githubusercontent.com/86605223/128491087-8d5d4f6a-98c4-4bc2-9404-a08711083793.png)

![image](https://user-images.githubusercontent.com/86605223/128490715-8ccd6963-56d8-4182-afdd-b2895c6223cf.png)

[2021-08-06 10:46] #5736 closed, assigned to simonemainardi

[2021-08-06 10:47] simonemainardi commented on #5736
Thanks for reporting. Issue is fixed and will be available in the next build within 24h.

[2021-08-06 12:03] lucaderi opened #5737 "Service Map Settings are Lost Across Restarts"
I have configured this service to be blocked
![Screen Shot 2021-08-06 at 14 00 06](https://user-images.githubusercontent.com/4493366/128507444-e9e5e4af-590c-467e-99a8-8435919afc55.png)
and the icon is now red.

Now I shut down ntopng, and start it over. This is what I got
![Screen Shot 2021-08-06 at 14 01 12](https://user-images.githubusercontent.com/4493366/128507461-5ba00953-9fba-4719-9068-41c39

[2021-08-06 12:10] lucaderi opened #5738 "Suspicious Service Maps Entries"
These service maps entries look very suspicious

![Screen Shot 2021-08-06 at 14 05 23](https://user-images.githubusercontent.com/4493366/128507888-da3aa918-ffe7-494c-81eb-bdeed33b0aff.png)

so I click on the host and I get
![Screen Shot 2021-08-06 at 14 05 44](https://user-images.githubusercontent.com/4493366/128508144-d397c2f1-f096-4be8-9086-83c5d5ac55ca.png)

I don't think TCP connections can be

[2021-08-06 12:14] lucaderi opened #5739 "Periodicity Map: Invalid Host Name"
In the periodicity map I zoom on this FreeBSD host that I have never seen on my network. This is the landing page. As you can see the title is sonos (correct) and the map contains FreeBSD (wrong).

![Screen Shot 2021-08-06 at 14 10 58](https://user-images.githubusercontent.com/4493366/128508448-1571cb2f-bf5a-4a8c-a489-c79039f37f03.png)

I now click on the sonos label on the menubar and I land into

[2021-08-06 12:14] lucaderi commented on #5734
Seems to be fixed but other open issues with maps are still open

[2021-08-06 12:14] #5734 closed, assigned to simonemainardi, MatteoBiscosi

[2021-08-06 12:22] lucaderi commented on #5732
This is what I get on 194.....

![Screen Shot 2021-08-06 at 14 21 15](https://user-images.githubusercontent.com/4493366/128509580-456edc7c-d586-434e-beaf-129f30943559.png)

and this is what happens when (with the service map selected) I switch interface

![Screen Shot 2021-08-06 at 14 21 45](https://user-images.githubusercontent.com/4493366/128509673-39095fcc-77a1-4eca-9db0-8032eadb5264.png)

[2021-08-06 12:23] lucaderi commented on #5625
It seems to work with the latest fixes

[2021-08-06 12:23] #5625 closed, assigned to simonemainardi, MatteoBiscosi

[2021-08-06 12:31] shegemarley opened #5740 "ntopng not resolving ip address"
hello,
i am an IT enthusiast with interest in networking and server administration, i am still on a learning stage and would want to learn more from those with vast experience.
i installed ntopng in bridge mode and it has never ben able to resolve ip address to hostnames.
can someone who has deployed it help with pointers if there is anything i have done wrong. ntopng seems to work well with what

[2021-08-06 13:01] simonemainardi commented on #5739
Issue regression of pro commit c9ae59ea01d7681c6b53e4d2b6c0cad6e238771b should be fixed now

[2021-08-06 15:47] martinscheu opened #5741 "Alerts show column selection with empty field"
Hi ntop team
On the alerts page, the "show column" selection has an empty field:
<img width="2114" alt="Screenshot 2021-08-06 at 17 44 14" src="https://user-images.githubusercontent.com/38549755/128536912-8e6aa9ba-d0a6-47c8-894b-f08ae3eb2296.png">
thanks, Martin

[2021-08-06 16:08] martinscheu opened #5742 "Local vs. Remote alert filter"
Hi ntop team
First the new GUI of the alerts page is awesome, thank you!

I would like to request additional filters for filtering local only, local - remote, remote - local, remote only. Local I define in the config file with the -m parameter in the ntopng.conf.

Thanks, Martin

[2021-08-07 17:47] lucaderi commented on #5737
Seems to be fixed

[2021-08-07 17:47] #5737 closed, assigned to simonemainardi, MatteoBiscosi

[2021-08-07 17:47] lucaderi commented on #5739
@simonemainardi Unable to reproduce it: assuming it is fixed?

[2021-08-07 17:53] lucaderi opened #5743 "Hardcoded Flow Risks ?"
![Screen Shot 2021-08-07 at 19 48 10](https://user-images.githubusercontent.com/4493366/128609512-addf5625-4c85-482e-a100-6f3394cd1def.png)

This is this pcap https://github.com/ntop/nDPI/blob/dev/tests/pcap/tls_alert.pcap and only one flow risk is reported although nDPi reports two. This makes me think that flow risks are hardcoded and this is not what I would expect as nDPI can add new risks ind

[2021-08-07 19:17] simonemainardi commented on #5739
Correct. Regression removed.

On Sat, 7 Aug 2021 at 19:48 Luca Deri ***@***.***> wrote:

--
Sent from my iPad. Sorry for typos.

[2021-08-08 10:23] lucaderi opened #5744 "Top Senders/Receivers Shouldn't Appear on the System Interface"
![Screen Shot 2021-08-08 at 12 21 12](https://user-images.githubusercontent.com/4493366/128628770-ea87c0df-e700-4859-9070-84dab1236351.png)

[2021-08-08 10:31] lucaderi opened #5745 "Flow Swap Does not seem to work the same way for all flows"
I would have expected to see these flows from XXX -> 8080, for all of them. Instead, this is not the case. Not sure this is the correct behaviour. Below you can find some screenshots (note that one one direction of traffic is monitored)

![image](https://user-images.githubusercontent.com/4493366/128628918-9071701c-27be-43ab-b342-6162e53590ce.png)

![image](https://user-images.githubusercontent.com

[2021-08-09 08:46] MaoPann commented on #5553
@simonemainardi Hi， Did you get my email?

[2021-08-09 09:00] MatteoBiscosi commented on #5732
Fixed, pro repo, the issue was just with the views

[2021-08-09 09:41] cardigliano commented on #5744
Fixed in pro

[2021-08-09 09:55] cardigliano commented on #5743
ntopng reports both issues on my installation, which are the same reported by ndpiReader. Was it linking an older ndpi library perhaps?

Risk stats [found 1 (100.0 %) flows with risks]:
	Obsolete TLS version (< 1.1)                 1 [50.0 %]
	TLS fatal alert                              1 [50.0 %]

<img width="1090" alt="Screen Shot 2021-08-09 at 11 54 15" src="https://user-images.githubuserconte

[2021-08-09 11:17] lucaderi commented on #2817
Implemented

[2021-08-09 11:17] #2817 closed, assigned to lucaderi

[2021-08-09 12:22] simonemainardi commented on #5738
I managed to reproduce the described behavior. This happens when hosts are serialized by MAC when a MAC generates ARP traffic.

What happens is:
- MAC generates ARP and this creates host 0.0.0.0 inside ntopng
- MAC generates IP traffic and this creates another host != 0.0.0.0, let's say 1.2.3.4, in ntopng
- MAC is seen both as 1.2.3.4 and 0.0.0.0
- When ntopng attempts at labelling MAC with an IP

[2021-08-09 13:13] lucaderi opened #5746 "Too much data submitted with the form"
The following alarm messages have been found on the ntopng console on an installation that was not in use.

09/Aug/2021 14:51:59 [LuaEngine.cpp:928] WARNING Too much data submitted with the form. [data len: 260908][max len: 131072]
09/Aug/2021 14:49:18 [LuaEngine.cpp:928] WARNING Too much data submitted with the form. [data len: 261247][max len: 131072]
09/Aug/2021 14:46:21 [LuaEngine.cpp:928] WAR

[2021-08-09 13:16] lucaderi opened #5747 "[Regression] Automatic and manual updates are broken"
This problem can be reproduced on 194...

![Screen Shot 2021-08-09 at 15 14 55](https://user-images.githubusercontent.com/4493366/128712132-eade4530-d31e-48f6-a805-4381f0b91330.png)

Manually everything seems to work

root@ntop2:/# apt-get install ntopng
Lettura elenco dei pacchetti... Fatto
Generazione albero delle dipendenze
Lettura informazioni sullo stato... Fatto
I seguenti pacchetti aggiunti

[2021-08-09 13:54] lucaderi commented on #5743
Why score is not accounted id nDPI reports you the score?

[2021-08-09 14:04] cardigliano commented on #5743
Score is not accounted for risks which are not fully supported by ntopng (when a specific Check / handler for the risk is not present)

[2021-08-09 14:06] simonemainardi commented on #5746
I have seen this error in the past an it should've been already resolved. Do you have the version?

[2021-08-09 14:09] lucaderi commented on #5743
This is a problem that needs to be fixed.

[2021-08-09 14:12] simonemainardi commented on #5745
As you've commented when discussing the implementation of the 'swap', no assumption on the direction can be made when only a direction of the traffic is seen.

So when only one direction of a _swap-candidate_ flow is seen, nothing is swapped. The swap takes place only when (and if) a packet in the opposite direction is seen.

For example, for the flow 8080<->53774 highlighted above, no swap is don

[2021-08-09 14:16] cardigliano commented on #5747
I tried to reproduce this on the same box but it's working now.. I will keep an eye on that, please let me know if it happens again (before running a manual update)

<img width="1055" alt="Screen Shot 2021-08-09 at 16 06 52" src="https://user-images.githubusercontent.com/7548711/128721012-fa3d9c35-6cd1-48a6-9607-c89775eb6d7d.png">
<img width="1065" alt="Screen Shot 2021-08-09 at 16 15 27" src="htt

[2021-08-09 14:24] simonemainardi commented on #5745
Anyway, in the referenced commit I have relaxed a bit the condition used to decide on the swap, to also keep into account non-well-known-ports > 1024. This should cover the 8080 http-alt as well.

[2021-08-09 14:31] lucaderi commented on #5747
This problem is pending since many months unfortunately.

[2021-08-09 14:33] lucaderi commented on #5732
Map is now loading as expected

[2021-08-09 14:33] #5732 closed, assigned to simonemainardi, MatteoBiscosi

[2021-08-09 14:34] lucaderi opened #5748 "Service Map is not honouring the settings"
![Screen Shot 2021-08-09 at 16 32 40](https://user-images.githubusercontent.com/4493366/128723710-fdb58fe6-a908-4d37-8bb9-d232ae590096.png)

![Screen Shot 2021-08-09 at 16 34 01](https://user-images.githubusercontent.com/4493366/128723820-5bc93bad-d6cc-480d-83c8-10bfbd54f711.png)

The above picture reports hosts MAC addresses instead of IP addresses. This is wrong.

[2021-08-09 14:36] lucaderi opened #5749 "Service Map Colors are not Correct"
![image](https://user-images.githubusercontent.com/4493366/128724062-34250a85-62f5-4529-8df2-d01c440c5c37.png)

[2021-08-09 14:37] lucaderi commented on #5746
What is the commit that fixes it? Please reference it in this ticket.
It was updated to 08.08.21 due to #5747

[2021-08-09 15:01] simonemainardi opened #5750 "Invalid lateral movement implementation"
In the last implementation (pro commit 0acd600e), an extra hash table lookup `sMap->getStatus(f)` is performed for every flow inside the check, even though the flow has already been checked during its addition to the service map.

This additional check is costly and useless as the condition `isLateralMovement()` is already evaluated when the flow is added to the service map.

Any logic must be imp

[2021-08-09 19:39] chris-ruddy opened #5751 "n2disk ignores past disk usage"
While n2disk is running, it respects the --disk-limit setting and deletes data to stay under the disk limit. I have it set to 23% (513.80 GB). However, when the processes restarts (or if the server reboots), it thinks it is using 0GB and will write another 513.80 GB before deleting anything. The original 513.80 GB won't be deleted.

Config:
[code]

Log Messages:
[code]

[2021-08-10 07:32] lucaderi commented on #5747
Even today broken on 194...

[2021-08-10 07:37] cardigliano commented on #5747
Please note that the system is already up to date, this looks like a repo issue which has the yesterday's packages

<img width="897" alt="Screen Shot 2021-08-10 at 09 35 36" src="https://user-images.githubusercontent.com/7548711/128827206-bf3e9aad-d8b0-4b84-aafb-a5fe0eb75572.png">
<img width="487" alt="Screen Shot 2021-08-10 at 09 35 42" src="https://user-images.githubusercontent.com/7548711/12882

[2021-08-10 08:12] cardigliano commented on #5751
I confirm this is not working with compressed npcap files

[2021-08-10 09:01] lucaderi opened #5752 "Service Map: Unify Mac Address representation"
![image](https://user-images.githubusercontent.com/4493366/128839124-94b4a9b1-b588-4a81-973d-f9156fffedd1.png)

[2021-08-10 09:10] cardigliano commented on #5751
This has been fixed, a new package update will be available later today.

[2021-08-10 12:20] lucaderi opened #5753 "Interface info button does not work"
![image](https://user-images.githubusercontent.com/4493366/128865697-03e47513-88e0-4233-ae40-5ff05b9e3b8f.png)

[2021-08-11 07:51] simonemainardi commented on #5750
Addressed in the Pro part.

[2021-08-11 07:51] #5750 closed, assigned to MatteoBiscosi

[2021-08-11 08:07] simonemainardi opened #5754 "REST API Incompatibilities and Breaking Changes"
The new alert rework has divided the alerts in families, e.g., host alerts, flow alerts, etc. Alert ids are now unique per family.

The following REST endpoints couldn't be kept compatible and should be re-implemented:
- `/get/alert/type/counters.lua`
- `/get/alert/severity/counters.lua`

[2021-08-11 10:01] #5751 closed, assigned to cardigliano

[2021-08-11 11:55] thomasbruchet opened #5755 "How to create a lot of host pool"
Hello;

I've just added the **144** networks of my company into the ntopng.conf with the -m=
OK, they appears into "Hosts>Networks" of the interface.
But I can not use that to filter the "Active Flows" view, the only option is to filter with "Hosts pool" so I want to create as many "host pools" as there are networks.

But the only way to do that is a non friendly way to do it
I've to:

I will have

[2021-08-11 12:44] lucaderi opened #5756 "Empty selection on edit of active monitoring"
![Screen Shot 2021-08-11 at 14 42 47](https://user-images.githubusercontent.com/4493366/129030599-b965267c-657f-41aa-9cc1-ebad3d6aefe9.png)

then editing the entry shows

![image](https://user-images.githubusercontent.com/4493366/129030702-1c0f2a00-c9f8-4f31-94fe-ce4e272add48.png)

with an empty selection

[2021-08-11 17:02] lucaderi commented on #5753
![Screen Shot 2021-08-11 at 19 01 35](https://user-images.githubusercontent.com/4493366/129071826-e470fcec-64b6-4596-8403-4a4a2fb6255a.png)

The problem is still pending in today's code

[2021-08-12 07:48] cardigliano commented on #5747
It seems ntopng was (correctly) not detecting an update when the revision was unchanged, even with a new version date, however this creates headaches thus we decided to add the date to the check. Fixed in 58a74d3b0c6fe3af97f7e8c24c09c5fd9ebbbbe2

[2021-08-12 08:13] lucaderi commented on #5383
Implemented via observation points https://www.ntop.org/nprobe/collecting-flows-from-hundred-of-routers-using-observation-points/

[2021-08-12 08:13] #5383 closed, assigned to lucaderi, MatteoBiscosi

[2021-08-12 12:05] VasilisTako commented on #5752
Updated Pro Version

[2021-08-12 13:57] bboymega opened #5757 "Score.rrd Failing /var/lib/ntopng/2/rrd/score.rrd: expected 2 data source readings (got 1)"
12/Aug/2021 21:55:07 [timeseries.lua:14] [rrd.lua:437] ERROR rrd_update_r() [/var/lib/ntopng/2/rrd/score.rrd][1628776506:8666] failed [/var/lib/ntopng/2/rrd/score.rrd: expected 2 data source readings (got 1) from 1628776506]

v.4.2.210810	[Enterprise/Professional build]
GIT rev:	4.2-stable:025e96e6cbb61e0f7320acf1d4038fafbbf836fa:20210810
Pro rev:	r3350
Built on:	Ubuntu 20.04.2 LTS
Platform:	x86_6

[2021-08-12 14:38] lucaderi commented on #5756
Still bugged

[2021-08-12 14:39] lucaderi commented on #5753
Verified as fixed

[2021-08-12 14:39] #5753 closed, assigned to VasilisTako

[2021-08-12 14:40] lucaderi commented on #5752
Verified as fixed

[2021-08-12 14:40] #5752 closed, assigned to VasilisTako

[2021-08-12 14:40] lucaderi commented on #5749
Verified as fixed

[2021-08-12 14:44] lucaderi commented on #5748
Verified as fixed

[2021-08-12 14:44] #5748 closed, assigned to simonemainardi, MatteoBiscosi

[2021-08-12 14:45] lucaderi commented on #5749
![image](https://user-images.githubusercontent.com/4493366/129217504-06db837a-6748-45a5-8dee-08419457d839.png)
sorry still broken

[2021-08-12 14:46] lucaderi commented on #5747
Hope it works. Closing for now will reopen if necessary

[2021-08-12 14:46] #5747 closed, assigned to cardigliano

[2021-08-12 14:47] lucaderi commented on #5739
Unable to reproduce it: assuming it is fixed

[2021-08-12 14:47] #5739 closed, assigned to simonemainardi

[2021-08-12 14:48] lucaderi commented on #5738
Unable to reproduce it, assuming it is fixed by now.

[2021-08-12 14:48] #5738 closed, assigned to simonemainardi, MatteoBiscosi

[2021-08-12 14:49] lucaderi commented on #5744
Verified as fixed

[2021-08-12 14:49] #5744 closed, assigned to cardigliano

[2021-08-12 15:50] simonemainardi commented on #5730
I went through the code base to find the reason of these spurious requests. I believe the reason is due to the `NetworkDiscovery`.

The sequence of events can be summarized as follow.

1. A subnet of up to /23 is probed to scan hosts within the interface network

https://github.com/ntop/ntopng/blob/d7edcfeaf23ebea623f4c256b124d86c848ef449/src/NetworkDiscovery.cpp#L158

2. Those hosts are probed fo

[2021-08-12 17:24] lucaderi commented on #5756
Now works after the latest fixes and a browser cache clean

[2021-08-12 17:24] #5756 closed, assigned to VasilisTako

[2021-08-13 06:52] simonemainardi commented on #5717
Collisions handled with the latest implementation, pro part, struct `PeriodicityStatsPeerKey`.

[2021-08-13 06:52] #5717 closed, assigned to lucaderi

[2021-08-13 06:53] simonemainardi commented on #5749
I believe this is a MAC

[2021-08-13 08:39] simonemainardi commented on #5757
This is fixed in the lastest dev and in the new 5.0 stable release which we are releasing. Please, hold on a couple of days, update, and it will work.

[2021-08-13 08:39] #5757 closed, assigned to nobody

[2021-08-13 08:53] simonemainardi commented on #5755
You can use the REST API , endpoint `rest/v2/add/host/pool.lua`.

Example, to create pool named `maina` with member networks `192.168.2.0/24` and `192.168.3.0/24` without VLAN, you can do:

[code]

Documentation at https://www.ntop.org/guides/ntopng/api/rest/api_v2.html

[2021-08-13 09:05] simonemainardi commented on #5755
You can check for other examples at https://www.ntop.org/guides/ntopng/api/rest/examples_v2.html

Let me know if it helps.

[2021-08-13 09:39] #5741 closed, assigned to simonemainardi

[2021-08-13 09:40] simonemainardi commented on #5741
![image](https://user-images.githubusercontent.com/3397663/129337890-9d6f4fb5-9fa8-4bad-9c4a-b872f36cf408.png)

[2021-08-13 12:04] lestat80 opened #5761 "ntopng crashes when launched with --shutdown-when-done flag"
**Defect**

If I run ntopng with flag `--shutdown-when-done`, or stopping ntopng with `ctrl+c`, makes ntopng to crash

**Version of ntopng:**
ntopng-4.2.210811-11638

**OS environment:**
CentOS Linux release 7.9.2009 (Core)

**Steps to reproduce the issue**

- launch ntopng as follows
  `ntopng -v 2 -u root --dont-change-user --shutdown-when-done -i <(echo) -r "127.0.0.1" --http-port 31826`

**Exp

[2021-08-13 13:06] thomasbruchet commented on #5755
Thank you.
That work perfectly with all those example. (I've to debug why the HTTPS return an error but that is with curl not with ntopng)

[2021-08-13 13:36] hvanthoor opened #5762 "ntopng keeps restarting, after being killed by bus signal"
Version:        4.3.210808 [Enterprise/Professional/Embedded build]
Pro rev:        r4131
Built on:       Raspbian GNU/Linux 10 (buster)

root@ntopng:/var/log# systemctl status ntopng
● ntopng.service - ntopng high-speed web-based traffic monitoring and analysis tool
   Loaded: loaded (/etc/systemd/system/ntopng.service; enabled; vendor preset: enabled)
   Active: activating (auto-restart) (Result

[2021-08-13 13:39] simonemainardi commented on #5762
Pleease, explain how you've installed ntopng and how you are running it. (e.g.,  how you're controlling the start/stop)

BTW, are you on a dockerized environment?

[2021-08-13 13:50] simonemainardi commented on #5755
Thanks for reporting. And not that you don't necessarily have to have a 1:1 mapping between host pools and local networks. You can merge multiple local networks into one host pool, for example.

[2021-08-13 13:50] #5755 closed, assigned to simonemainardi

[2021-08-13 13:59] hvanthoor commented on #5762
Installed via regular installation instructions (packages.ntopng.org) , not running in Docker or any other container,  use systemctl to start/stop

 Thank you

[2021-08-13 14:05] cardigliano commented on #5761
@lestat80 could you check if you are able to reproduce the same with the latest dev version (4.3) please? (note we are going to release a new stable this month)

[2021-08-13 14:20] lestat80 commented on #5761
@cardigliano I tried with version 4.3.210813-14676 and I cannot reproduce it

[2021-08-13 14:22] cardigliano commented on #5761
I assume it has been fixed in the latest dev, a new stable will be released in a few days based on the current dev, thus we can consider this as fixed.

[2021-08-13 14:32] simonemainardi commented on #5762
Comment out the -F configuration line and report

[2021-08-13 14:49] MatteoBiscosi commented on #5618
Verified as fixed

[2021-08-13 14:49] #5618 closed, assigned to MatteoBiscosi, VasilisTako

[2021-08-13 15:02] hvanthoor commented on #5762
Thank you
I tried that earlier and just now again
No effect, unfortunately.

[2021-08-13 15:09] simonemainardi commented on #5762
Can you try and remove also the other parameters, one by one, to see if a specific parameter is causing the crash?

[2021-08-13 15:15] hvanthoor commented on #5762
Thank you, but even with everything disabled, the issue remains

[2021-08-13 15:15] simonemainardi commented on #5762
tried to reproduce on my pi but there's no issue

[code]

Can you try and isssue a `redis-cli flushall` (if you can afford losing the configuration)

[2021-08-13 15:45] astalush opened #5763 "SNMP strange values"
Hey. I have a problem/question regarding the SNMP polling of ntopng app.

After I add the device via the snmp add page, how does it know which values to look in the MIB for that device? If's it's a CISCO or a DELL or another one? Regarding this SNMP question I also have a problem with the values and graph shown by ntopng.

The device is :
![image](https://user-images.githubusercontent.com/8401863/

[2021-08-13 16:44] lucaderi opened #5764 "Service/Periodicity Map Icons for Offline Assets"
When populating the service and periodicity maps it would be nice to see immediately what hosts are alive and what are not. In fact many times ntopng has in memory only a portion of the hosts.

Please modify the map (and the table view) showing offline assets in some way (e.g. lighter colour or similar). Furthermore, add a new filter menu

![Screen Shot 2021-08-13 at 18 42 39](https://user-images.

[2021-08-14 11:03] hvanthoor commented on #5762
Thank you.
I just tried that without avail unfortunately.

[2021-08-14 14:25] nobless opened #5765 "Plugins page error when there are no plugins"
Installed as aPFSENSE package:

ntopng | net | 0.8.13_10 |
Dependencies:  webfonts-0.30_14    ntopng-4.2.d20210615,1    libmaxminddb-1.6.0    graphviz-2.44.1_13    redis-6.0.15    gdbm-1.20

[2021-08-14 14:35] nobless opened #5766 "Update popup and version missmatch?"
- Always showing popup in the corner about the available update, every refreshed page, no setting to disable it?

- Don't know if this should be addressed in this repository or directly to PFSense but noting this too:
In the bottom of the corner it shows as installed:
----------

While the package is ntopng-4.2.d20210615,1

Maybe version identify mechanism could be improved also for plugins?

----

[2021-08-14 14:41] nobless commented on #5765
14/Aug/2021 17:18:23 [LuaEngine.cpp:926] WARNING Script failure [/usr/local/share/ntopng/scripts/lua/plugins_overview.lua][/usr/local/share/ntopng/scripts/lua/modules/ntop_utils.lua:199: bad argument #1 to 'for iterator' (table expected, got nil)]
14/Aug/2021 17:18:23 [plugins_overview.lua:99] [plugins_utils.lua:813] ERROR Could not load plugins metadata file 'plugins_metadata'

[2021-08-14 14:52] nobless opened #5767 "Failing snort ip-blacklist"
Snort IP Blacklist is always failing with 50* errors ?

------
Going directly from the browser it open correctly the list of BAD IP's:

which redirects to:

All other links works correctly, for example:

---
---
---

Installed as aPFSENSE package:

ntopng | net | 0.8.13_10 |
Dependencies:  webfonts-0.30_14    ntopng-4.2.d20210615,1    libmaxminddb-1.6.0    graphviz-2.44.1_13    redis-6.0.15    gdb

[2021-08-14 15:16] simonemainardi commented on #5765
We are not the maintainer of the installed package. Please install following official instructions at https://packages.ntop.org/FreeBSD/ or follow up with the maintainers.

[2021-08-14 15:16] #5765 closed, assigned to nobody

[2021-08-14 15:17] simonemainardi commented on #5766
We are not the maintainer of the installed package. Please install following official instructions at https://packages.ntop.org/FreeBSD/ or follow up with the maintainers.

[2021-08-14 15:17] #5766 closed, assigned to nobody

[2021-08-14 17:01] nobless commented on #5766
Thanks, uploaded this bug to the maintener redmine:
https://redmine.pfsense.org/issues/12260

[2021-08-15 07:48] simonemainardi commented on #5766
Ok. Thanks. May I also suggest you to consider using our packages to have the latest features.

[2021-08-15 07:49] simonemainardi commented on #5767
Package not maintained by us. Same as:

- https://github.com/ntop/ntopng/issues/5766
- https://github.com/ntop/ntopng/issues/5765

Please install following official instructions at https://packages.ntop.org/FreeBSD/ or follow up with the maintainers.

[2021-08-15 07:49] #5767 closed, assigned to nobody

[2021-08-15 07:50] simonemainardi commented on #5762
Unfortunately, we can't do anything on that packages are we are not the maintainers. However, we maintain our official packages. See the link above. I would like to suggest you to use them to also get newest features.

[2021-08-16 06:51] lucaderi opened #5768 "Suboptimal throughout calculation"
Since https://github.com/ntop/ntopng/commit/1d65185fd3ca0b476ed7ebf1a774d6396f6f823d throughput is not working smoothly as it should be. In this setup there are two nProbes sending flows to ntopng that will then aggregate them with a view interface (viee:all). The individual probes have an idle timeout of 30 sec and lifetime of 120 sec.

Since the start of ntopng:
 - the first throughput update in

[2021-08-16 07:10] lucaderi opened #5769 "Extend External Traffic Recording Providers to View Interfaces"
External Traffic Recording Providers (https://www.ntop.org/guides/ntopng/using_with_other_tools/n2disk.html#external-traffic-recording-providers) is incompatible with view interfaces.

This ticket is to make it compatible with view:all

[2021-08-16 12:20] simonemainardi commented on #5768
Addressed in the referenced commit and in the companion pro commit `163898ea9111ce83d6826b75bf84fc25204778e8`.

Following things have been changed to address the highlighted issues.

- This global preference has been removed. Housekeeping frequency is not 5 seconds (fixed) for packet interfaces and it is dynamically calculated for ZMQ interfaces using nProbe timeouts

![image](https://user-images.

[2021-08-16 12:54] simonemainardi commented on #5768
Also improved the update frequency of the top load charts. Now the frequency is chosen according to the interface refresh rate, but is capped to 15 seconds to make it look smoother and more consistent with other header elements

![image](https://user-images.githubusercontent.com/3397663/129566708-f22114a6-3f46-4048-b12a-dc35e9c1f7d5.png)

[2021-08-16 14:10] simonemainardi commented on #5763
It determines the device type and manufacturer first, and then it uses the right MIB depending on the determined values.

[2021-08-16 15:32] MatteoBiscosi opened #5770 "Live Extraction using n2disk not working properly"
Currently the live extraction using n2disk is not entirely correct (infact it uses information that ntopng does not have like the linktype) and this means that not all the times it extract the right data.
![Screenshot from 2021-08-16 17-29-46](https://user-images.githubusercontent.com/49585191/129589179-79f9ff4e-def1-47b2-9d1c-841000aed00f.png)
This problem is easly reproducible using n2disk with

[2021-08-16 15:54] simonemainardi commented on #5768
![image](https://user-images.githubusercontent.com/3397663/129592578-009a6284-c3f7-4d70-9df3-f7c0471401f7.png)

[2021-08-16 17:26] lucaderi commented on #5764
@VasilisTako Please note that when in the service map you select only active hosts, then you click on a service map host, and then click back to the service map, your original filter (active hosts only) is gone. This needs to be fixed.

[2021-08-16 18:38] chris-ruddy commented on #5728
As of today, running the latest nightly build (ntopng-4.3.210816-14683.x86_64), the ntopng GUI still returns .pcap files in microsecond format:

```1629136800-1629138600.pcap: pcap capture file, microsecond ts (little-endian) - version 2.4 (Ethernet, capture length 1544)```

[code]

[2021-08-16 19:05] ShagoY commented on #5659
Hi :)

I guess you have already seen it : https://www.debian.org/releases/bullseye/

[2021-08-17 06:36] cardigliano commented on #5728
@chris-ruddy yes, the pcap format returned from ntopng is expected to be always usec now, please note the timestamp has been fixed (converted from nsec to usec). This is because in theory ntopng can extract from multiple files with different timestamps (e.g. when changing the n2disk configuration). If you want the nsec precision also when running extractions from ntopng, we need to implement that.

[2021-08-17 08:37] lucaderi commented on #5553
After checking the data you sent me, the result of the investigation is that netstream or the way it has been configured is the source of the problem, not ntopng

[2021-08-17 08:37] #5553 closed, assigned to simonemainardi, lucaderi

[2021-08-17 08:44] lucaderi commented on #5730
Working as described. Will reopen if necessary

[2021-08-17 08:44] #5730 closed, assigned to simonemainardi

[2021-08-17 08:48] lucaderi commented on #5726
Aug 17 09:58:01 ntop2 CRON[6619]: (root) CMD (/usr/bin/ntopng-utils-manage-updates -a handle-on-demand-requests)
Aug 17 09:59:01 ntop2 CRON[6794]: (root) CMD (/usr/bin/ntopng-utils-manage-updates -a handle-on-demand-requests)
Aug 17 10:00:01 ntop2 CRON[6989]: (root) CMD (/usr/bin/ntopng-utils-manage-updates -a handle-on-demand-requests)
Aug 17 10:01:01 ntop2 CRON[7181]: (root) CMD (/usr/bin/ntopng

[2021-08-17 08:48] #5726 closed, assigned to cardigliano

[2021-08-17 08:48] lucaderi commented on #5711
Works for us, will reopen if necessary

[2021-08-17 08:48] #5711 closed, assigned to MatteoBiscosi

[2021-08-17 09:01] lucaderi commented on #5768
Please modify the message adding a HREF that points to the documentation where @simonemainardi explains how the throughput is computed.

[2021-08-17 09:04] lucaderi opened #5771 "Refresh ntopng documentation"
The ntiopng documentation lacks (just to mention a few)
- description of ntopng-conf
- This https://github.com/ntop/ntopng/issues/5768#issuecomment-900121523
- https://www.ntop.org/guides/ntopng/what_is_ntopng.html#versions does not include the bundle
- there is no indication of what changed from a release to another (reference changelog)
- it is not indicated what features are present in what ver

[2021-08-17 09:25] lucaderi commented on #5769
Verified as fixed

[2021-08-17 09:25] lucaderi commented on #5745
Cannot reproduce it as I am unable to connect to the system where the problem was reported. Closing the ticket for now hoping it works as expected.

[2021-08-17 09:25] #5745 closed, assigned to simonemainardi

[2021-08-17 10:34] olmanolsztyn opened #5772 "Ntopng crashing"
After last update ntopng crashes.
Before crash there are logs:
17/Aug/2021 11:15:14 [LuaEngine.cpp:560] WARNING: Script failure [/usr/local/share/ntopng/scripts/callbacks/system/second.lua][...local/share/ntopng/scripts/lua/modules/locales_utils.lua:45: attempt to call a string value (local 'chunk')]
17/Aug/2021 11:16:04 [LuaEngine.cpp:560] WARNING: Script failure [/usr/local/share/ntopng/scripts/

[2021-08-17 10:37] olmanolsztyn commented on #5772
After restart in addition there is info like on the screenshot:

![ntopng_interface](https://user-images.githubusercontent.com/22956491/129711610-b507fc49-e935-43da-b0c1-c4f4e44c4406.png)

[2021-08-17 10:59] olmanolsztyn commented on #5772
Another log before crash:
17/Aug/2021 12:55:59 [get_check_config.lua:44] ERROR: Unknown user script: syn_flood_victim

[2021-08-17 13:16] chris-ruddy commented on #5728
@cardigliano, we require ntopng to be able to extract pcap files with nanosecond timestamps; that's why I wrote this ticket. We use ntopng for operations and need to be able to extract pcaps that work in Wireshark without having to modify them in a hex editor first. How do we get this feature added? Thanks.

[2021-08-17 13:46] olmanolsztyn commented on #5772
Another logs before crash:
17/Aug/2021 15:13:00 [LuaEngine.cpp:560] WARNING: Script failure [/usr/local/share/ntopng/scripts/callbacks/system/discover.lua][...ocal/share/ntopng/scripts/lua/modules/discover_utils.lua:288: attempt to concatenate a nil value (local 'ifid')]
17/Aug/2021 15:13:00 [LuaEngine.cpp:560] WARNING: Script failure [/usr/local/share/ntopng/scripts/callbacks/system/timeseries.lu

[2021-08-17 15:07] simonemainardi commented on #5768
Changes message

![image](https://user-images.githubusercontent.com/3397663/129751535-7f246f1e-c7ab-47f6-8211-0b4c43b3426e.png)

Bringing to the doc page

![image](https://user-images.githubusercontent.com/3397663/129751614-e43a1410-323c-4025-920b-7b2d092aafca.png)

[2021-08-17 17:19] lucaderi commented on #5769
![image](https://user-images.githubusercontent.com/4493366/129771722-3f0e2442-a75d-45ff-b4aa-7b93c4207334.png)
When aggregating with the view interface some ZMQ interfaces, the ability to select n2disk is gone. It was available until yesterday release.

[2021-08-17 19:44] lucaderi commented on #5769
Hopefully fixed by https://github.com/ntop/ntopng/commit/fef2a46eca2bcb67bfef8a4d81e808163691c6ca

[2021-08-17 19:44] #5769 closed, assigned to MatteoBiscosi

[2021-08-18 03:06] MaoPann opened #5773 "Incluxdb storage duration"
I have configured influxdb as the time series database. How long can the timeseries database be stored? That means, the maximum timeseries data backtracking time (not flow data). I don't see where the storage time of timeseries can be set.

[2021-08-18 08:20] MatteoBiscosi commented on #5772
hi @olmanolsztyn is ntopng going to crash just randomly after a restart or do you do something specific before it crashes?
Regarding the last screen you added, it's correct this way, in this way users are able to understand when the data are going to be shown up in the web gui after a restart

[2021-08-18 08:27] olmanolsztyn commented on #5772
It crashed randomly.
Yesterday i disabled some alert checks and restart server. Didn't crash so far.
Didn't make any ntopng configuration changes in ntopng.conf.

[2021-08-18 08:35] MatteoBiscosi commented on #5772
alright, let me know if it crashes again. Do you remember which are the checks you disabled?

[2021-08-18 09:03] simonemainardi commented on #5045
Fix undone in https://github.com/ntop/ntopng/commit/e68350c6d182791030cdae8f4d621e2756fe6d5b

[2021-08-18 09:03] olmanolsztyn commented on #5772
As i remember it was Remote Connection, SYN Flood Victim Alert, Blacklisted Flow, Remote to Local Insecure Protocol.

[2021-08-18 09:18] lucaderi commented on #5762
The crash should be fixed with https://github.com/ntop/nDPI/commit/677b513f70ade895ef28be744245803238100489

[2021-08-18 09:26] olmanolsztyn commented on #5219
Any news about it. LLDP Neighbors are present in interfaces but topology map i blank.

[2021-08-18 09:53] lucaderi commented on #5768
Implemented as requested

[2021-08-18 09:53] #5768 closed, assigned to simonemainardi

[2021-08-18 10:32] hvanthoor commented on #5762
I can confim all is working now thanks to the fix.

[2021-08-18 10:32] #5762 closed, assigned to lucaderi

[2021-08-18 10:41] lucaderi commented on #5771
I have made small cosmetic changes, it looks good now

[2021-08-18 10:41] #5771 closed, assigned to simonemainardi

[2021-08-18 12:19] simonemainardi commented on #5773
It's configured here https://www.ntop.org/guides/ntopng/web_gui/settings.html#data-retention

[2021-08-18 12:19] #5773 closed, assigned to nobody

[2021-08-18 13:22] MatteoBiscosi commented on #5772
Sorry @olmanolsztyn but I was unable to reproduce your crash, please let me know first if with those alerts disabled the problem still remains or not and if it's going to crash again please send me the entire logs of ntopng. If you prefer, you can drop an email to my address, biscosi@ntop.org

[2021-08-18 13:27] MatteoBiscosi commented on #5772
@olmanolsztyn if you have the possibility, could you please re-add them one by one and let me know with which checks enabled it crashes?

[2021-08-18 15:13] Kike-F opened #5774 "ntopng - Harmonize Table Header and Data alignment"
Some table views in ntopng have different Header alignment than the Data under that table.
So far I have detected this in two pages:
1.- Host details: in the Apps, Traffic and DNS tabs
2.- Interface: in the Apps tab

This is more a cosmetic issue than a bug but, in some cases, this formatting is misleading and makes information difficult to read.

[2021-08-18 16:00] algebur opened #5775 "ntopng edge - does not work after replacing/adding the new network card"
Temporary for the test I had installed the ntopng edge on the pc with 1 internal ethernet card and 1 external USB/ethernet card, because the ntopng edge requires minimum 2 network interfaces for work. That system worked fine. Then I installed Intel NIC PCI-Ex with 2 ethernet ports, changed the network settings, the OS is working (network/internet), but the ntopng edge is not working. The problem i

[2021-08-18 19:46] lucaderi opened #5776 "Service Map: Invalid filtering"
When in the service map "Unicast" is selected the map is empty. This used to work and it is a regression.
![Screen Shot 2021-08-18 at 21 45 35](https://user-images.githubusercontent.com/4493366/129962275-4298432d-c9f6-4a18-8973-c8a3fe66f3f3.png)

Please fix this both un dev and stable release

[2021-08-19 06:08] olmanolsztyn commented on #5772
Server crashed again and i got log:
19/Aug/2021 05:59:01 [LuaEngine.cpp:560] WARNING: Script failure [/usr/local/share/ntopng/scripts/callbacks/system/timeseries.lua][attempt to index a function value]

[2021-08-19 07:58] simonemainardi commented on #5775
When changing the interfaces, it is recommended to start clean.

Note that nEdge system configuration is stored under (`/var/lib/ntopng/system.config`) - netplan is only changed upon nEdge system setup changes.

So basically:

- uninstall nEdge
- `redis-cli flushall` to clean settings
- `/var/lib/ntopng/` to clean data
- restart the system
- reinstall nEdge and redo the first setup procedure

[2021-08-19 08:17] olmanolsztyn commented on #5772
Suddenly ntopng stopped storing flows after i went System > Health > Interface > tcp://127.0.0.1:5000c

[2021-08-19 08:23] simonemainardi commented on #5772
@olmanolsztyn did you enable checks as suggested by matteo to trigger the crash?

[2021-08-19 08:25] olmanolsztyn commented on #5772
I did not make it. Ntopng process stopped working eariler.

[2021-08-19 08:43] martinscheu opened #5777 "Alert filter - can not change between = and !="
Hi ntop team
When a alert filter is set, I can not change it from e.g. = to != (or the other way around)
I can select it, press apply, but is not taken over.
<img width="951" alt="Screenshot 2021-08-19 at 10 42 03" src="https://user-images.githubusercontent.com/38549755/130037781-be4c4975-d911-4efd-b661-ae8fcbb07712.png">
Thanks
Martin

[2021-08-19 08:49] olmanolsztyn commented on #5772
In addition i updated today ntopng to ntopng Enterprise M v.5.1.210819 (FreeBSD 12.2) version.

[2021-08-19 08:52] simonemainardi commented on #5219
Unfortunately I can't reproduce this issue on my lab. Do you think it is possible to arrange a remote session?

[2021-08-19 08:57] olmanolsztyn commented on #5219
Yes we can try.

[2021-08-19 09:42] Astraas opened #5778 "Impossible to send email"
Hello,

I get the following error when i try to send an email from ntopng :

[code]

I tried to send an email with telnet from the same server and it works.

But when i try to do the same with openssl :
`openssl s_client -debug -starttls smtp -crlf -connect myserver:587`
Helo works, but MAIL FROM give me :
`Client was not authenticated to send anonymous mail during MAIL FROM`

Is it possible to de

[2021-08-19 10:08] simonemainardi commented on #5219
Ok. Let me gather some info first. Please, tell me the manufacturer and model of the devices for which you are not getting the LLDP topology on 10G interface.

[2021-08-19 10:14] MatteoBiscosi commented on #5777
Hi @martinscheu, the issue should be fixed for both, dev and stable version, please when new builds are available update and let me know if everything works fine

[2021-08-19 10:28] olmanolsztyn commented on #5219
I get lldp neighbors but graphical topology map is empty (blank). As i remember graphical topology map started to be blank after you added support for 10gig interfaces.

[2021-08-19 12:18] simonemainardi opened #5779 "SNMP LLDP topology broken"
![image](https://user-images.githubusercontent.com/3397663/130066982-290a59c2-99d1-4de1-a6df-31fc2c2c1dc5.png)

[2021-08-19 12:18] simonemainardi commented on #5219
also please check if related to https://github.com/ntop/ntopng/issues/5779

[2021-08-19 12:23] olmanolsztyn commented on #5219
I have juniper (MX80 and MX 480), cisco catalyst 6500 at this moment.

[2021-08-19 12:24] simonemainardi commented on #5219
all with 10G interfaces not working?

[2021-08-19 12:28] olmanolsztyn commented on #5219
I requested problems with 10g interfaces. You have made updates and 10g interfaces started to show up with lldp neighbors but graphical topology map is blank after this update.

[2021-08-19 12:34] olmanolsztyn commented on #5219
![graphical_topology](https://user-images.githubusercontent.com/22956491/130069103-61939735-84f1-4e22-b81d-09cd60ddfd2f.png)
![topology](https://user-images.githubusercontent.com/22956491/130069106-fe0a6be9-ceec-40f7-b93a-e9df6aa6841f.png)

[2021-08-19 12:36] olmanolsztyn commented on #5219
Looks like graphical topology is not created using lldp neighbors from devices.

[2021-08-19 12:47] martinscheu opened #5780 "Automatic configuration backup"
Hi ntop Team
Would it be possible to have an automatic backup function when the automatic update is turned on?
(we lost Checks configuration with todays update :-) )
Thanks, Martin

[2021-08-19 12:53] simonemainardi commented on #5779
Fixed both in dev and stable, was due to a toast not migrated to BS5 (https://getbootstrap.com/docs/5.1/components/toasts/)

[2021-08-19 12:53] #5779 closed, assigned to simonemainardi

[2021-08-19 12:55] simonemainardi commented on #5219
look for this exception in the browser console:

![image](https://user-images.githubusercontent.com/3397663/130071691-e06eaffb-c029-488d-8bd7-e618d4a178fc.png)

this may be the cause of the missing topology and is fixed. New builds are in progress. Anyway, if I remember correctly, you were still having issues with missing links at 10G.

Please tell me:
1. Are only Cisco devices exhibiting missing

[2021-08-19 12:57] olmanolsztyn commented on #5219
Cisco i tested didnt have snmp oid related to LLDP.
Juniper MXes after update started to show up 10g interfaces and lldp on them properly.
I have the same error. So i need to wait for fix yes?

[2021-08-19 13:01] simonemainardi commented on #5219
OK, this is good.

Yes, a couple of hours.

[2021-08-19 13:04] olmanolsztyn commented on #5219
Ok thanks for the info.
Let me know when you fix it.

[2021-08-19 13:07] simonemainardi commented on #5777
Confirm. Fixed.

[2021-08-19 13:07] #5777 closed, assigned to MatteoBiscosi

[2021-08-19 15:55] lucaderi commented on #5776
Verified to work

[2021-08-19 15:55] #5776 closed, assigned to MatteoBiscosi, VasilisTako

[2021-08-19 15:56] lucaderi commented on #5749
Verified as fixed

[2021-08-19 15:56] #5749 closed, assigned to simonemainardi, MatteoBiscosi, VasilisTako

[2021-08-19 15:56] lucaderi commented on #5764
Verified as fixed

[2021-08-19 15:56] #5764 closed, assigned to VasilisTako

[2021-08-19 15:59] lucaderi opened #5781 "Map layout is not saved as it should"
Service/Periodicity maps layouts are saved persistently to avoid re-wiring. Unfortunately, when selecting a filter a new map is drawn that overwrites the current layout. This is a bug as the original layout is lost. A fix could be to dump the layout with a key that also contains the filter selection in order to avoid overwriting existing layouts.

This should be fixed both in stable and dev versio

[2021-08-19 18:29] Ryananana commented on #5659
Hi

I would like to know about the progress of Bullseye support

[2021-08-20 08:38] MatteoBiscosi commented on #5772
Hi @olmanolsztyn do you perhaps have the top sites enabled? (settings->applications->top visited sites)

[2021-08-20 08:40] olmanolsztyn commented on #5772
Yes i have enabled.

[2021-08-20 08:43] MatteoBiscosi commented on #5772
alright soon i'm going to release a fix, those were probably the crashing problem, I happened to encounter it randomly before, so please be patience, the fix is already on testing, I'll push it really soon so in the afternoon you should have the new build, please update and let me know if it continues crashing after the new build is released

[2021-08-20 13:36] simonemainardi commented on #5778
Please, show me how you've configured the mail endpoint. My guess is that you are using a self-signed TLS certificate an for this reason curl is failing to verify it.

[2021-08-20 14:08] lucaderi opened #5782 "Service Maps and Alert Integration"
To date alerts generated by violation of the service map are not correlated with the map itself. This ticket is to request to account for the alerts per service map edge so that it is possible to report in the map the edges that have created most alerts and jump to the alert page with a specific filter for retrieving them

[2021-08-20 14:21] StewAlexander-com opened #5783 "license doesn't work"
Our license says invalid:

![image](https://user-images.githubusercontent.com/48565067/130247707-d767b498-1d47-4ba4-a133-d19cdd63e599.png)

Who do we speak to?

[2021-08-20 14:48] simonemainardi commented on #5778
I've implemented `--insecure` mode so that you can use ntopng even when TLS cert verification fails

[code]

A new build is in progress. Make sure to wait a couple of hours and then install the latest version 5.1. Add `--insecure` to the configuration file and it will work.

[2021-08-20 14:49] simonemainardi commented on #5761
Confirm, fixed as of 5.0 stable and 5.1.

[2021-08-20 14:49] #5761 closed, assigned to nobody

[2021-08-20 14:51] simonemainardi commented on #5746
This commit adds URI information that can help in troubeshooting in case it will appear again: 1f43ed6a6b126912a8e159878a34f5d4c810c5f0

Please, reopen with the new trace with the URI in case it will occur again.

[2021-08-20 14:51] #5746 closed, assigned to nobody

[2021-08-20 14:52] bre75 opened #5784 "GeoMap under Host Page Not working"
Hello,

Sorry to open a new issue about a subject already talked in a previous and closed one (#3693 )

I had post the following comment [https://github.com/ntop/ntopng/issues/3693#issuecomment-856760504](url) as it's not working on my side.

Any idea ?

Thanks a lot for any help.

Regards,

[2021-08-20 15:36] simonemainardi commented on #5783
is it expired? you can check with

[code]

If you send me the order id and systemid (please paste it as text) I can check. Send to mainardi at ntop dot org

[2021-08-20 15:37] simonemainardi commented on #5784
Are you using a packaged version installed at packages.ntop.org? Do you have package `ntopng-data` installed as well?

[2021-08-20 17:35] bre75 commented on #5784
Yes. Community Edition

Yes it's installed : version 4.3.210629

I don't know if it's important. On the same Raspberry i have pi-hole installed.

[2021-08-20 21:15] martinscheu opened #5785 "Upgrade link - redirection not working"
Hello ntop team
I click on "Upgrade to Pro / Enterprise version", a popup opens and I can click on "Redirect". But nothing is redirected.
<img width="741" alt="Screenshot 2021-08-20 at 23 10 37" src="https://user-images.githubusercontent.com/38549755/130294077-185dfdeb-05dd-4142-a15b-376e5fdb07b9.png">
thanks

[2021-08-20 23:29] 612wong opened #5786 "broken SNMP topology map with no hostname shown next to the nodes"
Description of the issue
- got the new version 5.1.210820 (Enterprise M) running last night
- enabled SNMP device monitoring with devices running LLDP
- about 6 hours later, the SNMP topology map shows me many nodes interconnected but without hostnames
<img width="2559" alt="Screen Shot 2021-08-21 at 9 22 41 am" src="https://user-images.githubusercontent.com/58540705/130302428-4282fe26-c282-45b9-9

[2021-08-21 01:55] chris-ruddy opened #5787 "n2disk v.3.6.210820 segfault"
We upgraded to n2disk v.3.6.210820 today from 3.6.210729 and it segfaults.

CentOS Linux release 8.4.2105

[code]

[code]

[2021-08-23 02:23] 612wong opened #5788 "MAC Address Based Traffic Directions not working"
Version: ntopng Enterprise M v.5.1.210820
Setup:
- switch mirrors WAN interface traffic (both directions) to a dedicated NIC (et2) on the host running ntopng
- on ntopng, interface setting, the MAC address of WAN interface on the remote WAN device was entered
- ntopng was restarted and traffic direction is still showing one-way only (the little graph next to the interface name at the top left corn

[2021-08-23 08:26] simonemainardi commented on #5788
CI and lab tests are giving me proper behavior.

To clarify, the expected behavior in your case is that every time an Ethernet frame is seen with 64:f6... as destination MAC, the packet is considered egress, i.e., upload (arrow up in the top chart).

Please, make sure the mirror is actually sending both directions. Also check the TX-RX chart.

For example, this is what I get by changing the MAC fo

[2021-08-23 08:35] simonemainardi commented on #5786
I am unable to reproduce. Can you send me privately you Redis dump.rdb so I can re-create the very same conditions in my Lab? Make sure to stop ntopng and Redis services first

root@devel:/home/simone/ntopng/pro# systemctl stop ntopng redis-server

then, send me file  `/var/lib/redis/dump.rdb` to mainardi at ntop dot org

[2021-08-23 09:02] simonemainardi opened #5789 "Extenal Links Broken"
All external links of ntopng are broken.

1. Clicking on the link doesn't open the modal (the modal is only open by clicking on the font awesome)
2. Clicking on the Redirect button once the modal is open is ineffective, nothing happens (https://github.com/ntop/ntopng/issues/5785)

Example of broken external links

![image](https://user-images.githubusercontent.com/3397663/130420060-53ca0931-3eab-4

[2021-08-23 09:06] simonemainardi commented on #5784
You may be running ntopng on a distro that is not supported (pi-hole).

Anyway, check ntopng logs. You should see something as these two lines if the geolocation database is loaded

![image](https://user-images.githubusercontent.com/3397663/130420989-4b33b348-a406-4076-b308-2e6489c8b38f.png)

Otherwise, ntopng will complain about not being able to find the geolocation database.

Please, check and

[2021-08-23 09:09] simonemainardi commented on #5783
@StewAlexander-com any news?

[2021-08-23 09:14] simonemainardi commented on #5763
anyway, that spiky behavior is suspicious. It makes me think there's some issue in the polling or non-standard OIDs. Can you please check if this is only happening with a particular device?

[2021-08-23 09:43] simonemainardi commented on #5763
I have three dell n1524, all behaving nicely

![image](https://user-images.githubusercontent.com/3397663/130426262-31cb0ec5-769e-46fd-bf0f-772a08036edf.png)

![image](https://user-images.githubusercontent.com/3397663/130426408-1793cd5f-b470-4241-ae42-6568fa8a8bc5.png)

[2021-08-23 10:21] simonemainardi commented on #5786
Instructions to export the rdb file are at https://stackoverflow.com/a/22024286

[2021-08-23 11:29] 612wong commented on #5788
Thanks for looking into it. I have re-installed the ntopng latest stable build and restored the configuration.
Now the MAC address based traffic direction works nicely.
<img width="1687" alt="Screen Shot 2021-08-23 at 9 29 56 pm" src="https://user-images.githubusercontent.com/58540705/130440199-5c7a3ca2-f5ce-470c-a37a-f964c8b569eb.png">

[2021-08-23 11:29] #5788 closed, assigned to simonemainardi

[2021-08-23 12:30] simonemainardi opened #5790 "Editing SNMP device yields unauthorized"
![image](https://user-images.githubusercontent.com/3397663/130447313-b33ca134-866f-46bf-9d4a-eeab366f506a.png)

[2021-08-23 12:31] simonemainardi opened #5791 "Broken edit of active monitoring ICMP"
Edit button stays greyed out and makes it impossible to edit

![image](https://user-images.githubusercontent.com/3397663/130447475-1bfa7cbc-e489-4aae-906f-b0a0deb0a306.png)

[2021-08-23 12:34] #5785 closed, assigned to VasilisTako

[2021-08-23 12:34] #5789 closed, assigned to VasilisTako

[2021-08-23 13:22] StewAlexander-com commented on #5783
I sent an email to ```education@ntopng.com``` and I haven't heard anything back yet

[code]

I'll send you the full text output via email, thank you

[2021-08-23 13:23] bre75 commented on #5784
I'm feeling ashame to ask but .... Where are the ntopng logs ?

[2021-08-23 13:27] StewAlexander-com commented on #5783
I sent you the email (from **```ssalexander494@alamancecc.edu```**), thank you

[2021-08-23 13:33] 612wong opened #5792 "iface:traffic_rx_behavior_v2 is suspected to report accummulated value"
Hi there,

The MAC address based traffic direction is useful for me and I hope to graph it in Grafana where I have other dashboards for different part of the infrastructure. However, the influx data looks strange to me.

The following ntopng interface traffic graph showed a graph of 10-second average resolution.
<img width="1273" alt="Screen Shot 2021-08-23 at 11 19 25 pm" src="https://user-images

[2021-08-23 13:48] bre75 commented on #5784
Here it is

Aug 23 15:41:02 myserver ntopng[11823]: 23/Aug/2021 15:41:02 [Geolocation.cpp:149] Loaded database GeoLite2-ASN.mmdb [/usr/share/ntopng/httpdocs/geoip//GeoLite2-ASN.mmdb][ip_version: 6]
Aug 23 15:41:02 myserver ntopng[11823]: 23/Aug/2021 15:41:02 [Geolocation.cpp:149] Loaded database GeoLite2-City.mmdb [/usr/share/ntopng/httpdocs/geoip//GeoLite2-City.mmdb][ip_version: 6]
Aug 23 15:41:0

[2021-08-23 13:59] simonemainardi commented on #5786
Thanks for kindly providing data.

I believe I have solved the issue. This is what it looks like your topology

![image](https://user-images.githubusercontent.com/3397663/130460238-a4a16f3d-3883-4cb8-92d8-9e7b3d04be0c.png)

A new build is in progress. Please, wait a couple of hours, update, and it will work.

[2021-08-23 14:00] bre75 commented on #5784
![ntopng-1](https://user-images.githubusercontent.com/20688640/130460497-a3389229-0531-452f-88c5-5f2f50f81080.png)

I notice something strange.
ntopng is displaying the "offline" plane icon. Even thought I'm really well online.

[2021-08-23 14:46] MatteoBiscosi commented on #5792
Hi @612wong, sorry but I don't seem to understand what you mean. The traffic TX/RX graph is the graph showing the traffic of the interface and it is updated every second, instead the traffic_rx_behavior (both, rx and tx) is the traffic of the interface calculated using the DES algoritm and it is updated every 5 minutes, with the "current value" at the 5th minute; the real value of the traffic is i

[2021-08-23 15:02] simonemainardi commented on #5784
Geolocation is correctly enabled.

However, you only have 4 hosts, out of which only 1 is remote. So my guess is that you don't have hosts with public IP addresses that can be geolocated. You can check if you visit Hosts->Countries.

As per the offline issue, we have resolved an issue that could cause it. Please, wait a couple of hours, the update, and it will work.

[2021-08-23 15:07] bre75 commented on #5784
<img width="909" alt="ntopng-2" src="https://user-images.githubusercontent.com/20688640/130470769-2d2f5811-7af9-4e54-b28e-1ec28aa71282.png">

I have only one, which is Quad9 DNS.

Is it why I don't see flows ? Because all my requests are sent to Quad9 ?

Thx I'll update later !

[2021-08-23 15:13] lucaderi opened #5793 "Invalid 95th percentile for multi series"
![Screen Shot 2021-08-23 at 17 07 54](https://user-images.githubusercontent.com/4493366/130471428-61af167a-d6c5-450f-969b-38233268449a.png)

95th percentile is broken
- it is shown twice on graphs with a single timeseries
![Screen Shot 2021-08-23 at 17 10 30](https://user-images.githubusercontent.com/4493366/130471733-4d7d5654-f315-404f-aff2-313e80914405.png)

- it is shown correctly on multi-time

[2021-08-23 15:22] simonemainardi commented on #5783
License has expired maintenance. Maintenance expired on 2021-04-03.

See the output you have sent me says maintenance expired, too.

<img width="720" alt="image" src="https://user-images.githubusercontent.com/3397663/130473453-3aa1fb5f-5a7c-48ee-a716-c316bde053a9.png">

Please, renew the maintenance https://www.ntop.org/support/faq/how-can-i-renew-maintenance-for-commercial-products/

[2021-08-23 15:22] #5783 closed, assigned to simonemainardi

[2021-08-23 15:24] cardigliano commented on #5787
@chris-ruddy I pushed an update as n2disk and nDPI were out of sync. Please update and let us know if the crash still persists.

BTW, please use http://github.com/ntop/n2disk/issues for n2disk issues

[2021-08-23 15:29] simonemainardi commented on #5784
You are seeing partial traffic, it is unlikely that an host has only 3 hosts (see the top badge with number 3).

Geolocation is working as you can see: you have 1 host in the United States.

Are you running ntopng with a filter (-B) or something similar?

[2021-08-23 15:43] StewAlexander-com commented on #5783
Hi Simone,

We are education, we got the previous one for free, is something we can
still do?

On Mon, Aug 23, 2021 at 11:22 AM Simone Mainardi ***@***.***>
wrote:

[2021-08-23 16:09] simonemainardi commented on #5783
if you think you qualify for EDU licenses, send an inquiry to mallegro at ntop dot org

[2021-08-23 16:54] bre75 commented on #5784
<img width="614" alt="ntopng-about" src="https://user-images.githubusercontent.com/20688640/130486217-2159d756-8444-4865-ba5a-004819d82fa7.png">

AFAIK I did nothing special about ntopng startup.

Maybe it needs to be point that I'm in France.
In France we're having "internet box" from our provider.
It's acting as DNS server except in my case i switch off this option to delegate it to Pi-Hole.

[2021-08-23 22:19] martinscheu opened #5794 "Behavior Analysis not available on ntopng Enterprise M v.5.1.210822 (Raspbian GNU)"
Hello ntop team
I cant get the behavior analysis running on my raspberry pi. (rp os light, current version):
<img width="585" alt="Screenshot 2021-08-24 at 00 18 58" src="https://user-images.githubusercontent.com/38549755/130526682-78f0f1fc-7eb9-4c61-8c91-d18f5b294663.png">
thank you

[2021-08-23 23:43] 612wong commented on #5792
Thanks MatteoBiscosi.
I misunderstood that the tx and rx traffic is separated into two series now but I should use the old one. Thanks for the explanation and the URL.

[2021-08-23 23:43] #5792 closed, assigned to MatteoBiscosi

[2021-08-23 23:48] 612wong opened #5795 "Service map question - how can I enable this feature?"
Hi there,

I'm running the latest stable version 5.1.210823 but I couldn't find where I can turn on the service map and have the map like most the others?

Thank you.

[2021-08-24 01:50] Ryananana opened #5796 "Some dependency issues in bullseye"
Hi

I noticed that bullseye has been supported, but after I tried to install it, the following dependency problems appeared.
![Snipaste_2021-08-24_09-43-21](https://user-images.githubusercontent.com/36809659/130542191-3445e70f-e4da-4e4f-bfb9-3c3e35c36248.png)
![Snipaste_2021-08-24_09-43-31](https://user-images.githubusercontent.com/36809659/130542211-09ad279a-a613-4ad1-96cc-230aebde3d24.png)

It s

[2021-08-24 06:54] martinscheu commented on #5795
Hello
See https://www.ntop.org/products/traffic-analysis/ntop/, you need Enterprise M or L licence:
Feature | Community | Pro | Enterprise M | Enterprise L
-- | -- | -- | -- | --
Service / Periodicity Maps | ✗ | ✗ | ✓ | ✓

Then Settings, Preferences change to Expert View and there you find the item Behavior Analysis:
<img width="507" alt="Screenshot 2021-08-24 at 08 53 54" src="https://user-images

[2021-08-24 07:15] simonemainardi commented on #5784
Everything is normal:

- You have filter on port 53 (`--packet-filter "port 53"`), likely you want to capture only standard DNS traffic.
- Geomap works, as you can see you have an US host detected

[2021-08-24 07:15] #5784 closed, assigned to nobody

[2021-08-24 07:21] #5795 closed, assigned to nobody

[2021-08-24 07:35] simonemainardi opened #5797 "MySQL Old Data Recycling Reportedly not working"
A user has reported that retention days seems to be no longer honoured at least when using MySQL. Data older than the configured retention seems to be present in the database.

[2021-08-24 07:52] simonemainardi opened #5798 "nIndex use causes ntopng crash when working with the test pcap"
[code]

[2021-08-24 07:56] bre75 commented on #5784
Is it "best practice" to filter on port 53 ?

Anyway thanks for all the support/answers you gave me !

[2021-08-24 08:01] MatteoBiscosi commented on #5794
Hi @martinscheu , unfortunatly the behavior analysis is available only with ntopng Enterprise L license. Sorry for the trouble, I'm going to specify this requirement better in the documentation.

[2021-08-24 08:05] simonemainardi commented on #5784
I would not filter on port 53 unless you have very special requirements. You will lose all the other traffic, including DNS that someone may run on a port different than 53.

So my suggestion is to remove the filter.

[2021-08-24 09:52] lucaderi commented on #3680
Implemented. See https://github.com/ntop/ntopng/tree/dev/doc#using-ntopng-with-a-https-proxy

[2021-08-24 09:52] #3680 closed, assigned to nobody

[2021-08-24 09:58] lucaderi commented on #2494
We have decided that PPP is not a priority at the moment

[2021-08-24 09:58] #2494 closed, assigned to nobody

[2021-08-24 09:59] lucaderi commented on #2827
Currently all exporter settings are shown and the max timeout is used. Implemented.

[2021-08-24 09:59] #2827 closed, assigned to nobody

[2021-08-24 10:18] MatteoBiscosi commented on #5073
Fixed. Currently raw flows are can be found under 'Dashboard->Historical Flow Explorer' and the previous 'Raw Flows' button is going to redirect into that page

[2021-08-24 10:18] #5073 closed, assigned to lucaderi, MatteoBiscosi

[2021-08-24 10:19] #5794 closed, assigned to MatteoBiscosi

[2021-08-24 10:20] MatteoBiscosi commented on #5772
Hi @olmanolsztyn any news?

[2021-08-24 10:22] olmanolsztyn commented on #5772
Looks like problem is solved. Didn't crash so far.

[2021-08-24 10:23] MatteoBiscosi commented on #5772
Great! I'm going to close the ticket, please re-open it or contact us if the issue persists

[2021-08-24 10:23] #5772 closed, assigned to MatteoBiscosi

[2021-08-24 11:57] 612wong commented on #5795
I renewed my maintenance a few days ago with my Enterprise M license already.
<img width="1037" alt="Enterprise M license" src="https://user-images.githubusercontent.com/58540705/130611863-56da5959-8147-4e0e-baca-c1361008ee95.png">

Under the setting, I don't see the "Behavior Analysis" option.
<img width="693" alt="Setting" src="https://user-images.githubusercontent.com/58540705/130612175-b0dd552

[2021-08-24 12:01] simonemainardi commented on #5795
you can request an unlimited Enterprise L trial license to fully evaluate. Just drop an email to mallegro at ntop dot org

[2021-08-24 12:16] 612wong commented on #5786
Thanks for your update on the issue.

[2021-08-24 12:25] 612wong commented on #5795
Thanks for your advice. Will write it :)

[2021-08-24 13:13] simonemainardi commented on #5786
so can you confirm it is working as expected now?

[2021-08-24 13:44] martinscheu commented on #5794
Hi @MatteoBiscosi , ok thank you. but this means on a raspberry pi the feature is not available (anymore) ?

[2021-08-24 13:45] 612wong commented on #5786
Have updated ntopng to ntopng Enterprise M v.5.1.210824 (CentOS Linux release 7.9.2009 (Core)).
It's still not reporting the hostname.
<img width="867" alt="Screen Shot 2021-08-24 at 11 41 37 pm" src="https://user-images.githubusercontent.com/58540705/130627287-b5710a1f-4fd5-427e-911d-bdd6d8b9c25f.png">

update log
`-bash-4.2$ sudo yum update ntopng
... skipped ...
Resolving Dependencies
--> Runni

[2021-08-24 14:15] bre75 commented on #5784
Thx a lot.

I followed your advice :)

[2021-08-24 14:19] simonemainardi commented on #5797
I have tried to reproduce but everything seems to work nicely.

See.

[code]

After letting ntopng execute during the night - remember that the script executes at midnight local time, flows get properly deleted:

[code]

This is the query executed in the background:

[code]

So basically everything seems to work as expected.

Please:

1. verify inside mysql doing a SHOW PROCESSLIST. I want to make

[2021-08-24 14:55] simonemainardi commented on #5790
Fixed under pro for both stable 5.0 and dev.

[2021-08-24 14:55] #5790 closed, assigned to VasilisTako

[2021-08-24 16:25] lucaderi commented on #5798
Apparently, the problem shows up only with nIndex without debugging information. Wth sanitizer the crash does not accour but unfortunately, no error is reported. I don't see anything wrong in the nIndex code so for me we can leave it as is until we find a better way to reproduce it.

[2021-08-24 16:38] simonemainardi commented on #5786
please, try and refresh browser and javascript caches. I have proper layout with names in my instance. Also tell me the browser you are using.

[2021-08-24 16:43] simonemainardi commented on #5740
Please, show how you have installed it, and the configuration you are using.

[2021-08-24 16:46] simonemainardi commented on #5794
Enterprise L embedded is available upon request by mailing mallegro at ntop dot org

[2021-08-24 18:44] martinscheu commented on #4951
is working great now, thanks for implementing!

[2021-08-24 18:44] #4951 closed, assigned to MatteoBiscosi

[2021-08-24 18:45] martinscheu commented on #4293
works great with current version, we are letting operators work with it, thanks for implementing

[2021-08-24 18:45] #4293 closed, assigned to simonemainardi, cardigliano

[2021-08-24 18:54] martinscheu commented on #5540
not sure if algorithm can be improved, but with the now available option to fast filter / filter out alerts and then acknowledge them or allow / deny list them, we could sort out the false positives in a easy way.
Only for not so experienced user it might be confusing, as he might not know what WSUS is or AV scanners are, so having an exlusion / allow list would be helpful.
Thank you

[2021-08-24 19:00] martinscheu commented on #5137
depends the network setup, but in small or home networks it would work, as typically the DNS server has on IP address, so I can monitor DNS server in / out requests. Can use the Unexpected DNS Check to figure out used DNS Servers.

[2021-08-24 19:22] martinscheu opened #5799 "Suspicious DGA Domain Alert - not showing domain name"
Dear ntop Team

I still have Suspicious DGA Domain alerts, but without the domain name in the details:
<img width="1145" alt="Screenshot 2021-08-24 at 21 10 52" src="https://user-images.githubusercontent.com/38549755/130676046-54b5bf01-a787-4a44-b327-5cd94e2d8816.png">

DGA Alerts false positve rate is high, an exlusion / allow list would be helpful. E.g. I can enter the tld like _e5.sk_ from _7q3

[2021-08-24 21:01] basicmonkey commented on #5797
Hi Simone, thanks for raising this here.

My ntop instance died while I was away due to full disk and it killed all my IASM indexes again. I didn't have time to rebuild all of them so I've wiped all flow tables and started again. I've set the ntop tables to be InnoDB now to be a little more resilient and improve write performance as I have 1 second writes enabled.

I've set retention to 5 days and

[2021-08-24 22:04] lucaderi commented on #5796
Dev packages have been fixed. Please report if they are working

[2021-08-25 00:06] 612wong commented on #5786
Yes. The layer 1 layout is now working after clearing the browser caches (everything). Thank you.

[2021-08-25 00:06] #5786 closed, assigned to simonemainardi

[2021-08-25 03:28] Ryananana commented on #5796
I can confirm ntopng 5.1.210825 and n2disk 3.7.210825 both working well in debian bullseye.

[2021-08-25 04:37] 612wong opened #5800 "n2disk failed to run as part of Enterprise L bundle"
I generated the trial license and enabled the 'continuous traffic recording' and found it's not running.
<img width="1077" alt="Screen Shot 2021-08-25 at 14 32 37" src="https://user-images.githubusercontent.com/58540705/130727232-b8640726-2d17-43bb-88c4-5c0ab8d31b0f.png">

Under /local/ntopng, I tailed the log whilst 'resetting' the 'continuous traffic recording' and obtained the following lines.

[2021-08-25 07:49] cardigliano commented on #5800
@612wong please cut&paste the output of n2disk1g -V

[2021-08-25 08:01] MatteoBiscosi commented on #5791
Verified as fixed

[2021-08-25 08:01] #5791 closed, assigned to VasilisTako

[2021-08-25 08:01] MatteoBiscosi commented on #5770
Verified as Fixed

[2021-08-25 08:01] #5770 closed, assigned to cardigliano

[2021-08-25 08:13] MatteoBiscosi commented on #5799
Hi @martinscheu , if possible could you drop a pcap to me with the right traffic to be able to reproduce the same issue (biscosi@ntop.org)? Because i did some tests but the suspicious dga domain alert were all showing correctly the domain name

[2021-08-25 08:41] 612wong commented on #5800
Here you are.

`-bash-4.2$ n2disk1g -V
n2disk1g v.3.7.210824 (r5324)
Copyright 2009-21 ntop.org
SystemID:      L1212EDB5000207D0--U1212EDB52F9665C7--OL
Edition:       1G [ntopng Enterprise L License]
License:       qj8B+W+RkGs/z3IV+oc1khkifhxrnKlRDesI8AaarD1DQrarBVoOdgnika/tZ1L3
               B2OEGfXT/RcjrUfmBIpeqPBifKmOaYk3d2JE7YhN1qaehk/fcq7Gc1e79uV+fBBn
               dhhznZwICp8lqUK0CWc5qsjUK

[2021-08-25 08:55] simonemainardi commented on #5799
@cardigliano do you think your work on FQDN exclusions can be extended to this?

[2021-08-25 08:56] simonemainardi commented on #5796
Thanks for reporting. We are now finalizing stable bullseye releases and do the announcement.

[2021-08-25 08:56] #5796 closed, assigned to lucaderi

[2021-08-25 08:59] simonemainardi commented on #5797
You can't use InnoDB. ntopng will convert it to MyISAM upon startup. We have seen that InnoDB exhibits performance issues sooner than MyISAM.

If you need high performance flow writes, please, consider migrating to nIndex.

[2021-08-25 08:59] cardigliano commented on #5800
Please provide the output of:
systemctl status n2disk-ntopng@et1

[2021-08-25 09:04] 612wong commented on #1670
Design suggestion is end-user centric.
- application support engineer would like to see the flow details around particular protocol or host pair
- network engineer would like to see abnormal network pattern or potential attacks within and outside the firewall
- network manager would like to see the overall of critical alerts that business cares
Based on this, I think the alert framework needs to b

[2021-08-25 09:08] cardigliano commented on #5799
The Check definition can be configured to handle domain whitelists reusing my work.
In order to implement this in the backend, nDPI (ndpi_check_dga_name specifically) should be extended to handle a whitelist. @lucaderi please confirm this is not already supported.

[2021-08-25 09:14] MatteoBiscosi commented on #5774
Hi @Kike-F , thanks for the suggestion i missed those and i didn't see that they had different alignments, now they should be fixed, please re-open this ticket if you see other table with misleading alignment

[2021-08-25 09:14] #5774 closed, assigned to MatteoBiscosi

[2021-08-25 10:00] cardigliano commented on #5799
I guess ndpi_add_host_risk_mask() is supposed to be used for this.

[2021-08-25 10:01] simonemainardi commented on #5778
`--insecure` mode implemented and available. Please, try it and reopen with feedback if necessary.

[2021-08-25 10:01] #5778 closed, assigned to simonemainardi

[2021-08-25 10:06] simonemainardi commented on #5799
I believe we can add the reload where we already reload custom protocols and categories, i.e., ` ndpi_detection_module_struct* Ntop::initnDPIStruct`.

[2021-08-25 10:12] simonemainardi commented on #1720
Using the latest multi tenant ntopng 5.0+ we believe we have reached enough granularity to control what user can and cannot see.

Indeed, a non-privileged user can:

- See only an interface
- See a subset of networks for a specific interface
- A combination of both

This also holds for alerts. Moreover, we have implemented capabilities _a la_ linux in `auth.lua` that can allow an even finer graine

[2021-08-25 10:12] #1720 closed, assigned to simonemainardi

[2021-08-25 10:16] simonemainardi commented on #2030
After internal review, we have decided not to increase the packet shapers list in nEdge for the time being.

The reason is that users who want to have an higher number of shapers to policy the traffic, can use nProbe in IPS mode combined with netfilter. Indeed, nProbe in IPS mode can be instructed to mark packets with an arbitrary number of packets that can then be policed in the kernel with multi

[2021-08-25 10:16] #2030 closed, assigned to nobody

[2021-08-25 10:18] 612wong commented on #5800
-bash-4.2$ sudo systemctl status n2disk-ntopng@et1
● n2disk-ntopng@et1.service - n2disk ultra-high-speed traffic recorder with realtime indexing on et1
   Loaded: loaded (/usr/lib/systemd/system/n2disk-ntopng@.service; disabled; vendor preset: disabled)
   Active: inactive (dead)
-bash-4.2$

Just noticed the following output difference of the license between n2disk and n2disk1g.

-bash-4.2$ n2disk

[2021-08-25 10:19] simonemainardi commented on #2032
We believe this enhancement can be absorbed by the infrastructure monitoring we have implemented. Indeed, with infrastructure monitoring, a user can monitor multiple running instances and check their running data (e.g., active hosts, flows and alerts) and also the status of the network interconnecting them (e.g., latency and bandwidth). Authentication is implemented via TOKENS associated to privil

[2021-08-25 10:19] #2032 closed, assigned to nobody

[2021-08-25 10:25] cardigliano commented on #5800
Could you try stopping and restarting traffic recording from the Traffic Recording -> Settings page, and provide "systemctl status n2disk-ntopng@et1" again?

[2021-08-25 10:25] simonemainardi commented on #2035
We believe the service and periodicity maps, along with newly implemented top visited sites suffice to reach the described behaviors.

Indeed, the latest ntopng 5.0+ build service and periodicity maps to:

- Detect active services
- Raise alerts when lateral movements are detected

Detected services can be configured as allowed / denied to receive alerts accordingly. Service map is described for e

[2021-08-25 10:25] #2035 closed, assigned to nobody

[2021-08-25 10:25] olmanolsztyn commented on #5772
Ntopng after update and enabling top visited sites crashed again.

[2021-08-25 10:26] simonemainardi commented on #2117
Implemented.

[2021-08-25 10:26] #2117 closed, assigned to nobody

[2021-08-25 10:28] 612wong commented on #5800
Just found the traffic recording was turned off. Turned it on now and following is the output.

-bash-4.2$ n2disk1g --check-license
Time-Limited license
-bash-4.2$ sudo systemctl status n2disk-ntopng@et1
[sudo] password for swong:
● n2disk-ntopng@et1.service - n2disk ultra-high-speed traffic recorder with realtime indexing on et1
   Loaded: loaded (/usr/lib/systemd/system/n2disk-ntopng@.service; d

[2021-08-25 10:30] simonemainardi commented on #2226
Timeline is currently implemented for alerts. A user can visualize alerts and then decide to jump to historical flows (when nIndex is enabled) that caused the alert to be generated. For the other use case of normal traffic, we believe we can stay with the current timeseries drivers that allow to handle both RRD and InfluxDB.

[2021-08-25 10:30] #2226 closed, assigned to lucaderi

[2021-08-25 10:31] simonemainardi commented on #1984
superseded by https://github.com/ntop/ntopng/issues/2295

[2021-08-25 10:31] #1984 closed, assigned to nobody

[2021-08-25 10:33] simonemainardi commented on #2307
For the time being, we believe the information provided by the nEdge dashboard suffice to recognize proper configuration of WAN and LAN.

[2021-08-25 10:33] #2307 closed, assigned to simonemainardi, lucaderi

[2021-08-25 10:38] simonemainardi commented on #2360
Implemented when drilling down flows. A top charts open up when the application is selected, and it shows the overall throughput matching that application.

[2021-08-25 10:38] #2360 closed, assigned to nobody

[2021-08-25 10:40] cardigliano commented on #5800
@612wong any chance I can connect (e.g. ssh) to this system?

[2021-08-25 10:43] simonemainardi commented on #2570
All DNS queries seen, when associated to alerts, are always saved and reported under the alerts page.

You can also combine this with the use of unexpected DNS servers to receive alerts when an unexpected server is contacted.

[2021-08-25 10:43] #2570 closed, assigned to nobody

[2021-08-25 10:44] 612wong commented on #5800
Sorry. It's a server in the company and I could only share the screen with you if we can have a google meet.
remark: I clicked on the wrong button and closed the issue. Can I message you separately with the google meet link?

[2021-08-25 10:46] simonemainardi commented on #2773
Implemented

![image](https://user-images.githubusercontent.com/3397663/130777322-6fa6802f-14c4-42bf-81b7-4db468f5da14.png)

[2021-08-25 10:46] #2773 closed, assigned to lucaderi

[2021-08-25 10:48] simonemainardi commented on #2802
This has now been merged within the host score. Misbehaving hosts can be filtered by issue and then by score, to highlight the top sources of trouble.

[2021-08-25 10:48] #2802 closed, assigned to nobody

[2021-08-25 10:52] 612wong commented on #5800
-bash-4.2$ n2disk1g -V
n2disk1g v.3.7.210824 (r5324)
Copyright 2009-21 ntop.org
SystemID:      L1212EDB5000207D0--U1212EDB52F9665C7--OL
Edition:       1G [ntopng Enterprise L License]
License:       qj8B+W+RkGs/z3IV+oc1khkifhxrnKlRDesI8AaarD1DQrarBVoOdgnika/tZ1L3
               B2OEGfXT/RcjrUfmBIpeqPBifKmOaYk3d2JE7YhN1qaehk/fcq7Gc1e79uV+fBBn
               dhhznZwICp8lqUK0CWc5qsjUK5V2rGQjz3Q9OyvuH

[2021-08-25 10:52] simonemainardi commented on #3026
This can be obtained in the active hosts page by:

1. Selecting Local from the host filter
2. Selecting Now-way from the traffic filter

e.g.,

![image](https://user-images.githubusercontent.com/3397663/130778186-710ef88b-e708-4591-9899-7eff9f1b763e.png)

[2021-08-25 10:52] #3026 closed, assigned to nobody

[2021-08-25 10:54] simonemainardi commented on #2779
This can now be obtained with the new nIndex explorer by selecting the host, either as client, as server, or both, and the application DNS. Example:

![image](https://user-images.githubusercontent.com/3397663/130778365-46a4beb2-bddc-43c9-ab75-9e4fa4a37801.png)

[2021-08-25 10:54] #2779 closed, assigned to nobody

[2021-08-25 10:54] simonemainardi commented on #2823
Implemented as explained in https://github.com/ntop/ntopng/issues/2802#issuecomment-905389940

[2021-08-25 10:54] #2823 closed, assigned to nobody

[2021-08-25 10:58] simonemainardi commented on #3145
Autonomous system search is implemented:

![image](https://user-images.githubusercontent.com/3397663/130778696-9638416c-8c60-4bc4-90c1-0b9b04c5c4db.png)

To respond to queries such as "knowing the amount of traffic from your ASN to a remote ASN" you can use nIndex and the new explorer, using filters on the AS. For example, to know the traffic directed to DigitalOcean, you can query as

![image](ht

[2021-08-25 10:58] #3145 closed, assigned to nobody

[2021-08-25 10:59] cardigliano commented on #5800
@612wong please drop an email to cardigliano at ntop.org

[2021-08-25 11:00] simonemainardi commented on #3374
@cardigliano can this be closed as part of the "disable alerts" capabilities?

[2021-08-25 11:14] cardigliano commented on #3374
The current capabilities help filtering alerts, but they do not completely address this. However I guess we can close this for the time being as I did not see people demanding for a more fine grained filtering.

[2021-08-25 11:14] #3374 closed, assigned to cardigliano

[2021-08-25 11:19] cardigliano commented on #3296
This was a requirement for a specific customer, I guess this is no longer required (we added more information for AS, and more flexibility with traffic disaggregation in the meanwhile). We will reopen this in case it still applies.