[2021-01-19 11:55] simonemainardi commented on #4924
- Make sure to update to the latest stable version.
- Make sure to restart ntopng once you have set up Probe IP disaggregation

Elasticsearch export works properly

![image](https://user-images.githubusercontent.com/3397663/105031099-166e9d00-5a55-11eb-8b60-82779890e895.png)

Exported flows increase. And they end up in ES

![image](https://user-images.githubusercontent.com/3397663/105031354-7feeab

[2021-01-19 11:55] #4924 closed, assigned to nobody

[2021-01-19 12:01] simonemainardi commented on #4929
- Flows have a client and a server
- If you created a disaggregated interface "192.168.11.0/24", it means that either the client, the server, or both, are in 192.168.11.0/24.
- A flow falling into that disaggregated interface can be 1.2.3.4 [client] <->192.168.11.1 [server] for example.
- Hence, 1.2.3.4 or any other IP talking with 192.168.11.0/24 can end up in the top senders of the interface

So

[2021-01-19 12:16] sercopi135 commented on #4929
So to have the list of source IPs, belonging to a certain IP class, which generate more traffic, there is another method, is it possible to have this data?

[2021-01-19 12:50] martinscheu commented on #4886
see https://github.com/ntop/ntopng/issues/4919 for more general approach. thanks

[2021-01-19 12:50] #4886 closed, assigned to nobody

[2021-01-19 13:54] astalush opened #4931 "Problem between SNMP and Nprobe NTOPNG"
Hy. I have a problem/question : we had a problem with a ethernet interface that sent iperf traffic at full 1 gbit. On snmp when we looked over that interface we had seen that big traffic on that switch (interface Gi1/35) but when we looked through the nprobe that traffic was not there. Can you please see what can be the problem? The sflow is activated on that interface (Gi1/35) but nprobe didn't s

[2021-01-19 14:12] recalmer opened #4932 "VIEW:ALL - option generates errors and restarts of the NTOPNG process"
I try to use the "VIEW:ALL" option in ntopng.conf with "-i=view:all"ntopng  to use the existing interfaces under NTOPNG as one view. But the ntopng process then goes into a reboot-loop.

NTOPNG version:
v.4.3.210119    [Enterprise/Professional build]
Built on:       Debian GNU/Linux 10 (buster)

ntopng.conf:
-G=/var/run/ntopng.pid
-X=500000
-i="tcp://127.0.0.1:5556"
-i="tcp://127.0.0.1:5557"
-i=vi

[2021-01-19 14:38] #4926 closed, assigned to MatteoBiscosi

[2021-01-19 14:39] simonemainardi commented on #4920
I am getting correct severities with my ES datasource (see severity = 2)

![image](https://user-images.githubusercontent.com/3397663/105049053-8c323300-5a6c-11eb-89c0-672e9f197962.png)

![image](https://user-images.githubusercontent.com/3397663/105048965-77559f80-5a6c-11eb-82ac-4073a7f3cbe2.png)

[2021-01-19 14:43] simonemainardi commented on #4920
I get proper severities also if I use Discord

![image](https://user-images.githubusercontent.com/3397663/105049552-0f538900-5a6d-11eb-900f-0b648e19378b.png)

[2021-01-19 15:01] MatteoBiscosi commented on #4920
Tried even on Telegram and still no issue.
![Screenshot from 2021-01-19 15-59-32](https://user-images.githubusercontent.com/49585191/105051874-7d994b00-5a6f-11eb-8d66-c88a8b5a1eba.png)

[2021-01-19 15:01] #4920 closed, assigned to MatteoBiscosi

[2021-01-19 15:02] simonemainardi commented on #4931
Likely, your sFlow is not properly configured to send sFlow packet samples. Indeed, counter samples looks good as they show data.

- Check sFlow configuration
- Attach full page screenshots (including page headers) as screenshots

[2021-01-19 15:15] astalush commented on #4931
Sflow configuration on the Dell switch or the nprobe conf?
On the Dell I have :
sflow 1 destination IP PORT
sflow 1 destination owner SSTR notimeout
sflow 1 polling gi1/0/1-24 30
sflow 1 sampling gi1/0/1-24 1024

nprobe conf  :
-W
--collector-passthrough
--zmq="tcp://*:5580"
--collector-port=2080
-n=none
-i=none
-V 9
-g=/var/run/nprobe-91.pid
--tunnel
-T="%TCP_FLAGS %IPV4_NEXT_HOP %OUT_BYTES %LAST

[2021-01-19 15:27] NicolasPSQ commented on #4926
Hi, update done, but the problem is still present.

[2021-01-19 15:44] simonemainardi commented on #4926
new builds are being generated. Please wait a couple of hours and then update.

[2021-01-19 15:51] simonemainardi commented on #4932
how long does it take to crash?

[2021-01-19 16:07] recalmer commented on #4932
Hi. It crashed, 3-5 Sec. after Restart, with this option.

[2021-01-19 16:14] martinscheu commented on #4920
@simonemainardi , @MatteoBiscosi thanks for checking. what confuses me, is that I had different use numbers:
<img width="271" alt="Screenshot 2021-01-19 at 16 57 13" src="https://user-images.githubusercontent.com/38549755/105061270-9f97cb00-5a79-11eb-8e65-02cdd323240f.png">
with that I check configuration in e.g. in flow Pools all recipients checked, but now rechecking it was only the build in sel

[2021-01-19 17:08] simonemainardi commented on #4903
I am unable to reproduce reported behavior. @rreiner are you also on armhf? Please show me the output of ntopng --version

[2021-01-19 17:14] rreiner commented on #4903
~$ ntopng --version
v.4.3.210117    [Enterprise/Professional/Embedded build]
GIT rev:        dev:406f933f207b53f74c525c4a41f87a30087d80c8:20210117
Pro rev:        r3506
Built on:       Raspbian GNU/Linux 10 (buster)
System Id:      FD51A59B499602D2
Platform:       armv7l
Edition:        Enterprise Embedded
License Type:   Time-Limited [Empty license file]
Validity:       Until Tue Jan 19 12:23:59

[2021-01-19 17:18] rreiner commented on #4903
The URL http://pinkeye:3000/ works fine for the first ten minutes.
When accessing the web GUI after the initial 10 minutes, it gets into a redirect loop.

The final URL in the browser after it gives up trying to follow the redirects is:

http://pinkeye:3000/lua/http_status_code.lua?message=internal_error&referer=pinkeye%3A3000%2Flua%2Flogin.lua%3Freferer%3Dpinkeye%253A3000%252Flua%252Fhttp_status_

[2021-01-19 17:21] rreiner commented on #4903
The above is the final URL in firefox.  It's different in chrome:

http://pinkeye:3000/lua/login.lua?referer=pinkeye%3A3000%2Flua%2Fhttp_status_code.lua%3Fmessage%3Dinternal_error%26referer%3Dpinkeye%253A3000%252Flua%252Flogin.lua%253Freferer%253Dpinkeye%25253A3000%25252Flua%25252Fhttp_status_code.lua%25253Fmessage%25253Dinternal_error%252526referer%25253Dpinkeye%2525253A3000%2525252Flua%2525252Fl

[2021-01-19 18:29] martinscheu commented on #4918
thanks for clarification.

[2021-01-19 18:42] nygc-jmaldonado commented on #4910
Both configs attached are attached.

________________________________
From: Simone Mainardi <notifications@github.com>
Sent: Monday, January 18, 2021 6:38 AM
To: ntop/ntopng
Cc: Justin Maldonado; Author
Subject: Re: [ntop/ntopng] Have 2 ASA's with identical configs; only 1 ASA appears in NTOP (#4910)

Attach ntopng and nprobe configs

—
You are receiving this because you authored the thread.
Reply

[2021-01-20 06:27] astalush commented on #4931
Any ideas? When you look the sFlow Device the data sent by the dell switch is there, so why ntopng didn't capture it into the traffic dashboard?

[2021-01-20 07:03] behzad-kh commented on #4864
here is the dump taken from the Mysql:
![image](https://user-images.githubusercontent.com/24776390/105139033-f7cadd80-5b0a-11eb-83f6-0f7a0b2dcce5.png)

Another note that the from number of packets that is being exchanged, if we assume each packet includes 1500 bytes MTU, we can conclude the followings:
2372601x1500=3,558,901,500 ==> for the 3GB file which with headers is around 3.2 GB which is cor

[2021-01-20 07:16] behzad-kh commented on #4864
here is the ntopng database dump file attached.
[ntopng.zip](https://github.com/ntop/ntopng/files/5840701/ntopng.zip)

[2021-01-20 07:43] Niklasr69 opened #4933 "Possibility to filter out flows with a certain DSCP value in ntopng"
New feature request to ntopng:
From the flow view, it is possible today to filter out flows with different characteristics, examples protocol, application etc.
Lacks the ability to filter out flows with a certain DSCP value.
Would be great if it could be introduced, even in the history part it would be very valuable.

[2021-01-20 08:05] lucaderi opened #4934 "Compare non time-based data with pie/donut and bar chart"
It is requested to implement the ability to create a widget where one or MORE (let's say up to 10) datasource are specified and data is compared.

Caveat
- the number of slices and their order MUST be identical
- Implement the concept of "other" for too-may slices
- The "Other" must be ALIKE in the datasources so that it is possible to compare data
- Colors must be static and should NOT change ACR

[2021-01-20 08:35] lucaderi commented on #2977
In essence the alert must be created whenever a remote->local communication has

- breed
      NDPI_PROTOCOL_UNSAFE,                /* Probably provides risks, but could be a normal traffic.  */
   NDPI_PROTOCOL_POTENTIALLY_DANGEROUS, /* Possibly dangerous (ex. Tor). */
   NDPI_PROTOCOL_DANGEROUS,             /* Surely is dangerous (ex. smbv1). Be prepared to troubles */

- category
   CUSTOM_CATE

[2021-01-20 09:38] MatteoBiscosi commented on #4932
Hi,
please download this binary with debug symbols [https://www.dropbox.com/s/ddi7gjw39nhbr65/ntopng?dl=0](url)
Run it in gdb as you normally do:
gdb --args <downloaded binary path> /etc/ntopng/ntopng.conf
Then run it and wait until it crashes. When it crashes type 'bt' inside the (gdb) prompt and send me the output.

[2021-01-20 09:39] astalush commented on #4931
And there is a problem, look at this : the connection between the wikiii machine (where this speedtest is located) and the PVLT370901 machine (from where I launched the speedtest) doesn't show the real speed, it only shows 2mbps (First SS). When I look into the dashboard when I see this wikii machine (the speedtest machine) top local talkers it's the same, not showin g the good speeds. (second SS°

[2021-01-20 10:18] simonemainardi commented on #4903
Thanks for providing this. Are you using it with fritzdump as well?

[2021-01-20 10:57] #2977 closed, assigned to MatteoBiscosi

[2021-01-20 12:05] NetworkSeb commented on #4833
Thanks @simonemainardi is that live in the packages? If so I can let you know if I get the same results.

I also noted that only get the previous errors with the bulk export when calling ntopng with -X/-x without the export to ES works perfectly, so I've just removed options in the ntopng.conf and everything is working as it should!

[2021-01-20 13:15] recalmer commented on #4932
without gdb
root@CDC-S-NTOP01:~# /usr/bin/ntopng /etc/ntopng/ntopng.conf
20/Jan/2021 14:14:27 [Ntop.cpp:2323] Setting local networks to 192.168.0.0/16,10.0.0.0/8,172.16.0.0/12
20/Jan/2021 14:14:27 [Redis.cpp:157] Successfully connected to redis 127.0.0.1:6379@0
20/Jan/2021 14:14:27 [Redis.cpp:157] Successfully connected to redis 127.0.0.1:6379@0
20/Jan/2021 14:14:28 [PeriodicityHash.cpp:299] WARNI

[2021-01-20 13:20] simonemainardi commented on #1599
The only thing left to remove is

[code]

Operating Systems must be handled as another per-interface hash table, e.g., see `include/AutonomousSystemHash.h include/VlanHash.h`

Then, a `get_countries_data.lua` must be implemented and called from the datatable shown in http://develv5:3000/lua/os_stats.lua

For reference, see the implementation of how autonomous systems, or vlans, are handled.

[2021-01-20 13:20] simonemainardi commented on #1599
Remember to cleanup the code once done. That is, throw get_grouped_hosts_data.lua and related functions which will be no longer used.

[2021-01-20 13:27] simonemainardi commented on #1599
You should implement a method like `as = iface->getAS(&ip, true /* Create if missing */, true /* Inline call */))` for the operating system.

Each instance of `Host` will have a pointer to the OperatingSystem, .i.e., OperatingSystem os will become a pointer to an entry in the operating systems hash. Set this pointer in `setOS` and don't forget to increase/decrease reference counters.

[2021-01-20 13:30] simonemainardi commented on #1786
Add two extra timeseries, e.g., ts_utils.newSchema("asn:traffic_sent"), ts_utils.newSchema("asn:traffic_rcvd") in `ts_5min.lua` ASN SCHEMAS.

Write timeseries data in `ts_dump.asn_update_rrds`

Show the two extra entries in the autonomous system page. What is asked will appear for free once done.

[2021-01-20 13:44] simonemainardi commented on #1786
for the schemas

[code]

[2021-01-20 13:45] simonemainardi commented on #1786
for the update

[code]

[2021-01-20 15:07] meepmeep opened #4935 "Unable to activate "community mode" on v4.3.210120 / opnsense (box is unchecked every time)"
I just upgraded my opnsense installation to OPNsense 20.7.8, and the ntopng package have been upgraded to "4.3.210120".
In this version, the "community mode" must be activated on the web page : https://host/ui/ntopng/license,
Except  is doesn't work:

**If I check the box, and refresh the page, the box is shown empty.**
I try to "check / save / refresh", or even "stop ntop / save / check the box /

[2021-01-20 16:52] rreiner commented on #4903
No, I'm not using fritzdump

[2021-01-20 16:58] lallori opened #4936 "Elasticsearch Index mapping generation - wrong type for location lat and long"
Hello, I am experiencing a problem with the automatic index generation on Elasticsearch configured as endopoint recipient inside the ntopng gui. The mapping that regards to longitude and latitude of a source or destination are created as type "number", so they cannot contain geographic coordinates (probably the geo_point type should be used):

![image](https://user-images.githubusercontent.com/160

[2021-01-20 17:35] simonemainardi commented on #4932
without gdb is not useful. Please, follow instructions @MatteoBiscosi has sent you.

[2021-01-20 17:35] simonemainardi commented on #4936
can you provide a pull request with the fix for this?

[2021-01-20 17:36] simonemainardi commented on #4833
correct

[2021-01-20 23:21] mihakralj commented on #4903
have the same issue. The --community flag works - for about an hour or so. But even with --community flag it goes into redirect loop after about an hour or so and then ntopng service needs to be restarted to make GUI operational again.

[code]

[2021-01-20 23:22] recalmer commented on #4932
Output with gdb:

Starting program: /usr/bin/ntopng /etc/ntopng/ntopng.conf
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
[New Thread 0x7ffff2ac1700 (LWP 23633)]
[New Thread 0x7ffff22c0700 (LWP 23634)]
21/Jan/2021 00:19:14 [Ntop.cpp:2323] Setting local networks to 192.168.0.0/16,10.0.0.0/8,172.16.0.0/12
21/Jan/2021 00:19:14

[2021-01-20 23:28] recalmer commented on #4932
with gdb and both gdb options:
handle SIG33 nostop noprint pass
handle SIGPIPE nostop noprint pass

Reading symbols from /usr/bin/ntopng...done.
(gdb) handle SIGPIPE nostop noprint pass
Signal        Stop      Print   Pass to program Description
SIGPIPE       No        No      Yes             Broken pipe
(gdb) SIG33 nostop noprint pass
Undefined command: "SIG33".  Try "help".
(gdb) handle SIG33 no

[2021-01-20 23:33] recalmer commented on #4932
one more with gdb without options

(gdb) run
Starting program: /usr/bin/ntopng /etc/ntopng/ntopng.conf
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
[New Thread 0x7ffff2ac1700 (LWP 26018)]
[New Thread 0x7ffff22c0700 (LWP 26019)]
21/Jan/2021 00:30:51 [Ntop.cpp:2323] Setting local networks to 192.168.0.0/16,10.0.0.0/8,172.16.

[2021-01-20 23:37] recalmer commented on #4932
And one more with both options:

Reading symbols from /usr/bin/ntopng...done.
(gdb) handle SIGPIPE nostop noprint pass
Signal        Stop      Print   Pass to program Description
SIGPIPE       No        No      Yes             Broken pipe
(gdb) handle SIG33 nostop noprint pass
Signal        Stop      Print   Pass to program Description
SIG33         No        No      Yes             Real-time even

[2021-01-21 08:16] simonemainardi commented on #4932
[Switching to Thread 0x7fff2d7fa700 (LWP 27335)]
IpAddress::isBroadcastAddress (this=0x2ec) at /home/biscosi/ntopng/include/IpAddress.h:80
80 /home/biscosi/ntopng/include/IpAddress.h: No such file or directory.
(gdb) br

Thanks. Please, redo this but type `bt` here - not `br` - and send the output.

[2021-01-21 08:17] simonemainardi commented on #4903
@mihakralj and you get the same errors such as

?

[2021-01-21 08:18] lucaderi opened #4937 "Top sites generation is broken"
How to reproduce it
1) set the network interface with mac addresses for local hosts (I use DHCP)
![Screen Shot 2021-01-21 at 09 16 06](https://user-images.githubusercontent.com/4493366/105322572-5bb3db80-5bc9-11eb-80db-a0b51a8727fc.png)

2) start ntopng in the morning: I expect to see the sites from the previous day but the list is empty (past hours I mean)
![Screen Shot 2021-01-21 at 09 15 53](ht

[2021-01-21 08:21] simonemainardi commented on #4910
Jump on the nprobe machine and execute 1 minute each command

[code]

Then, send me those files for inspection. My guess is that you are not getting data or templates and so nProbe doesn't know how to interpret NetFlow. You can send using mainardi at ntop dot org

[2021-01-21 10:27] #1599 closed, assigned to MatteoBiscosi

[2021-01-21 11:49] MatteoBiscosi commented on #4936
Hi, in ntopng_template the location is already a geo_point type, like the screenshot shows

![Screenshot from 2021-01-21 12-46-33](https://user-images.githubusercontent.com/49585191/105347339-0e466700-5be7-11eb-9685-d9f60a7d79a3.png)

[2021-01-21 11:54] #1786 closed, assigned to MatteoBiscosi

[2021-01-21 12:02] lucaderi opened #4938 "Add missing button hover on flow alerts"
![Screen Shot 2021-01-21 at 10 40 28](https://user-images.githubusercontent.com/4493366/105348604-dd673180-5be8-11eb-817b-e458cebd5085.png)

[2021-01-21 12:20] lucaderi opened #4939 "Service/Periodicity map: add ageing and protocol filter"
In both service/periodicity map (e.g see map_handler.lua) add the ability to specify two more parameters
- ageing: all (as in the current version), today, last 7 days, last 30 days. In essence report all arcs/node that have been added (first seen) today, within a week from now, in the last 30 days or since ntopng started
- l7proto: add a filter for drawing only hosts/arcs with the specified l7 pro

[2021-01-21 12:22] lucaderi opened #4940 "Service/Periodicity map: add additional filtering menus"
Add the ability do filter information according to ageing and l7 protocol.

The ageing menu is static. Instead the l7 protocol is dynamic and it must be populated with protocols observed by the map.

This ticket depends on #4939

[2021-01-21 12:24] lucaderi opened #4941 "Flow Alerts: Add L7 Column and Filter Menu"
In the flow alerts it is requested to add a new column with the L7 protocol, and a new filtering menu for selecting only those events of the selected L7 protocol. By default the  L7 protocol menu is set to All

[2021-01-21 12:29] lucaderi opened #4942 "Add the ability to suppress specific alerts"
Some flow alerts are not relevant for specific hosts. For instance a "Obsolete TLS cipher" for an old device that cannot be upgraded can be safely ignored.

This ticket is to request the implementation of a whitelist for specific alerts for a specific host (either source or destination). In this case such alert will be
- logged with severity info or not logged at all (whatever is doable)
- the hos

[2021-01-21 12:31] lucaderi opened #4943 "Implement L2 Flow concept"
In ntopng flows are considered only as L3 flows so people are blind for L2 flows.

This is to request the implementation of L2 flows (e.g. for ARP) for non IPv4/IPv6 protocols

[2021-01-21 15:34] cardigliano commented on #4837
@vollkommenheit what do you mean with "gets ntopng (but not ntopng-bin) to look inside", is it working for you when running the ntopng binary? (vs ntopng-bin not working when running it directly, which is expected)

[2021-01-21 16:14] lucaderi opened #4944 "Implement Service/Periodicity Map Autolayout"
Add a new button in the map to force auto-layout as it happens when you open the map for the first time

[2021-01-21 16:51] cardigliano commented on #4935
@meepmeep could you try updating the plugin to today's version and let us know?

[2021-01-21 17:05] #4937 closed, assigned to MatteoBiscosi

[2021-01-21 17:21] cardigliano commented on #4882
Actually the fritzdump.sh script is configured to capture traffic from the WAN interface (if you open it you notice it has IFACE="2-0", where 2-0 is usually the WAN), thus your raspberry should get a copy of the internet traffic with no duplicate, however I am not sure about the capacity of your Fritzbox. Also, you should make sure that in your Fritzbox model the WAN interface is identified as 2-0

[2021-01-21 17:51] meepmeep commented on #4935
It works with the version 4.3.210121 (except that you still don't show the expanded menu on the left, but it's not really important).

Thanks :)

[2021-01-21 17:51] #4935 closed, assigned to cardigliano

[2021-01-21 20:41] recalmer commented on #4932
For help, type "help".
Type "apropos word" to search for commands related to "word"...
Reading symbols from /usr/bin/ntopng...done.
(gdb) handle SIG33 nostop noprint pass
Signal        Stop      Print   Pass to program Description
SIG33         No        No      Yes             Real-time event 33
(gdb) handle SIGPIPE nostop noprint pass
Signal        Stop      Print   Pass to program Description
S

[2021-01-21 20:44] recalmer commented on #4932
(gdb) run
Starting program: /usr/bin/ntopng /etc/ntopng/ntopng.conf
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
[New Thread 0x7ffff2ac1700 (LWP 10737)]
[New Thread 0x7ffff22c0700 (LWP 10738)]
21/Jan/2021 21:44:00 [Ntop.cpp:2323] Setting local networks to 192.168.0.0/16,10.0.0.0/8,172.16.0.0/12
21/Jan/2021 21:44:00 [Redis.

[2021-01-21 20:47] recalmer commented on #4932
(gdb) (gdb) run
Undefined command: "".  Try "help".
(gdb) The program being debugged has been started already.
[New Thread 0x7ffff174d700 (LWP 11374)]
[New Thread 0x7ffff0f4c700 (LWP 11375)]
21/Jan/2021 21:45:42 [Ntop.cpp:2428] Registered interface tcp://127.0.0.1:5556 [id: 5]
21/Jan/2021 21:45:42 [PeriodicityHash.cpp:299] WARNING: Deserialization error
21/Jan/2021 21:45:42 [PeriodicityHash.cpp:29

[2021-01-21 20:57] recalmer commented on #4932
And one try, with the original ntopng and both gdb options:

(gdb) handle SIG33 nostop noprint pass
Signal        Stop      Print   Pass to program Description
SIG33         No        No      Yes             Real-time event 33
(gdb) handle SIGPIPE nostop noprint pass
Signal        Stop      Print   Pass to program Description
SIGPIPE       No        No      Yes             Broken pipe
(gdb)
Displa

[2021-01-21 21:02] recalmer commented on #4932
I hope you can find the bug from the GDB logs. A link to the following document from you, would have been helpful.... It is my first time with gdb. I think that without the two GDB options you would not have been able to see much.

https://github.com/ntop/ntopng/blob/dev/doc/README.crash.md

Best Regard Rene

[2021-01-21 21:22] lucaderi opened #4945 "Add label to local networks"
As of today networks added vi -m are unlabelled.

It i requested to add an (optional) label as
-m "192.168.1.0/24=home network,172.16.0.0/16,10.0.0.0/8=legacy network"

Labels will be used in the /lua/network_stats.lua page

[2021-01-21 21:51] mihakralj commented on #4903
this is the final redirected URL after ntopng flips from Enterprise to community edition:

https://192.168.1.1:3443/lua/http_status_code.lua?message=internal_error&referer=192.168.1.1%3A3443%2Flua%2Fhttp_status_code.lua%3Fmessage%3Dinternal_error%26referer%3D192.168.1.1%253A3443%252Flua%252Fhttp_status_code.lua%253Fmessage%253Dinternal_error%2526referer%253D192.168.1.1%25253A3443%25252Flua%25252Fh

[2021-01-21 22:07] mihakralj commented on #4903
here is the bottom of ntopng.log at the time of failure:
`
21/Jan/2021 14:05:10 [LuaEngine.cpp:391] WARNING: Script failure [/var/db/ntopng/plugins1/alert_definitions/alert_iec_invalid_transition.lua][...gins1/alert_definitions/alert_iec_invalid_transition.lua:1: unexpected symbol near '<\135>']
21/Jan/2021 14:05:10 [AlertCheckLuaEngine.cpp:73] WARNING: Script failure[/usr/local/share/ntopng/scrip

[2021-01-22 08:07] lallori commented on #4936
Thanks for you response Matteo.

I tried to update ntopng to last version (nightly) but the ES index continues to be generated the wrong way.

I found an error in the system logs:
[notifications.lua:30] [elasticsearch.lua:92] ERROR Unable to configure the Elasticsearch index http://127.0.0.1:9200/

Tried to take a look in the code but I cannot find the file elasticsearch.lua.

This is how the mapp

[2021-01-22 08:32] simonemainardi commented on #4936
@MatteoBiscosi

seems results are actually different:

![image](https://user-images.githubusercontent.com/3397663/105466513-9df61f00-5c94-11eb-9ecc-a6e6b02dc04c.png)

![image](https://user-images.githubusercontent.com/3397663/105466605-c2ea9200-5c94-11eb-94cf-2369c4f12625.png)

[2021-01-22 08:44] cardigliano commented on #4864
@behzad-kh I pushed a fix for this (it was related to the bytes column size), a new stable package will be available later today. However since this requires a new table schema, after the update I recommend to stop ntopng, remove your current tables from the db (I guess this is possible as you are still in the evaluation phase, otherwise please let me know), restart ntopng to let it create new tab

[2021-01-22 08:58] lallori commented on #4936
Just to sum up my configuration:

Ntopng (nightly - CentOS8):
![image](https://user-images.githubusercontent.com/16099406/105468363-32618100-5c97-11eb-93fe-7b618b16c736.png)

Elasticsearch:
![image](https://user-images.githubusercontent.com/16099406/105472750-989cd280-5c9c-11eb-8a75-ad9b1bcf0db4.png)

Kibana:
![image](https://user-images.githubusercontent.com/16099406/105468628-78b6e000-5c97-11eb-

[2021-01-22 09:12] behzad-kh commented on #4864
thank you very much @cardigliano
I will update and keep you updated with the end result.

[2021-01-22 09:41] bogikornel opened #4946 "INPUT_SNMP and OUTPUT_SNMP ID"
The snmp_input and snmp_output IDs are currently 16 bits. I want it to be 32-bit.

[2021-01-22 09:46] cardigliano commented on #4946
Fix provided in https://github.com/ntop/ntopng/commit/f2e64bb9eff939d9ad8568991f5b7c5cc42e1c87 a new package will be available later today

[2021-01-22 09:50] bogikornel commented on #4946
Will this be included in stable branch 4.2 or beta 4.3?

[2021-01-22 09:51] cardigliano commented on #4946
Both

[2021-01-22 10:26] behzad-kh commented on #4864
@cardigliano
I have tested the scenario one more time and it is working correctly.
another question, what is the maximum byte column size that it can hold?
as you have said earlier, the issue was the column size. It is good to know the current maximum byte column size.

[2021-01-22 10:28] cardigliano commented on #4864
It's a 64-bit number now, you will not hit a limit again :-)

[2021-01-22 10:28] #4864 closed, assigned to cardigliano

[2021-01-22 10:54] #4932 closed, assigned to MatteoBiscosi

[2021-01-22 10:54] simonemainardi commented on #4932
Thanks for reporting. A new build with the fix is in progress. Hold on a couple of hours, update, and it will work.

[2021-01-22 12:08] junaid-soomro-ivolve opened #4947 "save flows permanently in time series database."
I have seen that there is an option in settings for timeseries. Which shows number of days before NTOP overwrites or removes the data from DB. How can i save this data permanently instead letting NTOP overwrite or remove it after N amount of days?

[2021-01-22 13:34] simonemainardi commented on #4947
You configure it from

![image](https://user-images.githubusercontent.com/3397663/105497327-f6421680-5cbe-11eb-9efb-1f63c3d47c64.png)

[2021-01-22 13:34] #4947 closed, assigned to nobody

[2021-01-22 14:31] MatteoBiscosi commented on #4936
Hi,
The problem should be fixed now, build is in progress, bear with it for 2 hours at most.
Remember to remove the previous indexes you had stored inside Elasticsearch and the previous templates (ntopng template is "so-ntopng"); after that it should work correctly. Let me know if you still have some issue.
Thanks for your patience.

[2021-01-22 15:58] vollkommenheit commented on #4837
@cardigliano I mean I think the `ntopng-bin` bundled with the official macOS installer  (such as https://packages.ntop.org/MacOS/ntopng-4.3.201102.pkg) should be [re-]compiled with the  flag `RPATH=/usr/local/opt/ntopng` (apparently a feature of ld.so/linker) rather than `LD_LIBRARY_PATH` or `LDFLAGS` or `DYLD_LIBRARY_PATH`, much like the change I made to the `/usr/local/bin/ntopng` shell script w

[2021-01-22 22:41] martinscheu opened #4948 "Add additional filter possibilities to maps"
Hello,
In networks with 500 hosts or more, it would be helpful to have additional filter possibilities in the maps view.
Currently is "all" or "unicast" or "pool entry".
To handle lots of host it would be nice to have filter groups:
group 1 "all or unicast"
group 2 "pool entries"
group 3 "Layer7"
Filter example: unicast of s7comm in the PLC pool
Thanks.

Related to https://github.com/ntop/ntopng/i

[2021-01-22 22:46] martinscheu opened #4949 "Resizing of maps window frame"
Hello,
Currently it looks like the maps window frame has a max size:

<img width="2921" alt="Screenshot 2021-01-22 at 22 09 30" src="https://user-images.githubusercontent.com/38549755/105557161-d127c500-5d0b-11eb-844d-2772a04d31ff.png">

The frame containing the license info and uptime could be smaller, giving more space for the map itself.
Thank you

[2021-01-22 22:49] martinscheu opened #4950 "Pool filter or selection on the flow page"
Hello
Beside the interface selection it would be helpful to have a pool selection, in order to see only flows belonging to a pool.
Thanks.

[2021-01-22 22:57] martinscheu opened #4951 "Not filter on flow page"
Hello
It would be helpful to have a Filter != value possibility on the flow page.
I want to filter out DNS or availability / redundancy flows like CPHA or infrastructure flows like CAPWAP.
Thank you.

[2021-01-23 09:24] lallori commented on #4936
Hi @MatteoBiscosi and @simonemainardi,

thank you for your fast response.

I stopped ntopng, updated the packages, removed indexes, removed indexpatterns, restarted ntopng.
But unfortunately, the problem is still there:
![image](https://user-images.githubusercontent.com/16099406/105574327-21327600-5d64-11eb-8b1d-d7ba791b46fa.png)

![image](https://user-images.githubusercontent.com/16099406/1055743

[2021-01-23 10:36] simonemainardi commented on #4936
Did you delete the template as well?

stop ntopng
use DELETE /_template/os-ntopng
then restart

[2021-01-23 11:04] lallori commented on #4936
Hi Simone,

No I did not but I do not have that template:
![image](https://user-images.githubusercontent.com/16099406/105576383-ad4b9a00-5d72-11eb-9982-ba0a370b7317.png)

![image](https://user-images.githubusercontent.com/16099406/105576430-0a475000-5d73-11eb-9985-74d86ae902ae.png)

The only one I have is this:
![image](https://user-images.githubusercontent.com/16099406/105576403-d9ffb180-5d72-11e

[2021-01-23 11:05] simonemainardi commented on #4936
Correct. The template is not pushed. Are you using the latest version? Do you still have the error?

[2021-01-23 11:20] lallori commented on #4936
Yes I am,

![image](https://user-images.githubusercontent.com/16099406/105576764-5bf0da00-5d75-11eb-895c-bc51a70684ab.png)

Yes, still same error:
![image](https://user-images.githubusercontent.com/16099406/105576750-44b1ec80-5d75-11eb-9cd4-cd72c9e3df33.png)

[2021-01-23 16:45] gianogli opened #4952 "[InfluxDB] "no data" issue in Grafana graphs if measurement fields are not initialized with 0"
We are using Grafana to create some useful graphs with influxdb ntopng data.
On our ntopng configuration we have 8 interfaces and our goal is create some graphs where plot the data rate for some specific ndpi protocols (Teams, Dropbox, Microsoft365, ...).

Here one of these graphs:

![Screenshot_20210123_163103](https://user-images.githubusercontent.com/14093378/105606341-180fcc00-5d99-11eb-9620-9

[2021-01-24 13:02] neotrak opened #4953 "Add option to disable auto update blocklists and perform manually"
v.4.2.201105

**Problem:** Enabled blocklists auto update daily or hourly. Can you add manual option to set? In action column, it's already possible to tap for check update each blocklists whenever necessary one by one then only that thing still missing.

![image](https://user-images.githubusercontent.com/73976062/105630709-4bc42200-5e7d-11eb-8cf8-b63bbd736277.png)

[2021-01-25 08:06] #4946 closed, assigned to cardigliano

[2021-01-25 09:46] lucaderi commented on #4951
We'll implement as http://localhost:3000/lua/pro/enterprise/service_map.lua?page=graph&l7_proto=dns,ftp

[2021-01-25 09:48] simonemainardi commented on #4910
Second ASA seems not to be reporting templates as we have verified via the pcap provided

![image](https://user-images.githubusercontent.com/3397663/105689200-bff0db00-5efa-11eb-8393-e6261bbe3520.png)

Without templates, it is impossible for nProbe to parse NetFlow. Check the ASA, make sure it exports templates periodically, every 10-30 seconds.

[2021-01-25 10:10] cardigliano opened #4954 "Fix storage utilization charts on FreeBSD"

[2021-01-25 13:06] junaid-soomro-ivolve commented on #4947
i know that. That section says "by default it will store it for 30 days". I want to store data permanently. There is no option for that. That is my question. Should i leave it blank?

[2021-01-25 13:17] Azhdar1990 opened #4955 "Traffic Flow from LAN interfaces to WAN interface"
Hello
I need to monitor traffic flow from hosts in my network (lan interface) to the internet .
There is NAS storage in local network.
I see my hosts and get info about throughput per host.
I created alert (also created endpoints and recipients from web interface of ntopng):
When host throughput reachs 20 mb alert will be triggered.
But if his host start to download or upload from NAS storage i al

[2021-01-25 13:33] simonemainardi commented on #4952
Why don't you just set an explicit color in grafana to any of the timeseries? E.g., "om 2" is "pink", and that's it. You should not and cannot rely on ordering or on asking to fill a database with ZERO points for any possible timeseries. This will not scale and just make things very inefficient.

[2021-01-25 15:51] lucaderi opened #4956 "List available network interfaces addresses"
It is requested to extend Utils::listInterfaces (used by Lua's ntop.listInterfaces()) to add as information returned the IPv4 and IPv6 interface addresses read by  Utils::readIPv4() and  Utils::readIPv6(). In case the interface as not address specified, such information will be omitted.

[2021-01-25 15:53] lucaderi opened #4957 "Add binding interface in ICMP active tests"
It is requested to add a new dropdown menu named "Test Interface" in ICMP and Continuous ICMP only
![Screen Shot 2021-01-25 at 16 39 30](https://user-images.githubusercontent.com/4493366/105728075-07dc2600-5f2c-11eb-817b-61a40c693aab.png)

that has the following values
- System default (this is the default, that means that the system will choose the interface, basically as today)
- a list of the n

[2021-01-25 16:14] MatteoBiscosi commented on #4936
Hi Iallori, ty for your patience the ntopng-template is the `so-ntopng` (that `so` stands for "securityonion").
So like Simone told you,

stop ntopng
use DELETE /_template/so-ntopng
then restart

Again, ty for your patience and let me know if the problem persists

[2021-01-25 16:33] lucaderi opened #4958 "Some columns wrap, others are empty"
![Screen Shot 2021-01-25 at 17 32 37](https://user-images.githubusercontent.com/4493366/105734852-5d680100-5f33-11eb-8e76-74218ed92248.png)

[2021-01-25 16:49] lallori commented on #4936
Thank you Matteo!

Unfortunately the so-ntopng template is not created on ntop startup. You can see that three posts above.

See here:

I think it does not get created because of the 500 message I get in ntop logs (followed by the notification.lua message, see two posts above).
See here:

[2021-01-25 16:49] PaoloCmb opened #4959 "Ntopng restarts every minute after associating "Suricata" companion interface"
Hi.
I recently noticed that, after associating the "Suricata" interface as a companion interface to the "Ntop" interface, the ntop service restarts almost every minute due to a segmentation fault error.
If I don't set the companion interface, ntopng works flawlessly.
Could you please help me in identifying the issue?

Thanks in advance

Logs:
[code]

[2021-01-25 16:50] simonemainardi commented on #4936
@MatteoBiscosi look at the error - unable to configure the Elasticsearch index. This means ntopng is failing to send (or Elasticsearch is failing to receive) the template. We need to understand this. @lallori please attach a screenshot of endpoint and recipient config.

[2021-01-25 16:51] simonemainardi commented on #4947
Add a large value.

[2021-01-25 17:02] nygc-jmaldonado commented on #4910
Both are configured identically, neither is showing up in ntopng.
The only difference is what interface the ASA chooses to send packets out.

1st  ASA

access-list flow_export_acl extended permit ip any any

flow-export destination inside 10.1.x.91 2055
flow-export template timeout-rate 5
flow-export active refresh-interval 1

class-map flow_export_class
match access-list flow_export_acl
class flo

[2021-01-25 17:03] simonemainardi commented on #4910
I am not familiar with ASA but unless you configure them to export templates, there's no way for nprobe to parse their netflow. Can you check this?

[2021-01-25 17:18] mamema opened #4960 "Cannot access ntopng web page - Error"
Hi,

i have this:

HTTP/1.1 302 Found Server: ntopng 4.3.210125 (amd64) Set-Cookie: session=; path=/; HttpOnly; SameSite=lax; Secure Location: /lua/http_status_code.lua?message=internal_error&referer=192.168.0.2%3A3000%2F&error_message=...%2Flocal%2Fshare%2Fntopng%2Fscripts%2Flua%2Fmodules%2Falert_consts.lua%3A402%3A%20attempt%20to%20index%20a%20nil%20value%20%28field%20%27meta%27%29 .../local/sha

[2021-01-25 17:31] MatteoBiscosi commented on #4936
Hi, the build is in progress, bear with it for at most 2 hours and try to upgrade; let me know if you still have some problem.
Carefull, with the previous comment I meant that the ntopng-template is `so-ntopng` not `os-ntopng` like the screenshots show

[2021-01-25 17:41] simonemainardi opened #4961 "Ping on FreeBSD"
ntopng is unable to open a socket to ping in freebsd (freebsd 12 and OPNsense)

[code]

[2021-01-25 17:45] simonemainardi opened #4962 "OPNsense - disinstalling ntopng does not stop the service"
ntopng process keeps running when ntopng is uninstalled (same when uninstalling ntopng as dependency of the os-ntopng-enterprise plugin).

Expected behavior is to stop the process during disinstallation.

[2021-01-25 17:48] simonemainardi opened #4963 "OPNsense - add list of local networks"
When OPNsense ntopng is run in combination with nProbe, there's no way to specify local networks.

It is requested to add a parameter with the local networks or - ideal but may be too time-consuming - automatically add firewall networks to the list in -m

[2021-01-25 18:40] cardigliano opened #4964 "Allow editing local users when LDAP auth is used with fallback enabled"

[2021-01-25 18:42] simonemainardi commented on #4903
Issue should be resolved. New arm builds are in progress and will be ready in a couple of hours from now. Please, update, and let me know. Thanks for your support in troubleshooting this.

[2021-01-25 18:54] gabryon99 commented on #4940
Done, check the pro repository.

[2021-01-25 18:55] gabryon99 commented on #4958
Increased the 'Last Seen' column width so the row doesn't wrap, check the pro repository.

[2021-01-25 19:19] mihakralj commented on #4903
just FYI, my ntopng runs on freeBSD on x86 Intel architecture...

[2021-01-25 19:45] lucaderi opened #4965 "Application protocol filtering is not working in service map"
![Screen Shot 2021-01-25 at 20 43 41](https://user-images.githubusercontent.com/4493366/105757318-1e937480-5f4e-11eb-8dd2-73abf0156b45.png)

[2021-01-25 20:49] lallori commented on #4936
After the last update (v.4.3.210125) the so-ntopng template is correctly created and the alert-ntopng index mapping is created with the geo_point types.

Thank you a lot @MatteoBiscosi and @simonemainardi .

[2021-01-25 20:50] #4936 closed, assigned to simonemainardi, MatteoBiscosi

[2021-01-25 20:52] lucaderi commented on #4965
With cache clean it works as workaround: you need to version files IMHO for long term solution

[2021-01-25 21:02] martinscheu opened #4966 "host map filter shows "Alerted Flows" twice"
Hello
The host map filter drop down shows "Alerted Flows" twice:
<img width="295" alt="Screenshot 2021-01-25 at 21 41 59" src="https://user-images.githubusercontent.com/38549755/105765552-e47ba000-5f58-11eb-90ac-95410957b544.png">
First link: /lua/hosts_map.lua?bubble_mode=2
Second link: /lua/hosts_map.lua?bubble_mode=9
Thanks

[2021-01-25 22:01] lallori opened #4967 "Elasticsearch geopoint - latitude and longitude values inverted"
Hi again @MatteoBiscosi,
sorry for bothering but I may found another issue.

It seems that Longitude and Latitude values indexed in so-notpng template are inverted.

This is Helsinki when putting it on a visualization map:

![maps_wrong](https://user-images.githubusercontent.com/16099406/105770796-f876d000-5f5f-11eb-9b43-4e41aeb63078.png)

This is its values in the index pattern:
![es_alerts-ntop_

[2021-01-25 23:08] martinscheu opened #4968 "Security analyst mode"
Hello
When detecting malicious network data, the analyst should not be able to directly open the extracted link, e.g. out of the TLS certificate:
<img width="332" alt="Screenshot 2021-01-25 at 23 56 27" src="https://user-images.githubusercontent.com/38549755/105776510-00873d80-5f69-11eb-8fe8-6b9a95115a66.png">
which opens http://www.amajai-technologies.world/ and this could lead to unwanted connec

[2021-01-26 05:47] closertotheedge commented on #4903
Thanks for the new version. I can confirm that the problem is solved with Version 4.3.210125-12909 / "ntopng / Embedded v.4.3.210125 (Raspbian GNU/Linux 10 (buster))".

What I also noticed is that the German web-frontend has some translation errors. For example "Upgrade to Pro/Enterprise version" in English now gives "Upgralang.zu lang. Professional Version" in German which is complete nonsense.

[2021-01-26 08:09] simonemainardi commented on #4903
@closertotheedge thanks for reporting.

As per the german translation, you may want to check the lang file out, fix it, and send a pull request. That would be great.

This is the file: https://github.com/ntop/ntopng/blob/dev/scripts/locales/de.lua

Thank you.

[2021-01-26 08:09] #4903 closed, assigned to simonemainardi

[2021-01-26 08:17] simonemainardi commented on #4960
Please, show how you have installed ntopng. My guess is that you have two versions installed, or an older version installed which is causing a clash.

Try and remove all installation first. Then, install according to https://packages.ntop.org/FreeBSD/

[2021-01-26 08:23] simonemainardi commented on #4931
I am not familiar with the sFlow configuration indicated. However, my guess is that the sFlow flow samples are not properly sent to nProbe. Can you please check this.

Also remove `-V 9 --tunnel` as they may not be needed.

[2021-01-26 08:32] simonemainardi opened #4969 "OPNsense - updating plugin does not restart the service"
Used the Firmware -> Plugins page to update the ntopng os-ntopng-enterprise plugin.

Update was successful but the service was not restarted

08:28:23 +0000 | Uptime: 14:53:18

Pressing multiple times on the "Check for updates" prints suspicious output, as if the update was not performed

![image](https://user-images.githubusercontent.com/3397663/105820076-5c79b280-5fb9-11eb-8016-223068d99d14.png)

[2021-01-26 08:39] astalush commented on #4931
The -- tunnel option is there because we have Aerohive Wi-Fi Hotspots and if I delete this option all traffic from those Wi-Fi Hotspot is encrypted and I can only see traffic from there but not who's making that traffic.

The sflow configuration is the one taken from the Dell site.

Into the last photo you can see the traffic but the speeds are not the same. It says the source and the destination

[2021-01-26 09:09] astalush commented on #4931
And how can I capture the sFlow to see how they are transmitted? Thanks.

[2021-01-26 09:48] MatteoBiscosi commented on #4966
Hi @martinscheu , the bug is fixed, builds are in progress, bear with it for at most 2 hours.

[2021-01-26 09:48] #4966 closed, assigned to MatteoBiscosi

[2021-01-26 09:50] MatteoBiscosi commented on #4967
Hi @lallori , when the builds for Windows are done, update ntopng and the bug should be fixed.

[2021-01-26 09:58] simonemainardi commented on #4959
Please, attach ntopng version used, and the config, including how you have configured the companion

[2021-01-26 10:03] gianogli commented on #4952
Yes, this is a possible solution but I've about 30 graphs with 8 interfaces each one... so I've to set manually (O_o) 240 colors!
I don't know how influxdb works... I thought it was enough to fill with one "0" all the not defined timeseries during the ntopng start.
If it's not possible I think that the only solution could be to set the colors in grafana using some script...
Thanks...

[2021-01-26 10:14] lucaderi commented on #4965
I have implemented ntop.getStaticFileEpoch() and modified the call to graph-map.js. @gabryon99 You now need to check all other files that include ntop's .js files and call the above method

[2021-01-26 10:23] simonemainardi commented on #4919
Implementation needs to be done as follow:

- User scripts that generate alerts have a flag in their metadata: `is_alert = true`. For all those scripts, add an extra `severity` inside metadata `default_value` table.
- `default_value` field `severity` must be populated with what is currently called as `set_severity` parameter. For example, if  the script has `alert:set_severity(alert_severities.err

[2021-01-26 10:35] PaoloCmb commented on #4959
Hi
ntopng Enterprise L v.4.3.210125 (Ubuntu 18.04.5 LTS)

[code]

The companion interface has been asspciated to ens192

[2021-01-26 11:16] mamema commented on #4960
Thank you, even though i've uninstalled everything as of documentation from you and/or pfsense, the find command found some leftovers. After removing those and reinstalling latest ntopng everything is up and running

[2021-01-26 11:25] cardigliano commented on #4963
Implemented

[2021-01-26 11:25] #4963 closed, assigned to cardigliano

[2021-01-26 13:45] PaoloCmb opened #4970 "Flows Throughput/Total bytes"
Hi.
It would be great to be able to filter the active flows using the top menus (Application, Category,Traffic profiles, ecc) and have (at the top or at the bottom) the total Throughput and Total bytes of the filtered flows.
This would help very much for realtime troubleshooting.

Also, would it be possible to select more than one entry in the top filters? (multi selection for single menu, ie. App

[2021-01-26 15:08] cardigliano commented on #4954
I ran a few tests and it seems to be working now

[2021-01-26 15:08] #4954 closed, assigned to cardigliano

[2021-01-26 15:10] #4960 closed, assigned to simonemainardi, lucaderi

[2021-01-26 15:25] cardigliano commented on #4962
This seems to be expected. On FreeBSD the system administrator is supposed to decide and take action on package update or uninstallation, the system should (just) update or uninstall the package.

[2021-01-26 15:25] #4962 closed, assigned to nobody

[2021-01-26 15:25] cardigliano commented on #4969
This seems to be expected. On FreeBSD the system administrator is supposed to decide and take action on package update or uninstallation, the system should (just) update or uninstall the package.

[2021-01-26 15:25] #4969 closed, assigned to nobody

[2021-01-26 15:37] lucaderi opened #4971 "Invalid service map report"
If you start "ntopng -i /tmp/a.pcap -m 192.168.0.0/16"
[a.pcap.gz](https://github.com/ntop/ntopng/files/5874325/a.pcap.gz)

Bugs
- 192.168.99.255 is a broadcast host however is not depicted as such
- There is the localhost host that does no exist in the table and in the trace

![Screen Shot 2021-01-26 at 16 36 13](https://user-images.githubusercontent.com/4493366/105866789-a6cc5500-5ff4-11eb-906c-

[2021-01-26 15:42] lallori commented on #4967
@MatteoBiscosi updated to v.4.3.210126 but I am having the same problem.

Thanks

[2021-01-26 17:16] mamema opened #4972 "Upper Left drop down menu - not working on all browsers"
Hi,

latest ntopng (from yesterday) running on freebsd (pfsense) has the following issue:

if one select the drop down menu in the upper left corner to select System or available interfaces, then:

chrome windows/osx - doesn't change view accordingly
chrome ios - change view accordingly
edge windows - change view accordingly
safari osx - doesn't change accordingly
Firefox osx -  change view accord

[2021-01-26 18:04] simonemainardi commented on #4967
@MatteoBiscosi please assist

[2021-01-26 18:05] simonemainardi commented on #4972
please, right-click, inspect element, then check for console errors and report them. Thanks.

[2021-01-26 18:07] lucaderi commented on #4958
Not quite

![Screen Shot 2021-01-26 at 19 07 16](https://user-images.githubusercontent.com/4493366/105885689-bb671800-6009-11eb-981e-b6ff58e21be5.png)

[2021-01-26 18:09] lucaderi commented on #4956
Will close once #4957 is verified as fixed

[2021-01-26 18:34] lucaderi opened #4973 "Partial local broadcast domain calculation"
The pcap https://github.com/ntop/ntopng/files/5874325/a.pcap.gz can be used to reproduce this issue

ntopng must take into account as broadcast domain 192.168.99.0/24 as 192.168.99.255 (part of the pcap) is broadcast IP

[2021-01-26 18:39] lucaderi opened #4974 "Empty network page"
The pcap https://github.com/ntop/ntopng/files/5874325/a.pcap.gz can be used to reproduce this issue

Starting ntopng with -i a.pcap -m 192.168.0.0/16 will result in an empty network page (no title etc). This  has to be fixed.

[2021-01-26 18:49] lucaderi opened #4975 "ntopng crashes when too many ZMQ interfaces are used"
it should not crash but just report a limit was hit

#7  0x000000000040e79a in main(int, char**) (argc=<optimized out>, argv=<optimized out>) at src/main.cpp:194
(gdb) f 3
#3  0x00007ffff794af28 in zmq::epoll_t::epoll_t(zmq::ctx_t const&) () from /lib64/libzmq.so.5
(gdb) f
#3  0x00007ffff794af28 in zmq::epoll_t::epoll_t(zmq::ctx_t const&) () from /lib64/libzmq.so.5
(gdb) f 6
#6  0x0000000000471462

[2021-01-26 18:52] simonemainardi commented on #4975
Crash was happening with 100 ZMQ intefaces.

After internal review, maximum number of ntopng interfaces has been reduced and the crash no longer occur (https://github.com/ntop/ntopng/commit/3159f49b2d9c3797dc6c3e922128df25bb79d66c). This is also documented in https://www.ntop.org/guides/ntopng/faq.html#maximum-number-of-interfaces

Specifying more than the maximum number of interfaces causes excee

[2021-01-26 18:52] #4975 closed, assigned to simonemainardi

[2021-01-26 18:54] simonemainardi opened #4976 "Add Layer-7 Applications to Exporters"
When ntopng is used over ZMQ, a page Exporter appears, showing a per-exported breadown of collected data.

It is requested to add L7 data to the exporters that now only have ingress and egress traffic.

[2021-01-27 05:12] amastelek opened #4977 "Web interface access list"
The access list for the web interface on NTOPNG seems limited to only 4 subnets?
Is this correct?   Seems low?
Using 4.2 stable

[2021-01-27 08:33] gabryon99 commented on #4965
Add the call to `ntop.getStaticFileEpoch()` for the all js files

[2021-01-27 08:45] gabryon99 commented on #4958
Add `.no-wrap` class to avoid wrapping for specific columns

[2021-01-27 09:11] #4971 closed, assigned to MatteoBiscosi

[2021-01-27 09:19] strangePo opened #4978 "Persist login credentials in docker"
Hi everyone and sorry for this maybe simple question.

I'm running ntopng in a docker container using docker-compose.
But the login credentials (changed after startup) aren't persisted between restarts.

This is my docker-compose file:

[code]

notpng version within the container:

[code]

I thought they will get saved within the data directory but that doesn't seem to be the case.
Can someone tel

[2021-01-27 09:35] simonemainardi commented on #4977
@MatteoBiscosi please increase the ACL list length from 64 to 512:

![image](https://user-images.githubusercontent.com/3397663/105971922-58b66080-608b-11eb-91d6-0ad9033858d9.png)

Fix it to both stable and dev.

[2021-01-27 09:42] simonemainardi commented on #4952
It seems this is an open issue in Grafana:

- https://github.com/grafana/grafana/issues/221
- https://github.com/grafana/grafana/issues/3250

Definitely something you should do on the UI. You cannot ask the backend to generate ZEROes for every possible timeseries, just because you want to have nice colors in the frontend. You will end up in using a database in a very inefficient way only because i

[2021-01-27 09:42] #4952 closed, assigned to nobody

[2021-01-27 09:46] simonemainardi commented on #4934
This is implemented. Will be documented when widgets implementation is completed.

[2021-01-27 09:46] #4934 closed, assigned to simonemainardi, gabryon99

[2021-01-27 09:47] simonemainardi commented on #4951
@MatteoBiscosi is this implemented?

[2021-01-27 09:57] simonemainardi commented on #4941
To implement:

- Contents of column "Drilldown" will become, when available, an extra button with the magnifier lens (`fa-search-plus`) under the "Actions" column. This holds for all alerts, including flow alerts. e.g.

![image](https://user-images.githubusercontent.com/3397663/105983663-58bd5d00-6099-11eb-8485-97ea14a56dff.png)

- Remove column "Drilldown" in non-flow-alert tables
- Replace colum

[2021-01-27 10:06] simonemainardi commented on #4978
By default, data in docker is not persistent. ntopng stores hashed passwords in Redis. Hence, you should persist Redis as explained here https://stackoverflow.com/questions/43341143/how-to-save-a-docker-redis-container/43341271#43341271

Alternatively, you can use option `-r` to instruct the containerized ntopng to connect to an external via network or socket file.

[2021-01-27 10:06] #4978 closed, assigned to nobody

[2021-01-27 10:08] simonemainardi commented on #4882
No feedback received. Closing for inactivity.

[2021-01-27 10:08] #4882 closed, assigned to simonemainardi, cardigliano

[2021-01-27 10:25] gianogli commented on #4952
@simonemainardi yes, you are right.
Thanks for the links to the grafana open issues... ;-)

[2021-01-27 10:29] MatteoBiscosi commented on #4977
Hi @amastelek builds are in progress, in a few hours a new update with a fix is going to be available

[2021-01-27 10:29] #4977 closed, assigned to MatteoBiscosi

[2021-01-27 11:26] simonemainardi commented on #4933
To implement:

- extend lua function `getFlowsFilter()` with another `GET["dscp"]` accepting an integer. A new `pageinfo["dscpFilter"]` will be returned.
- Edit `src/Paginator.cpp` to parse the the `pageinfo["dscpFilter"]`. Note that dscp is an `u_int8_t` that needs to be initialized to `(u_int8_t)-1` and only set when `dscpFilter` is present.
- Extend `static bool flow_matches` to keep into accou

[2021-01-27 11:36] lucaderi commented on #4944
Closing it even though one day the auto layout should probably improved

[2021-01-27 11:36] #4944 closed, assigned to gabryon99

[2021-01-27 11:39] #4974 closed, assigned to gabryon99

[2021-01-27 12:13] strangePo commented on #4978
Ok, thanks.

I already tried to persist the redis data by adding `- ./data/redis:/var/lib/redis` to the `volumes` section but the directory stayed empty. I'm not very much into redis so my knowledge about it is very little. I looked at the redis config file and it seems that it dumps the data in specified Intervalls (?). So i let it run for while and now the directory contains a dump.rdb file and

[2021-01-27 13:53] nygc-jmaldonado commented on #4910
Templates ae being sent. This is what I get when I start nprobe.

[root@nprobe ~]# nprobe /etc/nprobe/nprobe.conf
27/Jan/2021 08:41:03 [nprobe.c:5044] Reading configuration file /etc/nprobe/nprobe.conf
27/Jan/2021 08:41:03 [plugin.c:177] No plugins found in ./plugins
27/Jan/2021 08:41:03 [plugin.c:185] Loading 23 plugins [.so] from /usr/local/lib/nprobe/plugins
27/Jan/2021 08:41:03 [nprobe.c:2462]

[2021-01-27 14:15] cardigliano commented on #4954
Fixed with https://github.com/ntop/ntopng/commit/55290213e25295a4443f63be16fdb75a150d06e2

[2021-01-27 14:34] simonemainardi commented on #4910
Someone is already using that port.

[code]

Check with net stat, kill the process using it, and restart.

[2021-01-27 15:25] cardigliano commented on #4959
@PaoloCmb just to make sure, you selected "syslog://127.0.0.1:9999" as Companion interface in the ens192 interface settings, right? (I am trying to reproduce the same)

[2021-01-27 15:51] strangePo opened #4979 "Calls missing http prefix"
Hi,

the URLs (IP in Popup) in the GeoMap don't contain the configured http prefix and therefore don't work.

![image](https://user-images.githubusercontent.com/61830860/106016596-e744d500-60bf-11eb-808b-8757cbc7c3b2.png)

[2021-01-27 16:04] nygc-jmaldonado commented on #4910
Ok was able to resolve that issue. Killed the process.

Was able to also resolve the ASA Netflow issue by adding -n with the target address ( ntopng:5556)

--online-license-check
-i=none
-n=10.1.28.70:5556
--zmq="tcp://*:5556"
-3=2055

From: Simone Mainardi <notifications@github.com>
Reply-To: ntop/ntopng <reply@reply.github.com>
Date: Wednesday, January 27, 2021 at 9:34 AM
To: ntop/ntopng <ntopng

[2021-01-27 16:04] cardigliano commented on #4959
I pushed a patch that should fix this. Please wait for the next packages, update and let me know. Thank you.

[2021-01-27 16:06] PaoloCmb commented on #4959
Yes, correct.
Thanks, I'll update tomorrow.
Bye

[2021-01-27 16:33] strangePo commented on #4979
Another call with missing http prefix in the search box of "Device Applications"

![image](https://user-images.githubusercontent.com/61830860/106021964-a18b0b00-60c5-11eb-8a44-4015cc18b510.png)

[2021-01-27 16:44] strangePo commented on #4979
Same for the "Plugin Viewer" and there seems to be some sort of sanitizing bug.

![image](https://user-images.githubusercontent.com/61830860/106025130-c03ed100-60c8-11eb-9cc4-817e02f65006.png)

[2021-01-27 16:49] simonemainardi commented on #4929
This will be possible once per-interface local hosts will be implemented https://github.com/ntop/ntopng/issues/4539

You'll be able to create a disaggregated interface per-class, and then access the top local talkers of that particular interface.

Please, keep an eye on the referenced issue, you will be notified when implemented.

[2021-01-27 16:49] #4929 closed, assigned to nobody

[2021-01-27 17:00] simonemainardi commented on #4919
This is partial, severity cannot be edited/changed for any of the following guys.

Local Networks
SNMP Devices
Flows
System
Syslog

![image](https://user-images.githubusercontent.com/3397663/106025862-786c7980-60c9-11eb-809e-8cd2b7983b90.png)

make sure severity is editable for ANY of the user script that say "is_alert=true"

[2021-01-27 17:07] strangePo commented on #4979
Breadcrumb

![image](https://user-images.githubusercontent.com/61830860/106026769-82db4300-60ca-11eb-9dc6-573078df1266.png)

[2021-01-27 17:08] cardigliano commented on #4964
This works for me, waiting for debug info from the user

[2021-01-27 17:09] nygc-jmaldonado commented on #4910
welp...

I take that back...

Both ASA's have disappeared again off of NTOPng

[2021-01-27 17:35] mamema commented on #4972
![image](https://user-images.githubusercontent.com/18702616/106030361-64774680-60ce-11eb-995c-21b7044d1795.png)

[2021-01-27 18:20] simonemainardi commented on #4972
@gabryon99 can you please help?

[2021-01-27 18:20] #4910 closed, assigned to cardigliano

[2021-01-27 18:36] #4965 closed, assigned to gabryon99, MatteoBiscosi

[2021-01-27 18:44] lucaderi commented on #4958
![Screen Shot 2021-01-27 at 19 42 52](https://user-images.githubusercontent.com/4493366/106038173-df912a80-60d7-11eb-810e-fb82ff1846e4.png)

the above issue is fixed but a new problem is present on Safari. See if you can do something or close this ticket

[2021-01-27 18:46] lucaderi commented on #4938
Ok for explorer, still missing for the delete button. Better to add the hover to all buttons (include past alerts) then close this ticket

[2021-01-27 18:46] #4908 closed, assigned to gabryon99, MatteoBiscosi

[2021-01-27 20:39] #4973 closed, assigned to simonemainardi

[2021-01-28 08:18] lallori commented on #4967
@MatteoBiscosi @simonemainardi pls remember me ;)
Thanks

[2021-01-28 08:27] gabryon99 commented on #4972
Fixed the error in the console. I tested the code with:
* Safari
* Chrome
* Firefox
* Microsoft Edge for MacOS

All the browser are updated to the last version.

[2021-01-28 09:00] amastelek opened #4980 "Change user perference not saving"
I select an interface for a user and when I click Change user preference it does not save it for the user.

I'm on 4.2 stable.

[2021-01-28 09:03] #4979 closed, assigned to gabryon99

[2021-01-28 09:11] gabryon99 commented on #4958
I tried it on Safari 14.0.2 and it works.

[2021-01-28 09:11] #4958 closed, assigned to gabryon99

[2021-01-28 10:37] MatteoBiscosi commented on #4967
Hi @lallori i fixed this issue and now the format kibana shows me is the same as the one requested by ECS (like the screenshot shows). Please bear with it and wait until the next build for Windows.

https://www.elastic.co/guide/en/ecs/current/ecs-geo.html

![Screenshot from 2021-01-28 11-20-03](https://user-images.githubusercontent.com/49585191/106126016-237a4300-615d-11eb-870e-2e0e4849b29b.png)

[2021-01-28 10:37] #4967 closed, assigned to MatteoBiscosi

[2021-01-28 11:10] simonemainardi commented on #4919
Layout is broken

![image](https://user-images.githubusercontent.com/3397663/106129943-0cd5eb00-6161-11eb-821d-7c4f9a2c83da.png)

Impossible to edit the severity for disabled scripts (this forces the user to enable a script, and then to go to the enabled scripts page and change the severity)

![image](https://user-images.githubusercontent.com/3397663/106130115-49094b80-6161-11eb-93dd-f56e074ed550.

[2021-01-28 11:48] gabryon99 commented on #4919
Fixed the layout of the Elephant Flows user script

[2021-01-28 13:01] simonemainardi commented on #4919
broken

![image](https://user-images.githubusercontent.com/3397663/106141971-28e18880-6171-11eb-83ba-39dc1081d254.png)

missing

![image](https://user-images.githubusercontent.com/3397663/106141987-30089680-6171-11eb-9c48-f50cebc012d4.png)

please let me know if you can do an exhaustive check across all scripts or if you need me to add a screenshot for every single script that is broken.

[2021-01-28 13:29] gabryon99 commented on #4919
Checked each single template and fixed the broken layout.

[2021-01-28 13:59] simonemainardi commented on #4919
not really.

Missing

![image](https://user-images.githubusercontent.com/3397663/106148261-22efa580-6179-11eb-9e53-a88d38004664.png)

Missing

![image](https://user-images.githubusercontent.com/3397663/106148336-3995fc80-6179-11eb-885c-30d7b966660d.png)

Moreover:

error is reported two times

![image](https://user-images.githubusercontent.com/3397663/106148440-55999e00-6179-11eb-9880-b688268131a1

[2021-01-28 15:26] simonemainardi commented on #4941
for the protocol, let's reproduce the behavior currently used for flows dumped to database:

- use only `f->get_detected_protocol().app_protocol` that you should have in `l7_proto`
- use `interface.getnDPIProtoName(<protocol id>)` to get the protocol string

[2021-01-28 15:32] #4972 closed, assigned to gabryon99

[2021-01-28 15:39] simonemainardi commented on #4933
please, check as counters seem to be doubled

[2021-01-28 15:44] simonemainardi commented on #4980
attach screenshot as I cannot reproduce

[2021-01-28 15:52] simonemainardi commented on #4931
So, basically, you are looking at sampled sFlow traffic. There's a delay + upscaling.

Let's have a look at the total first. Is the total flow traffic comparable to the total traffic generated by the speedtest? I'm telling comparable as sFlow is sampled by nature so cannot be exact.

[2021-01-28 16:09] simonemainardi commented on #4955
I am assuming you have all your hosts in a local network (e.g, the network of the lan interface)

You can create a local-network alert and set the 20Mbps threshold for ingress and egress traffic. This will only take into account the traffic exiting or entering the network (not within the network itself)

![image](https://user-images.githubusercontent.com/3397663/106165629-93072700-618b-11eb-8185-a

[2021-01-28 16:09] #4955 closed, assigned to nobody

[2021-01-28 16:35] simonemainardi commented on #4945
Implementation will be as follows:

- Check the parsing of local networks and edit `Ntop::addLocalNetwork` to check if there is a `=<label>`
- Add a map in class `Ntop` that you can use as `local_network_names[id] = strdup(<label>)`. Populate this map in `Ntop::addLocalNetwork`, only for local networks that have a `=<label>`.
- extend `function getLocalNetworkAlias(network)` to first try and retri

[2021-01-28 16:42] simonemainardi commented on #4942
Currently, the concept of "alerts are not relevant for specific hosts" is implemented with pools and script configurations that are associated to pools. So I am not sure how to add this without duplicating what we currently have. I think we should talk together and decide.

[2021-01-28 16:48] simonemainardi commented on #4888
I think this is what your are looking for https://github.com/ntop/ntopng/issues/4941

[2021-01-28 16:57] simonemainardi commented on #4891
Both are meaningful conservative approaches to use RAM. As you said "remote hosts which were active more than 24 hours ago" are actually past hosts. It's not desirable to have them in memory as this can be a waste of resources.

To access such past hosts, ou need to use and access a database. You can choose MySQL for example (if the number of flows is limited) or nIndex.

Using MySQL for example y

[2021-01-28 16:57] #4891 closed, assigned to nobody

[2021-01-28 16:59] simonemainardi commented on #4874
Correct. Doing a user plugin should be the way. Actually, I believe we need a couple of plugins, one for 1. and one for 2. If you guys are interested in doing the development, I can support you.

[2021-01-28 17:00] simonemainardi commented on #4653
This no longer holds as current pie chart code is being superseded with widgets.

[2021-01-28 17:00] #4653 closed, assigned to gabryon99

[2021-01-28 17:09] simonemainardi commented on #4953
Implementation is as follows:

- Add an entry "Manual" to the "Update Frequency" dropdown
- Check the backend  (e.g., `function shouldUpdate(list_name, list, now)`) and make sure entries market with "Manual" are never updated
- The only way to update "Manual" entries is via the UI, clicking on the refresh:

![image](https://user-images.githubusercontent.com/3397663/106173140-e7aea000-6193-11eb-905

[2021-01-28 17:37] simonemainardi commented on #4006
implementation will be done as follows:

- create a "Contacted Peers Alert" user script similar to the host traffic user script
- Add only a metric ">" and "Hosts as "unit of measure"
- Make it enabled by default (minute) with 2048 as default value
- Use "num_contacted_hosts_as_client" and "num_host_contacts_as_server" inside the host C to evaluate the host user script. May need to expose them wit

[2021-01-28 17:42] simonemainardi commented on #4953
implementation will go into 4.3 dev and subsequent 4.4 stable

[2021-01-28 17:46] simonemainardi commented on #4933
implemented as requested

![image](https://user-images.githubusercontent.com/3397663/106177658-12e7be00-6199-11eb-85f6-fb2ad421dbc9.png)

[2021-01-28 17:46] #4933 closed, assigned to MatteoBiscosi

[2021-01-28 18:11] #4919 closed, assigned to gabryon99, MatteoBiscosi

[2021-01-28 18:12] simonemainardi commented on #4919
now the layout is fixed for all user scripts.

This will be handled separately

[2021-01-28 18:36] kotso opened #4981 "Question about function/usage scenario"
I need to achieve following scenario with ntopng and any idea/help will be appreciated:

Goal is to get information about PPS per local IP and trigger some script that will handle it (I want to use it to implement auto RTBH feature "route to blackhole") on edge device.

Currently I already have ntopng enterprise setup with nprobe and flows been delivered and I have visualisation.

If ntopng can't

[2021-01-29 06:48] amastelek commented on #4980
I figured it out while taking the screenshot.  It fails to update when the slider for "Allow the user to download live traffic and pcap's" is on
Turning that off allows the change to save.  Its a netflow interface.

[2021-01-29 09:27] lucaderi opened #4982 "Script error"
29/Jan/2021 00:43:38 [LuaEngine.cpp:571] WARNING: Script failure [/Users/deri/network/ntopng/scripts/callbacks/interface/daily.lua][...network/ntopng/pro/scripts/callbacks/interface/daily.lua:30: attempt to call a nil value (field 'dailyUpdateRedisIfaceSites')]

[2021-01-29 09:30] lucaderi opened #4983 "Implement automatic alert testing"
It is requested to create an automated testing system that is used to generate alla alerts, report errors (e.g. script not working), and discrepancies with respect to the previous run.
An idea is to
- enable all script alerts
- pass ntopng one (or more) pcaps with issues that trigger alerts
- save the expected results at the first run
- in the following runs check that the results are the same as

[2021-01-29 09:36] lucaderi opened #4984 "Implementing core Internet resources misuse script"
One of the core Internet principles is that some basic services such as NTP server, NTP server, printers.... is limited. This means for instance that unless a host is a SMTP server, the number of SMTP servers a host can contact is limited to a few hosts (<5 let's say). In the example below this host has contacted 150+ SMTP servers and this is clearly a problem.

It is requested to create a plugin

[2021-01-29 09:38] lucaderi commented on #4984
Use https://www.malware-traffic-analysis.net/2020/12/07/index.html with 2020-12-07-Qakbot-with-Cobalt-Strike-and-spambot-activity.pcap.zip for reproducing it

[2021-01-29 09:40] lucaderi opened #4985 "Implement flexible flow navigation"
The flow page (hosts page has the same problem) is not simple to use for hunting problems. For instance it lacks things like
hide specific flows (e.g. those of protocol DNS). It is requested to implement a Kibana-like filtering facility that allows people to narrow down searches until only specific/selected flows are selected.

[2021-01-29 09:45] lucaderi opened #4986 "Rework the peers tab"
The /lua/host_details.lua?host=XXXX&page=peers host peers tab is not usable easily, takes a lot of space and it is not flexible

[2021-01-29 09:48] lucaderi opened #4987 "Invalid apps filtering menu in the hosts page"
<img width="1251" alt="Screenshot 2021-01-29 at 10 46 39" src="https://user-images.githubusercontent.com/4493366/106259279-4ec56680-621f-11eb-81b7-8463598b132e.png">

This is the URL: there are not flows with unknown protocol
http://xxxxxx:3000/lua/host_details.lua?host=192.168.3.33&page=flows

[2021-01-29 09:55] lucaderi opened #4988 "Read multiple pcap files"
Add the ability to specify -i <directory> and read all .pcap files (one after the other) stored in the directory.

Make sure that pcaps can be read at full speed or at the original speed.

[2021-01-29 09:58] lucaderi opened #4989 "Automate alerts tests"
It is requested to automated alert generation scripts as follows
- create an empty ntopng configuration
- enable all scripts
- flush all data in sqlite
- instruct ntopng to read various pcaps from a testing folder
- once the processing is over check that the generated alerts as those of the previous run

This facility needs to be automated to that it is executed very day (or at every commit even t

[2021-01-29 11:07] lucaderi opened #4990 "Automate memory leak test"
Implement test for memory leak using addresssanitizer.

See #4989

[2021-01-29 11:11] cardigliano commented on #4989
Proposal - a script will run all tests contained in a folder, each test consists of:
  - definition of the input (list of pcap files)
  - a pre script (e.g. to configure SNMP devices, enable all user scripts)
  - a post script (to check the output from the REST API), this should be executed after the second minute (or configurable)

A new call will be created to enable all scripts (a default shoul

[2021-01-29 11:14] lucaderi opened #4991 "Implement in-container tests for FreeBSD"
Similar to what happens for Linux, implement continuous integration tests for FreeBSD

[2021-01-29 11:16] #4982 closed, assigned to simonemainardi, MatteoBiscosi

[2021-01-29 12:01] patoberli commented on #4902
Hi, I updated today also to this build ntopng-4.3.210112-x64 (which is still the current download offered) and I'm now also facing the same error (or very similar).
Error message I get:
Internal server error
__.rogram Files\ntopng/scripts/lua/modules/alert_consts.lua:402: attempt to index a nil value (field 'meta')
And the URL is:
http://127.0.0.1:3000/lua/http_status_code.lua?message=internal_err

[2021-01-29 13:57] netsolv opened #4992 "Alert Filter/Whitelist"
I was curious to see if there was a way to globally "ignore" alerts to/from specific domains? We're consistently receiving "suspicious file transfer" alerts from "known/trusted" domain url's. Was wondering if best way is through specific hosts configuration or if there was a way to "whitelist/exclude" certain domains from triggering alerts. Thank you.

[2021-01-29 14:43] lucaderi commented on #4984
This ticket will trigger an alert on a host that will stay open and will be automatically acknowledged once #4293 will be implemented.

[2021-01-29 15:53] lucaderi opened #4993 "Avoid multiple flow score increments"
For long lasting flows, the flow score is incremented periodically and thus it creates two problems:
- it is not clear from the screenshot below the discrepancy between the issue detected and the flow score
- long-lasting flows with tiny issues will become big over time

![Screen Shot 2021-01-29 at 16 51 18](https://user-images.githubusercontent.com/4493366/106296644-3b7fbe80-6252-11eb-8ec8-c9db40

[2021-01-29 15:55] lucaderi opened #4994 "Don't hide zero ports"
Flows TCP/UDP with 0 ports should be represented anyway

![Screen Shot 2021-01-29 at 16 53 29](https://user-images.githubusercontent.com/4493366/106297165-b943ca00-6252-11eb-807f-a59919c1de3c.png)

[2021-01-30 07:12] amirul123akmal commented on #851
@simonemainardi i got Connection refused..what shall i do?

[2021-01-30 11:05] #4994 closed, assigned to nobody

[2021-01-30 11:50] simonemainardi commented on #4993
There are statuses for which it is important to increase the score multiple times (e.g., security-related statuses). This makes it possible to let the score increase with time or with multiple calls.

There are other statuses like the one you have attached that are network based and for which it is pointless to do multiple score increases. Indeed, the one shown is just an harmless long-lived flow

[2021-01-30 11:55] simonemainardi commented on #4992
This issue is work in progress and discussed in https://github.com/ntop/ntopng/issues/4942. Please, joint the discussion there.

[2021-01-30 11:55] #4992 closed, assigned to nobody

[2021-01-30 11:56] simonemainardi commented on #4991
Implemented using jails in https://github.com/ntop/packager/tree/master/freebsd

Actively running tests. Will wait before closing.

[2021-01-30 11:58] #4987 closed, assigned to simonemainardi, MatteoBiscosi

[2021-01-30 12:07] mamema opened #4995 "Device Timeseries Settings don't survive restart"
Hi,

if i enable

![image](https://user-images.githubusercontent.com/18702616/106355971-ff089d00-62fb-11eb-86ae-8015c732b7be.png)

and restart ntopng, then the settings is disabled again.
tested wit latest ntopng on freebsd 11.4 with influxdb

[2021-01-30 17:32] netsolv commented on #4942
My thoughts aren't directly associated with "alerts are not relevant for specific hosts", but more SITE specific. ie: All Windows hosts on a network segment are going to download.windowsupdate.com or officecdn.microsoft.com, the ability to "whitelist or ignore" specific url/domains for specific "scripts or subnets" would be helpful in drilling past false-positives for known network traffic.

[2021-01-31 09:37] jean-christophe-manciot commented on #4891
@simonemainardi
Since the "Flow search criteria"  does not exist in ntopng **community-edition** (up to 6a88d0774 2021/01/25 at least), I suppose it won't be possible with that edition even with mysql with -F (which I've been using for a long time).

[2021-01-31 21:46] lucaderi commented on #4957
The selected interface in the active monitoring page is not saved, or the GUI does not select the last selected interface. This is the selected interface all the time set to default

![Screen Shot 2021-01-31 at 22 45 47](https://user-images.githubusercontent.com/4493366/106398934-150a8080-6416-11eb-9a4c-d6d5c4953205.png)

[2021-01-31 21:49] lucaderi opened #4997 "Service map broadcast address has wrong color"
![Screen Shot 2021-01-31 at 22 49 08](https://user-images.githubusercontent.com/4493366/106399028-95c97c80-6416-11eb-9cd3-3b4462bdd2d4.png)

[2021-01-31 21:54] lucaderi opened #4998 "Empty service map must be reported"
http://xxxx:3000/lua/pro/enterprise/service_map.lua?host=224.0.0.251&page=graph&l7proto=DNS

![Screen Shot 2021-01-31 at 22 52 08](https://user-images.githubusercontent.com/4493366/106399105-f953aa00-6416-11eb-8f5c-f5170f60555d.png)

In the above example the filter produces an empty map: this should be reported to the user that otherwise might think this is a bug

[2021-01-31 21:55] lucaderi commented on #4939
Working beside #4998 that will be fixed separately

[2021-01-31 21:55] #4939 closed, assigned to MatteoBiscosi

[2021-01-31 21:57] lucaderi commented on #4941
Verified as implemented

[2021-01-31 21:57] #4941 closed, assigned to MatteoBiscosi

[2021-01-31 21:57] lucaderi commented on #4940
Verified as implemented

[2021-01-31 21:57] #4940 closed, assigned to gabryon99

[2021-01-31 21:58] #4956 closed, assigned to MatteoBiscosi

[2021-02-01 06:02] AlekseiSaff commented on #4964
all info was provided. do you still need something additional?

[2021-02-01 07:23] PaoloCmb commented on #4959
Hi.
Everything seems to be ok now.

Thanks

Bye

[2021-02-01 07:31] amastelek opened #4999 "In Hosts table on neflow the Throughput becomes zero after a few seconds"
I have some neflow interfaces.  The ones with a high traffic load always have a throughput listed.  The others with a low traffic load list throughput for a few seconds and then go to zero even when the interface still reports traffic.
I tried increasing the real-time refresh rate in interfaces but it still does it.
![za](https://user-images.githubusercontent.com/61453908/106427530-4021be00-6470-1

[2021-02-01 07:58] TimotheusBachinger commented on #4904
Another approach would be to have another REST call (or a query parameter) which returns **only** the currently known hosts and their IP addresses.
`active.lua` has a lot of overhead, we are not needing for this purpose:
![image](https://user-images.githubusercontent.com/57113191/106429987-81639f00-646b-11eb-93b9-ef72a1db2374.png)
What do you think?

[2021-02-01 08:04] amastelek opened #5000 "Alert on Unexpected DNS even when it is in the exclude list"
The alerts are still be listed even when they are in the exclude list in settings.
![UDNS2](https://user-images.githubusercontent.com/61453908/106430705-dce65a80-6474-11eb-9506-5b5899e46538.jpg)
![UDNS1](https://user-images.githubusercontent.com/61453908/106430724-e1ab0e80-6474-11eb-836c-57d1eac936ed.jpg)

[2021-02-01 08:33] lucaderi commented on #4993
Not fixed as requested

[2021-02-01 08:36] cardigliano commented on #4959
Great, thank you

[2021-02-01 08:36] #4959 closed, assigned to cardigliano

[2021-02-01 08:56] MatteoBiscosi commented on #4967
Hi @lallori builds for Windows are done, so update ntopng and let me know if you still have some problem.

[2021-02-01 09:30] simonemainardi commented on #4891
correct

[2021-02-01 10:00] cardigliano commented on #4964
@AlekseiSaff we are testing a patch on the dev branch, it will be backported to stable after that, and let you check it

[2021-02-01 11:46] MatteoBiscosi opened #5001 "Add Continous Ping for specific Interfaces"
It is requested to implement the possibility to do a Continous Ping on a specific Interface extending the current function
![Screenshot from 2021-02-01 12-41-57](https://user-images.githubusercontent.com/49585191/106454418-001c0480-648b-11eb-8b2d-6cbcbf37f212.png)
by binding a specific host to the interface specified by the parameter `ifname`.

[2021-02-01 11:52] MatteoBiscosi commented on #4957
This issue will be closed when #5001 is implemented

[2021-02-01 11:57] MatteoBiscosi commented on #4948
Hi @martinscheu this functionality is implemented by #4940

[2021-02-01 11:57] #4948 closed, assigned to gabryon99, MatteoBiscosi

[2021-02-01 15:05] simonemainardi commented on #851
report the log please

[2021-02-01 15:26] simonemainardi commented on #5000
Symbolic names shown in the alert don't allow us to verify.

Please, attach a pcap capture of the DNS traffic or, if you are over ZMQ, the ntopng configuration used.

By the way, looking at the traffic, it seems you have clients and servers inverted. You should check your network or netflow configuration.

[2021-02-01 15:30] simonemainardi commented on #4999
Reported behavior is normal.

First interface, which I assume is the one with low traffic, has currently no active flows. You can see this if you click on the flows page or if you just look at the header which is missing the flow counter badge:

![image](https://user-images.githubusercontent.com/3397663/106479455-a592a080-64aa-11eb-9bae-230270e4f7cf.png)

No active flows means the current throughp

[2021-02-01 15:30] #4999 closed, assigned to nobody

[2021-02-01 15:31] simonemainardi commented on #4995
Please, show how you control the start stop of ntopng and Redis. Note that preferences stay in Redis so my guess is that Redis persistent data is somehow flushed.

[2021-02-01 16:19] simonemainardi commented on #4991
Adds common functions to be re-used between linux and osx tests: https://github.com/ntop/packager/commit/99da3d3166fab4a008f75dab8de921fbd5ad7763

[2021-02-01 17:34] simonemainardi commented on #4991
Adds alert functions for FreeBSD: https://github.com/ntop/packager/commit/3884c88439f4e4729a6dcbb77abae60f687b6de9

[2021-02-01 17:50] lallori commented on #4967
@MatteoBiscosi thank you very much!

Everyting is working fine now.

![image](https://user-images.githubusercontent.com/16099406/106497488-653d1d80-64be-11eb-8770-bf6d3963057f.png)

[2021-02-01 18:06] simonemainardi commented on #4991
Implemented as requested.

[2021-02-01 18:06] #4991 closed, assigned to simonemainardi

[2021-02-01 18:46] lucaderi commented on #4925
This is a ticket for nDPI not for ntopng and as Google is already natively detected at https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_content_match.c.inc#L8814 all you are asking is not possible.

[2021-02-01 18:46] #4925 closed, assigned to nobody

[2021-02-01 19:15] amastelek commented on #5000
The configuration is edge using pmacct -> netflow -> nprobe -> ZMQ -> NTOPNG

The problem seems to be not on the DNS servers on the internet but the caching DNS server on the local LAN coming through on the alerts even though its in the exclude list.

Capture files are too large.  About 40MB.  (any other way to get them to you?)

[2021-02-01 19:20] mamema commented on #4995
This is my ntopng script:
`
#!/bin/sh
# This file was automatically generated
# by the pfSense service handler.

rc_start() {
	### Make sure library path cache is updated
	/etc/rc.d/ldconfig start
# Create DB dir before starting, in case it was removed. Otherwise redis will fail.
	/bin/mkdir -p /var/db/ntopng
	/usr/local/bin/redis-server --bind 127.0.0.1 ::1 --dir /var/db/ntopng/ --dbfilename ntop

[2021-02-01 21:21] simonemainardi commented on #4995
pfsense official documentation is different https://www.ntop.org/guides/ntopng/third_party_integrations/pfsense.html

can you please try and follow the official procedure (that doesn't involve the pfSense service handler)

[2021-02-01 21:22] simonemainardi commented on #5000
send a download link to mainardi ntop org

[2021-02-02 08:28] MatteoBiscosi commented on #2905
Implemented by #4007

[2021-02-02 08:28] #2905 closed, assigned to nobody

[2021-02-02 09:32] simonemainardi commented on #4904
Sure. We have an endpoint for that. You can ask just for the IP address and name as follow (and get all the records).

Example:

[code]

Response

[code]

[2021-02-02 09:35] #4993 closed, assigned to simonemainardi

[2021-02-02 09:35] simonemainardi commented on #4993
Removed multiple increases for zero window and IEC as discussed.

[2021-02-02 09:37] cardigliano commented on #4964
Fixed

[2021-02-02 09:37] #4964 closed, assigned to cardigliano

[2021-02-02 10:00] TimotheusBachinger commented on #4904
That's what I was looking for! Great! Thanks!

[2021-02-02 10:00] #4904 closed, assigned to nobody

[2021-02-02 10:20] simonemainardi opened #5002 "Implement UI templates for User Scripts Configuration"
Currently, user script configurations don't have UI templates. It is requested to implement them similar to what has been done with recipients and endpoints.

[2021-02-02 11:20] simonemainardi commented on #4961
as of today:

[code]

[2021-02-02 13:30] #5000 closed, assigned to simonemainardi

[2021-02-02 13:31] simonemainardi commented on #5000
Thanks for sending the pcap. Issue is solved. A new 4.3 dev build is in progress and will be ready in a couple of hours.

[2021-02-02 16:58] simonemainardi commented on #4981
We are discussing this issue here: https://github.com/ntop/ntopng/issues/4863

Please, follow up that discussion.

[2021-02-02 16:58] #4981 closed, assigned to nobody

[2021-02-02 17:39] #4961 closed, assigned to lucaderi

[2021-02-02 20:11] lucaderi opened #5003 "Empty interface menu in active monitoring"
Add a host as follows

![Screen Shot 2021-02-02 at 21 09 21](https://user-images.githubusercontent.com/4493366/106656472-06010b00-659b-11eb-8f72-8cc3d5a87f3e.png)

then save the form. Now click on edit button and this is what happens

![Screen Shot 2021-02-02 at 21 09 38](https://user-images.githubusercontent.com/4493366/106656496-0e594600-659b-11eb-9b31-59c08c3f84fd.png)

[2021-02-02 20:13] lucaderi opened #5004 "Enable active monitoring interface only on selected platforms"
With ntop.isPingIfaceAvailable() it is possible to know if active monitoring with interface support is available on the platform. Where not available the interface menu entry should be avoided

![Screen Shot 2021-02-02 at 21 09 21](https://user-images.githubusercontent.com/4493366/106656820-7b6cdb80-659b-11eb-9bb0-ef3fc1bb57cd.png)

[2021-02-02 20:27] lucaderi commented on #4997
Verified as fixed

[2021-02-02 20:27] #4997 closed, assigned to MatteoBiscosi

[2021-02-02 20:37] lucaderi commented on #4984
I see several issue in the current code
- Some changes have been requested by @simonemainardi and need to be addressed
- The plugins counts the number of different hosts contacted and not "Trigger an alert when an Host contacts too many times an NTP Server" (i.e. how many times a NTP server is contacted)
- The defaults set are wrong. Please use 5 for NTP, DNS, and SMTP.
- Implement some exceptions

[2021-02-02 20:39] lucaderi commented on #4945
Verified as fixed

[2021-02-02 20:49] lucaderi commented on #4006
"Trigger an alert when too many peers are contacted as both client or server" is meaningless. Please explain the algorithm used to trigger an alert, and what is the meaning of "too many" in your parlance

[2021-02-03 06:21] amastelek commented on #5000
Thanks.  I’m on 4.2 stable but now that I know I can wait a few days for it
to filter through.

Awesome work.

*From:* Simone Mainardi <notifications@github.com>
*Sent:* Tuesday, 02 February 2021 15:32
*To:* ntop/ntopng <ntopng@noreply.github.com>
*Cc:* amastelek <ronald@amastelek.com>; Author <author@noreply.github.com>
*Subject:* Re: [ntop/ntopng] Alert on Unexpected DNS even when it is in the
e

[2021-02-03 07:56] simonemainardi commented on #5000
As you have port 53 listed as client port, It is likely that your NetFlow exporter is configured ingress-only on the port that gets the DNS responses. I think you should enable this heuristic to have things looking better

![image](https://user-images.githubusercontent.com/3397663/106715562-82c4d100-65fd-11eb-9ef4-81994895c4f1.png)

[2021-02-03 08:28] simonemainardi commented on #4945
- Not saving non-CLI aliases
- Show the foot note only when the alias is set from CLI. Otherwise hide it.

[2021-02-03 10:12] rmorandell-pgum opened #5005 "how to get remote senders timeseries"
Hi ntop team,

I use the timeseries API to filter out the historical data via the topk query. Currently I am able to do this for networktraffic (ts_schema = top: subnet: traffic), for asn (ts_schema = top: asn: traffic), for country (top: country: traffic) for the local sender (ts_schema = top: local_senders) and local receiver (ts_schema = top: local_receivers). What I have not found out is the s

[2021-02-03 10:35] swilkey opened #5006 "Cannot add new users to ntopng"
Cannot create accounts in ntopng

Initially the add new user button was a light colour and I realised that it doesn't like any symbols except _ in the username.  But then it was a dark blue button because I didn't use any symbols except _ however even then, clicking the dark blue add new user button doesn't do anything, the button never goes away and the account is never created.  What am I doing

[2021-02-03 10:39] rmorandell-pgum opened #5007 "Request Port filter for an interface for top host or top applications"
Hi ntop team,

I use the timeseries API to export historical traffic from flows.

I can get that out cleanly via device and port using

`ts_query=ifid:{{InterfacId}},device:xxx.xxx.xxx.xxx,port:512&ts_schema=flowdev_port:traffic`

Does the device and port parameters work in any way with data such as top host or top application?
I have generated a custom sub-interface for my exporter (switch). Work

[2021-02-03 10:52] ciscozine opened #5008 "ERSPAN decode does not work on NTOPNG"
Hi,
I have a virtual ubuntu 20.04 and on one nic (ens192) I receive a ERSPAN flow from a Cisco 9500.
On ntopng (community version) I can see only gre flow and not the inner flow.
![image](https://user-images.githubusercontent.com/46693480/106736686-10acb600-6616-11eb-8515-6faaa2b26154.png)

How can I fix? Is there a particolar configuration to do it?
thanks
Fabio

[2021-02-03 11:05] simonemainardi commented on #4902
A new windows build is out. Please, upgrade now.

[2021-02-03 11:06] simonemainardi commented on #5008
Do you have GRE-over-ERSPAN? Please attach a pcap file so we can reproduce.

[2021-02-03 11:08] simonemainardi commented on #5007
This information is not stored per-exporter-port. You should consider using ProbeIP+interface disaggregation to create a sub interface for each switch port.

[2021-02-03 11:08] #5007 closed, assigned to nobody

[2021-02-03 11:12] simonemainardi commented on #5005
By definition, remote hosts are not stored in timeseries because they are *remote*. This is to only store timeseries for hosts you care, i.e,  those specified in -m, and prevent ntopng from writing timeseries for potentially the whole Internet.

[2021-02-03 11:12] #5005 closed, assigned to nobody

[2021-02-03 11:20] rmorandell-pgum commented on #5005
Thanks for response.

in traffic report for a month back i can see some remote hosts

lua/pro/report.lua?num_minutes=44640

![image](https://user-images.githubusercontent.com/46994680/106739968-1efcd100-661a-11eb-93f7-b6cdd1a32bf3.png)

how can i get this traffic data for this top remote hosts ?

[2021-02-03 11:57] patoberli commented on #4902
It sadly didn't work. I've uninstalled ntopng now and reinstalled it and now it's working again.

[2021-02-03 15:06] cardigliano commented on #4983
Duplicate of #4989

[2021-02-03 15:06] #4983 closed, assigned to simonemainardi, cardigliano

[2021-02-03 15:17] simonemainardi opened #5009 "contacted_peers.lua gives errors"
[code]

this is what happens when enabling the script

[2021-02-03 15:19] simonemainardi opened #5010 "[Regression] Reset configuration no longer works"
Seems that using

- user scripts
- recipients and endpoints

![image](https://user-images.githubusercontent.com/3397663/106767854-998a1880-663b-11eb-8fc1-da9b4d179af5.png)

has no effect. Nothing happens and no reset is performed.

[2021-02-03 15:43] MatteoBiscosi commented on #5009
Fixed, implementation under the pro version

[2021-02-03 16:17] lucaderi opened #5011 "Invalid ghost network reported"
![Screen Shot 2021-02-03 at 17 16 58](https://user-images.githubusercontent.com/4493366/106775713-a6126f00-6643-11eb-801d-bdad8474e10d.png)

[2021-02-03 17:18] cardigliano commented on #4989
Implemented with this patchset: 47bfe8dc5fc6cc2615666434ed3d03e7c75409bb c76198f79d677247e8c218f3d9c2d8c9a0a00e09 f5532815f40bfa24106d17ed6a1100832f22af3a 9acd6553ede7c5d2c992561d903f8c52ea343ef2 2a08a4a5aee25dc25ae5604896efe1dd3889ff0b ab7c490731daf3798ad3e99bf614502fa3d31dd5

[2021-02-03 17:18] #4989 closed, assigned to cardigliano

[2021-02-03 17:18] simonemainardi commented on #5009
still bugged

[code]

[2021-02-03 18:58] lucaderi opened #5012 "Missing script localisation"
This script scripts/lua/modules/alert_definitions/alert_periodicity_update.lua needs to be localised

[2021-02-03 19:59] mamema opened #5013 "SyntaxError: Unexpected token H in JSON at position 0"
historical chart in interface tab:
![image](https://user-images.githubusercontent.com/18702616/106802084-c271d400-6662-11eb-8d7a-d24fafe36551.png)

Error shows up in freebsd pfsense package, doesn't show up in docker package (ubuntu 20.4 LTS)

[2021-02-03 20:28] ciscozine commented on #5008
Yes, I have a GRE-over-ERSPAN on a Cisco 9500.
In the attach file the pcap file [erspan.zip](https://github.com/ntop/ntopng/files/5921272/erspan.zip)

thanks
fabio

[2021-02-03 22:50] martinscheu opened #5014 "All hosts page add MAC address"
Hello
On the All hosts page it would be helpful to show the mac address as well:
<img width="1457" alt="Screenshot 2021-02-03 at 14 06 55" src="https://user-images.githubusercontent.com/38549755/106819762-8d717b80-667a-11eb-963a-e794a49315ee.png">
thanks.

[2021-02-03 22:57] martinscheu opened #5015 "Access the MAC address vendor info from user script"
Hello,
In order to build custom user scripts it would be helpful to have the vendor information out of the MAC address available in user scripts:
<img width="115" alt="Screenshot 2021-02-03 at 14 02 03 copy" src="https://user-images.githubusercontent.com/38549755/106820198-36b87180-667b-11eb-917b-4409adf2b49e.png">
use case:
create an alarm on every telnet flow towards a Siemens device.
Thanks

[2021-02-03 23:03] martinscheu commented on #4888
yes can work with #4941 .
thank you.

[2021-02-03 23:03] #4888 closed, assigned to nobody

[2021-02-04 07:55] simonemainardi commented on #5014
this can be added in the 'variable' column

[2021-02-04 07:57] simonemainardi commented on #5013
Is this related to https://github.com/ntop/ntopng/issues/4995#issuecomment-771167107?

[2021-02-04 08:24] simonemainardi commented on #5015
Implemented

You can access Mac address info as follow:
- host user scripts: `host.getMac`
- flow user scripts: `flow.getClientMac` and `flow.getServerMac`

[2021-02-04 08:24] #5015 closed, assigned to nobody

[2021-02-04 08:48] #4945 closed, assigned to MatteoBiscosi

[2021-02-04 08:58] simonemainardi commented on #5014
Added MAC address as variable column:

![image](https://user-images.githubusercontent.com/3397663/106868763-7ad56180-66cf-11eb-813b-869fd30f4aba.png)

[2021-02-04 08:58] #5014 closed, assigned to simonemainardi

[2021-02-04 09:37] MatteoBiscosi commented on #5006
Hi @swilkey,
I'm sorry but I'm unable to reproduce the error, already tested on Ubuntu 18 with ntopng version v.4.2.210204
Could you please right click on the page and do 'Inspect Element' (or 'Inspect', depends on your browser) before submitting 'Add New User' and check if there is some error (you are able to see them on the left upper side of the screen).
![Screenshot from 2021-02-04 10-36-04](h

[2021-02-04 09:39] simonemainardi commented on #5009
still bugged

![image](https://user-images.githubusercontent.com/3397663/106873905-3ea4ff80-66d5-11eb-8cbf-fcde2ab4572d.png)

[2021-02-04 10:02] simonemainardi commented on #5013
do you have snmp devices configured?

[2021-02-04 10:04] swilkey commented on #5006
Hi Matteo,

Thanks for your message.  I was unable to see anyything in the upper
left of my screen, however, here are the errors from inspect - I'm using
Chrome.

I hope that helps.
Regards,
Stephen
------ Original Message ------
From: "Matteo Biscosi" <notifications@github.com>
To: "ntop/ntopng"
Sent: 4/02/2021 2:07:34 PM
Subject: Re: [ntop/ntopng] Cannot add new users to ntopng (#5006)

Hi @swil

[2021-02-04 10:44] #5012 closed, assigned to MatteoBiscosi

[2021-02-04 11:08] MatteoBiscosi commented on #5006
I'm sorry @swilkey but i'm unable to see the errors, could you send the errors in an other format?

[2021-02-04 11:39] MatteoBiscosi commented on #4980
Hi @amastelek,
The issue should be fixed now, builds are in progress, bear with it for a couple of hours and update ntopng.
Let me know if everything is working fine after the update.

[2021-02-04 12:08] simonemainardi commented on #4976
implemented in referenced commits and corresponding pro part

[2021-02-04 12:08] #4976 closed, assigned to simonemainardi

[2021-02-04 12:11] cardigliano commented on #4990
A flag in the regression tests script has been added to enable the leak detection using the sanitizer, however this is currently disabled as there are minor leaks that would add noise. They need to be fixed before enabling the leak detection.

[2021-02-04 16:42] swilkey commented on #5006
Hi Matteo,

Thanks for your email.  It turns out you don't need that picture anyway.
  Every time till now, I've tested using the same password that my
password manager generated for me the first time I tried it.  This time
I was in a hurry so I let it generate me a new one and it worked.  So
here is the problem with this add web user dialog box:
1. usernames can't contain any character except let

[2021-02-04 17:51] mamema commented on #5013
snmp is configured on some systems, but not within ntopng. Why should this be related to your mentioned comment? The referenced command is because of uncorrect closing of ntopng. The above error is during runtime.....

[2021-02-05 08:42] simonemainardi commented on #4942
Aim is to implement exclusion filters for user scripts. We start with flow user scripts. Note that exclusion lists are for user scripts, not alerts. With these exclusion lists, we decide when/when not to execute user scripts.

Filters, used to implement exclusions, are defined in `user_scripts.lua` - see referenced commit - and possibly overridden in the metadata of each user script.

**Backend**

[2021-02-05 09:13] simonemainardi commented on #5006
@MatteoBiscosi please make the password accept any character, leave only the limit on the length. The backend already handles this, it is just a matter of fixing the HTML `pattern` regex associated to the password. Fix and check:

- user addition
- password change

And make sure to try it with both administrator and non-administrator users

[2021-02-05 13:03] holger-si opened #5016 "Problems with more than 4 host pools"
If I define more than 4 host pools, the newly appended pools will not be functional.
All members of the 5th and more pools remain in the default pool.
In my example I defined host pool "Bielefeld" with member 192.168.122.0/24 as 5th host pool.
All host, that should be in pool "Bielefeld" now, remain in Pool default.

ntopng Professional v.4.3.210205 on Centos

<img width="832" alt="bielefeld" src=

[2021-02-05 14:09] simonemainardi commented on #5016
This is normal. You've hit the professional version limit.

See https://www.ntop.org/products/traffic-analysis/ntop/

[2021-02-05 14:09] #5016 closed, assigned to nobody

[2021-02-05 14:10] #5009 closed, assigned to MatteoBiscosi

[2021-02-05 14:12] #5003 closed, assigned to gabryon99, MatteoBiscosi

[2021-02-05 14:15] #4980 closed, assigned to MatteoBiscosi

[2021-02-05 16:20] simonemainardi commented on #5004
Verified. Menu is hidden in FreeBSD and shown elsewhere.

[2021-02-05 16:20] #5004 closed, assigned to MatteoBiscosi

[2021-02-05 16:50] DigiAngel opened #5017 "Unable to compile (too many arguments to function ‘void ndpi_free_data_analysis)"
Welp, after git pulling and installing the latest nDPI I see:
[code]
Latest git.

[2021-02-05 16:55] cardigliano commented on #5017
Did you update both nDPI and ntopng? This has been fixed 1-2h ago

[2021-02-05 16:57] DigiAngel commented on #5017
I did...both repos show "Already up to date."  For ntopng:  commit 5b6f794d02c1e52215cb7325e70bff1058c23166, for ndpi:95a6a2072b31f999f02928a15d7316bf756b1fa9.

[2021-02-05 17:00] DigiAngel commented on #5017
Recompiling nDPI and reinstalling nDPI now.

[2021-02-05 17:01] DigiAngel commented on #5017
Huh...2nd times a charm...compiled now so <shrug>...thank you!

[2021-02-05 17:01] #5017 closed, assigned to nobody

[2021-02-05 17:08] DigiAngel opened #5018 "302 error (alert_consts.lua:402: attempt to index a nil value)"
And on the heels of upgrading both nDPI and ntopng, I'm now greeted with:
[code]
Timestamp on alert_consts.lua:
[code]

[2021-02-05 17:26] swilkey commented on #5006
thanks for your work on this guys

[2021-02-05 17:53] ctbfourone opened #5019 "Error "81: printf: 8+dfsg1-2: not completely converted" on apt-ntop-stable installation (Debian 10.7)"
The postinst script bails on line 81, dpkg complains and exits.

[code]

I was able to move past it by manually enabling ntopng (`systemctl enable ntopng`) and starting it, but the postinst hook tries to run any subsequent time apt/dpkg is called. This is on Debian 10.7. Thanks.

[2021-02-05 18:20] simonemainardi commented on #5018
You're somehow using old lua files. Check. meta is always present. Uninstall and reinstall and make sure not to have old files around.

[2021-02-05 18:32] DigiAngel commented on #5018
alert_consts.lua in the tarball and in the install is:  589c61b914ec8ba66ce24cce4e3a235644a441fc8718207b665f09f22416fa5a.  I ended up just rm -rf /opt/ntopng and installing.

[2021-02-05 18:32] #5018 closed, assigned to nobody

[2021-02-05 22:34] ctbfourone commented on #5019
Works fine with the nightly build repo.

[2021-02-06 14:30] lucaderi commented on #5019
@simonemainardi Can you please check on the continuous integration chain?

[2021-02-06 14:35] lucaderi opened #5020 "Improve installation and upgrade"
The user's guide does not describe the steps to upgrade ntopng. It is requested to describe
- how to upgrade using the web GUI
- how to upgrade from shell

[2021-02-06 15:07] ghost opened #5021 "Opnsense Version"
Remove 'there is an update' message on the opnsense version as updating is performed by opnsense update repository.

[2021-02-06 15:21] infinitynet2011 opened #5022 "Too many hosts for ntopng leading to packet drops and high CPU load. Please tune -x/-X and restart ntopng"
Hello guys,

We are ISP, we have around 20k our own IPv4  and around 1000 active clients.

ntopng.conf ====
-X=**919428800**
-F="nindex"

Disk Speed =====
dd if=/dev/zero of=/tmp/test2.img bs=4k count=10k oflag=dsync
10240+0 records in
10240+0 records out
41943040 bytes (42 MB) copied, 2.47138 s, **17.0 MB/s**

CPU =====
top - 17:19:54 up 17 days, 15:27,  2 users,  load average: 1.72, 1.99, 2.75
T

[2021-02-07 00:18] limpep opened #5023 "Docker image for ARM"
Hi,

I was wondering if was possible to have an ARM imagine on docker hub for us to use on a say a PI? Thanks

[2021-02-07 01:47] mihakralj opened #5024 "ERROR: [LuaEngineInterface.cpp:829] - storeFlowAlert failed"
ntopng is repeatedly throwing an error as seen in the image below.
Version: ntopng Professional v.4.3.210205 (FreeBSD 12.2)

![image](https://user-images.githubusercontent.com/31756078/107134022-284c9e80-68a3-11eb-9987-abf6808d2bae.png)

[2021-02-07 12:02] simonemainardi commented on #5023
Duplicate of https://github.com/ntop/ntopng/issues/4921

[2021-02-07 12:02] #5023 closed, assigned to nobody

[2021-02-07 12:04] simonemainardi commented on #5024
Can be an issue with permissions:

- do a ps aux and check the `<user>` who is currently running ntopng
- stop ntopng
- chown -R `<user>:<user>` /var/db/ntopng
- restart ntopng

[2021-02-07 12:06] limpep commented on #4921
+1

[2021-02-07 12:09] simonemainardi commented on #5022
You have used almost 1B for ntopng maximum number of hosts with -X, this is approximately one fourth of the whole IPv4 Internet. It is an unreasonable value.

-X and -x depend on the actual number of active hosts and flows you have in the traffic. If you have 20k hosts, set -X to 300/400k to allow the hash table to distribute hosts in several buckets and reduce collisions.

Then attach a screensho

[2021-02-07 12:10] simonemainardi commented on #5022
And note that you have only tuned -X. You have to tune -x as well.

[2021-02-07 17:25] infinitynet2011 commented on #5022
Thank you for reply!
I understand the -X role can you please explain -x role too ?

--
Thanks,
GV

[2021-02-07 22:55] mihakralj commented on #5024
yes, that solved it. Thanks!

[2021-02-07 23:06] mihakralj commented on #5024
I applied the chown change (and also upgraded to the latest ntopng) - and now my Professional ntopng license claims it is not valid. the SystemID is the same, the data in /usr/local/etc/ntopng.license is the same as before.
License page in ntopng claims the not-valid status and ntopng reverts to community version after 10 mins.

![image](https://user-images.githubusercontent.com/31756078/107162133

[2021-02-07 23:39] mihakralj commented on #5024
from the log:

07/Feb/2021 15:38:19 [Ntop.cpp:2341] Setting local networks to 127.0.0.0/8,fe80::/10
07/Feb/2021 15:38:19 [Redis.cpp:162] Successfully connected to redis 127.0.0.1@0
07/Feb/2021 15:38:19 [Redis.cpp:162] Successfully connected to redis 127.0.0.1@0
07/Feb/2021 15:38:19 [NtopPro.cpp:307] [LICENSE] Reading license from /usr/local/etc/ntopng.license
07/Feb/2021 15:38:19 [NtopPro.cpp:449]

[2021-02-08 05:12] amastelek opened #5025 "Active monitoring speedtest fails"
I tried to use a speedtest active monitor but it fails.

speedtest-cli works from the server command line.

[2021-02-08 07:51] simonemainardi commented on #5024
send me the output of ntopng --version privately: mainardi ntop org

[2021-02-08 07:51] #5024 closed, assigned to nobody

[2021-02-08 07:53] simonemainardi commented on #5025
Attach:

- screenshot of the issue
- ntopng --version

[2021-02-08 07:54] simonemainardi commented on #5022
straight from `ntopng --help`:

[code]

[2021-02-08 09:17] simonemainardi commented on #5018
None of our packages installs under `/opt/ntopng` so likely the system was messed up with custom files / installations.

[2021-02-08 09:17] simonemainardi commented on #5013
please, try to upgrade to the latest version. I have made a couple of fixes.

[2021-02-08 10:01] simonemainardi commented on #5005
See pro/get_from_top_talkers_db.lua?ifid=0&epoch=1612778400&num_minutes=60

[2021-02-08 10:47] #5010 closed, assigned to MatteoBiscosi

[2021-02-08 10:49] simonemainardi commented on #5021
Please, attach a screenshot of the message and where you find it.

Note that official OPNsense packages are available at https://packages.ntop.org/FreeBSD/ and you should not get any 'update' message if you are using our official repos

[2021-02-08 10:59] ghost commented on #5021
Hi

On the first page after logging in, top right corner.

I appreciate your answer re downloading freebsd packages, however opnsense have their own repository to ensure
a strict upgrade policy, essential for an Internet facing product.
To install alternatives upsets the auditing procedure.
I am sure you will understand the reasoning behind their policy, as do thousands of opnsense users.

Attache

[2021-02-08 11:22] simonemainardi commented on #5021
a strict upgrade policy, essential for an Internet facing product.

Sure. I agree with you that extreme care must be taken when dealing with any internet facing software. However, As you now, the stricter the policy, the older the software versions or a repo. So my guess is that the official stable version is lagging behind with reference to the ntop official version of package ntopng.

I believe

[2021-02-08 11:28] DigiAngel commented on #5018
Well...I configure it with --prefix=/opt/ntopng ...so yes..yes they do.

[2021-02-08 11:31] ghost commented on #5021
Hi

Maintainer: ranz.fabian.94@gmail.com

The email bounces, contacting them was the first thing I tried, then I put it up as enhancement request.
To be fair it is rather distracting and takes the edge off a good product.
The option to display/not display update messages is good gui practice.

I used the email to send the screen shot, obviously it didnt work!!

Hopefully this will work.

![Screens

[2021-02-08 11:38] simonemainardi commented on #5021
Yes, now I can see the image. What's the actual running version?

[2021-02-08 11:39] rmorandell-pgum commented on #5005
Hello Simone. Thanks for the answer. I have already fished this call out of the network protocol :). Since it doesn't go through the / rest / api, I wasn't sure whether to use it.
Can I also use this for the future or will this finish in a REST call for some time or later? Like the local sender (ts_schema = top: local_senders) and local receiver (ts_schema = top: local_receivers) in timeseries API

[2021-02-08 11:40] ghost commented on #5021
Hi
3.4.0 (0) - Community Edition

[2021-02-08 12:08] rmorandell-pgum commented on #5005
And another question .. Maybe I don't fully understand the timeseries API. If I compare the host in the timeseries API over the same period, I get different data than in the call pro/get_from_top_talkers_db.lua?ifid=0&epoch=1612778400&num_minutes=60

![image](https://user-images.githubusercontent.com/46994680/107217441-74682200-6a0e-11eb-94ef-6c60af571a11.png)

![image](https://user-images.githubu

[2021-02-08 13:42] simonemainardi commented on #5008
Hi, thanks for providing the pcap. Issue is fixed. A new 4.3 dev build is in progress. Hold on a couple of hours, then upgrade.

[2021-02-08 13:58] ciscozine commented on #5008
Thank you so much!
Fabio

[2021-02-08 14:08] simonemainardi commented on #5019
possible duplicate of https://github.com/ntop/ntopng/issues/4695

[2021-02-08 14:22] simonemainardi commented on #5019
can you please post the output of

[code]

[2021-02-08 14:32] PaoloCmb opened #5026 "Too many open files"
Hi.
Ntopng often crashes with the following error:
![image](https://user-images.githubusercontent.com/77983398/107233984-77214200-6a23-11eb-9b3b-9bed84d87cea.png)

The problem started after enabling the Traffic Behaviour Analysis.
I also created 19 sub interfaces. I don't know if it could be related to the issue.

LOGS from Journalctl:

ntopng@srvitbsntop01:~$ journalctl -f
-- Logs begin at Wed 20

[2021-02-08 14:33] simonemainardi commented on #5026
Please, report the ntopng configuration file.

[2021-02-08 14:34] simonemainardi commented on #5019
seems the fix was not backported to stable. @cardigliano is taking care of this.

[2021-02-08 14:38] PaoloCmb commented on #5026
-G=/var/run/ntopng.pid
-i=ens192
-m="172.19.0.0/22,172.20.0.0/21,172.21.0.0/24,172.21.1.0/24,192.168.0.0/20,192.168.16.0/20,192.168.32.0/20,192.168.48.0/20,192.168.64.0/20,192.168.80.0/20,192.168.100.0/24,192.168.101.0/24,192.168.102.0/24,192.168.103.0/24,192.168.104.0/24,192.168.105.0/24,192.168.106.0/24,192.168.108.0/24,10.15.0.0/16,172.31.0.0/16,192.168.199.0/24,192.168.250.0/24,192.168.254.0/2

[2021-02-08 15:43] webparent opened #5027 "Enter all the required Parameter"
A license was generate for me without the system id, and i am getting errors when i generate the license

[2021-02-08 15:49] MatteoBiscosi commented on #5006
Hi @swilkey, I fixed the issue right now, from now on passwords should accept every character. Builds are in progress, bear with it for a few hours and update ntopng.
Let me know if you still have some problem.

[2021-02-08 15:49] #5006 closed, assigned to MatteoBiscosi

[2021-02-08 15:59] ciscozine commented on #5008
Hi @simonemainardi
I have patched the ntopng but it does not work.
I notice two things:
first one, the throughput is not updated

![image](https://user-images.githubusercontent.com/46693480/107244953-e81a2700-6a2e-11eb-8288-d8bca137ad8b.png)

Second one, if I download the pcap file the erspan header is removed only in one direction.

thanks
fabio

[2021-02-08 16:23] #5011 closed, assigned to simonemainardi

[2021-02-08 16:37] swilkey commented on #5006
Thanks so much Matteo

On Mon, Feb 8, 2021, 8:19 PM Matteo Biscosi <notifications@github.com>
wrote:

[2021-02-08 17:31] rmorandell-pgum opened #5028 "Top Applications: Different values in Last Day View and Traffic Report in the same period"
I do not have the same values in the Last Day View in the Traffic Dashboard and in the Traffic Report. The curves and peaks are the same but the values are only about half. Here e.g. filtered only on http.

Traffic Report

![image](https://user-images.githubusercontent.com/46994680/107258071-acd22500-6a3b-11eb-968a-e06d5a088d85.png)

Last Day View

![image](https://user-images.githubusercontent.co

[2021-02-08 17:39] simonemainardi commented on #5008
Detunneling is properly done if you try the pcap you have enclosed.

So basically:
1. You have not properly patched ntopng
2. The traffic in the pcap doesn't resemble the actual traffic

For 2. you can try and attach another pcap. Throughput is updated periodically.

[2021-02-08 18:12] webparent opened #5029 "ntopng Version"
How do I know the ntop version when generating my license

[2021-02-08 22:56] ctbfourone commented on #5019
[code]

That said, I wasn't able to reproduce the error after rolling back to stable just now. Perhaps it was fixed before I saw your comment.

[2021-02-09 03:13] comeonbabyzy opened #5030 "ntopng crashed when filter hosts in flows when using view interface."
I need to use a view interface to aggregate physical interfaces. But I met some problems when I use view interface:

1. When I filter hosts in Flows menu, ntopng will crash with a segmentation fault.
2. I cannot see any mac address in hosts. The mac address menu of Hosts disapear.

ntop version: 4.3.210207
OS: CentOS 7.9.2009
command line: ntopng -i eno1 -i eno2 -view:all

[2021-02-09 07:40] simonemainardi commented on #5019
Yes. Thanks for this update.

[2021-02-09 07:40] #5019 closed, assigned to cardigliano

[2021-02-09 08:04] gianogli opened #5031 "WARNING: Script failure in daily.lua:46: attempt to index a nil value (global 'prefs')"
With the ntopng dev branch (ntopng Enterprise M v.4.3.210208 (Ubuntu 18.04.5 LTS)) I obtained this Warning:
[code]
The line 46 of daily.lua is:
[code]
and I think that the cause of the warning messages is that in my configuration the Alerts are disabled in "Preferences" menu.
I think you have to add ad if statement to verify if the Alerts are enabled or not before execute this line of code.
What d

[2021-02-09 08:19] simonemainardi commented on #5029
from the CLI you can type ntopng --version

![image](https://user-images.githubusercontent.com/3397663/107334922-9f5a8080-6ab7-11eb-8c09-ddffc514e196.png)

from the UI you can read it from Help -> About

![image](https://user-images.githubusercontent.com/3397663/107335130-da5cb400-6ab7-11eb-996d-92f048d14fd0.png)

[2021-02-09 08:19] #5029 closed, assigned to nobody

[2021-02-09 08:28] #5030 closed, assigned to nobody

[2021-02-09 08:37] simonemainardi commented on #5030
Thanks for reporting. The crash is fixed and new builds are in progress.

As per the Mac address, this is not currently supported with view interfaces as indicated in the list of data not available in view interfaces: https://github.com/ntop/ntopng/issues/3383#issue-560509417

[2021-02-09 08:43] simonemainardi commented on #5027
Please, attach screenshots as I am not sure to understand.

[2021-02-09 10:11] webparent opened #5032 "How to I add my Device to NTOPNG"
Hello,

I have my ntopng instance hosted in AWS and my router in my office, so how do i cannot the ntopng to collect traffic from my router in a remote site, am only getting network flow from my AWS instance since its where the NTOPNG was hosted.

How to i get the ntopng to get traffic from my mikrotik router.

Thank you

[2021-02-09 12:59] simonemainardi commented on #5032
See https://www.ntop.org/guides/ntopng/use_cases/mikrotik.html

[2021-02-09 12:59] #5032 closed, assigned to nobody

[2021-02-09 14:39] simonemainardi commented on #5013
did you have a chance to try?

[2021-02-09 14:58] MatteoBiscosi commented on #5031
Hi @gianogli , the problem was slightly different, but thank you a lot for your suggestion, the problem should be fixed now, let me know if some problem still arise

[2021-02-09 15:10] gianogli commented on #5031
Ok, I've just modified the daily.lua accordingly to your commit.
Tomorrow I'll write you if the warning messages are disappeared.
Thanks... :-)

[2021-02-09 23:03] cLysen commented on #4978
Had the same issue, solved it by running a separate redis container. These are my docker run commands:

redis
[code]
ntopng
[code]

[2021-02-09 23:19] gianogli commented on #5031
Problem solved.
Thanks... :-)

[2021-02-09 23:19] #5031 closed, assigned to MatteoBiscosi

[2021-02-10 09:37] ciscozine commented on #5008
Hi,
I confirm that I have last patch.
No flow are detected by ntopng. The only flow that I can see is between my client and ntop server. Moreover in the pcap file I can see only one way flow.

In the attach the pcap file
[dump.zip](https://github.com/ntop/ntopng/files/5957133/dump.zip)

Thanks
Fabio

[2021-02-10 13:31] simonemainardi commented on #5028
Fix not enough.

Reproduced. Report charts are scaled when the current datetime is not a multiple of 300s.

[2021-02-10 13:57] martinscheu opened #5033 "Users with non admin privileges can not select 2nd interface"
Hello
In our setup we have non admin users and two monitoring interfaces.
When the non admin user selects the 2nd interface and then wants to open the flow overview, the GUI switches the interface back to the 1st interface.

https://user-images.githubusercontent.com/38549755/107519188-3dca0d00-6bb0-11eb-9bbf-11010e137754.mov

thanks

[2021-02-10 14:20] simonemainardi commented on #5028
Issue is now fixed in the lastest dev/stable. New builds are in progress.

Data ie correct, i.e., if you take the integral of the timeseries you get the total traffic in both cases. Issue was due to small differences in start/end timestamps which were causing different RRAs to be chosen when accessing underlying RRDs. However, now is fixed and you should get the same rate values in both charts.

[2021-02-10 14:20] #5028 closed, assigned to nobody

[2021-02-10 14:39] simonemainardi commented on #5033
is the non-admin user only assigned to an allowed interface?

[2021-02-10 14:40] #5022 closed, assigned to nobody

[2021-02-10 14:43] simonemainardi commented on #4995
Closing for inactivity. No feedback received in 9 days. Reopen with the requested information if necessary.

[2021-02-10 14:43] #4995 closed, assigned to simonemainardi

[2021-02-10 14:45] simonemainardi commented on #5013
Closing for inactivity. Reopen if necessary with the requested information.

[2021-02-10 14:45] #5013 closed, assigned to nobody

[2021-02-10 14:51] simonemainardi commented on #4931
any news?

[2021-02-10 14:59] gianogli opened #5034 "[LuaEngine.cpp:1163] WARNING: Script failure ... host_sites_update.lua:303: attempt to index a nil value (local 'stats')]"
I found this warning messages into the logs:
[code]

This messages are generated when from an "host_details" windows

![Screenshot_20210210_154447](https://user-images.githubusercontent.com/14093378/107525778-77eadd00-6bb7-11eb-9f32-d1804d186279.png)

I change the interface

![Screenshot_20210210_154547](https://user-images.githubusercontent.com/14093378/107526285-ff385080-6bb7-11eb-8791-ec0add36f

[2021-02-10 17:57] astalush commented on #4931
I've created another CentOS machine and I will test, maybe it was something with the old one.  I know that sFlow isn't instant but the speedtest lasts more than one minute (I've set it up like that) so I can see the flow. And like I said the speeds are very different. I will keep you posted. Thanks.

[2021-02-10 20:56] martinscheu commented on #5033
as far as I understand the non-admin user is not restricted. If I remember correctly I only change the "Allow the user to download live traffic and pacp's" to true
<img width="767" alt="Screenshot 2021-02-10 at 21 54 34" src="https://user-images.githubusercontent.com/38549755/107571117-c4034500-6bea-11eb-987d-98fc61ad829b.png">

[2021-02-10 22:02] martinscheu opened #5035 "Double Max Flows from webinterface not working"
Hello
Running ntopng on a pcap, I get the "Too many flows" warning:
<img width="348" alt="Screenshot 2021-02-10 at 22 56 38" src="https://user-images.githubusercontent.com/38549755/107578347-e9488100-6bf3-11eb-8c89-1c40da3dc48d.png">
Clicking on the "Double Max Flows" opens another pop up:
<img width="488" alt="Screenshot 2021-02-10 at 22 56 49" src="https://user-images.githubusercontent.com/38549

[2021-02-11 07:11] lucaderi commented on #5021
Hi the solution to this problem is to use our packages available at  https://packages.ntop.org/FreeBSD

[2021-02-11 07:11] #5021 closed, assigned to nobody

[2021-02-11 07:33] ghost commented on #5021
Hi

1. no , will stick with opnsense for security/audit reasons.
2. remove ntopng as after the last opnsense upgrade, ntopng > 95% cpu, cpu temperatures > 55C.
3, will wait until opnsense update the version.

[2021-02-11 11:15] simonemainardi commented on #5008
This is what is found inside ntopng using the enclosed PCAP (erspan.pcap). As you can see everything matches the encapsulated, detunneled traffic:

![image](https://user-images.githubusercontent.com/3397663/107629527-86da9980-6c62-11eb-98c3-29a0a0f3b3fb.png)

---

dump.pcap doesn't contain GRE-over-ERSPAN but still data is decoded properly

![image](https://user-images.githubusercontent.com/339766

[2021-02-11 11:15] #5008 closed, assigned to nobody

[2021-02-11 11:27] #5033 closed, assigned to MatteoBiscosi

[2021-02-11 12:06] simonemainardi commented on #5034
Fixed. Thanks for reporting. Issue was due to the host missing from second interface.

[2021-02-11 12:06] #5034 closed, assigned to MatteoBiscosi

[2021-02-11 13:29] cardigliano commented on #4990
The sanitizer is now enabled when running regression tests.

[2021-02-11 13:29] #4990 closed, assigned to cardigliano

[2021-02-11 13:44] sezuan opened #5036 "segfault when accessing /lua/flows_stats.lua?flowhosts_type=local_origin_remote_target"
Hi,

I'm testing the latest raspberry binary from https://packages.ntop.org (4.3.210207-13074). It always segfaults when I access `/lua/flows_stats.lua?flowhosts_type=local_origin_remote_target`. Unfortunately the stacktrace isn't very helpful:

    Core was generated by `/usr/bin/ntopng /run/ntopng.conf'.
    Program terminated with signal SIGSEGV, Segmentation fault.
    #0  0x000d3038 in ?? ()

[2021-02-11 13:58] simonemainardi commented on #5036
Fixed already. Please upgrade to the latest 2.3.

[2021-02-11 13:58] #5036 closed, assigned to nobody

[2021-02-11 14:14] sezuan commented on #5036
Thanks, I'll update as soon as the new packages arrive. In the meanwhile I remove '-i view:all'  which seems to mitigate the issue.

[2021-02-11 16:02] cardigliano commented on #4990
Please see https://github.com/ntop/ntopng/blob/dev/CONTRIBUTING.md#memory-leak-detection

[2021-02-11 19:27] AmCrNi opened #5037 "No external alerts after update"
After update ntopng from 4.3.210117-12805 to 4.3.210207-13074 shows following errors:

[code]

And no external alerts are shown.

[code]

Issue very similar to https://github.com/ntop/ntopng/issues/4895

[2021-02-11 19:49] ciscozine commented on #5008
Hi,
I confirm that I use the lastest ntop package:

_v.4.2.210211    [Enterprise/Professional build]
GIT rev:        4.2-stable:8ae29ed8452df0918c47f93c63262a12c2f3dcd2:20210211
Pro rev:        r3344
Built on:       Ubuntu 20.04.1 LTS
System Id:      689C1EBA76076B27
Platform:       x86_64
Edition:        Enterprise L (Bundle)
License Type:   Time-Limited [Empty license file]
Validity:       Until

[2021-02-11 21:16] simonemainardi commented on #5037
This issue is already fixed. It was not pushed to raspberry builds. New builds are in progress. Hold on a couple of hours, update, and it will work.

[2021-02-11 21:28] simonemainardi commented on #5008
As I mentioned, fix was in 4.3 and you are using 4.2. Anyway, now I have back ported to the fix to 4.2 as well. New builds are in progress.

[2021-02-11 22:14] lucaderi opened #5038 "Cleanup IP reassignment code"
- prefs.lua contains row_toggle_ip_reassignment_alerts that is no longer used
- The IP Reassignment script should be migrated under Interfaces
![unknown](https://user-images.githubusercontent.com/4493366/107705259-bdde9880-6cbe-11eb-93b3-af6ee801905a.png)

[2021-02-12 09:48] #5020 closed, assigned to cardigliano

[2021-02-12 11:16] amastelek commented on #5025
![st](https://user-images.githubusercontent.com/61453908/107761644-64b14c00-6d34-11eb-8de8-fd49a74eb9fc.jpg)

v.4.2.210211

[2021-02-12 15:59] simonemainardi commented on #4953
Unfortunately this doesn't work.

[2021-02-12 16:51] MatteoBiscosi commented on #5035
Hi @martinscheu , now the problem should be fixed, builds will start soon, bear with it for a few hours and you should be able to update.
Let me know if you still have some problem after the update

[2021-02-12 23:19] HalfSkin opened #5039 "Export Flows as json or csv file"
It would be useful to export Flows (and maybe every table) as json, csv, etc., from web interface.
Thanks,
MM

[2021-02-13 22:35] martinscheu commented on #5035
Hi @MatteoBiscosi thanks for the fix. In my case after pressing double max flow I get the new pop up with correct information, that I should change -X value. (out of curiosity: is there a case where an actual value gets changed inside ntopng?)

[2021-02-14 06:56] martinscheu opened #5040 "Flow alerts page - missing mouse over info"
Hello
Thinny issue, the mouse over information is missing for the yellow button.
<img width="209" alt="Screenshot 2021-02-14 at 07 47 14" src="https://user-images.githubusercontent.com/38549755/107870598-1453fe80-6e9a-11eb-871e-5baed3d47346.png">
thanks

[2021-02-15 09:00] AmCrNi commented on #5037
After update to newest version problem still persist:

[code]

[2021-02-15 09:26] simonemainardi commented on #5037
@cardigliano can you please check this

[2021-02-15 09:36] gabryon99 commented on #4949
Add the possibility to change the height of the map container

https://user-images.githubusercontent.com/14114916/107929197-9e26c900-6f79-11eb-9590-cc34fea470ee.mov

[2021-02-15 09:37] gabryon99 commented on #4998
Add a message when there aren't nodes inside the map

<img width="1686" alt="Screenshot 2021-02-15 at 10 36 49" src="https://user-images.githubusercontent.com/14114916/107929285-b860a700-6f79-11eb-9f35-9404b132818b.png">

[2021-02-15 13:47] simonemainardi commented on #2874
Please, add OS timeseries as now OSes are implemented as any other hash table.

[2021-02-15 13:51] simonemainardi commented on #5027
No feedback received. Closing. Reopen with the requested information if necessary.

[2021-02-15 13:51] #5027 closed, assigned to nobody

[2021-02-15 14:51] simonemainardi commented on #4907
VLAN links are not correct - VLAN is missing

![image](https://user-images.githubusercontent.com/3397663/107960853-6cc3f280-6fa5-11eb-9ead-9d94d72eebdb.png)

![image](https://user-images.githubusercontent.com/3397663/107961125-c2000400-6fa5-11eb-8197-522cd209ec0e.png)

[2021-02-15 15:03] simonemainardi commented on #4907
Host Pool link is greyed out even though valid and with existing services

![image](https://user-images.githubusercontent.com/3397663/107962465-469f5200-6fa7-11eb-9577-ad87f50bb3d7.png)

[2021-02-15 15:03] lgnihlman opened #5041 "Problem installing license"
My installation will not accept my license.
ntopng is running as a service in Windows server 2019

This is shown in the log:
unable to validate license [License mismatch error]
 [NtopPro.cpp:505] WARNING [LICENSE] Invalid license [License mismatch error]

I need help with this.

[2021-02-15 15:05] #4998 closed, assigned to gabryon99

[2021-02-15 15:07] #4949 closed, assigned to gabryon99

[2021-02-15 15:08] simonemainardi commented on #5041
This will be handled privately.

Please, send order id and email associated with the license. Also send a screenshot of page About in ntopng. Send everything to mainardi at ntop dot org

[2021-02-15 15:08] #5041 closed, assigned to nobody

[2021-02-15 15:12] simonemainardi commented on #5039
This is already supported. Enable nIndex and you'll have a CSV download button for flows.

[2021-02-15 15:12] #5039 closed, assigned to nobody

[2021-02-15 15:38] simonemainardi commented on #5040
![image](https://user-images.githubusercontent.com/3397663/107966477-3473e280-6fac-11eb-9fa0-d437ae92fe63.png)

[2021-02-15 15:38] #5040 closed, assigned to nobody

[2021-02-15 16:22] gabryon99 opened #5042 "Return a feedback on wrong login credentials"
When a user tries to login to the ntopng web interface and types the wrong credentials the page reloads telling nothing. It's requested to add a feedback such as: 'Wrong credentials'.

https://user-images.githubusercontent.com/14114916/107971156-65571600-6fb2-11eb-91ae-59e8a5c8eee5.mov

[2021-02-15 17:12] #5037 closed, assigned to cardigliano

[2021-02-15 17:13] cardigliano commented on #5037
@AmCrNi this has been fixed, please wait for a new package update

[2021-02-15 17:34] simonemainardi commented on #5037
should be ready in a couple of hours

[2021-02-15 19:50] AmCrNi commented on #5037
It works. Thank you.

[2021-02-15 19:57] ciscozine commented on #5008
Thanks. It works.

Fabio

[2021-02-15 20:15] lucaderi commented on #4686
In ntopng what would you like to depict exactly?

[2021-02-16 06:25] djha983 opened #5043 "ntopng service not starting,it remains in activating mode"
Hi,

I have installed ntopng on ubuntu 20 and when i try to start the ntopng service using command "sudo systemctl start ntopng" it remains in activating mode.Please let me know what is the issue and how can i solve it,i tried reinstalling ntopng but that did not help.Below is the output of service status command.

systemctl status ntopng
● ntopng.service - ntopng - High-Speed Web-based Traffic An

[2021-02-16 07:17] bloodyle commented on #2314
Voting for this.
We are getting more and more IPv6 traffic and I believe it's crucial for NTOP/NEDGE to support analytics.

[2021-02-16 07:41] amastelek opened #5044 "Moing from stable to dev"
The documentation states that to move from stable to dev involves uninstalling and reinstalling.  The docs does not state anything about migrating existing configuration or existing data?

[2021-02-16 09:45] simonemainardi commented on #4942
Migrate the `items` of elephant flows as l7_cat, as follows

![image](https://user-images.githubusercontent.com/3397663/108045629-f7f3c580-7043-11eb-8c83-b6d0143d1957.png)

[2021-02-16 09:46] simonemainardi commented on #4942
same for long lived

[2021-02-16 09:47] simonemainardi commented on #4942
Note that default_filters are populated when the configuration is created for the first time as not existing. Then, the user can modify this as he wants.

Also make sure the reset correctly restores the exclusion list

![image](https://user-images.githubusercontent.com/3397663/108045974-620c6a80-7044-11eb-8dfc-41e3af4d7def.png)

[2021-02-16 10:02] simonemainardi commented on #4942
For the DNS invalid query this is the expected result (current exclusion list on bold will disappear)

![image](https://user-images.githubusercontent.com/3397663/108047759-73ef0d00-7046-11eb-947e-f2a687cb5647.png)

Default becomes

![image](https://user-images.githubusercontent.com/3397663/108047889-a26ce800-7046-11eb-99d3-3aeb97341c8f.png)

[2021-02-16 10:13] simonemainardi commented on #4942
for the l7 categories, these are the functions to convert ids to names and vice versa

[code]

[2021-02-16 15:52] simonemainardi commented on #5044
please, tell the OS version you are using and I'll add a doc

[2021-02-16 15:53] simonemainardi commented on #5043
Try to run it manually first:
1. stop
2. Launch with /usr/sbin/ntopng /etc/ntopng.conf

[2021-02-16 16:00] simonemainardi commented on #4907
This is still broken:

![image](https://user-images.githubusercontent.com/3397663/108087827-170c4a80-7078-11eb-8463-999905436adb.png)

Clicking on "Client"  brings to an invalid, empty page (note that the breadcrumb is different as well)

![image](https://user-images.githubusercontent.com/3397663/108087922-32775580-7078-11eb-91d7-e4aa3f4a15dc.png)

Moreover, breadcrumb url is still bugged

![image

[2021-02-16 16:01] simonemainardi commented on #4938
Verified as implemented.

[2021-02-16 16:01] #4938 closed, assigned to MatteoBiscosi

[2021-02-16 16:05] simonemainardi commented on #4953
Verified as fixed.

[2021-02-16 16:05] #4953 closed, assigned to MatteoBiscosi

[2021-02-16 16:31] amastelek commented on #5044
debian buster

[2021-02-17 09:49] martinscheu opened #5045 "JA3 lookup for TLS flows"
Hello
If possible please add JA3 certificate lookup for other applications than HTTPS traffic, e.g. POPS, IMAPS, SMTPS.
PCAP to reproduce: https://www.malware-traffic-analysis.net/2020/12/07/2020-12-07-Qakbot-with-Cobalt-Strike-and-spambot-activity.pcap.zip (password: infected)
E.g. POPS
<img width="1776" alt="Screenshot 2021-02-17 at 10 39 18" src="https://user-images.githubusercontent.com/385497

[2021-02-17 13:26] MatteoBiscosi commented on #5035
Hi @martinscheu when you press onto the button to double the value, ntopng tries to modify the file with the configuration of ntopng by executing the ntopng-config script with the appropriate parameters, so with enough privileges it should be able to correctly tune -x and -X parameters inside the ntopng configuration file

[2021-02-17 13:26] #5035 closed, assigned to MatteoBiscosi

[2021-02-17 18:19] gabryon99 commented on #5002
We decided to create a new page for the configuration of a user script. When a user clicks the edit button of a user script, he will be redirected to the **Edit Page**.

**Backend**
For the backend is requested to create an API to load the filename of the template associated with the user script and the loading of the current values, in order to render it inside the page.

**Frontend**
For the fro

[2021-02-18 08:50] martinscheu commented on #4984
Hi @MatteoBiscosi in my tests the outcome is correct.

[2021-02-18 10:56] simonemainardi opened #5046 "Cleanup VLAN code of service maps"
Code that handles service maps with VLANs is full of concatenations and ifs. Example:

![image](https://user-images.githubusercontent.com/3397663/108346692-f19a5080-71df-11eb-9286-0c33313da9bf.png)

All this code must be replaced with library functions:

- `hostinfo2hostkey`
- `hostkey2hostinfo`
- `hostinfo2url`
- `url2hostinfo`

That automatically and transparently take care of the VLAN and possi

[2021-02-18 13:27] lucaderi opened #5047 "Remove duplicated code"
ntopng uses patricia.c code that is a duplicate (and outdated) version of the code in ndpi. It is requested to remove this code and use nDPI

[2021-02-18 14:06] lucaderi opened #5048 "High CPU usage when minute scripts run"
![Screen Shot 2021-02-18 at 15 02 07](https://user-images.githubusercontent.com/4493366/108368358-a2ade480-71fa-11eb-8a27-f2f02a98e923.png)
![Screen Shot 2021-02-18 at 14 59 22](https://user-images.githubusercontent.com/4493366/108368365-a5103e80-71fa-11eb-8eeb-ffa42c9a6682.png)
This behaviour is more evident on Windows when activating ntopng on all interfaces

[2021-02-18 16:56] cardigliano commented on #5026
@PaoloCmb it seems that your configuration is leading ntopng to open too many file descriptors, this mainly depends on nindex and timeseries in addition to other features you can enable in ntopng, and scales with the number of interfaces (the fact that you "created 19 sub interfaces" is definitely what triggered this). We will probably try to optimize/reduce the number of file descriptors used, in

[2021-02-18 17:04] #5026 closed, assigned to cardigliano

[2021-02-18 18:31] simonemainardi commented on #5046
other occurrencies still present

[code]

[2021-02-18 23:40] manjotsc opened #5049 "Can't see client details"
Hi,
I am not able access the client pages. See the attached video please.
Thanks,

**PfSense 2.5.0
Version | 4.2.210205 (0) - Community Edition**

You're not supposed to be here!
Internal server error
__.local/share/ntopng/scripts/lua/modules/plugins_utils.lua:997: module 'active_monitoring.am_utils' not found:__no field package.preload['active_monitoring.am_utils']__no file '/var/db/ntopng/plugin

[2021-02-19 03:07] NoireB commented on #5049
I'm getting the same error.  I came here to see if there's a fix.

[2021-02-19 07:54] simonemainardi commented on #5049
@NoireB are you using the latest dev 4.3 or stable 4.2? Check and, in case, update.

[2021-02-19 08:34] #5046 closed, assigned to gabryon99, MatteoBiscosi

[2021-02-19 08:35] simonemainardi commented on #5049
@manjotsc please tell the installation instructions you have used.

[2021-02-19 08:38] simonemainardi commented on #5043
No feedback received. Reopen with the requested information if necessary.

[2021-02-19 08:38] #5043 closed, assigned to nobody

[2021-02-19 08:43] manjotsc commented on #5049
@simonemainardi I just installed thru the pfsense package manager.

[2021-02-19 09:49] simonemainardi commented on #5038
highlighted scripts set a global redis preference that is then read in C to generate alerts.

It is requested to move such scripts under the interface user scripts, and change them to set a per interface redis key, i.e., ntopng.prefs.ifid_%i.XXXX and change the C part to read this per-interface setting.

To do this, I believe you should leverage method onLoad, onUnload, onConfigChange, etc, and re

[2021-02-19 09:54] simonemainardi commented on #2874
This should be implemented already. Enabling this preference

![image](https://user-images.githubusercontent.com/3397663/108488221-6a60e180-72a0-11eb-884f-e36c9515ceba.png)

Cause charts to Appear:

![image](https://user-images.githubusercontent.com/3397663/108488458-b3189a80-72a0-11eb-928d-df6aecddde52.png)

It is requested to check how charts data points are written, to make sure points are usin

[2021-02-19 10:14] lucaderi opened #5050 "Unify user interface buttons"
![Screen Shot 2021-02-19 at 11 13 24](https://user-images.githubusercontent.com/4493366/108490866-81550300-72a3-11eb-9daa-d36f53f19e89.png)
![Screen Shot 2021-02-19 at 11 13 19](https://user-images.githubusercontent.com/4493366/108490869-82863000-72a3-11eb-87cb-e63524f9448f.png)

Either the button group is used or to used. Colors must be identical. I want to see consistency in pages

[2021-02-19 10:34] cardigliano commented on #5045
POPS, IMAPS, SMTPS protocols using TLS as transport should show JA3 info now (next build)

<img width="1058" alt="Screen Shot 2021-02-19 at 11 29 52" src="https://user-images.githubusercontent.com/7548711/108493099-3be60500-72a6-11eb-9b2d-111d0b688353.png">

[2021-02-19 10:49] simonemainardi commented on #5049
Follow the instructions at: https://www.ntop.org/guides/ntopng/third_party_integrations/pfsense.html

[2021-02-19 11:21] #5042 closed, assigned to cardigliano

[2021-02-19 12:35] NoireB commented on #5049
@simonemainardi I have the stable 4.2
![image](https://user-images.githubusercontent.com/79295171/108505166-f82ed380-7284-11eb-8a28-04cbb165d478.png)

[2021-02-19 13:22] simonemainardi commented on #5049
@NoireB did you follow https://www.ntop.org/guides/ntopng/third_party_integrations/pfsense.html to install?

[2021-02-19 14:42] pwchi opened #5051 "What is the difference between "ntopng Enterprise L" and "ntopng Enterprise L Boundle Linux"?"
I am can't find any about "ntopng Enterprise L Boundle Linux" License Information.

What is the difference between "**ntopng Enterprise L (x64)**" and "**ntopng Enterprise L Boundle Linux (x64)**"?

![image](https://user-images.githubusercontent.com/780551/108518201-41256d00-7303-11eb-936e-dbbcc505c3bc.png)

Thank you very much.

[2021-02-19 14:46] cardigliano commented on #5025
@amastelek what linux distribution/version are you running?

[2021-02-19 14:53] cardigliano commented on #5051
The Bundle includes n2disk 1g and nProbe Pro as described

[2021-02-19 14:53] #5051 closed, assigned to nobody

[2021-02-19 15:04] johnrosenbaum opened #5052 "Local Broadcast Domain Hosts Identifier not Persistent"
The Local Broadcast Domain Hosts Identifier under the Interface settings tab reverts from the MAC to IP Address upon restarting ntop.

Found on ntopng Professional v.4.3.210219 (Raspbian GNU/Linux 10 (buster)).

[2021-02-19 15:24] NoireB commented on #5049
@simonemainardi I tried but got "No address record" however doing a reinstall via package manager solved the issue.

[2021-02-19 16:59] simonemainardi commented on #5044
See https://www.ntop.org/support/faq/how-can-i-switch-from-stable-to-dev-branch-or-vice-versa/

[2021-02-19 16:59] #5044 closed, assigned to nobody

[2021-02-19 18:14] #5001 closed, assigned to lucaderi, cardigliano

[2021-02-20 02:45] geekgao opened #5053 "Complie error"
Make and showed messages like this (a piece of output):

`src/Flow.cpp:490:61: error: ‘struct ndpi_flow_struct::<unnamed union>::<unnamed>’ has no member named ‘detected_os’
    cli_host->inlineSetOSDetail((char*)ndpiFlow->protos.http.detected_os);`

I missing somgthing ?

[2021-02-20 09:25] martinscheu commented on #5045
Hi Alfredo( @cardigliano )
Thanks for the fix, I can confirm that for the 3 mentioned protocols it is working.
May I ask for the lookup if the signature is blacklisted as well?
E.g. for TCP I get:
<img width="1100" alt="Screenshot 2021-02-20 at 10 17 10" src="https://user-images.githubusercontent.com/38549755/108590741-621eaa00-7365-11eb-96aa-d1dda19b9cb5.png">
Blacklisted get a little red icon an

[2021-02-20 15:38] amastelek commented on #5025
debian buster

[2021-02-21 03:11] a-essawy commented on #2100
I have found the solution for this issue.
I'm using Kali Linux which is based on Debian 10, but the steps are similar in Ubuntu "Not sure TBH"

after running these:
` wget https://packages.ntop.org/apt-stable/buster/all/apt-ntop-stable.deb`
`apt install ./apt-ntop-stable.deb `

Now the issue is inside this file  _**/etc/apt/sources.list.d/ntop-stable.list**_
that the links inside sources is outdat

[2021-02-21 03:14] a-essawy commented on #1008
check this
https://github.com/ntop/ntopng/issues/2100#issuecomment-782788011

[2021-02-21 06:37] martinscheu opened #5054 "Documentation feature"
Hello,
When I analyze network data with ntopng, findings I need to report for the operators of the network. Therefore I would be helpful to have export / documentation functionality:
- lists, e.g. flow list or host list: export as cvs
- map overviews, e.g. service map: export as pdf or picture format
- detail pages, e.g. flow details: export as pdf or picture format
nice would be as well a "captur

[2021-02-21 07:47] martinscheu opened #5055 "Show filter settings in lists"
Hello
Currently filtered items are shown with the filter sign.
It would be helpful if the filtered item is shown as well, e.g.:
<img width="1239" alt="Screenshot 2021-02-21 at 07 41 24" src="https://user-images.githubusercontent.com/38549755/108618808-555f8c00-7421-11eb-83cf-ff270caf3aab.png">

Thank you

[2021-02-21 09:56] victorhooi commented on #3764
Is there any update on when ntopNG will support InfluxDB 2.x?

Thanks!

[2021-02-21 11:43] Cxarli opened #5056 "Telemetry email regex is too strict"
The following regex is used by the Telemetry Email field:

`^(([A-Za-z0-9._%+-]|\s)+<)?[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,6}>?$`

This requires the TLD to be between 2 and 6 alpha characters. However, this does not cover a lot of newer TLDs, one of which is [travelersinsurance](https://nic.travelersinsurance/) at 18 characters. It also excludes non-latin TLDs such as [ファッション](http://nic.ファッション

[2021-02-22 01:49] comeonbabyzy opened #5057 "Custom nDPI protocol in source code for ntopng"
How can I add a custom protocol in ndpi source code instead of write a protos.txt file?
I am using a ntopng enterprise edition.

[2021-02-22 07:58] lucaderi commented on #5045
This issue is not implemented as it should: the JA3 blacklisted signature must feed the flow risk

[2021-02-22 08:52] lucaderi opened #5058 "Implement client/server heuristic"
For TCP flows for which the 3WH has not been observed, in case one of the ports (client or server) is < 1024, the server will be identified as the one with the lower port.

This has to be implemented in Flow::processDetectedProtocol(). Doing this will enable other protocols (e.g. SMTP/SMTPS) to be cleaned up.

For UDP flows, a similar solution could be implemented, but it needs to be better analys

[2021-02-22 08:56] cardigliano commented on #4931
Closing for the time being, please reopen in case you are still able to reproduce it. Thank you.

[2021-02-22 08:56] #4931 closed, assigned to simonemainardi, cardigliano

[2021-02-22 09:06] lucaderi opened #5059 "Review client/server implementation"
Historically in ntopng the client is identified as the peer who has sent the first packet. Later it has been introduced the concept of server (e.g. Host::setNtpServer) and when #5058 will be implemented this concept will be even more general.

This problem prevents flows as the one below to be grouped
![Screen_Shot_2021-02-22_at_09_56_32](https://user-images.githubusercontent.com/4493366/108685338

[2021-02-22 09:28] MatteoBiscosi commented on #5053
Hi @geekgao , do you have nDPI up-to-date?

[2021-02-22 09:34] MatteoBiscosi commented on #4984
Hi @martinscheu , great! thank you for your feedback.

[2021-02-22 09:34] #4984 closed, assigned to MatteoBiscosi

[2021-02-22 09:43] cardigliano commented on #5025
@amastelek I pushed new stable packages to make sure the speedtest support was enabled for your distribution. Please note that with the latest update, when the speedtest is not available, you should no longer see the option in the dropdown (please remove the speedtest you already configured before trying to create it again). Please update and let me know. Thank you.

[2021-02-22 11:45] geekgao commented on #5053
Yes. I follow the document https://github.com/ntop/ntopng/blob/dev/doc/README.compilation
Run git clone https://github.com/ntop/nDPI.git

It is wrong branch ?  @MatteoBiscosi

[2021-02-22 11:48] simonemainardi commented on #5058
I would like to have this implemented earlier in the packet processing chain, to also fix the in-memory flow with guessed client and server.

Currently, for packet interfaces, when we have a packet we retrieve the in-memory flow as

[code]

Note that the function above returns a boolean `new_flow`. Given this, We can try and implement @lucaderi heuristics

in pseudo code as follows:

[code]

Here

[2021-02-22 13:01] simonemainardi commented on #5053
your ntopng is outdated as the issue was fixed in

commit aeabe2a9a79539887ac76075347ced2e396f8c53
Author: Simone Mainardi <mainardi@ntop.org>
Date:   Wed Feb 3 12:58:08 2021 +0100

    Compilation fix after nDPI HTTP: fix user-agent parsing

    Fix after https://github.com/ntop/nDPI/pull/1124/commits/80ad2e245495fa7dfd35b6a56995dfe94723feae

Update ntopng to the tip of its dev branch. Run `git p

[2021-02-22 13:01] #5053 closed, assigned to MatteoBiscosi

[2021-02-22 13:06] simonemainardi commented on #3764
The discussion is still ongoing internally and cannot provide an ETA.

[2021-02-22 13:07] simonemainardi commented on #5056
@gabryon99 please change this using the same validation we have used for the email endpoint

[2021-02-22 13:58] #5055 closed, assigned to nobody

[2021-02-22 13:58] simonemainardi commented on #5055
Applied filters are shown in the page title (to save space on dropdowns)

See
![image](https://user-images.githubusercontent.com/3397663/108717908-1ebb6b80-751e-11eb-83e1-724b0b988a75.png)

Moreover, we are likely to change all the dropdowns using a more general filtering syntax.

There was an issue preventing certain fields to be added to the title. Issue is now fixed.

[2021-02-22 14:02] simonemainardi commented on #5038
where is the lua part that actually sets the flag?

[2021-02-22 14:46] lucaderi commented on #5058
@simonemainardi This is not correct as already discussed. Swap can't happen for unidirectional flows

[2021-02-22 15:23] simonemainardi commented on #5058
we can add extra checks to see if the ip address is broadcast or multicast

[2021-02-22 22:21] lucaderi commented on #5045
@cardigliano See https://github.com/ntop/nDPI/commit/f1b22b199f08469407c55dcd98ec24af85da0fd3 and ndpi_load_malicious_ja3_file() API call

[2021-02-23 00:09] dragoangel commented on #5049
@NoireB actually reinstall doesn't helps, @simonemainardi you provide link to Pro version, while people use Community edition which installed via package manager, in any case I don't think this change anything - Community\Pro works same at core. I use external InfluxDB(1.8.3) for Timeseries and issue also reproduce on ntopng Community v.4.2.210205. In lua/system_stats.lua I don't see Redis and Inf

[2021-02-23 07:10] amastelek opened #5060 "Skype versus Teams"
I think what you recognize as Skype should be Teams?
![ntop9](https://user-images.githubusercontent.com/61453908/108811976-e87dfa80-75b6-11eb-83da-f29f38201c99.jpg)

[2021-02-23 07:25] simonemainardi commented on #5049
@dragoangel we are not the maintainers of the packaged community version. This is the reason why I encouraged to install packages from our repository. Those packages are under our direct control, are tested by us, and we can fix possible issues. Note that also using our repo allows you to run in community mode and you are not forced to use a license.

[2021-02-23 07:27] dragoangel commented on #5049
Hi @simonemainardi thanks for the tip

[2021-02-23 11:40] cardigliano commented on #5047
Implemented in 9c196d322b27bb8f9077696b1aa620e6676615e8

[2021-02-23 13:41] TimotheusBachinger opened #5061 "Timeseries: Alerts & Flows per Host"
Hi ntop,

we want to query the number of alerts and flows of one host in a specific time interval.
We would have assumed to achieve this by using something like:
`http://<URL>:3000/lua/rest/get/timeseries/ts.lua?ts_schema=host:total_alerts&ts_query=ifid:2,host:<IP>&limit=1000&epoch_begin=1607000000&epoch_end=1614086841`
or by using `host:total_flows`. The corresponding host had flows and alerts in

[2021-02-23 14:33] #5047 closed, assigned to cardigliano

[2021-02-23 17:37] cardigliano commented on #5045
Malicious JA3 signatures are now loaded to nDPI and the flow risk is displayed as in the picture

<img width="858" alt="Screen Shot 2021-02-23 at 18 36 07" src="https://user-images.githubusercontent.com/7548711/108883738-1cccd780-7606-11eb-8fe2-b7e429a27286.png">

[2021-02-23 18:04] tigattack opened #5062 "docs: pfSense install"
The docs for installing ntopng on pfSense appear to be incorrect.

I believe the [section for adding the repo to pfSense CE](https://www.ntop.org/guides/ntopng/third_party_integrations/pfsense.html#pfsense-ce) should also be FreeBSD 12, perhaps with a note that this applies only to pfSense CE 2.5 and higher.

As per the [pfSense 2.5 release announcement](https://www.netgate.com/blog/pfsense-plus-2

[2021-02-23 18:05] cardigliano commented on #5062
@tigattack thank you for pointing this out, the doc was realted to 2.4.x and needs to be updated

[2021-02-23 18:07] tigattack commented on #5062
Happy to help 🙂

[2021-02-23 18:08] cardigliano commented on #5062
Fixed (it will be updated overnight)

[2021-02-23 18:08] #5062 closed, assigned to nobody

[2021-02-24 08:09] cardigliano opened #5063 "Allow multiple interface selection in the OPNsense plugin"
Currently it is possible to configure ntopng on all interfaces, or a selected interface, or as nprobe collector. It would be useful to add a multiselection.

[2021-02-24 08:51] martinscheu opened #5064 "host map filter not working"
Hello
When I try to filter in hosts map, I select SYN vs RST it opens the SYN Distribution. Further the DNS request vs replies is empty.
<img width="322" alt="Screenshot 2021-02-24 at 09 25 05" src="https://user-images.githubusercontent.com/38549755/108974528-d454fe80-7685-11eb-870f-118e602b8e11.png">
thank you

[2021-02-24 09:14] martinscheu commented on #5045
Hi Alfredo (@cardigliano )
Thank you for the update. Could the flow risk text be same as with TCP: "Possibly Malicious Signature" ?
Reason: JA3 lookup can generate false positives.
Thank you.

[2021-02-24 09:15] cardigliano commented on #5045
Sure, I can change it

[2021-02-24 09:21] cardigliano commented on #5045
https://github.com/ntop/ntopng/commit/a4b6be18b4f70d6854d2e011feaf86b2ed7214aa

[2021-02-24 15:06] simonemainardi commented on #5061
Hi.

Please use:
- http://<URL>:3000/lua/rest/v1/get/timeseries/ts.lua for timeseries, e.g., host:traffic
- http://<URL>:3000/lua/rest/v1/get/alert/ts.lua for timeseries of alerts

Also note the `v1` in the URLs. You should use it to make sure your API is always at the same version

[2021-02-24 15:14] simonemainardi commented on #5052
Hi.

Tested with `ntopng Enterprise L v.4.3.210221 (Raspbian GNU/Linux 10 (buster)) | ` and setting is preserved properly.

Make sure you (or the system) are not cleaning up redis upon restart. Information is stored in redis, if you flush it, you will lose the configuration. It could happen also if you have mounted a filesystem in memory.

[2021-02-24 15:41] cardigliano commented on #5063
Fixed in a4adaaff02e24017fb4d743c5202e330dae565c4

[2021-02-24 15:41] #5063 closed, assigned to cardigliano

[2021-02-24 17:46] lucaderi opened #5065 "Invalid alert layout"
![Screen_Shot_2021-02-24_at_18_43_34](https://user-images.githubusercontent.com/4493366/109042413-7699d400-76d0-11eb-9352-b8227cc11e0a.png)

![Screen Shot 2021-02-24 at 18 47 53](https://user-images.githubusercontent.com/4493366/109042762-d98b6b00-76d0-11eb-8f61-a39f4c663e70.png)

The date can be put on two lines to reduce X space
The button Christmas tree ought to be fixed
Flow risk is not proper

[2021-02-24 17:53] lucaderi opened #5066 "Flow risk alert type must be further split"
The way alerts for flow risk are implemented is that they all fall into the same alert type. This is misleading and it does not help to figure out what is going on

![Screen Shot 2021-02-24 at 18 49 13](https://user-images.githubusercontent.com/4493366/109042920-0770af80-76d1-11eb-930c-e4ee842bc6bb.png)

It is requested each flow risk to have an individual type so that breakdown is possible.

[2021-02-24 18:40] olg33 opened #5067 "Too many flows warning after upgrading to v.4.2.2"
We have been using ntopng to monitor traffic flow at remote hub locations. So far all have been working smoothly, but the system started prompting to upgrade to the latest stable release (4.2) we currently have installed (rel. 4.0.200609 (10480))

After upgrading one location,the following  pop-up warning keeps appearing everywhere:

![Capture](https://user-images.githubusercontent.com/61751672/10

[2021-02-24 18:49] lucaderi opened #5068 "Noisy low goodput alert"
The way low goodput is implemented is not optimal as many (by nature) low goodput protocols create a lot of useless noise that increases the host score and hides the real problems.

![Screen_Shot_2021-02-24_at_19_44_51](https://user-images.githubusercontent.com/4493366/109049789-f2981a00-76d8-11eb-8362-338e67c6d864.png)

By default alerts for protocols such as those indicated in the picture must b

[2021-02-24 19:13] TimotheusBachinger commented on #5061
Hi,

when using rest/v1, I am receiving INTERNAL_ERROR (-6):
`http://:3000/lua/rest/v1/get/timeseries/ts.lua?ts_schema=host:total_alerts&ts_query=ifid:2,host:<IP>&limit=1000&epoch_begin=1607000000&epoch_end=1614086841`

`{"rc_str":"INTERNAL_ERROR","rc_str_hr":"Internal error","rsp":[],"rc":-6}`

[2021-02-25 07:50] simonemainardi commented on #5067
Please, follow what is said in the yellow toast and report. Also explain the installation procedure you have used and if you are using packages at packages.ntop.org

[2021-02-25 09:59] gabryon99 commented on #5056
Updated the email regex for the telemetry prefs page, I've tested it with the TLD proposed above.

[2021-02-25 10:16] cardigliano commented on #5045
@martinscheu please confirm this is providing the expected information now

[2021-02-25 10:30] #5056 closed, assigned to gabryon99

[2021-02-25 13:56] simonemainardi opened #5069 "Alert Filters - Ability to Change Severity"
Currently, alert filters are exclusion lists, that is, an alert matching a filter is not generated. Requirement is to change this to allow a severity to be specified for each alert. A severity of zero will mean 'no not generate this alert' to fall in the current status.

Any alert filter will be converted in JSON like
[code]

Moreover, each filter will be given an ID, to uniquely identify it in co

[2021-02-25 14:15] simonemainardi opened #5070 "Alert Filters - User Interface"
Once https://github.com/ntop/ntopng/issues/5069 is implemented, the following edits to  the UI will be performed.

A press on the bell

![image](https://user-images.githubusercontent.com/3397663/109164487-ca60f780-777a-11eb-91f5-76de2e3d20d2.png)

Will open a modal with a list of fields configurable for that filters. Modal will be populated with an AJAX request to `get/user_script/filter/preset.lu

[2021-02-25 18:21] olg33 commented on #5067
Thanks.

That's the first thing we tried to do but I haven't found a reference to "tune -x/-X". How can I do it? Is there any document that describes that procedure?

For the upgrade we followed instructions from https://packages.ntop.org/apt-stable/ , downloaded binary for Ubuntu 20.04.

 The whole process was easy and error-free.

[2021-02-25 20:55] lucaderi opened #5071 "Bind alerts to flows through communityId"
Export the communityId for
- flow alerts
- flows
In order to enable binding alerts to flows.

[2021-02-26 07:18] simonemainardi commented on #5067
yes, just add them to the configuration file. See `ntopng -h`. Version 4.3 adds them automatically but as you are with 4.2 you have to do it manually. Then restart ntopng.

[2021-02-26 10:05] TimotheusBachinger opened #5072 "Alerts: Timeseries vs Data Timestamp"
Hi ntop Team,

we're currently seeing a discrepancy in the timestamp between the timeseries and data of alerts.

`lua/rest/v1/get/alert/data.lua?ifid=0&epoch_begin=1614211200&epoch_end=1614297500&status=historical `
returns:
`{
  "rsp": {
    "1614211200": [
      0,
      0,
      0,
      0,
      0,
      0,
      0,
      0,
      0,
      0,
      0,
      1,
      0,
      0,
      1,

[2021-02-26 10:36] #5038 closed, assigned to simonemainardi

[2021-02-26 11:38] #5066 closed, assigned to simonemainardi, MatteoBiscosi

[2021-02-26 11:38] simonemainardi commented on #5068
Some low goodput alerts also show up a 0% goodput that is suspicious. These must be checked.

[2021-02-26 13:00] Syl4r-v opened #5073 "When listing raw flows UI fails to scale correctly."
When listing "raw flows" the table fails to scale correctly. It doesn't happen straight away but when I change the amount of rows shows from 10 to something else.
<img width="1575" alt="Screenshot 2021-02-26 at 13 37 47" src="https://user-images.githubusercontent.com/77612587/109303347-576f8380-7843-11eb-87b7-88eaccd5136a.png">
<img width="1603" alt="Screenshot 2021-02-26 at 13 45 53" src="https:/

[2021-02-26 13:02] Syl4r-v opened #5074 "Search bar not working correctly"
When writing an ip address to the search bar and hitting enter, instead of search it just gives [object object] text in the search field.

version: 4.2.210222 (13271)

<img width="369" alt="Screenshot 2021-02-26 at 14 09 57" src="https://user-images.githubusercontent.com/77612587/109303513-96053e00-7843-11eb-8d2b-574e1f1871cb.png">

[2021-02-26 13:18] lucaderi opened #5075 "Add time navigation in alerts page"
With many alerts, it is hard to find the correct one in case a problem is reported. It is required to add a time navigation facility that allows to drill down alerts by time. Something similar to Kibana
![Screen Shot 2021-02-26 at 14 09 34](https://user-images.githubusercontent.com/4493366/109304997-618e8380-783d-11eb-8f75-cd66186d7bef.png)

[2021-02-26 16:59] lucaderi opened #5076 "nIndex invalid SQL"
26/Feb/2021 16:20:28 [NIndexFlowDB.cpp:622] select(time: 1614350640/1614352560[1920 sec], select: [IPV4_SRC_ADDR,IPV4_DST_ADDR,IP_DST_PORT,IP_SRC_PORT,VLAN_ID,TOTAL_BYTES,PACKETS,FIRST_SEEN,LAST_SEEN,INFO,STATUS,L7_PROTO,PROTOCOL,PROFILE,SRC2DST_DSCP], where: [((IPV4_SRC_ADDR=192.168.1.178 OR IPV4_DST_ADDR=192.168.1.178) AND (VLAN_ID=0) AND (IPV4_SRC_ADDR=5.200.6.157 OR IPV4_DST_ADDR=5.200.6.157)

[2021-02-26 21:51] ajaufura commented on #2462
Hi,

I wanted to run  ntopng via docker on raspberrypi 4. I have exactly the same error.

Log:
26/Feb/2021 21:43:40 [NetworkInterface.cpp:949] Invalid packet received [len: 2974][MTU: 1518].
26/Feb/2021 21:43:40 [NetworkInterface.cpp:950] WARNING: If you have TSO/GRO enabled, please disable it
26/Feb/2021 21:43:40 [NetworkInterface.cpp:952] WARNING: Use: sudo ethtool -K docker0 gro off gso off tso

[2021-02-26 21:54] ajaufura commented on #2462
Features for eth0:
rx-checksumming: off
tx-checksumming: off
        tx-checksum-ipv4: off [fixed]
        tx-checksum-ip-generic: off
        tx-checksum-ipv6: off [fixed]
        tx-checksum-fcoe-crc: off [fixed]
        tx-checksum-sctp: off [fixed]
scatter-gather: on
        tx-scatter-gather: on
        tx-scatter-gather-fraglist: off [fixed]
tcp-segmentation-offload: off
        tx-tcp-segme

[2021-02-27 15:08] martinscheu commented on #5045
Hi Alfredo, @cardigliano, thanks for the update, it is working as expected. Some flows in the test pcap don't show a JA3 signature, guess they are too short?
<img width="1985" alt="Screenshot 2021-02-27 at 16 08 18" src="https://user-images.githubusercontent.com/38549755/109391167-0f6d6100-7916-11eb-9fce-d2db3261f5b7.png">

[2021-02-27 20:12] ajaufura commented on #3332
I am having the same issue here. Any idea how to resolve this? Thanks.

Error :
27/Feb/2021 20:09:06 [AlertCheckLuaEngine.cpp:81] WARNING: Script failure[/usr/share/ntopng/scripts/callbacks/interface/network.lua] [.../ntopng/scripts/lua/modules/notifications/recipients.lua:576: attempt to index a nil value]

27/Feb/2021 20:09:07 [AlertCheckLuaEngine.cpp:81] WARNING: Script failure[/usr/share/ntopn

[2021-02-27 20:19] ajaufura opened #5077 "WARNING: Script failure[/usr/share/ntopng/scripts/callbacks/interface/network.lua] [.../ntopng/scripts/lua/modules/notifications/recipients.lua:576: attempt to index a nil value]"
I am having this issue here. Any idea how to resolve this? Thanks.

Error :
27/Feb/2021 20:09:06 [AlertCheckLuaEngine.cpp:81] WARNING: Script failure[/usr/share/ntopng/scripts/callbacks/interface/network.lua] [.../ntopng/scripts/lua/modules/notifications/recipients.lua:576: attempt to index a nil value]

27/Feb/2021 20:09:07 [AlertCheckLuaEngine.cpp:81] WARNING: Script failure[/usr/share/ntopng/sc

[2021-02-28 10:52] lucaderi opened #5079 "Error after plugin changes"
Feb 28 05:31:29 pc-deri ntopng[5435]: [LuaEngine.cpp:572] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/system/startup.lua][...png/plugins0/callbacks/interface/flow/iec60870_5_104.lua:48: bad argument #1 to 'concat' (table expected, got nil)]
Feb 28 05:31:29 pc-deri ntopng[5435]: 28/Feb/2021 05:31:29 [LuaEngine.cpp:572] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/sy

[2021-02-28 12:02] lucaderi opened #5080 "Rework hosts map"
The hosts map page is very primitive: it must be changed in a more modern implementation with
- bubble widget
- REST-based drill down to avoid generating data in the page

[2021-03-01 08:07] cardigliano commented on #2462
@ajaufura it is likely eth0 is a virtual interface (ethtool -i eth0 should tell you that) and GRO/TSO is enabled on the physical interfaces. Said that it is recommended to turn offloads off when processing traffic to match exactly what is seen on the wire, you can still analyse traffic with those features enabled.

[2021-03-01 10:08] #5077 closed, assigned to simonemainardi

[2021-03-01 10:09] simonemainardi commented on #5077
Thanks for reporting. Issue is fixed. New builds are in progress and will be ready in a couple of hours.

[2021-03-01 10:10] simonemainardi commented on #5074
Do you have SNMP devices configured?

[2021-03-01 10:37] simonemainardi commented on #5061
Hi,

Issue was just that no-data-points was wrongly interpreted as 'internal error'.

I have fixed this behavior to make it consistent with non-v1 REST API. No data is now returned as an empty array

[code]

New stable builds in progress. They will be ready in a couple of hours.

[2021-03-01 10:37] #5061 closed, assigned to nobody

[2021-03-01 11:36] bageheyalu commented on #3332
I also encountered this problem. Did you solve this problem？

[2021-03-01 11:50] Syl4r-v commented on #5074
Not anymore. I tested some devices some time ago, but have since removed them from ntop.

[2021-03-01 11:56] simonemainardi commented on #5072
Thanks for reporting. Issue was due to the encoding `json.encode` which was not behaving nicely with tables having integer numbers starting from zero as keys. It was assuming they were arrays and ignoring element indexed at 0, causing the timeseries to be shifted by 1 hour.

New stable builds are in progress.

[2021-03-01 11:56] #5072 closed, assigned to nobody

[2021-03-01 13:18] simonemainardi commented on #5074
I can't reproduce the reported behavior. Please, try this:

1. Open the browser inspector
2. Start  typing in the search box until the [object] appears
3. Look at the network part of the inspector for a request to `find_host.lua`
4. Send the response you will see for `find_host.lua`

![image](https://user-images.githubusercontent.com/3397663/109502215-ff31bf00-7a98-11eb-8683-ca9c8ce63bd2.png)

[2021-03-01 13:20] simonemainardi commented on #5068
Fixed in

https://github.com/ntop/ntopng/blob/9ae7f01ccc7dbe0280b56b19ae483ccf42b0832e/scripts/plugins/alerts/network/low_goodput/user_scripts/flow/low_goodput.lua#L32

[2021-03-01 13:20] #5068 closed, assigned to simonemainardi, MatteoBiscosi

[2021-03-01 13:21] simonemainardi commented on #5069
After internal discussion, this is no longer needed as it will be part of the user scripts rework.

[2021-03-01 13:21] #5069 closed, assigned to nobody

[2021-03-01 13:21] simonemainardi commented on #5070
After internal discussion, this is no longer needed as it will be part of the user scripts rework.

[2021-03-01 13:21] #5070 closed, assigned to nobody

[2021-03-01 13:22] #5064 closed, assigned to gabryon99

[2021-03-01 13:22] simonemainardi commented on #5067
Did you have a chance to try?

[2021-03-01 13:23] #5065 closed, assigned to gabryon99

[2021-03-01 13:24] simonemainardi commented on #5058
Implemented in referenced commits. Tests `peers_swap_heuristic_01.yaml` and `peers_swap_heuristic_02.yaml` implemented to verify the implementation.

[2021-03-01 13:24] #5058 closed, assigned to MatteoBiscosi

[2021-03-01 13:27] simonemainardi commented on #4957
#5001 is now implemented.

[2021-03-01 13:27] #4957 closed, assigned to MatteoBiscosi

[2021-03-01 13:41] MatteoBiscosi commented on #4426
Depends on #4942

[2021-03-01 13:58] simonemainardi commented on #3332
yes. Please update.

[2021-03-01 15:34] olg33 commented on #5067
Sorry for the delay. We are restoring the 4.0.2 VM and from there we'll proceed to upgrade to 4.2.2 again. This time we want go step-by-step documenting everything until we get to were we got stuck before. I'll let you know how it goes.

[2021-03-01 17:32] MatteoBiscosi commented on #3871
Implemented by issue #4957

[2021-03-01 17:32] #3871 closed, assigned to MatteoBiscosi

[2021-03-01 19:18] ajaufura commented on #3332
I'm still having the issue. I use the dockerfile here : https://github.com/ntop/docker-ntop
I created the dockerfile "Dockerfile.ntopng-raspberry" on my raspberrypi, then i run the following :

docker build -t ntopng -f Dockerfile.ntopng-raspberry .
docker run -it --net=host ntopng -i eth0

And I have those erreors :

,01/Mar/2021 19:05:00 [LuaEngine.cpp:572] WARNING: Script failure [/usr/share/nt

[2021-03-01 19:24] ajaufura commented on #3332
And on typing the IP and the port number on a browser, I have the page to log as admin/admin then to change password. But I cannot go further to access the webUI of ntopng. Have you an idea of the issue?

[2021-03-01 23:13] olg33 commented on #5067
We have re-created the problem from scratch and here are the steps taken:

- A new VM was re-loaded with Ntopng Rel. 4.0.200609 (10480). Upon installation, we applied live traffic and we could verifiy that like the rest of the VMs running Rel. 4.02, no issue whatsoever was detected, even under high traffic load no alarm or warning was displayed.

- Upgraded to Rel v.4.2.210301. Like in the first u

[2021-03-02 07:29] simonemainardi commented on #5067
You have approx. 95k active flows (see the top badge), so you are almost hitting the 130k limit you have set. This limit must be much larger than the actual value. Try and set it to 500k. Same for hosts. So

[code]

Note that you are monitoring a `br0` interface, I am not sur PF_RING ZC can be run here, @cardigliano can give further recommendations. Keep in mind that you'll be able to make approx

[2021-03-02 07:56] cardigliano commented on #5067
Let me add that br0 is a software interface attached to the linux bridge, which is not supported by RSS and ZC drivers. For best performance it is recommended to move to a physical interface if possible (Intel if you want to use ZC)

[2021-03-02 11:01] Syl4r-v opened #5081 "Single flow .txt export not working"
When clicking the export as txt icon for single flow the exported file only has the field labels, not the data itself.
<img width="625" alt="Screenshot 2021-03-02 at 13 01 18" src="https://user-images.githubusercontent.com/77612587/109639063-68780780-7b57-11eb-9741-8f3e3a1d75b2.png">
<img width="1592" alt="Screenshot 2021-03-02 at 12 58 41" src="https://user-images.githubusercontent.com/77612587/1

[2021-03-02 13:11] simonemainardi commented on #5050
please resolve once-for-all the issue with Christmas trees as well

[2021-03-02 16:29] MatteoBiscosi commented on #5079
Not able to reproduce again the error

[2021-03-02 16:29] #5079 closed, assigned to MatteoBiscosi

[2021-03-02 17:10] simonemainardi commented on #5052
Closing for inactivity. Update if necessary and issue will be reopen.

[2021-03-02 17:10] #5052 closed, assigned to simonemainardi

[2021-03-02 17:15] #4006 closed, assigned to MatteoBiscosi

[2021-03-02 17:17] simonemainardi commented on #3974
merged with https://github.com/ntop/ntopng/issues/4942

[2021-03-02 17:17] #3974 closed, assigned to nobody

[2021-03-02 17:21] #2874 closed, assigned to MatteoBiscosi

[2021-03-02 17:22] cardigliano commented on #5025
This works for me with the package after the last changes, please reopen in case.

[2021-03-02 17:32] cardigliano commented on #4988
This is no longer required by the new regression tests architecture.

[2021-03-02 17:32] #4988 closed, assigned to lucaderi

[2021-03-02 17:35] simonemainardi commented on #4950
@MatteoBiscosi please add a dropdown with pools under the flows page

[2021-03-02 17:36] simonemainardi commented on #4426
This is implemented. An `info=` field is supported as part of the user script configuration

![image](https://user-images.githubusercontent.com/3397663/109690041-35993800-7b86-11eb-92e2-a0fdbc2d3c12.png)

[2021-03-02 17:36] #4426 closed, assigned to MatteoBiscosi

[2021-03-02 18:43] #5045 closed, assigned to lucaderi, cardigliano

[2021-03-03 01:59] olg33 commented on #5067
@simonemainardi I have made the suggested changes and the flows warning has cleared. Thanks!
Initially I set the limit to 130K because ntopng -h states that the maximum number of flows/hosts is 131K
![Capture](https://user-images.githubusercontent.com/61751672/109722861-48f2d600-7b7b-11eb-9675-d581d34f7249.JPG)

So what's the real limit?

@cardigliano I'll change the br0 interface but please note

[2021-03-03 06:43] zcy382725 opened #5082 "flow dump to es 7 failed."
what i run:
ntopng -F "es;ntopng;ntopng-%Y.%m.%d;es_url;user:password" -v 4

what i got:

03/Mar/2021 06:35:46 [ElasticSearch.cpp:214] {
  "name" : "ed534a44b6a8",
  "cluster_name" : "docker-cluster",
  "cluster_uuid" : "3dccBjplTyq5i65JECGVmg",
  "version" : {
    "number" : "7.10.1",
    "build_flavor" : "default",
    "build_type" : "docker",
    "build_hash" : "1c34507e66d7db1211f66f3513706fdf

[2021-03-03 07:13] simonemainardi commented on #5067
Thanks for reporting. Note that likely the issue was still present also on the older installation, but  there was no warning.

We don't enforce a maximum here as it depends on the installation. Practical maximum values however are in the order of millions.

You set the value to the default value so this had no effect.

[2021-03-03 07:16] simonemainardi commented on #5082
It does support elasticsearch 7.

Check this https://github.com/elastic/elasticsearch-php/issues/1014

Also report the ntopng version used.

[2021-03-03 07:24] #4336 closed, assigned to MatteoBiscosi

[2021-03-03 07:31] simonemainardi commented on #5074
@Syl4r-v can you please check

[2021-03-03 08:19] zcy382725 commented on #5082
my bad, forget the "/_bulk"

[2021-03-03 08:19] #5082 closed, assigned to nobody

[2021-03-03 09:11] Syl4r-v commented on #5074
I doesn't happen all the time, but this should be the right response. The "object" only appears after I hit enter to do the search, it doesnt appear by itself. (I had to remove the IPs because they are all public addresses)

<img width="544" alt="Screenshot 2021-03-03 at 11 07 10" src="https://user-images.githubusercontent.com/77612587/109782029-1e535c80-7c11-11eb-96bf-527b3975dcc5.png">

[2021-03-03 11:57] martinscheu opened #5083 "Importing entire configuration does not import all"
Hello
When restoring an entire configuration on pool recipients only hosts are imported, others (e.g. flows, host pool) do not get the exported recipient configuration.
thanks.

[2021-03-03 14:12] cardigliano commented on #5067
As my colleague said, it is likely you had the same issue before, but the warning was not implemented in that version. Switching to pcap would even make it worse as it has lower performance.

[2021-03-03 14:15] cardigliano commented on #5067
In short, it seems this just requires the -x/-X tuning, please add the below to the configuration file and restart ntopng, and the warning should disappear. Please reopen in case.

-X="524288"
-x="524288"

[2021-03-03 14:15] #5067 closed, assigned to simonemainardi, cardigliano

[2021-03-03 15:14] MatteoBiscosi commented on #5081
Hi @Syl4r-v, I'm sorry but I'm not able to reproduce the issue. Do you have some error in ntopng logs?

[2021-03-03 18:25] lucaderi opened #5084 "Alerts do not include the interface"
In ELK (please check also other formats) alerts do not include the interface name/id, thus they are all mixed in case ntopng monitors multiple network interfaces.

This information needs to be added.

[2021-03-03 18:38] lallori commented on #5084
@simonemainardi in the alert-* index it would also be good to have a copy of the source.ip and destination.ip values in two new fields called in the same way of the ntopng--* index (IPV4_SRC_ADDR and IPV4_DST_ADDR)  so that it would be possible to create mixed dashboards with the two indexes and filter using ips.

[2021-03-03 18:43] lucaderi commented on #5084
Or better, the alert includes the interfaceId but that on an external system such as ELK is meaningless as the interface name should be used.

[2021-03-03 19:22] martinscheu commented on #5083
Hi Alfredo (@cardigliano )
I realised that from the user scripts, e.g. rogue DNS/NTP/DHCP Server it was not imported neither.
From runtime preferences, e.g. traffic behaviour, I am not sure if that is exported, but is not imported neither.
Thanks, Martin

[2021-03-04 05:49] piscisaustrinus opened #5085 "Flow- Individual Flow - Error Seen "You're not supposed to be here!""
Click on Flow Icon in left panel, it shows overview of active flows.
Click on individual active flow, the error pasted below is seen. Post upgrade I am not able to see individual flow details.

Version - 4.2.210205 (0) - Community Edition
Platform amd64-unknown-freebsd12.2 [amd64][] - 64 bit
Error- Text..

You're not supposed to be here!
Internal server error
__.local/share/ntopng/scripts/lua/modu

[2021-03-04 10:27] simonemainardi commented on #5085
how did you install ntopng? are you using our official packages at https://packages.ntop.org/ ?

[2021-03-04 10:35] simonemainardi commented on #5084
There is a single function `alert_utils.formatAlertNotification` that should be used to format the alert and that adds the interface name, given the interface id

[code]

Please, check and make sure it is used everywhere, apart from special cases such as ECS.

[2021-03-04 10:43] simonemainardi commented on #5074
@MatteoBiscosi seems the issue is with view interfaces. @Syl4r-v can you confirm this is only happening with the view? Please, attach the ntopng configuration file.

[2021-03-04 10:46] simonemainardi commented on #5074
@MatteoBiscosi also note that is is an issue with the stable.

[2021-03-04 10:47] lallori commented on #5084
I would be good to have the interface name as a separate field in the alerts index since the interfaceId value inside the message field is a subfield in a json which cannot be filtered inside ELK.

[2021-03-04 10:48] MatteoBiscosi commented on #4887
Hi @martinscheu unfortunatly currently it is not possible to adjust the goodput ratio based on the protocol however we recently implemented alert filters, so it is possible to disable the goodput ratio alert by adding the specific protocol to the "Filter List"

[2021-03-04 10:50] simonemainardi commented on #4950
bugged (at least with view interfaces):

![image](https://user-images.githubusercontent.com/3397663/109952937-b750a900-7cdf-11eb-87fc-97f5e8c1c074.png)

![image](https://user-images.githubusercontent.com/3397663/109952955-bcadf380-7cdf-11eb-9dc3-38b27f320983.png)

![image](https://user-images.githubusercontent.com/3397663/109952983-c3d50180-7cdf-11eb-9675-00dd5d10dcb9.png)

[2021-03-04 10:51] simonemainardi commented on #4950
bugged also with non-view-interfaces

![image](https://user-images.githubusercontent.com/3397663/109953143-f3840980-7cdf-11eb-8031-7180d7640d1a.png)

[2021-03-04 10:56] simonemainardi commented on #4618
Style is invalid, e.g., buttons must be red (do the same style as in the alerts page)

![image](https://user-images.githubusercontent.com/3397663/109953558-82912180-7ce0-11eb-958c-778e2ed1ea50.png)

A modal asking confirmation must be open.

Use isAdministrator() here: https://github.com/ntop/ntopng/commit/c925cfaf18f405f4c4562b8697a5c04f3403acb6#diff-7b6880f2b90b92b10326c33e560cf7cfe514a133af1cb1

[2021-03-04 11:38] simonemainardi commented on #3332
what do you mean? please explain and attach screenshots

[2021-03-04 13:37] RicterZ opened #5086 "Ntopng Security Issues Report"
Hi all,

There're some security issues about ntopng I wanna submit.
I sent some mails to security@ntop.org but **no any responses during these serval weeks**.
Is any other ways to report them? These issues are critical so that I cannot disclose in GitHub issues.

[2021-03-04 13:58] olmanolsztyn opened #5087 "No MAC, LLDP on some interfaces"
I added SNMP devices (Juniper MX) and see no MACs and LLDP neighbors on random interfaces.
I turned on SNMP debug and saw logs ERROR: Item limit reached in mac addresse discovery .

[2021-03-04 14:00] ajaufura commented on #3332
I explained it in the comment upwards. I deploy it again using the file "Dockerfile.ntopng-raspberry". Still having same issue

[2021-03-04 14:09] piscisaustrinus commented on #5085
Pulled it form the pfsense repository.
Earlier version of ntopng was working with pfsense release 2.4.x.
Post pfsense update to 2.5.0-RELEASE (amd64) and Ntop install from its package manager to version 4.2.210205, I am facing the issue.
--

[2021-03-04 14:18] simonemainardi commented on #5085
We are not the maintainers of the package in the pfsense repository. Please, install according to these instructions and it will work https://packages.ntop.org/FreeBSD/

Otherwise you should get in touch with the pfsense package manager and ask him to update.

[2021-03-04 14:18] #5085 closed, assigned to nobody

[2021-03-04 14:27] simonemainardi commented on #5086
We do not have any pending request at security@ntop.org. Latest was from Date: 28 January 2020  and it has been handled quickly. Please, check and try to re-send, you can add mainardi at ntop dot org in cc.

[2021-03-04 14:43] RicterZ commented on #5086
I forwarded the mail to your mail address, if it still cannot be received,
notify me please

Simone Mainardi <notifications@github.com>于2021年3月4日 周四下午10:27写道：

--
Regards,
Ricter Zheng

[2021-03-04 15:41] cardigliano commented on #5083
@martinscheu both have been addressed, please check latest package and let me know. Thank you.

[2021-03-04 16:09] MatteoBiscosi commented on #5084
Hi @lallori i added the id and the name of the observer interface as ecs format suggest https://www.elastic.co/guide/en/ecs/current/ecs-observer.html.
Builds are in progress, bear with it for a few hours and let me know.
However in ecs schema there cannot be two identical fields so your suggest on having two ip copies it is not possible. Unfortunately the same goes for having the interface Id valu

[2021-03-04 16:53] lallori commented on #5084
@MatteoBiscosi thank you very much!

Is there a way to make the two indexes (alerts and ntopng) communicate? I would like to filter for ip address so that if I have an alert it would be possible to filter for the traffic which generated that alert. I tried to use scripted fields and aliases with no success.

[2021-03-05 10:25] martinscheu opened #5089 "Can not enable user scripts"
Hello
In the actual dev build I can not enable own user scripts. System internal scripts I can enable.

https://user-images.githubusercontent.com/38549755/110102699-64412980-7da5-11eb-9010-bcf8afe504b6.mov

[2021-03-05 12:25] ListenNjoy opened #5090 "Crash on Flows View."
Hello,

When i click on flows on left side in ntopng, ntopng chrashes with error bellow.

ntopng[37969]: segfault at 190000012f ip 00000000004a1dbe sp 00007f050192c570 error 4 in ntopng[400000+392000]
Mar  5 07:55:52 Ntop-NtopNG kernel: Code: 00 0f b7 ea 48 8b 04 eb 48 85 c0 75 18 bf 01 00 00 00 be 30 00 00 00 e8 e0 a2 f6 ff 48 85 c0 48 89 04 eb 74 67 48 8b 4c 24 40 <f3> 0f 6f 00 66 49 0f 6e cc 66

[2021-03-05 13:28] Syl4r-v commented on #5074
Yes, it was with with view:all interface.

[2021-03-05 14:06] simonemainardi commented on #5074
can you arrange a remote teamviewer session with @MatteoBiscosi so he can debug?

[2021-03-05 14:08] simonemainardi commented on #5086
Issues are handled in both stable ntopng 4.2 and dev 4.3 as of Thursday, 4 March, 2021:

- https://github.com/ntop/ntopng/commit/91db812607f5a6817d56df04f88beef0e78c18f4
- https://github.com/ntop/ntopng/commit/e8b9721479f401f595c5c7bb151819aceb03ad71

[2021-03-05 15:05] ottorei opened #5091 "Interfaces list size depends on screen resolution"
When multiple interfaces are configured as subinterfaces with dynamic traffic disaggregation (Probe IP + Ingress Interface) the list can not show all available interfaces if the screen resolution is not high enough or the browser window is not maximized. The list should probably have it's own scrollbar when items can not fit into the screen.

The issue exists on the following version:
v.4.2.210304

[2021-03-05 20:16] lucaderi commented on #5083
![Screen Shot 2021-03-05 at 21 13 52](https://user-images.githubusercontent.com/4493366/110168740-e3f7e400-7df7-11eb-99f6-9a872220fed9.png)

@cardigliano The whole export is partial only a small part is export. Example
{"version":"1.0","modules":{"all":{"ntopng.prefs.default_l7_policy":"00C000090048B2F6B4ACD660B9","ntopng.prefs.intf_rrd_1h_days"...

[2021-03-07 01:37] albeec13 commented on #4774
@lucaderi I was hopeful the fix from #4861 would have fixed this, but when I loaded the latest docker container about a week ago it immediately exhibited the same issue when I ran network discovery. Unfortunately I'm no longer running the image because I no longer need it and don't have time to troubleshoot it, but I may try to debug this in the future again.

[2021-03-07 09:10] lucaderi commented on #5080
@gabryon99 You still need to
- use the bubble widget
- Avoid page reload when changing value from the filtering menu

Please complete this ticket ASAP so we can validate the widgets

[2021-03-07 17:45] lucaderi commented on #5002
This ticket is put on hold until the backend is cleaned-up

[2021-03-07 17:46] lucaderi commented on #5091
In order to avoid exceeding the max capacity, ntopng limits the number of interfaces up to a max to 16 in the enterprise M (see https://www.ntop.org/products/traffic-analysis/ntop/).

[2021-03-07 17:58] gabryon99 commented on #5089
Hello @martinscheu, can you try to open the Developer Tools of your browser, select the Network/Requests tab and take a screenshot of the response to the request with the URL `edit_user_script_config`?

[2021-03-08 07:18] ottorei commented on #5091
Does this really apply to dynamically created disaggregated interfaces? I see that I have 22 interfaces total where 19 of them are just disaggregated interfaces from one nprobe instance.

[2021-03-08 07:20] simonemainardi commented on #5091
Yes. It also applies to dynamically created interfaces.

[2021-03-08 09:48] lucaderi opened #5092 "Export score breakdown"
Currently hosts have client and server score, but on timeseries it is exported as score(total). It is requested to
- dump it as client and host score
- Modify the graph and create a stacked graph of both metrics

[2021-03-08 10:25] cardigliano commented on #5083
The full configuration export and import seems to be working, however please note a ntopng restart is required after importing the configuration to make it effective. A message has been added on import in e86fffcc58911a0c15589d2625eab197d4d47ad9

[2021-03-08 10:33] gabryon99 commented on #5080
I've add the Bubble Widget inside the page. Now I have to avoid the page reloading when clicking the dropdown menu

[2021-03-08 10:36] cardigliano commented on #5083
@martinscheu the problem with the pools import was due to the fact that ntopng was not importing the configuration for entries already present (this is the case for flows and host pool as they have the default configuration only, nad that was always present), this has been improved by allowing a "merge" of the configuration, which is now importing recipients (and other items) even if the configura

[2021-03-08 11:15] gabryon99 commented on #5080
Added `destroyAndUpdate` to force the reload of widget's data in order to avoid the page reloading.

[2021-03-08 12:46] ListenNjoy commented on #5090
I removed ntopng and installed it again, the same error when i press the flow button on the left.

Now i see this in logs after crash/restart.

Mar  8 13:44:27 Ntop-NtopNG ntopng: 08/Mar/2021 13:44:27 [startup.lua:16] [user_scripts.lua:1092] Script 'suspicious_tcp_probing' configuration is missing from subdir 'flow'. New user script?
Mar  8 13:44:27 Ntop-NtopNG ntopng: 08/Mar/2021 13:44:27 [startu

[2021-03-08 14:53] cardigliano commented on #5083
@martinscheu I think I realized what happened to your configuration: I guess it has been exported weeks ago with an older ntopng (dev) version, and you tried to load it with the latest version. The (internal) configuration format has been changed (from v2 to v3) and there was no migration implemented yet. Now ntopng is able to automatically migrate v2 to v3, however since you already created a v3

[2021-03-08 15:08] lucaderi commented on #5080
![Screen Shot 2021-03-08 at 16 05 03](https://user-images.githubusercontent.com/4493366/110339285-4a634900-8028-11eb-90bb-7efb8be758be.png)
![Screen Shot 2021-03-08 at 16 04 56](https://user-images.githubusercontent.com/4493366/110339288-4b947600-8028-11eb-808e-013de86c3bfa.png)

Last two fixes before closing the issue
- on Safari the host click no longer works
- Add a "Filter:" label before the d

[2021-03-08 15:21] lucaderi commented on #5080
verified as fixed

[2021-03-08 15:21] #5080 closed, assigned to lucaderi, gabryon99

[2021-03-08 15:27] lucaderi commented on #5050
verified as fixed

[2021-03-08 15:27] #5050 closed, assigned to gabryon99

[2021-03-08 15:32] lucaderi commented on #4907
The breadcrumb does not update with VLAN, but the VLAN is shown in the filtering menu so I believe this ticket is fixed

[2021-03-08 15:32] #4907 closed, assigned to gabryon99

[2021-03-08 22:13] lucaderi commented on #5092
Implemented as requested

[2021-03-08 22:13] #5092 closed, assigned to MatteoBiscosi

[2021-03-09 07:43] ListenNjoy commented on #5090
I did a reset of ntopng and all is back to normal,

[2021-03-09 08:01] thalthoff opened #5093 "ntopng restarts periodically"
Hi all,

when I played around with some Traffic Profiles (especially with l7proto entries), when saving new entries, occasionally ntop stopped working, but could be reanimated at least be rebooting my Pi.

In my syslog I see the following lines repeating every some seconds:

Mar  9 08:52:14 ntopng systemd[1]: Started ntopng high-speed web-based traffic monitoring and analysis tool.
Mar  9 08:52:24

[2021-03-09 08:12] thalthoff commented on #5093
Mar  9 09:10:54 ntopng systemd[1]: Started User Manager for UID 1000.
Mar  9 09:10:54 ntopng systemd[1]: Started Session 13 of user pi.
Mar  9 09:10:59 ntopng systemd[1]: ntopng.service: Main process exited, code=killed, status=11/SEGV
Mar  9 09:10:59 ntopng systemd[1]: ntopng.service: Failed with result 'signal'.
Mar  9 09:11:01 ntopng CRON[2627]: (root) CMD (/usr/bin/ntopng-utils-manage-updates

[2021-03-09 08:47] triple-it commented on #4725
Yes please!
Because all those DGA alarms are now useless. Is there a suggested work-around/patch to retrieve the alarming DGA domain names anyway?

[2021-03-09 09:20] lucaderi commented on #5087
After troubleshooting it seems that the problem is that we limit our discovery to some specific portTypes. We'll remove this restriction in the next build.

[2021-03-09 09:21] lucaderi opened #5094 "Implement CDP MIB Support"
Some Cisco devices do not support LLDP but only CDP.
This ticket is to request the implementation of CDP

[2021-03-09 09:32] triple-it commented on #4725
I don't see much scripts putting in any extra information into the alerts on
./scripts/plugins/alerts/security/flow_risks/modules/*

The only module doing something extra is "ndpi_known_protocol_on_non_standard_port_handler.lua"

[code]

So how to get the extra 'triggered' domain data into the alert?

BTW from the nDPI library I found the dga_evaluate:
[code]

The file that is generating the DGA a

[2021-03-09 10:39] Syl4r-v commented on #5073
There was actually 2 different tables that were scaling wrong. I think your fix only affected the first one that is shown with the data graph. The other one is the raw flows querying table, that is mostly unusable because it cant fit into the browser and even with max zoom outs, it is too big

[2021-03-09 13:29] lucaderi commented on #5073
We're reworking the table, more news will follow

[2021-03-09 13:49] thalthoff commented on #5093
I managed to escape from all those Bus errors and Segmentation faults.
I removed the runtimeprefs.json, purged the ntop package, reinstalled it and had two lucky minutes to delete all entries in the traffic-profile section. Then there was peace! Everything runs smooth, until I fiddle again with the nBPF expressions especially with l7proto or asn entries. Here I can kind of reproduce such crashes a

[2021-03-09 14:06] lucaderi opened #5095 "Empty exporters page"
When uBlock is activated in Chrome
https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm

the Exporters page (you need to configure ntopng as flow collector via ZMQ) does not render.

[2021-03-09 15:23] MatteoBiscosi commented on #5089
Hi @martinscheu, builds are in progress, wait for a few hours and the issue should be solved. After updating ntopng let me know if everything works fine or if you still have some problem.

[2021-03-09 18:57] martinscheu commented on #5083
Hi @cardigliano, I exported the config on the 26.02 and imported it on the 03.05. We did all missing changes manually, but thanks for implementing the migration features, other users might run into as well. (Specially when doing setup, then backup and then after long time the backup is needed)
(and yes, restart is all the time the first check if something doen't work.)
Thank you.

[2021-03-09 18:57] #5083 closed, assigned to simonemainardi, cardigliano

[2021-03-10 01:23] blefev commented on #5049
Also having this issue with the pfsense package.

[2021-03-10 02:39] manjotsc commented on #5049
@blefev In my case it does this behavior after 15 to 16 hours of runtime. Need to restart ntopng after that.

[2021-03-10 07:16] dragoangel commented on #5049
@manjotsc this comes with update from 3.8 to 4.2 I think.

@blefev try please change time series settings to influxdb as example, save them, even wrong, and then back to your correct settings.

[2021-03-10 07:30] manjotsc commented on #5049
@dragoangel Setting timeseries to influxdb doesn't work with incorrect information. It reverts back automatically. Any other solution?

[2021-03-10 11:36] dragoangel commented on #5049
@manjotsc maybe that was solution to me, but will not help to who not have influxdb. @blefev does reinstall with purge ntong data help you?

[2021-03-10 13:43] kopigreenx opened #5098 "apt-get install ntopng got error while updating"
Description:    Ubuntu 18.04.5 LTS
Release:        18.04
Codename:       bionic

`Unpacking ntopng (4.2.210309-13524) ...
dpkg: error processing archive /var/cache/apt/archives/ntopng_4.2.210309-13524_amd64.deb (--unpack):
 trying to overwrite '/usr/share/ntopng/httpdocs/css/bootstrap-nav-wizard.css', which is also in package ntopng-data 3.2+dfsg1-1
dpkg-deb: error: paste subprocess was killed by

[2021-03-10 17:02] Uzzi opened #5099 "64 bit Raspbian Buster"
Hi, I've added http://packages.ntop.org/RaspberryPI/ repository, but installing apt-get install ntopng nprobe n2n, I've dipendences errors because libzmq5:armhf, libcurl4:armhf and ntopng-data:armhf is required.

How can I fix it?
Thank you
Regards

[2021-03-11 07:30] thalthoff opened #5100 "Timeseries charts for local hosts are all the same on NetFlow-Interfaces"
Hi all,

just want to get sure that I am not overseeing something:

I use ntopng with to interfaces: eth1 listening to a SPAN-Port on my Router and nprobe, listening to a NetFlow collector on the same router. What I mainly want to see is, which host uses what bandwidth on his way out into the world. nprobe and NetFlow are at the moment only for testing purposes (7day license), although I love the

[2021-03-11 10:31] Syl4r-v commented on #5074
Actually, this happens also when view:all interface is disabled

[2021-03-11 13:57] rreiner opened #5101 "Constant crashing with signal SEGV (segmentation fault)"
ntopng is constantly crashing and restarting with a segmentation violation.  It did this all night long, and all day yesterday, while the UI was rarely in use or open on any browser.

In journalctl I see entries like:

Mar 11 08:29:19 host89 systemd[1]: ntopng.service: Main process exited, code=killed, status=11/SEGV
Mar 11 08:29:19 host89 systemd[1]: ntopng.service: Failed with result 'signal'.
M

[2021-03-11 18:21] simonemainardi commented on #5074
can you arrange a remote teamviewer session with @MatteoBiscosi so he can debug?

[2021-03-11 19:46] rreiner commented on #5101
Looks like this may be the same issue as #5090 and/or #5093

[2021-03-12 05:13] zcy382725 opened #5102 "How to use shell scripts notification in ntopng 4.3?"
I'vd added a shell script in /usr/share/ntopng/scripts/shell/ dir to test the shell notification funcation.
My shell script's logic is like this: ./xxx.sh $1 to send $1 to notification channel.
But it seems not working well.
I've checked the guide from https://www.ntop.org/guides/ntopng/alerts/available_recipients.html#shell-script
It's really simple. how do i get  the correct alert body and pass

[2021-03-12 11:12] cardigliano commented on #5102
Shell script support has been improved in fa723f72aa9a475b140235d2a9a93cbbe981a073 (a new dev package should be already available). The documentation has also been updated https://www.ntop.org/guides/ntopng/alerts/available_recipients.html#shell-script.
In short, I suggest to leave the Options field empty in the recipient configuration, this will provide the full alert in JSON format as stdin to t

[2021-03-12 11:17] cardigliano commented on #5093
@thalthoff how are you using nBPF expressions exactly? Could you show an example of your configuration? (a screenshot should work). Thank you

[2021-03-13 03:20] TheLinuxGuy commented on #2482
It's 3/12/2021 and I am experiencing this same issue on vivaldi stable

[code]

[2021-03-13 10:55] AmCrNi opened #5105 "Segmentation fault"
After upgrade ntopng from 4.3.210215-13180 to 4.3.210307 constantly crashes:

[code]

[code]

[2021-03-14 21:59] rreiner opened #5106 "Throughput column shows all zeros in Hosts display"
The Throughput column shows all zeros on the page http://myhost:3000/lua/hosts_stats.lua, regardless of what filters are set.

The Total Bytes column on that page is normal (shows correct data, and increments dynamically).

On the MAC Addresses page (http://myhost:3000/lua/macs_stats.lua) the Throughput column is normal, i.e. correct.

And on the Flows page (http://myhost:3000/lua/flows_stats.lua)

[2021-03-15 08:21] simonemainardi commented on #5071
Exporting community ID to MySQL without a schema migration results in breaking every MySQL installation prior to this version.

It is requested to implement either
- A migration of the MySQL schema for prior installation
- Not exporting the community id to MySQL