[2017-07-14 18:51] Andrew17856 commented on #297
It's available already on the nightly build release channel.

[2017-07-14 18:58] ScottBrenner commented on #297
Odd, the latest version of the ntopng plugin my pfSense is seeing is 0.8.10, which includes ntopng-2.4.2017.01.20_1. Thanks for the quick reply!

[2017-07-14 19:11] madpilot78 commented on #297
the pfsense specific port is just a skeleton which contains the php and xml files required to integrate in the pfsense gui and configuration. It depends on the actual FreeBSD net/ntopng port.

The pfsense guys keep a few "release branches" of the ports tree, from which actual release packages are built.

In the latest release branch the pfsense package port has been updated to the latest version,

[2017-07-14 22:54] ScottBrenner commented on #710
Was there a resolution on this? Setup ntopng earlier today and already have 8000+ "Probing or server down ..." alerts.

[2017-07-15 07:49] lucaderi commented on #710
@ScottBrenner Please report what version you are using and how you configured ntopng

[2017-07-15 17:11] qm2k opened #1359 "Flows from ASA shown incorrectly, do not update"
I configured ASA to send flows to a host running ntopng 3.1.170715-3133 and nprobe 8.1.170715-5819 from apt repository. I used trial versions, but same problem was earlier observed on licensed version 2 from apt-stable.

Then I started the following command: ```curl --resolve releases.ubuntu.com:80:91.189.88.148 --limit-rate 10k -r 0-3000000 http://releases.ubuntu.com/16.04.2/ubuntu-16.04.2-deskto

[2017-07-17 01:45] pelhamw commented on #1359
I can confirm I'm seeing the same behaviour on nprobe dev build v.8.1.170717-5819

I am now seeing byte counts from long-lived flows being sent to ntop periodically (After the change made by Luca on 13/07/2017, So thanks for that!) That being said, byte counts seem to be displaying incorrectly. Sometimes the active flow page shows no flows, other times it shows throughput far higher than it should

[2017-07-17 07:58] simonemainardi commented on #1358
according to the mailing list, this question is answered.

[2017-07-17 07:58] #1358 closed, assigned to nobody

[2017-07-17 08:58] emanuele-f commented on #710
@ScottBrenner under the ntopng preferences, do you have "Enable Probing Alerts" enabled?

[2017-07-17 09:02] simonemainardi commented on #1357
Currently, mail alerts are not supported even though they are on our plans.

To send trace messages to syslog, just turn the preferences switch on:
![image](https://user-images.githubusercontent.com/3397663/28261403-75554846-6adf-11e7-8871-161c15eab34d.png)

[2017-07-17 09:02] #1357 closed, assigned to nobody

[2017-07-17 09:06] emanuele-f commented on #1352
Nice, thank you for reporting

[2017-07-17 09:06] matteoluc opened #1360 "problems with ntopng"
Hi, I'm using nprobe to capture v5 flows and ntopng as a collector.
Traffic Dashboard Page, Host Page, Alert Pages, ecc. work normally.

I have these 3 errors:
1)Last Log Trace :
17/Jul/2017 12:04:09 [PeriodicActivities.cpp:101] ERROR: Missing script //second.lua
17/Jul/2017 12:04:08 [PeriodicActivities.cpp:101] ERROR: Missing script //second.lua
17/Jul/2017 12:04:08 [PeriodicActivities.cpp:101] E

[2017-07-17 09:09] matteoluc commented on #1360
The first error is:

Last Log Trace :
 17/Jul/2017 12:04:09 [PeriodicActivities.cpp:101] ERROR: Missing script //second.lua
17/Jul/2017 12:04:08 [PeriodicActivities.cpp:101] ERROR: Missing script //second.lua
17/Jul/2017 12:04:08 [PeriodicActivities.cpp:101] ERROR: Missing script //housekeeping.lua
17/Jul/2017 12:04:07 [PeriodicActivities.cpp:101] ERROR: Missing script //second.lua
17/Jul/2017 12:

[2017-07-17 09:47] simonemainardi commented on #1360
I have just tested the binary package of ntopng EE on centos7 and everything is working as expected. How did you install it?

From the error shown, it seems that necessary lua scripts are missing in error 1). Error 2) and 3) are consequences of 1).

Post the full ntopng log or console output.

[2017-07-17 09:57] matteoluc commented on #1360
Last Log Trace
 17/Jul/2017 12:52:51 [PeriodicActivities.cpp:101] ERROR: Missing script //housekeeping.lua
17/Jul/2017 12:52:50 [PeriodicActivities.cpp:101] ERROR: Missing script //second.lua
17/Jul/2017 12:52:49 [PeriodicActivities.cpp:101] ERROR: Missing script //second.lua
17/Jul/2017 12:52:48 [CollectorInterface.cpp:115] Collecting flows on tcp://127.0.0.1:2055
17/Jul/2017 12:52:48 [PeriodicAc

[2017-07-17 10:50] simonemainardi commented on #1360
The warning

[code]

suggests ntopng is not able to drop privileges to a known user and thus it is likely that permissions to read `/usr/share/scripts` are missing.

Please, explain how did you install the software. Are you starting the service as a superuser? Consider specifying one of the following options:

[code]

[2017-07-17 11:09] matteoluc commented on #1360
I've installed ntopng following this guide: https://devops.profitbricks.com/tutorials/install-ntopng-network-traffic-monitoring-tool-on-centos-7/
I'm starting the service as a superuser.
I've add "--dont-change-user" to ntopng.conf:
the line " WARNING: Unable to locate user anonymous" there is no more, but errors there are still.

[2017-07-17 12:11] simonemainardi commented on #1360
The official installation instructions can be found at: http://packages.ntop.org/centos-stable/

Uninstall everything and reinstall by following the official instructions.

[2017-07-17 12:17] smooi commented on #1357
How do I configure the nTop System Syslog so I can get the logs to our own syslog server?
Thanks.

[2017-07-17 12:28] matteoluc commented on #1360
I tried, but there is this mistake

![unnamed](https://user-images.githubusercontent.com/29771833/28267777-dd9fb122-6afb-11e7-935a-621f5e3d2ff7.jpg)

[2017-07-17 13:04] simonemainardi commented on #1360
try with this `wget http://packages.ntop.org/centos-stable/epel-7.repo -O epel.repo`

[2017-07-17 13:36] matteoluc commented on #1360
I uninstalled them all with the command "rpm -e pfring n2disk nprobe ntopng ntopng-data cento pfring-drivers-zc-dkms" and reinstalled, but nothing has changed.

[2017-07-17 13:48] simonemainardi commented on #1360
did you follow the instructions in the link for the installation? Make sure to use the url `http://packages.ntop.org/centos-stable/epel-7.repo` when wgetting the epel

post the output of `ntopng --version` and `ls -lha /usr/share/ntopng/scripts`

[2017-07-17 13:51] Howard-Chang opened #1361 "Trying to fetch data from lua-based ntopng API"
Hi,
    I am a university student, and due to the project I am trying to use ntop API to fetch the interface information. I studied hard for many days but still don't know how to do it,  could anyone teach me how to fetch ntop data from lua-based API.
I have downloaded the  zerobrane IDE and tried to run the hello_world.lua example.
but there's some problems here:
dirs =ntop.getDirs()
package.path

[2017-07-17 14:12] emanuele-f commented on #1361
Hi Howard, usually there is no need to set up a lua script, you can pull ntopng data with a simple GET request. For example, with curl:

[code]

If you want to use our Lua API directly, you should create a custom script under `scripts/lua` directory. See `src/Lua.cpp` for Lua C bindings.

[2017-07-17 14:32] matteoluc commented on #1360
I followed the instructions of your official page, I used that URL.
I've also tried to uninstall everything with the "yum remove pfring n2disk nprobe ntopng ntopng-data cento pfring-drivers-zc-dkms" command and reinstall but nothing has changed.

Output of "ntopng --version"
![img_9296](https://user-images.githubusercontent.com/29771833/28273002-658cee18-6b0d-11e7-8807-b122d4fb07bd.jpg)

Output of

[2017-07-17 15:18] Howard-Chang commented on #1361
cool! I found it could get json data from cmd, and if I want to edit lua script to get data how should  I do.
My os is win10 could you give me a sample code to know how does it work.
thanks a lot !  : )

[2017-07-17 16:04] simonemainardi commented on #1361
create `your_own_script.lua` and place it under the scripts/lua directory, then you can execute it simply by pointing your browser to `http://<ntopng host>:<ntopng port>/lua/your_own_script.lua`

for the examples, just open any existing lua script. In articular, if you are interested in pulling host data, have a look at `get_hosts_data.lua`

[2017-07-17 16:04] #1361 closed, assigned to nobody

[2017-07-17 16:05] simonemainardi commented on #566
armhf nightly builds are now available at: http://packages.ntop.org/RaspberryPI/jessie_pi/armhf/ntopng/

[2017-07-17 16:05] #566 closed, assigned to nobody

[2017-07-17 16:16] lucaderi opened #1362 "Trigger an informative alert when a quota is past"
In case a quota is past, an informative alert should be produced

[2017-07-17 16:16] simonemainardi commented on #1360
- remove -v3 from the configuration file
- wrap option values between double quotes ""

run ntopng from the command line as `/usr/local/bin/ntopng /etc/ntopng/ntopng.conf` and post the output

use `ps aux` to check the user that is currently running ntopng and make it has privileges to access `/usr/share/ntopng/scripts`

[2017-07-17 16:17] simonemainardi commented on #1357
we already have a feature request for that: https://github.com/ntop/ntopng/issues/282

[2017-07-17 16:20] lucaderi opened #1363 "Trigger an informative alert when a host pool is activated/deactivated"
The first host of a pool triggers an informative alert, and when the last host of a pool is deactivated/idle another informative alert will be emitted,

[2017-07-17 16:24] lucaderi commented on #54
As we now have ntopng in inline mode, this feature is no longer necessary as internally ntopng can block/shape traffic natively.

[2017-07-17 16:24] #54 closed

[2017-07-17 16:31] lucaderi commented on #282
We believe that using syslog-ng for remote logging (e.g. see http://www.monitis.com/blog/logging-to-a-remote-host-with-syslog-ng/) should be enough for what you need

[2017-07-17 16:31] #282 closed

[2017-07-17 16:32] ScottBrenner commented on #710
@emanuele-f Just turned off Enable Probing Alerts, that seems to have fixed it. Thanks!

@lucaderi  I'm using ntopng v.2.4.170626 via the ntopng 0.8.10 package on pfSense 2.3.3.

[2017-07-17 16:32] lucaderi commented on #290
As grafana support is implemented, we believe this issue is no longer relevant

[2017-07-17 16:32] #290 closed

[2017-07-17 16:32] lucaderi commented on #288
SSDP support is already working in progress and it will be finalised

[2017-07-17 16:34] lucaderi commented on #291
We are planning to create PDF reports by next release that will implement this issue without requiring an external dependency on ELK

[2017-07-17 16:34] #291 closed

[2017-07-17 16:35] lucaderi commented on #300
For performance reasons we have decided that one profile per flow is enough

[2017-07-17 16:35] #300 closed

[2017-07-17 16:38] lucaderi commented on #408
@svenvogel As you requested the number of traffic profiles has been raised to 128 as reported in http://www.ntop.org/products/traffic-analysis/ntop/. I am sure you will like ntopng again

[2017-07-17 16:38] #408 closed, assigned to lucaderi

[2017-07-17 16:42] lucaderi commented on #568
We believe that this information is already enough being it into the footer

[2017-07-17 16:42] #568 closed, assigned to simonemainardi

[2017-07-17 16:44] lucaderi commented on #710
@ScottBrenner Moving to v3 will fix the problem. Please do.

[2017-07-17 16:44] #710 closed, assigned to simonemainardi

[2017-07-17 16:45] #715 closed, assigned to simonemainardi

[2017-07-17 16:46] lucaderi commented on #716
We are planning to replace RRD in an upcoming version, so we'll take your request into account.

[2017-07-17 16:53] lucaderi commented on #1321
Closed for inactivity. Will reopen if necessary

[2017-07-17 16:53] #1321 closed, assigned to ValentinaViscarelli

[2017-07-18 07:06] MartinOehler commented on #1337
The latest dev version didn't crash for almost a week so I think we can consider this bug closed.

Will you backport the fixes to the stable version?

[2017-07-18 07:30] simonemainardi commented on #1337
Thanks, fixes have already been backported to stable

[2017-07-18 07:30] #1337 closed, assigned to nobody

[2017-07-18 10:06] malexorg opened #1364 "Stable Raspberry packages missing"
While development build for Raspberry (ARM) are always available on http://packages.ntop.org/apt/, packages for stable version 3.0 are missing on http://packages.ntop.org/apt-stable/. Is it something you can fix?

Thanks
Alessio

[2017-07-18 10:25] Artapel commented on #1300
So far so good. I will still monitor and report

[2017-07-18 12:25] #1287 closed, assigned to simonemainardi

[2017-07-18 12:34] simonemainardi commented on #1287
The number of interfaces has been made configurable and can be increased.

If you are building from sources you can adapt the number by changing this define: https://github.com/ntop/ntopng/blob/0ac781d21c617236fa8cccedcc5907535e778c5a/include/ntop_defines.h#L110

Packaged versions are shipped with the number of interfaces indicated here: http://www.ntop.org/products/traffic-analysis/ntop/

[2017-07-18 14:30] simonemainardi commented on #1290
Tried both with Chrome and Safari but the issue is not reproducible. Also pushed unexpected unicode chars in the json reply but nothing breaks in the html.

Please, reopen with extra details to reproduce if necessary.

[2017-07-18 14:45] matteoluc commented on #1360
With these configuration files, it looks like everything works, without the use of "ps aux".
Thank you so much.

nprobe:
-g=/var/run/nprobe-zmq.pid
--collector-port="9995"
-i=none
-V=5
--zmq=tcp://*:2055
--online-license-check
-b2

ntopng:
-G=/var/run/ntopng.pid
--user="root"
--interface="tcp://127.0.0.1:2055"
-m="x.x.x.x/20"
--disable-login="1"

[2017-07-18 15:10] simonemainardi commented on #1360
all right, thanks for reporting

[2017-07-18 15:10] #1360 closed, assigned to nobody

[2017-07-18 15:57] simonemainardi commented on #999
implemented.

[2017-07-18 15:57] #999 closed, assigned to simonemainardi

[2017-07-18 17:16] lucaderi commented on #1290
Not quite so. In order to overcome encoding issues, chars like hyphen have been removed from the names. In essence the bug does not show up, but the solution used is not optimal

<img width="170" alt="screen shot 2017-07-18 at 19 15 39" src="https://user-images.githubusercontent.com/4493366/28330348-887f2504-6bed-11e7-9f9a-a514f643bbbe.png">
<img width="197" alt="screen shot 2017-07-18 at 19 15 28

[2017-07-19 08:42] banghaegi opened #1365 "ntopng - mysql connection trouble & ntopng historical data exporting?"
I have two question.

1. I hope to get ntopng historical data for 1 month. and this data exporting looks like csv, txt ~ file extension. How can I do?

2. When I excute connecting command for ntopng - mysql,
    appeared this error message. How can I do?

-======================================
root@raspberrypi:~# ntopng -F "mysql;localhost;ntopng;flows;root;test"
16/Jun/2017 21:57:59 [Ntop.cpp:13

[2017-07-19 10:06] simonemainardi commented on #1365
the problem is not due to mysql; there's someone else the is using port 3000 (perhaps another ntopng process?)

[code]

Make sure port 3000 is available before starting ntopng; or simply start ntopng on another port.

You can see which is the process simply by using netstat:

[code]

[2017-07-19 10:19] simonemainardi commented on #1111
@TakayukiOnodera

commits 7ed1e4988811120cd17525f73c2afb63ccebee09 and 7ed1e4988811120cd17525f73c2afb63ccebee09 implements configurable user language

![image](https://user-images.githubusercontent.com/3397663/28362127-99f1ddb6-6c7b-11e7-9b76-c38b1546f430.png)

(the rounded left corner of the language dropdown seems to be a bug of bootstrap)

the language is saved and set in a lua global variable

[2017-07-19 12:30] simonemainardi commented on #1359
The first thing we should do is to make sure nProbe timeouts are correctly configured.

In particular:

[code]

Implies that every flow which has not been receiving traffic (i.e., a _flow update_ in your instance) during the latest 30 seconds is considered idle and exported exported.

As your ASA sends flow updates every 60 seconds, I expect nProbe to export a new flow every time a flow update is

[2017-07-19 12:56] qm2k commented on #1359
You mean expired, right? How do I follow very long lived flows, like internet radio streams? Is it ok to set lifetime-timeout to some very long value?

[2017-07-19 13:15] simonemainardi commented on #1359
The common tradeoff is to cut a long-lived flow into multiple shorter-lived flows. This will allow you to have (parts of the) flow exported and thus available earlier for visualization.

If you really can't afford cutting the flow into multiple parts, the it is ok to set a very long lifetime-timeout.

Actually, since ASA flow updates send cumulative values for the counters, you should make sure th

[2017-07-19 13:20] simonemainardi commented on #1300
@Artapel how's it going with mem usage? It looks better on my side

[2017-07-19 13:21] qm2k commented on #1359
Yes, I noticed that too. I wonder if there's a way to change it to 1 minute?

[2017-07-19 13:36] qm2k commented on #1359
Unfortunately, I don't see long-lived flows at all if I set lifetime-timeout to some large value. Is there a working combination that would support long-lived flows from ASA?

[2017-07-20 11:36] bioteseo commented on #1335
Hi Simone,
the issue #1335 is in the stable version (3.0.170719) but not in the dev version (3.1.170720 )....

Thanks

[2017-07-20 16:59] EinerPetersen commented on #1300
Better ....... Ran ntopng in both Firefox and Chrome continuously until
the sessions timed out (per Auto Logout) without issue ..... Going to
repeat and see what happens :-)

Einer

On 07/19/2017 07:20 AM, simonemainardi wrote:

Spam detection software, running on the system "comserv.page34.net",
has identified this incoming email as possible spam.  The original
message has been attached to this s

[2017-07-20 17:57] simonemainardi commented on #1326
In the latest dev build we have added flow drill-down capabilities on the basis of the flow exporter address and its in/out interfaces

![image](https://user-images.githubusercontent.com/3397663/28431498-dc12d146-6d84-11e7-9d6d-fd88a3edd96b.png)

![image](https://user-images.githubusercontent.com/3397663/28431519-e75b0dc0-6d84-11e7-9f9c-bd2b2e0cfba9.png)

An earlier commit already introduced SNMP

[2017-07-20 17:57] #1326 closed, assigned to lucaderi

[2017-07-20 17:58] simonemainardi commented on #1365
solution given. Error was due to an address already used by another process.

[2017-07-20 17:58] #1365 closed, assigned to nobody

[2017-07-21 07:21] simonemainardi commented on #1359
Yes, you have a preference for that:
![image](https://user-images.githubusercontent.com/3397663/28453089-e5c8efd8-6df5-11e7-9dcb-d6e94319f1bd.png)

[2017-07-21 07:43] qm2k commented on #1359
**simonemainardi**, thank you. Do you know the answer on bigger question how to make ntopng correctly show long-lived flows?

[2017-07-21 07:44] simonemainardi commented on #1359
Currently, this is the expected behaviour as nProbe won't export the long-lived flow until lifetime-timeout is reached.

To have early visibility of long-lived flows in ntopng we should cut the long-lived nProbe flow into multiple smaller flows -- actually we already use this approach. The use of fairly small default  `--lifetime-timeout` in nProbe guarantees that ntopng won't wait longer than 2 m

[2017-07-21 11:01] simonemainardi commented on #1159
Maximum displayed string length is now configurable from the preferences:

![image](https://user-images.githubusercontent.com/3397663/28460908-8499f9cc-6e14-11e7-9eaf-8ad537ac0a4c.png)

[2017-07-21 11:01] #1159 closed, assigned to nobody

[2017-07-21 12:49] fi-ro opened #1366 "Protocols tab: Sorting is wrong"
Hi,
On the page "Interfaces/Protocols" (`/if_stats.lua?ifid=25&page=ndpi`) there is a table on the bottom `Application Protocol - Total (Since Startup) - Percentage`

When I click on the table header I can sort the table to the corresponding column.
It does work fine with the _Percentage_ column, but in the _Total (Since Startup)_ column the sorting is a bit off.

It's difficult to describe. The p

[2017-07-21 16:59] simonemainardi commented on #1366
I am not able to reproduce.

I think what is happening is due to the periodic refresh of table rows. As table rows are refreshed *after* the sort, refreshed values may determine a change in the sort order. Can you confirm?

[2017-07-22 03:28] ufo888com opened #1367 "ntopng-3.0-stable:missing some file and crash"
after compilation ntopng-3.0-stable，can not run ntopng，some file can not find as follow：

[Lua.cpp:6075] WARNING: Script failure [/usr/local/share/ntopng/scripts/callbacks/second.lua][/usr/local/share/ntopng/scripts/lua/modules/lua_utils.lua:11: module 'i18n' not found:
         no field package.preload['i18n']
         no file '/usr/local/share/ntopng/scripts/lua/modules/i18n/init.lua'
         n

[2017-07-22 09:26] simonemainardi commented on #1367
Did you follow this readme https://github.com/ntop/ntopng/blob/dev/doc/README.compilation ?

Please, report all the steps you did.

It looks like necessary files hasn't been installed.

[2017-07-22 11:19] ufo888com commented on #1367
I just do the compilation step by step fowllowing https://github.com/ntop/ntopng/blob/dev/doc/README.compilation. and then changed to 2.4-stable, the ntopng runs ok.

[2017-07-22 17:34] lucaderi opened #1368 "Redesign database columns as nProbe"
It is necessary to redesign the database column format of ntopng to be the same as the one used by nProbe. If some changes have to be done in nProbe to ease this path this is possible but it is compulsory to let ntopng query nProbe databases and not just ntopng-generated DBs

[2017-07-23 06:49] Howard-Chang opened #1369 "How to get the historical data"
Hi,
    I refered the website: https://github.com/ntop/ntopng/blob/dev/doc/README.historical , and type the instruction on cmd:
![default](https://user-images.githubusercontent.com/19474557/28497231-7cb7b2c4-6fb5-11e7-9fcd-95ddbc9b95d3.PNG)
but it's seems can't work. Is there anyone could help me: )
p.s. My pc is windows 8 and the ntopng version is ntopng-3.1.170713-x64.zip

[2017-07-24 07:59] simonemainardi commented on #1369
you have to either use /i or /c to run ntopng as a service or from the command line. Additional options such as -F go after the /i or /c. We have already pointed you to the user guide in this closed issue: https://github.com/ntop/ntopng/issues/1344 please refer to that guide to see how to properly run ntopng.

[2017-07-24 07:59] #1369 closed, assigned to nobody

[2017-07-24 08:47] stebbo63 opened #1370 "WUDO protocol: Windows Update Delivery Optimisation"
Hi All,
I'm seeing a lot of "unknown" traffic on tcp port 7680.  According to this web page
http://www.computerworld.com/article/2955288/microsoft-windows/windows-10-commandeers-users-upload-bandwidth.html

this appears to be Windows 10 peer-to-peer updating.  Given the nature of the traffic and our network, I'm inclined to agree that this is that traffic - although it's interesting that I'm seein

[2017-07-24 10:04] simonemainardi commented on #1370
you can instruct nDPI and ntopng to properly mark that traffic as WUDO. See this: http://www.ntop.org/ndpi/configuring-ndpi-for-custom-protocol-detection/

However, the best solution is to post a request to add WUDO support on the official nDPI page https://github.com/ntop/nDPI/issues. Please, make sure to upload a pcap with the traffic you want to be supported as well.

[2017-07-24 10:04] #1370 closed, assigned to nobody

[2017-07-24 10:32] lucaderi opened #1371 "VLAN Disaggregation does not work with ZMQ"
The VLAN disaggregation is not currently supported with ZMQ but only with packets. Please also check that all (dis)aggregations are supported seamlessly on all interface types

[2017-07-24 10:47] simonemainardi commented on #1367
Compilation from sources and installation seems to work flawlessly (just re-tested).

Can you please report all the commands given, one after the ohter? Di you run the make install? how do you execute ntopng? Which is your OS?

[2017-07-24 11:34] lucaderi opened #1372 "ntopng version not displayed"
When using ntopng --version it is not clear what version is currently being used. This has to be fixed reporting the exact version currently in use.

Example
$ ntopng --version
v.3.1.170706 [Enterprise/Professional Edition]
GIT rev:   dev:5969c19d6bd4879432463e4b25cc5d74ba213074:20170706
Pro rev:   r1107
System Id: 1FE719B8-0B82-5C67-9AE6-990B5030479F
Built on:  MacOSX 10.12.5

[2017-07-24 11:38] lucaderi opened #1373 "Time limited license duration not reported"
Using demo/time-limited duration is not reported on the command line

24/Jul/2017 13:35:58 [NtopPro.cpp:297] [LICENSE] ntopng systemId: 1FE719B8-0B82-5C67-9AE6-990B5030479F
24/Jul/2017 13:35:58 [NtopPro.cpp:302] [LICENSE] ntopng is starting in demo mode
24/Jul/2017 13:35:58 [Ntop.cpp:580] Adding 192.168.2.20/32 as IPv4 interface address for en0

or with

$ ntopng --version
v.3.1.170706 [Enterprise

[2017-07-24 12:12] bioteseo commented on #1335
@simonemainardi
Hi Simone,
the issue #1335 is again in the stable version but not in the dev version...

Thanks

[2017-07-24 12:21] simonemainardi commented on #1335
yes, please use dev as the fix is not critical and thus cannot be backported

[2017-07-24 21:36] #1371 closed, assigned to simonemainardi

[2017-07-24 21:49] dnguyen3985 opened #1374 "Having troubles configuring ntopng to run in background and automatically"
I have been struggle to find a way to start my ntopng application automatically. I am fairly new to setting up an environment like this.

When I launch `service ntopng start` to test, I get the error `Failed to start ntopng.service: Unit cluster.service not found.` and the process does not automatically start on bootup.

If it helps I installed my ntopng program in `/home/test/` using this guide:

[2017-07-25 08:25] fi-ro commented on #1366
I'm not sure if I understand you correctly.
The sorting order does not change as the rows are refreshed after sorting.
I have not checked what happens when an entry goes from GB to TB.

But with values as shown the sorting of the "total" column is consistent.
Sorting after the "percentage" column is correct.

Restarting ntopng does produce the same results, once rows start showing traffic of 1TB o

[2017-07-25 11:46] ValentinaViscarelli commented on #1374
@dnguyen3985
I didn't understand if you are trying to use ntopng installing the packages or compiling the code from github.

If you want to use ntopng via service you have to install the packages how describe here (according your linux distribution):

http://packages.ntop.org/

Using the package the service is automatically installed.... you have only create configuration in /etc/ntopng/ntopng.con

[2017-07-25 13:55] dnguyen3985 commented on #1374
I have made sure `/etc/ntopng/ntopng.start` was empty. I forgot to add that using the program works perfectly fine my problem is getting ntopng to run automatically on startup and in the background. Also to clarify, I compiled the code from github already. I ran the command `service ntop start` and i still get `Failed to start ntopng.service: Unit cluster.service not found.`  Any other information

[2017-07-25 14:07] ValentinaViscarelli commented on #1374
@dnguyen3985
How did you installed the service?
Anyway probably you don't have pfring installed.

@simonemainardi
Is it possible install the service from github code source without installing ntopng package?

[2017-07-25 14:23] dnguyen3985 commented on #1374
I have decided to delete ntopng and install from scratch. Can you refer to a proper guide I can use so I can get things running properly? Is the site you linked the proper way: [http://packages.ntop.org/](url)

[2017-07-25 16:16] ufo888com commented on #1367
re-tested the Compilation and the WARNING appared again.
I do run the make install and execute ntopng as "ntogng -s"
My os is redhat release 7.2（maipo）

the full report as follow：
[root@wlxncs01sy ntopng.3.0]# make install
 Make sure you have already run 'make geoip' to also install geoip dat files
 While we provide you an install make target, we encourage you
 to create a package and install that

[2017-07-25 16:55] #946 closed, assigned to nobody

[2017-07-25 16:55] #1320 closed, assigned to simonemainardi

[2017-07-25 16:59] simonemainardi commented on #1367
These directories are wrong as you are trying to execute the installed ntopng:
[code]

Try to run ntopng from outside the compilation directory or use -1 -2 and -3 to properly specify the necessary paths

[2017-07-25 18:06] ufo888com commented on #1367
it didn't work.
and I find that some files really can not find in the system，such as:
[root@wlxncs01sy ~]# find / -name i18n.so
 [root@wlxncs01sy ~]# find / -name loadall.so
 [root@wlxncs01sy ~]# find / -name i18n.lua
 [root@wlxncs01sy ~]# ntopng -s

 26/Jul/2017 02:00:29 [Ntop.cpp:1361] Setting local networks to 127.0.0.0/8
 26/Jul/2017 02:00:29 [Redis.cpp:109] Successfully connected to redis 127

[2017-07-25 20:00] ValentinaViscarelli commented on #1374
@dnguyen3985
The site reports how you have install the package. Please choose the proper way for your linux distribution.
For example if you have ubuntu and you install ntopng using apt-get command, it will be also installed the dependencies.

[2017-07-26 09:05] simonemainardi commented on #1367
you don't have to look for .so files

Does the file /usr/local/share/ntopng/scripts/lua/modules/i18n/init.lua exist? Does it have proper read permissions?

[2017-07-26 11:49] peter-manton commented on #479
I have having similar issues. It's quite odd - sometimes it will let me login and other times it won't - using the same browser, system etc. Clearing cookies etc. does not seem to help and examining the post requests confirms the username and password are being sent.

[2017-07-26 15:42] lucaderi opened #1375 "Add per host time series with number of active flows"
As we have num_flows.rrd per network interface, it is requested to create the same num_flows.rrd time series per host that will contain the number of active flows for each host

[2017-07-26 15:44] lucaderi opened #1376 "Nest IPv6 Host Timeseries"
ntop stores for IPv4 hosts the time series in a nested directory subtree. Example 192/168/160/10/...

For IPv6 this does not happen and all the hosts time series are not nested thus making complicated to find information. It is requested to implement the same behaviour of IPv4 also for IPv6 hosts

`192                               2a00_d40_1_3_e4ec_64a8_b57f_5137  HTTP.rrd     SSDP.rrd      drops

[2017-07-26 16:01] lucaderi opened #1377 "Missing time series from graphs"
A given device has many L7 timeseries but on the drop-down menu only a few protocols are listed. Tested with the current ntopng 3.1.170726

<img width="1084" alt="screen shot 2017-07-26 at 17 59 35" src="https://user-images.githubusercontent.com/4493366/28631056-45787392-722c-11e7-8311-aa159e494102.png">
<img width="829" alt="screen shot 2017-07-26 at 17 59 23" src="https://user-images.githubuserc

[2017-07-26 17:24] simonemainardi commented on #1373
Implemented:

[code]

[2017-07-26 17:24] #1373 closed, assigned to simonemainardi

[2017-07-26 17:35] simonemainardi commented on #1372
implemented:

[code]

[2017-07-26 17:35] #1372 closed, assigned to simonemainardi

[2017-07-26 17:54] simonemainardi commented on #1374
@dnguyen3985 yes official installation instructions are at: http://packages.ntop.org/

Assuming you have followed the installation instructions above, you can get an ntopng started automatically on boot if you add an empty ntopng.start file with at `touch /etc/ntopng/ntopng.start`

You can place ntopng configuration options in ` /etc/ntopng/ntopng.conf`

Manual start/stop of the process is control

[2017-07-26 17:54] #1374 closed, assigned to simonemainardi, ValentinaViscarelli

[2017-07-26 18:26] #1366 closed, assigned to nobody

[2017-07-26 18:26] simonemainardi commented on #1366
thanks for reporting, issue is fixed and will be available in the next nightly build

[2017-07-26 20:26] simonemainardi commented on #1300
I think it is safe to close now. Thanks for reporting.

[2017-07-27 08:59] bioteseo opened #1378 "ntopng dev: I think tcp syn packets/sec threshold doesn't work"
I'm using ntopng dev version.
For an IP I set "syn flood attacker" threshold to 15, but I continue to receive alert about that like this:
"Host xxx.xxx.xxx.xxx is a SYN Flooder (11 SYN sent in 3 sec)"
It seems that ntopng is using the "Local Hosts Common Thresholds" instead of "Host xxx.xxx.xxx.xxx Thresholds". If I change the value in "Local Hosts Common Thresholds" the alerts disappears.

Thanks

[2017-07-27 10:12] simonemainardi commented on #479
@peter-manton can you describe the exact ntopng and browser versions?

[2017-07-27 13:19] peter-manton commented on #479
@simonemainardi

Client machine:

Server:

[2017-07-27 13:37] Howard-Chang opened #1379 "nProbe+ntopng there's only have traffic sent or traffic received on client or server"
I have connected nProbe and ntopng and typed the commands bellow
ntopng /c -i "tcp://127.0.0.1:2055" -F "mysql;localhost;ntopng;flows;root;"
nprobe /c --collector-port 5556 --zmq tcp://127.0.0.1:2055
on my windows 8 pc
and make Cisco Switch push Netflow to my nProbe+ntopng server 192.168.0.159
but the packet on the client or server only have  traffic sent or traffic received such like bellow:
![sa

[2017-07-27 13:45] ufo888com commented on #1367
The file does not exist，where's wrong？How to fix the problem?

[2017-07-27 13:55] #1378 closed, assigned to simonemainardi

[2017-07-27 14:05] simonemainardi commented on #1378
thanks for reporting.

[2017-07-27 16:00] simonemainardi commented on #1367
so I think the installation step failed to copy or dereference the symlink to lua i18n

however, I am unable to reproduce your behaviour on a centos7 and I get everything working properly.

you should investigate the `make install`

in particular, look at the latest line with `cp -Lr`. Try to execute the command by hand and see if the i18n symlink is dereferenced and copied. If this is not the cas

[2017-07-27 16:17] simonemainardi commented on #479
do you use a symbolic name in the browser url, or just the ip address? Using centos7 I was experiencing some issues when using a name defined in (/etc/hosts)

[2017-07-27 17:19] dnguyen3985 opened #1380 "ntopng won't boot on startup and nothing happens when launched as a service"
I have followed the Userguide.pdf and struggling with getting the _**daemon**_ and _**startup scripts**_ to work properly.

The command `sudo ntopng` works perfectly fine and the web server is accessible.
[code]

I already setup `ntopng.conf` and a blank `ntopng.start` under `/etc/ntopng/`

The `ntopng` script was also created under `/etc/init.d/`

[code]

[code]
Nothing happens and when I open th

[2017-07-27 17:25] simonemainardi commented on #1377
@lucaderi by design, only RRDs that have a last_update greater than or equal to the chart start time are listed.

see this line:
https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/graph_utils.lua#L111

In your particular example, it means that those listed in the screenshot are the only protocols which have used during the last 10 minutes.

I think this is the right approach as we don't p

[2017-07-27 17:33] dnguyen3985 commented on #1380
I forgot to mention this was a fresh installation Ubuntu 16.04.2

[2017-07-27 20:02] ValentinaViscarelli commented on #1380
Please send me the output of this command:
cat /etc/ntopng/ntopng.conf

What does it happen if you run ntopng as below? (please report the output)

sudo ntopng /etc/ntopng/ntopng.conf

[2017-07-27 20:04] peter-manton commented on #479
@simonemainardi I'm currently using the IP address to access it. I'm going to spend some time tomorrow to see if I can dig a little deeper into this.

[2017-07-28 05:06] lucaderi commented on #1376
Unfortunately the approach you have selected (one byte of the IPv6 address is a directory) leads to a very nested directories and many inodes used. Better if you improve it by for instance grouping two consecutive bytes together or smarter solutions such as group the IPs (that are local) according to the local networks defined first and on a hierarchical (but not too deep) directory structure

[2017-07-28 06:16] narcisgarcia commented on #1348
This seems very unsecure from the hosting administration perspective.

[2017-07-28 07:27] simonemainardi commented on #1348
why? From an administrative perspective you have to properly configure file permissions so that only that administrator can read the pem file

[2017-07-28 07:33] narcisgarcia commented on #1348
Private and public data are better to be in separate files as a simple prevention measure.
ntopng cannot guarantee abscence of exploitable bugs to leak more or less bytes from same file.

[2017-07-28 08:20] simonemainardi commented on #1376
please note that with the approach of  1b97ad4  two bytes -- and not one -- are used to create consecutive directories for IPv6 addresses. Indeed, every colon-separated IPv6 block is taken as a new directory. If you see 1-byte directories in the file system it just means that the most significant byte in the block is zero.

[2017-07-28 08:30] simonemainardi commented on #1379
can you please attach a capture of Cisco netflow traffic on port 2055 for inspection?

Can you also make sure to specify an nProbe template with both IN_ and OUT_ bytes and packets, e.g.,

[code]

[2017-07-28 09:34] bioteseo opened #1381 "ntopng dev: Host IP Thresholds disappear"
Hi,
I set some threshold value (Flow Flood Attacker and Syn Flood Attacker in this case), then I save them.
Then I check the alerts and I see again alerts on that IP as the previous changes have no effect. Infact when I check the change it was disappear. There is no value that already I have changed.....
There wasn't in previous release (yesterday) this issue. I'm using 3.1.170728

Thanks

[2017-07-28 10:05] #1290 closed, assigned to simonemainardi, emanuele-f

[2017-07-28 10:06] simonemainardi commented on #1290
thanks for reporting:

Now:

![image](https://user-images.githubusercontent.com/3397663/28712702-6fd3effc-738c-11e7-849a-91a38ad673c5.png)

![image](https://user-images.githubusercontent.com/3397663/28712722-7e1c42ee-738c-11e7-89a9-26b78d55ed2a.png)

[2017-07-28 10:18] ASHOKGP commented on #710
@lucaderi how to upgrade from V2 to V3 in pfsense it is not updating automatically we are getting only download option
![image](https://user-images.githubusercontent.com/1425675/28713278-13b542a0-73ac-11e7-9bc0-77f9d26de7b4.png)

http://www.ntop.org/get-started/download/

Please let us know steps to upgrade this version in pfsense

[2017-07-28 10:29] #1381 closed, assigned to nobody

[2017-07-28 10:29] simonemainardi commented on #1381
It was just a rendering issue. Thresholds were properly set.  Thanks for reporting.

[2017-07-28 13:25] dnguyen3985 commented on #1380
When I run the cat command:
[code]

[code]
Seems like a problem with MySQL? Not too sure

[2017-07-28 13:34] simonemainardi commented on #1380
use double quotes to wrap the --dump-flows, i.e.,

`--dump-flows="mysql;localhost;ntopng;flows;ntopng;xxx"`

also verify that MySQL connection parameters are ok. Use a shell and try to connect manually:

[2017-07-28 14:03] dnguyen3985 commented on #1380
I have double quoted that line in the config and ran the command: `mysql -untopng -pxxx -hlocalhost ntopng`
[code]

[2017-07-28 14:14] simonemainardi commented on #1380
is mysql installed on your system?

[2017-07-28 14:23] dnguyen3985 commented on #1380
No it wasnt but i did install with `sudo apt install mariadb-client-core-10.0 && sudo apt install mysql-client-core-5.7`

Now when I do the same command:
[code]

[2017-07-28 14:30] simonemainardi commented on #1380
how would you expect to export flows to mysql if mysql is not even installed on the system?

so you run command `$ mysql -untopng -pxxx -hlocalhost ntopng` this assumes there's a user `ntopng` authorized to access mysql on localhost using password `xxx`. Is there such user configured?

[2017-07-28 14:36] simonemainardi commented on #1380
this issue is invalid, trying to export flows to mysql without mysql installed.

[2017-07-28 14:36] #1380 closed, assigned to ValentinaViscarelli

[2017-07-28 14:36] dnguyen3985 commented on #1380
I didn't see anything saying that I had to install it, sounds ignorant but there was no one saying it was mandatory. The documentations here are extremely vague and there's always one little thing that I have to add which will make it work properly.

I am not sure what you mean by "such user configured". I am trying my best to wrap around this issue

[2017-07-28 14:46] simonemainardi commented on #1380
it's vague?

You would have found it out easily if you just read the user guide or simply typed ntopng --help:

![image](https://user-images.githubusercontent.com/3397663/28722435-0e615d68-73b4-11e7-8e6a-b3596498e0c3.png)

[2017-07-28 15:13] simonemainardi commented on #1375
implemented.

[2017-07-28 16:05] dnguyen3985 commented on #1380
I have installed MySQL Server,  configurations were properly made, and ran the migration process.

[code]

Seems like ntopng can properly connect to the MySQL server.

`$ sudo /etc/init.d/ntopng start` still gives says that it failed. Any input would be appreciated

[2017-07-28 18:05] surj08 opened #1382 "Interface metrics displayed incorrectly"
This would probably be the lowest priority "bug" ever if it is a bug because, everything seems to be working fine with capturing packets. However, the Ingress/Egress numbers are the bottom are completely wrong. The total traffic bar right next to them appears to be 100% correct.

![traffic](https://user-images.githubusercontent.com/11396782/28730274-62ed8026-739d-11e7-8985-3377f84a8435.JPG)

This

[2017-07-28 18:38] dnguyen3985 commented on #1380
Any input? Should i start a new issue for my case?

[2017-07-28 19:36] ValentinaViscarelli commented on #1380
@dnguyen3985
when you run this command "sudo ntopng /etc/ntopng/ntopng.conf", did you check if ntopng process was alive (remember that you are using --daemon parameter).

That is the output of "sudo /etc/init.d/ntopng start"?

[2017-07-28 20:00] dnguyen3985 commented on #1380
@ValentinaViscarelli I can confirm that the process is running with `sudo ntopng /etc/ntopng/ntopng.conf` command.

BUT, `sudo /etc/init.d/ntopng start` does not work. I used the default configurations from the github repo
[code]

Some other observations:

Nothing happens when I launch it as a service, no process called "ntopng" when running "top" command
[code]

[code]

[2017-07-28 20:27] ValentinaViscarelli commented on #1380
@dnguyen3985
what does "I used the default configurations from the github repo" mean?
I have tried the configuration you have report and it works.
Did you put -G parameter in configuration file?
Please try to change the simple configuration file and insert just this row:

-G=/var/run/ntopng.pid

[2017-07-28 20:41] simonemainardi commented on #1382
The two numbers are not ingress and egress traffic. They are local to remote and remote to local traffic, respectively. They account for the total traffic to and from your local hosts. Are you sure they are not accurate?

[2017-07-29 04:57] Kazz3r24 opened #1383 "ntopng WebUI login loop"
I just finished tinkering with my crontab and I did an update, now I am unable to log into the webui for ntopng, I entered in initially my own credentials, which the page then loads for a split second before clearing the form. Then after resetting the admin password, I still had no luck getting logged in. I was using it earlier today and did not touch the config files.

System info:
Ubuntu 14.04 6

[2017-07-29 06:58] simonemainardi commented on #1383
do you experience the loop also with `--disable-login = 1`? did you try by clearing the cookies?

[2017-07-29 12:43] Kazz3r24 commented on #1383
That you for responding so quickly, I was extremely tired when I looked at this last night. It appears it was just a cookie issue, cleared my cookies from the browser and was able to log back on.

Thank you for your assist!

I have a separate issue I've been meaning to get to, I will create a different ticket for it.

[2017-07-29 12:43] #1383 closed, assigned to nobody

[2017-07-29 12:50] Kazz3r24 opened #1384 "Upgrading to newest version of ntopng, ndpi"
I've been meaning to look into this issue for a long time, I just keep forgetting about it.

Right now I'm running an ancient version of ntopng, I believe that my pfring, nprobe, and nbox are reasonably up-to-date (don't take my word for it), I was only ever able to successfully get ntopng on my distro version with the older ntopng. I'd like to upgrade it if possible without breaking everything in

[2017-07-30 07:59] ufo888com commented on #1367
you are right!thank you very much!
my fault is unzip the files under windows, so some files were changed.
unzip under linux fixs all the problem.

[2017-07-30 08:26] simonemainardi commented on #1367
Thanks for reporting.

[2017-07-30 08:26] #1367 closed, assigned to nobody

[2017-07-31 06:24] Artapel commented on #1300
Hi there.

It seems we are still experiencing the issue, It just takes much longer for the board to freeze/run our of memory.

We need to re-open he board once every 2 two 3 days as apposed to every few hours.

[2017-07-31 06:52] simonemainardi commented on #1384
Many things have changed in ntopng since version 1.2.1. So there may be minor compatibility issues when upgrading to 3 or 3.1, especially with reference to the RRD stored in the system and with the MySQL database that will require an update.

Apart from that, it should be safe to upgrade. If you are using a packaged ntopng version just run apt-get update && apt-get upgrade.
If you are building fro

[2017-07-31 06:52] #1384 closed, assigned to nobody

[2017-07-31 09:20] simonemainardi commented on #1038
implemented

Notes: to keep the UI as smooth as possible the following choices have been made
- a 'cloud' icon has been used to identify 'remote' zmq interfaces (the eye icon is used for views)
- no icon is used for physical interfaces
- a red drop is shown next to the interface name, provided that the number of packet drops is greater than the 1% of the total number of packets
- as soon as the us

[2017-07-31 09:20] #1038 closed, assigned to emanuele-f

[2017-07-31 12:16] lucaderi opened #1385 "Interface counters are not consistent"
![screen shot 2017-07-31 at 14 14 37](https://user-images.githubusercontent.com/4493366/28777276-b7c62a9e-75fa-11e7-9194-f9e7cf8ef95e.png)

As you can see the top left percentages (e.g. ARP 23.8%) are not in sync with those on the table below (ARP 20.51%)

[2017-07-31 12:18] lucaderi commented on #1377
@simonemainardi Please add a note that describes this behaviour are the way it is implemented is misleading

[2017-07-31 14:04] surj08 commented on #1382
Thank you for that explanation. This is WAN firewall port mirror so I do
expect to see the total traffic graph represented by the total of the
'local to remote' and 'remote to local'. Let me investigate as it looks
like there are some internal networks missing from our config right now
which would explain the counters being incorrect

Thank you again!

On Fri, Jul 28, 2017 at 4:41 PM, simonemainar

[2017-07-31 14:14] Jamapa opened #1386 "ntopng 100% high CPU load"
The CPU load is **_# 100%_** after two days of installation. I have 20 users in my LAN.

[2017-07-31 16:47] simonemainardi commented on #571
implemented:

- broadcast addresses are now computed using defined local networks

- flows can be searched using new criteria that include broadcast

![image](https://user-images.githubusercontent.com/3397663/28788191-c7987ac4-761f-11e7-9058-c2cb5143a042.png)

- timeseries of broadcast traffic are saved per network

![image](https://user-images.githubusercontent.com/3397663/28788243-095ba0a8-7620-

[2017-07-31 16:47] #571 closed, assigned to lucaderi

[2017-07-31 17:10] simonemainardi commented on #1386
what is the ntopng version used?

[2017-08-01 09:38] philimnorden opened #1387 "Database running out of IDs / ID reached max int"
We are dumping our flows into a mysql database and ntop was running fine for a few weeks. The database had a size of about 300GB and the data retention was set to 10 days. I noticed the issue after the ntop log grew to over 110GB and the system reported low free disk space.

The log said over and over:
[code]

The column 'idx' reached the last valid integer and the auto_increment tried to increase

[2017-08-01 10:51] anilkumarnaik opened #1388 "ntopng invoked oom-killer"
NTOPNG process has been killed by oom-killer. ntopng occupies 12GB of memory and 12GB of swap. After restarting services its works and again process killed after fill all the mem and swap space.
how to stop this?

logs:
==============================
dcntopng@server:/var/log$ grep -i kill syslog
Aug  1 15:39:30 dcntopng kernel: [2838010.781016] ntopng invoked oom-killer: gfp_mask=0x24201ca, order=

[2017-08-01 10:53] simonemainardi commented on #1388
Are you using the latest version? That is, the latest 3.1?

[2017-08-01 11:33] Jamapa commented on #1386
I use Version 3.x (the latest at the time we talk)
Now i'm testing version 2.4 by installing it.

[2017-08-01 11:52] simonemainardi commented on #1386
we can't support you with version 2.4

Please, go with the latest 3.1 and report

[2017-08-01 11:56] simonemainardi commented on #1387
thanks for reporting.

open issues are already tracking both the redesign of the DB schema as well as the rotation of logs:
- https://github.com/ntop/ntopng/issues/1368
- https://github.com/ntop/ntopng/issues/1056

[2017-08-01 11:56] #1387 closed, assigned to nobody

[2017-08-01 11:58] simonemainardi commented on #1379
closing for inactivity, please reopen with the requested data if necessary.

[2017-08-01 11:58] #1379 closed, assigned to nobody

[2017-08-01 12:34] anilkumarnaik commented on #1388
ntopng version:
Version | 3.0.170623 - Pro Small Business Edition

[2017-08-01 12:37] #1377 closed, assigned to simonemainardi

[2017-08-01 12:41] simonemainardi commented on #1388
That is outdated, we have already resolved the mem leaks that were leading to OOMs.

Fixes are both in the stable and in the dev.

See for reference:

https://github.com/ntop/ntopng/issues/1351
https://github.com/ntop/ntopng/issues/1337

Please, upgrade the current version installed and it will be ok.

[2017-08-01 12:41] #1388 closed, assigned to nobody

[2017-08-01 13:33] anilkumarnaik opened #1389 "ERROR: Cannot complete local hosts RRD dump in 5 minutes"
below errors are filling the log file..how to fix this?

[@/usr/share/ntopng/scripts/callbacks/5min.lua]:[158] ERROR: Cannot complete local hosts RRD dump in 5 minutes. Please check your RRD configuration.

[2017-08-01 13:43] simonemainardi commented on #1389
You have to reduce the number of local hosts defined and there is not enough time to dump statistics for all the monitored local hosts. Typically, no more than 100 hosts can be dumped per second due to the RRD i/o bottleneck. We will leave rrds in the future.

please use the search before posting new issues: https://www.google.it/search?hl=it&q=%22Cannot+complete+local+hosts+RRD%22+site%3Ahttps%3A

[2017-08-01 13:43] #1389 closed, assigned to nobody

[2017-08-01 13:46] lucaderi commented on #1375
The code seems to be bugged as the RRD num_flows.rrd is a GAUGE with ever increasing values instead of a COUNTER.

[2017-08-01 14:13] dnguyen3985 commented on #1380
@ValentinaViscarelli I copied all the code from [https://github.com/ntop/ntopng/tree/dev/packages/etc/init.d](url)

I changed the configuration file under: `/etc/ntopng/ntopng.conf `with` -G=/var/run/ntopng.pid` only.

I have tried to run the program with: `sudo /etc/init.d/ntopng start` and `service ntopng start` but I still don't see any "ntopng" process running with `top` command. Same outputs

[2017-08-01 23:24] simonemainardi commented on #1375
thanks for reporting.

Actually GAUGE is correct as we want to chart that number of active flows. The bug was that the total number of host flows was used rather than the number of its active flows.

![image](https://user-images.githubusercontent.com/3397663/28851116-dbf6cda2-7720-11e7-911b-dde58907215f.png)

I also noticed (and fixed) some wrong RRA specifications in rdd creation functions that w

[2017-08-01 23:24] #1375 closed, assigned to simonemainardi

[2017-08-01 23:24] simonemainardi commented on #1375
references are
cdb4235380a0f1d4f5c681cdbb18661c5fff4e98
9918a14dc25a030a275d32ada1eaf28b89b014f3

[2017-08-02 06:05] stebbo63 opened #1390 "Please help tuning mysql for performance"
Hello,
I recently activated the past data retention and am trying to get some statistics out of the system.  However, if I try to do a search on anything more than about an hour of data it takes forever and I get a message along the lines of "this query is taking too long, please adjust search parameters or tune the database for performance".
Thereafter, the ntopng interface is non responsive for

[2017-08-02 06:35] muzea commented on #1390
You need ssd :)

[2017-08-02 08:19] stebbo63 commented on #1390
well that was extremely helpful.  Not!

[2017-08-02 09:57] simonemainardi commented on #1385
fixed, thanks for reporting

![image](https://user-images.githubusercontent.com/3397663/28868316-5ffc417e-7779-11e7-8787-f2989a0efdab.png)

[2017-08-02 09:57] #1385 closed, assigned to simonemainardi

[2017-08-02 10:23] simonemainardi commented on #1390
please, refer to this issue that is almost a duplicate https://github.com/ntop/ntopng/issues/1198

Also have a look at https://github.com/ntop/ntopng/issues/830#issuecomment-262035548 where I discuss the MySQL MyISAM configuration parameters that requires tuning from their default values.

how many flows per second are you going to store?

Given that you have 8GB of storage, you won't be able to l

[2017-08-02 10:26] simonemainardi commented on #1382
@surj08 any news?

[2017-08-02 11:20] surj08 commented on #1382
Yes sir, yesterday I added a couple of the missing subnets back in to the
config and those graphs are showing correctly now! I missed some of the
config when I copied it back in after clearing out the config for testing

Sorry to waste your time on this but, thank you for the help!

On Aug 2, 2017 6:26 AM, "simonemainardi" <notifications@github.com> wrote:

[2017-08-02 13:48] simonemainardi commented on #1382
I am glad to hear that this was a non-issue.  Thanks for reporting.

[2017-08-02 13:48] #1382 closed, assigned to simonemainardi

[2017-08-02 22:42] Howard-Chang commented on #1379
Dear simonemainardi,
      I  tested again, and I found  the problem is in my cisco.
      It can work now .

      thanks a lot .

[2017-08-02 23:41] Howard-Chang opened #1391 "nProbe License can't verify"
I have got a nProbe License and I refer this website  http://www.ntop.org/support/faq/my-license-does-not-work-what-can-i-do/ paste the Authentication Code on the nprobe.license txt file and placed on the same directory where nprobe.exe is located . After doing that when I reopen the nProbe it's still the DEMO version.

thanks for the help.

[2017-08-03 07:43] simonemainardi commented on #1391
please, post the full output of nprobe

next time please use the nProbe issue tracker: https://github.com/ntop/nProbe/issues

[2017-08-03 07:43] simonemainardi commented on #1386
@Jamapa any news?

[2017-08-03 07:45] simonemainardi commented on #1390
@stebbo63 did you try the suggestions above? Can you provide indication on the number of flows exported every second (this value is indicated in the interface if_stats.lua page)

[2017-08-03 07:52] simonemainardi commented on #1359
We have made some improvements to better handle ASA NSEL (including long-lived flows) both on the nProbe and on the ntopng side.

Can we invite you guys to try the latest dev packages of nProbe and ntopng?

As a guideline I suggest using the following values for timeouts and intervals:
- in the ASA, set the `flow-export active refresh-interval` value to 1 minute (60 seconds)
- in the nProbe set th

[2017-08-03 07:57] 9r00t-z opened #1392 "license ?"
I'm really sorry to post this here, because I know it's not technically an "issue" but for all the reading on the ntopng website I can't figure out if I need a license or not, and if so which ones.  I have a small home lab (~50 nodes) and I have two switches and a firewall logging netflow.  I had ntopng configured to use nrpobe and it was working well, but now it's complaining about a license file

[2017-08-03 08:08] simonemainardi commented on #1392
nProbe is a commercial product and requires a license. Without a valid license, nprobe will only export the first 25000 flows and then will stop.

Contrarily, ntopng (community) is opensource and you don't need a license to use it, even if you are using it with a licensed nprobe. An ntopng license is needed if you want to access its professional or enterprise features, but it is not necessary.

[2017-08-03 08:17] Jamapa commented on #1386
I ve reinstalled the latest version and the CPU is loading 100% sometimes.
The CPU is a dual core 2GHz and 2GB of RAM.
Thanks

[2017-08-03 08:34] simonemainardi commented on #1386
I suspect this is normal. Having some peak loads from time to time may be normal. Can you do some investigations to see what can be the cause (perhaps with strace)? Is ntopng dropping packets during these peaks?

[2017-08-03 08:45] Ramalama2 opened #1393 "Sampler Rate & Scaling"
Hi All :-)

1. Problem: (Scaling)
Scaling doesn't work at all (--sample-rate with '@' or without makes no difference)
---> The Web-Interface have no scaling options too.

2. Problem: (Sampler Rate)
Sampler Rate of 1, works but its far from optimal.
---> Sampler Rate of 512 causes wrong Traffic scaling in ntopng / nprobe

3. Problem (Duplicate Entrys)
In the Dashboard Page all Hosts are different (

[2017-08-03 09:15] Howard-Chang commented on #1391
this is the output on cmd:
C:\Program Files\nProbe>nprobe /c --zmq "tcp://*:2055" -i none -n none --collect
or-port 5556
Running nProbe for Windows.
I
I
02/Aug/2017 17:42:17 [nprobe.c:3603] ERROR: Invalid nProbe license (nprobe.licen
se) [Missing license file]
02/Aug/2017 17:42:17 [nprobe.c:3610] ERROR: ************************************
*****************
02/Aug/2017 17:42:17 [nprobe.c:3611] ERR

[2017-08-03 09:19] Howard-Chang commented on #1391
![1](https://user-images.githubusercontent.com/19474557/28914896-e5319500-786f-11e7-98c5-ca7d14b8ddd3.PNG)
![2](https://user-images.githubusercontent.com/19474557/28914903-e6adefc8-786f-11e7-92a5-dc69927db456.PNG)

[2017-08-03 12:10] simonemainardi commented on #1391
just tried to reproduce without success. nProbe on win works properly with a license file.

Make sure the file 'nprobe.license' does not have a `.txt` extension: open notepad as an administrator, paste the license key in the editor, and then save the file under `Program Files/nProbe` as nprobe.license

![image](https://user-images.githubusercontent.com/3397663/28921228-5b85f216-7855-11e7-8385-afa2

[2017-08-03 12:21] simonemainardi commented on #1393
Scaling doesn't work at all (--sample-rate with '@' or without makes no difference)
---> The Web-Interface have no scaling options too.

use --sample-rate on the Promiscous-Interface nprobe to equals the sample rate of your sflow agent.
Sitll on the Promiscuos-Interface nprobe, remove --upscale-traffic that only affects sflow

Sampler Rate of 1, works but its far from optimal.
---> Sampler Rate of

[2017-08-03 14:39] Jamapa commented on #1386
Internet work fine even this situation. But i'm afraid for the impact of this because we use the machine like router. I don't have so many times so far for consulting log

[2017-08-03 14:53] jpalondonon opened #1394 "nProbe exiting after update and reboot"
I performed a apt-get update && apt-get upgrade and now nProbe exits even after rebooting.  See below

<root@ntop ~>$ service nprobe status
● nprobe.service - Start/stop nprobe program
   Loaded: loaded (/etc/systemd/system/nprobe.service; enabled; vendor preset: enabled)
   Active: active (exited) (Result: core-dump) since Thu 2017-08-03 09:57:38 EDT; 50min ago
  Process: 1577 ExecStart=/etc/init

[2017-08-03 15:53] simonemainardi commented on #1394
please, refer to the nProbe issue tracker that is currently reporting a similar issue: https://github.com/ntop/nProbe/issues

[2017-08-03 15:53] #1394 closed, assigned to nobody

[2017-08-03 15:55] simonemainardi commented on #1386
so please reopen with the information provided if necessary or when you will have time

[2017-08-03 15:55] #1386 closed, assigned to simonemainardi

[2017-08-03 16:02] qm2k commented on #1359
Tested it with long flow using the following command: ```curl --resolve releases.ubuntu.com:80:91.189.88.148 --limit-rate 100k http://releases.ubuntu.com/16.04.3/ubuntu-16.04.3-desktop-amd64.iso > /dev/null``` . It's better, but still not there:
- Duration is now shown and updated approximately correctly. Flow only appears 90 seconds after start and lags by 30 seconds, but this is acceptable.
- Th

[2017-08-03 16:18] simonemainardi commented on #1359
thanks for the feedback; are you able to generate a pcap of ASA NSEL with the stream of flow-updates concerning a long lived flow? With that pcap I can try and reproduce in our lab.

[2017-08-03 16:24] jpalondonon commented on #1394
Thanks very much.  All working fine now.

From: simonemainardi [mailto:notifications@github.com]
Sent: Thursday, August 3, 2017 11:54 AM
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: John Anderson <john.anderson@robartsinc.com>; Author <author@noreply.github.com>
Subject: Re: [ntop/ntopng] nProbe exiting after update and reboot (#1394)

please, refer to the nProbe issue tracker that is currently

[2017-08-04 03:01] Howard-Chang commented on #1391
It can work now thank you : )

[2017-08-04 06:11] qm2k commented on #1359
Here is the pcap: [asa_2017-08-04.pcap.gz](https://github.com/ntop/ntopng/files/1199352/asa_2017-08-04.pcap.gz)

The following traffic was created during capture:
[code]
(Last command was canceled manually after some time.)

ATTENTION ASA OWNERS: there seems to be a bug or limitation that causes changes in access-list used in flow-export not to apply at least until flow-export rule is re-created.

[2017-08-04 07:43] simonemainardi commented on #1391
Please, explain what did you to exactly to make it working so other people in the community can benefit from this thread. Thank you

[2017-08-04 09:03] Howard-Chang commented on #1391
Because I save it as txt file so it can't run.
follow simonemainardi step is great to work!

[2017-08-04 09:21] simonemainardi commented on #1391
thanks for reporting!

[2017-08-04 09:21] #1391 closed, assigned to nobody

[2017-08-04 12:20] simonemainardi commented on #1392
@jclemons7 does this answers your question?

[2017-08-04 12:21] simonemainardi commented on #1390
if necessary, reopen after having tried the suggestions given and give indication on the number of flows per second you need to handle.

[2017-08-04 12:21] #1390 closed, assigned to simonemainardi

[2017-08-04 12:45] simonemainardi commented on #1298
All the vertical bars in 1-week charts are aligned and equals the current time 1  day ago, 2 days ago and so on.

We believe this is the proper approach to apply x-axis tick marks on weekly charts as, by clicking "1w", the user actually means a *trailing* 1 week period from now.

We may change this in the future as we are evaluating new chart libraries but for now we believe the choice made is ok.

[2017-08-04 12:45] #1298 closed, assigned to nobody

[2017-08-04 13:17] simonemainardi commented on #1359
so, with the first flow (reduced pcap is [CiscoASA-netflow-long-lived-flow.pcap.zip](https://github.com/ntop/ntopng/files/1200470/CiscoASA-netflow-long-lived-flow.pcap.zip))

![image](https://user-images.githubusercontent.com/3397663/28970040-4bbf643e-7927-11e7-9921-9c0883c0b177.png)

it looks like the information shown is correct.

However, I can't really understand why client to server bytes, i.

[2017-08-04 13:33] simonemainardi commented on #1359
this is another flow (capture [CiscoASA-netflow-long-lived-flow-2.pcap.zip](https://github.com/ntop/ntopng/files/1200513/CiscoASA-netflow-long-lived-flow-2.pcap.zip)).

Again ntopng shows values that are perfectly aligned with those shown in the ASA updates:

![image](https://user-images.githubusercontent.com/3397663/28970771-140d7ef6-792a-11e7-8451-264a38731805.png)

![image](https://user-images.

[2017-08-04 13:43] simonemainardi commented on #1359
I did a thorough investigation of the pcap and wasn't able to find any flow that is not properly shown by ntopng. Values always match those reported by ASA.

So it really doesn't look like an ntopng/nProbe issue.

Do you have an explanation why Octet values reported don't seem reasonable?

[2017-08-04 13:56] qm2k commented on #1359
I'm currently using at ntopng v.3.1.170803 and nProbe v.8.1.170803 installed via http://apt.ntop.org/16.04/all/apt-ntop.deb . Is it the latest version I should have tested?

[2017-08-04 14:11] simonemainardi commented on #1359
yes

[2017-08-04 14:24] qm2k commented on #1359
Studied your screenshots. Looks like you took them after the flow ended. Please check them while your flow is active.

[2017-08-04 15:28] #1392 closed, assigned to nobody

[2017-08-05 16:59] simonemainardi commented on #1376
According to https://tools.ietf.org/rfc/rfc4291.txt all unicast IPv6 addresses are required by  to have a 64-bit interface identifier in Modified Extended Unique Identifier-64 (MEUI-64) format. Interface IDs must be unique within a subnet prefix and are used to identify interfaces on a link.

Therefore, the interface identifier, that goes in the 64 least-significant bits of an IPv6 address, can be

[2017-08-05 19:38] #572 closed, assigned to lucaderi

[2017-08-05 19:38] simonemainardi commented on #572
![image](https://user-images.githubusercontent.com/3397663/28998218-c3945e66-7a25-11e7-9c57-96826832982a.png)

Implemented along with a refactor of NetworkInterface and ParserInterface to make sure nProbe data is not instantiated for non-parser interfaces

[2017-08-06 17:09] simonemainardi commented on #1359
I debugged every single update of CiscoASA-netflow-long-lived-flow.pcap.zip and still can't find issues on the ntopng/nProbe side.

The real point to me is that Initiator and Responder Octets and Packets are not monotonically increasing inside Cisco updates. By definition, these quantities should never decrease (as they are the totals exchanged) -- unless an out-of-sequence delivery occurs from th

[2017-08-06 18:00] qm2k commented on #1359
Clearly all update flows contain figures are for the elapsed period only. If you add all values from update flows you should obtain the value in the end flow, which is for full period.

[2017-08-06 18:15] qm2k commented on #1359
By elapsed period above I mean last 1 minute.

[2017-08-07 08:21] simonemainardi commented on #1359
that is true but is even more confusing as the same field has a semantically different meaning depending on the message it is in:
- it represents a total in the flow delete
- it represents a delta in all other messages

Moreover, the same fields always represent totals in other cisco implementations. See https://www.cisco.com/c/en/us/td/docs/routers/access/ISRG2/AVC/api/guide/AVC_Metric_Definition

[2017-08-07 08:41] qm2k commented on #1359
ASA is not originally Cisco, it's a bought product. When dealing with it documentation referring to IOS-based products is usually misleading.

I'll do more captures to find out, but working hypothesis is that it doesn't include service traffic at all. It is possible since ASA reassembles all TCP (and UDP) packets, thus probably only counts the L4 payload.

Also, I frankly don't know how much servi

[2017-08-07 09:25] simonemainardi commented on #1359
Here we are.

A new nProbe build is in progress. Please, wait a couple of hours, update it, and try again.

![image](https://user-images.githubusercontent.com/3397663/29020200-7d5151d8-7b61-11e7-9b3d-d307cde59fb1.png)
![image](https://user-images.githubusercontent.com/3397663/29020211-87e74d96-7b61-11e7-8552-7e07b5b46196.png)
![image](https://user-images.githubusercontent.com/3397663/29020220-8fda

[2017-08-07 09:29] simonemainardi commented on #1359
as concerns the issue with initiator octets, I can confirm that the HTTP request to download the ubuntu image is exactly 123 bytes if we only consider the TCP payload. So it turns out that the ASA only counts L4 bytes payload.

![image](https://user-images.githubusercontent.com/3397663/29020752-5ddcab20-7b63-11e7-8ffb-a89b8aaf7efd.png)

[2017-08-08 03:58] Howard-Chang opened #1395 "Can't read data from the RRD files"
Hi,
   I want to get data from RRD files,and I refer to the website https://www.spinics.net/lists/ntop/msg01774.html,
and type the command: rrdtool fetch C:\Windows\Temp\ntopng\0\rrd\192\168\0\31/bytes.rrd AVERAGE -s now-1d
the output:
C:\Users\Administrator\Downloads\rrdtool-1.2.15-cygwin-1.5.20>rrdtool fetch C:\W
indows\Temp\ntopng\0\rrd\192\168\0\31\bytes.rrd AVERAGE -s now-1d

[2017-08-08 06:13] Howard-Chang commented on #1395
this is initial state of log:
08/Aug/2017 14:19:40 [MySQLDB.cpp:627] Attempting to connect to MySQL for interface tcp://127.0.0.1:2055...
08/Aug/2017 14:19:39 [CollectorInterface.cpp:115] Collecting flows on tcp://127.0.0.1:2055
08/Aug/2017 14:19:39 [NetworkInterface.cpp:2149] Started packet polling on interface tcp://127.0.0.1:2055 [id: 2]...
08/Aug/2017 14:19:39 [PeriodicActivities.cpp:50] Start

[2017-08-08 06:15] Howard-Chang commented on #1395
later it show the warning message:
08/Aug/2017 14:25:16 [Utils.cpp:242] WARNING: Unable to write file \var\tmp\ntopng/runtimeprefs.json.temp
08/Aug/2017 14:25:11 [Utils.cpp:242] WARNING: Unable to write file \var\tmp\ntopng/runtimeprefs.json.temp
08/Aug/2017 14:25:06 [Utils.cpp:242] WARNING: Unable to write file \var\tmp\ntopng/runtimeprefs.json.temp
08/Aug/2017 14:25:01 [Utils.cpp:242] WARNING: U

[2017-08-08 08:15] qm2k commented on #1359
It is indeed much better now. Charts on dashboard previously were very spiky, but now they mostly resemble the information I pull via ssh using home-grown tools:
![screenshot from 2017-08-08 11 08 42 cropped 2](https://user-images.githubusercontent.com/13719792/29062637-1f8ea738-7c2b-11e7-8a29-da5b33e187e9.png)
![screenshot from 2017-08-08 11 08 45 cropped](https://user-images.githubusercontent.co

[2017-08-08 08:44] simonemainardi commented on #1056
implemented in https://github.com/ntop/ntopng/commit/3908b56e0723189e7e325b503447bb93867715a5

simone@devel:~/ntopng$ ls -lha /var/tmp/ntopng/ntopng.log*
-rw-rw-rw- 1 root root 5.9K Aug  8 10:41 /var/tmp/ntopng/ntopng.log
-rw-rw-rw- 1 root root 2.0K Aug  8 10:41 /var/tmp/ntopng/ntopng.log.1
-rw-rw-rw- 1 root root 1.8K Aug  8 10:41 /var/tmp/ntopng/ntopng.log.2
-rw-rw-rw- 1 root root 3.5K Aug  8 10:

[2017-08-08 08:44] #1056 closed, assigned to simonemainardi

[2017-08-08 08:48] simonemainardi commented on #1376
latest implementation agreed and accepted during a dev meeting

[2017-08-08 08:48] #1376 closed, assigned to simonemainardi

[2017-08-08 08:48] simonemainardi commented on #1393
@Ramalama2 any news? can you provide the information requested?

[2017-08-08 13:05] simonemainardi commented on #1359
alright, I am glad to know it's working now.

Interface spped spikes are physiological and due to the quantized nature of flows that are reported periodically.

This becomes more evident with large long-lived flows (e.g,. file transfers). What happens is that during a particular second ntopng can receive several hundreds of MBs worth of data for a single flow -- due to the fact long-lived flows ar

[2017-08-08 13:16] qm2k commented on #1359
I don't understand why you cannot use partial updates in the interface view in the same way they are now used in dashboard, host and flows views. But since I currently don't use the interface view much I'll close this issue. Now that I finally can use ntopng with my ASA I discovered several other issues, but I'll open them separately.

[2017-08-08 13:16] #1359 closed, assigned to simonemainardi

[2017-08-08 13:16] qm2k commented on #1359
And, thank you for the fix!

[2017-08-08 13:43] simonemainardi commented on #1359
I do use flow updates also in the interface view but as flow updates occur once every minute the spikes still occur for the reasons described above.

[2017-08-08 14:39] egoretz opened #1396 "Unable to change "Tiny Flows Dump" parameters"
Hello,

I'm running ntopng Pro [Small Business Edition] v.3.0.170613 on Debian 8.8, installed from debs.

The problem is that I can't change any default values in "Flow Database Dump" submenu in Ntop Preferences. Pressing Save button always gives an error like "Script "/usr/share/ntopng/scripts/lua/admin/prefs.lua" returned an error:

/usr/share/ntopng/scripts/lua/modules/http_lint.lua:993: [LINT]

[2017-08-09 00:26] macoune opened #1397 "ntopng:armhf crashes on ARM64"
Hi,
ntopng crashes after a few second on an odroid c2, Debian Jessie arm64.
Package installed : ntopng_3.1.170712-3130_armhf.deb

Here is a gdb trace :

[code]

If I run ntopng listening on interface lo, the application keep running.
Any idea on what could be the problem ?

Thanks!!

[2017-08-09 10:41] simonemainardi commented on #1396
thanks  for reporting, issue is fixed and a new stable build is in progress

[2017-08-09 10:41] #1396 closed, assigned to nobody

[2017-08-09 10:46] simonemainardi commented on #1397
did you follow http://packages.ntop.org/RaspberryPI/ to install the package?

What is the ntopng configuration used?

[2017-08-09 11:13] simonemainardi commented on #1393
closing for inactivity, reopen providing the requested information in necessary

[2017-08-09 11:13] #1393 closed, assigned to nobody

[2017-08-09 12:53] simonemainardi commented on #1395
RRDs for non active active hosts are not updated. Nans mean that rrd has padded missing values. Try to read an rrd of an active host and it will work.

Also make sure to use a proper rrdtool. I noticed you are using a cygwin binary so please make sure to be within cygwin.

As per the issue reported in the latest comment, it has already been fixed and will be available in the forthcoming windows bu

[2017-08-09 12:53] #1395 closed, assigned to nobody

[2017-08-09 13:45] simonemainardi commented on #928
Dashboard top local hosts and top remote destinations are properly filtered according to the authorizations of the current web user. No unauthorized host is ever shown.

Regarding the top application protocols and realtime traffic, they refer to the whole interface as is it clearly stated in the titles. Reducing the volumes of traffic shown will therefore cause inconsistencies in the charts.

Also

[2017-08-09 13:45] #928 closed, assigned to nobody

[2017-08-09 16:46] qm2k opened #1398 "Incorrect half-way destination address shown for port-forwarded ASA flows"
Please see [2017-08-09.pcap.gz](https://github.com/ntop/ntopng/files/1212142/2017-08-09.pcap.gz). It includes just two flows. First flow (533847104) is shown for comparison, it has no port forwarding and does not cause problems. Second flow (533847166) utilizes port-forwarding. Here's information about it as decoded by Wireshark:
[code]
Here port 22 of ASA address `83.69.211.186` is forwarded to p

[2017-08-09 17:09] qm2k opened #1399 "ASA interfaces should be visible in ntopng"
Currently ASA flows displayed as one single interface in ntopng. But this does not correspond to reality since there're always more than one interface. Interface information is present in flows, in fields `InputInt` and `OutputInt` (see [here](https://www.cisco.com/c/en/us/td/docs/security/asa/special/netflow/guide/asa_netflow.html#pgfId-1338920) for more details).

For instance, see
[2017-08-09.p

[2017-08-10 07:50] simonemainardi commented on #1399
Did you consider the new features introduced with https://github.com/ntop/ntopng/issues/1326#issuecomment-316782228?

In particular, you can filter all the flows by exporter address (the asa in your case) and then by input and output ports. So very likely what you are looking is already available.

You may also want to disaggregate interfaces by input interface index as available in:
![image](http

[2017-08-10 09:06] qm2k commented on #1399
I have only one flow exporter, so #1326 does not apply to my case.

As for disaggregation feature I tried various settings (VLAN id, Ingress Interface, Ingress VRF Id) and new interfaces just don't appear. What should I do exactly? And, judging by option names there's no option for egress interface or ingress/egress pair.

[2017-08-10 09:49] simonemainardi commented on #1399
This is not true, even if you have only one exporter, you can still select it from the dropdown. Once it is selected, new input/output interface selection dropdowns will appear.

A restart of ntopng is required

correct

[2017-08-10 11:12] qm2k commented on #1399
Yes indeed, works as you described. Not very intuitive though.

After trying restarts, `Ingress Interface` setting worked for me. This part of the problem is solved, thank you!

JFYI, there're however the following strange messages in syslog now (15, 3 and 16 are interface indices):
[code]

Can you then consider this feature(s), please? Ingress traffic shows only one half of the load picture!

[2017-08-10 12:17] simonemainardi commented on #1399
ok

alright

try to run ntopng in foreground with /usr/local/bin/ntopng /etc/ntopng/ntopng.conf and look for extra information. I can't understand where the grep is coming from.

As shown above, ntopng already provides the necessary tools to get to the level of visibility required in this thread. If you need extra custom developments, please contact us privately.

[2017-08-10 12:17] #1399 closed, assigned to simonemainardi

[2017-08-10 12:58] qm2k commented on #1399
Running in foreground did not reveal much beyond already seen:
[code]

But I grepped ntopng sources for "grep" and found [one place](https://github.com/ntop/ntopng/blob/7d72bcf20dea12151c547830e4ad42025189a735/src/Utils.cpp#L2374) where the interface name is unquoted in arguments to grep:
[code]
At least single quotes should be added around `%s` there, but even better would be to refactor this pla

[2017-08-10 13:01] qm2k commented on #1399
BTW latest ntopng also dumps core on exit.

[2017-08-10 14:49] simonemainardi commented on #1399
handled in https://github.com/ntop/ntopng/commit/d70e9f71466de1a5b8b9a8246d5c1127cdb2b4eb

in case you are experiencing a core, please upload it along with the ntopng binary for our inspection

[2017-08-10 15:53] qm2k opened #1400 "crash (not just) on exit in ntopng x86_64 v.3.1.170810"
[code]

I couldn't create actual core file, apparently it's difficult in a container. But here's apport crash, which should be good as well: https://rqc.box.com/s/u1d0amavu0d6ekpgeegh1uil4s2plpvm

Crash does not depend particularly on configuration and was observed since I first installed unstable version several days ago (version number changed several times in between):
[code]
(I did not run nto

[2017-08-10 15:54] qm2k commented on #1399
Created #1400.

[2017-08-10 16:06] qm2k commented on #1400
And here's the actual core (different crash), in case someone likes it better: https://rqc.box.com/s/o9xo6zzx6vfq7f4cz0tuabey2eess00c

[2017-08-11 05:41] qm2k commented on #1400
And here's another one. Still have problems capturing cores, so no core this time. Same executable.
[code]

[2017-08-11 09:57] simonemainardi commented on #1400
I am preparing a new build. Please, wait a couple of hours and then try again.

Note that cores are essentials here. If you want to make sure cores are actually generated, do the required configuration, send a kill -SEGV to the process, and then check for the core file.

[2017-08-11 14:50] simonemainardi commented on #1368
implemented. ntopng can now be started with -F "mysql-nprobe;..." to connect to an nProbe database

[code]

Example:
[code]

A shortcut `@NTOPNG@` is also available on the nProbe:
[code]

[2017-08-11 14:50] #1368 closed, assigned to simonemainardi

[2017-08-11 14:52] simonemainardi commented on #1368
https://github.com/ntop/ntopng/commit/a86f3dd36e8d5d2399d2cb0c36921610a8fc153d

[2017-08-11 15:23] qm2k commented on #1400
Here you are: [v.3.1.170811](https://rqc.box.com/s/7znj94ng5ukxrvi0dqd7pfm8mk1ub30g).

[2017-08-11 16:09] qm2k commented on #1399
Just one more question: is disaggregation part of open-source or proprietary parts? I tried to look for implementation of disaggregation on github, but couldn't find anything beside dialog strings. If it's open-source, I could probably try to add disaggregation by ingress-egress pairs myself.

[2017-08-11 17:41] simonemainardi commented on #1400
@qm2k the crash is still at exit. Indeed, it occurs during professional part cleanup
[code]

are you sure crashes also occur at runtime and not during exit?

[2017-08-11 17:48] simonemainardi commented on #1400
anyway, I found and fixed the cause of the issue during cleanup so I am closing this (a new build will be available tomorrow).

If you experience a crash at runtime (I hope you won't) please, upload it along with the binary as already done.

[2017-08-11 17:48] #1400 closed, assigned to nobody

[2017-08-11 17:49] simonemainardi commented on #1397
@macoune any news?

[2017-08-11 18:24] simonemainardi commented on #1399
it's opensource. here's where the magic happens: https://github.com/ntop/ntopng/blob/dev/src/NetworkInterface.cpp#L1131

[2017-08-13 11:08] qm2k commented on #1400
Well, previous version (before you said the the issue is fixed) crashed runtime yesterday at, suspiciously, 08:00:00 (especially given 18:20:00 time of previous crash). Found no cron job at the time and no other syslog messages, but something is fishy.

Installed and started 3.1.170813-3268, will report the result.

[2017-08-13 11:13] simonemainardi commented on #1400
I fixed the crash on exit.

If you are experiencing a crash at runtime, please send the core and binary.

I have some suspects on the cause but I would like to see the evidence

Thank you
On Sun, 13 Aug 2017 at 13:08, qm2k <notifications@github.com> wrote:

--
Sent from my iPad. Sorry for typos.

[2017-08-14 08:49] qm2k opened #1401 "Runtime crash of ntopng v.3.1.170813"
See https://rqc.box.com/s/nji5owd81z2bdqfddsv506lqlu2rsdx6 . Happened after about 7:03 server time.

[2017-08-14 08:50] qm2k commented on #1400
See #1401.

[2017-08-14 10:51] qm2k commented on #1401
Please tell if you need more cores, I seem to be able to mass-produce them now. Again, there's suspiciously round time:
[code]

[2017-08-14 14:56] qm2k opened #1402 "Last Day View charts start showing nonsensically small values after some time"
Here's an example:
![1](https://user-images.githubusercontent.com/13719792/29277059-3ff60a64-8119-11e7-9f9a-2914ba18e6e5.png)
It looks like all traffic stopped after approximately 15:25.

However, if I refresh the page I see real picture:
![2](https://user-images.githubusercontent.com/13719792/29277099-669ea9d2-8119-11e7-90c6-99bdd1aa98be.png)

Unfortunately, refreshing the page also clears realti

[2017-08-15 04:09] Howard-Chang opened #1403 "some questions on cache setting"
Hi everyone : )
I stored the flow data into mysql database and open the Historical Data Explorer.
I found that I have  2017/8/11 record .
![ntop1](https://user-images.githubusercontent.com/19474557/29301881-eed68782-81b1-11e7-938c-90e40fd74779.PNG)

but when I query the IP of the flow table there's no flow on 2017/8/11
![ntop2](https://user-images.githubusercontent.com/19474557/29301888-fbf8ce3e-8

[2017-08-15 15:29] shaoranrch commented on #911
Hello,

I've got a question and hope I could get help with this. How one could get the avg throughput calculated over all the flows using the throughput fields?

I want to calculate incoming and outgoing traffic as a whole over a time span (say 60 seconds) so I can print it to a graphics tool (grafana for instance) in near real time.

I tried something like this:

[code]
But this doesn't provide a

[2017-08-15 16:33] crafter999 opened #1404 "Error while building on a aarch64 machine"
Tried to compile it from source on a **aarch64** machine running Ubuntu Xenial but I'm getting the following error:
P.S. I tried to install it from apt but it fails too with a different error, that's why I tried to compile it. Btw `make` also fail.
[code]

[2017-08-16 00:50] parksj10 commented on #1259
Problem was never fixed, just ran out of time and effort to try to fix it :(

[2017-08-16 07:00] izzie88 opened #1405 "Ntopng doesn't start anymore"
@emanuele-f

16/Aug/2017 07:56:44 [NetworkInterface.cpp:2056] Started packet polling on interface tcp://127.0.0.1:5556c [id: 5]...
16/Aug/2017 07:56:44 [CollectorInterface.cpp:115] Collecting flows on tcp://127.0.0.1:5556c
16/Aug/2017 07:56:48 [ParserInterface.cpp:853] WARNING: Invalid message received: your nProbe sender is outdated, data encrypted or invalid JSON?
16/Aug/2017 07:56:48 [ParserInt

[2017-08-16 07:25] emanuele-f commented on #1405
Hi, please update both ntopng and nprobe to the latest version and then restart the nprobe and ntopng services

[2017-08-16 09:00] simonemainardi commented on #1259
what is the ntopng version you are using?

[2017-08-16 10:00] lucaderi commented on #1401
@qm2k I have made a fix. New package will be available in ~30 mins. Please give it a try and report. if working we'll port the fix in the stable package

[2017-08-16 10:59] qm2k commented on #1401
Installed v.3.1.170816, watching...

[2017-08-16 13:37] rcarvalloh opened #1406 "THROUGHPUT fields in zero MySQL"
Hello,

I've started testing with the fields:

- SRC_TO_DST_MAX_THROUGHPUT
- SRC_TO_DST_MIN_THROUGHPUT
- SRC_TO_DST_AVG_THROUGHPUT
- SRC_TO_DST_AVG_THROUGHPUT
- DST_TO_SRC_MIN_THROUGHPUT
- DST_TO_SRC_AVG_THROUGHPUT

But I've been noticing that there are a lot of flows that have all of these in zero even though there are bytes/packets reported in the IN_BYTES and OUT_BYTES. Is there any explanation

[2017-08-16 15:49] qm2k commented on #1401
Something new this time, two words:
[code]
No core, no stack trace. Didn't check the return code unfortunately, will remember to next time.

[2017-08-16 15:51] qm2k commented on #1401
P.S. Found in dmesg:
[code]

[2017-08-16 16:02] emanuele-f commented on #1401
@lucaderi it now crashes on the coutries tab (country_stats.lua)

[code]

[2017-08-16 17:45] simonemainardi commented on #1401
thanks for the fix, please also check why country_stats.lua always returns empty

[2017-08-17 07:32] lucaderi commented on #1401
Fixed in https://github.com/ntop/ntopng/commit/98ae508a9cff77355b931f3f5581a6433bbfc466. All seems to work as expected.

[2017-08-17 07:32] #1401 closed, assigned to nobody

[2017-08-17 07:33] lucaderi commented on #1404
This is not our fault but it's a LuaJIT issue. Please contact the developers and report.

[2017-08-17 07:33] #1404 closed, assigned to nobody

[2017-08-17 07:34] lucaderi commented on #1397
Closed for inactivity.

[2017-08-17 07:34] #1397 closed, assigned to nobody

[2017-08-17 12:41] simonemainardi commented on #1403
- the search doesn't include an ip address, make sure to add it in the client/server host box
- retention settings are OK, but are you sure you did't delete the ntopng data directory while leaving the database in place?

[2017-08-17 13:14] simonemainardi commented on #1406
Please, report the software configurations used and an example of a flow that has all-zero throughput values.

As concerns the mysql query, why you didn't use the builtin mysql AVG() function?

By the way, did you know that ntopng features a grafana plugin? see https://github.com/ntop/ntopng/blob/dev/doc/README.grafana

[2017-08-17 14:03] rcarvalloh commented on #1406
Hi,

I didn't know about the plugin, nice, I'll check it out.

The actual DB writing is being done by NPROBE, here's its configuration:
[code]

And here's a PDF with some flows as reported by in MySQL

[flows in zero throughput.pdf](https://github.com/ntop/ntopng/files/1231427/flows.in.zero.throughput.pdf)

I'm using the latest versions in a fresh Ubuntu Server install.

Concerning the query, I di

[2017-08-17 14:04] izzie88 commented on #1405
@emanuele-f
Please emanuele, it start now but after a while it exits,

See logs

ntopng.service - Start/stop ntopng program
   Loaded: loaded (/etc/systemd/system/ntopng.service; enabled; vendor pre
   Active: active (exited) (Result: signal) since Thu 2017-08-17 14:35:10
  Process: 11054 ExecStop=/etc/init.d/ntopng stop (code=exited, status=0/S
  Process: 11078 ExecStart=/etc/init.d/ntopng start

[2017-08-17 14:19] rcarvalloh commented on #1406
Regarding the grafana plugin you mentioned, I did the things said in the link you sent me. However it isn't working, when trying to connect to Ntopng I get the following:

HTTP Error
Not Found

If I follow the link in a browser I get:
Page "/lua/modules/grafana" was not found

Is there anything else that should be done in Ntopng?

[2017-08-17 14:35] Howard-Chang commented on #1403
the first point is sure that I had point to the specific ip.
the second point I did't delete the ntopng data directory.
I have a question that whether the data of ntopng Web UI is from rrd file.
Because I want to try to get data directly from rrd file instead store the data to database and fetch them from database.

[2017-08-17 15:22] Gelob commented on #1406
try a trailing slash '/lua/modules/grafana/'

[2017-08-17 15:31] rcarvalloh commented on #1406
Hi I tried that already, thank you for the suggestion, however I got the same messages.

I'm using the Small Business Edition  v.3.0.170719

[2017-08-17 16:00] lucaderi commented on #1405
@izzie88 Can you please report
* the exact ntopng and nprobe version you are using
* the exact command line options you are using to start both apps

[2017-08-17 17:23] Gelob commented on #1406
Do you have a web server (nginx/apache) in front of ntopng or grafana? If you hit http://<yourntopngip>:3000/lua/modules/grafana/ directly you should get {"status":"OK"}. I know that without the trailing slash i get page not found. I've also had similar issues caused by bad proxy config in the frontend web server either on the grafana or ntopng side.

[2017-08-17 17:33] rcarvalloh commented on #1406
Hey, no and they're both in different VPS, if I follow the link directly as in, pasting it in the browser I either get:

Page "/lua/modules/grafana" was not found
Or
Page "/lua/modules/grafana/" was not found

If I try it with Grafana:
HTTP Error
Not Found

The NTOPng server is not running anything else, I didn't build it from source, basically followed the repos found in:

http://packages.ntop.or

[2017-08-17 22:13] emanuele-f commented on #1403
Hi, the image you've posted above shows a blank "Client/Server Host" field. Please set it to the same IP you are querying in the same period of time and post a screenshot.

The data/graphs shown into ntopng are fetched from RRD files. The only exception to this is the Historical Explorer (and its integration as the Flows/Talkers/Protocols tab into an host/mac/interface view) which uses mysql data.

[2017-08-18 06:43] izzie88 commented on #1405
@emanuele-f  @lucaderi

oye@NTOP-DPI:~$ ntopng --version
v.3.1.170816	[Enterprise/Professional build]
Edition:	Enterprise

cento --version
v.1.3.170816
GIT rev:   dev:49a3311eed99e71253ffbdeeab8215c23de685e9:20170816

ntopng starts as a daemon while
cento-bridge -i zc:eth0,zc:eth2 --zmq tcp://127.0.0.1:5556 --bridge-conf bridge-policy --dpi-level 2

[2017-08-18 08:00] emanuele-f commented on #1405
Can you run ntopng with gdb `sudo gdb ntopng /etc/ntopng/ntopng.conf` and get a stack trace of the crash?
Can you get a core dump of the ntopng crash? Along with the core dump, we would need the executable ntopng file.

[2017-08-18 08:19] izzie88 commented on #1405
@emanuele-f
I could not execute gdb on that file

Reading symbols from ntopng...done.
"/etc/ntopng/ntopng.conf" is not a core dump: File format not recognized

[2017-08-18 08:38] Howard-Chang commented on #1403
![aaa](https://user-images.githubusercontent.com/19474557/29450705-60d35e82-8432-11e7-9c1d-09bc1a1757aa.PNG)
I tried to fetch another IP rrd file(yesterday to today flow data) :
![image](https://user-images.githubusercontent.com/19474557/29450913-342a99b2-8433-11e7-81e2-af96733e778d.png)
it looks correct.
but the same IP an hour interval rrd file:
![image](https://user-images.githubusercontent.com

[2017-08-18 08:54] emanuele-f commented on #1405
Sorry the right command is `sudo gdb --args ntopng /etc/ntopng/ntopng.conf`. What's the output of your `/etc/ntopng/ntopng.conf` ?

[2017-08-18 09:31] emanuele-f commented on #1403
RRD keeps data into RRA archives which lose accuracy over time (the use an "average" over the data). In the first RRD editor picture you have a 5 minutes resolution, whereare in the second you have one hour resolution.

Please note that the two RRD editor pictures posted above show different time frames. Make sure to look at the same time frame to make a comparison.

Regarding the original issue/p

[2017-08-18 09:44] emanuele-f commented on #1405
I can reproduce the following crash with latest version of ntopng:

[code]

[2017-08-18 10:27] izzie88 commented on #1405
@emanuele-f
cat ntopng.conf
-w=3000
-W=0
-g=-1
-m="41.184.152.0/21,41.184.168.0/21,41.184.180.0/22,41.184.164.0/22,41.184.184.0/24,41.184.187.0/24,41.184.185.0/24,41.184.186.0/24"
-X=1524280
-x=1262140
-d=/storage/ntopng
-G=/var/run/ntopng.pid
-i=tcp://127.0.0.1:5556c

[2017-08-18 10:29] Howard-Chang commented on #1403
this is 192.168.0.159 one hour interval rrd file screenshot:
![image](https://user-images.githubusercontent.com/19474557/29454966-d27d8d3c-8441-11e7-9b26-8dd266663b96.png)
except the Date you see have value other data is nan, but the strange is that I hvaen't install ntopng on 2017/May/xx.
compare to the mysql data
![image](https://user-images.githubusercontent.com/19474557/29455153-a886655c-8442-

[2017-08-18 11:59] emanuele-f commented on #1405
@izzie88 please wait for the next build to test if the patch by @lucaderi has fixed your issues

[2017-08-18 15:10] qm2k opened #1407 "Feature request: top endpoints chart on dashboard"
Dashboard already has Top Local Talkers and Top Remote Destinations in the table form. However, chart would be more informative since it shows not only current situation but history. Here's how it looks in my home-grown tool:

![top_clients_chart](https://user-images.githubusercontent.com/13719792/29464972-4ebf17a0-8440-11e7-8ef1-0b3297fe1924.png)

[2017-08-18 16:14] qm2k opened #1408 "Feature request: statistics for number of simultaneous flows"
Along with number of bytes transferred important measure to monitor in many networks is number of simultaneous flows (preferably with break-down by client etc.). This is because most firewall devices inherently have limitations on number of simultaneously supported flows before packet loss or performance degradation occurs. Some applications (BitTorrent, port scans) may create huge number of flows

[2017-08-19 09:54] simonemainardi commented on #1408
The number of active flows is saved for every interface and for every local host. It is available as an historical time series. The number of active (or very recently expired) flows is also shown at the bottom of any page. If this does not suffice, please try and explain how would you like to see this information.

[2017-08-19 10:10] qm2k commented on #1408
Yes, I understand that all information is there, which is fortunate. I'm talking about charts. Primarily dashboard could show more of it, but also pages of individual hosts, networks, interfaces etc. On the dashboard it'd be nice to see historical charts of number of active flows, table of top hosts by number of flows, or better chart of top hosts by number of flows in the same way as described in

[2017-08-19 18:28] simonemainardi commented on #1406
Grafana is only supported in version 3.1, please move to the dev version to try it

[2017-08-21 06:58] qm2k commented on #1401
v.3.1.170816 worked uninterruptedly for almost 4 days and crashed as following:
[code]
I think it is unrelated, will open separate issue if happens again. The runtime crash problem looks fixed.

[2017-08-21 07:45] qm2k commented on #1408
P.S. The number of flows at the bottom of any page is not very accurate. For instance, right now it is less than 2000 flows according to ASA command line (which can list them all), but ntopng shows 6200. Looks like ntopng and nprobe do not take flow close messages into account and just wait for some predefined timeout, which leads to exaggeration of number of very short-lived flows.

[2017-08-21 08:03] emanuele-f commented on #1403
Can you verify your server time is correctly set?
The rrd data is kept for 365 days. It is not configurable right now.

[2017-08-21 19:56] lucaderi commented on #1405
@izzie88 Did you test the new version? Is it working?

[2017-08-21 21:38] henriqueps opened #1409 "Can't login at web interface"
Hi,
After server reboot I'm no able to login at ntopng web interface.
I start the service, the web page load, but when I type my login and password nothing happens.
I've already upgraded it to last version 3.1.170821, but nothing change.
Any suggestion what is going on?
Thanks in advance

[2017-08-22 07:15] qm2k opened #1410 "Top Hosts page unusable when update period set to 1 minute"
I set all periods I found in preferences and interface settings to multiples of 1 minute. Now Top Hosts page looks like this:
![screenshot from 2017-08-21 10 52 35 cropped](https://user-images.githubusercontent.com/13719792/29553046-67919b4c-8722-11e7-94eb-cbc4ee5e2409.png)

Also, it produces unnecessary CPU load on server by making 25 requests every 3 seconds.

[2017-08-22 07:59] emanuele-f commented on #1409
What browser are you using? Do you have any javascript blocking plugin enabled? Please try to flush the browser cache and retry.

[2017-08-22 12:25] henriqueps commented on #1409
I tried to access from different computers and at all of them I was not able to login.
Also I tried to create a new mysql database, but didn't work.
I enabled debug mode, when I try to login, it shows me this logs:
``
22/Aug/2017 09:21:08 [Lua.cpp:5541] ntop_lua_http_print() called
22/Aug/2017 09:21:08 [Lua.cpp:5541] ntop_lua_http_print() called
22/Aug/2017 09:21:08 [Lua.cpp:5541] ntop_lua_http_pr

[2017-08-22 12:47] emanuele-f commented on #1409
Please try to reset the password to the default:

1) stop ntopng: `sudo killall ntopng`
2) `redis-cli del ntopng.user.admin.password`
3) start ntopng
4) try to login with user "admin" and password "admin"

[2017-08-22 12:56] henriqueps commented on #1409
It worked!!!
Thanks a lot emanuele!!

Have a nice week

[2017-08-22 13:02] emanuele-f commented on #1409
Glad it worked. Bye :)

[2017-08-22 13:02] #1409 closed, assigned to emanuele-f

[2017-08-22 18:48] luhesan opened #1411 "Usage graphs are not shown after update"
![captura de pantalla 2017-08-22 a la s 13 38 39](https://user-images.githubusercontent.com/9991659/29581951-9530c2da-8740-11e7-889d-71910a39f70f.png)
![captura de pantalla 2017-08-22 a la s 13 38 17](https://user-images.githubusercontent.com/9991659/29581952-9531917e-8740-11e7-959d-9b0c053c0375.png)

[2017-08-22 18:49] luhesan commented on #1411
ntopng version 3.0.170809 on ubuntu server 16.04.3

[2017-08-23 07:02] emanuele-f commented on #1411
Hi, please try to reset your browser cache

[2017-08-23 09:45] qm2k commented on #1402
Additional information: looks like this "some time" is the page refresh. I.e. historical values at the page refresh time are always drawn correctly, but everything that appear after that moment show downscaled.

[2017-08-23 13:15] izzie88 commented on #1405
@lucaderi when i try to update, this is what i get:

Get:1 http://packages.ntop.org/apt/16.04 x64/ nprobe 8.1.170823-5869 [1,130 kB]
Err:1 http://packages.ntop.org/apt/16.04 x64/ nprobe 8.1.170823-5869
  Writing more data than expected (1130992 > 1129580) [IP: 164.132.198.64 80]
Get:2 http://packages.ntop.org/apt/16.04 x64/ ntopng 3.1.170823-3292 [4,784 kB]
Err:2 http://packages.ntop.org/apt/16.04

[2017-08-23 14:44] emanuele-f commented on #1402
@simonemainardi here is more information:

- The chart actually holds a day of data, while only the last hour is actually visualized.
- Graph is updated manually each 2 minutes, whereas the graph resolution should be 5 minutes. See `dashboard_top_applications.lua:216`
- Data points increase over time before reaching a stable length because of the two points above (inspect `topapps_lastday_data[0].

[2017-08-24 22:09] lucaderi commented on #1405
apt-get update should fix all this

[2017-08-25 12:44] izzie88 commented on #1405
i did that, did the update, ntopng started and after a while the process was exited. It ran for only about 5hrs.
root@NTOP-DPI:/var/log/ntopng# service ntopng status
● ntopng.service - Start/stop ntopng program
   Loaded: loaded (/etc/systemd/system/ntopng.service; enabled; vendor preset: enabled)
   Active: active (exited) (Result: signal) since Fri 2017-08-25 08:45:49 WAT; 4h 57min ago
  Process

[2017-08-25 14:19] emanuele-f commented on #1405
@izzie88 please provide us a stack trace of ntopng in order to troubleshoot the problem. If the output of `ulimit` is "unlimited" then there is a chance that you already have a core dump file of ntopng in your system. If not, please execute `ulimit -c unlimited` to enable core dump generation.

On ubuntu 16, the core dump handler should be `apport`

[code]

After ntopng crashes, you should find th

[2017-08-27 12:31] chlochlo78 opened #1412 "slack Webhook url configuration is not saving"
hi,

i've activated slack notification,
( how to from https://github.com/ntop/ntopng/blob/dev/doc/README.slack )
every channel are configured in slack host
testing with curl to send msg = OK

but runtimeprefs.json is not up to date while i try to configure Webhook url https://hooks.slack.com/services/XXX/YYY/ZZZ
:(

best regards

[2017-08-27 12:43] chlochlo78 commented on #1412
can't see log about slack or pref while logging is in trace or debug mode

` more runtimeprefs.json
{ "ntopng.prefs.housekeeping_frequency": 5, "ntopng.prefs.local_host_cache_duration": 3600, "ntopng.prefs.local_host_max_idle": 300, "ntopng.prefs.non_local_host_max_idle": 60, "ntopng.prefs.flow_max_idle"
: 60, "ntopng.prefs.active_local_host_cache_interval": 3600, "ntopng.prefs.intf_rrd_raw_days":

[2017-08-27 13:05] chlochlo78 commented on #1412
1/  i've compiled it from last git pull

a/  apt-get install build-essential git bison flex libxml2-dev libpcap-dev libtool libtool-bin rrdtool librrd-dev autoconf automake autogen redis-server wget libsqlite3-dev libhiredis-dev libgeoip-dev libcurl4-openssl-dev libpango1.0-dev libcairo2-dev libnetfilter-queue-dev zlib1g-dev libssl-dev
b/  cd ../
c/ git clone https://github.com/ntop/nDPI.git; cd n

[2017-08-28 02:54] myfingerhurt commented on #313
Same here, any solution yet?

[2017-08-28 05:43] myfingerhurt commented on #1409
I'm working on a VPS, because I don't want to expose the ntopng port:3000 to the outer-world,  so I use zerotier to secure it. But I can not login at the web insteface except the external IP. And I saw lots of people had the same problem without a solution.

[code]

I have two networks:
`ens3` with IPv4 and IPv6,  `150.x.x.x` , `2400:8500:1302:844:150:xx:xxx:xx`
`zt0` (zerotier). `10.9.8.10`

Firs

[2017-08-28 05:50] myfingerhurt opened #1413 "Can not login at web interface except with the external IP"
I'm working on a VPS, because I don't want to expose the ntopng port:3000 to the outer-world,  so I use zerotier to secure it. But I can not login at the web interface except with the external IP. And I saw lots of people had the same problem without a solution.

`10.9.8.10` not working. VPN
`127.0.0.1` not working.
`150.x.x.x` working. external IP
`2400:8500:1302:844:150:xx:xxx:xx` not tested. ex

[2017-08-28 07:37] emanuele-f commented on #1413
Hi, I can actually login to ntopng through VPN. Are you using the same browser on both external and internal IPs? What browser is it? Can you exclude this issue is linked with zerotier?

Note: the `127.0.0.1` connection can only work within the VPS server itself, you cannot connect remotely to that address.

[2017-08-28 07:50] emanuele-f commented on #1411
@luhesan any news?

[2017-08-28 08:14] emanuele-f commented on #1412
This is fixed with commit `d67e1da455241016d42a264471fd55adf7df2fb7`. Please `git pull` and enjoy. Thank you for reporting.

[2017-08-28 08:14] #1412 closed, assigned to emanuele-f

[2017-08-28 08:17] emanuele-f opened #1414 "RuntimePrefs does not handle wildcards"
Redis supports wildcards as the input of the `keys` command. On the other end, RuntimePrefs does not support it and this breaks the `ntop.getKeysCache` calls (e.g. deleteCachePattern in flushAlertsData).

As an alternative to implement wildcards via regex, redis itself can be used to compute the wildcards. This would require to copy all the RuntimePrefs data to Redis on startup and every time a ne

[2017-08-28 08:24] chlochlo78 commented on #1412
Fast fix! It works :) thanks, I have to manage spam about suspicious  TCP/SYN now lol ( may be turn it off for a few day )

[2017-08-28 08:36] simonemainardi commented on #313
@myfingerhurt please, explain what did you try and the experienced behavior. Does that happen on a centos7? Did you try putting the IP in the address bar or a symbolic name?

[2017-08-28 09:13] emanuele-f commented on #1412
You can configure alerts threasholds from a local host page (click the triangle icon). See `SYN Flood Attacker` and `SYN Flood Victim`

[2017-08-28 09:34] chlochlo78 commented on #1412
ok thx :)
i reduced them by turning off Trigger alerts for loopback to loopback :)

client proxy pac => URL nginx > LB haproxy 2 squid => LB haproxy 2 c-icap (squidguard+clamav) > LB haproxy 2 privoxy

i'll observe traffic and adapt value, before tuning on slack notification ;)
host_details.lua?page=alerts&tab=min&host=<ip>&ifid=0

thx a lot

[2017-08-28 10:06] simonemainardi commented on #1403
Any news here?

The only thing that is suspicious to me is the indication of the timezone in the footer:

![image](https://user-images.githubusercontent.com/3397663/29769100-26902ca0-8be9-11e7-9a6d-b3e4d2916e2d.png)

what is the windows version you are using?

[2017-08-28 12:23] simonemainardi commented on #1413
What happens? Do you get redirected to the login page? Use the browser inspector to see all the network requests/responses

As suggested by @emanuele-f you should you exclude this issue is linked with zerotier.

[2017-08-28 13:20] lucaderi commented on #1405
@izzie88 have you been able to reproduce the problem? if so, please share a core with us as instructed

[2017-08-28 14:12] simonemainardi commented on #1406
@shaoranrch thanks for reporting.

Empty throughputs have been fixed -- that was an nProbe issue. A new build will be released overnight CEST, wait until tomorrow and update your nprobe.

Anyway, note that you are calculating throughputs from netflow flows. This will tend to smooth the values values (especially maximums) as nProbe can't do a packet-by-packet processing and has to update throughput

[2017-08-28 14:12] #1406 closed, assigned to simonemainardi

[2017-08-28 14:24] lucaderi commented on #1404
@crafter999 If you download http://luajit.org/download/LuaJIT-2.1.0-beta3.tar.gz it will build on ARM64. As soon as LuaJIT 2.1 will mode to stable, we'll adopt it as standard release version.

[2017-08-28 17:10] simonemainardi commented on #1402
Fixed. Thanks for reporting.

A new release will be built overnight CEST.

[2017-08-29 06:18] myfingerhurt commented on #1413
sorry, I thought I mentioned that. It was Chrome that I was using. Yes, the same browse.

VPS has zerotier on it, assigned to 10.9.8.10. My Desktop PC also has zerotier installed, assigned to 10.9.8.8

It works perfectly with all other services, such webmin, i2p, so I automatically think zerotier is OK.

Even with iptables redirected and localhost forward? It works with all other services such as

[2017-08-29 08:12] simonemainardi commented on #1413
I think the most probable explanation is that you were experimenting iptables rules using the append with `-A`. So you could have inadvertently added a rule that was actually dropping the traffic destined to ntopng.

Since the reboot flushed the iptables, re-applying the rule could have done the trick.

ntopng doesn't start if the port is occupied

can you try and report?

you can bind ntopng to a

[2017-08-29 08:58] qm2k opened #1415 "Historical Data Explorer handles timezones incorrectly"
I'm running server in UTC timezone, but my browser is on a machine with local timezone, which is +0300 (Moscow). As a result values of `Begin Date/Time` and `End Date/Time` are initially prefilled correctly (in local timezone), but after I press `Search Flows` they shift 3 hours to the future and naturally nothing is found. Every time I press `Search Flows` they are shifted another 3 hours to the

[2017-08-30 06:41] Salami66 opened #1417 "Beginner needs help"
Hi,

I've installed nprobe and ntopng on an ubuntu 16.04 VM and I've read the users guide.
So I wanted to see the traffic from my host pc or the network he is in.

But I don't get it, how to say which network you want to "see" and where you decide that and so on...

I made that: /usr/local/bin/ntopng -i tcp://127.0.0.1:5556
and that: /usr/local/bin/nprobe -i ens33 -n none --zmq tcp://*:5556
on my

[2017-08-30 08:32] qm2k commented on #1402
Top Application Traffic does not seem fixed, and Network Interfaces (both Last Day View and Realtime Traffic) fail to update at all. Tried different browsers, clearing cache and offline data. Did *not* try to clear databases (running with MySQL). v.3.1.170830.
![screenshot from 2017-08-30 11 26 25 cropped](https://user-images.githubusercontent.com/13719792/29862886-8d42ab38-8d76-11e7-9611-a70aa8ef

[2017-08-30 08:51] fatlouis87 opened #1418 "List of application protocols disappeared on the protocol tab"
Is there any kind of problem with displaying the list of application protocols under the protocols tab?

a few weeks ago they all show up with the amount of send/received data.

actually this list is just empty (headers are displayed:

Application Protocol | Duration | Sent | Received | Breakdown | Total
-- | -- | -- | -- | -- | --

protocols for ports and for host traffic are working fine.
ntopng

[2017-08-30 09:25] emanuele-f commented on #1417
Hi @Salami66
In order to monitor all your network traffic, you need to ensure ntopng has visibility over it. You can achieve traffic visibility in two ways:

- Make ntopng sit between your local network and the internet. So your ntopng running pc must have two network interfaces, one connected to the LAN, the other to the WAN. In this setup you can also enforce traffic policies through ntopng.

-

[2017-08-30 11:43] Salami66 commented on #1417
Thanks @emanuele-f !
But I've only the following options:
Briged: Connected directly to the physical network (thats the one I wanted to take)
NAT: Used to share the host's IP address
Host-only: A private network shared with the host
Custom: Specific virtual network

So I can't make an interface connected to the lan and another one connected to the wan?

But another problem is, if I go on 127.0.0.1

[2017-08-30 13:19] emanuele-f commented on #1418
Hi, this has been fixed with commit 2a21832c54823485d78b3a4d3ec9b90c5bc593ba . Thank you for reporting.

[2017-08-30 13:19] #1418 closed, assigned to emanuele-f

[2017-08-30 13:36] emanuele-f commented on #1417
The VM adds another layer of possible problems when configuring such a setup, so I can suggest you to try with a bare metal setup first (e.g. an old pc) and then possibly move to a VM.

For a basic setup monitoring, you can do the following
- Your pc must have 2 ethernet interfaces (plus one management). Connect one interface to the WAN and the other to the LAN. The management should be connected

[2017-08-30 15:21] dgettis opened #1419 "Traffic Report Not Showing Host Aliases"
I have assigned host aliases to most of the IP's on our local network, and while they display in Looking Glass, they do not display in Traffic Report - only the IP address is shown under "Top Local Hosts." If I click on a particular IP from the Traffic Report, then click "Set Host Alias," sure enough the alias is there. How do I get Traffic Report to display the aliases?

I'm running ntopng 3.1.17

[2017-08-31 07:39] emanuele-f commented on #1411
Closing for inactivity, please reopen if necessary

[2017-08-31 07:39] #1411 closed, assigned to nobody

[2017-08-31 09:03] simonemainardi commented on #1402
Issue is now fixed also for top applications.

However, everything updates properly here (tested both with safari and chrome). Note that last day charts refresh once every 2 minutes and not every 3 seconds as the realtime charts.

Please, try to use the browser inspector to see if there are any errors on your side.

[2017-08-31 09:06] simonemainardi commented on #1417
To use a bridge under a VM you may want to use PCI passthrough to grant exclusive NIC control to the VM.

Here are the instructions to configure it with KVM/QEMU: https://github.com/ntop/PF_RING/blob/dev/doc/README.virsh_hostdev.md

[2017-08-31 09:06] #1417 closed, assigned to nobody

[2017-08-31 09:07] simonemainardi commented on #1413
Safe to close now as issue is solved.

[2017-08-31 09:07] #1413 closed, assigned to nobody

[2017-08-31 09:08] simonemainardi commented on #1405
Closing for inactivity. In necessary, please reopen with information requested.

[2017-08-31 09:08] #1405 closed, assigned to nobody

[2017-08-31 09:08] simonemainardi commented on #1403
@Howard-Chang any news?

[2017-08-31 09:25] qm2k commented on #1402
There're indeed errors in the Chromium console (still on v.3.1.170830):
[code]

Interestingly, first update is successful (one bar is always drawn on `Network Interfaces: Realtime Traffic`), the error only appears on second and repeats from there on.

[2017-08-31 09:30] simonemainardi commented on #1402
Can you follow the hyperlinks on the stacktrace and jump to the source code? Understanding the exact point in the lua or js file that causes the exception will be very helpful.

[2017-08-31 14:00] qm2k commented on #1402
3195 is `iface_lastday_data.values.push([ epoch, num_bytes/epoch_diff ]);`, 3217 is `console.log(e);` in the catch block in the end.
[code]

[2017-08-31 15:46] qm2k opened #1420 "Feature request: search by AS in Historical Data Explorer"
I.e. when I'm seeing 46489 [Twitch Interactive Inc.] on top of Traffic Report I'd like to find corresponding flows but /lua/hosts_stats.lua?asn=46489 produces nothing (probably because data were already purged from memory) and there's no option to input AS in Historical Data Explorer so finding corresponding hosts is very hard.

(One would think that search by Application Protocol could work in th

[2017-08-31 16:42] ghost commented on #318
31/Aug/2017 13:41:16 [MySQLDB.cpp:667] Successfully connected to MySQL [10.44.19.57:root] for interface eth0
31/Aug/2017 13:41:16 [MySQLDB.cpp:697] ERROR: MySQL error: [Can't create/write to file '/var/tmp/psylrOeUh' (Errcode: 2)][CREATE TABLE IF NOT EXISTS `flowsv6` (`idx` int(11) NOT NULL AUTO_INCREMENT,`VLAN_ID` smallint(5) unsigned DEFAULT NULL,`L7_PROTO` smallint(5) unsigned DEFAULT NULL,`IP_

[2017-08-31 16:44] ghost commented on #318
help,  what can it be?

[2017-09-01 07:48] simonemainardi commented on #318
Check I/O permissions, MySQL is complaining he can't write/create a file.

What are you ntopng and OS versions? And the ntopng startup line used?

[2017-09-01 07:50] simonemainardi commented on #1420
did you know that you can use subnets in the historical data explorer SRC/DST host? You can specify the subnet corresponding to the AS of interest.

[2017-09-01 08:06] qm2k commented on #1420
Technically yes, but as far as I understand single AS can have many subnets, and finding/checking them all would require significant effort on top of no way to see whole picture...

[2017-09-01 09:38] #1415 closed, assigned to nobody

[2017-09-01 09:39] simonemainardi commented on #1415
thanks for reporting, issue is fixed and will be available starting from tomorrow

[2017-09-01 09:40] atbunds opened #1421 "login.lua "graph_zoom" parameter error: Missing validation"
Hello,

done an upgrade to ntopng 3.1.170901-3176 today, but ntopng (Small Business licence) does not restart anymore.

Browser shows the message:

Script "/usr/share/ntopng/scripts/lua/login.lua" returned an error:
/usr/share/ntopng/scripts/lua/modules/http_lint.lua:1026: [LINT] _GET["graph_zoom"] = "3h" parameter error: Missing validation

Log on Centos  machine

# cat ntopng.log
01/Sep/2017 10:

[2017-09-01 10:23] simonemainardi commented on #1421
maybe some old, no longer used parameter has remained in the url login page. Can you please check? Make sure the login page url does not contain anything after login.lua

[2017-09-01 10:37] simonemainardi commented on #1402
Thanks for submitting this info.

I tried on several installations and still can't reproduce.

Anyway, from the evidence provided I can see that `iface_lastday_data` is undefined. This implies that find() returned undefined here:

[code]

Can you place a breakpoint in the console debugger right at that line? Check the contents of `ifaces_lastday_data` they must contain an element for every interfa

[2017-09-01 11:08] atbunds commented on #1421
Hello Simone,
thank's for the quick response. You are right, my bookmarks contained some
stuff from the past. After opening the URL with the defaults the site
opened as usual. Please close the ticket as resolved.

Thank you a lot and have a nice weekend!

Kind regards
Andreas

On Fri, Sep 1, 2017 at 12:23 PM, simonemainardi <notifications@github.com>
wrote:

[2017-09-01 11:55] simonemainardi commented on #1421
thanks for reporting :)

[2017-09-01 11:55] #1421 closed, assigned to nobody

[2017-09-01 13:11] jpVm5jYYRE1VIKL opened #1422 "Ntopng high cpu usage without any traffic"
Ntopng permanently reload and reinterpret  lua scripts in endless loop.
Due to it. After you start ntopng even without any flows you constantly see 10 -20 % CPU usage by ntopng process.
As you see in extraction below ntopng constantly search , load , interpretate  and execute  lua scripts again and again. Basically i think it is program design error.
Why just not load it once and reload it if need

[2017-09-01 14:16] qm2k commented on #1402
Did as you asked, found the problem. I assigned all my interfaces some names, so `key` doesn't equal `ifname` in `ifaces_lastday_data`:
[code]
Thus condition `el.key == if_name` in `find` always fails. Quick local fix would probably be changing condition to `el.ifname == if_name` .

[2017-09-02 01:23] tylerszabo commented on #297
I was able to get version 3 installed on PFSense 2.3.4-RELEASE-p1 by doing the following:

`pkg install libunistring-0.9.7`
`pkg add -f http://packages.ntop.org/FreeBSD/x64/ntopng/ntopng-3.1.170604.txz`

The version in the 2.4/devel repo would segfault on me, as would the version from FreeBSD 10 ports.

Hope this helps.

[2017-09-03 16:00] cavedon opened #1423 "getRedis()->lpush may hang on startup"
I have noticed that on my system one out of 10 times I start ntopng, it hangs without event bringing up the web server. This is relevant only when `-e` (for daemonization) is used.

More in details, it hangs at the line in `src/main.cpp`
[code]
The full stack-trace is:
[code]

Looking at the traffic capture between ntopng and redis you can see:
[code]
You can see that two LPUSH commands are sent o

[2017-09-03 16:36] cavedon opened #1424 "ntopng may hang on shutdown"
In case ntopng is listening on an interface with no traffic, after receiving a SIGTERM ntopng will hang forever in `pthread_join(pollLoop, &res)`.
The problem is that ntopng tries to interrupt the sniffer thread with `pcap_breakloop(pcap_handle)`.
However this will not interrupt `pcap_next_ex()`, on which the sniffer thread is blocked on. Interruption will happen only of there is traffic on the in

[2017-09-04 02:54] myfingerhurt commented on #1413
Thank you for your help, apparently when I first installed `ntopng -h`  it was an old version, only supported two options either -w:3000 or -w 3000

Ok, when I'm done, I will report back. But will not do it soon.

[2017-09-04 09:36] qualitycrm opened #1425 "Unable to access Web UI on port 3000"
I am not able to access Ntopng using Web UI on port 3000. Is there any way can I do troubleshooting?

[2017-09-04 10:10] #1423 closed, assigned to nobody

[2017-09-04 12:12] simonemainardi commented on #1425
How did you start ntopng? What do you type in the address bar? What do you get in response?

[2017-09-04 18:00] lucaderi commented on #1422
@jpVm5jYYRE1VIKL In essence each callback lua file is executed in an interpreter that starts/ends with the script. This issue is more evident with second.lua that is started every second. We could avoid restarting the interpreter to optimise the performance (as we do in nProbe) but then we have to implement the script reload (thing that is not currently necessary). Of course it you open the browse

[2017-09-04 19:30] papage opened #1426 "problem with interface views"
Hi all,

My ntopng has the following config regarding the interfaces:
--interface=zc:ens160@0
--interface=zc:ens160@1
--interface=zc:ens160@2
--interface=zc:ens160@3
--interface=view:zc:ens160@0,zc:ens160@1,zc:ens160@2,zc:ens160@3

When I choose each of the native interfaces, ntopng shows the traffic coming from that interface. But when I choose the aggregated one (the view), ntopng shows zero tra

[2017-09-05 05:41] qualitycrm opened #1427 "nProbe License Issue"
I am using nProbe version 8.0.170809. I tried to export netflow data to Manage Engine Server. When i enter "nprobe -i eth0 -n my_exporter_ip:13310" at my ntopng server end, it give me error  below

05/Sep/2017 16:01:57 [plugin.c:176] No plugins found in ./plugins
05/Sep/2017 16:01:57 [plugin.c:184] Loading 24 plugins [.so] from /usr/local/lib

[2017-09-05 07:43] jpVm5jYYRE1VIKL commented on #1422
Yes. Such behavior constant even without browser pointing to ntopng. I even tried already to move all files to RAM disk but because lua every time reinterpret scripts not so much changed. At least decreases io.
You can easy see such behavior yourself with strace -f -p <nptopngpid>. It is really mess to implement it like it is done now. Such kind behavior really HIT over ntopng which installed ESXI

[2017-09-05 08:49] simonemainardi commented on #1402
thanks for reporting, issue is fixed and a new build will be available in the next couple of hours.

[2017-09-05 08:49] #1402 closed, assigned to simonemainardi

[2017-09-05 08:50] simonemainardi commented on #1427
nProbe is not opensource, you may want to get a license just by following the link shown in the error.

[2017-09-05 08:50] #1427 closed, assigned to nobody

[2017-09-05 12:58] simonemainardi commented on #1426
I have just tried to reproduce without success. I properly get traffic also from the interface view. Here's a screenshot of the view four interfaces (pfsend, RSS=4, ZC driver ixgbe)

![image](https://user-images.githubusercontent.com/3397663/30062196-8d0819f4-924a-11e7-8c04-3199c715131c.png)

Can you please post the full ntopng logs? What do you get in the dashboard? and in the flows page?

[2017-09-05 15:00] qm2k commented on #1415
I can confirm it is fixed in v.3.1.170905

[2017-09-05 17:51] simonemainardi commented on #1403
closing for inactivity, no feedback received. Please, reopen with the information requested if necessary.

[2017-09-05 17:51] #1403 closed, assigned to simonemainardi

[2017-09-05 19:07] papage commented on #1426
Here is a screenshot. Everything seems to be like there is zero traffic.
![ntop-allifs](https://user-images.githubusercontent.com/6276532/30078873-0199ba70-9287-11e7-88eb-c423ce37bffe.jpg)

The only difference, I can see, is that in your case, the view: is in the top of the list, where at my case is at the bottom? did you define it before the actual interfaces?

Cheers,
Sp

The log does not seem t

[2017-09-05 20:39] papage commented on #1426
Hi  again,

I just tried:
--interface=view:zc:ens160@1,zc:ens160@0,zc:ens160@2,zc:ens160@3
instead of
--interface=view:zc:ens160@0,zc:ens160@1,zc:ens160@2,zc:ens160@3
and it works!... (the @0 queue goes second in line)
If I change back the order to 0,1,2,3 it doesn't work.

Go figure :-)

Sp

[2017-09-05 21:03] thegeodave opened #1428 "Hosts display - Add total traffic usage by day week or month"
My only purpose for using NTOPNG is getting total daily/weekly or monthly usage by ALL Local Hosts. Not just the top ten. "Seen Since" does not help in displaying or reporting this total. Mainly because the data totals reset after program updates or system restarts. "Seen Since" resetting the totals renders the Hosts display useless. Adding a column by which I could choose day/week/month (regardle

[2017-09-06 08:59] lucaderi opened #1429 "Implement per-interface RRD generation"
From the preferences it is possible to enable RRD generation, however this is a general setting and for some network interfaces we might not be interested in generating RRDs.
It is requested to implement in the interface preferences, an item for disabling (for the selected interface only) RRD generation in case the general RRD generation (specified in ntopng preferences) is enabled.

[2017-09-06 10:29] #1426 closed, assigned to nobody

[2017-09-06 10:35] simonemainardi commented on #1426
Thanks for reporting. That was actually a bit tricky.  The view was trying to repeatedly add itself the its sub interfaces due to the use of `strstr` rather than `strncmp`. Swapping the @0 with @1 determined the assignment of a new id to the interface view. As newly assigned ids are greater than every other existing id, the new interface view was able to find its sub-interfaces correctly.

Anyway,

[2017-09-06 14:04] simonemainardi commented on #1429
Implemented

![image](https://user-images.githubusercontent.com/3397663/30116027-ad347ce0-931c-11e7-8908-1fe059509100.png)

[2017-09-06 14:04] #1429 closed, assigned to simonemainardi

[2017-09-06 15:52] qm2k commented on #1402
Looks fixed in v.3.1.170905

[2017-09-06 16:02] qm2k opened #1430 "Dashboard crashes browser tab or process due to memory leaks"
I've long known that dashboard left to itself crashes tab (in Chromium) or browser (in Firefox) process, and always suspected memory leaks. Today I accidentally left browser console open in Chromium and found tab on "paused before potential out-of-memory crash" state, confirming my suspicions. It took about a day. Didn't take the screenshot since I tried to take heap snapshot using Chromium develo

[2017-09-06 16:36] simonemainardi commented on #1425
Closing for inactivity. No feedback received. Please, reopen with the requested information if necessary.

[2017-09-06 16:36] #1425 closed, assigned to nobody

[2017-09-06 17:00] qm2k opened #1431 "Dashboard Realtime Traffic charts load empty, with the wrong scale"
`Realtime Traffic` charts load empty after each page reload. Moreover, they are prefilled with tick space of one second even if tick space for actual values is different, creating uneven axis when actual values are added to chart:
![screenshot from 2017-09-06 19 14 15 cropped cropped](https://user-images.githubusercontent.com/13719792/30124290-5d47f3c6-933d-11e7-8704-106e6cebbf95.png)
(Compare tim

[2017-09-06 17:18] lucaderi commented on #1424
@cavedon I have a PC with a wlan0 interface and no traffic. Termination occurs properly as pcap_next_ex() will return 0 in case there is no traffic according to the timeout set in pcap_open_live()

Can you please tell me how to reproduce the issue as I am apparently unable to do it?

[2017-09-06 17:58] simonemainardi commented on #1259
No feedback received. Please, reopen with the requested information if necessary.

[2017-09-06 17:58] #1259 closed, assigned to nobody

[2017-09-07 05:38] qualitycrm opened #1432 "How to activate nProbe Trial license"
I have received trial license from Ntopng Tech team. I have to activate this license, How to activate it?

Any steps.

[2017-09-07 07:49] simonemainardi commented on #1432
Fill the form at https://shop.ntop.org/mklicense/ to get a `license key string`.

Create a file named `nprobe.license` and store `license key string` on it.

Such file must be placed:
- [Unix] Under /etc (i.e. echo  `license key string` > /etc/nprobe.license)
- [Windows] On the same directory where nprobe has been installed (i.e. c:\Program Files\Probe\nprobe.license)
--

[2017-09-07 07:49] #1432 closed, assigned to nobody

[2017-09-07 10:09] simonemainardi commented on #1431
Thanks for reporting. Axes initialization is now fixed and will be included in  the next build.

As per the pre-fill of the charts, I can't currently accept the patch as-is. Application top traffic is stored every minute so the realtime chart would look almost flat -- note that the default refresh rate is set to 3 seconds, yielding just 3 different levels in the whole chart. This could be confusin

[2017-09-07 10:09] #1431 closed, assigned to nobody

[2017-09-07 10:11] qm2k commented on #1431
Can I then feature request loading true data from server?

[2017-09-07 11:54] lucaderi commented on #1422
Please do not mix issues. if you have a problem with nProbe please open a separate issue.
Let's go back to the original question. ntopng every second even on an interface with no traffic
1) purges flows and hosts
2) runs second.lua and housekeeping.lua

Of course if you have many network interfaces open, you need to multiply the workload for the number of interfaces, and this can of course contrib

[2017-09-07 11:54] #1422 closed, assigned to lucaderi

[2017-09-07 14:27] simonemainardi commented on #1398
Implemented as a preference under Interfaces:

![image](https://user-images.githubusercontent.com/3397663/30168034-8638ddc6-93e8-11e7-8121-7552e6e970c3.png)

As you can see now (by using the pcap provided) both src and dst ips and ports are those in the post-nat:

![image](https://user-images.githubusercontent.com/3397663/30168021-7ad0b67a-93e8-11e7-920e-51ce255b5e42.png)

[code]

New builds will

[2017-09-07 14:27] #1398 closed, assigned to nobody

[2017-09-07 15:17] dgettis opened #1433 "Traffic Report not Showing "Top Local Hosts" and other Data for One Week or More"
This seems to be a recurring problem - see bug #680 and #813, which Ntop claims to have fixed, but in reality persists.  If I generate a taffic report for longer than one day (i.e., one week or more), none of the data below "Application Breakdown" is displayed - i.e., I am missing Top Countries, Top Local Hosts, Top Remote Hosts, and Top ASN. My interest lies particularly in "Top Local Hosts" - wi

[2017-09-07 15:41] simonemainardi commented on #1430
are you able to investigate using the browser profiler and suggest the possible source of the leak?

[2017-09-07 16:46] simonemainardi commented on #1433
The error you get "not_enough_memory" means the there's no more room available in the Lua VM. It is not the overall system memory.

To try and mitigate this error, I have added a preference that allows you to control the aggressiveness of an heuristic used to compute the top-k in the report.

![image](https://user-images.githubusercontent.com/3397663/30174744-634cfdba-93fc-11e7-859d-48abaab040f7.p

[2017-09-07 17:00] simonemainardi commented on #1420
Searching historical flows by autonomous system would require adding an extra column and index on the database. This is something we would like to avoid as we believe the database has already too many columns and performance may very easily be affected by extra database indices.

As a working solution to address this issue I suggest you to create traffic profiles matching autonomous systems IP ran

[2017-09-07 17:00] #1420 closed, assigned to nobody

[2017-09-07 18:05] thegeodave commented on #1433
My NTOPNG is at the latest stable version and I see the same issue. I personally would like to see more than just the top 10. Change it to the top 100! Regardless, in the Hosts display (display local hosts only report) Maybe a solution to my issue #1428 would help you out and hopefully many others also.

[2017-09-08 07:21] jpVm5jYYRE1VIKL commented on #1422
It is no problem with Nprobe. It is race conditions and extra cpu load inside NTOPNG. CPU load depend from your point of view.
  PID USER      PR  NI    VIRT    RES    SHR S  %CPU %MEM     TIME+ COMMAND
11650 nobody    20   0 1427444 115204  19536 S  11.0  5.6   1035:28 ntopng
14007 nobody    20   0  493808  16652  11080 S   0.3  0.8  15:40.08 nprobe

You can see that current load 11%. (and this i

[2017-09-08 08:51] qm2k commented on #1430
I need it working so I will try when I have time, but any ideas on where to look would be very appreciated since I'm not familiar with the code and cannot really make changes by other means than live-patching.

One particular problem I had tinkering with Javascript of this page is missing return values from setInterval calls. Can you please make version that assigns them all to some variables?

[2017-09-08 09:56] simonemainardi commented on #1430
This issue is really driving me crazy. I spent hours with the chrome debugger trying to compare allocations between consecutive memory allocations. I am still not sure the issue is actually in ntopng. nvd3 issues pointed out several memory leaks in the charts. So I tried to perform an un update of the library from 1.8.4 to 1.8.6. A new build is in progress. Please wait a couple of hours and report

[2017-09-08 13:32] #1410 closed, assigned to nobody

[2017-09-08 13:36] qm2k commented on #1420
Looks like traffic profile is totally valid solution as long as there's an easy way to create traffic profiles matching autonomous systems IP ranges. Will check this possibility next time. Hope that newly created traffic profile applies to earlier recorded data too.

[2017-09-08 13:46] qm2k opened #1434 "Feature request: store dashboard realtime data on server and preload it with the page"
There're many reasons for user to refresh dashboard page including version updates, browser/javascript instability and change of monitored interface/other settings. Unfortunately, in each case realtime data gets lost since it is apparently only stored in browser window and replaced with zeroes on page load. It is especially painful if Realtime Stats Refresh Rate is long since lost period is large.

[2017-09-08 15:36] simonemainardi commented on #1264
a new download page with the requested features has been implemented:

![image](https://user-images.githubusercontent.com/3397663/30219374-271cc198-94bc-11e7-81b9-289b577e7d9f.png)

results are returned as a JSON attachment so no more issues with large results shown in the browser.

[2017-09-08 15:36] #1264 closed, assigned to nobody

[2017-09-09 13:04] matteoluc opened #1435 "MySQL reconnections"
At least 1 or 2 times a day, ntopng logs off and immediately after reconnects to mysql software.
Is such behavior normal or is it a symptom of a problem?

Yesterday, for example, it happened at midnight as you can see from the attached screenshoot

<img width="685" alt="ultima disconnessione" src="https://user-images.githubusercontent.com/29771833/30240604-b46474da-9573-11e7-8364-0cff0732aa70.png"

[2017-09-09 13:15] matteoluc opened #1436 "doubt about detecting malware"
I downloaded and analyzed some .pcap files from the "malware-traffic-analysis" blog and I have noticed that ntopng gives some warnings both in the "flow" section next to the "L4 Proto" type by adding a yellow triangle next to TCP, and in the "Alert" section reporting "sospicious activity".
In your slides "Network Security Using ntopng" I also saw "Malware detected" alert.

Till now I have never se

[2017-09-10 21:54] lucaderi opened #1437 "Missing AJAX update on lua/mac_details.lua"
All counters are not refreshed via AJAX

[2017-09-11 09:21] #1419 closed, assigned to emanuele-f

[2017-09-11 10:40] simonemainardi commented on #1435
This is normal and is due to the MySQL connection timeouts. Please see this post for a detailed discussion: https://github.com/ntop/ntopng/issues/733#issuecomment-246271728

[2017-09-11 10:40] #1435 closed, assigned to simonemainardi

[2017-09-11 11:14] dgettis commented on #1419
Why was this closed?

[2017-09-11 11:26] simonemainardi commented on #1436
Hover the mouse over the yellow triangle and it will give you the explanation. Alternatively, you can visit the flow "Info" page to get this information under "Flow Status".

![image](https://user-images.githubusercontent.com/3397663/30272086-21064aac-96f3-11e7-9e95-2a57a7428a7d.png)

the alert message describes the explanation as well

Currently, "Malware detected" alerts are no longer issued for

[2017-09-11 11:26] #1436 closed, assigned to simonemainardi

[2017-09-11 13:50] matteoluc opened #1438 "doubt about DNS query"
Is there a way to have IP addresses that have run a specific DNS query?

[2017-09-11 14:29] emanuele-f commented on #1419
Hi, I've committed a fix for this, please wait next build tomorrow. Reopen if necessary.

[2017-09-11 17:06] simonemainardi commented on #1437
Implemented.

Also reworked the layout and added a configuration page to be consistent with other pages:

![image](https://user-images.githubusercontent.com/3397663/30286995-cdeb3d88-9723-11e7-8cc9-3af8ff1ea083.png)

![image](https://user-images.githubusercontent.com/3397663/30287026-e824ca2a-9723-11e7-9fd6-79ba610decc3.png)

[2017-09-11 17:06] #1437 closed, assigned to simonemainardi

[2017-09-12 07:27] Azerothian opened #1439 "Change Autonomous Systems reference site"
Hi,

can we change the linking site on the Autonomous System from robtex to peeringdb, as it is a cleaner website with more useful information.

http://as.robtex.com/as54994.html vs https://as54994.peeringdb.com

Thanks

[2017-09-12 07:35] matteoluc commented on #1436
I correct, sampling done in my network is 1: 1000.
why the "info" field of each stream is empty? (and I get only "blacklist host" warnings)
For example, I noticed that the web filter "flashstart" can see the DNS queries, indeed only there I can see them, instead through ntopng info no.
How can I fix this problem?

[2017-09-12 08:13] simonemainardi commented on #1438
Sure, use the historical explorer, select DNS as application protocol, and opportunely populate the Info field:

![image](https://user-images.githubusercontent.com/3397663/30315073-081dd7d4-97a3-11e7-9fe9-4d9598f5b573.png)

[2017-09-12 08:13] #1438 closed, assigned to nobody

[2017-09-12 08:15] simonemainardi commented on #1436
If you do a 1:1000 sampling then very likely you missed the packets that are necessary to populate the "Info" field and thus it appears as empty. Remember that "Info" is populated with Deep Packet Inspection - extracted information.

If you use a pcap file, does the Info field get populated correctly?

[2017-09-12 08:19] simonemainardi commented on #1433
@dgettis did you try the latest version with the tuning of the Top-K Heuristic?

[2017-09-12 08:20] simonemainardi commented on #1430
@qm2k how is it going after the latest update?

[2017-09-12 08:23] matteoluc commented on #1436
yes, with pcap the "info" field is full.
So for the sampling, do I lose all info of all streams?
What would be the recommended sampling?

[2017-09-12 08:27] simonemainardi commented on #1436
this is expected.

not necessary all, but very likely a lot. If you just pick one packet out of 1000, how would you expect to get all the contents of every stream?

If you want accurate deep packet inspection and thus get all the info fields populated, you should not do any sampling.

[2017-09-12 08:39] matteoluc commented on #1436
the strange thing is that with my data I have never seen both the "info" field full, and previously quoted warnings, so it means I lose all this info.
I'll do some tests by changing the number of discarded packages.

[2017-09-12 08:51] qm2k commented on #1430
Sorry for disappearing, server that's running ntopng among other things developed hardware problems so I had to switch my attention temporarily. I'll update to latest version today and start testing.

[2017-09-12 09:01] simonemainardi commented on #1233
Feature is available with the historical data explorer:

![image](https://user-images.githubusercontent.com/3397663/30317101-6e68b6fc-97a9-11e7-9661-c1a8793da0d0.png)

You can also go beyond simple ports and explore the actual application protocols. In other words you can get 'which protocols are used against this ip during this time'

![image](https://user-images.githubusercontent.com/3397663/303

[2017-09-12 09:01] #1233 closed, assigned to nobody

[2017-09-12 09:25] matteoluc opened #1440 "dependence on mariadb-5.5.52 library"
Trying to install nprobe requires "mariadb-5.5.52-1.el7.x86_64" library, but it has been obsolete from "mysql-community-client-5.6.37-2.el7.x86_64". So I forced the installation and I was able to install it.
But now to update the packages there is the problem of lack of dependence.
How can I fix this problem?

[2017-09-12 09:33] simonemainardi commented on #1440
which operating system?

[2017-09-12 09:34] matteoluc commented on #1440
centOS 7

[2017-09-12 09:36] papage opened #1441 "ntopng and elasticsearch export problems"
Hi all,

I would like to investigate an issue, when exporting flows to ELK.
I am exporting to a single ELK node and that node is underutilized with a CPU load of about 20% and low IOPs.  I think the problem is that ntopng does not try to push ELK to its limits. It pushes a bunch of flows and then waits until ELK has finished. I can see the ELK thread that ntopng connects to,  reaching an average C

[2017-09-12 09:44] simonemainardi commented on #1440
is this an nprobe or an ntopng issue? or both?

[2017-09-12 09:48] matteoluc commented on #1440
only nprobe. But for this reason I can't update all packages.

[2017-09-12 09:57] simonemainardi commented on #1440
Please respect the community.

Do not randomly cut-paste the same issue across multiple trackers https://github.com/ntop/nProbe/issues/212

![image](https://user-images.githubusercontent.com/3397663/30319759-0604d6f6-97b1-11e7-904d-007b47a9de9b.png)

If it is an nProbe issue (thing that has to be verified) there is NO reason to post it here.

[2017-09-12 09:57] #1440 closed, assigned to nobody

[2017-09-12 10:16] matteoluc commented on #1436
the problem may be the version of the netflow flow?
in my case I use netflow v5

[2017-09-12 10:22] simonemainardi commented on #1436
Deep packet inspection technology is only available when monitoring raw packets. It is technically not possible to do it on NetFlow because it does not contain raw monitored traffic packets.

[2017-09-12 13:05] simonemainardi commented on #1430
I have been monitoring dashboards on several installations and didn't notice any significant increase in the memory used.

Browser heap snapshots are now always below 30MB...

Hope it is solved.

[2017-09-12 15:05] dgettis commented on #1433
Thanks so much, simonemainardi! I will have a chance to try it out tomorrow, and then I will report back.

[2017-09-12 20:14] juesor opened #1442 "unable to start nprobe after updating today to 8.1.170912-5883"
# systemctl start nprobe
A dependency job for nprobe.service failed. See 'journalctl -xe' for details.

Sep 12 15:08:11 nprobe.acentek.net polkitd[28648]: Registered Authentication Agent for unix-process:7114:3094585724 (system bus name :1.17465 [/usr/bin/pkttyagent --notify-fd
Sep 12 15:08:11 nprobe.acentek.net systemd[1]: Starting Start/stop pfring service...
-- Subject: Unit pf_ring.service has

[2017-09-13 06:53] qm2k commented on #1430
v.3.1.170912. RSS of the whole Chromium rendering process is a bit worrying:
![screenshot from 2017-09-13 09 45 03](https://user-images.githubusercontent.com/13719792/30363297-47bc963a-9868-11e7-9325-94bb554c74b5.png)
Probably it will stop growing after some time, will see. Heap snapshot is indeed 30MB, but I'm not sure it correctly reflects all overheads (e.g. of many small objects).

If you thin

[2017-09-13 09:09] emanuele-f opened #1443 "RuntimePrefs does not handle redis sets and hashes"

[2017-09-13 11:10] learnhub17 opened #1444 "ntopng to monitor multiple remote Netflow devices simultaneously"
I am able to run centralized ntopng which is successfully monitoring  WAN end(router) by enabling netflow over cisco-router.
Config ntopng:
-i=tcp://127.0.0.1:5555
Config nprobe:
nprobe --zmq "tcp://*:5555" -i none -n none --collector-port 2055 &

Now among 20 servers I want to monitor 10 server, where the 10 servers traffic will send to the same centralized ntopng server. which is quite difficult

[2017-09-13 16:06] emanuele-f commented on #1444
Hi, you can create virtual interfaces based on the router ip address. Please check out the Network Interfaces section of the ntopng preferences.

[2017-09-14 05:32] qm2k commented on #1430
Ok, it stabilized:
![screenshot from 2017-09-14 08 23 37](https://user-images.githubusercontent.com/13719792/30413339-0e6d1a30-9926-11e7-83a5-bba1ad87cc6c.png)
(a huge spike is me opening developers tools).

P.S. Heap snapshot is 35.9MB.

[2017-09-14 07:38] simonemainardi commented on #1430
I think the sawtooth behaviour charted is normal and is due to the periodic garbage collections. It is important to observe that is stabilizes after a while.

What about the dashboard? Does it continue to crash?

[2017-09-14 08:29] SirBlues opened #1445 "ERROR: Unable to start HTTP server (IPv4) on ports 3000启动报错"
[root@localhost ntopng]# ntopng
14/Sep/2017 16:27:10 [Ntop.cpp:1361] Setting local networks to 127.0.0.0/8
14/Sep/2017 16:27:10 [Redis.cpp:109] Successfully connected to redis 127.0.0.1:6379@0
14/Sep/2017 16:27:11 [NetworkInterface.cpp:229] Executing ethtool -K enp1s0f0 gro off gso off tso off
14/Sep/2017 16:27:11 [NetworkInterface.cpp:229] Executing ethtool -K enp1s0f0 gro off gso off tso off
14/

[2017-09-14 08:32] qm2k commented on #1430
It obviously didn't crash during 2 days of measurements which is very good, but to be sure I'd need to wait more. I started another instance in Firefox since it's more important for me and it crashed harder, will see.

[2017-09-14 08:56] simonemainardi commented on #1445
[code]

means that there's some other process using port 3000.

do a

[code]

to find who is using port 3000. Very likely there's another instance of ntopng running there. Stop the running instance before trying to run a new instance on the same port.

[2017-09-14 08:56] #1445 closed, assigned to nobody

[2017-09-14 09:04] simonemainardi commented on #1444
You can separate every single router in ntopng by means of virtual interfaces.

Select Probe IP from the preferences and restart ntopng:

![image](https://user-images.githubusercontent.com/3397663/30421206-53ba8d0a-993c-11e7-9390-98df7fb11b29.png)

Please, note that you have to tell nProbe to add field `%EXPORTER_IPV4_ADDRESS` in the template. This is the field that will be used by ntopng to logic

[2017-09-14 09:04] #1444 closed, assigned to nobody

[2017-09-14 09:57] SirBlues commented on #1445
@simonemainardi
[root@localhost ntopng]# netstat -polenta | grep 3000
tcp        0      0 0.0.0.0:3000            0.0.0.0:*               LISTEN      0          41415      7460/ntopng          off (0.00/0/0)

[2017-09-14 10:03] lucaderi opened #1446 "Alert script failure"
14/Sep/2017 09:20:01 [Lua.cpp:6255] WARNING: Script failure [/home/deri/ntopng/scripts/callbacks/minute.lua][/home/deri/ntopng/scripts/lua/modules/alert_utils.lua:1951: attempt to index local 'new_entity_info' (a nil value)]
14/Sep/2017 09:45:00 [Lua.cpp:6255] WARNING: Script failure [/home/deri/ntopng/scripts/callbacks/minute.lua][/home/deri/ntopng/scripts/lua/modules/alert_utils.lua:1951: attemp

[2017-09-14 11:22] simonemainardi commented on #1445
there is another ntopng running... stop it if you want to run another instance on port 3000

[2017-09-14 14:26] qm2k commented on #1398
Somehow I do not see (post-NAT data) it at least for WAN->LAN connections. I provided LAN->LAN example, it is possible that it is different, or the fix does not work. Will follow up with more data.

[2017-09-14 19:19] zeandrade opened #1447 "Error during make - src/NtopGlobals.o [Debian Jessie]"
I'm trying install last ntopng in Debian Jessie.

all steps works fine, but at **make** :
[code]

[2017-09-15 08:41] lucaderi opened #1448 "Create per-category RRDs"
Currently RRDs are created per protocol. This might be useful for sysadmins who need to know exactly at protocol level all details, but it has the drawback to create many RRDs and make the GUI complicated as the number of protocols could be high.

It is requested to change ntopng preferences and make them configurable:
- RRD off
- RRD on per L7 protocol (as today)
- RRD per L7 protocol category

[2017-09-15 08:43] lucaderi opened #1449 "Implement Host protocol category view"
As consequence of #1448 it is requested/lua/host_details.lua?page=ndpi to
- Add a donut chart with protocol categories
- Add counters per protocol category and display them

[2017-09-15 08:44] lucaderi opened #1450 "Implement interface protocol category view"
Similar to #1449 but for interfaces, i.e. /lua/if_stats.lua?page=ndpi

[2017-09-15 15:08] lucaderi opened #1451 "Add device type in mac reports column"
As devices have now a device type, it is requested to modify lua/macs_stats.lua collapse the ARP columns into one (i.e. <sent> / < rcvd>) and on the column left empty, put the device type.

[2017-09-16 16:39] lucaderi commented on #1424
Closed for inactivity, will reopen if necessary. In the meantime a few changes have been made and hopefully the problem is gone.

[2017-09-16 16:48] lucaderi opened #1452 "Implement Ingress/Egress Stats"
The EthStats has been updated and it can now provide ingress and egress stats (in addition to accumulate stats as it has always been).

- EthStats::lua now reports ingress/egress bytes/packets
- NetworkInterface::areTrafficDirectionsSupported reports if a given interface supports traffic directions (e.g. pcap interfaces do not, PF_RING do)

For interfaces that support traffic directions it is requ

[2017-09-17 20:10] lucaderi opened #1453 "Mac address duplications in search box"
![screen shot 2017-09-17 at 22 09 09](https://user-images.githubusercontent.com/4493366/30524477-fb5338cc-9bf4-11e7-8146-714eb0db7f2f.png)

[2017-09-18 07:22] emanuele-f commented on #1447
Hi, you should clone and compile nDPI into the same directory as ntopng `/opt` in your case. However, I suggest you to build everything in your home directory as a standard user and only then perform a `make install`

[2017-09-18 10:45] simonemainardi commented on #1453
https://github.com/ntop/ntopng/commit/e944758b05601df974d26a3d12048d7ddc69f4c7#comments

[2017-09-18 11:04] simonemainardi commented on #1398
I tested with the pcap provided and it works. Remember that you have to upgrade nprobe as well, not just ntopng.

If you experience some other issues, please make sure to provide a pcap so I can reproduce

[2017-09-18 11:12] qm2k commented on #1398
Ok. Will be able to do tests and captures next weekend (I hope).

[2017-09-18 13:34] juesor commented on #1442
This is resolved.

I was unable to resolve this via starting specific services.  Reboot of the VM started everything correctly.

[2017-09-18 13:34] #1442 closed, assigned to nobody

[2017-09-18 14:09] rkriekaard opened #1454 "Geolocation on private IP address range"
Hi,

Would it be possible to include a method to map private IP address ranges to a (external) public IP address, so geolocation can work? I consider this useful as a lot of monitoring (internet traffic) occurs from the inside of the local network.

Kind regards,
Rob Kriekaard

[2017-09-18 21:24] dgettis commented on #1419
emanuele-f, thanks so much! I tried the new build, and it works perfectly!

[2017-09-18 21:25] dgettis commented on #1433
simeonemainardi, I tried the new build, and it works great!! Thank you!!

[2017-09-18 21:28] simonemainardi commented on #1433
wow, thanks for reporting!

[2017-09-18 21:28] #1433 closed, assigned to nobody

[2017-09-19 09:32] emanuele-f commented on #1419
Thank you for reporting!

[2017-09-19 09:47] simonemainardi commented on #1448
Implemented together with a re-organization of preferences. So now it is possible to control both interface and local hosts rrd generation for traffic and Layer-7 (before this commit that was not actually possible and some preferences were also ignored).

![image](https://user-images.githubusercontent.com/3397663/30586471-580607d4-9d30-11e7-8b2a-c9f73ae169c2.png)

[2017-09-19 09:47] #1448 closed, assigned to simonemainardi

[2017-09-19 09:55] simonemainardi opened #1455 "Hide Layer-7 preference when Traffic preference is "Off""
It is requested to hide the multiple-choice button when respective traffic button is off. Both for interfaces and local hosts.

![image](https://user-images.githubusercontent.com/3397663/30586739-3a5b1b42-9d31-11e7-86f0-6492c3c7d89a.png)

[2017-09-19 10:01] simonemainardi opened #1456 "Re-use of multiple-selection preference buttons"
Currently the page breaks and it is impossible to re-use multiple selection buttons carrying the same values within a single page This is due to some javascript code that performs `getElementById` on the `value`of the selection buttons.

For example here I would have wanted to use the same button twice to allow an identical choice both for interfaces and hosts:
![image](https://user-images.githubu

[2017-09-19 11:10] #1453 closed, assigned to emanuele-f

[2017-09-19 12:47] #1456 closed, assigned to emanuele-f

[2017-09-19 13:07] #1455 closed, assigned to emanuele-f

[2017-09-19 13:11] simonemainardi commented on #1449
Implemented along with serialization of hosts ndpi categories data

![image](https://user-images.githubusercontent.com/3397663/30593766-fcae8b10-9d4b-11e7-92e8-1fdc3ad5ea79.png)

![image](https://user-images.githubusercontent.com/3397663/30593779-0ab0ed3e-9d4c-11e7-9b32-c112354de0dd.png)

[2017-09-19 13:18] #1449 closed, assigned to simonemainardi

[2017-09-19 13:25] ghost opened #1457 "make does not respect --prefix="
When I configure ntopng with --prefix=/opt/ntopng and then run make, the json-c, rrdtool and zeromq subdirectories do not inherit --prefix=/opt/ntopng

[code]

The [instructions on how to compile ntopng](https://github.com/ntop/ntopng/blob/dev/doc/README.compilation) do not mention json-c, rrdtool and zeromq are dependencies either.

[2017-09-19 13:38] emanuele-f commented on #1457
They are used internally by ntopng, you don't need to install them

[2017-09-19 13:44] ghost commented on #1457
Oops, sorry to have troubled you.

[2017-09-19 13:44] #1457 closed, assigned to nobody

[2017-09-19 15:58] simonemainardi commented on #1450
Implemented together with ndpi categories for the interfaces (they were previously missing)

![image](https://user-images.githubusercontent.com/3397663/30602105-e7c6bade-9d63-11e7-9f9b-6b232ee1df52.png)

![image](https://user-images.githubusercontent.com/3397663/30602119-f1761c32-9d63-11e7-8754-d663ee0a4bbd.png)

[2017-09-19 15:58] #1450 closed, assigned to simonemainardi

[2017-09-20 07:47] qm2k commented on #1430
It worked for 5 days in Chromium and died for different reason (expiration of certificate exception), so I guess the leak issue is fixed.

[2017-09-20 07:49] simonemainardi commented on #1430
allright, thanks for reporting.

[2017-09-20 07:49] #1430 closed, assigned to nobody

[2017-09-20 09:12] simonemainardi opened #1458 "Unable to change nDPI category for custom --ndpi-protocols"
![image](https://user-images.githubusercontent.com/3397663/30636030-8eaaaf3c-9df4-11e7-866f-1b9eb8121045.png)

20/Sep/2017 11:11:02 [Lua.cpp:6861] WARNING: Script failure [/home/simone/ntopng/scripts/lua/admin/change_ndpi_category.lua][/home/simone/ntopng/scripts/lua/modules/http_lint.lua:1042: [LINT] _POST["ndpi_old_cat_id"] = "�" parameter error: Validation error]

[2017-09-20 16:23] mmajer opened #1459 "build for Streatch-pi (Raspberry ARM)"
Hi,
When did the release of the Raspberry (ARM) package on "Stretch-pi" distribution?
Thanks

Mauro

[2017-09-20 18:46] zeandrade commented on #1447
Ok,Thanks! But they really are in the same directory. (/opt). For now I used the last version available in deb repositories.

[2017-09-20 18:46] #1447 closed, assigned to nobody

[2017-09-21 07:34] qm2k opened #1460 "Dashboard makes unnecessary network requests (1 per second) when update period set to 1 minute"
I have update period set to 1 minute and indeed new information appears on dashboard that often. However, according to various instrumentation, the dashboard:
* makes 3 requests every 3 seconds:
    * /lua/get_hosts_data.lua?mode=local&currentPage=1&sortColumn=column_thpt&sortOrder=desc&long_names=1
    * /lua/get_hosts_data.lua?mode=remote&currentPage=1&sortColumn=column_thpt&sortOrder=desc&long_

[2017-09-21 13:44] lucaderi opened #1461 "View Interface: Unable to aggregate sub interface hosts"
When interface disaggregation is in use (e.g. with VLANs as depicted)

<img width="365" alt="screen shot 2017-09-21 at 15 24 34" src="https://user-images.githubusercontent.com/4493366/30698966-bbb671a6-9ee3-11e7-82a3-958f38470861.png">

the view interface does NOT contain hosts of the sub-interfaces and thus the view interface is empty. Note that setting on the CLI -i view:.... with sub interfaces

[2017-09-21 13:45] lucaderi opened #1462 "Dashboard is useless with many interfaces"
<img width="1344" alt="screen shot 2017-09-21 at 15 44 51" src="https://user-images.githubusercontent.com/4493366/30699001-d4879322-9ee3-11e7-9ad4-e462b6ce8ddb.png">

[2017-09-21 13:48] lucaderi opened #1463 "Aggregated interface names do not honour the expected format"
<img width="296" alt="screen shot 2017-09-21 at 15 48 02" src="https://user-images.githubusercontent.com/4493366/30699181-4f462f7e-9ee4-11e7-8204-f58e0c77b56f.png">

[2017-09-21 14:35] lucaderi opened #1464 "Redundant info displayed with sub-Interfaces"
On a sub-interface (e.g. based on VLAN) we see redundant information such as the VLAN ID
<img width="1440" alt="1" src="https://user-images.githubusercontent.com/4493366/30701469-9f0d9e10-9eea-11e7-9a64-eabd9ae5e103.png">
that is also displayed for instance in flows_stats.lua.

It is required to remove this info and thus simplify the GUI

[2017-09-22 09:29] simonemainardi opened #1465 "Cache Settings Page Broken"
The page doesn't finish the rendering:
![image](https://user-images.githubusercontent.com/3397663/30738066-2d1fb460-9f89-11e7-9fb3-8016fe2c4709.png)

22/Sep/2017 11:26:34 [Lua.cpp:6871] WARNING: Script failure [/home/simone/ntopng/scripts/lua/admin/prefs.lua][/home/simone/ntopng/scripts/lua/modules/prefs_utils.lua:253: attempt to concatenate global 'value' (a nil value)]

[2017-09-22 09:44] simonemainardi commented on #1460
Thanks for pointing it out. Top talkers ajax refreshes (left of the dashboard) now honour the 'housekeeping frequency' set via the preferences. Refreshing in a shorter time was actually unnecessary. So if you set the housekeeping frequency to 1 minute, you should expect the 3 requests to be performed every minute.

A new build will be available tomorrow.

[2017-09-22 09:44] #1460 closed, assigned to nobody

[2017-09-22 09:58] pleoeter opened #1466 "gpg: error reading key: public key not found gpg: no default secret key: secret key not available"
Processing ../ntopng_3.1.170922-3451_amd64.deb...
gpg: error reading key: public key not found
gpg: no default secret key: secret key not available
gpg: /tmp/debsigs-ng.Myq7rl/digests: clearsign failed: secret key not available
E: Signing failed. Error code: 512
Makefile:10: recipe for target 'ntopng' failed
make: *** [ntopng] Error 1

I am continuously getting the error while trying to creat pack

[2017-09-22 15:00] #1465 closed, assigned to emanuele-f

[2017-09-22 15:42] #1464 closed, assigned to simonemainardi

[2017-09-22 21:00] lucaderi commented on #1461
As you can see drop counters for the view interface are wrong
![screen shot 2017-09-22 at 22 59 32](https://user-images.githubusercontent.com/4493366/30764089-bbe87320-9fe9-11e7-9531-d06366a6be9d.png)

[2017-09-22 21:02] lucaderi opened #1467 "AS Graphs are not produced with Sub-Interfaces"
![screen shot 2017-09-22 at 23 02 23](https://user-images.githubusercontent.com/4493366/30764176-1e65d9b6-9fea-11e7-862c-05751d4aaf63.png)
![screen shot 2017-09-22 at 23 02 00](https://user-images.githubusercontent.com/4493366/30764177-1e8beef8-9fea-11e7-95d1-642034823a12.png)

[2017-09-22 21:03] lucaderi opened #1468 "ASN are repeated more than once in view interfaces"
![screen shot 2017-09-22 at 23 02 23](https://user-images.githubusercontent.com/4493366/30764220-44e24b10-9fea-11e7-83e3-1bd1f32f5ad5.png)

[2017-09-22 21:07] lucaderi opened #1469 "Add preference for network discovery"
For some reason (e.g. an interface with mirror traffic) some interfaces cannot be used for network discovery. It is requested to add a preference on the GUI to disable discover on this interface if the administrator wants to toggle this preference.

[2017-09-22 21:48] lucaderi commented on #1461
![screen shot 2017-09-22 at 23 47 19](https://user-images.githubusercontent.com/4493366/30765544-80a938f6-9ff0-11e7-84e1-59e4ac9a3cad.png)
As well all other counters are 0 on view interfaces.

[2017-09-23 06:08] lucaderi opened #1470 "Runtime preferences are not properly handled"
RuntimePrefs.cpp is half implemented and not all preferences are properly handled when set

[2017-09-23 06:11] lucaderi opened #1471 "Category RRDs are not created for virtual interfaces"
Suppose to disaggregate traffic for ethX based on VLAN and to set in preferences the creation of L7 RRDs per categories.
ntopng does not create category RRDs and reports the following error
23/Sep/2017 08:05:01 [Lua.cpp:6432] WARNING: Script failure [/home/deri/ntopng/scripts/callbacks/5min.lua][/home/deri/ntopng/scripts/callbacks/5min.lua:101: opening '/var/tmp/ntopng/4/rrd/Unspecified.rrd': No s

[2017-09-23 06:17] lucaderi opened #1472 "User interface is inconsistent"
Recent changes in ntopng user interface have introduced mixed logic. For instance see the two enclosed examples. In interface preferences some fields (e.g. Custom Name) require the save button to be saved to write the preference value, whereas others (e.g. Trigger Interface Alerts) do not.

![screen shot 2017-09-23 at 08 11 56](https://user-images.githubusercontent.com/4493366/30770687-e349a356-a0

[2017-09-23 06:22] lucaderi opened #1473 "Implement per-MAC RRDs"
In LANs per-IP RRDs might be misleading as IP addresses might be assigned dynamically to hosts and thus in a RRD we might mix traffic coming from different devices and thus different users.

In this context per-IP RRDs are useless, and it would be necessary to implement per-MAC RRDs.

It is requested to implement a new preference that allows you to select if RRDs are not created at all, created pe

[2017-09-23 06:27] lucaderi opened #1474 "Implement RRD cleanup"
After #1473 is implemented, supposing to set per-MAC RRDs, there is a new challenge to face with. In fact in case a ntopng administrator decides to create per-MAC RRDs and in case an interfaces has many guest MACs (e.g. when using ntopng to monitor a public WiFi where users connect and disconnect very frequently and most users are not persistent), we will end-up filling up the storage with MAC RRD

[2017-09-23 06:30] lucaderi opened #1475 "AS View contains ASs with no hosts"
![screen shot 2017-09-23 at 08 29 42](https://user-images.githubusercontent.com/4493366/30770772-64e5517e-a039-11e7-86b9-65b6422ee545.png)

[2017-09-23 06:32] lucaderi commented on #1461
After the latest fixes the behaviour changed. Even though physical interfaces have traffic, the view interface reports no traffic. Please remember that we use VLAN disaggregation.

![screen shot 2017-09-23 at 08 31 46](https://user-images.githubusercontent.com/4493366/30770794-d203c844-a039-11e7-9849-f61c8263d75c.png)

[2017-09-23 06:38] lucaderi opened #1476 "Implement per-category Top RRDs"
When per-category RRDs are set, it is not possible to see the top categories for an interface (as it happens with top L7 protocols). It is requested to implement this also with categories.

![screen shot 2017-09-23 at 08 37 02](https://user-images.githubusercontent.com/4493366/30770825-6c7e5f42-a03a-11e7-8db5-5a8e2cee0df8.png)

[2017-09-23 08:55] emanuele-f opened #1477 "Add the ability to set a shaper on a flow"
This shaper, if set, has priority on the flow peers host pool shaper.

[2017-09-23 09:17] qm2k commented on #1460
Updated to  v.3.1.170923 and lost all my settings. Tried to restore them from memory but `Top Local Talkers` and `Top Remote Destinations` tables now update every 5 seconds. Realtime Traffic charts update every 60 seconds like they should. Can you please tell where 5 seconds comes from? `Hosts Statistics Update Frequency` is set to 60 seconds, and so is `Realtime Stats Refresh Rate` of each interf

[2017-09-23 09:41] emanuele-f opened #1478 "Implement host pool active devices count"
It is also required to expose the count to lua

[2017-09-23 12:56] qm2k commented on #1398
Please see pcap and screenshots [here](https://rqc.box.com/s/ehh9ukfo69946nn635l788inb5id32qk) . There're 4 flows there:
* 600113499: [LAN to WAN](https://rqc.box.com/s/lo3htwv0w0xshqlqr85lo0lbefaajgj7) with dynamic NAT but no port forwarding. Ports and hosts are correct, but client and server are mixed up (interchanged) which also needs fixing.
* 600114936: [WAN to LAN](https://rqc.box.com/s/kzkn

[2017-09-23 13:14] qm2k commented on #1398
P.S. Re-did all tests with second switch (`Use Post-Nat Source IPv4 Addresses and Ports`) off. [Nothing changed](https://rqc.box.com/s/mlm9jakcg2ii9ooezp4re0hcoa68jz0s).

[2017-09-24 21:43] mjducharme opened #1479 "Devices menu empty"
We had a problem with our ntop server where it ran out of disk space (MySQL grew to 180GB) so we were forced to delete the databases. They were recreated and ntop is running again, but now the "Devices" menu is empty, so we are unable to add the core routers and their IP addresses for SNMP, so that we can see the interface names.

[2017-09-25 10:03] simonemainardi commented on #1479
can you please check if the issue is still occurring with version `v.3.1.170925`?

What is the ntopng configuration used?

[2017-09-25 10:56] emanuele-f opened #1480 "Implement daily schedule, per protocol and per pool"
The daily schedule bitmap field is already there in redis, it only needs to be implemented in the C core

[2017-09-25 10:59] emanuele-f opened #1481 "Implement per pool global time limit"
It is requested to change the way the global time quota works for host pools (default shaper). It should be used as an upper limit for the overall daily pool traffic rather than a fallback for the protocol match.

[2017-09-25 12:20] lucaderi commented on #1480
@emanuele-f What is this issue about? Please explain.

[2017-09-25 12:44] emanuele-f commented on #1480
The issue is about implementing a check in the host pools policies, blocking the traffic in specified hours of the day. E.g. a user is only allowed to surf the web from 8 to 16 every day. This should work both on a per-protocol basis and on an host-pool basis.

Rather than using a start and end time, the implementation should use the already provided bitmap and perform the checks on a per-hour bas

[2017-09-25 14:24] #1461 closed, assigned to simonemainardi

[2017-09-25 17:32] simonemainardi commented on #1470
Code has been refactored (simplified) and now RuntimePrefs class has been removed.

https://github.com/ntop/ntopng/commit/81e6c6a3e8a7d826c52979f15ad9dffbb4892610

[2017-09-25 17:32] #1470 closed, assigned to simonemainardi

[2017-09-25 17:32] simonemainardi commented on #1443
no longer needed after implementation of redis dump/restore and deletion of class RuntimePrefs

[2017-09-25 17:32] #1443 closed, assigned to simonemainardi

[2017-09-26 01:29] mjducharme commented on #1479
Yes it still occurs with 3.1.170925.

The config used is below:

--pid /var/run/ntopng/ntopng.pid
-U nobody
--http-port 56099
--https-port 443
-F "mysql;localhost;nprobe;flows;nprobe;REDACTED"
--mysql-skip-db-creation
-i tcp://127.0.0.1:1234c
--dns-mode 3
--redis localhost
--data-dir /opt/storage/ntopng
--online-license-check
--local-networks="REDACTED"

[2017-09-26 01:31] mjducharme commented on #1479
We also had to delete the contents of /opt/storage/ntopng (the directory itself was not touched though)

[2017-09-26 09:13] dsubariyanto opened #1482 "Compiling on MacOS failed"
I had en error when compiling (use default branch)
[code]

Need advice

[2017-09-26 10:06] simonemainardi commented on #1482
did you follow build instructions at: https://github.com/ntop/ntopng/blob/dev/doc/README.compilation

did you run `./autogen.sh && ./configure`?

[2017-09-26 11:51] dsubariyanto commented on #1482
Yes, I've follow the steps, the autogen.sh and ./configure run smoothly.

[2017-09-26 12:45] #1446 closed, assigned to simonemainardi

[2017-09-26 14:03] emanuele-f opened #1483 "Add Secure attribute to Set-Cookie header when running HTTPS"
The `secure` attribute instructs the browser to avoid passing cookies into insecure channels. https://tools.ietf.org/html/rfc6265#section-4.1.2.5

`HTTPserver.cpp` should be modified to add the `Secure` attribute to the `Set-Cookie` HTTP header whenever the server is running in HTTPS.

Example:

`Set-Cookie: session=%s; path=/; expires=Thu, 01-Jan-1970 00:00:01 GMT; max-age=0; HttpOnly`

becomes

[2017-09-26 15:04] emanuele-f opened #1484 "Drop SSLv3 support"
Mongoose, the HTTP server used by ntopng, supports SSL 3.0 connections. SSL 3.0 is vulnerable to attacks, and as such should be dropped. This will prevent outdated clients (which still allow SSL 3.0), to negotiate the 3.0 version of the protocol.

https://blog.mozilla.org/security/2014/10/14/the-poodle-attack-and-the-end-of-ssl-3-0/

`mongoose.cpp` should be patched to avoid using the SSL 3.0 prot

[2017-09-26 15:16] emanuele-f commented on #1484
Here is a list of SSL protocol versions considered insecure, wrt the cipher used:

https://en.wikipedia.org/wiki/Transport_Layer_Security#Cipher

[2017-09-26 15:40] nanook72 commented on #1484
Ran the find but coming up empty.  I installed this on a Security Onion system which is using apache2 for the web server.

[2017-09-26 15:50] emanuele-f commented on #1484
The patch must be done on the ntopng source. I think you probably installed ntopng from packages, so please wait for our patch.

[2017-09-26 15:52] nanook72 commented on #1484
Sounds good thank you so much for your help!

[2017-09-26 15:58] rgstephens opened #1485 "Customize Alerts"
I have setup a network of MQTT servers and generate a lot of MQTT traffic.  Every packet shows up as Suspicious Activity.  I'd like to be able to disable suspicious activity associated with traffic by port.

Is there a file somewhere that defines the alerts and can be customized?

[2017-09-26 16:02] #1482 closed, assigned to nobody

[2017-09-26 16:03] simonemainardi commented on #1482
Refresh the sources and try again.

[2017-09-26 16:07] simonemainardi commented on #1479
can you please send a capture of page about.lua?

Note that SNMP is only available with ntopng Enterprise.

[2017-09-26 16:14] simonemainardi commented on #1485
do you get this in the Flow Alerts page? What is the alert message you get?

[2017-09-26 16:19] simonemainardi commented on #1475
Issue is fixed with the latest changes. One may experience a zero number of hosts only upon ajax page refreshes provided that all the hosts belonging to a given AS have been purged.

[2017-09-26 16:19] #1475 closed, assigned to simonemainardi

[2017-09-26 16:29] mjducharme commented on #1479
![ntopng-about](https://user-images.githubusercontent.com/1851874/30871897-399b36d0-a29d-11e7-8ffd-f43042846317.PNG)

[2017-09-26 16:39] simonemainardi commented on #1479
OK, so you have a licensed Professional version. SNMP requires Enterprise.

[2017-09-26 16:40] mjducharme commented on #1479
When did this change? It used to be that the Professional edition supported basic SNMP, and the enterprise edition supported per interface graphs. The product comparison on your website still says this is the case.

[2017-09-26 16:43] mjducharme commented on #1479
The website says that both professional edition and enterprise edition have "Query SNMP devices data, such as port status, traffic and and MAC address information"

Only the enterprise edition has "Visualize and historicise SNMP per-device-port traffic"

Or has this changed and you have now revoked all SNMP privileges from Professional edition users who previously had them?

[2017-09-26 17:05] emanuele-f commented on #1484
This is fixed with commit f36a2b1dd5f49ea46d6389f16ca66b27bcba4764 . I tried scanning ntopng with https://github.com/mozilla/cipherscan/ and found in my case it was *not* offering SSLv3 certificate, so maybe it depended on software library used. Nevertheless, with the fix SSLv3 should always be avoided.

What scanner are you using to test ntopng? Can you double check the tomorrow version of ntopng

[2017-09-26 17:05] simonemainardi commented on #1479
Sorry, we didn't revoke anything.

SNMP data is still available in the Professional version. You just have to look in the host page under the SNMP tab

![image](https://user-images.githubusercontent.com/3397663/30873469-ab6b4d18-a2ed-11e7-99a8-b482191ad825.png)

You can configure the SNMP community under the preferences

[2017-09-26 17:07] mjducharme commented on #1479
But then how do you explain why the "Devices" menu is now empty where it used to have an SNMP option, and I had added our core routers in there, and then I could see the interface names associated with a certain flow?

I could see that before this problem, and now it is gone.

[2017-09-26 17:07] nanook72 commented on #1484
We are using Greenbone for the vulnerability scanner and my version is ntopng Community Edition v.3.0.170809

From: Emanuele Faranda <notifications@github.com>
Reply-To: ntop/ntopng <reply@reply.github.com>
Date: Tuesday, September 26, 2017 at 12:05 PM
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: nanook72 <tim.wolak@gmail.com>, Comment <comment@noreply.github.com>
Subject: Re: [ntop/ntopng] Dro

[2017-09-26 17:23] mjducharme commented on #1479
In the feature comparison page, the feature "Query SNMP devices data, such as port status, traffic and and MAC address information" has a link (on the word SNMP) to this page:

http://www.ntop.org/ntopng/monitoring-network-devices-with-ntopng-and-snmp/

I saw that page previously and I had configured our core routers like that and it was working.

The only thing that of course didn't work was the

[2017-09-26 17:46] emanuele-f commented on #1483
Fixed with 0c0b2522973d83d360e0571152dd4cb4edaf7a07 .
Note: the `Secure` attribute is only applied on HTTPS connections.

[2017-09-26 17:46] #1483 closed, assigned to nobody

[2017-09-26 17:47] emanuele-f commented on #1484
Ok, thank you for the info

[2017-09-26 18:22] emanuele-f commented on #479
@peter-manton just experienced the same issue. This is a very old chromium bug, still not fixed https://bugs.chromium.org/p/chromium/issues/detail?id=150066 which prevents chromium from setting cookies on HTTP redirect (302).

A note: with HTTPS it seems to work
Update: opening the developer console -> Application -> Cookies -> http:://127.0.0.1:3000 -> Clear All seems to reset chromium and HTTP l

[2017-09-26 18:51] emanuele-f commented on #1484
@nanook72 I've ported the fixed to 3.0 stable. Please try the tomorrow version of ntopng and report the scan result for this and for #1483. Thank you.

[2017-09-26 20:20] srcshelton opened #1486 "Insecure file & folder permissions beneath /var/tmp/ntopng & /var/lib/ntopng..."
Both `src/Utils.cpp` & `src/Ntop.cpp` call `umask(0)`, causing directories created beneath `/var/lib/ntopng` and `/var/tmp/ntopng` to be created with world-writable permissions `drwxrwxrwx`.

All files created by ntopng are also world-writable.

Surely, a mistake?  `Ntop.cpp` actually states in a comment "`clear any inherited file mode creation mask`" - but writing all files with wide-open permiss

[2017-09-26 22:26] srcshelton commented on #1486
... furthermore, it seems that if the permissions on the directories are updated to be fully accessible to the user ntopng is set to run as (but not the user it is started as), then it will completely ignore any `--data-dir` argument, and will instead create `/var/tmp/ntopng' and a hierarchy of files and directories beneath, all owned by root!

Changing the permissions on the requested data-direct

[2017-09-27 03:05] dsubariyanto commented on #1482
Ok, the source was compiled successfully.
Thanks @simonemainardi 👍

[2017-09-27 08:45] simonemainardi commented on #1466
you have to create your own GPG key (see `gpg --gen-key`) to clearsign the package. Once you have created the key, change https://github.com/ntop/ntopng/blob/dev/packages/ubuntu/Makefile.in#L41 to specify your key identifier.

[2017-09-27 08:45] #1466 closed, assigned to nobody

[2017-09-27 08:54] simonemainardi commented on #1479
I agree with you that the information in the feature comparison page is not accurate enough. I am going to change it now.

Anyway, we didn't remove the SNMP feature, we just re-arranged the way SNMP is accessed through Professional and Enterprise versions. You can still get any core router SNMP information if you visit its host page.

However, I understand that you were familiar with the SNMP devi

[2017-09-27 08:54] #1479 closed, assigned to nobody

[2017-09-27 09:14] simonemainardi commented on #1469
Feature implemented.

A checkbox is shown in the preference page of any discoverable interface when the periodic discovery is enabled from the preferences

![image](https://user-images.githubusercontent.com/3397663/30905367-de1723cc-a374-11e7-89da-5dba7ff7ec0e.png)

![image](https://user-images.githubusercontent.com/3397663/30905404-f83a169c-a374-11e7-9161-0467eca288f3.png)

[2017-09-27 09:14] #1469 closed, assigned to simonemainardi

[2017-09-27 09:19] simonemainardi commented on #1467
Fixed in the latest dev build.

[2017-09-27 09:19] #1467 closed, assigned to simonemainardi

[2017-09-27 09:24] simonemainardi commented on #1414
Preferences have been reworked and RuntimePrefs has been removed. So everything can be used as is. The redis command `KEYS` with wildcard can be used with the guarantee that all the keys matching the specified criteria will be returned.

[2017-09-27 09:24] #1414 closed, assigned to simonemainardi

[2017-09-27 09:26] simonemainardi commented on #1462
The maximum number of interfaces shown in the dashboard is now limited to 8. We should consider making this number configurable and to allow a user to actually select which interfaces he/she wants to see.

[2017-09-27 09:26] #1462 closed, assigned to nobody

[2017-09-27 09:59] dsubariyanto opened #1487 "Crashing on OS X El Capitan with EXC_BAD_ACCESS (SIGSEGV)"
Hello,

I'm currently running from `e224ce548b68fd5e1d63979391af6529c9f187b2 `, after few minutes the process crashing without warning.

Here the crash report:
[code]

[2017-09-27 10:12] simonemainardi commented on #1487
are you able to run ntopng within the debugger `lldb` to get the exact offending line that causes the crash?

[2017-09-27 10:16] #1463 closed, assigned to nobody

[2017-09-27 10:46] #1458 closed, assigned to nobody

[2017-09-27 14:03] dsubariyanto commented on #1487
I never used `lldb` before. Could you give me step-by-step to do that?

[2017-09-27 15:42] simonemainardi commented on #1487
cd into ntopng directory; then do a

`sudo lldb ./ntopng`

and run it with r <plus the ntopng options of configuration file>, e.g.:

[code]

let it run. When it crashes type `bt` and you should see the exact point of the crash.

[2017-09-27 15:54] rgstephens commented on #1485
It shows up under Queued Alerts.  Here's the message:

[code]

[2017-09-27 16:34] dsubariyanto commented on #1487
Okay thanks for the instruction, will update once I get the result

[2017-09-27 23:38] lucaderi opened #1488 "Alerts are not disabled as they should"
When alerts are disabled as in the picture below
<img width="571" alt="screen shot 2017-09-27 at 17 34 29" src="https://user-images.githubusercontent.com/4493366/30942830-6d6897ce-a3aa-11e7-8ae0-e2d1548cfe8b.png">
clicking on "Flush Alert Data" restores the alerts to on even though they were disabled.

[2017-09-28 07:16] dsubariyanto commented on #1487
Sorry for late response,
I was run ntopng with `lldb` but seems doesn't work
[code]
just enable developer mode by run `sudo /usr/sbin/DevToolsSecurity --enable on` but keep error.
I tried on another Mac (Sierra) with same version of ntopng and run well.

Here I attach the `/var/log/system.log`
[code]

[2017-09-28 08:44] simonemainardi commented on #1487
I think you have to create a codesigning certificate for lldb.

See https://opensource.apple.com/source/lldb/lldb-159/docs/code-signing.txt

[2017-09-28 09:10] dsubariyanto commented on #1487
Here the result when crashing:
[code]

[2017-09-28 09:45] simonemainardi commented on #1487
that is not helpful. Please, generate a core dump and upload it along with the ntopng binary used so I can inspect it.

This can help: https://stackoverflow.com/questions/9412156/how-to-generate-core-dumps-in-mac-os-x

[2017-09-28 09:59] qm2k opened #1489 "Stale version of pfring-dkms stucks in cache"
When doing `apt dist-upgrade` I'm seeing this now (also was hit by it several times before):
[code]

This is because we are using [apt-cacher-ng](https://www.unix-ag.uni-kl.de/~bloch/acng/) here and it keeps returning version `6.7.0.1336` of `pfring-dkms_6.7.0_all.deb` dated 15th of July, despite [Packages](http://packages.ntop.org/apt/16.04/all/Packages) file containing hashes of a newer version

[2017-09-28 10:20] lucaderi opened #1490 "Remove -H flag"
As alerts can be disabled via preferences, please remove the -H flag (and update the documentation), as this is misleading.

[2017-09-28 11:44] qm2k commented on #1460
v.3.1.170928. Global settings preserved, interface settings lost. `Top Local Talkers` and `Top Remote Destinations` tables work again, `get_hosts_data.lua` requests repeat every 60 seconds as they should. There's still one unnecessary `get_http_hosts_data.lua` request every 3 seconds.

[2017-09-28 12:02] qm2k commented on #1398
Re-tested on v.3.1.170928 with same (first on, second off) and reverse (first off, second on) switches position. Same results.

[2017-09-28 13:27] lucaderi opened #1491 "AS Graphs metrics are reverted"
All the AS graph have invalid metrics: received should be sent and vice-versa. Example the following graph is mostly download (i.e. the prevalent direction is from AS 2906 to us) but ntopng reports it the other way round.

<img width="1160" alt="screen shot 2017-09-28 at 07 25 28" src="https://user-images.githubusercontent.com/4493366/30969017-667060ae-a41e-11e7-999c-821ea4503592.png">

[2017-09-28 16:53] simonemainardi commented on #1460
ok, `get_http_hosts_data` adjusted as well.

[2017-09-28 21:41] nickoarg opened #1492 "ntopng segmentation fault"
Im running ntopng compiled from source in AWS EC2 instance

[code]

It starts and after a few seconds, sometimes a minute or 2, it seg faults. I can get to access the web interface and it is logging information and working. But allwasys crashes.

[code]

[core.zip](https://github.com/ntop/ntopng/files/1342422/core.zip)

[2017-09-28 21:48] nickoarg commented on #1492
The Core.zip is tar.gz file.

[2017-09-28 21:51] simonemainardi commented on #1492
can you also enclose the ntopng binary that generated the dump?

[2017-09-28 21:53] nickoarg commented on #1492
[ntopng.bin.zip](https://github.com/ntop/ntopng/files/1342467/ntopng.bin.zip)
Attached

[2017-09-28 22:05] nickoarg commented on #1492
gdb output

[code]

[2017-09-28 22:16] #1492 closed, assigned to nobody

[2017-09-28 22:17] simonemainardi commented on #1492
thanks for reporting, issue is fixed. Please, note that you may also want to run `make geoip` before doing `make` in order to build ntopng with geolocation support.

[2017-09-28 22:18] nickoarg commented on #1492
Thank you! I'll just pull and build again and I'll let you know. Thanks

[2017-09-28 22:34] nickoarg commented on #1492
Fix confirmed. Thank you.

[2017-09-29 06:15] qm2k opened #1493 "Appearance of new interfaces breaks interface charts on dashboard"
I use `Ingress Interface` disaggregation criterion, therefore interfaces may appear dynamically. Each time this happens Network Interfaces charts on dashboard stop updating. The following is seen in the web console:
[code]

`dashboard.lua:2729:1` corresponds to the `if (ifaces_realtime_data[i].values.length > 60)` line in the periodic `/lua/network_load.lua` handler. Looks like `i` goes out of arr

[2017-09-29 06:44] pleoeter commented on #1466
thank you @simonemainardi  , it solved my problem

Now when i give
dpkg -i ntopng_3.1.170925-3460_amd64.deb

it gives me the following , i enables the pf_ring service though
Executing /lib/systemd/systemd-sysv-install enable ntopng
insserv: Service pf_ring has to be enabled to start service ntopng
insserv: exiting now!
update-rc.d: error: insserv rejected the script header
dpkg: error processing p

[2017-09-29 06:55] qm2k commented on #1460
Everything now seem to work as it should, thank you!

[2017-09-29 11:56] simonemainardi commented on #1466
you have to build and install pf_ring dependency before ntopng

[2017-09-29 12:13] hawairan opened #1494 "Error when trying to dump traffic"
![image](https://user-images.githubusercontent.com/31291297/31015432-ba4f054e-a528-11e7-86d3-5c95a0108cc5.png)
![image](https://user-images.githubusercontent.com/31291297/31015438-ca98142c-a528-11e7-9769-5fb4a18ce25e.png)

[2017-09-30 09:07] qianguozheng opened #1495 "NDPI related macro or api not found , where can I install such dependency ?"
weeds@R:~/magicwifi/test/ntopng$ make
g++ -g -Wall -I/home/weeds/magicwifi/test/ntopng -I/home/weeds/magicwifi/test/ntopng/include -I/usr/local/include -D_FILE_OFFSET_BITS=64 -I/usr/include/hiredis -I/usr/include/hiredis -I/home/weeds/magicwifi/test/ntopng/third-party/mongoose -I/usr/local/include/json-c  -I/usr/local/include/libndpi-1.8.0/libndpi -I/home/weeds/magicwifi/test/ntopng/third-party/Lu

[2017-10-02 06:50] pleoeter commented on #1466
@simonemainardi Can you please tell all the steps , because i cannot find them in any single tutorial?

[2017-10-02 08:44] simonemainardi commented on #1466
everything is available on the github PF_RING wiki page: https://github.com/ntop/PF_RING/wiki

[2017-10-02 08:49] simonemainardi commented on #1495
Your nDPI sources are outdated.

Make sure to clone, update and build nDPI code tree before building ntopng.

Instructions are available at: https://github.com/ntop/ntopng/blob/dev/doc/README.compilation#L55

[2017-10-02 08:49] #1495 closed, assigned to nobody

[2017-10-02 10:02] simonemainardi commented on #1494
please tell which version you are currently using (type ntopng --version)

[2017-10-02 11:26] filemoon commented on #1489
+ ntopng cannot be installed w/o pfring

Setting up ntopng (3.1.170928-3496) ...
Rebuilding ld cache...
Adding the ntopng startup script [configure]
Synchronizing state of ntopng.service with SysV service script with /lib/systemd/systemd-sysv-install.
Executing: /lib/systemd/systemd-sysv-install enable ntopng
insserv: Service pf_ring has to be enabled to start service ntopng
insserv: exiting now!

[2017-10-02 12:20] filemoon opened #1496 "pf_ring and armhf issue (new ntopng update problem)"
Unable to update ntopng - pf_ring is needed for ntopng now but deb is not present for armhf.

Setting up ntopng (3.1.170928-3496) ...
Rebuilding ld cache...
Adding the ntopng startup script [configure]
Synchronizing state of ntopng.service with SysV service script with /lib/systemd/systemd-sysv-install.
Executing: /lib/systemd/systemd-sysv-install enable ntopng
insserv: Service pf_ring has to be e

[2017-10-02 13:40] mitchellurgero opened #1497 "Error While building"
During build of this I get error "Makefile:154: recipe for target 'src/HTTPserver.o' failed"

This used to build last week (Monday Sep. 25th) but does not build anymore. I cannot find the reason why this is failing either. I have more logs if needed.

[2017-10-02 14:47] antoniovalenzuela commented on #1496
Same issue raspberry pi3

Synchronizing state for ntopng.service with sysvinit using update-rc.d...
Executing /usr/sbin/update-rc.d ntopng defaults
insserv: Service pf_ring has to be enabled to start service ntopng
insserv: exiting now!
update-rc.d: error: insserv rejected the script header
*** Error in `systemctl': double free or corruption (fasttop): 0x55cc7f78 ***
Aborted
dpkg: error processing

[2017-10-02 15:33] hawairan commented on #1494
hey! im using :

v.3.0.170907 [Enterprise/Professional Edition]
GIT rev:   3.0-stable:8e2a7438a8be70a2209f08cd44940d93bd018230:20170907
Pro rev:   r1101
System Id: 6F03331776076B20
Built on:  Ubuntu 16.04.3 LTS

2017-10-02 13:02 GMT+03:00 simonemainardi <notifications@github.com>:

--
С уважением, Чуйко Павел
*ЗАО ИЭПИ*

Руководитель отдела информационно-технического обеспечения

http://www.acmsu.

[2017-10-02 15:44] simonemainardi commented on #1494
issue is fixed and will be available in the next 24h, please move to version 3.1.

[2017-10-02 15:44] #1494 closed, assigned to nobody

[2017-10-02 16:21] simonemainardi commented on #1497
please, post all the logs, errors and the architecture you are using to build

[2017-10-02 16:22] simonemainardi commented on #1487
@dsubariyanto any news?

[2017-10-02 16:47] simonemainardi commented on #1491
If traffic is prevalently "from AS 2906 to us" then this chart is ok: AS 2906 is sending traffic to you and so it has a very high percentage of sent traffic.

I have also checked this by doing other tests but everything seems to work as expected.

[2017-10-02 16:47] #1491 closed, assigned to simonemainardi, emanuele-f

[2017-10-02 17:29] simonemainardi commented on #1490
implemented

[2017-10-02 17:29] #1490 closed, assigned to nobody

[2017-10-02 17:37] #1488 closed, assigned to simonemainardi, emanuele-f

[2017-10-02 19:07] dsubariyanto commented on #1487
Hi Simone,
You can download the dump file here:
https://www.dropbox.com/s/s6h4l137rx8copn/core.37929?dl=0
for dump file's md5.checksum:
https://www.dropbox.com/s/g1udcxabyvt8mlf/core.37929.md5?dl=0
ntopng binary:
https://www.dropbox.com/s/idwrn465klw4r05/ntopng?dl=0

[2017-10-02 19:15] mitchellurgero commented on #1497
Here is the log file for about the last 70 lines, only errors are on lines 65-72

https://hastebin.com/tuvayiqixo.swift

Building on x64 Debian 8, fully updated. Building from master branch as of 6AM CST.

Commands I am running to build:

[code]

[2017-10-03 08:12] simonemainardi commented on #1487
the core just tells me the process is paused with a `SIGSTOP`

[code]

I am not sure the core has been generated during a crash. The core must save the state when the crash occurs.

[2017-10-03 08:25] simonemainardi commented on #1497
It is an issue with an SSL option. Did you install/update all the necessary build dependencies before doing the steps listed above?

Please see https://github.com/ntop/ntopng/blob/dev/doc/README.compilation

[2017-10-03 08:57] simonemainardi commented on #1471
fixed as of https://github.com/ntop/ntopng/commit/85098c864ae29dd8394fb1293f7a701995d374dc. Re-tested both with VLAN- and ProbeIP-based interfaces

[2017-10-03 08:57] #1471 closed, assigned to simonemainardi

[2017-10-03 09:14] simonemainardi commented on #1398
![image](https://user-images.githubusercontent.com/3397663/31117857-a96d4d5c-a82b-11e7-8aa8-ded05d087ca1.png)

actually it looks ok (please compare the flow with client/servers and post-nat addresses in wireshark)

[2017-10-03 09:17] dsubariyanto commented on #1487
I was reproduce the crash and regenerated core dumps, but seems the result was familiar with previous one:
[code]
Are this issues caused by my OSX by the way? I've tried run on another OSX (Sierra) and seems normal.

[2017-10-03 09:22] simonemainardi commented on #1398
![image](https://user-images.githubusercontent.com/3397663/31118234-00c59cac-a82d-11e7-90cd-923a15eb4287.png)

everything looks correct here as well. The destination address is overridden with its post-nat 10.xxx IP address as specified in the settings.

[2017-10-03 09:28] simonemainardi commented on #1398
![image](https://user-images.githubusercontent.com/3397663/31118464-c35ab874-a82d-11e7-9f40-f3f6b631d522.png)

also LAN to LAN is ok as the post nat src and dst addresses properly ovverride the src and dst addresses

[2017-10-03 09:33] simonemainardi commented on #1398
![image](https://user-images.githubusercontent.com/3397663/31118666-7d0fa496-a82e-11e7-9ec5-3a50aedd820f.png)

also this is consistent with the expected behavior as you can see from the screen capture.

For the sake of completeness, here is the nprobe configuration I have used to to the tests:

[code]

[2017-10-03 09:46] simonemainardi commented on #1487
I run it on OSX sierra too and it is OK.

Run ntopng within lldb (`sudo lldb ./ntopng` then `r -i .......`) and wait for the crash. When it is crashed save the core with `(lldb) process save-core /tmp/corefile` and send it

[2017-10-03 09:49] qm2k commented on #1398
It is working on your screenshots, but not in my system. But I didn't change nprobe conf/command line, only ntopng settings (didn't realize I should). Will come back after testing with -T.

[2017-10-03 09:59] dsubariyanto commented on #1487
Okay, I'll try again running with `lldb`.
Thanks for your advice @simonemainardi

[2017-10-03 13:20] mikeshev opened #1498 "DNS Resolution Broke (Windows)"
I successfully used the 2.x version of ntopng on Windows for about a year. Loved it! But I was getting nagging messages about really needing to upgrade to 3.x. So I did - which I'm regretting now. I'm currently running 3.1.170713 and DNS resolution of remote hosts is completely broken.

Here is the command I use to launch it:
ntopng.exe" /c –n 1 –i 2 –w A.B.C.D:3000 –F mysql;localhost;ntopng;flows

[2017-10-03 13:47] howdey57 opened #1499 "New nightly build for RaspberryPi/stretch"
RaspberryPi have recently moved to Stretch as its main Raspbian release (https://www.raspberrypi.org/downloads/raspbian/). Please could you produce a new nightly build for Raspberry Pi along the same lines as you currently do for jessie (ie http://packages.ntop.org/RaspberryPI/jessie_pi/ )

Thanks,

Charles

[2017-10-03 14:14] mitchellurgero commented on #1497
This was building last week though as stated in the OP.

Here is what I am installing that got it to build last week:

[code]
Compiling nDPI for ntopng works as well (as it is also a dependency)

[2017-10-03 14:40] simonemainardi commented on #1499
duplicate of https://github.com/ntop/ntopng/issues/1459

[2017-10-03 14:40] #1499 closed, assigned to nobody

[2017-10-03 14:41] emanuele-f commented on #1484
@nanook72 any new? Have you tested the new release?

[2017-10-03 14:48] #1486 closed, assigned to nobody

[2017-10-03 14:53] emanuele-f commented on #1497
@mitchellurgero this should be fixed with commit 3e5ab4e99adf5ba650bb69d6589aa48e9e2670e2 . Please try to rebuild and let me know.

[2017-10-03 15:10] mitchellurgero commented on #1497
Trying now. Will get back to you in about 45 minutes.

[2017-10-03 15:36] mitchellurgero commented on #1497
It has successfully built properly, thank you.

[2017-10-03 16:13] #1497 closed, assigned to emanuele-f

[2017-10-03 17:14] lucaderi opened #1500 "Implement per-host/mac/pool drop flow count"
When ntopng is used in inline mode or passively with blacklists, it is requested to increment a counter of number of dropped flows. The counter must be exposed at host, mac and pool level, and dumped in RRD

[2017-10-04 06:15] andrewmv opened #1502 "mysql port number not parsed from -F"
The man page, user manual, and code-inline documentation indicate the following syntax for specifying a mysql backend for persistent flow storage as follows:

[code]

The `@port` option is not actually implemented, and simply being hardcoded to the default mysql port, 3306.

[Pull request](https://github.com/ntop/ntopng/pull/1501) submitted to fix this issue.

[2017-10-04 07:55] simonemainardi commented on #1502
thanks for contributing, let's move this discussion to the pull request page.

[2017-10-04 07:55] #1502 closed, assigned to nobody

[2017-10-04 08:21] AkshatGhai123 opened #1503 "Ntop not staring"
Hi,

I am trying to install ntop on centos 7 machine in AWS.
Followed all the required steps
Redis is starting up but ntopng is not starting up.
Could someone please help.

[root@ip-172-31-29-143 centos]# systemctl enable redis
[root@ip-172-31-29-143 centos]# systemctl enable ntopng
[root@ip-172-31-29-143 centos]# systemctl restart redis
[root@ip-172-31-29-143 centos]#
[root@ip-172-31-29-143 cento

[2017-10-04 08:44] lucaderi opened #1504 "AS graphs are reverted"
AS graphs have RX and TX reverted
Example this is the graph towards google ASN where most traffic is TX but it's not possible as a user sends less than what it receives from Google

![screen shot 2017-10-04 at 10 42 22](https://user-images.githubusercontent.com/4493366/31166932-ba335fe4-a8f0-11e7-8fa4-e67aa24ae747.png)

[2017-10-04 08:45] lucaderi opened #1505 "AS Graphs do not allow to plot top protocols"
In /lua/hosts_stats.lua?asn=XXXX the top protocols are not present as it happens with other views

![screen shot 2017-10-04 at 10 44 33](https://user-images.githubusercontent.com/4493366/31167068-1587056c-a8f1-11e7-9e35-856871e1a0ff.png)

[2017-10-04 08:51] lucaderi opened #1506 "AS protocol charts report wrong protocols"
Suppose you click on Hosts -> Autonomous Systems and you select an AS such as Google that is providing very specific services such as Gmail, YouTube or DNS. If you explode the list of hosts inside the AS and you will see the remote AS hosts (e.g. Google hosts). if you click on those hosts and see the flows you will see that the L7 protocols they are doing are protocols that we expect such as DNS o

[2017-10-04 10:54] simonemainardi commented on #1503
you typed ` journalct1:` remove the 1....

[2017-10-04 14:21] qm2k commented on #1398
I've added 3 more lines to `/etc/nprobe/nprobe-none.conf`, it now looks like this:
[code]
Problems with IP-addresses are gone, but traffic values are now completely wrong: right now Top Local Talkers contains 405.52 Mbit/s in the first line (on a 100 Mbit/s interface), Top Remote Destinations 4.05 kbit/s, and Top Application Traffic is two digits kbits. Looks like some of the field values are take