[2018-04-20 17:03] #1751 closed, assigned to nobody

[2018-04-20 23:43] error420 commented on #1743
I ended up using a different router and flashed it with DD-WRT firmware
that supports rflow. I will try the old method this weekend and report
back. PS: Rflow stops showing hosts after about 10 minutes. Is this because
a community version limit?

[2018-04-21 07:51] emanuele-f commented on #1731
There was a problem in the decoding of MDNS packets, now fixed with commit 8f0780b4c544e34112ed0dafda0c3aba4edbcc33 . Please note that now your device will be identified as `SHIELD-Android-TV-85c001c94fa09e70c5fcfafb64710bcb` as it is the name it advertises over MDNS.

[2018-04-21 07:56] emanuele-f commented on #1743
Use the method which is most suitable for your needs. How are you collecting rflow?

[2018-04-21 08:14] fsamareanu commented on #1731
Will test tomorrow and come back to you.

[2018-04-21 08:20] fsamareanu opened #1753 "Add support for Ubuntu 18.04"
Ubuntu 18.04 LTS is around the corner. Can we get builds for it? Currently the 16 LTS builds work if you downgrade libcurl and fix some manual dependencies.

[2018-04-21 12:19] error420 commented on #1743
Good morning Emanuele-f,

Thank you for your guidance. I tried the -i view:br0,wlan0 command but there are no flows or any data being recorded. All I see is a small eye icon next to both interfaces inside the web view. If I remove the "view" command then both interfaces return and show traffic separately but do not connect internal source to external destination.

To answer your question about col

[2018-04-22 12:42] hany-mamdoh opened #1754 "When Ntopng is restarted, all counters reseted"
When Ntopng is restarted, all counters get reset and Ntop traffic stats page starts showing the output from the beginning

I need to have a feature so that recorded on harddisk and when the service restarted or pfsense restarted then it continue and not to start from beginning

[2018-04-23 00:35] kwunyinhui commented on #1737
@emanuele-f  yes, it's running in same host.

ntopng.conf
--interface="tcp://10.72.40.150:5556"
--local-networks="192.168.0.0/16,172.16.0.0/16"
--dns-mode=1
--dump-flows=mysql;localhost;ntopng;flows;root;xxxxxx
-X=1000000
-x=30000

nprobe.conf
--collector-port=2055
--zmq="tcp://10.72.40.150:5556"
-n=none

@simonemainardi
both systems in the same host,

[root@LOG nprobe]# clock
Mon 23 Apr 2018 08:3

[2018-04-23 05:07] fsamareanu commented on #1731
Confirmed, the device now shows as SHIELD-Android-TV-85c001c94fa09e70c5fcfafb64710bcb .

[2018-04-23 05:36] fsamareanu opened #1755 "Wrong OS fingerprint for Android TV"
An Android TV box is identified as "iPhone". Latest dev release on Ubuntu. PCAP provided as part of #1731 .
![image](https://user-images.githubusercontent.com/38040820/39108538-c56e5d28-46d9-11e8-822a-11624cbee467.png)

[2018-04-23 07:36] emanuele-f commented on #1731
So, is this issue solved?

[2018-04-23 07:45] emanuele-f commented on #1737
Which ntopng and nprobe version are you using? Can you update to the latest version and recheck the issue?

[2018-04-23 07:48] emanuele-f commented on #1754
Also related to https://github.com/ntop/ntopng/issues/1054

[2018-04-23 07:51] emanuele-f commented on #1743
Thank you for your explanation. When using the view interface, please make sure you add both the interfaces as -i options, so in your case your configuration should have all these 3 parameters: `-i wlan0 -i br0 -i view:br0,wlan0`

[2018-04-23 07:58] emanuele-f commented on #1755
The pcap file does not contain the information ntopng uses to determine the OS. One of such information is the DHCP fingerprint. If you click on the mac address in that page, into the device page can you see the `DHCP Fingerprint` field? Can you post it?

[2018-04-23 08:45] fsamareanu commented on #1755
![image](https://user-images.githubusercontent.com/38040820/39115966-3a727eaa-46f4-11e8-8578-32a31528f0ce.png)

[2018-04-23 08:51] fsamareanu commented on #1731
Yes, this issue is solved. Closing.

[2018-04-23 08:51] #1731 closed, assigned to lucaderi

[2018-04-23 09:29] kwunyinhui commented on #1737
@emanuele-f I just updated the latest version of below. But seems the issue still here.
ntopng Enterprise Edition v.3.5.180423

![image](https://user-images.githubusercontent.com/37438134/39118406-eca7013c-471b-11e8-8003-2d1f704b8e65.png)

[2018-04-23 09:36] kwunyinhui commented on #1737
@emanuele-f May I know how can I re-create the database for this case? I am not sure the issue, but I need to fix it ASAP. So Is it possible to re-create the database?

[2018-04-23 09:43] zxyz commented on #1750
thanks @lucaderi!
is the patch already included in "3.4.180420"? if yes, the problem still persists:

[code]
If I inspect the measurents  "eno3" and "eno4", there are no encoding
problems, e. g. in the metric column with "iface:ndpi:YouTube",  "iface:ndpi:Telegram" and so on.

[2018-04-23 11:06] emanuele-f commented on #1750
@zxyz please check out the newest package

[2018-04-23 11:10] emanuele-f commented on #1737
Since the timestamp is also wrong in the Flows view, this is not a database issue. The problem is that nprobe is reporting the wrong timestamp (this in turn usually means that your flow exporter is reporting the wrong timestamp). Please send me a pcap of the netflow traffic at faranda@ntop.org . Before sending it, please verify with wireshark that the pcap contains both the netflow template and th

[2018-04-23 11:14] emanuele-f commented on #1737
See #1667 for example for an issue with wrong timestamp

[2018-04-23 13:06] zxyz commented on #1750
@emanuele-f thanks for your answer. I switched to unstable an with 3.5.180423 the encoding problem is gone. thanks for that!

querying for iterface throughput is fine, e. g. with:
[code]
but for graphing the `ndpi ` stuff I have to work around some things:

[code]
with `Alias By = $tag_metric` I get strings like "iface:ndpi:Amazon" in the graph legend, which is not so nice to look at.

I would sug

[2018-04-23 15:02] zxyz opened #1756 "No login possible with SSL enabled"
Hello,

I try to use SSL with the `ntopng` web frontend. I used the approach
described in the `README.SSL` with some minor modifications:

[code]

I can successfully connect to https://example.net:3001 and see the login
screen. Entering (any) credentials and pressing "Login" the site get
reloaded but nothing happens (using wrong or right credentials doesn't
make a difference). There are no error m

[2018-04-23 16:06] emanuele-f commented on #1750
Thank you for your feedback! Can you please move this to a new issue so that we can discuss it?

[2018-04-23 16:10] Karl-MCS commented on #1749
Okay, I tried this this morning, and here is what I see.  Based on this I think the problem is likely with nProbe because even with level 2 verbose logging, I don't see any additional output at all from either nprobe or ntopng once they start.  I do see nprobe receiving flows from the firewall, and I also see ntopng polling nprobe for flows, but I suspect nprobe is not providing them.

[code]

[co

[2018-04-23 16:16] Karl-MCS commented on #1749
I see nprobe and ntopng were updated over the weekend, so as I was shutting down to update, nprobe said this.  What does this mean when it collected packets but did not process any flows?

[code]

[2018-04-23 16:48] Karl-MCS commented on #1749
I installed the below updates.  After it started back up, I got a brief burst of data on the webpage, and then it stopped again.

[code]

[2018-04-23 17:52] emanuele-f commented on #1749
If you run nprobe with -b2 option and you get no flow export messages, then the problem is that the netflow traffic can't reach the nprobe process. Please note that even if you can see the packets with tcpdump/tshark they may be dropped by a local firewall rule.

Please run the following script to verify that the nprobe host can actually receive the netflow data:

[code]

[2018-04-23 18:10] Karl-MCS commented on #1749
There is no local firewall active on the system.

[code]
It seems to me the below output while terminating nprobe shows it has received the packets but taken no action on them.

[code]

[2018-04-24 01:13] kwunyinhui commented on #1737
@emanuele-f Thanks! I have sent you the pcap log for your reference, and seems I cannot find the LAST_SWITCHED and FIRST_SWITCHED field in the packets.

[2018-04-24 06:32] emanuele-f commented on #1737
That's the problem, that fields are missing.

[2018-04-24 07:05] kwunyinhui commented on #1737
@emanuele-f Thanks. I will check with network team for the setting first.

[2018-04-24 07:17] zxyz commented on #1750
you're absolutely right, sorry for that!

[2018-04-24 07:20] zxyz opened #1757 "[discussion] structure of data exported to influxdb"
Exporting to Influxdb with ntopng 3.5 works fine. Querying for iterface throughput e. g. with:

[code]

is great, but for graphing the ndpi stuff I have to work around some things:

[code]

and with `Alias By $tag_metric` I get strings like "iface:ndpi:Amazon" in the graph legend, which is not so nice to look at.

I would suggest to restructure the columns a bit. I'm unsure how the column "metric"

[2018-04-24 07:25] emanuele-f commented on #1737
Ok, thank you. Please let me know.

[2018-04-24 07:27] emanuele-f commented on #1756
Hi, what browser are you using? Do you have browser extensions which may interfere with the login?

[2018-04-25 02:00] antoniovalenzuela opened #1758 "Raspbian Stretch Login.lua" was not found"
After upgrade Login.lua" was not found

Fresh install, same error

Solved, add in ntopng.cong (path change)

--httpdocs-dir=/usr/share/ntopng/httpdocs
--scripts-dir=/usr/share/ntopng/scripts

Raspberry Pi 3 with Raspbian Stretch
Ntopng 3.2.180417

[2018-04-25 02:00] #1758 closed, assigned to nobody

[2018-04-25 11:03] fsamareanu opened #1759 "Snmp devices issue"
Hello,

Devices -> SNMP -> Click the graph icon next to any device produces an error:

Apr 25 15:01:03 nuc ntopng[10322]: 25/Apr/2018 15:01:03 [Lua.cpp:8026] WARNING: Script failure [/usr/share/ntopng/scripts/lua/pro/enterprise/snmpdevices_stats.lua][.../ntopng/scripts/lua/pro/enterprise/snmpdevices_stats.lua:136: attempt to concatenate field 'host' (a nil value)]
Apr 25 15:01:03 nuc ntopng: [Lua.

[2018-04-25 12:44] zxyz commented on #1756
I used chromium and firefox. umatrix and ublock_origin were deactivated.
After reinstalling ntopng, without restarting the browser/clearing it's cache or anything like that, login worked again.

[2018-04-25 23:55] error420 commented on #1743
Thanks your method worked. Does the community version allow blocking of users?

[2018-04-26 15:33] Per-Forma opened #1760 "Unable to start bridge mode"
I've been banging my head on this for a couple of days and I don't know where I'm going wrong. I am trying to demo the community edition of ntopng on a VM to determine if it can be used as a suitable alternative for our current monitoring solution.

I can start it up in single interface monitoring mode without any problems. But when I try to start in bridge mode I get an error of `ERROR: An except

[2018-04-26 21:53] csammons0x1c commented on #1707
@emanuele-f  I've update to Community Edition v.3.5.180426 as suggested and so far all of the charts in my networks list are working! Thanks for your help with this! I'm a huge fan of the application.

[2018-04-27 05:48] mhercek opened #1761 "No Recently Active Flows"
Recently switched from softflowd to pmacct and after that I have no recently active flows. I can browse them through Historical Explorer though. Time is synced.
What's the logic behind recently active flows?

![1](https://user-images.githubusercontent.com/20775751/39346554-12a21c0c-49ef-11e8-885b-db8a4c0a5617.png)

![2](https://user-images.githubusercontent.com/20775751/39346475-9358b1f4-49ee-11e8

[2018-04-27 07:17] emanuele-f commented on #1761
Hi, the Flows view shows the flows wich are currently sending/receiving traffic. When a flow does not see traffic for a while, the flow is considered expired. The timeout for this is the `Flow Idle Timeout` from the ntopng Cache settings.  Since you are capturing remote flows, both your exporter and nprobe apply delay to the flow, so by the time it reaches ntopng the idle timeout could be triggere

[2018-04-27 07:23] emanuele-f commented on #1749
Can you provide a pcap of the netflow traffic as seen as the nprobe host?

[2018-04-27 07:55] emanuele-f commented on #1707
Perfect! Thank you :)

[2018-04-27 07:55] #1707 closed, assigned to nobody

[2018-04-27 08:00] emanuele-f commented on #1743
Great. Blocking is only supported in the licensed version. Contact us privately for more details.

[2018-04-27 08:00] #1743 closed, assigned to nobody

[2018-04-27 08:02] emanuele-f commented on #1759
@fsamareanu thank you for reporting, we are currently reworking SNMP support, so expect bugs to come out :)

[2018-04-27 08:04] emanuele-f commented on #1756
In order to perform the test, please disable the plugins completely as adding a rule on the site may be not enough.

[2018-04-27 08:09] emanuele-f commented on #1760
Bridge support is not available in the community edition (which is free, you don't even need a demo for it). Please install our pre-build binaries from http://packages.ntop.org/ to test the bridge (in 10 minutes demo, or alternatively contact us to provide a free limited time licence). You can see a comparison of the ntopng features available in the different versions in this page: https://www.nto

[2018-04-27 11:20] JasonEde opened #1762 "nprobe stops when 1 year up"
We bought nprobe/ntop a year ago and now when I look it says that upgrades have expired in ntopng but it still runs. On nprobe it says that it's an invalid license.

27/Apr/2018 12:11:54 [nprobe.c:3913] ERROR: Invalid nProbe license (/etc/nprobe.license) [License mismatch error]
27/Apr/2018 12:11:54 [nprobe.c:3920] ERROR: *****************************************************
27/Apr/2018 12:11:54 [

[2018-04-27 14:25] methodos opened #1763 "ntopng Interfaces menu width problem"
After upgrade to ntopng Enterprise Edition v.3.4.180426 the width of Interfaces menu appears to be decreased so that it is no more possible a correct visualization of virtual interfaces aliases already inserted in prior version.

Giorgio Bagnato

[2018-04-27 15:06] methodos commented on #1763
OK resolved setting Runtime Preferences in Misc - Maximum Displayed String Length

[2018-04-28 02:33] Per-Forma commented on #1760
Well I’m glad then that I wasn’t being as dense as I was afraid of. I was really thinking I was missing something. I have since installed from the apt repos listed on the packages sub domain. Who do I get in touch with to discuss a longer trial license? I also have a couple of other questions regarding shaping policies.

[2018-04-28 08:20] 13666752 opened #1764 "shuts down after 10 minutes."
Hello everyone, ntopng, shuts down after 10 minutes.
systemctl status ntopng
● ntopng.service - ntopng high-speed web-based traffic monitoring and analysis tool
   Loaded: loaded (/etc/systemd/system/ntopng.service; enabled)
   Active: inactive (dead) since Sat 2018-04-28 11:07:01 MSK; 11min ago
  Process: 16467 ExecStopPost=/bin/rm -rf /run/ntopng.conf (code=exited, status=0/SUCCESS)
  Process: 3

[2018-04-29 21:17] Azerothian commented on #1439
Can we at least queue this up as a configurable item, is it's down to preference in regards to usability with the provided information. e.g. I only need the data from peeringdb as its layout is way more convenient and usable.

[2018-04-30 01:34] kwunyinhui commented on #1737
@emanuele-f We can display the logs after added the timestamp command in the Cisco devices.
Thanks for your help!

[2018-04-30 07:32] #1737 closed, assigned to simonemainardi

[2018-04-30 07:35] emanuele-f commented on #1764
Hi, please specify the following information:
- What operating system are you using
- What's the output of ntopng `--version`?
- Are you running ntopng from our packages or from github?
- What's the content of `/etc/ntopng/ntopng.conf`?

[2018-04-30 07:38] emanuele-f commented on #1760
You can get in touch with us by using the form in the following page: http://www.ntop.org/support/need-help-2/contact-us/

[2018-04-30 07:38] #1760 closed, assigned to emanuele-f

[2018-04-30 07:38] #1763 closed, assigned to nobody

[2018-04-30 07:40] emanuele-f commented on #1762
Please contact us privately for license issues http://www.ntop.org/support/need-help-2/contact-us/ .

[2018-04-30 07:40] #1762 closed, assigned to nobody

[2018-04-30 08:06] hany-mamdoh commented on #1754
I need it to be accumulated and all be saved on hard disk so when restart done all remains not to start from beginning
thanks for your effort

[2018-04-30 08:16] emanuele-f commented on #1755
That firgerprint does not match any of the ntopng os fingerprints. The operating system has probably been extracted from the user agent inside an HTTP request. Since the user agent based OS detection is saved on the L3 Host rather then Mac device, I think that the address 192.168.1.10 was previously assigned to an iPhone device due to DHCP al later to the android tv device. You could verify this b

[2018-04-30 08:21] fsamareanu commented on #1755
Hello,

Since before I deployed ntopng the device had a static DHCP mapping.

[2018-04-30 08:32] emanuele-f commented on #1755
Can you provide a pcap with a capture of HTTP traffic of the 192.168.1.10 device? You can add the following filter to the tcpdump command: `host 192.168.1.10 and tcp port 80`

[2018-04-30 08:37] ghost opened #1765 "NTOPNG Alerts"
Hi everyone here i need some help for explaining something.

I recently set up NTOPNG to send alerts to my iPhone via Slack and i get lots of alerts now. If someone could please answer my questions that would be awesome but i really just wanna know what the alerts mean.

(I have changed the IP addresses for security reasons)

blacklisted host **externalIPaddress** contacted host **myserver**[TCP *

[2018-04-30 09:23] emanuele-f commented on #1765
Hi, the `1723` is usually used for PPTP. Apart from the fact that PPTP is generally considered unsecure, malicious hosts continuosly scan the internet on known ports for known vulnerabilities. This usually does not necessarily mean that the security of the network is compromised, but of course raises the risk for a successfull attack. A good practice is to avoid using standard ports to protect fro

[2018-04-30 09:38] ghost commented on #1765
Thank you for your help!

Kindest regards,
Daniel2029

[2018-04-30 09:38] #1765 closed, assigned to nobody

[2018-04-30 10:17] zxyz commented on #1756
I tried chromium 65, firefox 59 and even IE 11 all without any plugins. The problem persists.

[2018-05-02 07:21] mhercek opened #1766 "GDPR - Right to erasure (right to be forgotten)"
In order to be in compliance with GDPR, one should have an option to delete certain flows from DB (based on IP address or MAC address).

[2018-05-03 09:11] CDawson1 commented on #1672
@simonemainardi
Thanks!  I've increased key_buffer_size from the default 16M to 3200M (only have 8G allocated to the VM) with no appreciable difference.

I don't see any value for sort_message_passes, but I do have sort_merge_passes, which is at 0.  I don't see any reference anywhere to sort_message_passes.  Is that the correct variable?

I've just truncated the flowsv4 table and after a 2 day upt

[2018-05-03 09:55] 13666752 commented on #1764
1.Debian GNU/Linux 8 \n \l
No LSB modules are available.
Distributor ID: Debian
Description:    Debian GNU/Linux 8.10 (jessie)
Release:        8.10
Codename:       jessie

2. ntopng Version	3.5.180428 - Enterprise Edition

3. Yes

4./etc/ntopng/ntopng.conf:
/etc/ntopng/ntopng.conf#         The  configuration  file is similar to the command line, with the exception that an equal

[code]

[2018-05-03 10:45] emanuele-f commented on #1764
What redis version are you using? You can check this with the following command:
`apt-cache policy redis-server`. Do you have a valid license? If not please add the `--community=` option to your configuration file

[2018-05-03 10:51] emanuele-f commented on #1753
Hello, we are working to support the new Ubuntu version. See 5a97bae86f7331659abc80955697ccb26162a096 . The support will be completed in a week.

[2018-05-03 10:51] emanuele-f commented on #1761
@mhercek any news?

[2018-05-03 11:05] emanuele-f commented on #1756
Hi, please try the following.
Uninstall ntopng and reinstall it, then login without ssl. Now just restart ntopng. Can you successfully login now? Now add the -W option and ssl certificate and restart ntopng. Can you login? Now remove the -W option and restart ntopng can you login?

Now after these steps, please post your full ntopng log (without the -v option).

[2018-05-03 11:16] 13666752 commented on #1764
redis-server:
  Installed: 2:2.8.17-1+deb8u5
  Candidate: 2:2.8.17-1+deb8u5
  Version table:
 *** 2:2.8.17-1+deb8u5 0
        500 http://ftp.us.debian.org/debian/ jessie/main amd64 Packages
        500 http://security.debian.org/ jessie/updates/main amd64 Packages
        100 /var/lib/dpkg/status
_____________________________________
No license, --community = option added

[2018-05-03 11:31] mhercek commented on #1761
`--disable-cache` and `--zmq-disable-buffering` helped to solve my problem.

However ntopng shows me _recently active flows_ when nprobe is in collector mode and exporter is Cisco device (not ASA), but not when exporter is pmacct, even the traffic is heavy.

[2018-05-03 11:31] #1761 closed, assigned to nobody

[2018-05-03 14:40] 13666752 commented on #1764
Thanks everything works with the --community =parameter, You can close this topic

[2018-05-03 15:59] Per-Forma commented on #1760
Hey @emanuele-f I've tried to send a couple of messages through the website and to the provided email addresses. I haven't received any response as of yet.

We are an educational agency, but seeing as how ntopng might save us a substantial amount of capital, I want to have a discussion about licensing and potential development of specific features!

[2018-05-03 20:28] tobiasdam opened #1767 "raspbian stretch repo seems to be broken"
I tried to install a stable version of ntopng on Raspbian Stretch using the repository http://packages.ntop.org/apt-stable/stretch_pi/, but it does not contain any packages.

Also, the other raspberry repositories seem to have problems as well:
- The packages inside the development repo http://packages.ntop.org/apt/stretch_pi/ are outdated
- http://packages.ntop.org/RaspberryPI/stretch_pi/armhf/ d

[2018-05-04 06:46] pleoeter opened #1768 "I have to manually refresh ntopng flows page?"
Every time I need to manually refresh the ntopng code , can you please tell me how to auto update it?

[2018-05-04 09:41] almancini1964 opened #1769 "report"
Hi, when I print a report with Chrome or Firefox no charts appear

[2018-05-04 13:03] nate-byrnes opened #1770 "v.3.5.180503 exits unexpectedly on JSON parse error shortly after startup"
After a recent segfault, I upgraded to this release. Now, ntopng process cleanly exits shortly after startup. No config changes have been made. The log output is below

`
03/May/2018 19:12:14 [NtopPro.cpp:523] [LICENSE] Maintenance:   Until Sat Jun 30 09:54:45 2018 [57 days left]
03/May/2018 19:12:14 [Ntop.cpp:721] Adding fe80::215:17ff:fe9c:1135/128 as IPv6 interface address for eth1
03/May/2018

[2018-05-04 14:31] emanuele-f commented on #1769
Can you post a screenshot? If you open the javascript inspector in the browser, can you see any javascript errors?

[2018-05-04 14:33] emanuele-f commented on #1768
Hello, the flows view works this way, it only shows refreshes the already active flows. Maybe we can add such a realtime view in a new dashboard as a customized panel

[2018-05-04 14:36] emanuele-f commented on #1767
Hello, for raspberry builds please refer to http://packages.ntop.org/RaspberryPI . The new version build is currently missing but we will provide it soon.

[2018-05-04 14:36] #1764 closed, assigned to nobody

[2018-05-04 15:41] almancini1964 commented on #1769
Salve.

Questo è ciò che mi appare quando clicco sul pulsante di stampa report

Come può notare non appare nessun grafico.  Ho provato a stampare la pagina direttamente senza utilizzare il pulsante ma viene tagliata a destra e non vengono presentati errori di javascript.

Grazie mille per il supporto

Alberto Mancini

Descrizione: cid:image001.jpg@01D32BE5.81EE7570

Alberto Mancini

Ufficio Sistem

[2018-05-04 18:30] tobiasdam commented on #1767
This repository does not work as an apt repository , because http://packages.ntop.org/RaspberryPI/stretch_pi/armhf/ does not contain all necessary files (`Release`, ...).

The description inside the repo states that http://apt.ntop.org/stretch_pi should be used as repository, which is a development repository according to the description inside that repo.

[2018-05-06 09:18] jpbourke opened #1771 "Streaming"
Our engineers would like to be able to be able to view a customer's traffic (one IP address per customer) at high resolution, going back one hour.  High resolution is at 6 second ticks, which is 600 ticks an hour, with four data points - RX/TX bytes/packets is 2400 data points per customer, 50,000 customers gives us 12m data points in a database.

Put another way, we'll have 50,000*4 data points e

[2018-05-06 14:32] darox opened #1772 "Grafana NTOPNG Plugin - Access Server"
The Access option - Server seems to be broken in the grafana NTOPNG plugin.
If I set the Access to Server, I get the following error:
HTTP Error Bad Gateway
However, curl from within the grafana container to the URL endpoint works.

[2018-05-07 04:31] pleoeter commented on #1768
In which view and how can we automatically update the traffic?

[2018-05-07 07:59] shadarthuro opened #1773 "Ntopng shuts down alone since last update."
Hello everyone, Ntopng shuts down alone since last update.

● ntopng.service - ntopng high-speed web-based traffic monitoring and analysis tool
   Loaded: loaded (/etc/systemd/system/ntopng.service; enabled)
   Active: inactive (dead) since lun. 2018-05-07 09:44:44 CEST; 5min ago
  Process: 2195 ExecStopPost=/bin/rm -rf /run/ntopng.conf (code=exited, status=0/SUCCESS)
  Process: 1793 ExecStart=/us

[2018-05-07 08:30] emanuele-f commented on #1768
Currently it's not available

[2018-05-07 08:54] emanuele-f commented on #1767
Which description are you referring to? By following the instructions at RaspberryPI the developlment version is now installed. If that's not desired, please manually install the package from http://packages.ntop.org/RaspberryPI/stretch_pi/armhf/ntopng/

[2018-05-07 09:28] tobiasdam commented on #1767
I was referring to  the instructions at RaspberryPI.

Okay, does that mean my following assumptions are correct?
- http://packages.ntop.org/RaspberryPI is not intended to work directly als repo with apt.
- The stable repository http://packages.ntop.org/apt-stable/stretch_pi/ is not maintained any longer.

[2018-05-07 11:50] zxyz commented on #1756
yes

No

No

Logs (`sudo journalctl --unit=ntopng`):
https://paste.systemli.org/?f3899ee6759cab8e#1WJkBLwtDyWkgMTi7aHmQZVptjHC6GevGZ0QQws9rmg=

[2018-05-07 13:22] nate-byrnes commented on #1770
I updated to v.3.5.180506 and it seems this problem is no longer there....

[2018-05-07 13:22] #1770 closed, assigned to nobody

[2018-05-07 13:23] lucaderi commented on #1753
packages.ntop.org  has 18.04 packages. Please test them up. Stable packages will be released once we make new packages releases.

[2018-05-07 13:23] #1753 closed, assigned to nobody

[2018-05-07 13:24] emanuele-f commented on #1767
Correct. The only supported installation modes are described into the instructions.

[2018-05-07 13:24] #1767 closed, assigned to nobody

[2018-05-07 13:26] emanuele-f commented on #1773
What redis version are you using? Please report the output of `apt-cache show redis-server`

[2018-05-07 13:35] shadarthuro commented on #1773
Thank for your support emanuele,

Here is the output :

*Package: redis-server
Source: redis
Version: 3:3.2.8-2~bpo8+1
Installed-Size: 1019
Maintainer: Chris Lamb <lamby@debian.org>
Architecture: amd64
Depends: adduser, lsb-base (>= 3.2-14), redis-tools (= 3:3.2.8-2~bpo8+1), init-system-helpers (>= 1.18~), libc6 (>= 2.14), libjemalloc1 (>= 2.1.1)
Description-fr: base de données clé-valeur persiste

[2018-05-07 13:39] fsamareanu commented on #1753
Confirmed, the 18.04 package works fine so far. Thanks!

[2018-05-07 14:34] emanuele-f commented on #1771
Hello, ntopng periodically (every 5 minutes) saves per-ip traffic data on RRD. RRD is responsible for calculating the derivate between the old and new value. In order to implement the high resolution data export, you should move away from RRD and use a dedicated data processing framework instead.

You can implement customized *poll* scripts to extract data from ntopng. As an example, you can look

[2018-05-07 14:44] emanuele-f commented on #1773
Please execute the following: `apt-cache policy redis-server`

[2018-05-07 14:48] emanuele-f commented on #1769
Hello, please post the screenshot on github directly as via email it's not shows.

[2018-05-07 14:48] #1768 closed, assigned to nobody

[2018-05-07 14:50] shadarthuro commented on #1773
Here about your request :

  Installé : 2:2.8.17-1+deb8u5
  Candidat : 2:2.8.17-1+deb8u5
 Table de version :
     3:3.2.8-2~bpo8+1 0
        100 http://httpredir.debian.org/debian/ jessie-backports/main amd64 Packages
 *** 2:2.8.17-1+deb8u5 0
        500 http://ftp.fr.debian.org/debian/ jessie/main amd64 Packages
        500 http://security.debian.org/ jessie/updates/main amd64 Packages
        10

[2018-05-07 14:51] emanuele-f commented on #1759
Can you still reproduce it? It does not on my system.

[2018-05-07 14:52] almancini1964 commented on #1769
![error_charts](https://user-images.githubusercontent.com/38955209/39708245-f40b23f8-5216-11e8-8412-ceec4126dcf5.png)

Here the error (screen without charts)

[2018-05-07 15:08] emanuele-f commented on #1769
It was a bug, thank you for reporting. The fix will be included in the new package, available in one hour.

[2018-05-07 15:08] #1769 closed, assigned to nobody

[2018-05-07 15:25] emanuele-f commented on #1756
Hello, your ntopng share directory is probably located into `/usr/share/ntopng`. You should use it instead of `/usr/local/share/ntopng`. Please remove the manually created directory with `rm -rf /usr/local/share/ntopng` (I've updated the readme to clarify this)

[2018-05-07 15:27] emanuele-f commented on #1755
@fsamareanu any news?

[2018-05-07 15:28] emanuele-f commented on #1749
Closing the issue as the conversation continued via email.

[2018-05-07 15:28] #1749 closed, assigned to nobody

[2018-05-07 15:30] emanuele-f commented on #1672
You can use `iotop` to verify which program is writing to disk and `top` to check the overall io wait. Anyway, do you have a fast SSD, right?

[2018-05-07 16:01] CDawson1 commented on #1672
Read my OP.

[2018-05-07 16:07] emanuele-f commented on #1773
Redis issue is solved with commit 271770d8874c973d6b49d2ce18b3c3476ea40927 . Please check out the tomorrow package which will contain the fix

[2018-05-08 04:54] ryemanalaysay opened #1774 "How to run ntopng on browser?"
Hi,
Sorry I'm new with ntopng, I have installed it on ubuntu 16.04 and compiled it but i don't know how to access it on the browser.
I installed all the pre requisite on the ubuntu. https://github.com/ntop/ntopng/blob/dev/doc/README.compilation

but after that i don't know what to do. i have allowed port 3000 on the firewall also.

[2018-05-08 05:02] #1774 closed, assigned to nobody

[2018-05-08 05:17] ryemanalaysay opened #1775 "can i export all visited websites per IP using NTOPNG?"
i want to see all the websites visited of my users per day, and is it there a report on this?

is this possible in ntop? thank you

[2018-05-08 06:03] fsamareanu commented on #1759
Nope, this is fixed.

[2018-05-08 06:03] #1759 closed, assigned to simonemainardi

[2018-05-08 06:04] fsamareanu commented on #1755
Hello,

I captured the pcap and will upload it once i'm home.

[2018-05-08 07:29] zxyz commented on #1756
that did it! thanks @emanuele-f for your help!

[2018-05-08 07:29] #1756 closed, assigned to nobody

[2018-05-08 08:40] emanuele-f commented on #1775
Hello, ntopng only shows the top visited sites since startup (you need to enable "Top HTTP Sites" from preferences, then go into the "http" tab into an host page).

As an alternative, you can manually process sites yourself by querying the "Export Host Data" page (see `https://github.com/ntop/ntopng/tree/dev/doc` for cli access) and look at the `sites` json field.

[2018-05-08 08:40] emanuele-f commented on #1755
Thank you.

[2018-05-08 11:55] #1773 closed, assigned to nobody

[2018-05-08 13:01] jackejiang opened #1776 "-i interface not working"
I have two interfaces in the vmware virtual machine:
ens160   10.95.48.225
ens192     192.168.0.21

I want to capture the packets  on ens192 with ntopng -i ens192, but unexpectedly it captures the packets for both interfaces. Do you encounter the issue?

[2018-05-08 13:34] emanuele-f commented on #1776
Have you tried running `tcpdump -n -i ens192` to verify the actual traffic seen by the interface?

[2018-05-08 20:01] DRST-github opened #1777 "ntop not liking my certificate"
Hello,

I am trying to use our wildcard certificate for ntopng. However I ran into the "Unable to start HTTP server (IPv4) on port" error.

After looking at the documentation and reading solutions online, I still couldn't get ntopng to run, until I decided to temporarily create a self-signed certificate, as a test. Surprisingly, ntonp ran without problems with the self-signed certificate, so I am

[2018-05-09 03:25] jackejiang commented on #1776
yes. The same result using tcpdump, and it's caused by the network configuration. Thanks

[2018-05-09 03:25] #1776 closed, assigned to nobody

[2018-05-10 07:35] UniVerzitetNis opened #1778 "Valid licence marked invalid"
Valid licence marked invalid.
After 10 minutes ntopng switches to Community mode even though I have valid Enterprise licence.

`service ntopng status -n 5000 -l
Redirecting to /bin/systemctl status  -n 5000 -l ntopng.service
● ntopng.service - ntopng high-speed web-based traffic monitoring and analysis tool
   Loaded: loaded (/usr/lib/systemd/system/ntopng.service; disabled; vendor preset: disable

[2018-05-10 07:39] emanuele-f commented on #1778
Please contact us privately for license issues. http://www.ntop.org/support/need-help-2/contact-us/

[2018-05-10 07:39] #1778 closed, assigned to nobody

[2018-05-11 07:41] #1775 closed, assigned to nobody

[2018-05-11 07:50] MaurizioFontanesi opened #1779 "NtopNG crash"
After about ten days of work the NtopNG process crashes. Ntopng.log doesn't include useful messages.

In syslog I found the following messages:

May 11 04:50:00 nbox mysqld[3575]: Aborted connection 33 to db: 'ntopng' user: 'root' host: 'localhost' (Got an error reading communication packets)
May 11 04:50:00 nbox mysqld[3575]: Aborted connection 7 to db: 'ntopng' user: 'root' host: 'localhost' (Go

[2018-05-11 08:01] emanuele-f commented on #1779
Hello, what ntopng version and operating system are you using? What's the output of `cat /proc/sys/kernel/core_pattern`? Please update to the latest version to fix the redis restore error

[2018-05-11 08:15] MaurizioFontanesi commented on #1779
Hi Emanuele,

below you can find the info requested:

NtopNG v.3.5.180427    [Enterprise/Professional build]
GIT rev:        dev:d466c8e2988685cdf3b33a2a4bb5b8ebf3daa469:20180427
Pro rev:        r1591
Built on:       Ubuntu 14.04.5 LTS
Platform:       x86_64
Edition:        Professional
License Type:   Permanent

nbox@nbox:~$ sudo lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu

[2018-05-11 08:29] emanuele-f commented on #1779
What are the ntopng command line/service options you are using?

Please check out this link on how to enable and test core dump generation, we need a core dump or a stack trace to debug the problem https://sigquit.wordpress.com/2009/03/13/the-core-pattern/ .

[2018-05-11 08:35] MaurizioFontanesi commented on #1779
Here are service options:

ntopng --http-port "3000" --https-port "0" --core-affinity "-1" --local-networks "192.168.0.0/16,10.100.100.0/24" --dump-flows "[hidden]" --data-dir "/storage/ntopng" --pid "/var/run/ntopng.pid" --interface "tcp://127.0.0.1:5556"

Thanks for info on how to enable core dump generation, I'll read and apply them.

[2018-05-11 09:45] emanuele-f commented on #1777
Hello, can you add the `-v3` option to ntopng and see if the output gives you more information about the problem? `Unable to start HTTP server (IPv4) on port` is the only error you get?

[2018-05-11 09:47] emanuele-f commented on #1771
Information given, closing the issue for now.

[2018-05-11 09:47] #1771 closed, assigned to nobody

[2018-05-11 09:49] emanuele-f commented on #1755
I've reviewed the pcap, the device reports multiple user agents while accessing particular pages, (including iPhone and Linux x86/64), let's see if we can exclude them to improve the detection, thank you!

[2018-05-11 09:54] emanuele-f commented on #1672
So you have high io waits on the cpus. I think we can't improve these answers further. Please try with a faster disk or wait for the new database implementation.

[2018-05-11 09:54] #1672 closed, assigned to simonemainardi

[2018-05-11 14:51] DRST-github commented on #1777
Hello,
Thanks for replying. This is the output I get:

[code]

[2018-05-11 15:02] emanuele-f commented on #1777
What is the output of `ls -l /usr/share/ntopng/httpdocs/ssl/ntopng-cert.pem` ?

[2018-05-11 16:09] DRST-github commented on #1777
`-rw-r-----. 1 nobody nobody 4858 May 11 09:41 /usr/share/ntopng/httpdocs/ssl/ntopng-cert.pem`

[2018-05-11 16:33] emanuele-f commented on #1777
Is ntopng running as nobody right?

[2018-05-11 16:42] DRST-github commented on #1777
Yes.

[2018-05-13 05:44] markushuber opened #1780 "Raspberry Pi packages not available"
Related to issue #1767, there are currently no packages in any of your linked package repositories for Raspberry Pi:
http://packages.ntop.org/apt/stretch_pi/armhf/
http://packages.ntop.org/apt-stable/stretch_pi/armhf/
http://packages.ntop.org/RaspberryPI/stretch_pi/all/apt-ntop/

@emanuele-f , Could you point me to a download for a stable package (**3.2.x**) of _ntopng_ and _ntopng-data_ deb packa

[2018-05-13 17:31] MPHodgson opened #1781 "ntopng crashing on fresh install of WS 2012 R2"
I've just installed ntopng 3.4.180417 on a clean build of WS 2012 R2, Standard Edition on an HPE DL360 Gen 10. It's got one interface with mirrored traffic to monitor. I've been using the version 2.4.160627 for some time on the same OS on older hardware (DL360 gen 8) with no issues.
Version 3.4.180417 just seems to crash after a fairly short time - a few hours a most. C:\Windows\Temp\ntopng has nt

[2018-05-13 21:37] kraduk commented on #1573
any chance of some freebsd packages for this?

[2018-05-14 11:29] lucaderi commented on #1780
Fixed thanks for reporting

[2018-05-14 11:29] #1780 closed, assigned to nobody

[2018-05-14 13:13] leikoilja opened #1782 "Removing unwanted network hosts using packet-filter"
Hey all.

How can i ignore all the traffic coming from a particular IP hosts using ntopng v.3.2.180417?
I have tried adding at the bottom of /etc/ntopng/ntopng.conf
--packet-filter="not host 192.168.92.1"
and I have tried:
--packet-filter="host 192.168.92.1"

but neither of them work and i keep seeping my annoying host.

I am Raspberry Pi Stretch distribution.

Thank you in advance.

[2018-05-14 13:42] emanuele-f commented on #1782
Hello, the first one is the correct may to do this. Have you restarted ntopng with `systemctl restart ntopng`? Please post the latest service log with `journalctl -u ntopng`

[2018-05-14 13:43] emanuele-f commented on #1781
Hello, please specify the ntopng configuration you are using. If you are using ntopng in combination with nprobe, please also specify the nprobe configuration.

In order to understand the problem, we would need a stack trace of the crash. You can use
https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/debugger-download-tools for example. See https://github.com/ntop/ntopng/issues/167

[2018-05-14 13:47] leikoilja commented on #1782
Thank you @emanuele-f for a quick answer.
Hm, after looking into a service log i see(full [log):](https://paste.ubuntu.com/p/8qGzYPKPYB/):
[CollectorInterface.cpp:286] ERROR: No filter can be set on a collector interface. Ignored not host 192.168.92.1

I guess it has something to do with my configurations as well. Can you please take a look(/etc/ntopng/ntopng.cong):
-G=/var/run/ntopng.pid
 -e=
 -i

[2018-05-14 15:18] emanuele-f commented on #1782
You cannot set BPF filters on remote interfaces. Please set the filter on the remote probe itself instead.

From the nprobe `-h command`:
[code]

[2018-05-14 15:25] leikoilja commented on #1782
@emanuele-f , i am using nProbe v.8.4.180506 and still can't make it work. Do you think my syntax is right?

After modifying /etc/nprobe/nprobe.conf file by adding:
--collection-filter=!192.168.92.1

Nothing has changed.
Here is the whole config file - [link](https://paste.ubuntu.com/p/qCxmkY86ph/)

---
Have also tried adding BPF filter to nprobe config file as:
--bpf-filter="not host 192.168.92.1

[2018-05-14 16:19] emanuele-f commented on #1782
Since you are capturing from a netflow collector, the `--collection-filter` should be used. Please run `nprobe -h | grep -- --collection-filter` to see if this option is supported with your nprobe version, otherwise please update to the latest version (both ntopng and nprobe).

[2018-05-15 06:37] leikoilja commented on #1782
@emanuele-f, it it supported
[code]
I have added(to nprobe config file /etc/nprobe/nprobe.conf:
`--collection-filter=!192.168.92.1`
but i am not entirely sure if the syntax is correct, cause it doesnt work :/

[2018-05-15 08:02] emanuele-f commented on #1782
How are you starting the nprobe service? If you use nprobe@none then the file `/etc/nprobe/nprobe-none.conf` could be used instead. As the example output above, you can see that the syntax is correct: `!10.0.0.0/8`. In your case, `!192.168.92.1/32` should be used.

[2018-05-15 08:03] emanuele-f commented on #1779
Thank you, please provide the core dump or stack trace when available so that we can inspect it.

[2018-05-15 08:58] emanuele-f commented on #1777
Hello, with commit dba841a16be506260195526557d55f9d9c20af16 ntopng should print some informative error message. Please check out the new version and report the new output. If you have installed ntopng from packages, please update to the new development package (it will be available in one hour).

[2018-05-15 10:11] simonemainardi commented on #1766
implemented
![image](https://user-images.githubusercontent.com/3397663/40050894-2008e9b8-5839-11e8-8d8b-e99c92102038.png)

[2018-05-15 10:11] #1766 closed, assigned to simonemainardi

[2018-05-15 16:13] hytek3000 opened #1783 "Host Graph Traffic Statistics"
Something that has been bugging me is the "Minute Interface Top Traffic Statistics" when you hover over a graph. Attached is a graph of a single host for 1 hour. We can see a spike at 08:44:47 for this host 10.1.12.149. However, when we hover over the graph at that spike, and we look at the traffic statistics, it shows top traffic for the entire interface at that moment; instead of the host the gr

[2018-05-15 16:19] hytek3000 commented on #1670
The features I would like to keep is the search box. Easily accessible, and easily seen. We have ntopng enterprise, and nprobe pro in our place, and we also have Solarwinds Orion/NPM: Orion SUCKS when trying to search for anything. NTOPNG's search function is so much better, and easier.

I do like the idea of widgets (like solarwinds Orion), but the one function I enjoy and use the most is the sea

[2018-05-16 06:06] leikoilja commented on #1782
@emanuele-f , the nprobe service is started automatically after reboot.
My config file under "/etc/nprobe/nprobe.conf" is correct one, cause in the same config file I set up "--zmq=tcp://127.0.0.1:1234". So, after reboot nprobe service automatically starts, loads up "/etc/nprobe/nprobe.conf" config and sends json stats to "tcp://127.0.0.1:1234". And from ntopng side, in it's config it is configure

[2018-05-16 08:30] emanuele-f commented on #1783
Hello, the behaviour you are describing is correct and documented. Top talkers are currently pre-calculated and stored into the top talkers database in an aggregated format, so this is the only information we can extract from it right now. The `Talkers` tab is more appropriate for host-related communications as it is based on the mysql flows data. I agree that host-related information would be mor

[2018-05-16 08:30] #1783 closed, assigned to nobody

[2018-05-16 09:46] emanuele-f commented on #1716
Implemneted in commit a70dce4301f67798579bae9e057b0b6869b9f1a2 . `SameSite=lax` has been used to allow external links to use the existing session.

[2018-05-16 09:46] #1716 closed, assigned to nobody

[2018-05-16 09:54] simonemainardi commented on #1782
Thanks for reporting. There was actually a glitch when parsing the `--collection-filter`. New build are in progress and will be available in an hour. Please, hold on, update, and try again. In the meanwhile, if you want to stay with the current version, just specify `--collection-filter=!192.168.92.0/24`, that is, only the network part of the address.

[2018-05-16 09:54] #1782 closed, assigned to nobody

[2018-05-16 10:19] MPHodgson commented on #1781
Hello, I seem to have managed to collect a dump file, all 365MB of it using DebugDiag. The most interesting records from the text log file read as follows:

[code]

I have a binary dump file as well, but that's 481MB. I'm happy to upload that if you need it.

As for ntop configuration, it's basically a clean installation, registered with the following:
.\ntopng.exe /i --local-networks "<network1>/

[2018-05-16 10:55] emanuele-f commented on #1781
@MPHodgson please note that `--local-networks` option you are using is wrong. Use somthing like `--local-networks "192.168.1.0/24,10.0.0.0/16"`.

@lucaderi on a fresh installation, I get the following error while simply running `ntopng /c`

![screenshot_2](https://user-images.githubusercontent.com/5488003/40112935-fdf66d94-5907-11e8-9784-8f925ba82a0e.png)

[2018-05-16 10:59] MPHodgson commented on #1781
My --local-networks option does look like the example you provide. I had removed the values in the posting and had indicated this in angled brackets. The html parser in this web site had taken that as a label I think and had removed my literals. My mistake for not viewing the posting in Preview first.

[2018-05-16 15:15] DRST-github commented on #1777
Hello,
I get a new line:

`[HTTPserver.cpp:812] ERROR: [HTTP] set_ssl_option: cannot open /usr/share/ntopng/httpdocs/ssl/ntopng-cert.pem: error:0906D06C:PEM routines:PEM_read_bio:no start line`

[2018-05-16 15:34] emanuele-f commented on #1777
Probably you are not using a .pem certificate but a certificate into another format, something like this: https://github.com/node-apn/node-apn/issues/234#issuecomment-302020793

[2018-05-16 16:58] DRST-github commented on #1777
As far as I know, the certificate is already in the correct format as using the command in the link you provided:

 `openssl x509 -inform der -in aps_production.cer -outform pem -out aps_production.pem`

Throws the following error:

[code]

[2018-05-17 12:40] junelsolis opened #1784 "Cannot enable or disable Per-Member Quotas and Per-Member Shapers"
I am running Ntopng Enterprise Edition v.3.4.180517. I tried to make some modifications to the traffic policy today and I found out that whenever I try to disable/enable per-member quotas and/or per-member shapers to a host pool and click 'Save' the page refreshes and reverts back to the original setting.

[2018-05-17 15:23] hytek3000 opened #1785 "LDAP Admins Unable to see details/flows/host/etc..."
Any LDAP enabled admin, when they log in they are unable to see flows of any kind, or pretty much anything besides summary pages and graphs.

LDAP Settings:
LDAP Search Path: (bind path to OU where admin accounts are located)
LDAP User Group: (blank as we are not using unprivileged users)
LDAP Admin Group: (bind path to domain admin group)

What ldap admins can view:
1. Dashboard
2. Traffic Report

[2018-05-17 15:34] emanuele-f commented on #1784
Hi, do you have any errors into the ntopng log? If you are running ntopng as a service, you can get the log with `journactl -u ntopng`. Please note that after some minutes the page cookie times out and any changes applied afterwards the timeout will be reverted back.

[2018-05-17 17:00] junelsolis commented on #1784
Hello. I am running it as a service. There is nothing in the logs that indicates a problem. I also tried logging in with another browser, attempted to make the changes, and the same issue. Also just discovered that when I go to Traffic Policy-->Manage Policies-->Select Pool Name-->Default Policy, I can set the Traffic Policy to 'Drop All' Traffic-->Save, when I select another pool and then go back

[2018-05-17 17:09] lucaderi commented on #1757
Hi @zxyz sorry for the late reply. Your suggestions are welcome and they are worth to be analysed. All the export to InfluxDB is via  ntop.tsSet. Namely

rrd_5min_dump_utils.lua:  ntop.tsSet(when, 'ip', hostname, "bytes", tolongint(host["bytes.sent"]), tolongint(host["bytes.rcvd"]))
rrd_5min_dump_utils.lua:      ntop.tsSet(when, 'ip', hostname, tostring(k), tolongint(host[k..".bytes.sent"]), tolon

[2018-05-18 09:18] emanuele-f commented on #1777
Can you generate a new certificate in the same way as the certificate that's not working and send it to me for testing?

[2018-05-18 09:45] zxyz commented on #1757
I'm sorry @lucaderi , but I'm not able to provide a patch. But I try to make my point more clear using you above code.

If I understand the above correctly, e. g. `iface:ndpi` `iface:ndpi_categories` `iface:localstats` `iface:subnetstats` all go into the column named `metric`. My suggestion is to seperate e. g. `iface` from everything after the `:` and put the later in another column.
so instead o

[2018-05-18 10:31] emanuele-f commented on #1784
Fixed with commit 6a13837ff6d890634b7cb390317fc7a59f04d7ae . A new package will be available in one hour. Thank you for reporting!

[2018-05-18 10:31] #1784 closed, assigned to emanuele-f

[2018-05-18 15:37] DRST-github commented on #1777
How would I send it to you?

[2018-05-18 15:38] emanuele-f commented on #1785
Hello, I cannot reproduce the issue. Have you selected the proper interface from the interfaces menu? If you connect with local admin account, can you see that info? Can you please post screenshots and your ntopng configuration used?

[2018-05-20 09:47] nokoya opened #1786 "Total in out per AS Number"
Hello,

Graph information of ASN historical page isn't enough. Please add total in & total out, 95th of in & 95th of out, average of  in & average of out, max of in & max of out within duration selected.

Thanks in advanced.

[2018-05-21 08:52] leikoilja commented on #1782
Thank you @simonemainardi and @emanuele-f  for an update, but I still do not think it works properly. :/

I have specified upgraded to nProbe v.8.5.180514 (r6153) version
and specified
`--collection-filter=!192.168.92.1/24`
in my config fine to filter one specific gateway host, but it still doesn't work and shows it in ntopng web interface.

Please, help me to understand what am i doing wrong

[2018-05-21 11:01] simonemainardi commented on #1782
your nprobe v.8.5.180514 is still not updated. Please, update it.

[2018-05-21 11:32] leikoilja commented on #1782
@simonemainardi, how is that so?
I used to have v.8.4***, so i run:
[code]
And got v.8.5.180514 version installed.
Now if i run
`apt-get install --only-upgrade nprobe`
I'm getting "nprobe is already the newest version (8.5.180514-6153)."

I'm on Raspberry Pi Stretch

[2018-05-21 13:19] emanuele-f commented on #1757
Hello, here is the current ntopng Influx model:
[code]
there is only a single tag "metrics" and multple values `iface:ndpi:AppleiCloud`, `iface:ndpi:DHCP`, ...  Here is a sample query: `SELECT * FROM wlan0 WHERE metric = 'iface:ndpi:AppleiCloud'`. This is not flexible as we cannot filter by application.

Here is my proposal for the new model:
[code]
This model is way more flexible. It allows us to

[2018-05-21 13:26] zxyz commented on #1757
@emanuele-f  thanks a lot, this looks really promising!

[2018-05-21 14:59] hytek3000 commented on #1785
This issue is considered resolved, but it required me to restart redis-server and NTOPNG for me to see flows under an LDAP admin account.

Steps taken from beginning to end:
1. Setup ntopng, nprobe, mariadb, and tested everything was working with local admin (working fine)
2. Enabled LDAP/LOCAL accounts
3. Logged in with LDAP admin account; was able to see summaries, but unable to see details, flo

[2018-05-21 15:14] simonemainardi commented on #1782
make sure to run both update and upgrade:

[code]

[2018-05-21 16:30] emanuele-f opened #1787 "Autonomous Systems inner traffic is accounted twice"
When two hosts within the same Autonomous System talk one each other, the traffic is counted twice, as sent and received by the AS. Ideally this should be accounted as inner traffic. This also requires modifying the current RRD to add a new inner column.

[2018-05-21 20:34] kunzjacq opened #1788 "per-host history not available in community edition?"
Hello,
I am using ntopng community edition (bundled  with ubuntu 18.04, v. 3.2.171227). In preferences, I configured ntop to create local host timeseries (using a mysql backend with the -F option),  however i am not able to see timeseries by host, although it works at the interface level. I was not able to determine wether this was normal according to your feature matrix. Maybe this is a bug?

[2018-05-22 06:58] leikoilja commented on #1782
Thank you @simonemainardi for your help, but I must be doing something wrong... the '--collection-filter=!192.168.92.1/24' options is still not working.

I have done both update and upgrade, got same as you:
[code]
And my nprobe config file nano /etc/nprobe/nprobe.conf:
[code]
I know the config file is getting loaded, cause nprobe is catching traffic flow on port 2055 and passing it to tcp://127.0

[2018-05-22 08:01] simonemainardi commented on #1782
if you leave the option `--dry-run ` you are actually not upgrading anything. remove that option and make sure to have installed version >= 8.5.180521-6157

[2018-05-22 08:34] emanuele-f commented on #1788
Hi, ntopng timeseries are not stored into MySQL, but on RRDs. MySQL only stores flows data. Please check out your data directory (usually `/var/tmp/ntopng`) for RRD files.

[2018-05-22 08:34] #1788 closed, assigned to nobody

[2018-05-22 17:14] ghost opened #1789 "3.4-20180521 - Password with two consecutive periods"
If a password has two consecutive periods like ab..1234 you cannot login with the password.

[2018-05-22 19:58] FOSquare opened #1790 "no pf_ring.h file"
I test the pfcount –i  eth2. It works, but pfcount –i  zc:eth2 does not work. It says “pfring_open error [no such device] (pf_ring not loaded or interface zc:eth2 is down ?)”. When I use the “make” command in the ixgbe-5.3.7-zc/src folder, it says: fatal error: pf_ring.h: No such file or directory #include “pf_ring.h”. I check the files below the /src, there is no pf_ring.h file. Why the file is l

[2018-05-22 19:59] FOSquare commented on #1790
Use zcount –h can not get the pf_ring version. It says “No command ‘zcount’ found, did you mean …”. I check from the internet, and I use cat /proc/net/pf_ring/info to get the version of pf_ring, is shows the version is 7.1.0. However, when I use this to generate the license, it told me that “Please check the version Id format”. And after I get the license, how should I use it? Thanks a lot.

[2018-05-22 20:02] FOSquare commented on #1787
hello, I have two very initial questions. can you help me? Thanks in advance.
1.      I test the pfcount –i  eth2. It works, but pfcount –i  zc:eth2 does not work. It says “pfring_open error [no such device] (pf_ring not loaded or interface zc:eth2 is down ?)”. When I use the “make” command in the ixgbe-5.3.7-zc/src folder, it says: fatal error: pf_ring.h: No such file or directory #include “pf_ri

[2018-05-23 03:29] pleoeter opened #1791 "Cannot see search bar on datatables?"
I want to filter rows / columns  just like in
https://datatables.net/
but in ntopng we just have pagination and sorting shown? How can we see an additional search bar other than that on the top right to search host

[2018-05-23 07:16] cardigliano commented on #1790
@FOSquare are you using packages or compiling from source code?
As of the error with zc:eth2, it seems that the ZC driver has not been loaded, please read the instructions at http://www.ntop.org/guides/pf_ring/get_started/packages_installation.html
As of the error with zcount, it seems it is not installed, installing our packages should fix it, or you can run it from PF_RING/userland/examples_zc i

[2018-05-23 07:16] #1790 closed, assigned to nobody

[2018-05-23 09:01] emanuele-f commented on #1791
Hi, please note that we currently use a customized version of https://github.com/jeffdupont/bootstrap-data-table for datatables implementation.
Normally, the search via a searchbar in datatables is implemented via a simple client side filter, but this would not be applicable for ntopng as it requires all the data to be sent from the server to the client and post-processed there.
On the other end,

[2018-05-23 09:41] emanuele-f commented on #1789
Thank you. Fixed in 2e7ea3cad742a6944ff61bda7f1c32224e8218ce . A new package will be available in one hour.

[2018-05-23 09:41] #1789 closed, assigned to emanuele-f

[2018-05-23 19:24] radixtenshi opened #1792 "Traffic Bridging no Save Button?"
Hello i have NtopNG set in Bridge mode In-Line.

Almost everything is working fine, except for the option "Traffic Bridging" in the Preference menu.
That option dont appears to have any SAVE button and when i leave the page to another menu the options i choose never take effect and reset to default state.
Is that some kind of bug? i must enable any command line option?

I want to activate Split Sh

[2018-05-23 19:27] radixtenshi commented on #1772
Same here... i just cant make it work, Any chance for a more detailed guide on that topic?

[2018-05-24 04:41] pleoeter commented on #1791
I have enabled the show filter option using  https://github.com/jeffdupont/bootstrap-data-table and I cannot see the text bar, moreover I added a search bar at my own with buttons but its not functional for search rows

[2018-05-24 09:33] FOSquare opened #1793 "pfcount –i zc:eth5 does not work"
I install from the GIT. And I put the license in the /etc/pf_ring/ . Now, cd PF_RING/drivers/intel/ixgbe/ixgbe-5.3.7-zc/src
make
show information below:
"make -C /lib/modules/3.16.0-38-generic/build SUBDIRS=/root/PF_RING/drivers/intel/ixgbe/ixgbe-5.3.7-zc/src modules
make[1]: Entering directory `/usr/src/linux-headers-3.16.0-38-generic'
  Building modules, stage 2.
  MODPOST 1 modules
make[1]: Lea

[2018-05-24 09:43] cardigliano commented on #1793
@FOSquare please provide:
- cat /proc/net/pf_ring/dev/eth5/info
- ethtool -i eth5

[2018-05-24 09:58] FOSquare commented on #1793
cat /proc/net/pf_ring/dev/eth5/info shows:
---------------------------------------------
Name:         eth5
Index:        4
Address:      00:02:C9:51:C8:9E
Polling Mode: NAPI
Type:         Ethernet
Family:       Standard NIC
# Bound Sockets:  0
TX Queues:    32
RX Queues:    4
--------------------------------------------
While ethtool -i eth5 shows
--------------------------------------------
driv

[2018-05-24 10:24] cardigliano commented on #1793
@FOSquare please note eth5 is a mellanox interface, which is not supported by the ixgbe driver

[2018-05-24 10:24] #1793 closed, assigned to nobody

[2018-05-24 13:55] Alestor opened #1794 "SNMP page remains blank"
ntopng Professional Edition v.3.5.180524

Hi,

when looking into the SNMP Tab of a Network device no information are provided. The page remains blank without any error messages:

![grafik](https://user-images.githubusercontent.com/6898158/40489499-8ba69c2e-5f69-11e8-887d-e4108b255121.png)

Default Community is configured and Version is set to v2c. snmpwalk from the server where ntop is running wor

[2018-05-24 14:12] Alestor opened #1795 "2nd letter of SSL Certificate wrong"
ntopng Professional Edition v.3.5.180524

When I request a https server on my intranet. Lets say https://example.local, ntopng shows client requested the certificate eyample.local on the info tab. The second letter of the certificate is always the next in the alphabet of the actual letter.

[2018-05-24 14:13] #1794 closed, assigned to nobody

[2018-05-24 14:15] simonemainardi commented on #1794
thanks for reporting, we have reworked the SNMP support to make it much more responsive and information-rich. The old SNMP implementation was poorly relying on caching and that was causing a lot of unnecessary SNMP traffic. The new implementation is available in ntopng enterprise.

[2018-05-24 14:17] simonemainardi commented on #1795
do you mean flow info? can you attach a screenshot?

[2018-05-24 14:17] simonemainardi commented on #1073
implemented and available as exponentially weighted moving average.

[2018-05-24 14:17] #1073 closed, assigned to simonemainardi

[2018-05-24 14:18] simonemainardi commented on #1779
any news here?

[2018-05-24 14:19] simonemainardi commented on #1777
attach it here or send it to faranda at ntop dot org

alternatively, just post the commands you've issued to generate the certificate (I'm assuming you are using openssl).

[2018-05-24 14:25] Alestor commented on #1795
![grafik](https://user-images.githubusercontent.com/6898158/40491608-d1bef148-5f6e-11e8-8b5a-6a74e781cc31.png)

![grafik](https://user-images.githubusercontent.com/6898158/40491654-ea4e5f3c-5f6e-11e8-8d03-55b8687a0cb8.png)

The website of the screenshot above is running under the url monitor.sec

[2018-05-24 14:26] simonemainardi commented on #1791
@pleoeter table data is filtered and sliced server-side. Adding the show filter would have no effect. I am closing the issue as we are currently unable to replace bootstrap-data-table.

[2018-05-24 14:26] #1791 closed, assigned to nobody

[2018-05-24 15:01] Alestor commented on #1794
Hi,

thank you for the quick reply, but this is very disappointing. I bought ntopng profession with SNMP support AND updates included. So if you rework the code, whats an update in my opinion, please make it available on the professional version.

[2018-05-24 16:59] MaurizioFontanesi commented on #1779
Not yet, currently the process is running fine.

[2018-05-25 10:09] FOSquare opened #1796 "n2disk was killed"
I installed n2disk from the packages, also I generate the license to put it in the right directory. However. When I use the command "n2disk -i eth2 -o /storage -b 1024 -p 512 --disk-limit 50% -I -A /storage"
It shows
25/May/2018 12:04:36 [n2disk.c:6148] Welcome to n2disk v.3.0.180523 (r4912) [Nehalem]
25/May/2018 12:04:36 [n2disk.c:6178] Running on 1 node(s) system with 4 core(s). NUMA affinity se

[2018-05-25 10:12] cardigliano commented on #1796
@FOSquare, how much free memory do you have in this system? Please provide "free"

[2018-05-25 11:43] FOSquare commented on #1796
root@chronos:~# free
             total       used       free     shared    buffers     cached
Mem:       4028140    2701812    1326328      72536      16996     290432
-/+ buffers/cache:    2394384    1633756
Swap:      4176892     231228    3945664
=====================================
Thanks a lot.

[2018-05-25 11:44] FOSquare commented on #1796
root@chronos:~# free
             total       used       free     shared    buffers     cached
Mem:       4028140    2701812    1326328      72536      16996     290432
-/+ buffers/cache:    2394384    1633756
Swap:      4176892     231228    3945664

Thanks a lot.

[2018-05-25 11:45] FOSquare commented on #1796
total          used           free          shared       buffers     cached
Mem:       4028140    2701812    1326328      72536      16996     290432
-/+ buffers/cache:    2394384    1633756
Swap:      4176892     231228    3945664

[2018-05-25 12:08] emanuele-f commented on #1757
A new schema (similar to the one described above) is now implemented with commit 42083f1865c1804d38be228fc2e89a4261efc3cb . Please check it out.

[2018-05-25 12:08] #1757 closed, assigned to lucaderi

[2018-05-25 12:44] cardigliano commented on #1796
It seems that you have just 1G free, please try running the command below before n2disk, or reduce -b 1024 and -p 512
 sync && echo 3 > /proc/sys/vm/drop_caches

[2018-05-25 14:42] #1796 closed, assigned to cardigliano

[2018-05-25 14:43] simonemainardi commented on #1779
please, reopen with the requested information if necessary.

[2018-05-25 14:43] #1779 closed, assigned to nobody

[2018-05-27 19:55] operations999 opened #1797 "Ntop/Ntopng too slow and not giving full data"
We are running NTOP/ntopg on Dual E5 32G ram and SSD drive but it is so slow when we pull device info.
And we are getting following error when we click on Devices > SNMP >  Device1

HTTP/1.1 500 Internal server error Content-Type: text/html Connection: close Script "/usr/share/ntopng/scripts/lua/pro/enterprise/snmp_device_info.lua" returned an error:

/usr/share/ntopng/pro/scripts/lua/modules/snmp

[2018-05-28 09:49] emanuele-f commented on #1797
Hello, what ntopng version are you using (see `ntopng --version`)? How many local hosts and flows are you monitoring? What kind of task is flow for you?

[2018-05-28 10:10] #1792 closed, assigned to emanuele-f

[2018-05-28 10:13] emanuele-f commented on #1792
A new package will be available in one hour. Thank you for reporting.

[2018-05-28 12:02] fsamareanu commented on #1795
I can confirm this :)

![image](https://user-images.githubusercontent.com/38040820/40613653-7ac11c48-6290-11e8-9552-50256ffbb212.png)

[2018-05-28 12:43] djha983 opened #1798 "How to escape equal sign in ntopng.conf"
Hi,

In ntopng.conf an equal sign ‘=’ has to be used between key and value.
I am configuring ntopng.conf to export flows to elasticsearch and for that i am adding below entry to ntopng.conf.
-F="es;flow;ntopng-%Y.%m.%d;http://x.x.x.x:9200/_bulk?pipeline=et_ntopng_pipeline;"
in above line there is two equal sign ‘=’ and because of that export to elasticsearch not working.But same if i run ntopng fr

[2018-05-28 13:45] simonemainardi commented on #1795
thanks for reporting. issue is due to nDPI and has been reported at https://github.com/ntop/nDPI/issues/572

[2018-05-28 13:51] simonemainardi commented on #1797
please, also make sure to run the latest ntopng version 3.5 as we've done big improvements to make snmp faster

[2018-05-28 13:51] simonemainardi commented on #1777
any news here?

[2018-05-28 13:54] simonemainardi commented on #1772
can you post the exact steps to reproduce?

[2018-05-28 15:17] DRST-github commented on #1777
I sent it to the email address you provided.

[2018-05-28 18:06] radixtenshi commented on #1792
Tahnks a lot.

[2018-05-29 00:26] radixtenshi opened #1799 "Adding Captive Portal User"
Hello, i have exactly the same problem that in the issue [1129](https://github.com/ntop/ntopng/issues/1129)

I try to apply the patch by replacing the .lua files but dont work. Seems i have diferente version that the patch.

I cant create new user in the "Add Captive Portal User" windows.
Also, if i change the "Authentication Lifetime" options, the selection become checked for both options.

![ima

[2018-05-29 07:54] #1799 closed, assigned to emanuele-f

[2018-05-29 07:58] emanuele-f commented on #1799
A new package will be available in one hour, thank you!

[2018-05-29 09:09] fatlouis87 opened #1800 "Wrong Applicationname/category on Port 8530"
As we are using Wsus over Port 8530 we defined a custom protocol entry tcp:8530@WSUS
(This was working some weeks ago)

But NTOPNG changed it to be RapidVideo (Streaming as Category)

How can we change this back to our setting?

[2018-05-29 10:01] darox commented on #1772
1. Setup NTOPNG plugin in Grafana
2. Set Access to Browser and check if the plugin is working at all if yes, continue to setp 3. otherwise troubleshoot the problem
3. Set Access to Server and check if the plugin is working, for me it's not.

Let me know if you need more information.

The main problem with this behavior is, that if you're located in a different IP subnet, no data can be shown for t

[2018-05-29 12:40] emanuele-f commented on #1777
Hi, the certificate is missing the private key, please see https://github.com/ntop/ntopng/blob/dev/httpdocs/ssl/ntopng-cert.pem.dummy for an example of valid certificate.

[2018-05-29 20:16] radixtenshi commented on #1799
Thanks for the fast response.
I will apply it now and confirm if works well.

[2018-05-30 00:14] radixtenshi opened #1801 "Per-Member Shapers"
Hello again. I create this case but i dontk now if this is an issue or just a wrong config.

The thing is: when i go, into the web interface,  to "manage pools" and i choose to active the option "Per-Member Shapers" for an specific host pool and then hit the "Save" button.
The web interface reload the page but the "Per-Member Shapers" feature never get active.
If i re-enter the same page to view t

[2018-05-30 00:29] radixtenshi commented on #1799
Works Fine.. thanks a lot.

[2018-05-30 06:41] dotslashniks opened #1802 "NTOPNG Traffic Storage"
Hi Guys!

Can you please help me with my issue regarding the traffic storage of ntopng. As you can see in the image below, this /var/db/ntopng are eating all of my hdd free space.

Is there a way to limit the disk usage for ntopng?
If there's none... Is it okay if am going to disable the ff:

- **RRDs For Local Hosts**
- **nDPI RRDs For Local Hosts**

These two options under **Traffic Storage (RRD

[2018-05-30 08:08] emanuele-f commented on #1802
Hello, what ntopng version are you using? How many local hosts do you have?

[2018-05-30 08:17] emanuele-f commented on #1801
Hello, does this happen for all the pools? What about child safe and per-member quotas, do they work? Can you check the ntopng log for errors? You can do this with `journalctl -u ntopng`

[2018-05-30 08:32] dotslashniks commented on #1802
Ntopng version 0.7.2,

Local hosts are the computers connected in our local network right? We have 68 local hosts.

[2018-05-30 08:52] emanuele-f commented on #1802
Please run `ntopng --version` to get the version number.

The number of local hosts is displayed in the green badge at the bottom of the ntopng gui.

![screenshot at 2018-05-26 20-19-19](https://user-images.githubusercontent.com/5488003/40709831-5af48568-63f7-11e8-8fdd-cb81db73a234.png)

[2018-05-30 08:55] dotslashniks commented on #1802
![ntopversion](https://user-images.githubusercontent.com/39757381/40710040-77fdec3a-63ac-11e8-8a04-30f00f4f1e5b.JPG)
![ntophosts](https://user-images.githubusercontent.com/39757381/40710048-7b7a3b0c-63ac-11e8-9c8e-e620076f93e9.JPG)

We are still using the old version.

[2018-05-30 09:11] emanuele-f commented on #1802
You are using a very old version, please update to the lastest one. You should probably start from scratch as old data compatibility is probably broken.

[2018-05-30 09:11] #1802 closed, assigned to nobody

[2018-05-30 09:15] dotslashniks commented on #1802
Yup! Am going to propose soon about getting our pfsense(including packages) to be updated. But for now, will anything might/will going to happen if I delete this /var/db/ntopng/2 ??

Thank you, Emanuele.

[2018-05-30 10:18] emanuele-f commented on #1802
If you delete a data folder, software will continue to work, you will only lose those data

[2018-05-30 11:19] fsamareanu opened #1803 "Truncated device name"
Hello,

I'm getting (randomly) truncated names for network devices. For example:

![image](https://user-images.githubusercontent.com/38040820/40717280-cbdcc1da-641c-11e8-94da-c3942aada15b.png)

This should read "Florian's"

[2018-05-30 12:20] harmane opened #1804 "Upgrade ntopng/nprobe latest stable, no flow data"
Hello -

I have netflow going to ntopng and nprobe (apt-stable) as collector for couple years now and after latest update I no longer see any data in ntopng. No apparent errors either though I have not done a trace:

GIT rev:        3.4-stable:a38a65ec37fe30c4a45de176f274d1cbab077fdf:20180529
Pro rev:        r1591
Built on:       Debian GNU/Linux 8.2 (jessie)
System Id:      xxxxx
Platform:

[2018-05-30 15:17] harmane commented on #1804
When running nprobe manually and stopping after 4-ish minutes:

30/May/2018 11:09:20 [nprobe.c:3013] Fragment queue length: 0
30/May/2018 11:09:20 [nprobe.c:3039] Flow export stats: [0 bytes/0 pkts][0 flows/0 pkts sent]
30/May/2018 11:09:20 [nprobe.c:3046] Flow collection:   **[collected pkts: 14922][processed flows: 456434]**
30/May/2018 11:09:20 [nprobe.c:3049] Flow drop stats:   [0 bytes/0 pkts

[2018-05-30 18:37] radixtenshi commented on #1801
Hello, it doesn't work with any pool. Even the child safe pool or any other. I already test it.
I check the file /var/log/ntopng/ntopng.log
and i found this:

![image](https://user-images.githubusercontent.com/4320793/40739900-bd2b1726-641d-11e8-8cfd-9b0f2ddeb888.png)

Same happen if want to uncheck the "child safe" option for the "children" host pool. No change is taken.
Same if i want to add the

[2018-05-30 20:41] Alestor commented on #1794
@simonemainardi: How do you plan to proceed with the SNMP support in ntopng professional ?

[2018-05-30 23:34] radixtenshi opened #1805 "Manage Pool Membership - Cant add description into "Alias" field."
Hello again, sorry about asking all the time. I found another posible bug.

When i try to add a description into the "Alias / Manufacturer" field on the "Manage Pool Membership" options and i hit the "Save" button... the changes are not saved.

![image](https://user-images.githubusercontent.com/4320793/40752964-45d7047a-6448-11e8-8fb1-041527b8c6e2.png)

I added single hosts by IPV4 and IPV6 before

[2018-05-31 08:01] emanuele-f commented on #1801
Please remove the `-v` option from the ntopng configuration and restart ntopng. Now, with a clean log, please double check for errors after changing the per-member preference

[2018-05-31 08:25] emanuele-f commented on #1804
Hello, can you post a screenshot of the zmq interface page into ntopng?

[2018-05-31 08:28] emanuele-f commented on #1805
Hello, sorry but we will need time to verify this. Anyway, we are moving towards a new product for traffic policing. Please check out https://www.ntop.org/guides/nedge

[2018-05-31 08:45] emanuele-f commented on #1803
Hello, can you provide a pcap of the device mdns traffic (udp port 5353)?

[2018-05-31 08:58] emanuele-f commented on #1795
Fixed with commit 7bee732a76bde722128b97bc25b655d4ed492adf

[2018-05-31 08:58] #1795 closed, assigned to simonemainardi

[2018-05-31 11:17] #1798 closed, assigned to simonemainardi

[2018-05-31 11:19] simonemainardi commented on #1798
Thanks for reporting.  Issue has been fixed and will be available in the next dev 3.5 build. Please, hold on until tomorrow.

[2018-05-31 14:22] simonemainardi commented on #1800
thanks for reporting, that was due to ndpi. Fixed with: https://github.com/ntop/nDPI/commit/2b4321b5c3f8f00b99f2e52aea520c39f81a2beb

[2018-05-31 14:22] #1800 closed, assigned to simonemainardi, lucaderi

[2018-05-31 14:39] simonemainardi commented on #1772
I get
![image](https://user-images.githubusercontent.com/3397663/40788660-ddd83e9e-64f0-11e8-8f73-20eabbc99f5f.png)

![image](https://user-images.githubusercontent.com/3397663/40788709-f465e92c-64f0-11e8-9432-fa78e195d5fe.png)

with
[code]

Can you please check if the url has a trailing slash? I get the error if I remove the last slash.

[2018-05-31 14:42] #1777 closed, assigned to nobody

[2018-05-31 17:56] radixtenshi commented on #1805
i Understand.. but i buy a ntop Enterprise License, not nedge. I must ask for official support for issues like this?

[2018-05-31 20:31] radixtenshi commented on #1801
I dont start NtopNG with the -v option. I activate that option via web.

![image](https://user-images.githubusercontent.com/4320793/40806382-afbc2f46-64f7-11e8-9939-f266df235159.png)

I rotate the log, change the option to "normal", then stop and start the ntopng service and repeated the action before by doing:

- Unchek the Child Safe option for the "child" host pool. And hit Save.
- Check the Pe

[2018-06-01 09:31] emanuele-f commented on #1805
I'm in the ntop team (support and dev). Maybe we can do something for the license, after we implement VLAN support in nedge.

[2018-06-01 09:40] emanuele-f commented on #1801
I think your configuration got corrupted due to #1799 . Can you start from scratch?
1. Stop ntopng: `systemctl stop ntopng`
2. Delete all data: `redis-cli flushall && sudo rm -rf /var/tmp/ntopng`
3. Restart ntopng: `systemctl start ntopng`

Note: this will delete all the ntopng data

[2018-06-01 12:11] harmane commented on #1804
@emanuele-f

![zmq int](https://user-images.githubusercontent.com/18288828/40840127-63788f86-6573-11e8-947b-dc79491eabb3.PNG)

[2018-06-01 12:24] simonemainardi commented on #1804
do you have any disaggregation set in the Preferences->network interfaces page?

[2018-06-01 12:29] harmane commented on #1804
Yes, was VLAN id. Set to none and I still see nothing in ntopng. VLAN id was also used since I can remember it being available, well prior to this version.

edit: updated to X.4.180531 for both ntopng & nprobe and I am now seeing data in ntopng. I've left disaggregation to none for now. Does changing this require a restart of ntopng?

[2018-06-01 13:35] simonemainardi commented on #1797
any news?

[2018-06-01 15:51] simonemainardi commented on #1734
thanks for pointing this issue out.

I was able to reproduce using FreeBSD 11.

[code]

The snmp library was poorly encoding all the integers using  4-bytes. I've fixed the issue accordingly.

[2018-06-01 15:51] #1734 closed, assigned to simonemainardi

[2018-06-01 15:54] simonemainardi commented on #1489
closing for inactivity, please, reopen if necessary.

[2018-06-01 15:54] #1489 closed, assigned to cardigliano

[2018-06-01 15:59] simonemainardi commented on #376
feature currently implemented and available for any local host:

![image](https://user-images.githubusercontent.com/3397663/40850529-25ffcac8-65c5-11e8-8085-58ceda6879d2.png)

it is also possible to create traffic profiles for the hosts / subnets of interest in order to get such reports:

![image](https://user-images.githubusercontent.com/3397663/40850625-7132966a-65c5-11e8-8729-36829a150958.png)

[2018-06-01 15:59] #376 closed, assigned to nobody

[2018-06-01 15:59] simonemainardi commented on #476
duplicate of #295

[2018-06-01 15:59] #476 closed, assigned to emanuele-f, cardigliano

[2018-06-01 16:04] simonemainardi commented on #520
We are reworking timeseries handling and also evaluating new js charting libraries that provide more advanced filtering of displayed charts. We can't add the zoom selection to the current library so I am closing this issue temporarily. However, we will keep this suggestion into account and make sure the new charting library will provide it.

[2018-06-01 16:04] #520 closed, assigned to nobody

[2018-06-01 16:09] simonemainardi commented on #1069
Implemented. Documentation available at: https://github.com/ntop/ntopng/blob/dev/doc/README.influxdb

issue superseded by https://github.com/ntop/ntopng/issues/1757 with a discussion of the structure of the influxdb model.

[2018-06-01 16:09] #1069 closed, assigned to nobody

[2018-06-01 19:23] radixtenshi commented on #1801
I do it... nothing change.
Any Idea?
I wish where something im doing wrong and not an issue.

[2018-06-01 20:05] radixtenshi commented on #1805
That will be nice once the nedge product get officially stable. We dont worry about the license price, we need an stable tool, no matter if is called ntopng or nedge. But you must to think that right now we buy ntop product purchased specifically for trafic shapping, thing that we are still not able to implement well so far for the repeated issues in the gui and we cant think on buy an aditional p

[2018-06-02 10:21] operations999 commented on #1797
Hello,
Sorry for late reply.
ntopng --version
v.3.3.180413    [Enterprise/Professional build]
We are just using only 1 switch to pull data but we need to add 30 switches and routers but we are not adding due to performance.
Shall we just run yum update it will update to latest version or we have to download and run install again?
Please advise
Thanks

[2018-06-02 13:49] operations999 commented on #1797
[root@localhost init.d]# ./nprobe start
Starting nProbe none
[root@localhost init.d]# ./ntopng start
Starting ntopng: ./ntopng: line 170: 10177 Segmentation fault      (core dumped) $NTOPNG_BINARY /etc/ntopng/ntopng.conf >> /var/log/ntopng/ntopng.log
Unable to start ntopng
when we see log /var/log/ntopng/ntopng.log  it dont show anything.

[2018-06-02 16:23] operations999 commented on #1797
we upgraded it and still it cant start

ntopng --version
v.3.5.180602    [Enterprise/Professional build]

Pro rev:        r1681
Built on:       CentOS release 6.9 (Final)

[2018-06-03 18:33] operations999 commented on #1797
after update and reboot the web interface died we tried to restart the ntopng and nrpobe but it does not start.

[2018-06-04 08:15] Alestor opened #1806 "SNMP Support in Professional Edition"
Hello,

since https://github.com/ntop/ntopng/issues/1794 remains unanswered, I'll try it by opening a new request. I'm pretty upset about how features are handled by the ntopng team. When I purchased ntopng professional it was definitely with snmp support AND upgrades included. The code for SNMP becomes rewritten, suddendly moved up to enterprise and professional remains without SNMP Support at al

[2018-06-04 08:42] Nikhil70 opened #1807 "Is there a way to get real time data directly from nProbe ? Any help would be appreciated !"

[2018-06-04 09:30] emanuele-f commented on #1807
Please open an issue at https://github.com/ntop/nProbe with a proper title and description.

[2018-06-04 09:30] #1807 closed, assigned to nobody

[2018-06-04 09:45] emanuele-f commented on #1797
Hello, please post here a stack trace of the crash by following these instructions:
- install gdb (e.g. `sudo yum install gdb`)
- run `gdb --args ntopng /etc/ntopng/ntopng.conf`
- hit `r` to run the program
- when it crashes, run `bt` to get a backtrace and post it here

[2018-06-04 10:07] simonemainardi commented on #1804
Thanks for reporting.

Correct, changing the disaggregation criterion requires an ntopng restart. You can set it back to VLAN, just don't forget to restart ntopng for the setting to have effect.

[2018-06-04 10:07] #1804 closed, assigned to nobody

[2018-06-04 10:21] lucaderi commented on #1806
Hi, we have moved SNMP from the pro edition as due to design changes in ntopng, it was not possible to keep them in the pro edition. As we acknowledge this can be a problem, I encourage you to contact me (deri@ntop.org) and I will give you a enterprise upgrade at no cost. We apologise for the inconvenience.

[2018-06-04 10:21] #1806 closed, assigned to nobody

[2018-06-04 10:47] operations999 commented on #1797
Reading symbols from /usr/local/bin/ntopng...done.
(gdb) r
Starting program: /usr/local/bin/ntopng /etc/ntopng/ntopng.conf
[Thread debugging using libthread_db enabled]

Program received signal SIGSEGV, Segmentation fault.
0x000000337ab29134 in __strcmp_sse42 () from /lib64/libc.so.6
Missing separate debuginfos, use: debuginfo-install GeoIP-1.6.5-1.el6.x86_64 cyrus-sasl-lib-2.1.23-15.el6_6.2.x86_6

[2018-06-04 11:29] simonemainardi opened #1808 "Alerts Generation Extensions"
Discussions with users brought to light a series of conditions for which it would be desirable to have alerts generated. The conditions are summarized below:

**Security**
- [x] Detected application versions (e.g., SSH client / SSH server too old, OS outdated, vulnerable HTTP server)
- [ ] Traffic to/from blacklisted countries/continents
- [ ] Augment malware alerts with the type of malware
- [x]

[2018-06-04 11:30] simonemainardi commented on #1678
Added as task in https://github.com/ntop/ntopng/issues/1808

[2018-06-04 11:30] #1678 closed, assigned to emanuele-f

[2018-06-04 11:30] simonemainardi commented on #1485
Added as task in https://github.com/ntop/ntopng/issues/1808

[2018-06-04 11:30] #1485 closed, assigned to nobody

[2018-06-04 11:30] simonemainardi commented on #1148
Added as task in https://github.com/ntop/ntopng/issues/1808

[2018-06-04 11:30] #1148 closed, assigned to simonemainardi, emanuele-f

[2018-06-04 11:30] simonemainardi commented on #1087
Added as task in https://github.com/ntop/ntopng/issues/1808

[2018-06-04 11:30] #1087 closed, assigned to simonemainardi, emanuele-f

[2018-06-04 11:30] simonemainardi commented on #1085
Added as task in https://github.com/ntop/ntopng/issues/1808

[2018-06-04 11:30] #1085 closed, assigned to emanuele-f

[2018-06-04 11:31] simonemainardi commented on #1088
Added as task in https://github.com/ntop/ntopng/issues/1808

[2018-06-04 11:31] #1088 closed, assigned to simonemainardi, emanuele-f

[2018-06-04 11:31] simonemainardi commented on #1089
Added as task in https://github.com/ntop/ntopng/issues/1808

[2018-06-04 11:31] #1089 closed, assigned to simonemainardi, emanuele-f

[2018-06-04 11:31] simonemainardi commented on #1024
Added as task in https://github.com/ntop/ntopng/issues/1808

[2018-06-04 11:31] #1024 closed, assigned to simonemainardi, emanuele-f

[2018-06-04 11:31] simonemainardi commented on #1019
Added as task in https://github.com/ntop/ntopng/issues/1808

[2018-06-04 11:31] #1019 closed, assigned to simonemainardi, emanuele-f

[2018-06-04 11:31] simonemainardi commented on #979
Added as task in https://github.com/ntop/ntopng/issues/1808

[2018-06-04 11:31] #979 closed, assigned to simonemainardi, emanuele-f

[2018-06-04 11:31] simonemainardi commented on #495
Added as task in https://github.com/ntop/ntopng/issues/1808

[2018-06-04 11:31] #495 closed, assigned to emanuele-f

[2018-06-04 12:09] emanuele-f commented on #1797
Can you post your /etc/ntopng/ntopng.conf file?

[2018-06-04 12:43] operations999 commented on #1797
[code]

[2018-06-04 13:07] Alestor commented on #1806
Thank you @lucaderi. I've wrote you an email.

[2018-06-04 16:56] emanuele-f commented on #1797
Please specify a value after `-S=`, e.g. `-S=local`

[2018-06-05 05:36] operations999 commented on #1797
Now the ntopng/nrpobe services started but no data is processing. Flow graphs are blank.

[2018-06-05 08:15] emanuele-f commented on #1797
Please also specify the nprobe configuration used and post a screenshot of the `tcp://127.0.0.1:5556` interface page into ntopng

[2018-06-05 09:10] operations999 commented on #1797
https://prnt.sc/jr19wt

[code]

[2018-06-05 09:37] emanuele-f commented on #1797
You are capturing from loopback interface `lo`, this is probably not what you want.

Please check out: https://www.ntop.org/nprobe/network-monitoring-101-a-beginners-guide-to-understanding-ntop-tools/

[2018-06-05 09:55] operations999 commented on #1797
nprobe config we change to eth0?

[2018-06-05 10:36] fsamareanu commented on #1803
Link sent via e-mail.

[2018-06-05 10:36] emanuele-f commented on #1797
Yes, this is an option if you want to capture local interface traffic

[2018-06-05 10:38] operations999 commented on #1797
We want to capture all traffic of switches in datacenters. Do you mean that we enable eth0 so snmp/sflow is captured? But wondering why it broke after upgrade? Earlier issue was slow and now nothing works :)

[2018-06-05 12:54] emanuele-f commented on #1797
If you want to capture sflow traffic then you have to use the `--collector-port` option as explained in the guide linked above.

[2018-06-06 09:00] zxyz commented on #1757
sorry, took me a while to find time to test this.
I'm really satisfied with this, thanks a lot!

[2018-06-06 12:02] emanuele-f commented on #1757
Thank you for the feedback

[2018-06-07 06:36] sidsamant opened #1809 "ANOM_ABEND ...... comm="ntopng" exe="/usr/bin/ntopng""
Ntopng fails with following errors in /var/log/messages. Flows from a singe interface are dumped into Elasticsearch. This was working sometime till 1st June and then it crashes by iteself. A server restart fixes it but then it crashes again after sometime.

[code]

Thanks in advance.
Sid

[2018-06-07 06:41] sidsamant commented on #1809
Sorry for the bad formatting for the first few lines. I tried to paste it within the back-ticks but didnt work. Please suggest me on how to format correctly and I would try again.

[2018-06-07 08:09] emanuele-f commented on #1809
Hello, triple backticks are needed for multiple lines. Can you get a backtrace of the crash using gdb? You can do it in the following way:

1. stop the running ntopng instance: `systemctl stop ntopng`
2. run ntopng through gdb: `gdb --args ntopng /etc/ntopng/ntopng.conf` then run `r` to start it
3. when it crashes, you can get a backtrace with the `bt` command

[2018-06-07 08:18] emanuele-f commented on #1809
@sidsamant you are using an old version, please update to the latest version before verifying this

[2018-06-07 08:28] emanuele-f commented on #1803
Thank you. Issue is caused by the following line:

https://github.com/ntop/ntopng/blob/dev/src/Flow.cpp#L2734

and here is the related log:

[code]

[2018-06-07 08:31] sidsamant commented on #1809
Thanks for those suggestions. I will get back with the results you asked for.

[2018-06-07 09:51] emanuele-f commented on #1805
Don't worry about the license, we can move it to the new product. nedge is really close to the final stage but we currently lack performance measurements in large environments. Please stand by while we decide the timings for the product launch.

[2018-06-07 10:16] emanuele-f commented on #1785
I've checked the above instructions with a fresh configuration and was unable to reproduce. I'm closing the issue as it's solved.

[2018-06-07 10:16] #1785 closed, assigned to emanuele-f

[2018-06-07 11:34] QuentinBibas opened #1810 "Assigning several interfaces to one user"
Hi,

Is there a way to, as the title says, assign several interfaces to one "user" ?

[2018-06-07 11:56] emanuele-f commented on #1810
Hello, you can only assign a single interface right now. You could create a view interface to achieve something similar to what you ask, e.g. `-i eth0 -i eth1 -i view:eth0,eth1` and then assign the view interface.

[2018-06-07 12:03] QuentinBibas commented on #1810
well, i've already done this.
except it would be nicer if i could assign both separate streams of a net TAP to be able to really see the inbound and outbound directions clearly split up

(knowing that my 1Gbps full duplex link is going 1.2Gbps isn't enough, as it's not critical at that point, while knowing that the inbound is currently doing 900Mbps is far more critical as it's nearly saturated)

[2018-06-07 13:13] darox commented on #1772
My URL looks like this https://192.168.2.1:3000/lua/modules/grafana/ it's NTOPNG on pfsense. Is your grafana and ntopng instance on the same host?

[2018-06-07 13:44] tomoxwell opened #1811 "Packet polling"
Packet polling takes forever after issuing the command for making the bridge

[2018-06-07 14:14] emanuele-f commented on #1811
@tomoxwell can you be more specific on the setup, command, ntopng version used? ntopng has a web gui, you have to connect to port 3000

[2018-06-07 14:22] tomoxwell commented on #1811
The bridge polling does not go beyond : started packet bridge polling for bridge : enp0s25, enp2s0

My ntopng.conf looks like below:

sudo cat /etc/ntopng/ntopng.conf
#  listen on localhost:3000 only
--http-port=:3000

# Use prefix due to nginx proxy
--http-prefix="/ntopng"

# Everybody's admin
#--disable-login=1

# Do not resolve any names
--dns-mode=3

# Limit memory usage
--max-num-flows=200000

[2018-06-07 15:04] tomoxwell commented on #1811
I am using version 3.4-stable

[2018-06-07 17:46] tomoxwell commented on #1811
07/Jun/2018 20:45:56 [PeriodicActivities.cpp:100] Each periodic activity script will use 2 threads
07/Jun/2018 20:45:56 [NetworkInterface.cpp:2462] Started packet polling on interface bridge:enp2s0,enp0s25 [id: 4]...
07/Jun/2018 20:45:56 [PacketBridge.cpp:1014] Started packet bridge polling for bridge:enp2s0,enp0s25

[2018-06-07 21:07] radixtenshi commented on #1805
OK.. thanks a lot, in the meantime i keep testing ntopNG.

[2018-06-08 05:00] sidsamant commented on #1809
The ntopng version is
[code]

same during the ABEND. I tried upgrade but the same version exists on Fedora 26 repo.
ntopng hasn't crashed again yet. So don't have the back trace results.
I will close the issue for now and get back if it recurs.

Thanks again.

@

[2018-06-08 05:00] #1809 closed, assigned to nobody

[2018-06-08 08:11] wawava opened #1812 "Host Pool Top Traffic Statistics"
Hi
    i'm use host pool to see traffic Statistics ,when hover mouse, it display the interface traffic,can display the host pool top traffic statistics?thx
![image](https://user-images.githubusercontent.com/5871219/41146546-47585c28-6b36-11e8-80ba-faf2bfa9a25a.png)

[2018-06-08 08:14] wawava commented on #1812
ntopng version is v.3.4.180516

[2018-06-08 09:11] emanuele-f commented on #1812
Hello, this has already been reported, but, so far, this is what we have. Please see #1783 .

[2018-06-08 09:11] #1812 closed, assigned to nobody

[2018-06-08 09:13] emanuele-f commented on #1811
This is normal, please check out the official documentation if you want to run ntopng as a service. https://www.ntop.org/guides/ntopng/how_to_start/running_as_a_daemon.html

[2018-06-08 09:13] #1811 closed, assigned to nobody

[2018-06-08 09:14] emanuele-f commented on #1809
Please note that we only support packages installed from http://packages.ntop.org/ . I suggest you to report to the fedora team that the ntopng package has been updated to a new stable so that they can update their repo package.

[2018-06-08 09:16] tomoxwell commented on #1811
Much appreciated.Makes sense

[2018-06-08 13:42] sticks221 opened #1813 "Licencing Issue"
Sorry to leave this here but doing so out of desperation...  the NTop website advises that free licences are available to non-profit organisation and hospitals (my company is both) but after sending several emails to education@ntop.org and getting no response, I wonder if anyone here can point me to someone that can help?

Thank you in advance.

[2018-06-09 07:23] jiangdu8888 opened #1814 "login page"
Why the login page of my web page can be opened after my community version is installed, but I can't log in normally without any prompt

[2018-06-11 08:32] emanuele-f commented on #1814
Please check out the `-l` option:

[code]

[2018-06-11 08:32] #1814 closed, assigned to nobody

[2018-06-11 08:33] emanuele-f commented on #1813
Hello, maybe there is some anti-spam taking place, please send me your email at faranda@ntop.org and I'll forward it to the appropriate person.

[2018-06-11 08:33] #1813 closed, assigned to nobody

[2018-06-11 19:56] nate-byrnes opened #1815 "Latest ntopng segfaulting (again....)"
Related to #1725, I've pulled in the latest from the repository, and it too is crashing. Here is the backtrace:

#0  0x00007ffff43f2c37 in raise () from /lib/x86_64-linux-gnu/libc.so.6
#1  0x00007ffff43f6028 in abort () from /lib/x86_64-linux-gnu/libc.so.6
#2  0x00007ffff442f2a4 in ?? () from /lib/x86_64-linux-gnu/libc.so.6
#3  0x00007ffff443b82e in ?? () from /lib/x86_64-linux-gnu/libc.so.6
#4  0

[2018-06-12 12:05] emanuele-f commented on #1815
Can you confirm the ntopng version used with `ntopng --version`?

Can you post your ntopng log?

[2018-06-12 12:24] emanuele-f commented on #1810
I understand the problem, please open a separate feature request so that we can discuss it.

[2018-06-12 12:24] #1810 closed, assigned to nobody

[2018-06-12 15:13] emanuele-f commented on #1801
Please wait for the new nedge release, which will be available very soon.

[2018-06-12 15:13] #1801 closed, assigned to nobody

[2018-06-12 15:13] emanuele-f commented on #1797
Closing for inactivity.

[2018-06-12 15:13] #1797 closed, assigned to nobody

[2018-06-12 20:13] nate-byrnes commented on #1815
v.3.5.180607    [Enterprise/Professional build]

The log is presently 409MB.... I'm not sure how to isolate the relevant portions of it.

[2018-06-12 20:26] emanuele-f commented on #1815
Please remove the `-v` option from the configuration and run `journalctl -u ntopng`, then scroll the log to the bottom

[2018-06-12 20:44] nate-byrnes commented on #1815
No systemd on this box, its ubuntu 14.04 .... I've been running in GDB to try and catch backtraces.... I've just killed it, removed the old log file, and restarted with service ntopng start. Here is the log since starting:

12/Jun/2018 16:41:21 [Prefs.cpp:968] ntopng will use redis localhost@0
12/Jun/2018 16:41:21 [Ntop.cpp:1499] Setting local networks to 173.225.53.0/24,208.83.121.0/24,208.69.85.

[2018-06-13 10:21] #1815 closed, assigned to nobody

[2018-06-13 10:22] emanuele-f commented on #1815
Thank you, your backtrace was very useful.

[2018-06-14 14:52] #1803 closed, assigned to lucaderi

[2018-06-14 15:46] njcwotx opened #1816 "Dump to Disk not working"
I have a new install, pro license v 3.5.180614-4540 on debian

When i check the box to dump packets to disk, no packets are being dumped.  I have tried for one flow, tried for the both interfaces.  tried 'all packets' eligibility.   tried installing n2disk to see if there was a dependency, but I recall from previous installs that this feature worked without it.  I am running as a standard user cre

[2018-06-14 17:22] lucaderi commented on #1755
@fsamareanu The pcap you sent us is unable to reproduce the issue. However I have made some code changes that IMHO should improve the situation and fix the misclassification. Please give it a try. I will now close this ticket and in case it is still not working, please resubmit me a different pcap we can use to troubleshoot. Many thanks for your support.

[2018-06-14 17:22] #1755 closed, assigned to lucaderi

[2018-06-14 17:23] lucaderi commented on #1808
@simonemainardi This is a monster ticket. Please close it and open individual ones.

[2018-06-14 19:29] njcwotx opened #1817 "Error while Naming a MAC address"
Welcome to ntopng x86_64 v.3.5.180614 - (C) 1998-18 ntop.org

14/Jun/2018 14:26:11 [LuaEngine.cpp:8155] WARNING: Script failure [/usr/share/ntopng/scripts/lua/mac_details.lua][/usr/share/ntopng/scripts/lua/modules/host_pools_utils.lua:42: attempt to concatenate local 'pool_id' (a nil value)]

I installed a few days ago and this worked.  I updated today and now when I set a name to a mac address I

[2018-06-14 19:43] njcwotx commented on #1817
I Self Solved this one....going back through my edits..I discovered a recent edit had accidentally got a "backslash" after I hit the enter key.   I removed it and it appears to be working again.

I still get this  error when updating names, but the hosts entries are populating insteat of failing.

14/Jun/2018 14:26:11 [LuaEngine.cpp:8155] WARNING: Script failure [/usr/share/ntopng/scripts/lua/mac_

[2018-06-14 19:56] njcwotx commented on #1817
and finally for the error above, I have a 'view:" interface to aggregate the 2 inside interfaces.  the hosts pools option does not exist in this view, so when I edit a name in the view:eth1,eth2 interface view, it errors as host pools is hidden.   I do not get the error when I edit a mac name in the indivitual eth1 or eth2 interfaces and the pool option appears within the naming windows (the optio

[2018-06-14 20:42] #1817 closed, assigned to nobody

[2018-06-20 07:54] simonemainardi opened #1818 "Clear GET/POST params when redirecting connections to the Captive Portal"
When the captive portal is enabled, connections are redirected along with their parameters. It is requested to strip those parameters and only let the URL go through. Otherwise, ntopng will perform unnecessary validations such as

[code]

[2018-06-20 07:55] simonemainardi opened #1819 "Captive Portal configuration only applied after the second software restart"
It seems that changes to the ON/OFF status of the captive portal require two ntopng restarts to have effect. It is requested to apply changes on just the first restart.

[2018-06-20 07:56] simonemainardi opened #1820 "Captive Portal redirects for HTTPs connections"
When the captive portal is enabled, it is requested to also redirect HTTPs connections. Even though the users will experience a certificate error, it is important to do the redirect as otherwise the network would appear to be just broken.

[2018-06-20 07:59] simonemainardi opened #1821 "Allow the Captive Portal to be enabled/disabled without reboot"
It is requested to allow captive portal enable/disable without rebooting the device. This basically boils down to remove/add the corresponding iptables DNAT rules associated. Other settings and flags are automatically handled by the preferences mechanism.

[2018-06-20 08:00] simonemainardi opened #1822 "Attempt to index field 'bridging' (a nil value)"
[code]

[2018-06-20 08:02] simonemainardi commented on #1821
with the latest implementation it is also necessary to handle the start/stop of the webserver handling captive portal requests

[2018-06-20 14:02] emanuele-f commented on #1816
It was a bug, now fixed with commit f62345e0cbba901cd842626eac808607c5415799 . By the way, n2disk is not needed. A new package will be available in one hour. Thank you for reporting.

[2018-06-20 14:02] #1816 closed, assigned to emanuele-f

[2018-06-20 14:13] #1818 closed, assigned to nobody

[2018-06-20 14:16] lucaderi opened #1823 "SNMP average traffic is 0"
When showing the SNMP device stats the average traffic is zero
<img width="1027" alt="screen shot 2018-06-20 at 16 15 23" src="https://user-images.githubusercontent.com/4493366/41664082-2ffdeae8-74a5-11e8-9780-0da61ffe7858.png">

[2018-06-20 16:07] #1819 closed, assigned to nobody

[2018-06-20 18:16] DRST-github commented on #1777
I fixed the problem by omitting the root and intermediate certificate from the pem file.

[2018-06-21 05:29] raa0x0 opened #1824 "Problem with pfring-dkms update on debian jessie."
When I try to update packages,  I always get the following errors:
[code]
[code]

[2018-06-21 06:54] sidsamant commented on #1809
Upgrading ntopng fixed the issue. Thanks again

[2018-06-21 07:43] emanuele-f commented on #1824
Hello, please open an issue on https://github.com/ntop/pf_ring .

[2018-06-21 07:43] #1824 closed, assigned to nobody

[2018-06-21 11:49] Shivam2302 opened #1825 "get_top_talkers.lua is returning null object"
I am able to get json data while running get_top_realtime.lua but get_top_talkers.lua is returning [].

[2018-06-22 09:10] emanuele-f commented on #1825
Hi, get_top_talkers.lua requires the "epoch" parameter in the past, for example: `http://127.0.0.1:3000/lua/get_top_talkers.lua?addvlan=true&epoch=1529575174`. You can look at the HTTP requests made from the interface charts page when you hover the mouse over a chart (The `Minute Interface Top Traffic Statistics` table is populated from `get_top_talkers.lua`).

[2018-06-22 10:17] emanuele-f opened #1826 "Add toggle to disable crypto miners alerts"
Also evaluate the possibility to toggle all the custom lists alerts instead (currently only crypto miners).

[2018-06-22 10:48] ol3k opened #1827 "no rrd files created in /var/tmp/ntopng/{IFACE-ID}/rrd/{IP}"
Hi,

I recently installed ntopng with nprobe.

-G=/var/run/ntopng.pid
-e=
--interface="tcp://127.0.0.1:5556"
-w=3000
-n=3
-d=/var/tmp/ntopng
-q=
--community=

--zmq="tcp://*:5556"
--collector-port=2055
-n=none
-i=none

It's looking fine but there are no rrd files for each host and the protocol statistics are showing an error.

drwx------ 11 nobody nogroup 4.0K Jun 22 12:19 ..
-rw-r--r--  1 nobody

[2018-06-22 13:42] ruchi09 opened #1828 "Info regarding non web based applications"
While monitoring the ftp transactions, although ntopng gives different flows for different file transactions, it does not tell which file is getting transferred. Also, for mysql queries (server client transactions) it only shows one flow.

 Is it possible to get query wise details (knowing which query took how much time) and also the file name in ftp transactions.

[2018-06-22 14:12] emanuele-f commented on #1827
Hello, what ntopng version are you using? Please run `ntopng --version`. Have you enabled the per host timeseries from the ntopng preferences?

[2018-06-22 14:23] emanuele-f commented on #1828
Hi, your requests are very specific to the ftp and mysql protocols, please consider checking out [nDPI](https://github.com/ntop/nDPI), which is responsible for the packet deconding.

In the ftp case, since the flows are different, ntopng could display such information in a consistent way. On the other hand, for mysql the db connection actually consists of a single network flow, so it's normal that

[2018-06-23 10:07] srikrishna0130 opened #1829 "Flow export to logstash"
I have tried out the export to log-stash feature in ntopng , but the exported flows gives only limited data compared to the flow details in ntopng gui.
How do I get more data for the exported flows from ntopng (most of the data in the info section in flows in ntopng)?

[2018-06-23 11:22] srikrishna0130 opened #1830 "C++ debug error in ntopng ( windows)"
I have installed ntopng in windows (2010), and tried out some commands with the /c option but i am facing a c++ debug error and ntopng is exiting after that.
Can you suggest a workaround for this one?

screenshot for the above is attached.
![nropng_c](https://user-images.githubusercontent.com/26489635/41809130-b42738e4-7705-11e8-943a-4eb459b5a2d2.PNG)

[2018-06-25 05:13] Shivam2302 commented on #1825
Hi, even after passing epoch I am getting null object....

[2018-06-25 08:09] emanuele-f commented on #1825
Please follow my suggestion: got into the interface charts page, select 1 day resolution and then over the mouse at the beginning of the chart. If you open your browser network inspector, you can see the HTTP requests being made to ntopng.

[2018-06-25 08:10] emanuele-f commented on #1830
Hello, if you run ntopng without options, does it start properly?

[2018-06-25 08:32] emanuele-f commented on #1829
Hello, currently the flow information exported to logstash / elastic search is the one generated by this function: https://github.com/ntop/ntopng/blob/dev/src/Flow.cpp#L1799 .

If you feel some important fields are missing, please open a separate feature request and list such fields there.

[2018-06-25 08:32] #1829 closed, assigned to nobody

[2018-06-25 08:32] emanuele-f commented on #1828
Closing for now.

[2018-06-25 08:32] #1828 closed, assigned to nobody

[2018-06-25 08:39] emanuele-f commented on #1805
Hello, nEdge is out! Please check out https://www.ntop.org/ntop/introducing-ntopng-edge-nedge-monitoring-service-segmentation-and-security-for-the-network-edge/ and https://www.ntop.org/guides/nedge/bridging.html#vlan-trunk-bridging .

Please note that we currently support only VLAN monitoring (no per-VLAN traffic policies).

[2018-06-25 11:13] srikrishna0130 commented on #1830
It just prompts me to start ntopng as a service from the task manager as I have installed it as a service in Windows.

![ntopng](https://user-images.githubusercontent.com/26489635/41847178-9d470dd4-7868-11e8-8a56-d7a2de478952.png)

[2018-06-25 12:27] emanuele-f commented on #1830
If you only add the `/c` option without `-i`?

[2018-06-25 15:31] andrewObie opened #1831 "ntopng for windows crashing after two days."
I'm running ntopng on a windows 2016 box.  I had it running first on an unbuntu server and both versions are crashing after about two days.  I can't find any logs in the windows directories and the linux logs are long gone.

I'm just using ntopng /i -i 2 -m 10.0.0.0/8

as my service command (we are a large network with around 15k hosts and 38 locations)

I'm curious if that local network segment i

[2018-06-25 15:32] andrewObie commented on #1831
25/Jun/2018 10:15:41 [PeriodicActivities.cpp:100] Each periodic activity script will use 2 threads
25/Jun/2018 10:15:41 [PeriodicActivities.cpp:59] Started periodic activities loop...
25/Jun/2018 10:15:41 [NtopPro.cpp:519] [LICENSE] Validity:	Until Mon Jun 25 10:25:39 2018
25/Jun/2018 10:15:41 [NtopPro.cpp:510] [LICENSE] License Type:	Demo License
25/Jun/2018 10:15:41 [NtopPro.cpp:509] [LICENSE] E

[2018-06-25 15:35] andrewObie commented on #1831
To cull it down (the /8 range) I focused in on two of our main octects, so now I'm running -m -m 10.50.0.0/16, 10.84.0.0/16 to see if it helps

[2018-06-25 16:00] andrewObie commented on #1831
Ive now paired it down with the actual networks we are using.  We will see if that helps

 10.50.0.0/16,10.84.0.0/16,10.85.0.0/16,10.86.0.0/16,10.87.0.0/16,10.88.0.0/16,10.89.0.0/16,10.90.0.0/16,10.91.0.0/16,10.94.0.0/16,10.95.0.0/16,10.96.0.0/16,10.97.0.0/16,10.98.0.0/16,10.100.0.0/16,10.101.0.0/16,10.102.0.0/16,10.103.0.0/16,10.104.0.0/16,10.105.0.0/16,10.106.0.0/16,10.107.0.0/16,10.108.0.0/16,1

[2018-06-25 16:33] emanuele-f commented on #1831
Hello, let's stick to the ubuntu version (which ubuntu version exactly?) until we understand the issue. Please run `ntopng --version` to get the ntopng version number. What command are you executing to retrieve the logs? Normally you can do this with `sudo journalctl -u ntopng`

[2018-06-25 16:56] andrewObie commented on #1831
It's crashing again, randomly even with the entire subnets defined rather than 10.0.0.0/8 so that's not the issue.

I'll have to fire back up the ubuntu server again and get it running, I'll let you know in a about an hour of the options you asked me.  I'm not sure how to retrieve the logs so I will run those commands in Ubuntu and do some research before responding.  I built a ntopng server on wi

[2018-06-25 17:16] ruchi09 opened #1832 "Parameters of JSON in mysql"
What are all the parameters "JSON" attribute is giving while exporting the ntopng data through mysql?

![my_sql_json_cropped](https://user-images.githubusercontent.com/19363256/41864913-1aca1426-78c9-11e8-8495-68c92e4a9c5b.png)

[2018-06-25 17:29] ummeegge opened #1833 "TimeSeriesExporter compile Error on version 3.4"
Hello,
i do have currently a problem to compile the new 3.4 version (tested with stable and version from dev branch from today). The build process throws an error on TimeSeriesExporter  and stops at this point.

`
                                            ^
In file included from /usr/include/fcntl.h:313:0,
                 from /usr/src/ntopng/include/ntop_includes.h:84,
                 from sr

[2018-06-25 17:30] srikrishna0130 commented on #1830
Yes I have also tried only the /c option but iam getting the same error message i.e c++ debug error

[2018-06-25 20:23] m4ntic0r opened #1834 "InfluxDB / Grafana, show "realtime" data rate"
For some time i am trying to solve a problem, but i dont know how i can achive this.

1. I want to have real time or ~10s stats for my wan bandwidth (down/upload) in grafana
-> [This in Grafana](https://mm-vault.de/chevereto/image/7BgN)
2. I have configured a mirror port on my netgear switch from the port on which the wan router is connected
3. I have a ntopng running, that mirror port is analyzed

[2018-06-26 02:52] wawava opened #1835 "It's support tow or more dump-flows output"
Dear all
      i want config dump-flows output to **mysql and es**,i see the dump-flows option, no find how to config about that,just have **mysql or es** config,no both in time,can help me ?thx

[2018-06-26 05:05] Shivam2302 commented on #1825
Even the http request is getting null object....

[2018-06-26 06:42] ol3k commented on #1827
Hi @emanuele-f

GIT rev:	3.4-stable:fa4615f95326ff3db4ca5f59d2cee0f113a2d2d3:20180621
Pro rev:	r1595
Built on:	Debian GNU/Linux 9.1 (stretch)
System Id:	68878E8276066B21
Platform:	x86_64
Edition:	Enterprise
License Type:	Demo

I enabled anthing in timeseries for testing purposes.

![image](https://user-images.githubusercontent.com/1680145/41893645-c5b820aa-791c-11e8-8824-9575143000e5.png)

[2018-06-26 07:51] Oxyde59 opened #1836 "ntopng on windows 2008 R2 crash every 5 min"
Hi,

I running Ntopng on a physical server on 2008R2 up to date, and it crash every 5-10 min.

What do u need for debug ?

Here is eventvwr log :
Nom de l’application défaillante ntopng.exe, version : 0.0.0.0, horodatage : 0x5ad64960
Nom du module défaillant : ntopng.exe, version : 0.0.0.0, horodatage : 0x5ad64960
Code d’exception : 0xc0000005
Décalage d’erreur : 0x0000000000443fef
ID du processus

[2018-06-26 07:58] emanuele-f commented on #1835
Hellow currently this is not supported, you can only export to mysql *or* es.

[2018-06-26 07:58] #1835 closed, assigned to nobody

[2018-06-26 08:00] emanuele-f commented on #1830
Are you using the latest version available from http://packages.ntop.org/Windows ?

[2018-06-26 08:02] emanuele-f commented on #1836
Duplicate of #1781 .

[2018-06-26 08:02] #1836 closed, assigned to nobody

[2018-06-26 08:05] srikrishna0130 commented on #1830
Yes, I am using the latest version available on the ntopng website. ( Ver 3.4180417)

[2018-06-26 08:09] emanuele-f commented on #1830
Sorry, there is a long standing issue with windows, so this is a duplicate of #1781 . Please check it out for updates.

[2018-06-26 08:09] #1830 closed, assigned to nobody

[2018-06-26 08:12] emanuele-f commented on #1831
The latest Windows build has documented crashes ( see #1781 ). So please check out the ubuntu version for now.

[2018-06-26 08:26] emanuele-f commented on #1834
Hello, this is currently not configurable. However, you could manually edit https://github.com/ntop/ntopng/blob/dev/scripts/callbacks/system/second.lua :

- Add `local minute_schema = require("ts_minute")` under `local ts_schemas = require("ts_second")`.
- Add the following inside the `callback_utils.foreachInterface` function:
[code]

[2018-06-26 08:26] #1834 closed, assigned to nobody

[2018-06-26 08:31] emanuele-f commented on #1833
By searching the issue on the web, it seems like the open function (in TimeSeriesExporter::createDump) on your system requires three arguments. Please check out https://github.com/pantheon-systems/fusedav/issues/204 .

[2018-06-26 08:35] emanuele-f commented on #1832
Please check out https://github.com/ntop/ntopng/blob/dev/src/Flow.cpp#L1799 .

[2018-06-26 08:35] #1832 closed, assigned to nobody

[2018-06-26 08:39] emanuele-f commented on #1825
What ntopng version are you using (see `ntopng --version`)? So if you hover the mouse over the chart as described above, do you always get an empty `Minute Interface Top Traffic Statistics` table?

[2018-06-26 08:40] emanuele-f commented on #1781
Sorry for the delay, we are working on the issue.

[2018-06-26 08:46] emanuele-f commented on #1827
I think you are missing the `-m` option. Since you are capturing from nprobe, you have to tell ntopng which are your local networks. For example `-m="192.168.1.0/24,10.1.0.0/16"`. After this, a chart icon will happear under your local hosts.

[2018-06-26 10:23] ol3k commented on #1827
Yes, thanks. That was missing. Now the chart icon and RRD files are available.

Another question not related to rrd, but I didn't find a solution yet:

Is there any possibility to just gather flows of specific nets in the collector modes?
The --bpf-filter isn't working with ntopng or nprobe in collector-mode, the --collection-filter in nprobe seems to have no effect.

EDIT:
after some reading: I t

[2018-06-26 12:12] emanuele-f commented on #1827
Which is the collection filter you are using? The fix for that issue has been backported to stable, so if you have an updated nprobe it should work.

[2018-06-26 12:15] emanuele-f opened #1837 "Define protos.txt with IP or domains from the GUI"
It is requested to implement custom protocol definitions into the ntopng gui. This will greatly simply the task of defining custom protocols, which now requires manual proto.txt creation.

[2018-06-26 12:27] ol3k commented on #1827
I try to filter a single proxy ip. In production environment there should be about 12 of /24s.

-i=none
-n=none
--collection-filter="172.16.0.180/32"
-3=2055
--zmq=tcp://127.0.0.1:5556

[2018-06-26 13:00] emanuele-f commented on #1827
I've just tested the collection filter and it work properly for me. The filter above tells nprobe to only export traffic which has source IP or destination IP 172.16.0.180 .

Please note that you are using nprobe 8.5 (dev) with ntopng 3.4 (stable) and this is not recommended. Please stick with dev or stable releases only.

[2018-06-26 13:10] ol3k commented on #1827
hmm that's bad :-(

During the nprobe update I updated ntopng, too.

This should be fine:

Any suggestions I can try?

[2018-06-26 13:18] andrewObie commented on #1831
Thanks.  The ubuntu version was crashing as well though, so I'm going to gather the data requested today and post it here from the logs there, give me the morning and I'll get the provided info from the ubuntu crashes.  Had to run off site yesterday Thanks.

[2018-06-26 14:17] andrewObie commented on #1831
This is my ubuntu build version:

v.3.2.171227	[Community build]
GIT rev:	:3.2.171227

[2018-06-26 14:19] emanuele-f commented on #1827
That versions are ok now.

If you can provide a pcap file with the netflow traffic as seen by nprobe I can perform tests with your exact flows. If so, please send me a pcap at faranda@ntop.org . You can use `tcpdump -i eth0 -s0 -w netflow.pcap` where eth0 is your nic to generate it. Please also use wireshark to verify that the pcap contains both netflow template and data.

[2018-06-26 14:20] emanuele-f commented on #1831
Version 3.2 is outdated, please update to the new stable version (3.4) from http://packages.ntop.org/

[2018-06-26 14:21] andrewObie commented on #1831
-- Logs begin at Thu 2018-05-03 15:53:44 CDT, end at Tue 2018-06-26 09:17:59 CDT. --
May 04 07:28:31 ntop systemd[1]: Starting ntopng - High-Speed Web-based Traffic Analysis and Flow Collection Tool...
May 04 07:28:31 ntop ntopng[10647]: 04/May/2018 07:28:31 [Ntop.cpp:1485] Setting local networks to 127.0.0.0/8
May 04 07:28:31 ntop ntopng[10647]: 04/May/2018 07:28:31 [Redis.cpp:111] Successfully c

[2018-06-26 14:23] andrewObie commented on #1831
That's the logs.  Here is my current plan:

I'm going to rebuild the windows 2016 server i have in my rack and put ubuntu server 18.04 and configure ntop with all my subnets for local traffic as the post says above with all my -m networks defined.

I will use the newest build from your link 3.4 and we can go from there.

In the meantime just peak at the logs and see if anything jumps out at you.

[2018-06-26 14:48] andrewObie commented on #1831
Here is my issue now:

The RAID controller driver for the rack server I have available doesn't support ubuntu, it only supports these distros according to the README:

Operating System Support
The following operating systems are supported:
• FreeBSD 7.4 and 8.1 (x86 & amd64)
• Linux (x86 and x86_64)
o Fedora Core 11 & later
o Red Hat Enterprise Linux 5.4 & later
o openSUSE 11.1 & later
o SUSE Linu

[2018-06-26 14:56] andrewObie commented on #1831
**update it looks as if  ubuntu 18.04 is installing fine on the rack mounted server.  The RAID was detected.  Hopefully I shouldnt need another distro

Will keep up to date if I run into issues.

[2018-06-26 15:58] m4ntic0r commented on #1834
thanks for your answer but i have an other problem

i saw that my second.lua looks different because i was on the latest stable ntopng.
i changed my sources.list from:

deb http://packages.ntop.org/apt-stable/stretch/ x64/
deb http://packages.ntop.org/apt-stable/stretch/ all/

to

deb http://packages.ntop.org/apt/stretch/ x64/
deb http://packages.ntop.org/apt/stretch/ all/

and upgraded.

but now

[2018-06-26 15:59] lucaderi opened #1838 "SNMP Top Interfaces is Wrong"
As explained in #1823 not only the average traffic is wrong, but also the interfaces depicted in the graph are NOT the top interfaces in terms of traffic on the selected visualised period, but they are randomly picked interfaces.
It is requested to depict the top interfaces with traffic in the select period (not the interface with top traffic since the beginning epoch, but top traffic on the selec

[2018-06-26 15:59] andrewObie commented on #1831
I am now successfully running stable build 3.4 on 18.04 ubuntu server in the rack that was previously windows 2016.

I will update this thread as content happens and if it continues to run through friday with no issues I will close the issue.

Thanks again.

[2018-06-26 16:04] emanuele-f commented on #1831
Thank you for the update, please let me know.

[2018-06-26 16:12] emanuele-f commented on #1834
Influxdb format has been changed in dev. Please try to execute the following query inside influx:
`select * from "iface:traffic" limit 10`

If you get results, then influx export is working properly. Please check out the new timeseries schemas format at https://github.com/ntop/ntopng/tree/dev/scripts/lua/modules/timeseries/schemas

Edit: Please also check out https://github.com/ntop/ntopng/blob/de

[2018-06-26 16:15] andrewObie commented on #1831
26/Jun/2018 11:15:03 [Lua.cpp:3912] ERROR: Unable to create /var/tmp/ntopng/0/rrd/10/50/95/66/udp.rrd [Cannot create temporary file]
26/Jun/2018 11:15:03 [Lua.cpp:3912] ERROR: Unable to create /var/tmp/ntopng/0/rrd/10/50/95/66/tcp.rrd [Cannot create temporary file]
26/Jun/2018 11:15:03 [Lua.cpp:3912] ERROR: Unable to create /var/tmp/ntopng/0/rrd/10/50/95/66/num_flows.rrd [Cannot create temporary f

[2018-06-26 16:16] andrewObie commented on #1831
nothing happening out the ordinary yet, but just checked the runtime status and the above is showing, not sure if its significant.

[2018-06-26 16:20] emanuele-f commented on #1831
Do you have free disk space? What ntopng options are you using?

[2018-06-26 16:47] andrewObie commented on #1831
500gb Array, only 3.1% in use right now.  We do have a lot of hosts but plenty of disk space.  I'm only using basic default config with -m for local networks right now.

[2018-06-26 16:49] emanuele-f commented on #1831
Maybe it is a permission issue. Please ensure that the directory `/var/tmp/ntopng/0/rrd/10/101/100/24/` is owned by the user which is running also ntopng, or add the `-s` option to ntopng to run as root as last resort.

[2018-06-26 18:26] m4ntic0r commented on #1834
oh yes, complete different format, but i think i have done it now. i added your lines and got 1s interval of the metrics. i have done 10s grouping for my graphs and the values seems to be right. to complete the issue here my actual graphs and settings in grafana for other users:

[Graph of my 100/40 line](https://mm-vault.de/chevereto/image/7JXx)
I was watching a stream and then a full download of

[2018-06-26 18:46] ummeegge commented on #1833
Hello emanuele-f,
this fixed the problem thanks for providing the link to this solution.

Best regards,

Erik

[2018-06-26 19:21] mcs123 opened #1839 "SNMPv3 support?"
Are there any plans to support SNMPv3? My organization only allows for that, and we're currently using the Enterprise version of ntopng.

[2018-06-26 19:24] andrewObie commented on #1831
Those temp files have "no owner".  They are all the subnet IP temp directories I defined with -m.  I'm looking into taking ownership of the entire /rrd/10/* files

[2018-06-27 06:40] ol3k commented on #1827
I should capture on the listening port of nprobe the switch sends its data to?

btw:
I played with the "--black-list" setting, it seems to work as expected.
But I can't  filter the needed /24s by blacklisting all others... I guess I need a working "--collection-filter"

[2018-06-27 07:59] emanuele-f commented on #1827
Yes, something similar to `tcpdump -i eth0 -s0 -w netflow.pcap udp port 2055`

[2018-06-27 08:04] emanuele-f commented on #1831
You can use the -U option to specify a user for ntopng. ntopng will start as root but will drop privileges to the specified user.

[code]

[2018-06-27 08:06] emanuele-f commented on #1833
Glad it helped.

[2018-06-27 08:06] #1833 closed, assigned to nobody

[2018-06-27 08:10] emanuele-f commented on #1834
Thank you very much for your contribution.

[2018-06-27 09:59] emanuele-f commented on #1838
Fixed in commit bd0eee177da97d6c4ec62fc8c7bcd03e8d8d4155 . Also added the dummy "other" serie.

[2018-06-27 09:59] #1838 closed, assigned to emanuele-f

[2018-06-27 10:00] emanuele-f commented on #1823
Fixed in commit bd0eee177da97d6c4ec62fc8c7bcd03e8d8d4155 .

[2018-06-27 10:00] #1823 closed, assigned to emanuele-f

[2018-06-27 10:27] emanuele-f commented on #1827
So sFlow is being used, not netflow. I've reproduced your issue, I've opened a bug. Please follow https://github.com/ntop/nProbe/issues/275 .

[2018-06-27 10:27] #1827 closed, assigned to nobody

[2018-06-28 00:18] radixtenshi commented on #1805
Thanks! We will watch on it.

[2018-06-28 15:47] lucaderi commented on #1839
the SNMP library we're using does not support v3 and extending it with v3 support will take a lot of time. We need to find alternatives and see how to accommodate them.

[2018-06-29 09:07] Shivam2302 commented on #1825
Thanks it worked .....

[2018-06-29 09:07] #1825 closed, assigned to nobody

[2018-06-29 16:06] josemanuelmeza opened #1840 "Problem with increase flows"
I ran the command "C:\Program Files\ntopng>ntopng /c -X 1310720" to increase the flows, but It appears an error:

C:\Program Files\ntopng>ntopng /c -X 531072
Starting ntopng
Running ntopng.
28/Jun/2018 16:24:39 [Ntop.cpp:1499] Setting local networks to 127.0.0.0/8
28/Jun/2018 16:24:39 [Redis.cpp:132] Successfully connected to redis 127.0.0.1@0
28/Jun/2018 16:24:39 [Redis.cpp:132] Successfully conn

[2018-06-29 18:17] emanuele-f commented on #1840
Duplicate of #1781

[2018-06-29 18:17] #1840 closed, assigned to nobody

[2018-06-30 15:53] shahid30 opened #1841 "Ntopng Pfsense PPPoE server Clients Not monitoring"
I have installed ntopng in pfsense . It is monitoring dhcp clients very well but not showing any data of PPPoE server clients .  Any help about ?

[2018-06-30 18:16] cardigliano opened #1842 "Packet capture from ZC interface pairs (TAP)"
ntopng should be able to capture traffic from interface pairs when capturing from ZC interfaces (e.g. -i=zc:eth0,zc:eth1). This is useful when capturing from a TAP for instance.
A comma-separated list of interfaces is already supported (through pf_ring) when capturing from standard interfaces, however it seems it is not supported with ZC interfaces.

[2018-07-02 07:41] emanuele-f commented on #1841
Hello, what ntopng configuration are you using? Can you describe your network setup?

[2018-07-02 08:31] emanuele-f opened #1843 "Add enterprise traffic report to the ntopng documentation"

[2018-07-02 08:33] emanuele-f opened #1844 "Explain local hosts in the documentation"
Explain the concept of local hosts and networks at the beginning of the documentation

[2018-07-02 11:23] cardigliano commented on #1842
Implemented

[2018-07-02 11:23] #1842 closed, assigned to nobody

[2018-07-02 12:19] shahid30 commented on #1841
I let The default Configuration.

[2018-07-02 12:35] shahid30 commented on #1841
Here Is My configuration that I tried.

![1a](https://user-images.githubusercontent.com/40720201/42164201-baf99912-7e1e-11e8-858c-f96973ce2273.png)
![2](https://user-images.githubusercontent.com/40720201/42163954-e81e85ca-7e1d-11e8-9c4f-516bb4550b22.png)
![3](https://user-images.githubusercontent.com/40720201/42163979-02c5d540-7e1e-11e8-9cac-2184b343dbe7.png)
![4](https://user-images.githubusercon

[2018-07-02 12:54] emanuele-f commented on #1841
What's the output of `ifconfig` in your sever? Have you tried selecting an interface from the "Interfaces" menu into the gui?

[2018-07-02 13:04] shahid30 commented on #1841
Yes I selected the interface Lan on which the pppoe server is active
![ifcofig](https://user-images.githubusercontent.com/40720201/42165663-2d05f052-7e22-11e8-86c4-81f354c27fda.png)

[2018-07-02 15:02] emanuele-f commented on #1841
So the interface is em1 right? Can you provide a pcap capture? Please run `sudo tcpdump -i em1 -s 0 -n -w ppoe.pcap` and let it run for some seconds. Then send the pcap to faranda@ntop.org .

[2018-07-02 16:14] shahid30 commented on #1841
Yes em1 interface and my server is not replying this command so what can I do now ?

[2018-07-02 16:18] emanuele-f commented on #1841
You have to execute this from command line (e.g. ssh), you cannot do this from the gui

[2018-07-02 16:18] shahid30 commented on #1841
ok

[2018-07-02 17:19] shahid30 commented on #1841
It is taking to long to command . please tell how to abort and collect ppoe.pcap file ?

[2018-07-03 13:50] ruchi09 opened #1845 "Not able to push data to logstash"
I compiled the ntopng source code after adding few lines to the Flow.cpp as follows.

[code]

I tried to push flows to logstash but ntopng stops after few seconds. This is what it shows.

[code]

Logstash conf:

[code]

I am using ubuntu 14.04
source code version:

[code]

I do have the binary package of ntopng installed in the same machine and it works fine.
Package version:

[code]

[2018-07-03 16:32] andrewObie commented on #1831
I'm having the same temp file errors but I've successfully run ntopng 3.4 stable build now for over a week which is the longest I've run it.  It's on ubuntu 18.04.

The permission issues are weird, but that's going to be another issue, I'm resolving this ticket bc my original issue has been resolved.  Thanks Emanuele-F

[2018-07-03 16:32] #1831 closed, assigned to nobody

[2018-07-03 16:57] m4ntic0r commented on #1834
did a update today but this is not working anymore.. with the lines there is only a 1min interval again.

[2018-07-03 18:10] emanuele-f commented on #1834
You are working on dev, api has changed! See 5d50622341d0fe3908e7f92e59b990ee8a899447 . Just replace:

- `minute_schema.iface_local2remote` with `"iface:local2remote"`
- `minute_schema.iface_remote2local` with `"iface:remote2local"`

[2018-07-03 18:11] emanuele-f commented on #1831
Thank you for reporting. I'm going to verify this new issue on ubuntu 18 as other users experienced this.

[2018-07-04 08:57] prasanthi97 opened #1846 "User details in a flow"
In a particular flow I'm able to get the ip-address and mac address of the user. As well can we get the user name for the respective user.
How can we identify whether the user is VDI user or a Citrix user or Desktop/laptop user.

[2018-07-04 09:36] emanuele-f commented on #1846
Usually you can identify virtual hosts by the MAC address manufacturer

[2018-07-04 09:49] cjwbath opened #1847 "SNMP does not use v2c after initial device add"
I have some SNMP v2c-only devices I want to add to ntopng (Enterprise Edition v.3.4.180628) but they show as not responsive in the UI after adding them to the list.

When I tcpdump on the ntopng server as I add the device, I see an initial GetRequest for _sysName_ that honours my choice of v2c in the version dropdown. But then every subsequent interaction with that device tries to use v1 and fails

[2018-07-04 10:14] cjwbath commented on #1847
Actually if I set v2c as a global preference for the SNMP version then it is used. So it seems the global setting is always used instead of the per-device setting. The devices still show as not responding though even though I can see responses from them in the tcpdump.

[2018-07-04 10:26] prasanthi97 commented on #1846
I'm able to identify the host.
Can we get the user name?

[2018-07-04 10:46] srikrishna0130 commented on #1845
I Am facing a similar issue , that is i built it from the source code and i was facing a similar issue whilst using the -F option.(i didn't modify the source code in any manner)
I tried it using the dev-branch (the current one).

[2018-07-04 13:08] ruchi09 commented on #1845
I tried putting the statements in if condition.. i.e.

[code]

It solved the problem for me. I guess it was because of the client name and server name statements.
Current version after compilation (without modification in source code) worked fine for me too.

[2018-07-04 13:09] #1845 closed, assigned to nobody

[2018-07-04 13:09] emanuele-f commented on #1846
ntopng already extracts host name from different protocols (e.g. MDNS, Bootp, NetBios) and operating system as well (e.g. from HTTP requests). But if the virtual host is NAT-ted, name information is not available because such packets do not reach the network interface. Please note that I'm referring to the machine name, not the "user name". The actual "user name" would require some sort of probe i

[2018-07-04 13:11] emanuele-f commented on #1845
@srikrishna0130 please open a separate issue with details if you still experience it.

[2018-07-04 14:00] emanuele-f opened #1848 "Cannot create temporary file on ubuntu 18.04"
Reported by the users, some errors like the following:

[code]

[2018-07-04 14:01] emanuele-f commented on #1831
I've opened this issue #1848

[2018-07-04 14:03] emanuele-f commented on #1847
Hello, this should be already fixed in dev version (3.5). It includes gui changes, so we cannot backport the fix to stable. Please check out the dev version if possible until a new stable is released.

[2018-07-04 14:05] emanuele-f commented on #1820
HTTPs captive portal has been disabled, is this issue still relevant?

[2018-07-04 14:05] lucaderi commented on #1841
PPPoE is supported in the latest devel version of ntopng. You can check this using this pcap https://github.com/aol/moloch/blob/master/tests/pcap/pppoe.pcap (ntopng -i pppoe.pcap)
Please update and it should also work for you

[2018-07-04 14:05] #1841 closed, assigned to nobody

[2018-07-05 21:09] ruchi09 opened #1849 "Errors while executing ntopng on CentOS"
Hi,
I am using CentOS 7.5.1804. I built the source code from current branch (dev) on it. While executing, it gave me following error:

[code]

I copied the i18n folder from ntopng/third-party/i18n.lua-master/i18n to ntopng/scripts/lua/modules/i18n/.
Even then it gave me following warning:

[code]

For above, I renamed init.lua in i18n folder to i18n.lua . It did resolved errors and after this I wa

[2018-07-06 07:33] ruchi09 commented on #1849
Hi, I guess i figured out the problem... the links to the folders i18n and resty in scripts/modules/ were not working in my CentOS.

I further copied the resty folder to scripts/modules/ and replaced the i18n.lua link with the file contents of init.lua.

Doing all these did resolved my issue.

[2018-07-06 08:30] emanuele-f commented on #1849
Just tested in a Centos 7.5.1804 and it works fine for me. I'm closing the issue since you solved it on your system.

[2018-07-06 08:30] #1849 closed, assigned to nobody

[2018-07-06 09:49] #1846 closed, assigned to nobody

[2018-07-06 10:15] emanuele-f commented on #1848
The issue is related to the directory permissions. It can only reproduced sometimes. Here is the directory output when it occurs:

[code]

subnetstats directory does not have read/write permissions. However, it is created by `Utils::mkdir_tree` which should create it with `0700` permission. When trying to write to it, the following error occurs:

```06/Jul/2018 11:22:00 [Lua.cpp:3912] ERROR: Unabl

[2018-07-06 13:30] showipintbri commented on #1653
I too would prefer to choose which Slack channels to send alerts.

Are the slack channels identified in a configuration file I can edit on the host OS?

[2018-07-07 12:07] emanuele-f commented on #1653
Currently they are not configurable, they are bound to the alert "entity type": https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/alert_endpoints/slack.lua#L83

[2018-07-07 19:57] lucaderi opened #1850 "Optimize Hosts Memory"
Local hosts contain much more information than the remote ones. Unfortunately the memory footprint is the same as both share the same class. It is requested to optimise the memory for remote hosts.

[2018-07-09 08:18] emanuele-f commented on #1847
@cjwbath any update?

[2018-07-09 08:28] cjwbath commented on #1847
Hi, I didn't want to install the dev version in production and will just make do without the SNMP support until 3.5 is stable. As I mentioned, setting v2c globally does get around some of the problems.

[2018-07-09 08:30] emanuele-f commented on #1847
Ok, I'm closing the issue for now.

[2018-07-09 08:30] #1847 closed, assigned to nobody

[2018-07-09 08:40] simonemainardi commented on #1847
I can confirm the issue has been solved in 3.5

[2018-07-09 08:42] cjwbath opened #1851 "LDAP authentication not attempted"
In ntopng Enterprise Edition v.3.4.180628 I have configured LDAP/Local auth (or just LDAP, the issue is the same). When trying to authenticate it just fails as though receiving a bad password, and I see nothing related to LDAP in the application logs or when doing a tcpdump for traffic towards the expected LDAP server. Also I see nothing when capturing all TCP traffic for ports 389 or 636. So it i

[2018-07-09 09:08] sciolto opened #1852 "Host pool shows more hosts than expected"
This is our Host Pool list:
![image007](https://user-images.githubusercontent.com/1811941/42441032-914cca28-8367-11e8-8481-3c67bbdfea6a.png)

When we add a new hosts to a new pool like this:
![image004](https://user-images.githubusercontent.com/1811941/42441296-1ecd4fda-8368-11e8-8d22-bbe29140b652.png)

The new Host Pool shows 2370 hosts, instead of 1:
![image005](https://user-images.githubusercon

[2018-07-09 09:49] emanuele-f commented on #1852
Hello, the host you are assigning to the pool is probably a gateway, so all the remote hosts will be assigned to the host pool as well. If you want to avoid this behavior, please manually replace the "Member Address" with the IP address

[2018-07-09 11:06] jppo opened #1853 "Add user defined blacklist"
Hello,
The lua script to load "blacklists" has the list of sources "in the code", should it be possible to add  local file to store more sources which will not be overwritten by new versions when upgrading.

Regards

JP Pozzi

[2018-07-09 11:25] emanuele-f commented on #1853
Hello, in dev there is an initial support for this: please check out https://github.com/ntop/ntopng/tree/dev/httpdocs/other/lists . You can add a custom list there. Take malware.txt as an example.

[2018-07-09 13:38] jppo commented on #1853
Hello,

Thanks for your fast answer but my thought was not to have the urls in the code, but to store urls in a separate file.
So every user could modify the file to its preferences without touching the code.

Regards

JP Pozzi

[2018-07-09 14:55] emanuele-f commented on #1853
You mean a file outside our data directory? Please note that if you create a new file under `/usr/share/ntopng/httpdocs/other/lists` with your own list, and it won't be overwritten after a ntopng update. You can even modify the file permissions and ownership.

[2018-07-09 15:10] emanuele-f commented on #1851
Hi, the LDAP support is enabled in debian 9. Have you followed our configuration guide: https://github.com/ntop/ntopng/blob/dev/doc/README.LDAP ? In particular, please see the *IMPORTANT* section. Are you using SSL or plain LDAP?

[2018-07-09 15:31] cjwbath commented on #1851
Thanks, I did follow the configuration guide but am struggling to find any logs to debug this. As I say it appears no traffic is even attempted towards the LDAP servers so it's hard to look at more specific issues like bind credentials or groups being wrong. I have tried both SSL and plain LDAP - we have both AD and OpenLDAP and I've tried both.

[2018-07-09 15:58] emanuele-f commented on #1851
That's strange, ntopng generates errors when there are issues with LDAP settings. Can you send me configuration screenshots at faranda@ntop.org?

[2018-07-09 17:21] emanuele-f commented on #1653
Channels names are now configurable with commit 25a1a961c2d5a4e0e3b0d13445361280225f8c73

[2018-07-09 19:13] lucaderi opened #1854 "Implement system interface"
In ntopng it is time to implement a system interface used to monitor the system where ntopng is running on. This interface will be responsible to monitor the system interfaces, host system statistics, as well SNMP that is currently mi-placed on the ntopng menubar.

[2018-07-09 19:16] lucaderi opened #1855 "Implement system monitoring"
Once #1854 is implemented, the system interface must contain detailed statistics about the system on which ntopng is running including (but not limited to)
- network interfaces
- CPU and memory
- containers (initially something like https://github.com/lucaderi/sgr/tree/master/2018/Sturba could be enough)

[2018-07-09 19:17] lucaderi commented on #1772
@simonemainardi Any update?

[2018-07-09 19:26] lucaderi opened #1856 "Implement new GeoIP API support"
The current GeoIP API used in ntop tools is deprecated. It is now time to move to the new API (starting with ntopng and also using it in all other tools)

[2018-07-09 19:27] MatinDeWet opened #1857 "Pie Chart more information not working as expected."
On most of the pie charts, they state that one can click on them to view more information.  When I try to do so, nothing happens. I am running ntopng on PFsense. I am using a free package.

[2018-07-09 23:52] jppo commented on #1853
Hello,

Will try, thanks.

Regards

JP Pozzi

[2018-07-10 08:17] emanuele-f commented on #1857
Hello, can you specify what charts in particular are producing the issue? I can see it on the "Top Flow Talkers: Live" chart for example.

[2018-07-10 08:30] emanuele-f commented on #1857
Top Flow Talkers and Top ASN links fixed with 8af027d93b3bae97736c9f7e49f15f35b6cd3943

[2018-07-10 09:40] MatinDeWet commented on #1857
- dashboard, and interfaces:
-Hosts (top hosts sned and receive)
- ports (top cliend and server ports)
- Applications ( top application protocols)
- top ASNs talkers not showig at all

[2018-07-10 10:28] emanuele-f commented on #1851
I'm reproducing this on debian 9. I'm debugging this.

[2018-07-10 14:12] simonemainardi commented on #1822
issue seems to be fixed in the latest nedge. Please, reopen if necessary.

[2018-07-10 14:12] #1822 closed, assigned to simonemainardi

[2018-07-10 14:22] emanuele-f commented on #1653
@fsergot we use curl to send requests to slack. Curl already supports the `http_proxy` environmental variable, so proxy support should be already available to you. Please check out https://curl.haxx.se/libcurl/c/CURLOPT_PROXY.html . You will need to specify the env variable either in `/etc/environment` or into the ntopng service.

[2018-07-10 14:22] #1653 closed, assigned to simonemainardi, emanuele-f

[2018-07-11 08:22] ruchi09 opened #1858 "Pushing data to logstash"
Is it possible to push network discovery data and host info to logstash? If so then where can we find these data in source code?

[2018-07-11 08:48] emanuele-f commented on #1858
Hello, network discovery data is not exported right now. Host information ca be exported in json format from this url `/lua/manage_data.lua`.

[2018-07-11 09:35] emanuele-f commented on #1851
The new stable package contains the fix.

[2018-07-11 09:35] #1851 closed, assigned to nobody

[2018-07-11 11:21] ruchi09 commented on #1858
Thanks!

[2018-07-11 13:43] kamalkgarg opened #1859 "Lua API to reset stats for a specific host"
Hi Guys,
is it possible to reset the traffic stats for a specific host via LUA API or by some other means?
Thanks

[2018-07-12 08:21] ruchi09 commented on #1858
Hi,
I am able to get the discovered mac and ip from NetworkDiscovery.cpp and am storing them as a pair in a set.

NetworkDiscovery.h:
[code]

NetworkDiscovery.cpp:
[code]
I am trying to retrieve the data for each system discovered by doing the following:

[code]

Above function is written in NetworkDiscovery.cpp. But the ntopng crashes when getMac is executed.

Is this the right way to get the dat

[2018-07-12 10:42] HP-xyz opened #1860 "Windows 10 - pcapng files with '-i file_path' option does not process file"
Hi,

Basically I have the exact same issue as this person http://lists.ntop.org/pipermail/ntop/2016-August/019337.html.

If I start ntopng with "/C -i file_path.ncapng" my log outputs the following:

Scenario 1: Not reading packets from file
[code]

Whereas with the same file converted to pcap using editcap (from wireshark), I get:

Scenario 2: Reading packets from file
[code]

I'm running the new

[2018-07-12 19:16] emanuele-f commented on #1858
Hello, you should use the `iface` field of NetworkDiscovery. Your `net` pointer is not initialized. You also need to dealloc the json with `json_object_put`.

[2018-07-13 06:09] ruchi09 commented on #1858
thanks

[2018-07-13 07:44] emanuele-f commented on #1858
Anyway, this is not the correct way to extract discover data. Please look at this script which is responsible for populating the network discovery table you see on the ntopng gui. https://github.com/ntop/ntopng/blob/dev/scripts/lua/get_discover_data.lua . The relevant function to extract the cached discovery data is `discover.discover2table(ifname)`. You can `tprint` a variable to print on the con

[2018-07-13 07:48] emanuele-f commented on #1859
Hello, currently this is not implemented. Please check out #1054 for a similar issue.

[2018-07-13 07:49] #1852 closed, assigned to nobody

[2018-07-16 06:20] ruchi09 commented on #1858
thanks

[2018-07-16 06:20] #1858 closed, assigned to nobody

[2018-07-16 08:32] simonemainardi commented on #1054
consider exposing a web endpoint and/or a Lua method and/or a button in the web ui to reset the counters at an arbitrary time and not just at midnight (#1859)

[2018-07-16 08:33] simonemainardi commented on #1859
merged with #1054

[2018-07-16 08:33] #1859 closed, assigned to nobody

[2018-07-16 13:00] simonemainardi commented on #1857
I can confirm it works using the latest ntopng dev:

-Hosts (top hosts sned and receive)

just double-click on the ip addresses and you will be redirected to the host page

double-click on the port number and you will be redirected to a page that shows all the active flows with that given port as source or destination

same as for the ports. Just double-click on the application name.

same for the

[2018-07-16 13:00] #1857 closed, assigned to simonemainardi

[2018-07-16 13:06] simonemainardi commented on #1856
Implemented with https://github.com/ntop/ntopng/commit/77c0f349d1c65235611010fe07003bbe5ebc32f5

[2018-07-16 13:06] #1856 closed, assigned to simonemainardi

[2018-07-16 14:22] MatinDeWet commented on #1857
Thanks (Facepalms). "I think you just have to double- (rather than single-) click on the item of interest."

[2018-07-16 15:45] #1805 closed, assigned to nobody

[2018-07-16 15:45] simonemainardi commented on #1805
Hi, thanks for reporting. Alias/manufacturers are not mean to be used for networks, you can simply use the host pool name for that. Alias/manufacturers are only meaningful for hosts and mac addresses. We've fixed the GUI to prevent the field from being set with networks.

[2018-07-16 16:37] emanuele-f commented on #1853
Closing as the requested feature is already implemented. Please open a new request if you have other needs.

[2018-07-16 16:37] #1853 closed, assigned to nobody

[2018-07-17 13:51] hgpit opened #1861 "Active Directory link not working"
ntopng Enterprise Edition v.3.5.180716 on CentOS 7

There seems to be something very buggy with the LDAP/AD integration. Or we're grossly misunderstanding how it works.

Now, originally we had a handful of local DB users. user1, user2, user3, user4, user5.
They could login fine.

Then we changed ntopng to use LDAP (only, not local/LDAP hybrid) and deleted all the existing users from the local DB.

[2018-07-17 14:37] emanuele-f commented on #1861
Hi, with local DB users you mean the ntopng users created via the gui? Have you assigned the users to the groups exactly as explained here https://github.com/ntop/ntopng/blob/dev/doc/README.LDAP#L72 ? Do you see any error in the ntopng log (`journalctl -u ntopng`) after unsuccessful login?

[2018-07-17 15:32] hgpit commented on #1861
Hi emanuele-f,

Yes, by "local DB" users I do indeed mean ntopng users created via the GUI.
Even though we have now configured ntopng to use LDAP exclusively, and have deleted these users, ntopng still allows their logins - but declines any other user, despite them being in the correct AD group.

Yes, we followed that guide.

**Authentication Method:** LDAP
**Our account type:** sAMAccount
**LDAP

[2018-07-18 01:48] 2stacks commented on #1848
I just did a fresh install today and have the same issue.

Ubuntu 18.04 LTS (GNU/Linux 4.15.0-23-generic x86_64)

installed with apt-ntop-stable.deb

[2018-07-18 02:13] vgavro opened #1862 "Releases not added to tags since 3.2"
There are non-debian distros that relies on building from source code, and it would be easier to use tag and centralized versioning instead of using branch. It would be very convenient if you consider to add tags for stable versions and patches.

[2018-07-18 08:04] lucaderi commented on #1820
@emanuele-f I agree, no longer relevant.

[2018-07-18 08:04] #1820 closed, assigned to nobody

[2018-07-18 08:32] lucaderi opened #1863 "Add Radius Support"
Add Radius support similar to how LDAP is working today

[2018-07-18 08:33] lucaderi opened #1864 "Integrate n2n for remote assistance"
n2n2 (https://github.com/ntop/n2n) should be integrated in order to enable (on demand) users to securely remote connect to ntopng instances

[2018-07-18 08:33] emanuele-f commented on #1862
Hi, you suggest to use tags in addition to branches, right? If I backport a fix to a tagged branch, do I have to retag something?

[2018-07-18 08:35] emanuele-f commented on #1848
Hi, you should be able to manually modify the directory permissions to 700 to circumvent it until the bug is fixed.

[2018-07-18 09:18] hgpit commented on #1861
Can you advise if there are any OS dependencies for the LDAP integration which YUM doesn't know about? Maybe we are missing some important LDAP package?

[2018-07-18 09:20] emanuele-f commented on #1861
This should not be the case, as you can see the LDAP messages in tcpdump. We have to reproduce the environment before being able to advice.

[2018-07-18 09:39] hgpit commented on #1861
I may have uncovered something useful:

Our AD structure is like this:

![image](https://user-images.githubusercontent.com/16598973/42872824-d3c687f8-8a75-11e8-9952-e4e3e2f64aa5.png)

The majority of our users are buried deep within ROOT -> "xxxxx Group Limited" OU. But we also have users under ROOT -> "Admins" OU etc.

The user we use to bind to AD is "LDAP User", under the ROOT -> "Users" OU.

N

[2018-07-18 12:46] simonemainardi commented on #1850
implemented in https://github.com/ntop/ntopng/commit/2c641cf2869f7de5c328b20b82a2b8bd2e4a5bad

[2018-07-18 12:46] #1850 closed, assigned to simonemainardi

[2018-07-18 13:47] 2stacks commented on #1848
It appears that every time a new directory or file is created the permissions are wrong.  I'm just testing at the moment so I'm not worried but changing the permissions manually or with a cron would have to be done every minute.

[2018-07-18 14:30] bheda91 opened #1866 "Use REST API in web app to get data"
Scenario:
I have a requirement to get data from ntopng & manipulate it and show data in our custom web app. So, I want to get data in JSON format using REST API.

Tried below:
I can get data by pasting direct URL in browser. But when I try to call it using REST API, it respond with 302 error code and location as '/' in response header.

I try with allow to CORS in REST API call, but in response I

[2018-07-18 15:51] emanuele-f commented on #1866
Hello, what url are you using? You need to authenticate with the server, see the curl example here https://github.com/ntop/ntopng/tree/dev/doc .

Please don't forget to add proper ntopng credits and if you find your implementation nice maybe you can provide a public contribution too!

[2018-07-18 16:27] 2stacks commented on #1848
Adding this to root's crontab seems to be working.
[code]

[2018-07-18 17:08] emanuele-f commented on #1848
Thank you for the tip.

[2018-07-18 20:48] showipintbri opened #1867 "Question: I just upgraded from 3.2.? -> 3.4.180712 Community Edition"
When I logged in for the first time after upgrading I saw a new dashboard on the home screen. Also there was an additional item under 'Dashboards' at the top and another item in the top choices, 1 was for "SNMP" it was next to "interfaces" at the top.

After logging out and back in I can no longer see those additional items.

Where ave they gone?

How can I get them back?

[2018-07-18 21:00] lucaderi commented on #1867
These are premium features available only in demo mode for 10 mins. If you want them permanently you need a license of you can add --community for staying in the community edition

[2018-07-18 21:00] #1867 closed, assigned to nobody

[2018-07-18 22:53] lucaderi commented on #1781
Fixed on ntopng-3.5.180718-x64. If your problem persists please file a new ticket and specify the complete list of command line options you have used to start ntopng.

[2018-07-18 22:53] #1781 closed, assigned to lucaderi

[2018-07-19 05:20] bheda91 commented on #1866
Hello,

I am using this URL - http://192.168.6.183:3000/lua/network_load.lua
If I post this URL in browser, it shows me the JSON response.

Can you please provide me a example, how to use same example you show using curl in my web app using RESTful API?

Thanks!

[2018-07-19 06:09] bheda91 commented on #1866
Hello,

I tried first "http://192.168.6.183:3000/authorize.html" with search params { user: 'admin', password: 'admin', referer: '192.168.6.183:3000' }

And on successful response,
I tried above URL with credentials.

Above stuff works,
If I disable web security in browser. i.e. **open a new chrome browser which allow access to no 'access-control-allow-origin'header request**

Now, my question is,

[2018-07-19 07:59] emanuele-f commented on #1866
You can manually add the CORS header into this function: https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/lua_utils.lua#L151

[2018-07-19 09:09] touatily opened #1868 "nProbe doesn't process packets"
I am using ntopng v.2.3.160415 and nProbe v.8.5.180703

When I run:

I see that nProbe is collecting packets, but it tells: `Processed Packets 0`

Could the problem be the license ?

[2018-07-19 09:17] emanuele-f commented on #1868
Please open an issue here https://github.com/ntop/nProbe .
Please also update ntopng to the latest version as you are using a very old one.

[2018-07-19 09:17] #1868 closed, assigned to nobody

[2018-07-19 10:57] bheda91 commented on #1866
Ok I will try this and let you know. Thanks!

[2018-07-19 14:55] simonemainardi commented on #1861
Hi. I'm trying to reproduce without success. If you think it is possible to have (limited) access to your ADDC for debugging, please contact me privately at mainardi ntop org.

Do you see any output in the ntopng log when a login fails?

[2018-07-19 16:11] #1844 closed, assigned to simonemainardi

[2018-07-19 16:18] simonemainardi commented on #1772
@darox what is the ntopng version you are using? type

ntopng --version

I guess you're using an outdated version

[2018-07-19 16:49] ghost opened #1869 "Core dumping frequently"
Hi All,

Got an ntopng installation that is core dumping every 5-10 minutes. Version info:

[code]

I have captured a core dump and put it through gdb, and get this:

[code]

Not sure if this is related but the DNS entry no-reverse-95-131-248-254.everycity.co.uk is a reverse entry, 95.131.249.254, with no matching forward DNS entry.

If there's anything else I can do to assist, let me know! Many t

[2018-07-19 16:55] ghost opened #1870 "Support for ignoring vlan tags"
Hi,

We're port-mirroring our transit links to a machine running ntopng for analysis.

If a flow comes in via one transit link, and out via another, ntopng treats them as separate flows as the vlan tags are different.

Ultimately it's all the same traffic and we want to ignore the vlan tags.

Would it be possible to add this feature?

[2018-07-19 16:57] ghost commented on #1870
Looks like other people are facing similar issues. This chap fixed it by modifying the ntop source to always set the vlan_id to 0:

https://superuser.com/questions/1220844/linux-remove-vlan-tag-from-frame

[2018-07-19 17:19] simonemainardi commented on #1870
Hi, thanks for pointing this out.

We've implemented this request in the latest dev branch. Packages will be available from tomorrow.

You can run ntopng as:

[code]

to forcefully ignore all the vlan identifiers from the traffic.

[2018-07-19 17:19] #1870 closed, assigned to nobody

[2018-07-19 17:36] simonemainardi commented on #1862
3.4 stable tag added, thanks for reporting

[2018-07-19 17:36] #1862 closed, assigned to nobody

[2018-07-19 17:40] simonemainardi commented on #1869
Can you please update the core dump and the ntopng binary somewhere for our inspection?

Do you see any output in the ntopng log (e.g., internal error?)

[2018-07-20 08:43] simonemainardi commented on #1848
Can you guys try and see what happens if your run ntopng with a user that is different from `nobody`? You can use option `--user` for that. Make sure to `chown` the existing data directory to be owned by that user before running ntopng.

[2018-07-20 11:16] simonemainardi commented on #1826
Implemented.

[2018-07-20 11:16] #1826 closed, assigned to emanuele-f

[2018-07-20 11:47] hgpit commented on #1861
Hi,

It appears the issue occurs when the OU depth is more than 3.
For example a user within the 3rd Level OU ( xxxx.local -> xxxx Group Limited -> Department -> Location) works fine.
But a user that sits within (xxxx.local -> xxxx Group Limited -> Department -> Location -> Office) does not.

LDAP logs show users beneath the 4th OU or deeper to come back with authentication error / password incorr

[2018-07-20 13:08] touatily opened #1871 "ntopng installation : syntax error"
I followed the [steps](https://www.ntop.org/get-started/download/) for installing ntopng

When I run `./configure`, I got this error:

I am using Ubuntu 16.04

[2018-07-20 14:01] bheda91 commented on #1866
Hello,

I added CORS headers in response, but "authorize.html" redirect root HTML page (i.e. '/' location) instead of JSON response that user is authorize or not.
And while redirecting it sends 302 status code.

Now, I have another question, how may I write lua script to authorize user which respond with JSON instead of HTML page? (Whether it is possible or not? and if possible how?)

Thanks!

[2018-07-20 14:08] kamalkgarg opened #1872 "ntopng compilation error on RHEL-7.2"
I cloned the master branch of ntopng source to my development server having RHEL-7.2.

I tried to compile the source code following the instructions provided at [ntopng/doc/README.compilation] (https://github.com/ntop/ntopng/blob/dev/doc/README.compilation).

I am getting the following error while compiling the source code.

[code]
Could you please help me to fix this?

Regards,
Kamal

[2018-07-20 18:34] firetoole opened #1873 "Slack Alerting webhook channel override thats a way to do it..."
Hi curious if there is a reason you dictate the Slack channels for this integration and override the webhooks default settings. I cant imagine this is useful for anyone that already has established Slack alerting for any other systems.
Typically the way I have seen this implemented is either set the channel override much like you have the Slack user override, or not set the channel and leave it as

[2018-07-20 21:24] Gelob opened #1874 "query.lua:22: attempt to index field 'range' (a nil value)"
When I visit lua/modules/grafana/query.lua i get the following error

[code]

I also see the following when running ntopng on cli

20/Jul/2018 21:22:44 [LuaEngine.cpp:8220] WARNING: Script failure [/usr/share/ntopng/scripts/lua/modules/grafana/query.lua][/usr/share/ntopng/scripts/lua/modules/grafana/query.lua:60: attempt to call global 'rrd2json' (a nil value)]

/usr/bin/ntopng --version
v.3.5.180

[2018-07-21 05:30] ghost opened #1875 "NTOPNG not showing pages visited by hosts"
Hi everyone hope someone can help me

My NTOPNG set-up on my macOS is not showing me the sites visited by the hosts on my network. It does show the internal sites visited (such as when my PC is logged into NTOPNG it shows the webpage im on, but not websites like google.com or facebook.com.

As you see here is my active flows page

![image](https://user-images.githubusercontent.com/31342930/4303244

[2018-07-21 08:23] lucaderi opened #1876 "Implement user with limited admin capability"
In ntopng there is the concept of admin and non-admin user. The problem is that admin can do everything, but non-admin users can only see what is happening. The consequence is that even minimal administrative rights to a non-admin user are not allowed. For instance it is not possible for a non-admin user to do things like reset statistics, or label a host.
It is requested to introduce a new set of

[2018-07-21 08:39] lucaderi opened #1877 "Replace page refresh with Ajax in Discovery page"
When discovery is in progress, the whole page is refreshed updating the progress % instead of using ajax to update the <div> percentage. This causes the page to flash and reload now making it easy to use while discovering hosts

[2018-07-21 08:41] lucaderi opened #1878 "Add RRD/Influx preferences"
Currently it is not possible to enable/disable RRD/Influx metric dump from preferences but only using redis command line. It is requested to implement the ability to set this from preferences

[2018-07-21 15:19] alxrt opened #1879 "Regex expression in ntopng.service.in cases some options to be ignored on start"
In ntopng/packages/etc/systemd/system/ntopng.service.in:
Line 12:

in `/bin/sed "/-e.*$\\|-G.*\\|--daemon.*\\|--pid.*/s/^/#/` expression `-e.*$` will coment any option contains '-e' as part.
For me it was
`-F="es;ntopng;ntopng-gw-%Y%m%d;http://v-es-xxl-1.domain.local:9200/_bulk;"`

[2018-07-23 07:18] Punkley opened #1880 "3.5.180723-4663 broken with table index is nil issue"
Error on opening any page

Script "/usr/share/ntopng/scripts/lua/index.lua" returned an error:
table index is nil

and lots of warning similar to this
WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/system/shutdown.lua][table index is nil]

Under ubuntu 18.04

Kingsley

[2018-07-23 13:03] simonemainardi commented on #1880
fixed in https://github.com/ntop/nDPI/commit/5100cc0eaec27c9796bab749435972adf2f89246
new builds are in progress

[2018-07-23 13:03] #1880 closed, assigned to simonemainardi

[2018-07-23 13:31] simonemainardi commented on #1875
You just have to make sure the traffic between your devices/hosts and the Internet goes through ntopng. Very likely, that traffic is currently not visible by ntopng. Indeed, I can see from the flows page screenshot you've reported that all the servers are broadcast addresses or ips local to the lan.

There are at least a couple of ways you can use to make sure ntopng sees the traffic. You can use

[2018-07-23 13:31] #1875 closed, assigned to nobody

[2018-07-23 13:35] simonemainardi commented on #1872
Hi,

The remote you have is not affiliated with us:

[code]

Our official remote is available at https://github.com/ntop/ntopng. Please, drop the ntopng directory, do a new `git clone https://github.com/ntop/ntopng.git`, and then follow the compilation instructions.

[2018-07-23 13:35] #1872 closed, assigned to nobody

[2018-07-23 17:26] darox commented on #1772
@simonemainardi I'm using ntopng Community Edition v.3.2.180413 on Pfsense, unfortunately, there's not a newer version...

[2018-07-23 22:04] Gelob opened #1881 "Traffic Report Page Doesn't Load"
Trying to load traffic report page and I get the following error:

ntopng --version
v.3.5.180723    [Enterprise/Professional build]
GIT rev:        dev:594c0e4dc87f4f909093792ecb9869ff4f223c28:20180723
Pro rev:        r1753
Built on:       CentOS Linux release 7.5.1804 (Core)
System Id:      688F2ABE76056B01
Platform:       x86_64
Edition:        Enterprise
License Type:   Time-Limited
Validity:

[2018-07-24 11:19] dive76 opened #1882 "Problem with Dashboard (Enterprise Version) - Network Interfaces: Realtime Traffic and Network Interfaces: Last Day View"
Noted that the Dashboard in the Enterprise Version is not working. Please see attached picture. Graphs for Network Interfaces: Realtime Traffic and Network Interfaces: Last Day View are not working.
![dashboard](https://user-images.githubusercontent.com/41624349/43133120-57664bb2-8f70-11e8-9a1f-4effa491b87e.png)

[2018-07-24 11:43] dive76 commented on #1881
Have the same issue on Ubuntu 18.04LTS, ntopng 3.5.180724 - Enterprise Edition
![2018-07-24 1](https://user-images.githubusercontent.com/41624349/43135980-c75fdb82-8f79-11e8-88d5-0f2953c48fd0.png)

[2018-07-24 12:52] dive76 commented on #1882
[bytes.zip](https://github.com/ntop/ntopng/files/2223709/bytes.zip)
bytes.rrd file ziped

[2018-07-25 10:16] #1879 closed, assigned to nobody

[2018-07-25 10:16] simonemainardi commented on #1879
Thanks for reporting. new build are in progress and the fix will be available in the next dev build (it will take a couple of hours to generate).

[2018-07-25 10:22] simonemainardi commented on #1881
hi, can you please check if the issue is still occurring also with the latest dev version?

[2018-07-25 10:26] simonemainardi commented on #1882
Thanks for providing the fie. It seems the rrd file is contains unexpected data. we don't use the 'bytes' string to name any RRA.

[code]

Can you please try and delete the file `bytes.rrd` provided from the system so ntopng will re-create it.automatically.

[2018-07-25 10:56] dive76 commented on #1882
Updating to the latest version and deleting the bytes.rrd file for all interfaces solves that issue.
Found a new one which might be related. The top HTTP sites under each host are no longer shows. That worked very well before.
![2018-07-25](https://user-images.githubusercontent.com/41624349/43196986-620a4bfa-903c-11e8-816b-fb7b9db6d9b7.png)

[2018-07-25 11:11] #1882 closed, assigned to nobody

[2018-07-25 11:13] simonemainardi commented on #1882
Thanks for reporting. I committed a fix to even avoid the deletion of that bytes.rrd. The issue was basically due to the new timeseries library that we've implemented that was not able to properly read the old `bytes.rrd` file.

[2018-07-25 11:14] simonemainardi commented on #1881
can you also report any error/exception you may see in the logs?

[2018-07-25 11:57] dive76 commented on #1881
There is nothing in the log. This function stopped about last week.

From: simonemainardi <notifications@github.com>
Sent: Wednesday, 25 July 2018 7:15 PM
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: Lars Grünitz <lars.gruenitz@tablemountain.de>; Comment <comment@noreply.github.com>
Subject: Re: [ntop/ntopng] Traffic Report Page Doesn't Load (#1881)

can you also report any error/exception you

[2018-07-25 12:11] dive76 commented on #1881
Fixed now.

[2018-07-25 12:14] dive76 opened #1883 "HTTP Tap Hosts - Top Visited Sites,Current Sites, Last 5 Minute Sites not showing anymore"
Since about last week the Top Visited Sites,Current Sites, Last 5 Minute Sites not showing anymore for each host under the HTTP tap. This worked well before and no change to my configuration.
![2018-07-25](https://user-images.githubusercontent.com/41624349/43200196-4543f628-9047-11e8-9147-0f2ed8f430b7.png)

[2018-07-25 12:27] simonemainardi commented on #1881
thanks for reporting.

[2018-07-25 12:27] #1881 closed, assigned to nobody

[2018-07-25 12:31] simonemainardi commented on #1871
please, list all the exact steps you've done  (including those that are preceeding `./configure`) and the current working directory where you're working on.

[2018-07-25 12:32] simonemainardi commented on #1869
@alaslums can you please provide the requested files?

[2018-07-25 13:03] simonemainardi commented on #1874
Currently, we have implemented influxdb support and we are discussing internally if we should drop the ntopng grafana datasource in favour of the influxdb one. For this reason I am leaving this issue on hold.

An ntopng user who choses to use influxdb to store the timeseries will automatically benefit from the influxdb datasource http://docs.grafana.org/features/datasources/influxdb/  to access al

[2018-07-25 13:11] cjwbath opened #1884 "Login form username validation regex too restrictive"
The login form has validation rules that disable the login button until the username field matches a certain regex (looks like `^[\w\.%]{1,}$`). That's fair enough for local users as it's also checked at user creation time. However for LDAP integrated auth where the backend does not have this restriction, we have users with dashes (-) in their username who can't attempt login because of this.

Why

[2018-07-25 13:15] simonemainardi commented on #1866
If you are trying to programmatically fetch ntopng pages when ntopng is protected by a password, you just have to pass a cookie or authentication credentials along with the request. For example, to fetch the `network_load.lua` page you've highlighted above you can do

[code]

Keep in mind that currently we don't support a public/documented REST API so endpoints can change at any time. What we pres

[2018-07-25 13:15] #1866 closed, assigned to nobody

[2018-07-25 13:26] simonemainardi commented on #1873
In the latest dev you can chose/specify any slack channel as shown below

![image](https://user-images.githubusercontent.com/3397663/43203618-0d03b6ae-901f-11e8-94bd-874c73244bb1.png)

If that is not enough to achieve the behavior you are looking for, then please try and give an example.

[2018-07-25 13:43] #1883 closed, assigned to nobody

[2018-07-25 13:54] simonemainardi commented on #1772
@darox our official stable release is version 3.4. Version 3.2 is outdated. Please, upgrade (or follow up with the pfsense folks to have it updated), make sure to have version 3.4, and the reopen if necessary.

In version 3.6 stable we may also decide to drop the grafana datasource plugin in favour of influxdb. Indeed, we've currently implemented influxdb timeseries export support so one can direc

[2018-07-25 13:54] #1772 closed, assigned to simonemainardi

[2018-07-25 14:19] darox commented on #1772
@simonemainardi Thanks for the statement. I'll try to get the Influxb support running on Pfsense. I guess it's not supported on 3.2 right?

[2018-07-25 17:39] ghost commented on #1869
Apologies for the delay, I'll get this info shortly.

[2018-07-25 17:54] ghost commented on #1869
Core file available at:

http://al.cloud.ec/core.ntopng.65534.gz

Filesize is 69MB.

Only messages are:

[code]

Interestingly it was happening a lot before:

[code]

However it hasn't happened in the last 6 days. I did a few things around the time it stopped crashing, such as disabling the enterprise trial version, and disabling alerts. There were vast quantities of alerts coming in, so I wonder

[2018-07-25 21:32] #1884 closed, assigned to nobody

[2018-07-25 21:33] simonemainardi commented on #1884
Thanks for reporting. Issue has been fixed and will be available in a couple of hours in the latest dev build.

[2018-07-26 00:25] Punkley opened #1885 "ldap not being attempted under ubuntu 18.04"
I've been trying to get ldap working under ubuntu 18.04 and ntopng v.3.5.180725

I don't see any attempt on the ldap server for a connection (or any tcpdump traffic).

Authentication Method: LDAP/Local
Type Posix
Server address: ldap://10.6.xx.xx:389
LDAP Anonymous Binding: yes
LDAP Search Path dc=staff,dc=test,dc=com,dc=au

[2018-07-26 07:45] cardigliano commented on #1869
@alaslums are you able to provide the ntopng binary you used to generate the core? Thank you.

[2018-07-26 08:01] simonemainardi commented on #1885
Thanks for reporting. Fixed. A new build is in progress and will be ready in 1 hour.

[2018-07-26 08:01] #1885 closed, assigned to nobody

[2018-07-26 09:07] simonemainardi commented on #1772
@darox influxdb support is in version 3.5 dev and will come in 3.6 stable.

[2018-07-26 09:13] darox commented on #1772
@simonemainardi Okey, I'll deploy a test instance of 3.5.

[2018-07-26 10:51] hgpit commented on #1861
Hi,

I wanted to check if there had been any updates/progress made on this issue? As we are using the enterprise version I also wanted to query whether this is the correct place for this to be raised as opposed to a ticketing system (I am uncertain of the support channels regarding the enterprise version)?

Many thanks

[2018-07-26 12:15] simonemainardi commented on #1861
Hi, yes, this is the right place. I'm struggling to reproduce the issue as I don't have system with Active Directory that I can use and for me it works OK with OpenLDAP. Anyway I have a couple of ideas that could fix it. Will submit a tentative fix shortly.

In the meanwhile, kindly help me understand. Did you change anything in the ntopng preferences (e.g., bind dn and search path) between a fail

[2018-07-26 12:28] bioteseo commented on #1848
It's ok only if you use as user root (of course). With other user the issue remains.
I noticed that at a level folder depth, the permission for dirs and files aren't correct:
for some dirs are drwx------ 2 nobody nogroup (I think this is correct) and others d--x------ 2 nobody nogroup
for some files are -rw-r--r--  1 nobody nogroup (I think this is correct) and others ----rw-rw-  1 nobody nogroup

[2018-07-26 13:14] simonemainardi commented on #1848
can you also create another user, say ntopng with group ntopng and report? thank you

[2018-07-26 13:43] bioteseo commented on #1848
Maybe I'm not being clear. I tried as you suggest but the issue remain. With root all is ok (of course).
In all cases (user nobody, myuser, root) the situation about the wrong permission for files and dirs is the same as I showed above.

[2018-07-26 13:57] simonemainardi commented on #1861
I was able to reproduce the issue with very long search paths and bind DN. I have committed a fix. A new build is in progress and will be available in the next couple of hours.

I think that long string could also have affected you with this issue.

Now the code should be able to properly handle search paths and bind DN up to 255 characters. This limit is also checked and enforced from the command

[2018-07-26 14:14] hgpit commented on #1861
Roger Roger, will test this ASAP and report back. Thank you for your continued work on this.

We didn't change any settings in between these logon attempts.

Many thanks

[2018-07-27 08:43] cjwbath opened #1886 "MySQL dump - indexes and permissions"
I tried the MySQL backend feature with --dump-flows and noticed a couple of things:

- There are not many useful indexes added to the flows tables by default - in particular source and destination IP are not indexed making most searches through the UI painfully slow or impossible (I have ~25M rows in the table at the moment). I added those indexes and things are much better, and writes have not sl

[2018-07-27 12:07] simonemainardi commented on #1871
No feedback received. Closing for inactivity. please, reopen with the requested information if necessary.

[2018-07-27 12:08] #1871 closed, assigned to nobody

[2018-07-27 12:34] prasanthi97 opened #1887 "How to extract user name/id from ntopng flows"
Unable to capture the user id/user name from the host flows in the port mirrored traffic although we are getting the ip address. Are there any probes/plugins available with ntopng to decode the user id.

[2018-07-27 12:52] simonemainardi commented on #1887
what user id are you looking for? Are you looking for the user id of a give application?

[2018-07-27 13:19] lucaderi commented on #1860
Please try to use https://nmap.org/npcap/ instead of Win10Pcap. and it should work. Otherwise the other workaround is to convert first pcapng into pcap and pass it to ntopng.

[2018-07-27 13:19] #1860 closed, assigned to lucaderi

[2018-07-27 13:32] prasanthi97 commented on #1887
For example VDI users. Every time they login their user id will be the same but the ip address changes.
We are trying to measure/capture VDI user traffic. Currently ntopng displays ip adress when we capture VDI traffic.

[2018-07-27 16:39] simonemainardi commented on #1887
You need deep packet inspection support for citrix VDI. Currently that is not included in ntopng or in nDPI.  Shall you be interested in having that support, please file a request on the nDPI github page or contact the ntop team privately.

[2018-07-27 16:39] #1887 closed, assigned to nobody

[2018-07-28 07:29] sidsamant opened #1888 "rrd_5min_dump_utils.lua:18: attempt to call field 'tsSet' (a nil value)"
Hi,

New problem while working with ntopng and elasticsearch.

Ntopng is running though these messages fill up the logs :

`Jul 28 02:05:00 scary ntopng[1710]: 28/Jul/2018 02:05:00 [Lua.cpp:7692] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/interface/5min.lua][...share/ntopng/scripts/lua/modules/rrd_5min_dump_utils.lua:18: attempt to call field 'tsSet' (a nil value)]
Jul 28 02:05:0

[2018-07-28 14:34] darox commented on #1772
@simonemainardi Is there a 3.5 docker image available?

[2018-07-29 13:01] animosity022 opened #1889 "DNS/mDNS / homebridge question"
I have a question that I haven't been able to quite figure out yet so I figured I'd post to see if someone else hit the issue.

I'm running https://github.com/nfarina/homebridge on a linux box along with ntopng. When I first start up, I can see the host properly register with the name as it is in DNS.

Homebridge has a line it it for mDNS that registers a username with  "CC:22:3D:E3:CE:30" that I

[2018-07-29 13:04] setya opened #1890 "Slack Notification NTOPNG in PFsense Didn't Work"
Hi everyone, i need some help for explaining something.

I recently set up NTOPNG on PFsense Firewall, and follow this
 for integration with slack https://github.com/ntop/ntopng/blob/dev/doc/README.slack
but when alert on NTOPNG I didn't receive anythings about this alert. How I can check if ntopng can send notification in pfsense and resolve this.

`Jul 29 20:02:12 ifdcfwdmz ntopng: [Alert] TCP c

[2018-07-29 13:34] #1890 closed, assigned to nobody

[2018-07-29 23:26] Punkley opened #1891 "Traffic Report not working in Pro (table expected, got nil)"
on
/lua/pro/report.lua

HTTP/1.1 500 Internal server error Content-Type: text/html Connection: close   Script "/usr/share/ntopng/scripts/lua/pro/report.lua" returned an error:

/usr/share/ntopng/scripts/lua/modules/graph_utils.lua:85: bad argument #1 to 'ipairs' (table expected, got nil)

[2018-07-30 06:50] emanuele-f commented on #1889
Hi, what ntopng version are you using?

[2018-07-30 07:17] #1891 closed, assigned to nobody

[2018-07-30 07:46] emanuele-f commented on #1891
The new package with the fix will be available in one hour. Thank you for reporting.

[2018-07-30 07:47] zxyz commented on #1848
same problem here with centos 7.5 and ntong v.3.5.180730.

`[LuaEngine.cpp:7187] [ERROR] POST of /var/tmp/ntopng/-1/ts_export/1532935739 failed`

under `/var/tmp/ntopng` there are also the directories `0`,`1` and `4` without any permission problems (but not `ts_export` directory).
the permissions under ` /var/tmp/ntopng/-1/ts_export/` are:

------S--x. 1 nobody nobody 295512 Jul 30 09:30 153293581

[2018-07-30 10:56] emanuele-f commented on #1878
Implemented in af1fc50ce6ea1550b9f6ff2494f68c7fe971907b . The setting is now available under the `Timeseries` preferences.

![screenshot_2](https://user-images.githubusercontent.com/5488003/43393553-e53aa6e6-93f7-11e8-85ea-080bd9a9420d.png)

[2018-07-30 10:56] #1878 closed, assigned to emanuele-f

[2018-07-30 12:55] swathinsankaran opened #1892 "Query on MAX_INTERFACES macro in the ntop_defines.h file"
Hi,

I came across the below macro while going through the code.

https://github.com/ntop/ntopng/blob/af1fc50ce6ea1550b9f6ff2494f68c7fe971907b/include/ntop_defines.h#L131

 Can anybody tell me why the Maximum interface is kept as 48 and what the value implies?

[2018-07-30 13:01] animosity022 commented on #1889
3.4.180726 - Community Edition
--

[2018-07-30 13:12] simonemainardi commented on #1892
48 is a reasonable maximum number of interfaces ntopng can manage. This means that ntopng will keep statistics (e.g., rrd files, redis keys, data in the data directory) for up to 48 different interfaces. So for example you are free to start ntopng with an interface eth1, then restart it with another interface eth2, and eventually restart it with eth1 to have the original eth1 stats back and availa

[2018-07-30 13:12] #1892 closed, assigned to nobody

[2018-07-30 13:13] simonemainardi commented on #1888
You are using an outdated version 3.5. can you please build and report the behaviour using latest 3.5.

[2018-07-30 13:31] sidsamant commented on #1888
Thanks. Will let you in a few days.

[2018-07-31 07:19] emanuele-f commented on #1889
Can you provide a pcap file which captures the mDNS traffic before and after the change? You can capture mDNS traffic with: `tcpdump -n -s0 -w mdns.pcap -i your_nic udp port 5353`

[2018-07-31 07:51] hpiadmin opened #1893 "non reachable Interfaces"
If I install nProbe/nTop on our config-keeper, our interfaces are not accessible afterwards.
I think it depends on PF_RING. Is PF_RING needed? Is it possible to install it without?

[2018-07-31 07:53] cardigliano commented on #1893
@hpiadmin are you using ZC drivers (i.e. is your interface name starting with 'zc:')?

[2018-07-31 13:04] simonemainardi commented on #1861
I was wondering if you've had the chance to try the latest version. Please, let me know. Thank you.

[2018-07-31 13:35] simonemainardi commented on #1873
Solution proposed. No feedback received in 6 days. Closing. Please, reopen with the requested information if necessary.

[2018-07-31 13:35] #1873 closed, assigned to nobody

[2018-07-31 13:37] simonemainardi commented on #1869
@alaslums are you able to provide the binary as requested?

[2018-07-31 13:52] simonemainardi commented on #1888
I can confirm neither `tsSet` nor `tsFlush ` are ever called in the latest dev build so that issue can no longer occur. Make sure you don't have an old installed ntopng version (e.g., under /usr/share/ntopng) that could conflict with a more recent version that you may be executing from the build working directory.

In order to have IP geolocation enabled you need to build and link ntopng with `lib

[2018-07-31 13:52] #1888 closed, assigned to simonemainardi

[2018-07-31 14:07] simonemainardi commented on #1848
@zxyz  can you please show me the all the options you've used to start ntopng?

[2018-07-31 14:40] simonemainardi commented on #1848
can you guys check if apparmor (ubuntu18) is logging denials?

[2018-07-31 14:45] animosity022 commented on #1889
I believe this should be it.

[mdns.pcap.zip](https://github.com/ntop/ntopng/files/2245769/mdns.pcap.zip)

[2018-07-31 14:49] simonemainardi commented on #1772
will be uploaded shortly at https://hub.docker.com/r/ntop/

[2018-08-01 03:03] jedi0605 opened #1894 "How long does the data keep in InfluxDB?"
Hello,
I know the old ver. can setting data keep time in MySQL.
Have the same function in InfluxDB?

[2018-08-01 04:41] zxyz commented on #1848
@simonemainardi here we go:
[code]
I couldn't find any relating selinux entries in `/var/log/audit/audit.log`.

[2018-08-01 06:17] tomoxwell opened #1895 "VLAN trunking"
I am trying to implement VLAN trunking in ntopng Edge but the option is not there as it is in the documentation under bridge mode.  The documentation shows three option under mode i.e static , DHCP and VLAN Trunk  but i only have the first two in my gui.  Is there something i need to do to activate that?

[2018-08-01 07:31] emanuele-f commented on #1894
Hello, currently we don't handle InfluxDB retention time, so data will be kept ~forever~ according to the default InfluxDB database retention policy

[2018-08-01 07:36] emanuele-f commented on #1895
Currently VLAN trunking in only available in the development build, so please update from 3.4 to 3.5 or wait for the next stable release

[2018-08-01 07:36] #1895 closed, assigned to nobody

[2018-08-01 07:49] simonemainardi commented on #1895
see the documentation: https://www.ntop.org/guides/nedge/bridging.html?highlight=trunk

[2018-08-01 08:14] simonemainardi commented on #1848
@zxyz , rather than specifying `--user root` can you please try and add `--dont-change-user=` to the configuration file? Please report

[2018-08-01 08:48] lucaderi opened #1896 "Implement unclean shutdown handling"
When ntopng starts up it has no idea if it is restarting due to a crash or if it starts cleanly. As after a crash some potential recovery actions might be required, it is asked to detect start after non-clean shutdown. To do so when ntopng boots it must check on redis a key (i.e. ntopng.unclean_shutdown) and if set run some recovery actions (e.g. a specific Lua file whose default is no action), th

[2018-08-01 09:52] tomoxwell commented on #1895
Thanks for the info. Much appreciated.  Do i need to uninstall stable and them install development afresh?  Will the change affect the licence?
Whats the procedure for doing the change?

[2018-08-01 10:04] bioteseo commented on #1848
Hi Simone, I don't think it's an apparmor problem because the strange permissions.
However I didn't find in my syslog evidence of apparmor by searching audit, profile and DENIED keywords.

I turned off apparmor by
sudo systemctl stop apparmor.service
Then I started ntopng and the issue remain....
ERROR: Error 'opening '/var/tmp/ntopng/6/rrd/MDNS.rrd': Permission denied' while calling rrd_fetch_r(/

[2018-08-01 10:18] simonemainardi commented on #1848
@bioteseo I think you did't check the permissions between stopping apparmor and starting ntopng.

Can you please report the behavior after the following steps
- stop app armor
- rm -rf /var/tmp/ntopng
- start ntopng without any user change (that is let it run with user nobody)

[2018-08-01 10:19] emanuele-f commented on #1895
License will not be affected. In order to update you have to:

1. `apt-get remove apt-ntop-stable`
2. install `apt-ntop.deb`
3. run `apt-get update && apt-get install nedge`

[2018-08-01 10:59] hgpit commented on #1861
Hi simonemainardi,

Sorry for the delay.

Yep, we tested it with the other users in our AD and they all appear to be able to login now.

That fix worked great - thank you so much :-D

[2018-08-01 10:59] #1861 closed, assigned to simonemainardi, emanuele-f

[2018-08-01 11:02] simonemainardi commented on #1861
thanks for reporting!

[2018-08-01 14:45] tomoxwell commented on #1895
Much appreciated. Thanks

Sent from my iPhone

[2018-08-01 16:02] darox commented on #1772
@simonemainardi Seems you just uploaded the 3.4 stable version instead of 3.5. Or I'm missing the tag?

[2018-08-01 16:13] simonemainardi commented on #1896
Implemented

![image](https://user-images.githubusercontent.com/3397663/43529434-93107534-95ab-11e8-9693-6c8ea3ea9261.png)

when restarting from an anomalous termination:
- ERROR alerts are generated as shown above
- custom actions in `callbacks/system/recovery.lua` (currently empty) are performed

[2018-08-01 16:13] #1896 closed, assigned to simonemainardi

[2018-08-02 07:15] Kaldek commented on #1848
@simonemainardi I just did the above and I'm not getting the errors anymore.  Ubuntu Server 18.04 LTS with ntopng Enterprise Edition v.3.4.180726.

There are, however, no apparmor log entries showing any denies of any kind.  I am an AppArmor n00b though.

Here's the status of AppArmor with it running:

apparmor module is loaded.
19 profiles are loaded.
19 profiles are in enforce mode.
   /sbin/dhc

[2018-08-02 07:48] simonemainardi commented on #1848
@Kaldek sorry I have given several instructions above. Can you please list exactly what did you do.

[2018-08-02 07:59] #1869 closed, assigned to simonemainardi

[2018-08-02 08:19] simonemainardi commented on #1772
@cardigliano can you please tell @darox how to use docker 3.5.

[2018-08-02 08:24] cardigliano commented on #1772
@darox ntopng stable is currently available as image on Docker Hub, dev will be added soon as we need to setup auto build, in the meanwhile please follow the instructions at https://github.com/ntop/docker-ntop using Dockerfile.ntopng.dev

[2018-08-02 09:51] darox commented on #1772
@cardigliano Thanks!

[2018-08-02 09:57] Kaldek commented on #1848
@simonemainardi I did exactly this:

sudo service ntopng stop
sudo service apparmor stop
sudo rm -rf /var/tmp/ntopng
sudo service ntopng start

Restarting AppArmor did not affect ntopng; it kept working fine with no log errors.

[2018-08-02 10:57] prasanthi97 opened #1897 "How to get Network discovery map"
I want to arrive a network discovery map based on ntop network discovery data, is it possible? Is there a way to see which devices are connected to which router.

[2018-08-02 12:31] simonemainardi commented on #1848
this new commit https://github.com/ntop/ntopng/commit/493351226a9e56c4e91b10c5de49471bbff0035f

has introduced a fix that might address the issue. Please try and report

[2018-08-02 12:51] simonemainardi commented on #1897
If you use the ntopng SNMP monitoring feature, and your SNMP-monitored devices support SNMP the Bridge MIB, then you are able to determine all the devices that have seen a particular host and on which port.

See for example the following screenshot.

![image](https://user-images.githubusercontent.com/3397663/43584509-d4c062e8-9662-11e8-9393-afdd2d123c6c.png)

It means that host 192.168.2.222 has b

[2018-08-02 12:51] #1897 closed, assigned to nobody

[2018-08-02 13:41] simonemainardi commented on #1877
Implemented with https://github.com/ntop/ntopng/commit/31c0fe6fe7a6fea140897920de98f7f4d7ac2b6e

![screen shot 2018-08-02 at 15 41 08](https://user-images.githubusercontent.com/3397663/43587427-814448fc-966a-11e8-8434-1ca1d50aaa86.png)

[2018-08-02 13:41] #1877 closed, assigned to nobody

[2018-08-02 13:52] cardigliano commented on #1893
Please reopen if necessary.

[2018-08-02 13:52] #1893 closed, assigned to nobody

[2018-08-02 14:06] simonemainardi commented on #1754
You should consider the following things to do what you've asked.

1. Tune local hosts cache duration

![image](https://user-images.githubusercontent.com/3397663/43588491-e69a821e-966c-11e8-895c-e5ed4c0f6c4f.png)

Counters of your local hosts that become idle are dumped to a redis cache. By default, a dump lasts for 1 hour. This means that:
- if an idle local host becomes active again in less than

[2018-08-02 14:06] #1754 closed, assigned to nobody

[2018-08-02 14:20] simonemainardi commented on #1428
At least three options are available.

1. As you've pointed out, you can visit each host and select the traffic report page to obtain exactly what you are looking for as

![image](https://user-images.githubusercontent.com/3397663/43589704-91ae910c-966f-11e8-9fa1-e0aec95305ee.png)

2. If is is more convenient to have all the hosts listed in a single page you can use the historical data explorer, se

[2018-08-02 14:20] #1428 closed, assigned to nobody

[2018-08-02 15:55] lucaderi commented on #1889
<img width="1016" alt="screen shot 2018-08-02 at 17 13 28" src="https://user-images.githubusercontent.com/4493366/43593163-6ad2c550-9677-11e8-8102-1b80a75e79df.png">
Unfortunately is your home bridge that is reporting its name via mDNS and even wireshark interprets that as ntopng

[2018-08-02 15:55] #1889 closed, assigned to emanuele-f

[2018-08-02 16:28] animosity022 commented on #1889
I was asking if there was a way to prevent there or any other suggestions so it does not overwrite my names.

[2018-08-02 21:24] tomoxwell opened #1898 "Vlan trunking ntopng edge"
I am trying to implement vlan trunking for the upgraded ntopng edge.  I have two ports eno3 for Wan and eno 2 for Lan but all of them are trunk ports. I have also configured a management interface on eno1.
My ntopng.conf is as follows:

[code]

The network config is as follows:

[code]

I get the error on the LAN interface as follows:

Aug 03 00:22:44 sapphire ntopng[4508]: 03/Aug/2018 00:22:44 [P

[2018-08-03 01:16] mzac opened #1899 "GELF support for sending expired flows to Graylog"
I'm not sure if the builtin logstash writer is compatible with the GELF input on Graylog, but I'm looking at a way to send expired flows into graylog with ntopng.  I know that netflows can already be sent into graylog easily, but it would be nice to get the ntopng data in as well.

Some information on sending data into Graylog and the GELF input:
http://docs.graylog.org/en/2.4/pages/sending_data.h

[2018-08-03 06:29] tomoxwell commented on #1895
Hi ntopng

Kindly help me with the following:

I am trying to implement vlan trunking for the upgraded ntopng edge. I have
two ports eno3 for Wan and eno 2 for Lan but all of them are trunk ports. I
have also configured a management interface on eno1.
My ntopng.conf is as follows:

The configuration file is similar to the command line, with the exception
that an equal

sign '=' must be used betwee

[2018-08-03 07:40] emanuele-f commented on #1895
Hi, this kind of setup should be available through the nedge gui. No need to modify the configuration file. If your network/virtual interfaces are not detected by nedge you should perform a factory reset. On reboot, the new interfaces should be available.

[2018-08-03 07:42] tomoxwell commented on #1895
Thanks for the info. Let me try and i will inform you .

[2018-08-03 07:43] emanuele-f commented on #1898
What is the LAN interface specified in the nedge system setup?

[2018-08-03 07:44] tomoxwell commented on #1898
eno3

10.0.7.38

255.255.255.0

[2018-08-03 07:49] tomoxwell commented on #1898
With vlan Trunking in bridge mode . They advised us to configure a
management interface separately in

/etc/network/interfaces.d/nedge_mgmt.conf

which i did as follows

auto br0.7

iface br0.7 inet static

     pre-up /sbin/ip link add link br0 name br0.7 type vlan id 7

     vlan-raw-device br0

     address 10.0.7.38

     netmask 255.255.255.0

On Fri, Aug 3, 2018 at 10:44 AM, Tom Ongaro <tomo

[2018-08-03 08:01] emanuele-f commented on #1898
Apart from the error, are you able to see the clients traffic and apply policies? Clients are expected to be located on the trunk on eno3 (you can set policies on them), whereas the internet is located on the eno2

[2018-08-03 08:11] tomoxwell commented on #1898
The problem is that when i connect my WAN which comes as a trunk carrying 7 vans from pfsense firewall to port eno2 and then connect port eno3(which is also a trunk port) which connects to my cisco switch(the core switch that connects all the other switches that server the clients) i loose connectivity.  Do i need to do anything  to ports eno2 and eno3 for the trunks to work other than what the gu

[2018-08-03 09:00] emanuele-f commented on #1898
So you lose connectivity for the nedge management? Are you connected on VLAN 7?

[2018-08-03 09:18] tomoxwell commented on #1898
Yes. I lose connectivity to the management interface and all the clients also loose connectivity. I am connected on vlan 7.  Meanwhile I a planning to do a factory reset as per your first suggestion .

[2018-08-03 10:34] tomoxwell commented on #1898
I get this after a factory reset

Aug 03 13:24:58 sapphire ntopng[3887]: 03/Aug/2018 13:24:58 [LuaEngine.cpp:7459] Enable interface eno4
Aug 03 13:24:59 sapphire ntopng[3887]: RTNETLINK answers: Network is down
Aug 03 13:24:59 sapphire ntopng[3887]: RTNETLINK answers: Network is down
Aug 03 13:24:59 sapphire ntopng[3887]: 03/Aug/2018 13:24:59 [NetfilterInterface.cpp:561] Succesfully connected to N

[2018-08-03 12:01] emanuele-f commented on #1898
Please post a screenshot of your network configuration and network interfaces pages into the nedge system setup

[2018-08-03 12:15] tomoxwell commented on #1898
after a factory reset i get the following error

03/Aug/2018 15:09:45 [mongoose.c:4544] ERROR: set_ports_option: cannot bind
to 192.168.1.1:3000: Success

Aug 03 15:09:45 sapphire ntopng[6337]: *[HTTPserver.cpp:893] ERROR: [HTTP]
set_ports_option: cannot bind to 192.168.1.1:3000
<http://192.168.1.1:3000>: Cannot assign requested address*

Aug 03 15:09:45 sapphire ntopng[6337]: *[mongoose.c:4544] E

[2018-08-03 12:21] tomoxwell commented on #1898
/etc/network/interfaces.d/nedge_mgmt.conf

auto br0.7
iface br0.7 inet static
     pre-up /sbin/ip link add link br0 name br0.7 type vlan id 7
     vlan-raw-device br0
     address 10.0.7.38
     netmask 255.255.255.0

[2018-08-03 12:29] emanuele-f commented on #1898
It seems like another nedge/ntopng instance is running at the same time. Please run `systemctl stop ntopng` and `systemctl stop nedge`. Then double check with `pgrep ntopng` that no other instance is running. Then start again with `systemctl start nedge`.

[2018-08-03 12:41] tomoxwell commented on #1898
Just wondering why its pointing to 192.168.1.1  whereas the recovery ip is  192.168.160.1. look at the error below:
Aug 03 15:38:48 sapphire ntopng[7186]: 03/Aug/2018 15:38:48 [mongoose.c:4544] ERROR: set_ports_option: cannot bind to 192.168.1.1:3000: Success
Aug 03 15:38:48 sapphire ntopng[7186]: [HTTPserver.cpp:893] ERROR: [HTTP] set_ports_option: cannot bind to 192.168.1.1:3000: Cannot assign r

[2018-08-03 12:42] tomoxwell commented on #1898
the 192.168.1.1 is nowhere in my configs

[2018-08-03 14:34] emanuele-f commented on #1894
Max duration implemented in 1af40bd42fd714db3edcb8e9d7d77f6553d07e24 .

![screenshot_3](https://user-images.githubusercontent.com/5488003/43648543-fbbb4df8-973a-11e8-8f54-47b3a3eff00b.png)

[2018-08-03 14:34] #1894 closed, assigned to emanuele-f

[2018-08-03 14:35] emanuele-f commented on #1898
Please remove the package and start with a clean setup. Double check all the system setup parameters before applying the changes during first start.

[2018-08-03 15:06] tomoxwell commented on #1898
Thanks for the info. How do I completely uninstall and reinstall the packages . Kindly share the commands for completely uninstalling everything.

Sent from my iPhone

[2018-08-03 15:29] hgpit opened #1900 "Network aliases"
Hello,

We've added our local networks into the conf file, but we have over 50 of them, and just having them listed as CIDRs in ntopng makes it difficult for our technicians to remember which subnet is tied to which of our geographical locations etc.

Is there a way to assign aliases to the networks, i.e.:
10.11.10.0/24 : Site A
10.11.11.0/24 : Site B
10.11.15.0/24 : Site C
etc

Thank you

[2018-08-04 07:18] lucaderi opened #1901 "Predictable Idle purge"
Based on traffic conditions (e.g. heavy traffic), idle host/flows purge does not happen periodically as it should. It is requested to review the code for all interfaces (pcap, PF_RING...) and make sure that in no case, idle purge is delayed under heavy traffic. Failure to purge idle items leads to misbehaviour.

Note that  NetworkInterface::dissectPacket() already calls
  setTimeLastPktRcvd(h->ts.

[2018-08-04 14:43] EmilioMoreno commented on #297
Hi! I know this is an old post, but can anyone clarify if is it possible to tag a packet using Ntopng in pfsense and then apply firewall rules to it? as DPI in pfsense has been removed, this would be great for traffic shaping or other rules.