[2022-01-04 10:46] MatteoBiscosi commented on #6176
Hi Yoshihiro, could you please tell me which entry are you using into the `Local Broadcast Domain Hosts Identifier` interface preference (in my case for example is `IP address`)?
![Screenshot from 2022-01-04 11-44-16](https://user-images.githubusercontent.com/49585191/148047560-cfe7dd53-4425-4b80-b371-82310935329a.png)

[2022-01-04 11:17] MatteoBiscosi commented on #6165
Hi @martinscheu , unfortunately the current dashboard does not permit this (a new layer, like a new interface, is going to be put on the chart and it's going to show up incorrect data), however we are planning in the near future to rework the ntopng dashboard.
Sorry for the trouble.

[2022-01-04 11:17] #6165 closed, assigned to MatteoBiscosi

[2022-01-04 12:06] jacotec opened #6178 "Enterprise license expires after 10 minutes"
As requested by Maria Teresa Allegro I'm filing the issue with my ntopng.

**Environment**:
* OS name: [e.g. Ubuntu] Ubuntu
* OS version: [e.g. 18.04] 18.04 LTS
* Architecture: [e.g. amd64] amd64
* ntopng version/revision: [e.g. 5.1.211223] 5.0.211220

**What happened**:

After renewing my maintenance, the license is listed as valid, but a 10 minute countdown runs off in ntopng, after that my lice

[2022-01-04 15:21] martinscheu commented on #6164
also I realized, when setting e.g. the time selection to "one week" first time it works, but if then I want to change it to something else, it doesn't work.
I works when changing from 1 Day to 1 Week, but not the other way around.

[2022-01-04 16:16] martinscheu opened #6179 "pcap per alert feature"
**What would you like to add or change?**:
For certain alerts it would be helpful to have the complete pcap of the flow in order to trace back the alert and for detail analysis. the pcap could be linked to the alert / historical flow or named after the flow. Could of course also be linked to n2disk in order to extract the network data.

**Why do you and others need this?**:
Often full packet captu

[2022-01-04 16:40] cardigliano commented on #6178
@jacotec I am trying to reproduce this, with no success so far. I see you have the same issue on ntopng and nProbe, could you provide the full log when running nprobe in foreground as below?

sudo nprobe -i IFNAME

[2022-01-04 17:17] cardigliano commented on #6175
@TomSchober it seems that your email (admin@111.net) is recognized by the current regexp (ntopng 5.0 and 5.1). Please note 4.2 is no longer supported.

[2022-01-04 17:40] cardigliano commented on #6164
@martinscheu I am not able to reproduce what you reported, could you please check the browser console for javascript errors and report them in case? Thank you.

[2022-01-04 19:42] jacotec commented on #6178
@cardigliano
Sure, please see below:

[code]

[2022-01-05 00:58] Yoshihiro-jp commented on #6176
@MatteoBiscosi
I remember that I set  the "MAC Address" when the problem happened.
By the way I can't reproduce the problem after "Factory Reset" even if I set it with "MAC Address"...

So I think that I should close this ticket then if I did reproduce it I would make the new ticket.
Is it okay?

regards,
Yoshihiro

[2022-01-05 03:17] tiny-pangolin commented on #5449
using the influxdb listener didn't work for the for same reason since it reports using version 1.0 and received no results when using the influxdb_v2 listener. I was able to get it to work by using an nginx reverse proxy and adding ```add_header X-Influxdb-Version 1.8.0;``` to the main config. After adding that reverse proxy everything appeared in grafana. The full conf is below.

[code]

[2022-01-05 08:35] cardigliano commented on #6178
@jacotec it seems to be working when running the application in foreground.. how are you running the service? are you using a container perhaps? Or any chance I can ssh to this system and take a look?

[2022-01-05 09:49] cardigliano commented on #6164
Fix provided in e8eebd574023c86aaffd3f44c85eda7830eacd20 (new packages in 1h)

[2022-01-05 10:05] solarexpedition commented on #6115
Looks good now. I don't have any dump issues since several days. I think we can close this issue.

[2022-01-05 11:08] #6175 closed, assigned to cardigliano

[2022-01-05 11:09] MatteoBiscosi commented on #6176
Alright @Yoshihiro-jp , if the issue arise again please open a ticket and i'll take a look at it

[2022-01-05 11:17] jacotec commented on #6178
@cardigliano Nope, no container ... installed with the official packages.
Can I contact you on a private channel to schedule a SSH access via Teamviewer?

The setup worked fine until I renewed the license ... it seems the new license did not make it everywhere where it's needed.

[2022-01-05 11:23] cardigliano commented on #6178
Please drop an email to cardigliano at ntop.org

[2022-01-05 11:28] zcy382725 opened #6180 "alert interact with alertmanager"
**What would you like to add or change?**:

add alertmanager endpoint to ntopng

**Why do you and others need this?**:
sometimes we need filter which alert should report to us while the white list rules within ntopng seems too simple.
Routeing alerts to alertmanager seems to be a good way as we write rules to slience some alerts with custom rules.

[2022-01-05 11:59] martinscheu commented on #6164
thanks for the fix, @cardigliano.
it is working now

[2022-01-05 11:59] #6164 closed, assigned to cardigliano

[2022-01-05 14:17] cardigliano commented on #6178
This was due to the online license check, which is deprecated and no longer supported with new licenses

[2022-01-05 14:17] #6178 closed, assigned to cardigliano

[2022-01-05 14:19] jacotec commented on #6178
@cardigliano Thank you for your support!

[2022-01-05 17:57] #6176 closed, assigned to MatteoBiscosi

[2022-01-05 18:00] #5988 closed, assigned to simonemainardi, MatteoBiscosi

[2022-01-07 08:44] MatteoBiscosi opened #6181 "Add Other page Host"
**What would you like to add or change?**:
Add a way to visualize all the hosts aggregated into the "other" host

![Screenshot from 2022-01-07 09-42-23](https://user-images.githubusercontent.com/49585191/148516947-b472b218-a3d0-4706-9ee7-8c964e29faf1.png)

**Why do you and others need this?**:
In this way users can possibly check which are the "other" host list

[2022-01-07 09:48] cardigliano opened #6182 "Add POST NAT support when collecting from routers via nProbe"
ntopng receives Post NAT information when collecting flows from routers via nProbe. When this information is available, ntopng should show the actual source IP (and port if remapped) as provided in the Post NAT information, instead of the router's IP.

<img width="544" alt="post_nat_example" src="https://user-images.githubusercontent.com/7548711/148525264-290feaab-5127-45c4-b8d5-3f6737aaa2e2.png">

[2022-01-08 17:41] lucaderi commented on #6152
Verified as fixed

[2022-01-08 17:41] #6152 closed, assigned to simonemainardi

[2022-01-08 17:58] #6053 closed, assigned to simonemainardi

[2022-01-08 17:58] lucaderi commented on #6101
Verified as fixed

[2022-01-08 17:58] #6101 closed, assigned to cardigliano

[2022-01-08 17:59] lucaderi commented on #6102
Verified as fixed

[2022-01-08 17:59] #6102 closed, assigned to cardigliano

[2022-01-08 17:59] lucaderi commented on #6115
Verified as fixed

[2022-01-08 17:59] #6115 closed, assigned to simonemainardi

[2022-01-08 17:59] lucaderi commented on #6118
Verified as fixed

[2022-01-08 17:59] #6118 closed, assigned to cardigliano

[2022-01-08 18:01] lucaderi commented on #6130
Verified as fixed

[2022-01-08 18:01] #6130 closed, assigned to simonemainardi

[2022-01-08 18:01] lucaderi commented on #6142
Verified as fixed

[2022-01-08 18:01] #6142 closed, assigned to nobody

[2022-01-08 18:03] lucaderi commented on #6151
Verified as fixed

[2022-01-08 18:03] #6151 closed, assigned to simonemainardi

[2022-01-08 18:16] lucaderi commented on #5997
Verified as fixed

[2022-01-08 18:16] #5997 closed, assigned to MatteoBiscosi

[2022-01-09 23:03] Yoshihiro-jp opened #6183 "What is the Host Name with "other"? and Why does it show the error?"
**Environment**:
* OS name: [e.g. Ubuntu] Ubuntu
* OS version: [e.g. 18.04] 20.04.3 LTS
* Architecture: [e.g. amd64] x86_64
* ntopng version/revision: [e.g. 5.1.211223] 5.0.211220  r4205

**What happened**:
Kindly refer to the attached file.
[ntopng others problem.zip](https://github.com/ntop/ntopng/files/7836163/ntopng.others.problem.zip)

At first I choose an application in the Interface graph a

[2022-01-10 08:51] MatteoBiscosi commented on #6183
Hi @Yoshihiro-jp please try to update to the latest version and let me know if the problem persists. Now the "Other" link should be removed and a user cannot click other.

[2022-01-10 09:22] lucaderi commented on #6157
Implemented

[2022-01-10 09:22] #6157 closed, assigned to lucaderi, cardigliano, MatteoBiscosi

[2022-01-10 10:52] solarexpedition commented on #6115
I was to early with the confirmation, sorry. Today, I have again a lot clickhouse problems.

I will send the error-log directly by email, as there are to many private network informations and passwords in it.

[2022-01-10 15:26] cardigliano commented on #6182
There is already a setting to overwrite the Destination or Source address for collected flows with Port-Nat addresses. This is available under Settings -> Preferences -> Network Interfaces -> Use Post-Nat Destination IPv4 Addresses and Ports / Use Post-Nat Source IPv4 Addresses and Ports

[2022-01-10 15:52] martinscheu opened #6184 "Extend alerts filter possibilities"
**What would you like to add or change?**:
Extend the alert filter to search also for any alert listed under "Other Issues":

![image](https://user-images.githubusercontent.com/38549755/148795134-f1ed1235-dc10-4d63-be4d-e65b463aa5a6.png)

Possibility to search for string data, e.g. called URL. Could be with applied Application filter, e.g. http.

**Why do you and others need this?**:
When knowing

[2022-01-10 16:50] martinscheu commented on #6063
yes, seems to work now. thank you.

[2022-01-10 16:50] #6063 closed, assigned to simonemainardi

[2022-01-10 17:13] cardigliano opened #6186 "Cannot find HTTP Servers in Historical Flows"
**Environment**:
* OS name: Ubuntu
* OS version: 18
* Architecture: Intel
* ntopng version/revision: 5.1.220110

**What happened**:

There are some hostnames under the Hosts -> Server HTTP which are not present in the Historical Flows page, or at least a filter on Server Name with the same hostname does not provide results.
Also, the 'timeseries' chart at the top of the same page, shows matching r

[2022-01-10 17:49] AnhTuanNguyenn opened #6187 "PB when install ntopng"
**Environment**:
* OS name: pfsesne
* OS version: 12.2-STABLE
* Architecture: amd64
* ntopng version/revision:

hi, when i install ntopng, i cant start ntop via cmd line, someone help me pls
when i start with "service ntopng start "
/usr/local/etc/rc.d/ntopng: WARNING: /usr/local/etc/ntopng.conf is not readable.
/usr/local/etc/rc.d/ntopng: WARNING: failed precmd routine for ntopng

thank for your

[2022-01-10 20:31] lucaderi commented on #6187
Please use a recent version (5.x) and either compile it from the source or use a binary package available from packages.ntop.org. Version 2.5 is outdated and unsupported

[2022-01-10 20:31] #6187 closed, assigned to nobody

[2022-01-10 20:32] lucaderi commented on #6186
![Screen Shot 2022-01-10 at 21 31 54 1](https://user-images.githubusercontent.com/4493366/148835049-1490de71-eaea-462a-b2dd-4d82d896508a.png)
Also note that the chart reports results that cannot be displayed in the table

[2022-01-11 00:10] Yoshihiro-jp commented on #6183
Dear @MatteoBiscosi,

I updated below.
ntop@ntopng:~$ sudo ntopng -V
Version:        5.0.220110 [Enterprise/Professional build]
GIT rev:        5.0-stable:f9f1dd980e175bc9ea09a2dcb6bdac31781bb766:20220110
Pro rev:        r4206
Built on:       Ubuntu 20.04.3 LTS

Then I confirmed it.
For followers I wrote the your answer regarding the "other".

[What is the "Other"?]
""Other" represents an aggregat

[2022-01-11 08:44] cardigliano commented on #6186
For TLS traffic, the server name is stored in the info field. It is required to add the ability to filter on that field as first step.

[2022-01-11 09:01] #6182 closed, assigned to cardigliano

[2022-01-11 09:27] AnhTuanNguyenn commented on #6187
hello, i try install follow this link but it not work too
https://packages.ntop.org/FreeBSD/
and i have same pb
/usr/local/etc/rc.d/ntopng: WARNING: /usr/local/etc/ntopng.conf is not readable.
/usr/local/etc/rc.d/ntopng: WARNING: failed precmd routine for ntopng

[2022-01-11 09:34] MatteoBiscosi commented on #6183
Thanks a lot for your contribution @Yoshihiro-jp. I'm gonna update you when the new "Other" page is available.
You can follow the issue here #6181
Regards, Matteo

[2022-01-11 09:34] #6183 closed, assigned to MatteoBiscosi

[2022-01-11 10:49] cardigliano commented on #6186
Implemented in a3bce393cad65a9986a1e025f41c6600f06ddf5e (and pro 2823524ecd59a50cb6a009ef8026fcf26562ecfe)

[2022-01-11 11:49] cardigliano commented on #6186
Chart fixed in pro 5b9f13ab618aa6e46d8c2517d52909b599cefe1a

[2022-01-11 14:31] lucaderi opened #6188 "Add number of records in addition to space"
![Screen Shot 2022-01-11 at 15 29 55](https://user-images.githubusercontent.com/4493366/148961753-f73ac054-d821-417a-aa26-d76765d0f5b0.png)

[2022-01-11 14:34] lucaderi commented on #6186
Verified as fixed

[2022-01-11 14:34] #6186 closed, assigned to cardigliano

[2022-01-11 14:43] AnhTuanNguyenn opened #6189 "can't start ntopng [Ntop.cpp:2387] Parent process is exiting (this is normal)"
**Environment**:
* OS name: pfsense
* OS version: 12 stable
* Architecture:  amd64
* ntopng version/revision: 5.1

when i try to install ntopng via command
https://www.ntop.org/guides/ntopng/third_party_integrations/pfsense.html#pfsense-ce-2-5-pfsense-plus

i cant started ntopng and i have error

`11/Jan/2022 15:09:59 [Ntop.cpp:3416] Created pinger for vmx0
11/Jan/2022 15:09:59 [Ntop.cpp:3416] Cre

[2022-01-11 15:41] lucaderi opened #6190 "SNMP edit does not display the correct information"
This device
![Screen Shot 2022-01-11 at 16 36 29](https://user-images.githubusercontent.com/4493366/148973878-2b583e9c-0e43-4385-b27b-b28c32335799.png)
was configured as follows
![Screen Shot 2022-01-11 at 16 39 51](https://user-images.githubusercontent.com/4493366/148973807-29fbcb68-84cb-4017-906a-be03180163e2.png)

If I edit the device I get

![Screen Shot 2022-01-11 at 16 36 40](https://user-im

[2022-01-11 15:42] lucaderi commented on #6166
I have investigated the problem a bit by installing an SNMPv3 agent as described in https://www.xmodulo.com/configure-snmpv3-ubuntu-centos-cisco.html and I am unable to reproduce the problem.

Questions:
- How did you configure your SNMP agent in ntopng?
- Can you please report your SNMPv3 configuration?
- What is the OS/distribution you are using?

[2022-01-11 15:53] lucaderi commented on #6155
This has been already fixed

[2022-01-11 15:53] #6155 closed, assigned to nobody

[2022-01-12 09:55] cardigliano commented on #6189
(debugging this via mail)

[2022-01-12 10:05] AnhTuanNguyenn commented on #6189
thank you,
waitng your news :)

[2022-01-12 14:37] MatteoBiscosi opened #6191 "Add configuration example to documentation"
**What would you like to add or change?**:
Add a configuration file example to the documentation

**Why do you and others need this?**:
To have a better idea on how to write an ntopng configuration file

[2022-01-12 15:03] AnhTuanNguyenn commented on #6189
Now, I can access ntop with 10min, it’s so good, Now I just wanna how to save log flows if I use version Pro please ?

I can’t find out option to enable dump the log in preferences

[2022-01-12 19:56] lucaderi opened #6192 "Unknown MAC detected"
Implement a check that stores in redis (subject to a preference for retention set to default to 90 days, and a preference fr the learning period similar to the service map) known MAC addresses. Whenever a MAC is observed past the learning period, we need to check if the MAC is unknown and in this case trigger an alert.

[2022-01-12 19:57] lucaderi opened #6193 "Unknown MAC/IP Combination Detected"
Same as #6192 but for MAC/IP combination

Note that we need to support the following combinations
- one MAC and multiple IPs
- multiple IPs for one MAC

[2022-01-12 19:59] lucaderi opened #6194 "Check for detecting VLAN with Internet Traffic"
Some VLANs need to have only local traffic (i.e. private IPs) as they contain sensitive data. This ticket is to request the implementation of a new check that for the selected VLAN list, triggers a flow alert whenever a flow with a public IP peer is detected. This check is disabled by default.

[2022-01-12 20:03] lucaderi opened #6195 "Detect VLAN Network Bridge"
Trigger an alert whenever we detect a host whose IP is detected on multiple VLANs (or on untagged traffic and a VLAN).

[2022-01-12 20:11] lucaderi opened #6196 "Implement alert packet download"
In case n2disk is enabled with ntopng, add a new button in the flow alert window that allows packets of the flow alert to be downloaded.

[2022-01-12 20:12] lucaderi opened #6197 "Implement historical packet download"
Same as #6196 for extracting pcap of historical flows

[2022-01-12 20:14] lucaderi opened #6198 "Implement BPF Filter Validation"
![Screen Shot 2022-01-12 at 21 12 33](https://user-images.githubusercontent.com/4493366/149214549-3faebe3f-cf29-4c3e-85a3-1b657d70e7df.png)

In the above field (a similar one can be found under a host) there is no BPF filter validation, so anything can be written in the field without the user to be notified that the filter is wrong and then that is ignored.

[2022-01-12 20:16] lucaderi opened #6199 "Implement ClickHouse Number of Records"
In the following window add
- number of flow records (alerts and flows)

![Screen Shot 2022-01-12 at 21 14 47](https://user-images.githubusercontent.com/4493366/149214931-d4210ac3-cdd1-4727-9d22-35dc178ed979.png)

[2022-01-12 20:16] lucaderi opened #6200 "Implement ClickHouse Records Number"
In the following window add
- number of flow records (alerts and flows)

![Screen Shot 2022-01-12 at 21 14 47](https://user-images.githubusercontent.com/4493366/149214931-d4210ac3-cdd1-4727-9d22-35dc178ed979.png)

[2022-01-13 08:39] martinscheu commented on #6196
ok, with that I can close https://github.com/ntop/ntopng/issues/6179

[2022-01-13 08:39] martinscheu commented on #6179
implemented with https://github.com/ntop/ntopng/issues/6196

[2022-01-13 08:39] #6179 closed, assigned to nobody

[2022-01-13 08:44] martinscheu commented on #6192
What is the difference to the Check "Unexpected Device Connected" ?

[2022-01-13 08:46] martinscheu commented on #6192
How can we manage devices past the learning period? Alerting new devices is good, but then if it is a new device I add on purpose, I need to be able to add it to the allow list. Further if I remove a device, I should remove it from the list as well. Some sort of GUI to manage allowed MAC addresses would be helpful, for both removing and adding devices.

[2022-01-13 11:08] MatteoBiscosi commented on #6191
Added to the documentation a configuration file example
![Screenshot from 2022-01-13 12-07-40](https://user-images.githubusercontent.com/49585191/149319193-117aa855-eac5-4686-83b1-71a6911e9e0d.png)

[2022-01-13 11:08] #6191 closed, assigned to MatteoBiscosi

[2022-01-13 11:22] lucaderi commented on #6200
Duplicated

[2022-01-13 11:22] #6200 closed, assigned to MatteoBiscosi

[2022-01-13 11:59] MatteoBiscosi commented on #6199
Added like the following.
![Screenshot from 2022-01-13 12-53-26](https://user-images.githubusercontent.com/49585191/149325653-391dfa1b-0981-426c-95a1-22c2c56f79ea.png)

[2022-01-13 12:02] MatteoBiscosi commented on #6188
duplicate of #6199

[2022-01-13 12:02] #6188 closed, assigned to nobody

[2022-01-13 13:59] tierry opened #6201 "Incorrect timezone on alerts and historical flow explorer tab"
Hi, my ntop alerts and historical flow explorer is using UTC instead of UTC-4. Im using influx and clickhouse to dump flows.
Im trying to fix it to use UTC-4 but i cant find a solution.
![image](https://user-images.githubusercontent.com/7729974/149343087-1950b114-d760-4f3c-927d-cc421e0accde.png)

[2022-01-13 16:32] lucaderi opened #6202 "Historical Flow Explorer: Add ability to filter Interface IDs"
In the historical flow explorer, it is requested to add the ability to filter flows based on the interfaceId.

Note that such interfaces should be resolved (for easier mapping) to symbolic names in case SNMP is present.

[2022-01-13 16:53] lucaderi opened #6203 "Invalid flow recors reported"
![image](https://user-images.githubusercontent.com/4493366/149373529-bf824861-d413-4ac5-816e-14b59af3391e.png)

The 100 entries are repeated and the default should be 50.

Finally at the bottom of the page please add an empty line between the selector box and the number of reported records
![Screen Shot 2022-01-13 at 17 52 28](https://user-images.githubusercontent.com/4493366/149373712-3f6f16f9-5f

[2022-01-13 16:55] lucaderi opened #6204 "Ignored Filter Selection"
![Screen Shot 2022-01-13 at 17 54 00](https://user-images.githubusercontent.com/4493366/149373911-e85a2d3c-8ef6-41f6-b98e-0e9592719b20.png)

On the above page, DNS is filtered and charts are not using the filter as they should. This needs to be fixed not only on this page but also on all pages of the analysis section as also other pages (under Analysis) seem to be affected by the same bug.

[2022-01-13 18:01] MatteoBiscosi commented on #6201
Hi @tierry Unfortunately we are using the standard HTML input tag and as you can see from the official documentation https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/time it's not possible to change the Timezone; it's based on the browser settings. If you know a way to fix this problem please let us know.

[2022-01-13 18:08] MatteoBiscosi commented on #6189
Hi @AnhTuanNguyenn check out the documentation to dump flows https://www.ntop.org/guides/ntopng/advanced_features/flows_dump.html?highlight=dump, here you can find a detailed guide to do it

[2022-01-13 18:55] cardigliano commented on #6204
Fixed in b396a8585e67bc7567a52c048d0da6deba65c46f

[2022-01-14 07:08] Yoshihiro-jp commented on #6176
Dear @MatteoBiscosi,

The problem happened again.
I got the screenshot and don't do "Factory Reset" now.
If you are okay I could provide the access to my server.
Kindly think about it.

[service map problem_20220114.zip](https://github.com/ntop/ntopng/files/7868457/service.map.problem_20220114.zip)

regards,
Yoshihiro

[2022-01-14 08:55] gafzgarrr opened #6205 "ntopng creates ICMPv6 packets in logfile"
**Environment**:
* OS name: [FreeBSD]
* OS version: [12.1]
* Architecture: [amd64]
* ntopng version/revision: [5.0.211110]

**What happened**:
Im Running ntopng on my Opnsence, and have found something strange,

When ntopng is running, i got many ICMPv6 Broadcast Packets on my WAN interface (from my ISP).
Strange is, that when ntopng is not running i don´t have any ICMPv6 Packets on my WAN interfa

[2022-01-14 15:09] MatteoBiscosi commented on #6189
The bug should be fixed, please reopen if needed

[2022-01-14 15:09] #6189 closed, assigned to nobody

[2022-01-14 15:56] cardigliano commented on #6198
Implemented in dbc00c715511de4a666d61169b7be08ab7e0ead1 c51f779bc9bb64ff7ac010358dd564f4cfd9e2ef

[2022-01-14 18:09] lucaderi opened #6206 "Missing filters on bytes/packets in the Historical Flow Explorer"
Currently, it is not possible to search flows using bytes and packets as criteria. Example all the flows with > 10 MB or flows with < 20 packets. This should be implemented,

[2022-01-14 18:26] lucaderi commented on #6199
Verified as fixed

[2022-01-14 18:26] #6199 closed, assigned to MatteoBiscosi

[2022-01-14 18:26] lucaderi commented on #6203
Verified as fixed

[2022-01-14 18:26] #6203 closed, assigned to MatteoBiscosi

[2022-01-14 18:27] lucaderi commented on #6204
Verified as fixed

[2022-01-14 18:27] #6204 closed, assigned to MatteoBiscosi

[2022-01-14 18:46] lucaderi commented on #6190
Verified as fixed

[2022-01-14 18:46] #6190 closed, assigned to MatteoBiscosi

[2022-01-14 19:36] lucaderi commented on #6205
Are you maybe running network discovery? Can you please disable it from preferences?

[2022-01-14 21:32] lucaderi opened #6207 "Document Risk Exclusions"
Risk Exclusions are not documented yet. They need to be added to the user's guide as well as add nDPI risk exceptions as described in https://www.ntop.org/ndpi/howto-define-ndpi-risk-exceptions-for-networks-and-domains/

[2022-01-15 00:25] derekslenk opened #6208 "Create a FreeBSD 13 binary / OPNsense"
**What would you like to add or change?**:
I would like the repository for OPNsense to have a FreeBSD 13 build or provide a binary of a FreeBSD 13  build.

**Why do you and others need this?**:
The upcoming major release of OPNsense, OPNsense v22, is based on FreeBSD 13.

[2022-01-17 07:37] lucaderi commented on #5947
Please see https://www.ntop.org/ndpi/howto-define-ndpi-risk-exceptions-for-networks-and-domains/

[2022-01-17 08:01] lucaderi commented on #5947
Fixed by https://github.com/ntop/nDPI/commit/6679453d8601b7116534558097aaffc2bda14963

[2022-01-17 08:01] #5947 closed, assigned to lucaderi

[2022-01-17 09:49] MatteoBiscosi commented on #6201
Like I said, input time and input date formatting depends on local browser time (written in the official doc above). The only way to fix it is changing the web browser local time

[2022-01-17 09:49] #6201 closed, assigned to nobody

[2022-01-17 10:43] lucaderi commented on #6166
Closing for inactivity, will reopen if necessary

[2022-01-17 10:43] #6166 closed, assigned to lucaderi

[2022-01-17 10:44] lucaderi commented on #6022
The old MySQL explorer has been removed as we passed to ClickHouse

[2022-01-17 10:44] #6022 closed, assigned to simonemainardi

[2022-01-17 10:48] lucaderi commented on #6154
No you need an nProbe license for doing this permanently

[2022-01-17 10:48] #6154 closed, assigned to nobody

[2022-01-17 11:16] lucaderi commented on #5809
Implemented

[2022-01-17 11:16] #5809 closed, assigned to nobody

[2022-01-17 11:18] lucaderi commented on #5916
Not a priority at the moment

[2022-01-17 11:18] #5916 closed, assigned to nobody

[2022-01-17 11:20] lucaderi commented on #5604
Implemented with https://github.com/ntop/nDPI/commit/6679453d8601b7116534558097aaffc2bda14963

[2022-01-17 11:20] #5604 closed, assigned to simonemainardi, cardigliano

[2022-01-17 11:21] lucaderi commented on #5885
having 1 min polling can be too short for large networks. Will stay with 5 min

[2022-01-17 11:21] #5885 closed, assigned to nobody

[2022-01-17 11:28] lucaderi opened #6209 "GeoMap: Add dropdown menu for selecting hosts"
Add a dropdown menu similar to the host map
![Screenshot 2022-01-17 at 12 26 14](https://user-images.githubusercontent.com/4493366/149761702-a5603461-d732-48e2-881c-46cb1b960c3f.png)
that allows you to select "active hosts" or "alerted hosts" from the GeoMap

![Screenshot 2022-01-17 at 12 26 02](https://user-images.githubusercontent.com/4493366/149761705-549c5cd5-f6b3-443c-ac94-f3b50a727ef3.png)

[2022-01-17 11:30] MatteoBiscosi commented on #6181
No need to do it, just remove the Other host and show all the entries

[2022-01-17 11:30] #6181 closed, assigned to MatteoBiscosi

[2022-01-17 13:08] tierry commented on #6201
Ok, thx!

[2022-01-17 16:14] MatteoBiscosi commented on #6134
Implemented like the following. Added a progress bar even to CPU usage in order to let the user visualize better the state of the device.
![Screenshot from 2022-01-17 17-13-49](https://user-images.githubusercontent.com/49585191/149804518-2776fc33-d724-4ad5-8b17-cb0a17b85a8e.png)

[2022-01-17 21:17] lucaderi commented on #6208
Please test https://packages.ntop.org/FreeBSD/ and report.

[2022-01-17 21:25] MatteoBiscosi opened #6210 "Use Moment JS instead of Date"
**What would you like to add or change?**:
Change from the standard Date to moment js

**Why do you and others need this?**:
in this way datetimepickers, input date and time, could be shown using the local OS settings instead of using UTC standard time where users most of the times are not practical with it (they mainly use their specific timezone, not UTC)

[2022-01-17 21:26] MatteoBiscosi commented on #6201
Hi @tierry please follow issue #6210, I got an idea on how to use local time instead of UTC

[2022-01-18 02:24] hdsjahuen opened #6211 "在使用lua vm时，ntop会报出问题"
![企业微信截图_1642468529359](https://user-images.githubusercontent.com/97928016/149859805-d818c8a0-0c75-4906-ae81-0f25a85bdca4.png)
当我打开ntop时会出现这个界面，后台的错误信息是这样的
![0df3674d-4b15-4161-8b54-4567ed16ef1b(1)](https://user-images.githubusercontent.com/97928016/149859880-2126ed2a-7745-4246-9fa1-c0d128f203c4.jpg)
报告我的lua vm无法加载，不知道这两个之间是否会相互有什么影响

[2022-01-18 08:32] lucaderi commented on #6211
English please

[2022-01-18 08:32] #6211 closed, assigned to nobody

[2022-01-18 10:37] cardigliano commented on #6196
Implemented in 2c561072ffea599de9657b7685514345a32b3648 5406eb004d5ade04a0b9efaf20e2f8f745875250 (testing)

[2022-01-18 10:38] cardigliano commented on #6197
Implemented in pro f19a5807b306e838396581e34dc9a558be17129b 1687e5e721b8fdb88dd06811e58a89c57a59876b  (testing)

[2022-01-18 11:43] cardigliano opened #6212 "Format Y axis on Historical Flow Charts"
Values are currently not formatted in the Historical Flow charts, this should be addressed.

[2022-01-18 12:13] lucaderi opened #6213 "Add Alerts Family Breakdown"
Similar to what happens with flows

![Screen Shot 2022-01-18 at 13 12 15](https://user-images.githubusercontent.com/4493366/149935360-f8596f61-b589-4cf4-8cd9-a603c90c62c1.png)

add in the window below a dropdown menu that contains (group by) the detected alerts.

![Screen Shot 2022-01-18 at 13 11 19](https://user-images.githubusercontent.com/4493366/149935228-bb01201c-9db2-44c3-8c42-f2f1f1d251ba.p

[2022-01-18 12:15] lucaderi opened #6214 "Add GeoMap in Historical Flow Explorer"
This is to request to add a new entry with the geomap in the historical flow explored

[2022-01-18 12:15] lucaderi opened #6215 "Add DPI Detection Confidence"
nDPI now reports how a certain flow protocol has been detected. This information is missing from ntopng and it needs to be added

[2022-01-18 12:18] lucaderi commented on #6198
Verified as fixed

[2022-01-18 12:18] #6198 closed, assigned to cardigliano

[2022-01-18 16:07] MatteoBiscosi commented on #6210
Implemented, now the local time is going to be used instead of UTC time, this thanks to the use of moment.js library

[2022-01-18 16:07] #6210 closed, assigned to MatteoBiscosi

[2022-01-18 16:38] daxrob commented on #640
Hi,

I just upgraded to v.5.1.210907 (Windows). The ntopng.exe process is consuming around 80-95% of CPU constantly even if there is no traffic. Only broadcast.

![image](https://user-images.githubusercontent.com/66008204/149979453-0b59caea-8385-4b00-b88a-c90dffbb0111.png)

ntopng --dns-mode "1" --interface "2" --local-networks "192.168.1.0/24" --max-num-hosts "10000" --max-num-flows "10000" --cap

[2022-01-18 16:47] MatteoBiscosi commented on #6212
Implemented, pro repo

[2022-01-18 17:12] assegid14 opened #6216 "Using ntopng with nProbe for netflow traffic collection"
Environment

- Window 10
- ntopng version 5.
- ntopng license = Enterprise L

Question
How I configure nprobe to collect netflow and forward to ntopng.

thank you!

[2022-01-18 21:53] #6215 closed, assigned to lucaderi

[2022-01-18 21:53] #6208 closed, assigned to nobody

[2022-01-18 21:58] mzac opened #6217 "Views not working with multiple interfaces"
**Environment**:
* OS name: Ubuntu
* OS version: 20.04
* Architecture: amd64
* ntopng version/revision: 5.1.220118

**What happened**:
Trying to use views with multiple interfaces and ntopng will not use them and does not show any traffic.  I should note that my sniffing interfaces are passive and receiving traffic from a span port on an uplink switch and the interfaces have no IP address.

I get

[2022-01-18 22:04] derekslenk commented on #6208
I was going to say - it installs in OPNsense, but with no integration into OPNsense itself at all. Still attempting to launch from cli properly

[2022-01-19 04:48] hdsjahuen commented on #6211
When I open the Ntop web interface, it is displayed when it is not currently supported, and then the error message displayed in the background is as shown in the second image, and then the lua vm also shows that it cannot be loaded, I want to ask if there will be anything related between the two

[2022-01-19 08:20] Yoshihiro-jp commented on #6176
Dear @MatteoBiscosi ,

Could you re-open this ticket?
I think that this is really problem.

regards,
Yoshihiro

[2022-01-19 08:54] lucaderi commented on #6217
Can you please replace
--interface="view:ens1f0,ens1f1,ens1f2,ens1f3"
with
--interface="ens1f0"
--interface="ens1f1"
--interface="ens1f2"
--interface="ens1f3"
--interface="view:all"

and report?

[2022-01-19 09:02] lucaderi commented on #6216
Please see https://www.ntop.org/guides/ntopng/using_with_other_tools/nprobe.html#usingntopngwithnprobe

The only difference is that on Windows you have services, so  please also see https://www.ntop.org/guides/ntopng/what_is_ntopng.html#installing-on-windows

[2022-01-19 09:02] #6216 closed, assigned to nobody

[2022-01-19 09:07] lucaderi opened #6218 "Missing Active Discovery Notification"
Active discovery can create troubles to neighbours as they might believe their privacy is compromised, this in particular in hosted environments. For this reason this is to request to
- enable a small icon in the menu
![Screenshot 2022-01-19 at 10 05 41](https://user-images.githubusercontent.com/4493366/150098608-d46f10fc-39dc-4d68-9cff-5acd442f9a79.png)
if active discovery is enabled
![Screenshot

[2022-01-19 09:10] lucaderi opened #6219 "Continuous ping seems to stop sometimes"
Continuous ping does not seem to work properly as sometimes it stops even though the remote system responds

<img width="782" alt="image" src="https://user-images.githubusercontent.com/4493366/150099304-93bbb765-9958-4d62-9d8c-083ec8d756b4.png">
<img width="782" alt="Screen Shot 2022-01-19 at 4 44 55 pm" src="https://user-images.githubusercontent.com/4493366/150099327-73520551-232b-4892-ba08-59c8c

[2022-01-19 10:36] AnhTuanNguyenn opened #6220 "problem ntop 5.1 vs pfsense 2.5.2"
**Environment**:
* OS name: pfsense 2.5.2
* OS version: 12
* Architecture: amd64
* ntopng version/revision: 5.1

Hello
Can i have an tutorial for install ntopng on pfsense correctly pls

I followed the link on ntop site official but my ntopng doesn’t work correctly
I started service ntop but i can’t access web by https or https

On pfsense webgui i can’t see service ntopng working too. Port 3000 i

[2022-01-19 11:43] cardigliano commented on #6212
Second part in pro 607e30d0df8138bd6f53a74fc7cb364c7e03af12

[2022-01-19 11:43] #6212 closed, assigned to cardigliano

[2022-01-19 14:55] mzac commented on #6217
Hi @lucaderi, I did try the single interfaces after I posted and it did work.  The view:all did not work but it seems to be working now.  In our setup however I would need to use separate views as I also have ens4f0->3 that is connected to another switch.

Not sure if it is important for this issue but the model of NICs we are using are Intel X710-DA4

Here is the output:

[code]

[2022-01-19 15:54] AnhTuanNguyenn commented on #6220
update
![1642604792043-inkederror-1_li](https://user-images.githubusercontent.com/24913199/150166936-3ae7901f-fc9f-4cdc-9a26-e502a15d1784.jpg)
i check in service i got this
![1642604682408-error-2](https://user-images.githubusercontent.com/24913199/150167037-b42282fa-1def-46db-b13b-75aa01e2c497.png)

[2022-01-19 16:19] mzac commented on #6217
@lucaderi  Not sure if this is part of the issue but I grepped for one interface running in -v 6 mode and it complains that it cannot read the MTU of the view:

[code]

[code]

[code]

[2022-01-19 16:32] mzac commented on #6217
Hmm.. ok I think this is my fault.  I didn't read the docs.  Hopefully this will help others who run into this issue in the future.

https://www.ntop.org/guides/ntopng/advanced_features/view_interfaces.html

[code]

Works now!  :man_facepalming:

[2022-01-19 16:32] #6217 closed, assigned to nobody

[2022-01-19 16:55] lucaderi commented on #6220
The issue we see is probably related to the end of the demo mode as I see you use the community edition. Please edit /usr/local/etc/ntopng.conf and add a new line

--community=

then restart ntopng. You can find the user's guide here https://www.ntop.org/guides/ntopng/

[2022-01-19 16:56] lucaderi commented on #6219
The issue can be reproduced with Rocky Linux 8

[2022-01-19 17:04] AnhTuanNguyenn commented on #6220
THank Luca for your answer ! but it's seems doen't work
![ntoppp](https://user-images.githubusercontent.com/24913199/150181242-d47f6b8d-b8d0-4e92-a352-90882f900f48.PNG)
and when i go to website the problem is return
![1642604792043-inkederror-1_li](https://user-images.githubusercontent.com/24913199/150181354-85c4ba14-6b59-4662-8775-ce2092a453cf.jpg)
i was add new line as you said:

![community](ht

[2022-01-19 17:22] AnhTuanNguyenn commented on #6220
Hope you can give me a good solution, because I got too much time to debug this problem and i was sent mail to you but i didn't have your return, thanks for advance

[2022-01-19 18:12] rusqq opened #6221 "issue in parsing logs between ntop and elasticsearch"
**Environment**:
* OS name: **Centos**
* OS version: **8**
* Architecture: **x86_64**
* ntopng version/revision: **ntopng Enterprise L v.5.0.211117 rev.15952**
* Elasticsearch version: **7.14.2**

**What happened**:

I'm facing an issue in parsing logs between Elastichsearch and ntopng. I used this guide https://www.ntop.org/ntopng/exploring-your-traffic-using-ntopng-with-elasticsearchkibana/ and

[2022-01-19 18:37] lucaderi commented on #6220
this is a login issue. Can you go you http://yourhost:3000 and sew what happens?
Can you please any error you see on the ntopng console?

[2022-01-19 18:42] lucaderi commented on #6221
Ok but where in the message there is the invalid token. This JSON looks good to me

[2022-01-19 19:11] rusqq commented on #6221
While creating a JSON object to create a pipeline from this input:

{
  "root_cause": [
    {
      "type": "illegal_argument_exception",
      "reason": "com.fasterxml.jackson.core.JsonParseException: Unexpected character ('n' (code 110)): was expecting comma to separate Object entries\n at [Source: (org.elasticsearch.common.io.stream.ByteBufferStreamInput); line: 1, column: 399]"
    }
  ],
  "t

[2022-01-19 19:40] lucaderi commented on #6221
Ok but this is on the ELK side. you need to point me to where the ntop json is wrong. You can validate it for instance using https://jsonlint.com and report the **exact** error

[2022-01-19 23:06] AnhTuanNguyenn commented on #6220
you can see the log when i started ntopng in terminal
![150181242-d47f6b8d-b8d0-4e92-a352-90882f900f48](https://user-images.githubusercontent.com/24913199/150232688-572c404b-fff4-451d-8b80-cf8c9769e5fa.png)

![150181354-85c4ba14-6b59-4662-8775-ce2092a453cf](https://user-images.githubusercontent.com/24913199/150232699-db27d617-ed3e-4741-9a34-830f76761092.jpg)

[2022-01-20 08:10] juniorUniv opened #6222 "initial admin password issue"
ntopng ver: 4.2.210426 (14127) - Community Edition
platform: Debian bullseye/sid [x86_64][Ubuntu 20.04.1 LTS] - 64 bit
deloyed by docker container

same problem as was defined in:
[](https://github.com/ntop/ntopng/issues/5385)

![image](https://user-images.githubusercontent.com/55238022/150297002-5ea5ebdc-e464-49df-83e0-b1413840b765.png)

Q:
1. Is there any password length limitation (for users)?

[2022-01-20 09:02] lucaderi opened #6223 "Invalid Alerted Hosts Geomap"
![Screenshot 2022-01-20 at 09 59 29](https://user-images.githubusercontent.com/4493366/150306875-29e98f93-0c38-42c9-8b42-319b98dcd5cd.png)
As you can see we have several hosts with alerted flows but the map is empty

[2022-01-20 10:03] lucaderi opened #6224 "Split checks in exact and delayed"
In scripts/callbacks/minute/system/system_checks.lua (and 5 mins) the loaded scripts are

/var/lib/ntopng/plugins1/callbacks/system/system/influxdb_monitor.lua
/var/lib/ntopng/plugins1/callbacks/system/system/ids_ips_log.lua
/var/lib/ntopng/plugins1/callbacks/system/system/dropped_alerts.lua
/var/lib/ntopng/plugins1/callbacks/system/system/periodic_activity_not_executed.lua
/var/lib/ntopng/plugins

[2022-01-20 10:08] lucaderi opened #6225 "Update Active Monitoring Time Picker"
![Screenshot 2022-01-20 at 11 07 07](https://user-images.githubusercontent.com/4493366/150317935-9e3dab34-1875-4a8d-b67a-5648eafccb59.png)

[2022-01-20 10:33] MatteoBiscosi commented on #6222
Hi @juniorUniv the max length set to 30 characters is standard and after internal discussion we decided to not change it for security reasons.
Regarding the special characters, this behavior is changed with version 5.1, so please update to the latest version because we don't support older versions. In a few days the new 5.2 stable version is going to be released so you can wait for that if you pre

[2022-01-20 10:33] #6222 closed, assigned to MatteoBiscosi

[2022-01-20 14:13] lucaderi commented on #6220
I have fixed the issue that was related to an old ntopng install that was already present on the machine. Please do
- pkg remove ntopng
- rm -rf /usr/local/share/ntopng/ (in case you have something old)
- pkg clean
- redis-cli flushall
- pkg install ntopng

and it should work. Note that the ntopng config file is at /usr/local/etc/ntopng/ntopng.conf

[2022-01-20 14:13] #6220 closed, assigned to nobody

[2022-01-20 15:28] cardigliano commented on #6206
Implemented in pro ec735b0146ac3c5d6fd65cb075050d4b479c1506

[2022-01-20 15:29] cardigliano commented on #6206
Note: the bytes selector component can still be improved to let select the unit (not sure it is worth adding it at this point)

[2022-01-20 15:49] AnhTuanNguyenn commented on #6220
Hello, i tried as you told but that's nothing changed, i have same pb
waiting your new

Vào Th 5, 20 thg 1, 2022 vào lúc 15:13 Luca Deri ***@***.***>
đã viết:

[2022-01-20 16:02] lucaderi commented on #6219
https://github.com/ntop/ntopng/commit/d25dae664e99cf54fc92583a9c5744eb99fae073 should have mitigated the issue

[2022-01-20 16:53] lucaderi commented on #6221
@rusqq Any news?

[2022-01-20 16:59] lucaderi opened #6226 "Group Flows in Historical Explorer"
Add a new script for grouping flows using a quadruplet (5-tuple except for the source port) that reports the number of "similar" flows for a given glow.

[2022-01-20 17:31] AnhTuanNguyenn opened #6227 "[QUESTION] Ntopng Entreprise M vs ClickHouse"
Sorry for this question if this question not for this sector !!!

I bought ntopng version entreprise M, i would use it with Clickhosue for save log everydays, it this possible ? i have readed guide and  but i see in the setting a something as n2disk, so i need n2disk for save log ?

i would know where i can find setting logs as : max day of log [1 weeks or 1 month]

thank for your help

[2022-01-20 17:51] MatteoBiscosi commented on #6227
Hi @AnhTuanNguyenn here you can find all the documentation regarding ClickHouse. In ClickHouse we dump only flows and alerts; it uses very few memory for a lot of data.
![Screenshot from 2022-01-20 18-47-28](https://user-images.githubusercontent.com/49585191/150393549-14e83928-8e78-490b-bbd5-52a19984cf9e.png)
Just to give you an idea this is a screenshot from our testing machine.

Using ClickHouse

[2022-01-20 20:47] lucaderi commented on #6223
Verified as fixed

[2022-01-20 20:47] #6223 closed, assigned to uccidibuti, MatteoBiscosi

[2022-01-20 20:48] lucaderi opened #6228 "Invalid language selector"
![Screen Shot 2022-01-20 at 21 45 06](https://user-images.githubusercontent.com/4493366/150419712-c88874fd-5250-4440-b7ba-068749917e8e.png)
The language menu is always set to English regardless of the language being used

[2022-01-21 08:35] assegid14 commented on #6216
Dear Lucaderi. Thank you for the help.
I have an issue of licensing.
1. ntopng is licensed with Enterprise L.
2. Then, I installed nprobe on the same windows host.

However, the nprobe is running in demo mode. The documentation says  ntopng Enterprise L includes nProbe Pro (Flow Collection) licenses.
How can I get the nprobe Pro license from ntopng license.

Thank you!
![photo_2022-01-21_11-27-40]

[2022-01-21 08:40] cardigliano commented on #6216
@assegid14 Enterprise L does not include nProbe Pro, that applies to the Bundle only.

[2022-01-21 08:44] assegid14 commented on #6216
@cardigliano According to an official documentation https://www.ntop.org/guides/ntopng/what_is_ntopng.html#ntopng-enterprise-l

This version also unlocks n2disk 1 Gbit (Continuous Recording) and nProbe Pro (Flow Collection) with no need for additional licenses.
So, what is the solution in order to collect netflow with my current licensing?

Thank you!

[2022-01-21 09:04] cardigliano commented on #6216
@assegid14 it contains a mistake, I am asking my collleagues to fix it. Please refer to the comparison table at
https://www.ntop.org/products/traffic-analysis/ntop/ . Sorry for the misunderstanding.

[2022-01-21 09:50] sciolto commented on #2036
We have an actual use case for a customer project. They happily use nEdge as traffic shaper, but need to make it high-available in a cluster.

[2022-01-21 14:12] lucaderi commented on #6209
Verified as fixed

[2022-01-21 14:12] #6209 closed, assigned to uccidibuti, MatteoBiscosi

[2022-01-21 14:13] lucaderi commented on #6214
Verified as implemented

[2022-01-21 14:13] #6214 closed, assigned to uccidibuti, MatteoBiscosi

[2022-01-21 15:28] lucaderi opened #6229 "Make Uniform "Copied" Entries"
In the alerts and historical flow explored we have this button that copies a link into the clipboard. The feedback is nice to see
![Screen Shot 2022-01-21 at 16 25 07](https://user-images.githubusercontent.com/4493366/150553409-7d071519-c3b4-4305-bad6-745a0c375319.png)

On the same page there is the SQL button with a different feedback
![Screen Shot 2022-01-21 at 16 25 14](https://user-images.gith

[2022-01-21 16:17] sciolto opened #6230 "nEdge bridge does not come up after reboot"
**Environment**:
* OS name: Ubuntu
* OS version:  18.04
* Architecture: amd64
* ntopng version/revision: [e.g. 5.0.220111]

**What happened**:
nEdge was found offline after reboot, because the bridge br0 does not come up after reboot, only executing `netplan apply`  5-10 minutes after reboot restores the connectivity

**What did you expect to happen?**
nEdge would be in online mode after reboot

*

[2022-01-21 16:19] sciolto commented on #6230
As a workaround I configured a cronjob `@reboot` which calls the  following script:
[code]

[2022-01-21 17:15] cardigliano commented on #6202
Filter on in/out interface has been implemented, using the interface number for the time being.

[2022-01-21 17:34] #6229 closed, assigned to uccidibuti, MatteoBiscosi

[2022-01-21 18:52] tierry commented on #6201
Hi @MatteoBiscosi thank you!
It worked on flow explorer correctly, but on alerts im still getting some UTC time
![alerts](https://user-images.githubusercontent.com/7729974/150583620-eeccb1f1-9c5a-4ef2-9e26-1e8125bd7639.png)
.

[2022-01-22 07:48] #6227 closed, assigned to nobody

[2022-01-22 07:48] lucaderi commented on #6221
Closing for inactivity

[2022-01-22 07:48] #6221 closed, assigned to nobody

[2022-01-22 07:50] lucaderi commented on #6218
The discovery icon in the menu is not shown all the time as it should be

[2022-01-22 07:50] #6218 closed, assigned to MatteoBiscosi

[2022-01-22 07:53] lucaderi commented on #6206
Verified as fixed

[2022-01-22 07:53] #6206 closed, assigned to cardigliano

[2022-01-22 07:53] lucaderi commented on #6202
Verified as fixed

[2022-01-22 07:53] #6202 closed, assigned to cardigliano

[2022-01-22 08:08] lucaderi opened #6231 "Cleanup plugins code"
After the plugins have been removed there is some leftover to remove
- /var/lib.ntopng/pluginX is no longer necessary
- Preferences -> Plugins should be reworked
- scripts/lua/modules/plugins_utils.lua should disappear

[2022-01-23 11:18] gafzgarrr commented on #6205
No, network discovery is disabled. Had the same idea, but no.

[2022-01-24 07:11] lucaderi opened #6232 "Broken Influx Timeseries"
![Screenshot 2022-01-24 at 08 10 30](https://user-images.githubusercontent.com/4493366/150737600-ae34e781-3563-40d6-8ca6-5e2e69063566.png)

[2022-01-24 11:24] lucaderi commented on #6232
Verified as fixed

[2022-01-24 11:24] #6232 closed, assigned to cardigliano, MatteoBiscosi

[2022-01-24 11:25] lucaderi opened #6233 "Add the ability to specify host/flow explosions with CIDRs"
<img width="1167" alt="Screenshot 2022-01-24 at 12 24 23" src="https://user-images.githubusercontent.com/4493366/150774497-4f7cfa9a-89f4-49ac-8a8f-e18a59682ca3.png">

[2022-01-24 15:10] lucaderi opened #6234 "Alerts: Missing number of Records as with Flows"
![Screen Shot 2022-01-24 at 16 07 43](https://user-images.githubusercontent.com/4493366/150808889-3da16ac8-f19d-4c1e-bf8f-b7128de3a982.png)

[2022-01-24 16:00] mzac opened #6235 "Edit Host Pool does not work properly"
**Environment**:
* OS name: Ubuntu
* OS version: 20.04
* Architecture: AMD64
* ntopng version/revision: 5.1.220124

**What happened**:
When trying to edit a host pool name from the list of host pool pages using the edit button under actions, the Name of the host pool is empty and cannot be changed.  However if you navigate into the host pool and then click the pencil edit next to the name it works

[2022-01-24 16:03] cardigliano commented on #6234
Fixed for sqlite in e9d79d9e1a12d63bb4fc02546a1e296e3b08cc33 (CH is working for me)

[2022-01-24 16:16] MatteoBiscosi commented on #6235
Thanks a lot for your report @mzac. The issue should now be fixed, please wait some hours, update and let me know.

[2022-01-24 16:17] mzac commented on #6235
Wow thanks for the quick fix!  I'll let you know when I pull the next release.

[2022-01-24 18:04] cardigliano commented on #6230
@sciolto could you provide /etc/netplan/*.yaml ?
This is strange as once the netplan configuration has been generated by nedge, either this is valid or not, and it should be applied after reboot. Could you check that netplan is properly configured as service in networkd?

[2022-01-24 18:40] lucaderi commented on #6234
Verified as fixed

[2022-01-24 18:40] #6234 closed, assigned to nobody

[2022-01-24 22:27] lucaderi commented on #6095
Can you please report if the current version of ntopng is working well with ClickHouse for you?

[2022-01-24 22:28] lucaderi commented on #6096
No further activity, closing ticket

[2022-01-24 22:28] #6096 closed, assigned to simonemainardi

[2022-01-24 22:30] lucaderi commented on #2587
For the time being we decided to keep 5 min polling as SNMP could be under pressure on large networks

[2022-01-24 22:30] #2587 closed, assigned to nobody

[2022-01-24 22:31] lucaderi commented on #6219
Fixed with latest changes to the Ping class (https://github.com/ntop/ntopng/commit/68a4bcfa8711e004c6adb08417b5edb1a22009a6)

[2022-01-24 22:31] #6219 closed, assigned to nobody

[2022-01-24 22:36] #6039 closed, assigned to nobody

[2022-01-24 22:36] lucaderi commented on #6075
Implemented

[2022-01-24 22:36] #6075 closed, assigned to simonemainardi

[2022-01-24 22:38] lucaderi commented on #5883
Not a priority anymore

[2022-01-24 22:38] #5883 closed, assigned to nobody

[2022-01-24 22:39] lucaderi commented on #6180
Can you please explain what are the main features of this alert manager? Please provide some examples

[2022-01-25 09:01] Paolo5466 opened #6236 "Redis SNMP VPN Data flush"
Hi
In the past I activated the SNMP data collecting from the VPN appliance, resulting in the user showing up instead of the IP addresses in the flows page.
I don't use this snmp feature anymore, but I still see cached (stale) users in the flows.

Is there a way to flush the redis entries for the vpn users and restore the standard visualization of the IP addresses?

Thanks in advance

Have a nice d

[2022-01-25 09:34] lucaderi commented on #6236
Can you please report the output of
redis-cli keys "ntopng.cache.host_labels.*"

[2022-01-25 09:38] Paolo5466 commented on #6236
Sure

  1) "ntopng.cache.host_labels.192.168.199.24"
  2) "ntopng.cache.host_labels.192.168.199.12"
  3) "ntopng.cache.host_labels.192.168.199.111"
  4) "ntopng.cache.host_labels.10.15.68.155"
  5) "ntopng.cache.host_labels.192.168.199.16"
  6) "ntopng.cache.host_labels.192.168.199.137"
  7) "ntopng.cache.host_labels.192.168.199.17"
  8) "ntopng.cache.host_labels.192.168.199.138"
  9) "ntopng.cach

[2022-01-25 11:31] Niklasr69 opened #6237 ""Flow Exporter" Filter in Historical Flow Explorer does not work"
**Environment**:
* OS name: Rocky Linux
* OS version: 8.5
* Architecture:
* ntopng version/revision: Enterprise L v.5.1.220125

**What happened**:
Filtering "Flow Exporter" has no affect in Historical Flow Explorer

**What did you expect to happen?**
When using "Flow Exporter" as filter only flows from this exporter should be display

**How did you reproduce it?**

Using "flow Exporter" filter

**

[2022-01-25 13:48] cardigliano commented on #6237
@Niklasr69 what do you mean by using Flow Exporter as filter? Could you provide an example? (a screenshot would help). Thank you.

[2022-01-25 13:57] Niklasr69 commented on #6237
Hi,
Nothing is filtered out
Flows from other exporters is still in the flow session.
If you need more detailed view I can send a screen shoot via mail direct to you.
See below:
![image](https://user-images.githubusercontent.com/26242302/150989475-f4b34ca1-71b8-470e-9753-b2d2dcfcb86f.png)

[2022-01-25 19:11] mzac commented on #6235
@MatteoBiscosi  Looks good!

[2022-01-25 19:11] #6235 closed, assigned to MatteoBiscosi

[2022-01-26 09:21] martinscheu opened #6238 "Historical flow explorer - number of packets doubled"
**Environment**:
* OS name:  Ubuntu
* OS version: 20.04.3 LTS
* Architecture:  Intel 64bit
* ntopng version/revision: ntopng Enterprise L v.5.1.220125

**What happened**:
Historical flow explorer is showing double the number of packets compared to the pcap download.
![image](https://user-images.githubusercontent.com/38549755/151135775-770df199-e6a1-47dc-b859-1cd23da6f13b.png)
[](url)

Maybe not al

[2022-01-26 09:21] martinscheu commented on #6238
[1643186432-1643186463.pcap.zip](https://github.com/ntop/ntopng/files/7940396/1643186432-1643186463.pcap.zip)

[2022-01-26 10:28] lucaderi opened #6239 "Implement per Recipient Alert Filtering"
Currently alerts are sent to recipients based on their severity. This means that is not possible to send a specific alert type to a specific recipient. This needs to be implemented

[2022-01-26 10:32] lucaderi opened #6240 "Implement per Recipient Alert Retention"
Sometimes the same alert is repeated various times. Example if host X has an expired certificate, such flow alert is emitted for all flows. This is good for storage in the database but it is not good when the alert is delivered many times to the same recipient.

This is to request the implementation of a retention policy (e.g. 1 hour) that prevents the same alert to be delivered to the same recipi

[2022-01-26 10:34] lucaderi commented on #6236
In order to flush them do
- redis-cli --scan --pattern ntopng.cache.host_labels* | xargs redis-cli del
- sudo service ntopng restart

[2022-01-26 10:34] #6236 closed, assigned to nobody

[2022-01-26 11:26] lucaderi commented on #6213
Implemented

[2022-01-26 11:26] #6213 closed, assigned to uccidibuti, MatteoBiscosi

[2022-01-26 11:34] lucaderi commented on #6224
Implemented

[2022-01-26 11:34] #6224 closed, assigned to lucaderi, MatteoBiscosi

[2022-01-26 11:34] lucaderi commented on #6228
Verified as fixed

[2022-01-26 11:34] #6228 closed, assigned to uccidibuti, MatteoBiscosi

[2022-01-26 14:33] TimotheusBachinger opened #6241 "lua/rest/v2/get/alert/type/counters.lua returns "attempt to index a nil value""
**Environment**:
* OS name: Ubuntu 16.04.7 LTS
* ntopng version/revision: v.5.1.220126 rev. 16575

**What happened**:
When calling lua/rest/v2/get/alert/type/counters.lua?ifid=2, we see:
Internal server error
attempt to index a nil value

**What did you expect to happen?**
Retrieving the counters under this ifid

**How did you reproduce it?**
By calling the REST endpoint

[2022-01-26 14:54] AnhTuanNguyenn opened #6242 "Need A Help- NTOPNG vs PFSENSE"
pfsense 2.5
ntopng 5.1

hello,
i posted here because i sent much mail to team support but i didn't receive their return,

https://github.com/ntop/ntopng/issues/6220

what happen when i use command: service ntopng start - and i go to <IP>:3000 i have a problem as tell me delete cockies

but i go with command : ntopng -F i go to web too and that work ?

thank you

[2022-01-26 16:08] lucaderi commented on #6170
Reworked alerts

[2022-01-26 16:08] #6170 closed, assigned to nobody

[2022-01-26 17:34] MatteoBiscosi commented on #6241
Hi @TimotheusBachinger it seems that you miss some argument. In my case by calling `curl -v -u admin:admin1 "http://localhost:3000/lua/rest/v2/get/alert/type/counters.lua?ifid=8"` I get all the right data

[2022-01-26 20:27] TimotheusBachinger commented on #6241
Hi Matteo,

we definitely had an ifid as query parameter in the URL. I saw it at a customer's installation, so at the moment I cannot get more information about that. But if it is no obvious error on your side, I think i need to dig deeper.

[2022-01-26 21:00] giorgiozoppi opened #6243 "Support for Modern C++ concurrency"
**What would you like to add or change?**:
Most of your concurrency in ntopng is still based wrapping pthread library.

**Why do you and others need this?**:
While the code is excellent,
this code is not portable. Since C++11 we've in the standard, it would nice to have that support also.
This will lead to code reduction.

As reference about modern concurrency : https://github.com/giorgiozoppi/cpp

[2022-01-26 21:27] giorgiozoppi opened #6244 "Remove all dead and commented code."
**What would you like to add or change?**:
Dead or commented code for example in Hosts.cpp is sign of lack of care.

**Why do you and others need this?**:
The code is important as the features you provide with.

[2022-01-26 21:38] giorgiozoppi opened #6245 "Introduce CMake build system."
**What would you like to add or change?**:
The build system is deprecated. A more complete system might be based on CMake to autoadapt the code to different platform,

**Why do you and others need this?**:
CMake is defacto standard for C++ projects.

[2022-01-26 23:00] giorgiozoppi opened #6246 "Prefer composition over inheritance."
**What would you like to add or change?**:

In Hosts.h
 class Host : public GenericHashEntry, public HostAlertableEntity, public Score, public HostChecksStatus {

Why do you want this? The good code pratice mandate to limit multiple inheritence and prefer composition.
This is  a sign of a design problem.

**Why do you and others need this?**:
This host needs to be placed somewhere, i guess in hash

[2022-01-26 23:02] giorgiozoppi opened #6247 "Introduce for ntopng a coverage system"
**What would you like to add or change?**:

The number of test in very limited, i would rather introduce google test and starting adding unit tests for limiting regressions.

**Why do you and others need this?**:
Code regressions are bad since they introuce loops and you loose time.

[2022-01-27 07:55] lucaderi commented on #6242
I have told you what to do in #6220: did you do it? If so show me all the steps as I cannot reproduce your issue after having done what instructed

[2022-01-27 08:26] AnhTuanNguyenn commented on #6242
Hello Lucas.

I have do as you told. And problem aren’t resolved.

I got error as ERR_TOO_MANY_REDIRECT same
I don’t know why.
But i start ntop without starting service ntopng by :’ ntopng -F’ that work
!

Do you have another solution?

Le jeu. 27 janv. 2022 à 08:55, Luca Deri ***@***.***> a
écrit :

[2022-01-27 08:50] lucaderi commented on #6242
-F is used to dump flows so it has nothing to do with this problem.

If this is the case the ntopng.conf file contains invalid values that you need to remove

[2022-01-27 08:54] AnhTuanNguyenn commented on #6242
i think as you, but i was started with ntopng.conf by default, you can see
picture bellow
[image: image.png]

Vào Th 5, 27 thg 1, 2022 vào lúc 09:50 Luca Deri ***@***.***>
đã viết:

[2022-01-27 08:57] AnhTuanNguyenn commented on #6242
![Capture 1](https://user-images.githubusercontent.com/24913199/151325439-92c375a7-1b6b-4e9d-8e8d-c0e56d2e37eb.PNG)

[2022-01-27 09:13] lucaderi commented on #6242
this is a part of it. Just put all you need and restart ntopng *making sure ntopng reads this file and not a different one*

[2022-01-27 09:50] lucaderi opened #6248 "Missing nDPI HREF"
![Screen Shot 2022-01-27 at 10 47 48](https://user-images.githubusercontent.com/4493366/151334347-af84a031-2d7d-4503-b21c-86ef7df97756.png)
![Screen Shot 2022-01-27 at 10 20 54](https://user-images.githubusercontent.com/4493366/151334358-d76698f1-e484-4b2a-8109-9923ed8a4079.png)

Flow flow risks in flows, alerts and historical flow explorer there should be an icon pointing to this page https://www

[2022-01-27 09:53] lucaderi opened #6249 "Missing time formatter in flow alerts"
![image](https://user-images.githubusercontent.com/4493366/151335102-603f7489-5407-4016-99b1-c52cca7cc4e1.png)

[2022-01-27 10:05] AnhTuanNguyenn commented on #6242
i check in netstat and i see
tcp4       0      0 XX.XX.XXxx.3000     82-64-135-61.sub.62920 TIME_WAIT
tcp4       0      0 xx.xx.xx.XX.3000     82-64-135-61.sub.35890 TIME_WAIT
p4       0      0 xx.xx.xx.xx.3000     82-64-135-61.sub.37027 TIME_WAIT
tcp4       0      0 xx.xx.xx.XX.3000     82-64-135-61.sub.1984  TIME_WAIT
tcp4       0      0 xx.Xx.xx.xx.6161     fra02s18-in-f4.1.443   TIME_WAIT

do

[2022-01-27 10:20] AnhTuanNguyenn commented on #6242
and in the log you can see error
`27/Jan/2022 11:05:49 [LuaEngine.cpp:595] WARNING: Script failure [/usr/local/share/ntopng/scripts/callbacks/5second/system/housekeeping.lua][...local/share/ntopng/scripts/lua/modules/plu
gins_utils.lua:668: attempt to call a nil value (global 'deleteCachePattern')]
27/Jan/2022 11:05:50 [LuaEngine.cpp:595] WARNING: Script failure [/usr/local/share/ntopng/scripts/ca

[2022-01-27 10:23] Niklasr69 commented on #5953
Any road-map for this feature?

[2022-01-27 10:25] Niklasr69 commented on #5978
Any roadmap when this feature can be impl in clickhouse?

[2022-01-27 10:35] cardigliano commented on #6248
Fixed in 5c3a838086d875e296bed519273df2c3ef15bf4f

[2022-01-27 11:41] MatteoBiscosi commented on #6241
Hi @TimotheusBachinger maybe wrong ifid, i get that error if I try to get info from an interface not existent

[2022-01-27 11:55] lucaderi commented on #6242
You do not have a license so add

--community=

in nttopng.conf

[2022-01-27 12:00] MatteoBiscosi commented on #6241
Hi @TimotheusBachinger I added a patch to control that a valid interface is given, if not the rest is going to return the invalid interface rsp.
`curl -v -u admin:admin1 "http://192.168.2.225:3000/lua/rest/v2/get/alert/type/counters.lua?ifid=1"`
`{"rc_str_hr":"Invalid interface","rc_str":"INVALID_INTERFACE","rc":-2,"rsp":[]}`
Please, wait for the next dev build and update

[2022-01-27 12:00] #6241 closed, assigned to MatteoBiscosi

[2022-01-27 12:09] MatteoBiscosi commented on #6249
Formatted using the standard time formatter
![Screenshot from 2022-01-27 13-09-06](https://user-images.githubusercontent.com/49585191/151356141-2ad3dcbb-a7ed-4ca8-8243-12184baf795f.png)

[2022-01-27 12:15] TimotheusBachinger commented on #6241
Ok thanks - will try that out on customer's side.

[2022-01-27 14:06] AnhTuanNguyenn commented on #6242
i added --community = in file ntopng.conf that not resolved pb in the picture
`
27/Jan/2022 15:10:17 [LuaEngine.cpp:595] WARNING: Script failure [/usr/local/share/ntopng/scripts/callbacks/minute-delayed/interface/local_network_checks.lua][.../ntopng/scripts/lua/mod
les/notifications/recipients.lua:649: attempt to index a nil value (local 'alert_store_db_recipient')]
27/Jan/2022 15:10:22 [LuaEngine

[2022-01-27 14:06] lucaderi opened #6250 "Invalid blog count"
![Screen Shot 2022-01-27 at 15 04 45](https://user-images.githubusercontent.com/4493366/151374317-73825727-598f-4a80-ba8a-c107c4323974.png)

Up to some time ago when clicking on a blog post this was decreasing the count (red number), whereas this now no longer works.

[2022-01-27 14:16] cardigliano commented on #6237
Fixed, a new packages will be available later today (pro 7899b85c73a24fb441edd0f66bdb5dc3f01e2499)

[2022-01-27 15:11] AnhTuanNguyenn commented on #6242
UPDATE !!!!
Applied licensed but always **err_too_many_redirect**
ps: in the log ntop
`[LuaEngine.cpp:595]WARNING: Script failure [/usr/local/share/ntopng/scripts/callbacks/minute/system/drop_host_pool.lua][.../ntopng/scripts/lua/modules/notification
s/recipients.lua:649: attempt to index a nil value (local 'alert_store_db_recipient')]`

[2022-01-27 15:58] lucaderi opened #6251 "Multiple User Login"
In nEdge when a person connects multiple times with the same device with different accounts names, there are several users connected for the same device. This is wrong as older users should be disconnected as the new user connected.

[2022-01-27 15:59] lucaderi opened #6252 "Implement User Logout"
Currently the capture portal enables people to connect, but not to disconnect. This needs to be implemented.

[2022-01-27 17:05] mattventura opened #6253 "Very high CPU overhead in a VM"
**Environment**:
* OS name: Debian (both host and guest)
* OS version: 11.2
* Architecture: amd64
* ntopng version/revision: 5.1.220126

**What happened**:

I am passing in two ixgbevf devices to a KVM guest. Everything is normal until ntop starts, including if I use other network monitoring tools such as iftop. However, when I start ntopng, the VM starts using 100-150% CPU on the host, while show

[2022-01-27 17:36] lucaderi commented on #6242
What ntopng version are you running?

[2022-01-27 17:37] lucaderi commented on #6242
This error
'alert_store_db_recipient')] 27/Jan/2022 15:11:05 [LuaEngine.cpp:595] WARNING: Script failure [/usr/local/share/ntopng/scripts/callbacks/minute-delayed/interface/local_network_checks.lua][.../ntopng/scripts/lua/mod les/notifications/recipients.lua:649: attempt to index a nil value (local 'alert_store_db_recipient')] rface/top_sites.lua:1: unexpected symbol near '<\135>'
means that --com

[2022-01-27 17:53] giorgiozoppi opened #6254 "Add support for address sanitizer code."
**What would you like to add or change?**:

In the debug version of ntopng address santiizer should be enabled.

AddressSanitizer is a fast memory error detector. It consists of a compiler instrumentation module and a run-time library. The tool can detect the following types of bugs:

- Out-of-bounds accesses to heap, stack and globals
- Use-after-free
- Use-after-return (clang flag -fsanitize-add

[2022-01-27 17:55] giorgiozoppi commented on #6245
I am just doing this. So moving from the old autoconf to the new CMake build system for enable a better testing. The old way of building will remain until we'll decide to remove it. This is WIP in the branch moderncpp_ntop

[2022-01-27 17:57] giorgiozoppi commented on #6243
This will lead to code reduction since the workpool will be no longer needed and also the windows compatibility layer for threads.

[2022-01-27 18:09] #6254 closed, assigned to nobody

[2022-01-27 18:18] AnhTuanNguyenn commented on #6242
Pfsense 2.5.2
Ntopng 5.1

I removed ntop and reinstall. That’s changed anything.

Le jeu. 27 janv. 2022 à 18:36, Luca Deri ***@***.***> a
écrit :

[2022-01-27 18:19] AnhTuanNguyenn commented on #6242
I was applying license test 7days to ntopng. So i don’t think this resolved
pb

Le jeu. 27 janv. 2022 à 18:37, Luca Deri ***@***.***> a
écrit :

[2022-01-27 20:15] giorgiozoppi opened #6255 "Remove all warning while compiling on Ubuntu"
**What would you like to add or change?**:

Below warning should be checked. A better option may be std::copy since we're compiling in c++.

In function ‘char* strncpy(char*, const char*, size_t)’,
    inlined from ‘static void Utils::readMac(char*, u_int8_t*)’ at src/Utils.cpp:2557:10:
/usr/include/x86_64-linux-gnu/bits/string_fortified.h:106:34: warning: ‘char* __builtin_strncpy(char*, const cha

[2022-01-27 20:19] giorgiozoppi commented on #6242
The discussion is confused. Please state all steps in a list to reproduce this issue.
1. Which version do you use it?
2.  Which OS are you using?
3. Please set the list of actions you did to show the problem:
     1. I have done action 1.
     2. I have done action 2.

Like a recipe. In this way we might be able to put the effort to help you.

[2022-01-27 20:34] AnhTuanNguyenn commented on #6242
I will try to explain it best to you.  currently i am using pfsense v.2.5.2
and i want to install ntop on it.

https://www.ntop.org/guides/ntopng/third_party_integrations/pfsense.html
This is the link I installed under it.

 i deleted the old version of ntop, even removed all the related folders,
everything was fine until i started ntopng with : “ ntopng service start”.
I go to <ip>:3000 and I get

[2022-01-27 21:16] giorgiozoppi opened #6256 "UI: when you click about there's wrong noising message."
![image](https://user-images.githubusercontent.com/27227826/151444862-99d8e64f-ade6-41f0-b6bf-717bfc08c2af.png)

**Environment**:
* OS name:  Ubuntu
* OS version: 20
* Architecture:  amd64
* ntopng version/revision: trunk

**What happened**:

If you put about you've this.

[2022-01-27 22:37] giorgiozoppi opened #6257 "Remove dependency on uthash."
**What would you like to add or change?**:

attic/FrequentNumericItems.h uses uthash, this is bring on board a dependency that it's not needed, since as
hash table we've in modern c++ unordered_map.
This is the only place where it's used.

**Why do you and others need this?**:
This is might be part of the code cleanup. The code to be compiled needs too many dependencies. I detected this while
i wa

[2022-01-27 23:22] giorgiozoppi commented on #5235
Would be nice if might be configured to send to a public cloud using a data lake there, so an external tool could fetch data
and do analytics, also an external app could send the alarm via twilio to the network owner if the severity is high.
i.e https://github.com/Azure/azure-sdk-for-cpp/blob/main/sdk/storage/azure-storage-files-datalake/samples/datalake_getting_started.cpp

[2022-01-27 23:32] giorgiozoppi opened #6258 "Sorting / Changing columns in the UI causes blinking"
Changing order in the column causes a refresh blinking that should be avoided in the UI.

[2022-01-28 07:29] assegid14 opened #6259 "Ntopng export to elasticsearch netflow data show zero values for IN_BYTES, IN_PKTS, OUT_BYTES and OUT_PKTS"
I have configured NtopNg to export netflow data to Elasticsearch using the following command.
 **ntopng /i ntopng -i "tcp://127.0.0.1:5556" --dump-flows “es;flows;ntopng-%Y.%m.%d;http://localhost:9200/_bulk;”**

After a moment, the flows exported to Elasticsearch and also I able to view the flows through Kibana dashboard.
However, the values of IN_BYTES, IN_PKTS, OUT_BYTES and OUT_PKTS are zero.
W

[2022-01-28 07:58] Niklasr69 commented on #6237
Tried with "ntopng Enterprise L v.5.1.220127", no change.
Maybe I need to wait for a newer?

[2022-01-28 09:21] giorgiozoppi opened #6260 "Icon missing in windows installation."
**What would you like to add or change?**:

ntopng installation process is clumsy, it's has been hard to try it at first in windows 10, also the windows icon is missing.
- The user has the perception: where is ntopng? after installing.
-  A desktop link should be placed or asked to be placed during the installation.
Maybe we might review the installer with https://wixtoolset.org
**Why do you and o

[2022-01-28 09:57] cardigliano commented on #6256
Fixed in ea7676c40aa79b972b36e747a44ca7f4396c6185

[2022-01-28 09:58] cardigliano commented on #6257
@giorgiozoppi please note that "attic" contains unused/old code

[2022-01-28 10:10] cardigliano commented on #6237
Please update again to 5.1.220128 or later to make sure it includes the fix. Otherwise please click on SQL at the bottom of the page to copy the query and paste it here. Thank you.

[2022-01-28 10:11] giorgiozoppi commented on #6257
Ok, @cardigliano. Thanks for the clarification. I exclude from my build system.

[2022-01-28 10:24] thomasbruchet opened #6261 "Unable to restart ntopng"
Hello

I've just update ntopng and Clickhouse.
Previously I was connected to Clikhouse without password and the new version asked for one so I setup one and change the option -F in ntopng.conf
-F="clickhouse;127.0.0.1@9000;ntopng;default;password"

But since this update, I can not start ntopng and according to the error message, I don't think the problem come from clickhouse.
The webpage is stuck

[2022-01-28 12:28] thomasbruchet commented on #6261
Update:
The error repeat

[code]

I've tried to start ntopng in bash to have interractive log:

[code]

[2022-01-28 13:50] sciolto commented on #6230
Hi @cardigliano, here's the only file under `/etc/netplan/`:

[code]
And here's a list of all systemd units, does this help ?
[systemctl.txt](https://github.com/ntop/ntopng/files/7959099/systemctl.txt)

[2022-01-28 14:11] cardigliano commented on #6230
@sciolto it seems the yaml configuration is not correct (please note 2 bridges entries), this has been addressed a few days ago, there are 2 options:
1. let nedge generate the configuration again, from the system page
2. manually fixing the configuration as below:

bridges:
    br0:
      addresses: [192.168.58.35/24,192.168.160.10/24]
      gateway4: 192.168.58.254
      nameservers:
        addr

[2022-01-28 14:17] Niklasr69 commented on #6237
The filter function works fine now.

[2022-01-28 14:19] lucaderi commented on #6261
The default port is 9004 and not 9000

[2022-01-28 22:51] lucaderi commented on #6250
Verified as fixed

[2022-01-28 22:51] #6250 closed, assigned to MatteoBiscosi

[2022-01-28 22:52] lucaderi commented on #6134
Verified as fixed

[2022-01-28 22:52] #6134 closed, assigned to MatteoBiscosi

[2022-01-28 22:52] #6196 closed, assigned to cardigliano

[2022-01-28 22:52] #6197 closed, assigned to cardigliano

[2022-01-28 22:57] lucaderi commented on #6248
Verified as fixed

[2022-01-28 22:57] #6248 closed, assigned to nobody

[2022-01-28 22:58] lucaderi commented on #6256
Verified as fixed

[2022-01-28 22:58] #6256 closed, assigned to nobody

[2022-01-28 22:59] lucaderi commented on #6249
Verified as fixed

[2022-01-28 22:59] #6249 closed, assigned to MatteoBiscosi

[2022-01-28 22:59] lucaderi commented on #6233
Verified as fixed

[2022-01-28 22:59] #6233 closed, assigned to MatteoBiscosi

[2022-01-28 22:59] lucaderi commented on #6237
Verified as fixed

[2022-01-28 22:59] #6237 closed, assigned to cardigliano

[2022-01-28 23:32] giorgiozoppi commented on #6205
Is it possible for you expose a OpSence VM to have access in the same network to debug actively the problem? I mean have root access to a vm  there? Maybe can depend on a particular configuration in your ISP.

[2022-01-28 23:35] #6257 closed, assigned to giorgiozoppi

[2022-01-29 06:43] martinscheu opened #6262 "Historical flow explorer data not shown"
**Environment**:
* OS name: [Ubuntu]
* OS version: [20.04.3 LTS]
* Architecture: [i386 64bit]
* ntopng version/revision: [Enterprise L v.5.1.220129]

**What happened**:
The historical flow explorer is not showing any data:
<img width="1649" alt="Screenshot 2022-01-29 at 07 27 45" src="https://user-images.githubusercontent.com/38549755/151650726-bfdd8f8d-2b1d-4537-99f3-1b6369d915d4.png">

**What di

[2022-01-29 09:10] lucaderi commented on #6253
The guest CPU load seems reasonable. What happens if you stop ntopng?

[2022-01-29 18:42] mattventura commented on #6253
Stopping ntopng drops CPU usage back to normal idle levels (<10% on guest, <15% on host).

[2022-01-29 19:57] martinscheu commented on #6262
fixed with v.5.1.220129
thanks for the quick fix!

[2022-01-29 19:57] #6262 closed, assigned to nobody

[2022-01-30 10:02] notyourcommy opened #6263 "Adding new hostpool breaks clickhouse connectivity"
Adding new hostpool breaks clickhouse connectivity and also hostpool was not created.

**Environment**:
* OS name: Centos 8 (stream)
* OS version:  Centos 8 stream
* Architecture:  amd64
* ntopng version/revision: 5.1.220130

**What happened**:
With clickhouse as backend I'm trying to add hostpool and nothing happens (I click add and window is stuck/frozen)
Then, when I go to ua/pro/db_search.lua

[2022-01-30 13:09] MatteoBiscosi commented on #6263
Hi @alexiff I'm sorry for the trouble, a new update is going to be released soon, in a couple of hours at max it should be fixed

[2022-01-30 14:32] notyourcommy commented on #6263
Thank you. I think I fixed it on our installation with "  ALTER TABLE flows add column DST_HOST_POOL_ID UInt16; "
I'm not sure if this is the correct way but still it helped.

[2022-01-31 04:17] dpetzer commented on #6192
Correct would require a GUI to manage, perhaps some states, "investigating", "authorized" or if you reject it then it will generate another alert the next time it is seen.

There could also be some configurations about removing MAC/IP combinations that are known if they are not seen for some time.
So if an item is decommissioned the users do not need to manually remove it, after some months it wil

[2022-01-31 06:01] Yoshihiro-jp opened #6264 "Failed to migrate from nIndex to Clickhouse"
**Environment**:
* OS name: [e.g. Ubuntu] Ubuntu
* OS version: [e.g. 18.04] "20.04.3 LTS (Focal Fossa)"
* Architecture: [e.g. amd64] 86_64
* ntopng version/revision: [e.g. 5.1.211223] 5.1.220127

**What happened**:
When executing the "nindex_export_to_ch.sh" I got the below errors.

ntop@ntopng:~$ sudo ./nindex_export_to_ch.sh -d /var/lib/ntopng/
・
・
～snip～

Error while exporting directory:
/var/l

[2022-01-31 06:05] Niklasr69 opened #6265 "Possibility to also use hostname when adding an "export filter" in Historical Flow Explorer"
Today a exporters hostname must be lookup to find the IP before it can be added as a filter.
To simplify/avoid it should be very good if it was possible to write hostname direct when adding the "exporter filter"

<img width="595" alt="image" src="https://user-images.githubusercontent.com/26242302/151746429-1f626d79-db8c-4965-b9e0-6b04c887a252.png">

[2022-01-31 07:49] thomasbruchet commented on #6261
If I set the port 9004, there are some error about sha256_password for MySQL
`-F="clickhouse;127.0.0.1@9004;ntopng;default;password"`

[code]

[2022-01-31 08:36] #6263 closed, assigned to MatteoBiscosi

[2022-01-31 08:41] MatteoBiscosi commented on #6264
Hi @Yoshihiro-jp that's not a problem, in fact the code still run, probably it just get an empty CSV file, the database launch a "NO DATA TO INSERT", so it receive an empty file as CSV. Don't worry, I'm gonna fix the nindex_export_to_ch just not to show the error but don't worry.

[2022-01-31 08:46] MatteoBiscosi commented on #6261
Hi @thomasbruchet, please check the ClickHouse issue https://github.com/ClickHouse/ClickHouse/issues/7248. This problem seems to be related to it, not to us; I'm going to close the ticket, reopen if the issue involves us.

[2022-01-31 08:46] #6261 closed, assigned to nobody

[2022-01-31 08:54] Yoshihiro-jp commented on #6264
Hello @MatteoBiscosi , thank you for your reply however flows haven't migrated after the completion of the "ex_export_to_ch.sh".
Kindly refer to the attached file and below stdout.

![nodata_interface_no2](https://user-images.githubusercontent.com/58843707/151764603-c29bf5d4-f49e-486a-af84-a493e038fb20.png)

root@ntopng:/var/lib/ntopng/2/flows/2022/01/17# ll
total 296
drwx------ 26 ntopng ntopng

[2022-01-31 08:59] MatteoBiscosi commented on #6238
Hi @martinscheu , no you are right, packets are doubled, i can reproduce with the pcap, I'm working on it

[2022-01-31 09:28] notyourcommy commented on #6263
@MatteoBiscosi should I open another issue regarding problem with unable to create new host pool? I'm pressing Add and nothing happens

[2022-01-31 09:34] MatteoBiscosi commented on #6242
Hi @AnhTuanNguyenn could you please check "ntopng service status" and let me know if there is some error in the console log?

[2022-01-31 10:00] sciolto commented on #6230
Thanks @cardigliano we will test the new configuration file and let you know.

[2022-01-31 10:07] AnhTuanNguyenn commented on #6242
hi @MatteoBiscosi
I'm currently debugging with your colleague, he has seen the problem and working on fixing it, I will update the information here

[2022-01-31 10:43] MatteoBiscosi commented on #6259
Hi @assegid14 please update to the latest version and let me know, in my tests i receive everything correctly (see below)
![Screenshot from 2022-01-31 11-41-20](https://user-images.githubusercontent.com/49585191/151779652-d92f507a-572e-4958-9035-2e8422714027.png)
(I'm running ntopng with `./ntopng -i tcp://127.0.0.1:5556 --dont-change-user -F "es;ntopng;ntopng-%Y.%m.%d;http://localhost:9200/_bulk;

[2022-01-31 11:12] Niklasr69 opened #6266 "When sorting after heights Thpt, 0 bit/s comes first"
**Environment**:
* OS name: Rocky Linux
* OS version: 8.5
* Architecture:
* ntopng version/revision: ntopng Enterprise L v.5.1.220128

**What happened**:
When sorting after heights bit/s in history page the 0bit/s comes first

**What did you expect to happen?**
The 0/bits should not come first.

**How did you reproduce it?**

**Debug Information**:

![image](https://user-images.githubusercontent.c

[2022-01-31 11:41] MatteoBiscosi commented on #4863
Closing for inactivity

[2022-01-31 11:41] #4863 closed, assigned to lucaderi

[2022-01-31 11:51] MatteoBiscosi commented on #6056
Implemented using 100% width rule, now depending on the `responsivePriority`, a data is going to be shown with correct space allocation

[2022-01-31 11:51] #6056 closed, assigned to MatteoBiscosi

[2022-01-31 12:05] MatteoBiscosi commented on #6266
Hi @Niklasr69 , thx for the report, a new build soon is going to be released, in a couple of hours should be available, update and let me know if the problem is fixed

[2022-01-31 14:12] notyourcommy opened #6267 "Traffic direction in ntop is broken after 5.1.220130 update"
**Environment**:
* OS name: Centos 8
* OS version: centos 8 stream
* Architecture: adm65
* ntopng version/revision: 5.1.220130

**What happened**:
After last update (5.1.220130)  we see that in lua/if_stats.lua (interface statistics) traffic direction is broken
We are using local network configuration in both nprobe and ntopng (-L in nrprobe and -m in ntopng)

Also we see that now Main: Top Local

[2022-01-31 15:22] cardigliano commented on #6252
Implemented in e14c227ebee7239b17b06a17f7cd7bd148f949b8 501f1edf2ded0c9a851b20d7e8f03aeb036bf833

[2022-01-31 15:27] MatteoBiscosi commented on #6267
Hi @alexiff I fixed the top local/remote talkers limited to 5 instead of 6 (in a couple of hours at most a new update should be available). Instead regarding the traffic direction I tested on a machine but it's working correctly in my lab, still investigating the issue.
![Screenshot from 2022-01-31 16-27-58](https://user-images.githubusercontent.com/49585191/151821891-b1951942-c203-42b0-bc0a-62021

[2022-01-31 15:32] notyourcommy commented on #6267
Additional interesting info - if I remove "-L" from nprobe config ntopng thinks that all my traffic (well, 90% of my traffic) is now Incoming
![ntop-soso](https://user-images.githubusercontent.com/56963978/151822513-021d2ced-334c-43c6-a2bf-7b1552dfaa2e.png)

[2022-01-31 15:42] MatteoBiscosi commented on #6264
Hi @Yoshihiro-jp, could you please check the presence of the flows by selecting the "All Time" preset?
![Screenshot from 2022-01-31 16-37-22](https://user-images.githubusercontent.com/49585191/151823532-86c4da18-a9de-4780-b6f1-b24ea4f3a688.png)
(maybe some time shift happened during the migration, don't worry the old nIndex data are not removed from the system).
If no data are available, could you

[2022-01-31 15:58] cardigliano commented on #6251
Logging out the current user when recalling the captive portal page (7bcf09b40a147075b8576479f3cfc68615cee8d9)

[2022-01-31 16:22] mzac opened #6268 "Errors Broken pipe"
**Environment**:
* OS name: Ubuntu
* OS version: 20.04
* Architecture: amd64
* ntopng version/revision: 5.1.220131

**What happened**:
When starting ntopng getting lots of broken pipe messages.  This was not happening last week with previous builds.  I have checked disk space and inode usage, no issues.  No other errors in dmesg or /var/log/syslog

**What did you expect to happen?**
Should not see

[2022-01-31 17:21] giorgiozoppi opened #6269 "ntopng consumes 95% cpu on Windows 10."
This needs to be investigate and planned. NtopNG on windows has this behaviour making Windows 10 unstable.

[2022-01-31 17:40] lucaderi commented on #6267
@alexiff We have reworked the wait direction work. Currenty
- if the direction is in the flow ntopng will honour it
- if the direction is not in the flow, we'll assume download remote->local host
Can you please share you configuration and how to reproduce the problem?

[2022-02-01 00:08] Yoshihiro-jp commented on #6264
Dear @MatteoBiscosi ,
Kindly refer to the attached file.
Even if I set the "All time" there are no data.

![alltime](https://user-images.githubusercontent.com/58843707/151893210-8952befa-4ffc-4a5a-84ab-934701fa9322.png)

I executed the clickhouse-client.

ntop@ntopng:~$ clickhouse-client --password default
ClickHouse client version 22.1.3.7 (official build).
Connecting to localhost:9000 as user de

[2022-02-01 08:56] MatteoBiscosi commented on #6264
Hi @Yoshihiro-jp , could you please connect to clickhouse-client and do:
`use ntopng`
`select * from flows order by FIRST_SEEN asc limit 1`
and send me the first_seen and last_seen result?
![Screenshot from 2022-02-01 09-55-41](https://user-images.githubusercontent.com/49585191/151939025-0cab8f74-1162-4659-8f92-d0d67eaebff4.png)
(to understand when it was the first record)

[2022-02-01 09:18] Niklasr69 commented on #6266
Problem solved in ntopng  v.5.1.220201

[2022-02-01 09:39] Yoshihiro-jp commented on #6264
Dear @MatteoBiscosi ,

Thank you for your comments.
Kindly refer to the attached.

![sqlresult](https://user-images.githubusercontent.com/58843707/151944630-41e596a1-d392-454d-a42c-0fe4f7aea001.png)

The current problem is about Interface ID#2. The FIRT_SEEN and LAST_SEEN are made by other Interface IDs.

Could you tell me the query to define the Interface ID#2?

Because I have some interfaces lik

[2022-02-01 09:58] MatteoBiscosi commented on #6264
Hi @Yoshihiro-jp , to filter out by interface, just use the following query
`select * from flows where INTERFACE_ID = 2 order by FIRST_SEEN asc limit 1`

[2022-02-01 10:06] MatteoBiscosi commented on #6264
If no rows can be found for the interface 2 please run the following command:
`nindex -d /var/lib/ntopng//2/flows -f /tmp/export_tmp.csv -L 0 -l 100000 -c -s "COMMUNITY_ID,DST2SRC_DSCP,DST2SRC_TCP_FLAGS,DST_ASN,DST_COUNTRY_CODE,DST_LABEL,DST_MAC,INFO,INTERFACE_ID,IPV4_DST_ADDR,IPV4_SRC_ADDR,IPV6_DST_ADDR,IPV6_SRC_ADDR,IP_DST_PORT,IP_PROTOCOL_VERSION,L7_CATEGORY,L7_PROTO,L7_PROTO_MASTER,FIRST_SEEN,

[2022-02-01 10:08] Niklasr69 opened #6270 "Not possible to download records from history page"
**Environment**:
* OS name: rocky
* OS version: 8.5
* Architecture:
* ntopng version/revision: Enterprise L v.5.1.220201
* Browser: Chrome Version 97.0.4692.71

**What happened**:
When clicking "Download records button", chrome respond with "Failed - No file"

**What did you expect to happen?**
The download should start

**How did you reproduce it?**

**Debug Information**:

![image](https://user-

[2022-02-01 10:11] MatteoBiscosi commented on #6270
Hi @Niklasr69 , please report if there is some error in `journalctl -u ntopng -e` or in the js console (right click on the page, inspect, console tab, then rerun the download and you should see a red icon showing if there is an error)

[2022-02-01 10:17] Niklasr69 commented on #6270
No errors in journalctl -u ntopng -e
No information is added to console when clicking on download button

[2022-02-01 10:18] lucaderi commented on #6253
Ok but this does not look to me like a bug but rather an inefficiency of the hypervisor as ntopng does not load the userspace but rather the kernel space for which it is not responsible. I suggest seeing if you can reproduce it by a packet capture with pfcount or tcpdump.

[2022-02-01 10:19] #6238 closed, assigned to lucaderi

[2022-02-01 10:20] MatteoBiscosi commented on #6270
Could you please open the downloaded file and check if some error is reported there?

[2022-02-01 10:21] lucaderi commented on #6268
Please attach /etc/ntopng/ntopng.conf

[2022-02-01 10:21] Niklasr69 commented on #6270
No file is created
Same issue with Microsoft edge

[2022-02-01 10:24] MatteoBiscosi commented on #6270
Please tell me the filters you are using (no need the value, just the filters selected). I'm not able to reproduce it currently, tried on firefox, chromium, edge and still working.

[2022-02-01 10:29] Niklasr69 commented on #6270
"Client IP" and "Flow exporter"

[2022-02-01 10:35] MatteoBiscosi commented on #6270
Which columns have you selected? (still not able to reproduce)
![Screenshot from 2022-02-01 11-34-17](https://user-images.githubusercontent.com/49585191/151953369-942fe24c-e7c2-48d0-b8d7-dcb3a23a9283.png)
No error even from `systemctl status ntopng`?

[2022-02-01 10:50] Niklasr69 commented on #6270
![image](https://user-images.githubusercontent.com/26242302/151955284-2446c99d-8697-4722-a7b6-16a7a1673382.png)

[2022-02-01 11:16] #6266 closed, assigned to MatteoBiscosi

[2022-02-01 11:16] MatteoBiscosi commented on #6242
Verified as Fixed

[2022-02-01 11:16] #6242 closed, assigned to nobody

[2022-02-01 11:43] assegid14 commented on #6259
Dear @MatteoBiscosi

Thank you for the response.
I configured as you suggested. But, the result is the same. No values for those attributes.

FYI. My NtopNg is = 9.7.220106
             Windows based.

[2022-02-01 12:02] MatteoBiscosi commented on #6259
Hi @assegid14 please, firstly update to the latest ntopng version, then could you please check if in the message field, the data are correct? if not, please check the data from ntopng flows page, if you are able to see in bytes, out bytes and packets correctly

[2022-02-01 12:10] notyourcommy commented on #6267
@lucaderi

What we have - 40gbit of traffic, radio is 50/50 (so 20gbit/20gbit). Traffic is exported only via sFlow.

1) No local networks - Result 35gbit incoming / 5gbit outgoing. No top local/remote talkers. Ratio is Wrong

Nprobe
-i=none
--collector-port=6343
--zmq=tcp://127.0.0.1:5556
--zmq-probe-mode
-n=none
-G=/var/run/nprobe-sflow.pid
-T="%IN_SRC_MAC %OUT_DST_MAC %INPUT_SNMP %OUTPUT_SNMP %S

[2022-02-01 12:10] alexiff commented on #6267
@MatteoBiscosi Nope, still top5

[2022-02-01 13:02] giorgiozoppi opened #6271 "Misuse of const in current code base"
You have a recurring pattern that clashes with modern compilers:
[code]
Here the second const is useless in current C++, in the branch cmake_conversion  i am trying to compile your code with C++17
for adding a test suite since you're not having any coverage.
I open the ticket and assign to myself.  This is very delicate.
Also modern compilers clash on unused variables. You've plenty of them for th

[2022-02-01 13:44] mzac commented on #6268
[code]

[2022-02-01 16:09] q2dg commented on #2509
I'm having the same error but using a real net interface and podman instead of docker:

_sudo podman container run -it --net=host -p 3000:3000 ntop/ntopng:stable --community -i enp0s3_

[2022-02-01 17:04] mattventura commented on #6253
When I do:
[code]
the CPU usage isn't too high. The tcpdump process in the guest uses about 4% CPU, and the host CPU usage is about 28%.

[2022-02-01 18:14] mzac commented on #6268
I have fixed the issue for now but not sure if this is a bug.  The directory /var/lib/ntopng/tmp/clickhouse had 74380 csv files in it.  After I cleared out this directory I am no longer getting the error.

Is it normal that there are this many csv files here?

[code]

[2022-02-02 04:23] dpetzer opened #6272 "Acknowledging one unexpected device alert updates all of them and updates user_label on all mac_alerts in Clickhouse"
**Environment**:
Ubuntu 20

* ntopng version/revision: [e.g. 5.1.211223]
ntopng Enterprise L v.5.1.220127

**What happened**:
Enabled Unexpected Device Connected check.

View alerts in GUI using severity 4 filter
[http://<ntop_ip>:3000/lua/alert_stats.lua?severity=4%3Beq&epoch_begin=1643768830&epoch_end=1643773133&page=mac#11]

View 9 alerts in table.

Retrieve clickhouse query from browser tools

[2022-02-02 05:23] dpetzer opened #6273 "Attempt to Reset Learned Devices appears to delete 0 devices"
**Environment**:
* OS name: Ubunt
* OS version: 20.04
* Architecture: amd64
* ntopng version/revision: ntopng Enterprise L v.5.1.220127 (Ubuntu 20.04.3 LTS)

**What happened**:
Configuring alerts for "Unexpected Device Connected". I want to Reset Learned Devices to trigger alerts again when they are again seen.

Navigate to the Check [http://<ntop>:3000/lua/admin/edit_configset.lua?subdir=all#enab

[2022-02-02 06:32] assegid14 commented on #6259
@MatteoBiscosi I upgraded to the latest version of NtopNg to ntopng Enterprise L v.5.1.210907.
but, the problem still exist.

[2022-02-02 08:23] Niklasr69 commented on #6270
Any more information from me to help the investigation?

[2022-02-02 10:21] MatteoBiscosi commented on #6273
Hi @dpetzer, yeah the hash changed during the time but it was not changed when resetting the devices, now it correctly works. a new build is in progress, when it's ready update and let me know if it works fine for you too

[2022-02-02 10:27] MatteoBiscosi commented on #6272
Hi @dpetzer, this is not a bug, they are not gone. You acknowledged them so now they are in the "Ack" tab, not in the "Past" tab.
Click here and you'll see them again.
![Screenshot from 2022-02-02 11-23-44](https://user-images.githubusercontent.com/49585191/152136176-18b86698-a18f-438b-afd8-ef689523b802.png)

[2022-02-02 10:33] MatteoBiscosi commented on #6270
Hi @Niklasr69, no error from both front-end and back-end, it's difficult to debug this error, because if the download fails then an error is going to be show in the back end. I tried with our testing lab (1 Gb/s in both upload and download) and still downloaded 100k+ flows without problems. Does the download works with other records? Do you have some adblock configured in the browser (sometimes it

[2022-02-02 11:28] lucaderi commented on #6267
Some clarification. When you say the ratio is wrong you mean that this chart
![Screen Shot 2022-02-02 at 11 38 29](https://user-images.githubusercontent.com/4493366/152138310-02c60668-63d7-4efe-b4fc-8eee015a0d93.png)
is accurate as total but it is wrong in terms of % up/download. Correct?

The top talkers issue was a bug that is now fixed and that will be included in the next build later today.

I

[2022-02-02 12:03] notyourcommy commented on #6267
Correct.

What I did now
1) removed -L from nprobe
2) added -m to ntopng
3) updated to ntopng
Version:        5.1.220202 [Enterprise/Professional build]
GIT rev:        dev:0da4c556e77b2de9beba27c39b2c623e219fbba5:20220202
Pro rev:        r4739
I believe that is not the build you were talking about.

At the moment result is the same - top local list ips = ips in top remote.
Almost all traffic is R

[2022-02-02 12:17] lucaderi opened #6274 "Invalid TLV error"
/Feb/2022 13:12:49 [ZMQParserInterface.cpp:1497] WARNING: Unsupported TLV key type 0: please update both ntopng and the probe to the same version
02/Feb/2022 13:12:49 [ZMQParserInterface.cpp:1497] WARNING: Unsupported TLV key type 0: please update both ntopng and the probe to the same version

the following error is reported when cento (dev) sends flows to ntopng

- ntopng -i tcp://127.0.0.1:1234c

[2022-02-02 14:51] TimotheusBachinger opened #6275 "Missing definition for l4/flow counter id == '88'"
**Environment**:
* OS name: [e.g. Ubuntu]
* OS version: [e.g. 18.04]
* Architecture: [e.g. amd64]
* ntopng version/revision: [e.g. 5.1.211223]

**What happened**:
When getting flow counters via /get/flow/l4/counters.lua, we receive an ID of **88** but we do not find a human readable correspondence under /get/l4/protocol/consts.lua
In the UI, this is also visible:
![image](https://user-images.githu

[2022-02-02 14:57] MatteoBiscosi commented on #6275
Hi @TimotheusBachinger, pleas update to the latest ntopng version. How did you reproduce it? Probably the one you are getting is not the l4/counters but the l7, in fact `88 RDP                    TCP      Acceptable   RemoteAccess`

[2022-02-02 15:05] Niklasr69 commented on #6270
I have found the reason.
The ntop part is missing before lua/pro..... in the url request
Faulty URL:
https://io.internal.domain.com/lua/pro/rest/v2/get/host/flows/download_flow_records.lua?ts_schema=host%3Atraffic&ifid=173&epoch_end=1643813762&query_preset=&version=4&ts_query=ifid%3A173&epoch_begin=1643811962&detail_view=flows&length=200&visible_columns=flow%2Cl4proto%2Cl7proto%2Cscore%2Cbytes%2Ct

[2022-02-02 15:15] MatteoBiscosi commented on #6270
Thx @Niklasr69 , finally found the problem, thanks a lot, i pushed a fix! In the next build it should be fixed.

[2022-02-02 15:24] mzac opened #6276 "Add active flows for host pools"
**What would you like to add or change?**:
Would it be possible to add 'active flows' into the historical data for host pools?  This would be similar to how it is shown in the interface statistics.  The data collected should also be stored in influxdb.

![image](https://user-images.githubusercontent.com/10270879/152183376-de16e9be-9d92-448b-9987-985a7db6d0fb.png)

**Why do you and others need this

[2022-02-02 15:52] TimotheusBachinger commented on #6275
Hi Matteo,

I used the calll /lua/rest/v2/get/flow/l4/counters.lua?ifid=4 and received:
![image](https://user-images.githubusercontent.com/57113191/152188694-467b087c-06c8-4ae2-b656-2fb7916a32e3.png)

So we were working with the l4 counters...

[2022-02-02 19:50] notyourcommy commented on #6267
Just updated ntop. Now top local/remote talkers/destinations are showing correct ips. Thank you.
Last thing is traffic direction being identified as all RX )

[2022-02-02 21:30] dpetzer commented on #6272
I see, I would have expected the button in red to only acknowledge the alert for the MAC address ending in 93:5E.
I would have expected the button highlighted in blue to acknowledge all of them.

![Screen Shot 2022-02-03 at 8 22 22 am](https://user-images.githubusercontent.com/8804266/152240417-cb6a0757-2c31-4057-88aa-bee692e03dce.png)

[2022-02-02 21:52] dpetzer commented on #6273
Thanks Matteo,
The code you have updated is the function where the alert is stored.

I will add some comments on the commit about needing to clean up where they were maybe duplicates being stored.

[2022-02-03 07:41] Yoshihiro-jp commented on #6264
Dear @MatteoBiscosi ,

Thank you for your advice. I would check some data for verification.
I would tell you after finishing it.

regards,
Yoshihiro

[2022-02-03 07:54] Niklasr69 commented on #6270
Problem solved in v.5.3.220203
Issue can be closed

[2022-02-03 08:28] Yoshihiro-jp commented on #6264
Dear @MatteoBiscosi ,

I used the "-s 1640962800 " option to check the last flow data in the "/var/lib/ntopng/2/flows".
The "1640962800" is from the 2022/01/01".

$sudo nindex -d /var/lib/ntopng//2/flows -f /tmp/export_tmp.csv -s 1640962800 -c -s "COMMUNITY_ID,DST2SRC_DSCP,DST2SRC_TCP_FLAGS,DST_ASN,DST_COUNTRY_CODE,DST_LABEL,DST_MAC,INFO,INTERFACE_ID,IPV4_DST_ADDR,IPV4_SRC_ADDR,IPV6_DST_ADDR,IPV6_

[2022-02-03 09:01] MatteoBiscosi commented on #6272
Hi @dpetzer, yes the red button acknowledge one of them and the blue button all the ones in the time frame selected and with the filters selected. But after acknowledging them they are going to disappear from the past tab and appear in the ack tab

[2022-02-03 09:01] #6272 closed, assigned to MatteoBiscosi

[2022-02-03 09:06] #6270 closed, assigned to nobody

[2022-02-03 09:16] MatteoBiscosi commented on #6264
Hi @Yoshihiro-jp, the other data were exported correctly, just the ones from the interface 2 were not exported, probably due to some problem. Don't execute again "ex_export_to_ch.sh" because it's going to export all the data again (risking on creating duplicates).
To try to solve the problem export the data manually in the following way:

`sudo nindex -d /var/lib/ntopng//2/flows -f /tmp/export_tmp

[2022-02-03 16:53] MatteoBiscosi commented on #6275
Hi @TimotheusBachinger i tried reproducing it but it seems everything works fine in my case, and l4 proto with id 88 it seems it does not exists in both ntopng and nDPI. Could you please send me a pcap with a traffic with that l4 proto? drop an email at `biscosi at ntop.org`

[2022-02-03 17:18] MatteoBiscosi commented on #6273
Hi @dpetzer , with the last commit I removed some no more useful code and now the alert seems working well and no unused code is stored in redis

[2022-02-03 17:18] #6273 closed, assigned to MatteoBiscosi

[2022-02-03 17:33] giorgiozoppi commented on #6247
Added gtest branch and googletest git ubmodule.
 https://github.com/ntop/ntopng/pull/new/gtest

[2022-02-03 17:57] cardigliano commented on #6274
Fixed (boolean and lists are not supported by ntopng in TLV format)

[2022-02-03 18:11] lucaderi opened #6277 "Report TZ to HTTP Client"
This to request to report the ntopng timezone to the HTTP client

[2022-02-04 08:39] Niklasr69 opened #6278 "Traffic report per "flow exporter""
**What would you like to add or change?**:

Possible to create a traffic report per "flow exporter"

**Why do you and others need this?**:

When having +100 exporters, is necessary to filter out a specific exporter, otherwise the report will not contribute anything

[2022-02-04 09:59] dpetzer commented on #6273
I had a look, I am not familiar with this project or lua or redis but I can see that it looks like all the pieces are there now.

[2022-02-04 10:42] dpetzer commented on #6272
It seems to me like the red button is acknowledging all of them. But I expected it to do what you said, "acknowledge one of them", only that one should move to the ack tab, the others should stay. But they all move to the ack tab.

I captured the POST with wire shark when I click the red button. I can see the JSON data being sent. Looks like the row-id is set to all zeros?

![Screen Shot 2022-02-0

[2022-02-04 11:48] olmanolsztyn opened #6279 "Historical Data - Missing Raw Flows"
**Environment**:
* OS name: FreeBSD
* OS version: 12.2
* Architecture: amd64
* ntopng version/revision: ntopng Enterprise M v.5.1.220103

**What happened**:
Raw Flows is missing in Historical Data
![obraz](https://user-images.githubusercontent.com/22956491/152523907-3aa0ddd4-9a22-4520-9321-aee569d0db7d.png)
![obraz](https://user-images.githubusercontent.com/22956491/152533051-91aba4f2-08cc-4df8-bb

[2022-02-04 12:29] #6277 closed, assigned to lucaderi, uccidibuti

[2022-02-04 13:01] olmanolsztyn opened #6280 "ERROR: Missing required field 'alert_key'"
**Environment**:
   * OS name: FreeBSD
   * OS version: 12.2
   * Architecture: amd64
   * ntopng version/revision: ntopng Enterprise M v.5.1.220103

**What happened**:
Got many error "04/Feb/2022 13:58:45 [data.lua:10] [alert_consts.lua:411] ERROR: Missing required field 'alert_key' in alert_network_discovery_executed from /usr/local/share/ntopng/scripts/lua/modules/alert_definitions/other"

**Wh

[2022-02-04 15:45] TimotheusBachinger commented on #6275
Hi Matteo,

unfortunately my customer cannot create a pcap on that system but here again the confirmation that it was the l4 proto:
![image](https://user-images.githubusercontent.com/57113191/152558704-a8947330-d355-44d2-b986-b2805b67786b.png)

[2022-02-05 17:50] lucaderi commented on #6279
They have been moved to clickhouse

[2022-02-05 17:51] lucaderi commented on #6280
I beige we have fixed this bug in the recent 5.3. Please update and report

[2022-02-07 07:22] olmanolsztyn commented on #6279
Does in 5.1 version is mandatory to migrate to clickhouse?

[2022-02-07 08:37] MatteoBiscosi commented on #6275
Hi @TimotheusBachinger yeah, the problem is there, but we have no mapping for l4 protocol 88, I took a look at the code and the l4 proto is taken from the packets, so with no pcap to reproduce we cannot understand which protocol does it use.

[2022-02-07 08:42] MatteoBiscosi commented on #6275
Hi @TimotheusBachinger we switched to ntopng 5.3 (dev) or ntopng 5.2 (stable), so please update to one of those two versions

[2022-02-07 08:47] TimotheusBachinger commented on #6275
Hi @MatteoBiscosi ,

ok - got it. maybe my customer has a possibility in the future to capture it. for now we implement a workaround in our integration.
Will close the issue then.

Thanks for the clarification!
Timi

[2022-02-07 08:49] MatteoBiscosi commented on #6279
Hi @olmanolsztyn, yes we removed the support from nIndex, so please move to ClickHouse (it has both better space management and better performances)

[2022-02-07 08:49] #6279 closed, assigned to nobody

[2022-02-07 13:36] olmanolsztyn commented on #6280
update fixed an issue.

[2022-02-07 13:36] #6280 closed, assigned to nobody

[2022-02-07 16:21] Taralas opened #6284 "LUA errors in Log for 5-minute rollup"
**Environment**:
* OS name: FreeBSD/OPNsense
* OS version: 12.1-RELEASE-p21-HBSD
* Architecture: amd64
* ntopng version/revision: 5.3.220207 [Enterprise/Professional build]
* Configuration file:
-i=igb0
-i=igb1
-w=0
-W=3000
-n=1
--community
-d=/var/db/ntopng-enterprise

**What happened**:
Generated the following log errors on a 5 minute cycle:
07/Feb/2022 09:55:00 [LuaEngine.cpp:562] WARNING: Scri

[2022-02-07 16:23] lucaderi commented on #6284
- Please change it to "--community="
- what is the configuration file path ?

[2022-02-07 16:24] Taralas commented on #6284
Changed to --community= with the same result. Configuration is generated via the OPNsense UI integration based on the pkg.
Configuration is located at  /usr/local/etc/ntopng.conf

[2022-02-07 16:25] lucaderi commented on #6284
the config file is in /usr/local/etc/ntopng/ntopng.conf

[2022-02-07 16:26] Taralas commented on #6284
There is a generated version that is called by the service config integration at the above location. There is also a default located at /usr/local/etc/ntopng/ntopng.conf but it is not used.

[2022-02-07 16:27] Taralas commented on #6284
Followed the instructions at[ this location](https://www.ntop.org/guides/ntopng/third_party_integrations/opnsense.html#opnsenseintegration)

[2022-02-07 16:32] Taralas commented on #6284
Also seems like an error is being generated daily:
`01/Feb/2022 22:00:17 [LuaEngine.cpp:595] WARNING: Script failure [/usr/local/share/ntopng/scripts/callbacks/5second/system/network_discovery.lua][attempt to ]`

This looks similar to the errors reported for pfSense, #5929

[2022-02-07 16:35] #6284 closed, assigned to nobody

[2022-02-07 16:36] lucaderi commented on #6284
It should be fixed. Please wait 1 hour and update the packages. I will close the ticket: please reopen it if necessary

[2022-02-07 19:58] Taralas commented on #6284
Doesn't look like the packages ever flowed to the repo. Also, this problem seems to be in more than just the 5-minute roll-up. So far, the hourly is affected.

[2022-02-07 20:06] Taralas opened #6285 "Multiple script issues with metrics roll-ups"
**Environment**:
* OS name: FreeBSD/OPNsense
* OS version: 12.1-RELEASE-p21-HBSD
* Architecture: amd64
* ntopng version/revision: 5.3.220207 [Enterprise/Professional build]
* Configuration file:
-i=igb0
-i=igb1
-w=0
-W=3000
-n=1
--community
-d=/var/db/ntopng-enterprise

**What happened**:
Please reference #6284. Problem was marked closed with no change in reported behavior.

Generated the followin

[2022-02-07 23:15] lucaderi opened #6286 "Warning are reported when demo expires"
When demo expires some "pro" files are no longer readable, and some annoying messages are displayed.

07/Feb/2022 12:30:00 [LuaEngine.cpp:562] WARNING: Script failure [C:\Program Files\ntopng\pro\scripts\callbacks/5minute/system/snmp_polling.lua][...ng\pro\scripts\callbacks/5minute/system/snmp_polling.lua:1: unexpected symbol near '<\135>']
07/Feb/2022 12:30:00 [LuaEngine.cpp:562] WARNING: Script

[2022-02-08 01:52] Yoshihiro-jp commented on #6264
Dear @MatteoBiscosi ,

I followed above commands and then I got the error below:

I think that the format of exported CSV is something wrong.
Could you check below errors?

～～～
Code: 27. DB::ParsingException: Cannot parse input: expected '|' before: '0|25438|0\n1:zjOcLuumbdDBM8P9daRWDAhIH+0=|0|0|0|0||0||2|323225
8863|3232259392|::|::|161|4|14|14|0|1640735950|2||17|10|0|0|0|0|0|109|0\n1:N0/FVUoFlU1

[2022-02-08 02:37] Yoshihiro-jp opened #6287 ""Flow Drilldown" doesn't work after the migration to the Clickhouse"
**Environment**:
* OS name: [e.g. Ubuntu] Ubuntu
* OS version: [e.g. 18.04] 20.04.3 LTS
* Architecture: [e.g. amd64] x86_64
* ntopng version/revision: [e.g. 5.1.211223] 5.3.220207

**What happened**:
After migrating from the nIndex to the Clickhouse  the button of "Flow Drilldown" doesn't work.
![flowdrilldown_problem](https://user-images.githubusercontent.com/58843707/152907185-11c0e4ec-086c-4484

[2022-02-08 08:12] lucaderi commented on #6285
I have just tested on opnsense after the update and everything works as instructed. I believe you have not updated the package as requested. As of the errors above, they are here because you have not started ntopng in community mode. Please check if you config file looks like

root@opnsense:~ # cat /usr/local/etc/ntopng/ntopng.conf
-i=igb1
-m=192.168.3.0/24
-i=tcp://*:5556c
--zmq-publish-events=tc

[2022-02-08 08:12] #6285 closed, assigned to nobody

[2022-02-08 08:13] lucaderi commented on #6285
The above warnings are already referenced in https://github.com/ntop/ntopng/issues/6286

[2022-02-08 08:14] MatteoBiscosi commented on #6264
Hi yoshiro, could you please send me your exported file (/tmp/export_tmp.csv)? Drop an email at `biscosi at ntop.org`, in this way I'll be able to directly try to parse it and solve the issue.

[2022-02-08 08:54] giorgiozoppi opened #6289 "Reduce build time."
**What would you like to add or change?**:

The build time is very time consuming especially because some times you need to recompile all the third parties modules. We might:
- modularize in library to be built just once the build time
-  introduce a package manager such as conan or vcpkg  and a central repository in the cloud to download just ntop packages.

**Why do you and others need this?**:

[2022-02-08 09:01] lucaderi opened #6290 "Implemenent MAC Addresses on View Interfaces"
View interfaces do not support MAC addresses even if they are present in the original interfaces. This needs to be implemented.

it can be reproduced with ntopng -i ethX -i view:all

[2022-02-08 09:11] #6286 closed, assigned to nobody

[2022-02-08 09:51] lucaderi opened #6291 "Missing Interface Name from No Activity Alert"
![Screenshot 2022-02-08 at 10 50 33](https://user-images.githubusercontent.com/4493366/152962124-5e149d5e-4193-41f4-bd39-bc082ea57618.png)

[2022-02-08 13:00] Taralas commented on #6285
After updating to the nightly build, 5.3.220208, the problem is still occurring. Please reopen and address.

[2022-02-08 13:37] MatteoBiscosi commented on #6291
Fixed as requested
![Screenshot from 2022-02-08 14-37-16](https://user-images.githubusercontent.com/49585191/152998141-29455b17-50f3-400c-95aa-dfff7bf37573.png)

[2022-02-08 16:26] mamema opened #6292 "[Docker] Buffer overflow detected (latest/dev)"
* OS name: Host Debian 10 buster
* ntopng running via offical docker image from ntop (always updated - watchtower)
* Docker 20.10.12
* Architecture: Intel 64bit
* ntopng version/revision: ntopng x86_64 v.5.2.220203

My maintainance time was running out (don't know if it is related) so i discovered, that ntopng isn't reachable via web interface.

During start time of the docker container the log sh

[2022-02-08 19:14] gilinuxIT opened #6293 "MINING "NOT" DETECTED"
I just found two miners on a customers network. NTOPNG  did "not" flag this traffic as being mining traffic. The only reason it caught my attention was because the destination traffic going to China. Can you please flag this IP as mining traffic?
![20220208_102820](https://user-images.githubusercontent.com/54428336/153058928-d69d1ef7-e14e-4c2d-8386-bfa528b410f3.jpg)
![20220208_102825](https://user

[2022-02-09 04:50] mikulov opened #6294 "Allow download of PCAP in Historical Flows Explorer (using the actual time interval and filters)"
Hello.

1. I've selected specific host by IP. We can see "First / Last Seen" and "Traffic Sent / Received":

![image](https://user-images.githubusercontent.com/26163961/153121960-04251e99-2b44-41fb-a1a2-d313e0e185b7.png)

2. When I press on icon "Historical Data" on the same host i've selected recently - and set filter for last week - i have no data at all, where i can see the actual sent/rcvd usa

[2022-02-09 05:00] mikulov opened #6295 "Possible memory leak on dev (Debian 10)"
Here is the screenshot of the memory usage stats for last two weeks. Major upgrade was done a week ago. When it's comes close to memory limits, ntop begin to lag and got restarted. Please advice how to stabilize it.

![image](https://user-images.githubusercontent.com/26163961/153124621-0629b724-7710-43bf-b2f6-db1aba5a06e1.png)

[2022-02-09 05:18] mikulov opened #6296 "Is that possible to record and download traffic (pcap) within a range from "now" and 10 minutes ahead using API?"
And please, how can I add specific host to it, using bpf_filter?
Can I use the same live_extraction.lua or for future traffic recording it's another script?

`lua/rest/get/pcap/live_extraction.lua?ifid=1&epoch_begin=1643729695&epoch_end=1643731495`

Thank you in advance.

[2022-02-09 09:20] MatteoBiscosi commented on #6295
Hi @mikulov please share the output of your ntopng --version  (including OS, platform ecc.) we'll build a debugging version of ntopng and send it to you

[2022-02-09 09:21] MatteoBiscosi commented on #6294
Hi @mikulov could you please try to reduce the window of the timeseries to a close date seen from the historical flow explorer?

[2022-02-09 09:24] cardigliano commented on #6292
Are you running our docker image from dockerhub? Could you provide the command line?

[2022-02-09 09:43] mikulov commented on #6295
Thank you for your feedback

ntopng Enterprise L v.5.3.220209 rev.16798 (Ubuntu 18.04.6 LTS)
Debian buster/sid [x86_64][Ubuntu 18.04.6 LTS] - 64 bit

[2022-02-09 09:55] mikulov commented on #6294
If I understand you right, you asked to reduce the time range. Here instead of 1 week - 1 day:

**Historical Flow Explorer**

![image](https://user-images.githubusercontent.com/26163961/153171614-a2fc7a99-fb94-470f-9923-c91090b912a1.png)

**Historical Data**

![image](https://user-images.githubusercontent.com/26163961/153172227-4bb9e13b-9161-4d4d-b4cf-58bcbaaf5324.png)

[2022-02-09 09:58] mikulov commented on #6294
And this is a configuration file, may be there is an issue:

[code]

[2022-02-09 10:04] sciolto commented on #6230
Hi @cardigliano updating to the latest version fixed the issue, thanks !

[2022-02-09 10:04] #6230 closed, assigned to cardigliano

[2022-02-09 10:06] mamema commented on #6292
yes official ntopng image
see compose file:
_____
version: "3"
services:
  ntopng:
    cap_add:
      - AUDIT_WRITE
      - CHOWN
      - DAC_OVERRIDE
      - FOWNER
      - FSETID
      - KILL
      - MKNOD
      - NET_BIND_SERVICE
      - NET_RAW
      - SETFCAP
      - SETGID
      - SETPCAP
      - SETUID
      - SYS_CHROOT
    cap_drop:
      - AUDIT_CONTROL
      - BLOCK_SUSPEND
      - DAC_

[2022-02-09 10:12] cardigliano commented on #6296
PCAP traffic is recorded on disk and available after a few minutes. Only data which is already on disk can be extracted. Thus in order to download traffic for the next 10 minutes, you should wait 10+ minutes and extract the traffic.

[2022-02-09 10:12] #6296 closed, assigned to nobody

[2022-02-09 10:13] cardigliano commented on #6295
@mikulov I will provide you a binary with leak detection enabled.

[2022-02-09 10:16] cardigliano commented on #6294
If I understand correctly, what you need is the ability to download a PCAP with traffic matching the selected time interval and the selected filter. This is not available, but it looks like a useful feature.

[2022-02-09 10:54] MatteoBiscosi commented on #6287
Hi @Yoshihiro-jp a new build soon is going to be released with the right behavior, now when clicking the flow drilldown, you are going to be redirected to the ClickHouse page

[2022-02-09 11:34] lucaderi commented on #6293
We do not detect dogecoin traffic in nDPI as we have no pcap trace. Please attach or send me via email (deri at ntop.org) a trace I can use for development.

[2022-02-09 14:01] cardigliano commented on #6292
Ok so you are running ntopng 5.2 stable

[2022-02-09 14:11] mikulov commented on #6294
Thank you for answer, Alfredo.

Well, we actually first thing - want to get such graphic instead of empty screen with error "no results found", when they are present (you can see screenshots above). And here an example of what we want to see (we had it before upgrading):

![image](https://user-images.githubusercontent.com/26163961/153210740-b1620cdc-0c19-48fc-b907-521ba0abf292.png)

And the second

[2022-02-09 14:18] Taralas commented on #6285
After updating to the new nightly build, 5.3.220209, with https://github.com/ntop/ntopng/commit/de1c807f996be1810e5dcefb2c1ef7da8e78e558 included to fix, no change. Please reopen to address.

[2022-02-09 14:44] cardigliano commented on #6295
I sent you a link with the binary

[2022-02-09 14:46] mamema commented on #6292
no, look at the compose file, i'm running image: ntop/ntopng:latest
latest is hours old...stable is 9 months

[2022-02-09 15:42] mamema commented on #6292
after buying maintainance and creating license file according the provided instructions, ntopng is running again.
So indeed, it was the no longer valid maintainance and/or invalid license file.
even though the logs are telling "no valid license.... falling back to community version". The container is running into a buffer overflow error.

[2022-02-09 16:44] lucaderi opened #6297 "Checks script errors"
When going to add DHCP, DNS, and other services as part of the setup (page is /lua/admin/edit_configset.lua?subdir=flow&search_script=unexpected#disabled) getting the following errors:

![image](https://user-images.githubusercontent.com/4493366/153247966-bfba028e-ff5b-40f1-ad9f-cf14ef813542.png)

You can reproduce it with the community edition

[2022-02-09 18:34] MatteoBiscosi commented on #6290
Implemented as requested, now mac address is shown on both host and flows info
![Screenshot from 2022-02-09 19-33-10](https://user-images.githubusercontent.com/49585191/153266978-6e405dac-8fce-4c11-bae4-9dd7cc95809e.png)
![Screenshot from 2022-02-09 19-33-53](https://user-images.githubusercontent.com/49585191/153266984-4915fd2b-d38f-48a8-b8d9-f8268737ade2.png)

[2022-02-09 19:09] gilinuxIT commented on #6293
The mining rig was taken offline, not able to do PCAP. If I come across another one I will run a PCAP and send it your way.  Thank you.

[2022-02-10 01:43] Yoshihiro-jp commented on #6264
Dear @MatteoBiscosi,

I just update this thread for other users.

The nIndex data for the Interface 2 seems corrupted, take the below data,

COMMUNITY_ID,DST2SRC_DSCP,DST2SRC_TCP_FLAGS,DST_ASN,DST_COUNTRY_CODE,DST_LABEL,DST_MAC,INFO,INTERFACE_ID,IPV4_DST_ADDR,IPV4_SRC_ADDR,IPV6_DST_ADDR,IPV6_SRC_ADDR,IP_DST_PORT,
IP_PROTOCOL_VERSION,L7_CATEGORY,L7_PROTO,L7_PROTO_MASTER,FIRST_SEEN,LAST_SEEN,PACKETS

[2022-02-10 02:43] Yoshihiro-jp commented on #6287
Dear @MatteoBiscosi

I confirmed that it was fixed with below version.

Version:        5.3.220209 [Enterprise/Professional build]
GIT rev:        dev:d54fb4b3f09a886c97540d638a3450abafaaae5e:20220209
Pro rev:        r4750

Thank you very much.

regards,
Yoshihiro

[2022-02-10 07:55] Niklasr69 opened #6299 "Top Clients/Servers with filter per exporter device and interface in Historical Flow Explorer page"
**What would you like to add or change?**:
The possibility to add exporter and interface filters when choosing Top Client/Server in the Historical Flow Explorer page.

**Why do you and others need this?**:
In order to easily find top talkers for a particular exporter, it is necessary to be able to filter out.
Top talkers for the whole network are not so interesting when you have large networks.

[2022-02-11 11:11] MatteoBiscosi commented on #6231
Fixed with f1e8091928e7384f9a09c305edb365edff35df7c 57a85de50e574198050295e7880778d2c52b880c f7db2e1974ca9aa29a2f94c9c013fe3f745c7700

[2022-02-11 11:12] MatteoBiscosi commented on #6297
Fixed with 57a85de50e574198050295e7880778d2c52b880c

[2022-02-11 11:57] cardigliano opened #6300 "Move action buttons in Historical Flows in a standard place"
Historical Flows page has a few buttons at the bottom of the page including "Get Permanent Link" and the other actions

<img width="478" alt="Screen Shot 2022-02-11 at 12 53 20" src="https://user-images.githubusercontent.com/7548711/153587048-976c08fa-44a2-43a3-9286-537aeadcba2c.png">

It is requested to follow the standard and move them at the  to the top-right of the page, as small icons, as imp

[2022-02-11 12:00] cardigliano opened #6301 "Use the same range picker component in all pages"
The Interface -> Historical chart and other pages are using an old-style range picker component. It is requested to use the same component implemented for the Historical Flows and Alerts page

<img width="1140" alt="Screen Shot 2022-02-11 at 13 00 14" src="https://user-images.githubusercontent.com/7548711/153587896-85c1e403-cc70-4123-a2f0-25d4ee81ee81.png">

[2022-02-11 15:45] Taralas opened #6302 "Script Error on Startup: epoch_begin"
**Environment**:
* OS name: OPNsense/FreeBSD
* OS version: 21.10.3
* Architecture: amd64
* ntopng version/revision: 5.3.220210 [Enterprise/Professional build]

**What happened**:
On start of ntopng, following is recorded in ntopng.log:
[code]

**What did you expect to happen?**
Would not expect errors on normal startup

**How did you reproduce it?**
Fresh install of ntopng from pkg repo, with foll

[2022-02-11 15:48] Taralas opened #6303 "Script Error: blog_utils.lua attempt to call a nil value (field 'empty')"
**Environment**:
* OS name: OPNsense/FreeBSD
* OS version: 21.10.3
* Architecture: amd64
* ntopng version/revision: 5.3.220210 [Enterprise/Professional build]

**What happened**:
At local midnight, following is recorded in ntopng.log:
[code]

**What did you expect to happen?**
Would not expect errors on normal midnight rollover

**How did you reproduce it?**
Fresh install of ntopng from pkg repo,

[2022-02-11 15:49] Taralas commented on #6303
Also checked with 5.3.220211, same result.

[2022-02-11 15:51] MatteoBiscosi commented on #6302
Hi @Taralas, you don't have to put the = after the `--community` option.
Other than that, do you open the web gui, navigate somewhere or does it just pop up when you start ntopng?

[2022-02-11 15:51] Taralas commented on #6302
Also tried with 5.3.220211 with same result.

[2022-02-11 15:53] Taralas commented on #6302
Check the Discord conversation from lucaderi:

***@***.***

That is now generated via the UI, per his request. Pull for that was incorporated Monday, I believe.

On the error, that is being logged to /var/db/ntopng-enterprise/ntopng.log

[2022-02-11 16:05] MatteoBiscosi commented on #6303
Hi @Taralas the problem should be fixed now, please let me know.

[2022-02-11 16:08] #6293 closed, assigned to nobody

[2022-02-11 16:14] MatteoBiscosi commented on #6302
Hi @Taralas yes, but from where does it appear, I mean, does it appear after clicking Alert? or Interface? How can I reproduce it?

[2022-02-11 16:17] Taralas commented on #6302
Login to the console, or via ssh.

tail -f /var/db/ntopng-enterprise/ntopng.log

Restart ntopng.

[2022-02-11 19:04] Taralas commented on #6303
Will check once the nightly build is released. Thank you for taking a look at this!

[2022-02-12 10:44] giorgiozoppi opened #6304 "Remove dynamic_cast"
RTTI allows a programmer to query the C++ class of an object at run-time. This is done by use of typeid or dynamic_cast.

The standard alternatives to RTTI (described below) require modification or redesign of the class hierarchy in question. Sometimes such modifications are infeasible or undesirable, particularly in widely-used or mature code.

RTTI can be useful in some unit tests. For example,

[2022-02-12 10:52] giorgiozoppi opened #6305 "Command line preference unit_test"
**What would you like to add or change?**:

We would like to have a set of unit tests for the Prefs.cpp due to recent suspect bugs in command parsing.

**Why do you and others need this?**:

The code of prefs is long with a lot of options some of those might be not validated correctly. We might want to know if some values are correct or not.

[2022-02-13 08:23] mikulov commented on #6294
@cardigliano

I don't see the data on that graph, and I am not sure it's a feature request...

![image](https://user-images.githubusercontent.com/26163961/153745078-128a05a3-79b7-4e99-83f9-86c4e1025815.png)

[2022-02-14 07:37] notyourcommy opened #6307 "Historical data aggregation (1W) is broken"
**Environment**:
* OS name: Centos 8 Stream
* ntopng version/revision:
Version:        5.3.220209 [Enterprise/Professional build]
GIT rev:        dev:3485160133149ae4d6559d2a3cc544513e4224e5:20220209

Historical data for 1 week is broken on all hosts. This time it just missing some of the days all of a sudden.

![ntop-1m](https://user-images.githubusercontent.com/56963978/153820113-e2a1203d-b0c0-4

[2022-02-14 09:34] MatteoBiscosi commented on #6302
Hi @Taralas unfortunately i was not able to reproduce your behavior. However I added a security check (it was missing) to fix the date. In a few hours a new build should be available, please update and let me know if it still persists.

[2022-02-14 09:35] MatteoBiscosi commented on #6307
Hi @alexiff I'm not able to reproduce this behavior; could you please try to reduce the time frame from 1 month to 2 weeks and check if the problem still persists? (just to understand where it could be the problem)

[2022-02-14 09:40] cardigliano commented on #6294
live_traffic.lua captures traffic from the interface directly, this should be used to get a small pcap from the live traffic on the interface.

live_extraction.lua extracts traffic from the recorded pcaps, this can be used with a time interval (epoch_begin/epoch_end parameters) and a BPF filter (bpf_filter parameter) like "host 10.0.0.1"

[2022-02-14 09:43] cardigliano commented on #6294
It may take a while (few minutes) to get charts for an host if you just started ntopng, otherwise there is some issue

[2022-02-14 10:22] lucaderi commented on #6297
Verified as fixed

[2022-02-14 10:22] #6297 closed, assigned to MatteoBiscosi

[2022-02-14 10:22] lucaderi commented on #6274
Verified as fixed

[2022-02-14 10:22] #6274 closed, assigned to cardigliano

[2022-02-14 10:26] lucaderi opened #6308 "Add ClickHouse support on unsupported platforms"
ClickHouse is not available everywhere (e.g. rPI) or it does not make sense to run a DB on a diskless (or with limited storage) such as a OPNsense/pfSense box.

This is to request the implementation of a work-around to make this possible.

[2022-02-14 11:18] notyourcommy commented on #6307
Updated to :
Version:        5.3.220214 [Enterprise/Professional build]
GIT rev:        dev:b7d97b73d3fc19d8bb8533eaa0d795f3fa85779d:20220214

Now every every historical graph tells me " The query is taking a long time to complete " and now showing any data.

Dropped all data ( Delete interface data) - btw, influx database was not dropped bye this action (bug?)
Dropped influx data with "drop datab

[2022-02-14 15:24] cardigliano commented on #6296
As of the filter, that endpoint accepts a time interval (epoch_begin/epoch_end parameters) and a BPF filter (bpf_filter parameter), to filter for a specific host bpf_filter should be set to something like "host 10.0.0.1"

[2022-02-14 15:47] lucaderi opened #6309 "Implement Alert Info"
Same as the Historical Flow Explorer, this is to request to implement a "Info" page where alert information is displayed

[2022-02-14 16:04] MatteoBiscosi commented on #6307
we already know about that issue and it's already fixed in the last release

[2022-02-14 16:10] notyourcommy commented on #6307
Ok, since I dropped all data I believe I need a 2-3 days to collect it again and report back with results (regarding week charts)

[2022-02-14 16:46] cardigliano commented on #6309
Please note that there is already an Info page for Flow alerts

[2022-02-14 17:02] Taralas opened #6310 "Script Issues: getCurrentScriptsDir"
**Environment**:
* OS name: FreeBSD/OPNsense
* OS version: 12.1-RELEASE-p21-HBSD
* Architecture: amd64
* ntopng version/revision: 5.3.220214 [Enterprise/Professional build]
* Configuration file:
-i=igb0
-i=igb1
-w=0
-W=3000
-n=1
--community=
-d=/var/db/ntopng-enterprise

**What happened**:
Generated the following log errors on a 1 second cycle:
[code]

**What did you expect to happen?**
Not produc

[2022-02-14 17:08] Taralas commented on #6310
Looks like it was related to the update this morning. If I restart the process manually, it seems to fix it.

[2022-02-14 19:25] Taralas commented on #6302
Looks good. Please feel free to close the ticket.

[2022-02-14 20:56] lucaderi opened #6311 "Missing HTTP URL from Alerts"
![image](https://user-images.githubusercontent.com/4493366/153945019-3b10e5a9-6555-48de-a805-37e9d96aab87.png)
In the case of alerts based on HTTP, the URL should be reported. For TLS, the SNI should be reported.

[2022-02-15 02:52] Pro-pra opened #6312 "Fail build version 5.2"
I build with gcc and build fail with messages:

[2022-02-15 04:00] Pro-pra commented on #6312
may be this string for Pro version?

[2022-02-15 08:55] MatteoBiscosi commented on #6312
Hi @Pro-pra, if you update the issue is already resolved

[2022-02-15 09:11] gianlucapiccolo opened #6313 "ntopng installation fails on RHEL8 with mariadb for mysql dependency"
**Environment**:
* OS name: RHEL
* OS version: 8
* ntopng version/revision: 5.2.220211.220211-15958

**What happened**:
I installed mariadb then I installed ntopng and I received a dependency error.

**What did you expect to happen?**
I expect that ntopng can be installed on RHEL 8 with mysql or mariadb, as it was on CentOS 7.

**How did you reproduce it?**
On a RHEL 8 environment:
1. install epel

[2022-02-15 10:02] fastfire opened #6314 "Alert not visible for http basic auth flow"
**Environment**:
* OS name: Ubuntu
* OS version: 20.04
* Architecture: amd64
* ntopng version/revision: 5.2.220211-16846

**What happened**:
We tried a simulation of access to an http basic authentication. The flow is visible from the NTOP interface. The "Clear-Text Credentials" check is active without any exception. No alert has been generated regarding this action.

**What did you expect to happ

[2022-02-15 10:25] AnhTuanNguyenn opened #6315 "Divers: About NTOPNG and Clickhouse"
Hi, This is not report bug about ntopng, but i hope you can answer my question,

 I was install Ntopng M Entreprise and I would connect to Clickhouse on another VM for stocks logs but I should **create database ‘ntopng’ on server machine before connected** or I just connect ntopng to clickhouse server with command bellow and it do automatic then:
./ntopng -F="clickhouse;10.x.x.x;ntopng;default;myp

[2022-02-15 10:59] AnhTuanNguyenn commented on #6315
Update:
Answered via email, thank you,
testing now ...

[2022-02-15 11:04] #6315 closed, assigned to nobody

[2022-02-15 12:35] martinscheu commented on #6314
the pcap:
[93.230.52.168.pcap.zip](https://github.com/ntop/ntopng/files/8069069/93.230.52.168.pcap.zip)
it works on my test VM, Version, [ntopng Community v.5.3.220215 (Ubuntu 20.04.3 LTS)]
<img width="1597" alt="Screenshot 2022-02-15 at 10 48 46" src="https://user-images.githubusercontent.com/38549755/154063037-0dfa870a-dcdc-4e5d-a41c-a9ea705bf227.png">
<img width="1588" alt="Screenshot 2022-02-1

[2022-02-15 13:43] #6313 closed, assigned to lucaderi

[2022-02-15 13:44] lucaderi commented on #6291
Thank you

[2022-02-15 14:06] lucaderi opened #6316 "[Range Picker Component] Filters are not sticky"
Inside a host clicking on the blue button
![Screen Shot 2022-02-15 at 14 59 36](https://user-images.githubusercontent.com/4493366/154077536-fc091dfb-17f2-4e51-80c9-91c566b3d77e.png)
ntopng jumps to (that's correct)
![image](https://user-images.githubusercontent.com/4493366/154077612-5bab2e85-5001-4147-bec3-759937cc9d2b.png)
that can be used to investigate for instance who has talked with this host

[2022-02-15 17:47] #6310 closed, assigned to MatteoBiscosi

[2022-02-15 20:19] MirekVlach opened #6317 "Graphs - The query is taking a long time to complete"
Raspbian GNU/Linux 10 (buster)
ntopng armv7l v.5.3.220213

Unable to display any graphs now.

![image](https://user-images.githubusercontent.com/99751855/154140509-336c41ec-00c4-43ea-99fb-8e4eb10735db.png)

Following error is shown in the console

![image](https://user-images.githubusercontent.com/99751855/154140331-e693207c-a092-442b-bd2e-95d1c674e76b.png)

Please advise

[2022-02-16 08:41] MatteoBiscosi commented on #6317
Hi @MirekVlach this issue was fixed with the 220214 version, please update and let me know

[2022-02-16 09:23] cardigliano opened #6319 "Edit sub-interface / disaggregation BPF filters"
BPF filters for custom disaggregation cannot be edited at the moment, the interface should be deleted and created again, loosing the data. It is required to add an Edit button.

[2022-02-16 13:49] thomasbruchet opened #6320 "Increase of usage memory to 100%"
Hello,

I would like to report a problem with memory usage since my last update on January 28. I could not update the system until March because I have a degree exam and I need ntopng to work even in case of error.

Version	ntopng Enterprise M v.5.1.220128 rev.16608 (Debian GNU/Linux 10 (buster)) |
Platform	Debian 10.8 [x86_64][Debian GNU/Linux 10 (buster)] - 64 bit

There was a previous restart o

[2022-02-16 14:46] abbradar opened #6321 "Owner-writable permissions are expected for `/share` directory"
**Environment**:
* OS name: NixOS
* OS version: Unstable
* Architecture: amd64
* ntopng version/revision: 5.2.1

**What happened**:
Ntopng crashes during startup with this error log (two out-of-place lines are my added `printf`s, will be explained later):
[code]

Looking at [`Ntop.cpp:345`](https://github.com/ntop/ntopng/blob/3bf9ac9e147e9384eea110f75c4c0808fc723c02/src/Ntop.cpp#L345), `prefs->dat

[2022-02-16 17:19] lucaderi opened #6322 "Invalid counters with view interfaces"
This is what I see with with a standard ethernet interface (e.g. -i eth1)
![Screen Shot 2022-02-16 at 18 17 14](https://user-images.githubusercontent.com/4493366/154320095-877d9251-143f-4ae7-9dba-a9b29f02d6b1.png)
This is what I see on the same interface with the view interface (e.g. -i eth1 -i view:all)
![Screen Shot 2022-02-16 at 18 16 57](https://user-images.githubusercontent.com/4493366/154320

[2022-02-16 17:23] #6321 closed, assigned to nobody

[2022-02-16 17:23] lucaderi commented on #6321
Thank you !

[2022-02-16 17:24] lucaderi commented on #6320
This looks a problem similar to #6295

[2022-02-16 17:31] lucaderi opened #6323 "Invalid score alert reported"
This is what the host reports
![image](https://user-images.githubusercontent.com/4493366/154321837-dca86221-82e2-4947-98c4-470e435bed10.png)
and this is the alert
![image](https://user-images.githubusercontent.com/4493366/154321969-d1d57ba6-14cc-47ae-ad02-25b0ca66d59c.png)

As you can see the client score is way higher than the server score, but the alert is generated due to the client score.

[2022-02-16 22:20] lucaderi opened #6324 "Alert filters are not working"
![Screen Shot 2022-02-16 at 23 18 54](https://user-images.githubusercontent.com/4493366/154366979-f12463a5-848b-45c8-aee8-52acca3a056e.png)

This bug has been reproduced with ClickHouse that produced this SQL query

 SELECT 4 entity_id, (toUnixTimestamp(tstamp_end) - toUnixTimestamp(tstamp)) duration, * FROM `flow_alerts` WHERE ( alert_status = 0 ) AND (tstamp >= 1645048173 AND tstamp <= 164504997

[2022-02-16 22:22] lucaderi opened #6325 "Empty User Agent in Alerts"
![Screen Shot 2022-02-16 at 23 21 05](https://user-images.githubusercontent.com/4493366/154367242-50260968-ace1-4bd4-8270-37c9d0aea0b0.png)

When ntopng collect flows from nProbe the user agent is not exported and thus it is empty. This can be interpreted as a bug. Better to add a string that explains the issue, or modify nProbe to export it

[2022-02-16 22:48] #6325 closed, assigned to lucaderi, MatteoBiscosi

[2022-02-17 05:05] ryota2425-murakami opened #6326 "Refresh interval of the graph"
I am trying to monitor traffic, but I am having trouble seeing it only about every 5 minutes.
Is there a way to monitor and visualize the flow at a high frequency?
Thanks again for your help.

![image](https://user-images.githubusercontent.com/29476187/154408976-6ed3a561-02cb-4c11-9eb4-56c49cc98f3b.png)

[2022-02-17 05:23] Yoshihiro-jp commented on #6264
Dear @MatteoBiscosi ,

I followed your suggestion(omit some fields to export) then it is succeeded to import finally!

#nindex -d /var/lib/ntopng//2/flows -f /tmp/export_tmp.csv -c -s "COMMUNITY_ID,DST_LABEL,DST_MAC,INTERFACE_ID,IPV4_DST_ADDR,IPV4_SRC_ADDR,IPV6_DST_ADDR,IPV6_SRC_ADDR,IP_DST_PORT,IP_PROTOCOL_VERSION,L7_CATEGORY,L7_PROTO,L7_PROTO_MASTER,FIRST_SEEN,LAST_SEEN,PACKETS,PROTOCOL,SRC_MAC,

[2022-02-17 07:50] thomasbruchet commented on #6320
Hello.
I will follow the resolution of this incident.
Thank you.

[2022-02-17 09:42] MatteoBiscosi commented on #6317
Verified as Fixed

[2022-02-17 09:42] #6317 closed, assigned to nobody

[2022-02-17 09:42] MatteoBiscosi commented on #6312
Verified as Fixed

[2022-02-17 09:42] #6312 closed, assigned to nobody

[2022-02-17 09:42] MatteoBiscosi commented on #6303
Verified as Fixed

[2022-02-17 09:42] #6303 closed, assigned to nobody

[2022-02-17 09:43] MatteoBiscosi commented on #6302
Verified as Fixed

[2022-02-17 09:43] #6302 closed, assigned to MatteoBiscosi

[2022-02-17 09:43] MatteoBiscosi commented on #6291
Verified as Fixed

[2022-02-17 09:43] #6291 closed, assigned to MatteoBiscosi

[2022-02-17 09:43] #6290 closed, assigned to MatteoBiscosi

[2022-02-17 09:44] MatteoBiscosi commented on #6287
Verified as Fixed

[2022-02-17 09:44] #6287 closed, assigned to MatteoBiscosi

[2022-02-17 09:44] MatteoBiscosi commented on #6264
Glad to here it Yoshihiro!

[2022-02-17 09:44] #6264 closed, assigned to nobody

[2022-02-17 10:04] cardigliano commented on #6324
@uccidibuti I was able to reproduce this by adding 2 filters with the same field (then removing one), I thnk this will be fixed as soon as you fix the "multiple fields" case

[2022-02-17 10:58] valyala commented on #5449
@tiny6996 , the next release of VictoriaMetrics will return the `X-Ifnluxdb-Version` response headers - see https://github.com/VictoriaMetrics/VictoriaMetrics/commit/71ef3155c8733a5b8b4560af80fb557a1b64a71a .

[2022-02-17 11:39] cardigliano commented on #6324
The double l7_proto filter in SQL has been fixed in d527b8834788bcc328001c6f545aff970d7c4de0

[2022-02-17 15:21] lucaderi commented on #6323
After checks we have verified that this alert is correct

[2022-02-17 15:21] #6323 closed, assigned to MatteoBiscosi

[2022-02-17 19:59] lucaderi opened #6327 "Implement portscan detector check"
Implement portscan detection alert. Use https://github.com/markofu/pcaps/blob/master/PracticalPacketAnalysis/ppa-capture-files/portscan.pcap as example

[2022-02-17 20:05] lucaderi opened #6328 "Implement netscan detector check"
Same as #6327 for network scan. The enclosed pcap can be used for development
[netscan-80.pcap.zip](https://github.com/ntop/ntopng/files/8091853/netscan-80.pcap.zip)
.

[2022-02-18 00:29] Pro-pra commented on #6312
thank you

[2022-02-18 03:52] kerrymilestone opened #6329 "Clickhouse Database Missing Flow Table"
**Environment**:
* OS name: Ubuntu
* OS version: Focal LTS 20.04.3 (current)
* Architecture: amd64
* ntopng version/revision: ntopng Enterprise M v.5.2.220217

**What happened**:
I see
` [ClickHouseImport.cpp:91] WARNING Received exception from server (version 22.1.3): Code: 60. DB::Exception: Received from 127.0.0.1:9000. DB::Exception: Table ntopng.flows doesn't exist.`

for most things.

**What

[2022-02-18 05:02] atemix opened #6330 "Non-admin users authetificated through RADIUS can't access Historical Flow Explorer"
**Environment**:
* OS name: CentOS Linux release
* OS version: 8.5.2111
* Architecture: amd64
* ntopng version/revision: ntopng Enterprise L v.5.2.220215

**What happened**:
Non-admin users authetificated through RADIUS can't access Historical Flow Explorer, no this item in the menu.
Bul internal non-admin users created inside ntopng can access it.

**What did you expect to happen?**
Non-admin use

[2022-02-18 07:20] lucaderi commented on #6330
Can you please report how your radius non-admin users are configured?

[2022-02-18 08:25] atemix commented on #6330
Hi, Luca

Radius users configured through Cisco ISE

ISE policy for ntopng
![image](https://user-images.githubusercontent.com/67421019/154645953-ac2d581e-7768-46c1-b1d6-da3abc37fc64.png)

User profile
![image](https://user-images.githubusercontent.com/67421019/154646221-0d72af53-0966-46bc-a28e-5d33336d82b6.png)

Admin profile
![image](https://user-images.githubusercontent.com/67421019/154646155-18

[2022-02-18 09:14] MatteoBiscosi commented on #6330
Hi @atemix currently non-admin users cannot access historical flow explorer, only admins can. This was a wanted situation, in fact users are going to manipulate data on the database and we decided to just add the possibility to check this data by admins in order to avoid non-wanted situations.

[2022-02-18 09:16] MatteoBiscosi commented on #6329
Hi @kerrymilestone could you please share your ntopng --version output?

[2022-02-18 09:27] atemix commented on #6330
But why non-admin local users can access historical flow eplorer?
Second screenshot in first message.

Non-admin local user and authenticated through raduis non-admin user are not equal?

[2022-02-18 09:38] MatteoBiscosi commented on #6330
@atemix Could you please tell me how you configured your non-admin user? I tried right now to configure a non admin user and it cannot access historical flow explorer page

[2022-02-18 09:43] atemix commented on #6330
@MatteoBiscosi Just created non priviledged user.

![image](https://user-images.githubusercontent.com/67421019/154657493-4ddbe978-3272-406e-a2fc-51db563b132b.png)
![image](https://user-images.githubusercontent.com/67421019/154657794-30e323a3-759c-4e6f-8e38-9f3c8f411c75.png)

[2022-02-18 11:39] lucaderi opened #6331 "Broken/Unpleasant Flow Layout"
![Screen Shot 2022-02-18 at 12 38 25](https://user-images.githubusercontent.com/4493366/154675746-439e5a59-70de-4b3e-87bd-abea566e093d.png)
![Screen Shot 2022-02-18 at 12 38 13](https://user-images.githubusercontent.com/4493366/154675795-0d28e822-9d3c-48d8-b0e4-6e219cc0f9f8.png)

[2022-02-18 11:41] #6329 closed, assigned to lucaderi

[2022-02-18 17:35] mhawkins-consultant opened #6333 "Login page changes format and then can't login"
**Environment**:
* OS name: [Fedora]
* OS version: [31]
* Architecture: [x86_64]
* ntopng version/revision: [5.2.1]

Why am I presented with a "texty" (perhaps CSS-less) version of the login screen and I can't login either? Only way I could get away from the "texty" page was to recompile nDPI and ntopng.

History
I installed and configured the prerequisites.
I created an ntopng user and home direc

[2022-02-18 23:09] giorgiozoppi commented on #6289
We will postpone this.

[2022-02-18 23:10] #6289 closed, assigned to nobody

[2022-02-18 23:10] #6271 closed, assigned to giorgiozoppi

[2022-02-18 23:11] #6246 closed, assigned to nobody

[2022-02-18 23:11] #6244 closed, assigned to nobody

[2022-02-20 08:59] lucaderi opened #6334 "Active Monitoring Category Missing"
Please add a new alert category for active monitoring and check if some other categories are missing. The goal is to define granular alert categories whose name is meaningful

[2022-02-21 08:23] Yoshihiro-jp opened #6335 "No flows table in Clickhouse-server"
**Environment**:
* OS name: [e.g. Ubuntu] "Ubuntu 20.04.4 LTS"
* OS version: [e.g. 18.04] 20.04.4 LTS
* Architecture: [e.g. amd64] x86_64
* ntopng version/revision: [e.g. 5.1.211223] 5.2.220217 r4743

**What happened**:
I did install the ntopng Enterprise L bundle license today.（NFR  License)
Then the ntong.flows table is not created in the clickhouse-server.

[Actual table status]
ntopng :) use n

[2022-02-21 09:05] notyourcommy commented on #6307
I'm back. So 2 pictures - month and week. As you can see week is constructed out of per day avg (and it should be constructed out of 30m avg or something like this) .p.s. Per month stats are 1h avg.
![new-ntop-1m](https://user-images.githubusercontent.com/56963978/154921447-30cd501d-36ec-4d3a-9f2c-10fa35f797de.png)
![new-ntop-1w](https://user-images.githubusercontent.com/56963978/154921453-41eb770

[2022-02-21 11:10] lucaderi opened #6336 "Rework LocalHostStats"
The LocalHostStats class implementation is sub optimal
- countries information is not used at all
- struct ndpi_hll (C type) and Cardinality (the C++ equivalent) are used: propose to replace the former with the latter
 - HLL delta values are meaningless

[2022-02-21 11:12] rnalrd commented on #6312
Sorry for the dumb question: is there a fix not yet released? I don't see any commit relevant to this problem and I still have the same problem.

[2022-02-21 12:07] MatteoBiscosi commented on #6335
Hi @Yoshihiro-jp could you please tell me your ntopng --version and send me ntopng.conf? (if you don't want to share your ntopng configuration, please send it at `biscosi at ntop.org`)

[2022-02-21 12:10] MatteoBiscosi commented on #6333
Hi @mhawkins-consultant , I already have a suspect, could you please right click ntopng page and click inspect? then go to the console tab and send me the errors/warnings there?
![Screenshot from 2022-02-21 13-09-25](https://user-images.githubusercontent.com/49585191/154952676-72a56961-1620-48b4-95a3-919a67fdeba3.png)

[2022-02-21 12:12] MatteoBiscosi commented on #6330
Hi @atemix, try to update now. I added a check and now non admin users shouldn't access clickhouse, please let me know if everything works fine

[2022-02-21 12:59] Yoshihiro-jp commented on #6335
Dear @MatteoBiscosi ,
Thank you for your reply.
Sure I attached the ntopng.conf.
[ntopng_conf.zip](https://github.com/ntop/ntopng/files/8109308/ntopng_conf.zip)

then the version information is below.

root@ntopng:/home/ntop# ntopng --version
Version:        5.2.220217 [Enterprise/Professional build]
GIT rev:        5.2-stable:8f30466104df73e33587748fdc70f89db025f7e6:20220217
Pro rev:        r4743

[2022-02-21 13:40] AlessioPaternoster opened #6337 "ECS fields mapping"
**Environment**:
* OS name: Ubuntu
* OS version: 20.04.3 LTS
* Architecture: x86_64
* ntopng version/revision: v.5.2.220215 rev.16878
* ELK version: 7.15.0

**What happened**:
As a security team, we are trying to map ntopng alerts into Elasticsearch to be compliant to ECS schema.
Currently, only a small subset of ntopng alerts fields are in ECS format. Examples are `source.ip`, `network.protocol`,

[2022-02-21 16:35] mhawkins-consultant commented on #6333
Hi Matteo,

I will most certainly try to provide to you what you have asked for but I have actually run into another issue. If you want me to open a new issue for it, I will certainly do that.

After recompiling ntopng many times (I estimate about 10-20 times), I ran 'make' in /opt/ntopng, and I am now seeing the following:

/usr/bin/ld: cannot find -lm
collect2: error: ld returned 1 exit status
m

[2022-02-21 23:13] lucaderi opened #6338 "Alert download limited to 1000 Records"
Contrary to flows, it is currently not possible to download more than 1000 alerts. This needs to be fixed and implemented as the flow download.

[2022-02-21 23:17] lucaderi opened #6339 "Wrong Alert Default Sort"
The default for all tables (unless a preference is set, or the page remembers the last setting) is to list entries from the newest to the oldest. This is in order to see the last records first. This is not the case for alerts.
![Screen Shot 2022-02-22 at 00 15 15](https://user-images.githubusercontent.com/4493366/155037010-ad47fb27-c53a-4680-80f4-ffabfeda3b49.png)

[2022-02-21 23:19] lucaderi opened #6340 "Poor Alert Formatting"
![image](https://user-images.githubusercontent.com/4493366/155037204-ece4eafa-6b12-4cc4-ae48-beedd0a0fcfc.png)

In the alert info page there are two entries that are not properly handled. Furthermore, empty lines must be avoided instead of representing them with empty lines.

[2022-02-22 01:23] pwchi commented on #6335
I have same issue.
Newly install the ntopng and useing clickhouse have problem.
If migration from nIndex is fine.

[code]

[code]

[code]

[code]

[2022-02-22 05:03] atemix commented on #6330
@MatteoBiscosi Is it possible to add configurable parameter to preferences in menu or config file to allow users access to historical flow explorer? In our case we need users can access hoistorical flows by themselves.

[2022-02-22 07:41] lucaderi commented on #6337
@AlessioPaternoster Can you please advise how such field names should be named, and what are the fields to rename?

[2022-02-22 09:30] martinscheu opened #6341 "Category Lists add ThreatFox IOCs"
**What would you like to add or change?**:
Hello ntop Team
If you please could add the abuse.ch ThreatFox IOCs.
API
https://threatfox.abuse.ch/api/

**Why do you and others need this?**:
ThreatFox shares indicators of compromise (IOCs) associated with malware, which brings further malware detection. IOCs can be IP addresses, file names, download paths. E.g.
hXXp://95.216.181.231/softokn3.dll
hXXp:

[2022-02-22 09:33] AlessioPaternoster commented on #6337
Hi @lucaderi. Thank you for taking in charge this issue.

Currently we are using the ECS schema version 1.12 (https://www.elastic.co/guide/en/ecs/1.12/ecs-field-reference.html). All fields should be renamed as described in the documentation above. There could be some ntopng fields which not have the corresponding ECS fields but they can be added to the Elastic event following the guidelines descri

[2022-02-22 11:41] MatteoBiscosi commented on #6335
Hi, I was able to reproduce the issue, thanks a lot for your report, we are already working on it

[2022-02-22 11:58] lucaderi commented on #6335
Issue fixed in ddceccdaaf2a8b22b30a692bad2e55aa80167fc3. New packages will be available within a couple of hours. Thanks for reporting it.

[2022-02-22 11:58] #6335 closed, assigned to MatteoBiscosi

[2022-02-22 11:58] lucaderi commented on #6338
Implemented

[2022-02-22 11:58] #6338 closed, assigned to lucaderi

[2022-02-22 12:00] lucaderi commented on #6334
Verified as fixed

[2022-02-22 12:00] #6334 closed, assigned to MatteoBiscosi

[2022-02-22 12:25] MatteoBiscosi commented on #6340
Implemented as requested, removed the empty lines. The only ones that could be empty are the 'Other Issues' row and 'Protocol Info' row

[2022-02-22 12:34] MatteoBiscosi commented on #6225
duplicate of #6301

[2022-02-22 12:34] #6225 closed, assigned to MatteoBiscosi

[2022-02-22 20:24] valyala commented on #5449
VictoriaMetrics returns `X-influxdb-Version: 1.8.0` header from `/write` and `/influx/write` APIs starting from [v1.73.1](https://github.com/VictoriaMetrics/VictoriaMetrics/releases).

[2022-02-23 06:45] Yoshihiro-jp commented on #6335
Dear @lucaderi and @MatteoBiscosi ,

Thank you I found that the stable version was fixed but the nightly build one is not yet.
I hope that it would be fixed too.

ntopng :) show tables

SHOW TABLES

Query id: 6d997f77-2ffc-42f4-8a60-05c241637a63

lqnameqqqqqqqqqqqqqqqqqqqqqk
x active_monitoring_alerts x
x all_alerts               x
x flow_alerts              x
x host_alerts              x
x interf

[2022-02-23 12:33] lucaderi opened #6342 "Invalid VLAN Filtering"
![Screen Shot 2022-02-23 at 13 25 16](https://user-images.githubusercontent.com/4493366/155319954-80b1c1ef-523d-47ce-a751-0b6f2d00b148.png)

From the host page, clicking on the drill-down icon, leads to the historical flow explorer that does not seem to handle VLAN tags nicely with no records returned.

[2022-02-23 12:39] lucaderi opened #6343 "Interface Disaggregation Leads To Thread Number Explosion"
![Screen Shot 2022-02-23 at 13 22 26](https://user-images.githubusercontent.com/4493366/155320587-6579af36-f801-499c-93af-40ac5f71e0e1.png)

With dynamic traffic/interface disaggregations (the same as standard interface definition) the number of threads is out of control and too many resources are used. This needs to be mitigated.

[2022-02-23 13:36] Guymtrx opened #6344 "Buffer overflow detected"
OS : Ubuntu 20.04.3
ntopng running via offical docker image from ntop:stable
Docker 20.10.11
Architecture: Intel 64bit

During start time of the docker container the log shows:

Starting redis-server: redis-server.
23/Feb/2022 13:33:12 [Prefs.cpp:1139] ntopng will use redis 127.0.0.1@0
23/Feb/2022 13:33:12 [Ntop.cpp:2347] Setting local networks to 127.0.0.0/8,fe80::/10
23/Feb/2022 13:33:12 [Redis.

[2022-02-23 13:37] lucaderi commented on #6344
How did you exactly start (command line options) ntopng?

[2022-02-23 13:43] lucaderi opened #6345 "Invalid DNS Alerts"
![image](https://user-images.githubusercontent.com/4493366/155330934-e1226ed0-a1b2-4ecc-a2ae-15b2e23695fc.png)
This alert has several issues
- Not sure what is the return code for DNS
- The flow direction is reverted
- Query type 0 looks wrong
- There is no indication of number of packets or bytes
- Clicking on the protocol it leads to the flow page with no DNS filter set

[2022-02-23 13:45] Guymtrx commented on #6344
with docker-compose.yml:
 ntop:
    container_name: ntop
    image: ntop/ntopng:stable
    command: -d /var/lib/ntopng -i cvd-wbr -n 1 -r 127.0.0.1:6379@0 -w 0.0.0.0:3000 -F nindex "mysql;127.0.0.1;db;;user;password"

    volumes:
      - ./data/ntopng:/var/lib/ntopng
      - ./data/ntopng.license:/etc/ntopng.license:ro
      - ./data/n2disk.license:/etc/n2disk.license:ro
    network_mode: host

[2022-02-23 14:01] lucaderi commented on #6340
Verified as fixed

[2022-02-23 14:01] #6340 closed, assigned to MatteoBiscosi

[2022-02-24 09:45] atemix opened #6347 "Manual control for limits used by n2disk traffic recording controlled by ntopng"
Hello, it it possible to add manual control for limits used by n2disk traffic recording which controlled by ntopng?
75% is very big limit, expecially for systems with a lot of space.
16Tb system for ntopng, only 12Tb allowed for traffic recording, but ntopng by itself doesn't need 4Tb...

![image](https://user-images.githubusercontent.com/67421019/155499440-d9ab3044-e491-41ae-b403-51240e71e026.png

[2022-02-24 10:12] cardigliano commented on #6347
@atemix please note that n2disk also builds an index requiring some space, it can be 10+ % at the worst case, which is not accounted in the disk space you configure, that's why we leave 20% of free space

[2022-02-24 12:47] atemix commented on #6347
@cardigliano I think its okay for small systems, but the more we have space for dumps, the more space will be unused in this case. Maybe differentiated limits?

[2022-02-24 14:22] cardigliano commented on #6347
@atemix please note the space used by the index is in percentage, regardless of the "absolute" disk size. We can relax the limit, but that may lead to filling the disk, blocking traffic recording as a consequence.

[2022-02-24 14:52] MatteoBiscosi commented on #6337
Hi @AlessioPaternoster updated ECS format for both dev and stable version, it follows the ECS 8.0 standard, changed the message field with the formatted message that should appear in ntopng recipients.
Added DNS, TLS and HTTP protocol fields with the proper mapping.
Thanks a lot for your pointers
![Screenshot from 2022-02-24 15-50-19](https://user-images.githubusercontent.com/49585191/155547737-19

[2022-02-24 14:52] #6337 closed, assigned to MatteoBiscosi

[2022-02-25 09:04] cardigliano opened #6348 "[Range Picker Component] Sort dropdown items by label"
![Screen_Shot_2022-02-25_at_09 31 51](https://user-images.githubusercontent.com/7548711/155686724-689d942b-6c89-49d5-87d5-1a25e1c99201.png)

[2022-02-25 09:05] cardigliano opened #6349 "[Range Picker Component] Highlight button for the active tab"
<img width="277" alt="Screen_Shot_2022-02-25_at_10 00 22" src="https://user-images.githubusercontent.com/7548711/155686828-d33ee695-60b1-4188-9e0d-4c7695f4c521.png">

[2022-02-25 09:07] cardigliano commented on #6320
Closing as duplicate of #6295

[2022-02-25 09:07] #6320 closed, assigned to cardigliano

[2022-02-25 09:11] cardigliano opened #6350 "[Range Picker Component] CSS for select2 dropdown is broken"
<img width="841" alt="Screen Shot 2022-02-25 at 10 09 19" src="https://user-images.githubusercontent.com/7548711/155687673-774e79b2-6677-4363-8f9d-a075e0b55d34.png">

[2022-02-25 09:31] cardigliano opened #6351 "[Range Picker Component] Analysis selection dropdown is broken"
<img width="446" alt="Screen Shot 2022-02-25 at 10 31 09" src="https://user-images.githubusercontent.com/7548711/155690980-cbf7e436-c581-4016-9605-ad34def197c5.png">

[2022-02-25 09:53] kewp commented on #818
Hi I'm on a mac and no idea how to remove this. I don't think I built it manually. Not sure how it was installed (it's not in brew). Any help on doing this manually?

[2022-02-25 10:05] kewp commented on #818
Hmm I found a script in my Downloads folder `ntopng-uninstall.sh` that seems to have worked

[2022-02-25 10:25] atemix commented on #6347
@cardigliano Maybe allow admins to control this percentage and did not force it?

[2022-02-27 02:00] thevrownguy commented on #5025
I can confirm this issue. Is there a way to have other options for speedtesting?

[2022-02-27 17:50] lucaderi opened #6352 "Extend ClickHouse Support"
Platforms such as Windows, or PI OS do not feature native ClickHouse support (unless a container or similar is used). This is to request to implement support in a simpler way.

[2022-02-28 09:09] #6349 closed, assigned to uccidibuti

[2022-02-28 09:32] cardigliano commented on #6351
Fixed

[2022-02-28 09:32] #6351 closed, assigned to uccidibuti

[2022-02-28 09:42] cardigliano commented on #6348
Fixed

[2022-02-28 09:42] #6348 closed, assigned to uccidibuti

[2022-02-28 10:35] MatteoBiscosi commented on #6350
Added bootstrap5 style to the dropdown
![Screenshot from 2022-02-28 11-34-53](https://user-images.githubusercontent.com/49585191/155968356-f840a396-3abf-450c-9ac4-11531716f7a1.png)

[2022-02-28 10:35] #6350 closed, assigned to MatteoBiscosi

[2022-02-28 20:02] notyourcommy commented on #6307
Values in 1M graph also become 1d avg. What is happening ?
![1mbroken](https://user-images.githubusercontent.com/56963978/156050584-e42fdbdf-052f-48aa-98c5-6eebb3af2cb3.png)

[2022-03-01 16:38] #6324 closed, assigned to cardigliano, uccidibuti

[2022-03-01 16:42] #6339 closed, assigned to uccidibuti

[2022-03-02 00:49] martinscheu opened #6353 "Actions drop down not fully visible"
**What happened**:
In Alert list or Historical flow list when having few items, e.g. one item only, the Actions drop down is not visible:

<img width="216" alt="Screenshot 2022-03-02 at 01 48 20" src="https://user-images.githubusercontent.com/38549755/156273536-510a126e-a3a2-414b-944c-73354564f178.png">

[2022-03-02 00:54] martinscheu opened #6354 "Traffic recording show data of oldest entry"
**What would you like to add or change?**:
On the interface traffic recording page I see how data on disk is already used.
It would be helpful to know the date and time of the oldest entry in order to check if disk space is enough for required retention time

**Why do you and others need this?**:
Calculate or verify used disk space

[2022-03-02 08:55] cardigliano commented on #6354
Hi @martinscheu , the next tab reports the recording Window, which is date and time of the oldest and latest files, is this what you are looking for?

[2022-03-02 11:17] martinscheu commented on #6354
Hi @cardigliano
In the traffic report I see what the daily traffic was, but I dont see the latest available data in the stored pcap dataset. Because many times I want to download a pcap, I get the "no recorded data" available. And to have an idea how much extractable data is in the n2disk storage, it would be helpfull to have a indicator, like "oldest pcap entry"
of course the value will change wi

[2022-03-02 11:53] martinscheu commented on #6354
I would place the information here:
![image](https://user-images.githubusercontent.com/38549755/156356796-18e63d22-6d68-448e-b7b5-90e8f6ebede7.png)

[2022-03-02 11:59] cardigliano commented on #6347
@atemix what we can do is to reduce the room for the index in the computation of the max space to be used, but still leave some room to avoid misconfigurations leading to blocking the recording due to a filled disk

[2022-03-02 12:01] #6347 closed, assigned to cardigliano

[2022-03-02 12:06] Jenubis opened #6355 "Cannot use -p option on ntop config file"
**Environment**:
* OS name: Raspberry Pi 3
* OS version: [e.g. 18.04]
* Architecture: ARM
* ntopng version/revision: [e.g. 5.1.211223] : [](https://github.com/ntop/ntopng/commit/ca846f4015213719f7d3cd0a4efed51f085ba7c1)ntopng Enterprise M v.5.3.220227 rev.17006 (Raspbian GNU/Linux 11 (bullseye)) |

**What happened**:

Indicated -p option for custom protocol into the config file to start from syste

[2022-03-02 12:13] MatteoBiscosi commented on #6353
Hi @martinscheu , with the latest release the bug is fixed, however i had to revert to the previous table format, because due to a bug of the library this is currently non-solvable in the current table format.

[2022-03-02 16:56] martinscheu commented on #6353
Hi @MatteoBiscosi ok thanks for the roll back. Could the actions column be on the left? Otherwise is ok and we can close the ticket.

[2022-03-02 18:01] lucaderi commented on #6307
Please report sudo rrdtool fetch /var/lib/ntopng/X/rrd/Y/Y/Y/Y/bytes.rrd AVERAGE -s 1645574400 -e 1646179200

where X is the interface and Y.Y.Y.Y is the IP address of your host you are depicting

[2022-03-02 18:01] JKA-IT opened #6356 "Google DNS 8.8.8.8 listed in ntop IP Malware Meltdown list"
I know Google is a threat, but please remove 8.8.8.8 from the list.
Thank you :)

[2022-03-02 18:09] lucaderi opened #6357 "Filter present but not displayed"
The following URL
http://X.Y.Z.H:3000/lua/pro/db_search.lua?page=analysis&ifid=2&epoch_begin=1646242347&epoch_end=1646244147&query_preset=flow_status&cli_ip=89.31.Y.X%3Beq&l7proto=5%3Beq&ip=176.111.X.X%3Beq

filters correctly the data, but it does not display the filter in the top bar

![Screen Shot 2022-03-02 at 19 08 10](https://user-images.githubusercontent.com/4493366/156422069-27d221e0-2a5b-4

[2022-03-02 18:56] notyourcommy commented on #6307
And what if we are on Influx?

[2022-03-03 08:56] MatteoBiscosi commented on #6342
Verified as fixed, please reopen if needed

[2022-03-03 08:56] #6342 closed, assigned to MatteoBiscosi

[2022-03-03 08:58] MatteoBiscosi commented on #6353
Hi @martinscheu after internal review we decided to put the action column to the right side, in the near future however i'm planning on changing che table format and then the put the action button back on the left

[2022-03-03 08:58] #6353 closed, assigned to MatteoBiscosi

[2022-03-03 11:54] cardigliano opened #6358 "Search Categories in Applications and Categories does not work"
The "Search Categories" functionality seems to be broken, it does just nothing

<img width="1287" alt="categories" src="https://user-images.githubusercontent.com/7548711/156559824-3fecfbed-0bfa-4b88-a22a-3970966691f4.png">

[2022-03-03 15:31] #6357 closed, assigned to uccidibuti

[2022-03-04 04:24] tiny-pangolin commented on #5449
confirmed that it is working with victoriametrics and opnsense

[2022-03-04 12:42] AlessioPaternoster opened #6359 "Syslog not 100% compliant to RFC 3164 standard"
**Environment**:
* OS name: Ubuntu
* OS version: 20.04.3 LTS
* Architecture: x86_64
* ntopng version/revision: v.5.2.220222 rev.16946
#
* OS name: Ubuntu
* OS version: 16.04.7 LTS
* Architecture: x86_64
* ntopng version/revision: 5.3220228 rev 17008

**What happened**:
Our team set up ntopng to send syslog alerts information through UDP protocol in ECS format (see image below). Apparently, syslog

[2022-03-04 14:14] #6359 closed, assigned to nobody

[2022-03-04 14:52] #6358 closed, assigned to nobody

[2022-03-04 21:57] lucaderi commented on #6356
This was due to an input feed we use that contains such IP. We have updated ntopng not to use the ntop meltdown and use ore reliable lists

[2022-03-04 21:57] #6356 closed, assigned to nobody

[2022-03-04 22:02] lucaderi opened #6360 "Poor Dropdown Formatting"
![image](https://user-images.githubusercontent.com/4493366/156847649-d58a4fe7-3f47-4ef2-b63b-cf39a8ded49b.png)
The menubar is too short in width and there is no icon at the top as in the previous version
![Screen Shot 2022-03-04 at 23 00 17](https://user-images.githubusercontent.com/4493366/156847836-79df808c-2c4d-4b84-9b4d-bc05e80ebbb1.png)

[2022-03-04 22:05] lucaderi opened #6361 "Poor Time Formatting in Alert Information"
![Screen Shot 2022-03-04 at 23 04 49](https://user-images.githubusercontent.com/4493366/156848191-1ce382a8-b46c-4de9-b642-fe6d68f10f97.png)

[2022-03-04 22:06] lucaderi opened #6362 "Invalid Table Pagination"
![Screen Shot 2022-03-04 at 16 47 13](https://user-images.githubusercontent.com/4493366/156848255-6ce77e2c-a179-41cc-aa94-72e8856e11f7.png)

[2022-03-06 07:04] notyourcommy commented on #6307
@lucaderi ? We are on Influx and it's not hosts, it AS, Host Pools and everything.

[2022-03-07 08:12] lucaderi commented on #6344
I cannot reproduce it with the current version, You are using ntopng from 2021, please update and reopen this ticket if necessary

[2022-03-07 08:12] #6344 closed, assigned to nobody

[2022-03-07 09:48] MatteoBiscosi commented on #6360
Increased width of the dropdown and added the icon if the interface is selected
![Screenshot from 2022-03-07 10-44-35](https://user-images.githubusercontent.com/49585191/157007499-a778830e-61fc-49d0-b9a1-7e6d26dc6548.png)

[2022-03-07 10:00] MatteoBiscosi commented on #6361
Fixed TLS certificate date/time format
![Screenshot from 2022-03-07 11-00-21](https://user-images.githubusercontent.com/49585191/157009452-67764dc9-8a1b-4496-be63-fc5fedfc7e36.png)

[2022-03-07 10:19] MatteoBiscosi commented on #6362
Fixed string not formatted
![Screenshot from 2022-03-07 11-18-44](https://user-images.githubusercontent.com/49585191/157012461-81c062e0-8eb1-413a-a26c-b6238b849b61.png)

[2022-03-07 10:30] #6309 closed, assigned to uccidibuti

[2022-03-07 10:56] MatteoBiscosi commented on #6333
Hi @mhawkins-consultant unfortunately we do not support the Fedora OS, if you are able to reproduce this behavior with the distro we support, reopen the issue and we'll take a look at it

[2022-03-07 10:56] #6333 closed, assigned to MatteoBiscosi

[2022-03-07 11:06] MatteoBiscosi commented on #6331
It Should be fixed with the latest release and update to latest datatables.net module

[2022-03-07 13:48] cardigliano commented on #6316
Fixed, this seems to be working after moving to the new range picker component

[2022-03-07 13:48] #6316 closed, assigned to cardigliano, uccidibuti

[2022-03-08 06:00] JoshAC1997 opened #6363 "ntopng error connectng to clickhouse"
**Environment**:
* OS name: Debian
* OS version: 10
* ntopng version/revision: [e.g. 5.1.211223]

**What happened**:
Error Conecting ntopng enterprise M version with Clickhouse DB
I have setup clickhouse db in a separate server and installed the clickhouse client in the ntopng server, When I started ntopng after the BD integration, it said that data was migrating but then the ntopng service goes d

[2022-03-08 11:06] lucaderi commented on #6362
Verified as fixed

[2022-03-08 11:06] #6362 closed, assigned to uccidibuti, MatteoBiscosi

[2022-03-08 11:07] lucaderi opened #6364 "Multicast Hosts Should not be Considered Remote"
![Screen Shot 2022-03-08 at 12 05 52](https://user-images.githubusercontent.com/4493366/157226538-ec1d6546-7f08-447f-a711-13ce2024c5c9.png)

[2022-03-08 11:29] lucaderi opened #6365 "Don't Trigger NTP/DNS/MAIL alerts for Servers"
![image](https://user-images.githubusercontent.com/4493366/157228237-3cd4d010-e974-4c1e-8f29-94dfadaaae6f.png)

In the image above, this is a DNS server that by nature contacts several DNSs. The same for NTP, SMTP... Please modify the check so that these alerts are not triggered for servers.

[2022-03-08 11:33] lucaderi opened #6366 "Implement Score Check For Networks"
![image](https://user-images.githubusercontent.com/4493366/157230133-dbddfc9d-ef42-443f-a05e-dbaf818f1900.png)

Similar to "Score Threshold Exceeded" a stateful check for networks needs to be implemented. As networks can be of various sizes, an algorithm for triggering the alert should be implemented such as <network score> / <number of hosts of the network> exceeds a given threshold.

[2022-03-08 11:36] lucaderi opened #6367 "Restyle Filter Dialog"
![image](https://user-images.githubusercontent.com/4493366/157230880-d7c3c94e-5f13-4c15-ba70-e7816215425d.png)

Some issues
- the style of the dropdown menu is not in sync with the rest of ntopng
- enlarge the box as of the pink square so text is not wrapped/cut

[2022-03-08 12:00] lucaderi opened #6368 "Traffic Directions with Mirrored Traffic are Broken"
![Screen Shot 2022-03-08 at 12 58 01](https://user-images.githubusercontent.com/4493366/157233998-3709a896-4d1f-478f-b24d-47b1851db972.png)

[2022-03-08 17:21] MatteoBiscosi commented on #6363
Hi @JoshAC1997 could you please send me your ntopng --version? However the problem is that your license expired and ntopng automatically quit if it finds an expired license.
Try removing the license or adding the --community option.
Other then that it seems that you are not able to connect to clickhouse-client, you have `Code: 210. DB::NetException: Connection refused (10.143.0.3:9000). (NETWORK_E

[2022-03-08 19:45] JoshAC1997 commented on #6363
@MatteoBiscosi  Hi Matteo as I know I have the testing license that you sent me, that will expire on March 10th.

regarding to the db error, I have both Ntopng and clickhouse in the same network, there is not any restriction.

I will try adding the community string but I know the license is still valid.

Thanks for your help.

[2022-03-09 08:56] lucaderi opened #6369 "Active Monitoring: Missing Labels"
![Screen Shot 2022-03-09 at 09 55 27](https://user-images.githubusercontent.com/4493366/157407217-c5579fd4-a44b-40f9-b84b-8925ec68817e.png)

[2022-03-09 11:14] lucaderi opened #6370 "Add the Ability to Define Custom IP Blacklist"
This is to request the ability to specify a list of custom IP address to be used as blacklist

[2022-03-09 11:49] #6354 closed, assigned to cardigliano

[2022-03-09 12:26] #6368 closed, assigned to nobody

[2022-03-09 12:38] lucaderi commented on #6360
Verified as fixed

[2022-03-09 12:38] #6360 closed, assigned to uccidibuti, MatteoBiscosi

[2022-03-09 12:38] lucaderi commented on #6369
Verified as fixed

[2022-03-09 12:38] #6369 closed, assigned to uccidibuti, MatteoBiscosi

[2022-03-09 12:39] lucaderi commented on #6361
Verified as fixed

[2022-03-09 12:39] #6361 closed, assigned to MatteoBiscosi

[2022-03-09 12:40] lucaderi commented on #6331
Verified as fixed

[2022-03-09 12:40] #6331 closed, assigned to MatteoBiscosi

[2022-03-09 12:40] lucaderi opened #6371 "Invalid/Zero Error Code Reported"
![Screen Shot 2022-03-09 at 13 40 19](https://user-images.githubusercontent.com/4493366/157443650-434ae506-8ab4-4d08-b339-9c5dcf1efc9c.png)

[2022-03-09 14:51] cardigliano opened #6372 "Avoid many ajax call (one per host) to update stats"
Both the Hosts and the MAC Addresses pages use many ajax calls (one per host) to update stats in the hosts table. This should be avoided as it's not optimized and hit the max requests limit in mongoose.

[2022-03-09 14:52] cde0 opened #6373 "Ntopng Website to slow - take time to load anything"
**Environment**:
* Version:        5.3.220309 [Enterprise/Professional build]
* GIT rev:        dev:d245c2d4375ee20bbe670505a5fc405538b02c9b:20220309
* Pro rev:        r4820
* Built on:       Ubuntu 20.04.4 LTS
* Architecture: [e.g. amd64]

**What happened**:
Not sure what happening it take to much time to load anything on the website.
We use nprobe to send traffic to ntopng and suricata to syslog

[2022-03-09 15:21] fastfire commented on #5948
+1

[2022-03-09 17:27] cardigliano commented on #6372
Optimization implemented (single request for all hosts/macs)

[2022-03-09 17:27] #6372 closed, assigned to cardigliano

[2022-03-09 23:47] martinscheu opened #6374 "Elasticsearch add recipient not working"
**Environment**:
* OS name: [Ubuntu]
* OS version: [20.04]
* Architecture: [amd64]
* ntopng version/revision: [ntopng Enterprise L v.5.3.220308]

**What happened**:
Trying to add a elasticsearch recipient, I get:
![image](https://user-images.githubusercontent.com/38549755/157558342-1ab48194-8141-45f9-98c4-2e4dae80edfe.png)

and I can not add the recipient.
(curl http://ServerIP:9200/ works on the

[2022-03-10 07:48] cde0 commented on #6373
I downgrade ntop to 5.2 and is faster.

[2022-03-10 07:48] #6373 closed, assigned to nobody

[2022-03-10 08:11] martinscheu opened #6375 "Historical flow filter not working"
**Environment**:
* OS name: [Ubuntu]
* OS version: [20.04]
* Architecture: [amd64]
* ntopng version/revision: [ntopng Enterprise L v.5.3.220308]
*
**What happened**:
I filter for a client name, but it doesn't filter correctly, see last line: (it does filter out something little though..)

![image](https://user-images.githubusercontent.com/38549755/157616536-3430b285-e759-44e1-8365-6d95dae0ac91.png

[2022-03-10 09:34] MatteoBiscosi commented on #6374
Hi @martinscheu I'm going to start new builds now, in a couple of hours please update and the issue should be fixed

[2022-03-10 09:36] cardigliano commented on #6375
Could you click on the SQL badge at the bottom of the table and provide the query please?

[2022-03-10 11:35] lucaderi commented on #6364
Fixed with https://github.com/ntop/ntopng/commit/c076391368a34ad2ddbf29ef6bf63fe37cfcadcf

[2022-03-10 11:35] #6364 closed, assigned to MatteoBiscosi

[2022-03-10 14:03] lucaderi opened #6376 "Missing MAC HyperLink"
![image](https://user-images.githubusercontent.com/4493366/157677758-a8b8580d-69fb-4c3f-98e0-7e690c3086fc.png)

[2022-03-10 16:02] martinscheu commented on #6375
sure:
SELECT PROTOCOL, L7_PROTO, L7_PROTO_MASTER, SCORE, TOTAL_BYTES, toInt32(FIRST_SEEN) FIRST_SEEN, toInt32(LAST_SEEN) LAST_SEEN, L7_CATEGORY, STATUS, FLOW_RISK, INFO, FLOW_ID, VLAN_ID, IP_PROTOCOL_VERSION, IPv4NumToString(IPV4_SRC_ADDR) IPV4_SRC_ADDR_FORMATTED, IPv4NumToString(IPV4_DST_ADDR) IPV4_DST_ADDR_FORMATTED, IPv6NumToString(IPV6_SRC_ADDR) IPV6_SRC_ADDR_FORMATTED, IPv6NumToString(IPV6_DS

[2022-03-10 17:25] cardigliano commented on #6375
This has been fixed

[2022-03-10 22:12] martinscheu commented on #6375
great, thanks Alfredo!

[2022-03-10 22:12] #6375 closed, assigned to nobody

[2022-03-11 07:08] lucaderi opened #6377 "Broken sFlow Exporter Report"
How to reproduce it
- send sFlow to nProbe
- nProbe connects to ntopng via ZMQ

Problems
- ntopng does not detect sFlow exporters
- sFlow flows are correctly received and displayed, as well sFlow interfaces information

![image](https://user-images.githubusercontent.com/4493366/157818920-29e3bd23-63b6-4edb-90ba-1db203483b30.png)
![image](https://user-images.githubusercontent.com/4493366/157818945-

[2022-03-11 07:16] lucaderi opened #6378 "Unable to Switch Timeseries Preferences Backend"
![Screen Shot 2022-03-11 at 08 14 21](https://user-images.githubusercontent.com/4493366/157820050-74101c8e-ec3e-44ed-a1c2-663f663abaf4.png)

The Save button is not enabled when switching RRD <-> InfluxDB and changing another preference (e.g. change another setting in the same page) enables the Save button but the RRD backend preference is not saved.

[2022-03-11 07:22] lucaderi opened #6379 "Historical Flow Filters Broken with Host Names with Dash"
Example

![image](https://user-images.githubusercontent.com/4493366/157820609-43465167-a642-4002-a5ca-959d0e0d02d6.png)

![image](https://user-images.githubusercontent.com/4493366/157820690-6d0a23a0-3339-4a50-acf4-9477d4b23394.png)

The generated SQL is

SELECT PROTOCOL, L7_PROTO, L7_PROTO_MASTER, SCORE, TOTAL_BYTES, toInt32(FIRST_SEEN) FIRST_SEEN, toInt32(LAST_SEEN) LAST_SEEN, L7_CATEGORY, STATUS

[2022-03-11 07:27] lucaderi opened #6380 "Adding Filters Break Historical Flow Layout"
Every time a filter is added/removed. a new "eye" is added to the page layout.

![image](https://user-images.githubusercontent.com/4493366/157821709-e09f80a3-4955-4072-a00a-9953a23b675c.png)

[2022-03-11 07:32] lucaderi opened #6381 "Redundant Buttons That Carry the Same Action"
![image](https://user-images.githubusercontent.com/4493366/157822366-ec7fb2b6-b47d-48a2-9671-d1bd39d6391e.png)

These two buttons are duplicates and one has to be removed

[2022-03-11 07:39] lucaderi commented on #6381
This is another example of redundancy that needs to be removed
![image](https://user-images.githubusercontent.com/4493366/157823418-e2cec711-cf48-4aa5-b9f6-f0b8ae42b343.png)

[2022-03-11 07:49] lucaderi opened #6382 "Invalid Host Flow Filtering"
Inside a host with a VLAN tag, this is what I see, namely no historical data. This is already a bug as flows are present in the DB, but the SQL query is wrong.

![Screen Shot 2022-03-11 at 08 46 48](https://user-images.githubusercontent.com/4493366/157824572-76fa7c8f-5c1a-4826-8403-9f9d3534568b.png)

If I click on the "Raw Flows" menu, we jump to

![image](https://user-images.githubusercontent.com

[2022-03-11 08:54] cardigliano commented on #6379
This has been already fixed in another issue yesterday

[2022-03-11 08:55] cardigliano commented on #6379
#6375

[2022-03-11 09:00] #6379 closed, assigned to cardigliano

[2022-03-11 09:01] cardigliano commented on #6380
@uccidibuti please check this

[2022-03-11 10:29] MatteoBiscosi commented on #6382
As decided before, the raw flows tab has been removed from the chart dropdown and if users want to jump to the historical flows then they have to click like usual the lens on the host navbar
![Screenshot from 2022-03-11 11-28-39](https://user-images.githubusercontent.com/49585191/157850004-fb26458f-b001-48c6-84f8-90c0fc4e89fb.png)

[2022-03-11 10:45] MatteoBiscosi commented on #6381
Removed all the redundant flow links, the only one left is the one on the navbar
![Screenshot from 2022-03-11 11-44-39](https://user-images.githubusercontent.com/49585191/157852517-252307d0-523d-4078-85ef-0cf26d2402c2.png)
![Screenshot from 2022-03-11 11-44-46](https://user-images.githubusercontent.com/49585191/157852521-2f5653fb-c20b-4b0f-8f4b-e71789807ee2.png)

[2022-03-11 11:45] notyourcommy opened #6383 "Ntopng not starting after update"
Version:        5.3.220310

[MySQLDB.cpp:817] ERROR: Failed to connect to ClickHouse: CREATE FUNCTION cannot be granted on the database level [ntopng@127.0.0.1:9004]

[2022-03-11 11:50] #6380 closed, assigned to cardigliano, uccidibuti

[2022-03-11 12:08] #6367 closed, assigned to uccidibuti, MatteoBiscosi

[2022-03-11 12:19] notyourcommy commented on #6383
UPD. it's an issue with clickhouse update.
You just need to drop and re-create ntop user (and grant privileges)

[2022-03-11 12:19] #6383 closed, assigned to nobody

[2022-03-11 14:08] lucaderi commented on #6376
![Screen Shot 2022-03-11 at 15 08 12](https://user-images.githubusercontent.com/4493366/157883258-8d9d7298-2625-41e8-870e-3ed9936274fa.png)
It doesn't work yet

[2022-03-11 14:09] lucaderi commented on #6378
Verified as fixed

[2022-03-11 14:09] #6378 closed, assigned to MatteoBiscosi

[2022-03-11 14:29] lucaderi commented on #6377
Still not working

[2022-03-11 14:31] lucaderi commented on #6382
Verified as fixed

[2022-03-11 14:31] #6382 closed, assigned to MatteoBiscosi

[2022-03-11 14:35] #6252 closed, assigned to lucaderi, cardigliano

[2022-03-11 14:35] #6251 closed, assigned to lucaderi, cardigliano

[2022-03-11 14:53] lucaderi opened #6384 "Historical Filters are Lost When Switching Panes"
When setting a filter in the historical flows

![Screen Shot 2022-03-11 at 15 50 07](https://user-images.githubusercontent.com/4493366/157890734-57f5821d-fafd-4038-8d0d-3c22a001cf34.png)

switching to the analysis tab (and vice-versa) wipes the filter

![Screen Shot 2022-03-11 at 15 50 25](https://user-images.githubusercontent.com/4493366/157890729-bd38c125-2215-4bfb-ae4c-a01c22cf90c4.png)

This i

[2022-03-11 15:28] cardigliano commented on #5978
Input/output SNMP interface (ID) added to the historical flows (pro 8798824b0a1d81144128a867cd3ff5c4ed288748)

[2022-03-11 15:40] lucaderi commented on #6381
Verified as fixed

[2022-03-11 15:40] #6381 closed, assigned to uccidibuti, MatteoBiscosi

[2022-03-11 16:02] lucaderi opened #6385 "Invalid Error Message With VLANs"
![Screen Shot 2022-03-11 at 16 58 58](https://user-images.githubusercontent.com/4493366/157902895-a0a88343-da9b-497e-a639-2f64c63d8024.png)

[2022-03-11 16:03] lucaderi opened #6386 "Remote Access Alert Does not Check Locality"
The Remote Access alert should be triggered only for specific protocols (e.g.SSH) when a local hosts contacts a remote host. I.e. if two local hosts SSH each other the alert should not be produced.

[2022-03-11 16:05] lucaderi opened #6387 "VLAN Tag not Handled in Alerts"
VLAN tags is shown correctly in alerts list

![Screen Shot 2022-03-11 at 17 04 26](https://user-images.githubusercontent.com/4493366/157903857-ca96d7ef-735b-40e2-9b2d-8cca34a13ec3.png)

but it is omitted when showing the alert information

![Screen Shot 2022-03-11 at 17 04 36](https://user-images.githubusercontent.com/4493366/157903936-0e9f5f65-74ab-4760-be2c-1616ec9b3194.png)

Clicking on the hos

[2022-03-11 16:44] cardigliano commented on #6385
There was yet a case of IP filter including the @ generated when clicking on an IP in the flow alerts. This has also been fixed now.

[2022-03-11 16:59] awbl00 opened #6388 "Windows Memory Leak - v5.3.220202"
**Environment**:
* OS name: Windows
* OS version: 10
* Architecture: Intel x64
* ntopng version/revision: 5.3.220202

**What happened**:
Within 24 hours of starting ntopng, the machine's RAM usage is nearly 100%. This was not observed with v5.1.21907, both prior to upgrading and after downgrading. The configuration is fairly basic and uses the following options: -n 1 -i "tcp://x.x.x.x:xxxx" -m "x.

[2022-03-11 20:44] martinscheu commented on #6374
@MatteoBiscosi Thanks Matteo, is working now!

[2022-03-11 20:44] #6374 closed, assigned to MatteoBiscosi

[2022-03-11 20:50] R0CKB0TT0M opened #6389 "fritzdump.sh leading to core dump on raspberrypi 4"
I was trying to set up ntopng to monitor traffic on my network using fritzdump.sh from tools but I am getting the following error:
[code]

[2022-03-12 20:27] rmancuso40 opened #6390 "Hosts Geo Map Never Loads"
**Environment**:
* OS name: Ubuntu
* OS version: 20.04.4
* Architecture: amd64
* ntopng version/revision: v.5.3.220312 rev.17181

**What happened**:
I just installed a ntopng on a new system and when I select Geo Map from the Hosts page, I just get a spinning circle and the map never loads. I have the Maxmind Geo database loaded in /var/lib/GeoIP.

**What did you expect to happen?**
I expected the

[2022-03-13 10:55] lucaderi commented on #6387
Verified as fixed

[2022-03-13 10:55] #6387 closed, assigned to nobody

[2022-03-13 10:57] lucaderi commented on #6377
Verified as fixed

[2022-03-13 10:57] #6377 closed, assigned to cardigliano

[2022-03-13 11:01] lucaderi opened #6391 "Invalid Host Alert Formatting"
The formatting code should be unique and used in various contexts without exceptions. This is an alert entry

![image](https://user-images.githubusercontent.com/4493366/158056388-9e589d0b-b9dd-4343-af41-05dc460aa145.png)

and this is a historical flow entry for the above alert

![image](https://user-images.githubusercontent.com/4493366/158056428-2a78ca5a-d683-4735-99ce-d136e04ebf36.png)

As you ca

[2022-03-13 11:04] lucaderi opened #6392 "Geomap Marker Not Working with Safari"
Clicking on a GeoMap marker has no effect with Safari (it used to work some time ago)

![Screen Shot 2022-03-13 at 12 03 04](https://user-images.githubusercontent.com/4493366/158056509-5e55b889-363f-4d71-b61b-dba1cb1ab3af.png)

[2022-03-13 11:07] lucaderi opened #6393 "Invalid GeoMap Marker Link on Historical Flows"
On Historical flows the marker below is NOT adding a filter on the historical report but it leads to the host in memory that is likely to be down.

![image](https://user-images.githubusercontent.com/4493366/158056573-78c4a4fa-636a-40d2-b51e-543156351d87.png)

This is to require for every marker to
- add a computer icon next to the URL so that we know that this link goes to the live host page (in c

[2022-03-13 11:53] lucaderi opened #6394 "Implement ICMP Data Exfiltration"
Similar to DNS, ICMP (see https://github.com/seladb/PcapPlusPlus/tree/master/Examples/IcmpFileTransfer) can also be used to implement data exfiltration.
This is to request a new nDPI/ntopng check to be developed.

[2022-03-13 13:26] cr0ws7 opened #6395 "ClickHouse support: Security considerations and Ukraine"
Hi there. I am using the ntopng Enterprise M embedded version and thought about using ClickHouse as part of my ntopng installation.
Due to the current war of Russia (Putin) against Ukraine (cyber war against western countries started already centuries before) i have no good feeling to use the software. Even it is open source how trustful is Yandex and how much influence does the Russian government

[2022-03-13 13:32] lucaderi commented on #6395
At the moment ClickHouse is the best compromise. It originated from Yandex (I started to use any years ago when the C++ code had comments in Russian) but it is now a US company with an EU headquarter in Amsterdam (see https://clickhouse.com/company/). If you have suggestions please let us know.

So at the moment, I think it's safe to use it, but I do share your concerns about the war against Ukrai

[2022-03-13 13:33] #6395 closed, assigned to nobody

[2022-03-13 17:36] cr0ws7 commented on #6395
Ok, thank you for the answer.

[2022-03-14 05:58] Niklasr69 commented on #5978
The output/interface SNMP ID works for history.
Unfortunately, it is difficult to know the real interface name when using SNMP ID.
It would be much more manageable if you had the real interface names.
[https://github.com/ntop/ntopng/issues/5953](url)

[2022-03-14 10:26] MatteoBiscosi commented on #6307
Hi @alexiff I doubled the time aggregation requested on influxdb, the per month values should be around 1 per hour and the per week, around 1 per 30 minute.
In a couple of hours a new update should be available, update and let me know.
Just to be sure, could you please reload the chart page and send me the query received by influxDB?

![Screenshot from 2022-03-14 10-53-32](https://user-images.gith

[2022-03-14 10:37] notyourcommy commented on #6307
@MatteoBiscosi

How can I do this?

[2022-03-14 10:45] MatteoBiscosi commented on #6307
https://docs.influxdata.com/influxdb/v1.8/troubleshooting/query_management/#

This is for influxdb 1.8 version, I don't know if there are other ways for the latest influxdb versions.
Otherwise you can check it out partially from ntopng by right click the ntopng web gui, click inspect and switch to the network tab.
![Screenshot from 2022-03-14 11-42-09](https://user-images.githubusercontent.com/495

[2022-03-14 10:47] ListenNjoy opened #6396 "Error in alerts edit options"
**Environment**:
* OS name: [e.g. Ubuntu]
* Red Hat Enterprise Linux 8.5
* Architecture: [e.g. amd64]
* ntopng version/revision: []
* [ntopng Enterprise M v.5.2.220309

**What happened**:

Cant edit alerts setting, see picture.

14/Mar/2022 11:34:20 [LuaEngine.cpp:1254] WARNING Script failure [/usr/share/ntopng/scripts/lua/get_check_config.lua][/usr/share/ntopng/scripts/lua/modules/alert_exclusion

[2022-03-14 10:52] lucaderi opened #6397 "Data Retention Behaviour Needs Rework"
In preferences, the data retention is not specified properly as it is not clear to what data it applies.

This ticket is to ask to
- Specify the ClickHouse data retention and RRD/InfluxDB data retention in two different preferences fields.
- Specify that the RRD retention (due to the RRD nature) is taken from preferences when the RRD file is created and contrary to Influx it cannot changed afterwa

[2022-03-14 10:53] lucaderi opened #6398 "InfluxDB Data Retention is not Honoured"
Contrary to what is specified in preferences, the InfluxDB retention is not honoured.

This ticket depends on #6397.

[2022-03-14 10:54] MatteoBiscosi commented on #6390
Hi @rmancuso40 could you please right click the GUI, go to inspect and check the console tab if any error is displayed there?
![Screenshot from 2022-03-14 11-54-29](https://user-images.githubusercontent.com/49585191/158158373-e14fde12-8b99-433f-adde-7e88c07173f3.png)

[2022-03-14 10:58] notyourcommy commented on #6307
@MatteoBiscosi sent (via email)

[2022-03-14 11:09] MatteoBiscosi commented on #6307
Hi @alexiff, like expected, you have a lot of data and in order to do not overexert the browser and influxdb by asking for a possibly really huge query, ntopng aggregate the time in a basis of daily aggregation (`"raw_step":86400`) please let me know if the new update you are going to see a more granular chart or not (you can easily check it by check the `raw_step` data, e.g. in my case it's 3600,

[2022-03-14 11:24] MatteoBiscosi commented on #6390
To have Geomap available remember that you need to add the geolocation and geolocation has to be enabled
https://github.com/ntop/ntopng/blob/dev/doc/README.geolocation.md

[2022-03-14 11:39] notyourcommy commented on #6307
@MatteoBiscosi
Updated but something not quite right. As you can see on screenshot 1M graph now have 2 points per day - One at 02:00 that has value and another at 14:00 that is empty
![ntop-newnew](https://user-images.githubusercontent.com/56963978/158164549-84b0315b-e3ee-4536-be8e-47541e1b5c06.png)
t

[2022-03-14 11:42] MatteoBiscosi commented on #6307
Hi @alexiff please send me via email both the headers and response tab of ts.lua request (like before)

[2022-03-14 11:47] notyourcommy commented on #6307
Sent

[2022-03-14 12:01] rmancuso40 commented on #6390
Here is a screenshot of the inspect info. There is one issue but no console messages. I have the geolocation files in place and also have a cron job for geoipupdate.
![image](https://user-images.githubusercontent.com/59264078/158168026-ee39911b-9fac-4e70-99be-5b21c7997641.png)

[2022-03-14 12:04] lucaderi commented on #6389
We have no Fritz boxes anymore and you use ntopng 3.8 (the current version is 5.3). Please update and retry,

[2022-03-14 12:04] #6389 closed, assigned to nobody

[2022-03-14 12:25] MatteoBiscosi commented on #6391
The issue should be fixed now. The function used is the same, the problem was that no vlan was given to the function when formatting the host in the alert table

[2022-03-14 14:27] lucaderi opened #6399 "Incorrect ZMQ flow Drop Reported in Collector Mode"
When (multiple 2+) probes are connected to the same ntopng, the ZMQ flow drops are not properly computed as apparently ntopng is unable to keep per-probe sequence numbers (same source_id ?).

- ntopng -n 1 -i http://127.0.0.1:5300c
- (start 2+ nprobes) nprobe -i X -n none --zmq http://127.0.0.1:5300c --zmq-probe-mode

[2022-03-14 16:18] MatteoBiscosi commented on #6396
Hi @ListenNjoy a new update should be available in a couple of hours, please update and let me know

[2022-03-14 16:19] rmancuso40 commented on #6390
I was digging into this more and was checking the host_details.lua for the code when geo map is clicked on the menu. From what I can tell, with my limited knowledge, it doesn't look like it is set to do anything which would explain why it just sits with the loading spinning arrow. Here is the code section:

[code]

[2022-03-14 16:41] MatteoBiscosi commented on #6390
Hi @rmancuso40 thanks a lot for your help, I don't know how but a js include was removed and the page did not show the geomap, now it's fixed, thanks a lot

[2022-03-14 16:48] rmancuso40 commented on #6390
You're welcome. Thank you for addressing it so quickly.

[2022-03-14 16:57] lucaderi opened #6400 "Unify flows and alerts style"
In alerts, the vertical bar is coloured with the score colour
![image](https://user-images.githubusercontent.com/4493366/158221864-dd27d518-eb78-48ee-99b6-9d69af708a15.png)

In flows, this is not the case and it should be unified
![image](https://user-images.githubusercontent.com/4493366/158221829-8324783b-969f-4679-b675-07dfc5d5a1e8.png)

[2022-03-14 17:12] lucaderi opened #6401 "Javascript Error During Historical Flows Filtering"
![Screen Shot 2022-03-14 at 18 11 33](https://user-images.githubusercontent.com/4493366/158224678-0c1dfb9f-ee89-43cf-adee-0423b915bbf0.png)
![Screen Shot 2022-03-14 at 18 11 47](https://user-images.githubusercontent.com/4493366/158224699-eb9bd5ef-f0c6-4534-b5dd-73739b504326.png)

[2022-03-14 17:15] lucaderi opened #6402 "Lost Cache Check Mechanism"
Up to some time ago, ntop had an epoch-based mechanism for detecting changes in css, js....

Apparently, this mechanism is partially lost with more recent versions and it needs to be restored.

---
[code]

[2022-03-14 17:17] lucaderi opened #6403 "Missing Filters Mappings"
In historical flows some mappings are not implemented
![Screen Shot 2022-03-14 at 18 15 53](https://user-images.githubusercontent.com/4493366/158225484-ae7e95f4-1d79-452d-9ddc-07d866207049.png)
![Screen Shot 2022-03-14 at 18 15 41](https://user-images.githubusercontent.com/4493366/158225486-a19ac8a8-f856-4299-9454-a3a1ee4c8a28.png)
![Screen Shot 2022-03-14 at 18 16 44](https://user-images.githubus

[2022-03-14 17:50] lucaderi opened #6404 "Copy To Clipboard Works Once"
Clicking on the button below

![Screen Shot 2022-03-14 at 18 48 52](https://user-images.githubusercontent.com/4493366/158231241-c53cf64a-c9cc-415d-8290-3ecd258121d5.png)

copies on the clipboard only the first time you click. If you click 2+ times copy does not work.

[2022-03-14 19:09] #6384 closed, assigned to uccidibuti

[2022-03-14 19:09] #6300 closed, assigned to uccidibuti

[2022-03-15 07:23] ListenNjoy commented on #6396
Hi, its still the same, error below

15/Mar/2022 08:22:58 [LuaEngine.cpp:1254] WARNING Script failure [/usr/share/ntopng/scripts/lua/get_check_config.lua][/usr/share/ntopng/scripts/lua/modules/alert_exclusions.lua:240: attempt to index a nil value (local 't')]

[2022-03-15 10:40] lucaderi opened #6405 "Add Ability to Use Symbolic Hostnames in Active Monitoring"
In active monitoring, we currently support only numeric hostnames. This is to request to add support for symbolic hostnames that will be resolved before running the test (and not when the host is configured). For symbolic hosts with multiple corresponding numeric hosts, the first one of the list will be picked.

[2022-03-15 10:42] lucaderi opened #6406 "Add Ability to Specify Symbolic Hostnames in Host Pools"
Currently, host pools can contain MAC or numeric IPs. This is to request the ability to add symbolic hostnames to the pool. In the case of multiple numeric IPs matching a symbolic host name, the first numeric IP will be picked.

[2022-03-15 10:58] lucaderi opened #6407 "Invalid sFlow Exporter Link"
Clicking on the link below
![image](https://user-images.githubusercontent.com/4493366/158361632-277dedde-d1ee-4762-a201-18849b1977e1.png)

will send back to the list of sFlow explorers instead of going to the SNMP interface selected. If the interface has not been SNMP polled the interface Id should not have a HREF

[2022-03-15 11:17] lucaderi opened #6408 "Historical Flows Bug"
![Screen Shot 2022-03-15 at 12 17 10](https://user-images.githubusercontent.com/4493366/158366549-892aae7c-886d-445c-be55-9d3a619c2b66.png)

[2022-03-15 11:27] lucaderi opened #6409 "Implement Historical Filter for SNMP Interface"
It is not possible to select flows from/to interface Id X in the historical flow explorer, as the above expression is interpreted in AND instead here we need a OR.

![Screen Shot 2022-03-15 at 12 24 05](https://user-images.githubusercontent.com/4493366/158367654-a5909baf-78ef-4cd4-b4c0-758e8acceb2e.png)

This is to request to implement a new field named SNMP Interface (add the 'SNMP' word to the e

[2022-03-15 11:29] lucaderi opened #6410 "Implement Top Talkers in SNMP"
This is to request to extend this SNMP page by adding (in case ClickHouse is enabled with -F) a new HTML anchor
![image](https://user-images.githubusercontent.com/4493366/158366152-184b18e8-a5af-40e5-b919-ef644c116efd.png)

that will send to the historical flows with the interface filter set to the selected interfaceId

![Screen Shot 2022-03-15 at 12 28 05](https://user-images.githubusercontent.co

[2022-03-15 11:52] lucaderi commented on #6391
Verified as fixed

[2022-03-15 11:52] #6391 closed, assigned to MatteoBiscosi

[2022-03-15 11:52] lucaderi commented on #6400
Verified as fixed

[2022-03-15 11:52] #6400 closed, assigned to MatteoBiscosi

[2022-03-15 11:53] lucaderi commented on #6376
Verified as fixed

[2022-03-15 11:53] #6376 closed, assigned to MatteoBiscosi

[2022-03-15 11:54] lucaderi commented on #6402
Why the style is not uniform? In some cases is epoch=XXX in other ?XXXX. Please unify it

    <link href="/dist/third-party.css?1647330139" rel="stylesheet">
    <link href="/dist/ntopng.css?1647330139" rel="stylesheet">
    <link href="/dist/white-mode.css?1647330139" rel="stylesheet"><link href="/favicon.ico" rel="icon">    <style>
      .flag {
        width: 16px;
        height: 11px;

[2022-03-15 11:57] lucaderi commented on #6393
Kind of working. When there is no filter set, the filter is added correctly. When I click on another host, instead of adding the second filter (for both IPs), the first filter is gone.

[2022-03-15 11:57] lucaderi commented on #6390
Verified as fixed

[2022-03-15 11:57] #6390 closed, assigned to MatteoBiscosi

[2022-03-15 11:58] lucaderi commented on #6386
Verified as fixed

[2022-03-15 11:58] #6386 closed, assigned to MatteoBiscosi

[2022-03-15 12:03] MatteoBiscosi commented on #6402
Unified the caching using the usual standard, no epoch added. e.g. `third-party.js?1647330139`

[2022-03-15 12:03] MatteoBiscosi commented on #6407
Fixed pro repo

[2022-03-15 13:31] lucaderi opened #6411 "Labels Cut in Historical Flow Analysis"
![image](https://user-images.githubusercontent.com/4493366/158388539-26b2b8d5-6e19-4456-8100-55f78cc07522.png)

[2022-03-15 13:56] AnhTuanNguyenn opened #6412 "NTOPNG 5.3.220303 After Update Can't Connected ClickHouse"
Hello

Actually, i have issue with new ntopng package,

There were 2 months i Luca was helped me to resolved problem connection with pfsense on my ntopng version 5.1.220201, i worked so far ! but last week i installed on my official server ntopng version 5.3.220303 it doesn't work anymore.

and then i remove version ntopng: 5.1.220201 and reinstall ntopng on server test, we are going to version 5.