[2016-12-16 09:44] emanuele-f commented on #805
@e73kiel the fact that the SNMP page disappears after 5 minutes it's normal, since after 5 minutes you go back to the community version because you are using a demo. In order to troubleshoot the second problem, can you please try the latest development version of ntopng as suggested by @lucaderi and see if you still experience the issue?

[2016-12-16 09:52] ipbowker commented on #856
Classification: UK OFFICIAL
[cid:image001.png@01D25782.0272D210]

From: Emanuele Faranda [mailto:notifications@github.com]
Sent: 16 December 2016 09:14
To: ntop/ntopng
Cc: Bowker Iain P; Mention
Subject: Re: [ntop/ntopng] No graphical representation of Application or Application Breakdown in Reports view. (#856)

Can you post a screenshot of your "On-Disk Timeseries" settings?

[2016-12-16 14:29] gabrieldt commented on #858
Thanks everyone!
I have solved the problem by starting nprobe with --online-license-check.

Best regards!

[2016-12-16 14:29] #858 closed, assigned to nobody

[2016-12-16 17:55] Uzzi commented on #858
@emanuele-f ok,thank you I'll do it monday morning

[2016-12-16 19:06] Uzzi commented on #858
@emanuele-f
These are my ntopng.log rows:
`14/Dec/2016 19:04:34 [Ntop.cpp:1121] Setting local networks to 127.0.0.0/8
14/Dec/2016 19:04:34 [Redis.cpp:92] Successfully connected to redis 127.0.0.1:6379@0
14/Dec/2016 19:04:34 [NtopPro.cpp:118] [LICENSE] Read license from Redis []
14/Dec/2016 19:04:34 [NtopPro.cpp:182] ERROR: [LICENSE] Invalid or missing ntopng License [Empty license file]
14/Dec/201

[2016-12-16 19:14] #851 closed, assigned to simonemainardi

[2016-12-16 19:16] simonemainardi commented on #858
@Uzzi it looks like you license file is empty `ERROR: [LICENSE] Invalid or missing ntopng License [Empty license file]`
make sure it contains the license key and is readable by ntopng

[2016-12-16 19:19] michmoor opened #859 "only upload data showing"
Network topology is simple. One cisco switch sitting between LAN and an asus router providing internet.
I currently have the upstream interface facing the ASUS port mirrored.
On the same LAN i have a VM that is running Centos/ntopng. I can see active flows without issues but I cannot see real time upload and download speeds.  Am I missing something here?

[2016-12-17 08:48] ALIREZA-Z commented on #845
Ok,I get it.Its not ntopng problem.

In FreeBSD we should create a make.conf file in /etc/ with this content:
DEFAULT_VERSIONS+=ssl=openssl
it says to os that make new ports with openssl ports which is compiled on system.we can use base or libressl instead of openssl.but we have some ports like curl or mongoose that have special details in their make file.
for example:
if curl GSSAPI config is ena

[2016-12-17 09:09] lucaderi opened #860 "Preferences caching"
ntopng is putting too much pressure on redis for reading un-necessary preferences. This is just an excerpt:

1481965335.063751 [0 127.0.0.1:55688] "GET" "ntopng.user.admin.allowed_ifname"
1481965335.063811 [0 127.0.0.1:55688] "GET" "ntopng.prefs.admin.ifname"
1481965335.063862 [0 127.0.0.1:55688] "GET" "ntopng.user.admin.allowed_nets"
1481965335.063890 [0 127.0.0.1:55688] "GET" "ntopng.user.admin.

[2016-12-19 08:54] wayneshow commented on #646
I have added my google api key into the field above, but the page of "geo map"is not working as before!

[2016-12-19 18:34] emanuele-f commented on #845
Ok, so you must link against libssl 7 because mongoose version ntopng uses requires it. Thank you for your explaination.

[2016-12-19 18:34] #845 closed, assigned to nobody

[2016-12-20 04:20] epodberezkin opened #862 "All Hosts page is always empty"
Page /lua/hosts_stats.lua always shows "No Results Found", but there are >7K hosts. All other pages returns correct info (network_stats, top_hosts, host_details etc.)

[2016-12-20 04:21] epodberezkin commented on #862
Version	2.5.161219 - Community Edition
Built on	Ubuntu 16.04.1 LTS

[2016-12-20 07:48] lucaderi commented on #805
We believe we provided the solution. If not, please reopen the issue and explain the problem more in detail

[2016-12-20 07:48] #805 closed, assigned to lucaderi

[2016-12-20 08:08] wayneshow opened #863 "Why is not the Geo map work?"
I have added my google api key into the field "Google APIs Browser Key" of Preferences, but the page of "geo map"is not working as before! What should I set next?

[2016-12-20 08:38] Uzzi commented on #858
@simonemainardi
-rw-r--r--  1 root  root      51 dic 14 20:10 ntopng.license

[2016-12-20 14:43] simonemainardi commented on #815
pcap requested 14 days ago. Didn't receive any feedback. Closing for inactivity.

[2016-12-20 14:43] #815 closed, assigned to simonemainardi

[2016-12-20 14:55] simonemainardi commented on #859
@michmoor make sure that your instance of ntopng can read packets from the cisco port that carries mirrored traffic. Being on the same LAN doesn't suffice as the switch won't deliver all traffic seen to your ntopng instance, but only the traffic that is directed to the VM.

[2016-12-20 15:26] simonemainardi commented on #863
I've just tried to reproduce and it looks like is working:

![image](https://cloud.githubusercontent.com/assets/3397663/21356187/fa4320e0-c6d0-11e6-8612-cec761a1f51f.png)

please be more specific in reporting the issue. What do you get? If you right-click on the browser and select 'inspect element', do you see any errors?

[2016-12-20 16:02] simonemainardi commented on #858
@Uzzi  did you place ntopng.license under `etc`? The correct path is `/etc/ntopng.license`

[2016-12-20 16:07] Uzzi commented on #858
@simonemainardi
yes /etc/ntopng.license

[2016-12-20 16:15] simonemainardi commented on #858
make sure the file contains just the license string, without heading/trailing spaces or other characters.

[2016-12-20 19:11] Uzzi commented on #858
I've Add on WebGui

[2016-12-21 03:34] wayneshow commented on #863
By clicking F12, I found that because our network can not access Google Maps. Thank you!

[2016-12-21 06:19] #863 closed, assigned to nobody

[2016-12-21 09:05] Uzzi commented on #858
Now Works fine. I've purged and reinstalled all

Thank you

[2016-12-21 10:26] alberk8 opened #864 "Flows logged in MySQL vs Portal"
Hi,

I am aggregating the data flows from the MySQL (flowsv4) table and the sum for in_bytes and out_bytes is way off that shown on screen.

For example, I have client running for 9hrs  on the Portal is showing  received as 3.56G where as the sum in the DB only shows 2.3GB and the same goes for sent bytes.  This happens for all local clients.

The second thing is the data in the FlowsV4 table is r

[2016-12-21 11:56] Uzzi commented on #408
Hi, news about this feature request?

[2016-12-21 12:01] simonemainardi commented on #408
@Uzzi with the current design and implementation we believe that 16 is a reasonable number. We may extend this in the future. You will be notified in this issue.

[2016-12-21 12:05] Uzzi commented on #408
@simonemainardi Thak you
Have a nice day

[2016-12-21 16:27] #862 closed, assigned to nobody

[2016-12-21 17:21] simonemainardi opened #865 "Set host quota triggers an automatic page refresh"
When you change the host quota for an host in bridge mode, the host_details page refreshes automatically. It is requested to prevent this automatic reresh and to add a save button next to the host quota input field.

[2016-12-21 18:54] simonemainardi commented on #864
Hi, thanks for reporting. There was an issue fixed in https://github.com/ntop/ntopng/commit/ff7c61bb9de9f18564e9e45b4189651fd38f52f2 that could result in partial losses for long lived flows. The issue is now solved and new packages will be available tomorrow.

physiological differences that you should expect are between 5 and 10%

this is the standard widely acknowledged way to handle the directio

[2016-12-21 18:54] #864 closed, assigned to nobody

[2016-12-21 20:17] michmoor commented on #859
it can definetly read data coming from the port as its shown in the Active Flows page.
But the real time bandwidth monitoring is just not occurring. Right now I have a video stream that is being port mirrored and the download speed is at 0 bps. Obviously thats not possible but I do see an active flow.

[2016-12-22 08:46] itnas-s opened #866 "BUG "hosts_stats.lua" when sort by column "Traffic""
Hi ntop developer
sorry for my poor english

My OS is Ubuntu 14.04 and ntopng is nightly builds 2.5.161222
When select "Hosts" "hosts_status.lua" and sort by "Traffic". It show "No Results Found"

This BUG are happen in "local_hosts_stats.lua" and "hosts_stats.lua". Other menu are no problem I can sort by column "Traffic"

This BUG happen in nightly builds / in stable no problem

Regards

[2016-12-22 09:10] simonemainardi commented on #859
are you referring to the two small graphs at the bottom of every page? they represent local to remote and remote to local traffic, respectively. Has the host observed been marked as local (see option -m). Also please make sure to use at least ntopng version 2.4

[2016-12-22 09:20] simonemainardi commented on #862
@podber please update ntopng to its latest dev version and it will work

[2016-12-22 09:28] simonemainardi commented on #856
screenshot is not visible

[2016-12-22 09:38] #866 closed, assigned to nobody

[2016-12-22 09:39] simonemainardi commented on #866
thanks for reporting. The issue has been fixed. New packages will be available tomorrow.

[2016-12-22 11:49] #857 closed, assigned to nobody

[2016-12-22 11:50] simonemainardi commented on #857
thanks for reporting. We've found the issue. New packages will be available tomorrow. Please flush redis before trying otherwise you will get deserialized zero first and last seen.

[2016-12-22 15:08] ek-media opened #867 "attempt to call field 'isPcapDumpInterface' (a nil value)"
22/Dec/2016 13:34:28 [Lua.cpp:5521] WARNING: Script failure [/usr/share/ntopng/scripts/lua/index.lua][/usr/share/ntopng/scripts/lua/inc/menu.lua:48: attempt to call field 'isPcapDumpInterface' (a nil value)]
22/Dec/2016 13:34:39 [Lua.cpp:5521] WARNING: Script failure [/usr/share/ntopng/scripts/lua/index.lua][/usr/share/ntopng/scripts/lua/inc/menu.lua:48: attempt to call field 'isPcapDumpInterface'

[2016-12-22 15:42] simonemainardi commented on #867
ntopng version used?

[2016-12-22 16:33] ek-media commented on #867
ntopng Community v.2.5.161010

Met vriendelijke groet / Kind regards,

Emile Kouer
EK-Media B.V.

EK-Media

Adres

Moezel 5
2491CV Den Haag
Nederland

www.ek-media.nl

E-mail

*Algemeen:*
info@ek-media.nl

*Administratie:*
administratie@ek-media.nl

Telefoon

*Kantoor:*
+31 (0)85 27 35 310

*Storing (24/7)*:*
Zie website

* Indien u buiten kantoortijden belt, brengen wij hier extra kosten voor
in

[2016-12-22 17:43] simonemainardi commented on #867
please update to the latest build

[2016-12-22 18:27] Niko78 opened #868 "top local/remote KO"
since few builds in the main page top local/remote hosts are not OK
something changed in "--local-networks" setting ?

ie
--local-networks="161.48.0.0/19,100.64.0.0/16,100.65.0.0/16,100.66.0.0/16,100.77.0.0/16,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16"

and result is
![capture](https://cloud.githubusercontent.com/assets/17108017/21435951/9210f904-c87c-11e6-81b7-093ef962a182.PNG)

even when it is pub

[2016-12-23 05:20] leveryd opened #869 "NetworkInterface.cpp build error on last code pull"
ndpi version is 1.8.0-stable
ntopng version is ntopng-2.4-stable.
i  do what  "ntopng-2.4-stable/doc/README.compilation"  mentions,then occurs a error.
`g++ -g -Wall -I/tmp/ntopng -I/tmp/ntopng/include -I/usr/local/include  -I/usr/include/hiredis -I/tmp/ntopng/third-party/mongoose -I/usr/local/include/json-c   -I/usr/local/include/libndpi-1.8.0/libndpi   -I/tmp/ntopng/third-party/LuaJIT-2.0.3/src

[2016-12-23 05:21] leveryd commented on #869
i do all those on ubuntu 12.04 LTS.
and the kernel information is:
Linux sec 3.8.0-29-generic #42~precise1-Ubuntu SMP Wed Aug 14 16:19:23 UTC 2013 x86_64 x86_64 x86_64 GNU/Linux

[2016-12-23 07:08] epodberezkin commented on #862
Thanks, it works.

[2016-12-23 08:06] Niko78 commented on #868
just upgraded this morning
still not fixed

[2016-12-23 09:04] emanuele-f commented on #869
Please double check that there isn't another nDPI version installed somewhere else in the system. Ideally, you should put the nDPI folder at the same level of ntopng, so in /tmp in your case. We also provide prebuilt stable packages for ubuntu 12, please take a look at http://packages.ntop.org/apt-stable/

[2016-12-24 15:25] Falcosc opened #871 "How to exclude protocols from monitoring or how to aggregate protocol monitoring"
I would like to monitor my internet traffic. Unfortunately I share the same network interface for local network traffic and internet traffic.
I don’t need to exact. It would be enough to exclude SMB from monitoring than I would be able to use the “Traffic” time series.
If this is not possible It would also be also sufficient if there is a way to combine 2 protocol timeseries into one node without

[2016-12-25 15:13] ALIREZA-Z commented on #869
Your branches are not sync together.It seems you use ntopng with dev branch and ndpi with 1.8-stable

[2016-12-25 21:35] lemmy04 commented on #497
Having the same problem, running ntopng 2.4.0 built on openSUSE Leap 42.2... any advice?

[2016-12-25 21:36] lemmy04 commented on #330
Having the same problem, running ntopng 2.4.0 built on openSUSE Leap 42.2... any advice?

[2016-12-26 09:59] emanuele-f commented on #497
@lemmy04 what's the exact error you get?

[2016-12-26 11:43] simonemainardi commented on #871
if you can identify the (hosts and) ports Samba uses, then it would suffice to start ntopng with a BPF filter that excludes traffic matching those (hosts and) ports. For example

`./ntopng --packet-filter "not host 127.0.0.1 and not port 138 and not port 139"`

Keep in mind that all the traffic matching the specified criteria will be excluded so if there are other applications that use the same po

[2016-12-26 13:18] lemmy04 commented on #497
it's ok now, starting ntopng 2.4 when 2.2 is still running does not work well.
I'll open a related issue to the effect that the rc script is not working well on openSUSE. Should have a proper systemd unit in any case.

[2016-12-26 15:27] Falcosc commented on #871
Thank you for your answer.
I thought the packet filter option was for dropping packages because you have features for shaping and blacklisting as well. Maybe it would improve the user guide to make more clear which options are for monitoring flows and which for adjusting flows.

[2016-12-26 18:22] Alestor commented on #868
Same here:
--local-networks "192.168.0.0/16,172.16.0.0/12,10.0.0.0/8"

25/Dec/2016 18:07:43 [AddressTree.cpp:134] [AddressTree] 192.168.0.0/16
25/Dec/2016 18:07:43 [Ntop.cpp:561] Local Networks
25/Dec/2016 18:07:43 [Ntop.cpp:559] Local Interface Addresses (System Host)

[2016-12-26 23:12] ghost opened #872 "Activity Map gone?"
Activity Map is not showing up anymore in Host overview, neither on local hosts nor on remote hosts.
I'm running ntopng 2.5.161226 / armhf package.

[2016-12-27 00:30] ghost opened #873 "Wrong timestamp when using dynamic vlan interfaces"
All flows have timestamp as of 01/01/1970 01:00:00, when using dynamic vlan interfaces.
This also applies to hosts first / last seen, in a short period of time I have 100k+ flows on a home network.
Date on the host that runs ntopng is correct.
Version	2.5.161225 - Community/Embedded Edition
Built on	Raspbian GNU/Linux 8.0 (jessie)

![2016-12-27 01_25_35-welcome to ntopng - chromium](https://cloud.

[2016-12-27 10:30] lucaderi commented on #868
You need to explain more in detail how to reproduce. The above log seems ok

[2016-12-27 10:58] simonemainardi commented on #497
@lemmy04 if you have properly patched the rc script for opensuse please send us a pull request with it. Thank you.

[2016-12-27 11:01] wayneshow opened #874 "My ntopng server have two log, and the page of "interface” do not display the graph."
The logs :
 [Lua.cpp:4755] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/second.lua][/usr/share/ntopng/scripts/lua/modules/graph_utils.lua:833: creating '/var/tmp/ntopng/1/rrd/bytes.rrd': Permission denied]

 [ActivityStats.cpp:88] WARNING: Error writing dump /var/tmp/ntopng/0/activities/16/12/27/192.168.15.134

The page :
![image](https://cloud.githubusercontent.com/assets/24647716

[2016-12-27 11:49] simonemainardi commented on #874
make sure  '/var/tmp/ntopng'  has permissions that allow ntopng process owner to read/write files there. You can also try and delete  '/var/tmp/ntopng' so ntopng will re-create it with the right permissions.

[2016-12-27 11:54] simonemainardi commented on #872
Activity map must be enabled explicitly by starting ntopng with option `--enable-flow-activity`:

![image](https://cloud.githubusercontent.com/assets/3397663/21499157/a1c80986-cc33-11e6-83dc-ba918dfe3f3f.png)

[2016-12-27 11:54] #872 closed, assigned to nobody

[2016-12-27 12:00] simonemainardi commented on #869
solution found and given. Cause was a non-aligned nDPI and ntopng sources.

[2016-12-27 12:00] #869 closed, assigned to nobody

[2016-12-27 12:02] simonemainardi commented on #871
@Falcosc thanks for the feedback.

[2016-12-27 12:02] #871 closed, assigned to nobody

[2016-12-27 12:31] Alestor commented on #868
Hi,

well startup parameter are in /etc/ntopng/ntopng.conf including the -m switch for local network. If more then one network is specified (-m "network1/mask,network2/mask,network3/mask") only network1/mask is recognized as local. ntopng is started via systemd (ExecStart=/etc/init.d/ntopng start)

[2016-12-27 14:45] wayneshow commented on #874
@simonemainardi: I deleted '/var/tmp/ntopng' , and ntopng have re_created it after a while. But the log shows:
27/Dec/2016 22:38:31 [Lua.cpp:4755] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/second.lua][/usr/share/ntopng/scripts/lua/modules/graph_utils.lua:833: creating '/var/tmp/ntopng/1/rrd/bytes.rrd': No such file or directory]

Now, the '/var/tmp/ntopng/1' have no the 'rrd' di

[2016-12-27 16:34] #868 closed, assigned to nobody

[2016-12-27 17:16] simonemainardi commented on #874
@wayneshow delete both /var/tmp/ntopng , flush redis (redis-cli flushdb redis-cli flushall) and then start over.

[2016-12-27 19:19] wayneshow commented on #874
@simonemainardi it does not work after executing 'delete' and 'flush' .

[2016-12-28 12:34] simonemainardi commented on #578
the stacked graph has been made available in the "historical page" in a new entry "Top Profiles"

![image](https://cloud.githubusercontent.com/assets/3397663/21521904/3de11484-cd01-11e6-8270-4f50096672d0.png)

[2016-12-28 12:34] #578 closed, assigned to nobody

[2016-12-28 12:43] simonemainardi commented on #874
@wayneshow please be more specific and report all the commands you executed. Also make sure to use the latest ntopng dev version

[2016-12-28 12:44] simonemainardi commented on #867
@ek-media did you update?

[2016-12-28 13:01] #865 closed, assigned to nobody

[2016-12-28 13:28] ghost opened #878 "local networks not parsed correctly from config"
"Commas separate multiple network values.  Both netmask and CIDR notation may be used, even mixed together, for instance "131.114.21.0/24,10.0.0.0/255.0.0.0"

1. Networks after the first comma are not parsed at all, hosts are marked as remote in overview.
2. netmasks / cidr notation don't match, see screenshots attached.

![2016-12-28 14_01_09-welcome to ntopng - chromium](https://cloud.githubuser

[2016-12-29 01:47] bbabich opened #879 "Repo broken?"
Hi there,

It looks like something is up with your repo:

# apt-get update
....
W: Failed to fetch http://packages.ntop.org/apt/jessie/all/Packages  Hash Sum mismatch
E: Some index files failed to download. They have been ignored, or old ones used instead.

--

# cat /etc/apt/sources.list.d/ntop.list
deb http://packages.ntop.org/apt/jessie/ x64/
deb http://packages.ntop.org/apt/jessie/ all/

---

[2016-12-29 03:34] wayneshow commented on #874
The version is stable,
![image](https://cloud.githubusercontent.com/assets/24647716/21536099/2c6bbb74-cdb9-11e6-85c4-3a735afcf6e1.png)
commands:
rm -fr /var/tmp/ntopng
redis-cli flushdb
redis-cli flushall
service ntopng restart

after all operations, same logs appear. And, the graph can no be displayed.
![image](https://cloud.githubusercontent.com/assets/24647716/21536221/c4d5af36-cdba-11e6-9d36-9

[2016-12-29 09:40] dtrizna commented on #849
In fact there indeed was problem with indexation, that appeared like mentioned data downfalls once in five minutes. I think it is worth to tell about solution within this thread.

In the end it looks like, that problem was due to highly loaded JVM heap.
It is possible to see it consumption with any cluster monitoring tool or simply with cat nodes API: https://www.elastic.co/guide/en/elasticsearch/

[2016-12-29 09:55] cardigliano commented on #879
Hi
it seems it is working for me, did you follow the steps described at http://packages.ntop.org/apt/ <http://packages.ntop.org/apt/> ?

Best Regards
Alfredo

[2016-12-29 17:28] Niko78 opened #882 "100.64.0.0/10 => rfc6598"
in ntop, 100.64.0.0/10 is considered as subnet block as other while it is not
even more 100.66.0.0/16 appears with ASN TOT Public Company Limited in ntop
![10066](https://cloud.githubusercontent.com/assets/17108017/21549735/9595b006-cdf4-11e6-80ad-6612cafa42db.PNG)

100.64/10 is Shared Address Space (rfc6598 : https://tools.ietf.org/html/rfc6598) so should appear like this in ntop

Nicolas

[2016-12-29 17:55] simonemainardi commented on #874
you are using version 2.4.x that is not the latest dev version. Please change your repos and use the latest nightly build (that is, a 2.5.x)

[2016-12-29 17:55] simonemainardi commented on #867
solution given. Closing for inactivity.

[2016-12-29 17:55] #867 closed, assigned to nobody

[2016-12-29 18:06] simonemainardi commented on #878
presently /CIDR notation is not supported, only the number of bits. Would you be able to help us to add that support? The function you should extend is ` Utils::ptree_add_rule`

[2016-12-29 18:16] simonemainardi commented on #849
Thanks for reporting your experience.

As you are on a single node, did you try with just one shard? I am curious to see how the system behaves with just one shard.

[2016-12-29 18:35] simonemainardi commented on #882
IP in that range are properly categorized in the latest build, that is, no AS is assigned:

![image](https://cloud.githubusercontent.com/assets/3397663/21550915/c5578356-cdfd-11e6-9eba-704efc34f587.png)

please try to update to the latest version and do:
- `make geoip` if you are building from sources
- update package ntopng-data if you are working with packaged versions

[2016-12-29 19:07] vegeta-x2 opened #883 "No Data Showing"
Hi, I am testing out ntopng and I have installed i ton centos 6.8 I have everything that needs to be installed I am pointing my pfsense firewall sflow to this server.  I see netflow data reaching this box once I enable logging on nprobe but when I loggin to ntopng no data on netflow, host, network, AS, etc is being shown has anyone run into this issue before and maybe let me me know if I am missin

[2016-12-30 04:59] bbabich commented on #879
Looks like it magically started working again :)

[2016-12-30 04:59] #879 closed, assigned to nobody

[2016-12-30 09:26] dtrizna commented on #849
Yeah, I've tried such config also, but for short period of time, and I've seen that total amount of logs decreased for ~10%. But.. For now I think that this wasn't related actually with shard configuration.

While reading related topics in web I've understood - with indices, that size is lower than 30 GB, it's good practice to have 1 shard per index per node.
So I'm planning to migrate to 1 shard

[2016-12-30 14:06] HontoNoRoger commented on #706
Just tried the newest version on Ubuntu 16.04 stable repo, where it's not working.
When will a stable version with Chrome support be released to address this issue?
Thanks.

[2016-12-30 15:01] ipbowker commented on #856
Classification: UK OFFICIAL
Trying again. Please see attached.

[2016-12-30 17:21] robertdxyz commented on #706
I was able to reproduce it too

[2017-01-01 23:18] holabolamola2 opened #889 "No traffic"
Hello
there is no traffic in all interfaces the log shows:

[code]
I'm running on windows 8.1 ,I tried reinstalling it same problem.

# Update:
Now it's working as what @emanuele-f said , but it's not catching VPN traffic , can it be cached?

[2017-01-02 08:38] emanuele-f commented on #889
From the log, it seems like your system clock has changed backward, but after 4:18:39 AM it should work again, does it?

[2017-01-02 08:57] emanuele-f commented on #856
The screenshot is still not visible, please submit it via the github platform

[2017-01-02 14:05] jbeney opened #890 "Generate a report depending of the network equipment that sends the data"
Hello,

We have a customer with a pro license that has NETFLOW activated on different equipments sending their data to the same NTOP instance.
They would like to generate different reports (report A for router A, report B for router B) and avoid to have all info in the same report.
Is there a way to 'tag' the data in order that NTOP can generate a report depending of the network equipment that sen

[2017-01-02 19:22] simonemainardi commented on #890
you should create dynamic interfaces on the basis of the Probe IP Address or Ingress Fow Interface:

![image](https://cloud.githubusercontent.com/assets/3397663/21594960/000ccd3e-d129-11e6-80f7-814051617801.png)

this will keep the traffic separated and you will be able to generate reports for every equipment

[2017-01-02 19:22] #890 closed, assigned to nobody

[2017-01-02 19:49] holabolamola2 commented on #889
@emanuele-f yes it did thank you (:

[2017-01-02 20:57] #889 closed, assigned to nobody

[2017-01-02 20:58] lucaderi opened #891 "Misleading MySQL Upgrade Message"
Sometimes MySQL needs to perform some tasks that are misinterpreted by ntopng. This is bad as the information returned is misleading, and it needs to be fixed.

Example
mysql> show processlist;
+----+------+-----------+--------+---------+------+----------------------+------------------------------------------------------------------------------------------------------+
| Id | User | Host      | db

[2017-01-02 21:01] lucaderi opened #892 "Invalid information entered in data pane"
In the host report pane, it is possible to write date by hand. This needs to be fixed as users can enter invalid information. The field must be set read-only.

<img width="907" alt="screen shot 2017-01-02 at 21 59 27" src="https://cloud.githubusercontent.com/assets/4493366/21596114/ce6c33f6-d136-11e6-9e9e-7c0577562e09.png">

[2017-01-02 21:12] lucaderi opened #893 "Invalid MAC address number reported in GUI"
ntopng reports an invalid number of MAC addresses. The footer page reports 5 devices, the device list reports only 3 devices. This information is inconsistent and misleading.

<img width="1209" alt="screen shot 2017-01-02 at 22 10 05" src="https://cloud.githubusercontent.com/assets/4493366/21596207/515b40ee-d138-11e6-971d-876d93805b54.png">

[mac.pcap.zip](https://github.com/ntop/ntopng/files/6813

[2017-01-02 21:43] lucaderi opened #894 "Disable bridging when bridged interfaces have an IP address"
ntopng in bridge mode (no netfilter) must refuse to start when bridged network interfaces have an IP address configured.

[2017-01-02 21:46] lucaderi opened #895 "Disable DHCP for bridged interfaces"
When ntopng is used in bridge mode, it must avoid transmitting Bootstrap/DHCP packets whose source MAC address (and client MAC address inside the Bootstrap/DHCP packet) is one of the bridged interfaces.

[2017-01-03 02:21] itnas-s opened #896 "No "custom host name" in nightly builds 2.5.170103"
Hi
and sorry for my poor english
No "custom host name" in nightly builds 2.5.170103

I think the "custom host name" is very usefull, on some device it no host name such as android phone

[2017-01-03 08:41] emanuele-f commented on #896
Hi, I'm not able to reproduce this. Do you see any errors in the ntopng log? What OS are you using?

[2017-01-03 08:53] itnas-s commented on #896
my OS is Ubuntu 14.04
![image](https://cloud.githubusercontent.com/assets/24326638/21603037/bf9d689a-d1cc-11e6-994a-439d32d2f817.png)

in previous version I can custom host name

[2017-01-03 09:16] Niko78 commented on #882
just updated (and with ntopng-data 2.5.170103)
it still appears as TOT on my side

[2017-01-03 09:19] anubisg1 commented on #532
i have the exact same issue. Ntop won't start at boot even if is configured to do so.

[2017-01-03 09:25] anubisg1 commented on #532
[code]

[2017-01-03 09:32] anubisg1 commented on #532
It seems that when you install ntopng, ntopng and redis-servers get added into the start-up process (rc.d) at the same level of priority, and ntopng requires redis-server to start first.

chanign this line:

[code]

to this:

[code]

fixed it for me it seems

[2017-01-03 09:34] ipbowker commented on #856
![ntop sc1](https://cloud.githubusercontent.com/assets/24543919/21603816/d0dc9c32-d197-11e6-85a1-33024c0c7bd3.png)

[2017-01-03 09:39] anubisg1 commented on #532
false alarm, it didn't work on 2nd reboot

[2017-01-03 10:24] simonemainardi commented on #894
Implemented

[code]

I suggest @ValentinaViscarelli  to disable network configuration for interfaces used as bridge in the nBox:

![image](https://cloud.githubusercontent.com/assets/3397663/21605030/c96ab100-d1a6-11e6-92a4-9d6104c8f475.png)

[2017-01-03 10:24] #894 closed, assigned to simonemainardi, ValentinaViscarelli

[2017-01-03 10:43] emanuele-f commented on #856
Plese enter whole numbers in preferences, 0.5 is not valid

[2017-01-03 10:57] filemoon commented on #878
I'd like to confirm local network are broken.

config:
-G=/var/log/ntopng.pid
-d=/var/lib/ntopng
-i=tcp://127.0.0.1:5556
-m="10.0.1.0/24,10.0.2.0/24,10.0.0.0/24"
-n=1
-X=100000
-x=16000
version:
![screen shot 2017-01-03 at 10 55 35](https://cloud.githubusercontent.com/assets/14888287/21605780/313fd9bc-d1a3-11e6-93e6-dd73f26379e0.jpg)

log:
![screen shot 2017-01-03 at 10 54 55](https://cloud.github

[2017-01-03 11:04] simonemainardi commented on #878
@filemoon fix has been introduced on Dec 27 (https://github.com/ntop/ntopng/commit/476e43d677f860010c7895c402e62458336a6529) please update to the latest dev version and report. thank you

[2017-01-03 11:13] ipbowker commented on #856
I have amended both the 0.5 options to 1.  No apparent difference.

[2017-01-03 11:24] filemoon commented on #878
Hi.

Thank you for update.

I have latest version from repository.
I will wait until arm repository is updated.

[2017-01-03 11:29] emanuele-f commented on #856
You need to rebuild the RRD files, please remove /var/tmp/ntopng and try again. Note: that this will remove any existing data

[2017-01-03 14:11] ipbowker commented on #856
I've completed this step also with no improvement.  I've also noted that NTOPNG stopped logging traffic from the remote probe approx. 30 minutes after restarting NTOPNG.
![sc2](https://cloud.githubusercontent.com/assets/24543919/21610186/8f737258-d1be-11e6-8b0e-0efd217e3c7e.png)

[2017-01-03 14:33] iPhosphoR opened #897 "Bandwidth Ntopng I don't understand !"
Hi !
I used Ntopng since 1 month ago, i'm a newbie and I still do not understand where to find the bandwidth of each machine, what I do not understand is that when I download a file of 1 GBytes with a download speed of 1.25 MBytes/s ntopng tells me 365 Kbit/s.
Help me !

![ntopng](https://cloud.githubusercontent.com/assets/24895578/21610719/f76c6440-d1c9-11e6-8120-41c814bf8441.png)

[2017-01-03 15:13] ValentinaViscarelli commented on #822
@IvnSoft
Sorry for delay. I verified "NF_QUEUE receive error" and I included the code you proposed us.
You can find this modify in tomorrow release.
Thanks very much.
About the speed I cannot verify the speed problem you said.
I made these tests with a ftp transfer:
1) just with ip forwarding (without nfqueue and ntopng) I got about 40 MBytes/sec.
2) with nfqueue and ntopng activated and with just

[2017-01-03 15:13] #822 closed, assigned to ValentinaViscarelli

[2017-01-03 17:06] emanuele-f commented on #856
Can you try to start ntopng with local interfaces only (no remote probe) and post its entire log? Do you still see the *Script failure* warning? If you go into the flows page, do you see flows protocols being recognized? If you go into the local interface configuration pages on ntopng, do you see dropped flows?

[2017-01-03 17:19] emanuele-f commented on #897
You can find host information such as istantaneous bandwidth in the hosts page, the one in your screenshot. Moreover, from the host page, cliking the chart icon in the navigation bar will bring you to the graphs page, where you can see the throughput during time, which is probably what you want.

Please note that, in the simple setup, in order to monitor your network you need traffic to pass throu

[2017-01-03 18:10] ghost commented on #873
Hi, any updates on this? Can you reproduce it or is there a problem with my installation?

[2017-01-03 18:36] nate-byrnes opened #899 "Web App unresponsive after upgrading to v.2.5.170102"
On 2-Jan-2017 I upgraded from the release in the debian repo (packages.ntop.org) as of december 1st (unfortunately I did not record that version number). After the ntopng process has been running for a few hours, the server becomes so busy that the web application no longer loads. From what I can see there is a new way VLAN's are handled in the UI. I don't know if that change propogates all the wa

[2017-01-03 18:41] emanuele-f commented on #899
Please specify the command line / service options of your ntopng instance

[2017-01-03 18:43] nate-byrnes commented on #899
```/usr/bin/ntopng /etc/ntopng/ntopng.conf```

and ntopng.conf is:
[code]

[2017-01-03 18:47] simonemainardi commented on #899
@nate-byrnes if you try and `strace` the ntopng process do you see any suspicious activities (e.g., recurrent i/o activities)?

Please, report some output. Thank you

[2017-01-03 18:50] lucaderi opened #900 "Bridging interface check"
When starting ntopng in bridge mode (-i bridge:X,Y) it is compulsory to avoid starting it if at least one interface is part of a bridge. This does not apply for ZC interfaces.

[2017-01-03 18:58] nate-byrnes commented on #899
Well.... When running strace -f -p 11245 -e trace=desc -o strace.out for only 10 seconds I get the output in the attached file
[strace.out.zip](https://github.com/ntop/ntopng/files/683001/strace.out.zip)

I have no idea what to look for in terms of abnormality. I'd be happy to run strace with other filters as needed.

[2017-01-04 03:52] itnas-s commented on #896
OK I Close this issue
solved by remove ntopng and reinstall (apt ubuntu)

Thank you

[2017-01-04 03:52] #896 closed, assigned to nobody

[2017-01-04 08:39] tieungao88 commented on #433
How to update IN_SRC_MAC and OUT_DST_MAC on current version (2.2)?

Thanks

[2017-01-04 08:59] iPhosphoR commented on #897
No, what I mean is that I mean is that I have connection is capping at about 2 MB / s whereas ntopng tells me that I am at 350 KB / s downloading about what I think Should not be:

Here I see that I have a connection of 2 MB / s
![ping](https://cloud.githubusercontent.com/assets/24895578/21636824/69072ce4-d264-11e6-91b5-63432f8cda53.png)
![convert](https://cloud.githubusercontent.com/assets/248955

[2017-01-04 09:04] ipbowker commented on #856
Log since restart.
04/Jan/2017 08:56:46 [Ntop.cpp:561] Adding fe80::215:17ff:feb9:3a02/64 as IPv6 local network for eth2
04/Jan/2017 08:56:46 [NtopPro.cpp:291] [LICENSE] Maintenance is available until Tue Dec 5 17:17:39 2017 [335 days left]
04/Jan/2017 08:56:46 [NtopPro.cpp:270] [LICENSE] ntopng license: 55A1ED87CD0652F9A239413DA53F765C1512494259B1BE451A
04/Jan/2017 08:56:46 [NtopPro.cpp:259] [LIC

[2017-01-04 09:05] emanuele-f commented on #897
How is your ntopng-running machine connected to the rest of your network? In order to monitor your entire network your need to setup a bridge or mirror the traffic.

[2017-01-04 09:11] iPhosphoR commented on #897
Yes I did a mirroring on the switch affect

[2017-01-04 09:21] emanuele-f commented on #897
Do you see dropped flows into the interface view? If not, please double check your mirroring configuration in the switch. Do you have VLANs?

[2017-01-04 09:42] ipbowker commented on #856
Dropped packets have now ramped up to 24% !?

[2017-01-04 09:44] emanuele-f commented on #856
Is the CPU usage high?

[2017-01-04 10:34] simonemainardi commented on #433
@tieungao88 update at least to version 2.4

[2017-01-04 10:38] simonemainardi commented on #859
solution given. Closing for inactivity

[2017-01-04 10:38] #859 closed, assigned to simonemainardi

[2017-01-04 10:39] simonemainardi commented on #817
@KUV-VOKL do you have any updates?

[2017-01-04 10:45] simonemainardi commented on #883
@vegeta-x2 it seems that flows can't reach the ntopng.

I noticed that you used local `127.0.0.1` for both ntopng and nprobe. Are they running on the same box? Try to set the nProbe as `probe --zmq "tcp://*:3001" -i none -n none -b 1 --collector-port 2055`

If it still doesn't work, please post the ntopng logs and try to capture with tcpdump the traffic on port 3000 to see if the flows are travell

[2017-01-04 10:50] iPhosphoR commented on #897
I checked, the mirror is correct. This may be due to the configuration of the 2 network cards?

[2017-01-04 10:59] ipbowker commented on #856
Not really.
top - 10:56:14 up 22 days, 4 min,  1 user,  load average: 2.83, 2.64, 2.56
Tasks: 200 total,   1 running, 199 sleeping,   0 stopped,   0 zombie
Cpu(s):  1.4%us,  0.5%sy,  0.0%ni, 82.9%id, 15.1%wa,  0.0%hi,  0.1%si,  0.0%st
Mem:   1921120k total,  1850612k used,    70508k free,   323480k buffers
Swap:  4128764k total,    20568k used,  4108196k free,   801528k cached

  PID USER      PR

[2017-01-04 11:07] simonemainardi commented on #897
Don't use the speedtest to do the comparisons. The speedtest does speed estimations using multiple factors and so it is not necessarily accurate.

However, I argue that the switch isn't mirroring you all the traffic. I assume you have 2 network cards connected to your pc, one that does the actual traffic (A) and another one that receives mirrored traffic from the switch (B). Check mirror configura

[2017-01-04 11:10] emanuele-f commented on #899
Please run strace for at least 1 minute adding the -tt option and post the result, thank you

[2017-01-04 11:16] simonemainardi commented on #899
@nate-byrnes do you think it is possible to connect to your box and see? If affirmative, please send the credential as already done in the past. Thank you

[2017-01-04 11:20] iPhosphoR commented on #897
I check this now!

[2017-01-04 11:25] simonemainardi commented on #897
ok let us know

[2017-01-04 12:34] iPhosphoR commented on #897
There is no worry I keep you informed

[2017-01-04 15:42] nate-byrnes commented on #899
@simonemainardi Just sent the credentials to your mainardi@ntop.org email address.

Regards,
Nate

[2017-01-04 18:45] nate-byrnes commented on #899
Here is one minute of strace output with the -tt option
[strace.out.zip](https://github.com/ntop/ntopng/files/685119/strace.out.zip)

[2017-01-04 18:46] tieungao88 commented on #433
Thanks :)

[2017-01-04 18:58] tieungao88 opened #901 "Elasticsearch data display not realtime"
Dear simonemainardi,
When I use NTOPNG 2.2, data display from elasticsearch is realtime but when update to NTOPNG 2.4 data display from elasticsearch not realtime.  Can you resolve the problem?

Thanks you.

[2017-01-05 03:27] tieungao88 commented on #901
Today, I recived error: `[ElasticSearch.cpp:57] WARNING: [ES] Export queue too long [32768]: expect drops`. It is reason for error. Can you suggest me resolve the problem?

Thanks

[2017-01-05 08:07] Consuelnetwork opened #903 "License mismatch error"
Hello

We have a problem with our Nprobe server.

We had a lot of issue with our servers monday, and we had to migrate some virtual machines.
When our Nprobe server was rebooted, it now show us this message at start :
ERROR: Invalid nProbe license (/etc/nprobe.license) [License mismatch error]

Our order ID is : 1461928301

I can provide System ID and license file actually used if necesserary.

Th

[2017-01-05 09:54] simonemainardi opened #904 "Bandwith Manager input fields"
It is not possible to save when setting an input field
![image](https://cloud.githubusercontent.com/assets/3397663/21676178/ffc71862-d334-11e6-993a-1ce7b5a0ddfa.png)

However, if you stop typing for a second and then delete/add extra digits, then the save button becomes enabled

[2017-01-05 09:59] simonemainardi commented on #901
@tieungao88

I guess the issue is not due to ntopng but to the ES node that is not able to receive all the data sent by ntopng. Can you please try on an empty ES node?

Also pease see this interesting discussion: https://github.com/ntop/ntopng/issues/849

[2017-01-05 12:06] KUV-VOKL commented on #817
i made:
apt-get update
apt-get upgrade
reboot

now:
i can swich of allerts, but after i have made the netfilter again for eth1 and eth2, the traffic is stil NOT going through the netfilter like this:

iptables -A FORWARD -i eth1 -j NFQUEUE --queue-num 0
iptables -A FORWARD -i eth2 -j NFQUEUE --queue-num 0

on my win-clients a can perform a
tracert google.de
but i get this:
  1    <1 ms     *

[2017-01-05 13:39] simonemainardi commented on #899
@nate-byrnes thanks for providing the trace.

There is a huge amount of IO every second. More precisely, it looks like ntopng is saving statistics for every interface in the system and not only for the four interfaces you specified. The following excerpt of the strace confirms what I am saying. Every integer number after `/var/tmp/ntopng` represent a different interface.

[code]

So, can you pleas

[2017-01-05 13:43] simonemainardi commented on #903
Please, follow the instructions at: http://www.ntop.org/support/faq/how-can-i-move-a-license-to-a-new-server/

[2017-01-05 13:43] #903 closed, assigned to nobody

[2017-01-05 14:26] nate-byrnes commented on #899
@simonemainardi  There are only 6 interfaces on the system. The one time I was able to log into the webui I saw that ntopng was presenting the VLAN's as interfaces. I have 17 VLAN's, and they will be apparent to 2 interfaces at a time based upon how my port mirroring and router interface bonding are set up. The last version of ntopng I was running did not present the VLAN's as interfaces. VLAN's a

[2017-01-05 14:55] simonemainardi commented on #899
I logged into your box and found that you have dynamic VLAN creation enabled.

[code]

This option creates virtual interfaces based on VLAN tags. This is why you have soo many interfaces.

I can't understand why it's enabled as it is OFF by default and you said you didn't touch it.

Anyway, now I have removed the key from redis

[code]

So if you restart ntopng the load should reduce significantly

[2017-01-05 15:12] simonemainardi commented on #899
Here's the corresponding preferences toggle:

![image](https://cloud.githubusercontent.com/assets/3397663/21685406/bdfe450e-d361-11e6-83bd-8dcc094ea0b4.png)

[2017-01-05 15:30] nate-byrnes commented on #899
It turns out we did set that preference. Thank you for taking the time to investigate the root cause. I guess we'll need to upgrade this server with some SSD's if we'd like to turn this setting on. Thanks again!

[2017-01-05 15:37] simonemainardi commented on #893
fixed in https://github.com/ntop/ntopng/pull/902

[2017-01-05 16:35] ipbowker commented on #856
I am now seeing stats, but am clocking packet losses still.
![sc3](https://cloud.githubusercontent.com/assets/24543919/21688479/e3d64bde-d364-11e6-8a79-86f583a42d17.png)

[2017-01-05 16:42] simonemainardi commented on #856
@ipbowker please try and update to the latest dev build as  x86_64 v.2.4.161220 might contain some performance bottlenecks. Please report the behaviour after the update.

[2017-01-05 21:18] #893 closed, assigned to simonemainardi

[2017-01-05 23:24] simonemainardi commented on #878
@filemoon the new arm build is cooked. Please try that out and let us know.

[2017-01-06 00:49] ghost commented on #878
just wanted to confirm that the issue has been fixed in the current release, thanks

[2017-01-06 01:15] ghost opened #906 "remote host name showing name of local gateway"
all remote hosts have the name of the local gateway instead of the DNS PTR record. In this case it should be video-edge-c2b67c.fra02.hls.ttvnw.net. ntopng is started with -n=1. Version 2.5.170105
![2017-01-06 01_58_52-welcome to ntopng - chromium](https://cloud.githubusercontent.com/assets/7170155/21703700/43b527ce-d3b4-11e6-9776-157fa9d7cfdc.png)
![2017-01-06 01_59_28-welcome to ntopng - chromium

[2017-01-06 08:31] filemoon commented on #878
Issue sorted - thank you.

[2017-01-06 17:01] chasgames opened #907 "PPP supported?"
Hi

Is there a way to search in ntop by PPP username (radius), instead of IP address?

Thanks

[2017-01-06 19:20] ValentinaViscarelli commented on #900
Fixed.

[2017-01-07 08:17] lucaderi opened #908 "ntopng package does not perform restart after upgrade"
On Ubuntu (on CentOS this bug https://github.com/ntop/PF_RING/issues/170 must be fixed first to verify the problem) when the ntopng package is upgraded while ntopng is running, the upgrade is performed properly but ntopng is not restarted after the upgrade (i.e. the application is stopped but not restarted when the upgrade ends). The same issue is observed to other packages (e.g. nprobe). This mus

[2017-01-07 09:55] lucaderi commented on #817
@KUV-VOKL the nfqueue mechanism is a way to tell the linux kernel to send packets to this special queue where ntopng is listening to. In this configuration all the routing/bridging is implemented by the kernel, and ntopng is inspecting the traffic. So forget ntopng for a second (that is passive) and make sure that the basic networking is ok on your system. I believe that having eth1 and eth2 on th

[2017-01-07 09:55] #817 closed, assigned to ValentinaViscarelli

[2017-01-07 16:14] ValentinaViscarelli commented on #895
@lucaderi
Currently ntopng used in bridge mode avoids to transmit packets (between bridged interfaces) whose source or destination mac address is one of the bridged interfaces. Can you say that issue #895 is resolved from this condition?

[2017-01-07 17:26] lucaderi commented on #895
We're mostly ready: the only missing piece is to do this check for Bootstrap/DHCP packet also for client Mac address that unless DHCP relay is used it should be identical to the MAC of the packet. Done this you can close this issue.
![screen shot 2017-01-07 at 18 25 39](https://cloud.githubusercontent.com/assets/4493366/21743650/bbbf4eea-d506-11e6-9648-5c316416e1f2.png)

[2017-01-07 17:53] emanuele-f commented on #904
If 10000 it's the current shaper max_rate value, backed by redis, then it is expected save button to be disabled.
If the redis value is an empty value, that is a bug, since empty fields max rate fields should not be allowed (fixed in #905)

[2017-01-07 18:18] emanuele-f commented on #892
This should is fixed in the private branch part of #905

[2017-01-08 10:39] simonemainardi commented on #878
thanks for reporting @olliff @filemoon

[2017-01-08 10:39] #878 closed, assigned to nobody

[2017-01-08 11:10] simonemainardi commented on #907
In order to dissect radius traffic you should combine ntopng with nProbe. The nProbe radius plugin allows you to extract the following information:

[code]

Once you have this nProbe plugin enabled, you can use ntopng to collect the data and store the fields above (including the username) in a database. You will then be able to search the database for the users of interest.

[2017-01-08 13:48] chasgames commented on #907
Awesome thanks very much

[2017-01-08 13:49] #907 closed, assigned to nobody

[2017-01-08 14:13] ValentinaViscarelli opened #909 "DHCP traffic doesn't pass through the bridge if ntopng is used in bridge mode."
Using ntopng in bridge mode, sometimes the hosts are not able to get ip address via dhcp request.

[2017-01-08 14:16] ValentinaViscarelli commented on #909
Fixed.
DHCP traffic isn't relevant, it happened with any type of traffic.

[2017-01-08 14:16] #909 closed, assigned to ValentinaViscarelli

[2017-01-08 15:21] ValentinaViscarelli commented on #895
Fixed.

[2017-01-08 15:21] #895 closed, assigned to simonemainardi, ValentinaViscarelli

[2017-01-09 06:28] freebooterish opened #910 "compile error"
./autogen.sh
./configure
make
.........
src/Lua.cpp: In function 'int ntop_get_ndpi_protocols(lua_State*)':
src/Lua.cpp:2427:27: error: 'NDPI_PROTOCOL_NUM_CATEGORIES' was not declared in this scope
     if(category_filter >= NDPI_PROTOCOL_NUM_CATEGORIES)
                           ^
src/Lua.cpp: In function 'int ntop_get_ndpi_categories(lua_State*)':
src/Lua.cpp:2444:21: error: 'NDPI_PROTOCOL_NUM_

[2017-01-09 08:01] iPhosphoR commented on #897
I think this would come from the installation of ntopng and its packages as well as the configuration of files and network cards ... Would you mind to advise me a good tutorial or at best offer me one?

[2017-01-09 08:59] simonemainardi commented on #910
@freebooterish update nDPI to the latest version and it will work

[2017-01-09 08:59] #910 closed, assigned to nobody

[2017-01-09 09:05] ryu80 opened #911 "FIRST_SWITCHED and LAST_SWITCHED on Elasticsearch"
Hello,
i started to use ntopng with Elastricsearch/kibana and i would like to calculate the bandwidth mean  like this
BYTES_SENT / (LAST_SWITCHED - FIRST_SWITCHED)
anyway sometimes the 2 times are equal (because the flow duration is less than 1 second i presume) and is not possible to calculate the bandwidth.
On the nprobe manual i see they should display
"SysUptime (msec) of the firs/last flow pk

[2017-01-09 09:35] simonemainardi commented on #900
we should also check whether the interface itself is not a bridge. In that case, a folder `bridge` exists under `/sys/class/net/dev_name`. :

[code]

[2017-01-09 09:38] ipbowker commented on #856
I am unable use dev builds on this system as the build tools contravene some of the security policies.  When is the next stable build due?  Alternatively can I roll back to an early version where this issue didn't occur?

[2017-01-09 09:38] simonemainardi commented on #882
updated `ntopng-data` package contents yesterday. Please try again

[2017-01-09 09:48] tbo2k9 opened #912 "ntopng database schema upgrade on every restart"
There are already 2 tickets related to this issue. But it still not fixed.

We are on the stable repository.
ntopng --version
v.2.4.170109 [Professional Edition]
GIT rev:   2.4-stable:141c778cd94103c876cc75ad2dad74d27ae97c68:20170109
Pro rev:   r642

2 weeks ago we buyed and installed ntopng.
Since then we got 25 GB of mysql data.
But on every restart the datase schema is updated, which takes a ve

[2017-01-09 09:49] ValentinaViscarelli commented on #900
I already added this case. Have you tried to test it?
I don't understand what I'm missing.

[2017-01-09 09:50] simonemainardi commented on #856
@ipbowker I checked the sources right not and didn't notice anything in v.2.4.161220 that should be stable ad safe. For this reason I think we should see the ntopng configuration file used. Please post it. In addition, it is important to understand the number of local hosts you have, as well as the total number of hosts and flows monitored.

A minute of `strace` with option `-tt` should help as we

[2017-01-09 09:54] Niko78 commented on #882
I can confirm, now it's fixed
thx

[2017-01-09 09:54] simonemainardi commented on #900
@ValentinaViscarelli I've inspected the sources and found the following checks ` sprintf(folder, "/sys/class/net/%s/brport/", dev1);`

Those checks properly determine if the interface belongs to a bridge but not if the interface is a bridge itself. Isn't it?

[2017-01-09 09:54] simonemainardi commented on #882
thanks for reporting

[2017-01-09 09:54] #882 closed, assigned to nobody

[2017-01-09 10:18] ValentinaViscarelli commented on #900
@simonemainardi
It doesn't seem this is part of request of the issue.
Anyway I will add this check.

[2017-01-09 10:52] ipbowker commented on #856
ntopng.conf
-G=/var/run/ntopng.pid
--daemon
--http-port=10.100.10.25:3000

#What are our sources
# --interface=tcp://10.100.10.25:2055
--interface=eth2
--interface=tcp://10.97.10.25:2055
--local-networks="xx.yy.92.0/27,xx.yy.92.32/27,146.80.0.0/16"

#Only resolve what you've sniffed from DNS packets.
--dns-mode=2

The number of active local hosts in the 146.80.0.0 subnet is approx. 3000.  I am see

[2017-01-09 11:13] ipbowker commented on #856
[ntopng-trace.txt](https://github.com/ntop/ntopng/files/693278/ntopng-trace.txt)

[2017-01-09 11:47] simonemainardi commented on #912
@tbo2k9 can you please post the output of `show processlist;` in mysql while the update is in progress?

We already fixed that issue for other users and ported the fix to the stable : https://github.com/ntop/ntopng/issues/741

what is the os of the system you're using?

[2017-01-09 12:17] tbo2k9 commented on #912
I am running debian 8.6
I had mariadb 10.0.(some minor) delievered with debian 8.
Currently I am running mysql 5.7 from repo.mysql.com which did not fix the problem.

The background query was "ALTER TABLE flowsv4 ENGINE='MyISAM'" showing in processlist by ntopng.
Exactly like in the other tickets.

But apparently the problem does not to exist any longer.
After some restarts of ntopng I saw 3 "ALTE

[2017-01-09 12:17] #912 closed, assigned to simonemainardi

[2017-01-09 15:54] simonemainardi commented on #891
changed the message and added the operations currently performed on the database

![image](https://cloud.githubusercontent.com/assets/3397663/21772611/4ab1ade2-d68c-11e6-89e2-5bd46951c42b.png)

[2017-01-09 15:56] iPhosphoR commented on #897
I find some things weird, I feel that my local and eth0 are taking part of the bandwidth so I do not have the full bandwidth, am I wrong?
![eth](https://cloud.githubusercontent.com/assets/24895578/21772678/7eb0dd0c-d68c-11e6-923a-8469b5247d52.png)

[2017-01-09 15:59] #891 closed, assigned to simonemainardi

[2017-01-09 16:13] simonemainardi commented on #897
@iPhosphoR no, each interface is separated and bandwidth is not shared among different interfaces. Please post the current configuration you are using and we'll try to help.

[2017-01-09 16:19] iPhosphoR commented on #897
I can send you the tutorial page that I followed

[2017-01-09 16:23] simonemainardi commented on #897
ok but also send the configuration file used or visit page runtime status and attach the contents

![image](https://cloud.githubusercontent.com/assets/3397663/21773685/4717b380-d690-11e6-84fa-85703860afa8.png)

[2017-01-09 16:26] iPhosphoR commented on #897
I send you that tomorrow at the first hour

[2017-01-09 17:17] lucaderi opened #914 "Periodic counters reset"
ntopng counters are absolute and they never reset. However it would be beneficial to add the option to periodically reset counters (e.g. at midnight) or on demand (e.g. via the GUI when logged in as administrator)

[2017-01-09 22:12] ValentinaViscarelli commented on #900
Implemented.

[2017-01-09 22:12] #900 closed, assigned to simonemainardi, ValentinaViscarelli

[2017-01-10 01:45] lucaderi commented on #911
I think you can just do BYTES_SENT / (LAST_SWITCHED - FIRST_SWITCHED + 1) and fix your problem.

[2017-01-10 01:49] lucaderi commented on #860
Implemented

[2017-01-10 01:49] #860 closed, assigned to simonemainardi

[2017-01-10 01:54] lucaderi opened #915 "Preferences layout broken"
It looks like the layout of the preferences is now broken after the recent changes made
<img width="958" alt="screen shot 2017-01-09 at 17 49 00" src="https://cloud.githubusercontent.com/assets/4493366/21790984/9b6da8d2-d694-11e6-8833-f08dd45bc800.png">
<img width="822" alt="screen shot 2017-01-09 at 17 48 33" src="https://cloud.githubusercontent.com/assets/4493366/21790985/9b707c88-d694-11e6-9d8f

[2017-01-10 02:09] lucaderi opened #916 "Preferences log level broken"
Changing the log level, modifies the icon of the search button instead of the preference one. The bug is documented below.
<img width="359" alt="screen shot 2017-01-09 at 18 02 19" src="https://cloud.githubusercontent.com/assets/4493366/21791229/469bfa32-d696-11e6-938d-fecd2e4d4896.png">

<img width="275" alt="screen shot 2017-01-09 at 18 03 33" src="https://cloud.githubusercontent.com/assets/4493

[2017-01-10 08:18] iPhosphoR commented on #897
Runtime Status :
![ntopng pid](https://cloud.githubusercontent.com/assets/24895578/21798572/7ecdb1a0-d715-11e6-990a-ccc0074a625e.png)

Ntopng.conf :
![capture d ecran de 2017-01-10 09 12 56](https://cloud.githubusercontent.com/assets/24895578/21798595/9d0c36e6-d715-11e6-99e3-840d94510874.png)

Tutorial page :
![tuto](https://cloud.githubusercontent.com/assets/24895578/21798621/c7ce25ec-d715-11e6-9

[2017-01-10 09:39] ipbowker opened #917 "Traffic from remote nProbe drops off from NTOPNG."
When I first start ntopng, I see traffic from my remote nProbe server.  After anything between 3 - 36 hours, the interface view and other views of the nProbe traffic show no traffic.

Restarting ntopng, brings it back to life again until next failure.

nprobe-eth2.conf
-i=eth2
--zmq=tcp://10.97.10.25:2055
-G
-n=none

ntopng.conf
-G=/var/run/ntopng.pid
--daemon
--http-port=10.100.10.25:3000
#What a

[2017-01-10 10:52] emanuele-f commented on #916
Fix contained into #918. Pop-down has been replaced with coloured toggle buttons.

[2017-01-10 10:52] #916 closed, assigned to simonemainardi, emanuele-f

[2017-01-10 10:53] emanuele-f commented on #915
Fix contained into #918

[2017-01-10 10:53] #915 closed, assigned to simonemainardi, emanuele-f

[2017-01-10 11:22] epodberezkin opened #919 "Preference Tab"
After update Preference Tab contains "Change Password" and "Export Data" only. Direct link (f.e.
/lua/admin/prefs.lua?subpage_active=data_purge) shows  "Access forbidden".

License	GNU GPLv3
Version	2.5.170110 - Community Edition
Built on	Ubuntu 16.04.1 LTS

[2017-01-10 11:35] emanuele-f commented on #919
The preferences page access is restricted to Administrator ntopng users only, since it allows you to modify sensitive settings.

Please reopen if necessary.

[2017-01-10 11:35] #919 closed, assigned to nobody

[2017-01-10 12:35] ryu80 commented on #911
Hi Luca,
thank you for the suggestion.
Anyway with a flow duration less than 1 second the bandwidth calculation could be underestimated or imprecise.
it should be usefull to have the %DURATION_IN/OUT field with msec values.
Will be possible or is it only available with nprobe/ELK combination?

[2017-01-10 14:45] lucaderi commented on #917
Can you please check if the problem is on the probe or on the collector side? i.e. are flows still being exported or not?

I assume you are using the latest development packages and that you have a valid nProbe license otherwise this problem is due to the end of the demo-mode

[2017-01-10 14:48] lucaderi commented on #897
Are you sure you are observing on your ethernet interfaces all the traffic flowing on your network?

[2017-01-10 14:56] iPhosphoR commented on #897
I'm sure, but I think I will reinstall ntopng because I think I've done anything ... Would you have a good tutorial to advise me or better still offer me please?

[2017-01-10 20:07] kuljule commented on #297
I have pfsense 2.3.2 and ntopng 0.8.5. I figured out how to export the bandwidth information to mysql and then I created a php script that emails me the user's name, mac address, and date/time when they reach 1GB and stay above that for 15 minutes. Check it out!
[https://github.com/kuljule/ntopngbandwidthnotifier](url)
-Julian

[2017-01-10 20:13] simonemainardi commented on #906
@olliff what is your ntopng version?

Can you attach a pcap so we can try and reproduce?

[2017-01-10 20:27] simonemainardi commented on #897
@iPhosphoR the official user guide is a good starting point https://raw.githubusercontent.com/ntop/ntopng/dev/doc/UserGuide.pdf

However, from the logs you've enclosed, I don't see any particular issue.

If you want to explore the traffic that goes to the internet, you should first determine which is the interface that carries that traffic (one of eth0, eth1 or eth2), and then you have to select i

[2017-01-10 22:03] ghost commented on #906
I'm using ntopng v. 2.5.170105.
I'm capturing traffic on a mirror port, pcap file that contains dns requests attached.

[http://pub.syscontrol.net/dump.pcap](http://pub.syscontrol.net/dump.pcap)

[2017-01-10 22:13] ghost commented on #906
I wanted to add that host names are displayed correctly in the 'Talkers' Overview of a host

[2017-01-11 08:18] iPhosphoR commented on #897
I know that I can choose one of the interfaces but the problem is that I have a bandwidth that rises up to about 2 MB/s but the ntopng interface tells me that when I download a 1GB file and ben my bandwidth does not exceed 340Kbit, the worst is that they are bits and not Bytes ...

[2017-01-11 09:21] ipbowker commented on #917
No, I'm running the latest stable builds updated via yum.

I never have to restart the probe, only ntopng to resolve the issue.  TCPDump on the NTOPNG server shows no flows from the probe until I restart the NTOPNG service.

Even under fault conditions traffic is still observed from the local collector interface eth2.

[2017-01-11 09:28] emanuele-f commented on #908
Is this fixed with fa0f3f4?

[2017-01-11 09:31] emanuele-f commented on #917
Can you post a full log of ntopng in the meanwhile the problem appears?

[2017-01-11 09:47] iPhosphoR commented on #897
After reinstalling always the same problem ... Would you have an option or a file that could limit the bandwidth that receives ntopng?

[2017-01-11 10:02] emanuele-f commented on #897
If you don't see any dropped packets on ntopng than ntopng should be working fine.
As the suggestions above, you probably can't see all your network traffic from your interface you are monitoring. This could be related to an invalid mirroring configuration and/or network configuration but this is something you should take care of.
As a check, you could try to run programs like wireshark and see if

[2017-01-11 10:17] iPhosphoR commented on #897
I go to check my mirroring.

[2017-01-11 10:56] ipbowker commented on #917
Which logs?
/var/log/ntopng/ntopng.log
/var/tmp/ntopng/ntopng.log

[2017-01-11 11:14] emanuele-f commented on #917
It depends on your configuration. You can find out which one is the correct one executing `tail -f [logfile]` and then restarting the ntopng service. The correct one will scroll the terminal while ntopng is restarting.

You should post the part of the log from start of ntopng to stop while you are reproducing the error.

[2017-01-11 11:30] emanuele-f commented on #873
I can reproduce with pcap file provided in #906. Possibly it is related to the same issue.

[2017-01-11 14:15] iPhosphoR commented on #897
I have a worry ...
-My modem is connected to a router NetGear which is also connected to the switch. At the base I did the mirroring on the switch. Should I possibly do this on the NetGear router?

-Should the SSH server be enabled?

-Can this come from a firmware missing a network card?

-The installation of debian can influence the use of ntopng?

-This my configuration of fil /etc/network/inter

[2017-01-11 15:49] #873 closed, assigned to nobody

[2017-01-11 16:27] emanuele-f commented on #906
Do you have incoming DHCP traffic from remote hosts? Can you try to reproduce the error disabling dynamic vlan interfaces?

[2017-01-11 19:01] ghost commented on #906
No, DHCP traffic originates only from local subnets (192.168.2.0/24, 192.168.11.0/28, 192.168.22.0/28, 172.20.164.0/24, 192.168.60-64.0/24), incoming dhcp traffic from remote hosts is blocked at firewall level. After discovering issue #873, I disabled dynamic vlan feature. The screenshots above were taken after.
I also found out that links to local and remote hosts are swapped sometimes in flow ov

[2017-01-11 20:33] ghost commented on #906
Clearing the redis cache solved the problem for me. I still don't know why the database got messed up. Issue #873 has also been fixed by today's patch, which is great. Looking forward for a new arm release. I really appreciate your help.

[2017-01-11 20:33] #906 closed, assigned to nobody

[2017-01-11 22:02] ValentinaViscarelli commented on #908
Fixed. I also reported the modify for nprobe, cento and n2disk.

[2017-01-11 22:02] #908 closed, assigned to ValentinaViscarelli

[2017-01-11 22:20] ghost opened #921 "filtering hosts in vlan tab should respect selected vlan"
currently when filtering hosts in vlan tab, the filter is applied to all hosts, rather than the previously selected vlan

it's not a big issue as you can manually go to http://server/lua/hosts_stats.lua?vlan=164&mode=local, to filter local hosts on a vlan, but it would be a nice enhancement

[2017-01-12 09:17] emanuele-f commented on #921
Fixed in #922. Thank you for reporting.

[2017-01-12 09:17] #921 closed, assigned to emanuele-f

[2017-01-12 10:17] emanuele-f commented on #901
@tieungao88 do you have any updates?

[2017-01-12 10:18] emanuele-f commented on #883
@vegeta-x2 do you have any updates?

[2017-01-12 14:56] souzaeric commented on #858
Hi, I've ntop on virtual server and I've the same problem. The systemID changed a few months ago and after this I always run with --online-license-check, but today after I update my ntopng and nprobe, I can't check online.

Before today my version was: v2.5.161121

I always started my nprobe like this: nprobe -3 1237 -i eth0 --zmq tcp://*:5580 -G --online-license-check

And now nprobe doesn't chec

[2017-01-13 10:48] alberk8 opened #924 "Getting Data from Ntopng from php"
I have problem where I the json data that I get from Ntopng is always appended with header record.  My sample php code is as below.  If the "ignore_errors" flag is remove I get no result.

How do I get clean json data from ntopng?  Thank you.

Info
v.2.5.170113 [Community Edition]
GIT rev:   dev:4d37e0c0aba886caabd00faaea493fade49862eb:20170113
OS=Ubuntu- 14.04 X86_64

[code]

**Echo Content**
[co

[2017-01-13 20:02] simonemainardi commented on #858
please, follow the instructions at http://www.ntop.org/support/faq/how-can-i-move-a-license-to-a-new-server/

[2017-01-13 20:15] souzaeric commented on #858
I already did this an one year ago.
The website ntop says "Note that we can allow you this operation only once".
So, after this, I only use --online-license-check, but after update this doesn't works anymore.

[2017-01-13 21:33] ValentinaViscarelli commented on #858
@souzaeric
I think your maintenance license has expired.
Please our license works in this way:
http://www.ntop.org/support/faq/are-licenses-permanent-what-about-maintenance/
Please send me in private (valentina@ntop.org) the purchase  order id and/or the output of this command:
cat /etc/nprobe.license
I will tell you if your license has expired and when.

[2017-01-13 21:34] vegeta-x2 commented on #883
Hi, I am was able to resolve my issue by update ntopng, nprobe, and all dependencies by doing a yum update.  Looks like before in interfaces before the yum update i would only get tcp://127.0.0.1:3001 and now with update a new interface showed up tcp://127.0.0.1:3001 [ifIdx: 0] I choose this interface and I am starting to see netflow

[2017-01-14 20:26] #904 closed, assigned to nobody

[2017-01-14 20:26] #892 closed, assigned to nobody

[2017-01-14 20:28] emanuele-f commented on #883
Perfect, thank you. I'm closing the issue.

[2017-01-14 20:28] #883 closed, assigned to simonemainardi

[2017-01-14 20:37] emanuele-f commented on #897
I'm sorry but I cannot provide technical assistance on your specific network configuration here. I think we provided enough information to troubleshoot where any problems could be. Contact us privately for more specific support. Thank you.

[2017-01-14 20:37] #897 closed, assigned to nobody

[2017-01-14 21:02] mAineAc- opened #926 "all hosts report 47 years under seen since column"
All hosts, no matter when they showed up, report 47 years 25 days under the seen since column.

v.2.5.170110 [Enterprise/Professional Edition]
GIT rev:   dev:be18732b91c6070fff3ec2bf5041757b7a531d8e:20170110
Pro rev:   r872
System Id: A413EC7B00040FB3
Built on:  Ubuntu 16.04.1 LTS

[2017-01-14 21:08] ghost commented on #926
possible duplicate of #873

[2017-01-14 21:24] simonemainardi commented on #926
@mAineAc- please, report ntopng configuration used

[2017-01-14 22:20] mAineAc- commented on #926
all I have in /etc/ntopng/ntopng.config this:
-G=/var/run/ntopng.pid
-i=tcp://127.0.0.1:5556

Is there something else you were looking for?

[2017-01-15 11:11] simonemainardi commented on #926
ok so my guess is that flows received from the nProbe don't contain first/last seen information and so they are set to zero.

is it possible to see nProbe configuration as well? If nprobe is configured to receive *flow from your devices ( --collector-port ) then you should make sure those devices export time information

[2017-01-15 13:35] mAineAc- commented on #926
nprobe config:

--zmq="tcp://*:5556"
--collector-port=2055
-n=none
-i=none

[2017-01-15 13:45] nate-byrnes commented on #899
Is there another setting we could have changed which might be causing the high load to still be there? In the graph the yellow area indicates the 1 min load average while the vlan disaggregation was enabled. When that setting was disabled, we enter into the blue region. The web app is more responsive than before, but still has trouble updating. I've also included a recent strace.
[strace1min.zip](

[2017-01-15 13:55] simonemainardi commented on #924
I would use cURL. However, if you want to use the `file_get_contents`, split the `$content` in headers and body and it will work. Here's a working script:

[code]

[2017-01-15 13:55] #924 closed, assigned to nobody

[2017-01-15 13:56] simonemainardi commented on #926
@mAineAc- send a pcap of traffic received on port 2055 for inspection

[2017-01-15 14:06] mAineAc- commented on #926
I figured it out. I had to add -V=9 in the nprobe config and it appears to be workinmg correctly. I am using netflow version 9.

[2017-01-15 14:23] mAineAc- commented on #926
To resolve the 47 years on the hosts 'last seen' column, when using Netflow V9 you need to add the flag -V=9 to the nprobe config file.

Current nprobe config that works:

--zmq="tcp://*:5556"
--collector-port=2055
-n=none
-i=none
-V=9

[2017-01-15 14:23] simonemainardi commented on #926
I am not sure that is the solution. Flow version should be determined automatically from the incoming packet headers on port 2055.

Can you please try again with and without option V9?

[2017-01-15 14:31] mAineAc- commented on #926
![Uploading screen-of-interfaces.jpeg…]()
If I remove that option it goes back to showing 47 years for the hosts. Without that option I also have two interfaces. One shows no data, the other shows the data but with 47 years. I noticed that with that option everything on the live graphs seemed to refresh faster also.

[2017-01-15 14:34] simonemainardi commented on #926
Thanks for reporting.

Did you check @olliff suggestion

?

What are the two interfaces you get?

[2017-01-15 14:35] mAineAc- commented on #926
I attached an image to my previous comment.

[2017-01-15 14:35] simonemainardi commented on #926
image is not visible please paste it from the github issue page

[2017-01-15 14:37] mAineAc- commented on #926
![image](https://cloud.githubusercontent.com/assets/8900504/21963283/27386d46-db06-11e6-8b90-7f36caf0e583.png)

[2017-01-15 14:38] mAineAc- commented on #926
When I use that option the only interface is the first one and everything is working as expected.

[2017-01-15 14:47] mAineAc- commented on #926
ok well, that doesn't make any sense to me. I re-added that option and it is not going back to just the one interface and the hosts still have 47 years.

[2017-01-15 14:50] mAineAc- commented on #926
![image](https://cloud.githubusercontent.com/assets/8900504/21963406/06152d82-db08-11e6-8448-b77af84f48cc.png)

Image showing the 47 years

[2017-01-15 16:43] simonemainardi commented on #926
@mAineAc- you have two interfaces because you enabled, from the "Network Interface" preferences, the dynamic creation of interfaces on the basis of the exporter address.

The fact that all the times are at zero can be a bug and I am investigating it.

[2017-01-15 16:53] mAineAc- commented on #926
@simonemainardi I have verified that the netflow packets do have the correct timestamp. I am using a cisco 2821 if that makes a difference.

I wonder if that is where the issue is? I did't have the issue with that disabled. testing that now.

[2017-01-15 17:00] mAineAc- commented on #926
Yes if I disable that under network interface it does show normal timestamps. I selected the 'probe ip address' option.

[2017-01-15 17:01] #926 closed, assigned to nobody

[2017-01-15 17:02] simonemainardi commented on #926
we have made a fix for the issue "all hosts report 47 years under seen since column"

[2017-01-16 09:41] simonemainardi commented on #856
@ipbowker I went through the strace attached but again I can't see anything that is really suspicious.

Do you see drops in all the two interfaces? What are the hardware specs of the machine that is running ntopng?

The fact that your charts are 'striped' means that, periodically, ntopng isn't able to complete its activities.

[2017-01-16 11:06] iPhosphoR opened #927 "Ntopng dropped packets !"
Hi,

My eth1 drop packets and so I think that does not allow to display the correct figure of the bandwidth ... Why ???

![drop](https://cloud.githubusercontent.com/assets/24895578/21980603/32f4d848-dbe4-11e6-9202-3dd02e13db1d.png)

And I have many alerts!

![alerts](https://cloud.githubusercontent.com/assets/24895578/21980591/2b29b476-dbe4-11e6-975b-29d63de3f18f.png)

[2017-01-16 11:10] simonemainardi commented on #927
packets dropped are shown under the Interface "home" button.

The "lost" you highlighted are packets LOST with TCP.

show the full text of alerts not only the first part

[2017-01-16 11:38] iPhosphoR commented on #927
![alert](https://cloud.githubusercontent.com/assets/24895578/21981620/9e78e2cc-dbe8-11e6-87f7-31466188517c.png)

And Why ~4,000 packets out of order ?

[2017-01-16 13:13] Niko78 opened #928 "FR: graphs on main page linked with username/allowed networks"
on my ntop, I have few networks in configuration : public + private
I created a user for my colleagues just to show them networks they managed... that works well

My problem is that on main page, all graphs represent all data/traffic and not only data from networks they managed, so it's a bit confused, I have to explain them do not use them

So I would like to get graphs only from networks I allow

[2017-01-17 14:19] simonemainardi opened #930 "Sort Mac Addresses by Manufacturer and Address"
Page `http://localhost:3000/lua/mac_stats.lua` should allow sorting MAC addresses on the basis of the criteria in the subject of this issue

[2017-01-17 15:50] simonemainardi commented on #927
- alerts shown are mono-directional flows, that is, flows that have carried traffic in just one of the two possible directions (.e.g, client to server or server to client). You should investigate why those flows occur as they are suspicious. Maybe there are applications that periodically poll a remote server without answer, for example. You should investigate that on your own.

- Typically, packet

[2017-01-17 15:50] #927 closed, assigned to nobody

[2017-01-17 17:37] BroadbandCommunicationsNorth opened #931 "License Issue, Ntop can not get the license from Radis server."
OS: CentOS 7.3.1611, 16 GB, 4 CPU
License has been put in /etc/nprobe.license.
Nprobe gets this license, but Ntop does not not get the license from Radis server.

Nprobe software information:

[root@nprobe ntopng]# nprobe -v
Welcome to nProbe v.7.4.161220 (r5334) for x86_64-unknown-linux-gnu
with native PF_RING acceleration.
Copyright 2002-16 ntop.org

Build OS:      CentOS Linux release 7.3.1611

[2017-01-17 21:59] maggiedeblock opened #933 "Elasticsearch recognizes wrong fiekd(s)"

[2017-01-17 21:59] #933 closed, assigned to nobody

[2017-01-17 22:04] maggiedeblock opened #934 "Elasticsearch identifies improper fields"
Good morning,

I'm having an issue with the ntopng index in elasticsearch and some visualizations / plugins viewing the wrong information. When using some 3rd party plugins (like sunburst) or Elastic Graph with Kibana and the ntopng index, it sometimes has trouble with the IP address data. In the Sunburst plugin for example, it pulls the "key"  field which appears to be some arbitrary number inste

[2017-01-18 08:59] simonemainardi commented on #934
We store IPv4 addresses with type "ip" in elastic search and not as plain strings. This is the ES template definition: https://github.com/ntop/ntopng/blob/dev/httpdocs/misc/ntopng_template_elk.json#L22

I guess that somehow the "arbitrary number"  you are referring to is the 4-byte integer representation of the IP address.

Anyway, please give us detailed examples and we'll try to help even if I h

[2017-01-18 09:23] emanuele-f commented on #931
You cannot use nprobe licence on ntopng, it is a separate licence

[2017-01-18 11:51] maggiedeblock commented on #934
Thank you for the response. I'm also attacking it from the plugin perspective and if I get anywhere I'll post the fix here and close it, just in case someone wanders by. Anyways, here is an example of the request / response while utilizing the Sunburst plugin from Juan Carniglia's github. I've also attached a screenshot of the resulting Sunburst as well as the pop-up table displaying the correct i

[2017-01-18 21:01] lucaderi commented on #931
Taking this request offline

[2017-01-18 21:01] #931 closed, assigned to nobody

[2017-01-19 10:37] edhil opened #936 "Empty flows when using Dynamic Flow Collection Interfaces"
OS: Ubuntu 14.04.5 LTS
ntopng Version:	2.5.170119 - Pro Small Business Edition

I'm using ntopng to show traffic collected by nprobe (as netflow collector)

When I activate the "Dynamic Flow Collection Interfaces" in the Runtime Preferences  (Expert Mode) -> Network Interfaces, and restart ntopng, There is 0 hosts, devices or flows showing in any interface (whereas real or virtual one). The counte

[2017-01-19 13:58] svenvogel commented on #408
Okay. Thanks for info. Then we dont buy you product again.

[2017-01-19 14:31] mAineAc- opened #937 "NoIP for IPv6 addresses"
I have verified in the cisco router that it has the IPv6 addresses in the flow cache. IPv4 works great. But for all of the IPv6 traffic it is showing NoIP.

![image](https://cloud.githubusercontent.com/assets/8900504/22110531/00a40132-de2a-11e6-813c-46cd89d7af85.png)

[2017-01-19 15:05] mAineAc- commented on #937
nprobe config:

--zmq="tcp://*:5556"
--collector-port=2055
-n=none
-i=none
--flow-version=9

ntopng config:

-G=/var/run/ntopng.pid
-i=tcp://127.0.0.1:5556
-m=192.168.1.0/24,192.168.3.0/28,10.0.0.0/8,2604:DEAD:9780:7200::/56,2604:DEAD:9FC0:8F:10D5:DEAD:13CE:AD8/128

[2017-01-19 15:06] edhil commented on #936
I did also try to revert nprobe/ntopng mode as follow:
nprobe conf:
`-n=none
-G=
--online-license-check
-g=/var/run/nprobe.pid
--collector-port=1234
--zmq=tcp://127.0.0.1:5559
--cpu-affinity=2
--zmq-probe-mode
`

ntopng conf:
`
-G=/var/tmp/ntopng.pid
-n=3
-i=tcp://127.0.0.1:5559c
-i=tcp://127.0.0.1:5560c
-d=/home/ntopng
--daemon=
-w=3000
--user=ntopng
--group=ntopng
`

And the behavior is exactly

[2017-01-19 15:13] edhil commented on #936
Please note that the realtime trafic on the Pro Dashboard is actually working, with the trafic for each virtual interface.
So the problem is really an UI issue.

[2017-01-19 15:31] mAineAc- commented on #937
If I remove the --flow-version=9 option I do not see any ipv6 traffic at all. With it I see the traffic but it is all labelled NoIP and if I look at it, it looks to be tagged as IPv4 instead of 6

This is the dump:

{"rcvd":{"bytes":579145,"packets":819},"flows.as_server":18,"seen.first":1484839742,"tcp_sent":{"bytes":574409,"packets":770},"throughput_bps":297.481018,"localHost":false,"asn":0,"tcp

[2017-01-19 15:33] simonemainardi commented on #934
there's nothing strange in the JSON response shown, "key" is the integer representation and "key_as_string" is the dotted-string representation of the same Ipv4 address.

[2017-01-19 17:19] mAineAc- commented on #937
I am seeing this in the log trace:

19/Jan/2017 10:46:13 [Lua.cpp:6027] WARNING: Script failure [/usr/share/ntopng/scripts/lua/hosts_comparison_bubble.lua][/usr/share/ntopng/scripts/lua/hosts_comparison_bubble.lua:28: table index is nil]
19/Jan/2017 10:45:55 [Lua.cpp:6027] WARNING: Script failure [/usr/share/ntopng/scripts/lua/hosts_comparison_bubble.lua][/usr/share/ntopng/scripts/lua/hosts_compar

[2017-01-19 19:07] mAineAc- commented on #937
After restarting I no longer see the logtrace showing up. Probably not related.

[2017-01-19 22:17] mAineAc- commented on #937
OK I got this fixed. I thought by default it would have the IPv6 information. I added this template and it is now working:

"%IPV4_SRC_ADDR %IPV4_DST_ADDR %IPV4_NEXT_HOP %IPV6_SRC_ADDR %IPV6_DST_ADDR %IPV6_NEXT_HOP %INPUT_SNMP %OUTPUT_SNMP %IN_PKTS %IN_BYTES %FIRST_SWITCHED %LAST_SWITCHED %L4_SRC_PORT %L4_DST_PORT %TCP_FLAGS %PROTOCOL %SRC_TOS %SRC_AS %DST_AS %SRC_MASK %DST_MASK "

[2017-01-19 22:17] #937 closed, assigned to nobody

[2017-01-20 02:52] Marlow925 opened #938 "Local networks defined grouped under the wrong network prefixes."
ntopng  v.2.5.170119

output of /etc/ntopng/ntopng.conf
-G=/var/run/ntopng.pid
-m=10.129.0.0/16,fddf:bf7:10:1::/64,fe00::/4,64:ff9b::/96
-i=tcp://XXX.XXX.XXX.XXX:1234

Screenshot of Networks -> https://c1.staticflickr.com/1/578/32036269260_81a85592bb_b.jpg
Clicking into 10.129.0.0/16 -> https://c1.staticflickr.com/1/440/32263379162_7a38b6e3a2_b.jpg

It looks like ALL local nets are grouped into th

[2017-01-20 03:38] lhxhanson opened #939 "Is there any possible to change data retention time?"
Hi all,
[https://github.com/ntop/ntopng/issues/733](url)
In the issue 733, you said "Since cleanup according to the data retention settings is performed once per day using the unix epoch, it should occurs exactly at UTC+8 on your system so your point is meaningful."

So when the database starting data retention, it will locked and the record can not write in for while. But our timezone is UTC+8, t

[2017-01-20 10:11] edhil commented on #938
+1 Same issue here

[2017-01-20 12:47] emanuele-f commented on #938
I can reproduce easily:
- ntopng -m 192.168.1.130/32,192.168.1.0/24
- ping 192.168.1.130
- ping 192.168.1.1
- but all local traffic/hosts goes into 192.168.1.130/32 network

[2017-01-20 14:05] emanuele-f commented on #917
@ipbowker any updates on the log? Did you managed to solve the issue?

[2017-01-20 14:11] ipbowker commented on #917
Sorry, I've been out of office for a while.  It doesn't appear to have stopped again since though?
I've had one NTOPNG outage but that was due to excess disk consumption by RRD files.

[2017-01-20 14:15] emanuele-f commented on #874
@wayneshow any updates?

I'm reading your comment above, and I think that executing the commands in this order will possibly fix your problems:
1) service ntopng stop
2) rm -fr /var/tmp/ntopng
3) redis-cli flushall
4) service ntopng start

[2017-01-20 15:51] #938 closed, assigned to lucaderi

[2017-01-20 16:34] BroadbandCommunicationsNorth commented on #784
We have the same issue with 2.4.161220 - Pro Small Business Edition, CentOS Linux release 7.3.1611 (Core).
According tcpdump, Ntop does not send any traffic to Active Directory Ldap server, which is set up in ldap://10.10.10.1:389. Tried to include verbose mode for Ntopng, nothing appeared in the log.

[2017-01-20 16:38] BroadbandCommunicationsNorth opened #940 "LDAP is not sending authentication requests on login - CenOS 7."
I am sorry, but previous case is closed, but we have the same issue.
https://github.com/ntop/ntopng/issues/784

We have the same issue with 2.4.161220 - Pro Small Business Edition, CentOS Linux release 7.3.1611 (Core).
According tcpdump, Ntop does not send any traffic to Active Directory Ldap server, which is set up in ldap://10.10.10.1:389. Tried to include verbose mode for Ntopng, nothing appear

[2017-01-20 16:54] bluedogs opened #941 "Menu.lua script generates forms switch_interface_forms with the same ID"
Menu.lua has a loop that generates the drop interface menu. If you only have two interfaces you will not notice that each form generated has the same id so only the first form created gets submitted.

On my local copy I here is what the fixed code looks like.
[code]

I have added __]] print(tostring(k)) print[[__ to the form id field and the onclick call.

I apologize that I do not have this git r

[2017-01-20 17:42] emanuele-f commented on #941
Fixed with 92b40eb2d03fefd7160c32b2b22334a528dc2dfb. Thank you!

[2017-01-20 17:42] #941 closed, assigned to nobody

[2017-01-21 06:23] kapilkd13 commented on #553
hi friends, I am getting a similiar
  0x00007f589ccb8a92 in __GI___libc_free (mem=0xdf2021310ad1ac17) at malloc.c:2952
 error in one of my project,. Can you guys explain how you solved this problem. Thanks

[2017-01-21 14:33] Alestor opened #942 "Access to ntopng WebGUI - strange redirect"
Hi,

I justed updated ntopng today and can't access the webgui after logut. The Webserver is redirecting me to a IP Address which isn't available on my network:

http://192.168.1.131:3000/lua/login.lua?referer=172.16.x.x:3000/

I usal do access ntopng's webgui by using a DNS Name. 172.16.x.x is the real IP Address of the Server.

Does somebody have an idea whats going on?

Edit:

 ntopng -V
v.2.5.

[2017-01-21 14:37] Alestor commented on #942
Please check commit:

https://github.com/ntop/ntopng/commit/bfa78e73f27ad3efd22eff0010d6672412c79ad4#diff-eb0e40210459e3d89a487bef836ab604

[2017-01-21 20:12] lucaderi commented on #942
Fixed by https://github.com/ntop/ntopng/commit/5a308e35aaa2e2b726be681686dc60b3cb7e3bf6

[2017-01-21 20:12] #942 closed, assigned to nobody

[2017-01-22 17:51] emanuele-f commented on #901
Closing for inactivity. Please reopen if necessary.

[2017-01-22 17:51] #901 closed, assigned to nobody

[2017-01-22 17:53] emanuele-f commented on #899
Can you still reproduce this with latest version?

[2017-01-22 18:07] emanuele-f commented on #917
Your /19 networks can eat a lot of disk space in RRD files. Please check out your "On-Disk Timeseries" settings to reduce per-host space. This could be the original source of the issue.

[2017-01-22 18:09] emanuele-f commented on #420
Closing for inactivity. Please reopen if necessary.

[2017-01-22 18:09] #420 closed, assigned to lucaderi

[2017-01-23 09:22] simonemainardi commented on #934
@maggiedeblock do you have any news?

[2017-01-23 11:24] simonemainardi commented on #784
@BroadbandCommunicationsNorth fix is contained in version 2.5

[2017-01-23 11:24] simonemainardi commented on #940
@BroadbandCommunicationsNorth dev version of ntopng contains the fix. Please update

[2017-01-23 12:47] nate-byrnes commented on #899
I'll upgrade today and let you know tomorrow with an updated chart from my monitoring.

[2017-01-23 13:51] emanuele-f commented on #899
Thank you

[2017-01-23 14:00] mAineAc- opened #943 "nprobe hanging when stopping"
Every time I try to update nprobe I get this:

Adding the nprobe startup script
Synchronizing state for nprobe.service with sysvinit using update-rc.d...
Executing /usr/sbin/update-rc.d nprobe defaults
Executing /usr/sbin/update-rc.d nprobe enable
(Re)Starting nprobe...
Stopping nProbe none

And then it just hangs there indefinitely until I stop the nprobe process. Once I kill the process it conti

[2017-01-23 14:04] mAineAc- commented on #943
This is happening on two unrelated systems for me right now. One is
Linux 3.16.0-4-amd64 #1 SMP Debian 3.16.36-1+deb8u1 (2016-09-03) x86_64 GNU/Linux
the other is
Linux 4.4.0-59-generic #80-Ubuntu SMP Fri Jan 6 17:47:47 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

[2017-01-23 18:36] timothyherrera opened #945 "Recently Active Flows: No Results Found (RPi 3)"
Running latest version of nprobe and ntopng on Raspberry Pi 3.  The Recently Active Flows works correctly for a short amount of time 1 - 20 min, but then suddenly stops displaying data (No Results Found).  New flows are still coming in, as the "Hosts, Devices, Flows" counter at the bottom of the page is still updating.  No errors are recorded in the log.  Appears that there is a problem with get_f

[2017-01-23 21:57] BroadbandCommunicationsNorth commented on #940
v.2.5.170123 version, from nightly builds  http://packages.ntop.org/centos/ repository works with Active directory LDAP, ports 389/3268.

[2017-01-24 09:04] simonemainardi opened #946 "Search historical flows by profile"
Flows dumped to DB have a "PROFILE" column that carries the profile name. It would be beneficial to extend the historical data explorer to search on this field.

[2017-01-24 09:13] simonemainardi commented on #934
Explanation given. No feedback. Closing.

[2017-01-24 09:13] #934 closed, assigned to simonemainardi

[2017-01-24 10:38] simonemainardi commented on #936
I tried to reproduce your issue and everything works as expected. Flows appear in the UI even across ntopng restarts. I tried both with virtual interfaces based on the probe IP as well as the ingress flow interface.

I used the following:
[code]

[2017-01-24 11:07] simonemainardi commented on #939
daily activities are already coded to execute at midnight local time (https://github.com/ntop/ntopng/blob/dev/src/PeriodicActivities.cpp#L218)

Please update to the latest dev version.

[2017-01-24 11:07] #939 closed, assigned to simonemainardi

[2017-01-24 13:55] nate-byrnes commented on #899
I am now running v.2.5.170123. From what I can tell there has been no material change since the earlier version. I upgraded yesterday, and the chart here reflects the past 7 days of 1 minute load average.
![screenshot_2017-01-24_08-53-42](https://cloud.githubusercontent.com/assets/19349744/22249892/e73b1be4-e212-11e6-9e54-b721d468ebf2.png)

[2017-01-24 17:11] BroadbandCommunicationsNorth opened #947 "Ntopng/Nprobe can not create PID file on CentOS 7"
In case of starting NProbe or Ntopng under "nobody" user, daemons can not create PID files in /run. RPM packet does not have configuration files for it /usr/lib/tmpfiles.d/nprobe.conf /usr/lib/tmpfiles.d/ntopng.conf.

[2017-01-24 17:39] Elefontman commented on #153
BTW, the default username & pwd (supposedly admin) don't work, on your Latest version.
Even resetting it doesn't work.
Worked on this for hours. Giving up. Really pathetic.

[2017-01-24 17:41] Elefontman commented on #479
Dude your software doesn't work. Default credentials don't work. I've seen this happen on PFsense, as well as your windows build. Should be simple to fix.

[2017-01-24 20:39] bidikov opened #948 "License not recognised"
We should have a active license which was given to our faculty - on the same machine nprobe works well but ntopng gives out this error ...

[NtopPro.cpp:122] [LICENSE] Reading license from /etc/ntopng.license
[NtopPro.cpp:120] [LICENSE] Read license from Redis [DCF054B272F754B31B9B664C06D04EE11501855360ED41359B]
[NtopPro.cpp:172] ERROR: [LICENSE] Invalid or missing ntopng License [License mismatch

[2017-01-24 21:25] BroadbandCommunicationsNorth commented on #948
https://github.com/ntop/ntopng/issues/931

[2017-01-24 21:39] BroadbandCommunicationsNorth opened #949 "Nprobe does not change user from root to nobody"
Nprobe does not change user from root to nobody, in case --collector-port 2055.

[root@nprobe ~]# ps axu |  grep nprobe
root      4328  1.6  0.0 476436 15200 pts/4    Sl+  15:35   0:02 nprobe --zmq tcp://127.0.0.1:1234 -i none -n none --collector-port 2055 --pid-file /var/run/nprobe/nprobe.pid

[root@nprobe nprobe]# nprobe --zmq tcp://127.0.0.1:1234 -i none -n none --collector-port 2055 --pid-file

[2017-01-24 22:00] smitjainsj commented on #161
Hello Guyz, I need your help on this same issue.

Do I need to create separate template for geo_point field missing ?

currently my index name is : non-prod

ELK5 is what I am using .

[2017-01-24 22:24] bidikov commented on #948
Well - we have 2 different licences and nprobe has no problem - ntopng has... it' not the bug you are referencing...

@lucaderi maybe has more info on this ...

[2017-01-24 22:31] simonemainardi commented on #479
@Elefontman saying that won't help, if you really need help remember to post useful information such as build, os and architecture, logs, errors, and, more in general, how to reproduce.

[2017-01-24 23:40] edo33 opened #950 "Alerts in Hosts"
Hi. Ive got debian 8 running on server and ntopng v.2.5.170124. Everytime I try to open alerts in host it give me this error:
![chyba](https://cloud.githubusercontent.com/assets/10207340/22271822/e2917c4e-e296-11e6-807d-c936c8560417.jpg)

[2017-01-25 03:28] lhxhanson commented on #939
Does the stable version has this feature now?

[2017-01-25 08:52] simonemainardi commented on #939
yes: https://github.com/ntop/ntopng/blob/2.4-stable/src/PeriodicActivities.cpp#L191

[2017-01-25 09:10] simonemainardi commented on #940
correct, this is the fix: https://github.com/ntop/ntopng/commit/aa8789db7f282e5106a9dd53a9cdec791b782277

[2017-01-25 09:10] #940 closed, assigned to nobody

[2017-01-25 09:13] simonemainardi commented on #948
the issue can be due to an HW change (typically this happens on VMs).

Make sure the system id hasn't changed. The line `[NtopPro.cpp:172] ERROR: [LICENSE] Invalid or missing ntopng License [License mismatch error]` means the license is read but not recognised as valid.

Adding `--online-license-check` can solve.

[2017-01-25 09:14] edhil commented on #936
Hi Simone,
After your message, I did try again, from scratch : I completely removed ntopng install to start again, wiped out redis completely by stopping redis-server and remove /var/lib/redis/dump.rdb,
and reinstalled everything.
Now is seems to work ok when ntopng is configured in collector mode.

I suppose that my first attemps failed because I first configured ntopng and nprobe in standard mod

[2017-01-25 09:14] #936 closed, assigned to nobody

[2017-01-25 09:18] simonemainardi commented on #153
Rather than writing those comments (also see https://github.com/ntop/ntopng/issues/479#issuecomment-274878873) that are just a waste of time, if you really want to get help from the community, you should post useful information that will allow the others to understand IF and WHERE is the problem

[2017-01-25 10:02] emanuele-f commented on #950
Hi, I cannot reproduce the issue in my installation. Can you post your alerts database file so that we can inspect it? Please follow these instructions:

1. find your interface name: Select the interface from the "Interfaces". Take note of the "Id" cell.
2. post here the file located at */var/tmp/ntopng/[Id]/alerts/alerts_v3.db*

[2017-01-25 12:04] edo33 commented on #950
Hi. Thanks for fast reaction. Yesterday I was upgrading ntopng from v2.4 to v2.5. In the path /var/tmp/ntopng/1/ Ive got only 2 folders - rrd and top_talkers. I was looking for the alerts_v3.db but db is only in the path /disk/temp/ntopng/1/alerts/... and the last date and time which was db created is date before the upgrade.

[2017-01-25 15:30] emanuele-f commented on #950
You should remove old alerts database since it is not compatible with new 2.5 format

[2017-01-25 16:55] Elefontman commented on #479
Useful information: All of your builds don't work with their default pwd, whether it's Windows or Linux, and I've seen it on Pfsense as well. Pathetic.

[2017-01-25 16:58] BroadbandCommunicationsNorth commented on #948
Yes, we have got the same issue. We migrated VM from LAB environment to the production and it broke licenses for Nprobe and Ntopng. We will try --online-license-check.

[2017-01-25 20:51] ValentinaViscarelli commented on #943
@mAineAc-
I'm not able to reproduce the problem. Anyway i have made a fix.
Please update to tomorrow release and give it a try.
Thanks

[2017-01-26 06:25] edo33 commented on #950
Ive removed the old database and after restart ntopng creates new but error is still present. When I was looking into the tables - they are empty.... And every client show 0 alerts.
![bez nazvu](https://cloud.githubusercontent.com/assets/10207340/22321998/3ae55dea-e399-11e6-9fc8-54ee33599cfa.jpg)
[alerts_v3.zip](https://github.com/ntop/ntopng/files/731655/alerts_v3.zip)

[2017-01-26 10:09] emanuele-f commented on #950
I've managed to reproduce your issue: it appears when alerts are disabled. I've fixed it in commit 096db1085d46e3c9d712325acaf0a4266c2ce223 .
Please enable alerts from the preferences page. Thank you.

[2017-01-26 10:09] #950 closed, assigned to emanuele-f

[2017-01-26 13:58] simonemainardi commented on #899
please, reach us privately, send SSH access credentials, and we'll have a look.

Thank you

[2017-01-26 15:25] BroadbandCommunicationsNorth commented on #947
I am sorry, operating system is CentOS Linux release 7.3.1611 (Core).

[2017-01-26 15:43] simonemainardi commented on #161
geo_point is already supported in the default template pushed to ES:

https://github.com/ntop/ntopng/blob/dev/httpdocs/misc/ntopng_template_elk.json#L14

[2017-01-26 20:03] thegeodave commented on #813
It occasionally works when I choose 1M, 6M or 1Y but it mostly hangs and get the "not enough memory" in syslog. My only suggestion is that when this is fixed I'd like to see or choose to see more than the top thirty Local Hosts

[2017-01-27 10:58] simonemainardi opened #955 "FrequentItems prune() deletions are not safe"
According to (https://troydhanson.github.io/uthash/userguide.html#_delete_item)

This deletion is not safe: https://github.com/ntop/ntopng/blob/dev/src/FrequentStringItems.cpp#L90

Same for FrequentNumericItems

should copy curr->hh.next in a temp variable before deletion

[2017-01-27 12:04] mAineAc- commented on #943
@ValentinaViscarelli
This did not appear to fix the issue. I have gone so far as to purge nprobe and find all of the related files that were not removed, delete them nad try to re-install with the same issue. It always hangs on nProbe (re)start. Is there something in my settings that could cause that? I have a pretty straight forward set up. nothing fancy.

nprobe.conf has this:

--zmq="tcp://*:55

[2017-01-27 13:29] ValentinaViscarelli commented on #943
@mAineAc-
could you please report here the output of this command?

cat /etc/init.d/nprobe

Thanks

[2017-01-27 17:10] simonemainardi commented on #899
hi @nate-byrnes I logged in and did some changes to the configuration. Please monitor and report back. Thank you.

[2017-01-27 19:32] mAineAc- commented on #943
Debian device:

[sudo] password for rhall:
#! /bin/bash
#
# (C) 2003-16 - ntop.org
#
# chkconfig: 2345 80 30
#
### BEGIN INIT INFO
# Provides:          nprobe
# Required-Start:    $local_fs $remote_fs $network $syslog $pf_ring
# Required-Stop:     $local_fs $remote_fs $network $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Start/stop nprobe
### END INIT INFO

[2017-01-27 19:45] mAineAc- commented on #943
[debian.txt](https://github.com/ntop/ntopng/files/736114/debian.txt)
[ubuntu.txt](https://github.com/ntop/ntopng/files/736117/ubuntu.txt)

These are the two files. One from the Ubuntu system and the one from the Debian system. both are doing the same thing even this morning.

[2017-01-27 19:48] mAineAc- commented on #943
oh yeah, in my hurry the name of the files are actually nprobe-none.conf and nprobe-none.start

[2017-01-28 17:41] nate-byrnes commented on #899
That seems to have done it.... Thank you very much! The webUI is responsive and usable again. What needed to be changed?

![screenshot_2017-01-28_12-39-59](https://cloud.githubusercontent.com/assets/19349744/22398464/0ccf8696-e557-11e6-8f06-3a7930ff611e.png)

[2017-01-29 16:36] ValentinaViscarelli commented on #943
@mAineAc-
I'm not able to reproduce the problem.
Any chance to connect to your machine?
If so, please contact me in private (valentina@ntop.org)
Thanks

[2017-01-30 02:50] itnas-s opened #956 "Bug nightly builds 2.5.170129 "filter local hosts" ntopng show all hosts"
Hi ntop developer
sorry for my poor english

My OS is Ubuntu 14.04 and ntopng is nightly builds 2.5.170129
When I select to show only local network hosts , ntopng show all hosts(local host + remote host)

This Bug are happen in "Hosts > Networks > Local Network" , and "filter to show local hosts in ALL Hosts"
![image](https://cloud.githubusercontent.com/assets/24326638/22410956/2e7e936a-e6d1-11e6-

[2017-01-30 16:24] simonemainardi commented on #948
@bidikov any news?

[2017-01-31 11:52] #956 closed, assigned to nobody

[2017-01-31 12:02] #955 closed, assigned to nobody

[2017-01-31 12:21] simonemainardi commented on #948
solution given. closing for inactivity.

[2017-01-31 12:21] #948 closed, assigned to simonemainardi

[2017-01-31 12:51] bidikov commented on #948
Hi,
Just to verify - running ntongng manually with --online-license-check solved the problem.

[2017-01-31 13:25] emanuele-f commented on #874
Closing for inactivity. Please reopen if necessary.

[2017-01-31 13:25] #874 closed, assigned to nobody

[2017-01-31 13:26] emanuele-f commented on #917
Please reopen if necessary.

[2017-01-31 13:26] #917 closed, assigned to nobody

[2017-01-31 13:35] simonemainardi commented on #948
thanks for reporting

[2017-01-31 13:38] emanuele-f commented on #856
@ipbowker any news?

[2017-01-31 18:44] lucaderi commented on #949
Fixed. Overnight a new package will include the fix

[2017-01-31 18:44] #949 closed, assigned to ValentinaViscarelli

[2017-01-31 18:48] lucaderi commented on #947
The PID file is created immediately before dropping privileges, thus if you start it as root (before dropping privileges) it should work. Unless you specify the PID path in nprobe.conf (or on the command line) the PID file is not created. I think you should add it to the config file and it will work.

[2017-01-31 18:48] #947 closed, assigned to ValentinaViscarelli

[2017-01-31 18:49] lucaderi commented on #899
Problem seems to be solved. Closing.

[2017-01-31 18:49] #899 closed, assigned to nobody

[2017-01-31 19:07] nate-byrnes commented on #899
What were the changes made to our configuration? @lucaderi, @simonemainardi

[2017-01-31 19:16] ppoudrier opened #958 "Data issue when starting nProbe"
Hello, using the latest version of nprobe and ntopng, I get strange behavior on the dashboard
![image4163](https://cloud.githubusercontent.com/assets/25464346/22480422/556c8f7e-e7bf-11e6-9387-bd5e739d4806.png)

I pointed the issues within the screenshot

1. The right graph in firefox stretch themself after some time (usualy aroung 2-5 minutes). I need to refresh the page to be able to show them th

[2017-01-31 20:14] lucaderi commented on #958
When you say the latest version, do you mean the latest development build correct?

[2017-01-31 20:18] ppoudrier commented on #958
I mean the latest stable release. I didn't installed the development version as of now. I can do it if you consider it stable enough for me to test the application

[2017-02-01 08:58] simonemainardi commented on #899
[code]

still necessary to investigate further

[2017-02-01 14:58] BroadbandCommunicationsNorth commented on #947
It works, for sure.

In CentOS /var/run is a symbolic link for /run, which is temp file system

lrwxrwxrwx.  1 root root     6 Jul 23  2015 run -> ../run

[root@nprobe ~]# mount | grep run
tmpfs on /run type tmpfs (rw,nosuid,nodev,seclabel,mode=755)

At the same time usually every daemon in CentOS puts their PID files in their folder in /var/run with proper rights, they could be root . For instanc

[2017-02-01 15:41] simonemainardi commented on #930
implemented

[2017-02-01 15:41] #930 closed, assigned to nobody

[2017-02-01 16:55] BroadbandCommunicationsNorth commented on #947
Just for addition after today update:
nprobe-7.5.170201-5628.x86_64
ntopng-2.5.170201-2208.x86_64
ntopng-data-2.5.170201-2208.noarch

Nprobe creates PID file with nobody's credentials, so we just need conf file.
[root@nprobe nprobe]# ls -la /var/run/nprobe/nprobe.pid
-rw-r--r--. 1 nobody nobody 6 Feb  1 10:46 /var/run/nprobe/nprobe.pid

Ntopng still creates PID file under the root.
[root@nprobe ru

[2017-02-01 17:26] ghost commented on #743
None of your guide links work anymore.

[2017-02-01 17:59] ppoudrier opened #959 "High dropped flows"
Hi, I installed the dev version of ntopng and nprobe and I see a lot of dropped flows. It seem related to mysql

![image](https://cloud.githubusercontent.com/assets/25464346/22519328/ef18cb92-e87d-11e6-8413-b4372e9a3f51.png)

I tried to see if anything goes wrong with mysql but I can't see anything. The iowait is still very low (0-5%)

Also, just to let you know, the Ingress-Egress traffic at the

[2017-02-01 18:00] ppoudrier commented on #958
I tried the dev version and the problem is still here.

[2017-02-01 18:48] simonemainardi commented on #958
@ppoudrier what problem? Please be more specific, you listed 5 different issues

also please post ntopng and nprobe version used

[2017-02-01 18:52] simonemainardi commented on #959
you are trying to push 800+ flows per second in mysql. Make sure your mysql installation can actually keep up with the ntopng export speed. Ntopng start dropping flows when it sees that mysql is not fast enough.

also browse older solved issues:
- https://github.com/ntop/ntopng/issues/830
- https://github.com/ntop/ntopng/issues/796

[2017-02-01 19:19] ppoudrier commented on #958
Effectively, there is 5 issues on this screenshot. So I consider that the problem is about all of this.

nProbe v.7.5.170201 (r5628) on ubuntu
ntopng v.2.5.170201

I had the same problem with the latest release version (installed yesterday) which I can't find the current release. (it's 7.4.?? and 2.4.??)

[2017-02-01 20:09] ppoudrier commented on #959
Thank you for your quick answer. I was not aware that the db engine was myiasm. I was tuning innodb. I did try to tune myiasm but unfortunately, it still drop around 6000 flows each second.
I looked at the running process in mysql and I only see 1 insert at a time, never more.

I read somewhere that it's a good practice to use insert delayed instead of pure insert, but I don't think that's the pro

[2017-02-01 22:44] ghost opened #960 "Geo map not working"
Geolocation error [Permission denied]. Using default location.
I input my api key, and I restarted ntopng.
geoipupdate is running.

[2017-02-01 23:08] ghost commented on #646
Yeah your preferences area doesn't help if the page doesn't load regardless of my api key. Tried another api key too.

[2017-02-02 09:21] almico opened #961 "Ability to export data to an intermediate broker rather than directly to ElasticSearch"
Being able to save data to ElasticSearch is a useful feature to have something running quickly.
It would be great, though, to be able to "decorate" the data generated by ntopng.
For example:
- Put IPV4_SRC_ADDR and IPV6_SRC_ADDR into a single IP_SRC_ADDR field
- Add custom fields
- Geolocalize IPv6
- Add a field with the textual representation of L4 protocol name
- ...

My suggestion is to send js

[2017-02-02 10:30] simonemainardi commented on #959
@ppoudrier in another dev branch we are developing batched insertions for mysql. If you are interested in testing that feature, contact us privately.

INSERT DELAYED is deprecated.

[2017-02-02 10:30] #959 closed, assigned to nobody

[2017-02-02 11:43] emanuele-f commented on #960
What version of ntopng are you using? Do you have applied any restriction on your API key from google developer console (e.g. source IP restriction)?

[2017-02-02 11:53] emanuele-f commented on #958
Please clarify the ntopng version you experience the issues on:
- *stable* one (ntopng 2.4, nprobe 7.4)
- *development* one (ntopng 2.5, nprobe 7.5)

What we really need to know is if you experience each of the 1-5 points in the *development* version

[2017-02-02 14:08] ppoudrier commented on #959
Ok, thank you for your answer.

[2017-02-02 19:43] filemoon opened #962 "Remote and local talkers mixed up"
ntopng Pro [Small Business Edition]/Embedded v.2.5.170130 (ARM)

Config same as always:

-G=/var/log/ntopng.pid
-d=/var/lib/ntopng
-i=tcp://127.0.0.1:5556
-m="10.0.1.0/24,10.0.2.0/24,10.0.0.0/24"
-n=1
-X=100000
-x=16000

As result remote/local sections are all mixed up.

![screen shot 2017-02-02 at 19 37 06](https://cloud.githubusercontent.com/assets/14888287/22565358/b810ffc2-e97f-11e6-9fb1-76980

[2017-02-02 20:52] Alestor opened #963 "Missing data and some errors"
Hi,

ntopng isn't saving some data anymore:

- Top Application Traffic Last Day View (data missing)
- Per local Host traffic statistics
- Per Interface Application Traffic

Maybe some more but thats all I found at the moment.

Starting ntopng is logging some warnings:
[HostPools.cpp:266] WARNING: JSON Parse error [unexpected end of data] key: ntopng.prefs.2.host_pools.dump:

Every 5 minutes I also

[2017-02-02 21:21] emanuele-f commented on #963
Hi, the first error may be caused by an incorrect shutdown but it's not a problem.
The second one is probably the cause of the data saving issue. I've made a fix af90324. Please try the tomorrow version.

[2017-02-03 07:23] FlorianJedlicka opened #964 "Problems with the professional Version"
I got my license for the ntopng version, and put it into the Gui of it. However, it still says in the bottom, to be the community version. Can somebody help me out?

[2017-02-03 09:06] emanuele-f commented on #964
Are you running ntopng into a virtual machine? Can you post the log of ntopng?

[2017-02-03 09:09] emanuele-f commented on #962
Can you experience this with latest version? If you go into the *Hosts* page and apply the filter to show local/remote hosts only, are they mixed up in that page?

[2017-02-03 09:26] filemoon commented on #962
hi.

This is the last ARM version form your repository.
Yes - they are same (when I'm applying filters - local and remote are present for both filters mixed up).

[2017-02-03 09:48] simonemainardi commented on #961
hi,

why you don't use ES as the 'intermediate broker'. You can query it and crunch/augment/aggregate/decorate data as you wish. Once you've done you can decide to drop the old indices and keep only the aggregated data.

In particular:

you can do this with a query to ES

if you use ntopng with nProbe you get all the custom fields specified in option -T inside ES

[2017-02-03 09:54] simonemainardi commented on #962
The issue has already been sorted. @lucaderi can you please trigger a new ARM build as the latest doesn't include the fix. Thank you.

[2017-02-03 11:25] FlorianJedlicka commented on #964
No it runs on a server (a pc basically, thats is converted to a webserver)

[2017-02-03 11:47] emanuele-f commented on #964
You should check out the SystemId reported into the *about* page, is it the same you have registered you licence for? Did you get the "ntopng Pro Linux/Win (x64)" Small Business Edition?

[2017-02-03 12:41] almico commented on #961
Thank you for the suggestion.
Ignoring the imposed overhead, polling ES to get records would be the only option and even creating a procedure that won't miss records and won't create duplicates on live data would be a pain...
Dropping the index is something that makes me think you didn't consider applying my suggestion to live data, though...

[2017-02-03 18:53] Alestor commented on #963
Thanks, your fix works fine so far.

Another Question: What feature does the Enterprise Version include and how may I get a license. can't find this in the shop.

[2017-02-03 23:47] emanuele-f commented on #963
Hi, currently we only provide Enterprise licences on request. Please contact us privately for more information since github is not the right place for this. Thank you.

[2017-02-03 23:47] #963 closed, assigned to nobody

[2017-02-04 09:53] almico opened #965 "Just did a yum update and got weird messages"
I am running CentOS 7 64 bit with all the latest updates.
This is the output from yum update:

[code]

Is this normal?
Ntopng was running during the update.

[2017-02-05 12:38] fprr opened #966 "Cant count correct traffic in Elasticsearch/Kibana"
Hi, I export flows with the ntopng free version to Elasticsearch like this:

`-F="es;flows;ntopng-%Y.%m.%d;http://localhost:9200/_bulk;"`

After dowloading a file I can see the correct amount of traffic in the ntopng WebGUI, but when I calculate the traffic for that connection in Kibana there is a much smaller amount of traffic.

Is ntopng doing sampling when exporting flows to Elasticsearch. If y

[2017-02-05 15:17] fprr commented on #966
Hhm , the sums of sended and received packets are correct calculated in kibana. So there is no sampling ...

[2017-02-06 09:22] numeronove opened #967 "Building under OpenBSD 6.0"
In order to build ntopng-2.4-stable under OpenBSD 6.0, some changes to the build configuration are needed.
I was wondering if they can be merged with master, without causing troubles to the other operating systems.

First of all, to successfully issue `autogen.sh`, the macro `AM_PROG_CC_C_O` has to be added after `AC_PROG_CC`, in `nDPI/configure.ac`.
Could this change have bad effects for other op

[2017-02-06 10:03] simonemainardi commented on #966
No sapling is ever done by ntopng before sending to ES.

Please report an example so we can discuss.

Thanks.

[2017-02-06 11:49] ValentinaViscarelli commented on #965
The update will try to stop and start ntopng service (regardless of whether or not it is run). When it will be done the start service, ntopng will start if you have /etc/ntopng/ntopng.start file otherwise no.

[2017-02-06 11:49] #965 closed, assigned to ValentinaViscarelli

[2017-02-06 14:42] fprr commented on #966
I am running ntopng for Ubuntu 16 from the stable repositores.
This is the simple Kibana vertical bar chart for sums of in and out bytes sorted by IP:

[code]
After dowlnoading a file with 6MB from a client, it shows only about 0,70MB of traffic for this client.
Today I tried it with a ntopng version from the development builds and there i got the correct results - seems to be a problem with the s

[2017-02-06 14:46] simonemainardi commented on #966
ok, now I see. The issue is not connected with the ES export itself. It is due to a bug that prevented some flows from being exported. This is fixed in the dev release.

[2017-02-06 14:46] #966 closed, assigned to simonemainardi

[2017-02-06 14:50] simonemainardi commented on #967
dear @numeronove , first of all, many thanks for your contribution.

Could you please send us the changes through a merge request? This will enable us to evaluate and test our CI tools agains the changes.

Same if for nDPI.

A readme would be very much welcomed. Feel free to sumbit it as part of the merge request.

Thanks again!

[2017-02-06 14:50] #967 closed, assigned to nobody

[2017-02-06 14:51] simonemainardi commented on #964
@FlorianJedlicka any news? Did you try adding option `--online-license-check` to ntopng?

[2017-02-06 17:27] simonemainardi commented on #958
hi @ppoudrier , I went analyzed all the issues you reported using the latest dev of both ntopng and nProbe. Please see below.

Tried with FF for more than one hour. Also tried to stretch the page but the charts always keep the same size. I can confirm this issue is fixed.

nProbe, when shutting down, expires all the active flows it is currently processing and transmits them to the ntopng in a very

[2017-02-06 21:21] njcwotx opened #968 "ntopng service not using correct mysql.sock"
My mysql install uses another path.  the my.cnf file [client] directive and [mysqld] directive is using the correct path to mysql.sock, I can access it from command line, but when I start ntop the path is still the default.  mysql answers up from an external client too using correct username and password.  the issue I see is the '/var/lib/mysql/mysql.sock' is the wrong path and needs to be '/stora

[2017-02-06 21:35] numeronove commented on #967
It has been a pleasure :-)

I'll try to make up a merge request for both ntopng and nDPI, while gathering some notes in a README file for OpenBSD.

I have cloned both repositories and started to work on them, but it seems that things are getting worse.
There are several places where `const timeval*` is used in the prototype, while the implementation uses `const bpf_timeval*&`.

I mean, what are th

[2017-02-06 21:47] njcwotx commented on #968
I am able to telnet to localhost:3306

[2017-02-07 02:18] lhxhanson commented on #939
@simonemainardi
Hi simone

Several days ago, I updated ntopng to stable version: x86_64 v.2.4.170202, and it looks like the data retention still start at 8:00.

Hers is the ntopng log:
![image](https://cloud.githubusercontent.com/assets/5568373/22675030/35876166-ed1e-11e6-839c-dc6a925dfc39.png)

and this is my `date -R` result:

![qq 20170207101522](https://cloud.githubusercontent.com/assets/55683

[2017-02-07 08:07] vnznznz opened #969 "PSA: Unable to login with enabled NoScript AddOn (JS allowed)"
Hi,

Just a PSA, I don't think you have to fix anything.

* Installed ntopng ob Ubuntu 16.10 from office sources (apt install ntopng)
* Was unable to login with default credentials
* Tried everything with redis-cli  SET user.admin.passwod (md5hash) and redis-cli ntopng.admin etc...
* Purged ntopng from my system, reinstalled, still not able to login
* Disabled NoScript AddOn in my Firefox (JS was

[2017-02-07 09:34] emanuele-f commented on #969
Hi, I've just tried to run ntopng with noscript.
Without any additional setting, I'm able to login with default credentials (admin admin) but I'm not able to navigate. When I click "Allow 127.0.0.1" I'm able to navigate and use ntopng, but noscript still report "Scripts Partially Allowed" (it still blocks ghbtns and ripe for example).
So, in order to have full functionality on ntopng, you should a

[2017-02-07 14:10] simonemainardi commented on #969
This is something that should be checked with NoScript devs.

[2017-02-07 14:10] #969 closed, assigned to nobody

[2017-02-07 14:23] simonemainardi commented on #968
just tested with a non-standard sock file and it works.  See this:

[code]

make sure to replace, inside the -F configuration string, the host with the abs path of the socket file as shown above.

[2017-02-07 14:23] #968 closed, assigned to nobody

[2017-02-07 14:27] simonemainardi commented on #939
The screenshot enclosed only shows MySQL reconnections at 8.00, that is, exactly 8 hours after the latest connections (by default, mysql connection timeout is 8 h). This is normal.

You should verify, using mysql `show processlist` , if the system is actually doing the cleanup `DELETE` queries at 8am

[2017-02-07 14:34] simonemainardi commented on #967
@numeronove can you point me to one example?

-----

see this: https://bro-tracker.atlassian.net/browse/BIT-1757

[2017-02-07 16:56] numeronove commented on #967
Look at `Flow::invokeActivityFilter()` in `include/Flow.h`: `const timeval*` type is used in the prototype, while in `src/NetworkInterface.cpp` is invoked with `const bpf_timeval*&`, as pointed out by compiler (gcc 4.2.1):

[code]

Why in OpenBSD there is such difference, honestly I don't know.

I have built the same code in a recent linux distribution, and this error doesn't show up.

[2017-02-07 20:34] numeronove commented on #967
.

[2017-02-07 21:27] lawrencecare2 opened #971 "slack notifications not working"
ntopng Community v.2.5.170207

CentOS Linux release 7.3.1611

configured slack incoming integration and enabled slack notifications in preferences but not receiving anything in slack.

tested a manual curl call to my slack webhook URL and that was working fine.

[2017-02-08 03:17] lhxhanson commented on #939
Oh, I forget the Mysql timeout.
OK, this issue can really close.
Thx~

[2017-02-08 09:12] simonemainardi commented on #971
@lawrencecare2 this is a work in progress, you will be notified here when ready.

[2017-02-08 09:13] simonemainardi commented on #943
@ValentinaViscarelli @mAineAc- any news?

[2017-02-08 09:13] simonemainardi commented on #958
All the issues reported have been addressed and discussed above. Closing.

[2017-02-08 09:13] #958 closed, assigned to simonemainardi, emanuele-f

[2017-02-08 09:24] ValentinaViscarelli commented on #943
I'm not able to reproduce the problem. In order to understand the problem I need to connect to the machine where the problem has been verified.
@mAineAc-
If  this is possible, please contact me in private (valentina@ntop.org).
Thanks.

[2017-02-08 09:24] #943 closed, assigned to ValentinaViscarelli

[2017-02-08 22:36] delgadod opened #973 "Getting JSON output from .pcap files with the CLI"
Hello,

I am trying to process a large number of .pcap files with ntopng and get the JSON flow information.

I know it is possible to do so from the web GUI, but wanted to know if there was a way to do so from the CLI to make automating the process easier?

Apologies if this is trivial.

[2017-02-09 09:39] simonemainardi commented on #973
sure,

you can get the JSON (paginated) list of flows with

[code]

Then you can use the flow key received as part of the JSON reply above to get additional detailed flow information

[code]

[2017-02-09 09:39] #973 closed, assigned to nobody

[2017-02-09 09:54] simonemainardi commented on #716
@lhxhanson what you reported has been addressed in, in the latest dev build, if you browse to the historical page but don't visit the flows page, no query will be performed.

[2017-02-09 10:03] emanuele-f commented on #960
Just tested and it works for me with latest development version. No feedback received, closing for inactivity.

[2017-02-09 10:03] #960 closed, assigned to cardigliano

[2017-02-09 13:57] emanuele-f commented on #813
Hi, we have made some improvements. Can you try the tomorrow version of ntopng and report if you still experience the original issue? Thank you.

[2017-02-09 15:11] lordmortis commented on #479
@simonemainardi here's an interesting data point, may help you track this one down: For some reason, if i tunnel to localhost (so my connection *looks* like it's coming from localhost) I can log in. If i try the machine on port 3000 directly, i get the webpage, but i can't log in. Is there any debug logs or something I can provide you with?

[2017-02-10 03:38] tttyu commented on #359
i am facing a different issue when i dump my flows from ntopng into mysql. I am capturing packets using ntopng from an interface and dumping flows into mysql. When i see the tables in mysql it shows me lot of junk characters along with some data from the flow. Please help.

[2017-02-10 06:00] lhxhanson commented on #716
@simonemainardi  I am looking forward to the stable version. Thx~

[2017-02-10 08:12] almico opened #975 "Error upgrading ntopng using YUM on CentOS 7.3.1611"
I installed ntopng using the suggested procedure that uses yum and ntopng was running properly. Today I tried to upgrade ntopng and got this error:

[code]

[2017-02-10 09:40] emanuele-f commented on #975
Hi, as a quick fix please remove ntopng and ntopng-data, then reinstall ntopng. Nevertheless, this is a bug

[2017-02-10 09:45] emanuele-f commented on #479
@lordmortis what operating system are you using? What version of ntopng?

[2017-02-10 09:48] emanuele-f commented on #359
What ntopng version are you using?

[2017-02-10 10:03] simonemainardi commented on #359
@tttyu that's not junk, it's compressed data: https://dev.mysql.com/doc/refman/5.7/en/encryption-functions.html#function_uncompress

[2017-02-10 11:43] almico commented on #975
Done as per suggestion and this is the result:

[code]

[2017-02-10 11:52] lordmortis commented on #479
Ubuntu 16.04 64bit. here is the output from DPKG
[code]

I've installed it via `wget http://apt-stable.ntop.org/16.04/all/apt-ntop-stable.deb`, then installing that DPKG and apt-get'ing the above packages.

[2017-02-10 11:52] lordmortis commented on #479
Interestingly enough I just tried to login again (this time not over the VPN) and it worked. I will try via VPN later on tonight and update with how I went.

[2017-02-10 12:16] emanuele-f commented on #479
Thank you. The more information we have, the easier it will be for us to troubleshoot the problem.

[2017-02-10 15:57] luckman212 commented on #297
@jdillard Are you the pkg maintainer for ntopng on pfSense? I am trying to find out who that maintainer is. Having lots of core dumps with v2.4.2016.10.14 on 2.4 snapshots and wanted to see if someone could merge the new [2.4.2017.01.20_1](https://www.freshports.org/net/ntopng/) version that has landed in Freshports?

[2017-02-10 21:04] VenkatH opened #977 "Couldn't load the plugins and also cannot recognize the --elastic"
OS: centos 6.8 final
nprobe version: nProbe Pro v.7.4.170109 ($Revision: 5334 $)

nprobe is the proxy to collect NetFlow lite from the cisco switch and export to Elasticsearch which running in the same machine. I have demo license under the /etc/nprobe.license. when i start the nprobe it prints the below statements in the log.

[code]

here  is my nprobe.conf
-n=none
-i=none
-t=60
-d=60
-a=
-e=1
-

[2017-02-11 08:40] lucaderi commented on #977
This is correct. Plugins such as DNS require packets to be dissected in order to operate. If you send nProbe flows this cannot happen and thus they are disabled.

[2017-02-11 08:40] #977 closed, assigned to nobody

[2017-02-11 09:21] #975 closed, assigned to nobody

[2017-02-11 10:22] lucaderi opened #978 "Hosts pool parsing error"
It looks there is a parsing error in host pools

11/Feb/2017 11:19:09 [HostPools.cpp:266] WARNING: JSON Parse error [unexpected end of data] key: ntopng.prefs.0.host_pools.dump:
11/Feb/2017 11:19:09 [HostPools.cpp:266] WARNING: JSON Parse error [unexpected end of data] key: ntopng.prefs.0.host_pools.dump:
11/Feb/2017 11:19:09 [HostPools.cpp:266] WARNING: JSON Parse error [unexpected end of data] k

[2017-02-11 10:30] lucaderi opened #979 "Protocol version check can trigger alerts"
With https://github.com/ntop/ntopng/commit/34c5bce183a472c92f63b2eb3804c87a52eb30ec is now possible to report SSH client/server version

![screen shot 2017-02-11 at 11 23 50](https://cloud.githubusercontent.com/assets/4493366/22853087/ad8035a4-f04c-11e6-8ba2-9c04f8d63947.png)

It would be nice to specify (under preferences, on a file or similar) for local hosts, the minimum protocol version we con

[2017-02-11 15:34] tttyu commented on #359
ntopng version 2.4

[2017-02-11 17:30] tttyu commented on #359
@simonenainardi when i tried to uncompress using SELECT UNCOMPRESS(flowsv4) it says ERROR 1054 (42S22): Unknown column 'flowsv4' in 'field list'

[2017-02-12 07:16] tttyu commented on #359
@simonemainardi i get NULL when i do SELECT UNCOMPRESS('FLOWSV4)

[2017-02-12 08:24] tttyu commented on #359
If i use elastic search in ntopng to store my data flow, where does my elastic search database gets stored.How did i view the flow data?

[2017-02-12 10:35] simonemainardi commented on #359
`SELECT UNCOMPRESS('FLOWSV4)` is not a valid query; please read the manual and see how to uncompress the columns.

If you use elasticsearch, data will be stored in the ES cluster itself. ntopng won't read the data back.

[2017-02-12 11:43] simonemainardi commented on #978
@emanuele-f please check, this error occurs during ntopng startup and is related to the serialization of host pool counters

[2017-02-12 18:15] VenkatH commented on #977
-- nprobe.conf
-n=none
-i=none
-t=60
-d=60
-a=
-e=1
-B=10
-w=128000
-z=0
-S=1:1
-E=0:0
-g=/var/run/nprobe-none.pid
--collector-port=9995
-V=9
-T ="%IPV4_SRC_ADDR %IPV4_DST_ADDR %IPV4_NEXT_HOP %INPUT_SNMP %OUTPUT_SNMP %IN_PKTS%IN_BYTES %OUT_PKTS %OUT_BYTES
        %L4_SRV_PORT_MAP %L4_DST_PORT_MAP %FIRST_SWITCHED %LAST_SWITCHED %L4_SRC_PORT
        %L4_DST_PORT %TCP_FLAGS %PROTOCOL %PROTOCOL_MAP %S

[2017-02-13 02:45] hzdtony opened #980 "Not change password with something string"
I useing openssl rand  -base64 generate  radom password and change admin password with generated radom,as result radom password without login ntopng

[2017-02-13 04:28] tttyu commented on #359
@simonemainardi could you please tell me how to view the data from the ES cluster .i am getting confused.Please help

[2017-02-13 08:21] simonemainardi commented on #359
@tttyu you should use, for example, kibana (https://www.elastic.co/products/kibana). That will give you nice visualizations of ES data.

[2017-02-13 08:26] simonemainardi commented on #980
show and example with all the steps so I can try and reproduce

[2017-02-13 09:06] emanuele-f commented on #978
It should be fixed with ee480c36193ae68c64f15a7ee6bdf682f8839ab6

[2017-02-13 09:06] #978 closed, assigned to simonemainardi, emanuele-f

[2017-02-13 09:36] emanuele-f commented on #964
Closing for inactivity. Please reopen if necessary

[2017-02-13 09:36] #964 closed, assigned to simonemainardi, emanuele-f

[2017-02-13 09:38] emanuele-f commented on #813
@souzaeric @thegeodave do you still experience the issue with the latest version?

[2017-02-13 09:45] emanuele-f commented on #962
@filemoon please install the latest ARM package since it contains the fix (tested on a raspberry). Reopen if necessary.

[2017-02-13 09:45] #962 closed, assigned to lucaderi

[2017-02-13 12:43] souzaeric commented on #813
Hi @emanuele-f, I updated my ntopng today, but the traffic report is missing some informations. Now this only show me, network Interfaces

See the picture in bellow:
![image](https://cloud.githubusercontent.com/assets/22778946/22883839/3a981e24-f1d9-11e6-9e36-3de3fb674b9b.png)

[2017-02-13 13:59] emanuele-f commented on #813
Please select an interface from the check button at the top of the page, near the printer button

![screenshot at 2017-02-13 14-56-19](https://cloud.githubusercontent.com/assets/5488003/22886142/dfed1884-f1fc-11e6-92e6-afe478ee041e.png)

[2017-02-13 14:16] souzaeric commented on #813
I'm sorry, I didn't pay attention on this option.

After selected, the problem continues, I got the message:
WARNING: Script failure [/usr/share/ntopng/scripts/lua/pro/get_from_top_talkers_db.lua][not enough memory]

[2017-02-14 04:16] tttyu commented on #359
in a document it said :Via ZMQ ntopng dynamically subscribes to the nprobe, tells the nprobe what type of flow data it is interested in, and the nprobe sends ntopng only this information, without sending all flows to ntopng as probes do. How do i configure ntopng to specify the flows i am interested to gather

[2017-02-14 08:56] simonemainardi commented on #359
@tttyu you can use BPF filters for that.

[2017-02-14 09:24] lordmortis commented on #479
So - I'm not sure what changed between the first night i tried things and the next day but it started working (sorry for not replying before now). If you want any more debugging info i can try and give it to you, but it seems like waiting a few hours fixed it?

[2017-02-14 22:22] simonemainardi opened #981 "Location field not properly shown in host details page"
it's above the table:
![image](https://cloud.githubusercontent.com/assets/3397663/22952214/61d73f86-f30c-11e6-9342-dceb74804d1a.png)

[2017-02-14 22:24] simonemainardi opened #982 "Unable to set chart time frame"
When a time frame is selected, the page reloads but then the default 1h comes back

![image](https://cloud.githubusercontent.com/assets/3397663/22952260/89a4166a-f30c-11e6-8b61-cdcebf6f2c18.png)

[2017-02-14 22:26] simonemainardi opened #983 "Check empty http parameters"
As highlighted in https://github.com/ntop/ntopng/commit/01f47e04fd7c8d54399c9e465f823f0017069f8f, preventing "empty-string" HTTP parameters from being passed to lua, could break some pages.

It should be checked whether this is true and possibly implement a solution

[2017-02-15 04:36] tttyu commented on #359
why do i get flows with loopback ip address 127.0.0.1 in mysql database when i dump flows from ntopng using -F modifier in ntopng. How can i not get these flows?

[2017-02-15 07:48] simonemainardi commented on #359
-F tells ntopng to dump flows to mysql, so if it sees address 127.0.0.1 (very likely because you are monitoring also the loopbaxk interface) it will dump it. You can use BPF filters if you want to exclude addresses (not host 127.0.0.1)

[2017-02-15 08:15] james-shumba opened #984 "Realtime traffic"
How can I reset the data to show me realtime data only from a specific period, currently its showing cumulative host data for a long period, am I able to specify what period for a a host the data should show like the last 1 hour, last 1 week, last week, or at least just show exactly what hosts are pushing too much traffic at this particular moment.

am using windows version, version 2.4.160627 - P

[2017-02-15 09:58] simonemainardi opened #985 "Script "/usr/share/ntopng/scripts/lua/pro/report.lua" validation error"
[code]

[2017-02-15 10:10] emanuele-f commented on #984
Hi, you can review host traffic for a specific time period by selecting the host of interest, then, from the host page, click the [graph](http://fontawesome.io/icon/area-chart/) icon. From that page you can specify the time interval to view in the graph (1h, 12h, 1d, 1M and so on).

You can see the hosts which are generating most of the traffic at this particular moment directly from the dashboard

[2017-02-15 10:19] james-shumba commented on #984
Hi,

I dont have the graph icon, see attached
![captureccc](https://cloud.githubusercontent.com/assets/23502107/22969953/fb6d953e-f378-11e6-8024-ac105068b9f4.JPG)

[2017-02-15 10:31] emanuele-f commented on #981
Fixed with 7f48b1b4ad55c1ade4323cf76ceed5a0f768f4dd

[2017-02-15 10:31] #981 closed, assigned to emanuele-f

[2017-02-15 10:31] emanuele-f commented on #982
Fixed with 7f48b1b4ad55c1ade4323cf76ceed5a0f768f4dd

[2017-02-15 10:31] #982 closed, assigned to emanuele-f

[2017-02-15 10:31] emanuele-f commented on #985
Fixed with 7f48b1b4ad55c1ade4323cf76ceed5a0f768f4dd

[2017-02-15 10:31] #985 closed, assigned to emanuele-f

[2017-02-15 10:36] emanuele-f commented on #983
Moreover, after the change, another issue appears when selecting an expired host:
`ntopng/scripts/lua/host_details.lua:89: attempt to index global 'host' (a nil value)`

[2017-02-15 10:57] emanuele-f commented on #984
Graphs are only available for *local* hosts. You can configure your local networks with the *-m* option.

[2017-02-15 11:06] #983 closed, assigned to emanuele-f

[2017-02-16 10:26] emanuele-f commented on #945
Hi, I'm not able to reproduce the issue on the Raspberry. In order to spot the problem, please run ntopng with -v3 option and nrpobe with -b2. With those options you will be able to see the messages exchanged between ntopng and nprobe, so you can examinate if ntopng is still receiving nprobe messages when the issue occurs.

The messages of interest in ntopng log, which tell you ntopng is still rec

[2017-02-16 20:03] lawrencecare2 opened #987 "Engaged and Past alerts page displays No Results Found"
My Alerts page displays No Results Found for engaged and past alerts, but flow alerts are working. Also, I am able to see the number of accumulated alerts count in the purging confirm button.

ntopng v.2.5.170216

CentOS Linux release 7.3.1611 (Core)

[2017-02-17 11:18] emanuele-f commented on #987
This should be fixed with 4a5f0cf8a36343f941dc88b854630ae1f01e50c1. A new package will be available tomorrow. Please, reopen if necessary.

[2017-02-17 11:18] #987 closed, assigned to emanuele-f

[2017-02-19 11:36] ArchyCho opened #988 "/lua/if_stats.lua bug(2.5.170215)"
Version	2.5.170215 - Pro Small Business Edition
Built on	Debian GNU/Linux 8.2 (jessie)
nDPI	1.8.0-dev-692-b35c1ab
 Twitter Bootstrap	3.x
 Font Awesome	4.x
RRDtool	1.4.8
Redis Server	2.8.17
Mongoose web server	3.7
LuaJIT	LuaJIT 2.0.3
ØMQ	4.0.5
GeoIP	1.6.2

This product includes GeoLite data created by MaxMind.
Data-Driven Documents (d3js)	2.9.1 / 3.0

The page could only show the counting of 1H ,
e

[2017-02-19 17:45] emanuele-f commented on #988
Hi, this is already fixed with 7f48b1b4ad55c1ade4323cf76ceed5a0f768f4dd. Please update

[2017-02-19 17:45] #988 closed, assigned to nobody

[2017-02-19 17:45] emanuele-f commented on #984
Please reopen if necessary

[2017-02-19 17:45] #984 closed, assigned to nobody

[2017-02-19 17:48] james-shumba commented on #984
Thanks

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Emanuele Faranda <notifications@github.com>
Date: 2/19/17 19:46 (GMT+02:00)
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: James Shumba <James.Shumba@mopani.com.zm>, Author <author@noreply.github.com>
Subject: Re: [ntop/ntopng] Realtime traffic (#984)

Please reopen if necessary

-
You are receiving this bec

[2017-02-20 08:22] ArchyCho commented on #988
Dear Team

Please send me the update procedure , thanks.

ArchyCho

[2017-02-20 08:27] ArchyCho commented on #988
Dear Team

Sorry for stupid question , please ignore.

I have update the scripts and working correctly now.

Archy Cho

[2017-02-20 13:45] ArchyCho commented on #988
After updated , the host_details.lua still shown 1H only , please check.

[2017-02-20 14:15] emanuele-f commented on #988
Thank you for reporting. I've made a fix commit ff1568a4ef191f517048e29665d4a94478338654. New packages will be available tomorrow.

[2017-02-22 15:06] nksiddhant opened #989 "Cannot stop ntopng"
Hi,
I have amazon aws with 8 gb disk space, few hours ago my server HDD was full and my database and other stuff wasn't working properly.
I manged to free up the 1.5 gb of space by deleting some unwanted stuf.
My problem now is, ntopng gui site is not loading it's not giving any error just tries to connect to 3000 but nothing happens.

I tried
**cmd**:
`/etc/init.d/ntopng restart'

**Output**:
'*

[2017-02-22 15:37] emanuele-f commented on #989
Hi, if ntopng does not respond to the *TERM* signal then the only option is to kill it with *KILL* signal and restart the service afterwards. Before killing ntopng, you can stop the redis server and mysql database to try to avoid files corruption. Also check with iotop tool for ntopng disk activity since it could be writing RRD files which could get corrupted too.

What ntopng version are you usin

[2017-02-22 17:11] nksiddhant commented on #989
I dont know exact version but I think its latest one I downloaded and installed it 2 weeks back.

It will be difficult for me to stop mysql as there are active clients, is it recommended strongly to turn it off?

[2017-02-22 17:15] nksiddhant commented on #989
Ok I killed the process, nothing was lost all works fine thanks all previous readings are there. Thanks allot.

[2017-02-22 17:17] laterano opened #990 "ntopng stop after 5 minutes"
Hello,
after reinstalling the correct license for Ntopng the service is stopped exactly after 5 minutes of use, reading between the logs was released this statement:

22/Feb/2017 16:25:04 [MySQLDB.cpp:582] Attempting to connect to MySQL for interface zc:em2...
22/Feb/2017 16:25:04 [MySQLDB.cpp:622] Succesfully connected to MySQL [localhost:userntop] for interface zc:em2
###########################

[2017-02-22 17:23] nksiddhant commented on #989
dam again there was problem
PID       CPU          App
19252  57.1 10.6   ntopng          /usr/bin/ntopng /etc/ntopng/ntopng.conf

It is using 60 % of CPU what should I do, I killed the process right now

[2017-02-22 17:38] emanuele-f commented on #989
Please run `ntopng -V` to get the exact version number. Also post here your `/etc/ntopng/ntopng.conf`

[2017-02-22 17:40] PandaWawawa opened #991 "Problem to install on fresh RedHat 7.3 due to dependencies problems"
Hi everyone,

I have trouble trying to install ntopng on fresh Redhat 7.3

I follow the instructions on http://packages.ntop.org/centos/
But it seems that there is some problem  with mysql, numactl and rrdtools denpendencies which are not packaged

I've managed to install numactl, MariaDB-common and rrdtools which are needed,
But when I retry to install it leads to several messages like :
"Http://

[2017-02-22 17:42] emanuele-f commented on #990
You are using zero copy pfring (see interface "zc:em2"), which requires a separate license.

[2017-02-22 17:48] nksiddhant commented on #989
Hi
Its version is v.2.5.170202,
I restarted it, Its working now.
When cpu usage was 60% i was using professional mode (10 minutes), I dont know exactly where I went, which was resulted in so high cpu consumption.
Now in normal mode I tested it is working fine. Ill keep youll updated about same

ntopng.conf
[code]

[2017-02-22 17:50] laterano commented on #990
the license is present, I see below ntop-licenses-configuration-ZC

[2017-02-22 17:54] emanuele-f commented on #990
Where is located the license file?

[2017-02-22 18:00] laterano commented on #990
in etc/pf_ring/mac address

[2017-02-22 18:27] emanuele-f commented on #990
Please contact us privately http://www.ntop.org/support/need-help-2/contact-us/ for licence issues.

[2017-02-22 18:27] #990 closed, assigned to nobody

[2017-02-23 00:03] mikepaxton commented on #153
In order to get past the admin password issue I had to shutoff ntopng password usage all together.  To do this I used:
sudo ntopng -l 1
You can find the details of this under ntopng's man pages.
After doing this I rebooted ntopng using:
sudo service ntopng restart

Hope this helps.

EDIT:  The only way I could seem to make this work on a perminant bases was to add the -l 1 option to ntopng's .conf

[2017-02-23 02:18] Dhardeki opened #993 "which folder location to put License number in Centos 7"
Hi Everyone, I'm newbie in Centos 7, I would like to activate the license from the Community license into the professional once, and I have got the license number and I have followed the instruction but it still says the license still Community License. Can you please to give me the instruction ?
Thank you for you all support.
Cheers

[2017-02-23 08:01] nksiddhant opened #994 "Cant install ntopng on Ubuntu 16.04"
Tried to install ntopng on new server but after dependencies error it is giving me a fatal error now

""
Setting up ntopng (2.2+dfsg1-1build1) ...
Processing triggers for libc-bin (2.23-0ubuntu5) ...
Processing triggers for systemd (229-4ubuntu16) ...
Processing triggers for ureadahead (0.100.0-19) ...
FATAL -> Failed to fork.
""

[2017-02-23 13:31] emanuele-f commented on #993
Hi, license can either be entered via the ntopng web ui, in the about page, or manually by writing it to the file `/etc/ntopng.license`.
Please read http://www.ntop.org/support/faq/my-license-does-not-work-what-can-i-do/ for more details

[2017-02-23 13:32] emanuele-f commented on #994
You are trying to install a very outdated version (2.2). You should setup the repository as explained at http://packages.ntop.org/

[2017-02-23 13:36] emanuele-f commented on #153
@mikepaxton do you access ntopng web interface directly? Did the issue came out after an update?

[2017-02-23 13:40] emanuele-f commented on #991
Hi, can you try to install the latest version of the packages located at http://packages.ntop.org/rpm7/ ?

[2017-02-23 13:48] emanuele-f commented on #856
Closing for inactivity. Please reopen if necessary

[2017-02-23 13:48] #856 closed, assigned to nobody

[2017-02-23 13:52] emanuele-f commented on #989
When running in pro mode, you can try the following:
- Verify if the problem is related to the mysql connection (*-F* flag)
- Disable alerts (*-H* flag)

We can try to look for a problem if you provide an strace with `strace -tt -f -o strace.out -p [pid]`.

[2017-02-23 13:52] emanuele-f commented on #980
@hzdtony any update?

[2017-02-23 13:55] nksiddhant commented on #994
Processing triggers for man-db (2.7.5-1) ...
Errors were encountered while processing:
 ntopng

[2017-02-23 13:55] emanuele-f commented on #945
@timothyherrera any update on this?

[2017-02-23 13:58] emanuele-f commented on #994
What operating system are you using? Please make a clean install following the instructions reported at the link above. For ubuntu, you can go with http://packages.ntop.org/apt/

[2017-02-23 14:00] nksiddhant commented on #994
[code]

[2017-02-23 14:01] nksiddhant commented on #994
hi Iam using Ubuntu 16.04 64 bit

[2017-02-23 15:45] nksiddhant commented on #994
After too many failed attempts, atlast it is installed properly
Thanks

[2017-02-23 16:14] #994 closed, assigned to nobody

[2017-02-23 16:20] PandaWawawa commented on #991
Hi !

Yup that solved my problem, installing manually by these rpm
Thank you :)

(Maybe some modification should be done on the centos repo)

[2017-02-23 19:07] emanuele-f commented on #991
Maybe there is a problem with your installation. I suggest you to clean and retry to install ntopng following the instructions on http://packages.ntop.org/centos/ for CentOS 7. You should be able to pull mysql and other dependencies automatically from the package manager.

[2017-02-24 02:16] Dhardeki commented on #993
Hi Emanuele,

thank you for your response, I had tried both of them, also I tried the step in in that link to check the license and it looks ok, but in the GUI it says the version is "Community Edition”

Cheers,
Deki

From: Emanuele Faranda [mailto:notifications@github.com]
Sent: Thursday, February 23, 2017 8:32 PM
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: Hardeki, Deki (CIFOR) <D.HARDEKI@CG

[2017-02-24 08:27] FlorianJedlicka commented on #964
Sorry for the late response, we´ve had holidays and we didn´t have access to our final year project.
I´ve tried the online license command, and it showed "started packed pooling" and after that it didn´t do anything. The SystemID is the same, as we´ve used it to get the license.

[2017-02-24 08:38] izzie88 opened #995 "ntopng issues"
Hi Luca,
I am having the issues below with ntopng, Please help

Feb 24 09:36:06 NTOP-DPI ntopng[21347]: [CollectorInterface.cpp:59] ERROR: Unable to connect to ZMQ endpoint tcp://*:5556c
Feb 24 09:36:06 NTOP-DPI ntopng[21347]: [main.cpp:190] ERROR: Unable to create interface tcp://*:5556c
Feb 24 09:36:06 NTOP-DPI ntopng[21347]: [main.cpp:223] ERROR: Startup error: missing super-user privileges ?

[2017-02-24 09:12] IT-MPIC opened #996 "ntopng Pro can't access traffice_report page"
With a ntopng Pro license I can't access the traffic report overview page ("This feature is only available in the ntop enterprise version"). But I can't get an enterprise version at the moment.
How can I access to this page now?

Thanks
Torsten Helmer @MPIC

[2017-02-24 09:32] FlorianJedlicka commented on #964
It says, SQL Error: Database is locked

[2017-02-24 10:01] emanuele-f commented on #993
Please post the startup log of ntopng, it will contain hints to find out where the problem is

[2017-02-24 10:03] emanuele-f commented on #995
Hi, can you post here your ntopng command line options / your ntopng configuration file?

[2017-02-24 10:05] emanuele-f commented on #996
Indeed you need the Enterprise version, which is in trial state for now. Please contact us privately to get more information.

[2017-02-24 10:05] #996 closed, assigned to nobody

[2017-02-24 10:24] FlorianJedlicka opened #997 "License Problem"
I got my license for the ntopng version, and put it into the Gui of it. However, it still says in the bottom, to be the community version.
I´ve tried the online license command, and it showed "started packed pooling" and after that it said " SQL Error: Database is locked".
The SystemID is the same, as we´ve used it to get the license.

[2017-02-24 10:32] emanuele-f commented on #997
If you try to disable both alerts (add -H option) and mysql dump (remove -F option), do you get pro mode? Can you post the full startup log?

[2017-02-24 10:37] FlorianJedlicka commented on #997
What alerts do you mean?

[2017-02-24 10:50] emanuele-f commented on #997
Alerts are not available in stable version. What exact ntopnt version do you have (use -v option or get it from the web ui)? On stable version, just remove the -F option.

[2017-02-24 11:05] FlorianJedlicka commented on #997
I have the 2.4.170109 - Community Edition

[2017-02-24 11:32] emanuele-f commented on #997
So please post the full ntopng log.

[2017-02-24 11:42] FlorianJedlicka commented on #997
I´ve just logged off. I only have access to it on friday, so I can´t post it until next week

[2017-02-24 17:45] lucaderi opened #999 "VLAN submenu in hosts and Flow View"
When using tagged traffic, it would be nice to have dropdown menu (similar to local vs remote etc) in flows and hosts view, to restrict the view to only one VLAN.

In case a VLAN is selected (for instance 150) no tag in hyperlinks has to be displayed (i.e. do not add @150 at the end of the host name)

[2017-02-24 17:49] simonemainardi commented on #964
what is the ntopng configuration used?

[2017-02-24 17:50] lucaderi commented on #995
@izzie88 You have an errore in your command line. tcp://:5556c is wrong. User for instance tcp://127.0.0.1:5556c

[2017-02-24 17:50] #995 closed, assigned to nobody

[2017-02-25 08:12] lucaderi opened #1000 "Implement MAC Address Summary"
In Devices -> Layer 2, implement a device summary, so that it is possible to select devices belonging to a specific manufacturer. Probably the simplest way to implement it is by adding a drop down menu to the table that lists all the known MAC manufacturers, and restricts the view to only those MAC addresses that are manufactured by the specific company. In so, add next to the manufacturer name th

[2017-02-25 08:51] lucaderi opened #1001 "Split IPv4/v6 View"
In both flows and hosts view, on the table drop-down menu, add the ability to select only IPv4 or IPv6 traffic only (better if it can be combined with local IPv4, remote IPv6 etc).

[2017-02-26 16:32] animosity022 opened #1002 "Name Incorrect"
Where does the Name field get populated from?

I have a name that doesn't seem to come from anywhere that I can figure out:

http://i.imgur.com/8CkJhDu.png

[code]

I have n=1 configured for my DNS name resolution. I've tried stopping/cleaning out my data dir and starting fresh yet the name keeps persisting.

[2017-02-27 04:49] Kaldek opened #1003 "iface_local_stats.lua:24: attempt to index a nil value"
I've just installed a licensed 2.4.160627 - Pro Small Business Edition of ntopng on Windows 2012 R2.

After changing my interface to use a friendly name, from "\Device\NPF_{72B608E9-1BD9-4518-87CE-C8E2486AB82B}" to "Sniffer", the logs are now saying:

27/Feb/2017 15:44:42 [Lua.cpp:5134] WARNING: Script failure [D:\ntopng\scripts\lua\iface_local_stats.lua][D:\ntopng\scripts\lua\iface_local_stats.lu

[2017-02-27 07:42] Kaldek commented on #1003
OK so I reinstalled and with a stock install the problem went away.  This time the difference is that I'm still running as LOCAL SYSTEM rather than a dedicated account and I started the service the very first time listing only the interface I used for packet capture rather than all interfaces.  I still renamed the capture interface.  So, that can't be the problem.

Hmm, now to check if the differe

[2017-02-27 13:14] lucadistefano opened #1004 "Lua.cpp:5856] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/hourly.lua][...ng/pro/scripts/lua/modules/top_scripts/top_aggregate.lua:111: attempt to index a nil value]"
we get hourly the following warning:
Lua.cpp:5856] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/hourly.lua][...ng/pro/scripts/lua/modules/top_scripts/top_aggregate.lua:111: attempt to index a nil value]

there is a way to fix it?

Thanks,
Luca

v.2.5.170217 [Enterprise/Professional Edition]
GIT rev:   dev:1cc159c09e1646b09ce6b4f8526cdac8e0c598ae:20170217
Pro rev:   r957
Built on:

[2017-02-27 13:47] emanuele-f commented on #1003
What do you mean with localsystem?

[2017-02-27 13:53] emanuele-f commented on #1004
Hi, do you have VLANs?

[2017-02-27 14:00] emanuele-f commented on #1002
Maybe it comes from DHCP?

[2017-02-27 14:06] animosity022 commented on #1002
192.168.86.1 is my DHCP and internal DNS resolver.

[code]

I tried wiping out all the data/mysql ntopng database and restarting fresh to see if it goes away, but I can't figure out where it's pulling that name from.

[code]

Rebooted a few times as well as that name was a router distro I tried for a few hours and it has been gone for some time now.

[2017-02-27 14:21] emanuele-f commented on #1002
If you think this might come from a previous ntopng configuration, you have to wipe redis data as well (redis-cli flushall). If you can provide a pcap file with dhcp / dns traffic, we can inspect it.

[2017-02-27 14:23] animosity022 commented on #1002
redis-cli flushall was the last step I was missing.

It's working fine now and resolving properly!

Thanks!

[2017-02-27 14:23] #1002 closed, assigned to nobody

[2017-02-27 14:45] simonemainardi commented on #1004
I confirm this happens with VLANs

[2017-02-27 17:43] lucadistefano commented on #1004
yes we have vlans

Luca
Inviato da iPhone

[2017-02-27 22:10] Kaldek commented on #1003
Sorry I was referring to the SYSTEM user account in Windows, as used below by the ntopng service:

![image](https://cloud.githubusercontent.com/assets/26052829/23382287/b204ebb4-fd95-11e6-8533-d8f8ca24a441.png)

[2017-02-27 22:26] emanuele-f commented on #1003
I see. The Windows package is outdated. I suggest you to move to a Linux based distribution like Ubuntu or Centos where the latest packages are available. Nevertheless, if you can spot the problem on Windows, maybe some other users can take advantage.

[2017-02-28 11:42] emanuele-f commented on #980
Closing for inactivity. Please reopen if necessary.

[2017-02-28 11:42] #980 closed, assigned to simonemainardi

[2017-02-28 12:31] PSmolders opened #1005 "Ntopng Nagios send_nsca configuration parameter validation error"
Using Ubuntu Server 16.04, ntopng 2.5.170228.

I am trying to connect my Nagios server to ntopng using the web GUI. Nagios was disabled in the GUI, so I switch it on, fill in the Nagios/ntopng host information and click to apply. Then I get an error message stating: [Lua.cpp:6235] WARNING: Script failure [/usr/share/ntopng/scripts/lua/admin/prefs.lua][/usr/share/ntopng/scripts/lua/modules/http_lin

[2017-02-28 12:46] johnydoo opened #1006 "Flows stay active"
It looks like flows stay active and do not age out. Ntopng keeps collecting flows until the value of “—max-num-flows” is reached (the default value is 131.072). We tried increasing this number to 1.000.000, but it does not solve the issue, it just takes longer before the limit is reached. It takes about 18 hours to collect 1M flows.

Flow Idle Timeout is 60 seconds (also tried 0 and 1 second witho

[2017-02-28 14:33] johnydoo commented on #1006
![image](https://cloud.githubusercontent.com/assets/26087543/23409257/2f7e6b26-fdcb-11e6-856d-0d5191d2d05b.png)

[2017-02-28 14:45] emanuele-f commented on #1005
Parameter error is fixed in 0bbcc64 . Please manually run ntopng in verbose mode and filter its output like this `ntopng -v4 | grep system`, then report the log here. It should be something like this (with error in my case):

[code]

[2017-02-28 14:52] PSmolders commented on #1005
[code]

The alert is set up to fire every minute.

[2017-02-28 15:09] emanuele-f commented on #1005
Please try to execute this command, substituting the arguments according to your specific configuration:

`echo "TestMessage     0       This is a test message" | /usr/local/nagios/bin/send_nsca -H localhost -p 5667 -c /usr/local/nagios/etc/send_nsca.cfg`

[2017-02-28 15:15] PSmolders commented on #1005
`0 data packet(s) sent to host successfully.`
I can confirm the bin and cfg are in the correct places.

When disconnecting NSCA I get:
`Connection refused by host
Error: Could not connect to host 192.168.90.98 on port 5667`
as would be expected.

Edit:
If I write "TestMessage 0 This is a test message" to a text file, properly tab the columns and use it as input for NSCA, it does work correctly.

E

[2017-03-01 11:13] Dafubar commented on #479
I could reproduce the issue. I did a clean install through apt-get on ubuntu 16.04.
I tried to login with my Safari (macOS 10.12.3 & 10.12.4(beta)) -> loopback to login page
After reading some of these answers I changed to Chrome> login worked

[2017-03-01 11:14] emanuele-f commented on #1006
Hi, I'm not able to reproduce the issue. If you go into the interface graphs and select the "Active Flows" graphs, do you see flows graph line always going up? Do you see errors in the ntopng log? Do you capture flows from a local interface?

[2017-03-01 11:16] emanuele-f commented on #945
Closing for inactivity. Please reopen if necessary.

[2017-03-01 12:33] johnydoo commented on #1006
We are using nProbe to collect and convert netflows. ntopng is using interface “tcp://127.0.0.1:5556”, so both nProbe and ntopng are on the same server.

The netflow sender is a Cisco ASA firewall, but we also tried a Cisco Catalyst 4500 switch (same result). Active flow timeout on the sending device is configured to 1 minute (default is 30 minutes).

nProbe version 7.4.170215-5334

See attachment

[2017-03-01 14:07] emanuele-f commented on #1006
@simonemainardi can this be solved with dev fix 2a68676d93a6bd2046ecf33704f8e4f6591dc769 ?

[2017-03-01 20:16] hoppushoppard opened #1008 "The repository 'http://packages.ntop.org/apt/18.1 x64/ Release' does not have a Release file."
**Issue**
After installing repository and performing respective steps, apt writes
`The repository 'http://packages.ntop.org/apt/18.1 x64/ Release' does not have a Release file.`

I'm using Linux Mint 18.1. Serena (based on Ubuntu 16.04).

**Steps to reproduce**
I've installed apt-ntop-stable.deb, using described steps on your install page.

**16.04 LTS**
[code]
after that, apt stuff
[code]

Apt sa

[2017-03-02 08:01] olivierbeytrison opened #1009 "Missing LDAP Server address field"
Running Ntop-NG 2.5.170228 - Pro Small Business Edition
In preferences, when activating LDAP authentication, the ldap server address field is not displayed.

![image](https://cloud.githubusercontent.com/assets/2838126/23498212/cae07c74-ff26-11e6-844c-583f42e0bd9b.png)

[2017-03-02 09:25] emanuele-f commented on #1009
Thank you.

[2017-03-02 11:04] gianogli opened #1010 ""No Data Available" for "Top Application Traffic Last Day View""
![ntopng](https://cloud.githubusercontent.com/assets/14093378/23503761/463584e4-ff3d-11e6-93e8-934ff11c5367.png)
I can't understand why we haven't data for this graph also if ntopng is up and running from 18 hours. Is there a bug in ntopng or is it a problem of our configuration?

We run ntopng command with these parameters:

`ntopng -i zc:2@0 -i zc:2@1 -i zc:2@2 -i zc:2@3 -i view:zc:2@0,zc:2@1,zc

[2017-03-02 13:25] olivierbeytrison commented on #1009
Thanks. But I'd rather put the server address field before the ldap anonymous binding.

`local elementToSwitch = {"row_multiple_ldap_account_type", "row_toggle_ldap_anonymous_bind","server","ldap_server_address","bind_dn", "bind_pwd", "search_path", "user_group", "admin_group"}`

And while submitting the form I always get a validation error :

/usr/share/ntopng/scripts/lua/modules/http_lint.lua:86

[2017-03-02 14:32] #1000 closed, assigned to emanuele-f

[2017-03-02 15:07] simonemainardi commented on #479
@Dafubar did you use an hostname? Or just the loopback IP address?

[2017-03-02 15:10] simonemainardi commented on #1008
thanks for reporting. Linux Mint is not officially supported for the packaged versions. Please compile from sources or use one of the packaged versions available at: http://packages.ntop.org/

[2017-03-02 15:10] #1008 closed, assigned to nobody

[2017-03-02 15:11] johnydoo commented on #1006
Any ideas?

[2017-03-02 15:58] #1009 closed, assigned to emanuele-f

[2017-03-02 16:18] emanuele-f commented on #991
Closing. Please reopen if necessary

[2017-03-02 16:18] #991 closed, assigned to nobody

[2017-03-02 16:21] emanuele-f commented on #993
@Dhardeki did you managed to solve the problem?

[2017-03-02 16:22] emanuele-f commented on #989
I'm closing the issue since the original problem is solved. Please open a new issue if you still experience the *pro mode* high cpu load. Thank you.

[2017-03-02 16:22] #989 closed, assigned to nobody

[2017-03-02 18:29] #1001 closed, assigned to emanuele-f

[2017-03-03 02:01] achurak commented on #943
Just FYI, I had exactly the same issue on my raspberry pi - it would just stuck on this forever:

[code]
I was poking around and found out that the nprobe's init.d script is trying to figure out the pid by looking into the /tmp/nprobe-none@0.conf:
`PID_FILE=$(cat /tmp/nprobe-${INTERFACE_NAME}@${ID}.conf | grep -E '^\-g=|^\-\-pid\-file='|cut -d '=' -f 2)`
which in my case doesn't contain a path to

[2017-03-03 02:29] Dhardeki commented on #993
Dear Emanuele,

Thank you for your support, I still have the same problem.
Where I can’t activate the license, it still says Community License, I tried follow the instruction but not worked.
Is there something wrong from my side ?

Cheers,
Deki

From: Emanuele Faranda [mailto:notifications@github.com]
Sent: Thursday, March 2, 2017 11:21 PM
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: Hardeki, D

[2017-03-03 07:33] ValentinaViscarelli commented on #943
Please try to add this row to your configuration file:

-g=/var/run/nprobe-none.pid

[2017-03-03 07:40] FlorianJedlicka commented on #997
So back at it again. What can I do? Should I post the configuration?

[2017-03-03 07:54] achurak commented on #943
Looks like it worked. There are no updates available at the moment, but I ran the "/etc/init.d/nprobe stop" command and it went through with no errors and no freezing. Strangely I didn't see this option required anywhere in the startup guide. Granted I didn't invest too much time into this, so I'll just blame myself :) Thanks for your help!

[2017-03-03 08:17] emanuele-f commented on #993
@Dhardeki please post the startup log of ntopng so that we can inspect it

[2017-03-03 08:21] Dhardeki commented on #993
Hi Emanuele,

I did it, also I tried restart the server, but unfortunately the problem still persist.

Cheers,
Deki

From: Emanuele Faranda [mailto:notifications@github.com]
Sent: Friday, March 3, 2017 3:17 PM
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: Hardeki, Deki (CIFOR) <D.HARDEKI@CGIAR.ORG>; Mention <mention@noreply.github.com>
Subject: Re: [ntop/ntopng] which folder location to put Lice

[2017-03-03 08:30] olivierbeytrison commented on #1009
Thanks, now it's possible to save the ldap configuration !

[2017-03-03 08:34] emanuele-f commented on #997
Yes, we need configuration and full log. Maybe it's better if you contact us privately http://www.ntop.org/support/need-help-2/contact-us/

[2017-03-03 08:44] emanuele-f commented on #993
I cannot see the startup log of ntopng in your previous messages, maybe it's related to the fact that you are using standard email to reply in github. Please contact us directly www.ntop.org/support/need-help-2/contact-us/ Thank you

[2017-03-03 08:44] #993 closed, assigned to nobody

[2017-03-03 08:49] olivierbeytrison opened #1012 "Is actually LDAP Auth really implemented?"
Version : 2.5.170228 - Pro Small Business Edition

Now that the GUI issues are solved, I'm trying to get the LDAP auth to work, without success.

I've searched throughout the code and I've never been able to end to the ldap authentication code itslef (and the includes like LdapAuthenticator.h doesn't exists).

And I sniffed the network traffic to see if there was actually connections established t

[2017-03-03 08:58] emanuele-f commented on #1012
Ldap is only available in the pro version of ntopng, so source files are not available. Do you see errors in the log?

[2017-03-03 09:07] olivierbeytrison commented on #1012
okay for the source code, makes sense! ;)

nothing in the logs, even with -V=6
nothing with tcpdump sent to the server

[code]

[code]

[code]

[2017-03-03 09:09] olivierbeytrison commented on #1012
[code]

installed from

[code]

[2017-03-03 09:35] PSmolders opened #1013 "Hosts tab in web GUI empty"
Using ntopng 2.5.170303 - Enterprise Edition and Ubuntu Server 16.04.

Every page under the hosts tab in the web GUI gives me a message "No results found". I am using the following command line arguments for ntopng and nProbe.

nprobe -i eno1 -n none -G -u 1 -Q 1 -V 9 -L "192.168.0.0/16" --zmq "tcp://*:5556"

ntopng -i "tcp://localhost:5556" -e -w "192.168.90.98:3000" -m "192.168.0.0/16" -F "mysql

[2017-03-03 09:45] olivierbeytrison commented on #1012
redis content :

[code]

[2017-03-03 09:53] emanuele-f commented on #1012
@ValentinaViscarelli can you help @olivierbeytrison ?

[2017-03-03 10:35] simonemainardi commented on #1005
Ntopng sends alerts to Nagios via NSCA messages using properly formatted service descriptions. You get the error as you didn't define a proper description

ntopng outputs NSCA service descriptions that are compliant with the following convention:
<nagios_service_description_as_configured>_<IP address or CIDR network or interface name>_<time granularity>_<alert type>

It's up to you to define servi

[2017-03-03 10:36] #1005 closed, assigned to simonemainardi

[2017-03-03 10:49] simonemainardi commented on #1010
Do you get the data if you select any of the non-view interfaces defined?

[2017-03-03 10:54] emanuele-f commented on #1013
If you are upgrading from the stable version then probably you have some configuration issue. If you can lose configuration/historical data, please perform a `redis-cli flushall`

[2017-03-03 11:00] emanuele-f commented on #1006
If you check active flows in the gui, is "First / Last Seen" field within a reasonable range?

[2017-03-03 11:01] PSmolders commented on #1013
I stopped nProbe and ntopng, performed the redis flush and started nProbe and ntopng. It did reset all my settings as I expected, but the hosts tab still does not work.

[2017-03-03 11:05] emanuele-f commented on #1013
Can you see errors in the ntopng log?

[2017-03-03 11:07] simonemainardi commented on #1006
@emanuele-f  fix 2a68676  is not related.

@johnydoo please update ntopng and nprobe to their dev versions

[2017-03-03 11:15] simonemainardi commented on #961
The degree of flexibility requested for data decoration is something that should not be done inside ntopng. Indeed, it's role is to provide accurate network data not custom decorations.

We believe that deep data decoration and augmentation is something that must be done after ntopng in the data pipeline. Dedicated software already exists for this kind of operations, see for example Logstash https

[2017-03-03 11:15] #961 closed, assigned to simonemainardi

[2017-03-03 11:17] simonemainardi opened #1014 "WARNING: Script failure [/Users/simone/code/ntopng/scripts/callbacks/5min.lua][/Users/simone/code/ntopng/scripts/callbacks/5min.lua:10: module '5min' not found:"
no field package.preload['5min']
	no file '/Users/simone/code/ntopng/pro/scripts/callbacks/5min.lua'
	no file '/Users/simone/code/ntopng/scripts/lua/modules/5min.lua'
	no file './5min.lua'
	no file '/usr/local/share/luajit-2.0.3/5min.lua'
	no file '/usr/local/share/lua/5.1/5min.lua'
	no file '/usr/local/share/lua/5.1/5min/init.lua'
	no file './5min.so'
	no file '/usr/local/lib/lua/5.1/5min.so'
	no

[2017-03-03 11:21] PSmolders commented on #1013
[code]

This snippet shows up when I click the hosts page. Apart from this, I can't see any errors. Running the log at -v 6.

[2017-03-03 11:21] emanuele-f commented on #1014
git pull on the pro branch does not work?

[2017-03-03 11:21] emanuele-f commented on #1014
Sorry, I missed to push the file

[2017-03-03 11:21] #1014 closed, assigned to emanuele-f

[2017-03-03 11:26] johnydoo commented on #1006
@emanuele-f What is reasonable? We just restarted the ntopng daemon 2 hours ago and the oldest flow is first seen since 16 days, 2 h, 17 min, 18 sec ago and last seen 16 days, 2 h, 17 min, 18 sec ago. The server and the Cisco ASA have both synchronized clocks.

@simonemainardi what version do we need? We used the ntop repo for Centos (http://packages.ntop.org/centos/ntop.repo)

[2017-03-03 11:35] simonemainardi commented on #1006
@johnydoo you are using `2.4.170215` thus `http://packages.ntop.org/centos-stable/ntop.repo`

please delete the repos installed and follow the instructions at `http://packages.ntop.org/centos/` to update to dev

[2017-03-03 11:36] emanuele-f commented on #1013
From the nprobe options above it seems like your nprobe is only used to send local interface eno1 flows, which does not require the -V option since no Netflow communication is involved

[2017-03-03 11:44] almico commented on #961
May be I was not clear enough when I presented the problem ("data decoration") and proposed a solution ("redis or anything similar").
I totally agree that decoration should be done outside ntopng and I push that forward, stating that even saving to a database should be done outside ntopng.
Having ntopng save to a file or to any intermediate broker (I suggested Redis because I think ntopng already

[2017-03-03 11:50] simonemainardi commented on #993
@Dhardeki try to add --online-license-check to the ntopng options

[2017-03-03 12:01] simonemainardi commented on #961
I know people that use it and apart from spending some time for confguration, it works well

well

Have a look at nprobe. With it you can export to plain text files

[2017-03-03 12:26] PSmolders commented on #1013
I removed the -V option from nProbe, but I still can't see any data from the pages in the hosts and devices tabs.

[2017-03-03 13:57] johnydoo commented on #1006
Updating to the dev version introduced more problems than we had. Flows are coming in and are visible, but Hosts, Networks and Host Pool stay empty (No Results Found).

Ntopng is giving these errors:

`03/Mar/2017 14:24:58 [Lua.cpp:6272] WARNING: Script failure [/usr/share/ntopng/scripts/lua/network_load.lua][/usr/share/ntopng/scripts/lua/modules/http_lint.lua:861: [LINT] _GET["ifname"] = "all" pa

[2017-03-03 14:00] simonemainardi commented on #1006
error shown has been fixed in "https://github.com/ntop/ntopng/commit/adf62c7f6556cf6e280e877451b6d356424f70eb" a new build is in progress, try to update in an hour

@emanuele-f check:
[code]

[2017-03-03 14:06] simonemainardi opened #1015 "Hosts page broken with ZMQ interfaces"
Hosts page is always empty for ZMQ interfaces

[2017-03-03 14:07] simonemainardi commented on #1013
@PSmolders I confirm the issue, please follow up here: https://github.com/ntop/ntopng/issues/1015

[2017-03-03 14:07] #1013 closed, assigned to nobody

[2017-03-03 14:11] simonemainardi commented on #1003
on windows, if you decide to start the parameters of an installed service, you have to remove the service first with /r , and then install it again with /i (see the user guide for additional information)

[2017-03-03 14:11] #1003 closed, assigned to nobody

[2017-03-03 15:24] emanuele-f commented on #1006
I think the ifname parameter error comes from a browser window running pre-update javascript code, I cannot find any other reference to it in the latest code

[2017-03-03 15:53] simonemainardi commented on #1006
@johnydoo hit ctrl-shit-R to get rid of the LINT error.

[2017-03-03 19:41] emanuele-f commented on #1015
The cause is commit eafea969c46424f861de469fa2bb2526f0a209b2 . Now MAC 00:00:00:00:00:00, which is used in nprobe flows, is considered a special MAC address but in host_stats we only retrieve non special mac hosts (r->hostMacsOnly = true).

Reverting the change with `git diff eafea969c46424f861de469fa2bb2526f0a209b2..9139851cc9828d3c9b38de409b242b3be0d1473a src/Utils.cpp | git apply` fixes the pro

[2017-03-04 10:34] lucaderi opened #1016 "Network sort broken"
![screen shot 2017-03-04 at 11 33 54](https://cloud.githubusercontent.com/assets/4493366/23578075/8c6fa3c6-00ce-11e7-8dbc-582ce2287725.png)

[2017-03-04 13:17] simonemainardi commented on #1015
why did you reopen it?

[2017-03-04 13:19] emanuele-f commented on #1015
@simonemainardi issue is not fixed, otherwise I would have closed it myself.

I only pointed out where the problem is, the MAC `00:00:00:00:00:00` is now considered a special MAC, while before it wasn't.

[2017-03-04 13:26] ValentinaViscarelli commented on #1012
@olivierbeytrison
I have made a fix for ldap authentication and now it works for me.
Please update to tomorrow's build and give it a try. Thanks.
I'm not sure that your parameter ntopng.prefs.ldap.search_path = "o=hes-so" is right. The search path have to be an absolute and shared path between users and groups.
For example if I have groups in "ou=Groups,dc=ntop,dc=org" and users in "ou=People,dc=n

[2017-03-04 13:26] #1012 closed, assigned to simonemainardi, emanuele-f

[2017-03-04 13:36] simonemainardi commented on #1015
Issue says "Hosts page broken with ZMQ interfaces". Hosts page now works and the issue has been fixed with: https://github.com/ntop/ntopng/commit/e5e6ff6cd851dc6a3abf16e7dda27306b64177c7

I am not sure why:
- you said "MAC 00:00:00:00:00:00, which is used in nprobe flows" while mac addresses are sent over ZMQ as all the other fields
- you proposed a patch `git diff eafea969c46424f861de469fa2bb2526

[2017-03-04 15:08] emanuele-f commented on #1015
00:00:00:00:00:00 it's internally used by ntopng for hosts on ZMQ. That patch was never intended to be a fix, but just an evidence of the problem.

It turn out that the issue was not fixed with e5e6ff6cd851dc6a3abf16e7dda27306b64177c7 since I could reproduced it with the same synthom (hostMacsOnly=true but mac is special).

[code]

See 92c0dc18ccbb02eb0cd5957815b1b1406c63d0fe for fix

[2017-03-04 15:08] #1015 closed, assigned to emanuele-f

[2017-03-05 12:33] JoelAGBESSI opened #1018 "NTOPNG-Mysql"
Hello, I've tried the NTOPNG-MYSQL solution but i'm facing an Issue in database. We are unable to get the proto list and corresponding ID.
Regards

[2017-03-06 02:20] Dhardeki commented on #993
Dear Simone,

Sorry for delay response since we are in difference zone.
Could you please send me the instruction how to do that.
Thank you and we appreciate it.

Cheers,
Deki

From: simonemainardi [mailto:notifications@github.com]
Sent: Friday, March 3, 2017 6:51 PM
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: Hardeki, Deki (CIFOR) <D.HARDEKI@CGIAR.ORG>; Mention <mention@noreply.github.com>
Sub

[2017-03-06 08:36] emanuele-f commented on #1018
Hi, MYSQL is used in ntopng to export flows, so you can only get the per-flow protocol.

For the full list of protocols IDs you should check out nDPI https://github.com/ntop/nDPI/blob/dev/src/include/ndpi_protocol_ids.h

[2017-03-06 08:42] johnydoo commented on #1006
Updated to ntopng 2.5.170306 and nprobe 7.5.170306-5675. LINT error and 5min script failure are both solved. It looks like the ZMQ flows purge is much quicker now, so this is hopeful! Not completely sure because the active flow chart is broken:

![flows](https://cloud.githubusercontent.com/assets/26087543/23602521/45bf09c4-0251-11e7-94e4-dce439ab3e0f.jpg)

Nprobe is also complaining about the numb

[2017-03-06 10:04] PSmolders opened #1019 "FR: Ability to alert based on protocol"
Would it be possible to add a feature that generates an alert when a specific protocol is detected? For instance, generate an alert whenever Netflix traffic is detected on a certain interface or host. Or is there some way to do this already?

[2017-03-06 10:56] ghost opened #1020 "ntopng start issue"
Issue with ntop start, starts but says failed.
Cannot stop, have to kill -9.

Debian Wheezy

Starting
======

root@eros:/var/run# ps ax | grep ntopng
24914 pts/1    S+     0:00 grep ntopng
root@eros:/var/run#

root@eros:/var/run# /etc/init.d/ntopng start
[FAIL] Starting ntopng:[....] Unable to start ntopng ... failed!
 failed!
root@eros:/var/run#

yet it works

root@eros:/var/run# ps ax | grep nto

[2017-03-06 11:09] emanuele-f commented on #1020
Hi, please specify ntopng version (-V option)

[2017-03-06 11:23] ghost commented on #1020
# ntopng -V
v.2.5.170306 [Enterprise/Professional Edition]

[2017-03-06 11:27] emanuele-f commented on #1020
Please also post the configuration used (content of /etc/ntopng/ntopng.conf)

[2017-03-06 11:29] ghost commented on #1020
~# cat /etc/ntopng/ntopng.conf
-i="tcp://127.0.0.1:5556"
-m="103.x.x.0/22,103.x.x.0/22,43.x.x.0/22,103.x.x.0/24"
--max-num-flows=256000
--max-num-hosts=256000
-v=5

[2017-03-06 11:49] ValentinaViscarelli commented on #1020
@rosstola
you have forgotten -G option in your configuration file.
Please add this row and try again:
-G=/var/run/ntopng.pid

Let me know.
Thanks

[2017-03-06 11:51] #1018 closed, assigned to nobody

[2017-03-06 11:53] ValentinaViscarelli commented on #1020
@rosstola
After changing configuration file please restart the machine in order to be sure that your environment is clear.

[2017-03-06 11:53] simonemainardi commented on #993
@Dhardeki please put the license string generated under file /etc/ntopng.license
also make sure you are not executing ntopng with option --community

[2017-03-06 11:55] simonemainardi commented on #997
@FlorianJedlicka please provide information as suggested by @emanuele-f

[2017-03-06 12:02] ghost commented on #1020
Yep that fixed it, thanks :)
Off to the nprobe issues list, same problem with that!

[2017-03-06 12:14] #1020 closed, assigned to ValentinaViscarelli

[2017-03-06 12:44] olivierbeytrison commented on #1012
Hello,

Thanks for the update. Indeed now it starts talking with the ldap server :)
I still can't test if auth work has I encountered a new error :p I'll open a new bug for that

[2017-03-06 12:47] olivierbeytrison opened #1021 "LDAP : Validation error : bind_dn can contain space"
bind_dn is validated by ```validateSingleWord``` (http_lint.lua:706)

but you can have spaces in a DN, in my case the bind_dn contains a space and thus the ldap configuration fail.

[2017-03-06 14:54] gianogli commented on #1010
Hi, I've just tried to select a single interface at a time but the result is the same:

![ntopng2](https://cloud.githubusercontent.com/assets/14093378/23614715/39a1fe0c-0284-11e7-8397-203b51d92b83.png)

as you can see, in this case, I choose the interface zc:2@3 but no data are displayed.
Any Idea?

Thnaks...

[2017-03-06 15:17] PSmolders opened #1022 "Hosts page broken for view: interfaces (#1015)"
Using ntopng 2.5.170306 on Ubuntu Server 16.04

Same problem as #1015 , but this time for ZMQ interfaces combined into a view.

I have 2 ZMQ interfaces combined into a view and the hosts page does not work, keeps saying: "No results found".

[2017-03-06 15:29] trickius opened #1023 "network interface timeseries only has data for 1 hour"
Hi,
i'm just checking Community/Embedded Edition v.2.5.170212 and i've come to this issue (If it's an issue that is) that graphs only 1 hour data for any timeframe i choose for my network interface.

[2017-03-06 16:19] simonemainardi commented on #1023
there's a series of buttons above the chart that allows you to select a different timespan:
![image](https://cloud.githubusercontent.com/assets/3397663/23618583/0a48780e-0291-11e7-8905-db6008eff0db.png)

[2017-03-06 16:26] lucaderi opened #1024 "Generate Alerts/Block Traffic By Country"
As ntopng uses GeoIP, it knows what traffic belongs to what country. It is requested to extend the host pool rules to all a list of countries that are blacklisted by ntopng (i.e. when used in bridge more traffic from/to this list of countries is blocked) and an alert is generated.

[2017-03-06 18:52] simonemainardi commented on #1010
@gianogli some minor fixes have been introduced after version 2.5.170301, please try to update and re-run using the latest dev version.

If charts are still missing, please chdir to `/var/tmp/data/ntopng/{IFID}/rrd` (where IFID is the interface id assigned by ntopng to one of your interfaces), and see if there are any rrd files named with L7 Protocols, e.g.,

[code]

please, report. Thanks.

[2017-03-06 19:01] simonemainardi commented on #1022
A new build is in progress. Try to update in an hour. FWIW, I've just tried to reproduce and everything works as expected even with views of ZMQ interfaces:

![image](https://cloud.githubusercontent.com/assets/3397663/23624877/8bba5ea0-02a7-11e7-8052-530e402497ee.png)

[2017-03-06 19:06] trickius commented on #1023
Hi, thanks for the quick reply. Yes i know and this is what i was hoping to get an answer for. Those buttons aren't working.  Perhaps there's an error somewhere with some script isn't working but i can't quite figure it out. Runtime status isn't reporting something wrong either.

[2017-03-06 19:20] simonemainardi commented on #1023
ok, now I see. A bug that was preventing time-scale change has been fixed recently. Please, hold on until a new embedded edition build is available. @lucaderi please trigger a new rpi build.

[2017-03-06 19:22] trickius commented on #1023
Will do! Thanks a lot!

[2017-03-06 19:26] FlorianJedlicka commented on #997
Only on friday, but I think that this will solve the problem

[2017-03-06 21:57] emanuele-f commented on #1022
Fix commit reference: https://github.com/ntop/ntopng/commit/0b29b4b7edfaad6b2d3756f25aec39b1008f6364

[2017-03-06 22:02] emanuele-f commented on #1021
Fixed. Thank you for reporting.

[2017-03-06 22:02] #1021 closed, assigned to emanuele-f

[2017-03-06 22:57] spylife commented on #153
I installed v.2.4.170215 on 3/3, setup a password for admin but couldn't login today. tried the cli update Drewshg312 listed (for ntopng.user.admin.password) but that didn't work (made sure no symbols in password).  I found i could launch ntopng with -l 1 and from the ui tried resetting the password and even created a new user account, but neither account could login still.   Any other ideas?

als

[2017-03-07 07:06] Dhardeki commented on #993
Dear Simone,

I tried for both, online and manual, I send you the screenshot.
Is there something I missed?

Cheers,
Deki

From: simonemainardi [mailto:notifications@github.com]
Sent: Monday, March 6, 2017 6:54 PM
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: Hardeki, Deki (CIFOR) <D.HARDEKI@CGIAR.ORG>; Mention <mention@noreply.github.com>
Subject: Re: [ntop/ntopng] which folder location to put L

[2017-03-07 09:10] PSmolders commented on #1022
Thanks, it is fixed now.

[2017-03-07 09:10] #1022 closed, assigned to nobody

[2017-03-07 11:50] dando-it opened #1026 "Multiple ntopng instances on same host share a single pf_ring clusterID"
I'm running running multiple ntopng instances on single host, each bound to a specific NIC with pf_ring enabled.

 * ntopng_p2p1 ( -i=p2p1 -g=12 ...)
 * ntopng_p2p2 ( -i=p2p2 -g=13 ...)

Every NIC gets a copy , from TAPs, of completely different traffic sources, so i need to keep them separated.

Checking the stats of pf_ring seems that each socket use the same "Cluster Id" (0).
From what i know,

[2017-03-07 12:29] PSmolders opened #1027 "Sorting order is wrong"
Using ntopng v.2.5.170307.2478 on Ubuntu Server 16.04

On the 'All Hosts for Pool Not Assigned' page I try to sort on IP address. It shows them in the right order, but not on the right pages. For example, when I sort with the lowest IP first, it shows the highest IP at the bottom of the first page, and the lowest IP that will fit on that same page on the top. Then it continues on the next page wit

[2017-03-07 12:32] lucaderi commented on #1004
Check added. Please resync and report. Reopen if necessary.

[2017-03-07 12:32] #1004 closed, assigned to nobody

[2017-03-07 14:40] olivierbeytrison commented on #1021
Thanks, issue fixed, and now ldap authentication work !

👍

[2017-03-07 22:02] simonemainardi commented on #1006
@johnydoo num flows updates are performed every minute in the new dev version and this is not compatible with the old rrd file in the stable version.

If you can't afford wiping all the ntopng data dir, just remove the file num_flows.rrd so it will be re-created automatically. The file is located in the data directory, e.g.,

[code]

The number of flows will then be updated.

Regarding the templat

[2017-03-07 22:02] #1006 closed, assigned to emanuele-f

[2017-03-07 22:17] simonemainardi commented on #1023
@trickius the new rpi package is available, give it a try! http://packages.ntop.org/RaspberryPI/jessie_pi/armhf/ntopng/

[2017-03-07 22:22] simonemainardi commented on #153
@spylife

the proper way to reset the admin password is the following:

- shutdown ntopng
- run command: redis-cli del ntopng.user.admin.password
- restart ntopng and now the admin password has been reset to admin

regarding securityonion you should try and check out with them

[2017-03-07 22:25] simonemainardi commented on #993
@Dhardeki screenshot is not visible, please try to post it through the github web page.

Also I would like to see:
- full ntopng startup command
- full console output

[2017-03-07 23:09] cardigliano commented on #1026
@dando-it, cluster id 0 means that there is no cluster configured, don't worry.

[2017-03-07 23:09] #1026 closed, assigned to cardigliano

[2017-03-08 01:21] lhxhanson commented on #939
@simonemainardi
Several days ago, we use dev instead of stable version. But we got some strange log:
![image](https://cloud.githubusercontent.com/assets/5568373/23685681/538986c0-03e0-11e7-9e32-f1456e00437f.png)

After these log came out, I use a simple script to run `SHOW FULL PROCESSLIST` to get the MySQL state every 1s. And it looks like the data retention still start at 8:00 not 0:00:
![image]

[2017-03-08 01:28] lhxhanson opened #1028 "The data retention time may still not working properly"
#939
Several days ago, we use dev instead of the stable version. But we got some strange log:
![image](https://cloud.githubusercontent.com/assets/5568373/23685774/e72d2634-03e0-11e7-8e92-ea6b33d9fd7c.png)

After these log came out, I use a simple script to run SHOW FULL PROCESSLIST to get the MySQL state every 1s. And it looks like the data retention still start at 8:00 not 0:00:
![image](https://

[2017-03-08 07:14] lucaderi opened #1029 "LDAP Preferences Menu"
LDAP Preferences are hidden in the preferences menu and hard to find. Please move them on a separate (left) menu entry for easy indemnification

[2017-03-08 08:14] johnydoo commented on #1006
Thanks for the support!

[2017-03-08 08:35] johnydoo opened #1030 "L7 Protocol page generates an error"
The L7 Protocol page generates an error for some protocols (but not all). The error can be reproduced by clicking on “Peers” from an individual Host and then click on the L7 Protocol.
SSL.Google will give this error:

[code]

 SSL.Facebook, SSL.Amazon, QUIC.Google are not working either.

HTTP and SSL are working fine!

Ntopng version 2.5.170308

[2017-03-08 09:12] trickius commented on #1023
Yeap! It works fine now! Thanks a lot!

[2017-03-08 09:33] #1023 closed, assigned to nobody

[2017-03-08 09:43] #1030 closed, assigned to emanuele-f

[2017-03-08 09:43] emanuele-f commented on #1030
Thank you for reporting!

[2017-03-08 09:57] PSmolders opened #1031 "Realtime traffic graphs are not in sync"
Using ntopng 2.5.170308-2479 on Ubuntu Server 16.04.02

The realtime graphs on the dashboard page are not in sync. The graph for Realtime Top Application Traffic takes 5 seconds per step, just like the live update timer, and the Network Interfaces: Realtime Traffic graph updates takes 3 seconds every step. The result is 2 graphs that don't quite correspond on peaks, ie. 1 graph notes a peak of 7 m

[2017-03-08 10:21] trickius opened #1032 "Traffic reports only for 1h and 1m"
Hi, trying the new version 2.5.170307 for ntopng Pro [Small Business Edition]/Embedded, i came up to this finding. Traffic reports works only for 1h and 1m. All other options including custom timeframe generation aren't working. Funny thing is that mouse on point in the non existent graphs works.

![image](https://cloud.githubusercontent.com/assets/26226953/23699896/a8cb8cbe-03f9-11e7-9318-a3b201f

[2017-03-08 11:06] emanuele-f commented on #1029
I've already separated LDAP see https://github.com/ntop/ntopng/commit/34db4a1486830a13bed99d2cf63a74cdf75feb48

[2017-03-08 12:05] simonemainardi commented on #1032
can you please try to CTRL+SHIFT+R to reload the javascript and also try with another browser

[2017-03-08 12:11] trickius commented on #1032
Tried again refreshing as you mentioned but no good. This is happening also with chrome 56.0.2924.87 and firefox v.51 browser.

[2017-03-08 13:39] simonemainardi commented on #1031
thanks for reporting. The issue has been fixed. A new binary package is being rebuilt and will be available in an hour.

[2017-03-08 13:39] #1031 closed, assigned to nobody

[2017-03-08 13:50] simonemainardi commented on #1032
I'm trying to reproduce with no luck. Everything works here.

Please, check ntopng logs for any possible error, and also open the browser inspector (right click on the web page -> inspect element) to see if there are any javascript errors there.

[2017-03-08 13:54] simonemainardi commented on #1010
@gianogli any news?

[2017-03-08 13:55] simonemainardi commented on #997
yes. In case you will still experience difficulties in installing the license, then please re-open issue with the requested information.

[2017-03-08 13:55] #997 closed, assigned to simonemainardi, emanuele-f

[2017-03-08 13:57] PSmolders commented on #1032
Using 2.5.170308 on Ubuntu Server 16.04.02
Accessing ntopng using Firefox 51.0.1

I don't have any issues either

[2017-03-08 14:06] simonemainardi commented on #1028
ok, so please tell me it the clock that you see at the bottom-right corner of the ntopng UI is reporting a proper timezone.

[2017-03-08 14:14] animosity022 opened #1033 "Issue with DKMS and Module pfRing"
I'm seeing the following issue when I do my updates:

[code]

Make Log File
[code]

[2017-03-08 14:24] trickius commented on #1032
Hi again, i am running arm version on a raspberry pi.

This is an error i'm receiving in the browser dubugging console

![image](https://cloud.githubusercontent.com/assets/26226953/23707634/c0d048a0-041b-11e7-8316-b945a6f1a7b7.png)

[2017-03-08 14:44] PSmolders opened #1034 "Automatic update of flows page broken"
Using ntopng 2.5.170308 on Ubuntu Server 16.04.02

The flows page only updates once after opening or manually refreshing the page instead of every 5 seconds.

[2017-03-08 15:13] cardigliano commented on #1033
@animosity22 what OS are you running?

[2017-03-08 15:27] gianogli commented on #1010
Yes, I've some news. :-)
In the last 2 days I reconfigured my server and I updated the ntopng packet to the last version (v.2.5.170308).
I think that one of the problem was related to the "Layer-7 Application Timeseries" configuration that was set to "off". Now it's "on" but something doesn't work anyway:

![ntopng_new1](https://cloud.githubusercontent.com/assets/14093378/23708644/e7e0f1b0-0416-11

[2017-03-08 16:10] animosity022 commented on #1033
[code]

[2017-03-08 16:20] cardigliano commented on #1033
@animosity22 we support ubuntu LTS only, Ubuntu 17 is untested, we will do the porting ASAP, however please note this is low priority for us.

[2017-03-08 16:21] animosity022 commented on #1033
I'll close it out then as I was going to migrate back to a LTS only version tonight as I thought it was most likely related to that. No reason to troubleshoot for me.

Thanks for the quick update.

[2017-03-08 16:21] #1033 closed, assigned to cardigliano

[2017-03-09 01:25] lhxhanson commented on #1028
Here is the ntopng' time
![image](https://cloud.githubusercontent.com/assets/5568373/23731691/f92a10bc-04a9-11e7-9b41-dbb7189dafad.png)
Here are the system info of timezone:
![image](https://cloud.githubusercontent.com/assets/5568373/23731732/274a88be-04aa-11e7-80ac-af194ff5655e.png)

[2017-03-09 06:50] tpresence opened #1035 "Edit/rename interface names with ntopng/pfsense"
It appears that previously I was able to edit the interface names within ntop, but somehow I can't seem to do this anymore.  Did something change?  If I have to edit a file now, where do I do this?

For some odd reason, it appears that I wasn't logged in as admin.  No idea how this happened, or that it was even possible.  Ignore this post.

[2017-03-09 10:12] simonemainardi commented on #1035
look under the gear icon in the interface page

[2017-03-09 10:12] #1035 closed, assigned to nobody

[2017-03-09 10:15] simonemainardi commented on #1028
It looks like ntopng is not able to properly determine your timezone as it says +0000 rather thatn +0800.

what is your OS and distro?

[2017-03-09 11:50] lhxhanson commented on #1028
My running version is ntopng-2.5.170221-2297.x86_64

[2017-03-09 11:51] simonemainardi commented on #1028
os and distro?

[2017-03-09 12:04] simonemainardi commented on #1034
can't reproduce. Refresh works properly with

[code]

right click on the flows page and hit inspect element to see if there are any errors there

[2017-03-09 12:21] simonemainardi commented on #1010
so:

data is not deleted:
- the top-two chars show live information so you have to wait a bit to start seeing new bars
- bottom two-chars show historical data for the same L7 protocols shown in the top charts. So it could be that for the subset of current top-protocols seen there's not data recorded in the historical rrds.

same as above.

Any chance to have a remote access to the box I just want

[2017-03-09 17:58] simonemainardi opened #1036 "Interface page layout broken for ZMQ interfaces"
![image](https://cloud.githubusercontent.com/assets/3397663/23763532/4e40f26e-04fa-11e7-9958-9a90c898dfc7.png)

[2017-03-09 18:00] simonemainardi commented on #1032
please help us with the debugging, follow the link that points to `report.lua` in the debugger and see if you can understand the point that trigger the error

[2017-03-09 18:13] spylife commented on #153
@simonemainardi

that worked, i also discovered what was probably my issue all along, in chrome if i tried to login, once i hit login, the login page would reload, never letting me in. i noticed incognito COULD login. I made sure i had all extensions off and still no dice. i cleared 5 cookies from the ntopng page and THAT fixed it. something in my cookie data was preventing my login.  Hopefully th

[2017-03-09 18:58] #1036 closed, assigned to emanuele-f

[2017-03-09 20:16] timothyherrera commented on #945
I see the following from ntopng:

WARNING: Script failure [/usr/share/ntopng/scripts/lua/index.lua][/usr/share/ntopng/scripts/lua/index.lua:42: attempt to concatenate global 'ifname' (a nil value)]

[CollectorInterface.cpp:210] {"8":"172.16.1.3","12":"172.16.0.223","15":"0.0.0.0","10":16,"14":14,"2":1,"1":899,"22":1489074939,"21":1489074940,"7":3000,"11":59737,"6":0,"4":6,"5":0,"16":0,"17":0,"9":0

[2017-03-09 20:39] trickius commented on #1032
It's an error in the js. All i can find is this:
![image](https://cloud.githubusercontent.com/assets/26226953/23769738/06de0c6c-0519-11e7-95bb-15480b4e1003.png)

sorry i can't provide you with much more info with my limited knowledge.

[2017-03-09 21:51] simonemainardi commented on #153
@spylife thanks for reporting your experience. Yes extensions can be the source of issues and sometimes one may blame the software for something that is actually caused by the extension itself.

[2017-03-09 21:53] simonemainardi commented on #945
try: Dropdown menu and select one of the available interfaces, then the error should go away.

[2017-03-09 21:58] timothyherrera commented on #945
Tried selecting the interface, but still getting "No results found"

<img width="1633" alt="screen shot 2017-03-09 at 1 56 14 pm" src="https://cloud.githubusercontent.com/assets/1136846/23772589/535c6280-04d0-11e7-8373-45fc8a5b77ce.png">

Can I provide any more information to help?

[2017-03-09 22:06] simonemainardi commented on #945
make sure new flows are actually arriving to ntopng (you have 22 flows but the could be expired so are not shown). Run ntopng with verbose option -v=5 and inspect the logs to see if flows are arriving. You will see flows as string-encoded jsons

[2017-03-09 22:10] timothyherrera commented on #945
Here is what I see using -v 5:

09/Mar/2017 14:08:23 [CollectorInterface.cpp:115] Collecting flows on tcp://127.0.0.1:5556
09/Mar/2017 14:08:23 [CollectorInterface.cpp:210] { "if.name": "none", "if.speed": 1000, "if.ip": "", "probe.ip": "172.16.1.3", "probe.public_ip": "", "time" : 1489097300.824, "bytes": 0, "packets": 0, "avg.bps": 0, "avg.pps": 0 } [msg_id=1450]
09/Mar/2017 14:08:23 [CollectorI

[2017-03-10 01:29] lhxhanson commented on #1028
@simonemainardi
CentOS 6.8 (64 bit) with kernel-2.6.32-642.el6.x86_64

[2017-03-10 03:49] FreeSoftwareServers opened #1037 "Issue Starting NProbe - Ubuntu 14 x64 14.04.05"
I don't seem to be getting any errors when starting NProbe, and I cant say 100% that my router is configured correctly, but I'm leaning that the issue is NProbe as my netstat doesn't show nprobe running as it should.

**Here is the output of starting nprobe**

[code]

**But here is Netstat output:**

[code]

**Here is my configuration:**

[code]
**I have been following these guides:**

https://blo

[2017-03-10 07:47] PSmolders commented on #1034
I can't see any erros, I can also see that the lua receives the data every time the 5 second refresh is triggered. But the page will not update after the first time.

[2017-03-10 08:59] simonemainardi commented on #1034
So AJAX requests are properly triggered and received. Try with a different browser, also make sure there's no extension or other stuff that is preventing the page from being updated.

If you still can't solve it, open the inspector, browse ntopng JS source files, place a breakpoint in the success function of the AJAX call (https://github.com/ntop/ntopng/blob/dev/httpdocs/inc/flows_stats_id.inc#L72

[2017-03-10 09:43] #1027 closed, assigned to emanuele-f

[2017-03-10 09:44] emanuele-f commented on #1016
Sort order is currently based on network ID, which is not was it's expected. Needs further fix.

[2017-03-10 10:42] PSmolders commented on #1034
The success function is called every 5 seconds. I tested it with Firefox 51, Edge and IE and it still does not work correctly. The only extension I have is uBlock, and it is disabled on ntopng webinterface.

[2017-03-10 11:11] emanuele-f commented on #1037
Ntopng and Nprobe can communicate in two modes: poll mode or push mode, please see http://www.ntop.org/nprobe/advanced-flow-collection-with-ntopng-and-nprobe/ for reference

[2017-03-10 11:15] emanuele-f commented on #1034
Please try to disable uBlock globally since it may prevent external libraries to be loaded.

[2017-03-10 11:18] PSmolders commented on #1034
Unfortunately, still no luck. The automatic updates on any other pages works fine, it's just the flows page that's stubborn.

[2017-03-10 11:22] emanuele-f commented on #1032
Do you have a lot of active hosts (in the 10000 order)? If you only select one Network Interface from the dialog that appears by clicking the checkbox button in the picture, can you see a difference?

![screenshot at 2017-03-10 12-19-38](https://cloud.githubusercontent.com/assets/5488003/23793511/ed6e6c36-058b-11e7-9bf0-8599a93b3e05.png)

[2017-03-10 11:35] emanuele-f commented on #1028
We have added a debug print to show the timezone offset of the system. The new package will be available in one hour. Please update and report the offset you see in the ntopng startup log.

[code]

[2017-03-10 12:30] PSmolders commented on #1034
It also seems the first row is printed twice. So the first and second row of the flows page is exactly the same, I checked all columns and parameters.