[2019-03-05 14:28] #2426 closed, assigned to nobody

[2019-03-05 16:35] MasterPlexus opened #2443 "modified magic number raises Bus-Error withs tools fritzdump.sh"
I want to use traffic mnitorin of my fritzbox using the internet capture. Unfortunatly any other parameter then IFACE="2-1" raises an Bus error like the following:
[code]
I've tested some like "1-lan", "2-1" and "3-17", but all of them raises the bus error. but "2-1" works (but brings not really the complete picture as it is just the routing capture).

So I don't know what I can do at the moment.

[2019-03-05 17:19] simonemainardi commented on #2443
did you go through https://github.com/ntop/ntopng/blob/dev/doc/README.fritzbox ?

[2019-03-05 18:00] MasterPlexus commented on #2443
@simonemainardi, yes, I did and with the standard IFACE parameter it works, but with no other as I described.

[2019-03-05 18:05] simonemainardi commented on #1688
traffic profiles already have a chart available which shows their traffic over time. For the time being, and also considered their overlap with traffic profiles, we believe that chart suffices.

![image](https://user-images.githubusercontent.com/3397663/53826713-9bdc2780-3f79-11e9-81ac-37589827463e.png)

[2019-03-05 18:05] #1688 closed, assigned to nobody

[2019-03-05 18:07] simonemainardi commented on #1100
as this feature would put significant extra pressure on the CPU, we put this issue on hold and will only reconsider it on the basis of the community requests.

[2019-03-05 18:07] #1100 closed, assigned to nobody

[2019-03-05 18:13] simonemainardi commented on #2443
use and password created as described in https://github.com/ntop/ntopng/blob/dev/tools/fritzdump.sh ?

[2019-03-05 18:44] emanuele-f commented on #2443
In my experience (with mikrotic) such errors are related to the device operating system/drivers, maybe you can try to update your device firmware

[2019-03-06 03:11] jiangdu8888 opened #2445 "yes i saw that in ndPI. So is it already open in ntopng? Or how do I set it up? And Do I need to install any software or certificates?"
yes i saw that in ndPI. So is it already open in ntopng? Or how do I set it up? And Do I need to install any software or certificates?

_Originally posted by @jiangdu8888 in https://github.com/ntop/ntopng/issues/2440#issuecomment-469603741_

[2019-03-06 06:19] MasterPlexus commented on #2443
@simonemainardi , Yes, indeed. maintained a User with a passphrase. And as I said, with 2-0 it worked, but with others I get the bus error.

@emanuele-f , I have an Autoupdate activated for my Fritzdos, and be on the newest firmware.

[2019-03-06 07:11] MasterPlexus commented on #2443
So now I recompiledthe ndip and ntopng completley and retry. I've included the -v in the script, and see the following direct bevore the Bus-error:
`06/Mar/2019 08:02:10 [LuaEngine.cpp:3795] ntop_get_ndpi_protocols() called
06/Mar/2019 08:02:10 [LuaEngine.cpp:378] getCurrentInterface() called
06/Mar/2019 08:02:10 [LuaEngine.cpp:3817] ntop_get_ndpi_categories() called
06/Mar/2019 08:02:10 [LuaEngin

[2019-03-06 08:57] simonemainardi commented on #2445
It's already in ntopng - provided that you are capturing from a physical interface.

[2019-03-06 08:57] #2445 closed, assigned to nobody

[2019-03-06 09:52] simonemainardi commented on #2443
cant' reproduce.

try and run ntopng from stdin using tcpdump on a local interface:

[code]

Do you stil get the bus error?

[2019-03-06 11:02] MasterPlexus commented on #2443
`sudo tcpdump -i eno1 -s0 -w - | sudo ntopng -i - `
brings
`tcpdump: eno1: No such device exists`

but

`sudo tcpdump -i wlan0 -s0 -w - | sudo ntopng -i - `

works.

Bus error did not come in booth cases.

[2019-03-06 11:10] simonemainardi commented on #2431
closing for inactivity. no feedback received. reopen with the requested information if necessary.

[2019-03-06 11:10] #2431 closed, assigned to emanuele-f

[2019-03-06 11:41] MasterPlexus commented on #2443
I've checked the dumped pcap-Files with whireshark. It tolds that the working 2-0 interface (which works) are
`Format: Modified tcpdump - pcap
Encapsulation: Raw IP`

and the 3-17 interface (which not work) for example

`Format: Modified tcpdump - pcap
Encapsulation: Ethernet`

so the encapsulation seems to be a other kind. Is this understandable by ntpng?

[2019-03-06 12:19] HoseinKashefi commented on #2366
Please see screenshot:
![image](https://user-images.githubusercontent.com/43135531/53880783-2890ef00-4027-11e9-8de0-9403a515bcfe.png)
and here you can find datachart :
[ntopngdatachart.txt](https://github.com/ntop/ntopng/files/2936154/ntopngdatachart.txt)

[2019-03-06 14:05] simonemainardi commented on #2443
can you enclose such pcaps here so I can check?

[2019-03-06 14:06] simonemainardi commented on #2424
closing for inactivity. no feedback received. reopen if necessary with the requested information.

[2019-03-06 14:06] #2424 closed, assigned to nobody

[2019-03-06 14:40] MasterPlexus commented on #2443
[pcaps.zip](https://github.com/ntop/ntopng/files/2936711/pcaps.zip)

See attached.

[2019-03-06 15:33] simonemainardi commented on #2443
there was an issue with the datalink type for the Paw IP capture of 2-0 pcap file. Now the issue is solved but this doesn't explain why you are getting that bus error.

Can you try and `cat` the pcap files into ntopng? eg.,

[code]

[2019-03-06 17:21] MasterPlexus commented on #2443
the command
`cat ./2-0.pcap | sudo ntopng -i -`
works

the command
`cat ./3-17.pcap | sudo ntopng -i -`
brings bus error ( (that's the second file in the zip)

[2019-03-06 22:31] ChathuraML commented on #1054
btw, can i have a quota for a month ?

[2019-03-07 03:20] jedi0605 opened #2447 "How to calculate the the 95th by using InfluxDB?"
Hi,
I got wrong 95th value (compare the UI 95th) by using InflusDB.
How could I get the same 95th value by using InflusDB?

[2019-03-07 07:20] lucaderi opened #2448 "Rework Timeseries Code"
The timeseries code contains a lot of duplications that needs to be removed.
Steps:
1. The HostTimeseriesPoint class must have two attributes: ndpi and another class (let's call it class X) that contains all the other variables
 u_int64_t sent, rcvd;
  u_int32_t num_flows_as_client, num_flows_as_server;
  u_int64_t total_alerts;
  u_int64_t total_num_anomalous_flows_as_client, total_num_anomalous_

[2019-03-07 08:57] emanuele-f commented on #2447
Please check out https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/timeseries/ts_common.lua

[2019-03-07 08:58] emanuele-f commented on #1054
Currently no, quotas are only daily

[2019-03-07 09:23] jedi0605 commented on #2447
How could InfluxDB data translate to "total_serie"?
my row data.
![default](https://user-images.githubusercontent.com/5374440/53945966-bccd8580-40fd-11e9-87bb-0ae4c1db8803.PNG)

_ts_common.calculateStatistics(total_serie, step, tdiff, data_type)_

[2019-03-07 09:30] emanuele-f commented on #2447
You need to sum bytes_sent and bytes_rcvd together, then perform the derivative of the result. Check out https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/timeseries/drivers/influxdb.lua#L288 for an example (you can skip the `SUM("value")` part, just a `derivative(bytes_sent+bytes_rcvd)`.

[2019-03-07 09:37] MasterPlexus commented on #2443
I've made now a test on a windows-machine, and there the 3-17.pcap is usable with ntopng.
`ntopng /c -i C:\Users\solar\Downloads\3-17.pcap`

So it looks like that there is a difference between the Linux self-compiled version and the downloadable win10x64 version. I must say I would like to have ntopng run under Linux then under windows, so I hope there will be a solution ;)

[2019-03-07 09:59] jedi0605 commented on #2447
My query is like
_SELECT  (bytes_sent + bytes_rcvd) AS "value" FROM "ntopng"."autogen"."host:traffic" WHERE time > now() - 2h AND "host"='202.168.199.201@1998' AND "ifid"='4'_
It's not only  sum bytes_sent and bytes_rcvd but also  subtraction two rows data right?
Like
![default](https://user-images.githubusercontent.com/5374440/53948411-b4c41480-4102-11e9-9907-1d5c3bc7b597.PNG)

[2019-03-07 10:07] emanuele-f commented on #2447
yes, use `NON_NEGATIVE_DERIVATIVE`

[2019-03-07 13:59] simonemainardi commented on #2429
any news?

[2019-03-07 14:20] simonemainardi commented on #2443
ntopng MUST work under linux. Do you think you can provide me a remote access to the machine where you are running the fritzdump so I can see what happens and debug?

[2019-03-07 14:21] branchnetconsulting commented on #2429
I purged and reinstalled ntopng, making sure the ntopng.service file was untouched and now it shows the missing lines you mentioned.  Yes I had commented those lines out experimentally earlier.

This time I also completely disabled ufw and flushed iptables.
[code]
Then while running "systemctl start ntopng" in one terminal I ran "tcpdump -i lo port 6389 -nn" in another terminal and caught zero pac

[2019-03-07 14:21] simonemainardi commented on #2443
by the way, first please make sure to try with the latest 3.9 version after my fix.

[2019-03-07 14:28] MasterPlexus commented on #2443
@simonemainardi , did you mean dev branch, or 3.9 (head is set to dev as far as I could see).

a remote access will not be possible at the moment, but if you advice, I can also get logs, dmesgand so on.

[2019-03-07 15:25] maravento opened #2449 "how to use ntopng with geoip"
In the past, the following files were downloaded:
[code]
to the folder:
 `/usr/share/ntopng/httpdocs/geoip`
and unzip .dat.gz into this folder. But now, by default, are two files in this folder:
`GeoLite2-ASN.mmdb  GeoLite2-City.mmdb`
But now maxmind link change:
[code]
**Question**: Is it necessary to download these links to be used with ntopng, or is there another simpler method, or is it no lon

[2019-03-07 16:54] arenddeboer opened #2450 "Default admin/admin login password is a security concern"
I think it would be better if there was no default password set, but force the user to set the initial password in a configuration file after installing ntopng.
Although I have myself to blame, I installed ntopng, but somehow did not get around to actually using it. Because I already had port mydomain.com:80|443 mapped to localhost:3000 for a node.js app (tcp port 3000 is a common port to run node

[2019-03-07 18:02] MasterPlexus commented on #2443
There is an interesting point, if I try to pipe the 3-17 stream to tshark:
`Capturing traffic on Fritz!Box interface 3-17 ...
tshark: The standard input contains record data that TShark doesn't support.
(pcap: that type of pcap file can't be read from a pipe)`

I found also a Webpage from whireshark, where they stated that piped pcap-streams could be a problem : [(https://wiki.wireshark.org/Captur

[2019-03-07 18:46] simonemainardi commented on #2448
using existing class `HostStats` as `X`

[2019-03-08 07:28] jedi0605 commented on #2447
I use this query

But total traffic (bytes_sent+bytes_rcvd) not same as Ntop UI "Total Traffic"

[2019-03-08 08:31] simonemainardi commented on #2429
redis default port is 6379.

Please, post the output of:

[code]

Then stop ntopng, start  capture (`sudo tcpdump -i lo port 6379`) with the capture started restart ntopng and send me the output of tcpdump.

[2019-03-08 08:37] simonemainardi commented on #2450
ntopng, after the installation, forces you to change the default admin/admin user and password pair. You can't even continue to the UI without performing such change.

![image](https://user-images.githubusercontent.com/3397663/54017226-a10dc200-4185-11e9-9c24-f1af9770c047.png)

We believe this is already a good tradeoff between easily getting started with ntopng and security.

[2019-03-08 08:37] #2450 closed, assigned to nobody

[2019-03-08 08:42] simonemainardi commented on #2449
Maxmind has changed its databases and library and ntopng has been updated as well to keep this into account.

`GeoLite2-ASN.mmdb GeoLite2-City.mmdb` are the new file databases:

- if you are installing a packaged version of ntopng, those files will be pulled in automatically
- if you are building ntopng from sources, you can run `make geoip` to download them

Then, just place them under `httpdocs/

[2019-03-08 08:42] #2449 closed, assigned to nobody

[2019-03-08 08:55] MasterPlexus commented on #2443
Rebuild the actual dev branch. Just for completeness here the raised warnings during compilation (don't know if that is important):

[code]

[code]

[code]

[code]
[code]
After building, retry the interface 3-17, but the result was the same: Bus error.

[2019-03-08 09:16] simonemainardi commented on #2443
Thanks for pointing this out: `The standard input contains record data that TShark doesn't support. (pcap: that type of pcap file can't be read from a pipe)`.

As it can also be seen from the wireshark sources, the incoming file has a modified magic number. This kind of pcaps cannot be read from pipes but only from files (source https://github.com/wireshark/wireshark/blob/master/wiretap/libpcap.c#

[2019-03-08 09:16] #2443 closed, assigned to nobody

[2019-03-08 12:59] maravento commented on #2449
You say: "Then, just place them under httpdocs/geoip/ and ntopng will automatically pick them".

**Question:** This action refers to "packaged version of ntopng" or "building ntopng from sources"?

You have not answered my second question: I repeat it again:
In the past, the following task was scheduled in cron to prevent ntopng causing out of disk space and inodes:
`@monthly /usr/bin/find /var/tm

[2019-03-08 13:22] maravento opened #2451 "prevent ntopng causing out of disk space and inodes"
In the past, the following task was scheduled in cron to prevent ntopng causing out of disk space and inodes ([source](https://serverfault.com/questions/625875/howto-prevent-ntopng-causing-out-of-disk-space-and-inodes)):

`@monthly /usr/bin/find /var/tmp/ntopng/*/top_talkers/* -mtime +60 -delete`

Has this problem been fixed? (and this task is no longer necessary?)

[2019-03-08 15:47] simonemainardi commented on #2451
top talkers are recycled automatically. that task is no longer necessary.

[2019-03-08 15:47] #2451 closed, assigned to nobody

[2019-03-08 15:57] plankanater opened #2452 "Implement searching by AS number"
Add the ability to search AS numbers directly. For example searching AS32899 would pull up that AS number. Sam as clicking on as number and scrolling through the list.

[2019-03-08 17:36] simonemainardi commented on #2448
implemented

[2019-03-08 17:36] #2448 closed, assigned to simonemainardi

[2019-03-08 18:05] andpp opened #2453 "influxDB URL in runtime preferences creates pattern based on Web UI protocol (HTTP or HTTPS), not choosen InfluxDB protocol"
influxDB URL in runtime preferences always shows http**S** protocol even if I use http connection and
redis-cli get "ntopng.prefs.ts_post_data_url" return "http://127.0.0.1:8086"

It is especially inconvenient when you want to enable/disable Layer-7 timeseries. Unless you change URL to correct protocol manually, it will switch to https.

Version	3.8.190307 - Community Edition
Built on	Ubuntu 18.04

[2019-03-09 05:28] HoseinKashefi commented on #2366
For about 4 days:
![image](https://user-images.githubusercontent.com/43135531/54066680-72f1b600-4249-11e9-87d2-19750295edea.png)

[2019-03-09 10:12] dmbekker opened #2454 "No Packages in Stretch_pi Repo"
Hi,

Trying to Install ntopng and nprobe on a raspian (pi 3) system. However, the repo does seem to have borked in some way.

http://packages.ntop.org/apt-stable/stretch_pi/all
http://packages.ntop.org/apt-stable/stretch_pi/armhf/

Both Indexes contain an empty package files, and the packages are not listed in the index either.

Other repo's (Stretch, 18.04) do have packages and a Package file.  C

[2019-03-10 09:51] MasterPlexus commented on #2443
@simonemainardi , just an additional question, after I read more and more stuff, and it looks like AVM is not willing to change the Dump-function:
could you think maybe about an additional feature, for example only activate able via command-line option, to put ntopng in a buffered-mode while collecting the pcap-data via pipe?
I'm stating that due to the explanation which was made on wireshark due

[2019-03-10 10:05] dmbekker commented on #2454
I found this repo which contains packages.
http://packages.ntop.org/RaspberryPI/

is the stretch_pi repo intentionally empty?

[2019-03-10 16:47] maravento commented on #706
neither in google chrome v72.0.3626.121 (Official build) (64 bits) (works in firefox 65.0.2 x64 and opera 58.0.3135.90) (ubuntu 18.04.2 x64)

[2019-03-11 09:25] emanuele-f commented on #2454
Yes, we don't have stable versions for the raspberry pi. Please use http://packages.ntop.org/RaspberryPI

[2019-03-11 09:25] #2454 closed, assigned to nobody

[2019-03-11 16:22] maravento opened #2455 "change for community/free version?"
Install method:

[code]
There is contradiction in the information shown by the commands and the one shown by the web interface

Command line version:
[code]

And Licence invalid
[code]
However Webapp says it's "community" edition
![Captura de pantalla -2019-03-11 15-35-24](https://user-images.githubusercontent.com/14880802/54156141-a122f180-4413-11e9-8ef7-f99a3b35cb56.png)

In order to solve it, i

[2019-03-11 17:05] maravento commented on #1596
No fix yet
![problem](https://user-images.githubusercontent.com/14880802/54142516-e506fe00-43f5-11e9-819b-08c1b13ce8d1.png)

[2019-03-11 20:54] maravento opened #2456 "Errors related to LuaEngine.cpp, Utils.cpp, etc"
a. In one PC. Ubutu18.04.2 x64. Obtain network via DHCP

Errors related to LuaEngine.cpp, Utils.cpp:
`[LuaEngine.cpp:8741] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/system/housekeeping.lua][/usr/share/ntopng/scripts/lua/modules/lists_utils.lua:259: attempt to index a number value (local 'res')]`
`[Utils.cpp:1713] ERROR: Could not open /var/lib/ntopng/category_lists/Cisco Talos I

[2019-03-12 08:39] inghau commented on #2430
Can you teach me how to access the access control list ?
i cant access the whole web interface.

[2019-03-12 08:49] emanuele-f commented on #2430
You should be able to connect to port 3000 via a web browser, please checkout https://www.ntop.org/guides/ntopng/web_gui/index.html

[2019-03-12 08:52] emanuele-f commented on #2456
It seems like a permission issue. Please ensure that the ntopng user has write access to `/var/lib/ntopng` (e.g. `chwon -R ntopng:ntopng /var/lib/ntopng`) or add the `-s` option to run as root.

[2019-03-12 08:54] emanuele-f commented on #2455
The `--community` is the option you need in order to run in community mode in ntopng (you can remove `--online-license-check`). Please note that other software (nprobe, cento) require a license and there is no community mode but only a limited demo.

[2019-03-12 08:54] #2455 closed, assigned to nobody

[2019-03-12 08:58] emanuele-f commented on #2453
Cannot reproduce this. I can successfully connect via http and the preference is properly set to http.

![2019-03-12_09-57](https://user-images.githubusercontent.com/5488003/54187157-d75c8180-44a4-11e9-80fd-f2a8e625b11d.png)

[2019-03-12 09:00] inghau commented on #2430
no i cant that is why i start this thread...
Anyway i found a way to get into @simonemainardi directly using the redis-cli

root@ntop:/usr/share# redis-cli
127.0.0.1:6379> mget ntopng.prefs.http_acl_management_port
1) "+0.0.0.0/0,-10.0.0.0/8"
127.0.0.1:6379> mset ntopng.prefs.http_acl_management_port "+10.0.0.0/8"
OK
127.0.0.1:6379> mget ntopng.prefs.http_acl_management_port
1) "+10.0.0.0/8"
127.0

[2019-03-12 13:34] maravento commented on #2456
I already did what you said (chwon -R ntopng:ntopng /var/lib/ntopng) and the errors keep appearing every 3 seconds:
[code]

[code]

[2019-03-12 14:00] maravento commented on #2455
I read the post: [Combining Demo with Permanent Licenses](https://www.ntop.org/support/faq/combining-demo-with-permanent-licenses/) and [What is your software licensing model?](https://www.ntop.org/support/faq/what-is-your-software-licensing-model/)
There is not much clarity on the issue of licenses used by third party ntopng. So, the question would be:

Ntopng (with the switch "--community") will

[2019-03-12 14:20] andpp commented on #2453
I tried to check the settings from another computer. The new computer shows correct value for InfluxDB URL. Looks like some issue with cache in browser. On my primary computer, showing error value, I use Chrome. On the second computer, showing correct value, I checked with Firefox. I'll check later on my primary computer if clearing of browser cache would help.

[2019-03-12 15:09] emanuele-f commented on #2455
ntopng in community mode will not stop working, it will continue to collect data from nprobe. nprobe/cento, however, will stop sending data to ntopng after some time, so you need a license for nprobe/cento to run them continuously

[2019-03-12 15:19] maravento commented on #2455
I appreciate more precise in your answer. How long will ntopng stop receiving data from nprobe / cento and what is the negative effect that this causes?

[2019-03-12 16:38] simonemainardi commented on #2443
Unfortunately we can't accomodate this request - I don't even have a fritzbox to do some experiments.

[2019-03-12 16:41] simonemainardi commented on #2429
any news here?

[2019-03-12 17:05] branchnetconsulting commented on #2429
Sorry about the delay on that...

root@NSM:~# netstat -polenta | grep 6379
tcp        0      0 127.0.0.1:6379          0.0.0.0:*               LISTEN
    115        152136334   17585/redis-server  off (0.00/0/0)
root@NSM:~# ps aux | grep redis-server | grep -v grep
redis    17585  0.0  0.0  40136  3804 ?        Ssl  Mar07   4:27
/usr/bin/redis-server 127.0.0.1:6379
root@NSM:~# redis-cli
127.0.0.1:

[2019-03-12 18:18] andpp commented on #2453
I checked it on Chrome. Clearing browser cache does not help.  There is the code from Chrome Code Inspect:

[code]
I checked with firefox accessing to the web UI by HTTPS and got the same result. I guess **pattern="^https?://.+$"** is created based on the protocol I use to access to web UI.  In my previous message I accessed to web UI with HTTP protocol, not HTTPS.

I checked /usr/local/share/ntop

[2019-03-13 16:58] simonemainardi commented on #2429
what about the second part with the capture?

[2019-03-13 17:10] branchnetconsulting commented on #2429
Sorry, every time I run "sudo tcpdump -i lo port 6379" while restarting
ntopng with "systemctl restart ntopng" I see zero packets.  I see other
packets on the lo interface if I tcpdump without filtering on port 6379 but
I never see any port 6379 packets.
However when I start ntopng manually with "/usr/local/bin/ntopng
/etc/ntopng/ntopng.conf" while tcpdumping on the lo port looking for port
6379,

[2019-03-14 13:53] simonemainardi commented on #2429
Unfortunately this issue is not reproducible. Again as I stated in my first comment

Apart from iptables, you should check systemd, especially the new systemd Access Lists that may be the source of the trouble.

Indeed, systemd allows to perform per-unit traffic control with options that are just wrappers around kernel functionality introduced with Linux 4.11: the control group eBPF hooks.

Specif

[2019-03-14 14:04] emanuele-f commented on #2453
The pattern is always the same, see https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/lua_utils.lua#L2300 . If you have a problem with a specific browser (chrome) in the same ntopng installation, then it is probably a visualization problem of the browser itself (maybe it autocompletes the field), please post a screenshot

[2019-03-14 14:06] simonemainardi commented on #2440
it's already in ntopng

[2019-03-14 21:49] andpp commented on #2453
I found the root cause of the issue. My nginx server rewrites http:// to https:// for https access.

I did it because I use nginx as a proxy. I connect to nginx server using https and nginx connects to ntopng server using http so I got many complains from my browser about using together http and https URL in the same document because ntopng used absolute URL instead or relative. I guess it is fixe

[2019-03-14 21:49] #2453 closed, assigned to emanuele-f

[2019-03-15 15:15] lucaderi opened #2459 "SYN packets are not accounted properly"
SYN packets are accounted per interface, but not properly accounted per flow/host. The same applies to network interfaces: when ntopng processes packets the SYN account is correct and the timeseries properly populated, thing that does not happen when collecting flows from nprobe

[2019-03-15 15:21] lucaderi opened #2460 "Improve network/application latency handling in collector mode"
@NTOPNG@ template in nProbe should be extended with latency computation, and ntopng should handled it properly in flows. Furthermore if flow export in nProbe is longer than ntopng export timeout, latency information that is computed at the beginning of the flow, is lost: it needs to be fixed

[2019-03-16 10:44] anubisg1 opened #2461 "ntopng v.3.9.190314 segfaults on raspberry pi"
[code]

[code]

[2019-03-16 20:27] anubisg1 commented on #2461
version 3.9.190208 does not crash, what ever is causing the crash was introduced between 3.9.190208 and 3.9.190314

[2019-03-18 03:08] LunkwillAndFook commented on #2461
I am experiencing the same issue. I will try downgrading to 3.9.190208 to confirm whether that works.

[2019-03-18 09:00] Tijah82 commented on #2461
I have the same problem with the version ntopng_3.9.190314-6347_armhf.deb. I have reinstalled the previous version and it works very well.

[2019-03-18 10:19] erg809 commented on #1839
This should be priority for NtopNG development team, an enterprise solution without support for SNMPv3?  By law is absolutely prohibited to run any unsecure SNMP version in our network.  We are talking about 800 Switches only, on top of that, add routers, firewalls and appliances of all types.  I hope that you can add this feature soon.

Cheers,
E.R

[2019-03-18 11:42] emanuele-f commented on #2456
@maravento in 43bce04dd53ecbc9de27c1f973f49a86ef748305 I've fixed the script error. For the permissions issue, please perform the following steps:

1. `systemctl stop ntopng`
2. `rm -rf /var/lib/ntopng/category_lists`
3. `systemctl start ntopng`

I think in your case ntopng was started as root in some previous run and then the permissions got broken. Please start clean with the commands above and

[2019-03-18 12:33] emanuele-f commented on #2461
Fixed in https://github.com/ntop/nDPI/commit/6c9fbc2ddb9bbdc054580ff6dd4e7f5b7ea8a452 . A new package will be available in two hours.

[2019-03-18 12:33] #2461 closed, assigned to emanuele-f

[2019-03-18 12:57] maravento commented on #2456
solved. Thanks

[2019-03-18 12:57] #2456 closed, assigned to emanuele-f

[2019-03-18 13:31] maravento opened #2462 "Warning related to segmentation"
Warning related to segmentation ([large send offload LSO and generic segmentation offload GSO](https://en.wikipedia.org/wiki/Large_send_offload))

**Datasheet:**
OS: Ubuntu 18.04.2 x64
switch on /etc/ntopng/ntopng.conf:
[code]
**Warning:**
[code]
Note: This warning is output regardless of whether the network interfaces switch is active (or not) in the ntop configuration file

**Evidence:**
[code]

[2019-03-18 13:41] emanuele-f commented on #2462
Do you mean the `-i` option? If you don't specify the `-i`, then ntopng will monitor all the available interfaces, so this is normal.

[2019-03-18 13:47] maravento commented on #2462
As I mentioned in the description: It does not matter if the interfaces are specified (example: -i=enp2s0) in /etc/ntopng/ntopng.conf

[2019-03-18 13:58] maravento commented on #2462
**Question:** Does NtopNG recognize all formats of the network interfaces?
Example (debian/ubuntu and derivatives):
Old format:
[code]
New format (based on udev):
[code]
New format on some servers HP proliant (based on udev):
[code]

Thanks

[2019-03-18 14:19] emanuele-f commented on #2462
The warning is normal, please run `sudo ethtool -K lo gro off gso off tso off` as described in the log to fix it. The interface name is just a name, for ntopng it's the same.

[2019-03-18 14:33] emanuele-f commented on #2447
Please check out https://github.com/ntop/ntopng/blob/dev/doc/README.beta_features on how to enable InfluxDB query log (only if you are compiling from git, otherwise manually uncomment the relevant line in https://github.com/ntop/ntopng/blob/8f5a6495a27f52fb818a851f13670fb127150dcb/scripts/lua/modules/timeseries/drivers/influxdb.lua#L168 to enable this)

[2019-03-18 14:43] maravento commented on #2462
Solved. Thanks

[2019-03-18 14:43] #2462 closed, assigned to nobody

[2019-03-19 07:55] lucaderi opened #2463 "Invalid TopTalkers error"
![Screen Shot 2019-03-19 at 08 52 53](https://user-images.githubusercontent.com/4493366/54588952-a809bf80-4a24-11e9-98ac-0d0f3ee37a32.png)
Selected timeframe is more than an minute

[2019-03-19 08:59] HoseinKashefi opened #2464 "Host pool chart"
after Update to version 3.9.190319-6049 ntopng doesn't show host pool charts
![image](https://user-images.githubusercontent.com/43135531/54592959-a9e27b80-4a42-11e9-8f7d-db8434243d4b.png)

[2019-03-20 14:34] jschilen opened #2465 "Site can't be reached when adding --https-port to config"
My config and access works fine on port 3000, but I want to switch to SSL to protect login credentials in transit.

When I add
--http-port=80
--https-port=443
to ntopng.conf, I can see ntopng listening on ports 80/443 and can curl it locally on the box.

However I'm not able to access it from any other computer (even on the same network). I just get "This site cannot be reached." In a packet captu

[2019-03-20 14:53] simonemainardi commented on #2429
hey, did you check the suggestions above?

[2019-03-20 14:56] simonemainardi commented on #2465
Very likely there's something preventing ntopng from starting - ie., someone else using either port 80 or 443.

Check ntopng output, you may end up in seeing something like:

[code]

So either change the ports or stop the services already running there.

[2019-03-20 15:09] jschilen commented on #2465
Hello,

It is starting on 80/443. I can curl the box locally.
[root@ontap01 ~]# netstat -anp |grep 80
tcp        0      0 0.0.0.0:80              0.0.0.0:*               LISTEN      30465/ntopng
[root@ontap01 ~]# netstat -anp |grep 443
tcp        0      0 0.0.0.0:443             0.0.0.0:*               LISTEN      30465/ntopng

Mar 20 11:03:32 ontap01.uis.kent.edu systemd[1]: Starting ntopng high-

[2019-03-20 15:54] jschilen commented on #2465
Hello,

Can you please re-open this? I responded to this post on the web.

Jeremiah

From: simonemainardi <notifications@github.com>
Sent: Wednesday, March 20, 2019 10:57 AM
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: SCHILENS, JEREMIAH <jschilen@kent.edu>; Author <author@noreply.github.com>
Subject: Re: [ntop/ntopng] Site can't be reached when adding --https-port to config (#2465)

Very likel

[2019-03-20 15:58] simonemainardi commented on #2465
is there a firewall blocking incoming connections from the outside on ports 80 / 443?

[2019-03-20 16:22] branchnetconsulting commented on #2429
Hi Simone,

I checked and find no signs of any IPAddressAllow= or IPAddressDeny= strings
anywhere in my systemd config, tested with:

grep -r "IPAddress" /etc/systemd/*

Also, I'm on a 4.4 kernel, so that may or may not apply:

root@NSM:~# uname -a
Linux nsm 4.4.0-141-generic #167-Ubuntu SMP Wed Dec 5 10:40:15 UTC 2018
x86_64 x86_64 x86_64 GNU/Linux

Kevin

On Wed, Mar 20, 2019 at 10:53 AM simonem

[2019-03-20 17:12] jschilen commented on #2465
No. As I said I can see the traffic make it to the server in a packet capture, there's just not a response sent.
________________________________
From: simonemainardi <notifications@github.com>
Sent: Wednesday, March 20, 2019 11:58:09 AM
To: ntop/ntopng
Cc: SCHILENS, JEREMIAH; Author
Subject: Re: [ntop/ntopng] Site can't be reached when adding --https-port to config (#2465)

is there a firewall bl

[2019-03-20 17:37] simonemainardi commented on #2465
if you do a packet capture on the ntopng server, you will still be able to see the incoming SYNs even if a firewall (on the ntopng server of course) would block them. Check it.

[2019-03-20 18:00] simonemainardi commented on #2464
I correctly get the host pools charts using the latest dev. Can you please update to the latest version and report? do you see any error in the console?

[2019-03-20 18:14] simonemainardi commented on #2429
At this point there's much else I can do. The issue is not reproducible and it seems there's no one else with this issue. Indeed, ntopng is working and connecting if you start it from the command line so it's something related to your systemd.

If you can't find it out, I can propose to connect to your box if you give me ssh access. Otherwise I am going to close this issue.

[2019-03-20 18:27] emanuele-f commented on #2463
This should be already fixed in the latest dev

[2019-03-20 18:27] #2463 closed, assigned to simonemainardi, emanuele-f

[2019-03-20 19:23] branchnetconsulting commented on #2429
Thanks for your help Simone.  I appreciate your perseverance on this
issue.  There indeed must be something really unusual going on with this
particular server.  At this point let's just close the issue and perhaps
later on I might reach out for you to take a remote look at it if it
remains a problem.

Kevin

On Wed, Mar 20, 2019 at 2:14 PM simonemainardi <notifications@github.com>
wrote:

[2019-03-21 10:26] lucaderi opened #2467 "Implement InfluxDB Alert"
It is required to implement alerts in ntopng due to Influx
20/Mar/2019 04:25:08 [Utils.cpp:1451] WARNING: Unable to post data to (http://localhost:8086/write?db=ntopng): Timeout was reached
20/Mar/2019 03:45:08 [Utils.cpp:1451] WARNING: Unable to post data to (http://localhost:8086/write?db=ntopng): Timeout was reached
19/Mar/2019 22:20:08 [Utils.cpp:1451] WARNING: Unable to post data to (http://l

[2019-03-21 10:44] simonemainardi commented on #2429
ok, if necessary contact me privately at mainardi ntop org for the login credentials

[2019-03-21 10:44] #2429 closed, assigned to simonemainardi

[2019-03-21 11:28] HoseinKashefi commented on #2464
i updated to v.3.9.190321 but problem still exist.
there is no error on ntopng console.
![image](https://user-images.githubusercontent.com/43135531/54749439-c53bbb00-4be9-11e9-813a-ac3fc2429f4e.png)

[2019-03-21 12:03] PrzemekSkw opened #2468 "Is ntopng good for openvpn monitoring?"
Hello, I install openvpn on my debian 9 VPS. I want to monitor my vpn connections. Is ntopng good for this? I'm totally nobb with servers.
Regards Przemek

[2019-03-21 12:27] fsamareanu opened #2469 "Prefix ignored when redirecting"
After an upgrade, during mysql schema changes the URL is this:

https://domain.com/ntopng/lua/please_wait.lua?referer=domain.com%2Flua%2F

The referer is wrong and this page redirects to domain.com/lua instead of domain.com/ntopng/lua

ntopng was started with --http-prefix="/ntopng"

[2019-03-21 15:57] emanuele-f commented on #2468
Hi, with ntopng you can monitor the flows and hosts on a network interface (or virtual interface in your case), so yes this is a suitable task, you simply need to install ntopng in your vps and start it on the tun interface (e.g. add the `-i=tun0` in /etc/ntopng/ntopng.conf). You can install prebuilt packages by following the instruction from http://packages.ntop.org . Please note that some intere

[2019-03-21 16:38] tharveycesd73 opened #2470 "license Problem"
Running Centos VM with nprobe and ntopng.
Nprobe license install was straightforward.

Registered and installed ntopng Enterprise license via GUI. However the Gui displays it as still a community license.
Have tried adding the ntopng.license file in /etc and also the --online-license-check option at startup.

ntopng -V displays the following:
v.3.8.190321	[Enterprise/Professional build]
GIT rev:	3

[2019-03-21 16:50] simonemainardi commented on #2470
it seems that the license is ok:

[code]

What's the output of ntopng --check-license? Can you please post a screenshot of page "About ntopng" including the footer?

[2019-03-21 17:05] simonemainardi commented on #2469
the prefix is kept into account when doing the actual redirect:

see `please_wait.lua`

[code]

[2019-03-21 17:05] #2469 closed, assigned to simonemainardi

[2019-03-21 17:28] tharveycesd73 commented on #2470
ntopng]# ntopng --check-license
License Ok

I've hidden the license key as it's a public forum but it displays correctly in the box.

<img width="1283" alt="Screen Shot 2019-03-21 at 11 26 05 AM" src="https://user-images.githubusercontent.com/48733210/54772111-4edc9000-4bcc-11e9-8349-fb64c5804724.png">

[2019-03-21 18:05] fsamareanu commented on #2469
If I can get you the nginx logs tomorrow will you reopen this?

[2019-03-21 18:22] tharveycesd73 commented on #2470
<img width="1525" alt="Screen Shot 2019-03-21 at 12 21 36 PM" src="https://user-images.githubusercontent.com/48733210/54775632-04f7a800-4bd4-11e9-9811-7141d66663b5.png">

[2019-03-21 18:56] tharveycesd73 commented on #2470
Solved it. There was a statement --community in the ntopng.conf file. I commented it out and it works now.

[2019-03-21 19:11] PrzemekSkw commented on #2468
@emanuele-f Thanks for TIP. I install ntopng and learn about servers and monitoring now :)

[2019-03-22 07:52] #2470 closed, assigned to nobody

[2019-03-22 07:55] emanuele-f commented on #2468
You are welcome. You can also reach us via the telegram community group, please check out https://www.ntop.org/community

[2019-03-22 07:55] #2468 closed, assigned to nobody

[2019-03-22 10:53] fsamareanu commented on #2469
Here's the nginx log. the actual domain was replaced with domain.com, otherwise unaltered.

[code]

Edit: seems you checked the http prefix from an URL perspective (fair point fwiw). I mean the http prefix from ntopng's point of view (e.g. the thing between the domain and /lua). That's why I mentioned the relevant config snippet as well @simonemainardi @emanuele-f

[2019-03-22 13:15] lucaderi opened #2471 "Implement ad block"
Add ad-blocking in ntopng Edge

[2019-03-22 13:21] jschilen commented on #2465
Hello,

I’m sorry, you were correct. There was  a firewall running on the host. It works now.

Thank you,

Jeremiah

From: simonemainardi <notifications@github.com>
Sent: Wednesday, March 20, 2019 1:38 PM
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: SCHILENS, JEREMIAH <jschilen@kent.edu>; Author <author@noreply.github.com>
Subject: Re: [ntop/ntopng] Site can't be reached when adding --https-por

[2019-03-22 14:57] #2465 closed, assigned to nobody

[2019-03-22 18:54] ethanmullins commented on #2452
I would be interested in this as well

[2019-03-23 08:41] lucaderi opened #2472 "Improve ntopng/nProbe integration"
Extend the nprobe @NTOPNG@ template macro to send ntopng additional fields such as latencies, and update ntopng to handle them as first citizens. In essence we need to make sure that the user experience of a nProbe/Probe collector or ntopng (packet-based) monitoring and as similar as possible

[2019-03-23 10:07] lucaderi opened #2473 "Implement LLDP/CDP Discovery"
Instead of using only network range SNMP device discovery, it is requested to take advantage of the LLDP protocol to perform network device discovery. This similar to
- https://www.marcoach.nl/lldp-network-discovery/
- https://github.com/ytti/netcrawl
- https://github.com/yasuhito/ruby_topology
- https://github.com/stanislavb/snmp-lldp
- https://github.com/trema/topology

[2019-03-24 16:13] DmitryRendov opened #2475 "Dependency issue - couldnt remove ntopng from Debian stretch"
Reading package lists... Done
Building dependency tree
Reading state information... Done
You might want to run 'apt --fix-broken install' to correct these.
The following packages have unmet dependencies:
 pfring-dkms : Depends: pfring (= 7.5.0-2440) but 7.5.0-2466 is installed
E: Unmet dependencies. Try 'apt --fix-broken install' with no packages (or specify a solution).

root@mail /home/minecraft

[2019-03-25 07:25] lucaderi opened #2476 "Add network label"
In the networks page, add the ability to set a mnemonic label (i.e. alias) to networks as it happens to many other elements in ntopng

[2019-03-25 07:26] lucaderi opened #2477 "Monitor networks latency"
Similar to #1073, compute the networks latency and report is on a metric/graph

[2019-03-25 07:37] lucaderi opened #2478 "Add flows_stats.lua header"
At the top of flows_stats.lua (close to the <hr> tag) add a header with coloured blocks similar to (http://docs.grafana.org/img/docs/v45/singlestat-panel.png) that summarises in one line metrics like (clicking on the box will jump on the selected view)
- # anomalous flows (vd total)
- # one way vs two way flows
- top application protocol per # flows
- top application protocol per # flow bytes

[2019-03-25 08:13] lucaderi opened #2479 "Move "common alert thresholds" in preferences"
Common flow thresholds (e.g. inside host_details.lua) are speed around various pages (host and interface). It would be nice to threat them on a different way and put them in preferences.

[2019-03-25 08:37] lucaderi commented on #1837
In essence it is required
1. to add the ability to define new nDPI protocols (based on IP, port or names) using a preference similar to what happens with other ntopng options
2. enable people to define new protocols based on flows. For instance when there is a flow that needs to be classified as "custom protocol X", add the ability to do it with a few mouse clicks

[2019-03-25 08:41] erg809 commented on #2477
*      Add a **search** **area** **to find** host or a query option similar to the firewalls log queries, dst IP, src IP or port,  read http headers for more details about the host, co-relate the snmp interface statistics with the scanned statistics.
•	Identify the source of broadcast storm, Excessive Network Collisions
•	identify STP issues /Loops source or dst.
•	Jitter threshold
•	Delays /RTT l

[2019-03-25 08:42] cardigliano commented on #2475
@DmitryRendov could you try again with "apt-get update && apt-get upgrade"? I just tested the update and it is working for me, I want to make sure you are still able to reproduce it.

[2019-03-25 12:56] DmitryRendov commented on #2475
@cardigliano apparently it's fixed. thank you, guys! awesome tool.

[2019-03-25 12:56] #2475 closed, assigned to cardigliano

[2019-03-25 15:52] #2476 closed, assigned to emanuele-f

[2019-03-25 15:53] emanuele-f commented on #2476
Example:

![2019-03-25_16-38](https://user-images.githubusercontent.com/5488003/54934217-0992c800-4f16-11e9-92ee-a0dbbb57369f.png)

[2019-03-25 16:28] Ayymoss opened #2480 "ntopng not displaying values in historical correctly"
Reference: https://github.com/pfsense/FreeBSD-ports/tree/devel/net/pfSense-pkg-ntopng

Please note, this has been tested on different hardware with a base install of pfSense 2.4.4r2 and ntopng 0.8.13_3 (ntopng Community Edition v.3.6.181116) and the problem is still there, so I believe this bug would affect everyone.

pfSense additional package install for ntopng 0.8.13_3 has some issues with hist

[2019-03-25 20:00] simonemainardi commented on #2472
implemented,

@NTOPNG@ is now expanded in two macros, depending on whether nProbe is used in collector or probe mode:

[code]

Suggested latencies (network and application), tcp flags (client and server) and other fields (eg., dns queries and http urls) have been added to the nProbe template and parsed in ntopng.

[2019-03-25 20:00] #2472 closed, assigned to nobody

[2019-03-26 08:46] emanuele-f commented on #2480
Hi, the 3.6 version is the old stable, we cannot provide support for it. Please update (or ask the package maintainers to update) to the new 3.8 stable and check if the problem is still present

[2019-03-26 09:42] basicmonkey opened #2482 "Chrome/Vivaldi login bounce back"
I'm unable to log into ntopng Enterprise Edition v.3.9.190325 using Vivaldi (Chromium based) 2.3.1440.61 (Stable channel) (64-bit).

Every time I log in, I'm immediately bounced back to the login screen.

I've tried deleting path and domain cookies, disabling cookies etc. Login via Safari and Firefox works perfectly.

ntop-ng is behind a reverse proxy, but the same issue occurs when accessing it d

[2019-03-26 10:59] emanuele-f commented on #2482
Hi, I use chromium and I can login without problems, are you accessing multiple ntopng sites from the same browser? Can you see inspect the ajax response from ntopng (via wireshark or developer console) and see if ntopng is kicking you out? This should be the relevant js code that redirect you to the login (footer.lua):

`if((response.status == 403) && (response.responseText == "Login Required"))

[2019-03-26 11:12] emanuele-f commented on #2464
How many host pools do you have? Are you using InfluxDB or RRD?

[2019-03-26 11:17] emanuele-f commented on #2467
There is already an alert triggered whenever an export error occurs, however it is a stored alert (goes into the past alerts) ![2019-03-26_12-15](https://user-images.githubusercontent.com/5488003/54992919-81193380-4fb8-11e9-8276-7d9304db4f00.png)

[2019-03-26 12:32] basicmonkey commented on #2482
Hi Emanuele,
Very strange, but after a few refreshes with developer tools open and network monitor tracking, i successfully logged into dashboard and then logged out again. Now I can log in successfully.
Before, I would sometimes see a flash of the dashboard and then back to login.
I'll keep playing and come back to you.
Thank you.

[2019-03-26 12:47] basicmonkey commented on #596
This is also relevant in historical data explorer.
<img width="430" alt="Screenshot 2019-03-26 at 12 45 17" src="https://user-images.githubusercontent.com/392058/54998080-23d7af00-4fc5-11e9-9855-ce2d0c1df200.png">

[2019-03-26 12:53] simonemainardi commented on #596
you can control this string length from the preferences

[2019-03-26 13:14] basicmonkey commented on #2482
It's bouncing back again now, unable to log in.
I can't seem to see the response that's causing the bounce in the network console.

[2019-03-26 13:27] basicmonkey commented on #2482
I'm seeing some 302 errors. Can't work out why sometimes it's working, others not.
<img width="913" alt="Screenshot 2019-03-26 at 13 25 53" src="https://user-images.githubusercontent.com/392058/55000579-b595eb00-4fca-11e9-8526-cb3146bea882.png">

[2019-03-26 13:32] basicmonkey commented on #2482
On this attempt, I see a flash of dashboard before being kicked out again.
<img width="825" alt="Screenshot 2019-03-26 at 13 31 58" src="https://user-images.githubusercontent.com/392058/55000993-964b8d80-4fcb-11e9-8b67-4cb6942ce8c0.png">

[2019-03-26 13:46] basicmonkey commented on #596
You can indeed! Thanks for the pointer.

[2019-03-26 14:39] cardigliano commented on #2482
@basicmonkey I run some test with Vivaldi and it's working for me. You said that you tried disabled cookies, did you re-enable them? Please note that ntopng authentication does not work without cookies.

[2019-03-26 14:49] basicmonkey commented on #2482
@cardigliano They are re-enabled. I'm going to try vanilla Chrome and see if that performs differently. A new private window in Vivaldi doesn't seem to work either.

[2019-03-26 18:36] #2386 closed, assigned to simonemainardi

[2019-03-27 04:53] HoseinKashefi commented on #2464
2 host pools except "Not Assign" and using RRD

[2019-03-27 09:02] simonemainardi commented on #2390
Implemented in
https://github.com/ntop/ntopng/commit/f98681b58f1ba804f1215318c344be90d2dda7e5

[2019-03-27 09:02] #2390 closed, assigned to simonemainardi

[2019-03-27 09:06] emanuele-f commented on #2480
Please reopen if necessary after update.

[2019-03-27 09:06] #2480 closed, assigned to nobody

[2019-03-27 09:42] simonemainardi opened #2484 "Detect DNS Fast Flux"
See if an heuristic can be implemented to detect DNS Fast Flux. An example heuristic is described at https://osqa-ask.wireshark.org/questions/18394/help-with-filters-for-detecting-fast-flux-in-dns-queries

[2019-03-27 10:21] simonemainardi commented on #2459
implemented in the current nProbe and ntopng

[2019-03-27 10:21] #2459 closed, assigned to nobody

[2019-03-27 10:26] #2447 closed, assigned to nobody

[2019-03-27 11:49] emanuele-f commented on #2180
CQ queries now enabled by default in 4203d8a1c6d1db5cd915014e52444c2efdbb1030 . Please note that this will only speed up queries on new data. Also some optimization work has been done to reduce the number of queries sent during page load (dee46851413f5e1946226696af1ba03e0cfff500)

[2019-03-27 11:49] #2180 closed, assigned to emanuele-f

[2019-03-27 14:33] emanuele-f commented on #2464
I've added some debug messages in RRD, please wait one hour until the new package is available, update and follow the following instructions:

1. While ntopng is running, run `redis-cli set "ntopng.prefs.rrd_debug_enabled" "1"`
2. Stop the ntopng service with `systemctl stop ntopng`
3. Run ntopng from cli: `sudo ntopng /etc/ntopng/ntopng.conf | grep host_pools`
4. Wait 10 minutes for the RRD updat

[2019-03-27 16:30] #2452 closed, assigned to nobody

[2019-03-28 00:56] plankanater opened #2485 "Black-hole a DDoS with BGP"
Are there any plans to implement auto black-hole with bgp? Or is there a way to do this with the current setup? For example, one host receives way too many flows, then ntop announces that host through BGP to a router as a /32 or /128. That router can then blackhole the /32 or /128. This would also allow Ntop be categorized as a DDoS detection and mitigation software.

[2019-03-28 10:01] emanuele-f commented on #2366
We've done more tests but we are still unable to detect a leak. In our tests, the memory seems to go up a bit when flows rise but not as steep as in your case. Can you provide web gui access to your server to try to spot some traffic peculiarities which may give an hint on the possible source of the leak? Please contact me at faranda@ntop.org

[2019-03-28 10:40] emanuele-f opened #2486 "Host pools unassigned devices inconsistent"
The "unassigned devices" tab of the host pools seem inconsistent as:
- it displays devices which are instead assigned to a host pool via a IP/network member rule
- when no L2 data is available (e.g. capture via nprobe), the tab should be hidden as the list will always be empty

[2019-03-28 13:08] basicmonkey commented on #2482
Vanilla Chrome seems to be ok. Just my install of Vivaldi. Repeated cache clears and cookie removals didn't fix, but removing ProxyPassReverse from Apache config seems to have resolved it now for the proxy access.

[2019-03-28 13:37] plankanater commented on #2485
How system would stop a DDoS.

DDoS starts - Flows increase to host (Flood Attack Starts)
Ntop sees the increased flows. (either by a hard limit or percentage)
Ntop triggers an alert marking the Hosts IP (Local IP)
Ntop then announces the /32 or /128 to the BGP peer. (can add BGP community but not necessary)
The BGP peer (not Ntop) then black-holes the IP address re-announcing it to upstream route

[2019-03-29 08:03] HoseinKashefi commented on #2464
Emanuele,
hope these are what you want
![image](https://user-images.githubusercontent.com/43135531/55217863-2ed94c00-521e-11e9-9dcd-1813c1a36901.png)
![image](https://user-images.githubusercontent.com/43135531/55217915-44e70c80-521e-11e9-9cfb-a5b4d633bcb8.png)
[ntopng-rrd.log](https://github.com/ntop/ntopng/files/3021620/ntopng-rrd.log)

[Ntopng-output.txt](https://github.com/ntop/ntopng/files/302

[2019-03-29 09:14] emanuele-f commented on #2464
Thank you for the information, I've made a fix in 0099d2a88711e86f42d664c18c6626b49e2a284a . The new package will be available in one hour. Please update and let me know if it works fine for you.

[2019-03-29 11:18] HoseinKashefi commented on #2464
Thank you so much. its is ok now after update.
just for information ntopng generates following logs and there are too many.maybe they aren't necessary.
[ntopng-rrd(2).log](https://github.com/ntop/ntopng/files/3022387/ntopng-rrd.2.log)

[2019-03-29 12:16] emanuele-f commented on #2464
Great. The logs have been enabled by the commands above, to disable:

1. While ntopng is running, run `redis-cli set "ntopng.prefs.rrd_debug_enabled" "0"`
2. Restart ntopng with `sudo systemctl restart ntopng`

[2019-03-29 12:16] #2464 closed, assigned to emanuele-f

[2019-03-29 12:46] basicmonkey commented on #2482
Not working again today, either via proxied address or port 3000. Any suggestions on how to debug this are much welcome.

[2019-03-29 19:12] laurentduru opened #2489 "Implement Allowed Interfaces with LDAP and Radius authentication"
Today it's possible to allow access to a specific interface for local authenticated user.

I propose 2 enhancements :
1) Allow multiple interfaces selection per user
2) Extend to LDAP and Radius authentication

The use case is to share a Ntopng instance with multiple interfaces corresponding to multiple nprobe in ZMQ to multiple entity in a company and to limit visibility for specific user whereas

[2019-03-29 19:13] Byter09 opened #2490 "special characters in password"
Hello,

I saw several issues related to special characters and sadly I can report another one:

Steps to reproduce:
1. change password to `0a!b5Ecd3%eC`
2. log out
3. try to log back in with said password

You'll see that you will now be redirected to the login page again and apparently the given password is wrong.

I'm assuming the problem lies somewhere at the `%` and ntopng trying to decode htm

[2019-03-29 22:37] DocSalvager opened #2491 "No graphic"
Noob. Just installed 3.8.190204 on antiX Linux 1.71 (64 bit)

But most pages look something like the example attached... just a horozontal bar graph always half full.

![screenshot](https://user-images.githubusercontent.com/3124882/55266086-95c42880-5251-11e9-8e75-111e664ff5b9.png)

What am I doing wrong?

[2019-03-31 22:52] rinchen opened #2492 "lua module loading error"
Ubuntu 18.04 using http://packages.ntop.org/apt/
 ntopng                                       3.9.190331-6423

When starting, ntopng can't find modules that I can confirm are in the modules directory.

31/Mar/2019 16:07:35 [LuaEngine.cpp:8896] WARNING: Script failure [/usr/share/ntopng/scripts/lua/network_load.lua][/usr/share/ntopng/scripts/lua/modules/lua_utils.lua:14: module 'os_utils' not foun

[2019-04-01 07:27] emanuele-f commented on #2492
What commands are you using to start ntopng? Latest version works for me on ubuntu 18

[2019-04-01 09:07] simonemainardi commented on #2482
this is for sure an issue with your browser:

- check and disable any extension you may have enabled/installed
- check and make sure cookies are enabled

then if it doesn't work, check again all the network requests made and post here the full details of those that received an error (e.g., the 403 above).

[2019-04-01 09:09] simonemainardi commented on #2491
right click on the page, then inspect element and check for:

- js errors
- network errors

Also open the ntopng logs and see if there are errors there.

[2019-04-01 11:13] lucaderi opened #2493 "Implement TCP/UDP/ICMP comparison chart"
![Screen Shot 2019-04-01 at 13 08 11](https://user-images.githubusercontent.com/4493366/55323608-d1443a00-547f-11e9-84f7-01bcd3983780.png)

[2019-04-01 11:18] tronar opened #2494 "Counters on discrete living interfaces (e.g. pppX)"
I'm using ntopng on Ubuntu 16.04, monitoring an edge box with a pppoe
uplink. Sometimes the ppp link fails, and it is "redialed".
All seems fine but some features of ntopng seem to be hooked to the
"old" instance of the interface. In particular, traffic counters stay at 0.
I have not found an way to "refresh" ntopng, tried a HUP but it did not
help (might be because the running process has lowered

[2019-04-01 11:22] jean-christophe-manciot opened #2495 "Allow new username with a dot"
Debian buster
ndpi 2.9.0-1488-c496c79
ntopng 3.9.190401

When adding a new user with a dot in the name such as **username@domain.com**, the user is created as **username@domain**.
Then, **it is impossible to delete it** with the delete button in the edit column.

[2019-04-01 11:32] jean-christophe-manciot commented on #2495
Restarting the service with the previously saved configuration **/var/lib/ntopng/conf.tar.gz** (without new user) does not remove that user.

[2019-04-01 14:17] simonemainardi opened #2497 "Implement n2disk inside ntopng"
Currently, n2disk is handled as an external service. It is requested to implement it inside ntopng so that it will become easier to dump only certain kinds of packets, such as those belonging to blacklisted connections or suspicious ARP.

[2019-04-01 14:24] rinchen commented on #2492
`systemctl start`

This may have been transient error after the latest package update. It's never done this before and at the moment it's not occurring after a `systemctl restart`.

[2019-04-01 17:52] lucaderi opened #2498 "Add ICMP Flow Filter"
![Screen Shot 2019-04-01 at 19 49 02](https://user-images.githubusercontent.com/4493366/55348361-572fa780-54b7-11e9-8c42-17a1c2d6e4f5.png)

Under host details, ICMP tab, there is a table similar to the one above. Please make the "ICMP Message" column clickable so that it can jump onto the flow page (flows_stats.lua) and display only those flows matching the ICMP type.

[2019-04-01 20:35] rinchen opened #2499 "ntopng segfault when performing radius lookup"
Ubuntu 18.04
3.9.190401 - Enterprise Edition

I have freeradius-tools installed.
radtest correctly authenticates me.
I've confirmed that the UI matches the keys in redis using redis-cli.

When a user tries to authenticate, even the admin user, ntopng abends with a segfault:

 [  690.884438] ntopng[10140]: segfault at 0 ip 0000000000000000 sp 00007fcb47dc0e28 error 14 in ntopng[555e6b739000+32d000]

[2019-04-02 07:42] emanuele-f commented on #2492
Fine, I'm closing the issue for now. Should you experience it again please comment this issue again.

[2019-04-02 07:42] #2492 closed, assigned to nobody

[2019-04-02 14:00] emanuele-f opened #2501 "Add warning in remote assistance with local binding"
When ntopng is configured to bind to local address (127.0.0.1), remote assistance via n2n is not possible. A warning should inform the user about this.

[2019-04-02 14:45] emanuele-f commented on #2366
The only particular thing I noticed after connecting to the gui si the flows page broken due to the cento issue above. In order to undestand where the leak could be, please perform the following changes one by one and test them in a 2 days period:

- Disable the alerts via the gui, so that we know that this is not related to the alerts
- Use `--max-num-flows "1024"` and monitor if the memory usage

[2019-04-02 15:03] simonemainardi commented on #2499
can you prepare and generate a core dump of the binary, and upload it along with the ntopng executable so we can check it?

[2019-04-02 15:29] simonemainardi commented on #2495
Browser validators don't let you add special characters in the name, including @ and dots. How are you creating this user?

[2019-04-02 15:56] lucaderi opened #2503 "Sent and Receive Stats are mixed"
<img width="765" alt="Screenshot 2019-04-02 at 17 53 55" src="https://user-images.githubusercontent.com/4493366/55417171-72aab900-5570-11e9-8462-dc7eee992864.png">

The word "sent" (TCP Packets Sent Analysis) is misleading as
- RX
-- Lost
-- Out of Order

- TX
- Retransmissions
- Keep Alive

In essence it needs to be reworked the meaning and the display of these metrics

[2019-04-02 16:15] lucaderi opened #2504 "Breakdown UDP Received Traffic"
<img width="1175" alt="Screenshot 2019-04-02 at 18 13 47" src="https://user-images.githubusercontent.com/4493366/55418525-27de7080-5573-11e9-87bb-c7e3f015be99.png">

Split UDP traffic received in "Unicast Traffic Received" and "Broad/Multi-cast Traffic Received"

[2019-04-02 20:27] rinchen commented on #2499
Wilco. May take me a day or two.

[2019-04-02 23:20] rinchen commented on #2499
[ntopng.zip](https://github.com/ntop/ntopng/files/3036220/ntopng.zip)

The core dump is too big. Here it is with Firefox Send with a 7 day timer. https://send.firefox.com/download/6b36404ba2edd752/#W6L9nO_0YXRM83eUYzEJ2A

[2019-04-02 23:35] rinchen commented on #2499
Unfortunately using redis-cli to set radius auth to 0 no longer fixes this. ntopng will run but when the admin user attempts to log in, it segfaults.

[2019-04-02 23:36] rinchen commented on #2499
rebooting the server works however, and we can login again.

[2019-04-03 06:41] basicmonkey commented on #2482
It certainly looks like it is just my Vivaldi.

I've tried disabling all extensions, cleared all domain cookies, all cookies are enabled including 3rd parties, cleared cache and application cache. Still the same problem.

It seems I get a 302 when it hits the dashboard.

<img width="933" alt="Screenshot 2019-04-03 at 07 33 14" src="https://user-images.githubusercontent.com/392058/55457996-8d6a4580

[2019-04-03 06:46] basicmonkey commented on #2482
Interestingly, going in via IP and port seems to work. Going in via apache proxy or hostname and port fails. Is there somewhere else Vivaldi keeps old redirects? I'm trying to avoid clearing absolutely everything but it seems that way.

Edit: I've created a new hostname (ntop2.basic) and added as a ServerAlias to my Apache config. All works well. Must be some stuck redirect in Vivaldi, any suggest

[2019-04-03 10:23] #2490 closed, assigned to nobody

[2019-04-03 10:23] simonemainardi commented on #2490
fixed, thanks for reporting

[2019-04-03 10:35] simonemainardi commented on #2482
can you try and do a fresh install of vivaldi  on the same or on a different machine and see?

unfortunately your issue isn't reproducible

[2019-04-03 11:58] cjwbath opened #2507 "Old data not purged from MySQL"
Since I upgraded from 3.8.181112 to 3.8.190219 (but this may be coincidence) I have found that old flow data is not being purged from the flow-dump MySQL database in time to stop the disk filling up. I have retention of 7 days set in the Preferences, but I find data up to 2 weeks old in the flowsv4 table when investigating.

Looking at SHOW FULL PROCESSLIST in MySQL I can see the cleanup query get

[2019-04-03 12:42] emanuele-f commented on #2499
The firefox send link is expired. The easiest way to get a stack trace for debugging is to use gdb as described here: https://github.com/ntop/ntopng/blob/dev/doc/README.crash . You can also extract a stack trace from your core dump by the way.

[2019-04-03 12:57] emanuele-f commented on #2493
Implemented in the pro version as a new "Protocols" menu entry

[2019-04-03 12:57] #2493 closed, assigned to emanuele-f

[2019-04-03 13:01] emanuele-f commented on #2438
@vijaykilledar can you still reproduce this with the latest version? Pcap file is really helpful in this case, please consider uploading it on a third party server and sending us a link, sending it to me at faranda@ntop.org or trimming it via wireshark

[2019-04-03 13:12] emanuele-f commented on #2485
ntopng can already trigger alerts based on the number of generated/received flows, please check out https://www.ntop.org/guides/ntopng/basic_concepts/alerts.html#user-configurable-thresholds . ntopng can also export generated alerts to third party programs (see https://www.ntop.org/guides/ntopng/web_gui/alerts.html#alert-endopints) so your custom program which implements the specific logic describ

[2019-04-03 13:12] #2485 closed, assigned to nobody

[2019-04-03 13:15] emanuele-f commented on #2491
@DocSalvager are you running ntopng on localhost or on a different pc? It seems like there is too much latency in the AJAX response from the ntopng response, please use the network inspector of the browser as suggested to confirm this

[2019-04-03 13:20] emanuele-f commented on #2494
When the ppp link is refreshed, is the ppp interface seen by the linux sytem destroyed and created again? Apart from the statistics, can you see new flows into the ntopng gui appearing after the refresh? Counters are computed by ntopng based on the traffic so this should not be a problem. Please also check out the `-s` option to avoid dropping privileges

[2019-04-03 13:42] emanuele-f commented on #2489
Please consider using the view interfaces (e.g. `-i view:eth0,eth1`) to create logical groups of interfaces which can be assigned to users.

Regarding the second part of the request, since the users which authenticate through LDAP/Radius are separate from the "local users" that you can configure in ntopng, I think this should be addressed via an additional attribute to be exposed by the LDAP serve

[2019-04-03 13:49] tronar commented on #2494
The pppd daemon creates the ppp interface, and the old daemon dies, so yes, it's a new interface with the same name.  (Usually because some route vanishes, or modem looses carrier, or whatever, and then the keepalives T/O)

Interestingly, even if packet distribution oscilates, in the app flows window, live flows show "no flows yet".
-s , although seemed promising, does not seem to help. (I verifie

[2019-04-03 13:58] laurentduru commented on #2489
"View" will concatenate counters, my proposal is to have access to multiple "independant" interfaces with independants counters.

Today in LDAP authentication mode we can define a user group or admin group.
I think there is multiple ways to provide the function :
1) extend ldap attribute as you propose, but it's sometime difficult to ask LDAP administrators to extend attributes for a specific appl

[2019-04-03 15:27] emanuele-f commented on #2489
Please open a separate request for the multiple interfaces support.
For solutions 2 and 3, ntopng still needs a way to associate ldap/radius users (which are dynamic and not known in advance by ntopng) to the corresponding ntopng users. This is the main problem with such approaches. I think that a `(n) ldap users -> (1) ntopng user` mapping is not enogh in this case, a `(n) ldap users -> (n) ntopn

[2019-04-03 15:32] emanuele-f commented on #2494
I think we need to detect the change and reopen the pcap capture on the interface. I would have expected to receive libpcap errors during pcap_next in such situation though

[2019-04-03 16:22] emanuele-f commented on #2499
I can reproduce the bug in ubuntu 18, libradcli4 version `1.2.6-4`.

[code]

[2019-04-03 20:49] emanuele-f commented on #2499
I have made a fix in 88c6720bbe793e0eb73126b51e263e57ba197730 . The 1.2.6-4 shipped with ubuntu 18 is an intermediate version which requires calling rc_test_config but doesn't expose the rc_apply_config api yet (https://github.com/radcli/radcli/issues/24#issuecomment-370165355). Without calling that initialization function, sfuncs in rc_send_server_ctx was not properly initialized, and this explai

[2019-04-04 00:02] rinchen commented on #2499
@emanuele-f That fixed it. Thank you.  ntopng doesn't abend.  Radius login works. I get the following messages in the log:

Apr  3 18:00:54 netops ntopng: radcli: rc_test_config: ntopng: no acctserver specified
Apr  3 18:00:54 netops ntopng: radcli: rc_avpair_gen: rc_avpair_gen: received VSA attribute with unknown Vendor-Id 318

[2019-04-04 14:29] simonemainardi commented on #2495
Closing. Currently we are not considering to allow usernames with special characters inside ntopng and the validator doesn't allow such characters. Usernames with special characters can be handled with external logins such as ldap and radius.

[2019-04-04 14:29] #2495 closed, assigned to nobody

[2019-04-04 14:30] simonemainardi commented on #2491
No feedback received. Closing. Reopen with the requested information if necessary.

[2019-04-04 14:30] #2491 closed, assigned to nobody

[2019-04-04 16:21] emanuele-f commented on #2499
Both messages are written by radcli to syslog. The first one is generated from the following line: https://github.com/radcli/radcli/blob/master/lib/config.c#L805 . It is a debug message and can be ignored, as we do not perform accounting via radius but only authentication. The second one it's a warning, it seems specific to your radius server (VSA = vendor specific attribute), no clue on that howe

[2019-04-04 16:21] #2499 closed, assigned to emanuele-f

[2019-04-04 16:38] emanuele-f commented on #2507
The "waiting for lock" seems to be the cause of the issue, please post the full output of `SHOW FULL PROCESSLIST` to see if another query is holding the lock on the flowsv4 table

[2019-04-04 16:51] emanuele-f commented on #1900
Already implemented, see #2476

[2019-04-04 16:51] #1900 closed, assigned to nobody

[2019-04-04 17:10] simonemainardi commented on #2381
Unable to reproduce. please, reopen if necessary.

[2019-04-04 17:29] PsyMan2000-zz commented on #2476
![image](https://user-images.githubusercontent.com/16685695/55575660-51c89c00-5707-11e9-983d-ce56b7e9c820.png)

Not showing in my server. I have to click on the report icon then the cog to get there.

[2019-04-04 17:45] emanuele-f opened #2508 "Add informative message for dhcp networks"
As a follow up of #2369, it's necessary to identify:
- if the serialization by MAC is disabled, the user should be informed that ip may be meaningless in DHCP
- if serialization by MAC is enabled by DHCP range is not configured properly (e.g. some dynamic ip are outside the configured range), the user must be warned as well

[2019-04-04 17:46] emanuele-f commented on #2476
This is only available in the latest dev version. Please update to dev or wait for the next stable.

[2019-04-04 17:52] PsyMan2000-zz commented on #2476
Ahh, OK, I will wait for it to arrive in stable I think. Brilliant news : Good work.

[2019-04-04 20:59] HBadger0017 opened #2509 "Unable to create interface to PCAP file"
Hey gang...
I am comparing capabilities between ELK and NTOPNG in Docker containers.  My understanding of Docker is good but I am still new.

I am running this command inside an Ubuntu VM (from the directory where the pcap is stored) ==>

docker run --name=NTOPNG -v ~/PCAP:/mnt/Data -p 3000:3000 --net=host -it lucaderi/ntopng-docker --community -i TriTon.pcap

I am getting this error output ==>
WA

[2019-04-05 06:29] lucaderi opened #2510 "(Almost) Useless SSL Alerts Certificate Mismatch"
![image](https://user-images.githubusercontent.com/4493366/55607516-ace8a600-577c-11e9-9216-27f6970cd1e0.png)
The above alert is almost useless as it is not clear what is the problem being reported. Please list
- requested client certificate
- offered server certificates

[2019-04-05 06:43] lucaderi opened #2511 "Invalid blacklist alerts"
![image](https://user-images.githubusercontent.com/4493366/55608279-6a27cd80-577e-11e9-8370-7a1d3b2d8683.png)
The above alert is not very helpful as
- it is not clear if the issue is related to the client or server host
- the statement "Client, server or domain is blacklisted" lacks of domain in the description of the flow and it is too vague
The alert *must* report
- what is the host that violate

[2019-04-05 09:59] simonemainardi commented on #2509
Try and specify the full path to `TriTon.pcap`, I'm assuming its located inside the container under `/mnt/Data`.

If you can't find it, enter the container with a shell, then locate the file and try to start ntopng from the shell.

See this if you need to know how to enter the container in a shell: `https://github.com/simonemainardi/ntopng-docker`

[2019-04-05 10:00] simonemainardi commented on #2482
any news?

[2019-04-05 10:39] jean-christophe-manciot commented on #2495
@lucaderi
@emanuele-f

I'm baffled: you're telling us that ntopng cannot accept e-mail address as username, unlike millions of web sites around the world?
Also, I don't know what you mean by ```Browser validators don't let you add special characters in the name, including @ and dots. How are you creating this user?```:
![Adding new ntopng user](https://user-images.githubusercontent.com/13176858/55

[2019-04-05 10:51] emanuele-f opened #2512 "Add captive portal status for blocked users"
When a user is blocked by the captive portal, nEdge does not report this status. Sometimes users cannot access internet because captive portal is blocking them and this is hard to say as such status is not reported

[2019-04-05 10:53] simonemainardi opened #2513 "Extend SSL Alerts with expired and self-signed certificates"
Add Alerts when:

- The SSL certificate is expired
- The SSL certificate is self-signed

[2019-04-05 10:56] simonemainardi opened #2514 "Dissect/Provide SSL cipher information for SSL flows"
It is requested to dissect the ssl cipher used for ssl flows and allows them to be filtered by cipher. This is really useful to detect usecure encrypted communications

[2019-04-05 11:06] simonemainardi commented on #2495
As you can see, the add user button is greyed out, you can't click on it. How did you manage to insert username@domain?

username is not an email how you are used to see when you register to a website. So adding the @ or a dot in the username is not a priority unless we see significant demand from the community.

[2019-04-05 13:42] simonemainardi commented on #2511
![image](https://user-images.githubusercontent.com/3397663/55631469-69139200-57b8-11e9-8ebf-c407696f3138.png)

Now the message explicitly tells if it's the client, the server or the category malware that generated the alert - or a combination of them.

[2019-04-05 13:42] #2511 closed, assigned to simonemainardi

[2019-04-05 15:57] emanuele-f commented on #2369
With 387543f8e9e74089ed146ce3c262260eb57a54e4 top senders and receivers are now calculated with the tskey as identifier

[2019-04-05 16:01] emanuele-f commented on #2131
Update: issue still present in the current ubuntu 16 kernel `4.15.0-47-generic`, however conntrack developers say it has been solved in the latest upstream kernel

[2019-04-05 16:23] simonemainardi commented on #2510
![image](https://user-images.githubusercontent.com/3397663/55642107-d7178380-57cf-11e9-9840-e99f7518328e.png)

[2019-04-05 16:23] #2510 closed, assigned to simonemainardi

[2019-04-05 17:18] simonemainardi commented on #2438
I have fixed it in the latest build. Now, even mono-directional single-packet flows are correctly detected (and exported) with their protocol.

Attached is the pcap to reproduce.

[one_way_tcp_small.pcap.zip](https://github.com/ntop/ntopng/files/3048961/one_way_tcp_small.pcap.zip)

![image](https://user-images.githubusercontent.com/3397663/55644896-7a1fcb80-57d7-11e9-9fc5-2a83a99db70b.png)

[code]

[2019-04-05 17:18] #2438 closed, assigned to simonemainardi

[2019-04-05 17:25] simonemainardi commented on #2477
@erg809 please open individual issues with examples and use cases so we can consider them individually. Also if you need expedited implementations contact us privately.

[2019-04-05 17:37] lucaderi opened #2515 "Implement alarm mitigation facility"
![image](https://user-images.githubusercontent.com/4493366/55645884-0e8b2d80-57da-11e9-8cf5-dabba71afef6.png)
The same ARP alert repeats over and over several times. Please avoid re-emitting the same repetitive alert such as for ARP at least for 30 sec/1min

[2019-04-07 08:39] HoseinKashefi commented on #2366
When I set max flow to 1024, ntopng doesn't show accurate traffic (Gbps or pps)
max-flow : 1048576
![image](https://user-images.githubusercontent.com/43135531/55680126-97b17a00-592a-11e9-8e91-b0371b09957b.png)
max-flow: 1024
![image](https://user-images.githubusercontent.com/43135531/55680223-017e5380-592c-11e9-88bd-b214015f68b8.png)
now I'm trying to set max-hosts to 1024 and will be  inform you

[2019-04-07 09:06] basicmonkey commented on #2482
I've done a manual clear-out of Vivaldi. Using the 'Delete Browsing Data' didn't work, but using a clean set of user data folders I manually reinstated my cookies, history, bookmarks and other settings.

Seems like a redirect got stuck in Vivaldi beyond the obvious cache data.

Many thanks,

James

[2019-04-07 09:06] #2482 closed, assigned to simonemainardi

[2019-04-08 07:55] emanuele-f commented on #2366
With these options the monitoring capabilities of your ntopng instance will be reduced as the number of flows/hosts will be capped at the specified limit and new flows/hosts will be discarded, so a reduction in traffic rate is normal

[2019-04-08 12:26] zimbawe998 opened #2519 "SNMP Device port descrption"
We think could be useful to have the port description column on SNMP device interfaces table

[2019-04-08 15:49] emanuele-f opened #2521 "Properly ip addresses in zmq_flow"
The zmq_flow contains IpAddress instances, which cannot be memcpy/memset-ed, leading to these warnings:

[code]

[2019-04-08 16:59] lucaderi opened #2522 "Shorten field Info in nIndex Query"
The Info field in nIndex can be quite long, so it is necessary to implement a shortener for avoiding long field

[2019-04-08 17:13] simonemainardi commented on #2519
duplicate of #2407

[2019-04-08 17:13] #2519 closed, assigned to nobody

[2019-04-08 23:00] plankanater commented on #2485
Would slack or any other endpoint be able to run ssh commands?

[2019-04-09 06:30] HoseinKashefi commented on #2366
Given the fact that  I cannot reduce the number of flows, and this traffic will be increased to about 60 Gbps and flows will be raised parallelly in near future, I wonder if you could apply a solution so that memory leak pales away.
P.S: Using the third option(max-host), I faced an improvement in memory usage which leads me to want to know what data or information I miss in return.

[2019-04-09 07:57] emanuele-f commented on #2485
If you need full scriptability, please consider implementing a new alert endpoint as described here https://github.com/ntop/ntopng/blob/dev/doc/README.alerts#L43 . You can then execute a shell command with `os.execute(...)`

[2019-04-09 07:59] simonemainardi commented on #2509
any news here? did you try with the suggestions?

[2019-04-09 08:06] emanuele-f commented on #2366
If possible, please post the new memory screenshots with the reduced `--max-num-hosts` option. We still need to figure out the problem before being able to provide a fix for a possible leak. The initial fix #2404 I've made for this issue addressed a problem which was only evident when the hosts reached its limit value (`--max-num-hosts`), but in this case the problem seems different.

[2019-04-09 09:19] simonemainardi commented on #2522
implemented.

long info fields are now forcefully wrapped:

![image](https://user-images.githubusercontent.com/3397663/55788734-2ce27900-5ab9-11e9-91ed-756168a9551a.png)

they are not ellipsized as, when browsing historical data, it is important to have access to the complete field and not to a truncated version

[2019-04-09 09:19] #2522 closed, assigned to nobody

[2019-04-09 09:35] simonemainardi commented on #2507
any news?

[2019-04-09 09:37] cjwbath commented on #2507
Sorry, forgot about this. I will have to recreate the databases and let it fill up again over two weeks and then I will let you know which query is holding the lock.

[2019-04-09 14:18] #2521 closed, assigned to nobody

[2019-04-09 15:20] HBadger0017 commented on #2509
I haven't had a chance to poke at it last couple of days but will let you
know.  Thanks.

-Matthew KW

On Tue, Apr 9, 2019 at 1:59 AM simonemainardi <notifications@github.com>
wrote:

[2019-04-10 05:09] tuantmb opened #2523 "ntopng v.3.9.190409 cannot login web ui"
After upgrade ntopng to v.3.9.190409, I cannot login
[code]

I tried FAQ (redis, remove json ...), all failed, please help?

[2019-04-10 06:06] HoseinKashefi commented on #2366
Compare to the past it seems about 80% memory usage improvement
 ![image](https://user-images.githubusercontent.com/43135531/55855221-279a3280-5b7c-11e9-977c-0d439fb09874.png)

[2019-04-10 07:23] emanuele-f commented on #2523
Have you tried clearing the password with `redis-cli del ntopng.user.admin.password` and cleanly restarting ntopng afterwards? Have you tried with another browser? What browser are you using?

[2019-04-10 11:53] tuantmb commented on #2523
@emanuele-f I tried clear redis, access with another browser but nothing works :(. My browsers are Firefox & Chrome (Windows) Latest version

[2019-04-10 12:54] emanuele-f commented on #2523
If you can lose your current data, then please try the following procedure:
1. Stop ntopng: `sudo systemctl stop ntopng`
2. Clean data/prefs: `sudo rm -rf /var/lib/ntopng; redis-cli flushall`
3. Restart ntopng: `sudo systemctl start ntopng`
4. Login with default creds (admin admin)

[2019-04-10 12:54] laurentduru opened #2525 "Implement Multiple Allowed Interfaces for user access"
Today it's possible to allow access to a specific interface (or networks) for an authenticated user.

I need to have the capability to select multiple interfaces for a user.
I don't want to use the view option that concatenate counters, I need per interface counters.

I already have a request to extend this to ldap and radius authentication. (#2489)

[2019-04-10 13:17] laurentduru opened #2526 "online license check fails"
Until yesterday, the online check was working well for two recent ntong instances but now it can't be validated.

If I use the --online-license-check parameters, the license failed in Entreprise time limited.
If I don't use the parameter, the license is Permanent in Pro version

[2019-04-10 13:18] cardigliano commented on #2526
@laurentduru we fixed a similar issue a couple of hours ago, could you try again please?

[2019-04-10 14:16] #1837 closed, assigned to emanuele-f

[2019-04-10 14:20] laurentduru commented on #2526
@cardigliano, in version 3.8.190408 it seems working now but not in version 3.8.190324.

[2019-04-10 14:23] dive76 opened #2527 "Traffic Dashboard not showing when using InfluxDB"
Traffic Dashboard is not showing when using InfluxDB for time series.

I have done some more steps to find the issue:

1.	Switch to RRD: In RRD all works well and traffic dashboard works
2.	Delete ntopng database in InfluxDB
3.	Switch back to InfluxDB. I get a message that the database is successfully created and I can also see this in the admin of InfluxDB: Problem dashboard does not show any tra

[2019-04-10 14:24] cardigliano commented on #2526
3.8.190324 is not handling the server response correctly, it has been fixed (as you noticed 3.8.190408 is working)

[2019-04-10 14:26] emanuele-f commented on #1837
Some notes (documentation will be written after preliminary feedback and changes).
- Editor is only enabled if the `-p option` is specified
- Categories are only enabled after restarting ntopng. This is a limitation of the current nDPI api
- This implementation maintains compatibility with `protos.txt`. Future work may follow to drop the support for protos.txt and unify the implementation with the

[2019-04-10 14:42] emanuele-f commented on #2527
The `WARNING` log date is 6 April, do you still see that warning with current version? Do you have `InfluxDB Export Failure` alerts in ntopng? If you go into the network interface charts page (https://www.ntop.org/guides/ntopng/web_gui/historical.html), can you see charts properly populated?

[2019-04-10 14:47] emanuele-f commented on #2366
Thank you for the info. We've spotted a possible issue with the DNS query field, which could be leaked. I'll update this issue after the fix, so that we can see if this is related.

[2019-04-10 14:59] laurentduru commented on #2526
resolution is confirmed after upgrade to 3.8.190408.

Many thanks

[2019-04-10 14:59] #2526 closed, assigned to nobody

[2019-04-10 15:34] lucaderi opened #2528 "Account Total Flows"
Currently only active, misbehaving and port unreachable flows are stored as metrics

<img width="1172" alt="Screenshot 2019-04-10 at 17 32 01" src="https://user-images.githubusercontent.com/4493366/55892483-ae6c0100-5bb6-11e9-923b-168fa35e4a89.png">

It is requested to modify the above graph and depict total # of flows (as delta with respect to the previous observation point) and active flows. In

[2019-04-10 16:25] #2528 closed, assigned to nobody

[2019-04-11 05:40] dive76 commented on #2527
The warning does not show anymore. Charts on network interface are showing correctly for 5m and 30m and 1h. Charts from 1 day onward do not show.

[2019-04-11 08:22] emanuele-f commented on #2527
Please note that previous data from RRD will not be migrated to InfluxDB, so it's normal that you can only see data starting from the time InfluxDB export was activated.

[2019-04-11 08:27] emanuele-f commented on #2366
@HoseinKashefi please update to the latest version of ntopng which contains a fix and see if the memory usage improves, thank you

[2019-04-11 11:50] simonemainardi commented on #2525
We cannot accomodate this request, @laurentduru.

We believe there is enough flexibility in what you can chose to be visible by any of the authorized used.

Indeed, at the finest granularity you can chose the individual networks using the 'Allowed Network' option. At a coarser granularity you have the ability to chose a whole interface to be visible for a given user.

If you are interested in this

[2019-04-11 11:50] #2525 closed, assigned to nobody

[2019-04-11 12:21] emanuele-f commented on #2489
Closing for same motivations as #2525. Please contact us if you are interested in implementing this.

[2019-04-11 12:21] #2489 closed, assigned to nobody

[2019-04-11 15:03] emanuele-f commented on #2508
Implemented in 14a9d83a30ad0195a1e7fb1b937fccce0d7bce2a and in fa4330bbfde5ea6620703cabc795a4b5dfc14a00

[2019-04-11 15:03] #2508 closed, assigned to lucaderi, emanuele-f

[2019-04-11 15:06] emanuele-f commented on #2369
After further testing, we need to document this and then the issue could be closed

[2019-04-12 03:41] jiangdu8888 opened #2529 "how can I set the sub-protocol ?and which files I should change or increase"
for example i want to set  CSDN.net  in SSL   for a sub-protocol , what should i do...

thank you very much fow answering my question

[2019-04-12 04:01] dive76 commented on #2527
I have now waited for more than 24 hours. Result is still the same. Traffic Dashboard and Interface no data.
![2019-04-12](https://user-images.githubusercontent.com/41624349/56011550-b5ac1f80-5d1a-11e9-997d-dcf0eeb71a01.png)

[2019-04-12 07:52] emanuele-f commented on #2529
The typical way to do this is ntopng is to create a file in the following format https://github.com/caesar0301/pcapdpi/blob/master/protos.txt and use the `-p file_path` of ntopng to load it. In the latest ntopng dev version, we've just implemented an editor of the protocols file, which can be accessed via the following menu entry:
![2019-04-12_09-50](https://user-images.githubusercontent.com/54880

[2019-04-12 11:43] jiangdu8888 commented on #2529
@emanuele-f  Just   emmmmm     host:"csnd.net"@CSND                ?
                                                        or  "  some thing like? "?

Then  should i write it in ndpi_protocal_ids.h?

[2019-04-12 12:47] emanuele-f commented on #2529
Yes, that rule is correct, you can also specify new protocol names. No need to edit ndpi, just use `-p protos.txt` with ntopng

[2019-04-13 11:33] jiangdu8888 commented on #2529
@emanuele-f  i appreciate that your help us ! then I have the last question, if i want to change or set  new categories  what should i do

[2019-04-14 10:32] emanuele-f commented on #2529
Categories can only be edited from the ntopng gui. You can modify the categories from the "Applications and Categories". There are 5 custom categories which are empty by default and you can use as you wish, please check out https://www.ntop.org/guides/ntopng/web_gui/categories.html#custom-category-hosts for more info.

[2019-04-15 00:59] pchenry opened #2530 "Segfault after upgrading ...."
Apr 15 00:53:15 netflow kernel: [ 6154.036036] ntopng[3424]: segfault at 7f87c8e58438 ip 00007f87c8e58438 sp 00007f87837fb588 error 15 in libstdc++.so.6.0.25[7f87c8e56000+a000]

root@netflow:/var/log# ntopng -V
v.3.9.190414	[Enterprise/Professional build]
GIT rev:	dev:e04c956116279d7f2bfc860e8e477f611b296d6f:20190414
Pro rev:	r2310
Built on:	Ubuntu 18.04.2 LTS

Platform:	x86_64
Edition:	Enterprise

[2019-04-15 05:01] HoseinKashefi commented on #2366
emanuele,
Thank you, after update memory usage is improved
![image](https://user-images.githubusercontent.com/43135531/56107896-08c1e480-5f5e-11e9-88e5-757a3f334ddf.png)
but I guess there is an issue here,
I was comparing the charts and found out  about 30% decline on traffic chart that you can see the picture
![image](https://user-images.githubusercontent.com/43135531/56107825-af59b580-5f5d-11e9-

[2019-04-15 07:50] emanuele-f commented on #2530
Please update to the today version of ntopng, as this may be already fixed in e04c956116279d7f2bfc860e8e477f611b296d6f. If not, please check out https://github.com/ntop/ntopng/blob/dev/doc/README.crash for instructions on how to get a stack trace

[2019-04-15 07:55] emanuele-f commented on #2366
Maybe the `--max-num-flows` and `--max-num-hosts` are too low now and are limiting the traffic? Please check out the footer badges and the active hosts/flows charts

[2019-04-15 08:34] HoseinKashefi commented on #2366
I configured exactly the same as past and they are not reached to the maximum.

[2019-04-15 08:50] emanuele-f commented on #2366
I see, this is actually strange, if you have gather other information on this we will look at that. Please close this issue if the memory problem has been addressed for you.

[2019-04-15 09:10] HoseinKashefi commented on #2366
For Sure.

[2019-04-15 09:10] #2366 closed, assigned to cardigliano

[2019-04-15 13:21] emanuele-f commented on #2527
Can you post the full log of ntopng since startup? Can you also follow the instructions for https://github.com/ntop/ntopng/blob/dev/doc/README.beta_features#L19 ? A new dropdown will appear in that page where you can select "day" "hour" or "raw". Please check out if selecting "raw" actually shows the points

[2019-04-15 13:22] emanuele-f commented on #2523
@tuantmb any news?

[2019-04-15 13:23] emanuele-f commented on #2507
Ok, please let us know

[2019-04-15 13:39] dive76 commented on #2527
![image](https://user-images.githubusercontent.com/41624349/56137062-99340f80-5fc6-11e9-855d-3beff950c7a0.png)

Enabled the feature and raw shows the data points.

Where can I find the full log file?

[2019-04-15 13:43] emanuele-f commented on #2527
So this is a continuous queries problem. Do you run ntopng continuosly or stop it every day? You can get the log via the command `sudo journalctl -u ntopng` then scroll to the bottom of the log until last startup time

[2019-04-15 13:48] dive76 commented on #2527
I run it continuously but update regularly:

Apr 15 21:33:41 gateway systemd[1]: Started ntopng high-speed web-based traffic monitoring and analysis tool.
Apr 15 21:33:41 gateway ntopng[29542]: 15/Apr/2019 21:33:41 [Ntop.cpp:1969] Setting local networks to 192.168.0.0/24
Apr 15 21:33:41 gateway ntopng[29542]: 15/Apr/2019 21:33:41 [Redis.cpp:152] Successfully connected to redis 127.0.0.1:6379@0
Apr

[2019-04-15 14:15] HoseinKashefi opened #2532 "[ntopng] doesn't show traffic correctly"
After some updates to resolve issue #2366 , traffic graph shows about 30% less than actual traffic.
traffic =~ 9.6 Gbps
ntopng-chart =~ 7 Gbps
here 12 Days comparison:
![image](https://user-images.githubusercontent.com/43135531/56139002-3d10c180-5fad-11e9-8afd-0ccfd539e898.png)
![image](https://user-images.githubusercontent.com/43135531/56139038-531e8200-5fad-11e9-8d3a-0d1c091f2a8d.png)

cento --v

[2019-04-15 14:33] emanuele-f commented on #2527
Can you inspect the output of `sudo journalctl -u influxdb | grep continuous_querier_execute | less` on the InfluxDB server to see if there are any reported errors?

[2019-04-15 16:23] pchenry commented on #2530
Still happening with latest version .....     ONLY with traffic
disaggregation turned on .... this was with Ingress Interface selected ....
if I stop nprobe or set to NONE it doesnt crash.

*Apr 15 16:14:31 netflow kernel: [  428.183111] show_signal_msg: 6
callbacks suppressed*

*Apr 15 16:14:31 netflow kernel: [  428.183115] ntopng[11081]: segfault at
7f7a43b42438 ip 00007f7a43b42438 sp 00007f79f

[2019-04-15 16:24] emanuele-f commented on #2530
Please use the link above to get a stack trace

[2019-04-15 16:26] pchenry commented on #2530
Didnt get a link

*Daniel Henry*
*CEO*
*Omega Networks*
*http://omegaconnect.us <http://omegaconnect.us>*

On Mon, Apr 15, 2019 at 11:25 AM Emanuele Faranda <notifications@github.com>
wrote:

[2019-04-15 16:31] lucaderi opened #2533 "Remove UThash leftover and replace it with C++ equivalents"
ddressTree.h:30:  UT_hash_handle hh; /* makes this structure hashable */
FrequentNumericItems.h:31:  UT_hash_handle hh;         /* makes this structure hashable */
FrequentStringItems.h:31:  UT_hash_handle hh;         /* makes this structure hashable */
FrequentTrafficItems.h:42:  UT_hash_handle hh;         /* makes this structure hashable */
ICMPstats.h:32:  UT_hash_handle hh; /* makes this struc

[2019-04-16 04:09] dive76 commented on #2527
Found no errors:

Apr 16 12:00:00 gateway influxd[1582]: ts=2019-04-16T04:00:00.486984Z lvl=info msg="Finished continuous query" log_id=0EYACNP0000 service=continuous_querier trace_id=0Eq4fNuW000 op_name=continuous_querier_execute name=host:1d_delta_traffic_volume__1h db_instance=ntopng written=0 start=2019-04-16T02:00:00.000000Z end=2019-04-16T04:00:00.000000Z duration=0ms
Apr 16 12:00:00 gateway

[2019-04-16 08:01] emanuele-f commented on #2527
If you filter by `iface:traffic__1h` (which is the timeseries of the empty chart) do you see errors? `sudo journalctl -u influxdb | grep continuous_querier_execute | grep iface:traffic__1h | less`

[2019-04-16 08:28] dive76 commented on #2527
No errors:

log_id=0EYACNP0000 service=continuous_querier trace_id=0EpoVl5l000 op_name=continuous_querier_execute name=iface:traffic__1h db_instance=ntopng start=2019-04-15T21:00:00.000000Z end=2019-04-15T23:00:00.000000Z
Apr 16 08:00:01 gateway influxd[1582]: ts=2019-04-16T00:00:01.336264Z lvl=info msg="Executing continuous query" log_id=0EYACNP0000 service=continuous_querier trace_id=0EprwXE0000

[2019-04-16 09:02] simonemainardi opened #2534 "[Custom Applications] Addition of Duplicate Applications"
ntopng allows the addition of existing nDPI builtin applications:

![image](https://user-images.githubusercontent.com/3397663/56196400-097a7980-6037-11e9-9427-c428672de499.png)

![image](https://user-images.githubusercontent.com/3397663/56196411-1008f100-6037-11e9-9472-a27384c2ac7c.png)

[2019-04-16 09:05] simonemainardi opened #2535 "[Custom Applications] Missing Applications from the List and from the Search"
Added duplicate application is missing from the list of applications and cannot be searched

![image](https://user-images.githubusercontent.com/3397663/56196544-51010580-6037-11e9-9bd9-c1ea5ab06441.png)

Even though that application has been written to the custom protocols file

[code]

[2019-04-16 09:09] simonemainardi commented on #2535
also non-duplicated applications are missing from the list and from the search

![image](https://user-images.githubusercontent.com/3397663/56196856-f4521a80-6037-11e9-8272-8cfb2b658bca.png)

![image](https://user-images.githubusercontent.com/3397663/56196873-fddb8280-6037-11e9-8eda-c611675ff0eb.png)

![image](https://user-images.githubusercontent.com/3397663/56196880-03d16380-6038-11e9-894a-98cc4c

[2019-04-16 09:10] simonemainardi commented on #2535
non-duplicate applications only appear after a restart of ntopng

![image](https://user-images.githubusercontent.com/3397663/56197010-39764c80-6038-11e9-87f4-806cd8c550bb.png)

duplicate applications never show up

[2019-04-16 09:13] simonemainardi opened #2536 "[Custom Applications] Wrong Counter"
Unspecified category says 3 applications but the list only show 2 applications

![image](https://user-images.githubusercontent.com/3397663/56197177-8f4af480-6038-11e9-947d-7af095d540d7.png)

probably due to #2534

[2019-04-16 09:28] simonemainardi opened #2537 "[Custom Applications] Broken Historical Charts"
Added a custom application

![image](https://user-images.githubusercontent.com/3397663/56197745-beae3100-6039-11e9-858d-6d04df8fed19.png)

which generates traffic

![image](https://user-images.githubusercontent.com/3397663/56197771-cc63b680-6039-11e9-9e80-2903f4ab1dcc.png)

Application is listed among the top applications and in the dropdown:

![image](https://user-images.githubusercontent.com/339

[2019-04-16 09:30] simonemainardi commented on #2537
I can reach the timeseries MAINA if I click at the bottom table listing the top applications

![image](https://user-images.githubusercontent.com/3397663/56198306-f669a880-603a-11e9-93b3-f9f411eaaf77.png)

[2019-04-16 09:51] simonemainardi opened #2538 "Broken Category Search"
Searching a category

![image](https://user-images.githubusercontent.com/3397663/56199787-de475880-603d-11e9-8f87-27baf93d5af2.png)

Redirects to the Applications tab with an application selected

![image](https://user-images.githubusercontent.com/3397663/56199825-ed2e0b00-603d-11e9-845c-e2d091f3edb4.png)

[2019-04-16 09:54] simonemainardi opened #2539 "See all the applications belonging to a certain category"
Add an hyperlink to every number 'Num Applications' in

![image](https://user-images.githubusercontent.com/3397663/56199987-3c743b80-603e-11e9-8705-8d2f1cc44acc.png)

clicking onto that number should bring the user to tab 'Applications' With the corresponding category already selected from the dropdown.

![image](https://user-images.githubusercontent.com/3397663/56200059-59a90a00-603e-11e9-9a87-e6

[2019-04-16 10:04] simonemainardi commented on #2532
You could be dropping some flows from cento to ntopng.

There are too many hosts in the system (see the hello badge at the bottom of the page). That could be detrimental from the performances. Increase the maximum number of hosts and flows (-X and -x) and make sure they are much larger than the actual values of flows and hosts.

Then please check again.

[2019-04-16 12:10] HoseinKashefi commented on #2532
I configured ntopng two times more than actual flows/hosts,but unfortunately it shows even less than before.
![image](https://user-images.githubusercontent.com/43135531/56208420-57f33c80-6066-11e9-88d7-ae52148ecc6d.png)

[2019-04-16 14:05] lucaderi commented on #2381
Other examples of issues

16/Apr/2019 00:42:14 [LocalHost.cpp:150] WARNING: JSON Parse error [unexpected character] key: ntopng.serialized_hosts.ifid_1__fe80::59f7:6de1:a8ea:260@0: { "flows.as_client": 15, "flows.as_server": 0, "anomalous_flows.as_client": 0, "anomalous_flows.as_server": 0, "unreachable_flows.as_client": 0, "unreachable_flows.as_server": 0, "host_unreachable_flows.as_client": 0, "

[2019-04-16 14:32] #2538 closed, assigned to emanuele-f

[2019-04-16 14:38] emanuele-f commented on #2527
Please execute the following command in the influxdb server:
[code]
and post the output. Change the "ntopng" database according to your configuration

[2019-04-16 14:57] #2537 closed, assigned to emanuele-f

[2019-04-16 14:59] dive76 commented on #2527
It did only get the following (no extra output):

lars@gateway:~$ influx -database ntopng -execute "select bytes from \"1h\".\"iface:traffic\" ORDER BY time desc limit 10"
lars@gateway:~$

ntopng is the correct database

[2019-04-16 15:18] #2536 closed, assigned to emanuele-f

[2019-04-16 15:33] #2534 closed, assigned to emanuele-f

[2019-04-16 15:33] emanuele-f commented on #2535
Duplicate applications are now blocked as a fix of #2534 so this can be closed

[2019-04-16 15:33] #2535 closed, assigned to nobody

[2019-04-16 15:34] emanuele-f commented on #2530
Maybe from email your cannot read it, here is the link again: https://github.com/ntop/ntopng/blob/dev/doc/README.crash

[2019-04-16 15:35] #2529 closed, assigned to nobody

[2019-04-16 16:16] emanuele-f commented on #2527
Which influxdb version are you using?
Please also post the output of:
[code]
Can you see any other chart with "1h" resolution selected from the dropdown on the right?

[2019-04-16 16:20] emanuele-f commented on #2539
I would rather add the link in the category column, what do you think?

[2019-04-16 16:27] emanuele-f commented on #2532
Is the problem only related to the historical chart or to the realtime charts too? If you zoom to a 1 hour period both in the past (when the traffic was correct) and now (with wrong traffic), can you still see the issue?

[2019-04-16 17:54] dive76 commented on #2527
influxdb version is 1.6.1

lars@gateway:~$ influx -database ntopng -execute "show continuous queries" | grep "iface:traffic__1h"
iface:traffic__1h                 CREATE CONTINUOUS QUERY "iface:traffic__1h" ON ntopng RESAMPLE FOR 2h BEGIN SELECT (sum(bytes) / 3600) AS bytes INTO ntopng."1h"."iface:traffic" FROM (SELECT non_negative_difference(bytes) AS bytes FROM ntopng.autogen."iface:traffic") GR

[2019-04-17 04:10] HoseinKashefi commented on #2532
yes I've checked it in many ways.flows and pps in realtime are reduced too.

[2019-04-17 07:46] emanuele-f opened #2541 "nIndex crashes with SIGILL"
Backtrace:

[code]

Probably related to `-march=native` flag in one of the dependant libraries

[2019-04-17 09:21] simonemainardi commented on #2539
if one wants to find the 'applications' of a certain category, it's a bit more intuitive if he/she finds the link under the column 'applications'

[2019-04-17 12:30] emanuele-f commented on #2527
Can you upgrade InfluxDB to the latest version (1.7.6) from https://portal.influxdata.com/downloads ?

[2019-04-17 12:49] dive76 commented on #2527
Have updated to 1.7.6 Now all works again!

[2019-04-17 13:35] emanuele-f commented on #2527
Great. I don't know if you run into a bugged version or not, but reading again the docs at https://docs.influxdata.com/influxdb/v1.7/query_language/data_exploration/#from-clause I have made a change to also specify the database in the fully qualified name in order to comply with the specs for the fully qualified name ebc5251a7ff2eab298fe0aa91c2ec2496d25e6d8.

[2019-04-17 13:35] #2527 closed, assigned to emanuele-f

[2019-04-17 13:42] simonemainardi commented on #2541
Issue is fixed. It was due to `libroarinbg.a` built with `-march=native`.

[2019-04-17 13:42] #2541 closed, assigned to nobody

[2019-04-17 13:57] #2539 closed, assigned to nobody

[2019-04-17 13:58] simonemainardi commented on #2467
Implemented. With the current "Count" added it is now also possibly to quantify the number of exports that have been failed, along with their begin/end time.

[2019-04-17 13:58] #2467 closed, assigned to nobody

[2019-04-18 08:16] emanuele-f commented on #2369
Documented in 0f2f6a7f0113dc21f7756a9bfba5683ba9eddcc1

[2019-04-18 08:16] #2369 closed, assigned to simonemainardi, emanuele-f

[2019-04-18 09:06] emanuele-f commented on #2532
We are implementing zmq drop stats to see if this is a problem with zmq

@simonemainardi please update this issue when done

[2019-04-18 09:08] emanuele-f commented on #2530
Please check out the new version and in case post here a stack trace

[2019-04-18 09:09] emanuele-f commented on #2523
Closing for inactivity, please reopen if necessary

[2019-04-18 09:09] #2523 closed, assigned to nobody

[2019-04-18 10:49] simonemainardi commented on #2532
@HoseinKashefi please hold on 1 hour, we are re-generating the builds.

Then, update both cento and ntopng and look at the following under the if_stats page:

![image](https://user-images.githubusercontent.com/3397663/56355165-ec2fe180-61d5-11e9-99a8-a23de1c94838.png)

Please, report if that counter stays at zero or not.

Thank you

[2019-04-18 12:13] cjwbath commented on #2507
Just happened again (disk full) and the result of SHOW FULL PROCESSLIST is as follows:

*************************** 1. row ***************************
      Id: 15
    User: ntopng
    Host: localhost
      db: ntopng
 Command: Query
    Time: 159929
   State: update
    Info: INSERT INTO `flowsv4` (VLAN_ID,L7_PROTO,IP_SRC_ADDR,L4_SRC_PORT,IP_DST_ADDR,L4_DST_PORT,PROTOCOL,IN_BYTES,OUT_BYTES,PACKET

[2019-04-18 13:17] HoseinKashefi commented on #2532
As You can see we have Message Drops and it's grown fast(about 60Kps)

![image](https://user-images.githubusercontent.com/43135531/56363614-e6e88c00-6201-11e9-95d7-0bfa3170db50.png)

here pf_ring stats :

[root@localhost ~]# cat /proc/net/pf_ring/stats/* | grep 'Throughput\|Packets\|Dropped'
Throughput:  1'437'241 pps      10.00 Gbps
Packets:     505973803
Dropped:     252989

[2019-04-18 13:24] simonemainardi commented on #2349
add alert on changes between full/half duplex

[2019-04-18 13:44] HoseinKashefi commented on #2532
30 minutes comparison after change
![image](https://user-images.githubusercontent.com/43135531/56365331-d4705180-6205-11e9-947c-741843a02f3d.png)

[2019-04-18 13:48] simonemainardi opened #2542 "Ability to specify which SNMP walks to perform"
Currently, it is only possible to enable/disable SNMP polling at the level of device. It would be desirable to have toggles to specify which walks should be performed, that is, counters, interfaces, interfaces status and so on

[2019-04-18 13:52] simonemainardi commented on #2532
can you post a screenshot also of the timeseries

![image](https://user-images.githubusercontent.com/3397663/56365707-cd3f4880-61f1-11e9-85f2-2cbcaf01fdf6.png)

from 2019-04-03 to now?

[2019-04-18 13:57] HoseinKashefi commented on #2532
Please find here
![image](https://user-images.githubusercontent.com/43135531/56366128-9e33d180-6207-11e9-8a68-4858cd3b11bb.png)

[2019-04-18 13:58] simonemainardi commented on #2460
Implemented. Both application and network latencies are now added to the default @NTOPNG@ template

[2019-04-18 13:58] #2460 closed, assigned to nobody

[2019-04-18 14:03] simonemainardi commented on #2377
implemented. A Flow status overview is now available:

![image](https://user-images.githubusercontent.com/3397663/56366441-70dd2880-61f3-11e9-81c9-b65e46174b3e.png)

[2019-04-18 14:03] #2377 closed, assigned to lucaderi

[2019-04-18 14:05] simonemainardi commented on #2507
ok, please do that and let us know what happens if you lower to 5 days. It seems that new inserts get stuck as the disk is full and, consequently, also the delete blocks waiting for the insert to complete.

[2019-04-18 14:05] simonemainardi commented on #2509
Please, re-open with the requested information when ready. Thank you.

[2019-04-18 14:05] #2509 closed, assigned to nobody

[2019-04-18 14:08] simonemainardi commented on #2373
Implemented. Now alerts are shown grouped with a count of events on a per-device-per-port basis so that is is possible to retrieve the interfaces and devices that are generating most errors

![image](https://user-images.githubusercontent.com/3397663/56366781-2e681b80-61f4-11e9-9814-602f1600259f.png)

[2019-04-18 14:08] #2373 closed, assigned to nobody

[2019-04-18 14:10] simonemainardi commented on #2294
this will be handled as part of #2497

[2019-04-18 14:10] #2294 closed, assigned to simonemainardi

[2019-04-18 14:12] simonemainardi commented on #2240
Implemented by @FrancescoStaccini with https://github.com/ntop/ntopng/pull/2540 and related PRs

[2019-04-18 14:12] #2240 closed, assigned to nobody

[2019-04-18 14:13] simonemainardi commented on #2223
Also when its status change from Full to Half duplex or viceversa

[2019-04-18 14:18] simonemainardi commented on #2188
This is implemented. We now show the policies applied to any flow in the corresponding details page so one knows exactly if  and why a certain flow has been blocked. Policies are shown both for the client and for the server.

![image](https://user-images.githubusercontent.com/3397663/56367437-8a7f6f80-61f5-11e9-8082-8a35c47fe263.png)

[2019-04-18 14:18] #2188 closed, assigned to nobody

[2019-04-19 07:44] simonemainardi commented on #2532
I've been able to reproduce in my lab. Issue is due to the extra fields that have been added to the cento exported template between v1.6 and 1.7:

[code]

I'm continuing the investigation and will let you know.

[2019-04-19 09:46] simonemainardi commented on #2407
Aliases walked and added. A new build will be available in one hour.

![image](https://user-images.githubusercontent.com/3397663/56418336-ebab4f80-6296-11e9-99ab-4c3bd0fdd9f2.png)

![image](https://user-images.githubusercontent.com/3397663/56418119-4d1eee80-6296-11e9-8808-05f52371d34c.png)

![image](https://user-images.githubusercontent.com/3397663/56418322-e0f0ba80-6296-11e9-8a0d-a31bf0b451a8.png

[2019-04-19 09:46] #2407 closed, assigned to nobody

[2019-04-19 10:43] #2486 closed, assigned to emanuele-f

[2019-04-19 14:15] simonemainardi commented on #2515
Implemented both for flow and past alerts using counters

![image](https://user-images.githubusercontent.com/3397663/56428064-5d4ac400-62be-11e9-871f-6ea5b3514702.png)

![image](https://user-images.githubusercontent.com/3397663/56428077-663b9580-62be-11e9-9164-c4001b210700.png)

[2019-04-19 14:15] #2515 closed, assigned to simonemainardi

[2019-04-19 15:31] emanuele-f commented on #2504
Unicast hosts in ntopng can only receive unicast traffic (but potentially generate multicast/broadcast traffic), whereas multicast/broadcast addresses can only receive non-unicast traffic, so what kind of division should we perform on the received traffic that cannot be already deduced from the host IP type?

[2019-04-19 15:37] emanuele-f commented on #2412
Implemented

[2019-04-19 15:37] #2412 closed, assigned to nobody

[2019-04-19 16:11] #2501 closed, assigned to emanuele-f

[2019-04-19 17:00] simonemainardi commented on #2532
ok, I've found out that the issue was due to a mix of the additional fields added in the latest 1.7 along with the compression which was slowing significantly the send process.

I've found that the compression of ZMQ is highly detrimental for the performances - i.e., we lose 2/3 of the flows.

So in the latest cento dev I've implemented a new option `--zmq-disable-compression`. Please, try to run

[2019-04-20 01:45] pchenry commented on #2530
Not fixed .... Ill get a stack trace ASAP
*Daniel Henry*
*CEO*
*Omega Networks*
*http://omegaconnect.us <http://omegaconnect.us>*

On Mon, Apr 15, 2019 at 2:50 AM Emanuele Faranda <notifications@github.com>
wrote:

[2019-04-20 06:12] HoseinKashefi commented on #2532
After update and disabling compression, unfortunately it's reduced by about 25% as you can see.
![image](https://user-images.githubusercontent.com/43135531/56453530-ea425b80-6358-11e9-82a1-ae75dbbc86bd.png)

[2019-04-20 10:28] jean-christophe-manciot opened #2543 "Recent pkg-config modified path in ndpi seems to prevent ntopng from building"
Debian buster
gcc/g++ 8.3.0-6
pkg-config 0.29
ndpi ```8a09ca2``` (1.8-1077-g8a09ca2)
ntopng dad7057 (3.0-3347-gdad70572)

Following recent "Fixed pkgconfig path (installing libndpi.pc in the default location)" ndpi commit, and building ntopng with:
[code]
leads to:
[code]
Although ndpi_main.h is present:
[code]
**No such issue when building previous ntopng commits**, including 5a89e6f1 with ndpi `

[2019-04-20 11:14] jean-christophe-manciot commented on #2543
A workaround is to add ```export CPATH=/usr/include/ndpi``` before the build process.

[2019-04-20 13:31] simonemainardi commented on #2532
Please confirm you are experiencing this while using the new option to
disable compression

On Sat, 20 Apr 2019 at 08:12, Hosein Kashefi <notifications@github.com>
wrote:

--
Sent from my iPad. Sorry for typos.

[2019-04-20 13:42] HoseinKashefi commented on #2532
yes I do.
-i=zc:ens1f0
-g=0,1,2,3
-G=4,5,10,11
-D=2
--zmq-disable-compression

[2019-04-20 13:43] HoseinKashefi commented on #2532
here the difference:
![image](https://user-images.githubusercontent.com/43135531/56458124-f1d52500-6397-11e9-9f4f-b500dfd71ed9.png)

[2019-04-21 18:52] aaronjwood opened #2544 "L4 protocol pie chart shows wrong percentages"
![Capture](https://user-images.githubusercontent.com/446283/56474230-c13ecb00-642b-11e9-83a3-797036b1074c.PNG)

You can see that my UDP traffic surpasses my TCP traffic for this host in the table. The chart above doesn't seem to show the data correctly.

[2019-04-22 13:21] iluffk opened #2545 "lua "Other" parameter error: Validation error"
Interfaces > historical > Minute Interface Top Talkers Others
click and:

Script "/usr/share/ntopng/scripts/lua/host_details.lua" returned an error:

/usr/share/ntopng/scripts/lua/modules/http_lint.lua:1471: [LINT] _GET["host"] = "Other" parameter error: Validation error

ntopng Community Edition v.3.8.190419
4.15.0-47-generic #50-Ubuntu SMP Wed Mar 13 10:44:52 UTC 2019 x86_64 x86_64 x86_64 GNU/Li

[2019-04-23 08:23] emanuele-f commented on #2545
What do  you click in order to trigger the error? "Other" is not clickable in my case:

![2019-04-23_10-21](https://user-images.githubusercontent.com/5488003/56565940-05071100-65a1-11e9-839f-ef0985e9ea8b.png)

[2019-04-23 08:31] cardigliano commented on #2543
Hi @jean-christophe-manciot
the ndpi commit waas required to fix "pkg-config --libs libndpi" which was not working as the libndpi.pc file wasn't in any of the locations pkg-config uses to look for the *.pc files (it was located in the /usr/local/libdata/pkgconfig).
I am not sure why you are using PKG_CONFIG_PATH=/usr/lib/pkgconfig/libndpi.pc, however I realised that the ndpi include path in ntopng

[2019-04-23 08:39] emanuele-f commented on #2544
This is now fixed in de0e24c9f1aa6a6b677477de4f0c78652e3999aa . Thank you for reporting.

[2019-04-23 08:39] #2544 closed, assigned to emanuele-f

[2019-04-23 08:43] iluffk commented on #2545
![1111111](https://user-images.githubusercontent.com/49871626/56567164-fb8ba200-65bc-11e9-8084-91b8de936ddc.png)

[2019-04-23 09:37] #2545 closed, assigned to emanuele-f

[2019-04-23 09:37] emanuele-f commented on #2545
Thank you for reporting.

[2019-04-23 10:15] iluffk commented on #2545
Thanks

[2019-04-26 02:13] pchenry commented on #2530
*root@netflow:/etc/ntopng# gdb --args ntopng /etc/ntopng/ntopng.conf*

*GNU gdb (Ubuntu 8.1-0ubuntu3) 8.1.0.20180409-git*

*Copyright (C) 2018 Free Software Foundation, Inc.*

*License GPLv3+: GNU GPL version 3 or later
<http://gnu.org/licenses/gpl.html <http://gnu.org/licenses/gpl.html>>*

*This is free software: you are free to change and redistribute it.*

*There is NO WARRANTY, to the extent p

[2019-04-26 07:47] emanuele-f commented on #2530
What is the "Disaggregation Criterion" you have set in the "Network Interfaces" preferences in ntopng?

[2019-04-26 12:57] tonyfitchburg opened #2546 "General Configuration questions"
Currently, we are running a small test on a VM collecting netflow from one router.
Q. If we want to mirror traffic to the system, would we most likely setup Nprobe on its own server (with the appropriate network interfaces)?
Q.  If we are sending netflow from several routers and mirrored traffic and the same flow is received more than once, does Ntop 'de-dupe' the duplicate flows?
Q.  We have abou

[2019-04-26 14:34] emanuele-f commented on #2546
Please check out https://www.ntop.org/nprobe/network-monitoring-101-a-beginners-guide-to-understanding-ntop-tools . If you use a mirror port than you don't need nprobe. nprobe can run in the same ntopng host.

You can separate the traffic in virtual interfaces by using the netflow exporter IP as discriminant, please check out https://www.ntop.org/guides/ntopng/advanced_features/dynamic_interfaces_

[2019-04-26 14:39] emanuele-f commented on #2543
Any update on this?

[2019-04-26 16:37] #2530 closed, assigned to nobody

[2019-04-26 16:38] simonemainardi commented on #2530
I've pushed a fix for this. New builds are being generated. Please, hold on an our and re-try. Thank you.

[2019-04-30 13:22] #2546 closed, assigned to nobody

[2019-04-30 13:24] emanuele-f commented on #2507
@cjwbath any update?

[2019-04-30 14:52] cjwbath commented on #2507
Yes, that's all it was, sorry for wasting your time.

[2019-04-30 14:52] #2507 closed, assigned to nobody

[2019-04-30 18:41] tonyfitchburg opened #2547 "We are having a problem using or configuring nindex"
We want to collect months of flows.  We attempted to enable nindex.  We have added the following lines to our ntopng.conf file: (and restarted)

--dump-flows=nindex

We are getting a 'flow database dump' tab under preferences.  We also see flows under 'top protocols', 'time series', 'interfaces'.  But when we click on any of the options, such as 'top clients', it returns 'no results found'.  We ar

[2019-05-02 07:55] emanuele-f commented on #2547
What is the output of `ntopng --version`?

[2019-05-02 08:05] emanuele-f opened #2548 "Data delete feature is partial"
After the changes made in #2369, it's necessary to check and possibly adapt the data delete feature to properly handle all the serialization configurations (including local broadcast domain).

[2019-05-02 09:17] simonemainardi opened #2549 "[nEdge] Not Idling inactive hosts"
In an environment with IP-MAC associations constantly changing due to DHCP reassignments of IP addresses, it seems that either inactive hosts are not purged or their last seen is not updated.

See this host for example which has a 22-hours ago last seen:

![image](https://user-images.githubusercontent.com/3397663/57066123-a726a780-6ccb-11e9-8c93-19a50dd1ac86.png)

If we look at its flows, it seems

[2019-05-02 09:17] simonemainardi opened #2550 "Flow status missing for long lived flows"
![image](https://user-images.githubusercontent.com/3397663/57066214-e6ed8f00-6ccb-11e9-8b29-207268bd84e6.png)

[2019-05-02 13:54] tonyfitchburg commented on #2547
ntopng --version
v.3.8.190412    [Enterprise/Professional build]
GIT rev:        3.8-stable:facd207308ed862ad114a8d6ddfef7425d62b030:20190412
Pro rev:        r2177
Built on:
System Id:      68BBF5F5.....
Platform:       x86_64
Edition:        Enterprise
License Type:   Permanent
Maintenance:    Until Sun Apr 12 09:16:15 2020 [346 days left]
License:        FyUh1Awn1zxLfVTJAod2xByY5KeZqSKWyj3c5ZOIv

[2019-05-02 13:57] emanuele-f commented on #2547
Please upgrade to the nightly version of ntopng from http://packages.ntop.org as it contains many improvements on nindex over the stable version. Please also flush the existing ntopng data `sudo rm -rf /var/lib/ntopng` while the ntopng service is stopped (with `sudo systemctl stop ntopng`)

[2019-05-02 14:59] jean-christophe-manciot opened #2551 "Flows and statistics are limited to localhost to admin user when mysql is used with a non-root user"
@simonemainardi
Ubuntu disco 19.04
ndpi: 2.9.0-1518-361ab03
ntopng: 3.9.190502 - Community Edition
mysql-server-5.7 5.7.26-0ubuntu0.19.04.1

mysql is running with defaults:
[code]

ntopng is running as a service:
[code]
A non-root ```ntopng@localhost``` user has been created for ntopng with all privileges over ntopng db:
[code]
ntopng is configured to use that non-root user in /etc/ntopng/ntopng.c

[2019-05-02 15:47] emanuele-f commented on #2551
The mysql integration only affects the historical flows, whereas the views above are related to realtime flows. Have you selected the correct interface from the Interfaces dropdown? Can you post the full options?

[2019-05-03 11:11] jean-christophe-manciot commented on #2551
My bad: ```lo``` interface is selected by default when mysql is used which is a little odd; I don't think this is the case with mysql is not used.

[2019-05-03 11:11] #2551 closed, assigned to nobody

[2019-05-03 18:43] NotAWizz opened #2552 "Fritzdump.sh I see traffic, but no hosts or flows"
Hi Guys
I discovered the existence of NTOPNG today, and I am elated it also runs on MacOS.
The reason for installing it is to troubleshoot bandwidth issues that seem to exist between my Fritzbox and my cablemodem.

I am running the 3.8.190225 community edition on
x86_64-apple-darwin18.2.0 [x86_64][MacOSX 10.14.3] - 64 bit
03/May/2019 19:57:31 [Ntop.cpp:403] Welcome to ntopng x86_64 v.3.8.190225 -

[2019-05-03 19:48] NotAWizz commented on #2552
I think I'm onto something.
It would appear that when I trace on the Fritzbox's routed interface the result is Raw Files.
I fired off a trace using the Fritz's web interface and dragged that to my mac. Then I opened it in wireshark and noticed it did not display Ethernet frames. Wireshark was able to extract IP frames so at first I didn't notice. But when I tried to merge a pcap file taken from my

[2019-05-03 20:25] draeath opened #2553 "init.d/ntopng doesn't wait long enough before giving up"
On our system, ntopng takes more than 5 seconds to start up and create it's PID file. This causes the init script to report and error, despite ntopng actually starting up and functioning.

This is caused by `for i in {1..5}` in the init script:
https://github.com/ntop/ntopng/blob/7aaf7cf/packages/etc/init.d/ntopng#L170

This should be raised to a more sane maximum timeout, for example `for i in {1

[2019-05-04 09:22] emanuele-f commented on #2552
If you can produce a pcap file, you can then use it with both Wireshark and ntopng (-i file.pcap). If with this method ntopng still has the weird behaviour you can send us the pcap file to reproduce and fix the problem

[2019-05-04 11:02] NotAWizz commented on #2552
@jpluimers has posted a delineation table on GitHub that I am going to use in the fritzdump.sh script. You can find it here: https://github.com/jpluimers/fritzcap/blob/master/fritzcap-interfaces-table.md.

Since my Fritz is connected to the modem via LAN-1 it makes sense to have the script tap this lan interface. I will update this thread next week.

[2019-05-07 08:17] lucaderi opened #2554 "Missing IP address from which password has been changed"
<img width="1265" alt="Screenshot 2019-05-07 at 10 11 28" src="https://user-images.githubusercontent.com/4493366/57284354-4cb58e80-70b1-11e9-903d-dc4c18c5c523.png">

[2019-05-07 08:19] lucaderi opened #2555 "System alerts are mixed among interfaces"
System-related alerts (e.g. password change) are hard to be located when ntopng is started with multiple interfaces. It is necessary to list them under a different interface (e.g. system Interface) or report them for all interfaces

[2019-05-07 08:27] lucaderi opened #2556 "Search results limited to 5"
<img width="973" alt="image" src="https://user-images.githubusercontent.com/4493366/57284974-876bf680-70b2-11e9-9f27-43b042ff0458.png">
As search results are limited to 5, not all hits are shown. it would be nice in this case
- report that more results have been found
- provide a link to a page with all results so that the correct one can be selected
or
do anything else to address this limitation

[2019-05-07 08:32] lucaderi opened #2557 "Missing MAC graph from host reports"
<img width="272" alt="Screenshot 2019-05-07 at 10 30 04" src="https://user-images.githubusercontent.com/4493366/57285273-2690ee00-70b3-11e9-88e3-31cd94ddcf59.png">
From the host graphs it is not possible to select MAC (related to the host) reports. Please add under the list of metrics, those that are related to the MAC belonging to this host. This to avoid long navigation

[2019-05-07 09:08] emanuele-f commented on #2555
Depends on #1854

[2019-05-07 09:24] emanuele-f commented on #2557
If the serialization by MAC is active this would duplicate the entries, I would avoid mixing MAC and host entries

[2019-05-07 10:56] simonemainardi commented on #2532
@HoseinKashefi sorry for not getting back to you. We're all busy preparing a conference, will reproduce this as soon as possible.

[2019-05-07 11:17] HoseinKashefi commented on #2532
@simonemainardi Hope you are doing well and wish you good luck with the conference.
cant wait to hear good news for your company.

[2019-05-07 12:53] mmatuska79 opened #2558 "nIndex maximum interfaces"
Hello,
   we have Enterprise license for ntopng. I have configured nIndex as data flow dump, but I get following messages during startup:

`ERROR: The maximum number of interfaces that can be used with nIndex is 8.`

We have approx 15-20 interfaces. Is there a possibility to increase the limit?
I have also an option to use ElasticSearch ad different data dump. What would you recommend (nIndex or E

[2019-05-07 12:55] xtrilla opened #2559 "Multithreading issues when using nProbe and ntopng"
Hi,

When using nProbe to capture traffic from optical TAPs and sending the information to ntopng via ZMQ at a rate over 8000 ZMQ messages per second, there seems to be an issue preventing the usage of all the CPU ways available in the machine hosting ntopng.

When running nProbe with:

--zmq "tcp://*:5556"

And ntopng with:

-i=tcp://<nprobeIP>:5556

One of the threads on the ntopng machine is co

[2019-05-07 13:10] mmatuska79 opened #2560 "influxDB for Timeseries"
Hi all,
   we have very similar issue as in #2527. RRD works fine for Timeseries. After change to InfluxDB in Preferences/Timeseries, the timeseries data are not available, despite the fact that the green banner appears and the database `ntopng` is created in influxdb. It seems that no data are written into it.
The historical data icon "graph" are not available in this setup, Traffic Dashboard wil

[2019-05-07 13:26] mmatuska79 opened #2561 "Number of interfaces in GUI"
Hi all,
    we are using the setup with nProbe in proxy mode (`-i=none`) acting as Netflow UDP data receiver from various routers in the network. nProbe is then generating ZMQ session to ntopng. No local interfaces are monitored with nProbe. This works fine, even with multiple instances of nProbe(s).

We have Enterprise license of ntopng. I understand that 128 interfaces should be supported. When

[2019-05-07 14:58] NotAWizz commented on #2552
Ok, having the fritzdump.sh script look at the eth0 interface on the Fritz did a world of good. My Fritz connects to the cablemodem via the LAN1 port (internally this is eth0)

Modification in the fritzdump.sh script to accomplish that:
`
#This is the WAN interface

#IFACE="2-0"

#Lan Interface
#IFACE="1-lan"
#Leo Says: Let's try this one:

 IFACE="1-eth0"
`
This produces a stream in standard pcap

[2019-05-07 18:20] lucaderi opened #2562 "Replace JSON with more efficient format when using ZMQ"
While JSON is a versatile format for sending traffic information between nProbe and ntopng, the use of it is becoming a performance bottleneck when decoding it. While JSON format should be supported for compatibility reasons, a more efficient format needs to be implemented. Possible options
- http://bsonspec.org
- https://msgpack.org
- https://cbor.io

[2019-05-08 13:53] emanuele-f commented on #2552
Thank you for the information! Would you like to improve https://github.com/ntop/ntopng/blob/dev/doc/README.fritzbox via a pull request?

[2019-05-09 03:59] sonvodev opened #2564 "Using API authorize and get data from customization web application"
Hi,

I am currently having demand to customize ntopng web GUI by developing my web app using ntopng Rest API, but i am getting some issues, those related with #1866 and #2105

I am using pure html and javascript to request to the server to authorize, etc:

`var data = "user=admin&password=Congacon.100";

var xhr = new XMLHttpRequest();

xhr.addEventListener("readystatechange", function () {
  if (

[2019-05-09 05:00] marekhrbac opened #2565 "Historical explorer"
Hello,
i have a problem. When i want to check some historical details i click on the info button then i see only white page. Could you help me?
![ntop history](https://user-images.githubusercontent.com/50436103/57428313-14848c00-7228-11e9-8fb4-0727bdd48896.png)
![ntop history2](https://user-images.githubusercontent.com/50436103/57428314-14848c00-7228-11e9-853c-80eca6668126.png)

[2019-05-09 12:31] lucaderi opened #2566 "ICMP Echo Alert"
Generate an alert whenever a ICMP ECHO packet has a lengthy payload that can indicate data exfiltration

[2019-05-09 12:32] lucaderi opened #2567 "SMBv1/Telnet Alert"
Implement an alert for SMBv1/telnet (and other very insecure protocols) flows that are used by many malware applications.
In general the nDPI insecure characterization should be enough

[2019-05-09 14:18] hballiance opened #2568 "Cant enable Historical Flows"
We have an enterprise ntopng setup but I'm unable to get historical flows working. I looked at the documentation in the link below and tried running "sudo ntopng -F nindex". However, I do get some errors in output which I'm unsure about and I dont see the Flows menu under the tabular view.

https://www.ntop.org/guides/ntopng/historical_flows.html?highlight=historical%20flows

    ~$ ntopng --versi

[2019-05-10 08:11] emanuele-f commented on #2568
Hi, it seems like another instance of ntopng is already running. In order to change the ntopng options (and enable nIndex for example) you need to add the options to /etc/ntopng/ntopng.conf and restart the running ntopng service with `sudo systemctl restart ntopng`. Please note that nIndex is a beta feature and that we suggest to upgrade to the development version of ntopng (3.9) to test it

[2019-05-10 08:16] emanuele-f commented on #2564
You need to add the CORS HTTP headers to the `sendHTTPHeader` function in `lua_utils.lua`. Please report the working CORS headers so that we can add more documentation on this for other users too

[2019-05-10 08:21] emanuele-f commented on #2561
This is limited by the define MAX_NUM_VIRTUAL_INTERFACES . We will review if increasing the limit is feasible or has drawbacks

[2019-05-10 08:29] emanuele-f commented on #2560
The error above should be fixed in 794d0459a6e9ceae4650a3da85189f779dbc50eb . A new package will be available in one hour, please upgrade and report if you can still experience the other issues. Installing the latest InfluxDB version from the official website is the best option.

[2019-05-10 08:31] emanuele-f commented on #2552
I'm closing this issue, please provide a pull request if possible.

[2019-05-10 08:31] #2552 closed, assigned to nobody

[2019-05-10 08:32] emanuele-f commented on #2553
Can you provide a pull request to fix the script?

[2019-05-10 08:39] emanuele-f commented on #2558
Hi, Elastic is only supported for exporting flows, ntopng will not be able to read them back and show into the gui. Regarding the limit, we will discuss the implications of increasing it.

[2019-05-10 08:46] emanuele-f commented on #2559
Due to desgin, ntopng uses a single thread per network interface, so the scenario is the one you have highlighted. We are looking at a more efficient format for the messages (see #2562) to improve the performance of a single thread. Using multiple nprobe instances is the correct way to handle the problem, but you need to create 4 different config files and services (e.g. nprobe@probe1, nprobe@prob

[2019-05-10 08:48] emanuele-f commented on #2547
Should you experience other issue with the dev version, please open a new ticket.

[2019-05-10 08:48] #2547 closed, assigned to nobody

[2019-05-10 09:28] zimbawe998 opened #2569 "Possibilty to invoke nmap scan from host home tab"
These is needed to better identify specific host invoking an nmap scan to verify if there are tcp/udp ports open.  It's appreciated to verify and classify a devices connected to the network and identified by ntopng

[2019-05-10 09:31] zimbawe998 opened #2570 "Report with DNS Domain name requested on DNS Query request"
To identify and analyze the DNS Query seen by ntop.
This can help me on identify new malware o C2C Call back on specific domain.

[2019-05-10 09:36] zimbawe998 opened #2571 "Invalid DNS query need a exclusion list"
More and more software (antimalware) are using DNS Query to verify real time the hash of new file that could not be identified by signature and need to be investigated or update on Cloud Service.
These behavior are generating Invalid DNS Query Alert. We need an fqdn or pattern exclusion list to avoid these alerts.

[2019-05-10 09:37] zimbawe998 opened #2572 "Long-Lived Flows Alerts exclusion"
It's appreciated to have the possibility to exclude some protocols or IP from Long-Lived Flows Alerts.
Example: OffSite backup, VPN,  Network DVR, ect

[2019-05-10 09:39] zimbawe998 opened #2573 "Hosts Common Thresholds per Ntopng"
It's better to move Hosts Common Thresholds settings under preference and not editable on every host.
You need to define only the delta from Main settings.

[2019-05-10 09:40] zimbawe998 opened #2574 "SSL Certificates"
Is it possibile to have alert for SSL Certificate expired and self signed?

[2019-05-10 09:56] zimbawe998 commented on #2570
Report with DNS Domain name requested

[2019-05-10 10:43] simonemainardi commented on #2574
duplicate of https://github.com/ntop/ntopng/issues/2513

[2019-05-10 10:43] #2574 closed, assigned to nobody

[2019-05-10 10:47] simonemainardi commented on #2573
duplicate of https://github.com/ntop/ntopng/issues/2479

[2019-05-10 10:47] #2573 closed, assigned to nobody

[2019-05-10 14:37] xtrilla commented on #2559
Hi Emanuele,

We are monitoring a optical TAP of a Link Aggregation, meaning:

eth0 - Receives RX of LAG Interface 1
eth1 - Receives TX of LAG Interface 1
eth2 - Receives RX of LAG Interface 2
eth3 - Receives TX of LAG Interface 2

So, for example we could see:

Traffic Flow A OUT traffic - Via eth0
Traffic Flow A IN traffic -  Via eth1

As I understand, a nProbe instance, should be able to see bo

[2019-05-10 15:04] emanuele-f commented on #2559
What is the ZMQ drop rate you are experiencing? In the case above you could use 2 nprobe instances instead of 4 to improve the load distribution

[2019-05-10 15:47] mmatuska79 commented on #2561
Thanks for the clarification. I will wait for the upcoming versions if the limit is raised.
Mirek

[2019-05-10 15:47] #2561 closed, assigned to nobody

[2019-05-10 15:51] mmatuska79 commented on #2558
Thanks for the answer.
So if you manage to increase the limit for nIndex interfaces (24 would be OK for one of our implementation scenario), we will be happy using them rather than Elastic.
Mirek

[2019-05-10 17:19] xtrilla commented on #2559
Hi Emanuele,

It's quite high, it can only keep up with like 3000 Messages per second, and we have around 8000 or more. So, if we just use one instance it might be dropping more than 5K per second.

The problem is, that as we use for the LAG a load balacing hashing based on MAC, IP, and Port we cannot really know via which interface traffic will come in or go out. That's why we are using just a nP

[2019-05-10 17:59] mmatuska79 commented on #2560
Thanks for the patch. I have updated via "yum update" to ntopng version `3.9.190510` and I have the same error message:
`May 10 19:53:43 cz11lin005p ntopng: 10/May/2019 19:53:43 [LuaEngine.cpp:9288] WARNING: Script failure [/usr/share/ntopng/scripts/lua/get_influxdb_info.lua][...opng/scripts/lua/modules/timeseries/drivers/influxdb.lua:1051: attempt to index a nil value (field 'series')]`
Maybe thi

[2019-05-11 18:03] njhashmi opened #2575 "Passive mirror 10 dropping packets [Which Licenses Should I buy?]"
I have deployed ntopng with a passive split of  10g interface. I see 99% packets are getting dropped whilst I see more than 300k flows that are meaningful for me. I am dumping expired flows out of ntopng to ELK stack and on kibana custom dashboard I am visualizing the flows data. I want to know that where should I start to monitor a total traffic of 40g. I am using pfring and I dont have zc at the

[2019-05-12 14:40] emanuele-f commented on #2575
Hi, ntopng cannot monitor such a high rate, I think you should use nprobe cento to export flows to ntopng and then process flows instead of packets. Please wait my colleague @simonemainardi confirmation for this.

[2019-05-12 14:42] emanuele-f commented on #2560
I think this is the old version, please retry with new package now: `sudo yum update`

[2019-05-12 16:41] mmatuska79 commented on #2560
Yes, now it is fixed, thanks. The InfluxDB version shows correctly (1.7.6).
However it still seems that there are no data written into influxdb from ntopng. Runtime Status returns `NaN Bytes` as InfluxDB Storage.

To test my installation of InfluxDB, I did following excercise:
https://docs.influxdata.com/influxdb/v1.7/query_language/data_download/
It went correctly.

`> SHOW DATABASES`
`name: data

[2019-05-12 17:03] njhashmi commented on #2575
Hi,
Thank you for your response. If I am exporting netflows from my edge routers with a ratio of 5k flows / per second. In that case will I be able to use nprobe to collect the flows and extract layer 7 applications etc? and then using export plugin for nprobe I will be able to dump the flows data into my ELK stack. I am not able to understand the difference between nprobe and nprobe cento.

[2019-05-13 07:43] emanuele-f commented on #2575
nprobe cento is designed to accellerate the packet capture up to 100 gbits. This only works if nprobe is capturing packets from a physical interface, it does not work with netflow. Layer 7 decoding is only performed if nprobe captures packets from a physical interface.

[2019-05-13 09:45] emanuele-f commented on #2565
This should be fixed in afaa0e041ac69132feb69da6ac7d21ac129d92a3 . The new package will be available in one hour. Please update and check that this is fixed for you too.

[2019-05-13 09:49] emanuele-f commented on #2560
From the ntopng preferences, can you switch to RRD, then back to InfluxDB and see if the database connection is successful? Do you see any export failure alert into ntopng?

[2019-05-13 09:51] emanuele-f commented on #2559
Can you try to add the `--zmq-disable-compression` to the nprobe options?

[2019-05-13 09:59] emanuele-f commented on #2543
Closing for inactivity, please reopen if necessary

[2019-05-13 09:59] #2543 closed, assigned to nobody

[2019-05-13 12:52] lucaderi commented on #567
As of MySQL we have now nIndex, whereas for Redis we do not see a performance bottleneck. So for the time being we close this ticket.

[2019-05-13 12:52] #567 closed, assigned to simonemainardi, emanuele-f

[2019-05-13 13:17] simonemainardi commented on #2571
@emanuele-f can this be solved using the already-implemented syntax which requires to specify an FQDN using a 'minus'?

For example by editing the custom Malware rules as:

![image](https://user-images.githubusercontent.com/3397663/57624385-1c2e9280-7592-11e9-92d8-0a36284d6e99.png)

If yes, please, update the doc and send @zimbawe998 the instructions.

------

@zimbawe998 do you have example queri

[2019-05-13 13:20] simonemainardi commented on #2570
@zimbawe998 would it be OK for you to have a page similar to what are the current http sites?

![image](https://user-images.githubusercontent.com/3397663/57624605-9b23cb00-7592-11e9-816b-6bc462e2c917.png)

so basically the same page but with DNS queries rather than visited sites

[2019-05-13 13:24] simonemainardi commented on #2556
it is requested to add 5 results per category, that is:

5 results when searching in SNMP devices mac addresses
5 results when searching in active hosts
etc.

[2019-05-13 13:38] lucaderi opened #2576 "Implement per-interface DB handling"
With -F you specify a setting for all interfaces, but sometimes it would be nice to limit only to a few. For instance this applies to nIndex or ELK.
Goal of this ticket is to add a new preference (i.e. /lua/if_stats.lua?ifid=X&page=config) that allows you to ignore flow storage for this interface. By default -F is enabled for all interfaces (as it is today)

[2019-05-13 13:51] #2557 closed, assigned to emanuele-f

[2019-05-13 14:14] cardigliano commented on #2554
Implemented.

[2019-05-13 14:14] #2554 closed, assigned to cardigliano

[2019-05-13 14:48] sonvodev commented on #2564
I followed your recommendation from #1866, added CORS HTTP Headers to sendHTTPHeader in lua_utils.lua line 151 but it same not working
After adding CORS lines, I even cannot use Web GUI, it always redirects to itself

[2019-05-13 15:18] #2576 closed, assigned to emanuele-f

[2019-05-13 15:20] emanuele-f commented on #2564
Can you share your modifications of the file to review? If you are using git, run `git diff`

[2019-05-13 15:26] mmatuska79 commented on #2560
I have upgraded to version `3.9.190513`. The issue persists ("NaN bytes" used in influxdb storage).

After switching to InfluxDb from RRD, I see following message:
![image](https://user-images.githubusercontent.com/50367563/57631620-1c358f00-75a0-11e9-807e-9c364074cbd9.png)

No error is shown neither in ntopng nor in influxdb log. Following messages are shown:

`May 13 17:11:43 cz11lin005p influxd

[2019-05-13 15:27] hballiance commented on #2568
I already placed the line below in the ntopng.conf file and rebooted service + server. Am I not entering it correctly?

`--dump-flows=nindex
`

[2019-05-13 16:01] #2550 closed, assigned to emanuele-f

[2019-05-13 16:05] emanuele-f commented on #2568
Ok so it should be enabled, you can check the output of `sudo journalctl -u ntopng`, you should see something like:

[code]

which indicates that the flow dump is enabled

[2019-05-13 16:14] emanuele-f commented on #2560
Can you try to change the database name into the ntopng influx preferences to a new name, so that ntopng creates the database? Are you using password protected login for influxdb?

[2019-05-13 16:19] hballiance commented on #2568
See output below. I'm seeing the success messages you mentioned but also lots of warnings about being unable to open file. Permission issue?

https://pastebin.com/9qFQcjf5

[2019-05-13 16:45] #2556 closed, assigned to emanuele-f

[2019-05-13 16:48] emanuele-f commented on #2568
Please use the development version of ntopng with nIndex and flush the existing data.
1. stop ntopng: `sudo systemctl stop ntopng`
2. **this will flush all the ntopng data**: `sudo rm -rf /var/lib/ntopng`
3. Upgrade to the nightly builds from http://packages.ntop.org

[2019-05-13 16:56] #2553 closed, assigned to nobody

[2019-05-13 16:57] emanuele-f commented on #2553
Thank you, please check out the tomorrow package for the fix.

[2019-05-13 16:59] lucaderi opened #2577 "Issues with serialization by MAC when multiple IPs in DHCP range share the same MAC"
13/May/2019 18:55:00 [5min.lua:25] [rrd.lua:308] ERROR: rrd_update_r() [/var/lib/ntopng/3/rrd/hosts/00_80_8f/9a/ae/bd/v4/bytes.rrd][1557766500:60:0] failed [/var/lib/ntopng/3/rrd/hosts/00_80_8f/9a/ae/bd/v4/bytes.rrd: illegal attempt to update using time 1557766500 when last update time is 1557766500 (minimum o
13/May/2019 18:55:00 [5min.lua:25] [rrd.lua:308] ERROR: rrd_update_r() [/var/lib/ntopng/

[2019-05-13 17:35] mmatuska79 commented on #2560
I have changed the default database name `ntopng` to `timeseries-ntop`. Following errors were logged (multiple times) by ntopng:

`[housekeeping.lua:28] [influxdb.lua:193] ERROR: Bad response code[400]: {"error":"error parsing query: found -, expected ; at line 1, char 38"}`
`[housekeeping.lua:28] [influxdb.lua:248] ERROR: Bad response code[400]: [400] error parsing query: found -, expected DURATI

[2019-05-13 17:37] njhashmi commented on #2575
Thank you for response. I am having 4 individual 10g interfaces and I want to export flows to my own ELK stack using nprobe with custom kibana dashboard. I need the layer 7 decoding and as per the comparison : https://www.ntop.org/nprobe/flow-based-monitoring-nprobe-cento-vs-standardpro/
it says that nprobe supports 10g interfaces am I going to need 4 individual licenses for all 4 ports? and in ce

[2019-05-13 17:47] Freddyqt opened #2578 "Button to reset the ntopng preferences menu"
Hello, I need to reset the default settings settings-> preferences of the ntopng menu, I hope you can help me.

Thank you

[2019-05-13 20:24] zimbawe998 commented on #2571
Yes Emanuele. I think that a specific category "DNS Exclusion list" could be the righe place to put the DNS DOMAIN to exclude for the control. Easy and useful.

[2019-05-13 20:26] zimbawe998 commented on #2570
Thanks Guys. Having it could allow us who is requesting, if i am able to monitor client to server query! Cool feature!

[2019-05-14 04:53] ksgsystem opened #2579 "how to reset ntopng password? i am using clearos"

[2019-05-14 07:36] emanuele-f commented on #2560
Please remove the `-` from database name, I will add validation to reject it

[2019-05-14 07:43] emanuele-f commented on #2560
Validation added in 15cb890b193dc531e4e8b312f03109349660302a

[2019-05-14 07:44] emanuele-f commented on #2579
See https://www.ntop.org/guides/ntopng/faq.html#cannot-login-into-the-gui

[2019-05-14 07:44] #2579 closed, assigned to nobody

[2019-05-14 07:51] emanuele-f commented on #2575
You will need:
- 1 nprobe pro license
- 4 pf_ring zc licenses, one per nic

We can provide demo licenses to verify that everything works as you need, you can use this form: http://www.ntop.org/support/need-help-2/contact-us/

[2019-05-14 07:53] emanuele-f commented on #2578
The reset should be limited to the currently active preferences page, right?

[2019-05-14 08:37] emanuele-f commented on #2577
Fixed in 5aff6583b213415d3e601897d433c1ba6766ef4a

[2019-05-14 08:37] #2577 closed, assigned to emanuele-f

[2019-05-14 09:28] mmatuska79 commented on #2560
OK, the I have used new names `mirekX` where `X` is number for the influxdb database name. No error message with those names.
However, the behavior is still the same. Green success message appears after the timeseries setting is changed to influxdb. But it seems that no data are written into it regardless of the name. I have tried changing to RRD and back to influxdb multiple times, used both new

[2019-05-14 10:30] emanuele-f commented on #2513
The certificate expiration could be verified from the `validity` field in the certificate itself:
<img src="https://user-images.githubusercontent.com/5488003/57690116-6c5c3200-7630-11e9-9564-0c1348f8155f.png" data-canonical-src="https://user-images.githubusercontent.com/5488003/57690116-6c5c3200-7630-11e9-9564-0c1348f8155f.png" width="450" />

In order to verify if the certificate is valid in gene

[2019-05-14 10:42] emanuele-f commented on #2560
This is a weird issue, it must be something in the InfluxDB installation. Please ensure that you are setting up InfluxDB in a standard way, you can also try to install it on another clean server.

This is normal, they are not timeseries. ts_export is used internally to export timeseries to InfluxDB.

[2019-05-14 10:51] emanuele-f commented on #2479
The implementation is tightly coupled with the page, changing this requires >= 1 day of work. Instead, I suggest to rethink the alerts thresholds as follows.

- Add a new global page for the alerts threshold configuration
- The page should implement a datatable, where we can add rules via the `+` sign
- For each rule, we can specify:
  - Target type: host, interface, network
  - Target: "any" or a

[2019-05-14 11:07] emanuele-f commented on #2571
@simonemainardi , @zimbawe998 is referring to the "Invalid DNS query" alerts, which are not related to the malware alerts, so the category lists are not used in this case. However, I think that reusing the category lists and the corresponding editor is a good idea here.

I would add a new nDPI category "DNS exceptions" and use it to avoid generating alerts if flow category matches. If we don't wan

[2019-05-14 12:40] emanuele-f commented on #2262
Note: MySQL flows seem to be handled by https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/delete_data_utils.lua#L97

[2019-05-14 12:51] emanuele-f commented on #2548
Currently the following information is not deleted:
- If serialization by mac address is enabled into the interface settings, host cache/timeseries are not deleted
- When deleting an IPv4/network, the information related to the host MAC address are not deleted. The user should be warned that such data exists and can be deleted too
- When deleting a MAC address, the information related to the IP ad

[2019-05-14 12:56] emanuele-f commented on #2565
Closing the issue as the fix seems working, if you have new details please report here

[2019-05-14 12:56] #2565 closed, assigned to emanuele-f

[2019-05-14 13:45] lucaderi opened #2580 "Implement JA3 Blacklist support"
Implement load of blacklisted fingerprints from https://sslbl.abuse.ch/blacklist/ja3_fingerprints.csv to be used to trigger alerts

[2019-05-14 14:40] #2498 closed, assigned to emanuele-f

[2019-05-14 15:07] emanuele-f commented on #2408
Implemented, please upgrade ntopng tomorrow to get the new column. Please note that this feature is implemented in the development branch whereas you are using the stable. Check out http://packages.ntop.org and install the nightly builds or wait for the next stable (no eta yet).

[2019-05-14 15:07] #2408 closed, assigned to emanuele-f, cardigliano

[2019-05-14 15:39] simonemainardi commented on #2571
@zimbawe998 do you have examples of such queries?

[2019-05-14 15:40] mmatuska79 commented on #2560
I did following test:
- stop ntopng
- `redis-cli save`
- backup `dump.rdb` to a safe location
- `redis-cli flushdb`
- delete `runtimeprefs.json` from ntopng working directory
- start ntopng
And after I set up influxDB in Preferences/Timeseries with default name `ntopng`, it suddenly works!
The downside is that I do not have my configuration (a lot of effort has been put into it :-( ).

When I rest

[2019-05-14 15:57] emanuele-f commented on #2360
To discuss:
- Page mixes realtime with past data
- Page is long enough right now, the new chart would add another row
- Possibly remove/optimize live flows count as it requires iterating all the active flows
- Possibly change the page position and locate under the main menu bar

[2019-05-14 16:02] emanuele-f commented on #2560
Good, let's try to understand the issue. Can you send me your `runtimeprefs.json` at faranda@ntop.org?

[2019-05-14 17:27] njhashmi commented on #2575
Thank you. I have submitted the demo licenses request. Let me set it up and will let you guys know. Cheers!!

[2019-05-14 17:31] emanuele-f commented on #2575
You are welcome! If you have other questions please open a new issue

[2019-05-14 17:31] #2575 closed, assigned to emanuele-f

[2019-05-14 19:44] lucaderi opened #2581 "Geolocation error"
14/May/2019 19:20:26 [Geolocation.cpp:308] ERROR: Invalid address lookup [addr addr: 0x88061210][addr: 127.0.0.1][version: 0]
14/May/2019 19:20:31 [Geolocation.cpp:308] ERROR: Invalid address lookup [addr addr: 0x89107B60][addr: 192.12.193.4][version: 0]
14/May/2019 19:20:31 [Geolocation.cpp:308] ERROR: Invalid address lookup [addr addr: 0x8905F0E0][addr: 192.12.193.11][version: 0]
14/May/2019 19:

[2019-05-14 23:22] Freddyqt commented on #2578
Yes my friend.

[2019-05-15 09:12] emanuele-f commented on #2560
The preferences seem ok, can you run `sudo journalctl -u influxdb -f` and check if the writes are successful? This is an example of successful write:

[code]

[2019-05-15 12:24] mmatuska79 commented on #2560
No, I cannot see any writes with the current config. That was the main difference yesterday - on the fresh new configuration, I had seen the `POST /write` messages almost immediately and continuously.

With the current config, I can see the `GET /ping`, `GET /query` or `POST /query` messages only.

[2019-05-15 13:09] gianogli commented on #2558
We noticed the same problem. We are using 9 interfaces now but we have only 7 `nIndex` timeseries (not 8) due to these limitation:
`ERROR: The maximum number of interfaces that can be used with nIndex is 8.`
_

[code]

[2019-05-15 16:39] xtrilla commented on #2559
Hi Emanuele,

We tried, and performance is even worse. I guess the issue is in the library that parses de JSON inside the ZMQ: #2562

But while that gets fixed, is there anything we can do in ntopng side so the resulting view from merging the 4 interfaces reports better?

Thanks.

[2019-05-16 06:43] #2564 closed, assigned to nobody

[2019-05-16 08:22] FrancescoStaccini opened #2582 "Timeseries plot does not appear after page loaded"
In ntopng community version, after clicking on the plot icon in the mac/host details page, the timeseries plot does not appear unless you click on a Timeframe

[2019-05-16 08:42] emanuele-f commented on #2559
@simonemainardi do you have any suggestions for this?

[2019-05-16 09:43] pranjallinux opened #2583 "ntop email alerts not working"
ntop email alerts not working when bandwidth goes high
test email is received. but alerts email not working.

[2019-05-16 09:55] simonemainardi commented on #2583
I've just tried to reproduce but everything works as expected. Are you using version 3.9? Can you confirm if you click on the "Sent test email" button you get the email? Note that it may take one/two minutes to receive the email. Also check the spam folder.

[2019-05-16 10:04] dvachon2018 opened #2584 "upgrade to 3.9 on arm/pi"
hi, actually at

3.7.181008 - Enterprise/Embedded Edition
--
on arm/pi strech 9.1
apt-get upgrade seem not to upgrade to 3.9. Was working fine that way last year.
so how to upgrade?

[2019-05-16 11:03] simonemainardi commented on #2584
did you run an apt-get udpate first?

3.9 packages for your distro are out: http://packages.ntop.org/RaspberryPI/stretch_pi/armhf/ntopng/

[2019-05-16 11:04] simonemainardi commented on #2568
no feedback received. closing for inactivity. reopen with the requested information if necessary.

[2019-05-16 11:11] dvachon2018 commented on #2584
yes, i did the apt-get update.
it return that

root@ntop:# apt-get update
Hit:1 http://archive.raspberrypi.org/debian stretch InRelease
Hit:2 http://raspbian.raspberrypi.org/raspbian stretch InRelease
Hit:3 http://packages.ntop.org/apt/stretch_pi armhf/ InRelease
Hit:4 http://packages.ntop.org/apt/stretch_pi all/ InRelease
Reading package lists... Done
root@ntop:~#

[2019-05-16 13:39] dvachon2018 commented on #2584
problem solved with this;

apt-get --with-new-pkgs upgrade

[2019-05-17 02:21] xtrilla commented on #2562
Hi,

While doing some tests, we have realized the performance is also related to the amount of timeseries enabled in ntopng. If we disable almost all of them, keeping only the Local Hosts traffic timeseries, it can hold with up to 6K - 8K ZMQ messages per second with a single thread.

I'm not sure if this is related to the JSON parser -as more information might be collected during the parsing for

[2019-05-17 08:29] simonemainardi commented on #2584
thanks for reporting

[2019-05-17 08:29] #2584 closed, assigned to nobody

[2019-05-17 08:31] simonemainardi commented on #2532
@HoseinKashefi the solution will arrive once this is implemented https://github.com/ntop/ntopng/issues/2562

we are now evaluating more efficient ways to send data from cento to ntopng as JSON fails to reach high speeds

[2019-05-17 08:32] simonemainardi commented on #2555
part of #1854

[2019-05-17 08:32] #2555 closed, assigned to simonemainardi, emanuele-f

[2019-05-17 11:26] zimbawe998 commented on #2571
![Immagine](https://user-images.githubusercontent.com/47248892/57925072-3e345780-78a7-11e9-9196-d7e38f9c33dd.png)
This is an example of anitmalware queiry that using DNS to verify is some hash has already present on CLoud AV Database.. It's real but need to be excluded.

[2019-05-17 11:38] zimbawe998 opened #2585 "SNMP v3"
Have you planned SNMPv3 Support?

[2019-05-17 14:45] lucaderi commented on #2585
No: at the moment this is not planned.

[2019-05-17 14:47] lucaderi opened #2586 "Implement per AS OOO/Drops/Retransmissions..."
Currently we have per host/flow OOO/Retransmissions..... It would be nice to have per AS counters to monitor network parameters per destination

[2019-05-17 15:29] simonemainardi commented on #2562
Timeseries are calculated in another thread which is independent from the thread which performs ZMQ parsing so that should not be related to the collection performance.

However, if you have not enough cores in the system, then the thread which writes timeseries may be contending a core with the thread which does the parsing and that could have a negative impact.

Try to use core pinning (see opti

[2019-05-17 17:40] simonemainardi commented on #2585
duplicate of https://github.com/ntop/ntopng/issues/1839

[2019-05-17 17:40] #2585 closed, assigned to nobody

[2019-05-17 19:30] lucaderi opened #2587 "Implement Realtime SNMP Polling"
1 or 5 minute SNMP port polling is unable to spot port saturation. it would be better to implement (sub-)second polling but this would be too computationally costly. Instead a good compromise would be to have the ability to monitor interface traffic in realtime. For instance for a given port already monitored with SNMP, it would be nice to be able to open a new view that polls interface counters (

[2019-05-17 20:18] lucaderi opened #2588 "Implement per Network OOO/Drops/Retransmissions"
Same as #2586 but for networks

[2019-05-17 20:21] lucaderi opened #2589 "Implement additional DNS Alerts"
DNS traffic is very important on networks as it one of the core Internet protocols. ntop (flow and host) alerts should be enriched with additional DNS alerts such as
- fragmented DNS traffic
- large DNS packets (pay attention to OARC support https://www.dns-oarc.net/oarc/services/replysizetest)

[2019-05-17 20:22] lucaderi opened #2590 "Implement network alerts"
Similar to host alerts, network alerts should be implemented.

For networks alerts needs to be specialised a bit when compared to hosts. Typical alerts include
- Thresholds on #2588
- Unwanted network protocols. For instance on a storage network, a typical alert should be triggered when P2P protocols are detected.

[2019-05-17 20:32] lucaderi opened #2591 "Implement host/network protocol "memory""
Without using typical ML words such as "learning" and "training", ntopng should implement for each network/host a bitmap if protocols (both as client and server) that a certain entity uses.

For instance, after an initial period of keeping track of host protocols, ntopng matches flow protocols against the bitmap of 'known" protocols and it can trigger an alert when a new protocol is detected. On t

[2019-05-18 08:28] lucaderi opened #2592 "Report Interface errors"
In SNMP, interface traffic do not report errors.

![Screen Shot 2019-05-18 at 10 27 16](https://user-images.githubusercontent.com/4493366/57966831-8ca12f00-7957-11e9-9b73-11e165a0c17e.png)

It is requested to add a line on the graph that reports on the right Y axis interface errors that overlaps with in/out bytes

[2019-05-18 09:35] lucaderi opened #2593 "Introduce per flow alert severity"
In flows all alerts have the same severity. A flow that has 10 packets retransmitted and one that has 10'000 retransmissions are alike. This is not good. We need to introduce the concept of severity not just based on on alert type, but also on alert repetition.

[2019-05-18 12:05] fluxcap1 opened #2594 "geoip urls changed"
The GeoIP database urls have changed.

`*** Makefile.in 2019-05-18 04:30:31.948699125 -0700
--- Makefile.in.1       2019-05-18 04:39:53.319559340 -0700
***************
*** 16,18 ****
  else
!       GET_UTIL = wget --no-proxy -nc
  endif
--- 16,18 ----
  else
!       GET_UTIL = wget -nc
  endif
***************
*** 197,200 ****
        else \
!               $(GET_UTIL) https://geolite.maxmind.com/d

[2019-05-18 20:53] kearon commented on #370
Did you resolve this?
If so, can you give info please.

[2019-05-19 12:45] chlochlo78 opened #2595 "little error in line 27 on iface_ports_list.lua"
hi,

little  mistake on lua script : iface_ports_list.lua : 27
endo
instead of
end

[2019-05-19 18:40] jean-christophe-manciot opened #2596 "Some 'Local HTTP Servers' appear with remote addresses"
Ubuntu 19.10 eoan
ntopng 3.9.190506

Some ```Local HTTP Servers``` appear with a local IP address in the 'HTTP Server IP' column, but with a remote IP address in the first column 'HTTP Virtual Host'.
How it that possible and what is the meaning of this situation?
There seams to be some security implications.

[2019-05-20 07:43] lucaderi opened #2597 "Flow info column: broken sort"
![Screen Shot 2019-05-20 at 09 43 04](https://user-images.githubusercontent.com/4493366/58004546-c0a95b00-7ae3-11e9-95fe-a3d982b59aac.png)

[2019-05-20 07:45] lucaderi opened #2598 "Missing Flow Profiles Filter"
When traffic profiles are defined, it would be nice to have a traffic profile menu in the "Active Flows" page that allows to filter traffic with/without profiles
![Screen Shot 2019-05-20 at 09 44 11](https://user-images.githubusercontent.com/4493366/58004584-dfa7ed00-7ae3-11e9-98a8-a9f8c513ea23.png)

[2019-05-20 09:19] #2595 closed, assigned to nobody

[2019-05-20 09:48] sjwk commented on #2568
Identical issue (by the sound of it) here that I just came to report.
Was running latest stable, with enterprise license on Ubuntu 16.04.
Have enabled flow dumping, journalctl shows it is writing data correctly:

`May 20 10:41:27 lookingglass ntopng[17206]: 20/May/2019 10:41:27 [NIndexFlowDB.cpp:74] Successfully open DB /data/ntopng/4/aggregatedflows
May 20 10:41:27 lookingglass ntopng[17206]: 20/

[2019-05-20 10:29] simonemainardi commented on #2596
Virtual hosts, as the name says, are virtual and have nothing to do with the local `HTTP Server IP`. So the behavior you're reporting is perfectly normal.

Virtual hosts are dissected by ntopng from the HTTP request in the `Host:`. For example, in the image below, the http host seen is `httpd.apache.org`

![image](https://user-images.githubusercontent.com/3397663/58015138-c3fc1100-7afa-11e9-808b-6

[2019-05-20 10:29] #2596 closed, assigned to nobody

[2019-05-20 10:30] simonemainardi commented on #2583
any news?

[2019-05-20 10:44] #2598 closed, assigned to nobody

[2019-05-20 10:49] #2594 closed, assigned to nobody

[2019-05-20 13:09] emanuele-f commented on #2568
Can you post a screenshot of the page?

[2019-05-20 15:04] emanuele-f commented on #2582
Cannot reproduce

[2019-05-20 15:50] lucaderi opened #2600 "Invalid Engaged Alert"
![Screen Shot 2019-05-20 at 17 48 50](https://user-images.githubusercontent.com/4493366/58034779-9a0d1380-7b27-11e9-8a3a-65de8c7ee0aa.png)
The above picture shows that an alert is still engaged but this is not correct. As you can see ntopng has been restarted in the meantime (compare the time at the bottom of the picture) and the alert is still engaged. This information is not correct.

[2019-05-20 16:14] simonemainardi commented on #2597
Also please check and fix "Echo request x"

[2019-05-20 16:15] lucaderi commented on #2581
it should have been fixed by https://github.com/ntop/ntopng/commit/24066c48a392c19e769fd7ef601a962086bc3af2
Will reopen if necessary.

[2019-05-20 16:15] #2581 closed, assigned to simonemainardi

[2019-05-20 16:48] #2582 closed, assigned to emanuele-f

[2019-05-20 16:55] #2593 closed, assigned to simonemainardi, cardigliano

[2019-05-20 17:23] lucaderi opened #2601 "Missing Data Migration Message"
in nEdge the data migration message does not show up

[2019-05-20 17:29] cardigliano commented on #2597
Since sorting happens in the C paginator, it works for Info which are present in the Flow class, while it does not work for Info generated by lua at visualization time (using locales).

[2019-05-20 18:03] simonemainardi commented on #2503
implemented

[2019-05-21 06:28] laurentduru opened #2602 "InfluxDB timeseries cleanup and usage report"
Hello,

I have a problem with InfluxDB usage report and cleanup in Ntopng stable version 3.8.190516 (also in older versions).

The storage usage reported in each interface and in "storage utilization" in runtime status  page seem concerning RRD data and not InfluxDB. "InfluxDB storage" is the right value but with no corresponding at all with the figures I mentioned.

I also noticed that I have old

[2019-05-21 08:11] laurentduru commented on #2602
Browsing the older cases on influxDB, I think I got an answer for the cleanup part of issue :
With a retention of 30 days, influxDB create 7 days shared so I have a maximum retention of 30days+7days.

[2019-05-21 08:59] cardigliano commented on #2601
Fixed

[2019-05-21 08:59] #2601 closed, assigned to simonemainardi, cardigliano

[2019-05-21 09:06] #2503 closed, assigned to simonemainardi

[2019-05-21 09:24] jean-christophe-manciot commented on #2596
@simonemainardi  I think you closed this issue too quickly.
How do you explain the fact that when clicking on the ```active flows```
![Active Flows](https://user-images.githubusercontent.com/13176858/58084187-b6a65b80-7bba-11e9-86e6-5f75c6d4a09e.png)
related to the remote 'http virtual hosts', **none of the flows involve the corresponding virtual host ip address**?

[2019-05-21 11:06] simonemainardi commented on #2588
implemented

[2019-05-21 12:19] simonemainardi commented on #2596
Because currently, flows lookup on the basis of the virtual host has still to be implemented but this is not what the issue was asking. I'll implement it and let you know.

[2019-05-21 12:19] #2588 closed, assigned to simonemainardi

[2019-05-21 12:36] #2359 closed, assigned to cardigliano

[2019-05-21 13:54] cardigliano commented on #2597
Sorting on Info has been disabled for the time being as it is difficult to implement it correctly by design.

[2019-05-21 13:54] #2597 closed, assigned to cardigliano

[2019-05-21 14:09] simonemainardi commented on #2586
implemented

[2019-05-21 14:09] #2586 closed, assigned to nobody

[2019-05-21 14:16] Netw0rkGuy opened #2603 "Blacklisted Hosts list is always empty"
Since a while the 'Blacklisted Hosts Only' filter in the 'Hosts' section does not display any matches.
We checked a few attackers manually against the current list from https://rules.emergingthreats.net/fwrules/emerging-Block-IPs.txt
and see that ntopng is indeed collecting flow information for those hosts, but cannot flag them as blacklisted hosts.

On the proxy server we see that ntopng is succe

[2019-05-21 16:32] emanuele-f commented on #2602
The "Timeseries" label reported here does not account the InfluxDB data, I'm going to change the label to "RRD Timeseries".

![2019-05-21_18-28](https://user-images.githubusercontent.com/5488003/58113642-8922d780-7be5-11e9-892a-1ec62d21c185.png)

Regarding the cleanup, what is the output of `influx -database ntopng -execute "show retention policies"` where "ntopng" is the InfluxDB database name li

[2019-05-21 16:47] emanuele-f commented on #2602
Label fixed in https://github.com/ntop/ntopng/commit/d11c9a1c16db2907ab8e241fd3117918c5654be2

[2019-05-21 16:51] laurentduru commented on #2602
OK nice, then I miss the InfluxDB Timeseries information ;)

Yes, I confirm :
influx -database ntopng -execute "show retention policies"
name    duration shardGroupDuration replicaN default
----    -------- ------------------ -------- -------
autogen 720h0m0s 168h0m0s           1        true

And :
influx -database ntopng -execute "SHOW SHARDS"
name: ntopng
id database retention_policy shard_group

[2019-05-21 18:00] emanuele-f commented on #2602
Thank you for the explanation. In f0ae0f4274212960e9155462ace8d11ae88b6ee0 I've added a note and also enforced the default shard duration suggested by InfluxDB in https://docs.influxdata.com/influxdb/v1.7/query_language/database_management/#description-of-syntax-1 . I assume that the `ALTER RETENTION POLICY` does not modify the shard group duration itself, so now this is set manually according to

[2019-05-21 18:00] #2602 closed, assigned to nobody

[2019-05-22 07:51] simonemainardi commented on #2583
closing for inactivity. no feedback received.

[2019-05-22 07:51] #2583 closed, assigned to nobody

[2019-05-22 09:03] simonemainardi commented on #2603
There was no support for blacklisted hosts over ZMQ in the 3.8 stable. Now I've added it. New builds are in progress. Please, hold on a couple of hours and give it a try.

[2019-05-22 09:03] #2603 closed, assigned to nobody

[2019-05-22 09:03] simonemainardi commented on #2603
https://github.com/ntop/ntopng/commit/5aa102525c6ef6ad01cb266925a74857db95e0be

[2019-05-22 09:25] emanuele-f commented on #2560
Please also send me via email the new configuration so that I can make a diff of the configurations and see if something comes out. Anyway, I'm closing this as you've solved the issue by starting clean

[2019-05-22 09:25] #2560 closed, assigned to emanuele-f

[2019-05-22 09:31] simonemainardi commented on #2214
This has now been moved to nProbe and libebpfflow https://github.com/ntop/libebpfflow.

ntopng receives eBPF events via ZMQ and has no builtin eBPF support.

[2019-05-22 09:31] #2214 closed, assigned to nobody

[2019-05-22 09:32] simonemainardi commented on #2213
eBPF been moved to nProbe and libebpfflow https://github.com/ntop/libebpfflow.

ntopng receives eBPF events via ZMQ and has no builtin eBPF support.

[2019-05-22 09:32] #2213 closed, assigned to nobody

[2019-05-22 09:44] simonemainardi commented on #1985
ntopng now features a 'count' for alerts, which serves to group together equal alerts. This also has the benefit of mitigate the number of alerts generated so for now we believe there is no longer need to change the old alerts purge.

![image](https://user-images.githubusercontent.com/3397663/58164724-a8257600-7c86-11e9-959d-a2aa55828862.png)

[2019-05-22 09:44] #1985 closed, assigned to nobody

[2019-05-22 09:45] simonemainardi commented on #1808
Individual tickets for the remaining alerts are open.

[2019-05-22 09:45] #1808 closed, assigned to nobody

[2019-05-22 09:47] cardigliano commented on #2592
Implemented

[2019-05-22 09:47] #2592 closed, assigned to emanuele-f, cardigliano

[2019-05-22 10:21] emanuele-f opened #2604 "nEdge suggested improvements"
A client suggested the following improvements on nEdge:

- Show physical interfaces statistics, e.g. in router mode show byte sent/recv per WAN
- Implement monthly and weekly quotas via a dropdown on the protocol/category (choose daily/monthly/weekly)
- Make hello.ntop.org vendor configurable
- hello.ntop.org not working in router mode
- List of active DHCP leases in router mode
- Inside "Gateway

[2019-05-22 10:44] emanuele-f commented on #2504
After review, this is the list of changes to make:
- Add a new host timeseries which shows sent udp traffic unicast vs non-unicast
- Add l4 timeseries in the interface

[2019-05-22 12:39] simonemainardi commented on #2043
now part of #2604

[2019-05-22 12:39] #2043 closed, assigned to nobody

[2019-05-22 12:42] Netw0rkGuy commented on #2603
Thank you. Since version 3.8.190522-5591 the list is populated again.

[2019-05-22 15:49] emanuele-f commented on #2504
UDP breakdown implemented in 461ee43e16671d604e72a47ba3cbdd9476efdc41

[2019-05-22 15:58] simonemainardi commented on #1978
@lucaderi @Netw0rkGuy this issue is now implemented.

An extra preference under the "Network Interfaces" page is available as of the latest ntopng 3.9

![image](https://user-images.githubusercontent.com/3397663/58189478-dd4bbb80-7cba-11e9-8403-4b05383e8729.png)

You just have to turn it to ON to make sure the heuristic described above is applied.

@Netw0rkGuy please, give it a try and let me know.

[2019-05-22 15:58] #1978 closed, assigned to simonemainardi

[2019-05-22 16:24] ShagoY opened #2605 "Changing the edition?"
Probably stupid question, but when you install Ntopng using the packages manager under Pfsense/OPNSense and even with the junquera docker, you automatically end up with the "Community Edition".
As a result, and unless I am mistaken, we do not have the possibility of having a "System Id" for the registration of the license.

I read the doc/faq but I didn't find anything about it....

Any help?

[2019-05-22 17:24] simonemainardi commented on #2605
this is correct. Currently, there's no support for Pfsense/OPNSense for the professional / enterprise versions. Only community is available there.

[2019-05-22 17:24] #2605 closed, assigned to nobody

[2019-05-22 17:53] cardigliano commented on #2349
Implemented per-interface toggling of alerts for state change and packet drops

[2019-05-22 18:11] emanuele-f commented on #2504
Interface L4 stats implemented in 89f6544524a2f24bb4739108aef67dbb2d263a02

[2019-05-22 18:11] #2504 closed, assigned to emanuele-f

[2019-05-23 08:46] jean-christophe-manciot opened #2606 "[Feature request] Serialization / deserialization of Countries & AS Statistics"
Ubuntu eoan 19.10
ndpi: 2.9.0-1539-53119e7
ntopng: 3.9.190523 - Community Edition

**Runtime preferences**:
![Ntopng Timeseries Settings](https://user-images.githubusercontent.com/13176858/58238392-732d2800-7d47-11e9-8f68-74aa5d639f3d.png)

**AS stats excerpt right before ntopng upgrade**:
![Ntopng AS stats](https://user-images.githubusercontent.com/13176858/58238512-b5ef0000-7d47-11e9-836d-58b926

[2019-05-23 09:03] simonemainardi commented on #2606
need to implement serialization / deserialization of AS stats

[2019-05-23 10:02] emanuele-f commented on #2548
After internal discussion, a possible solution would be to extend the local hosts cache duration to match the timeseries duration (usually 365 days). Such cache would give us all the information needed about the host/mac. However, this would drastically increase the storage size used, but this can be accounted with another setting "Idle hosts max duration", which would purge all the idle hosts dat

[2019-05-23 10:06] emanuele-f commented on #2568
Closing this has no feedback has been received. If you still experience the issue, please open a new issue with screeshot, ntopng version used (`ntopng --version`), and command line options.

[2019-05-23 10:06] #2568 closed, assigned to emanuele-f

[2019-05-23 10:24] cardigliano commented on #2349
Implemented duplex status change alerts

[2019-05-23 10:25] #2349 closed, assigned to cardigliano

[2019-05-23 12:42] emanuele-f commented on #2370
Alerts already display the original host names. For the historical data and traffic report, which resolve the host names during the visualization, a note has been added as suggested.

[2019-05-23 12:42] #2370 closed, assigned to emanuele-f

[2019-05-23 12:58] emanuele-f commented on #2558
It is currently possible to disable flows export for specific interfaces from the interface settings https://www.ntop.org/guides/ntopng/web_gui/interfaces.html#settings . There are implications in raising the maximum interfaces limit right now, I'll mark this as an enhancement.

[2019-05-23 16:58] mmatuska79 commented on #2560
Yes, I have started with fresh configuration and imported the host aliases, interface names and some selected stuff from the previous version and now it works.
It reports strange numbers regarding influxdb disk usage (3,78 GB reported while all influx files on the disk have 2.6 GB), but I will open different issue on that if it persists.
I am sending you current config via email.
Thanks for the su

[2019-05-23 18:58] jean-christophe-manciot opened #2608 "Discrepancies between 1d & 1h timeseries charts"
Ubuntu eoan 19.10
ndpi: 2.9.0-1539-53119e7
ntopng: 3.9.190523 - Community Edition
mysql-server 5.7.26-0ubuntu1

**Max sent in 1 day graph**:
![ntopng 1d chart](https://user-images.githubusercontent.com/13176858/58278671-d4cbb180-7d9c-11e9-992c-09a4604cbdae.png)

**Max sent in 1 hour graph for the same host on the same interface**:
![ntopng 1h chart](https://user-images.githubusercontent.com/131768

[2019-05-24 06:37] lucaderi opened #2609 "Ban nasty hosts"
![image](https://user-images.githubusercontent.com/4493366/58306900-53f0d200-7dfd-11e9-8ed1-5445234d9752.png)

In case hosts are misbehaving and constantly attacking the monitored network (below you can see hosts are insisting in their malicious activities) ntopng has to react:
- in monitoring mode (ntopng), an action must be performed (e.g. send email, call URL etc, multiple options can be set)
-

[2019-05-24 13:41] emanuele-f commented on #2608
Hello, this is expected as ntopng performs sampling to reduce the amount of visualized data. In order to see the actual data you should drill down to the maximum resolution, see this example from pro charts:

![Peek 2019-05-24 15-38](https://user-images.githubusercontent.com/5488003/58331742-4f421300-7e29-11e9-9e04-d5c8732a74e3.gif)

[2019-05-24 14:00] emanuele-f commented on #2600
This can happen if the interface had too many drops before the restart and still has too many drops after the restart. We don't release alerts during startup/shutdown so this is feasible

[2019-05-26 09:00] jean-christophe-manciot commented on #2608
On the community edition, the zoom you perform with your mouse does not work: it leads to tn empty graph.

[2019-05-26 13:10] mmatuska79 commented on #2560
Just FYI for anybody having the same problem with inaccurate influxdb disk usage numbers - I have found out why. The disk usage numbers are now correct.

When starting the "ntopng" influx database again from scratch, you have to:
1/ drop the "ntopng" database in influxdb (I did that before but it is not enough)
2/ remove the associated fields in the "_internal" database in influxdb as well

Since

[2019-05-26 13:15] emanuele-f commented on #2560
Thank you for the comment! I think this will help other users too.

[2019-05-26 16:36] #2608 closed, assigned to nobody

[2019-05-27 11:09] emanuele-f commented on #2606
Countries serialization implemented in 8fcce457c99c45694288c4c5790037d33e84216c .

[2019-05-27 12:45] emanuele-f commented on #2523
Please check out https://github.com/ntop/ntopng/commit/07702712187347ef448a14647d051c223755b4cd

[2019-05-27 12:46] emanuele-f commented on #2482
Please check out https://github.com/ntop/ntopng/commit/07702712187347ef448a14647d051c223755b4cd

[2019-05-27 12:47] emanuele-f commented on #1125
Please check out https://github.com/ntop/ntopng/commit/07702712187347ef448a14647d051c223755b4cd

[2019-05-27 12:47] emanuele-f commented on #479
Please also check out https://github.com/ntop/ntopng/commit/07702712187347ef448a14647d051c223755b4cd

[2019-05-27 16:29] emanuele-f commented on #2600
Closing as the user reported that the alert was correctly closed after some time

[2019-05-27 16:29] #2600 closed, assigned to simonemainardi

[2019-05-28 06:52] jean-christophe-manciot commented on #2606
Nothing has changed regarding the fact that the countries & AS stats are reset at each package upgrade.

[2019-05-28 07:23] zimbawe998 opened #2611 "Automatically Delete Alert older than"
Some times there are too many alert to aknowledge or to check.
It could be appreciated to auto delete alert older than a specific time period specified on the preferences -> Alert page

[2019-05-28 07:46] zimbawe998 opened #2612 "SSL Protocol alarm"
It could be interesting to generate alert whan ntopng see weak SSL protocols like SSLv1, SSLv2, SSLv3, TLS 1.0, TLS1.1.
And it could be very very appreciated to filtering flow base on the previuos protocols, and not grouping on a SSL group.

[2019-05-28 08:00] emanuele-f commented on #2606
Please try with an upgrade from the current fixed version to the next one (e.g. the tomorrow version)

[2019-05-28 08:01] emanuele-f commented on #2612
Related to #2514

[2019-05-28 08:03] emanuele-f commented on #2611
Please note that the Alerts page already has a button "Alerts to Purge: older than x minutes". Further alerts settings can be set from the "Alerts Retention" preferences

[2019-05-28 08:40] emanuele-f commented on #2566
Implemented in 1c9a4d34619cafb88498d86bb2b43d6da89a16d6

![2019-05-28_10-21](https://user-images.githubusercontent.com/5488003/58463881-333dba80-8124-11e9-9152-5203c11ef614.png)

![2019-05-28_10-21_1](https://user-images.githubusercontent.com/5488003/58463885-35077e00-8124-11e9-90ec-f38e736d5cb3.png)

[2019-05-28 08:40] #2566 closed, assigned to emanuele-f

[2019-05-28 08:46] twistybin opened #2613 "How can change interface network card"
Hi, I have map network with pfsense:
VLAN :vmx1(1,10,20,30)
WAN:em0,em1
After I install ntopng v3.9 on Ubuntu (VLAN:10,em32: 11.11.11.100), It only show em32, I need It show all of interface in vmx1

How can I change it ??

[2019-05-28 08:47] zimbawe998 commented on #2611
Thanks Emanuele. We thought to auto delete older alarm after some days/month.
This option is usefull if you want to see errors starting from now but the auto deletion is usefull to keep in memory only a small range of alarm to see analyse trending. On some installation we see more than 14k alarm.... ok thanks, but user, in this case, purge all of them. It's best to mantain a Alarm Windows History

[2019-05-28 08:51] emanuele-f commented on #2613
Usually you need to add the `-i=vmx1`option to the ntopng configuration file, see https://www.ntop.org/guides/ntopng/how_to_start/configuration_file.html . I don't know if this is applicable to pfsense but we dont' support it.

[2019-05-28 08:51] #2613 closed, assigned to nobody

[2019-05-28 10:11] emanuele-f commented on #2184
Here is an analysis of the possible ways to fix this for InfluxDB. This is focused on the hosts.

## Extraction-time solutions
1. `fill(previous)`: it fills the missing points with the previous value. There are two problems though: this only applies to the visualized time range; new host will still have nil values.
2. `fill(0)`: it fills the missing points with 0. This could only be applied if we

[2019-05-28 12:40] emanuele-f commented on #2570
@zimbawe998 we will only show the top queries performed by an host, are you ok with this? Please note that you can currently use the nIndex flows view to show all the DNS queries

[2019-05-28 12:51] emanuele-f commented on #2571
The proposed implementation is to add a new nDPI category, e.g. "Antimalware", and avoid generating DNS alerts for flows of such category. Such category can be edited as a standard category from the ntopng gui.

[2019-05-28 13:35] emanuele-f commented on #2571
@zimbawe998 please comment https://github.com/ntop/nDPI/issues/710 and provide a list of domain/rules which should be ignored

[2019-05-28 15:26] #2184 closed, assigned to simonemainardi, emanuele-f

[2019-05-28 17:22] jean-christophe-manciot commented on #2606
I tried with 9252ead, which is 2 commits downstream from 8fcce45.

[2019-05-28 17:41] emanuele-f commented on #2606
If you manually restart the ntopng service with `sudo systemctl restart ntopng`, are counters properly restored?

[2019-05-28 17:46] jean-christophe-manciot commented on #2606
It has the same effect as an upgrade: all countries & AS counters are lost (reset).

[2019-05-28 20:16] StewAlexander-com opened #2614 "Traffic Report Application Breakdown not showing"
![image](https://user-images.githubusercontent.com/48565067/58508909-3f953800-8163-11e9-937c-a3435e75e2ea.png)

Do not see Application Breakdown under the traffic report menu option

Is this a bug, or is this resolvable via some configuration change?

3.8.190516 - Enterprise Edition
Ubuntu 18.04.2 LTS
nDPI: 2.8.0-1457-003547a
cURL: 7.58.0

[2019-05-28 20:23] StewAlexander-com opened #2615 "No hosts by Operating System, possibly related to bug #1994?"
![image](https://user-images.githubusercontent.com/48565067/58509339-52f4d300-8164-11e9-8b4e-cb8621b20b69.png)
![image](https://user-images.githubusercontent.com/48565067/58509385-728bfb80-8164-11e9-8a82-a1f82725dbe4.png)

Under "Hosts by Operating System" it show "no results found"

Is this something wrong with my configuration, or is this a bug (perhaps related to the earlier bug ID #1994)?

[2019-05-28 20:41] StewAlexander-com opened #2616 "Hosts -> All Hosts -> Click on any host link> Graph is empty"
![image](https://user-images.githubusercontent.com/48565067/58510202-3eb1d580-8166-11e9-8288-ee56c1acd347.png)

When I select hosts I do not often see a graph, is this a configuration issue, or off by design?

Also under the same Hosts menu -> Click on a host -> Active Flows, "no results found"

Is this a misconfiguration, or a bug?

[2019-05-28 20:54] StewAlexander-com commented on #2614
Chrome Inspector Console showing:

[code]

----

Uncaught TypeError: Cannot read property '1' of undefined
    at stack (d3.v3.js:6700)
    at SVGGElement.<anonymous> (nv.d3.js:17747)
    at d3.v3.js:8869
    at d3_selection_each (d3.v3.js:968)
    at Array.d3_transitionPrototype.each (d3.v3.js:8867)
    at Array.chart (nv.d3.js:17721)
    at Array.d3_selectionPrototype.call (d3.v3.js:975)
    at

[2019-05-29 07:37] emanuele-f commented on #2615
Have you selected interface "eth0" from the Interfaces menu? Os detection should not work when capturing from nProbe

[2019-05-29 07:44] emanuele-f commented on #2616
Graphs are only shown for "local" hosts (the ones with green badge) and can configured here https://www.ntop.org/guides/ntopng/basic_concepts/timeseries.html#timeseries-configuration . Can you post a screnshot of the empty graph? If you are capturing from nProbe, flows timeout may be too low and you can't see active flows. You can increase flows timeout from the ntopng cache preferences.

[2019-05-29 07:48] emanuele-f commented on #2606
An empty list of countries and AS is normal during startup, this happens with all the dynamic elements in ntopng (hosts, networks, as, ...). However, when the country appears again (some traffic to/from it is seen by ntopng) its counters will start from the last serialized value

[2019-05-29 08:00] emanuele-f commented on #2614
This is a bug. Can you provide web access to your ntopng gui to inspect it? If so, please send me the credentials to faranda@ntop.org .

[2019-05-29 08:14] jean-christophe-manciot commented on #2606
As I said multiple times, it's not what happens:
**Some countries stats before restart**:
![Some Countries before restart](https://user-images.githubusercontent.com/13176858/58540776-55a20780-81fa-11e9-806a-08f4ce97400e.png)
**Countries stats after restart**
![Countries after restart](https://user-images.githubusercontent.com/13176858/58540841-766a5d00-81fa-11e9-88ac-b857a7cd40a1.png)

[2019-05-29 08:43] emanuele-f commented on #2606
Is the traffic column restored correctly?

Edit: "seen since" restore fixed in b5ce655cdeaf1dcb80c0a01707c2fd2b01b58f2d .

[2019-05-29 12:32] StewAlexander-com commented on #2614
I can share my screen through a tool such as teamviewer, if we can schedule a time to videoconference, I am on US Eastern Daylight Time (GMT-4)

Otherwise, I can provide screen captures, logs, configurations, output of any commands, etc you or your colleagues desire to collect.

[2019-05-29 12:34] StewAlexander-com commented on #2615
Yes...

At the moment nProbe per the config file is accepting traffic from the loopback address, is this wrong?

[2019-05-29 12:41] StewAlexander-com commented on #2616
I see, then it appears to be working as designed.

Either the graph icon is unavailable, or if it is, the graph is showing information

I am closing this as answered, thank you

[2019-05-29 12:41] #2616 closed, assigned to nobody

[2019-05-29 12:43] StewAlexander-com commented on #2615
![image](https://user-images.githubusercontent.com/48565067/58558046-cf7fc400-81ed-11e9-8ea4-0f1431d2b144.png)

[2019-05-29 12:53] StewAlexander-com commented on #2614
![image](https://user-images.githubusercontent.com/48565067/58558440-da872400-81ee-11e9-9970-029e73088c72.png)

Would this work behind a firewall?

We are not going to expose our ntopng to the outside world

[2019-05-29 12:53] emanuele-f commented on #2614
Yes, it will work.

[2019-05-29 12:55] StewAlexanderACC commented on #2614
[n2n_assistance.zip](https://github.com/ntop/ntopng/files/3232516/n2n_assistance.zip)

[2019-05-29 12:56] emanuele-f commented on #2614
Please turn off, then on again, then send me via email as this is confidential. faranda@ntop.org

[2019-05-29 12:56] StewAlexander-com commented on #2614
Very well, thank you

[2019-05-29 13:00] StewAlexander-com commented on #2614
Sent via email

[2019-05-29 13:05] StewAlexander-com commented on #2614
Please let me know when I can disable this, as it is something we do not want enabled for awhile

[2019-05-29 13:18] StewAlexander-com opened #2617 "Unless I set the alert thresholds very high, I get thousands of flood messages"
I am not sure this is working as designed, but unless I set the thresholds very high I am getting thousands of alert messages like these:

![image](https://user-images.githubusercontent.com/48565067/58560084-59ca2700-81f2-11e9-8a85-13a4173face1.png)

At the moment my thresholds are large enough not to get thousands of these messages,, but I was wondering, if the defaults for these alerts are set f

[2019-05-29 13:23] emanuele-f commented on #2614
No mail received so far

[2019-05-29 13:55] StewAlexander-com commented on #2614
Unbeknownst to me our email servers block any outgoing zip files, as such emailed you a private Google Drive link to a folder with the files in it

[2019-05-29 13:55] StewAlexander-com commented on #2614
Please let me know if you receive the link, thank you

[2019-05-29 15:39] StewAlexander-com commented on #2614
Interfaces is back up, after correcting permissions issues (thank you), but the application breakdown is still missing

![image](https://user-images.githubusercontent.com/48565067/58570683-6ce6f200-8206-11e9-9d25-b225200d3abf.png)

Unless this data takes awhile to collect before anything is shown?

[2019-05-29 15:45] StewAlexander-com opened #2618 "WARNING: Use sudo ethtool -K eth0 gro off gso off tso off"
Seeing these errors, but typing anything appears to do nothing unless ntopng is stopped, perhaps add this to the instructions?

Not sure its doing anything either after entering the requested command, is there a way to confirm?
[code]

[2019-05-29 16:38] StewAlexander-com commented on #2614
As I only had categories enabled for L7 timeseries answers change the ones I could to "both", did not have an immediate effect on the ntopng traffic report application breakdown

[2019-05-29 16:46] StewAlexander-com commented on #2614
After fixing permissions and setting the preferences to "both" instead of "per category" finally the Application Breakdown is showing information

![image](https://user-images.githubusercontent.com/48565067/58575301-bee04580-820f-11e9-829f-31d57029f9d4.png)

[2019-05-29 16:48] StewAlexander-com commented on #2615
Even with interface set to eth0 the "Hosts Per Operating System" is showing "results not found", what information can I provide assist?

[2019-05-29 17:46] emanuele-f commented on #2615
We need to check this as in your case you have active local hosts with an OS set but still no results in the OS page

[2019-05-29 17:48] emanuele-f commented on #2614
Great. Since this is a recurrent issue, I'll add the instructions to fix this in the docs

[2019-05-29 18:00] StewAlexander-com commented on #2615
Ok, please let me know what you would like me to provide - I have turned remote access off, but if you need this I can re provide the details on the google drive link I provided earlier

[2019-05-29 21:34] StewAlexander-com opened #2619 "No graph for snmp host, although it is a switch with plenty of traffic"
I should see a lot of traffic for a router, but instead it shows nothing

![image](https://user-images.githubusercontent.com/48565067/58593054-f06d0700-8237-11e9-8469-715b48d0d410.png)

[2019-05-30 02:53] twistybin opened #2620 "Export All Host with duration time per Application"
Hi, I need to export data to analytic on Power BI, but I have a problem.
When I export JSON Data by Local, I cannot find value.facebook or value.google with duration time, Send/Receive.
I need export JSON data by Local same Single. Because on Single has column per Application with duration time.
![image](https://user-images.githubusercontent.com/43060473/58605029-ac721480-82c0-11e9-9be7-7a07edded2

[2019-05-30 06:57] jean-christophe-manciot commented on #2606
with 3.0-3581-g66e26030 (a few commits ahead from b5ce655):
- same issue with countries & AS stats: 'hosts' and 'seen since'  are reset after restart
- the traffic stats are fine, except for another issue unrelated to the current one

[2019-05-30 08:25] emanuele-f commented on #2620
In order to do this, you need to perform multiple Single requests. We cannot return the nDPI data when you select "All Local" because it would be too much information for a single request.

[2019-05-30 08:25] #2620 closed, assigned to nobody

[2019-05-30 08:33] emanuele-f commented on #2606
"3.0-3581-g66e26030" is not a release version by us. The issue on the "seen since" has already been solved in https://github.com/ntop/ntopng/commit/b5ce655cdeaf1dcb80c0a01707c2fd2b01b58f2d . It can be verified by just running ntopng from cli, making a clean shutdown, and starting it again. The "hosts" column is dynamic so it depends on the currently active hosts and cannot be saved/restored. You m

[2019-05-30 08:35] emanuele-f commented on #2619
Please check out `sudo journalctl -u ntopng -f` while you reload the ntopng page, can you see errors in the log?

[2019-05-30 08:37] emanuele-f commented on #2618
If you get a message like `Invalid packet received [len: 65549][max len: 65535]` then you have to use ethtool. You should not see that message again once you properly disable TSO/GRO

[2019-05-30 08:43] emanuele-f commented on #2617
The exact thresholds are specific to your network and hosts. For example, if you have a host which provides a service (e.g. a DNS or HTTP server) then it can have an high number of flows. So you have to know your network in order to set proper thresholds. We want to extend the alerts to be more dynamic and maybe find a baseline for a network to detect anomalies but this will take time. Static thre

[2019-05-30 08:43] #2617 closed, assigned to nobody

[2019-05-30 08:56] twistybin commented on #2620
So How can I write multiple Single request.
I have about 250 devices, can you write example for perform multiple Single requests ?
Thanks.

[2019-05-30 09:11] emanuele-f commented on #2620
You can perform a single "All" request, then parse the json to extract the active hosts, then iterate and perform many Single requests. This is just standard json parsing

[2019-05-30 09:57] emanuele-f opened #2621 "Operating System view is inconsistent"
The "Operating System" view only shows partial results. This is caused by the NetworkInterface::sortHosts function which only takes into account the Host::os. However, the gui also exposes the Host Mac address os, which is of type OperatingSystem. Such field is ignored by NetworkInterface::sortHosts.

First of all, we have to fix where the OS information is stored:
1. If Host.isBroadcastDomainHost

[2019-05-30 09:58] emanuele-f commented on #2615
This is a bug due to an internal inconsistency, see #2621 .

[2019-05-30 09:58] #2615 closed, assigned to nobody

[2019-05-30 10:13] jean-christophe-manciot commented on #2606
Of course it is; you are just unaware of that feature::
[code]
Again, the issue on the "seen since" has NOT already been solved. Saying otherwise won't solve it.

The ```--sticky-hosts``` has nothing to do with the facts that the hosts stats are reset at each restart.
For some reason, you are reluctant to accept the fact that all countries & AS stats are reset at each ```system restart ntopng``` a

[2019-05-30 10:35] emanuele-f commented on #2614
Documented in https://github.com/ntop/ntopng/commit/9b1eff25830ef3ed24a93f3c719b0c9eba405ec6

[2019-05-30 10:35] #2614 closed, assigned to nobody

[2019-05-30 12:27] StewAlexander-com commented on #2619
I keep seeing this:

May 29 13:17:00 ntopng ntopng[9448]: [NetworkInterface.cpp:2011] WARNING: If you have TSO/GRO enabled, please disable it
May 29 13:17:00 ntopng ntopng[9448]: 29/May/2019 13:17:00 [NetworkInterface.cpp:2011] WARNING: If you have TSO/GRO enabled, please disable it
May 29 13:17:00 ntopng ntopng[9448]: [NetworkInterface.cpp:2013] WARNING: Use sudo ethtool -K eth0 gro off gso off t

[2019-05-30 12:46] StewAlexander-com commented on #2619
I have used the `sudo ethtool` command over a dozen times, appears to do exactly nothing, because the messages come back.

I've tried stopping ntopng first, then issuing the command, does nothing.

ntopng is running on a ProxMox KVM

Network Driver details:
[code]

Operating System details:
[code]

Netstat statistics
[code]

[2019-05-30 12:47] StewAlexander-com commented on #2619
Do you happen to know how to turn off the requested networking stuff on a KVM?

[2019-05-30 13:17] StewAlexander-com opened #2622 "Local / Remote, Local Networks not showing anything under traffic report"
__Local / Remote__  and __Local Networks__ panels under the ***Traffic Report*** menu show nothing:

![image](https://user-images.githubusercontent.com/48565067/58634994-b6911480-82ba-11e9-8cd3-2bee4a065043.png)

Google Inspector shows this:
[code]

Is this a configuration issue, or is this a bug?

[2019-05-30 13:20] cardigliano commented on #2223
Implemented

[2019-05-30 13:20] #2223 closed, assigned to cardigliano

[2019-05-30 13:32] StewAlexander-com opened #2623 "DHCPv6/DNS/HTTP/ICMP/MDNS/NetBIOS/NetFlow/SNMP/ etc panels under the Traffic Report show nothing"
The ***Application Breakdown*** panels under the ***Traffic Report*** menu show no graph, although they report total traffic

![image](https://user-images.githubusercontent.com/48565067/58635992-446dff00-82bd-11e9-958f-e31fbca76b8b.png)

**Runtime Status**
![image](https://user-images.githubusercontent.com/48565067/58636218-cc540900-82bd-11e9-8d92-0bc1c05e148f.png)

[2019-05-30 13:43] StewAlexander-com opened #2624 "Feature Request: Export of All Hosts as a CSV document"
There doesn't appear to be a way to export the the "All Hosts" page under the **Hosts** menu as a CSV document, this would be a nice feature to have for reporting

[2019-05-30 14:06] emanuele-f commented on #2618
@cardigliano the user reports that the message still appears after running ethtool, do you have any ideas? Here is the some information from the user:

ntopng is running on a ProxMox KVM

Driver details:
support@ntopng:~$ ethtool -i eth0
driver: virtio_net
version: 1.0.0
firmware-version:
expansion-rom-version:
bus-info: 0000:00:12.0
supports-statistics: no
supports-test: no
supports-eeprom-access

[2019-05-30 14:07] cardigliano commented on #2618
Please provide: ethtool -k eth0

[2019-05-30 14:10] emanuele-f commented on #2623
Please update to latest stable before checking this again. Can you see javascript errors?

[2019-05-30 14:13] emanuele-f commented on #2619
I've reopened the previous issue for the kvm stuff. Regarding this issue, is the realtime traffic of the host correct?

[2019-05-30 14:14] emanuele-f commented on #2622
Please update to the latest version and recheck this

[2019-05-30 16:06] StewAlexander-com commented on #2618
Here:
[code]

[2019-05-30 16:08] StewAlexander-com commented on #2619
yes

[2019-05-30 16:10] cardigliano commented on #2618
@StewAlexanderACC could you send us a few more lines from the trace? Are you getting a message like "Invalid packet received"?

[2019-05-30 16:19] StewAlexander-com commented on #2623
After using `sudo apt-get upgrade` and it installing the latest release on the repo I see the following:

![image](https://user-images.githubusercontent.com/48565067/58647080-c4539380-82d4-11e9-9227-27b89ca8ca7d.png)

I still don't see any graph under the Application Breakdown panels of the traffic report

![image](https://user-images.githubusercontent.com/48565067/58647219-07156b80-82d5-11e9-9e31

[2019-05-30 16:25] StewAlexander-com commented on #2618
This where I am seeing the warning, and yes I am getting `invalid packet received` see below ...
[code]

[2019-05-30 16:32] StewAlexander-com commented on #2622
Used `sudo apt-get upgrade` to install latest version of ntopng, from about menu:

![image](https://user-images.githubusercontent.com/48565067/58647909-88213280-82d6-11e9-8e56-57242ef462fe.png)

I still do not see Local/Remote or Local Networks panels with a graph, just total traffic only in writing

Here is my Filter Report:

![image](https://user-images.githubusercontent.com/48565067/58648048-d0

[2019-05-31 09:17] cardigliano commented on #2618
This should not happen with your offload settings as GRO/LRO seem to be off..
Any chance we can ssh to this system to debug it perhaps? Thank you.

[2019-05-31 09:31] emanuele-f commented on #2622
Please check out the new stable release, which will be available in one hour.

[2019-05-31 09:33] emanuele-f commented on #2623
Let's continue the discussion about this in #2622