[2020-11-21 16:49] #4584 closed, assigned to simonemainardi

[2020-11-21 16:51] simonemainardi commented on #4056
This is now implemented in the infrastructure dashboard page.

[2020-11-21 16:51] #4056 closed, assigned to lucaderi, gabryon99

[2020-11-21 18:34] rreiner opened #4770 "Geolocation map doesn't display in Dark theme"
Geolocation is working correctly with standard (light) display theme; **but** with Dark theme enabled the map is not displayed (although host location indicators are still shown, on a solid grey background)

(ntopng Community v.4.3.201119 )
![image](https://user-images.githubusercontent.com/12399329/99884698-353fe700-2bfe-11eb-9104-3aba67bed7f2.png)

[2020-11-22 05:23] Zathiel commented on #4770
Hello @gabryon99

That's the issue that i have talk to you on discord

I confirm that this is working in standard (light) display but not in dark theme

Regards

[2020-11-22 05:30] Zathiel opened #4771 "Missing or expired SSL certificate"
Hello Ntopng team,

Please find in attachment an SSL certificate issue when we click on EULA

![image](https://user-images.githubusercontent.com/26553418/99895936-0ec88d00-2c8c-11eb-8405-d34b3bd39143.png)

Regards

[2020-11-23 07:19] andiyk commented on #4717
Ok. Is it possible to implement the Priority of the Name Resolution in the Settings? I believe the Name Resolution to DHCP Names is great for small (Home Networks), but for midsize/big Networks (with working lokal DNS Server), it should be resolved to the DNS Name.
The problem was noticed as i see the "Top Local Talkers" on the Dashboard. All Entries there was unusable.

[2020-11-23 08:35] hhs-itservices commented on #4755
Hi @cardigliano,
Here is the n2disk configuration file for each interface
/etc/n2disk$ cat n2disk-enp1s0f0.conf
[code]
/etc/n2disk$ cat n2disk-enp1s0f1.conf
[code]

[2020-11-23 11:34] cardigliano commented on #4755
Could you check your ZC license for enp1s0f0 and enp1s0f1 ? (Please take a look at pfcount -L -v 1)
Btw I improved the warning to clearly identify the issue next time.

[2020-11-23 11:51] #4771 closed, assigned to nobody

[2020-11-23 11:52] gabryon99 commented on #4770
It seems that the tiles provider for the map request a registration to use their tilesets. I think the best solution, right now, it's to replace the dark map with the default one offered by OpenStreetsMap.

[2020-11-23 11:55] lucaderi opened #4772 "Auto-add recipient when defined"
As of today when a new recipient is defined, it must be added by hand to all pools. While sometimes a recipient should be added only to some of them, usually people want to add it to all of them without having to make a cumbersome click sequence.

This is to request the implementation of "add to all pools" dialog when a new recipient is created, so that the user can (in one click) selecting "yes"

[2020-11-23 12:19] Zathiel commented on #4770
as you prefer :) if its work for me its not a problem

Regards

[2020-11-23 12:26] hhs-itservices commented on #4755
$ pfcount -L -v 1
Name	SystemName	Module	MAC	BusID	NumaNode	Status	License	Expiration
lo	lo	pf_ring	00:00:00:00:00:00	0000:00:00.0	-1	Up	NotFound	0
enp9s0	enp9s0	pf_ring	84:B8:02:8B:BA:62	0000:09:00.0	0	Up	NotFound	0
enp10s0	enp10s0	pf_ring	84:B8:02:8B:BA:63	0000:0A:00.0	-1	Up	NotFound	0
enp19s0	enp19s0	pf_ring	84:B8:02:5B:B7:EB	0000:13:00.0	0	Up	NotFound	0
enp20s0	enp20s0	pf_ring	84:B8:02:5B:B7:E

[2020-11-23 13:19] cardigliano commented on #4755
You need ZC licenses, they should be installed under /etc/pf_ring/MAC

[2020-11-23 13:58] cardigliano commented on #4773
@NogNeetMachinaal you should be able to see one more column in the stats page as you can see in the enclosed picture, if that's not the case, we need to fix this page. Please check again.
<img width="1225" alt="Screen Shot 2020-11-23 at 14 57 22" src="https://user-images.githubusercontent.com/7548711/99970551-4888b900-2d9c-11eb-8486-849b535f210b.png">

[2020-11-23 14:13] hhs-itservices commented on #4755
Thank you, so we need the following license, 1 Gbit PF_RING ZC Intel [Linux]. Is it one license per 1 Gbit/s NIC?

[2020-11-23 14:18] cardigliano commented on #4755
Yes, that for 1 Gbit Intel interfaces, you need one for each interface

[2020-11-23 15:24] gabryon99 commented on #4759
I set the limit to 10 seconds. For the infrastructure page see the pro repository.

[2020-11-23 15:55] #4770 closed, assigned to gabryon99

[2020-11-23 16:59] #4427 closed, assigned to MatteoBiscosi

[2020-11-23 17:00] #4743 closed, assigned to MatteoBiscosi

[2020-11-23 18:01] simonemainardi commented on #4759
still not working

![image](https://user-images.githubusercontent.com/3397663/99998041-56e7cc80-2dbe-11eb-9450-d0197cbf4cce.png)

[2020-11-23 18:06] #4761 closed, assigned to nobody

[2020-11-23 18:09] simonemainardi commented on #4754
GRE traffic is detunnelled automatically so I would expect to see the contents of the GRE packets inside ntopng. If this is not the behavior you are experiencing, please attach a pcap so I can check.

[2020-11-23 18:10] simonemainardi commented on #4056
Still need to add the remote search. Reopening.

[2020-11-23 18:12] simonemainardi commented on #4736
User reported the issue is solved and the software has been running smoothly for 4+ days. Fix backported to stable as well.

[2020-11-23 18:12] #4736 closed, assigned to simonemainardi

[2020-11-23 18:15] #4759 closed, assigned to gabryon99

[2020-11-23 18:37] hhs-itservices commented on #4755
Adding ZC license for 1 Gbit/s NIC (1 Gbit PF_RING ZF Intel [Linux]) for each interface/MAC solved the problem.
Thank you for the assistance with this.

[2020-11-23 18:37] #4755 closed, assigned to nobody

[2020-11-23 20:03] albeec13 opened #4774 "Network Discovery causes hang of Docker container"
Previous docker image ntop/ntopng:stable was working fine, but I had an update notification for new stable version (77288b0aad73 docker image hash). Downloaded and installed a new clean container, and now every time I run network discovery, the system stops responding. Since I'm running this on a router on the the LAN interface, this causes the entire router to stop bridging traffic, taking the ne

[2020-11-23 21:14] CyberbreinAirw0lf commented on #4773
I don't remember seeing that - where exactly is this supposed to show up?

[2020-11-23 23:18] VPK-personal commented on #4768
I got it working, thank you @simonemainardi The last one was to use HTTP, not HTTPS with the browser.

I noticed that when I reset all counters at the "Interface" home, it does not reset "Applications" graphs and data. Is there another way to reset the Application statistics?

[2020-11-24 07:59] anust commented on #4334
@simonemainardi  I have added the following

[code]
in the src/Flow.cpp but still not able to save OS filed in ntopng Elasticsearch results. Please tell me where did i miss.

[2020-11-24 08:53] DerAlSem commented on #4695
I'm having the same issue on Ubuntu 20.04

if i echo VERS_MIN and VERS_MAJ
8+dfsg1-2
3

So the problem itself is at line 79. I'm not sure what you want to have there.

[2020-11-24 08:54] cardigliano commented on #4773
It's in the stats page under the Interface menu (same page you posted in the first comment)

[2020-11-24 08:54] simonemainardi commented on #4695
@cardigliano can you please check this?

[2020-11-24 08:56] simonemainardi commented on #4334
Please, submit a pull request so that we can review it

[2020-11-24 09:04] cardigliano commented on #4695
@DerAlSem I am pushing a fix for this. Just to make sure, could you echo $PREV_VERSION ?

[2020-11-24 09:07] simonemainardi opened #4775 "[Regression] Ability to delete active interface data"
Commit 2c79225adf2c4c7a80e528f98398f6dc1b4182ff removed the possibility of deleting data for the active interface

Please, re-add this possibility. Data must be deleted for
- System interface (present)
- Inactive interfaces (present)
- Active interface (now missing, requires ntopng restart - check and possibly add a toast as already done for the reset of configuration)

[2020-11-24 09:09] simonemainardi commented on #4768
Thanks for reporting.

Please, check this out for the deletion of interface data, including applications and graphs: https://github.com/ntop/ntopng/issues/4775

[2020-11-24 09:09] #4768 closed, assigned to nobody

[2020-11-24 09:12] DerAlSem commented on #4695
@cardigliano weird thing here. I've commented almost all the block, only leaving the line with enabling system service

[code]

Installation went flawlessly.

Now i'm trying to replicate the issue - and it's gone... echo PREV_VERSION gives nothing as far as i can tell...

[2020-11-24 09:17] cardigliano commented on #4695
Uhm, PREV_VERSION should be set on package upgrade..

[2020-11-24 09:20] cardigliano commented on #4695
Anyway, I pushed a safety check, please let us know if it happens again or you are able to print the PREV_VERSION

[2020-11-24 09:21] DerAlSem commented on #4695
This makes sense.

I had some 3.x version installed manually ages ago. Yesterday i've noticed "please upgrade" message in the web ui.

I've added ntop repo and tried to upgrade. It's actually upgraded, despite the fact having "dpkg exited with error". But still every time i tried to APT UPGRADE it throwed me dpg error.

Then i googled this issue.

Reported to you, REMOVED ntopng, installed it, had

[2020-11-24 09:22] CyberbreinAirw0lf commented on #4773
Nope – no table like that.

Only “something” that is showing several megabytes on syslog messages.

And 500k on dropped messages.

From: Alfredo Cardigliano <notifications@github.com>
Sent: dinsdag, 24 november 2020 9:55
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: Will <will.moonen@it-visibility.net>; Mention <mention@noreply.github.com>
Subject: Re: [ntop/ntopng] Processing syslog messages (#

[2020-11-24 09:45] anust commented on #4334
Done

On Tue, Nov 24, 2020 at 1:56 PM Simone Mainardi <notifications@github.com>
wrote:

--
Best Regards

*Aamina Hassan*
NUST,Pakistan

*"Only dead fish go with the flow**!"*            *Andy Hunt*

[2020-11-24 10:18] ghost commented on #4724
i see thanks Luca

[2020-11-24 10:45] sweetrush commented on #1459
did
`sudo apt purge ntopng-data`
Then was able to rerun the install command ntopng and it worked

[2020-11-24 10:54] ThePoshArchitect commented on #4754
Hi Simone,

Please see attached , it seems like the protocol in the tunnel is unknown which is odd.

[ens192_live.zip](https://github.com/ntop/ntopng/files/5589331/ens192_live.zip)

[2020-11-24 14:05] simonemainardi commented on #4754
There are only three packets with GRE in the pcap. All the rest are untunnelled packets with data that cannot be decoded also by Wireshark.

[2020-11-24 15:05] DrToxo commented on #4762
Not knowing what rrd is/does I can only confirm that historical data is working.  However, we have not been able to view anything on the Network Interfaces: Realtime Traffic window which has all interfaces listed, but not showing any graph.

Thanks

[2020-11-25 01:12] ghost opened #4777 "Network Discovery question"
Hi guys, i was wondering if someone could help me understand how NTOPNG gets the names of devices on my network using "DHCP" as seen in the screen shot below. NTOPNG even gets names from "DHCP" for devices with static assignments.

Please help

I have tried looking at https://github.com/ntop/ntopng/blob/dev/scripts/lua/modules/discover_utils.lua but it doesnt make much sense to me

thanks

[2020-11-25 09:16] DrToxo commented on #4750
Anything I can try to resolve this?

[2020-11-25 14:50] lucaderi opened #4778 "Alert type menu (alert page) must be alphabetically sorted"
The alert page is sub optimal as
- many queries are performed (all tabs insted of just the one displayed)
- there is no reload button
- there is this inconveniente sort issue that needs to be addressed

![Screen Shot 2020-11-25 at 15 46 41](https://user-images.githubusercontent.com/4493366/100242967-aa305b00-2f35-11eb-8e4f-d2b2b2a549ea.png)

[2020-11-25 15:19] simonemainardi commented on #4742
Dump is enabled from the preferences if `is_dump_flows_enabled` is set to true

[2020-11-25 15:20] simonemainardi commented on #4742
example

[code]

[2020-11-25 18:18] simonemainardi commented on #4777
there's no screenshot attached. Please, check.

[2020-11-25 18:18] simonemainardi commented on #4706
[code]

[2020-11-25 21:15] djstarfox opened #4779 "Script Failure (Alerts)"
[AlertCheckLuaEngine.cpp:168] WARNING Script failure[/usr/share/ntopng/scripts/callbacks/interface/flow.lua] [...opng/plugins0/callbacks/interface/flow/country_check.lua:75: attempt to index a nil value (field 'srv')]
[AlertCheckLuaEngine.cpp:168] WARNING Script failure[/usr/share/ntopng/scripts/callbacks/interface/flow.lua] [...png/plugins0/callbacks/interface/flow/unexpected_ntp.lua:75: attempt

[2020-11-26 04:38] ghost commented on #4777
sorry. here it is https://m.imgur.com/a/MNogHNJ

[2020-11-26 08:09] MatteoBiscosi commented on #4779
The problem should be fixed into the latest version of the software, try to upgrade ntopng and let me know if you still have it

[2020-11-26 08:46] simonemainardi opened #4780 "[Regression] Factory reset modal no longer closes"
Clicking on reset is ineffective. The modal stays open

![image](https://user-images.githubusercontent.com/3397663/100327893-283f4100-2fcc-11eb-88d6-b4fbfd8be49c.png)

[2020-11-26 08:56] #4707 closed, assigned to gabryon99

[2020-11-26 09:00] simonemainardi commented on #4777
ntopng has seen DHCP traffic for that host and has dissected the name, this is why you see the name.

Maybe for static assignments you mean assignments configured on the router so that it always assigns the same IP to the same Mac? If this is the case, consider that DHCP still kicks in.

[2020-11-26 09:20] simonemainardi commented on #4775
button added in

![image](https://user-images.githubusercontent.com/3397663/100331891-ff6d7a80-2fd0-11eb-95bd-61ddeeb62416.png)

[2020-11-26 09:20] #4775 closed, assigned to gabryon99

[2020-11-26 09:22] simonemainardi commented on #4717
@lucaderi what do you think about giving priority to DNS over DHCP when chosing the name?

[2020-11-26 10:07] ghost commented on #4777
ok thank you for clarifying this. i appreciate it!

[2020-11-26 10:07] #4777 closed, assigned to nobody

[2020-11-26 12:02] CyberbreinAirw0lf commented on #4773
Where are we on this? Anything?

[2020-11-26 13:25] cardigliano commented on #4773
@NogNeetMachinaal could you provide a screenshot of the interface page with stats please?

[2020-11-26 15:35] #4780 closed, assigned to gabryon99

[2020-11-26 17:48] simonemainardi opened #4781 "[Regression] Several pages broken"
Commit 9d8fded73cb5a94d81bc1d0375202e6f89f5041b breaks the hosts page

![image](https://user-images.githubusercontent.com/3397663/100380839-f227ae80-3017-11eb-8c7d-b26b749f2e24.png)

![image](https://user-images.githubusercontent.com/3397663/100380852-fa7fe980-3017-11eb-9922-805422b28848.png)

[2020-11-26 21:13] CyberbreinAirw0lf commented on #4773
See attached: each of these 2 are taken with ff and full-page.

Is this what you are looking for?

Kind regards – Will

=====

From: Alfredo Cardigliano <notifications@github.com>
Sent: donderdag, 26 november 2020 14:25
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: Will <will.moonen@it-visibility.net>; Mention <mention@noreply.github.com>
Subject: Re: [ntop/ntopng] Processing syslog messages (#4

[2020-11-27 08:01] #4266 closed, assigned to MatteoBiscosi

[2020-11-27 08:05] cardigliano commented on #4773
@NogNeetMachinaal I do not see the screenshots, if you are using your mail client, please go to github

[2020-11-27 09:49] #4781 closed, assigned to gabryon99

[2020-11-27 09:52] CyberbreinAirw0lf commented on #4773
Ok - here they are.

Two images - one with the LAN-stats and one with the syslog-stats; both the complete page.

![lan-stats](https://user-images.githubusercontent.com/64280991/100435580-6a38b780-309e-11eb-9060-11ea5610bf28.jpg)

![syslog-stats](https://user-images.githubusercontent.com/64280991/100435760-ac61f900-309e-11eb-983e-f034db47054d.jpg)

[2020-11-27 10:02] cardigliano commented on #4773
@NogNeetMachinaal please note the scroll bar at the bottom, could you zoom the screen or move the bar to provide the whole page?

[2020-11-27 10:38] #4742 closed, assigned to simonemainardi, gabryon99

[2020-11-27 11:16] lucaderi commented on #4641
![image](https://user-images.githubusercontent.com/4493366/100443593-45e2d800-30aa-11eb-97dd-26a6bf5dc89d.png)
![image](https://user-images.githubusercontent.com/4493366/100443600-4aa78c00-30aa-11eb-89a7-6c00aa917787.png)

@gabryon99 More broken charts

[2020-11-27 11:37] CyberbreinAirw0lf commented on #4773
That is the horizontal scroll bar => nothing more to see when scrolling.

Will post proof in an hour.

From: Alfredo Cardigliano <notifications@github.com>
Sent: vrijdag, 27 november 2020 11:03
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: Will <will.moonen@it-visibility.net>; Mention <mention@noreply.github.com>
Subject: Re: [ntop/ntopng] Processing syslog messages (#4773)

@NogNeetMachinaal <h

[2020-11-27 11:51] HNJBB opened #4782 "ERROR: ntop_snmpv3_batch_get"
Updated to ntopng x86_64 v.4.3.201126.   Log showing this error several times per second.

- 27/Nov/2020 11:39:35 [startup.lua:239] Startup completed: ntopng is now operational
- Nov 27 11:39:35 ntop ntopng[4674]: 27/Nov/2020 11:39:35 [PeriodicActivities.cpp:168] Each periodic activity script will use 2 threads
- Nov 27 11:39:35 ntop ntopng[4674]: 27/Nov/2020 11:39:35 [NetworkInterface.cpp:2738] S

[2020-11-27 11:59] simonemainardi commented on #4782
- remove configured SNMP devices
- re-add them

report

[2020-11-27 12:06] HNJBB commented on #4782
Problem resolved with removing and re-adding as suggested

[2020-11-27 12:06] #4782 closed, assigned to nobody

[2020-11-27 12:18] CyberbreinAirw0lf commented on #4773
Below the "proof" - the scrollbar doesn't go away.
Again - if scrolling to the right there is nothing - other then the right site of the table.

![Networking - Interface LAN](https://user-images.githubusercontent.com/64280991/100448714-07055000-30b3-11eb-9bf5-59600ad2c3d3.png)

![Networking - Interface Syslog](https://user-images.githubusercontent.com/64280991/100448729-0a98d700-30b3-11eb-9943-82d

[2020-11-27 12:48] simonemainardi commented on #4782
thank you

[2020-11-27 13:31] simonemainardi commented on #4779
@djstarfox did you have a chance to try?

[2020-11-27 13:34] lucaderi commented on #4434
We discussed internally that recipient uses is enogh for the time being

[2020-11-27 13:34] #4434 closed, assigned to simonemainardi, gabryon99

[2020-11-27 13:43] simonemainardi opened #4783 "Document REST API for the Infrastructure"

[2020-11-27 13:44] #4706 closed, assigned to gabryon99

[2020-11-28 16:29] djstarfox commented on #4779
No, because the repos for armhf architecture have not been updated with the newest release yet.
ntopng/unknown,now 4.3.201122-12310 armhf

[2020-11-28 18:28] lucaderi opened #4784 "Periodicity should be disabled/hidden with continuous monitoring"
![activemon](https://user-images.githubusercontent.com/4493366/100523273-93953880-31af-11eb-8a4c-7abe7d94ed6a.png)

Continuous monitoring by defininition is continuous, or if you wish periodic free. Hence the periodicity menu should be disabled/hidden

[2020-11-29 07:55] lucaderi opened #4785 "Remove remote assistance"
As the use of tools such as Zoom, TeamViewer, AnyDesk is not pervasive, it is time to remove remote assistance and thus avoid n2n dependency in ntopng

[2020-11-29 11:55] ukunk opened #4786 "nProbe Time Drift"
I'm running Ntopng (Pro licence) and Nprobe on the same device - Raspberry Pi. Time of RPi is sync with Mikrotik router where I collect Netflow data and also run NTP server. I check right sync time with command: timedatectl timesync-status. Time zone is the same on both machines.
I experience very high nProbe time drift which eventually stop collecting the flows and it only helps if I restart npro

[2020-11-29 16:34] simon-rear opened #4787 "Add New Recipient Broken"
Hi, When clicking on the Add button after creating a recipient as per screen shot the button greys out for a few seconds and the form remains without any recipient been added. I'm unable to create alert recipients as a result.

![Screenshot 2020-11-29 163043](https://user-images.githubusercontent.com/75215499/100547747-48872e00-3260-11eb-8a99-cdbad40156a8.png)

[2020-11-30 08:46] simonemainardi commented on #4787
I am unable to reproduce the experienced behavior.

Please, refresh browser caches, then report.

- Browser used
- ntopng version
- Right-click on the page, select inspect element, then also report any JS error or network error the inspector should highlight

[2020-11-30 08:46] simonemainardi commented on #4772
Implemented. Backend implemented in https://github.com/ntop/ntopng/commit/93ef5c08d8fb20b5f4770a036f64984609f5472b

[2020-11-30 08:46] #4772 closed, assigned to simonemainardi, gabryon99

[2020-11-30 08:51] simonemainardi commented on #4784
make sure NOT to hardcode an `if-speedtest-then-` condition.

Correct way to implement is to:
- Check active monitoring `granularities`, e.g., ` scripts/plugins/monitors/network/active_monitoring/measurements/cicmp.lua`, e.g.,

[code]

If the length of `granularities` is ONE, then the periodicity dropdown must be hidden from the ui and the value must be submitted automatically.

[2020-11-30 08:58] simonemainardi commented on #4730
Can't see the button. Is this still a WIP?

[2020-11-30 08:59] simonemainardi commented on #4762
can you please attach a screenshot?

[2020-11-30 09:48] #4586 closed, assigned to simonemainardi, gabryon99

[2020-11-30 09:53] simonemainardi commented on #4754
Closing as there's nothing odd in the ntopng behavior using the submitted file which contains only three GRE-tunneled packets. Reopen as submit a pcap with which the issue can be reproduced if necessary

[2020-11-30 09:53] #4754 closed, assigned to nobody

[2020-11-30 09:58] simonemainardi commented on #4779
new ARM builds in progress. Please, hold 2-3 hours from now and then update.

[2020-11-30 10:05] simonemainardi commented on #4786
when you see the drift message, go to the active flows page, pick one of the newest flows, and then check its first/last seen. Are those times close to the actual ntopng time?

[2020-11-30 10:19] cardigliano opened #4788 "Assert fails on patricia_search_best2"
It seems there is a call to patricia_search_best2 which is failing, causing ntopng to restart, on ntopng 4.2

v.4.2.201125    [Enterprise/Professional build]
GIT rev:        4.2-stable:97c2c7537b7808baf0a22aed19d4eb20924eae61:20201125
Pro rev:        r3332
Built on:       Ubuntu 18.04.5 LTS
Platform:       x86_64
Edition:        Professional

Nov 30 10:04:02 ntopng[23691]: ntopng: src/../third-par

[2020-11-30 10:28] eliassal opened #4789 "ntopng not able to list linux machines (VMs)"
I have a fresh ntopng is on windows 10, it discovers all devices (windows servers and VMs, routers, switches) except the linux machines/Vms (Centos, ubuntu hosts), any idea?
Thanks

[2020-11-30 10:45] simon-rear commented on #4787
Hi Simon, thanks for getting back to me. I have refreshed cache and retried issue persists. I am using Microsoft Edge Version 87.0.664.47 (Official build) (64-bit) and ntopng Community v.4.3.201129, (running on raspbian).  Tried inspecting page but no JS or network errors were highlighted.
![Screenshot 2020-11-30 102537](https://user-images.githubusercontent.com/75215499/100599948-9485b180-32f8-11

[2020-11-30 11:43] simonemainardi commented on #4787
please:

- try and use a different browser
- also check the Network tab of the inspector. You'll see a POST request when you click on ADD. Please, send screenshots for that POST as well, both request and response.

[2020-11-30 11:52] simonemainardi commented on #4789
Discovery works on the layer 2.

Are the linux VMs layer-2-reachable by the ntopng instance? My guess is that they're run on a part of the network which is not in the same broadcast domain.

[2020-11-30 11:58] ukunk commented on #4786
I restarted ntopng and nprobe and checked few flows. In general there're between 1 minute and 2 minute drift between value first/last seen. When I get pop-up "You must synchronize the clock of ntopng and remote probe hosts as the clock drift is too large and this will affect collected flow data", I have to restart nprobe.service in order to get service working again.

[2020-11-30 12:00] simonemainardi commented on #4786
Can you add option --disable-cache to nProbe and report the behavior?

[2020-11-30 12:17] eliassal commented on #4789
They are in the same broadcast domain, ntopng is 192.16.1.19 and linux machines are 192.168.1.11, 192.168.1.51 and so on

[2020-11-30 12:24] simon-rear commented on #4787
Hi, have tried chrome on a another machine and edge from mobile phone and neither work. Did also check Network tab and tried submitting form however no POST, REQUEST, RESPONSE as per attached.
![Screenshot 2020-11-30 120313](https://user-images.githubusercontent.com/75215499/100608269-0d3e3b00-3304-11eb-8658-bb2f0a42784d.png)

[2020-11-30 12:24] eliassal commented on #4789
Here is a ifconfig of one of them

eth0: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
        inet **192.168.1.54**  netmask 255.255.255.0  broadcast 192.168.1.255
        inet6 2a01:e0a:322:14d1:215:5dff:fe01:1d22  prefixlen 64  scopeid 0x0<global>
        inet6 fe80::215:5dff:fe01:1d22  prefixlen 64  scopeid 0x20<link>
        ether 00:15:5d:01:1d:22  txqueuelen 1000  (Ethernet)

[2020-11-30 12:31] eliassal commented on #4789
I did a refresh, and can see the linux but it sees the device type as NAS
![ntopngLinuxNas](https://user-images.githubusercontent.com/8447864/100610640-6613d080-3310-11eb-9d63-d038c664857a.jpg)

[2020-11-30 12:32] DrToxo commented on #4762
Here you go...  Thanks

![image](https://user-images.githubusercontent.com/16386651/100610612-f7cb1000-3307-11eb-8470-0459cd0e1c41.png)

[2020-11-30 12:33] eliassal opened #4790 "Flows Flood"
I am getting alerts every 5 seconds as follows
`28/11/2020 17:00:18    00:50    1    Error     Flows Flood         Host 192.168.1.19 [winForDockerupdated.salam.net] is a flow flooder [1081 > 256 flows sent]`
What is this? is it a risk?
Just discovered that I have 2176 rows in "Alerts" with Severity "Notice", warning, some of them are "Remote to Remote", what all those alerts signification, any url

[2020-11-30 12:37] eliassal opened #4791 "Remote IPs no name only IPs"
In all Hosts, all Remote IPs are not resolved to names, no one has a name in fornt of it, id this normal or am I missing a config param?

![ntopngRemote](https://user-images.githubusercontent.com/8447864/100611162-2bf6fe80-3311-11eb-8a7c-f57dd2662577.jpg)

[2020-11-30 12:40] eliassal opened #4792 "NIC flagged as wireless in all hosts"
I have a desktop which has no wireless card, in All hosts it displayed as wireless
![NicWireless](https://user-images.githubusercontent.com/8447864/100611409-960fa380-3311-11eb-9002-0246b11bdbef.jpg)

[2020-11-30 12:54] simonemainardi commented on #4791
see

[code]

[2020-11-30 12:54] #4791 closed, assigned to nobody

[2020-11-30 13:05] simonemainardi commented on #4789
it's marked as NAS if at least one of the following holds:

- one of the following MDNS services are available: https://github.com/ntop/ntopng/blob/e683509dec0e4fd7575fff60ff5d04415affd0e8/scripts/lua/modules/discover_utils.lua#L331
- if the manufacturer is Synology
- if the hostname contains word 'capsule'
- if the hostname ends with -NAS

Clearly, this is an heuristic. If you feel it requires ex

[2020-11-30 13:05] #4789 closed, assigned to nobody

[2020-11-30 13:08] simonemainardi commented on #4790
Host `192.168.1.19` is creating too many connections and thus you receive the alarm. You can turn the alarm off or set an higher threshold from the user scripts page

![image](https://user-images.githubusercontent.com/3397663/100613785-61055000-3315-11eb-9df6-16a324f0a3a5.png)

Remote-to-remote means "Triggers an alert when a flow has remote hosts as client and server ". You can configure from thi

[2020-11-30 13:08] #4790 closed, assigned to nobody

[2020-11-30 13:10] simonemainardi commented on #4792
Similar to https://github.com/ntop/ntopng/issues/4789#issuecomment-735773738

An host is marked as wifi if the discovery process finds:
- and MDNS service `_airport._tcp.local`
- TP-LINK as manufacturer
- word "airport" in the symbolic host name

Clearly, this is an heuristic. If you feel it requires extension, please, explain or send a pull request.

[2020-11-30 13:10] #4792 closed, assigned to nobody

[2020-11-30 13:11] simonemainardi commented on #4779
ARM packages are out. Please check them out.

[2020-11-30 13:16] eliassal commented on #4790
Again, I have a notification indicating "Too many Floods for ntopng...
![floodflows](https://user-images.githubusercontent.com/8447864/100614567-9e1e1200-3316-11eb-9bf8-c8abb11fe229.jpg)

[2020-11-30 13:17] eliassal commented on #4790
OK, just saw your response

[2020-11-30 13:26] eliassal commented on #4791
Is this something to run in the web gui or command line, in command line I type
ntopng --dns-mode (any number )
I get
Unrecogniuzed option --dns-mode
"Available options ....

[2020-11-30 13:29] eliassal commented on #4789
Non of these 4 conditions are true in my environment

[2020-11-30 13:30] eliassal commented on #4792
Yes it is a TP link NIC, but why?

[2020-11-30 13:41] simon-rear commented on #4787
Hi Simon I've been digging around and found quite a few errors, (extract attached), which appear to be related to notifications.
[SysLog Extract.txt](https://github.com/ntop/ntopng/files/5616219/SysLog.Extract.txt)

[2020-11-30 13:42] simonemainardi commented on #4789
attach a pcap of the mac address while the discovery is being run

[2020-11-30 14:37] simonemainardi commented on #4792
It's an heuristics. You know, TP-LINK builds wireless devices and NICs, so the device is assumed as Wifi. You can change the device type from the host page.

[2020-11-30 14:38] simonemainardi commented on #4791
Check the docs please https://www.ntop.org/guides/ntopng/how_to_start/index.html

[2020-11-30 14:41] gabryon99 commented on #4784
Implemented as suggested by @simonemainardi .

[2020-11-30 14:45] lucaderi opened #4793 "Invalid peer detection in known protocols"
In ntopng (Host.h) there are methods as the one below used to identify a host role

[code]
with companion Flow.cpp code

[code]

Unfortunately if ntopng does not see the first flow packet (or the SYN-ACK and SYN are swapped) the roles are reverted and the SMTP client is set as SMTP server and vice versa.

[2020-11-30 14:46] gabryon99 commented on #4730
A button has been implemented, see the file:
`scripts/plugins/alerts/security/unexpected_new_device/user_scripts/interface/unexpected_new_device.lua`.

Here's a list of parameters used by the button:
 * `input_action_i18n`: `string` = Is the label title show in the button;
 * `input_action_url`: `string` = Is the endpoint for the AJAX request performed by the button;
 * `input_action_confirm`: `bo

[2020-11-30 14:57] Zathiel commented on #4769
@simonemainardi @lucaderi Hello Team,

Can you please take in charge it will be really helpfull for my daily work

Thanks in advance

Regards

[2020-11-30 16:40] cardigliano commented on #4788
A safety check has been added to figure out what is causing this. Waiting for the user to be able to reproduce it..

[2020-11-30 19:46] djstarfox commented on #4779
Wow, that really messed things up.  This new version is now filling the logs faster at about 50x second, with various IP ranges for each host:
[Utils.cpp:3142] ERROR Bad radix tree lookup for 192.168.40.4/32 (prefix len = 32, tree max len = 32)

Also, alerts are piling up because the binary is ignoring my --local-networks setting in the config file.
And, the "Active Flows" page shows "No results f

[2020-11-30 21:06] simonemainardi commented on #4779
@MatteoBiscosi can you please check this out?

[2020-12-01 08:05] lucaderi commented on #4779
@simonemainardi What about this https://github.com/ntop/ntopng/commit/e683509dec0e4fd7575fff60ff5d04415affd0e8  instead? @cardigliano What's your opinion?

[2020-12-01 08:16] cardigliano commented on #4714
Migration has been completed (working on wifi and applications configuration now as next step)

[2020-12-01 08:16] #4714 closed, assigned to simonemainardi, cardigliano

[2020-12-01 08:29] cardigliano commented on #4779
It seems that this build for ARM has been made right in the middle of some change, a new build should solve the issue.

[2020-12-01 09:04] muse117 opened #4794 "first login in and change password is invaild"
Hi, I compile ntopng and first login, But change password is invaild. Couldn't login in. I see print log info.

Script failure [/opt/ntopng/scripts/callbacks/system/housekeeping.lua][.../ntopng/scripts/lua/modules/notifications/recipients.lua:647: attempt to call a nil value (field 'recipient_enqueue')]

[2020-12-01 10:37] lucaderi commented on #4779
@djstarfox Packages are being built. Please try again in one hour.

[2020-12-01 12:45] eliassal commented on #4789
Simon, is this what you are asking for? if not can you please tell me the steps to get the PCAP
![NasNotComp](https://user-images.githubusercontent.com/8447864/100742710-852b6480-33db-11eb-9387-6857ff96f60e.jpg)

[2020-12-01 12:53] eliassal commented on #4789
I try to download the Pcap files but it never ends, please notice that down on the lefthand side that download gets stcu on 24kb and it keeps like this and never ends
![PcapDownNever](https://user-images.githubusercontent.com/8447864/100743495-a476c180-33dc-11eb-9b99-ee80ac9591b7.jpg)

[2020-12-01 13:06] simonemainardi commented on #4789
1. go on the linux machine, then `sudo tcpdump -i <inteface name> -s0 -w capture.pcap`
2. go on ntopng and run a discovery
3. go on the linux machine, stop the command at step 1. and send me the resulting capture.pcap

[2020-12-01 13:08] simonemainardi commented on #4794
Likely, you are not running the compiled version. Please, report  the exact steps you've done to compile and run ntopng.

[2020-12-01 13:23] eliassal commented on #4789
Here you go

[capture.zip](https://github.com/ntop/ntopng/files/5622843/capture.zip)

[2020-12-01 14:49] mwmdc opened #4795 "nprobe fails to start after upgrade"
Hi!

Since 4.2.201125 the nprobe service does not properly start after upgrading the packages with apt on Debian 10. The following appears in the logs:

Dec  1 05:33:06 sl--------- systemd[1]: Starting nprobe extensible NetFlow v5/v9/IPFIX probe/collector for IPv4/v6...
Dec  1 05:33:06 sl--------- systemd[1]: nprobe.service: Current command vanished from the unit file, execution of the command lis

[2020-12-01 17:55] djstarfox commented on #4779
Just deployed 4.3.201201 (12380) and have a good mix of 2-3 Mbps flowing.  Looking much better in the logs.  I'll review again at COB today, and let you know how things look.

[2020-12-01 18:08] simonemainardi commented on #4779
thanks for reporting

[2020-12-01 20:14] simon-rear commented on #4787
Hi I have reinstalled ntopng and this appears to be working must have been something wrong with original install. Thanks for your support though.

[2020-12-01 20:14] #4787 closed, assigned to nobody

[2020-12-01 22:09] janluxemburk opened #4796 "ntopng Logstash Flow dumping"
Hello,
I have tried exporting flows to Logstash and each time I run ntopng, just a couple of flows is exported. When I use TCP, 8 flows get exported, when UDP, it is just one flow.

I am using:
- logstash 7.10.0
- latest ntopng docker:
[code]

Logstash config:
[code]
I am running the docker with:
`docker run -it --rm --name ntopng -p 3000:3000 --net=host ntop/ntopng:stable --disable-login=1 -i ens

[2020-12-02 03:21] muse117 commented on #4794
The problem is probably because I didn't install uglify-es, Now I can log in normally. Sorry, it's my fault

[2020-12-02 03:21] #4794 closed, assigned to nobody

[2020-12-02 13:12] djstarfox commented on #4779
Looks like everything is fixed.  Thanks for the help.

[2020-12-02 13:12] #4779 closed, assigned to MatteoBiscosi

[2020-12-02 14:00] cleverchou opened #4797 "ntopng have no Host Metrics in influxdb"
Deploy ntopng in the pod of the kubernetes platform. In the database influxdb, there is no Host Metrics(for example,host:ndpi), but Interface Metrics existed。

[2020-12-02 16:46] #4784 closed, assigned to gabryon99

[2020-12-02 16:54] simonemainardi opened #4798 "[Regression] Long Dropdowns are hidden"
![image](https://user-images.githubusercontent.com/3397663/100904495-5db1c600-34c7-11eb-8af1-cadca566df88.png)

[2020-12-02 17:03] simonemainardi commented on #4778
issue is partial as flow statuses - shown in the figure - have not been sorted

[2020-12-02 17:11] simonemainardi commented on #3665
Applying a valid license doesn't cause the warning message to disappear fro the header

![image](https://user-images.githubusercontent.com/3397663/100906232-3f4cca00-34c9-11eb-943a-dadd9872af7c.png)

When the license is stored to file, the full base-64encoded license key should be shown in the UI not this

![image](https://user-images.githubusercontent.com/3397663/100906519-8d61cd80-34c9-11eb-8e68

[2020-12-02 17:21] simonemainardi commented on #3665
"license expires in " header does not refresh (footer refreshed instead)

![image](https://user-images.githubusercontent.com/3397663/100907951-36f58e80-34cb-11eb-80dc-8aefd4e0fe2a.png)

[2020-12-02 17:27] simonemainardi commented on #3665
The link which brings to the shop no longer works

![image](https://user-images.githubusercontent.com/3397663/100908680-124de680-34cc-11eb-873c-12bcf2a5465a.png)

[2020-12-02 17:48] simonemainardi commented on #4797
Did you turn on host timeseries from the preferences?

[2020-12-02 17:53] simonemainardi commented on #4798
still not fixed

![image](https://user-images.githubusercontent.com/3397663/100911549-ae2d2180-34cf-11eb-8bcc-899e53282a82.png)

[2020-12-02 18:07] swilkey opened #4799 "New licence not recogised"
Hi,

We've just obtained a licence and generated the licence code and stored it as instructed in linux.  The file has permissions 644 which seems reasonable.  We're running ntopng with a docker image with the following command.

docker run -it -p 3000:3000 -v $(pwd)/ntopng.license:/etc/ntopng.license:ro --net=host ntop/ntopng:stable -i eth0 –network=host

Tried the following diagnostic steps (as r

[2020-12-03 11:21] lucaderi commented on #3665
@gabryon99 Missing items
- Format the license page with a two column table
- Use font of the same size, no mixed styles

[2020-12-03 13:04] astalush opened #4800 "Option to sort within categories and subcategories the ProbeID's"
Could you create categories and subcategories for example I have 200 switchs to supervise and they are sorted with the postal code (37XXX,45XXX,80XXX, etc) and under each code there are others code like 37100, 37200 , 45100,45160, etc. Now I have them like this https://whatis.x264.xyz/images/2fb5d4f426e781468da16de6516900f5.png . And 200 lines are a lot that's why it's easier with categories. And

[2020-12-03 13:24] gabryon99 commented on #4756
Implemented in commit `d54005558c80a6679f377cfe19cfb1403a7c7a28`

[2020-12-03 13:24] #4756 closed, assigned to lucaderi

[2020-12-03 15:31] cardigliano commented on #4799
@swilkey please make sure that ntopng.license is present in the same folder where you are running ntopng (otherwise copy it from /etc/ntopng.license or use /etc in place of $(pwd)). Please also note you are adding –network=host as ntopng parameter (I guess you wanted to add it as docker parameter, before ntop/ntopng:stable.
In short, please try with:

rmdir ntopng.license # this cleanup folders ev

[2020-12-04 02:08] cleverchou commented on #4797
I do so, I found:
The monitored interface  must have an IP address, otherwise, there is no  Host Metric

[2020-12-04 06:52] ukunk commented on #4786
Problem is solved. The issue was missing nprobe licence which manifested as high time drift and eventually stop collecting flows. @simonemainardi thank you for help.

[2020-12-04 07:16] vijaytejak opened #4801 "Historical Flow view."
Hi,
I am using NtopNG M enterprise version.

Can I search and view the historical flows of a device,
Ex:- A device uploaded 10GB of data to 2 IPs, a few days back, I want to view those flows. where can I and what settings do I need to enable.

[2020-12-04 08:34] simonemainardi commented on #4801
Sure. enable nIndex.  See https://www.ntop.org/guides/ntopng/historical_flows.html#

[2020-12-04 08:34] #4801 closed, assigned to nobody

[2020-12-04 08:35] simonemainardi commented on #4786
Thank you for reporting.

[2020-12-04 08:35] #4786 closed, assigned to nobody

[2020-12-04 08:38] simonemainardi commented on #4797
This is not true.

If you want host metrics do as I suggested.

1. Make sure the hosts of interest are local, see option -m
2. Toggle local hosts timeseries to Full if you want to see L7 protocols. This is in the ntopng preferences.

[2020-12-04 08:41] simonemainardi commented on #4800
![](https://whatis.x264.xyz/images/2fb5d4f426e781468da16de6516900f5.png)

![](https://whatis.x264.xyz/images/4de52adb4615e48b98e2248a1ff6b0d6.png)

![](https://whatis.x264.xyz/images/e5ead94db1fc8d286f81ee964d395738.png)

[2020-12-04 08:59] vijaytejak commented on #4801
Thanks a lot, saved my day, now I will first go through the complete documentation.

[2020-12-04 09:02] #4783 closed, assigned to gabryon99

[2020-12-04 09:05] simonemainardi commented on #4798
behavior is awkward.

When dropdown is closed everything is OK

![image](https://user-images.githubusercontent.com/3397663/101144037-0a9b5880-3618-11eb-969c-dbbb7910a394.png)

When the dropdown opens:
1. the footer moves down
2. a lot of empty space is left between the footer and the no results found
3. dropdown titles are all hidden

![image](https://user-images.githubusercontent.com/3397663/1011

[2020-12-04 09:12] vijaytejak commented on #4801
Does Flow dump requires Enterprise Large license?

[2020-12-04 09:41] vijaytejak opened #4802 "L7 contacts not showing?"
I am running ntopng as
ntopng -F --dump-flows, but i am unable to see the flow in historic charts as explained in this Link.

what am I missing?
https://www.ntop.org/guides/ntopng/historical_flows.html#

[2020-12-04 09:44] vijaytejak commented on #4802
I am unable to see Flow dump settings on the runtime preferences page, as shown in this link.
https://www.ntop.org/guides/ntopng/advanced_features/flows_dump.html

[2020-12-04 09:46] #3665 closed, assigned to gabryon99

[2020-12-04 09:47] simonemainardi commented on #4802
show the full configuration used and a screenshot of this page

![image](https://user-images.githubusercontent.com/3397663/101148644-2b66ac80-361e-11eb-9925-07df1cc86efa.png)

[2020-12-04 09:50] simonemainardi commented on #4802
And also the About page.

[2020-12-04 09:51] simonemainardi commented on #4800
please, report a screenshot of the full "About" page, footer included

[2020-12-04 09:54] simonemainardi commented on #4801
Pro license or above is needed.

[2020-12-04 09:55] vijaytejak commented on #4802
got it now, sorry wrong config, thanks for the response.

[2020-12-04 09:55] vijaytejak commented on #4802
pls close this now.

[2020-12-04 09:55] astalush commented on #4800
https://whatis.x264.xyz/images/0279df45aa42748cc4f69e6e98c97aed.png

[2020-12-04 09:59] #4802 closed, assigned to nobody

[2020-12-04 10:30] vijaytejak opened #4803 "Mime information of Historical flow ?"
Can we see MIME data of a flow?

Ex:- If someone downloads a file I need to know about the file type whether it is pdf, exe, mp4, etc.

I am sending all the traffic to ntopng 2nd interface using a port mirror from the switch, is the above possible with this scenario?

[2020-12-04 10:57] vijaytejak commented on #4803
if i use nprobe, can i get the MIME details ?

[2020-12-04 15:45] #4788 closed, assigned to cardigliano

[2020-12-04 20:16] DimaOsoianu opened #4804 "ntopng - memory leak"
Hi

I recently acquired ntopng and I faced issue with memory leak:
I installed on my machine Ubuntu 4 GB Ram and after 4 days, memory usage got 93% and ntopng process was consuming 2.6 G ram.
After that I installed 8 GB RAM in the Ubuntu and started again NTOP and I have enabled Monitoring.
Below is screenshot of Free Memory from Ubuntu.
![NTOP_4 12](https://user-images.githubusercontent.com/36902

[2020-12-05 09:26] vijaytejak opened #4805 "Incorrect L7 Application traffic detection"
I have accessed fast.com, of course, it is hosted by Netflix, but the URLs contain video etc.

can you make any changes to actually identify the Netflix traffic?

The actual video browsing of Netflix is showing under TLS.

![image](https://user-images.githubusercontent.com/14872281/101238932-b1135680-3709-11eb-96cb-aad21be5f91c.png)

[2020-12-05 10:16] eliassal opened #4806 "Ho remove SMB Insecure Version from nDPI alert"
Hi, I am getting floes alerts for NetBios.SMBV1. I have an old NAS which I need to access it with SMB V1 so I need to disable this alert. clicking on the gear o modify/disable, it is part of nDPI Flow risks
How can I remove it from the group of risks

![ndpiRisks](https://user-images.githubusercontent.com/8447864/101239869-5bc84c80-36eb-11eb-9f4a-1f046dd4fe79.jpg)

[2020-12-05 10:24] eliassal commented on #4806
Also, for another flow, I see
`Malformed packet [score:50] (gear)`

Is there somewhere wher we can see what is the malformed packet? It is mDNS protocol so why it is malformed!!!

Clicking on the gear I go back to the same nDPI alert parameters dialog
![mdnsntop](https://user-images.githubusercontent.com/8447864/101239980-61726200-36ec-11eb-8436-de01f9ecaf29.jpg)

[2020-12-05 10:51] cardigliano commented on #4804
Update: I suggested @DimaOsoianu to try disabling nIndex as he has the impression it depends on that component, to isolate the issue.

[2020-12-05 12:57] eliassal opened #4807 "Vlan2 is not discovered/listed - How to add it?"
Hi, ntopng (installed on a win 10 machine on subnet 192.168.1.0/24). Network is managed by a router where I have this 1st network and 2nd vlan2 on 192.168.2.0/24 and it works fine and I can access machines on this 2nd vlan, however, ntopng does not list this 2nd vlan in the networks list, it only lists the 1st one and the IPV6 one of the rounter.
How can I add this vlan2?
Thanks

[2020-12-06 09:38] swilkey commented on #4799
thank you!  changing $(pwd) to /etc fixed the problem.  Thanks very much for your help!

[2020-12-06 09:38] #4799 closed, assigned to cardigliano

[2020-12-06 09:55] eliassal opened #4808 "Networks not discovered and added to list"
Hi, ntopng (installed on a win 10 machine on subnet 192.168.1.0/24). Network is managed by a router where I have this 1st network and 2nd vlan2 on 192.168.2.0/24 and it works fine and I can access machines on this 2nd vlan, however, ntopng does not list this 2nd vlan in the networks list, it only lists the 1st one and the IPV6 one of the rounter.
How can I add this vlan2?
Thanks

[2020-12-06 09:59] eliassal opened #4809 "Too many hosts for ntopng leading to packet drops and high CPU load. Please tune -x/-X and restart ntopng"
After a while of running ntopng on a win10 VM (3 CPUs, 6G of Ram allocated), I get Red and yellow alerts as follows
`Too many hosts for ntopng leading to packet drops and high CPU load. Please tune -x/-X and restart ntopng`
I am googling but not able to find how to do this for the ntopng service in windows
I have a small homeoffice network with 3 physical servers, 1 VMs, couple of NAS and 3 smartp

[2020-12-06 10:02] eliassal opened #4810 "Network slown down once ntopng is run"
I have noticed that as soon as I start ntopng service and it starts gathering details, on all my laptops and servers network slows down, browsing to a google.com takes 1 minute, as soon I stop ntopng, browsing even doesn't take 1 second. Can you please le me know what is the impact of ntopng on network performance and why this happens?

[2020-12-06 12:44] eliassal opened #4811 "All Unknown Hosts - listing discovered hosts/devices"
Can you please tell me why my discovered hosts appear in the list of unknown hosts and we see it as local and I can see it in the devices list? Please note that 192.168.1.19 is the VM running ntopng and 192.168.1.3 is one of my desktops.

![AllUnknownHosts](https://user-images.githubusercontent.com/8447864/101280422-33168480-37c9-11eb-9844-27c05e0a2c42.jpg)

[2020-12-06 12:53] simonemainardi commented on #4808
Duplicate of you very same issue https://github.com/ntop/ntopng/issues/4807

This is not how you are supposed to use github.

[2020-12-06 12:53] #4808 closed, assigned to nobody

[2020-12-06 12:56] simonemainardi commented on #4806
Hold the CTRL key and click the items in a list to choose them. Click all the items you want to select. They don't have to be next to each other. Click any item again to deselect it

[2020-12-06 12:56] #4806 closed, assigned to nobody

[2020-12-06 13:00] simonemainardi commented on #4807
Vlan2 is physically separated from vlan1 at layer 2. So it is normal that the discovery run on vlan1 does not discover devices in vlan2. Being able to reach vlan2 hosts is definitely something which is happening at layer 3.

[2020-12-06 13:00] #4807 closed, assigned to nobody

[2020-12-06 13:03] simonemainardi commented on #4810
This is unlikely as ntopng is passive. Attach a network diagram and show details of the network

[2020-12-06 13:14] eliassal opened #4812 "Speedtest displays incorrect measurments"
In ntopng, speedtest does not display real/good measurements. It is running on a win10 VM it says 81 Mb/second, whereas when I run speedtest from my dektop, I get 600Mb/sec

![speedtest](https://user-images.githubusercontent.com/8447864/101281058-517e7f00-37cd-11eb-916d-05525dd59e25.jpg)

[2020-12-06 13:16] simonemainardi commented on #4812
Your claims are too strong and not enough evidence is given to support them.

How can you tell it’s not the VM which is experiencing a slower speed? Why are you blaming ntopng.

Be careful in opening issues and add enough evidence to prove them.

[2020-12-06 13:21] eliassal commented on #4810
I have a Draytek router connected to my ISP. Behind the router, I have 2 vlans (managed by the router). The router is connected to 2 switches everyone serving 1 subnet (broadcast domain). I generated the map for the network (pdf file), can you please tell me how I can share it with you as I don't want to make it public, thanks

[2020-12-06 13:22] eliassal commented on #4807
OK thanks, so there is no way of monitring both in this case

[2020-12-06 13:35] eliassal commented on #4806
OK thanks, I did for my 1st query, can you please respond to my 2nd query

Malformed packet [score:50] (gear)

Is there somewhere wher we can see what is the malformed packet? It is mDNS protocol so why it is malformed!!!

[2020-12-06 13:42] eliassal commented on #4812
Simon, I am not blaming, I am very new to ntopng and find it has wonderful features, as I said in one thread, as soon as I start ntopng service on the VM even with 3 CPU dedicated, the nachine slows down and I requested you on the t post to let me know how I can share the network map. Anyway, just done a speedtest directly in browser on the VM itself, almost same results as the desktop with huge d

[2020-12-07 08:09] simonemainardi commented on #4806
attach a pcap of the MDNS traffic triggering the malformed alert and we'll look into it

[2020-12-07 08:10] simonemainardi commented on #4809
attach a screenshot of the whole about page, make sure to include header and footer

[2020-12-07 08:18] simonemainardi commented on #4810
use our Discord channels and send it privately as message

[2020-12-07 08:31] simonemainardi commented on #4811
"Unknown" means hosts that have performed "Unknown" traffic. That is, traffic not recognized by any of the nDPI supported protocols.

[2020-12-07 08:31] #4811 closed, assigned to nobody

[2020-12-07 08:39] simonemainardi commented on #4803
Correct. nProbe with the HTTP plugin and use IE `HTTP_MIME`

`[NFv9 57656][IPFIX 35632.184][Len 256 varlen] %HTTP_MIME                        HTTP Mime Type`

[2020-12-07 08:39] #4803 closed, assigned to nobody

[2020-12-07 09:09] vijaytejak opened #4813 "nprobe agent for windows?"
Hi is nprobe agent supported for Windows OS?

[2020-12-07 09:54] simonemainardi commented on #4813
sure, see https://packages.ntop.org and the nProbe docs

[2020-12-07 09:54] #4813 closed, assigned to nobody

[2020-12-07 09:57] eliassal commented on #4806
The message is not there anymore as I restarted the service yesterday.
Here are 2  new mdns PCAP file, one flagged with yellow triangle flagged , small pcap file.
The 2nd one was in red flows and flagged  flagged red triangle triangle but the pcpa is 80Mega, I was able to download it when I hit back button it disappeared from the list and I don't see the red flows icon anymore

[NPF_{1CF6F05B-8257

[2020-12-07 09:57] simonemainardi commented on #4813
if you are referring to https://www.ntop.org/products/netflow/nprobe-agent/ then no, this is a linux-only product.

[2020-12-07 10:04] eliassal commented on #4806
Just went back again to the interface , I have 8 red alerts in icon red flows and what is strange it is all coming from the machine where btopng is running. The 2nd pcap of 80Mega was for the same VM file I sent earlier will give you I think  the details
![mdns_002](https://user-images.githubusercontent.com/8447864/101337409-e8097980-387b-11eb-97bb-c72d5b1cffd1.jpg)

[2020-12-07 10:04] eliassal commented on #4806
So I am completely confused now, 1 minutes we have mdns in yellow flows, 2 minutes later more mdns flows but in red

[2020-12-07 10:16] eliassal commented on #4806
Here is again the pcap for one of the red flows which is 114Mega
[NPF_{1CF6F05B-8257-4458-84EC-4A0FD242FBD9}_192.168.1.19_live (2).zip](https://github.com/ntop/ntopng/files/5651971/NPF_.1CF6F05B-8257-4458-84EC-4A0FD242FBD9._192.168.1.19_live.2.zip)

[2020-12-07 10:29] eliassal commented on #4810
Done sent through discord right now

[2020-12-07 10:31] eliassal commented on #4812
In fact it seems that the alert was stuck, after restarting the service, it is reporting gor the time being correctly

[2020-12-07 10:38] eliassal commented on #4806
Even though I upddated the nDPI by not chosing SMB1, ntopng still alerts on mdns as you can notice in the snapshot
when I click on the Netbios.SMBv1 in the application column, I get a list of all hosts using smbv1 (3rd snapshot)

![nDPI-Conf](https://user-images.githubusercontent.com/8447864/101340947-ad561000-3880-11eb-8de5-44d2b6256b3a.jpg)

![nDPI-alert_002](https://user-images.githubuserconten

[2020-12-07 10:45] eliassal commented on #4806
more and more smbv1 alerts just now  in spite of the fact that it is disabled

![nDPI-alert_004](https://user-images.githubusercontent.com/8447864/101341632-ab408100-3881-11eb-89de-c147d7f18e9e.jpg)

[2020-12-07 10:52] eliassal opened #4814 "Traffic report disappears"
When I restart ntopng and log to web, I get 3 items in the "Dasboard" as you can notice in the 1st snapshot.  After hiting other links and coming back and click on Dasboard, the "Traffic report" item disappears" and not able to find it back (2nd snapshot)
How can I access it again?

![trafficReport](https://user-images.githubusercontent.com/8447864/101342244-944e5e80-3882-11eb-8bab-27bcaf4dc11a.jp

[2020-12-07 11:36] swilkey opened #4815 "NTOPNG new installation issue connecting NPROBE"
Hi,

I've installed NTOPNG using docker this week.  It is working well detecting all the traffic on the server's network port.  However, I now want to receive traffic from an nprobe running on an edge router.  I am assuming that you can receive traffic from a version 7.3 nprobe on a version 9.3 ntopng - but if this is not the case that is probably where the problem is.  I have submitted a separate

[2020-12-07 12:06] simonemainardi commented on #4814
Traffic report is a pro-only feature, when the demo expires, access is no longer possible.

This information was available in the online documentation, as many of the other questions you've posted opening a ton of issues https://github.com/ntop/ntopng/issues?q=author%3Aeliassal+

Do not abuse Github Issues. Issues are issues. For these simple questions, you'd better look online first or ask on dis

[2020-12-07 12:06] #4814 closed, assigned to nobody

[2020-12-07 12:08] eliassal commented on #4814
OK Sir

[2020-12-07 16:09] simonemainardi commented on #4815
1. Version difference is definitely a no-go. You won't get any result using an nprobe 7.3 in combination with an ntopng 4.0+.
2. Assuming you have aligned versions, you need to specify a ZMQ endpoint in ntopng `-i`, not eth0, e.g., `ntopng -i "tcp://myserverfqdnremoved:5556"`

[2020-12-07 16:13] cardigliano commented on #4682
Implemented in this patchset:
fdd4305e5a19fbbd9d70ff0e83d6c90f542b6970 4be7f67d35d887f6c828145b021e3506c834b961 973e38587b6d1dfeeef8e635dc328bb29f8e6ca9 d19db6b678e1f4a3bc074bbe91abd9d7a8a6921b 159564bd95cb7f610e1f6fd9e32e5c153968a5ef 9a37185c798983fb2aa8a645ef6e413c3100a97c cb69a60b409d972497ec3309689ffd087a5d9156 9a26717a71fca60c43268a7e4bb918e7de7c4596 67fd78e66ce44baacebcf7c26263c314084081a0

[2020-12-07 16:13] #4682 closed, assigned to lucaderi, cardigliano

[2020-12-07 16:47] swilkey commented on #4815
Thanks for the reply, sorry I don't understand your version comment as nprobe 7.3 IS greater than 4.0+, but I was talking about ntopng 9.3 (the current version).  My question about nprobe (in the other ticket) was is there a technical reason you've stopped providing nprobe at 7.3 or is it still possible to build a 9.3 nprobe for the edge router?

Thanks for the parameters to use.

[2020-12-08 06:05] vimusov opened #4816 "Assertion in enqueue"
ntopng 4.2 fails with assertion in enqueue.

Arguments: `ntopng -s -l 1 -v 6 -i ens4`

Assertion: `/usr/include/c++/10/bits/stl_vector.h:1045: std::vector<_Tp, _Alloc>::reference std::vector<_Tp, _Alloc>::operator[](std::vector<_Tp, _Alloc>::size_type) [with _Tp = Flow*; _Alloc = std::allocator<Flow*>; std::vector<_Tp, _Alloc>::reference = Flow*&; std::vector<_Tp, _Alloc>::size_type = long unsigne

[2020-12-08 06:37] swilkey commented on #4815
I thought about this more and I think you were saying that for any version higher than 3 we must always match the probe and the server, regardless of the version we are running all components must be at the same version.

With regard to the parameters though,  I want to clarify.  The documentation says:
nprobe --zmq-probe-mode --zmq "tcp://46.101.x.y:5556" -i eth1 -n none
ntopng -i "tcp://*:5556c"

[2020-12-08 14:10] DrToxo opened #4817 "Killed ntopng by enabling flows on the management interface, how can I fix?"
Changed the interface setting on the management interface so it was used for flows only, and now ntopng wont stay running long enough for me to disable this.. is there a settings file or other manual method which allows me to disable?

I was experimenting with sending netflow from remote switches direct to ntop but now realise that I should use a different interface for this!

Cheers

[2020-12-08 14:18] DrToxo commented on #4817
Managed to get in the gui quick after a restart and disable it...

[2020-12-08 14:18] #4817 closed, assigned to nobody

[2020-12-08 21:12] DimaOsoianu commented on #4804
Hi

I have disabled nIndex on another system with same version  and memory leaking is not observed.
Below is graph of memory usage of ntong with nIndex enabled: ( I have restarted ntopng process to prevent system crash)
![Memory_Usage_with_nIndex](https://user-images.githubusercontent.com/36902487/101541754-226d3680-39a2-11eb-8e93-13cccfb15013.jpg)
Below is graph of usage of ntopng with nIndex dis

[2020-12-08 21:19] cardigliano commented on #4804
@DimaOsoianu just to make sure, did you try enabling nindex on the second system, to check that you are able to reproduce the leak there, and exclude any other factor? Thank you for the details.

[2020-12-08 21:39] DimaOsoianu commented on #4804
@cardigliano  Doing it now.

[2020-12-08 21:51] mroe1234 opened #4818 "InfluxDB 2.0 support"
As an experiment, I tried installing InfluxDB 2.0, the GUI reports the following error:

Incompatible InfluxDB version: required "1.5.1", found "nil". Please install an updated version from the official site.

Which is not all that surprising, I was wondering if this was on anyone's radar yet?

[2020-12-09 05:16] vimusov commented on #4816
I found a bug and made a patch: #4819

[2020-12-09 08:52] simonemainardi commented on #4816
Please, comment the PR and explain why it solves. Thanks for your contribution.

[2020-12-09 10:51] #2959 closed, assigned to MatteoBiscosi

[2020-12-09 11:14] simonemainardi commented on #4818
As said in the preferences, influxdb 1.x is supported

![image](https://user-images.githubusercontent.com/3397663/101622882-e8d71280-3a17-11eb-948e-ed000b393eb3.png)

We are considering support for 2.x but this is still in progress

https://github.com/ntop/ntopng/issues/3764

[2020-12-09 11:14] #4818 closed, assigned to nobody

[2020-12-09 13:10] DrToxo opened #4820 "Collecting netflows"
Can a server running ntopng receive netflows directly from routers, or is it not recommended to run nprobe and ntopng on the same box?

Can netflows be received by ntopng without nprobe?

Cheers

[2020-12-09 13:13] simonemainardi commented on #4820
ntopng does not directly understands NetFlow. You need to go through nProbe. See https://www.ntop.org/nprobe/network-monitoring-101-a-beginners-guide-to-understanding-ntop-tools/

[2020-12-09 13:13] #4820 closed, assigned to nobody

[2020-12-09 13:26] simonemainardi commented on #4816
Confirm. Fixed.

[2020-12-09 13:26] #4816 closed, assigned to nobody

[2020-12-09 13:57] simonemainardi commented on #4815
1. if you use the `c`, ntopng acts as a `c`ollector, i.e., it listens for one - or multiple - connections from nProbe instances.
2. if you don't use the `c` it's the nProbe that listens for one - and only one - connection from an ntopng instance.

You can either use 1., or 2., they are equivalent in terms of having nProbe data inside ntopng. Choice between 1. or 2. may be determined by the presenc

[2020-12-09 14:01] swilkey commented on #4815
Thanks very much Simone, that is a really helpful explanation. Have a great
day!

On Wed, Dec 9, 2020, 6:27 PM Simone Mainardi <notifications@github.com>
wrote:

[2020-12-09 14:45] #4815 closed, assigned to nobody

[2020-12-09 15:03] NetworkSeb opened #4821 "Issues sending flows to elasticsearch"
Hi,

Thanks for the great product.

I'm trying to send flows from ntopng to elasticsearch (7.10) using the inbuilt Elasticsearch Endpoint (System > Endpoints)

I've configured the Endpoint to use authentication and set the URL, username and password.

Under Recipients I configure the Name and select the 'Elastic' endpoint. When I click 'Test recipient' I get the following error:

[code]

Which sug

[2020-12-09 16:18] #4730 closed, assigned to MatteoBiscosi

[2020-12-09 16:39] simonemainardi commented on #4821
-F is independent from the Elasticsearch endpoint. If you use -F you get Flows into elasticsearch. If you use the endpoint, you get alerts.

My guess is that there could be issues with an authenticated Elasticsearch when used as endpoint.

@MatteoBiscosi Can you please verify this? You should dnable Elasticsearch authentication (x-pack probably) and then configure an Endpoint.

[2020-12-09 19:28] DimaOsoianu commented on #4804
@cardigliano
I have monitored ntop with nIndex enabled for 24 hours.

I enabled the nIdex with string:
[code]
Graph says everything I believe....
yellow arrow means stopping ntopng and restarting it with nIndex enabled.
![Memory_Ntop_nIndex](https://user-images.githubusercontent.com/36902487/101677596-0bd7e580-3a5d-11eb-9952-89d250a4231f.jpg)
Please let me know what will be next steps to debug thi

[2020-12-10 10:38] simonemainardi commented on #4821
I've fixed an issue causing this issue to occur.

I've also tested against an authenticated ES and it works OK now.

New builds are in progress. Please, hold on a couple of hours, then update, and try again.

[2020-12-10 10:39] simonemainardi commented on #4797
@cleverchou did you have a chance to check 1. and 2.?

[2020-12-10 12:01] lucaderi opened #4822 "Implement bandwidth monitoring"
ntopng with ctive monitorign supervises the latency. It is requested to add the ability to monitor the available bandwidth.

[2020-12-10 12:49] TimotheusBachinger opened #4823 "Timeseries queries for top local talkers and top remote destinations"
Hi ntopng!

This is a feature request regarding timeseries calls for retrieving top local talkers and top remote destinations as they are displayed on the traffic dashboard of ntopng (professional edition).

We would expect to behave similar to `lua/rest/v1/get/timeseries/ts.lua?ts_schema=top:iface:ndpi&ts_query=ifid:2&extended=1`, where we're receiving a topk list containing the top talkers and r

[2020-12-10 14:10] lucaderi commented on #4795
Sorry for delay. Can you please report what nprobe services haev you installed and if nprobe /etc/nprobe/nprobe.conf starts with no errors?
If you want timely responses please contact us on discord https://www.ntop.org/community/

[2020-12-10 14:19] simonemainardi commented on #4769
Please, explain. Explain the use case.

Would you like a sort of download-button to download past alerts matching certain criteria?

[2020-12-10 14:20] Zathiel commented on #4769
I would like a download button of the past alert matching criteria and protocol

[2020-12-10 15:24] mwmdc commented on #4795
Hi Luca,

I'm not in a hurry. ;) We only run one instance as netflow/sflow collector. The service can be started manually after the upgrade (i.e. service nprobe restart / systemctl restart nprobe). Only the restart during the update is affected.

Regards,
Michael

[2020-12-10 17:42] eliassal opened #4824 "Can't configure Email end point with my smtp server"
I have an email server on which I receive/send emails from my internal network to the outside and receive as well. When I try to configure an endpoint, it does not accept the email linked to the smtp server . As you can notice in the snapshot.
Also, my smtp server works with another port different from 25 how this can be handled in the interface?
Thanks

![EmailEndPoint](https://user-images.github

[2020-12-11 06:35] mwmdc commented on #4795
Hi Luca,

with the 201210-package everything worked fine this morning. Did you already fix it?

Regards,
Michael

[2020-12-11 08:54] #2789 closed, assigned to MatteoBiscosi

[2020-12-11 09:33] MatteoBiscosi commented on #4774
I'm not able to reproduce the problem, I'm currently running ntopng version: 4.2.201105 and after running Network Discovery the system seems working fine. If possible, could you please try to upgrade to the new stable version and let me know if the problem persists?

[2020-12-11 09:56] NetworkSeb commented on #4821
Thanks all working as expected now.

Thanks for the speedy response and fix!

[2020-12-11 09:56] #4821 closed, assigned to simonemainardi

[2020-12-11 10:26] eliassal commented on #4809
Hi Simon, here a full screenshot as it happened again this morning
![ToomanyHosts2](https://user-images.githubusercontent.com/8447864/101892416-a3dfe700-3ba3-11eb-8241-b53c644006c7.jpg)

[2020-12-11 10:40] eliassal opened #4825 "MDNS"
Can you please tell me what does this alert means? Is it the winForDockerUpdate machine who is generating this flow? I understand that mdns is used for local broadcast domain in case of non-existance of DNS.
clicking on any "_services._dns-sd._udp.l...   :5353", it displays details for a remote host through my router (2nd snapshot). Can you please help in translating this in plain english as I am

[2020-12-11 10:56] eliassal commented on #4809
This is really annoying, now whenever I click on any thing I get 2 alerts one above the other, need to click on the x to close, click on another link I get the same thing 2 alerts and continues like this, I am not able to concentrate on trying understanding when I try to follow an alert

![annoyingAlert](https://user-images.githubusercontent.com/8447864/101895422-cbd14980-3ba7-11eb-980d-0689abce57

[2020-12-11 11:15] eliassal opened #4826 "Need help - Ghost network detected"
I am getting an alert Ghost network detected, 192.168.0.0. (client is the machine running ntopng), I am not sure how to use this information to start investigation my network is 192.168.1.0. What is the tool to investigate if this is true?  I never use 192.168.0.0
![GostNetwork](https://user-images.githubusercontent.com/8447864/101897261-9417d100-3baa-11eb-811d-b4e25caf70ed.jpg)

[2020-12-11 11:21] eliassal commented on #4826
Clicking on the interface link, I see ipd addresse 192.168.1.19/32 , domain broadcast 192.168.0.0/20 !!! how come?
![GostNetworkNotLogic](https://user-images.githubusercontent.com/8447864/101897628-215b2580-3bab-11eb-87b9-7d270371704c.jpg)

clicking on the subnet 192.168.0.0/20 I get all hosts in this network whcih are 192.168.1.xxxxx, strange no?

![GostNetworkNotLogic1_002](https://user-images.g

[2020-12-11 12:12] simonemainardi commented on #4822
Activity should be performed as follow:

1. Add a new `http_bandwidth.lua` measurement under scripts/plugins/monitors/network/active_monitoring/measurements. Look at how speedtest is implemented as the threshold for this bandwidth will be expressed in Mbps. Then look at how http is implemented as you'll have to divide the size of the fetched data by `total_time` to calculate the actual value in Mb

[2020-12-11 17:11] lucaderi opened #4827 "Unify ICMP and Continuous ICMP as you did with HTTP"
![Screen Shot 2020-12-11 at 18 10 15](https://user-images.githubusercontent.com/4493366/101933223-2f756a00-3bdc-11eb-8bc1-823f78eb6e45.png)

[2020-12-11 17:18] lucaderi opened #4828 "Active Monitoring HTTP URL broken check"
![Screen Shot 2020-12-11 at 18 13 25](https://user-images.githubusercontent.com/4493366/101933779-f7225b80-3bdc-11eb-89d6-98e7bc8f8100.png)

Also trailing slash breaks the logic. You have a check on number of '/' that breaks the check

![Screen Shot 2020-12-11 at 18 17 18](https://user-images.githubusercontent.com/4493366/101934004-47012280-3bdd-11eb-96cd-af9f8c408c0f.png)
![Screen Shot 2020-12-11

[2020-12-11 17:20] simonemainardi commented on #4827
I am not sure this should be done.

In ICMP and ICMPv6, you have the ability to specify a symbolic host name. If we unify those two guys, we no longer know if the symbolic name should be resolved as v4 or v6, unless we add an extra option/flag inside the add/edit modal.

This is why I did not unify them.

[2020-12-11 17:56] #4822 closed, assigned to simonemainardi, MatteoBiscosi

[2020-12-11 18:03] lucaderi commented on #4751
![Screen Shot 2020-12-11 at 19 02 47](https://user-images.githubusercontent.com/4493366/101938395-8c285300-3be3-11eb-9024-567841e0c392.png)
![Screen Shot 2020-12-11 at 19 02 42](https://user-images.githubusercontent.com/4493366/101938404-8f234380-3be3-11eb-84d2-2dcd7f8bba65.png)

Works for me. Any URL you want me to test?

[2020-12-11 18:27] lucaderi opened #4829 "Menu entry is not sorted"
![Screen Shot 2020-12-11 at 19 25 52](https://user-images.githubusercontent.com/4493366/101940442-ca734180-3be6-11eb-85d4-5b84070f78eb.png)

[2020-12-11 21:58] #4828 closed, assigned to simonemainardi

[2020-12-11 22:13] #4824 closed, assigned to simonemainardi

[2020-12-11 22:39] albeec13 commented on #4774
Tried with latest stable version at: https://hub.docker.com/r/ntop/ntopng/tags?page=1&ordering=last_updated

Result is the same. When starting network discovery, ntopng hangs, and router stops bridging traffic. I had to restore my backups for the docker folders to recover.

If you can make prior images available on docker hub it would make testing much easier, because I wouldn't have to restore fr

[2020-12-13 11:17] vijaytejak opened #4830 "unable to see nprobe collected data in ntopng"
I am sending Netflow from pfsense to nprobe on port 2055

the configuration I used.

```ntopng -i tcp://*:5556``` in my ntopng.conf file I placed this line.

```nprobe --zmq "tcp://192.168.0.80:5556" -i enp2s0 -n none --collector-port 2055 -T "@NTOPNG@"``` in my nprobe.conf I place this line.

I can see Netflow data is being received by the tools from historical index flow, that it collected 200MB

[2020-12-14 08:07] lucaderi commented on #4774
@albeec13 The host where the contaienr runs is a router or  bridge? What is the command you have used to start it?

[2020-12-14 08:28] lucaderi commented on #4825
Please provide a pcap file wo we can reproduce it. Attach it to github please

[2020-12-14 08:42] lucaderi commented on #4830
So in essence data is received and is working right ? What do you mean with "I am unable to differentiate the Netflow data in my ntopng." ?

[2020-12-14 08:44] lucaderi commented on #4826
Please check the IP address of your network intnerface and make sure its netmask is correct. As far as I can see this is the problem

[2020-12-14 08:44] #4826 closed, assigned to nobody

[2020-12-14 08:51] simonemainardi commented on #4823
Issue can be done as follow:

- Look at how dashboard top local talkers and top remote destinations are currently populated
- Create two REST API endopoints `pro/scripts/lua/rest/v1/get/host/top/local/talkers.lua` and  `pro/scripts/lua/rest/v1/get/host/top/remote/talkers.lua` to implement a response that can be used to populate top local talkers and top remote destinations
- Slightly modify the cu

[2020-12-14 09:11] TimotheusBachinger commented on #4823
Hi Simone,

thanks for the proposal. Just a question as I am curious. We're fetching the top ndpi's via a call to ts.lua
lua/rest/v1/get/timeseries/ts.lua?ts_schema=top:iface:ndpi&ts_query=ifid:X
So I would have assumed, the query for the top talkers would also work via the timeseries API? Or is this needed as it will be pro-only feature?

Regards
Timi

[2020-12-14 09:32] eliassal commented on #4825
Hi Luca, hereis the 1st pcap file when I click on the name of the host winfordockerupdate (VM hosting ntopng), However, when I click on the _services._dns-sd._udp.l... , I get the following detals but downloading pcap get stuck at 24B with a circle continnously running and never finishes as you can notice in the snapshot, so I clicked on json and saved it to a json file attached here
![downloadStu

[2020-12-14 09:34] eliassal commented on #4826
Where do you see this? THis is not true, please see snapshot from ntopng

![Networks](https://user-images.githubusercontent.com/8447864/102064754-003b4480-3df8-11eb-8918-39f6c61520cd.jpg)

[2020-12-14 09:35] eliassal commented on #4826
it is correct /24

[2020-12-14 09:36] eliassal commented on #4826
Why did you close it?

[2020-12-14 10:19] simonemainardi commented on #4823
@TimotheusBachinger

- This gives you LIVE top-talkers data, i.e., it's a picture of what's happening now
- ts.lua gives you historical TOP., i.e., it's a picture of the past

Yes, but for the past, e.g.,:

- rest/v1/get/timeseries/ts.lua?ts_compare=30m&epoch_begin=1607939100&ts_schema=top:local_receivers&ts_query=ifid:0&epoch_end=1607940900&initial_point=true&zoom=30m&limit=6

[2020-12-14 10:20] simonemainardi commented on #4812
please try to rephrase as I am not sure to understand

[2020-12-14 10:55] TimotheusBachinger commented on #4823
@simonemainardi: Ok sounds good, thanks for the clarification!

[2020-12-14 11:00] eliassal commented on #4812
The alert was stuck and was geting executed every 10 minutes. I stoped/restarted the ntopng server and started to work again correctly and execute every 10 minutes

[2020-12-14 11:09] simonemainardi commented on #4812
This ticket is "Speedtest displays incorrect measurments". Are you getting correct measurements?

[2020-12-14 11:37] eliassal commented on #4812
In fact NO, it seems it is not working since last restart, it seems that it worked once on December 7, then nothing as you can see in the snapshots, for 1 hour, 1 day, 1 week, 1 month
![speedTestNowork](https://user-images.githubusercontent.com/8447864/102077092-0d146400-3e09-11eb-8f6d-2fdd001d439b.jpg)

![speedTestNowork_30M](https://user-images.githubusercontent.com/8447864/102077116-169dcc00-3e

[2020-12-14 11:39] eliassal commented on #4812
Even though it was run on December 7, the table near chart in the last snapshot (1 months) displays no data!

[2020-12-14 11:41] eliassal commented on #4812
And please notice this snapshot, the speedtest should run every 5 minutes, is ther anything wrong in the config?
![speedTestNowork_Config](https://user-images.githubusercontent.com/8447864/102077499-afcce280-3e09-11eb-8915-ca58a6b224ad.jpg)

[2020-12-14 12:01] simonemainardi commented on #4812
delete an re-add speediest among active monitoring

[2020-12-14 12:09] eliassal opened #4831 "Errors no erros strange messages"
Can ypu please let me know what those messages mean and why are they generated. I am a little bit confused, saying sending error the no error, also no details of the error

![errorNoerror](https://user-images.githubusercontent.com/8447864/102079782-93cb4000-3e0d-11eb-8c96-28e6b8778540.jpg)

[2020-12-14 12:11] eliassal commented on #4831
After clicking on the triangle with exclamation symbol I landed on the following page which seems it is a bug
![errorNoerror_Bug](https://user-images.githubusercontent.com/8447864/102079935-de4cbc80-3e0d-11eb-97b5-410ce87c7f0c.jpg)

[2020-12-14 12:12] eliassal commented on #4812
I have done it twice before December 7

[2020-12-14 13:15] #4796 closed, assigned to MatteoBiscosi

[2020-12-14 13:19] kenkino opened #4832 "Turning Active Network Discovery ON with raspberry pi4 sets the MAC address to zero every 15 minutes"
I am using ntopng installed on raspberry pi4, but if Active Network Discovery is ON, the NIC MAC address changes to 00: 00: 00: 00:00:00 every 15 minutes.

As a symptom, if Ntopng's Active Network Discovery is ON,

1. At 0, 15, 30, and 45 minutes, the MAC address changes to 00: 00: 00: 00:00:00 and the original MAC address is set about 1 minute later. (Random reboots occur at 0, 15, 30, and 45 min

[2020-12-14 15:48] NetworkSeb opened #4833 "NTOP flows to Elasticsearch"
Hi,

More of a question than an issue, I hope this is the right place for this.

I have ntopng sending flows to elasticsearch using the -F option:

-F="es;flows;ntopng-%Y.%m.%d;http://elastic:9200/_bulk;username:password"

I am seeing lots of flows into elasticsearch however I am seeing lots of 'Export drops' and I get the following errors in ntop:

[ElasticSearch.cpp:175] ERROR ES: POST request f

[2020-12-14 17:24] daxrob opened #4834 "MSVCP120.dll not found quando installo l'ultima versione di ntopng ntopng-4.3.201103-x64"
Ciao,

sto provando ad installare ntopng 4.3.2 appena scaricata su un PC Win 10 Pro.
Ho seguito l'installazione e installato Win10Pcap,  Visual C++ e Redis.
Quando conclude l'installazione, compare una finestra nera e un messaggio di errore:
ntopng.exe - System error: The code execution cannot proceed because MSVCP120.dll was not found
Ho già provato a disinstallare tutto, riavviare e installare W

[2020-12-14 18:21] bengt-a opened #4835 "ntopng GUI stopped working, cannot log in"
Hi,
Running ntopng on a Raspberry Pi 3+ with the latest version for some weeks, I ran a sudo apt-get update and upgrade. After this, and possibly some other work, ntopng suddenly changed from the nice dark theme to a broken-looking HTML page on the already open pages. And if I try to log in, I never get past the login page. Entering any username and password just clears the fields. I have tried bo

[2020-12-14 21:35] lucaderi commented on #4751
verified as working with the current nDPI+ntopng

[2020-12-14 21:35] #4751 closed, assigned to lucaderi

[2020-12-14 21:38] lucaderi commented on #4753
Verified as working with the current nDPI+ntopng

[2020-12-14 21:38] #4753 closed, assigned to lucaderi

[2020-12-14 21:40] lucaderi commented on #4834
Can you please download https://support.microsoft.com/en-us/help/2977003/the-latest-supported-visual-c-downloads and see if it fixes the problem

[2020-12-14 21:43] lucaderi commented on #4832
Unfortunately we have no way to test this with active directory. Have you used the 4.3 release from https://packages.ntop.org

[2020-12-14 22:31] dlk3 opened #4836 "Compile fails on Raspberry Pi (Debian 10.7) due to missing link libraries"
I cloned the current versions of nDPI and ntopng and attempted to compile them on a newly installed Raspberry Pi running the latest "10 (buster)" version of the Raspian distribution (Debian 10.7).  The ntopng compile fails during the final linking step.  I've attached a complete log of the process as the [console.log](https://github.com/ntop/ntopng/files/5691895/console.log) file.  The error indic

[2020-12-15 02:04] kenkino commented on #4832
I'm sorry I didn't have enough explanation. It's not about Active Directory. It occurs in ntopng installed on raspberry pi 4.
 When the  Settings-> Preferences-> Network Discovery -> Active Network Discovery item is enabled, the MAC address of the NIC becomes 00:00:00:00:00:00.
Thank you for the information that the latest version of the package is available. I will try to see if the phenomenon oc

[2020-12-15 07:28] albeec13 commented on #4774
Host is a router. The command I use to start the docker is:
`sudo docker run --name ntopng -itd -p 3000:3000 --net=host ntop/ntopng:stable -i enp2s0 --community`

This is the exact same command I use regardless of which docker image version I'm running.

The system is running arch linux, and enp2s0 is the LAN-side interface, which is using dnsmasq for NAT and the system is doing IPv4 forwarding to

[2020-12-15 08:45] lucaderi commented on #4836
Please submit a pull request so we can reward you with the patch

[2020-12-15 08:45] #4836 closed, assigned to nobody

[2020-12-15 08:48] lucaderi commented on #4774
Sorry but we do not use arch linux. If you can troubleshoot it a bit that would help to produce it on our end.

[2020-12-15 10:18] vollkommenheit opened #4837 "ntopng installed from official macOS package: multiple "dyld: Library not loaded: ...""
1)
`# ntopng`

  Referenced from: /usr/local/opt/ntopng//libgio-2.0.0.dylib
  Reason: image not found
/usr/local/bin/ntopng: line 6: 48642 Trace/BPT trap: 5       /usr/local/bin/ntopng-bin $@

`# otool -L /usr/local/opt/ntopng//libgio-2.0.0.dylib`

	/usr/local/opt/glib/lib/libgio-2.0.0.dylib (compatibility version 6601.0.0, current version 6601.1.0)
	/System/Library/Frameworks/CoreFoundation.frame

[2020-12-15 10:25] simonemainardi commented on #4823
Please, unify the code which is almost a 100% cut-and-paste. You should not commit 2 identical 100-line files that only differ in ONE line. Make this common code.

[code]

Moreover, I do not think all this boilerplate is needed

[code]

[2020-12-15 10:51] simonemainardi commented on #4835
please, attach screenshots, and also possible browser console errors you may see.

[2020-12-15 12:36] vollkommenheit commented on #4837
In /usr/local/bin/ntopng, replacing the default
`export DYLD_LIBRARY_PATH=/usr/local/opt/ntopng/:$DYLD_LIBRARY_PATH`
with either:
`export LDFLAGS="-L/usr/local/opt/ntopng/"`
or
`export LD_LIBRARY_PATH=/usr/local/opt/ntopng/:$LD_LIBRARY_PATH`
gets past the

issue.

However, now $ ntopng directly goes to the 2nd error above:

  Referenced from: /usr/local/bin/ntopng-bin
  Reason: image not found
/us

[2020-12-15 16:15] daxrob commented on #4834
Hi,

which version? 2015, 2017 and 2019, 2013, 2012 ...
I now installed 2103, 2008 and 2015-2019 and it seems to work fine.

Regards
Roberto

[2020-12-15 16:16] bengt-a commented on #4835
![image](https://user-images.githubusercontent.com/20923583/102241168-f2b9b380-3ef8-11eb-9d88-d6fb58b5cf96.png)

This is all I get since I cannot log in.

Console log:
`GET http://192.168.1.18:3000/bootstrap-4.4.0-dist/css/bootstrap.min.css net::ERR_ABORTED 404 (Not Found)
login.lua?referer=192.168.1.18%3A3000%2F:8 GET http://192.168.1.18:3000/css/minified/fontawesome-custom.min.css net::ERR_ABORT

[2020-12-15 16:17] daxrob opened #4839 "Not able to change the Interface Custom Name in version v.4.3.201103"
Hi,

I just installed version v.4.3.201103 and I have two interfaces. Their name is the same so I need to modify the Custom Name as I always did in the past.
The problem is that now the software doesn't keep the changes.

Regards
Roberto

[2020-12-15 17:02] simonemainardi commented on #4839
duplicate of https://github.com/ntop/ntopng/issues/4750

[2020-12-15 17:02] #4839 closed, assigned to nobody

[2020-12-15 17:03] eliassal opened #4840 "Applications and Categories - Email/SMTP"
In the Applications and Categories, we have Email in the categories, clicking on it lands us on a page for the different protocols for Emails.
On the Active flows page, I try to find all local host using smtp/smtps/pop......no Email category  in the categories dropbox, nor SMTP or POP in the application box. Is this normal (2 snapshots hereunder).

I have my internal email server on a specific IP,

[2020-12-15 17:06] simonemainardi commented on #4840
Described behavior is normal.

To add custom categories see https://www.ntop.org/guides/ntopng/web_gui/categories.html?highlight=categories

Again stop abusing GitHub without going through the docs.

[2020-12-15 17:06] #4840 closed, assigned to nobody

[2020-12-15 17:13] eliassal commented on #4840
Simon, you did not respond to the 1st problem. Yes I read the doc, and added a custom rule to the email (entered my email domain and the IP) but it is not working and still can't see it in the Active flows dropboxes

[2020-12-15 17:13] simonemainardi commented on #4823
OK. Now this makes sense. Please, backport (and test) changes to stable.

[2020-12-15 17:14] eliassal commented on #4840
Simon, as beginners, we will sometimes ask good questions, report which we think is a bug because of our limited knowledge or just maybe docs are not very clear as missing examples, and of course sometimes ask stupid questions which can happen to every one. Please respond to the 1st question before ssaying I am abusing, I provided you the snapshots

[2020-12-15 17:19] eliassal commented on #4840
Also, I would like to bring to your attention that one issue I raised was flagged as bug. 3 issues I raised for which I did not see any solution, especially the annoying "Too many flows" displayed with each click, with each click, with each click, see snapshot in spite of the fact that I provided all details, pcaps, my internal network plan

![ToomanyHosts3](https://user-images.githubusercontent.c

[2020-12-15 17:20] eliassal commented on #4840
So it is not me who is abusing, it is you who did not respond to the main issue

[2020-12-16 09:52] simonemainardi commented on #4837
can you please check out official mac package at https://packages.ntop.org/

[2020-12-16 10:04] simonemainardi commented on #4835
I am experiencing normal behavior with

[code]

![image](https://user-images.githubusercontent.com/3397663/102333731-1b3fbd00-3f8e-11eb-8082-0b4d9f9ccc1a.png)

You should not touch `sudo ntopng-utils-manage-config` manually.

Yours seems more a browser issue. There's an ERR_ABORTED as is someone was preventing requests from being performed. Don't know why you are getting this. I would try and
- cl

[2020-12-16 10:11] simonemainardi commented on #4833
- You have 97k flow drops, you should compare them with the total number of exported flows. It seems you're in an high-speed environment (half Gbps) so a small fraction of drops may be normal (elasticsearch could not have been able to receive a bulk fro example)
- As per `Mapper for [OUT_DST_MAC] conflicts with existing mapper`, We do not define any mapper for `OUT_DST_MAC`, so my guess is: did yo

[2020-12-16 10:24] simonemainardi commented on #4823
This is implemented both in dev and stable.

See:

- lua/pro/rest/v1/get/host/top/local/talkers.lua
- lua/pro/rest/v1/get/host/top/remote/talkers.lua

And the docs available at https://www.ntop.org/guides/ntopng/api/rest/api_v1.html

A new stable build is in progress. Will be ready in ~1h.

[2020-12-16 10:38] vollkommenheit commented on #4837
I was running the official macOS package from ntop.org.

Just in case, I have re-downloaded the latest package (https://packages.ntop.org/MacOS/ntopng-4.3.201102.pkg) and re-installed it again, with the same results:

`# ntopng`

  Referenced from: /usr/local/opt/ntopng//libgio-2.0.0.dylib
  Reason: image not found
/usr/local/bin/ntopng: line 6: 94680 Trace/BPT trap: 5       /usr/local/bin/ntopng-

[2020-12-16 14:00] DrToxo commented on #4750
Seems that I cant even save a traffic profile.. so must be a write/permission type issue... but Ive just installed it on a windows domain pc using my AD account that has admin privileges.

[2020-12-16 14:47] simonemainardi commented on #4762
what's the ntopng version you are using?

[2020-12-16 14:54] simonemainardi commented on #4397
We believe that for now having a global per-ntopng theme style suffices so we cannot accomodate this request.

[2020-12-16 14:54] #4397 closed, assigned to nobody

[2020-12-16 14:55] simonemainardi commented on #4348
Thanks. I'm closing this as it's been inactive for 4 months. Please, if you have feedback, feel free to comment or reopen.

[2020-12-16 14:55] #4348 closed, assigned to nobody

[2020-12-16 15:02] simonemainardi commented on #4286
@ummeegge sorry for not getting back to you earlier.

We have currently replaced Maxmind database (which requires registration) with the free https://db-ip.com/ whose format is interoperable with Maxmind and thus can be used with the same libmaxminddb libraries. These free databases are already freely distributed via `ntopng-data` package.

We believe this addresses the issue so we are closing.

[2020-12-16 15:02] #4286 closed, assigned to nobody

[2020-12-16 15:04] simonemainardi commented on #4100
Closing for inactivity. Please, follow up via email if not already solved.

[2020-12-16 15:04] #4100 closed, assigned to nobody

[2020-12-16 15:06] simonemainardi commented on #4085
Thanks for sharing this solution.

[2020-12-16 15:06] #4085 closed, assigned to nobody

[2020-12-16 15:07] bengt-a commented on #4835
I also suspected the browser as a possible culprit, and I have tried with two different browsers (Chrome and Edge), on two different computers. Same result unfortunately.

Please note that it was working fine for a long time. Then suddenly, at the same time as I did apt-get upgrade, it stopped working properly.

If I completely wipe the installation and reinstall, what config files are e.g. the cu

[2020-12-16 15:08] simonemainardi commented on #3886
After internal review, we have decided this cannot be implemented with the current charting library. Will possibly consider and re-open this when switching the charting library. This is likely to occur in a future release.

[2020-12-16 15:08] #3886 closed, assigned to nobody

[2020-12-16 15:10] simonemainardi commented on #3804
Hardware sizing extended for:

- ntopng: https://www.ntop.org/guides/ntopng/faq.html#hardware-sizing
- nprobe: https://www.ntop.org/guides/nprobe/hardware_sizing.html

[2020-12-16 15:10] #3804 closed, assigned to nobody

[2020-12-16 15:12] simonemainardi commented on #3697
You can use endpoint `http://localhost:3000/lua/get_discover_data.lua?currentPage=1&perPage=10&sortColumn=&sortOrder=` to get a JSON reponse of the disovery data.

[2020-12-16 15:12] #3697 closed, assigned to nobody

[2020-12-16 15:15] simonemainardi commented on #3071
This has been solved in the latest nIndex.

[2020-12-16 15:15] #3071 closed, assigned to nobody

[2020-12-16 15:39] cardigliano commented on #4804
Update: it seems the leak almost disappeared from the same ntopng instance in the last days. In the meanwhile I pushed (minor) memory leak fixes, and running the sanitizer for 1+ day is reporting *no* leaks. Still monitoring the system..

[2020-12-16 15:50] TimotheusBachinger commented on #4823
Hi Simone,

just one question, shouldn't the call also have an `ifid` parameter as the top talkers dashbord in the ntopng UI looks like that the data will be different on multiple interfaces.

Regards

[2020-12-16 16:32] DrToxo commented on #4762
4.3.20103

Also unable to save custom name for interfaces or even traffic profiles....
I enter them and select save and they just revert back.

Cheers

On Wed, 16 Dec 2020, 14:48 Simone Mainardi, <notifications@github.com>
wrote:

[2020-12-16 17:13] simonemainardi commented on #1969
This has now been implemented using UI toasts. Toasts show relevant issues, are dismissable / not dismissable depending on the severity, and contain an action button for the solution of the misconfiguration.

[2020-12-16 17:13] #1969 closed, assigned to simonemainardi, cardigliano

[2020-12-16 17:17] simonemainardi commented on #1876
This concept of admin capabilities has been expanded in https://github.com/ntop/ntopng/issues/4700 which supersedes this ticket.

Admin capabilities are already coded in a bitmap and added to lua in https://github.com/ntop/ntopng/issues/4489.

Now we need to implement capabilities configuration from the UI.

[2020-12-16 17:17] #1876 closed, assigned to nobody

[2020-12-16 17:18] simonemainardi commented on #4700
This concept of roles will be implemented using the bitmap of auth privileges implemented in https://github.com/ntop/ntopng/issues/4489

What is missing is the UI part to allow this bitmap to be configured.

[2020-12-16 17:40] #4834 closed, assigned to nobody

[2020-12-16 17:42] simonemainardi commented on #2533
UTHASH have been removed from all the community part. They have only been left to manage nEdge policies and, after internal review, we have decided that this is acceptable for the time being. Pro PR referencing nEdge necessary changes is the ea1deef2e0109eb891a576d71dc2dcabac787aa4

[2020-12-16 17:42] #2533 closed, assigned to MatteoBiscosi

[2020-12-16 17:45] simonemainardi commented on #4835
do you want me to connect and do a check before wiping?

[2020-12-16 18:27] lucaderi opened #4842 "Flows are logged on syslog even when disabled"
Steps to reproduce it
- create syslog recipient and bind it to all pools
- edit the pool disabling flows export as shown below

![Screen Shot 2020-12-16 at 19 18 40](https://user-images.githubusercontent.com/4493366/102390411-a9d72d00-3fd4-11eb-898e-03c30eb4c6b7.png)

Despite all this flows are still logged on syslog

[2020-12-16 18:41] lucaderi opened #4843 "JSON alerts are cryptic"
This is an example of an alert logger via syslog recipient. No clue what fields are about.
{"alert_subtype":"67_D8:9E:F3:D9:A8:08_80.81.192.76_FF:FF:FF:FF:FF:FF_1.2.3.0","ifid":3,"alert_entity":5,"alert_json":"{\"spa\":\"5.6.7.8\",\"src_mac\":\"D8:9E:F3:D9:A8:08\",\"vlan_id\":67,\"dst_mac\":\"FF:FF:FF:FF:FF:FF\",\"tpa\":\"1.2.3.4\"}","alert_granularity":0,"alert_severity":4,"pool_id":0,"action":"s

[2020-12-16 19:08] bengt-a commented on #4835
That would have been great! I was available last evening (CET).
It seems like we are in totally different time zones, or at least available at different times.

Please can you post instructions on where data is stored for IP/MAC associations etc, and detailed instructions on how to completely reinstall the software?
(I tried apt-get purge ntopng and reinstalled it, but there was no effect.) I also

[2020-12-17 07:34] lucaderi opened #4844 "Context error"
16/Dec/2020 22:17:44 [LuaEngineHost.cpp:145] WARNING Could not set context for host 144.92.92.74@0
16/Dec/2020 22:14:11 [LuaEngineHost.cpp:145] WARNING Could not set context for host 103.203.138.185@0
16/Dec/2020 22:10:53 [LuaEngineHost.cpp:145] WARNING Could not set context for host 144.92.92.241@0

[2020-12-17 08:26] lucaderi commented on #4795
Good to know it works

[2020-12-17 08:26] #4795 closed, assigned to nobody

[2020-12-17 08:27] simonemainardi commented on #4797
Closing for inactivity. No feedback received. Reopen with requested information if necessary.

[2020-12-17 08:27] #4797 closed, assigned to simonemainardi

[2020-12-17 08:40] astalush commented on #4800
Any chance with an update? Thanks.

[2020-12-17 09:19] cardigliano commented on #4773
@NogNeetMachinaal sorry for late reply, due to this ping pong this is becoming a long story :-) What about scheduling a call to finally close this issue?

[2020-12-17 09:47] gabryon99 opened #4845 "Remove Cross button in dismissable toasts"
As we have discussed we are going to remove the `X` button from the **dismissable** toasts.

[2020-12-17 10:56] cardigliano commented on #4837
@vollkommenheit latest official build seems to be working on my Mac, what macOS version are you running?

% ntopng -V
v.4.3.201102	[Enterprise/Professional build]
GIT rev:	dev:f4495ed1262a3864b794bbb464227015646785f8:20201102
Pro rev:	r3324
Built on:	MacOSX 10.13.6
Platform:	x86_64

% brew info glib
glib: stable 2.66.2 (bottled)
Core application library for C
https://developer.gnome.org/glib/
/usr

[2020-12-17 11:14] Zathiel opened #4846 "Many Local Flows displayed as error"
Dear Ntopng team,

Since fews days i have some errors on local flows concerning redis and mysql who are displayed as alerts

Please find below a screenshot and also exported conf

If anything required please do no hesitate.

Regards

[configuration.txt](https://github.com/ntop/ntopng/files/5708912/configuration.txt)

![image](https://user-images.githubusercontent.com/26553418/102480508-a5585600-40

[2020-12-17 11:16] vollkommenheit commented on #4837
@cardigliano, I'm on 10.11. Since ntopng comes with all the dylibs it needs (glib, librrd, etc.), in /usr/local/opt/ntopng/, it seems just a matter of pointing it to look in that directory. For some reason, it doesn't work on 10.11 using "export DYLD_LIBRARY_PATH=/usr/local/opt/ntopng/:$DYLD_LIBRARY_PATH" in ntopng (a Bash script) and whatever the ntopng-bin binary has though.

[2020-12-17 12:57] CyberbreinAirw0lf commented on #4773
Any luck for tomorrow at 4 PM?

From: Alfredo Cardigliano <notifications@github.com>
Sent: donderdag, 17 december 2020 10:20
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: Will <will.moonen@it-visibility.net>; Mention <mention@noreply.github.com>
Subject: Re: [ntop/ntopng] Processing syslog messages (#4773)

@NogNeetMachinaal <https://github.com/NogNeetMachinaal>  sorry for late reply, due to thi

[2020-12-17 13:27] cardigliano commented on #4773
I will be in a meeting probably, what about today or tomorrow morning? Anyway please write a direct email to schedule this.

[2020-12-17 13:39] cardigliano commented on #4837
@vollkommenheit weird this is not working for you, it works like a charm for me. Could you check what happens with DYLD_FALLBACK_LIBRARY_PATH in place of DYLD_LIBRARY_PATH ?

[2020-12-17 14:49] lucaderi commented on #4831
Log fixed by f8e12264f0991ec5e71066b522967c275033df67

[2020-12-17 14:49] #4831 closed, assigned to nobody

[2020-12-17 14:50] NetworkSeb commented on #4833
Hi Simone,

Thanks for the pointers, I've not edited the mappings manually, to make sure I've deleted the index template and index and restarted ntopng (so it pushed the template again).

I've checked under Exported vs Dropped flows and this is the graph it gives me:

![image](https://user-images.githubusercontent.com/4477783/102502583-b744f380-4076-11eb-84fd-956948cf5ee9.png)

I restated ntopng @

[2020-12-17 14:50] lucaderi commented on #4762
This is a corrupted RRD, so the only solution is to delete the RRD and start over

[2020-12-17 14:50] #4762 closed, assigned to nobody

[2020-12-17 14:53] lucaderi commented on #4812
Speedtest results are reported by speediest itself. ntopng just reports the value. Comparing it with charts makes no sense as I am not sure speedtest runs the test filling up the pipe

[2020-12-17 14:53] #4812 closed, assigned to simonemainardi

[2020-12-17 14:57] lucaderi commented on #4752
I suggest to look at the packet drops and see what are the reported values. You have a lot of traffic for WInpcap so this can also be part of the equation.

[2020-12-17 14:59] lucaderi commented on #4809
These messages are designed to be annoying as you need to fix the issue because this is a critical problem you need to address

[2020-12-17 14:59] #4809 closed, assigned to nobody

[2020-12-17 15:00] lucaderi commented on #3616
After some discussions, adding Windows ICMP support is not a quick thing to implement and adding "UDP Ping" will be a deviation with respect to Windows. So better leave things as are today

[2020-12-17 15:00] #3616 closed, assigned to lucaderi

[2020-12-17 15:07] lucaderi commented on #4825
After analysis your problem is due to the fact you're contacting hosts that are blacklisted. For the 5353 issue I cannot say much as there not such packets in the pcap you attached

[2020-12-17 15:07] #4825 closed, assigned to lucaderi

[2020-12-17 15:10] lucaderi commented on #4810
I have run tests on Windows and this is normal when network discovery is running as it pings the nextworks and scans devices. I suggest you to disable network discovery in Runtime Preferences
![Screen Shot 2020-12-17 at 16 09 21](https://user-images.githubusercontent.com/4493366/102505434-44417a00-4082-11eb-9042-b0d6728c4764.png)

[2020-12-17 15:18] eliassal commented on #4831
Thanks Luca, what should I do now to fix it in my environment? should download a file or wait for a new version? Thanks again

[2020-12-17 15:20] eliassal commented on #4812
OK, but the alert is stuck again, It works only once after restarting the service then it gets stuck

[2020-12-17 15:22] eliassal commented on #4825
OK thanks

[2020-12-17 15:31] cardigliano commented on #4773
It seems that the messages got discarded due to missing host information in the syslog message. I pushed an enhancement to read the host from the message source also in udp mode. A new build should be available soon.

[2020-12-17 16:40] simonemainardi commented on #4823
@TimotheusBachinger thanks for pointing this out.

@MatteoBiscosi please add mandatory `ifid` param as well and make sure interface selection is performed.

[2020-12-17 16:42] bengt-a commented on #4835
Anyone?
I suspect the web server files are corrupt. How to reinstall?
Or if no information, how do I completely remove/purge the application and start over from scratch?

[2020-12-17 17:35] #4843 closed, assigned to simonemainardi

[2020-12-17 17:36] simonemainardi commented on #4843
As discussed internally, extra references to the documentation and code have been added

![image](https://user-images.githubusercontent.com/3397663/102522630-c89df800-4096-11eb-9b47-6d7f80c5bedc.png)

[2020-12-17 17:57] simonemainardi commented on #4846
what's the IP of localhost? it's marked as blacklisted. Did you play with lists? Check the flow. What's the alert shown inside the flow?

[2020-12-17 18:00] Zathiel commented on #4846
127.0.0.1

i do not even play with with list
![image](https://user-images.githubusercontent.com/26553418/102525163-30097700-409a-11eb-9a04-ae9a5c0caebf.png)

[2020-12-17 18:42] #4785 closed, assigned to simonemainardi

[2020-12-17 22:08] bengt-a commented on #4835
I tried completely uninstalling and reinstalling. No change.

I am starting to suspect the installation of Monitorix on the same server. It is apparently using a httpd server.

When checking with netstat -a, I see monitorix listening on port 3030. Could this httpd server be interfering with ntopng somehow? What can I do to sort this out?

[2020-12-18 07:16] vollkommenheit commented on #4837
@cardigliano I get the same outcome with `DYLD_FALLBACK_LIBRARY_PATH` as `DYLD_LIBRARY_PATH.`  As noted in my second post above, on my 10.11 installation, using either `LDFLAGS="-L/usr/local/opt/ntopng/"` or `export LD_LIBRARY_PATH="/usr/local/opt/ntopng/"` gets ntopng (the Bash script) to look in the correct place: `/usr/local/opt/ntopng/` although the underlying ntopng-bin still does not.

Given

[2020-12-18 08:06] cardigliano commented on #4837
@vollkommenheit how do you want to modify ntopng-bin? The loader should handle those env variables, not ntopng itself.. if you think they are just ignored by the loader, we should figure out why

[2020-12-18 08:17] vollkommenheit commented on #4837
@cardigliano, so how to diagnose this? The following two threads seem to be concerning the same issue, but I'm not seeing an obvious solution or workaround, other than sym-linking to `/usr/local/opt/ntopng/` which is a band aid:

https://stackoverflow.com/questions/3146274/is-it-ok-to-use-dyld-library-path-on-mac-os-x-and-whats-the-dynamic-library-s

https://github.com/nteract/nteract/issues/1523

[2020-12-18 08:36] vollkommenheit commented on #4837
`export RPATH=/usr/local/opt/ntopng/:$RPATH` also gets ntopng (but not ntopng-bin) to look inside /usr/local/opt/ntopng/ on 10.11, so maybe this is more desirable than using "LD_LIBRARY_PAHT" or "LDFLAGS" or "DYLD_LIBRARY_PATH"?

[2020-12-18 09:21] vollkommenheit commented on #4837
Maybe this will do, for ntopng-bin?
https://github.com/BVLC/caffe/issues/3227#issuecomment-167540070

[2020-12-18 11:08] #4842 closed, assigned to simonemainardi

[2020-12-18 11:20] simonemainardi commented on #4823
@TimotheusBachinger ifid has been added as mandatory param and doc has been updated accordingly. Changes available in the latest stable and dev. Thanks for pointing this out.

[2020-12-18 11:20] #4823 closed, assigned to MatteoBiscosi

[2020-12-18 11:21] simonemainardi commented on #4844
Seems to be due to syslog trying to set alerts for hosts that are not in memory. Solution is to create a syslog-specific alert entity.

[2020-12-18 11:30] simonemainardi commented on #4846
it looks odd: in and out traffic is identical.

Post ntopng configuration used, the screenshot of the whole page above.

Also try and:
- stop ntopng
- delete /var/lib/ntopng/category_lists/
- restart ntopng

[2020-12-18 11:31] simonemainardi commented on #4830
Closing for inactivity. Reopen with the requested information if necessary.

[2020-12-18 11:31] #4830 closed, assigned to nobody

[2020-12-18 13:20] simonemainardi commented on #4835
you need to understand why you get errors `ERR_ABORTED 404`, `Could not establish connection. Receiving end does not exist`.

It could be a firewall preventing ntopng to be reached. Check the presence of firewalls, check iptables, and also remove Monitorix if you have the suspect it can be the culprit.

Again ntopng works OK on the pi3 so it must be something affecting your installation only.

[2020-12-18 14:30] #4829 closed, assigned to simonemainardi, gabryon99

[2020-12-18 16:29] bengt-a commented on #4835
Hello!
I have made no changes to my infrastructure, and there is no firewall. Like
I said, all I have done is upgrade ntopng via apt-get upgrade.
How is ntopng serving its webpages? It seems like it's the web server which
is having severe issues.

I already explained that it has already worked on my Pi3, but suddenly
stopped working. So yes, it is probably affecting my installation only.
This is w

[2020-12-18 16:34] lucaderi opened #4847 "Restore users menu in left sidebar"
The original users manu in the left sidebar needs to be restored

[2020-12-18 16:50] cardigliano commented on #4773
Update: the endpoint configuration was messed up, causing the alerts to get lost, a configuration reset fixed this.

[2020-12-18 17:00] #4773 closed, assigned to cardigliano

[2020-12-18 17:02] cardigliano commented on #4844
It is likely this was due to host alerts generated by syslog events, the alert store was checking the host, which is not always present/active in case of syslog events. A patch has been pushed to fix a similar issue, this should have been addressed as well.

[2020-12-18 17:07] simonemainardi commented on #4844
https://github.com/ntop/ntopng/commit/da62df2b73a02b78bfa519a91de34b90c55412ff

[2020-12-18 18:00] simonemainardi commented on #4835
please try and remove it

[2020-12-18 18:06] lucaderi commented on #4810
Closing the ticket:will reopen if necessary

[2020-12-18 18:06] #4810 closed, assigned to simonemainardi

[2020-12-18 18:08] lucaderi commented on #4705
The problem is that ntopng does not keep-up with discord export.

[2020-12-18 18:10] lucaderi commented on #4800
In essence your request is to sort the menu after split into categories? How do you define a category

Why do you keep all traffic split per switch? Do you really need that?

[2020-12-18 18:18] astalush commented on #4800
Where I work I need to supervise all switchs. The firm has agencies all around France and we are in charge of supervising the network. In each agency there is a DELL switch with sFlow activated that I want to add into ntopng. There are 150-160 agencies so 150-160 switchs connected to routers and into an MPLS VPN. We are at the datacenter and we supervise all network so if I add all the switchs I c

[2020-12-18 18:18] eliassal commented on #4810
OK, thanks

[2020-12-18 18:19] lucaderi commented on #4800
Would you be willing to sponsor this development?

[2020-12-18 18:21] astalush commented on #4800
We would like to buy ntopng and nprobe licenses, I already talked to your colleague who already gave me 7 days licences to test the apps.

[2020-12-18 18:23] lucaderi commented on #4800
Sure but this development has some challenges
- currently we support 32 interfaces and not 200 (in other words we have set an artificial limit to avoid ntopng so be inefficient)
- we need to cluster the GUI

Is your need only realtime or do you need historical data? With 200 switches and hundred of ports the workload is a lot. That is why I am asking you what you really need.

[2020-12-18 18:27] astalush commented on #4800
The sFlow that I've activated sends to nprobe the flows, so you're telling me that nprobe only works with maximum 32 connections? We need both, realtime and historical. When I say historical it's like 'hey, we had a network problem last week, can you look into it? yes, I will check out the data from last week for your switch." But if the switch wasn't added for last week I cannot look into it. Res

[2020-12-18 18:29] lucaderi commented on #4800
How many nprobe have in your network? We need to cluster data in some way to make a plan

[2020-12-18 18:30] astalush commented on #4800
We have 15 regions, if we make 15 VM for each region, and each region with his own nprobe and ntopng, do we need 15 licenses, no?

[2020-12-18 18:31] astalush commented on #4800
Now we have one NPROBE and one NTOPNG for testing purposes, with 29 switchs sending sFlow datas to this one NPROBE.

[2020-12-18 18:56] astalush commented on #4800
OK, can we talk in private? Via email? Discord?

[2020-12-18 19:19] bengt-a commented on #4835
I checked with Monitorix support and don't see how the tools could
interfere with each other since they are using separate ports.

Please instead explain how the ntopng web server is working and configured.
Where are the files stored? Where is the configuration file? Where is the
log file?

With this information I can troubleshoot further.

PS. I also disabled the login optiojn via the --disable-l

[2020-12-18 21:31] bengt-a commented on #4835
![image](https://user-images.githubusercontent.com/20923583/102663000-3d009600-4180-11eb-9639-d20d1cef64d7.png)

[2020-12-19 00:02] bengt-a commented on #4835
I see in the browser console that I am getting lots of errors:
`Failed to load resource: the server responded with a status of 404 (Not Found)
nv.d3.css:1 Failed to load resource: the server responded with a status of 404 (Not Found)
custom_theme.css:1 Failed to load resource: the server responded with a status of 404 (Not Found)
dashboard.lua:578 Uncaught ReferenceError: $ is not defined
    at g

[2020-12-19 01:03] bengt-a commented on #4835
I think I have found the fault now!
/usr/local/share/ntopng/httpdocs/ is empty!
[code]
I can see when running ntopng in debug mode that it is trying to serve pages from this directory:
[code]

So... how can I regenerate the files which should go in this directory?
Why haven't they been generated when I reinstalled the program?

[2020-12-19 11:12] bengt-a commented on #4835
I solved the issue together with a friend. Apparently the httpdocs are located in /usr/share/ntopng, but ntopng looks in /usr/local/share/ntopng by default. Starting ntopng with flag --httpdocs-dir /usr/share/ntopng/httpdocs solved the issue.

I appreciate that I am running ntopng as a free service, but I am a little surprised that nobody in the community, or in the support, could even point me in

[2020-12-20 01:52] Zathiel commented on #4846
Hi @simonemainardi

Even with the specified task that you provide issue is still there

Can we do a call to investigate ?

Regards

[2020-12-20 19:55] TLINDEN opened #4848 "FreeBSD - ntopng 4.0 - Cannot switch to influxDB"
Howdy,

I am new to ntopng and want to use it with grafana, therefore I tried to switch to InfluxDB for timeseries storage. When I switch to influxdb, I always get this message:
[code]

It doesn't matter wether I enable auth in InfluxDB or not.

The DB is running, I can connect to it via commandline `influx`. There are no errors rerported to syslog by ntopng.

Versions:

* OS: FreeBSD 12.2-RELEASE

[2020-12-21 07:59] simonemainardi commented on #4848
hello:

- FreeBSD is not among the distros we officially support
- Latest ntopngs stable is 4.2 not 4.0 and 4.0 is no longer mantained

You should consider contacting the package maintainer

[2020-12-21 08:41] simonemainardi commented on #4846
please provide the requested information

[2020-12-21 12:33] TLINDEN commented on #4848
k, submitted [252014](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=252014).

Thanks,
Tom

[2020-12-21 12:33] #4848 closed, assigned to nobody

[2020-12-21 15:48] gabryon99 opened #4849 "Add switch states button in service map"
Inside the Service Map page, we are gonna add a new column with action buttons to switch the state of a service.
An Unknown service can be Accepted or Rejected. An Accepted/Rejected service cannot be toggled to the Unknown state but can change only to Rejected/Accepted.

<img width="1687" alt="Screenshot 2020-12-21 at 16 45 07" src="https://user-images.githubusercontent.com/14114916/102794581-e37c

[2020-12-21 16:42] patrickredo opened #4850 "Nedge VLAN Trunk mode no traffic"
Hi,

When Bridge VLAN Trunk mode is enabled Nedge doesn't pass VLAN traffic.

Bare Metal
Ubuntu Server 18.05
Intel e1000e NIC
VLANs from PfSense to Switch
VLAN package installed/enabled
bridge-nf-filter-vlan-tagged = 1
Packages installed from ntop repo
Dedicacated Management interface

20-nedge-mgmt.yaml
network:
  ethernets:
    enp3s0:
      dhcp4: false
      addresses:
      - 192.168.1.10/24

[2020-12-22 08:12] kamalyang opened #4851 "crash: double free or corruption"
I use zc mode and RSS to analysis traffic flow. Also I integrate Suricata with ntopng, but got crash everyday.
The crash log is here.
[ntopcrash.log](https://github.com/ntop/ntopng/files/5728569/ntopcrash.log)

[2020-12-22 08:26] simonemainardi commented on #4851
you are on version 4.0 which is no longer supported. Please, upgrade to 4.2+.

[2020-12-22 08:26] #4851 closed, assigned to nobody

[2020-12-22 11:52] #4845 closed, assigned to gabryon99

[2020-12-22 14:58] lucaderi opened #4852 "Implement MAC Address Based Traffic Directions"
With mirror or pcap-based systems with no traffic directions, it is not possible to know the traffic direction (ingress or egress). As in nProbe it is requested to specify a list of MAC addresses that are used to identify traffic directions. Example if you specify in the MAC address list the MAC of the router, you can have automatically the traffic direction (TX when sending to the router, RX from

[2020-12-22 15:03] lucaderi opened #4853 "Traffic Disaggregation Sub-Interfaces do not accept Dash in the Name"
Exampel LUCA-DERI does not work

[2020-12-22 15:05] lucaderi opened #4854 "Expired TLS Certificates generate an error on Windows"
![Screen Shot 2020-12-22 at 14 42 16](https://user-images.githubusercontent.com/4493366/102902500-5e5ace00-446f-11eb-9f8e-c39e323ceb74.png)

Note that I did a fix days ago for certificate time that exceeds 2^32 so this problem might be solved in the current Win build. Just check if it is still open with the current build

[2020-12-22 15:06] lucaderi opened #4855 "nBPF Seems to be Broken on Windows"
![Screen Shot 2020-12-22 at 14 27 00](https://user-images.githubusercontent.com/4493366/102902719-a2e66980-446f-11eb-9a34-f545cd439099.png)

[2020-12-22 15:11] lucaderi opened #4856 "Invalid Traffic Marked as Unidirectional UDP Traffic"
![Screen_Shot_2020-12-22_at_14_49_22](https://user-images.githubusercontent.com/4493366/102903159-3a4bbc80-4470-11eb-9bab-5cd7b26e7470.png)

[2020-12-22 15:18] lucaderi opened #4857 "Rework Traffic Behaviour Menu"
- Traffic behaviour submenu must be moved from "Misc" to a new "Traffic Behaviour" (enterprise) menu
- Add preferences for placing into category (undecided/pass/drop) the new services discovered during and after learning period

![Screen Shot 2020-12-22 at 16 14 56](https://user-images.githubusercontent.com/4493366/102903665-f0170b00-4470-11eb-9703-44b7ec6693b4.png)

[2020-12-22 15:41] cardigliano commented on #4852
Traffic from the configured MAC addresses will be RX, towards the MAC addresses will be TX.
The direction of traffic which is *not* matching any src/dst mac is RX (default).

[2020-12-22 16:11] cardigliano commented on #4853
Fixed

[2020-12-22 16:11] #4853 closed, assigned to cardigliano, gabryon99

[2020-12-22 16:33] lallori opened #4858 "libatomic required"
This is not really an issue but took me a while to discover while ntopng was not running.

I installed ntopng on CentOS8 following the steps on here:
https://packages.ntop.org/centos/

The service was not running couldn't userstand from the error what was the problem. So I runned ntopng alone and I did see that libatomic was required.

I had a minimal install of CentOS8 so that might be the case.

[2020-12-22 16:38] lallori opened #4859 "libatomic required when installing on minimal CentOS 8"
This is not really an issue but took me a while to discover while ntopng was not running and maybe this could be useful to others.

I installed ntopng on CentOS8 following the steps on here:
https://packages.ntop.org/centos/

This is the generic error I got:
Process: 152858 ExecStart=/usr/bin/ntopng /run/ntopng.conf (code=exited, status=1/FAILURE)

So I runned ntopng alone and I did see that libat

[2020-12-22 16:39] #4858 closed, assigned to nobody

[2020-12-22 20:13] NetworkSeb commented on #4833
Just for information, I've taken some further steps in my debugging:

I've completely rebuilt my elastic stack to see if that was causing any issues.
I've also tried to get the information into elasticsearch via logstash by following the README.logstash in the docs, which was also unsuccessful.

The ELK stack I'm using is currently running 7.10 of the ELK stack - could this be the issue?

[2020-12-22 20:31] NetworkSeb commented on #4833
I've taken to loading NTOP in the foreground to get more information:

After removing the ntopng_template index template in elastic and restarting Ntopng  I get the following:

`22/Dec/2020 20:28:04 [ElasticSearch.cpp:315] ERROR: Unable to send ntopng template (/usr/share/ntopng/httpdocs/misc/ntopng_template_elk.json) to ES`

Even though the error is produced, checking in Elastic afterwards, there

[2020-12-23 16:07] #4835 closed, assigned to simonemainardi

[2020-12-23 16:13] simonemainardi commented on #4835
Thanks for troubleshooting this.

Issue (fixed) was due a wrong lookup of paths, causing the default path to be taken as `/local`, that is, the default path selected when `./configure` is used without `--prefix`.

Future builds won't even need you to specify `--httpdocs-dir /usr/share/ntopng/httpdocs`.

Anyway I am not sure why your directory was empty. It should have not been present at all.

If

[2020-12-23 17:05] bengt-a commented on #4835
Hello Simone,
Thank you for your response!

I am happy that it is working now. I will remember to back up my data going
forward, and I will be looking forward to the future builds where it is not
necessary to specify the httpdocs dir.

Merry Christmas and happy holidays,
Bengt

On Wed, Dec 23, 2020 at 5:14 PM Simone Mainardi <notifications@github.com>
wrote:

[2020-12-23 17:47] simonemainardi commented on #4833
I am using an authenticated 7.10 too and it is working properly with ntopng 4.3:

[code]

I can reproduce if I deliberately set a wrong username/password pair, so maybe this is the issue. Can you please check this? Maybe I can see if I can print an error.

[2020-12-23 19:50] RomelSan commented on #4786
I have the same problem...
How do you fix it?
Is there a --community flag for nprobe?

[2020-12-24 08:01] simonemainardi commented on #4786
@RomelSan nProbe requires a license to operate, no --community flag.

[2020-12-24 10:01] simonemainardi commented on #4859
Can you please post a log? How did you find this? Did you see an exception?

[2020-12-24 10:02] simonemainardi commented on #4846
any news?

[2020-12-24 10:02] simonemainardi commented on #4844
This should be fixed in the latest build with referenced commit.

[2020-12-24 10:02] #4844 closed, assigned to simonemainardi

[2020-12-24 10:03] simonemainardi commented on #4832
Closing for inactivity. Reopen with feedback from latest 4.3 if able to reproduce.

[2020-12-24 10:03] #4832 closed, assigned to nobody

[2020-12-24 14:45] #4857 closed, assigned to gabryon99, MatteoBiscosi

[2020-12-24 14:46] #4750 closed, assigned to lucaderi, MatteoBiscosi

[2020-12-24 14:47] simonemainardi commented on #4798
@gabryon99 please comment this. If it is unfixable, write and explanation, and then close.

[2020-12-24 15:02] gabryon99 commented on #4849
The buttons have been added to the pro repository.

[2020-12-24 15:28] lallori opened #4860 "Configuring standard/non-standard ports for known applications"
I installed nprobe on OPNsense and delivering alerts on ntopng installed on another host. Everything is working fine but I am receiving unwanted alerts such as: Known application HTTP detected on non-standard port. Is there a way to configure the ports numbers? I would like to add 8080 and 3000 to the list.

[2020-12-24 15:31] lallori commented on #4859
The generic error above was generated when I was trying to start ntopng as a service.
To get that the library was missing I just run the ntopng -v from cmd line and the system just said to me that I needed that library.
After installing it with dnf everything was fine.

[2020-12-24 15:55] #4641 closed, assigned to gabryon99

[2020-12-24 15:59] kdkavanagh opened #4861 "ntopng causing packet loss: option to rate limit Network Discovery"
Network Discovery enters a tight loop sending ARP/MDNS requests for every possible IP in the address space.  On large networks (/16), this can cause broadcast storms which result in packet loss for users on the network.  Suggested fix would be to rate limit the requests, either with a simple sleep in between requests, or possible only iterating over a subset of the address space on each invocation

[2020-12-24 16:00] lucaderi commented on #4855
Fixed with nBPF refresh

[2020-12-24 16:00] #4855 closed, assigned to cardigliano

[2020-12-24 16:02] lucaderi commented on #4854
Verified as fixed in the latest build

[2020-12-24 16:02] #4854 closed, assigned to simonemainardi, gabryon99

[2020-12-24 16:05] lucaderi commented on #4856
Seems to be fixed with the latest build

[2020-12-24 16:05] #4856 closed, assigned to nobody

[2020-12-24 16:06] lucaderi commented on #4752
We have tested the latest release (late Dec) and not seen the behaviour you are reporting. Please update and let us know if it works. Closing for the time being, please reopen if necessary

[2020-12-24 16:06] #4752 closed, assigned to lucaderi

[2020-12-25 23:40] Zathiel commented on #4846
Hi Simone,

I am not in the office currently

I will send u asap.

Regards

[2020-12-28 00:33] r1bnc commented on #4861
I think I may have this issue as well. I kept loosing the ethernet connection every 15 mins (exact) and notice some mDNS/ARP requests in wireshark as well as journalctl log: `ntop-utils-manage-updates -a handle-upgrade-requests`. I have uninstalled ntopng (for the meantime) and the issue appears to be fixed.

[2020-12-28 02:31] saberph commented on #4833
We have the same issue.

Dec 27 21:26:55 ntopng[1347170]: 27/Dec/2020 21:26:55 [ElasticSearch.cpp:175] ERROR: ES: POST request for 2138 flows (1048616 bytes) failed
Dec 27 21:26:56 ntopng[1347170]: [ElasticSearch.cpp:175] ERROR: ES: POST request for 2144 flows (1048599 bytes) failed
Dec 27 21:26:56 ntopng[1347170]: 27/Dec/2020 21:26:56 [ElasticSearch.cpp:175] ERROR: ES: POST request for 2144 flows

[2020-12-28 03:29] saberph opened #4863 "Slow "massive flow" detection time"
Hi,

We use the userscript "flows" in order to generate alerts for DoS attacks detection. The minimum for alert_granularity is minute. Is there a way to set it 10 secondes or less instead of a minute?

Thanks,
Saber

[2020-12-28 06:49] behzad-kh opened #4864 "NTOP-NG MYSQL dump-flow"
Hi
I am assessing the NTOP-NG Professional edition for the billing (security report as an added value).
In my sanity check, I have a 10G file hosting on a web server (2.2.2.13) which is going to be downloaded from the client (10.10.13.1).
It worth mentioning the NTOP-NG is acting as a gateway between these two subnets (as inline-mode).
When I have download the 10G file, the "flows" section of the

[2020-12-28 07:05] TheMichMan opened #4865 "New ntopng-4.3.201224-x64 install after trial expire error"
After trial license expires get this error:

HTTP/1.1 302 Found Set-Cookie: session=20015bf9525f84e0e566a42861114b7b; path=/; HttpOnly; SameSite=lax Location: /lua/http_status_code.lua?message=internal_error&referer=localhost%3A3000%2F%3Fifid%3D1%26page%3Dinternals%26tab%3Dperiodic_activities&error_message=...scripts%2Flua%2Fmodules%2Ftoasts%2Fpredicates_defined_toasts.lua%3A279%3A%20attempt%20to%

[2020-12-28 08:00] amastelek opened #4866 "Geo map has pins and info but no map"
Have installed stable 4.2
Followed process for maxmind incl. account

Map has pins but no actual map image?  Just white.

[2020-12-28 08:02] amastelek commented on #4866
Map disappears when dark theme is used as above!

[2020-12-28 08:05] simonemainardi commented on #4864
The 10GB transfer shown is a long-lived flow, i.e., it has been active for 17+ minutes

![image](https://user-images.githubusercontent.com/3397663/103199638-8a50d600-48eb-11eb-807e-95f52231c5d0.png)

ntopng dumps long-lived flows periodically (say every X seconds), so it is normal if you see the historical dump lagging a bit behind the live data. Just allow some time, let the flow expire (i.e., di

[2020-12-28 08:07] simonemainardi commented on #4866
@gabryon99 can you please check this? Another discord user was reporting this behavior but if I remember correctly it should already have been solved.

[2020-12-28 08:11] gabryon99 commented on #4866
Hello, we solved this issue in dev stable. This ticket is a duplicated of #4770

[2020-12-28 08:11] simonemainardi commented on #4863
Flow user scripts are not called periodically but on a per-event basis. See https://www.ntop.org/guides/ntopng/plugins/user_script_hooks.html?highlight=protocoldetected#flow-user-script-hooks

So basically you can get a script called every time a flow is seen for the first time.

There's no concept of granularity for flow user scripts.

If you want to explain more what you're trying to achieve, I'

[2020-12-28 08:12] simonemainardi commented on #4866
@gabryon99 can you please backport (and test) the fix to stable?

[2020-12-28 08:13] gabryon99 commented on #4866
Sure!

[2020-12-28 08:35] gabryon99 commented on #4866
Ok, I backported the fixing commit to the 4.2-stable branch. @amastelek In the next hours, a new updated will be available!

<img width="1769" alt="Screenshot 2020-12-28 at 09 30 49" src="https://user-images.githubusercontent.com/14114916/103201114-61cadb00-48ef-11eb-9b5e-efd1ad05bf62.png">

[2020-12-28 08:56] lucaderi opened #4867 "Learning status is not honoured as it should be"
![Screen Shot 2020-12-28 at 09 55 38](https://user-images.githubusercontent.com/4493366/103202540-faaf2580-48f2-11eb-9c64-b0eec28db6fb.png)
![Screen Shot 2020-12-28 at 09 55 28](https://user-images.githubusercontent.com/4493366/103202543-fb47bc00-48f2-11eb-859c-d5d2318d2531.png)

[2020-12-28 08:58] lucaderi commented on #4849
![Screen Shot 2020-12-28 at 09 57 32](https://user-images.githubusercontent.com/4493366/103202602-23cfb600-48f3-11eb-9c56-91d42378cfd5.png)
The batch state change does not work (set button disabled) during learning

[2020-12-28 09:00] lucaderi opened #4868 "[Regression] Zap heading blanks in search as you do with trailer"
![Screen Shot 2020-12-28 at 09 59 00](https://user-images.githubusercontent.com/4493366/103202707-75784080-48f3-11eb-8f01-91454212c585.png)

[2020-12-28 09:01] #4866 closed, assigned to gabryon99

[2020-12-28 09:30] #4865 closed, assigned to simonemainardi

[2020-12-28 09:38] simonemainardi commented on #4865
Thanks for reporting. Issue is fixed and will be available in the next dev build, out in less than 24h.

[2020-12-28 09:56] lucaderi commented on #4861
Better to disable periodic discovery from preferences rather than uninstall the tool isn't it?

[2020-12-28 10:20] zimbawe998 opened #4869 "Unexpected DNS/DHCP/NTP/SMTP with FQDN and IP"
This feature is cool, but We need FQDN also, because for Cloud Email Services, or public NTP it is difficult to track every single IP provides have.

[2020-12-28 10:20] zimbawe998 opened #4870 "Exporting Alerts"
It will be appreciated the possibility to export past alert with/without filters like CSV,PDF

[2020-12-28 10:22] lucaderi commented on #4861
We already limit the number of requets by adding h a 1 ms sleep (https://github.com/ntop/ntopng/blob/dev/src/NetworkDiscovery.cpp#L278), that I have increased to 1.5 ms. The fact that you have a /16 flat network is not a good news: I have added a limit to /23 to avoid long scans. The blank request is correct and the MAC is not blank as you said.
![Screen Shot 2020-12-28 at 11 18 17](https://user-i

[2020-12-28 10:23] zimbawe998 opened #4871 "TCP RST Flags"
How can i know the live and hystorical RST flags behavior?
In order to do assurance and verifiy if the firewall is blocking or not, how can i export who is creating RST Flags on flows?

[2020-12-28 10:25] #4859 closed, assigned to nobody

[2020-12-28 10:30] simonemainardi commented on #4859
Thanks for pointing this out. Fixed.

[2020-12-28 10:31] simonemainardi commented on #4871
Please, explain further. Give an example at least.

[2020-12-28 10:32] simonemainardi commented on #4870
duplicate of https://github.com/ntop/ntopng/issues/4769

[2020-12-28 10:32] #4870 closed, assigned to nobody

[2020-12-28 10:38] simonemainardi commented on #4860
Application well-known ports are coded in nDPI and are standard so they cannot be configured.

If you are planning to run applications on non-well-known ports, you should either add them as custom applications https://www.ntop.org/guides/ntopng/web_gui/categories.html#custom-applications or disable the risk "Known application HTTP detected on non-standard port" from the flow user scripts "Flow Ris

[2020-12-28 10:38] #4860 closed, assigned to nobody

[2020-12-28 11:11] lucaderi commented on #4827
As agreed
- in case of numeric IPv4 or IPv6 addresses we'll use the corresponding protocol version
- in case of a symbolic address it will be resolved and used the available address. In case of ambiguity (IPv4 and IPv6) is the user that will specify the numeric IP

[2020-12-28 11:18] zimbawe998 commented on #4871
On interface packets menu i have that 30% ot all packet are on RST. How can i reduce this percentage?
Is there an export that allow me to understand which protocols/IP SRC/IP DST generate this traffic?

[2020-12-28 12:51] zimbawe998 opened #4872 "Exclusion/inclusion filters"
Hi Customer is asking the possibility to have Exclusions/Inclusions filters on:
- Flow view
- Hystorical view
- Host Flow View

[2020-12-28 13:14] simonemainardi commented on #4872
Did you consider using (a combination of):

- BPF-filters (option `-B`)
- Dynamic disaggregated interfaces
- Historical flows explorer
- nIndex historical flows explorer

Explain, in detail, why any of the above does not suffice to solve your use case, and, if necessary, what we should do to extend.

[2020-12-28 13:20] simonemainardi commented on #4871
You can use the active flows page:

![image](https://user-images.githubusercontent.com/3397663/103216985-b97d3c80-4917-11eb-9831-7e5fe779c5ad.png)

You can pick (any combination of):
- TCP as protocol
- Then you can choose the connection state (e.g., established, ReSeT, connecting, etc).
- And eventually the Application

Why does this don't suffice?

[2020-12-28 13:39] #4793 closed, assigned to simonemainardi

[2020-12-28 14:00] lucaderi commented on #4833
@saberph Can you please report the error message triggered by https://github.com/ntop/ntopng/blob/dev/src/Utils.cpp#L1593 and eventually start ntopng on shell to better see what is going on

[2020-12-28 16:10] amastelek opened #4873 "Multiple interface selections in user preferences"
![image](https://user-images.githubusercontent.com/61453908/103227726-b2febd00-4937-11eb-96dd-e6182ec79712.png)

Is it possible to select two or more interfaces for a user's preferences.  I don't want to create two user accounts?
Some of the other preferences elsewhere allow those types of choices.

[2020-12-28 17:42] gabryon99 commented on #4798
At the moment we decided to remove the table-responsive wrapper and use the responsive flag provided by the new datatables.

[2020-12-28 18:08] simonemainardi commented on #4798
Please comment what's the behavior with reference to past closed issues:

- https://github.com/ntop/ntopng/issues/4497
- https://github.com/ntop/ntopng/issues/4362

[2020-12-28 22:13] saberph commented on #4833
@lucaderi Tried to the verbose level 6 (debug), I got no trace regarding ES post errors. Weird.

Same on /lua/system_stats.lua (Last log trace).

[2020-12-28 22:18] saberph commented on #4863
We are using Endpoints/Recipients to receive alerts + take action by executing custom scripts and it takes more than a minute to receive an alert regarding an attack which is way too much. We use this one "/plugins/alerts/network/threshold_cross/user_scripts/host/flows.lua"

Would like to execute a custom script when an IP receives more than X flows.

Thanks!

[2020-12-29 08:41] #4852 closed, assigned to cardigliano

[2020-12-29 09:26] simonemainardi commented on #4873
Currently, this is not supported. I can mark it as a feature request.

[2020-12-29 09:33] simonemainardi commented on #4873
by the way, this is a duplicate of https://github.com/ntop/ntopng/issues/2525

[2020-12-29 11:41] AlekseiSaff opened #4874 "Alarm bases on flow (include or exclude)"
Hi, we would like to have an alarm option based on:

 unwanted flow (let's say to the specific IP: port) (i.e. send an alarm if we see a traffic to 192.168.12.35:50001)
 flow that we don't see, but that must be during work hours (let's say specific multicast flow) (i.e. send an alarm if no multicast traffic in las X minutes).

it's also good to have an option to limit it during specific working ho

[2020-12-29 13:51] lucaderi opened #4875 "Table reload does not refresh menu items"
![Screen Shot 2020-12-29 at 14 50 29](https://user-images.githubusercontent.com/4493366/103288504-493cec80-49e5-11eb-9832-3794239f39aa.png)

[2020-12-29 13:54] lucaderi commented on #4868
With heading space
![Screen Shot 2020-12-29 at 14 53 32](https://user-images.githubusercontent.com/4493366/103288659-acc71a00-49e5-11eb-95d0-11dc8f7b098d.png)

Without heading space
![Screen Shot 2020-12-29 at 14 53 26](https://user-images.githubusercontent.com/4493366/103288661-ad5fb080-49e5-11eb-9b47-312b5362dc09.png)

[2020-12-29 14:54] amastelek commented on #4873
Thanks.  Please make a feature request.
I have 4 sites in Cape Town and 4 sites in Joburg sending IPFIX to a nprobe in Joburg which then connects to a NTOPNG in the IBM Cloud.  There are separate users in Cape Town and Joburg.
Some of the sites have an overlapping private IP, so a filter will not work.  I disaggregate based on IP probed which works.
Is there any other way to do it???  The current

[2020-12-29 16:15] eliassal opened #4876 "ntopng bandwidth consumption"
Hi, I have a question about ntopng consumption which seems to me very high. I use solarwinds bandwidth monitor, have setup  monitors for 8 NICs (wifi & ethernet) as you can notice in the 1st snapshot, 3 on the left for 3 NICS on a physcial server, in the middle Wand and Lan interfaces of my router, in the right 3, 1st one on top is the monitor for the VM where ntop runs, the other 2 monitors are f

[2020-12-29 16:47] lucaderi commented on #4833
@saberph I have added new traces (they are in the dev version, no stable) in the code: new packages will be built in one hour. Before answering you I need to nail down the problem. Please update and let us know

[2020-12-29 17:49] #4673 closed, assigned to simonemainardi

[2020-12-29 19:22] saberph commented on #4833
@lucaderi  Thanks for the prompt answer. Unfortunately it's a production server, I can't simply run a dev package on it.

I will try to setup a test server to try it out soon.

[2020-12-30 08:13] gabryon99 commented on #4849
The set button has been re-enabled in learning status as well. Check the pro repository.

[2020-12-30 08:27] lucaderi commented on #4774
Duplicate of #4861 that shoulf fixed by now

[2020-12-30 08:27] #4774 closed, assigned to MatteoBiscosi

[2020-12-30 08:27] lucaderi commented on #4861
Closing as it works for us. if not please reopen and ad details

[2020-12-30 08:27] #4861 closed, assigned to lucaderi

[2020-12-30 08:31] lucaderi commented on #4849
Works as expected

[2020-12-30 08:31] #4849 closed, assigned to gabryon99, MatteoBiscosi

[2020-12-30 08:32] lucaderi commented on #4867
Verified as fixed

[2020-12-30 08:32] #4867 closed, assigned to MatteoBiscosi

[2020-12-30 09:39] lucaderi opened #4877 "Improved color usage in service map"
In service map, color arcs according to the state (yellow, green red)

[2020-12-30 10:20] gabryon99 commented on #4877
Implemented. Check the pro repository

[2020-12-30 10:46] #4737 closed, assigned to lucaderi, MatteoBiscosi

[2020-12-30 11:15] kraker07 commented on #907
Hi;

How is come from  router ? Can we do something on router?If I get radius plugin for ppp , is it combining data on dump file automaticly?

[2020-12-30 13:03] behzad-kh commented on #4864
Hi thanks for your respond.
As I have check after a while I have notice that when I have download the 3GB file size the historical data just shows the exact number in the Flows table.
However when I am trying to download 4GB file size, the historical data shows an incorrect data even after 1 hour left.
following is the image proof the matter.
3GB file size flow:
![image](https://user-images.github

[2020-12-30 13:37] simonemainardi commented on #4864
please, give us exact commands and ntopng configuration used so we can reproduce in our lab

[2020-12-30 13:43] simonemainardi commented on #4873
Is it ok for you to have:

- A first set of users, say U1, U2, U3, accessing any of the 4 sites in Cape Town
- Another set of users, say U4, U5, U6, accessing any of the 4 sites in Joburg

Would this solve your use case?

[2020-12-30 13:52] #4868 closed, assigned to gabryon99

[2020-12-30 13:59] simonemainardi opened #4878 "Service Map issues"
- As soon as I try to zoom out the service map, it gets stuck in an unusable state:

![image](https://user-images.githubusercontent.com/3397663/103355682-1eb76600-4aaf-11eb-93c0-74eabd003771.png)

- There's no "reload table button" as said in the message

- buttons are not equally-spaced

![image](https://user-images.githubusercontent.com/3397663/103355798-7fdf3980-4aaf-11eb-9ca5-7c7238027d3c.png)

[2020-12-30 14:05] simonemainardi commented on #4878
note says "During the learning, a service status cannot be changed." but I can change the status of services using the rightmost column

During the learning, a service status cannot be changed.

![image](https://user-images.githubusercontent.com/3397663/103356121-596dce00-4ab0-11eb-9036-2e13101f8487.png)

![image](https://user-images.githubusercontent.com/3397663/103356129-612d7280-4ab0-11eb-800c-

[2020-12-30 14:06] simonemainardi commented on #4878
There are two yellow edges in the graph, but no yellow service is present in the table

![image](https://user-images.githubusercontent.com/3397663/103356185-85894f00-4ab0-11eb-9b08-b1dcd261e513.png)

[2020-12-30 14:07] simonemainardi commented on #4878
What is the meaning of "Undefined" status

![image](https://user-images.githubusercontent.com/3397663/103356238-b2d5fd00-4ab0-11eb-9781-30670f69ceb5.png)

[2020-12-30 14:08] simonemainardi commented on #4875
Still bugged

![image](https://user-images.githubusercontent.com/3397663/103356315-e022ab00-4ab0-11eb-923d-53f9ebc809c3.png)

[2020-12-30 14:10] #4877 closed, assigned to gabryon99

[2020-12-30 14:11] simonemainardi opened #4879 "Set service status broken"
Clicking on "Set service status to allowed" is ineffective, nothing happens

![image](https://user-images.githubusercontent.com/3397663/103356477-44456f00-4ab1-11eb-8db0-b95f523edfa6.png)

[2020-12-30 14:12] simonemainardi commented on #4878
I have a denied service

![image](https://user-images.githubusercontent.com/3397663/103356555-6fc85980-4ab1-11eb-8a56-820a3b122a0e.png)

But if I pick Denied from the dropdown, it returns no results

![image](https://user-images.githubusercontent.com/3397663/103356577-7ce54880-4ab1-11eb-9923-bd29d72acae4.png)

[2020-12-30 14:13] simonemainardi commented on #4878
last seen must be aligned to the center

![Uploading image.png…]()

[2020-12-30 14:15] simonemainardi commented on #4879
Setting "denied" on this filter, causes ALL services to be "denied"

![image](https://user-images.githubusercontent.com/3397663/103356722-ce8dd300-4ab1-11eb-8b60-f4f783dac1b9.png)

[2020-12-30 14:20] simonemainardi opened #4880 "Flush services confirmation not using modals"
This is a non-standard alert

![image](https://user-images.githubusercontent.com/3397663/103357024-7c997d00-4ab2-11eb-863b-787836619ee7.png)

Use the modal to require confirmation as in any other page

[2020-12-30 14:26] simonemainardi commented on #4872
can you comment?

[2020-12-30 14:26] simonemainardi commented on #4871
any news?

[2020-12-30 14:28] simonemainardi commented on #4863
It's not scalable to run periodic scripts on hosts with a granularity smaller than 1 minute.

I think a viable approach would be to code event-based user scripts for hosts - something similar to what is currently done on flows now.

[2020-12-30 14:29] simonemainardi commented on #4846
Closing for inactivity. Reopen with the requested information if necessary.

[2020-12-30 14:29] #4846 closed, assigned to nobody

[2020-12-30 14:48] NetworkSeb commented on #4833
HI All,

After much fiddling I think I might have found the issue (for me at least).

I was calling ntopng (whilst debugging) as follows:

`ntopng -F "es;ntopng;ntopng-%Y.%m.%d;http://elastic:9200/_bulk;user:pass" -v 6`

This was generating errors such as:

`30/Dec/2020 14:22:34 [Utils.cpp:1289] [JSON] ,"_type":"ntopng","_id":"bewHtHYBz4oKDFqrUkSX","status":400,"error":{"type":"illegal_argument_ex

[2020-12-30 14:48] #4833 closed, assigned to simonemainardi

[2020-12-30 16:50] simonemainardi commented on #4827
done as requested in the referenced commits

![image](https://user-images.githubusercontent.com/3397663/103368271-6ea22700-4ac7-11eb-8043-acb461e8147f.png)

[2020-12-30 16:50] #4827 closed, assigned to simonemainardi, gabryon99

[2020-12-30 19:01] saberph commented on #4863
What's the best way to proceed?

I really would like to avoid using another software like fastnetmon.

Thanks!

[2020-12-31 07:58] #4875 closed, assigned to gabryon99

[2020-12-31 08:00] #4879 closed, assigned to gabryon99, MatteoBiscosi

[2020-12-31 08:17] simonemainardi commented on #4876
There is no high consumption. If you look at average or 95percentile of WAN/LAN traffic, you'll see the they are unchanged.

Those short high-speed notches may signify one of the following things:
- ntopng web UI is being accessed and thus serving its contents
- ntopng may be downloading category lists from authorized sites
- the VM is doing network activities that are not related with ntopng

You

[2020-12-31 08:17] #4876 closed, assigned to nobody

[2020-12-31 08:33] #4778 closed, assigned to simonemainardi

[2020-12-31 09:20] gabryon99 commented on #4880
Implemented standard modals. Check the pro repository, please.

[2020-12-31 09:20] #4717 closed, assigned to simonemainardi

[2020-12-31 09:23] simonemainardi commented on #4717
Implemented as requested. A new build is in progress and will be ready in the next couple of hours.

[2020-12-31 09:25] gabryon99 commented on #4878
I'll try to do a brief summary:
* fixed the zoom for the graph view
* improved the displayed message
* between the buttons there was a separator (like other similar pages), now is gone and the button are equally spaced
* removed old note
* fixed unknown flows in the map
* **Undefined** means that a service is not **allowed** either **denied** and user interaction is requested
* when a service chan

[2020-12-31 09:36] lucaderi commented on #3561
As recipients and endpoints have been introduced, this ticket is no longer interesting to implement

[2020-12-31 09:36] #3561 closed, assigned to gabryon99

[2020-12-31 09:36] #4880 closed, assigned to gabryon99

[2020-12-31 09:41] eliassal commented on #4876
Thanks, yes, it is monitoring all hosts, I don't see huge traffic in webui and I access it 2 or 3 times a day.
By "downloading category lists from authorized sites.....", which sites ? Can IU find them somewhere in the configuration and authorized by ntopng?
As you can notice in the following snapshot of ntopng, no huge flows (this is the standard daily figures)
![details](https://user-images.gith

[2020-12-31 09:44] simonemainardi commented on #4876
https://www.ntop.org/guides/ntopng/advanced_features/category_lists.html?highlight=lists

Look at the header when you have the spike in solar winds.

[2020-12-31 09:50] simonemainardi commented on #4878
This is still bugged: https://github.com/ntop/ntopng/issues/4878#issuecomment-752635919
Please rename Undefined to Undecided

[2020-12-31 09:54] simonemainardi commented on #4705
Closing this as everything is working as expected. When sending too many alerts to discord, discord server starts throttling (as also told in an ntopng alert) and alerts remain in the ntopng export queue as the server is not willing to accept them.

You should change the severity and limit the alerts sent do discord. Otherwise, you should switch to email or other endpoints that don't enforce throt

[2020-12-31 09:54] #4705 closed, assigned to nobody

[2020-12-31 09:55] eliassal commented on #4876
Great, so many thanks, I checked, by default in ntopng there is 6 enabled lists. I visited all, update seems should be done one list by one list, is there a way to update them all at one time?

[2020-12-31 09:55] simonemainardi commented on #4699
Please comment

- Did you know you can pick the exporter from the active flows dropdown?
- Did you consider using Interface disaggregation with Probe IP?

Explain why your use case doesn't fall in any of the above

[2020-12-31 09:57] simonemainardi commented on #4698
Merged with #4769

[2020-12-31 09:57] #4698 closed, assigned to nobody

[2020-12-31 10:00] simonemainardi commented on #4876
They are updated periodically together, depending on the specified frequency.

[2020-12-31 10:01] simonemainardi commented on #4798
Check closed issues above. For example, the interface stats page no longer scrolls horizontally and this prevents the UI from being used.

[2020-12-31 13:03] simonemainardi commented on #4769
Implemented. A download button has now been added. It will send you a json file containing all the alerts matching selection criteria.

![image](https://user-images.githubusercontent.com/3397663/103411551-ed9f6a00-4b70-11eb-9f0e-36fdb429c079.png)

New build is in progress.

[2020-12-31 13:03] #4769 closed, assigned to nobody

[2020-12-31 13:57] lucaderi commented on #4804
The issue seemes to be fied on our end. Will reopen if necessary

[2020-12-31 13:57] #4804 closed, assigned to nobody

[2021-01-01 10:18] behzad-kh commented on #4864
Hi @simonemainardi
I would like to thank you for the support.
Following is the configuration images:
the network topology:
![net_diagram](https://user-images.githubusercontent.com/24776390/103436992-328dd400-4c37-11eb-96a0-17ffe9eda38a.png)
NTOP-NG configuration:
![ntopng conf](https://user-images.githubusercontent.com/24776390/103437012-67019000-4c37-11eb-91c3-7bb8e76c07b1.png)
The Mysql tables:

[2021-01-01 12:16] CyberbreinAirw0lf opened #4881 "Error on building kernal"
Team,

See error message below:
I upgraded Ubuntu from 18.04.5 to 20.04.1.
This worked as expected with the nprobe-system.
But run into a kernal build error for ntopng.

This message pops up with all relevant APT commands:
- apt update
- apt upgrade
- apt autoremove
The code-part below is from apt autoremove.

The upgrade was done with do-release-upgrade.
Once finished and rebooted, the file /etc/

[2021-01-02 01:59] kdkavanagh commented on #4861
This will certainly help.  Curious if it is feasible to either limit the discovery to only one network or perhaps offer the option to run discovery on-demand (e.g I'd be fine running it once a day overnight to minimize impacts to users)?

[2021-01-02 21:24] behzad-kh commented on #4864
anyone?!

[2021-01-04 08:36] cardigliano commented on #4881
@NogNeetMachinaal those drivers compile on the same kernel here, could you provide the log files to check what is the issue?
cat /var/lib/dkms/igb-zc/5.3.5.18.3323/build/make.log

[2021-01-04 09:41] amastelek commented on #4873
Yes,

That will work.

*From:* Simone Mainardi <notifications@github.com>
*Sent:* Wednesday, 30 December 2020 15:44
*To:* ntop/ntopng <ntopng@noreply.github.com>
*Cc:* amastelek <ronald@amastelek.com>; Author <author@noreply.github.com>
*Subject:* Re: [ntop/ntopng] Multiple interface selections in user
preferences (#4873)

Is it ok for you to have:

   - A first set of users, say U1, U2, U3, acces

[2021-01-04 12:14] sickboy2711 opened #4882 "Observe datavolume & traffic in my Homenetwork"
Hello
I've installed ntopng and activated an Enterprise license to my Raspberry PI3, as i think ntopng is a great tool to see what happen in my network.

After the installation, i can see all my network devices, that`s fine!! But i can`t see how many Bytes they take from the Internet.
I've tested it with a 8GB download with my NAS (LAN-connection to my Fritzbox) and ntopng doesn't show, that my NA

[2021-01-04 13:29] simonemainardi commented on #4864
All the tests run have completed successfully. Long-lived flows are dumped properly, even if divided into multiple 5-minute long parts. Tests run involved large SSH file transfers, TLS and HTTP download.

Here's an example that you can reproduce as

[code]

As you can see from the image, the flow takes more than 5 minutes to complete, so it is cut into two flows, but the overall traffic total matc

[2021-01-04 13:37] simonemainardi commented on #4882
You need to deliver home network traffic to your RPI. One way is to use the fritzbox.

See the readme: https://github.com/ntop/ntopng/blob/dev/doc/README.fritzbox

[2021-01-04 13:38] #4878 closed, assigned to gabryon99

[2021-01-04 13:46] simonemainardi commented on #4873
So you don't need to have multiple interfaces per user.

Do as follow:

1. Spawn two nprobe instances, say one collecting flows on port 2055 and another one collecting flows on port 2056. You don't need two licenses. See https://www.ntop.org/guides/nprobe/how_to_start.html#init-based-systems to start multiple instances. Eg.

[code]

2. Configure Cape Town devices to export to 2055 and Jozi to expo

[2021-01-04 13:46] #4873 closed, assigned to nobody

[2021-01-04 13:51] simonemainardi commented on #4872
No feedback received. Closing.

[2021-01-04 13:51] #4872 closed, assigned to nobody

[2021-01-04 13:52] simonemainardi commented on #4871
No feedback received. Closing.

[2021-01-04 13:52] #4871 closed, assigned to nobody

[2021-01-04 14:19] sickboy2711 commented on #4882
Thanks for the readme, i‘ve also found this Script But don’t know where to Place it in my RPI and Start the autostart.

[2021-01-04 14:47] lucaderi commented on #4863
@saberph Can we schedule a call on ntop's discord to talk about this? When will you have time?

[2021-01-04 15:18] gabryon99 commented on #4798
I add the responsive wrapper for the interface page. If a table page is too large for the page we can *simply* add a wrapper.

[2021-01-04 15:38] simonemainardi opened #4883 "Active monitoring alerts not releasing"
Active monitoring alerts trigger properly but the release does not work when either the active monitoring entry is edited or deleted.

Failures are the following

[code]

[2021-01-04 15:53] simonemainardi opened #4884 "Disabled alerts do not release if triggered"
Disabling an alert which is currently triggered causes the Lua to generate an exception and this prevents the alert from being released.

Example, a threshold cross alert was configured for hosts, yielding

![image](https://user-images.githubusercontent.com/3397663/103553075-3591fa00-4ead-11eb-97f4-753502b13af7.png)

Disabling the configured alert causes

[code]

Possibly linked to https://github.

[2021-01-04 17:12] #4883 closed, assigned to simonemainardi

[2021-01-04 17:12] #4884 closed, assigned to simonemainardi

[2021-01-04 17:19] #4798 closed, assigned to gabryon99

[2021-01-05 05:28] morefigs opened #4885 "Can't find System ID"
I can't find the System ID for my ntopng instance (I need it to upgrade to Pro).

It's not shown under "About ntopng", and running `ntopng --version` only shows:

[code]

[2021-01-05 08:08] simonemainardi commented on #4885
You have a community build installed. Community builds don't have the system id and the Pro part.

To have the system id and upgrade to Pro, make sure to install ntopng following the instructions at https://packages.ntop.org

[2021-01-05 08:08] #4885 closed, assigned to nobody

[2021-01-05 08:10] simonemainardi commented on #4882
Let's first put it into your RPI home. Execute and test it. Then we can see how to run it as a service.

[2021-01-05 12:21] sickboy2711 commented on #4882
OK I've lace it to my RPI home directory and test it.
1st result was: _[Ntop.cpp:217] ERROR: Another ntopng instance is running..._
As i stopped the ntopng service with _systemctl stop ntopng_ and retry _sudo bash fritzdump.sh_ it worked, but after a few time, my internetperformance was going down near zero. I can't open any Website e.g. google and cant login to my fritzbox. My fritzbox link get a

[2021-01-05 17:30] martinscheu opened #4886 "IEC 60870-5-104 flow script - adjustable notification severity"
The EC 60870-5-104 flow script triggers an alert when not allowed TypeID is detected in IEC 60870-5-104 flows. During initial / start up phase the script generates a lot of alarms.
It would be useful, if the severity could be adjusted, e.g. alarm, warning, notice.

[2021-01-05 17:38] martinscheu commented on #4874
Hi, @AlekseiSaff
If I understand it correctly, you need alerts when

1. we see a traffic to/from 192.168.12.35:50001
2. a flow should be present within a time frame, but isn't
3. limit a flow within a time frame

For 1. and 2. could be a nice project for doing a user plugin.
Thanks

[2021-01-05 17:49] martinscheu opened #4887 "Goodput Ratio Alert adjustable"
Hello,
Goodput ratio with IEC 60870 is low, as e.g. the protocol payload of TESTFR (standby link check) is 36byte, compared to 54 bytes of the Ethernet / IP / TCP part.
Could the goodput be adjustable, e.g. by protocol ?
Or disable goodput check for selectable protocols.
Thanks

[2021-01-05 17:57] martinscheu opened #4888 "Flow Alerts page - alert in own column"
Hello,
When I click on the red Flow alert button, it filters to the flows with errors.
To hoover over the red triangle in the protocol field is not intuitive.
Could the alert be displayed in a additional column?
<img width="249" alt="Screenshot 2021-01-05 at 18 55 00" src="https://user-images.githubusercontent.com/38549755/103681454-c806cc00-4f87-11eb-9b83-ca2a8a2327ec.png">
Thanks

[2021-01-05 20:15] AlekseiSaff commented on #4874
Do you mean it's not possible to add as a standart functionality?

Alex

On Tue, Jan 5, 2021, 20:38 martinscheu <notifications@github.com> wrote:

[2021-01-06 00:34] morefigs commented on #4885
Thanks 👍

[2021-01-06 00:48] morefigs opened #4889 "Cannot access ntop repo from fresh install of pfSense (certificate error)"
I have a fresh install of pfSense (2.4.5-RELEASE-p1 (arm64) built on Tue Jun 02 17:44:41 EDT 2020). I've enabled SSH and followed the instructions for installing ntopng here: https://packages.ntop.org/FreeBSD/

[code]

[2021-01-06 01:55] Daniel6651 opened #4890 "Exported Flows output nothing by dump flows: syslog"
Hi all,

I'm using ntopng 4.3, and confused about exporting flows to fluentd. But report showed that nothing exported and dropped flows are extremely high in portion.

![report](https://user-images.githubusercontent.com/77033747/103719533-2b364400-5004-11eb-9b6a-ed4ac7ee61e9.PNG)

Here are my configuration.
![config_LI](https://user-images.githubusercontent.com/77033747/103719863-f37bcc00-5004-11e

[2021-01-06 07:53] jean-christophe-manciot opened #4891 "How to list remote hosts which were active more than 1 day ago"
Ubuntu 20.10
ndpi 3.5.0-2847-328ff246
ntopng 4.3.201112 (12182) - Community Edition

Considering that:
- [sticky hosts feature has been removed](https://github.com/ntop/ntopng/issues/2907)
- remote hosts can only be cached for 24 hours max (**Remote Host Idle Timeout**)

How can we access the details/statistics of remote hosts which **were active more than 24 hours ago** without knowing their IP a

[2021-01-06 09:29] simonemainardi commented on #4890
Reported error should already be fixed. Please, update to version at least 4.3.210106 and report if you are still getting errors. Then we'll investigate the export.

[2021-01-06 15:18] djha983 opened #4892 "ntopng vm resource calculator"
Hi,

I want to calcualate the resource requirement for 10g thoughput network monitoring using ntop ng.Is there any calculator/document available for same so that i can better allocate the resource upfront to ntopng vm.

Like how much disk,how much RAM as well as how many core CPU is required by ntopng to monitor 10gb throughput network traffic.

[2021-01-06 22:03] morefigs commented on #4889
A seemingly related symptom is that the mere presence of the `/usr/local/etc/pkg/repos/ntop.conf` file breaks the behaviour of the pfSense GUI page `System / Package Manager / Available Packages`, which lists zero available packages. Deleting `ntop.conf` results in the many available packages being listed again.

[2021-01-07 02:02] Daniel6651 commented on #4890
I've updated to v4.3.210106 and found that dropped flows become 0%. But exported flows still remain unchanged, so I couldn't get traffic logs from my file path: /var/log/ntopng/traffic.log.

![report](https://user-images.githubusercontent.com/77033747/103840800-3b662600-50cd-11eb-8409-e463e658ba2d.PNG)

[2021-01-07 10:17] simonemainardi commented on #4892
ntopng: https://www.ntop.org/guides/ntopng/faq.html#hardware-sizing
nProbe: https://www.ntop.org/guides/nprobe/hardware_sizing.html

[2021-01-07 10:17] #4892 closed, assigned to nobody

[2021-01-07 10:28] simonemainardi commented on #4864
any news?

[2021-01-07 11:16] martinscheu opened #4893 "dark theme setting per user"
Hello,
Currently the dark theme option is a global setting, i.e. if user A chooses dark them, user B will also have dark theme or vice versa.
Thanks.

[2021-01-07 11:17] simonemainardi commented on #4893
duplicate of https://github.com/ntop/ntopng/issues/4397

[2021-01-07 11:17] #4893 closed, assigned to nobody

[2021-01-07 13:56] astalush opened #4894 "Cannot add host pools"
I'm selecting the interface, after that I'm going to the left menu, click on Pools -> Pools and trying to add a Host with the plus button on the right side. I get this error :
![cannot add hostpool](https://user-images.githubusercontent.com/8401863/103900761-792c7400-50f8-11eb-833c-1431b151fd2f.png)

What I'm doing wrong? Thanks!

[2021-01-07 14:10] simonemainardi commented on #4894
make sure there is no pool with the same name already added

![image](https://user-images.githubusercontent.com/3397663/103902178-72066580-50fa-11eb-895d-0bc231f24293.png)

[2021-01-07 15:48] astalush commented on #4894
![stillnotworking](https://user-images.githubusercontent.com/8401863/103912865-1b078d00-5108-11eb-9fb3-683e8e0e8c6f.png)

Same error, tried with lots of names.

[2021-01-07 15:56] simonemainardi commented on #4894
tell:
- ntopng version used
- add screenshot of host pools list
- add ntopng logs

[2021-01-08 13:54] astalush commented on #4894
Version | 4.2.201231 (12660) - Enterprise L Edition
![host pools list](https://user-images.githubusercontent.com/8401863/104022911-384c6200-51c1-11eb-9f40-43c6355f7f35.png)

Les logs qui sont dans /var/lib/ntopng/ntopng.log ?

[2021-01-08 16:21] jcerio commented on #4885
I'm having the same issue. I followed your link https://packages.ntop.org and installed binaries for Ubuntu following the instructions at https://packages.ntop.org/apt-stable/. It appears that these instructions installed the community version. I don't see anywhere to install the Enterprise Edition. What am I missing?

[2021-01-08 16:47] simonemainardi commented on #4800
For now, we've added a searchbox in the interfaces menu to ease lookup and find them

![image](https://user-images.githubusercontent.com/3397663/104041613-9edd7a00-51d9-11eb-9e6c-d3f6b9fa7619.png)

[2021-01-08 18:07] simonemainardi commented on #4885
I believe you have a community version installed that is clashing with the packaged version. Please, make sure to completely uninstall ntopng, then re-install following the instructions.

[2021-01-08 18:11] simonemainardi commented on #4882
Use option -m to see the top talkers. Then look at the monitored data. My guess is that the fritbox is sending too much traffic (duplicate?) and so you have the slowdown.

[2021-01-08 19:12] jcerio commented on #4885
Okay, so I actually installed a fresh Ubuntu 20.04 LTS instance and
installed the nightly build instead of the stable build binaries. It now
shows that I have Enterprise L installed but there is no System ID field on
the Help->About page. What next?

On Fri, Jan 8, 2021 at 1:07 PM Simone Mainardi <notifications@github.com>
wrote:

--
*John Cerio*
*Network Administrator*
Baldwinsville Central Schoo

[2021-01-08 19:47] jcerio commented on #4885
I found it. All set. Thanks for the help.

On Fri, Jan 8, 2021 at 2:12 PM Cerio, John <jcerio@bville.org> wrote:

--
*John Cerio*
*Network Administrator*
Baldwinsville Central School District
29 E. Oneida St.
Baldwinsville, NY 13027
Ph: 315-638-6103

[2021-01-09 10:48] AmCrNi opened #4895 "No external alerts from suricata"
After update to following version:
[code]
external alerts are not visible and following error appears in the log:
[code]

[2021-01-09 16:39] lucaderi opened #4896 "Service map nodes have numerical label even though a symbolic name exists"
![Screen Shot 2021-01-09 at 17 38 24](https://user-images.githubusercontent.com/4493366/104103289-8e90d200-52a1-11eb-841c-71a66ec0d631.png)

[2021-01-10 16:02] lucaderi opened #4897 "Sites menu always present even when empty"
The sites menu entry in the menubar must be present (or better enabled) if and only if there are listed sites. The example below shows the menu enabled as the preference is enabled) with no entries to show. This behaviour has to be fixed

![Screen Shot 2021-01-10 at 17 01 34](https://user-images.githubusercontent.com/4493366/104128019-85693900-5365-11eb-8336-e36d76057f9e.png)

[2021-01-10 16:06] lucaderi opened #4898 "Name shortening must be applied also to aliases"
![Screen Shot 2021-01-10 at 17 05 36](https://user-images.githubusercontent.com/4493366/104128134-1b04c880-5366-11eb-8389-5a1ec6c7c24e.png)

As shown in the above example
- there is no need to list the alias if same as the name
- in case it is listed both must be shortened

[2021-01-10 21:17] lucaderi opened #4899 "Service map is broken with many nodes/arcs"
![Screen Shot 2021-01-10 at 22 15 24](https://user-images.githubusercontent.com/4493366/104135547-6a142300-5391-11eb-85da-2b01e885aaef.png)

[2021-01-10 21:39] lucaderi commented on #4899
Consider migrating the map to
- https://visjs.github.io/vis-network/examples/network/exampleApplications/neighbourhoodHighlight.html

[2021-01-11 10:16] simonemainardi commented on #4895
Issue is fixed. New rpi builds are in progress and will be ready in the next couple of hours

[2021-01-11 10:17] simonemainardi commented on #4894
No. type `journalctl -fu ntopng`, add the host pool, then check the output of the command for errors

[2021-01-11 10:26] astalush commented on #4894
I tried to add the host, same error. Tried multiple times. This is the log. Does the /etc/ntopng folder need to be accesed by ntopng user? the folder : drwxr-xr-x.  2 ntopng ntopng    123 11 janv. 08:46 ntopng.  All the others (nprobe, etc) are with root (testing purposes)

janv. 11 11:18:39 PVLSSINETFLOW ntopng[62709]: 11/Jan/2021 11:18:39 [NetworkInterface.cpp:2643] Started flow user script hook

[2021-01-11 10:34] #4897 closed, assigned to MatteoBiscosi

[2021-01-11 10:36] #251 closed

[2021-01-11 13:02] zimbawe998 opened #4900 "TOR Exit nodes Category"
Hi Guys,
is it possible to inser TOR Exit node IPLIST like a Anonymizer  Category on ntopng?
This is the official exit node list.
https://check.torproject.org/exit-addresses

[2021-01-11 13:07] zimbawe998 opened #4901 "TOR nodes Category"
Hi Guys,
is possible to insert this tor nodes list like a Category in order to increment visbility for Anonymizer sources/destination?
link 1 https://www.dan.me.uk/tornodes
link 2 (This contains IPv6 also): https://unlockforus.com/blocking-tor-with-pfblockerng-in-pfsense/

[2021-01-11 14:13] sickboy2711 commented on #4882
OK, and what's the solution to downsize the traffic? It's not so beautiful to track my homenetwork and it breaks down :-(

[2021-01-11 14:25] lucaderi commented on #4889
We do not build for ARM 64 but only for x64 and all for FreeBSD 12 (more versions will be supported). This is the problem

[2021-01-11 14:25] #4889 closed, assigned to lucaderi

[2021-01-11 14:27] lucaderi commented on #4881
If still not working please reopen a ticket under PF_RING

[2021-01-11 14:27] #4881 closed, assigned to cardigliano

[2021-01-11 14:27] #4800 closed, assigned to nobody

[2021-01-11 15:07] #4890 closed, assigned to simonemainardi

[2021-01-11 16:43] #4896 closed, assigned to MatteoBiscosi

[2021-01-11 17:30] simonemainardi commented on #4890
Issue is fixed. A bug was preventing from counting exported flows.

Note that exported flows go into `/var/log/ntopng.log` and not `/var/log/ntopng/traffic.log`.

See the updated documentation as you may need to restart `syslogd`: https://www.ntop.org/guides/ntopng/advanced_features/flows_dump.html#syslog

[2021-01-11 17:34] daxrob opened #4902 "HTTP/1.1 302 Found after upgrade to 201224"
Hi,

I just upgraded from 4.3.201103 to 4.3.201224 on Windows 10. The previous version worked fine.
After the upgrade I see the login webpage but the I receive the following error:

HTTP/1.1 302 Found Set-Cookie: session=cac2cc7cf69e8ef5c005b3d2b745bfb1; path=/; HttpOnly; SameSite=lax Location: /lua/http_status_code.lua?message=internal_error&referer=127.0.0.1%3A3000%2Flua%2Fhttp_status_code.lua%3

[2021-01-11 19:19] AmCrNi commented on #4895
@simonemainardi Thanks for an update. I've checked with new version and the problem still persist but now ntopng is being restarted:

[code]

[2021-01-11 21:20] simonemainardi commented on #4902
Update to the latest version. You are running a version from December.

[2021-01-11 21:25] simonemainardi commented on #4895
That was another error already fixed. New builds with the fix are being built. Please, re-update after a couple of hours.

[2021-01-12 03:41] morefigs commented on #4889
Ah, that wasn't clear from installer page. Thanks :)

[2021-01-12 07:28] lucaderi commented on #4889
![Screen_Shot_2021-01-12_at_08_27_17](https://user-images.githubusercontent.com/4493366/104282957-1cdaa300-54b0-11eb-8f3a-26e2a148415c.png)

Really?

[2021-01-12 07:56] daxrob commented on #4902
Hi, I already installed the latest version 4.3.201224 available for Windows from your website. Is this version that has the problem.
https://packages.ntop.org/Windows/ntopng-4.3.201224-x64.zip

[2021-01-12 08:11] #4898 closed, assigned to MatteoBiscosi

[2021-01-12 09:04] lucaderi commented on #3371
![Screen Shot 2021-01-12 at 10 04 07](https://user-images.githubusercontent.com/4493366/104292784-8ad99700-54bd-11eb-9f6d-a53963b78733.png)
Already implemented

[2021-01-12 09:04] #3371 closed, assigned to MatteoBiscosi

[2021-01-12 09:06] lucaderi commented on #4888
What if the Info column is populated with this info in case of alert? Adding a new column can make the table too large

[2021-01-12 09:45] MatteoBiscosi commented on #4894
Try to upgrade to the latest version (4.2.210112) and let me know if the problem persists

[2021-01-12 09:55] simonemainardi commented on #4902
a new windows build will be released in the next 24hours

[2021-01-12 11:13] #4847 closed, assigned to simonemainardi

[2021-01-12 11:59] simonemainardi commented on #4902
You can update. Windows package is ready.

[2021-01-12 14:46] daxrob commented on #4902
I updated the version to the ntopng-4.3.210112-x64 version.
But I still receive the following error message:
HTTP/1.1 302 Found Server: ntopng 4.3.210112 (x64) Set-Cookie: session=d568a97d9e40b9c6f7d109f77ff95217; path=/; HttpOnly; SameSite=lax Location: /lua/http_status_code.lua?message=internal_error&referer=127.0.0.1%3A3000%2Flua%2Fhttp_status_code.lua%3Fmessage%3Dinternal_error%26referer%3D127

[2021-01-12 15:11] simonemainardi commented on #4902
try not to refresh the page. Close the browser and then point to the ntopng site.

[2021-01-12 15:44] daxrob commented on #4902
Already tried with many browsers and cleaning the cache. Nothing helped so far.

[2021-01-12 19:23] AmCrNi commented on #4895
@simonemainardi After update it now reporting following in the UI:
[code]

And ntopng is restarting every couple of minutes with following log entries:
[code]

ntopng version:
[code]

[2021-01-12 20:49] lucaderi commented on #4902
new Windows build is out. Please upgrade and reopen this ticket is necessary.

[2021-01-12 20:49] #4902 closed, assigned to nobody

[2021-01-12 20:53] morefigs commented on #4889
Ah yeah, I think my confusion arose because pfSense is listed above, and ntop community _is_ available for my ARM based pfSense device. My bad.

[2021-01-13 09:21] closertotheedge opened #4903 "Web-Frontend not accessible any more in community edition"
ntopng web-frontend not accessible after 10 minutes when going from enterprise to community edition. NO problems during first 10 minutes!

Google Chrome says "ERR_TOO_MANY_REDIRECTS"

tail -f /var/log/ntopng.log gives a lot of messages like:

Jan 13 10:11:37 rpi-ntopng ntopng: [LuaEngine.cpp:1159] WARNING: Script failure [/usr/share/ntopng/scripts/lua/http_status_code.lua][error loading module 'al

[2021-01-13 11:19] simonemainardi commented on #4895
run it as

[code]

wait until it crashes, and report the stack trace

[2021-01-13 11:22] simonemainardi commented on #4903
try and add option `--community` if you want to run it in community version

[2021-01-13 12:02] closertotheedge commented on #4903
I added --community to fritzdump.sh and the error messages are gone. So the problem is fixed for now.
Nevertheless I think it is a strange behaviour because old ntopng-versions worked flawlessly without this argument for months, going automatically and without errors after 10 minutes from enterprise to community edition...

[2021-01-13 13:25] AmCrNi commented on #4895
thanks for an update @simonemainardi, here is the backtrace:

[code]

[2021-01-13 13:39] TimotheusBachinger opened #4904 "Question regarding lua/rest/v1/get/host/active.lua"
Hi ntop Team,

we are currently wondering what is meant with "active hosts", which are delivered from lua/rest/v1/get/host/active.lua.
The list of hosts differs to the hosts we're seeing in ntopng under lua/hosts_stats.lua.

What we would actually need, is a list of hosts, which is known by ntopng.
Is this data already delivered by the REST API?

Regards
Timi

[2021-01-13 13:59] djha983 opened #4905 "New device connection alert reset"
Hi,

I have enabled New device connection alert and is working fine.I want to know how it works.Is it considering the time since ntopng started monitoring interface to decide whether this device is new and on what basis it says new device? is it MAC address or other property of device.When does this learning is reset and how.Consider if we want to reset the learning of existing device how do i do?

[2021-01-13 15:36] lucaderi opened #4906 "ServicePeriodicity Map button must be shown all the time"
![Screen Shot 2021-01-13 at 16 35 31](https://user-images.githubusercontent.com/4493366/104473563-6533b700-55bd-11eb-831b-c880c5d4c9b3.png)

[2021-01-13 15:37] lucaderi opened #4907 "Add service/periodicity map to VLANs and Host Pools"
VLAN and Host Pools pages must have (if defined) an icon that points to the corresponding service/periodicity map for such VLAN/pool

[2021-01-13 15:40] lucaderi opened #4908 "Add service/periodicity map dropdown menu"
In order to simplify and reduce rendering, maps must have in the upper side a dropdown menu that shows
- all hosts (default as today)
- unicast hosts only
- In case there are VLAN defined, individual entries one per VLAN
-  In case there are host pools defines, the individual host pools menu

[2021-01-13 16:14] gabryon99 commented on #4906
Now the dropdown button is always shown as requested. Check the pro repository

[2021-01-13 17:36] lucaderi opened #4909 "Invalid layout format"
![Screen Shot 2021-01-13 at 18 34 56](https://user-images.githubusercontent.com/4493366/104488061-278b5a00-55ce-11eb-832f-f831af6c3d61.png)

Even if the table is very wide the URL wrap

[2021-01-13 17:44] gabryon99 commented on #4908
Done. Check the pro repository, please.

[2021-01-13 22:15] swingdancer commented on #4837
similar issue happening here with  https://packages.ntop.org/MacOS/ntopng-4.3.201102.pkg

[code]

running

![image](https://user-images.githubusercontent.com/36482442/104516783-2cafcf80-55f5-11eb-87a8-4fff4ed77312.png)

[code]

[2021-01-14 04:45] nygc-jmaldonado commented on #1749
What was the outcome of this? I am experiencing the same issue

[2021-01-14 07:42] nygc-jmaldonado opened #4910 "Have 2 ASA's with identical configs; only 1 ASA appears in NTOP"
I can see packets making it to nprobe, NTOP sees ASA from SNMP perspective, flow data for ASA is not making it from nprobe over to ntop.  Any idea what this could be?

Some logs....not sure if the unresponsive has anything to do with it.

[code]

[2021-01-14 07:59] simonemainardi commented on #4910
Show nprobe and ntopng config used please

[2021-01-14 08:07] nygc-jmaldonado commented on #4910
NTOP

-bash-4.2$ cat /etc/nt
ntopng/         ntopng.license  ntp/            ntp.conf
-bash-4.2$ cat /etc/ntopng/ntopng.conf
#         The  configuration  file is similar to the command line, with the exception that an equal
#        sign '=' must be used between key and value. Example:  -i=p1p2  or  --interface=p1p2  For
#        options with no value (e.g. -v) the equal is also necessary. Exampl

[2021-01-14 08:08] nygc-jmaldonado commented on #4910
NPROBE

-bash-4.2$ cat /etc/nprobe/nprobe
cat: /etc/nprobe/nprobe: No such file or directory
-bash-4.2$ cat /etc/nprobe/nprobe
nprobe.conf                 nprobe.conf.ntopng.sample   nprobe-eth0.conf            nprobe-none.conf            nprobe-none.start.migrated
-bash-4.2$ cat /etc/nprobe/nprobe.conf
#         The  configuration  file is similar to the command line, with the exception that an e

[2021-01-14 08:12] lucaderi opened #4911 "Dropdown menu must have a label an a value"
Every dropdown menu MUST
- have a label next to it
- Display the value currently used and not a generic label that is not wrong and misleading

Examples of bad menus

<img width="309" alt="Screenshot 2021-01-14 at 09 09 41" src="https://user-images.githubusercontent.com/4493366/104562233-5fcf7e80-5648-11eb-806d-6f6c9d31f8e2.png">
<img width="207" alt="Screenshot 2021-01-14 at 09 09 30" src="https:

[2021-01-14 08:13] lucaderi commented on #4909
Fix https://github.com/ntop/ntopng/issues/4911 then we should be close to the end

[2021-01-14 08:16] lucaderi opened #4912 "Remove file name (pcap) from the menu layout"
<img width="1180" alt="Screenshot 2021-01-14 at 09 15 39" src="https://user-images.githubusercontent.com/4493366/104562785-17649080-5649-11eb-9847-dd520952f85e.png">

[2021-01-14 08:19] lucaderi commented on #4908
This issue depends on https://github.com/ntop/ntopng/issues/4911

Furthermore I don't see the link to the service map for this
<img width="1188" alt="Screenshot 2021-01-14 at 09 16 41" src="https://user-images.githubusercontent.com/4493366/104563127-8fcb5180-5649-11eb-9db5-6dbc54d7a6ac.png">

[2021-01-14 08:23] lucaderi commented on #4906
<img width="1090" alt="Screenshot 2021-01-14 at 09 22 05" src="https://user-images.githubusercontent.com/4493366/104563488-01a39b00-564a-11eb-9295-13405ca9c5ee.png">
Not quite. They must be shown all time and you should resize the internal map, not hide them.

[2021-01-14 10:02] lucaderi commented on #4899
Verified as fixed even though the layout is still suboptimal

[2021-01-14 10:02] #4899 closed, assigned to gabryon99

[2021-01-14 10:02] lucaderi commented on #4906
Verified as fixed

[2021-01-14 10:02] #4906 closed, assigned to gabryon99

[2021-01-14 10:03] simonemainardi commented on #4910
Visit the interface page under ntopng. See if collected ZMQ messages increase or if it stays at zero. This will allow us to understand if nprobe and ntopng can communicate correctly.

[2021-01-14 10:11] simonemainardi commented on #4904
Data returned should be identical as they call the same Lua functions.

1. Are you properly passing pagination options? See perPage and currentPage.
2. Give additional details on the differences. Again make sure you fetch all the data using params above.

[2021-01-14 10:17] lucaderi commented on #4911
Verified as fixes

[2021-01-14 10:17] #4911 closed, assigned to gabryon99

[2021-01-14 10:17] lucaderi commented on #4909
Seems to be fixed, closing it

[2021-01-14 10:17] #4909 closed, assigned to gabryon99

[2021-01-14 10:20] #4912 closed, assigned to gabryon99

[2021-01-14 10:34] amastelek commented on #4873
Please update as a feature request again.

I added another user with a couple of new sites which means that with each user and sites I need to add more ports and instances which is clumsy and difficult to maintain.

[2021-01-14 10:58] simonemainardi commented on #4864
Any news?

[2021-01-14 11:09] simonemainardi commented on #4895
I have prepared a build with debug symbols. Download it from https://www.dropbox.com/s/oefvhk4qkmaeoxh/ntopng?dl=0

Re-run inside gdb, and send again the output of backtrace:

[code]

[2021-01-14 11:12] simonemainardi commented on #4882
if you want we can try and arrange a remote session to see what is happening.

[2021-01-14 11:24] MatteoBiscosi commented on #4905
Hello,
If you are talking about the "Unexpected device connected" alert, it decides if a device is a new one using MAC Addresses. It is possible to reset the learned MAC Addresses by going into Settings->User Scripts->Interfaces and search for the alert, then click the modify action and click the button "Reset Learned Devices". The learned devices are considered from the last reset of them, so eve

[2021-01-14 12:30] AmCrNi commented on #4895
[code]

[2021-01-14 13:49] reworkk opened #4913 "Not described API"
I want to receive the same json data as Top Flow Talkers chart (ntopng community ver). Is it ok to use url
(`GET /lua/iface_flows_sankey.lua`) which **used by GUI** and **doesn't specified in REST API?**

[2021-01-14 14:38] NicolasPSQ opened #4914 "Alert/Error In home system screen"
Hi,
i will report an error on "Last Log Trace" dashboard, with this log:
14/Jan/2021 15:35:04 [AlertCheckLuaEngine.cpp:168] WARNING Script failure[/usr/share/ntopng/scripts/callbacks/system/snmp_device.lua] [/usr/share/ntopng/scripts/lua/modules/alerts_api.lua:163: attempt to call a nil value (field 'triggerStatus')]
14/Jan/2021 15:35:04 [snmp_device.lua:149] [alert.lua:102] ERROR alert.alert_erro

[2021-01-14 14:49] nygc-jmaldonado commented on #4910
Collected messages are increasing

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Simone Mainardi <notifications@github.com>
Sent: Thursday, January 14, 2021 5:03:38 AM
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: Justin Maldonado <jmaldonado@nygenome.org>; Author <author@noreply.github.com>
Subject: Re: [ntop/ntopng] Have 2 ASA's with identical configs; only

[2021-01-14 15:17] gabryon99 opened #4915 "Expand ntopng-widgets data"
As discussed, we have to add an optional URL to the couple: `{k: string, v: value}` so when a user clicks the data representation he will be redirected to the page pointed by the URL.

<img width="717" alt="Screenshot 2021-01-14 at 16 13 20" src="https://user-images.githubusercontent.com/14114916/104609528-6d562a00-5683-11eb-9aa9-f226e3b1e9b2.png">

Also we have to add a colors array for the data

[2021-01-14 15:41] simonemainardi commented on #4913
Yes. Currently this is not exposed via API.

[2021-01-14 15:41] #4913 closed, assigned to nobody

[2021-01-14 15:50] #4914 closed, assigned to MatteoBiscosi

[2021-01-14 17:54] simonemainardi commented on #4895
@MatteoBiscosi please close this issue is fixed so I can trigger new RPIs builds.

[2021-01-14 18:04] lucaderi commented on #4901
This is an nDPI request not ntop. nDPi already includes Tor nodes and can block it.https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_content_match.c.inc#L1358

[2021-01-14 18:04] #4901 closed, assigned to nobody

[2021-01-14 18:05] lucaderi commented on #4900
nDPI detects Tor via DPI and complements this with Tor nodes. This is the code https://github.com/ntop/nDPI/blob/dev/src/lib/ndpi_content_match.c.inc#L1358

As they have changed very 30 mins, this will be a constant reload as some of our uses do

[2021-01-14 18:05] #4900 closed, assigned to nobody

[2021-01-14 22:10] nygc-jmaldonado commented on #4910
Also to note, 1 ASA ( 5555 )  appears and disappears from the list of flow exporters. The other ASA ( 5585-x SSP-40) never appears. Configs are identical.

Nprobe sees the traffic from both.

From: Simone Mainardi <notifications@github.com>
Reply-To: ntop/ntopng <reply@reply.github.com>
Date: Thursday, January 14, 2021 at 5:03 AM
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: Justin Maldonado <jm

[2021-01-14 23:13] nygc-jmaldonado commented on #4910
Do you want to jump on a webex ?

[2021-01-15 10:53] lucaderi commented on #4908
![Screen Shot 2021-01-15 at 11 52 43](https://user-images.githubusercontent.com/4493366/104716442-3b4ad380-5728-11eb-94d3-e4c8c644d650.png)

VLAN filtering is present but pool filtering is not. Can you please add it so we can close this ticket?

[2021-01-15 10:58] lucaderi commented on #4907
From a host pool clicking on the service map brings here, but as you can see the menu is not populated with pools.

![Screen Shot 2021-01-15 at 11 57 35](https://user-images.githubusercontent.com/4493366/104716939-e22f6f80-5728-11eb-9cd8-d2afadd0f41b.png)

See also #4908

[2021-01-15 10:59] lucaderi opened #4916 "Add edit button to host pools"
![Screen Shot 2021-01-15 at 11 55 52](https://user-images.githubusercontent.com/4493366/104717076-130fa480-5729-11eb-995d-b30e49ad356f.png)

[2021-01-15 13:11] TimotheusBachinger commented on #4904
regarding 1. we didn't use pagination as we want to query all know hosts in ntop. I've tried using the `all` bool and `mode=all` but I didn't received all hosts. only if I set perPage to e.g 10.000 I will receive all hosts. If i query after using perPage=10000 with no parameters, I will again receive all hosts, which is imo not expected.

[2021-01-15 13:16] simonemainardi commented on #4904
You should consider using pagination. Fetching all hosts in a single call may end up in slowing everything down, and creating huge HTTP responses.

In the api response, you have the total number of records. You should use it, along with the aforementioned parameters, to fetch everything, one chunk at time.

[2021-01-15 14:08] simonemainardi commented on #4895
This needs to be fixed using the proper serialization key (e.g., mac or ip) as done for timeseries. Use method `getSerializationKey` to get the serialization key.

[2021-01-15 15:32] simonemainardi commented on #4915
URL has been added,

now in the reponse you have a special field `metadata` containing the URL, e.g.,

[code]

[2021-01-15 15:53] #4895 closed, assigned to simonemainardi

[2021-01-15 15:57] TimotheusBachinger commented on #4904
Pagination is not really an option for our use-case. We really need *all* currently known hosts in ntop in order to map checkmk hosts to ntop hosts. we will cache this data, so a "huge" response is no problem.

We are also seeing strange behaviour with active.lua. From time to time we cannot access the data at all:
`https://host:3000/lua/http_status_code.lua?message=not_foundreferer=ntop4.lan.trib

[2021-01-15 19:09] nygc-jmaldonado commented on #4910
Hey there,

Any ideas as to what this could be ?

[2021-01-15 22:40] harmonicus opened #4917 "Documentation ntopng/doc/README.SSL is not clear"
In documentation states

[code]

first, i suppose it should point where is ntopng directory, which is described further
`/usr/share/ntopng` or at `/usr/local/share/ntopng`

second, command : `make cert` does not work
it does not work neither, within `openssl` program in terminal,

[code]

what is missing?

[2021-01-16 13:38] martinscheu commented on #4888
can, although I am not convinced, as I would like to filter. how about having a flow alert page instead of setting a filter on the flow list when pressing the alarm button?
The info column I like to quick display additional information to a flow out of user scripts, where the operators are not familiar with scripting or command line interface

[2021-01-16 13:45] martinscheu opened #4918 "past alert filter showing unknown alarms"
Hi
In the current dev version I have "unknown" alarms in the past alert filter drop down:
<img width="327" alt="Screenshot 2021-01-16 at 14 40 25" src="https://user-images.githubusercontent.com/38549755/104813370-0ebab880-5809-11eb-8857-41f22e34e22f.png">

(I guess this is due to recent adaptions in the alarm / notification part)
most of them are past alarms I can delete, but some still pop up now

[2021-01-16 13:50] martinscheu opened #4919 "Custom alert severity"
Hi
Depending the use case of ntopng, the alarm severity of alerts may vary.
E.g. for a detected MAC / IP address change I would like to have it as an alarm, not debug:
![2021-01-16 14 49 09](https://user-images.githubusercontent.com/38549755/104813548-1b8bdc00-580a-11eb-99bf-6392022ee02b.png)

[2021-01-16 13:54] martinscheu opened #4920 "ELK integration"
Hi
Using ELK as an alarm recipient, I see event.severity 4 and 5, but not less. Choosing "debug" as minimum severity, shouldn't I see event.severity 1-5?
<img width="572" alt="Screenshot 2021-01-16 at 14 53 13" src="https://user-images.githubusercontent.com/38549755/104813619-96ed8d80-580a-11eb-9db8-05f571dfcdd3.png">

[2021-01-16 18:37] KamilLenica opened #4921 "Docker image for armhf (rapsberry Pi)"
Hi,

Can You update docker image to support armhf arch as well?

Regards

[2021-01-17 02:48] travisboss opened #4922 "fill width of page geomap"
![ntopng](https://user-images.githubusercontent.com/16948721/104829717-ffa12e00-583b-11eb-996a-d15fc5495e14.jpeg)

Included photo, not sure if I can do this myself, will if needed but noticed if the width is changed to `width: 100%` we can get a full width on the map inside of that tiny box.  This is on the `#map-canvas` id, I am using this within pfsense which I know is an older version, and not

[2021-01-17 04:56] amastelek opened #4923 "No data available in App Breakdown (Traffic reports)"
Using nprobe IPFIX -> NTOPNG
The graph in Traffic reports labelled Application Breakdown reports No Data Available

Using 4.2 stable

[2021-01-17 05:44] amastelek commented on #4923
Also Top Application Traffic Last Day View in the main dashboard has no data???

[2021-01-17 15:56] behzad-kh commented on #4864
sorry for the late response.
I have test the scenario over and over, (I have even update the ntopng to the latest version right now), but still no progress.
I have started the ntopng using the following parameters:
 ntopng -B "host 2.2.2.13" --dump-flows "mysql;10.10.13.79;ntopng;flows;root;PASSWORD"
however, it shows wrong information when downloading file more than 3GB.
As you have lab it up, yo

[2021-01-17 15:56] behzad-kh commented on #4864
I have also use the historical data with the client IP address rather than the URL, but still same result is shown.

[2021-01-17 18:46] AlexDF2017 opened #4924 "Disaggregation interrupts dump-flow to Elasticsearch"
hi all, we have the following chain:  network_devices<-(netflow)->nprobe<-(zmq)->ntopng<-(dump-flows)->Elasticsearch. All is ok (included Elasticsearch flow dumps) until in ntopng we set Dynamic Traffic Disaggregation from none to Probe IP, after this change in ntopng we can find the correct subinterfaces, but no flows are dumped to Elasticsearch anymore. What's happening?

We are using
- ntopng v

[2021-01-17 23:52] morefigs opened #4925 "Custom Application conflicting with built in Application"
I'm running ntopng with a custom application (via protos.txt). Detection of my custom application seems to work well with the exception that it can get confused with built in applications. This obviously has something to do with the host defined for the  built in applications overlapping with the custom application.

For example, given this custom protos.txt:

[code]

then I would hope _all_ relev

[2021-01-18 08:34] gabryon99 commented on #4908
Now the host pool entries are visibile as well. If a service/periodicity map of an host pool has length equals to 0 then the menu entry won't be selectable.

[2021-01-18 09:03] NicolasPSQ opened #4926 "Problem Networks View"
Hi,
when i'm on "Network" views, with filter of 10 records, and i select on "next page" i view only 1 record, despite i have more than 11 records (networks).

Regards

ntopng Enterprise M v.4.3.210118 (Ubuntu 20.04.1 LTS)

[2021-01-18 11:26] simonemainardi commented on #4923
Do you have this enabled?

![image](https://user-images.githubusercontent.com/3397663/104909592-5e73be00-5988-11eb-81dc-1a76d702f481.png)

[2021-01-18 11:30] simonemainardi commented on #4922
Version installed is no longer supported.  Please, update to version 4.2.

[2021-01-18 11:30] #4922 closed, assigned to nobody

[2021-01-18 11:31] simonemainardi commented on #4920
Correct. You should see everything.

[2021-01-18 11:33] simonemainardi commented on #4919
For your use case, you can edit the script and and use `set_severity` to choose the severity you want to set

[2021-01-18 11:34] simonemainardi commented on #4918
Are those "Unknown" guys connected to custom scripts you have developed?

[2021-01-18 11:37] simonemainardi commented on #4910
Attach ntopng and nprobe configs

[2021-01-18 14:07] lucaderi commented on #4919
@MatteoBiscosi Please take care of the ticket by specifying the severity in the plugin so users can change it as needed

[2021-01-18 14:09] lucaderi commented on #4888
![Screen Shot 2021-01-18 at 15 08 59](https://user-images.githubusercontent.com/4493366/104925442-2166f600-599f-11eb-923f-98422d5b06c8.png)
We already have flow alerts: please explain how we should modify it

[2021-01-18 16:04] amastelek commented on #4923
No, because it said in general it is not needed?

I have enabled it.  Will check in a while to see if it has pulled through.

[2021-01-18 16:29] simonemainardi commented on #4923
To have top-applications, you must have them written by ntopng.

[2021-01-18 16:29] #4923 closed, assigned to nobody

[2021-01-18 17:13] #2611 closed, assigned to MatteoBiscosi

[2021-01-18 18:04] amastelek opened #4928 "No ports in graph on any hosts"
![ports](https://user-images.githubusercontent.com/61453908/104949805-386e0e00-59c8-11eb-9147-b1175f35e85e.jpg)
None of the hosts display any port information?

[2021-01-18 18:07] simonemainardi commented on #4928
Please, attach a screenshot of the flows page and the configuration of ntopng

[2021-01-18 21:52] rreiner commented on #4903
I have this problem too.  It worked perfectly without the --community flag on all previous versions, but the web GUI now becomes inaccessible after 10 minutes.

[2021-01-18 23:13] lucaderi commented on #4917
You need to execute "make cert" where is the ntopng source code. This applies only to ntopng from GIT. Certificates go here https://github.com/ntop/ntopng/tree/dev/httpdocs/ssl

[2021-01-18 23:13] #4917 closed, assigned to nobody

[2021-01-19 00:20] samuelesabella commented on #4034
I faced the same problem with stable version 4.0: `ERROR: Unable to open lock file: No such file or directory`
The problem was solved after manually creating the directory: /var/lib/ntopng

[2021-01-19 06:16] #4928 closed, assigned to nobody

[2021-01-19 06:18] amastelek commented on #4928
![ntopngflows](https://user-images.githubusercontent.com/61453908/104995239-a51bf380-5a2e-11eb-96dc-b3462c9475cb.jpg)

Config is attached.
[configuration.zip](https://github.com/ntop/ntopng/files/5833989/configuration.zip)

[2021-01-19 07:55] simonemainardi commented on #4928
There are no flows, so having all-zero ports is normal - they are not populated. I am mot sure you are getting traffic for this interface. Check the non-disaggregated one.

[2021-01-19 09:10] sercopi135 opened #4929 "Dinamic interface disaggregation and IPs that create more network traffic (4.2.201118 (12249) - Enterprise L Edition"
Hi,

we have configured the disaggregation, in detail Custom Disagreggation in par. 5.2 (https://www.ntop.org/guides/ntopng/advanced_features/dynamic_interfaces_disaggregation.html) for a customer site, identified with the IP class to which it belongs.

Aspect that we would like to interpret correctly is selecting Top Sender we would have expected the source IPs belonging to the site, and individu

[2021-01-19 09:16] simonemainardi commented on #4926
@MatteoBiscosi please, try and reproduce. Add 15+ networks in `-m` and see.

[2021-01-19 09:17] martinscheu commented on #4920
ok, thanks Simone. Any idea why its like that?

[2021-01-19 09:18] simonemainardi commented on #4929
Please, explain with an example. Also add the configuration used.

[2021-01-19 09:20] simonemainardi commented on #4918
@MatteoBiscosi try to reproduce. Add a custom flow alert using `user` alert keys. Then store an HOST alert. Finally, check in the PAST alerts tab (not flows, PAST).

[2021-01-19 09:22] amastelek commented on #4928
Yes, my disaggregation configuration was incorrect.  Tx

[2021-01-19 09:24] simonemainardi commented on #4894
Closing for inactivity. No feedback received.

[2021-01-19 09:24] #4894 closed, assigned to MatteoBiscosi

[2021-01-19 09:24] amastelek opened #4930 "multiple nprobe-none.conf files"
Is it possible to have multiple nprobe-none.conf files so that I can have each collector port associated with a different ZMQ instead of having to start multiple nprobes from the command line?

[2021-01-19 09:30] simonemainardi commented on #4930
See https://www.ntop.org/guides/nprobe/how_to_start.html

Please check the documentation before posting issues.

[2021-01-19 09:30] #4930 closed, assigned to nobody

[2021-01-19 09:31] #4915 closed, assigned to simonemainardi, gabryon99

[2021-01-19 09:32] simonemainardi commented on #4920
@MatteoBiscosi please try and reproduce.

[2021-01-19 09:32] #4905 closed, assigned to MatteoBiscosi

[2021-01-19 09:37] martinscheu commented on #4888
I think is just a different approach of how to drill down. I like the flow page because I can filter by application and then I would like to see the errors. Therefore if on the flow page a additional column might lead to too much information, I would like a copy of the flow page with the alert in a separate column, so I can filter. Also nice on the flow page to get details for the flow (e.g. iec10

[2021-01-19 09:40] martinscheu commented on #4918
I had custom scripts, but they crashed with the new alarm concept :-) now is ntop standard, no user / custom scripts from myself, but still unknown alarms arrive. @MatteoBiscosi please contact me on telegram if you need further details. thank you

[2021-01-19 10:25] simonemainardi commented on #4918
@martinscheu hover the mouse on one of the Unkown alerts. Then, please paste the hyperlnk, e.g., `http://192.168.2.183:3000/lua/system_stats.lua?status=historical&page=alerts&alert_type=53`. We are interested in the numberical `alert_type` id.

Then visit page

![image](https://user-images.githubusercontent.com/3397663/105021584-fa64fe80-5a48-11eb-96c4-d447617dcf68.png)

And look for the integer i

[2021-01-19 10:27] simonemainardi commented on #4918
@martinscheu please report. Then @MatteoBiscosi can help you in migrating the custom scripts you have.

[2021-01-19 10:52] amastelek commented on #4930
Thanks I created nprobe-none1.conf, nprobe-none2.conf, and nprobe-none3.conf.

[2021-01-19 11:05] martinscheu commented on #4918
I have alert_type=47, 26 and 11. But last entry is form 08.01. and no new entry. it might be that the operators deleted the events.
But maybe you can check anyway and I will purge old unknown alerts.
thanks

[2021-01-19 11:06] simonemainardi commented on #4833
@NetworkSeb I may have solved

[code]

Due to a wrong ES version initialization

[2021-01-19 11:25] MatteoBiscosi commented on #4918
Those three alert_types are non longer used, some new alert_types where added and replaced those alert_types for clarity purposes, so you can delete those alerts without problem.

If you want to migrate the custom scripts you had to the new alert, you can do that following the "new_api_demo"; it is under the directory "scripts/plugins/alerts/security/new_api_demo".
If your plugin was a flow alert

[2021-01-19 11:25] #4918 closed, assigned to MatteoBiscosi

[2021-01-19 11:45] sercopi135 commented on #4929
The example is a site identified by IP Class 192.168.11.0/24 and create thanks to disaggregation. I would like to find the source IPs belonging to the IP Class, and individuate the list of IP Source that generated the most traffic.

From nTop Web GUI if a select the site from **Interface Drop Down Menu**, than from the Menu on the left I select **Interface**, then I select the **graph icon** a new