[2020-01-28 14:24] simonemainardi opened #3336 "Up & Down sketches missing from a linux build"
Up & down charts are expected to appear in the top status bar but they are missing on a linux build (present on mac os x).

![image](https://user-images.githubusercontent.com/3397663/73272208-4be5ff00-41e2-11ea-9c19-a0d3ee086fce.png)

[2020-01-28 15:17] emanuele-f commented on #3332
How are you starting ntopng? What are the contents of /etc/ntopng/ntopng.conf?

[2020-01-28 15:28] lucaderi opened #3337 "Invalid sidebar collapse"
When the sidebar is collapsed, clicking on an icon it expands, the sidebar, then folvogin the link will move to a sidebar that is collapsed again.
This is wrong. If the bar is collapsed it has to stay collapsed and not shrink/unshrink continuously.

When the sidebar is collapsed, a pop-up menu (as in past versions) should show-up to avoid this misbehaviour.

[2020-01-28 15:30] lucaderi opened #3338 "Collapse button disappears based on the page instead of staying on screen"
![Screen Shot 2020-01-28 at 16 29 21](https://user-images.githubusercontent.com/4493366/73278104-653f7900-41eb-11ea-9b6d-ae2d494459b9.png)
![Screen Shot 2020-01-28 at 16 29 12](https://user-images.githubusercontent.com/4493366/73278105-653f7900-41eb-11ea-8cf8-94846737dcc8.png)

[2020-01-28 15:32] emanuele-f opened #3339 "Bar collapses after menu entry is clicked"
![Peek 2020-01-28 16-31](https://user-images.githubusercontent.com/5488003/73278392-6d93b600-41e3-11ea-9440-ae1bca7c17d4.gif)

[2020-01-28 15:33] lucaderi opened #3340 "Highlighting a menu entry takes time"
Passing from (right after the click)

![Screen Shot 2020-01-28 at 16 31 25](https://user-images.githubusercontent.com/4493366/73278320-b64f6d00-41eb-11ea-930b-bdce2ddbe194.png)

to
![Screen Shot 2020-01-28 at 16 32 38](https://user-images.githubusercontent.com/4493366/73278395-cff0b480-41eb-11ea-916b-2bb845300dcf.png)

takes a few seconds, and it's faster it while on the page you want click on the

[2020-01-28 15:34] emanuele-f opened #3341 "Current user should not be clickable"
![photo_2020-01-28_16-33-47](https://user-images.githubusercontent.com/5488003/73278497-96b44680-41e3-11ea-830c-2eae1335244a.jpg)

It should also be separated from the rest of the menu

[2020-01-28 15:35] emanuele-f commented on #3339
See #3337

[2020-01-28 15:35] #3339 closed, assigned to gabryon99

[2020-01-28 15:36] lucaderi opened #3342 "Split Footer"
As in the previous version the current footer must be split.

![Screen Shot 2020-01-28 at 16 34 58](https://user-images.githubusercontent.com/4493366/73278632-2a8a1080-41ec-11ea-9e1d-b9f652530db2.png)

On the left side put the version, and on the right side (on the same line, so one line in total and not two) the time/date

[2020-01-28 15:36] emanuele-f opened #3343 "Sidebar animation is slow in the ntopng pro dashboard"

[2020-01-28 15:39] jasonamorrow commented on #3332
jason@monitor:~ $ cat /etc/ntopng/ntopng.conf
[code]

[2020-01-28 15:39] lucaderi opened #3344 "Create white sidebar option"
The whole ntopng interface what based on white/gray, whereas the new sidebar is black/dark. It is requested to implement  white sidebar (not a whole application theme) so that people can stay with the old color or the new one. This has to be a per-user preference.

[2020-01-28 15:43] lucaderi opened #3345 "Missing operating system link"
![Screen Shot 2020-01-28 at 16 42 14](https://user-images.githubusercontent.com/4493366/73279315-3b875180-41ed-11ea-8134-7257d497a5e9.png)
![Screen Shot 2020-01-28 at 16 43 08](https://user-images.githubusercontent.com/4493366/73279354-47731380-41ed-11ea-8481-28d7c5d09ec5.png)

[2020-01-28 15:44] lucaderi opened #3346 "Updates and restart must appear only for systems-based instances"
![Screen Shot 2020-01-28 at 16 43 34](https://user-images.githubusercontent.com/4493366/73279393-578af300-41ed-11ea-94be-be71df916cce.png)

![Screen Shot 2020-01-28 at 16 43 51](https://user-images.githubusercontent.com/4493366/73279415-61145b00-41ed-11ea-8d2a-11f015ee35bf.png)

[2020-01-28 15:44] lucaderi opened #3347 "Missing separator below the username"
![Screen Shot 2020-01-28 at 16 43 51](https://user-images.githubusercontent.com/4493366/73279468-77221b80-41ed-11ea-9b7d-9bde23991478.png)

[2020-01-28 15:45] emanuele-f commented on #3341
See also #3347

[2020-01-28 16:02] #3341 closed, assigned to simonemainardi

[2020-01-28 16:02] #3347 closed, assigned to simonemainardi

[2020-01-28 16:05] #3345 closed, assigned to simonemainardi

[2020-01-28 16:27] simonemainardi opened #3348 "Navbar doesn't wrap on small screens"
See after 'Flows:'...

![image](https://user-images.githubusercontent.com/3397663/73283304-33caab80-41f3-11ea-8d28-599d7756fb6e.png)

it is requested to wrap the navbar when there isn't enough space

also note the extra space between the header bar and the horizonal navbar. It is requested to remove it.

[2020-01-28 16:30] simonemainardi opened #3349 "Optimize white space"
On small screens, a lot of white space appears between the header bar and the page contents (see above 'All Hosts')

<img width="1268" alt="image" src="https://user-images.githubusercontent.com/3397663/73283681-c79c7780-41f3-11ea-9494-3bb365289f14.png">

it is requested not to have such empty space

[2020-01-28 16:31] simonemainardi commented on #3349
screenshot taken on a 1280x800 screen

[2020-01-28 17:17] #3346 closed, assigned to cardigliano

[2020-01-28 23:15] unmanagedtn opened #3351 "Redis is unable to persist data."
Getting this error under health, "Redis is unable to persist data."
I am running server 2016 any idea what could cause this?

[2020-01-28 23:29] unmanagedtn opened #3352 "Interface Link in Web GUI Error"
Script "C:\Program Files\ntopng\scripts\lua\if_stats.lua" returned an error:
C:\Windows\Temp\ntopng\plugins\alert_endpoints\nagios.lua:1: unexpected symbol near '<\135>

Getting this with a valid interface, it has a long name and I don't know if that is the problem,,,

[2020-01-29 00:18] unmanagedtn commented on #3213
i added the --community switch but still having problems

[2020-01-29 00:19] unmanagedtn commented on #3352
I have added the --community to the service also I am running windows....

[2020-01-29 08:05] gabryon99 commented on #3344
The white sidebar option exists. So it is necessary to implement, inside the user page, a toggle switch to enable/disable the sidebar color user prefers.

[2020-01-29 08:08] Niko78 opened #3353 "ton of dropped and flows issues"
hi,
since few builds I have ton of dropped flows... I was suspecting alerts. In the same time I had increasing of flows without any reason (I increase limit agan and again each day, but in ntop it increased also) ; in restarting ntop process flows were back ok less than 25k instead of more than 2M

so I decided to remove alerts from preferences to check, so I put it to Off.
I wanted to "flush aler

[2020-01-29 08:22] lucaderi commented on #3344
![Screen Shot 2020-01-29 at 09 19 47](https://user-images.githubusercontent.com/4493366/73339353-df6a0f00-4278-11ea-85c1-ac5efa5bddfc.png)

[2020-01-29 08:29] gabryon99 commented on #3344
Ok, I close the issue.

[2020-01-29 08:29] #3344 closed, assigned to simonemainardi, gabryon99

[2020-01-29 08:39] gabryon99 commented on #3338
Now the sidebar is always collapsed to optimize the space available.

[2020-01-29 08:39] #3338 closed, assigned to simonemainardi, gabryon99

[2020-01-29 08:40] gabryon99 commented on #3337
Now the sidebar sub-menus are shown by hovering on the own up-menu button.

[2020-01-29 08:40] #3337 closed, assigned to simonemainardi, gabryon99

[2020-01-29 08:40] #3349 closed, assigned to gabryon99

[2020-01-29 09:09] emanuele-f commented on #3352
Same issue as #3213 . The fix will be available in the next windows build. For now, please use the --community option

[2020-01-29 09:09] #3352 closed, assigned to nobody

[2020-01-29 09:12] emanuele-f commented on #3351
The issue may be caused by a misconfiguration or low disk space. You can try to uninstall redis and istall it again, otherwise you can check the redis logs to see why it is not working properly

[2020-01-29 11:54] cardigliano commented on #3333
I ran a few tests with both RRD and IncluxDB as backend and it seems it is working for me.
Please provide (in a private email if it contains sensitive info) a few minutes of logs from Suricata. They can be collected running the below command instead of ntopng:
nc -k -l 0.0.0.0 9999 | grep suricata > suricata.log

[2020-01-29 15:30] StewAlexander-com opened #3361 "JSON unexpected token H at position 0"
![image](https://user-images.githubusercontent.com/48565067/73370377-20b2ec80-4282-11ea-8810-25aa195a5b3e.png)

# Version info:
[code]

Saw this error after attempting to load an SNMP entry for a Windows 2016 system

[2020-01-29 16:46] #3342 closed, assigned to simonemainardi, gabryon99

[2020-01-29 16:59] cardigliano commented on #3353
Please provide a screenshot of the active flows chart for 1 day, which is available in the historical chart in the Interface.
http://127.0.0.1:3000/lua/if_stats.lua?page=historical&version=4&ts_schema=iface%3Aflows&zoom=1d

[2020-01-29 17:28] cardigliano commented on #3353
Please note that "flush alerts data" has been fixed (a new package will be available in ~1h)

[2020-01-29 17:35] cardigliano commented on #3288
Implemented

[2020-01-29 17:35] #3288 closed, assigned to cardigliano

[2020-01-29 17:40] cardigliano commented on #3232
@joerg-wille you should be able to go to an hidden page in your fritzbox which is fritz.box/html/capture.html and download a pcap directly from there, could you try that?

[2020-01-29 17:42] Niko78 commented on #3353
added information requested
fyi this information is false cause if I restart ntop process, flows are back OK
![Screenshot_2020-01-29 ntopng - Interface tcp 172 31 1 245 5556](https://user-images.githubusercontent.com/17108017/73382017-0fd89a00-42c7-11ea-872f-8e6344a3789d.png)

[2020-01-29 18:10] cardigliano commented on #3353
@Niko78 it seems inactive flows are not purged from memory, any chance we can ssh to this system to debug it?

[2020-01-29 18:52] Niko78 commented on #3353
nope but I could share my screen

[2020-01-29 19:11] dude2k5 opened #3362 "--collection-filter still not filtering single ip"
Looking at issue #1782, having the exact same problem. Fixes mentioned dont do anything when applied.

Ive put --collection-filter=!192.168.1.86 as it's collecting data from itself, both in ntopng.conf and nprobe.conf. But they still show up in the web interface. Any ideas how to exlude it entirely.

[2020-01-29 21:32] lucaderi commented on #3340
Fixed with the new smaller sidebar

[2020-01-29 21:32] #3340 closed, assigned to simonemainardi, gabryon99

[2020-01-29 21:32] lucaderi commented on #3348
Fixed with the new smaller sidebar

[2020-01-29 21:32] #3348 closed, assigned to gabryon99

[2020-01-29 21:33] lucaderi commented on #3343
Fixed with the new smaller sidebar

[2020-01-29 21:33] #3343 closed, assigned to gabryon99

[2020-01-29 21:34] lucaderi opened #3363 "Traffic report is broken"
![Screen Shot 2020-01-29 at 22 31 35](https://user-images.githubusercontent.com/4493366/73399376-68b82a80-42e7-11ea-8ce7-1ccce668bbe8.png)

[2020-01-30 07:43] Niko78 commented on #3353
I just upgraded this morning, i can confirm now no error... but after that header/bottom disapeared like I reported before (I need to restart ntop again)

nothing in flow tab also as reported got error : SyntaxError: JSON.parse: unexpected character at line 1 column 1 of the JSON data
in syslog in the same time
Jan 30 08:52:22 localhost ntopng: [LuaEngine.cpp:12514] WARNING: Script failure [/usr/s

[2020-01-30 08:02] Niko78 commented on #3353
fyi I have that on 2 different server
server with drop flow, I have that in syslog

Jan 30 08:59:01 localhost cento[1140]: 30/Jan/2020 08:59:01 [NetworkInterface.cpp:1325] [lo] [1'439 pps/0.00 Gbps][3/25/0/512'000 act/exp/drop/max flows][0 RX pkt drops][3 active flows]
Jan 30 08:59:01 localhost cento[1140]: 30/Jan/2020 08:59:01 [FlowExporter.cpp:107] [lo] Flow Export Queue Len [0 tot queued][0/0 I

[2020-01-30 11:34] cardigliano commented on #3353
@Niko78 we pushed another fix for the issue you reported, please update again (a new package is available now)

[2020-01-30 11:53] Niko78 commented on #3353
@cardigliano I can confirm now it seems to be much better, I can see flows and no error in syslog
now let's see if flows increase or if they are released from memory like you said
thanks for fix

[2020-01-30 12:02] oktavianq opened #3364 "Lua script failure"
[code]
---------
v.3.9.200129	[Enterprise/Professional build]
GIT rev:	dev:870cf4de0b33f30d88689e6f434f5021c005f87d:20200129
Pro rev:	r2688
Built on:	Ubuntu 18.04.3 LTS
System Id:	4ADBE7799205A1D6
Platform:	x86_64
Edition:	Enterprise
License Type:	Time-Limited [Empty license file]
Validity:	Until Thu Jan 30 12:12:08 2020

[2020-01-30 13:54] MMelicher commented on #3364
Seeing the same problem:
`Jan 30 14:51:50 netmon ntopng: [LuaEngine.cpp:12498] WARNING: Script failure [/usr/share/ntopng/scripts/lua/pro/dashboard.lua][/usr/share/ntopng/scripts/lua/pro/dashboard.lua:17: attempt to index a nil value (field 'menu_entries')]
Jan 30 14:51:50 netmon ntopng[17188]: 30/Jan/2020 14:51:50 [LuaEngine.cpp:12498] WARNING: Script failure [/usr/share/ntopng/scripts/lua/pro/da

[2020-01-30 14:30] joerg-wille commented on #3232
@cardigliano yes, this works. I have done this couple of times. I can download the file and then inspect this with Wireshark. Capturing with fritzbox gives the expected result.
The idea of using ntopng was to do this in real time and with a more user-friendly UI.
I am on MacOS Mojave 10.14.6 and I am doing following steps:
* start redis: redis-server /usr/local/etc/redis.conf &
* open fritz.box/ht

[2020-01-30 14:42] janvgils commented on #3364
Also the same problem after an initial install.

`HTTP/1.1 500 Internal server error Content-Type: text/html Connection: close  Script "/usr/share/ntopng/scripts/lua/pro/dashboard.lua" returned an error:
/usr/share/ntopng/scripts/lua/pro/dashboard.lua:17: attempt to index a nil value (field 'menu_entries')`

`ntopng --version
v.3.9.200130	[Enterprise/Professional build]
GIT rev:	dev:6704ae50401625

[2020-01-30 14:48] cardigliano commented on #3232
@joerg-wille it is likely polling terminates because of a truncated/unrecognzed pcap stream from the fritzbox (same as tcpdump). We need to figure out why the pcap you download from the fritzbox gui is well formed, while the one downloaded with wget is not recognized by tcpdump/ntopng..

[2020-01-30 14:52] emanuele-f commented on #3364
Please check out the new package that will be available in one hour

[2020-01-30 14:55] janvgils commented on #3364
Thanks for the update, we will

[2020-01-30 15:59] MMelicher commented on #3364
Hi, the update fixed the problem.

@emanuele-f  - fixed for me.

EDIT:

After the update:

[Thu Jan 30 16:22:02 2020] device enp1s0f0 entered promiscuous mode
[Thu Jan 30 16:25:26 2020] second.lua[27228]: segfault at 0 ip 00005623ceb91fbc sp 00007f88767fb380 error 4 in ntopng[5623ceb83000+1f3000]
[Thu Jan 30 16:25:26 2020] Code: 48 89 75 f0 48 8b 45 f8 48 8b 55 f0 48 89 10 90 5d c3 55 48 89 e5 48

[2020-01-30 16:16] emanuele-f commented on #3363
Fixed

[2020-01-30 16:16] #3363 closed, assigned to emanuele-f, gabryon99

[2020-01-30 16:18] emanuele-f commented on #3364
Can you provide a stack trace as explained in https://github.com/ntop/ntopng/blob/dev/doc/README.crash ?

[2020-01-30 16:41] emanuele-f commented on #3361
Please check the ntopng log with `sudo journalctl -u ntopng`, it should be reporting an error

[2020-01-30 16:54] StewAlexanderACC commented on #3361
[code]

[2020-01-30 16:56] StewAlexander-com commented on #3361
[code]

The list is rather long, if I do not do a ```$ tail```

[2020-01-30 16:59] StewAlexander-com commented on #3361
Showing the last 30 lines ...

[code]

[2020-01-30 20:19] joerg-wille commented on #3232
This make sense - how can I help?

[2020-01-31 07:07] gabryon99 commented on #3265
Fixed, the problem was a wrong width.

[2020-01-31 07:07] #3265 closed, assigned to emanuele-f, gabryon99

[2020-01-31 08:54] Niko78 commented on #3353
@cardigliano this morning, flows increased again and seem to be frozen to 2600001
it doesn't change since more than 1 hour
![Screenshot_2020-01-31 ntopng - Traffic Dashboard](https://user-images.githubusercontent.com/17108017/73525560-b92aa780-440f-11ea-8524-fac27d208847.png)
![Screenshot_2020-01-31 ntopng - Interface tcp 172 31 1 245 5556](https://user-images.githubusercontent.com/17108017/735255

[2020-01-31 14:00] cardigliano commented on #3353
Flow purging is not working, we definitely need to debug this. Please write to cardigliano at ntop.org and we will schedule a remote session. Thank you.

[2020-02-01 15:54] lucaderi opened #3370 "Create a Nagios(-like) monitoring script"
Create a script nagios con use to monitor the ntopng status (availability, drops, disk space etc)

[2020-02-03 05:09] zimbawe998 opened #3371 "DNS Breakdown Insight"
it will be appreciated to have the possibility to drill down the dns query that host done: positive and negative.
Scope: Malware analysis, dns troubleshooting, DNS Filtering and so on.

[2020-02-03 08:38] th0u commented on #3232
still open this issue?
I have (successfully) tested set up capturing Fritzbox traffic in Ntopng via several ways on Centos.
To test if the "wget" works and receives traffic, remove in the script the piping to what ever behind wget  and add -O /path/to/your/fb.pcap. This will tell wget to output to file an you can check if that works.
Additionally, while the wget is running (observe it using ps axf

[2020-02-03 08:50] zimbawe998 opened #3372 "Edit User Script -> Flow Error"
When i try to access User Script -> Flow -> edit i receive this error
"DataTables warning: table id=scripts-config - Invalid JSON response. For more information about this error, please see http://datatables.net/tn/1"

[2020-02-03 09:01] cardigliano commented on #3232
@th0u thank you (we do not have an active fritzbox router atm for testing, thus your help is really useful)

[2020-02-03 17:25] simonemainardi commented on #3362
please show all the configurations and software versions used

[2020-02-03 17:27] simonemainardi commented on #3361
please check disk status (e.g., full?) and permissions of `/var/lib/ntopng/` which must be readable and writable by user `ntopng`.

[2020-02-04 08:04] oktavianq opened #3373 "Question about functionality ntopng"
If the question is stupid, please bear with me and delete the thread :)
Is it possible to pass information from ntopng to the script?
More specifically, it is about asking ntopng about FLAG RST and SYN statistics on a specific network interface over a specific period of time (example 30sec ?)

[2020-02-04 08:56] cardigliano opened #3374 "Disable (specific) external alerts"
ntopng collects external alerts from Suricata, some of them trigger too many alerts of the same type introducing a lot of nose. It would be nice to add the ability to hide specific alerts by disabling them with one click in the Alerts page (doing the same by commenting them in the Suricata ruleset would be much more complicated) , or at least set a minimum severity.

[2020-02-04 08:57] cardigliano commented on #3372
<img width="1944" alt="Screen Shot 2020-02-04 at 09 40 15" src="https://user-images.githubusercontent.com/7548711/73729102-b6dc8c00-4734-11ea-8aa0-e40af87e1a21.png">

[2020-02-04 09:12] cardigliano opened #3375 "Dark theme issues"
Time resolution buttons are not visible

<img width="1236" alt="Screen Shot 2020-02-04 at 09 49 29" src="https://user-images.githubusercontent.com/7548711/73730220-bb09a900-4736-11ea-9a10-d5d05d9c1fb9.png">

[2020-02-04 09:13] cardigliano commented on #3375
Hosts -> Host Explorer has a white canvas

<img width="1323" alt="Screen Shot 2020-02-04 at 10 13 17" src="https://user-images.githubusercontent.com/7548711/73730411-00c67180-4737-11ea-9eaa-a7844bbceda1.png">

[2020-02-04 09:16] emanuele-f commented on #2991
Documentation:

http://www.lt.netfilter.org/projects/libnetfilter_conntrack/doxygen/libnetfilter__conntrack_8h_source.html

[2020-02-04 09:19] cardigliano commented on #3375
Interface historical chart canvas overlaps

<img width="1257" alt="Screen Shot 2020-02-04 at 09 49 53" src="https://user-images.githubusercontent.com/7548711/73730740-9b26b500-4737-11ea-9867-e7373c13d9ff.png">

[2020-02-04 09:21] emanuele-f opened #3376 "Traffic incorrectly classified as DHCP?"
![2020-02-04_10-20](https://user-images.githubusercontent.com/5488003/73731001-9fe76b00-472f-11ea-885e-fd2a8328eb0c.png)

[2020-02-04 10:09] simonemainardi opened #3377 "Flows not being idled"
After the latest updates, seems the sFlow traffic reported is much less than the actual value

![image](https://user-images.githubusercontent.com/3397663/73734883-a3ceb980-473e-11ea-820a-79d3af061342.png)

this behavior is being investigated privately with a user.

[2020-02-04 12:57] christianbj87 opened #3378 "Unable to check license online"
Hi, i cant check the licence online using a proxy.

 env | grep -i proxy
http_proxy=http://10.1.15.31:80
https_proxy=http://10.1.15.31:80

 nprobe -v

Welcome to nProbe v.8.6.200203 (r6343) for x86_64-unknown-linux-gnu
with native PF_RING acceleration.
Copyright 2002-18 ntop.org

Build OS:      CentOS Linux release 7.7.1908 (Core)
SystemID:      689ED9C776066B16
GIT rev:       8.6-stable:67c7296f1

[2020-02-04 13:18] cardigliano commented on #3378
@christianbj87 could you send your license and orderid to cardigliano at ntop.org please? Thank you.

[2020-02-04 15:04] emanuele-f commented on #3372
Can you see errors into the ntopng log? Can you inspect the invalid JSON?

[2020-02-04 15:09] emanuele-f commented on #3373
Hi, you can extract such information from the ntopng historical data. Please check out:

![2020-02-04_16-07](https://user-images.githubusercontent.com/5488003/73756829-2156f180-4760-11ea-95be-a59ca5c758f6.png)

https://www.ntop.org/guides/ntopng/api/rest/examples.html#get-interface-data

[2020-02-04 15:22] #3336 closed, assigned to simonemainardi, gabryon99

[2020-02-04 15:25] #3373 closed, assigned to nobody

[2020-02-04 15:47] christianbj87 commented on #3378
@cardigliano Sorry i can't, my partner have that info and he is on his vacations. He will be back en 15 days.
We have nProbe Pro Permanent License. We migrated the service from Windos to Linux.

[2020-02-04 15:50] cardigliano commented on #3378
You should be able to read the license from /etc/nprobe.license

[2020-02-04 15:57] christianbj87 commented on #3378
Yes, i can do it, but i cant check it online, because the systemID is from the old server with Windows.

Output if i dont execute --online-license-check:

sudo nprobe --nflite 2055 -i none -n 10.1.11.34:9996
04/Feb/2020 12:55:13 [plugin.c:181] No plugins found in ./plugins
04/Feb/2020 12:55:13 [plugin.c:189] Loading 24 plugins [.so] from /usr/local/lib/nprobe/plugins
04/Feb/2020 12:55:13 [nprobe.c

[2020-02-04 15:59] cardigliano commented on #3378
Did you read this? https://www.ntop.org/support/faq/how-can-i-move-a-license-to-a-new-server/

[2020-02-04 17:25] emanuele-f commented on #2989
Captive portal is working correctly in the 3.9 version.

[2020-02-04 17:25] #2989 closed, assigned to emanuele-f

[2020-02-04 17:49] christianbj87 commented on #3378
Yes i did. The problem is when set a proxy.
I tried in a VM for testing with internet connection without proxy and the license works.

![image](https://user-images.githubusercontent.com/60654543/73771646-7d6c4680-475d-11ea-8e71-b525f9ddc082.png)

[2020-02-04 17:52] cardigliano commented on #3378
Please send me the output of nprobe --version, including the license info (in a private mail), I will provide you instructions to debug this. Thank you.

[2020-02-04 18:34] ahkok commented on #2854
The configure asks for nDPI `> 2.0`. This should be `>= 3.0` I believe. `2.6` is not sufficient, as it does not contain the `TLS` components.

[2020-02-04 18:39] christianbj87 commented on #3378
ok, i already did. Thanks.

[2020-02-04 18:55] ahkok opened #3379 "Fix(allow) dynamic linking aainst nDPI-3.0"
Current `configure.seed` blocks dynamic linking to `nDPI-3.0` with a comment that it's "broken". But, a simple patch works just fine:

[code]

So, this should be fixed - distributions will always prefer linking dynamically - as it should be.

(This is for ClearLinux OS, but, I'm sure others will appreciate this being rectified).

[2020-02-05 07:46] oktavianq commented on #3373
Many thanks

[2020-02-05 08:17] cardigliano opened #3381 "Segfault dumping flows to (batched) MySQL"
A user which is collecting traffic with a single zmq endpoint from multiple (cento) producers reported a segfault on the flow dump to (batched) MySQL:

Core was generated by `/usr/local/bin/ntopng /run/ntopng.conf'.
Program terminated with signal SIGSEGV, Segmentation fault.
#0  0x000000000052c786 in BatchedMySQLDBEntry::checkLen (this=0x0) at /home/deri/ntopng/pro/BatchedMySQLDBEntry.h:55
55

[2020-02-05 08:36] simonemainardi commented on #3353
Seems issue is due to MySQL. Turning MySQL export off causes the system to properly expire and idle flows.

[2020-02-05 08:38] cardigliano commented on #3381
Note: this *could* be related to the same issue in https://github.com/ntop/ntopng/issues/3353#issuecomment-582298033

[2020-02-05 08:40] zimbawe998 commented on #2571
HI Emanuele.
I am tring to exclude it but it seems that doens't work.
I'va just updated the ntopng.

Il giorno ven 24 gen 2020 alle ore 15:21 Emanuele Faranda <
notifications@github.com> ha scritto:

[2020-02-05 08:43] simonemainardi commented on #3379
please, submit this as a pull request so we can evaluate and include it

[2020-02-05 08:43] #3379 closed, assigned to nobody

[2020-02-05 09:04] emanuele-f commented on #2571
Can you provide your exclusion list and examples of queries which are not excluded?

[2020-02-05 10:07] zimbawe998 commented on #2571
This is the query:
3.1o1osr00npq4on8op3732pn58q02o01r802023qp1782n5rqn9qnqs0q150no62.76np1r741pr36393648s269991r414161476p4o575qq17nnonn2s06577391q8.r01p43962rs0pr752s54r908sooo791pr79q7r8ns970o9556p7r990r.r5n94r5so9784pq1.i.03.s.sophosxl.net

This is the dns that i exclude  :  sophosxl.net
But the alert will be triggered again

Il giorno mer 5 feb 2020 alle ore 10:04 Emanuele Faranda <
notificati

[2020-02-05 10:52] #3381 closed, assigned to simonemainardi

[2020-02-05 13:05] simonemainardi opened #3382 "ntopng service is constantly restarting"
i, after the last update to 3.9.200204, ntopng service is constantly restarting.

My system is Ubuntu-18.04 on ZFS, ntopng is writing to influxdb for Grafana support.

I've tried to update to 3.9.200205, but the same behaviour occurs.

A grep on ntopng.service in /var/log/syslog shows:

Feb 5 09:39:26 riemann systemd[1]: ntopng.service: Main process exited, code=killed, status=11/SEGV
Feb 5 09:39:

[2020-02-05 13:20] simonemainardi commented on #3382
seems issue is with nDPI TLS

[code]

[2020-02-05 13:24] dude2k5 commented on #3362
It was my mistake, I think I had the config wrong earlier (when I posted it)

After doing more research, finally got the config working properly, then adding the filter seemed to work (I may have been applying it to ntopng instead of nprobe).

My apologies, I will close this issue

[2020-02-05 13:24] #3362 closed, assigned to nobody

[2020-02-05 13:25] simonemainardi commented on #3353
should be fixed with https://github.com/ntop/ntopng/commit/37975c171064f276e94d378b448c93ba54086418 and companion pro commit

[2020-02-05 15:23] simonemainardi commented on #3364
no feedback received. closing. reopen with the requested information if necessary.

[2020-02-05 15:23] #3364 closed, assigned to nobody

[2020-02-05 15:29] simonemainardi commented on #2965
options are:
- perform at most X deserializations per second and allow hosts deserialization to be deferred. Deserialization functions then should be changed to sum values rather than setting them. Unless an host has not been deserialized, it should be hidden from the UI and from the timeseries
- start another thread which is in charge of deserializing hosts. Pass to this thread the keys of the ho

[2020-02-05 16:42] ahkok commented on #3379
It's not up to me to evaluate the deeper consequences of this patch - I don't have the time for that. I have 6000 other OSS projects to tend to. I understand it would *help* you, but my focus is limited.

[2020-02-05 17:07] simonemainardi opened #3383 "View Interfaces Information"
Currently, view interfaces only support a subset of all the data which is available for hosts in non-view interfaces.

Information not supported for view interfaces is:

Mac
- Mac addresses and everything related to Mac addresses

Host
- packet size distribution (up to 128, up to 256, ...)
- TCP Flags / ARP Distribution
- JA3 fingerprints
- HASSH fingerprints
- misbehaving flows status map and mis

[2020-02-05 18:18] simonemainardi commented on #2820
Now when the device SNMP is available, regular information is shown

![image](https://user-images.githubusercontent.com/3397663/73870284-1a0d1200-484c-11ea-8dc4-21ad0db1838f.png)

However, when no SNMP device is found, a message is printed and a note points the user to the SNMP devices configuration page

![image](https://user-images.githubusercontent.com/3397663/73870330-314bff80-484c-11ea-827a-0

[2020-02-05 18:18] #2820 closed, assigned to simonemainardi

[2020-02-05 19:16] simonemainardi commented on #3155
Fixed. New look:

![image](https://user-images.githubusercontent.com/3397663/73874731-52185300-4854-11ea-842b-5a6b765be49e.png)

[2020-02-05 19:16] #3155 closed, assigned to simonemainardi

[2020-02-05 19:46] simonemainardi commented on #3334
Fixed. New look:

![image](https://user-images.githubusercontent.com/3397663/73876699-ba1c6880-4857-11ea-8bd8-5fddc4f7d944.png)

![image](https://user-images.githubusercontent.com/3397663/73877239-973e8400-4858-11ea-9656-c1875c6b6112.png)

[2020-02-05 19:46] #3334 closed, assigned to simonemainardi

[2020-02-05 19:52] simonemainardi commented on #3377
Fixed in the latest build. Issue was due to a glitch in nProbe.

[2020-02-05 22:11] emanuele-f commented on #3210
Initial implementation in f2baada75800952d23f38ee864f84a4e5655143e

[2020-02-06 08:54] simonemainardi opened #3384 "bad argument #3 to 'format' (number expected, got nil)"
[code]

[2020-02-06 09:42] emanuele-f commented on #2571
I get the correct behavior by manually executing the query above with the `dig` command (the flow does not get alerted). Please ensure that:

- if you have user scripts configurations other than the `Default`, that you are modifying the correct configuration
- `sophosxl.net` is spelled correctly in the gui textarea
- please note that the existing flows will not be re-evaluated, so it's better to r

[2020-02-06 10:11] simonemainardi commented on #3384
fixed with https://github.com/ntop/ntopng/commit/96925a7e03668eaa8eb36ae3656f1a0df6f3685e

[2020-02-06 10:11] #3384 closed, assigned to simonemainardi

[2020-02-06 10:22] cardigliano commented on #2162
Implemented import/export buttons.

[2020-02-06 10:22] #2162 closed, assigned to cardigliano

[2020-02-06 11:04] simonemainardi opened #3386 "Crash in ~nDPIStats"
[code]

[2020-02-06 11:14] gabryon99 commented on #2960
Geomap provider change to OSM.

[2020-02-06 11:14] #2960 closed, assigned to ingria, gabryon99

[2020-02-06 14:21] emanuele-f commented on #3210
In memory filters implemented in 00b4fe17a64ed45db2c30cefd4f3bd38a1c3367f

[2020-02-06 14:57] Niko78 commented on #3353
it seems to be ok now
still drops (zmq/flows)... but it's an other problem
thanks

[2020-02-06 15:01] simonemainardi commented on #3353
thanks for reporting

[2020-02-06 15:01] #3353 closed, assigned to simonemainardi

[2020-02-06 15:02] #3210 closed, assigned to emanuele-f

[2020-02-06 15:23] simonemainardi commented on #3386
config is

[code]

[2020-02-06 15:48] emanuele-f commented on #3372
@zimbawe998 any news?

[2020-02-06 16:08] lucaderi commented on #3106
This bug is still pending

[2020-02-06 16:38] ids-cyberlab opened #3388 "Port blocking and VLAN assignment via SNMP"
It will be appreciated to have the possibility of inserting new features regarding the management of devices via SNMP protocol.

In particular, it will be useful to have the following new functions:
- switch's port deactivation / blocking  which a specific host is connected to;
- enabling an "untagged" VLAN (among those known by the device) on a port.

Thanks.

[2020-02-06 16:47] emanuele-f opened #3389 "Sometimes no tab is selected in the user scripts page"
![photo_2020-02-06_17-44-01](https://user-images.githubusercontent.com/5488003/73958673-2b175b00-4900-11ea-9a6c-a9d00e7627b3.jpg)

[2020-02-06 18:07] simonemainardi opened #3390 "Reworks menu.lua"
Currently, `menu.lua` contains tens of anonymous functions a-la javascript. it is requested to rework this menu so that it can be generated with a simple call to a lua function (similar to page_utils.print_navbar)

Then, nedge menu should be migrated as well.

[2020-02-06 18:10] emanuele-f commented on #2991
conntrack does not seem to provide such counters. An idea is the following. Since we know the flows with a drop verdict, we may stop accounting the traffic for such flows (Flow::setPacketsBytes). However this is risky, as some flowing traffic may not get accounted. Another option would be to bring up all the flows in the netfilter queue, however this will greatly decrease performance.

[2020-02-06 18:21] #3106 closed, assigned to simonemainardi

[2020-02-06 20:49] zimbawe998 commented on #3372
HI Emanuele,
I cannot have access because i have the problem specified on 3372.

On 06/02/20 16:48, Emanuele Faranda wrote:

[2020-02-06 20:50] zimbawe998 commented on #3372
This is the error i see on the logs:

06/Feb/2020 21:48:00 [LuaEngine.cpp:12510] WARNING: Script failure
[/usr/share/ntopng/scripts/lua/get_user_scripts.lua][...re/ntopng/scripts/lua/modules/user_scripts_templates.lua:138:
attempt to index a nil value (field 'script_conf')]
06/Feb/2020 21:45:55 [LuaEngine.cpp:12510] WARNING: Script failure
[/usr/share/ntopng/scripts/lua/get_user_scripts.lua][...re

[2020-02-07 07:43] gabryon99 commented on #3389
See: https://github.com/ntop/ntopng/pull/3391

[2020-02-07 08:47] gabryon99 commented on #3389
merged.

[2020-02-07 08:47] #3389 closed, assigned to gabryon99

[2020-02-07 08:59] emanuele-f commented on #3372
This should be fixed in 80ead5632938d1bd00646b8618870806e17b0c88, a new build will be available in one hour. If the fix does not work, please consider flushing the current data with:

1. ntopng is running
2. redis-cli del `ntopng.prefs.user_scripts.configsets_v2`
3. restart ntopng

[2020-02-07 09:09] #3310 closed, assigned to gabryon99

[2020-02-07 09:34] emanuele-f opened #3393 "Logo image exceeds sidebar bounds"
![2020-02-07_10-33](https://user-images.githubusercontent.com/5488003/74017935-f2719300-498c-11ea-883e-63db5158eddb.png)

[2020-02-07 14:56] simonemainardi opened #3394 "Idle transitions not performed"
On a ZMQ interface, it seems flows are never marked as idle, they always stay active:

![image](https://user-images.githubusercontent.com/3397663/74039594-68442180-49c2-11ea-8a4e-5e05e37d19ab.png)

[2020-02-07 15:37] simonemainardi commented on #3394
![image](https://user-images.githubusercontent.com/3397663/74042610-24ecb180-49c8-11ea-90b7-190b777daaae.png)

[2020-02-07 18:15] #3394 closed, assigned to simonemainardi

[2020-02-07 21:59] lucaderi opened #3395 "Update menu when geolocation is not enabled"
When geolocation is not enabled, the "countries" menu entry should not be enabled (or not be listed at all) instead of allowing people to open it and fail

![Screen Shot 2020-02-07 at 22 56 20](https://user-images.githubusercontent.com/4493366/74068940-34d2b880-49fd-11ea-9e4f-e9984b29fa8b.png)

[2020-02-07 22:01] lucaderi opened #3396 "Bottom date will wrap when ntopng is started for more than a day"
When ntopng is started for more than a day, the bottom right label wraps.

![Screen Shot 2020-02-07 at 22 59 54](https://user-images.githubusercontent.com/4493366/74069100-9561f580-49fd-11ea-96af-dc7ffa1ec5f2.png)

[2020-02-08 02:45] noybman opened #3397 "ntopng cron job file is defaulted to checking for updates every minute"
Just a few weeks ago, I performed an update to ntopng on my Ubuntu box along with the other available packages. (from ntop.org PPA).

The upgrade writes a new ntop cron job to /etc/cron.d/ with an update request for all the different modes including every minute!

I commented out this entry, and then when I updated again last night, it uncommented it again.

I have notifications setup to generate

[2020-02-08 17:51] cardigliano commented on #3397
@noybman please note that the script called by the cron job is not actually checking for updates online unless the user requests that through the GUI. It does that just overnight, once per day. It also checks if there is another instance of the script running before checking for updates online (in case it has to). At least, this is the expected behaviour. Do you see something else? Thank you for r

[2020-02-08 18:49] popmonkey opened #3398 "recurring ERROR: Number out of integers range"
i upgraded to 3.9.x yesterday from ... i'm actually not sure, sadly but whatever was available on 2019.10.1 (http://packages.ntop.org/RaspberryPI/buster_pi/armhf/ntopng/ doesn't have the version anymore)

got this in the logs

[code]
i also got 50,000+ flows marked `This flow is no longer active and it should have been purged from memory` and i'm guessing it has something to do with that script no

[2020-02-08 18:55] popmonkey commented on #3398
oh ouch, actually this is happening every second right now!

[code]

[2020-02-08 19:04] popmonkey commented on #3398
wth?

[code]
[code]

so i
[code]

restarted everything and so far no integer errors...

does any of this make sense?  is this just a user upgrade error?

[2020-02-08 19:19] popmonkey commented on #3398
closing - will reopen if this recurs

[2020-02-08 19:50] noybman commented on #3397
I have not looked to see if it is talking to the internet once per minute but I have every reason to believe it is. I do have it setup to check for updates. The web gui does not give me an option to tell it to check every minute and every night, but I'm confident that it is indeed doing exactly that.
I commented OUT checking every minute. I then updated it and it was now uncommented.
It is constan

[2020-02-09 17:58] lucaderi opened #3399 "Various Dark Theme Inconsistencies"
![photo_2020-02-09 18 57 21](https://user-images.githubusercontent.com/4493366/74107213-0aecd380-4b6e-11ea-8a19-06a1efa2d796.jpeg)
![photo_2020-02-09 18 57 20](https://user-images.githubusercontent.com/4493366/74107215-0c1e0080-4b6e-11ea-8be3-0644b3aa4e17.jpeg)
![photo_2020-02-09 18 57 19](https://user-images.githubusercontent.com/4493366/74107216-0d4f2d80-4b6e-11ea-99a5-a341313e68e6.jpeg)
![photo

[2020-02-09 17:59] lucaderi opened #3400 "Enabled vs Disabled"
![photo_2020-02-09 18 57 22](https://user-images.githubusercontent.com/4493366/74107235-2d7eec80-4b6e-11ea-92f1-17bef531ee98.jpeg)

If enabled is green, disabled must be red or similar color, not grey

[2020-02-09 18:03] lucaderi opened #3401 "Improve data exfiltration default"
![Screen Shot 2020-02-09 at 19 01 42](https://user-images.githubusercontent.com/4493366/74107298-a1b99000-4b6e-11ea-993f-09828a5dc152.png)

There are some protocols such as dropbox, that produce invalid data exfiltration alerts. it is requested to review the defaults so that only applications that make sense produce alerts

[2020-02-09 18:17] lucaderi opened #3402 "Misleading stacked charts"
Stacked charts are misleading when, for instance, used to represent traffic.

![Screen Shot 2020-02-09 at 19 13 18](https://user-images.githubusercontent.com/4493366/74107448-661fc580-4b70-11ea-83ef-71f8713c2939.png)

This is because on this industry everyone uses an area chart for one direction (eg. RX) and a line (e.g. TX) on the other this to avoid that the sum of RX+TX exceeds the capacity of

[2020-02-09 18:18] lucaderi commented on #3375
See also #3399

[2020-02-10 09:23] simonemainardi opened #3403 "nIndex First / Last seen not matching search criteria"
Given a query with a defined timerange, nIndex records returned don't match. For example, in this image, records returned are from 12:00 whereas the timerange starts at 13.

![image](https://user-images.githubusercontent.com/3397663/74136865-24822f80-4bef-11ea-8546-e99cdd509f72.png)

[2020-02-10 09:38] cardigliano commented on #3397
It actually checks nightly by default (and only install updates if automatic updates are enabled). The script is running every minute just to check if there are user requests for checking for updates (this happens when you click on "Check for updates" on the GUI).
However the "a duplicate process is already checking for updates" warning is annoying (it should not happen actually), we will fix this

[2020-02-10 09:46] dive76 commented on #3361
I have the same error. Disk has space and permissions are set correctly.

[2020-02-10 09:50] dive76 commented on #3361
Deleting all devices and add them again solves the issue.

[2020-02-10 10:54] dargelm commented on #1010
same situation at me
![image](https://user-images.githubusercontent.com/6695031/74143468-24882c80-4bfb-11ea-823e-d1e85b54580f.png)

Version | 3.8.200120 - Professional Edition
Number of hosts: 35
Devices: 25
Flows: 243
![image](https://user-images.githubusercontent.com/6695031/74143763-b2fcae00-4bfb-11ea-85cc-f9fcd89cb123.png)
Layer-7 Applications: both

![image](https://user-images.githubusercont

[2020-02-10 11:01] emanuele-f commented on #1010
The development version of ntopng contains some fixes that probably address the issue. Can you try to update to the dev version? Please follow the instructions for your distro at packages.ntop.org .

[2020-02-10 11:15] dargelm commented on #1010
what I did: on Centos7/Nethserver

...

...

Now the installation hangs
![image](https://user-images.githubusercontent.com/6695031/74145383-f99fd780-4bfe-11ea-9507-5ef027f3dd0d.png)

[2020-02-10 11:16] emanuele-f commented on #1010
Please try to first remove ntopng and pf_ring and then install the dev version

[2020-02-10 11:18] dargelm commented on #1010
OMG...after many minutes the process ends successfully

![image](https://user-images.githubusercontent.com/6695031/74145490-3c61af80-4bff-11ea-8284-8a8ec152bc05.png)

finally:

[2020-02-10 12:42] dive76 commented on #3361
After about 20 minutes the error comes again.

[2020-02-10 12:49] simonemainardi commented on #3396
fixed in https://github.com/ntop/ntopng/commit/df5b7092a26a0e00d6bd2d0344d38d5c3e627d54

[2020-02-10 12:49] #3396 closed, assigned to gabryon99

[2020-02-10 13:21] dargelm commented on #1010
now it works:  Version | 3.9.200210 (8920) - Professional Edition

THANK YOU for your support

[2020-02-10 14:43] StewAlexander-com commented on #3361
Yeah, my disk space is fine, and I agree with @dive76 ...

[2020-02-10 21:38] dargelm commented on #1010
the next update fails:
[code]

[code]

[code]
/var/log/messages":
[code]

[2020-02-11 06:46] oktavianq opened #3404 "LUA script problem"
Sorry for the confusion. Administrator request to delete this post. The error described here is the cause of the error described here
https://github.com/ntop/ntopng/issues/3405

Periodic activity 'second.lua' took too much to complete [7823 ms > 1000 ms]

v.3.9.200207	[Enterprise/Professional build]
GIT rev:	dev:1b7b831b855f150393e18f1e627bfc265957a664:20200207
Pro rev:	r2701
Built on:	Ubuntu 18.0

[2020-02-11 06:48] oktavianq opened #3405 "Process problem"
First warning
08/02/2020 00:01:10 "Periodic activity 'second.lua' took too much to complete [7823 ms > 1000 ms]"

At 08/02/2020 04:45:34
"Started after anomalous termination (bug report) ntopng v.3.9.200207 (8914) [OS: Ubuntu 18.04.3 LTS][pid: 31156][options: --community --interface 'eth0' --interface 'eth1' --http-port '192.168.10.1:3000' --local-networks '192.168.10.0/24' --max-num-hosts '204800

[2020-02-11 08:40] emanuele-f commented on #3404
Please continue discussion on #3405

[2020-02-11 08:40] #3404 closed, assigned to nobody

[2020-02-11 08:46] emanuele-f commented on #1010
Please try to remove nDPI and upgrade ntopng again

[2020-02-11 09:02] simonemainardi commented on #3390
implemented in:

- https://github.com/ntop/ntopng/commit/aea1242d1f2db3116b6cbb6198a9be348ece5dec
- https://github.com/ntop/ntopng/commit/9b78452c8ffc98608193bf0ec8b04f0c16e2c4f2

[2020-02-11 09:02] #3390 closed, assigned to simonemainardi

[2020-02-11 09:25] simonemainardi commented on #3382
Possibly fixed in https://github.com/ntop/nDPI/commit/a3da5604a38a1b2b240a9d692dade086148eb2e4

Waiting for user feedback before closing.

[2020-02-11 09:26] simonemainardi commented on #3372
any news here?

[2020-02-11 09:46] simonemainardi commented on #3405
It seems your instance has crashed. By the way I noticed you are using v.3.9.200207, can you please update to the latest version as there are certain fixed in the latest build. Please report. In case it still crashes, it would be useful to have a core dump or at least a stack trace. See https://www.ntop.org/support/need-help-2/need-help/ for instructions.

[2020-02-11 09:52] simonemainardi opened #3406 "Current local host has not visited any website yet"
User reported this behavior

This need to be checked

[2020-02-11 11:57] #3406 closed, assigned to simonemainardi

[2020-02-11 12:03] dargelm commented on #1010
**1. removing old installation**

`# yum remove ndpi`

[code]

[code]
**2. next installation:**
[code]

3. because errors: next uninstallation
[code]

4. `yum-complete-transaction` installs pfring-dkms-6.4.1-178.noarch again
5. again: ` yum remove pfring-dkms`
**6. 3rd Installation:**
`# yum install pfring-dkms n2disk nprobe ntopng cento`

[code]
This installation is really different from my [firs

[2020-02-11 13:01] dargelm commented on #1010
I installed new from version 2.2.
I upgrade to nightly build

all is fine

[2020-02-11 13:24] zimbawe998 commented on #3372
Resolved

Il giorno mar 11 feb 2020 alle ore 10:26 simonemainardi <
notifications@github.com> ha scritto:

[2020-02-11 13:26] simonemainardi commented on #3382
user confirmed the issue is fixed.

[2020-02-11 13:26] #3382 closed, assigned to simonemainardi

[2020-02-11 13:27] zimbawe998 opened #3407 "SNMP Device JSON Error"
When we try to have access to SNMP Device we receive this error:
SyntaxError: Unexpected token H in JSON at position 0.

These are the errors:
11/Feb/2020 14:17:42 [LuaEngine.cpp:12498] WARNING: Script failure [/usr/share/ntopng/scripts/lua/pro/enterprise/get_snmp_devices_list.lua][/usr/share/ntopng/pro/scripts/lua/modules/snmp_utils.lua:3495: attempt to call a nil value (global 'is_snmp_device_al

[2020-02-11 13:28] zimbawe998 commented on #3407
We cannot see any switched configured.

[2020-02-11 13:50] #3372 closed, assigned to nobody

[2020-02-11 14:02] emanuele-f commented on #3407
Issue has been fixed. The new package will be available in one hour.

[2020-02-11 14:02] #3407 closed, assigned to emanuele-f

[2020-02-11 14:31] simonemainardi commented on #3395
Now missing geoip is shown in a global notice which is dismissable.

ASses, countries, and hosts geomaps are hidden when geoip is not available.

[2020-02-11 14:31] #3395 closed, assigned to simonemainardi

[2020-02-11 15:24] zimbawe998 commented on #3407
Resolved.

Il giorno mar 11 feb 2020 alle ore 15:02 Emanuele Faranda <
notifications@github.com> ha scritto:

[2020-02-11 19:09] lucaderi opened #3408 "No memory time series"
<img width="1323" alt="Screenshot 2020-02-11 at 20 06 17" src="https://user-images.githubusercontent.com/4493366/74269776-50460800-4d0a-11ea-9732-8a69701d8dd4.png">
CPU load is present but not memory. This using the latest dev version with RRD as backend

[2020-02-11 21:10] cardigliano opened #3409 "Handle stats from multiple ZMQ producers in the same endpoint"
nProbe periodically delivers to ntopng over ZMQ some stats including counters and information (interface name, probe ip, etc), which are displayed in the interface status page in ntopng.
In case of multiple probes delivering flows to the same endpoint, information from the last update are displayed in the status page (e.g. you can notice the interface name always changing between those of the prob

[2020-02-12 09:44] simonemainardi commented on #3377
after 6 days of execution, the issue has occurred again.

active flows have bumped up

![image](https://user-images.githubusercontent.com/3397663/74322594-73150280-4d84-11ea-9c09-6d4b57ecd7b7.png)

And traffic is no longer processed

![image](https://user-images.githubusercontent.com/3397663/74322632-83c57880-4d84-11ea-898e-4fbebdd4c0e3.png)

This seems to occur not only on sFlow interfaces but al

[2020-02-12 09:46] simonemainardi commented on #3377
indeed, just picking a flow shows it is not being idled even if inactive for 20 hours

![image](https://user-images.githubusercontent.com/3397663/74322800-cb4c0480-4d84-11ea-986f-1c57c1f4e364.png)

[2020-02-12 10:27] emanuele-f commented on #3408
Cannot reproduce, it may be caused by the minute periodic activity being stopped before it completes, please check out the related chart: http://127.0.0.1:3000/lua/periodic_script_details.lua?ifid=1&page=historical&zoom=30m&periodic_script=minute.lua&version=4&ts_schema=periodic_script%3Aduration

[2020-02-12 10:52] simonemainardi commented on #3377
Thread `update_stats.lua` is no longer executed and this blocks the idling of flows.

The thread is found to be

[code]

so new executions are prevented. This can happen because `ThreadedActivity::runScript` contains certain early returns that could leave the task running indefinitely even when it's not actually running...

[2020-02-12 15:00] gabryon99 commented on #3400
Color changed to red as suggested in the last commit.

[2020-02-12 15:00] #3400 closed, assigned to gabryon99

[2020-02-12 15:00] gabryon99 commented on #3393
bounds fixed in the last commit, see: https://github.com/ntop/ntopng/commit/df48cb03f16736c4a181a6e845a9b44be7554b47

[2020-02-12 15:00] #3393 closed, assigned to gabryon99

[2020-02-12 15:01] gabryon99 commented on #3375
Canvas and charts fixed: https://github.com/ntop/ntopng/commit/df48cb03f16736c4a181a6e845a9b44be7554b47

[2020-02-12 15:01] #3375 closed, assigned to gabryon99

[2020-02-12 16:09] simonemainardi commented on #3408
I can reproduce, debugging...

[2020-02-12 16:32] simonemainardi commented on #3408
@lucaderi please visit preferences and check this if it is on/off

<img width="1141" alt="image" src="https://user-images.githubusercontent.com/3397663/74355743-8abcad00-4dbd-11ea-9108-43d95cbe08d6.png">

In the meanwhile I will make the description of this preference more clear. However, that is on by default.

[2020-02-12 16:47] gabryon99 commented on #3399
Fixed in: https://github.com/ntop/ntopng/commit/79fc3e191bb6afc74f3103cd7e7da0b50d780097.

[2020-02-12 16:47] #3399 closed, assigned to gabryon99

[2020-02-12 18:42] simonemainardi opened #3410 "Allows custom logos to be set"
ntopng allowed custom logos but this functionality has been removed.

It is requested to add this back.

See for reference

[code]

[2020-02-12 19:51] popmonkey commented on #3332
i'm seeing the same problems (ERROR: Number out of integers range) and flows are no longer getting cleaned up

[code]

my config:
[code]

[2020-02-12 19:55] popmonkey commented on #3398
this didn't have anything to do with `ntopng-data` (of course) and has also been reported in: https://github.com/ntop/ntopng/issues/3332

[2020-02-12 19:58] popmonkey commented on #3332
restarting `ntopng` (and `redis-server`) is a workaround for `ERROR: Number out of integers range`

[2020-02-12 20:51] popmonkey commented on #3398
this happened again in my setup so i am re-opening.

note that this is also reported in #3332 but that issue seems rather generic (lots of errors being noted there)

[2020-02-12 20:54] popmonkey commented on #3398
[code]

restarting `ntopng` and `redis-server` seems to be a _temporary_ workaround.

[2020-02-12 21:18] gerhardmpl commented on #3397
Same here (ntopng Professional Edition v.3.9.200209 on Debian Buster 10.3). I get the "a duplicate process is already checking for updates" warning for
`/usr/bin/ntopng-utils-manage-updates -a handle-upgrade-requests` and
`/usr/bin/ntopng-utils-manage-updates -a check-updates-on-demand`

I am not aware of checking for updates on the GUI and _Settings - Preferences - Updates - Automatic Updates_ is

[2020-02-13 09:05] simonemainardi opened #3411 "Handle deadline when dumping flows"
Flows are dumped to mysql or nIndex when in `ht_state_update.lua`. This operation can be time consuming and can determine the thread to go beyond the deadline. Deadline are already handed in `flow.lua` so it is requested to propagate this logic also to the functions that do the flow dump with the aim of:

- stop dumping flows when there's no time left
- count the number of flows that haven't been

[2020-02-13 09:07] emanuele-f commented on #3332
For some reason, the interface bytes counter on your system is exceeding the maximum 64 bit integer of lua. Can you post a screenshot of the eth0 Interface page?

[2020-02-13 09:10] emanuele-f commented on #3398
For some reason, the interface bytes counter on your system is exceeding the maximum 64 bit integer of lua. Can you post a screenshot of the eth0 Interface page?

[2020-02-13 09:21] popmonkey commented on #3398
it's running on a raspberry 3b with buster.  the eth0 interface is in promiscuous mode and i had to configure it to not filter vlans (`rx-vlan-filter: off`) otherwise the system is standard

<img width="1299" alt="eth0" src="https://user-images.githubusercontent.com/287170/74419359-9da3a180-4dfe-11ea-9091-5c328f48f116.png">

[2020-02-13 09:22] popmonkey commented on #3398
note that this screenshot is while ntopng is working (i restarted it as per https://github.com/ntop/ntopng/issues/3398#issuecomment-585412783) - i'll post another when it breaks again

[2020-02-13 10:25] emanuele-f commented on #3398
You can see in the picture that the total traffic counter is completely out of any reasonable range, we need to understand what's going on

[2020-02-13 10:40] simonemainardi commented on #3411
implemented

The return value of `flow.lua`, which notifies the C whether the call has been executed or skipped due to the deadline approaching, is now used to also skip (and count) flows from being dumped to database.

[2020-02-13 10:40] #3411 closed, assigned to simonemainardi

[2020-02-13 10:58] simonemainardi opened #3412 "Flows from pcap files not dumped to database"
When processing a pcap dump file, flows are not dumped to database.

[2020-02-13 14:57] scannizzaro opened #3413 "Specify IP address and host name in device connection alerts"
hi everyone, I have enabled an Email Alert Endpoint to notify me of the "new Devices". The emails I receive  are like: "[07/02/2020 08:20:01] [Warning] [New Device] New device XX: XX: XX: XX: XX: XX has connected to the network." is it possible to configure the body of the email that arrives to me? I would like to be notified of the IP and / or hostname if possible. It's possible? Thanks so much

[2020-02-13 15:44] popmonkey commented on #3398
ya i see what you mean!  yikes.

my ntopng is monitoring eth0 which is connected to a mirrored port on a switch.

[code]

when i go `lua/if_stats.lua?ifid=1&page=traffic_report` i get this error:
[code]

[2020-02-13 15:53] popmonkey commented on #3398
`traffic_report.lua` is totally encrypted which i'm guessing is because of the licensing.  note that i _am_ running with the `--community` flag tho.  i would say unrelated except that it _is_ called from `if_stats`

[2020-02-13 15:55] popmonkey commented on #3398
[code]

[2020-02-13 16:17] emanuele-f commented on #3398
This is fixed in 70da6923a5a6882d323e866c7325cb387b58ab17 .

[2020-02-13 16:23] emanuele-f commented on #3332
Can you check out the new raspbian package? The flows purge problem should be solved, I cannot reproduce the traffic counter integer problem.

[2020-02-13 16:39] jasonamorrow commented on #3332
I've installed 3.9.200209 (8920) and will look out for errors. No issues so far.

[2020-02-13 18:49] lucaderi commented on #3408
Everything is on

[2020-02-13 19:56] mikemuzinich opened #3414 "After changing Timeseries Driver to InfluxDB Top Application Traffic Last Day View is blank"
We are running 3.8.200207 - Enterprise Edition.  Application Breakdown is also blank.  In the Flows view and other areas we are seeing Application information.  This worked fine with RRD.

[2020-02-13 21:29] peteonus commented on #1623
can you please tell me what is the problem in the cisco config, i'm having the same issue, thanks

[2020-02-13 22:02] lucaderi opened #3415 "Disappearing INFO field in where clause"
When searching with nIndex adding a WHERE clause INFO="xxx" after submit, the search is performed but the WHERE value disappears

Before submit
![Screen Shot 2020-02-13 at 22 58 14](https://user-images.githubusercontent.com/4493366/74482223-68598b00-4eb4-11ea-8421-d00992255821.png)
After submit
![Screen Shot 2020-02-13 at 22 58 21](https://user-images.githubusercontent.com/4493366/74482226-698ab80

[2020-02-14 09:15] lucaderi opened #3416 "Fields are too packet in the Manage Users page"
![Screen Shot 2020-02-14 at 10 12 48](https://user-images.githubusercontent.com/4493366/74517599-aeddd280-4f12-11ea-8f37-e212cc90b5ff.png)

[2020-02-14 09:52] gabryon99 commented on #3416
Add more spaces between input boxes and selects.
![Screenshot from 2020-02-14 10-51-42](https://user-images.githubusercontent.com/14114916/74520557-b780d980-4f0f-11ea-860c-14fd572699be.png)

[2020-02-14 09:53] gabryon99 commented on #3416
Fixed.

[2020-02-14 09:53] #3416 closed, assigned to gabryon99

[2020-02-14 10:09] simonemainardi commented on #3414
Please, move to version 3.9. This is going to become the next stable in one week. 3.8 is EOL.

[2020-02-14 10:45] #3412 closed, assigned to simonemainardi

[2020-02-14 10:47] lucaderi opened #3417 "Implement TCP zero window alert"
It is requested to trigger an alert In case a TCP connection sets a 0 window size.

[2020-02-14 11:06] simonemainardi opened #3418 "Exclude Broadcast and Multicast traffic from certain scripts"
It is requested to exclude user scripts from being run when the destination is broadcast or multicast

- long lived
- elephant

[2020-02-14 11:25] gabryon99 commented on #3415
Fixed.

[2020-02-14 11:25] #3415 closed, assigned to gabryon99

[2020-02-14 11:31] gabryon99 commented on #3410
custom logo added again in commit: https://github.com/ntop/ntopng/commit/e1e5ac042bd29dfba28f2a56ca26751eb0d2222d

[2020-02-14 11:31] #3410 closed, assigned to gabryon99

[2020-02-14 11:40] emanuele-f commented on #3320
This is now implemented

[2020-02-14 11:40] #3320 closed, assigned to emanuele-f

[2020-02-14 13:07] simonemainardi opened #3419 "Aggregated flows dump delays ht_stats_update"
Currently,

The dump of aggregated flows perform certain locks which, in turn, affect the execution of `ht_stats_update.lua`. This causes periodic delays (every 5-minutes actually).

[code]

A stacktrace printed during a lock is:

[code]

[2020-02-14 15:14] #3419 closed, assigned to simonemainardi

[2020-02-14 15:32] zimbawe998 opened #3420 "Active External Alert Flow Json error"
When i try to see the Active External Alert Flow i received this error:
![Immagine](https://user-images.githubusercontent.com/47248892/74544524-8f14d180-4f47-11ea-8cd2-c1fb8311148e.png)

14/Feb/2020 16:30:03 [LuaEngine.cpp:12498] WARNING: Script failure [/usr/share/ntopng/scripts/lua/get_flows_data.lua][...ns/status_definitions/pro/status_malicious_signature.lua:11: attempt to index a nil value (l

[2020-02-14 16:57] jasonamorrow commented on #3332
Still getting errors after the latest update. Below is an example from the trace log:

14/Feb/2020 07:19:39 [second.lua:26] [ntop_utils.lua:205] ERROR: stack traceback: /usr/share/ntopng/scripts/lua/modules/ntop_utils.lua:205: in function 'tolongint' ...re/ntopng/scripts/lua/modules/timeseries/drivers/rrd.lua:340: in function <...re/ntopng/scripts/lua/modules/timeseries/drivers/rrd.lua:319> (...ta

[2020-02-14 17:01] jasonamorrow commented on #3332
Screenshot of interface config:

![image](https://user-images.githubusercontent.com/14959305/74551749-c1abd380-4f21-11ea-9497-87d4709d0b76.png)

[2020-02-14 20:07] lucaderi opened #3421 "Disk space calculation is overkilling"
On large installations these commands are overkilling when there are many files on disk. Furthermore they are executed at every page access/refresh instead of using a cached value if recent.

This needs to be modified, coded with AJAX and simplified to avoid DoS caused by the script

ntopng   116941  163 57.3 12459332 9354488 ?    Ssl  19:38  10:03 /usr/local/bin/ntopng /run/ntopng.conf
ntopng   1

[2020-02-14 20:07] ghost opened #3422 "Upgraded to most current version / licensing invalid"
Good afternoon,

I upgraded this afternoon and now my existing licensing is no longer valid for Enterprise.  I know my maintenance expired, but that shouldn't effect my software licensing, correct?  We are a non-profit school and we were given a gratis enterprise license.

So my main question is: Is this a licensing issue that I need to email sales about or is it a technical issue from the upgrade

[2020-02-14 21:22] lucaderi commented on #3422
Your answer should be here https://www.ntop.org/support/faq/are-licenses-permanent-what-about-maintenance/

Please email education@ntop.org for a free license

[2020-02-14 21:22] #3422 closed, assigned to nobody

[2020-02-14 21:26] lucaderi opened #3423 "RRD reports a wrong error when failing"
In the trace below a failure on a RRD reports an error on another RRD. Example tcp.rrd on interface 2, vs ARP.rrd on interface 1

14/Feb/2020 21:20:33 [5min.lua:27] [rrd.lua:382] ERROR: rrd_update_r() [/data/ntopng/2/rrd/X/X/X/X@150/l4protos/tcp.rrd][1581711395:0:0] failed [opening '/data/ntopng/1/rrd/ARP.rrd': No such file or directory]

[2020-02-14 21:28] dipol0 opened #3424 "Use Redis socket ? Its possible?"
**Use Redis socket ? Its possible?**

OS: Ubunru Desktop 18.04.3 amd64
Linux host 4.19.98-041998-lowlatency #202001230334 SMP PREEMPT Thu Jan 23 08:45:10 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

How i can use -r option or ntopng.conf if my Redis server configured as socket
Part redis.conf:

[code]

[2020-02-14 21:30] lucaderi opened #3425 "Slow disk blocks RRD that blocks scripts"
As described in the title, slow disk with RRD is not handled (deadline bug ?), scripts are stuck and many things are blocked.

This should be handled, for instance similar to Influx where there is a workload of points to write, but writes are not performed inline as it currently happens.

(gdb) bt
#0  __memmove_avx_unaligned () at ../sysdeps/x86_64/multiarch/memcpy-avx-unaligned.S:138
#1  0x00007f

[2020-02-14 21:38] lucaderi opened #3426 "Implement alerts when periodic scripts are stuck"
When scripts are stuck, in theory an alert should be reported. Unfortunately only the second script is reported whereas when other scripts are stuck (5 min in the image below)

![Screen Shot 2020-02-14 at 22 34 43](https://user-images.githubusercontent.com/4493366/74569247-3ad71500-4f7a-11ea-86d4-d5d502be4607.png)

![Screen Shot 2020-02-14 at 21 58 45](https://user-images.githubusercontent.com/449

[2020-02-14 21:43] lucaderi opened #3427 "Add disk load timeseries"
As disk load is a core element for storing alert and timeseries, it would be nice to have in the system script a timeseries (and alert) for disk load (or io wait) to report users when such condition happens.

[2020-02-14 22:00] dipol0 opened #3428 "[Trace.cpp:118] ERROR: Unable to create log /var/log/ntopng/ntopng.log"
Get [Trace.cpp:118] ERROR: Unable to create log /var/log/ntopng/ntopng.log then start ntopng.

I manualy create /var/log/ntopng/ntopng.log and set permissions to write (file and folder) but get this warrning.

Os - Linux 4.19.98-041998-lowlatency #202001230334 SMP PREEMPT Thu Jan 23 08:45:10 UTC ngtopng2020 x86_64 x86_64 x86_64 GNU/Linux

Ntopng
v.3.2.171227	[Community build]
GIT rev:	:3.2.171227

[2020-02-14 22:09] dipol0 commented on #3428
hm.... i little wait and restart ntopng and all fine. sorry :)

[2020-02-14 22:09] #3428 closed, assigned to nobody

[2020-02-16 10:01] #3421 closed, assigned to cardigliano

[2020-02-16 14:33] henfri commented on #3232
@th0u

For me, it fails rather regularly. Would you mind sharing the script (maybe even via a PR)?

Regards,
Hendrik

[2020-02-16 17:42] th0u commented on #3232
Hi Hendrik

the main script is in this repository (ntopng/tools/fritzdump.sh).
Its is enhanced to create a PID File, so I can monitor it.
I put this code in Line 2 ff
`mypidfile=/run/fritzdump2.sh.pid`
`#Ensure PID file is removed on program exit.`
`trap "rm -f -- '$mypidfile'" EXIT`

and line 47
`echo $$ > $mypidfile`

The actual monitoring script is test-fritzdump.sh:

`#!/bin/bash`

`for pid in

[2020-02-16 18:28] henfri commented on #3232
Hello @th0u ,

thank you!
In my case it seems that ntopng -and consequently fritzdump.sh- does NOT end. Instead it seems that no more data comes via wget from FritzBox.
ntopng keeps running, so that -as far as I understand your script and the modification- the pidfile would not be deleted in my case.

Or do I miss something?

Greetings,
Hendrik

[2020-02-16 18:31] th0u commented on #3232
yes, in that case, it would unfortunately not help.

[2020-02-16 18:33] henfri commented on #3232
Here my example:

and in case of failure

A pidfile for wget would be needed.

[2020-02-16 18:51] th0u commented on #3232
Hello Hendrik,
the output line with pid 21868: Do you run ntopng as a service too? It seems it runs twice (pid 7163 and 21868)
In my case, I do not run ntopng as a service.

[2020-02-16 18:58] henfri commented on #3232
Hello,

not knowingly. Maybe it was started at install... Although it should then not run due to port 3000 used already by grafana on my computer.

Greetings,
Hendrik

[2020-02-16 19:04] th0u commented on #3232
I'd disable ntopng service  then.
This is how I start ntopng in fritzdump.sh:
`/bin/wget --no-check-certificate -qO- $FRITZIP/cgi-bin/capture_notimeout?ifaceorminor=$IFACE\&snaplen=\&capture=Start\&sid=$SID | /usr/local/bin/ntopng --community -m 192.168.178.0/24 -G /var/run/ntopng.pid -d /var/lib/ntopng -1 /usr/share/ntopng/httpdocs -2 /usr/share/ntopng/scripts -i -
`

[2020-02-16 19:48] henfri commented on #3232
Thanks.

I have edited the script now like this:

[code]

[2020-02-16 20:10] henfri commented on #3232
Testing the script gives me regular restarts -more regular than wget was failing previously.

[code]
Hmmm

[2020-02-16 20:44] squad1534 opened #3429 "Ntopng plugin to grafana not working"
Back in October the Ntopng plugin for Grafana worked great, since all the upgrades with ntopng and Grafana this plugin stopped working it doesn't not fetch allprotocols or allcategories. Anyone else having this problem?
I'm currently running ntopng v3.9.200212 (8942)

Maybe there's a new switch in the config I'm unaware of?

-d-

[2020-02-17 09:15] simonemainardi commented on #3429
hi, the plugin has been discontinued as announced at: https://github.com/ntop/ntopng-grafana-datasource#discontinuation-notice
to continue using grafana, just enable the export to influxdb, and then use the grafana influxdb datasource

[2020-02-17 09:15] #3429 closed, assigned to nobody

[2020-02-17 09:18] simonemainardi commented on #3424
Sure you can use redis with a socket. Just use option -r with the path to the socket file, `-r /var/run/redis/redis-server.sock` in your case.

This is the help:

[code]

[2020-02-17 09:18] #3424 closed, assigned to nobody

[2020-02-17 11:30] lucaderi opened #3430 "Collapse Multiple Identical Alerts"
Alert collapse works for flow alerts but it does not work for past alerts.

![Screen Shot 2020-02-17 at 12 28 11](https://user-images.githubusercontent.com/4493366/74650014-0e411a00-5181-11ea-94de-e4ca62f3b765.png)

[2020-02-17 11:43] lucaderi opened #3431 "Invalid category reported"
Amazon is set as web category but reported as DNS

![2020-02-17 12 42 00](https://user-images.githubusercontent.com/4493366/74650877-ebb00080-5182-11ea-8c9c-e87d8ac23b92.jpg)
![2020-02-17 12 42 05](https://user-images.githubusercontent.com/4493366/74650880-ec489700-5182-11ea-88ab-ae0cdb05eadb.jpg)

[2020-02-17 14:28] christianbj87 opened #3432 "Segmentation fault"
Hello, We are having problems with the nProbe over the Linux operating system. The error it indicates is: "Segmentation fault"

sudo nprobe --nflite 2055:16 -i none -n 10.1.11.34:9996

17/Feb/2020 10:21:03 [plugin.c:181] No plugins found in ./plugins
17/Feb/2020 10:21:03 [plugin.c:189] Loading 24 plugins [.so] from /usr/local/lib/nprobe/plugins
17/Feb/2020 10:21:03 [plugin.c:884] Unable to enable

[2020-02-17 15:09] lucaderi opened #3433 "Identify outdated SSH implementation"
Similar to what happens with outdated TLS versions, it is requested to create plugin for some protocols (in the example below SSH but it could also be developed for instance for HTTP) for detecting outdated applications. In the example below the libssh 0.5 is about 6 years old and vulnerable to exploits

![Screen Shot 2020-02-17 at 16 07 20](https://user-images.githubusercontent.com/4493366/746652

[2020-02-17 15:19] lucaderi opened #3434 "Implement script for detecting bots"
In the picture below, this host connects to an IRC server that can probably be a bot. This has to be reported as a high score activity

[irc.pcap.gz](https://github.com/ntop/ntopng/files/4214445/irc.pcap.gz)

![Screen Shot 2020-02-17 at 16 16 34](https://user-images.githubusercontent.com/4493366/74665944-e497eb00-51a0-11ea-9cc2-792a1b97dd29.png)

[2020-02-17 16:09] lucaderi opened #3435 "Detect unusual port combination on well known ports"
Create a script for detecting unusual port combination on well known ports

![Screen Shot 2020-02-17 at 17 08 07](https://user-images.githubusercontent.com/4493366/74669786-2b3d1380-51a8-11ea-93bf-1309304718fe.png)

[2020-02-17 16:27] StewAlexander-com commented on #2800
Didn't clearly understand the response, anyway ~~closing this~~, thanks

[2020-02-17 16:44] lucaderi commented on #3432
@christianbj87 Can you please use the dev version and if not working use the enclosed version and share the core?
[nprobes-8.7.200217.gz](https://github.com/ntop/ntopng/files/4215012/nprobes-8.7.200217.gz)

[2020-02-17 16:53] atrogu opened #3436 "Geolocation error[Permission denied]: Using default location."
Tried with both GeoIP 3.1.1 and 4.1.5. geoipupdate is working and ntopng loads it's databases. ntopng on Centos 7.7 is at it's latest version (v.3.9.200217).

[2020-02-17 18:40] lucaderi opened #3437 "Improve date format"
![Screen Shot 2020-02-17 at 19 38 02](https://user-images.githubusercontent.com/4493366/74679092-26368f00-51bd-11ea-866a-0a6c0818a220.png)
The above image is an example of partial-human message. it would be desirable to put X years, Y months, Z days... as humans are not used to long numbers on months

[2020-02-17 19:14] christianbj87 commented on #3432
I already installed dev version, how i run it?

[2020-02-17 23:05] lucaderi opened #3438 "Usage sort does not work as expected"
In hosts TLS page, sort on the last column does not work as expected due to the comma (,) used as thousand separator. See lua/host_details.lua?host=A.B.C.D&page=tls

![Screen Shot 2020-02-18 at 00 02 58](https://user-images.githubusercontent.com/4493366/74691202-24cb8d80-51e2-11ea-885a-9317dce6d2f4.png)

[2020-02-18 08:15] simonemainardi commented on #3423
Confirmed. Also seen on another installation

[code]

Could be the rrd error function which is non-reentrant

[2020-02-18 08:19] simonemainardi commented on #3432
dev versions (and installation instructions) are available at `https://packages.ntop.org/centos/`

Install the dev and run it as if it was the stable version

[2020-02-18 08:25] simonemainardi commented on #3408
this is due to periodic activities stuck which, in turn, are stuck due to the disk which is extremely slow. Can simulate this condition by placing a sleep in the `rrd_update`. As the memory timeseries is written in a periodic activity, points fail to be written.

Issue `https://github.com/ntop/ntopng/issues/3425` should bring the solution.

[2020-02-18 08:51] gabryon99 commented on #3436
Hello, can you upload a screenshot of the error? And eventually the console log of your browser?

[2020-02-18 08:52] #3431 closed, assigned to emanuele-f

[2020-02-18 09:23] atrogu commented on #3436
Thanks, gabryon99.

Here's the screenshot:

![ntopng-geomap](https://user-images.githubusercontent.com/1760205/74721669-0b553080-5238-11ea-9017-8df253c99d03.png)

And here's Firefox's console log:

[console-export-2020-2-18_10-15-3.txt](https://github.com/ntop/ntopng/files/4218324/console-export-2020-2-18_10-15-3.txt)

[2020-02-18 11:27] #3409 closed, assigned to cardigliano

[2020-02-18 12:40] christianbj87 commented on #3432
I tryed dev versions, i copy the output:

sudo nprobe -v

Welcome to nProbe v.8.7.200218 (r6753) for x86_64-unknown-linux-gnu
with native PF_RING acceleration.
Copyright 2002-19 ntop.org

Build OS:      CentOS Linux release 7.7.1908 (Core)
SystemID:      689ED9C776066B16
GIT rev:       dev:c25dd94c76dafc3e9a15ed65e36dce9ddf1dc815:20200218
Edition:       nProbe Pro

sudo nprobe --nflite 2055:16 -i

[2020-02-18 15:05] mikemuzinich commented on #3414
When will that be available via the CentOS repository (http://packages.ntop.org/centos-stable)?

From: simonemainardi <notifications@github.com>
Reply-To: ntop/ntopng <reply@reply.github.com>
Date: Friday, February 14, 2020 at 2:09 AM
To: ntop/ntopng <ntopng@noreply.github.com>
Cc: "Muzinich, Mike" <MuziniM@losrios.edu>, Author <author@noreply.github.com>
Subject: Re: [ntop/ntopng] After changing

[2020-02-18 15:05] emanuele-f commented on #3432
Can you get a gdb stack trace as follows?

1. Install gdb (e.g. `sudo yum install gdb`)
2. Start gdb: `sudo gdb --args nprobe --nflite 2055:16 -i none -n 10.1.11.34:9996`
3. Execute `run` to start debunning nprobe
4. Wait for the crash to occur
5. Now run `bt` into gdb to get a stack trace of the crash

[2020-02-18 15:48] christianbj87 commented on #3432
Hi Emanuele, i pass the logs for the gdb:

gdb --args nprobe --nflite 2055:16 -i none -n 10.1.11.34:9996
GNU gdb (GDB) Red Hat Enterprise Linux 7.6.1-115.el7
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted b

[2020-02-18 15:52] cardigliano commented on #3333
Closing for inactivity (and inability to reproduce this internally), please reopen it in case.

[2020-02-18 15:52] #3333 closed, assigned to cardigliano

[2020-02-18 17:07] HsunGong opened #3439 "Can not Login in SSL"
I tried to login with my domain name. But it can not be initialized.(It seems the `ssl` issue).

Finally, I visit `port=3000` via IP-addr, and I can login.

[2020-02-18 21:27] gabryon99 commented on #3438
I removed the call to `formatValue` function inside `get_fingerprint_data.lua` so the sort function can compare numbers without any problem.

[2020-02-18 21:30] gabryon99 commented on #3436
Did you disable the location services of your browser?

[2020-02-19 00:59] dtouzeau opened #3440 "Unable to compile: [Makefile:148: src/Flow.o] Error 1"
src/Flow.cpp: In member function ‘void Flow::processExtraDissectedInformation()’:
src/Flow.cpp:476:37: error: ‘struct ndpi_flow_struct::<unnamed union>::<unnamed struct>::<unnamed>’ has no member named ‘alpn’
   && (ndpiFlow->protos.stun_ssl.ssl.alpn != NULL))
                                     ^~~~
src/Flow.cpp:477:64: error: ‘struct ndpi_flow_struct::<unnamed union>::<unnamed struct>::<unnamed

[2020-02-19 08:17] cardigliano commented on #3440
@dtouzeau did you update nDPI?

[2020-02-19 08:27] dtouzeau commented on #3440
Yes nDPI was updated to latest version

[2020-02-19 09:11] cardigliano commented on #3440
Please make sure nDPI is updated to latest dev code, ndpiFlow->protos.stun_ssl.ssl.alpn is defined in latest header file

[2020-02-19 10:40] atrogu commented on #3436
No, as fas as I remember, but - in doubt - I have checked and deleted all sites from Firefox's geolocation settings, and the problem remains.

[2020-02-19 12:46] zimbawe998 opened #3441 "Traffic Dashboard name resolution failed"
Some time We see a nemre resolution problem on Traffic dashboard

![image](https://user-images.githubusercontent.com/47248892/74835629-0cf92400-531e-11ea-8e33-e60e5f20948e.png)

but in the host page the name is correct
![image](https://user-images.githubusercontent.com/47248892/74835681-2ac68900-531e-11ea-942b-a8931b06d2c6.png)

[2020-02-19 14:57] simonemainardi commented on #3414
4.0 is going to become available in `http://packages.ntop.org/centos-stable` when released within one week. In the meanwhile, 3.9 is available from `http://packages.ntop.org/centos`

[2020-02-19 16:29] emanuele-f commented on #3439
What is the content of `/etc/ntopng/ntopng.conf`?

[2020-02-19 16:32] emanuele-f commented on #3438
formatValue adds the commas to numeric values throughout the ntopng gui. Removing it makes the page inconsistent.

[2020-02-19 17:29] emanuele-f opened #3442 "Bad string abbreviation"
Short strings are abbreviated even if they should not

![2020-02-19_18-28](https://user-images.githubusercontent.com/5488003/74858480-4f7e2900-533d-11ea-9280-bfbc8ac1e989.png)

[2020-02-20 08:03] gabryon99 commented on #3442
Ok now is fixed within the last commit

[2020-02-20 08:03] #3442 closed, assigned to gabryon99

[2020-02-20 08:06] gabryon99 commented on #3438
Can we use the dot notation to represent numbers bigger than 1K?

[2020-02-20 09:48] emanuele-f commented on #3442
Commit 35551e8b01938c875315b78573882c7507926283, please report the hash next time.

[2020-02-20 09:51] emanuele-f commented on #3438
Right now we use commas as separators, dots are for decimal digits

[2020-02-20 11:32] christianbj87 commented on #3432
Any suggestions?

[2020-02-20 18:21] mikemuzinich commented on #3414
I am attempting to update the software but the dkms packages go into an endless loop spawning "/bin/sh -c cd /usr/src/pfring-7.6.0/; make" processes.  Researching how to install the source code but that should happen as a dependency?

[2020-02-20 19:19] gabryon99 commented on #3438
Since JavaScript `parseFloat` (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/parseFloat) function doesn't know how to handles strings that represent numbers (bigger than 1K) with a comma, when the `formatFloat` function inside `jquery.tablesorter.js` is invoked I remove all the commas from the strings and I leave the dots. In this way, the floating parsing functi

[2020-02-20 20:23] mikemuzinich commented on #3414
It appears the package that contains the source code is pfring-dkms but even with that installed, updating causes nprobe to no longer listen on the zmq port and we no longer get NetFlow data from the remote sources.  Should I wait for version 4?

[2020-02-21 09:52] #3438 closed, assigned to gabryon99

[2020-02-21 09:58] gabryon99 commented on #3436
I have done some edits to the code, can you try to pull the latest edits?

[2020-02-21 10:55] atrogu commented on #3436
Thanks, gabryon99.
I've updated ntopng via yum from rpm.ntop.org. It's now at release 3.9.200221. Is this version updated with your latest edits or do I have to get it from git?
At the moment the error remains but the message is slightly different, as you can see from my screenshot:
![ntopng-geomap-error-2](https://user-images.githubusercontent.com/1760205/75028363-65582f00-54a0-11ea-9609-94afad10

[2020-02-21 15:54] cardigliano opened #3443 "Pref toggle not working in Runtime Preferences -> Alerts"
Alerts are enabled, however the toggle is off (you can notice all alerts tabs correctly displayed as alerts are actually enabled)

<img width="1081" alt="Screen Shot 2020-02-21 at 16 50 47" src="https://user-images.githubusercontent.com/7548711/75049395-6736e800-54ca-11ea-8b4c-4a5e5f4e70df.png">

[2020-02-21 23:30] 0xrgg opened #3444 "Stopped ntop but pf_ring continues to run a shell/make script, eating up (v)mem"
So I installed ntopng for a while on my CentOS7 machine but it started to eat up a bunch of resources, so I removed it.  Recently I noticed that the machine was running real slow and when I scoured top for answers, I can see pfring has a bunch of "make" scripts being run through shell, to a directory that does not exist.  See screenshot here (which does not do it justice: https://ibb.co/R3DPQgx)

[2020-02-22 05:42] noybman commented on #3397
I might need to report this separately, but at the same time it is also related to the update/upgrade packages and cron. Everytime I fix this, when I next update and there is an upgrade available, the upgrade breaks this again:
/etc/cron.daily/logrotate:
error: Ignoring disk2n because of bad file mode - must be 0644 or 0444.
error: Ignoring n2disk because of bad file mode - must be 0644 or 0444.
e

[2020-02-22 05:44] noybman commented on #2815
This is still a problem. It has been happening since November 2019 easily. I've fixed this last month and recent updates my emails (even tonight's):

/etc/cron.daily/logrotate:
error: Ignoring disk2n because of bad file mode - must be 0644 or 0444.
error: Ignoring n2disk because of bad file mode - must be 0644 or 0444.
error: Ignoring nprobe because of bad file mode - must be 0644 or 0444.

[2020-02-22 06:56] lucaderi opened #3445 "implement table header summary"
ntopng is too table-oriented, and it would be nice to have a summary on top of tables similar to github.

![Screen Shot 2020-02-22 at 07 55 12](https://user-images.githubusercontent.com/4493366/75088080-ae63be00-5548-11ea-805d-5693ea3c2db0.png)

[2020-02-22 09:41] lucaderi opened #3446 "Invalid Y scaling with low values"
![Screen Shot 2020-02-22 at 10 40 07](https://user-images.githubusercontent.com/4493366/75090092-c430ad80-555f-11ea-8683-cd9d74e6763a.png)

[2020-02-22 11:39] 0xrgg commented on #3444
Never mind, decided to back up mission critical things and do a full reformat.

[2020-02-22 11:39] #3444 closed, assigned to nobody

[2020-02-24 08:43] cardigliano opened #3447 "External alerts not stored/displayed"
External alerts (e.g. Suricata) are correctly received by ntopng but they are no longer (stored and) visualized

[2020-02-24 08:58] cardigliano commented on #2815
@noybman please note those errors were related to nprobe/n2disk, not ntopng. The've been also fixed now, next package will contain the fix. Thank you for reporting.

[2020-02-24 09:01] gabryon99 commented on #3443
I have fixed the issue. The problem was on the evaluation of lua's value.

[2020-02-24 09:01] #3443 closed, assigned to gabryon99

[2020-02-24 13:46] simonemainardi commented on #2478
superseded by https://github.com/ntop/ntopng/issues/3445

[2020-02-24 13:46] #2478 closed, assigned to emanuele-f, gabryon99

[2020-02-24 13:55] simonemainardi commented on #3440
Type

Visit nDPI and ntopng sources directories and then type:

`git branch -vv -a`

Make sure the current branch (the one with the `*`) is tracking the `dev` branch of the remote pointing to the official nDPI and ntopng repos. Possibly switch the branch with `git checkout`.

In case you still have troubles submit the output of the command above.

[2020-02-24 13:55] #3440 closed, assigned to nobody

[2020-02-24 13:56] simonemainardi commented on #3439
No feedback received, closing for inactivity. Reopen with the requested information if necessary.

[2020-02-24 13:56] #3439 closed, assigned to nobody

[2020-02-24 14:01] #3447 closed, assigned to cardigliano

[2020-02-24 14:04] cardigliano commented on #3432
@christianbj87 I moved this to https://github.com/ntop/nProbe/issues/401

[2020-02-24 14:04] #3432 closed, assigned to cardigliano

[2020-02-24 14:12] abbeystock opened #3448 "WinPcap DLL error on Windows 10"
I have just installed nProbe and ntop on my windows 10. Whenever I try to run any commands I get the error "The code execution cannot proceed because the wpcap.dll was not found. Reinstalling may fix this problem." I have tried to reinstall but I get the same error

[2020-02-24 15:58] cardigliano commented on #3403
Caused by GUI local time != backend local time. Fixed.

[2020-02-24 15:58] #3403 closed, assigned to cardigliano

[2020-02-24 16:14] emanuele-f commented on #3448
Please try to install winpcap and then reinstall ntopng

[2020-02-24 16:19] simonemainardi commented on #3426
This is implemented.

Alerts for slow periodic activities are implemented, along with periodic activities queued but not executed (due to the lack of threads available for execution).

Interface and system alerts are generated in https://github.com/ntop/ntopng/tree/dev/scripts/plugins/periodic_activities

![image](https://user-images.githubusercontent.com/3397663/75169815-7cf61880-5729-11ea-8a85-5

[2020-02-24 16:19] #3426 closed, assigned to nobody

[2020-02-24 16:21] emanuele-f commented on #3441
Please post the output of the following commands:

[code]
Properly replacing `the_host_ip`, `the_host_mac` and `the_interface_id` with your values

[2020-02-24 16:23] emanuele-f commented on #3414
Please try to remove pf_ring and then install the new ntopng version. This particular upgrade issue may still occur with the upcoming 4 version.

[2020-02-24 16:25] emanuele-f commented on #3413
This is currently not implemented, I've marked it as an enhancement.

[2020-02-24 16:43] cardigliano commented on #3378
This was due to a systemid mismatch, closing.

[2020-02-24 16:43] #3378 closed, assigned to nobody

[2020-02-24 16:45] emanuele-f commented on #3327
Closing as no further feedback has been received.

[2020-02-24 16:45] #3327 closed, assigned to nobody

[2020-02-24 16:45] cardigliano commented on #3397
The "duplicate process" check has been improved thus this is considered solved. Logrotate configuration files mode has also been fixed.

[2020-02-24 16:45] #3397 closed, assigned to cardigliano

[2020-02-24 16:53] cardigliano commented on #3420
@zimbawe998 we pushed some fix for external alerts today, could you update to latest revision and let us know if you are still experiencing this? Thank you.

[2020-02-24 16:54] emanuele-f commented on #3408
Additional note: the timeseries is now marked with `is_critical_ts = true`, however it won't be written if the minute.lua script is skipped/delayed by other scripts.

[2020-02-24 16:56] emanuele-f commented on #3405
Closing for inactivity, please reopen with a stack trace if you still experience the issue. You can find instructions on how to generate a stack trace here: https://github.com/ntop/ntopng/blob/dev/doc/README.crash

[2020-02-24 16:56] #3405 closed, assigned to nobody

[2020-02-24 17:03] simonemainardi commented on #3377
Fixed. Version has been running smoothly for more than 6 days

![image](https://user-images.githubusercontent.com/3397663/75173762-aa45c500-572f-11ea-8384-6d443a8d12fd.png)

Solved with 583c34ea023a3f20b3193e8ad88e47b8b23ae8d1

[2020-02-24 17:03] #3377 closed, assigned to simonemainardi

[2020-02-24 17:05] emanuele-f commented on #3361
Can you retry with the latest ntopng version? We've added a fix for RRD concurrency issues.

[2020-02-24 17:46] simonemainardi opened #3449 "Pro report toggles not working"
Clicking on the toggles shown has strange effects. Sometimes nothing happens, some other times a toggle different from the one clicked changes.

![image](https://user-images.githubusercontent.com/3397663/75177156-e8de7e00-5735-11ea-9e2f-68a491266f2a.png)

[2020-02-24 18:07] lucaderi opened #3450 "Move system into the top menu"
The system icon
![Screen Shot 2020-02-24 at 18 45 04](https://user-images.githubusercontent.com/4493366/75177111-ccdadc80-5735-11ea-9852-aff70f1750de.png)
should be moved to the top interface menu
![Screen Shot 2020-02-24 at 19 06 49](https://user-images.githubusercontent.com/4493366/75178691-de71b380-5738-11ea-9cb7-48da728c7d71.png)

[2020-02-24 23:16] mikemuzinich commented on #3414
These are the details of the upgrade saga.  It seems tied to the e1000 package.

List installed packages from the ntop repos -

yum list installed|grep -i ntop
cento.x86_64                     1.9.200207-515              @ntop
e1000e-zc.noarch                 3.4.0.2.2835-dkms           @ntop-noarch
i40e-zc.noarch                   2.4.6.2835-dkms             @ntop-noarch
igb-zc.noarch

[2020-02-25 08:14] dive76 commented on #3361
All working well now. Thanks a lot!

[2020-02-25 08:16] cardigliano commented on #3414
@mikemuzinich please open an issue for the driver at https://github.com/ntop/pf_ring/issues
in the meantime I suggest you to remove just the zc driver and use the standard driver until this has been verified and fixed. Thank you.

[2020-02-25 08:35] emanuele-f commented on #3361
Great. @StewAlexanderACC can you also confirm?

[2020-02-25 09:17] amastelek commented on #1684
My ntopng has been working on debian jessie and the latest update has resulted in

ntopng: symbol lookup error: ntopng: undefined symbol: pfring_open

and ntopng failing to start

[2020-02-25 09:26] emanuele-f commented on #1684
What is the output of `apt-cache show pfring`?

[2020-02-25 09:48] cardigliano commented on #1684
@amastelek are you installing from packages or compiling from source code? What ntopng version are you running exactly? Thank you.

[2020-02-25 14:27] emanuele-f commented on #3398
Can you post the output of `cat /proc/net/dev`?

[2020-02-25 14:39] lucaderi commented on #3448
Winpcap is part of the install package. Did you skip this installation step for instance?

[2020-02-25 15:06] emanuele-f commented on #3398
Bug is caused by the counters wrapping inside `/proc/net/dev`

[2020-02-25 15:38] StewAlexander-com commented on #3361
Here's the log output
[code]

[2020-02-25 15:39] StewAlexander-com commented on #3361
That said we are seeing the correct results in the GUI

[2020-02-25 15:52] emanuele-f commented on #3361
What's the output of `ldd $(which ntopng) | grep rrd`?  Can you confirm that you still have free disk space? Can you check if the errors above are generated when you visit the charts of an host or even with the gui closed?

[2020-02-25 15:58] zimbawe998 opened #3451 "Network setting button"
I just tried to label a network but i received this error
 Script "/usr/share/ntopng/scripts/lua/network_details.lua" returned an error:
/usr/share/ntopng/scripts/lua/network_details.lua:69: unexpected symbol near ','

[2020-02-25 15:59] zimbawe998 commented on #3451
The same error appear when i try to see network traffic chart

[2020-02-25 16:00] zimbawe998 opened #3452 "Domain names limit reached"
What does it means?

25/Feb/2020 15:34:33 [startup.lua:141] [lists_utils.lua:627] WARNING: Domain names limit reached (90000 domains). Please disable some lists in order to fix this.

[2020-02-25 16:47] #3398 closed, assigned to emanuele-f

[2020-02-25 16:49] emanuele-f commented on #3398
A new package containing the fix will be available in two hours.

[2020-02-25 16:53] emanuele-f commented on #3332
@jasonamorrow for the "Number out of integers range" error and fix please see #3398 . Please check out the new package when available to see if the AlertCheckLuaEngine is solved.

[2020-02-25 17:00] emanuele-f commented on #3427
The total read/written sectors can be obtained by reading `/sys/block/sda/stat` and then a derivative can be calculated to get the throughput.

https://www.kernel.org/doc/Documentation/block/stat.txt

[code]

Note: in order to get the stats given the name of a particular partion, the `/sys/class/block/sda/sda1/stat` can be used. This is useful to get the stats for non standard devices (e.g. `/dev/

[2020-02-25 17:02] mikemuzinich commented on #3414
I removed the e1000e-zc-3.4.0.2.2835-dkms.noarch package which allowed the update to complete but the same problem exists, no data from remote sources.  Guessing it is something to do with either the NTOPNG or NPROBE update.  I will wait for another version to be released before trying it again.  Hopefully it gets fixed.

[2020-02-25 17:16] simonemainardi commented on #3430
Implemented in https://github.com/ntop/ntopng/commit/4ed8cfecc31d11bf6e6c622d175fc384876a9cce

Similar to what is done for flow alerts, for non-engaged, stored alerts we perform an aggregation if within 5 minutes. Result is as in the following picture (see new column count):

![image](https://user-images.githubusercontent.com/3397663/75269805-cd3cab80-57f9-11ea-89e2-420fbcd4fea8.png)

[2020-02-25 17:16] #3430 closed, assigned to simonemainardi

[2020-02-25 17:21] cardigliano commented on #3414
@mikemuzinich please provide your ntopng and nprobe configuration files, and the nprobe and ntopng version you are currently using. Thank you.

[2020-02-25 17:44] gabryon99 commented on #3445
To integrate a simple summary table it's very simple. The endpoint answer must include a `summary` field with these attributes:
[code]

[2020-02-25 17:44] #3445 closed, assigned to gabryon99

[2020-02-25 18:16] mikemuzinich commented on #3414
ntopng.conf
-i=tcp://127.0.0.1:5556
-m=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
-G=/var/run/ntopng.pid
-n=1
--http-port=0
--https-port=443
--max-num-flows 1200000

nprobe.conf
--zmq="tcp://*:5556"
-i=none
-n=none
--collector-port 2055
-T @NTOPNG@
-G
--verbose 2
--syslog probe1

Current versions are:

nprobe-8.6.200207-6343.x86_64
ntopng-3.8.200207-5620.x86_64

[2020-02-25 18:44] popmonkey commented on #3398
awesome - thanks @emanuele-f - i've had to keep restarting nightly

and fwiw
[code]

[2020-02-25 18:48] popmonkey commented on #3398
i'm installing `3.9.200225-9086` now - will report back in 24 hours (usually i get overflowed ~12 hours in)

[2020-02-25 19:20] amastelek commented on #1684
Package: pfring
Architecture: amd64
Version: 7.6.0-2851
Priority: optional
Section: free
Maintainer: Luca Deri <deri@ntop.org>
Installed-Size: 20290
Depends: ndpi (= 3.2.0-2286), net-tools, kmod, ethtool
Recommends: pfring-dkms (= 7.6.0)
Filename: x64/./pfring_7.6.0-2851_amd64.deb
Size: 1453526
MD5sum: 39168af69d171921e84cd349575e67de
SHA1: cf3bc9ba44f1d9a34b3d6a36f82e3efa61d89b2c
SHA256: c6c9c076

[2020-02-25 19:23] amastelek commented on #1684
http://apt-stable.ntop.org/jessie/all/apt-ntop-stable.deb

v.3.8.200224    [Enterprise/Professional build]
GIT rev:        3.8-stable:47772a761f3f44693e407824fe23414c5109f17b:20200224
Pro rev:        r2191
Built on:       Debian GNU/Linux 8.11 (jessie)
System Id:      1D624FCC7DB7A805
Platform:       x86_64
Edition:        Enterprise
License Type:   Time-Limited [Empty license file]
Validity:

[2020-02-25 19:26] amastelek commented on #1684
BTW it is only ntopng that fails - pf_ring is fine:

● pf_ring.service - PF_RING service
   Loaded: loaded (/etc/systemd/system/pf_ring.service; disabled; vendor preset: enabled)
   Active: active (exited) since Tue 2020-02-25 21:47:27 AEDT; 8h ago
  Process: 1240 ExecStartPost=/bin/sh -c if [ -x /etc/pf_ring/post ]; then /etc/pf_ring/post; fi (code=exited, status=0/SUCCESS)
  Process: 1229 ExecSt

[2020-02-25 21:05] gabryon99 commented on #3449
The problem was caused by wrong ids for checkboxes.

[2020-02-26 08:23] cardigliano commented on #1684
I just installed the same version on a fresh debian8 installation, and it's working for me.. are you able to provide access to this system?

[2020-02-26 09:03] amastelek commented on #1684
Yes, I just need a white list IP and I'll give you access.  How did I message you privately?

[2020-02-26 09:04] cardigliano commented on #1684
Please drop an email to cardigliano at ntop.org

[2020-02-26 10:08] alanmilinovic commented on #3232
I can confirm as well, it is not working.
This is what I get as well:
`26/Feb/2020 11:08:01 [LuaEngine.cpp:12167] WARNING: Script failure [/usr/share/ntopng/scripts/callbacks/system/minute.lua][/var/lib/ntopng/plugins/ts_schemas/score/min.lua:1: unexpected symbol near '<\135>']
`

[2020-02-26 11:20] emanuele-f commented on #3232
Please open a separate issue for this and report the output of `ntopng --version`. Please upgrade ntopng to the latest version before opening.

[2020-02-26 12:42] StewAlexander-com commented on #3361
Ciao Emanuele,

It occurs with the GUI closed.

[code]

[code]

[code]

[2020-02-26 13:28] emanuele-f commented on #3361
What is the output of `ls -ld /var/lib/ntopng/0/rrd/hosts/c6_b8_d0/3f/72/9a/v4` and `ls -l /var/lib/ntopng/0/rrd/hosts/c6_b8_d0/3f/72/9a/v4`?

[2020-02-26 13:44] simonemainardi commented on #3418
Implemented. Long-lived and elephant user scripts are now evaluated only when the destination is unicast.

[2020-02-26 13:44] #3418 closed, assigned to simonemainardi

[2020-02-26 13:55] #3451 closed, assigned to nobody

[2020-02-26 13:55] simonemainardi commented on #3451
Thanks for reporting. A new build with the fix is in progress.

[2020-02-26 14:02] simonemainardi commented on #3452
The total number of domains loaded using Category Lists exceeds 90000. Loading a number of domains higher than this would be detrimental for the performances and so is prevented.

Very likely this happens because you've enabled every single list. For example, `hpHosts Ad and Tracking` alone has 45k+ domains. Make sure to enable only a subset of lists which is most relevant for you.

[2020-02-26 14:02] #3452 closed, assigned to nobody

[2020-02-26 14:11] Netw0rkGuy opened #3453 "nprobe-8.6.200226-6346 segfaults on centOS 7.7.1908 with kernel-3.10.0-1062.12.1.el7.x86_64"
Hi

After the upgrade to nprobe-8.6.200226-6346 and to the newest system kernel kernel-3.10.0-1062.12.1.el7.x86_64 nprobe always fails to start because of a segfault:

kernel: nprobe[8071]: segfault at 0 ip 00007f4540a02b48 sp 00007f452c7f5420 error 4 in libnprobe-8.6.200226.so[7f4540978000+26c000]

The former version (probably 200204-6343) worked fine.

Feb 26 15:01:14 nphost1 nprobe: 26/Feb/2020

[2020-02-26 15:04] #3453 closed, assigned to nobody

[2020-02-26 15:04] Netw0rkGuy commented on #3453
sorry, wrong channel

[2020-02-26 15:05] #3025 closed, assigned to emanuele-f

[2020-02-26 15:24] StewAlexander-com opened #3454 "Feature Request: Pushover.net alert transport support"
Hi all,

It would be nice to have integration with pushover, so we admins can get updated alerts using this tool....

https://pushover.net/api /https://pushover.net/clients

Thanks

[2020-02-26 15:42] StewAlexander-com commented on #3361
[code]
[code]

[2020-02-26 17:55] emanuele-f commented on #3361
The problem is the empty score RRD file (size 0). In c694035da3d5290d97742647dded02804dfb5041 I've added a check for empty RRDs, in which case the RRD file will be deleted. Please check out the tomorrow version of ntopng, you should see a bunch of "WARNING: Deleting empty RRD", then after some time all the corrupted RRD will be deleted and you should get no more warnings/errors.

Edit: with 7b6ce1

[2020-02-26 17:56] amastelek commented on #1684
I waited a few minutes and then did systemctl restart ntopng.service

It started...

ntopng.service - ntopng high-speed web-based traffic monitoring and analysis tool
   Loaded: loaded (/etc/systemd/system/ntopng.service; enabled; vendor preset: enabled)
   Active: active (running) since Thu 2020-02-27 04:53:25 AEDT; 3s ago
  Process: 4157 ExecStartPost=/bin/sh -c /bin/echo "$(/bin/date) ntopng St

[2020-02-26 21:01] popmonkey commented on #3398
still looking good 24 hours later!  success.  ty!

[2020-02-27 07:26] lucaderi opened #3455 "CPU load TS on non Linux Platforms"
ntopng computes CPU load only on Linux. Unfortunately the CPU load timeseries is created only on non-Linux platforms. This should be avoided.

[2020-02-27 07:33] lucaderi opened #3456 "Some timeseries are written too often"
There are timeseries written too often that put pressure on storage and that could be reduced in terms of write frequency. Examples the following timeseries are written every second
- (interface) new flows
- (system) cpu load

and they should be written for instance at higher granularity (5 seconds or even more). This to reduce pressure on storage.

[2020-02-27 07:35] lucaderi opened #3457 "Some timeseries could be merged"
In order to reduce the number of timeseries, there are some timeseries that could be merged. For instance ntopng writes for each interface
- packets
- drops

Instead of writing two timeseries, only one timeseries could be written.

[2020-02-27 07:48] lucaderi opened #3458 "Invalid CPU timeseries path causes failure"
root@pc-deri:/home/deri/ntopng/pro# service ntopng status
* ntopng.service - ntopng high-speed web-based traffic monitoring and analysis tool
   Loaded: loaded (/etc/systemd/system/ntopng.service; enabled; vendor preset: enabled)
   Active: active (running) since Thu 2020-02-27 05:32:17 CET; 3h 12min ago
  Process: 30576 ExecStopPost=/bin/rm -rf /run/ntopng.conf (code=exited, status=0/SUCCESS)
  P

[2020-02-27 08:15] lucaderi commented on #3458
Seems to be solved. Will reopen if necessary

[2020-02-27 08:15] #3458 closed, assigned to nobody

[2020-02-27 08:16] lucaderi commented on #3423
See #3458

[2020-02-27 08:16] lucaderi commented on #3423
Seems to be solved

[2020-02-27 08:16] #3423 closed, assigned to nobody

[2020-02-27 08:18] lucaderi commented on #3408
Please report what commit fixed the issue

[2020-02-27 08:18] #3408 closed, assigned to simonemainardi

[2020-02-27 08:26] lucaderi opened #3459 "Telemetry Debug Timeseries must be activated with a preference"
Telemetry Debug Timeseries create a lot of pressure on heavy loaded systems. They need to be disabled by default and enabled only via a preference.

Feb 27 09:21:11 ntop ntopng[7222]: [RRD][Step: 5][{"file":"/data/ntopng/6/rrd/flow_user_script/tls_certificate_expired/flow/num_calls.rrd"}][0]
Feb 27 09:21:11 ntop ntopng[7222]: [RRD][Step: 5][{"file":"/data/ntopng/6/rrd/flow_user_script/blacklisted/

[2020-02-27 09:30] simonemainardi commented on #3408
Fixed with the combination of commits:

- d5fab4169cf7a80253af359796c36ca46688afba (to always write critical timeseries even when timeseries are slow)
- 517184c2aa1e68094923e20a9836a9356f28dbf2 (to prevent minute.lua activity from being blocked by longer activities such as the 5min.lua)

[2020-02-27 09:59] simonemainardi commented on #3459
Should be already handled with:

- https://github.com/ntop/ntopng/commit/31e0e617d4080e2d018c31297e732945b287e119
- https://github.com/ntop/ntopng/commit/5af54399f34fd1c7b5f9d3edca33ffeff59aaee7

By default, highlighted timeseries are off and can be turned on with a preference. Please, update to the latest version and report.

[2020-02-27 10:04] #3446 closed, assigned to emanuele-f, gabryon99

[2020-02-27 11:16] emanuele-f commented on #3457
- Packets and drops merged in ea4f936d079d7fef8e700905316b5057b5fcbfd8
- Exported/dropped flows merged in b194643a188e61d7b3d242cb898c74e8af71973f

[2020-02-27 16:09] StewAlexander-com commented on #3361
I upgraded, but do not see the any warnings, where should I be looking?

[2020-02-27 16:11] StewAlexander-com commented on #3361
[code]

[2020-02-27 16:23] emanuele-f commented on #3361
No warnings are shown, this is normal (see the edit above). If this is now fixed please close the issue.

[2020-02-27 16:39] lucaderi opened #3460 "RRD update failed"
27/Feb/2020 17:38:03 [second.lua:28] [rrd.lua:387] ERROR: rrd_update_r() [/var/lib/ntopng/-1/rrd/system/-1/cpu_load.rrd][1582821484:0] failed [/var/lib/ntopng/-1/rrd/system/-1/cpu_load.rrd: illegal attempt to update using time 1582821484 when last update time is 1582821484 (minimum one second step)]
27/Feb/2020 17:38:02 [second.lua:28] [rrd.lua:387] ERROR: rrd_update_r() [/var/lib/ntopng/-1/rrd/sy

[2020-02-27 17:28] simonemainardi commented on #3427
Disk load added:
- calculations is done every 5 seconds in: https://github.com/ntop/ntopng/commit/82a01c521a38ff3ee354c195ba96dddb2fd11dc6
- timeseries are written in https://github.com/ntop/ntopng/commit/f6bd1b349382483cd80df2e411379084a40a95b6

So now systems supporting `/proc/stat` will show an additional `iowait` entry in the `system_stats` page, along with a link to the historical chart

![im

[2020-02-27 17:28] #3427 closed, assigned to simonemainardi

[2020-02-27 17:36] lucaderi opened #3461 "Remove Layer-7 Total Flows"
This preference is cumbersome and needs to be removed or merged with another existing preference
![Screen Shot 2020-02-27 at 18 34 34](https://user-images.githubusercontent.com/4493366/75469820-ed9e6e80-598f-11ea-89b2-27c1b1ed4191.png)

[2020-02-27 17:38] lucaderi opened #3462 "Remove TCP Flags Preference"
This preference is misleading. Merge it with Interfaces Timeseries > Traffic
![Screen Shot 2020-02-27 at 18 36 57](https://user-images.githubusercontent.com/4493366/75469946-29d1cf00-5990-11ea-8dd3-570bcc6d48cd.png)

[2020-02-27 17:39] lucaderi opened #3463 "Merge TCP Out of Order, Lost and Retransmitted Segments Preference"
![Screen Shot 2020-02-27 at 18 38 21](https://user-images.githubusercontent.com/4493366/75470051-5a196d80-5990-11ea-95bc-9e82d9afbe49.png)

Same as #3462

[2020-02-27 17:43] lucaderi opened #3464 "Invalid Alerts Report"
![Screen Shot 2020-02-27 at 18 40 29](https://user-images.githubusercontent.com/4493366/75470246-ac5a8e80-5990-11ea-83be-fc4380fb5649.png)

This report has a few flaws:
- No value is reported (not even zero) even though there are alerts dropped
- it must be collapsed in one line named "Alerts" with a few cells "Queries", "Alerts Written", "Alerts Drops"

[2020-02-27 17:49] lucaderi opened #3465 "Unsmoothed CPU load chart"
![Screen Shot 2020-02-27 at 18 45 43](https://user-images.githubusercontent.com/4493366/75470779-78cc3400-5991-11ea-93b7-3299aeffbf50.png)
This chart does not render well. The memory chart for instance has 1 minus dots and it's smooth for instance

[2020-02-27 18:00] lucaderi opened #3466 "Invalid Host Timeseries Preferences"
![Screen Shot 2020-02-27 at 18 51 43](https://user-images.githubusercontent.com/4493366/75471237-3b1bdb00-5992-11ea-8eed-88dafc090b2e.png)
As already discussed, the above implementation must be replaced with a simpler implementation that reduces the number of options
- a three button "Off", "Light", "Full" statistics  that merges "Traffic" and "Statistics" (best)
or
- replace "Statistics" (that is

[2020-02-27 19:47] dirkduellmann opened #3467 "changing IP/MAC alert is always(?) followed by core dump on osx"
I'm running the current brew version of ntop (see also screen dump with version) on a up-to-date osx catalina 10.15.3:

Whenever one of monitored interfaces is changing IP/MAC (eg when a sleep-proxy takes over / returns an IP of an energy saving device)  ntop will core dump immediately after printing the alert. The core dump also takes place if the alert itself is configured as disabled.

If this

[2020-02-27 20:47] lucaderi commented on #3464
![Screen Shot 2020-02-27 at 21 46 59](https://user-images.githubusercontent.com/4493366/75485317-c4d7a280-59aa-11ea-8dc8-d6ab3a633255.png)
Missing values just dots

[2020-02-27 21:16] gabryon99 commented on #3449
Fixed in the last commit.

[2020-02-27 21:16] gabryon99 commented on #3402
Fixed.

[2020-02-27 21:25] gabryon99 commented on #3450
Fixed.

[2020-02-27 21:25] #3450 closed, assigned to gabryon99

[2020-02-28 09:57] #3465 closed, assigned to simonemainardi

[2020-02-28 10:33] HNJBB opened #3468 "Unexpected Shutdown & List 'name' has 0 rules"
Feb 28 00:00:05 ntop ntopng[1722]: 28/Feb/2020 00:00:05 [MySQLDB.cpp:824] Attempting to connect to MySQL for interface tcp://127.0.0.1:5556...
Feb 28 00:00:05 ntop ntopng[1722]: 28/Feb/2020 00:00:05 [MySQLDB.cpp:850] Successfully connected to MySQL [root@localhost:3306] for interface tcp://127.0.0.1:5556
Feb 28 00:00:26 ntop ntopng[1722]: 28/Feb/2020 00:00:26 [main.cpp:50] Shutting down...
Feb 28

[2020-02-28 10:40] emanuele-f commented on #3467
Please ensure that you are using the latest ntopng version, then post here the output of `ntopng --version`. Can you provide a stack trace of the issue? You should be able to do that by using `lldb` in a simular way as gdb (https://github.com/ntop/ntopng/blob/dev/doc/README.crash)

[2020-02-28 10:54] emanuele-f opened #3469 "Wrong reboot/shutdown buttons position in nEdge"
Buttons should be moved to the upper right position in top bar as it happens on ntopng.
![2020-02-28_11-54](https://user-images.githubusercontent.com/5488003/75542927-a90ae580-5a18-11ea-92c7-fb90e042c06c.png)

[2020-02-28 11:09] #3462 closed, assigned to simonemainardi

[2020-02-28 11:16] #3463 closed, assigned to nobody

[2020-02-28 11:21] emanuele-f commented on #3468
Please report the output of `ntopng --version`

[2020-02-28 11:22] HNJBB commented on #3468
ntopng --version
v.3.9.200211    [Enterprise/Professional build]
GIT rev:        dev:20fe918d665e6556ef759d7aa7d6f25b2faaab24:20200211
Pro rev:        r2710
Built on:       Ubuntu 18.04.3 LTS
System Id:      6F001919B2066B13
Platform:       x86_64
Edition:        Enterprise
License Type:   Permanent
Maintenance:    Until Thu Jun 18 13:27:17 2020 [111 days left]

[2020-02-28 11:30] emanuele-f commented on #3468
![2020-02-28_12-24](https://user-images.githubusercontent.com/5488003/75545082-3c461a00-5a1d-11ea-8f85-3fe8efe9dbb4.png)
![2020-02-28_12-24_1](https://user-images.githubusercontent.com/5488003/75545083-3ea87400-5a1d-11ea-8efc-ab359bc8f6a1.png)

You can retrieve the failing lists URL from the link above. If you try to access that url from the ntopng server, can you successfully do that? E.g. can yo

[2020-02-28 11:49] simonemainardi commented on #3460
The cpu is now updated every 5 seconds as of https://github.com/ntop/ntopng/commit/474fe19e073b8f4699ccc0020ec997f9ffcb6c9e

This reduces system pressure and should also fix the error reported:

[code]

[2020-02-28 11:51] simonemainardi commented on #3456
CPU is now updated every 5 seconds in https://github.com/ntop/ntopng/commit/474fe19e073b8f4699ccc0020ec997f9ffcb6c9e

[2020-02-28 12:28] hugleo opened #3470 "Missing EXPORTER_IPV4_ADDRESS and EXPORTER_IPV6_ADDRESS fields for nBPF filter"
Missing EXPORTER_IPV4_ADDRESS and EXPORTER_IPV6_ADDRESS fields for nBPF filter (interface disaggregation).

I need to separated between two different routers.

![invalid-filter](https://user-images.githubusercontent.com/4573505/75548596-6e02b500-5a0c-11ea-8fd7-67e70e061c59.png)

[2020-02-28 12:45] HNJBB commented on #3468
Server can retrieve the lists.  And ntopng has also since retrieved the lists.   The unexpected shutdown has only occurred this one time.   Though we are only recently using ntopng in a production enviroment.

[2020-02-28 13:07] simonemainardi opened #3471 "Duplicate Disaggregated Traffic toggle not working"
Clicking on the toggle has no effect. Trying to change the dropdown above doesn't affect the behavior.

![image](https://user-images.githubusercontent.com/3397663/75551012-7fab8300-5a33-11ea-9e64-4d873ac42f72.png)

[2020-02-28 13:09] simonemainardi commented on #3470
Did you try to select the ProbeIP from this dropdown? That should to the trick automatically

![image](https://user-images.githubusercontent.com/3397663/75551187-e4ff7400-5a33-11ea-8e45-1d3efcfc3be2.png)

[2020-02-28 13:14] simonemainardi commented on #3449
Not fixed. Toggles now work but clicking "Submit filter" does not actually change any value. Values come back to their previously set values.

Please, also fix the layout: as you can see there's an 'Applications' written on top which makes no sense as applications are at the bottom

![image](https://user-images.githubusercontent.com/3397663/75551505-a322fd80-5a34-11ea-9208-bab6f88c453a.png)

[2020-02-28 13:38] hugleo commented on #3470
Probe IP worked however ntopng creates a aggregated interface and in my router I have two interfaces, multiples vlans:

set interfaces ge-0/0/0 unit 10 family inet sampling input
set interfaces ge-0/0/1 unit 20 family inet sampling input

How can I differentiate between those in ntopng?

[2020-02-28 13:59] simonemainardi commented on #3459
Preference added (default off):

![image](https://user-images.githubusercontent.com/3397663/75554528-ca7cc900-5a3a-11ea-9a8b-08da3a98a2f1.png)

Name chosen is "Internals" to avoid confusion with the "Telemetry", already used when people decide to contribute their ntopng data from

![image](https://user-images.githubusercontent.com/3397663/75554577-e84a2e00-5a3a-11ea-98fb-7c1f88ff1761.png)

[2020-02-28 14:01] #3459 closed, assigned to nobody

[2020-02-28 14:37] cardigliano commented on #3470
@hugleo please try using single quotes (I will add a comment about this syntax to the GUI)
EXPORTER_IPV4_ADDRESS '192.168.0.1'

[2020-02-28 14:38] simonemainardi commented on #3456
Done. Currently, we now only write 3 timeseries per interface every second:

[code]

Then, every 5 second a couple of system-related timeseries are written, namely cpu load and cpu states:

[code]

Additional timeseries are then only written every minute or every 5 minutes.

[2020-02-28 14:38] #3456 closed, assigned to simonemainardi

[2020-02-28 15:01] #3464 closed, assigned to simonemainardi

[2020-02-28 15:01] simonemainardi commented on #3464
Reworked to make it consistent with the other table entries:

![image](https://user-images.githubusercontent.com/3397663/75559054-1895ca80-5a43-11ea-9fdd-98b876b2fe5b.png)

[2020-02-28 15:46] hugleo commented on #3470
Updated ntopng and is working for ipv4.
But for ipv6 tried the following filter:
EXPORTER_IPV6_ADDRESS '1234:567:0:1::1' and (INPUT_SNMP 123 or OUTPUT_SNMP 123)
The interface is created but looks like I'm not seeing any flow.

[2020-02-28 16:26] cardigliano opened #3472 "Add src/dst MAC address to the flow DB"
The src/dst MAC address is useful for tracking the activity of devices, it would be nice to have that information in nIndex.

[2020-02-28 16:47] StewAlexander-com commented on #3361
@emanuele-f  ok, done

[2020-02-28 16:47] #3361 closed, assigned to nobody

[2020-02-28 16:59] StewAlexander-com opened #3473 "Attention: ntop/ntopng community room opened on gitter"
https://gitter.im/ntop-ntopng/community - now created

Figured there were conversations not appropriate as bug "issues" that could be better served by the above community room.

[2020-02-28 17:28] gregober opened #3474 "attempt to concatenate a nil value in lua_utils.lua"
I am not sure where this "nil value" is coming from ?
I am trying to access "Host >> Host Pool >> Chart associated to a pool"

This is reported as a bug and triggers an error :

HTTP/1.1 500 Internal server error Content-Type: text/html Connection: close Script "/usr/share/ntopng/scripts/lua/pool_details.lua" returned an error: /usr/share/ntopng/scripts/lua/modules/lua_utils.lua:3427: attempt to c

[2020-02-28 17:49] cardigliano commented on #3470
@hugleo I pushed a patch to support EXPORTER_IPV6_ADDRESS, a new package will be available in ~1h.

[2020-02-28 19:44] rodrigoselau opened #3475 "/usr/share/ntopng/scripts/locales/pt.lua:2083: missing '{' near '"Distribui\u0'"
hello,

I'm having a problem, I installed ntopng as the tutorial suggests, but this error appears after changing the admin user password

/usr/share/ntopng/scripts/locales/pt.lua:2083: missing '{' near '"Distribui\u0'

[2020-02-28 20:02] hugleo commented on #3470
Updated but not getting any ipv6 flow yet

[2020-02-28 20:31] hugleo commented on #3470
My tests:

(INPUT_SNMP 123 or OUTPUT_SNMP 123)	ipv4 and ipv6 flows are received (ok)

EXPORTER_IPV4_ADDRESS '192.168.0.1' and (INPUT_SNMP 123 or OUTPUT_SNMP 123) only ipv4 flows received (ok)

EXPORTER_IPV6_ADDRESS '1234:567:0:1::1'	and (INPUT_SNMP 123 or OUTPUT_SNMP 123) no flow received at all (not ok)

[2020-03-01 18:29] lucaderi opened #3476 "Missing timeseries.lua from dropdown menu"
![Screen Shot 2020-03-01 at 19 27 49](https://user-images.githubusercontent.com/4493366/75631390-d4492c80-5bf2-11ea-9207-cc25c1266d0a.png)

[2020-03-01 18:33] lucaderi opened #3477 "Add max duration in activity_descr"
In the table below the script deadine is set to the periodicity that is a wrong assumption for all scripts. Add a new column that specifies the maximum script duration that that is used for the script deadline. Duration  must be reasonable and NOT set to the periodicity when not necessary

  static activity_descr ad[] = {
    /* Script               Periodicity  Pool                    Align  !Vie

[2020-03-01 20:03] lucaderi opened #3478 "Invalid RRD point reported"
![Screen Shot 2020-03-01 at 21 02 05](https://user-images.githubusercontent.com/4493366/75632793-f7c6a400-5bff-11ea-9997-99341f20384e.png)

This is a regression bug. You're reporting the last point as 0. This is wrong as the point is in the future so assuming it to be zero is wrong.

[2020-03-01 20:27] lucaderi opened #3479 "Invalid timeseries.lua last duration"
![Screen Shot 2020-03-01 at 21 26 05](https://user-images.githubusercontent.com/4493366/75633213-56415180-5c03-11ea-8742-b0f1b344d244.png)

[2020-03-01 20:55] lucaderi opened #3480 "ntopng startup errors on Ubuntu 18.04"
Installing  brand new ntopng (dev from March 1st) at ntopng startup this is what happens

# service ntopng status
* ntopng.service - ntopng high-speed web-based traffic monitoring and analysis tool
   Loaded: loaded (/etc/systemd/system/ntopng.service; enabled; vendor preset: enabled)
   Active: active (running) since Sun 2020-03-01 21:52:32 CET; 16s ago
  Process: 8947 ExecStartPre=/bin/sh -c /bi

[2020-03-02 08:24] cardigliano commented on #3470
@hugleo are you using nProbe as a proxy collecting Netflow and sending flows to ntopng via ZMQ? Are you able to provide a pcap with your Netflow traffic (and your nProbe configuration) to reproduce this? Thank you.

[2020-03-02 08:37] lucaderi opened #3481 "MUD Plugin does not seem to work as expected"
The MUD plugin, when enabled, is supposed to learn a host behaviour and then enforce it. The current implementation is not easy to use (if any) from the web GUI, and furthermore it does not seem to work.

[2020-03-02 08:38] lucaderi opened #3482 "Script labels are misleading/wrong"
<img width="346" alt="Screenshot 2020-03-02 at 09 26 40" src="https://user-images.githubusercontent.com/4493366/75658923-6be96200-5c69-11ea-8a46-557af62cefe7.png">

The above script is just an example.

<img width="140" alt="Screenshot 2020-03-02 at 09 38 32" src="https://user-images.githubusercontent.com/4493366/75659042-9d622d80-5c69-11ea-9345-8667cbe310b0.png">

Replace periodicity with frequen

[2020-03-02 08:42] lucaderi opened #3483 "High number of queries per write"
The following stats reports a problem: write require read and this contributes to break the performance. Is this avoidable?

<img width="499" alt="Screenshot 2020-03-02 at 09 40 13" src="https://user-images.githubusercontent.com/4493366/75659194-de5a4200-5c69-11ea-8e4d-175e8405c4ff.png">

Can you please add percentages next to the numbers to understand how the system behaves?

[2020-03-02 09:21] #3476 closed, assigned to simonemainardi

[2020-03-02 09:29] simonemainardi opened #3484 "Manage Data menu position"
Manage data should not stay under the system interface as it allows the download and deletion of hosts of the selected interface

![image](https://user-images.githubusercontent.com/3397663/75663154-a86c8c00-5c70-11ea-8ec4-8e523dfe0946.png)

The only two functionalities that are meaningful in the system interface are 'delete inactive interfaces data' and 'delete system interface data'

[2020-03-02 10:35] gabryon99 opened #3485 "Unique id for nodes in topology graph"
It is requested to generate an id for the nodes inside the topology graph for the SNMP devices.

[2020-03-02 11:11] #3478 closed, assigned to emanuele-f

[2020-03-02 11:12] emanuele-f commented on #3478
Note: not a regression. This behaviour was only implemented in InfluxDB. Now fixed in RRD.

[2020-03-02 11:21] #3479 closed, assigned to simonemainardi

[2020-03-02 11:56] emanuele-f commented on #3480
Cannot reproduce. Also no race condition can be found in the code. Please report:

- Full log since startup
- The ntopng configuration used if different from the default

[2020-03-02 13:14] hugleo commented on #3470
@cardigliano I sent some data to your email

[2020-03-02 13:33] bipin-stcs opened #3486 "ntopng crashes frequently"
Dear All,
We are facing frequent crashing of ntopng service. Please see the below. Because of this, there is no data visible in the GUI.

 systemctl status ntopng

Also, found the below in ntop-systemd.log

This is the environment

lsb_release -a

[2020-03-02 13:36] simonemainardi commented on #3483
Currently, two queries are performed when inserting each alert.

The first query is a lookup and is necessary to check for equal alerts already existing in the database within a period of 5 minutes. The second query is either an update of an existing record (in case an equal alert already exists) or an insertion of a new alert (when no equal alert exists).

I would suggest to use a redis key with

[2020-03-02 13:53] emanuele-f commented on #3486
Can you get a stack trace as described here? https://github.com/ntop/ntopng/blob/dev/doc/README.crash

[2020-03-02 14:01] bipin-stcs commented on #3486
gdb --args ntopng /etc/ntopng/ntopng.conf
GNU gdb (Ubuntu 7.11.1-0ubuntu1~16.5) 7.11.1
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" for details.
This GDB w

[2020-03-02 14:11] gabryon99 commented on #3449
I fixed the problem. The bug was caused by a double class inside the toggles, the javascript function who takes the parameters didn't find the elements to serialize and save.

[2020-03-02 14:11] #3449 closed, assigned to gabryon99

[2020-03-02 14:14] gabryon99 commented on #3469
Done, the buttons were moved under the user icon in the top navbar. See https://github.com/ntop/ntopng/commit/b2631b5fdcd3b13bbde5dab00fd4f603556a2cbe.

[2020-03-02 14:14] #3469 closed, assigned to gabryon99

[2020-03-02 14:25] #3480 closed, assigned to emanuele-f

[2020-03-02 14:38] emanuele-f commented on #3420
No feedback received. Please reopen if necessary

[2020-03-02 14:38] #3420 closed, assigned to nobody

[2020-03-02 15:18] #3482 closed, assigned to emanuele-f

[2020-03-02 15:58] #3457 closed, assigned to emanuele-f

[2020-03-02 16:23] emanuele-f commented on #3401
Added `Cloud` (which includes Dropbox), `SoftwareUpdate` and `Streaming` to the default excluded apps/categories. Please click on "Reset Configuration" to set the default again.

[2020-03-02 16:23] #3401 closed, assigned to emanuele-f

[2020-03-02 16:26] emanuele-f commented on #3455
Fixed in e8e9a998c35f3544b98ca11253fe2cb7b28145da and f9bd2973c87c6d02cd5a053cb8e87986380f483e

[2020-03-02 16:26] #3455 closed, assigned to simonemainardi, emanuele-f

[2020-03-02 17:27] diastelo opened #3487 "Please add support for Red Hat Distributer IDs when Checking OS Release"
At some point in the past few months, the default behavior for checking if RPM or DEB package managers should be used was changed. I don't know how the original decision was made, but the script /usr/bin/ntopng-utils-manage-updates sets the OS to DEBIAN by default, and only sets it to CentOS (RPM) if CentOS is in the output of the command : lsb_release -i. It doesn't check for Red Hat.

We're runn

[2020-03-03 02:19] HsunGong commented on #3439
## **nginx.conf**

[code]

## `ntopng.conf`

Only `ntopng --community` can not run correctly.

Tried, but not working.
- `http-port`: assign to `3000`
- `https-port`: assign to `3000`
- `http-prefix /`: `/`
- `daemon`: true

## Error

Can not login via `ntopng.xxx.com`.

![image](https://user-images.githubusercontent.com/32933986/75736510-542cdf00-5d38-11ea-9eb4-5a89f6a017d2.png)![image](https://u

[2020-03-03 08:33] bbros-dev opened #3488 "OPENSSL_1_1_1 not found: required by mysql and curl."
Thank you for all the effort you have put into ntopng, and for making it opensource.
We install your Ubuntu 18.04 packages using the chef script below.

When trying to start `ntopng`:

[code]
The libssl appears to be correctly linked where `locate libssl.so.1.1` indicates it is

[code]

### Installation steps
[code]

[2020-03-03 08:45] lucaderi commented on #3485
Implemented in the latest code

[2020-03-03 08:45] #3485 closed, assigned to lucaderi, gabryon99

[2020-03-03 08:50] simonemainardi opened #3489 "Header stretches and hides body"
When several badges are present, the header stretches and doesn't allow to reach the body navbars

![image](https://user-images.githubusercontent.com/3397663/75758386-4ecd9580-5d34-11ea-821a-d8e52129158a.png)

[2020-03-03 08:52] simonemainardi opened #3490 "Selected interface should be greyed out"
System is greyed out when selected. Please implement the same behavior also for the selected interface.

![image](https://user-images.githubusercontent.com/3397663/75758590-981de500-5d34-11ea-8c50-6729eabdea46.png)

[2020-03-03 09:10] #3487 closed, assigned to cardigliano

[2020-03-03 09:52] emanuele-f opened #3491 "Crash with probe IP disaggregation"
![2020-03-03_10-06_1](https://user-images.githubusercontent.com/5488003/75763765-acfa7880-5d34-11ea-9fad-039a4b89fbae.png)

[2020-03-03 09:53] emanuele-f opened #3492 "Error while visiting the host pool charts page"
`Attempt to concatenate nil value (local ifid)`

[2020-03-03 09:54] emanuele-f opened #3493 "Unknown traffic while capturing netflow data"
E.g. flows with HTTPS port are instead shown as unknown

[2020-03-03 10:13] emanuele-f opened #3494 "get_internals_periodic_activities_stats.lua failure with zmq interfaces"
![2020-03-03_11-12](https://user-images.githubusercontent.com/5488003/75765512-8c7fed80-5d37-11ea-9309-102d3ada4c1e.png)

[2020-03-03 10:28] infernix commented on #3492
On 3.9.200303 it's:
`   return(ntop.getPref("ntopng.prefs.ifid_"..ifid..".interface_rrd_creation") ~= "false")`

Traceback shows:

[code]

Using RRD timeseries; both interface and host pool timeseries confirmed to be toggled `on`. Not really clear why this happens

[2020-03-03 10:50] simonemainardi commented on #3147
also look at which should be % not bits/s.

![image](https://user-images.githubusercontent.com/3397663/75768670-11bdcf00-5d45-11ea-9bad-dbe0947882c4.png)

[2020-03-03 11:18] #3494 closed, assigned to simonemainardi

[2020-03-03 11:23] emanuele-f opened #3495 "ZMQParserInterface::setRemoteStats crash"
![2020-03-03_12-22](https://user-images.githubusercontent.com/5488003/75771120-3ca62400-5d41-11ea-8185-0afd43fcd493.png)

[2020-03-03 11:48] emanuele-f opened #3496 "Use after free in zmq_remote_stats"
![photo_2020-03-03_12-46-58](https://user-images.githubusercontent.com/5488003/75772901-b8ee3680-5d44-11ea-970b-fba28f43598c.jpg)

This can happen as the shadow is ineffective when there are a lot of incoming flow events

[2020-03-03 11:49] simonemainardi commented on #3493
need to see nprobe conf, waiting for the user to repond

[2020-03-03 12:01] #3491 closed, assigned to nobody

[2020-03-03 12:01] #3495 closed, assigned to emanuele-f

[2020-03-03 12:22] cardigliano commented on #3376
It is likely this has been fixed (yesterday), I've been able to reproduce a similar issue with the unit test which is working now after the patch, however I've never seen this happening in ntopng (probably due to a limited number of flows/hour).

[2020-03-03 12:22] #3376 closed, assigned to lucaderi, cardigliano

[2020-03-03 13:13] #3492 closed, assigned to emanuele-f

[2020-03-03 13:25] simonemainardi commented on #3436
@gabryon99 any news?

[2020-03-03 13:28] simonemainardi commented on #3425
RRD writes are now queued and periodically written by a single thread (`timeseries.lua`). This avoids blocking scripts. For reference, the commit is: https://github.com/ntop/ntopng/commit/cce4dcf5680582bf3f18c17cda06931c5fe2beea

Please, report the new behavior.

[2020-03-03 13:35] hugleo opened #3497 "Nindex - history flow not showing"
Enabled nindex in ntopng.conf

-i="tcp://127.0.0.1:5556"
-F="nindex"

But can't see history flow in the charts. Am I missing something?

![flows-history](https://user-images.githubusercontent.com/4573505/75780692-a0791e80-5d3a-11ea-8102-abc48084bc83.png)

[2020-03-03 13:36] #3488 closed, assigned to simonemainardi

[2020-03-03 13:38] simonemainardi commented on #3488
On ubuntu18, ntopng depends on library `libssl.so.1.1` provided by `libssl1.1`.

[code]

This package is also a dependency of tens of system packages so it is unlikely that it is missing from the system. However, I've also explicitly as a dependency in the commit. This should guarantee the necessary library is present (or installed if missing).

[2020-03-03 13:46] #3475 closed, assigned to simonemainardi

[2020-03-03 13:46] simonemainardi commented on #3475
Thanks for reporting. Fixed. New build in progress.

[2020-03-03 13:48] simonemainardi commented on #3488
A new build is in progress. Please, wait an hour and retry.

[2020-03-03 13:49] simonemainardi commented on #3474
Fixed in c9dfafe235d6c0d5746f8a924b62deafdc88625b. New build is in progress. Thanks for reporting.

[2020-03-03 13:49] #3474 closed, assigned to simonemainardi

[2020-03-03 13:54] simonemainardi commented on #3454
@StewAlexanderACC would you be interested in taking care of the development of an alert endpoint dedicated to pushover? That would require some basic Lua scripting knowledge and we could guide you.

[2020-03-03 13:55] simonemainardi commented on #3332
any news here?

[2020-03-03 14:00] #3496 closed, assigned to emanuele-f, cardigliano

[2020-03-03 14:19] emanuele-f commented on #3481
My proposal is to simply add a multiple selection list with the device types into the MUD configuration. Local hosts matching such device types should have their MUD automatically enabled. (the special/generic purpose flag can be determined automaticaly from the device type). Alert generation for the MUD was never implemented.

[2020-03-03 14:21] jasonamorrow commented on #3332
I upgraded to version 3.9.200225 today and will watch for any errors.

[2020-03-03 14:50] #3425 closed, assigned to nobody

[2020-03-03 14:55] #3466 closed, assigned to emanuele-f

[2020-03-03 14:57] emanuele-f commented on #3321
Note: Also the missing japanese nedge localization should be fixed

[2020-03-03 15:05] emanuele-f commented on #3497
Can you post a full screenshot of the page? The flows dropdown menu (https://www.ntop.org/guides/ntopng/historical_flows.html#browsing-flows) should be shown below the chart above.

[2020-03-03 15:09] emanuele-f commented on #3486
Please remove the `--daemon`/`-e` option from the ntopng configuration file and try again. Be sure to update ntopng to the latest version since we've just fixed some crashes.

[2020-03-03 15:11] emanuele-f commented on #3468
This issue occurs if ntopng is stopped during its startup phase

[2020-03-03 15:13] emanuele-f commented on #3473
For quick Q/A please write in our telegram group: https://www.ntop.org/ntop/introducing-ntop_community-telegram-group

[2020-03-03 15:13] #3473 closed, assigned to nobody

[2020-03-03 15:27] hugleo commented on #3497
full screen image. Not seeing flows in both dropdown menus.

![flows-history](https://user-images.githubusercontent.com/4573505/75790742-631c8d00-5d4a-11ea-8239-2a556c910a0c.png)

[2020-03-03 16:33] emanuele-f opened #3498 "New datatables not localized"
![2020-03-03_17-32](https://user-images.githubusercontent.com/5488003/75797107-8e17d880-5d6c-11ea-864a-edf1a3d42325.png)

Please check out the existing localization strings in en.lua for consistency with the previous Datatable (e.g. `showing_x_to_y_rows`)

[2020-03-03 16:43] simonemainardi commented on #2275
Added and tested. Packages correctly generate and install.

binary `nindex` is now available in all supported ubuntu, debian and centos distros except for centos6 which doesn't support nIndex.

[2020-03-03 16:43] #2275 closed, assigned to simonemainardi

[2020-03-03 17:29] emanuele-f commented on #3481
Proposal reviewed. Additional changes:

- Add a "max recording" option to avoid filling redis with MUD information
- The "max recording" preference should be shown as a combo selection with values "1h", "1day", "1 week"
- The host overview page should show a link to the host MUD
- A recording icon should be added to the hosts whose MUD is being recorded

[2020-03-03 17:32] emanuele-f opened #3499 "Trigger alerts when host MUD changes"
After an host MUD has been recorded as specified in #3481, it can be used as a baseline for the host behaviour. If a new protocol is detected, this should be notified to the user via an alert. Ideally, the user should also be able to mark it as an allowed protocol, adding it to the host MUD.

[2020-03-03 17:43] simonemainardi commented on #3467
working properly on the 3.9 OS X build

![image](https://user-images.githubusercontent.com/3397663/75803372-98db6900-5d7e-11ea-8977-5347b2b7d905.png)

As 3.8 is end-of-life we are not going to fix it. However, we are in the process of releasing ntopng stable 4.0. Release will be in a few days from now. So you can either wait for the 4.0 or, if you want to stay with 3.8, you can turn off this type

[2020-03-03 17:43] #3467 closed, assigned to simonemainardi

[2020-03-03 17:55] simonemainardi opened #3500 "SNMP devices - nil value when iterating topologies"
![image](https://user-images.githubusercontent.com/3397663/75804580-7cd8c700-5d80-11ea-8463-6bb51e940122.png)

[2020-03-03 17:57] simonemainardi commented on #3500
fixed in the pro version

[2020-03-03 17:57] #3500 closed, assigned to simonemainardi

[2020-03-03 17:58] scotty02 opened #3501 "ntopng rpm should have redhat-lsb-core listed as a package dependency for CentOS 7 & RedHat 7"
/usr/bin/lsb_release is used in /usr/bin/ntopng-utils-manage-updates and is in package redhat-lsb-core, but it is not listed as a dependency of the ntopng rpm. Please add redhat-lsb-core as dependency to the ntopng rpm for CentOS 7 and RedHat 7.

[2020-03-03 18:09] dirkduellmann commented on #3467
thanks - I'm happy to re-test in my env again once 4.x is out on brew.

[2020-03-03 18:18] #3501 closed, assigned to nobody

[2020-03-03 18:19] simonemainardi commented on #3501
Thanks for pointing this out. A new build is going to be generated overnight.

[2020-03-03 19:40] gabryon99 commented on #3490
Done in this commit: https://github.com/ntop/ntopng/commit/0f7ffad6e1a6d2acb12bca6014bce3688418c349

[2020-03-03 20:37] gabryon99 commented on #3489
Now when the elements are too many the container is wrapped. See this commit: https://github.com/ntop/ntopng/commit/8865cacb98f035369ecf25236f64ca8c275090d2

[2020-03-03 20:41] gabryon99 commented on #3471
What's the page?

[2020-03-04 05:17] bbros-dev commented on #3488
Sorry uninstalled.  Didn't quite fit our needs.

[2020-03-04 07:52] bipin-stcs commented on #3486
I updated the server (`v.3.9.200304	`)
I disabled `-e` option, restarted the server.

But when browsing `https://<ipaddress>` , i get the `500` error. And found the below in error.log of `apache2`
[code]
After updated to latest, `ntopng` didnt crash yet. Here is the systemd.log
[code]

[2020-03-04 08:58] emanuele-f commented on #3486
Ok. Should it crash again please open a new issue with the stack trace and also report your ntopng configuration.

[2020-03-04 08:58] #3486 closed, assigned to nobody

[2020-03-04 09:02] simonemainardi commented on #3471
the wheel under the 'Interface':

<img width="863" alt="image" src="https://user-images.githubusercontent.com/3397663/75862396-2e1e4200-5dff-11ea-9d7e-aa1fdcc35f3f.png">

[2020-03-04 09:04] simonemainardi commented on #3490
not working

<img width="983" alt="image" src="https://user-images.githubusercontent.com/3397663/75862595-7a698200-5dff-11ea-961e-724fd588f193.png">

[2020-03-04 09:06] simonemainardi commented on #3490
By the way, rather than greying out the selected interface, which is somehow awkward as it looks disabled, I would use the active state for the dropdown such as

<img width="236" alt="image" src="https://user-images.githubusercontent.com/3397663/75862808-c9171c00-5dff-11ea-868a-6b5ad5967d02.png">

[2020-03-04 09:11] simonemainardi commented on #3489
better but still not looking nicely

<img width="1266" alt="image" src="https://user-images.githubusercontent.com/3397663/75863157-5490ad00-5e00-11ea-871b-1f2792d68f60.png">

Mbit/s should't wrap

[2020-03-04 09:27] MSEoguenther opened #3502 "Change the language of AD users"
Hi,
our AD is connected to Ntopng via LDAPs. After a successful login, the language can not be changed.
Please implement that AD users can also change the language

Thanks and best regards

[2020-03-04 11:48] lucaderi opened #3503 "Some Flaws in the Internal Pages for Timeseries.lua"
![Screenshot from 2020-03-04 12-38-32](https://user-images.githubusercontent.com/4493366/75876035-35504a80-5e15-11ea-8e79-a47936d062df.png)

1. the frequency of the plugin is 1 sec but it is reported as 5
2. Next start is wrong, remove it if too complicated, and add the number of runs

[2020-03-04 11:49] emanuele-f opened #3504 "Autonomous systems search is broken"
![2020-03-04_12-48](https://user-images.githubusercontent.com/5488003/75876697-14d0c200-5e0e-11ea-8986-62bc421ef7fd.png)

It seems to only works sometimes

[2020-03-04 11:57] emanuele-f opened #3505 "SNMP interface chart versus total device traffic"
It would be useful to graph the total device traffic vs the specific interface traffic for an easy comparison.

[2020-03-04 12:19] jasonamorrow commented on #3332
No more errors. Going to go ahead and close this out.

[2020-03-04 12:19] #3332 closed, assigned to nobody

[2020-03-04 12:53] simonemainardi opened #3506 "Reviewing TCP stats sent from nprobe to ntopng"
TCP flags are correcly propagated. Investigating is also TCP packet stats (e.g, ooo and retx) are sent as it seems there are issues.

[2020-03-04 13:01] khmermega opened #3507 "Billing features and Costume Dashboard"
Hi Team,

Ntopng should have billing feature base on Index or Interface 95th.
Since NTOP monitoring the internet gateway we should be able to create custom dashboard graph for traffic, AS or host group ..etc . This feature is great for difference department such as NOC.

Thanks,

[2020-03-04 14:02] simonemainardi commented on #3506
Stats were missing. Fixed in https://github.com/ntop/ntopng/commit/88693f5f6af528d90d1b38c685d573fe324e0b40.

[2020-03-04 14:02] #3506 closed, assigned to nobody

[2020-03-04 14:14] simonemainardi opened #3508 "Maximum estimated throughput and application latency missing for ZMQ interfaces"
- The maximum estimated throughput requires the TCP window which is not sent in template @NTOPNG@.

- Application latency is not parsed and also have issues as https://github.com/ntop/nProbe/issues/403 https://github.com/ntop/nProbe/issues/404

[2020-03-04 14:58] #3503 closed, assigned to simonemainardi

[2020-03-04 15:00] simonemainardi commented on #3503
Fixed.

Frequency now reports the correct value.

The new table no longer has the next start column (which is not predictable as depending on the max duration). The next start column has been replaced with the max duration column which tells how long an activity is allowed to run (explained in the notes).

![image](https://user-images.githubusercontent.com/3397663/75892045-fd570080-5e30-11ea-8b73-

[2020-03-04 15:38] hugleo commented on #3497
@emanuele-f the reason: nindex is not being enabled alt all.
ntopng[922]: [Prefs.cpp:1304] WARNING: Discarding -F nindex: value out of range

[2020-03-04 15:46] simonemainardi commented on #3477
implemented in the commit above

[2020-03-04 15:46] #3477 closed, assigned to simonemainardi

[2020-03-04 16:32] cardigliano commented on #3497
@hugleo please provide the ntopng version (output of ntopng -V) and your OS version.

[2020-03-04 16:36] hugleo commented on #3497
ntopng -V
v.3.9.200304    [Enterprise/Professional build]

cat /etc/debian_version
10.3

[2020-03-04 16:37] #3504 closed, assigned to simonemainardi

[2020-03-04 16:47] cardigliano commented on #3497
@hugleo the latest build for Debian 10 didn't include nIndex support, a new package will be available in ~1h. Please update later today and this will work.

[2020-03-04 16:47] #3497 closed, assigned to nobody

[2020-03-04 17:04] cardigliano commented on #3470
@hugleo it seems that nProbe is not currently exporting EXPORTER_IPV6_ADDRESS, I moved this issue to https://github.com/ntop/nProbe/issues/407

[2020-03-04 17:04] #3470 closed, assigned to cardigliano

[2020-03-04 17:45] emanuele-f commented on #3490
@gabryon99 after internal discussion:
- Please remote the gray over color
- Fix the Mbps on new line issue reported by @simonemainardi

[2020-03-04 18:02] emanuele-f opened #3509 "Create package skeleton for user plugins installation"
The skeleton should make it easy for a user to create its own package. Having a deb package will ease the plugin installation on multiple machines (supposing that the user has its own repository for installation).

[2020-03-04 18:06] lucaderi commented on #3460
Issue still present Ubuntu 18.04

Mar 04 19:04:25 pc-deri ntopng[30874]: [second.lua:26] [rrd.lua:413] ERROR: rrd_update_r() [/var/lib/ntopng/2/rrd/packets_vs_drops.rrd][1583345065:105:0] failed [/var/lib/ntopng/2/rrd/packets_vs_drops.rrd: illegal attempt to update using time 1583345065 when last update time is 1583345065 (minimum one second step)]
Mar 04 19:04:25 pc-deri ntopng[30874]: 04/Mar/202

[2020-03-04 18:36] lucaderi commented on #3509
The code to package is https://github.com/ntop/ntopng/tree/dev/scripts/plugins/example

[2020-03-05 08:18] zimbawe998 opened #3510 "SNMP Topology Error"
After the latest update this is the error
![Immagine](https://user-images.githubusercontent.com/47248892/75961370-2a9fbf00-5ec2-11ea-994e-95e3a6dc11cb.png)

05/Mar/2020 09:14:40 [LuaEngine.cpp:12645] WARNING: Script failure [/usr/share/ntopng/scripts/lua/pro/enterprise/snmp_device_details.lua][/usr/share/ntopng/pro/scripts/lua/modules/snmp_utils.lua:290: attempt to index a nil value (field 'delta'

[2020-03-05 08:30] gabryon99 commented on #3490
<img width="591" alt="Screenshot 2020-03-05 at 09 28 34" src="https://user-images.githubusercontent.com/14114916/75962340-df86ab80-5ec3-11ea-9d5d-1f9c93240c45.png">

Fixed in the last commit. Please be sure to reload the cache.
https://github.com/ntop/ntopng/commit/13eb3b6c9a389f6be540a2c45829b1725bdfbec1

[2020-03-05 08:31] #3490 closed, assigned to gabryon99

[2020-03-05 08:31] zimbawe998 commented on #3441
HI Emanule,
on my situation ntopng GUI show a different name than the command output.

[2020-03-05 08:37] gabryon99 commented on #3471
![Mar-05-2020 09-36-20](https://user-images.githubusercontent.com/14114916/75962873-d3e7b480-5ec4-11ea-9d87-e82b3eeef99d.gif)

Now is fixed, the problem was caused by a mismatched id inside the label.

[2020-03-05 08:38] gabryon99 commented on #3471
Here is the commit: https://github.com/ntop/ntopng/commit/aee9148d1e04193a8b6b531d5c63171c644276f1

[2020-03-05 08:38] #3471 closed, assigned to gabryon99

[2020-03-05 08:56] simonemainardi opened #3511 "minute.lua and hour.lua deadlock on StatsManager::openStore mutex"
Scripts above have been found to be blocked for hours. The relevant part of the stacktrace is the following

[code]

other UI-threads blocked are
[code]

The only guy who seems to be holding the lock is the `daily.lua`

[code]

[2020-03-05 08:57] gabryon99 commented on #3489
<img width="934" alt="Screenshot 2020-03-05 at 10 00 46" src="https://user-images.githubusercontent.com/14114916/75964853-342c2580-5ec8-11ea-8835-2d579be07f14.png">

Ok, I fixed the wrapping. Please be sure to reload the cache.

https://github.com/ntop/ntopng/commit/50277232c8d372b7861c2913e8850b5b4ac23bc7

[2020-03-05 09:08] #3489 closed, assigned to gabryon99

[2020-03-05 09:17] gabryon99 commented on #3510
Hi, can I ask you for the backtrace of your actions to get this error?

[2020-03-05 09:19] zimbawe998 commented on #3510
HI,
I choose System -> SNMP -> Topology anf the error will appear.

05/Mar/2020 10:18:05 [LuaEngine.cpp:12645] WARNING: Script failure [/usr/share/ntopng/scripts/lua/pro/enterprise/snmpdevices_stats.lua][/usr/share/ntopng/pro/scripts/lua/modules/snmp_utils.lua:290: attempt to index a nil value (field 'delta')]
05/Mar/2020 09:31:52 [LuaEngine.cpp:12645] WARNING: Script failure [/usr/share/ntopng/sc

[2020-03-05 09:26] simonemainardi opened #3512 "daily.lua running at the wrong time"
`daily.lua` script is running even if it is 923AM and ntopng has been restarted at around 700AM. This script is supposed to run at midnight localtime.

![image](https://user-images.githubusercontent.com/3397663/75967010-75720480-5ecb-11ea-948e-bf985a99b49c.png)

Moreover,  the script is at

[code]

and blocking hour and minute as reported in https://github.com/ntop/ntopng/issues/3511

[2020-03-05 09:31] simonemainardi commented on #3511
Found this during the investigation.

Seems daily.lua is blocked on the very same query as printing multiple backtraces always yield the same function call with the same parameters (same query).

Seems this while is not returning:
[code]

[2020-03-05 09:33] simonemainardi commented on #3511
return code is 19

[code]

[2020-03-05 09:34] simonemainardi commented on #3511
19 is constraint violation:

[code]

[2020-03-05 09:41] gabryon99 commented on #3510
Ok, we have launched the build for the new package, can you retry in about 1 hour?

[2020-03-05 09:49] simonemainardi commented on #3511
confirmed this is a primary key violation.

script is attempting to insert
[code]

However, an entry with primary key TSTAMP already exists in the table:

[code]

Looking at the timestamp value which ntopng is trying to insert, it is equal to the ntopng start time:

[code]

so day is not supposed to do that action at that time

[2020-03-05 10:06] emanuele-f opened #3513 "Make a reusable function for the toggle buttons generation"
In order to avoid issues like aee9148d1e04193a8b6b531d5c63171c644276f1 and to avoid code duplication, it is requested to create a lua function for the toggle buttons generation and replace the existing once with such function. Such function should be probably placed in lua_utils.lua .

[2020-03-05 11:02] emanuele-f commented on #3481
Implemented in 94f175194b8edf1018de92c423bc3fbed4690e57 and c7b2f12cc1b472b7244b31759a1670df71b117a8

[2020-03-05 11:29] #3512 closed, assigned to simonemainardi

[2020-03-05 12:10] lucaderi commented on #3484
In essence
- move the above page from the system interface to every interface with the exception of the two buttons below that instead need to stay on the system interface
![Screen Shot 2020-03-05 at 11 55 54](https://user-images.githubusercontent.com/4493366/75979027-fe933680-5edf-11ea-92a7-6b58ca163913.png)
- Put all but the above buttons in the standard interface pages (prefs or tools menu)
- C

[2020-03-05 13:43] #3481 closed, assigned to emanuele-f

[2020-03-05 13:47] emanuele-f commented on #3441
Please post the result of each of the individual commands and the result shown in the gui. Please consider sending private data to faranda@ntop.org

[2020-03-05 14:33] #3511 closed, assigned to simonemainardi

[2020-03-05 15:12] simonemainardi commented on #3493
issue was due to nProbe not configured with template `-T @NTOPNG@`. nProbe has been changed to use default template `@NTOPNG@` when the following two conditions hold:

- used in combination with ntopng (option `--zmq`)
- no template has been specified (no option `-T`)

[2020-03-05 15:12] #3493 closed, assigned to simonemainardi

[2020-03-05 16:10] emanuele-f commented on #3460
This should be fixed by 1c7dabf2477bca7d39806caf1481427c9c2abd61 and c17ddb486ef2a049ce3134862b012a002d235ecc

[2020-03-05 16:22] emanuele-f opened #3514 "Add warning message when nprobe does use the correct ntopng template"
Similar to #3493, this is needed to alert the user when an invalid template is used

[2020-03-05 16:36] emanuele-f opened #3515 "Crash when nprobe uses a short template"
`probe -T "%DNS_QUERY%" -i wlan0 --zmq "tcp://127.0.0.1:5556"`

[code]

[code]

[2020-03-05 16:50] emanuele-f commented on #3515
FlowProfiles::getFlowProfile fixed

[2020-03-05 16:50] #3515 closed, assigned to emanuele-f

[2020-03-05 17:18] #3514 closed, assigned to emanuele-f

[2020-03-05 17:45] lucaderi opened #3516 "Differentiate alerts based on impact"
![Screen Shot 2020-03-05 at 18 37 33](https://user-images.githubusercontent.com/4493366/76009174-11722f00-5f11-11ea-9ab9-563701a1e702.png)
ntopng is now reporting alerts based on severity and this is a good thing. However sometimes there are alerts that are super-important (in the above picture the network went down) and they need to be handled differently otherwise they will be lost with all othe

[2020-03-06 07:19] lucaderi commented on #3510
This works for me too. Please confirm @zimbawe998

[2020-03-06 10:51] zimbawe998 commented on #3510
Now it works, after latest update.

[2020-03-06 11:29] lucaderi opened #3517 "Implement lock to avoid multiple ntopng start"
Add lock to prevent multiple ntopng instances to start and share the same resources that might lead to errors

[2020-03-06 13:17] simonemainardi opened #3518 "ERRORs in SQLITE"
Recent commits have highlighted previously hidden SQLITE errors.

Seems multiple minute samplings are inserted at the same time

[code]

[2020-03-06 13:28] emanuele-f commented on #3498
Fixed in b24ece3e5aaf0586c45fe83f910edf706393f35c

[2020-03-06 13:28] #3498 closed, assigned to gabryon99

[2020-03-06 13:59] lucaderi commented on #3517
A lock file stored in the data dir is enough to prevent this issue. Example https://gavv.github.io/articles/file-locks/

[2020-03-06 14:44] gabryon99 commented on #3510
Ok, I close the ticket.

[2020-03-06 14:44] #3510 closed, assigned to gabryon99

[2020-03-06 14:51] lucaderi commented on #3460
Closed until we can reproduce it

[2020-03-06 14:51] #3460 closed, assigned to simonemainardi, emanuele-f

[2020-03-06 15:05] #3518 closed, assigned to simonemainardi

[2020-03-06 16:12] #3436 closed, assigned to gabryon99

[2020-03-06 16:13] emanuele-f commented on #3436
The message can be safely ignored as the functionality of the map is not impacted by the fact that position is not available. I've removed the alert box in such case and only logged it to the console.

[2020-03-06 17:12] simonemainardi commented on #3483
Commit https://github.com/ntop/ntopng/commit/354a5ed404eae68be5cfdfe69cd9565e9d2720e5 handles deleted alerts which have been cached

[2020-03-06 17:50] cardigliano opened #3519 "[nIndex] Flows explorer shows empty data"
On heavy loaded systems, for a transient of a few minutes (up to last 1h) the flows explorer shows empty data for selected columns. This happens until all columns have been commit'ed (usually at the end of the hour slot). This is due to max number of records for a block of data, that depends on the column type: not all columns are flushed on disk at the same time, and queries on unaligned records

[2020-03-06 18:12] simonemainardi commented on #3483
Percentage has been added so that dropped alerts can be easily compared with the stored alerts.

The caching mechanism described has been implemented for alerts (see referenced commits) so that only one query is now necessary.

Currently, the caching mechanism is not effective for flow alerts as they require a more complex logic (certain alerts are overwritten).

[2020-03-06 18:12] #3483 closed, assigned to simonemainardi

[2020-03-07 22:27] kalibox opened #3520 "Traffic Dashboard doesn't show data"
Hi, I have the Professional version installed on my Pi and was happily running and reporting traffic data until I upgraded it to ntopng Professional Edition v.3.9.200225 tonight. Now, I don't see Traffic Dashboard populating with traffic information and in addition to this I keep seeing the following error:

Periodic activity 'stats_update.lua' is queued but has not been executed. No thread availa

[2020-03-08 10:56] #3517 closed, assigned to lucaderi

[2020-03-09 08:42] emanuele-f commented on #3520
Please retry with the latest raspberry package. If you still experience the problem, please click on the yellow warning sign in the ntopng header and post a screenshot of the page that opens.

[2020-03-09 12:47] kalibox commented on #3520
Hi Emanuele, thanks. I have downloaded the latest version available for the Pi and it does seem to have fixed it. Some graphs are still not being reported correctly. I'll try and attach a pic later to hopefully explain this better.

Thanks.

[2020-03-09 14:44] emanuele-f opened #3521 "flock compilation warnings"
[code]

[2020-03-09 16:28] emanuele-f opened #3522 "View interface hosts not purged"
![photo_2020-03-09_16-40-49 (2)](https://user-images.githubusercontent.com/5488003/76235394-f0685180-6222-11ea-89c2-ee843dee73d2.jpg)
![photo_2020-03-09_16-40-49](https://user-images.githubusercontent.com/5488003/76235399-f1997e80-6222-11ea-95d0-5c92e8b6a87d.jpg)

[2020-03-09 16:35] atrogu commented on #3436
OK, I got it. Thanks.

[2020-03-09 18:18] #3321 closed, assigned to simonemainardi

[2020-03-09 18:25] #3522 closed, assigned to emanuele-f

[2020-03-09 19:00] simonemainardi commented on #3321
Italian language localized. Currently, there is no german-speaking contributor who can help with the german translation. We are following up privately with a user for help.

[2020-03-10 07:42] lucaderi commented on #3521
Please check if 4d5749af2bd9944a788ad7a4b1c24a7ce517ad74 solved the issue and if not report how to reproduce the problem

[2020-03-10 07:43] lucaderi commented on #3505
Why that? What is problem it solves?

[2020-03-10 08:39] emanuele-f opened #3523 "Test upgrade from 3.8 to 3.9"
The upgrade should be tested to ensure that no major problem occurs.

[2020-03-10 08:40] emanuele-f opened #3524 "Test remote assistance functionality (n2n)"

[2020-03-10 08:40] emanuele-f opened #3525 "Test ntopng configuration backup and restore"

[2020-03-10 08:40] emanuele-f opened #3526 "Test n2disk integration"

[2020-03-10 08:41] emanuele-f opened #3527 "Test ntopng communication with nProbe mini"

[2020-03-10 08:48] emanuele-f commented on #3521
Also in linux, the `flock` function takes 2 arguments. Please see 9d8035bd8bb8cfd072570f88302865dc0b0a3d8d .

[2020-03-10 08:48] #3521 closed, assigned to lucaderi

[2020-03-10 09:14] simonemainardi opened #3528 "Test Host Pool"
In version 3.8 host pools were disappearing and reporting only partial traffic.  It is requested to verify all these issues are solved in 4.0.

[2020-03-10 09:15] simonemainardi opened #3529 "Automatic nEdge Testing"
It is requested to build a basic infrastructure to perform automatic nedge testing on its traffic filtering capabilities.

[2020-03-10 09:24] Claireshan opened #3530 "flows not loading"
hello,
my ntop reaches a point and I cant get flow. I get "SyntaxError: Unexpected token H in JSON at position 0" and I have to restart. but I it happened so frequently.

[2020-03-10 09:44] emanuele-f commented on #3530
Please report the output of `ntopng --version` and the contents of `/etc/ntopng/ntopng.conf`

[2020-03-10 09:52] emanuele-f commented on #3386
The crash cannot be reproduced. Tested with 8 ZC cento instances sending traffic via zmq to a remote ntopng with a view which aggregates the 8 zmq interfaces. Tested with approximately 400k hosts and 5M flows.

[2020-03-10 09:54] emanuele-f opened #3531 "ht_state_update taking too long"
![photo_2020-03-10_10-48-12](https://user-images.githubusercontent.com/5488003/76300735-26561600-62b5-11ea-907c-74ecb403eada.jpg)

[2020-03-10 10:11] simonemainardi opened #3532 "5min Stuck with SNMP"
This is the behavior reported by a user who has SNMP enabled:

![image](https://user-images.githubusercontent.com/3397663/76302165-cd3faf80-62bf-11ea-95d6-59377ed7141e.png)

[2020-03-10 11:52] emanuele-f opened #3533 "Properly report slow hosts allocation with view interfaces in ht_state_update"
When using view interfaces, the hosts allocation is performed in the ht_state_update activity. If the local hosts cache is enabled, such activity would take a very long time to allocate all the hosts (in particular right after the startup). This produces a "slow activity" warning with no futher information (as explained in https://github.com/ntop/ntopng/issues/3531). It is requested:

1. to report

[2020-03-10 11:52] emanuele-f commented on #3531
The issue is caused by hosts allocation as explained in #3533 .

[2020-03-10 11:52] #3531 closed, assigned to emanuele-f

[2020-03-10 11:58] Claireshan commented on #3530
Sent from Mail for Windows 10

From: Emanuele Faranda
Sent: Tuesday, March 10, 2020 12:44 PM
To: ntop/ntopng
Cc: claireshan; Author
Subject: Re: [ntop/ntopng] flows not loading (#3530)

Please report the output of ntopng --version and the contents of /etc/ntopng/ntopng.conf
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-03-10 12:17] Claireshan commented on #3530
![ntop2](https://user-images.githubusercontent.com/22081659/76311512-2d474d80-62e2-11ea-95be-8baaec9b0c60.PNG)

[2020-03-10 12:28] gabryon99 commented on #3484
FIxed in the last commit:
https://github.com/ntop/ntopng/commit/0edd8a089a78296a6c34ae26708e3038d564190b

Now the host form is validated by `areYouSure()`. The `Delete Inactive Interfaces Data` and `Delete System INterface Data` were moved inside the sidebar on system view.

[2020-03-10 12:29] #3484 closed, assigned to gabryon99

[2020-03-10 13:28] lucaderi opened #3534 "Remove empty graphs from the user interface"
![Screen Shot 2020-03-10 at 14 24 54](https://user-images.githubusercontent.com/4493366/76316718-557f7e00-62db-11ea-87e8-30fc448f9996.png)
![Screen Shot 2020-03-10 at 14 24 18](https://user-images.githubusercontent.com/4493366/76316732-57494180-62db-11ea-896b-c92569d4b65b.png)

[2020-03-10 13:30] lucaderi opened #3535 "Rework maintenance expired message"
The maintenance expired message should be removed from the footer and put in the yellow triangle in the upper menubar

![Screen Shot 2020-03-10 at 13 02 35](https://user-images.githubusercontent.com/4493366/76316828-8069d200-62db-11ea-8a96-4d552009e676.png)

[2020-03-10 13:55] simonemainardi opened #3536 "Manage Data - Autocompletion Dropdown Remains Open"
When typing the IP address of an host, the dropdown opens but then remains open. Clicking on a dropdown entry doesn't have any effect

![image](https://user-images.githubusercontent.com/3397663/76319174-1bb07680-62df-11ea-9fc6-d102e3273844.png)

[2020-03-10 13:57] simonemainardi opened #3537 "Manage Data - Delete Host Data Not Working"
Entering the IP address of an host doesn't enable the 'Delete Host Data Button'.

![image](https://user-images.githubusercontent.com/3397663/76319319-55817d00-62df-11ea-82d2-166b06b4999b.png)

VLAN must be optional, assumed zero if not specified.

[2020-03-10 13:58] simonemainardi opened #3538 "Manage Data - Delete Interface Data Redirects to a Broken Page"
After clicking on 'Delete Interface Data', the resulting page is broken

![image](https://user-images.githubusercontent.com/3397663/76319524-a2fdea00-62df-11ea-8fa9-7c9e8ee0befc.png)

![image](https://user-images.githubusercontent.com/3397663/76319492-95486480-62df-11ea-85bc-d99b7b031d29.png)

[2020-03-10 14:00] simonemainardi opened #3539 "Manage Data - Delete System Interface Data"
Clicking on the 'Delete System Interface Data' under the system interface actually causes the deletion of data for another non-system interface...

![image](https://user-images.githubusercontent.com/3397663/76319686-db9dc380-62df-11ea-838b-c34a345fe968.png)

[2020-03-10 16:24] emanuele-f commented on #3530
This may be a problem with the zmq flows reported by nprobe. Please upgrade to the development version of the software as we are in the process of releasing the new stable version. Please check out http://packages.ntop.org/apt .

[2020-03-10 17:57] JTCozart commented on #1272
This is an issue for me as well. The alerts are very annoying and I get about 5 a day.

[2020-03-10 18:01] emanuele-f commented on #3524
Temporary admin password login fixed in 90f3bdb474a8d02bd6768c758213088f004eca4e . Tested on ubuntu 16.

Todo: test on ubuntu 18 with the fix above

[2020-03-10 18:09] emanuele-f commented on #1272
Please open a new issue and report the output of `ntopng --version`. Please note that you can configure the thresholds from the "User Scripts" -> "Hosts" page

[2020-03-11 06:23] Claireshan opened #3540 "upgrading to enterprise version"
i have been running the community version and i recently acquired the enterprise license how do i change from community to enterprise

[2020-03-11 08:13] cardigliano commented on #3540
Installing the license and restarting the service should be enough

[2020-03-11 08:13] #3540 closed, assigned to nobody

[2020-03-11 09:00] lucaderi opened #3541 "ZMQ Encryption breaks ntopng hierarchy"
The introduction of ZMQ encryption has broken hierarchies of ntopng as depicted in https://www.ntop.org/ntopng/creating-a-hierarchical-cluster-of-ntopng-instances/

This needs to addressed

[2020-03-11 11:57] emanuele-f commented on #3524
Tested and working

[2020-03-11 11:57] #3524 closed, assigned to emanuele-f

[2020-03-11 13:50] emanuele-f commented on #3525
Tested on ubuntu 16

[2020-03-11 13:50] #3525 closed, assigned to nobody

[2020-03-11 14:13] hugleo opened #3542 "Add aditional filter fields to ASN flows view"
For ASN flows view we have only Applications field to inspect the flows.

Look at the possibility to add more fields to match the normal flows view. (Ip Version by example would be nice)

normal flows view
lua/flows_stats.lua

![normal-flows](https://user-images.githubusercontent.com/4573505/76425659-b2853d80-6388-11ea-901b-8fc3a385f899.png)

asn flows view
lua/as_details.lua?asn=12345&page=flows

[2020-03-11 14:35] emanuele-f commented on #3526
Tested on ubuntu 16.

- License validation fixed in 5a8ee7be102e079b3e1c853f33516e751ba75af9 .
- Traffic recording and PCAP download works, also as a "job"
- BPF filter in traffic extraction works (tested with host filter)

[2020-03-11 14:35] #3526 closed, assigned to nobody

[2020-03-11 15:01] gabryon99 commented on #3536
Problem fixed, the error was caused by a wrong API call to bootstrap validator. See in this commit: https://github.com/ntop/ntopng/commit/4c692e2c6e4250984992a2fd63153f459e673933

[2020-03-11 15:01] #3536 closed, assigned to gabryon99

[2020-03-11 15:02] gabryon99 commented on #3537
Fixed, now VLAN is an optional. See this commit: https://github.com/ntop/ntopng/commit/4c692e2c6e4250984992a2fd63153f459e673933

[2020-03-11 15:04] gabryon99 commented on #3538
Ok, I fixed the problem. The bug was caused to a wrong js call inside the page, see: https://github.com/ntop/ntopng/commit/4c692e2c6e4250984992a2fd63153f459e673933

[2020-03-11 15:04] #3538 closed, assigned to gabryon99

[2020-03-11 15:28] lucaderi opened #3543 "View interface syntax is cumbersome"
Current interface:
-i=tcp://192.168.2.134:5555c
-i=tcp://192.168.2.134:5556c
-i=tcp://192.168.2.134:5557c
-i=tcp://192.168.2.134:5558c
-i=tcp://192.168.2.134:5559c
-i=tcp://192.168.2.134:5560c
-i=tcp://192.168.2.134:5561c
-i=tcp://192.168.2.134:5562c

-i=view:tcp://192.168.2.134:5555c,tcp://192.168.2.134:5556c,tcp://192.168.2.134:5557c,tcp://192.168.2.134:5558c,tcp://192.168.2.134:5559c,tcp://192.

[2020-03-11 15:50] frhey opened #3544 "Network Discovery - ARP Scan arbitrary networks"
Hello.

How could I integrate additional networks?

With one network card and one IP, I only see this one network at a time.
Although other networks are accessible (ping in the console is ok).
One network card with two IPs from two different networks does not work.

If I add a second network card with an IP from a second network, I will
get data from that second network, too.
But I always have to

[2020-03-11 15:54] gabryon99 commented on #3539
Issue fixed, see the commit: https://github.com/ntop/ntopng/commit/4c692e2c6e4250984992a2fd63153f459e673933

[2020-03-11 15:54] #3539 closed, assigned to gabryon99

[2020-03-11 16:04] lucaderi commented on #3539
![Screen Shot 2020-03-11 at 16 55 25](https://user-images.githubusercontent.com/4493366/76437699-3c99ca00-63ba-11ea-9539-7dc2adeac523.png)
@gabryon99 It looks that there are aesthetic issues

[2020-03-11 16:12] cardigliano commented on #3541
ZMQ encryption is now supported in data export (https://github.com/ntop/ntopng/commit/5cbe4546f259ab9cead033b179851c0e089a168b)

[2020-03-11 16:12] #3541 closed, assigned to cardigliano

[2020-03-11 16:41] lucaderi opened #3545 "Severe flow dump drops"
When flows need to be dumped (e.g. in nIndex) that are processed by scripts/callbacks/interface/ht_state_update.lua than in case of heavy load (e.g. many hosts and flows) it has little time to handle flow dump. This results in severe drops.

This behaviour needs to be modified and decouple dump from flow processing.

[2020-03-11 16:59] emanuele-f opened #3546 "Active menu entry is not selected"
Normally active menu entries have a blue background which indicates that the entry is currently selected. Since the migration to bootstrap 4, this is broken as the all entries have a white background.  The `active` css class must be moved from the outer `<li>` element to the inner `<a>` element to fix this.

![2020-03-11_17-55](https://user-images.githubusercontent.com/5488003/76442643-25a6a800-63

[2020-03-11 18:25] emanuele-f commented on #3527
Issues fixed in fa730db28f7fa26f7b8416245b75150e038dd4fe. Also tested with companion interface.

[2020-03-11 18:25] #3527 closed, assigned to nobody

[2020-03-12 05:47] Claireshan opened #3547 "License generation"
Hello,
Am currently running the community version but i was given an order id for enterprise.
when i try generating the license i get the attached error.
Do i use the details of my existing version to generate the license?
![nto](https://user-images.githubusercontent.com/22081659/76491111-02720c00-643e-11ea-94c0-4002e62463fd.PNG)

[2020-03-12 08:35] cardigliano commented on #3547
Could you provide me your order id? Please drop an email to cardigliano at ntop.org

[2020-03-12 09:18] Claireshan commented on #3547
It has finally worked. I had already generated the license and I had to change my conf file line from --community to --enterprse

[2020-03-12 09:18] #3547 closed, assigned to nobody

[2020-03-12 09:51] simonemainardi commented on #3537
still not working for hosts with vlan

![image](https://user-images.githubusercontent.com/3397663/76508867-5c2f0200-644f-11ea-8b04-e680308e671c.png)

clicking on delete host data has no effect

![image](https://user-images.githubusercontent.com/3397663/76508904-6c46e180-644f-11ea-8c8b-6d8ed344d467.png)

[2020-03-12 09:52] simonemainardi commented on #3537
you can add `--simulate-vlans` to simulate hosts with vlans

[2020-03-12 10:11] simonemainardi opened #3548 "nEdge does not block malware DNS"
Even if the domain is blacklised, DNS still pass

![image](https://user-images.githubusercontent.com/3397663/76510514-0c056f00-6452-11ea-9ede-c71cba597694.png)

looking at the capture, seems the first packets are blocked but the third packet goes through

[code]

so it takes 15 seconds for the request to succeed but it eventually goes through

[2020-03-12 12:24] Claireshan opened #3549 "upgrading to 3.9"
Hello when i run apt-get upgrade it doesnt update to version.
how can i get to 3.9 from 3.8.

Also my interface doesnt show top local talkers it also doesnt shoow hosts on the network. is there something am supposed to configure.

Thank you

[2020-03-12 12:32] ListenNjoy commented on #3227
Have you find a solution, we have the same error with Dropped ZMQ Messages.

/ Martin

[2020-03-12 13:19] cardigliano commented on #3227
@ListenNjoy we pushed a few improvements (however we are still working on this installation). What version are you running? Could you provide your configuration and ZMQ stats?

[2020-03-12 13:38] simonemainardi commented on #3549
on which OS are you?

[2020-03-12 13:43] simonemainardi commented on #3544
Not sure to understand the question.

Please, explain how your interface is connected to the network to monitor the traffic. If you're connected to a switch, then very likely you'll only obtain broadcast traffic and traffic directed to you.

Have a look at: https://www.ntop.org/nprobe/network-monitoring-101-a-beginners-guide-to-understanding-ntop-tools/

[2020-03-12 13:52] Claireshan commented on #3549
linux 16.04

[2020-03-12 13:57] #3534 closed, assigned to simonemainardi

[2020-03-12 13:59] simonemainardi commented on #3548
Issue is due to nEdge only looking at the first few packets and then offloading the flow to the kernel with netfilter.

For the DNS, all the packets need to be inspected.

[2020-03-12 14:00] simonemainardi opened #3550 "nEdge System menu Inconsistent"
Nedge shows several inconsistencies under the system menu (e.g., the flows page). This need to be fixed.

![image](https://user-images.githubusercontent.com/3397663/76529192-39faab80-6472-11ea-86a2-e355b235bbd9.png)

[2020-03-12 14:48] emanuele-f commented on #3523
Upgrade tested on both centos 7 and ubuntu 18

[2020-03-12 14:48] #3523 closed, assigned to nobody

[2020-03-12 15:09] frhey commented on #3544
As far as I understand it, the posted link is about nprobe and Netflow.
But first of all I'm interested in the basic functions of ntop.
Especially the "warning" when a "Status Alert - New Devices Connection" occurs.
Netflow I would test + configure later (and if I have a license for it).

First I just want to know if a new device has appeared in one of the 20 networks.

Currently my ntop has 1 net

[2020-03-12 15:35] sciolto commented on #3508
Hi, we would like to have all possible fields parsed by nprobe included in the ZMQ stream, or at least make it configurable.

All fields concerning the Application Latency and TCP Packet Analysis are very relevant.

Thanks

[2020-03-12 15:44] gabryon99 commented on #3537
<img width="1688" alt="Screenshot 2020-03-12 at 16 41 08" src="https://user-images.githubusercontent.com/14114916/76538873-48e85a80-6480-11ea-9b01-4940745ae8b3.png">

Thank you for the option, that helped me. Ok, I figured out the problem, it was a conditional branch that return too soon. As you can see, now it works. See: https://github.com/ntop/ntopng/commit/b0a3610f057329ede2a7aa885dffe0dd5b196

[2020-03-12 15:44] #3537 closed, assigned to gabryon99

[2020-03-12 15:58] lucaderi opened #3551 "Unsupported protocol error"
![Screen Shot 2020-03-12 at 16 56 58](https://user-images.githubusercontent.com/4493366/76540585-9c5ba800-6482-11ea-8ee3-e5a8ba09ec9a.png)

[2020-03-12 17:17] emanuele-f commented on #3532
Some problems are now fixed:
- Deadline was computed by the script rather than using the one provided by the C
- Deadline checks were missing in multiple walks

[2020-03-12 19:00] simonemainardi commented on #3548
Fixed with:
- https://github.com/ntop/ntopng/commit/5bcd301a7d73e353abc1a9d8bc7a8dd70846b045
- https://github.com/ntop/ntopng/commit/4dcef7ac7d7da7cda55a7a9068a86c82db07bf1f

All DNS flows are now sent to userspace and nDPI is run against every packet.

[2020-03-12 19:00] #3548 closed, assigned to simonemainardi

[2020-03-12 19:08] simonemainardi commented on #3548
Now nEdge is able to keep blocking a dig with 100 retries (same flow)

[code]

[2020-03-13 09:37] Claireshan commented on #3549
Please any solution for this

[2020-03-13 10:25] ListenNjoy commented on #3227
ntopng --version
v.3.9.200312    [Enterprise/Professional build]

Works with Nprobe
nProbe v.8.7.200310 (r6784) for x86_64-unknown-linux-gnu

Even with simple config we get Dropped ZMQ Messagesex.
nprobe --zmq-probe-mode --zmq "tcp://46.101.x.y:5556" -i eth1 -n none
ntopng -i "tcp://*:5556c"

How do i get some zms stats to send to you.?

/Martin

LSCPU Ntopng
x86_64
CPU op-mode(s):        32-bit,

[2020-03-13 10:50] simonemainardi opened #3552 "nEdge [bridge mode] not enforcing Child Safe DNS and per-app policies"
In bridge mode, nedge seems to fail enforcing what is described in the title.

[2020-03-13 11:39] simonemainardi commented on #3552
issue is due to the child safe dns, without child safe DNS, everything works

[code]

[2020-03-13 13:00] simonemainardi commented on #3552
Fixed. Issuee was due to:

- bridge interface `br0` failing to have an IP address
- iptables DNAT rules not applying to all addresses

All tests now complete successfully.

[2020-03-13 13:00] #3552 closed, assigned to simonemainardi

[2020-03-13 16:17] Shmythe opened #3553 "No Hosts in Individual Interfaces When Part of View"
When interfaces are part of a "View Interface" they show no hosts on their pages.  All the host information is part of the "View".

If I remove the view then they gain host information.

ntopng Enterprise Edition v.3.9.200312

Here is my config:
[code]
![ntopng-hosts-in-view](https://user-images.githubusercontent.com/493775/76639449-61ea1d80-650b-11ea-85ae-caf98fd6c91a.jpg)
![ntopng-no-hosts-zc](h

[2020-03-13 18:07] emanuele-f commented on #2847
Implemented in 0be214cfae35cd25789b8aa9e8e720cf76372275.

![2020-03-13_19-04](https://user-images.githubusercontent.com/5488003/76647781-5c192a00-6555-11ea-85cb-0cba70f6f4b2.png)

![2020-03-13_19-06](https://user-images.githubusercontent.com/5488003/76647778-5ae7fd00-6555-11ea-85cf-e9c91af04686.png)

[2020-03-13 18:27] simonemainardi commented on #3529
Automatic testing implemented for nEdge. Both modes are tested on a virtual machine. The following tests are performed:

[code]

Code is committed in the relevant pro part.

[2020-03-13 18:27] #3529 closed, assigned to nobody

[2020-03-13 18:42] #3550 closed, assigned to simonemainardi

[2020-03-13 20:14] lucaderi opened #3554 "Invalid HTTP RTT value reported"
![Screen Shot 2020-03-13 at 21 13 14](https://user-images.githubusercontent.com/4493366/76656256-82e45a00-656f-11ea-8d83-dd31160681ad.png)

[2020-03-13 20:15] lucaderi opened #3555 "Invalid RTT alert reported"
![Screen Shot 2020-03-13 at 21 10 20](https://user-images.githubusercontent.com/4493366/76656325-9db6ce80-656f-11ea-99fe-e2a9a271673e.png)

The following issues have been reported
- ping is meaningless. as (see #3554) the label is ICMP and thus also here must be ICMP
- ping is reported for both HTTP and ICMP. Wrong
- the wheel icon does not allow to set anything as settings are not in the script b

[2020-03-13 20:19] lucaderi opened #3556 "Invalid system alerts page"
Clicking on the icon below
![Screen Shot 2020-03-13 at 21 18 00](https://user-images.githubusercontent.com/4493366/76656544-23d31500-6570-11ea-86ea-f641c86338ce.png)
this is what is returned
![Screen Shot 2020-03-13 at 21 17 49](https://user-images.githubusercontent.com/4493366/76656549-246bab80-6570-11ea-8790-0c762bb6b836.png)

Issues
- empty chart
- clicking on the dropdown menu we see 3 items t

[2020-03-13 20:20] lucaderi opened #3557 "Table row order is random"
![Screen Shot 2020-03-13 at 21 20 06](https://user-images.githubusercontent.com/4493366/76656693-76accc80-6570-11ea-903e-110d50f913bb.png)
![Screen Shot 2020-03-13 at 21 13 14](https://user-images.githubusercontent.com/4493366/76656695-77ddf980-6570-11ea-99d2-ccc57322a1d3.png)

[2020-03-13 20:22] lucaderi opened #3558 "Missing RTT alert actionable item"
RTT alerts are necessary to alert when something went wrong (e.g. service unavailable). In the current implementation there is no way to send an mail (or something else) when an alert is triggered. This needs to be implemented as otherwise RTT is mostly useless in the current implementation.

[2020-03-14 08:04] lucaderi opened #3559 "Misleading Alerts Reported"
![Screen Shot 2020-03-14 at 09 03 56](https://user-images.githubusercontent.com/4493366/76677802-c328f400-65d2-11ea-80ee-c9be012113ed.png)
![Screen Shot 2020-03-14 at 09 03 48](https://user-images.githubusercontent.com/4493366/76677803-c45a2100-65d2-11ea-97e3-7a2927819099.png)

It is not clear what RTT probe is failing (IPv4 vs IPv6)

[2020-03-14 08:06] lucaderi opened #3560 "Mixed IPv4 with IPv6 addresses in HTTP Probe"
![Screen Shot 2020-03-14 at 09 06 10](https://user-images.githubusercontent.com/4493366/76677826-126f2480-65d3-11ea-988d-1cf029916373.png)

[2020-03-14 09:13] gabryon99 opened #3561 "System Notification and Offline Mode"
For the next milestone, we thought to integrate a System Notification inside ntopng, in this way we can alert the user even when him it's not on the page or he has the browser closed. This system will be integrated thanks to the Service Worker, installable in any browser.
Thanks to SW we'll also able to show cached pages and assets if the user is upgrading ntopng or the server is unreachable. Like

[2020-03-15 08:30] bipin-stcs opened #3562 "ntopng crashes frequently"
Hi,
ntopng crashes frequently.

[code]

Attachment

1.  stack trace
[code]
2.  configuration file
[code]

Regards
Bipin

[2020-03-15 08:33] bipin-stcs commented on #3562
[code]

[2020-03-16 08:45] emanuele-f commented on #3562
Should be addressed in 944da5e10b778588d59a973229002b59033c5e64 . The new package will be available in one hour.

[2020-03-16 09:04] lucaderi opened #3563 "Invalid time on the ZMQ interface connected to nProbe Agent"
![Screen Shot 2020-03-16 at 10 02 15](https://user-images.githubusercontent.com/4493366/76740004-7168a100-676d-11ea-9b10-6bec28bf8d71.png)
![Screen Shot 2020-03-16 at 10 01 52](https://user-images.githubusercontent.com/4493366/76740007-7299ce00-676d-11ea-8025-71cc14eb1bd3.png)

As you can see the agent interface, running on the same host, is +1h

[2020-03-16 09:35] simonemainardi commented on #3532
Spending a lot of time in:

![image](https://user-images.githubusercontent.com/3397663/76742726-d9b98180-6771-11ea-8edd-59c882ba7247.png)

[2020-03-16 09:45] simonemainardi commented on #3532
seems the SNMP get is  fed with invalid data (look at the oids)

![image](https://user-images.githubusercontent.com/3397663/76743639-3bc6b680-6773-11ea-97ec-833f4380d4ec.png)

[2020-03-16 09:51] simonemainardi commented on #3532
stepping again after a few minutes, oids look the same although the script didn't return. Chances are there's a loop

![image](https://user-images.githubusercontent.com/3397663/76744074-fce53080-6773-11ea-9498-82c2d3315541.png)

[2020-03-16 10:06] simonemainardi commented on #3532
loop occurs when getting lldp ports, oid "1.0.8802.1.1.2.1.4.1.1.7"

[2020-03-16 10:13] simonemainardi commented on #3532
Issue is when getting responses with oids > 2^32-1:

Indeed, actual response `iso.0.8802.1.1.2.1.4.1.1.7.2505939219.115.1` is read by ntopng as `iso.0.8802.1.1.2.1.4.1.1.7.-1789028077.115.1`.

[2020-03-16 10:25] #3560 closed, assigned to nobody

[2020-03-16 10:25] #3554 closed, assigned to emanuele-f

[2020-03-16 10:25] emanuele-f commented on #3554
The time reported in ntopng included the redirection time, now removed

[2020-03-16 10:45] #3557 closed, assigned to emanuele-f

[2020-03-16 11:06] #3559 closed, assigned to nobody

[2020-03-16 11:06] simonemainardi commented on #3532
clearly, `-1789028077` is the `int32_t` conversion of `u_int64_t` value `2505939219`.

[2020-03-16 11:21] #3555 closed, assigned to emanuele-f

[2020-03-16 12:04] Claireshan opened #3564 "no sflows devices and local talkers"
![Capture](https://user-images.githubusercontent.com/22081659/76756752-5d399980-6797-11ea-9e49-63c9abad6feb.PNG)

[2020-03-16 14:12] #3532 closed, assigned to simonemainardi

[2020-03-16 14:34] Claireshan opened #3565 "no flows after upgrade"
I have updated and i nolonger get flows

![cap2](https://user-images.githubusercontent.com/22081659/76768611-4f424380-67ac-11ea-96dc-22b9f3001eb6.PNG)

[2020-03-16 15:36] simonemainardi commented on #3386
Closing for inactivity. Will reopen if necessary.

[2020-03-16 15:40] #3386 closed, assigned to simonemainardi

[2020-03-16 16:30] gabryon99 commented on #3546
Ok, I've applied the `active` class for `a` elements inside `li` elements

[2020-03-16 18:17] simonemainardi commented on #3528
tested both with ZMQ and packet interfaces. Working as expected. Traffic Volumes matching.

Configurations are as follow:

[code]

Used iperf to create a reproducible volume of traffic between two machines. Every machine is placed on an independent host pool (pools configuration [pools_configuration.json.zip](https://github.com/ntop/ntopng/files/4339703/pools_configuration.json.zip)). Each machine

[2020-03-16 18:18] #3528 closed, assigned to simonemainardi

[2020-03-16 18:19] simonemainardi commented on #3114
No longer occurring. Tested in #3528 for ntopng 3.9.

[2020-03-16 18:19] #3114 closed, assigned to nobody

[2020-03-17 11:25] #3556 closed, assigned to emanuele-f

[2020-03-17 11:27] emanuele-f commented on #3546
Please close this when all the dropdowns are fixed (use a `grep` on the codebase to verify this)

[2020-03-17 13:12] emanuele-f commented on #3549
Please run `apt-get update` then `apt-get upgrade`. If you still experience the issue, run `apt-cache policy ntopng` and post here the result.

[2020-03-17 13:13] emanuele-f commented on #3564
Please continue the discussion on #3565

[2020-03-17 13:13] #3564 closed, assigned to nobody

[2020-03-17 13:13] emanuele-f commented on #3565
Please report the output of `ntopng --version`, along with your ntopng and nprobe configuration.

[2020-03-17 13:14] emanuele-f commented on #3562
@bipin-stcs any news? Does the new package work properly?

[2020-03-17 13:17] emanuele-f commented on #3553
This is normal with the new view design and implementation. This choice was necessary to drastically improve the performance.

[2020-03-17 19:06] simonemainardi commented on #3563
issue is general and not only due to nprobe agent.

![image](https://user-images.githubusercontent.com/3397663/76892177-90a92080-688a-11ea-8640-f59a829f86b1.png)

cause is a wrong upsampling performed in `function normalizeSeriesPoints` that calls `ts_common.upsampleSerie` which screws with timeseries at different steps.

[2020-03-18 05:46] Claireshan commented on #3565
![nop](https://user-images.githubusercontent.com/22081659/76929331-ee725280-68f4-11ea-90d6-bf48cf9a2923.PNG)
![ntop conf](https://user-images.githubusercontent.com/22081659/76929335-f03c1600-68f4-11ea-91da-cc5d90973673.PNG)
![ntop1](https://user-images.githubusercontent.com/22081659/76929337-f0d4ac80-68f4-11ea-98ef-73687f91b173.PNG)

[2020-03-18 05:47] Claireshan commented on #3565
![nop](https://user-images.githubusercontent.com/22081659/76929380-0e097b00-68f5-11ea-934c-f7541c4a1803.PNG)
![ntop conf](https://user-images.githubusercontent.com/22081659/76929381-0f3aa800-68f5-11ea-931e-3df083b2729e.PNG)
![ntop1](https://user-images.githubusercontent.com/22081659/76929382-0fd33e80-68f5-11ea-95d6-a13a12c7732a.PNG)

[2020-03-18 05:50] Claireshan commented on #3549
![3 9](https://user-images.githubusercontent.com/22081659/76929578-94be5800-68f5-11ea-8d23-5d860002af2a.PNG)

[2020-03-18 08:32] #3563 closed, assigned to simonemainardi

[2020-03-18 09:20] simonemainardi commented on #3565
please, update to version 3.9 or wait a couple of days as we are in the process of releasing the new ntopng 4.0 (current 3.8 will become 4.0)

[2020-03-18 09:22] simonemainardi commented on #3565
in the meanwhile you can try and add option `--zmq-format=j` to nProbe

[2020-03-18 09:40] Claireshan commented on #3565
okay thank you

[2020-03-18 10:02] simonemainardi commented on #3553
@emanuele-f is right.

Otherwise you would end up in doubled memory to keep the hosts twice. In addition, hosts in the viewed interfaces could be partial as the same host can have some traffic on a viewed interface, and some other traffic on another viewed interface.

Anyway, I don't understand what's the use case for this configuration `--interface="view:eno1,tcp://127.0.0.1:5556"`. Maybe your us

[2020-03-18 10:02] #3565 closed, assigned to nobody

[2020-03-18 10:05] simonemainardi commented on #3544
OK now I see what you mean.

Currently, discovery starts from the arp scan, which is by default limited to the addresses in network of the interface https://github.com/ntop/ntopng/blob/a024e7d73fcf459375dd052d45be484be69e2701/src/NetworkDiscovery.cpp#L177

Marking this as a feature request.

[2020-03-18 10:26] simonemainardi commented on #3546
still missing from

<img width="1271" alt="image" src="https://user-images.githubusercontent.com/3397663/76951007-4025d780-690b-11ea-967a-2f938ce7ea6d.png">

please do as suggested by @emanuele-f

[2020-03-18 10:41] lucaderi commented on #3551
Fixed in latest Win build

[2020-03-18 10:56] #3535 closed, assigned to simonemainardi

[2020-03-18 11:45] simonemainardi commented on #3147
Fixed along with other timeseries.

![image](https://user-images.githubusercontent.com/3397663/76957607-5edd9b80-6916-11ea-9568-ee5726581f59.png)

[2020-03-18 11:47] #3147 closed, assigned to simonemainardi

[2020-03-18 13:08] emanuele-f commented on #3549
You need to install the `apt-ntop.deb` as explained in http://packages.ntop.org/apt .

[2020-03-18 13:45] Claireshan commented on #3549
I was able to to upgrade but there are no flows.
i dnt know if there is a problem with my configuration
nprobe and ntop are on the same machine.
find  the attached
127.0.0.1 is the loopback
we use port 5556
![gen](https://user-images.githubusercontent.com/22081659/76966987-d66ff280-6937-11ea-8d9e-77dbe510974e.PNG)

[2020-03-18 14:08] #3546 closed, assigned to simonemainardi

[2020-03-18 14:11] simonemainardi commented on #3546
I've fixed this. @gabryon99 next time please make sure to complete the work, and especially don't blindly replace strings without any kind of testing.

Look at this for example https://github.com/ntop/ntopng/commit/e2dcd862b863a46f931702b3a2f9eaa26bdaf5e5#diff-057895b54ccbf560091774cd718d0f56R163

you've just blindly moved the class ending up in breaking the HTML. A brief test would have highlight

[2020-03-18 14:11] Shmythe commented on #3553
It just used to work so that all the interfaces have hosts, even combined views, and my ntopng service is running on hardware where that was/is not an issue.  That being said, if it has changed, that is fine.  I just liked having a view where everything was put together, and I didn't see in the documentation that it worked differently then that, but I might have missed it.  Thank you for answering

[2020-03-18 14:13] cardigliano commented on #3519
Fixed.

[2020-03-18 14:13] #3519 closed, assigned to lucaderi, cardigliano

[2020-03-18 14:55] #3553 closed, assigned to nobody

[2020-03-18 14:57] simonemainardi commented on #3549
nprobe configuration is wrong. To connect nProbe to ntopng, you have to use `--zmq` option.

see: https://www.ntop.org/nprobe/network-monitoring-101-a-beginners-guide-to-understanding-ntop-tools/

For example:

[code]

[2020-03-18 14:59] simonemainardi commented on #3530
duplicate of #3549

[2020-03-18 14:59] #3530 closed, assigned to nobody

[2020-03-18 15:00] simonemainardi commented on #3507
merged with #1670. Please, continue the discussion there.

[2020-03-18 15:00] #3507 closed, assigned to nobody

[2020-03-18 15:08] simonemainardi commented on #3461
After internal discussion, we have come to the conclusion that this option won't be removed. Indeed, when enabled, this option causes all the l7-applications to be doubled because both the traffic and the number of flows are saved for each l7 application for each host. Given that only a few users actually benefit from this, it is better to be conservative and leave this option as a stand-alone.

[2020-03-18 15:08] #3461 closed, assigned to simonemainardi

[2020-03-18 15:09] simonemainardi commented on #3448
Closing for inactivity. Reopen with the requested information if necessary.

[2020-03-18 15:09] #3448 closed, assigned to nobody

[2020-03-18 15:11] simonemainardi commented on #3454
As we won't be able to accomodate this request, I'm closing for now. If you think you can lead this development, feel free to comment and we'll provide you all the necessary information and support.

[2020-03-18 15:11] #3454 closed, assigned to nobody

[2020-03-18 15:12] simonemainardi commented on #3351
Closing for inactivity. Reopen with the requested information if necessary.

[2020-03-18 15:12] #3351 closed, assigned to nobody

[2020-03-18 15:15] Claireshan commented on #3549
i have changed the config check attached. but still no flow
i have also attached results for nprobe status
![co](https://user-images.githubusercontent.com/22081659/76976080-7fbce580-6944-11ea-9020-9832d3372e06.PNG)
![np](https://user-images.githubusercontent.com/22081659/76976084-8186a900-6944-11ea-9682-5e47212eb42e.PNG)

[2020-03-18 15:17] simonemainardi commented on #3505
Device total traffic depends on the total number of ports. I would expect the total traffic of a 48-ports switch to have a total traffic which is higher than a 24-ports switch, and so on. Hence, nothing really meaningful can be said by comparing the switch total traffic against one single port.

Anyway, you can still have an overview of the switch total just by looking at the stacked chart of SNMP

[2020-03-18 15:17] #3505 closed, assigned to nobody

[2020-03-18 15:48] simonemainardi commented on #3549
read the ntopng error: "Unable to bind ZMQ endpoint". Please read the errors. Very likely you have another instance of ntopng running...

[2020-03-18 16:04] StewAlexander-com commented on #3454
Not at the moment, but perhaps in the future, I'll reach out ...

[2020-03-19 06:27] Claireshan commented on #3549
I got reed of the other instance and ntop and nprobe seem to be running well but still no flows. when i check the ports it seems like port 5556 is not attached to ip 127.0.0.1
![sta](https://user-images.githubusercontent.com/22081659/77037932-85a5db80-69c3-11ea-810d-65c87026969c.PNG)
![sta1](https://user-images.githubusercontent.com/22081659/77037938-876f9f00-69c3-11ea-9bb5-6bcf4f1a6d10.PNG)

[2020-03-19 06:29] Claireshan commented on #3549
this is my current config
![co1](https://user-images.githubusercontent.com/22081659/77038158-1381c680-69c4-11ea-88e9-8a6f7241c8b4.PNG)

[2020-03-19 09:14] simonemainardi commented on #3549
oh man if you don't read things we can do back and forth indefinitely.

you've added `--zmq-probe-mode` to nprobe with reference to the prev configuration? Why? Remove it but most importantly check the documentation.

[2020-03-19 09:23] emanuele-f opened #3566 "[RTT] Configuration reset does not clean Redis keys and RRDs"

[2020-03-19 09:25] emanuele-f opened #3567 "[RTT] Add more user friendly information"
It is requested to:
- Even if the RTT user script is disabled, the page into the menu should be present and tell the user to enable the user script to configure the RTT
- In the rtt page, add footer notes explaining the functionalities of the page

[2020-03-19 09:27] emanuele-f opened #3568 "[RTT] Properly handle configuration edit"
It is necessary to handle the edit as the user could now change the measurement name and/or the host name, invalidating the host key

[2020-03-19 09:28] emanuele-f opened #3569 "[RTT] Localize edit_rtt_host.lua errors"

[2020-03-19 09:30] emanuele-f opened #3570 "[RTT] lua errors while scanning hosts"
19/Mar/2020 10:07:01 [AlertCheckLuaEngine.cpp:167] WARNING: Script failure[/usr/share/ntopng/scripts/callbacks/system/system.lua] [/var/lib/ntopng/plugins/callbacks/system/system/rtt.lua:161: attempt to concatenate a nil value (field 'measurement')]
19/Mar/2020 10:06:01 [AlertCheckLuaEngine.cpp:167] WARNING: Script failure[/usr/share/ntopng/scripts/callbacks/system/system.lua] [/var/lib/ntopng/plu

[2020-03-19 09:35] simonemainardi opened #3571 "Windows Timeseries Preference Layout"
<img width="1253" alt="image" src="https://user-images.githubusercontent.com/3397663/77052539-42506a80-69cd-11ea-9551-dff6e325bb0b.png">

[2020-03-19 09:37] simonemainardi opened #3572 "Automatic Updates"
Automatic updates on windows should be hidden as they are not supported

<img width="1268" alt="image" src="https://user-images.githubusercontent.com/3397663/77052784-a1ae7a80-69cd-11ea-8f7d-3aa36267bbd6.png">

[2020-03-19 09:39] simonemainardi opened #3573 "Clicking on plugin View yields a validation error"
Clicking on the view yields this

<img width="1236" alt="image" src="https://user-images.githubusercontent.com/3397663/77052926-d7ebfa00-69cd-11ea-82a4-0260a4855e6a.png">

<img width="1219" alt="image" src="https://user-images.githubusercontent.com/3397663/77052958-e0443500-69cd-11ea-9b1a-5339d5114703.png">

[2020-03-19 09:40] simonemainardi opened #3574 "Flow directory hyperlink broken"
<img width="1102" alt="image" src="https://user-images.githubusercontent.com/3397663/77053054-08339880-69ce-11ea-9ffa-a08514783d1e.png">

[2020-03-19 09:48] simonemainardi opened #3575 "Add pool member '+' button always disabled"
Behavior prevents the addition of pool members

<img width="1251" alt="image" src="https://user-images.githubusercontent.com/3397663/77053756-19c97000-69cf-11ea-9153-136987737107.png">

[2020-03-19 09:54] emanuele-f opened #3576 "[RTT] Delete dialog does not show errors from server"
![2020-03-19_10-34](https://user-images.githubusercontent.com/5488003/77054307-8b9dbb80-69c7-11ea-937b-42bc01dd0ed9.png)

[2020-03-19 09:57] simonemainardi opened #3577 "if_stats page broken with ZMQ interfaces on windows"
likely there's some HTML issue

<img width="1261" alt="image" src="https://user-images.githubusercontent.com/3397663/77054651-5184e780-69d0-11ea-8472-7c7e640e781c.png">

<img width="1258" alt="image" src="https://user-images.githubusercontent.com/3397663/77054689-5ba6e600-69d0-11ea-8ba1-3e37f4a94290.png">

[2020-03-19 10:00] simonemainardi opened #3578 "Backup and Restore configurations not supported on Windows"
They should be hidden from the menu

<img width="335" alt="image" src="https://user-images.githubusercontent.com/3397663/77055210-ca843f00-69d0-11ea-8279-cab5883d62c6.png">

[2020-03-19 10:02] simonemainardi opened #3579 "User scripts need to be hidden from system interface"
Leaving user scripts settings there make it unclear to which interface are applied.

<img width="1266" alt="image" src="https://user-images.githubusercontent.com/3397663/77055352-03241880-69d1-11ea-9ed7-399d58800037.png">

[2020-03-19 10:03] simonemainardi commented on #3579
same for traffic profiles

[2020-03-19 10:14] simonemainardi commented on #3551
still getting it

<img width="1199" alt="image" src="https://user-images.githubusercontent.com/3397663/77056514-cb1dd500-69d2-11ea-9714-fb217dd7ac56.png">

[2020-03-19 11:12] #3578 closed, assigned to emanuele-f

[2020-03-19 11:19] #3572 closed, assigned to emanuele-f

[2020-03-19 11:32] #3575 closed, assigned to emanuele-f

[2020-03-19 11:43] #3573 closed, assigned to emanuele-f

[2020-03-19 11:45] #3574 closed, assigned to nobody

[2020-03-19 12:03] simonemainardi commented on #3509
Example package added in https://github.com/ntop/ntopng/commit/9d12faf6df6644abe0de8d9d0f931b334a9dbdec. Documentation added in https://github.com/ntop/ntopng/commit/f33f97f414f26d53eb13f0db775f8a3dd8324017.

[2020-03-19 12:03] #3509 closed, assigned to simonemainardi

[2020-03-19 12:42] gabryon99 commented on #3576
Fixed in https://github.com/ntop/ntopng/commit/91e3553e064ae88778bfa7a24596a57cc50f6aae.

[2020-03-19 12:42] #3576 closed, assigned to gabryon99

[2020-03-19 13:36] simonemainardi commented on #3577
page is OK, behavior only occurs on small displays.

[2020-03-19 13:36] #3577 closed, assigned to nobody

[2020-03-19 13:45] simonemainardi opened #3580 "Hide Developer menu in OEM mode"
When run in OEM mode, ntopng should hide the developer menu from the bar

[2020-03-19 13:46] simonemainardi opened #3581 "Captive portal labels not shown"
When a captive portal user logs in, it's label is no longer shown in the dashboard, `WORKGROUP` appears instead. The captive portal label should 'win' on every other label.

[2020-03-19 13:48] simonemainardi opened #3582 "nEdge dashboard no longer reachable"
nEdge used to have a dashboard showing top users, top hosts, and their quotas. This dashboard seems to be no longer reachable.

[2020-03-19 13:50] simonemainardi opened #3583 "nEdge VPN connect no longer present"
nEdge used to have an entry to allow OEM product admins to connect to it via VPN. A button was appearing on the dashboard for the VPN connection. This seems to be no longer present.

[2020-03-19 13:53] simonemainardi opened #3584 "Tooltips poorly styled"
![image](https://user-images.githubusercontent.com/3397663/77074594-56a65e80-69f1-11ea-93b3-f326074a7720.png)

[2020-03-19 13:57] simonemainardi opened #3585 "Host ICMP, DNS, TLS, and SSH menus"
These menus should be hidden in nEdge mode as most of the flow packets stay in the kernel and thus there is no full packet inspection available to completely produce the entries above.

[2020-03-19 13:59] simonemainardi opened #3586 "TCP-related pages and charts should be removed in nEdge mode"
No TCP chart (neither those for the sequence analysis nor those for the flag anaysis) should be present in nEdge as many packets stay in the kernel and this would lead to incomplete results.

Same is true for pie charts showing stats for TCP.

[2020-03-19 14:01] simonemainardi opened #3587 "ntopng name visible in OEM mode"
In OEM mode, ntopng should be replaced with the product name

![image](https://user-images.githubusercontent.com/3397663/77075348-7ab66f80-69f2-11ea-8467-e0c310bbdf6a.png)

![image](https://user-images.githubusercontent.com/3397663/77075364-843fd780-69f2-11ea-9faa-7039cefdd787.png)

[2020-03-19 14:28] simonemainardi opened #3588 "[RTT] RTT stats partially localized"
![image](https://user-images.githubusercontent.com/3397663/77077945-39c05a00-69f6-11ea-9ac3-208eb28c58fa.png)

[2020-03-19 14:29] simonemainardi opened #3589 "[RTT] Threshold column without unit of measure"
Add (ms) next to the column header

![image](https://user-images.githubusercontent.com/3397663/77078041-59f01900-69f6-11ea-8201-0266c8d99b72.png)

then change msec to ms in

![image](https://user-images.githubusercontent.com/3397663/77078084-64121780-69f6-11ea-9dc1-596662615323.png)

[2020-03-19 15:29] emanuele-f commented on #3582
The dashboard should be only visible in router mode.

[2020-03-19 15:30] emanuele-f commented on #3584
This seems like a browser rendering problem (webkit)

[2020-03-19 15:49] tano46 commented on #3582
No, it can also be usefull in bridge mode :-)

[2020-03-19 15:50] tano46 commented on #3582
at least for the users and quotas detail

[2020-03-19 16:09] gabryon99 commented on #3584
What browser are you using?

[2020-03-19 17:33] tano46 commented on #3584
I had the issue with tha last windows chrome version:
Versione 80.0.3987.149 (Build ufficiale) (a 64 bit)

[2020-03-19 18:00] emanuele-f commented on #3570
Fixed in 9f01dd4afe3c796e044fdd4726f7eb3b16db7cf9

[2020-03-19 18:00] #3570 closed, assigned to nobody

[2020-03-19 18:01] emanuele-f commented on #3568
Handled in 9f01dd4afe3c796e044fdd4726f7eb3b16db7cf9

[2020-03-19 18:01] #3568 closed, assigned to nobody

[2020-03-19 18:13] #3566 closed, assigned to emanuele-f

[2020-03-19 18:24] #3569 closed, assigned to emanuele-f

[2020-03-19 18:32] gabryon99 commented on #3589
@simonemainardi
![Screenshot 2020-03-19 at 19 30 43](https://user-images.githubusercontent.com/14114916/77101887-48b80400-6a18-11ea-80ef-ebc77e01ceff.png)
 Fixed in https://github.com/ntop/ntopng/commit/4ab5f3cc593d8cdb3dc29892739aa8bcc1460dc1